/*
@Description: ea3w-home style
@authors:     zhaoy
@update:      2014-11-28
*/

/* global */
.wrapper,.global-header { margin: 0 auto; width: 1000px; }
.content { float: left; width: 730px; }
.sidebar { float: right; width: 250px; position: relative; zoom: 1; }
.cont-side { float: left; width: 350px; }
.cont-main { float: left; _display: inline; margin: 0 0 0 20px; width: 360px; }
.home-newpro { float: left; width: 353px; }
.home-offer { float: right; width: 353px; }
.home-bot-project { float: left; width: 350px; }
.home-bot-article { float: left; _display: inline; margin-left: 20px; width: 350px; }
.home-bot-side { float: right; width: 250px; }
.home-side-offer { position: absolute; top: 20px; left: 0; background-color: #fff; z-index: 3; }

.home-border { border: 1px #e6e6e6 solid; }
.change-cont { margin: -2px 0 0; padding: 0 0 20px; }

.wrapper a,.global-header a { color: #333; text-decoration: none; }
.wrapper a:hover,.global-header a:hover { text-decoration: underline; }

/* margin */
.home-bot5 { margin-top: 5px; }
.home-bot13 { margin-top: 13px; }
.home-other { margin-top: 15px; }
.home-focus,.home-main-daily,.home-main-original,.home-20 { margin-top: 20px; }
.home-cont-figure { margin-top: 23px; }
.home-cont-bbs { margin-top: 25px; }
.home-cont-better,.home-30,.home-newpro,.home-offer,.home-import { margin-top: 30px; }
.friend-link-bar { margin-top: 45px; }
.home-side-import { margin-top: 495px; }

/* Microsoft Yahei */
.search-btn,.home-nav a,.home-category,.home-focus .focus-txt,.home-cont-switch span,.home-cont-head h2,.home-main-improt .big-red a,.home-main-pic .hd,.home-side-focus span,.home-module-head h2,.home-module-head .switch,.home-pic-news span,.home-product-recom .hd,.home-product-recom .info em,.home-product-recom .btn-mod .btn,.home-show-list .price,.home-switch li,.home-rank span,.home-main-list .hd a,.home-more { font-family: "Microsoft Yahei","\5FAE\8F6F\96C5\9ED1"; }

/* cursor */
.search-type,.search-btn,.home-focus .switch span,.home-focus .prev,.home-focus .next,.home-cont-switch span,.home-module-head .switch li,.home-show .prev,.home-show .next,.home-switch li,.home-main-list .ft-share span { cursor: pointer; user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }

/* root */
:root .home-focus .prev,:root .home-focus .next,:root .home-focus .prev:hover,:root .home-focus .next:hover,:root .home-main-pic .pic em,:root .home-video-list .layer,:root .home-pic-list span { filter: none; }

/* image path */
.search-type span,.header-recom em,.home-category .pic em,.home-focus .prev em,.home-focus .next em,.home-news-list li,.home-side-nav dt em,.home-side-nav .read-more span,.home-show .prev,.home-show .next,.home-switch span,.home-main-list .hd em,.home-main-list .ft-num,.home-main-list .ft-share span,.home-main-list .bdsharebuttonbox a,.home-fixed-back { background: url(/images/ea3w-home-icon.png) no-repeat; }

/* global-header */
.global-header { margin: 0 auto; padding: 0 0 7px; width: 1000px; }
.header-logo,.search-bar { float: left; }
.header-logo { margin: 19px 0 0; }
.header-logo h1 { display: block; width: 170px; height: 58px; text-indent: -9999em; background: url(/images/logo.png) no-repeat; }

.search-bar { _display: inline; margin: 24px 0 0 102px; width: 362px; }
.search-box { position: relative; zoom: 1; border: 1px #e0e0e0 solid; z-index: 3; }
.search-box input { border: 0 none; outline: none; }

.search-type { float: left; width: 55px; border-right: 1px #e0e0e0 solid; }
.search-type span,.search-type li { color: #a8a8a8; font-weight: 700; }
.search-type span { display: block; padding: 0 0 0 10px; line-height: 30px; background-position: 100% 0; }
.search-box .current span,.search-type:hover > span { background-position: 100% -30px; }
.search-box .current ul,.search-type:hover ul { display: block; }
.search-type ul { position: absolute; top: 30px; left: -1px; padding: 0 0 2px; width: 55px; border: 1px #e0e0e0 solid; border-top: 0 none; background-color: #fff; display: none; }
.search-type li { padding: 0 0 0 10px; line-height: 26px; }
.search-type li:hover { background-color: #f0f0f0; }
.search-txt { padding: 4px 9px; width: 218px; height: 22px; line-height: 22px; float: left; }
.search-btn { position: relative; float: right; _display: inline; margin: -1px -1px -1px 0; width: 69px; height: 32px; color: #fff; font-size: 16px; background-color: #a362ad; }
.search-btn:hover { background-color: #cc8dd6; }

.search-nav { height: 30px; overflow: hidden; position: relative; line-height: 30px; }
.search-nav a,.search-nav a:hover { color: #999; }
.search-nav a { margin: 0 7px 0 0; }

.header-recom { float: right; _display: inline; margin: 23px 18px 0 0; width: 220px; height: 71px; overflow: hidden; position: relative; }
.header-recom a { position: relative; zoom: 1; float: left; padding: 41px 0 0; width: 55px; }
.header-recom span { display: block; text-align: center; color: #666; line-height: 30px; }
.header-recom em { position: absolute; top: 0; left: 7px; width: 41px; height: 41px; }
.header-recom .ico-1 { background-position: 0 -130px; }
.header-recom .ico-2 { background-position: -45px -130px; }
.header-recom .ico-3 { background-position: -90px -130px; }
.header-recom .ico-4 { background-position: -135px -130px; }
.header-recom a:hover { text-decoration: none; }
.header-recom a:hover em {
	-webkit-animation: icon-bounce 0.5s alternate;
	-moz-animation: icon-bounce 0.5s alternate;
	-ms-animation: icon-bounce 0.5s alternate;
	animation: icon-bounce 0.5s alternate;
}
@keyframes icon-bounce {
	0%, 100% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	25% {
		-moz-transform: rotate(10deg);
		-ms-transform: rotate(10deg);
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	50% {
		-moz-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	75% {
		-moz-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	85% {
		-moz-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
}
@-webkit-keyframes icon-bounce {
	0%, 100% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	25% {
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	50% {
		-moz-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	75% {
		-moz-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	85% {
		-moz-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
}
@-moz-keyframes icon-bounce {
	0%, 100% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	25% {
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	50% {
		-moz-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	75% {
		-moz-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	85% {
		-moz-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
}
@-o-keyframes icon-bounce {
	0%, 100% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	25% {
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	50% {
		-moz-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	75% {
		-moz-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
	85% {
		-moz-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
		-moz-transform-origin : 50% 0;
		-ms-transform-origin : 50% 0;
		-webkit-transform-origin : 50% 0;
		transform-origin : 50% 0;
	}
}

/* home-nav */
.home-nav { padding: 0 0 0 8px; background-color: #9b59a5; }
.home-nav a { float: left; padding: 0 12px; color: #fff; font-size: 14px; line-height: 40px; text-decoration: none; }
.home-nav a:hover { color: #fff; text-decoration: none; background-color: #894394; }

/* home-category */
.home-category { margin: 0 -15px 0 -2px; padding: 19px 0 0; position: relative; zoom: 1; }
.home-category .item { float: left; _display: inline; margin: 0 0 0 2px; width: 214px; }
.home-category .small { width: 147px; }
.home-category .small .list { width: 67px; }

.home-category .pic,.home-category .list { float: left; }
.home-category .pic { position: relative; zoom: 1; padding: 46px 0 0; width: 70px; }
.home-category .pic span { display: block; text-align: center; color: #84448e; font-size: 14px; line-height: 26px; }
.home-category .pic em { position: absolute; transition: all 0.3s; }
.home-category .pic:hover { text-decoration: none; }
.home-category .pic .ico-1 { top: 12px; left: 13px; width: 41px; height: 31px; background-position: 0 -175px; }
.home-category .pic .ico-2 { top: 6px; left: 21px; width: 29px; height: 38px; background-position: -45px -175px; }
.home-category .pic .ico-3 { top: 8px; left: 11px; width: 45px; height: 35px; background-position: -75px -175px; }
.home-category .pic .ico-4 { top: 8px; left: 10px; width: 44px; height: 36px; background-position: -120px -175px; }
.home-category .pic .ico-5 { top: 7px; left: 17px; width: 35px; height: 36px; background-position: -165px -175px; }
.home-category .pic:hover em {
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}

.home-category .list { padding: 0 0 0 10px; width: 134px; height: 72px; overflow: hidden; position: relative; }
.home-category .list a { float: left; padding: 0 3px 0 0; width: 64px; font-size: 14px; line-height: 24px; }
.home-category .list a:hover { color: #9b59a5; }

/* home-other */
.home-other { position: relative; height: 32px; overflow: hidden; border-top: 1px #e3d2e5 solid; background-color: #f8f8f8; text-align: center; line-height: 32px; }
.home-other a { display: inline-block; margin: 0 20px; color: #666; }

/* ad-div */
.ad-div img { display: block; }

.ad-first div { margin: 10px 0 0; }
.ad-second { margin: 24px 0 0; }
.ad-third { margin: 20px 0 0; }
.ad-cont { float: left; width: 730px; }
.ad-side { float: right; width: 250px; }

/* home-focus */
.home-focus,.home-focus .item { position: relative; zoom: 1; relative; width: 350px; height: 263px; overflow: hidden; }
.home-focus { z-index: 1; }
.home-focus img { display: block; }

.home-focus .switch { position: absolute; bottom: 10px; left: 0; width: 100%; height: 4px; text-align: center; z-index: 3; }
.home-focus .switch span { display: inline-block; margin: 0 3px; width: 20px; height: 4px; font: 0/0 Arial; background-color: #ccc; vertical-align: top; }
.home-focus .switch .current { background-color: #a362ad; }

.home-focus .prev,.home-focus .next { position: absolute; top: 99px; width: 36px; height: 55px; background-color: rgba(0,0,0,0.3); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4d000000,endcolorstr=#4d000000,gradientType=1); z-index: 3; display: none; }
.home-focus .prev:hover,.home-focus .next:hover { background-color: rgba(0,0,0,0.6); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000,endcolorstr=#99000000,gradientType=1); }
.home-focus .prev { left: 0; }
.home-focus .next { right: 0; }
.home-focus .prev em,.home-focus .next em { display: block; height: 55px; }
.home-focus .prev em { background-position: 0 -215px; }
.home-focus .next em { background-position: -40px -215px; }
.home-focus:hover .prev,.home-focus:hover .next { display: block; }

.home-focus .inner { z-index: 2; }
.home-focus .item { float: left; }
.home-focus .focus-txt { position: absolute; bottom: 0; left: 0; padding: 42px 0 18px; width: 100%; height: 30px; text-align: center; color: #fff; font-size: 18px; line-height: 30px; background: url(/images/home-focus.png) no-repeat 0 100%; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/home-focus.png'); -webkit-transition: padding 0.6s; -moz-transition: padding 0.6s; -ms-transition: padding 0.6s; transition: padding 0.6s; }
.home-focus:hover .focus-txt { padding: 37px 0 23px; }

/* home-cont-switch */
.home-cont-switch { border-top: 1px #e3d0e6 solid; }
.home-cont-switch span { float: left; margin: 0 14px 0 0; padding: 0 6px; color: #333; font-size: 16px; line-height: 36px; font-weight: 700; }
.home-cont-switch .current { position: relative; margin-top: -1px; line-height: 34px; border-top: 2px #a362ad solid; }

/* home-cont-focus */
.home-cont-focus { position: relative; zoom: 1; float: left; margin: 11px 0 0; width: 140px; height: 105px; overflow: hidden; position: relative; }
.home-cont-focus img { display: block; }
.home-cont-focus span { position: absolute; bottom: 0; left: 0; padding: 0 5px; width: 130px; height: 24px; overflow: hidden; text-align: center; color: #fff; line-height: 24px; background: rgba(0,0,0,0.4); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000,endcolorstr=#99000000,gradientType=1); }

/* home-news-list */
.home-news-list li { padding: 0 0 0 8px; height: 26px; overflow: hidden; position: relative; zoom: 1; font-size: 14px; line-height: 26px; background-position: -195px -130px; }

.home-cont-news { float: right; margin: 12px 0 0; width: 200px; }
.home-main-daily .home-news-list { margin: 10px 0 0; padding: 9px 0 0 10px; border-top: 1px #e6e6e6 solid; }
.home-side-import .home-news-list { padding: 12px 0 10px; }
.home-newpro .home-news-list,.home-offer .home-news-list { padding: 20px 15px; }
.home-import .home-news-list { padding: 8px 0; }

.home-bot-news li { padding: 0 0 0 58px; background-position: -190px -130px; }
.home-bot-news .class { position: absolute; top: 0; left: 16px; color: #999; }
.home-bot-news em { position: absolute; top: 0; left: 50px; color: #ccc; }
.home-side-news li { background-position: -190px -130px; }

/* home-cont-head */
.home-cont-head { padding: 0 10px 0 5px; border-top: 1px #e3d0e6 solid; }
.home-cont-head h2 { float: left; color: #333; font-size: 16px; line-height: 36px; }
.home-cont-head .time { float: right; color: #999; line-height: 36px; }
.home-cont-head .link { float: right; margin: 2px 0 0; color: #c4c4c4; line-height: 22px; }
.home-cont-head .link a { display: inline-block; margin: 0 4px 0 6px; }

.home-main-daily .home-cont-head { border-top: 2px #a362ad solid; }
.home-main-daily .home-cont-head h2 { color: #a362ad; font-size: 18px; }
.home-side-mod .home-cont-head { padding: 0 0 0 6px; border: 0 none; }
.home-side-mod .home-cont-head h2 { line-height: 24px; }

/* home-main-improt */
.home-main-improt .big-red { margin: 6px 0 0; height: 30px; overflow: hidden; position: relative; text-align: center; line-height: 30px; }
.home-main-improt .big-red a { font-size: 20px; font-weight: 700; }
.home-main-improt .big-red a:hover { color: #9b59a5; text-decoration: none; }
.home-main-improt p { padding: 9px 0 0 10px; color: #999; line-height: 20px; }

/* home-main-pic */
.home-main-pic { margin: -9px 0 0; position: relative; }
.home-main-pic li { margin: 19px 0 0; padding: 0 0 0 90px; height: 60px; overflow: hidden; position: relative; zoom: 1; }
.home-main-pic .pic { position: absolute; top: 0; left: 0; }
.home-main-pic img { display: block; }
.home-main-pic .pic em { position: absolute; top: 0; left: 0; width: 30px; height: 18px; text-align: center; color: #fff; line-height: 18px; }
.home-main-pic .pic .ico-purple { background: rgba(155,89,165,0.8); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#cc9b59a5,endcolorstr=#cc9b59a5,gradientType=1); }
.home-main-pic .pic .ico-brown { background: rgba(106,51,21,0.8); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#cc6a3315,endcolorstr=#cc6a3315,gradientType=1); }
.home-main-pic .pic .ico-red { background: rgba(242,62,62,0.8); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ccf23e3e,endcolorstr=#ccf23e3e,gradientType=1); }
.home-main-pic .pic .ico-green { background: rgba(22,174,103,0.8); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#cc16ae67,endcolorstr=#cc16ae67,gradientType=1); }
.home-main-pic .pic .ico-blue { background: rgba(66,169,246,0.8); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#cc42a9f6,endcolorstr=#cc42a9f6,gradientType=1) }

.home-main-pic .hd { margin: 6px 0 0; height: 24px; overflow: hidden; position: relative; font-size: 16px; line-height: 24px; font-weight: 700; }
.home-main-pic p { margin: 5px 0 0; height: 18px; overflow: hidden; position: relative; color: #999; line-height: 18px; }

.change-cont .home-main-pic { float: left; margin: 0; width: 770px; }
.change-cont .home-main-pic li { float: left; _display: inline; margin: 20px 0 0 20px; width: 275px; }

/* home-side-mod */
.home-side-mod { padding: 9px 9px 0 9px; border: 1px #e6e6e6 solid; }

/* home-side-nav */
.home-side-nav { margin: 4px 0 0; }
.home-side-nav .nav-box { overflow: hidden; position: relative; }
.home-side-nav dl { padding: 9px 0; border-top: 1px #ebebeb solid; }
.home-side-nav .first { border: 0 none; }
.home-side-nav dt { position: relative; zoom: 1; padding: 0 0 0 44px; color: #a362ad; font-size: 14px; line-height: 28px; }
.home-side-nav dt em { position: absolute; transition: all 0.3s; }
.home-side-nav .brand { top: 6px; left: 10px; width: 22px; height: 17px; background-position: 0 -270px; }
.home-side-nav .kitchen { top: 3px; left: 9px; width: 23px; height: 21px; background-position: -25px -270px; }
.home-side-nav .cleaner { top: 1px; left: 7px; width: 28px; height: 23px; background-position: -50px -270px; }
.home-side-nav .health { top: 4px; left: 11px; width: 22px; height: 24px; background-position: -80px -270px; }
.home-side-nav .toilet { top: 2px; left: 11px; width: 22px; height: 23px; background-position: -105px -270px; }
.home-side-nav .homeht { top: 1px; left: 14px; width: 19px; height: 25px; background-position: -130px -270px; }
.home-side-nav .digital { top: 1px; left: 16px; width: 14px; height: 24px; background-position: -150px -270px; }
.home-side-nav dd { margin: 5px 0 0; line-height: 24px; }
.home-side-nav dd a { display: inline-block; margin: 0 6px; }
.home-side-nav dl:hover em {
	-webkit-transform: translateX(-3px);
	-moz-transform: translateX(-3px);
	-ms-transform: translateX(-3px);
	transform: translateX(-3px);
}

.home-side-nav .read-more { display: block; border-top: 1px #ebebeb solid; text-align: center; }
.home-side-nav .read-more span { display: inline-block; padding: 0 19px 0 0; color: #333; line-height: 34px; }
.home-side-nav .read-more .after { background-position: 100% -95px; }
.home-side-nav .read-more .before { background-position: 100% -60px; }
.home-side-nav .read-more:hover span { color: #9b59a5; }

/* home-side-focus */
.home-side-focus { display: block; margin: 10px -9px 0; width: 248px; height: 158px; overflow: hidden; position: relative; zoom: 1; }
.home-side-focus img { display: block; }
.home-side-focus span { position: absolute; bottom: 0; left: 0; padding: 37px 0 0; width: 100%; height: 28px; text-align: center; color: #fff; font-size: 14px; line-height: 28px; background: url(/images/home-side-focus.png) no-repeat 0 100%; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/home-side-focus.png'); -webkit-transition: padding 0.6s; -moz-transition: padding 0.6s; -ms-transition: padding 0.6s; transition: padding 0.6s; }
.home-side-focus:hover span { padding: 31px 0 6px; }

.home-import .home-side-focus { margin: 9px -9px 0; }

/* home-module-head */
.home-module-head { padding: 0 20px 0 15px; border-bottom: 1px #e6e6e6 solid; }
.home-module-head h2 { float: left; color: #9b59a5; font: 20px; line-height: 40px; }
.home-module-head .more { float: right; line-height: 40px; }
.home-module-head .more:hover { color: #9b59a5; }
.home-module-head .link { float: right; color: #a362ad; font-weight: 700; line-height: 40px; font-family: "Simsun"; }

.home-module-head .switch,.home-module-head .switch li { float: left; _display: inline; }
.home-module-head .switch { margin: 0 0 0 16px; }
.home-module-head .switch li { margin: 0 0 0 9px; }
.home-module-head .switch span { display: inline-block; padding: 0 14px; color: #666; font-size: 14px; line-height: 40px; font-weight: 700; }
.home-module-head .switch .current { position: relative; margin: -1px 0 -1px 9px; border-top: 2px #a362ad solid; }
.home-module-head .switch .current span { padding: 0 13px 2px; border-left: 1px #e6e6e6 solid; border-right: 1px #e6e6e6 solid; color: #333; line-height: 38px; background-color: #fff; }

.home-bottom-head { padding: 0; border-top: 1px #e3d0e6 solid; border-bottom: 0 none; }
.home-bottom-head .switch,.home-bottom-head .switch li { margin: 0; }
.home-bottom-head .switch span { font-size: 16px; line-height: 36px; }
.home-bottom-head .switch .current { margin: -1px 0; }
.home-bottom-head .switch .current span { padding: 0 13px; line-height: 34px; border: 0 none; }

/* home-pic-news */
.home-pic-news { float: right; _display: inline; margin: 20px 20px 0 0; width: 192px; }
.home-pic-news img,.home-pic-news span { display: block; }
.home-pic-news span { margin: 4px; height: 34px; overflow: hidden; position: relative; text-align: center; font-size: 16px; line-height: 34px; }

/* home-product-recom */
.home-product-recom { position: relative; zoom: 1; margin: 16px 0 0; padding: 0 0 0 148px; }
.home-product-recom .pic { position: absolute; top: 3px; left: 15px; }
.home-product-recom .pic img { display: block; }
.home-product-recom .hd { height: 24px; overflow: hidden; position: relative; font-size: 16px; line-height: 24px; }
.home-product-recom .info { margin: 4px 0 0; height: 30px; overflow: hidden; color: #999; line-height: 32px; vertical-align: top; }
.home-product-recom .info em { display: inline-block; color: #c00; font-size: 20px; line-height: 30px; }
.home-product-recom .btn-mod { margin: 5px 0 0; }
.home-product-recom .btn-mod .btn { display: inline-block; width: 85px; height: 30px; text-align: center; color: #fff; font-size: 14px; line-height: 30px; background-color: #d41f00; -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -ms-transition: background-color 0.3s; transition: background-color 0.3s; }
.home-product-recom .btn-mod .btn:hover { background-color: #f84526; text-decoration: none; }

/* home-video-list */
.home-video-list { margin: 0 0 0 -4px; padding: 18px 0 4px; position: relative; }
.home-video-list li { float: left; _display: inline; margin: 0 0 0 34px; width: 160px; }
.home-video-list a,.home-video-list img,.home-video-list .txt { display: block; }
.home-video-list a { position: relative; zoom: 1; }
.home-video-list .txt { height: 32px; overflow: hidden; position: relative; text-align: center; line-height: 32px; }
.home-video-list .layer { position: absolute; top: 0; left: 0; width: 100%; height: 120px; background: url(/images/home-video-list.png) no-repeat 50% 50%; background-color: rgba(0,0,0,0.15); _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/home-video-list.png'); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#26000000,endcolorstr=#26000000,gradientType=1); -webkit-transition: background 0.6s; -moz-transition: background 0.6s; -ms-transition: background 0.6s; transition: background 0.6s; }
.home-video-list a:hover .layer { background: url(/images/home-video-list-hover.png) no-repeat 50% 50% rgba(0,0,0,0); }

/* home-pic-list */
.home-pic-list { padding: 5px 30px 20px 20px; }
.home-pic-list li { float: left; _display: inline; margin: 15px 0 0 10px; width: 120px; height: 90px; overflow: hidden; position: relative; zoom: 1; }
.home-pic-list .first { width: 287px; height: 195px; }
.home-pic-list a,.home-pic-list img,.home-pic-list span { display: block; }
.home-pic-list span { position: absolute; bottom: 0; left: 0; width: 100%; height: 24px; text-align: center; color: #fff; line-height: 24px; background: rgba(0,0,0,0.4); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000,endcolorstr=#99000000,gradientType=1); -webkit-transition: padding 0.4s; -moz-transition: padding 0.4s; -ms-transition: padding 0.4s; transition: padding 0.4s; }
.home-pic-list .first span { height: 36px; font-size: 16px; line-height: 36px; font-weight: 700; -webkit-transition: padding 0.4s; -moz-transition: padding 0.4s; -ms-transition: padding 0.4s; transition: padding 0.4s; }
.home-pic-list a:hover span { padding: 0 0 4px; }
.home-pic-list .first:hover span { padding: 0 0 8px; }

/* home-show */
.home-show { position: relative; zoom: 1; padding: 40px 55px 15px; }
.home-show .prev,.home-show .next { position: absolute; top: 91px; width: 36px; height: 55px; }
.home-show .prev:hover,.home-show .next:hover { background-color: #ccc; }
.home-show .prev { left: 10px; background-position: -80px -215px; }
.home-show .next { right: 10px; background-position: -120px -215px; }
.home-show .prev:hover { background-position: 0 -215px; }
.home-show .next:hover { background-position: -40px -215px; }
.home-show .box,.home-show-list { width: 888px; height: 203px; overflow: hidden; position: relative; }

.home-show-list,.home-show-list li { float: left; }
.home-show-list { width: 904px; }
.home-show-list li { margin: 0 26px 0 0; width: 200px; }
.home-show-list a,.home-show-list img,.home-show-list span { display: block; }
.home-show-list span { margin: 11px 0 0; height: 20px; overflow: hidden; position: relative; text-align: center; line-height: 20px; }
.home-show-list .price { margin: 0; text-align: center; color: #c00; font-size: 14px; line-height: 22px; }
.home-show-list a:hover,.home-show-list a:hover .price { text-decoration: none; }
.home-show-list a:hover span { color: #a362ad; text-decoration: underline; }
.home-show-list a:hover .price { color: #c00; }

.home-show-better { padding: 1px 21px 0; height: 26px; background-color: #f7f7f7; line-height: 26px; }
.home-show-better span,.home-show-better .rolling-box,.home-show-better .home-news-list li,.home-show-better .home-links,.home-show-better .home-links a { float: left; }
.home-show-better span { color: #9b59a5; }
.home-show-better .rolling-box { padding: 0 0 0 6px; width: 882px; height: 26px; overflow: hidden; position: relative; }
.home-show-better .home-news-list li { padding: 0 6px; width: 114px; font-size: 12px; background-position: -195px -315px; }
.home-show-better .home-news-list a:hover { color: #a362ad; }
.home-show-better .home-links { padding: 0 0 0 10px; }
.home-show-better .home-links a { margin: 0 25px 0 0; color: #666; }
.home-show-better .home-links a:hover { color: #a362ad; }

/* home-switch */
.home-switch { position: relative; margin: 0 -2px 0 -1px; width: 250px; border-bottom: 1px #e6e6e6 solid; }
.home-switch li { position: relative; float: left; _display: inline; margin: 0 0 0 -1px; }
.home-switch span { display: block; width: 84px; text-align: center; color: #333; font-size: 14px; line-height: 38px; font-weight: 700; background-position: -195px -345px; }
.home-switch .current { position: relative; margin: -1px 0 -1px -1px; border-top: 2px #a362ad solid; }
.home-switch .current span { padding: 0 0 2px; border-left: 1px #e6e6e6 solid; border-right: 1px #e6e6e6 solid; width: 82px; color: #a362ad; line-height: 36px; background: #fff; }
.home-switch .first { margin-left: 0; *margin-left: -1px; }
.home-switch .first span { background-image: none; }

/* home-rank */
.home-rank { padding: 8px 15px 10px; height: 458px; }
.home-rank li { padding: 4px 0; }
.home-rank .hd { position: relative; zoom: 1; padding: 0 48px 0 28px; height: 28px; overflow: hidden; line-height: 28px; }
.home-rank em { position: absolute; top: 5px; left: 0; width: 18px; height: 18px; text-align: center; color: #333; line-height: 18px; background-color: #eee; }
.home-rank .n1 em { color: #fff; background-color: #a362ad; }
.home-rank span { position: absolute; top: 0; right: 0; width: 48px; text-align: right; color: #c00; }
.home-rank .pic { padding: 0 0 8px 28px; height: 90px; display: none; }
.home-rank .pic a { display: inline-block; }
.home-rank .pic img { display: block; }
.home-rank .current .pic { display: block; }

/* home-main-list */
.home-main-list { padding: 0 14px; }
.home-main-list li { padding: 4px 0 16px; border-top: 1px #ccc dotted; }
.home-main-list .first { padding-top: 2px; border: 0 none; }

.home-main-list .hd { height: 48px; overflow: hidden; position: relative; font-size: 20px; line-height: 48px; }
.home-main-list .hd em { float: left; margin: 14px 4px 0 0; width: 22px; height: 20px; }
.home-main-list .hd .hot { background-position: 0 -295px; }
.home-main-list .hd .video { background-position: -25px -295px; }
.home-main-list .hd .pic { background-position: -50px -295px; }
.home-main-list .hd a { font-weight: 700; }

.home-main-list p { color: #666; font-size: 14px; line-height: 22px; }
.home-main-list .ft,.home-main-list .ft-from a { color: #999; }
.home-main-list .ft { padding: 3px 0 0; line-height: 22px; }
.home-main-list .ft-time,.home-main-list .ft-from { float: left; }
.home-main-list .ft-from { padding: 0 0 0 6px; }
.home-main-list .ft-from a:hover { color: #a362ad; text-decoration: none; }
.home-main-list .ft-btns { float: right; width: 79px; height: 22px; }
.home-main-list .ft-num,.home-main-list .ft-txt,.home-main-list .ft-share { position: relative; float: left; margin: 0 5px; line-height: 22px; }
.home-main-list .ft-num { padding: 0 0 0 21px; color: #999; background-position: -180px -215px; vertical-align: top; }
.home-main-list .ft-num:hover { text-decoration: none; background-position: -180px -240px; }
.home-main-list .ft-txt { color: #e2e2e2; }
.home-main-list .ft-share,.home-main-list .ft-share span { width: 11px; height: 22px; }
.home-main-list .ft-share { position: relative; zoom: 1; }
.home-main-list .ft-share span { display: inline-block; background-position: -185px -265px; }
.home-main-list .ft-share:hover span,.home-main-list .current span { background-position: -185px -290px; }

.home-main-list .pic-box p { padding: 11px 0 0; height: 107px; }
.home-main-list .pic-box .ft { padding: 10px 0 0; }
.home-main-list .pic { position: relative; zoom: 1; float: left; margin: 0 15px 0 0; width: 200px; height: 150px; }
.home-main-list .pic img { display: block; }
.home-main-list .pic .layer { position: absolute; top: 0; left: 0; width: 100%; height: 150px; background: url(/images/home-video-list.png) no-repeat 50% 50% rgba(0,0,0,0.15); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#26000000,endcolorstr=#26000000,gradientType=1); -webkit-transition: background 0.6s; -moz-transition: background 0.6s; -ms-transition: background 0.6s; transition: background 0.6s; }
.home-main-list .pic:hover .layer { background: url(/images/home-video-list-hover.png) no-repeat 50% 50% rgba(0,0,0,0); }

.home-main-list .pic-list { position: relative; margin: 0 0 0 -20px; padding: 0 0 5px; }
.home-main-list .pic-list a { float: left; _display: inline; margin: 0 0 0 20px; width: 160px; height: 120px; }
.home-main-list .pic-list img { display: block; }

.home-main-list .bdsharebuttonbox { position: absolute; top: 22px; right: -4px; padding: 5px 5px 5px 0; width: 145px; border: 1px #ccc solid; background-color: #fff; display: none; }
.home-main-list .bdsharebuttonbox a { float: left; _display: inline; margin: 0 0 0 5px; padding: 0; width: 24px; height: 24px; }
.home-main-list .bdsharebuttonbox .bds_tsina { background-position: 0 -315px; }
.home-main-list .bdsharebuttonbox .bds_qzone { background-position: -25px -315px; }
.home-main-list .bdsharebuttonbox .bds_tqq { background-position: -50px -315px; }
.home-main-list .bdsharebuttonbox .bds_renren { background-position: -75px -315px; }
.home-main-list .bdsharebuttonbox .bds_weixin { background-position: -100px -315px; }
.home-main-list .current .bdsharebuttonbox { display: block; }

/* home-more */
.home-more { display: block; text-align: center; color: #666; font-size: 14px; line-height: 38px; background-color: #e6e6e6; }
.home-more:hover { color: #fff; text-decoration: none !important; background-color: #a362ad; }

/* home-brand-list */
.home-brand-list { padding: 8px 0 20px; }
.home-brand-list a { float: left; _display: inline; margin: 14px 0 0 9px; padding: 2px 5px 0; width: 120px; border: 1px #fff solid; }
.home-brand-list img,.home-brand-list span { display: block; }
.home-brand-list span { margin: 3px 0 0; height: 26px; overflow: hidden; position: relative; text-align: center; line-height: 26px; vertical-align: top; }
.home-brand-list span em { display: inline-block; padding: 0 0 0 7px; color: #999; }
.home-brand-list a:hover { border-color: #e6e6e6; text-decoration: none; }

/* home-fixed */
.home-fixed { position: fixed; bottom: 20px; left: 50%; margin: 0 0 0 520px; _background-image: url(about:blank); _background-attachment: fixed; _position: absolute; _right: auto; _left: expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0)); }
.home-fixed a,.home-fixed a:hover { text-decoration: none; }
.home-fixed-nav { padding: 0 0 8px; width: 64px; background-color: #f7f7f7; }
.home-fixed-nav .hd,.home-fixed-nav a { display: block; text-align: center; line-height: 28px; }
.home-fixed-nav .hd { color: #fff; background-color: #9b59a5; }
.home-fixed-nav a { color: #666; }
.home-fixed-nav a:hover { color: #fff; background-color: #cc8dd6; }

.home-fixed-back,.home-fixed-link { display: block; width: 64px; background-color: #9b59a5; }
.home-fixed-back:hover,.home-fixed-link:hover { background-color: #cc8dd6; }
.home-fixed-back { height: 42px; background-position: 0 -340px; }
.home-fixed-back:hover { background-position: -65px -340px; }
.home-fixed-link { margin: 1px 0 0; padding: 1px 0 0; text-align: center; line-height: 28px; }
.home-fixed .home-fixed-link { color: #fff; }

.home-fixed-code { margin: 10px 0 0; width: 91px; }
.home-fixed-code img,.home-fixed-code .close { display: block; }
.home-fixed-code .close { margin: -1px 0 0; padding: 0 5px; border: 1px #e6e6e6 solid; text-align: right; color: #333; line-height: 20px; }

/* friend-link 
.friend-link-bar { border-top: 1px #d6d6d6 solid; }

.friend-link dl,.cbsi_link dl { margin: 10px 0 0; padding: 12px 0 12px 87px; position: relative; zoom: 1; background-color: #f7f7f7; }
.friend-link dt ,.cbsi_link dt { position: absolute; top: 50%; left: 20px; margin: -12px 0 0; width: 67px; color: #9b59a5; line-height: 24px; font-weight: 700; }
.cbsi_link dt a { color:#9b59a5; }
.friend-link dd ,.cbsi_link dd { padding: 6px 0 6px 15px; border-left: 1px #e9e9e9 solid; line-height: 24px; }
.friend-link dd div ,.cbsi_link dd div { position: relative; margin: -12px 0; }
.friend-link dd a ,.cbsi_link dd a { margin: 0 19px 0 0; white-space: nowrap; display: inline-block; }

*/
/* home-fixed */
.home-fixed { position: fixed; bottom: 20px; left: 50%; margin: 0 0 0 520px; _background-image: url(about:blank); _background-attachment: fixed; _position: absolute; _right: auto; _left: expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0)); }
.home-fixed a,.home-fixed a:hover { text-decoration: none; }
.home-fixed-nav { padding: 0 0 8px; width: 64px; background-color: #f7f7f7; }
.home-fixed-nav .hd,.home-fixed-nav a { display: block; text-align: center; line-height: 28px; }
.home-fixed-nav .hd { color: #fff; background-color: #9b59a5; }
.home-fixed-nav a { color: #666; }
.home-fixed-nav a:hover,.home-fixed-nav .current { color: #fff; background-color: #cc8dd6; }

.home-fixed-back,.home-fixed-link { display: block; width: 64px; background-color: #9b59a5; }
.home-fixed-back:hover,.home-fixed-link:hover { background-color: #cc8dd6; }
.home-fixed-back { height: 42px; background-position: 0 -340px; }
.home-fixed-back:hover { background-position: -65px -340px; }
.home-fixed-link { margin: 1px 0 0; padding: 1px 0 0; text-align: center; color: #fff; line-height: 28px; }

.home-fixed-code { margin: 10px 0 0; width: 91px; }
.home-fixed-code img,.home-fixed-code .close { display: block; }
.home-fixed-code .close { margin: -1px 0 0; padding: 0 5px; border: 1px #e6e6e6 solid; text-align: right; color: #333; line-height: 20px; }