/* old stuff and overrides */
.action_button { background:#ff6a33 url('http://graphics.streamray.com/images/cams/actionbuttonbg.png') repeat-x; padding:6px 18px; border-width:1px; border-color: yellow #ff6a33 #ff6a33 yellow; border-style:solid; font-size:14px; font-weight:bold; color:#FFFFFF !important; text-decoration:none !important; }
.french #recorded_shows #page_left .action_button { font-size:10px; }
.ie6 .action_button { height:30px; padding:5px 18px !important; }
input[type="submit"] { background-color:#f0f0f0; color:#3c3c3c; border:1px solid #dbdbdb; }
input[type="submit"]:hover { background-color:#c8c8c8; color:#3a3a3a; border:1px solid #c8c8c8; }

/* sizes */
.btn { cursor:pointer; background-image:none; font-weight:bold; display:inline-block; box-sizing:border-box; -webkit-appearance:none; border:0; border-radius:0; -webkit-transition:background .1s ease-in; -moz-transition:background .1s ease-in; -o-transition:background .1s ease-in; transition:background .1s ease-in;}
.btn:hover { text-decoration:none; }
.btn.std { /* height:32px; */ padding:0 18px; line-height:32px; font-size:14px; }
.btn.lg { /* height:42px; */ padding:0 24px; line-height:42px; font-size:18px; }
.btn.sm { /* height:26px; */ padding:0 12px; line-height:26px; font-size:12px; }
.btn.tny { /* height:20px; */ padding:0 10px; line-height:20px; font-size:11px; }

/* colors */

.btn.def { background-color:#f0f0f0; color:#3c3c3c; border:1px solid #dbdbdb; }
.btn.def:hover { background-color:#c8c8c8; color:#3a3a3a; border:1px solid #c8c8c8; }
.btn.def[disabled], .btn.def.disabled { background-color:#f8f8f8; color:#9d9d9d; border:1px solid #f0f0f0; cursor:default; }

.btn.inf { background-color:#444; color:#ececec; border:1px solid #444; }
.btn.inf:hover { background-color:#000; color:#e9e9e9; border:1px solid #000; }
.btn.inf[disabled], .btn.inf.disabled { background-color:#a2a2a2; color:#f6f6f6; border:1px solid #a2a2a2; cursor:default; }

.btn.b01 { color:#fff; background: #0280d7;
  background: -moz-linear-gradient(top,  #0280d7 0%, #0280d7 90%, #006cb7 91%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0280d7), color-stop(90%,#0280d7), color-stop(91%,#006cb7)); 
  background: -webkit-linear-gradient(top,  #0280d7 0%,#0280d7 90%,#006cb7 91%); 
  background: -o-linear-gradient(top,  #0280d7 0%,#0280d7 90%,#006cb7 91%); 
  background: -ms-linear-gradient(top,  #0280d7 0%,#0280d7 90%,#006cb7 91%); 
  background: linear-gradient(to bottom,  #0280d7 0%,#0280d7 90%,#006cb7 91%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0280d7', endColorstr='#006cb7',GradientType=0 ); 
}
.btn.b01:hover { color:#fff; 
  background: #006bb4; 
  background: -moz-linear-gradient(top,  #006bb4 0%, #006bb4 90%, #065e9d 91%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006bb4), color-stop(90%,#006bb4), color-stop(91%,#065e9d));
  background: -webkit-linear-gradient(top,  #006bb4 0%,#006bb4 90%,#065e9d 91%); 
  background: -o-linear-gradient(top,  #006bb4 0%,#006bb4 90%,#065e9d 91%); 
  background: -ms-linear-gradient(top,  #006bb4 0%,#006bb4 90%,#065e9d 91%); 
  background: linear-gradient(to bottom,  #006bb4 0%,#006bb4 90%,#065e9d 91%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006bb4', endColorstr='#065e9d',GradientType=0 ); 
}
.btn.b01[disabled], .btn.b01.disabled { color:#fcfbfd; cursor:default; 
  background: #94caee; 
  background: -moz-linear-gradient(top,  #94caee 0%, #94caee 90%, #6eadd8 91%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94caee), color-stop(90%,#94caee), color-stop(91%,#6eadd8)); 
  background: -webkit-linear-gradient(top,  #94caee 0%,#94caee 90%,#6eadd8 91%); 
  background: -o-linear-gradient(top,  #94caee 0%,#94caee 90%,#6eadd8 91%); 
  background: -ms-linear-gradient(top,  #94caee 0%,#94caee 90%,#6eadd8 91%); 
  background: linear-gradient(to bottom,  #94caee 0%,#94caee 90%,#6eadd8 91%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94caee', endColorstr='#6eadd8',GradientType=0 ); 
}

.btn.b02 { color:#fff; 
  background: #8dc63f; /* Old browsers */
  background: -moz-linear-gradient(top,  #8dc63f 0%, #8dc63f 90%, #6cb706 91%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8dc63f), color-stop(90%,#8dc63f), color-stop(91%,#6cb706)); 
  background: -webkit-linear-gradient(top,  #8dc63f 0%,#8dc63f 90%,#6cb706 91%); 
  background: -o-linear-gradient(top,  #8dc63f 0%,#8dc63f 90%,#6cb706 91%); 
  background: -ms-linear-gradient(top,  #8dc63f 0%,#8dc63f 90%,#6cb706 91%); 
  background: linear-gradient(to bottom,  #8dc63f 0%,#8dc63f 90%,#6cb706 91%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dc63f', endColorstr='#6cb706',GradientType=0 ); 
}
.btn.b02:hover { color:#fff;  
  background: #6cb705;
  background: -moz-linear-gradient(top,  #6cb705 0%, #6cb705 90%, #63a40a 91%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6cb705), color-stop(90%,#6cb705), color-stop(91%,#63a40a));
  background: -webkit-linear-gradient(top,  #6cb705 0%,#6cb705 90%,#63a40a 91%);
  background: -o-linear-gradient(top,  #6cb705 0%,#6cb705 90%,#63a40a 91%);
  background: -ms-linear-gradient(top,  #6cb705 0%,#6cb705 90%,#63a40a 91%);
  background: linear-gradient(to bottom,  #6cb705 0%,#6cb705 90%,#63a40a 91%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cb705', endColorstr='#63a40a',GradientType=0 );
}
.btn.b02[disabled], .btn.b02.disabled { color:#fbfdfd; cursor:default; 
  background: #cfe6ae;
  background: -moz-linear-gradient(top,  #cfe6ae 0%, #cfe6ae 90%, #b0d77a 91%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe6ae), color-stop(90%,#cfe6ae), color-stop(91%,#b0d77a));
  background: -webkit-linear-gradient(top,  #cfe6ae 0%,#cfe6ae 90%,#b0d77a 91%);
  background: -o-linear-gradient(top,  #cfe6ae 0%,#cfe6ae 90%,#b0d77a 91%);
  background: -ms-linear-gradient(top,  #cfe6ae 0%,#cfe6ae 90%,#b0d77a 91%);
  background: linear-gradient(to bottom,  #cfe6ae 0%,#cfe6ae 90%,#b0d77a 91%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe6ae', endColorstr='#b0d77a',GradientType=0 );
}

.btn.b03 { color:#fff; 
  background: #ff8d27;
  background: -moz-linear-gradient(top,  #ff8d27 0%, #ff8d27 90%, #f77704 91%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8d27), color-stop(90%,#ff8d27), color-stop(91%,#f77704));
  background: -webkit-linear-gradient(top,  #ff8d27 0%,#ff8d27 90%,#f77704 91%);
  background: -o-linear-gradient(top,  #ff8d27 0%,#ff8d27 90%,#f77704 91%);
  background: -ms-linear-gradient(top,  #ff8d27 0%,#ff8d27 90%,#f77704 91%);
  background: linear-gradient(to bottom,  #ff8d27 0%,#ff8d27 90%,#f77704 91%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8d27', endColorstr='#f77704',GradientType=0 );
}
.btn.b03:hover { color:#fff;  
  background: #ea8503;
  background: -moz-linear-gradient(top,  #ea8503 0%, #ea8503 90%, #d46706 91%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea8503), color-stop(90%,#ea8503), color-stop(91%,#d46706));
  background: -webkit-linear-gradient(top,  #ea8503 0%,#ea8503 90%,#d46706 91%);
  background: -o-linear-gradient(top,  #ea8503 0%,#ea8503 90%,#d46706 91%);
  background: -ms-linear-gradient(top,  #ea8503 0%,#ea8503 90%,#d46706 91%);
  background: linear-gradient(to bottom,  #ea8503 0%,#ea8503 90%,#d46706 91%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea8503', endColorstr='#d46706',GradientType=0 );
}
.btn.b03[disabled], .btn.b03.disabled { color:#fff9f5; cursor:default; 
  background: #ffd0a4;
  background: -moz-linear-gradient(top,  #ffd0a4 0%, #ffd0a4 90%, #fbb675 91%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd0a4), color-stop(90%,#ffd0a4), color-stop(91%,#fbb675));
  background: -webkit-linear-gradient(top,  #ffd0a4 0%,#ffd0a4 90%,#fbb675 91%);
  background: -o-linear-gradient(top,  #ffd0a4 0%,#ffd0a4 90%,#fbb675 91%);
  background: -ms-linear-gradient(top,  #ffd0a4 0%,#ffd0a4 90%,#fbb675 91%);
  background: linear-gradient(to bottom,  #ffd0a4 0%,#ffd0a4 90%,#fbb675 91%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd0a4', endColorstr='#fbb675',GradientType=0 );
}

.btn.b04 { color:#d7d7d7; 
  background: #ffffff;
  border: 2px solid #d7d7d7;
}
.btn.b04.std{ line-height:29px; }
.pillbox { display:inline-block; font-size:10px; border-radius:8px; height:16px; min-width:8px; text-align:center; line-height:16px; padding:0 4px; position:relative; }
.pillbox.grey { background-color:#a6a6a6; color:white; }
.pillbox.green { background-color:#99c44e; color:white; }
.pillbox.dblue { background-color:#094975; color:white; }
.pillbox.lg { font-size:12px; }
