  /* CSS RESET */
html, body, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, caption { margin:0; padding:0; border:0; outline:0; background:transparent; }

ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }


:focus { outline:0; }  /* remember to define focus styles! */
ins   { text-decoration:none; } /* remember to highlight inserts somehow! */
del   { text-decoration:line-through; }
table { border-collapse:collapse; border-spacing:0; }  /* tables still need 'cellspacing="0"' in the markup */
th,td { margin:0; padding:0;}

/* END CSS RESET */
  

.fix    { overflow:hidden; }
.center { text-align:center; margin-left:auto; margin-right:auto; }
.clear  { clear:both; }
.clearl { clear:left; }
.clearr { clear:right; }
.left   { float:left; }
.right  { float:right; }
.error, .red { color:red; }
.admin  { font:bold 10px Arial !important; color:red !important; }
.clb { overflow:hidden; clear:both; }


.tac { text-align:center; }
.tal { text-align:left; }
.tar { text-align:right; }
.vam { vertical-align:middle; }
.vat { vertical-align:top; }
.vab { vertical-align:bottom; }


.cvar { color:#000000; }
.cd { color:#FFFFFF; }
.gtitle { color:#0099FF; }
.cb  { color:#000000; }
.cw  { color:#FFFFFF; }
.tdn { text-decoration:none; }
.tdu { text-decoration:underline; }
.ttc { text-transform:capitalize; }
.ttl { text-transform:lowercase; }
.ttu { text-transform:uppercase; }
.wsn { white-space:nowrap; }


.fs09em { font-size:.9em; }
.fs10em { font-size:1.0em; }
.fs11em { font-size:1.1em; }
.fs8px  { font-size:8px; }
.fs9px  { font-size:9px;}
.fs150p { font-size:150%; }
.fs10px { font-size:10px; }
.fs11px { font-size:11px; }
.fs12px { font-size:12px; }
.fs13px { font-size:13px; }
.fs14px { font-size:14px; }
.fs16px { font-size:16px; }
.fs18px { font-size:18px; }
.fs30px { font-size:30px; }
.fs20px { font-size:20px; }
.fs22px { font-size:22px; }
.fsi    { font-style:italic; }
.fwb    { font-weight:bold; }
.fwn    { font-weight:normal; }
.fcd    { color:#000000; }
.fcdk   { color:#0280D7; }
.fcdkt  { color:#FFFFFF; }


.left5  { left:-5px; }
.left10 { left:-10px; }
.left15 { left:-15px; }
.left20 { left:-20px; }
.left25 { left:-25px; }
.left30 { left:-30px; }
.left35 { left:-35px; }
.left40 { left:-40px; }
.right5 { right:-5px; }
.right10 { right:-10px; }
.right15 { right:-15px; }
.right20 { right:-20px; }
.right25 { right:-25px; }
.right30 { right:-30px; }
.right35 { right:-35px; }
.right40 { right:-40px; }


.mp0 { margin:0; padding:0; }
.m0a { margin:0px auto; }
.m1  { margin:1px; }
.m2  { margin:2px; }
.m3  { margin:3px; }
.m4  { margin:4px; }
.m5  { margin:5px; }
.m8  { margin:8px; }
.m10 { margin:10px; }
.m0_1  { margin:0 1px; }
.m0_10 { margin:0 10px;} 
.m0_5  { margin:0 5px; }
.m0_10p{ margin:0 10%; }
.m0_15p{ margin:0 15%; }
.m1_0  { margin:1px 0;}
.m10_0 { margin:10px 0; }
.mt0 { margin-top:0; }
.mt1 { margin-top:1px; }
.mt2 { margin-top:2px; }
.mt3 { margin-top:3px; }
.mt4 { margin-top:4px; }
.mt5 { margin-top:5px; }
.mt6 { margin-top:6px; }
.mt7 { margin-top:7px; }
.mt8 { margin-top:8px; }
.mt9 { margin-top:9px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt25 { margin-top:25px; }
.mt30 { margin-top:30px; }
.mt35 { margin-top:35px; }
.mt40 { margin-top:40px; }
.mt45 { margin-top:45px; }
.mt50 { margin-top:50px; }
.mr1 { margin-right:1px; }
.mr2 { margin-right:2px; }
.mr3 { margin-right:3px; }
.mr4 { margin-right:4px; }
.mr5 { margin-right:5px; }
.mr6 { margin-right:6px; }
.mr7 { margin-right:7px; }
.mr8 { margin-right:8px; }
.mr9 { margin-right:9px; }
.mr10 { margin-right:10px; }
.mr15 { margin-right:15px; }
.mr20 { margin-right:20px; }
.mr25 { margin-right:25px; }
.mr30 { margin-right:30px; }
.mr35 { margin-right:35px; }
.mr40 { margin-right:40px; }
.mr45 { margin-right:45px; }
.mr50 { margin-right:50px; }
.mb0 { margin-bottom:0; }
.mb1 { margin-bottom:1px; }
.mb2 { margin-bottom:2px; }
.mb3 { margin-bottom:3px; }
.mb4 { margin-bottom:4px; }
.mb5 { margin-bottom:5px; }
.mb6 { margin-bottom:6px; }
.mb7 { margin-bottom:7px; }
.mb8 { margin-bottom:8px; }
.mb9 { margin-bottom:9px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb25 { margin-bottom:25px; }
.mb30 { margin-bottom:30px; }
.mb35 { margin-bottom:35px; }
.mb40 { margin-bottom:40px; }
.mb45 { margin-bottom:45px; }
.mb50 { margin-bottom:50px; }
.mb100 { margin-bottom:100px; }
.ml1 { margin-left:1px; }
.ml2 { margin-left:2px; }
.ml3 { margin-left:3px; }
.ml4 { margin-left:4px; }
.ml5 { margin-left:5px; }
.ml6 { margin-left:6px; }
.ml7 { margin-left:7px; }
.ml8 { margin-left:8px; }
.ml9 { margin-left:9px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }
.ml23 { margin-left:23px; }
.ml24 { margin-left:24px; }
.ml25 { margin-left:25px; }
.ml30 { margin-left:30px; }
.ml33 { margin-left:33px; }
.ml35 { margin-left:35px; }
.ml40 { margin-left:40px; }
.ml45 { margin-left:45px; }
.ml50 { margin-left:50px; }
.ml100 { margin-left:100px; }
.ml110 { margin-left:110px; }


.p0  { padding:0px; }
.p1  { padding:1px; }
.p2  { padding:2px; }
.p3  { padding:3px; }
.p4  { padding:4px; }
.p5  { padding:5px; }
.p10 { padding:10px; }
.p15 { padding:15px; }
.p0_1  { padding:0 1px; }
.p0_5  { padding:0 5px; }
.p0_10 { padding:0 10px; }
.p2_0  { padding:2px 0; }
.p5_0  { padding:5px 0; }
.p10_0 { padding:10px 0; }
.pt0  { padding-top:0; }
.pt1  { padding-top:1px; }
.pt2  { padding-top:2px; }
.pt3  { padding-top:3px; }
.pt4  { padding-top:4px; }
.pt5  { padding-top:5px; }
.pt6  { padding-top:6px; }
.pt7  { padding-top:7px; }
.pt8  { padding-top:8px; }
.pt9  { padding-top:9px; }
.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt35 { padding-top:35px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pr1  { padding-right:1px; }
.pr2  { padding-right:2px; }
.pr3  { padding-right:3px; }
.pr4  { padding-right:4px; }
.pr5  { padding-right:5px; }
.pr6  { padding-right:6px; }
.pr7  { padding-right:7px; }
.pr8  { padding-right:8px; }
.pr9  { padding-right:9px; }
.pr10 { padding-right:10px; }
.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr25 { padding-right:25px; }
.pr30 { padding-right:30px; }
.pr35 { padding-right:35px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pb0  { padding-bottom:0; }
.pb1  { padding-bottom:1px; }
.pb2  { padding-bottom:2px; }
.pb3  { padding-bottom:3px; }
.pb4  { padding-bottom:4px; }
.pb5  { padding-bottom:5px; }
.pb6  { padding-bottom:6px; }
.pb7  { padding-bottom:7px; }
.pb8  { padding-bottom:8px; }
.pb9  { padding-bottom:9px; }
.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb25 { padding-bottom:25px; }
.pb30 { padding-bottom:30px; }
.pb35 { padding-bottom:35px; }
.pb40 { padding-bottom:40px; }
.pb45 { padding-bottom:45px; }
.pb50 { padding-bottom:50px; }
.pl1  { padding-left:1px; }
.pl2  { padding-left:2px; }
.pl3  { padding-left:3px; }
.pl4  { padding-left:4px; }
.pl5  { padding-left:5px; }
.pl6  { padding-left:6px; }
.pl7  { padding-left:7px; }
.pl8  { padding-left:8px; }
.pl9  { padding-left:9px; }
.pl10 { padding-left:10px; }
.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl25 { padding-left:25px; }
.pl30 { padding-left:30px; }
.pl35 { padding-left:35px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }


.bcw { background-color:#FFFFFF; }
.bcb { background-color:#000000; }
.bch { background-color:#FFFD9F; }    
.bcm { background-color:#FFFFFF; }
.bcl { background-color:#BBC0DD; }
.bcd { background-color:#0280D7; }


.b1b { border:1px solid #CCCCCC; }
.b1d { border:1px solid #0280D7; }  /* DARK COLOR */
.b1o { border:1px solid #CCCCCC; }  /* OUTLINE */
.b1s { border:1px solid #FFFFFF; }
.b1r { border:1px solid #FF0000; }
.bn  { border:none; }
.hr  { border-top:1px solid #CCCCCC; }
.hr2 { border-bottom:1px solid #CCCCCC;}


.ofh { overflow:hidden; }
.ofa { overflow:auto; }
.ofv { overflow:visible; }

 
.ha   { height:auto; }
.h1   { height:1px; }
.h100 { height:100%; }
.wa   { width:auto; }
.w5   { width:5px; }
.w100 { width:100%; }
.w99  { width:99%; }
.w97  { width:97%; }
.w90  { width:90%; }
.w80  { width:80%; }
.w79  { width:79%; }
.w75  { width:75%; }
.w70  { width:70%; }
.w65  { width:64%; }
.w60  { width:60%; }
.w55  { width:55%; }
.w50  { width:50%; }
.w49  { width:49%; }
.w48  { width:48%; }
.w45  { width:45%; }
.w40  { width:40%; }
.w35  { width:35%; }
.w30  { width:30%; }
.w25  { width:25%; }
.w24  { width:24%; }
.w23  { width:23%; }
.w22  { width:22%; }
.w20  { width:20%; }
.w15  { width:15%; }
.w10  { width:10%; }
.w200px { width:200px; }


.dispi { display:inline; }
.dispib { display:inline-block; }
.dispn { display:none; }
.dispb { display:block; }


.posr { position:relative; }
.posa { position:absolute; }
.posf { position:fixed; }


.bot1 { bottom:1px; }
.bot2 { bottom:2px; }
.bot3 { bottom:3px; }
.vh { visibility:hidden; }
.vv { visibility:visible; }
.lh10px { line-height:10px; }
.lh15px { line-height:15px; }
.lh16px { line-height:16px; }
.lh20px { line-height:20px; }
.lh20px20fx { line-height:20px; font-size: 20px; }
.lsn { list-style:none; }
.z1 { z-index:1; }
.pointer {cursor:pointer; }


  
  a { color:#08375b; text-decoration:none; }
  a:hover { text-decoration:underline; }
  #page_title { font-size:20px; color:black; margin:0 10px 20px 9px; }
  .cell  { width:22.5%; margin:0 1% 10px 0; padding:0; float:left; }
  #member_account h4, #member_account p  { font-size:12px; margin:0; padding:0; }
  #message_center .arrow_link a  { color:#000; font-size:10px; font-weight:bold; margin-left:2px; text-decoration:none; }
  #message_center .highlight  { background:#FFFD9F; }
  .message_center .arrow_link a  { color:#000; font-size:10px; font-weight:bold; margin-left:2px; text-decoration:none; }
  .message_center .highlight  { background:#FFFD9F; }
  #schedule .table_subheader { display:none; }
  #schedule .table_alt_body { border-bottom:none !important }
  .bg_error { background-color:#fffda0; color:black; }
  #lightbox { display:none; position:fixed; _position:absolute; top:0%; left:0%; width:100%; height:100%; _height:200%; background-color:#000000; z-index:100; -moz-opacity:0.6; opacity:.60; filter:alpha(opacity=60); text-align:center; }
  #alert_box, #confirm_box, #offer_box { position:fixed; _position:absolute; top:30%; width:100%; text-align:center; z-index:200; }
  #alert_box #alert_content, #confirm_box #confirm_content, #offer_box #offer_content { padding:12px 20px; font-size:14px; }
  .alert_box_inner, .confirm_box_inner, .offer_box_inner { width:500px; height:auto; text-align:center; border:5px solid #CCCCCC; background-color:#FFFFFF; color:#000000; box-shadow:0 8px 8px -6px black; z-index:200; margin:0 auto;  }
  .cbutton { padding:4px 0; margin:10px auto 12px auto; width:40%;font-size:18px;line-height:28px;color:black; font-weight:bold; text-shadow:1px 1px #FCAF21; border:1px solid #FCAF21; background: #ffac24 !important; background: -moz-linear-gradient(top, #ffac24 0%, #ff9626 50%, #ff7128 100%) !important; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffac24), color-stop(50%,#ff9626), color-stop(100%,#ff7128)) !important; background: -webkit-linear-gradient(top, #ffac24 0%,#ff9626 50%,#ff7128 100%) !important; background: -o-linear-gradient(top, #ffac24 0%,#ff9626 50%,#ff7128 100%) !important; background: -ms-linear-gradient(top, #ffac24 0%,#ff9626 50%,#ff7128 100%) !important; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac24', endColorstr='#ff7128',GradientType=0 ) !important; background: linear-gradient(top, #ffac24 0%,#ff9626 50%,#ff7128 100%) !important; }
  .fade_error { color:#e00; font-weight:bold; text-shadow:1px 1px #fff; background: #fdfc88; background: -moz-linear-gradient(top, #fdfc88 0%, #f2e901 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfc88), color-stop(100%,#f2e901)); background: -webkit-linear-gradient(top, #fdfc88 0%,#f2e901 100%); background: -o-linear-gradient(top, #fdfc88 0%,#f2e901 100%); background: -ms-linear-gradient(top, #fdfc88 0%,#f2e901 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfc88', endColorstr='#f2e901',GradientType=0 ); background: linear-gradient(top, #fdfc88 0%,#f2e901 100%); }
  .fade_orange { background: #ffac24; background: -moz-linear-gradient(top, #ffac24 0%, #ff9626 50%, #ff7128 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffac24), color-stop(50%,#ff9626), color-stop(100%,#ff7128)); background: -webkit-linear-gradient(top, #ffac24 0%,#ff9626 50%,#ff7128 100%); background: -o-linear-gradient(top, #ffac24 0%,#ff9626 50%,#ff7128 100%); background: -ms-linear-gradient(top, #ffac24 0%,#ff9626 50%,#ff7128 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac24', endColorstr='#ff7128',GradientType=0 ); background: linear-gradient(top, #ffac24 0%,#ff9626 50%,#ff7128 100%); }
  .fade_gray{ background: #e1e1e1; background: -moz-linear-gradient(top, #e1e1e1 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top, #e1e1e1 0%,#ffffff 100%); background: -o-linear-gradient(top, #e1e1e1 0%,#ffffff 100%); background: -ms-linear-gradient(top, #e1e1e1 0%,#ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#ffffff',GradientType=0 ); background: linear-gradient(top, #e1e1e1 0%,#ffffff 100%); }
  .fade_gray_rev{ background: #ffffff; background: -moz-linear-gradient(top, #ffffff 0%, #e1e1e1 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e1e1e1)); background: -webkit-linear-gradient(top, #ffffff 0%,#e1e1e1 100%); background: -o-linear-gradient(top, #ffffff 0%,#e1e1e1 100%); background: -ms-linear-gradient(top, #ffffff 0%,#e1e1e1 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 ); background: linear-gradient(top, #ffffff 0%,#e1e1e1 100%); }
  .fade_dgray { background: #bcbcbc; background: -moz-linear-gradient(top, #bcbcbc 0%, #8d8d8d 50%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbc), color-stop(50%,#8d8d8d)); background: -webkit-linear-gradient(top, #bcbcbc 0%,#8d8d8d 50%);background: -o-linear-gradient(top, #bcbcbc 0%,#8d8d8d 50%); background: -ms-linear-gradient(top, #bcbcbc 0%,#8d8d8d 50%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#8d8d8d',GradientType=0 ); background: linear-gradient(top, #bcbcbc 0%,#8d8d8d 50%); }
  .fade_blue { background: #5cb5f2; background: -moz-linear-gradient(top, #5cb5f2 35%, #0194eb 98%); background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#5cb5f2), color-stop(98%,#0194eb)); background: -webkit-linear-gradient(top, #5cb5f2 35%,#0194eb 98%); background: -o-linear-gradient(top, #5cb5f2 35%,#0194eb 98%); background: -ms-linear-gradient(top, #5cb5f2 35%,#0194eb 98%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cb5f2', endColorstr='#0194eb',GradientType=0 ); background: linear-gradient(top, #5cb5f2 35%,#0194eb 98%); }
  .fade_blue_reverse { background: #0194eb; background: -moz-linear-gradient(top, #0194eb 2%, #5cb5f2 65%); background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#0194eb), color-stop(65%,#5cb5f2)); background: -webkit-linear-gradient(top, #0194eb 2%,#5cb5f2 65%); background: -o-linear-gradient(top, #0194eb 2%,#5cb5f2 65%); background: -ms-linear-gradient(top, #0194eb 2%,#5cb5f2 65%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0194eb', endColorstr='#5cb5f2',GradientType=0 ); background: linear-gradient(top, #0194eb 2%,#5cb5f2 65%); }
  .fade_green { background: #85b839; background: -moz-linear-gradient(top, #85b839 0%, #2c5f0d 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#85b839), color-stop(100%,#2c5f0d)); background: -webkit-linear-gradient(top, #85b839 0%,#2c5f0d 100%); background: -o-linear-gradient(top, #85b839 0%,#2c5f0d 100%); background: -ms-linear-gradient(top, #85b839 0%,#2c5f0d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85b839', endColorstr='#2c5f0d',GradientType=0 ); background: linear-gradient(top, #85b839 0%,#2c5f0d 100%); }
  .fade_red { background: #D20602; background: -moz-linear-gradient(top, #FD5554 0%, #D20602 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FD5554), color-stop(100%,#D20602)); background: -webkit-linear-gradient(top, #FD5554 0%,#D20602 100%); background: -o-linear-gradient(top, #FD5554 0%,#D20602 100%); background: -ms-linear-gradient(top, #FD5554 0%,#D20602 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FD5554', endColorstr='#D20602',GradientType=0 ); background: linear-gradient(top, #FD5554 0%,#D20602 100%); }
  .fade_lgray { background: #bebebe; background: -moz-linear-gradient(top, #bebebe 0%, #dddddd 8%, #fefefe 18%, #fefefe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bebebe), color-stop(8%,#dddddd), color-stop(18%,#fefefe), color-stop(100%,#fefefe)); background: -webkit-linear-gradient(top, #bebebe 0%,#dddddd 8%,#fefefe 18%,#fefefe 100%); background: -o-linear-gradient(top, #bebebe 0%,#dddddd 8%,#fefefe 18%,#fefefe 100%); background: -ms-linear-gradient(top, #bebebe 0%,#dddddd 8%,#fefefe 18%,#fefefe 100%); background: linear-gradient(top, #bebebe 0%,#dddddd 8%,#fefefe 18%,#fefefe 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebebe', endColorstr='#fefefe',GradientType=0 ); }

  
  [ type = "checkbox" ]  { margin:0 2px 0 0; padding:0; }
  [ type = "text" ], [ type = "password" ]  { font-family:arial,helvetica; color:#666666; background:#FFFFFF; border:1px solid #959595; width:140px; }
  [ type = "button" ], [ type = "submit" ]  { font-family:arial,helvetica; background:#ddd url('http://graphics.cams.com/images/common/sprite/JoinCamsForFree.gif') 0 0 repeat-x; border:1px solid #959595; cursor:pointer; font-weight:bold; width:auto; }
  .orange { border:1px solid #CC6731; background:#FEA233 url('http://graphics.cams.com/images/common/JoinCamsForFree.gif') 0 -30px; color:#FFFFFF; }
  
  
  .wrapper { padding-right:10px; padding-left:10px; }
.wrapper_container_960 { width:960px; margin:0px auto; }
#container #page { margin-right:auto; margin-left:auto; width:1000px; background-color:#FFFFFF; }
#page .wrapper { padding:4px 0; overflow:hidden; }
#page .wrapper p { margin:0px; padding:0px; }
#page_titles { padding:4px 10px 13px; }
#page_titles #page_heading { color:#0099FF; font-size:28px; font-weight:bold; padding:0px; margin:0px; }
#page_titles #page_sub_heading { font-size:16px; font-weight:bold; color:#333333; }
#page_left, #page_main, #page_right { float:left; margin:0 10px; overflow:hidden; }
.grid12 #page_left, .grid12 #page_right, .grid39 #page_right, .grid93 #page_left, .grid48 #page_right, .grid84 #page_left, .grid57 #page_right, .grid75 #page_left, .grid66 #page_right { display:none; }
.grid12 #page_main { width:980px; }
.grid39 #page_left, .grid93 #page_right { width:220px; }
.grid39 #page_main, .grid93 #page_main { width:700px; }
.grid48 #page_left, .grid84 #page_right { width:300px; }
.grid48 #page_main, .grid84 #page_main { width:620px; }
.grid57 #page_left, .grid75 #page_right { width:380px; }
.grid57 #page_main, .grid75 #page_main { width:540px; }
.grid66 #page_left, .grid66 #page_main { width:460px; }
.grid363 #page_left, .grid363 #page_right { width:220px; }
.grid363 #page_main { width:460px; }
.grid444 #page_left, .grid444 #page_main, .grid444 #page_right { width:300px; }
#page .wrapper #page_left #topdvider, #page .wrapper #page_main #topdvider { border:none 0; border-top:1px solid #BFCCD1; margin-top:0px; margin-bottom:10px; height:1px; }
#grid_overlay { background:url(12_col.png) repeat-y center top; position:absolute; left:auto; height:1468px; top:0px; width:100%; z-index:1; }

/* IE 6 FIX*/
#page_left, #page_main, #page_right { display:inline; }
.clearfloat { clear:both; height:0; font-size:1px; line-height:0px; }
  
/* CONTAINERS */
.container1 h2, .container1 .content1, .container2 h3, .container2 .content2, .container3 h4, .container3 .content3, .highlight, .section { margin:0; }
.container1, .container2, .container3, .highlight { margin-bottom:10px; }
.section { margin-bottom:6px; }
.container1 h2 { font-size:14px; font-weight:bold; padding-top:6px; }
.container1 .hr { border-top:1px solid #ccc; display:block; overflow:hidden; height:1px; font-size:1px; margin-top:6px; }
.container1 .content1 { ; font-size:12px; padding:6px 0; }
.container2 h3 {  font-size:14px; padding-top:6px; }
.container2 .hr { border-top:1px solid #ccc; display:block; overflow:hidden; height:1px; font-size:1px; margin-top:6px; }
.container2 .content2 {  font-size:12px; padding:6px 0; }
.container3 .content3 {  font-size:12px; padding:6px; }
.highlight { color:black; background-color:#FFFD9F; font-size:12px; padding:6px; border:1px solid #ccc; }
.section h2 {  padding:6px 0; }
.section .hr { border-top:1px solid #ccc; display:block; overflow:hidden; height:1px; font-size:1px; margin-top:6px; }
.section .content1 {  padding:6px 0; }
  html{ overflow-y:scroll; }

#viewport { width:100%; text-align:center; }
.full_width { width:960px; min-height: 60px; }
#contentport .full_width { min-height:6px; }

#header { text-align:center; margin:0 auto; position:relative; z-index:60; height:auto !important; min-height:60px !important; width:100%; background:#363636;}
#header .wrapper { padding:0 10px; color:#FFFFFF; width:940px; }
#header .wrapper a { color:#FFFFFF; }
#header #logo_container{ text-align:left; padding-bottom:3px; }
#header #logo_container a.logolink { display:block; position:relative; top:-2px; }
#header #logo_container a.logolink:hover { text-decoration:none; }
#header #logo_container .logo_subtext { display:inline; position:relative; top:4px; left:-289px; font-size:10px; font-weight:400; overflow:hidden; color:#4BA0E1; }
#header #logo_container img { max-width:450px; }
#header #logo_container .left { height:auto; }
#header .logo { width:358px; height:59px; position:relative; }
#header .logo .logo_bg { background:transparent url('http://graphics.streamray.com/images/cams/logo/cams_long_w_german.png') no-repeat; }
#header .logo .logo1 { height:59px; width:165px; display:block; position:absolute; background-position:0 0; }
#header .logo .logo2 { height:24px; width:135px; display:block; position:absolute !important; top:18px !important; left:190px; background-position:-172px -14px }
#header .logo .logo3 { height:20px; width:135px; display:block; position:absolute !important; top:45px !important; left:190px; background-position:-172px -44px; }
#logo_container_biglogo { text-align:left; }
#logo_container_biglogo img { width:auto !important; }
#header a.logo { display:block; width:400px; height:50px; border:0px; top:38px; left:0px; position:absolute; text-align:left; }
#header .logo img { border:0px; }
#header .logo span { display:block; position:absolute; left:240px; top:48px; color:#666666; font-size:11px; font-weight:bold; }
#header .topt { width:100%; height:22px;  position:absolute; top:0; right:10px; }
#header .topr { width:800px; height:22px; position:absolute; top:2px; right:10px; }
#header .topr span, #header .topt span { color:#FFFFFF; }
#header .topr .langbox, #header .topt .langbox { position:absolute; right:0px; top:0px; z-index:99999; }
#header .topr .infobox, #header .topt .infobox { position:absolute; right:100px; top:3px; z-index:100000;}
#header .topr .infobox .google_plus1 { float:left; position:relative; left:7px; top:0px; }
#header #frs_num { color:black; }
#hdr_admirer { position: relative; display: inline-block; width: 20px; top: -3px;}
#hdr_admirer .icon { line-height: 20px; position: absolute; top: 0; left: 0; z-index: 100001;}
#hdr_admirer .overlay { width: 100%; height: 100%; position: fixed; background: transparent; top: 0; left: 0; z-index: 100000; }
#hdr_admirer .tooltip { display: none; position: absolute; z-index: 100002; top: 20px; left: 15px; width: 200px; padding: 0 10px 10px; color: #000000; background-color: #FFFDA0; webkit-box-shadow: -7px 7px 10px -5px #999999; -moz-box-shadow: -7px 7px 10px -5px #999999; box-shadow: -7px 7px 10px -5px #999999; }
#hdr_admirer .tooltip h2 { margin: 0 auto 5px; border-bottom: 1px solid #333333; line-height: 30px; font-size: 13px; text-align: left; }
#hdr_admirer .tooltip a.more { display: block; text-align: right; color: #0066CC !important; padding-top:5px; }
#hdr_admirer .tooltip h3 { font-size: 13px; margin-bottom:5px;}
#hdr_admirer .tooltip h3 a{ color:#000000; text-decoration:none; cursor:text;}
#hdr_admirer .tooltip h3 a:hover{text-decoration:none;}
#hdr_admirer .tooltip h3 u{text-decoration:none;display:inline;line-height:1;width:auto;}
#hdr_admirer .tooltip .ranking span,#hdr_admirer .tooltip .ranking a{ color:#000000; }
#hdr_admirer .tooltip .ranking li{ width:100%; display:inline-block; clear:both; line-height:20px; margin-bottom:5px;}
#hdr_admirer .tooltip .ranking .name{ float:left;}
#hdr_admirer .tooltip .ranking .rank{ float:right; margin-right:5px; font-weight:bold; width:20px; text-align:center; }

.admirer_sprite { display: inline-block; background-image:url(http://graphics.streamray.com/images/cams/header_footer/topfan_icons.png); }
.admirer_sprite.icon_l { width: 40px; height: 40px; background-position: 0px 0px;}
.admirer_sprite.icon_l.r1 { background-position: 0px 0px;}
.admirer_sprite.icon_l.r2 { background-position: -40px 0px; }
.admirer_sprite.icon_l.r3 { background-position: -80px 0px; }
.admirer_sprite.icon_l.r4 { background-position: -120px 0px; }
.admirer_sprite.icon_l.r5 { background-position: -160px 0px; }
.admirer_sprite.icon_s { width: 20px; height: 20px; background-position: -127px -46px;}
.admirer_sprite.icon_s.r1 { background-position: -2px -46px; }
.admirer_sprite.icon_s.r2 { background-position: -27px -46px; }
.admirer_sprite.icon_s.r3 { background-position: -52px -46px; }
.admirer_sprite.icon_s.r4 { background-position: -77px -46px; }
.admirer_sprite.icon_s.r5 { background-position: -102px -46px; }

.admirer_pop { text-align:left; }
.admirer_pop .admirer_pop_header { height:50px; position:relative; margin-bottom:10px; border-bottom:1px solid #eee; }
.admirer_pop .admirer_pop_header .admirer_sprite { position:absolute; top:0; left:0; }
.admirer_pop .admirer_pop_header span { position:absolute; left:48px; top:10px; width:435px; font-weight:bold; text-align:left; font-size:16px; letter-spacing:-1px text-shadow:1px 1px #eee;;}
.admirer_pop .bennie { display:block; height:auto; margin:10px auto; font-size:12px; text-align:left; background:transparent url('http://graphics.streamray.com/images/cams/check_green.png') no-repeat top left; }
.admirer_pop .bennie span { padding: 0 30px; display:block; }
.admirer_pop .getmore .bennie { background:transparent url(''); }

/* For the New Style For Admirer Popup */
.admirer_pop_new .apn_header { margin-bottom:20px; }
.admirer_rank { font-size:72px; }
.apn_title { font-size:24px; margin:20px 0 0 0; }
.apn_content { margin:auto; text-align:left; width:87%; position:relative; }
.apn_content_title { font-weight:700; font-size:14px; margin:20px 0 10px 0; }
.bennie { margin:0 0 10px 0; }
.bennie .icon.icon-check { color: #ff8d27; font-weight:700; left:-17px; position:absolute; }
#alert_box_new .cbtn { border:0; background-color:#ff8d27; color:#fff; margin:20px 5px 0 5px; cursor:pointer; display:inline-block; height:50px; line-height:50px; transition:background 0.5s ease 0s; width:300px; font-size:18px; font-weight:700; }
#alert_box_new .cbtn:hover { background-color:#d46706; }


.option, #option { padding:3px 6px; position:relative; }
.option_sel { padding:3px 6px; background:url("http://graphics.cams.com/images/common/sprite/sprite_button_bg.gif") repeat-x scroll 0 -4px #ddd; color:black !important; }
.option.addfunds { background:url("http://graphics.streamray.com/images/cams/actionbuttonbg.png") repeat-x scroll 0 0 #FF6A33; color:black !important; text-shadow: 1px 1px #FFCC55; font-weight:bold;  }
.option.addfunds:active, .option.addfunds:hover { text-shadow:1px 1px #ffeeaa; }
#dd { background:#d3d3d3; position:absolute; top:17px; left:0px; text-align:left; color:black; z-index:1; white-space:nowrap; }
.ie6 #dd { top:14px; }
#dd a { padding:3px 6px; display:block; }
#dd a:hover { background:#ccc; text-decoration:underline; }
#dd a { color:black !important; }
.harrow { width:12px; height:12px; background:transparent url('http://graphics.streamray.com/images/cams/won/arrows_white.png') no-repeat; position:relative; top:3px; left:4px;}

#contentport { background-color:#FFFFFF; margin:0px auto; padding:4px 0px; text-align:center; clear:both; margin-bottom:10px; }
.content { text-align:left; margin:0 auto; height:auto; z-index:1; }
#footerport { width:100%; text-align:center; background-color:#F1F1F1; border-top:1px solid #222222; clear:both; }
#footer { background-color:#F1F1F1; color:#999999; margin:0px auto; padding:10px; clear:both; }
#footer a {  text-decoration:none; }
#footer a:hover { text-decoration:underline; }
#footer .nobr { border-right:0px; }
#footer_navbar .dropdown_item { z-index:0 !important; }
.footer_nav { font-size:14px; font-weight:bold; text-align:center; margin-bottom:14px; border-bottom:1px solid #CCC; padding:0 0 10px 0; }
.footer_nav h2 { font-size:12px; font-weight:bold; color:#666666; text-align:center; margin-bottom:14px; padding:0 0 10px 0; display:inline; }
.footer_nav a { padding:0 10px; font-size:12px; font-weight:700; color:#666666; }
.footer_subnav { text-align:center; margin-bottom:4px; font-size:10px; color:#999999; }
.footer_subnav a { padding:0 8px; color:#666666; }
.rta_icra { margin-bottom:10px; text-align:center; }
#nav { height:47px; width:100%; background:#0280D7 url('http://graphics.streamray.com/images/cams/header_footer/bg_transparent_nav.png') repeat-x 0 0; text-align:center; }
.ie6 #nav { height:47px; width:100%; background-color:#0280D7; text-align:center; }
#footer .google_plus1 { display:inline; }

.credit_banner_pos { position:absolute; bottom:1px; right:10px; }
.credit_banner_size { width:100px; height:32px; }

#pent_bnr {position:relative !important; left:345px !important; top:-1px !important; }
  /* old stuff and overrides */
.action_button { background:#ff6a33 url('http://graphics.streamray.com/images/cams/actionbuttonbg.png') repeat-x; padding:6px 18px; border-width:1px; border-color: yellow #ff6a33 #ff6a33 yellow; border-style:solid; font-size:14px; font-weight:bold; color:#FFFFFF !important; text-decoration:none !important; }
.french #recorded_shows #page_left .action_button { font-size:10px; }
.ie6 .action_button { height:30px; padding:5px 18px !important; }
input[type="submit"] { background-color:#f0f0f0; color:#3c3c3c; border:1px solid #dbdbdb; }
input[type="submit"]:hover { background-color:#c8c8c8; color:#3a3a3a; border:1px solid #c8c8c8; }

/* sizes */
.btn { cursor:pointer; background-image:none; font-weight:bold; display:inline-block; box-sizing:border-box; -webkit-appearance:none; border:0; border-radius:0; -webkit-transition:background .1s ease-in; -moz-transition:background .1s ease-in; -o-transition:background .1s ease-in; transition:background .1s ease-in;}
.btn:hover { text-decoration:none; }
.btn.std { /* height:32px; */ padding:0 18px; line-height:32px; font-size:14px; }
.btn.lg { /* height:42px; */ padding:0 24px; line-height:42px; font-size:18px; }
.btn.sm { /* height:26px; */ padding:0 12px; line-height:26px; font-size:12px; }
.btn.tny { /* height:20px; */ padding:0 10px; line-height:20px; font-size:11px; }

/* colors */

.btn.def { background-color:#f0f0f0; color:#3c3c3c; border:1px solid #dbdbdb; }
.btn.def:hover { background-color:#c8c8c8; color:#3a3a3a; border:1px solid #c8c8c8; }
.btn.def[disabled], .btn.def.disabled { background-color:#f8f8f8; color:#9d9d9d; border:1px solid #f0f0f0; cursor:default; }

.btn.inf { background-color:#444; color:#ececec; border:1px solid #444; }
.btn.inf:hover { background-color:#000; color:#e9e9e9; border:1px solid #000; }
.btn.inf[disabled], .btn.inf.disabled { background-color:#a2a2a2; color:#f6f6f6; border:1px solid #a2a2a2; cursor:default; }

.btn.b01 { color:#fff; background: #0280d7;
  background: -moz-linear-gradient(top,  #0280d7 0%, #0280d7 90%, #006cb7 91%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0280d7), color-stop(90%,#0280d7), color-stop(91%,#006cb7)); 
  background: -webkit-linear-gradient(top,  #0280d7 0%,#0280d7 90%,#006cb7 91%); 
  background: -o-linear-gradient(top,  #0280d7 0%,#0280d7 90%,#006cb7 91%); 
  background: -ms-linear-gradient(top,  #0280d7 0%,#0280d7 90%,#006cb7 91%); 
  background: linear-gradient(to bottom,  #0280d7 0%,#0280d7 90%,#006cb7 91%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0280d7', endColorstr='#006cb7',GradientType=0 ); 
}
.btn.b01:hover { color:#fff; 
  background: #006bb4; 
  background: -moz-linear-gradient(top,  #006bb4 0%, #006bb4 90%, #065e9d 91%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006bb4), color-stop(90%,#006bb4), color-stop(91%,#065e9d));
  background: -webkit-linear-gradient(top,  #006bb4 0%,#006bb4 90%,#065e9d 91%); 
  background: -o-linear-gradient(top,  #006bb4 0%,#006bb4 90%,#065e9d 91%); 
  background: -ms-linear-gradient(top,  #006bb4 0%,#006bb4 90%,#065e9d 91%); 
  background: linear-gradient(to bottom,  #006bb4 0%,#006bb4 90%,#065e9d 91%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006bb4', endColorstr='#065e9d',GradientType=0 ); 
}
.btn.b01[disabled], .btn.b01.disabled { color:#fcfbfd; cursor:default; 
  background: #94caee; 
  background: -moz-linear-gradient(top,  #94caee 0%, #94caee 90%, #6eadd8 91%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94caee), color-stop(90%,#94caee), color-stop(91%,#6eadd8)); 
  background: -webkit-linear-gradient(top,  #94caee 0%,#94caee 90%,#6eadd8 91%); 
  background: -o-linear-gradient(top,  #94caee 0%,#94caee 90%,#6eadd8 91%); 
  background: -ms-linear-gradient(top,  #94caee 0%,#94caee 90%,#6eadd8 91%); 
  background: linear-gradient(to bottom,  #94caee 0%,#94caee 90%,#6eadd8 91%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94caee', endColorstr='#6eadd8',GradientType=0 ); 
}

.btn.b02 { color:#fff; 
  background: #8dc63f; /* Old browsers */
  background: -moz-linear-gradient(top,  #8dc63f 0%, #8dc63f 90%, #6cb706 91%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8dc63f), color-stop(90%,#8dc63f), color-stop(91%,#6cb706)); 
  background: -webkit-linear-gradient(top,  #8dc63f 0%,#8dc63f 90%,#6cb706 91%); 
  background: -o-linear-gradient(top,  #8dc63f 0%,#8dc63f 90%,#6cb706 91%); 
  background: -ms-linear-gradient(top,  #8dc63f 0%,#8dc63f 90%,#6cb706 91%); 
  background: linear-gradient(to bottom,  #8dc63f 0%,#8dc63f 90%,#6cb706 91%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dc63f', endColorstr='#6cb706',GradientType=0 ); 
}
.btn.b02:hover { color:#fff;  
  background: #6cb705;
  background: -moz-linear-gradient(top,  #6cb705 0%, #6cb705 90%, #63a40a 91%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6cb705), color-stop(90%,#6cb705), color-stop(91%,#63a40a));
  background: -webkit-linear-gradient(top,  #6cb705 0%,#6cb705 90%,#63a40a 91%);
  background: -o-linear-gradient(top,  #6cb705 0%,#6cb705 90%,#63a40a 91%);
  background: -ms-linear-gradient(top,  #6cb705 0%,#6cb705 90%,#63a40a 91%);
  background: linear-gradient(to bottom,  #6cb705 0%,#6cb705 90%,#63a40a 91%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cb705', endColorstr='#63a40a',GradientType=0 );
}
.btn.b02[disabled], .btn.b02.disabled { color:#fbfdfd; cursor:default; 
  background: #cfe6ae;
  background: -moz-linear-gradient(top,  #cfe6ae 0%, #cfe6ae 90%, #b0d77a 91%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe6ae), color-stop(90%,#cfe6ae), color-stop(91%,#b0d77a));
  background: -webkit-linear-gradient(top,  #cfe6ae 0%,#cfe6ae 90%,#b0d77a 91%);
  background: -o-linear-gradient(top,  #cfe6ae 0%,#cfe6ae 90%,#b0d77a 91%);
  background: -ms-linear-gradient(top,  #cfe6ae 0%,#cfe6ae 90%,#b0d77a 91%);
  background: linear-gradient(to bottom,  #cfe6ae 0%,#cfe6ae 90%,#b0d77a 91%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe6ae', endColorstr='#b0d77a',GradientType=0 );
}

.btn.b03 { color:#fff; 
  background: #ff8d27;
  background: -moz-linear-gradient(top,  #ff8d27 0%, #ff8d27 90%, #f77704 91%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8d27), color-stop(90%,#ff8d27), color-stop(91%,#f77704));
  background: -webkit-linear-gradient(top,  #ff8d27 0%,#ff8d27 90%,#f77704 91%);
  background: -o-linear-gradient(top,  #ff8d27 0%,#ff8d27 90%,#f77704 91%);
  background: -ms-linear-gradient(top,  #ff8d27 0%,#ff8d27 90%,#f77704 91%);
  background: linear-gradient(to bottom,  #ff8d27 0%,#ff8d27 90%,#f77704 91%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8d27', endColorstr='#f77704',GradientType=0 );
}
.btn.b03:hover { color:#fff;  
  background: #ea8503;
  background: -moz-linear-gradient(top,  #ea8503 0%, #ea8503 90%, #d46706 91%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea8503), color-stop(90%,#ea8503), color-stop(91%,#d46706));
  background: -webkit-linear-gradient(top,  #ea8503 0%,#ea8503 90%,#d46706 91%);
  background: -o-linear-gradient(top,  #ea8503 0%,#ea8503 90%,#d46706 91%);
  background: -ms-linear-gradient(top,  #ea8503 0%,#ea8503 90%,#d46706 91%);
  background: linear-gradient(to bottom,  #ea8503 0%,#ea8503 90%,#d46706 91%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea8503', endColorstr='#d46706',GradientType=0 );
}
.btn.b03[disabled], .btn.b03.disabled { color:#fff9f5; cursor:default; 
  background: #ffd0a4;
  background: -moz-linear-gradient(top,  #ffd0a4 0%, #ffd0a4 90%, #fbb675 91%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd0a4), color-stop(90%,#ffd0a4), color-stop(91%,#fbb675));
  background: -webkit-linear-gradient(top,  #ffd0a4 0%,#ffd0a4 90%,#fbb675 91%);
  background: -o-linear-gradient(top,  #ffd0a4 0%,#ffd0a4 90%,#fbb675 91%);
  background: -ms-linear-gradient(top,  #ffd0a4 0%,#ffd0a4 90%,#fbb675 91%);
  background: linear-gradient(to bottom,  #ffd0a4 0%,#ffd0a4 90%,#fbb675 91%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd0a4', endColorstr='#fbb675',GradientType=0 );
}

.btn.b04 { color:#d7d7d7; 
  background: #ffffff;
  border: 2px solid #d7d7d7;
}
.btn.b04.std{ line-height:29px; }
.pillbox { display:inline-block; font-size:10px; border-radius:8px; height:16px; min-width:8px; text-align:center; line-height:16px; padding:0 4px; position:relative; }
.pillbox.grey { background-color:#a6a6a6; color:white; }
.pillbox.green { background-color:#99c44e; color:white; }
.pillbox.dblue { background-color:#094975; color:white; }
.pillbox.lg { font-size:12px; }

  
/* COUNTRY FLAGS */
.country.us { background-position: -4px -565px !important; }
.country.ro { background-position: -144px -509px !important; }
.country.ru { background-position: -144px -453px !important; }
.country.co { background-position: -60px -117px !important; }
.country.ph { background-position: -116px -425px !important; }
.country.ua { background-position: -256px -537px !important; }
.country.ca { background-position: -60px -89px !important; }
.country.gb { background-position: -284px -173px !important; }
.country.cz { background-position: -256px -117px !important; }
.country.hu { background-position: -228px -229px !important; }
.country.md { background-position: -32px -341px !important; }
.country.za { background-position: -144px -593px !important; }
.country.br { background-position: -172px -61px !important; }
.country.in { background-position: -32px -256pxpx !important; }
.country.mx { background-position: -172px -369px !important; }
.country.es { background-position: -4px -173px !important; }
.country.de { background-position: -284px -117px !important; }
.country.it { background-position: -172px -257px !important; }
.country.fr { background-position: -228px -173px !important; }
.country.lv { background-position: -228px -313px !important; }
.country.ar { background-position: -256px -5px !important; }
.country.au { background-position: -32px -33px !important; }
.country.pe { background-position: -32px -425px !important; }
.country.ve { background-position: -228px -593px !important; }
.country.dr { background-position: -88px -145px !important; }
.country.cl { background-position: -284px -89px !important; }
.country.sk { background-position: -144px -481px !important; }
.country.pt { background-position: -4px -453px !important; }
.country.tr { background-position: -116px -537px !important; }
.country.be { background-position: -228px -33px !important; }
.country.pl { background-position: -172px -425px !important; }
.country.th { background-position: -228px -509px !important; }
.country.bg { background-position: -284px -33px !important; }
.country.nl { background-position: -116px -397px !important; }
.country.ng { background-position: -60px -397px !important; }
.country.my { background-position: -200px -369px !important; }
.country.id { background-position: -256px -229px !important; }
.country.uz { background-position: -88px -565px !important; }
.country.ec { background-position: -144px -145px !important; }
.country.nz { background-position: -256px -397px !important; }
.country.dk { background-position: -32px -145px !important; }
.country.dz { background-position: -116px -145px !important; }
.country.gr { background-position: -256px -201px !important; }
.country.at { background-position: -4px -33px !important; }
.country.no { background-position: -256px -61px !important; }
.country.bd { background-position: -200px -33px !important; }
.country.ch { background-position: -200px -89px !important; }
.country.pa { background-position: -4px -425px !important; }
.country.ie { background-position: -284px -229px !important; }
.country.af { background-position: -60px -5px !important; }
.country.ax { background-position: -88px -33px !important; }
.country.al { background-position: -144px -5px !important; }
.country.as { background-position: -284px -5px !important; }
.country.ad { background-position: -4px -5px !important; }
.country.ao { background-position: -258px -593px !important; }
.country.ai { background-position: -116px -5px !important; }
.country.aq { background-position: -88px -622px !important; }
.country.ag { background-position: -88px -5px !important; }
.country.am { background-position: -172px -5px !important; }
.country.aw { background-position: -60px -33px !important; }
.country.az { background-position: -116px -33px !important; }
.country.bs { background-position: -200px -61px !important; }
.country.bh { background-position: -4px -61px !important; }
.country.bb { background-position: -172px -33px !important; }
.country.by { background-position: -4px -89px !important; }
.country.bz { background-position: -32px -89px !important; }
.country.bj { background-position: -60px -61px !important; }
.country.bm { background-position: -88px -61px !important; }
.country.bt { background-position: -228px -61px !important; }
.country.bo { background-position: -144px -61px !important; }
.country.ba { background-position: -144px -33px !important; }
.country.bw { background-position: -284px -61px !important; }
.country.bv { background-position: -256px -61px !important; }
.country.io { background-position: -60px -285px !important; }
.country.bn { background-position: -116px -61px !important; }
.country.bf { background-position: -256px -33px !important; }
.country.bi { background-position: -32px -61px !important; }
.country.kh { background-position: -32px -285px !important; }
.country.cm { background-position: -4px -33px !important; }
.country.cv { background-position: -4px -117px !important; }
.country.ky { background-position: -228px -285px !important; }
.country.cf { background-position: -144px -89px !important; }
.country.cs { background-position: -88px -593px !important; }
.country.td { background-position: -116px -453px !important; }
.country.cn { background-position: -32px -117px !important; }
.country.cx { background-position: -200px -117px !important; }
.country.cc { background-position: -32px -33px !important; }
.country.km { background-position: -88px -285px !important; }
.country.cg { background-position: -172px -89px !important; }
.country.cd { background-position: -284px -593px !important; }
.country.ck { background-position: -256px -89px !important; }
.country.cr { background-position: -88px -117px !important; }
.country.ci { background-position: -228px -89px !important; }
.country.hr { background-position: -172px -229px !important; border:0px !important; }
.country.cu { background-position: -144px -117px !important; }
.country.cy { background-position: -228px -117px !important; }
.country.dj { background-position: -4px -145px !important; }
.country.dm { background-position: -60px -145px !important; }
.country.do { background-position: -88px -145px !important; }
.country.eg { background-position: -200px -145px !important; }
.country.sv { background-position: -32px -509px !important; }
.country.gq { background-position: -228px -201px !important; }
.country.er { background-position: -284px -145px !important; }
.country.ee { background-position: -172px -145px !important; }
.country.et { background-position: -32px -173px !important; }
.country.fk { background-position: -144px -173px !important; }
.country.fo { background-position: -200px -173px !important; }
.country.fj { background-position: -116px -173px !important; }
.country.fi { background-position: -88px -173px !important; }
.country.gf { background-position: -228px -173px !important; }
.country.pf { background-position: -608px -425px !important; }
.country.tf { background-position: -172px -509px !important; }
.country.ga { background-position: -256px -173px !important; }
.country.gm { background-position: -144px -201px !important; }
.country.ge { background-position: -228px -425px !important; }
.country.gh { background-position: -60px -229px !important; }
.country.gi { background-position: -88px -201px !important; }
.country.gl { background-position: -116px -201px !important; }
.country.gd { background-position: -4px -201px !important; }
.country.gp { background-position: -228px -117px !important; }
.country.gu { background-position: -32px -229px !important; }
.country.gt { background-position: -4px -229px !important; }
.country.gg { background-position: -116px -622px !important; }
.country.gn { background-position: -172px -201px !important; }
.country.gw { background-position: -60px -229px !important; }
.country.gy { background-position: -88px -229px !important; }
.country.ht { background-position: -200px -229px !important; }
.country.hm { background-position: -32px -33px !important; }
.country.va { background-position: -116px -565px !important; }
.country.hn { background-position: -144px -229px !important; }
.country.hk { background-position: -116px -229px !important; }
.country.is { background-position: -144px -257px !important; }
.country.ir { background-position: -116px -257px !important; }
.country.iq { background-position: -88px -257px !important; }
.country.im { background-position: -144px -622px !important; }
.country.il { background-position: -4px -257px !important; }
.country.jm { background-position: -200px -257px !important; }
.country.jp { background-position: -256px -257px !important; }
.country.je { background-position: -172px -622px !important; }
.country.jo { background-position: -228px -257px !important; }
.country.kz { background-position: -256px -285px !important; }
.country.ke { background-position: -284px -257px !important; }
.country.ki { background-position: -60px -285px !important; }
.country.kp { background-position: -144px -285px !important; }
.country.kr { background-position: -172px -285px !important; }
.country.kw { background-position: -200px -285px !important; }
.country.kg { background-position: -4px -285px !important; }
.country.la { background-position: -284px -285px !important; }
.country.lb { background-position: -4px -313px !important; }
.country.ls { background-position: -142px -313px !important; }
.country.lr { background-position: -116px -313px !important; }
.country.ly { background-position: -256px -313px !important; }
.country.li { background-position: -60px -313px !important; }
.country.lt { background-position: -172px -313px !important; }
.country.lu { background-position: -200px -313px !important; }
.country.mo { background-position: -228px -341px !important; }
.country.mk { background-position: -116px -341px !important; }
.country.mg { background-position: -60px -341px !important; }
.country.mw { background-position: -144px -369px !important; }
.country.mv { background-position: -116px -369px !important; }
.country.ml { background-position: -144px -341px !important; }
.country.mt { background-position: -60px -369px !important; }
.country.mh { background-position: -88px -341px !important; }
.country.mq { background-position: -284px -341px !important; }
.country.mr { background-position: -4px -369px !important; }
.country.mu { background-position: -88px -369px !important; }
.country.yt { background-position: -116px -593px !important; }
.country.fm { background-position: -172px -173px !important; }
.country.mc { background-position: -4px -341px !important; }
.country.mn { background-position: -200px -341px !important; }
.country.me { background-position: -284px -313px !important; }
.country.ms { background-position: -34px -369px !important; }
.country.ma { background-position: -284px -313px !important; }
.country.mz { background-position: -228px -369px !important; }
.country.mm { background-position: -172px -341px !important; }
.country.na { background-position: -256px -369px !important; }
.country.nr { background-position: -200px -397px !important; }
.country.np { background-position: -172px -397px !important; }
.country.an { background-position: -200px -5px !important; }
.country.nc { background-position: -284px -369px !important; }
.country.ni { background-position: -32px -509px !important; }
.country.ne { background-position: -4px -397px !important; }
.country.nu { background-position: -228px -397px !important; }
.country.nf { background-position: -32px -397px !important; }
.country.mp { background-position: -256px -341px !important; }
.country.om { background-position: -286px -397px !important; }
.country.pk { background-position: -144px -425px !important; }
.country.pw { background-position: -32px -453px !important; }
.country.ps { background-position: -284px -425px !important; }
.country.pg { background-position: -88px -425px !important; }
.country.py { background-position: -60px -453px !important; }
.country.pn { background-position: -228px -425px !important; }
.country.pr { background-position: -256px -425px !important; }
.country.qa { background-position: -88px -453px !important; }
.country.re { background-position: -4px -621px !important; }
.country.rw { background-position: -60px -341px !important; }
.country.bl { background-position: -228px -173px !important; }
.country.sh { background-position: -88px -481px !important; }
.country.kn { background-position: -116px -285px !important; }
.country.lc { background-position: -32px -313px !important; }
.country.mf { background-position: -228px -173px !important; }
.country.pm { background-position: -200px -425px !important; }
.country.vc { background-position: -144px -565px !important; }
.country.ws { background-position: -60px -593px !important; }
.country.sm { background-position: -200px -481px !important; }
.country.st { background-position: -4px -509px !important; }
.country.sa { background-position: -200px -453px !important; }
.country.sn { background-position: -228px -481px !important; }
.country.rs { background-position: -4px -621px !important; }
.country.sc { background-position: -256px -451px !important; }
.country.sl { background-position: -172px -481px !important; }
.country.sg { background-position: -60px -481px !important; }
.country.si { background-position: -116px -481px !important; }
.country.sb { background-position: -228px -451px !important; }
.country.so { background-position: -256px -481px !important; }
.country.gs { background-position: -200px -561px !important; }
.country.lk { background-position: -88px -313px !important; }
.country.sd { background-position: -4px -481px !important; }
.country.sr { background-position: -284px -481px !important; }
.country.sj { background-position: -60px -622px !important; }
.country.sz { background-position: -88px -509px !important; }
.country.se { background-position: -32px -481px !important; }
.country.sy { background-position: -60px -509px !important; }
.country.tw { background-position: -172px -341px !important; }
.country.tj { background-position: -4px -397px !important; }
.country.tz { background-position: -228px -537px !important; }
.country.tl { background-position: -4px -537px !important; }
.country.tg { background-position: -200px -509px !important; }
.country.tk { background-position: -284px -509px !important; }
.country.to { background-position: -88px -537px !important; }
.country.tt { background-position: -144px -537px !important; }
.country.tn { background-position: -60px -537px !important; }
.country.tm { background-position: -32px -537px !important; }
.country.tc { background-position: -116px -509px !important; }
.country.tv { background-position: -172px -537px !important; }
.country.ug { background-position: -284px -537px !important; }
.country.ae { background-position: -32px -5px !important; }
.country.um { background-position: -4px -565px !important; }
.country.uy { background-position: -60px -565px !important; }
.country.vu { background-position: -284px -565px !important; }
.country.vn { background-position: -256px -565px !important; }
.country.vg { background-position: -200px -565px !important; }
.country.vi { background-position: -228px -565px !important; }
.country.wf { background-position: -32px -593px !important; }
.country.eh { background-position: -228px -145px !important; }
.country.ye { background-position: -88px -593px !important; }
.country.zm { background-position: -172px -593px !important; }
.country.zw { background-position: -200px -593px !important; }

.country.US { background-position: -4px -565px !important; }
.country.RO { background-position: -144px -509px !important; }
.country.RU { background-position: -144px -453px !important; }
.country.CO { background-position: -60px -117px !important; }
.country.PH { background-position: -116px -425px !important; }
.country.UA { background-position: -256px -537px !important; }
.country.CA { background-position: -60px -89px !important; }
.country.GB { background-position: -284px -173px !important; }
.country.CZ { background-position: -256px -117px !important; }
.country.HU { background-position: -228px -229px !important; }
.country.MD { background-position: -32px -341px !important; }
.country.ZA { background-position: -144px -593px !important; }
.country.BR { background-position: -172px -61px !important; }
.country.IN { background-position: -32px -256px !important; }
.country.MX { background-position: -172px -369px !important; }
.country.ES { background-position: -4px -173px !important; }
.country.DE { background-position: -284px -117px !important; }
.country.IT { background-position: -172px -257px !important; }
.country.FR { background-position: -228px -173px !important; }
.country.LV { background-position: -228px -313px !important; }
.country.AR { background-position: -256px -5px !important; }
.country.AU { background-position: -32px -33px !important; }
.country.PE { background-position: -32px -425px !important; }
.country.VE { background-position: -228px -593px !important; }
.country.DR { background-position: -88px -145px !important; }
.country.CL { background-position: -284px -89px !important; }
.country.SK { background-position: -144px -481px !important; }
.country.PT { background-position: -4px -453px !important; }
.country.TR { background-position: -116px -537px !important; }
.country.BE { background-position: -228px -33px !important; }
.country.PL { background-position: -172px -425px !important; }
.country.TH { background-position: -228px -509px !important; }
.country.BG { background-position: -284px -33px !important; }
.country.NL { background-position: -116px -397px !important; }
.country.NG { background-position: -60px -397px !important; }
.country.MY { background-position: -200px -369px !important; }
.country.ID { background-position: -256px -229px !important; }
.country.UZ { background-position: -88px -565px !important; }
.country.EC { background-position: -144px -145px !important; }
.country.NZ { background-position: -256px -397px !important; }
.country.DK { background-position: -32px -145px !important; }
.country.DZ { background-position: -116px -145px !important; }
.country.GR { background-position: -256px -201px !important; }
.country.AT { background-position: -4px -33px !important; }
.country.NO { background-position: -256px -61px !important; }
.country.BD { background-position: -200px -33px !important; }
.country.CH { background-position: -200px -89px !important; }
.country.PA { background-position: -4px -425px !important; }
.country.IE { background-position: -284px -229px !important; }
.country.AF { background-position: -60px -5px !important; }
.country.AX { background-position: -88px -33px !important; }
.country.AL { background-position: -144px -5px !important; }
.country.AS { background-position: -284px -5px !important; }
.country.AD { background-position: -4px -5px !important; }
.country.AO { background-position: -258px -593px !important; }
.country.AI { background-position: -116px -5px !important; }
.country.AQ { background-position: -88px -622px !important; }
.country.AG { background-position: -88px -5px !important; }
.country.AM { background-position: -172px -5px !important; }
.country.AW { background-position: -60px -33px !important; }
.country.AZ { background-position: -116px -33px !important; }
.country.BS { background-position: -200px -61px !important; }
.country.BH { background-position: -4px -61px !important; }
.country.BB { background-position: -172px -33px !important; }
.country.BY { background-position: -4px -89px !important; }
.country.BZ { background-position: -32px -89px !important; }
.country.BJ { background-position: -60px -61px !important; }
.country.BM { background-position: -88px -61px !important; }
.country.BT { background-position: -228px -61px !important; }
.country.BO { background-position: -144px -61px !important; }
.country.BA { background-position: -144px -33px !important; }
.country.BW { background-position: -284px -61px !important; }
.country.BV { background-position: -256px -61px !important; }
.country.IO { background-position: -60px -285px !important; }
.country.BN { background-position: -116px -61px !important; }
.country.BF { background-position: -256px -33px !important; }
.country.BI { background-position: -32px -61px !important; }
.country.KH { background-position: -32px -285px !important; }
.country.CM { background-position: -4px -33px !important; }
.country.CV { background-position: -4px -117px !important; }
.country.KY { background-position: -228px -285px !important; }
.country.CF { background-position: -144px -89px !important; }
.country.CS { background-position: -88px -593px !important; }
.country.TD { background-position: -116px -453px !important; }
.country.CN { background-position: -32px -117px !important; }
.country.CX { background-position: -200px -117px !important; }
.country.CC { background-position: -32px -33px !important; }
.country.KM { background-position: -88px -285px !important; }
.country.CG { background-position: -172px -89px !important; }
.country.CD { background-position: -284px -593px !important; }
.country.CK { background-position: -256px -89px !important; }
.country.CR { background-position: -88px -117px !important; }
.country.CI { background-position: -228px -89px !important; }
.country.HR { background-position: -172px -229px !important; border:0px !important; }
.country.CU { background-position: -144px -117px !important; }
.country.CY { background-position: -228px -117px !important; }
.country.DJ { background-position: -4px -145px !important; }
.country.DM { background-position: -60px -145px !important; }
.country.DO { background-position: -88px -145px !important; }
.country.EG { background-position: -200px -145px !important; }
.country.SV { background-position: -32px -509px !important; }
.country.GQ { background-position: -228px -201px !important; }
.country.ER { background-position: -284px -145px !important; }
.country.EE { background-position: -172px -145px !important; }
.country.ET { background-position: -32px -173px !important; }
.country.FK { background-position: -144px -173px !important; }
.country.FO { background-position: -200px -173px !important; }
.country.FJ { background-position: -116px -173px !important; }
.country.FI { background-position: -88px -173px !important; }
.country.GF { background-position: -228px -173px !important; }
.country.PF { background-position: -608px -425px !important; }
.country.TF { background-position: -172px -509px !important; }
.country.GA { background-position: -256px -173px !important; }
.country.GM { background-position: -144px -201px !important; }
.country.GE { background-position: -228px -425px !important; }
.country.GH { background-position: -60px -229px !important; }
.country.GI { background-position: -88px -201px !important; }
.country.GL { background-position: -116px -201px !important; }
.country.GD { background-position: -4px -201px !important; }
.country.GP { background-position: -228px -117px !important; }
.country.GU { background-position: -32px -229px !important; }
.country.GT { background-position: -4px -229px !important; }
.country.GG { background-position: -116px -622px !important; }
.country.GN { background-position: -172px -201px !important; }
.country.GW { background-position: -60px -229px !important; }
.country.GY { background-position: -88px -229px !important; }
.country.HT { background-position: -200px -229px !important; }
.country.HM { background-position: -32px -33px !important; }
.country.VA { background-position: -116px -565px !important; }
.country.HN { background-position: -144px -229px !important; }
.country.HK { background-position: -116px -229px !important; }
.country.IS { background-position: -144px -257px !important; }
.country.IR { background-position: -116px -257px !important; }
.country.IQ { background-position: -88px -257px !important; }
.country.IM { background-position: -144px -622px !important; }
.country.IL { background-position: -4px -257px !important; }
.country.JM { background-position: -200px -257px !important; }
.country.JP { background-position: -256px -257px !important; }
.country.JE { background-position: -172px -622px !important; }
.country.JO { background-position: -228px -257px !important; }
.country.KZ { background-position: -256px -285px !important; }
.country.KE { background-position: -284px -257px !important; }
.country.KI { background-position: -60px -285px !important; }
.country.KP { background-position: -144px -285px !important; }
.country.KR { background-position: -172px -285px !important; }
.country.KW { background-position: -200px -285px !important; }
.country.KG { background-position: -4px -285px !important; }
.country.LA { background-position: -284px -285px !important; }
.country.LB { background-position: -4px -313px !important; }
.country.LS { background-position: -142px -313px !important; }
.country.LR { background-position: -116px -313px !important; }
.country.LY { background-position: -256px -313px !important; }
.country.LI { background-position: -60px -313px !important; }
.country.LT { background-position: -172px -313px !important; }
.country.LU { background-position: -200px -313px !important; }
.country.MO { background-position: -228px -341px !important; }
.country.MK { background-position: -116px -341px !important; }
.country.MG { background-position: -60px -341px !important; }
.country.MW { background-position: -144px -369px !important; }
.country.MV { background-position: -116px -369px !important; }
.country.ML { background-position: -144px -341px !important; }/* */
.country.MT { background-position: -60px -369px !important; }
.country.MH { background-position: -88px -341px !important; }
.country.MQ { background-position: -284px -341px !important; }
.country.MR { background-position: -4px -369px !important; }
.country.MU { background-position: -88px -369px !important; }
.country.YT { background-position: -116px -593px !important; }
.country.FM { background-position: -172px -173px !important; }
.country.MC { background-position: -4px -341px !important; }
.country.MN { background-position: -200px -341px !important; }
.country.ME { background-position: -284px -313px !important; }
.country.MS { background-position: -34px -369px !important; }
.country.MA { background-position: -284px -313px !important; }
.country.MZ { background-position: -228px -369px !important; }
.country.MM { background-position: -172px -341px !important; }
.country.NA { background-position: -256px -369px !important; }
.country.NR { background-position: -200px -397px !important; }
.country.NP { background-position: -172px -397px !important; }
.country.AN { background-position: -200px -5px !important; }
.country.NC { background-position: -284px -369px !important; }
.country.NI { background-position: -32px -509px !important; }
.country.NE { background-position: -4px -397px !important; }
.country.NU { background-position: -228px -397px !important; }
.country.NF { background-position: -32px -397px !important; }
.country.MP { background-position: -256px -341px !important; }
.country.OM { background-position: -286px -397px !important; }
.country.PK { background-position: -144px -425px !important; }
.country.PW { background-position: -32px -453px !important; }
.country.PS { background-position: -284px -425px !important; }
.country.PG { background-position: -88px -425px !important; }
.country.PY { background-position: -60px -453px !important; }
.country.PN { background-position: -228px -425px !important; }
.country.PR { background-position: -256px -425px !important; }
.country.QA { background-position: -88px -453px !important; }
.country.RE { background-position: -4px -621px !important; }
.country.RW { background-position: -60px -341px !important; }
.country.BL { background-position: -228px -173px !important; }
.country.SH { background-position: -88px -481px !important; }
.country.KN { background-position: -116px -285px !important; }
.country.LC { background-position: -32px -313px !important; }
.country.MF { background-position: -228px -173px !important; }
.country.PM { background-position: -200px -425px !important; }
.country.VC { background-position: -144px -565px !important; }
.country.WS { background-position: -60px -593px !important; }
.country.SM { background-position: -200px -481px !important; }
.country.ST { background-position: -4px -509px !important; }
.country.SA { background-position: -200px -453px !important; }
.country.SN { background-position: -228px -481px !important; }
.country.RS { background-position: -4px -621px !important; }
.country.SC { background-position: -256px -451px !important; }
.country.SL { background-position: -172px -481px !important; }
.country.SG { background-position: -60px -481px !important; }
.country.SI { background-position: -116px -481px !important; }
.country.SB { background-position: -228px -451px !important; }
.country.SO { background-position: -256px -481px !important; }
.country.GS { background-position: -200px -561px !important; }
.country.LK { background-position: -88px -313px !important; }
.country.SD { background-position: -4px -481px !important; }
.country.SR { background-position: -284px -481px !important; }
.country.SJ { background-position: -60px -622px !important; }
.country.SZ { background-position: -88px -509px !important; }
.country.SE { background-position: -32px -481px !important; }
.country.SY { background-position: -60px -509px !important; }
.country.TW { background-position: -172px -341px !important; }
.country.TJ { background-position: -4px -397px !important; }
.country.TZ { background-position: -228px -537px !important; }
.country.TL { background-position: -4px -537px !important; }
.country.TG { background-position: -200px -509px !important; }
.country.TK { background-position: -284px -509px !important; }
.country.TO { background-position: -88px -537px !important; }
.country.TT { background-position: -144px -537px !important; }
.country.TN { background-position: -60px -537px !important; }
.country.TM { background-position: -32px -537px !important; }
.country.TC { background-position: -116px -509px !important; }
.country.TV { background-position: -172px -537px !important; }
.country.UG { background-position: -284px -537px !important; }
.country.AE { background-position: -32px -5px !important; }
.country.UM { background-position: -4px -565px !important; }
.country.UY { background-position: -60px -565px !important; }
.country.VU { background-position: -284px -565px !important; }
.country.VN { background-position: -256px -565px !important; }
.country.VG { background-position: -200px -565px !important; }
.country.VI { background-position: -228px -565px !important; }
.country.WF { background-position: -32px -593px !important; }
.country.EH { background-position: -228px -145px !important; }
.country.YE { background-position: -88px -593px !important; }
.country.ZM { background-position: -172px -593px !important; }
.country.ZW { background-position: -200px -593px !important; }
  

  #cams_help_table ul { list-style-type:disc; margin:16px; }
  .cams_cell_box { float:left; margin:4px; height:108px; }

  .recorded_cell { width:106px; height:auto; float:left; margin: 0 10px 16px 0; }
  .recorded_cell .thumblink { display:block; width:106px; height:77px; position:relative; border:0px; }
  .recorded_cell .thumblink .thumb { width:106px; height:77px; }
  .recorded_cell .extras { position:absolute; bottom:1px; left:1px; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter:alpha(opacity=70); -khtml-opacity:0.7; -moz-opacity:0.7; opacity:0.7; }
  .recorded_cell .length { position:absolute; bottom:1px; right:1px; padding:0 1px; background:#ccc; color:#000; font-size:8px; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter:alpha(opacity=70); -khtml-opacity:0.7; -moz-opacity:0.7; opacity:0.7; }
  .recorded_cell .handle { margin:1px auto; width:100%; text-align:center; }
  .recorded_cell .info { font-size:8px; position:relative; width:100%; height:25px; background:#DEDEDE; color:#000000; }
  .recorded_cell .date { width:100%; position:absolute; text-align:left; top:2px; left:2px; font-size:8px; }
  .recorded_cell .rating { width:55px; position:absolute; text-align:right; top:2px; right:2px; }
  .recorded_cell .stars { background:url(http://graphics.cams.com/images/common/cells/recorded_stars.png) no-repeat; width:55px; height:11px; }
  .recorded_cell .zero { background-position:0 -56px; }
  .recorded_cell .one { background-position:0 -45px; }
  .recorded_cell .two { background-position:0 -34px; }
  .recorded_cell .three { background-position:0 -22px; }
  .recorded_cell .four { background-position:0 -11px; }
  .recorded_cell .five { background-position:0 0; }
  .recorded_cell .views { width:100%; position:absolute; text-align:left; top:14px; left:2px; font-size:8px; }
  .recorded_cell .comments { width:100%; position:absolute; text-align:right; top:14px; right:2px; font-size:8px; }
  .recorded_cell .cams_cell_img { position:relative; }
  .recorded_cell .extras .audio, .recorded_cell .cams_cell .extras .hq, .recorded_cell .cams_cell .extras .hd { float:left; }
  .recorded_cell .extras .hq img, .recorded_cell .extras .hd img, .recorded_cell .extras .audio img { height:8px; opacity:0.75; background-color:#E9F1F9; padding:2px; border:none; }

  .cams_cell .cams_cell_img { position:relative; }
  .cams_cell .extras .audio, .cams_cell .extras .hq, .cams_cell .extras .hd { float:left; }
  .cams_cell .extras { position:absolute; bottom:0px; left:0px; height:12px; }
  .cams_cell .extras .hq img, .cams_cell .extras .hd img, .cams_cell .extras .audio img { height:8px; opacity:0.75; background-color:#E9F1F9; padding:2px; }
  table.cams_cell { margin-bottom:12px; }
  td.cams_cell_img { width:100px; height:77px; display:block; position:relative; }
  td.cams_cell_img span { top: -7px !important; }
  td.cams_cell_info { margin-bottom:20px; background:#DEDEDE !important; color:#000000 !important; text-align:center; font-size:10px !important; }
  .container1 .content1 .pgn a { color:#000000; }
  .container1 .content1 .pgn a:hover { color:#000000; } 
  .bgorange, .featured1 { background-color:orange !important; }
  .stream_name { float:left; overflow:hidden; text-overflow:ellipsis; width:60%; text-align:left; font-size: 13px; }
  .stream_name_long { float:left; overflow:hidden; text-align:left; font-size: 13px; text-overflow:ellipsis; width: 100% }
  .rsc_stream_name { overflow:hidden; text-overflow:ellipsis; display:block; }

  
  .fs18px h2 { font-size:18px; font-weight:normal; }
  .fs20px h2 { font-size:20px; font-weight:normal; }
  .mt40 h2 { margin-top:40px; }
  .mb5 h2 { margin-bottom:5px; }

  #saved_searches select { min-width:150px; }

  
  /**/
  .cams-ads { clear: both; padding: 10px; }
  .cams-ads.full_width .ad_content { width: 900px; max-height: 250px; margin: 0 auto 30px; }

  
  .ad_content { display:none; }
  .cams-ads-active .ad_content { display:block; }

  
  .notification_contents,
  .notification_contents:after{
    position: absolute;
  }

  .notification_contents {
    display: none;
    left: 0;
    top: 70px;
    z-index: 999;
    text-align: left;
    color: #000;
    font-size: 13px;
    background: #fff;
    padding: 15px 30px;
    max-width: 460px;
    min-height: 170px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0,0,0,.4);
  }

  .notification_contents p {
    margin: 12px 10px 0;
  }

  .notification_contents:after {
    content: '';
    display: block;
    top: -20px;
    left: 15px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
  }

  .notification_contents .btns_group{
    padding-top:20px;
    text-align:right;
  }

  .notification_contents .btns_group .btn{
    margin-left:10px;
    padding:0 50px;
  }