

.fix    { overflow:hidden; }
.center { text-align:center; margin-left:auto; margin-right:auto; }
.clear  { clear:both; }
.clearl { clear:left; }
.clearr { clear:right; }
.left   { float:left; }
.right  { float:right; }
.error, .red { color:red; }
.admin  { font:bold 10px Arial !important; color:red !important; }
.clb { overflow:hidden; clear:both; }


.tac { text-align:center; }
.tal { text-align:left; }
.tar { text-align:right; }
.vam { vertical-align:middle; }
.vat { vertical-align:top; }
.vab { vertical-align:bottom; }


.cvar { color:#000000; }
.cd { color:#FFFFFF; }
.gtitle { color:#0099FF; }
.cb  { color:#000000; }
.cw  { color:#FFFFFF; }
.tdn { text-decoration:none; }
.tdu { text-decoration:underline; }
.ttc { text-transform:capitalize; }
.ttl { text-transform:lowercase; }
.ttu { text-transform:uppercase; }
.wsn { white-space:nowrap; }


.fs09em { font-size:.9em; }
.fs10em { font-size:1.0em; }
.fs11em { font-size:1.1em; }
.fs8px  { font-size:8px; }
.fs9px  { font-size:9px;}
.fs150p { font-size:150%; }
.fs10px { font-size:10px; }
.fs11px { font-size:11px; }
.fs12px { font-size:12px; }
.fs13px { font-size:13px; }
.fs14px { font-size:14px; }
.fs16px { font-size:16px; }
.fs18px { font-size:18px; }
.fs30px { font-size:30px; }
.fs20px { font-size:20px; }
.fs22px { font-size:22px; }
.fsi    { font-style:italic; }
.fwb    { font-weight:bold; }
.fwn    { font-weight:normal; }
.fcd    { color:#000000; }
.fcdk   { color:#0280D7; }
.fcdkt  { color:#FFFFFF; }


.left5  { left:-5px; }
.left10 { left:-10px; }
.left15 { left:-15px; }
.left20 { left:-20px; }
.left25 { left:-25px; }
.left30 { left:-30px; }
.left35 { left:-35px; }
.left40 { left:-40px; }
.right5 { right:-5px; }
.right10 { right:-10px; }
.right15 { right:-15px; }
.right20 { right:-20px; }
.right25 { right:-25px; }
.right30 { right:-30px; }
.right35 { right:-35px; }
.right40 { right:-40px; }


.mp0 { margin:0; padding:0; }
.m0a { margin:0px auto; }
.m1  { margin:1px; }
.m2  { margin:2px; }
.m3  { margin:3px; }
.m4  { margin:4px; }
.m5  { margin:5px; }
.m8  { margin:8px; }
.m10 { margin:10px; }
.m0_1  { margin:0 1px; }
.m0_10 { margin:0 10px;} 
.m0_5  { margin:0 5px; }
.m0_10p{ margin:0 10%; }
.m0_15p{ margin:0 15%; }
.m1_0  { margin:1px 0;}
.m10_0 { margin:10px 0; }
.mt0 { margin-top:0; }
.mt1 { margin-top:1px; }
.mt2 { margin-top:2px; }
.mt3 { margin-top:3px; }
.mt4 { margin-top:4px; }
.mt5 { margin-top:5px; }
.mt6 { margin-top:6px; }
.mt7 { margin-top:7px; }
.mt8 { margin-top:8px; }
.mt9 { margin-top:9px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt25 { margin-top:25px; }
.mt30 { margin-top:30px; }
.mt35 { margin-top:35px; }
.mt40 { margin-top:40px; }
.mt45 { margin-top:45px; }
.mt50 { margin-top:50px; }
.mr1 { margin-right:1px; }
.mr2 { margin-right:2px; }
.mr3 { margin-right:3px; }
.mr4 { margin-right:4px; }
.mr5 { margin-right:5px; }
.mr6 { margin-right:6px; }
.mr7 { margin-right:7px; }
.mr8 { margin-right:8px; }
.mr9 { margin-right:9px; }
.mr10 { margin-right:10px; }
.mr15 { margin-right:15px; }
.mr20 { margin-right:20px; }
.mr25 { margin-right:25px; }
.mr30 { margin-right:30px; }
.mr35 { margin-right:35px; }
.mr40 { margin-right:40px; }
.mr45 { margin-right:45px; }
.mr50 { margin-right:50px; }
.mb0 { margin-bottom:0; }
.mb1 { margin-bottom:1px; }
.mb2 { margin-bottom:2px; }
.mb3 { margin-bottom:3px; }
.mb4 { margin-bottom:4px; }
.mb5 { margin-bottom:5px; }
.mb6 { margin-bottom:6px; }
.mb7 { margin-bottom:7px; }
.mb8 { margin-bottom:8px; }
.mb9 { margin-bottom:9px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb25 { margin-bottom:25px; }
.mb30 { margin-bottom:30px; }
.mb35 { margin-bottom:35px; }
.mb40 { margin-bottom:40px; }
.mb45 { margin-bottom:45px; }
.mb50 { margin-bottom:50px; }
.mb100 { margin-bottom:100px; }
.ml1 { margin-left:1px; }
.ml2 { margin-left:2px; }
.ml3 { margin-left:3px; }
.ml4 { margin-left:4px; }
.ml5 { margin-left:5px; }
.ml6 { margin-left:6px; }
.ml7 { margin-left:7px; }
.ml8 { margin-left:8px; }
.ml9 { margin-left:9px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }
.ml23 { margin-left:23px; }
.ml24 { margin-left:24px; }
.ml25 { margin-left:25px; }
.ml30 { margin-left:30px; }
.ml33 { margin-left:33px; }
.ml35 { margin-left:35px; }
.ml40 { margin-left:40px; }
.ml45 { margin-left:45px; }
.ml50 { margin-left:50px; }
.ml100 { margin-left:100px; }
.ml110 { margin-left:110px; }


.p0  { padding:0px; }
.p1  { padding:1px; }
.p2  { padding:2px; }
.p3  { padding:3px; }
.p4  { padding:4px; }
.p5  { padding:5px; }
.p10 { padding:10px; }
.p15 { padding:15px; }
.p0_1  { padding:0 1px; }
.p0_5  { padding:0 5px; }
.p0_10 { padding:0 10px; }
.p2_0  { padding:2px 0; }
.p5_0  { padding:5px 0; }
.p10_0 { padding:10px 0; }
.pt0  { padding-top:0; }
.pt1  { padding-top:1px; }
.pt2  { padding-top:2px; }
.pt3  { padding-top:3px; }
.pt4  { padding-top:4px; }
.pt5  { padding-top:5px; }
.pt6  { padding-top:6px; }
.pt7  { padding-top:7px; }
.pt8  { padding-top:8px; }
.pt9  { padding-top:9px; }
.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt35 { padding-top:35px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pr1  { padding-right:1px; }
.pr2  { padding-right:2px; }
.pr3  { padding-right:3px; }
.pr4  { padding-right:4px; }
.pr5  { padding-right:5px; }
.pr6  { padding-right:6px; }
.pr7  { padding-right:7px; }
.pr8  { padding-right:8px; }
.pr9  { padding-right:9px; }
.pr10 { padding-right:10px; }
.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr25 { padding-right:25px; }
.pr30 { padding-right:30px; }
.pr35 { padding-right:35px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pb0  { padding-bottom:0; }
.pb1  { padding-bottom:1px; }
.pb2  { padding-bottom:2px; }
.pb3  { padding-bottom:3px; }
.pb4  { padding-bottom:4px; }
.pb5  { padding-bottom:5px; }
.pb6  { padding-bottom:6px; }
.pb7  { padding-bottom:7px; }
.pb8  { padding-bottom:8px; }
.pb9  { padding-bottom:9px; }
.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb25 { padding-bottom:25px; }
.pb30 { padding-bottom:30px; }
.pb35 { padding-bottom:35px; }
.pb40 { padding-bottom:40px; }
.pb45 { padding-bottom:45px; }
.pb50 { padding-bottom:50px; }
.pl1  { padding-left:1px; }
.pl2  { padding-left:2px; }
.pl3  { padding-left:3px; }
.pl4  { padding-left:4px; }
.pl5  { padding-left:5px; }
.pl6  { padding-left:6px; }
.pl7  { padding-left:7px; }
.pl8  { padding-left:8px; }
.pl9  { padding-left:9px; }
.pl10 { padding-left:10px; }
.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl25 { padding-left:25px; }
.pl30 { padding-left:30px; }
.pl35 { padding-left:35px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }


.bcw { background-color:#FFFFFF; }
.bcb { background-color:#000000; }
.bch { background-color:#FFFD9F; }    
.bcm { background-color:#FFFFFF; }
.bcl { background-color:#BBC0DD; }
.bcd { background-color:#0280D7; }


.b1b { border:1px solid #CCCCCC; }
.b1d { border:1px solid #0280D7; }  /* DARK COLOR */
.b1o { border:1px solid #CCCCCC; }  /* OUTLINE */
.b1s { border:1px solid #FFFFFF; }
.b1r { border:1px solid #FF0000; }
.bn  { border:none; }
.hr  { border-top:1px solid #CCCCCC; }
.hr2 { border-bottom:1px solid #CCCCCC;}


.ofh { overflow:hidden; }
.ofa { overflow:auto; }
.ofv { overflow:visible; }

 
.ha   { height:auto; }
.h1   { height:1px; }
.h100 { height:100%; }
.wa   { width:auto; }
.w5   { width:5px; }
.w100 { width:100%; }
.w99  { width:99%; }
.w97  { width:97%; }
.w90  { width:90%; }
.w80  { width:80%; }
.w79  { width:79%; }
.w75  { width:75%; }
.w70  { width:70%; }
.w65  { width:64%; }
.w60  { width:60%; }
.w55  { width:55%; }
.w50  { width:50%; }
.w49  { width:49%; }
.w48  { width:48%; }
.w45  { width:45%; }
.w40  { width:40%; }
.w35  { width:35%; }
.w30  { width:30%; }
.w25  { width:25%; }
.w24  { width:24%; }
.w23  { width:23%; }
.w22  { width:22%; }
.w20  { width:20%; }
.w15  { width:15%; }
.w10  { width:10%; }
.w200px { width:200px; }


.dispi { display:inline; }
.dispib { display:inline-block; }
.dispn { display:none; }
.dispb { display:block; }


.posr { position:relative; }
.posa { position:absolute; }
.posf { position:fixed; }


.bot1 { bottom:1px; }
.bot2 { bottom:2px; }
.bot3 { bottom:3px; }
.vh { visibility:hidden; }
.vv { visibility:visible; }
.lh10px { line-height:10px; }
.lh15px { line-height:15px; }
.lh16px { line-height:16px; }
.lh20px { line-height:20px; }
.lh20px20fx { line-height:20px; font-size: 20px; }
.lsn { list-style:none; }
.z1 { z-index:1; }
.pointer {cursor:pointer; }


body { font-size:12px; margin:0; padding:0; background-color:white; }
font { color:black; } 
input[type="text"], input[type="password"], select { border:1px solid #dbdbdb; border-radius:0; background-color:white; }
a, a:hover { text-decoration:none; color:#08375b; } 
.p_width { width:1010px } 
#lightbox { display:none; position:fixed; _position:absolute; top:0%; left:0%; width:100%; height:100%; _height:200%; background-color:#000000; z-index:100000; -moz-opacity:0.88; opacity:.88; filter:alpha(opacity=88); text-align:center; }
#alert_box, #confirm_box, #alert_box_new { position:fixed; _position:absolute; top:30%; width:100%; text-align:center; z-index:100000; }
#alert_box_new { top:20%; }
#alert_box #alert_content, #confirm_box #confirm_content { padding:12px 20px; font-size:14px; }
.alert_box_inner, .confirm_box_inner { width:500px; height:auto; text-align:center; border:5px solid #CCCCCC; background-color:#FFFFFF; color:#000000; box-shadow:0 8px 8px -6px black; z-index:200; margin:0 auto;  }
.alert_box_new_inner { border:2px solid #fff; color:#fff; height:auto; margin:0 auto; text-align:center; width:600px; z-index:100000; padding:40px;  }
.head_sprite { background-image:url('http://graphics.streamray.com/images/cams/header_footer/sprite_header.png'); }
#head2 { width:100%; background-color:#363636 /* 033965 */; color:#FFFFFF; text-align:center; z-index:1; min-height:60px }
#head2 .head2 { margin:0 auto; position:relative; }
#head2 .brand img { height:60px; position:relative; top:0; left:0; width:180px; background:transparent url('http://graphics.streamray.com/images/cams/logo/cams_long_w_german.png') no-repeat; background-position:0 -2px; }
#head2 a.brand, #head2 a.cobrand { display:table-cell; width:auto; line-height:60px; position:relative; left:0; text-align:left; background-repeat:no-repeat;height:60px;vertical-align:middle  }
  #head2 .cobrand img { max-height:50px; max-width:250px; vertical-align:middle; }
  #head2 .cobrand.big_logo { max-height:118px; }
  #head2 .cobrand.big_logo img { max-height:118px; max-width:500px; }
#head2 .head2_rt { width:75%; height:60px; position:absolute; top:0; right:0; }
table.loginform { height:66px; position:absolute; top:8px; right:0; }
.loginform td { vertical-align:top; text-align:left; padding:1px 0 0 6px; font-size:12px; line-height:10px; }
.loginform input[type="text"], .loginform input[type="password"] { width:160px; line-height:24px; height:24px; font-size:12px; padding:0 4px; }
.loginform input[type="submit"], loginform input[type="submit"]:hover { border:none !important; }
.loginform a { color:#FFFFFF; }
.loginform .btn { height:25px; line-height:23px; }
.ql_tooltip { position:relative; }
.ql_tooltip .popup { height:0px; opacity:0; position:absolute; left:0; z-index:2; -webkit-transition:height .2s ease-in;  -moz-transition:height .2s ease-in; -o-transition:height .2s ease-in; transition:height .2s ease-in; -webkit-transition:opacity .1s ease-out;  -moz-transition:opacity .1s ease-out; -o-transition:opacity .1s ease-out; transition:opacity .1s ease-out;}
.ql_tooltip.active .popup{ height:150px; width:250px; opacity:1; -webkit-transition:height .2s ease-out;  -moz-transition:height .2s ease-out; -o-transition:height .2s ease-out; transition:height .2s ease-out; -webkit-transition:opacity .1s ease-out;  -moz-transition:opacity .1s ease-out; -o-transition:opacity .1s ease-out; transition:opacity .1s ease-out; left:-103px; }
.ql_tooltip.active { display:inline-block; }
.pop_spacer { width:100%; height:10px; background:transparent; }
.tt_text { color:white; background-color: #2a2a2a; padding:5px; font-size:12px; text-align:left; white-space:normal; }
.popup:before { position:absolute; top:0; left:40%; width:0; height:0; content:""; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom:10px solid #222; }
#head2 div.membox { width:auto; height:34px; font-size:16px; color:white; position:absolute; right:0; top:8px; }
#head2 div.membox a { color:white; }
#head2 .membox > div { float:left; }
#head2 .membox:after { clear:both; }
#head2 .membox .btn { width:28px; height:28px; padding:0; }
#head2 .head_handle { position:relative; height:34px; line-height:34px; display:block; margin-right:4px; padding-right:14px; background-color:#464646; }
#head2 .head_handle:hover { background-color:#2a2a2a; }
#head2 .head_handle .dropdown { height:0px; opacity:0; overflow:hidden; position:absolute; top:34px; left:0; z-index:3; -webkit-transition:height .2s ease-in;  -moz-transition:height .2s ease-in; -o-transition:height .2s ease-in; transition:height .2s ease-in; -webkit-transition:opacity .1s ease-out;  -moz-transition:opacity .1s ease-out; -o-transition:opacity .1s ease-out; transition:opacity .1s ease-out;}
#head2 .head_handle.active .dropdown { height:300px; opacity:1; -webkit-transition:height .2s ease-out;  -moz-transition:height .2s ease-out; -o-transition:height .2s ease-out; transition:height .2s ease-out; -webkit-transition:opacity .1s ease-out;  -moz-transition:opacity .1s ease-out; -o-transition:opacity .1s ease-out; transition:opacity .1s ease-out; }
#head2 .head_handle > span { padding:0 8px; color:white;}
#head2 .head_handle:hover > span { color:white; }
#head2 .account_balance { position:relative; top:-6px; }
#head2 .dropdown:before { position:absolute; top:0; left:40%; width:0; height:0; content:""; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom:10px solid #222; }
#head2 .dropdown a { display:block; font-size:12px; line-height:30px; padding:0 20px; background-color:#222; min-width:130px; text-align:left; }
#head2 .dropdown a:hover { background-color:black; }
#head2 .dd_spacer { width:100%; height:10px; background:transparent; }
#head2 .head_balance { background-color:#464646; padding-right:4px; display:inline-block; height:34px; line-height:34px; }  
#head2 .membox .head_upgrade { width:34px; height:34px; position:absolute; left:-36px; background-color:#464646; }
#head2 .membox .head_upgrade .btn { position:relative; top:3px; }
#head2 .membox .head_upgrade .btn span:before { font-size:22px; line-height:28px; }

.head_toy { display:none; overflow:hidden; height:70px; position:relative; white-space:nowrap; }
.head_toy span { display:block; line-height:16px; padding:4px; color:white; background:#464646; position:relative; }
.head_toy i { font-style:normal; }
.head_toy b.btn { position:absolute; right:0; bottom:0; font-weight:normal; font-style:normal; line-height:24px; padding:0 6px !important; width:auto !important; }
.head_toy p { cursor:pointer; margin:0; padding:0 20px; position:absolute; bottom:-6px; left:0; text-align:right; font-size:10px; color:#efefef; }
#head2 .head_sprite.carat { display:inline-block; width:28px; height:28px; background-position:-251px -9px; }
#head2 .head_sprite.coinage { display:inline-block; width:28px; height:28px; background-position:-138px -8px; margin-top:2px; margin:0 8px 0 4px; }
#head2 .head_sprite.plus { display:inline-block; width:28px; height:28px; background-position:-284px -8px; }
#head2 .head_balance .icon.icon-token { display:inline-block; width:28px; height:28px; text-align:center; position:relative; top:-4px; margin-right:4px; }
#head2 .head_balance .icon.icon-token::before { font-size:20px; line-height:28px; }
#nav2 { width:100%; background-color:#363636; text-align:center; z-index:1; }
#nav2 .nav2 { height:60px; font-size:16px; position:relative; z-index:2; margin:0 auto; text-align:left; }
#nav2 .nav2:before {display:inline-block; width:6px; height:50px; position:absolute; left:-6px; top:10px; content:""; background:transparent url('http://graphics.streamray.com/images/cams/header_footer/sprite_header.png') -9px -92px; }
#nav2 .nav2:after {display:inline-block; width:6px; height:50px; position:absolute; right:-6px; top:10px; content:""; background:transparent url('http://graphics.streamray.com/images/cams/header_footer/sprite_header.png') -35px -92px; }
#nav2 .nav2_rt { height:50px; width:90%; position:absolute; bottom:0; right:0; background-color:#0280D7; z-index:0;}
#nav2 .nav2_rt form { display:block; width:180px; height:30px; position:absolute; right:10px; top:10px; background-color:white; border-radius:15px;  }
#nav2 .nav2_rt form input[type="text"] { height:26px; line-height:26px; width:136px; position:absolute; top:1px; right:30px; border:0; background:white; }
#nav2 .nav2_rt form input[type="submit"] { height:26px; width:26px; position:absolute; right:8px; top:2px; border:0; }
#nav2 .nav2_rt form input[type="submit"]:hover { top:3px; }
#nav2 div.nav2_item { float:left; position:relative; top:10px; height:50px; min-width:60px; line-height:50px; background-color:#0280D7; border-right:1px solid #2898e4; -webkit-transition:background-color .1s ease-in;  -moz-transition:background-color .1s ease-in; -o-transition:background-color .1s ease-in; transition:background-color .1s ease-in; }
#nav2 div.nav2_item a { color:#FFFFFF; padding:0 16px; height:50px; display:block; }
#nav2 div.nav2_item.active { height:58px; line-height:58px; top:2px; }
#nav2 div.nav2_item.active:after {display:inline-block; content:""; width:6px; height:50px; position:absolute; bottom:0; right:-7px; z-index:1; background:transparent url('http://graphics.streamray.com/images/cams/header_footer/sprite_header.png') -85px -97px; }
#nav2 div.nav2_item:hover { background-color:#006cb5; }
#nav2 .bg2 { background-color:#fe7527 !important; -webkit-transition:background-color .1s ease-in;  -moz-transition:background-color .1s ease-in; -o-transition:background-color .1s ease-in; transition:background-color .1s ease-in; }
#nav2 .bg2:hover { background-color:#f87604 !important; }
#nav2 .num_moa.pillbox { top:-1px; }
#nav2 .mail .pillbox { position:absolute; top:11px; left:36px; padding:0 2px;}
#nav2 .dropdown { height:0px; opacity:0; overflow:hidden; min-width:100%; position:absolute; top:50px; left:0; z-index:2; -webkit-transition:height .2s ease-in;  -moz-transition:height .2s ease-in; -o-transition:height .2s ease-in; transition:height .2s ease-in; -webkit-transition:opacity .1s ease-out;  -moz-transition:opacity .1s ease-out; -o-transition:opacity .1s ease-out; transition:opacity .1s ease-out;}
#nav2 .active.nav2_item .dropdown { top:58px; }
#nav2 .dd_active .dropdown { height:300px; opacity:1; -webkit-transition:height .2s ease-out;  -moz-transition:height .2s ease-out; -o-transition:height .2s ease-out; transition:height .2s ease-out; -webkit-transition:opacity .1s ease-out;  -moz-transition:opacity .1s ease-out; -o-transition:opacity .1s ease-out; transition:opacity .1s ease-out; }
#nav2 .dd_spacer { width:100%; height:10px; background:transparent; }
#nav2 .dropdown:before { position:absolute; top:0; left:30%; width:0; height:0; content:""; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom:10px solid #0280D7; }
#nav2 #nav_models_online .dropdown:before { left:42%; }
#nav2 .dropdown a { display:block; position:relative; font-size:12px; height:30px !important; line-height:30px; padding:0 20px; background-color:#0280D7; min-width:130px; text-align:left; }
  .german #nav2 .dropdown a, .dutch #nav2 .dropdown a, .swedish #nav2 .dropdown a { width:170px; }
#nav2 .dropdown a:hover { background-color:#005a98; }
#nav2 .dropdown a .pillbox { position:absolute; right:10px; top:8px; }
.head_sprite.home { background-position:8px 3px; width:30px; height:34px; display:block; }
.head_sprite.mail { background-position:-39px 0; width:30px; height:34px; display:block; position:relative; }
.head_sprite.search { background-color:transparent; background-position:-101px -8px; cursor:pointer; }
.head_sprite.call { background-position: -140px -94px; width: 15px; height: 15px; display: inline-block; }
#content2 { text-align:center; }
.content2 { margin:0 auto; text-align:left; color:black; }

.head_handle:after{
  content:"";
  display: inline-block;
  width: 12px;
  height: 7px;
  background: url('http://graphics.streamray.com/images/cams/header_footer/sprite_header.png') no-repeat -79px -61px;
  position:relative;
  top:-2px;
}
.head_handle.active:after{
  background-position:  -139px -61px;
}

#sms_ticker { background-color: #FF8F07; font-size: 14px; text-align: center; height:0px; overflow: hidden; border-bottom: 0px solid #FA7701; }
#sms_ticker img { vertical-align: middle; }
#sms_ticker_hide { position: absolute; right: -1px; font-size: 18px; font-weight: bold; }
.sms_ticker_content { margin: 0px auto; position: relative; display: inline-block; line-height: 40px; }
.sms_ticker_slidein { -webkit-animation-name: ticker_slidein; -webkit-animation-duration: 0.5s; -webkit-animation-fill-mode: forwards; -webkit-animation-timing-function: linear; animation-name: ticker_slidein; animation-duration: 0.5s; animation-fill-mode: forwards; animation-timing-function: linear; }

@-webkit-keyframes ticker_slidein {
  0% { height: 0px; border-bottom-width: 0px; }
  100% { height: 40px; border-bottom-width: 4px;}
}
@keyframes ticker_slidein {
  0% { height: 0px; border-bottom-width: 0px; }
  100% { height: 40px; border-bottom-width: 4px;}
}

/* old shiznit and overrides here */
html{ overflow-y:scroll; }

#viewport { width:100%; text-align:center; }
.full_width { width:960px; min-height: 60px; }
#contentport .full_width { min-height:6px; }

#header { text-align:center; margin:0 auto; position:relative; z-index:60; height:auto !important; min-height:60px !important; width:100%; background:#363636;}
#header .wrapper { padding:0 10px; color:#FFFFFF; width:940px; }
#header .wrapper a { color:#FFFFFF; }
#header #logo_container{ text-align:left; padding-bottom:3px; }
#header #logo_container a.logolink { display:block; position:relative; top:-2px; }
#header #logo_container a.logolink:hover { text-decoration:none; }
#header #logo_container .logo_subtext { display:inline; position:relative; top:4px; left:-289px; font-size:10px; font-weight:400; overflow:hidden; color:#4BA0E1; }
#header #logo_container img { max-width:450px; }
#header #logo_container .left { height:auto; }
#header .logo { width:358px; height:59px; position:relative; }
#header .logo .logo_bg { background:transparent url('http://graphics.streamray.com/images/cams/logo/cams_long_w_german.png') no-repeat; }
#header .logo .logo1 { height:59px; width:165px; display:block; position:absolute; background-position:0 0; }
#header .logo .logo2 { height:24px; width:135px; display:block; position:absolute !important; top:18px !important; left:190px; background-position:-172px -14px }
#header .logo .logo3 { height:20px; width:135px; display:block; position:absolute !important; top:45px !important; left:190px; background-position:-172px -44px; }
#logo_container_biglogo { text-align:left; }
#logo_container_biglogo img { width:auto !important; }
#header a.logo { display:block; width:400px; height:50px; border:0px; top:38px; left:0px; position:absolute; text-align:left; }
#header .logo img { border:0px; }
#header .logo span { display:block; position:absolute; left:240px; top:48px; color:#666666; font-size:11px; font-weight:bold; }
#header .topt { width:100%; height:22px;  position:absolute; top:0; right:10px; }
#header .topr { width:800px; height:22px; position:absolute; top:2px; right:10px; }
#header .topr span, #header .topt span { color:#FFFFFF; }
#header .topr .langbox, #header .topt .langbox { position:absolute; right:0px; top:0px; z-index:99999; }
#header .topr .infobox, #header .topt .infobox { position:absolute; right:100px; top:3px; z-index:100000;}
#header .topr .infobox .google_plus1 { float:left; position:relative; left:7px; top:0px; }
#header #frs_num { color:black; }
#hdr_admirer { position: relative; display: inline-block; width: 20px; top: -3px;}
#hdr_admirer .icon { line-height: 20px; position: absolute; top: 0; left: 0; z-index: 100001;}
#hdr_admirer .overlay { width: 100%; height: 100%; position: fixed; background: transparent; top: 0; left: 0; z-index: 100000; }
#hdr_admirer .tooltip { display: none; position: absolute; z-index: 100002; top: 20px; left: 15px; width: 200px; padding: 0 10px 10px; color: #000000; background-color: #FFFDA0; webkit-box-shadow: -7px 7px 10px -5px #999999; -moz-box-shadow: -7px 7px 10px -5px #999999; box-shadow: -7px 7px 10px -5px #999999; }
#hdr_admirer .tooltip h2 { margin: 0 auto 5px; border-bottom: 1px solid #333333; line-height: 30px; font-size: 13px; text-align: left; }
#hdr_admirer .tooltip a.more { display: block; text-align: right; color: #0066CC !important; padding-top:5px; }
#hdr_admirer .tooltip h3 { font-size: 13px; margin-bottom:5px;}
#hdr_admirer .tooltip h3 a{ color:#000000; text-decoration:none; cursor:text;}
#hdr_admirer .tooltip h3 a:hover{text-decoration:none;}
#hdr_admirer .tooltip h3 u{text-decoration:none;display:inline;line-height:1;width:auto;}
#hdr_admirer .tooltip .ranking span,#hdr_admirer .tooltip .ranking a{ color:#000000; }
#hdr_admirer .tooltip .ranking li{ width:100%; display:inline-block; clear:both; line-height:20px; margin-bottom:5px;}
#hdr_admirer .tooltip .ranking .name{ float:left;}
#hdr_admirer .tooltip .ranking .rank{ float:right; margin-right:5px; font-weight:bold; width:20px; text-align:center; }

.admirer_sprite { display: inline-block; background-image:url(http://graphics.streamray.com/images/cams/header_footer/topfan_icons.png); }
.admirer_sprite.icon_l { width: 40px; height: 40px; background-position: 0px 0px;}
.admirer_sprite.icon_l.r1 { background-position: 0px 0px;}
.admirer_sprite.icon_l.r2 { background-position: -40px 0px; }
.admirer_sprite.icon_l.r3 { background-position: -80px 0px; }
.admirer_sprite.icon_l.r4 { background-position: -120px 0px; }
.admirer_sprite.icon_l.r5 { background-position: -160px 0px; }
.admirer_sprite.icon_s { width: 20px; height: 20px; background-position: -127px -46px;}
.admirer_sprite.icon_s.r1 { background-position: -2px -46px; }
.admirer_sprite.icon_s.r2 { background-position: -27px -46px; }
.admirer_sprite.icon_s.r3 { background-position: -52px -46px; }
.admirer_sprite.icon_s.r4 { background-position: -77px -46px; }
.admirer_sprite.icon_s.r5 { background-position: -102px -46px; }

.admirer_pop { text-align:left; }
.admirer_pop .admirer_pop_header { height:50px; position:relative; margin-bottom:10px; border-bottom:1px solid #eee; }
.admirer_pop .admirer_pop_header .admirer_sprite { position:absolute; top:0; left:0; }
.admirer_pop .admirer_pop_header span { position:absolute; left:48px; top:10px; width:435px; font-weight:bold; text-align:left; font-size:16px; letter-spacing:-1px text-shadow:1px 1px #eee;;}
.admirer_pop .bennie { display:block; height:auto; margin:10px auto; font-size:12px; text-align:left; background:transparent url('http://graphics.streamray.com/images/cams/check_green.png') no-repeat top left; }
.admirer_pop .bennie span { padding: 0 30px; display:block; }
.admirer_pop .getmore .bennie { background:transparent url(''); }

/* For the New Style For Admirer Popup */
.admirer_pop_new .apn_header { margin-bottom:20px; }
.admirer_rank { font-size:72px; }
.apn_title { font-size:24px; margin:20px 0 0 0; }
.apn_content { margin:auto; text-align:left; width:87%; position:relative; }
.apn_content_title { font-weight:700; font-size:14px; margin:20px 0 10px 0; }
.bennie { margin:0 0 10px 0; }
.bennie .icon.icon-check { color: #ff8d27; font-weight:700; left:-17px; position:absolute; }
#alert_box_new .cbtn { border:0; background-color:#ff8d27; color:#fff; margin:20px 5px 0 5px; cursor:pointer; display:inline-block; height:50px; line-height:50px; transition:background 0.5s ease 0s; width:300px; font-size:18px; font-weight:700; }
#alert_box_new .cbtn:hover { background-color:#d46706; }


.option, #option { padding:3px 6px; position:relative; }
.option_sel { padding:3px 6px; background:url("http://graphics.cams.com/images/common/sprite/sprite_button_bg.gif") repeat-x scroll 0 -4px #ddd; color:black !important; }
.option.addfunds { background:url("http://graphics.streamray.com/images/cams/actionbuttonbg.png") repeat-x scroll 0 0 #FF6A33; color:black !important; text-shadow: 1px 1px #FFCC55; font-weight:bold;  }
.option.addfunds:active, .option.addfunds:hover { text-shadow:1px 1px #ffeeaa; }
#dd { background:#d3d3d3; position:absolute; top:17px; left:0px; text-align:left; color:black; z-index:1; white-space:nowrap; }
.ie6 #dd { top:14px; }
#dd a { padding:3px 6px; display:block; }
#dd a:hover { background:#ccc; text-decoration:underline; }
#dd a { color:black !important; }
.harrow { width:12px; height:12px; background:transparent url('http://graphics.streamray.com/images/cams/won/arrows_white.png') no-repeat; position:relative; top:3px; left:4px;}

#contentport { background-color:#FFFFFF; margin:0px auto; padding:4px 0px; text-align:center; clear:both; margin-bottom:10px; }
.content { text-align:left; margin:0 auto; height:auto; z-index:1; }
#footerport { width:100%; text-align:center; background-color:#F1F1F1; border-top:1px solid #222222; clear:both; }
#footer { background-color:#F1F1F1; color:#999999; margin:0px auto; padding:10px; clear:both; }
#footer a {  text-decoration:none; }
#footer a:hover { text-decoration:underline; }
#footer .nobr { border-right:0px; }
#footer_navbar .dropdown_item { z-index:0 !important; }
.footer_nav { font-size:14px; font-weight:bold; text-align:center; margin-bottom:14px; border-bottom:1px solid #CCC; padding:0 0 10px 0; }
.footer_nav h2 { font-size:12px; font-weight:bold; color:#666666; text-align:center; margin-bottom:14px; padding:0 0 10px 0; display:inline; }
.footer_nav a { padding:0 10px; font-size:12px; font-weight:700; color:#666666; }
.footer_subnav { text-align:center; margin-bottom:4px; font-size:10px; color:#999999; }
.footer_subnav a { padding:0 8px; color:#666666; }
.rta_icra { margin-bottom:10px; text-align:center; }
#nav { height:47px; width:100%; background:#0280D7 url('http://graphics.streamray.com/images/cams/header_footer/bg_transparent_nav.png') repeat-x 0 0; text-align:center; }
.ie6 #nav { height:47px; width:100%; background-color:#0280D7; text-align:center; }
#footer .google_plus1 { display:inline; }

.credit_banner_pos { position:absolute; bottom:1px; right:10px; }
.credit_banner_size { width:100px; height:32px; }

#pent_bnr {position:relative !important; left:345px !important; top:-1px !important; }

/* CONTAINERS */
.container1 h2, .container1 .content1, .container2 h3, .container2 .content2, .container3 h4, .container3 .content3, .highlight, .section { margin:0; }
.container1, .container2, .container3, .highlight { margin-bottom:10px; }
.section { margin-bottom:6px; }
.container1 h2 { font-size:14px; font-weight:bold; padding-top:6px; }
.container1 .hr { border-top:1px solid #ccc; display:block; overflow:hidden; height:1px; font-size:1px; margin-top:6px; }
.container1 .content1 { ; font-size:12px; padding:6px 0; }
.container2 h3 {  font-size:14px; padding-top:6px; }
.container2 .hr { border-top:1px solid #ccc; display:block; overflow:hidden; height:1px; font-size:1px; margin-top:6px; }
.container2 .content2 {  font-size:12px; padding:6px 0; }
.container3 .content3 {  font-size:12px; padding:6px; }
.highlight { color:black; background-color:#FFFD9F; font-size:12px; padding:6px; border:1px solid #ccc; }
.section h2 {  padding:6px 0; }
.section .hr { border-top:1px solid #ccc; display:block; overflow:hidden; height:1px; font-size:1px; margin-top:6px; }
.section .content1 {  padding:6px 0; }
.grid363 #page_left { float:left; margin: 0 0 0 0 !important; }
.grid363 #page_main { float:right; width:780px !important; margin:0 0 0 0 !important; }
#reg_top .no_cc { padding:24px 0 0 10px; }
.bio_top { top:0 !important; margin-bottom:24px; }

/* cams_cell ugh */
.cams_cell { width:150px; margin-right:7px; }
.cams_cell_img { display:inline-block; }
.cams_cell img.thumb { width:150px; height:116px; }
.cams_cell .extras, .cams_main .cams_cell .extras {bottom:0px;}
.cams_cell .cams_cell_stream { display:block; font-size:11px; }
.cams_cell .cams_cell_info, .cams_cell .country_con b, .cams_cell .country_cono b { display:none; }
.cams_cell .favorite { font-weight:normal; }
.cams_cell_img_party, .cams_cell_img_nude, .cams_cell_img_voyeur, .cams_cell_img_online,.cams_cell_img_offline { position: absolute; top:2px; right:0px; width:39px; height:43px; display:block; }
.cams_cell_img_party { background:url(http://graphics.streamray.com/images/cams/main/band_party_german.png) no-repeat; }
.cams_cell_img_nude { background:url(http://graphics.streamray.com/images/cams/main/band_nude_german.png) no-repeat; }
.cams_cell_img_voyeur { background:url(http://graphics.streamray.com/images/cams/main/band_private_german.png) no-repeat; }
.cams_cell_img_online { background:url(http://graphics.streamray.com/images/cams/main/band_free_german.png) no-repeat; }
.cams_cell_img_offline { background:url(http://graphics.streamray.com/images/cams/main/band_offline_german.png) no-repeat; }
#my_fav .cams_cell { margin-right:13px; }
.cams_recorded_videos #page_main { width:750px; } 
.cams_recorded_videos .recorded_cell { margin:0 19px 16px 0; }
#mc { margin-top:10px; }
/* end old shiznit */

/* notification box*/
#notification_box { color: #363636; background: #d2f6a1; height: 36px; line-height:15px; border-bottom: 4px solid #8dc63f; max-height:36px; position:relative; transition:max-height .5s; }
#notification_box .p_width { position: relative; margin: 0 auto; }
#notification_box.hidden { height:0px !important; max-height:0px !important; overflow:hidden; border-bottom:0px;  }
#notification_box.more { height:auto; min-height:36px; max-height:300px; }
#notification_box .show_more { position:absolute; right:40px; top:12px; display:block; cursor:pointer; }
#notification_box .left { position: absolute; width: 110px; top: 5px; left: 0; }
#notification_box .left:before { content: ""; display: inline-block; width: 19px; height: 18px; background: url('http://graphics.streamray.com/images/cams/header_footer/sprite_header.png') no-repeat -186px -14px; position: relative; top: 3px; }
#notification_box .right { position: absolute; width: 50px; top: 12px; right: 0; text-align: right; }
#notification_box .right:before { content: "\00a0" }
#notification_box .middle { width: 100%; box-sizing: border-box; padding: 12px 50px 0 110px; text-align:center; }
#notification_box .count { margin: 0 15px }
#notification_box .last,
#notification_box .next,
#notification_box .close { content: ""; display: inline-block; background: url('http://graphics.streamray.com/images/cams/header_footer/sprite_header.png') no-repeat; position: relative; cursor: pointer; }
#notification_box .close { width: 10px; height: 10px; background-position: -50px -58px; margin-left: 15px; }
#notification_box .last { width: 6px; height: 10px; background-position: -226px -59px; }
#notification_box .next { width: 6px; height: 10px; background-position: -278px -59px; }
#notification_box .message { width:95%; font-size:13px; height:15px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; transition:height 1s; }
#notification_box.more .message { height:auto; text-align:center; white-space:inherit; overflow:inherit; text-overflow:inherit; margin-bottom:12px; }


/* footer */
#foot2 { clear:both; background-color:#f1f1f1; color:#363636; text-align:center; }
#foot2 a { color:#363636; }
.foot2 { margin:0 auto;  }
.foot2_nav { font-size:14px; font-weight:bold; text-align:center; margin-bottom:14px; border-bottom:1px solid #d7d7d7; padding:0; }
.foot2_nav a { font-size:14px; display:inline-block; position:relative; padding:10px; font-weight:normal; }
.foot2_subnav { text-align:center; margin-bottom:4px; font-size:10px; }
.foot2_subnav a { padding:0 8px; }
.rta_icra { margin-bottom:10px; text-align:center; }
#footer_langs { position:relative; }
#footer .google_plus1 { display:inline; }
#footer_langs #lang_select {display: none; margin:0; padding:0; min-width: 100%; height: auto; opacity: 0; overflow: hidden; position: absolute; bottom:65px; left: 0; z-index:10; -webkit-transition: opacity .1s ease-out; -moz-transition: opacity .1s ease-out; -o-transition: opacity .1s ease-out; transition: opacity .1s ease-out; }
#footer_langs #lang_select li { display: block; font-size: 12px; height: 30px; line-height: 30px; padding: 0 20px; background-color: #d7d7d7; text-align: left; white-space: nowrap; cursor: pointer; }
#footer_langs #lang_select li:hover { background-color: #b7b7b7 }
#foot2 a#footer_langs:hover, #footer a#footer_langs:hover { background-color: #d7d7d7; text-decoration: none; }
#footer_langs div { display:inline-block; padding:10px; font-size:14px; }
#footer_langs:hover:after { position: absolute; top: -10px; left: 50%; margin-left: -10px; width: 0; height: 0; content: ""; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #d7d7d7; z-index:3; }
#footer_langs div:after { content: ""; display: inline-block; width: 12px; height: 12px; position: relative; top: 3px; left: 4px; background: url(http://graphics.streamray.com/images/cams/won/category_arrows.png) no-repeat 0 -139px; }
#footer_langs:hover div:after { background-position: 0 -193px }
#footer_langs:hover #lang_select {display: inline-block; opacity:1; }

/* viewer fullscreen */
:-webkit-full-screen cams-viewer {
    position: fixed !important;
    width:100% !important;
    height:100% !important;
    top: 0;
    left: 0;
    z-index: 1000;
}
:-moz-full-screen cams-viewer {
    position: fixed !important;
    width:100% !important;
    height:100% !important;
    top: 0;
    left: 0;
    z-index: 1000;
}
:-ms-fullscreen cams-viewer {
    position: fixed !important;
    width:100% !important;
    height:100% !important;
    top: 0;
    left: 0;
    z-index: 1000;
}
:fullscreen cams-viewer {
    position: fixed !important;
    width:100% !important;
    height:100% !important;
    top: 0;
    left: 0;
    z-index: 1000;
}
/* end css-header15 */