a.footer {font-size: 10pt; font-family: 'Myriad Pro',Verdana; color:#ffffff;text-decoration: none;}
a.deals_txt {font-size: 10pt; font-family: Verdana; color: #ffffff;}

dt.leftside A:link {font-size: 11pt; font-family: 'Myriad Pro',Verdana; color:#ffffff;text-decoration: none;
display: block; 
width: 240px; 
height: 14px; 
background: transparent url(images/arrow_ffffff.gif) no-repeat; 
}
dt.leftside A:visited {font-size: 11pt; font-family: 'Myriad Pro',Verdana; color:#ffffff;text-decoration: none;
display: block; 
width: 240px; 
height: 14px; 
background: transparent url(images/arrow_ffffff.gif) no-repeat; 
}
dt.leftside A:hover {font-size: 11pt; font-family: 'Myriad Pro',Verdana; color:#0598f7;text-decoration: none;
background: transparent url(images/arrow_0099ff.gif) no-repeat;
}

dt.leftsideselected A:link {font-size: 11pt; font-weight: bold; font-style:italic; font-family: 'Myriad Pro',Verdana; color:#000033;text-decoration: none; 
display: block; 
width: 240px; 
height: 14px; 
background:#e99705;
}
dt.leftsideselected A:visited {font-size: 11pt; font-weight: bold; font-style:italic; font-family: 'Myriad Pro',Verdana; color:#000033;text-decoration: none;
display: block; 
width: 240px; 
height: 14px; 
background:#e99705;
}
dt.leftsideselected A:hover {font-size: 11pt; font-family: 'Myriad Pro',Verdana; color:#000033;text-decoration: none;
background:#e99705;
}
 

 
.navbar {background:#000033; color:#ffffff;}
 .rtop, .rbottom{
display:block;
background:#01245e;
}
 .rtop *, .rbottom *{
display: block;
height: 1px;
overflow: hidden;
background:#000033;
}
 .r1{margin: 0 5px}
 .r2{margin: 0 3px}
 .r3{margin: 0 2px}
 .r4{margin: 0 1px;height: 2px}
 
.mainwindow {background:#e7e7e7; color:#01356a;}
 .mtop, .mbottom{
display:block;
background:#01245e;
}
 .mtop *, .mbottom *{
display: block;
height: 1px;
overflow: hidden;
background:#e7e7e7;
}
 
 
.mainwindowtop {background:#ffffff; color:#e7e7e7;}
 .mwtop, .mwbottom{
display:block;
background:#e7e7e7;
}
 .mwtop *, .mwbottom *{
display: block;
height: 1px;
overflow: hidden;
background:#ffffff;
}
 
 
 .dealstop{
display:block;
background:#e7e7e7;
}
 .dealstop *{
display: block;
height: 1px;
overflow: hidden;
background:#e88006;
}
 
 
 .dealsbottom{
display:block;
background:#e7e7e7;
}
 .dealsbottom *{
display: block;
height: 1px;
overflow: hidden;
background:#ecb906;
}

td.emu1 A:link {font-size: 11pt; font-family: 'Myriad Pro',Verdana; color:#ffffff;text-decoration: none;background:#e97e05}
td.emu1 {font-size: 11pt; font-family: 'Myriad Pro',Verdana; color:#01356a;background:#e97e05}

td.emu2 A:link {font-size: 11pt; font-family: 'Myriad Pro',Verdana; color:#ffffff;text-decoration: none;background:#e59505}
td.emu2 {font-size: 11pt; font-family: 'Myriad Pro',Verdana; color:#01356a;background:#e59505}

tr.letters A:link {font-size: 10pt; font-family: Verdana; color:#ffffff;text-decoration: none;}
tr.letters A:visited {font-size: 10pt; font-family: Verdana; color:#ffffff;text-decoration: none;}
tr.letters A:hover {font-size: 10pt; font-family: Verdana; color:#0598f7;text-decoration: none;}



 .letterstop, .lettersbottom{
display:block;
background:#e7e7e7;
}
 .letterstop *, .lettersbottom *{
display: block;
height: 1px;
overflow: hidden;
background:#000033;
}
 .letterstopw, .lettersbottomw{
display:block;
background:#ffffff;
}
 .letterstopw *, .lettersbottomw *{
display: block;
height: 1px;
overflow: hidden;
background:#000033;
}


th {font-size: 12pt; font-family: 'Myriad Pro',Verdana; color:#01356a;background:#5c91f2}

tr.gametitle {font-size: 11pt; font-family: 'Myriad Pro',Verdana; font-weight: bold; color:#01356a;background:#999999}
tr.game_odd {font-size: 10pt; font-family: Verdana; color:#01356a;background:#dedede}
tr.game_even {font-size: 10pt; font-family: Verdana; color:#01356a;background:#c2c2c2}
