/*
================================================
FDA Responsive CSS
================================================
*/

/* Typography
--------------------------------------------- */
h1, h2, h3, h4, h5 { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
h6 { letter-spacing: 1px; text-transform: uppercase; }
p, li { margin: 0; }
p + p { margin: 1em 0; }
ol, ul { margin: 1em 0 .5em 0; }
ol { margin-left: 2em; padding-left: 0; }
ul { padding-left: 0; }
ul > li { margin-left: 1.25em; }

p + ol,
p + ul,
ol + p,
ul + p { margin-top: 1em; }

li + li, li > ul { margin-top: .5em; }
li > p { margin: .5em 0; }

.nudge-right { margin-left: 2.5em; }
hr { margin: 1.375em 0; border-top: 1px solid #ddd; }
hr + h2, hr + h3, hr + h4, hr + h5, hr + h6 { margin-top: 0; }

input[type="email"], input[type="search"], input[type="tel"], input[type="text"] { -webkit-appearance: none; }

.col-md-6.middle-column p > a,
.col-md-6.middle-column li > a,
.col-md-9.middle-column p > a,
.col-md-9.middle-column li > a,
.col-md-12.middle-column p > a,
.col-md-12.middle-column li > a {
	 -ms-word-break: break-all;
	     word-break: break-all;

	/* Non standard for webkit */
	     word-break: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
	        hyphens: auto;
}

.col-md-6.middle-column .box p > a,
.col-md-6.middle-column .box li > a,
.col-md-9.middle-column .box p > a,
.col-md-9.middle-column .box li > a,
.col-md-12.middle-column .box p > a,
.col-md-12.middle-column .box li > a {
	-ms-word-break: normal;
			word-break: normal;
	-webkit-hyphens: none;
	   -moz-hyphens: none;
	    -ms-hyphens: none;
	        hyphens: none;
}

.col-md-6.middle-column a:not(.btn),
.col-md-9.middle-column a:not(.btn),
.col-md-12.middle-column a:not(.btn),
.breadcrumb li a {
	border-bottom: 1px dotted;
}

.col-md-6.middle-column a:not(.btn):hover,
.col-md-6.middle-column a:not(.btn):focus,
.col-md-9.middle-column a:not(.btn):hover,
.col-md-9.middle-column a:not(.btn):focus,
.col-md-12.middle-column a:not(.btn):hover,
.col-md-12.middle-column a:not(.btn):focus,
.breadcrumb li a:hover,
.breadcrumb li a:focus {
	text-decoration: none;
	border-bottom: 1px solid;
}

.col-md-6.middle-column .pagination li > a,
.col-md-9.middle-column .pagination li > a,
.col-md-12.middle-column .pagination li > a,
.col-md-6.middle-column .pagination li > a:hover,
.col-md-9.middle-column .pagination li > a:hover,
.col-md-12.middle-column .pagination li > a:hover,
.col-md-6.middle-column .pagination li > a:focus,
.col-md-9.middle-column .pagination li > a:focus,
.col-md-12.middle-column .pagination li > a:focus {
	text-decoration: none;
	border-bottom: 1px solid #ddd;
}

.col-md-6.middle-column .pagination li.active > a,
.col-md-9.middle-column .pagination li.active > a,
.col-md-12.middle-column .pagination li.active > a {
	border-bottom: 1px solid #005f9f;
}

.col-md-6.middle-column .box a,
.col-md-9.middle-column .box a,
.col-md-12.middle-column .box a {
	border-bottom: none;
}

.col-md-6.middle-column .box a:hover,
.col-md-6.middle-column .box a:focus,
.col-md-9.middle-column .box a:hover,
.col-md-9.middle-column .box a:focus,
.col-md-12.middle-column .box a:hover,
.col-md-12.middle-column .box a:focus {
	text-decoration: underline;
	border-bottom: none;
}


/* Callouts
--------------------------------------------- */
.well { background: #fff; }
.well-primary, .well-primary-dark { font-weight: normal; color: #fff; }
.well-primary { background: #005f9f; }
.well-primary-dark { background: #003152; }
.callout, .alert { margin: 1em 0; }

.callout {
	padding: 1em;
	background: #d9edf7;
	border: 1px solid #bce8f1;
	border-radius: 4px;
	color: #1a3f4f;
}

.callout > h2,
.callout > h3,
.callout > h4,
.callout > h5,
.callout > h6,
.alert > h2,
.alert > h3,
.alert > h4,
.alert > h5,
.alert > h6 { margin-top: 0; }

.callout a { font-weight: bold; color: #1a3f4f; }
.callout hr, .alert-info hr { margin: 1em 0; border-top-color: #a6e1ec; }

.alert > p + p { margin: 1em 0; }

.callout p:last-child, .alert p:last-child,
.callout ol:last-child, .alert ol:last-child,
.callout ul:last-child, .alert ul:last-child {
	margin-bottom: 0;
}

.alert-info { background: #d9edf7; border-color: #bce8f1; color: #1a3f4f }
.alert-info .alert-link, .alert-info a { font-weight: bold; color: #1a3f4f; }
.alert-warning { background: #fcf8e3; border-color: #fbeed5; color: #584521; }
.alert-warning .alert-link, .alert-warning a { font-weight: bold; color: #584521; }
.alert-warning hr { margin: 1em 0; border-top-color: #f8e5be; }
.alert-danger { background: #f2dede; border-color: #eed3d7; color: #5f2625; }
.alert-danger .alert-link, .alert-danger a { font-weight: bold; color: #5f2625; }
.alert-danger hr { margin: 1em 0; border-top-color: #e6c1c7; }


/* Images
--------------------------------------------- */
img + p { margin-top: 1em; }
.frame-white { padding: 1em; background: #fff; border: 1px solid #ddd; }
img.pull-left, .callout.pull-left, .alert.pull-left { margin: 0 1.25em 1.125em 0; }
img.pull-right, .callout.pull-right, .alert.pull-right { margin: 0 0 1.125em 1.25em; }
.img-responsive, .well .img-responsive:first-child { margin: 0 auto; }
.well .img-responsive { margin-bottom: 0; }
.img-responsive.frame-white { margin: 1em auto 1.125em auto; }
.img-responsive.frame-white.pull-right { margin: .375em 0 1.25em 1.125em; }
.img-responsive.frame-white.pull-left { margin: .375em 1.25em 1.125em 0; }

/* Automatically applies clearfix to p, ul, or ol that immediately follows img.pull-* */
img.pull-left + p,
img.pull-right + p,
img.pull-left + ol,
img.pull-right + ol,
img.pull-left + ul,
img.pull-right + ul { margin-top: 1em; }

img.pull-left + p:before,
img.pull-left + p:after,
img.pull-right + p:before,
img.pull-right + p:after,
img.pull-left + ol:before,
img.pull-left + ol:after,
img.pull-right + ol:before,
img.pull-right + ol:after,
img.pull-left + ul:before,
img.pull-left + ul:after,
img.pull-right + ul:before,
img.pull-right + ul:after { content: " "; display: table; }

img.pull-left + p:after,
img.pull-right + p:after,
img.pull-left + ol:after,
img.pull-right + ol:after,
img.pull-left + ul:after,
img.pull-right + ul:after { clear: both; }


/* Thumbnail + Caption Grid
--------------------------------------------- */
.thumbnail { margin: 0 0 1.5em 0; padding: 1em; }
.thumbnail .flex-video { margin: 0; }
.thumbnail .caption { padding: 1em 0 0 0; font-size: .875em; }
.thumbnail .caption ul, .caption ol { margin-top: 0; margin-bottom: 0; }


/* Asides
--------------------------------------------- */
.aside {	margin: 1.5em 0; padding: 1.5em 1em; border: 1px solid #ddd; border-radius: 4px; text-align: center; }
.aside > img, .aside > div { margin: 1em auto 0 auto; }
.aside > img { width: 100%; }
.aside img:first-child, .aside .flex-video:first-child { margin-top: 0; }
.aside > h2, .aside > h3, .aside > h4, .aside > h5, .aside > h6, .aside > p, .aside > ol, .aside ul { text-align: left; }
.aside > h2, .aside > h3, .aside > h4, .aside > h5, .aside > h6 { font-size: 1em; }
.aside > h2:first-child, .aside > h3:first-child, .aside > h4:first-child, .aside > h5:first-child, .aside > h6:first-child { margin-top: 0; }
.aside > p, .aside > ol, .aside > ul { margin: 1em 0 0 0; font-size: .875em; }
.aside > ol { margin-left: 2em; }
.aside > p + img, .aside > p + div { margin-top: 1.375em; }
.aside > hr + img { margin-top: .375em; }
.aside + p, p + .aside { margin-top: 1.5em; }
.aside p:first-child { margin-top: 0; }


/* For YouTube and Vimeo embeds
--------------------------------------------- */
.flex-video {
	position: relative;
	margin: 1em 0;
	padding-top: 1.5625em;
	padding-bottom: 67.5%;
	height: 0;
	overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* Accordion Collapse
--------------------------------------------- */
#accordion { margin: 1.375em 0; }
a[data-toggle='collapse'],
a[data-toggle='collapse'].collapsed:hover,
a[data-toggle='collapse'].collapsed:focus {
	display: block;
	color: #003153;
	border-bottom: none !important;
}
a[data-toggle='collapse'].collapsed {
	color: #005F9F;
}
.panel-title a.toggle:after {
  /* chevron down */
  position: relative;
  top: 2px;
  float: right;
	font-family: 'FontAwesome';
 	font-size: .875em;
  font-weight: normal;
  color: #999;
	content: "\f077";
}
.panel-title a.toggle.collapsed:after {
  /* chevron up*/
  content: "\f078";
}


/* Tabs
--------------------------------------------- */
.middle-column .nav-tabs > li { margin: 0 2px -1px 0; }
.middle-column .nav-tabs > li > a { border-bottom: 1px solid #ddd !important; }
.middle-column .nav-tabs > li.active > a { border-bottom: 1px solid #fff !important; }
.middle-column .tab-pane p, .tab-pane img { margin: 1em 0; }


/* Advisory Comm. Roster
--------------------------------------------- */
.roster .row p { margin: 0 0 1em 0; }
.roster .row:first-child p { margin: 1em 0; }
.roster hr { display: none; }
@media (min-width: 48em) {
	.roster hr { display: block; }
}


/* Tables
--------------------------------------------- */
.table-responsive { margin: 1em 0; }
.table-responsive>.table>thead>tr>th,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tfoot>tr>td { white-space: normal !important; }
.table { margin: 1.1875em 0; font-size: .875em; }
.table-condensed th, .table-condensed td { vertical-align: middle !important; }
thead.text-center > tr > th, tr.text-center > th { text-align: center; }
.table-striped thead > th, .table-striped tr > th { background: #525252 !important; font-weight: normal; color: #fff; }
.table-striped th a { color: #fff; }
.table-responsive table a { text-decoration:none; border-bottom:none !important; }
.pagination-clean a { text-decoration:none; border-bottom:none !important; }
.table-elastic { width: inherit !important; }
.align-top td, .align-top th { vertical-align: top !important; }

caption {
	margin: 0;
	padding: 1em .375em;
	background: #005F9F;
	border: 1px solid #ddd;
	border-bottom: none;
	font-weight: normal;
	font-size: 1em;
	color: #fff;
}


/* Footable
--------------------------------------------- */
table.footable { margin-bottom: 2.125em; }
.filter-recalls { padding-bottom: 1.75em;}
.filter-recalls label { font-size: .875em; }
.clear-filter { margin-top: .25em; }

.footable td.footable-pagination {display: table-cell!important}

.footable > thead > tr > th > span.footable-sort-indicator {
	display: inline-block;
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	padding-left: 5px;
	cursor: pointer;
}
.footable > thead > tr > th > span.footable-sort-indicator:before {
	font-family: "FontAwesome";
	content: "\f0dc";
	*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0dc;');
}
.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator:before {
	font-family: "FontAwesome";
	content: "\f0dd";
	*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0dd;');
}
.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator:before {
	font-family: "FontAwesome";
	content: "\f0de";
	*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0de;');
}

.footable .pagination { margin: 0; }

.pagination > ul {
	display: inline-block;
	margin: .25em 0 0 0;
	padding: 0;
	border-radius: 4px;
}

.pagination ul > li {
	display: inline;
	font-size: .85em;
	margin-left: 0px;
}
.pagination ul > li > a,
.pagination ul > li > span {
	position: relative;
	float: left;
	padding: .75em .75em;
	line-height: 1.375;
	text-decoration: none;
	background: #fff;
	border: 1px solid #ddd !important;
	margin-left: -1px;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.pagination ul > li > a:hover,
.pagination ul > li > span:hover,
.pagination ul > li > a:focus,
.pagination ul > li > span:focus {
	background: #eee;
}
.pagination ul > .active > a,
.pagination ul > .active > span,
.pagination ul > .active > a:hover,
.pagination ul > .active > span:hover,
.pagination ul > .active > a:focus,
.pagination ul > .active > span:focus {
	z-index: 2;
	color: #fff;
	background: #005F9F;
	border-color: #005F9F;
	cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
	color: #525252;
	background: #fff;
	border-color: #ddd;
	cursor: default;
}

.panel-body .footable { margin: 0; font-size: 1.125em; }


/* More Links and Exit Disclaimer
--------------------------------------------- */
.more_links {
	margin-top: 1em;
}

.more_links a {
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent !important;
	border-radius: 3px;
	background: #005F9F;
	border-color: #195074;
	color: #fff;
}

.more_links a:hover, .more_links a:focus {
	background: #174868;
	border-color: #0e2e42;
	text-decoration: none;
}

.more_links a:before {
	font-family: "FontAwesome";
	content: "\f138";
	padding-right: 6px;
}

img.disclaimer { border: none; margin-top: -.25em; width: 10px; height: 10px;}

/* Follow FDA list styles
--------------------------------------------- */
.follow-fda li { list-style: none; margin-left: 1.75em; }
.follow-fda span[class^="icon-"] {
	display: inline-block;
	position: absolute;
	margin: 0 0 0 -1.375em;
	font-size: 1.25em;
}


.follow-fda .icon-rss-sign, .follow-fda .icon-comments { margin-right: .375em; font-size: 1.25em; }
.follow-fda .icon-rss-sign { color: #f39c12; }
.follow-fda .icon-twitter {color:#3CF;}
.follow-fda .icon-facebook-sign {color: #3B5998;}
.follow-fda .icon-flickr {color:#ff0084;}
.follow-fda .icon-pinterest{color:#cb2027;}
.follow-fda .icon-youtube-sign {color:#bb0000;}
.follow-fda .icon-comments {color:#333; margin-right: 11px;}
.follow-fda .icon-linkedin {color:#007bb6;}
.follow-fda .icon-instagram {color:#517fa4;}



/* Social Share
--------------------------------------------- */
.share-list {margin-top: 1em;}
.share-list li{list-style: none; margin:0; float: left; height:100%; padding: 0;}
a.share-btn {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: .7em;
  border-bottom: none !important;
  padding: .875em;
  text-transform: uppercase;
}
.share-btn span{
  margin-right: .5em;
  font-size: 1.2em;

}

.share-list-default li {margin:0 0 0 -1px; border: 1px #cccccc solid;}
.share-list-default > li:first-child {margin-left:0;}
.share-list-default a.twitter-share {background-color: #fff; color:#3CF;}
.share-list-default a.twitter-share:hover {background-color:#3CF; color: #fff;}
.share-list-default a.facebook-share {background-color: #fff; color:#3B5998;}
.share-list-default a.facebook-share:hover {background-color:#3B5998; color: #fff;}
.share-list-default a.linkedin-share {background-color: #fff; color:#007bb6;}
.share-list-default a.linkedin-share:hover {background-color:#007bb6; color: #fff;}
.share-list-default a.pinterest-share {background-color: #fff; color:#cb2027;}
.share-list-default a.pinterest-share:hover {background-color:#cb2027; color: #fff;}
.share-list-default a.print-share, .share-list-default a.mail-share, .share-list-default a.more-share {background-color: #fff; color:#505050;}
.share-list-default a.print-share:hover, .share-list-default a.mail-share:hover, .share-list-default a.more-share:hover {background-color:#cccdcd; color: #505050;}

.share-list-primary .share-btn {margin-right: 1px;}
.share-list-primary a.twitter-share {background-color:#3CF; color: #fff;}
.share-list-primary a.facebook-share {background-color:#3B5998; color: #fff;}
.share-list-primary a.linkedin-share {background-color:#007bb6; color: #fff; }
.share-list-primary a.pinterest-share {background-color:#cb2027; color: #fff;}
.share-list-primary a.print-share, .share-list-primary a.mail-share, .share-list-primary a.more-share {background-color:#cccdcd; color: #505050; }

.collapsed-more {width:auto;}
.expanded-more {width:63px;}
.hidden-more-share + li { margin-left: -2px;}
.share-btn span.icon-plus{margin-right: 0;}
.share-list .hide {visibility: hidden; display: none;}
.share-list .show {visibility: visible; display: block;}
.show span{margin-right: 0;}
.share-list ul{margin-top: 0; top: 0; position: absolute;}



/* Left Nav / Column
--------------------------------------------- */
.left-column {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
			-webkit-box-orient: vertical;
				 -moz-box-orient: vertical;
	 -webkit-box-direction: normal;
			-moz-box-direction: normal;
	-webkit-flex-direction: column;
			-ms-flex-direction: column;
					flex-direction: column;
}
.left-column > div {
	-webkit-box-flex: 1;
		 -moz-box-flex: 1;
			-webkit-flex: 0 1 auto;
					-ms-flex: 0 1 auto;
							flex: 0 1 auto;
}
.section-menu {
	margin: .875em 0 0 0;
	-webkit-box-ordinal-group: 2;
		 -moz-box-ordinal-group: 2;
						 -ms-flex-order: 2;
							-webkit-order: 2;
											order: 2;
}
#Resources_for_You {
	-webkit-box-ordinal-group: 1;
		 -moz-box-ordinal-group: 1;
						 -ms-flex-order: 1;
							-webkit-order: 1;
											order: 1;
}

.left-column .list-group-item { font-size: .875em; color: #005F9F; }
.left-column .list-group-item:hover, .left-column .list-group-item:focus {
	color: #003153;
	background: #fff;
}
.left-column .list-group-item.active h2 {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.left-column .list-group-item.active:hover, .left-column .list-group-item.active:focus { background: #005F9F; color: #fff; }
.left-column .list-group-item.current {
	font-weight: bold;
	color: #333;
	background: #fff;
	cursor: default;
}
.left-column .list-group-item.current:before,
.left-column .list-group-item:hover:before,
.left-column .list-group-item:focus:before {
	content: "\f0da";
	position: absolute;
	left: 1px;
	font-family: 'FontAwesome', sans-serif;
	font-weight: normal;
	line-height: 1.25;
	color: #d12212;
}
.left-column .list-group-item.active:hover:before { content: none; }

.left-column .section { padding: 0; font-size: 1em; }
.left-column .section .list-group-item { background: #f5f5f5; border: 0; border-radius: 0; }
.left-column .section .list-group-item { border-bottom: 1px solid #ddd; }
.left-column .section .list-group-item:last-child { margin-bottom: -1px; border-bottom: 1px solid #ddd; }
.left-column .section.children .list-group-item { font-weight: normal; padding-right: 45px; }
.left-column .section div .list-group-item {
	padding-left: 30px;
	background: #fff;
}
.left-column .section:last-child .list-group-item { border-radius: 0; }
.left-column .section:last-child .list-group-item:last-child { border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }

.left-column button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	padding: 0 10px;
	background: #fff;
	border: 0;
	border-left: 1px solid #ddd;
	color: #005F9F;
}
.left-column button:after {
	/* chevron down */
	font-family: 'FontAwesome';
	font-size: .75em;
	content: "\f077";
}
.left-column button.collapsed:after {
	/* chevron up*/
	content: "\f078";
}
.left-column button:hover { outline: none; color: #d12212; }
.left-column button:focus { outline: 1px #333 dotted; color: #d12212; }

.section-menu-head.visible-xs.visible-sm { display: inline-block !important; }

@media (min-width: 62em) {
	.left-column { font-size: .75em; }
	.left-column .list-group-item { font-size: 1em; }
	.left-column .list-group-item:after {
		content: none;
	}
	.left-column .list-group-item.active {
		font-size: 1em;
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
	.left-column .list-group-item.current:before,
	.left-column .list-group-item:hover:before,
	.left-column .list-group-item:focus:before {
		font-size: 15px;
		line-height: .9375;
	}
	.section-menu { margin: 0; order: 1; }
	.section-menu-head.visible-xs.visible-sm { display: none !important; }
	#Resources_for_You { 
		-webkit-box-ordinal-group: 2;
			 -moz-box-ordinal-group: 2;
							 -ms-flex-order: 2;
								-webkit-order: 2;
												order: 2;
	}
}


/* FDA Logo
--------------------------------------------- */
.gov-webicon { display: inline-block; background-size: contain !important; background-repeat:no-repeat !important; background-position:center !important; width: 64px; height: 64px; text-indent: -999em; text-align: left; overflow:auto; }
.svg .gov-webicon.hhs.white { color: #fff; background: url("/ucm/groups/fdagov-public/@system/documents/system/gov-hhs-white.svg"); }
.svg .gov-webicon.fda.white { color: #fff; background: url("/ucm/groups/fdagov-public/@system/documents/system/gov-fda-new-white.svg"); }


/* Homepage
--------------------------------------------- */
.homepage .alert-dismissable { margin: 1em 0 0 0; font-size: .875em; }
.homepage #filmstrip, .homepage .sub-content + p { display: none; visibility: hidden; }
.homepage .content { margin-top: 1em; }
.homepage a span:hover, .homepage a i:hover, .homepage .media a.pull-left:hover { text-decoration: none; }
.homepage .icon-user { color: #d35400; font-size: 3.0625em; margin-left: .0313em; }
.homepage .icon-plus-sign-alt { color: #f39c12; }
.homepage .icon-beaker { color: #8e44ad; font-size: 2.9375em; margin-left: -.0313em; }
.homepage .icon-gear { color: #27ae60; }
.homepage .icon-comments.icon-3x { color: #003152; font-size: 2.625em; }
.homepage .icon-3x:hover { color: #ddd; }
.homepage .big-btns { margin-top: 1em; }
.homepage .btn-warning { color: #000; }
.homepage .btn-sm.btn-primary { width: 100%; }
.homepage .img-responsive { margin: 0; }
.homepage ul.media-list { padding-left: 0; }
.homepage li.media { margin-left: 0; padding: 1em 0 .25em 0; border-top: 1px solid #ddd; }
.homepage li.media:first-child { padding-top: 0; border-top: none; }
.homepage li.media a { width: 3em; }
.homepage .box p { margin-bottom: 0; }


/* Mobile First: 320px + up
--------------------------------------------- */
.fda-masthead { min-height: 3.25em; background: #003152; color: #fff; }
	.fda-masthead .gov-webicon.fda.white { float: left; width: 230px; height: 58px; margin: .25em 0 .875em 0; }
	.fda-logo { left: 2.0625em; }
	.fda-name { padding-left: 2.5em; line-height: 1; }
	.fda-name h1, .fda-name h2 { margin: 1.75em 0 0 -.0625em; font-size: .6875em; font-weight: normal; }

nav { position: absolute; top: .5625em; left: .5em; padding: 0; background: transparent; }
	header .nav-tabs { margin: 0; border: none; }
	header .nav-tabs ul { padding-right: 0; }
	header .nav-tabs > li > a { padding: .25em .5em; background: transparent; border-radius: 4px; border: none; color: #fff; }
	header .nav a:hover, header .nav a:focus { border: none; background: rgba(255,255,255,0.1); text-shadow: none; }
	header .nav a:active { background: #fff; color: #000; }
	header .fda-masthead-search { padding: .5em 0 .5625em 0; background: #005F9F; }
	.input-group .form-control:not(:first-child):not(:last-child) { border-bottom-left-radius: 4px; border-top-left-radius: 4px; }
	header .icon-search { position: relative; top: -.0625em; }
	.search-collapse { margin-top: .6875em; }
	.hamburger { margin-left: 0; border: 1px solid rgba(255,255,255,0.25); border-radius: 4px; }
	#trigger { margin-right: 0;}

.main { padding: 0; }
	.crumbs-container { padding: 0; }
	.breadcrumb { margin: 0 0 1.25em 0; background: #eee; border-radius: 0; font-size: .75em; }
	.breadcrumb li { display: none; margin: 0; }
	.breadcrumb li.last, .breadcrumb.contentpage li.secondLast { display: none; }
	.breadcrumb li.secondLast {display: inline-block; }
	.breadcrumb li.secondLast:before {
		padding: 0 .375em 0 0;
		font-family: "FontAwesome", sans-serif;
		content: '\f053\00A0\00A0 back to';
		*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf053;');
		color: #666;
		-webkit-font-smoothing: antialiased;
	}
	.breadcrumb.contentpage li.last {display: inline-block; }
	.breadcrumb.contentpage li.last:before {
		padding: 0 .375em 0 0;
		font-family: "FontAwesome", sans-serif;
		content: '\f053\00A0\00A0 back to';
		*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf053;');
		color: #666;
		-webkit-font-smoothing: antialiased;
	}
	.breadcrumb li a { color: #333; }
	.middle-column h1 { margin: 0 0 .75em 0; font-weight: bold; line-height: 1; }
	.middle-column header h1 {margin-bottom:0;}
	.middle-column header {margin-bottom:1.5em;}
	.well-section-search { margin: 1.875em 0 0 0; padding: .75em 1.0625em;  }
	.well-section-search .nav-justified { margin-top: .625em; }
	.well-section-search .nav-justified > li > a { padding: .5em 0; font-size: .75em; }
	.well-section-search li > a:hover, .well-section-search li > a:focus { background: transparent; text-decoration: underline; }
	.box { margin: 2em 0 0 0; font-size: .875em; }
	.box + .box { margin-top: 1em; }
	.sub-content .box { margin-top: 1em; }
	.box .panel-heading { background: #eee; }
	.panel-title { font-size: 1em; }
	.box p { margin-bottom: 1em; }
	.box p:empty { display: none; }
	.box li > p { margin-bottom: 0em; }
	.box ul { margin: 0; }
	.box li + li { margin-top: .75em; }
	.box + p { margin-top: 1.3125em; }
	#Resources_for_You { margin-top: 1em; }
	.right_subtopic { margin-top: 1em; }
	.subcontent_head4 { display: block; margin-top: 1em; }
	.subcontent_head4:first-child { margin-top: 0; }
	.left_subtopic p, .right_subtopic p { font-size: .875em; }
	.right-column .box { margin-top: 1em; }
	.contact-us { font-size: .875em; }
	.div-info { margin-top: 1em; }
	.div-name { font-weight: bold; }
	.div-address p { margin: 0; }
	.pagetools-bottom { margin: 1.75em 0 1.25em; line-height: 1; }

	.footable a[data-page="first"],
	.footable a[data-page="prev"],
	.footable a[data-page="next"],
	.footable a[data-page="last"] { display: none; visibility: hidden; }

footer { font-size: .875em; text-align: center; }
	.footer-heading { padding: .75em 0; background: #003152; }
	.footer-heading ul { margin-top: 0; }
	.footer-heading li { width: 49%; margin: 0; }
	.footer-heading .nav > li > a { padding: .75em; line-height: 1.25; color: #fff; }
	.footer-heading .nav a:hover, .footer-heading .nav a:focus { background: rgba(255,255,255,0.1); }
	.footer-content { }
	.footer-content address { margin: 1.25em 0;}
	.footer-content .btn-contact{margin-top: .5em;}
	.social-links { padding: .5em 0; background: #555; font-size: 1.6875em; }
	.social-links a { padding: 0 .25em; color: #fff; }
	.social-links a:hover, .social-links a:focus { text-decoration: none; color: rgba(255,255,255,0.5); }
	.back-to-top { padding: .375em 0; background: #ff8d00; }
	.back-to-top a { font-size: 1.75em; color: #fff; }
	.back-to-top a:hover, .back-to-top a:focus { text-decoration: none; color: rgba(255,255,255,0.5); }


/* 480px + up (smartphone landscape / phablet)
--------------------------------------------- */
@media (max-width: 20em ) {
	img.pull-left, img.pull-right { float: none; min-width: 100%; margin: 1em 0 .875em 0; }
}

@media (min-width: 30em) {
	.fda-name { padding-left: 0em; }
	.fda-name h1, .fda-name h2 { margin: 1.25em 0 0 0; font-size: .875em; font-weight: bold; }
	/* .panel-body .footable th:first-child { width: 90%; } */
	.footable a[data-page="first"],
	.footable a[data-page="prev"],
	.footable a[data-page="next"],
	.footable a[data-page="last"] { display: block; visibility: visible; }
}

@media (min-width: 35em) {
	.fda-name h1, .fda-name h2 { margin: 1em 0 0 -1.375em; font-size: 1em; }
}

@media (min-width: 47em) {
	.footer-heading .gov-webicon.fda.white { display: none; }
	.footer-heading li.hidden-xs, .footer-links.hidden-xs { display: none !important; }
}


/* 768px + up (tablet portrait)
--------------------------------------------- */
@media (min-width: 48em) {

	.img-responsive { margin: 1em auto .875em auto; }
	p.text-center > .img-responsive { margin-bottom: 1em; }
	.img-responsive.frame-white { margin: 1em auto .875em auto; }

	.table { font-size: .75em; }
	.filter-recalls { padding-bottom: 1.875em;}
	.filter-recalls .form-group {	width: 38.5%; margin-right: 2%; }
	.clear-filter { margin-top: 1.5em; }

	.more_links a { width: inherit; }

	.container { max-width: 100%; }

	.fda-masthead { padding: .875em 0 1em 0; }
		.fda-masthead .gov-webicon.fda.white { width: 192px; height: 48px; margin: 0 0 0 0; }
		.fda-logo { left: 3.875em; }
		.fda-name { padding-left: 2.5em; }
		.fda-name h1, .fda-name h2 { margin: .9375em 0 0 -.375em; font-size: .875em; }

	nav { top: .6875em; left: 1em; }
		header .nav-tabs > li > a { font-size: 1.5em; }
		header .fda-masthead-search { margin-top: .125em; padding: 0; background: transparent; }

	.main { }
		.breadcrumb { padding: .5em 6.5625em; }
		.breadcrumb li { display: inline-block; margin: 0; }
		.breadcrumb li.last, .breadcrumb.contentpage li.secondLast { display: inline; }
		.breadcrumb li:after {
			font-family: "FontAwesome";
			font-size: .75em;
			content: '\f054';
			*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf054;');
			padding: 0 .25em 0 .875em;
			color: #999;
			-webkit-font-smoothing: antialiased;
		}
		.breadcrumb.contentpage li.last:before, .breadcrumb li.last:after { content: none; padding: 0; }
		.breadcrumb li.secondLast:before { content: none; padding: 0; }
		.breadcrumb li a { border-bottom: none; }
		.breadcrumb li a:hover, .breadcrumb li a:focus { text-decoration: underline; border-bottom: none; }
		.homepage .alert-dismissable .close { top: -.25em; }
		.homepage .tabs-container h3 { margin: 0; font-size: .875em; }
		.homepage .tab-content { margin-top: 0; border-top: 0; border-top-left-radius: 0; border-top-right-radius: 0; }
		.homepage .btn-sm.btn-primary { width: inherit; }
		.homepage .follow-fda .icon-chevron-sign-right { position: relative; margin: 0; font-size: 1em; }
		.middle-column, .left-column, .right-column { max-width: 40em; margin: 0 auto; }
		.aside { float: right; margin: 0 0 1.25em 1.5em; }
		.aside + p { margin-top: 1em; }
		p + .aside { margin-top: 1.25em; }
		hr + .aside { margin-top: 0; }
		.aside > img { min-width: inherit; }
		.aside-cu { width: 310px; }
		.div-info { margin-top: 0; }
		.div-name { line-height: 1.3125; }
		.pagetools-bottom { margin: 2em .875em 1em .875em; }

	footer { font-size: .75em; text-align: left; }
		.footer-heading { padding: .75em 1em; }
		.footer-heading .gov-webicon.fda.white { display: block; width: 37px; height: 39px; margin-top: 3px; background: url("/ucm/groups/fdagov-public/@system/documents/system/fda-square-white.svg"); }
		.footer-heading ul { float: right; }
		.footer-heading li { width: inherit; font-size: 1em; }
		.footer-heading li.hidden-xs { display: block !important; }
		.footer-heading .nav > li > a { padding: .625em; line-height: 1.875; }
		.footer-content { padding: 1.625em 0 0 0; }
		.footer-content address { margin: 0; padding: 0 1.125em; }
		.social-links { margin: .6875em 0 0 0; padding: 0 1em; background: transparent; font-size: 2em; text-align: right; }
		.social-links a { padding: 0 .625em; color: #005F9F; }
		.social-links a:hover, .social-links a:focus { text-decoration: none; color: #174868; }
		.footer-links.hidden-xs { display: block !important; }
		.footer-links { margin: 1.6875em 0 0 0; padding: 1.625em 1.125em; background: #323232; }
		.footer-links .nav, .footer-links .nav li { margin: 0; }
		.footer-links .nav a { color: #fff; }
		.footer-links .nav a:hover, .footer-links .nav a:focus { text-decoration: none; background: rgba(255,255,255,0.1); }

}


/* Up to 768px (smartphone + tablet portrait)
--------------------------------------------- */
@media (max-width: 48em) {

	.table-responsive { /*padding-top: .25em;*/ }
	.table-responsive .table { margin: 0; }
	caption { /*margin-top: .5em;*/ border: none; text-align: left; }
/*
	.table-responsive:before {
		content: "Swipe table to view more columns";
		width: 100%;
		padding: 0 .375em;
		font-size: .75em;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
*/
}


/* 992px + up (tablet landscape + desktop)
--------------------------------------------- */
@media (min-width: 62em) {

	body { background: #eee; }
	.table { font-size: .875em; }
	.filter-recalls .form-group {	width: 40%; margin-right: 2%; }

	.container {
		max-width: 1002px;
		background: #fff;
		border-left: 1px solid #a2a2a2;
		border-right: 1px solid #a2a2a2;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	}

	.hhs-masthead .gov-webicon.hhs.white { float: left; width: 25px; height: 32px; margin-right: 1em; }
	.hhs-masthead {
		padding: .125em 0 .25em 0;
		font-size: .625em;
		letter-spacing: 1px;
		border-bottom: 1px solid #646464;
	}

	.hhs-masthead span { display: block; padding-top: 1em; }

	.fda-masthead {	min-height: 144px; margin-bottom: -28px; }
		.fda-masthead .gov-webicon.fda.white { width: 288px; height: 72px; margin: 0 0 0 0; }
		.fda-masthead-left { margin-top: 0.25em; }
		.fda-logo { left: 0; }
		.fda-name { padding-left: 1.4375em; }
		.fda-name h1, .fda-name h2 { margin: 0 0 0 0; font-size: 1.25em; }
		.fda-tagline { margin-top: .3125em; }
		.fda-masthead-right { margin-top: .6875em; }
		.fda-masthead-links { font-size: .625em; }
		.fda-masthead-links .nav-pills { margin: 0 0 0 -1em; }
		.fda-masthead-links .nav-pills > li { margin: 0; border-right: 1px solid #fff; }
		.fda-masthead-links .nav-pills > li.last { border-right: 0; }
		.fda-masthead-links .nav-pills > li > a { padding: 0 1em; }
		.fda-masthead-links .nav a:hover, .fda-masthead-links .nav a:focus { background: transparent; text-decoration: underline; }
		header .fda-masthead-search { margin: .625em -15px; }
		header .form-control {
			height: 30px;
			padding: 5px 7px;
			font-size: .75em;
			line-height: 1.5;
			border-radius: 4px;
		}
		header .btn {
			padding: 5px 10px;
			font-size: .75em;
			line-height: 1.5;
			border-radius: 4px;
		}

	nav.fda-topmenu { position: relative; top: 0; left: -2px; background: transparent; }
		.hamburger { border: none; }
		header .nav-tabs { display: inline-block; }
		header .nav-tabs > li { margin: 0; }
		header .nav-tabs > li > a {
			margin: 0 0 0 2px;
			padding: 6px 9px;
			background: #deedf9;
			background: -moz-linear-gradient(bottom, #C2DDF4 25%, #fff 75%);
			background: -webkit-gradient( linear,	left bottom, left top, color-stop(0.25, #C2DDF4), color-stop(0.75, #fff));
			background: -webkit-linear-gradient(bottom, #C2DDF4 25%, #fff 75%);
			background: -o-linear-gradient(bottom, #C2DDF4 25%, #fff 75%);
			background: -ms-linear-gradient(bottom, #C2DDF4 25%, #fff 75%);
			background: linear-gradient(bottom, #C2DDF4 25%, #fff 75%);
			border-radius: 4px 4px 0 0;
			border-color: #fff;
			border-bottom: 1px;
			font-family: Arial, sans-serif;
			font-size: 12px;
			color: #000;
		}
		.lt-ie9 header .nav-tabs > li > a { padding: 6px }
		header .nav-tabs li > a:hover, header .nav-tabs li > a:focus { background: #fff; }

	.main { padding: 0 .3125em; }
		.homepage .content { margin-top: .4375em; }
		.homepage .alert-dismissable { margin: 0; }
		.homepage .tabs-container { margin-bottom: 2em; }
		.homepage .regulatory-follow .box { margin-top: 1.5em; }
		.homepage .initiatives-about .box { margin-top: 1.75em; }
		.section-title { padding: .125em 0 .25em 0; font-size: 1.25em; }
		.section-title h1,.section-title h2 { margin: 0; padding: 0 0 .125em 0; font-size: 1em; font-weight: bold; line-height: 1.375; }
		.page-options .nav { float: right; margin-top: 0; }
		.page-options li { margin-top: 0; }
		.page-options li + li { margin-left: 0; }
		.page-options .nav > li > a { padding: .125em .375em; font-size: .875em; }
		.crumbs-container { padding: 0 1em; }
		.breadcrumb { margin-bottom: 1.75em; padding: .75em 1.25em; border-radius: 4px; }
		.left-column { font-size: .75em; }
		.section-menu { margin-bottom: 0; }
		.box { font-size: 1em; }
		#Resources_for_You { margin-top: 1.75em; }
		.right-column { font-size: .75em; }
		.contact-us { font-size: 1em; }
		.right-column .box { margin: 0; }
		.right-column .box ~ .box { margin-top: 1.75em; }
		.div-info { margin-top: 1.25em; }
		.middle-column { max-width: 100%; font-size: .875em; }
		.sub-content { margin-top: 2em; }
		.right_subtopic { margin-top: 0; }
		.left_subtopic p, .right_subtopic p { font-size: 1em; }
		.sub-content .panel-body { font-size: .875em; }
		.sub-content .well { margin: 2em 0 0.5em 0; padding: .75em; background: #eee; }
		.sub-left-column .box { margin-top: 2em; }
		.sub-right-column .box { margin-top: 1.75em; }
		.sub-right-column .box + .box, .middle-column .box + .box { margin-top: 1.5em; }
		.sub-left-column .panel-title, .sub-right-column .panel-title { font-size: .875em; }
		.callout, .alert { margin: 1.375em 0; }
		.aside-cu { width: 320px; }
		.well-section-search .nav-justified > li > a { font-size: .875em; }
		.pagetools-bottom { margin: 2em 0 1em 0; }

	.footer-heading { padding: .75em .125em; background: #003152; }
		.footer-heading .nav > li > a { padding: .75em 1.125em; }
		.footer-content { padding: .625em .25em 2.4375em .25em; }
		.footer-content address { margin: .875em 0 0 0; padding: 0; }
		.social-links { margin: 1.375em 0 0 0; font-size: 1em; text-align: left; }
		.social-links a { padding: 0 .25em; color: #005F9F; }
		.footer-links { margin: 0; padding: 0 .75em; background: transparent; }
		.footer-links .nav a { color: #005F9F; }
		.footer-links .nav a:hover, .footer-links .nav a:focus { text-decoration: none; background: #eee; }

}


/* Layout adjustments
--------------------------------------------- */

@media (min-width: 30.0625em) and (max-width: 47em) {
	.fda-voice-callout { display: none !important; }
}

@media screen and (min-width: 47.01em) {
.more-share {display: none !important;}
.hidden-more-share{display: none;}
.share-list .show {display: none !important;}
}

@media (min-width: 47.0625em) and (max-width: 47.9375em) {
	.big-btns.visible-xs, .btn.visible-xs, .box.visible-xs, .visible-xs.visible-sm { display: block !important; }
	.tabs-container.hidden-xs, .btn-group.hidden-xs, .box.hidden-xs, .row.hidden-xs, .footer-heading li .hidden-xs { display: none !important; }
}

@media (min-width: 62em) and (max-width: 63.625em) {
	header .nav-tabs > li > a { padding: 6px 7px; }
}

@media (min-width: 64em) and (max-width: 64em) {
	header .input-group { margin-right: .125em;}
}

@media (min-width: 74em) and (max-width: 75em) {
	.hhs-masthead, .fda-tagline, .fda-masthead-links, .fda-topmenu li, .section-title, .left-column, .section-search { display: block !important; }
	#page-feature .clearfix { display: none !important; }
	.icon-chevron-left { display: none !important; }
	.back-to-top { display: none !important; }
}


/* Slideshow
--------------------------------------------- */

#slideshow_wrap { position: relative; width: 100%; }
#slideshow { overflow: hidden; width: 100%; }
#slide_container{ position: relative; left: 0px; }
#page-feature .curr_slide { width: 100% }
#page-feature .curr_slide a img{ width: 100% }

.slide_desc { position: relative; min-height: 56px; padding: .5em 1em .75em 1em; background: rgba(44,62,80,.85); border-top: 2px solid #d12212; color: #fff; }

#slideshow_wrap ul { margin:0; padding:0; }
.slideshow_ul li { list-style: none outside none; }
.slideshow_ul h2 { margin: 0; }
.slideshow_ul img { width: 100%; }

.slide_desc_in { width: 100%; }
.slide_title h2 { margin: 0; font-size: 1em; }
.slide_title a, .slide_title a:visited { color:#fff; text-decoration: none; border-bottom: 1px dotted; }
.slide_title a:hover, .slide_title a:focus { text-decoration: none !important; border-bottom: 1px solid; }
.slide_subtitle { display: none; }

.ul_nav { position: relative; z-index:10; margin-bottom: 0 !important; }
.ul_nav li { display: inline-block; list-style: none outside none; margin:.875em .25em 0 .25em; z-index:10; }
.ul_nav li:first-child { margin-left: .5em;}
.ul_nav li a { text-decoration: none; border-bottom: none !important; }
.ul_nav li a img { border:none; z-index: 10; }
.ul_nav li p {}

@media (min-width: 48em) {
	.slide_desc { height: 78px; }
	.slide_title h2 { margin: 0 0 .125em 0; font-size: 1.0625em; }
	.slide_subtitle { display: block; line-height: 1.25; font-size: .9375em; -webkit-font-smoothing: antialiased; }
	.slide_subtitle a { color: #fff; }
	.slide_subtitle a:hover, .slide_subtitle a:focus { color: #fff; text-decoration: underline;}
	.ul_nav li:first-child { margin-left: .1875em;}
}

@media (max-width: 62em) {
	#slide_container { overflow: auto; height: auto!important; }
	.curr_slide { height: auto!important; }
	.slide_desc { background: #003152; }
	.slide_desc .slide_desc_in { margin: 0px; }
}

@media (min-width: 62em) {
	.slide_desc { bottom: 75px; height: 76px; padding: .6875em 1.25em; }
	.slide_desc_in { width: 80%; }
	.slide_title h2 { font-size: 1.1875em; }
	.slide_subtitle { display: block; line-height: 1.375; }
	.nav_wrap { position: relative; bottom: 3.625em; right: 1.25em; }
	.ul_nav { float: right; }
	.ul_nav li { margin-top: 0; }
	.ul_nav li:first-child { margin-left: 0;}
}

#page-feature  #curr_slide, #page-feature  .curr_slide {width: auto; float: left}


.no-svg .gov-webicon.hhs.white { background: url("/ucm/groups/fdagov-public/@system/documents/system/gov_hhs_white.png"); }
.no-svg .fda-logo .gov-webicon.fda.white { background: url("/ucm/groups/fdagov-public/@system/documents/system/gov-fda-new-white-header-small.png"); }
.no-svg .footer-heading .gov-webicon.fda.white { background: url("/ucm/groups/fdagov-public/@system/documents/system/fda-square-white-small.png"); }

.lt-ie9 ul ul ul { list-style: disc; }
.lt-ie9 .table-elastic { width: auto !important; }

@media (min-width: 48em) {
	.lt-ie9 .homepage .tabs-container h3 { font-size: .875em; }
}

@media (min-width: 62em) {

	.lt-ie9 .scroller-container, .lt-ie9 .scroller { overflow: visible; height: inherit; }
	.lt-ie9 .scroller { overflow-y: inherit; }

	.lt-ie9 .text-center .frame-white { width: 100%; }
	.lt-ie9 .img-responsive { max-width: 100%; }


	.lt-ie9 .hhs-masthead span { padding-top: .875em; }
	.lt-ie9 .fda-masthead { height: 140px; }
	.lt-ie9 .fda-logo .gov-webicon.fda.white { float: left; }
	.lt-ie9 .fda-masthead-search { height: 30px; }
	.lt-ie9 .fda-masthead-search .form-control { float: left; width: 260px; }
	.lt-ie9 .fda-masthead-search .input-group-btn { float: left; }

	.lt-ie10 .slide_desc, .lt-ie9 .slide_desc {
		height: 78px !important;
		background:transparent;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF003152,endColorstr=#BF003152);
	  zoom: 1;
	 }
	.lt-ie9 .slide_desc_in { width: 560px; }
	.lt-ie9 .ul_nav li { float: left; }

	.lt-ie9 .homepage .row.visible-md.visible-lg.section-title { display: none !important; }
	.lt-ie9 .homepage .crumbs-container { height: 0; }
	.lt-ie9 .homepage .alert { min-height: 37px; margin-top: 1em; padding-bottom: 0; }
	.lt-ie9 .homepage .alert-dismissable .close { top: -4px; }
	.lt-ie9 .homepage button.close { padding: 0; }
	.lt-ie9 .homepage #page-feature { height: 265px; }
	.lt-ie9 .homepage #filmstrip { display: none; visibility: hidden; }
	.lt-ie9 .homepage #page-feature { height: 265px; }
	.lt-ie9 .homepage #slideshow_wrap { width: 630px !important; height: 265px !important; overflow: hidden; }
	.lt-ie9 .homepage #slideshow { width: 630px !important; height: 265px !important; }
	.lt-ie9 .homepage #page-feature .curr_slide a img { width: 630px !important; height: 265px !important; }
	.lt-ie9 .homepage .slide_desc_in { width: 475px; }
	.lt-ie9 .homepage .nav-tabs li { display: inline-block; float: left; width: 209px; margin: 0; }
	.lt-ie9 .homepage .sub-content .box.hidden-xs { margin-top: 1.75em; }
	.lt-ie9 .homepage .box .btn-group { margin-top: 1.25em; }
	.lt-ie9 .homepage .box .btn-group .btn {
		width: 139px;
		margin: 0 1px 0 0;
		padding: 5px 0;
		border: 1px solid transparent;
		background: #005F9F;
		border-color: #195074;
		color: #fff;
	}
	.lt-ie9 .homepage .box .btn-group .btn:hover { background: #174868; }

	.lt-ie9 .box-audiences { margin-bottom: 1.75em; }
	.lt-ie9 .homepage .sub-content .tab-content { max-width: 627px; }
	.lt-ie9 .homepage .sub-content .tab-pane .col-sm-4.col-md-4 { width: 199px; }
	.lt-ie9 .homepage .sub-content .tab-pane .col-sm-6.col-md-6 { width: 298px; }

	.lt-ie9 .crumbs-container li { display: inline; margin-right: 1em; }

	.lt-ie9 .sub-right-column .box { margin-bottom: 1.75em; }
	.lt-ie9 .col-md-9 .sub-right-column .form-control { float: left; width: 404px; }
	.lt-ie9 .sub-right-column .input-group-btn { float: left; }

	.lt-ie9 .flex-video { float: none; }

	.lt-ie9 .well-section-search .nav-justified > li { float: left; width: auto; margin: 0 0 0 15px; padding: 0; }
	.lt-ie9 .well-section-search .nav-justified > a { padding: 0; }
	.lt-ie9 .well-section-search .nav-justified > li:first-child { margin-left: 0; }

	.lt-ie9 .right-column .box { margin: 0 0 1.75em 0; }

	.lt-ie9 .footer-heading li { width: auto; }

}


/* IE 8 Support
--------------------------------------------- */
.lt-ie9 .col-md-6.middle-column .callout a,
.lt-ie9 .col-md-9.middle-column .callout a,
.lt-ie9 .col-md-12.middle-column .callout a,
.lt-ie9 .col-md-6.middle-column .alert a,
.lt-ie9 .col-md-9.middle-column .alert a,
.lt-ie9 .col-md-12.middle-column .alert a,
.lt-ie9 .col-md-6.middle-column a:hover,
.lt-ie9 .col-md-6.middle-column a:focus,
.lt-ie9 .col-md-9.middle-column a:hover,
.lt-ie9 .col-md-9.middle-column a:focus,
.lt-ie9 .col-md-12.middle-column a:hover,
.lt-ie9 .col-md-12.middle-column a:focus {
	text-decoration: underline;
}

.lt-ie9 .col-md-6.middle-column a,
.lt-ie9 .col-md-9.middle-column a,
.lt-ie9 .col-md-12.middle-column a,
.lt-ie9 .col-md-6.middle-column .callout a:hover,
.lt-ie9 .col-md-9.middle-column .callout a:hover,
.lt-ie9 .col-md-12.middle-column .callout a:hover,
.lt-ie9 .col-md-6.middle-column .alert a:hover,
.lt-ie9 .col-md-9.middle-column .alert a:hover,
.lt-ie9 .col-md-12.middle-column .alert a:hover,
.lt-ie9 .col-md-6.middle-column a.btn,
.lt-ie9 .col-md-9.middle-column a.btn,
.lt-ie9 .col-md-12.middle-column a.btn,
.lt-ie9 .col-md-6.middle-column a.btn:hover,
.lt-ie9 .col-md-6.middle-column a.btn:focus,
.lt-ie9 .col-md-9.middle-column a.btn:hover,
.lt-ie9 .col-md-9.middle-column a.btn:focus,
.lt-ie9 .col-md-12.middle-column a.btn:hover,
.lt-ie9 .col-md-12.middle-column a.btn:focus {
	text-decoration: none;
}

@media (min-width: 48em) {
	.no-svg .fda-logo .gov-webicon.fda.white { background: url("/ucm/groups/fdagov-public/@system/documents/system/gov-fda-new-white-header-medium.png"); }
	.lt-ie9 .footer-content .nav a:hover, .lt-ie9 .footer-content .nav a:focus { background: #405060; }
}

@media (min-width: 62em) {

	.lt-ie9	.filter-recalls .form-group {	width: 38%; margin-right: 2%; }
	.lt-ie9 .clear-filter { margin-top: 1.4375em; }
	.lt-ie9 .container { width: 1002px !important; }

	.lt-ie9 .hhs-masthead { padding: 0; }

	.lt-ie9 .fda-masthead { min-height: 110px; margin-bottom: -29px; }
	.lt-ie9	.fda-name { margin-top: .1875em; }
	.lt-ie9 .fda-tagline { margin-top: .125em; }
	.lt-ie9 .fda-masthead-links .nav a:hover, .fda-masthead-links .nav a:focus { background: transparent; }

	.lt-ie9 .fda-topmenu { top: 1px; }
	.lt-ie9	header .nav-tabs > li > a { background: #deedf9;  font-weight: bold; }
	.lt-ie9 header .nav a:hover, .lt-ie9 header .nav a:focus { background: #fff; }
	.lt-ie10 .hamburger, .lt-ie9 .hamburger { display: none; }
	.lt-ie9 .breadcrumb li { margin-right: 0; }

	.lt-ie9 .homepage .content { margin-top: .875em; }
	.lt-ie9 .homepage .alert { min-height: inherit; padding-bottom: 15px; }
	.lt-ie9 .homepage .alert-dismissable .close { top: -2px; }
	.lt-ie9	.well-section-search .nav-justified > li > a { font-size: 11px; }

	.lt-ie9 .footer-heading .nav a:hover, .lt-ie9 .footer-heading .nav a:focus { background: transparent; text-decoration: underline; }
	.lt-ie9 .footer-content .nav a:hover, .lt-ie9 .footer-content .nav a:focus { background: #eee; }
	.lt-ie9 .footer-links .nav li { font-size: 11px; }
}


/* IE 9 Support
--------------------------------------------- */

@media (min-width: 62em) {

	.lt-ie10 .fda-topmenu { left: -1px; }

}

/* Push Menu
--------------------------------------------- */
/*html, */ body, .scroller-container, .scroller {
	height: 100%;
}
.noScroll {
	overflow:hidden;
	height:100%;
}
/*.scroller {
	 overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}*/

.scroller,
.scroller-inner {
	position: relative;
}

.scroller-container {
	position: relative;
	overflow: hidden;
	background: transparent;
}

.mp-pusher {
	position: relative;
	left: 0;
	height: 100%;
}

.mp-menu {
	position: absolute; /* we can't use fixed here :( */
	top: 0;
	left: 0;
	z-index: 1;
	width: 14.625em;
	height: 100%;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.mp-level {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #323232; /* default=#336ca6 */
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: '';
	opacity: 0;
}

.mp-pusher::after,
.mp-level::after {
	background: rgba(0,0,0,0.2);
	-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	-moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mp-level::after {
	z-index: -1;
}

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.mp-level.mp-level-overlay {
	cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level::before {
	width: 100%;
	height: 100%;
	background: transparent;
	opacity: 1;
}

.mp-pusher,
.mp-level {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
	box-shadow: 1px 0 2px rgba(0,0,0,0.2);
	-webkit-transform: translate3d(-40px, 0, 0);
	-moz-transform: translate3d(-40px, 0, 0);
	transform: translate3d(-40px, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
	box-shadow: none;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.mp-menu > .mp-level { visibility:hidden }
.mp-menu > .mp-level.mp-level-open { visibility:visible }

/* content style */
.mp-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mp-menu h2 {
	margin: 0;
	padding: .75em;
	font-size: .625em;
	font-weight: bold;
	letter-spacing: .125em;
	text-transform: uppercase;
	color: #d9d9d9;
}

.mp-menu.mp-overlap h2::before {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 8px;
	font-size: 75%;
	line-height: 1.8;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
	transition: opacity 0.3s, transform 0.1s 0.3s;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);
}

.mp-menu.mp-cover h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.mp-overlap .mp-level.mp-level-overlay > h2::before {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
}

.mp-menu li {
	margin: 0;
}

.mp-menu ul li > a {
	display: block;
	padding: .625em 0 .75em 2.5em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .875em;
	font-weight: normal;
	line-height: 1.25;
	color: #fff;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.mp-menu ul li::before {
	position: absolute;
	left: 10px;
	z-index: -1;
	color: rgba(255,255,255,0.25);
	line-height: 2.375;
}

.mp-level > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mp-back {
	display: block;
	position: relative;
	padding: .75em;
	background: rgba(0,0,0,0.1);
	box-shadow: inset 0 1px rgba(0,0,0,0.1);
	outline: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.75em;
	text-transform: uppercase;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
}

.mp-back::after {
	font-family: "FontAwesome";
	position: absolute;
	content: "\f054";
  *zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf054;');
	right: 1em;
	font-size: 1.25em;
	font-weight: normal;
	line-height: 1.25;
	color: #70c6ff;
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
	background: transparent;
	box-shadow: none;
	color: transparent;
}

.mp-menu .icon-home:before { color: #fff; }
.mp-menu .icon-warning-sign:before { color: #f27266; }
.mp-menu .icon-bullhorn:before { color: #f2b866; }
.mp-menu .icon-chevron-left:before { color: #70c6ff; }
.mp-menu .mp-back { color: #fff; }

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */

.lt-ie9 .mp-pusher,
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
	padding-left: 0;
}

.lt-ie9 .hamburger,
.lt-ie10 .hamburger,
.lt-ie9 .mp-menu,
.lt-ie10 .mp-menu,
.no-csstransforms3d .mp-menu,
.no-js .mp-menu {
	display: none !important;
	visibility: hidden;
}

.no-csstransforms3d .scroller,
.no-js .scroller {
	overflow: scroll;
	-webkit-overflow-scrolling: auto;
}
.lt-ie10 .scroller {
	overflow: auto;
}


/* Editor Fixes
--------------------------------------------- */
#sp-main-admin { font-size: .8em; margin-top: .5em}
.rss_indicator {display: none;}


/* Pagination
--------------------------------------------- */
ul.pagination-clean{}
.pagination-clean li{display:inline;border:0 none;font-size:.9em;list-style:none outside none;margin:0;padding:3px 1px}
.pagination-clean .previous-off,.pagination-clean .next-off{color:#888;font-weight:700;padding:3px 4px}
.pagination-clean .next a,.pagination-clean .previous a{border:1px solid #FFF;font-weight:700}
.pagination-clean .active{color:#000;font-weight:700;padding:4px 6px}
.pagination-clean a:link,.pagination-clean a:visited{color:#03C;padding:3px 6px;text-decoration:none}
.pagination-clean a:hover{text-decoration:none}
.pagination-clean .count{padding:3px 4px}


/* 508
--------------------------------------------- */
.hhs-masthead { background: #323232; color: #fff; }
.fda-masthead-links a { color: #fff; }
.sr-only a, span.sr-only { color: #000; }
span.icon-reorder .sr-only, span.icon-search .sr-only, .social-links .sr-only { color: #fff; }
.nav-tabs li.visible-md.visible-lg a { color: #fff; }

.sr-only {
	padding: 0 !important;
	margin: -1px !important;
	clip: rect(1px, 1px, 1px, 1px);
}

.lt-ie10 .section-search .sr-only, .lt-ie9 .section-search .sr-only {
	padding: 2px 0 !important;
	width:100%;
	display: table-header-group;
	position:inherit;
	height:18px;
}

@media (min-width: 48em) {
	.social-links .sr-only { color: #000; }
}

@media (min-width: 62em) {
	span.icon-reorder .sr-only { color: #000; }
	.nav-tabs li.visible-md.visible-lg a { color: #000; }
}

.quicklinks ul { list-style: none; margin: 0; padding: 0; *height: 0; }
.quicklinks li { display: inline; margin: 0; padding: 0; }
.quicklinks a {background: #000; color:#FFF;height:1px;left:-1000px;overflow:hidden;position:absolute;text-align:left;top:-100px;width:1px}
.quicklinks a:active, .quicklinks a:focus {background:#008ECE;height:auto;left:0;overflow:auto;padding:.5em 1em;text-decoration:none;top:0;width:100%;z-index:2;}


/* Print Styles
--------------------------------------------- */
@media print {

	body { width: 100%; margin: 0 auto; float: none; background: #fff; }

	body { font: 11pt "Helvetica Neue",Helvetica,Arial,sans-serif; color: #000; line-height: 1.25; }
	h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; color: #000; }
	h1 { font-size: 250%; }
	h2 { font-size: 175%; }
	h3 { font-size: 135%; }
	h4 { font-size: 100%; }
	h5 { font-size: 100%; }
	h6 { font-size: 90%; }

	a:link, a:visited { color: #00c; font-weight: bold; text-decoration: underline; }
	#content a:link:after, #content a:visited:after { content: " (" attr(href) ") "; }

	.scroller, .scroller-container, .table-responsive { overflow: visible !important; }
	.container { border: none; }

	.quicklinks, .row.visible-md.visible-lg.hhs-masthead, .fda-logo, .fda-masthead-right, .row.visible-md.visible-lg.fda-masthead-links, .fda-topmenu, li.visible-md.visible-lg, .row.visible-md.visible-lg.section-title, .section-title h2, .page-options, .crumbs-container, .col-md-3.visible-md.visible-lg.left-column, .flex-video iframe, .well-section-search, .pagetools-bottom, .footer-heading, .footer-content, .back-to-top, .sr-only, .mp-menu, .mp-level, .well.visible-md.visible-lg.section-search {
		display: none !important; visibility: hidden !important; width: 0; height: 0; border: none !important;
	}

	.middle-column, .right-column { float: none; width: 100%; margin: 1.75em 0 0 0; position:relative; left:0; }
	.fda-name h1, .fda-name h2 { margin: 0; padding: 0; }
	p.visible-md.visible-lg.fda-tagline { display: block !important; }
	.callout, .alert, .callout hr, .alert hr, .panel { border-color: #ddd; }
	.flex-video.widescreen,	.flex-video.vimeo { padding: 1em 0 2em 0; }
	.flex-video:before { content: "Embedded Video";	font-weight: bold; }
	.table-responsive { padding: 0; border: none; }
	.table-responsive:before { content: none; padding: 0; }
	.table-responsive>.table>thead>tr>th,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tfoot>tr>td { font-size: 10pt; white-space: normal !important; }
	.table-striped thead > th, .table-striped tr > th	{ background: #fff; }
.share-btns {display: none;}

}

.searchlable {display: none;}

/* For CTP MotionPoint En Espanol */
:lang(es) .fda-name h1, .fda-name h2 { margin-top: 1.25em; }
:lang(es) .mp-menu ul li > a { font-size: .8125em; }

@media (min-width: 48em) {
	:lang(es) .fda-name h1, .fda-name h2 { margin-top: .375em; }
	:lang(es) .footer-heading .nav > li > a { padding: .75em .5em; }
	:lang(es) .footer-links .nav a { padding: 10px 6px; font-size: 10px; }
}

@media (min-width: 62em) {
	:lang(es) .fda-name h1, .fda-name h2 { font-size: 1.125em; }
	:lang(es) header .nav-tabs > li > a { padding: 6px 7px; }
}

/* FDA Basics feedback form */
#RatingForm .nodisp { display:none }
#RatingForm input { margin-right:0.5em }

/* Photogallery */
.cu_slideshow .img-responsive { margin: 0px; }
.cu_slideshow { border: 1px solid #aaa;padding: 2px;position: relative;width: 100%; }
.cu_slideshow #slideshow { width: 100%; }
.cu_slideshow #slide_container { background: none repeat scroll 0 0 #000; width: 100%; left:0 !important }
.cu_slideshow .curr_slide { background: #000; overflow: hidden; text-align: center; width: 100%; }
.cu_slideshow .slide_desc { display:none; }
.cu_slideshow .slide_subtitle { float: left; padding: 4px; }
.cu_slideshow .nav_wrap { position: static; }
.cu_slideshow .ul_nav { float: right; padding: 0; }
.cu_slideshow .ul_nav .cu_nav_button { background-image: none; }
.cu_slideshow .ul_nav a { color: #005f9f; text-decoration: none; border-bottom:none !important; font-size:1.5em; margin:10px; display: inline-block; height:40px; width:40px; text-align:center; padding-top:6px; }
.cu_slideshow .ul_nav a:hover { color: #039; }
.cu_slideshow .icon-chevron-left, .cu_slideshow .icon-chevron-right { display:inline-block !important }
.cu_slideshow #caption { font-family: Arial,Helvetica,sans-serif; padding: 10px; }
.cu_slideshow #caption h3 { margin: 18px 0 }
.cu_slideshow .curr_slide img { height: 250px; margin: 0px auto; }

@media (max-width: 48em) {
	.cu_slideshow .ul_nav { display:none; }
	.cu_slideshow #caption h3 { margin: 5px 0 }
}

/* FDA Basics star rating */
.star-rating {
	font-size: 0;
	white-space: nowrap;
	display: inline-block;
	width: 220px;
	height: 44px;
	overflow: hidden;
	position: relative;
	background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
	background-size: contain;
}
.star-rating span {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 20%;
	z-index: 1;
	background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
	background-size: contain;
}
.star-rating input {
	-moz-appearance: none;
	-webkit-appearance: none;
	opacity: 0;
	display: inline-block;
	width: 20%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 2;
	position: relative;
}
.star-rating input:hover + span,
.star-rating input:checked + span {
	opacity: 1;
}
.star-rating span ~ span {
	width: 40%;
}
.star-rating span ~ span ~ span {
	width: 60%;
}
.star-rating span ~ span ~ span ~ span {
	width: 80%;
}
.star-rating span ~ span ~ span ~ span ~ span {
	width: 100%;
}
 .lt-ie9 form[name="fda101"] label { display: block; } 
