@charset "utf-8";
.wrapper{width:980px;min-width:980px;margin:0 auto;background:#fff;position:relative;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*top*/
.top{line-height:34px;overflow:hidden;font-size:12px;}
.top_links{float:left;}
.top a{margin-left:1.5em;display:inline-block;}
.top_menu{float:right;overflow:hidden;font: 12px/26px Verdana,Geneva,sans-serif,"宋体"; }
.top_menu p.p_2013{float:left;margin-left:1.5em;margin-top: 0px;margin-bottom: 0px;font-size:14px;text-indent:0px;line-height:29px;}
.top_menu p.p_2013,.phone,.footer_phone p{font-family:"微软雅黑";line-height:29px;background:url(boc2013_top_icon.png) no-repeat;font-size:14px;text-indent:0px;padding-left:26px;}
.area_box2 dl dd{background:url(boc2013_top_icon.png) no-repeat;text-indent:0px;padding-left:26px;}
#top_info{background-position:0 -50px;}
#top_service{background-position:0 -91px;}
#top_network{background-position:0 -133px;margin-right:1.5em;}
.top_serve{padding:20px;border:1px solid #dadada;border-radius:5px;background:#fff;z-index:10;}
.top .top_menu a{background:none;margin:0;padding:0;font-family:"宋体";font-size:12px;line-height:34px;}

/*header*/

.header_area{overflow:hidden;clear:both;margin:0 1.5em;border-bottom:3px solid #a71e32;}
.header{border:1px solid #dadada;border-radius:5px;box-shadow:0 2px 6px #eeeeee;font-family:"微软雅黑";background:#fff;}
.logo{float:left;width:175px;height:49px;display:inline;margin:23px 0 0px 0;padding-bottom:19px;}
.logo a{background:url(boc2013_logo.png) no-repeat;display:block;width:175px;height:49px;}
.header_info{float:right;height:29px;margin-top:46px;font-size:13px; width:565px;margin-right:15px;}
.phone{background-position:0 4px;float:left;line-height:29px;margin: 0px;
color: #535353;}
.phone span{color:#a71e32;padding-right:18px;}
.search_bar{width:218px;height:27px;border:1px solid #dadada;border-radius:3px;float:right;}
.search_ipt{width:186px;border:0;height:27px;vertical-align:middle;background:none;margin:0;padding:0 0 0 4px;float:left;}
.search_btn{background:url(boc2013_search1.png) no-repeat center 5px;width:28px;height:27px;;border:0;cursor:pointer;padding:0;margin:0;}
/*nav*/
.nav_2013{height:58px;position:relative;z-index:10;line-height:58px;font-size:16px;color:#000;clear:both;}
.menu li.li_2013{float:left;display:inline;width:12.5%;text-align:center;position:relative;}
.menu li.li_2013 a{display:block;color:#000000;height:42px;margin-top:16px;line-height:25px;}
.menu li.current a{color:#a71e32;}
.sub_menu{position:absolute;left:0;top:58px;visibility:hidden;width:99.8%;background:#f9f8f9;border:1px solid #dadada;border-width:1px 1px 1px 1px;border-radius:0 0 5px 5px;z-index:13;box-shadow:inset 1px 0px 6px #eeeeee;}
.sub_menu i{background:url(boc2013_a_hover.png) no-repeat;width:14px;height:10px;position:absolute;top:-7px;margin-left:-6px;}
.sub_area{padding:20px;line-height:32px;font-size:14px;color:#535353;}
.sub_area .sub_nav{width:21%;padding-left:30px;list-style:none;background:url(boc2013_dot_liney.gif) repeat-y right 0;float:left;height:130px;}
.sub_area .sub_nav li.li_2013 {background:url(boc2013_dot_icon.png) no-repeat 0 -72px;line-height:32px;padding-left:16px;}
.sub_area .sub_nav li.li_2013 a{font-family:"微软雅黑";color:#535353;font-size:14px;}
.sub_pic{padding-left:3.75em;width:40%;float:left;}
.sub_area .sub_pic a{display:block; font-family:"微软雅黑";font-size:14px;line-height:32px;color:#535353;}
.sub_area .sub_pic li.li_2013 span{cursor:pointer;width:35%;margin-right:20px;background:url(boc2013_dot_icon.png) no-repeat 0 -72px;font-family:"微软雅黑";color:#535353;font-size:14px;line-height:32px;padding-left:14px;display:inline-block;line-height:24px;}
.sub_area .last{background:none;}
.sub_area .sub_nav li.li_2013 a:hover,.sub_area .sub_pic a:hover,.sub_area .sub_pic li.li_2013 span:hover{color:#ff6633;}
.sub_pic img,.sub_area .sub_ad img{vertical-align:top;margin:0px 0 10px 0px;border:1px solid #dadada;border-radius:5px;}
.sub_area .sub_ad{background:none;}
.sub_area .sub_ad li.li_2013{background:none;padding:0;}

#layer1 i{left:18.5%;}
#layer2 i{left:31%;}
#layer3 i{left:43%;}
#layer4 i{left:56%;}
#layer5 i{left:68.5%;}
#layer6 i{left:81%;}
#layer7 i{left:93.5%;}

/*footer*/
em,i{font-style:normal;}
.footer_phone{clear:both;height:26px;padding:74px 0px 9px 20px;overflow:hidden;font-size:12px;color:#535353;}
.footer_phone p{background-position:0px 5px;font-size:12px;}
.footer_phone p span{color:#a71e32;font-size:12px;}
.footer_phone p em{font-weight:700;font-size:12px;}
.footer_copy{border-top:2px solid #999999;line-height:22px;padding:14px 20px 43px;font-size:12px;overflow:hidden; }
.footer_area{background:url(boc2013_ft_logo.png) no-repeat right 8px;color:#535353;margin-right:7px;font-size:12px;}
.footer_area i{margin:0 8px; font-size:12px;}
.footer_area p{
	font-size:12px;
}
.footer_area a{
	color:#535353;
	font-size:12px;
	text-decoration:none;
}
.footer_area a:hover{
	color:#ff6633;
}
.footer_sp{margin-left:20px;}

/*tab*/
.tab_nav{margin-left:20px;}
.tab_nav li{border:1px solid #dadada;border-radius:2px 2px 0 0;border-bottom:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;text-align:center;background:#f9f8f9;cursor:pointer;font: 16px "微软雅黑";margin:0 4px -1px 0;}
.tab_nav li a{display:block;padding:13px 26px;color:#898989;}
.tab_content{clear:both;display:none;border:1px solid #dadada;border-width:1px 0 1px 0;}
.tab_nav li.selected{border-bottom:1px solid #fff;background:#fff;color:#000;}
.tab_nav li.selected a{color:#000;}

/*cramb*/
.cramb{font-family:"宋体";padding:2px 20px 0;}
.cramb span{color:#cccccc;}


/*定制页面css*/
#wrapper{width:980px;min-width:980px;margin:0 auto;background:#fff;position:relative;border:0;}
.main{width:100%;padding:0;}




