@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 300;
  src: local('BenchNine Light'), local('BenchNine-Light'), url(http://fonts.gstatic.com/s/benchnine/v4/ah9xtUy9wLQ3qnWa2p-piYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: local('BenchNine Regular'), local('BenchNine-Regular'), url(http://fonts.gstatic.com/s/benchnine/v4/xmB9oJNpSFKa3qTF2JABPqCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  src: local('BenchNine Bold'), local('BenchNine-Bold'), url(http://fonts.gstatic.com/s/benchnine/v4/qZpi6ZVZg3L2RL_xoBLxWYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
