@font-face {
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 400;
  src: local('Nokora'), url(http://fonts.gstatic.com/s/nokora/v9/dfwpvNitF5hmdCXenPaEmw.ttf) format('truetype');
}
@font-face {
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 700;
  src: local('Nokora Bold'), local('Nokora-Bold'), url(http://fonts.gstatic.com/s/nokora/v9/naM9WnZTmx0v1FTxr9aMhaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
