/*
 * This is a sample custom stylesheet.  Copy it to ubermenu/custom/custom.css and
 * set your Style Application setting to 'Custom' to start customizing
 */


/**********************************************************************
 * UberMenu Skin: Custom
 * UberMenu - WordPress Mega Menu Plugin http://wpmegamenu.com
 **********************************************************************/

.ubermenu {
    border: none;
    background: #f1c40f;
    z-index: 1000;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item > a {
    padding: 15px;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item > a span.ubermenu-target-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #353536;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item > a span.ubermenu-target-title em {
    font-style: normal;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item > a span.ubermenu-target-title span.icon,
.ubermenu ul.ubermenu-nav > li.ubermenu-item > a span.ubermenu-target-description {
    display: none;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item.ubermenu-has-submenu-drop > a {
    padding-right: 30px;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item.ubermenu-has-submenu-drop > a:after {
    font-size: 20px;
    opacity: 0.4;
	margin-top: -9px;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item:hover > a {
    background: #353536;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item:hover > a span.ubermenu-target-title,
.ubermenu ul.ubermenu-nav > li.ubermenu-item.ubermenu-has-submenu-drop:hover > a:after {
    color: #fff;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item > ul.ubermenu-submenu {
    left: auto !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    background: #353536;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item > ul.ubermenu-submenu li {
    margin: 0 !important;
    padding: 0 !important;
    min-width: 120px !important;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item > ul.ubermenu-submenu > li a {
    color: #fff;
    font-size: 14px;
    padding: 8px 15px !important;
    margin: 0 !important;
    -webkit-transition-property: none;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item > ul.ubermenu-submenu ul.ubermenu-submenu {
    width: 100%;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item > ul.ubermenu-submenu ul.ubermenu-submenu li {
    padding: 0;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item > ul.ubermenu-submenu ul.ubermenu-submenu li a {
    color: #ddd;
    font-weight: normal;
}

.ubermenu ul.ubermenu-nav > li.menu-information > ul.ubermenu-submenu li.ubermenu-item {
    width: 50%;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item > ul.ubermenu-submenu > li a:hover,
.ubermenu ul.ubermenu-nav > li.ubermenu-item > ul.ubermenu-submenu ul.ubermenu-submenu li a:hover {
    background: #f1c40f !important;
    color: #353536;
}

.ubermenu ul.ubermenu-nav > li.ubermenu-item > ul.ubermenu-submenu > li a span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ubermenu ul.ubermenu-nav li.menu-news ul.ubermenu-submenu {
    max-width: 511px !important;
}

.ie .ubermenu ul.ubermenu-nav > li.ubermenu-item.ubermenu-has-submenu-drop > a:after {
    margin-top: -9px;
}

/* IE9 + (http://www.impressivewebs.com/ie10-css-hacks/) */
@media screen and (min-width:0\0) {
    /*
       This really shouldn't be needed, but for whatever reason,
       IE (all the way up to 11) renders the custom font icon totally
       off centre
     */
    .ubermenu ul.ubermenu-nav > li.ubermenu-item.ubermenu-has-submenu-drop > a:after {
        margin-top: -9px;
    }
}
