
body{margin:auto;width:982px;text-align:left;position:relative;padding:0;font-family:'Franklin Gothic Medium',Segoe UI,Sans-Serif,Arial,Helvetica,Georgia;font-size:11px;background:#071f03;color:#000;}
h1{font-family:Tahoma,Segoe UI,Sans-Serif,Georgia;font-size:24px;padding:0 0 10px 0;}h1,h2,h3,h4,h5,h6,blockquote,address,blockquote,dd,dl,hr,p,form{margin:0;padding:0;}
a:link,a:visited{text-decoration:none;color:#0072bc;}a:hover{text-decoration:underline;color:#fbaf5d;}p{margin-top:0.4em;margin-bottom:0px;}
#wrapper{width:%100;position:relative;margin-top:130px;}#header{float:left;width:992px;height:87px;}.logo{width:992px;height:87px;border:none;margin-top:0px;}#zemin{float:left;width:982px;padding:5px;background:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}#container{float:left;width:728px;}#navbar{float:left;width:982px;height:32px;background:url(images/menuback.png) no-repeat;margin-bottom:5px}#navbar ul{padding:0;margin:6px;list-style-type:none;list-style-image:none}#navbar li{display:inline}#navbar ul li a{text-decoration:none;padding:0 7px 0 7px;color:#fff;font-family:'Tahoma',Tahoma,Trebuchet MS;font-size:11px;font-weight:bold}#navbar ul li a:hover{color:white;background:#E92151;padding:3px 7px 8px 7px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;border-top-left-radius:4px;border-top-right-radius:4px}.slide{float:left;width:724px;height:250px;margin-bottom:5px;padding:2px;background:#c7effd;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}.reklam1{float:left;width:728px;height:15px;background:#73c801;padding:5px 10px 5px 10px;margin-bottom:5px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}.reklam2{float:left;width:728px;height:180px;margin-bottom:5px;}.reklam3{float:right;width:250px;height:250px;background:#00bff3;padding:5px;margin:5px 0 5px 5px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}.reklam4{float:left;width:234px;height:60px;background:#0072bc;padding:24px 13px 24px 13px;margin:0 0 10px 5px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}.bookmark{display:inline;float:right;margin-top:6px;}.bookmark img{border:none;}.video{float:left;width:708px;background:#f2dfbf;border:1px solid #fbaf5d;color:#363636;padding:0 4px 5px 4px;margin:0 0 5px 0;text-align:justify;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}.ara{height:3px;}
#pagelink{padding:5px;font-size:11px;font-weight:bold;color:#ed1c24;height:21px;margin-top:2px;float:left;}
#pagelink a{background:#f2dfbf;border-top:1px solid #fbaf5d;border-left:1px solid #fbaf5d;border-right:1px solid #fbaf5d;padding:10px 4px 10px 4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;border-top-left-radius:4px;border-top-right-radius:4px;color:#362f2d;}.breadcrumb{clear:both;font-size:12px;background:#f2dfbf;padding:8px 0 10px 15px;margin:5px 0 -5px 0;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;border-radius-topleft:4px;border-radius-topright:4px;}.breadcrumb a{color:#f9860a;}.post{float:left;width:718px;background:#f5f3e6;margin-bottom:5px;padding:5px 4px 2px 4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:1px solid #f4dfcc;}.post h2{border-bottom:1px dotted #f4dfcc;font-family:'Tahoma',Segoe UI,Sans-Serif,Georgia;font-weight:bold;font-size:11px;line-height:21px;padding:3px;margin:0 5px 0 5px;}.entry{line-height:21px;font-family:'Tahoma',Segoe UI,Sans-Serif,Georgia;font-size:11px;color:#363636;text-align:justify;}.entry h3{margin:0;padding:0;font-weight:normal;font-size:11px;text-aling:left;}.fbegen{height:30px;margin:5px 0 5px 0;}.facepaylas a img{border:0;height:30px;width:300px;margin:5px 0 5px 0px;}.cover {
width: 164px;
height: 300px;
background: #f2dfbf;
padding: 5px;
margin: 0 0 1px 1px;
display: inline-block;
*zoom: 1;
*display: inline;
*margin: 0 3px 3px 0;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border: 1px solid #e6d3b5;
}

img.captify {
width: 164px;
height: 241px;
border: 0;
display: inline;
}

.coverico {
float: left;
height: 16px;
width: 16px;
margin-top: 3px;
}

span.covertext {
float: left;
width: 85%;
height: 16px;
margin-top: 3px;
padding: 1px 0 1px 3px;
font-size: 11px;
}
.solmeta{float:left;width:60px;color:#362f2d;}.statsbaslik{float:left;width:80px;color:#362f2d;}.oldnav{padding:10px 10px 10px 10px;float:left;font-size:14px;font-weight:bold;line-height:18px;}.nextnav{padding:10px 10px 10px 10px;float:right;font-size:14px;font-weight:bold;line-height:18px;}.sidebar{float:right;width:246px;height:auto;text-align:left;margin:0 0 5px 5px;display:inline;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background:#d8e3c5;border:1px solid #acd373;}.sidebar ul{list-style-type:none;padding:0;color:#527702;margin:5px;}.sidebar ul li{color:#527702;background:#fff;margin:0;padding-bottom:1px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}.sidebar ul li h2{font-family:'Tahoma',Segoe UI,Sans-Serif,Georgia;font-size:12px;font-weight:bold;color:#E92151;padding:5px 0 5px 0;margin:5px;}.sidebar ul ul li{font-family:Segoe UI,Sans-Serif,Georgia;color:#527702;font-weight:bold;line-height:16px;margin-bottom:1px;padding:5px 0 5px 0;border-bottom:1px dotted #d8e3c5;}.son_yazilar ul li img{float:left;margin-left:5px;}.clear{clear:both;}#searchform{border:none;width:227px;height:15px;padding:5px 0 5px 0;}.arama{float:left;width:175px;height:20px;background:#d8e3c5;border:none;-moz-border-radius-topleft:2px;-moz-border-radius-bottomleft:2px;-webkit-border-top-left-radius:2px;-webkit-border-bottom-left-radius:2px;border-top-left-radius:2px;border-bottom-left-radius:2px;}.bul{color:#362f2d;width:40px;font-weight:bold;font-size:11px;height:22px;background:#f2dfbf;border:none;-moz-border-radius-topright:2px;-moz-border-radius-bottomright:2px;-webkit-border-top-right-radius:2px;-webkit-border-bottom-right-radius:2px;border-top-right-radius:2px;border-bottom-right-radius:2px;float:left;}table#wp-calendar{width:100%;font-family:Tahoma,Segoe UI,Arial,Sans-Serif;text-align:center;}.Comments{margin:20px 0px 0px 0px;}.Comments .List h3{font-size:11px;font-weight:bold;margin:0px 0px 5px 0px;padding:5px 0px;color:#000;font-family:Tahoma,Geneva,sans-serif;}.Comments .List ol{padding:0px;margin:0px;}.Comments .List li{position:relative;padding:15px 5px 5px 5px;margin:0px 0px 5px 0px;list-style-type:none;}.Comments .List .ComListLi{background:#d8e3c5;-moz-border-radius:4px;-webkit-border-radius:4px;-border-radius:4px;border:1px solid #acd373;}* html .Comments .List .ComListLiTop{left:-5px;}.Comments .List .ComListLiTop{position:absolute;background:url(images/ComListLiTop.gif) no-repeat left top;height:15px;width:420px;left:0px;top:0px;}* html .Comments .List .ListNr{left:-55px;}.Comments .List .ListNr{color:#bec9d1;position:absolute;top:15px;font-size:24px;line-height:24px;font-family:'Arial';font-weight:normal;letter-spacing:-1px;padding:0px;left:-55px;}* html .Comments .List .ListGrav{left:10px;}.Comments .List .ListGrav{position:absolute;top:15px;left:15px;}.Comments .List .ListGrav img{border:solid 1px #fff;}.Comments .List big{margin:0px;padding:0px 0px 0px 42px;font-size:11px;line-height:11px;letter-spacing:-1px;color:#333;font-weight:bold;display:block;}.Comments .List small{color:#a19a80;padding:0px 0px 0px 42px;margin:0px;font-size:10px;}.Comments .List small a{color:#a19a80;text-decoration:none;}.Comments .List small a:visited{text-decoration:none;}.Comments .List .ListContent{margin:10px 0px 0px 0px;padding:5px 10px;font-size:11px;line-height:15px;background:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;-border-radius:4px;display:block;}.Comments .Form h3{font-size:11px;font-weight:bold;margin:0px;padding:5px 0px 10px 0px;color:#333;font-family:Tahoma,Geneva,sans-serif;}.Comments .Form{background:#bbe9ff;-moz-border-radius:4px;-webkit-border-radius:4px;-border-radius:4px;padding:10px 5px 20px 5px;position:relative;border:1px solid #6dcff6;float:left;}*html .Comments .FormTop{left:-15px;}.Comments .FormTop{position:absolute;top:0px;left:0px;width:504px;height:7px;}.Comments .Form form{margin:0px;padding:0px;}.Comments .Form a{text-decoration:underline;}.Comments .Form p{padding:0px;margin:0px;font-size:11px;color:#369;}.Comments .Form p small strong{font-size:10px;font-weight:bold;color:#f30;}.Comments .Form p small{font-size:11px;display:block;padding:5px 0px;}.Comments .Form .TextField{background:#fff;border:solid 1px #6dcff6;padding:5px 4px;font-size:11px;display:block;}.Comments .Form .TextArea{background:#fff;border:solid 1px #6dcff6;padding:4px;font-size:11px;}.Comments .Form input.SubmitComment{width:257px;height:26px;margin-top:8px;}.Comments .Form input.SubmitComment:hover{margin-top:8px;}.Comments .Form input.SubmitCommentIE{width:257px;height:26px;background:;margin-top:10px;margin-top:8px;}img.a{left:0;top:0;z-index:10;border:none;}img.alignright{float:right;margin:0 0 1em 1em}img.alignleft{float:left;margin:0 1em 1em 0}img.aligncenter{display:block;margin:0 auto 5px auto;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}a img.alignright{float:right;margin:0 0 1em 1em}a img.alignleft{float:left;margin:0 1em 1em 0}a img.aligncenter{display:block;margin-left:auto;margin-right:auto}#dropmenu,#dropmenu ul{padding:0;list-style-type:none;list-style-position:outside;position:relative;line-height:1.5em;z-index:300;width:100%;background:#fa9f3c;font-weight:bold;margin:6px 0 0 5px;font-family:'Droid Sans',Segoe UI,Tahoma;}#dropmenu a{display:block;padding:0.25em 1em;color:#fff;border-right:1px solid #fba74c;text-decoration:none;}#dropmenu a:hover{background:#fa9f3c;color:#fff;}#dropmenu li{float:left;position:relative;}#dropmenu ul{position:absolute;display:none;width:12em;top:1.9em;left:-1px;margin:0;}#dropmenu ul a{border-left:1px solid #fba74c;}#dropmenu li ul{border-top:1px solid #fba74c;width:14.1em;}#dropmenu li ul a{width:12em;height:auto;float:left;border-bottom:1px solid #fba74c;}#dropmenu ul ul{top:auto;}#dropmenu li ul ul{left:12em;margin:0px 0 0 10px;}#dropmenu li:hover ul ul,#dropmenu li:hover ul ul ul,#dropmenu li:hover ul ul ul ul{display:none;}#dropmenu li:hover ul,#dropmenu li li:hover ul,#dropmenu li li li:hover ul,#dropmenu li li li li:hover ul{display:block;}
#footer{float:left;clear:both;background:transparent;padding:10px;width:980px;height:85px;font-size:10px;color:#FFF;position:relative;}.caption-top,.caption-bottom{padding:1em;font-size:11px;font-family:Arial;font-weight:bold;cursor:default;background:#000;text-shadow:1px 1px 0 #202020;color:#fff;text-shadow:none;}.caption-top{}.caption-bottom{}.caption a,.caption a{border:0 none;text-decoration:none;background:#000;padding:0.3em;}.caption a:hover,.caption a:hover{background:#202020;}.caption-wrapper{float:left;}br.c{clear:both;}

#slider-code{height:218px;background:#f5f3e6;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:1px solid #f4dfcc;float:left;owerflow:hidden;margin:0 0 5px;padding:5px;}#slider-code .viewport{float:left;width:970px;height:218px;overflow:hidden;position:relative;}#slider-code .buttons{display:block;float:left;margin:0px 6px 0 0;}#slider-code .next{margin:0px 0 0 6px;}#slider-code .disable{visibility:hidden;}#slider-code .overview{list-style:none;position:absolute;left:0;top:0;margin:0;padding:0;}#slider-code .overview li{float:left;height:205px;width:147px;background:#f2dfbf;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:1px solid #e6d3b5;margin:0 3px 0 0;padding:5px;}#slider-code .buttons img,#slider-code .next img,#slider-code .overview li img{border:0;}
#reklam{}#reklam .sorunu{float:left;width:970px;}
ul.gununfilmi  {
margin: 5px 0 0 0;
padding: 5px;
height: 202px;
}

img.gunfilm {
float: left;
position: relative;
z-index: 2;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}

img.guncover  {
float: right;
position: relative;
z-index: 1;
margin-left: -30px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border: 0;
}
.txttr {font-size:9px}
/*
filmifull 
*/
	#b_genislet{background:url("sprt.png") no-repeat;background-position:-14px 0px;width:17px;height:12px;border:0;box-shadow:0px 0px 1px white;margin:0 auto;}
	#b_isik{background:url("sprt.png") no-repeat;background-position:-30px 0px;width:8px;height:12px;border:0;margin:0 auto;}
	#b_buttons button{background:linear-gradient(to bottom, #fff 50%,#ededed 100%)!important;width:30px!important;height:20px!important;border:1px solid #ededed!important;border-radius:3px!important;float:left;}
	#b_buttons a{width:100%;}
a.rw-report-link{display:none!important;}
.rw-ui-info-container{display:none!important;width:1px!important;height:1px!important;}
.rw-ui-report{display:none!important;width:1px!important;height:1px!important;}
.rw-ui-info-inner-container, .rw-ui-info-nub, .rw-ui-info-inner-nub, .rw-ui-info-nub, .rw-ui-info-outer-nub {border:0!important;}
.rw-left{float:left;margin-top:7px!important;padding:2.5px!important;}
.rw-action-area{margin-top:-7px!important;}
.rw-left:before{content:"";}
/*.rw-ui-info-nub, .rw-ui-info-inner-nub, .rw-ui-info-nub, .rw-ui-info-outer-nub*/
#backkapat{position:fixed;right:10px;bottom:10px;display:none;}
	.btnFacebookBlue{float:left; height:28px; padding-right:10px; display:block; font-size:11px; font-weight:bold; line-height:26px; text-indent:-7px; color:#fff!important; text-shadow:0 1px rgba(0, 0, 0, .35); border-radius:2px; border:1px solid #2e4882; box-shadow:0 1px 0 rgba(255, 255, 255, .20) inset;background: #4a6fb0; background: -moz-linear-gradient(top,  #4a6fb0 0%, #385a99 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a6fb0), color-stop(100%,#385a99)); background: -webkit-linear-gradient(top,  #4a6fb0 0%,#385a99 100%); background: -o-linear-gradient(top,  #4a6fb0 0%,#385a99 100%); background: -ms-linear-gradient(top,  #4a6fb0 0%,#385a99 100%); background: linear-gradient(to bottom,  #4a6fb0 0%,#385a99 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a6fb0', endColorstr='#385a99',GradientType=0 );}
	.btnFacebookBlue:hover{color:#fff; box-shadow:0 1px 0 rgba(255, 255, 255, .20) inset, 0 0 3px 0 #777; }
	.icnFacebook{width:58px; height:12px; float:left; background:url('images/sprite-single.png') 0 -56px; margin:7px 10px 0; }
	.icnTwitter{width:35px; height:26px; float:left; background:url('images/sprite-single.png') 0 -29px; }
.btnTwitterBlue { float:left; margin-right:5px; height:28px; padding-right:10px; display:block; font-size:11px; font-weight:bold; line-height:26px; text-indent:10px; color:#fff!important; text-shadow:0 1px rgba(0, 0, 0, .35); border-radius:2px; border:1px solid #185cac; box-shadow:0 1px 1px #53b0ed inset;background: #469ee9; background: -moz-linear-gradient(top,  #469ee9 0%, #298ae0 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#469ee9), color-stop(100%,#298ae0)); background: -webkit-linear-gradient(top,  #469ee9 0%,#298ae0 100%); background: -o-linear-gradient(top,  #469ee9 0%,#298ae0 100%); background: -ms-linear-gradient(top,  #469ee9 0%,#298ae0 100%); background: linear-gradient(to bottom,  #469ee9 0%,#298ae0 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#469ee9', endColorstr='#298ae0',GradientType=0 );}
.btnTwitterBlue:hover {color:#fff; box-shadow:0 1px 1px #53B0ED inset, 0 0 3px 0 #777; }
.btnFacebookBlue{float:left; height:28px; padding-right:10px; display:block; font-size:11px; font-weight:bold; line-height:26px; text-indent:-7px; color:#fff; text-shadow:0 1px rgba(0, 0, 0, .35); border-radius:2px; border:1px solid #2e4882; box-shadow:0 1px 0 rgba(255, 255, 255, .20) inset;background: #4a6fb0; background: -moz-linear-gradient(top,  #4a6fb0 0%, #385a99 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a6fb0), color-stop(100%,#385a99)); background: -webkit-linear-gradient(top,  #4a6fb0 0%,#385a99 100%); background: -o-linear-gradient(top,  #4a6fb0 0%,#385a99 100%); background: -ms-linear-gradient(top,  #4a6fb0 0%,#385a99 100%); background: linear-gradient(to bottom,  #4a6fb0 0%,#385a99 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a6fb0', endColorstr='#385a99',GradientType=0 );}
.solmetaek:after{content:":";}
div#konumuz br {display:none !important;}