@charset "UTF-8";
html, body { font-family: HiraginoSans-W3, "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, sans-serif; width: 100%; height: 95%; line-height: normal; }

.logo, .signup-form__logo { display: inline-block; width: 180px; height: 70px; background-image: url(../images/accounts_index/logo.svg); background-repeat: no-repeat; }

.radius-flat-rectangle, .btn-sns, .btn-gplus, .btn-facebook, .btn-twitter, .btn-weibo, .signup-form__submit, .signup-form__submit--login { border: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.btn, .btn-sns, .btn-gplus, .btn-facebook, .btn-twitter, .btn-weibo, .signup-form__submit, .signup-form__submit--login { cursor: pointer; display: inline-block; text-align: center; text-decoration: none; }

.btn-sns, .btn-gplus, .btn-facebook, .btn-twitter, .btn-weibo { width: 80px; height: 40px; margin-top: 10px; }

.btn-gplus { background-color: #dc4e41; background-image: url(../images/accounts_index/icon-google.svg); background-repeat: no-repeat; background-position: center; }

.btn-facebook { background-color: #385185; background-image: url(../images/accounts_index/icon-facebook.svg); background-repeat: no-repeat; background-position: center; }

.btn-twitter { background-color: #55acee; background-image: url(../images/accounts_index/icon-twitter.svg); background-repeat: no-repeat; background-position: center; }

.btn-weibo { background-color: #e32429; background-image: url(../images/accounts_index/icon-weibo.svg); background-repeat: no-repeat; background-position: center; }

body { background-color: #eee; }

.signup-form { width: 300px; position: absolute; top: 20%; left: 50%; text-align: center; background-color: rgba(255, 255, 255, 0.92); width: 363px; margin-left: -181.5px; padding: 50px 0; border-radius: 4px; font-size: 16px; }
.signup-form a { color: #FFFFFF; }
@media (max-width 540px) { .signup-form { top: 50px; width: 310px; margin-left: -160px; background-color: #eeeeee; } }

.signup-form__logo-box { margin-bottom: 40px; }
@media (max-width 540px) { .signup-form__logo-box { margin-bottom: 24px; } }

.signup-form__logo { margin-bottom: 6px; }

.signup-form__catchphrase { color: #757c80; font-size: 12px; font-weight: bold; }

.signup-form__submit, .signup-form__submit--login { display: block; margin: 0 auto; margin-bottom: 8px; width: 300px; height: 40px; line-height: 40px; background-color: #25c6ff; color: #FFF; font-weight: bold; outline: none; }

.signup-form__submit--login { background-color: #6d7084; }

.signup-form__sns-btn-area { color: #666666; font-size: 12px; width: 302px; box-sizing: border-box; margin: 0 auto; margin-top: 16px; padding: 20px 26px; background-color: #ffffff; border: solid 1px #dfebf2; border-radius: 4px; }

.sns-button-list { margin-top: 14px; }
.sns-button-list .btn-item { display: inline-block; margin: 0 2px; }
.sns-button-list .btn-item:first-child { margin-left: 0; }
.sns-button-list .btn-item:last-child { margin-right: 0; }
