@charset "UTF-8";
.novel-content { word-break: normal; word-wrap: break-word; width: 100%; min-height: 100px; margin-bottom: 50px; }
.novel-content button { background: none; outline: none; border: none; cursor: pointer; }
.novel-content .line { *zoom: 1; }
.novel-content .line:before, .novel-content .line:after { content: " "; display: table; }
.novel-content .line:after { clear: both; }
.novel-content header .line-1 { margin-bottom: 10px; }
.novel-content header .line-2 { padding: 0 24px; margin-bottom: 20px; text-align: center; }
.novel-content header .line-2 .novel-headinfo { display: none; }
.novel-content header .line-2 .novel-controllers { position: relative; z-index: 1; overflow: visible; }
.novel-content header .line-2 .novel-controllers button { display: inline-block; vertical-align: bottom; min-width: 72px; height: 32px; line-height: 32px; border: 1px solid #A9B3BC; border-radius: 5px; box-sizing: border-box; font: 12px "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif; color: #A9B3BC; text-align: center; margin: 0 2px; }
.novel-content header .line-2 .novel-controllers button:hover { border-color: #4DB4D0; }
.novel-content header .line-2 .novel-controllers button.active { background-color: #4DB4D0; border-color: #4DB4D0; color: white; }
.novel-content header .line-2 .novel-controllers button, .novel-content header .line-2 .novel-controllers button:active, .novel-content header .line-2 .novel-controllers button:link, .novel-content header .line-2 .novel-controllers button:visited, .novel-content header .line-2 .novel-controllers button:hover { text-decoration: none; }
.novel-content header .line-2 .novel-controllers .controller-writing-mode { width: 142px; background-size: 142px; display: none; }
html.no-verticaltext .novel-content header .line-2 .novel-controllers .controller-writing-mode { display: none; }
html.verticaltext .novel-content header .line-2 .novel-controllers .controller-writing-mode { display: inline-block; }
.novel-content header .line-2 .novel-controllers .controller-writing-mode, .novel-content header .line-2 .novel-controllers .controller-writing-mode[data-writing-mode=horizontal] { background-image: url("../images/ico-switch_direction-h.png"); }
.novel-content header .line-2 .novel-controllers .controller-writing-mode[data-writing-mode=vertical] { background-image: url("../images/ico-switch_direction-v.png"); }
.novel-content header .line-2 .novel-controllers .controller-font { width: 142px; background-size: 142px; display: inline-block; }
.novel-content header .line-2 .novel-controllers .controller-font, .novel-content header .line-2 .novel-controllers .controller-font[data-font=sans-serif] { background-image: url("../images/ico-switch_sans_serif.png"); }
.novel-content header .line-2 .novel-controllers .controller-font[data-font=serif] { background-image: url("../images/ico-switch_serif.png"); }
.novel-content header .line-2 .novel-controllers .novel-tooltip { display: none; text-align: left; position: absolute; top: 48px; box-sizing: border-box; border: 2px solid #4DB4D0; border-radius: 5px; background-color: white; z-index: 1; }
.novel-content header .line-2 .novel-controllers .novel-tooltip, html.verticaltext .novel-content header .line-2 .novel-controllers .novel-tooltip { right: 145px; }
html.no-verticaltext .novel-content header .line-2 .novel-controllers .novel-tooltip { right: 220px; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker { width: 240px; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker:before, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker:after { bottom: 100%; right: 112px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker:before { border-color: transparent; border-bottom-color: #4DB4D0; border-width: 13px; margin-right: -13px; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker:after { border-color: transparent; border-bottom-color: white; border-width: 10px; margin-right: -10px; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker button.insert-marker, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker button.destroy-marker, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker button.loading-marker { height: 42px; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker button.insert-marker { display: none; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker button.destroy-marker { background: #4DB4D0; border-color: #4DB4D0; color: white; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker button.loading-marker { display: none; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker button.follow-marker { border: none; height: 20px; color: #4DB4D0; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker a.marker-all { display: inline-block; vertical-align: bottom; min-width: 72px; height: 32px; line-height: 32px; border: 1px solid #A9B3BC; border-radius: 5px; box-sizing: border-box; font: 12px "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif; color: #A9B3BC; text-align: center; height: 42px; line-height: 42px; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker a.marker-all:hover { border-color: #4DB4D0; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker a.marker-all.active { background-color: #4DB4D0; border-color: #4DB4D0; color: white; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker a.marker-all, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker a.marker-all:active, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker a.marker-all:link, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker a.marker-all:visited, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker a.marker-all:hover { text-decoration: none; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-list { display: inline-block; vertical-align: bottom; min-width: 72px; height: 32px; line-height: 32px; border: 1px solid #A9B3BC; border-radius: 5px; box-sizing: border-box; font: 12px "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif; color: #A9B3BC; text-align: center; height: auto; min-height: 240px; overflow: hidden; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-list:hover { border-color: #4DB4D0; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-list.active { background-color: #4DB4D0; border-color: #4DB4D0; color: white; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-list, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-list:active, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-list:link, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-list:visited, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-list:hover { text-decoration: none; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .no-marked-novel-message { height: 240px; line-height: 240px; text-align: center; color: #A8A8A8; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-novel { background: white; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-novel .marker-link { *zoom: 1; display: block; padding: 10px; cursor: pointer; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-novel .marker-link:before, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-novel .marker-link:after { content: " "; display: table; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-novel .marker-link:after { clear: both; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-novel:hover { background: #f7f7f7; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-novel:nth-child(even) { background: #F0F0F0; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-novel:nth-child(even):hover { background: #e8e8e8; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-novel .marker-novel-main { float: right; width: 70%; box-sizing: border-box; padding-left: 10px; text-align: left; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-novel .marker-novel-sub { float: right; width: 30%; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-novel .marker-novel-title { color: #555555; font: bold 13px "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-novel .marker-novel-authorlink { color: #A8A8A8; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-novel .marker-novel-thumbnail { max-height: 52px; max-width: 100%; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker .marker-novel .marker-novel-status { color: #555555; font-size: 10px; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker.no-marker button.insert-marker { display: block; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker.no-marker button.destroy-marker, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker.no-marker button.follow-marker { display: none; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker.loading .marker-list { background: url('../images/hakuzo_loading.gif') no-repeat 50% 50%; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker.loading .marker-list * { display: none; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker.loading button.insert-marker, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker.loading button.destroy-marker, .novel-content header .line-2 .novel-controllers .novel-tooltip-marker.loading button.follow-marker { display: none; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-marker.loading button.loading-marker { display: block; }
.novel-content header .line-2 .novel-controllers .tooltip-wrapper { margin: 5px; }
.novel-content header .line-2 .novel-controllers .tooltip-wrapper > * { display: block; float: none; width: 100%; margin: 5px 0 0; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config { width: 250px; padding: 24px; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config:before, .novel-content header .line-2 .novel-controllers .novel-tooltip-config:after { bottom: 100%; right: 36px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config:before { border-color: transparent; border-bottom-color: #4DB4D0; border-width: 13px; margin-right: -13px; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config:after { border-color: transparent; border-bottom-color: white; border-width: 10px; margin-right: -10px; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config fieldset { margin-bottom: 12px; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config fieldset:last-child { margin-bottom: 0; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config legend { font-weight: bold; font-size: 16px; clear: both; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config .novel-theme { width: 33.33333%; float: left; padding: 5px; box-sizing: border-box; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config .novel-theme button { min-width: 0; width: 100%; margin: 0; font-size: 14px; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config .novel-theme.novel-theme-white button { background: white; color: #333333; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config .novel-theme.novel-theme-gray button { background: #F5F5F5; color: #333333; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config .novel-theme.novel-theme-black button { background: black; color: white; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config .novel-theme.novel-theme-blue button { background: #EDF7FF; color: #21333D; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config .novel-theme.novel-theme-yellow button { background: #FBF0D9; color: #4D3E2A; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config .novel-theme.active button { border: 3px solid #4DB4D0; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config .novel-theme .recommended-label { text-align: center; color: red; font-size: 70%; white-space: nowrap; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config .recommended .novel-theme { height: 50px; }
.novel-content header .line-2 .novel-controllers .novel-tooltip-config label { display: block; font-size: 14px; height: 2em; line-height: 2em; }
.novel-content header .line-2 .novel-controllers .novel-quit-fullscreen { display: none; outline: none; border: none; width: 32px; min-width: 0; height: 32px; }
.novel-content header .line-2 .novel-controllers .novel-quit-fullscreen * { font-size: 30px; }
.novel-content .pager { width: 100%; height: 42px; border-top: 1px solid #DFDFDF; border-bottom: 1px solid #DFDFDF; }
.novel-content .pager .pager-prev, .novel-content .pager .pager-next, .novel-content .pager .pager-page { height: 42px; line-height: 42px; color: #888; font-family: "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif; box-sizing: border-box; }
.novel-content .pager .pager-prev, .novel-content .pager .pager-next { width: 40%; font-size: 16px; }
.novel-content .pager .pager-prev:hover, .novel-content .pager .pager-next:hover { color: #4DB4D0; }
.novel-content .pager .pager-prev { padding-right: 24px; text-align: right; }
.novel-content .pager .pager-next { padding-left: 24px; text-align: left; }
.novel-content .pager .pager-page { width: 20%; font-size: 12px; }
.novel-content fieldset.novel-scroll-modes, .novel-content.novel-writing-mode-horizontal fieldset.novel-scroll-modes { display: none; }
.novel-content.novel-writing-mode-vertical fieldset.novel-scroll-modes { display: block; }

.novel-extended-background.novel-theme-white { background: white !important; color: #333333; }
.novel-extended-background.novel-theme-gray { background: #F5F5F5 !important; color: #333333; }
.novel-extended-background.novel-theme-black { background: black !important; color: white; }
.novel-extended-background.novel-theme-blue { background: #EDF7FF !important; color: #21333D; }
.novel-extended-background.novel-theme-yellow { background: #FBF0D9 !important; color: #4D3E2A; }

.novel-body { position: relative; }
.novel-content.novel-loading .novel-body { background: url('../images/hakuzo_loading.gif') no-repeat 50% 50%; }
.novel-theme-white .novel-body { background: white; color: #333333; }
.novel-theme-gray .novel-body { background: #F5F5F5; color: #333333; }
.novel-theme-black .novel-body { background: black; color: white; }
.novel-theme-blue .novel-body { background: #EDF7FF; color: #21333D; }
.novel-theme-yellow .novel-body { background: #FBF0D9; color: #4D3E2A; }
.novel-body .novel-pages-wrapper { position: relative; padding: 54px; line-height: 2; font-size: 12pt; min-height: 400px; text-align: left; }
.novel-body .novel-pages-wrapper { font-family: "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif; }
.novel-body .novel-pages-wrapper .novel-pages { display: none; width: 100%; position: relative; line-height: 2.2em; text-align: justify; text-justify: inter-ideograph; outline: none; }
.novel-body .novel-pages-wrapper .novel-pages .after-read { display: none; margin: 300px 0; writing-mode: lr-tb; writing-mode: horizontal-tb; -o-writing-mode: horizontal-tb; -ms-writing-mode: horizontal-tb; -moz-writing-mode: horizontal-tb; -webkit-writing-mode: horizontal-tb; text-align: center; }
.novel-body .novel-pages-wrapper .novel-pages .after-read .rating { margin: 0 auto; }
.novel-body .novel-pages-wrapper .novel-pages .after-read .bookmark-container { position: relative; margin: 10px 0; font: 12px "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif; }
.novel-body .novel-pages-wrapper .novel-pages .after-read .fb-like > span { vertical-align: inherit !important; }
.novel-body .novel-pages-wrapper .novel-pages .novel-page { width: 100%; }
.novel-body .novel-pages-wrapper .novel-pages .novel-page > * { word-wrap: break-word; white-space: pre-wrap; }
.novel-body .novel-pages-wrapper .novel-pages .novel-page, .novel-content.novel-horizontal-view-classic .novel-body .novel-pages-wrapper .novel-pages .novel-page { height: auto; padding-top: 24px; }
.novel-content.novel-horizontal-view-scroll .novel-body .novel-pages-wrapper .novel-pages .novel-page { height: 600px; }
.novel-body .novel-pages-wrapper .novel-pages .chapter { font-weight: bold; font-size: 125%; margin: 10px 0; line-height: 2.2em; }
.novel-content.novel-size-small .novel-body .novel-pages-wrapper .novel-pages { font-size: 80%; }
.novel-content.novel-size-big .novel-body .novel-pages-wrapper .novel-pages { font-size: 120%; }
.novel-content.novel-font-serif .novel-body .novel-pages-wrapper .novel-pages { font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "HiraMinProN-W3", "HiraMinProN-W6", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HiraMinPro-W3", "HiraMinPro-W6", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "HG明朝E", "HGP明朝E", "HGS明朝E", "HGMinchoE", "HGPMinchoE", "HGSMinchoE", "HG明朝B", "HGP明朝B", "HGS明朝B", "HGMinchoB", "HGPMinchoB", "HGSMinchoB", "平成明朝", "平成明朝 Std", "平成明朝 Pro", "Heisei Mincho", "Heisei Mincho Std", "Heisei Mincho Pro", "IPA明朝", "IPAMincho", "georgia ref", "times new roman", serif; }
.novel-content.novel-font-serif .novel-body .novel-pages-wrapper .novel-pages h4.chapter { font-family: "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif; }
.novel-content.novel-font-sans-serif .novel-body .novel-pages-wrapper .novel-pages { font-family: "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif; }
.novel-content.novel-line-narrow .novel-body .novel-pages-wrapper .novel-pages { line-height: 1.5em; }
.novel-content.novel-writing-mode-vertical .novel-body .novel-pages-wrapper .novel-pages { width: 100%; writing-mode: tb-rl; writing-mode: vertical-rl; -o-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; -ms-writing-mode: vertical-rl; -moz-writing-mode: vertical-rl; -webkit-writing-mode: vertical-rl; }
.novel-content.novel-writing-mode-vertical .novel-body .novel-pages-wrapper .novel-pages .novel-page { overflow: auto; outline: none; width: 100%; max-width: 100%; height: 500px; padding: 50px 0; }
.novel-content.novel-writing-mode-vertical .novel-body .novel-pages-wrapper .novel-pages .combine, html.no-textcombine .novel-content.novel-writing-mode-vertical .novel-body .novel-pages-wrapper .novel-pages .combine { height: 1em; writing-mode: lr-tb; writing-mode: horizontal-tb; -o-writing-mode: horizontal-tb; -ms-writing-mode: lr-tb; -ms-writing-mode: horizontal-tb; -moz-writing-mode: horizontal-tb; -webkit-writing-mode: horizontal-tb; line-height: 1em; text-align: center; }
html.textcombine .novel-content.novel-writing-mode-vertical .novel-body .novel-pages-wrapper .novel-pages .combine { display: inline; text-combine: horizontal; -o-text-combine: horizontal; -ms-text-combine: horizontal; -moz-text-combine: horizontal; -webkit-text-combine: horizontal; }
.novel-content.novel-writing-mode-vertical .novel-body .novel-pages-wrapper .novel-pages .invert { display: inline-block; -webkit-transform: scaleX(-1); -moz-transform: scaleX(-1); -ms-transform: scaleX(-1); -o-transform: scaleX(-1); transform: scaleX(-1); }
.novel-content.novel-writing-mode-vertical .novel-body .novel-pages-wrapper .novel-pages .margin-after { margin-bottom: 1em; }
.novel-body .novel-pages-wrapper .novel-pages .image_container { text-align: center; }
.novel-body .novel-pages-wrapper .novel-pages .caption { text-align: center; font-family: "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif; }
.novel-body .novel-pages-wrapper .novel-page-split { display: none; }
.novel-body .novel-text-fullscreen-wrapper { display: none; }
.novel-body .scroll-follower { position: absolute; top: 0; right: 0; width: 0; height: 0; text-align: center; }
.novel-body .scroll-follower .enable-fullscreen { display: block; margin: 10px; width: 36px; height: 36px; background: url('../images/ugoku-illust/full-screen.png') no-repeat 50% 50%; background-color: #999; border-radius: 5px; background-size: 80%; opacity: 0.5; }
.novel-body .scroll-follower .body-marker { display: block; margin: 10px; width: 34px; height: 43px; padding-bottom: 7px; color: #333; background: url("../images/novel_marker_inactive.png") no-repeat; text-align: center; font: 10px "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif; }
.novel-body .scroll-follower .body-marker:hover { background-image: url("../images/novel_marker_hover.png"); }
.novel-body .scroll-follower .body-marker.active { background-image: url("../images/novel_marker_active.png"); color: white; font-weight: bold; }
.novel-body .scroller-prev, .novel-body .scroller-next { outline: none; border: none; position: absolute; font-size: 26px; opacity: 0.4; }
.novel-body .scroller-prev, .novel-body .scroller-prev *, .novel-body .scroller-next, .novel-body .scroller-next * { color: inherit; }
.novel-body .scroller-prev:hover, .novel-body .scroller-next:hover { opacity: 0.8; }
.novel-body .scroller-prev .label, .novel-body .scroller-next .label { display: block; position: relative; top: 10px; font-size: 8px; opacity: 0; }
.novel-content.novel-writing-mode-horizontal .novel-body .scroller-prev, .novel-content.novel-writing-mode-horizontal .novel-body .scroller-next { width: 100%; height: 50px; }
.novel-content.novel-writing-mode-horizontal .novel-body .scroller-prev.scroller-prev, .novel-content.novel-writing-mode-horizontal .novel-body .scroller-prev.scroller-next, .novel-content.novel-writing-mode-horizontal .novel-body .scroller-next.scroller-prev, .novel-content.novel-writing-mode-horizontal .novel-body .scroller-next.scroller-next { display: none; }
.novel-content.novel-writing-mode-horizontal .novel-body .scroller-prev .label, .novel-content.novel-writing-mode-horizontal .novel-body .scroller-next .label { display: inline; vertical-align: middle; margin-left: 5px; }
.novel-content.novel-writing-mode-vertical .novel-body .scroller-prev, .novel-content.novel-writing-mode-vertical .novel-body .scroller-next { width: 50px; height: 100%; }
.novel-content.novel-writing-mode-vertical .novel-body .scroller-prev.scroller-prev, .novel-content.novel-writing-mode-vertical .novel-body .scroller-next.scroller-prev { top: 0; right: 0; }
.novel-content.novel-writing-mode-vertical .novel-body .scroller-prev.scroller-next, .novel-content.novel-writing-mode-vertical .novel-body .scroller-next.scroller-next { top: 0; left: 0; }
.novel-content.novel-loading .novel-body .scroller-prev, .novel-content.novel-loading .novel-body .scroller-next { display: none; }

/* ::::: Novel-Fullscreen ::::: */
.novel-content.novel-fullscreen { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10000; margin: 0; overflow: auto; background-color: white; }
.novel-content.novel-fullscreen .novel-header .novel-headinfo { display: inline; padding-top: 5px; float: left; font: 14px "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif; text-align: left; }
.novel-content.novel-fullscreen .novel-header .novel-headinfo h3.title { display: inline; color: #555; }
.novel-content.novel-fullscreen .novel-header .novel-headinfo address.author { display: inline; padding-left: 10px; }
.novel-content.novel-fullscreen .novel-header .novel-headinfo address.author a { color: #A8A8A8; }
.novel-content.novel-fullscreen .novel-header .line-2 { margin: 10px 0; }
.novel-content.novel-fullscreen .novel-header .novel-controllers { float: right; }
.novel-content.novel-fullscreen .novel-header .novel-controllers .novel-tooltip { right: 60px !important; }
.novel-content.novel-fullscreen .novel-header .novel-controllers .novel-quit-fullscreen { display: inline-block; margin-left: 25px; }
.novel-content.novel-fullscreen .pager { display: none; }
.novel-content.novel-fullscreen .novel-body { overflow: auto; cursor: auto; }
.novel-content.novel-fullscreen .novel-body .scroll-follower .enable-fullscreen { display: none; }
.novel-content.novel-fullscreen.novel-writing-mode-vertical .novel-body { overflow: hidden; }
.novel-content.novel-fullscreen .novel-pages-wrapper { display: block; margin: 0 auto; width: 800px; box-sizing: border-box; }
.novel-content.novel-fullscreen .novel-pages-wrapper .novel-pages { position: relative; }
.novel-content.novel-fullscreen .novel-pages-wrapper .novel-pages .after-read { display: block; }
.novel-content.novel-fullscreen .novel-pages-wrapper .novel-page { display: block !important; }
.novel-content.novel-writing-mode-horizontal.novel-fullscreen .novel-page { height: auto !important; min-height: 90vh; }
.novel-content.novel-fullscreen .novel-pages-wrapper .novel-page-split { display: block; position: relative; width: 100%; height: 1px; margin: 30px 0; overflow: visible; font-size: 20px; opacity: 0.5; box-sizing: border-box; border-right: 300px solid #777; border-left: 300px solid #777; }
.novel-content.novel-fullscreen .novel-pages-wrapper .novel-page-split:after { content: attr(data-page); position: absolute; top: 50%; left: 50%; line-height: 1em; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.novel-content.novel-writing-mode-vertical.novel-fullscreen .novel-pages-wrapper { width: 100%; height: 100%; padding-top: 0; padding-bottom: 0; }
.novel-content.novel-writing-mode-vertical.novel-fullscreen .novel-pages-wrapper .novel-pages { height: 100%; }
@media only screen and (max-height: 800px) { .novel-content.novel-writing-mode-vertical.novel-fullscreen .novel-pages-wrapper .novel-pages { padding: 15px 0; box-sizing: border-box; } }
.novel-content.novel-writing-mode-vertical.novel-fullscreen .novel-pages-wrapper .novel-pages .novel-page { width: auto; min-width: 70vw; max-width: none; height: 600px; padding: 0; margin: auto 0; }
@media only screen and (max-height: 800px) { .novel-content.novel-writing-mode-vertical.novel-fullscreen .novel-pages-wrapper .novel-pages .novel-page { height: 100%; } }
.novel-content.novel-writing-mode-vertical.novel-fullscreen .novel-pages-wrapper .novel-page-split { width: 1px; height: 700px; margin: auto 30px; border-left: none; border-right: none; border-top: 300px solid #777; border-bottom: 300px solid #777; }
.novel-content.novel-writing-mode-vertical.novel-fullscreen .novel-pages-wrapper .novel-page-split:after { -webkit-transform: translate(-50%, -50%) rotate(-90deg); -moz-transform: translate(-50%, -50%) rotate(-90deg); -ms-transform: translate(-50%, -50%) rotate(-90deg); -o-transform: translate(-50%, -50%) rotate(-90deg); transform: translate(-50%, -50%) rotate(-90deg); }
@media only screen and (max-height: 800px) { .novel-content.novel-writing-mode-vertical.novel-fullscreen .novel-pages-wrapper .novel-page-split { height: 100%; border: none; } }
.novel-content.novel-writing-mode-vertical.novel-fullscreen .novel-pages-wrapper .after-read { margin: 0 300px 0 150px; position: relative; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
html.ie .novel-content.novel-writing-mode-vertical.novel-fullscreen .novel-pages-wrapper .after-read { -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); }
.novel-content.novel-fullscreen.novel-writing-mode-horizontal .novel-pages-wrapper { padding: 0 20px; }
@media only screen and (max-width: 800px) { .novel-content.novel-fullscreen.novel-writing-mode-horizontal .novel-pages-wrapper { width: 100%; } }
@media only screen and (max-width: 800px) { .novel-content.novel-fullscreen.novel-writing-mode-horizontal .novel-page-split { border: none; } }
.novel-content.novel-fullscreen.novel-writing-mode-vertical .scroller-prev, .novel-content.novel-fullscreen.novel-writing-mode-vertical .scroller-next { width: 15%; }
.novel-content.novel-fullscreen.novel-writing-mode-vertical .novel-pages-wrapper { padding-left: 15%; padding-right: 15%; }

.novel-fade-screen { position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: white; z-index: 10001; }

.nicescroll-rails-vr { display: none !important; }

/* :::::  Novel-fontnavi  :::::  */
.novel_navi { overflow: hidden; *zoom: 1; width: 100%; text-align: center; margin: 0 auto; margin-bottom: 1px; font-size: 14px; }

.novel_navi_font span { display: inline-block; margin-left: 5px; background-color: #F2F4F6; height: 20px; overflow: hidden; }

.novel_navi_font a:hover { background-color: #d0d0d0; }

.novel_navi_font a.on { background-color: #d0d0d0; }

.novel_navi_font a { display: inline-block; width: 20px; height: 21px; font-weight: bold; text-decoration: none; color: #333333; vertical-align: bottom; line-height: 21px; }

.novel_navi_font img { vertical-align: middle; }

/* :::::  Novel-page-navigation   :::::  */
.novel_page_navigation { height: 40px; line-height: 40px; background-color: #f5f5f5; text-align: center; }
.novel_page_navigation a.normal { display: block; visibility: hidden; width: 40%; height: 100%; float: left; font-size: 18px; background-color: #E9EEF5; letter-spacing: 3px; }
.novel_page_navigation a.normal:hover { text-decoration: none; background-color: #DBE8F4; }
.novel_page_navigation a.normal.button_prev:before { font-family: PixivIconsRegular; content: "x"; }
.novel_page_navigation a.normal.button_next:after { font-family: PixivIconsRegular; content: "y"; }
.novel_page_navigation.navigation_top { border-radius: 6px 6px 0 0; }
.novel_page_navigation.navigation_top a.button_prev { border-top-left-radius: 6px; }
.novel_page_navigation.navigation_top a.button_next { border-top-right-radius: 6px; }
.novel_page_navigation.navigation_bottom { border-radius: 0 0 6px 6px; }
.novel_page_navigation.navigation_bottom a.button_prev { border-bottom-left-radius: 6px; }
.novel_page_navigation.navigation_bottom a.button_next { border-bottom-right-radius: 6px; }
.novel_page_navigation.nologin { border-radius: 0; }
.novel_page_navigation.nologin a.normal { border-radius: 0; }
.novel_page_navigation div.page_num { display: block; width: 20%; height: 100%; float: left; background-color: #f5f5f5; color: #666; font-size: 16px; }

/* :::::  Novel-marker   :::::  */
.add_marker.bottom { display: inline-block; margin-bottom: 10px; }
.add_marker .message-marked, .add_marker .message-loading { display: none; }
.add_marker.active .message-marked { display: inline; }
.add_marker.active .message-unmarked { display: none; }
.add_marker.loading .message-loading { display: inline; }
.add_marker.loading .message-unmarked { display: none; }

/* :::::  Novel-context  :::::  */
.novelimage { text-align: center; }

.novel_article .chapter { font-weight: bold; font-size: 125%; margin: 10px 0px; line-height: 2.2em; }

.novel_article { line-height: 2.2em; }

#preview_area.novel_size_small .novel_article { font-size: 80%; }

#preview_area.novel_size_big .novel_article { font-size: 120%; }

#preview_area.novel_font_serif .novel_article, #preview_area.novel_font_serif .novel_article * { font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "HiraMinProN-W3", "HiraMinProN-W6", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HiraMinPro-W3", "HiraMinPro-W6", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "HG明朝E", "HGP明朝E", "HGS明朝E", "HGMinchoE", "HGPMinchoE", "HGSMinchoE", "HG明朝B", "HGP明朝B", "HGS明朝B", "HGMinchoB", "HGPMinchoB", "HGSMinchoB", "平成明朝", "平成明朝 Std", "平成明朝 Pro", "Heisei Mincho", "Heisei Mincho Std", "Heisei Mincho Pro", "IPA明朝", "IPAMincho", "georgia ref", "times new roman", serif; }

#preview_area.novel_font_serif .novel_article p.chapter { font-family: "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif; }

#preview_area.novel_line_narrow .novel_article { line-height: 1.5; }

/* :::::  Novel-ranking  :::::  */
.novel_rank_tags span { display: inline-block; padding: 0pt 5px; margin: 0pt 0pt 2pt 1px; font-size: 90%; }

/* :::::  Novel-outline  :::::  */
.novel-outline { width: 100%; list-style: none; }

.novel-outline li { clear: both; position: relative; padding-bottom: 2px; border-bottom: dotted 2px #999999; }

.novel-outline a { background: none repeat scroll 0 0 #FFFFFF; font-weight: normal; left: 0; padding: 0 4px 0 0; position: relative; top: 0.4em; }

.novel-outline em { color: #000000; background: #ffffff; padding: 0 0 0 5px; font: 90% Georgia, "Times New Roman", Times, serif; position: absolute; bottom: -.2em; right: 0; }

.novel-outline sup { font-size: 75%; color: #666; margin-left: 3px; }

/* :::::  Novel-nologin  :::::  */
.novel-front-content { position: relative; background: #f2f4f6; width: 970px; margin: 10px auto; border: 1px solid #d6dee5; border-radius: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; color: #333; }

.novel-front-content h1 { font-size: 24px; font-weight: bold; line-height: 42px; }

.novel-front-mainContent { width: 735px; float: left; background: #FFFFFF; }

.novel-front-mainHeader { padding: 20px 20px 0px 20px; }

.novel-front-mainHeader-cover { float: left; margin: 4px; width: 100px; height: 100px; text-align: center; }

.novel-front-mainHeader-cover img { border: 2px solid #D6DEE5; }

.novel-front-mainHeader-titles { float: left; width: 580px; }

.novel_share { margin-top: 10px; margin-bottom: 10px; position: relative; margin-left: 20px; text-align: left; }

.novel_share .bookmark { position: absolute; top: -5px; right: 10px; }

.novel-front-subContent { position: absolute; top: 0; right: 0; padding: 10px; width: 215px; }

.novel-front-subContent h2 { font-size: 14px; font-weight: bold; line-height: 1.7; min-height: 50px; padding-bottom: 10px; overflow: hidden; }

.novel-front-subContent .info { overflow: hidden; padding: 0 0 5px; border-bottom: dotted 1px #D6DEE5; display: block; text-align: left; width: auto; /*他クラス打ち消し*/ }

.novel-front-subContent .info:last-child { border: none; }

.novel-front-subContent .info span { display: inline-block; vertical-align: middle; }

.novel-front-subContent .info .views { font: normal normal bold 24px/normal Arial; }

.novel-front-subContent .info span:first-child:after { content: ":"; font-weight: normal; color: #BABABA; margin: 5px; }

.novel-front-subContent span { display: block; }

.novel-front-subContent p { color: #666666; }

.novel-front-subContent h2 img { float: left; margin-right: 15px; }

.novel-front-subContent li { width: 215px; text-align: left; padding: 4px 0px; margin-bottom: 5px; display: inline-block; vertical-align: top; }

.novel-front-subContent li .cover { float: left; }

.novel-front-subContent li .cover a { width: 94px; float: left; text-align: center; }

.novel-front-subContent li .abstract { float: left; width: 115px; }

.novel-front-subContent li .abstract .title { margin-bottom: 4px; }

.novel-front-subContent li .abstract .title a { text-align: left; font-weight: bold; font-size: 14px; }

.novel-front-subContent li .abstract .tag { font-size: 80%; margin-bottom: 5px; }

.novel-front-subContent h3 { font-size: 14px; font-weight: bold; line-height: 1.7; margin: 30px 0 10px 0; border-bottom: 1px solid #d6dee5; width: 100%; display: block; }

/* type-series  *************/
.type-series li { padding: 0 0 0.5em 0; margin-left: 24px; list-style-type: decimal; }

.type-series li:last-child { list-style-type: none; text-align: right; padding: 5px 0; }

/* mobile QR  *************/
#novel_qr { text-align: center; }

#novel_qr p { margin: 5px 0; }

#novel_qr_title, #novel_qr span { font-weight: bold; }

#novel_qr_link { margin: 10px 0px; cursor: pointer; color: #258FB8; }

/* 小説サムネイルUI */
.novel-box, .novel_listview > li { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color: #fff; border: 1px solid #d6dee5; clear: none; margin-top: 12px; min-height: 140px; overflow: hidden; text-align: left; padding: 0; float: left; background: #ffffff url("../images/novel-box-left.png") repeat-y; }

.baseTop1 .contents, .baseTop2 .contents, .baseTop3 .contents { width: 364px; }

.baseTop1 li.novel-box, .baseTop2 li.novel-box, .baseTop3 li.novel-box { width: 488px; }

.one_column .novel_listview { padding-left: 4px; }

.one_column .novel-box, .column .novel-box { width: 448px; margin: 8px 0 0 20px; }

.one_column .contents, .column .contents { width: 324px; }

.display_works .novel_listview, .two_column_body .novel_listview { margin-left: -20px; }

.display_works .contents, .two_column_body .contents { width: 227px; }

.display_works .novel_listview > li, .two_column_body .novel_listview > li { width: 348px; margin: 8px 0 0 20px; }

#column-main .novel_listview article { width: 580px; }
#column-main .novel_listview article .rank-content:after { content: ""; clear: both; display: block; }

#column-main .novel-box { margin: 9px 0 0 93px; width: 482px; }

.articles .contents { width: 359px; }

.novel_listview .novel-box .novel-thumbnail { position: relative; float: left; width: 121px; text-align: center; margin: 0; -webkit-margin: 0; }
.novel_listview .novel-box .novel-thumbnail input { position: absolute; display: block; text-align: left; margin: 2px; }
.novel_listview .novel-box .novel-thumbnail div.series-badge { position: absolute; top: 10px; right: 10px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; border: 2px solid #b4c2d0; background-color: #ffffff; }
.novel_listview .novel-box .novel-thumbnail div.series-badge a { display: block; min-height: 28px; }
.novel_listview .novel-box .novel-thumbnail a { display: block; min-height: 116px; }
.novel_listview .novel-box .novel-thumbnail a img { margin: 10px auto 0 auto; padding: 2px; border: 1px solid #f2f4f6; }
.novel_listview .novel-box .novel-thumbnail a :hover { border: 1px solid #d0d0d0; padding: 2px; }
.novel_listview .novel-box .novel-thumbnail p { display: block; padding: 4px 4px; color: #808080; font-size: 11px; }
.novel_listview .novel-box .novel-thumbnail p span { color: #000000; font-weight: bold; }
.novel_listview div.contents { float: left; }
.novel_listview div.contents ul.count-list { position: relative; float: right; padding: 4px; }
.novel_listview div.contents h1 { font-weight: bold; font-size: 16px; color: #333333; line-height: 23px; padding: 7px 0px 0px 14px; float: none; }
.novel_listview div.contents h1 a { color: #333333 !important; }
.novel_listview div.contents .bottom { border-bottom: dotted 1px #e4e7ee; }
.novel_listview div.contents h2 { color: #666666; padding: 1px 0px 4px 14px; }
.novel_listview div.contents h2 a { color: #666666; text-decoration: none; vertical-align: center; }
.novel_listview div.contents h2 a:hover { text-decoration: underline; }
.novel_listview div.contents ul:after { content: ""; clear: both; }
.novel_listview div.contents ul.self-info li { width: 92px; display: inline; margin: 0; border: none; padding: 0; }
.novel_listview div.contents .edit_link { padding: 2px 2px 2px 14px; }
.novel_listview div.contents ul.tags { border-top: dotted 1px #e4e7ee; padding: 4px 2px 2px 14px; word-break: break-all; text-align: left; }
.novel_listview div.contents ul.tags li { display: inline; font-size: 12px; width: auto; margin: 0; padding: 0; border: none; float: none; }
.novel_listview div.contents ul.tags li a { color: #258fb8; }
.novel_listview div.contents ul.tags li:before { content: '/'; margin-right: 5px; color: #ccc; margin: 0 2px; }
.novel_listview div.contents ul.tags li:first-child:before { content: none; padding: 0; }
.novel_listview div.contents p { padding: 2px 2px 8px 14px; }
.novel_listview li.display_works_edited { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color: #fff; border: 1px solid #d6dee5; background: url("../images/novel-box-left.png") repeat-y #ffc; clear: none; min-height: 142px; overflow: hidden; text-align: left; padding: 0; }
.novel_listview li.display_works_edited li { background-color: #ffc; }

.upload_notice { line-height: 22px; margin: 35px auto 0 auto; text-align: left; width: 600px; }

.categories .category a { display: block; padding: 3px 10px; font-size: 11px; }
.categories .category a:hover { text-decoration: none; }
.categories .category + .category { border-top: 1px dotted #d6dee5; }
.categories .category:hover { background-color: #eef0f3; }
