@charset "UTF-8";
/* CSS Document */


#header .search{
  display: inline-block;
}

.navbar>.container .navbar-brand{
  margin-left: 0;
}


.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar {
  width:100%;
  max-width:1160px;
  margin:auto;
  border-radius: 0;
  margin-bottom: 0;
  background: #FFF;
  padding: 0;
  padding-bottom: 0;
}
 
 .navbar-nav{
  margin-top: 0px;
 }

.navbar-nav>li{
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 16px 5px 16px;
  margin: 0;
  font-size:14px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
}



.navbar-inverse .navbar-nav > li > a.mode {
	background-color: #bec38b;
}

.navbar-inverse .navbar-nav > li > a.sante {
	background-color: #fa9581;
}

.navbar-inverse .navbar-nav > li > a.enfant {
	background-color: #8bacbd;
}

.navbar-inverse .navbar-nav > li > a.maison {
	background-color: #f57782;
}

.navbar-inverse .navbar-nav > li > a.deco {
	background-color: #d31d4d;
}

.navbar-inverse .navbar-nav > li > a.brico {
	background-color: #ccb89b;
}

.navbar-inverse .navbar-nav > li > a.jardin {
	background-color: #bbc923;
}

.navbar-inverse .navbar-nav > li > a.animaux {
	background-color: #1f9ea9;
}
.navbar-inverse .navbar-nav > li > a.beaute {
	background-color: #EF4151;
}

.navbar-inverse .navbar-nav > li > a.cuisine {
	background-color: #b39bb1;
}

.navbar-inverse .navbar-nav > li > a.tech {
	background-color: #855b81;
}

.navbar-inverse .navbar-nav > li > a.autres {
	background-color: #bbb;
}
.navbar-inverse {
  border: none;
}
.navbar-inverse .navbar-nav > li > a:hover{
  background-color: #c52d2f;
  color: #fff;
}
.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(0,0,0,.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}

/* BOOTSTRAP */

.collapse {
	display: none
}
.collapse.in {
	display: block
}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height .35s ease;
	transition: height .35s ease
}


.dropdown {
	position: relative;
}
.dropdown-toggle:focus {
	outline: 0
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box
}
.dropdown-menu.pull-right {
	right: 0;
	left: auto
}
.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5
}
.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333;
	white-space: nowrap
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #262626;
	text-decoration: none;
	background-color: none;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #428bca;
	outline: 0
}
.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
	color: #999
}
.dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
	background-image: none;
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.open>.dropdown-menu {
	display: block
}
.open>a {
	outline: 0
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent
}
.navbar:before, .navbar:after {
	display: table;
	content: " "
}
.navbar:after {
	clear: both
}
.navbar:before, .navbar:after {
	display: table;
	content: " "
}
.navbar:after {
	clear: both
}
.navbar-header:before, .navbar-header:after {
	display: table;
	content: " "
}
.navbar-header:after {
	clear: both
}
.navbar-header:before, .navbar-header:after {
	display: table;
	content: " "
}
.navbar-header:after {
	clear: both
}
.navbar-collapse {
	max-height: 400px;
	overflow-x: visible;
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	-webkit-overflow-scrolling: touch;
	background-color: #BBB;
}
.navbar-collapse:before, .navbar-collapse:after {
	display: table;
	content: " "
}
.navbar-collapse:after {
	clear: both
}
.navbar-collapse:before, .navbar-collapse:after {
	display: table;
	content: " "
}
.navbar-collapse:after {
	clear: both
}
.navbar-collapse.in {
	overflow-y: auto
}
.navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px
}
.navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0
}
.navbar-brand {
	float: left;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px
}
.navbar-brand:hover, .navbar-brand:focus {
	text-decoration: none
}
.navbar-toggle {
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 0px;
	
	background-color: #f8425e;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}

.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px
}
.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 4px
}
.navbar-nav {
	margin: 7.5px -15px
}
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px
}
.navbar-nav>li>.dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0
}

.navbar-inverse .navbar-toggle {
	border-color: #fff
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #1E78D2
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #fff
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #101010
}

.cnxB {
	position: relative;
	float: right;
	padding: 5px 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #f8425e;
    color:#FFF;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}

.cnxC {
	height:20px;
	line-height:20px;
	float: left;
	padding: 5px 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #f8425e;
    color:#FFF;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}
/**/


/* RESPONSIVE */
/* lg */ 
@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */
.dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
}
#portfolio .row {
    margin-left: -10px;
    margin-right: -10px;
  }
.navbar-inverse .navbar-nav > li > a.autres {
	padding-left: 20%;
	width:68px;
}
.display-768, .display-468 {
	display: none
}

.navbar-inverse .navbar-nav > li.collapse-768 {
	display: block
}
}

/* md */
@media (min-width: 960px) and (max-width: 1199px) {
 /* Make Navigation Toggle on Desktop Hover */
.dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
}
.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.navbar-inverse .navbar-nav > li > a.autres {
	padding-left: 16px;
	padding-right: 16px;
}
.display-768 {
	display: block
}
.display-468 {
	display: none
}
.navbar-inverse .navbar-nav > li.collapse-768 {
	display: none
}
}

/* sm */
@media (min-width: 768px) and (max-width: 959px) {
  /* Make Navigation Toggle on Desktop Hover */
.dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
}
.dropdown-menu > li.display-768 ,
.dropdown-menu > li.display-468 {
	display: block
}
.navbar-inverse .navbar-nav > li.collapse-768,
.navbar-inverse .navbar-nav > li.collapse-468 {
	display: none
}
.navbar-inverse .navbar-nav > li > a {
  padding: 5px 14px 5px 14px;
}
}

@media(min-width:768px) {
.navbar {
	border-radius: 4px
}	
.navbar-header {
	float: left
}
.navbar-collapse {
	width: auto;
	border-top: 0;
	box-shadow: none
}
.navbar-collapse.collapse {
	display: block!important;
	height: auto!important;
	padding-bottom: 0;
	overflow: visible!important
}
.navbar-collapse.in {
	overflow-y: visible
}
.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	padding-right: 0;
	padding-left: 0
}
.container>.navbar-header, .container>.navbar-collapse {
	margin-right: 0;
	margin-left: 0
}
.navbar-static-top {
	border-radius: 0
}
.navbar-fixed-top, .navbar-fixed-bottom {
	border-radius: 0
}
.navbar>.container .navbar-brand {
	margin-left: -15px
}
.navbar-toggle {
	display: none
}
.navbar-nav {
	float: left;
	margin: 0
}
.navbar-nav>li {
	float: left
}
.navbar-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px
}
.navbar-nav.navbar-right:last-child {
	margin-right: -15px
}
}
/* xs */
@media (min-width:468px) and (max-width: 767px) {
.navbar-collapse {
	border-top:none;
	box-shadow:none;
	
	background:none;
}
.container > .navbar-header, .container > .navbar-collapse{
    margin-left: 0;
}
.navbar-nav {
	margin: 0
}
.navbar-nav > li {
    padding-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
  width:20%;
  font-size:13px;
  padding: 5px 12px 5px 12px;
  float:left;
}
.navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	box-shadow: none
}
.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
	padding: 5px 15px 5px 25px
}
.navbar-nav .open .dropdown-menu>li>a {
	line-height: 20px
}
.navbar-nav .open .dropdown-menu>li>a:hover, .navbar-nav .open .dropdown-menu>li>a:focus {
	background-image: none
}
.navbar-header {
	float:left;
}
.navbar-toggle {
	position:absolute;
	top:-48px;
	right:0;
}
}

@media (max-width: 467px) {
.navbar-collapse {
	border-top:none;
	box-shadow:none;
	
	background:none;
}
.container > .navbar-header, .container > .navbar-collapse{
    margin-left: 0;
}
.navbar-nav {
	margin: 0
}
.navbar-nav > li {
    padding-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
  width:18%;
  font-size:10px;
  padding: 5px 12px 5px 12px;
  float:left;
}
.navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	box-shadow: none
}
.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
	padding: 5px 15px 5px 25px
}
.navbar-nav .open .dropdown-menu>li>a {
	line-height: 20px
}
.navbar-nav .open .dropdown-menu>li>a:hover, .navbar-nav .open .dropdown-menu>li>a:focus {
	background-image: none
}
.navbar-header {
	float:left;
}
.navbar-toggle {
	margin-top:-33px;
}
.cnxB {
	margin-right: 48px;
}

}