@charset "UTF-8";
/* CSS Document */

#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 0;
}

.recent-work-wrap {
  position: relative; margin: 0; 
}

.recent-work-wrap:hover {
	opacity:0.8;
}

.recent-work-wrap img{
  width: 100%;
}

.recent-work-wrap .recent-work-inner{
  top: 0;
 /* background: transparent;
  opacity: .9;*/
  width: 99%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
	background:none;
  	margin: 0;
	padding:0;
	text-transform:none;
	font-size: 22px;
  	color: #fff;
  	font-weight:700;
}

.recent-work-wrap .overlay {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 94%;
  border-radius: 0;
  
  background-attachment: scroll;
  background-clip: border-box;
  /*background-color: rgba(0, 0, 0, 0);*/
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.9) 100%);

  color: #fff;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
  padding: 0 3% ;
}

.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

/*BOOTSTRAP*/

.row:before,.row:after{display:table;content:" "}
.row:after{clear:both}
.row:before,.row:after{display:table;content:" "}
.row:after{clear:both}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left}
.col-xs-12{width:100%}
.col-xs-11{width:91.66666666666666%}
.col-xs-10{width:83.33333333333334%}
.col-xs-9{width:75%}
.col-xs-8{width:66.66666666666666%}
.col-xs-7{width:58.333333333333336%}
.col-xs-6{width:50%}
.col-xs-5{width:41.66666666666667%}
.col-xs-4{width:33.33333333333333%}
.col-xs-3{width:25%}
.col-xs-2{width:16.666666666666664%}
.col-xs-1{width:8.333333333333332%}

@media(min-width:768px) {
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left}
.col-sm-12{width:100%}
.col-sm-11{width:91.66666666666666%}
.col-sm-10{width:83.33333333333334%}
.col-sm-9{width:75%}
.col-sm-8{width:66.5%}
.col-sm-7{width:58.333333333333336%}
.col-sm-6{width:50%}
.col-sm-5{width:41.66666666666667%;}
.col-sm-4{width:32.85%}
.col-sm-3{width:25%}
.col-sm-2{width:16.666666666666664%}
.col-sm-1{width:8.333333333333332%}

li.collapse-768{display:block}

.col-md-4 .recent-work-wrap .recent-work-inner h3 a{
  font-size: 22px;
}
.col-md-4,.col-md-8 {float:left}
.col-md-8{width:63.5%;} .col-md-8 img {height:324px; }
.col-md-4{width:36%;} .col-md-4 img {height:160px;}
}