/* CSS Reset Style Starts */
body,header,section,footer,article,aside,figure,figcaption,nav,hgroup,form,h1,h2,h3,h4,h5,h6,ul,li{margin:0;padding:0;display:block;}
input, button, select, textarea{line-height:normal; outline:0;}
figure,.bx-wrapper img {text-align:center}
img {max-width:100%; height:auto; vertical-align:middle; border:0; -ms-interpolation-mode:bicubic;}
img,a,a:hover,a:focus,a:active,*:before,*:after {outline:none;}
a{cursor:pointer;text-decoration:none;display:block;color:#000;}
a:hover,a:active,a:focus{cursor:pointer;text-decoration:none;color:#ed1c24;/*display:block;*/}
a{-webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s;}
ul,ol{list-style-type:none; margin:0; padding:0;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{line-height:normal;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ccc !important;}
input::-moz-placeholder,textarea::-moz-placeholder{color:#ccc !important;}
input:-moz-placeholder,textarea:-moz-placeholder{color:#ccc !important;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ccc !important;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/* CSS Reset Style Ends */

/* Global Style Starts */
body{-webkit-text-size-adjust:none; -moz-text-size-adjust:none; -o-text-size-adjust:none; -ms-text-size-adjust:none; overflow-x:hidden !important; color:#000;}
.nanayam_body_tag{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important; font-size:14px !important; line-height:1.42857143 !important;}
.row{margin:0}
.d-block{display:block !important;}
.d-inline{display:inline-block !important;}
.d-inherit{display:inherit !important;}
.p-relative{position:relative;}
.p-absolute{position:absolute;}
.fleft{float:left;}
.fright{float:right;}
.fnone{float:none;}
.clear{clear:both;}
.overflow-inherit{overflow:inherit;}
.overflow-hidden{overflow:hidden;}
.min-height-inherit{min-height:inherit !important;}
.full-width{width:100%;}
h1{font-size:24px; line-height:26px;}
h2{font-size:22px; padding:0 5px 0 10px; margin-bottom:10px; position:relative; font-weight:bold; /*line-height:25px;*/}
h2:before{background:#ED1C24; width:4px; height:24px; left:0;}
h3{font-size:18px;}
p{font-size:15px; color:#444; /*line-height:20px;*/ font-weight:normal;}
/*.article-cnt ul{font-weight:normal;}
.article-cnt ul li{float:left; clear:both; padding-left:25px; background: url(../images/icons/bullet.png) no-repeat 10px 6px; margin-bottom:10px;}*/
.article-cnt p{font-size:18px; /*line-height:22px;*/}
.article-cnt .hd-big-txt{font-size:22px;}
.article-cnt .related-inner-cnt{border-top:2px solid #d9d9d9; border-bottom:2px solid #d9d9d9; background:#f5f5f5;}
.article-cnt .related-inner-cnt .hd-band{color:#55ACEE; background-color:#fff;}
.article-cnt .related-inner-cnt figure{width:150px;}
.article-cnt .related-inner-cnt .hd-big-txt{font-size:18px; max-height:85px; overflow:hidden;}
.article-cnt .related-inner-cnt p{max-height:77px; overflow:hidden;}
.anchor-txt-color a{color: #228FE2;display:inline;}
.article-cnt hr{border-width:3px; border-color:#ccc;}
.article-cnt .vuukle-powerbar iframe{height:44px !important;}
.more-link{font-size:12px;}
.btn-sm, .btn-group-sm>.btn{padding:0 6px; font-size:18px;}
.alert-txt,.alert-sucess-txt{font-family:Helvetica; font-size:11px; font-weight:normal;}
.alert-txt{color:#ed1c24;}
.alert-sucess-txt{color:green;}
/* ------------------ Alert Popup style --------------------------- */
.alert-popup-msg .modal-dialog{position:absolute; top:50%; left:50%; margin:-45px 0 0 -200px;}
.alert-popup-msg button{position:relative; left:8px; top:-8px; z-index:99; background-color:#FF0004;}
.alert-popup-msg p{font-size:14px;}
/* Font Style */
.font-normal{font-weight:normal;}
.font-bold{font-weight:bold;}
.font-size8{font-size:8px;}
.font-size9{font-size:9px; line-height:18px;}
.font-size10{font-size:10px; line-height:18px;}
.font-size11{font-size:11px; line-height:20px;}
.font-size12{font-size:12px;}
.font-size13{font-size:13px;}
.font-size14{font-size:14px;}
.font-size15{font-size:15px;}
.font-size16{font-size:16px;}
.font-size18{font-size:18px;}
.font-size20{font-size:20px;}
.color-black{color:#000;}
.color-grey{color:rgba(0,0,0,0.8);}
.color-grey-light{color:#a3a2a2;}
.color-white{color:#fff;}
.color-maroon{color:#ED1C24;}
.color-blue{color:#343a90;}
.color-blue-light{color:#0BA3F7;}
.color-green{color:green;}
.color-green-light{color:#38A703;}
.color-red{color:#ED1C24;}
.line-height-normal{line-height:normal;}
.line-height12{line-height:12px;}
.line-height16{line-height:16px;}
.line-height18{line-height:18px;}
/* Background Style */
.bg-white{background-color:#fff;}
.bg-black{background-color:#1a1a1a;}
.bg-grey{background-color:#fff;}
.bg-grey-light{background-color:#fff;}
.bg-grey-medium{background-color:#dddddd;}
.bg-grey-dark1{background-color:#a3a2a2;}
.bg-grey-dark{background-color:#0f0f0f;}
.bg-grey-header{background-color:#fff;}
.bg-grey-footer{background-color:#1f1f1f;}
.bg-blue{background-color:#0BA3F7}
.bg-blue-light{background-color:#fff;}
.bg-green{background-color:#0cb15d;}
.bg-red{background-color:#ed1c24;}
.bg-maroon{background-color:#ed1c24;}
/* Margin Style */
.auto-margin{margin:0 auto !important;}
.no-margin{margin:0 !important;}
.no-margin-top{margin-top:0 !important;}
.no-margin-right{margin-right:0 !important;}
.no-margin-left{margin-left:0 !important;}
.no-margin-bottom{margin-bottom:0 !important;}
.no-margin-top-bottom{margin-top:0 !important;margin-bottom:0 !important;}
.no-margin-left-right{margin-left:0 !important;margin-right:0 !important;}
.mar3{margin:3px;}
.marT3{margin-top:3px;}
.marB3{margin-bottom:3px;}
.marTB3{margin-top:3px; margin-bottom:3px;}
.marL3{margin-left:3px;}
.marR3{margin-right:3px;}
.marLR3{margin-left:3px; margin-right:3px;}
.mar5{margin:5px;}
.marT5{margin-top:5px;}
.marB5{margin-bottom:5px;}
.marTB5{margin-top:5px; margin-bottom:5px;}
.marL5{margin-left:5px;}
.marR5{margin-right:5px;}
.marLR5{margin-left:5px; margin-right:5px;}
.mar8{margin:8px;}
.marT8{margin-top:8px;}
.marB8{margin-bottom:8px;}
.marTB8{margin-top:8px; margin-bottom:8px;}
.marL8{margin-left:8px;}
.marR8{margin-right:8px;}
.marLR8{margin-left:8px; margin-right:8px;}
.mar10{margin:10px;}
.marT10{margin-top:10px;}
.marB10{margin-bottom:10px;}
.marTB10{margin-top:10px; margin-bottom:10px;}
.marL10{margin-left:10px;}
.marR10{margin-right:10px;}
.marLR10{margin-left:10px; margin-right:10px;}
.mar15{margin:15px;}
.marT15{margin-top:15px;}
.marB15{margin-bottom:15px;}
.marTB15{margin-top:15px; margin-bottom:15px;}
.marL15{margin-left:15px;}
.marR15{margin-right:15px;}
.marLR15{margin-left:15px; margin-right:15px;}
.mar20{margin:20px;}
.marT20{margin-top:20px;}
.marB20{margin-bottom:20px;}
.marTB20{margin-top:20px; margin-bottom:20px;}
.marL20{margin-left:20px;}
.marR20{margin-right:20px;}
.marLR20{margin-left:20px; margin-right:20px;}
/* Padding Style */
.no-padding{padding:0 !important;}
.no-padding-top{padding-top:0 !important;}
.no-padding-left{padding-left:0 !important;}
.no-padding-right{padding-right:0 !important;}
.no-padding-bottom{padding-bottom:0 !important;}
.no-padding-top-bottom{padding-top:0 !important;padding-bottom:0 !important;}
.no-padding-left-right{padding-left:0 !important;padding-right:0 !important;}
.pad3{padding:3px;}
.padT3{padding-top:3px;}
.padB3{padding-bottom:3px;}
.padTB3{padding-top:3px; padding-bottom:3px;}
.padL3{padding-left:3px;}
.padR3{padding-right:3px;}
.padLR3{padding-left:3px; padding-right:3px;}
.pad5{padding:5px;}
.padT5{padding-top:5px;}
.padB5{padding-bottom:5px;}
.padTB5{padding-top:5px; padding-bottom:5px;}
.padL5{padding-left:5px;}
.padR5{padding-right:5px;}
.padLR5{padding-left:5px; padding-right:5px;}
.pad8{padding:8px;}
.padT8{padding-top:8px;}
.padB8{padding-bottom:8px;}
.padTB8{padding-top:8px; padding-bottom:8px;}
.padL8{padding-left:8px;}
.padR8{padding-right:8px;}
.padLR8{padding-left:8px; padding-right:8px;}
.pad10{padding:10px;}
.padT10{padding-top:10px;}
.padB10{padding-bottom:10px;}
.padTB10{padding-top:10px; padding-bottom:10px;}
.padL10{padding-left:10px;}
.padR10{padding-right:10px;}
.padLR10{padding-left:10px; padding-right:10px;}
.pad15{padding:15px;}
.padT15{padding-top:15px;}
.padB15{padding-bottom:15px;}
.padTB15{padding-top:15px; padding-bottom:15px;}
.padL15{padding-left:15px;}
.padR15{padding-right:15px;}
.padLR15{padding-left:15px; padding-right:15px;}
.pad20{padding:20px;}
.padT20{padding-top:20px;}
.padB20{padding-bottom:20px;}
.padTB20{padding-top:20px; padding-bottom:20px;}
.padL20{padding-left:20px;}
.padR20{padding-right:20px;}
.padLR20{padding-left:20px; padding-right:20px;}
.pad-sec{padding:30px 0}  
.pad-sec-md{padding:20px 0}
.pad-sec-sm{padding:15px 0}
.pad-sec-xsm{padding:10px 0}
.pad-sec-lg{padding: 60px 0;}
/* Border Style */
.border-grey{border:1px solid #fff;}
.border-top-grey{border-top:1px solid #fff;}
.border-right-grey{border-right:1px solid #fff;}
.border-left-grey{border-left:1px solid #fff;}
.border-bottom-grey{border-bottom:1px solid #fff;}
.border-grey-dark{border:1px solid #fff;}
.border-top-grey-dark{border-top:1px solid #fff;}
.border-right-grey-dark{border-right:1px solid #fff;}
.border-left-grey-dark{border-left:1px solid #fff;}
.border-bottom-grey-dark{border-bottom:1px solid #fff;}
.no-border{border:none !important;}
.no-border-top{border-top:none !important;}
.no-border-right{border-right:none !important;}
.no-border-left{border-left:none !important;}
.no-border-bottom{border-bottom:none !important;}
/* Table Style */
.table>thead>tr>th,.table>tbody>tr>td,.table>tfoot>tr>td{vertical-align:middle;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th{font-size:13px; text-align:center; background:#ed1c24; color:#fff;}
table#cart>thead>tr>th{font-size:12px;}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{border:2px solid #fff;}
.table-striped>tbody>tr{background-color:#e9e9e9;}
.table-striped>tbody>tr:nth-child(odd){background-color:#DCDCDC;}
/* Gradient Style Starts */
.gradient{
	background:#ffffff;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d9d9d9));
	background: -webkit-linear-gradient(#ffffff, #d9d9d9 100%);
	background: -moz-linear-gradient(#ffffff, #d9d9d9 100%);
	background: -ms-linear-gradient(#ffffff, #d9d9d9 100%);
	background: -o-linear-gradient(#ffffff, #d9d9d9 100%);
	background: linear-gradient(#ffffff, #d9d9d9 100%);
	-pie-background: linear-gradient(#ffffff, #d9d9d9 100%);
	position:relative;
}
.gradient-red{
	background:#C81600;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#CC0910), to(#ed1c24));
	background: -webkit-linear-gradient(#CC0910, #ed1c24 100%);
	background: -moz-linear-gradient(#CC0910, #ed1c24 100%);
	background: -ms-linear-gradient(#CC0910, #ed1c24 100%);
	background: -o-linear-gradient(#CC0910, #ed1c24 100%);
	background: linear-gradient(#CC0910, #ed1c24 100%);
	-pie-background: linear-gradient(#CC0910, #ed1c24 100%);
}
/* Rounded Corner Style Starts */
.rounded{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	position:relative;
}
.rounded-half{
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	position:relative;
}
.box-shadow{
    box-shadow: 0 0 15px #cccccc;
   -webkit-box-shadow: 0 0 15px #cccccc;
   -moz-box-shadow: 0 0 15px #cccccc;
   -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=0),
           progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=90),
           progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=180),
           progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=270)";
}
/* Transition Style Starts */
.transition{-webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; -ms-transition: 0.3s; transition: 0.3s;}
.linear-transition{-webkit-transition:all 300ms linear 0s; -moz-transition:all 300ms linear 0s; -o-transition:all 300ms linear 0s; -ms-transition:all 300ms linear 0s; transition:all 300ms linear 0s;}
/* Textbox style starts */
.txt-box{background:#fff; border:1px solid #ccc; position:relative; font-family:helvetica; font-weight:normal; font-size:13px; padding:4px 10px; width:100%; border-radius:0; box-shadow:none; /*-webkit-appearance:none;*/ -webkit-border-radius:0; -webkit-box-shadow:none; resize:none;}
.submit-btn{padding:5px 15px; text-transform:uppercase; font-family:helvetica; font-weight:bold; font-size:12px; line-height:normal; color:#ab1024;}
.submit-btn:before{content:"";position:absolute; left:0; top:0; height:100%; width:6px; background:#f9f9f9;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#797979));
	background: -webkit-linear-gradient(#f9f9f9, #797979 100%);
	background: -moz-linear-gradient(#f9f9f9, #797979 100%);
	background: -ms-linear-gradient(#f9f9f9, #797979 100%);
	background: -o-linear-gradient(#f9f9f9, #797979 100%);
	background: linear-gradient(#f9f9f9, #797979 100%);
	-pie-background: linear-gradient(#f9f9f9, #797979 100%);}
.submit-btn:hover{
	background:#d9d9d9;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9d9d9), to(#ffffff));
	background: -webkit-linear-gradient(#d9d9d9, #ffffff 100%);
	background: -moz-linear-gradient(#d9d9d9, #ffffff 100%);
	background: -ms-linear-gradient(#d9d9d9, #ffffff 100%);
	background: -o-linear-gradient(#d9d9d9, #ffffff 100%);
	background: linear-gradient(#d9d9d9, #ffffff 100%);
	-pie-background: linear-gradient(#d9d9d9, #ffffff 100%);
	position:relative;
}
/* Global Style Ends */

/* Loading style starts */
.loading{position:relative;width:100%;height:100%; background:#fff; left:0px; top:0px; z-index:999999; min-height:200px;}
.loading .loading-circle {position:absolute; left:47%; margin-left:-11px; top:47%; margin-top:-11px; width:64px; height:64px; background:url(../images/common/loader.gif) no-repeat center center;}
/* Common style starts */
.sprite{background-image:url(../images/icons/sprite.png);}
.group-list{font-weight:normal; font-size:14px; margin:10px 0 0 0;}
.group-list>li{padding-left:30px; margin:4px 0; background:url(../images/icons/bullet.png) no-repeat 10px 6px}
.clr:before{display:none;}
h2:before,
.link-list li a:before,
.main-menu li a:before,
.main-menu li a:hover:after,
.main-menu li a.active:after,
.second-menu li a:before,
.second-menu li a:hover:after,
.second-menu li a.active:after,
.ft-second-menu li a:before,
.ft-third-menu li a:before{content:""; position:absolute;}
/* Common style end */

/* Header style starts */
.vikatan-logo{float:left; margin-top:6px;}
/*.vikatan-logo-home{float:left; width:90px; margin-top:15px;}*/
.hd-icon-list{margin:16px 5px 0 0; padding:0;}
.hd-icon-list>li{float:left; padding:0 5px; background:url(../images/divider/app-divider.png) no-repeat left center;}
.hd-icon-list>li:first-child{background-image:none;}
.hd-icon-list>li:last-child>a{margin-top:0;}
.hd-icon-list>li>a{font-size:26px; line-height:20px;}
.hd-icon-list>li>a>.fa-home{color:#A71216;}
.hd-icon-list>li>a>.fa-apple{color:#666062;}
.hd-icon-list>li>a>.fa-android{color:#A5D11C;}
.hd-icon-list>li>a>.fa-search{color:#645E60; font-size:24px;}
.search-box{float:left; position:relative; margin-right:10px;}
.search-box .txt-box{padding:4px 25px 6px 10px; width:180px; font-size:14px;}
.search-icon{top:16px; right:1px; color:#898989; text-align:center; padding-top:2px; position:absolute; width:28px; height:26px; font-size:16px;}
.hd-social-icon-list>li{float:left; margin-right:5px; padding:5px 0;}
.hd-social-icon-list>li>a{float:left; line-height:0;}
.hd-cart-icon{margin:3px;}
.hd-cart-icon>a{float:left;}
.link-list>li{float:left; text-transform:uppercase; font-size:11px; }
.link-list>li>a{float:left; color:#343a90; padding:7px 5px; position:relative; font-size:12px; font-weight:bold;}
.link-list>li>a:hover{color:#ed1c24;}
.link-list>li>a:before{width:1px; height:15px; background:#535AC8; top:10px; left:0;}
.link-list>li:first-child>a:before{display:none;}
.link-list>li.dropdown.login-sub,
.link-list>li.dropdown.top-subs-drop,
.link-list>li.dropdown.reg-sub{width:auto;border:0;}
.link-list>li.dropdown.login-sub>.dropdown-menu,
.link-list>li.dropdown.top-subs-drop>.dropdown-menu,
.link-list>li.dropdown.reg-sub>.dropdown-menu{top:100%; right:50%; left:inherit; height:inherit; margin-top:-1px; border-radius:0; border-top:2px solid #ed1c24; cursor:auto;}
.dropdown .dropdown-menu.login-popup-cnt div,
.dropdown .dropdown-menu.reg-popup-cnt div{position:relative; height:auto; border:0; border-top:0; overflow:auto; left:0; right:0; margin-top:0;}
.dropdown.open .dropdown-menu.login-popup-cnt div,
.dropdown.open .dropdown-menu.reg-popup-cnt div{z-index:99;}
.link-list>li.dropdown.login-sub>.dropdown-menu{margin-right:-175px;}
.link-list>li.dropdown.top-subs-drop>.dropdown-menu{margin-right:-80px;width:auto;}
.link-list>li.dropdown.reg-sub>.dropdown-menu{margin-right:-34px;}
.link-list>li.dropdown.open>a:after{content:"";position:absolute; margin-right:-3px; bottom:0; right:50%; border-left:6px solid transparent; border-right:6px solid transparent; border-bottom:6px solid #ed1c24;}
.link-list>li.dropdown .dropdown-menu>li{font-size:12px;}
.signin-block{text-align:center;}
.signin-block>a{display:inline-block; width:35px; height:35px; background-color:#797979; margin-right:10px; color:#fff;font-size:28px; line-height:normal; padding-top:2px;}
.signin-block>a.icon-login-google{background-color:#ed1c24;}
.signin-block>a.icon-login-fb{background-color:#3B589B;}
.signin-block>a.icon-login-vikatan{background-color:#A51316;}
.signin-block .icon-login-fb{margin-right:0;}
.signin-block .icon-login-vikatan{background-position: -96px -365px; width:70px;}

/* Base for Checkbox label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked{position:absolute; left:-9999px;}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label{position:relative; padding-left:15px; cursor:pointer; font-weight:normal;}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before{content:''; position:absolute; left:0; top:0; width:11px; height:11px; background:url(../images/icons/checkbox-off.png) no-repeat;}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after{content:''; position:absolute; left:0; top:0; width:11px; height:11px; background:url(../images/icons/checkbox-on.png) no-repeat;}
[type="checkbox"]:not(:checked) + label:after{opacity:0;transform:scale(0);}
[type="checkbox"]:checked + label:after{opacity:1;transform:scale(1);}
/* Basic Checkbox styles */
.radio-inline{padding:0; font-family:helvetica; font-size:12px;}
input[type=radio]{opacity:0; z-index:12; width:18px; height:18px;}
input[type=radio]:checked,input[type=radio]:focus{outline:none !important;}
input[type=radio]+.lbl::before{content:"\2022"; display:inline-block; text-align:center; vertical-align:middle; font-family:Helvetica; font-size:20px; font-weight:normal; color:#fff; background-color:#FAFAFA; border:1px solid #CCC;  height:13px; line-height:13px; min-width:13px; margin-right:6px; margin-top:-5px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%;}
input[type=radio]:checked+.lbl::before{content:"\2022"; display:inline-block; background-color:#F5F8FC; border-color:#adb8c0; color:#2091cf;}
input[type=radio]:hover+.lbl::before,input[type=radio]+.lbl:hover::before{border-color:#1c7aad;}
.subscribe-page .radio-inline.btn input[type=radio]:checked+.lbl::before{color:#fff;}
.subscribe-page .radio-inline.btn.active input[type=radio]:checked+.lbl::before{color:#2091cf;}

.redesign-checkout input[type=radio]+.lbl::before{min-width:16px; height:16px; font-size:32px; line-height:14px;}

/* Header main level menu style start */
.main-menu{width:100%; font-family:'PTSansRegular', helvetica, sans-serif;}
.main-menu>li{float:left; font-size:11px; line-height:18px; text-align:center;}
.main-menu>li>a{position:relative; padding:5px 9px; color:#fff; font-weight:bold;}
.main-menu>li>a:before,.main-menu>li.menu-more>ul>li>a:before{width:2px; height:20px; background:#c50108; border-left:1px solid #fd121b; left:0; top:4px;}
.main-menu>li:first-child>a:before{display:none;}
.main-menu>li>a:hover:after, .main-menu li a.active:after{bottom:-10px;}
.main-menu>li>a:hover:after, .main-menu li a.active:after, .second-menu li a:hover:after, .second-menu li a.active:after{left:0; width:100%; height:8px; border-top:2px solid #ed1c24; background:url(../images/icons/menu-arrow.png) no-repeat top center; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s;}
.second-menu.subscription-menu li a:hover:after,.second-menu.subscription-menu li a.active:after{display:none;}
.main-menu>li.menu-more{position:static; width:auto; border:0;}
.main-menu>li.menu-more>a{font-size:30px; height:28px; line-height:0; padding:5px 10px; letter-spacing:-1px;}
.main-menu>li.menu-more>a:after{display:none;}
.main-menu>li.dropdown.open{background:#F31D03; background:-webkit-gradient(linear, 0 0, 0 100%, from(#F31D03), to(#C81600)); background:-webkit-linear-gradient(#F31D03, #C81600 100%); background:-moz-linear-gradient(#F31D03, #C81600 100%); background:-ms-linear-gradient(#F31D03, #C81600 100%); background:-o-linear-gradient(#F31D03, #C81600 100%); background:linear-gradient(#F31D03, #C81600 100%); -pie-background:linear-gradient(#F31D03, #C81600 100%);}
.main-menu>li.menu-more>ul{top:100%;width:100%; margin:0; padding:0; text-align:right; border:0; line-height:0;}
.main-menu>li.menu-more>ul>li{font-size:11px; line-height:18px; display:inline-block; padding:0 10px;}
.main-menu>li.menu-more>ul>li>a{position:relative; padding:7px 0 7px 7px; color:#FFC8C8; font-weight:bold;}
.main-menu>li.menu-more>ul>li>a:hover{background:transparent; color:#fff;}
.main-menu>li.menu-more.open>ul{}
/* Header second level menu style start */
.scroll-navbar .second-menu{position:fixed; top:0; z-index:999; background:#f5f4f4; border-top:1px solid #f5f4f4;}
/*.scroll-navbar .content-block{margin-top:36px;}*/
.second-menu{font-family:panchali; text-transform:uppercase; border:1px solid #ccc; width:100%; background:#fff;}
.second-menu .font-family-hel,.second-menu .font-family-hel a,.second-menu .font-family-hel ul.dropdown-menu>li>a{font-size:13px;}
.second-menu>li{float:left; font-size:17px; line-height:14px;}
.second-menu>li>a{color:#000; /*padding:8px 13px;*/ padding:8px 9px; position:relative; font-weight:normal;}
.second-menu>li>a:hover{color:#ed1c24;}
.second-menu>li>a:before{width:1px; height:100%; top:0; left:0; background:url(../images/divider/menu-divider.png) no-repeat;}
.second-menu>li:first-child>a:before{display:none;}
.second-menu>li a:hover:after, .second-menu>li a.active:after{bottom:-7px;}
.second-menu>li.dropdown{width:auto;border:0; background:url(../images/icons/subscription-menu-bg.gif) repeat-x top left;}
.second-menu>li.dropdown>a:hover:after,.second-menu>li.dropdown>a.active:after,.second-menu>li.dropdown>ul>li>a:hover:after,.second-menu>li.dropdown>ul>li>a.active:after{display:none;}
.second-menu>li.dropdown>ul{top:100%; height:inherit; width:inherit; right:inherit; left:inherit; overflow:inherit; margin:0; padding:2px 0;border-radius:0;border:1px solid #ccc;}
.second-menu>li.dropdown>ul>li{padding:0; background:url(../images/divider/dropdown-list-divider.png) no-repeat; background-size:contain;}
.second-menu>li.dropdown>ul>li:first-child{background-image:none;}
.second-menu>li.dropdown>ul>li>a{padding:8px 10px 8px 30px; font-size:16px; line-height:normal; background:url(../images/icons/icon-dropdown-arrow.png) no-repeat 14px 10px;}
.second-menu>li.dropdown>ul>li>a:hover{color:#ed1c24; background-color:#ECEAEB;}
.second-menu>li.dropdown>ul>li>a.active{color:#ed1c24; background:url(../images/icons/icon-dropdown-active-arrow.png) no-repeat 12px 12px #ECEAEB;}
.second-menu>li.dropdown-menu>.sub-menu{left:100%; position:absolute; top:0; visibility:hidden; margin-top:-1px;}
.second-menu>li.dropdown-menu>li:hover>.sub-menu{visibility:visible;}
.second-menu>li.dropdown>a{/*padding:3px 13px 6px 14px;*/ height:30px;}
.second-menu>li.dropdown>a>span{position:relative; display:inline-block; margin-left:10px;}
.second-menu>li.dropdown.subscription-menu-list>a>span{top:3px; width:16px; height:18px; background:url(../images/icons/icon-subscription-menu.png) no-repeat;}
.second-menu>li.dropdown.books-menu-list>a>span{top:3px; width:18px; height:18px; background:url(../images/icons/icon-books-menu.png) no-repeat;}
.second-menu>li.dropdown.magazine-menu-list>a>span{top:3px;width:26px;height:17px;background:url(../images/icons/icon-magazine-dropdown.png) no-repeat;}
.second-menu.subscription-menu>li{font-size:13px;}
.second-menu.subscription-menu>li>a{position:relative;padding:13px;}
.second-menu.subscription-menu>li:last-child>a{padding:13px 43px;}
.second-menu.subscription-menu>li>a>i{font-size:24px; position:absolute; left:10px; top:8px;}
.second-menu.subscription-menu>li>a:hover,.second-menu.subscription-menu>li>a.active{color:#ed1c24; background:url(../images/icons/subscription-menu-bg.gif) repeat-x top left; background-size:contain; position:relative;}
.second-menu.subscription-menu>li>a>span{position:absolute; right:5px; top:6px; padding:4px; font-size:18px; line-height: 18px; width:28px; height:28px; text-align:center; border:1px solid #ed1c24; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%;}
.second-menu.subscription-menu>li>a:before{background:#ccc;}
/* News third level menu style start */
.third-level-menu{border-top:1px solid #ccc; border-bottom:1px solid #ccc; width:100%; background-color:#fbfbfb;}
.third-level-menu>li{float:left; position:relative;}
.third-level-menu>li:first-child{background:#ED1C24; color:#fff; font-size:14px; line-height:normal; font-weight:normal; padding:10px 8px 10px;margin-right:10px; text-align:center;}
.third-level-menu>li.dropdown{width:auto;border:0; position:static;}
.third-level-menu>li.dropdown.open>a:after{position:absolute;content:''; bottom:0; left:50%; margin-left:-3px; border-right:6px solid transparent; border-top:6px solid transparent; border-bottom:6px solid #ED1C24; border-left:6px solid transparent;}
.third-level-menu>li.dropdown>ul{top:100%; border-radius:0; border-top:1px solid #ccc; padding:0; margin:0; line-height:0; width:auto; left:inherit; height:inherit; margin-top:-2px; background-color:rgb(255, 255, 214);}
.third-level-menu>li.dropdown.lft{position:relative;}
.third-level-menu>li.dropdown.lft>ul{right:0; text-align:right;}
.third-level-menu>li.dropdown>ul>li{display:inline-block; padding:5px 0 0 5px;}
.third-level-menu>li.dropdown>ul>li>a{float:left; clear:inherit; font-size:14px; line-height:normal; padding:5px 5px 5px 10px; background-image:url(../images/icons/cat-list-arrow.png); background-repeat:no-repeat; background-position:0 10px;}
.third-level-menu>li.dropdown>ul>li>a:hover{background-color:transparent; color:#ed1c24;}
.exclusive-page .third-level-menu>li:first-child,
.search-page .third-level-menu>li:first-child{padding:6px 8px 4px; line-height:15px;}
.advertise-page .third-level-menu>li:first-child{line-height:normal;}
.advertise-page .third-level-menu>li{font-family:helvetica; font-size:14px;}
.advertise-page .third-level-menu>li>a{font-size:12px; padding:10px 8px 8px;}
.third-level-menu>li:first-child:after{content:''; position:absolute; top:35%; right:-5px; width:5px; height:10px; border-left:6px solid #ED1C24; border-right:transparent; border-top:6px solid transparent; border-bottom:6px solid transparent;}
.third-level-menu>li:first-child>a:before, .third-level-menu>li:last-child>a:before{display:none;}
.third-level-menu>li>a:before{content:''; position:absolute; top:8px; right:0; background:#ccc; width:1px; height:20px;}
.third-level-menu>li>a{font-size:14px; line-height:normal; position:relative; color:#565656; padding:10px 8px 10px; /*line-height:normal;*/}
.third-level-menu>li>a:hover{color:#ed1c24;}
/* Header style end */

/* Content style starts */
.content-block{/*font-family:'PTSansRegular', helvetica, sans-serif; font-family:'Latha'; font-weight:bold;*/ font-family:Panchali; font-size:16px;}
.hd-big-txt{font-size:18px; /*line-height:normal;*/}
.hd-md-txt{font-size:16px; /*line-height:normal;*/}
.hd-sm-txt{font-size:14px; /*line-height:normal;*/}
.hd-xsm-txt{font-size:12px; /*line-height:normal;*/}

.static-col-1 figcaption{bottom:0; text-align:left; padding:10px; color:#fff; background:url(../images/icons/figure-caption-bg.png) repeat; width:100%;}
.static-col-1:hover figcaption{text-decoration:underline;}
.static-col-1 p{max-height:128px !important; overflow:hidden;}
.static-col-1 .bx-wrapper .bx-pager{position:relative; padding-top:15px; bottom:10px;}
.static-col-1 .bx-wrapper .bx-pager.bx-default-pager a{padding:1px; margin:0 2px; text-indent:inherit; background:transparent; width:20px; height:20px; -moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%; border:1px solid #ed1c24;}
.static-col-1 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.static-col-1 .bx-wrapper .bx-pager.bx-default-pager a.active{border:1px solid #ed1c24; background:#ed1c24; color:#fff;}

.static-col-2 a{overflow:hidden;max-height:134px;}
.static-col-2 p{line-height:normal;}
/*.static-col-3 .hd-md-txt{line-height:21px;}*/

/*.latest-news-list{font-size:12px;}*/
.latest-news-list>li{ background:#fff; margin-bottom:15px;}
.latest-news-list>li>a{color:#000; /*padding:5px; font-weight:normal; line-height:18px;*/}
.latest-news-list>li>a:hover{color:#ed1c24;}
/* Tabs Style starts */
.tabbable .nav-tabs{border-bottom:none; font-size:12px; text-transform:uppercase; font-family:Helvetica; font-weight:normal;}
.tabbable .nav-tabs>li{margin-bottom:0;}
.tabbable .nav-tabs>li>a{color:#000; background:#ccc; border-radius:0; border:none; padding:6px 16px; margin:0 0 0 2px; transition:inherit;}
.tabbable .nav-tabs>li>a:hover{background:#DFDFDF;}
.tabbable .nav-tabs>li:first-child>a{margin:0;}
.tabbable .nav-tabs>li.active>a,.tabbable .nav-tabs>li.active>a:hover,.tabbable .nav-tabs>li.active>a:focus,.tabbable .nav-tabs>li.ui-tabs-active>a{border:0; background:#ed1c24; color:#fff;}
.tabbable .nav-tabs>li.active>a:after,.tabbable .nav-tabs>li.ui-tabs-active>a:after{content:''; position:absolute; margin-left:-5px; bottom:-5px; left:50%; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #ed1c24;}
.tabbable .tab-content{margin-top:12px;}
/*.tab-content>.tab-pane{min-height:230px;}*/
/* Magazine slider style starts */
.magazine-slider>ul>li:first-child{margin:0;}
.magazine-slider>ul>li{float:left; margin-left:8px;}
.magazine-slider>ul>li>a>img{width:100px;}

.videos-sec{float:left; width:32%;}
.videos-sec-mid{float:left; width:32%; margin:0 2%;}
.slider-thumb-pager, .slider-thumb-pager-1{width:100%; float:left; clear:both;}
.slider-thumb-pager>a, .slider-thumb-pager-1>a{float:left; margin:10px 0 0 1%; width:19%; text-align:center;}
.slider-thumb-pager>a>img, .slider-thumb-pager-1>a>img{width:100%; opacity:0.9;}
.slider-thumb-pager>a.active img, .slider-thumb-pager-1>a.active img{border:1px solid #ed1c24; opacity:1;}
.slider-thumb-pager>a.first, .slider-thumb-pager-1>a.first{margin:10px 0 0 0;}
.panjangam-calendar .hd-sm-txt{margin:0; padding:4px 6px; font-size:12px; font-weight:bold; line-height:18px;}
.panjangam-calendar p{margin:0; padding:4px 6px; font-size:10px; font-weight:bold; line-height:18px; color:#000;}
.panjangam-calendar .panjangam-date{margin:4px 0; padding:0; text-align:center; width:23%; float:left;}
.panjangam-calendar .panjangam-date p{padding:0;}
.panjangam-calendar .panjangam-date .month-txt{font-size:12px; padding-top:4px;}
.panjangam-calendar .panjangam-date span{font-size:36px; line-height:36px; font-family:arial; font-weight:normal;}
.panjangam-time{width:76%; float:right;}
.panjangam-time span{font-family:arial; font-size:11px;}
.panjangam-situation-time{margin-bottom:4px; float:left; width:100%;}
.panjangam-situation-time div{width:49%; font-size:10px; text-align:center; padding:4px; margin-top:4px;}
.panjangam-gud-time{text-align:center; float:left; width:100%;}
.panjangam-gud-time p{padding:0; line-height:16px;}
.exclusive-list{float:left; width:100%;}
.exclusive-list>li{float:left; margin:14px 0 0 16px; border:1px solid #F0F0F0; width:150px;}
.exclusive-list>li:first-child{margin:14px 0 0 0;}
.exclusive-list>li .hd-md-txt{max-height:50px;overflow:hidden;}
.exclusive-blk{font-family:helvetica;}
.exclusive-blk .nav-tabs{border:none;}
.exclusive-blk .panel-group .panel, .exclusive-blk .panel-default>.panel-heading{border-radius:0; box-shadow:none;}
.exclusive-blk .panel-group{margin-bottom:0;}
.exclusive-blk .nav-tabs>li:first-child>a{margin:0;}
.exclusive-blk .nav-tabs>li>a{color:#000;background:#ccc;border-radius:0;border:none;padding:6px 18px;margin:0 0 0 2px;transition:inherit;font-weight:normal;font-size:12px;text-transform:uppercase;font-family:helvetica;}
.world-health-day-page .exclusive-blk .nav-tabs>li>a{padding:6px 8px;font-size:11px;}
.world-health-day-page .exclusive-blk .panel-group{margin-bottom:20px;}
.world-health-day-page .exclusive-blk .panel-default>.panel-heading{padding:5px 10px;}
.exclusive-blk .nav-tabs>li>a:hover{background:#DFDFDF;}
.exclusive-blk .nav-tabs>li.active>a,.exclusive-blk .nav-tabs>li.active>a:hover,.exclusive-blk .nav-tabs>li.active>a:focus{border:0;background:#ed1c24;color:#fff;}
.exclusive-blk .nav-tabs>li.active>a:after{content:'';position:absolute;margin-left:-5px;bottom:-5px;left:50%; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #ed1c24;}

/* ------------------ News Page Start --------------------------- */
.breadcrumb{padding:0 0 0 5px; margin-bottom:0; list-style:none; background-color:transparent; border-radius:0;}
.breadcrumb>li>a{display:inherit; font-size:14px; color:#565656;}
.breadcrumb>li>a.glyphicon-home{font-size:13px;}
.breadcrumb>li+li:before{content:'';background:url(../images/icons/breadcrumbs-arrow.png) no-repeat 0 5px; padding: 0 4px;}
.breadcrumb>li>a:hover{color:#ed1c24;}
.social-icons>li{float:left; padding:0 5px; position:relative; text-align:center;}
.social-icons>li>a{width:17px; line-height:16px; font-size:16px; color:#5E5C5D;}
.social-icons>li>a>.fa-facebook:hover{color:#3B5998;}
.social-icons>li>a>.fa-google-plus:hover{color:#DD4B39;}
.social-icons>li>a>.fa-twitter{font-size:18px;}
.social-icons>li>a>.fa-twitter:hover{color:#5EA9DD;}
.social-icons>li>a>.fa-youtube:hover{color:#D82A27;}
.social-icons>li:before{content:''; position:absolute; top:30%; left:-1px; width:1px; height:10px; background-color:#ccc;}
.social-icons>li:first-child:before{display:none;}
.news-page .mobile-more-btn{line-height:18px;}
.photo-gallery-slider .bx-wrapper .bx-prev{top:-15px; right:27px; left:inherit;}
.photo-gallery-slider .bx-wrapper .bx-next{top:-15px; right:0;}
.album-part>li:first-child{margin:0; width:39.5%;}
.album-part>li{float:left; margin:0 0 0 4px; width:19.5%;}
.album-part>li img{width:100%;}
.album-part>li:nth-child(7n+5), .album-part>li:nth-child(7n+6), .album-part>li:nth-child(7n+7){margin:4px 0 0 4px;}
/* ------------------ News Page end --------------------------- */

/* ------------------ News Inner Page Start --------------------------- */
.article-post-date{border:1px solid #f0f0f0; /*border-bottom:0;*/ font-size:11px; color:#595959; padding:5px 10px; font-family:helvetica; font-weight:normal;}
.article-cnt figure{margin-bottom:10px;}
/*.article-cnt .hd-big-txt{display:inherit; margin-bottom:10px;}*/
.increase-decrease{}
.increase-decrease>li{float:left;padding:0 3px; cursor:pointer;}
.increase-decrease>li>a{background:url(../images/icons/article-icon.png) no-repeat; width:15px; height:15px;}
.increase-decrease>li.js-increase>a{background-position:-40px 0;}
.increase-decrease>li.js-normal>a{background-position:-21px 0;}
.increase-decrease>li.js-decrease>a{background-position:0 0;}
.increase-decrease>li.icon-print>a{background-position:-86px 0px;}
.increase-decrease>li.icon-email>a{background-position:-62px 2px;}
.increase-decrease>li.icon-bookmark>a{background-position:-110px 0px;}
.increase-decrease>li.icon-print,.increase-decrease>li.icon-email,.increase-decrease>li.icon-bookmark{padding:0; margin-right:4px;}
.increase-decrease>li.icon-print>a,.increase-decrease>li.icon-email>a{width:20px; height:15px; padding:0 4px;}
.increase-decrease>li.icon-bookmark>a{width:16px; height:15px; padding:0 4px;}
.article-prev .arrow,.article-next .arrow{width:26px; height:76px; background:url(../images/icons/article-icon.png) no-repeat;}
.article-prev .arrow{background-position:-138px 50%;}
.article-next .arrow{background-position:-185px 50%;}
.hidden-part{position:relative;}
.hidden-part:after{content:""; position:absolute; bottom:0; left:0; right:0; height:136px; background:url(../images/icons/article-inner-shadow.png) repeat-x bottom left;}
.hidden-blk{border:0; /*border:2px solid #EA1A00; border-top:none;*/}
.hidden-blk .line{position:relative;}
.hidden-blk .line:after{content:''; position:absolute; width:95%; margin:0 auto; height:1px; background:#ccc; bottom:0;   left:0; right:0;}
/*.hidden-part img{-webkit-filter:blur(6px); -moz-filter:blur(6px); -ms-filter:blur(6px); -o-filter:blur(6px); filter:blur(6px); filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='6');}*/
.hidden-cnt{position:relative; width:100%; min-height:260px; background:url(../images/icons/article-inner-shadow-img.jpg) no-repeat; background-size:contain; margin-bottom:10px;}
.hidden-cnt>div.bg-white{position:absolute; width:90%; margin:5% 5% 0 5%;}
.hidden-cnt .submit-btn{float:left; font-size:11px; padding:5px 10px; text-transform:inherit;}
.hidden-cnt .static-ad-col-1{position:absolute; bottom:0;}
.hidden-cnt .static-ad-col-1 img{-webkit-filter:inherit; -moz-filter:inherit; -ms-filter:inherit; -o-filter:inherit; filter:inherit; width:100%;}
.article-form-group .form-group input{width:48%;}
.article-form-group .form-group input:first-child{margin-right:3%;}
.article-form-group .article-login{position:relative; padding-top:25px;}
.article-form-group .article-login:before{content:'OR'; position:absolute; padding:0 5px; left:50%; margin-left:-14px; top:0; font-family:helvetica; font-size:12px; background:#F2F2F2; z-index:2;}
.article-form-group .article-login:after{content:''; position:absolute; width:200px; left:50%; margin-left:-100px; top:7px; background:url(../images/divider/horizontal-divider.png) no-repeat center top; height:1px; z-index:1;}
.article-login .signin-block>a.icon-login-google{background-color:#ed1c24;}
.article-login .signin-block>a.icon-login-fb{background-color:#3B589B;}
.article-login .signin-block>a.icon-login-vikatan{background-color:#A51316;}
.article-form-group .submit-btn{font-size:14px;}
.article-social-list{text-align:right; padding:6px; line-height:0;}
.article-social-list>li{display:inline-block; margin:0 0 0 4px; overflow:hidden; height:24px;}
.expand-collapse{font-size:10px; position:relative; padding:3px 22px 3px 5px;}
.expand-collapse.collapsed{color:#034B9F;}
.expand-collapse.collapsed:before,.expand-collapse:before{content:''; position:absolute; top:1px; right:1px; width:20px; height:92%; background-repeat:no-repeat; background-color:#C1C1C1; background-position:center center;}
.expand-collapse.collapsed:before{background-image:url(../images/icons/collapse-arrow-off.png);}
.expand-collapse:before{background-image:url(../images/icons/collapse-arrow-on.png);}
.media-body{background:#fff; padding:10px; border:1px solid #ccc; position:relative;}
.media-body:before,.media-body:after{content:''; position:absolute; top:4px; border-left:transparent; border-top:7px solid transparent; border-bottom:7px solid transparent;}
.media h5{font-family:helvetica; font-size:16px;}
.media-body:before{left:-7px; border-right:7px solid #ccc;}
.media-body:after{left:-6px; border-right:7px solid #fff;}
.media-body .media-body:after{border-right:7px solid #F5F3F4;}
.media-body .media-body{background:#F5F3F4;}
.media-heading{font-family:helvetica; text-transform:uppercase; font-weight:bold; font-size:14px; color:#474747;}
.media-heading small{text-transform:none; font-weight:bold; color:#888;}
.media-links{font-family:helvetica; font-size:11px;}
.media-links>li{display:inline-block; margin:0 8px 0 0;}
.media-links>li>a.color-maroon{color:#ed1c24;}
.media-links>li>a{color:#034B9F;}
.media-links>li>a:hover{color:#ed1c24;}

.author-profile{position:relative; width:100%; display:inline-block;}
.author-profile figure img{width:60px !important;}
.author-profile .author-name{position:absolute; left:70px; color:red; top:40px;}
.author-profile .fb,.author-profile .tweet{position:absolute; top:30px; font-size:21px; width:36px; text-align:center; line-height:normal; padding:6px; color:#fff;}
.author-profile .fb{background-color:#3b5998; right:45px;}
.author-profile .tweet{background-color:#55acee; right:0}
.author-profile .fb:hover,.author-profile .tweet:hover{background-color:#a7a9ac;}
.author-profile .divider{float:left; width:100%; border-bottom:3px solid #ccc;}
.article-share-icon{float:left; padding:0 0 10px 0; z-index:8; background:rgba(255,255,255,.8);
width:100%; top:inherit; position:relative;}
.article-share-icon.in{width:auto; top:32px; position:fixed;}
.article-share-icon li{float:left; margin:0 5px; padding:0;}
.article-share-icon>li:first-child{margin-left:0;}
.article-share-icon li a{font-size:28px; padding:6px 3px; width:44px; text-align:center; line-height:normal; color:#fff;}
.article-share-icon li a:hover{background-color:#a7a9ac !important; color:#fff;}
.article-share-icon li a span{font-size:11px; display:inherit;}
.article-share-icon li a.share-count{background-color:#fff; color:#000; border:1px solid #ccc; width:inherit; font-size:14px; line-height:15px;}
.article-share-icon li a:hover.share-count{background-color:#fff !important;}
.article-share-icon li a.fb{background-color:#3b5998;/*font-size:17px;*/}
.article-share-icon li .tweet{background-color:#55acee;font-size:28px; padding:6px 3px; width:44px; text-align:center; line-height:normal; color:#fff; cursor: pointer;}
.google-plus>div, .google-plus>div>iframe, .tweet .tweet-custom-icon, .tweet .tweet-custom-icon>iframe{width: 44px !important;height: 44px !important;opacity:0;position: absolute;left: 0;top: 0;}
.article-share-icon li a.google-plus{background-color:#ea4335;/*font-size:17px;*/}
.article-share-icon li a.whatsapp{background-color:#43d854;}
.article-share-icon li a.pinterest{background-color:#bd081c;}
.article-share-icon li a.comment{background-color:#59626a;}
.article-share-icon li a.mail{background-color:#2c9ab7;}
.article-share-icon li a.share{background-color:#ff8800;}
@media (max-width:767px){
.author-profile .author-name{top:0;}
.author-profile .fb{left:70px;right:auto;}
.author-profile .tweet{left:115px;right:auto;}
.article-share-icon.in{top:66px;}
}
@media (max-width:567px){
.article-share-icon li{margin:0 2px;}
.article-share-icon>li.dropdown{border:0; width:auto; z-index:1;}
.article-share-icon>li.dropdown ul.dropdown-menu{left:inherit;right:0;top:100%; height:inherit; min-width:158px; margin:10px 0 0 0; cursor:auto; padding:6px; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0;}
.article-share-icon>li.dropdown.open>a:before{content:''; position:absolute; bottom:-10px; left:50%; margin-left:-10px; border-right:10px solid transparent; border-top:10px solid transparent; border-bottom:10px solid #ccc; border-left:10px solid transparent;}
}
/* ------------------ Youtube Video style --------------------------- */
.article-inner .responsive-video{position:relative; padding-bottom:50%; padding-top:0; overflow:hidden; width:80%; margin:0 auto;}
.article-inner .responsive-video iframe,.article-inner .responsive-video object,.article-inner .responsive-video embed{position:absolute; top:0; left:0; width:100%; height:100%;}
.responsive-video{position:relative; padding-bottom:50%; padding-top:0; overflow:hidden; width:100%; margin:0 auto;}
.responsive-video iframe,.responsive-video object,.responsive-video embed{position:absolute; top:0; left:0; width:100%; height:100%;}

/* ------------------ Checkout Page Start --------------------------- */
.registration-magazine-plan{position:relative; margin:20px 0; border-right:2px solid #ccc;}
.registration-magazine-plan:before,.registration-magazine-plan:after{content:''; position:absolute; top:100px; border-right:transparent; border-top:7px solid transparent; border-bottom:7px solid transparent;}
.registration-magazine-plan:before{right:-9px; border-left:7px solid #ccc;}
.registration-magazine-plan:after{right:-7px; border-left:7px solid #fff;}
.registration-magazine-plan .magazine-hd-txt{font-weight:normal; font-size:30px; color:#585858; padding:20px 20px 0 0; line-height:26px;}
.registration-magazine-plan .magazine-hd-txt>span{position:relative; font-weight:bold; font-size:24px; color:#ed1c24; padding-left:30px; line-height:0; top:-10px;}30px
.registration-magazine-plan .magazine-hd-txt>span:before{content:'';position:absolute; top:5px; left:8px; border-left:1px solid #A5A5A5; height:84%;}
.registration-magazine-plan .magazine-hd-txt>span>small{font-weight:normal; color:#909090; font-size:24px; line-height:0;}
.registration-magazine-plan .price-txt{font-weight:normal; font-size:22px; color:#585858; padding:0 20px 8px 0; line-height:26px;}
.registration-magazine-plan .offer-txt{padding:5px 0; background-color:#F9F9F9; font-size:24px; color:#FE0293;}
.registration-magazine-plan .offer-txt .big-txt{font-size:36px; line-height:normal;}
.registration-magazine-plan .price-txt>span{position:relative; font-weight:bold; font-size:30px; color:#ed1c24; padding-left:30px;}
.registration-magazine-plan .price-txt>span:before{content:'';position:absolute; top:10px; left:8px; border-left:1px solid #A5A5A5; height:76%;}
.registration-magazine-plan .price-txt>span>small{font-weight:normal; color:#909090; text-decoration:line-through;}
.registration-magazine-plan .total-txt{font-weight:normal; font-size:22px; color:#585858; padding:0 20px 8px 0; line-height:normal;}
.registration-magazine-plan .total-txt>span{position:relative; font-weight:bold; font-size:30px; color:#ed1c24; padding-left:10px; top:5px;}
.registration-magazine-plan .total-txt>span:before{content:'';position:absolute; top:50%; margin-top:-12px; left:2px; border-left:1px solid #A5A5A5; height:76%;}

.login-hd-band{background:#5C5C5E; color:#fff; font-size:16px; font-weight:normal; text-align:center; padding:5px 10px; border-bottom:2px solid #EA1A00;}
.login-hd-band>a{color:#ed1c24; text-decoration:underline;}
.login-hd-band>a:hover{color:#fff;}
#anchor-link.login-hd-band{background:transparent; border:0; color:#000; margin-bottom:10px;}
#anchor-link.login-hd-band>a.sign_in_type{color:#ed1c24; font-weight:bold; text-decoration:inherit; margin:0 5px; -webkit-box-shadow:0 0 3px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24); -moz-box-shadow:0 0 3px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24); box-shadow:0 0 3px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24);}
#anchor-link.login-hd-band>a.sign_in_type:hover{background-color:#0BA3F7; color:#fff;}
.registration-part .signin-block{float:left;}
.registration-part .subscribe-sign-txt{float:right; width:64%; font-size:12px; line-height:16px; color:#034B9F; margin-left:4%;}
.registration-part .divider{float:left; position:relative; width:100%; height:18px; margin:30px 0 35px; background:url(../images/divider/register-horizontal-divider.png) no-repeat center center; background-size:100%;}
.registration-part .divider:before{content:"OR"; position:absolute; top:0; left:50%; background:#fff; font-weight:normal; margin-left:-18px; padding:0 6px; color:#585858;}
.registration-renew{margin:10px 0; float:left; width:100%;}
.registration-part .form-group{margin-bottom:10px;}
.registration-part .form-group label{font-size:12px; line-height:12px; color:#585858;}
.registration-part .form-group .forgot-pass{font-size:12px; font-weight:normal; line-height:20px; color:#585858;}
.registration-part .form-group label:hover,.registration-part .form-group .forgot-pass:hover{color:#ed1c24;}
.captcha{float:left; width:100%;}
.captcha .txt-box{width:54%;}
.captcha span{position:relative; width:95px; float:right; font-size:11px; font-weight:normal; color:#034B9F;}
.captcha-refresh{position:absolute; top:8px; right:0; width:15px; height:18px; background:url(../images/icons/captcha-refresh.png) no-repeat;}

.fund-transfer-steps>div{width:100%;}
.fund-transfer-steps .steps-hd{float:left; background:#f0eae7; color:#585858; padding:2px 5px; width:12%;}
.fund-transfer-steps p{float:left; margin-left:10px; font-weight:bold; line-height:15px; margin-bottom:0; color:#888; width:85%;}
.fund-transfer-steps .list{float:right; color:#888; width:85%; font-size:12px;}
.fund-transfer-steps .list>li{float:left; width:46%; background:url(../images/icons/register-bullet.png) no-repeat 0 7px; padding-left:10px;}
.payment-box{min-height:102px;}
.payment-powerd-txt img{margin-top:-10px;}
/* ------------------ Checkout Thanks Page --------------------------- */
.thanks-part .apps-cnt{display:inline-block; float:none; margin:15px 30px 15px 0;}
.view-cart-list .left-cart{margin:10px 0; height:310px; overflow:auto;}
.view-cart-list .left-cart.scroll-pane{margin:10px 10px 10px 0;}
.view-cart-list .left-cart figure{max-width:56px;}
.view-cart-list {float:left; border-right:1px solid #ccc; width: 100%;}
.view-cart-list .total-txt{font-weight:normal; font-size:22px; color:#585858; padding:0 20px 8px 0; line-height:normal;}
.view-cart-list .total-txt>span{position:relative; font-weight:bold; font-size:30px; color:#ed1c24; padding-left:10px; top:5px;}
.view-cart-list .total-txt>span:before{content:'';position:absolute; top:50%; margin-top:-12px; left:2px; border-left:1px solid #A5A5A5; height:76%;}
.view-cart-list a:hover{text-decoration:underline;}
.icon-rupee{position:relative; top:3px; margin-right:5px; display:inline-block; width:16px; height:26px; background:url(../images/icons/indian-rupee-sign.png) no-repeat;}
/* ------------------ Exclusive Page Start --------------------------- */
.list-inline{color:#aaa; font-weight:normal; font-size:10px; line-height:18px;}
.exclusive-page .exclusive-list .list-inline>li:first-child{padding-left:0;}
.search-page .list-inline>li:last-child{padding-right:0;}
/* ------------------ Search Page Start --------------------------- */
.search-part .txt-box{padding:6px;}
.search-part  .submit-btn{padding:6px 15px;}
.search-tag>li{display:inline-block; font-size:10px; font-weight:normal;}
.search-tag>li>a{color:#034B9F; padding:0 0 0 4px; border-left:1px solid #034B9F;}
.search-tag>li:first-child>a{padding:0; border-left:0;}
.search-tag>li>a:hover{color:#ed1c24;}
.pagination{font-family:helvetica; font-weight:normal; margin:5px 0 0 0; width:100%;}
.pagination>li>a, .pagination>li>span{color:#888;}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus,.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{color:#fff; background-color:#A51316; border-color:#A51316;}
/* ------------------ Apps Page Start --------------------------- */
.apps-page .third-level-menu>li:first-child{font-size:20px; font-family:helvetica; font-weight:bold; padding:10px 30px;}
.apps-lft figure{line-height:700px;}
.apps-blk{width:96%; margin:15px; background:url(../images/divider/shadow-divider-full-height.png) no-repeat top left; background-size:3% 100%; min-height:500px;}
.apps-hd{float:left; position:relative; background:#A51316; color:#fff; padding:3px 50px; font-size:22px; text-transform:uppercase; font-weight:normal;}
.apps-hd:before{content:''; position:absolute; left:0; top:-10px; width:27px; height:57px; background:url(../images/icons/shadow-thin.png) repeat-y}
.app-magazine:after{content:''; position:absolute; top:-4px; right:-30px; width:45px; height:47px; background:url(../images/icons/icon-magazine.png) no-repeat}
.app-ebooks:after{content:''; position:absolute; top:-20px; right:-60px; width:85px; height:62px; background:url(../images/icons/vikatan-logo-ebook.png) no-repeat}
.magazine-apps{float:left; width:100%; padding:40px 40px 25px;}
.apps-cnt{float:left; text-align:center; margin:0 30px 15px 0;}
.apps-cnt span{display:inherit; clear:both; font-size:13px; font-weight:normal; margin-top:2px;}
.apps-desktop-cnt{float:left; text-align:center; margin:0 0 15px 20px; position:relative; top:90px;}
.apps-desktop-cnt span{display:inherit; clear:both; font-size:14px; font-weight:normal; margin-top:2px;}
/* ------------------ Contact us Page Start --------------------------- */
.contact-us-page .third-level-menu>li:first-child{font-size:16px; font-family:helvetica; font-weight:bold; padding:10px 20px;}
.contact-us-page .bg-grey{background-color:#f9f9f9;}
/* ------------------ Contact Us Page --------------------------- */
.contact-us-page .contact-box{padding:15px; min-height:180px;}
.contact-us-page .col-sm-6:nth-child(3) .contact-box,.contact-us-page .col-sm-6:nth-child(4) .contact-box{min-height:241px;}
.contact-us-page .contact-box h1{padding-top:8px;}
.contact-us-page .contact-box h2{font-size:16px; line-height:24px;}
/*.contact-us-page .contact-box .contact-list{font-size:15px;}*/
.contact-us-page .contact-box a{color:#ed1c24;}
.contact-us-page .contact-box a:hover{color:#0BA3F7;}
.icon-dotcom{width:54px; height:64px; background-position:-224px -18px;}
.icon-technical{width:54px; height:64px; background-position:-220px -188px;}
.icon-online-pay{width:54px; height:64px; background-position:-225px -380px;}
.icon-print-subs{width:54px; height:64px; background-position:-220px -101px;}
.icon-digital-subs{width:54px; height:64px; background-position:-330px -288px;}
.icon-vikatan-pub{width:54px; height:64px; background-position:-220px -289px;}
.icon-vikatan-media{width:64px; height:64px; background-position:-224px -470px;}
.icon-vikatan-tele{width:54px; height:64px; background-position:-325px -183px;}
.icon-editorial{width:54px; height:64px; background-position:-224px -536px;}
.icon-list-conta{font-weight: normal;}
.icon-list-conta>li{position:relative;display:inline-block; margin:0 10px 0 0;}
.icon-list-conta>li.icon-skype-conta{padding:15px 0 15px 40px;}
.icon-list-conta>li.icon-gtalk-conta{padding:15px 0 15px 50px;}
.icon-list-conta>li.icon-mail-conta{padding:15px 0 15px 50px;}
.icon-skype-conta:before,.icon-gtalk-conta:before,.icon-mail-conta:before,.icon-mail-conta-white:before{content:'';position:absolute;background-image:url(../images/icons/sprite.png); left:0; top:8px;}
.icon-skype-conta:before{background-position:-119px 184px; width:32px; height:50px;}
.icon-gtalk-conta:before{background-position:-116px 62px; width:45px; height:55px;}
.icon-mail-conta:before{background-position:-117px 117px; width:42px; height:42px;}
.icon-mail-conta-white:before{background-position:-340px -18px; width:42px; height:28px; top:10px; left:10px;}
.contact-list>li{padding:5px 10px; border:1px solid #ccc; margin-top:10px; font-weight:normal;}
.contact-main{color:#000; text-align:center; font-weight:normal; font-size:20px; padding:15px;}
.contact-main span{font-size:20px;}
/* ------------------ Terms Condition Page Start --------------------------- */
.terms-condition-page p{font-size:14px; color:#000;}
.terms-condition-contact{font-weight:normal; font-size:18px; padding:12px 0 15px 50px;}
.accordion-list{margin-top:15px; clear:both;}
.js-accord-func,.js-accord-func1{cursor:pointer;}
.accord-hd-txt{border:0; margin:0; padding:8px 30px 8px 15px; color:#ed1c24; text-transform:uppercase;}
.accordion-cnt{display:none; padding:0 15px;}
.active-arrow,.normal-arrow{width:16px; height:16px; display:block; margin-top:-8px; position:absolute; top:50%; right:10px;}
.normal-arrow{background:url(../images/icons/icon-plus.gif) no-repeat;}
.active-arrow{background:url(../images/icons/icon-minus.gif) no-repeat;}
.terms-condition-page .accordion-list{border:1px solid #ccc; margin:0 0 10px 0; font-family:helvetica; font-size:14px;}
.terms-condition-page .accord-hd-txt{position:relative; padding:6px 30px 6px 10px; font-weight:bold;}
.terms-condition-page .accordion-cnt{padding:0 10px;}
/* ------------------ Rss Feed Page --------------------------- */
.rss-feed-page .accordion-list{border:1px solid #ccc; margin:0 0 10px 0; font-family:helvetica; font-size:14px;}
.rss-feed-page .accord-hd-txt{position:relative; padding:6px 30px 6px 10px; font-weight:bold;}
.rss-feed-page .accordion-cnt{padding:0 10px;}
.rss-feed-page p{color:#000;}
.rss-feed-list{font-family:'PTSansRegular', helvetica, sans-serif; font-size:12px; font-weight:normal; padding:0 20px;}
.rss-feed-list>li{padding:5px 0; float:left; clear:both;}
.rss-feed-list>li>a{float:left; line-height:30px;}
.rss-feed-list>li>a>span{float:left; width:30px; height:30px; margin-right:10px; background:url(../images/icons/sprite.png) no-repeat;}
.rss-feed-list>li>a>span.icon-rssfeed{background-position:-341px -78px;}
.rss-feed-list>li>a>span.icon-xml{background-position:-341px -134px;}
/* ------------------ Careers Page --------------------------- */
.careers-resume-txt{margin:15px 0;}
.careers-resume-txt .icon-mail-conta-white{font-weight:normal; font-size:18px; padding:12px 0 10px 60px; color:#fff;}
.careers-resume-txt a{color:#fff;}
.careers-page .accordion-list{border:1px solid #ccc; margin:0 0 10px 0; font-family:helvetica; font-size:14px;}
.careers-page .accord-hd-txt{position:relative; padding:6px 30px 6px 10px; font-weight:bold;}
.careers-page .accordion-cnt{padding:0 10px;}
/* ------------------ FAQ Page --------------------------- */
.faq-page .accordion-list{border:1px solid #ccc; margin:0 0 10px 0; font-family:helvetica; font-size:14px;}
.faq-page .accord-hd-txt{position:relative; padding:6px 30px 6px 10px; font-weight:bold;}
.faq-page .accordion-cnt{padding:0 10px;}
.question{padding:10px 10px 10px 40px; color:#ed1c24; font-size:14px; text-transform:uppercase;}
.answer{padding:4px 10px 10px 40px; font-size:14px; font-weight:normal; color:#000;}
.answer p{font-size:14px; font-weight:normal; color:#000;}
.answer p.font-size12{font-size:12px;}
.question:before{content:'Q';}
.answer:before{content:'A';}
.question:before,.answer:before{position:absolute; background:#fff; border:1px solid #ccc; border-radius:4px; font-size:20px; left:0; top:5px; width:30px; height:30px; text-align:center; color:#ed1c24; text-transform:uppercase; font-weight:bold;}
/* ------------------ Coins Page --------------------------- */
.coin-page .accordion-cnt{display:block;}
.coin-page p{font-size:16px;}
.coin-page .accordion-list{border:1px solid #ccc; margin:0 0 10px 0; font-size:14px;}
.coin-page .accord-hd-txt{position:relative; padding:6px 30px 6px 10px; font-weight:bold; font-size:17px;}
.coin-page .accordion-cnt{padding:0 10px;}
/* ------------------ Advertise with us page --------------------------- */
.mediakit-down-btn,.mediakit-down-btn1{position:absolute !important; top:0;}
.mediakit-down-btn{right:0;}
.mediakit-down-btn1{right:165px;}
.advertise-page .accordion-list{border:1px solid #ccc; margin:0 0 10px 0; font-family:helvetica; font-size:14px;}
.advertise-page .accord-hd-txt{position:relative; padding:6px 30px 6px 10px; font-weight:bold;}
.advertise-page .accordion-cnt{padding:0 10px;}
.advertise-page .btn.bg-blue:hover{background-color:#a3a2a2}
/* ------------------ Careers modal popup style ------------------ */
.modal-content{border-radius:0; border:0;}
.modal-header{padding:8px 15px; background:#ed1c24; border:0;}
.modal-title{font-weight:bold; text-transform:uppercase; color:#fff;}
.modal-header .close{margin-top:0;}
.close{color:#fff; filter:inherit; opacity:inherit;}
.close:hover, .close:focus{color:#fff; filter:alpha(opacity=80); opacity:.8;}
button.close{position: absolute; right: -10px; top: -10px; background: #fff; opacity: 1 !important;  z-index: 10; font-weight:normal; width:26px; height:26px; padding:0 4px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%;
    -webkit-box-shadow:0 0 4px #444;
    box-shadow:0 0 4px #444;
    -moz-box-shadow:0 0 4px #444;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=0), progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=270)";}
button.close>span{position:relative; top:-2px; color:#000;}
.file-upload{position:relative;}
.file-upload input[type="file"]{position:absolute; opacity:0; filter:alpha(opacity = 0); -ms-filter:"alpha(opacity=0)"; cursor:pointer; _cursor:hand; margin:0; padding:0; left:0; width:57px;}
.resume-upload-btn{ position:absolute; cursor:pointer; text-align:center; background-color:#E2E2E2; color:#585858; display:block; width:57px; font-size:10px; line-height:21px; top:2px; right:2px; z-index:3; margin:0; text-transform:uppercase;}
.resume-upload-btn:hover{text-decoration:underline;}
/* ------------------ 404 Page --------------------------- */
.error-404-part{padding:20px;}
.error-404-cnt{padding:20px; border:4px solid #ccc;}
.error-404-hd{font-size:48px; margin:20px 0 10px;}
.error-404-cnt p{font-size:16px; color:#000;}
.error-404-list{margin-top:15px; font-size:16px; font-weight:normal;}
.error-404-list>li{position:relative; padding:6px 4px 6px 30px;}
.error-404-list>li.icon-url:before,.error-404-list>li.icon-back:before,.error-404-list>li.icon-return:before{content:''; position:absolute; left:0; width:22px; height:24px; background:url(../images/common/404-sprite.png) no-repeat;}
.error-404-list>li.icon-url:before{background-position:-18px -14px;}
.error-404-list>li.icon-back:before{background-position:-18px -60px;}
.error-404-list>li.icon-return:before{background-position:-18px -111px;}
.error-404-list>li>a{display:inline-block;}
/* ------------------ Sitemap Page --------------------------- */
.site-map-list{font-weight:normal;text-transform:uppercase;}
.site-map-list>li{margin:10px 0;}
.site-map-list>li>a{text-decoration:underline; font-size:14px; color:#ed1c24; font-weight:bold;}
.site-map-list>li>ul{margin:10px 0 15px 10px;}
.site-map-list>li>ul>li{margin:5px 0;}
.site-map-list>li>ul>li>a{text-decoration:none; font-size:12px; color:#000;}
.site-map-list>li>ul>li>ul{margin:10px 0;}
.site-map-list>li>ul>li>ul>li{margin:5px 0; padding:0 10px; background:url(../images/icons/register-bullet.png) no-repeat 0px 6px;}
.site-map-list>li>ul>li>ul>li>a{text-decoration:none; font-size:12px; color:#585858;}
.site-map-list>li>a:hover,.site-map-list>li>ul>li>ul>li>a:hover{color:#000; text-decoration:underline;}
.site-map-list>li>ul>li>a:hover{color:#ed1c24; text-decoration:underline;}
/* ------------------ Dashboard My profile Page --------------------------- */
.profile-list{float:left; width:100%; font-size:18px; font-weight:normal; padding:0 0 0 10px;}
.profile-list>li{background:#a3a2a2; border-bottom:2px solid #fff; position:relative;}
.profile-list>li>a{padding:10px 15px; color:#fff; transition:inherit;}
.profile-list>li>a:hover{color:#ed1c24; border-right:2px solid #ed1c24;}
.profile-list>li:hover{background:#f2f2f2; color:#ed1c24;}
.profile-list>li:hover:before{content:''; position:absolute; top:50%; right:-6px; margin-top:-6px; border-right:transparent; border-left:6px solid #ed1c24; border-bottom:6px solid transparent; border-top:6px solid transparent;}
.profile-list>li.active{background:#f2f2f2;}
.profile-list>li.active:before{content:''; position:absolute; top:50%; right:-6px; margin-top:-6px; border-right:transparent; border-left:6px solid #ed1c24; border-bottom:6px solid transparent; border-top:6px solid transparent;}
.profile-list>li.active>a{color:#ed1c24; border-right:2px solid #ed1c24;}
.dashboard-cnt .table>thead>tr>th, .dashboard-cnt .table>tbody>tr>th, .dashboard-cnt .table>tfoot>tr>th{font-size:14px; background:#a3a2a2;}
.dashboard-cnt .table>tbody>tr>td span{color:#888;}
/* ------------------ Dashboard Edit profile Page --------------------------- */
.dateofbirth .glyphicon{position:absolute; top:5px; right:5%; color:#585858; z-index:1;}
.form-horizontal .resume-upload-btn{right:17px;}
/* ------------------ Dashboard My Coins Page --------------------------- */
.trans-history-part h2{float:left; margin:2px 10px 0 0; padding:0; border:0; color:#585858;}
.trans-history-part input.txt-box{background:transparent; z-index:2; line-height:18px;}
.trans-history-part .glyphicon{position:absolute; top:7px; right:5px; color:#585858; z-index:1;}
.trans-history-part input.txt-box,.trans-history-part .dropdown{width:150px;}
.trans-history-part .submit-btn {line-height:16px; font-size:16px; padding:5px 6px 5px 12px;}
/* ------------------ Dashboard My Offers Page --------------------------- */
.my-offers-cnt{border:1px solid #ccc; padding:0; margin:15px 0;}
/* ------------------ Tariff Pricing Page --------------------------- */
.panel.price{float:left; margin:0 0 15px 15px;}
.panel.price,.panel.price>.panel-heading,.panel.price .list-group-item{border-radius:0;}
.panel.price>.panel-heading{color:#fff; box-shadow:0px 5px 0px rgba(0, 0, 0,.2) inset; text-shadow:0px 3px 0px rgba(0, 0, 0,.3); padding:5px 10px 10px 10px;}
.panel.price>.panel-heading>.pricing-hd-txt{font-size:30px;}
.panel.price>.panel-body{color:#fff; padding:5px 10px;}
.panel.price>.panel-body>.lead{text-shadow:0px 3px 0px rgba(50,50,50,.3); color:#fff; margin:0;}
.panel.price>.panel-body>.lead>.strike-txt{text-decoration:line-through;}
.panel.price>.panel-body>.lead>.big-txt{font-size:30px; font-weight:bold;}
.panel.price>.panel-body>.lead .icon-rupee{position:relative; top:3px; margin-right:5px; display:inline-block; width:16px; height:26px; background:url(../images/icons/indian-rupee-sign.png) no-repeat;}
.panel.price>.panel-body>.lead>.strike-txt .icon-rupee{width:14px; height:18px; margin:0; background-size:contain;}
.panel.price>.list-group{margin-top:2px;}
.panel.price>.list-group>.list-group-item{border-color:#ccc; font-size:16px; font-weight:normal; color:#585858; padding:5px 10px; background-color:rgba(50,50,50,.02);}
.panel.price>.list-group>.list-group-item>.mid{position:relative; top:-2px;}
.panel.price>.list-group>.list-group-item>.txt{font-size:22px; color:#ab1024; font-weight:bold;}
.panel.price>.list-group>.list-group-item>.small-list{line-height:14px; font-size:10px; text-transform:uppercase; min-height:42px;}
.panel.price>.list-group>.list-group-item>.small-list>li{display:inline-block; border-left:1px solid #989898; padding:0 0 0 5px; color:#585858;}
.panel.price>.list-group>.list-group-item>.small-list>li:first-child{border-left:0;padding:0;}
.panel.price>.panel-footer{float:left; width:100%; text-align:center; border:0; background-color:rgba(0,0,0,.1); box-shadow:none; border-radius:0; padding:6px 10px;}
.panel.price>.panel-footer>.offer{float:left; width:65%; display:table; min-height:26px;}
.panel.price>.panel-footer>.offer>p{display:table-cell; vertical-align:middle; font-size:13px; font-weight:normal; line-height:13px; color:#fff; padding:0; margin:0;}
/* Dark Green panel */
.panel.price.panel-dark-green{margin-left:0;}
.panel.price.panel-dark-green>.panel-heading{background-color:#169308; border-bottom:1px solid #6FF04C;}
.panel.price.panel-dark-green>.panel-body{background-color:#3AC016;}
.panel.price.panel-dark-green>.panel-body>.lead>.strike-txt{color:#0D6703;}
.panel.price.panel-dark-green>.panel-footer{background-color:#169308;}
/* Dark Purpel panel */
.panel.price.panel-dark-purple>.panel-heading{background-color:#9C1180; border-bottom:1px solid #FA6FDE;}
.panel.price.panel-dark-purple>.panel-body{background-color:#BA1DBE;}
.panel.price.panel-dark-purple>.panel-body>.lead>.strike-txt{color:#71135E;}
.panel.price.panel-dark-purple>.panel-footer{background-color:#9C1180;}
/* Blue panel */
.panel.price.panel-blue>.panel-heading{background-color:#165195; border-bottom:1px solid #A1D0FC;}
.panel.price.panel-blue>.panel-body{background-color:#2277E1;}
.panel.price.panel-blue>.panel-body>.lead>.strike-txt{color:#053266;}
.panel.price.panel-blue>.panel-footer{background-color:#165195;}
/* Purple panel */
.panel.price.panel-purple>.panel-heading{background-color:#7725A3; border-bottom:1px solid #D99DF9;}
.panel.price.panel-purple>.panel-body{background-color:#9F3DD2;}
.panel.price.panel-purple>.panel-body>.lead>.strike-txt{color:#4E0576;}
.panel.price.panel-purple>.panel-footer{background-color:#7725A3;}
/* Green panel */
.panel.price.panel-green>.panel-heading{background-color:#9C7611; border-bottom:1px solid #F7DC96;}
.panel.price.panel-green>.panel-body{background-color:#D7AD27;}
.panel.price.panel-green>.panel-body>.lead>.strike-txt{color:#815F05;}
.panel.price.panel-green>.panel-footer{background-color:#9C7611;}
/* Red price */
.panel.price.panel-red>.panel-heading{background-color:#CD2429; border-bottom:1px solid #FF6062;}
.panel.price.panel-red>.panel-body{background-color:#ED2A2F;}
.panel.price.panel-red>.panel-body>.lead>.strike-txt{color:#A60B0F;}
.panel.price.panel-red>.panel-footer{background-color:#CD2429;}
/* Light-blue price */
.panel.price.panel-light-blue>.panel-heading{background-color:#18898D; border-bottom:1px solid #2FDCE2;}
.panel.price.panel-light-blue>.panel-body{background-color:#27B8BB;}
.panel.price.panel-light-blue>.panel-body>.lead>.strike-txt{color:#0B6F73;}
.panel.price.panel-light-blue>.panel-footer{background-color:#18898D;}
/* ------------------ Tariff second level Pricing Block --------------------------- */
.flat-price{background-color:#FCFCFC; margin-top:10px;}
.flat-price>.hd-txt{width:22%; padding:8px 0 8px 10px; font-size:20px; text-transform:uppercase; color:#3E880D;}
.flat-price>.hd-txt>span{font-weight:normal;}
.flat-price>.plan-txt{width:20%; text-align:center; padding:7px 0 6px 0;}
.flat-price>.plan-txt>.mid,.flat-price>.year-txt>.mid{position:relative; top:-2px; color:#585858; font-weight:normal; font-size:18px;}
.flat-price>.plan-txt>.txt,.flat-price>.year-txt>.txt{font-size:22px; color:#ab1024; font-weight:bold;}
.flat-price>.year-txt{width:25%; text-align:center; padding:7px 0 6px 0;}
.flat-price>.value-txt{width:18%; text-align:center; background-color:#5E9B00; padding:5px 0; color:#fff;}
.flat-price>.value-txt>.strike-txt{text-decoration:line-through; font-size:20px; color:#424400;}
.flat-price>.value-txt>.big-txt{font-size:24px; font-weight:bold;}
.flat-price>.value-txt .icon-rupee{position:relative; top:3px; display:inline-block; margin-left:5px; width:16px; height:21px; background:url(../images/icons/indian-rupee-sign.png) no-repeat; background-size:contain;}
.flat-price>.value-txt>.strike-txt .icon-rupee{width:14px; height:18px; margin:0; background-size:contain;}
.flat-price>.subt{width:15%; text-align:center; padding:9px 0;}
/* ------------------ Archives Page --------------------------- */
.archives-fillter{float:left; margin-left:20px;}
.archives-fillter .magazine-name-select,.archives-fillter .magazine-month-select,.archives-fillter .magazine-year-select{float:left; width:inherit; margin-right:15px;}
.shadow-divider{width:100%;height:10px;}
.archives-fillter .dropdown.scrollable li:first-child{display:none;}
.strip-band{position:relative; padding:0; margin-bottom:15px; text-align:center;}
.strip-band:after{content:'';position:absolute; z-index:1; width:100%; height:2px; margin-top:-1px; top:50%; left:0; background:url(../images/divider/register-horizontal-divider.png) no-repeat; background-size:cover;}
.strip-band-hd{position:relative; z-index:2; display:inline-block; font-size:16px; color:#fff; padding:5px 20px;}
.issue-date{position:relative; display:inline-block; /*z-index:40;*/ padding:6px 10px 4px 10px; width:130px; font-size:16px; color:#fff; border-radius:0 0 8px 8px; -webkit-border-radius:0 0 8px 8px; -moz-border-radius:0 0 8px 8px; -ms-border-radius:0 0 8px 8px; box-shadow:inset 0px 5px 8px #490000; -webkit-box-shadow:inset 0px 5px 8px #490000;-moz-box-shadow:inset 0px 5px 8px #490000; -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#490000')";}
.hover-tooltip{position:relative; overflow:hidden; text-align:center; cursor:pointer;}
.hover-tooltip .hover-tooltip-cnt{position:absolute; top:-100%; width:100%; height:87%; background-color:rgba(0,0,0,0.5);-webkit-transition:0.6s; -moz-transition:0.6s; -o-transition:0.6s; -ms-transition:0.6s; transition:0.6s;}
.hover-tooltip:hover .hover-tooltip-cnt{top:0;}
.hover-tooltip-cnt>a{display:inline-block;}
.hover-tooltip-cnt>a:first-child{margin-top:35%;}
/* ------------------ Astrology Page --------------------------- */
.astrology-page .tabbable .nav-tabs>li{width:50%; text-align:center;}
.astrology-page .tabbable .tab-content{margin-top:0}
.astrology-list-logos>li{display:inline-block; margin:0 2px 8px 8px;}
.astrology-date{text-align:center; padding:48% 0;}
.astrology-date p{margin:0; font-size:18px; color:#000;}
.astrology-date span{font-size:50px; line-height:normal;}
.astrology-date-details{border-left:1px solid #ccc;}
.astrology-date-details>div{padding:7px 5px;}
.astrology-price-tag{position:relative; float:left;}
.astrology-price-tag figure:before{content:'';position:absolute; width:72px; height:28px; top:48px; left:8px; z-index:9; background:url(../images/icons/price-band-small.png) no-repeat;}
.astrology-price-tag img{margin:8px; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px; -ms-border-radius:6px;}
.astrology-price-tag figcaption{position:absolute; top:56px; left:17px; z-index:10; color:#fff;}
.astrology-price-tag figcaption .icon-rupee{position:relative; top:2px; display:inline-block; width:12px; height:13px; background: url(../images/icons/indian-rupee-sign.png) no-repeat; background-size:contain;}
/* ------------------ Astrology inner Page --------------------------- */
.astrology-amt-txt{position:relative; font-size:24px; color:#fff; background:#FC1C00; display:inline-block; padding:2px 20px; border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -o-border-radius:0 0 5px 5px; -ms-border-radius:0 0 5px 5px; box-shadow:0 3px 6px #540A01; -webkit-box-shadow:0 3px 6px #540A01; -moz-box-shadow:0 3px 6px #540A01;}
.astrology-login-form .form-group label{margin-bottom:0;}
.astrology-login-form .dd{width:46px;}
.astrology-login-form .mm{width:50px;}
.astrology-login-form .yy{width:62px;}
.astrology-login-form .dd,.astrology-login-form .mm,.astrology-login-form .yy{float:left; margin-left:10px;}
.astrology-login-form .dropdown .selected, .astrology-login-form .dropdown li{padding:4px 6px;}
.astrology-login-form .dropdown .carat,.astrology-login-form .dropdown.open .carat{right:5px;}
.astrology-inform-txt{font-size:14px;}
/* ------------------ 30Days free Registraion page style --------------------------- */
.free-strip-band{background-color:#DC2227; color:#fff; text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5); -webkit-text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5); -moz-text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5); filter: dropshadow(color=#rgba(0, 0, 0, 0.5), offx=0, offy=2);}
.free-strip-band.chutti-reporter{text-shadow:inherit; -webkit-text-shadow:inherit; -moz-text-shadow:inherit; background-color:#D66600;}
.free-strip-band .big-txt{font-size:54px; text-align:center;}
.free-strip-band .small-txt{font-size:35px; line-height:36px; text-align:center;}
.free-strip-band .small-txt span{font-size:20px;}
.free30days-registration-page .left-part{padding:20px 30px 0 0;}
.free30days-registration-page .left-part figure{float:left; margin:0 15px 0 0; width:34%;}
.free30days-registration-page .left-part p{font-size:21px; color:#000; text-align:center; line-height:normal;}
.free30days-registration-page .left-part p.first-pad{padding-top:45px;}
.free30days-registration-page .left-part p span{font-size:28px; color:#FF1904; font-weight:bold;}
.free30days-registration-page .registration-part{padding:20px 30px;}
.free30days-registration-page .registration-part>.rounded{background-color:#DC2227;}
.free30days-registration-page .mag-txt p{text-align:center; font-size:14px; line-height:normal;}
.free30days-registration-page .star-txt{font-size:24px; color:#ed1c24; line-height:0;}
/* ------------------ 7Days free Registraion page style --------------------------- */
.reg-trial h1{font-size:38px;}
.reg-trial p{color:#000;}
@media (min-width:991px) and (max-width:1024px){
.reg-trial h1{font-size:32px;}
}
@media (max-width:991px){
.reg-trial h1{font-size:24px;}
}
/* ------------------ Nanyam Mumbai Event page style --------------------------- */
.nanyam-event .free-strip-band{background:#bd021e;text-shadow:inherit;}
.nanyam-event .free-strip-band p{color:#fff; font-size:14px; line-height:normal;}
.nanyam-event .free-strip-band .guest-txt{color:#fec943; font-style:italic; font-size:16px; line-height:26px; text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5); -webkit-text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5); -moz-text-shadow:0px 2px 5px rgba(0, 0, 0, 0.5); filter: dropshadow(color=#rgba(0, 0, 0, 0.5), offx=0, offy=2);}
.nanyam-event .free-strip-band .guest-txt span{font-size:20px; font-weight:bold; font-style:normal;}
.nanyam-event .registration-part{padding:45px 20px 20px 0;color:#000;}
.nanyam-event .mag-txt{background-color:#000; margin-bottom:20px;}
.nanyam-event .mag-txt p{text-align:center; font-size:16px; line-height:normal; margin:10px 0;}
.nanyam-event .mag-txt p span{font-size:20px;}
/* ------------------ News Polling page style --------------------------- */
.poll-page .accord-hd-txt{font-size:13px; padding:5px 30px 5px 10px;}
/* ------------------ eBook page style --------------------------- */
.ebook-page button.close{position:absolute; right:-10px; top:-10px; background:#fff; opacity:1 !important; z-index:10; /*background-color:#ed1c24; position:absolute; top:-6px; right:-6px; z-index:9;*/}
/* ------------------ Poovulagin page style --------------------------- */
.poovulag-band{float:left; width:100%; padding:10px;}
.poovulag-band div{float:left; font-weight:normal;}
.poovulag-band .hd-big-txt{font-size:20px; font-weight:bold;}
.poovulag-band .hd-md-txt{font-size:16px; width:35%;}
.poovulag-band .hd-sm-txt{font-size:14px; margin-left:10px; width:43%;}
.poovulag-band .txt-box{float:left; width:30px; padding:4px 6px; margin-left:10px; text-align:center;}
/* ------------------ Album page style --------------------------- */
/*.album-thumb-list>a>figure{position:relative; overflow:hidden;}*/
.album-thumb-list>a>figure>.article-post-date{position:absolute; top:0; width:100%; border:0; color:#444; background-color:rgba(255,255,255,0.8); opacity:0;}
.album-thumb-list>a:hover>figure>.article-post-date{opacity:1;}
.isotope-cnt>.row{-moz-column-width:14em; -webkit-column-width:14em; -moz-column-gap:15px; -webkit-column-gap:15px;}
/*.isotope-cnt1>.row{-moz-column-width:8em; -webkit-column-width:8em; -moz-column-gap:15px; -webkit-column-gap:15px;}
.isotope-cnt>.row>.col-md-4,.isotope-cnt1>.row>.col-md-4{display:inline-block; padding:0; margin:0; width:100%; float:none; border-bottom:15px solid #fff;}*/
.isotope-cnt>.row>.col-md-4{display:inline-block; padding:0; margin:0; width:100%; float:none; border-bottom:15px solid #fff;}
.isotope-cnt1>.row>.col-md-4{max-height:60px; max-width:20%; padding:0 5px; margin:5px 0 0 0; overflow:hidden; float:none; display:inline-block;}
@media (max-width:479px){.isotope-cnt1>.row>.col-md-4{max-width:33%;}}
/* ------------------ Vaasagar Pakkam page style --------------------------- */
.varungal-vasagargalay{position:relative; background:url(../images/vasagar-pakkam/varungal-vasagargalay-bg.jpg) no-repeat #1AB7E0; min-height:1211px; background-size:100%;}
.varungal-vasagargalay-form{position:absolute; background-color:#0773A4; right:20px; top:418px;}
.varungal-vasagargalay-form>form .submit-btn{background:#0773A4; color:#fff; font-size:20px;}
.varungal-vasagargalay-form>form .submit-btn:hover{background:#098ECA;}
.varungal-vasagargalay-form>form .submit-btn:before{display:none;}
.vasagar-pakkam-page .modal-dialog{margin:460px auto; overflow:hidden !important;}
/* Base for label styling */
.varungal-vasagargalay-form [type="checkbox"]:not(:checked) + label,.varungal-vasagargalay-form [type="checkbox"]:checked + label{position:relative; padding-left:20px; cursor:pointer; font-weight:normal; font-size:13px; color:#565656;}
.varungal-vasagargalay-form [type="checkbox"]:not(:checked) + label:before,.varungal-vasagargalay-form [type="checkbox"]:checked + label:before,.varungal-vasagargalay-form [type="checkbox"]:not(:checked) + label:after,.varungal-vasagargalay-form [type="checkbox"]:checked + label:after{content:''; position:absolute; left:0; top:0; width:15px; height:15px;}
.varungal-vasagargalay-form [type="checkbox"]:not(:checked) + label:before,.varungal-vasagargalay-form [type="checkbox"]:checked + label:before{background:url(../images/icons/big-checkbox-off.png) no-repeat;}
.varungal-vasagargalay-form [type="checkbox"]:not(:checked) + label:after,.varungal-vasagargalay-form [type="checkbox"]:checked + label:after{background:url(../images/icons/big-checkbox-on.png) no-repeat;}
/* ------------------ Onload page Popup --------------------------- */
/*.load-popup .modal-dialog{border:6px solid #fff;}*/
.load-popup button.close{position:absolute; right:-10px; top:-10px; background:#fff; /*background:#ed1c24;*/ opacity:1 !important; z-index:10;}
.ads-popup .modal-backdrop{background:transparent;}
.com-advertisement-txt{position:absolute; top:0; z-index:9; background-color:rgba(0,0,0,.2); width:100%; color:#fff; text-align:center; font-weight:normal;}
/* ------------------ Renew Onload page Popup --------------------------- */
.renew-popup-blk button.close{position:absolute; top:-10px; right:-10px; background:#ed1c24;}
.renew-popup{padding:10px; font-size:16px; font-weight:bold; line-height:normal; background:url("../images/renew-popup/renewal-reminder.jpg") no-repeat top right #fff; background-size:cover; border:5px solid #fff;}
.renew-popup-cnt{font-size:18px; line-height:26px;}
.renew-popup-cnt,.renew-popup .panel.price{width:80%;}
.renew-popup .panel.price{margin-top:15px; margin-bottom:0;}
.renew-popup .panel.price,.renew-popup .panel.price>.panel-footer{float:none;}
/* ------------------ Timer Onload page Popup --------------------------- */
.timer-popup .modal-body{background:url(../images/popup/timer-remainder.jpg) no-repeat top right #fff; background-size:cover;}
.timer-popup .modal-title{text-align:center; color:yellow;}
.timer-popup .modal-title span{font-size:22px;}
/* ------------------ Comments count style for every article --------------------------- */
.comments-count-txt{color:#848484; font-weight:normal; font-size:14px; line-height:10px;}
.comments-count-txt:hover,.comments-count-txt>span{color:#ed1c24;}
.comments-count-txt>i{font-size:16px;}
/* Content style end */

/* Footer style starts */
footer{ font-size:12px; text-transform:uppercase;}
.ft-social-list{width:100%; padding:20px 20px 0; text-align:center;}
.ft-social-list li{display:inline-block; margin:0 12px;}
.ft-social-list li a{ display:inline-block; text-align:center; line-height:50px; color:#fff;}
.ft-social-list li a span{width:50px; height:50px; font-size:30px; padding:10px; position:relative; border:1px solid #363636; text-align:center; display:block; margin:0 auto; color:#eee;}
.ft-social-list li a:hover{color:#fff;}
.ft-social-list li.icon-rss a:hover span{border:1px solid #ff722c; background-color:#ff722c;}
.icon-ad span{background-position:-8px -58px;}
.ft-social-list li.icon-ad a:hover span{border:1px solid #07b9e3; background-color:#07b9e3;}
.icon-app span{background-position:-10px -110px;}
.ft-social-list li.icon-app a:hover span{border:1px solid #ed1c24; background-color:#ed1c24;}
.ft-social-list li.icon-ios a:hover span{border:1px solid #aaaaaa; background-color:#aaaaaa;}
.ft-social-list li.icon-android a:hover span{border:1px solid #a1c849; background-color:#a1c849;}
.ft-social-list li.icon-fb a:hover span{border:1px solid #3b579b; background-color:#3b579b;}
.ft-social-list li.icon-tweet a:hover span{border:1px solid #11cdfd; background-color:#11cdfd;}
.ft-social-list li.icon-google a:hover span{border:1px solid #ff001b; background-color:#ff001b;}
.ft-social-list li.icon-youtube a:hover span{border:1px solid #e5172a; background-color:#e5172a;}
.ft-social-list li.icon-linkedin a:hover span{border:1px solid #0077b3; background-color:#0077b3;}
.ft-social-list li.icon-pinterest a:hover span{border:1px solid #CB2027; background-color:#CB2027;}
/* Footer first level menu */
.ft-first-menu{width:100%; text-align:center;}
.ft-first-menu>li{display:inline-block;}
.ft-first-menu>li>a{float;left; padding:10px 22px;; color:#fff;}
.ft-first-menu>li>a:hover{background-color:#373737;}
/* Footer Second level menu */
.ft-second-menu{width:100%; text-align:center;}
.ft-second-menu>li{display:inline-block; position:relative;}
.ft-second-menu>li>a{color:#656565; padding:4px; font-size:11px;}
.ft-second-menu>li>a:hover{color:#fff;}
.ft-second-menu>li>a:before{width:1px; height:9px; background:#7e7e7e; left:-2px; top:7px;}
.ft-second-menu>li:first-child>a:before{display:none;}
/* Footer third level menu */
.ft-third-menu{width:100%; text-align:center;}
.ft-third-menu>li{display:inline-block; position:relative;}
.ft-third-menu>li>a{color:#656565; padding:6px 15px; font-size:11px;}
.ft-third-menu>li>a:hover{color:#fff;}
.ft-third-menu>li>a:before{width:3px; height:2px; background:#7e7e7e; left:-2px; top:13px;}
.ft-third-menu>li:first-child>a:before{display:none;}
/* Footer copyright style */
.copyright-txt{text-align:center;width:100%;color:#656565; font-size:11px;}
.termscondition-block{background:#f2f1f1;}
.termscondition-txt{text-align:center; width:100%; color:rgba(0,0,0,0.9); text-transform:none; font-weight:normal; font-size:12px; line-height:20px;}
/* Footer style end */

/* Feedback form style start */
.feedback-form-review label{line-height:15px; margin:0;}
.feedback-part-form-review{position:fixed; z-index:99; /*bottom:65px;*/ bottom:50%; margin-bottom:-66px; right:0;}
.feedback-part{position:fixed; z-index:99; /*bottom:20px;*/ bottom:50%; margin-bottom:-149px; right:-264px;}
.feedback-part.open{right:0;}
.feedback-close-btn{position:absolute; z-index:100; left:9px; top:5px; width:17px; height:17px; background:url(../images/icons/icon-menu-close.png) no-repeat; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%;}
.feedback-part.open .feedback-btn{width:19px; height:19px; background:url(../images/icons/closebutton.png) no-repeat;}
.feedback-btn{float:left; width:19px; height:131px; background:url(../images/icons/feedback-btn.png) no-repeat;}
.feedback-form{background:#fff; padding:20px; border:2px solid #ccc; display:inline-block; width:264px;}
.feedback-form .form-group{margin-bottom:10px;}
.feedback-form .form-group p{width:100%; float:right; line-height:12px; color:#888; text-align:right; margin:0 10px 0 0;}
/* Scroll to top style start */
.scrollup{display:none; position:fixed;/* width:36px; height:36px; text-indent:-9999px; bottom:50px; right:50px; background:url(../images/icons/icon_top.png) no-repeat;*/ width:134px; height:40px; bottom:0; right:50%; margin-right:-66px; text-transform:uppercase; color:#fff; padding:14px 10px 6px 10px; border-radius:6px 6px 0 0; -webkit-border-radius:6px 6px 0 0; -moz-border-radius:6px 6px 0 0; z-index:999;}
.scrollup:hover{color:#fff;}
.scrollup i{position:absolute; top:2px; left:50%; margin-left:-3px;}

/* Fonts Starts */
.font-family-hel{font-family:helvetica;}
.font-family-ptsans{font-family:'PTSansRegular', helvetica, sans-serif;}
.font-family-latha{font-family:'Latha';}
.font-family-panchali{font-family:Panchali;}
@font-face {
	font-family:'PTSansRegular', helvetica, sans-serif;
	src: url('http://www.vikatan.com/static/css/fonts/PTS55F-webfont.eot');
	src: url('http://www.vikatan.com/static/css/fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
	url('http://www.vikatan.com/static/css/fonts/PTS55F-webfont.woff') format('woff'),
	url('http://www.vikatan.com/static/css/fonts/PTS55F-webfont.ttf') format('truetype'),
	url('http://www.vikatan.com/static/css/fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face {
    font-family:'robotoregular';
    src: url('http://www.vikatan.com/static/css/fonts/Roboto-Regular-webfont.eot');
    src: url('http://www.vikatan.com/static/css/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.vikatan.com/static/css/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('http://www.vikatan.com/static/css/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('http://www.vikatan.com/static/css/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Latha';
    src: url('http://www.vikatan.com/static/css/fonts/Latha.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family:taun_elango_abiramiregular;
	src: url('http://www.vikatan.com/static/css/fonts/taun_elango_abirami.eot');
	src: url('http://www.vikatan.com/static/css/fonts/taun_elango_abirami.eot?#iefix') format('embedded-opentype'), url('http://www.vikatan.com/static/css/fonts/taun_elango_abirami.woff') format('woff'), url('http://www.vikatan.com/static/css/fonts/taun_elango_abirami.ttf') format('truetype'), url('http://www.vikatan.com/static/css/fonts/taun_elango_abirami.svg#taun_elango_abiramiregular') format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family:Kamban;
	src: url('http://www.vikatan.com/static/css/fonts/taun_elango_kamban.eot');
	src: url('http://www.vikatan.com/static/css/fonts/taun_elango_kamban.eot') format('embedded-opentype'), url('http://www.vikatan.com/static/css/fonts/taun_elango_kamban.woff') format('woff'), url('http://www.vikatan.com/static/css/fonts/taun_elango_kamban.ttf') format('truetype'), url('http://www.vikatan.com/static/css/fonts/taun_elango_kamban.svg') format('svg')
}
@font-face {
	font-family:Panchali;
	src: url('http://www.vikatan.com/static/css/fonts/panchali.eot');
	src: url('http://www.vikatan.com/static/css/fonts/panchali.eot?#iefix') format('embedded-opentype'), url('http://www.vikatan.com/static/css/fonts/panchali.woff') format('woff'), url('http://www.vikatan.com/static/css/fonts/panchali.ttf') format('truetype'), url('http://www.vikatan.com/static/css/fonts/panchali.svg#panchaliregular') format('svg');
	font-weight: 400;
	font-style: normal
}
/* Fonts Ends */

/* -- Main style ------------------------------------ */
.btn{font-family:'Helvetica Neue, Helvetica, Arial', sans-serif;  font-size:14px; font-weight:400; line-height:1.1; text-transform:uppercase; letter-spacing:inherit; color:rgba(0, 0, 0, 0.87);}
.btn-default, .btn-link{color:rgba(0, 0, 0, 0.87);}

/* -- Buttons style ------------------------------------ */
.btn{outline:0; outline-offset:0; border:0; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;
  transition: all .15s ease-in-out; 
  -o-transition: all .15s ease-in-out; 
  -moz-transition: all .15s ease-in-out; 
  -webkit-transition: all .15s ease-in-out;  
  
  &:focus, &:active, &.active, &:active:focus, &.active:focus {
    outline: 0;
    outline-offset: 0;  
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}

/* -- Buttons types -------------------------------- */
.btn-raised {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12),
  0 1px 2px 0 rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12),
  0 1px 2px 0 rgba(0, 0, 0, .24); 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12),
  0 1px 2px 0 rgba(0, 0, 0, .24); 
   
  &:active, &.active, &:active:focus, &.active:focus {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23);
  }
  
  &:focus {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23);
  }  
}
/* -- Buttons sizes -------------------------------- */
.btn-flat{}
.btn.btn-circle{padding:0; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%;}
.btn{min-width:88px; padding:10px 14px; color:#000;}
.btn.red,.btn.blue:hover{color:#fff; background-color:#ED1B24;}
.btn.orange{color:#fff; background-color:#FB8B01;}
.btn.green{color:#fff; background-color:#27930A;}
.btn:hover,.btn.blue,.btn.red:hover,.btn.green:hover,.btn.orange:hover{color:#fff; background-color:#0BA3F7;}

.btn-lg, .btn-group-lg>.btn{min-width:122px; padding:10px 16px; font-size:18px; line-height:1.3;}
.btn-sm, .btn-group-sm>.btn{min-width:64px; padding:4px 12px; font-size:12px; line-height:1.5;}
.btn-xs, .btn-group-xs>.btn{min-width:46px; padding:2px 10px; font-size:10px; line-height:1.5;}
.btn-circle{width:56px; height:56px; min-width:56px;
  span{line-height:56px;}
}
.btn-circle.btn-lg{width:78px; height:78px; min-width:78px;  
  span {
    line-height:78px;}
}
.btn-circle.btn-sm{width:40px; height:40px; min-width:40px;  
  span {line-height:40px;}
}
.btn-circle.btn-xs{width:30px; height:30px; min-width:30px;  
  span{line-height:30px;}
}

.blink-txt{
	-webkit-animation: txt-change 1s infinite;
    -moz-animation: txt-change 1s infinite;
    -o-animation: txt-change 1s infinite;
    -ms-animation: txt-change 1s infinite;
    animation: txt-change 1s infinite;
}
@keyframes txt-change {
	0% {color:#ed1c24;}
	33% {color:#0BA3F7;}
	66% {color:#ed1c24;}
	100% {color:#0BA3F7;}
}
@-webkit-keyframes txt-change {
	0% {color:#ed1c24;}
	33% {color:#0BA3F7;}
	66% {color:#ed1c24;}
	100% {color:#0BA3F7;}
}
@-moz-keyframes txt-change {
	0% {color:#ed1c24;}
	33% {color:#0BA3F7;}
	66% {color:#ed1c24;}
	100% {color:#0BA3F7;}
}
@-ms-keyframes txt-change {
  0% {color:green;}
  100% {color:blue;}
}
@-o-keyframes txt-change {
	0% {color:#ed1c24;}
	33% {color:#0BA3F7;}
	66% {color:#ed1c24;}
	100% {color:#0BA3F7;}
}
.blink-bg{
	-webkit-animation: txt-bg 3s infinite;
    -moz-animation: txt-bg 3s infinite;
    -o-animation: txt-bg 3s infinite;
    -ms-animation: txt-bg 3s infinite;
    animation: txt-bg 3s infinite;
}
@keyframes txt-bg {
	0% {background-color:#ed1c24;}
	33% {background-color:#0BA3F7;}
	66% {background-color:#ed1c24;}
	100% {background-color:#0BA3F7;}
  
}
@-webkit-keyframes txt-bg {
	0% {background-color:#ed1c24;}
	33% {background-color:#0BA3F7;}
	66% {background-color:#ed1c24;}
	100% {background-color:#0BA3F7;}
}
@-moz-keyframes txt-bg {
	0% {background-color:#ed1c24;}
	33% {background-color:#0BA3F7;}
	66% {background-color:#ed1c24;}
	100% {background-color:#0BA3F7;}
}
@-ms-keyframes txt-bg {
	0% {background-color:#ed1c24;}
	33% {background-color:#0BA3F7;}
	66% {background-color:#ed1c24;}
	100% {background-color:#0BA3F7;}
}
@-o-keyframes txt-bg {
	0% {background-color:#ed1c24;}
	33% {background-color:#0BA3F7;}
	66% {background-color:#ed1c24;}
	100% {background-color:#0BA3F7;}
}

/* -- Ripple effect -------------------------------- */
.ripple-effect{position: relative; -webkit-transform: translate3d(0,0,0);}
.ink{display:block; position:absolute; pointer-events:none; border-radius:50%; -webkit-transform:scale(0); -moz-transform:scale(0); -ms-transform:scale(0); -o-transform:scale(0); transform:scale(0); background:#fff; opacity:1;}

/*animation effect*/
.ink.animate {
  -webkit-animation: ripple .5s linear;
  -moz-animation: ripple .5s linear;
  -ms-animation: ripple .5s linear;
  -o-animation: ripple .5s linear;
  animation: ripple .5s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple {
  100% {
    opacity: 0;
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}

/* -- Video Icon -------------------------------- */
.video-play-icon {position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px 7px;
    font-size: 10px;
    color: #fff;
    line-height: 0;
    width: 24px;
    height: 24px;
    text-align: center;
    border: 2px solid #fff;
    box-shadow: 0 0 15px #000000;
    -webkit-box-shadow: 0 0 15px #000000;
    -moz-box-shadow: 0 0 15px #cccccc;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=0), progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=270)";}
figure:hover .video-play-icon{background:#000;}


.video-play-icon-lrg {position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px 7px;
    font-size: 10px;
    color: #fff;
    line-height: 0;
    width: 24px;
    height: 24px;
    text-align: center;
    border: 2px solid #fff;
    box-shadow: 0 0 15px #000000;
    -webkit-box-shadow: 0 0 15px #000000;
    -moz-box-shadow: 0 0 15px #cccccc;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=0), progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=270)";}
figure:hover .video-play-icon{background:#000;}

.video-play-icon-sml {
  position: absolute;
    bottom: 5px;
    margin-left: 5px;
    padding: 3px 4px;
    font-size: 8px;
    color: #fff;
    line-height: 0;
    width: 14px;
    height: 14px;
    text-align: center;}
.embed-responsive{clear: both;}