@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;text-decoration:none;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
/*幻灯片样式开始*/
#container{width:370px;height:170px;overflow:hidden;position:relative;}
h2{height: 29px;line-height: 28px; background: url(http://img.cyol.com/tplimg/home/cyol2015_linebg.gif) repeat-x left bottom;}
h2 a{font-size: 16px; color: #333;font-weight: bold;}

#listrm{height:125px;width:1850px;width:2590px;position:absolute;z-index:1;left:-370px;margin-top:15px;}
#listrm li{float:left;width:370px;height:125px;display:block;}
.arrow{cursor:pointer;display:block;line-height:28px;text-align:center;height:28px;position:absolute;z-index:2;top: 38px;}
.arrow img{vertical-align:top;}
#prevrm{text-decoration:none;
    right:13px; width:34px;top: 10px; }
#prevrm span{line-height:16px;}
#nextrm{width:8px; top: 10px;
    right: 3px;text-decoration:none;}
.arrow span{color:#4a4a4a;font-size:12px;padding-left:5px;}
.boxB1 h5{height:32px;line-height:32px;overflow:hidden;}
.boxB1 h5 a{color:#002978;font-size:14px;font-family: "Microsoft YaHei" ! important;font-weight:normal;}
.boxB1con img{width:140px; height:110px; float:left; margin-right:10px; }
.bB1right{margin-top:5px;color:#666; line-height:18px;}
