﻿@charset "utf-8";
/* CSS Document */


/* 大首页头部 */
/* site_nav */
.site_nav{ border-bottom:1px solid #e7e7e7; color:#999999; margin-top:5px;}
.site_nav_bd{ width:980px; padding:0px 10px;}
.login_info a.login_bg{ background-position:0px 0px; width:59px; height:18px; line-height:18px; color:#FFFFFF; text-align:center; float:left; display:inline; margin-right:5px;}
/* site_nav_end */

/*header_menu*/
.top_header{ overflow:hidden;}
.header_menu{ background:url("../images/header_menu_bg.jpg") no-repeat scroll center bottom #FFFFFF}
.header_menu li{ float:left; height:52px; line-height:52px;font-size:12px; margin-top:10px; font-weight:bold; color:#dbdbdb;}
.header_menu li a{margin:0 10px;text-decoration:none; font-size:14px; float:left;}
.header_menu li a:link,.header_menu li a:visited,.header_menu li a:active{color:#000; }
.header_menu li span{ float:left;}
.header_menu li .header_f_dianp:hover{ _margin-left:5px;}

/*首页城市展开*/
.header_menu .header_city{ float:left; margin-left:-15px;}
.header_menu .header_city a{ font-size:12px; cursor:pointer; font-weight:normal;}
.header_menu .header_city a:hover{ width:auto;}
.header_menu .header_city .header_citydiv{position:absolute;border: 1px solid #e5e5e5;background:#fafafa;z-index:100;width:210px;visibility: hidden; margin-top:-20px;}
.header_menu .header_city .header_citydiv a{ width:70px; height:22px; line-height:22px; text-align:center; display:block; float:left; padding:0; margin:0;}
.header_menu .header_city .header_citydiv a:hover{ background:#625f5e; color:#fff; width:70px; height:22px; line-height:22px; }

.header_menu .header_citynew { float:left; margin-left:-15px; }
.header_menu .header_citynew a { font-size:12px; cursor:pointer; font-weight:normal; }
.header_menu .header_citynew a:hover { width:auto; }
.header_menu .header_citynew dt, .header_menu .header_citynew dd { float:left; }
.header_menu .header_citynew dt { width:50px; height:22px; line-height:22px; color:#f60; text-align:center; }
.header_menu .header_citynew dd { width:310px }
.header_menu .header_citynew .header_citydiv {background:url("http://js.51hejia.com/img/bugbg.gif"); position:absolute; z-index:100; width:362px; visibility:hidden; margin-top:-40px; }
.header_menu .header_citynew .header_citydiv p { position:absolute; width:56px; height:22px; line-height:22px; text-align:center; border:1px solid #999; border-bottom:none; z-index:101; background:#fff;font-weight:normal;color:#333; }
.header_menu .header_citynew .header_citybox { border:1px solid #999; background:#fff; padding:10px 0; margin-top:22px; }
.header_menu .header_citynew .header_citybox span { width:52px; _width:60px;height:22px; line-height:22px; overflow:hidden; text-align:left; display:block; float:left; padding:0 5px;_padding:0px; margin:0; }
.header_menu .header_citynew .header_citybox a { padding:2px;margin:0; }
.header_menu .header_citynew .header_citybox a:hover { background:#ff842d; color:#fff; line-height:22px; }
/*header_menu_end*/

/*header_nav*/
.header_nav{ position:relative;background:url("../images/nav_bg.jpg") no-repeat scroll center bottom transparent;width:1000px; height:35px;margin-bottom:5px; line-height:20px;}
.header_menu_hot{background-position:-80px 0px; position:absolute; top:-50px; left:250px; width:64px; height:17px;}
.header_nav_list{ padding:5px 10px;color:#cbcbcb;}
.header_nav_list a{ padding:0 5px;}
/*header_nav_end*/

/*header_ad*/
.header_ad { width:190px; height:60px; position:absolute; overflow:hidden; top:-60px; right:32px;}
.header_ad .header_ad_list { position:absolute; left:0; width:5200px; height:60px; background:#fff }
.header_ad .header_ad_list ul li {float:left; display:inline; width:190px; height:60px;}
.header_ad .header_ad_list ul li img{ width:190px; height:60px;}
.header_nav span.header_ad_pre { right:15px; top:-25px ;position:absolute; display:block;background:url("../images/index_icon.gif") no-repeat -160px -160px; width:17px; height:15px;cursor:pointer;}
.header_nav span.header_ad_next { right:0px; top:-25px;position:absolute; display:block;block;background:url("../images/index_icon.gif") no-repeat -190px -160px; width:17px; height:15px; cursor:pointer;}
/*header_ad_end*/
/* 大首页头部结尾 */



/*新版导航简头*/
.bg_box{background: none repeat scroll 0 0 #ffffff;width: 100%;}
.top_box{background: none repeat scroll 0 0 #ffffff;padding-bottom:10px;width: 1000px;}
.header_n{ background:url("http://img1.51hejia.com/img/2010/headerimg_bg.jpg") repeat-x center bottom; border:1px solid #f0f0f0; border-bottom:none;width:1000px; height:30px; overflow:hidden;}
.header_s_menu{ width:600px;}
.header_s_menu li{ float:left; height:30px; line-height:30px;}
.header_s_menu .header_sy{ background:none; padding-left:0; margin:0; width:88px; text-align:center; height:30px; line-height:30px; float:left;}
.header_s_menu a:link,.header_s_menu a:visited,.header_s_menu a:active{color:#000;}
.header_s_menu a:hover{ color:#f60;}
.header_s_menu .header_city{ float:left; margin-left:3px;}
.header_s_menu .header_city a{ font-size:12px; cursor:pointer; font-weight:normal;}
.header_s_menu .header_city a:hover{ width:auto;}
.header_s_menu .header_city .header_citydiv{position:absolute;border: 1px solid #e5e5e5;background:#fafafa;z-index:100;width:210px;visibility: hidden;}
.header_s_menu .header_city .header_citydiv a{ width:70px; height:22px; line-height:22px; text-align:center; display:block; float:left; padding:0; margin:0;}
.header_s_menu .header_city .header_citydiv a:hover{ background:#625f5e; color:#fff; width:70px; height:22px; line-height:22px; }
.header_s_menu li a{background: url("http://img1.51hejia.com/img/2010/dot01.gif") no-repeat scroll 8px center;float: left;height: 30px;line-height: 30px;padding: 0 8px 0 15px;}
.header_s_menu li.active{ background:url("http://img1.51hejia.com/img/2010/headerimg_li_bg.jpg") repeat-x center bottom; padding:0 1px;}
.header_s_menu li.active a{background: url("http://img1.51hejia.com/img/2010/dot01.gif") no-repeat scroll 8px center #FFFFFF;float: left;height: 30px;line-height: 30px;padding: 0 8px 0 15px;}

.header_login li{ float:left; height:30px; line-height:30px; margin-right:10px;_margin-right:5px;}
.header_login a{ color:#f60;}
.header_s_nav{ height:32px; line-height:30px; width:988px; overflow:hidden;color:#c8c8c8; padding-left:12px;border:1px solid #f0f0f0; border-bottom:1px solid #e1e1e1; border-top:none;}
.header_s_nav a{ padding:0 6px; height:30px; line-height:30px;}
.header_s_nav a:link,.header_nav a:visited,.header_nav a:hover,.header_nav a:active{color:#3e3e3e;}
.header_s_nav li a:hover{ color:#f60;}
.header_ygbox li{ display:none;}
/*新版导航简头结束*/

/* 友情链接 */
/*friendLink*/
.friendlink{ border:1px solid #dddddd; padding:0px 20px; color:#333333; width:958px;  line-height:30px;}
/*friendLink_end*/
/* 友情链接结尾 */

/* 尾部 */
/*footer_code*/
.stags_n{ width:1000px; text-align:center; position:relative; border-bottom:1px solid #dddddd;}
.stags_n div{ text-align:center;}

#gbi,#gbg,#gbs{background:#fff;position:absolute;text-align:left;visibility:hidden;z-index:1000; top:0; right:3px;}
#gbi,#gbg{border:1px solid;border-color:#e8e8e8 #959595 #959595 #e8e8e8;z-index:1001}
#gbi {width:204px; padding-top:4px;}
#gbi a {background: url(http://img1.51hejia.com/img/h_j_line.gif) no-repeat right 5px;padding:0;color:#6d6d6d;}
#gbi a.snl {background-image:none;}
.gb2{width:67px; float:left; text-align:center;}

#gbia,#gbga,#gbsa{background:#fff;position:absolute;text-align:left;visibility:hidden;z-index:1000; top:0; right:3px;}
#gbia,#gbga{border:1px solid;border-color:#e8e8e8 #959595 #959595 #e8e8e8;z-index:1001}
#gbia {width:204px; padding-top:4px;}
#gbia a {background: url(http://img1.51hejia.com/img/h_j_line.gif) no-repeat right 5px;padding:0;color:#6d6d6d;}
#gbia a.snl {background-image:none;}
.list10 li p a:link,.list10 li p a:visited,.list10 li p a:active{ color:#333333;}
.page_1 .lfet .box h3{ padding-top:15px;}

.seo_tian li{width:110px;height:130px;margin:5px 8px;text-align:center;float:left;}

.sfooter{ text-align:center; width:1000px;}
.sfooter div{ text-align:center;}
.font_link_s2{ font-family:Arial, tahoma, "宋体";}
/*footer_code_end*/
/* 尾部结尾 */


/* 登录-陈永添加 */
/* Login */
#Login .denglu {FONT-WEIGHT: normal; FONT-SIZE: 12px; RIGHT: 55px; POSITION: absolute; TOP: 4px;}
#Login .denglu A {COLOR: #f60; TEXT-DECORATION: underline;}
#Login {BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: -135px; Z-INDEX: 100; BACKGROUND: #fff; LEFT: 50%; MARGIN-LEFT: -100px; BORDER-LEFT: #ccc 1px solid; WIDTH: 220px; COLOR: #000; BORDER-BOTTOM: #ccc 1px solid; TOP: 50%;position:fixed!important;/*FF IE7*/
position:absolute;/*IE6*/
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/}
#Login H4 SPAN {BACKGROUND: url(http://img1.51hejia.com/css/newback/images/titlebg1.gif) no-repeat left center; FLOAT: left; TEXT-INDENT: 20px; LINE-HEIGHT: 26px;}
#zhuce H4 SPAN {BACKGROUND: url(http://img1.51hejia.com/css/newback/images/titlebg1.gif) no-repeat left center; FLOAT: left; TEXT-INDENT: 20px; LINE-HEIGHT: 26px;}
#Login H4 A {MARGIN-TOP: 6px; FLOAT: right; MARGIN-RIGHT: 10px;}
#zhuce H4 A {MARGIN-TOP: 6px; FLOAT: right; MARGIN-RIGHT: 10px;}
#Login H4 SPAN A {FLOAT: none; MARGIN: 0px 0px 0px 5px;}
#Login FIELDSET {MARGIN: 10px 0px;}
#Login LEGEND STRONG {DISPLAY: block; FONT-SIZE: 14px; BACKGROUND: url(http://img1.51hejia.com/css/newback/images/btbg.gif) no-repeat 32% 0px; COLOR: #000; LINE-HEIGHT: 40px; TEXT-ALIGN: center;}
#Login FIELDSET P {MARGIN: 10px 0px; TEXT-ALIGN: center;}
#Login LABEL {DISPLAY: block; FONT-SIZE: 12px; MARGIN: 5px 0px;}
#Login FIELDSET DIV {MARGIN-LEFT: 30px;}
A.Divopop-nonenei {DISPLAY: block; Z-INDEX: 9999; RIGHT: 20px; POSITION: absolute; TOP: 6px;}


/* new Login */
.login{
    float: right;
}
.login_n a{ height:20px; line-height:0; font-size:0; text-indent:-9999px; overflow:hidden; display:block; float:left; margin:5px;}
.login_a01{ width:66px; background:url(http://img1.51hejia.com/img/2010/headerimg.gif) no-repeat 0 -190px;}
.login_a02{ width:41px; background:url(http://img1.51hejia.com/img/2010/headerimg.gif) no-repeat -72px -190px;}
.login_a03{ width:66px; background:url(http://img1.51hejia.com/img/2010/headerimg.gif) no-repeat -118px -190px;}
.login_a04{ width:41px; background:url(http://img1.51hejia.com/img/2010/headerimg.gif) no-repeat -190px -190px;}


.bbs_status{
color:#ff6600;
font-weight:bold;
}
/* 登录结束-许友添加 */



/*导航添加巢家居 beta图标样式 2013-04-07*/
 i.header_menu_beta {background: url(http://js1.51hejia.com/hejia_index/statics/images/beta.gif) no-repeat 0px 9px; height:30px; width: 21px; display:block; float:left; margin-left:-8px;  padding-right:8px; margin-top:0px; }
.header_s_menu li.active i.header_menu_beta{ background: #FFFFFF url(http://js1.51hejia.com/hejia_index/statics/images/beta.gif) no-repeat 0px 9px; }