﻿@charset "utf-8";
/* CSS Document */

/* Common Part */
*{ margin:0; padding:0;}
html,body{color:#3E3E3E; width:100%; height:100%;}
body{background:#FFFFFF;font-size:12px; font-family:'宋体', Arial, Helvetica, sans-serif; line-height:20px;}
div,img{ margin:0 auto;}
div{ text-align:left;}
table{table-layout:fixed;}
a{color:#3E3E3E; text-decoration:none;}
a:hover {color:#f60; text-decoration:underline;}
img {border:0;}
li {list-style:none;}
/*h1 { font-size:14px;}*/
h2,h3,h4 {font-size:14px; font-weight:bold;}
.clear {clear:both;}
.margin5 {margin-bottom:5px;}
.margin10 {margin-bottom:10px;}
.margin15 {margin-bottom:15px;}
.margin20 {margin-bottom:20px;}
.width1000{ width:1000px;}
.f_l { float:left;}
.f_r { float:right;}
.clearfix {zoom:1;}
.clearfix:after {content: '\20'; display: block; clear: both;}

/* index general */
.index_icon{ background:url("http://js1.51hejia.com/hejia_index/statics/images/index_icon.gif") no-repeat;}
.index_tit{font-size:20px; color:#ff6600; font-family:"微软雅黑"; height:30px; line-height:30px; font-weight:bold;}
.index_tit h3 a{font-size:20px; color:#ff6600; font-family:"微软雅黑"; height:30px; line-height:30px; font-weight:bold;}
.index_tit h4 a{font-size:14px; color:#ff6600; font-family:"微软雅黑"; height:30px; line-height:30px; font-weight:bold;}
.index_tit span{ font-size:12px; color:#666666; float:right; font-family:"宋体";}
.index_tit16{font-size:16px; color:#333333; font-family:"微软雅黑"; line-height:30px; font-weight:bold;}
.index_tit16 span{ font-size:12px; color:#666666; float:right; font-family:Arial,tahoma,"宋体";}
.index_tit16 a{ color:#333;}
.content_r_box{ width:249px;  background:url("http://js1.51hejia.com/hejia_index/statics/images/content_r_box_bg.jpg") no-repeat scroll left top #FFF6F0; position:relative; border-right:1px solid #ffddc7;}
.content_r_box_tit{ padding:0px 20px;font-size:14px; margin-bottom:10px;}
.content_r_box_tit span{font-size:12px;}
.content_r_box_tit span a{color:#ff6600;}
.content_r_box_more{ position:absolute; top:-3px; right:5px;background-position:-80px -140px; width:35px; height:35px;}

.index_tit a{color:#ff6600; font-weight:normal; }

/*index body*/

/* site_nav */
.slogan{}
.site_nav{ border-bottom:1px solid #e7e7e7; color:#999999; margin-top:2px;}
.top_icon_png{background:url("http://js1.51hejia.com/hejia_index/statics/images/logo_dragon.png") no-repeat; width:110px; height:94px; top:-5px; left:10px;}
.site_nav_bd{ width:980px; padding:0px 10px;}
.login_info a.login_bg{ background-position:0px 0px; width:59px; height:18px; line-height:18px; color:#FFFFFF; text-align:center; float:left; display:inline; margin-right:5px;}
/* site_nav_end */

/*header_menu*/
.top_header{ overflow:hidden;}
.header_menu{ background:url("http://js1.51hejia.com/hejia_index/statics/images/header_menu_bg.jpg") no-repeat scroll center bottom #FFFFFF}
.header_menu li{ float:left; height:52px; line-height:52px;font-size:12px; margin-top:10px; font-weight:bold; color:#dbdbdb;}
.header_menu li a{margin:0 10px;text-decoration:none; font-size:14px; float:left;}
.header_menu li a:link,.header_menu li a:visited,.header_menu li a:active{color:#000; }
.header_menu li span{ float:left;}
.header_menu li .header_f_dianp:hover{ _margin-left:5px;}

/*首页城市展开*/
.header_menu .header_city{ float:left; margin-left:-15px;}
.header_menu .header_city a{ font-size:12px; cursor:pointer; font-weight:normal;}
.header_menu .header_city a:hover{ width:auto;}
.header_menu .header_city .header_citydiv{position:absolute;border: 1px solid #e5e5e5;background:#fafafa;z-index:100;width:210px;visibility: hidden; margin-top:-20px;}
.header_menu .header_city .header_citydiv a{ width:70px; height:22px; line-height:22px; text-align:center; display:block; float:left; padding:0; margin:0;}
.header_menu .header_city .header_citydiv a:hover{ background:#625f5e; color:#fff; width:70px; height:22px; line-height:22px; }
.header_menu .header_citynew { float:left; margin-left:-15px; }
.header_menu .header_citynew a { font-size:12px; cursor:pointer; font-weight:normal; }
.header_menu .header_citynew a:hover { width:auto; }
.header_menu .header_citynew dt, .header_menu .header_citynew dd { float:left; }
.header_menu .header_citynew dt { width:50px; height:22px; line-height:22px; color:#f60; text-align:center; }
.header_menu .header_citynew dd { width:310px }
.header_menu .header_citynew .header_citydiv {background:url("http://js.51hejia.com/img/bugbg.gif"); position:absolute; z-index:100; width:362px; visibility:hidden; margin-top:-40px; }
.header_menu .header_citynew .header_citydiv p { position:absolute; width:90px; padding-left:5px; height:22px; line-height:22px; text-align:center; border:1px solid #999; border-bottom:none; z-index:101; background:#fff;font-weight:normal;color:#333; }
.header_menu .header_citynew .header_citybox { border:1px solid #999; background:#fff; padding:10px 0; margin-top:22px; }
.header_menu .header_citynew .header_citybox span { width:52px; _width:60px;height:22px; line-height:22px; overflow:hidden; text-align:left; display:block; float:left; padding:0 5px;_padding:0px; margin:0; }
.header_menu .header_citynew .header_citybox a { padding:2px;margin:0; }
.header_menu .header_citynew .header_citybox a:hover { background:#ff842d; color:#fff; line-height:22px; }
/*header_menu_end*/

/*header_nav*/
.header_nav{ position:relative;background:url("http://js1.51hejia.com/hejia_index/statics/images/nav_bg.jpg") no-repeat scroll center bottom transparent;width:1000px; height:35px;margin-bottom:5px; line-height:20px;}
.header_menu_hot{background-position:-80px 0px; position:absolute; top:-55px; left:227px; width:64px; height:18px;}
.header_menu_new{background:url("http://js1.51hejia.com/hejia_index/statics/images/new.png") no-repeat scroll center bottom transparent; position:absolute; top:-45px; left:227px; width:21px; height:12px;}
.header_nav_list{ padding:5px;color:#cbcbcb;}
.header_nav_list a{ padding:0 5px;}
/*header_nav_end*/

/*header_ad*/
.header_ad { width:190px; height:60px; position:absolute; overflow:hidden; top:-60px; right:32px;}
.header_ad .header_ad_list { position:absolute; left:0; width:5200px; height:60px; background:#fff }
.header_ad .header_ad_list ul li {float:left; display:inline; width:190px; height:60px;}
.header_ad .header_ad_list ul li img{ width:190px; height:60px;}
.header_nav span.header_ad_pre { right:15px; top:-25px ;position:absolute; display:block;background:url("http://js1.51hejia.com/hejia_index/statics/images/index_icon.gif") no-repeat -160px -160px; width:17px; height:15px;cursor:pointer;}
.header_nav span.header_ad_next { right:0px; top:-25px;position:absolute; display:block;block;background:url("http://js1.51hejia.com/hejia_index/statics/images/index_icon.gif") no-repeat -190px -160px; width:17px; height:15px; cursor:pointer;}
/*header_ad_end*/



/*app_content*/
.search_bar{ height:28px; line-height:28px; margin-bottom:15px; background:url("http://js1.51hejia.com/hejia_index/statics/images/search_bar_bg.jpg") repeat-x; border: 1px solid #f0f0f2; border-bottom:1px solid #e1e1e1; padding-left:310px;}
.search_bar_hot{ width:400px; overflow:hidden;}
.search_bar_list{ width:360px; height:28px; overflow:hidden;}
.search_bar_list li{ float:left; display:inline; margin-right:5px;}
.search_bar input{ margin-top:3px; margin-right:5px; *margin-right:1px; vertical-align:middle;}
.search_bar input.search_bar_text{ height:20px; border:1px solid #cccccc; background:url("http://js1.51hejia.com/hejia_index/statics/images/search_img.jpg") no-repeat left top #FFFFFF; padding-left:20px;}
.search_bar input.search_bar_input{ cursor:pointer; height:22px; width:70px; text-align:center; font-size:14px; font-weight:bold; line-height:22px; color:#ff6600;background-position:-160px 0px; border:0px; _margin-top:2px;}

/*content_part1*/
.part_end{ height:1px; line-height:1px; font-size:0px;background:url("http://js1.51hejia.com/hejia_index/statics/images/part_end_bg.jpg") no-repeat scroll center bottom #FFFFFF; }
.content_part1 .part1_l{ width:290px; margin-right:20px;}

.part1_flash{ width:290px; height:420px;clear: both;position: relative; margin-top: 0px;}
.part1_flash .container { height: 420px; width: 290px; overflow: hidden; position: relative; }
.part1_flash ul.slides { position: absolute; top: 0; }
.part1_flash ul.slides li { width: 290px; height: 420px; top:0; }
.part1_flash ul.slides li img{width: 290px; height: 420px;}
.part1_flash ul.pagination { bottom: 5px; float: none; padding: 0; position: absolute; left:5px; }
.part1_flash ul.pagination li { float: left; margin-right: 2px; }
.part1_flash ul.pagination li a { background: none repeat scroll 0 0 #000000; color: #ffffff; border: medium none; display: block; font: 10px/14px Arial, Helvetica, sans-serif; height: 14px; padding: 0; text-align: center; text-decoration: none; width: 20px; }
.part1_flash ul.pagination li.active a { background: none repeat scroll 0 0 #ff6600; color: #ffffff; }

.part1_week{ background:url("http://js1.51hejia.com/hejia_index/statics/images/part1_week_bg.jpg") no-repeat scroll center top #FFFFFF;}
.part1_week_tit{ height:24px; line-height:24px; vertical-align:bottom; padding:10px; font-weight:bold;}
.part1_week_list{ padding:0 8px; margin:0 1px; background:url("http://js1.51hejia.com/hejia_index/statics/images/part1_week_list_bg.jpg") repeat-x scroll center bottom #FFFFFF;}
.part1_week_list ul li{ float:left; display:inline; cursor:pointer; margin:0 2px; width:50px; height:24px; line-height:24px; text-align:center; color:#FFFFFF; font-weight:bold; font-size:14px; background-position:-240px 0px;}
.part1_week_list ul li a{color:#FFFFFF;}
.part1_week_list ul li.active{background-position:-300px 0px; color:#ff6600;}
.part1_week_list ul li.active a{color:#ff6600;}
.part1_week_com{ padding:0 10px; margin:5px 0;}
.part1_week_com li{ height:22px; line-height:22px; width:260px; overflow:hidden;}
.part1_week_com li a{ color:#666565;}
.part1_week_ad{ background:url("http://js1.51hejia.com/hejia_index/statics/images/part1_week_ad_bg.jpg") repeat-x scroll center top transparent; padding:5px; height:102px;}
.part1_week_ad img{ border:1px solid #FFFFFF;}


.content_part1 .part1_m{ width:420px;}

.part1_m_tit{ text-align:center; overflow:hidden; margin-bottom:3px;}
.content_part2 h2 a{ font-weight:normal;}
.part1_m_hot li{ width:210px; height:24px; line-height:24px; overflow:hidden; float:left; display:inline;}
.part1_m_box{ padding-top:30px; margin-bottom:10px;}
.part1_m_box img{ float:left; display:inline; margin-right:20px; }
.part1_m_box div.index_tit16{ height:24px; line-height:24px; margin-bottom:5px;overflow:hidden;}
.part1_m_box li{ font-size:14px;  height:24px; line-height:24px;}
.part1_m_list1{background:none;padding-top:0px;margin-top:9px;}
.part1_m_list2{background:none;padding-top:0px;margin-top:9px;}
.part1_m_list3{background:none;padding-top:0px;margin-top:9px;}
.part1_m_list4{background:none;padding-top:0px;margin-top:9px;}


.content_part1 .part1_r{ width:250px;}

.part1_r_list{ background:url("http://js1.51hejia.com/hejia_index/statics/images/part1_r_bg.jpg") no-repeat scroll center top #FFFFFF; padding:15px;}
.part1_r_tit{ height:32px; line-height:32px;}
.part1_r_tit a{ font-family:Arial, tahoma, "宋体"; font-size:12px; color:#666666;}
.part1_r_list ul{background-position:-360px 5px; padding-left:25px; height:120px; margin-bottom:20px; overflow:hidden;}
.part1_r_list li{ height:24px; line-height:24px; overflow:hidden; width:190px;}
.part1_r_a a{float:left; display:inline; width:50px; height:40px; margin:0px 2px;}
.part1_r_a1{background-position:0px -30px;}
.part1_r_a2{background-position:-60px -30px;}
.part1_r_a3{background-position:-120px -30px;}
.part1_r_a4{background-position:-180px -30px;}
/*content_part1_end*/


/*content_part2*/
.content_part2{ background:url("http://js1.51hejia.com/hejia_index/statics/images/part2_bg.jpg") no-repeat scroll center top #FFFFFF; width:999px; border-left:1px solid #dddddd;}

.content_part2 .part2_l{ width:270px; padding:70px 0 0 20px; margin-right:20px;}

.content_part2 .part2_m{ padding-top:30px; width:420px;}
.part2_m .header_citydiv{position:absolute;border: 1px solid #e5e5e5;background:#fafafa;z-index:100; width:145px;visibility: hidden;}
.part2_m .header_citydiv a{ width:70px; height:22px; line-height:22px; text-align:center; display:block; float:left; padding:0; margin:0;}
.part2_m .header_citydiv a:hover{ background:#625f5e; color:#fff; width:70px; height:22px; line-height:22px; }

.part2_m .index_tit{ height:36px; line-height:36px; border-bottom:1px dotted #cdcdcd;}
.part2_m .index_tit span a{ color:#ff6600;}
.part2_m div.margin20{ color:#cbcbcb;}
.part2_m_search select{ width:66px; _width:60px; height:24px; line-height:24px; padding:3px; border:1px solid #cccccc;}
.part2_m_search a{background-position:-240px -30px; width:110px; height:24px;}
.part2_m_list{ margin-bottom:15px;}
.part2_m_list img{ float:left; display:inline; margin-right:20px;}
.part2_m_list li{ float:left; display:inline; width:200px; font-size:14px; height:24px; line-height:24px; overflow:hidden; margin-right:10px;}
.part2_m_hot{ font-family:Arial, tahoma, "宋体";}
.part2_m_hot p{ text-indent:24px;}
.part2_m_hot span{ float:left; display:inline;}
.part2_m_hot .index_icon{background-position:-240px -56px; height:12px; margin-top:3px;}
.part2_m_hot #demo{ width:420px; height:90px; overflow:hidden;}
.part2_m_hot #demo li{ height:70px; width:420px; overflow:hidden;}

.content_part2 .part2_r{ width:250px; padding-top:20px;}

.part2_r .content_r_box_tit span strong{ color:#ff6600;}
.part2_r_list1{ height:22px; background:url("http://js1.51hejia.com/hejia_index/statics/images/part2_r_list_bg1.jpg") no-repeat scroll center bottom; padding:0 24px;}
.part2_r_list1 ul{ border-left:1px solid #ffb889;}
.part2_r_list1 li{float:left; display:inline; background:url("http://js1.51hejia.com/hejia_index/statics/images/index_icon.gif") no-repeat -80px -80px; height:22px; width:66px; color:#cc9966; line-height:22px; text-align:center; cursor:pointer;}
.part2_r_list1 li.active{background-position:0px -80px; color:#ff6600;}
.part2_r_list1_tab{ padding: 0 20px; padding-bottom:15px;}
.part2_r_list1_tab a{ color:#336699;}
.part2_r_list2_tab{ margin:0 15px; padding-left:25px; padding-bottom:15px; background:url("http://js1.51hejia.com/hejia_index/statics/images/index_icon.gif") no-repeat scroll -360px 6px transparent;}
.part2_r_list2_tab a{ color:#336699;}
.part2_r_list3_tab{ padding:0 20px; color:#333333;}
.part2_r_list3_tab input{ width:150px; height:24px; border:1px solid #cccccc; background:#FFFFFF;}
.part2_r_list3_tab a{ display:block;background-position:-80px -110px; width:70px; height:24px; line-height:24px; text-align:center;}

.part2_r_list3_tab .index_btn{display:block;background:url("http://js1.51hejia.com/hejia_index/statics/images/index_icon.gif") no-repeat -80px -110px; width:70px; height:24px; line-height:24px; text-align:center;}

.part2_r_a{ padding:8px; text-align:center;}
.part2_r_a a{ width:58px; height:70px; float:left; display:inline;}
.part2_r_a1{background-position:-160px -80px;}
.part2_r_a2{background-position:-230px -80px ;}
.part2_r_a3{background-position:-295px -80px;}
.part2_r_a4{background-position:0px -110px;}

.part2_newimg{ padding:18px; background:url("http://js1.51hejia.com/hejia_index/statics/images/part_end_bg.jpg") no-repeat scroll center bottom #FFFFFF; border-left:1px solid #dddddd; border-right:1px solid #ffddc7;}
.part2_newimg .index_tit a{ color:#666666;}
.part2_newimg ul{ padding-top:20px;}
.part2_newimg li{ float:left; display:inline; margin:0px 20px; position:relative; text-align:center;}
.part2_img_price{ position:absolute; top:5px; right:-4px; background:url("http://js1.51hejia.com/hejia_index/statics/images/img_price.png") no-repeat; padding-left:10px; width:49px; height:22px; text-align:center; line-height:22px; color:#FFFFFF; font-weight:bold; overflow:hidden;}
/*content_part2_end*/

/*content_part3*/
.content_part3{ background:url("http://js1.51hejia.com/hejia_index/statics/images/part3_bg.jpg") no-repeat scroll center top #FFFFFF; width:999px; border-left:1px solid #dddddd; padding-top:30px;}
.content_part3 div.margin20{ color:#cbcbcb;}
.content_part3 .part2_l{ padding-top:0px;}
.content_part3 .part2_l p{ }
.content_part3 .part2_l p a{white-space:nowrap; display:inline-block;}
.content_part3 .part2_m{ padding-top:0px; margin-top:-5px;}
.content_part3 .part2_r{ padding-top:0px;}
.content_part3 .part2_r_list3_tab{ padding-bottom:20px;}

.part3_r_list1 ul{ padding:5px 20px 15px 20px;}
.part3_r_list1 li{ height:24px; line-height:24px; width:200px; overflow:hidden;}
.part3_r_list2 ul{padding:10px 20px;padding-top:10px; height:217px; overflow:hidden;}
.part3_r_list2 li{ line-height:18px; margin-bottom:20px;}
.part3_r_list2 img{ border:2px solid #cccccc; float:left; display:inline; margin-right:10px;}
.part3_r_list2 a{ color:#333333}
.part3_r_list2 li.active img{ border:2px solid #ff6600;}
.part3_r_list2 li.active a{ color:#ff6600}
/*content_part3_end*/

/*content_part4*/
.content_part4{background:url("http://js1.51hejia.com/hejia_index/statics/images/part4_bg.jpg") no-repeat scroll center top #FFFFFF; width:999px; border-left:1px solid #dddddd; padding-top:30px;}
.content_part4 div.margin20{ color:#cccccc;}

.part4_tab{}
.part4_tab td{ border:0px; padding:0px; margin:0px;}
.part4_tab img{ border:0px; padding:0px; margin:0px;}
.part4_tab_txt{ padding:15px; overflow:hidden; height:120px;}
.part4_tab_img{ position:relative;overflow:hidden; height:150px;}
.part4_tab_img span{ padding:2px 5px; position:absolute; bottom:0px; left:0px;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity: 0.7; color:#FFFFFF; background:#000000;}
.part4_tab_li{ padding:5px 20px; overflow:hidden;}
.part4_tab_li ul{background-position:-350px -265px; padding-left:35px;}
.part4_tab_li li{ height:28px; line-height:28px; width:190px; overflow:hidden;}
/*content_part4_end*/

/*content_part5*/
.content_part5{background:url("http://js1.51hejia.com/hejia_index/statics/images/part5_bg.jpg") no-repeat scroll center top #FFFFFF; width:999px; border-left:1px solid #dddddd;}

.content_part5 .part5_l .margin15 span{ background: none repeat scroll 0 0 #000000;color: #FFFFFF;left: 35px;opacity: 0.7;padding: 2px 5px;position: absolute;top: 238px;width: 230px;}
.content_part5 .part5_l{ padding:73px 0 0 35px; width:255px; margin-right:20px; position:relative;}

.part5_l li{ height:26px; line-height:26px;}

.content_part5 .part5_m { width:420px; padding-top:32px;}

.part5_m span.margin20{ color:#CCCCCC;}
.part5_m ul{ margin-bottom:14px; margin-left:55px;}
.part5_m li{ height:26px; line-height:26px;}

.part5_r{ padding-top:25px; width:250px;}
.part5_r .content_r_box ul a{ color:#336699;}
.part5_r ul{ padding:10px 20px; height:305px; overflow:hidden;}
.part5_r li{ margin-bottom:30px;}
.part5_r li img{ float:left; margin-right:10px; display:inline; border:1px solid #ffb889;}
.part5_r p{ line-height:18px;}
.part5_r p img{ float:none; margin-right:0px; border:none; vertical-align:text-top;}
/*content_part5_end*/

/*content_part6*/
.content_part6{ background:url("http://js1.51hejia.com/hejia_index/statics/images/part6_bg.jpg") no-repeat scroll center top #FFFFFF; width:999px; border-left:1px solid #dddddd; padding-top:30px;}
.content_part6 div.margin20{ color:#cbcbcb;}
.content_part6 .part2_l{ padding-top:0px;}
.content_part6 .part2_l p{ }
.content_part6 .part2_l p a{white-space:nowrap; display:inline-block;}
.content_part6 .part2_m{ padding-top:0px; margin-top:-5px;}
.content_part6 .part2_r{ padding-top:0px;}
.content_part6 .part2_r_list3_tab{ padding-bottom:20px;}

.part6_r{ margin:-40px 0 0 0;}
.part6_r_list1 ul{ padding:5px 20px 15px 20px;}
.part6_r_list1 li{ height:24px; line-height:24px; width:300px; overflow:hidden;}
.part6_r_list1 dl{ padding:0 20px 15px 20px;}
.part6_r_list1 dt{ margin:10px 0 0 -25px;}
.part6_r_list1 dt a{ color:#f60;}
.part6_r_list1 dd{ width:200px; height:24px; line-height:24px; overflow:hidden;}
.part6_r_list1_before{ background-position:0px -190px; width:73px; float:left; margin:0 10px 0 0;}
.part6_r_list1_before h4{ padding:0 0 0 27px; color:#fff; font-size:12px;}
.part6_r_list1_ing{ background-position:-80px -190px; width:73px; float:left; margin:0 10px 0 0;}
.part6_r_list1_ing h4{ padding:0 0 0 27px; color:#fff; font-size:12px;}
.part6_r_list1_after{ background-position:-160px -190px; width:73px; float:left; margin:0 10px 0 0;}
.part6_r_list1_after h4{ padding:0 0 0 27px; color:#fff; font-size:12px;}

.part6_r_list2{ margin:0 0 10px 0;}
.part6_r_list2 ul{padding:10px 20px;padding-top:10px; height:217px; overflow:hidden;}
.part6_r_list2 li{ line-height:18px; margin-bottom:20px;}
.part6_r_list2 img{ border:2px solid #cccccc; float:left; display:inline; margin-right:10px;}
.part6_r_list2 a{ color:#fff; text-decoration:none;}
.part6_r_list2 a:hover{ background-position:-80px -220px;}
.part6_r_list2 li.active img{ border:2px solid #ff6600;}
.part6_r_list2 li.active a{ color:#ff6600;}
.part6_r_list2_btn{ background-position:0px -220px; width:72px; height:20px; display:block; text-align:center; float:left; margin:0 -2px 10px 10px;}

.part6_r_list3{ padding:5px 20px 15px 20px;}
.part6_r_list3 a{ color:#666; line-height:24px; margin:0 0px;}
.part6_r_list3 a:hover{ color:#f60;}

.part6_m_list{ margin-bottom:15px;}
.part6_m_list img{ float:left; display:inline; margin-right:20px;}
.part6_m_list li{ float:left; display:inline; width:290px; font-size:14px; height:24px; line-height:24px; overflow:hidden; margin-right:10px;}


.tag {width:460px;}
/*content_part6_end*/

/*content_part7*/
.content_part7{ background:url("http://js1.51hejia.com/hejia_index/statics/images/part7_bg.jpg") no-repeat scroll center top #FFFFFF; width:999px; border-left:1px solid #dddddd; padding-top:30px;}
.content_part7 div.margin20{ color:#ccc;}

.part7_sort{ padding:0 0 0 20px;}
.part7_sort_icon{ background:url("http://js1.51hejia.com/hejia_index/statics/images/gallery_sort.jpg") no-repeat; height:70px; color:#ccc;}
.part7_sort li{ padding:0 14px 0 80px; float:left;}
.part7_sort h3{ font-family:}
.part7_sort_icon1{ background-position:0px 0px;}
.part7_sort_icon2{ background-position:0px -80px;}
.part7_sort_icon3{ background-position:0px -160px;}

.part7_pic{ padding:20px 0 20px 20px; width:968px; float:left;}
.part7_pic li{ margin:0 2px 2px 0; float:left;}
.part7_pic .part7_pic1{ width:270px; height:242px; }
.part7_pic .part7_pic1_r{ width:270px; height:242px; float:right; margin:0;}
.part7_pic .part7_pic2{ width:140px; height:120px;}

/*content_part7_end*/

/*app_content_end*/

/*friendLink*/
.friendlink{ border:1px solid #dddddd; padding:0px 10px; color:#333333; width:978px;  line-height:30px;}
/*friendLink_end*/




/*footer_code*/
.stags_n{ width:1000px; text-align:center; position:relative; border-bottom:1px solid #dddddd;}
.stags_n div{ text-align:center;}

#gbi,#gbg,#gbs{background:#fff;position:absolute;text-align:left;visibility:hidden;z-index:1000; top:0; right:3px;}
#gbi,#gbg{border:1px solid;border-color:#e8e8e8 #959595 #959595 #e8e8e8;z-index:1001}
#gbi {width:204px; padding-top:4px;}
#gbi a {background: url(http://img1.51hejia.com/img/h_j_line.gif) no-repeat right 5px;padding:0;color:#3E3E3E;}
#gbi a.snl {background-image:none;}
.gb2{width:67px; float:left; text-align:center;}

#gbia,#gbga,#gbsa{background:#fff;position:absolute;text-align:left;visibility:hidden;z-index:1000; top:0; right:3px;}
#gbia,#gbga{border:1px solid;border-color:#e8e8e8 #959595 #959595 #e8e8e8;z-index:1001}
#gbia {width:204px; padding-top:4px;}
#gbia a {background: url(http://img1.51hejia.com/img/h_j_line.gif) no-repeat right 5px;padding:0;color:#3E3E3E;}
#gbia a.snl {background-image:none;}
.list10 li p a:link,.list10 li p a:visited,.list10 li p a:active{ color:#333333;}
.page_1 .lfet .box h3{ padding-top:15px;}

.seo_tian li{width:110px;height:130px;margin:5px 8px;text-align:center;float:left;}

.sfooter{ text-align:center; width:1000px;}
.sfooter div{ text-align:center;}
.font_link_s2{ font-family:Arial, tahoma, "宋体";}
/*footer_code_end*/


/* Login */
#Login .denglu {FONT-WEIGHT: normal; FONT-SIZE: 12px; RIGHT: 55px; POSITION: absolute; TOP: 4px;}
#Login .denglu A {COLOR: #f60; TEXT-DECORATION: underline;}
#Login {BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: -135px; Z-INDEX: 100; BACKGROUND: #fff; LEFT: 50%; MARGIN-LEFT: -100px; BORDER-LEFT: #ccc 1px solid; WIDTH: 220px; COLOR: #000; BORDER-BOTTOM: #ccc 1px solid; TOP: 50%;position:fixed!important;/*FF IE7*/
position:absolute;/*IE6*/
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/}
#Login H4 SPAN {BACKGROUND: url(http://img1.51hejia.com/css/newback/images/titlebg1.gif) no-repeat left center; FLOAT: left; TEXT-INDENT: 20px; LINE-HEIGHT: 26px;}
#zhuce H4 SPAN {BACKGROUND: url(http://img1.51hejia.com/css/newback/images/titlebg1.gif) no-repeat left center; FLOAT: left; TEXT-INDENT: 20px; LINE-HEIGHT: 26px;}
#Login H4 A {MARGIN-TOP: 6px; FLOAT: right; MARGIN-RIGHT: 10px;}
#zhuce H4 A {MARGIN-TOP: 6px; FLOAT: right; MARGIN-RIGHT: 10px;}
#Login H4 SPAN A {FLOAT: none; MARGIN: 0px 0px 0px 5px;}
#Login FIELDSET {MARGIN: 10px 0px;}
#Login LEGEND STRONG {DISPLAY: block; FONT-SIZE: 14px; BACKGROUND: url(http://img1.51hejia.com/css/newback/images/btbg.gif) no-repeat 32% 0px; COLOR: #000; LINE-HEIGHT: 40px; TEXT-ALIGN: center;}
#Login FIELDSET P {MARGIN: 10px 0px; TEXT-ALIGN: center;}
#Login LABEL {DISPLAY: block; FONT-SIZE: 12px; MARGIN: 5px 0px;}
#Login FIELDSET DIV {MARGIN-LEFT: 30px;}
A.Divopop-nonenei {DISPLAY: block; Z-INDEX: 9999; RIGHT: 20px; POSITION: absolute; TOP: 6px;}


/* new Login */
.login{
    float: right;
}
.login_n a{ height:20px; line-height:0; font-size:0; text-indent:-9999px; overflow:hidden; display:block; float:left; margin:0 2px 2px 2px;}
.login_a01{ width:66px; background:url(http://img1.51hejia.com/img/2010/headerimg.gif) no-repeat 0 -190px;}
.login_a02{ width:41px; background:url(http://img1.51hejia.com/img/2010/headerimg.gif) no-repeat -72px -190px;}
.login_a03{ width:66px; background:url(http://img1.51hejia.com/img/2010/headerimg.gif) no-repeat -118px -190px;}
.login_a04{ width:41px; background:url(http://img1.51hejia.com/img/2010/headerimg.gif) no-repeat -190px -190px;}


.bbs_status{
color:#ff6600;
font-weight:bold;
}



/* 201202临时底部浮动广告 */

.footer_ad{ position:fixed; width:100%; bottom:0px; left:0px; _position:absolute;_left:expression(eval(document.documentElement.scrollLeft));_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); background:url(http://js1.51hejia.com/hejia_index/statics/images/belt_bg.png) no-repeat bottom center;}
.footer_ad .footer_ad_img{ width:1020px; height:70px; margin:0 auto; position:relative;}
.footer_ad a.footer_ad_close{ width:16px; height:16px; margin:0px; position:absolute; top:8px!important; right:7px!important; background:url(http://js1.51hejia.com/img/zxdpimg/contrast_li_close.jpg) no-repeat; z-index:99;}
.footer_ad a.footer_ad_link{ display:block; width:1000px; height:70px; margin:0 auto;}

/*报名即可享受7大保障文字样式2012-03-23*/
.part2_r_list3_tab font a{color:#3E3E3E;width:auto;font-size:12px; text-align:left;}
.part2_r_list3_tab font a:hover{color:#FF6600; text-decoration:none;}

/*导航添加热门小区户型设计 hot图标样式 2012-03-28*/
.header_ygicon04 {background: url("http://img1.51hejia.com/img/brandimg/yg_icons09.gif") no-repeat scroll 0 0 transparent;height: 12px;right:15px;position: absolute;top: 0;width: 21px;}


/*2012-05-07 SEO修改*/
.content_part2{ position:relative;}
.content_part2 h2{ position:absolute; font-size:30px; font-family:"微软雅黑"; color:#333333;top:10px; left:20px;line-height: 40px;}
.content_part2 h2 a{color:#333333;}
.content_part2 h2 a:hover{ text-decoration:none;}
.index_tit h2 a{font-size:20px; color:#ff6600; font-family:"微软雅黑"; font-weight:bold; }
.index_tit16 h2{font-size:16px; color:#333333; font-family:"微软雅黑"; height:30px; line-height:30px;}
.part1_m h2.h2 {color:#ff6600;font-size:14px;font-family:"微软雅黑"; padding-left:10px;}
.part1_m h2.h2 span{color:#ff9933;font-size:9px; line-height:10px;vertical-align:middle;}



/*2012-11-07 九鼎装饰选择样式*/
#jdselect{ position:absolute; top:-20px; left:20px;  border:1px solid #fac6a5; background-color:#FFFFFF; padding:0 5px;  display:none; width:117px; color:#3e3e3e;}
.ph_jiuding{position:relative; overflow:visible;}


/*2013-01-14招商滚动屏*/
.Merchants_tit {color: #333333; font-family: "微软雅黑"; font-size: 16px; height: 30px; line-height: 30px; font-weight:bold; }
.Merchants_tit span{ color:#ff6600;}
.Merchants_list{ background-color:#fff6f0;   padding:7px 10px 2px 10px; height:184px; overflow:hidden;  }
.Merchants_list ul{ background:none; padding:0px; margin:0px; height:auto; width:200px;   }
.Merchants_list ul li{ border-bottom:1px dotted #999; margin-bottom:5px; width:auto; height:auto; line-height:20px; padding-left:3px;}
.Merchants_list ul li p strong{ color:#336699; width:40px;  margin-right:5px;  display:inline; float:left; overflow:hidden; white-space:nowrap;}
.Merchants_list ul li p span{ color:#fff; font-weight:bold; background-color:#ff6600; padding:0px 5px; display:inline;  }
.Merchants_list ul li p.mer_list2{ color:#666; white-space:nowrap;  height:20px; display:block;}
.Merchants_button{ background:url(http://js1.51hejia.com/hejia_index/statics/images/Merchants_button.png); width:139px; height:24px; line-height:24px; display:block;  text-align:center; color:#ff6600; font-size:14px; font-weight:bold; margin:7px auto;}
.Merchants p.mer_tips{ line-height:18px;}
.Merchants p.mer_tips strong{ color:#666;}
.Merchants p.mer_tips span{ color:#ff6600;}


/*导航添加巢家居 beta图标样式 2013-04-07*/
i.header_menu_beta {background: url(http://js1.51hejia.com/hejia_index/statics/images/beta.gif) no-repeat top center; height: 9px; width: 21px; display:block; float:left; margin-left:-10px; margin-top:18px; }

/*导航添加关注图标样式 2013-04-07*/
.Focus_on{ float:right;  }
.site_nav_bd{ height:24px;}

/*friendLink加微信图标 2013-04-07*/
.weixin{ float:right; padding-left:10px; text-align:center; line-height:20px; margin-top:5px;}



/*网站页面右侧添加滚动按钮标 2013-05-09*/

.consult{ width:60px; position:fixed; right:8px; bottom:80px;  z-index:9;_position:absolute;_left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0)-8);_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-80)}
.go_top, .baojia, .liangfang, .qq_link, .two_code{ background-image:url("http://js1.51hejia.com/hejia_index/statics/images/side.png"); background-repeat:no-repeat; width:60px; height:70px; display:block; }

a.go_top{ background-position:0px 0px; display:none;}
a.baojia{ background-position:0px -70px;}
a.liangfang{ background-position:0px -140px;}
a.qq_link{ background-position:0px -210px;}
a.two_code{ background-position:0px -280px; position:relative;}


a.go_top:hover{ background-position:-60px 0px;}
a.baojia:hover{ background-position:-60px -70px;}
a.liangfang:hover{ background-position:-60px -140px;}
a.qq_link:hover{ background-position:-60px -210px;}
a.two_code:hover{ background-position:-60px -280px;}
.two_code span { display:none;}
.two_code:hover span {
    background: url("http://js1.51hejia.com/hejia_index/statics/images/hejia_code.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 240px;
    left: -225px;
    position: absolute;
    top: -180px;
    width: 220px;
}



#index_gg_kf4, #index_gg_kf5, #index_gg_kf7, #index_gg_kf8{border-right: 1px solid #FFDDC7; position: relative; width: 234px; background-color:#FFF6F0; padding:10px 0px 0px 15px; }
#index_gg_kf4{ padding-top:15px;}
#index_gg_kf8{ padding-bottom:10px;}
#index_gg_kf5{ padding-bottom:10px;}
#index_gg_kf3{ margin-top:-12px;}
#dianping{ margin-top:15px;}

.yangbanjian li p{width:120px; overflow:hidden}
