@charset "utf-8";
/* CSS Document */

.width_height_color{width:142px;height:150px;color:#ffffff;}
.css_01{background:#e61874;}
.css_01 a{color:#ffffff;}
.css_02{background:#8ec31f;color:#ffffff;}
.css_02 a{color:#ffffff;}
.css_03{background:#dadf00;color:#333;}
.css_03 a{color:#333;}
.css_04{background:#28a7e1;}
.css_04 a{color:#ffffff;}
.css_05{background:#e61874; width:270px;}
.css_05 a{color:#ffffff;}
.css_05 img{width:250px;padding:10px; height:280px}