﻿@charset "utf-8";
/* CSS Document */

/*网站页面右侧悬浮框 2013-06-04*/
.Suspended{*width:160px; position:fixed; right:8px; top:170px;  z-index:99;display:none; _position:absolute;_top:expression(eval(document.documentElement.scrollTop+170)); }
.Sus_con{ border:1px solid #ff6600; display:block; width:158px;}
.Sus_header{height:20px;background-color:#ff6600;line-height:20px; }
a.ret-tit{ font-size:12px;  color:#FFFFFF;   padding-left:10px;  float:left; }
a.ret-tit:hover{ color:#FFFFFF; text-decoration:none;}
.narrow{ height:15px; width:15px; background:url("http://js1.51hejia.com/hejia_index/statics/images/baoming/narrow.png"); display:inline-block; float:right; margin-right:3px; margin-top:2px;}
.Suspended ul{ padding:0 10px; background-color:#FFFFFF;}
.Suspended ul li{ padding:10px 0px; _padding:5px 0px; border-bottom:1px dotted #cccc99; display:block;}
.Suspended ul li.Sus_last{ border:0px;}
.Free a{ font-size:14px; color:#cc0000; line-height:14px;   display:block;}
.Free a span{ font-size:14px; color:#003366; font-weight:bold; padding-left:5px;}
.Free a span{ font-size:14px; color:#003366; font-weight:bold; padding-left:5px;}

.Free a:hover{ text-decoration:none; }
.Free a:hover span{ color:#cc0000;}


.exclusive a i{ display:block; float:left; width:30px; height:30px; background:url("http://js1.51hejia.com/hejia_index/statics/images/side2.png"); }
.exclusive a span{ font-size:14px; color:#003366; font-weight:bold; line-height:14px; display:block; }
.exclusive a em{ margin-left:10px; font-style:normal;color:#666666; }
.exclusive p{ color:#006699; line-height:16px; margin-top:3px;}

.exclusive a:hover{ text-decoration:none; }
.exclusive a:hover span{ color:#cc0000; }

.Suspended .qq_link, .Suspended .two_code{float:left; background-image:url("http://js1.51hejia.com/hejia_index/statics/images/side2.png"); background-repeat:no-repeat; width:60px; height:70px;  }
.Suspended a.two_code{ background-position:0px -40px; position:relative; margin-right:10px; }
.Suspended a.two_code:hover{ background-position:-70px -40px;}
.Suspended .two_code span { display:none;}
.Suspended .two_code:hover span {
    background: url("http://js1.51hejia.com/hejia_index/statics/images/hejia_code.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 240px;
    left: -235px;
    position: absolute;
    top: -180px;
    width: 220px;
}
.Suspended a.qq_link{ background-position:0px -110px; }
.Suspended a.qq_link:hover{ background-position:-70px -110px;}


.Sus_stretch{ width:75px; float: right; display: none; }
.Sus_stretch b { display:block; width:100%; }
.Sus_stretch .backtop { height:43px; cursor:pointer; }
.Sus_stretch .student { height:127px; cursor:pointer; }
.Sus_stretch .service { height:47px; cursor:pointer; }
.Sus_stretch .tell { height:77px;}

/**弹出样式**/
.tanchuall_bg_right { display:none; background:#000; opacity:0.5; filter:alpha(opacity=50); width:100%; height:100%; position:fixed!important; position:absolute; left:0; top:0;  _top:expression(eval(documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2)); z-index:100;}
.tanchuall_right{ text-align:left;display:none;background:#fff; overflow:hidden;border:1px solid #D1D1D1;width:450px;left:50%;margin-left:-200px!important;top:50%;margin-top:-230px!important;margin-top:0;position:fixed!important;position:absolute;_top:expression(eval(documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2)); z-index:111;}
.tanchuall_right table {margin:0 auto; line-height:25px;}
.tanchuall_right td {line-height:30px;  }
.tanchuall_right_close{ background:url("http://js.51hejia.com/tuku/webroot/img/tanchuall_btn.gif") no-repeat left top; padding:1px 0 0 16px; font-size:12px;width:42px; height:14px; border:none;position:absolute;margin-left:400px;border:none;margin-top:5px;cursor:pointer;}

.tanchuall_right .tanchuall_box1{ height:65px; font-size: 14px; text-align: center; width:100%; color:#333; line-height:25px; background-color:#099; background:url("http://js1.51hejia.com/hejia_index/statics/images/baoming/tan_title_orange.png") repeat-x
center top; margin-bottom:5px;}

.shuoming_pd{padding:0 20px;}
.line_height span{color:#ff0000;}
.line_height input{ border:1px solid #999; background:url("http://js.51hejia.com/tuku/webroot/img/input_bg.gif") repeat-x;color:#333; padding:2px;}
.line_height .kuangao{height:16px;}
.biaoti_bg{ padding-bottom:7px;background:url("http://js.51hejia.com/tuku/webroot/img/tanchuall_03.gif") no-repeat scroll center bottom; }
.border_select{ border:1px solid #999; background:url("http://js.51hejia.com/tuku/webroot/img/input_bg.gif") repeat-x;color:#333; padding:2px;}
.tanchuall_box2{font-size: 14px;text-align: center; top:320px; width:100%; color:#f60; line-height:30px; margin-top:10px; padding-top:0px;  background:url("http://js.51hejia.com/tuku/webroot/img/tanchuall_01.gif") no-repeat scroll center top;}
.tanchuall_box2 .confirm{width:89px; height:30px; border:none;margin-top:10px; margin-bottom:10px;cursor:pointer;color:#333;font-size:14px; background:url("http://js.51hejia.com/tuku/webroot/img/inquiry_btn_bg.jpg") no-repeat left top; text-align:center; }
.tanchuall_footer{ width:100%; height:30px; background-color:#fffae6;}

.tanchuall_right_green1 .tanchuall_box1{   background:url("http://js1.51hejia.com/hejia_index/statics/images/baoming/tan_title_green_1.png") repeat-x center top;}
.tanchuall_right_green .tanchuall_box1{   background:url("http://js1.51hejia.com/hejia_index/statics/images/baoming/tan_title_green.png") repeat-x center top;}
.tanchuall_right_green1 .tanchuall_box2,.tanchuall_right_green .tanchuall_box2{ background:url("http://js1.51hejia.com/hejia_index/statics/images/baoming/tan_bottom_green.png") repeat-x center top;}
.tanchuall_right_green1 .tanchuall_box2 .confirm,.tanchuall_right_green .tanchuall_box2 .confirm{ background:url("http://js1.51hejia.com/hejia_index/statics/images/baoming/inquiry_btn_green.png") no-repeat left top;  }
.tanchuall_right_green1 .tanchuall_footer,.tanchuall_right_green .tanchuall_footer{  background-color:#d6ffe8;}

.tanchuall_right_blue .tanchuall_box1{   background:url("http://js1.51hejia.com/hejia_index/statics/images/baoming/tan_title_blue.png") repeat-x center top;}
.tanchuall_right_blue .tanchuall_box2{ background:url("http://js1.51hejia.com/hejia_index/statics/images/baoming/tan_bottom_blue.png") repeat-x center top;}
.tanchuall_right_blue .tanchuall_box2 .confirm{ background:url("http://js1.51hejia.com/hejia_index/statics/images/baoming/inquiry_btn_blue.png") no-repeat left top;  }
.tanchuall_right_blue .tanchuall_footer{  background-color:#e1f5ff;}

.tanchuall_tip{ width:420px; margin:0 auto; text-indent:2em; }
