﻿@charset "utf-8";
/**弹出样式**/
.tanchuall_bg { display:none; background:#000; opacity:0.5; filter:alpha(opacity=50); width:100%; height:100%; position:fixed!important; position:absolute; left:0; top:0;  _top:expression(eval(documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2)); z-index:100;}
/*.tanchuall_bg {	display:none;background:#000;opacity:0.3;filter:alpha(opacity=30);width:100%;height:100%;position:fixed!important;position:absolute;left:0;top:0;_top:expression(eval(documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2));z-index:99;}*/
.tanchuall{display:none;background:#fff; overflow:hidden;border:1px solid #D1D1D1;width:450px;left:50%;margin-left:-200px!important;top:50%;margin-top:-230px!important;margin-top:0;position:fixed!important;position:absolute;_top:expression(eval(documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2)); z-index:111;}
.tanchuall table {margin:0 auto; line-height:25px;}
.tanchuall td {line-height:30px;}
.tanchuall_close{ background:url(http://js.51hejia.com/tuku/webroot/img/tanchuall_btn.gif) no-repeat left top; padding:1px 0 0 16px; font-size:12px;width:42px; height:14px; border:none;position:absolute;margin-left:400px;border:none;margin-top:5px;cursor:pointer;}
.tanchuall_box1{ height:40px; font-size: 14px; text-align: center; width:100%; color:#333; line-height:25px; background-color:#099; background:url(http://js.51hejia.com/tuku/webroot/img/tanchuall_02.gif) repeat-x scroll}
.shuoming_pd{padding:0 20px;}
.line_height span{color:#ff0000;}
.line_height input{ border:1px solid #999; background:url(http://js.51hejia.com/tuku/webroot/img/input_bg.gif) repeat-x;color:#333; padding:2px;}
.line_height .kuangao{height:16px;}
.biaoti_bg{ padding-bottom:7px;background:url(http://js.51hejia.com/tuku/webroot/img/tanchuall_03.gif) no-repeat scroll center bottom; }
.border_select{ border:1px solid #999; background:url(http://js.51hejia.com/tuku/webroot/img/input_bg.gif) repeat-x;color:#333; padding:2px;}
.tanchuall_box2{font-size: 14px;text-align: center; top:320px; width:100%; color:#f60; line-height:30px; margin-top:10px; padding-top:10px; background:url(http://js.51hejia.com/tuku/webroot/img/tanchuall_01.gif) no-repeat scroll center top;}
.tanchuall_box2 .confirm{width:89px; height:30px; border:none;margin-top:10px;cursor:pointer;color:#333;font-size:14px; background:url(http://js.51hejia.com/tuku/webroot/img/inquiry_btn_bg.jpg) no-repeat left top; }


.biaoti_bg span{ color:#ff6600;}
input.verification{ background: url("http://js.51hejia.com/tuku/webroot/img/inquiry_btn_bg.jpg") no-repeat scroll left top transparent; border: medium none; color: #333333; cursor: pointer; font-size: 14px; height: 30px;  width: 89px;}
.tanchuall_box3{  background: url("http://js.51hejia.com/tuku/webroot/img/tanchuall_01.gif") no-repeat scroll center top transparent; color: #6d6d6d; font-size: 12px;
    line-height: 30px; margin-top: 10px; padding-top: 10px; padding-left:78px; margin-bottom:20px;}
.tanchuall_box3 span.send{  background-color:#fff6ec; border:1px solid #fec775; padding:3px 40px; color:#333333; margin:0 5px;}
.tanchuall_box3 span.countdown{background-color:#f6f6f6; border:1px solid #cccccc; padding:3px 22px; color:#999999; margin:0 5px;}
.tanchuall_box3 a{ color:#ff6600; margin:0 5px;}


/*20130109修改 文章终端页样式冲突*/
#f2 .f2_content .intextarea .tanchuall img{ border:0 none;}
#f2 .f2_content .intextarea .tanchuall p.biaoti_bg{margin:0px;}



.tanchuall_tip{ width:420px; margin:0 auto; text-indent:2em; }
.tanchuall td.tanchuall_right_txt{ text-align:right;}

