.main-text{
    font-size: 115%;
    padding-top: 200px;
    padding-left: 0 !important;
}

    .create{
        line-height: 85px;
    }    

    .amazing-presentations,
    .there-is-no,
    .to-make{
        line-height: 90px;
    }

    .guidline-box{
        width: 525px;
        height: 35px;
    }

/*.why-header{
    margin-left: -4% !important;
}*/

.info-container{
    margin-left: 22% !important;
}

/*.story{
    font-size: 2.1em;
}*/

/*Blog*/

.blog-content{
    width: 720px;
}

    .content p{
        font-size: 1.05em;
    }

.business_info{
    margin-left: 6em;
}

.business_list ul{
    width: 1200px;
}

#featured .row{
    margin-bottom: 2.3em;
}

.social-box{
    /*float: left;*/
}