/*
.our-story{
    padding-right: 80px !important;
}*/

    .story{
       width: 80vw !important;
    }

.why-header{
    margin-left: -4% !important;
}

.brand{
    height: 410px;
}

        .step-one,
        .step-two,
        .step-three{
            font-size: 1.5em;
        }
.create{
	line-height: 87px;
}
.presentaion-slide .slick-next{
		margin-top: -10px !important;
}
.presentaion-slide .slick-prev{
	margin-top: -10px !important;
}
.amazing-presentations{
	line-height: 90px;
}
.description{
	    width: 252px;
}
.to-make{
    top: 180px;
}

.icon {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}

#containingBlock{
    width: 70%;
}

#featured{
    margin-left: 6px;
}

.info-container{
    margin-left: 15% !important;
}

.text-container{
    left: 120px;
}

.block:nth-child(2n){
    padding-right: 0 !important;
    right: -0.9375rem;
}

.inspire-image{
    width: 32% !important;
}

.business_info{
    margin-left: 4em;
}

.inspire-share{
    margin-right: 1.5em;
}

.site-links li{
    margin-right: 10px;
}

/*.login-header{
    margin-right: 190px;
}*/

.main-text{
    padding-top: 90px;
    margin-left: 4.5em;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}

.support_ribon_text{
    font-size: 1.3em;
}

.business_ribon_smalltext,
.business_ribon_bigtext{
    font-size: 2.3em;
}

.business_ribon {
    width: 29% !important;
    height: 62%;
}

.sign-up, .login-button, .reset-button{
    bottom: 10px;
}

.feature-image{
    height: 200px !important;
}

.emazify-section .slick-next{
	margin-right:50px !important;
}
.emazify-section .slick-prev{
	margin-left:50px !important;
}
.blog-content h1, .blog-content {
    width: 450px;
}

.blog-content h1{
    height: auto;
}

.social-box{
    /*float: right;*/
}

/*Infograph*/
.infograph{
    height: 325px;
}
    .ig-inner-container{
        top: 64px;
        left: 30px;
    }

        .ig-circles{
            left: 355px;
        }
    
        .ig-circles-texts{
            left: 542px;
        }

            .ig-circles-texts li p{
                position: absolute;
                height: 80px;
                top: 50%;
                left: 50%;
                margin-left: -50px;
                margin-top: -40px;
                font-family: 'GoBold';
                font-size: 65px;
                line-height: 70px;
                color: #fff;
                text-transform: uppercase;
                z-index: 10;
            }

                .ig-circles-texts li p span{
                    position: absolute;
                    font-family: 'KefaItalic';
                    font-size: 22px;
                    color: #fff;
                    text-transform: none;
                    line-height: 26px;
                }

            .ig-circles li:nth-child(1){
                width: 215px;
                height: 215px;
                margin-top: -107px;
                margin-left: 76px;
                background-color: #9c045b;
                z-index: 3;
            }

                    .ig-circles-texts li:nth-child(1) p span{
                        left: 28px;
                        top: 80px;
                    }

            .ig-circles li:nth-child(2){
                width: 467px;
                height: 467px;
                margin-top: -233px;
                margin-left: 38px;
                background-color: #f43b0f;
                z-index: 2;
            }

                .ig-circles-texts li:nth-child(2) p{
                      margin-left: 140px;
                }

                    .ig-circles-texts li:nth-child(2) p span{
                        left: -15px;
                        top: 80px;
                        text-align: center;
                    }

            .ig-circles li:nth-child(3){
                width: 727px;
                height: 727px;
                margin-top: -363px;
                background-color: #fe7f0a;
                z-index: 1;
            }

                .ig-circles-texts li:nth-child(3) p{
                      margin-left: 346px;
                }

                    .ig-circles-texts li:nth-child(3) p span{
                        left: 40px;
                        top: 80px;
                    }
    
        .ig-text{
            font-size: 56px;
            line-height: 66px;
        }

.login,
.reset-password {
    top: 10em;
}

.register {
top: 1.5em;
}

.white-circle-arrow{
    top: 11.5em;
}

.thumb-label-red{
    top: 10.2em;
}