
    .info-container{
        margin-left: 10%;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }

    .block{
        padding-left: 0 !important;
    }

    .text-container{
        left: 110px;
    }
.story{
       width: 80vw !important;
    }
.brand{
     height: 410px;
}
.create{
	line-height: 87px;
}
.presentaion-slide .slick-next{
		margin-top: -25px !important;
}
.presentaion-slide .slick-prev{
	margin-top: -25px !important;
}
.emazify-section .slick-next{
	margin-right:60px !important;
}
.emazify-section .slick-prev{
	margin-left:60px !important;
}
.amazing-presentations{
	line-height: 90px;
}
.description{
	    width: 252px;
}
    .guideling-box{
        width: 490px;
        height: 30px;
    }

        .step-one,
        .step-two,
        .step-three{
            font-size: 1.5em;
        }

.to-make{
    top: 175px;
}

.orange-box{
    height: 150px;
}

.inspire-header{
    font-size: 6em;
}

.details-container .dcontent p{
    font-size: 1em;
}

.blog-content{
    width: 480px;
}

#containingBlock{
    width: 65%;
}

.site-links li{
    margin-right: 5px;
}

.inspire-image{
    width: 32% !important;
}

.inspire-share{
    margin-right: 1.5em;
}

/*.login-header{
    margin-right: 190px;
}*/

.support_ribon_text{
    font-size: 1.3em;
}

.business_ribon_bigtext{
    font-size: 2.2em;
}

.feature-image{
    height: 150px !important;
}

.blog-content h1, .blog-content {
    width: 400px;
}

.blog-content h1{
    height: auto;
}

.social-box{
    /*float: right;*/
}

.register,
.login,
.reset-password {
    top: 10em;
}

.white-circle-arrow{
    top: 11.5em;
}

.thumb-label-red{
    top: 10.2em;
}