/*
Theme Name: emaze Theme
Theme URI: http://www.emaze.com
Description: emaze Is a powerful online presentation tool
Author: Shahar Galukman
Author URI: shahar.galukman@emaze.com
Version: 1.0
Tags: emaze
*/

/* Fonts */
@font-face {
	font-family: 'GoBold';
	src: url('fonts/Gobold.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/Gobold.woff') format('woff'), 
	     url('fonts/Gobold.ttf')  format('truetype');
}

@font-face {
	font-family: 'GoBoldLight';
	src: url('fonts/Gobold_Light.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/Gobold_Light.woff') format('woff'), 
	     url('fonts/Gobold_Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'Kefa';
	src: url('fonts/KefaIIPro-Light.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/KefaIIPro-Light.woff') format('woff'), 
	     url('fonts/KefaIIPro-Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'KefaItalic';
	src: url('fonts/KefaIIPro-LightItalic.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/KefaIIPro-LightItalic.woff') format('woff'), 
	     url('fonts/KefaIIPro-LightItalic.ttf')  format('truetype');
}

@font-face {
	font-family: 'Carmela';
	src: url('fonts/carmela.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/carmela.woff') format('woff'), 
	     url('fonts/carmela.ttf')  format('truetype');
}

@font-face {
	font-family: 'Alef';
	src: url('fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/Alef-Regular.woff') format('woff'), 
	     url('fonts/Alef-Regular.ttf')  format('truetype');
}

@font-face {
	font-family: 'asap-italic';
	src: url('fonts/asap-italic.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/asap-italic.woff2') format('woff2'), 
	     url('fonts/asap-italic.woff') format('woff'), 
	     url('fonts/asap-italic.ttf')  format('truetype');
}

@font-face {
	font-family: 'asap-bolditalic';
	src: url('fonts/asap-bolditalic.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/asap-bolditalic.woff2') format('woff2'), 
	     url('fonts/asap-bolditalic.woff') format('woff'), 
	     url('fonts/asap-bolditalic.ttf')  format('truetype');
}

@font-face {
	font-family: 'gobold-thin';
	src: url('fonts/gobold-thin.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/gobold-thin.woff2') format('woff2'), 
	     url('fonts/gobold-thin.woff') format('woff'), 
	     url('fonts/gobold-thin.ttf')  format('truetype');
}

@font-face {
	font-family: 'asap-bold';
	src: url('fonts/asap-bold.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/asap-bold.woff2') format('woff2'), 
	     url('fonts/asap-bold.woff') format('woff'), 
	     url('fonts/asap-bold.ttf')  format('truetype');
}

@font-face {
	font-family: 'asap';
	src: url('fonts/asap.eot?#iefix') format('embedded-opentype'), 
	     url('fonts/asap.woff2') format('woff2'), 
	     url('fonts/asap.woff') format('woff'), 
	     url('fonts/asap.ttf')  format('truetype');
}

*{
	padding: 0;
	margin: 0;
}

html, 
body, 
#wrapper{
	height: 100%;
}

body{
	/*border: 2px solid #231f20;*/
	color: #231f20;
	border-top: none;
	overflow-x: hidden;
}

#wrapper{
	position: absolute;
	padding: 0;
	z-index: 2;
}

/* Header */

.header{
	position: fixed !important;
	top: 0;
	left: 0;
	height: 65px;
	padding: 15px;
	z-index: 101;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.header-edu{
	position: fixed !important;
	top: 0;
	left: 0;
	height: 65px;
	padding: 15px;
	z-index: 101;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.black-back{
	background: rgba(0,0,0,0.9);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.black-back-lower{
	background: rgba(0,0,0,0.8);
}

	.logo{
		background: url(img/logo.png) no-repeat;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
		width: 300px;
		height: 35px;
		float: left;
		margin-right: 15px;
		margin-left: 90px;
	}

	.login-header{
		position: relative;
		font-family: "KefaItalic";
		font-size: 1.3em;
		color: white;
		float: right;
		margin-top: 10px;
		/*margin-right: 80px;*/
		cursor: pointer;
	}
	
		.language-menu{
            width: 150px;
            height: 32px;
            position: absolute;
            top: 0;
            right: 50px;
            z-index: 110;
        }

		.GetInspired a, .Business a, .Education a{
			font-family: "goboldlight";
            font-size: 18px;
            color: white;	
		}
 
		.GetInspired-not-home-page {
			right: 100px !important;
            
		}

		.Business-not-home-page {
			right: 200px !important;
        }
		
		.Education-not-home-page {
			right: 300px !important;
 		}

        .GetInspired{
            width: 110px;
            height: 32px;
            position: absolute;
            top: 0;
            right: 250px;
            z-index: 110;
        }

        .Business{
            width: 100px;
            height: 32px;
            position: absolute;
            top: 0;
            right: 350px;
            z-index: 110;
        }

        .Education{
            width: 100px;
            height: 32px;
            position: absolute;
            top: 0;
            right: 450px;
            z-index: 110;
        }

	.head-title{
		position: fixed;
		top: 18px;
		left: 50%;
		margin-left: -150px;
		width: 210px;
		font-family: "GoBold";
		font-size: 2em;
		text-transform: uppercase;
		color: white;
		z-index: 102;
	}

	.contact-us-top-button{
		position: fixed;
		top: 26px;
		right: 330px;
		height: 20px;
		width: 140px;
		font-family: "Kefa";
		font-size: 1.25em;
		color: white;
		background: #ff7f0b;
		padding-left: 30px;
		z-index: 102;
		cursor: pointer;
	}

/* Navigation */

.nav-button{
	cursor: pointer;
	z-index: 10;
	position: absolute;
	left: 245px;
	top: 20px;
}

	.open{
		background: url(img/nav/open.png) no-repeat;
		width: 30px;
		height: 30px;
		-webkit-transition: 0.1s;
		-moz-transition: 0.1s;
		-o-transition: 0.1s;
		-ms-transition: 0.1s;
		transition: 0.1s;
	}

	.close{
		background: url(img/nav/close.png) no-repeat;
		width: 30px;
		height: 30px;
		-webkit-transition: 0.1s;
		-moz-transition: 0.1s;
		-o-transition: 0.1s;
		-ms-transition: 0.1s;
		transition: 0.1s;
	}

.nav{
	position: fixed;
	left: 0;
	background: black;
	height: 100%;
	width: 200px;
	text-align: center;
	display: table;
	margin-left: -200px; /*Starting state*/
	z-index: 10;
	-webkit-transform: translate3d(0,0,0);/*force GPU acceleration - temp chrome bug fix */
}

	.nav ul{
		list-style: none;
		margin: 0;
		display: table-cell;
		vertical-align: middle;
		overflow: hidden;
	}
		
		.nav .nav-item li:not(.nav-seperator){
			margin: 0 auto;
			width: 150px;
			height: 50px;
			color: white;
			padding-top: 10px;
			-webkit-transition: 0.3s;
			-moz-transition: 0.3s;
			-ms-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
			
		}

			li:not(.nav-seperator):hover > a,
			li:not(.nav-seperator):hover > a:hover{
				color: #ffbc36;
			}

				li:not(.nav-seperator):hover + .nav-seperator{
					background: #ffbc36;
				}

		.nav-item a{
			position: relative;
			font-family: "GoBoldLight";
			font-size: 1.2em;
			text-transform: uppercase;
			color: white;
			cursor: pointer;
			-webkit-transition: 0.3s;
			-moz-transition: 0.3s;
			-ms-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		}

			.nav-item a:hover{
				
			}

		.nav-seperator{
			height: 1px;
			width: 150px;
			background: #808080;
			margin: 0 auto;
			-webkit-transition: 0.3s;
			-moz-transition: 0.3s;
			-ms-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		}


/* Home Page */

.main-text{
	margin-left: 5.5em;
	padding-top: 150px;
	min-height: 100%;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}

	.brand{
		position: absolute;
		padding-top: 15px;
		height: 410px;
		width: 800px;
		overflow: hidden;
	}
	
	.brand-edu{
		position: absolute;
		padding-top: 15px;
		height: 410px;
		width: 920px;
		overflow: hidden;
	}
		.create{
			position: absolute;
			bottom: 2.6em;
			font-family: 'GoBoldLight';
			font-size: 82px;
			color: white;
			line-height: 76px;
			text-transform: uppercase;
		}
				
		.amazing-presentations{
			position: absolute;
			bottom: 0.3em;
			font-family: 'GoBold';
			font-size: 82px;
			color: #ffb206;
			line-height: 80px;
			text-transform: uppercase;
		}
		.edu-logo{
			background: url(img/edu-logo.png) no-repeat;
			-webkit-background-size: contain;
			-moz-background-size: contain;
			background-size: contain;
			width: 266px;
			height: 110px;
			float: left;			
		}
		.amazing-presentations-tech{
			position: absolute;
			bottom: 1.8em;
			font-family: 'GoBoldLight';
			/*font-size: 4.375em;*/
			font-size: 87px;
			color: #ffb206;
			line-height: 80px;
			text-transform: uppercase;
			margin-bottom: 1.25rem;
		}
		.next-gen{
			position: absolute;
			bottom: 1.0em;
			font-family: 'GoBold';
			font-size: 82px;
			color: white;
			line-height: 40px;
			text-transform: uppercase;
		}
		.guidline-box-edu{
			position: absolute;
			bottom: 0em;
			width: auto !important;
			height: auto !important;
			border-top: 1px solid #feffff;
			border-bottom: 1px solid #feffff;
			padding: 0.1em !important;
		}
		.edu-header-bg{
			/*background: rgba(0,0,0, 0.5) url(img/edu-header.jpg) no-repeat center center fixed !important;*/
			/*background: rgba(0,0,0, 0.5) url(img/edu-header.jpg) no-repeat !important;
			background-size: contain !important;
			background-position: calc(100% - 10px) 50%;*/
			background-image:url('img/edu-header.jpg') !important;			
			width: 100% !important;
			display: block !important;		 
			background-repeat: no-repeat !important;			
			background-size: cover !important;
		}
		.there-is-no{
			position: absolute;
			top: 0;
			left: 0;
			font-family: 'GoBoldLight';
			font-size: 4.375em;
			color: white;
			line-height: 80px;
			text-transform: uppercase;
			display: none;
		}

		.to-make{
			position: absolute;
			top: 200px;
			left: 0;
			font-family: 'GoBold';
			font-size: 4.375em;
			line-height: 80px;
			color: white;
			text-transform: uppercase;
			margin-top: -18px;
			display: none;
		}

			.orange-me{
				color: #ffb206;
			}

	.guidline-box{
		position: absolute;
		bottom: 0em;
		width: auto !important;
		height: auto !important;		
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		padding: 0.1em !important;
	}

		.step-one,
		.step-two,
		.step-three{
			float: left;
			color: white;
			font-family: "Asap";
			font-size: 24px;			
			padding: 2px;
			padding-left: 5px;
		}
		.step-one-edu{
			float: left;
			color: #feffff;
			font-family: "asap-bold";
			font-size: 24px;			
			padding: 2px;
			padding-left: 5px;
			margin:0px;
		}

		
		.yellow-arrow{
			background: url(img/yellow-arrow.png) no-repeat;
			width: 9px;
			height: 6px;
			float: left;
			margin-top: 14px;
			margin-left: 5px;
		}
		
		.white-arrow{
			background: url(img/header-subtitle-arrow.png) no-repeat;
			width: 8px;
			height: 17px;
			float: left;
			margin-top: 7px;
			margin-left: 5px;
		}

.learn-more{
	position: absolute;
	bottom: 3em;
	left: 55%;
	font-size: 25px;
	font-family: "Asap";
	margin-top: 30px;
	color: white;
	font-weight: bold;
}

	.learn-more:hover{
		color: #ffba1e;
	}

	.learn-more:after{
		position: absolute;
		right: 35px;
		top: 40px;
		content: "";
		background: url(img/sidebar/white-arrwo-red-strip.png) no-repeat;
		width: 40px;
		background-size: contain;
		height: 40px;
		display: block;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

.white-wrap{
	height: auto;
	padding: 0 !important;
	background: #ffffff;
}

	.our-story{
		padding-top: 1em;
		height: auto;
		background: #ff7f0b;
	}
	.feedback-section{		
		height: auto;		
		background:#eeeeee url(img/pattern-feedback.png) repeat;
	}
	.emazify-section{		
		height: auto;		
		background:#333333;
	}
		.story-header{
			position: relative;
			font-family: 'GoBold';
			text-transform: uppercase;
			font-size: 3.5em;
			color: #fff;
			text-align: center;
			padding-top: 1em;
			z-index: 1;
		}
		.feedback-header{
			position: relative;
			font-family: 'GoBold';
			text-transform: uppercase;
			font-size: 3.5em;
			color: #eb8000;
			text-align: center;
			padding-top: 1em;
			z-index: 1;
		}
		.emazify-header{
			position: relative;
			margin-top: 30px;
		}

		.emazify-title{
			position: relative;
			font-family: 'GoBold';
			font-size: 3.5em;
			color: white;
			text-align: center;
			margin-bottom: 0;
			text-transform: uppercase;
		}

			.emazify-stripe{
				position: absolute;
				top: 1.7em;
				left: 50%;
				margin-left: -317px;
				width: 627px;
				height: 40px;
				background: #606060;
			}

		.emazify-pp{
			font-size: 1.5em;
			color: white;
			text-align: center;
			font-family: "Asap";
			margin-bottom: 2em;
		}
		
		
			.feedback-header::before{
				content: '';
				position: absolute;
				top: 63px;
				left: 50%;
				background: #f8ca96;
				width: 9.0em;
				margin-left: -4.5em;
				height: 40px;
				z-index: -1;
			}
			
			.story-header::before{
				content: '';
				position: absolute;
				top: 63px;
				left: 50%;
				background: #ffb106;
				width: 5.25em;
				margin-left: -2.6em;
				height: 40px;
				z-index: -1;
			}

		.story{
			width: 44vw;
			font-family: 'Asap';
			font-size: 28px;
			color: #fff;
			text-align: center;
			line-height: 1.275em;
			margin: 20px auto;
			padding-bottom: 1.8em;
		}
		
		.testimonials{
			width: 740px;
			font-family: 'Kefa';
			font-size: 1.875em;
			color: #000;
			text-align: center;
			line-height: 1.275em;
			margin: 55px auto;
			padding-bottom: 1.8em;
		}
		
		.emazify{
			width: 770px;
			font-family: 'Kefa';
			font-size: 1.875em;
			color: #000;
			text-align: center;
			line-height: 1.275em;
			margin: 55px auto;
			padding-bottom: 1.8em;
		}
		
		
		.feedback-block{
			/*width:773px !important;*/
		}
		.feedback-img{
			float:left;
			width:245px;
			height:245px;
		}
		.emazify-img1{
			float:left;
			width:360px;
			height:201px;
			    margin-bottom: 72px;
		}
		.emazify-img2{
			float:right;
			width:360px;
			height:201px;
			    margin-bottom: 72px;
		}
		.under-image-txt{
			font-family:'asap';
			font-size:18px;
			color:white;
		}
		.feedback-qute{
			float: right;
			width: 470px;
			text-align: left;
		}
		.person-title{
			
			font-family: 'GoBold';
			font-size: 1.3em;
			color: #000;
			margin-bottom:1px;
		}
		.person-sub{
			font-family: 'asap';
			font-size: 18px;
			color: #000;
			font-weight: bold;
			margin-bottom: 1px;
			
		}
		.person-text{
			
			font-family: 'asap';
			font-size: 17px;
			color: #000;
			
		}
			/*.highlight{
				background-color: #ff7f0b;
			}*/



.why-emaze{
	height: auto;
	padding: 0;
	background: #333333;
}

	.why-header{
		position: relative;
		margin-top: 30px;
	}

		.so-why{
			position: relative;
			font-family: 'GoBold';
			font-size: 3.5em;
			color: white;
			text-align: center;
			margin-bottom: 0;
			text-transform: uppercase;
		}

			.so-why-stripe{
				position: absolute;
				top: 1.7em;
				left: 50%;
				margin-left: -175px;
				width: 350px;
				height: 40px;
				background: #5d5d5d;
			}

		.pp{
			font-size: 1.5em;
			color: white;
			text-align: center;
			font-family: "KefaItalic";
			margin-bottom: 2em;
		}

	.info-container{

	}

		.block,.block-edu{
			height: 200px;
			
		}

			.block:hover > .icon{
				-webkit-transform: scale(1.1) rotate(5deg);
				-moz-transform: scale(1.1) rotate(5deg);
				-ms-transform: scale(1.1) rotate(5deg);
				-o-transform: scale(1.1) rotate(5deg);
				transform: scale(1.1) rotate(5deg);
			}

			.block:hover > .text-container > p{
				color: #ffba1e;
			}

			.icon{
				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				-o-transition: 0.3s;
				-ms-transition: 0.3s;
				transition: 0.3s;
			}

				.easy{
					background: url(img/easy-icon.png) no-repeat;
					width: 99px;
					height: 98px;
				}
				.easy-edu{
					background: url(img/why-stand_out.png) no-repeat;
					width: 99px;
					height: 98px;
				}
				.cloud{
					background: url(img/cloud-base-icon.png) no-repeat;
					width: 99px;
					height: 98px;
				}
				.cloud-edu{
					background: url(img/why-cross_cultular.png) no-repeat;
					width: 99px;
					height: 98px;
				}

				.languages{
					background: url(img/support-icon.png) no-repeat;
					width: 99px;
					height: 98px;
				}
				.languages-edu{
					background: url(img/why-creative.png) no-repeat;
					width: 99px;
					height: 98px;
				}

				.mutli{
					background: url(img/multi-device-icon.png) no-repeat;
					width: 99px;
					height: 98px;
				}
				.mutli-edu{
					background: url(img/why-sharing.png) no-repeat;
					width: 99px;
					height: 98px;
				}

				.html5{
					background: url(img/html-icon.png) no-repeat;
					width: 99px;
					height: 98px;
				}
				
				.auto_design{
					background: url(img/auto_design_icon.png) no-repeat;
					width: 99px;
					height: 99px;
				}
				.html5-edu{
					background: url(img/why-analytics.png) no-repeat;
					width: 99px;
					height: 98px;
				}

				.edge{
					background: url(img/cutting-icon.png) no-repeat;
					width: 99px;
					height: 98px;
				}
				.edge-edu{
					background: url(img/why-devices.png) no-repeat;
					width: 99px;
					height: 98px;
				}
				
				.teacher{
					background: url(img/teacher.png) no-repeat;
					width: 154px;
					height: 154px;
				}
				
				.student{
					background: url(img/student.png) no-repeat;
					width: 154px;
					height: 154px;
				}
			.text-container{
				position: absolute;
				top: 0;
				left: 130px;
			}
			.text-container-edu{
				position: absolute;
				top: 6px;
				left: 185px;
			}
				.text-container p{
					-webkit-transition: 0.3s;
					-moz-transition: 0.3s;
					-o-transition: 0.3s;
					-ms-transition: 0.3s;
					transition: 0.3s;
				}
				.text-container-edu p{
						-webkit-transition: 0.3s;
						-moz-transition: 0.3s;
						-o-transition: 0.3s;
						-ms-transition: 0.3s;
						transition: 0.3s;
					}
				.fact{
					position: relative;
					font-family: 'GoBold';
					font-size: 1.5em;
					color: white;
					left: 40px;
					margin: 0;

				}
				
				.fact-edu{
					position: relative;
					font-family: 'GoBoldLight';
					font-size: 40px;
					color: white;					
					margin: 0;

				}
					.fact::before{
						content: '';
						position: absolute;
						background: url(img/icons-arrwo.png);
						width: 28px;
						height: 19px;
						top: 10px;
						left: -40px;
					}

				.fact-continue{
					font-family: 'GoBold';
					font-size: 1.5em;
					color: white;
					margin: 0;
				}

				.description{
					color: white;
					font-size: 18px;
					font-family: "asap";
					width: 286px;
					line-height: 20px;
				}
				.description-edu{
					color: #404041;
					font-size:20px;
					font-family: 'asap';
					font-weight:bold;
					width: 395px;
					line-height: 24px;
				}

			   @media screen 
			   and (max-width : 1400px) {	
                   .description-edu {	
                	 font-size:18px;
                   }	
                }

				.learn-more-edu{
					color: #474248;
					font-size: 1.1em;
					font-family: "KefaItalic";
					font-weight:bold;	
					margin-top:-16px;
					cursor:pointer;
				}
				.star-info-div{
					display:none;
					color: #474248;					
					font-family: "GoBold";
					width: 310px;
					margin-top:-8px;
				}
				.star-info{
					position: relative;
					color: #474248;
					font-size: 1.1em;
					font-family: "kefa";
					font-weight:bold;
					width: 330px;
					line-height: 20px;
					left: 24px;
				}
				.star-info-edu{
					position: relative;
					color: #404041;
					font-size: 16px;
					font-family: "asap";
					font-weight:normal;
					width: 330px;
					line-height: 20px;
					left: 24px;
				}
				.star-info::before,.star-info-edu::before{
					content: '';
					position: absolute;
					background: url(img/star.png);
					width: 12px;
					height: 12px;
					top: 3px;
					left: -22px;
				}
				#edu-icons-section{
					padding-top:90px !important;
					padding-bottom:90px !important;
					/*height:70%;*/
				}

.get-inspired{
	padding: 0 !important;
}

	.orange-box{
		height: 8vw;
		margin: 0 auto 40px auto;
  		background: #333;
	}
	.purpel-box{
		/*height: 10vw;*/
		margin: 0 auto 40px auto;
  		background: #9b0159;
	}

		.inspire-header{
			font-family: 'GoBold';
			font-size: 6vw;
			color: white;
			text-align: center;
			margin-top: -20px;
			margin-bottom: 0;
			-webkit-transition: 0.3s;
			-moz-transition: 0.3s;
			-o-transition: 0.3s;
			-ms-transition: 0.3s;
			transition: 0.3s;
		}
		.inspire-header-edu{
			font-family: 'GoBold';
			font-size: 95px;
			color: white;
			text-align: center;
			margin-top: -10px;
			margin-bottom: 0;
			-webkit-transition: 0.3s;
			-moz-transition: 0.3s;
			-o-transition: 0.3s;
			-ms-transition: 0.3s;
			transition: 0.3s;
		}
		.inspire-header:hover{
		    /*TODO insert effect*/
		    /*-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-ms-transform: scale(1.05);
			-o-transform: scale(1.05);
			transform: scale(1.05);*/
		}

		/*.inspire-link{
			position: relative;
			top: -32px;
			width: 250px;
			margin: 0 auto;
			display: block;
			font-size: 1.25em;
			font-family: "KefaItalic";
			color: white;
			text-decoration: none;
		}

			.inspire-link::before{
				content: "";
				background: url(img/down-arrow.png);
				width: 9px;
				height: 12px;
				position: absolute;
				top: 10px;
				left: -15px;
			}

			.inspire-link::after{
				content: "";
				background: url(img/down-arrow.png);
				width: 9px;
				height: 12px;
				position: absolute;
				top: 10px;
				right: 15px;
			}*/

		.featured-presentations{
			padding: 0 !important;
		}
		
		.presentaion-slide{
			float:left
		}

		.business-title,.education-title{
			float: left;
			top: -26px;
			display: block;
			font-family: gobold;
			margin-left: 10px;
			color: #414141;
			font-size: 40px;
			margin-bottom: 20px;
			margin-top: 20px;
		}
		
		.see-more-business{
			float: right;			
			display: block;
			font-family: asap;
			margin-right: 20px;
			color: #282828;
			font-size: 28px;			
		}
		.see-more-business:hover{
			color: #ad0063;				
		}
		
			.feature-image{
				width: 460px;
				height: 260px;
				position: relative;
				margin-bottom: 0.9375rem;
			}

				.presentation-details{
					position: absolute;
					top: 0;
					left: 0.9375em;
					height: auto;
					width: calc(100% - 0.9375em - 0.9375em);
					/*width: calc(100% - 0.9375em);*/
					text-align: center;
					cursor: pointer;
					overflow: hidden;
				}

					.presentation-details video{
						width: 100%;
						height: auto;
					}

						.presentation-details video:hover{
							box-shadow: 0 0 3px;
						}
				
				.presentation-name-over-video{
					position: absolute;
					left: 0;
					bottom: 0vw;
					width: auto;
					height: 2.2vw;
					padding: 0 1.2em;
					background: rgba(0,0,0,0.7);
					-webkit-transition: all 0.3s;
					-moz-transition: all 0.3s;
					-o-transition: all 0.3s;
					-ms-transition: all 0.3s;
					transition: all 0.3s;
				}

		
				/*
				.presentation-details video:hover + .presentation-name-over-video{
					bottom: 0vw;
				}*/

					.presentation-name-over-video p {
						font-family: "Kefa";
						font-weight: bold;
						font-style: italic;
						font-size: 1.2vw;
						color: #ffb206;
					}

					.presentation-details:hover > .details-container{
						width: 100%;
						left: 0;
						opacity: 1;
					}

					.details-container{
						position: absolute;
						left: 50%;
						display: table;
						width: 0;
						height: 100%;
						background: rgba(0,0,0,0.7);
						opacity: 0;
						-webkit-transition: 0.3s;
						-moz-transition: 0.3s;
						-o-transition: 0.3s;
						-ms-transition: 0.3s;
						transition: 0.3s;
					}

					.details-container .dcontent{
						display: table-cell;
						vertical-align: middle;
						height: 100%;
						width: 100%;
					}
					
					.details-container .dcontent p {
						font-family: "KefaItalic";
						font-size: 1.375em;
						color: white;
						margin-bottom: 0;
						text-transform: capitalize;
					}

						.details-container .dcontent p span{
							text-transform: none;
						}

						.details-container .dcontent p:hover{
							color: #ffb206;
						}

							.pprehover{
								-webkit-transform: scale(0);
								-moz-transform: scale(0);
								-ms-transform: scale(0);
								-o-transform: scale(0);
								transform: scale(0);
							}

							.phover{
								-webkit-transform: scale(1);
								-moz-transform: scale(1);
								-ms-transform: scale(1);
								-o-transform: scale(1);
								transform: scale(1);
								-webkit-transition: 0.3s 0.3s;
								-moz-transition: 0.3s 0.3s;
								-o-transition: 0.3s 0.3s;
								-ms-transition: 0.3s 0.3s;
								transition: 0.3s 0.3s;
							}

						.details-views {
							position: relative;
							display: inline-block;
							font-family: "KefaItalic";
							font-size: 1em !important;
							color: white;
							-webkit-transition: 0.3s;
							-moz-transition: 0.3s;
							-o-transition: 0.3s;
							-ms-transition: 0.3s;
							transition: 0.3s;
						}

						.details-views::before{
							content: "";
							position: absolute;
							top: 8px;
							left: -20px;
							background: url(img/play-icon.png) no-repeat;
							width: 14px;
							height: 13px;
						}

	.see-all{
		/*height: 55px;*/
		/*width: calc(100% - 1.875rem) !important;*/
		/*background: url(img/ptt.jpg) repeat;*/
		/*margin-bottom: 1em;*/
		/*left: 0.9375rem;*/
	}
		.explore{
			height: 152px;
			/*width: calc(100% - 1.875rem) !important;*/			
			background: #eeeeee url(img/ptt.jpg) repeat;
			/*margin-bottom: 1em;*/
			/*left: 0.9375rem;*/
		}
		.explore-up-text{
			margin: 0 auto;
			font-family: 'GoBold';
			font-size: 72px;
			color: #ffb206;
			text-align: right;
			width: 690px;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
			transition: all 0.3s;
		}
		.explore-bottom-text{
			margin: 0 auto;
			font-family: 'asap';
			font-size: 24px;
			color: #000;
			text-align: right;
			width: 660px;
			font-weight:bold;
			line-height: 0px;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
			transition: all 0.3s;
		}
			.see-all-link{
				float:right;
				padding-top: 10px;
				margin-right: 5rem;
				font-family: 'asap';
				font-size: 28px;
				color: #282828;
				text-align: right;
				width: 408px;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
				text-decoration: underline;
			}

            @media screen	
               and (max-width : 1400px) {	
                   .see-all-link {	
                	 font-size:17px;
                   }	
                }


			.see-all-link:hover,
			.see-all:hover > p{
				/*-webkit-transform: scale(1.05);
				-moz-transform: scale(1.05);
				-o-transform: scale(1.05);
				-ms-transform: scale(1.05);
				transform: scale(1.05);*/
				color:#ad0063;
			}

			.see-all-link p:hover{
				color: #000;
			}

			.see-orange-arrow{
				position: absolute;
				top: 13px;
				background: url(img/see-all-arrow.png);
				width: 31px;
				height: 30px;
				margin-left: 10px;
			}
			.see-orange-arrow-white{
				position: absolute;
				top: 23px;
				background: url(img/see-more-white.png);
				width: 28px;
				height: 28px;
				margin-left: 10px;
			}

            @media screen	
                   and (max-width : 1400px) {	
                   .see-orange-arrow-white {	
                	 top:12px;
                   }	
                }
			

/* Video */

/*TODO Might need to remove support*/
.video,
.video-support{
	background: rgba(0,0,0, 0.5) url(img/pattern.png) repeat;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.video video{
	position: fixed;
	width: auto;
    height: 100%;
    z-index: -1000;
	overflow: hidden;
}

.video-support video{
	position: absolute;
	width: auto;
    height: 80%;
    z-index: -1000;
	overflow: hidden;
}

/*** Sidebar Red ***/

.red-panel{
	position: fixed !important;
	top: 0;
	right: 0;
	background: #f43a0f;
	height: 100%;
	/*width: 505px;*/
	z-index: 3;
	box-shadow: -1px 0 15px black;
	cursor: pointer;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	-webkit-transform: translate3d(0,0,0);/*force GPU acceleration - temp chrome bug fix */
}

	/*TODO: Remove*/
	.thumb-label-red{
		position: absolute;
		background: url(img/sidebar/red-circle.png) no-repeat;
		width: 72px;
		height: 107px;
		left: -70px;
		top: 15.2em;
		cursor: pointer;
	}

		.white-circle-arrow{
			background: url(img/sidebar/white-arrwo-red-strip.png) no-repeat;
			width: 63px;
			height: 63px;
			position: absolute;
			left: -45px;
			top: 16.5em;
			cursor: pointer;
			transform:rotate(180deg);
			-webkit-transform:rotate(180deg);
			-moz-transform:rotate(180deg);
			-ms-transform:rotate(180deg);
			-o-transform:rotate(180deg);

		}

	.create-your-own{
		display: none;
		position: absolute;
		top: 7.5em;
		left: 0.5em;
		text-align: center;
		font-family: 'GoBold';
		font-size: 2.5em;
		color: white;
	}


	.register{
		display: block;
		position: absolute;
		top: 15em;
		margin: 0 auto;
		width: 13vw;
		right: 1.8vw;
	}

	.login,
	.reset-password{
		position: absolute;
		margin: 0 auto;
		top: 15em;
		right: -300px;
		width: 13vw;
	}

	.already-logged{
		display: none;
		position: absolute;
		top: 14em;
		margin: 0 auto;
		width: 13vw;
		right: 1vw;
	}
	
		.start-now,
		.logged-as{
			font-family: 'GoBold';
			font-size: 2.65vw;
			color: #ffb206;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		.logged-as{
			font-size: 2.35vw;
			margin-bottom: 5px;
		}

		.welcome,
		.reset-it{
			font-family: 'GoBold';
			font-size: 1.98vw;
			color: #ffb206;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		.reset-it{
			font-size: 1.8vw;
		}

		.it-is-free,
		.you-already{
			font-family: 'GoBold';
			font-size: 3.55vw;
			color: #ffb206;
			margin-bottom: 15px;
			text-transform: uppercase;
			display:  none;
		}
		
		.you-already{
			font-size: 1.92vw;
		}

		.logged-user-name{
			font-family: 'Kefa';
			font-size: 1.2vw;
			color: white;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 0.5em;
		}

		.logged-button-text {
			height: auto !important;
			font-family: "Gobold";
			color: white;
			font-size: 2.5vw;
			padding: 0.2em 0;
			position: absolute;
			bottom: 1vw;
			left: 3.9vw;
			-webkit-transition: -webkit-transform 0.3s;
			-moz-transition: -moz-transform 0.3s;
			-o-transition: -o-transform 0.3s;
			-ms-transition: -ms-transform 0.3s;
			transition: transform 0.3s;
		}

			.logged-button-text:hover{
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-o-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
			}
		
		#click-on-logged{
			cursor: pointer;
		}

		#logout{
			font-family: 'Kefa';
			font-size: 1vw;
			color: #ffb206;
			font-weight: bold;
			cursor: pointer;
			text-align: center;
		}

		/* placeholder fix */

		::-webkit-input-placeholder {
		   color: rgba(255,255,255, 0.7);
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: rgba(255,255,255, 0.7);  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: rgba(255,255,255, 0.7);  
		}

		:-ms-input-placeholder {  
		   color: rgba(255,255,255, 0.7);  
		}

		.register input,
		.login input,
		.reset-password input{
			height: 3em !important;
			font-size: 1em;
			border: 2px solid #ffffff !important;
			color: #ffffff !important;
			background: #f43a0f !important;
			-webkit-border-radius: 0;
			border-radius: 0;
			-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
			display: block;
			margin: 0 0 0.9rem 0;
			padding: 0.5rem;
			height: 2.3125rem;
			width: 100%;
		}

			.register input:focus,
			.login input:focus,
			.reset-password input:focus,
			.already-logged input:focus{
				/*box-shadow: 0px 0px 15px white !important; Doron said no glow*/
				outline: none;
			}

			.register input[type="submit"],
			.login input[type="submit"],
			.reset-password input[type="submit"],
			.already-logged input[type="submit"]{
				position: relative;
				width: 100%;
				/*height: 5.5vh !important;*/
				border: none !important;
				background: #f43a0f url(img/button-pattern.png) repeat !important;
			}

			.already-logged input[type="submit"]{
				height: auto !important;
				font-family: "Gobold";
				color: white;
				font-size: 1.5vw;
				padding: 0.6em 0;
			}

			.register input[type="submit"]:focus,
			.login input[type="submit"]:focus,
			.reset-password input[type="submit"]:focus,
			.already-logged input[type="submit"]:focus{
				outline: none !important;
				box-shadow: none !important;
			}

				.sign-up,
				.login-button,
				.reset-button{
					position: absolute;
					bottom: 7px;
					left: 2em;
					text-transform: uppercase;
					font-family: 'GoBold';
					font-size: 1.8vw;
					color: white !important;
					cursor: pointer;
					-webkit-transition: 
					-webkit-transform 0.3s;
					-moz-transition: 
					-moz-transform 0.3s;
					-o-transition: 
					-o-transform 0.3s;
					-ms-transition: 
					-ms-transform 0.3s;
					transition: transform 0.3s;
				}

					.login-button,
					.reset-button{
						left: 2.4em;
					}
				
					.sign-up:hover,
					.login-button:hover,
					.reset-button:hover{
						-webkit-transform: scale(1.1);
						-moz-transform: scale(1.1);
						-o-transform: scale(1.1);
						-ms-transform: scale(1.1);
						transform: scale(1.1);
					}

				.hey-friend{
					position: absolute;
					bottom: -3em;
					font-family: "Kefa";
					font-size: 1vw;
					color: white;
					margin-left: 2vw;
				}

					.hey-friend span{
						color: #ffb206;
						cursor: pointer;
						font-weight: bold;
					}

						.hey-friend span:hover{
							color: #ffb206;
							cursor: pointer;
							text-decoration: underline;
						}

				.forgot-password,
				.i-now-remember,
				.go-register{
					position: absolute;
					bottom: -3em;
					font-family: "Kefa";
					font-size: 1vw;
					color: white;
				}

				.go-register{
					bottom: -4.5em;
				}

					.forgot-password span,
					.i-now-remember span,
					.go-register span{
						color: #ffb206;
						font-weight: bold;
						cursor: pointer;
					}

						.forgot-password span:hover,
						.i-now-remember span:hover,
						.go-register span:hover{
							color: #ffb206;
							cursor: pointer;
							text-decoration: underline;
						}

				/*.i-now-remember{
					margin-left: 65px;
				}*/

				.facebook-button, .googleplus-button {
					width:100%;
					height:48px;
					padding: 0px;
					margin-top: 0px;
					margin-bottom:  6px;
				}

				/* facebook google+ start */
				.facebook-box, .googleplus-box {
				  width:100%;
				  height:48px;
				  background-color:#3c5997;
				  line-height:48px;
				  
				}

				.facebook-icon, .googleplus-icon {
				  width:47px;
				  height:48px; 
				  float:left;
				  background-repeat:no-repeat;
				  background-position: center center;
				}

				.facebook-text, .googleplus-text {
				  text-align:center;
				  vertical-align:middle;
				  font-family: 'asap';
				  font-size: 0.8vw;
				  color:#ffffff;
				  white-space: nowrap;
    			  overflow: hidden;
				}


				.facebook-box {
				  background-color: #3c5997;
				  margin-top: 0px;
				}


				.facebook-icon {
				    background-color: #4567b0;
				    background-image: url(https://static2.emaze.com/wp-content/themes/emaze/img/sidebar/facebook-icon.png);
				}

				.googleplus-box {
				  background-color:#f1665b;
				  margin-bottom:7px;
				  display:none;
				}

				.googleplus-icon {
				  background-color:#f79469;
				  background-image: url(https://static2.emaze.com/wp-content/themes/emaze/img/sidebar/google-plus-icon.png);
				}


				.or-box {
				  width: 100%;
				  height: 20px;
				  text-align: center;
				  position:relative;
				  top: 2px;
				}

				.or-horz-line-1, .or-horz-line-2 {
				  	width:40%;
				  	height:2px;
				  	margin-top: 10px;
				  	border-bottom: 1px solid white;
				}


				.or-horz-line-1 {
				  float:left;
				  margin-left:1%;
				}

				.or-horz-line-2 {
				  margin-right:1%;
				  float:right;
				}


				.or-text {
				  color:white;
				  position:relative;
				  margin: auto;
				  display:inline-block;
				  top: 2px;
				}


			form{
				position: relative;
			}

			.field-validation-error-user,
			.field-validation-error-password,
			.field-validation-error-indusry{
				display: none;
				position: absolute;
				left: 10px;
				font-family: "Kefa";
				font-size: 1em;
				width: 80%;
				height: auto;
				padding-top: 0.2em;
				padding-left: 0.5em;
				border-radius: 5%;
				background: #ffba1e;
				border: solid 1px black;
			}

			.field-validation-error-user,
			.field-validation-error-indusry{
				top: 40px;
			}

			.field-validation-error-password{
				top: 90px;
			}

			.sent{
				display: none;
				position: relative;
				top: 0;
				font-family: "Kefa";
				font-size: 1vw;
				color: white;
				text-align: center;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			.red-loader{
				position: absolute;
				left: 50%;
				margin-left: -20px;
				background: url(img/loader_small.gif) no-repeat !important;
				background-size: contain !important;
				width: 40px !important;
				height: 40px !important;
			}
		
		input.password-verification{
                display: none;
            }
 
            .shu-profession-holder{
                display: none;
                position: relative;
                height: 3em;                
                width: 100%;
                margin-bottom: 1em;
                border: 2px solid #ffffff;
                z-index: 3;
            }
                
                .shu-profession-holder:hover,
                .shu-clicked{
                    background-color: white !important;
                    color: black !important;
                }
 
                .shu-profession-holder:hover > .shu-you-are{
                    background-color: white;
                    color: black;
                }
 
 
                .shu-you-are{
                    padding: 0.8em 0.5em 0 0.5em;
                    font: 1em 'Arial';
                    background-color: #f43a0f;
                    color: rgba(255,255,255, 0.7);
                }
 
                .shu-profession{
                    display: none;
                    position: absolute;
                    top: 2.9em;
                    left: -1%;
                    width: 101.5%;
                    list-style: none;
                    margin: 0;
                }
	
                @media screen	
                   and (max-width : 1400px) {	
                   .shu-profession {	
                	 font-size:0.85rem;
                   }	
                }
                
                @media screen	
                   and (max-width : 1400px) {	
                   .shu-you-are {
                   	 font-size:0.9rem;
                	 line-height: 1.5;
                   }	
                }
                	
 
                    .shu-profession li{
                        width: 100%;
                        height: 1.4em;
                        line-height: 0.5em;
                        padding: 0.5em;
                        color: black;
                        background-color: #fff;
                        border-bottom: 2px solid white;
                        border-left: 2px solid white;
                        border-right: 2px solid white;
                        -webkit-transition: all 0.2s;
                        -moz-transition: all 0.2s;
                        -ms-transition: all 0.2s;
                        -o-transition: all 0.2s;
                        transition: all 0.2s;
                    }
 
                        .shu-profession li:hover{
                            color: black;
                            background-color: #faffbd;
                        }
 
                .shu-arrow{
                    position: absolute;
                    top: 18px;
                    right: 10px;
                    width: 10px;
                    height: 9px;
                    background: url(img/sidebar/select-arrow_light.png);
                }
 
                .shu-profession-holder:hover > .shu-arrow,
                .shu-arrow.shu-clicked{
                    background: url(img/sidebar/select-arrow_dark.png); 
                }

/*** Sidebar White ***/

.presentation-panel{
	position: fixed !important;
	top: 0;
	right: 0;
	background: #ffffff;
	height: 100%;
	width: 350px;
	z-index: 4;
	text-align: center;
	cursor: pointer;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	-webkit-transform: translate3d(0,0,0);/*force GPU acceleration - temp chrome bug fix */
}

	.thumb-label-white{
		position: absolute;
		top: 5em;
		left: -35px;
		background: white;
		height: 60px;
		width: 60px;
		border-radius: 30px;
		cursor: pointer;
	}

		.orange-arrow{
			position: absolute;
			top: 6.375em;
			left: -20px;
			background: url(img/sidebar/orange-arrow.png);
			width: 27px;
			height: 18px;
			cursor: pointer;
			-webkit-transition: 0.5s;
			-moz-transition: 0.5s;
			-o-transition: 0.5s;
			-ms-transition: 0.5s;
			transition: 0.5s;
		}

	.checkout{
		font-family: 'GoBold';
		font-size: 2.125em;
		color: #ffba1e;
		text-align: center;
		padding-top: 40px;
		margin-bottom: 0;
	}

	.templates{
		display: inline-block;
		position: relative;
		top: -20px;
		font-family: 'GoBold';
		font-size: 2.75em;
		color: #474747;
		text-align: center;
		margin-bottom: 0;
	}

	/*TODO set scrolling on side bar*/

	.images-container{
		position: absolute;
		bottom: 0;
		overflow-y: scroll;
		height: calc(100% - 10em);
	}

		.side-image,
		.side-video{
			position: relative;
			margin-bottom: 15px;
			width: 350px;
			display: inline-block;
		}
		
			.side-image img{
				-webkit-transition: all 0.5s ease;
			    -moz-transition: all 0.5s ease;
			    -ms-transition: all 0.5s ease;
			    -o-transition: all 0.5s ease;
			    transition: all 0.5s ease;
			}

			.side-image-label{
				width: 60px;
				height: 20px;
				color: white;
				background: black;
			}
		
		.dark-filter{
			background: url(img/pattern-dark.png) repeat;
			position: absolute;
			height: 195px;
			width: 350px;
		}

		.side-video{
			position: absolute;
			display: none;
			top: 0;
			left: 0;
			height: 100%;
		}

		.side-image:hover > img{
			opacity: 0;
		}

		.side-image:hover > .side-video{
			display: block;
		}

		.tags{
			position: absolute;
			bottom: 0;
			left: 0;
			list-style: none;
			margin: 0 0 0 5px !important;
		}
			
			/*TODO Set font*/
			.tag-name{
				display: inline-block;
				font-size: 14px;
				padding: 5px;
				color: white;
				background: black;
				margin-right: 2px;
			}

				.tag-name:hover{
					color: #ff7f0b;
				}

/* Footer */
#footer{
	height: 150px;
	background: black;
	padding: 0 !important;
	float: left !important;
	overflow: hidden;
}

	.social-bar{
		height: 80px;
		background: #4d4d4d;
	}
	
	
		.social-icons-container{
			text-align: center;
			padding-top: 25px;
		}

			.social-icon{
				display: inline-block;
				margin-right: 42px;
				-webkit-transition: 0.5s;
				-moz-transition: 0.5s;
				-ms-transition: 0.5s;
				-o-transition: 0.5s;
				transition: 0.5s;
				background: url(img/footer/social_icons_website_white.png) no-repeat;
				width: 33px;
				height: 26px;
			}
				.edu-facebook{
					display: inline-block;
					margin-right: 50px;
					-webkit-transition: 0.5s;
					-moz-transition: 0.5s;
					-ms-transition: 0.5s;
					-o-transition: 0.5s;
					transition: 0.5s;
					background: url(img/facebook.png) no-repeat;
					width: 13px;
					height: 27px;
					margin-left:130px;
				}
				.edu-facebook:hover{
					background: url(img/facebookHover.png) no-repeat;
				}
				.edu-google{
					display: inline-block;
					margin-right: 50px;
					-webkit-transition: 0.5s;
					-moz-transition: 0.5s;
					-ms-transition: 0.5s;
					-o-transition: 0.5s;
					transition: 0.5s;
					background: url(img/googlePlus.png) no-repeat;
					width: 26px;
					height: 26px;
				}
				.edu-google:hover{
					background: url(img/googlePlusHover.png) no-repeat;
				}
				
				.edu-twitter{
					display: inline-block;
					margin-right: 50px;
					-webkit-transition: 0.5s;
					-moz-transition: 0.5s;
					-ms-transition: 0.5s;
					-o-transition: 0.5s;
					transition: 0.5s;
					background: url(img/twitter.png) no-repeat;
					width: 32px;
					height: 26px;
				}
				.edu-twitter:hover{
					background: url(img/twitter-hover.png) no-repeat;
				}
				
				
				.edu-youtube{
					display: inline-block;
					margin-right: 50px;
					-webkit-transition: 0.5s;
					-moz-transition: 0.5s;
					-ms-transition: 0.5s;
					-o-transition: 0.5s;
					transition: 0.5s;
					background: url(img/YouTube_icon.png) no-repeat;
					width: 38px;
					height: 27px;
				}
				.edu-youtube:hover{
					background: url(img/YouTube_icon_hover.png) no-repeat;
				}
				
				
				.google-plus{
					background-position: -215px 0px;
				}

				.facebook{
					background-position: 0px 0px;
				}

				.twitter{
					background-position: -108.5px 0px;
				}

				.pinterest{
					
					
				}

					.google-plus:hover{
						cursor: pointer;
						background: url(img/footer/social_icons_website_yellow.png) no-repeat;
						background-position: -215px 0px;
					}

					.facebook:hover{
						cursor: pointer;
						background: url(img/footer/social_icons_website_yellow.png) no-repeat;
						background-position: 0px 0px;
					}

					.twitter:hover{
						cursor: pointer;
						background: url(img/footer/social_icons_website_yellow.png) no-repeat;
						background-position: -108.5px 0px;
					}

					.pinterest:hover{
						cursor: pointer;
						background: url(img/footer/social_icons_website_yellow.png) no-repeat;
					}


	.site-links{
		font-family: "GoBoldLight";
		font-size: 1em;
		text-align: center;
		list-style: none;
		padding-top: 25px;
	}

		.site-links li{
			display: inline-block;
			color: white;
			margin-right: 35px;
		}
		
			.site-links li a{
				position: relative;
				color: white;
				text-transform: uppercase;
				text-shadow: 0 0 1px rgba(111,134,134,0.3);
				padding: 10px;
				text-shadow: none;
				-webkit-transition: color 0.3s;
				-moz-transition: color 0.3s;
				transition: color 0.3s;
			}

				.site-links li a:hover{
					color: #ffba1e;
				}

				.site-links li a::after {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100px;
					height: 100px;
					border: 2px solid rgba(255, 178, 6, 0.95);
					border-radius: 50%;
					content: '';
					opacity: 0;
					z-index: 100;
					-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
					-moz-transition: -moz-transform 0.3s, opacity 0.3s;
					transition: transform 0.3s, opacity 0.3s;
					-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
					-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
					transform: translateX(-50%) translateY(-50%) scale(0.2);
				}

				.site-links li a::after {
					width: 100px;
					height: 100px;
					border-width: 3px;
					-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
					-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
					transform: translateX(-50%) translateY(-50%) scale(0.8);
				}

				.site-links li a:hover::after,
				.site-links li a:focus::after {
					opacity: 1;
					-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
					-moz-transform: translateX(-50%) translateY(-50%) scale(1);
					transform: translateX(-50%) translateY(-50%) scale(1);
				}

/* Hover with yellow circle */

.GetInspired a, .Business a, .Education a{
				position: relative;
				color: white;
				text-transform: uppercase;
				text-shadow: 0 0 1px rgba(111,134,134,0.3);
				padding: 10px;
				text-shadow: none;
				-webkit-transition: color 0.3s;
				-moz-transition: color 0.3s;
				transition: color 0.3s;
			}

				.GetInspired a:hover, .Business a:hover, .Education a:hover {
					color: #ffba1e;
				}

				.GetInspired a::after, .Business a::after, .Education a::after {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100px;
					height: 100px;
					border: 2px solid rgba(255, 178, 6, 0.95);
					border-radius: 50%;
					content: '';
					opacity: 0;
					z-index: 100;
					-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
					-moz-transition: -moz-transform 0.3s, opacity 0.3s;
					transition: transform 0.3s, opacity 0.3s;
					-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
					-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
					transform: translateX(-50%) translateY(-50%) scale(0.2);
				}

				.GetInspired a::after, .Business a::after, .Education a::after {
					width: 100px;
					height: 100px;
					border-width: 3px;
					-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
					-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
					transform: translateX(-50%) translateY(-50%) scale(0.8);
				}

				.GetInspired a:hover::after,
				.GetInspired a:focus::after,
				.Business a:hover::after,
				.Business a:focus::after,
				.Education a:hover::after,
				.Education a:focus::after

				 {
					opacity: 1;
					-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
					-moz-transform: translateX(-50%) translateY(-50%) scale(1);
					transform: translateX(-50%) translateY(-50%) scale(1);
				}


/* Blog */

.search-blog,
.search-inspire{
	height: 205px;
}

	.search{
		position: relative;
		margin-top: 95px;
		margin-left: 30px;
		height: 80px;
		width: 80%;
		border: none;
		font-family: "GoBold";
		font-size: 3.625em;
		color: #989898;
	}

		.search-left-line{
			position: absolute;
			background: #4d4d4d;
			height: 80px;
			width: 2px;
			top: 95px;
			left: 40px;
			-webkit-animation: blink 1s ease-in-out infinite;
			-moz-animation: blink 1s ease-in-out infinite;
			-ms-animation: blink 1s ease-in-out infinite;
			-o-animation: blink 1s ease-in-out infinite;
			animation: blink 1s ease-in-out infinite;
		}

		.search-hover{
			position: absolute;
			top: 105px;
			left: 45px;
			font-family: "GoBold";
			color: #989898;
			font-size: 3.625em;
			cursor: pointer;
		}
		
			.search-hover span{
				color: #4d4d4d;
			}

		.search:focus{
			outline: none;
		}

	.magnify{
		background: url(img/search-icon.png) no-repeat;
		position: absolute;
		right: 100px;
		top: 110px;
		width: 53px;
		height: 54px;
		cursor: pointer;
		transition: 0.15s;
		-webkit-transition: 0.15s;
	}

		.magnify:hover{
			transform: scale(1.1);
			-webkit-transform: scale(1.1);
		}

.seperator-large{
	background: #808080;
	width: 100%;
	height: 1px;
	margin: 50px 0;
}

.blog-image{
	float: left;
	height: 230px;
}

.blog-content{
	float: left;
	min-height: 230px;
}

.blog-image{
	position: relative;
	width: 450px;
	margin-right: 25px;
}

	.blog-image img{
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-o-transition: 0.3s;
		-ms-transition: 0.3s;
		transition: 0.3s;
		width: 100%;
		height: 100%;
	}

	.blog-image img:hover{
		opacity: 0.7;
	}

	.blog-image img:hover + .post-date{
		color: #ffbc36;
	}

	.post-date{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -100px;
		margin-top: -30px;
		width: 210px;
		height: 60px;
		background: rgba(0,0,0,0.5);
		font-family: "GoBold";
		font-size: 2em;
		color: white;
		padding: 14px 18px;
		text-transform: uppercase;
		-webkit-transition: 0.9s;
		-moz-transition: 0.9s;
		-o-transition: 0.9s;
		-ms-transition: 0.9s;
		transition: 0.9s;
	}

		.post-date:hover{
			color: #ffbc36;
		}

			.post-date:hover + img{
				opacity: 0.7;
			}

	.blog-content{
		font-family: "KefaItalic";
		font-size: 1.25em;
		width: 530px;
	}

		.blog-content h1{
			margin-top: -7px !important;
			width: 600px;
			height: 100px;
		}

			.blog-content h1 a{
				font-family: "GoBold";
				font-size: 36px;
				text-transform: uppercase;
				color: #ff7f0b;
			}

	.created{
		font-size: 1em;
		font-family: "KefaItalic";
		color: #1a1a1a;
		margin-bottom: 10px;
	}

	.content{
		min-height: 100px;
		color: #4d4d4d;
	}

		.content p{
			color: #4d4d4d;
		}

		.more-link{
			font-size: 1em;
			font-style: italic;
			color: #ff7f0b;
		}

	.social-box{
		/*float: left;*/
	}

		.social-box ul{
			list-style: none;
			margin: 0;
		}

			.social-box ul li{
				position: relative;
				min-height: 20px;
				margin-right: 25px;
				display: inline-block;
			}

			.social-box ul li:last-child{
				margin-right: 0;
			}

				.social-box ul li:last-child > div{
					position: absolute;
					top: -2px;
				}

	/*Pagination*/
	.pagination{
		text-align: center;
		margin-bottom: 80px;
	}

		.page-numbers,
		.current{
			font-family: "GoBold";
			font-size: 1.375em;
			color: #333333;
			padding: 40px;
		}

			.page-numbers:hover{
				color: #ffba1e;
			}

		.current{
			background: url(img/num_frame.png) no-repeat;
			background-position: 20px;
			color: #ffbc36;
		}
	
	.leftone{
		position: relative;
		top: 4px;
		display: inline-block;
		background: url(img/arrow-sprite.png) no-repeat;
		background-position: -0px -0px;
		width: 14px;
		height: 29px;
    }

    	.leftone:hover{
			background-position: -14px -29px;
    	}

    .rightone{
    	position: relative;
		top: 4px;
    	display: inline-block;
		background: url(img/arrow-sprite.png) no-repeat;
		background-position: -14px -0px;
		width: 14px;
		height: 29px;
    }

    	.rightone:hover{
    		background-position: -0px -29px;
    	}

#content li{
  font-family: "Kefa" !important;
  font-size: 1.3em !important;
  color: #1a1a1a;
  line-height: 30px;
}

/* Single Post */
#container{
	padding-top: 100px;
	padding-left: 95px;
	height: auto;
}

	.post{
		margin-bottom: 50px;
	}

		.single-date{
			width: 125px;
			height: 35px;
			background: #ffbc36;
			color: white;
			font-family: "GoBold";
			font-size: 1.25em;
			text-transform: uppercase;
			padding: 8px;
		}

		.single-thumb{
			width: 640px;
			height: 325px;
			margin-top: 5px;
			margin-bottom: 40px;
			float: left;
		}

			.single-thumb img{
				width: 100%;
				height: 100%;
			}

		.single-title{
			font-family: "GoBold";
			font-size: 2em;
			color: #333333;
			text-transform: uppercase;
			margin-bottom: 15px;
			line-height: 45px;
			width: 465px;
		}

		.single-author{
			font-size: 1.75em !important;
			margin-bottom: 1em;
		}

		.single-author,
		.post p{
			font-family: "KefaItalic";
			font-size: 1.5em !important;
			color: #1a1a1a;
			line-height: 30px;
		}

		.post p{
			font-family: "Kefa" !important;
		}


		.nav-below{
			margin-bottom: 100px;
		}

		.previous-post,
		.next-post{
			position: relative;
			font-family: "GoBold";
			font-size: 1.375em;
			color: #f43a0f;
		}
		
		.previous-post{
			float: left;
			margin-left: 30px;
		}

		.next-post{
			float: right;
			margin-right: 60px;
		}

			.previous-post::before{
				content: "";
				position: absolute;
				top: -4px;
				left: -35px;
				background: url(img/red-circle-arrow.png);
				width: 30px;
				height: 30px;
			}

			.next-post::after{
				content: "";
				position: absolute;
				top: -4px;
				right: -34px;
				background: url(img/red-circle-arrow.png);
				transform:rotate(180deg);
				-webkit-transform:rotate(180deg);
				-moz-transform:rotate(180deg);
				-ms-transform:rotate(180deg);
				-o-transform:rotate(180deg);
				width: 30px;
				height: 30px;
			}

		.side{
			position: absolute;
			top: 140px;
			right: 0;
			height: 940px;
			width: 300px;
			background: #4d4d4d;
		}
			
			.side p{
				font-family: "GoBold";
				font-size: 2em;
				color: white;
				text-align: center;
				padding-top: 15px;
				text-transform: uppercase;
			}
			
			.side-thumb{
				position: relative;
				width: 278px;
				height: 142px;
				margin: 10px;
			}

				.side-thumb img{
					-webkit-transition: 0.3s;
					-moz-transition: 0.3s;
					-o-transition: 0.3s;
					-ms-transition: 0.3s;
					transition: 0.3s;
					width: 100%;
					height: 100%;
				}

					.side-thumb img:hover{
						opacity: 0.7;
					}

					.side-thumb img:hover + .side-single-date{
						color: #ffbc36;
					}


			.side-author{
				position: relative;
				top: 10px;
				left: 10px;
				font-family: "GoBold";
				font-size: 0.75em;
				color: white;
				text-transform: uppercase;
				width: 64px;
				height: 20px;
				background: #262626;
				padding: 5px;
			}

			.side-single-date{
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -62px;
				margin-top: -18px;
				width: 130px;
				height: 36px;
				background: rgba(0,0,0,0.5);
				font-family: "GoBold";
				font-size: 1.25em;
				color: white;
				padding: 8px 12px;
				text-transform: uppercase;
				-webkit-transition: 0.9s;
				-moz-transition: 0.9s;
				-o-transition: 0.9s;
				-ms-transition: 0.9s;
				transition: 0.9s;
			}

				.side-single-date:hover{
					color: #ffbc36;
				}

			.side-title{
				font-family: "GoBold";
				font-size: 1.375em;
				color: #989898;
				width: 278px;
				margin: 10px 10px 48px 10px;
				line-height: 30px
			}

				.side-title:hover{
					color: white;
				}

/* Get Inspired */
.inspire-presentations{
	padding-left: 7px !important;
}

	.featured{
		text-align: center;
		min-height: calc(100% - 406px);
		margin-bottom: 20px;
		background:#ffffff url(img/fp_pattern.png) repeat;
	}
	
	.featured2{
		text-align: center;
		min-height: calc(100% - 406px);
		background:#ffffff url(img/fp_pattern.png) repeat;
	}
	
	p.err-message {
		font-size: 1.5em;
	}

	.inspire-image{
		width: 33% !important;
		margin-bottom: 3.125rem;
		padding-left: 3.5px !important;
		padding-right: 3.5px !important;
		overflow: hidden;
		display: inline-block;
		-webkit-transition: 0.3s ease-in-out;
		-moz-transition: 0.3s ease-in-out;
		-ms-transition: 0.3s ease-in-out;
		-o-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
		-webkit-transform: translate3d(0,0,0);
	}

		.inspire-image:hover{
			box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
			-webkit-transform: scale(1.005);
			-moz-transform: scale(1.005);
			-ms-transform: scale(1.005);
			-o-transform: scale(1.005);
			transform: scale(1.005);
			z-index: 100;
		}

			.inspire-image:hover .inspire-share {
				background: url(img/share-icon-hover.png) no-repeat;
			}

			/*.inspire-image:hover .inspire-views::before {
				background: url(img/watch-icon-hover.png) no-repeat;
			}*/

		.wrap-that-presentation{
			overflow: hidden;
		}
	
		.wrap-that-presentation img{
			-webkit-transition: 0.6s;
			-moz-transition: 0.6s;
			-ms-transition: 0.6s;
			-o-transition: 0.6s;
			transition: 0.6s;
		}

		.wrap-that-presentation:hover > img{
			/*TODO consider adding effect on image*/
		}

		.inspire-description{
			width: 100%;
			height: auto;
			background: #f1f1f1;
			padding: 14px;
			-webkit-transition: 0.3s;
			-moz-transition: 0.3s;
			-ms-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
		}

			.inspire-description:hover,
			.inspire-image:hover > .inspire-description{
				background: #111;
			}

			.inspire-image:hover .presentation-name,
			.inspire-image:hover .presentation-date,
			.inspire-image:hover .presentation-author,
			.inspire-image:hover .presentation-data .inspire-views{
				color: white;
			}

			.presentation-name{
				float: left;
				width: 60%;
				height: 20px;
				font-family: "Asap";
				font-size: 24px;
				text-transform: uppercase;
				color: #333333;
				margin-bottom: 0.3em;
				overflow: hidden;
				text-align: left;
			}

			.presentation-author{
				font-family: "KefaItalic";
				font-size: 1.25em;
				color: #333333;
				clear: both;
				text-align: left;
			}

			.presentation-data{
				float: right;
				width: 40%;
				text-align: right;
			}

				.inspire-share, 
				.inspire-views {
					position: relative;
					display: inline-block;
					font-family: "KefaItalic";
					font-size: 1.25em;
					color: #333333;
				}

				.inspire-share{
					background: url(img/share-icon.png) no-repeat;
					width: 24px;
					height: 17px;
					margin-right: 2.5em;
					cursor: pointer;
				}

				/*.inspire-views::before{
					content: "";
					position: absolute;
					left: -30px;
					background: url(img/watch-icon.png) no-repeat;
					width: 21px;
					height: 19px;
				}*/

.pagination-container{
	list-style: none;
	text-align: center;
}

	.pagination-container li{
		display: inline-block;
	}

	.inspire-paginiation{
		position: relative;
		list-style: none;
		text-align: center;
	}

		.inspire-paginiation-prev{
			display: block;
			background: url(img/prev-icon.png) no-repeat;
			width: 73px;
			height: 21px;
		}

		.inspire-paginiation-next{
			display: block;
			background: url(img/next-icon.png) no-repeat;
			width: 72px;
			height: 21px;
		}

		.inspire-page-number{
			display: inline-block;
			font-family: "KefaItalic";
			margin-right: 1em;
		}
			.inspire-page-number a{
				padding: 20px;
			}
			
				.inspire-page-number a:hover{
					color: #ffba1e;
				}

			.inspire-page-number a.current{
				background-position: 0;
			}
		
			p.err-message{
				
			}

			.err-message:after{
				content: "Unable to find emazing presentations with that name.";
			}

			.loader {
				margin: 30px auto;
				display: block;
				width: 100px;
			}

			.load_more {
				margin-bottom: 30px;
				cursor: pointer;
			}

			.down_arrow {
				display: block;
				position: initial !important;
				margin: 0px auto !important;
				margin-bottom: 20px !important;
				cursor: pointer;
				-webkit-transform: rotateZ(90deg);
				-moz-transform: rotateZ(90deg);
				-ms-transform: rotateZ(90deg);
				-o-transform: rotateZ(90deg);
				transform: rotateZ(90deg);
			}

			/* place holder two color trick*/
					#inspire_search::-webkit-input-placeholder {
					   color: #989898;
					   font-family: 'GoBold';
					}

					#inspire_search:-moz-placeholder { /* Firefox 18- */
					   color: #989898;
					   font-family: 'GoBold';  
					}

					#inspire_search::-moz-placeholder {  /* Firefox 19+ */
					   color: #989898;
					   font-family: 'GoBold';  
					}

					#inspire_search:-ms-input-placeholder {  
					   color: #989898;
					   font-family: 'GoBold';  
					}
					#inspire_search::-webkit-input-placeholder::after {
						display: inline;
						content: "presentation";
						color: #4d4d4d;
					}

					#inspire_search:-moz-placeholder::after {
						display: inline;
						content: "presentation"; /* Firefox 18- */
						color: #4d4d4d;  
					}

					#inspire_search::-moz-placeholder::after {
						display: inline;
						content: "presentation";  /* Firefox 19+ */
						color: #4d4d4d;  
					}

					#inspire_search:-ms-input-placeholder::after {
						display: inline;
						content: "presentation";  
						color: #4d4d4d;  
					}

/* Generic (clean) Page */

.generic-page{
	padding-top: 100px; 
}

	.generic-title{
		font-size: 3em !important;
		text-decoration: none !important;
	}

	.generic-page h2{
		font-family: "GoBold";
		font-size: 1.5em;
		text-decoration: underline;
		text-transform: uppercase;
	}	

	.generic-entrytext p{
		font-family: "KefaItalic";
		font-size: 1.25em;
		line-height: 1.6;
		margin-bottom: 1.25rem;
		text-rendering: optimizeLegibility;
	}


/* Support Page */

.support_video {
	background-image: url(img/support/support_video_bg.jpg);
	background-size: cover;
	width: auto;
	height: 80%;
	top: 65px;
	background-repeat: no-repeat;
	max-height: 647px;
}
	.support_ribon {
		background: rgba(0,0,0,0.3);
		width: 20% !important;
		height: 80%;
		margin-left: 60px;
		padding-top: 100px;
	}

		.support_ribon_getting{
			font-size: 3em;
			font-family: 'GoBoldLight';
			text-transform: uppercase;
			color: white;
			line-height: 1.3em;
		}

		.support_ribon_started{
			font-size: 3em;
			font-family: 'GoBold';
			text-transform: uppercase;
			color: white;
		}

		.support_ribon_text {
			font-size: 1.5em;
			font-family: 'KefaItalic';
			color: white;
			padding-top: 20px;
		}

	.support_play_button {
		width: 125px;
		height: 125px;
		background: url(img/support/white_play.png) no-repeat !important;
		background-size: contain;
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		margin-top: 200px;
		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
	}

		.support_play_button:hover{
			-webkit-transform: scale(1.1);
		    -moz-transform: scale(1.1);
		    -o-transform: scale(1.1);
		    -ms-transform: scale(1.1);
		    transform: scale(1.1);
		}

.support_videos_holder {
	padding-top: 115px;
}
	.support_videos_holder ul {
		list-style-type: none;
	}

	.support_videos_holder ul li {
		margin-bottom: 20px;
		margin-right: 60px;
		display: inline-block;
	}

		.support_video_title {
			width: 100%;
			height: 50px;
			background-color: #f1f1f1;
			font-family: 'GoBold';
			font-size: 1.2em;
			padding-top: 10px;
			text-transform: uppercase;
		}

		.support_youtube_video {
			background: black;
			cursor: pointer;
		}

			.small-4 .support_youtube_video:hover::before{
				opacity: 1;
			}

			.small-4 .support_youtube_video::before{
				content: '';
				opacity: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -12.5%;
				margin-left: -12.5%;
				background: url(img/support/white_play.png) no-repeat;
				background-size: contain;
				width: 25%;
				height: 25%;
				transition: 0.3s;
				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				-ms-transition: 0.3s;
				-o-transition: 0.3s;
			}

		.support_youtube_video img {
			pointer-events: none;
			width: 100%;
		}

.support_see_more {
	font-family: 'KefaItalic';
	font-size: 1.3em;
	color: #f43a0f;
}
	.support_down_arrow_orange {
		width: 15px;
		height: 15px;
		background: url(img/support/down-arrow-orange.png);
		display: inline-block;
		background-repeat: no-repeat;
		background-size: contain;
	}

.support_knowledgebase {
	margin-top: 30px;
	background-color: #333333;
}
	.support_search_holder {
		margin: 50px 0px;
		width: 100%;
		background-color: white;
	}
		.support_search_button {
			width: 50px;
			height: 50px;
			background: url(img/support/search-icon.png);
			display: inline-block;
			top: 11px;
			position: relative;
			float: right;
		}
		.support_search_holder input {
			border: none;
			background-color: transparent;
			width: 80%;
			height: 80px;
			font-size: 3em;
			
		}
		.support_search_holder input:focus {
			outline: 0;
		}
		/* place holder two color trick*/
		#support_search::-webkit-input-placeholder {
		   color: #989898;
		   font-family: 'GoBold';
		}

		#support_search:-moz-placeholder { /* Firefox 18- */
		   color: #989898;
		   font-family: 'GoBold';  
		}

		#support_search::-moz-placeholder {  /* Firefox 19+ */
		   color: #989898;
		   font-family: 'GoBold';  
		}

		#support_search:-ms-input-placeholder {  
		   color: #989898;
		   font-family: 'GoBold';  
		}
		#support_search::-webkit-input-placeholder::after {
			display: inline;
			content: " knowledge base";
			color: #4d4d4d;
		}

		#support_search:-moz-placeholder::after {
			display: inline;
			content: " knowledge base"; /* Firefox 18- */
			color: #4d4d4d;  
		}

		#support_search::-moz-placeholder::after {
			display: inline;
			content: " knowledge base";  /* Firefox 19+ */
			color: #4d4d4d;  
		}

		#support_search:-ms-input-placeholder::after {
			display: inline;
			content: " knowledge base";  
			color: #4d4d4d;  
		}

	.support_knowledgebase_links_holder {
		border-top: 2px solid #808080;
		padding-top: 50px;
	}
		.support_knowledgebase_links_column {
			
		}
			.support_links_title {
				font-family: 'GoBold';
				font-size: 1.3em;
				color: #fdb12c;

			}
			.support_knowledgebase_links_column ul {
				list-style-type: none;
				margin-top: 40px;
			}
				.support_knowledgebase_links_column ul li {
					color: white;
					font-size: 1.2em;
					font-family: 'KefaItalic';
				}

.support_contact_us {
	font-family: 'GoBold';
	font-size: 3em;
	text-align: center;
	background-color: #ff7f0b;
	color: white;
	margin: 50px 0px;
	padding: 15px 0px;
}
	
	.support_contact_us:hover{
		box-shadow: 0px 0px 5px #333;
		cursor: pointer;
	}

		.support_contact_us:hover > span{
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			-ms-transform: scale(1.05);
			-o-transform: scale(1.05);
			transform: scale(1.05);
		}

.support_youtube_iframe {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5)
}
	.support_youtube_iframe iframe {
		
		width: 80%;
		height: 80%;
		/*top: 65px;
		left: 3%;*/
		margin: 0 auto;
		background: rgba(0,0,0,0.5)
	}
	.support_youtube_close_button {
		width: 20px;
		height: 20px;
		background: white;
		position: absolute;
		top: 45px;
		right: 230px;
	}

	/*Iframe video*/
	#containingBlock {
		display: none;
		position: absolute;
		top: 145px;
		left: 50%;
		margin-left: -38%;
		width:76%;
		z-index: 100;
		/*background: black url(img/emaze-loader.gif) no-repeat;*/
		/*background-position: center center;*/
	}

		.videoWrapper,
		.presentationWrapper {
		  position: relative;
		  padding-bottom: 56.25%;
		  /*padding-top: 25px;*/
		  height: 0;
		}

		.videoWrapper iframe,
		.presentationWrapper iframe{
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		}
	
	.close-button{
		position: absolute;
		top: -60px;
		left: 0px;
		background: url(img/support/close_button.png) no-repeat;
		width: 55px;
		height: 55px;
		cursor: pointer;
	}

	.video-title,
	.presentation-title{
		position: absolute;
		top: -56px;
		left: 65px;
		font-family: "GoBold";
		font-size: 3em;
		text-transform: uppercase;
		color: white;
	}

	.darkness-is-evil{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0, 0.9);
		-webkit-transform: translate3d(0,0,0);
		z-index: 10;
	}


.present{
	cursor: pointer;
}
.edu-present{
	cursor: pointer;
	
}
.play-icon2{
	 position: absolute;
	 top: 28%;
     left: 39%;
	 -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.play-icon2:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.play-icon{
	background-image: url(img/play.png);
    width: 89px;
    height: 89px;
    position: absolute;
    /*top: -139px;
    left: 116px; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
.play-icon:hover{
	background-image: url(img/playHover.png);
	width: 106px;
    height: 106px;
	 /*top: -146px;
    left: 112px; */
}
/* Business Page */
.business_video {
	background-image: url(img/business/business_video_bg.jpg);
	background-size: cover;
	width: auto;
	height: 80%;
	top: 65px;
	background-repeat: no-repeat;
	max-height: 647px;
}

	.business_ribon {
		background: rgba(0,0,0,0.3);
		width: 26% !important;
		height: 69%;
		margin-left: 30px;
		padding-top: 66px;
		padding-left: 25px !important;
	}

	.business_ribon_bigtext {
		font-size: 3em;
		font-family: 'GoBold';
		text-transform: uppercase;
		color: white;
		line-height: 1.3em;
	}

	.business_ribon_smalltext {
		font-size: 3em;
		font-family: 'GoBoldLight';
		text-transform: uppercase;
		color: white;
		line-height: 1.3em;
	}

.business_list {
	padding-top: 30px;
	padding-bottom: 15px;
	background: #f1f1f1;
}

	.business_list ul {
		list-style-type:none;
		font-family: 'KefaItalic';
		font-size: 1.6em;
		width: 900px;
		margin: 0 auto;
	}

	.business_list ul li{
		 background:url(img/business/list_icon.png) 1px 13px no-repeat;
         margin: 0;
         padding-left: 30px;
	}

.business_have_a {
	text-align: center;
	background: #333333;
	padding: 40px;
}

	.business_have_a span {
		display: block;
		color: white;
		font-family: 'KefaItalic';
		font-size: 2em;
		line-height: 1.2em;
	}

	.business_have_a span:nth-child(2){
		color: orange;
		font-family: 'GoBold';
		font-size: 3em;
	}

.business_how_title {
	text-align: center;
	background: #ff7f0b;
	padding: 20px;
	font-family: 'GoBold';
	font-size: 10em;
	color: white;
	height: 220px;
}
	
	.business_how_title span {
		font-size: 0.87em;
		color: white;
	}

.business_how_list {
	margin-top: 75px;
	margin-bottom: 25px;
	font-size: 3.125em;
	font-family: 'GoBold';
	color: #4d4d4d;
}
	
	.business_how_list span {
		margin-top: 20px;
		display: block;
		font-size: 0.4em;
		font-family: 'KefaItalic';
		width: 160px;
	}

.business_testemonials {
	background: #333333;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
	font-family: 'KefaItalic';
}
	.business_teste_img{
		border-right: 1px solid white;
		display: inline-block;
		padding-right: 20px;
	}
	.business_teste_logo{
		display: inline-block;
		padding-left: 30px;
	}

	.matomy{
		height: 40px;
		margin-top: 16px;
	}
		
	.business_teste_text {
		margin-top: 35px;
		padding-right: 75px;
		width: 400px;
	}
	.business_teste_info {
		margin-top: 40px;
		padding-right: 75px;
		width: 300px;
	}
	.business_teste_info span {
		color: #e2a02d;
		display: block;
	}

.business_info {
	padding-top: 100px;
	padding-bottom: 50px;
}
	
	.bus_color {
		color: black;
	}

	.bus_color::before {
		background: url(img/business/arrow.png);
	}

/* 404 */

.err-main{
    height: calc(100% - 150px);
    padding-top: 65px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background: #f43a0f;
}

.err-title{
    position: relative;
    font-family: "GoBold";
    font-size: 10em;
    color: white;
    text-transform: uppercase;
}

    .err-title-stripe{
        position: absolute;
        top: 6.5em;
        left: 0;
        width: 690px;
        height: 120px;
        background: #ffb205;
    }

.err-content{
    padding-top: 3em;
}

    .err-content p{
        font-family: "GoBold";
        font-size: 3em;
        color: white;
        text-transform: uppercase;
    }

.err-white-bottom{
    position: absolute !important;
    bottom: 0;
    height: 180px;
    background: white;
    padding-top: 5em;
}

	.err-circle{
		position: absolute;
		right: 6em;
		top: -3em;
		width: 100px;
		height: 100px;
		background: white;
		border-radius: 50px;
	}

    .err-circle-arrow{
        position: absolute;
		right: 7.5em;
		top: -2em;
		background: url(img/404/404-arrow.png) no-repeat;
		background-size: contain;
		width: 50px;
		height: 70px;
    }

    .err-emaze-logo{
        position: absolute;
		top: 3.5em;
		right: 6.25em;
		background: url(img/404/logo.png) no-repeat;
		background-size: contain;
		width: 90px;
		height: 100px;
    }

    a.err-visit{
        font-family: "GoBold";
        font-size: 4em;
        color: #ffb206;
        margin-top: 0.5em;
        transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
    }

    	a.err-visit:hover{
    		color: #f43a0f;
    	}

	.err-circle-arrow{
		-webkit-animation: bounce 1s infinite;
		-moz-animation: bounce 1s infinite;
		-ms-animation: bounce 1s infinite;
		-o-animation: bounce 1s infinite;
		animation: bounce 1s infinite;
	}


/* Share popup */
.popup_wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -256px;
	margin-left: -192.5px;
	width: 512px;
	height: 385px;
	z-index: 2000;
	text-transform: uppercase;
	font-family: 'GoBold';
	display: none;
}

	.popup_content {
		height: inherit;
		box-shadow: 0px 0px 50px black;
		background: #333;
	}

		.popup_content p {
			position: relative;
			font-size: 2.75em !important;
			font-family: "GoBold";
			color: white;
			text-align: center;
			padding-top: 25px;
			margin-bottom: 20px !important;
			z-index: 1;
		}

			.popup_content p:after{
				content: "";
				position: absolute;
				width: 490px;
				height: 33px;
				background: #5d5d5d;
				left: 10px;
				top: 53px;
				z-index: -1;
			}

	.pop-social-container{
		width: 350px;
		height: 40px;
		margin-left: 7em;
		margin-bottom: 35px;
		list-style: none;
	}

		.pop-social-container li {
			display: inline-block;
			width: 40px;
			height: 40px;
			margin-right: 40px;
			cursor: pointer;
		}

			.share-fb{
				background: url(img/inspire/fb.png) no-repeat;
			}

				.share-fb:hover{
					background: url(img/inspire/fb_hover.png) no-repeat;
				}

			.share-google{
				background: url(img/inspire/google.png) no-repeat;
			}

				.share-google:hover{
					background: url(img/inspire/google_hover.png) no-repeat;
				}

			.share-tw{
				background: url(img/inspire/twitter.png) no-repeat;
				width: 49px !important;
			}

				.share-tw:hover{
					background: url(img/inspire/twitter_hover.png) no-repeat;
				}

			.share-ln{
				background: url(img/inspire/linkedin.png) no-repeat;
			}

				.share-ln:hover{
					background: url(img/inspire/linkedin_hover.png) no-repeat;
				}


	.popup_content .imaginary-form{
		width: 420px;
		height: 170px;
		margin: 0 auto;
	}

	.imaginary-form form{
		margin-bottom: 20px;
	}

		.popup_content label{
			position: relative;
			float: left;
			z-index: 1;
		}

		.popup_content input{
			float: left;
			border-radius: 0 !important;
		}

		.share-email,
		.share-link,
		.share-embed{
			position: relative;
			font-size: 1em !important;
			font-family: "GoBold";
			color: white;
			z-index: 1;
			margin-right: 20px;
		}

			.share-email::after{
				content: "";
				position: absolute;
				background: #5d5d5d;
				z-index: -1;
				width: 156px;
				height: 14px;
				left: -4px;
				top: 1px;
			}

			.share-link::after{
				content: "";
				position: absolute;
				background: #5d5d5d;
				z-index: -1;
				width: 40px;
				height: 14px;
				left: -4px;
				top: 1px;
			}

			.share-embed::after{
				content: "";
				position: absolute;
				background: #5d5d5d;
				z-index: -1;
				width: 52px;
				height: 14px;
				left: -4px;
				top: 1px;
			}

		#email_input{
			width: 172px;
			height: 20px;
			background: transparent;
			border: 1px solid #8d8d8d;
			margin-right: 10px;
			font-family: "Kefa";
			font-size: 1em;
			color: #f5f5f5;
			padding-left: 10px;
			border-radius: 0 !important;
		}

		.share-email-send{
			width: 57px;
			height: 20px;
			background: url(img/inspire/send.png) no-repeat;
			border: none !important;
			border-radius: 0 !important;
			cursor: pointer;
			float: right !important;
		}

			.share-email-sending{
				width: 57px;
				height: 20px;
				background: url(img/loader_small.gif) no-repeat;
				background-size: contain;
				border: none !important;
				border-radius: 0 !important;
				cursor: pointer;
				float: right !important;
			}

			.share-email-send:hover{
				background: url(img/inspire/send_hover.png) no-repeat;
			}

		.other_input{
			float: right !important;
			width: 335px;
			height: 20px;
			background: #b7b7b7;
			border: none !important;
			margin-bottom: 20px;
			font-family: "Kefa";
			font-size: 1em;
			color: #f5f5f5;
			padding-left: 10px;
			border-radius: 0 !important;
		}

		.share_close{
			background: url(img/inspire/ok.png) no-repeat;
			width: 196px;
			height: 48px;
			margin: 0 auto;
		}

			.share_close:hover{
				background: url(img/inspire/ok_hover.png) no-repeat;
			}

	.share-pop-message{
		display: none;
		position: relative;
		top: 0.5em;
		color: #fab200;
		font-family: "GoBoldLight";
	}

.lightness-is-a-bliss{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	-webkit-transform: translate3d(0,0,0);
}

/*transitions*/

.popup_content {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
/*first transition*/
.sign {
  -webkit-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}

.popup_content.color1 {
  -webkit-transform: rotateX(-60deg);
  -ms-transform: rotateX(-60deg);
  -o-transform: rotateX(-60deg);
  transform: rotateX(-60deg);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  opacity: 0;
}

.show_popup_wrapper.sign .popup_content.color1 {
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}
/*secound transition*/
.flip-horizontal {
  -webkit-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}

.popup_content.color2 {
  -webkit-transform: rotateY(-70deg);
  -ms-transform: rotateY(-70deg);
  -o-transform: rotateY(-70deg);
  transform: rotateY(-70deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  opacity: 0;
}

.show_popup_wrapper.flip-horizontal .popup_content.color2 {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
}
/*terd transition*/
.flip-vertical {
  -webkit-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}

.popup_content.color3 {
  -webkit-transform: rotateX(-70deg);
  -ms-transform: rotateX(-70deg);
  -o-transform: rotateX(-70deg);
  transform: rotateX(-70deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  opacity: 0;
}

.show_popup_wrapper.flip-vertical .popup_content.color3 {
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}


.tada{
	-webkit-animation: tada 1s;
	-moz-animation: tada 1s;
	-ms-animation: tada 1s;
	-o-animation: tada 1s;
	animation: tada 1s;
}
/*** Animations ***/

@keyframes "blink" {
 0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1;
 }
 50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	filter: alpha(opacity=0);
   	opacity: 0;
 }
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1;
 }

}

@-moz-keyframes blink {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 50% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-webkit-keyframes "blink" {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 50% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-ms-keyframes "blink" {
 0% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
 }
 50% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-o-keyframes "blink" {
 0% {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 50% {
   filter: alpha(opacity=0);
   opacity: 0;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
 }

}

@-webkit-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}

@-moz-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}

@keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}

@-webkit-keyframes bounce
{
	0%{
		margin-top: -3px;
	}

	50%{
		margin-top: 3px;
	}

	100%{
		margin-top: -3px;
	}
}

@-moz-keyframes bounce
{
	0%{
		margin-top: -3px;
	}

	50%{
		margin-top: 3px;
	}

	100%{
		margin-top: -3px;
	}
}

@-ms-keyframes bounce
{
	0%{
		margin-top: -3px;
	}

	50%{
		margin-top: 3px;
	}

	100%{
		margin-top: -3px;
	}
}

@-o-keyframes bounce
{
	0%{
		margin-top: -3px;
	}

	50%{
		margin-top: 3px;
	}

	100%{
		margin-top: -3px;
	}
}

@keyframes bounce
{
	0%{
		margin-top: -3px;
	}

	50%{
		margin-top: 3px;
	}

	100%{
		margin-top: -3px;
	}
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

/*Temp stuff*/
#zenbox_tab{
	display: none !important;
}

/*Infograph*/
.infograph{
    height: 375px;
    width: 100%;
    background-color: #f6b80b;
    overflow: hidden;
}
	.ig-inner-container{
		position: absolute;
		top: 84px;
		left: 100px;
		z-index: 10;
	}

		.ig-circles{
			position: absolute;
			list-style: none;
			top: 50%;
			left: 500px;
			z-index: 3;
		}
	
		.ig-circles-texts{
			position: absolute;
			list-style: none;
			top: 50%;
			left: 735px;
			z-index: 10;
		}

			.ig-circles li{
				position: absolute;
				border-radius: 50%;
				-webkit-transition: all 0.9s;
				-moz-transition: all 0.9s;
				-ms-transition: all 0.9s;
				-o-transition: all 0.9s;
				transition: all 0.9s;
			}

			.ig-circles-texts li{
				display: none;
			}

				.ig-circles-texts li p{
					position: absolute;
					height: 80px;
					top: 50%;
					left: 50%;
					margin-left: -50px;
					margin-top: -40px;
					font-family: 'GoBold';
					font-size: 75px;
					line-height: 78px;
					color: #fff;
					text-transform: uppercase;
					z-index: 10;
				}

					.ig-circles-texts li p span{
						position: absolute;
						font-family: 'KefaItalic';
						font-size: 28px;
						color: #fff;
						text-transform: none;
						line-height: 26px;
					}

			.ig-circles li:nth-child(1){
				width: 247px;
				height: 247px;
				margin-top: -123px;
				margin-left: 115px;
				background-color: #9c045b;
				z-index: 3;
			}

					.ig-circles-texts li:nth-child(1) p span{
						left: 28px;
						top: 80px;
					}

			.ig-circles li:nth-child(2){
				width: 540px;
				height: 540px;
				margin-top: -270px;
				margin-left: 55px;
				background-color: #f43b0f;
				z-index: 2;
			}

				.ig-circles-texts li:nth-child(2) p{
					  margin-left: 165px;
				}

					.ig-circles-texts li:nth-child(2) p span{
						left: -15px;
						top: 80px;
						text-align: center;
					}

			.ig-circles li:nth-child(3){
				width: 835px;
				height: 835px;
				margin-top: -417px;
				background-color: #fe7f0a;
				z-index: 1;
			}

				.ig-circles-texts li:nth-child(3) p{
					  margin-left: 374px;
				}

					.ig-circles-texts li:nth-child(3) p span{
						left: 40px;
						top: 80px;
					}
	
		.ig-text{
			font-family: 'GoBold';
			font-size: 64px;
			color: #fff;
			text-transform: uppercase;
			line-height: 70px;
			z-index: 10;
		}

    .infograph-mask{
    	position: absolute;
    	width: 100%;
    	height: 100%;
        background: url(img/infograph-pattern.png);
        background-repeat: repeat;
        z-index: 5;
        opacity: 0.65;
    }

.ig-scaleup{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.ig-scaledown{
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

/*End of infograph*/

/*emaze News*/

.em-news{
	width: 100%;
	height: 292px;
	background-color: #ffb106;
}

	.em-news-container{
		  position: relative;
		  width: 650px;
		  height: 180px;
		  margin: 56px auto;
	}
	.keywords{
		width: 100%;
		height: 700px;
		background-color: #eeeeee;
		padding-top: 30px !important;
		padding-bottom: 30px !important;
		
		
	}
	#keywords-img{
		margin-left:40px;
	}
	.keywords-container{
		  position: relative;
		  width: 100%;
		  height: 100%;
		  margin: 4px auto;		 
	}
	#keywords-iframe{
		border: none;
		width: 100%;
		height: 100%;		
	}
	.em-news-circle{
		width: 182px;
		height: 181px;
		/*background: url(/wp-content/themes/emaze/img/clouds.png) no-repeat;*/
		background: url(img/clouds.png) no-repeat;
		background-size: contain;
		float: left;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
		-webkit-transform: translate3d(0,0,0,0);
	}

		.em-news-circle:hover{
			-webkit-transform: scale(1.1) rotate(5deg);
			-moz-transform: scale(1.1) rotate(5deg);
			-ms-transform: scale(1.1) rotate(5deg);
			-o-transform: scale(1.1) rotate(5deg);
			transform: scale(1.1) rotate(5deg);
		}

		.em-news-info{
			width: calc(100% - 225px);
			height: 200px;
			margin-left: 25px;
			float: left;
		}
/*End of emaze News*/