/*
Style Name: Green
Color: #a9bf04
Description: Mystique's default color scheme
Author: digitalnature
Version: 3.0

*/

/* all theme styles must be prefixed with "style-" and have all the meta data fields as above */



a{color:#95d6fd;}
a:hover{color: #EEF2F5;}

span.alt{color:#EEF2F5;}

#logo a:hover span.alt{color:#d7f205;}


.block .title h3,
.block .title .br,
.block .title .bl{
  background-image: url(../images/style-green/block-t.png);
}

#meta .navi{border-color: #4a4a4a;}

#meta .navi li,
#meta .navi li a{
  background-image: url(../images/style-green/tabs.png);
}

.comment .comment-head,
.comment .comment-head .ext{
  background-image:url(../images/style-green/comment.png);
}


.comment.role-administrator > .comment-head,
.comment a.show:hover,
.no-fx .block a.more:hover, .block .fadeThis a.more .hover,
table.calendar td.today a, table.calendar td.today span,
.tagcloud a:hover,
.nav-footer .active > a,
.nav-footer .active-parent > a,
.nav-footer li.open > a,
.nav-footer li:hover > a{
  background-color:#a9bf04;
}

.page-navi a:hover{
  border:1px solid #a9bf04;
  background-color:#a9bf04;
}

.search-form fieldset,
.search-form .submit{
  background-image:url(../images/style-green/search.png);
}

.block-tabs a{
  color: #a9bf04;
}

.block-tabs a:hover{
  color: #d7f205;
}

.block-tabs .block a.more:hover{
  background-color: #a9bf04;
}