.wraw-widget-wrapper{text-align: center;}
.wraw-row{margin-left:0px;}
.wraw-image-responsive{
  width: 100%;
}
.wraw-widget-wrapper a{
  display: block;
}
.wraw-clearfix{
  clear: both;
}
.wraw_post_image{
  position: relative;
  float: left;
  width: 100%;
  height: 125px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.wraw-title{
  border-bottom: 2px solid #f24139;
  font-size: 1.3em;
  padding-bottom: 3px;
  font-weight: bold;
  margin-bottom: 10px;
  width:100%;
}
.wraw-h3{
  height: 45px;
  text-align: left;
  color: #353535;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 120%;
  overflow: hidden;
}
.wraw-author{
  display: block;
  text-align: left;
  font-size: 0.7em;
  color:#a9a9a9;
  font-weight: 400;
  position: relative;
}
.wraw-row{
  clear:both;
  width: 100%;
  overflow: hidden;
}
.wraw-cols{
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
}
.wraw-cols-1{
  width: 97%;
}
.wraw-cols-2 {
  width: 48%;
  overflow: auto;
}

.wraw-cols-2 .wraw-image-responsive img{ height:205px; }
.wraw-cols-3{
  width: 31.3%;
  margin-bottom: 10px;
  float: left;
}
.wraw-cols-4{
  width: 22%;
}
.wraw-cols-5{
  width: 17%;
}
.wraw-cols-6{
  width: 13%;
}
.wraw-cols-1 .wraw_post_image{
	height: auto;
}

.wraw-cols-1 .wraw-h3{
  font-size: 11px;
}
#sidebar .wraw-cols-1 .wraw-h3{
	height: 65px;
    font-size: 16px;
}
.wraw-author{display:none;}

@media (max-width:768px){
  .wraw-row{margin-left:0px;}
  .wraw-h3 {
    min-height: 0px;
    font-size: 21px;
    height: 105px;
  }
  .wraw-cols-2 .wraw-image-responsive img {
    height: 160px;
}
.wraw-cols-1 .wraw-h3 {
    height: 40px;
    font-size: 17px;
}
  .wraw_post_image {
    position: relative;
    float: left;
    width: 100%;
    height: 160px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wraw-cols-2{width: 47%;}
  .wls-popular-article {
    margin-bottom: 5px;
  }
  .wraw-title {
    font-size: 0.9em;
    margin-left: 0px;
  }
}