.ams_slide_page_ad_wrapper{
  background: #000; 
  display:table; 
  width:100%;
}
.ams_slide_page_ad_wrapper p{
  text-align: center !important;
}
.ams_slide_page_ad_wrapper p > span{
  float:left; 
  padding-left: 10px; 
  color:#fff;
}
.ams_slide_page_ad_wrapper p a{
  float:right; 
  padding-right: 10px; 
  color:yellow !important;
}
.ams_slide_page_ad_wrapper .ams_slide_page_ad{
  display:block; 
  text-align:center !important;
  margin-top:100px;
  margin-bottom:80px;
}
@media (max-width: 480px){
  .ams_slide_page_ad_wrapper .ams_slide_page_ad{
    margin-top:30px;
    margin-bottom:5px;
  }
  .ams_slide_page_ad_wrapper p span,
  .ams_slide_page_ad_wrapper p a{
    font-size: 12px;
  }
}
@media (max-width: 320px){
  .ams_slide_page_ad_wrapper p span,
  .ams_slide_page_ad_wrapper p a{
    font-size: 10px;
  }
}