<!--

body {
	background: #eaeaea;
	margin: 0px;
	padding: 0px;
	text-align: center
	font-family: "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}
form {
	margin: 0px;
	padding: 0px;
}
p {
	margin: 0px;
}
#banner {
	width: 980px;
	height: 70px;
}
#col1 {
	width: 180px;
	vertical-align: top;
	padding-left: 2px;
}
#col2 {
	width: 180px;
	vertical-align: top;
	padding-right: 2px;
}
#col2a {
	width: 180px;
	vertical-align: top;
	padding-right: 2px;
}
#col3{
	vertical-align: top;
	padding: 0 2px 5px 2px;
}
#col3a{
	vertical-align: top;
}
#col4 {
	width: 170px;
	vertical-align: top;
	padding-right: 2px;
	padding-left: 2px;
}

#advertleft td {
	padding-top: 0;
	padding-bottom: 0;
}
#advertleft td img{
	border: 1px solid #CCCCCC;
	margin-top: 3px;
	margin-bottom: 3px;
}
#advertleft span {
	border: 0px solid #CCCCCC;
	margin-top: 2px;
	margin-bottom: 2px;
	display: block;
}
#advertleft #heading {
	font-family: "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #FFFFFF;
	padding: 3px;
	background-color: #2b2b2b;
	text-align: center;
}
.script-ad{
	padding-bottom: 10px;
}
#adverttodays {
	width: 100%
}
#adverttodays td {
	text-align: center;
	padding-bottom: 8px;
}

.lsfly {color: #2D8FFF;font-weight: bold;font-size: 14px;text-decoration: none; font-family: "Lucida Sans Unicode", Arial, Verdana, sans-serif;}
.lsfly a {text-decoration: none;color: #2D8FFF;}
#adverttodays #title {
	text-align: left;
	font-size: 0;
	background-color: #fff;
	cbackground-color: #f5f5f5;
	color: #000;
	padding: 4px;
}
#adverttodays td img {
	border: 1px solid #f0f0f0;
}

#newslistta {
	font:11px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Arial;
	Xfont-size: 11px;
	border-collapse: collapse;
	width: 100%;
}
#newslistta #photo {
	border-top: 4px solid #fafafa;
	border-bottom: 4px solid #fafafa;
	width: 90px;
}
#newslistta #photo img {
	width: 90px;
	padding: 2px 2px 2px 2px;
	border: 2px solid #fff;
}
#newslistta #heading {
	padding-left: 3px;
	border-top: 4px solid #fafafa;
	border-bottom: 4px solid #fafafa;
	font-size: 13px;
}
#newslistta #heading a, 
#newslistta #heading a:link {
	text-decoration: none;
	color: #004CD6;
}
#newslistta #heading a:hover {
	color: #000000;
}
#newslistta #heading a:visited {
	color: #004CD6;
}
#newslistta #flag {
	font-weight: bold;
	font-size: 10px;
	color: FF0000;
	padding-bottom: 2px;
	text-transform: uppercase;
}
#newslistta #audio, 
#newslistta #video, 
#newslistta #image {
	font:11px/1.5 Verdana, sans-serif;
	Xfont-family: Arial, Verdana;
	Xfont-size: 11px;
	width: 60px;
	padding: 2px;
	padding-top: 0px;
	text-align: right;
}
#newslistta #lead {
	font-weight: bold;
	font-size: 10px;
	color: #FF0000;
}
#newslistta #flag_en {
	font-family: "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
	padding-bottom: 2px;
}
#newslistta #heading_en {
	font-family: 'Varela Round', "Lucida Sans Unicode", Verdana, sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding-left: 3px;
	border-top: 4px solid #fafafa;
	border-bottom: 4px solid #fafafa;
}
#newslistta #heading_en a, 
#newslistta #heading_en a:link {
	text-decoration: none;
	color: #004CD6;
}
#newslistta #heading_en a:hover {
	color: #000000;
}
#newslistta #heading_en a:visited {
	color: #004CD6;
}
#newslistta #lead_en {
	font-family: "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #000000;
}
#flytitle {
	font:12px/1.5 Verdana,sans-serif;
	background-color: #f5f5f5;
	color: #000;
	padding: 6px 4px 6px 4px;
	Xfont-size: 12px;
	font-weight: bold;
	text-align: center;
}
#title {
	font:12px/1.5 Verdana,sans-serif;
	background-color: #f5f5f5;
	color: #000;
	padding: 6px 4px 6px 4px;
	Xfont-size: 12px;
	font-weight: bold;
}
#title a {
	color: #000;text-decoration: none;
}
#title_fs {
	background-color: #BB0000;
	color: #FFFFFF;
	padding: 4px;
}
#flytitle2 {
	font-size: 12px;
	padding: 5px;
	color:#F1760F! Important;
}
#flytitle2 a {
	font-size: 13px;
	padding: 5px;
	color: #F10125! Important;
    font-weight: bold;
}
#sile_link {
	font-size: 10px;
	text-align: right;
	padding: 5px;
}
#sile_link a, 
#sile_link a:link {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}
#sile_link a:visited {
	color: #000000;
}
#newslistta #content3 {
	font-size: 13px;
	padding: 10px;
	line-height: 160%;
}

#newslistta #content3 a {
	text-decoration: none;
}

#newslistta #content {
	font-size: 11px;
	padding-top: 2px;
	padding-bottom: 5px;
	line-height: 160%;
}
#newslistta #content img {
	float: left;
	margin-right: 3px;
	border: 0px solid #000000;
}
#newslistta #content a, 
#newslistta #content a:link {
	text-decoration: none;
	color: #004CD6;
} 
#newslistta #content a:visited {
	color: #004CD6;
}
#newslistta #info {
	margin-bottom: 5px;
	font-size: 10px;
	width: 100%;
}
#newslistta #info #date {
	width: 130px;
}
#newslistta #info #country {
	text-align: right;
}

/* ddddddddddddddd */

/* ddddddddddddddd */

/* GREY gbwhite_BOX RELATED STYLES BEG HERE */
#gbwhite {
	width: 100%;
	font-size: 1px;
	margin-top: 5px;
	border: 1px solid #dddddd;
}
#gbwhite #tl {
	width: 5px;
	height: 5px;
	background: #fff;
}
#gbwhite #tc {
	height: 5px;
	background: #fff;
}
#gbwhite #tr {
	width: 5px;
	height: 5px;
	background: #fff;
}
#gbwhite #ml {
	width: 5px;
	background: #fff;
}
#gbwhite #mc {
	font-size: 11px;
	background: #fff;
	vertical-align: top;
}
#gbwhite #mr {
	width: 5px;
	background: #fff;
}
#gbwhite #bl {
	width: 5px;
	height: 5px;
	background: #fff;
}
#gbwhite #bc {
	background: #fff;
}
#gbwhite #br {
	width: 5px;
	height: 5px;
	background: #fff;
}
#gbwhite table#links {
	font:11px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Arial;
	Xfont-size: 11px;
}
#gbwhite table#links #title {
	background-color: #f5f5f5;
	font-size: 12px;
	color: #2d2d2d;
	padding: 6px 4px 6px 4px;
	padding-bottom; 4px;
}
#gbwhite table#links td {
	padding: 4px 3px 6px 3px;
	font-size: 11px;
}
#gbwhite table#links td a, 
#gbwhite table#links td a:link {
	color: #3b3b3b;
	text-decoration: none;
}
#gbwhite table#links td a:hover {
	color: #000000;
}
#gbwhite #todayheading {
	background-color: #f5f5f5;
	font-size: 12px;
	color: #2d2d2d;
	padding: 6px 4px 6px 4px;
	font-weight: bold;
}
/* NAVIGATION (TOP) BEG HERE */
/* GREY gbmaroon BOX RELATED STYLES BEG HERE */
#gbmaroon {
	width: 100%;
	font-size: 1px;
	margin-top: 5px;
	border: 1px solid #dddddd;
}
#gbmaroon #tl {
	width: 5px;
	height: 5px;
	background: #fff;
}
#gbmaroon #tc {
	height: 5px;
	background: #fff;
}
#gbmaroon #tr {
	width: 5px;
	height: 5px;
	background: #fff;
}
#gbmaroon #ml {
	width: 5px;
	background: #fff;
}
#gbmaroon #mc {
	font-size: 11px;
	background: #fff;
	vertical-align: top;
}
#gbmaroon #mr {
	width: 5px;
	background: #fff;
}
#gbmaroon #bl {
	width: 5px;
	height: 5px;
	background: #fff;
}
#gbmaroon #bc {
	background: #fff;
}
#gbmaroon #br {
	width: 5px;
	height: 5px;
	background: #fff;
}
/* GREY gbflash BOX RELATED STYLES END HERE */
/* GREY gbflash BOX RELATED STYLES BEG HERE */
#gbflash {
	width: 980px;
	font-size: 1px;
	margin-top: 5px;
	Xmargin: 5px auto 0 auto;
	background: #1b1b1b;
}
#gbflash #tl {
	width: 5px;
	height: 5px;
}
#gbflash #tc {
	height: 5px;
}
#gbflash #tr {
	width: 5px;
	height: 5px;
}
#gbflash #ml {
	width: 5px;
}
#gbflash #mc {
	font-size: 11px;
	vertical-align: top;
	padding-bottom: 3px;
}
#gbflash #mr {
	width: 5px;
}
#gbflash #bl {
	width: 5px;
	height: 5px;
}
#gbflash #bc {
	background: #1b1b1b;
}
#gbflash #br {
	width: 5px;
	height: 5px;
}
/* GREY gbflash BOX RELATED STYLES END HERE */
/* NAVIGATION (SIDE RIGHT) BEG HERE */
#navright {
	width: 100%;
}
#navright #area {
}
#navright #area ul#links {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
}
#navright #area ul#links li {
		font:12px/1.5 Verdana,sans-serif;
		Xfont-family: "Lucida Sans Unicode", Verdana, Arial;
        Xfont-size: 12px;
		border-bottom: 1px dotted #e5e5e5;
        margin: 0px;
}
#navright #area ul#links a, 
#navright #area ul#links a:link {
		background: #fff;
        text-decoration: none;
        color: #000000;
        margin: 0px;
        padding: 4px 4px 2px 2px;
		width: 96%;
		display: block;
}
#navright #area ul#links li#active {
        color: #000000;
}
#navright #area ul#links a:hover {
        color: #FF0000;
		background: #f5f5f5;
        margin: 0px;
}
/* NAVIGATION (SIDE RIGHT) BEG HERE */
/* NAVIGATION (BOTTOM) BEG HERE */
#footer {
	text-align: center;
}
#footer #navbottom {
	width: 980px;
	border: 1px solid #dddddd;
	background-color: #FFFFFF;
	margin-top: 8px;
}
#footer #navbottom #copyright {
	font-family: 'open sans', "Lucida Sans Unicode", Verdana, Arial, sans-serif;
	font-size: 12px;
	width: 350px;
	padding: 16px;
}
#footer #navbottom #copyright a {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}
#footer #navbottom #links {
	font-family: 'open sans', "Lucida Sans Unicode", Verdana, Arial, sans-serif;
	font-size: 12px;
	text-align: right;
	padding: 16px;
}
#footer #navbottom #links a, 
#footer #navbottom #links a:link {
	text-decoration: none;
	color: #2b2b2b;
}
#footer #strip {
	background-color: #2b2b2b;
	margin-top: 10px;
}
/* NAVIGATION (BOTTOM) END HERE */
/* NAVIGATION (BOTTOM SUB) BEG HERE */
#footer #navbottomsub {
	margin-top: 8px;
	width: 980px;
	color: #2b2b2b;
}
#footer #navbottomsub #links {
	font:11px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Arial;
	Xfont-size: 11px;
	text-align: center;
	padding: 8px;
}
#footer #navbottomsub #links a, 
#footer #navbottomsub #links a:link {
	text-decoration: none;
	color: #2b2b2b;
}
/* NAVIGATION (BOTTOM SUB) END HERE */
/* NOTICE STYLES BEG HERE */
#noticelist {
}
#noticelist #o #n_table {
	margin-top: 2px;
}
#noticelist #o #n_title {
	font:11px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Geneva, sans-serif;
	Xfont-size: 11px;
	color: #FFFFFF;
	background-color: #333333;
	padding: 5px;
}
#noticelist #o #n_content {
	background-color: #AAAAAA;
	padding: 5px;
}
#noticelist #o #n_content #i_table {
}
#noticelist #o #n_content #i_field {
	font:10px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Geneva, sans-serif;
	Xfont-size: 10px;
	background-color: #555555;
	width: 90px;
	color: #999999;
	padding: 4px;
}
#noticelist #o #n_content #i_value {
	font:11px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Geneva, sans-serif;
	Xfont-size: 11px;
	background-color: #CDCCCC;
	color: #000000;
	padding: 4px;
}
#noticelist #o #n_content #i_value a, 
#noticelist #o #n_content #i_value a:link {
	text-decoration: none;
	color: #000000;
}
#noticelist #o #n_content #i_thumb {
		width: 100px;
		cpadding: 5px;
		cpadding-top: 6px;
		cpadding-left: 0px;
}
#noticelist #o #n_content #i_issue {
	font:10px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Geneva, sans-serif;
	Xfont-size: 10px;
	width: 90px;
	color: #777777;
	padding: 5px;
	padding-bottom: 0px;
}
#noticelist #o #n_content #i_date {
	font:10px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Geneva, sans-serif;
	Xfont-size: 10px;
	color: #777777;
	padding: 5px;
	padding-bottom: 0px;
}
#noticelist #o #n_content #i_link {
	font:10px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Geneva, sans-serif;
	Xfont-size: 10px;
	text-align: center;
	padding: 5px;
	padding-bottom: 2px;
}
#noticelist #o #n_content #i_link a, 
#noticelist #o #n_content #i_link a:link {
	text-decoration: none;
	color: #000000;
}
/* divider */
#noticelist #r #n_table {
	margin-top: 2px;
}
#noticelist #r #n_title {
	font:11px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Geneva, sans-serif;
	Xfont-size: 11px;
	color: #FFF;
	background-color: #F2A402;
	padding: 5px;
}
#noticelist #r #n_content {
	background-color: #FECC66;
	padding: 5px;
}
#noticelist #r #n_content #i_table {
}
#noticelist #r #n_content #i_field {
	font:10px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Geneva, sans-serif;
	Xfont-size: 10px;
	background-color: #F7A700;
	width: 90px;
	color: #FFEBC2;
	padding: 4px;
}
#noticelist #r #n_content #i_value {
	font:11px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Geneva, sans-serif;
	Xfont-size: 11px;
	background-color: #FFE6B1;
	color: #6A4700;
	padding: 4px;
}
#noticelist #r #n_content #i_value a, 
#noticelist #r #n_content #i_value a:link {
	text-decoration: none;
	color: #6A4700;
}
#noticelist #r #n_content #i_thumb {
	width: 100px;
}
#noticelist #r #n_content #i_issue {
	font:10px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Geneva, sans-serif;
	Xfont-size: 10px;
	width: 90px;
	color: #B87C00;
	padding: 5px;
	padding-bottom: 0px;
}
#noticelist #r #n_content #i_date {
	font:10px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Geneva, sans-serif;
	Xfont-size: 10px;
	color: #B87C00;
	padding: 5px;
	padding-bottom: 0px;
}
#noticelist #r #n_content #i_link {
	font:10px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Geneva, sans-serif;
	Xfont-size: 10px;
	text-align: center;
	padding: 5px;
	padding-bottom: 2px;
}
#noticelist #r #n_content #i_link a, 
#noticelist #r #n_content #i_link a:link {
	text-decoration: none;
	color: #6A4700;
}
/* NOTICE STYLES END HERE */
/* NAVIGATION (TOP) BEG HERE */
#tw_tabs {
	height: 16px;
}
#tw_tabs table {
	width: 100%;
}
#tw_tabs td {
	text-align: center;
	background-color: #ebebeb;
}
#tw_tabs td a, 
#tw_tabs div a:link {
	font:11px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, sans-serif;
	Xfont-size: 11px;
	display: block;
	padding: 4px;
	text-decoration: none;
	color: #000;
	padding-left: 8px;
	padding-right: 8px;
}
#tw_tabs td a:hover {
	background-color: #666666;
	color: #FFFFFF;
}
#tw_tabs td#active a {
	background-color: #2d2d2d;
	color: #FFFFFF;
}
/* ul#tw_tabs {
	margin: 0px;
    padding: 0px;
	list-style-type: none;
    white-space: nowrap;
	cbackground-color: #000000;
	width: 100%;
}
ul#tw_tabs li {
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0px;
	margin-top: 0px;
	white-space: nowrap;
	cpadding: 2px 0px 3px 0px;
	width: 25%;
	display: block;
}
ul#tw_tabs li a, 
ul#tw_tabs li a:link {
	color: #CCCCCC;
	text-align: center;
	text-decoration: none;
    margin: 0px;
    padding: 4px 2px 5px 2px;
	background-color: #999999;
	width: 100%;
}
ul#tw_tabs li#active a, 
ul#tw_tabs li#active a:link {
	color: #FFFFFF;
	background-color: #5F8BB4;
}
ul#tw_tabs li a:hover {
	color: #FFFFFF;
	margin: 0px;
	cpadding: 2px 8px 3px 8px;
} */
/* NAVIGATION (TOP) END HERE */

#contact_info{
	font:11px/1.5 Verdana,sans-serif;
	Xfont-family: "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	Xfont-size: 11px;
}
#contact_info #lk {
	background-color: #F1F1EA;
	text-align: center;
	padding: 4px;
}
#contact_info #lk a {
	text-decoration: none;
	color: #000000;
}
#contact_info #lk a:hover{
	font-weight: bold;
	color: #FF0000;
}
#contact_info #heading {
	line-height: 160%;
	background-color: #F2A402;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}
#contact_info #divider {
	font-size: 1px;
	height: 3px;
}
#contact_info #fgl {
	padding: 4px;
	width: 18px;
}
#contact_info #fgl {
	padding: 2px;
	width: 18px;
}
#contact_info #fgv, 
#contact_info #icv {
	background-color: #F1F1EA;
	font-family: "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	padding: 3px;
	font-weight: bold;
	font-size: 11px;
}
#contact_info #fgv a, 
#contact_info #icv a {
	text-decoration: none;
	color: #000000;
}
#contact_info #fgv a:hover, 
#contact_info #icv a:hover {
	color: #FF0000;
}
#flash_news {
	width: 980px;
	margin-bottom: 5px;
}
#flash_news #label {
	font-size: 10px;
	background-color: #BB0000;
	color: #FFFFFF;
	width: 90px;
	padding: 3px;
	text-align: center;
}
#flash_news #heading {
	background-color: #FFFFFF;
	padding: 3px;
}
#flash_news #heading a, 
#flash_news #heading a:link {
	background-color: #FFFFFF;
	color: #000000;
}
/* PAGE RELATED STYLES BEG HERE */
#page {
	font-family: 'open sans', "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#page #heading {
	font-weight: bold;
	font-size: 16px;
	padding: 10px 4px 10px 4px;
}
#page #content {
	line-height: 180%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #474747;
	padding: 0 4px 10px 4px;
}
#page #content p {
	margin-top: 11px;
	margin-bottom: 11px;
}
#page #updated {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #999999;
}
#page img {
	border: 2px solid #e9e9e9;
}
#page a {
	font-family: "Lucida Sans Unicode", Verdana, Arial, sans-serif;
	color: #353535;
	font-weight: bold;
	font-size: 14px;
}
/* PAGE RELATED STYLES END HERE */
/*  */
ul.menu, ul.menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Lucida Sans Unicode", Verdan, Arial, sans-serif;
}

ul.menu a {
  display: block;
  text-decoration: none;	
}

ul.menu li {
  margin-top: 1px;
}

ul.menu li a {
  background: #333;
  color: #fff;	
  padding: 0.5em;
}

ul.menu li a:hover {
  background: #000;
}

ul.menu li ul li a {
  background: #ccc;
  color: #000;
  padding-left: 20px;
}

ul.menu li ul li a:hover {
  background: #aaa;
  border-left: 5px #000 solid;
  padding-left: 15px;
}

.code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }
.indent3 { padding-left: 3em; }
.indent4 { padding-left: 4em; }
.indent5 { padding-left: 5em; }
/*  */
/*  */
#event {
	font:12px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Arial;
	Xfont-size: 12px;
	width: 100%;
}
#event #heading {
	font-family: 'open sans', "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	text-align: center;
	color: #777;
	font-size: 18px;
	padding: 10px 2px 8px 2px;
	border-bottom: 2px solid #dfdfdf;
}
#event #content {
	line-height: 180%;
}
#event #content  a{
	color: #0042ff;
}
#event #content p {
	margin-top: 10px;
	margin-bottom: 10px;
}
#event #content img#image {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
/*  */

/* Flash news related styles beg here */
#holderz {
	width: 980px;
	height: 31px;
	background-color: #FFFFFF;
	border: solid 1px #BBBBBB;
	text-align: right;
	margin-bottom: 5px;
}
#clipz{
	position:absolute;
	color: #000000;
	text-align: left;
	font:10px/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Arial;
	cborder: solid 1px #000000;
	Xfont-size: 10px;
	cursor: pointer;
	padding: 2px;
	display: block;
}
#clipz a, 
#clipz a:link, 
#clipz a:visited{
	text-decoration: none;
	margin-left: 8px;
	display: inline-block;
}
#slider_up {
	cposition: absolute;
	cursor: pointer;
	margin-top: 2px;
	margin-right: 2px;
} 
#slider_down {
	cposition: absolute;
	cursor: pointer;
	margin-top: 1px;
	margin-right: 2px;
}
/* Flash news related styles end here */

.body_advert {
	margin-top: 5px;
}

body .chfdov {
    display: block;
    background-color: #D00;
    text-align: center;
    padding: 30px;
    color: #FFF;
    font:2.7em/1.5 Verdana, sans-serif;
	Xfont-family: Verdana, Arial;
    Xfont-size: 2.7em;
    text-decoration: none;
}



.manithan #photo img {
	height: 70px;
	width: 100px;
}

/* Header Style */
.xyz {
	background: #2e2e2e;
}
/* NAVIGATION (TOP) BEG HERE */
#navtop {
	width: 100%;
	background: #b60002;
	border-bottom: 0px solid #CCCCCC;
}
#navtop #area {
	height: 34px;
	width: 980px;
}
#navtop #area #makehome {
	font-family: "Lucida Sans Unicode", Verdana, Arial, sans-serif;
	font-size: 12px;
	text-align: right;
}
#navtop #area #makehome a, 
#navtop #area #makehome a:link {
	color: #FFFFFF;
}
#navtop #area ul#links {
        margin: 0px;
        padding: 0px;
		padding-left: 3px;
        list-style-type: none;
        white-space: nowrap;
}
#navtop #area ul#links li {
        float: left;
		font-family: 'open sans', "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
        font-size: 13px;
        margin: 0px;
        white-space: nowrap;
        padding: 2px 0px 2px 0px;
}
#navtop #area #links a, #navtop #area #links a:link {
        color: #FFFFFF;
		text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        margin: 0px;
        padding: 2px 8px 2px 8px;
		font-family: 'open sans', "Lucida Sans Unicode", Verdana, Arial, sans-serif;
		font-weight: 500;
}
#navtop #area ul#links li#active {
        color: #9E9E9E;
}
#navtop #area #links a:hover {
        color: #000;
        background-color: #f5f5f5;
        margin: 0px;
        padding: 4px 8px 4px 8px;
}
/* NAVIGATION (TOP) END HERE */
#banner {
	width: 980px;
	height: 70px;
}
#banner #logo {
	width: 171px;
	padding: 10px 0 10px 0;
}
#banner #advert {
	text-align: right;
}
#banner #advert_page {
	float: right;
	text-align: right;
	padding: 6px 0 6px 0;
}
#topspace {
	background-color: #FFFFFF;height: 38px; padding-top: 8px;
}
#topspace table {
	width: 980px;
	padding: 6px 3px 6px 3px;
}
#topspace #twitter {
	width: 100px;
}
#topspace #makehome {
	width: 150px;
}
#topspace #makehome a,
#topspace #makehome a:link  {
	color: #000;
	font-family: 'open sans', "Lucida Sans Unicode", Verdana, Arial, sans-serif;
	font-size: 12px;
	text-align: right;
}
#topspace #follow {
	width: 80px;
	color: #000;
	font-family: 'open sans', "Lucida Sans Unicode", Verdana, Arial, sans-serif;
	font-size: 12px;
	text-align: center;
}
#topspace #social,
#topspace #social a,
#topspace #social a:link  {
	width: 60px;
	color: #000;
	font-family: 'open sans', "Lucida Sans Unicode", Verdana, Arial, sans-serif;
	font-size: 12px;
	text-align: left;
}
#topspace #useronline {
	width: 150px;
}


#banner {
	width: 980px;
	height: 70px;
}

#advertsub {
}
#advertsub td {
	width: 235px;
	padding: 3px;
	text-align: center;
}
#advertsub td img {
	border: 0px solid #CCCCCC;
}

.premiumads{
	margin-bottom: 6px;
}

.flytext {font-size: 14px; }
.flytext a {color: #F1760F! Important } 

-->