@charset "utf-8";

html {
	
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,menu,nav
{
	margin: 0;
	padding: 0;
}

body {
	color: #666;
	font: 12px/150% Verdana, Arial, Helvetica, sans-serif;
	background: #ECF0F2;
	/*background: #ECF0F2 url(../img/christmas-bg1.png) no-repeat center 380px;*/
}

body.page {
	color: #bbb;
	background: url(../img/bg.png) #222;
}

body.page a,.canvas a {
	color: #2387BC;
}

::selection {
	background-color: #669900;
	color: #ffffff;
}

::-moz-selection {
	background-color: #669900;
	color: #ffffff;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,th,var,optgroup {
	font-style: inherit;
	font-weight: inherit;
}

del,ins {
	text-decoration: none;
}

li {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: baseline;
}

sub {
	vertical-align: baseline;
}

legend {
	color: #000;
}

input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	/*outline:none;*/
	outline-color: #4787ED;
}

input,button,textarea,select {
	*font-size: 100%;
}

a {
	cursor: pointer;
	color: #003555;
	text-decoration: none;
}

a:link {
	color: #003555;
	text-decoration: none;
}

a:visited {
	color: #003555;
	text-decoration: none;
}

a:active {
	color: #D3A009;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: underline;
}

.clear {
	clear: both;
	height: 0;
}
.hide{
	display: none;
}
.radius {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.radius-1-2 {
	-moz-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.radius-2-3 {
	-moz-border-radius: 0 5px 5px 0;
	-khtml-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.radius-3-4 {
	-moz-border-radius: 0 0 5px 5px;
	-khtml-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.radius-1-4 {
	-moz-border-radius: 5px 0 0 5px;
	-khtml-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
/* tip ========================== */
.tip {
	color: #999;
}

.tip.normal {
	color: #999;
}

.tip.error {
	color: #F70400;
}

.tip.info {
	color: #0355FF;
}

.tip.accept {
	color: #01A401;
}

.tip.warning {
	color: #F29734;
}

.star {
	height: 16px;
	width: 80px;
	display: inline-block;
	background: url(../img/star.png) no-repeat;
}

.star.s50 {
	
}

.star.s45 {
	background-position: 0 -16px;
}

.star.s40 {
	background-position: 0 -32px;
}

.star.s35 {
	background-position: 0 -48px;
}

.star.s30 {
	background-position: 0 -64px;
}

.star.s25 {
	background-position: 0 -80px;
}

.star.s20 {
	background-position: 0 -96px;
}

.star.s15 {
	background-position: 0 -112px;
}

.star.s10 {
	background-position: 0 -128px;
}

.star.s05 {
	background-position: 0 -144px;
}

.star.s00 {
	background-position: 0 -160px;
}

.star-24 {
	background: url(../img/star-24.png) no-repeat;
	height: 24px;
	width: 120px;
	display: inline-block;
}

.star-24.s50 {
	
}

.star-24.s45 {
	background-position: 0 -24px;
}

.star-24.s40 {
	background-position: 0 -48px;
}

.star-24.s35 {
	background-position: 0 -72px;
}

.star-24.s30 {
	background-position: 0 -96px;
}

.star-24.s25 {
	background-position: 0 -120px;
}

.star-24.s20 {
	background-position: 0 -144px;
}

.star-24.s15 {
	background-position: 0 -168px;
}

.star-24.s10 {
	background-position: 0 -192px;
}

.star-24.s05 {
	background-position: 0 -216px;
}

.star-24.s00 {
	background-position: 0 -240px;
}

#rating span.star-24 div {
	float: left;
	width: 12px;
	height: 24px;
	line-height: 24px;
	border-bottom: 0px solid red;
	cursor: pointer;
}

#rating i {
	margin-left: 10px;
	font-size: 1.8em;
	font-weight: bold;
	color: #F87F67;
}

.st {
	background: url(../img/icons.stream-color-12.png) no-repeat 0 0 transparent;
	padding-left: 16px;
}
.st.st_1 {
	background-position: 0 2px;
}
.st.st_2 {
	background-position: 0 -28px;
}
.st.st_3 {
	background-position: 0 -58px;
}
.st.st_4 {
	background-position: 0 -88px;
}
.st.st_5 {
	background-position: 0 -118px;
}
.st.st_6 {
	background-position: 0 -148px;
}
.sts {
	background: url(../img/icons.stream-color-8.png) no-repeat 0 -600px transparent;
	padding-left: 12px;
}
.sts.sts_1 {
	background-position: 0 4px;
}
.sts.sts_2 {
	background-position: 0 -26px;
}
.sts.sts_3 {
	background-position: 0 -56px;
}
.sts.sts_4 {
	background-position: 0 -86px;
}

.sts.sts_5 {
	background-position: 0 -116px;
}
.sts.sts_6 {
	background-position: 0 -146px;
}
.icon {
	padding-left: 18px;
	background: url(../img/icons.png?003) no-repeat left 100px transparent;
}
.icon.my {
	background-position: 0 0px;
}
.icon.login {
	background-position: 0 -30px;
}
.icon.logout {
	background-position: 0 -60px;
}
.icon.logup {
	background-position: 0 -90px;
}
.icon.bookmark {
	background-position: 0 -120px;
}
.icon.history {
	background-position: 0 -150px;
}
.icon.setting {
	background-position: 0 -180px;
}
.icon.setting {
	background-position: 0 -180px;
}
a.rss {
	display: inline-block;
	font-weight: bold;
	padding-left: 22px;
	margin-right: 15px;
	line-height: 18px;
	background-position:left -930px;
}
a.bmk {
	display: inline-block;
	font-weight: bold;
	padding-left: 22px;
	margin-right: 5px;
	background-position:left -900px;
}
a.cmt {
    display: inline-block;
    font-weight: bold;
    padding-left: 22px;
    margin-right: 5px;
    background-position: left 1px;
    background: url(../img/icon.comment.png) no-repeat 0 0 transparent;
}
#save_msg {
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: none;
}

#save_msg span {
    padding: 10px 100px;
    border: 1px solid #4DFE4C;
    background: #DAFFD9;
    color: #000;
    font-size: 1.6em;
    font-weight: bold;
}

/* ------- .pagebar ----- */
.paging-bar {
	display: table;
	width: 960px;
	padding-bottom: 10px;
	margin: 10px auto 20px auto;
	background: url(../img/line-x-960.png) no-repeat scroll center bottom
		transparent;
}

.paging-bar .paging {
	float: right;
}

.paging-bar .paging li {
	float: left;
	margin: 0 0 0 0;
}

.paging-bar .paging li span,.paging-bar .paging li a {
	padding: 3px 6px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.paging-bar .paging li.current span,.paging-bar .paging li.current a {
	color: #fff;
	background: #FF8708;
}

.paging-bar .paging.order {
	float: left;
	margin-right: 5px;
}

.paging-bar .paging.order li {
	color: #666;
}

.paging-bar .paging.order .current {
	font-weight: bold;
}

.paging-bar .paging .total {
	color: #666;
	padding-right: 5px;
}

.paging-bar .opts {
	float: left;
}

.paging-bar .opts li {
	float: left;
}

.paging-bar .opts li a {
	padding: 0 18px 5px 0;
	margin-right: 5px;
	background: url(../img/icons.png) no-repeat 0 0;
}

.paging-bar .opts li.lst1 a {
	background-position: 0 -420px;
}

.paging-bar .opts li.lst2 a {
	background-position: 0 -240px;
}

.paging-bar .opts li.lst3 a {
	background-position: 0 -330px;
}

.paging-bar .opts li.lst1 a:hover {
	background-position: 0 -450px;
}

.paging-bar .opts li.lst2 a:hover {
	background-position: 0 -270px;
}

.paging-bar .opts li.lst3 a:hover {
	background-position: 0 -360px;
}

.paging-bar .opts li.lst1.on a,.paging-bar .opts li.lst1.on a:hover {
	cursor: default;
	background-position: 0 -390px;
}

.paging-bar .opts li.lst2.on a,.paging-bar .opts li.lst2.on a:hover {
	cursor: default;
	background-position: 0 -210px;
}

.paging-bar .opts li.lst3.on a,.paging-bar .opts li.lst3.on a:hover {
	cursor: default;
	background-position: 0 -300px;
}
/* ======== start main css ======== */
header,section,footer {
	display: table;
	clear: both;
	width: 100%;
	min-width: 960px;
}

div.content {
	clear: both;
	width: 960px;
	margin: 0 auto;
}

section .hd {
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	background: url(../img/line-x-960.png) no-repeat scroll center bottom
		transparent;
}

section .hd a.more {
	float: right;
	color: #0A86A9;
	font-weight: bold;
	font-style: italic;
}

section .hd a.more:hover {
	color: #FF8708;
}

section .hd a.rss {
	float: right;
	margin: 8px auto auto auto;
}

section .hd a.rss:hover {
	text-decoration: none;
}

section .hd h1,section .hd h2,section .hd h3,section .hd h4 {
	float: left;
	color: #003555;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

section .hd h2,section .hd h3,section .hd h4 {
	color: #8B2F20;
}

section .hd.sub {
	margin-top: 10px;
}

header.cm {
	height: 38px;
	padding: 20px 0 20px 0;
	background: url(../img/line.jpg) left bottom repeat-x;
	margin-bottom: 10px;
}

header.cm .hd {
	position: relative;
	margin: 0 auto;
}

header.cm div.logo {
	position: absolute;
	left: 0;
	top: -12px;
	/* top: -33px; */
}

header.cm div.logo span {
	display: block;
	height: 38px;
	line-height: 999px;
	overflow: hidden;
	font-size: 0;
}

header.cm div.logo a {
	position: absolute;
	left: 0;
	top: 12px;
}

header.cm .bar {
	display: table;
	width: 100%;
	height: 38px;
	color: #fff;
	background: #05A2C6;
}

/*
header.cm .nav{
    height: 100%;
	width: 960px;
	margin: 0 auto;	
}
header.cm nav{
    display: inline;
    float: left;
    overflow: hidden;
    font-weight: bold;
    font-size: 1.2em;
	
	float: left;
	height: 100%;
}
header.cm nav li{
    position: relative;
    float: left;
    margin-right: 0;
}
header.cm nav li a {
	display: block;
	outline: none;

	padding: 0 12px;
	line-height: 38px;
	height: 38px;
	
    text-decoration: none;
	
    color: #fff;
	background: #069BBD;
}
header.cm nav li a:hover {
    color: #fefefe;
    background: #0795B7;
}
header.cm nav li.on a {
    color: #fff;
    background: #0A86A9;
}
*/
header.cm nav {
	position: relative;
	display: inline;
	float: left;
	overflow: hidden;
	font-weight: bold;
	font-size: 16px;
}

header.cm nav li {
	position: relative;
	float: left;
	height: 38px;
	line-height: 38px;
	margin-left: 5px;
}

header.cm nav li a {
	color: #3D557C;
	padding: 0px 8px;
	display: block;
	outline: none;
	text-decoration: none;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

header.cm nav li a:hover {
	color: #3D557C;
	background: #DBE3EA;
}

header.cm nav li b {
	content: '';
	display: block;
	margin: 0 auto;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom: none;
}

header.cm nav li.on {
	
}

header.cm nav li.on a {
	color: white;
	background: #4774A7;
}

header.cm .random {
	position: relative;
	padding: 5px 0 0 18px;
	margin: 0 0 0 10px;
	top: 14px;
	background-position: 0 -870px;
}

header.cm .alpha {
	width: 958px;
	height: 29px;
	border: 1px solid #05A2C6;
	border-top: none;
	text-align: center;
	background: #fff;
	background: transparent;
	background: #F6FDFF;
	-moz-border-radius: 0 0 5px 5px;
	-khtml-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

header.cm .alpha menu {
	margin: 0;
	padding: 5px 0 0 0;
}

header.cm .alpha li {
	float: left;
	margin-left: 6px;
}

header.cm .alpha li.first {
	margin-left: 12px;
}

header.cm .alpha li a {
	color: #028EB1;
	border: 1px solid #BBE9F3;
	font-weight: bold;
	padding: 3px 8px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

header.cm .alpha li a:link,header.cm .alpha li a:visited {
	color: #028EB1;
	text-decoration: none;
}

header.cm .alpha li a:active,header.cm .alpha li a:hover {
	color: #FF5A00;
	border: 1px solid #FF5A00;
}

header.cm .util {
	margin-left: 200px;
}

header.cm .search {
	position: relative;
	float: left;
	height: 24px;
	margin: 6px auto auto 10px;
}

header.cm .search input {
	float: left;
	color: #999;
	width: 130px;
	height: 24px;
	line-height: 24px;
	text-indent: 5px;
    vertical-align: middle; 
	margin: 0;
	padding: 0;
    border: 1px solid #999;
	
	outline-color: transparent;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

header.cm .search button {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 2px;
	width: 24px;
	height: 24px;
	border: none;
	background: url(../img/icons.png) no-repeat 4px -686px transparent;
}

header.cm .search ul {
	clear: both;
}

header.cm .search li {
	float: left;
	margin-right: 10px;
	line-height: 28px;
}

header.cm .sign {
	float: right;
	color: #000;
	margin-top: 6px;
}

header.cm .sign li {
	float: left;
	margin-left: 10px;
	line-height: 28px;
}

header.cm .sign li a {
	cursor: pointer;
	display: inline-block;
	font-size: 1.2em;
	padding: 2px 6px;
	text-decoration: none;
}

header.cm .user {
	float: right;
	margin-top: 10px;
}

header.cm .user li {
	float: left;
}

header.cm .user a {
	font-size: 1.2em;
	text-decoration: none;
	margin-left: 5px;
}

header.cm .user a.my {
	max-width: 116px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}

header.cm .user a.my span {
	
}

header.cm .user a.reg {
	margin-right: 10px;
}

header.cm .user i {
	color: #4774A7;
	margin-right: 3px;
}

/* ------- header.mini ----- */
header.mini {
	color: #CCC;
	font: 13px/27px Arial, sans-serif;
	width: 100%;
	height: 29px;
	background: #2D2D2D url(../img/top-bar-bg.png) repeat-x;
	border-bottom: 1px solid #333;
	white-space: nowrap;
	opacity: 1;
	filter: alpha(opacity =   100);
}

header.mini .content {
	position: relative;
}

header.mini .logo {
	position: absolute;
	left: 0;
	top: 0;
}

header.mini .logo a {
	padding: 0;
	background: transparent;
}

header.mini .logo a img {
	margin-top: 4px;
}

header.mini nav {
	float: right;
}

header.mini nav li {
	float: left;
	height: 29px;
	line-height: 29px;
	margin-left: 12px;
}

header.mini nav li a {
	color: #CCC;
	font-weight: bold;
}

header.mini nav li a,
header.mini nav li a:link,
header.mini nav li a:active,
header.mini nav li a:visited
{
	text-decoration: none;
}

header.mini nav li a:hover {
	text-decoration: underline;;
}

header.mini .search {
	position: relative;
	float: left;
	height: 20px;
	margin-top: 4px;
	margin-left: 160px;
}

header.mini .search input {
	float: left;
	color: #666;
	line-height: 20px;
	text-indent: 5px;
	width: 180px;
	height: 20px;
	margin: 0;
	padding: 0;
	border: 1px solid #555;
	background-color: #444;
	outline-color: transparent;
}

header.mini .search button {
	cursor: pointer;
    position: absolute;
    right: 0;
    top: 2px;
	width: 24px;
	height: 20px;
	border: none;
	background: url(../img/icons.png) no-repeat 4px -688px transparent;
	
}

/* ========= section switch =========== */
section.switch {
	padding: 10px 0;
	background: #4774A7;
}

section.switch,section.switch a {
	color: #fff;
}

section.switch a:hover {
	color: red;
}

section.switch .content {
	
}

section.switch .header {
	position: relative;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	background: url(../img/line-x-960.png) no-repeat scroll center bottom
		transparent;
}

section.switch .header h2 {
	width: 100%;
	font-weight: bold;
	font-size: 1.2em;
}

section.switch .header h2 a {
	padding-right: 16px;
}

section.switch .header h2 a:hover {
	text-decoration: none;
	background: transparent url(../img/external-link.gif) no-repeat top
		right;
}

section.switch .mainer {
	width: 100%;
	overflow: hidden;
}

section.switch .container {
	position: relative;
	display: table;
	width: 10000px;
	/* height: 360px; */
	overflow: hidden;
}

section.switch .screen {
	display: table;
	float: left;
	width: 960px;
}

section.switch .thm-list li {
	float: left;
	text-align: center;
	width: 113px;
	height: 188px;
	margin-right: 8px;
}

section.switch .thm-list li.r {
	margin-right: 0;
}

section.switch .thm-list li a.thm-effect {
	display: block;
	height: 130px;
	padding: 3px;
	text-align: center;
	border: 1px solid #D7D7D7;
	background: #fff;
}

section.switch .thm-list li a.thm-effect img {
	width: 100%;
	height: 130px;
	z-index: 0;
	background: url(../img/loading.gif) no-repeat center center transparent;
}

section.switch .thm-list li h3,section.switch .thm-list li h4 {
	overflow: hidden;
	text-align: center;
	height: 19px;
	font-size: 1.0em;
	line-height: 1.5em;
	font-weight: bold;
}

section.switch .thm-list li h4 {
	font-weight: normal;
}

section.switch .ctl {
	display: none;
	position: absolute;
	top: 6px;
	right: 0;
}

section.switch .ctl .prev,section.switch .ctl .next {
	cursor: pointer;
	float: left;
	height: 18px;
	width: 18px;
	border: none;
	background: #ccc;
	margin-left: 5px;
	-moz-border-radius: 9px;
	-khtml-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}

section.switch .ctl .prev.on,section.switch .ctl .next.on {
	background: #89B641;
}

section.switch .ctl .prev b,section.switch .ctl .next b {
	cursor: pointer;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 5px solid transparent;
}

section.switch .ctl .prev b {
	margin: 4px auto auto 6px;
	border-left: none;
	border-right-color: #fff;
}

section.switch .ctl .next b {
	margin: 4px auto auto 8px;
	border-right: none;
	border-left-color: #fff;
}

section.switch .ctl .page {
	float: left;
	padding-top: 0px;
}

section.switch .ctl .page li {
	float: left;
}

section.switch .ctl .page li a {
	color: #eee;
	cursor: pointer;
	float: left;
	height: 8px;
	width: 8px;
	border: none;
	background: #ccc;
	margin: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

section.switch .ctl .page li.on a {
	background: #89B641;
}

section.home {
	padding: 10px 0;
}

section.home h2 {
	color: #003555;
}

section.home h2 a {
	padding-right: 16px;
}

section.home h2 a:hover {
	text-decoration: none;
	background: transparent url(../img/external-link.gif) no-repeat top
		right;
}

section.home .hd ul {
	float: right;
}

section.home .hd li {
	float: left;
}

section.home .hd li a {
	padding: 0 0 5px 18px;
	margin-left: 5px;
	background: url(../img/icons.png) no-repeat 0 0;
}

section.home .hd li.lst1 a {
	background-position: 0 -240px;
}

section.home .hd li.lst2 a {
	background-position: 0 -330px;
}

section.home .hd li.lst1 a:hover {
	background-position: 0 -270px;
}

section.home .hd li.lst2 a:hover {
	background-position: 0 -360px;
}

section.home .hd li.lst1.on a,section.home .hd li.lst1.on a:hover {
	cursor: default;
	background-position: 0 -210px;
}

section.home .hd li.lst2.on a,section.home .hd li.lst2.on a:hover {
	cursor: default;
	background-position: 0 -300px;
}

section.home article {
	float: left;
	width: 600px;
}

section.home aside {
	float: right;
	width: 320px;
	padding: 10px;
	background: #F3F3F3;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

section.home article table {
	width: 100%;
}

section.home article table tr {
	border-bottom: 1px dashed #d0d8dc;
}

section.home article table td {
	vertical-align: top;
	position: relative;
	padding: 10px 0;
}

section.home article table tr.first td {
	padding-top: 0;
}

section.home article table a.cover img {
	padding: 2px;
	border: 1px solid #D7D7D7;
	background: #fff url(../img/loading.gif) no-repeat center center;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

section.home article table h3 {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 22px;
	background: transparent url(../img/book-open.png) no-repeat left 1px;
}

section.home article table .closed h3 {
	background-image: url(../img/book-closed.png);
}

section.home article table .new h3 a {
	color: green;
}

section.home article table .hot h3 a {
	color: red;
}

section.home article table .info {
	line-height: 1.2em;
	background: #E1E8EC;
	padding: 0 8px;
	margin: 10px 0;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

section.home article table .info .field {
	border-bottom: 1px dotted #d0d8dc;
	line-height: 2.0em;
}

section.home article table .info .field.last {
	border-bottom: none;
}

section.home article table .info .field b {
	margin-right: 5px;
	color: #777;
}

section.home article table .info .field b.pd {
	margin-left: 10px;
}

section.home article table li {
	line-height: 1.6em;
}

section.home article table li span {
	color: #999;
	display: inline-block;
	width: 360px;
	white-space: nowrap;
	overflow: hidden;
}

section.home article table li i {
	float: right;
	color: #999;
	font-size: 9px;
	margin-left: 5px;
}

section.home article div.more {
	text-align: right;
	margin-top: 10px;
}

section.home article .ls1 {
	
}

section.home article .ls1 .item {
	float: left;
	overflow: hidden;
	text-align: left;
	width: 295px;
	padding: 0 10px 5px 0;
	border-bottom: 1px dotted #d0d8dc;
	margin-bottom: 10px;
}

section.home article .ls1 .item.r {
	padding-right: 0;
}

section.home article .ls1 .item .cover {
	float: left;
}

section.home article .ls1 .item .cover img {
	padding: 2px;
	border: 1px solid #D7D7D9;
	background: url(../img/loading.gif) no-repeat center center transparent;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

section.home article .ls1 .item ul {
	float: left;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	width: 221px;
	margin: auto auto auto 8px;;
}

section.home article .ls1 .item h3 {
	font-size: 1.1em;
	font-weight: bold;
	text-indent: 20px;
	margin-bottom: 5px;
	background: url(../img/icons.png) no-repeat 0 -658px transparent;
}

section.home article .ls1 .item li {
	line-height: 22px;
}

section.home article .ls1 .item span {
	float: left;
	width: 116px;
	overflow: hidden;
}

section.home article .ls1 .item i {
	float: right;
	color: #999;
	font-size: 9px;
	margin-left: 5px;
}

section.home article .ls1 .item.hot h3 a {
	color: #FF0084;
}

section.home article .ls1 .item.new h3 a {
	color: #37A51D;
}

section.home article .ls1 .item.closed h3 {
	background-position: 0 -568px;
}

section.home article .ls1 .item li.new,section.home article .ls1 .item li.new a
	{
	color: #37A51D;
}

section.home .social .share {
	margin: 10px auto auto 23px;
}

section.home .genres {
	display: table;
	margin-top: 10px;
}

section.home .genres li {
	float: left;
	width: 50%;
	line-height: 22px;
}

section.home .genres .count {
	font-size: 11px;
	color: #999;
}

/* ========= History ======== */

section.home .his {
	display: table;
	margin-bottom: 20px;
}

section.home .his ul {
	display: table;
	width: 320px;
}

section.home .his li {
	position: relative;
	display: inline-block;
	width: 100%;
	border-bottom: 1px dashed #d0d8dc;
}

section.home .his li.last {
	margin-bottom: 0;
}

section.home .his li a.cover {
	float: right;
}

section.home .his li a.cover img {
	width: 38px;
	height: 38px;
	padding: 2px;
	border: 1px solid #D7D7D7;
	background: #fff url(../img/loading.gif) no-repeat center center;
}

section.home .his li div {
	float: left;
	height: 52px;
	line-height: 26px;
	width: 255px;
	overflow: hidden;
	white-space: nowrap;
}

section.home .his li div h3 {
	font-weight: bold;
}
section.home .his li div i {
	color: #999;
	margin-left: 10px;
}
section.home .his li.new div i {
	color: #37A51D;
}
section.home .his li span.del {
	position: absolute;
	top: 2px;
	right: 48px;
	display: none;
	cursor: pointer;
	width: 26px;
	height: 26px;
	background: #E1E8EC url(../img/delete.png) no-repeat center center;
	
	-moz-border-radius: 13px;
	-khtml-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
}
section.home .his li:hover span.del{
	display: block;
}
section.home .his .hs-anywhere{
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #ffe45c;
	background: #FFF0D6;
}
section.home .his div.more {
	text-align: right;
	margin-top: 10px;
}

/* ========================== */
section.home .top {
	display: table;
	margin-top: 20px;
}

section.home .top ul {
	display: table;
}

section.home .top li {
	display: inline-block;
	width: 100%;
	border-bottom: 1px dashed #d0d8dc;
}

section.home .top li.last {
	margin-bottom: 0;
}

section.home .top li a.cover {
	float: right;
}

section.home .top li a.cover img {
	width: 50px;
	height: 50px;
	padding: 2px;
	border: 1px solid #D7D7D7;
	background: #fff url(../img/loading.gif) no-repeat center center;
}

section.home .top li div {
	float: left;
	height: 52px;
	line-height: 26px;
	width: 230px;
	overflow: hidden;
	white-space: nowrap;
}

section.home .top li div h3 {
	font-weight: bold;
}

section.home .top li div i {
	color: #666;
	margin-left: 10px;
}

section.home .top li.new div i {
	color: #37A51D;
}

section.home .top div.more {
	text-align: right;
	margin-top: 10px;
}

section.manga {
	margin: 0 auto;
	padding: 10px 0;
}

section.manga table.outer {
	width: 100%;
}

section.manga table.outer tr {
	vertical-align: top;
}

section.manga table.attr {
	width: 100%;
}

section.manga table.attr tr {
	vertical-align: top;
}

section.manga table.attr th {
	display: block;
	color: #272727;
	font-weight: 700;
	text-align: right;
	padding: 2px 10px;
}

section.manga table.attr td {
	padding: 2px 10px 2px 0;
}

section.manga table.attr td .lest li{
	float: left;
	margin-right: 8px;
}
section.manga table.attr td .lest li.new a.ch {
	color: green;
	font-weight: bold;
}

section.manga .cover img {
	padding: 5px;
	border: 1px solid #D7D7D9;
	background: url(../img/loading.gif) no-repeat center center transparent;
	background-color: white;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

section.manga .summary {
	margin: 10px auto;
}

section.manga .latest {
	margin: 10px auto;
	background: #E1E8EC;
}

section.manga .latest p {
	color: #8B2F20;
	font-weight: bold;
	line-height: 1.6em;
	padding: 5px 10px;
}

section.manga .latest div {
	padding: 0 10px;
}

section.manga .latest div dl {
	display: table;
	width: 100%;
	border-bottom: 1px dashed #efefef;
}

section.manga .latest div dl:last-child {
	border-bottom: 0;
}

section.manga .latest div dt,section.manga .latest div dd {
	float: left;
	line-height: 2em;
}

section.manga .latest div dt {
	cursor: pointer;
	width: 108px;
	font-weight: bold;
	background: url("../img/expand-stream.png") no-repeat scroll 80px 6px
		transparent;
}

section.manga .latest div dd {
	width: 160px;
}

section.manga .latest div dt a:hover {
	color: #086D88;
	text-decoration: none;
}

section.manga .latest div dd.new a {
	color: green;
	font-weight: bold;
}

section.manga .share_addthis {
	height: 32px;
	margin-top: 20px;
}

section.manga .warning {
	border: 2px solid #AC0008;
	padding: 20px 20px 20px 100px;
	color: #333;
	text-align: left;
	background: url("../img/warning.gif") no-repeat scroll 6px 6px #FEF5F7;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

section.manga .warning .goto {
	clear: both;
	color: #AC0008;
	font-weight: bold;
	padding: 5px;
	line-height: 30px;
	background: none repeat scroll 0 0 #FFCF76;
}

section.manga .relate {
	display: table;
	width: 100%;
}

section.manga .relate li {
	float: left;
	margin-right: 30px;
	white-space: nowrap;
}


section.manga .hd ul {
	float: right;
}

section.manga .hd li {
	float: left;
}

section.manga .hd li a {
	padding: 0 0 5px 18px;
	margin-left: 5px;
	background: url(../img/icons.png) no-repeat 0 0;
}

section.manga .hd li.lst1 a {
	background-position: 0 -330px;
}

section.manga .hd li.lst2 a {
	background-position: 0 -240px;
}

section.manga .hd li.lst1 a:hover {
	background-position: 0 -360px;
}

section.manga .hd li.lst2 a:hover {
	background-position: 0 -270px;
}

section.manga .hd li.lst1.on a,section.manga .hd li.lst1.on a:hover {
	cursor: default;
	background-position: 0 -300px;
}

section.manga .hd li.lst2.on a,section.manga .hd li.lst2.on a:hover {
	cursor: default;
	background-position: 0 -210px;
}
section.manga .last-reading{
	display: none;
	padding: 10px;
	margin: 10px 0 10px 0;
	border: 1px solid #ffe45c;
	background: #FFF0D6;
}
section.manga .last-reading div{
	display:inline;
}
section.manga .last-reading span{
	margin-left: 20px;
}
.book-list {
	
}

.book-list .stream {
	line-height: 28px;
	margin: 0 auto 10px auto;
	border: 1px solid #E1E8EC;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.book-list .stream:last-child {
	margin-bottom: 0;
}

.book-list h3 {
	cursor: pointer;
	color: #8B2F20;
	background: #E1E8EC;
	padding: 3px 8px;
	-moz-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.book-list h3 div {
	font-weight: bold;
	line-height: 2em;
	background: url('../img/minus.png') no-repeat right center transparent;
}

.book-list h3 div a:hover {
	color: #086D88;
	text-decoration: none;
}

.book-list h4 {
	cursor: pointer;
	color: #8B2F20;
	border-bottom: 1px solid #E1E8EC;
	font-weight: bold;
	line-height: 2em;
	padding: 3px 0;
	background: transparent url('../img/collapse.png') no-repeat right
		center;
}

.book-list h4 span.range {
	color: #777;
	font-weight: normal;
	font-size: 11px;
	margin-left: 10px;
}

.book-list .volume {
	padding: 0 10px;
}
.book-list .chapter li {
	overflow: hidden;
	white-space: nowrap;
	border-bottom: 1px dashed #E1E8EC;
}
.book-list .chapter li:last-child {
	border-bottom: none;
}
.book-list .chapter li:hover {
	background-color: #E1E8EC;
}
.book-list .chapter li.selected {
    background-color: #C9EC5A;
}

.book-list .chapter span {
	float: left;
	width: 600px;
	white-space: nowrap;
	overflow: hidden;
}

.book-list .chapter li em {
	float: right;
	color: #999;
	width: 185px;
	white-space: nowrap;
	overflow: hidden;
}

.book-list .chapter li em a {
	color: #777;
	border: 1px solid #E1E8EC;
	padding: 1px 5px;
	text-decoration: none;
	background: transparent;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.book-list .chapter li em a:hover {
	background: #fff;
}

.book-list .chapter li i {
	float: right;
	color: #999;
	width: 150px;
	white-space: nowrap;
	text-align: right;
	overflow: hidden;
}

.book-list .chapter li.new a.ch,.book-list .chapter li.new i {
	color: green;
}

.book-list .chapter li.new a.ch {
	font-weight: bold;
}

.book-list .stream.collapsed h3 {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.book-list .stream.collapsed h3 div {
	background-image: url('../img/plus.png');
}

.book-list .stream.collapsed .volume {
	display: none;
}

.book-list .volume.collapsed h4 {
	background-image: url('../img/collapsed.png');
}

.book-list .volume.collapsed .chapter {
	display: none;
}

.book-list .volume.last.collapsed h4 {
	border-bottom: 0px solid #fff;
}

.book-list .volume.last li:last-child {
	
}
/* ============= Book-List Style 2 ============ */

.book-list-2 {
	
}

.book-list-2 .stream {
	display: table;
	line-height: 28px;
	width: 958px;
	margin: 0 auto 10px auto;
	border: 1px solid #E1E8EC;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.book-list-2 .stream:last-child {
	margin-bottom: 0;
}

.book-list-2 h3 {
	cursor: pointer;
	color: #8B2F20;
	background: #E1E8EC;
	padding: 3px 8px;
	-moz-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.book-list-2 h3 div {
	font-weight: bold;
	line-height: 2em;
	/* background: url('../img/minus.png') no-repeat right center transparent; */
	background: url(../img/icons.png) no-repeat 924px -806px transparent;
}

.book-list-2 h3 div a:hover {
	color: #086D88;
	text-decoration: none;
}

.book-list-2 h4 {
	cursor: pointer;
	color: #8B2F20;
	border-bottom: 1px solid #E1E8EC;
	font-weight: bold;
	line-height: 2em;
	padding: 3px 0;
	background: transparent url('../img/collapse.png') no-repeat right center;
	
	clear: both;
}

.book-list-2 h4 span.range {
	color: #777;
	font-weight: normal;
	font-size: 11px;
	margin-left: 10px;
}

.book-list-2 .volume {
	padding: 0 10px;
}
.book-list-2 .chapter {
	width: 938px;
}
.book-list-2 .chapter li {
	overflow: hidden;
	white-space: nowrap;
	border-bottom: 1px dashed #E1E8EC;
	
	text-indent: 5px;
  	float: left;
	width: 25%;
	margin: 5px 0;
	
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.book-list-2 .chapter li a {
	/* background-color: #C9EC5A; */
}

.book-list-2 .chapter li:last-child {
	/* border-bottom: none; */
}
.book-list-2 .chapter li:hover {
	background-color: #E1E8EC;
}
.book-list-2 .chapter li:hover a{
	color: red;
}
.book-list-2 .chapter li.selected {
    background-color: #C9EC5A;
}

.book-list-2 .chapter span {
	white-space: nowrap;
	overflow: hidden;
	color: #999;
}

.book-list-2 .chapter li.new a.ch {
	color: green;
}

.book-list-2 .chapter li.new a.ch {
	font-weight: bold;
}

.book-list-2 .stream.collapsed h3 {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.book-list-2 .stream.collapsed h3 div {
	/* background-image: url('../img/plus.png'); */
	background-position: 926px -836px;
}

.book-list-2 .stream.collapsed .volume {
	display: none;
}

.book-list-2 .volume.collapsed h4 {
	background-image: url('../img/collapsed.png');
}

.book-list-2 .volume.collapsed .chapter {
	display: none;
}

.book-list-2 .volume.last.collapsed h4 {
	border-bottom: 0px solid #fff;
}

.book-list-2 .volume.last li:last-child {
	
}
/* ============= /Book-List Style 2 ============ */

section.page {
	margin: 0 auto;
	width: 960px;
}

section.page h1,section.page h2 {
	width: 0;
	height: 0;
	overflow: hidden;
}

section.page .switch {
	display: table;
	color: white;
	width: 100%;
	margin: 0 auto;
	line-height: 33px;
}

section.page .switch.bottom {
	height: 50px;
	margin: 20px auto;
}

section.page .switch .row {
	display: table;
	width: 100%;
}

section.page .switch .path {
	display: table;
	width: 100%;
	color: #999;
	margin: 10px auto;
}

section.page .switch .path span.loc {
	float: left;
	font-size: 18px;
}

section.page .switch .path span.loc .refresh {
	cursor: pointer;
	width: 21px;
	height: 21px;
	padding: 0 20px;
	margin-left: 5px;
	background: url(../img/refresh.png) no-repeat;
}

section.page .switch .page {
	float: right;
}

section.page .switch .page span {
	float: left;
	margin-left: 5px;
}

section.page .switch .page span a {
	display: inline-block;
	color: #333;
	font-size: 13px;
	font-weight: bold;
	line-height: 27px;
	text-align: center;
	text-decoration: none;
	height: 27px;
	padding: 0 8px;
	border: 1px solid #CCC;
	border-radius: 3px;
	background-color: #fff;
}

section.page .switch .page span a:hover {
	color: white;
	border-color: #333;
	background-color: #89C624;
}

section.page .switch select {
	float: left;
	color: black;
	background-color: white;
	border: 1px solid #000;
	font-size: 12px;
	padding: 5px;
	vertical-align: middle;
}

section.page .switch .book select {
	width: 300px;
}

section.page .switch .share_addthis {
	display: table;
	float: left;
	width: 500px;
	height: 32px;
}

section.page .tip {
	background: #222;
	border: 1px solid #111;
	padding: 10px;
	margin-top: 10px;
	color: #666;
	border-image: initial;
}

section.page .tip a {
	font-weight: bold;
}

section.page .board {
	margin-top: 10px;
}

section.page .board .info {
	color: #aaa;
	display: block;
	width: 100%;
}

section.page .board .info h3,section.page .board .info strong {
	font-weight: bold;
	color: #F3C76F;
}

section.page .board .info .relate {
	display: table;
	width: 100%;
}

section.page .board .info .relate li {
	float: left;
	margin-right: 30px;
	white-space: nowrap;
}

section.viewer {
	display: table;
	width: 100%;
	margin: 10px auto;
}

section.viewer .canvas {
	width: 100%;
	text-align: center;
	line-height: 0;
}

section.viewer .canvas img {
	background: url(../img/loading.gif) no-repeat center center transparent;
}

section.viewer .canvas img.arrow-up {
	cursor: url(../img/cur/up.cur), pointer;
}

section.viewer .canvas img.arrow-down {
	cursor: url(../img/cur/down.cur), pointer;
}

section.viewer .canvas img.arrow-left {
	cursor: url(../img/cur/left.cur), pointer;
}

section.viewer .canvas img.arrow-right {
	cursor: url(../img/cur/right.cur), pointer;
}

section.viewer .canvas .tool {
	position: relative;
	color: #555;
	width: 960px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	margin: 0 auto;
}
section.viewer .canvas .tool a{
	color: #555;
}
section.viewer .canvas .tool:hover,
section.viewer .canvas .tool:hover a{
	color: #999;
}
section.viewer .canvas .tool .reload {
	position: absolute;
	display: none;
	cursor: pointer;
	top: 0;
	right: 0;
}
section.viewer .canvas .tool:hover .reload{
	display: block;
}
section.viewer .canvas .tool.onhover .img-num,
section.viewer .canvas .tool.onhover .reload{
	display: none;
}
section.viewer .canvas .tool.onhover:hover .img-num,
section.viewer .canvas .tool.onhover:hover .reload{
	display: block;
}
section.viewer .canvas .tool.margin{
	height: 10px;
	line-height: 10px;
}
section.viewer .canvas .tool.margin .img-num,
section.viewer .canvas .tool.margin .reload{
	display: none;
}
section.viewer .canvas .tool.hide,
section.viewer .canvas .tool.hide .img-num,
section.viewer .canvas .tool.hide .reload{
	display: none;
}

section.latest {
	margin: 0 auto;
	padding: 10px 0;
}

section.latest .genres {
	padding: 10px;
	background: #E1E8EC;
}

section.latest .genres.af {
	margin-bottom: 20px;
}

section.latest .genres.bf {
	margin-top: 20px;
}

section.latest .genres ul {
	display: table;
}

section.latest .genres li {
	float: left;
	line-height: 22px;
	text-indent: 18px;
	overflow: hidden;
	width: 150px;
	white-space: nowrap;
	background: url(../img/icons.png) no-repeat left -960px transparent;
}

section.latest .genres span.count {
	color: #999;
}

section.latest .genres li.on a {
	color: #FF8708;
	font-weight: bold;
	text-decoration: underline;
}

section.latest .genres .tog {
	clear: both;
	display: block;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 10px;
	background: url(../img/icons.png) no-repeat 923px -810px transparent;
}

section.latest .genres.closed .tog {
	margin-bottom: 0;
	background-position: 923px -840px;
}

section.latest .genres.closed ul {
	display: none;
}

section.latest .ls1 {
	margin: 20px auto;
}

section.latest .ls1 .item {
	overflow: hidden;
	border-bottom: 1px dotted #d0d8dc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

section.latest .ls1 .item.r {
	padding-right: 0;
}

section.latest .ls1 .item .cover {
	float: left;
}

section.latest .ls1 .item .cover img {
	padding: 2px;
	border: 1px solid #D7D7D9;
	background: url(../img/loading.gif) no-repeat center center transparent;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

section.latest .ls1 .item ul {
	float: right;
	width: 890px;
	margin-left: 10px;;
}

section.latest .ls1 .item h3 {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 20px;
	margin-bottom: 10px;
	background: url(../img/icons.png) no-repeat 0 -658px transparent;
}

section.latest .ls1 .item li {
	float: left;
	width: 180px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 22px;
	margin-right: 20px;
}

section.latest .ls1 .item li.r {
	margin-right: 0;
}

section.latest .ls1 .item span {
	float: left;
	width: 116px;
	overflow: hidden;
}

section.latest .ls1 .item i {
	float: right;
	color: #999;
	font-size: 9px;
	font-weight: normal;
	margin-left: 5px;
}

section.latest .ls1 .item.hot h3 a {
	color: #FF0084;
}

section.latest .ls1 .item.new h3 a {
	color: #37A51D;
}

section.latest .ls1 .item.closed h3 {
	background-position: 0 -568px;
}

section.latest .ls1 .item li.new,section.latest .ls1 .item li.new a {
	color: #37A51D;
}

section.latest .ls2 {
	margin: 20px auto;
}

section.latest .ls2 .item {
	float: left;
	overflow: hidden;
	text-align: left;
	width: 300px;
	padding: 0 30px 5px 0;
	border-bottom: 1px dotted #d0d8dc;
	margin-bottom: 10px;
}

section.latest .ls2 .item.r {
	padding-right: 0;
}

section.latest .ls2 .item .cover {
	float: left;
}

section.latest .ls2 .item .cover img {
	padding: 2px;
	border: 1px solid #D7D7D9;
	background: url(../img/loading.gif) no-repeat center center transparent;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

section.latest .ls2 .item ul {
	float: left;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	width: 221px;
	margin: auto auto auto 8px;;
}

section.latest .ls2 .item h3 {
	font-size: 1.1em;
	font-weight: bold;
	text-indent: 20px;
	margin-bottom: 5px;
	background: url(../img/icons.png) no-repeat 0 -658px transparent;
}

section.latest .ls2 .item li {
	line-height: 22px;
}

section.latest .ls2 .item span {
	float: left;
	width: 116px;
	overflow: hidden;
}

section.latest .ls2 .item i {
	float: right;
	color: #999;
	font-size: 9px;
	margin-left: 5px;
}

section.latest .ls2 .item.hot h3 a {
	color: #FF0084;
}

section.latest .ls2 .item.new h3 a {
	color: #37A51D;
}

section.latest .ls2 .item.closed h3 {
	background-position: 0 -568px;
}

section.latest .ls2 .item li.new,section.latest .ls2 .item li.new a {
	color: #37A51D;
}

section.latest .ls3 .item {
	position: relative;
	display: table;
	zoom: 1;
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	vertical-align: top;
	border-bottom: 1px dotted #d0d8dc;
}

section.latest .ls3 .item table {
	width: 100%;
}

section.latest .ls3 .item td {
	vertical-align: top;
	position: relative;
}

section.latest .ls3 .item .cover img {
	padding: 5px;
	border: 1px solid #D7D7D7;
	background: url(../img/loading.gif) no-repeat center center transparent;
	background-color: white;
}

section.latest .ls3 .item b.rank {
	color: #bbb;
	padding: 0 5px;
	margin-left: 5px;
}

section.latest .ls3 .item em.icon {
	padding-left: 24px;
	background: url(../img/icons.png) no-repeat 0 -658px transparent;
}

section.latest .ls3 .item.cmp em.icon {
	background-position: 0 -568px;
}

section.latest .ls3 .item .rate {
	position: absolute;
	top: 0;
	right: 0;
	color: #F87F67;
}

section.latest .ls3 .item .info {
	line-height: 1.2em;
	padding: 8px;
	margin-bottom: 10px;
	background: #E1E8EC;
}

section.latest .ls3 .item .info .field {
	border-bottom: 1px dotted #d0d8dc;
	line-height: 2.0em;
}

section.latest .ls3 .item .info .field.last {
	border-bottom: none;
}

section.latest .ls3 .item .info .field b {
	margin-right: 5px;
}

section.latest .ls3 .item .info .field b.pd {
	margin-left: 10px;
}

section.latest .ls3 .item ul {
	margin-top: 10px;
}

section.latest .ls3 .item li:hover {
	background: #FFF9EB;
}

section.latest .ls3 .item li span {
	display: inline-block;
}

section.latest .ls3 .item li i {
	float: right;
	color: #666;
	font-size: 9px;
	margin-left: 5px;
}

section.latest .ls3 .item h2 {
	margin-bottom: 10px;
	font-size: 1.3em;
	font-weight: bold;
}

section.latest .ls3 .item h3 {
	line-height: 2.2em;
	font-size: 1.1em;
}

section.latest .ls3 .item font.highlight {
	color: red;
	background: yellow;
	font-weight: bold;
}

section.latest .ls3 .item.hot h2 a {
	color: #FF0084;;
}

section.latest .ls3 .item.new h2 a {
	color: #37A51D;;
}

section.latest .ls3 .no-match {
	font-size: 18px;
	text-align: center;
	border-bottom: 1px dashed #999;
	padding: 10px;
	width: 500px;
	margin: 0 auto;
}

section.genre {
	margin: 0 auto;
	padding: 10px 0;
}

section.genre .hd {
	
}

section.genre .hd span {
	float: right;
	font-weight: bold;
}

section.genre .genres {
	padding: 10px;
	background: #E1E8EC;
}

section.genre .genres.af {
	margin-bottom: 20px;
}

section.genre .genres.bf {
	margin-top: 20px;
}

section.genre .genres ul {
	display: table;
}

section.genre .genres li {
	float: left;
	line-height: 22px;
	text-indent: 18px;
	overflow: hidden;
	width: 150px;
	white-space: nowrap;
	background: url(../img/icons.png) no-repeat left -960px transparent;
}

section.genre .genres span.count {
	color: #999;
}

section.genre .genres li.on a {
	color: #FF8708;
	font-weight: bold;
	text-decoration: underline;
}

section.genre .genres .tog {
	clear: both;
	display: block;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 10px;
	background: url(../img/icons.png) no-repeat 923px -810px transparent;
}

section.genre .genres.closed .tog {
	margin-bottom: 0;
	background-position: 923px -840px;
}

section.genre .genres.closed ul {
	display: none;
}

section.genre .ls1 {
	margin: 20px auto;
}

section.genre .ls1 .item {
	float: left;
	overflow: hidden;
	text-align: left;
	width: 300px;
	padding: 0 30px 5px 0;
	border-bottom: 1px dotted #d0d8dc;
	margin-bottom: 10px;
}

section.genre .ls1 .item.r {
	padding-right: 0;
}

section.genre .ls1 .item .cover {
	float: left;
}

section.genre .ls1 .item .cover img {
	padding: 2px;
	border: 1px solid #D7D7D9;
	background: url(../img/loading.gif) no-repeat center center transparent;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

section.genre .ls1 .item ul {
	float: left;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	width: 221px;
	margin: auto auto auto 8px;;
}

section.genre .ls1 .item h3 {
	font-size: 1.1em;
	font-weight: bold;
	text-indent: 20px;
	margin-bottom: 5px;
	background: url(../img/icons.png) no-repeat 0 -658px transparent;
}

section.genre .ls1 .item li {
	line-height: 22px;
}

section.genre .ls1 .item.hot h3 a {
	color: #FF0084;
}

section.genre .ls1 .item.new h3 a {
	color: #37A51D;
}

section.genre .ls1 .item.closed h3 {
	background-position: 0 -568px;
}

section.genre .ls1 .item li.new,section.genre .ls1 .item li.new a {
	color: #37A51D;
}

section.genre .ls2 {
	margin: 20px auto;
}

section.genre .ls2 .item {
	overflow: hidden;
	border-bottom: 1px dotted #d0d8dc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

section.genre .ls2 .item.r {
	padding-right: 0;
}

section.genre .ls2 .item .cover {
	float: left;
}

section.genre .ls2 .item .cover img {
	padding: 2px;
	border: 1px solid #D7D7D9;
	background: url(../img/loading.gif) no-repeat center center transparent;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

section.genre .ls2 .item ul {
	float: right;
	width: 890px;
	margin-left: 10px;;
}

section.genre .ls2 .item h3 {
	font-size: 1.2em;
	font-weight: bold;
	text-indent: 20px;
	margin-bottom: 10px;
	background: url(../img/icons.png) no-repeat 0 -658px transparent;
}

section.genre .ls2 .item li {
	float: left;
	width: 110px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 22px;
	margin-right: 20px;
}

section.genre .ls2 .item li.r {
	margin-right: 0;
}

section.genre .ls2 .item span {
	float: left;
	width: 116px;
	overflow: hidden;
}

section.genre .ls2 .item i {
	float: right;
	color: #999;
	font-size: 9px;
	font-weight: normal;
	margin-left: 5px;
}

section.genre .ls2 .item.hot h3 a {
	color: #FF0084;
}

section.genre .ls2 .item.new h3 a {
	color: #37A51D;
}

section.genre .ls2 .item.closed h3 {
	background-position: 0 -568px;
}

section.genre .ls2 .item li.new,section.genre .ls2 .item li.new a {
	color: #37A51D;
}

section.search {
	padding: 10px 0;
}

section.search .filter {
	padding: 10px;
	margin-bottom: 20px;
	background: #E1E8EC;
}

section.search .filter h2 {
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin-bottom: 10px;
}

section.search .filter table {
	
}

section.search .filter th,section.search .filter td {
	padding: 2px 0;
}

section.search .filter th {
	padding-right: 10px;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
	width: 110px;
}

section.search .filter th label {
	font-size: 13px;
	line-height: 25px;
}

section.search .filter td {
	width: 850px;
}

section.search .filter td label {
	margin-right: 5px;
}

section.search .filter td label input.radio {
	vertical-align: middle;
	display: inline-block;
}

section.search .filter .search {
	float: left;
	width: 278px;
	border: 1px solid #CCC;
	background: white;
	height: 24px;
	outline-color: transparent;

	/*
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
*/
}

section.search .filter .search input,section.search .filter .search select
	{
	float: left;
	border: 0 none;
	background: white;
	outline-color: transparent;
}

section.search .filter .search input {
	border: 0 none;
	height: 24px;
	line-height: 24px;
	width: 192px;
	text-indent: 5px;
	outline-color: transparent;
}

section.search .filter .search-submit {
	cursor: pointer;
	float: left;
	width: 70px;
	height: 26px;
	border: 1px solid #CCC;
	border-left: none;
	padding-left: 16px;
	background: url(../img/icons.png) no-repeat 4px -686px #fff;
}

section.search .filter .search.quantity {
	width: 30px;
}

section.search .filter .search.quantity.txt {
	width: 60px;
	border: none;
	background: transparent;
	line-height: 26px;
	text-align: center;
}

section.search .filter .search.quantity input {
	width: 30px;
	text-align: center;
	text-indent: 0;
}

section.search .filter .option {
	float: left;
	height: 25px;
	line-height: 25px;
	margin-left: 10px;
	cursor: pointer;
}

section.search .filter .reset {
	float: left;
	height: 25px;
	line-height: 25px;
	margin-left: 10px;
	cursor: pointer;
}

section.search .filter .types li {
	white-space: nowrap;
	overflow: hidden;
	float: left;
	width: 138px;
}

section.search .filter .status li {
	white-space: nowrap;
	overflow: hidden;
	float: left;
	width: 138px;
}

section.search .filter .genres li {
	white-space: nowrap;
	overflow: hidden;
	float: left;
	width: 138px;
}

section.search .filter .genres-mode li {
	white-space: nowrap;
	overflow: hidden;
	float: left;
	width: 276px;
}

section.search .filter .years li {
	white-space: nowrap;
	overflow: hidden;
	float: left;
	width: 58px;
}

section.search .filter .rating li {
	white-space: nowrap;
	overflow: hidden;
	float: left;
	width: 80px;
}

section.search .filter .chapters li {
	white-space: nowrap;
	overflow: hidden;
	float: left;
	width: 60px;
}

section.search .filter .triploid li span {
	padding-left: 20px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	width: 100%;
}

section.search .filter .triploid li span.include {
	background: url(../img/genre-include.png) no-repeat;
}

section.search .filter .triploid li span.exclude {
	background: url(../img/genre-exclude.png) no-repeat;
}

section.search .filter .triploid li span.either {
	background: url(../img/genre-either.png) no-repeat;
}

section.search .filter .seled {
	border-top: 1px dashed #d0d8dc;
}

section.search .filter .seled th,section.search .filter .seled td {
	padding-top: 10px;
}

section.search .filter .cnds {
	font-weight: bold;
}

section.search .filter .cnds a {
	display: inline-block;
	color: #000;
	background: #EBC18F;
	padding: 2px 8px 2px 5px;
	margin: 0 1px 5px 0;
	text-decoration: none;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

section.search .filter .cnds a em {
	padding: 0 3px 1px 3px;
	margin-right: 5px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

section.search .filter .cnds a:hover em {
	background: red;
}

.manga-list .item {
	position: relative;
	display: table;
	zoom: 1;
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	vertical-align: top;
	border-bottom: 1px dashed #d0d8dc;
}

.manga-list .item.first {
	margin-top: 20px;
}

.manga-list .item table {
	width: 100%;
}

.manga-list .item td {
	vertical-align: top;
	position: relative;
}

.manga-list .item .cover img {
	padding: 5px;
	border: 1px solid #D7D7D7;
	background: url(../img/loading.gif) no-repeat center center transparent;
	background-color: white;
}

.manga-list .item b.rank {
	color: #bbb;
	padding: 0 5px;
	margin-left: 5px;
}

.manga-list .item em.icon {
	padding-left: 24px;
	background-position: 0 -658px;
}

.manga-list .item.cmp em.icon {
	background-position: 0 -568px;
}

.manga-list .item .rate {
	position: absolute;
	top: 0;
	right: 0;
	color: #F87F67;
}

.manga-list .item .info {
	line-height: 1.2em;
	background: #E1E8EC;
	padding: 8px;
	margin-bottom: 10px;
}

.manga-list .item .info .field {
	border-bottom: 1px dotted #d0d8dc;
	line-height: 2.0em;
}

.manga-list .item .info .field.last {
	border-bottom: none;
}

.manga-list .item .info .field b {
	margin-right: 5px;
}

.manga-list .item .info .field b.pd {
	margin-left: 10px;
}

.manga-list .item ul {
	margin-top: 10px;
}

.manga-list .item li:hover {
	background: #FFF9EB;
}

.manga-list .item li span {
	display: inline-block;
}

.manga-list .item li i {
	float: right;
	color: #666;
	font-size: 9px;
	margin-left: 5px;
}

.manga-list .item h2 {
	margin-bottom: 10px;
	font-size: 1.3em;
	font-weight: bold;
}

.manga-list .item h3 {
	line-height: 2.2em;
	font-size: 1.1em;
}

.manga-list .item font.highlight {
	color: red;
	background: yellow;
	font-weight: bold;
}

.manga-list .item.hot h2 a {
	color: #FF0084;;
}

.manga-list .item.new h2 a {
	color: #37A51D;;
}

.manga-list .no-match {
	font-size: 18px;
	text-align: center;
	border-bottom: 1px dashed #999;
	padding: 10px;
	width: 500px;
	margin: 0 auto;
}

section.http_404 {
	margin: 0 auto;
	padding: 10px 0;
}

section.http_404 .msgbox {
	padding: 10px;
	background: #ECF0F2;
}

section.http_404 .msgbox h2 {
	color: #8b301e;
	font-size: 14px;
	font-weight: 700;
	padding: 20px 0;
	text-indent: 60px;
	background: url(../img/oops.png) left center no-repeat;
}

section.http_404 .msgbox p {
	padding: 10px 60px;
}

section.http_404 .msgbox p a {
	font-weight: bold;
}




.bmk-box{
	position: relative;
}
.bmk-box .bmk{
    margin-right: 0;
}
.bmk-box .bmk:hover{
    color: #003555;
	text-decoration: none;
}
.bmk-box .ctl{
	cursor: pointer;
	padding: 5px 2px;
	border: 3px solid transparent;
	
    -moz-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.bmk-box .ctl em{
    background-position: 0 -1018px;
}
.bmk-box .fd{
	display: none;
	position: absolute;
	z-index: 99;
	left: 0;
	width: 300px;
	padding: 5px;
	border: 3px solid #BBC3CC;
	background: #ECF0F2;
	
    -moz-border-radius: 0 5px 5px 5px;
    -khtml-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
}
.bmk-box .fd li{
    line-height: 24px;
}
.bmk-box .fd li label{
    cursor: pointer;
}
.bmk-box .fd li span.item{
    margin-left: 10px;
}
.bmk-box .fd li.un{
    border-bottom: 3px solid #E1E8EC;
    margin-bottom: 5px;
}
.bmk-box .fd li.un span.item{
	font-weight: bold;
    margin-left: 0;
}
.bmk-box .fd .bot{
	padding-top: 5px;
	margin-top: 5px;
	border-top: 3px solid #E1E8EC;
}
.bmk-box .fd .bot .msg{
    float: left;
}
.bmk-box .fd .bot .msg.succ{
	color: green;
}
.bmk-box .fd .bot .msg.erro{
	color: red;
}
.bmk-box .fd .bot .btns{
    float: right;
}
.bmk-box .fd .bot .btns button{
	cursor: pointer;
    margin-left: 10px;
	padding: 3px 10px;
}

/* open */
.bmk-box.on .ctl{
    border-color: #BBC3CC;
	background: #BBC3CC;
}
.bmk-box.on .fd{
    display: block;
}
.bmk-box.on em{
    background-position: 0 -990px;
}
.bmk-box .ctl em.l{
    background: url(../img/loading10.gif) no-repeat center center transparent;
}


.bmk-box .mask{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.bmk-box .mask .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF8708;
    
    filter:alpha(opacity=10);
    -moz-opacity:0.1;
    -khtml-opacity: 0.1;
    opacity: 0.1;   
}
.bmk-box .mask .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/loader.gif) no-repeat center center;
}

section.page .bmk-box{
	float: right;
	color: #666;
	margin-left: 30px;
	line-height: 30px;
}
section.page .bmk-box .bmk {
    margin-right: 0;
    background-position: 0 -893px;
}
section.page .bmk-box .bmk:hover{
    color: #2387BC;
}
section.page .bmk-box .ctl{
}
section.page .bmk-box .fd{
	left: auto;
	right: -4px;
	
	-moz-border-radius: 5px 0 5px 5px;
	-khtml-border-radius: 5px 0 5px 5px;
	-webkit-border-radius: 5px 0 5px 5px;
	border-radius: 5px 0 5px 5px;
}

#gotop {
	display: none;
	position: fixed;
	overflow: hidden;
	right: 10px;
	bottom: 10px;
	width: 42px;
	height: 42px;
}

#gotop a,#gotop a:link {
	display: block;
	height: 42px;
	width: 42px;
	background: url(../img/icons.goto.png) no-repeat scroll 0 0 transparent;
}

#gotop a:hover {
	display: block;
	background: url(../img/icons.goto.png) no-repeat scroll 0 -42px
		transparent;
}
#comment{
	margin-top: 50px;
}

.ui-autocomplete-input {
    background: #fff;
}
.ui-autocomplete-loading {
    background: #fff url(../img/loading3.gif) 111px 5px no-repeat
}
header.mini .ui-autocomplete-loading {
    background: #fff url(../img/loading5.gif) 162px 5px no-repeat;
}
.ui-autocomplete {
	float: left;
	width: 320px;
	max-height: 495px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 3px solid #999;
	background: #ECF0F2;
	
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;	
}
.ui-menu .ui-menu-item {
	cursor: pointer;
	text-align: left
}
.ui-menu .ui-menu-item:nth-child(even) {
	background: #E1E8EC;
}
.ui-menu .ui-menu-item:nth-child(odd) {
	/* background: #FFF; */
}
.ui-menu .ui-menu-item a {
	cursor: pointer;
	display: block;
	font-weight: 400;
	height: 32px;
	width: 394px;
	padding: 3px;
	
	overflow: hidden;
	white-space: nowrap;	
}
.ui-menu .ui-menu-item a img {
	float: left;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	border: 1px solid #ccc;
	padding: 1px;
	background: #fff;
	border-radius: 3px;
}
.ui-menu .ui-menu-item a div {
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	height: 18px;
	vertical-align: middle;
	width: 200px;
	text-align: left;
	line-height: 18px;
	float: left;
	padding: 0 5px;
}
.ui-menu .ui-menu-item a .s {
	color: #999;
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
	font-style: italic;
	text-align: left;
}
.ui-menu .ui-menu-item a span {
    margin-left: 10px;
}
.ui-menu .ui-menu-item a u {
	color: #cf6;
	text-decoration: underline;
	
	color: red;
	font-weight: bold;	
}
.ui-menu .ui-menu-item a i,
.ui-menu .ui-menu-item a em {
	color: #999; 
	font-size: 12px;
    margin-left: 10px;
}
.ui-menu .ui-menu-item a:hover {
	display: block;
	color: #fff;
	background: #4774A7;
	text-decoration: none;
}
.ui-menu .ui-menu-item a:hover div {
	font-weight: 700;
}
.ui-menu .ui-menu-item a:hover div.s {
	font-weight: 400;
}
.ui-helper-hidden-accessible {
	display: none;
}

footer.common {
	color: #999;
	margin-top: 30px;
	padding: 10px 0;
	zoom: 1;
	background: url(../img/line-x.jpg) left top repeat-x;
}

footer.common a {
	color: #999;
}

body.page footer.common {
	background: none;
	border-top: 1px dashed #232323;
}

.ad-page-leader {
	display: table;
	overflow: hidden;
	margin: 10px auto 0;
	width: 100%;
	height: 90px;
	text-align: center;
}

.ad-page-leader .ad-728x90 {
	margin: 0 auto;
	text-align: center;
	width: 728px;
	height: 90px;
	overflow: hidden;
}

.ad-page-medium {
	display: table;
	width: 100%;
	height: 250px;
	overflow: hidden;
}

.ad-page-medium .ad-300x250 {
	float: left;
	margin-left: 12px;
	text-align: center;
	width: 300px;
	height: 250px;
	overflow: hidden;
}
.ad-300x250 {
	margin-top: 0;
	padding: 0;
	width: 300px;
	height: 250px;
	overflow: hidden;
	border: none;
}

.ad-page-3x {
	display: table;
	overflow: hidden;
	margin-top: 20px;
	width: 100%;
	height: 270px;
}
.ad-page-3x .ad-300x250 {
	float: left;
	margin-left: 12px;
	text-align: center;
	width: 300px;
	height: 270px;
	overflow: hidden;
}
.ad-page-3x span.hide-ad {
	text-align: center;
	width: 300px;
}
.ad-page-3x span.hide-ad a{
	color: #555;
}
.ad-page-3x.mobile {
	height: 250px;
}
.ad-page-3x.mobile .ad-300x250 {
	height: 250px;
}

.ad-page-2x {
	display: table;
	overflow: hidden;
	margin-top: 20px;
	width: 100%;
	height: 270px;
}
.ad-page-2x .ad-300x250 {
	float: left;
	margin-left: 126px;
	text-align: center;
	width: 300px;
	height: 270px;
	overflow: hidden;
}
.ad-page-2x span.hide-ad {
	text-align: center;
	width: 300px;
}
.ad-page-2x span.hide-ad a{
	color: #555;
}
.ad-page-2x.mobile {
	height: 250px;
}
.ad-page-2x.mobile .ad-300x250 {
	height: 250px;
}

.ad-page-6x {
	display: table;
	overflow: hidden;
	margin-top: 20px;
	width: 100%;
	height: 100px;
}
.ad-page-6x .ad-320x50 {
	float: left;
	margin-left: 0px;
	text-align: center;
	width: 320px;
	height: 50px;
	overflow: hidden;
}

.ad-page-sky{
	position: absolute;
	top: 246px;
	width: 160px;
	height: 630px;
	text-align: center;
}
.ad-page-sky.left{
	right: 50%;
	margin-right: 490px;
	text-align: right;
}

.ad-page-sky.right{
	left: 50%;
	margin-left: 490px;
}

.ad-page-sky span.hide-ad-sky {
	text-align: center;
	width: 160px;
}
.ad-page-sky span.hide-ad-sky a{
	color: #555;
}

.ad-page-sky-300{
	position: absolute;
	width: 300px;
	height: 280px;
	text-align: left;

	left: 50%;
	margin-left: 490px;
}
.ad-page-sky-300.a1{
	top: 246px;
}

.ad-page-sky-300.a2{
	top: 546px;
}
.ad-page-sky-300 span.hide-ad-sky-300 {
	padding-top: 6px;
	display: block;
	text-align: left;
	width: 300px;
}
.ad-page-sky-300 span.hide-ad-sky-300 a{
	color: #555;
}
#goto-mobile{
	display: table;
	width: 100%;
	padding: 50px 0;
	text-align: center;
	color: #fff;
	font-size: 36px;
	background: Orange;
}
#mgid-960{
	overflow: hidden;
	margin: 20px auto auto auto;
	width: 960px;
	max-width: 960px;
	height: 260px;
}
#test_box {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 600px;
	background: #fff;
	font-size: 20px;
	color: red;
	z-index: 10000;
}