/*
 Screen style    
 Site: Atlas.sk
*/
body { font-size: 68.75%; padding: 0; }

/* Auto-clearing floats */
#header:after, #inner:after, #footer:after, .tabs .nav:after, .box-tip p:after, #portals .inner:after, #services .inner:after, #my-services .inner:after, #my-services .top:after, .auctions .tab .inner:after, #news .tab .rates:after, #left-col-top:after, #my-services .nav:after, #my-services .service:after, #my-services .service2:after, #moje-sluzby-program ul:after, #moje-sluzby-sutaze li:after, #all-services .middle .inner:after, #companies .nav:after, #companies .all .middle .inner:after, #news .tab .inner:after, #moje-sluzby-horoskop .sings:after, #moje-sluzby-program .programs ul:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

/* Main wrapper */
#wrapper { width: 996px; margin: 18px auto;background-color: #fff; }

/* Header */
#header { position: relative; padding-top: 30px; }
#header .logo { position: absolute; top: 4px; left: 1px; }
#header .logo img { display: block; }

/* Header: Top */
#header .top { position: absolute; top: 0; right: 4px; color: #676f79; }
#header .top li { float: left; background: url(../images/bg/header-sep.gif) 0 70% no-repeat; padding-left: 10px; margin-left: 10px;  }
#header .top .accessibility { display: none; }
#header .top .date { padding-left: 19px; background: url(../images/bg/top-date.gif) 0 50% no-repeat; margin: 0; } 
#header .top .date a { color: #676f79; }
#header .top .sethp a { padding-left: 18px; background: url(../images/bg/top-sethp.gif) 0 50% no-repeat; }
#header .top .favorites a { padding-left: 17px; background: url(../images/bg/top-favorites.gif) 0 50% no-repeat; }

/* Header: Weather */
#header .weather { position: absolute; top: 36px; right: 2px; width: 165px; color: #b3b9c1; font-size: 1.09em; text-align: right; line-height: 1.25; display: block; margin: 0px; }
#header .weather strong { color: #ff7f00; }
#header .weather .sep { margin: 0 2px; }
#header .weather img { vertical-align: middle; }

/* Tabs */
.ui-tabs-hide, .ui-tabs .ui-tabs-hide { display: none; }

/* Search Navigation */
#search .nav { padding: 0 170px 4px 213px; height: 46px; background: url(../images/bg/search-nav.gif) bottom no-repeat; }
#search .nav li { float: left; margin-left: 4px; }
#search .nav li.first { margin-left: 0; }
#search .nav a { color: #0d3c93; font-weight: bold; height: 25px; display: block; padding: 16px 5px 5px 48px; line-height:  1.09em; }
#search .nav a:hover { text-decoration: underline; }
#search .nav .internet { width: 67px; background: url(../images/bg/search-nav-internet.gif) no-repeat; }
#search .nav .maps { width: 73px; padding-left: 37px; background: url(../images/bg/search-nav-maps.gif) no-repeat; }
#search .nav .companies { width: 61px; padding-left: 49px; background: url(../images/bg/search-nav-companies.gif) no-repeat; }
#search .nav .papers { width: 66px; padding-left: 46px; background: url(../images/bg/search-nav-papers.gif) no-repeat; }
#search .nav .schedule { width: 80px; height: 31px; padding: 10px 5px 5px 45px; background: url(../images/bg/search-nav-schedule.gif) no-repeat; }
#search .nav .ui-tabs-selected a { background-position: bottom left; color: #000; }

/* Search Tabs */
#search .tab { clear: both; padding: 11px 10px 14px 26px; min-height: 50px; background: url(../images/bg/search-tab.gif) bottom no-repeat; color: #5c6066; font-size: 1.09em; }
#search .tab p { margin: 0; }
#search .tab input { vertical-align: middle; margin: 0; }
#search .tab .text-field { font-size: 1.27em; font-weight: bold; color: #000; border: 0; padding: 6px 11px; }
#search .tab .recommend { font-size: 0.92em; margin: 5px 0 0 198px; }
#search .tab .recommend2 { font-size: 0.92em; margin: 5px 0 0 260px; }

/* Search: Basic Search - Internet, Firmy, Referaty */
#search .search-basic label { float: left; width: 172px; text-align: right; margin: 6px 15px 0 0; }
#search .search-basic .text-field { background: url(../images/bg/search-txt.gif) no-repeat; width: 446px; margin: 0 11px 0 0; }
#search .search-basic .text-field.internet{background: transparent url(../images/bg/search-txt-google.gif) no-repeat 0px 0px;}
#search .search-basic .advanced { color: #3d71b0; margin-left: 11px; }

/* Search: Mapy */
#search .search-maps ul { width: 187px; float: left; padding-right: 11px; }
#search .search-maps li { margin-bottom: 3px; }
#search .search-maps li input { margin-right: 5px; }
#search .search-maps .text-field { background: url(../images/bg/text-field-maps.gif) no-repeat; width: 230px; margin: 0 8px 0 5px; }
#search .search-maps .long { background: url(../images/bg/search-txt.gif) no-repeat; width: 446px; margin: 0 11px 0 4px; }
#search .search-maps #from { margin-right: 12px; }
#search .search-maps label { margin-right: 8px; }

/* Search: Cestovne poriadky */
#search .search-schedule { padding: 13px 5px 12px 26px; }
#search .search-schedule p { float: left; margin-left: 8px; }
#search .search-schedule p.first { margin: 0; }
#search .search-schedule p.last { width: 243px; }
#search .search-schedule label { float: left; margin: 6px 8px 0 0; }
#search .search-schedule input { float: left; }
#search .search-schedule #from2 { margin-right: 12px; }
#search .search-schedule .text-field { background: url(../images/bg/text-field-schedule.gif) no-repeat; width: 154px; margin: 0 7px 0 0; }
#search .search-schedule #Date { background: url(../images/bg/text-field-date.gif) no-repeat; width: 82px; }
#search .search-schedule #Time { background: url(../images/bg/text-field-time.gif) no-repeat; width: 48px; padding: 6px; margin-left: 6px; }
#search .search-schedule .buttons { width: 17px; height: 21px; position: relative; display: block; float: left; margin-top: 2px; margin-right: 8px; }
#search .search-schedule .buttons a { display: block; position: absolute; left: 0; }
#search .search-schedule .buttons a.up { top: 0; }
#search .search-schedule .buttons a.down { top: 11px; }
#search .search-schedule .calendar_ico { display: block; float: left; margin: 5px 0 0 3px; }
#search .search-schedule .submit { margin-left: 14px; }

/* Inner wrapper */
#inner { margin: 18px 0; clear: both; }

/* Left column */
#left-col { float: left; width: 681px; }
#left-col-top { padding-bottom: 14px; }

/* Content */
#content { float: right; width: 468px; position: relative; }

/* News */
#news { margin-bottom: 15px; }
#news .nav { background: url(../images/bg/news-nav.gif) no-repeat; }
#news .nav li { float: left; }
#news .nav a { display: block; padding: 3px 2px 1px 2px; background: url(../images/bg/tabs-nav-sep.gif) 0 60% no-repeat; text-align: center; }
#news .nav .udalosti-dna { background: none; width: 82px; }
#news .nav .slovensko { width: 70px; }
#news .nav .ekonomika { width: 73px; }
#news .nav .sport { width: 43px; }
#news .nav .zahranicie { width: 70px; }
#news .nav .kultura { width: 52px; }
#news .nav .showbiz { width: 55px; }
#news .nav .ui-tabs-selected { background: url(../images/bg/tab-nav-selected.gif) no-repeat; padding-left: 1px; margin: 0 -1px -1px 0; position: relative; }
#news .nav .ui-tabs-selected a { color: #000; font-weight: bold; background: url(../images/bg/tab-nav-selected.gif) top right no-repeat; padding: 4px 2px 2px 2px; }
#news .tab { padding-top: 3px; background: url(../images/bg/news-top.gif) right top no-repeat; }
#news .first-tab-selected { background-position: left top; }
#news .tab .inner { background: url(../images/bg/news-tab.png) bottom no-repeat; padding: 10px 11px 10px 10px; min-height: 266px; }
#news .tab .left { float: left; width: 267px; margin-bottom: 5px; }
#news .tab .left .main { margin-left: 2px; }
#news .tab .left .main img { float: left; border: 1px solid #95b1d4; margin: 3px 10px 5px 0; display: block; }
#news .tab .left .main a { color: #000; }
#news .tab .left .main a.more { font-weight: bold; color: #ff7f00; padding-right: 12px; background: url(../images/bg/arrow1.gif) 100% 50% no-repeat; }
#news .tab .left .aktualne { padding-top: 10px; background: url(../images/bg/line1.gif) repeat-x; }
#news .tab .left .aktualne .logo { display: block; float: left; margin: 3px 10px 5px 0; }
#news .tab .left .aktualne h3 { font-size: 1.09em; margin-bottom: 2px; }
#news .tab .other { float: right; width: 146px; margin: 1px 11px 0 0; }
#news .tab .other li { padding-left: 12px; background: url(../images/bg/arrow2.gif) 0 4px no-repeat; margin-bottom: 13px; line-height: 1.18; }
#news .tab .other a { color: #000; }
#news #udalosti-dna .inner { position: relative; padding-bottom: 3.45em; min-height: 238px; }
#news #slovensko .inner { position: relative; }
#news #zahranicie .inner { position: relative; }
#news #ekonomika .inner { position: relative; }
#news #sport .inner { position: relative; }
#news #kultura .inner { position: relative; }
#news #showbiz .inner { position: relative; }
#news .tab .rates { padding: 9px 5px 0 18px; width: 424px; background: url(../images/bg/line1.gif) repeat-x; position: absolute; bottom: 11px; left: 10px; }
#news .tab .rates li { float: left; font-weight: bold; margin-left: 30px; color: #5c6066; }
#news .tab .rates li.first { margin: 0; }
#news .tab .rates li img { vertical-align: middle; margin-right: 5px; }

/* Services */
#services { clear: both; background: url(../images/bg/services.gif) no-repeat; padding-top: 5px; font-size: 1.09em; }
#services.hide { display: none; }
#services .inner { background: url(../images/bg/services_small.gif) bottom no-repeat; padding: 0 4px 7px 8px; }
#services ul { float: left; width: 88px; padding: 0 5px 4px 0; }
#services .first { width: 89px; }
#services .second { width: 78px; }
#services li { padding-left: 23px; margin-bottom: 1px; }
#services .first li { padding-left: 20px; }
#services .second li { padding-left: 22px; }
#services .fifth li { padding-left: 19px; }
#services li.living { background: url(../images/bg/living.gif) 0 60% no-repeat; }
#services li.icq { background: url(../images/bg/icq.gif) 0 60% no-repeat; }
#services li.maps { background: url(../images/bg/maps.gif) 9px 75% no-repeat; }
#services li.pobox { background: url(../images/bg/pobox.gif) 0 60% no-repeat; }
#services li.papers { background: url(../images/bg/papers.gif) 0 70% no-repeat; }
#services li.wanda { background: url(../images/bg/wanda.gif) 0 50% no-repeat; }
#services li.eu { background: url(../images/bg/eu.gif) 0 50% no-repeat; }
#services li.vianoce { background: url(../images/bg/darcek.gif) 0 50% no-repeat; }
#services li.valentin { background: url(../images/bg/srdco.gif) 0 50% no-repeat; }
#services a { color: #0f4c96; }
#services .display-all { clear: both; margin: -4px 0 0 355px; font-weight: bold; font-size: 0.92em; }
#services .display-all a { padding-right: 11px; background: url(../images/bg/arrow1.gif) 100% 60% no-repeat; }

/* Services: Overlay box */
#all-services { width: 475px; position: absolute; left: 0; top: 0; z-index: 100; padding-bottom: 9px; }
#all-services.display { display: block; }
#all-services .top { height: 8px; background: url(../images/bg/all-services-top.png) no-repeat; }
#all-services .middle { background: url(../images/bg/all-services-middle.png) repeat-y; }
#all-services .middle .inner { background: #edf2f8; margin: 0 15px 0 11px; padding: 2px 0; }
#all-services .bottom { height: 11px; background: url(../images/bg/all-services-bottom.png) no-repeat; }
#all-services ul { float: left; width: 80px; margin-right: 5px; line-height: 1.36; }
#all-services li { margin-bottom: 5px; }
#all-services .close { position: absolute; right: 7px; bottom: 0; margin: 0; width: 74px; line-height: 1.0; height: 20px; }
#all-services .close a { display: block; background: #0d4e9d url(../images/bg/all-services-close.gif) no-repeat; color: #edf2f8; padding: 4px 5px 0 13px; width: 56px; height: 13px; }
#all-services .close span { display: block; width: 74px; height: 3px; background: url(../images/bg/all-services-close-bottom.png) no-repeat; }

/* Sidebar */
#sidebar { float: left; width: 198px; }

/* Sidebar: Box Tip */
.box-tip { background: url(../images/bg/box-tip.gif) no-repeat; padding-top: 8px; line-height: 1.18em; margin-bottom: 15px; }
.box-tip p { background: url(../images/bg/box-tip.gif) bottom no-repeat; padding: 0 12px 10px 9px; }
.box-tip a { font-weight: bold; color: #3d71b0; }
.box-tip img { float: left; display: block; margin-right: 9px; border: 1px solid #95b1d4;  }

/* Sidebar: Katalog firiem  */
#companies { position: relative; z-index: 2; }
#companies .nav { padding-bottom: 3px; background: url(../images/bg/companies-nav.gif) bottom no-repeat; }
#companies .nav li { float: left; }
#companies .nav h3 { color: #5c6066; background: url(../images/bg/companies-nav-left-selected.gif) no-repeat; position: relative; padding: 4px 4px 2px 10px; width: 86px; margin: 0 0 -1px 0; line-height: 1.36; }
#companies .nav a { display: block; padding: 4px 1px 1px 7px; width: 90px; background: url(../images/bg/companies-nav-right.gif) top right no-repeat; }
#companies .nav h3 a { display: block; padding: 0px; width: auto; background: none; color: #5C6066;}
#companies .nav a.hide { display: none; }
#companies .selected { background: url(../images/bg/companies-tab.gif) bottom no-repeat; padding: 0 10px 6px 10px; }
#companies .selected li { font-size: 1.09em; padding-left: 19px; background: url(../images/bg/companies-cat.gif) 0 50% no-repeat; line-height: 1.5; }
#companies .selected li a { color: #000; }
#companies .selected li.add { background-image: url(../images/bg/add.gif); margin-top: 1px; }
#companies .selected li.add a { color: #0d4e9d; font-weight: bold; }

/* Sidebar: Vsetky firmy - Overlay box */
#companies .all { width: 688px; position: absolute; left: 0; top: 0; z-index: 1; }
#companies .all *{z-index: 1; }
#companies .display { display: block; }
#companies .all .top-bar { height: 20px; overflow: hidden; }
#companies .all .top-bar h3 { width: 87px; height: 15px; padding: 5px 10px 0 10px; float: left; margin: 0; color: #5c6066; background: url(../images/bg/companies-all-title.gif) no-repeat; }
#companies .all .top-bar .close { float: right; margin: 2px 7px 0 0; width: 74px; line-height: 1.0; }
#companies .all .top-bar .close span { display: block; width: 74px; height: 3px; background: url(../images/bg/companies-all-close-top.png) no-repeat; }
#companies .all .top-bar .close a { display: block; width: 56px; height: 14px; padding: 0 5px 2px 13px; background: #0d4e9d; color: #fff; }
#companies .all .top { width: 688px; height: 8px; background: url(../images/bg/companies-all-top.png) no-repeat; }
#companies .all .middle { background: url(../images/bg/companies-all-middle.png) repeat-y; }
#companies .all .middle .inner { background: #f2f6fc; margin: 0 8px 0 1px; padding: 2px 0 6px 0; }
#companies .all .bottom { width: 688px; height: 11px; background: url(../images/bg/companies-all-bottom.png) no-repeat; }

/* Sidebar: Vsetky firmy - Tabs Navigation */
#companies .all .nav { padding: 0 5px 0 3px; background: #fff; }
#companies .all .nav li { margin-left: 2px; padding: 3px 0; }
#companies .all .nav a { width: 19px; height: 15px; padding: 5px 1px 1px 1px; background: #d9e4f0 url(../images/bg/companies-all-tabs-nav.gif) no-repeat; font-weight: bold; text-align: center; line-height: 1.0; }
#companies .all .nav a.top-categories { width: 89px; background-image: url(../images/bg/companies-all-tabs-nav-top.gif) }
#companies .all .nav .ui-tabs-selected a { background: #0d4e9d url(../images/bg/companies-all-tabs-nav-current.gif) no-repeat; color: #fff; }
#companies .all .nav .ui-tabs-selected a.top-categories { background-image: url(../images/bg/companies-all-tabs-nav-top-current.gif); }

/* Sidebar: Vsetky firmy - Tab */
#companies .all .tab { padding: 12px 9px 5px 12px; }
#companies .all .tab ul.list { float: left; width: 210px; margin-bottom: 5px; padding-left: 10px; }
#companies .all .tab ul.list-first { padding-left: 0; }
#companies .all .tab ul.list li { padding-left: 18px; background: url(../images/bg/companies-cat2.gif) left center no-repeat; margin-bottom: 6px; }
#companies .all .tab ul.list a { font-weight: bold; }
#companies .all .tab ul.list a strong { color: #000; font-weight: normal; }
#companies .all .tab .bottom-bar { padding: 6px 2px 0 0;}
#companies .all .tab .bottom-bar p { margin: 0; }
#companies .all .tab .bottom-bar .add { float: right; font-size: 1.09em; padding: 0 0 0 20px; margin-top:10px; background: url(../images/bg/add.gif) left center no-repeat; font-weight: bold; }
#companies .all .tab .bottom-bar .pager { float: right; color: #b9cbe1; font-size: 1.09em;  }
#companies .all .tab .bottom-bar .pager a.current { font-weight: bold; }
#companies .all .tab .bottom-bar .pager span { margin: 0 3px; }

/* Sidebar: Vsetky firmy - Carousel */
.jcarousel-container { position: relative; }
.jcarousel-clip { z-index: 2; padding: 0; margin: 0; overflow: hidden; position: relative; }
.jcarousel-list { z-index: 1; overflow: hidden; position: relative; top: 0; left: 0; margin: 0; padding: 0; }
.jcarousel-list li.page, .jcarousel-item { float: left; width: 650px; }
.jcarousel-container-horizontal { width: 650px; }
.jcarousel-clip-horizontal { width: 650px; }
.jcarousel-item-horizontal { margin-right: 10px; }

/* Sidebar: Vsetky firmy - Top kategorie */
#companies .all .top-categories-tab { padding: 14px 9px 8px 12px; }
#companies .all .top-categories-tab ul { float: left; width: 205px; margin-bottom: 6px; padding-left: 10px; }
#companies .all .top-categories-tab ul.first { padding-left: 0; }
#companies .all .top-categories-tab li { padding-left: 17px; background: url(../images/bg/companies-cat2.gif) 0 5px no-repeat; margin-bottom: 12px }
#companies .all .top-categories-tab h3 { font-size: 1.36em; margin-bottom: 1px; }
#companies .all .top-categories-tab li p a { color: #000; }

/* Portals */
#portals { clear: both; background: url(../images/bg/portals.gif) no-repeat; padding-top: 11px; position: relative; z-index: 1; }
#portals * { z-index: 1; }

#portals .inner { z-index: 0; background: url(../images/bg/portals.gif) bottom no-repeat; padding: 0 12px 10px 12px; }
#portals .portal { float: left; width: 112px; margin-left: 24px; padding-bottom: 30px; min-height: 225px; position: relative; }
#portals .portal-first { margin: 0; }
#portals .portal h3 { min-height: 3.5em; }
#portals .portal h3 a { color: #3d71b0; }
#portals .article-img { margin: 8px 0 6px 0; }
#portals .article-img img { display: block; border: 1px solid #95b1d4; }
#portals li { line-height: 1.18; background: url(../images/bg/dot1.gif) 0 4px no-repeat; padding-left: 9px; margin-bottom: 4px; }
#portals li a { color: #5c6066; }
#portals p.site { margin: 0; line-height: 24px; height: 24px; width: 112px; display: block; }
#portals p.site { margin: 0; line-height: 24px; height: 24px; width: 112px; display: block; }
#portals ul { display: block; float: left; height: 100px; }

/* Right column */
#right-col { float: right; width: 300px; }

/* My services */
#my-services { clear: both; background: url(../images/bg/my-services.gif) no-repeat; padding-top: 6px; margin-bottom: 15px; }
#my-services .top { margin-bottom: 1px; }
#my-services .top h3 { float: left; }
#my-services .user { float: right; }
#my-services .user li { float: left; }
#my-services .user .login a { padding-left: 12px; background: url(../images/bg/login.gif) 0 60% no-repeat; }
#my-services .user .register, #my-services .user .logout { padding-left: 9px; margin-left: 8px; }
#my-services .user .register a { padding-left: 12px; background: url(../images/bg/register.gif) 0 60% no-repeat; }
#my-services .user .logout a { padding-left: 11px; background: url(../images/bg/logout.gif) 0 60% no-repeat; }
#my-services .inner { background: url(../images/bg/my-services.gif) bottom no-repeat; padding: 0 10px 9px 10px; }

/* My services navigation */
#my-services .nav, #my-services .nav2 { margin-top: 5px; }
#my-services .opened { margin-top: 0; }
#my-services .nav li, #my-services .nav2 li { float: left; width: 90px; margin: 0 0 0 5px; }
#my-services .nav .email, #my-services .nav2 .menu { margin-left: 0; }
#my-services .nav a, #my-services .nav2 a { display: block; font-weight: bold; padding: 9px 5px 5px 34px; height: 20px; background: #fff; }
#my-services .nav .email a { background: url(../images/bg/my-services-nav-email.gif) no-repeat; }
#my-services .nav .competitions a { background: url(../images/bg/my-services-nav-competitions.gif) no-repeat; }
#my-services .nav .program a { background: url(../images/bg/my-services-nav-program.gif) no-repeat; padding-left: 33px; }
#my-services .nav2 .icq a { background: url(../images/bg/myrservices-nav-icq.gif) no-repeat; }
#my-services .nav2 .menu a { background: url(../images/bg/my-services-nav-menu.gif) no-repeat; }
#my-services .nav2 .horoscope a { background: url(../images/bg/my-services-nav-horoscope.gif) no-repeat; padding-left: 29px; }
#my-services .nav2 .papers a { background: url(../images/bg/my-services-nav-papers.gif) no-repeat; padding-left: 33px; }
#my-services .nav a.current, #my-services .nav2 a.current { background-position: right top !important; color: #000; }

/* My services: Services */
#my-services .service { width: 280px; display: none; }
#my-services .service .wrapper { background-color: #fff; background-repeat: no-repeat; padding-top: 16px; }
#my-services .service .inner { background: url(../images/bg/my-services-service.gif) bottom no-repeat; padding: 0 10px 10px 9px; }
#my-services .service2 { width: 280px; margin-top: 5px; display: none; }
#my-services .service2 .wrapper { background: #fff url(../images/bg/my-services-service2.gif) no-repeat; padding-top: 12px; }
#my-services .service2 .inner { background-repeat: no-repeat; background-position: bottom; padding: 0 10px 12px 9px; }

/* My services: Login form */
#my-services .login p { margin-bottom: 6px; }
#my-services .login label { font-weight: bold; vertical-align: middle; margin-right: 4px; }
#my-services .login input { vertical-align: middle; }
#my-services .login input.txt { border: 1px solid #aac1dd; font-size: 1.09em; width: 96px; padding: 3px 5px; margin-right: 3px; }
#my-services .login select { border: 1px solid #aac1dd; font-size: 1.09em; width: 104px; padding: 2px 0; vertical-align: middle; }
#my-services .login ul { background: url(../images/bg/line1.gif) repeat-x; padding-top: 9px; margin-top: 12px; }
#my-services .login li.new-account { float: left; font-weight: bold; font-size: 1.09em; padding-left: 13px; background: url(../images/bg/add.gif) left center no-repeat; }
#my-services .login li.forgot-password { float: right; }

/* My services: Logged */
#my-services .logged { padding: 6px 0 10px 0; width: 129px; float: left; }
#my-services .logged-first { margin-right: 3px; }
#my-services .logged h4 { padding-left: 10px; background: url(../images/bg/arrow1.gif) 0 60% no-repeat; }
#my-services .logged ul { margin-left: 10px; }
#my-services .logged .email { font-weight: bold; font-size: 1.09em; }
#my-services .logged .add { margin: 10px 0 0 -10px; }
#my-services .logged .add img { display: block; }

/* My services: Email */
#moje-sluzby-email .wrapper { background-image: url(../images/bg/my-services-email.gif); }

/* My services: Sutaze */
#moje-sluzby-sutaze.display { display: block; }
#moje-sluzby-sutaze .wrapper { background-image: url(../images/bg/my-services-competitions.gif); }
#moje-sluzby-sutaze .wrapper .inner { padding-bottom: 3px; }
#moje-sluzby-sutaze li { background: url(../images/bg/line1.gif) repeat-x; padding: 8px 0 7px 0; clear: both; }
#moje-sluzby-sutaze li.first { background: none; }
#moje-sluzby-sutaze li img { float: left; display: block; border: 1px solid #95b1d4; }
#moje-sluzby-sutaze li h4 { margin: 0 0 0 49px; }
#moje-sluzby-sutaze li p { margin: 0 0 0 47px; }

/* My services: Program */
#my-services #moje-sluzby-program .wrapper { background-image: url(../images/bg/my-services-program.gif); padding-top: 6px; }
#moje-sluzby-program table { width: 100%; }
#moje-sluzby-program table th { background: url(../images/bg/line1.gif) bottom repeat-x; padding: 4px 2px 4px 12px; color: #5c6066; }
#moje-sluzby-program table th a { font-weight: bold; }
#moje-sluzby-program table td { background: url(../images/bg/line1.gif) bottom repeat-x; padding: 4px 0 4px 10px; }
#moje-sluzby-program table td img { vertical-align: middle; }
#moje-sluzby-program .programs .programs-nav { background: #eff4f9 url(../images/bg/my-services-program-tabs-nav.gif) no-repeat; border-bottom: 1px solid #bfd0e5; }
#moje-sluzby-program .programs .programs-nav li { float: left; }
#moje-sluzby-program .programs .programs-nav a { display: block; padding: 4px 6px 2px 6px; background: url(../images/bg/my-services-program-tabs-nav-sep.gif) 0 60% no-repeat; }

#moje-sluzby-program .programs .programs-nav .first a { background: none; }
#moje-sluzby-program .programs .programs-nav a img { vertical-align: middle; margin-right: 2px; }
#moje-sluzby-program .programs .ui-tabs-selected { background: #fff url(../images/bg/my-services-program-tabs-nav-current2.gif) no-repeat; padding-left: 1px; margin: 0 -1px -1px 0; position: relative; }
#moje-sluzby-program .programs .ui-tabs-selected a { font-weight: bold; color: #000; background: url(../images/bg/my-services-program-tabs-nav-current2.gif) top right no-repeat !important; padding: 4px 6px 3px 6px; }
#moje-sluzby-program .programs .programs-nav a:hover { text-decoration: none; color: #000; }
#moje-sluzby-program .programs th { width: 30px; }
#moje-sluzby-program .programs td { padding: 6px 0 6px 10px; }
#moje-sluzby-program .selection { margin-top: 4px; }
#moje-sluzby-program .selection td { padding-left: 0; }
#moje-sluzby-program .selection tr:hover th, #moje-sluzby-program .selection tr:hover td { background-color: #f2f6fa; }
#moje-sluzby-program ul { margin-top: 8px; }
#moje-sluzby-program li.left { float: left; font-weight: bold; font-size: 1.09em; padding-left: 10px; background: url(../images/bg/arrow1.gif) 0 60% no-repeat; }
#moje-sluzby-program li.right { float: right; padding-right: 10px; background: url(../images/bg/arrow1.gif) 100% 60% no-repeat;  }

/* My services: ICQ  background-image: url(../images/bg/my-services-icq.gif);  padding-top: 20px; */
#my-services #moje-sluzby-icq .inner { background-image: url(../images/bg/my-services-icq.gif); min-height: 80px; padding-top:20px;}
/* #moje-sluzby-icq p { padding-left: 9px; background: url(../images/bg/arrow1.gif) 0 4px no-repeat; font-weight: bold; font-size: 1.09em; margin: 0; } */
#moje-sluzby-icq p { padding-left: 9px;  font-weight: bold; margin: 0; }
#moje-sluzby-icq p img { display: block; margin-top: 6px; }
#moje-sluzby-icq a:hover { text-decoration: none; }

/* My services: Horoskop */
#moje-sluzby-horoskop .inner { background-image: url(../images/bg/my-services-horoscope.gif); }
#moje-sluzby-horoskop .signs ul { float: left; width: 77px; padding-right: 10px; }
#moje-sluzby-horoskop .signs li { margin-bottom: 3px; }
#moje-sluzby-horoskop .signs li img { vertical-align: middle; margin-right: 5px; }
#moje-sluzby-horoskop .sign-img { float: left; display: block; margin: 11px 0 0 6px; }
#moje-sluzby-horoskop .text { margin-left: 92px; }
#moje-sluzby-horoskop h4 { color: #5c6066; font-weight: normal; margin-bottom: 6px; }
#moje-sluzby-horoskop h4 strong { color:#0d4e9d; font-weight: bold; font-size: 1.09em; }
#moje-sluzby-horoskop p { margin-bottom: 4px; }
#moje-sluzby-horoskop li.left { float: left; font-weight: bold; font-size: 1.09em; padding-left: 10px; background: url(../images/bg/arrow1.gif) 0 60% no-repeat; }
#moje-sluzby-horoskop li.right { float: right; padding-right: 10px; background: url(../images/bg/arrow1.gif) 100% 60% no-repeat; }

/* My services: Referaty */
#moje-sluzby-referaty .inner { background-image: url(../images/bg/my-services-papers.gif); }
#moje-sluzby-referaty .logged .add { margin-left: 0; }

/* Banner */
#right-col .banner { margin: 15px 0; clear: both; }
#right-col .banner img { display: block; }

/* Aukcie */
.auctions { width: 300px; margin-bottom: 11px; }
.auctions .nav { background: url(../images/bg/auctions-nav.gif) no-repeat; }
.auctions .nav li { float: left; }
.auctions .nav a { display: block; padding: 3px 2px 1px 2px; background: url(../images/bg/tabs-nav-sep.gif) 0 60% no-repeat; text-align: center; }
.auctions .nav .aukcie a { background: none; }
.auctions .nav .aukcie { width: 70px; }
.auctions .nav .konciace { width: 102px; }
.auctions .nav .odporucame { width: 84px; }
.auctions .nav .ui-tabs-selected { background: url(../images/bg/tab-nav-selected.gif) no-repeat; padding-left: 1px; margin: 0 -1px -1px 0; position: relative; }
.auctions .nav .ui-tabs-selected a { color: #000; font-weight: bold; background: url(../images/bg/tab-nav-selected.gif) top right no-repeat; padding: 4px 2px 2px 2px; }
.auctions .tab { padding-top: 11px; background: url(../images/bg/auctions-top.gif) right top no-repeat; }
.auctions .first-tab-selected { background-position: left top; }
.auctions .tab .inner { background: url(../images/bg/auctions-tab.png) bottom no-repeat; padding: 5px 10px 12px 10px; }
.auctions .tab li { float: left; width: 75px; text-align: center; }
.auctions .tab li.middle { margin: 0 25px; }
.auctions .tab li h3 { margin: 0.5em 0 0.5em 0; }
.auctions .tab li p { margin: 0; line-height: 1.18; }
.auctions .tab li strong { font-size: 1.3em; }

.auctions .nav span { display: block; padding: 3px 2px 1px 2px; background: url(../images/bg/tabs-nav-sep.gif) 0 60% no-repeat; text-align: center; }
.auctions .nav .aukcie span { background: none; }
.auctions .nav .ui-tabs-selected span { color: #000; font-weight: bold; background: url(../images/bg/tab-nav-selected.gif) top right no-repeat; padding: 4px 2px 2px 2px; }


/* Selfpromo */
.selfpromo { background: url(../images/bg/selfpromo.gif) no-repeat; padding-top: 8px; line-height: 1.25em; font-size: 1.09em; }
.selfpromo p { background: url(../images/bg/selfpromo.gif) bottom no-repeat; padding: 0 30px 9px 11px; margin: 0; }
.selfpromo a { display: block; padding: 5px 0 3px 34px; background: url(../images/bg/bulb.gif) no-repeat; }

/* Footer */
#footer { clear: both; color: #5c6066; font-size: 1.09em; margin-left: 11px; }
#footer p { float: left; }
#footer li { float: left; background: url(../images/bg/footer-sep.gif) 0 70% no-repeat; padding-left: 7px; margin-left: 6px; }
.add{ margin: 0 0 0 10px;}

.div_right {text-align:right;}

.cp_submit {
background:transparent url(http://static.mediacentrum.sk/atlas.sk/images/buttons/search.gif) no-repeat;
border:0 solid transparent;
display:block;
margin-left: 14px;
height: 30px;
width:130px;
}

.menu_title{ margin: 0 0 5px 8px; font-size: 1.4em;}

input.txt2 { border: 1px solid #aac1dd; font-size: 1.09em; width: 130px; margin-left: 4px; }
input.txt3 { border: 1px solid #aac1dd; font-size: 1.09em; width: 130px; margin-left: 8px; }


#leaderboard {text-align:center;}

.add_company_button{
	background: url("../images/buttons/pathMore.jpg") no-repeat scroll 0 0 transparent;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 19px;
	margin: 8px 6px 3px;
	padding: 5px 0 0 32px;
	text-decoration: none;
	width: 132px;
}

/* branding zone patch */
#ibb-ads-21075-1-1-2 {display:block;margin:0 auto;width:995px;padding:0;float:none;}
