/* -------------------------------------------------
	Backgrounds
	El HTML debe contener la siguiente archivo de estilo para cargar los backgrounds
	<link rel="stylesheet" href="css/backgrounds.css">

	PEXELS --> https://www.pexels.com/
	página con imágenes gratuitas y en muy alta calidad con Licencia Creatie Commons pata utilizar en distintos proyectos

------------------------------------------------- */

/* -------------------------------------------------
	Backgrounds slider "index.html"
------------------------------------------------- */
.slider-container .bg_promo-01 {
	background-image: url('../img/slider/park.jpg')
}

.slider-container .bg_promo-02 {
	background-image: url('../img/slider/phone.jpg')
}

.slider-container .bg_promo-03 {
	background-image: url('../img/slider/tablet.jpg')
}

/* -------------------------------------------------
	Backgrounds index.html
------------------------------------------------- */
.slider-container .bg_empresa,
.band.band-08 {
	background-image: url('../img/backgrounds/bank.jpg')
}

.services--box-container.bg_services-personas {
	background-image: url('../img/backgrounds/ej013.jpg')
}

.services--box-container.bg_services-empresas {
	background-image: url('../img/backgrounds/ej09.jpg')
}

.services--box-container.bg_services-entidades {
	background-image: url('../img/backgrounds/ej14.jpg')
}

/* -------------------------------------------------
	Backgrounds Paginas internas (y cuadros de servicios)
------------------------------------------------- */

/* SERVICIOS PARA PERSONAS */

.slider-container .bg_interna-cajerosautomaticos,
.services--box-container.bg_interna-cajerosautomaticos,
.band.band-05 {
	background-image: url('../img/interna/backgrounds/ej00.jpg')
}

.slider-container .bg_interna-homebanking,
.services--box-container.bg_interna-homebanking,
.band.band-07 {
	background-image: url('../img/interna/backgrounds/ej12.jpg')
}

.slider-container .bg_interna-bancacelular,
.services--box-container.bg_interna-bancacelular,
.band.band-02 {
	background-image: url('../img/interna/backgrounds/ej08.jpg')
}

.slider-container .bg_interna-bancatelefonica,
.services--box-container.bg_interna-bancatelefonica,
.band.band-04 {
	background-image: url('../img/interna/backgrounds/ej01.jpg')
}

.slider-container .bg_interna-transfelectronica,
.services--box-container.bg_interna-transfelectronica,
.band.band-20 {
	background-image: url('../img/interna/backgrounds/ej02.jpg')
}

.slider-container .bg_interna-pagosycobranzas,
.services--box-container.bg_interna-pagosycobranzas,
.band.band-09 {
	background-image: url('../img/interna/backgrounds/ej04.jpg')
}

.slider-container .bg_interna-prestamos,
.services--box-container.bg_interna-prestamos,
.band.band-12 {
	background-image: url('../img/interna/backgrounds/ej17.jpg')
}

.slider-container .bg_interna-plazofijo,
.services--box-container.bg_interna-plazofijo,
.band.band-11 {
	background-image: url('../img/interna/backgrounds/ej16.jpg')
}

.slider-container .bg_interna-reposiciontarjeta,
.services--box-container.bg_interna-reposiciontarjeta,
.band.band-14 {
	background-image: url('../img/interna/backgrounds/ej03.jpg')
}

.slider-container .bg_interna-servicioafip,
.services--box-container.bg_interna-servicioafip,
.band.band-17 {
	background-image: url('../img/interna/backgrounds/ej18.jpg')
}

.slider-container .bg_interna-seguridadonline,
.services--box-container.bg_interna-seguridadonline,
.band.band-15 {
	background-image: url('../img/interna/backgrounds/ej19.jpg')
}

.slider-container .bg_interna-recargacreditocelulares,
.services--box-container.bg_interna-recargacreditocelulares,
.band.band-13 {
	background-image: url('../img/interna/backgrounds/ej20.jpg')
}

.slider-container .bg_interna-extraccionsintarjeta,
.services--box-container.bg_interna-extraccionsintarjeta {
	background-image: url('../img/interna/backgrounds/ej03.jpg')
}

.slider-container .bg_interna-perdidatarjeta,
.services--box-container.bg_interna-perdidatarjeta,
.band.band-10 {
	background-image: url('../img/interna/backgrounds/ej22.jpg')
}

/* SERVICIOS PARA EMPRESAS */

.slider-container .bg_interna-bancaempresas,
.services--box-container.bg_interna-bancaempresas,
.band.band-03 {
	background-image: url('../img/interna/backgrounds/ej09.jpg')
}

/* SERVICIOS PARA ENTIDADES */

.slider-container .bg_interna-coelsa,
.services--box-container.bg_interna-coelsa,
.band.band-06 {
	background-image: url('../img/interna/backgrounds/ej05.jpg')
}

.slider-container .bg_interna-atm,
.services--box-container.bg_interna-atm,
.band.band-01 {
	background-image: url('../img/interna/backgrounds/ej11.jpg')
}

.slider-container .bg_interna-swift,
.services--box-container.bg_interna-swift,
.band.band-18 {
	background-image: url('../img/interna/backgrounds/ej15.jpg')
}

.slider-container .bg_interna-csirt,
.services--box-container.bg_interna-csirt,
.band.band-16 {
	background-image: url('../img/interna/backgrounds/ej10.jpg')
}

/* -------------------------------------------------
	Backgrounds Terminos y Condiciones
------------------------------------------------- */

.slider-container .bg_interna-terminos,
.services--box-container.bg_interna-terminos,
.band.band-19 {
	background-image: url('../img/interna/backgrounds/ej21.jpg')
}

/* -------------------------------------------------
	Backgrounds Buscador de Cajeros
------------------------------------------------- */
.buscador {
	background-image: url('../img/backgrounds/bank.jpg');
}
.cajeros {
	background-image: url('../img/backgrounds/bank.jpg');
}

/* -------------------------------------------------
	Otros fondos alta/baja de páginas
------------------------------------------------- */

.slider-container .bg_interna-000,
.services--box-container.bg_interna-000,
.band.band-000 {
	background-image: url('../img/interna/backgrounds/000.jpg')
}

.slider-container .bg_interna-001,
.services--box-container.bg_interna-001,
.band.band-001 {
	background-image: url('../img/interna/backgrounds/001.jpg')
}

.slider-container .bg_interna-002,
.services--box-container.bg_interna-002,
.band.band-002 {
	background-image: url('../img/interna/backgrounds/002.jpg')
}

.slider-container .bg_interna-003,
.services--box-container.bg_interna-003,
.band.band-003 {
	background-image: url('../img/interna/backgrounds/003.jpg')
}

.slider-container .bg_interna-004,
.services--box-container.bg_interna-004,
.band.band-004 {
	background-image: url('../img/interna/backgrounds/004.jpg')
}

.slider-container .bg_interna-005,
.services--box-container.bg_interna-005,
.band.band-005 {
	background-image: url('../img/interna/backgrounds/005.jpg')
}

.slider-container .bg_interna-006,
.services--box-container.bg_interna-006,
.band.band-006 {
	background-image: url('../img/interna/backgrounds/006.jpg')
}

.slider-container .bg_interna-007,
.services--box-container.bg_interna-007,
.band.band-007 {
	background-image: url('../img/interna/backgrounds/007.jpg')
}

.slider-container .bg_interna-008,
.services--box-container.bg_interna-008,
.band.band-008 {
	background-image: url('../img/interna/backgrounds/008.jpg')
}

.slider-container .bg_interna-009,
.services--box-container.bg_interna-009,
.band.band-009 {
	background-image: url('../img/interna/backgrounds/009.jpg')
}

.slider-container .bg_interna-010,
.services--box-container.bg_interna-010,
.band.band-010 {
	background-image: url('../img/interna/backgrounds/010.jpg')
}

.slider-container .bg_interna-011,
.services--box-container.bg_interna-011,
.band.band-011 {
	background-image: url('../img/interna/backgrounds/011.jpg')
}

.slider-container .bg_interna-012,
.services--box-container.bg_interna-012,
.band.band-012 {
	background-image: url('../img/interna/backgrounds/013.jpg')
}
.slider-container .bg_interna-014,
.services--box-container.bg_interna-015,
.band.band-015 {
	background-image: url('../img/interna/backgrounds/015.jpg')
}
.slider-container .bg_interna-016,
.services--box-container.bg_interna-017,
.band.band-017 {
	background-image: url('../img/interna/backgrounds/018.jpg')
}

.slider-container .bg_interna-019,
.services--box-container.bg_interna-019,
.band.band-019 {
	background-image: url('../img/interna/backgrounds/019.jpg')
}

.slider-container .bg_interna-020,
.services--box-container.bg_interna-020,
.band.band-020 {
	background-image: url('../img/interna/backgrounds/020.jpg')
}
