.cf:before, .cf:after {content: " "; display: table;}
.cf:after {clear: both;}

.flux_login {
	margin-right: auto;
	margin-left: auto;
	background-color: #E6E6E6;
	font-family: 'Quicksand', sans-serif;
}

.flux_wrapper {
	margin-right: auto;
	margin-left: auto;
}

.flux_wrapper.xs {
	max-width: 360px;
}

.flux_wrapper.md {
	max-width: 1024px;
}

.flux_container {
	margin-top: 5%;
	text-align: center;
}

.air {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
}

.flux_logo {
	display: block;
	margin-bottom: 40px;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
}

.flux_3818 {
	display: block;
	margin-top: 50px;
	width: 60px;
	margin-right: auto;
	margin-left: auto;
}

.flux_form input {
	-webkit-appearance:none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	display: block;
	width: 100%;	
	margin-bottom: 15px;
	border-radius: 3px;
	padding: 15px;
	font-family: 'Quicksand', sans-serif;
}

.flux_form .fields {
	background-color: white;
}

.flux_select {
	-webkit-appearance:none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	box-shadow: inset 0 0 0 2px #c6c6c6;
	display: block;
	width: 100%;	
	background-color: #E6E6E6;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 'Quicksand', sans-serif;
}

/*.flux_select option {
	padding-top: 15px;
	padding-bottom: 15px;
}*/

.flux_btn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	border-radius: 3px;
	text-decoration: none;
	background-color: black;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	color: white;
	cursor: pointer;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	-webkit-transition: all 0.1s ease 0s;
	transition: all 0.1s ease 0s;
}

.flux_btn:hover {
	text-decoration: none !important;
}

.flux_btn.primary {
	background-color: #1B7377;
}

.flux_btn.primary:hover {
	background-color: #135154;
}

.flux_btn.secondary {
	background-color: #9FC469;
}

.flux_btn.secondary:hover {
	background-color: #708a4a;
}

.flux_btn.third {
	background-color: transparent;
	color: #a1a1a1;
}

.flux_btn.third:hover {
	background-color: transparent;
	box-shadow: inset 0 0 0 1px #a1a1a1;
}

.flux_login-buttons .flux_btn-container	 {
	margin-top: 50px;
}

.flux_editing {
	/*margin-top: 50px;*/
	margin-top: 0 !important;
}

.flux_header {
	display: none;
	width: 100%;
	height: 30px;
	position: fixed;
	margin-bottom: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	top: 0;
	z-index: 999999;
	background-color: #E6E6E6;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.flux_header.visible {
	display: block;
}

.flux_header .flux_logo {
	float: left;
	width: 80px;
	margin: 0;
}

.flux_user-btn {
	float: right;
	margin: 0;
}

.flux_user-btn li {
	float: right;
	margin-top: 7px;
	margin-left: 20px;
	font-size: 14px;
}

.flux_user-btn li a {
	color: #666;
	text-decoration: none;
}

.flux_user-btn li a:hover {
	color: #1B7377;
}

.flux_user-btn li i {
	margin-left: 7px;
}

.flux_btn-header {
	float: left;
	margin-left: 50px;
}

.flux_btn-header .flux_btn {
	display: inline-block;
}

/* SLIDER DE FUX */

.slider-container {
	background: #135154 url('../img/backgrounds/default.png') center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	/*background-color: #135154;*/
}
/*.slider-container #go-left,
.slider-container #go-right {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50%;
	z-index: 400;
	cursor: pointer;
	margin-top: -12.5px;
	text-align: center;
	line-height: 25px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	border-radius: 100%;
	-webkit-transition: box-shadow 0.5s ease;
	-moz-transition: box-shadow 0.5s ease;
	-o-transition: box-shadow 0.5s ease;
	transition: box-shadow 0.5s ease;
}*/
.slider-container #go-left:hover,
.slider-container #go-right:hover {
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
}
.slider-container #go-right {
	margin-right: 50px;
	right: 0;
}
.slider-container #go-left {
	margin-left: 50px;
}
.slider-container {
	position: relative;
	overflow: hidden;
}
.slider-container > ul {
	width: 100%;
	position: relative;
}
.slider-container > ul li {
	position: relative;
	display: inline-block;
	float: left;
	text-align: center;
	width: 650px;
}
.slider-container img {
	width: auto;
	height: 100%;
}

.slider-pager:after {
  content: "";
  display: table;
  clear: both;
}
.slider-pager {
  width: 100%;
  height: 25px;
  display: block;
  float: left;
  text-align: center;
}
.slider-pager ul {
	margin: 0;
	padding: 0;
	display: inline-block;
}
.slider-pager li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}
.slider-pager li a {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: transparent;
  border: 2px solid #cc4567;
  outline: 0;
}
.slider-pager li a:hover,
.slider-pager li a.active {
  background-color: #ca525f;
  border: 2px solid #ca525f;
}