@import url(https://fonts.googleapis.com/css?family=Raleway:900,200,400);
h1, h2, h3, h4, h5, h6, li, span, label, input, button, textarea {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	text-decoration: none
}
a, p {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none
}
h1 {
	line-height: 50px
}
h2 {
	line-height: 40px
}
h3 {
	line-height: 34px
}
h4 {
	line-height: 30px
}
h5 {
	line-height: 24px
}
h6 {
	line-height: 21px
}
.bold {
	font-weight: bold
}
.italic {
	font-style: italic
}
.link {
	color: #91C44A
}
.heading {
	display: inline-block;
	font-weight: 900;
	text-decoration: none;
	position: relative
}
.headingsingle {
	display: inline-block;
	font-weight: 900;
	text-decoration: none;
	position: relative
}
.heading:before, .heading:after {
	content: '';
	width: 200px;
	height: 1px;
	position: absolute;
	top: 55%
}
.headingsingle:before, .headingsingle:after {
	content: '';
	width: 200px;
	height: 1px;
	position: absolute;
	top: 55%
}
.heading:before, .headingsingle:before {
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(145, 196, 74, 1)), color-stop(100%, rgba(145, 196, 74, 1)));
	background: -webkit-linear-gradient(left, rgba(21, 21, 21, 1)0%, rgba(145, 196, 74, 1)100%);
	background: -moz-linear-gradient(left, rgba(21, 21, 21, 1))0%, rgba(145, 196, 74, 1))100%);
	background: -ms-linear-gradient(left, rgba(21, 21, 21, 1)0%, rgba(145, 196, 74, 1)100%);
	background: -o-linear-gradient(left, rgba(21, 21, 21, 1)0%, rgba(145, 196, 74, 1))100%);
	background: linear-gradient(to right, rgba(21, 21, 21, 1)0%, rgba(145, 196, 74, 1)100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#91c44a', GradientType=1);
	left: -210px
}
.heading:after, .headingsingle:after {
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(145, 196, 74, 1)), color-stop(100%, rgba(21, 21, 21, 1)));
	background: -webkit-linear-gradient(left, rgba(145, 196, 74, 1)0%, rgba(21, 21, 21, 1)100%);
	background: -moz-linear-gradient(left, rgba(145, 196, 74, 1)0%, rgba(21, 21, 21, 1)100%);
	background: -ms-linear-gradient(left, rgba(145, 196, 74, 1)0%, rgba(21, 21, 21, 1)100%);
	background: -o-linear-gradient(left, rgba(145, 196, 74, 1)0%, rgba(21, 21, 21, 1)100%);
	background: linear-gradient(to right, rgba(145, 196, 74, 1)0%, rgba(21, 21, 21, 1)100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#91c44a', GradientType=1);
	right: -210px
}
html, body {
	height: 100%
}
body {
	-moz-font-smoothing: antialiased!important;
	font-smoothing: antialiased!important;
	font-smooth: always;
	text-align: center
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
ul, ol {
	list-style: none
}
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0
}
*:focus {
	outline: 0
}
#headernav li.current a, .login a, #mobilenav li.current a, #navicon:hover, #scroll-down:hover, section.header span, #services .item i, #services .item h3, #portfolio label:hover, #contact .info i, #social ul li a:hover {
	color: #91c44a
}
#headernav li a:hover, #contact .success, .btn.green {
	background: #91c44a
}
.btn.grey {
	background: #656565;
	pointer-events: none;
	cursor: default;
}
.btn.blue {
	background: #4aacc4;
}
.btn.green, .btn.grey {
	color: #000
}
.clear {
clear:both;
}
#singlepage .btn.green {
	color: #000
}
#singlepage .btn.grey {
	color: #000;
	margin: 0 2px;
}
.btn.green:active {
	background: #91c44a
}
::selection {
	background-color: #91C44A;
	color: #fff
}
::-moz-selection {
background-color:#91c44a;
color:#fff
}
#sticky-header.stuck {
	position: fixed;
	top: 0;
	z-index: 999
}
#sticky-header {
	width: 100%;
	height: auto
}
#sticky-header h1 {
	margin: 0 auto;
	float: left
}
#sticky-header h1 a, footer h1 a {
	display: block;
	max-width: 100%;
	max-height: 100%;
	color: transparent;
	font: 0/0 a;
	text-decoration: none;
	text-shadow: none;
	padding: 15px 0
}
#headernav {
	display: block;
	float: right
}
#headernav ul {
	margin: 0;
	float: right
}
#headernav li, #mobilenav li {
	display: inline-block;
	height: auto;
	float: left;
	position: relative
}
#headernav li a, #mobilenav li a {
	display: block;
	height: 100%;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	padding: 25px 20px;
}
#headernav li a:hover {
	box-shadow: inset 0 0 45px rgba(0,0,0,0.5)
}
#headernav li.login a {
	color: #91c44a !important;

}
#headernav li.current:hover a, #mobilenav li.current:hover a {
	color: #fff
}
#navicon {
	display: none;
	font-size: 28px;
	margin: 16px 0;
	float: right
}
#mobilenav.stuck {
	position: fixed;
	top: 70px
}
#mobilenav {
	display: none;
	width: 100%;
	box-shadow: inset 0 0 15px #000;
	z-index: 999
}
#mobilenav ul {
	width: 100%;
	margin: 15px 0;
	float: left
}
#mobilenav li {
	display: block;
	width: 100%;
	text-align: left
}
#mobilenav li:first-child {
	border-top: 0
}
#mobilenav li:last-child {
	border-bottom: 0
}
#mobilenav li a {
	padding: 15px
}
#mobilenav li a:hover {
	color: #fff
}
footer {
	width: 100%;
	height: auto;
	text-align: left;
	padding: 30px 0;
	position: relative
}
footer h1 a {
	padding: 0;
	float: none
}
footer .copyright {
	width: 100%;
	text-align: center
}
footer .copyright p {
	font-size: 14px
}
footer .copyright a {
	color: #91C44A;
}
#intro {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	background: url('../images/background/background1.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: inset 0 0 35px rgba(0,0,0,0.5);
	-webkit-backface-visibility: hidden
}
#intro-image {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	background: url('../images/background/city-bg.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: inset 0 0 35px rgba(0,0,0,0.5);
	-webkit-backface-visibility: hidden;
	margin-bottom: -70px;
}
#intro-image .overlay {
	display: block;
	width: 100%;
	height: 100%;
	background: url('../images/patterns/6.diag.png') repeat rgba(0,0,0,0.7)
}
#intro-logo {
	position: absolute;
	top: 30%;
	left: 50%;
	z-index: 10;
	margin-left: -130px
}
#intro-logo, #scroll-down {
	-webkit-animation: fadeIn 5s 1 ease-in;
	-moz-animation: fadeIn 5s 1 ease-in;
	-ms-animation: fadeIn 5s 1 ease-in;
	-o-animation: fadeIn 5s 1 ease-in;
	animation: fadeIn 5s 1 ease-in
}
#scroll-down {
	color: #fff;
	text-shadow: 0 0 15px #91c44a;
	border-radius: 25px;
	margin-left: -30px;
	position: absolute;
	left: 50%;
	bottom: 15%;
	z-index: 10
}
.anchor{
	display: block;
	height: 70px;
	margin-top: -70px; 
	visibility: hidden;
}
@-webkit-keyframes fadeIn {
from {
opacity:0
}
to {
	opacity: 1
}
}
@-moz-keyframes fadeIn {
from {
opacity:0
}
to {
	opacity: 1
}
}
@-ms-keyframes fadeIn {
from {
opacity:0
}
to {
	opacity: 1
}
}
@-o-keyframes fadeIn {
from {
opacity:0
}
to {
	opacity: 1
}
}
@keyframes fadeIn {
from {
opacity:0
}
to {
	opacity: 1
}
}
#content {
	display: block;
	text-align: left
}
section.header {
	width: 100%;
	text-align: center;
	padding: 70px 0 20px 0;
	margin-bottom: 30px
}
section.header h1 {
	margin: 70px 0 14px
}
section.header span {
	display: block;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px
}
#services .container, #clients .container, #portfolio .container, #contact, #singlepage .container {
	padding-bottom: 50px
}
#services .item {
	text-align: center;
	padding: 30px 10px 30px 30px
}
#services .item i {
	font-size: 60px
}
#services .item:hover i {
	text-shadow: 1px 2px 1px #903, 0 0 30px rgba(255,0,96,0.7)
}
#services .item h3 {
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 0 0
}
.inventory {
	background: #181818;
	border: 1px solid #222;
	margin: 10px;
	display: block;
	padding: 10px;
}

.inventoryblack {
	background: #000;
	border: 1px solid #222;
	margin: 10px;
	display: block;
	padding: 10px;
	position:relative;
}
.inventorywhite {
	background: #FFF;
	border: 1px solid #222;
	margin: 10px;
	display: block;
	padding: 10px;
	position:relative;
}


.geos {
	font-size:15px !important;
}
.geos span {
	color: #91C44A !important;
	font-weight: bold !important;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0 2px;
}

#inventorysold {
	background: #222222;
	border: 1px solid #222;
	margin: 10px;
	display: block;
	padding: 10px;
}
#services .item h3:after {
	content: '';
	display: block;
	width: 50px;
	height: 1px;
	opacity: .5;
	position: relative;
	left: 50%;
	margin: 15px 0 15px -25px
}
#services .item p {
	font-size: 12px;
	line-height: 25px
}
#clients .row {
	margin-bottom: 0
}
#clients .indiv {
	text-align: center;
	padding-bottom: 10px
}
#clients .indiv .image-container {
	max-width: 220px;
	max-height: 100px
}
#clients .indiv h3 {
	font-size: 20px;
	text-transform: uppercase;
	line-height: 22px;
	letter-spacing: 2px;
	padding: 10px 0 0;
	margin: 0
}
#clients .indiv h3 span {
	display: block;
	width: 100%;
	font-family: 'Open Sans', sans-serif
}
#clients .indiv ul {
	display: inline-block;
	list-style: none
}
#clients .indiv ul li {
	display: inline-block;
	margin: 0 2px;
	float: left
}
#clients .indiv ul li a {
	font-size: 16px;
	border-radius: 2px;
	padding: 3px
}
#clients .about {
	text-align: center;
	padding-top: 20px
}
#clients .about h2 {
	margin-bottom: 28px
}
#clients .about p {
	display: block;
	font-size: 14px;
	line-height: 28px;
	text-align: left;
	padding-bottom: 21px
}
#tweetbox section.header {
	background: url('../images/background/city-bg-darker.jpg') no-repeat fixed;
	background-size: cover;
	padding: 140px 0;
	margin-bottom: 0;
	position: relative
}
#tweetbox h3.tweetbox {
	color: #fff;
	font-size: 32px;
	text-transform: uppercase;
	text-shadow: 0 3px 15px #000;
	padding-top: 0;
	margin-bottom: 21px
}
#tweetbox a {
	color: #91C44A;
}
#tweetbox h3.tweetbox:after {
	content: '';
	display: block;
	width: 50px;
	height: 1px;
	background: #fff;
	opacity: .5;
	position: relative;
	left: 50%;
	margin: 30px 0 30px -25px
}
#tweetbox span.tweetbox-author {
	color: #eee;
	font-size: 21px;
	text-shadow: 0 3px 15px #000;
	text-transform: none
}
#social section.header {
	background: url('../images/background/background3.jpg') no-repeat fixed;
	background-size: cover;
	background-position: 50% 0;
	padding: 30px 0;
	margin-bottom: 0
}
#social ul {
	display: inline-block;
	list-style: none
}
#social ul li {
	display: inline-block;
	margin: 0 15px;
	float: left
}
#social ul li a {
	display: block;
	color: #fff;
	font-size: 35px;
	text-shadow: 0 0 15px rgba(0,0,0,0.5);
	position: relative
}
#social ul li a:hover {
	text-shadow: 0 0 15px rgba(0,0,0,0.7)
}
#social ul li a span {
	width: 100px;
	height: 40px;
	font-size: 14px;
	text-align: center;
	text-transform: none;
	letter-spacing: 0;
	border-radius: 5px;
	opacity: 0;
	padding: 10px;
	margin-left: -50px;
	position: absolute;
	left: 50%;
	bottom: 100px;
	pointer-events: none
}
#social ul li a:hover span {
	opacity: 1;
	bottom: 55px
}
button, input[type=submit] {
	width: auto
}
.btn {
	color: #666;
	display: inline-block;
	width: auto;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	background: #efefef;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	padding: 15px;
	margin: 10px 0 ;
}

.btn:active {
	text-decoration: none;
	box-shadow: inset 0 0 15px rgba(0,0,0,0.3)
}

input[type=text], input[type=email], input[type=password], textarea {
	width: 100%;
	height: auto;
	font-size: 15px;
	padding: 15px;
	margin-bottom: 15px
}
input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, textarea:hover {
	border: 1px solid #91c44a
}
input:focus, textarea:focus {
	border: 1px solid #91c44a;
	box-shadow: inset 0 0 10px rgba(145, 196, 74, 1)
}
a, i, span, label, button, input, textarea, img, .image-container {
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-ms-transition: .3s linear;
	-o-transition: .3s linear;
	transition: .3s linear
}
#preloader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999
}
#status {
	width: 200px;
	height: 200px;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	left: 50%
}
.available {
	position: absolute;
	right: 85px;
	margin: -30px 10px 0 0;
	color: #91c44a;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}
.soldout {
	position: absolute;
	right: 85px;
	margin: -30px 10px 0 0;
	color: #656565;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}
.bannerinv {
	min-height: 420px;
	width: 620px;
	display: block;
	position: relative;
	z-index: 90;
	background: #181818;
	border: 1px solid #222;
	margin: 10px 10px 10px 0;
	display: block;
	padding: 25px 25px 0 25px;
	float: left;
}
.bannerinv p {
	text-align: right !important;
	color: #999;
}
.bannerinv a {
	color: #91C44A;
}
.bannerinv h2 {
	text-align: left !important;
	margin-top: 10px;
	color: #0C6;
	font-family:'Raleway', sans-serif;
	font-weight:bold;
	font-size: 55px !important;
	text-transform: uppercase;
}
.bannerinv h2 span {
	text-align: left !important;
	color: #91C449;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 30px !important;
	line-height: 25px;
	text-transform: uppercase;
}
.ribbon-wrapper-green {
	width: 160px;
	height: 112px;
	overflow: hidden;
	position: absolute;
	top: 1px;
	right: 0px;
}

.ribbon-green {
	font: bold 15px Sans-Serif;
	color: #333;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: relative;
	padding: 10px 0;
	left: 100px;
	top: 0;
	width: 120px;
	background-color: #BFDC7A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
	background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
	color: #000000;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

.responsive img {
	width: 100%;
	height: auto;
}
@media only screen and (min-width:768px) and (max-width:959px) {
.headingsingle:before, .headingsingle:after {
	display: none
}
#clients .indiv .image-container {
	max-width: 172px;
	max-height: 172px
}
#tweetbox h3 {
	font-size: 26px
}
#tweetbox span {
	font-size: 20px
}
#portfolio-items li {
	max-width: 252px;
	max-height: 196px
}
#contact .error {
	margin: -10px 0 0 -364px
}

.bannerinv {
	min-height: 420px;
	width: 490px;
	display: block;
	position: relative;
	z-index: 90;
	background: #181818;
	border: 1px solid #222;
	margin: 10px 10px 10px 0;
	display: block;
	padding: 25px;
	float: left;
}
.bannerinv p {
	text-align: right !important;
	color: #999999;
}
.bannerinv h2 {
	text-align: left !important;
	margin-top: 10px;
	color: #0C6;
	font-family:'Raleway', sans-serif;
	font-weight:bold;
	font-size: 40px !important;
	text-transform: uppercase;
	line-height: 30px !important;
}
.bannerinv h2 span {
	text-align: left !important;
	color: #91C449;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 25px !important;
	line-height: 20px;
	text-transform: uppercase;
}

.bannerinv img {
	width: 500px;
	haight: auto;
}

.inventory img, .inventoryblack img, .inventorywhite img {
	width: 180px;
	height: auto !important;
}
}
@media only screen and (min-width:480px) and (max-width:767px) {
#headernav {
	display: none
}
#navicon {
	display: block
}
.heading:before, .heading:after, .headingsingle:before, .headingsingle:after {
	display: none
}
#services .item {
	margin-bottom: 15px
}
#clients .container {
	padding-bottom: 30px
}
#clients .indiv {
	margin-bottom: 30px
}
#clients .indiv .image-container {
	max-width: 420px;
	max-height: 420px
}
#clients .indiv ul li a {
	color: #91c44a;
	font-size: 18px
}
#tweetbox section.header {
	background-attachment: scroll;
	padding: 70px 0
}
#tweetbox h3.tweetbox {
	font-size: 24px;
	padding: 0 10px
}
#tweetbox span.tweetbox-author {
	font-size: 18px
}

.mfp-close {
	right: 0
}
#contact .send {
	width: 100%;
	float: none
}
#contact .info h3 {
	font-size: 24px
}
#contact .info h4 {
	font-size: 18px
}
#contact .info span {
	font-size: 18px;
	padding-bottom: 15px
}
#contact .error {
	margin: -10px 0 0 -420px
}
#social section.header {
	background-attachment: scroll
}
#social ul li {
	margin: 10px;
	float: none
}
#social ul li a {
	font-size: 30px
}
#social ul li a span {
	display: none
}
input[type=text], input[type=email], input[type=password], textarea {
	border-radius: 0
}
.bannerinv {
	min-height: 420px;
	width: 400px;
	display: block;
	position: relative;
	z-index: 90;
	background: #181818;
	border: 1px solid #222;
	margin: 10px;
	display: block;
	padding: 25px;
	float: left;
}

.bannerinv h2 {
	text-align: left !important;
	margin-top: 10px;
	color: #0C6;
	font-family:'Raleway', sans-serif;
	font-weight:bold;
	font-size: 30px !important;
	text-transform: uppercase;
	line-height: 25px !important;
}
.bannerinv h2 span {
	text-align: left !important;
	color: #91C449;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 20px !important;
	line-height: 20px;
	text-transform: uppercase;
}
.bannerinv img {
	width: 400px;
	haight: auto;
}

}
@media only screen and (max-width:479px) {
#headernav {
	display: none
}
#navicon {
	display: block
}
.heading:before, .heading:after, .headingsingle:before, .headingsingle:after {
	display: none
}
section.header span {
	font-size: 16px
}
#services .item {
	margin-bottom: 15px
}
#clients .container {
	padding-bottom: 30px
}
#tweetbox section.header {
	background-attachment: scroll;
	padding: 70px 0
}
#tweetbox h3.tweetbox {
	font-size: 22px;
	padding: 0 10px
}
#tweetbox span.tweetbox-author {
	font-size: 16px
}
#portfolio .container {
	padding-bottom: 30px
}
#portfolio-items li {
	display: block;
	max-width: 300px;
	max-height: 234px;
	margin: 1px 0;
	float: none
}
#contact .send {
	width: 100%;
	float: none
}
#contact .error {
	margin: -10px 0 0 -300px
}
#social section.header {
	background-attachment: scroll
}
#social ul li {
	margin: 10px;
	float: none
}
#social ul li a {
	font-size: 30px
}
#social ul li a span {
	display: none
}
input[type=text], input[type=email], input[type=password], textarea {
	border-radius: 0
}
.bannerinv {
	min-height: 420px;
	width: 280px;
	display: block;
	position: relative;
	z-index: 90;
	background: #181818;
	border: 1px solid #222;
	margin: 10px;
	display: block;
	padding: 25px;
	float: left;
}
.bannerinv p {
	text-align: right !important;
	color: #999;
}
.bannerinv h2 {
	text-align: left !important;
	margin-top: 10px;
	color: #0C6;
	font-family:'Raleway', sans-serif;
	font-weight:bold;
	font-size: 25px !important;
	text-transform: uppercase;
	line-height: 30px !important;
}
.bannerinv h2 span {
	text-align: left !important;
	color: #91C449;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 14px !important;
	line-height: 5px;
	text-transform: uppercase;
}
.bannerinv img {
	width: 280px;
	haight: auto;
}
}
/* Additional style (incorporate this to above) */

body, #services, #portfolio, footer {
	background: #151515
}
#clients, #tweetbox, #contact, #social {
	background: #181818
}
#sticky-header {
	background: rgba(21,21,21,0.9)
}
#headernav li a, #mobilenav li a, #navicon {
	color: #999
}
#headernav li a:hover {
	color: #fff
}
#mobilenav {
	background: url('../images/patterns/1.darklinen.png') repeat #151515
}
#mobilenav li {
	border-top: 1px solid #050505;
	border-bottom: 1px solid #1d1d1d
}
footer .copyright p {
	color: #999;
	padding-top: 10px;
}
section.header h1 {
	color: #fff;
	font-size: 60px
}
.heading, .headingsingle {
	font-family: 'Raleway', cursive;
	text-transform: uppercase;
}
.bigemail {
	font-family: 'Raleway', cursive;
	font-size: 70px;
	color: #8ABA47;
	font-weight: 900;
}
#services .item {
	background: #181818;
	border: 1px solid #222;
}
#services .item h3:after {
	background: #666
}
#services .item p {
	color: #999
}
ul.services {
	color: #ccc;
	font-size: 12px;
	text-align: left;
	list-style-type: square;
	margin: 0 0 0 5px;
}
ul.services li {
	color: #999;
	font-size: 12px;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

#clients .about h2 {
	color: #fff;
	font-size: 56px
}
#clients .about p {
	color: #999
}
#contact .info h3 {
	color: #ccc
}
#contact .info h4 {
	color: #999
}
#contact .info p, #contact .info span, #contact .info a {
	color: #666
}
#map-wrapper {
	background: url('../images/patterns/1.darklinen.png') repeat #252525
}
#social ul li a span {
	color: #fff;
	background: #333
}
.colorgreen {
	color: #91C44A;
	font-weight: bold;
}
input[type=text], input[type=email], input[type=password], textarea {
	color: #CCC;
	background: #252525;
	border: 1px solid #252525
}
#preloader {
	background: #252525
}
#status {
	background: url('../images/loaders/status-inverted.gif') no-repeat center
}
.textleft {
	float: left;
	width: 65%;
}
.picright {
	float: right;
	width: 30%;
}
@media only screen and (min-width:768px) and (max-width:959px) {
#clients .indiv .image-container img {
	width: 180px;
	height: 86px
}
.bigemail {
	font-size: 50px;
}
.available {
	right: 80px;
}
.soldout {
	right: 80px;
}

}
@media only screen and (min-width:480px) and (max-width:767px) {
#clients .indiv .image-container {
	border: 0
}
#clients .indiv .image-container img {
	width: 210px;
	height: 100px
}
.bigemail {
	font-size: 30px;
}
.textleft {
	float: left;
	width: 100%;
}
.picright {
	float: left;
	width: 100%;
}
.available {
	right: 50px;
	margin: 0;
}
.soldout {
	right: 50px;
	margin: 0;
}
#singlepage .btn.grey {
	color: #000;
	float: none;
}
}
@media only screen and (max-width:479px) {
#clients .indiv .image-container {
	border: 0
}
#clients .indiv .image-container img {
	width: 210px;
	height: 100px
}
.bigemail {
	font-size: 25px;
}
.textleft {
	float: left;
	width: 100%;
}
.picright {
	float: left;
	width: 100%;
}
.available {
	display: none;
	right:10px;
	margin: 0 5px 0 0;
}
.soldout {
	display: none;
	right:10px;
	margin: 0 5px 0 0;
}

#singlepage .btn.grey {
	float: none;
}

}
#singlebg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}
#singlebg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}
.inventory img {
    display: block;
    margin: 0 auto;
}
#singlepage .container {
	padding: -50px;
	background: rgba(21,21,21,0.9);
}
#singlepage .about {
	text-align: center;
	padding-top: 20px
}
#singlepage .ico {
	float: left;
	margin: 5px 10px 0 0;
}

#singlepage .about h2 {
	margin-bottom: 28px;
	margin-top: 10px;
}
#singlepage .about p {
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	padding: 5px 20px;
	color: #999;
}
#singlepage ul li {
	margin: 10px 10px 10px 30px;
	text-align: left;
	color: #999;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
#singlepage ul li a {
	font-size: 14px
}
#singlepage ul li a span {
	display: none
}
#singlepage ul li img {
	margin: 0 10px;
}
ul.invlist {
	color: #ccc;
	font-size: 12px;
	text-align: left;
	list-style-type: none;
	margin: 0 0 0 5px !important;
}
ul.invlist li {
	color: #999;
	margin: 4px 5px 2px 10px !important;
	font-size: 12px;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.adunitcontainer {
	width: 100%;
	display: block;
	float: left;
	border-bottom: 1px solid #222222;
	margin-bottom:10px;
	padding: 0 0 10px 0;
}

#singlepage .about p span {
	color: #FFFFFF;
	font-weight: normal;
}

#singlepage .about a {
	color: #91C44A;
}
#singlepage .about h2 {
	color: #fff;
	font-size: 40px;
	line-height: 50px;
}
#singlepage .about h3 {
	color: #91c44a;
	font-size: 24px;
	margin: 10px 0;
}
#singlepage .about h4 {
	color: #CCCCCC;
	font-size: 14px;
	text-align: left;
	font-weight: bold;
	padding: 5px 0 0 20px;
	width: 100%;
	display: block;
	float: left;
}
/* login window */


#contact-form input, #contact-form textarea, #contact-form select, #contact-form button[type="submit"] {
	font: 400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contact-form {
	text-shadow: 0 1px 0 #000;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #181818;
	padding: 25px;
}
#contact-form h3 {
	color: #91c44b;
	display: block;
	font-size: 28px;
}
#contact-form h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
}
#contact-form label span {
	cursor: pointer;
	color: #91c44b;
	display: block;
	margin: 5px 0;
	font-weight: 900;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
#contact-form input, #contact-form select, #contact-form textarea {
	width: 100%;
	border: 1px solid #222;
	background: #222;
	color: #CCC;
	margin: 0 0 5px;
	padding: 10px;
	border-radius: 5px;
	font-size: 14px;
}
#contact-form input:hover, #contact-form select:hover, #contact-form textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #91c449;
}
#contact-form textarea {
	height: 100px;
	max-width: 100%;
}
#contact-form button[type="submit"] {
	cursor: pointer;
	width: 200px;
	height: 40px;
	border: none;
	background-color: #8dc44c;
	color: #000;
	margin: 20px 0;
	padding: 10px;
	border-radius: 5px;
}
#contact-form button[type="submit"]:hover {
	background-color: #68932d;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus, #contact-form select:focus, #contact-form textarea:focus {
	outline: 0;
	border: 1px solid #999;
}

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 400%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.bannerinv {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	padding: 16px;
	z-index:1002;
	overflow: auto;
}
@media only screen and (min-width:768px) and (max-width:959px) {
.bannerinv {
	display: none;
	position: absolute;
	top: 25%;
	left: 10%;
	width: 80%;
	padding: 16px;
	z-index:1002;
	overflow: auto;
}
}
@media only screen and (min-width:480px) and (max-width:767px) {
.bannerinv {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	padding: 16px;
	z-index:1002;
	overflow: auto;
}
}
@media only screen and (max-width:479px) {
.bannerinv {
	display: none;
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
	padding: 16px;
	z-index:1002;
	overflow: auto;
}
.btn {
	font-size: 11px;
	border-radius: 2px;
	cursor: pointer;
	padding: 10px;
	margin: 5px 0 ;
}
}
