@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  src: local('Nobile'), local('Nobile-Regular'), url(http://fonts.gstatic.com/s/nobile/v7/DG8QsMl4cLhwKd7DbhnV6A.ttf) format('truetype');
}
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 700;
  src: local('Nobile Bold'), local('Nobile-Bold'), url(http://fonts.gstatic.com/s/nobile/v7/W-bwIcGmtt6wHyJeSNFUX6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Nobile';
  font-style: italic;
  font-weight: 400;
  src: local('Nobile Italic'), local('Nobile-Italic'), url(http://fonts.gstatic.com/s/nobile/v7/yfgrpHnRDdHfMoGmWS4XmfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Nobile';
  font-style: italic;
  font-weight: 700;
  src: local('Nobile Bold Italic'), local('Nobile-BoldItalic'), url(http://fonts.gstatic.com/s/nobile/v7/8W-pGzs1uCDalpRJL-f9DJ0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4UpeNX8RPf6i6WQfJWyCWEs.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/Q_pTky3Sc3ubRibGToTAYjnFfol0SnfBMmbnmUK0fZM.ttf) format('truetype');
}
