.menu{
    width: 100%; height: 50px; border-bottom: solid 2px #4184F3; /*background: #4184F3;*//*#4285F4;*//*#408ddb;#3F84F0;#4285F4*/
}
.menu .container{
    height: 65px; overflow: visible !important;
}
.menu .logo{
    width: 148px; height: 50px; position: absolute; top: 10px; left: 0;
}
.menu .nav{
    width: auto; height: 25px; position: absolute; top:25px; left: 160px; background-color: #FFFFFF;line-height: 25px !important;
}
.menu .nav ul{
    width: auto; position: relative;
}
.menu .nav ul li{
    width: auto; height: 25px; margin: 0 10px 0 5px; float: left; position: relative;
    font-family: "microsoft yahei", "微软雅黑", "黑体", "simsun", "宋体";
}
.menu .nav ul li a{
    font-size: 15px; color: #555; line-height: 25px;  /* text-shadow: #555 0 0 1px;*/
}
.menu .nav ul li a:visited{
    color: #555;
}
.menu .nav ul li a:hover{
    color: #E84235;
}

.menu .nav ul li .child_navs{
    display: none;
    padding: 0 0 5px 0;
    position: absolute; left: -15px; top: 25px; z-index: 10; background-color: #fff; min-width: 100px;
    border: solid 1px #4184F3;
    /*border-radius: 5px;*/
    border-top:none;
    border-radius: 0 0 4px 4px;
}
.menu .nav ul li .child_navs li{
    height: 25px; line-height: 25px; padding: 0 10px;
}
.menu .nav ul li .child_navs li a{
    line-height: 25px; font-size: 14px;
}

.menu .new_ch a{
    position: relative;
}
.menu .new_ch span{
    z-index: 1;
    color: #fff;
    background-color: red;
    right: -16px;
    top: -12px;
    font-size: 12px;
    position: absolute;
    line-height: 14px;
}

.container{
    width: 990px; height: auto; margin: 0 auto; overflow: hidden; position: relative;
}

/** common -start **/
body{
    /*font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
    font: 12px "宋体","Arial Narrow",HELVETICA;
}
.left{
    float: left;
}
.right{
    float: right;
}
.margin_top_10{
    margin-top: 10px;
}
.margin_top_20{
    margin-top: 20px;
}
.clear{
    float: none; clear: both;
}
.line{
    margin: 0px auto 10px; height: 11px; width: 95%; border-bottom: solid 1px #c0c0c0;
}
.ad_box_250{
    width: 250px; height: 250px; background: #e0e1e2;
}
.ico_video{
    /*line-height: 22px; text-indent: 20px;*/
    background: url("//static4style.qiumibao.com//common/img/video_ico.png") left center no-repeat;
}
.ico_news{
    /*line-height: 22px; text-indent: 20px;*/
    background: url("//static4style.qiumibao.com//common/img/news_ico.png") left center no-repeat;
}
.ico_bb{
    /*line-height: 22px; text-indent: 20px;*/
    background: url("//static4style.qiumibao.com//common/img/basketball_ico.png") left center no-repeat !important;
}
.ico_fb{
    /*line-height: 22px; text-indent: 20px;*/
    background: url("//static4style.qiumibao.com//common/img/football_ico.png") left center no-repeat !important;
}
.red_font{
    color: #E84235 !important;
}
.l_width{
    width: 120px !important;
}
.txt_center{
    text-align: center;
}
.breadcrumbs{
    line-height:30px; font-size:12px;
    color: #7E7E7E;
}
.breadcrumbs a{
    color: #7E7E7E !important;
}
.ovs{
    overflow: visible !important;
}
/** common -end **/



#main{
    width:720px; height:auto; position:relative; overflow:hidden; float:left; /*border-top: 2px solid #003795;*/
}
#main .box{
    width:700px; height:auto; position:relative; overflow:hidden; margin-bottom:10px; padding: 10px 0; /*border: solid 1px lightGrey;*/
}

#main .box .title{
    text-align:center;
}

#main .box .title h1{
    color: black;font-family: "宋体",arial;font-size: 22px;font-size-adjust: none;font-stretch: normal;font-style: normal;font-variant: normal;line-height: 30px;margin-bottom: 6px;font-weight: 800;
}
#main .box .title span{
    color: #7E7E7E;height: 16px; line-height:16px; font-size:12px; text-align:center;
}
#main .box .title span a{
    color: #7E7E7E;padding: 0 2px;
}
#main .box .Line {height: 1px;font-size: 0;border-top: 1px solid #E5E5E5;margin-top: 18px;}
#main .box .content{
    height: auto; padding: 10px 0; line-height: 25px; font-size: 14px;
}
#main .box .content p{
    line-height: 25px;margin: 20px auto 0 auto;font-size: 14px;
}
#main .box .content img{
    max-width: 680px;
}

#main .boxs{
    width:720px; height:auto; position:relative; overflow:hidden;
}
#main .boxs .box{
    width:355px; height:auto; padding:0; position:relative; overflow:hidden; float:left; border-width:0;
}
#main .boxs .box .content{
    border: solid 1px lightGrey; width:333px; height: auto; padding:5px;
}
#main .boxs .box .content a{
    line-height:25px; font-size:12px;
}
#main .box .content a:hover{
    color:red !important; text-decoration: underline !important;
}

#posts{
    width:990px; height:auto; position:relative; overflow:hidden; margin:0 auto;
}
#posts .box{
    width:355px; height:auto; padding:0; position:relative; overflow:hidden; float:left; border-width:0;
}
#posts .box .content{
    border: solid 1px lightGrey; width:333px; height:auto; padding:5px;
}
#posts .box .content a{
    line-height:25px; font-size:12px;
}
#siderbar{
    width:250px; height:auto; position:relative; overflow:hidden; float:right;
}
#siderbar .advert{
    width:250px; height:250px; position:relative; overflow:hidden; margin-bottom:5px;
}
#siderbar .box{
    width:250px; height:auto; position:relative; overflow:hidden; margin-bottom:10px;
}
#siderbar .box .content{
    border: solid 1px lightGrey; width:238px; height: auto; padding:5px;
}
#siderbar .box .content a{
    line-height:25px; font-size:12px;
}

.ad_left {
    display: block;
    position: absolute;
    top: 30px;
    /*top: -388px;*/
    width: 120px;
    left: -130px;
}
.ad_right {
    display: block;
    position: absolute;
    top: 30px;
    /*top: -388px;*/
    width: 120px;
    right: -130px;
}
.ad_close {
    float: right;
    padding: 2px;
    z-index: 2000;
    font-size: 12px;
    height: 20px;
    cursor: pointer;
    display: block !important;
}

.advertframe {
    width: 960px;
    height: 90px;
    margin: 0 auto 10px;
}


.box{
    height: auto;  position: relative; margin-bottom: 10px;
}
.box .titlebar{
    height: 30px; line-height: 30px; /*background-color: #EDF7FE;*//*#74b5f7*/; position: relative;
    /*border: solid 1px #9cd6fe;*/
    /*border-radius: 4px 4px 0 0 ;*/
}

.box .titlebar h2{
    font-weight: 400;
    padding-left:10px; font-size: 14px; color: #fff; width: 120px; background-color: #4184F3; /*text-shadow: #555 0 0 1px;*/
    border-radius: 4px 4px 0 0 ;
}
.box .titlebar h2 a{
    font-size: 14px; color: #fff;
}
.box .titlebar .more {
    color: #F7F7F7;
    position: absolute;
    bottom: 3px;
    right: 10px;
    font: 12px/20px "SimSun","Arial Narrow";
}

.footer{
    margin: 0 auto; text-align: center; line-height: 30px;
}
#links{
    font-size: 12px;
}
#copyright{
    font-size: 12px;
}
/*#signals img{*/
/*padding: 5px; border: solid 1px #ccc;*/
/*}*/


/*** index -start ****/
#recommend{
    width: 720px; height: auto; overflow: hidden; /*background: #e0e1e2;*/ font-size: 12px; color: #555;
    padding: 7px 5px;
}
#recommend .head{
    font-size: 14px; font-weight: 800;
}
#recommend .r_video, #recommend .r_news{
    width: 355px; height: auto; overflow: hidden;
}
#recommend li{
    line-height: 22px; text-indent: 20px;
}
#recommend li span, #ad_box .other span{
    padding: 0 5px;
}
#recommend .r_video li{
    background: url("//static4style.qiumibao.com//common/img/video_ico.png") left center no-repeat;
}
#recommend .r_news li{
    background: url("//static4style.qiumibao.com//common/img/news_ico.png") left center no-repeat;
}
#recommend li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#recommend li a{
    color: #222222;
}
#recommend li a:visited{
    color: #222222;
}
#recommend li a:hover{
    color: #2789e2;
}
#ad_box{
    width: 250px; height: 300px; /*background: #e0e1e2;*/ padding-top: 10px;
}
#ad_box .other{
    padding: 8px 5px; /*border: solid 1px #c0c0c0;*/
}
#ad_box .other ul li{
    font-size: 12px; line-height: 22px;text-indent: 20px; background: url("//static4style.qiumibao.com//common/img/news_ico.png") left center no-repeat;
}
#ad_box li a{
    color: #222222;
}
#ad_box li a:visited{
    color: #222222;
}
#ad_box li a:hover{
    color: #2789e2;
}


.schedule_container{
    width: 820px; height: auto;
    /*overflow: hidden;*/
}
.bbs_container{
    width: 160px; height: auto; overflow: hidden;
}
.schedule_container .advert{
    margin-bottom: 10px;
}
.bbs_container .advert {
    width: 160px;
    height: 600px;
    position: relative;
    overflow: hidden;
}


.schedule_container .box .content{
    height: auto;  border: solid 1px #4184F3; font-size: 12px;min-height:10px;
    padding: 0 5px;
    /*overflow: hidden;*/
}
.bbs_container .box .titlebar{
    background-color: #4184F3;border-radius: 4px 4px 0 0 ;
}
.bbs_container .box .content{
    height: auto; overflow: hidden; border: solid 1px #4184F3; font-size: 12px;
    padding: 0 0 0 5px;
}
.schedule_container .box .content ul li {
    height: auto;
    overflow: hidden;
    line-height: 30px;
    font-size: 12px;
    padding: 0 0 8px 0;
    margin: 8px 0;
    border-bottom: dotted 1px #CCCCCC;
    font-family: Arial,"宋体";
    word-spacing:5px;
    /*letter-spacing:2px;*/
}
.schedule_container .box .content ul li a{
    color: #0054AF;
}
.schedule_container .box .content ul li a:visited{
    color: #0054AF;
}
.schedule_container .box .content ul li a:hover{
    color: #E84235;
}

.schedule_container .box .content ul li img{
    height: 30px;
}

.bbs_container .box .content ul li {
    line-height: 26px;
    font-size: 12px;
    /*list-style: disc;*/
    text-indent: 5px;
    background: url(//www.zhibo8.cc/css/images/point.gif) left center no-repeat;
}
.bbs_container .box .content ul li a{
    color: #0054AF;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	white-space: nowrap;
}
.bbs_container .box .content ul li a:visited{
    color: #0054AF;
}
.bbs_container .box .content ul li a:hover{
    color: #E84235;
}

/*** index -end ****/



/** c_cat -start ***/
.c_cat{
    position:absolute; top:-1px; right:0; width:auto;height:auto; text-align:center;font-size:12px; line-height:30px;z-index:8;
}
.c_cat .c_nav{padding:0;margin:0;margin-bottom:2px;border-right:1px solid #ccc;}
.c_cat .c_nav a{display:table-cell;padding-left:12px;padding-right:13px;color:inherit;background:#eee;border:1px solid #ccc;border-right:none;}
.c_cat .c_nav a span{display:inline-block;background:url(//tu.qiumibao.com/ico/tub.png) no-repeat;background-position:-7px -8px;width:20px;height:20px;vertical-align:middle;}
/*.c_cat .c_nav a.c_shaixuan{border-right:1px solid #ccc;}*/
.c_cat .c_nav a.current{border-top: 1px solid #4184F3;color:#4184F3;background:#fff;border-bottom:1px solid #fff;}
.c_cat .c_switch{float:right;}
.c_cat .c_switch .c_font{width: 160px;height: 50px;background:#ff6040;border-radius: 3px;text-align:center;line-height:50px;font-size:18px;font-weight:bold;color:white;position:absolute;top:50px;right:20px;}
.c_cat .c_switch .c_font:before{
	content: "";
    display: inline-block;
    border-color: #fff #fff #ff6040 #fff;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    width: 0;
    height: 0;
    position: absolute;
    top: -8px;
    left: 20px;
    z-index: -1;
}
.c_cat .c_wrap{
    z-index: 9;float:right;
}

.c_cat span{
    font-size:12px; line-height:30px; cursor:pointer;
}

.c_cat .list{
    position:relative; width:auto; height:auto; overflow:hidden; background:#E8F3FD; border:solid 1px #D4D4D4;
}

.c_cat .list .items{
    position:relative; width:70px; height:auto; float:left; overflow:hidden;
}

.c_cat .list .items span{
    width:70px; height:30px; display:block; line-height:30px; font-size:12px; text-align:center;
}

.c_cat .list .items span:hover{
    background:#33abe8; color:#FFFFFF;
}

.c_btm{
    width:212px; height:auto; overflow:hidden; position:relative; background:#E8F3FD; border:solid 1px #CCCCCC;
}

.c_btm .c_all{
    float:left;width:70px; height:30px;line-height:30px;font-size:12px; text-align:center;
}

.c_btm .c_cls{
    width:70px; height:30px; display:block; line-height:30px; font-size:12px; text-align:center; float:right; cursor:pointer;
}

.c_first, .c_second{
    border-right:solid 1px #3366FF;
}

.i_first{
    font-weight:900;
}
/**  c_cat -end ***/