/* CSS Document */
body{margin: 0px; padding:0; font-size:12px; color:#666; font-family:Verdana, Geneva, sans-serif; background:#f7d5fc;}
dl,dt,dd,ul,li,h1,h2,form,input,textarea,p,td,h4,h3{padding:0;margin:0;}
ul,dl{list-style:none;}
img{ vertical-align:top;border:0;}
.clear{clear:both}
.left{float:left}
.right{float:right;}

#alertmessage{height:180px;width:400px;font-size:14px;line-height:16px;display:none;background:#ffe168;color:#000;overflow:hidden;padding:20px;}
#alertmessage a{ text-decoration:none; color:#0087F7;}

.header{height:62px; background-color:#ff6d94; width:100%;clear:both;}
	.top{margin:0 auto;height:62px;max-width: 1300px;min-width: 1000px;}
	.top_logo{ margin-top:3px;}
	.top_nav{ height:62px; margin:0 0 0 40px;width:580px;}	
		#jsddm{	margin: 0;	padding: 0; z-index:100000;}	
			#jsddm li {font-size:10px;color:#FF0; margin:0;padding:5px 7px 5px 7px; font-weight:normal;float: left; list-style: none; line-height:12px;display: block;z-index:100000;width:auto; text-align:center;}	
			#jsddm li:hover { background-color:#ff4499;}
			#jsddm li.selected {background-color:#ff4499;}
			#jsddm li a { text-decoration: none; color: #fff;z-index:100000;}
			#jsddm li a:hover {color:#FF0;z-index:100000;}
			#jsddm li ul { top:62px; padding:0; margin:0 0 0 -7px; position: absolute; visibility: hidden;z-index:100000;}
			#jsddm li ul li {font-size:14px;float: none; display: block;width:auto;background: #ff4499;padding: 5px 10px 5px 10px;color: #ffe3bf;z-index:100000;line-height:16px;text-align:left;}
			#jsddm li ul li:hover {background-color:#ff77cc}
			#jsddm li ul li.jsddm_text {background:#ff77cc;color:#FF0;z-index:100000;}
	
	.top_member{padding-right:5px;width:250px;line-height:18px;}
	   .top_memember_thumb{ float:left;padding:1px 5px 1px 0px;width:60px;}
	    .top_memember_thumb img{width:60px;height:60px;}
	   .top_memember_right{ float:left;padding:1px 5px 1px 0px;width:180px;position:relative;}
	   	#RandomBonusDiv{position:absolute;display:none;cursor:pointer;}
		 .top_memember_right_name{ color:#FFF;}
		 .top_memember_right_name a{ color:#FFF; text-decoration:none;}
		 .top_memember_right_info{padding:3px 0 0 0;}
		 
	#SearchImage {cursor:pointer;}
	#SearchDiv{ position:absolute;background:url(/images/pink/search_bg.jpg) no-repeat; width:202px; height:28px;top:29px;left:-90px; display:none;}
	   #SearchDiv input{ float:left; height:28px; line-height:28px; background:none; border:1px none;  padding:0 0 0 5px; color:#ff6d94; width:162px;}
	   #SearchDiv span{ float:right;margin:0px;padding:0px;}
	   #SearchDiv span input{ background:none;margin:0px;padding:0px; width:35px; height:28px; cursor:pointer;}
	   
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#000;border:6px solid #fff;}
#simplemodal-container a.modalCloseImg {background:url(/images/pink/delete.png) no-repeat; width:44px; height:44px; display:inline; z-index:3200; position:absolute; top:-22px; right:-22px; cursor:pointer;}


div.container {
	background:#2ba4d1;
	padding:4px 7px 0 7px;
	margin-left: auto;
	margin-right:auto;
	text-align: left;
	width:990px;
/*	padding:1px;
	padding-top:0;*/
	border:1px solid #ccc;
	border-bottom:none;
	background:#FFF;
	margin-bottom:60px;
}
div.allgames {
    margin-left:auto;
    margin-right:auto;
	height:500px;
}
div.allcreations {
    margin-left:auto;
    margin-right:auto;
	height:800px;
}
div.toptext {
    clear:both;	padding:5px 10px 0px 10px;	color:#797979;
}
div.toptext span{
	width:150px;
}
div.toptext a {
    color:#797979; font-weight:bold; text-decoration:none;
}
div.toptext a:hover {
    color:#ff6d94;
}
div.bottomtext {
    clear:both;
	padding:5px 10px 10px 10px;
	color:#797979;
}
div.bottomtext a{
    color:#797979; font-weight:bold; text-decoration:none;
}
#sticky_top { position: fixed;	z-index:1000;}
#sticky_bottom{ position:fixed;    bottom:0;	z-index:1000;}

div.thumb {	
	float: left;
	margin: 5px;
	text-align: center;
	width: 180px;
	height: 135px;
	position:relative;
	border-radius:14px 12px 5px 10px;
}
div.thumb a img {
	border: 1px solid #F2F6F8;
	width: 180px;	
	height: 135px;
	border-radius:10px;
}

div.thumb a:hover img {
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

div.thumb a {
	color:#f5f500;
	text-decoration: none;
}
div.thumb a:hover {
	color:#f5f500;
	text-decoration: none;
}



div.thumb-hot {
	width: 370px;
	height: 280px;
}
div.thumb-hot a img {
	width: 370px;	
	height: 280px;
	/* border-radius:10px; */
}

.alpha:hover img {	filter:alpha(opacity=80);	-moz-opacity: 0.80;	opacity: 0.80;	}

div.thumb span.GameName{position:absolute;bottom:-1px;left:1px;width:180px;height:auto;display:none;color:#ffffff; background-color:#E75B92; padding:5px 0 5px 0;font-family:Verdana, Geneva, sans-serif;border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
.sign_new{position:absolute;top:0px;left:0px;width:50px;height:50px;background:url(/images/pink/ico_new.png) 0 0 no-repeat;}
.sign_hot{position:absolute;top:0px;left:0px;width:50px;height:50px;background:url(/images/pink/ico_hot.png) 0 0 no-repeat;}
.sign_top{position:absolute;top:0px;left:0px;width:50px;height:50px;background:url(/images/pink/ico_top.png) 0 0 no-repeat;}

div.thumb-hot span.GameName{width:370px;}

span.GameRating {
	position:absolute;top:2px;right:2px;
    display: none;
    background: url(/images/pink/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.GameRating span {
    background: url(/images/pink/stars.png) 0 0px repeat-x;
	display: block;
    width: 80px;
    height: 16px;
}


.disabledbutton {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  cursor:wait;
}

a img{
	border:0;
}

#loadingmoregames{ width:100%; text-align:center;}


.foot{  height:40px;width:100%;line-height:40px;color:#fff;clear:both;overflow:hidden;text-align:center;}
 .foot_container {background:#FD629F;}
 .foot  a{ color:#fff; text-decoration:none;}
 .foot  a:hover{ color:#fff; text-decoration:underline} 
 .foot .div_left{float:left;margin:0 0 0 10px;width:295px;}
 .foot .div_right{ float:right; width:530px;text-align:right;margin:0 10px 0 0;}

@media screen and (max-width: 1024px){
    .foot .div_right {
        width:300px;}
}
.counter-wrap {
    height:18px;
    overflow:hidden;
	position:relative;
}
.counter-number {
    height:198px;
    width:13px;
    position:relative;
    background-image:url(/images/pink/counter_ticker_bg.gif);
    float:left;
}


#backToTop {
    width:60px;
    height:50px;
    position:fixed;
    bottom:50px;
    right:10px;
	display:none;
}
div.div_floadlogo{
	position:fixed;
	bottom:100px;
	right:100px;
	width:400px;
	height:300px;
}
#floadlogo_image{
	width:400px;
	height:300px;
}
div.div_floadlogo_image{
	position:relative;	
	width:400px;
	height:300px;
}
div.div_floadlogo_text{
	position:absolute;
	color:#fff;
	left:80px;
	top:215px;
	width:220px;
	height:24px;
	font-size:14px;
	line-height:24px;
	overflow:hidden;
	font-weight:bold;
	text-align:center;
}
div.user_highscores{
	width:770px;
	padding:10px 5px 5px 25px;
	float:left;
	background-color:#ff4488;
	clear:both;
	color:#F0F0F0;
	min-height:20px;	
}
div.user_highscores ul li{
	height:30px;
	line-height:30px;
	list-style:square;
	color:#F0F0F0;
	border-bottom:#F0F0F0 dashed 1px;
}
div.user_highscores ul li a{
	color:#F0F0F0;
	text-decoration:none;
}
div.user_highscores ul li a:hover{
	color:#FF0;
}
#MessageDiv {
	border:#FF66CC 1px solid;z-index:10000;
	position:absolute;background:#f84680;
	width:190px;
	height:120px;
	display:none;
}
#MessageTitleDiv{
	width:100%;height:25px;font-size:12px;color:#FFF;padding:0px;margin:0px;
}
#message_close{
	float:right;padding:5px 0 5px 0;width:16px;line-height:auto;color:#FF0;font-size:12px;font-weight:bold;text-align:center;cursor:pointer;
}
#message_title{
	padding:5px 0 5px 5px;width:150px;line-height:18px;text-align:left;
}
#message_container{
	padding-bottom:5px;border-top:none;width:100%;height:auto;font-size:12px;
}
#message_content{
	margin:0 5px 0 5px;border:#FF66CC 1px solid;padding:5px 0 10px 5px;font-size:12px;height:60px;color: #FFF;text-align:left;line-height:18px;
}
#message_content .SignUpAndLoginButtonDiv{
	padding:5px 0 0 0px;line-height:18px;clear:both;
}
#message_dismiss{
	float:right;clear:both;font-size:10px;color:#FF0;padding-right:10px;cursor:pointer;
}



