.tooltipster-pink {
	border-radius: 5px; 
	border: 1px solid #f7d5fc;
	background: #ff4499;
	color: #fff;
}
.tooltipster-pink .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}




.tooltipster-username {
	border-radius: 5px; 
	border: 1px solid #f7d5fc;
	background: #ff4499;
	color: #fff;
}
.tooltipster-username .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}
.tooltipster-username .tooltipster-content img{
	width:150px;
	height:150px;
}


.tooltipster-game {
	border-radius: 5px; 
	border: 1px solid #f7d5fc;
	background: #ff4499;
	color: #fff;
}
.tooltipster-game .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}
.tooltipster-game .tooltipster-content img{
	width:180px;
	height:135px;
}