/*
 *  Epson print css for all user types
 *	11 march 05
 *	
 *  Author: pcOyster
 *	Last validated on: 21/03/05
 */



BODY
{
	margin: 0;
	padding: 0;
}
 
DIV.bodyWidth
{
	width : auto !important;
} 
DIV.bodyWidth DIV.content
{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* let graphic slide under loco */
#divHead IMG.one 	{left:0;border-right:4px solid #fff;position:absolute;}


/* map table */
#divOverflow {display:none}
#divBodyFlash #divFlashContainer IMG.prettyprint
{
	display: block;
	width: 100% ;
	height: auto;
}
#flashHome, #flashExceedYourVision 		{width:100% ;height: auto; }/* re-size the flash moive to fit in A4 */



/* other products */
#divOtherProducts
{
	width: 70%;
	float:left; 	
}
#divOtherProducts P
{
	padding-bottom:8px !important;
}
#divGlobalEvents
{
	width: 25%;
	float:right;
}
#divOtherProducts DIV,
#divOtherProducts DIV.first 	
{
	float:none;
	width:100%;
}
DIV.borderBottom
{

	border-bottom:1px dotted #666;
}
DIV.borderTop
{
	border-top:1px dotted #666;
}
DIV.borderRight
{
	border-right:1px dotted #666;
}

*.noprint {display:none;}

