/*
 *  Epson basic css.1 for all browsers
 *	11 march 05
 *	
 *  Author: pcOyster
 *	Last validated on: 21/03/05
 */




BODY
{
	font-family: Tahoma, Helvetica, Verdana, Arial, sans-serif;
	background-color: #fff;
	color: #333;
}
H1,H2,H3	{color: #039;}





