/*
 *  Epson glabal css.2 for v5+ browsers
 *	11 march 05
 *	
 *  Author: pcOyster
 *	Last validated on: 21/03/05
 */


@import url(/global/sec_typography.css);
 
BODY
{
	margin: 10px 0 40px 0;
	padding: 0;
	background: url('/global/glbl-bkgrnd-gradient.jpg') repeat-x 0 0;
}
* HTML BODY 			{text-align: center;}/* center for IE */
* HTML DIV,* HTML UL  	{text-align: left;}/* reset for IE */

#divBodyFlash h1 { color: #444; font: normal normal normal 18px arial, helvetica, sans-serif; padding: 10px 0; }

UL
{
	margin: 0;
	padding: 0;
}

DIV.bodyWidth
{
	padding-bottom: 8px;		
	width: 750px;	
	margin-left: auto;
	margin-right: auto;		
	clear: both; /* ie mac fix */
}
DIV.bodyWidth DIV.content
{
	padding: 10px 10px 0 10px ;
}
DIV.borderBottom
{

	background-image: url(/global/sec_dot_666.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
}
DIV.borderTop
{

	background-image: url(/global/sec_dot_666.gif);
	background-position: top left;
	background-repeat: repeat-x;
}
DIV.borderRight
{

	background-image: url(/global/sec_dot_666.gif);
	background-position: top right;
	background-repeat: repeat-y;
}

/* elements by id */

/* main header */
#divHead
{
	height: 70px;	
	position: relative;
	padding-bottom: 0;
}
/*#divHead IMG,
#divHead DIV
{
	height: 80px;	
	position: absolute;
	top:0;
	z-index:2;
}*/
#divHead *.one 		{position: static;}
#divHead *.two 		{right: 188px; z-index:1;}
#divHead *.three	{right: 0;}
#divHead DIV.three	{width: 182px; background-color: #36c;}
#divHead DIV.three P{padding:44px 0 0 14px;color:#fff;font-size: 20px;}


/* primary navigation */
#divMainNav UL 		{text-align:right;}
#divMainNav UL LI 	{color:#006;font-weight: bold;}

#divMainNav UL LI
{
	margin:0;
	padding:0 8px 0 8px;
	display:inline;
	border-right:1px solid #888;
}
* HTML #divMainNav UL LI {height: 1%;} /* ie5 bug fix, for the border-right above */
#divMainNav LI.last
{
	border-right:0 none;		
}
#divMainNav LI A
{
	font-weight: normal;
}



/* global footer */
#divFooter
{
	padding-top: 0;
	clear:both;
}






/* utils and common simple styles  */ 

/* alignment and hidden elements */
*.r 		{float: right;}
*.l 		{float: left;}
TD			{vertical-align: top;}
TD.vab 		{vertical-align: bottom;}
TD.vam 		{vertical-align: middle;}
*.tac 		{text-align: center;}
*.tal		{text-align: left;}
*.tar		{text-align: right;}


/* padding and margin utils */
*.marginBottom	{margin-bottom: 8px;}
*.marginTop		{margin-top: 8px;}


/* generic page utits */
DIV.imageRight IMG 		{float: right;}
DIV.imageRight DIV 		{margin-right: 235px;}
DIV.pSingleLineSpace P	{margin-bottom: 14px;}
DIV.clear 	{clear: both; height: 1px; font-size: 1px;}
*.hidden	{height:0;width:0;font-size:1px;overflow:hidden;}


/* Recycle Page Styles */

#Recycle .colOne li { list-style: none; }

#Recycle ol {
	margin-top: 4px;
	padding-top: 0;
	margin-left: 11px;
	padding-left: 11px;
	margin-right: 8px;
}

#Recycle ol li {
	margin: 0 0 2px 0;
	padding: 0;
	font-size: 11px;
}










.header, .footer {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0px 3px 4px #ccc;
	-webkit-box-shadow: 0px 3px 4px #ccc;
	box-shadow: 0px 3px 4px #ccc;
	font: normal normal normal 11px arial, helvetica, sans-serif;
	float: left; clear: both;	width: 750px;
	margin: auto;
	background-color: #fff; /* old browsers */
	background: -moz-linear-gradient(top, #fff 0%, #eee 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eee)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE',GradientType=0 ); /* ie */
}

.header a:link, .header a:visited, .footer a:link, .footer a:visited { color: #666; text-decoration: none; }
.header a:hover, .header a:active, .footer a:hover, .footer a:active { text-decoration: underline; }


.header ul, .header ul li, .footer ul, .footer ul li { list-style: none; margin: 0; padding: 0; }

#header-logo { float: left; margin: 13px 10px 13px 17px; margin: 7px 10px 0 17px\9; padding: 0; height: 40px; width: 115px; _behavior: url('/global/iepngfix.htc'); }

.header .nav { background: url('/global/header-nav-line.gif') repeat-y top left; float: left; margin: 5px 0; margin: 0\9; padding: 0; height: 56px; }
.header .nav ul { margin: 20px 0 0 14px; }
.header .nav ul li { display: inline; border-right: 1px solid #ccc; padding: 2px 6px; font-size: 13px; text-transform : uppercase; }

.footer { padding: 6px 0; margin: 0; }
.footer nav ul { padding: 0; float: none; }
.footer ul { float: left; clear: left; margin: 0 6px; *float: none; *width: 98%; }
.footer ul li { display: inline; border-right: 1px solid #ccc; padding: 2px 6px; font-size: 11px; }

.header ul li:last-child, .header ul li.last-child, .footer ul li:last-child, .footer ul li.last-child { border-right: 0; }

/* IE6 - IE8 CORNERS */
.ie-corners-top, .ie-corners-btm, .ie-corners-lt, .ie-corners-rt, .ie-corners-ctr { padding: 0; margin: 0; height: 6px; float: left; }
.ie-corners-top, .ie-corners-btm { width: 100%;  clear: both; _overflow: hidden; float: none; }
.ie-corners-lt, .ie-corners-rt { width: 6px; }
.ie-corners-ctr { width: 738px; }
.ie-corners-top .ie-corners-lt { background: url('/global/global-nav-ie-top-lt.gif') no-repeat 0 0; }
.ie-corners-top .ie-corners-ctr { background: url('/global/global-nav-ie-top-ctr.gif') repeat-x 0 0; }
.ie-corners-top .ie-corners-rt { background: url('/global/global-nav-ie-top-rt.gif') no-repeat 0 0; }
.ie-corners-btm .ie-corners-lt { background: url('/global/global-nav-ie-btm-lt.gif') no-repeat 0 0; }
.ie-corners-btm .ie-corners-ctr { background: url('/global/global-nav-ie-btm-ctr.gif') repeat-x 0 0; }
.ie-corners-btm .ie-corners-rt { background: url('/global/global-nav-ie-btm-rt.gif') no-repeat 0 0; }