

		

/*

 *  Epson.come home page layout 

 *	11 march 05

 *	

 *  Author: pcOyster

 *	Last validated on: 21/03/05

 */





/* elements by IE */







/* flash block */







#divBodyFlash H1

{

	padding:6px 0 4px 0

}

#divBodyFlash P.intro 

{

	width:540px;

	padding-bottom:6px;	

}

#divBodyFlash P.r 

{

	padding-right:10px;

}	

#divBodyFlash P.r A

{

	padding-right:20px; 

	background-image:url(/global/sec_checkbox00.gif);

	background-position:center right;

	background-repeat:no-repeat;

}

#divBodyFlash #divFlashContainer

{

	padding:6px 0 4px 0 ;

}

#divBodyFlash #divFlashContainer IMG.prettyprint

{

	display:none;

}

#divBodyFlash #divFlashContainer #divOverflow

{

	background-color: #039;

	min-height:17em ;

}

* HTML #divBodyFlash #divFlashContainer #divOverflow /* make ie expand the base no font resize */

{

	height:17em;

}



/* non flash block */



#divNonFlash

{

	font-family: Helvetica Neue, Verdana, Arial, sans-serif;
	
	background-image: url(/global/sec_bg_blue.jpg);

	background-position: top right;

	background-repeat :no-repeat;

	background-color: #039;

	color: #fff;

	position: relative;

	height: 212px;

}

#divNonFlash H2  

{

	position:absolute;

	top: 0;

	left: 0;

	margin: 0;

	padding: 12px 0 0 8px;

	color:#fff;

	font-size:12px;

	font-weight:800;
	
	letter-spacing:-0.5px;

}

#divNonFlash H2 IMG {float:left;} /* dom browser padding issue */



/* widths */

#divNonFlash A,

#divNonFlash *.colOne,

#divNonFlash *.colTwo,

#divNonFlash *.colThree,

#divNonFlash *.colFour,

#divOtherCountries 	{width: 169px;}



/* layout */

#divNonFlash *.colOne,

#divNonFlash *.colTwo,

#divNonFlash *.colThree,

#divNonFlash *.colFour

{

	position:absolute;

	top: 10px;

}

#divNonFlash *.colOne 	{top:32px; left:6px;}

#divNonFlash *.colTwo	{left:190px;}

#divNonFlash *.colThree	{left:370px;}

#divNonFlash *.colFour	{left:550px;}	

#divNonFlash *.sep		{margin-bottom:8px;}

		

/* display of links and text panels */

#divNonFlash A

{

	display: block;

	border: 1px dotted #ccf;

	background-color: #06c;

	border-bottom: 0 none;

	color: #fff;

}

#divNonFlash A:hover

{

	background-color: #039;

}

#divNonFlash DIV P A

{

	width: auto;

	border: 0 none;

}

#divNonFlash DIV P A:hover

{

	text-decoration: underline;

	background-color: #06c;

}

#divNonFlash P.borderTop {border-top: 1px dotted #ccf;}

#divNonFlash A SPAN

{

	

	padding: 2px 0 4px 14px;

	display: block;

	margin-left: 6px;

	background-image: url(/global/sec_arrow_f_w.gif);

	background-position: center left;

	background-repeat: no-repeat;				

}

#divNonFlash DIV LI.noImage A SPAN

{

	

	padding: 2px 6px 4px 0px;

	display: block;

	margin-left: 6px;

	background-image: none;

	background-position: center left;

	background-repeat: no-repeat;				

}

#divNonFlash DIV LI.noImage A SPAN IMG

{

	vertical-align:top;

	border:0 none;

}

#divNonFlash DIV P A SPAN

{

	margin-left: 0;

}

#divNonFlash UL.colOne A 

{

	border: 1px dotted #039;

	background-color: #039;

}			

#divNonFlash UL.colOne A:hover

{

	text-decoration: underline;

}			

#divNonFlash UL.colOne LI.selected A

{

	border: 1px dotted #ccf;

	background-color: #06c; 

}

#divNonFlash UL.colOne LI.selected A:hover

{

	text-decoration: none;

}

#divNonFlash UL.colOne A SPAN

{

	padding-bottom:3px

}

#divNonFlash LI.last A 

{

	border-bottom: 1px dotted #ccf;

}



/* containers */

#divNonFlash DIV DIV

{

	border: 1px dotted #ccf;

	background-color: #06c;

}

#divNonFlash DIV P

{

	padding: 2px 12px 2px 6px;

}

#divNonFlash LI 

{

	display:inline;

	background-color: #06c; 

}

#divNonFlash UL.colOne LI 

{

	background-color: transparent; 

}





/* other countries */

#divOtherCountries

{

	position: absolute;

	bottom: 12px;

	right: 10px;

}



/* body text */



#divBodyText DIV P 		{padding: 4px 6px 0 0;}

#divBodyText H3 		{clear: both}

#divBodyText DIV A 

{

	padding-left:12px;

	background-image:url(/global/sec_arrow_f_b.gif);

	background-position:center left;

	background-repeat: no-repeat;

	display:block;

	font-weight:bold;

	margin-top:4px;

}		

#divOtherProducts

{

	width:550px;

	float:left; 	

}

#divGlobalEvents

{

	width:170px;

	float:right;

}



#divOtherProducts DIV 	

{

	width:177px; 

	float:left;

}

#divOtherProducts DIV.first 	

{

	width:192px;

}





