/*
 *  Epson typography css
 *	11 march 05
 *	
 *  Author: pcOyster
 *	Last validated on: 21/03/05
 */




BODY
{
	font-family: Tahoma, Helvetica, Verdana, Arial, sans-serif;
	font-size: 76%;
	color: #333;
}

H1,H2,H3,H4,H5,H6,P {margin:0;padding:0;}
H1,H2,H3,H5			{color: #039;}


H1 
{
	font-family: Tahoma, Helvetica, Verdana, Arial, sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
	padding: 0 0 6px 0;
	margin:0; 
}

H2 
{
	font-size: 20px;
	font-weight: normal;
}

H3 
{
	font-size: 15px;
	padding: 0 0 6px 0;
}	

H4,H5,H6,P,UL
{
	font-size: 0.9em;	
}
#divNonFlash UL,
#divNonFlash DIV,
#divNonFlash P
{
	font-size: 1em;		
}

P
{
	padding: 0 0 6px 0;
}

A 
{
	color: #003399;
	text-decoration: none;
}

A:hover 
{
	color: #000066;
}

#divFooter
{
	color: #666;
	font-size: 0.8em;
}
#divFooter	A
{
	color: #666;
}

/* global single inline typogrphic styles */
*.colorVariant1 {color:#036;}
*.bold 			{font-weight: bold;}