/*

#	Website: Echorouk Online

#	Designed by: Echorouk Online

#	Copyright © 2015 Echorouk Online. All rights reserved.

*/



/* CODE GO HERE */

@font-face{

	font-family:"Palatino LT W20";

	src:url("//www.echoroukonline.com/ara/themes/nechorouk/fonts/palatino.eot");

	src:url("//www.echoroukonline.com/ara/themes/nechorouk/fonts/palatino.eot#iefix") format("embedded-opentype"),url("//www.echoroukonline.com/ara/themes/nechorouk/fonts/palatino.woff") format("woff"),url("//www.echoroukonline.com/ara/themes/nechorouk/fonts/palatino.ttf") format("truetype"),url("//www.echoroukonline.com/ara/themes/nechorouk/fonts/palatino/palatino.svg") format("svg");

}



#none,.none {

  display: none;

}

div.writing_reply_holder {

  font-size: 12px;

  width: 491px;

  display: block;

  float: left;

  background-color: rgba(27, 117, 187, 0.2);

  padding: 0px 8px;

}

section.add-comments form .submit .label {

  text-align: left;

  font-size: 13px;

  float: right;

  width: 120px;

  margin-left: 10px;

}

section.comments.ver-FR .add-comments form .submit .label{

  text-align: right;

  font-size: 13px;

  float: left;

  width: 140px;

  margin-right: 10px;

  margin-left: 0px;

}

section.comments.ver-FR div.writing_reply_holder{

  font-size: 12px;

  width: 471px;

  display: block;

  float: right;

  background-color: rgba(27, 117, 187, 0.2);

  padding: 0px 8px;

}

div#comment_dump {

  font-size: 12px;

  display: block;

  background-color: rgba(27, 117, 187, 0.2);

  padding: 8px;

  margin-top: 4px;

}

aside.sidebar .menu-wrap .menu-scrollbar .menu > li .submenu-scrollbar .sub-menu .fixed .list li .article a img {

  height: 95px !important;

  width: 134px !important;

}

aside.sidebar .menu-wrap .menu-scrollbar .menu > li .submenu-scrollbar .sub-menu .fixed .list li .article a {

  padding: 4px !important;

}

aside.sidebar .menu-wrap .menu-scrollbar .menu > li .submenu-scrollbar .sub-menu .fixed .list li .article {

  padding: 4px !important;

}

aside.sidebar .menu-wrap .menu-scrollbar .menu > li .submenu-scrollbar .sub-menu .fixed .list li .article a p {

  font-size: 12px !important;

}

section.comments .list-of-comments .wrap-comments-list .list-comments .single-comment article .comment-footer .show-ta39ib {

  cursor: pointer;

  cursor: hand;

}

.important_hide {

  display: none !important;

}

section.poll-2 .current-poll .polls-list .poll-result .question {

  height: auto !important;

}

section.abrazTataworat3-poll-1 .abrazTataworat3 article:nth-child(2){

  margin-left: 0;

}

section.ads-300-300 {

  padding: 1px;

  height: 300px;

  width: 300px;

  margin: 10px auto;

  border: 1px solid #dadada;

}

section.comments .list-of-comments .wrap-comments-list {

  height: auto !important;

  max-height: 1000px;

}

section.add-comments form .comment-message textarea{

  width: 615px;

  height: 220px;

  display: block;

  padding: 0 10px;

  font-family: 'Droid Arabic Kufi', serif;

  border: 1px solid #c8c8c8;

}

section.add-comments form .comment-message {

  margin-bottom: 20px;

}

section.add-comments form .comment-message {

  font-size: 12px;

}

section.abrazTataworat3-poll-1 .abrazTataworat3 article {

  margin-bottom: 11px;

}

section.ads-980-200 {

  padding: 0px !important;

  height: auto !important;

  border: 0px solid #dadada !important;

}

img.captcha-image {

  cursor: hand;

  cursor: pointer;

}

section.charak-ra2yak .charak-ra2yak-articles .list li article .info .article-info .article-title a {

  line-height: 24px !important;

  color: #000000 !important;

  font-size: 17px !important;

}

section.chorokiyat.montadayat .wrap-list .list li .article .article-title {

  max-height: 40px !important;

}

h5.author-name a{

  color:black !important;

}

section.abrazTataworat1-latestNews .latestNewsWrap .latestNews .list li a {

  font-family: 'Droid Arabic Kufi', Tahoma;

}

section.abrazTataworat1-latestNews .latestNewsWrap .latestNews .list li a img {

  position: relative;

  top: 5px;

}

section.mosawiron .box-title-m .title {

  float: right !important;

}

section.mosawiron .box-title-m .mosawiron-title {

  float: left !important;

}

nav.top-bar .wrap > ul > li .pdf .ads div {

  height: 50px !important;

  border: 0px solid black !important;

  padding: 0px !important;

}

/* Related */

footer.article-footer .ads-popular-comments .related-article .title > * {

  float: left;

}

footer.article-footer .ads-popular-comments .related-article .title img {

  margin-left: 0;

  margin-right: 6px;

}

footer.article-footer .ads-popular-comments .related-article .related-article-wrap .list {

  left: 0;

}

footer.article-footer .ads-popular-comments .related-article {

  height: 233px; /*217*/

  border-top: 1px solid #1a75bb;

  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.1) inset;

  -moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.1) inset;

  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1) inset;

  padding: 10px;

  width: 280px;

  position: relative;

  float: right;

  margin-left: 14px;

}

footer.article-footer .ads-popular-comments .related-article .title {

  margin: 0;

  margin-bottom: 10px;

  padding: 0;

  height: 20px;

  line-height: 20px;

  zoom: 1;

}

footer.article-footer .ads-popular-comments .related-article .title:before,

footer.article-footer .ads-popular-comments .related-article .title:after {

  content: "";

  display: table;

}

footer.article-footer .ads-popular-comments .related-article .title:after {

  clear: both;

}

footer.article-footer .ads-popular-comments .related-article .title > * {

  float: right;

  display: block;

}

footer.article-footer .ads-popular-comments .related-article .title img {

  margin: 0;

  margin-left: 6px;

}

footer.article-footer .ads-popular-comments .related-article .title span {

  font-weight: normal;

  font-size: 16px;

}

footer.article-footer .ads-popular-comments .related-article .related-article-wrap {

  width: 280px;

  height: 207px;/*187px*/

  overflow: hidden;

}

footer.article-footer .ads-popular-comments .related-article .related-article-wrap .list {

  position: relative;

  right: 0;

  -webkit-transition: all 0.2s ease;

  -moz-transition: all 0.2s ease;

  -o-transition: all 0.2s ease;

  transition: all 0.2s ease;

  height: 187px;

  margin: 0;

  padding: 0;

  zoom: 1;

}

footer.article-footer .ads-popular-comments .related-article .related-article-wrap .list:before,

footer.article-footer .ads-popular-comments .related-article .related-article-wrap .list:after {

  content: "";

  display: table;

}

footer.article-footer .ads-popular-comments .related-article .related-article-wrap .list:after {

  clear: both;

}

footer.article-footer .ads-popular-comments .related-article .related-article-wrap .list li {

  float: right;

  display: block;

  width: 280px;

  height: 187px;

}

footer.article-footer .ads-popular-comments .related-article .related-article-wrap .list li article .figure {

  display: block;

  width: 200px;

}

footer.article-footer .ads-popular-comments .related-article .related-article-wrap .list li article .figure img {

  margin: 0;

  border: 4px solid #f0f0f0;

  -webkit-border-radius: 3px;

  -webkit-background-clip: padding-box;

  -moz-border-radius: 3px;

  -moz-background-clip: padding;

  border-radius: 3px;

  background-clip: padding-box;

  width: 192px;

  height: 131px;

  -webkit-transition: all 0.2s ease;

  -moz-transition: all 0.2s ease;

  -o-transition: all 0.2s ease;

  transition: all 0.2s ease;

  opacity: 1;

}

footer.article-footer .ads-popular-comments .related-article .related-article-wrap .list li article .figure img:hover {

  opacity: 0.8;

}

footer.article-footer .ads-popular-comments .related-article .related-article-wrap .list li article .article-title {

  margin: 0;

  padding: 0;

  font-weight: normal;

  line-height: 22px;

  max-height: 44px;

  margin-top: 4px;

}

footer.article-footer .ads-popular-comments .related-article .related-article-wrap .list li article .article-title a {

  font-size: 14px;

  display: block;

  color: #1a75bb;

}

footer.article-footer .ads-popular-comments .related-article .related-article-wrap .list li article .article-title a:hover {

  color: #000000;

}

footer.article-footer .ads-popular-comments .related-article .related-article-control {

  top: 40px;

  left: 20px;

  width: 43px;

  height: 106px;

  position: absolute;

}

footer.article-footer .ads-popular-comments .related-article .related-article-control a {

  display: block;

  width: 43px;

  height: 43px;

  position: absolute;

}

footer.article-footer .ads-popular-comments .related-article .related-article-control a img {

  display: block;

}

footer.article-footer .ads-popular-comments .related-article .related-article-control a:first-child {

  bottom: 0;

  left: 0;

}

footer.article-footer .ads-popular-comments .related-article .related-article-control a:last-child {

  top: 0;

  left: 0;

}

footer.article-footer .ads-popular-comments .related-article .related-article-control a.off {

  opacity: .3;

}

footer.article-footer .ads-popular-comments .related-article .related-article-control a:hover {

  background-color: #ffffff;

}

/* End Related */

section .article-text .article-contents * {

  line-height: 34px !important;

  font-size: 18px !important;

  font-family: Palatino LT W20 !important;

  /*text-align: justify !important;*/
  text-align: justify;

}

section.abrazTataworat3-poll-1 .abrazTataworat3 article .titles .title {

  max-height: 90px !important;

  overflow: hidden;

}

section.abrazTataworat3-poll-1 .abrazTataworat3 article .titles .sub-title {

  height: auto !important;

  max-height: 40px !important;

}

section.ads-980-200 a {
	height: auto !important;
	max-height: 200px !important;
	line-height: 0 !important;
}
