/*.three-col-content { float:left; height:110px; width:320px; }
.three-col-content-special { float:left; height:120px; width:320px; }*/
#hp-three-col .titles h1 a { margin-left:3px; }
#gallery li a { margin-left: -13px; padding-top: 20px;}

#type2-special-message h3 {
    color: #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin: 54px 0 6px 50px;
    text-shadow: 0 1px 2px #474747;
    text-transform: uppercase;
}


.listcontainer { margin: 5px 0 28px 50px;}

.listcontainer ul li {
    font-size: 1.08em;
    list-style-type: none;
    margin-bottom: 4px;
}

.listcontainer ul li a {text-decoration:underline; color:#FFFFFF; margin-bottom:4px;} 

#type2-special-message {
    background: url("/explore/images/bg-explore-form2.jpg") no-repeat scroll 0 top transparent;
    height: 372px;
}

form#GovDeliverySignupForm #GovDeliverySignupBlock {
    border: medium none;
    margin: -13px 0 0 51px;
    width: 216px;
}

form#GovDeliverySignupForm #GovDeliverySignupBlock input {
    margin-bottom: 4px;
}

form#GovDeliverySignupForm #GovDeliverySignupBlock label {
    color: #ffffff;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 1px;
    text-shadow: 0 1px 2px #474747;
    width: 200px;
}

form#GovDeliverySignupForm #GovDeliverySignupBlock input#GovDeliveryEmail {
    background: url("/explore/images/bg-input-email.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    border: 0 none;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    padding-left: 5px;
    width: 209px;
}

form#GovDeliverySignupForm input[type="submit"] {
    background: url("/explore/images/bg-button-submit.png") no-repeat scroll 0 0 #d7221e;
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    display: inline;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 37px;
    letter-spacing: 0.05em;
    margin: 3px 0 0 30px;
    text-shadow: 0 -1px #266684;
    text-transform: uppercase;
    width: 153px;
}

#type5-special-message h3 {
    color: #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin: 47px 0 6px 50px;
    text-shadow: 0 1px 2px #474747;
    text-transform: uppercase;
}
#type5-special-message h3.text_replacement_email { 
    background: url("/explore/govdelivery2/images/emailtitle.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 26px;
    text-indent: -9999px;
    width: 221px;
}