@charset "utf-8";
/* CSS Document */
.slider {
	width:100%;
	position:relative;
	overflow:hidden;
}
/* minimal settings */
.scrollable {
	background: none repeat scroll 0 0 #0174B2;
	/* required settings for the root element */
	position:relative;
	overflow:hidden;
	width: 100%;
	z-index:0;
	float:left;	
	
}
#homepageSlider .scrollable{background: none repeat scroll 0 0 #000;
	/* required settings for the root element */
	position:relative;
	overflow:hidden;
	width: 100%;
	z-index:0;
	float:left;	}
.scrollable .items { 	
	position:relative;
	width:20000em;	
}

.scrollable .items > div {
	width:640px;
	background-color: #01133F;
	float:left;
	position:relative;
}

.scrollable .slider-info h3{
	margin-bottom: 5px;
	    color: #FFFFFF;
  font: bold 1.4em/1.25em Arial,Helvetica,sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
    line-height: 1.35;  margin-top: 0;
}

.slider3 .scrollable .slider-info h3{
	   color: #FFFFFF;
    font: bold 1.4em/1.1 Arial,Helvetica,sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}

.scrollable .items > div a,
.scrollable .items > div img{
	display:block;
	width:100%;
}




#homepageSlider .scrollable .items > div .slider-info{background: url("/va_files/2014/responsive/images/bg-galley-text.png") repeat right 0 transparent; height: 131px;width:100%;
	z-index:999;
	color:#FFF;
	 padding: 10px 12px;}


.scrollable .items > div .slider-info{
	width:100%;
	z-index:999;
	color:#FFF;
	padding: 10px 20px;
	background-color: #0174b2; 
}
.slider > .slider-thumbnails {
	display: none;
}
.slider > .slider-thumbnails img {
	max-width: 100%;
}
.slider .prev,
.slider .next{
	display:block;
	width:15%;
	position:absolute;
	top:30%;
	z-index:99999;
	cursor:pointer;
}
.slider .prev img,
.slider .next img{
	width:100%;
	height:auto;
	opacity:0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
}
.slider .prev{
	left:2%;
}
.slider .next{
	right:2%;
}
#slider-controls{ display:none;}
/* slider2 ====================================  */
.slider2 .scrollable .items > div .slider-info{ padding-top: 30px; }
.slider3 .scrollable .items > div .slider-info{ padding-top: 2px; }
.scrollable .items > div .slider-info p{ margin: 0 1px 0 0; color:#fff;  padding: 0;   line-height: 1.4em; font-size:1em;}
.scrollable .items > div .slider-info p a{color:#ffffff;margin-top: 8px; width: 90%;}

.slider > .slider-thumbnails > .thumbnails-wrap > a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.slider > .slider-thumbnails > .thumbnails-wrap > a.selected:hover {
    color: #fff;
}

@media only screen and (min-width: 768px) {
.slider {
	/*overflow:visible;*/
}
.scrollable .items > div a{
	width:68%;
}
#homepageSlider .scrollable .items > div .slider-info{padding: 10px 53px;}
.scrollable .items .slider-info{
	width:32% !important;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	z-index:999;
	color:#FFF;
	padding: 5px 10px;
}
#slider-controls{
left: 4px;
position: absolute;
top: 62%;
z-index: 200; display:block;
}
.slider-controls{
left: 4px;
position: absolute;
top: 152px !important;
z-index: 200; display:none;
}

.homepageSlider .scrollable .items > div a{
	width:100%;
}
.homepageSlider .scrollable .items .slider-info{
     width:100% !important;
	 position:absolute;
	 top:auto !important;
	 left:0 !important;
	 bottom:0 !important;
	 right:0 !important;
}

.slider .prev,
.slider .next{
	display:none;	
}
.slider > .slider-thumbnails > .thumbnails-wrap > a > span {
font-family: Arial,Helvetica,sans-serif;
position: relative;
top: 5px;
}
.slider > .slider-thumbnails > .thumbnails-wrap > a:focus{	outline: 2px solid rgba(195, 0, 0, 0.3);
	-moz-outline-radius: 3px;}
	.slider > .slider-thumbnails {
		position: relative;
		text-align: center;
		padding: 0px;
		margin: 0px;
		display: block;
		width:100%;
		clear:both;
	}
	.slider > .slider-thumbnails > .thumbnails-wrap {
		position: relative;
		/*background-color: #232323;*/
		background: url("/va_files/2014/responsive/images/slider-bckgrnd-nonactive.jpg") #0b2c62 repeat-x;
		text-align: left;
		overflow: hidden;
		padding: 0px;
		margin: 0px;
	}
	
	.slider > .slider-thumbnails > .thumbnails-wrap img {
		border: solid 0px #f6efdc;
	}

	.slider > .slider-thumbnails > .thumbnails-wrap > a {
		width: 24%;
		padding: 2.2% 1% 3% 0.5%;
		text-align: center;
		display: inline-block;	
		vertical-align: top;
		outline: medium none;
	/*	border-right: solid 1px #000000;*/
		cursor: pointer;
		line-height: 1em;
		text-decoration: none;
		position:relative;		
		min-height:58px; font-size:.95em;
	}
	.slider > .slider-thumbnails > .thumbnails-wrap > a.selected{
		
		/*background-color: #E25543;
		border-left: solid 1px #E25543;
		border-right: solid 1px #E25543;	*/
		background: url("/va_files/2014/responsive/images/slider-bckgrnd-notch-active.jpg") no-repeat center top;
		 min-height:58px;
	}
	
	.slider > .slider-thumbnails > .thumbnails-wrap > a:last-child {
		border-right: none;
		padding: 2.2% 1% 3% 0.5%;
	}
	
	.slider > .slider-thumbnails > .thumbnails-wrap > a > span {	
		color: #ffffff;
	}
	
	.slider > .slider-thumbnails > .thumbnails-wrap > a > img {
		-moz-box-shadow: 0px 0px 5px #000000;
		-webkit-box-shadow: 0px 0px 5px #000000;
		box-shadow: 0px 0px 5px #000000;
		border: solid 1px #c3c2c2;
		opacity: 0.5;
	}
	
	.slider > .slider-thumbnails > .thumbnails-wrap > a:hover img, .slider > .slider-thumbnails > .thumbnails-wrap > a.selected img {
		position: relative;
		-moz-box-shadow: 0px 0px 5px #ffffff;
		-webkit-box-shadow: 0px 0px 5px #ffffff;
		box-shadow: 0px 0px 5px #ffffff;
		border: solid 1px #ffffff;
		opacity: 1.0;
	}
.slider > .slider-thumbnails > .thumbnails-wrap > a:hover span{color:#ffffff;}
	
	 .slider > .slider-thumbnails > .thumbnails-wrap > a.selected span {
		color: #ffffff;
	}
	.slider3>.slider-thumbnails>.thumbnails-wrap>a{
		width: 32.9%;
	}
}


@media only screen and (min-width: 960px) {
	#bld > div > p {
		font-size: 0.75em;
	}
	#slider-controls{
	display: block;
    left: 7px;
    position: absolute;
  top: 232px;
    z-index: 200;
}
	.slider > .slider-thumbnails > .thumbnails-wrap > a > span {
	 font-family: Arial,Helvetica,sans-serif;
  
    position: relative;
    top: 5px;
	}
.scrollable .items .slider-info1{ padding: 10px 58px !important;}
	#homepageSlider .scrollable .items > div .slider-info{background: url("/va_files/2014/responsive/images/bg-galley-text.png") repeat right 0 transparent; height: 107px;}
	.slider > .slider-wrap > div > div {
		font-size: 1.0em;
	}
	
	#whats-new > div:nth-child(3):before {
		content: 'Subscribe:';
	}
	
	#whats-new > div:nth-child(3) {
		text-align: right;
	}
