.floatleft { float:left;}  .Rotating-banner ul { margin:0; padding:0; list-style: none;}
.Custom .carousel-control,.Custom .carousel-indicators{display:none}.Custom .carousel.slide{opacity:1}.Custom.carousel.slide .item{-moz-transition:opacity ease-in-out .7s;-o-transition:opacity ease-in-out .7s;-webkit-transition:opacity ease-in-out .7s;transition:opacity ease-in-out .7s;left:0!important;opacity:0;top:0;position:absolute;width:100%;display:block!important;z-index:1}.Custom.carousel.slide .item:first-child{top:auto;position:relative}.Custom.carousel.slide .item.active{opacity:1;z-index:2}
/****************COOKIE POLICY HEADER*************/
.cookie-message {
display: none;
top:0;
left:0;
width: 100%;
margin: 0 auto;
height:30px;
line-height:30px;
font-size: .9em;
text-align: center;
background-color: #00AEEF;
color:#fff;
letter-spacing: 1px;
z-index: 1;
}
.cookie-message a {
font-weight: bold;
color: white;
cursor: pointer;
text-decoration: none;
}
.cookie-message a:hover {color:#666;}
.cookie-message a.accept-cookie, .cookie-message a.accept-cookie:hover{ color:white; padding-left:10px; text-decoration: underline!important; letter-spacing: normal; }

@media screen and (max-width: 919px) { 
.header .cookie-message {height:45px; line-height:20px; }
}
@media screen and (max-width: 490px) {
.header .cookie-message {height:65px;}
}
@media screen and (max-width: 330px) {
.header .cookie-message {height:85px;}
}

.modal-body .site-selector:after { font-family: 'FontAwesome'; -webkit-font-smoothing: antialiased; text-decoration: none; font-style: normal; content: "\f054"; font-size: 1.33333em; vertical-align:-14%; color:#00aeef; padding-left:5px; }
.modal-body .site-selector a { display:inline-block; height:65px; line-height:65px; color:#333333 }
.modal-body .site-selector a img { padding-right:15px; }
@media screen and (max-width:767px) {
	.site-selector {display: inline-block; width:49%;}
	.site-selector a {margin-left: 28%;}
	.modal-body .site-selector:after {content:'';}
	.site-selector span { display:none !important; }
}

.icon-youtube:after {
	content:"\f167"
}
.icon-instagram:after {
	content:"\f16d"
}

@media only screen and (max-width: 450px) {
.footer-bottom .social-links {
    padding-top: 7px;
   display: inline-block;
    width: 100%;
    float: left !important;
    padding-left: 10px;
     padding-right: 10px;
    text-align: center;
  
}
        .footer-bottom .social-links ul {
           
            margin-bottom: 15px;
            margin-left: 0px;
              display: inline;
              float: left;
            
}
     .footer-bottom .social-links ul li {
    display: inline;
    margin: 5px;
    line-height: 32px;
    font-size: 32px;
           float: left;
         
}
    
    .footer-bottom .footer-newsletter-signup {
    width: 100%;
    display: inline-block;
    float: left;
    padding-left: 10px;
        padding-right: 10px;
}
}

@media only screen and (max-width: 306px) {
            .footer-bottom .social-links ul {
           margin-bottom: 10px;
            margin-left: 0px;
              display: inline;
              float: left;
            
}
         .footer-bottom .social-links ul li {
    display: inline;
    margin: 5px;
    line-height: 32px;
    font-size: 30px;
           float: left;
         
}
    
}
