/*merchants start */
.dont-wait-info {
    font-family: "MuseoSans500";
    font-size: 29px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.dont-wait-info .msg1 {
    color:#18617a;
}
.dont-wait-info .msg2 {
    color: #4c4c4c;
}
.tarifs {
    background: url("/images/backgrounds/bg-light-blue-panel.png") repeat scroll center center transparent;
    border: 1px solid #d4eef9;
    border-radius: 7px 7px 7px 7px;
    padding-left: 35px;
    padding-right:35px;
    padding-top: 33px;
    padding-bottom:20px;
}
.tarifs .tarif {
    margin-top:28px;
    background-color: #FFF;
    width:162px !important;
    border-color: #d9e5e8 !important;
}
.tarifs .tarif .price {
    height: 35px;
    font-family: "HelveticaNeueCyrMedium", Helvetica;
    font-size: 15px;
    color: #28a6db;
    line-height: 35px;
    text-align: center;
}
.tarifs .tarif .days {
    height: 48px;
    line-height: 48px;
    background-color: #f6f8f8;
    font-family: "MuseoRegular700", "MuseoRegular500", Helvetica;
    text-align: center;
    color: #275b71;
    font-size: 31px;
}
.tarifs .tarif-group .tarif:hover{
    border: 1px solid #107BA8 !important;
    box-shadow: 0 0 0.5em 0 #0A5777;
}
.tarifs .tarif .buy-systems {}
.tarifs .tarif .buy-systems .desc{
    margin-top: 12px !important;
    font-family: "HelveticaNeueCyrMedium", Helvetica;
    color: #4c4c4c !important;
    font-weight: normal !important;
}
.tarifs .tarif .buy-systems .pay-system {
    margin-top: 8px;
}

.tarifs .tarif .buy-systems .pay-system.spacer {
    height: 32px;
}
.tarifs .tarif .buy-systems .pay-system .btn-green {
    background: url("/images/buttons/button-green-new-small.png") no-repeat scroll center top transparent;
    display: block;
    height: 32px;
    margin: 0 auto;
    width: 127px;
}
.tarifs .tarif .buy-systems .pay-system .btn-green:hover {
    background: url("/images/buttons/button-green-new-small.png") no-repeat scroll bottom center transparent;
}
.tarifs .tarif .buy-systems .pay-system .btn-green .buy-text {
    color: #FFFFFF;
    display: block;
    font-family: "HelveticaNeueCyrMedium", Helvetica;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-shadow: 0 -1px 0 #78AC13;
}
.tarifs .tarif-group.popular {
    position: relative;
}
.tarifs .tarif-group.popular .tarif {
    width: 202px !important;
    margin-top:0px;
     box-shadow: 0 0 0.5em 0px #0a5777;
    border: 1px solid #107ba8 !important;
}
.tarifs .tarif-group.popular .tarif .cap {
    height: 27px !important;
    line-height: 27px;
    color: #FFF;
    text-shadow: 0 0 1px #363939;
    background-color: #28a6db;
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #107ba8;
}
.tarifs .tarif-group .tarif .best-save {
    background: url("/images/icons/best_deal.png") no-repeat scroll center center transparent;
    height: 51px;
    left: 2px;
    position: absolute;
    top: -20px;
    width: 51px;
}
.tarifs .tarif-group.popular .tarif .buy-systems .pay-system .btn-green {
    background: url("/images/buttons/button-green-new-big.png") no-repeat scroll center top transparent;
    display: block;
    height: 32px;
    margin: 0 auto;
    width: 167px;
}
.tarifs .tarif-group.popular .tarif .buy-systems .pay-system .btn-green:hover {
    background: url("/images/buttons/button-green-new-big.png") no-repeat scroll bottom center transparent;
}
.tarifs .extra-options {
    height: 38px;
    margin-top: 20px;
    width: 100%;
}
.tarifs .extra-options .left {
    float: left;
}
.tarifs .extra-options .left .ssl-secure {
    background: url("/images/icons/ssl-secure-2.png") no-repeat scroll left center transparent;
    height: 38px;
    line-height: 43px;
    padding-left: 36px;
    font-family: "MuseoSans500", Helvetica;
    font-size: 14px;
    color: #898989;
    float:left;
    margin-right: 20px;
}
.tarifs .extra-options .left .ssl-secure .secure {
    color: #1b4f65;
}
.tarifs .extra-options .left .anonymous {
    background: url("/images/icons/man.png") no-repeat scroll left center transparent;
    height: 38px;
    line-height: 43px;
    padding-left: 36px;
    font-family: "MuseoSans500", Helvetica;
    font-size: 14px;
    color: #898989;
    float:left;
}
.tarifs .extra-options .left .anonymous .anonym-percent{
    color: #1b4f65;
}
.tarifs .extra-options .right {
    float: right;
    height: 38px;
}
.tarifs .extra-options .right .visa{
    background: url("/images/icons/payments-sys/visa.jpg") no-repeat scroll left center transparent;
    height: 38px;
    width: 51px;
    float: right;
}
.tarifs .extra-options .right .ikoruna{
    background: url("/images/icons/payments-sys/ikoruna-big.png") no-repeat scroll left center transparent;
    float: right;
    height: 68px;
    width: 102px;
    margin-left:9px;
}
.tarifs .extra-options .right .webmoney{
    background: url("/images/icons/payments-sys/webmoney.png") no-repeat scroll left center transparent;
    float: right;
    height: 38px;
    width: 102px;
    margin-left:9px;
}
.tarifs .extra-options .right .visa-electron{
    background: url("/images/icons/payments-sys/visa-electron.jpg") no-repeat scroll left center transparent;
    float: right;
    height: 38px;
    width: 51px;
    margin-left:9px;
}
.tarifs .extra-options .right .master-card{
    background: url("/images/icons/payments-sys/master-card.jpg") no-repeat scroll left center transparent;
    float: right;
    height: 38px;
    width: 51px;
    margin-left:9px;
}
.tarifs .extra-options .right .maestro{
    background: url("/images/icons/payments-sys/maestro.jpg") no-repeat scroll left center transparent;
    float: right;
    height: 38px;
    width: 51px;
    margin-left:9px;
}
.tarifs .extra-options .right .bitcoin{
    background: url("/images/icons/payments-sys/bitcoin.png") no-repeat scroll left center transparent;
    float: right;
    height: 38px;
    width: 103px;
    margin-left:9px;
}

.tarifs .extra-options .right .jcb{
    background: url("/images/icons/payments-sys/jcb.jpg") no-repeat scroll left center transparent;
    float: right;
    height: 38px;
    width: 52px;
    margin-left:9px;
}

.tarifs .extra-options .right .amex{
    background: url("/images/icons/payments-sys/amex.png") no-repeat scroll left center transparent;
    float: right;
    height: 38px;
    width: 55px;
    margin-left:9px;
}

.tarifs .extra-options .right .discover{
    background: url("/images/icons/payments-sys/discover.jpg") no-repeat scroll left center transparent;
    float: right;
    height: 38px;
    width: 55px;
    margin-left:9px;
}


/*merchants end */

.payment-button {
    height: 45px;
    margin-top: 40px;
}

.other-payment-method-button {
    background: url("/images/buttons/get_premium_button_new.png") no-repeat scroll center center transparent;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    margin: 23px auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 178px;
}

.other-payment-method-button .center {
    color: #664B1D;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
}

#get-email-dialog table td {
    padding-bottom: 7px;
}
span.star{
    color: red;
}