.navobile-mobile-only {
    display: none;
}

.mobilMask {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    background: rgba(0,0,0,0.7);
}

#navobile-device-pixel {
  width: 0;
}
.show-navobile-clone {position:absolute; top:29px; right:20px; color:#ffffff; z-index:50; font-size:1.125em; width:36px; height:24px;}
.show-navobile-clone i:before {margin-right:5px;}
.navobile-navigation > ul:nth-child(2) {margin-top:84px; box-shadow:inset -2px 6px 6px -3px rgba(0, 0, 0, 0.4); font-family:"Oswald", Sans serif;}
.menu.navobile-navigation > ul:nth-child(2) > li {float:none; display:block; height:auto; cursor:pointer; position:relative;}
.menu.navobile-navigation > ul:nth-child(2) > li:first-child{border-top:none;}
.menu.navobile-navigation > ul:nth-child(2) > li:last-child {border-bottom:none;}
.menu.navobile-navigation > ul:nth-child(2) > li > a,
.menu.navobile-navigation > ul:nth-child(2) > li > a.hidden {width:100%; color:#0f233b; padding:0 20px; font-size:1.250em; box-sizing:border-box; height:40px; line-height:40px; position:relative; display:block;}
.menu.navobile-navigation > ul:nth-child(2) > li.a2tv > a {height: 53px;}
.menu.navobile-navigation > ul:nth-child(2) > li.home {margin:20px 0 10px;}
.menu.navobile-navigation > ul:nth-child(2) > li.home > a {background:url(../i/icoHome.png) no-repeat 20px 50%; width:48px; display:inline-block;}
.menu.navobile-navigation .tabs .column{display:none !important;}
.menu.navobile-navigation .tabs .dropMenu li a {color:#ffffff;height: 40px;line-height: 40px;}
.menu.navobile-navigation .tabs .dropMenu li a:hover {color:#ffffff;}
.menu.navobile-navigation .tabs .dropMenu {padding:0px; width:100%;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown {width:100%; background-color:#fff; position:relative; top:0px; box-shadow:inset 0 0 10px -3px rgba(0, 0, 0, 0.5);  padding:20px 20px 15px; box-sizing:border-box; display:none;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li .first {width:100%; height:auto;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li .first > a {color:#ffffff; font-size:1.125em;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li .middle {width:100%; margin-top:20px;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li .middle .vBox {width:80%; margin-left:10%; margin-bottom:20px;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li .middle .vBox a {color:#ffffff;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li .middle .vBox .img {width:auto; height:auto;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li .middle .vBox .img img {width:98%; height:auto;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li .middle .vBox .date {display:none;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li .last {width:100%;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li .last .gotoAll { float:right; width:35%;height:30px; background: #ffffff;color: #212121; font-size:1.125em; line-height: 30px; text-align: right; padding-right: 10px;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li .last .gotoAll span {position:static;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li > .colA {display:block; width:96%; padding:0 2%; border:none; margin:20px 0; }
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li > .colB {display:block; width:96%; padding:0 2%; border:none; margin:20px 0; }
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li > .colC {display:block; width:96%; padding:0 2%; border:none; margin:20px 0; }
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li > .colD {display:block; width:96%; padding:0 2%; border:none;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li > div {overflow:hidden;background: rgba(112, 112, 112, 0.3);}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li a.list,.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li a.list:hover {color:#ffffff;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li .head {color:#ffffff; text-decoration:underline;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li .head:hover {color:#ffffff;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li > .colC .gal .item {width:45%;height:auto;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li > .colC .gal .item:last-child {width:100%;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li > .colC .gal .item img {width:100%; height:auto; }
.menu.navobile-navigation > ul:nth-child(2) > li .fa-bars {width:100%; display:block; padding-top:8px;}
.menu.navobile-navigation > ul:nth-child(2) > li .fa-bars i {display:block;}
.menu.navobile-navigation > ul:nth-child(2) > li .fa-bars:before {display:none;}
.menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li , .menu.navobile-navigation > ul:nth-child(2) > li > .dropdown > li > div{display:block;}

nav ul.social {display:none;}


@media screen and (min-width: 0px) and (max-width: 668px) {  
    html,
    .navobile-bound {
      overflow-x: hidden;
      overflow-y: visible;
      height: auto;
      width: 100%;
    }
	
	nav ul.social {padding:20px 0 20px 20px; position:relative; z-index:2; display:block;}
	nav ul.social li {float:left; margin-right:15px;}
	nav ul.social li:last-child {margin:0;}
	nav ul.social li a {font-size:19px; display:block;}
	nav ul.social li a i {display:block; color:#0f233b;}
	nav ul.social li:nth-child(6) a {width:20px; height:20px; display:block;}
	nav ul.social li:nth-child(6) a svg {float:left;}
	nav ul.social li:nth-child(6) #line {transition:all 0.5s;}
	nav ul.social li:nth-child(6) a:hover #line {fill:#3baa35;}
	

    .overflowscrolling {
      -webkit-overflow-scrolling: touch;
    }
    
    #navobile-device-pixel {
      width: 1px;
    }

    .navobile-mobile-only {
      display: block;
    }

    .navobile-desktop-only {
      display: none;
    }

    .navobile-navigation {
      height: 100%;
      left: -100%;
      overflow: auto;
      overflow-x: hidden;
      position: absolute;
      top: -100%;
      width: 60%;
      z-index: -1;
      
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }

    .navobile-bound .navobile-navigation {
      
        position: fixed;
        top: 0;
        z-index: 1000;
		margin:0px;
		height:100%;
		background:#fff;
		transition: 0.2s;
    }
	.navobile-bound .navobile-navigation:before {content:""; position:absolute; background: url(../i/bgDrop.png) 0 40% no-repeat; width: 100%; height: 100%; left: 0; top: 0; background-size: 120%;}
	.navobile-bound .navobile-navigation.navobile-navigation-visible {left: 0;}
    .navobile-navigation ul {
      overflow: hidden;
    }

    .navobile-navigation li {
      float: none;
      overflow: hidden;
    }

    .navobile-content {
      position: relative;

      -webkit-transition: -webkit-transform 0.2s linear;
      -moz-transition: -moz-transform 0.2s linear;
      -o-transition: -ms-transform 0.2s linear;
      -ms-transition: -o-transform 0.2s linear;
      transition: transform 0.2s linear;
    }

    .csstransforms #content.navobile-content-hidden {
      -webkit-transform: translateX(80%);
      -moz-transform: translateX(80%);
      -ms-transform: translateX(80%);
      -o-transform: translateX(80%);
      transform: translateX(80%);
    }

    .csstransforms #content.navobile-content-hidden {
      -webkit-transform: translate3d(80%,0,0);
      -moz-transform: translate3d(80%,0,0);
      -ms-transform: translate3d(80%,0,0);
      -o-transform: translate3d(80%,0,0);
      transform: translate3d(80%,0,0);
    }

  	.navobile-navigation > ul:nth-child(2) {margin-top:55px;}	
  	.show-navobile-clone {top:17px;}
}