@import url(http://fonts.googleapis.com/css?family=Montserrat);

@keyframes slowSlide {

	from { background-position: 0 0; }
	to { background-position: -2560px 0; }
	
}

body {

  padding-top: 10px;
  background: url("images/bg.png");
  font-family: 'Montserrat', sans-serif;
  
  background-position: 0px 0px;
  background-repeat: repeat-x,y;

  animation: slowSlide 45s linear infinite;
  
}


h1{

	font-family: 'Montserrat', sans-serif;
	text-align:center;

}

h2{

	text-align:center;

}

h3{

	text-align:center;
	padding-bottom:10px;
	text-transform: capitalize;

}

h4{

	text-align:center;
	padding-bottom:10px;
	padding-top:0px;
	text-transform: capitalize;
	font-family: 'Montserrat', sans-serif;


}

.container{

	margin-bottom:100px;

}

.navbar{

	-webkit-transition: opacity 0.5s; /* For Safari 3.1 to 6.0 */
	transition: opacity 0.5s;
	opacity:0.8;
	margin-bottom:0px;
	margin-top:0px;
	border-radius:0px;

}

.navbar:active, .navbar:hover {

	opacity:1;
	
}

 .navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.navbar-inverse{

	background-color:#981b23;
	border:0px;

}

.navbar-inverse .navbar-nav > li > a {

	color:white;

}

.navbar-inverse .navbar-nav > li > a:hover {

	color:#d6d6d6;

}

.navbar-inverse .navbar-toggle{

	color:white;

}

#statusConfirm{

	width:100%;
	height:20px;
	background-color:green;
	text-align:center;
	color:white;
	padding-bottom:40px;
	padding-top:20px;
	font-size:18px;
	text-shadow: 1px 1px 1px black;

}

#statusFail{

	width:100%;
	height:20px;
	background-color:red;
	text-align:center;
	color:white;
	padding-bottom:40px;
	padding-top:20px;
	font-size:18px;
	text-shadow: 1px 1px 1px black;

}

.b728u{

	text-align:center;
	margin:0 auto;
	padding-bottom:50px;
	max-width:770px

}

.b728ur{

	text-align:center;
	margin:0 auto;
	padding-bottom:10px;
	max-width:770px

}

.b728d{

	text-align:center;
	margin:0 auto;
	margin-top:50px;
	max-width:770px

}

#b160d{

	width:200px;

}

#b300i{

	background-color:white;
	margin:0 auto;
	min-width:340px;
	max-width:340px;
	text-align:center;
	box-shadow:none;
	border:0;
	border:radius:0;
	height:290px;
	margin-top:40px;
	
}

#b300ib{

	background-color:white;
	margin:0 auto;
	min-width:340px;
	max-width:340px;
	text-align:center;
	box-shadow:none;
	border:0;
	border:radius:0;
	height:290px;
	margin-top:40px;
	
}

#b300{

	text-align:center;
	margin:0 auto;
	padding-top: 20px;

}

#logo{

	text-align:center;
	margin:0 auto;
	max-width:90%;

}

#thumbnail{

	padding-bottom:20px;
	max-width:40%;

}

.borderTop{

	border-top:2px solid white;

}

.borderBottom{

	border:0px;
	border-bottom:2px solid white;

}

.noBorder{

	border:0px;

}

#downloadMP4{

	background-color:#be3435;
	max-width:100%;
	text-align:center;
	margin:0 auto;
	border-radius:0;
	text-shadow: 1px 1px 1px black;
	text-transform:capitalize;
	
	transition:1s all;

}

#downloadMP4:hover{

	background-color:#a32b2c;
	border-color:white;


}

@media (max-width: 500px){ 

	#downloadMP4{

		font-size:12px;

	}

}

@media (max-width: 800px){ 

	#downloadMP4{

		font-size:11px;

	}

}

@media (max-width: 400px){ 

	#downloadMP4{

		font-size:10px;

	}

}



#facebook{

	background-color:white;
	margin:0 auto;
	min-width:250px;
	max-width:460px;
	text-align:center;
	box-shadow:none;
	border:0;
	border:radius:0;
	height:120px;
	margin-top:40px;
	
	

}

#facebookIframe{

	width:100%;

}

#mainInfo{

	margin-top:50px;

}

#info{

	border-radius:0px;background-color:white;max-width:728px;margin:auto;
	padding-bottom:

}

.center{

	text-align:center;
	margin:0 auto;

}

#formFront{

	margin:0 auto;text-alig:center;max-width:728px;margin-top:50px;
	border:0;

}

#downloadSpan{

	border-radius:0;
	border:0px;

}

#iconDownload{

	max-width:60px;
	width:60px;
	font-size:32px;
	border:0px;

}

#iconDownloadMP4{

	max-width:60px;
	font-size:18px;

}

#video{

	border-radius:0;height:60px;font-size:16px;

}

#submitForm{

	border-radius:0;
	border:0px;
	max-width:728px;
	height:60px;
	background-color:#c4313b;
	border-radius:0px 0px 10px 10px;
	transition:1s all;
	
	

}

#submitForm:hover{

background-color:#a92a33;
-moz-box-shadow: 0px 0px 5px #a92a33;
-webkit-box-shadow: 0px 0px 5px #a92a33;
box-shadow: 0px 0px 5px #a92a33;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

	

}

#blogContainer{

	border-radius:0px;
	background-color:white;
	margin-top:50px;
	margin:auto;

}

#error{

	background-color:red;
	text-align:center;
	opacity:0.5;
	color:white;
	font-size:24px;
	margin-bottom:20px;
	
}

#box{

	border-radius:10px;

}

#facebook-like{

	margin:0 auto;
	padding-bottom:15px;

}

footer{

  position: fixed;
  bottom: 0;
  width: 100%;
  
}

.af,.ar,.bs,.de,.el,.en,.fi,.hi,.nl,.no,.sv{display:inline-block;background:url('flag_sprite.png') no-repeat;overflow:hidden;text-indent:-9999px;text-align:left;vertical-align:middle} .af{background-position:-0px -0px;width:24px;height:24px}.ar{background-position:-24px -0px;width:24px;height:24px}.bs{background-position:-48px -0px;width:24px;height:24px}.de{background-position:-0px -24px;width:24px;height:24px}.el{background-position:-24px -24px;width:24px;height:24px}.en{background-position:-48px -24px;width:24px;height:24px}.fi{background-position:-0px -48px;width:24px;height:24px}.hi{background-position:-24px -48px;width:24px;height:24px}.nl{background-position:-48px -48px;width:24px;height:24px}.no{background-position:-0px -72px;width:24px;height:24px}.sv{background-position:-24px -72px;width:24px;height:24px}