@charset "utf-8";
/* -----------------------------------------
common.css
reset・初期設定・汎用クラス用css
----------------------------------------- */


/* reset
----------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,input,textarea,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0px;
	padding: 0px;
}

h1,h2,h3,h4,h5,h6,th,input,textarea,select {
	font-family: inherit;
	font-size: 100%;
	font-weight: normal;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

table,th,td {
	text-align: left;
	border: none;
}

ol,ul,li {
	list-style: none;
}

img {
	border: none;
	vertical-align: top;
}

input[type=text],
input[type=button],
input[type=submit],
button {
	font-family: inherit;
	-webkit-appearance: none;
	border-radius: 0;
}


/* 初期設定
----------------------------------------- */

body {
	min-width: 950px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	color: #666 !important;
	font-size: 87.5% !important;
	line-height: 1.4;
}

a {
	color: inherit;
	text-decoration: none;
}

em,strong { font-weight: bold; }


/* 汎用クラス
----------------------------------------- */

.clearfix { zoom: 1; }
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0.01px;
}

.floatL { float: left; }
.floatR { float: right; }

.fontL  { font-size: 116.7%; }	/* 14px */
.fontLL { font-size: 133.3%; }	/* 16px */
.fontXL { font-size: 150%; }	/* 18px */
.fontS  { font-size: 91.7%; }	/* 11px */
.fontSS { font-size: 83.3%; }	/* 10px */

.txtBold { font-weight: bold; }

.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }

.vaTop { vertical-align: top !important; }
.vaBtm { vertical-align: bottom !important; }

.hide { display: none; }

.indent { text-indent: 1em; }


.mt0  { margin-top:  0px !important; }
.mt3  { margin-top:  3px !important; }
.mt5  { margin-top:  5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }

.ml0  { margin-left:  0px !important; }
.ml3  { margin-left:  3px !important; }
.ml5  { margin-left:  5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }

.mr0  { margin-right:  0px !important; }
.mr3  { margin-right:  3px !important; }
.mr5  { margin-right:  5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }

.mb0  { margin-bottom:  0px !important; }
.mb3  { margin-bottom:  3px !important; }
.mb5  { margin-bottom:  5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }

.cmnOver:hover {
	opacity: 0.8;
}


/* フレーム
----------------------------------------- */

/* pageHeader */

.pageHeaderOuter {
	height: 88px;
}

body.uc .pageHeaderOuter {
	display: none;
}

.pageHeader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2000;
	background-color: #0f218b;
	padding-top: 18px;
	height: 70px;
}

.pageHeader .inner {
	width: 910px;
	margin: 0 auto;
}

.pageHeader .logo {
	float: left;
}
.pageHeader .logo .logo_catch{
	color:#fff;
	font-size:10px;
	margin-bottom:6px;
}

.pageHeader .search {
	position: relative;
	float: right;
	margin-left: 20px;
}

.pageHeader .searchBtn {
/*	background-color: #fff;*/
	cursor: pointer;
}

.pageHeader .searchBtn:hover img {
	opacity: 0.9;
}

.pageHeader .searchBox {
	top: 50px;
	right: 0;
	position: absolute;
	border: 1px solid #0f218b;
	background-color: #fff;
	padding: 18px 40px 15px 15px;
	width: 450px;
	z-index: 1500;
	display: none;
}

.pageHeader .searchBox .closeBtn {
	position: absolute;
	top: 7px;
	right: 7px;
	cursor: pointer;
}

.pageHeader .searchBox .textbox {
	border: 1px solid #bfbfbf;
	box-sizing: border-box;
	width: 380px;
	height: 32px;
	padding: 3px 10px;
}

.pageHeader .searchBox .submitBtn {
	border: none;
	box-sizing: border-box;
	width: 60px;
	height: 32px;
	background-color: #0f218b;
	color: #fff;
	cursor: pointer;
}

.pageHeader .searchBox .faqLink {
	margin-top: 12px;
}

.pageHeader .searchBox .faqLink a {
	background: url("/cmn/img/megamenu_mrk_01.png") no-repeat scroll 100% 50%;
	padding-right: 15px;
}

.pageHeader .searchBox .faqLink a:hover {
	opacity: 0.8;
}

.pageHeader .btnList {
	float: right;
	overflow: hidden;
	margin-bottom: 10px;
}

.pageHeader .btnList li {
	float: left;
	margin-left: 3px;
}

.pageHeader .btnList a {
	display: block;
	width: 173px;
	height: 26px;
	background-color: #008738;
	line-height: 26px;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.pageHeader .btnList a:hover {
	background-color: #33a05f;
}

.pageHeader .btnList a.blank {
	background-image: url(/cmn/img/ico_blank.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

.pageHeader .linkList {
	float: right;
}

.pageHeader .linkList li {
	float: left;
	margin-left: 25px;
}

.pageHeader .linkList a {
	padding-right: 12px;
	background: url(/cmn/img/hd_mrk_01.gif) no-repeat 100% 50%;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}

.pageHeader .linkList a:hover {
	opacity: 0.7;
}


/* titleArea */

.titleArea {
	position: relative;
	background-color: #f6f6f6;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

body.uc .titleArea {
/*	padding-top: 5px;	*/
}

body.uc .titleArea .clearfix {
	width: 890px;
	margin: 0 auto 0;
}


/* topArea */

.topArea {
	border-bottom: 1px solid #c5c5c5;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.topArea .banner {
	text-align: center;
}

.topArea .banner img {
	vertical-align: top;
}


/* gnavi */
.gnaviOuter{
	margin:0 auto;
	width:910px;
	height:69px;
}
.gnavi {
	/*position: relative;*/
	position: fixed;
	z-index: 1000;
	width: 910px;
	margin: 0 auto;
	height: 69px;
}

body.uc .gnavi {
	display: none;
}

.gnavi > li {
	float: left;
	margin-left: 5px;
	width: 224px;
}

.gnavi > li:first-child {
	margin-left: 0;
	width: 223px;
}

.gnavi .btn {
	position: relative;
	top: -3px;
	height: 69px;
}

.gnavi .btn a {
	display: block;
	border: 3px solid #0f218b;
	border-radius: 5px;
	background-color: #fff;
	padding: 5px 0 4px;
	text-align: center;
	color: inherit;
	text-decoration: none;
	line-height: 24px;
	transition: all 0.3s;
}

.gnavi .btn span {
	display: block;
	font-size: 123.1%;
	font-weight: bold;
	color: #0f218b;
	transition: all 0.3s;
}

.gnavi li:hover .btn a {
	position: relative;
	background-color: #0f218b;
	color: #fff;
}

.gnavi li:hover .btn a:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -12px;
	width: 0;
	height: 0;
	margin: 0 auto;
	border-top: 9px solid #0f218b;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.gnavi li:hover .btn a span {
	color: #fff;
}

.gnavi .megaMenu {
	position: absolute;
	top: 69px;
	left: 0;
	right: 0;
	z-index: 1000;
	border: 3px solid #0f218b;
	border-radius: 5px;
	background-color: #ebedf6;
	padding: 32px 32px 23px 30px;
	min-height: 236px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}

.gnavi > li:hover .megaMenu {
	visibility: visible;
	opacity: 1;
}

.gnavi .leftCol {
	float: left;
	width: 560px;
}

.gnavi .title {
	border-bottom: 2px solid #0f218b;
	padding-bottom: 8px;
	margin-bottom: 16px;
	text-align: center;
	color: #0f218b;
	font-size: 128.6%;
	font-weight: bold;
	line-height: 20px;
}

.gnavi .title.col1 {
	float: left;
	width: 180px;
	margin-top: -20px;
}

.gnavi .title.col2 {
	float: left;
	width: 370px;
	margin-left: 10px;
}

.gnavi .imgLink {
	margin-left: -10px;
	overflow: hidden;
}

.gnavi .imgLink li {
	float: left;
	width: 180px;
	margin-left: 10px;
	text-align: center;
}

.gnavi .imgLink a {
	color: #0f218b !important;
	font-weight: bold;
	text-decoration: none;
}

.gnavi .imgLink a:hover {
	opacity: 0.8;
}

.gnavi .imgLink .img {
	margin-bottom: 10px;
}

.gnavi .imgLink .text {
	display: inline-block;
	background: url(/cmn/img/megamenu_mrk_01.png) no-repeat 100% 50%;
	padding-right: 15px;
}

.gnavi .imgLink .text.narrow {
	letter-spacing: -2px;
}

.gnavi .imgLink .text.long {
	text-align: left;
	font-size: 92.9%;
	letter-spacing: -1px;
	word-break: break-all;
	padding-right: 12px;
}

.gnavi .imgLink .text span {
	display: table-cell;
	vertical-align: middle;
	height: 2.8em;
	color: #0f218b !important;
}

.gnavi .rightCol {
	float: right;
	width: 245px;
}

.gnavi .btnLink li {
	margin-bottom: 8px;
}

.gnavi .btnLink a {
	display: block;
	background: url(/cmn/img/megamenu_mrk_02.png) no-repeat 96% 50% #0f218b;
	border-radius: 5px;
	padding: 5px;
	color: #fff;
	font-size: 92.9%;
	font-weight: bold;
	text-decoration: none;
}

.gnavi .btnLink a:hover {
	opacity: 0.8;
}

.gnavi .btnLink .img {
	display: table-cell;
}

.gnavi .btnLink .text {
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px 0 13px;
	color: #fff !important;
}

.gnavi .btnLink .text.sizeS {
	font-size: 92.3%;
}

.gnavi .topLink a {
	display: block;
	background: url(/cmn/img/megamenu_mrk_02.png) no-repeat 96% 50% #ff6f92;
	padding: 7px 12px;
	border-radius: 5px;
	color: #fff;
	font-size: 92.9%;
	font-weight: bold;
	text-decoration: none;
}

.gnavi .normalLink a {
	display: block;
	background: url(/cmn/img/megamenu_mrk_01.png) no-repeat 96% 50%;
	padding: 7px 12px;
	border-radius: 5px;
	color: #0f218b;
	font-size: 92.9%;
	font-weight: bold;
	text-decoration: none;
}

.gnavi .topLink a:hover {
	opacity: 0.8;
}


/* cpnLink */

.cpnLink {
	position: absolute;
	top: 158px;
	left: 0;
	right: 0;
	width: 910px;
	margin: 0 auto;
}

body.uc .cpnLink {
	top: 98px;
}

.cpnLink a {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	background: url(/cmn/img/mrk_01.png) no-repeat 95% 50% #0f228b;
	border-radius: 6px;
	padding: 5px 25px 5px 10px;
	color: #fff;
	line-height: 1.3;
}


/* breadcrumbs */

.breadcrumbs {
	width: 910px;
	margin: 10px auto 15px;
	overflow: hidden;
}

.breadcrumbs.hasBtn {
	padding-right: 160px;
	width: 750px;
}

.breadcrumbs li {
	float: left;
	font-size: 75%;
	color: #666;
}

.breadcrumbs li:before {
	content: "＞";
	padding: 0 5px;
}

.breadcrumbs li:first-child:before {
	display: none;
}

.breadcrumbs li a {
	color: inherit;
	text-decoration: none;
}

.breadcrumbs li a:hover {
	text-decoration: underline;
}


/* pageTitle */

.pageTitle {
	width: 910px;
	margin: 0 auto;
	color: #0f228b;
	font-size: 175%;
	padding-top: 8px;
	text-align: left;
	background: none !important;
}

h1.pageTitle {
	border-top: none !important;
	border-bottom: none !important;
}


/* pagetop */

.pagetop {
	margin: 30px 0 15px;
	text-align: right;
}

.pagetop a {
	position: relative;
	padding-left: 14px;
	background: url(/cmn/img/pagetop.gif) no-repeat 0 5px;
	color: #0f228b;
	font-size: 92.9%;
	font-weight: bold;
	text-decoration: none;
}

.pagetop a:hover {
	text-decoration: underline;
}


/* footerNaviArea */

.footerNaviArea {
	background-color: #0f228b;
}

.footerNaviArea ul {
	width: 910px;
	margin: 0 auto;
	padding: 20px 0 25px;
	overflow: hidden;
}

.footerNaviArea ul.uc {
	display: none;
}

body.uc .footerNaviArea ul {
	display: none;
}

body.uc .footerNaviArea ul.uc {
	display: block;
}

.footerNaviArea li {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin-bottom: 15px;
}

.footerNaviArea a {
	display: inline-block;
	padding-left: 16px;
	background: url(/cmn/img/ft_mrk_01.png) no-repeat 4px 4px;
	color: #fff;
	text-decoration: none;
}

.footerNaviArea a:hover {
	text-decoration: underline;
}


/* pageFooter */

.pageFooter {
    margin: 0 auto;
    padding: 15px 0 20px;
    width: 910px;
	font-family: sans-serif !important;
	font-size: 85.7% !important;
}

body.uc .pageFooter {
	display: none;
}

.pageFooter a {
	color: inherit;
	text-decoration: none;
}

.pageFooter a:hover {
	text-decoration: underline;
}

.pageFooter .logo {
    float: left;
    width: 200px;
}

.pageFooter .logo span {
    clear: both;
    display: block;
    padding-top: 10px;
}

.pageFooter .logo span a {
    background: rgba(0, 0, 0, 0) url("/cmn_data/img/listmark03.gif") no-repeat scroll left center;
    font-size: 0.86em;
    padding-left: 10px;
}

.pageFooter .copyright {
    float: right;
}

.pageFooter .copyright a {
    float: right;
}

.pageFooter .copyright address {
    float: right;
    padding: 25px 20px 0 0;
    line-height: 1.5em;
	font-style: normal;
}

.pageFooter .linkList {
    border-top: 1px solid #d4d4d4;
	margin-top: 10px;
    font-size: 0.9em;
    padding-top: 15px;
    text-align: center;
}

.pageFooter .linkList p {
    clear: both;
    line-height: 1.3em;
    overflow: hidden;
    text-align: center;
}

.pageFooter .linkList p span {
    border-left: 1px solid #d4d4d4;
    clear: both;
    margin-left: -1px;
    padding: 0 10px 0 20px;
    text-align: center;
}

.pageFooter .linkList p span.firstchild {
    border: medium none;
}

/* サイドログイン */

.boxMenu {
	position: absolute;
	top: 72px;
	left: 0;
	z-index: 100;
	width: 222px;
	background-color: #0f218b;
	border-radius: 4px;
	overflow: hidden;
}

.boxMenu .inner {
	padding: 14px 12px 0px;
}
.boxMenu .inner2 {
	padding: 7px 12px 0px;
}

.boxMenu .loginBtn {
	display: block;
	background-color: #ff6f97;
	padding: 13px 0;
	border-radius: 3px;
	text-align: center;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
}

.boxMenu .loginBtn:hover {
	background-color: #ff8cac;
}

.boxMenu .textLink {
	margin: 10px 0 0;
}

.boxMenu .textLink a {
	display: inline-block;
	background: url(/cmn/img/mrk_01.png) no-repeat 3px 6px;
	padding: 3px 0 3px 15px;
	color: #fff;
	font-size: 12px;
}
.boxMenu .textLink2 {
	margin: 10px 0 15px;
}
.boxMenu .textLink2 li {
	background: #d9eaff;
	border-bottom:1px solid #c9dcf1;
	padding-left:5px;
	min-height:22px;
	width:192px;
	border-right:1px solid #c9dcf1;
}
.boxMenu .textLink2 li:first-child {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
/*	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;*/
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.boxMenu .textLink2 li:last-child {
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
/*	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;*/
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom:none;
}
.boxMenu .textLink2 a {
	display: inline-block;
	background: url(/cmn/img/mrk_01_2.png) no-repeat 3px 6px;
	padding: 3px 0 3px 15px;
	font-size: 11px;
	color:#0f3665;
}

.boxMenu .textLink3 {
	margin: 5px 0 7px;
}
.boxMenu .textLink3 a {
	display: inline-block;
	background: url(/cmn/img/mrk_01.png) no-repeat 3px 6px;
	padding: 4px 0 3px 15px;
	color: #fff;
	font-size: 12px;
}

.boxMenu .yahooLogin {
	display: block;
	background-color: #ffd96d;
	padding: 4px 0;
	border-radius: 3px;
	text-align: center;
	color: #000;
	font-size: 15px;
	font-weight: bold;
}

.boxMenu .yahooLogin:hover {
	background-color: #ffe18a;
}

/*.boxMenu .entryBtn {
	display: block;
	background-color: #008837;
	padding: 13px 0;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.boxMenu .entryBtn:hover {
	background-color: #33a05f;
}*/


.boxMenu .entryBtn {
	display: block;
	background-color: #008837;
	padding: 13px 0;
	border-radius: 3px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.boxMenu .entryBtn:hover {
	background-color: #33a05f;
}


#leftNav .boxMenu {
	position: relative !important;
	top: 3px;
	width: 210px;
	margin-bottom: 21px;
}

#leftNav .boxMenu a {
	text-decoration: none;
}


/* UCカード ヘッダー・フッター
----------------------------------------- */

/* ヘッダー */

#header_new2008 {
	display: none;
}

body.uc #header_new2008 {
	display: block;
}

body.uc #header_new2008 .clearfix {
	width: 890px;
	margin-left: auto;
	margin-right: auto;
}

#header_new2008 {
	background: url(http://www2.uccard.co.jp/wr_css/wr_img/common/head_bg_01.gif) repeat-x top left #FFF;
	padding: 15px 10px 0;
/*	width: 890px;	*/
	margin: 0 auto 15px;
}

#header_new2008 img {
	display: block;
}

#header_new2008 ul {
	margin-top: 4px;
}

#header_new2008 ul li {
	float: left;
}

#header_new2008 .navi_01 a{
	display: block;
	padding: 7px 12px 7px 4px;
	background: url(http://www2.uccard.co.jp/wr_css/wr_img/common/head_navi_border.gif) repeat-y top right;
}

#header_new2008 .navi_02 a{
	display: block;
	padding: 8px 6px 10px 16px;
}

#header_new2008 .navi_03 a{
	display: block;
	padding: 8px 6px 10px 7px;
}

#header_new2008 .navi_04 a{
	display: block;
	padding: 8px 15px 10px 7px;
	background: url(http://www2.uccard.co.jp/wr_css/wr_img/common/head_navi_border.gif) repeat-y top right;
}

#header_new2008 .navi_05 {
	margin: 9px 0 10px 11px;
	border-right:1px solid #a2a2a2;
}

#header_new2008 .navi_05 a{
	display: block;
	margin-right: 13px;
}

#header_new2008 .navi_06 {
	margin: 9px 0 10px 13px;
}

#header_new2008 .navi_06 a{
	display: block;
	margin-right: 13px;
}

#header_new2008 .navi_07 a{
	display: block;
	padding: 9px 6px 10px 7px;
	background: url(http://www2.uccard.co.jp/wr_css/wr_img/common/head_navi_border.gif) repeat-y top left;
}

#header_new2008 .navi_08 a{
	display: block;
	padding: 9px 6px 10px 6px;
}

#header_new2008 .navi_09{
	padding: 3px 0px;
}

#header_new2008 #srchBox {
	width: 155px;
	height: 22px;
	position: relative;
	margin: 0;
	padding: 0;
}

#header_new2008 #srchInput ,
#header_new2008 #SS_searchQuery {
	position: absolute;
	top: 0;
	left: 0;
	padding: 2px;
	width: 110px;
	height: 17px;
	border: 1px solid #7f9db9;
}

#header_new2008 #srchBtn ,
#header_new2008 #SS_searchSubmit {
	position: absolute;
	right: 0;
}

#header_new2008 .headlog1{
	float:left;
}


/* フッター */

#footer_new2008 {
	display: none;
	padding: 1em 3px 0;
	width: 910px;
	overflow: hidden;
	margin: 0 auto 20px;
}

body.uc #footer_new2008 {
	display: block;
}

#footer_new2008 .footer_link_01 {
	margin-left: -15px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 10px;
	text-align: left;
}

#footer_new2008 .footer_link_01 li {
	margin-left: 15px;
	display: inline;
	font-size: 12px;
	line-height: 1.4em;
	color: #3c3c3c;
	word-break: keep-all;
}

#footer_new2008 .footer_link_01next {
	margin-left: -15px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 40px;
	text-align: left;
}

#footer_new2008 .footer_link_01next li {
	margin-left: 15px;
	display: inline;
	font-size: 12px;
	line-height: 1.4em;
	color: #3c3c3c;
	word-break: keep-all;
}

#footer_new2008 img {
	float: left;
}

#footer_new2008 .footer_link_02 {
	float: right;
}

#footer_new2008 .footer_link_02 li {
	padding-left: 27px;
	background: url(http://www2.uccard.co.jp/wr_css/wr_img/common/footer_mkr_01.gif) no-repeat 20px 4px;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 1.4em;
	color: #3c3c3c;
	word-break: keep-all;
}

#footer_new2008 a {
	color: #0050a3;
}

#footer_new2008 a:link {
	text-decoration: underline;
}

#footer_new2008 a:visited {
	text-decoration: underline;
}

#footer_new2008 a:hover {
	text-decoration: none;
}

#footer_new2008 a {
	color: #0050a3;
}



/* モジュール
----------------------------------------- */

.contentsInner {
	width: 910px;
	margin: 0 auto;
}


/* mainvisualArea */

.mainvisualArea {
	position: relative;
}

.mainvisualArea .visual {
	position: relative;
	height: 350px;
}

.mainvisualArea .visual li {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	text-align: center;
}

.mainvisualArea .visual li:first-child {
	display: block;
}

.mainvisualArea .visual li.movie {
	background-color: #fff;
}

.mainvisualArea .visual li a img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.mainvisualArea .leftBtn {
	position: absolute;
	top: 150px;
	left: 10px;
	padding: 10px;
	cursor: pointer;
	z-index: 40;
}

.mainvisualArea .rightBtn {
	position: absolute;
	top: 150px;
	right: 10px;
	padding: 10px;
	cursor: pointer;
	z-index: 40;
}


/* currentMark */

.currentMark {
	text-align: center;
	padding: 12px 0;
	height: 20px;
}

.currentMark li {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/cmn/img/curmark.gif) no-repeat 0 0;
	margin: 0 3px;
}

.currentMark li.current {
	background-position: 0 -20px;
}


/* pager */

.pager {
	border-top: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	margin: 20px 0;
	overflow: hidden;
}

.pager .leftBtn {
	float: left;
	padding: 24px 21px;
	height: 20px;
	cursor: pointer;
}

.pager .rightBtn {
	float: right;
	padding: 24px 21px;
	height: 20px;
	cursor: pointer;
}

.pager .leftBtn.disabled,
.pager .rightBtn.disabled {
	opacity: 0.3;
	cursor: default;
}

.pager ul {
	text-align: center;
}

.pager li {
	display: inline-block;
	width: 70px;
	height: 68px;
	margin: 0 5px;
	line-height: 68px;
	cursor: pointer;
}

.pager.wide li {
	margin: 0 20px;
}

.pager li.dot {
	width: 30px;
	cursor: default;
}

.pager li.page:hover {
	background-color: #eee;
}

.pager li.current {
	background-color: #0f228b;
	color: #fff;
	cursor: default;
}


body#popup,
body#popup .footerNaviArea ul ,
body#popup .pageFooter {
 width:640px !important;
 min-width:auto !important;
}
body#popupB,
body#popupB .footerNaviArea ul ,
body#popupB .pageFooter {
 width:800px !important;
 min-width:auto !important;
}
body#popupC,
body#popupC .footerNaviArea ul ,
body#popupC .pageFooter {
 width:700px !important;
 min-width:auto !important;
}
body#popupD,
body#popupD .footerNaviArea ul ,
body#popupD .pageFooter {
 width:514px !important;
 min-width:auto !important;
}
body.bodyWidth705,
body#popupD .footerNaviArea ul {
 width:705px !important;
 min-width:auto !important;
}
body#popup .pageHeader {
 width:640px !important;
 height: 60px !important;
 padding-top: 10px !important;
 margin-bottom: 15px;
}
body#popupB .pageHeader {
 width:800px !important;
 height: 60px !important;
 padding-top: 10px !important;
 margin-bottom: 15px;
}
body#popupC .pageHeader {
 width:700px !important;
 height: 60px !important;
 padding-top: 10px !important;
 margin-bottom: 15px;
}
body#popupD .pageHeader {
 width:514px !important;
 height: 60px !important;
 padding-top: 10px !important;
 margin-bottom: 15px;
}
body.bodyWidth705 .pageHeader {
 width:705px !important;
 height: 60px !important;
 padding-top: 10px !important;
}
body#popup .pageHeader .logo,
body#popupB .pageHeader .logo,
body#popupC .pageHeader .logo,
body#popupD .pageHeader .logo{
    margin-left:10px;
}
body#popup .pageHeader .search,
body#popup .pageHeader .btnList,
body#popup .pageHeader .linkList,
body#popup ul.gnavi,
body#popup .pageFooter .logo span,
body#popup .pageFooter .linkList,
body#popup .pageFooter .copyright a,
body#popupB .pageHeader .search,
body#popupB .pageHeader .btnList,
body#popupB .pageHeader .linkList,
body#popupB ul.gnavi,
body#popupB .pageFooter .logo span,
body#popupB .pageFooter .linkList,
body#popupB .pageFooter .copyright a,
body#popupC .pageHeader .search,
body#popupC .pageHeader .btnList,
body#popupC .pageHeader .linkList,
body#popupC ul.gnavi,
body#popupC .pageFooter .logo span,
body#popupC .pageFooter .linkList,
body#popupC .pageFooter .copyright a,
body#popupD .pageHeader .search,
body#popupD .pageHeader .btnList,
body#popupD .pageHeader .linkList,
body#popupD ul.gnavi,
body#popupD .pageFooter .logo span,
body#popupD .pageFooter .linkList,
body#popupD .pageFooter .copyright a{
    display: none;
}
body#popup .btn_close, body#popupB .btn_close, body#popupC .btn_close, body#popupD .btn_close {
position: absolute;
display: block;
right: 0;
top: 0;
margin: 24px 10px 2px 10px;
}
body#popup .footerNaviArea ul ,
body#popupB .footerNaviArea ul ,
body#popupC .footerNaviArea ul ,
body#popupD .footerNaviArea ul {
    padding: 1px 0 !important;
}
body#popup .footerNaviArea li ,
body#popupB .footerNaviArea li ,
body#popupC .footerNaviArea li ,
body#popupD .footerNaviArea li {
    display: none;
}
body#popup .pageFooter ,
body#popupB .pageFooter ,
body#popupC .pageFooter ,
body#popupD .pageFooter {
    padding-bottom: 10px !important;
}
body#popup .pageFooter .logo ,
body#popupB .pageFooter .logo ,
body#popupC .pageFooter .logo ,
body#popupD .pageFooter  .logo{
    margin-left: 10px !important;
}
body#popup .pageFooter .copyright address ,
body#popupB .pageFooter .copyright address ,
body#popupC .pageFooter .copyright address ,
body#popupD .pageFooter .copyright address {
    padding-top: 10px !important;
}

.gnavi.gnavi_scroll .btn a{
	margin-top: -26px;
}
.gnavi.gnavi_scroll .megaMenu {
    top: 43px;
}
body.uc .gnaviOuter {
    display: none;
}


@media print{
	.pageHeader,
	.gnavi,
	#goSpnBtn{
		position:absolute
	}
}
