@charset "UTF-8";


/*======================================== */
/* スマートフォンサイト用設定
/*======================================== */

#goSpnBtn {
display:block;
text-align:center;
}

body {
background-position:left 102px;
}

#b_header{
background: url(../../cmn_data/img/hd_bg_01.gif) left 0px repeat-x;
padding-top:10px;
}
