@charset "utf-8";


/* topMainvisualArea */

.topMainvisualArea {
	position: relative;
	height: 554px;
	overflow: hidden;
	margin-bottom: 40px;
}

.topMainvisualInner {
	position: absolute;
	top: 88px;
	left: 0;
	right: 0;
	width: 910px;
	height: 100%;
	margin: 0 auto;
}

.topMainvisualInner .visual {
	position: relative;
	margin: 0 -228px;
}

.topMainvisualInner .visual li {
	position: absolute;
	top: 0;
	left: 0;
}

.topMainvisualInner .visual li:first-child {
	z-index: 10;
}

.topMainvisualInner .visual a {
	position: absolute;
	top: 72px;
	left: 457px;
	width: 680px;
	height: 358px;
	background-color: #fff;
/*	filter: alpha(opacity=0);*/
	opacity: 0;
}

.topMainvisualInner .curMark {
	position: absolute;
	top: 429px;
	right: 5px;
	bottom: 15px;
	z-index: 100;
}

.topMainvisualInner .curMark li {
	float: left;
	width: 22px;
	height: 22px;
	background: url(../img/curmark.png) no-repeat 0 0;
	margin: 0 1px;
	cursor: pointer;
}

.topMainvisualInner .curMark li.current {
	background-position: 0 -22px;
}

/* appeal */

.appeal {
	margin: 0 -25px 85px;
}

.appeal h2 {
	margin-bottom: 10px;
	text-align: center;
	color: #0f218b;
	font-size: 200%;
	font-weight: bold;
}

.appeal > ul {
	display: table;
	border-spacing: 15px;
	width: 100%;
	margin: 0 0 30px;
	overflow: hidden;
}

.appeal > ul > li {
	display: table-cell;
	width: 33.3%;
	border: 2px solid #1d2088;
	border-radius: 6px;
	padding: 16px 0 10px;
	text-align: center;
}

.appeal a {
	display: block;
}

.appeal a:hover ,
.cardArea .taCenter  a:hover{
	opacity: 0.7;
}

.appeal .title {
	margin-bottom: 12px;
	color: #0f218b;
	font-size: 185.7%;
}

.appeal .appeal01 .img {
	padding: 15px 0 30px;
}

.appeal .appeal01 ul {
	margin-left: 15px;
	text-align: left;
}

.appeal .appeal01 li {
	color: #000;
	font-weight: bold;
}

.appeal .appeal01 li:before {
	content: "◎";
	margin-right: 2px;
	font-size: 114.3%;
}

.appeal .appeal01 li strong {
	color: #b20019;
	font-size: 128.6%;
}

.appeal .appeal02 .text {
	margin-top: 15px;
	color: #000;
	font-weight: bold;
	line-height: 1.8;
}

.appeal .appeal03 .text {
	color: #000;
	font-size: 150%;
	font-weight: bold;
	line-height: 1.2;
}

.appeal .appeal03 .text strong {
	font-size: 200%;
	color: #0f218b;
}

.appeal .appeal03 .text .blue {
	color: #0f218b;
}

.appeal .linkBtn {
	position: relative;
	display: inline-block;
	background-color: #0f218b;
	border-radius: 6px;
	padding: 10px 30px 13px;
	color: #fff;
	font-size: 150%;
	line-height: 1.5;
	width: 400px;
}

.appeal .linkBtn strong {
	margin: 0 3px;
	font-size: 119%;
	font-weight: bold;
}

.appeal .linkBtn:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 13px;
	width: 10px;
	height: 10px;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	-webkit-transform-origin: right top;
	transform-origin: right top;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* cardArea */

.cardArea {
	background-color: #f5f6f6;
	padding: 60px 0;
	margin-bottom: 65px;
}

.cardArea h2 {
	margin-bottom: 30px;
	text-align: center;
	color: #0f218b;
	font-size: 200%;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.cardArea ul {
	max-width: 1365px;
	margin: 0 auto 40px;
	overflow: hidden;
}

.cardArea li {
	float: left;
	width: 33.33%;
	height: 170px;
	padding-top: 230px;
	background-position: 50% 0;
	text-align: center;
}

.cardArea li.card01 { background-image: url(../img/card_bg_01.jpg); }
.cardArea li.card02 { background-image: url(../img/card_bg_02.jpg); }
.cardArea li.card03 { background-image: url(../img/card_bg_03.jpg); }

.cardArea .name {
	margin-bottom: 12px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.cardArea li a {
	display: inline-block;
	background: url(/idx_data/img/mrk_02.png) no-repeat 82% 50%;
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 5px 20px 5px 0;
	width: 170px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

.cardArea li a:hover {
	background-color: rgba(255,255,255,0.3);
}

.cardArea .linkBtn {
	position: relative;
	display: inline-block;
	background-color: #ff6f92;
	border-radius: 6px;
	padding: 10px 30px 13px;
	color: #fff;
	font-size: 150%;
	line-height: 1.5;
	width: 400px;
}

.cardArea .linkBtn strong {
	margin: 0 3px;
	font-size: 119%;
	font-weight: bold;
}

.cardArea .linkBtn:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 13px;
	width: 10px;
	height: 10px;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	-webkit-transform-origin: right top;
	transform-origin: right top;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


/* newsArea */

.newsArea h2 {
	margin-bottom: 25px;
	color: #0f218b;
	font-size: 21px;
	font-weight: bold;
}

.newsArea ul {
	border-top: 1px solid #ccc;
	margin-bottom: 20px;
}

.newsArea li {
	border-bottom: 1px solid #ccc;
	padding: 25px 0;
	line-height: 1.5;
}

.newsArea .date {
	float: left;
	width: 140px;
	color: #0f218b;
	font-size: 15px;
	font-weight: bold;
}

.newsArea .link {
	overflow: hidden;
}

.newsArea .link strong {
	color: #0f218b;
	font-weight: bold;
}

.newsArea .link a:hover {
	text-decoration: underline;
}

.newsArea .allLink {
	margin-bottom: 30px;
	text-align: right;
}

.newsArea .allLink a {
	background: url(/idx_data/img/mrk_03.png) no-repeat 100% 50%;
	padding-right: 12px;
	color: #0f218b;
	text-decoration: underline;
}

.newsArea .allLink a:hover {
	text-decoration: none;
}

.newsArea .attention {
	border: 1px solid #dd2a2a;
	border-radius: 5px;
	background: url(../img/icon_attention.png) no-repeat 17px 50% #fef6f4;
	padding: 20px 10px 20px 75px;
	margin-bottom: 45px;
	color: #dd2a2a;
	font-size: 18px;
	font-weight: bold;
}


/* socialArea */

.socialArea {
	float: left;
	padding: 15px 40px 0 50px;
}

.socialArea h2 {
	float: left;
	margin-right: 20px;
	color: #0f218b;
	font-size: 16px;
	font-weight: bold;
}

.socialArea ul {
	float: left;
}

.socialArea li {
	float: left;
	margin-right: 10px;
}


/* slideBanner */

.slideBanner {
	position: relative;
	padding: 0 32px;
	margin-bottom: 30px;
}

.slideBanner .slider {
	overflow: hidden;
}

.slideBanner .slider ul {
	position: relative;
	white-space: nowrap;
}

.slideBanner .slider li {
	display: inline-block;
	vertical-align: top;
	width: 278px;
	margin-right: 5px;
}

.slideBanner .leftBtn {
	position: absolute;
	top: 34px;
	left: 0;
	margin: auto 0;
	cursor: pointer;
}

.slideBanner .rightBtn {
	position: absolute;
	top: 34px;
	right: 0;
	margin: auto 0;
	cursor: pointer;
}


/* btmNote */

.btmNote {
	color: #a1a1a1;
	font-size: 12px;
	line-height: 1.8;
}


.contentsInner .newsArea .link img{
	margin-left:5px;
	vertical-align:middle;
width: 20px;
height: 15px;
}
