﻿body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
	}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
	}
audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	}
body,button,input,select,textarea{
	font:12px/1.5 tahoma,arial,\5b8b\4f53;
	}
input,select,textarea{
	font-size:100%;
	}
table{
	border-collapse:collapse;
	border-spacing:0;
	}
th{
	text-align:inherit;
	}
fieldset,img{
	border:0;
	}
img{
	vertical-align: bottom;
	}	
iframe{
	display:block;
	}
ol,ul {
	list-style:none;
	}
caption,th {
	text-align:left;
	}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500;
	}
em, i{
	font-style: normal;
	}	
a{
	color: #333;
	}	
a:hover {
	color: #bb4046;
	text-decoration:underline;
	}
a:focus{outline:0}	
ins,a {
	text-decoration:none;
	}
.clearfix{ 
	*zoom:1;
	}
.clearfix:before,	
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	}
.clearfix:after{
	clear: both;	
	}	
.link:hover{
	text-decoration: underline!important; 
	}	
.ellipsis{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	}
.cursor{
	cursor: pointer;
	} 	
.arry{
	display: inline-block;
	width: 0;
	height: 0;
	border-style: dashed dashed dashed solid;
	border-width: 4px;
	border-color: transparent transparent transparent #b6262f;
	overflow: hidden;
	}	
.icon{
	display: inline-block; 
	position:relative;
	overflow: hidden;
	background: url(../images/icon/icon.png) no-repeat;
	}	
.bn{
	border: none!important;
	}
.borderT369{
	border-top: 2px solid #369;
	}
.borderTred{
	border-top: 2px solid #b6262f;
	}		
.borderTnone{
	border: 1px solid #ddd;
	border-top: 0;
	}
.borderTred .borderTnone .h3,	
.borderT369 .borderTnone .h3{
	border: 0!important;
	} 		
.hide{
	display: none;
	}
.block{
	display: block!important;
	}				
.fl{
	float: left;	
	}
.fr{
	float: right;	
	}		
.tc{
	text-align: center;
	}
.tl{
	text-align: left;
	}
.tr{
	text-align: right;
	}	
.lightBlueBg{
	background: #f8fcff;
	}
.blueBtn{
	display: inline-block!important;
	padding: 0 8px;
	height: 18px;
	line-height: 18px;
	color: #fff;
	background: #81b6ec;
	border-radius: 2px;
	}
.blueBtn:hover{
	color: #fff;
	text-decoration: none;
	background: #fe9c6d;
	}
.iconTxt-r,
.iconTxt-g{
	background:#dd323d;
	color: #fff;
	padding: 1px 2px;
	margin-left: 5px;
	font-size: 12px;
	}
.iconTxt-g{
	background:#eee;
	color: #999;
	}				
/*-----color-----*/				
.gray{
	color: gray;
	}
.gray-c{
	color: #ccc;
	}
.gray-3{
	color: #333;
	}
.gray-5{
	color: #555;
	}	
.gray-6{
	color: #666;
	}
.gray-8{
	color: #888 !important;
	}	
.gray-9{
	color: #999 !important;
	}		
.red{
	color: #b6262f;
	}
.gred{
	color:#e53b3b
	}	
.blue{
	color: #369 !important;
	}
.blue-1{
	color:#749ED9 !important
	}
.bgf1{
	background: #f1f1f1!important;
	}	
.bgf5{
	background: #f5f5f5!important;
	}	
.bgf8{
	background: #f8f8f8!important;
	}
.bgf9{
	background: #f9f9f9!important;
	}	
.bgfa{
	background: #fafafa!important;
	}
.bgeee{
	background: #eee !important;
	}	
.bgBlue{
	background: #369!important;
	color: #fff;
	}
.bgB{
	background: #f5faff;
	}	
.bgf{
	background: #fff!important;
	}			
/*-----fontSize-----*/		
.YaHei{
	font-family: 'Microsoft YaHei';
	}
.SimSun{
	font-family:'Tahoma','simsun'!important;
	}
.fbold{
	font-weight:bold;
	}	
.fz12{
	font-size: 12px !important;
	}		
.fz14{
	font-size: 14px !important;
	}	
.fz16{
	font-size: 16px !important;
	}
.fz18{
	font-size: 18px !important;
	}
.fz20{
	font-size: 20px !important;
	}	
.lh22, .lh22 p{
	line-height: 22px;
	}
/*-----border-----*/	
.bt0{border-top:0 !important}
.bb0{border-bottom:0 !important}	
/*-----pddding-----*/	
.pt0{
	padding-top: 0!important;
	}
.pl0{
	padding-left: 0!important;
	}
.pr0{
	padding-right: 0!important;
	}
.pr10{
	padding-right: 10px!important;
	}	
.pr30{
	padding-right: 30px;
	}		
.pb0{
	padding-bottom: 0!important;
	}			
.pt5{
	padding-top: 5px!important;
	}
.pt10{
	padding-top: 10px;
	}					
.pb5{
	padding-bottom: 5px;
	}
.pb10{
	padding-bottom: 10px;
	}
.pd10{
	padding: 10px;
	}
.pd15{
	padding: 15px;
	}	
.pd20{
	padding: 20px;
	}
.pl20{
	padding-left:20px;
	}	
.pl10{
	padding-left: 10px!important;
	}	
.plr10{
	padding: 0 10px!important;
	}	
.ptb25{
	padding: 25px 0!important;
	}	

/*-----margin-----*/
.m0{margin:0!important;}
.mt0{
	margin-top: 0!important;
	}
.mr0{
	margin-right: 0!important;
	}	
.mt5{
	margin-top: 5px;
	}			
.mt10{
	margin-top: 10px;
	}
.mt13{
	margin-top: 13px;
	}	
.mt15{
	margin-top: 15px;
	}
.mt17{
	margin-top: 17px!important;
	}	
.mt20{
	margin-top: 20px;
	}
.mt25{
	margin-top: 25px;
	}	
.mt30{
	margin-top: 30px;
	}			
.mb5{
	margin-bottom: 5px;
	}			
.mb10{
	margin-bottom: 10px;
	}
.mb15{
	margin-bottom: 15px;
	}	
.mb20{
	margin-bottom: 20px;
	}
.mb25{
	margin-bottom: 25px;
	}	
.mb30{
	margin-bottom: 30px;
	}
.ml5{
	margin-left: 5px;
	}	
.ml10{
	margin-left: 1px;
	}	
.ml15{
	margin-left: 15px;
	}	
.ml20{
	margin-left: 20px;
	}
.ml25{
	margin-left: 25px;
	}
.mr10{
	margin-right: 10px;
	}				
.mr15{
	margin-right: 15px;
	}
.mr20{
	margin-right: 20px;
	}	
.mr25{
	margin-right: 25px;
	}	
.mtb10{
	margin: 10px 0;
	}
.mtb15{
	margin: 15px 0;
	}
.mtb20{
	margin: 20px 0;
	}
.mtb25{
	margin: 25px 0;
	}
.mlr10{
	margin: 0 10px;
	}
.mlr5{
	margin: 0 5px;
	}	
/*-----width-----*/	
.w60{
	width: 60px!important;
	}
.w80{
	width: 80px!important;
	}
.w90{
	width: 90px!important;
	}	
.w100{
	width: 100px;
	}	
.w110{
	width: 110px;
	}			
.w120{
	width: 120px;
	}
.w130{
	width: 130px;
	}	
.w140{
	width: 140px;
	}		
.w150{
	width: 150px;
	}	
.w160{
	width: 160px !important;
	}
.w165{
	width: 165px;
	}	
.w170{
	width: 170px;
	}
.w180{
	width: 180px;
	}
.w190{
	width: 190px;
	}		
.w200{
	width: 200px;
	}				
.w220{
	width: 220px;
	}
.w230{
	width: 230px;
	}
.w240{
	width: 240px;
	}	
.w250{
	width: 250px;
	}
.w260{
	width: 260px;
	}		
.w290{
	width: 290px;
	}
.w295{
	width: 295px;
	}
.w300{
	width: 300px;
	}			
.w360{
	width: 360px;
	}
.w370{
	width: 370px;
	}				
.w380{
	width: 380px;
	}
.w385{
	width: 385px;
	}
.w400{
	width: 400px;
	}	
.w430{
	width: 430px;
	}
.w450{
	width: 450px;
	}
.w460{
	width: 460px;
	}
.w480{
	width: 480px;
	}
.w490{
	width: 490px;
	}
.w500{
	width: 500px;
	}	
.w510{
	width: 510px;
	}	
.w520{
	width: 520px;
	}
.w530{
	width: 530px;
	}
.w540{
	width: 540px;
	}		
.w550{
	width: 550px;
	}
.w560{
	width: 560px;
	}					
.w570{
	width: 570px;
	}
.w590{
	width: 590px;
	}	
.w650{
	width: 650px;
	}		
.w660{
	width: 660px;
	}	
.w670{
	width: 670px;
	}								
.w680{
	width: 680px;
	}
.w690{
	width: 690px;
	}
.w700{
	width: 700px;
	}									

@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nu:before { content: "\f0122"; }
.icon-chijing:before { content: "\f011c"; }
.icon-dai:before { content: "\f011d"; }
.icon-ganga:before { content: "\f0120"; }
.icon-jingdai:before { content: "\f0128"; }
.icon-yun:before { content: "\f0129"; }
.icon-shengqi:before { content: "\f0124"; }


