body{background-color:#ffffff;}
/*------------------------------框架模块------------------------------*/
/* slide */
.slide, .slide li {
	width:670px;
	height:300px;
	background-color:#333333;
}
.slide {
	overflow:hidden;
	border:1px #ededed solid;
	position:relative;
}
.slide li {
	position:absolute;
	overflow:hidden;
	display:none;
}
.slide li.current {
	display:block;
}
.slide li .image {
	position:absolute;
	top:-2px;
	left:-2px;
}
.slide li .text {
	bottom:0;
	overflow:hidden;
	background-color:rgba(0, 0, 0, 0.6);
	width:148px;
	float:right;
	position:relative;
	height:auto;
	background:0;
	filter:none;
	text-indent:0;
	margin:15px 10px 0 0;
	padding:6px 0;
}
.slide li .text a {
	color:#fff;
	font-size:14px;
	line-height:17px;
	float:left;
}
.slide li img {
	width:480px;
	height:300px;
}
.slide li .text .title a {
	font-size:16px;
	font-weight:700;
	color:#fff;
	font-family:"微软雅黑", "宋体";
	line-height:26px;
	text-indent:0;
	float:none;
	padding-bottom:25px;
	display:inline-block;
}
.slide li .text p {
	color:#888;
	font-size:12px;
	text-indent:0;
	clear:both;
	line-height:20px;
	margin-top:4px;
}
.slide .triggers {
	position:absolute;
	z-index:1;
	width:400px;
	text-align:center;
	bottom:10px;
	height:38px;
	right:0;
	left:0;
	padding:0 0 8px;
}
.slide .triggers a {
	font-size:11px;
	line-height:12px;
	color:#000;
	overflow:hidden;
	border-radius:1px;
	-webkit-text-size-adjust:none;
	float:none;
	width:62px;
	height:42px;
	text-align:center;
	display:inline-block;
	background:0;
	margin:0 3px 0 0;
}
.slide .triggers a:hover {
	text-decoration:none;
}
.slide .triggers a img {
	width:58px;
	height:38px;
	border:1px #999 solid;
	vertical-align:middle;
	opacity:.6;
}
.slide .triggers a.current img {
	border:2px #2fac00 solid;
	opacity:1;
}
.slide .icon-dot {
	display:inline-block;
	position:absolute;
	bottom:20px;
	right:43px;
}
.slide .icon-dot a {
	width:9px;
	height:9px;
	display:inline-block;
	background-image:url(../images/icon/nav.png);
	background-repeat:no-repeat;
	background-position:-1px -1px;
	overflow:hidden;
	margin:0 2px;
}
.slide .icon-dot a.current {
	background-position:-1px -12px;
}
.slide .link-watch {
	width:30px;
	height:44px;
	display:none;
	position:absolute;
	top:110px;
	background:url(../images/icon/arrow.png) no-repeat 0 -57px;
	filter:alpha(opacity=60);
	cursor:pointer;
}
.slide .link-watch.pre {
	left:0;
}
.slide .link-watch.next {
	left:368px;
	right:0;
	background-position:right -57px;
}
.slide .link-watch.down {
	background-position-y:-2px;
}
/*.bgbox{
box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
border: 1px solid #dfdfdd;
margin-bottom: 20px;
background-color: #fff;
margin:0 auto;
padding:9px;
}
.bgbox2{
box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
border: 1px solid #dfdfdd;
margin-bottom: 20px;
background-color: #fff;
margin:10px auto !important;
padding:9px;
}
*/
.main {
	width:1000px;
	margin: 0 auto;
	position: relative;
}
#footer {
	background: #fafafa;
	padding: 20px 0;
	margin-top: 35px;
}
#footer p {
	text-align: center;
	color: #555;
	line-height: 24px;
}
#footer p a {
	color: #555;
	margin: 0 4px;
}
.titleMain {
	line-height: 34px;
}
.titleMain .txt {
	float: left;
	font-size: 16px;
	font-family: 'Microsoft YaHei';
 font
}
.titleMain .more {
	float: right;
	background:#fff;
	color: #777;
	margin-right: 0;
	margin-bottom: 0;
}
.titleNavBar a:hover, .titleMain .more:hover, #footer p a:hover, .imgListLayout li a:hover p, .imgListLayout-b li a:hover p {
	color: #d81517;
}
.titleMain .moreLinkBox a {
	border: 1px solid #ddd;
	border-top:0;
	display: inline-block;
	padding: 0 5px;
}
.titleMain .moreLinkBox a.more {
	padding: 4px 8px;
	border-left: 0;
	float: none;
}
.titleMain .moreLinkBox a:hover {
	background: #6ab0f6;
	color: #fff;
	text-decoration: none;
}
.titleNavBar {
	color: #ccc;
}
.titleNavBar a {
	margin: 0 8px;
	color: #999;
}
.txtListBar li {
	position:relative;
	line-height: 28px;
	height: 28px;
	padding-left: 16px;
	font-size:14px;
	overflow: hidden;
}
.txtListBar i {
	display: block;
	position: absolute;
	overflow: hidden;
	top: 12px;
	left: 5px;
	width: 4px;
	height: 4px;
	background: #555;
}
.txtListBar-b li {
	font-size: 14px;
	line-height: 28px;
	height: 28px;
}
.txtListBar-b li.one a {
	font-weight: bold;
}
.txtListBar-c li.one {
	font-size: 14px;
	font-weight: bold;
	padding-left: 0;
	margin-bottom: 5px;
}
.imgBar .t {
	width: 100%;
	position:absolute;
	height: 30px;
	line-height: 30px;
	color: #fff;
	bottom: 0;
	left: 0;
	text-align: center;
	overflow: hidden;
	background: url(../images/icon/blackBg.png) repeat;
}
.imgBar a:hover .t {
	text-decoration: underline;
}
.imgBar-a p.t {
	height: 34px;
	line-height: 34px;
	overflow: hidden;
	text-align:center;
	background: #f5f5f5;
}
.imgBatList .imgBar {
	float:left;
}
.tabTitleBar .blueTitleMain {
	border-top: 1px solid #eee;
	position:relative;
}
.tabTitleBar-blue .titleMain {
	border-top: 0!important;
	border-bottom: 1px solid #eee;
}
.tabTitleBar .titleMain {
	border-top: 1px solid #ddd;
}
.tabTitleBar .titleMain .txt {
	position:relative;
	font-size:18px;
	font-family: 'Microsoft YaHei';
	top: -1px;/**background:#369;
	color:#fff;**/
	}
.columnPageC h3, .tabTitleBar .titleMain .blue {
	border-top: 3px solid #369;
}
.columnTxtRecom .titleMain .txt {
	padding: 5px 15px 0;
}
.tabTitleBar .tabred {
	border-top: 3px solid #b6262f;
	border-right: 1px solid #ddd;
}
.tabTitleBar .tabred .txt {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-top:none;
	width:124px;
	text-align:center;
}
.tabTitleBar .tabred .cur {
	background:#fff;
	border-bottom:none;
	border-right:0;
}
.tabTitleBar .titleMain .red {
	border-top: 3px solid #b6262f;
}
.titleMain-a {
	border-bottom: 1px solid #ddd;
}
.titleMain-a .btBlue {
	position: relative;
	top: 1px;
	padding: 0 0 4px;
	border-bottom: 2px solid #369;
}
.titleMain-b .txt {
	float: none;
	display: block;
	font-size: 18px;
 *zoom:1;
}
.tabTitleBar h4 {
	padding:10px 15px;
	font-size:18px;
}
.tabTitleBar .titleMain .more {
	line-height: 34px;
	padding-right:5px;
}
.imgBar, .tabSlideBar, .topicsImgTxtBar .imgTxtBar {
	position: relative;
}
.tabSlideBar .tabState {
	width: 88px;
	height: 2px;
	overflow: hidden;
	background: #b6262f;
	position: absolute;
	top: 0;
	z-index: 2;
}
.tabTitleBar-blue .tabState {
	width: 80px;
	top: 37px;
	height: 3px;
	background: #369;
}
.tabSlideBar .titleMain {
/**border-top:3px solid #B6262F;**/
	}
.tabSlideBar .titleMain .txt {
	padding: 3px 12px;
	font-size: 16px;
	cursor: pointer;
	top:0;
	background:#f9f9f9;
}
.tabSlideBar .titleMain .oneTxt {
	padding: 5px 24px 5px 0;
}
.tabTitleBar-blue .titleMain .txt {
	width: 56px;
	text-align: center;
}
.tabSlideBar .titleMain .cur {
	color: #B6262F;
	background:#fff;
}
.tabTitleBar-blue .titleMain .cur {
	color: #369;
}
.tabSlideBar .titleMain .txt em {
	position: absolute;
 *top: 5px;
	right: -1px;
	font-size: 12px;
	color: #ccc;
}
.listsHbar {
	height: 45px;
	border:1px solid #ddd;
	background:#fafafa
}
.listsHbar li {
	float: left;
	text-align: center;
	border-right: 1px solid #DDD;
	height: 45px;
	line-height: 45px;
	font-weight:600;
}
.listsHbar li.cur {
	padding-top: 1px;
	background:#fff;
	border-bottom: 0;
}
.listsHbar li a {
	font-size: 16px;
	display: inline-block;
	padding: 0 25px;
	font-family: 'Microsoft YaHei';
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}
.listsHbar li a:hover {
	text-decoration:none;
}
.listsHbar li.cur a {
	color: #468bcf;
	text-decoration:none;
}
.listsTabBar .newsListBox .txtListBar {
	display: none;
	position: absolute;
}
.tabSlideBar .newsListBar, .tabSlideBar .newsRankList {
	display: none;
}
.tabSlideBar ul.current, .listsTabBar .newsListBox .current, .tabSlideBar .current, .imgBar a, .imgTxtBar a, .imagTxtBar-a a {
	display: block;
}
.sideImgTxtBar .imgTxtBar p {
	height:auto;
	line-height:22px
}
.sideImgTxtBar h4 {
	font-size:14px;
	line-height:18px;
	padding:15px 0;
}
.sideImgTxtBar .colleRss {
	background: #3CB23F;
	color: #FFF;
	font-size:12px;
	display:inline-block;
	padding:0 2px;
}
.sideImgTxtBar h5.t {
	margin: 0 0 13px;
	font-weight: bold;
	width: 100%;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
}
.imgTxtBar .txtBox {
	padding: 10px 15px;
	background: #f8f8f8;
}
.imgTxtBar-c a {
	display: block;
	/**margin-bottom: 15px;**/
	background:#eee;
}
.imgTxtBar-c .txtBox .txt {
	height: 60px;
	width: 100%;
	overflow: hidden;
}
.imgTxtBar-c a p {
	overflow:hidden;
	font-size:13px;
	font-family:"Microsoft YaHei";
	margin:8px 6px;
	height:38px;
	overflow:hidden;
}
.imgTxtBar-c a:hover {
	background: #f90;
	color:#fff;
}
.imagTxtBar-a .txt, .imgTxtBar .txt {
	height: 60px;
	overflow: hidden;
	line-height: 20px;
}
.imgTxtBar .txt {
	color:#8c8c8c;
	line-height:22px;
}
.imgBar-a a:hover, .imgTxtBar a:hover, .imagTxtBar-a a:hover, .imgTxtBar-d a:hover, .imgListLayout li a:hover, .editShare li .one:hover, .topicsModule a:hover {
	text-decoration: none;
}
.imgTxtBar-b a.cursor {
	display: block;
	margin-top: 10px;
}
.imgTxtBar-b .txtBox {
	/***position: relative;****/
	background: none;
	padding:0 0 0 10px
}
.imagTxtBar-a a {
	padding:15px 0;
	border-bottom:1px solid #ddd;
}
.imagTxtBar-a .txt {
	height: 90px;
}
.imagTxtBar-a .txt h5 {
	height:22px;
	line-height:22px;
	font-size:16px;
	font-family:'Microsoft YaHei';
	padding-bottom:10px;
}
.imagTxtBar-a .txt h5 span {
	display:inline-block;
	margin-right:10px;
	background:#558DC3;
	color:#fff;
	padding:0 3px;
}
.imgTxtBar-b .txtBox .txt {
	height: 80px;
}
.imgTxtBar-b .txtBox h5 {
	padding: 6px 0;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
}
.imgTxtBar-b .txt p {
	line-height: 22px;
}
.imgTxtBar-b .txt .scanIcon, .imgTxtBar-b .txt .replyIcon {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	color: #999 !important;
 *margin-top: 3px;
}
.imgTxtBar-b .txt .replyIcon, .imgTxtBar-b .txt .scanIcon i, .imgTxtBar-b .txt .replyIcon i {
	top: 3px;
 *top: 0;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	background-position: -122px -50px;
}
.imgTxtBar-b .txt .replyIcon, .imgTxtBar-b .txt .replyIcon i {
	background-position: -122px -68px;
}
.imgTxtBar-b .txt .replyIcon {
	width: 90%;
	margin-left: 0;
}
.imgTxtBar-d a.cursor {
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}
.imgTxtBar-d .txt p {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	margin: 3px 0 6px;
}
.imgTxtBar .playIcon {
	position: absolute;
	width: 19px;
	height: 19px;
	background-position: -80px -25px;
	bottom: 8px;
	left: 8px;
}
.imagTxtBar-a img {
	padding: 2px;
	border: 1px solid #ddd;
}
.webRankBar {
	padding: 0 12px;
}
.newsRankList {
	padding:8px 0px;
}
.newsRankList li {
	width: 100%;
	height: 24px;
	overflow: hidden;
	font-size:14px;
	padding:6px 0;
}
.newsRankList li a {
	float: left;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 268px;
}
.newsRankList-in {
	padding:0 10px 10px 10px;
}
.newsRankList-in li a {
	width: 248px;
	color:#595959;
}
.newsRankList-in li a:hover {
	color:#bb4046
}
.newsRankList li em {
	color: #999999;
	height: 20px;
	float: left;
	font-size:20px;
	font-style:italic;
	font-family:"georgia", "STHeiti", "Microsoft YaHei", "simsun", "sans-serif", Arial;
	line-height: 15px;
	margin: 3px 10px 0 0;
	_margin-top: 0px;
	overflow: hidden;
	text-align: center;
	width: 20px;
}
.newsRankList li.top em {
	color: #b6262f;
}
.newsRankListA {
	padding: 0 12px 0 7px;
}
.newsRankListA li a {
	font-size: 14px;
}
.newsRankListA li em {
	color: #b6262f;
	background: none;
	font-size: 16px;
	font-style: italic;
}
.newsTxtBar .newsListBox {
	border-bottom: 0;
}
.imgTxtBar .w130, .imgTxtBar .w140, .imgTxtBar .w150, .listsTabBar {
	position: relative;
}
.listsTabNav {
	position: absolute;
	top: -33px;
	left: 100px;
}
.listsTabNav li {
	float: left;
	border-top: 2px solid #fff;
}
.listsTabNav li.current {
	border-top-color: #369;
}
.listsTabNav a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	/**color: #888;**/
	color:#333;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.listsTabNav a:hover {
	text-decoration: none;
}
.listsTabNav li.current a {
	color: #369;
	font-weight: bold;
	border-left-color: #eee;
	border-right-color: #eee;
	border-bottom:1px solid #fff;
}
.listsTabBar-b .listsTabNav {
	position:relative;
	top: 0;
	left: 0;
	/**border-top: 2px solid #369;
	background: #f8f8f8;**/
	background:#eee;
}
.listsTabBar-b .listsTabNav li {
	border-top: 0;
}
.listsTabBar-b .listsTabNav li a {
	font-size: 14px;
	padding: 0 16px;
	border: 0;
	height: 34px;
	line-height: 34px;
}
.listsTabBar-b .listsTabNav li.current a {
	font-weight: 500;
	background: #369;
	color: #fff;
}
.listsTabBar-b .newsListBox {
	padding: 15px 0 8px;
}
.listsTabBar-b .txtListBar-b li {
	width: 360px;
	height: 28px;
	overflow: hidden;
}
.aloneNewsTxtBar .newsTxtBar {
	height: 275px;
	border: 1px solid #ddd;
	border-top: 0;
}
.aloneNewsTxtBar .listsTabBar-b .newsListBox {
	padding: 15px 15px 8px;
}
.aloneNewsTxtBar .imgBar {
	margin-right: 15px;
}
.indexNavBar .box, .indexNavBar .box a {
	color: #5170a6;
}
.indexNavBar .box .icon {
	width: 14px;
	height: 12px;
	background-position: -100px -26px;
	margin: 0 3px 0 0;
	position: relative;
	top: 1px;
	_top: 0px;
}
.pageBar li {
	float:left;
	list-style:none;
}
.pageBar a, .pageBar strong {
	margin: 0 5px 15px 0;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	border:1px solid #eee;
	padding: 0 14px;
	color: #444;
	font-family: 'Microsoft YaHei';
	font-size: 14px;
	background:#eee;
}
.pageBar a:hover, .pageBar a.cur, .pageBar a.now, .pageBar strong {
	text-decoration: none;
	background: #3971a9;
	color: #fff;
}
.radiusImg {
	position: relative;
	height: 66px;
	width: 66px;
}
.radiusImg .radiusBg {
	background: url(../images/icon/radiusBg.png) no-repeat;
	position:absolute;
	display: inline-block;
	top: 0;
	left: 0;
	width: 66px;
	height: 66px;
}
.radiusImgSmall {
	width: 55px;
	height: 55px;
}
.radiusImgSmall .radiusBg {
	width: 55px;
	height: 55px;
	background: url(../images/icon/radiusBgSmall.png) no-repeat;
}
.radiusImgList li {
	float: left;
	margin:4px 10px 8px;
	_margin:4px 8px 8px;
}
.radiusImgList li .radiusImg {
	margin-bottom: 3px;
}
.listImgTxtBar li {
	float: left;
	width: 120px;
	padding-right: 20px;
}
.listImgTxtBar li a {
	display: block;
	width: 120px;
	height: 125px;/**20141030调整高度**/
	overflow: hidden;
	background: #f3f3f3;
}
.listImgTxtBar li a:hover {
	background: #69b0f6;
	text-decoration: none;
	color: #fff;
}
.listImgTxtBar li a p {
	padding: 5px 10px;
}
.author .listImgTxtBar li {
	width:140px;
}
.author .listImgTxtBar li a {
	display: block;
	width: 140px;
	height: 135px;/**20141030调整高度**/
	overflow: hidden;
	background: #f3f3f3;
}
.author .listImgTxtBar li a:hover {
	background: #255c94;
	text-decoration: none;
	color: #fff;
}
.activeTxt {
	border: 1px solid #ddd;
	background: #fff;
	padding: 20px 50px;
	position:relative;
	margin-bottom: 10px;
}
.activeTxt p {
	margin-bottom:0!important;
}
.activeTxt .marks {
	font-size: 32px;
	color: #64a7e9;
	position: absolute;
	top: 3px;
	left: 5px;
	font-family: '宋体';
}
.txtListBar-d li {
	padding: 5px 0 5px 16px;
	border-bottom: 1px dashed #ddd;
}
.txtListBar-d a {
	font-size: 14px;
}
.txtListBar-d i {
	top: 17px;
}
.returnTop {
	position: fixed;
	_position:absolute;
	z-index: 2;
	bottom: 90px;
	_bottom: 10px;
	margin-left: 320px;
	display: none;
}
.returnTop .topIcon {
	display: block;
	width: 45px;
	height: 45px;
	background: #ccc;
	position: relative;
}
.returnTop .topIcon i {
	top: 17px;
	left: 15px;
	position: absolute;
	display: inline-block;
	width: 16px;
	height: 10px;
	background: url(../images/icon/icon.png) no-repeat -111px -89px;
}
.returnTop .topIcon:hover {
	background: #64a7e9;
}
.weixinBar {
	position: fixed;
	_position: absolute;
	top: 50%;
	width: 220px;
	background: #fff;
	border: 1px solid #ddd;
	padding: 15px;
	margin: -125px 0 0 -260px;
}
.weixinBar h3 {
	font-size: 14px;
	font-family: 'Microsoft YaHei';
}
.weixinBar .closeIcon, .dialogClose {
	width: 13px;
	height: 13px;
	cursor: pointer;
	text-indent: -9999px;
	display: inline-block;
	background: url(../images/icon/icon.png) no-repeat -94px -92px;
}
/*------------------------------弹框 Star------------------------------**/
.dialogBarLayout {
	position: fixed;
	_position:absolute;
	background: #fff;
	border: 1px solid #ddd;
	font-family: 'Microsoft YaHei';
	z-index: 99;
}
.dialogBarLayout input {
	font-family: 'Microsoft YaHei';
}
.dialogBarLayout .txt {
	float: left;
	display:inline-block;
	width: 250px;
	height: 18px;
	padding: 7px 10px;
	border: 1px solid #ddd;
}
.dialogHead {
	background: #eee;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding: 0 20px;
	position: relative;
}
.dialogHead .dialogClose {
	position:absolute;
	top: 12px;
	right: 15px;
}
.dialogMain {
	padding: 30px;
	font-size: 14px;
}
.formOne .box {
	margin-bottom: 10px;
	padding-left: 90px;
	position:relative;
}
.formOne .box .t {
	width: 90px;
	text-align: right;
	height: 34px;
	line-height: 34px;
	margin: 0 0 0 -90px;
}
.formOne .box .m {
	margin-right: 5px;
	position:relative;
}
.formOne .box textarea {
	border: 1px solid #ddd;
	padding: 15px;
	width: 500px;
	height: 230px;
	resize: none;
}
.box .dialogBtn {
	border: 0;
	background: #eee;
	font-size: 18px;
	height: 38px;
	line-height: 38px;
	padding: 0 30px;
	border-radius: 2px;
	cursor: pointer;
	margin: 0 10px 0 0;
}
.box .blueBtn {
	background: #58a4ed;
	color: #fff;
}
.dialogUserLogin .dialogHead {
	background: none;
	font-size: 16px;
	padding: 10px 40px 0;
}
.dialogUserLogin .dialogMain {
	padding: 0 40px 30px;
}
.dialogUserLogin .box {
	padding-left: 0;
}
.loginForm .txt {
	padding-left: 40px;
	width: 290px;
}
.loginForm .userTxt i, .loginForm .passwordTxt i {
	display:block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 10px;
	top: 7px;
	background: url(../images/icon/icon.png) no-repeat -68px -89px;
}
.loginForm .passwordTxt i {
	background-position: -44px -89px;
}
/*------------------------------弹框 End------------------------------**/

/*------------------------------页面元素------------------------------**/
#headMenu {
	position: relative;
	z-index: 3;
}
.toolBar {
	border-bottom: 1px solid #e8e8e8;
	background: #f8f8f8;
	position: relative;
 *z-index: 2;
}
.topNav {
	height: 34px;
	position: relative;/*z-index: 2;*/
	}
.navList li {
	float: left;
	position: relative;
	margin: 0 3px;
}
.navList li .one .icon {
	width: 7px;
	height: 5px;
	margin-left: 5px;
 *left: 3px;
 *top: -3px;
	_top: 7px;
	_margin: 9px 0 10px;
	background-position: -103px -40px;
	transform: rotate(0deg);
	transition-duration:0.3s;
	-o-transform: rotate(0deg);
	-o-transition-duration:0.3s;
}
.navList li .one a {
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #f8f8f8;
	padding: 0 8px;
	text-decoration: none;
}
.navList li .two {
	position:absolute;
	top: 35px;
	_top: 34px;
	background: #fff;
	border: 1px solid #ddd;
	border-top: 0;
	display: none;
	padding-bottom: 5px;
	z-index: 22;
	min-width:76px;
}
.navList li .two a {
	display: block;
	padding: 0 8px;
	margin: 5px 0;
	color: #666;
	white-space: nowrap;
}
.navList li.hover .one a {
	background: #fff;
	border-color: #ddd;
	border-bottom: 1px solid #fff;
	_border-bottom: 0;
}
.navList li.hover .one .icon {
	transform: rotate(180deg);
	transition-duration:0.3s;
	-o-transform: rotate(180deg);
	-o-transition-duration:0.3s;
}
.navList li.hover .two {
	display: block;
}
.navList li .one a, .navUser a {
	display: inline-block;
	height: 34px;
	line-height: 34px;
	color: #555;
}
.navList li.watch {
	padding-left: 20px;
	_padding-left: 17px;
}
.navList li.watch .icon {
	position: absolute;
	top: 10px;
 +top: 8px;
	_top: 1px;
	left: 0;
	width:18px;
	height: 14px;
	background-position: -129px 0;
}
.topNav a:hover, .topNav li a:hover {
	color: #d81517;
}
.logo {
	float: left;
	/**padding: 6px 20px 7px 10px;**/
	/**padding:0 10px 0 0;**/
}
.sideAdList {
	width: 303px;
	height: 58px;
	overflow: hidden;
	border: 1px solid #b0d7ff;
	
}
.sideAdList{background: url(../images/agg.gif) right bottom no-repeat #fff; padding-right: 6px;}
.sideAdList li {
	position:relative;
	float: left;
	width: 135px;
	padding: 0 3px 0 9px;
	_padding:0 0 0 9px;
	list-style: none;
	display:inline-block;
}
.sideAdList li i {
	display: block;
	position: absolute;
	left: 4px;
	top: 10px;
	width: 2px;
	height: 2px;
	overflow: hidden;
	background: #333;
}
.sideAdList li.red i {
	background: red;
}
.sideAdList li.blue i {
	background: blue;
}
.sideAdList li.dBlue i {
	background: 1c3d72;
}
.sideAdList li a {
	color: #333;
	position:relative;
	/*width: 135px;*/
	width:138px;
	display: block;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	white-space: nowrap;
	/*text-overflow: ellipsis;*/
}
.sideAdList li a.red {
	color: red;
}
.sideAdList li a.blue {
	color: blue;
}
.sideAdList li a.dBlue {
	color: #1c3d72
}
.menuBox {
	margin-bottom: 10px;
}
.menuBox ul {
	background: #2b6bab;
}
.menuBox .main_navi li {
	float: left;
}
.menuBox .main_navi li a {
	position: relative;
	display: inline-block;
	padding: 0 28px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	font-family: 'Microsoft YaHei';
}
.menuBox .main_navi li a i {
	position:absolute;
	top: 11px;
	right: 0px;
	display: block;
	height: 18px;
	width: 0;
	overflow: hidden;
	border-left: 1px solid #2c5d8f;
	border-right: 1px solid #3076bb;
}
.menuBox .main_navi li.current a, .menuBox .main_navi li a:hover {
	color: #fff;
	text-decoration: none;
	background: #255c94;
}
.menuBox .main_navi li a:hover i, .menuBox .main_navi li.current a i {
	border-color: #255c94;
}
.sub_navi {
	background:#255c94;
}
.sub_navi ul {
	line-height:32px;
	padding:0 20px;
}
.sub_navi ul li {
	float:left;
	height: 32px;
	white-space: nowrap;
	padding: 0 10px;
}
.sub_navi ul li a {
	padding-right:15px;
	color:#fff;
	line-height: 32px;
	background: none;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
}
.txtAdBox .sideAdList {
	width: 998px;
	padding: 4px 0;
	height: auto;
}
.txtAdBox .sideAdList li {
	width: 229px;
	padding: 0 5px 0 15px;
}
.txtAdBox .sideAdList li a {
	margin: 2px 0;
	width: 225px;
}
.txtAdBox .sideAdList li i {
	top: 12px;
	left: 7px;
}
.txtAdBox-a .sideAdList {
	border-color: #ddd;
}
.txtAdBox-a .sideAdList li {
	width: 307px;
}
.txtAdBox-a .sideAdList li .ellipsis {
	display:block;
	width: 295px;
}
.txtAdBox-a .sideAdList li .ellipsis a {
	width: auto;
	_width: 295px;
	display: inline-block;
}
.sBarTopNews .titleMain {
	position: relative;
	border-bottom: 1px solid #ddd;
}
.sBarTopNews .titleMain .txt {
	position: relative;
	font-size: 16px;
	color: #fff;
	background: #b6262f;
	padding: 0 13px;
	top: 1px;
}
.sBarNews .list {
	border-bottom: 1px solid #ddd;/***20141030修正颜色****/
	padding-bottom: 21px;/***20141030修正高度****/
}
.sBarNews .list li a {
 *cursor: pointer;
}
.sBarNews .list li h4 {
	color: #b6262f;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 18px;
	margin: 15px 0 6px 0;
 *display: inline;
 *zoom:1;
	font-family: 'Microsoft YaHei'
}
.sBarNews .list li p {
	width: 100%;
	color: #666;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
}
.sBarNews .list li a:hover {
	text-decoration: none;
}
.sBarNews .list li a:hover h4 {
	text-decoration: underline;
}
.DayNews {
	padding:15px 0 0 0;
}
.DayNewsleft {
	margin-top:5px;
}
.DayNewsright {
}
.DayNews .imgLlist li {
	float: left;
	padding: 10px 0;
	display:inline-block;
	width: 250px;
}
.DayNews .imgLlist li a {
	display: block;
	width: 250px;
	height: 235px;
	overflow: hidden;
	background: #f1f1f1;
}
.DayNews .imgLlist li a:hover {
	background: #f90;
	text-decoration: none;
	color: #fff;
}
.DayNews .imgLlist li p {
	font-size:15px;
	font-family:"Microsoft YaHei";
	height: 48px;
	line-height: 24px;
	padding:8px;
}
.DayNewsright .Rlist li {
	border-bottom:1px dotted #ddd;
	padding:8px 0 10px 0;
}
.DayNewsright .Rlist li a {
 *cursor: pointer;
}
.DayNewsright .Rlist li h4 {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 17px;
	margin: 0 0 6px 0;
 *display: inline;
 *zoom:1;
	font-family: 'Microsoft YaHei';
}
.DayNewsright .Rlist li p {
	width: 100%;
	color: #666;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
}
.DayNewsright .Rlist li a:hover {
	text-decoration: none;
}
.DayNewsright .Rlist li a:hover h4 {
	text-decoration: underline;
}
/**.productlinks-item {
position: relative;
z-index: 1;
line-height: 25px;
background: #F7F7F7;
border:1px solid #DDDDDD;
}

.productlinks-item-fl{
float:left;
font-size:16px;
text-align:center;
width:30px;
position: absolute;
z-index: 2;
left: 0;
top: 50%;
margin-top: -25px;
overflow: hidden;
}
.productlinks-item-fr{
background: #fff;
float:right;
padding:10px;
width:245px;
border-left:1px solid #ddd;
}
.productlinks-item-fr a {
padding: 0 6px 0 0;
white-space: nowrap;
}
.productlinks {
width: 298px;
height: 220px;
}
**/

#product-box {
	border:1px solid #D2E1F1;
}
.productlinks-item {
	overflow: hidden;
	position: relative;
}
.productlinks-item-fl {
	width: 14px;
	text-align: center;
	font-size: 14px;
	color: #777;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	font-weight: bold;
	background: #F5F8FC;
	padding: 0 8px;
	height: 100%;
	float: left;
	padding-bottom: 1000px;
	margin-bottom: -1000px;
	margin-left: 0;
	overflow: hidden;
}
.productlinks-item-fl a, .productlinks-item-fr a {
	color:#294C7F;
}
.productlinks-item-fl em {
	display: block;
	line-height: 20px;
	width: 20px;
	height: 40px;
	display: block;
	position: absolute;
	left: 5px;
	_left: -25px;
	top: 50%;
	_top: 30px;
	margin-top: -20px;
}
.productlinks-item-fr {
	padding: 9px 10px 9px 45px;
	line-height:26px;
	width:243px;
}
.productlinks-item-fr a {
	padding: 0 6px 0 0;
	display:inline-block;
	white-space: nowrap;
}
.online {
	padding-left: 30px;
	background: #fff;
	font-size: 1px;
	height: 1px;
	overflow: hidden;
}
.online span {
	background: url(../images/icon/line.jpg) repeat-x;
	font-size: 1px;
	height: 1px;
	overflow: hidden;
	display: block;
}
.noticTipTxt {
	margin-top:2px;
	color:#ff7300;
	height:24px;
	line-height:24px;
	overflow:hidden;
}
.noticTipTxt li {
	height:24px;
	line-height:24px;
}
.noticTipTxt a {
	height: 24px;
	line-height:24px;
	vertical-align:top;
}
.noticTipTxt a:hover {
	text-decoration:underline;
}
.jumpLink {
/**padding-left: 12px;***20141030修正填充**/
margin-right:30px;
	}
.jumpLink a {
	position: relative;
	display: inline-block;
	width: 30px;
	padding: 4px 4px 4px 30px;
	color: #777;/****20141030修正颜色****/
}
.jumpLink a .icon {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 7px;
	top: 3px;
}
.jumpLink a .i-2 {
	background-position: -20px 0;
}
.jumpLink a .i-3 {
	background-position: -40px 0;
	top: 2px;
}
.jumpLink a .i-4 {
	background-position: -60px 0;
}
.jumpLink a:hover {
	color: #fff;
	text-decoration: none;
	background: #3484d3;
}
.jumpLink a:hover .i-1 {
	background-position: 0 -25px;
}
.jumpLink a:hover .i-2 {
	background-position: -20px -25px;
}
.jumpLink a:hover .i-3 {
	background-position: -40px -25px;
}
.jumpLink a:hover .i-4 {
	background-position: -60px -25px;
}
.searchBox {
	position: relative;
}
.searchBox .text {
	height: 18px;
	padding: 4px 33px 4px 10px;
	width: 255px;
	border: 1px solid #ccc;
}
.searchBox .submitBtn {
	display: block;
	border: 0;
	cursor: pointer;
	width: 17px;
	height: 18px;
	background: url(../images/icon/icon.png) no-repeat -81px 0;
	position: absolute;
	right:12px;
	top: 4px;
 *top: 5px;
}
/***.slideImgBox{
	width: 670px;
	height: 300px;
	overflow: hidden;
	position: relative;
	}
.slideImgBox .listBox{
	width: 99999px;
	position: absolute; 
	}	
.slideImgBox .indexNub{
	position: absolute;
	bottom: 10px;
	right: 47px;
	z-index: 2;
	}
.slideImgBox .indexNub span{
	display: inline-block;
	position: relative;
	top: -3px;
	_top: 2px;
	*float: left;
	width: 14px;
	_width: 13px;
	height: 13px;
	text-indent: -9999px;
	margin-right: 5px;
	cursor: pointer;
	background: url(../images/icon/icon.png) no-repeat -100px -3px;
	_background-position: -100px -2px;
	}
.slideImgBox .indexNub .current{
	background-position: -114px -3px;
	_background-position: -114px -2px;
	}			
.slideImgBox .listBox li{
	float: left;
	color: #FFF;
	width: 670px;
	}
.slideImgBox .listBox li .slideListImg{
	float: left;
	width: 500px;
	}
.slideImgBox .listBox li .slideListTxt{
	float: right;
	padding: 10px;
	width: 150px;
	height: 280px;
	background: #333;
	font-family:"Microsoft YaHei";
	}	
.slideImgBox .listBox li .slideListTxt p{
	line-height: 20px;
	color: #fff;
	height: 160px;
	overflow: hidden;
	}
.slideImgBox .listBox li .slideListTxt .title{
	font-size:16px;
	line-height: 26px; 
	height: 52px;
	margin: 10px 0 20px;
	}	
******/
.slideImgBox {
	width: 490px;
	height: 265px;
	overflow: hidden;
	position: relative;
}
.slideImgBox .listBox {
	width: 99999px;
	position: absolute;
}
.slideImgBox .indexNub {
	position: absolute;
	bottom: 9px;
	right: 8px;
	z-index: 2;
}
.slideImgBox .indexNub span {
	display: inline-block;
	position: relative;
	top: -3px;
	_top: 2px;
 *float: left;
	width: 14px;
	_width: 13px;
	height: 13px;
	text-indent: -9999px;
	margin-right: 5px;
	cursor: pointer;
	background: url(../images/icon/icon.png) no-repeat -100px -3px;
	_background-position: -100px -2px;
}
.slideImgBox .indexNub .current {
	background-position: -114px -3px;
	_background-position: -114px -2px;
}
.slideImgBox .listBox li {
	float: left;
	color: #FFF;
}
.slideImgBox .listBox li .title {
	position:absolute;
	padding: 0 105px 0 15px;
	width: 370px;
	bottom: 3px;
	background: url(../images/icon/blackBg.png) repeat;
}
.slideImgBox .listBox li .title span {
	display: inline-block;
	width: 370px;
	height: 40px;
	line-height: 40px;
	font-family:"Microsoft YaHei";
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	font-size: 16px;
	color: #FFF;
}
.newsListBox {
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
}
.toolLink a {
	display: inline-block;
	padding: 0 15px;
	height: 26px;
	line-height: 26px;
	margin: 8px 6px 8px 0;
	background: #f3f3f3;
}
.toolLink a:hover {
	background: #3484d3;
	color:#fff;
	text-decoration: none;
}
.webRankBar li {
	width: 50%;
	float: left;
	margin: 5px 0;
	height: 18px;
	overflow: hidden;
}
.webRankBar li .arry {
	margin-right: 3px;
}
.hotLabelBar .t {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	color: #fff;
	background:#b6262f;
	padding: 0 15px;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
}
/*.hotLabelBar .m{
	padding: 6px 20px;
	padding: 5px 20px\0;
	+padding: 4px 20px;
	_padding: 6px 20px;
	}*/
.hotLabelBar .m a {
	display: inline-block;
	margin: 4px 10px;
}
.imgListLayout li {
	margin-top: 20px;
	padding-left: 25px;
	float: left;
	width: 180px;
	padding-bottom: 5px;
}
.imgListLayout li p, .imgListLayout-b li p {
	line-height: 20px;
	color: #333;
	padding: 3px 8px 5px;
 *margin-top: -6px;
	background: #f2f2f2;
	height:40px;
	overflow:hidden;
}
.imgListLayout li a:hover p, .imgListLayout-b li a:hover p {
	background: #69b0f6;
	color: #fff;
}
.imgListLayout-a li {
	width: 125px;
	margin: 0 0 10px 17px;
	padding: 0;
 *float: none;
 *display: inline;
 *zoom:1;
}
.imgListLayout-b li {
	width: 160px;
	margin:20px 10px 20px 0;
	float:left;
	padding: 0;
}
.firLinkBar {
	border: 1px solid #ddd;
	border-top: 0;
	color: #999;
}
.firLinkBar .firLinkLayout {
	border-top: 1px solid #ddd;
	padding: 5px 10px;
}
.firLinkBar .firLinkLayout a {
	color: #999;
	display: inline-block;
	margin: 5px;
}
.newsTxtMainBar {
	border-top:3px solid #369;
}
/**.newsTxtMainBar .txtBar{
	border: 1px solid #ddd;
	border-top: 0;
	}
	**/
.listsTxtMainBar .txtBar {
	border: 1px solid #ddd;
	border-top:none;
}
.listsTxtMainBar .txtBar .tags em {
	display:inline-block;
	padding:0 5px
}
.listsTxtMainBar .txtBar .tags em a {
	color:#888;
	padding: 0 2px;
	height:20px;
	line-height:20px;
}
.listsTxtMainBar .txtBar .tags em a:hover {
	background:#369;
	color:#fff;
}
.newsTitleBox {
	position: relative;
	width: 100%;
	padding-bottom: 10px;
	/**border-bottom: 1px solid #eee;**/ 
	border-bottom: 1px solid #E5E5E5;
}
.newsTitleBox h1.YaHei {
	width: 100%;
	height: 36px;
	line-height: 36px;
	color: #333;
	font-size: 24px;
	font-weight:bold;
	overflow: hidden;
	margin-bottom: 15px;
	margin-top:10px;
	text-align:center
}
.newsTitleBox .info {
	font-size: 12px;
	color: #999;
	text-align:center
}
.newsTitleBox .info span {
	margin: 0 20px 0 0;
}
.newsTitleBox .tabTxt {
	position: absolute;
	right: 0;
	top: 60px;
}
.newsTitleBox .tabTxt span {
	display: inline-block;
	text-align: center;
	width: 28px;
	height: 20px;
	line-height: 20px;
	color: #999;
	background: #eee;
	font-size: 14px;
	cursor: pointer;
	font-family: 'Microsoft YaHei';
}
.newsTitleBox .tabTxt .current {
	background: #2b6bab;
	color: #fff;
}
.newsMainBox {
	font-size: 14px;
    padding: 20px 10px 10px;
    width: 650px;
	overflow: hidden;
}
.newsMainBox-textad a {
	color:#1e3e74;
	margin-right:5px;
}
.newsMainBox p {
	color: #252525;
	line-height: 28px;
	margin-bottom: 15px;
	text-indent:2em;
}
.newsMainBox ul{margin:20px 0 20px 50px}
.newsMainBox ul li{list-style:disc;line-height:36px;}
.newsMainBox ol{
  margin-left: 55px;
  color: #5c5c5c;
  list-style: decimal;
  word-wrap: break-word;
  word-break: normal;
  border: none;
  background: #f7f7f7;
  margin-bottom:20px;
}
.newsMainBox ol li{
  margin: 0px !important;
  padding: 10px 3px 10px 10px !important;
  color: inherit;
  list-style: decimal outside none;
  word-wrap: break-word;
  word-break: normal;
  border: none;
  line-height: 18px;
  background: url("../images/ollibg.jpg") 0 0 repeat-y scroll transparent;
}
.newsMainBox h1, .newsMainBox h2, .newsMainBox h3, .newsMainBox h4, .newsMainBox h5, .newsMainBox h6 {
    font-family: Tahoma, Arial, "Hiragino Sans GB", "冬青黑", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", "Heiti", "黑体", sans-serif;
    display: block;
    background-color: transparent;
    border-left: 5px solid #ffc81f;
    color: #363636;
    padding-left: 15px;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    text-align: left;
    margin-top: 26px;
    margin-bottom: 14px;
    margin-left: 24px;
}
.newsMainBox  a{color:#252525;text-decoration: none;border-bottom: 1px solid #ffc81f;}
.newsMainBox  a:hover{color:#252525}
blockquote {
background:#f9f9f9;
border-left:6px solid #ccc;
margin:1.5em 10px;
padding:.5em 10px;
quotes:"\201C""\201D""\2018""\2019";
}
blockquote:before {
color:#ccc;
content:open-quote;
font-size:4em;
line-height:.1em;
margin-right:.25em;
vertical-align:-.4em;
}
blockquote p {
display:block;
}
#ctrlfscont{
	position:relative;
}
#ctrlfscont span.adsign{
	display:inline;background: #ddd;padding: 2px 8px;position:absolute;bottom:0;right:10px;border-radius:3px;font-size: 12px;
}
#moreread{padding-left:25px;}
#moreread h3{font-size:14px;padding-top:10px;font-weight:bold;line-height:34px;}
#moreread ul{margin-bottom:20px;}
#moreread ul li{line-height:16px;/**background: url(../images/icon/point.gif) no-repeat 0 0;padding:6px 0 6px 16px;**/padding:6px 0 6px 0;}
#moreread ul li a{color:#24558E}
.editShare {
	border: 1px solid #ddd;
	background: #fff;
	height: 44px;
	line-height: 44px;
}
.editShare .editBar li {
	float: left;
	width: 135px;
	border-right: 1px solid #ddd;
	position:relative;
}
.editShare .editBar .share {
	border-right: 0;
	width: 258px;
}
.editShare li .one {
	text-align: center;
	display: block;
}
.editShare .editBar .share .one {
	text-align: left;
	padding-left: 20px;
}
.editShare li .one .t {
	padding: 0 0 0 25px;
	display: inline-block;
	position:relative;
}
.editShare li .one {
	font-size: 16px;
	color: #999;
}
.editShare li .one:hover {
	background: #369;
	color:#fff;
}
.editShare li .one i {
	position: absolute;
	left: 0;
	top: 12px;
 *top: 13px;
	width: 20px;
	height: 20px;
	_width: 18px;
	_height: 18px;
	overflow: hidden;
	background-position: -147px -49px;
}
.editShare li .one:hover i {
	background-position: -167px -49px;
}
.editShare .against .one i {
	background-position: -147px -109px;
}
.editShare .against .one:hover i {
	background-position: -167px -109px;
}
.editShare .posting .one i {
	background-position: -147px -69px;
}
.editShare .posting .one:hover i {
	background-position: -167px -69px;
}
.editShare .collect .one i {
	background-position: -147px -89px;
}
.editShare .collect:hover .one i {
	background-position: -167px -89px;
}
.editShare li .two {
	position: absolute;
	z-index: 2;
	display: none;
	background: #fff;
	padding: 0 5px;
	height:40px;
	line-height: 40px;
	top: 0;
	left: 78px;
	white-space: nowrap;
	border: 1px solid #999;
}
.editShare li.hover .two {
	display: block;
}
.editShare li .two .arry {
	position: absolute;
	top: 14px;
	left: -13px;
	border-style: dashed solid dashed dashed;
	border-width: 6px;
	border-color: transparent #999 transparent transparent;
}
.editShare li .two i.arry {
	left: -12px;
	border-color: transparent #fff transparent transparent;
}
.newsAlgonBar {
	border: 1px solid #ddd;
}
.newsAlgonBar .w160 {
	padding-left: 19px;
	border-left: 1px solid #ddd;
}
.hotListBar li a, .hotTxtListBar .t {
	display: inline-block;
	margin: 4px 0;
	font-size: 14px;
	padding-left: 25px;
	position: relative;
}
.hotListBar li a .icon, .hotTxtListBar .t .icon {
	position: absolute;
	left: 3px;
	top: 6px;
	width: 13px;
	height: 12px;
	background-position: -115px -25px;
}
.post-taglist li{float:left;margin-right:15px;font-size:12px;line-height:18px;}
.post-taglist li a, .post-taglist .t {
    display: inline-block;
    font-size: 12px;
    margin: 4px 0;
    padding-left: 25px;
    position: relative;
}

.post-taglist li a .icon, .post-taglist .t .icon {
    background-position: -115px -25px;
    height: 12px;
    left: 3px;
    position: absolute;
    top: 6px;
    width: 13px;
}
.post-taglist  .tagh{padding:0 12px 0 25px;font-size:14px;font-weight:bold;margin:4px 0;font-family: "Microsoft YaHei";}
.hotTxtListBar {
	margin-top: 170px;
	padding: 0 18px;
	font-size: 14px;
}
.hotTxtListBar a {
	margin: 0 8px;
}
.hotTxtListBar .t .icon {
	background-position: -129px -89px;
}
.newsBarLayout {
	border: 1px solid #ddd;
}
.newsBarLayout h3 {
	color: #333;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	padding: 0 20px;
	background: #f3f3f3;
	font-family: 'Microsoft YaHei';
}
.slideImgList {
	padding: 15px 10px;
	position: relative;
}
.slideImgList .imgListLayout {
	width: 660px;
	margin-left: -7px;
	height: 165px;
	position: relative;
 *display: inline;
 *zoom: 1;
	overflow: hidden;
}
.slideImgList .imgListLayout .imgList {
	width: 9999px;
	position:relative;
}
.slideImgList .imgListLayout li {
	width: 150px;
	padding: 0;
	margin: 0 0 0 12px;
 *display: inline;
 *zoom: 1;
	overflow:hidden;
}
.slideImgList .numberState {
	position: absolute;
	right: 10px;
	top: -31px;
}
.slideImgList .numberState span {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	width: 22px;
	height: 22px;
	line-height: 22px;
	margin: 0 3px;
	background: #ddd;
	color: #666;
	border-radius: 11px;
}
.slideImgList .numberState .current {
	background: #5990de;
	color: #fff;
}
.columnPageC {
	border-top: 2px solid #369;
	background: #f8fcff;
}
.columnBar h3 {
	font-size: 18px;
	color: #369;
	padding: 15px;
	border-top: 0;
}
.columnBar .columnMain {
	padding: 0 20px 20px 20px;
	color: #333;
}
.columnBar .columnMain .dec {
	font-size:12px;
font-family:;
	margin:0;
	padding:0;
	line-height:18px;
	height:36px;
}
.columnBar .columnMain .w60 img {
	padding: 2px;
	border: 1px solid #d9d9d9;
}
.columnBar .columnMain .txtBox .sina {
	width: 18px;
	height: 14px;
	position: relative;
	top: 2px;
 *top: 0;
	background-position: -129px 0;
}
.columnBar .columnMain .txtBox .rss {
	width: 37px;
	height: 14px;
	position: relative;
	top: 2px;
 *top: 0;
	background-position: -150px 0;
}
.columnInfo {
	border-top:1px solid #ddd;
	background: #f9f9f9
}
.columnInfo li {
	float: left;
	width: 95px;
	padding: 7px 0;
	text-align: center;
}
.columnInfo li p {
	line-height: 20px;
}
.columnInfo li.two {
	width: 106px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
.columnPageC .columnInfo {
	background: #f8fcff
}
.columnTxtRecom .titleMain {
	border-top: none!important;
}
.columnTxtRecom .imgTxtBar a.cursor {
	border-bottom: 1px solid #e5e4e4;
}
.topicsModule {
	border-bottom: 1px solid #e5e5e5;
	background: #f8f7f7;
	padding-bottom: 15px;
}
.topicsModule .txt h2 {
	font-size: 20px;
	padding: 12px 0 5px 10px;
	color: #369;
}
.topicsModule .txt p {
	line-height: 24px;
	color: #666;
	padding: 0 10px;
}
.topicsImgTxtBar .imgTxtBar-b .txtBox .txt {
	height: 100px;
}
.newsListBar .imgTxtBar-b .txtBox .txt {
	height: 85px;
}
.topicsImgTxtBar .txtBox .txt h5 {
	color:#252525;
	font-size: 18px;/****20141030字体大小调整****/
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	font-family: 'Microsoft YaHei';
	padding: 0;
	margin: 0 0 9px 0;
}
.topicsImgTxtBar .imgTxtBar-b li {
	padding: 15px 0px;
	border-bottom: 1px solid #ddd;
 *zoom:1;
 *display: inline;
}
.topicsImgTxtBar .imgTxtBar-b li:hover {
	background:#f9fafd;
}
.topicsImgTxtBar .imgTxtBar-b li a {
	margin: 0;
	height:auto;
}
.topicsImgTxtBar .imgTxtBar-b li a h5 {
	display: inline-block;
	line-height: 24px;
	height: 24px;
	overflow: hidden;
	padding-right:2px;
	padding-left:2px;
}
.topicsImgTxtBar .imgTxtBar-b li a:hover h5 {
	color:#d81517;
	text-decoration:underline;
}
.columnPageHead .topNav {
	padding: 14px 0;
	font-size: 14px;
}
.columnPageHead .navList li .one a {
	border-top: 1px solid #f8f8f8;
}
.columnPageHead .navList li.hover .one a {
	border-color:#ddd;
}
.columnPageBanner {
	margin-bottom: 20px;
	height: 190px;
	background: #369 url(../images/icon/columnBanBg.png) no-repeat bottom center;
}
.columnPageBanner h2 {
	color: #80b1e1;
	font-size: 28px;
	text-align: center;
	padding: 30px 0 25px;
}
.columnPageBanner .columnOptions a {
	display:inline-block;
	margin: 0 18px;
	width: 135px;
	height: 52px;
	line-height: 52px;
	font-size: 28px;
	padding: 0 10px 0 50px;
	position: relative;
	color: #fff;
	background: #60d295;
	text-decoration: none;
}
.columnPageBanner .columnOptions a i {
	width: 34px;
	height: 34px;
	position: absolute;
	left: 20px;
	top: 10px;
	background-position: 0 -50px;
}
.columnPageBanner .columnOptions .openColumn i {
	top: 11px;
	background-position: -34px -50px;
}
.columnPageBanner .columnOptions .editArticles i {
	background-position: -68px -50px;
}
.columnPageBanner .columnOptions .editArticles {
	background: #fe9c6d;
}
.columnPageTabBar .tabState {
	width: 100px;
}
.columnPageTabBar .titleMain .txt {
	width: 76px;
}
.radiusImgBar .radiusImg {
	margin: 19px 0 0 22px;
}
.radiusImgBar .assessBtnBar a {
	display:inline-block;
	position:relative;
	padding-left: 18px;
	width: 44px;
	background: #81b6ec;
	border-radius: 3px;
	color: #fff;
	height: 26px!important;
	line-height: 26px;
}
.radiusImgBar .assessBtnBar a:hover {
	background: #fe9c6d;
}
.radiusImgBar .idName {
	text-align: center;
	margin: 8px 0 5px;
	font-size: 14px;
	color: #369
}
.assessBtnBlue {
	position:relative;
	cursor: pointer;
}
.assessBtnBlue .icon, .radiusImgBar .assessBtnBar a .icon {
	width: 14px;
	height: 16px;
	position: absolute;
	left: 10px;
	top: 5px;
	background-position: -104px -68px;
}
.assessBtnBlue .icon {
	left: 0;
	top: 1px;
	display: inline-block;
	background-position: -104px -50px;
}
.topicsImgTxtBar .imgTxtBar-b .lightBlueBg .txtBox a {
	color: #369;
}
/*.topicsImgTxtBar .imgTxtBar-b .txt p{
	line-height: 24px;
	}	*/
.columnPageTabBar .newsListBar .imgTxtBar-b .txtBox .txt {
	height: 169px;
}
.loadingMore {
	background: #369;
	color: #fff;
	height: 32px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
}
.loadingMore img {
	margin-top: 8px;
}
.columnPageC .imgTxtBar-b .txtBox h5 {
	padding: 2px 0 1px;
	line-height: 24px;
	font-size: 14px;
	color:#595959;
}
.columnPageC .imgTxtBar-b a.cursor {
	background: #fff;
	border-top: 1px solid #ddd;
	padding: 15px 6px 5px 12px;
	;
	margin-top: 0;
}
.columnPageC .imgTxtBar-b a.cursor:hover {
	background: #f8fcff;
	color: #369;
}
.columnPageD .imgTxtBar-b a.cursor {
	margin-top: 0;
	padding: 10px 10px 0;
	border-bottom: 1px solid #ddd;
}
.aloneTabBar, .tabRight {
	position: relative;
}
.aTabLayout .aTabNav {
	position: relative;
	z-index: 2;
	padding:3px 0 0 10px;
	/**border-top: 2px solid #369;**/
	background:#369;
}
.aTabLayout .aTabNav li {
	float: left;
	width: 82px;
	position:relative;
}
.aTabLayout .aTabNav li.twoMenu {
	width: 82px;
}
.aTabLayout .aTabNav li.twoMenu .m {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0;
	display:none;
}
.aTabLayout .aTabNav li.twoMenu .m a {
	background: #369;
	border-bottom-color: #369;
	color: #fff;
}
.aTabLayout .aTabNav li.twoMenu .m .current, .aTabLayout .aTabNav li.twoMenu .m a:hover {
	background: #69b0f6;
	border-bottom-color: #69b0f6;
}
.aTabLayout .aTabNav li a {
	display: inline-block;
	width: 100%;
	height: 36px;
	line-height: 36px;
	/**border-bottom: 1px solid #ddd;----20141030去除边框线****/
	text-align: center;
	text-decoration: none;
	/**background:#eee;**/
	font-size: 16px;
	color:#fff;/**color:#333;**/
	
	}
.aTabLayout .aTabNav li.current a, .aTabLayout .aTabNav li a:hover {
	background: #fff;
	color: #369;/**border-bottom-color: #369;----20141030去除边框线****/
	}
.aTabLayout .kwLink {
	padding: 12px 0 8px;
}
.aTabLayout .kwLink a {
	margin-right: 10px;
	padding-left: 14px;
	position:relative;
	display: inline-block;
	color:#31669A;/****20141030添加字体颜色****/
}
.aTabLayout .kwLink a i {
	color:#31669A;
	display: block;
	position: absolute;
	width: 4px;
	height: 4px;
	overflow: hidden;
	background: #ccc;
	left: 4px;
	top: 8px;
	_top: 6px;
}
.aTabLayout .kwLink a.current, .aTabLayout .kwLink a:hover {
	color: #B8272E;
	text-decoration: none;
}
.aTabLayout .kwLink a.current i, .aTabLayout .kwLink a:hover i {
	background-color: #B8272E;
}
.aTabMain .imgTxtBar-b li {
	border: 0;
	border-top: 1px solid #ddd;
}
.aTabMain .imgTxtBar-b .txtBox .txt {
	height: 115px;
}
.aTabMain .imgTxtBar-b .txtBox .txt span {
	margin-right:10px;
}
.aTabMain .icoposition{position:relative}
.aTabMain .icoposition .iconTxt-r{
	position: absolute;
	bottom: 0px;
	right: 0px	;
	}
.aTabMain .txtBox .txt h5 .iconTxt-r {
	position: relative;
	top: -5px;
}
.aTabMain .imgTxtBar {
	position: relative;
	top: 0;
	display: none;
}
.aTabMain .aTabActive {
	display: block;
}
/****20141216添加DIGG模块****/	
.digglist-colL {
	float: left;
	width: 310px;
	overflow: hidden;
}
.digglist-colR {
	float: right;
	width: 310px;
	overflow: hidden;
}
.rank {
	background:url(../images/icon/num_bg.gif) no-repeat 0 7px;
}
.digglist-colR .rank {
	background:url(../images/icon/num_bg_2.gif) no-repeat 0 7px;
}
.rank li {
	color: #333;
	font-size: 14px;
	height: 36px;
	overflow: hidden;
	line-height: 36px;
	padding-left: 28px;
	text-overflow: ellipsis;
}
.rank li a {
	white-space: nowrap;
}


.digg-sort li{height: 30px;overflow: hidden;margin-bottom: 10px;float:left;width: 50%;font-size: 14px;}
.digg-sort li a{display: block;position: relative;padding-left:25px;height: 22px;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;width: 265px;}
.digg-sort li s{    font-weight: normal;text-decoration: none;position: absolute;height: 20px;width: 20px;border-radius: 50%;background: #a7a7a7;left: 0;top: 0px;color: #fff;font-size: 13px;line-height:18px;text-align: center;}
.digg-sort li .r{background: #ba2636;}

/****20150203添加相关文章时间线模块****/	

.postLine {
	margin-bottom:12px;
}
.postLine h3 {
	background:#E9EFF6;
	padding:8px 20px;
	font-size:16px;
	color:#333;
	font-weight:bold;
}
.cell, .cellline {
	margin-left: 52px;
	padding-left: 20px;
	border-left: 4px solid #D1E5F7;
}
.cellline {
	display:block;
	height:22px;
}
.cellbox {
	position: relative;
	padding-bottom: 13px;
	border-bottom: 1px dotted #e0e0e0;
	margin-bottom: 18px;
}
.cell .time {
	font-family: "Microsoft YaHei";
	position: absolute;
	left: -95px;
	top: 0;
	padding-top: 5px;
	padding-right: 28px;
	width: 60px;
	text-align: right;
	color: #999;
	font-size: 14px;
	font-style: normal;
}
.cell .time i {
	background: url(../images/icon/icon.png) no-repeat 0 -135px;
	position: absolute;
	right: 4px;
	top: 0;
	width: 20px;
	height: 24px;
	overflow: hidden;
	_background-image: url(../images/icon/icon.gif);
}
.cellCon {
	line-height:22px;
}
.cellCon h5 {
	color: #252525;
	font-family: "Microsoft YaHei";
	font-size: 17px;
	height: 24px;
	line-height: 24px;
	margin: 0 0 9px;
	overflow: hidden;
	padding: 0;
}
.cellCon:hover h5 {
	color:#DD323D;
	text-decoration:underline
}
/****20150203添加阴影切换模块****/
.mask {
	background: rgba(0, 0, 0, 0.6);
 filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#70000000', endColorstr='#70000000');
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
}
.mask-content {
	background:#fff;
	margin:0 auto;
	padding: 0 20px 10px;
	width:1000px;
	position:relative;
	z-index: 3;
}
.post-prev, .post-next {
	height: 70px;
	width: 60px;
	font: bold 70px/70px SimSun;
	position: fixed;
	top: 50%;
	overflow: hidden;
	margin-top: -35px;
}
.post-prev a, .post-next a {
	text-decoration:none;
	display: block;
	color: #fff;
 transition: all .5s ease 0s;
}
/****201500414添加首屏模块****/
.two h1 {
	font-weight: bolder;
	font-size: 16px;
}
.two p {
	color: #999;
	font-size: 12px;
	line-height: 30px;
}
.tabPanel {
	width: 670px;
}
.tabPanel .hit {
	cursor:pointer;
	color: #fff;
	background:#b6262f;
	font-size: 14px;
}
.tabPanel .hit a {
	color: #fff;
}
.boxes {
	width: 670px;
}
.boxes .ad {
	float:left;
	padding: 15px 0;
}
.boxes .special {
	width: 250px;
	float: left;
}
.boxes .special h2 {
	font-weight: bolder;
	font-size: 14px;
	line-height: 30px;
}
.boxes .special p {
	color: #999;
	font-size: 12px;
	padding:5px 0;
	line-height: 23px;
}
.boxes .special .red {
	color: #b6262f;
	font-size: 12px;
}
.pane {
	border-top:0;
	background-color:#fff;
	display:none;
	float: left;
	width: 410px;
}
.panes {
	height: 160px;
	float: left;
}
.pane h4 {
	padding:15px 15px 0 10px;
	font-size:14px;
	font-weight:bold;
}
.menu {
	color:#272727;
	width:670px;
	height:33px;
	border-bottom: 1px #ccc solid;
}
.menu ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.menu li {
	line-height:23px;
	width: 58px;
	padding:5px;
	float: left;
	text-align:  center;
}
.bote {
	border-bottom: 1px #ddd solid;
}
.menu li a {
	text-decoration:none;
	color: #a1a1a1;
}
.list1 {
	height:170px;
	padding-bottom:12px;
	width: 410px ! important;
	overflow:hidden;
	margin: 0;
	float: left;
}
.list1 li {
	float:none;
	width:365px;
	padding: 12px 0 0 0;
	height: 22px;
}
.list1 li a {
	text-align: left;
	font-size: 14px;
	float: left;
}
.list1 li span {
	color: #999;
	float: right;
}
.newsBox {
	padding: 10px 0;
	width: 410px;
	float: left;
}
.newsBox ul {
	list-style: none;
}
.newsBox li {
	padding: 10px 0 0 0;
	height: 60px;
	border-bottom: 1px #ccc dotted;
	width: 380px;
}
.newsBox lu li h1 {
	font-size: 16px;
	color: #333;
	font-family: 'Microsoft YaHei';
	font-weight: normal;
}
.newsBox lu li p {
	color: #999;
	line-height: 30px;
}
.noned {
	border-bottom: 0 ! important;
}
.tber li {
	border-bottom: 1px #ccc dotted;
	padding: 9px 0 0 0;
}
.more {
	float: right;
	color: #777;
	margin-right: 0;
	margin-bottom: 0;
	line-height: 30px;
}
.read {
	width: 300px;
	float:right;
	margin: 3px 0 0 0;
}
.read ul li {
	height: 110px;
}
.articalTag {
	float: left;
	width: 220px;
}
.articalTag h2 {
	font-size: 14px;
	font-family: 'Microsoft YaHei';
	padding: 8px;
}
.articalTag p {
	color: #999;
	padding-left: 8px;
	text-align: left;
}
.articalTit {
	width: 80px;
	float: left;
	padding: 15px 0;
}
/*焦点图*/
.focus {
	position:relative;
	width:300px;
	height:240px;
	background-color: #000;
	display:block;
}
.focus img {
	width: 300px;
	height: 240px;
}
.focus .shadow .title {
	width: 260px;
	height: 65px;
	padding-left: 30px;
	padding-top: 20px;
}
.focus .shadow .title a {
	text-decoration:none;
	color:#fff;
	font-size:14px;
	font-weight:bolder;
	overflow:hidden;
}
.focus .btn {
	position:absolute;
	bottom:34px;
	left:510px;
	overflow:hidden;
	zoom:1;
}
.focus .btn a {
	position:relative;
	display:inline;
	width:13px;
	height:13px;
	border-radius:7px;
	margin:0 5px;
	color:#B0B0B0;
	font:12px/15px "\5B8B\4F53";
	text-decoration:none;
	text-align:center;
	outline:0;
	float:left;
	background:#D9D9D9;
}
.focus .btn a:hover, .focus .btn a.current {
	cursor:pointer;
	background:#fc114a;
}
.focus .fPic {
	position:absolute;
	left:0px;
	top:0px;
}
.focus .D1fBt {
	overflow:hidden;
	zoom:1;
	height:16px;
	z-index:10;
}
.focus .shadow {
	width:100%;
	position:absolute;
	bottom:0;
	left:0px;
	z-index:10;
	height:40px;
	line-height: 40px;
	background:rgba(0, 0, 0, 0.6);
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0, startColorstr = '#80000000', endColorstr = '#80000000')\9;
	display:block;
	text-align:left;
}
.focus .shadow a {
	text-decoration:none;
	color:#fff;
	font-size:14px;
	overflow:hidden;
	margin-left:10px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
}
.focus .fcon {
	position:relative;
	width:100%;
	float:left;
	display:none;
	background:#000
}
.focus .fcon img {
	display:block;
}
.focus .fbg {
	bottom:25px;
	right:40px;
	position:absolute;
	height:21px;
	text-align:center;
	z-index: 200;
}
.focus .fbg div {
	margin:4px auto 0;
	overflow:hidden;
	zoom:1;
	height:14px;
	display:none
}
.focus .D1fBt a {
	position:relative;
	display:inline;
	width:12px;
	height:12px;
	border-radius:7px;
	margin:0 5px;
	color:#B0B0B0;
	font:12px/15px "\5B8B\4F53";
	text-decoration:none;
	text-align:center;
	outline:0;
	float:left;
	background:#D9D9D9;
}
.focus .D1fBt .current, .focus .D1fBt a:hover {
	background:#fc114a;
}
.focus .D1fBt img {
	display:none
}
.focus .D1fBt i {
	display:none;
	font-style:normal;
}
.focus .prev, .focus .next {
	position:absolute;
	width:30px;
	height:55px;
	background: url(../images/focus_btn.png) no-repeat;
	display:none;
}
.focus:hover .prev, .focus:hover .next {
	display:inline-block
}
.focus .prev {
	top: 50%;
	margin-top: -37px;
	left: 0;
	background-position:0 -56px;
	cursor:pointer;
}
.focus .next {
	top: 50%;
	margin-top: -37px;
	right: 0;
	background-position:-30px -56px;
	cursor:pointer;
}
.focus .prev:hover {
	background-position:0 0;
}
.focus .next:hover {
	background-position:-30x 0;
}
.slideshow {
	background: url("http://img.chinaz.com/templates/chinaz/css/../img/g9.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	position: relative;
}
.slideshow .image {
	color: #fff;
	height: 150px;
	overflow: hidden;
	position: relative;
	width: 260px;
}
.slideshow .image ul {
	height: 150px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 260px;
}
.slideshow .image li {
	float: left;
	height:150px;
	overflow: hidden;
	position: relative;
	width:260px;
}
.slideshow .image a {
	display: block;
}
.slideshow .caption {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	bottom: 0;
	color: #fff;
	line-height: 14px;
	padding: 5px;
	position: absolute;
	width: 250px;
}
.slideshow .trigger {
	bottom: 4px;
	position: absolute;
	right: 5px;
}
.slideshow .trigger li {
	background: none repeat scroll 0 0 #fff;
	color: #000;
	cursor: pointer;
	float: left;
	font-weight: bold;
	line-height: 14px;
	margin: 0 3px 0 0;
	padding: 0 3px;
	text-align: center;
}
.slideshow .trigger li {
}
.slideshow .trigger li.current {
	background: none repeat scroll 0 0 #ff7d01;
	color: #fff;
}
/*2015-4-23 第一屏修改*/
.line {
	height: 1px;
	font-size: 0px;
	overflow: hidden;
	background: url(../images/icon/linex.gif) repeat-x;
}
.ssbar_box {
	background:#f2f2f2;
	padding:5px;
}
.searchBar {width:600px;}
.notice {
	background: url(../images/icon/icon15-423.png) no-repeat 0 5px;
	padding:0 0 0 30px;
	margin-left:15px;
	width:300px;
	display:inline-block;
}
.notice a {
	color:#e43b3b;
}
.zhuanti {
	background:#f5f5f5;
	margin-top:10px;
}
.zhuanti ul li {
	padding:11px 15px;
	border-bottom: dashed 1px #ccc;
}
.zhuanti ul li.noborder {
	border-bottom:none;
}
.zhuanti ul li em {
	font-weight:bold;
}
.zhuanti ul li p {
	color:#999;
	padding-top:3px;
}
.zhuanti ul .specialbg {background: #b6262f none repeat scroll 0 0;padding: 8px 15px!important;}
.zhuanti ul .specialbg a{color:#fff;font-size:14px;}
.zhuanti ul .specialbg-tit a{background:#fff;color:#b6262f;border-radius:3px;padding:0 3px;display:inline-block;font-weight:bold;font-size:12px;margin-right:5px;}
.zhuanti ul .specialbg a:hover{color:#fecc09;text-decoration:none;}
.zhuanti ul .specialbg-tit a:hover{background:#fecc09;text-decoration:none;color:#b6262f;}
.zhuanti ul .specialbg p {color:#fff} 
.redzht {
	color:#b6262f;
}
.greyzht {
	color:#999;
}
.w348 {
	width:340px;
}
.ml22 {
	margin-left:22px;
}
.ml30 {
	margin-left:30px;
}
.todayhot h3 {
	font-size:18px;
	font-family: 'Microsoft YaHei';
	font-weight:bold;
	text-align:center;
}
.todayhot h3 a, .todayhot p a {
	color:#ba2636;
}
.todayhot p {
	font-size:12px;
	line-height:24px;
	padding-top:5px;
	color:#333;
}
.todaynews{position:relative;}
.todaynews span{position:absolute;left:90px;top:0px;line-height:25px;height:25px;font-size:14px;color:#666}
.todaynews span a{color:#666}
.todaynews span a:hover{color:#b6262f}
.todaynews h3 {
	background:#b6262f;
	height:25px;
	display:block;
	width:77px;
	text-align:center;
	line-height:25px;
	color:#FFF;
	font-style:normal;
	font-weight:550;
	font-family: 'Microsoft YaHei';
	font-size:18px;
}
.todynewslist li {
	padding:5px 0 5px 8px;
	background: url(../images/icon/icon3x3.gif) no-repeat 0 15px;
	font-size:14px;
	height:21px;
	overflow:hidden;
}
.todynewslist li  a{padding-left:4px;}
.todynewslist li a.imgnews {
	background: url(../images/icon/icon15-423.png) no-repeat 0 -41px;
	padding:0 5px 0 25px;
}
.todynewslist li a.videonews {
	background: url(../images/icon/icon15-423.png) no-repeat 0 -83px;
	padding:0 5px 0 30px;
}
.todynewslist li a img{vertical-align:middle;}
.txtred {
	color:#b6262f;
}
.rbox_title {
	height:25px;
	position:relative
}
.rbox_title h3 {
	background:#336799;
	height:25px;
	display:block;
	width:77px;
	font-size:18px;
	color:#fff;
	text-align:center;
	font-style:normal;
	font-weight:550;
	font-family: 'Microsoft YaHei';
	line-height:25px;
}
.rbox_title h3.yuanchuang {/*background: url(../images/icon/title.png) no-repeat 0 -60px;*/
	height:25px;
	display:block;
}
.newsmore {
	position:absolute;
	right:0;
	top:2px;
	width:44px;
	height:23px;
	display:inline;
	background:#f2f2f2;
	text-align:center;
	line-height:23px;
	color:#8d8d8d;
	cursor:pointer;
}
.zhuanlantop {
	border-bottom: dotted 1px #ccc;
	padding-bottom:12px;
}
.zhanlanleft {
	width:110px;
	height:77px;
}
.maninfo {
	width:175px;
	color:#999;
	font-size:14px;
	font-family: 'Microsoft YaHei';
}
.maninfo a.dingyue {
	width:46px;
	height:21px;
	line-height:21px;
	text-align:center;
	background:#7eb5ec;
	border-radius:3px;
	display:inline-block;
	color:#fff;
	margin-left:15px;
}
.maninfo p {
	font-size:14px;
	color:333;
	overflow:hidden;
	padding-top:5px;
	font-family: "宋体";
}
.maninfo p a {
	color:#333;
	text-decoration:none
}
.maninfo p a:hover {
	color:#bb4046;
}
.rboxlist {
	color:#333;
}
.rboxlist li {
	background: url(../images/icon/icon3x3.gif) no-repeat 0 12px;
	height:26px;
	line-height:26px;
	padding-left:12px;
	overflow:hidden;
}
.color999 {
	color:#999;
}
.txtbold {
	font-weight:bold;
}
.rboxlist li i {
	color:#999;
	font-style:normal;
}
/*******2015-4-24-友情链接扩展*********/
#morefriend {
    height:auto;
	overflow:hidden;
	position:relative;
}
.moreflinks{position:absolute;right:10px;top:15px;}
.updown {
	text-align:center;
	width:38px;
	height:20px;
	position:absolute;
	left:47%;
	bottom:-20px;
	background:url(../images/morefriend.gif) no-repeat;
}
.updown:hover {
	background-position:0 -20px;
}

/****2015-5-11-标签扩展****/

.aTabMain .imgTxtBar-b li{
	position:relative;
}
.tagtime{
    position: absolute;
    /* bottom: 10px; */
    width: 490px;
    left: 170px;
    top: 115px;
}
.tagtime .date {
    float: left;
	color:#999;
	display:inline-block;
	margin-right:10px;
}
.tagtime .tags {
    background: url("http://img.chinaz.com/images/tags_03.gif") center left no-repeat;
    float: left;
    display: block;
	padding-left:5px;
	overflow:hidden;
	width:350px;
	height:20px;
}
.tagtime .times {
    float: left;
	color:#999;
	display:inline-block;
	margin-right:10px;
}
.tagtime .times a{color:#999;display:inline;}
.tagtime .times a:hover{text-decoration:underline;}
.tagtime .tags a {
    color: #999999;
    display: inline;
    padding-left: 15px;
}
.tagtime .tags a:hover {
    color: #336699;
    text-decoration: underline;
}
/****2015-5-11-返回顶部扩展****/
.gotop{position: fixed;bottom:195px;right: 30px;width: 46px;z-index: 999;}
.gotop a{display: block;width: 46px;height: 46px;margin-bottom: 10px;background-image: url(../images/icon/go-top.png);}
.gotop a:last-child{margin-bottom: 0;}
.gotop .go{background-position: 0 -100px;}
.gotop .go:hover{background-position: 0 -150px;}
.gotop .feedback{background-position: 0 -50px;}
.gotop .feedback:hover{background-position: 0 -200px;}
.gotop .cz-weixin{background-position: 0 0;}
.gotop .cz-weixin:hover{background-position: 0 -250px;}
.gotop .cz-weixin-con{position: absolute;right: 60px;top: 0px;width: 100px;box-shadow: 0px 1px 4px rgba(0,0,0,.1);background: #fff;}
.gotop .cz-weixin-con .cz-weixin-title{font-size: 14px; margin: 5px 15px;}
.gotop .cz-weixin-con .cz-weixin-pic{position: relative;}

/*列表侧栏跟随*/
#adbox{float:left; position:relative;width:300px;}.adout{width:300px;}.adinner{position:fixed;_position:absolute;top:0;z-index:250;}
.adfixbug li{padding:5px 0 5px 0!important;}.adfixbug a{font-size:13px!important;}
/*new add 4-29*/
.zlbox{width:300px; margin-right:28px; float: left; height:300px; overflow:hidden; margin-top:35px;position:relative;padding:6px;border:1px solid #ddd;background:#fff;-moz-box-shadow:0 2px 0 #f5f5f5;-webkit-box-shadow:0 2px 0 #f5f5f5;box-shadow:0 2px 0 #f5f5f5;}
.zlbox:hover{-moz-box-shadow:0 3px 6px #bbb;-webkit-box-shadow:0 3px 6px #bbb;box-shadow:0 3px 6px #bbb;}
.zlbox a{ text-decoration:none;}
.zlpic{width:298px; height:158px; display:block;overflow:hidden;border:1px solid #f2f2f2;}
 
.zltit{ width:280px;margin:5px 10px; overflow:hidden;font:500 16px/24px "Microsoft Yahei","冬青黑体简体中文 w3";padding:10px 0;}
.zltit a{ color:#333;}
.zltit a:hover{ color:#336799;}
.zlinfo{height: 25px;font-size: 14px; margin-top: 15px;color:#888}
.zlmsg {width:270px;padding:10px 15px;font-size:12px; color:#999; margin-top:20px;position:absolute;bottom:0;left:0;border-bottom:1px solid #f2f2f2;}
.zlmsg span{color:#000;}
.zlmsg .pr{ display:inline-block; color:#999;float: left; height: 36px; margin-right:10px;max-width: 110px;overflow: hidden;white-space: nowrap;word-break: keep-all;}
.zlmsg  a.pr:hover{  color:#336799;}
.zlmsg .pr img{width:36px; height:36px; }
.zlmsg .rq { background:url(../images/loveicon.gif) left center no-repeat;  padding-left:20px;}
.zlmsg a.zlbtn{position:absolute;right:0;bottom:12px; display:inline-block; background:url(../images/dy.gif) no-repeat; width:36px; height:21px; text-align:center; color:#fff; display:block; line-height:21px;}
.zlmsg a.zlbtn:hover{ color:#fff; text-decoration:underline;}
#loadmore {background: #dddddd none repeat scroll 0 0;border-radius: 2px;color: #888888;cursor: pointer;margin: 20px auto 20px;padding: 10px 0;text-align: center;transition: all 0.2s ease 0s;width: 1000px;}
#loadmore:hover{background:#bbb;color:#fff;}
#loadmore a{display:block;text-decoration:none;color:#888}
#loadmore:hover a{color:#fff;}
.cl{ margin-right:0;}

/*special add 5-20*/
.ztbg{background:#f5f3f2 url(../images/topbg.jpg) 0 1px repeat-x;}
#ztcontent{background:#f5f3f2;}
.ztbox{  width:1000px; margin:0 auto;}
.ztt{font-family:"微软雅黑",Arial; font-size:24px; color:#2b6bab;  float:left; line-height:30px; }
.ztsearchBox{ float:right; position:relative;}
.ztsearchBox .text{height: 18px;padding: 4px 33px 4px 10px;width: 255px;border: 1px solid #ccc;}
.ztsearchBox .submitBtn{display: block;border: 0;cursor: pointer;width: 17px;height: 18px;background: url(../images/icon/icon.png) no-repeat -81px 0;position:
 absolute;right:12px;top: 4px;*top: 5px;}
.ztlist { text-decoration:none; background:#fff; display:block;  margin-top:10px;}
.ztinbox{ width:435px;  border:1px solid #dddddd; padding:20px; overflow:hidden; display:block; background:#fff; text-decoration:none; margin-bottom:30px; }	
.ztinbox:hover {box-shadow: 0 3px 6px #bbb;}
.ztinbox a:hover{text-decoration:none;}
.ztinbox:hover .zttit{ color:#2b6bab;}
.ztpic{width:435px; height:150px; overflow:hidden; display:block;}
.zttit{font-family:"微软雅黑",Arial; font-size:22px; color:#333;height:28px; line-height:28px;margin:15px 0 20px 0; overflow:hidden; }
.keywords{ font-size:12px; color:#999; float:left; line-height:24px;height:24px;overflow: hidden;width: 340px;}
.keywords i{ margin:0 5px;line-height:24px;height:24px;}
.keywords a{color:#999;}
.keywords  a:hover{color:#2b6bab;}
.entrance{ font-size:14px; color:#fff; padding:0 10px 0 10px ; background:#2b6bab; float:right; line-height:28px; }
.entrance:hover{background:#CC4003;}
.notop{ margin-top:0;}

.cont-vote{margin:20px 10px;border:1px solid #b4dbff;background-color: #e3f2ff;}		
.cont-vote-list li,.box_xg li{list-style:none !important;margin:10px 0;}	
.cont-vote-list span{margin-right:10px;}		
.vote-btn-area{padding:15px 0;}
#viewresult{padding:0 20px;}
.cont-vote-list .process {
    width: 162px;
    height: 11px;
    background: #ccc;
    overflow: hidden;
    margin-bottom: 5px;
}

.cont-vote-list .process_wrap{
	display:none;
}

.cont-vote-list .process div {
    width: 160px;
    height: 11px;
    background: url(http://img.chinaz.com/images/vote_mini_icon_bg.gif) repeat-x;
    border-left: 1px solid #000;
    border-right: 1px solid #000
}

.cont-vote-list .process .style0 {
    border-left-color: #EA7211;
    border-right-color: #EA7211;
    background-position: 0 0
}

.cont-vote-list .process .style1 {
    border-left-color: #AABF00;
    border-right-color: #AABF00;
    background-position: 0 -11px
}

.cont-vote-list .process .style2 {
    border-left-color: #8B2A00;
    border-right-color: #8B2A00;
    background-position: 0 -22px
}

.cont-vote-list .process .style3 {
    border-left-color: #BF844A;
    border-right-color: #BF844A;
    background-position: 0 -33px
}

.cont-vote-list .process .style4 {
    border-left-color: #3A8938;
    border-right-color: #3A8938;
    background-position: 0 -44px
}

.cont-vote-list .process .style5 {
    border-left-color: #486193;
    border-right-color: #486193;
    background-position: 0 -55px
}

.cont-vote-list .process .style6 {
    border-left-color: #7DA3AE;
    border-right-color: #7DA3AE;
    background-position: 0 -66px
}

.cont-vote-list .process .style7 {
    border-left-color: #AE1486;
    border-right-color: #AE1486;
    background-position: 0 -77px
}

.cont-vote-list .process .style8 {
    border-left-color: #5AB502;
    border-right-color: #5AB502;
    background-position: 0 -88px
}

.cont-vote-list .process .style9 {
    border-left-color: #BF2146;
    border-right-color: #BF2146;
    background-position: 0 -99px
}
/****新版首页导航条*****/
.navBeta {
	padding: 5px 0;
	width: 1000px;
	background: #2B6BAB;
	margin-bottom:10px;
}
.navBetaCon {
	float: left;
	width: 178px;
	overflow: hidden;
	padding:0 0 0 15px;
	border-right:1px solid #2D5D8E;
}
.navBetaCon li {
	float: left;
	line-height:24px;
}
.navBetaCon li a {
	padding:2px 8px;
	display:inline-block;
	color: #fcfcfc;
	white-space: nowrap;
	border-radius:3px;
}
.navBetaCon li.tit {
	font-size:11px;
	color: #6A8EB2;
	margin-right:2px;
}
.navBetaCon li.tit a {
	font-weight: bold;
	font-size: 14px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	color: #fff;
}
.navBetaCon li a:hover {
	background:#cae1ee;
	color:#0d519c;
	text-decoration:none;
}
.navBetaCon li.tit a:hover {
	background:#FECC09;
	color:#333;
	text-decoration:none;
}
.Con2 {
	width: 218px;
	border-left:1px solid #3175BC;
}
.Con3 {
	width: 178px;
	border-left:1px solid #3175BC;
}
.Con4 {
	width: 138px;
	border-left:1px solid #3175BC;
}
.Con5 {
	width:103px;
	border-left:1px solid #3175BC;
}
.Con6 {
	width: 83px;
	padding-left:15px;
	border-left:1px solid #3175BC;
	border-right:none;
}

/****新版分类页面推荐*****/
 .cat-top {
	background: #f7f7f7;
	border: 1px solid #ededed;
	margin-bottom: 20px;
	font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
	font-size: 14px;
}
.cat-top .items {
	width: 300px;
	padding: 13px 16px 13px 15px;
	float: left;
}
.cat-top .items-con {
	position: relative;
}
.cat-top .items-con .label {
	color: #fff;
	line-height: 20px;
	height: 20px;
	padding: 2px 12px;
	overflow: hidden;
	border-radius: 2px;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	z-index: 4;
	background-color: #0090ff;
}
.cat-top .items-con a.pic {
	display: block;
	width: 300px;
	height: 140px;
	border: 1px solid #c7c7c7;
}
.cat-top .items-con img {
	width: 300px;
	height: 140px;
}
.cat-top .items-con .tit {
	font-size: 18px;
	display: block;
	margin: 15px 0 10px 0;
	font-family: "微软雅黑";
	padding-top: 5px;
	font-weight: bold;
}
.cat-top .items-con .desc {
	height: 65px;
	width: 100%;
	overflow: hidden;
	line-height: 22px;
	color: #757575;
	font-size: 13px;
	text-align: left;
}
/****内容分页SEO优化*****/
.guidetitle{font-size:18px;padding:27px 0 12px;font-weight:bold;}
.guidelist{padding:15px;}
.guidelist li{float:left;display:inline-block;height: 35px;line-height: 35px;width:300px;overflow:hidden;font-size: 16px;text-overflow: ellipsis;white-space: nowrap;}
.guidelist li.left{margin-right:25px;}
.guidelist li a{font-size:14px;color:#333;display:inline-block;width:350px;}
.guidelist li a:hover{background:#fafafa;text-decoration:none;}