html, body	{margin:0px; padding:0px; background-color:#ffffff; font-family: Helvetica,Arial,sans-serif;}
td			{padding: 0px;}
table		{border-collapse: collapse;}
img         {border: 0 none;}
p, ul		{font-family: Arial, Tahoma, Sans-Serif; font-size: 9pt; line-height: 1.5;}


/*table.menu			{margin-left: 30px;}
.menu a             {font-weight: bold;}
table.menu a,
.headerlink         {color: #323236; font-size: 13px; font-family: Verdana,Helvetica; text-decoration: none; font-weight: bold;}
*/
img.OO	{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  border-color: white;
}

a:link img.OO	{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  border-color: white;
}

a:visited img.OO	{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  border-color: white;
}

a:hover img.OO	{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  border-color: #999999;
}

input.txt			{color: #808080;}
.tx				{color: #808080; font-size: 9pt;}

.inboundLinks input {border: 1px solid #BBB; font-size: 12px; height: 18px;}

/* Footer */
td.footer			{margin: 10px;}
td.footer p			{color: #c7c7c7;}
td.footer a			{color: #c7c7c7;}
td.footer a:hover	{text-decoration: none;}
td.footer table     {width: 100%; text-align: center; border: 0;}
td.pic_counters     {text-align: center; padding: 10px; color: #8E6F6F; font-size: 10pt;}

/* Progress Bar */
td {
	font: 10pt Helvetica, Arial, sans-serif;
}

.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}


/* SWFUpload Object Styles */
.swfupload {
	vertical-align: top;
}

.picinfo, #summaryLinks {
	text-align: left;
	background-color: #f9f9f9;
	border: 1px #ededed solid;
	margin: 25px auto 0 auto;
	width: 600px;
}
#summaryLinks textarea {
	width: 95%;
	margin: 14px;
}
.picinfo li, #summaryLinks li {
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

.picinfo input {
	margin-top: 5px;
}
.picinfo img {
	border: 0;
}
.picture {
	margin: 10px;
	text-align: center;
}

.dCenter {
	margin: 10px;
	text-align: center;
}

.dLeft {
	margin: 10px;
	text-align: left;
}

.center {
	padding: 10px;
	margin: 0 auto;
}

.photocattitle { text-align: center; font-weight: bold; }
.phototitle {
	text-align: center;
	font-weight: normal;
	width: 120px;
	margin: 0 3px 3px 3px;
}

.picContainer {
	margin: 0pt auto;
	overflow: hidden;
	height: 1%;
	width: 800px;
	padding: 10px;
	background: #F0F0FA;
}

#manager
{
	padding: 10px;
}

.txt_10 {
	font-size: 10pt;
}

.logininput {
	width: 160px;
	margin: 3px;
}
fieldset {
	margin: 4px;
}

legend {
	font-family: Verdana,sans-serif;
	color: #000066;
	font-size: 10pt;
	padding: 0 2px 2px;
}

#orig-rotate {
	width: 160px;
}

#orig-resize {
	width: 35px;
}

#thumb-size {
	width: 23px;
}

.preview-size {
	margin-left: 20px;
	margin-top: 8px;
}

#jpeg-quality {
	width: 23px;
}

/* Areas */
#login-area {
	padding: 10px;
	text-align: center;
}
#load-area {
	width: 350px;
	background: #F0F0FA;
}
.log-area {
	background: #F0F0FA none repeat scroll 0 0;
}
.reg-area {
	background: #E5D8D7 none repeat scroll 0 0;
}
#text-box
{
	width: 650px;
	background: #F0F0FA;
}
#reg-area
{
	width: 270px;
	background: #F0F0FA;
}
#message-box
{
	color: darkred;
	font-size: 10pt;
	margin: 10px;
	text-align: center;
}

/* Links */
a#regLink {
	text-decoration: none;
	font-size: 11pt;
}

.jslink {
	//border-bottom: 1px dashed;
	color: #8E6F6F;
	text-decoration: none;
	font-size: 9pt;
}
.jslink_orange {
	//border-bottom: 1px dashed;
	color: #8E6F6F;
	text-decoration: none;
	font-size: 9pt;
	color: orange;
}

.load {
	color: #2936B2;
	text-decoration: none;
}

.load:link:hover,
.load:visited:hover {
	color: #DD6900;
	text-decoration: underline !important;
}

/* Margins */
.lmar_13 {
	margin-left: 13px;
}
.lmar_20 {
	margin-left: 20px;
}
.lmar_28 {
	margin-left: 28px;
}
.lmar_35 {
	margin-left: 36px;
}
.lmar_30 {
	margin-left: 30px;
}

.optimization {
	font-size: 11pt;
	color: darkred;
	margin-top: 3px;
}

#copyright {
	color: #C7C7C7;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 10pt;
}

/* Thumbs */
div.thumb {
	margin: 3px;
	border: 1px solid #A0ACC0;
	min-height: 200px;
	width: 190px;
	float: left;
	text-align: center;
}

.thumb img {
	display: inline;
	margin: 5px;
	border: 1px solid #A0ACC0;

}

.thumb:hover { border: 1px solid black; }

/* Upload */
.upload_settings {
	margin-bottom: 10px;
}
#uploading_files {
	text-align: center;
}
#upload_files {
	width:  100%;
	height: 130px;
}
#upload_select {
	width:  100%;
	height: 170px;
}
#upload_select, #upload_select option {
	font-size: 13px;
	font-family: "Lucida Console",monospace;;
}
#uploadButtonContainer {
	margin: 10px;
}

/* Ajax block */
#ajax-loading, #ajax-error {
	position: absolute; z-index: 2000; padding: 4px; font-size: 13px;
	max-width: 400px; max-height: 200px; white-space: nowrap; display: none;
	font-weight: bold;
}
#ajax-loading { min-width: 100px; background: #2E8B57; color: #FFF5EE; }
#ajax-error   { min-width: 200px; background: #8B0000; color: #F5F5F5; overflow: auto; }

.changes li {
	margin-left: 30px;
}

/* Main menu */
#headermenu div {
	cursor: pointer;
}
/* CSS sprite static/menu_full.png */
#i-main {
	background-position: 24px -76px; width: 82px; height: 28px;
}
#i-main-act {
	background-position: 24px -266px; width: 82px; height: 28px;
}
#i-rules {
	background-position: 7px -152px; width: 91px; height: 28px;
}
#i-rules-act {
	background-position: 7px -342px; width: 91px; height: 28px;
}
#i-about {
	background-position: 0px 0px; width: 106px; height: 28px;
}
#i-about-act {
	background-position: 0px -190px; width: 106px; height: 28px;
}
#i-fpuploader {
	background-position: 0px -38px; width: 117px; height: 28px;
}
#i-fpuploader-act {
	background-position: 0px -228px; width: 117px; height: 28px;
}
#i-myuploads {
	background-position: -0px -114px; width: 233px; height: 28px;
}
#i-myuploads-act {
	background-position: -0px -304px; width: 233px; height: 28px;
}

.rounded-corners {
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* CSS3 */
}



div.menu{
	font-family: Helvetica,Arial,sans-serif;
}

div.menuitem{
	float: left;
	position: relative;
	margin: 13px;

	font-size: 16px;
	color: blue;
}

div.menuitem div.a{
	position: relative;
	left: 0;
	top: 0;

	color: blue;
	text-decoration: underline;

	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

div.menuitem div.near{
	position: absolute;
	left: 0;
	top: 0;

	filter:Alpha(opacity=00);

	opacity: 0.0;

  	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

div.menuitem div.far{
	position: absolute;
	left: 0;
	top: 0;

	filter:Alpha(opacity=00);

	opacity: 0.0;

  	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

div.menuitem div.veryfar{
	position: absolute;
	left: 0;
	top: 0;

	filter:Alpha(opacity=00);

	opacity: 0.0;

  	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

div.menuitem:hover div.a{
	/*-moz-transform: scale(1.05) rotate(5deg);
  	-webkit-transform: scale(1.05) rotate(5deg);
  	-o-transform: scale(1.05) rotate(5deg);
  	-ms-transform: scale(1.05) rotate(5deg);
  	transform: scale(1.05) rotate(5deg);

  	text-decoration: none;*/
}

div.menuitem:hover div.near{
	filter:Alpha(opacity=40);

	-moz-transform: scale(0.8) rotate(-10deg) translate(10%,-110%);
  	-webkit-transform: scale(0.8) rotate(-10deg) translate(10%,-110%);
  	-o-transform: scale(0.8) rotate(-10deg) translate(10%,-110%);
  	-ms-transform: scale(0.8) rotate(-10deg) translate(10%,-110%);
  	transform: scale(0.8) rotate(-10deg) translate(10%,-110%);

	opacity: 0.4;
}

div.menuitem:hover div.far{
	filter:Alpha(opacity=20);

	-moz-transform: scale(0.6) rotate(-20deg) translate(13%,-250%);
  	-webkit-transform: scale(0.6) rotate(-20deg) translate(13%,-250%);
  	-o-transform: scale(0.6) rotate(-20deg) translate(13%,-250%);
  	-ms-transform: scale(0.6) rotate(-20deg) translate(13%,-250%);
  	transform: scale(0.6) rotate(-20deg) translate(13%,-250%);

	opacity: 0.2;
}

div.menuitem:hover div.veryfar{
	filter:Alpha(opacity=5);

	-moz-transform: scale(0.6) rotate(-30deg) translate(30%,-320%);
  	-webkit-transform: scale(0.6) rotate(-30deg) translate(30%,-320%);
  	-o-transform: scale(0.6) rotate(-30deg) translate(30%,-320%);
  	-ms-transform: scale(0.6) rotate(-30deg) translate(30%,-320%);
  	transform: scale(0.6) rotate(-30deg) translate(30%,-320%);

	opacity: 0.05;
}