	.sbm, .btn {
	    background-color: #333;
	    border: 1px solid rgba(0, 0, 0, 0.94);
	    border-radius: 3px;
	    color: #fff;
	    font-family: RobotoBoldCondensed,Arial,sans-serif;
	    font-size: 1em;
	    font-weight: 400;
	    padding: 7px 10px 6px;
	    text-decoration: none;
	    text-transform: uppercase;
    }
    .sbm:hover, .btn:hover {
        color: #fff;
        opacity: 0.8;
    }
    .business .sbm, .business .btn{
        background: none repeat scroll 0 0 #0f6aa8;
        border-color: #2c7fb6;
    }
    .homepage .sbm, .homepage .btn {
        background: none repeat scroll 0 0 #546d81;
        border-color: #40596d;
    }
    .news .sbm, .news .btn {
        background: none repeat scroll 0 0 #e8740f;
        border-color: #e8740f;
    }
    .blogs .sbm, .blogs .btn {
        background: none repeat scroll 0 0 #cecc29;
        border-color: #c2c022;
    }
    .opinion .sbm, .opinion .btn {
        background: none repeat scroll 0 0 #1dbaba;
        border-color: #179595;
    }
    .sport .sbm, .sport .btn {
        background: none repeat scroll 0 0 #c80707;
        border-color: #ae0b0b;
    }
    .lifestyle .sbm, .lifestyle .btn {
        background: none repeat scroll 0 0 #fe0468;
        border-color: #ed0b66;
    }
    .culture .sbm, .culture .btn {
        background: none repeat scroll 0 0 #382d38;
        border-color: #382d38;
    }
    .leisure .sbm, .leisure .btn {
        background: none repeat scroll 0 0 #846faa;
        border-color: #654f8e;
    }
    .infocus .sbm, .infocus .btn {
        background: none repeat scroll 0 0 #ae67e4;
        border-color: #8643b9;
    }
    .multimedia .sbm, .multimedia .btn {
        background: none repeat scroll 0 0 #000;
        border-color: #1e1e1e;
    }
    .gnguides .sbm, .gnguides .btn {
        background: none repeat scroll 0 0 #00c120;
        border-color: #05a71f;
    }
    .readerspace .sbm, .readerspace .btn {
        background: none repeat scroll 0 0 #af8866;
        border-color: #8d623c;
    }