@charset "utf-8";
/* css reset */
html,body,div,section,article,aside,nav,footer,p,dl,dt,dd,ul,li,ol,span,em,a,del,h1,h2,h3,h4,h5,h6,iframe,object,form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,menu,audio,video{padding:0;margin:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
ul,ol,li{list-style: none;}
html,body{font:14px 'Microsoft YaHei';color:#4c4948;}
img{border:none;vertical-align:top;max-width:100%;}
.clearfix:after{clear:both;overflow: hidden;height:0;content:'';display: block;}
.clearfix{zoom:1;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top: 20px;}
.mt30{margin-top:30px;}
.pd10{padding:10px;}
.fz14{font-size: 14px;}
.fz16{font-size:16px;}
.fz18{font-size:18px;}
.fz20{font-size:20px;}
.white{color:#fff;}
.yahei{font-family: 'Microsoft YaHei';}
.songti{font-family: "宋体";}
.text-center{text-align:center;}
.pull-left{float:left;}
.pull-right{float:right;}
.trs3{
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -ms-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
}
.container{
    width:1000px;
    margin:0 auto;
    position:relative;
}
/*top style*/
.public-top{
    width:100%;
    height:60px;
    background:#4ca834;
    overflow:hidden;
}
.public-top-center{
    position:relative;
    width:1000px;
    height:60px;
    margin:0 auto;
    background:url(../../images/v3.0/top_logo.png) no-repeat 0 10px;
    overflow:hidden;
    _background:url(../../images/v3.0/top_logo.png) no-repeat 25% 10px;  
}
.public-top-text{
   color:#bee0b6;
   float:left;
   margin-top:25px;
   margin-left: 133px;
   *margin-left:133px !important;
    *margin-left:67px;
}
.public-top-text strong{
   font-size:18px;
   font-weight:100;   
}
.public-top-text a{
    color:#bee0b6;
    padding-left:5px;
    text-decoration: none;
}
.public-top-list{
    height:26px;
    position:absolute;
    right:0;
    top:17px;
}
.public-top-list li{
    float:left;
}
.public-top-list .public-top-item1,.public-top-item2{
    width:44px;
    height:26px;
    line-height:26px;
    color:#dbeed6;
    cursor:pointer;
}
.public-top-item2{
    margin-right: 20px;
}
.public-top-list .public-top-item3, .public-top-list .public-top-item4{
    width:51px;
    text-align:center;
    background:#fff;
    border-radius: 2px;
	padding:3px 0; 
}
.public-top-list .public-top-item3{width:60px;}
.public-top-list .public-top-item3 a , .public-top-list .public-top-item4 a{
    font:12px 'Microsoft YaHei';
    color:#4ca834;
    text-decoration: none;
}
.public-top-item3{
   margin-right:10px;	
}

.public-top-list .public-top-item4{
    width:63px;
}
.section-one-banner{
    width:100%;
    height:500px;
    background:url(../../images/v3.0/index_banner.jpg) no-repeat center top;
    position:relative;
    z-index:99;
}
.section-one-title{
    font-size:58px;
    font-weight: bold;
    padding-top:110px;
    text-shadow:0px 0px 10px #888;
	text-align:center;
	letter-spacing: 3px
}
.section-one-txt{
    text-align:center;
	font-size:30px;
	margin-top:15px; 
	text-shadow:0px 0px 6px #888;	
	letter-spacing: 1px
}
.enterbut{
	text-align:center;
	padding:30px 0 0;
}
.enterbut a{
	display:inline-block;
	background:#ff6400;
	color:#fff;
	line-height:normal;
	padding:10px 20px;
	font-size:18px;
}
.enterbut a:hover{background:#ea5c00;}
.banner-footer{
    position:absolute;
    width:100%;
    height:133px;
    bottom: 0;
    left:0;
}
.banner-footer-inner{
    position:relative;
    width:100%;
    height:133px;
    background:#000;
    opacity:0.6;
    filter:Alpha(opacity=60);
}
.banner-footer-container{
    position: absolute;
    z-index:9;
    width:100%;
    top:0;
    left:0;
}
.banner-footer-text{
    padding-left:80px;
    padding-top:15px;
}
.banner-footer-text span{
    font-size:24px;
    padding:0 3px;
    color:#fff ! important;
}
.banner-form{
    width:760px;
    margin-top:15px;
    margin-left:80px;
    position:relative;
}
a.enlink{
	position:absolute;
	right:35px;
	top:75px;
	color:#fff;
	font-size:18px;
}
a.enlink:hover{color:#ff6400;}
.citySelect{
    width:135px;
    height:50px;
    font:18px 'Microsoft YaHei';
    color:#8c8c8c;
    border-right:1px solid #ddd ! important;
    position:relative;
    background:url(../../images/v3.0/icon_spirit.png) no-repeat 3px 12px #fff;
    float:left;
}
.citySelect p{
    line-height:50px;
    height:50px;
    padding-left: 30px;
    cursor: pointer;
    background:url(../../images/v3.0/icon_spirit.png) no-repeat 107px -24px;
}
.houseSelect{
    width:135px;
    height:50px;
    font:18px 'Microsoft YaHei';
    color:#8c8c8c;
    border-right:1px solid #ddd  ! important;
    padding-left:10px;
    float:left;
    background:#fff;
}
.houseSelect p{
     line-height:50px;
    height:50px;
    cursor: pointer;
    background:url(../../images/v3.0/icon_spirit.png) no-repeat 107px -24px;
}
.cityName-select{
    position:absolute;
    top:50px;
    left: 0;
    width: 470px;
    background:#fff;
    font-size: 18px;
    z-index:99;
    border:1px solid #ddd;
	z-index:100;
	display:none;
	overflow:hidden;
}
.cityName-select ul {
	padding:10px 5px;
	overflow:hidden;
}
.cityName-select ul li{
   width:45px;
   padding:5px 3px;
   float:left;
   font-size:14px;
   text-align:left;
   cursor:pointer;
   color:#8c8c8c;
}
.cityName-select ul li:hover{
 color:#ff6400;	
}
.hover-more{
  font-size:12px;
  padding-left:3px;
  color:#ff6400;	
  font-size:14px;
  padding-top:5px;
  float:left;
  *position:absolute;
  *top:130px;
  *left:158px;
}
.hover-more:hover{
 color:#ff6400;	
}

.houseName-select{
    position: absolute;
    top:50px;
    left:136px;
    width: 144px;
    background:#fff;
    line-height: 40px;
    font-size:14px; 
    display: none;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    z-index:99;
    *+z-index:99;
}
.houseName-select li{
    border-top: 1px solid #ddd;
    cursor: pointer;
    padding-left: 10px;
}

.houseName-select li:hover{
    background:#4da635;
    color:#fff;
}
.areaInput{
    width:338px;
    height:48px;
    font:18px 'Microsoft YaHei';
    color:#bbbbbb;
    padding-left:10px;
    float:left;
    border:none;
    vertical-align: middle;
    line-height: 47px;
	-webkit-appearance : none ;	
	*border:0;
}
.submitBtn{
    width:130px;
    height:50px;
    line-height: 50px;
    background:#4ca634;
    color:#fff;
    text-align:center;
    position:absolute;
    right:0;
    top:0;
    border:none;
    cursor: pointer;
    font:18px 'Microsoft YaHei';
    letter-spacing: 5px;
    padding-left: 3px;
	-webkit-appearance : none; 
}
.submitBtn:hover{
    color:#fff !important;
    background:#3e852a;
}
.section-two-content{
    width:100%;
    position:relative;
    overflow: hidden;
}
.section-title{
    text-align:center;
    color:#4c4948;
    font-size:38px; 
    padding-top:50px;
}
.row-wrap{
   width:1000px;
   height:570px;
   position:relative;
   overflow: hidden;
   margin-top: 50px; 
}
.row-wrap-left,
.row-wrap-right{
  float:left;
  width:500px;	
}
.row-wrap-left img{
  padding-left:102px;	
}
.row-wrap-right-inner{
  padding-left:72px;	
}
.row-wrap-right h2{
  font-size:48px;
  color:#4c4948;
  font-weight:normal;	
}
.row-wrap-txt1{
  margin-top:20px;
  font-size:21px;
  color:#999999; 	
}
.row-wrap-list{
  margin-top:22px; 
}
.row-wrap-list li{
  line-height:35px;
  height:35px;
  font-size:16px;
  background:url(../../images/v3.0/ico.png) no-repeat -4px -4812px;	
  padding-left:35px;
}
.row-wrap-down{
  margin-top:22px;
  height:46px;	
}
.row-android-btn{
  display:block;
  width:150px;
  height:46px;
  line-height:46px;
  text-align:center;
  color:#fff;
  background:#4ca834;
  float:left;
  margin-right:10px;
  font-size:16px;	
}
.row-android-btn:hover{
  background:#368d1f;
}
.row-wrap-txt2{
  margin-top:30px;
  color:#999999;	
}
.row-wrap-chat{
  margin-top:10px;	
}

/*section  four*/
.section-four{
    width:100%;
	background:#f8f8f8;
    overflow: hidden;
}
.section-four-city{
    width:100%;
    margin-top: 40px;
}
.col-md-6{
    width:50%;
    float:left;
    position:relative;
    overflow: hidden;
}
.col-md-6 ul li{
    float:left;
    width:100%;
    height: auto;
    margin-bottom: 20px;
}

/**/

.section-four-a{
  width:100%;
  height:auto;
  margin-bottom:20px;	
}
.section-four-a1{
   float:left;
   width: 30px;
   height: 30px;
   margin-right: 20px;
   line-height: 30px;
   text-align:center;
   background:url(../../images/v3.0/city_name_circle.png) no-repeat ;
   color:#fff;
   font-size:18px;
}
.section-four-a2{
  float:left;
  width:430px;	
}
.section-four-a2 li{
    width:60px !important;
    line-height: 24px !important;
    height: 24px !important;
	overflow:hidden;
	float:left;	
	margin-bottom:0 !important;
}
.section-four-a2 li a{
	color:#4c4948;
    text-decoration: none;
    font:14px 'Microsoft YaHei';
    display: block;
	width: 60px;
	height: 20px;
	overflow: hidden;
}
.section-four-a2 li a:hover{ color:#ff6400;}
.common-link-right ul li a:hover{color:#ff6400;}



/*********************新房源列表 *********************/
a{text-decoration: none;}
.h-list-title{width:1000px;height:46px;border-bottom: 2px solid #5ab431;}
.h-list-title li{float:left;width:145px;height:46px;line-height: 46px;text-align:center;font-size: 18px;color:#999999;}
.h-list-title li.h-title-active{background:#5ab431;color:#fff;}
.h-title-icon{display: block;background:url(../../images/v3.0/h-icon1.png) no-repeat  8px 11px;color:#fff;}
.h-title-icon2{display: block;color:#999;background:url(../../images/v3.0/h-icon1.png) no-repeat 7px -244px ;}


.h-area-list{height:50px;line-height: 50px;}
.h-area-list li{float:left;padding:0 15px;font-family: "宋体";cursor: pointer;}
.h-area-list-inner{height:40px;line-height:40px;background:#f0f0f0;position:relative;}
.h-area-list-inner li{float:left;padding:0 18px;font-family: "宋体";cursor:pointer;}
.h-area-last{position:absolute;width:30px;height:30px;top:10px;right:10px;padding:0 !important;
background:url(../../images/v3.0/icon_v3.png) no-repeat 10px -1993px;cursor: pointer;}



.h-type-list,.h-wuye-list{height:50px;line-height: 50px;border-bottom: 1px solid #dddddd;}
.h-type-list li,.h-select-list li{float:left;padding:0 15px;font-family: "宋体";}
.h-wuye-list li{float:left;padding:0 10px;font-family: "宋体";}
.h-select-list{height:50px;border-bottom: 1px solid #dddddd;background:#f0f0f0;line-height:50px;}
.h-select-list2{height:50px;border-bottom: 1px solid #dddddd;background:#f0f0f0;}
.h-select-list2 li{float:left;}
.h-select-list2-item1{padding:0 30px 0 15px;line-height: 50px;}
.area-select-text{height:28px;margin-top: 10px;width: auto;border:1px solid #5ab431;margin-right:10px;padding:0 1px;}
.area-select-text span{color:#333;padding:0 5px; vertical-align: middle;}
.area-select-text .area-select-span{background:#5ab431;color:#fff;
text-align:center;font-size:18px;padding:0 5px;line-height: 28px !important;cursor: pointer;}
.clear-select-option{
    margin-top: 18px;
    width:100px;
    height:16px;
    float:left;
    margin-left: 5px;
   font-size:12px;
   color:#999999;
   background:url(../../images/v3.0/icon_v3.png) no-repeat 5px -4047px;cursor: pointer;
}
.clear-select-option p{
  padding-left:25px; 
}






.house-desc{margin-top: 40px;width:100%;position:relative;min-height:815px;}
.house-desc .house-desc-left{width:705px;float:left;overflow: hidden;margin-right:25px;}
.house-desc .house-desc-right{width:270px;float:left;overflow: hidden;}
.house-desc .house-desc-title{border-bottom: 2px solid #dddddd;height:35px;line-height: 35px;position:relative;}
.house-desc .house-desc-title li{float:left;margin-right: 15px;font-size:16px;color:#333333;}
.house-desc .house-desc-title li span{color:#dddddd;font-size:14px;padding-left: 16px;}
.house-desc-title-active{color:#5ab431 !important;}
.house-desc-title-last{position:absolute;right:0;top:0;font-family: "宋体";font-size:14px ! important;color:#999999;}
.house-desc-title-last b{color:#ff6400 ! important;font-weight: normal;}

.house-price-list{width:100%;position:relative;}
.house-price-list li{width:100%;height:150px; border-bottom: 1px dashed #ddd;}
.house-price-inner{padding-top:19px;position:relative;height:131px;*width:100%;}
.house-price-imgBox{width:165px;height:110px;float:left;position:relative;margin-right: 15px;}
.online-style{width:57px;height:22px;background: url(../../images/v3.0/h-icon1.png) no-repeat 3px -58px #ff6400;
 display: block;position:absolute;bottom: 0;right:0;font-size:12px;line-height:22px;color:#fff;text-indent: 26px;
  z-index:2;
}
.online-style:hover{color:#fff;}
.offline-style{
    width:57px;height:22px;background: url(../../images/v3.0/h-icon1.png) no-repeat 3px -58px #999999;
 display: block;position:absolute;bottom: 0;right:0;font-size:12px;line-height:22px;color:#fff;text-indent: 26px;
 z-index:2;
}
.offline-style:hover{color:#fff;}
.house-introduce-box{width:400px;height:110px;float:left;}
.house-introduce-box h3{color:#333;font-size: 16px;}
.house-introduce-box .house-intro-p1{color:#999;margin-top: 14px;}
.house-introduce-box .house-intro-p2{color:#999;margin-top:8px;padding-left:4px;}
.house-introduce-box .house-intro-p2 span{color:#333;}
.house-btn-wrap{padding-top:10px;width:300px;height:30px;}
.house-intro-btn1{
    float:left;
    width:95px;
    height:24px;
    background:url(../../images/v3.0/h-icon1.png) no-repeat 4px -109px #86c7a2;
    margin-left:3px;
    position: relative;
    margin-right: 6px;
}
.house-intro-btn1 a{
    display: block;width:70px;height:22px;background:#f2fff8;position: absolute;top:1px;right:1px;
    text-align:center;color:#57846a;line-height: 22px;font-size: 12px;
}
.house-intro-btn2{
    float:left;width:121px;height:24px;background:url(../../images/v3.0/h-icon1.png) no-repeat 3px -167px #82a1bb;
    position: relative;
}
.house-intro-btn2 a{
    display: block;width:96px;height:22px;background:#f2fff8;position: absolute;top:1px;right:1px;
    text-align:center;color:#6c879e;line-height: 22px;font-size: 12px;
}
.house-introduce-btn{
    display: block;
    width: 95px;
    height:24px;
    float:left;
    background:url(../../images/v3.0/zixun1.jpg) no-repeat left top;
    margin-right:6px;
    color:#57846a;
    text-indent: 36px;
    font-family: "宋体";
    font-size: 12px;
    line-height:24px;
    position: relative;
    z-index:2;
}
.house-introduce-btn:hover{
     color:#57846a;
}
.house-introduce-btn2{
    display: block;
    width:121px;
    height:24px;
    background:url(../../images/v3.0/zixun2.jpg) no-repeat left top;
    float:left;
    font-family: "宋体";
    font-size: 12px;
    line-height:24px;
    color:#6c879e;
    text-indent: 37px;
    position: relative;
    z-index:2;
}
.house-introduce-btn2:hover{
    color:#6c879e;
}
.house-price-linkWrap{
   position:absolute;
   width:100%;
   height:100%;
   top:0;
   left:0;
}

.house-price-num{position:absolute;right:10px;top:19px;height:110px; line-height:110px;}
.house-price-num p{font-size:16px;color:#ff6400;}
.house-price-num p strong{font-size:30px;font-weight:bold;}



.house-right-box1{width:268px;height:313px;border:1px solid #ddd;}
.house-right-box2{width:268px;margin-top: 10px;}
.house-right-box1-inner{padding:18px 15px;}
.house-right-box1-wrap{width:238px;height:166px;position:relative;margin-top: 15px;position:relative;}
.house-img-text{position: absolute;}
.house-right-text1{height:36px;line-height: 36px;border-bottom: 1px dashed #ddd;}
.house-right-box-text2{margin-top: 15px;height:30px;line-height: 30px;position:relative;}
.house-right-box-text2 p{float:left;font-size:14px;}
.house-right-box-text2 p span{font-size:18px;color:#ff6400;}
.house-right-box-text2 a{display: block;width: 86px;height:30px;background: #5ab431;position: absolute;right:0;top:0;
line-height: 30px;text-align:center;color:#fff;}

/*城市导航 热门城市 周边城市 友情链接*/
.city-nav-list{
    position:relative;
    width: 100%;
    background: #f5f5f5;
    min-height:255px;
}
.h-sz-nav{
    padding-top:10px;
    line-height: 52px;
    position:relative;
    background: #f5f5f5;
    height: 52px;
    border-bottom: 1px solid #e9e9e9;
}
.sz-left-nav{
    width: 138px;
    float: left;
}
.sz-left-nav a{
    display: block;
    line-height: 52px;
    width: 100px;
    text-align:center;
    font-size:13px;
    font-family:"宋体";
    font-weight:bold;
    background:url(../../images/v3.0/icon_v3.png) no-repeat 3px -618px;
    color:#666;
}
.hoverGray:hover{
    color:#666;
}
.sz-left-text{
    font-size:12px;
    float:left;
    color:#4d4d4d;
}
.more-about{
    position:absolute;
    top:30px;
    right:0;
}
.more-city-style{
    width:100%;
    display: none;
}
.more-city-div1{
    border-bottom: 1px solid #e9e9e9;
    width: 100%;
    height:65px;
}
.more-city-div1-list{
    width: 830px;
    float:left;
}
.more-city-div1-list li{
    float:left;
    width: 83px;
    line-height:30px;
}
.more-city-div1-list li a{
    font-size:12px;
}
.more-city-div1-area{
    width: 113px;
    display: inline-block;
    padding-left: 25px;
    font-size:12px;
    line-height: 40px;
    float:left;
}
.h-hot-city{
    height:52px;
    border-bottom: 1px solid #e9e9e9;
    position:relative;
}
.h-hot-name{
    float:left;
    width: 138px;
}
.h-hot-name a{
    display: block;
    line-height: 52px;
    width: 100px;
    text-align:center;
    font-size:13px;
    font-family:"宋体";
    font-weight:bold;
    color:#666;
}
.hotCityBg1{
    background:url(../../images/v3.0/icon_v3.png) no-repeat 3px -671px;
}
.hotCityBg2{
    background:url(../../images/v3.0/icon_v3.png) no-repeat 3px -725px;
}
.hotCityBg3{
    background:url(../../images/v3.0/icon_v3.png) no-repeat 3px -778px;
}
.more-about1{
    position:absolute;
    right:0;
    top:20px;
}
.h-hot-cityName{
    float:left;
    width:850px;
}
.h-hot-cityName li{
    float:left;
    line-height: 52px;
    margin-right:30px;
}
.h-hot-cityName li a{
    font-size:12px;
}
#last-hot-name{
    line-height: 44px !important;
    position:relative;
    width:138px !important;
    text-align:left ! important;
    text-indent:21px;
}
#last-hot-name p{
    position:absolute;
    top:17px;
    left:0px;
    width: 130px;
    font-weight:normal !important;
    font-size:12px;
}
.h-hot-city-last{
    position:relative;
    height:87px;
}
.h-hot-city-list{
    float:left;
    width:850px;
}
.h-hot-city-list li{
      float:left;
       margin-right: 30px;
       line-height:30px;
}
.h-hot-city-list li a{
    font-size:12px;
}
.hot-city-hidden{
    display: none;
    float:left;
    margin-top:-13px;
    border-bottom: 1px solid #e9e9e9;
    width:1000px;
}
.hot-city-hidden-list1{
   padding-left:138px;
   line-height: 30px;
   width: 850px;
}
.hot-city-hidden-list1 li{
    float:left;
    margin-right: 30px;
}
.hot-city-hidden-list1 li a{
    font-size:12px;
}
/*深圳导航 热门城市 周边城市 友情链接 结束*/

/*修改 向专业人士提问 IE6不兼容的问题*/
.v3_cont_r2_zhno:hover .beforeText{
    display: block;
}
.beforeText{
    width:100%;
    height:40px;
    line-height:40px;
    background:#5AB431;
    position:absolute;
    z-index:3;
    bottom: 0;
    left: 0;
    display: none;
}
.beforeText p{
    height:40px;
    line-height:40px;
    color:#fff;
    background:url(../../images/v3.0/icon_v3.png) no-repeat 179px -935px;
}
.beforeText p b{
    color:#fff;
    vertical-align: middle;
    font-weight:normal;
    font-size:12px;
    padding-left:15px;
}
.beforeText p a{
    color:#fff;
    vertical-align: middle;
    padding-left: 10px;
}


/* 友情链接 */

.common-friend-link{
  background:#f8f8f8;
  width:100%;
  overflow:hidden;
}
.common-link-center{
  width:1000px;
  margin:0 auto;
  border-top:1px solid #e9e9e9;	
}
.common-link-left{
  width:105px;
  height:60px;	
  margin-top:36px;
  float:left;
}
.common-link-left p{
  background:url(../../images/v3.0/icon_v3.png) no-repeat 8px -4098px;	
  padding-left:47px;
  color:#4c4948;
  font-weight:bold;
}
.common-link-right{
  position:relative;
  float:left;	
  margin:36px 0;
  width:895px;
}
.common-link-right ul{
  padding-left:30px;	
  width:867px;
  overflow:hidden;
}
.common-link-right ul li{
  float:left;
  padding:0 12px;	
  margin-bottom:10px;
  *+padding:0 11px;
  white-space:nowrap;
}
.common-link-right ul li a{
  color:#4c4948;	
}
.comom-link-more{
  position:absolute;
  top:2px;
  right:0;
  width:11px;
  height:11px;
  border:1px solid #cccccc;	
  line-height:10px;
  text-align:center;
  cursor:pointer;
}
@media(min-width:768px) and (max-width:1024px){
	.areaInput{border-radius:0;-webkit-appearance : none ;border:0;padding:0;}
	.submitBtn{border-radius:none;-webkit-appearance : none ; }
}

/* 2016-04-07新改版 */
.n-banner{width: 100%;min-width:1200px;height: 520px;}
.n-banner .top{width: 1200px;margin-left: auto;margin-right: auto;padding-top: 20px;}
.n-banner .top .logo{width: 130px;height: 47px;display: block;background: url(../../images/v4.0/index_icons.png) 0 -109px no-repeat;float: left;}
.n-banner .top .right-box{float: right;}
.n-banner .top .right-box a{color: #fff;font-size: 14px;margin-left: 20px;line-height: 36px;}
.n-banner .top .right-box .app-download{width: 155px;height: 36px;position: relative;display: block;float:right;background: url(../../images/v4.0/index_icons.png) -168px -119px no-repeat;}
.n-banner .top .right-box .app-download:hover{background-color: rgba(255,255,255,.3);}
.w-wrapper{width: 1200px;margin-left: auto;margin-right: auto;}
.n-banner .w-wrapper{overflow: hidden;padding-left: 40px;width: 1160px;}
/*
.n-banner .text{width: 676px;height: 138px;background: url(../../images/v4.0/index_text.png) 0 0 no-repeat;margin-top: 115px;}
*/
.n-banner .w-wrapper .enter-btn{width: 200px;height: 60px;display: block;border-radius: 5px;background-color: #4ca834;color: #fff;font-size: 20px;text-align: center;line-height: 60px;margin-top: 280px;}
.n-banner .w-wrapper .enter-btn:hover{background-color: #268a00;}
.n-banner .w-wrapper .download-btn{margin-top: 13px;color: #fff;font-size: 12px;padding-left: 26px;background: url(../../images/v4.0/index_icons.png) -351px -127px no-repeat;line-height: 20px;display: block;}
.zhiye{padding: 40px 0 60px;border-bottom: 1px solid #e4e4e4;text-align: center;}
.zhiye .title{color: #4c4948;font-size: 38px;text-align: center;font-weight: bold;}
.zhiye .type{margin-top: 70px;}
.zhiye .type li{width: 25%;float: left;}
.zhiye .type li .ico{width: 93px;height: 92px;display: block;background: url(../../images/v4.0/index_icons.png) 0 0 no-repeat;margin-left: auto;margin-right: auto;}
.zhiye .type li .ico2{background-position: -105px 4px;}
.zhiye .type li .ico3{background-position: -203px 4px;}
.zhiye .type li .ico4{background-position: -305px 16px;}
.zhiye .type li span{color: #999;font-size: 14px;display: block;line-height: 25px;text-align: center;}
.zhiye .type li span.s1{color: #333;font-size: 18px;margin-top: 20px;}
.zhiye .consult{height: 56px;padding: 0 15px;border:1px solid #4da635;border-radius: 3px;text-align: center;line-height: 54px;color: #4da635;font-size:18px;display: inline-block;margin: 60px auto 0;}

.dl-jwapp{width: 148px;padding: 10px 0;border:1px solid #ddd;position: absolute;top:50px;left: -10px;background-color: #fff;text-align: center;display: none;}
.dl-jwapp i{width: 20px;height: 12px;display: block;background: url(../../images/v4.0/images/arrow_up2.png) 0 0 no-repeat;position: absolute;top:-11px;left: 40px;}
.dl-jwapp span{color: #666;font-size: 12px;display: block;line-height: 18px;}
.dl-jwapp img{width: 108px;margin-top: 10px;}
.n-banner .top .right-box .app-download:hover .dl-jwapp{display: block;}