body {  font-family: "\5B8B\4F53", tahoma, verdana;  font-size: 62.5%;}
a {  outline: 0;color:#666;}
a:hover{color:#f60;}
.center {
  margin: 0 auto;
}
li{list-style-position:outside;}
.inb {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.wrap {
  width: 1180px;
  margin: 0 auto;
}
.icon {
  vertical-align: middle;
  background-image: url(img/icon.png);
  background-repeat: no-repeat;
}
.v {
  margin: 0 6px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 3px;
  height: 28px;
  vertical-align: middle;
  background-image: url(img/icon.png);
  background-repeat: no-repeat;
  background-position: -50px -2px;
}
.graydot {
  margin-right: 5px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 3px;
  height: 28px;
  vertical-align: middle;
  background-image: url(img/icon.png);
  background-repeat: no-repeat;
  background-position: 0 -419px;
}
.header {
  font-size: 12px;
}
.header .topbar {
  height: 28px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #dfdfdf;
  line-height: 28px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;
}
.header .topbar a {
  color: #666666;
}
.header .topbar .icon-svline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 4px;
  width: 3px;
  height: 28px;
  vertical-align: middle;
  background-image: url(img/icon.png);
  background-repeat: no-repeat;
  background-position: 0 -2px;
}
.header .topbar .icon-weixin {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 15px;
  width: 58px;
  padding-left: 28px;
  height: 28px;
  vertical-align: middle;
  background-image: url(img/icon.png);
  background-repeat: no-repeat;
  background-position: 4px -28px;
  color: #f60;
  border: 1px solid #f7f7f7;
  border-top: none;
  border-bottom-color: #dfdfdf;
  cursor: pointer;
}
.header .topbar .icon-weixin div {
  display: none;
  position: absolute;
  left: -1px;
  top: 29px;
  width: 265px;
  padding-bottom: 5px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  color: #666;
  line-height: 24px;
}
.header .topbar .icon-weixin div img {
  float: left;
  margin: 5px 10px 5px 5px;
}
.header .topbar .icon-weixin div em {
  color: #f00;
  font-size: 16px;
  line-height: 28px;
}
.header .topbar .hover {
  width: 58px;
  background-color: #fff;
  border-color: #ccc;
  border-bottom-color: #fff;
}
.header .logo {
  clear: both;
  height: 90px;
  margin: 8px 0;
}
.header .logo #logo {
  width: 230px;
  height: 90px;
}
.header .logo .gg-top {
  width: 930px;
  height: 90px;
}
.header .logo .gg-channel-top {
  width: 770px;
  height: 80px;
  padding-top:6px;
  overflow:hidden;
}
.header .logo .channel-name{
  float:left;
  padding-left:16px;
  font:36px/80px "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;;
  color:#c60;
  background:url(img/vline.gif) no-repeat 0 0;
}
.nav {
  clear: both;
  height: 70px;
  min-width:1180px;
  background-color: #cc6600;  
}
.nav li {
  float: left;
  height: 70px;
  padding-right: 24px;
  vertical-align: middle;
  background-image: url(img/icon.png);
  background-repeat: no-repeat;
  background-position: right -56px;
  white-space: nowrap;
}
.nav .first {
  width: 305px;
}
.nav .second {
  width: 470px;
}
.nav .last {
  padding-right: 0;
  background-image: none;
}
.nav a {
  line-height: 34px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;
}
.nav a:hover {
  color: #ff0;
  text-decoration: none;
}
.nav dt {
  float: left;
  clear: left;
}
.nav dd {
  float: left;
}
.nav dt a {
  margin-right: 3px;
  font-size: 18px;
  color: #ff0;
}
.nav dd a {
  margin: 0 10px;
  color: #fff;
  font-size: 14px;
}
.channel-nav{margin-bottom:10px;}
.channel-nav .wrap{background-color:#c60;}
.channel-nav dl{position:relative;padding-left:100px;}
.channel-nav dt{position:absolute;left:0;top:0;width:100px;width:100px;text-align:center;vertical-align:middle;}
.channel-nav dt a{margin:0 8px;color:#fff;font:16px/35px "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;vertical-align:middle;}
.channel-nav dd{overflow:hidden;float:left;position:relative;vertical-align:middle;padding-left:6px;background:url(img/line.gif) no-repeat 0 0;}
.channel-nav dd a{margin:0 6px;color:#fff;font:14px/36px "\5B8B\4F53", arial;white-space:nowrap;}
.channel-nav dd .gap{position:absolute;right:0;top:0;width:220px;height:100%;padding-left:10px;white-space:nowrap; background:url(img/line.gif) no-repeat 8px 0;}
.channel-nav a:hover{color:#ff0;text-decoration:none;}
.plus {
  height: 38px;
  margin-bottom: 10px;
  font-size: 12px;
}
.plus .plus-content {
  height: 36px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-top: none;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  /* selectbox */
}
.plus .plus-content .plusL {
  width: 660px;
  overflow: hidden;
}
.plus .plus-content .subLink {
  float: left;
  padding-left: 10px;
  padding-top: 8px;
}
.plus .plus-content .subLink a {
  color: #333;
}
.plus .plus-content .subLink a:hover {
  color: #f60;
}
.plus .plus-content .subLink .v {
  margin: 0 5px;
}
.plus .plus-content .subLink .curr {
  font-weight: bold;
}
.plus .plus-content .tri {
  float: left;
  height: 36px;
  margin-right: 3px;
  background-color: #d9d9d9;
  vertical-align: middle;
  background-image: url(img/icon.png);
  background-repeat: no-repeat;
  background-position: right -127px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;
  font-size: 14px;
  line-height: 36px;
  color: #333;
  padding: 0 12px 0 6px;
}
.plus .plus-content .scrollNews {
  position: relative;
  width: 570px;
  height: 36px;
  overflow: hidden;
  float:left;
}
.plus .plus-content #scrollNewsInHome {
  position: absolute;
}
.plus .plus-content #scrollNewsInHome li {
  float: left;
  margin-right: 20px;
}
.plus .plus-content #scrollNewsInHome a {
  color: #333;
  line-height: 36px;
}
.plus .plus-content #scrollNewsInHome a:hover {
  color: #f60;
}
.plus .plus-content .extra-s {
  width: 510px;
  padding-top: 3px;
}
.plus .plus-content .ui-search-input {
  height: 28px;
  border: 1px solid #dadfe2;
  border-left: none;
}
.ui-search-input {height: 28px;  border: 1px solid #dadfe2;}
.ui-search-input input {
  width: 150px;
  padding: 4px 0 4px 8px;
  border: 0 none;
}
.ui-search-btn input {
  margin-right: 6px;
  display: block;
  width: 54px;
  height: 30px;
  background: url(img/ui-search-btn.gif) no-repeat 0 0;
  cursor: pointer;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
}
.ui-search-hot {
  color: #999;
  line-height: 28px;
}
.ui-search-hot strong {
  color: #f00;
}
.ui-search-hot a {
  color: #999;
}
.ui-search-hot a:hover {
  color: #f00;
}
.ui-search-label{margin:0 5px;font:14px/28px "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;}
.pd-l{padding-left:10px;}
.selectBox {  width: 80px;}
.selectBox a {
  display: block;
  background: url(img/selectBG.gif) left top;
  padding-left: 10px;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  color: #555;
}
 .selectBox a:hover {
  text-decoration: none;
}
.selectBox a:hover.open,.selectBox a.open {
  background-position: 0 -60px;
}
.selectBox p {
  margin: -1px 0 0 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 999;
  width: 78px;
  padding-bottom: 2px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.selectBox p a {
  height: 24px;
  background: none;
  line-height: 24px;
  border-bottom: 1px dotted #ddd;
}
.selectBox p a:hover {
  color: #c60;
}
.main {
  font-size: 12px;
}
.main .h2 {
  position: relative;
  display: block;
  font-size: 16px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;
  line-height: 32px;
}
.main .more {
  position: absolute;
  right: 10px;
  color: #666;
  font-size: 12px;
  font-family: "\5B8B\4F53";
}
.main .more:hover {
  text-decoration: none;
  color: #f00;
}
.main .wrap{margin-bottom:10px;}
.main .col1 {
  width: 810px;
  padding-top: 6px;
  border-top: 1px solid #ddd;
  _overflow:hidden;
}
.main .col1 .w307 {
  margin-left: 8px;
  width: 307px;
}
.main .col1 .w307 .jrdd {
  margin-top: 5px;
}
.main .col1 .w307 .jrdd .h2 {
  height: 32px;
  font-size: 14px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.main .col1 .w307 .jrdd .h2 a {
  margin-left: 8px;
  color: #f60;
}
.main .col1 .w307 .jrdd li {
  margin: 4px 0;
  padding-left: 8px;
  line-height: 24px;
  vertical-align: middle;
  background-image: url(img/icon.png);
  background-repeat: no-repeat;
  background-position: 3px -419px;
}
.main .col1 .w307 .jrdd li a {
  margin-left: 5px;
  font-size: 14px;
  color: #666;
}
.main .col1 .w307 .jrdd li a:hover {
  color: #f60;
}
.main .col1 .w307 .jijin .h2 {
  margin-bottom: 5px;
  height: 32px;
  line-height: 32px;
  color: #f60;
  vertical-align: middle;
  background-image: url(img/icon.png);
  background-repeat: no-repeat;
  background-position: 0 -619px;
  border-bottom: 1px solid #f1f1f1;
}
.main .col1 .w307 .jijin .h2 a {
  margin: 0 3px;
  color: #f60;
  font-size: 14px;
}
.main .col1 .w307 .jijin dt {
  float: left;
  width: 38px;
  height: 28px;
  vertical-align: middle;
  background-image: url(img/icon.png);
  background-repeat: no-repeat;
  background-position: 0 -190px;
}
.main .col1 .w307 .jijin dt a {
  display: block;
  line-height: 25px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.main .col1 .w307 .jijin dt a:hover {
  text-decoration: none;
  color: #ff0;
}
.main .col1 .w307 .jijin dd {
  margin-top: -1px;
  margin-bottom: 10px;
  float: left;
  padding-left: 5px;
  width: 260px;
}
.main .col1 .w307 .jijin dd a {
  float: left;
  margin-right: 7px;
  line-height: 24px;
  color: #666;
  font-size: 14px;
  white-space: nowrap;
}
.main .col1 .w307 .jijin dd a:hover {
  color: #f60;
}
.main .col1 .w465 {
  width: 465px;
}
.main .col1 .w465 .h2 {
  margin-bottom: 5px;
  height: 38px;
  border-bottom: 1px solid #e1e1e1;
  line-height: 38px;
}
.main .col1 .w465 a {
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;
}
.main .col1 .w465 .hotest a {
  font-size: 24px;
  color: #f00;
}
.main .col1 .w465 .hotest p {
  line-height: 24px;
  color: #666;
}
.main .col1 .w465 .recommend {
  margin: 15px 0 10px 0;
  height: 32px;
  border: 1px solid #e1e1e1;
  border-left: 0;
  border-right: 0;
  line-height: 32px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;
}
.main .col1 .w465 .recommend strong {
  margin-right: 5px;
  color: #666;
  font-size: 14px;
}
.main .col1 .w465 .recommend a {
  margin: 0 5px;
  color: #c60;
  font-size: 12px;
}
.main .col1 .w465 .recommend a:hover {
  color: #f00;
  text-decoration: none;
}
.main .col1 .w465 .toutiao li {
  margin-bottom: 10px;
  padding-bottom: 12px;
  border-bottom: 1px dotted #e1e1e1;
}
.main .col1 .w465 .toutiao .last {
  border: 0;
  margin-bottom: 0;
}
.main .col1 .w465 .toutiao a {
  font-size: 18px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;
  color: #333;
}
.main .col1 .w465 .toutiao a:hover {
  color: #f60;
}
.main .col1 .w465 .toutiao p {
  line-height: 24px;
  color: #666;
  font-size: 12px;
}
.main .col1 .gg-text {
  clear: both;
  padding: 15px 0;
  border-top: 1px solid #f1f1f1;
}
.main .col1 .gg-text .g-img {
  width: 160px;
  overflow: hidden;
}
.main .col1 .gg-text .g-img img {
  display: block;
  margin-bottom: 10px;
  width: 160px;
  height: 60px;
}
.main .col1 .gg-text .text {
  width: 642px;
}
.main .col1 .gg-text .text li {
  float: left;
  width: 33%;
  overflow: hidden;
}
.main .col1 .gg-text .text li a {
  display: block;
  margin-bottom: 2px;
  _margin-bottom: 6px;
  line-height: 26px;
  color: #666;
  white-space: nowrap;
}
.main .col1 .gg-text .text li a:hover {
  color: #f60;
}
.main .col1 .gg-text .text li a:hover b {
  text-decoration: none;
}
.main .col1 .gg-text .text li a b {
  margin-right: 5px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: #eee;
  color: #999;
  font-weight: normal;
}
.main .col1 .gg-text .text li a .hot {
  background: #f60;
  color: #fff;
}
.col3 {
  width: 355px;
}
.col3 .w355 {
  position: relative;
  margin-bottom: 9px;
  width: 349px;
  padding: 2px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-top: 2px solid #e1e1e1;
  box-shadow: 0px 2px 0px 0px #ebebeb;
}
.col3 .w355 .h2 {
  margin-bottom: 5px;
  padding-left: 5px;
  border-bottom: 1px solid #f1f1f1;
}
.col3 .blue {
  border-top-color: #09f;
}
.col3 .orange {
  border-top-color: #f60;
}
.col3 .slide {
  border-top-width: 1px;
}
.col3 .slide a{float:left;width:349px;}
.col3 .recomIndex {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 32px;
}
.col3 .recomIndex a {
  float: left;
  margin: 5px 3px 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #ddd;
  color: #333;
}
.col3 .recomIndex a:hover {
  text-decoration: none;
  background-color: #09f;
  color: #fff;
}
.col3 .recomIndex .curr {
  background-color: #09f;
  color: #fff;
}
.col3 .recomCon li {
  display: none;
}
.col3 .recomCon li.curr {
  display: block;
}
.col3 .recomCon img {
  float: left;
}
.col3 .ulType {
  padding: 3px 5px 5px;
}
.artType1 {
  padding: 3px 5px 5px;
}
.artType1 .h3 {
  margin-bottom: 8px;
  font-size: 14px;
}
.artType1 .h3 a {
  color: #333;
}
.artType1 .h3 a:hover {
  color: #f60;
}
.artType1 img {
  float: left;
  margin-right: 10px;
  width: 90px;
  height: 60px;
}
.artType1 p {
  color: #666;
  line-height: 22px;
}
.artType2 {
  padding: 3px 5px 5px;
}
.artType2 img {
  float: left;
  margin-right: 10px;
  width: 82px;
  height: 82px;
}
.artType2 p {
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;
  font-size: 14px;
}
.artType2 strong {
  color: #f00;
}
.ulType {
  padding: 3px 5px 5px 0;
}
.ulType li {
  margin: 1px 0;
  padding-left: 20px;
  vertical-align: middle;
  background-image: url(img/icon.png);
  background-repeat: no-repeat;
  background-position: 2px -219px;
  line-height: 24px;
  white-space: nowrap;
  list-style-position:outside;
}
.ulType li a {
  color: #666;
  font-size: 14px;
}
.ulType li a:hover {
  color: #f60;
}
.bd-t {
  border-top: 1px solid #f1f1f1;
}
.gg-full {
  margin: 10px 0;
}
.gg-full img {
  width: 1180px;
}
.subNav {
  width: 100%;
  margin-bottom: 2px;
  padding-top: 13px;
  height: 35px;
  overflow: hidden;
  background: url(img/subnav.jpg) repeat-x 0 0;
  line-height: 40px;
}
.subNav img {
  margin-left: 8px;
  margin-right: 25px;
}
.subNav a {
  color: #09c;
  font-size: 14px;
}
.subNav a:hover {
  color: #f60;
}
.subNav .more {
  margin-left: 30px;
  position: static;
  color: #999;
  font-size: 12px;
}
.pd {
  padding: 6px 25px 10px 10px;
}
.pd2 {
  padding: 6px 10px 10px 25px;
}

.w50 {
  width: 49.6%;
}
.bd-r {
  border-right: 1px solid #f1f1f1;
}
.artType3 {
  margin-bottom: 12px;
}
.artType3 .h3 {
  margin-bottom: 6px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;
  font-size: 16px;
}
.artType3 .h3 a {
  color: #333;
}
.artType3 .h3 a:hover {
  color: #f60;
}
.artType3 p {
  color: #999;
  line-height: 24px;
}
.artType3 p a {
  color: #f00;
}
.artType3 p img {
  width: 85px;
  height: 60px;
  float: left;
  margin-right: 8px;
}
.artType4 {
  clear: both;
  text-align: center;
}
.artType4 .tuwen {
  margin-right: 20px;
  margin-bottom: 10px;
  width: 120px;
  padding: 10px 10px 2px;
  border: 1px solid #ddd;
  line-height: 24px;
}
.artType4 .tuwen a {
  color: #333;
}
.artType4 .tuwen a:hover {
  text-decoration: none;
  color: #f60;
}
.artType4 .tuwen img {
  border: 1px solid #ddd;
}
.artType4 .tuwen span {
  display: block;
}
.artType4 li {
  line-height: 26px;
  text-align: left;
}
.artType4 li a {
  color: #666;
}
.artType4 li a:hover {
  color: #f60;
}
.newsTitle {
  margin-top: 12px;
  width: 100%;
  height: 32px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #f1f1f1;
  color: #999;
  line-height: 32px;
  position:relative;
}
.newsTitle strong {
  margin: 0 10px 0 5px;
}
.newsTitle strong a {
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;
  font-size: 18px;
  color: #eb604c;
}
.newsTitle strong a:hover {
  color: #f60;
  text-decoration: none;
}
.newsTitle a {
  color: #999;
}
.newsTitle a:hover {
  color: #f60;
}
.newsTitle span {
  margin: 0 6px;
  font-size: 5px;
}
.gg-col1 {
  clear: both;
}
.gg-col1 img {
  width: 810px;
}
.tab .tuwen {
  width: 130px;
  border: 0;
  padding: 5px;
}
.tab .tuwen img {
  width: 130px;
  height: 85px;
}
.tab .artType4 li {
  line-height: 24px;
}
.tab .tabCon .more {
  line-height: 42px;
  top: 0;
  right: 10px;
}
.tab .tabIndex {
  height: 36px;
  background: url(img/icon.png) repeat-x 0 -819px;
}
.tab .tabIndex a {
  margin-top: -1px;
  float: left;
  height: 38px;
  padding: 0 8px;
  font-size: 16px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;
  color: #333;
  line-height: 37px;
  border-left: 1px solid #fcfcfc;
  border-right: 1px solid #fcfcfc;
}
.tab .tabIndex a:hover {
  color: #f60;
  text-decoration: none;
}
.tab .tabIndex .curr {
  background: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.tab .tabIndex .curr:first-child{border-left-color:#fff;}
.tab .tabCon {
  display: none;
}
.tab .curr {
  display: block;
}
.noicon li {
  padding-left: 3px;
  background: none;
}
.ulType2 li {
  float: left;
  width: 49.6%;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
}
.ulType2 li img {
  width: 126px;
  height: 90px;
}
.ulType2 li span {
  display: block;
  padding: 0 24px;
}
.ulType2 li a {
  color: #666;
}
.ulType2 li a:hover {
  color: #f60;
}
.ztImg {
  width: 325px;
  height: 120px;
  margin: 5px auto;
}
.ulType3 ul {
  margin: 5px;
}
.ulType3 li {
  margin: 2px 0;
  height: 30px;
  line-height: 30px;
}
.ulType3 li b {
  float: left;
  margin-top: 4px;
  margin-right: 10px;
  width: 21px;
  height: 21px;
  text-align: center;
  background-color: #ddd;
  line-height: 22px;
  font-family: tahoma;
  color: #666;
}
.ulType3 li .hot-top {
  background-color: #c00;
  color: #fff;
}
.ulType3 li a {
  color: #666;
  font-size: 14px;
}
.ulType3 li a:hover {
  color: #f60;
}
.friendlink {
  margin-bottom: 12px;
  width:100%;
  border: 1px solid #ddd;
}
.friendlink .h2 {
  position: relative;
  padding: 0 8px;
  font-size: 14px;
  border-bottom: 1px solid #f1f1f1;
  background-color: #fff;
}
.friendlink .h2 .more {
  right: 10px;
}
.friendlink .flinkCon {
  padding: 0px 14px;
}
.friendlink .flinkCon a {
  color: #666;
  line-height: 37px;
}
.friendlink .flinkCon a:hover {
  color: #f60;
}
.footer {
  font-size: 12px;
  padding-top: 8px;
  min-width:1180px;
  border-top: 1px solid #ddd;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 27px;
  color: #666;
}
.footer a {
  color: #555;
  font-size: 14px;
}
.footer a:hover {
  color: #f60;
}
.list {
  margin-bottom: 12px;
}
.list .col1 {
  border: 1px solid #ddd;
}
.list .col1 .h2 {
  padding-left: 8px;
  border-bottom: 1px solid #ddd;
}
.list .newslist {
  padding: 12px;
}
.list .newslist li {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #f1f1f1;
  color: #999;
}
.list .newslist li a {
  font-size: 18px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;
  color: #333;
}
.list .newslist li a:hover {
  color: #f60;
}
.list .newslist li .date {
  display: block;
}
.list .gg-list {
  width: 345px;
}
.pagenation {
  margin: 12px 0;
  text-align: center;
}
.pagenation ul{width:100%;text-align:center;}
.pagenation li{float:none;display: inline-block;  *display: inline;  *zoom: 1;margin:0 3px;line-height:28px;font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;color: #333;}
.pagenation a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 24px;
  background-color: #fff;
  padding: 0 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 24px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;
  color: #333;
}
.pagenation a:hover {
  background-color: #c60;
  color: #fff;
  text-decoration: none;
}
.pagenation .curr {
  background-color: #c60;
  color: #fff;
  text-decoration: none;
}
.breadcrumb {
  width: 776px;
  height: 32px;
  line-height: 32px;
  padding-left: 34px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
  background: url(img/icon.png) no-repeat 6px -915px;
  color: #666;
  box-shadow: 0px 2px 0px 0px #ebebeb;
}
.breadcrumb a {
  color: #666;
}
.breadcrumb a:hover {
  color: #f60;
}
.final .col1 {
  margin-bottom: 12px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 0px 0px #ebebeb;
}
.final .col3 {
  margin-top: -45px;
}
.article {
  padding: 18px 24px;
}
.article .artTitle {
  font-size: 24px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;
  text-align: center;
  color: #333;
}
.article .artDate {
  padding-bottom: 12px;
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
  color: #666;
}
.gg-4 {
  width: 330px;
  height: 230px;
  float: right;
  margin: 0 0 12px 12px;
}
.gg-3 {
  margin-bottom: 10px;
  padding-bottom: 8px;
  border-bottom: 1px dashed #e1e1e1;
  text-align: center;
}
.gg-5 {
  overflow: hidden;
  padding: 10px 0;
  _width: 758px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.gg-6 {
  margin: 12px 0;
}
.gg-6 img {
  max-width: 100%;
}
.articleCon {
  font-size: 14px;
  color: #333;
  line-height: 27px;
  min-height:300px;
  _height:300px;
}
.articleCon .multipage {
  padding: 24px 0;
  text-align: center;
}
.articleCon .multipage a {
  color: #333;
}
.articleCon .multipage a:hover {
  color: #f60;
}
.articleFoot .tip {
  margin-bottom: 12px;
  padding: 14px 0;
  border-top: 1px dashed #e1e1e1;
  border-bottom: 1px solid #f1f1f1;
  color: #666;
  line-height: 24px;
  min-height:24px;
  _height:24px;
}
.tip .fn-left{margin-right:2em;}
.articleFoot .warn {
  clear: both;
  background: #fc9;
  line-height: 30px;
  text-indent: 8px;
}
.relateNews .relateTitle {
  display: block;
  width: 66px;
  height: 15px;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  background: url(img/icon.png) no-repeat 0 -968px;
  font-weight: normal;
  text-indent: 6px;
}
.relateNews ul {
  margin: 12px 0;
}
.relateNews li {
  float: left;
  width: 49.6%;
  font-size: 14px;
}
.relateNews li a {
  color: #666;
}
.relateNews li a:hover {
  color: #f60;
}
.relateNews2 {
  padding-top: 8px;
  border-top: 1px solid #f1f1f1;
  color: #333;
  font-size: 14px;
}
.relateNews2 dt {  margin: 5px 0;}
.relateNews2 dd {  font-size: 14px;}
.relateNews2 dd a {  color: #666;}
.relateNews2 .bd-r {  border-right-style: dashed;}
.bdsharebuttonbox{float:right;}

/*channel*/
.w396{width:396px;padding:2px;border:1px solid #f1f1f1;	}
.w400{width:400px;}
.channel-hot{margin-bottom:10px;text-align:center;}
.channel-hot .h2{line-height:32px;}
.channel-hot .h2 a{color:#333;}
.channel-hot p{margin:0 0 0.8em;text-align:left;text-indent:2em;color:#999;}
.align-c{text-align:center;}
.channel-hot .align-c{color:#666;}
.channel-hot .align-c a{color:#666;}
.channel-hot .align-c a:hover{color:#f60;}
.w400 .bd-t{border-top-style:dashed;padding-left:10px;}

.bank-nav{position:absolute;top:0;left:100px;width:710px;}
.bank-nav .prev,.bank-nav .next{position:absolute;width:24px;height:20px;top:5px;background-image:url(img/icon.png);background-repeat:no-repeat;text-indent:-999em;overflow:hidden;}
.bank-nav .prev{left:0;background-position:-100px 0;}
.bank-nav .next{right:0;background-position:-150px 0;}
.bank-name{width: 660px;overflow: hidden;position: relative;margin: 0 auto;}
.bank-name ul{white-space:nowrap;}
.bank-name li{display:inline-block;*display:inline;*zoom:1;margin:0 3px;_margin:0 2px;width:60px;text-align:center;}
.bank-name li a{text-decoration:none;}
.bank-name li a:hover{color:#fff;text-decoration:none;}
.bank-name .curr{background:url(img/bank-nav.gif) no-repeat 50% 5px;}
.bank-name .curr a{color:#fff;}
.bank-con-wrap{margin:6px 0;}
.bank-con{display:none;}
.bank-con .row{padding:6px 10px;background-color:#eee;}
.bank-txt{width:180px;}
.bank-card{width:605px;}
.bank-card dl{height:160px;background:#fff;}
.bank-card dt{float:left;width:25px;height:142px;padding-top:18px;background:#fc9;text-align:center;font:14px/18px arial;color:#666}
.bank-card dd{position:relative;padding-top:30px;float:left;width:580px;overflow:hidden;}
.bank-card dd ul{white-space:nowrap;}
.bank-card dd li{display:inline-block;*display:inline;*zoom:1;width:105px;margin:0 20px; height:130px;text-align:center;}
.bank-card dd li img{display:block;}
.bank-card dd li a{color:#666;}
.tabPage {position:absolute;right:10px;top:10px;}
.tabPage em{float:left;margin:0 6px;width:6px;height:9px;cursor:pointer;}
.tabPage .prev{background:url(img/card_prev.gif) no-repeat 0 0;}
.tabPage .next{background:url(img/card_next.gif) no-repeat 0 0;}

.darkred{color:#c00;}
.bank-txt strong{display:block;margin-bottom:1em;color:#333;font:14px/26px "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;}
.bank-txt strong img{margin-right:3px;vertical-align:middle;width:25px;height:25px;}
.bank-txt a{color:#666;}
.bank-txt li{padding-left:10px;background:url(img/icon.png) no-repeat 0 -420px;line-height:24px;}
.bank-msg{margin-top:10px;}
.bank-msg li{margin-bottom:6px;width:33.3%;float:left;line-height:23px;}
.bank-msg li em{margin-right:5px;display:inline-block;*display:inline;*zoom:1;padding:0 3px;border:1px solid #e6e6e6;background:#f1f1f1;color:#666;}
.bank-msg li:hover em{background:#fc9;color:#333;}
.bank-msg li a{color:#666;}
.bank-msg li a:hover{color:#f60;}

.font12 li a{font-size:12px;}
.font12 li{margin:2px 0;padding-left:10px;background:url(img/icon.png) no-repeat 0 -419px;}
.newslist2{margin:1em 2em;}
.newslist2 li{margin:4px 0;padding-left:10px;height:24px;line-height:24px;color:#666;background:url(img/icon.png) no-repeat 0 -419px;}
.newslist2 a{float:left;font:14px/24px "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;color:#666;}
.newslist2 a:hover{color:#f60;}
.newslist2 .time{float:right;color:#999;}
.bd-b{padding-bottom:12px;margin-bottom:12px;border-bottom:1px dashed #f1f1f1;}
.bd-btm{margin-bottom:8px;border-bottom:1px solid #f1f1f1;}

.tabScroll{width:360px;overflow:hidden;position:relative;padding-top:26px;}
.tabScrollIndex{position:absolute;right:-6px;top:5px;line-height:26px;}
.tabScrollIndex em{margin:0 6px;float:left;width:15px;height:15px;background-image:url(img/icon.png);cursor:pointer;}
.tabScrollIndex .prev{background-position:-200px top;}
.tabScrollIndex .next{background-position:-250px top;}
.tabScrollWrap{white-space:nowrap;display:block;}
.tabScrollWrap li{display:inline-block;*display:inline;*zoom:1;width:190px;text-align:center;}
.tabScrollWrap li img{display:block;margin:0 auto;width:180px;height:100px;}
.tabScrollWrap li a{line-height:30px;color:#666;}
.tabScrollWrap li a:hover{color:#f60;}

.dlType{padding:0 6px;color:#666;line-height:28px;}
.dlType dt{margin-top:1em;font:14px/30px "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", arial;color:#333;text-align:center;border-top:1px dashed #e1e1e1;}
.dlType dt:first-child{margin-top:0;border-top:none;}
.dlType dt.first{_margin-top:0;_border-top:none;}
.dlType dd{margin:2px 0;}

.dlType dd:nth-child(odd){background-color:#f5f5f5;}
.dlType dd:hover{background-color:#cff;}
.dlType dd a{white-space:nowrap;}
.c-o{color:#f60;}
.nobd{border:0 none;}
.nopd{padding:0;}
.main .nobd{border:0 none;}
.main .nopd{padding:0;}
.w520{width:520px;height:310px;margin-bottom:10px;border:1px solid #ddd;border-left:none;border-right:none;}
.w280{width:280px;margin-bottom:10px;height:310px;border:1px solid #ddd;}
.zhishi{}
.zhishi li{padding:5px 0;_padding:2px 0;height:40px;border-bottom:1px dashed #ddd;}
.zhishi li:last-child{border:none;}
.zhishi dt{float:left;margin-left:5px;width:105px;height:35px;background:#f33;line-height:32px;text-align:center;}
.zhishi dt a{font:16px/35px "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53";color:#fff;}
.zhishi dt a:hover{color:#ff0;}
.zhishi dd{float:right;margin-top:-3px;width:390px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#666;}
.zhishi dd a{font:14px/21px "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53";color:#333;}
.w280 .bd-b{padding:0;margin-bottom:0px;border-bottom-style:solid;}
.w280 .h2{padding-left:8px;}
.aList{padding:6px 5px;}
.aList a{margin:0 5px;line-height:26px;word-break:break-all;}
.w40{width:35.5%;text-overflow:ellipsis;}
.w24{width:27.5%;margin:0 1%;text-overflow:ellipsis;}
.w35{width:34.9%;text-overflow:ellipsis;}
.bd-lr{border:1px solid #f1f1f1;border-top:none;border-bottom:none}
.box{margin-bottom:10px;border:1px solid #ddd;-webkit-transition:all 300ms;overflow:hidden;text-overflow:ellipsis;}
.box:hover{box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);z-index:9;}
.box .h2{margin:0 0 3px 0;padding-left:5px;border-bottom:1px solid #f1f1f1;}
.box .ulType,.w280 .ulType{padding:3px 5px 5px 5px;}

.w440{width:440px;}
.goldbrand{}
.goldbrand .h2{height:36px;border-bottom:1px solid #ccc;font-size:18px;color:#900;}
.goldbrand .h2 strong{font-size:24px;}
.goldbrand .h2 li{float:left;margin:4px 0 0 5px;}
.goldbrand .h2 li a{font:12px/32px arial;color:#666;}
.goldbrand .h2 li a:hover{color:#f60;text-decoration:none;}

.goldbrand-list{}
.goldbrand-list a{float:left;margin:5px 0;width:100px;height:30px;text-align:center;margin-right:10px;font:14px/30px arial;background:#f6f6f6;}
.goldbrand-list a:hover{background:#900;color:#fff;text-decoration:none;}
.swhj{margin-top:6px;height:32px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#f6f6f6;}
.swhj dt{background:#900;text-align:center;float:left;width:82px;line-height:32px;font-family:"\5FAE\8F6F\96C5\9ED1";color:#fff;font-size:16px;}
.swhj dd{float:left;line-height:32px;}
.swhj dd a{margin:0 8px;}
.mr10{margin-right:10px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.w350{width:350px;}
.w350 .relateNews ul{margin:0 0 6px 0;border-bottom:1px dashed #ccc;}
.w350 .relateNews a{font-size:12px;color:#999;}
.nav-goldType{margin:6px 0;}
.nav-goldType a{margin:0 6px;color:#c00;font-weight:bold;}
.w33{width:32.5%;}
.w55{width:54.5%;}
.w45{width:44.2%}

.goldprice .box{}
.goldprice .w50{width:49.2%;}
.goldprice .box .h2{}
.w55 .orange{border-top:2px solid #f90;}
.w55 .blue{border-top:2px solid #09f;}

.ui-calc-form{font:14px/32px "\5FAE\8F6F\96C5\9ED1";}
.ui-calc-form li{height:32px;width:100%;}
.ui-calc-label,.ui-calc-input{float:left;}
.ui-calc-label{margin-left:15px;margin-right:8px;width:80px;text-align:right;}
.ui-calc-input{height:26px;border:1px solid #ddd;}
.ui-calc-button{margin-left:103px;padding:0 10px;border:0 none;background:#f60;color:#fff;line-height:26px;font-size:12px;cursor:pointer;}

#starIframe_wrapper_1 iframe{margin:0 auto;}

.w375{width:375px;}
.uline{margin-bottom:10px;background:url(img/uline.gif) no-repeat 0 bottom;}
.dlType2{}
.dlType2 dt{margin:10px 0 5px 0;font:18px/28px "\5FAE\8F6F\96C5\9ED1";white-space:nowrap;}
.dlType2 dt a{color:#333;}
.dlType2 dd{margin-bottom:5px;padding-bottom:5px;border-bottom:1px dashed #ccc;color:#999;font-size:14px;}

.w395{width:395px;}
.focus{width:395px;height:195px;position:relative;}
.focus img{width:395px;height:195px;}
.focus .bg{position:absolute;bottom:0;z-index:1;height:28px;width:100%;background:#000;filter:alpha(opacity=70); -moz-opacity:0.70; opacity:0.70;}
.focus .text{position:absolute;bottom:0;height:28px;padding:0 10px;z-index:2;color:#fff;font:14px/28px "\5FAE\8F6F\96C5\9ED1";white-space:nowrap;}
.h3{font:bold 16px/28px "\5FAE\8F6F\96C5\9ED1";}

.shuju-jj{}
.table{margin-bottom:10px;width:100%;font-family:"\5FAE\8F6F\96C5\9ED1";font-size:12px;line-height:28px;}
.table th{background:#fff4e4;text-align:center;}
.table td{font-size:12px;font-family:tahoma;text-align:center;line-height:28px;}
.table-border{border:1px solid #f1f1f1;}
.table-border td{border:1px solid #f1f1f1;border-collapse:collapse;}
.nowprice{margin-bottom:10px;clear:both;font-family:"\5FAE\8F6F\96C5\9ED1";color:#666;}
.nowprice .des{margin-left:10px;float:left;width:115px;color:#333;}
.nowprice .price{padding-left:20px;float:left;border-left:1px solid #d1d1d1;}
.nowprice .price span{float:left;width:40px;height:60px;background-image:url(img/updown.gif);text-indent:-99em;overflow:hidden;}
.nowprice .price strong{line-height:60px;font-size:32px;}
.down span{background-position:-40px 0;}
.down strong,.down em{color:#090;}
.up span{background-position:0 0;}
.up strong,.up em{color:#900;}
.eq span{background-position:-80px 0;}
.eq strong,.eq em{color:#666;}
.c-g{color:#090;}
.shuju-hj .table th{background:#ecf4fd;}

.dlType3{margin:0 8px;}
.dlType3 dl{color:#666;}
.dlType3 dt{margin-bottom:5px;color:#333;font:14px/25px "\5FAE\8F6F\96C5\9ED1";}
.dlType3 dt strong{display:block;padding:2px 10px;border:1px solid #f1f1f1;color:#f60;
	background: -webkit-linear-gradient(top, #eee, #ddd);
	background: -moz-linear-gradient(top, #eee, #ddd);
	background: -ms-linear-gradient(top, #eee, #ddd);
	background: -o-linear-gradient(top, #eee, #ddd);
}
.dlType3 dd{margin-bottom:2px;padding-bottom:2px;}
.half{}
.half li{float:left;width:49.6%;text-indent:1em;}
.w53{width:53%;}
.w47{width:45.5%;}
.company{margin:6px 0;text-align:center;}
.company li{display:inline-block;*display:inline;*zoom:1;vertical-align:top;width:23.5%;padding-left:1%;border-right:1px solid #ddd;text-align:left;}
.company strong{display:block;font:bold 14px Tahoma;color:#333;text-align:center;}
.company a{margin-right:10px;white-space:nowrap;text-indent:16px;}
.company .last{border-right:none 0;}
.dlType4{}
.dlType4 dt{margin-bottom:10px;*margin-bottom:0;font-size:16px;font-weight:normal;font-family:"Microsoft Yahei";text-align:center;}
.dlType4 dt a{color:#333;}
.dlType4 dt a:hover{color:#f60;text-decoration:none;}
.dlType4 dd{margin: 1px 0;padding: 0px; }
.dlType4 dd a{color:#666;width:315px;display:block;padding-left:20px;white-space: nowrap;font-size:14px;margin:0;text-overflow:ellipsis;overflow:hidden;background-image: url(img/icon.png);background-repeat: no-repeat;background-position: 3px -419px; }
.dlType4 dd a:hover{color:#f60;text-decoration:none;}
a{-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease;transition:all 0.3s ease;}a:hover{text-decoration:none;}

.shidian1111{
	padding-left: 10px;color: #f60;font-weight: bold;font-size: 14px !important;
}