@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 400;
  src: local('Domine'), local('Domine-Regular'), url(http://fonts.gstatic.com/s/domine/v4/4wfhKe93QxmsFlDQSCQ5wg.ttf) format('truetype');
}
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 700;
  src: local('Domine Bold'), local('Domine-Bold'), url(http://fonts.gstatic.com/s/domine/v4/BmiPqZorq0QiT-p6kf1paaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
