/* HOMEPAGE STYLES - HOME.CSS*/

#container {width:1180px;}
#masthead-container {width:1180px; position: relative;}

h2 { color: #000000; font-family: "Helvetica Neue",sans-serif; font-size: 2em; font-weight: 900; margin:0; }
h3 { font-family: "Helvetica Neue", sans-serif; font-size: 1.4em; font-weight: 900; margin: 13px 0; }
div.section-title h3 a {font-size:inherit; text-decoration: inherit; color:inherit;}

body.home {margin-top:0;}
body.home .site-brand { height:100px; padding:12px 0 5px; width:300px; }
body.home .footer .site-brand { height:50px; padding:12px 20px 5px; }

body.home .site-name a { padding-left:5px; }
.site-search { display:none; } 

.site-navigation { display:none; margin-right:30px; padding:23px 0 0 0;}
	.site-navigation ul { padding:0; }
	.site-navigation ul li { float:left; }

	.site-nav-more ul.primary li a {font-size:1em; padding:0 12px; font-weight:bold; text-decoration:none;}

	/*
	.site-navigation a { color:#000000; font-size:1em;   }
	.site-navigation a:hover { color:#dc0000; }
	.site-navigation .more-nav a {font-size:0.8em; color:#FFFFFF; line-height:3.1em; }*/

#masthead-inner {background:none;}
/*#masthead-inner .verticals-menu {display:none;}
#masthead-inner .verticals-menu img { width:20px; }*/

#masthead-inner .verticals-site-list ul li a { padding-top:2px; padding-left:22px; }
#masthead-inner .verticals-site-list ul li a { font-size:0.9em; display:block; }

#masthead-inner .beta-wrapper { margin-left:-728px; width:auto; height:100px; padding-top:0; } 
#masthead-inner .beta-wrapper .RC-AD-TOP-BANNER {margin-top:5px;}
#masthead-inner .logo { margin-right:750px; height:100px; margin-top:0;}
#masthead-inner .logo a { font-size:3.5em; padding-left:0; padding-top:0; border:none !important; }
#masthead-inner .logo a img { border:none !important; }
#masthead-inner .logo img.mm {display:none;}

#masthead-inner .main-nav-bar { display:inline-block; width:100%; background-color:#000000; float:left; height:40px; }
	#masthead-inner .main-nav-bar .links-container { float:left; height:inherit; /*padding-left:15px;*/ }
		#masthead-inner .main-nav-bar .links-container ul { margin:0; padding:0; height:inherit; }
			#masthead-inner .main-nav-bar .links-container ul li { display:table-cell; height:inherit; vertical-align:middle; position:relative; }
				#masthead-inner .main-nav-bar .links-container ul li a { float:left; color:#FFFFFF; font-size:0.8em; font-weight:bold; padding:0 13px; text-decoration:none; }
				#masthead-inner .main-nav-bar .links-container ul li a:hover { color:#EB2026; }

				#masthead-inner .main-nav-bar .links-container ul li ul.hoverMenu { display:none; position:absolute; width:250px; background-color:#FFFFFF; top:40px; left:13px; height:auto; box-shadow:0 2px 4px #666666; z-index:111111111; }
					#masthead-inner .main-nav-bar .links-container ul li ul li { float:left; width:100%; line-height:2em; }
						#masthead-inner .main-nav-bar .links-container ul li ul li a { color:#000000; font-weight:normal; }
						#masthead-inner .main-nav-bar .links-container ul li ul li a:hover { color:#EB2026; text-decoration:underline; }
						#masthead-inner .main-nav-bar .links-container ul li ul li .subheader {padding:0 0 0 7px; border-top:3px solid #efefef;}

					#masthead-inner .main-nav-bar .links-container ul li ul li.stream { background-color:#EB2026; line-height:3em; }
						#masthead-inner .main-nav-bar .links-container ul li ul li.stream a { color:#FFFFFF; font-weight:bold; background:url("/asset/img/stream-widget-icon.png") no-repeat scroll 15px 51% #EB2026; padding-left:40px; }

	#masthead-inner .main-nav-bar .search-wrapper { float:right; height:inherit; /*width:320px;*/} 
	#masthead-inner .main-nav-bar .search-wrapper .social { width:70px; float:right; padding-top:10px; }
	#masthead-inner .main-nav-bar .search-wrapper .social a { width:30px; height:30px; display:inline-block; }
	#masthead-inner .main-nav-bar .search-wrapper .social .home-twitter { background:url('/asset/img/social-icons-th.png') no-repeat scroll 0 0 transparent; height:20px; width:21px; float:left; margin-right:8px; }
	#masthead-inner .main-nav-bar .search-wrapper .social .home-facebook { background:url('/asset/img/social-icons-th.png') no-repeat scroll -25px 0 transparent; height:20px; width:21px; float:left; }
	#masthead-inner .main-nav-bar .search-wrapper .home-search {float:right; height:inherit; display:table-cell; vertical-align:middle; position:relative; }
	#masthead-inner .main-nav-bar .search-wrapper .home-search img { position:absolute; top:12px; left:7px; width:17px; }
	#masthead-inner .main-nav-bar .search-wrapper .home-search input { height:40px; border:none; padding:0; background-color:#262626; width:200px; color:#ccc; padding-left:30px; }


#masthead-inner .sub-nav-bar {display:inline-block; width:100%; background-color:#fff; float:left; height:30px;}
	#masthead-inner .sub-nav-bar .links-container {float:left; height:inherit;}
		#masthead-inner .sub-nav-bar .links-container ul {margin:0; padding:0; height:inherit;}
			#masthead-inner .sub-nav-bar .links-container ul li { display:table-cell; height:inherit; vertical-align:middle; position:relative; }
				#masthead-inner .sub-nav-bar .links-container ul li a { float:left; color:#000; font-size:0.75em; font-weight:bold; padding:0 13px; text-decoration:none; }
				#masthead-inner .sub-nav-bar .links-container ul li:hover a {color:#fff;}
				
				#masthead-inner .sub-nav-bar .links-container ul li.politics-link:hover { background-color:#D30015; }
				#masthead-inner .sub-nav-bar .links-container ul li.markets-link:hover { background-color:#669933; }
				#masthead-inner .sub-nav-bar .links-container ul li.world-link:hover {  background-color:#0C124D; }
				#masthead-inner .sub-nav-bar .links-container ul li.science-link:hover { background-color:#37414A; }
				#masthead-inner .sub-nav-bar .links-container ul li.sports-link:hover { background-color:#003399; }
				#masthead-inner .sub-nav-bar .links-container ul li.history-link:hover { background-color:#CC6600; }
				#masthead-inner .sub-nav-bar .links-container ul li.future-link:hover { background-color:#004952; }
				#masthead-inner .sub-nav-bar .links-container ul li.religion-link:hover { background-color:#81C0C8; }
				#masthead-inner .sub-nav-bar .links-container ul li.energy-link:hover { background-color:#70AB41; }
				#masthead-inner .sub-nav-bar .links-container ul li.health-link:hover { background-color:#DBB706; }
				#masthead-inner .sub-nav-bar .links-container ul li.investigations-link:hover { background-color:#5D5D5D; }
				#masthead-inner .sub-nav-bar .links-container ul li.education-link:hover { background-color:#8D0000; }
				#masthead-inner .sub-nav-bar .links-container ul li.defense-link:hover { background-color:#485228; }
				#masthead-inner .sub-nav-bar .links-container ul li.policy-link:hover { background-color:#65198E; }
				#masthead-inner .sub-nav-bar .links-container ul li.books-link:hover { background-color:#553C2D; } 
				#masthead-inner .sub-nav-bar .links-container ul li.life-link:hover {background-color:#000; color:#fff;}


.top-banner {clear:both; display:block; text-align:center; width:100%; border-bottom:1px solid #ebebeb; border-top:1px solid #ebebeb; background-color:#fff; background-color:#fbfbfb;}
.top-banner > .RC-AD {margin:10px auto 6px auto; display:inline-block;}
body.home .verticals-menu {display:none;}


/*HOMEPAGE SLIDE/SECTION SWITCHER NAVIGATION*/
body.home .mobile-nav-wrapper {position:relative; display:none; margin-top:0; height:auto; background-color:#000000; padding-left:0; }
	body.home .mobile-nav-wrapper a { color:#919191; font-weight:bold; font-size:1em; padding:12px 0; margin:0; width:32.5%; display:inline-block; }
	body.home .mobile-nav-wrapper a.left {text-align:left; }
	body.home .mobile-nav-wrapper a.left span {padding-left:25px;}
	body.home .mobile-nav-wrapper a.center {text-align: center;}
	body.home .mobile-nav-wrapper a.right {float:right; text-align:right;}
	body.home .mobile-nav-wrapper a.right span {padding-right:25px;}

	body.home .mobile-nav-wrapper a:hover { text-decoration:none; color:#fff; }
	body.home .mobile-nav-wrapper a.active {color:#fff;}

	body.home .mobile-nav-wrapper a.prev {width:9px; position:absolute; top:15px; left:5px; z-index:5; background-image: url('/asset/img/mobile-menu-arrow-left.png'); background-repeat:no-repeat;}
	body.home .mobile-nav-wrapper a.next {width:9px; position:absolute; top:15px; right:5px; z-index:5; background-image: url('/asset/img/mobile-menu-arrow-right.png'); background-repeat:no-repeat;}


.alpha-container { float:left; width:100%; }
	.alpha {margin:20px 327px 0px 277px;} 


		.alpha .RC-AD-MOBILE-BANNER {display:none; height:auto; width:320px; /*min-height:50px;*/}
		.grid-view { display:none; margin:30px 0; }
			.grid-view .photo {}

		.date-header { border-bottom: 4px solid #000000; padding: 0 0 2px; text-align: left; width: 100%; position:relative; }
			.date-header h2 { display:inline; font-size:1.5em;}

			.date-menu { cursor:pointer; width:30px; display:inline-block; position:relative; }
				.date-menu img { padding-left:5px; padding-top:20px; }


				.date-menu .menu-marker { display:none; border-bottom: 10px solid #919191; border-left: 10px solid transparent; border-right: 10px solid transparent; height: 0; left: 3px; position: absolute; top: 35px; width: 0; z-index: 1; }
				.date-menu .menu { display:none; background-color: #ffffff; border: 1px solid #EBEBEB; left: -75px; padding: 10px; position: absolute; top: 44px; width: 165px; box-shadow:0 4px 6px #919191; }
					.date-menu .menu ul { margin:0; padding:0; }
						.date-menu .menu ul li { line-height:2em; }
							.date-menu .menu ul li a { font-family:"Helvetica Neue", sans-serif; font-weight:400; color:#000000; font-size:0.8em; }

			.list-style { position:absolute; bottom:8px; right:0; width:60px; }
				.list-style .grid_hp { background:url('/asset/img/grid-icon.png') no-repeat scroll 0 0 transparent; height:19px; float:left; width:23px; cursor:pointer; }
				.list-style .grid_hp.active { background:url('/asset/img/grid-icon-red.png') no-repeat scroll 0 0 transparent; height:19px; }

				.list-style .list_hp { background:url('/asset/img/list-icon.png') no-repeat scroll 0 0 transparent; height:19px; float:left; width:23px; margin-left:10px; cursor:pointer; }
				.list-style .list_hp.active { background:url('/asset/img/list-icon-red.png') no-repeat scroll 0 0 transparent; height:19px; }

		.alpha .story { padding:5px 0; }
			.alpha .post { padding:2.75px 0; }
				.alpha .post .title { /*float:left;*/ margin-right:2px; display:inline;}
					.alpha .post .title a { font-weight:bold; }

				.alpha .post .byline { font-size:0.8em; display:inline; color:#000; }
					.alpha .post .byline a { color:#000; }

		.alpha .RC-AD-BANNER-SMALL {text-align: center;}

		.election-2016 { margin:20px 0 0; }
			.election-2016 .label { font-size:0.8em; line-height:2em; font-weight:bold; }
			.election-2016 .title {}
				.election-2016 .title a { font-size:1em; font-weight:bold; color:#EB2026; }

			.election-2016 .tag-wrapper { display:inline-block; padding-top:10px; }
				.election-2016 .tag-wrapper .tag { float:left; border:1px solid #808080; padding:0 5px; margin-right:5px; }
					.election-2016 .tag-wrapper .tag a { font-size:0.75em; color:#808080; }

		.site .label a { font-size:0.75em; text-transform:uppercase; font-weight:bold; }

		.section-header { border-top:4px solid #000000; margin-top:22px; }
			.section-header h2 { margin:15px 0 20px; font-size:1.5em;}
			.section-header h2 a {color:inherit; text-decoration: none;}

		.pop-wrapper { margin-left:-30px; display:inline-block;  }
		.pop-item { float:none; display:inline-block; vertical-align:top; width:44%; margin-left:30px; padding-bottom:10px; }
			.pop-item .photo { position: relative; display:block; overflow:hidden; width:270px; }
			.pop-item .photo .icon { position:absolute;top:50%;left:50%;transform: translate(-50%, -50%); }
			.pop-item .photo .image { width: auto; height:200px; }
			.pop-item .photo a { border:none !important; }/* IE Fix */
			.pop-item .photo a img { border:none !important; } /* IE Fix */
			
			.pop-item .title { padding:15px 50px 0px 0; line-height:1.2em; }
				.pop-item .title a { font-weight:bold; font-size:0.95em; }
			.pop-item .source {display:none; }

		.section-short { margin:-15px 0 0; display:inline-block; }
			.section-short .photo { float:left; width:310px; margin-right:35px; margin-top:22px; }
			.section-short .text, .section-full .text { font-family:"Domine", serif; font-size:0.95em; line-height:1.6em; /*padding-right:10px;*/ }

		.section-related { margin:30px 0; }
			.section-related .label { font-size:0.8em; font-weight:bold; text-transform:uppercase; margin:20px 0; }
			.section-related .label a { color: #000; }
			/*.section-related .title { line-height:1.7em; }
				.section-related .title a { font-weight:bold; font-size:0.95em; }
				.section-related .title a.auth { color:#919191; font-weight:normal; padding-left:10px; }
				.section-related .title .source { font-size:0.8em; } */
			.section-related ul {margin:0 0 0 15px; padding:0; list-style-position: outside;}
			.section-related ul li {list-style-type:circle; line-height:1.1em; padding-bottom:7px;}

		.section-category .section-full.ad .RC-AD-BOX-WIDGET{border:1px solid #ccc; width:300px; float:right; margin:0 0 5px 5px;}
			.section-category .section-full.ad p {min-height:250px;}

		.section-title-wrapper .section-title {padding:0;}

		.more-rc .site a {font-weight:bold;font-size: 1.111em;}
		.more-rc .site strong {font-weight:bold;font-size: 1.111em;}
		.more-rc .site { color:#000; text-decoration: none; padding:2.75px 0;font-size:0.9em;}

		.alpha .more-rc {margin-top:-2px;}
		.alpha .more-rc .section-title {margin-bottom:-2px;}

.gamma { float:left; width:250px; margin-left:-100%; margin-top:1px; background-color:#F0F0F0; margin-bottom:-99939px; padding-bottom:99999px; }


	.gamma ul { padding:0; margin:0;}
		.gamma ul li { border-bottom:2px solid #e4e4e4; padding:6px 8px 6px 8px; }
		.gamma ul li .RC-AD-LC {margin:5px auto; width:220px;}

		/*newly added */
		.gamma ul li ul li:last-child { padding-bottom:0px;}
		.gamma ul li ul li:first-child {padding-top:2px;}
		/* ---- */

		.gamma ul li a { color: #000000; font-size: 0.86em; font-weight: bold; }
			.gamma ul li a.stream { background: transparent url("/asset/img/lc-stream-icon.png") no-repeat scroll 0 2px; color: #000000; font-size: 0.86em; font-weight: bold; padding-left: 15px; }
			.gamma ul li ul { padding:0; }
				.gamma ul li ul li { display:inline-block; /*padding:3px 0px 3px 15px; old*/ padding:1px 0 2px 0; padding-left:12px; border:none; width:100%; background:transparent url("/asset/img/square-bullet.gif") no-repeat scroll 3px 9px; box-sizing: border-box;}

					.gamma ul li ul li a { background:none; float:none; font-weight:normal; /*line-height:1.5em;*/ line-height:1.42em; padding:0; font-size:0.8em; margin-right:8px; display:block; }

					.gamma ul li ul li a.lc-video {background:url('/asset/img/camera-red.png') no-repeat scroll 0 3px transparent;float:none;font-weight:normal;line-height:1.42em;text-indent: 15px;padding:0;}
					.gamma ul li ul li a.lc-video:hover { background:url('/asset/img/camera-black.png') no-repeat scroll 0 3px transparent; float:none; font-weight:normal; line-height:1.42em; text-indent: 15px;padding:0; }
					.gamma ul li ul li a.lc-photo { background:url('/asset/img/icon_photo.gif') no-repeat scroll 0 3px transparent; float:none; font-weight:normal; line-height:1.2em; padding:0 0 0 15px; }

					.gamma ul li ul li a.lc-tweet { background:url('/asset/img/lc-tweet.png') no-repeat scroll 0 3px transparent; float:none; font-weight:normal; line-height:1.2em; padding:0 0 0 15px; }

					.gamma ul li ul li a.lc-facebook { background:url('/asset/img/lc-facebook.png') no-repeat scroll 0 2px transparent; float:none; font-weight:normal; line-height:1.2em; padding:0 0 0 15px; }
					
					.gamma ul li ul li a.lc-lin { background:url('/asset/img/lin.png') no-repeat scroll 0 2px transparent; float:none; font-weight:normal; line-height:1.2em; padding:0 0 0 15px; }
					
					.gamma ul li ul li a.lc-ig { background:url('/asset/img/ig.png') no-repeat scroll 0 2px transparent; float:none; font-weight:normal; line-height:1.2em; padding:0 0 0 15px; }

		.gamma ul li.lc-author-wrapper {border-bottom:2px solid #e4e4e4; border-top:2px solid #e4e4e4;}
		.gamma .lc-author { margin:10px 0; overflow: auto; box-sizing: border-box; padding-left: 10px;}
			.gamma .lc-author .photo { float:left; width:45px; height:45px; border-radius:25px; overflow:hidden; margin-right:10px;}
			.gamma .lc-author .photo img { /*border-radius:25px; height:45px;*/ width:45px; }

			.gamma .lc-author .name { padding-top:11px; font-size:1.1em; font-weight:bold;}
				.gamma .lc-author .name a { display:inline-block; padding-bottom:0px; color: #000; }


				.gamma .lc-author ul { margin-left:0px; clear:both;}
				/*.gamma .lc-author ul li {padding-left:15px; padding:5px 0; line-height:0.8em; }
				.gamma .lc-author ul li a {line-height: 1em;}*/

		.gamma ul#most-read-box {}
		.gamma ul#most-read-box a {/*color:#DC0000;*/margin-right:0px; }
		.gamma ul#most-read-box li:last-child {border:none;}
		.gamma ul#most-read-box li .most-read-text {font-size:0.7em; color:#666;}
		.gamma ul#most-read-box li .most-read-text a {font-size:0.9em; color:#666;}
		.gamma ul#most-read-box .main-header {font-weight: bold;}
		.gamma ul#most-read-box li.sub-header {color:#d30015; font-size:0.9em; padding:5px 0 0 0; background:none; font-weight: bold;}
		.gamma .most-read-text a {
			display: inline;
		}
		.gamma .mobile-header { display:none; }
		.gamma ul li.RC-AD { padding:5px 0;  text-align: center; background:none;}

	.gamma .poll_avgs {background-color:#fff;}
		.gamma .poll_avgs ul li {padding:0 15px; border-bottom:none;}

	.gamma .rec-link-body > ul > li { padding:0 15px 0 15px; border-bottom:none; }

	.gamma #taboola-left-rail-thumbnails {margin:0 4px;} 

.beta-container { float:left; width:300px; margin-left:-302px; margin-top:0; border-left:0px solid #EBEBEB; }
	.beta { margin:0 auto 35px auto; width:300px; }
	.beta .RC-AD-BOX-TOP {margin-top:10px;}
	.beta .RC-AD-BOX-BOTTOM-600 {margin-top:30px;}
	.RC-AD {/*background-color:#e2e2e2;*/} 


body.home .RC-AD-TOP-BANNER.CENTER {display:none;}
body.home .RC-AD-TOP-BANNER.CENTER > div {background-color: #e2e2e2;}

body.home .lc-author-list {
	display: none;
}
body.home .our_authors {
	overflow: auto;
	background: #E4E4E4;
	border-bottom:2px solid #ccc;
}
	body.home .our_authors .our_authors_dropdown {
		float: right;
		cursor: pointer;
		margin-right: 10px;
		padding-top: 5px;
	}
	body.home .our_authors .title {
		font-size: 16px;
		color: #666;
		float: left;
		padding: 6px 0 0 10px;
	}


#hpstreams .photo {height:auto; overflow: hidden;}
#hpstreams .photo img {margin-top:-75px; margin-bottom:-75px;}
#hpstreams .section-short .photo img {margin-top:0; margin-bottom:0;}

/* alpha ads on mobile */
.alpha .RC-AD-BOX-TOP,
.alpha .RC-AD-BOX-MIDDLE,
.alpha .RC-AD-BOX-BOTTOM, 
.alpha .RC-AD-BOX-MOBILE_1,
.alpha .RC-AD-BOX-MOBILE_2 {
    display: none;
    margin:5px auto;
}
.pm_override {
	display: none;
}


/*bottom fixed banner ad */
.sticky_banner {width:100%; height:90px; position:fixed; bottom:0; z-index: 111111111; margin:0 auto;} 
.sticky_banner > .RC-AD-BOTTOM-BANNER {width:728px !important; margin:0 auto; text-align: right;}
.sticky_banner .close {position:absolute; top:-10px; margin-top:-6px; margin-left:-46px; padding:2px; font-size:11px; font-family: arial, sans-serif; background-color:#fff; color:#000; text-decoration: none; display:none;}

body.home .footer-wrapper {padding-bottom:100px;}


@media only screen and (max-width: 767px) {
    .alpha .RC-AD-BOX-TOP,
    .alpha .RC-AD-BOX-MIDDLE,
    .alpha .RC-AD-BOX-BOTTOM,
    .alpha .RC-AD-BOX-MOBILE_1,
    .alpha .RC-AD-BOX-MOBILE_2 {
        display: block;
        width: 100%;
        text-align: center;
    }
    .beta .RC-AD-BOX-TOP,
    .beta .RC-AD-BOX-MIDDLE,
    .beta .RC-AD-BOX-BOTTOM {
        display: none;
    }
    .pm_override {
    	display: block;
    }
    .sticky_banner {display:none;}
}
@media only screen and ( max-width : 320px ){
    .alpha .RC-AD-BOX-TOP,
    .alpha .RC-AD-BOX-MIDDLE,
    .alpha .RC-AD-BOX-BOTTOM,
    .alpha .RC-AD-BOX-MOBILE_1,
    .alpha .RC-AD-BOX-MOBILE_2 {
        margin:0 0 5px -10px !important; 
    }
} 
/* END alpha ads on mobile */

@media only screen and ( min-width : 415px ) and ( max-width : 767px ){
	body.home .gamma ul {max-width:440px !important;}
}

@media only screen and ( max-width : 767px ){


	html {-webkit-text-size-adjust: 100%; }
	body {font-size:13px !important;}
	body.home .nav-up { top: -54px !important;  } /* same as header height. use variables in LESS/SASS */

	#container {width:100%;}

	#masthead-container {width:100%; position: fixed;}
	#masthead-container { height:94px; border-bottom:none; background:none repeat scroll 0 0 transparent !important; }
	#masthead-container .main-nav-bar { display:none; }
		#masthead-inner .main-nav-bar { display:none; }
		#masthead-inner .sub-nav-bar {display:none;}
		#masthead-inner .site-navigation { display:none; padding:0 0 0 0;}
		#masthead-inner .site-navigation { margin-right:15px; margin-top:-5px; display:block;}
			#masthead-inner .site-navigation ul li { display:none; }
			#masthead-inner .site-navigation ul li.site-nav-more { display:block; }
			#masthead-inner .site-navigation ul li.site-nav-more ul.primary li {display:block;}

			#masthead-inner .logo { margin-right:0; height:auto; width:210px; }
			#masthead-inner .logo img {position:relative; z-index:11;}
			#masthead-inner .logo img.mm { display:none; }
			#masthead-inner .logo img.ss { display:block; height:54px; }
			#masthead-inner .logo a { font-size:2.3em; padding-left:0; padding-top:0; width:210px; display:block; }

	.top-banner {display:none;}
	body.home .verticals-menu {display:block;}
	/*#masthead-inner .verticals-menu { top:27px; cursor:pointer; z-index:1; margin-left:24px; display:block;}
		#masthead-inner .verticals-menu img { width:15px; } */

	body.home .footer-wrapper {display:none;} /*flexslider moves this around so we hide it before we sort things out */
	body.home #container .mobile-slider {display:block; margin:94px 0 0 0;}


	body.home .beta-wrapper { height:54px; }
		/*body.home .site-nav { display:block; } */
	body.home .beta-container { float:left; width:100%; margin:0;}
	body.home .beta-container .beta {width:100%; max-width: 440px; margin:10px auto;}
	body.home .beta-container > .beta > div {padding:0 10px;}
	body.home .beta-container .polls-data-widget {margin:0 auto;}
	body.home .beta-container .beta div.RC-AD {margin-left:auto; margin-right:auto;}
	body.home .beta-container .newsletter-widget {width:100%; padding:0 !important;}
	body.home .beta-container .newsletter-signup-container2 {padding:0 !important;}
	body.home .beta-container  li.newsletter-select {width:100%;}

	body.home .alpha { margin:0 auto; padding:0 20px; max-width:550px;}
	body.home .alpha .section-short .photo {width:100%;}
	body.home .alpha .section-short .photo img {width:100%;}
	body.home .alpha .section-title-wrapper .section-byline a {font-size:0.9em;}
	body.home .alpha .pop-item .title {marging:5px 0;}
	body.home .alpha .line {margin:15px 0;}

	body.home .alpha .RC-AD-MOBILE-BANNER {display:block; margin:10px auto 0 auto; /*min-height: 50px;*/}

	body.home .alpha .pop-wrapper { width:100%;  }
	body.home .alpha .pop-item { width:100%; }

	body.home .alpha .section-category .section-full.ad p {min-height:0;}
	body.home .alpha .section-header {margin-top:10px;}
	body.home .alpha .section-title-wrapper { width:100%; float:none;}
	body.home .alpha .section-title-wrapper .section-title { padding:0; }
	body.home .alpha .section-social {width:100%; text-align: left;}
	body.home .alpha .section-social .socialBar {padding:5px 0 0 0; margin-bottom:0px;}
	body.home .alpha .section-social .socialBar .left {float:left;}
	body.home .alpha .section-related .label {margin:5px 0; font-size:1em;}


	body.home .gamma {float:left; width:100%; margin:0; padding:10px 0;}
	body.home .gamma .mobile-header {display:none;}
	body.home .gamma ul {margin:0 auto; max-width:310px;}
	body.home .gamma > ul > li {padding:8px 20px;}
	body.home .gamma ul li a {font-size:1em;}
	body.home .gamma ul li ul li a {line-height: 1em; font-size:1em;}

	body.home .alpha .post .byline { display:inline-block; font-size:0.9em; }

	body.home .mobile-nav-wrapper { display:block; }

	body.home > #container > ul.flex-direction-nav a {position:fixed; width:43px; height:43px; top:60%;}


	/*body.home .flex-direction-nav a:before {color:#fff; padding-top:10px; font-size:1.2em !important; }
	body.home .flex-nav-prev a:before {padding-left:27px; padding-right:0px; background-image:url('/asset/img/icon-arrow-left-white.png'); content:none;}
	body.home .flex-nav-next a:before {padding-right:27px; padding-left:0px; }*/
	/*body.home .flex-direction-nav .flex-nav-prev a:before {padding-left:0; padding-right:0;} */


	/*body.home a:before {content:none;}*/
	body.home > #container > ul.flex-direction-nav > li > .flex-prev {
		left:-26px;
		background-color:#000;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		border-radius:50%;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		-moz-opacity: 0.4;
		-khtml-opacity: 0.4;
		opacity: 0.4;
		text-align: right;
	}
	body.home > #container > ul.flex-direction-nav > li > .flex-prev img {
		padding:15px 7px 0 0;
	}

	body.home > #container > ul.flex-direction-nav a:before {content:none;}
	body.home > #container > ul.flex-direction-nav > li > .flex-next {
		right:-26px;
		background-color:#000;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		border-radius:50%;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		-moz-opacity: 0.4;
		-khtml-opacity: 0.4;
		opacity: 0.4;
		text-align: left;
	}
	body.home > #container > ul.flex-direction-nav > li > .flex-next img {
		padding:15px 0 0 7px;
	}

	body.home .flex-viewport {max-height: 10000px;}

	#hpstreams .photo img {
		margin: 0;
	}
}

@media only screen and ( max-width : 550px ){
	body.home .alpha .post .byline { width:100%; }
	.section-category .section-full.ad .RC-AD-BOX-WIDGET {
		float: none;
		margin: 10px auto 0;
	}
}

@media only screen and ( max-width : 414px ){ /* iPhone 6+ down */
	/*.date-header h2 { font-size:1.5em; }
	.date-header { padding:0; }
	.date-menu img { padding-top:18px; }*/
	body.home .alpha .post .title a {font-size:1.1em !important;}
}

@media only screen and ( max-width : 375px ){
	/*.date-header h2 { font-size:1.5em; }
	.date-menu img { padding-top:13px; }

	.section-category .section-full.ad .RC-AD-BOX-WIDGET { display:inline-block; float:none; margin:0 0 5px 16px; }*/
}

@media only screen and ( max-width : 360px ){
	/*.date-header h2 { font-size:1.2em; }
	.section-category .section-full.ad .RC-AD-BOX-WIDGET { display:inline-block; float:none; margin:0 0 5px 9px; }*/
}

@media only screen and ( max-width : 320px ){ /* iPhone 6+ down */
	.date-header h2 { font-size:1em; }
	.date-menu img { padding-top:9px; }
	.section-category .section-full.ad .RC-AD-BOX-WIDGET { display:inline-block; float:none; margin:0 0 5px -11px; } 
	body.home .alpha .RC-AD-MOBILE-BANNER { margin:0 0 10px -20px !important;}

}
