/* MASTER.CSS SASS FILE */

.rcp { background-color:#D30015 !important; }
.rcm { background-color:#6E9A39 !important; }
.rcsp { background-color:#0142C2 !important; }
.rcb { background-color:#765A4C !important; }
.rcpo { background-color:#7B20AC !important; }
.rcw { background-color:#329CE8 !important; }
.rcd { background-color:#475E41 !important; }
.rcsc { background-color:#676E76 !important; }
.rct { background-color:#B1A9A7 !important; }
.rch { background-color:#C05800 !important; }
.rcr { background-color:#57969D !important; }
.rce { background-color:#8CA877 !important; }
.rcedu { background-color:#960001 !important; }
.rchealth {background-color:#dbb706 !important;}
.rcinv {background-color:#5d5d5d !important;}

.policy { color:#65198e; }
.science { color:#37414a; }
.sports { color:#003399; }
.markets { color:#669933; }
.world { color:#0C124D; } 

.clear { width:100%; height:2px; margin:5px 0; display:inline-block; }

body { font-family: 'ROBOTO', sans-serif; font-size: 16px; padding:0; margin:75px 0 0 0; position:relative; }

.overlay {
    background: rgba(255, 255, 255, 0.77) none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

a { font-size: 1em; text-decoration:none; color:#d30015;; }
a:hover { text-decoration:underline; }
a:visited {  color: #CC6600;  } 

ul { list-style:none; }

.bold { font-weight:bold; }

.line { height:2px; border-top:2px solid #EBEBEB; margin:21px 0; }

#main { background-color:#ebebeb; }

#container { max-width: 1180px; width:100%; margin: 0 auto; overflow:hidden; }


#masthead-wrapper { background: #fff; height: 74px; position: fixed; top: 0; transition: top 0.2s ease-in-out; width: 100%; z-index:1111111; max-width:1180px; border-bottom:1px solid #ebebeb; }

.nav-up { top: -75px !important; // same as header height. use variables in LESS/SASS }
#masthead { background-color:#EBEBEB; font-family: 'Roboto', sans-serif; }

#masthead-container {background: #fff; height: 100px; position: fixed; top: 0; transition: top 0.2s ease-in-out; width: 100%; z-index:111; max-width:1180px; border-bottom:1px solid #ebebeb;}
#masthead-inner { background-color:#FFFFFF; position:relative; }


.top-bar { display:none; position:absolute; top:0; background-color:#ebebeb; height:17px; max-width: 1180px; width:100%; }

.page-header { height:60px; display:inline-block; font-family:"ROBOTO", sans-serif; font-size:0.7em; font-weight:bold; text-transform:uppercase; width:100%; /*margin-top:75px; */}





.alpha-wrapper { float:left; width:100%; max-width:1180px; }

	.site-logo { margin-right:640px; }
		/*body.home .site-logo img.ss { display:block; height:100px; }*/
		.site-logo img.ss { height:74px; }

		.site-logo a { font-size:2.3em; color:#FFFFFF; text-decoration:none; font-weight:bold; }

	.section-top { display: inline-block; margin-top: 0; padding-bottom: 0; max-width: 750px; width:100%; }
		.section-title-wrapper { float: left; width: 77%; }
			.section-title-wrapper .section-title { font-family: "ROBOTO",sans-serif; padding: 0 15% 0 0; }
				.section-title-wrapper .section-title h2 { margin:0; line-height:1em; }

			.section-title-wrapper .section-byline { padding:5px 0; }
				.section-title-wrapper .section-byline a { /*font-size:0.75em;*/ color:#000000; }
				.section-title-wrapper .section-byline a.rec-auth { color:#919191; }

		.section-social { float: left; text-align: right; width: 23%; font-size:0.95em; font-weight:bold; }
			.section-social .socialBar { padding:0 0 0; width:100%; }
				.section-social .socialBar .left { float:right; }

				.socialBar-clicks { color: #d30015;; display: none !important; height: inherit; vertical-align: middle; }
					.socialBar-clicks .label { color: #919191; font-size: 0.8em; text-transform: capitalize; }

				.socialBar-divide { color: #b7b7b7; display: none !important; height: inherit; padding: 0 3px; vertical-align: middle; }
				
				.socialBar-shares { color: #d30015;; display: inline-block; height: inherit; vertical-align: middle; }
					.socialBar-shares .label { color: #919191; font-size: 0.8em; text-transform: capitalize; }


.beta-wrapper { float:left; width:740px; margin-left:-740px; text-align:right; padding-top:20px; }

.beta-container {width:300px; margin-left:-310px; margin-top:-2px; float:left;}


/*body.home .verticals-tab { border-bottom: 10px solid #ebebeb; border-left: 10px solid transparent; border-right: 10px solid transparent; bottom: -4px; height: 0; left: -2px; position: absolute; width: 0; display:none; z-index:1111; }	*/
.verticals-tab { border-bottom: 10px solid #ebebeb; border-left: 10px solid transparent; border-right: 10px solid transparent; bottom: -9px; height: 0; left: -2px; position: absolute; width: 0; display:none; z-index:1111; }


.verticals-menu { margin-left: 0.5%; position:absolute; top:37px; }


	.verticals-menu img { width:15px; cursor:pointer; margin-top:6px; }
	.mobile-site-arrow { display:none; }
	.rwd-site-arrow { display:none; }

	.verticals-wrapper { position:relative; height:20px; }

.verticals-site-list { background-color: #ffffff; border: 1px solid #ebebeb; left: -90px; position: absolute; top: 30px; width: 180px; display:none; box-shadow:0 2px 2px #000000; z-index:1;}
		.verticals-site-list ul { padding:0; margin:0; }
			.verticals-site-list ul li:hover {  }

				.verticals-site-list ul li a { color:#000000; font-size:1em; padding-left: 15px; display:block; line-height:2.3em; }


				.verticals-site-list ul li a { font-size:0.9em; padding-left: 15px; display:block; line-height:2.3em; }

				.verticals-site-list ul li.markets-link a { color:#669933; }
				.verticals-site-list ul li.world-link a { color:#0C124D; }
				.verticals-site-list ul li.science-link a { color:#37414A; }
				.verticals-site-list ul li.sports-link a { color:#003399; }
				.verticals-site-list ul li.history-link a { color:#CC6600; }
				.verticals-site-list ul li.technology-link a { color:#444444; }
				.verticals-site-list ul li.religion-link a { color:#81C0C8; }
				.verticals-site-list ul li.energy-link a { color:#70AB41; }
				.verticals-site-list ul li.health-link a { color:#DBB706; }
				.verticals-site-list ul li.investigations-link a { color:#5D5D5D; }
				.verticals-site-list ul li.education-link a { color:#8D0000; }
				.verticals-site-list ul li.defense-link a { color:#485228; }
				.verticals-site-list ul li.policy-link a { color:#65198E; }
				.verticals-site-list ul li.books-link a { color:#553C2D; }
				.verticals-site-list ul li.future-link a { color:#336666; }
                .verticals-site-list ul li.politics-link a { color:#dc0000; }

				.verticals-site-list ul li.markets-link a:hover { color:#FFFFFF; background-color:#669933; }
				.verticals-site-list ul li.world-link a:hover { color:#FFFFFF; background-color:#0C124D; }
				.verticals-site-list ul li.science-link a:hover { color:#FFFFFF; background-color:#37414A; }
				.verticals-site-list ul li.sports-link a:hover { color:#FFFFFF; background-color:#003399; }
				.verticals-site-list ul li.history-link a:hover { color:#FFFFFF; background-color:#CC6600; }
				.verticals-site-list ul li.technology-link a:hover { color:#FFFFFF; background-color:#444444; }
				.verticals-site-list ul li.religion-link a:hover { color:#FFFFFF; background-color:#81C0C8; }
				.verticals-site-list ul li.energy-link a:hover { color:#FFFFFF; background-color:#70AB41; }
				.verticals-site-list ul li.health-link a:hover { color:#FFFFFF; background-color:#DBB706; }
				.verticals-site-list ul li.investigations-link a:hover { color:#FFFFFF; background-color:#5D5D5D; }
				.verticals-site-list ul li.education-link a:hover { color:#FFFFFF; background-color:#8D0000; }
				.verticals-site-list ul li.defense-link a:hover { color:#FFFFFF; background-color:#485228; }
				.verticals-site-list ul li.policy-link a:hover { color:#FFFFFF; background-color:#65198E; }
				.verticals-site-list ul li.books-link a:hover { color:#FFFFFF; background-color:#553C2D; }
                .verticals-site-list ul li.life-link a:hover { color:#FFFFFF; background-color: #000; }
				.verticals-site-list ul li.future-link a:hover { color:#FFFFFF; background-color: #336666; }
                .verticals-site-list ul li.politics-link a:hover { color:#FFFFFF; background-color:#dc0000; }


.site-nav { display:inline-block; margin-right:10px; }
	.site-nav ul { padding:0; margin-top:16px; margin-bottom:16px; }
	.site-nav ul li { float:left; }
	.site-nav a { color:#000000; font-size:1em; padding:0 12px; font-weight:bold; text-decoration:none; }
	.site-nav a:hover { color:#d30015; }
	.site-nav ul li.fpc-mobile { display:none; }

	a.more-menu.more { color:#7E7E7E; }

    .site-nav-more {margin-right:10px; position:relative; }
    .site-nav-more ul.primary { position:absolute; width:200px; background-color:#C81B21; top:17px; right:-15px; z-index:10; margin-top:0; display:none; border-top:10px solid #fff;}
        .site-nav-more ul.primary li { display:block; width:100%; text-align:left; border-bottom:2px solid #B3171B; line-height:1.5em; }
            .site-nav-more ul.primary li a { background:url("/asset/img/white-bg-chev.png") no-repeat scroll 170px 9px transparent; width:100%; display:block; font-size:0.8em; color:#FFFFFF; line-height:3.1em;}
            .site-nav-more ul.primary li a:hover {}
            .site-nav-more ul.primary li a.static { background:none; }
            .site-nav-more ul.primary li a.static:hover {text-decoration:underline;}
            .site-nav-more ul.primary li .subheader {color:#efefef; padding:5px 0 5px 6px;} 

            .site-nav-more ul li ul.inner { display:none; }
                
                    .site-nav-more ul li ul.inner li a { background:none; }

        .site-nav-more img.jQ-section-menu { display:none; }

        .site-nav-more .sections-tab { bottom: -10px; height: 0; right: 4px; position: absolute; width: 0; z-index:15; display:none;}

    .sections-menu { position:absolute; top:0; right:0; }
	   .sections-menu img { width:8px; cursor:pointer; margin-top:10px; }

    .site-search { display:inline-block; vertical-align:super; margin-right:5px; }
	   .site-search input { width:150px; height:20px; border:1px solid #ebebeb; border-radius:5px; background:url("/asset/img/grey-mag.png") no-repeat scroll 5px 5px transparent; color:#7E7E7E; padding-left:25px; }




/* 1 column master styles */
.uno-col .top-banner {text-align:center; /*margin-left:182px;*/ border-bottom:1px solid #EBEBEB;}  
.uno-col .top-banner .RC-AD-TOP-BANNER {margin:10px auto; }
.uno-col .top-banner .RC-AD-MOBILE-BANNER {display:none; margin:auto; width:320px; height:auto;} 

.uno-col .alpha-container { width:100%; float:left; margin-top:-1px; }
.uno-col .alpha { margin:0; border-right:none; padding:20px 25px 0; }

.uno-col .beta-container { display:none; }
    .uno-col .beta { display:none; }


/* 2 column master styles */
.dos-col .top-banner {text-align:center; /*margin-left:182px;*/ border-bottom:1px solid #EBEBEB;}  
.dos-col .top-banner .RC-AD-TOP-BANNER {margin:10px auto; }
.dos-col .top-banner .RC-AD-MOBILE-BANNER {display:none; margin:auto; width:320px; height:auto;} 

.dos-col .alpha-container { width:100%; float:left; margin-top:-1px; }
.dos-col .alpha { margin:0 325px 0 0; border-right:1px solid #EBEBEB; padding:20px 25px 0; }
.dos-col .alpha ul li {list-style-type:disc;}
body.story-stream .dos-col .alpha ul li {
    list-style-type: none !important;
}

.dos-col .beta-container { border:none; float:left; margin-left:-301px; margin-top:-1px; width:300px; }
    .dos-col .beta { margin:0 0 35px; width:300px; padding-top: 20px; }





/* 3 column master styles */
.tres-col .alpha-container { float:left; width:100%; margin-top:-1px; }
.tres-col .alpha { border-right:1px solid #EBEBEB; margin:0 325px 0 189px; padding:50px 25px; }

.tres-col .beta-container { border-left:none; float:left; margin-left:-301px; margin-top:-1px; width:300px; }
.tres-col .beta { margin:35px auto; width:300px; }


div.socialBar {
    border-bottom: 0 solid #eeeeee;
    border-top: medium none;
    color: #999999;
    font: 0.9em Verdana,Arial,Helvetica,sans-serif;
    margin-bottom: 10px;
    padding: 15px 0 0 25px;
	width:110px;
	display:inline-block;
}
div.socialBar select {
    font-size: 1.1em;
}
div.socialBar .hide {
    opacity: 0;
}
div.socialBar .show {
    opacity: 1;
}
div.socialBar .right {
    display: inline;
    float: right;
    width: auto;
}
div.socialBar .left {
    display: inline;
    float: left;
    width: auto;
}
div.socialBar .left .icon {
    background: url("/asset/img/social-icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-image:url("/asset/img/social-icons.png");
    float: left;
    height: 30px;
    margin: 0 5px 0 0;
    width: 31px;
}

div.socialBar .left .more-wrapper .toolset_drawer .icon {
    background: url("/asset/img/social-icon-set.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-image:url("/asset/img/social-icon-set.png");
    float: left;
    height: 30px;
    margin: 0 5px 0 0;
    width: 31px;
}
div.socialBar .left .more-wrapper .toolset_drawer .lnkdin_icon { background-position: -75px 0; }
div.socialBar .left .more-wrapper .toolset_drawer .gplus_icon { background-position:-111px 0; }
div.socialBar .left .more-wrapper .toolset_drawer .email_icon { background-position:-148px 0 !important; margin:0 !important; }
div.socialBar .left .more-wrapper .toolset_drawer .icon:last-child { margin:0; }
div.socialBar .left .more-wrapper .toolset_drawer .print_icon { 
    background-image:url("/asset/img/print_circle.png");
    width: 30px;
    display: inline-block;
    height: 30px;
    margin: 0px 0px 0px 5px;
    cursor:pointer;
}
div.socialBar .left .more-wrapper .toolset_drawer .print_icon:hover {
    opacity: 0.5;
}


div.socialBar .left .icon:hover {
    cursor: pointer;
    opacity: 0.5;
}
div.socialBar .left > .icon.fb_icon {
    background-position: -37px 0;
}
div.socialBar .left > .icon.tweet_icon {
    background-position: 0 0;
}
div.socialBar .left > .icon.gplus_icon {
    background-position: -70px 0;
}
div.socialBar .left > .icon.lnkdin_icon {
    background-position: -105px 0;
}
div.socialBar .left > .more-wrapper .icon.email_icon {
    background-position: -140px 0;
}
div.socialBar .left > .more-wrapper .icon.more_icon {
    background-position: -75px 0;
}
div.socialBar .left > .more-wrapper {
    float: left;
    position: relative;
}

div.socialBar .left > .more-wrapper .toolset_drawer {
	background:url("/asset/img/stream-hover-bg.png") repeat scroll 0 0 transparent;
    color: #333333;
    display: none;
    left: -50px;
    margin: 0;
    height: 45px;
    padding: 0;
    position: absolute;
    text-align: left;
    top: -60px;
    width: 119px;
    z-index: 1111111;
}

body.article div.socialBar .left > .more-wrapper .toolset_drawer { left:-85px; }
body div.socialBar[data-print="1"] .left > .more-wrapper .toolset_drawer {
    left: -145px;
    width: 198px;
}
body.entry div.socialBar[data-print="1"] .left > .more-wrapper .toolset_drawer {
    left: -74px;
}

div.socialBar .left > .more-wrapper .toolset_drawer .email-wrapper .toolset_drawer {
	display:none;
	position:absolute;
	top:0;
	left:119px;
	width:258px;
	background-color:#000000;
	opacity:0.9;
}

.hover-social div.socialBar .left > .more-wrapper .toolset_drawer {
	display:none;
	position:absolute;
	top:0;
	left:30px;
	width:265px;
	background-color:#000000;
	opacity:0.9;
}
.hover-social div.socialBar .left > .more-wrapper .toolset_drawer .tab-header { background-color:inherit; }
.hover-social div.socialBar .left > .more-wrapper .toolset_drawer .send-btn-form { background-color:#000000; color:#FFFFFF; }

.pull-quote-social div.socialBar .left > .more-wrapper .toolset_drawer .email-wrapper .toolset_drawer { font-size:0.75em; }

div.socialBar .left > .more-wrapper .toolset_drawer .email-wrapper .toolset_drawer .tab-header { background-color:inherit; }
div.socialBar .left > .more-wrapper .toolset_drawer .email-wrapper .toolset_drawer .send-btn-form { background-color:#000000; color:#FFFFFF; }
div.socialBar .left > .more-wrapper .toolset_drawer .email-wrapper .toolset_drawer .send-btn-form .fieldset, div.socialBar .left > .more-wrapper .toolset_drawer .email-wrapper .toolset_drawer .send-btn-form #msbBox, div.socialBar .left > .more-wrapper .toolset_drawer .email-wrapper .toolset_drawer .send-btn-form #successBox {padding:5px;}


div.socialBar .left > .more-wrapper .toolset_drawer_tab {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
    height: 0;
    left: 55px;
    position: absolute;
    top: 45px;
    width: 0;
	opacity:0.9;
}

body.article div.socialBar .left > .more-wrapper .toolset_drawer_tab { left:91px; }
body div.socialBar[data-print="1"] .left > .more-wrapper .toolset_drawer_tab { left:112px; }
body.entry div.socialBar[data-print="1"] .left > .more-wrapper .toolset_drawer_tab { left:80px; }

div.socialBar .left > .more-wrapper .toolset_drawer .tab {
    background: none;
    height: 30px;
    left: -20px;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: 1111112;
	display:none;
}
div.socialBar .left > .more-wrapper .toolset_drawer .tab:hover {
    cursor: pointer;
}
div.socialBar .left > .more-wrapper .toolset_drawer .tab-header {
    background-color: #555555;
    height: 26px;
    padding: 0;
    width: 100%;
}
div.socialBar .left > .more-wrapper .toolset_drawer .tab-header div {
    color: #ffffff;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    padding: 5px 5px 5px 10px;
}
div.socialBar .left > .more-wrapper .toolset_drawer .content {
    min-width: 100px;
    padding: 8px;
}
div.socialBar[data-print="1"] .left > .more-wrapper .toolset_drawer .content {
    min-width: 127px;
}
div.socialBar .send-btn-form {
    background-color: #ffffff;
    border-radius: 0;
    color: #333333;
    display: block;
    text-align: left;
    width: 250px;
}
div.socialBar .send-btn-form input {
    width: 97%;
}
div.socialBar .send-btn-form textarea {
    width: 97%;
}
div.socialBar .send-btn-form input#sendBtn {
    background-color: #e6e6e6;
    border: medium none;
    border-radius: 5px;
    color: #5a5a5a;
    display: block;
    margin: 10px 0;
    padding: 5px 10px;
    width: 99%;
}
div.socialBar .send-btn-form input#sendBtn:hover {
    background-color: #cc0000;
    color: #ffffff;
    cursor: pointer;
}
div.socialBar .addEmailBtn {
    color: #009eda;
    cursor: pointer;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}
div.socialBar #recpEmail {
    float: left;
    margin: 3px 0;
    width: 85%;
}
div.socialBar #msgBox {
    background-color: #ff0000;
    border: 3px solid #aaaaaa;
    color: #ffffff;
    font-size: 1.4em;
    padding: 5px;
}
div.socialBar #successClose {
    background-color: #dddddd;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    bottom: 10px;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    position: absolute;
    right: 10px;
}
div.socialBar .emailLoader {
    left: 120px;
    position: absolute;
}
div.socialBar #closeFriend {
    cursor: pointer;
    position: relative;
    right: -270px;
}
div.socialBar #JQ_sendEmail {
    cursor: pointer;
}
div.socialBar .left > .more-wrapper .toolset_drawer .content .social_tools {
    text-align: left;
    width: 125px;
}
div.socialBar .left > .more-wrapper .toolset_drawer .content .social_tools > div {
    margin: 0 0 8px;
}
div.socialBar .left > .more-wrapper .toolset_drawer .content .social_tools > div a {
    cursor: pointer;
}
div.socialBar select.search_by_race {
    width: 150px;
}
div#fb-comments-container {
	border: 1px solid #ccc;
	margin: 10px 0;
	padding: 10px;
	position: relative;
	margin-top:15px;
}

div#fb-comments-container div#comments-header {
	font-family: sans-serif;
	margin-bottom: 10px;
	background-color: #37414A;
	color: #fff;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}



div.full-socialBar {
    border-bottom: 0 solid #eeeeee;
    border-top: medium none;
    color: #999999;
    font: 0.9em Verdana,Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
	width:180px;
	display:table-cell;
	vertical-align:middle;
}
div.full-socialBar select {
    font-size: 1.1em;
}
div.full-socialBar .hide {
    opacity: 0;
}
div.full-socialBar .show {
    opacity: 1;
}
div.full-socialBar .right {
    display: inline;
    float: right;
    width: auto;
}
div.full-socialBar .left {
    display: inline;
    float: left;
    width: auto;
}
div.full-socialBar .left .icon {
    background: url("/asset/img/social-icon-set.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-image:url("/asset/img/social-icon-set.png");
    float: left;
    height: 30px;
    margin: 0 5px 0 0;
    width: 31px;
}
div.full-socialBar .left .icon:hover {
    cursor: pointer;
    opacity: 0.5;
}
div.full-socialBar .left > .icon.fb_icon {
    background-position: -37px 0;
}
div.full-socialBar .left > .icon.tweet_icon {
    background-position: 0 0;
}
div.full-socialBar .left > .icon.gplus_icon {
    background-position: -111px 0;
}
div.full-socialBar .left > .icon.lnkdin_icon {
    background-position: -74px 0;
}
div.full-socialBar .left > .more-wrapper .icon.email_icon {
    background-position: -148px 0;
}
div.full-socialBar .left > .more-wrapper .icon.more_icon {
    background-position: -75px 0;
}
div.full-socialBar .left > .more-wrapper {
    float: left;
    position: relative;
}
div.full-socialBar .left > .more-wrapper .toolset_drawer {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: -moz-use-text-color #aaaaaa #aaaaaa;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 1px 1px 5px #dddddd;
    color: #333333;
    display: block;
    left: 20px;
    margin: 0;
    min-height: 100px;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: auto;
    z-index: 1111111;
}
div.full-socialBar .left > .more-wrapper .toolset_drawer .tab {
    background: url("/images/tools-popup-tab.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 30px;
    left: -20px;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: 1111112;
}
div.full-socialBar .left > .more-wrapper .toolset_drawer .tab:hover {
    cursor: pointer;
}
div.full-socialBar .left > .more-wrapper .toolset_drawer .tab-header {
    background-color: #555555;
    height: 26px;
    padding: 0;
    width: 100%;
}
div.full-socialBar .left > .more-wrapper .toolset_drawer .tab-header div {
    color: #ffffff;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    padding: 5px 5px 5px 10px;
}
div.full-socialBar .left > .more-wrapper .toolset_drawer .content {
    min-width: 100px;
    padding: 8px;
}
div.full-socialBar .send-btn-form {
    background-color: #ffffff;
    border-radius: 0;
    color: #333333;
    display: block;
    text-align: left;
    width: 250px;
}
div.full-socialBar .send-btn-form input {
    width: 97%;
}
div.full-socialBar .send-btn-form textarea {
    width: 97%;
}
div.full-socialBar .send-btn-form input#sendBtn {
    background-color: #e6e6e6;
    border: medium none;
    border-radius: 5px;
    color: #5a5a5a;
    display: block;
    margin: 10px 0;
    padding: 5px 10px;
    width: 99%;
}
div.full-socialBar .send-btn-form input#sendBtn:hover {
    background-color: #cc0000;
    color: #ffffff;
    cursor: pointer;
}
div.full-socialBar .addEmailBtn {
    color: #009eda;
    cursor: pointer;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}
div.full-socialBar #recpEmail {
    float: left;
    margin: 3px 0;
    width: 85%;
}
div.full-socialBar #msgBox {
    background-color: #ff0000;
    border: 3px solid #aaaaaa;
    color: #ffffff;
    font-size: 1.4em;
    padding: 5px;
}
div.full-socialBar #successClose {
    background-color: #dddddd;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    bottom: 10px;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    position: absolute;
    right: 10px;
}
div.full-socialBar .emailLoader {
    left: 120px;
    position: absolute;
}
div.full-socialBar #closeFriend {
    cursor: pointer;
    position: relative;
    right: -270px;
}
div.full-socialBar #JQ_sendEmail {
    cursor: pointer;
}
div.full-socialBar .left > .more-wrapper .toolset_drawer .content .social_tools {
    text-align: left;
    width: 125px;
}
div.full-socialBar .left > .more-wrapper .toolset_drawer .content .social_tools > div {
    margin: 0 0 8px;
}
div.full-socialBar .left > .more-wrapper .toolset_drawer .content .social_tools > div a {
    cursor: pointer;
}
div.full-socialBar select.search_by_race {
    width: 150px;
}



/* PROGRESS BAR STYLES */
progress[value]::-moz-progress-bar { background-color:#d30015;; }
progress[value]::-webkit-progress-bar { background-color:transparent; }
progress[value]::-webkit-progress-value { background-color:#d30015;; }

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  /* Dimensions */
  width: 100%;
  height: 7px;

  color:#d30015;;
  background-color:transparent;

  margin-bottom:-1px;

  z-index:0;

  position:relative;
  top:-14px;
  max-width:1180px;

}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  display: block;
}
.progress-bar {
  width: 0%;
  display: none;
  height: 7px;
  z-index:1111112;
  max-width:1180px;
}

.progress-bar > span {
  border-radius: 2px;
  display: block;
  text-indent: -9999px;
  z-index:1111112;
  height:5px;
}

.fixed { position:fixed; top:0; left:0; }

.sharepoint-details { border-bottom:2px solid #EBEBEB; border-top:2px solid #EBEBEB; margin-bottom:-2px; line-height:2.5em; }

	.sharepoint-icon { float:left; border:none !important; margin-right:15px; clear:both; display:inline-block; padding-top:4px; cursor:pointer; }
		.sharepoint-icon img { width:30px; }

	.sharepoint-text { font-size:0.8em; }

body.article.long .body-photo-inline { margin:0 auto; max-width:750px; }
body.article.long .body-photo-inline .body-photo img { max-width:750px; width:100% !important; }
.body-photo-inline .body-photo { position:relative; line-height:0.8em; width:100%; }
.body-photo-inline .body-photo img { width:100% !important; /*max-width:805px;*/ }
	.body-photo-inline .body-photo:hover .hover-social { display:table; }
	.body-photo-inline .hover-social { position:absolute; bottom:0; left:0; display:none; height:50px; padding-left:0; background:url('/asset/img/img-hover-bg.png') repeat scroll 0 0 transparent; width:100%; max-width:805px; }
		.body-photo-inline .hover-social .socialBar { width:200px; }
			.body-photo-inline .hover-social .socialBar .left .icon { background:url('/asset/img/social-icon-set.png') no-repeat scroll 0 0 transparent; }
				.body-photo-inline .hover-social .socialBar .left > .icon.fb_icon { background-position:-37px 0; }
				.body-photo-inline .hover-social .socialBar .left > .icon.lnkdin_icon { background-position:-74px 0; }
				.body-photo-inline .hover-social .socialBar .left > .icon.gplus_icon { background-position:-111px 0; }
				.body-photo-inline .hover-social .socialBar .left > .more-wrapper .icon.email_icon { background-position:-148px 0; }

		.body-photo-inline .photo-caption-social { display:none; }

.body-photo-inline .body-photo-title { line-height:1em; padding:10px 0; font-size:0.8em; }

.body-photo-inline .body-photo-byline { font-size:0.6em; font-weight:bold; line-height:1em; color:#919191; }
	.body-photo-inline .body-photo-byline a { color:#000000; font-weight:bold; }

.body-photo-inline .body-photo-bottom { border-bottom:2px solid #EBEBEB; margin-top:15px; margin-bottom:30px; }

.stream-tag { position:relative; background-color:#fbd3d4; white-space:nowrap; }
				.stream-tag a { color:#d30015;; text-decoration:none; }
				.stream-tag a:hover { background-color:#FBD3D4; }

#related-footer { margin:0 0 30px; }

body.video .comments-wrapper { line-height:2.5em; }

.comments-wrapper { float:left; width:100%; font-family:'ROBOTO', sans-serif; font-size:0.8em; font-weight:bold; border-top:2px solid #EBEBEB; border-bottom:2px solid #EBEBEB; padding:15px 0 10px; }
		.comments-label { margin-right:200px; background:url('/asset/img/comment-icon.png') no-repeat scroll 0 0 transparent; color:#d30015; padding-left:40px; height:30px; width:70px; cursor:pointer; padding-top:6px; }

body.video .comments-count { padding-top:25px; }

	.comments-count { float:left; width:200px; margin-left:-200px; text-align:right; font-family:'ROBOTO', sans-serif; font-size:0.8em; font-weight:bold; color:#919191; padding-top:20px; }
		.comments-count .count { color:#d30015;; font-size:1.3em; }
		.comments-count .show { display:inline-block; cursor:pointer; }
		.comments-count .hide { display:none; cursor:pointer; }

		.comments-count a { color:#919191; }
		.comments-count .showComments a { color:#919191; }
		a.thread-count { color:#d30015 !important; }

	#taboolaWidget { display:inline-block; padding:20px 0 0; width:100%; margin-top:35px; border-top:10px solid #000000; }
    #taboolaWidget h2 {display:none;}
	.autosized-generated-2r .trc_header_left_column { visibility:hidden !important; }
	.autosized-generated-2r .syndicatedItem .video-title { font-family:'Domine', serif !important; color:#d30015; !important; font-weight:bold !important; }

	#revContentWidget {display:inline-block; padding:20px 0 0; width:100%; margin-top:35px; border-top:10px solid #000000; }


.footer-wrapper { position:relative; clear:both; background-color:#000000; display:block; width:100%; }
	.footer {max-width:1180px; margin:0 auto;}
		.footer-logo {margin-top:-17px; width:auto; position: relative; display:inline-block;  float:left;  }
			.footer-logo .site-brand { display:table-cell; }

			.footer-logo a { color: #ffffff !important; font-size: 2.3em; font-weight: bold; text-decoration: none; }

		.footer-links { width:100%; max-width:none; height:auto; font-size:1em; margin-top:-57px;}
			.footer-links ul { height:inherit; margin:0; text-align:center; width:100%; padding:0;}
				.footer-links ul li {border-bottom:5px solid #000; display:inline-block; height:inherit; padding:0 5px; margin:0; }
					.footer-links ul li a { display:table-cell; height:inherit; vertical-align:bottom; color:#999999; text-decoration:none; padding-top:5px; padding-bottom:5px; font-size:0.8em; border-bottom:5px solid #000;}
					.footer-links ul li a:hover { color:#FFFFFF; }



	.footer-social {float:right; display: inline-block; height: 30px; overflow: hidden; padding:14px 15px 0; width:140px; }
		.footer-social .socialBar { width:150px; padding:0 0 0 0; }
			.footer-social .socialBar .left .icon { background:url('/asset/img/social-icon-set.png') no-repeat scroll 0 0 transparent; }
				.footer-social .socialBar .left > .icon.lnkdin_icon { background-position:-74px 0; }
				.footer-social .socialBar .left > .icon.gplus_icon { background-position:-111px 0; }
				.footer-social .socialBar .left > .icon.email_icon { background-position:-148px 0; }

	.footer-info { display:inline-block; color:#999999; font-size:0.8em; margin:30px auto; text-align: center; width:100%;}
		.footer-info .copyright { float:left; padding-right:20px; }

		.footer-info .info-links { display:inline-block; }
			.footer-info .info-links ul { padding:0; margin:0; }
				.footer-info .info-links ul li { float:left; padding:0 10px; display:inline;}
					.footer-info .info-links ul li a { color:#999999; }

	.mobile-footer { display:none; }
	


#share-button {  position:absolute; top:-9999px; left:-9999px; z-index:9999; margin-top:-15px; margin-left:-7px; }

  #share-button button {  background:url('/asset/img/twt-highlight-btn.png') no-repeat scroll 5px 5px transparent; border:none; height:24px; width:50px; }

#comments-container { padding:20px; clear:both; border-left:2px solid #EBEBEB; border-right:2px solid #EBEBEB; border-bottom:2px solid #EBEBEB; display:none; }

.auth { font-size:0.8em; font-weight:bold; text-align:right; font-family:'ROBOTO', sans-serif; }
.auth a { color:#d30015;; }

/** Email Signup Widget Styles **/
.newsletter-signup-container2 {border: solid 1px #E0E0E0;}
ul.newsletters {margin:0;padding:0;}

li.newsletter-select {border-bottom:solid 1px #E0E0E0; font-size:0.7em;font-weight: bold;display: table;height: 50px;width: 299px;}
#jqNewsPop li.newsletter-select { width:370px; height:auto; }
#jqNewsPop li.newsletter-select.see-more { display:none; height:35px; }
li.newsletter-select span.checkbox {width:59px;border-left: solid 1px #E0E0E0;border-right: solid 1px #E0E0E0;}
li.newsletter-select, li.newsletter-select a {color: #BBBBBB;}
#jqNewsPop li.newsletter-select, #jqNewsPop li.newsletter-select a { font-size:1em; }

li.newsletter-select.selected, li.newsletter-select.selected a {color: #d30015;;}
li.newsletter-select.even {background-color: #F5F5F5;}
span.other_list {display:table-cell;vertical-align: middle;padding-left:1em;}
span.checkbox {display:table-cell;vertical-align: middle;text-align:center;width: 61px;font-size:1.8em;cursor:pointer;}
span.checkbox:hover {color:#d30015;;}
div.signup-row {height: 50px;border: solid 1px #F0F0F0;border-top:none;margin:0;padding:0;}
#jqNewsPop div.signup-row { height:48px; }

div.signup-row input#list_email {height: 48px;width: 160px;border:none;padding-left: 13px;font-family: "Times New Roman", serif;font-style: italic;}
#jqNewsPop div.signup-row input#list_email { height:38px; font-size:1em; width:auto; }

div.signup-row input#btn_subscribe {float:right; height: 50px;width: 100px;background-color: #d30015;;border:none;color: white;font-weight:bold;}
#jqNewsPop div.signup-row input#btn_subscribe { height:49px; }

div#opt-in {display:none; font-size:0.7em;}div#think_email {display:none; font-size:0.7em; font-weight:bold; padding: 0.5em; margin-top: 10px; width: 95%;}
#jqNewsPop div#opt-in { font-size:1em; line-height:1.5em; padding:10px; }
#jqNewsPop div#opt-in input { margin-right:5px; }

span#loader{width:20px;}
/** End Email Signup Widget Styles **/


/********************************** RESPONSIVE STYLES - SITE WIDE ********************************/
.site-search-mobile { display:none; }
.site-nav-mobile { display:none; }

@media only screen and ( max-width : 767px ){
    .verticals-menu img {width: 20px;cursor:pointer;margin-top:3px;}
}

@media only screen and ( min-width : 1025px ){
	.view-mobile { display:none!important; }
}

@media only screen and ( min-width : 1210px ) {
	.dos-col .alpha { padding-left: 0; }
}

@media only screen and ( max-width : 1179px ){
	.alpha-container.beta_hide .alpha {
		margin-right: 0;
		border-right: none;
	}
	.beta-container.beta_hide {
		display: none;
	}

    .dos-col .top-banner .RC-AD-TOP-BANNER {display:block;}

}

@media only screen and ( min-width : 1054px ) and ( max-width : 1100px ){
	.top_ad_standard, .bottom_ad_standard {
		margin-left: -25px;
	}
}

@media only screen and ( min-width : 768px ) and ( max-width : 1053px ){
	.top_ad_standard, .bottom_ad_standard {
		display: none;
	}
}

@media only screen and ( min-width : 1025px ) and ( max-width : 1399px ){
	.footer-links { width:100%; height:auto; }
	/*.footer-info { margin:20px 0 50px 50px; }*/
    .footer-info { text-align: center; }
	.footer-social { padding:15px 0 0 20px; }
}


@media only screen and ( min-width : 768px ) and ( max-width : 1179px ){
    .site-logo { margin-right:100px; }
    .site-logo img.ss { height:74px; z-index:15; position:relative;}

	.site-search { display:none; }

	.footer-links { height:auto; width:73%; float:right; }
	.footer-social { display:block; position:absolute; top:60px; left:20px; }
	.footer-info { margin:30px 0 50px; padding:0 2px; width:100%; }
		.footer-info .copyright { float:none; width:100%; display:inline-block; margin-left:-20px; }
		.footer-info .info-links { padding-right:10px; }

	/*body.home .RC-AD-TOP-BANNER.CENTER { margin:10px auto 0; }*/

}

@media only screen and ( min-width : 768px ) and ( max-width : 1024px ){
	.site-nav ul li.fpc-mobile { display:inline-block; }
	.site-nav ul li.fpc-desktop { display:none; }
}

@media only screen and ( max-width : 1024px ){
	.tres-col .alpha { margin:0 325px 0 0; }
}

@media only screen and ( max-width : 767px ){
    body {margin-top:55px;}
	#masthead-wrapper { height:54px; border-bottom:1px solid #EBEBEB; background:none repeat scroll 0 0 transparent !important; }
	.nav-up { top: -54px !important; // same as header height. use variables in LESS/SASS }

	.alpha-wrapper { background-color:#FFFFFF; }
		.top-bar { display:none; }
		.site-logo { margin-right:0; height:54px; }
		.full-site-arrow { display:block; }
		.mobile-site-arrow { display:none; }

		.site-logo img.ss { height:54px; }

		.verticals-menu { top:23px; left:240px; width:35px; }

		.verticals-tab { top:15px; /*left:-3px;*/ left:-0px; }
		.verticals-site-list { top:24px; border-top:none; }


    .beta-wrapper { height: 54px; padding-top: 0; position: absolute; right: 0; width: 60px; }
        .site-search { display:none; }
        .sections-menu { display:none; }
        .site-nav { margin-right:0; margin-top:0; position:absolute; right:14px; top:-7px; }
        .site-nav ul li { display:none; }
        .site-nav ul li.site-nav-more { display:block; }

        .site-search-mobile {display:none;}
        .site-nav-more {margin-right:0px;}
        .site-nav-more .jQ-section-menu {display:none;}
        .site-nav-more img.jQ-section-menu { width:25px; display:block;}
        .sections-tab { display:block; bottom:-11px; right:4px; }

        .site-nav-more ul.primary {top:36px;}


	.page-header { display:none; }

	.dos-col .alpha { margin:0; border-right:none; padding:0 10px 10px 10px;}
	.dos-col .beta-container { display:none; }
    .dos-col .top-banner .RC-AD-TOP-BANNER {display:none;}  
        .dos-col .top-banner .RC-AD-MOBILE-BANNER {display:block;}

	.tres-col .alpha { border-right:none; margin:0; padding:0 25px; }
	.tres-col .beta-container { display:none; }

	.mobile-footer { display:inline-block; width:100%; color:#494949; font-size:0.9em; padding:20px 0; }
		.mobile-copyright { padding-left:20px; }
			.mobile-copyright a { color:#494949; }

	.footer-wrapper { margin-top:50px; }
		.footer-links { display:none; }
		.footer-info { display:none; }

		.footer-logo { width:auto; }
			.footer-logo .site-brand { padding:10px; }

		.footer-social { float:left; padding:7px 15px; }

	div.socialBar .left > .more-wrapper .toolset_drawer { left:-83px; }
	div.socialBar .left > .more-wrapper .toolset_drawer_tab { left:88px; }
	div.socialBar .left > .more-wrapper .toolset_drawer .email-wrapper .toolset_drawer { left:-188px; }
	body.home div.socialBar .left > .more-wrapper .toolset_drawer .email-wrapper .toolset_drawer { left:0; top:45px; }
	
	.video-social .socialBar .left > .more-wrapper .toolset_drawer .email-wrapper .toolset_drawer { left:112px; }
	.beta-wrapper .RC-AD-TOP-BANNER {display:none;}
	
	body.home .socialBar-shares { float:right; margin-top:-25px; }
	
	#facebox { width:100% !important; }
	#jqNewsPop li.newsletter-select { width:100% !important; display:none; }
	#jqNewsPop li.newsletter-select.selected { display:table; }
	#jqNewsPop li.newsletter-select.see-more { display:table; }

}

@media only screen and ( max-width : 727px ){
	.top_ad_standard, .bottom_ad_standard {
		display: none;
	}
	
	
}

/* iPhone 6+ */
@media only screen and ( max-width : 414px ){
	.section-title-wrapper .section-title h2 { font-size:1.5em !important; }
	/*.view-mobile { display:block!important; }*/
	
	/*#jqNewsPop li.newsletter-select { width:375px; }*/
}

/* iPhone 6 */
@media only screen and ( max-width : 375px ){
	/*#jqNewsPop li.newsletter-select { width:355px; }
	#facebox { width:355px; }*/
}

/* Android Smartphones */
@media only screen and ( max-width : 360px ){
	/*#jqNewsPop li.newsletter-select { width:320px; }*/
}

/* iphone 5 down */
@media only screen and ( max-width : 320px ){
	.video-social .socialBar .left > .more-wrapper .toolset_drawer .email-wrapper .toolset_drawer { left:27px; top:96px; }
    .dos-col .RC-AD-MOBILE-BANNER {margin-left:-10px;}
	
	/*#jqNewsPop li.newsletter-select { width:280px; }*/
}


/*# sourceMappingURL=master.css.map */

/* Recents Slider Styles */

.hp-recents-container {/*margin-right: 30px; background:#F8FAF9;*/ position:relative; margin-top:0px; border-bottom:1px solid #ebebeb; padding-bottom:3px;}
.hp-recents-container #entries { margin-right:35px;padding-top:3px; }
#recents_carousel { margin: 0;padding: 0;list-style:none;height:64px;overflow:auto;width:100%; }
#recents_carousel > li { margin: 0;padding: 0;float: left;display: table-row !important; }
#recents_carousel > li > a {display:table-cell;border-right:1px solid #EBEBEB;height: 64px;width:64px;}
#recents_carousel > li > a > .image { height: 64px;width:64px; overflow:hidden;}
#recents_carousel > li > a > .image > img { display:block;height:64px;}
#recents_carousel > li > .image { display:table-cell; }
#recents_carousel > li > .info { display:table-cell; padding:0 5px 0 10px;vertical-align:top;font-size:0.7em;line-height:1.3em;font-weight:bold;}
#recents_carousel > li > .info a { color:#000;display:block;margin:3px 0 0;padding-right: 5px;border-right:2px solid #ebebeb;min-height:45px;}
#recents_carousel > li > .buffer { width:10px;display:table-cell;}

.hp-recents-container .flex-direction-nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: right;
	width: 30px;
	height:64px;
	position:absolute;
	right:0px;
	top:3px;
  z-index:2;
}
.hp-recents-container .flex-direction-nav li {
	float: left;
	margin: 0;
	padding: 0;
}
.hp-recents-container .flex-direction-nav li a.flex-prev {
	display: block;
	background: url(/asset/img/scroll-left.png) center top;
	width: 30px;
	height: 31px;
	overflow: hidden;
	color: transparent;
	border-bottom: 2px solid #3E3E3E;
}
.hp-recents-container .flex-direction-nav li a.flex-next {
	display: block;
	background: url(/asset/img/scroll-right.png) center bottom;
	width: 30px;
	height: 31px;
	overflow: hidden;
	color: transparent;
}
.hp-recents-container .flex-direction-nav li a:hover {
	opacity: 0.8;
}

/* Ad styles */

.RC-AD {
	/*background: #eee;*/
}
.beta .RC-AD {
	margin-bottom: 20px;
    margin-top:20px;
}
.bottom_ad_standard {
	margin-bottom: 20px;
}

/* Probably temporary, just to see squares if ad doesn't load */
/*body.custom-topic .RC-AD-TOP-BANNER { max-width:inherit; }*/
/*.RC-AD-TOP-BANNER {
	max-width: 728px;
	width: 100%;
    margin-top:-2px;
	/*min-height: 90px;*/
/*}*/
.RC-AD-TOP-BANNER {
	margin:10px auto;
	text-align:center;
} 
.RC-AD-BOTTOM-BANNER {
	max-width: 728px;
	width: 100%;
	min-height: 90px;
}
.RC-AD-MOBILE-BANNER {
    max-width: 320px;
    width: 100%;
    min-height: 50px;
}
.RC-AD-BANNER-SMALL {
	max-width: 622px;
	width: 100%;
	/*min-height: 60px;*/
}
.RC-AD-BOX-TOP,
.RC-AD-BOX-MIDDLE,
.RC-AD-BOX-BOTTOM,
.RC-AD-BOX-WIDGET,
.RC-AD-BOX-MOBILE_1,
.RC-AD-BOX_MOBILE_2 {
	width: 300px;
	height: auto;
    /*min-height: 250px;*/
}
.RC-AD-BOX-BOTTOM-600 {
	width: 300px;
	height: auto;
}
.RC-AD-SKY-TOP,
.RC-AD-SKY-BOTTOM {
	width: 160px;
	height: 600px; 
	display:block;
	margin:10px auto;
}
/* Widget styles */

.alpha .widget_slot.loaded, .beta .widget_slot.loaded {
	margin-bottom: 20px; 
}
 
/* Print styles */

@media print {
    #masthead .beta-wrapper {
        display: none;
    }
}

.mc_newsletter_span{
	clear: both !important;
    width: 100% !important;
}
