/* VERTICAL STYLES - RCP.CSS */

.article-body-text hr { height:2px; border:0; background-color:#000000; }

body.article-landing h1.sponsor { color:#EB2026; }
body.article-landing .landing-header {
    border-bottom: 7px solid #EB2026;
}

/* List color css */

body.list h1 { color:#EB2026; }
body.list h2.sponsor { color:#EB2026; }
body.list .socialBar-clicks { color:#EB2026; }
body.list .socialBar-shares { color:#EB2026; }
body.list .list-body-text h3 { color:#EB2026; }

/* End of lists color css */


/* Video landing page and perma links color specific css */

body.video h1 { color:#EB2026; }
body.video h2.sponsor { color:#EB2026; }
body.video .beta .social_links { border: 4px solid #D30015; }
body.video .landing-header { border-bottom:7px solid #EB2026; }
body.video .video-section { background-color:#EB2026; }
body.video .socialBar-clicks { color:#EB2026; }
body.video .socialBar-shares { color:#EB2026; }
body.video .breaking-text a { color:#EB2026; }
body.video .loadMoreBtn { background-color: rgb(211, 0, 21);  }
body.video #searchbox_video { background: rgb(211, 0, 21) none repeat scroll 0% 0%; }
body.video .cal_container .title_container { background-color:#D30015; }

/* End of video CSS */

/* BIG 970x90 AD BELOW MASTHEAD */ 
.top-bannerx {clear:both; display:block; text-align:center; width:100%; }
.top-bannerx > .RC-AD {} 
.top-bannerx > .RC-AD > div {background-color:#fbfbfb; border-bottom:1px solid #ebebeb; border-top:1px solid #ebebeb;}
.top-bannerx > .RC-AD > div > div {width:970px; min-height:90px;margin:10px auto 6px auto; display:inline-block;}
.top-bannerx > .RC-AD-TOP-BANNER-BIG {width:100%; text-align:center; min-height:1px;}

.site-nav-more ul.primary { background-color:#C81B21; }
        .site-nav-more ul.primary li { border-bottom:2px solid #B3171B; }
		
.site-nav-more .sections-tab { border-bottom: 8px solid #C81B21; border-left: 8px solid transparent; border-right: 8px solid transparent; bottom: -10px; height: 0; right: 4px; position: absolute; width: 0; z-index:15; display:none; }

.site-nav-more ul li ul.inner li { background-color:#B3171B; border:none; }

.progress-bar{ background-color: #d30015; }

.progress-bar > span { background-color: #d30015; }

.site-brand { background-color:#d30015;; display:inline-block; padding:21px 15px 5px; position:relative; top:0; height:48px; }
.site-name { position:relative; top:0; margin-left:1%; }
.site-tab { position:absolute; top:0; right:-13px; width: 0; 	height: 0; 	border-bottom: 17px solid #710E11; 	border-right: 13px solid transparent; }

.site-name a { color:#d30015; }

.article-top { border-bottom:10px solid #d30015; }

/* WIDGET STYLES */

.rec-link-body[data-id="34"] li {
    font-size: 0.94em;
    line-height: 1;
}
.rec-link-body[data-id="34"] .image.item_left {
    width: 35%;
}
.rec-link-body[data-id="34"] .title.item_left {
    width: 62%;
}

.widget_slot[data-widget-title="RCP Reporters Latest Tweets"] .rec-link-body {padding-left:5px; border-right:1px solid #ebebeb; border-left:1px solid #ebebeb;}

/* recommeded widget */
.widget_slot.loaded {
	overflow:hidden;
	font-weight:bold;
	font-size:0.9em;
	position: relative;
}
.widget_slot.loaded.overlay:after {
	content: " ";
	z-index: 10;
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background: url(/asset/img/ajax-grey-lg.gif) no-repeat scroll center center;
	background-color: rgba(0, 0, 0, 0.5);
}
		.rec-widget-header { height:55px; background-color:#d30015;; background-repeat: no-repeat; }
		.rec-title { display:inline-block; padding:20px 0px 0px 15px; width:auto; color:#FFFFFF; float:left; }
		.rec-title .title_icon { display: inline-block; vertical-align: middle; padding-right: 6px; }
		.rec-site {
			background:url('/asset/img/white-bg-chev.png') no-repeat scroll right 10px top 20px;
			/*display:inline-block;*/
			width:35%;
			height: 100%;
			color:#FFFFFF;
			float:right;
			position:relative;
			/*padding:23px 14px 22px 15px;*/
		}
			.rec-site .name {
				font-size:0.75em;
				font-weight:normal;

				border-left:1px solid #fff;
				border-left:1px solid rgba(255, 255, 255, .2);
				-webkit-background-clip: padding-box;
				background-clip: padding-box;

				padding-top: 23px;
				padding-left: 0px;
				padding-right: 0px;
				/*position: absolute;*/
				top: 0px;
				bottom: 0px;
				right: 0px;
				float: right;
				height: 100%;
			}
				.rec-site .name .buffer {
					padding: 0 55px 0 15px;
					white-space: nowrap;
				}
			.rec-site .menu { display:inline-block; width:25px; height:25px; right:10px; top:18px; cursor:pointer; position:absolute; z-index:1; }

			.rec-site-tab { border-bottom: 10px solid #ebebeb; border-left: 10px solid transparent; border-right: 10px solid transparent; bottom: 0; height: 0; right: 13px; position: absolute; width: 0; display:none; z-index:1111; }


		.rec-image { height: 175px; width: 100%; position: relative; overflow: hidden;}
			.rec-image .centered { position:absolute; left: 50%; top: 50%; height: auto; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
		.rec-site-list { background-color: #ffffff; border: 1px solid #ebebeb; box-shadow: 0 2px 2px #000000; display: none; left: -48px; position: absolute; top: 55px; width: 180px; z-index: 111; }
			.rec-site-list ul { padding:0; margin:0; }
				.rec-site-list ul li:hover {  }
					.rec-site-list ul li span { color:#000000; font-size:1em; padding-left: 15px; display:block; line-height:2.3em; background-color:#fff; }

					.rec-site-list ul li span { cursor: pointer;font-size:0.9em; padding-left: 15px; display:block; line-height:2.3em; }
					.rec-site-list ul li span:hover { text-decoration: underline;}

		.rec-image { position:relative; line-height:0.9em; }
			.rec-featured-category { position:absolute; bottom:0; left:0; background-color:#329CE8; color:#FFFFFF; font-size:0.75em; padding:9px 15px; font-weight:normal; }
		.rec-link-body {
			border-bottom:1px solid #EBEBEB;
			/*padding:0 0 10px 0; */
			overflow: auto;
			position: relative;
			background-color:#fff;
		}
		.rec-link-body .race_title {
			background-color: #EBEBEB;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			text-align: center;
			padding: 8px 0;
			font-size: 14px;
		}
		.rec-link-body .race_nav {
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			text-align: center;
			font-size: 14px;
		}
			.rec-link-body .race_nav .left_arrow {
				border-right: 1px solid #ddd;
				width: 39px;
				padding-top: 12px;
				height: 30px;
				float: left;
				cursor: pointer;
			}
			.rec-link-body .race_nav .left_arrow:hover {
				background: #EBEBEB;
			}
			.rec-link-body .race_nav .date {
				color: #999;
				padding-top: 12px;
				height: 30px;
			}
			.rec-link-body .race_nav .right_arrow {
				border-left: 1px solid #ddd;
				width: 39px;
				padding-top: 12px;
				height: 30px;
				float: right;
				cursor: pointer;
			}
			.rec-link-body .race_nav .right_arrow:hover {
				background: #EBEBEB;
			}
			.rec-link-body > ul { padding:0; margin:0; } 
				.rec-link-body > ul > li { border-left:1px solid #EBEBEB; border-right:1px solid #EBEBEB; padding:0 15px 0 15px; border-bottom:none; }
				.rec-link-body > ul > li .item_date {
					color: #d30015;
					font-size: 12px;
					padding-bottom: 4px;
				}
				.rec-link-body > ul > li .title.item_left {
					float: right;
					width: 56%;
				}
				.rec-link-body > ul > li .byline.item_left {
				    float: right;
				    width: 61%;
				}
				.rec-link-body > ul > li .image.item_left {
					float: left;
					width: 40%;
				}
					.rec-link-body > ul > li .image.item_left .content_img{
						padding-top:0;
					}

					.rec-link-body > ul > li .img_container.full_width{
						width:100%; 
						height:150px;
						overflow: hidden;
					}
					.rec-link-body > ul > li .img_container.full_width img.content_img {width:100%;}

				.rec-link-body > ul > li .title a {font-size:0.9em;}
				.rec-link-body > ul.icons li { padding-left: 45px; }
				.rec-link-body > ul.icons li.poll,
				.rec-link-body > ul.icons li.photo {
					background: transparent url("/asset/img/red-stream-timeline-icon.png") no-repeat scroll 12px 12px;
				}
				.rec-link-body > ul.icons li.video {
					background: transparent url("/asset/img/red-stream-camera.png") no-repeat scroll 12px 12px;
				}
				.rec-link-body > ul.icons li.article,
				.rec-link-body > ul.icons li.entry,
				.rec-link-body > ul.icons li.list {
					background: transparent url("/asset/img/red-stream-text-icon.png") no-repeat scroll 12px 15px;
				}
				.rec-link-body > ul.icons li.tweet {
					background: transparent url("/asset/img/red-stream-tweet-icon.png") no-repeat scroll 12px 15px;
				}

				.rec-link-body > ul > li .content_img { padding-top: 10px; max-width: 100%; }
				.rec-link-body > ul > li .content_wrapper { padding: 10px 0 5px 0; border-bottom:2px solid #EBEBEB; overflow:auto; position:relative; }
				.rec-link-body > ul > li:last-child .content_wrapper { border-bottom:none; }
				.rec-link-body > ul.scroll li:last-child { padding-bottom: 50px; }

				.rec-link-body > ul.race li {
					padding: 0;
					margin: 0;
					border: none;
					height: 50px;
					display: block;
					overflow: auto;
					border-top: 1px solid #ddd;
					border-left: 1px solid #ddd;
					border-right: 1px solid #ddd;
					overflow: hidden;
				}
				.rec-link-body > ul.race li:first-child {
					border-top: none;
				}
				.rec-link-body > ul.race li .dot {
					padding-top: 19px;
					padding-left: 14px;
					width: 25px;
					height: 31px;
					float: left;
					border-right: 1px solid #ddd;
				}
					.rec-link-body > ul.race li .dot .inner_dot {
						width: 12px;
						height: 12px;
						-webkit-border-radius: 12px;
						-moz-border-radius: 12px;
						border-radius: 12px;
					}
				.rec-link-body > ul.race li .candidate {
					padding-top: 10px;
					padding-bottom: 10px;
					padding-left: 14px;
					width: auto;
					float: left;
				}
					.rec-link-body > ul.race li .candidate .image {
						width: 30px;
						height: 30px;
						-webkit-border-radius: 30px;
						-moz-border-radius: 30px;
						border-radius: 30px;
						overflow: hidden;
						float: left;
					}
						.rec-link-body > ul.race li .candidate .image img {
							display: block;
							width: 100%;
						}
					.rec-link-body > ul.race li .candidate .name {
						padding-left: 10px;
						padding-top: 5px;
						float: left;
					}
				.rec-link-body > ul.race li .percentage {
					padding-top: 14px;
					padding-left: 15px;
					width: 40px;
					float: right;
					border-left: 1px solid #ddd;
					text-align: right;
					padding-right: 19px;
					height: 40px;
					background-color: #EBEBEB;
				}

			.rec-link-body .category { font-size:0.75em; text-transform:uppercase; padding:5px 0 0; }
			.rec-link-body .byline { font-size:1.1em; }
				.rec-link-body .byline a { color:#000000; font-size:0.7em; }
				.rec-link-body .byline a.rec-auth { color:#919191; }

				.rec-link-body .white-overlay {
					background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255, 0.85) 100%);
					height:50px;
					position: absolute;
					bottom: 0;
					left: 1px;
					right: 1px;
					pointer-events: none;
				}

				/* RCP Averages Widget */
				.rec-link-body .rcp_averages {
					overflow: auto;
				}
					.rec-link-body .rcp_averages .spread {
						clear: left;
						padding: 0;
						float: right;
					}

						.rec-link-body .rcp_averages .spread a {
							color: #360;
							font-size:12px;
							font-weight: normal;
						}
					.rec-link-body .rcp_averages .byline {
						color: #919191;
						font-size: 0.8em;
						display:none;
					}

					.rec-link-body .rcp_averages ul.candidates {
						margin: 5px 0 0; padding: 0 0 5px;
						font-size: 12px;
						border-bottom: 1px dotted #ccc;
						overflow: auto;
					}
						.rec-link-body .rcp_averages ul.candidates > li {
							margin: 0 10px 0 0; padding: 0;
							display: block;
							color: #666;
							overflow: auto;
							background:none;
							font-weight: normal;
						}
								.rec-link-body .rcp_averages ul.candidates > li .name {
									float: left;
								}
								.rec-link-body .rcp_averages ul.candidates > li .score {
									float: right;
								}


				/* Latest Polls Widget */
				.rec-link-body .latest_polls {
					overflow: auto;
				}
					.rec-link-body .latest_polls .spread {
						clear: left;
						padding: 5px 0px 0px;
						float: right;
						padding-right: 10px;
					}
						.rec-link-body .latest_polls .spread a {
							color: #666;
							font-weight:normal; font-size:12px;
						}
						.rec-link-body .latest_polls .spread a.dem {
							color: #013BFF;
						}
						.rec-link-body .latest_polls .spread a.gop {
							color: #d30015;
						}
					.rec-link-body .latest_polls ul.candidates {
						margin: 5px 0 0; padding: 0 0 5px;
						font-size: 12px;
						border-bottom: 1px dotted #ccc;
						overflow: auto;
					}
						.rec-link-body .latest_polls ul.candidates > li {
							margin: 0 10px 0 0; padding: 0;
							float: left;
							width: 79px;
							max-width: 79px;
						}
							.rec-link-body .latest_polls ul.candidates > li a {
								color: #666;
								font-weight:normal;
							}
								.rec-link-body .latest_polls ul.candidates > li a .name {
									width: 60px;
									text-align: right;
									display: inline-block;
								}
								.rec-link-body .latest_polls ul.candidates > li a .score {
									width: 19px;
									text-align: right;
									display: inline-block;
								}

.widget_slot.loaded .more {
	text-align:center;
	font-size:0.75em;
	background-color:#fff;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
}
	.widget_slot.loaded .more a { color:#000000; display: block; padding: 10px 0; font-size:1.25em;} 

.race-wrapper { border-left:1px solid #EBEBEB; border-right:1px solid #EBEBEB; }
	.widget_slot.loaded .head_to_head_candidates { background-color:#F0F0F0; padding:15px; }
		.widget_slot.loaded .head_to_head_candidates .menu { float:left; margin-right:10px; cursor:pointer; }
		.widget_slot.loaded .head_to_head_candidates .menu img { width:21px; }

		.widget_slot.loaded .head_to_head_candidates .names {}
			.widget_slot.loaded .head_to_head_candidates .names a {}
				.widget_slot.loaded .head_to_head_candidates .names span.approve { color:#013BFF; }
				.widget_slot.loaded .head_to_head_candidates .names span.disapprove { color:#d30015;; }
				.widget_slot.loaded .head_to_head_candidates .names span.dem { color:#013BFF; }
				.widget_slot.loaded .head_to_head_candidates .names span.gop { color:#d30015; }
				.widget_slot.loaded .head_to_head_candidates .names span.other { color:#000000; }
				.widget_slot.loaded .head_to_head_candidates .names span.ind { color:#47B37F; }
			.widget_slot.loaded .head_to_head_candidates .names .versus { color:#808080; }

	.race-wrapper .photos { text-align:center; padding:25px 0; }
		.race-wrapper .photos .candidate {
			position:relative;
			border-radius:50px;
			overflow: hidden;
		}
		.race-wrapper .photos .candidate img.overlay {
			position:absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
		.race-wrapper .photos .candidate img.c_photo {
			width: 100%;
			position:absolute; left: 50%; top: 50%; height: auto; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
		}
		.race-wrapper .photos .vert-separator { height:100px; width:1px; background-color: #EBEBEB; display:inline-block; }
		.race-wrapper .photos .candidate.approve { width:100px; height:100px; border-radius: 0px; display:inline-block; margin:0 22px;}
		.race-wrapper .photos .candidate.approve img.c_photo { width: auto;}
		.race-wrapper .photos .candidate.disapprove { width:100px; height:100px; border-radius: 0px; display:inline-block; margin:0 22px;}
		.race-wrapper .photos .candidate.disapprove img.c_photo { width: auto;}
		.race-wrapper .photos .dem { width:100px; height:100px; border-radius:50px; display:inline-block; margin:0 22px; background-color:#013BFF;}
		.race-wrapper .photos .gop { width:100px; height:100px; border-radius:50px; display:inline-block; margin:0 22px; background-color:#d30015;;}
		.race-wrapper .photos .ind { width:100px; height:100px; border-radius:50px; display:inline-block; margin:0 22px; background-color:#47B37F;}
		.race-wrapper .photos .other { width:100px; height:100px; border-radius:50px; display:inline-block; margin:0 22px; background-color:#000000;}
		/*.race-wrapper .photos img { width:100px; height:100px; border-radius:50px; }*/

	.race-wrapper .scores { text-align:center; width:299px; }
		.race-wrapper .scores div { float:left; font-family:"Helvetica Neue", sans-serif; font-size:1.5em; width:149px; font-weight:900; }
		.race-wrapper .scores .approve-score { color:#013BFF; }
		.race-wrapper .scores .disapprove-score { color:#d30015;; }
		.race-wrapper .scores .dem-score { color:#013BFF; }
		.race-wrapper .scores .gop-score { color:#d30015;; }
		.race-wrapper .scores .other-score { color:#000000; }
		.race-wrapper .scores .ind-score { color:#47B37F; }

	.race-wrapper .score-bar { position:relative; display:inline-block; padding:0 15px 25px }
		.race-wrapper .score-bar .approve-bar { background-color:#013BFF; height:20px; border-right:1px solid #FFFFFF; float:left; }
		.race-wrapper .score-bar .disapprove-bar { background-color:#d30015;; height:20px; float:left; }
		.race-wrapper .score-bar .dem-bar { background-color:#013BFF; height:20px; border-right:1px solid #FFFFFF; float:left; }
		.race-wrapper .score-bar .gop-bar { background-color:#d30015;; height:20px; float:left; }
		.race-wrapper .score-bar .other-bar { background-color:#000000; width:26px; height:20px; border-right:1px solid #FFFFFF; float:left; }
		.race-wrapper .score-bar .ind-bar { background-color:#47B37F; width:241px; height:20px; float:left; }
		.race-wrapper .score-bar .marker { width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #FFFFFF; position:absolute; top:0; left:143px; }

	.head_to_head_race_dropdown {
		background-color: #ffffff;
		border: 1px solid #ebebeb;
		box-shadow: 0 2px 2px #000000;
		display: none;
		left: 0;
		position: absolute;
		top: 103px;
		z-index: 111;
	}
		.head_to_head_race_dropdown ul { padding:0; margin:0; }
			.head_to_head_race_dropdown ul li:hover {  }
				.head_to_head_race_dropdown ul li span { color:#000000; font-size:1em; padding-left: 15px; display:block; line-height:2.3em; background-color:#fff; }

				.head_to_head_race_dropdown ul li span { cursor: pointer;font-size:0.9em; padding-left: 15px; padding-right: 15px; display:block; line-height:2.3em; }
				.head_to_head_race_dropdown ul li span:hover { text-decoration: underline;}

/* changing lanes widget */
.cl-widget { margin:30px 0; }
	.cl-widget .header { background:url('/asset/img/cl-widget-bg.png') no-repeat scroll 0 0 transparent; height:55px; }
		.cl-widget .header .title { text-transform:uppercase; color:#FFFFFF; font-weight:bold; padding:16px 0 0 35px; }

	.cl-widget .vid-title { font-weight:bold; line-height:1.1em; padding:10px; }

	.cl-widget .source { color:#d30015;; font-size:0.75em; padding-left:10px; }

/* poll stream widget */
.poll-stream-widget { overflow:hidden; font-weight:bold; font-size:0.9em; margin-top:40px; }
		.poll-stream-widget .title { display:inline-block; padding:20px 40px; width:100%; color:#FFFFFF; background:url('/asset/img/stream-widget-icon.png') no-repeat scroll 15px 51% #d30015;; }

		.poll-stream-body { border-left:1px solid #EBEBEB; border-right:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB; padding:10px 25px 10px 15px; }
			.poll-stream-body ul { padding:0; }
				.poll-stream-body ul li { border-bottom:2px solid #EBEBEB; padding:13px 0 15px 30px; background:url('/asset/img/stream-timeline-icon.png') no-repeat scroll 0 15px transparent; }
				.poll-stream-body ul li:last-child { border:none; }
					.poll-stream-body .timeline-recent { color:#d30015;; font-size:0.8em; font-weight:normal; }
					.poll-stream-body .timeline { color:#919191; font-size:0.8em; font-weight:normal; }
					.poll-stream-body .title { background:none; padding:0; color:#d30015;; }
					.poll-stream-body .visual { padding-top:10px; }

		.poll-stream-widget .more {
			text-align:center;
			font-size:0.75em;
			background-color:#fff;
			border-left: 1px solid #EBEBEB;
			border-right: 1px solid #EBEBEB;
			border-bottom: 1px solid #EBEBEB;
		}
			.poll-stream-widget .more a { color:#000000; display: block; padding: 10px 0; }

/* congressional bill tracker widget */
.cbt-widget { overflow:hidden; font-weight:bold; font-size:0.9em; margin:30px 0; }
	.cbt-widget .filter-box { width:100%; display:inline-block; background-color:#EBEBEB; }
		.cbt-widget .filter-box .filter { background: url("/asset/img/cbt-cog.png") no-repeat scroll 20px 15px transparent; border-right: 1px solid #afafaf; cursor: pointer; float: left; height: 40px; width: 50px; }

		.cbt-widget .filter-box .search { display:inline-block; height:40px; width:249px; }
			.cbt-widget .filter-box .search input { background: url("/asset/img/grey-mag.png") no-repeat scroll 225px 14px transparent; border: medium none; height: 40px; padding-left: 10px; width: 100%; font-size:0.8em; color:#9D9D9D; }

			#form_state_select { display:none; }
			.cbt-widget .filter-box .search select { height:40px; border:none; height:40px; width:100%; background-color:#E4E4E4; color:#9D9D9D; font-size:0.8em; padding-left:10px; }
				.cbt-widget .filter-box .search select option { background-color: #FFFFFF; color:#000000; }

	.cbt-widget .title { background: url('/asset/img/cbt-widget-icon.png') no-repeat scroll 10px 17px #d30015;; display:inline-block; padding:20px 15px 20px 40px; width:100%; color:#FFFFFF; float:left; }
	.cbt-widget .link-body { border-left:1px solid #EBEBEB; border-right:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB; padding:0 15px 10px; }
		.cbt-widget .link-body ul { padding:0; margin:0; }
			.cbt-widget .link-body ul li { border-bottom:2px solid #EBEBEB; padding:10px 0; display:inline-block; }

			.cbt-widget .link-body ul li .title { background-color:#FFFFFF; padding:0; }

			.cbt-widget .link-body ul li .status { color:#808080; font-size:0.75em !important; font-weight:normal; }
			.cbt-widget .link-body ul li .status .label { color:#000000; font-size:1.1em !important; font-weight:bold; }

			.cbt-widget .link-body ul li:last-child { border:none; }

	.cbt-widget .more {
		text-align:center;
		font-size:0.75em;
		background-color:#fff;
		border-left: 1px solid #EBEBEB;
		border-right: 1px solid #EBEBEB;
		border-bottom: 1px solid #EBEBEB;
	}
		.cbt-widget .more a { color:#000000; display: block; padding: 10px 0; }

	/* CBT SELECT MENU STYLES */
	.s-hidden { visibility:hidden; padding-right:10px; }
	.select { cursor:pointer; display:none; position:relative; font:normal 11px/22px Arial, Sans-Serif; color:#000000; border:0px solid #ccc; }
	.styledSelect { position:absolute; top:0; right:0; bottom:0; left:0; background-color:#ebebeb; padding:10px; font-weight:bold; }
	.styledSelect:after { content:""; width:0; height:0; border:5px solid transparent; border-color:black transparent transparent transparent; position:absolute; top:18px; right:10px; }
	.styledSelect:active, .styledSelect.active { background-color:#eeeeee; }
	.options { display:none; position:absolute; top:100%; right:0; left:0; z-index:999; margin:0 0; padding:0 0; list-style:none; border:1px solid #ccc; background-color:#FFFFFF; -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2); box-shadow:0 1px 2px rgba(0, 0, 0, 0.2); height:310px; overflow-y:scroll; }
	.options li { padding:0 6px; margin:0 0; padding:0 10px; }
	.options li:hover { background-color:#39f; color:#FFFFFF; }

/* newsletter signup widget */
.newsletter-widget { background-color: #151314; display: table; height: 60px; width: 300px; margin-top:15px; }
	.newsletter-widget .label { color: #ffffff; display: table-cell; height: inherit; padding-left: 15px; vertical-align: middle; width: 80%; border-right:1px solid #676566; }
	.newsletter-widget .jQ-news-widget { background: transparent url("/asset/img/grey-down-arrow-sm.png") no-repeat scroll center center; display: table-cell; height: inherit; width: 20%; cursor:pointer; }

.right-300-ad { height:auto; margin-top:40px; }

.newsletter-signup-container2 { display:none; }
.newsletter-signup-container2 .newsletters-items span { color:#d30015; !important; font-size:0.8em; }


/* FOOTER STYLES */
.footer-links ul li.politics {  }
.footer-links ul li a.politics { color:#FFFFFF; padding-top:0; color:#FFFFFF; padding-top:0;  border-bottom:5px solid #d30015;}

.footer-links ul li a.markets:hover { border-bottom:5px solid #669933; padding-top:0; }
.footer-links ul li a.world:hover { border-bottom:5px solid #0C124D; padding-top:0; }
.footer-links ul li a.science:hover { border-bottom:5px solid #37414A; padding-top:0; }
.footer-links ul li a.sports:hover { border-bottom:5px solid #003399; padding-top:0; }
.footer-links ul li a.history:hover { border-bottom:5px solid #CC6600;  padding-top:0; }
.footer-links ul li a.technology:hover { border-bottom:5px solid #444444; padding-top:0; }
.footer-links ul li a.religion:hover { border-bottom:5px solid #81C0C8; padding-top:0; }
.footer-links ul li a.energy:hover { border-bottom:5px solid #70AB41; padding-top:0; }
.footer-links ul li a.education:hover { border-bottom:5px solid #8D0000; padding-top:0; }
.footer-links ul li a.defense:hover { border-bottom:5px solid #485228; padding-top:0; }
.footer-links ul li a.policy:hover { border-bottom:5px solid #65198E; padding-top:0; }
.footer-links ul li a.books:hover { border-bottom:5px solid #553C2D; padding-top:0; }
.footer-links ul li a.health:hover {border-bottom:5px solid #dbb706; padding-top:0;}
.footer-links ul li a.investigations:hover {border-bottom:5px solid #5d5d5d; padding-top:0;}
.footer-links ul li a.future:hover {border-bottom:5px solid #004952; padding-top:0;}
.footer-links ul li a.life:hover {border-bottom:5px solid #ffffff; padding-top:0;}


/* NEWSLETTER POPUP( INVIEW ) STYLES */
.pop_promo_outer {
    border: medium none;
    display: none;
    height: 100%;
    margin: 20px auto;
    position: relative;
    width: 100%;
}
.pop_promo_inner {
    background-color: #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 10px 15px #000000;
    font-family: Arial Black,Arial,Helvetica,sans-serif;
    height: auto;
    left: 35%;
    position: fixed;
    right: 35%;
    top: 30%;
    z-index: 10000;
}
.pop_promo_inner h2 {
    color: #000;
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    padding: 30px 10% 10px;
    text-align: center;
}
.pop_promo_inner p {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0;
    padding: 0 10% 5px;
}
.pop_promo_inner img.close {
    position: absolute;
    right: 8px;
    top: 5px;
    z-index: 10001;
}
.pop_promo_inner div.form {
    margin: 0 auto;
    width: 85%;
}
.newsletter-signup-container {position:relative; font-family:Helvetica, Arial, sans-serif; border-right:1px solid #EBEBEB; border-left:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB;}
.newsletter-signup-container .header img.ss {display:none;}
.newsletter-signup-container .newsletters-items {padding-bottom:3px; margin-bottom:5px;}
.newsletter-signup-container .newsletters-items span { float:left; margin:0 6px 0 0; width:auto; color:#cc0000; font-weight:bold;}
.newsletter-signup-container #opt-in {display:none; font-size:0.8em;}
.newsletter-signup-container #think_email {color: #cc0000; font: 9px Arial, Helvetica, sans-serif; }
.newsletter-signup-container #think_email ul {list-style-image:none;}
.newsletter-signup-container form input#list_email {border: 1px solid #cc0000; font: 11px Arial, Helvetica, sans-serif; color: #666; padding: 3px; height: 14px; width: 170px; float:left;} .newsletter-signup-container form input#btn_subscribe { font: bold 11px Arial, Helvetica, sans-serif; color: #990000; text-transform: uppercase; padding:2px 6px; display: block; margin:0 0 0 4px; float:left;}

/* RSS Page Styles */
#feeds_list {
	max-width: 450px;
	width: 100%;
	margin-bottom: 40px;
}

/* RESPONSIVE STYLE */
@media only screen and ( min-width : 768px ) and ( max-width : 1179px ){
	/*
	img.jQ-section-menu { display:block; }
	a.jQ-section-menu { display:none; }

	.more-nav ul.primary { right:-15px; }
	.sections-tab { right:4px; }*/
}

@media only screen and ( max-width : 767px ){
	.site-brand { padding:10px 0 10px 10px; font-size:0.7em; height:auto; }
	.alpha-wrapper .site-tab { display:none; }
	.site-name { margin-left:-2px; font-size:0.7em; }
		.site-name a { color:#FFFFFF; }


	/*
	.more-nav ul.primary { top:11px; }

	.more-nav a { font-size:1em !important; line-height:3em; }*/

}




/*# sourceMappingURL=rcp.css.map */
