﻿		#adl_sb_table{
			width: 1100px;
		}

		#oms_gpt_rectangle{
			margin-bottom: 40px;
		}
		@media (min-width: 1151px) and (max-width:1359px) {
			#adl_sb_table{
				width: 980px;
			}
		}
		@media (max-width: 1150px) {
			#adl_sb_table{
				width: 768px;
			}
		}