@media (max-width: 1023px){
.banners{
        display: none;
    }

.profilebnr{
        display: none;
    }

}
@media (min-width: 200px) and (max-width: 767px) {
    .indexbutleft{
        margin-left: 5px;
    }
    .indexbutleft a{
        background: #fff;
        border-radius: 2px;
        padding: 7px 10px;
        font: 14px nasim;
        color: #6e6e6e;
        float: right;
        margin: 6px 2px;
    }
    .inf ul {
        margin-right: 0
    }

    .navbar-collapse.in {
        overflow: hidden
    }
    .nav {
        width: 100%
    }
    .ow {
        float: left!important;
        margin-top: -50px
    }
}
@media (min-width: 930px) and (max-width: 933px) {
    .support {
        height: 233px
    }
}
@media (min-width: 934px) and (max-width: 938px) {

    .didban {
        height: 233px;
        overflow: hidden
    }
    .yname {
        padding: 0 0 27px!important
    }
    .general {
        height: 469px
    }
}
@media (min-width: 939px) and (max-width: 955px) {
    .didban {
        height: 233px;
        overflow: hidden
    }
    .yname {
        padding: 0 0 27px!important
    }
    .general {
        height: 469px
    }
}
@media (min-width: 956px) and (max-width: 1024px) {

    .didban {
        height: 233px;
        overflow: hidden
    }
    .yname {
        padding: 0 0 27px!important;
    }
    .general {
        height: 469px
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {

    .didban {
        height: 233px;
        overflow: hidden
    }
    .yname {
        padding: 0 0 27px!important
    }
    .general {
        height: 469px
    }
}

@media (min-width: 480px) and (max-width: 780px) {
    body {
        padding: 0 5px;
        overflow-x: hidden
    }
    .search-responsive {
        display: block
    }
    .search-responsive input {
        border-radius: 4px;
        background: 0 -389px no-repeat #f6f6f6;
        width: 89%;
        display: block;
        padding: 5px 5px 5px 0;
        font: 16px nasim!important;
        color: #b7b7b7;
        border: 1px solid #2574a1;
        margin-top: 60px;
        float: right
    }
    .search-responsive img {
        border-radius: 3px;
        margin-right: 5px;
        margin-top: 60px
    }
    .info-res {
        display: block!important
    }
    .col-xs-6 {
        width: 100%
    }
    .bro,
    .profile,
    .search,
    .signup {
        display: none
    }
    .col-sm-3,
    .col-sm-7,
    .container {
        width: auto
    }
    .widget {
        display: block;
        float: none
    }
    .widget img {
        max-width: 100%!important
    }
    .widget ul li:last-child {
        float: none;
        padding: 5px 5px 15px 0
    }
    .comment .avt {
        display: none
    }
    .comment .now,
    .comment textarea {
        width: 100%;
        margin: 5px 0;
        padding: 0
    }
    .comment .now p,
    .comment textarea {
        padding: 5px
    }
    .comment span {
        float: none
    }
    .widget-left {
        width: auto;
        float: none
    }
    .col-xs-5 {
        width: auto
    }
    .footer .container .footer-nav .nav-footer ul li {
/*        float: none;
        border-left: none;
        width: 100%;
        display: block;
        text-align: center */
    }
    .footer .container .footer-nav .nav-footer ul li a {
        border: 0;
        width: 100%;
        display: block;
        text-align: center
    }
    .footer .container .footer-nav .nav-footer ul li a:hover {
        color: #555;
        background: 0 0;
        border: 0
    }
    .widget {
        width: auto!important
    }
    .setcolor {
        float: right
    }
    .info,
    .like,
    .warning {
        display: none
    }

    .gallery ul {
        padding: 10px 15px 10px 0
    }
    .gallery ul li {
        margin: 1px
    }
}

@media (min-width: 780px) and (max-width: 900px) {
    .info-res {
        display: block
    }
    .col-xs-6 {
        width: 100%
    }
}
@media (min-width: 781px) and (max-width: 1280px) {
    .widget-left {
        margin-right: 0px
    }
    .search-responsive {
        display: none
    }
}
@media (min-width: 781px) and (max-width: 1366px) {
    .search-responsive {
        display: none
    }
}
@media (min-width: 781px) and (max-width: 1000px) {
    .bro {
        display: none
    }
    .warning {
        margin-right: 25px
    }
}
@media (min-width: 781px) and (max-width: 863px) {
    /*
    .widget {
        width: 30%!important;
        display: block;
        margin: 2px
    }
    */
}
@media (min-width: 863px) and (max-width: 1048px) {
    /* *
    .widget {
        width: 30%!important;
        display: block;
    }
    */
}
@media (min-width: 781px) and (max-width: 1200px) {
    body {
        padding: 0 5px;
        overflow-x: hidden
    }
    .container {
        width: auto
    }
    .bro {
        display: none
    }
    .col-sm-3,
    .col-sm-7 {
        width: auto
    }
    .widget {
        width: 31.5%;
        display: block;
        margin-right: 12px !important;
    }
    .indexcol .widget{
        width: 48.6%;
    }
    .widget img {
        max-width: 100%!important
    }
    .widget ul li:last-child {
        padding: 5px 5px 15px 0
    }
    .general .cansel img {
        margin: 11px auto 0
    }

}
@media (max-width: 780px) {
     .title {
        background-position: 106% -214px
    }
    .title-now {
        background-position: 106% -341px
    }
    .title-support {
        background-position: 106% -166px
    }
    .title-group {
        background-position: 106% -262px!important
    }
    .title-gallery {
        background-position: 98%!important
    }
    .groups li{
        width: 97%;
    }
    body {
        padding: 0 5px;
        overflow-x: hidden
    }
    .faqpad{
        padding-right: 0px;
        width: 100%;
    }
    .answerthis{
        display: none;

    }
    .col-sm-3,
    .col-sm-7,
    .container {
        width: auto
    }
    .widget {
        display: block;
        float: none
    }
    .widget img {
        max-width: 100%!important
    }
    .widget ul li:last-child {
        border-bottom: 0 !important
    }
    .black , .status , .myprof{
        display: none !important;
    }


    .comment .avt {
        display: none
    }
    .comment .now,
    .comment textarea {
        width: 97% !important;
        margin: 10px 10px 0 !important;
        padding: 0
    }
    .comment .now p,
    .comment textarea {
        padding: 5px
    }
    .comment span {
        float: none
    }
    .widget-left {
        width: 100%;
        float: right;
        margin: 10px auto
    }
    .se {
        clear: both
    }
    .left {
        float: none
    }

    .bro {
        display: none
    }
    .col-xs-5 {
        width: 100%
    }
    .footer .container .footer-nav .nav-footer ul {
        float: none;
        display: table;
        margin: 0 auto
    }
    .footer .container .footer-nav .nav-footer ul li {
/*        float: none;
        border-left: none;
        width: 100%;
        display: block;
        text-align: center */
    }
    .footer .container .footer-nav .nav-footer ul li a {
        border: 0;
        width: 100%;
        display: block;
        text-align: center
    }
    .footer .container .footer-nav .nav-footer ul li a:hover {
        color: #555;
        background: 0 0;
        border: 0
    }
    .widget {
        width: auto!important
    }
    .setcolor {
        float: right
    }
    .info,
    .like,
    .warning {
        display: none
    }
}
@media (min-width: 481px) and (max-width: 779px) {
    .info-res {
        display: block!important
    }
    .se {
        display: none
    }
    .col-xs-6 {
        width: 100%
    }
    .profile,
    .search,
    .signup {
        display: none
    }

    .navbar-inverse .navbar-toggle {
        margin-right: 30px
    }

}


@media (min-width: 481px) and (max-width: 679px) {
    .info-res {
        display: block!important
    }
    .se {
        display: none
    }
    .col-xs-6 {
        width: 100%
    }
    .profile,
    .search,
    .signup {
        display: none
    }
}
@media (max-width: 380px) {
    body {
        padding: 0 5px;
        overflow-x: hidden
    }
    .col-xs-4 input {
        width: 100%;
        margin: 0
    }
    .col-sm-3,
    .col-sm-7,
    .container {
        width: auto
    }
    .widget {
        display: block;
        float: none
    }
    .widget img {
        max-width: 100%!important
    }
    .widget ul li:last-child {
        float: none;
        padding: 5px 5px 15px 0
    }
    .yname ul li img {
        float: none
    }
    .comment .avt {
        display: none
    }
    .comment .now,
    .comment textarea {
        width: 100%;
        margin: 5px 0;
        padding: 0
    }
    .comment .now p,
    .comment textarea {
        padding: 5px
    }
    .comment span {
        float: none
    }
    .widget-left {
        width: 100%;
        float: right;
        margin: 10px auto
    }
    .left {
        float: none
    }

    .bro {
        display: none
    }
    .col-xs-5 {
        width: 100%
    }
    .footer .container .footer-nav .nav-footer ul {
        float: none;
        display: table;
        margin: 0 auto
    }
    .footer .container .footer-nav .nav-footer ul li {
/*        float: none;
        border-left: none;
        width: 100%;
        display: block;
        text-align: center */
    }
    .footer .container .footer-nav .nav-footer ul li a {
        border: 0;
        width: 100%;
        display: block;
        text-align: center
    }
    .footer .container .footer-nav .nav-footer ul li a:hover {
        color: #555;
        background: 0 0;
        border: 0
    }
    .widget {
        width: auto!important
    }
    .setcolor {
        float: right
    }
    .info,
    .like,
    .warning {
        display: none
    }
    .title-didban {
        float: right
    }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
    .info-res {
        display: block!important
    }
    .col-xs-6 {
        width: 100%
    }
    .profile,
    .search,
    .signup {
        display: none
    }
    .entry-thumb img {
        padding: 0 5px
    }
    .se {
        display: none
    }
    .entry-thumb ul li img {
        width: 112px;
        height: 112px;
        padding: 0
    }
}
@media screen and (max-width: 480px) {
    .info-res {
        display: block!important
    }
    .search-responsive input {
        border-radius: 4px;
        background: 0 -389px no-repeat #f6f6f6;
        width: 82%;
        display: block;
        padding: 5px 5px 5px 0;
        font: 16px nasim!important;
        color: #b7b7b7;
        border: 1px solid #2574a1;
        margin-top: 60px;
        float: right
    }
    .search-responsive img {
        border-radius: 3px;
        margin-right: 5px;
        margin-top: 60px
    }
    .col-xs-6 {
        width: 100%
    }
    .profile,
    .se,
    .search,
    .signup {
        display: none
    }
    .search-responsive {
        display: block
    }
    .entry-thumb img {
        padding: 0 14px
    }
    .entry-thumb ul li img {
        width: 80px;
        height: 80px;
        padding: 0
    }
    .comment-number a {
        display: none
    }
    .mCSB_container {
        width: 100%!important
    }
}
@media screen and (min-width: 180px) and (max-width: 479px) {
    .entry-thumb img {
        padding: 0 14px
    }
    .entry-thumb ul li img {
        width: 60px;
        height: 60px;
        padding: 0
    }
    .comment-number a {
        display: none
    }
    /* by Amir */
  .general{
        display: none;
    }
}
@media (min-width: 779px) and (max-width: 932px) {
    .didban,
    .friends,
    .group,
    .support {
        width: 47.5%
    }
    .friends ul li {
        margin: 2px
    }
    .setcolor {
        height: 190px
    }
    .g {
        height: 370px
    }
    .gallery {
        width: 96%
    }
    .title-gallery {
        background: url(img/gallery-t.png) 76% no-repeat #f1f1f1
    }
}
@media (min-width: 901px) and (max-width: 901px) {
    .didban,
    .friends {
        width: 49%
    }
}
@media (min-width: 1361px) {
    .search-responsive {
        display: none
    }
}
@media (min-width: 490px) and (max-width: 720px) {
}


/* new css added*/
@media (min-width: 1200px) {
    .send textarea
    {
        width: 540px;
    }
    .col-lg-7{
        width: 50%;
    }
    .faqcm textarea{
        width: 86%;
    }
}
@media (max-width: 1200px) and (min-width: 781px){
    .dashdash .widget{
        width: 48% !important;
    }
     .widget-left {
        width: 99.7%;
    }

}

@media (max-width: 1200px) and (min-width: 890px){
  .widget{
        width: 47.2% !important;
    }
}
@media (min-width: 1201px){
    .margin15.col-lg-3 ,  .margin15.col-md-12 ,  .margin15.col-sm-3{
        margin-right: 15px ;
    }
   .col-lg-3{
        width: 23%;

    }
}
.col-lg-3 ,  .col-md-12 ,  .col-sm-3{
    float: right;
    margin-top: 5px;

}
.col-lg-7 , .col-md-12 , .col-sm-12 , .col-xs-12 {
    float: right;
}
@media (max-width: 1200px){

    .livecont .col-sm-9{
        width: 100%;
        padding-right: 3px !important;
    }
    .loginbox{
        height: 312px;
    }
    .send textarea {
        width: 95% !important;
    }
    .comment textarea{
        width: 88%;

    }

}




@media (min-width: 780px) and (max-width: 1200px){
     .title {
        background-position: 104% -214px
    }
    .title-now {
        background-position: 104% -341px
    }
    .title-support {
        background-position: 104% -166px
    }
    .title-group {
        background-position: 104% -262px!important
    }
    .title-gallery {
        background-position: 98%!important
    }
}



@media (max-width: 1132px) {
     .search-responsive {
    margin-top:0
    } .navbar-toggle {
    display:block
    } .navbar-collapse {
    border-top:1px solid transparent;
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.1)
    } .navbar-collapse.collapse {
    display:none!important
    } .navbar-nav {
    float:none!important;
    margin:7.5px -15px
    } .navbar-nav>li {
    float:none;
    margin-right:30px;   
    white-space:nowrap;
    text-align:center
    } .nav>li>a {
    padding:10px 10px 10px 20px;
    display:inline-block
    } .navbar-collapse.collapse.in {
    display:block!important
    } .collapsing {
    overflow:hidden!important
    }
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
    	margin-left: 15px;
    }


    .masthead{
        height: auto;
    }




}

@media (max-width: 980px) {

    .rep {
        clear: both!important
    }
    .masthead{
        height: auto;
    }

    .d {
    display: none !important;
    }



    .search-responsive {
        display: block;
        margin-bottom: 5px;
    }
    .search-responsive input {
        border-radius: 4px;
        background: 0 -389px no-repeat #f6f6f6;
        width: 90%;
        display: block;
        padding: 5px 5px 5px 0;
        font: 16px nasim!important;
        color: #b7b7b7;
        border: 1px solid #2574a1;
        margin-top: 60px;
        float: right
    }
    .search-responsive img {
        border-radius: 3px;
        margin-right: 5px;
        margin-top: 60px
    }
    .info-res {
        display: block!important
    }
    .col-xs-6 {
        width: 100%
    }
    .bro,
    .se,
    .search,
    .signup {
        display: none
    }
   .ow {
   float: left;!important;
    margin-top: -47px;
}
.noti-drop {
        right: auto;
        left: 0
    }
    .noti-drop:after {
        left: 15px;
        right: auto
    }

}


@media (max-width: 1132px) and (min-width: 768px){
    .search-responsive input {
        width: 93%;
    }
}

@media (max-width: 1154px) and (min-width: 1132px){
    .col-xs-4 img {
        margin-right: 5px;
margin-left: 0px;

    }
}
@media (max-width: 480px){
    .search-responsive input {
        width: 83%;
    }

}

/* Groups Responsive    */
@media (max-width: 480px){
    .groups li{
        height: auto;
        padding-bottom: 15px;
    }
    .groups li p{
        font-size: ;
        text-align: center;
        float: none;
        width: auto;
        padding: 0 10px;
    }
    .groups li img{
    margin: 12px auto;
    float: none;
    width: 160px;
    height: 160px


    }
    .groups li span{
        display: block;
        text-align: center;
        background: none;
        float: none;

    }

}
@media (max-width: 1200px){
    .space22 .centerwidget {
        margin: 15px 0 !important;
        padding: 30px 30px;
    }
    .tagline {
        margin: 136px 100px 0;
        padding: 0;
        }
    .space22 .centerwidget {
        margin: 85px 0;
        width: 100% !important;

    }
    .space22 .widget {
        margin-right: auto !important;
        float: none;


    }
}

@media (max-width: 300px){
    .space22 .centerwidget {
        margin: 15px 0 !important;
        padding: 30px 0px;
    }
    .tagline {
        margin: 136px 0px 0 !important;
        padding: 0;
    }
    .loginform input{
        margin: 5px 17px 0;
    }
}



/* New Effot 1024 */
@media (min-width: 920px) and (max-width: 1201px) {
	.profilepage .content{
		width: 100%;

	}
	.profilepage.col-sm-7{
		width: 65.3%;
	}

	.profilepageleft{
		width: 32.4%;
		padding-right: 9px;
	}

	.livepageright{
		width: 32.4%;
		padding-right: 9px;
	}

	.livepage .content{
		width: 100%;
		float: left;
	}
	.livepage.col-sm-9{
		width: 65.3%;
	}

	.postcontent1024{
		width: 100%;
		float: left;
	}

	.answerpageright{
		width: 20.4%;
		padding-right: 9px;
	}

	.answerpage.col-sm-12{
		width: 79.6%;
	}

	.answerpage.content{
		width: 100%;
		float: left;
	}

	.userspageright{
		width: 27.4%;
		padding-right: 9px;
	}

	.userspage.col-sm-9{
		width: 69.6%;
	}

	.userspage.content{
		width: 100%;
		float: left;
	}


	.settingpage.content{
		width: 100%;
		float: left;
	}

	.settingpage.col-sm-7{
		width: 69.3%;
	}

	.settingpageright{
		width: 24.4%;
		padding-right: 9px;
	}

    .postrightcolumn {
      display: none;
    }

	.groupspageright{
		width: 18.4%;
		padding-right: 9px;
	}



	.groupspage.col-sm-9{
		width: 80.3%;
	}


    .comment .now,
    .comment textarea {
        width: 85%;
        margin: 12px 0;
        padding: 10
    }

.responsiveknow {
  display:none;
}

     .general {
display:none;
    }
         .yname {
display:none;
    }
         .panelfriends {
display:none;
    }

	.title{
	background-position: 115% -214px;

	}
	.title-group {
	background-position: 115% -262px!important;
	}


    .yname {
        height: auto;
    }
    .info-res ul li{
    	width: auto;
    	float: right;
    	margin: 0 4px;

    }

.banners{
        display: none;
    }

 }
/* End New Effot 1024 */