.widget-ad {
    float:inherit;
    width: auto;
    margin: 10px -8px -15px;
    height: auto;
}

.widget-ad img{
    margin: 4px;
}

      .our_friends {
    overflow: hidden


}
.our_friends ul {
    display: table;
    margin: 10px auto  0px;
    margin-right:10px;

}
.our_friends ul li {
    width: auto;
    padding: 0;
    float: inherit;
    margin: 4px;
    border-bottom: 0;
    display: inline-block
}
.our_friends img {
    width: 50px;
    height: 50px;
    border-radius: 15%
}
.our_friends ul li:hover {
    background: 0 0
}