@charset "UTF-8";
@font-face{font-family:nasim;src:url("static/fonts/BBCNassim.woff") format("woff");
font-style:normal
}
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}
body {
    line-height: 1
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
nav ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}
del {
    text-decoration: line-through
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}
input,
select {
    vertical-align: middle
}
body {
    direction: rtl;
    font: 12px/2 Tahoma;
    background: #f9f9f9
}
:focus {
    outline: 0
}
a,
input,
li {
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    color: #222
}
a:hover {
    text-decoration: none
}
a:focus {
    outline: 0;
    text-decoration: none
}

li {
    list-style: none
}
.clear {
    clear: both
}
.center {
    text-align: center;
    margin: 0 auto
}
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label {
    font-family: nasim, 'Myriad Pro', Tahoma
}
.left {
    float: left
}
.right {
    float: right
}
.wi {
    width: auto
}
.border {
    border-bottom: 3px solid #e3e3e3
}
.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0
}
.masthead {
    background: #287eb7;
    border-color: #287eb7;
    border-bottom: 4px solid #efefef;
    z-index: 100000
    ;
    height: 50px;

}
.navbar-brand {
    padding: 9px 15px
}
.navbar-collapse {
    padding: 0
}
.nav {
    margin: 0 15px
}
.navbar-inverse .navbar-nav>li>a {
    font: 16px nasim!important;
    color: #FFF
}
.nav>li>a {
    padding: 11px 5px
}
.navbar-nav li>a:hover {
    background: #226d9f!important
}
.col-xs-4 input {
    border-radius: 4px;
    background: 0 -389px no-repeat #f6f6f6;
    width: 324px;
    padding: 5px 5px 5px 0;
    font: 16px nasim!important;
    color: #b7b7b7;
    border: 1px solid #2574a1;
    margin-top: 5px;
    float: right
}
.noti-search {
    right: 0;
    left: auto
}
.col-xs-4 img {
    margin-top: 6px;
    margin-right: 12px;
    margin-left: 15px;
}
.warning {
    background: #f9f9f9;
    padding: 10px 0;
    color: #222;
    float: right;
    margin-right: 70px
}
.warning p {
    font: 18px nasim;
    color: #adadad;
    padding: 2px;
    float: right
}
.warning a {
    color: #696969
}
.warning img {
    float: right
}
.warning i {
    float: right;
    margin-top: 2px
}
.signup {
    float: left;
    margin: 8px 14px 0 80px
}
.selectpicker {
    width: 100%;
    font: 18px nasim
}
.signup a {
    width: 150px;
    height: 32px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #bfbfbf;
    -webkit-box-shadow: 0 2px 2px rgba(1, 1, 1, .07), inset 0 1px #fff;
    -moz-box-shadow: 0 2px 2px rgba(1, 1, 1, .07), inset 0 1px #fff;
    box-shadow: 0 2px 2px rgba(1, 1, 1, .07), inset 0 1px #fff;
    border: 1px solid #c2c2c2;
    background-image: -webkit-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: -moz-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: -o-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: linear-gradient(to top, #e9e9e9, #f1f1f1);
    font: 16px nasim;
    color: #6e6e6e;
    text-shadow: 0 1px rgba(255, 255, 255, .99)
}
.signup i {
    float: right;
    margin: 1px 6px
}
.signup span {
    margin-top: 4px;
    float: right;
    letter-spacing: -.5px
}
.thumb-cover {
    width: 100%;
    height: 254px;
    position: relative
}
.thumb-cover .cover {
    position: relative;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    margin-top: -2px
}
.thumb-cover .cover img {
    width: 100%;
    height: 254px;
    background-size: cover;
    -webkit-background-size: cover
}
.avatar {
    width: 200px!important;
    height: 200px!important;
    position: absolute;
    border-radius: 50%;
    top: 10%;
    right: 4%
}
.bro {
    float: right
}
.avatar img {
    width:  200px!important;
    height: 200px!important;
    border: 3px solid #FFF;
    border-radius: 50%
}
.circle {
    position: absolute;
    right: 4%;
    bottom: 10%
}
.circle .dropdown-menu {
    right: 0;
    left: auto
}
.circle img {
    width: 27px!important;
    height: 27px!important
}
.info {
    position: absolute;
    bottom: 20px;
    right: 23%
}
.info ul li {
    float: right;
    margin: 0 5px
}
.info ul li a {
    background-color: #bfbfbf;
    -webkit-box-shadow: 0 2px 2px rgba(1, 1, 1, .07), inset 0 1px #fff;
    -moz-box-shadow: 0 2px 2px rgba(1, 1, 1, .07), inset 0 1px #fff;
    box-shadow: 0 2px 2px rgba(1, 1, 1, .07), inset 0 1px #fff;
    border: 1px solid #c2c2c2;
    background-image: -webkit-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: -moz-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: -o-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: linear-gradient(to top, #e9e9e9, #f1f1f1);
    border-radius: 3px;
    font: 20px nasim;
    color: #6e6e6e;
    text-shadow: 0 1px rgba(255, 255, 255, .99);
    padding: 5px 15px;
    letter-spacing: -.2px
}
.info ul li span {
    width: 2px;
    height: 38px;
    position: relative;
    right: 25%;
    background: url(../static/img/main.png) 0 -70px no-repeat;
    float: right;
    top: 1px
}
.info ul li i {
    position: relative;
    top: 7px;
    right: -8px
}
.info ul li img {
    width: auto!important;
    height: auto!important
}
.like {
    position: absolute;
    left: 2%;
    bottom: 10px
}
.like img {
    width: auto!important;
    height: auto!important;
    margin-right: 8px
}
.us {
    height: 5px;
    background: #f2f2f2;
    position: relative;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9
}
.us .border {
    position: absolute;
    right: 25px;
    top: 0;
    height: 10px;
    width: 220px;
    background: #4ab6db
}
.ds {
    height: 5px;
    background: #fff;
    position: relative;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9
}
.col-xs-12 {
    width: 100%;

    border-left: 0
}
.user {
    background: #f2f2f2;
    position: relative;
    float: right
}
.user .bo {
    width: 220px;
    height: 5px;
    background: #4ab6db;
    margin-right: 30px
}
.user-main {
    background: #FFF;
    padding: 5px 0;
    border-left: 0;
    position: relative
}
.user h3 {
    font: 30px nasim;
    color: #5a5a5a;
    display: inline-block;
    padding: 0 30px 0 5px;
    text-align: center;
    position: relative
}
.myonline {
    width: auto;
    display: -webkit-inline-box;
    position: relative
}
.myonline:before {
    content: " ";
    position: absolute;
    top: -11px;
    right: 32px;
    border-top: 6px solid #4ab6db;
    width: 88%;
    display: -webkit-inline-box
}
.user span {
    color: silver;
    font: 16px nasim
}
.user .online {
    position: absolute;
    right: 70%;
    top: 2%
}
.col-sm-3 {
    margin: 5px
}
.user .online img {
    width: auto;
    height: auto
}
.information {
    background: #FFF;
    padding: 6px 0;
    border-left: 1px solid #e7e7e7;
    border-right: 0;
    position: relative;
    float: left
}
.information ul {
    float: left;
    margin-left: 35px
}
.information ul li {
    float: right;
    margin: 10px 20px 11px 0
}
.information ul li img {
    float: right
}
.information ul li i {
    float: right;
    margin-top: -2px
}
.information ul li span {
    margin-top: -1px;
    margin-right: 6px;
    float: right;
    letter-spacing: -.3px
}
.information ul li a {
    font: 17px nasim;
    color: #989898;
}
.wrapper {
    background: #fff;
    margin: -9px auto 0;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4
}
.widget {
    width: 261px;
    float: right;
    margin: 11px 4px 0px 0;
    height: auto;
    background: #FFF;
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .03);
    -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .03);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .03);
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 8px;

}
.widget ul li {
    width: 100%;
    display: block;
    padding: 10px 5px;
    border-bottom: 1px solid #e4e4e4
}
.widget ul li:last-child {
    border-bottom: 0;
    padding: 5px 5px 5px 0;
    float: right
}
.widget ul li a {
    font: 16px nasim;
    color: #707070;
}
.widget ul li img {
    margin: 0 auto;
    display: block
}

.widget-ad {
    float:inherit;
    width: auto;
    margin: 3px 3px -15px;
    height: auto;
}

.widget-ad img{
    margin: 4px;
}

.widget-left {
    width: 291px;
    float: right;
    margin: 11px 0 0px;
    height: auto;
    background: #FFF;
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .03);
    -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .03);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .03);
    border: 1px solid #e4e4e4;
    border-radius: 5px
}
.widget-left ul li {
    width: 100%;
    display: block;
    padding: 11px 5px;
    border-bottom: 1px solid #e4e4e4
}

.widget-left ul li:hover {

}
.widget-left ul li img {
    margin: 0 auto;
    display: block
}
.yname ul li img {
    float: right;
    margin-top: 5px;
    padding-left: 5px
}
.yname i {
    float: right;
    margin-left: 5px;
    margin-top: 2px
}
.yname ul li:nth-child(5) img {
    margin-top: 8px
}
.general ul li {
    display: block
}
.general ul li span img {
    width: 14px;
    height: 13px;
    padding: 0;
    margin-top: 4px;
    margin-left: 2px
}
.general ul li img {
    float: right;
    padding: 0 5px
}
.general ul li h3 {
    padding-top: 4px;
    color: #888;
    font: 16px nasim;
    letter-spacing: -.2px
}
.general .more {
    float: left;
    margin-top: -12px;
    margin-left: 20px;
    border: 1px solid #e2e2e2;
    padding: 2px 10px;
    font-size: 14px
}
.general ul li:hover .more {
    -webkit-box-shadow: 1px 2px 2px rgba(1, 1, 1, .07), inset 1px 1px #fff;
    -moz-box-shadow: 1px 2px 2px rgba(1, 1, 1, .07), inset 1px 1px #fff;
    box-shadow: 1px 2px 2px rgba(1, 1, 1, .07), inset 1px 1px #fff;
    border: 1px solid #c2c2c2;
    background-image: -webkit-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: -moz-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: -o-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: linear-gradient(to top, #e9e9e9, #f1f1f1);
    border-radius: 3px;
    font-size: 14px;
    color: #b3b3b3;
    text-shadow: 0 1px rgba(255, 255, 255, .94), inset 0 1px rgba(1, 1, 1, .18)
}
.general span {
    font: 14px nasim;
    color: #b3b3b3
}
.general .cansel {
    display: -webkit-box;
    border-bottom: 0
}
.general .cansel img {
    margin: 0;
    padding: 0 2px
}
.know ul {
    display: block;
    margin-top: 40px
}
.know ul li {
    display: block;
    padding: 10px 5px 15px;
    position: relative
}
.know ul li a {
    display: block
}
.know ul li img {
    width: 51px;
    height: 51px;
    float: right;
    margin: 0 5px
}
.know ul li h3 {
    padding-top: 4px;
    letter-spacing: -.2px
}
.know ul li span {
    font-size: 13px
}
.know ul li span img {
    width: 14px;
    height: 13px;
    padding: 0;
    margin-top: 4px;
    margin-left: 2px
}
.know .more {
    float: left;
    margin-top: -12px;
    margin-left: 20px;
    border: 1px solid #e2e2e2;
    padding: 2px 10px;
    font-size: 14px
}
.know-add a {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 5%;
    top: 25%;
    background: url(../static/img/know-add.png) no-repeat
}
.know ul li:hover .know-add a {
    width: 38px;
    height: 38px;
    background: url(../static/img/know-add-hover.png) no-repeat
}
.know ul li:hover .more {
    -webkit-box-shadow: 1px 2px 2px rgba(1, 1, 1, .07), inset 1px 1px #fff;
    -moz-box-shadow: 1px 2px 2px rgba(1, 1, 1, .07), inset 1px 1px #fff;
    box-shadow: 1px 2px 2px rgba(1, 1, 1, .07), inset 1px 1px #fff;
    border: 1px solid #c2c2c2;
    background-image: -webkit-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: -moz-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: -o-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: linear-gradient(to top, #e9e9e9, #f1f1f1);
    border-radius: 3px;
    font-size: 14px;
    color: #b3b3b3;
    text-shadow: 0 1px rgba(255, 255, 255, .94), inset 0 1px rgba(1, 1, 1, .18)
}
.g {
    overflow: hidden
}
.group ul li {
    display: block;
    padding: 12px 5px 11px;
    position: relative
}
.group ul li .thumb-group {
    float: right;
    margin: 0 5px 0 10px
}
.group ul li img {
    width: 50px;
    border-radius: 5px;
    height: 50px

}
.group ul li h3 {
    padding-top: 4px
}
.group .join {
    width: 67px;
    height: 28px;
    position: absolute;
    left: 6%;
    top: 30%;
    display: none
}
.group .join img {
    width: 67px!important;
    height: 28px!important
}
.group ul li:hover .join {
    display: block
}
.group ul li span {
    font-size: 13px;

}

.faqa ul li span{
    float: left;
    padding-left: 10px;
}
.group ul li span img {
    float: right;
    width: auto!important;
    height: auto!important;
    margin: 10px 0 0 5px
}
.content {
    width: 99%;
    background: #FFF;
    border: 1px solid #e2e2e2;
    margin: 15px 2px 0 0;
    box-shadow: 0 0 10px 1px #f7f7f7;
    border-radius: 3px;
    float: right
}
.content .heading {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #e2e2e2;
    float: right;
    position: relative
}
.content .heading .thumb {
    width: 51px;
    height: 52px;
    margin: 5px 10px;
    float: right;
    position: relative
}
.content .heading .thumb:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2);
    border-radius: 2px
}
.content .heading img {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    float: right
}
.content .heading h2 {
    font: 23px nasim;
    color: #606060;
    padding-top: 20px;
    line-height: .8
}

.content .heading h4 {
    font: 18px nasim;
    color: #606060;
    padding-top: 20px;
    line-height: .8
}

.content .heading span {
    font: 14px nasim;
    color: #acb2bb;
    background: 66px -443px no-repeat;
    padding-right: 18px
}
.inst {
    position: absolute;
    left: 10px;
    top: 20px
}
.inst img {
    width: auto!important;
    height: auto!important;
    margin: 0 5px
}
.space {
    width: 100%;
    height: 4px;
    background: #f7f7f7
}
.entry {
    margin-top: 10px
}
.entry-thumb img {
    margin: 0 auto;
    display: block;
    max-width: 100%
}
.entry-thumb ul li {
    float: right;
    margin: 4px
}
.entry-thumb ul {
    margin: 0 auto;
    display: table
}
.entry-thumb ul li img {
    width: 125px;
    height: 125px
}
.entry p {
    color: black;
    text-align: justify;
    padding: 5px 30px 35px;
    font-family: nasim;
    font-size: 16px;
    line-height: 1.8
}
.entry a {
    color: #7798cb
}
.footer-content {
    width: 100%;
    float: right;
    border-bottom: 1px solid #e2e2e2
}
.ilike {
    background: #FFF;
    float: right;
    padding: 5px 0
}
.ilike .i {
    float: right;
    margin: 5px 10px
}
.ilike-light {
    padding: 20px
}
.ilike-light i {
    float: right;
    margin: -3px 0 0 5px
}
.ilike-light h3 {
    font-size: 18px;
    color: #555
}
.inf ul {
    margin-right: 28px;
    margin-top: 5px
}
.inf ul li {
    float: right;
    margin: 3px 4px 0;
    position: relative
}
.inf ul li span {
    position: absolute;
    left: -4px;
    top: -4px;
    background: #df2f33;
    border-radius: 2px;
    padding: 0 2px;
    color: #FFF;
    z-index: 1000;
    font-size: 11px
}
.inf p{
    border-radius: 2px;
    padding: 0 2px;
    color: #000;
    z-index: 1000;
    font-size: 15px !important;
    margin-top: 12px;
    font-family: nasim;
    padding-right: 13px;
}
.inf ul li:last-child{
    margin: 0px 4px 0;

}
.inf ul li i {
    float: right
}
.comment-number,
.wholike {
    float: right;
    margin-top: 11px
}
.wholike ul li {
    float: right;
    margin: 0 2px
}
.wholike ul li img {
    width: 29px;
    height: 29px;
    border-radius: 50%
}
.wholike ul li a {
    font: 16px nasim;
    color: #7e7c7c
}
.comment-number a {
    font: 16px nasim;
    color: #3791cc;
    margin-right: 10px
}
.share {
    float: left;
    margin: 11px 11px 0
}
.comment {
    width: 100%;
    margin-top: 1px;
    float: right;
    background: #f2f3f5;
    padding-bottom: 10px;
}
.comment li {
    display: block;
    position: relative
}
.comment .avt {
    width: 60px;
    height: 60px;
    float: right;
    margin: 8px 18px 5px 10px;
    background: url(../static/img/avtbg.png) no-repeat;
    clear: both;

}
.comment .avt img {
   margin: 5px 10px auto;
    width: 41px;
    height: 41px;

}
.comment .now,
.comment textarea {
    width: 81%;
    background: #FFF;
    border: 1px solid #e2e2e2;
    padding: 10px 5px;
    color: #7f7f7f;
    font: 15px/1.5 nasim;
    margin: 10px 0px 0px 0;
    text-align: justify;
    position: relative;
    border-radius: 5px;

}
.comment .now{
    float: right;
}
.comment .smile {
    width: 14px;
    height: 14px;
    background: url(../static/img/main.png) 0 -423px no-repeat;
    border: 0;
    padding: 0;
    position: absolute;
    left: 7%;
bottom: 23%;
    z-index: 10000
}/*
.comment a {


    color: #b3b3b3 !important;
    border-radius: 3px;
    margin-right: 2px;


    color: #C7C7C7;
    font: 14px nasim !important;
    text-align: left;
    display: block;



    float: left;
}*/
.combuttons{
    float: left;
    position: absolute;
    left: 4px;
    bottom:-1px;

}
.combuttons span{
    color: #C7C7C7;
    font: 13px nasim;
    padding-left: 5px;

}
.combuttons a{
    font-size: 14px !important;
}
.readmore2{
    font: 14px nasim;
    color: #747474;
    padding-right: 5px;
}

/*
.comment span {
        color: #C7C7C7;
    font: 13px nasim;
    text-align: left;
    display: block;
    margin: -15px -5px 0;
}*/
.didban ul li {
    display: inline-block;
    float: right
}
.didban ul li img {
    width: 46px;
    height: 46px;
    float: right;
    margin-left: 5px;
    border-radius: 2px
}
.didban .right-didban {
    width: 220px;
    float: right;
    position: relative
}
.didban .right-didban .online img {
    width: auto!important;
    height: auto!important;
    float: none!important;
    display: inline-block
}
.didban ul li span img {
    width: auto!important;
    height: auto!important;
    padding-top: 8px;
    padding-bottom: 10px
}
.didban ul li h3 {
    font: 18px nasim;
    display: table;
    color: #7b7a7a
}
.didban ul li h3 a {
    font: 16px nasim;
    color: #7b7a7a
}
.didban ul li span {
    display: table;
    font: 15px nasim;
    color: #acb2bb
}
.didban .left-didban,
.didban .left-didban img {
    float: left
}
.friends {
    overflow: hidden
}
.friends ul {
    display: table;
    margin: 15px 30px 20px 0
}
.friends ul li {
    width: auto;
    padding: 0;
    float: right;
    margin: 4px;
    border-bottom: 0;
    display: inline-block
}
.friends img {
    width: 50px;
    height: 50px;
    border-radius: 40%
}
.friends ul li:hover {
    background: 0 0
}
.setcolor {
    width: 100%;
    height: 190px;
    overflow: hidden
}
.setcolors {
    height: 369px
}
.setcolorss {
    height: 185px;
    overflow: hidden
}
.setcolorsss {
    width: 100%;

    overflow: hidden
}
.setcolor-right {
    height: 453px;
    overflow: hidden
}
.support ul {
    display: table;
    margin: 15px 13px 20px 0
}
.support ul li {
    width: auto;
    padding: 0;
    float: right;
    margin: 1px;
    border-bottom: 0;
    display: inline-block
}
.support ul li img {
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 3px
}
.gallery ul {
    padding: 10px 18px 10px 0;
    float: right
}
.gallery ul li {
    width: auto;
    padding: 0;
    float: right;
    margin: 2px;
    border-bottom: 0;
    display: inline-block
}
.gallery ul li img {
    width: 80px;
    height: 80px;
    float: right;
    border-radius: 3px
}
.support ul li:hover {
    background: 0 0
}
.title {
    width: 100%;
    padding: 5.5px 55px 5.5px 5.5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font: 18px nasim;
    color: #505050;
    text-shadow: 0 1px rgba(255, 255, 255, .99);
    border-bottom: 2px solid #e2e2e2;
    background: 244px -341px #f1f1f1;
    position: relative;
    background: url(../static/img/main.png) no-repeat #f1f1f1;
}
.title-didban {
    background-position: 244px -118px;
}
.title-support {
    background-position: 244px -166px
}
.title-friends {
    background-position: 244px -214px
}
.title-group {
    background-position: 244px -262px
}
.title-gallery {
    background: url(../static/img/gallery-t.png) 96% no-repeat #f1f1f1
}
.title-now {
    float: right;
    width: 100%;
    padding: 5.5px 55px 5.5px 5.5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    font: 18px nasim;
    color: #505050;
    text-shadow: 0 1px rgba(255, 255, 255, .99);
    border-bottom: 2px solid #e2e2e2;
    background: url(../static/img/main.png) 211px -341px no-repeat #f1f1f1
}
.title img {
    width: auto;
    height: auto;
    position: relative;
    border-radius: 0!important
}
.title span {
    position: absolute;
    left: 5%;
    top: 23%;
    border: 1px solid #bcbcbc;
    padding: 0 10px;
    color: #bcbcbc;
    z-index: 1000;
    border-radius: 2px;
    font: 12px nasim
}
.title .show {
    -webkit-box-shadow: 0 2px 2px rgba(1, 1, 1, .07), inset 0 1px #fff;
    -moz-box-shadow: 0 2px 2px rgba(1, 1, 1, .07), inset 0 1px #fff;
    box-shadow: 0 2px 2px rgba(1, 1, 1, .07), inset 0 1px #fff;
    border: 1px solid #c2c2c2;
    background-image: -webkit-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: -moz-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: -o-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: linear-gradient(to top, #e9e9e9, #f1f1f1);
    width: 114px;
    height: 30px;
    border-radius: 3px;
    position: absolute;
    left: 2%;
    z-index: 10000;
    top: 12%;
    color: #6e6e6e;
    text-shadow: 0 1px rgba(255, 255, 255, .99);
    font: 15px nasim, 'Myriad Pro', Tahoma
}
.title .show a {
    padding: 3px 10px 3px 0;
    float: right;
    text-align: center
}
.dropdown-menu>li>a {
    text-align: right;
    direction: rtl
}
.dropdown-menu>li>a:hover {
    background: #287eb7;
    color: #FFF
}
.footer {
    width: 100%;
    background: #f0f0f0
}
.footer-nav {
    width: 100%;
    padding: 15px 0 0;
    height: auto;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    float: right
}
.footer .container .footer-nav .lg-footer {
    padding: 0 0 15px
}
.footer .container .footer-nav .lg-footer a {
    width: 83px;
    height: 21px;
    float: right;
    margin: 0 10px;
    background: url(../static/img/logo-footer.png) 0 -310px no-repeat
}
.footer .container .footer-nav .copyright {
    font: 14px nasim, 'Myriad Pro', Tahoma;
    color: #a3a3a3;
    padding: 0 0 10px;
    margin-right: 5px
}
.footer .container .footer-nav .nav-footer ul {
    float: left
}
.footer .container .footer-nav .nav-footer ul li {
    float: right;
    border-left: 1px solid #dbdbdb
}
.footer .container .footer-nav .nav-footer ul li a {
    font: 15px nasim, 'Myriad Pro', Tahoma;
    color: #858585;
    padding: 3px 5px;
    border-radius: 3px;
}
.footer .container .footer-nav .nav-footer ul li a:hover {
    color: #6e6c6c;
    background: #fff;

}
.noti-drop {
    width: 265px;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #FFF;
    border: 1px solid #dbdbdb;
    position: absolute;
    right: -100%;
    padding: 0
}
.noti-drop p {
    font-size: 28px;
    line-height: 1.25em
}
.noti-drop span {
    background: none!important
}
.noti-drop li {
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    margin: 0!important
}
.noti-drop li:last-child {
    border-bottom: 0
}
.noti-drop li a {
    width: 100%;
    float: right!important;
    padding: 10px;
    font: 18px nasim;
    color: #8fbecf;
    text-align: center
}
.noti-drop li a:hover {
    background: #f9f9f9!important
}
.date-on {
    font: 12px nasim;
    border: 1px solid #e2e2e2;
    padding: 2px 10px;
    position: absolute;
    left: 0;
    top: 3px
}
.noti-drop li a:hover .date-on {
    color: #777!important
}
.noti-drop .nw {
    width: 240px;
    float: right;
    position: relative
}
.noti-drop .nw img {
    width: 44px;
    height: 45px;
    float: right;
    margin-left: 5px;
    border-radius: 2px
}
.noti-drop .nw h3 {
    font: 18px nasim;
    display: table;
    color: #7b7a7a
}
.noti-drop .nw span {
    width: 140px;
    display: table;
    font: 15px nasim;
    color: #acb2bb;
    position: inherit;
    white-space: normal;
    text-align: right
}
.noti-drop i {
    float: left!important;
    margin-right: 2px;
    margin-top: 11px!important
}
.noti-drop span {
    top: 1px!important;
    left: 0!important
}
.noti-drop .nw i img,
.noti-drop .nw span img {
    width: auto!important;
    height: auto!important
}
.noti-drop:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    right: 15px;
    border: 5px solid transparent;
    border-bottom-color: #FFF;
    display: block;
    width: 0
}
.inbox {
    width: 100%;
    float: right;
    border-bottom: 1px solid #e4e4e4
}
.inbox span {
    color: #d5d5d5!important;
    font: 16px nasim!important;
    padding: 0 5px;
    right: 10px;
    text-align: right;
    top: 15px!important
}
.inbox img {
    width: 11px!important;
    height: 11px!important;
    float: right;
    margin-left: 5px;
    margin-top: 12px
}
.inbox i {
    background: #e8f5fc;
    color: #555;
    padding: 1px;
    border-radius: 2px;
    position: absolute;
    right: 100px;
    top: -5px;
    font-style: normal
}
.drs {
    float: right
}
.send-now {
    float: left;
    color: #8fbecf;
    white-space: nowrap;
    font: 16px nasim;
    display: block;
}
.hs a:hover {
    color: #888!important
}
.g {
    height: 370px
}
.info-res {
    width: 100%;
    display: none
}
.info-res ul li {
    width: 100%;
    display: block
}
.info-res ul li a {
    width: 100%;
    margin: 10px 0;
    display: block;
    background-color: #bfbfbf;
    -webkit-box-shadow: 0 2px 2px rgba(1, 1, 1, .07), inset 0 1px #fff;
    -moz-box-shadow: 0 2px 2px rgba(1, 1, 1, .07), inset 0 1px #fff;
    box-shadow: 0 2px 2px rgba(1, 1, 1, .07), inset 0 1px #fff;
    border: 1px solid #c2c2c2;
    background-image: -webkit-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: -moz-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: -o-linear-gradient(bottom, #e9e9e9, #f1f1f1);
    background-image: linear-gradient(to top, #e9e9e9, #f1f1f1);
    border-radius: 3px;
    font: 20px nasim;
    color: #6e6e6e;
    text-shadow: 0 1px rgba(255, 255, 255, .99);
    padding: 5px 15px;
    letter-spacing: -.2px;
    position: relative
}
.info-res ul li i {
    position: relative;
    top: 5px;
    right: -8px
}
.d ul {
    margin-top: 45px
}
.d ul li a {
    padding: 0 15px;
    white-space: nowrap
}
.profile {
    margin-right: 40px
}
.responsive-profile {
    right: 0!important;
    left: auto!important
}
.responsive-profile a {
    background: none!important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -o-box-shadow: none!important;
    color: #666!important;
    border: 0!important
}
.dropdown-menu>li>a {
    font-size: 12px
}


/* single pages */
.heightspace{
    display: block;
    height: 50px;
}
/* dashboard */

.dashdetails{
    position: relative;
}
.dashpad {
    right: 8%;
    bottom: 89%;
    z-index: 10000;


}
.dashpad ul li{
    padding:auto;
    border-bottom: auto;


}
.dashpad ul li a{
    font: 12px Tahoma;
    padding: 3px 20px;
}
.dashavatar.avatar{
    position: relative;
    border-radius: 0%;
    right: auto;
    width: 170px;
    margin: 20px auto 10px;

}

.dashavatar.avatar img {
    width: 170px!important;
    height: 170px!important;
    border: 3px solid #d7d5d5;
    display: block;
    margin: 0 auto;

}

.dash-user-main{
    margin-top: -40px;
}
.avatar h3{
    font-size: 24px;
    display: block;
    text-align: center;
    margin-top: 5px;
    color: #5a5a5a;   
}
.black{
    float: right;
    width: 125px !important;
    border-bottom: 0 !important
}
.status{
    border: 1px solid #d3d1d1;
    border-radius: 3px;
    width: 129px !important;
    height: 34px;
    padding: 0px !important;
    margin-top: 15px;
    float: right;

}
.status a{
     line-height: 36px !important;
}
.status img{
    display: block;
    float: right;
    margin-top: 5px !important;
    margin-right: 12px !important;
}
.myprof{
    margin-top: -10px;
}
.dash-know-add  {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 7%;
    top: 44%;
    background: url(../static/img/dashknow.png) no-repeat
}
.dashnow li{
    overflow: hidden;
    padding: 8px 5px 8px !important
}
.dashnow h3{
    line-height: 29px !important
}
.dashnow li img{
    width: 40px !important;
    height:40px !important;
}
.send{
    background: #f9f9f9;
    border: 1px solid #e4e4e4;
    box-shadow: 0 0 3px 0px rgba(0,0,0,.1);
}
.send textarea{
    border: 0;
    background: #fff;
    width: 100%;

    margin: 20px 20px 0;
    box-shadow: 0 0 3px 0px rgba(0,0,0,.15);
    height: 90px;
    font: 16px nasim;
    color: #353535;
    padding: 10px 20px;
}
.links11{
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 3px;
    direction: ltr;
}
.links11 span{
    cursor: pointer;
}
.links11 input{
    cursor: pointer;
}
.links11 a{
    float: right;
    padding-right: 22px;
    display: block;
    margin-right: 22px;
    padding-top: 3px;
    font: 16px nasim;
    color: #888;
    cursor: pointer;

}
.links11 a:hover{
    cursor: pointer;
}
.camera11{
    background: url(../static/img/camera.png) no-repeat right;
}
.video11{
    background: url(../static/img/video11.png) no-repeat right;
}
.link11{
    background: url(../static/img/link11.png) no-repeat right;
}
.sheklak11{
    background: url(../static/img/sheklak11.png) no-repeat right;
}
.sendbutton{
    background: #4ab6db;
    border: 1px solid #3ba5c9;
    padding:3px 28px 1px !important;
    color: #fff !important;
    font:18px nasim;
    border-radius: 3px;
    float: left !important;
    margin-left: 16px;

}
.sendbutton:hover{
    background: #35a2c8;
}
.sendbutton.nomarg{
    margin-left: 0 !important;

}

.sendpost{
    float: left !important;
    margin-left: 4%;
    padding: 3px 30px !important;
    background: #4ab6db;
    color: #fff;
    font: 16px nasim;
    border-radius: 2px;
    width: auto !important;
    border: 0px solid #d7d7d7 !important;

}

.comment textarea {
    width: 81%;
    padding: 10px 10px;
    height: 46px;
}
.quick-icons a{
    background: url(../static/img/quickbg.png) no-repeat;
    overflow: hidden;
    width: 132px;
    height: 129px;

    display: block;
    float: right;
    margin: 7px 8px 0px 1px;

}
.quick-icons a:last-child{
    margin-bottom: 7px;
}
.quick-icons a img{
    display: block;
    margin: 15px auto 7px
}
.quick-icons a span{
    display: block;
    text-align: center;
    font: 18px nasim;
    color: #6e6e6e;


}
.dashtitle-now{
    background: url(../static/img/main.png) 240px -341px no-repeat #f1f1f1;
}
.reject a{
    left: 18% !important;
}
.know-add.reject a {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 5%;
    top: 25%;
    background: url(../static/img/reject.png) no-repeat !important
}
.know-add.reject a:hover{
    width: 38px;
    height: 38px;
    background: url(../static/img/reject-hover.png) no-repeat !important
}
.dashcont{
    margin-top: -5px;
}


/* index */
.loginform input{

    width: 93%;
    margin:6px 10px 0;
    border-radius: 2px;
    border:1px solid #bec3c7;
    font: 16px nasim;
    color: #464646;
    overflow: hidden;
    height: 35px;
    padding-right: 4%


}
.logintitle{
    margin-bottom: 12px;
}
.logintitle.title-friends{
    background-position: 213px -214px;
}
.loginform input[type="submit"]{
    background: #3598db;
    border: 1px solid #2a80b9;
    color: #fff;
    font: 16px nasim;

}
.register11{
    background: #2dcc70 !important;
    border: 1px solid #27ae61 !important;
    margin-bottom: 8px;

}
.register11:hover{
    background: #27c068 !important;

}
.loginwid{
    padding-bottom: 12px;

}
.loginform input[type="submit"]:hover{
    background: #2c8bcb;
    }
.loginform input[type="checkbox"]{
    float: right;
    width: 16px;
    height: 16px;
    margin: 8px 10px 0px 5px !important


}
.loginform span{
    float: right;
    margin-top: 5px;
    font: 14px nasim;
    color: #817f7f;

}
.forget{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
     font: 14px nasim;
    color: #817f7f;
}
.indexg ul{
    float: right;
    margin: 5px 25px 5px 0;

}
.indexg ul li {
    border-bottom: 0;
    padding: 5px 0;

}
.widget-left a{
    font: 15px nasim;
    color: #747474;

}
.indexg ul li a{
    font-size: 15px !important;

}
.indexg ul li a span{
    font: 15px nasim;

}
.marginright{
    margin-right: 35px !important;
}
.centerwidget{
    width: 99% !important;
    margin-top: 16px;
}
.title-index{
    background-position: right -40px top -118px
}
.banners{
    margin: -20px -8px 10px;
}
.banners a{
    display: block;
    float: right;
    margin:8px;
    margin-top: 3px;
    margin-bottom: -9px;
}

.banners-2 a{
    display: block;
    float: right;
    margin:8px;
    margin-top: 3px;
    margin-bottom: -7px;
}

.banners a:last-child{
    margin-left: 0

}
.centerbanner{

    clear: both;
    overflow: hidden;

}
.centerbanner img{
    display: block;
    margin: 10px auto;


}
.indexbutleft{
    float: left;
    margin-left: 10px;

}
.indexbutleft a{
    background: #fff;
    border-radius: 2px;
    padding: 7px 15px ;
    font:16px nasim;
    color: #6e6e6e;
    float: right;
    margin: 4px 5px;


}
/* live */
.livedid{
    margin-right: 4px;
}
.livecont .col-sm-9 {
    padding-right: 35px !important;
}
.livecont .padding15{
    padding-right: 15px !important;
}
.bigbuttons{
    width: 291px;
    float: right;
    margin: 11px 0 0px;
    height: auto;
    background: #FFF;
    padding: 5px;
    -webkit-box-shadow: 0 !important;
    -moz-box-shadow:0;
    box-shadow: 0 ;
    border:0;
    border-radius: 0px
}
.bigbuttons a{
    background:url(../static/img/bigbuttons.png) right 20px top 11px no-repeat;
    display:block;
    font: 17px nasim;
    color: #fff;
    padding: 7px 55px 7px 0;
    border-radius: 2px;
    margin-bottom: 4px;

}
.bigbuttons a:hover{
    opacity: .8
}
.green{
    background-color:#2ecc71 !important;
    border: 1px solid #0faf53;
}
.ask{
    background-image:url(../static/img/ask.png) !important ;
}
.new{
    background-image:url(../static/img/new.png) !important ;
}
.myqust{
    background-image:url(../static/img/myqust.png) !important;
}

.red{
    background-color:#f96658 !important;
    border: 1px solid #e84c3d;
}
.blue{
    background-color:#4ab6db !important;
    border: 1px solid #3ba5c9;
}
.hashtag{

}

/* faq */
.faqa ul li a{
    font-size: 16px;
    color: #888888 !important;
    padding-right: 15px;
    display: block;

}
.faqa ul li a:hover{
    color: #414141 !important
}
.faqpad{
    padding-right: 10px;
}
/* users */
.bottomnav{

}
.usertitle{
    background: url(../static/img/main.png) 240px -341px no-repeat #f1f1f1
}
.users{
    margin:15px  25px;
}
.users li{
    float: right;
    background: url(../static/img/usersbg.png) no-repeat;
    width: 240px;
    height: 94px;
    margin: 7px 10px;


}
.users li:last-child{
    margin-bottom: 15px;
}
.users > li > a{
    display: block;
    width: 240px;
    height: 94px;
}
.userhover{
    width: 240px;
    height: 94px;
    border: 1px solid #fff;
    position: absolute;
    z-index: 9999;
    border-radius: 2px;
    display: none;
    color: #fff;
    text-align: center !important;
    line-height: 94px;
    font-size: 20px ;
    font-family: nasim;
}
.userhover a{
    float: right;
    width: 119px;
    height: 94px;
    color: #fff;

}
.friendhover{
    width: 240px;
    height: 94px;
    border: 1px solid #fff;
    position: absolute;
    z-index: 9999;
    border-radius: 2px;
    display: none;
    color: #fff;
    text-align: center !important;
    line-height: 94px;
    font-size: 20px ;
    font-family: nasim;
}
.friendhover a{
    float: right;
    width: 79px;
    height: 94px;
    color: #fff;

}
.grhover{
    width: 47%;
    height: 148px !important;
    border: 1px solid #fff;
    position: absolute;
    z-index: 9999;
    border-radius: 2px;
    display: none;
    color: #fff;
    text-align: center !important;
    line-height: 148px;
    font-size: 20px ;
    font-family: nasim;
}
.grhover a{
    float: right;
    width: 128px;
    height: 148px !important;
    color: #fff;

}
.deletee{
    background: #ef6052;
    border-radius: 0;
}
.deletee:hover{
    background: #dd4d3f;
    }


.blockk{
    background: #444444;
    border-radius: 2px 0 0 2px;
}
.blockk:hover{
    background: #383737;
}

.view{
    background: #2ecc71;
    border-radius: 0 2px 2px 0;
}
.view:hover{
    background: #21b761;
}

.addd{
    background: #287eb7;
    border-radius: 2px 0 0 2px;
}
.addd:hover{
    background: #186ba3;
}

.users li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    float: right;
    margin:8px 12px ;
}
.users li p{
    font: 17px nasim;
    color: #707070;
    margin-top: 20px;

}
.users li span{
    font: 14px nasim;
    color: #989898;
    float: right;
    background: url(../static/img/usericon.png) no-repeat right;
    padding-right: 15px;
    margin-top: 5px;

}
.loginform select{
    display: block;
    width: 93%;
    margin:6px 10px 0;
    border:1px solid #bec3c7;
    font: 16px nasim;
    color: #95a5a6;
    overflow: hidden;
    height: 35px;
    padding-right: 4%;
    border-radius:0 !important;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    background: #fff;


}
.marginbottom{
    margin-bottom: 10px;
}

/* groups */


.groups{
    margin:10px  10px;
}
.groups li{
    float: right;
    background: #fefdfd;
    box-shadow: 0 0 4px 0px rgba(0,0,0,.17);
    width: 47%;
    height: 150px;
    margin: 7px 10px;


}
.groups li:hover{
    box-shadow: 0 0 4px 0px rgba(0,0,0,.47);
}
.groups li a{
    display: block;
    overflow: hidden;
    height: 150px;
}
.groups li:last-child{
    margin-bottom: 15px;
}
.groups li img{
    width: 125px;
    height: 125px;
    display: block;
    float: right;
    margin:12px 16px;
    border-radius: 2px;
}
.groups li p{
    font: 13px nasim;
    color: #505050;
    float: right;
    margin-top: 5px;
    width: 55%;
    text-align: justify;

}
.grhead{
    font: 17px nasim !important;
    width: auto !important;
    margin-top: 20px !important;
}
.groups li span{
    font: 12px nasim;
    color: #505050;
    float: right;

    padding-right: 15px;
    margin-top: 10px;

}
.usericon2{
    background: url(../static/img/usericon.png) no-repeat right;

}
.caticon2{
    background: url(../static/img/caticon.png) no-repeat right;
    margin-right: 10px;

}
.answer2{
    background: url(../static/img/answer.png) no-repeat right;
}
.time2{
    background: url(../static/img/time.png) no-repeat right;
}

/* setting */
.label{
    width: 160px;
    margin-right: 40px;
    text-align: right;
    display:block;
    color: #8a8888;
    font-size: 16px !important;
    float: right;
    line-height: 29px;
}
.content form input{
    float: right;
    width: ;
    padding-right: 15px;
    width: 210px;
    border-radius: 2px;
    border: 1px solid #d7d7d7;
    font-size: 15px;



}
.rowform{
    padding: 10px 0;
    display: block;clear: both;overflow: hidden;
    height: 54px;
    border-bottom: 1px solid #e6e1e1;

}
.content form select{
    background: #fff;
    border-radius: 0px;
    border: 1px solid #d7d7d7;
    font: 16px nasim;
    height: 29px;
    color: #9D9D9D;

}
.submitsetting{
    float:left;
    background:#59abe3;
    padding: 8px 60px;
    margin: 10px;
    font: 16px nasim;
    color: #fff;
    border-radius: 2px;
}


/* faq */
.faq > li{
    display: block;
    width: 95%;
    padding: 15px 0;
     clear: both;
    overflow: hidden;
    background: #fefdfd;
    box-shadow: 0 0 4px 0px rgba(0,0,0,.17);
    margin: 12px 20px;
    width: 95%;
    position: relative;


}
.faq > li:hover{
    box-shadow: 0 0 4px 0px rgba(0,0,0,.37);
}
.faq img{
    width: 52px;
    height: 52px;
    float: right;
    margin: 0px 20px 0px;
    border-radius: 2px;

}
.gfqhead p{
    color: #505050;
    margin-right: 20px;
}
.faqtext{
    color: #505050 ;
    float: right;
    width: 100%;
    margin: 15px 20px;
    text-align: justify;
    font-family: nasim;
    font-size: 15px;
    line-height: 1.8
}
.faq span{
    font: 14px nasim;
    color: #949292;
    float: right;

    padding-right: 20px !important;
    padding-left: 10px;
    margin-top: 7px;

}
.faq .caticon2{
    padding-right: 20px !important
}
.gfqhead{
    font: 17px nasim !important;
    width: auto !important;

}
.gfqhead:hover p{
    color: #59abe3;

}
.cmindex{
    background: #fff;


}
.cmindex li {
    border-radius: 3px;
    border-bottom: 0px !important;
    padding: 0px!important

}
.cmindex p{
    font: 14px nasim;
    color: #7f7f7f;
    line-height: 26px;;


}

.cmindex li:hover {
    background: #fff !important
}
.indexpakhsh{
    height: 532px !important;
    margin-bottom: 10px;
}
.indexpakhsh..widget-left{
    margin: 0 !
}
.setcolorss2 {
    height: 475px;
    overflow: hidden
}
.answerthis{
    position: absolute;
    left: 21px;
    top: 27px;

}
.answerthis a{
    padding: 3px 17px;
    border:1px solid #d5d3d3;
    border-radius: 3px;
    font: 17px nasim;
    color: #b0afaf;

}

.faq li:hover .answerthis a{
    background: #63c655;
    border:1px solid #58bd49;
    color: #fff;

}
.faq li:hover .answerthis.report a{
    background: #f17172;
    border:1px solid #ea5758;
}
.pagination{
    float: left;
    margin: 8px 0 17px 23px;
    border-radius: 4px;
    float: left;
}
.pagination > li{
    float: left;
    margin-bottom: 5px;
}
/* postsingle */
.postsingle .now p{
    width: 92%;

}
.postsingle .now, .postsingle .comment textarea {
    width: 87%;

}
.postsingle textarea {
    width: 87% !important
}
/* others */

#colorbox{
    border-radius: 5px !important;
    background: #fff !important;

}
.falsewidth .widget-left{
    width: 100%;
}
.falsewidth .title-group{
    background-position: 225px -262px;
}

.smily img{
    float: right !important;
    margin: 7px 8px !important;
    -webkit-transition:.3s;
    -o-transition:.3s;
    -mox-transition:.3s;
    transition:.3s;
    width: 22px;


}
.smily img:hover{
    -webkit-transform:rotate(-18deg);
    -o-transform:rotate(-18deg);
    -moz-transform:rotate(-18deg);
    transform:rotate(-18deg);

}
.mcTooltipWrapper{
    display: none !important;
}
div#mcTooltip, div#mcTooltip div{
    display:  !important;
}
.inf .online{
    display: none !important;
}
.sendbotton{
    display: none;
    float: left !important;
    margin-left: 4%;
    padding: 3px 30px !important;
    background: #287eb7;
    color: #fff;
    font: 16px nasim;
    border-radius: 2px;
    width: auto !important;
    border: 0px solid #d7d7d7 !important;

}

.sendcombt{
    float: right !important;
    margin-left: 4%;
    padding: 3px 30px !important;
    background: #287eb7;
    color: #fff;
    font: 16px nasim;
    border-radius: 2px;
    width: auto !important;
    border: 0px solid #d7d7d7 !important;
}

.heightarea{
    height: 90px !important;

}
.sendbtn {
    padding:8px 15px !important;
    display: block;
}
.col-xs-12 {

background: #FFF;

}
#pvmessage input {
    width: 32%;
    margin: 12px 19px -8px;
    padding-right: 15px;
    font-size: 14px;
    border:0;
    background: #fff;
    box-shadow: 0 0 3px 0px rgba(0,0,0,.15);

}
#pvmessage textarea
{
    width: 92.3% !important
}


.friendss {
    overflow: hidden
}
.friendss ul {
    display: table;
    margin: 5px auto
}
.friendss ul li {
    width: auto;
    padding: 0;
    float: right;
    margin: 4px;
    border-bottom: 0;
    display: inline-block
}
.friendss img {
    width: 50px;
    height: 50px;
    border-radius: 50%
}
.friendss ul li:hover {
    background: 0 0
}
.inputlink{
    padding: 0 !important;

}
.inputlink input{
    width: 100%;
    margin: 14px 0 10px;
    text-align: left;
    font: 14px tahoma;
    padding: 4px;
    direction: ltr;


}

/* added new */
.user{
    border-right: 1px solid #e4e4e4;

}
.menmenudrop li{
    margin: 0 !important;
    float: none !important;

}
.menmenudrop li a{
   padding: 4px 20px;

}



.cmcheck{
    float: right;
    padding-right: 0px;
    display: block;
    margin-right: 22px;
    padding-top: 3px;
    font: 16px nasim;
    color: #888;
    cursor: pointer;
}
.cmcheck input{
    margin-left: 8px;
    float: right;
}

/* index 2 */

.setcolorssss{
    height: 538px;
    padding-right: 18px;
    padding-top: 5px;

}

.focus {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.focus:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.ourfriends {
    overflow: hidden
}
.ourfriends ul {
    display: table;
    margin: 5px auto
}
.ourfriends ul li {
    width: auto;
    padding: 0;
    float: right;
    margin: 4px;
    border-bottom: 0;
    display: inline-block
}
.ourfriends img {
    width: 50px;
    height: 50px;
    border-radius: 50%
}
.ourfriends ul li:hover {
    background: 0 0
}

input.recaptcha{display:none;}

#frmSendReply .recaptcha {
display:none;
}

input.recaptcha{display:none;}

#frmSendReply .recaptcha {
display:none;
}

.postimg {

	max-width: 400px;
    height: auto;
}


/* Alert System */
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.alert {
    padding: 1px 35px 2px 14px;
  margin-bottom: 0px;
  margin-top: 19px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}
.alert-heading {
  color: inherit;
}
.alert .close {
  position: relative;
  top: 1px;
  right: -21px;
  line-height: 18px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}
/* End Alert System */


/* Two button Add / Reject */
.users .addmenow{
    float: left;
    margin: -60px -8px 10px;
    background:none;
}

.users .rejectme{
    float: left;
    margin: -60px 20px 0px;
    background:none;
}

.users .addmenow img{
    width: 25px;
    height: 25px;
    border-radius: 0%;
    float: right;
border-radius:0%
}

.users .rejectme img{
    width: 25px;
    height: 25px;
    border-radius: 0%;
    float: right;
border-radius:0%
}
/* End Two Buttons */