@charset "utf-8";
/* CSS Document */
/********************* RIGHT SIDE PICTURE ************************/
#content-detail-img-container 
{
	float: left;
	width: inherit;	
	padding-bottom: 20px;
}
#content-detail-img-container .title 
{
	float:left;
	width: inherit;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	text-indent: 10px;
	background-color: #01539C;
	color: #FFFFFF;
}
#content-detail-img-container .image 
{
	width: 226px;
	height: 292px;
	margin-left:auto;
	margin-right:auto;
	float:none;
}
/********************* CONTENT PAGE DETAIL ***********************/
div#content-detail-container
{
	float:left;
	width: 448px;	
	height:100%;
	/*padding-left: 10px;*/
	padding-right: 10px;
	
	border-left: dotted 1px #CFE6F9;
	border-right: dotted 1px #CFE6F9;
	/*margin-left: 1px; margin-right:1px;*/
}
div#content-detail-container a.adm-article { cursor:pointer; color: #01539c; font-weight:bold; text-decoration:underline;}
div#content-detail-container a.adm-article:hover { color:#f7941f; text-decoration:underline; }
div#content-detail-container h1, div#content-article h1 
{
	color: #01539c;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 15px;
	padding:0;	
}
div#content-detail-container .news-date 
{
	float:left;
	width:inherit;
	color:#999999;
	font-size:10px;
	font-style:italic;
	text-align:left;
	margin-top: -5px;
	margin-bottom: 15px;
}
div#content-article 
{
	font-size: 11px;
	color: #555555;
	text-align:justify;
}
div#content-article h2, div#content-article h3, div#content-article h4, div#content-article h5
{
	color: #f7941f;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
	padding:0;	
}
div#content-article ul, div#content-article ol
{
	margin-left:0;
	padding-left:15px;
	margin-bottom:10px;
}
div#content-article ul li, div#content-article ol li { 	margin-top: 10px;}
div#content-article table
{
	width: 100%;
	border:none;
	border-spacing:0;
}
div#content-article table tr 
{
	border-bottom:solid 1px #ccc;
	background-color:inherit;
}
div#content-article table td, div#content-article table th { padding: 10px 5px 10px 5px; border-bottom:solid 1px #ccc; }
div#content-article table td { vertical-align:top; }
div#content-article table td a { color:inherit; text-decoration:none; font-weight:bold; }
div#content-article table th 
{
	background-color:#333333;
	color: #FFFFFF;
	font-weight:bold;
	font-size:11px;	
	text-align:left;
}
div#content-article table tr:nth-child(2n+1){ background-color:#F1F1F1; }