@charset "utf-8";
/* CSS Document */

.button {
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px 20px 5px 20px;
	cursor: pointer;
	float: left;
	display: block;
	vertical-align:middle;
	text-align:center;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background:-moz-linear-gradient(top, #f68d22, #f8ad3c) no-repeat #f8ad3c;
    background:-webkit-gradient(linear, left top, left bottom, from(#f68d22), to(#f8ad3c)) no-repeat #f8ad3c;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f68d22', endColorstr='#f8ad3c');
}
.go { padding: 5px 7px 5px 7px; }
.button:hover { color: #1e398d; }

/************** internet banking buttons ***************/
/******* special for corporate page **/
.panel-ib-buttons-corporate { background-color: #2d619a; width: 250px; }

.ib-button-box-corporate { background-color:#80a0c2; }
/************* for all sub page ***/
#panel-ib-buttons 
{	
	float: right;
        height:38px;
}
#panel-ib-buttons div#ib-button-box 
{
	margin:1px 10px 0px 3px;
	padding:2px 10px 2px 10px;
	float:left;	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
}
.panel-ib-buttons-sub 
{ 
	background-color: inherit;
	margin-top: 2px;
	width: 245px;
}
.ib-button-box-sub, .ib-button-box-corporate { background-image:url(images/bg-transparent.png); background-repeat:repeat; width: 215px; }

#panel-ib-buttons div#ib-button-box img 
{ 
	background-image:url(images/logo-ib3.png);
	border:none; outline:none;
	/*
        width:57px;
	height:15px;
        */
        width: 119px;
        height: 30px;
	float:left;
	margin-right:10px;
}

.ib-button 
{
	width:62px;
	height: 21px;
	float:left;
	margin-left: 5px;
        margin-top: 5px;
	display:block;
	background-image:url(images/ib-button.png);
	background-repeat:no-repeat;
	line-height:21px;
	color:#666666;
	font-size:10px;
	text-align:center;
}
.ib-button a { text-decoration:none; color:inherit; }
.ib-button a:hover {text-decoration:underline; }