@charset "utf-8";
/* CSS Document */
/********* general container ***********************/
.content 
{
	float:left;
	display:block;
	width: 100%;
}
/***************** CORPORATE MAIN PICTS *****************/
#panel-mainpicture 
{
	width: 100%;
	height: 332px;
	float:left;
}
#panel-mainpicture img#main-image
{
	width:100%;
	height:100%;
	background-image:url(images/my-loader.gif);
	background-position:center;
	background-repeat:no-repeat;
}
#panel-mainpicture img.e-banking
{
	width:341px;
	height:39px;
}
/********************** bottom line in index page *************************************/
#panel-bottom-line-index { float:left; display:block; width:inherit; height:5px;}
#panel-bottom-line-index .left { float:left; width:32%; height:inherit; background-color:#01509b;}
#panel-bottom-line-index .right { float:left; width:68%; height:inherit; background-color:#f7941f;}
/******************* paging in bottom of corporate page ***********************/
.content-title 
{
	float:left;
	width:inherit;
	display:block;
	height:40px;
	line-height:40px;
	background-color:#f7941e;
	text-align:center;
	color:#FFF;
	font-weight:bold;
}
#content-left 
{
	float:left;
	width: 650px;
	display:block;
	background-color:inherit;
}
#corp-content-left 
{
	float:left;
	display:block;
	width: 250px;
	min-height: 200px;
	background-color: inherit;
}
#corp-content-middle 
{
	float:left;
	display:block;
	width:400px;
	min-height: 200px;
	background-color:inherit;	
}
#corp-content-right 
{
	float:right;
	display:block;
	width:250px;
	background:-moz-linear-gradient(top, #cfe6f9, #ffffff) no-repeat #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, from(#cfe6f9), to(#ffffff)) no-repeat #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfe6f9', endColorstr='#ffffff');
}
.content-border {	border-bottom: dotted 1px #cccccc;}
/********************* TOOLS & USEFULL LINKS *******************/
#tools-container 
{
	float: left;
	display:block;
	width:inherit;
	padding-bottom: 10px;
	background-color:inherit;
}
table#table_tools_links 
{
	width: inherit;
	float:left;
	border:none;
	font-size:11px;
	color:#FFFFFF;
}
table#table_tools_links tr { height: 20px; }
table#table_tools_links tr:nth-child(2n+1){ height:25px; }
table#table_tools_links td { padding:0 10px 0 10px; vertical-align:bottom; }
table#table_tools_links td span.title { color:#085498; font-weight:bold; }
table#table_tools_links td.button-action { text-align:right; padding-left:0; }
table#table_tools_links input { float:left; width:180px; height:18px; color: #777777; }
table#table_tools_links select { 	float:left; width:185px; height:25px; color: #777777; }
/******************** panel bri card ****************/
#bri-card-list 
{
	width:100%;
	float:left;
	display:block;
	margin-top:6px;
	/*padding-top: 30px;*/
	padding-top: 10px;
	border-top: dotted 1px #cccccc;
	background-color:inherit;
}
#bri-card-list div.card
{
	width:224px;
	height: 55px;
	margin-left:10px;
	float:left;
	display:block;	
	text-align:center;
}
#bri-card-list div.card img { border:none; outline:none; }
/********************* RATE / KURS ******************/
#rates-container
{
	float: left;
	display:block;
	width:230px;
	padding: 0 10px 10px 10px;
	background-color:inherit;
}
#rates-container p { color: #777777; font-size:10px; text-indent:5px; }
#rates-title 
{
	width:inherit;
	height:32px;
	line-height:32px;
	color:#333333;
	font-size: 12px;
	float:left;
	background-image:url(images/rate-title-bg.png);
	background-repeat:repeat-x;
	text-align:center;
	margin-bottom: 2px;
}
#rates-title span.date { font-style:italic; }
table#table_rates 
{
	width: inherit;
	float:left;
	border:none;
	font-size:11px;
	color:#333333;
	border-spacing:0;
}
table#table_rates tr { height: 20px; }
table#table_rates tr:first-child { background-color: #f7941e; height:25px; }
table#table_rates tr:nth-child(2n+2)
{ 
	background-image:url(images/bg-rate-transparent.png);
	background-repeat:repeat;
}
table#table_rates td, table#table_rates th { padding: 0 5px 0 5px; }
/********************** SEARCH RESULT *****************/
#search-result 
{
	float:left;
	width: inherit;
}
#search-result h1
{
	color: #01539c;
	font-weight: bold;
	border-bottom: dotted 1px #CCCCCC;
	text-indent:10px;
}
#content-article 
{
	font-size: 11px;
	color: #555555;
	margin-left:10px;
}
#search-result ul { padding:0; margin:0; margin-left:25px; list-style: outside url(images/submenu-arrow.png); }
#search-result ul li 
{
	float:left;
	margin-bottom:10px;
	line-height: 18px;
}
#search-result ul li span.title, #search-result ul li span.title a, #search-result ul li span.title a:hover
{
	color: #01539c;
	font-weight: bold;
	text-decoration:none;
}
/********search navigation *********/
div.panel-search-navigation
{
	float: left;
	width:inherit;	
	margin-top: 15px;
	margin-bottom: 15px;
}
div.panel-search-navigation .description
{
	float:left;
	margin-left: 10px;
	color:#01539c;
	font-size: 14px;
	line-height: 25px;
}
div.panel-search-navigation .navigation-button
{
	float:right;
	margin-right: 10px;
}
ul.search-navigation 
{
	padding:0; margin:0; list-style:none;
}
ul.search-navigation li
{
	float:left;
	padding: 5px 8px 5px 8px;
	border:solid 1px #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 2px 2px 2px #000000;
	-moz-box-shadow: 2px 2px 2px #000000;
	-webkit-box-shadow: 2px 2px 2px #000000;
	color: #333333;
	font-weight:bold;
	cursor:pointer;
	margin-left: 10px;
}
ul.search-navigation li:hover { color: #01539c;}
ul.search-navigation li:first-child { margin-left:0;}
ul.search-navigation li.active 
{ 
	color: #01539c;
	box-shadow: 2px 2px 2px #01539c;
	-moz-box-shadow: 2px 2px 2px #01539c;
	-webkit-box-shadow: 2px 2px 2px #01539c;
}
ul.search-navigation li a,ul.search-navigation li a:hover { text-decoration:none; color:inherit; }
/***************OTHERS **************/
div.next-info 
{
	margin: 0;
	padding:10px;
	color: #01539c;	
}
div.next-info .title
{
	margin:0;
	line-height:30px;
	font-weight:bold;
	font-size:12px;
	background-color:#CFE6F9;
	text-align:center;
}
div.next-info .text
{
	line-height:15px;
	font-size:11px;
	padding:5px;
}
div.next-info .text a { text-decoration:none; font-weight:bold; }