@charset "utf-8";
/* CSS Document */

#footer-logo 
{
	margin-top: 20px;
	float:left;
	display:block;
	width:inherit;
	height: 62px;
}
#footer-logo div.left { 
	padding-left: 10px; padding-right:10px; float:left; border-right:dotted 1px #cccccc; 
}
#footer-logo div.right { float:right; padding-left: 10px; padding-right:10px;  }
#footer-logo div.left:last-child { border-right:none; }
#footer-logo div.left a{ color:inherit; text-decoration:none; }
#footer-copyright 
{
	margin-top: 20px;
	float:left;
	display:block;
	width:inherit;
	height: 61px;
	color:#FFFFFF;
	font-size: 10px;
	vertical-align:middle;
	background-color:#f7941e;
}
#footer-copyright .left{ float:left; display:block; height:inherit; padding-left:10px; margin-top:23px; }
#footer-copyright .right{ float:right; display:block; height:inherit; padding-right:10px; text-align:right;}
#footer-copyright .right p { color: inherit; margin-top: 15px; }
ul#footer { padding:0; margin:0; list-style:none; }
ul#footer li 
{
	float:left; display:inline; 
	padding-left: 5px; padding-right: 5px; 
	line-height: 11px; 
	border-right:dotted 1px #cccccc; 
}
ul#footer li a { text-decoration: none; color:inherit; }
ul#footer li a:hover { text-decoration: none; }
ul#footer li:last-child { border-right: none;}
