@charset "utf-8";
/* CSS Document */
/****************** MAIN GALERY CORPORATE list navigaviton ***************/
#bri-corp-galery-box 
{
	position: absolute;
	width: 200px;
	height: 20px;
	margin-left: 10px;
	margin-top: 300px;	
	z-index: 1000;
}
ul#bri-corp-nav { margin:0; padding:0; list-style:none; }
ul#bri-corp-nav li 
{
	border: solid 1px #f7f7f7;
	text-align:center;
	padding:1px 4px 1px 4px;
	float:left;
	display:block;
	background-image:url(images/bg-transparent.png);
	background-repeat:repeat;
	color: #888888;
	margin-left: 1px;
	cursor: pointer;
	font-size:11px;
}
ul#bri-corp-nav li:hover { 	color: #1e398d; }
ul#bri-corp-nav li.active { color: #1e398d; }

/********************* BRI IMAGE NAVIAGTION **********/
#bri-main-nav-box { margin-top:5px; margin-left: 875px; position:absolute; width:20px;}
#bri-promo-nav-box { float: right; text-indent:0; margin-top:12px; margin-right: 10px;}
ul.bri-img-galery-nav { padding:0; margin:0; list-style:none;}
ul.bri-img-galery-nav li 
{ 
	float:left; 
	margin-left:1px;
	margin-top:1px;	
	text-align:center;
	vertical-align:middle;	
	width: 15px; height:15px;
	display: block;
	color: #000000;
	font-size:9px;
	line-height: 15px;
	background-image:url(images/bg-transparent.png);
	background-repeat:repeat;
	cursor:pointer;
}
ul.bri-img-galery-nav li:hover,ul.bri-img-galery-nav li.active { color: #FFFFFF; background-color:#00529c;}
/********************* Twitter box ***********************/
#twitter-text-box 
{
	float:right;
	width: 320px;
	height:auto;
	display: block;
	padding:10px;
}
#twitter-text-box p 
{
	color: #555555;
	font-size: 10px;
	padding:0;
	margin-top: 0px;
	margin-bottom: 10px;
}
img#twitter-image 
{
	float:left;margin-top:10px;margin-left:10px; 
	outline:none; border: none;
	width:50px; height:50px;
	display: none;
}
/********************* BRI NEWS box ***********************/
table.table-news
{
	width:100%;
	font-size:11px;
	color:#555555;
	border-spacing:none;
	padding:0;
}
table.table-news td { padding: 7px 3px 7px 3px; }
table.table-news td a { color:inherit; text-decoration:none;}
table.table-news td a:hover { color: #1e398d; text-decoration:underline;}
table.table-news td:first-child { width: 80px; text-align:center; vertical-align:top;  }
table.table-news tr:nth-child(2n+1){ background-color:#FEEBC7; }
.brinews-box
{
	float:right;
	width: 380px;
	height:auto;
	display: block;
	padding:10px;
}
.brinews-box p 
{
	color: #555555;
	font-size: 10px;
	padding:0;
	padding-top:0; padding-bottom: 7px;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 10px;
	border-bottom: dotted 1px #c8d0ff;
}
.brinews-box p span.pubdate { color: #CCCCCC; font-style:italic; }
/******************** CONTENT NAVIGATION / SITE MAP *********/
ul#sitemap {	padding:0; margin:0; list-style:none; width:inherit; }
ul#sitemap li 
{
	float: left;
	margin-left: 10px;	
	margin-right: 10px;
	vertical-align:middle;
	font-weight:bold;
}
ul#sitemap li a { text-decoration: none; color:inherit; }
ul#sitemap li a:hover{ text-decoration:underline; color:inherit; }
ul#sitemap li.separator { 	margin:0; }
