@charset "utf-8";
/*

@import url('buttons.css');
*/
@import url('head.css');
@import url('menus.css');
@import url('content.css');
@import url('galery.css');
@import url('buttons.css');
@import url('footer.css');
@import url('article.css');
@import url('video.css');
@import url('pagination05.css');
/* CSS Document */
body 
{
	padding:0;
	margin:0; margin-top:15px;
	font-family:Frutiger, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
#window 
{
	width:900px;
	float:none;
	margin-left:auto;
	margin-right:auto;
}
#panel-head, #panel-mainmenu, #panel-content, #panel-content-nav, #panel-footer 
{
	width: 900px;
	float:left;
	display:block;	
}
.loader-a 
{
	width:16px;;
	height:16px;
	float:left;
	background-image:url(images/my-loader.gif);
	background-position:center;
	background-repeat:no-repeat;
}
.loader-main-image 
{
	width:900px;
	height:332px;
	float:left;
	background-image:url(images/my-loader.gif);
	background-position:center;
	background-repeat:no-repeat;
}
.arrow-left { 
	background:url(images/submenu-arrow-selected.png) left no-repeat;
	width: 16px;
	height:inherit;
	float:left;
	text-decoration:none;
}
.jpeg-icon {
	background:url(images/jpeg-icon.png) no-repeat;
	width: 20px;
	height:20px;
}
.pdf-icon {
	background:url(images/pdf-icon.png) no-repeat;
	width: 20px;
	height:20px;
}
.clr { clear:both; }