@charset "utf-8";
/* CSS Document */

#panel-head 
{
	padding-bottom:10px;
	border-bottom:dotted 1px #777777;
	vertical-align:bottom;
}
#bri-logo 
{
	width: 227px; height:75px;
	float:right;	
	overflow:hidden;
}
#panel-topmenu 
{
	float: left;
	display: block;	
	margin-top: 65px;
}
#panel-mainmenu { 	margin-top:10px; }
#panel-content 
{
	margin-top:10px;
	background:-moz-linear-gradient(top, #E0EEF7, #ffffff) no-repeat #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, from(#E0EEF7), to(#ffffff)) no-repeat #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0EEF7', endColorstr='#FFFFFF');
}
#panel-content-nav 
{
	background-color: #f7941e;
	color:#FFFFFF;
	font-weight:bold;
	font-size: 12px;
	height:40px;
	line-height: 40px;
}

#panel-mainmenu .navigation-label { float:left; color: #CCCCCC;  font-size: 10px; text-indent: 5px; font-stretch:wider; }
