@charset "utf-8";
/* CSS Document */
/************** For language ******************************/
ul#topmenu { padding:0; margin:0;list-style:none; }
ul#topmenu li 
{ 
	float: left; 
	display:inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 9px;
	color: #CCCCCC;
	vertical-align: middle;
	/*border-right:dotted 1px #ccc;*/
	line-height: 9px;
}
/*ul#topmenu li:first-child { padding-left: 0;;}*/
ul#topmenu li:last-child { border-right: none;}
ul#topmenu li a { text-decoration: none; color:inherit; }
ul#topmenu li a:hover { text-decoration: underline; color: #666666; }
ul#topmenu li:hover { text-decoration: underline; }
ul#topmenu li.separator { padding:0; }
/**************** MAIN MENU *******************************/
ul#mainmenu { 	padding:0; margin:0; list-style:0; width: inherit;  }
ul#mainmenu li 
{
	float:left; display:block;
	color:#333333; 
	font-size: 10px;
	padding-left: 5px;	
	padding-right: 5px;
	cursor: pointer;
}
ul#mainmenu li.separator { padding:0; border-right: solid 1px #cccccc;}
/*ul#mainmenu li:first-child { padding-left: 0;}*/
ul#mainmenu li:last-child { border-right: none;}
ul#mainmenu li:hover{ color: #f7941f; }
ul#mainmenu li a { text-decoration: none; color:inherit; }
ul#mainmenu li a:hover { text-decoration: none; }
#mainmenu-index { margin-left: 230px; }
ul#mainmenu li.index-page { padding-left: 15px; padding-right: 15px; border-left: solid 1px #cccccc; border-right:none;}

/****************** SUBMENU *****************************/
ul#mainmenu li.headlink ul
{ 
	padding:10px 0 0 0; margin:0; margin-left:-10px; 
        list-style:none; width: 175px; display:none; 
        position:absolute;
        z-index: 10000;
}
ul#mainmenu li.headlink ul:first-child { margin-left:0;}
ul#mainmenu li.headlink ul li 
{
	padding: 7px 10px 7px 14px;
	position:relative;
	/*height: 15px;*/
	line-height: 15px;
	float:left;
	display:block;
	width: 150px;
	color: #333333;
	background-color: #FFFFFF;
}
ul#mainmenu li.headlink ul li:hover 
{
	background-color: #00549d;
	color: #FFFFFF;
}
ul#mainmenu li.headlink ul li.headlink 
{
	background-image: url(images/submenu-arrow.png);
	background-position:right;
	background-repeat:no-repeat;
}
ul#mainmenu li.headlink ul li.headlink:hover 
{
	background-color: #00549d;
	color: #FFFFFF;
	background-image: url(images/submenu-arrow-selected.png);
	background-position:right;
	background-repeat:no-repeat;
}
/************ SUB SUB MENU *******************/
ul#mainmenu li.headlink ul li.headlink ul
{ 
	padding:0; margin:-22px 0 0 160px; list-style:none; width: 175px; display:none; position:absolute;
}
ul#mainmenu li.headlink ul li.headlink ul li 
{
	padding: 7px 10px 7px 14px;
	position:relative;
	/*height: 15px;*/
	line-height: 15px;
	float:left;
	display:block;
	width: 150px;
	color: #FFFFFF;
	background-color: #00549d;
}
ul#mainmenu li.headlink ul li.headlink ul li:hover 
{
	background-color: #FFFFFF;
	color: #00549d;
}
/*************** SUB MENU LIST IN CONTENT PANEL ************/
div.submenu-list-row
{
	float:left;
	width:650px;
	display:block;
	margin-bottom: 10px;
}
div.submenu-list-item 
{
	float:left;
	width:33%;
	display:block;
	margin-left:1px;
}
div.submenu-list-item:nth-child(3n+1) { margin-left:0;}
div.submenu-list-item:nth-child(3n+3) { width:219px;}
div.submenu-list-row-title
{
	float:left;
	width: 100%;
	padding-top: 1px; padding-bottom:1px;
	line-height: 30px;
	/*background-color: #cfe6f9;*/
	background:-moz-linear-gradient(top, #cfe6f9, #E0EEF7) no-repeat #E0EEF7;
    background:-webkit-gradient(linear, left top, left bottom, from(#cfe6f9), to(#E0EEF7)) no-repeat #E0EEF7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfe6f9', endColorstr='#E0EEF7');
	color: #01539c;
	font-size:11px;
	font-weight:bold;
	text-indent:10px;
}
div.submenu-list-row-title a { text-decoration:none; color:inherit; }
div.submenu-list-row-title a:hover { text-decoration:none; color:inherit; }
ul.submenu-list
{	
	width:100%;
	margin:0; margin-left:10px; padding:0;
	list-style: inside url(images/submenu-arrow.png); 	
}
ul.submenu-list li 
{
	float:left;
	width:inherit;
	color: #01539c;
	font-size:11px;	
	height: 20px;
	line-height: 20px;
}
ul.submenu-list li a { text-decoration:none; color:inherit; }
ul.submenu-list li a:hover { text-decoration:none; color:#f7941f; }

/*********** SUB MENU LIST IN DETAIL PAGE *******************/
div#detailpage-submenu-list-container
{
	float:left;
	width:190px;	
	display:block;
	clear:both;
}
div.detailpage-submenu-item 
{
	float:left;
	width:inherit;
	display:block;
	margin-top:1px;
}
div.detailpage-submenu-item-active
{
	float:left;
	width:inherit;
	display:block;
	margin-top:1px;
}
div.detailpage-submenu-item:first-child, div.detailpage-submenu-item-active:first-child 
{
	margin-top:0;
}
div.detailpage-submenu-item .title, div.detailpage-submenu-item-active .title 
{
	float:left;
	width:inherit;
	display:block;
	color: #01539c;
	font-size: 11px;
	font-weight:bold;
	text-indent: 10px;
	height: 30px;
	line-height: 30px;
	background-color: #cfe6f9;	
}
div.detailpage-submenu-item .title a, div.detailpage-submenu-item-active .title a, 
div.detailpage-submenu-item .title a:hover, div.detailpage-submenu-item-active .title a:hover {
	color:inherit; text-decoration:none;
}
div.detailpage-submenu-item .title a{ text-decoration:none; color:inherit; }
ul.detailpage-submenu-list
{
	margin:0; padding:0; list-style:none; width: inherit;
	list-style:inside url(images/submenu-arrow.png);
	display:none;
}
ul.detailpage-submenu-list li
{
	float:left;
	width:inherit;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 10px; font-weight:bold;
	text-indent:10px;
	color: #00549d;
	background-color: inherit;
}
ul.detailpage-submenu-list li:hover, ul.detailpage-submenu-list li.active
{
	color: #333333;
	background-color: #FFFFFF;
}

ul.detailpage-submenu-list li a, ul.detailpage-submenu-list li a:hover { text-decoration:none; color:inherit; }

