.pagination {
    text-align: right;
    margin: 3px;
	font-size: 10px;
}
.pagination a, .pagination strong {
	color: #4A4A4A;
    border: 0; outline: 0;
    background: #fff;
    display: inline-block;
    margin-right: 1px;
    padding: 1px 2px;
    text-decoration: none;
	line-height: 1.5em;
	
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pagination a:hover {
	color: #4A4A4A;
    border: 0; outline: 0;
    background-color: #F7941E;
    color: #fff;
}
.pagination a:active {
	background: rgba(190, 190, 190, 0.75);
}
.pagination .strong {
    color: #fff;
    background-color: #F7941E;
}