/*  =Additional Stylesheet for Video Section 
=================================================*/

/*Common*/

.video-container a {
	text-decoration: none;
}

.video-container-main a {
	text-decoration: none;
}
	
.video-container img{
	border: none;
}

.video-container-main img{
	border: none;
}

.video-container .video-item {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px; 
	position: relative;
	background: url(images/bg-video-item.png) no-repeat;
	width: 169px;
	height: 135px;
	float: left;
	margin: 30px 0 0 30px;
}

.video-container-main .video-item-main {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px; 
	position: relative;
	background: url(images/bg-video-item-main.png) no-repeat;
	width: 169px;
	height: 135px;
	float: left;
	margin: 10px 27px 0 28px;
}

* html .video-container .video-item{
	margin: 0;
}

* html .video-container-main .video-item-main{
	margin: 0;
}

.thumb_img_video{
	width: 135px;
	height: 90px;
}

.video-container .video-title {
	display: block;
	margin: 10px 0 2px;
	color: #004a80;
}

.video-container-main .video-title {
	display: block;
	margin: 10px 0 2px;
	color: #004a80;
}

/*Index*/


#video-index #video-item-wrap {
	width: 628px;
	height:500px;
	/*background: #ebebeb;*/
	padding-top: 0px;
	padding-bottom: 21px;
}

#video-index-main #video-item-wrap-main {
	width: 900px;
	/*height:500px;*/
	padding-top: 0px;
	padding-bottom: 10px;
}

#tes-color {
	background: #ebebeb;
}

#pagination-item{
	width: 628px;
	border:solid;
}


/*  =Utilities 
=================================================*/

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
	
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
