body {
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: Arial Narrow,Arial,sans-serif;
	font-size: 16px;
	line-height: 1.3;
	color: #000;
}

* {
	box-sizing: border-box;
}

a,a:visited,a:focus {
	color: #aaa;
	text-decoration: none;
}

a:hover {
	color: #666;
	text-decoration: underline;
}

img {
	border: 0;
}

iframe {
	border: 0;
}


/* nav */
nav {
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	position: relative;
}

.logo-wrapper {
	padding: 0 40px;
}

@media only screen and (max-width: 480px) {

	.logo-wrapper {
		padding-right: 5px;
	}
}

.logo {
	display: inline-block;
	margin: 40px 18px 35px;
}

.logo svg {
	max-width: 100%;
}

.logo img {
	width: auto;
	max-height: 32px;
	max-width: 300px;
}

.subnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid #e5e5e5;
}

@media only screen and (max-width: 599px) {
	.subnav {
		display: none;
	}
}

.subnav li {
	display: inline-block;
	padding: 0;
}

.subnav li a {
	display: inline-block;
	text-transform: uppercase;
	padding: 0 10px;
	line-height: 30px;
	border-left: 1px solid #e5e5e5;
}

.subnav li a:hover {
	text-decoration: none;
}

.subnav li:last-child a {
	border-right: 1px solid #e5e5e5;
}

/* post */
.post {
	width: 100%;
	max-width: 836px;
	margin: 0 auto;
	padding: 0 18px;
}

article header {
	max-width: 636px;
	margin: 0 auto 2rem;
}

article header h1 {
	font-size: 40px;
	margin: 2rem 0 1.75rem;
}

article header h1 a,article header h1 a:hover {
	color: #000;
}

iframe {
	max-width: 100%;
}

.flex-video {
	height: 0;
	margin-bottom: 1rem;
	overflow: hidden;
	padding-bottom: 67.5%;
	padding-top: 1.56rem;
	position: relative;
	display: block;
}

.flex-video.widescreen {
	padding-bottom: 52.9%;
}

.flex-video embed,.flex-video iframe,.flex-video object,.flex-video video {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
}

.reframe {
	width: 100%;
	height: 510px;
}

/* meta */
.meta {
	display: flex;
}

.meta__avatar {
	min-width: 40px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.meta__avatar img {
	border-radius: 50%;
}

.meta__text {
	display: inline-block;
	color: #aaa;
}

.meta__byline {
	color: #333;
	margin-bottom: 2px;
}

.meta__views {
    float: right;
    color: #aaa;
}

.meta__views:before {
    content: '🔥';
    margin-right: 10px;
}

time {
	display: inline-block;
}

time,.tags-container {
	font-size: 14px;
}

.tags-container {
	display: inline-block;
	position: relative;
}

.first-tag span {
	text-transform: uppercase;
}

.tags-container > a {
	display: inline-block;
	padding-bottom: 50px;
}

.tags-container:hover .taglist,
.taglist:hover {
	display: block;
}

.taglist {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	position: absolute;
	top: 0;
	min-width: 150px;
	display: none;
}

.taglist ul {
	margin: 0;
	padding: 5px 0;
	list-style-type: none;
}

.taglist ul li {
	text-transform: uppercase;
	padding: 5px 10px;
	line-height: 21px;
}

/* content */
.post-content p,.post-content ol,.post-content ul {
	font-family: Georgia,serif;
	font-size: 18px;
	line-height: 1.7;
	color: #333;
}

.post-content a {
	color: #E25A48;
}

.post-content p,.post-content ul,.post-content ol,.post-content h2,.post-content h3,.post-content h4,.post-content blockquote,.post-content hr {
	max-width: 636px;
	margin: 0 auto 1.5rem;
}

.post-content figure {
	margin-bottom: 1.5rem;
  margin-left: 0;
  margin-right: 0;
}

.post-content figure img {
	max-width: 100%;
}

.post-content figure.align--bleed {
	margin-left: 0;
	margin-right: 0;
}

.post-content figure.align--center {
	text-align: center;
}

.post-content figure.align--left {
	float: left;
	margin: 0.5rem 1.12rem 0.5rem 0;
	max-width: 100%;
	clear: left;
}

.post-content figure figcaption {
	font-size: 15px;
	color: #aaa;
	padding: 5px 0 0;
}

@media only screen and (max-width: 799px) {
	.post-content figure.align--bleed {
		margin-left: -18px;
		margin-right: -18px;
	}

	.post-content figure.align--bleed figcaption {
		padding-left: 18px;
		padding-right: 18px;
	}
}

.post-content hr {
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	margin-top: 40px;
	margin-bottom: 40px;
}

.link-preview {
	max-width: 576px;
	font-size: 0.9em;
	border: 1px #ccc solid;
	margin: auto;
	padding: 10px;
	margin-bottom: 20px;
}

.link-preview h6 {
  margin: 0 0 6px;
  font-size: 1em;
}

.link-preview p {
  margin-bottom: 0;
  font-size: 0.9em;
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

hr.storybreak-stars,hr.storybreak-squares {
	border: 0;
}

hr.storybreak-stars::before,hr.storybreak-squares::before {
	display: inline-block;
	text-align: center;
	width: 100%;
	color: #ccc;
}

hr.storybreak-stars::before {
	content: "★★★";
}

hr.storybreak-squares::before {
	content: "■ ■ ■";
}

/* hamburger menu */
.nav__menu {
	cursor: pointer;
}

.nav__menu .burger {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 15px;
}

.nav__menu .burger span {
	display: block;
	position: absolute;
	height: 1px;
	width: 20px;
	background-color: #000;
}

.nav__menu .burger span:nth-child(1) {
	top: 0;
}

.nav__menu .burger span:nth-child(2) {
	top: 7px;
}

.nav__menu .burger span:nth-child(3) {
	bottom: 0;
}

.gmg-menu {
	background-color: transparent;
	border: 0;
	text-align: left;
	color: #000;
	padding: 0;
	font-size: 1em;
	line-height: inherit;
	outline: none;
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	min-height: 100%;
	width: 250px;
	transition: transform 250ms cubic-bezier(0.66,0.81,0.81,0.93);
}

.gmg-menu__inner {
	position: absolute;
	top: 0;
	width: 100%;
	left: 260px;
	background-color: #fff;
	border-right: 1px solid #e5e5e5;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.gmg-menu__bar {
	display: flex;
	width: 100%;
	padding-left: 20px;
	height: 60px;
	background-color: #eee;
}

.gmg-menu__bar h5 {
	margin: 0;
	flex-grow: 1;
	padding-top: 2px;
	text-transform: uppercase;
	line-height: 55px;
	font-size: 15px;
}

.svg-x-close {
	line-height: 65px;
	padding: 0 20px;
	cursor: pointer;
}

.svg-x-close svg {
	width: 18px;
	height: 18px;
	margin-top: -4.5px;
	opacity: .3;
}

.svg-x-close svg .svg-close {
	stroke: #000;
	stroke-width: 1.5;
}

.nav .gmg-menu ul {
	margin: 0;
	list-style-type: none;
}

.nav .gmg-menu ul li {
	line-height: 16px;
}

.nav .gmg-menu ul li a {
	display: block;
	color: #000;
}

.gmg-menu__relatedblogs {
	padding: 0;
}

.gmg-menu__relatedblogs a {
	padding: 16px 20px 15px;
	border-bottom: 1px solid #e5e5e5;
	line-height: 1.3;
}

.overlay {
	position: fixed;
	z-index: 2;
	pointer-events: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: #000;
	transition: opacity 250ms cubic-bezier(0.66,0.81,0.81,0.93);
}

.gmg-menu,.gmg-menu__inner {
	transform: translateX(-260px);
}

.nav__menu {
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -12px;
}

.nav__menu:focus {
	box-shadow: none;
	outline: none;
}

.gmg-menu.open,
.gmg-menu.open .gmg-menu__inner {
	transform: translateX(0);
  left: 0;
}

.overlay.open {
	opacity: .25;
	pointer-events: auto;
}

/* footer */
.footer {
	border-top: 1px solid #e5e5e5;
	padding: 20px;
	text-align: center;
}

.footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer ul li {
	display: inline-block;
	padding: 0 10px;
}


/* Replies! */
.replies {
	max-width: 782px;
	margin: 40px auto;
	padding: 0 18px;
	position: relative;
}

.reply__body {
	padding-left: 60px;
	margin-bottom: 6px;
	max-width: 696px;
	font-family: Georgia,serif;
	font-size: 18px;
	line-height: 1.7;
	color: #333;
}

.reply__body p {
	margin-bottom: 1.5rem;
}

.reply__body:after {
	content: '';
	display: block;
	padding: 2px 0 16px;
	border-bottom: 1px #e5e5e5 solid;
}

.reply__author-header {
  display: flex;
}

.reply__author-avatar {
	width: 40px;
	height: 40px;
	float: left;
	margin: 0 20px 0 0;
	border-radius: 50%;
}

.reply {
	padding: 8px 0;
}

.reply.reply--nested {
	padding-left: 60px;
}

.reply--nested .reply__body {
	max-width: 636px;
}

@media only screen and (max-width: 599px) {
  .reply__body,
	.reply.reply--nested {
		padding-left: 0;
	}
}

.facet-controls {
	margin: 0 0 28px 60px;
	border-bottom: 1px solid #e5e5e5;
	max-width: 636px;
}

button {
	font-family: Arial Narrow,Arial,sans-serif;
	font-size: 20px;
  cursor: pointer;
}

button:active,button:hover,button:focus {
	outline: none;
}

.facet-controls button {
	padding: 0 0 10px;
	border: 0;
	background-color: transparent;
	border-bottom: 5px solid transparent;
	margin-right: 20px;
	margin-bottom: -6px;
	color: #aaa;
  cursor: pointer;
}

.facet-controls button.active {
	border-color: #E25A48;
  color: #000;
  cursor: auto;
}

.pending-controls {
	background: #eee;
	display: flex;
	padding: 10px;
	margin: 0 0 20px 60px;
	max-width: 636px;
	font-size: 15px;
	line-height: 1.6;
}

@media only screen and (max-width: 599px) {
	.facet-controls,.pending-controls {
		margin-left: 0;
	}
}

blockquote {
	background-color: #f5f5f5;
	padding: 14px;
}

blockquote p:last-child {
	margin-bottom: 0;
}

.pullquote {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    text-align: center;
    padding: 10px 0;
    font-style: italic;
    font-size: 25px;
    line-height: 37px;
    clear: left;
}

.pullquote:before,
.pullquote:after {
    content: '';
    display: block;
    width: 45px;
    height: 0;
    margin: 0 auto;
    position: relative;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #E25A48 ;
}

.pullquote:before {
    margin-bottom: 20px;
}

.pullquote:after {
    margin-top: 20px;
}

@media only screen and (min-width: 800px) {

    .pullquote.align--left {
        width: 40%;
        max-width: 320px;
        float: left;
        margin-right: 36px;
        text-align: left;
        margin-bottom: 0.5em;
        margin-top: 0;
    }

    .pullquote.align--left:before,
    .pullquote.align--left:after {
        margin-left: 0;
        margin-right: 0;
    }
}

.replies .pullquote {
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: left;
    padding: 0 0 0 18px;
    font-size: 22px;
    line-height: 30px;
    position: relative;
}

.replies .pullquote:before {
    position: absolute;
    left: 0;
    top: 3px;
    bottom: 5px;
    width: 0;
    height: auto;
    border-top: 0;
    border-left-width: 1px;
    border-left-style: solid;
    margin: 0;
}

.replies .pullquote:after {
    display: none;
}

#showPending,
#repliesMore,
.pager .button {
  cursor: pointer;
	font-size: 14px;
	padding: 0 20px;
	border: 1px solid rgba(0,0,0,0.1);
	line-height: 30px;
	height: 46px;
	border-radius: 23px;
	white-space: nowrap;
	background: transparent;
}

.pager .previous {
  float: left;
}

.page .next {
  float: right;
}

.pager:after {
  content:" ";
  display:block;
  clear:both;
}

#showPending {
	margin-left: 20px;
}

#repliesMore,
.pager .button {
	display: block;
	margin: 20px auto;
	width: 160px;
	text-align: center;
	line-height: 42px;
}

.reply--highlighted {
	background: #eee;
	margin-left: -8px;
	padding-left: 8px;
	margin-right: -8px;
	padding-right: 8px;
}

.reply--highlighted .reply__body:after {
	display: none;
}

.reply__body > :last-child {
	margin-bottom: 0;
}

.reply__likes {
	float: right;
	color: #ccc;
}

.reply__likes:before {
	content: '★';
}

.reply__author-name {
	font-weight: 700;
}

.reply__author-name:after {
	content: '〉';
	color: #666;
	margin: 0 4px;
}

.reply__datetime {
	color: #666;
	display: block;
	font-size: .8em;
  margin-top: 2px;
}

.reply__parent-author-name {
	color: #666;
}

.reply__replies {
	margin: 0 0 0 30px;
	padding: 0;
}

/* Pending Replies */
.replies .pending {
	display: none;
	opacity: .5;
	position: relative;
}

.replies .pending:after {
	content: 'PENDING';
	position: absolute;
	top: 0;
	right: 0;
	opacity: 1;
	transition: opacity .5s;
}

.replies .pending .reply__likes {
	opacity: 0;
	transition: opacity .5s;
}

.replies .pending:hover:after {
	opacity: 0;
}

.replies .pending:hover .reply__likes {
	opacity: 1;
}

.replies.show-pending .pending {
	display: block;
}

/* stream page */
.main {
	width: 100%;
	max-width: 672px;
	margin: 0 auto;
	padding: 40px 18px;
}

.main figure {
	margin: 0 0 1.2rem;
}

@media only screen and (max-width: 599px) {

	.main figure {
		margin-left: -18px;
		margin-right: -18px;
	}
}

.post-excerpt {
	font-family: Georgia,serif;
	font-size: 18px;
	line-height: 1.7;
	color: #333;
}

.post-excerpt p {
	margin: 0;
}

.main article {
	padding-bottom: 40px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 40px;
	clear: both;
}

.main article:after {
  content:" ";
  display:block;
  clear:both;
}

.main article:last-of-type {
	border-bottom: 0;
	margin-bottom: 0;
}

.main article header {
	color: #aaa;
	font-size: 15px;
	margin-bottom: 1.3rem;
}

.main article .headline {
	font-size: 28px;
	line-height: 1.3;
	margin: 0 0 0.7rem;
}

.main article .thumb {
  height: auto;
}

.main article .thumb img {
	max-width: 100%;
  width: 100%;
	height: auto;
}

.main article img {
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 600px) {

	.main article .thumb {
		float: left;
		margin: 0 18px 5px 0;
		width: 220px;
	}

	.main article .thumb + .post-excerpt {
		position: relative;
		top: -7px;
		min-height: 132px;
	}
}

/* tag page */
.tagpage-header {
	margin-bottom: 40px;
	text-align: center;
}

.tagpage-header h1 {
	margin: 0;
	font-size: 32px;
	font-weight: normal;
	text-transform: uppercase;
	display: inline-block;
	padding-bottom: 40px;
	border-bottom: 1px solid #e5e5e5;
	color: #aaa;
}

.tagpage-header h1 span {
	color: #ccc;
}

/* Global modifiers */
.hide {
	display: none;
}
