.marketing-text-widget
{
  border-top-right-radius:3px 0 0 0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  border-radius:3px 0 0 0;
  background-clip:padding-box;
  opacity:.85;
  background-color:#006196;
  border-width:15px;
  border-style:solid;
  border-color:#006196;
  color:white;
  position:fixed;
  height:auto;
  bottom:0;
  right:0;
  min-width:35px;
  z-index:100
}
.marketing-text-widget .content>div
{
  height:auto;
  padding:1px 0
}
.marketing-text-widget #MarketingTextControl
{
  border-top-right-radius:3px 0 0 0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  border-radius:3px 0 0 0;
  background-clip:padding-box;
  background-color:#006196;
  position:absolute;
  height:40px;
  width:45px;
  margin:-50px 0 0 0;
  right:-15px;
  text-align:center;
  z-index:100
}
.marketing-text-widget.marketing-text-theme-grape,
.marketing-text-widget.marketing-text-theme-grape #MarketingTextControl
{
  background-color:#6e0a96;
  border-color:#6e0a96
}
.marketing-text-widget.marketing-text-theme-scarlet,
.marketing-text-widget.marketing-text-theme-scarlet #MarketingTextControl
{
  background-color:#a10524;
  border-color:#a10524
}
.marketing-text-widget.marketing-text-theme-fire-orange,
.marketing-text-widget.marketing-text-theme-fire-orange #MarketingTextControl
{
  background-color:#ff4f00;
  border-color:#ff4f00
}
.marketing-text-widget.marketing-text-theme-green,
.marketing-text-widget.marketing-text-theme-green #MarketingTextControl
{
  background-color:#05a34a;
  border-color:#05a34a
}
.marketing-text-widget.marketing-text-theme-ultra-violet,
.marketing-text-widget.marketing-text-theme-ultra-violet #MarketingTextControl
{
  background-color:#ad00b0;
  border-color:#ad00b0
}
#MarketingTextCloseButton
{
  top:10px
}
.site-mobile #MarketingText
{
  display:none
}
@media only screen and (max-width:767px)
{
  #MarketingText
  {
    display:none
  }
}
.screen-size-extra-small #MarketingText
{
  display:none
}
.ie8 div .marketing-text-widget
{
  border-top-width:40px
}
.ie8 div .marketing-text-widget #MarketingTextControl
{
  margin-top:-45px
}
