.dialog-background .dialog-loading-indicator span
{
  background-image:url('/sf/_langid-1/_hc-00000cb5/_/vp/css/pkg/VP.UILibrary/images/spinner.gif');
  width:49px;
  height:50px
}
.dialog-default-padding
{
  padding:10px 10px 0 10px
}
.dialog-auto-scroll
{
  overflow-x:auto;
  max-height:450px
}
.dialog-content
{
  margin:0 10px;
  padding-top:10px
}
.dialog-button-group
{
  position:relative;
  width:100%;
  margin-top:10px;
  padding-top:10px;
  padding-bottom:2px;
  text-align:center
}
.dialog-button-group .textbutton
{
  min-width:100px;
  margin-left:7px;
  margin-right:7px
}
.ui-mobile .dialog-button-group .textbutton,
.site-mobile .dialog-button-group .textbutton
{
  margin-left:0;
  margin-right:0
}
.smallscreen .dialog-button-group.wide-on-mobile .textbutton
{
  width:100%;
  padding-left:0;
  padding-right:0;
  margin:0;
  margin-bottom:10px
}
.smallscreen .dialog-button-group.wide-on-mobile .textbutton:last-child
{
  margin-bottom:0
}
.dialog-skin-primary.dialog-container,
.dialog-skin-neutral.dialog-container
{
  border-radius:2px
}
.dialog-skin-primary.dialog-container .dialog-header,
.dialog-skin-neutral.dialog-container .dialog-header
{
  border-radius:2px 0 0 2px;
  background:#202b34;
  background:-webkit-linear-gradient(top,#202b34,#111a22);
  background:linear-gradient(to bottom,#202b34,#111a22);
  position:relative;
  height:auto;
  min-height:40px;
  text-align:left
}
.dialog-skin-primary.dialog-container .dialog-header h1,
.dialog-skin-neutral.dialog-container .dialog-header h1
{
  float:none;
  margin-right:34px;
  font-size:16px;
  color:white
}
.dialog-skin-primary.dialog-container .dialog-header .dialog-close-button,
.dialog-skin-neutral.dialog-container .dialog-header .dialog-close-button
{
  position:relative;
  height:24px;
  width:24px;
  margin-top:6px;
  margin-right:5px;
  color:transparent;
  text-decoration:none;
  background-color:#fff;
  border-radius:12px
}
.dialog-skin-primary.dialog-container .dialog-header .dialog-close-button:hover,
.dialog-skin-neutral.dialog-container .dialog-header .dialog-close-button:hover
{
  background:#fff
}
.dialog-skin-primary.dialog-container .dialog-header .dialog-close-button:hover .dialog-close-button-icon,
.dialog-skin-neutral.dialog-container .dialog-header .dialog-close-button:hover .dialog-close-button-icon
{
  opacity:.7;
  background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fcss%2fpkg%2fVP.UILibrary%2fimages%2ficons-black-2x.png&w=196&h=14&langid=1&q=0&c=64&hc=004b4187&ie6=0');
  background-size:196px 14px
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi)
{
  .dialog-skin-primary.dialog-container .dialog-header .dialog-close-button:hover .dialog-close-button-icon,
  .dialog-skin-neutral.dialog-container .dialog-header .dialog-close-button:hover .dialog-close-button-icon
  {
    background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fcss%2fpkg%2fVP.UILibrary%2fimages%2ficons-black-2x.png&w=392&h=28&langid=1&q=0&c=64&hc=004b40d9&ie6=0')
  }
}
.dialog-skin-primary.dialog-container .dialog-header .dialog-close-button:active,
.dialog-skin-neutral.dialog-container .dialog-header .dialog-close-button:active
{
  background:#f0f2f3;
  box-shadow:inset 0 2px 0 rgba(0,0,0,0.25)
}
.dialog-skin-primary.dialog-container .dialog-header .dialog-close-button:active .dialog-close-button-icon,
.dialog-skin-neutral.dialog-container .dialog-header .dialog-close-button:active .dialog-close-button-icon
{
  opacity:.7;
  background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fcss%2fpkg%2fVP.UILibrary%2fimages%2ficons-black-2x.png&w=196&h=14&langid=1&q=0&c=64&hc=004b4187&ie6=0');
  background-size:196px 14px
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi)
{
  .dialog-skin-primary.dialog-container .dialog-header .dialog-close-button:active .dialog-close-button-icon,
  .dialog-skin-neutral.dialog-container .dialog-header .dialog-close-button:active .dialog-close-button-icon
  {
    background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fcss%2fpkg%2fVP.UILibrary%2fimages%2ficons-black-2x.png&w=392&h=28&langid=1&q=0&c=64&hc=004b40d9&ie6=0')
  }
}
.dialog-skin-primary.dialog-container .dialog-header .dialog-close-button-icon,
.dialog-skin-neutral.dialog-container .dialog-header .dialog-close-button-icon
{
  display:inline-block;
  height:14px;
  width:14px;
  background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fcss%2fpkg%2fVP.UILibrary%2fimages%2ficons-black-2x.png&w=196&h=14&langid=1&q=0&c=64&hc=004b4187&ie6=0');
  background-size:196px 14px;
  background-position:-55px 50%;
  position:absolute;
  top:5px;
  left:4px
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi)
{
  .dialog-skin-primary.dialog-container .dialog-header .dialog-close-button-icon,
  .dialog-skin-neutral.dialog-container .dialog-header .dialog-close-button-icon
  {
    background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fcss%2fpkg%2fVP.UILibrary%2fimages%2ficons-black-2x.png&w=392&h=28&langid=1&q=0&c=64&hc=004b40d9&ie6=0')
  }
}
.dialog-skin-primary.dialog-container .dialog-header .dialog-close-button,
.dialog-skin-neutral.dialog-container .dialog-header .dialog-close-button
{
  float:none;
  position:absolute;
  top:6px;
  right:5px;
  margin-top:0;
  margin-right:0
}
.dialog-skin-primary.dialog-container .dialog-content-container,
.dialog-skin-neutral.dialog-container .dialog-content-container
{
  background-color:#fff;
  border-radius:0 2px 2px 0;
  padding-bottom:8px
}
.dialog-skin-primary.dialog-container.dialog-visible,
.dialog-skin-neutral.dialog-container.dialog-visible
{
  box-shadow:4px 4px 4px rgba(0,0,0,0.4);
  box-shadow:4px 4px 4px 1px rgba(0,0,0,0.4)
}
.dialog-skin-neutral.dialog-container .dialog-header
{
  background:#62798b;
  background:-webkit-linear-gradient(top,#62798b,#38454f);
  background:linear-gradient(to bottom,#62798b,#38454f)
}
.dialog-skin-neutral.dialog-container .dialog-content-container
{
  background-color:#fff
}
.dialog-skin-lightbox.dialog-background.dialog-veil
{
  background-color:rgba(0,0,0,0.6)
}
.dialog-skin-lightbox.dialog-background.dialog-veil-opaque
{
  display:none;
  background-color:#111a22
}
.dialog-skin-lightbox.dialog-container.smallscreen
{
  position:fixed;
  top:0!important;
  left:0!important;
  width:100%!important;
  height:100%!important;
  margin:0
}
.dialog-skin-lightbox.dialog-container .dialog-header
{
  background-color:#111a22
}
.dialog-skin-lightbox.dialog-container .dialog-header h1
{
  font-size:16px;
  color:white
}
.dialog-skin-lightbox.dialog-container .dialog-header .dialog-close-button
{
  position:relative;
  height:24px;
  width:24px;
  margin-top:6px;
  margin-right:5px;
  color:transparent;
  text-decoration:none;
  background-color:#fff;
  border-radius:12px
}
.dialog-skin-lightbox.dialog-container .dialog-header .dialog-close-button:hover
{
  background:#fff
}
.dialog-skin-lightbox.dialog-container .dialog-header .dialog-close-button:hover .dialog-close-button-icon
{
  opacity:.7;
  background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fcss%2fpkg%2fVP.UILibrary%2fimages%2ficons-black-2x.png&w=196&h=14&langid=1&q=0&c=64&hc=004b4187&ie6=0');
  background-size:196px 14px
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi)
{
  .dialog-skin-lightbox.dialog-container .dialog-header .dialog-close-button:hover .dialog-close-button-icon
  {
    background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fcss%2fpkg%2fVP.UILibrary%2fimages%2ficons-black-2x.png&w=392&h=28&langid=1&q=0&c=64&hc=004b40d9&ie6=0')
  }
}
.dialog-skin-lightbox.dialog-container .dialog-header .dialog-close-button:active
{
  background:#f0f2f3;
  box-shadow:inset 0 2px 0 rgba(0,0,0,0.25)
}
.dialog-skin-lightbox.dialog-container .dialog-header .dialog-close-button:active .dialog-close-button-icon
{
  opacity:.7;
  background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fcss%2fpkg%2fVP.UILibrary%2fimages%2ficons-black-2x.png&w=196&h=14&langid=1&q=0&c=64&hc=004b4187&ie6=0');
  background-size:196px 14px
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi)
{
  .dialog-skin-lightbox.dialog-container .dialog-header .dialog-close-button:active .dialog-close-button-icon
  {
    background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fcss%2fpkg%2fVP.UILibrary%2fimages%2ficons-black-2x.png&w=392&h=28&langid=1&q=0&c=64&hc=004b40d9&ie6=0')
  }
}
.dialog-skin-lightbox.dialog-container .dialog-header .dialog-close-button-icon
{
  display:inline-block;
  height:14px;
  width:14px;
  background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fcss%2fpkg%2fVP.UILibrary%2fimages%2ficons-black-2x.png&w=196&h=14&langid=1&q=0&c=64&hc=004b4187&ie6=0');
  background-size:196px 14px;
  background-position:-55px 50%;
  position:absolute;
  top:5px;
  left:4px
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi)
{
  .dialog-skin-lightbox.dialog-container .dialog-header .dialog-close-button-icon
  {
    background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fcss%2fpkg%2fVP.UILibrary%2fimages%2ficons-black-2x.png&w=392&h=28&langid=1&q=0&c=64&hc=004b40d9&ie6=0')
  }
}
.dialog-skin-lightbox.dialog-container .dialog-content-container
{
  background-color:#111a22;
  color:#fff
}
.dialog-skin-lightbox.dialog-container .dialog-content-container a:hover
{
  color:inherit
}
.dialog-skin-lightbox .dialog-content
{
  margin:0;
  padding:0 13px;
  min-height:100px
}
.dialog-skin-media
{
  border-radius:2px;
  box-shadow:0 2px 2px 2px rgba(0,0,0,0.2)
}
.dialog-skin-media.dialog-container
{
  background:#fff
}
.dialog-skin-media .dialog-header
{
  height:1px;
  padding:0;
  position:relative;
  z-index:2
}
.dialog-skin-media .dialog-header h1
{
  display:none
}
.dialog-skin-media .dialog-close-button
{
  display:block;
  position:absolute;
  top:-12px;
  right:-12px;
  width:24px;
  height:24px;
  background:#111a22;
  border:3px solid #fff;
  border-radius:50%;
  box-shadow:2px 1px 1px rgba(0,0,0,0.2);
  box-shadow:2px 1px 1px .2 rgba(0,0,0,0.4)
}
.dialog-skin-media .dialog-close-button-icon
{
  display:block;
  height:14px;
  width:14px;
  background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fcss%2fpkg%2fVP.UILibrary%2fimages%2ficons-white-2x.png&w=196&h=14&langid=1&q=0&c=64&hc=004b47b2&ie6=0');
  background-size:196px 14px;
  background-position:-55px 50%;
  position:relative;
  top:5px;
  left:4px
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi)
{
  .dialog-skin-media .dialog-close-button-icon
  {
    background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fcss%2fpkg%2fVP.UILibrary%2fimages%2ficons-white-2x.png&w=392&h=28&langid=1&q=0&c=64&hc=004b46ec&ie6=0')
  }
}
.dialog-skin-media .dialog-content-container
{
  padding:20px;
  z-index:1
}

.hc-717932725 {}