h4.header-divider
{
  padding:30px 0
}
hr.max-width-divider
{
  margin:0 auto
}
.top-section
{
  display:block
}
.top-section.breakpoint-max .marquee
{
  display:block
}
.top-section.breakpoint-small .marquee
{
  display:none
}
.marquee
{
  margin:auto
}
.billboard
{
  margin:0 auto;
  background-color:white;
  text-align:center;
  padding:30px 0
}
.billboard .brand-section
{
  padding:7px 0
}
.billboard .brand-rating
{
  display:table;
  margin:0 auto
}
.billboard .brand-rating>a
{
  display:table-cell;
  vertical-align:top;
  padding-top:3px
}
.billboard .brand-rating .star-label
{
  display:table-cell;
  font-size:18px;
  padding:0 10px
}
.billboard .spacer
{
  padding:5px
}
.billboard .source
{
  font-style:italic
}
.billboard .guarantee
{
  padding-top:3px
}
.brand-banner
{
  margin:25px 0 1px 0
}
.single-product-tile,
.double-wide-product-tile,
.double-tall-product-tile
{
  padding-bottom:20px
}
.mobile-buttons .textbutton
{
  width:100%;
  margin-bottom:12px
}
.weekly-specials,
.brand-promo
{
  background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fimages%2fvp-site%2fcommon%2ftile-backgrounds%2fdiagonal-background-tile-2x.png&w=5&h=5&langid=1&q=0&c=64&hc=004b4cd3&ie6=0');
  background-size:5px 5px;
  padding:0 0 30px 0;
  margin:auto
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi)
{
  .weekly-specials,
  .brand-promo
  {
    background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fimages%2fvp-site%2fcommon%2ftile-backgrounds%2fdiagonal-background-tile-2x.png&w=10&h=10&langid=1&q=0&c=64&hc=004b4cd3&ie6=0')
  }
}
.welcome
{
  padding:20px 0 0 0;
  margin:auto
}
.welcome h1.title
{
  text-align:center;
  font-weight:bold;
  margin-bottom:0
}
.confidence
{
  background:#f0f2f3;
  padding:0 0 30px 0;
  margin:auto
}
.confidence h2.title
{
  text-align:center
}
.confidence h3.care-number
{
  text-align:center;
  font-weight:bold;
  margin-top:-10px
}
.confidence .text-block
{
  background:white;
  padding:30px 0;
  border-radius:0 10px 10px 0
}
.confidence .section
{
  padding:0 35px
}
.confidence .section h3
{
  font-weight:bold
}
.review
{
  margin-bottom:30px
}
.review .title
{
  clear:both;
  padding-top:10px;
  font-weight:bold
}
.review .reviewer
{
  padding-top:15px
}
.review .reviewer .name
{
  font-weight:bold
}
.returning-customer-header
{
  padding:5px 0
}
.returning-customer-header .header-text
{
  text-transform:uppercase;
  font-weight:bold;
  margin:0
}
.returning-customer-header .header-text.basic.visible-xs
{
  text-align:center
}
.returning-customer-header .see-all
{
  float:right
}
.recommended-offers-container
{
  padding:30px 0
}
.recommended-offers-container .max-width-divider
{
  margin-bottom:10px
}
.recommended-offers-container .description-text
{
  padding:10px 0
}
.recommended-offers-container .mobile-see-all
{
  padding-top:10px
}
.recommended-offers-container .recommended-offers
{
  padding-top:10px
}
.recommended-offer .offer-details
{
  text-align:center
}
.recommended-offer .recommended-offer-product-name
{
  margin:0 auto;
  display:table;
  padding-top:10px
}
.recommended-offer .recommended-offer-product-name .product-name-text,
.recommended-offer .recommended-offer-product-name .product-name-button
{
  display:table-cell;
  vertical-align:middle;
  font-weight:bold
}
.recommended-offer .recommended-offer-product-name .product-name-text
{
  padding-right:10px
}
.recommended-offer .ratings
{
  display:inline-block
}
.recommended-offer .ratings .bv-inline-rating
{
  height:40px
}
.recommended-offer .pricing
{
  text-align:center;
  padding-bottom:10px
}
.image-container
{
  display:table;
  margin:0 auto;
  height:220px
}
.image-container .image-inner-container
{
  display:table-cell;
  vertical-align:middle
}
.image-container img
{
  width:100%
}
.portfolio-thumbnail-container
{
  padding:10px 0 20px 0
}
.portfolio-thumbnail-container .max-width-divider
{
  margin-bottom:10px
}
.portfolio-thumbnail-container .description-text
{
  padding:10px 0 20px 0
}
.portfolio-thumbnail-container .portfolio-item
{
  margin:10px 0
}
.portfolio-item-detail
{
  text-align:center
}
.portfolio-item-detail .portfolio-title-container
{
  margin:0 auto;
  display:table;
  padding-top:10px
}
.portfolio-item-detail .portfolio-title-container .portfolio-title
{
  padding:15px 0 10px 0;
  display:table-cell;
  vertical-align:middle
}
.portfolio-item-detail .portfolio-links
{
  padding-bottom:20px
}
.portfolio-item-detail .portfolio-price
{
  text-align:center;
  padding-bottom:10px
}
.portfolio-item-detail .mobile-order-buttons .textbutton
{
  margin-bottom:0;
  width:100%
}
.portfolio-title h5,
.portfolio-title h5 a
{
  font-weight:bold;
  margin-bottom:0;
  color:#111a22
}
.portfolio-title h5 a:hover,
.portfolio-title h5 a a:hover
{
  text-decoration:none
}
@media only screen and (max-width:767px)
{
  .single-product-tile,
  .double-wide-product-tile,
  .double-tall-product-tile
  {
    padding-bottom:10px
  }
  .promo-theme
  {
    margin-bottom:-15px
  }
  .returning-customer-header
  {
    text-align:center
  }
  .recommended-offer .recommended-offer-product-name .product-name-text
  {
    text-align:left
  }
  .recommended-offer .recommended-offer-product-name .product-name-button
  {
    vertical-align:top
  }
}
.screen-size-extra-small .single-product-tile,
.screen-size-extra-small .double-wide-product-tile,
.screen-size-extra-small .double-tall-product-tile
{
  padding-bottom:10px
}
.screen-size-extra-small .promo-theme
{
  margin-bottom:-15px
}
.screen-size-extra-small .returning-customer-header
{
  text-align:center
}
.screen-size-extra-small .recommended-offer .recommended-offer-product-name .product-name-text
{
  text-align:left
}
.screen-size-extra-small .recommended-offer .recommended-offer-product-name .product-name-button
{
  vertical-align:top
}