.bv-inline-rating
{
  min-height:20px
}
.bv-inline-rating.compact-stars .bv-cleanslate .bv-compat .bv-rating-ratio-count
{
  display:none!important
}
#reviewsContainer
{
  background-color:#fff;
  margin-bottom:10px
}
#reviewsContainer #BVRRSummaryContainer
{
  padding-left:10px;
  overflow:hidden
}
#ratingsAndReviewsDebug
{
  margin:0 10px 10px 10px;
  text-align:left
}
#ratingsAndReviewsDebug .label
{
  font-weight:bold
}
#ratingsAndReviewsDebug .value
{
  color:#05a34a
}
#AggregatedRatingsText
{
  float:left;
  padding-left:10px
}
.review-clear
{
  clear:both
}
#reviewsHeader
{
  margin-top:10px;
  margin-left:10px;
  position:relative
}
#reviewsHeader #reviewsTitle
{
  font-family:'MarkPro',sans-serif;
  font-weight:300;
  font-weight:lighter;
  padding-top:10px;
  float:left;
  display:block;
  font-size:20px
}
.lang-jp #reviewsHeader #reviewsTitle
{
  font-family:'MS Gothic','MS Mincho',sans-serif
}
#reviewsHeader #reviewsSubtitle
{
  font-size:16px
}
#writeReviewLink
{
  font-size:14px;
  padding-top:12px;
  padding-bottom:10px;
  padding-right:10px;
  display:block;
  float:right
}
a.bv-write-review-label.bv-text-link.bv-focusable.bv-submission-button
{
  display:none!important;
  width:0
}
div.bv-action-bar h2.bv-action-bar-header
{
  display:none!important
}
div.bv-content-placeholder a.bv-rating-stars-container.bv-focusable
{
  display:none!important
}
#digitalProductPageContainer
{
  margin:20px 30px 20px 30px
}
.legacyProductPageSection
{
  margin-bottom:15px
}
#divMultiProductPage #tblTeasers
{
  padding-bottom:20px
}
#divMultiProductPage .vp-stylized-container
{
  margin-bottom:20px
}
.multi-product-page-review-section
{
  text-align:left;
  margin-bottom:15px
}
.finish-pp-reviews
{
  margin:50px 0 50px 7px;
  width:738px
}
.tabbed-product-page-review-container
{
  margin-top:15px;
  width:738px
}
#invitationsAndAnnouncementsReviewContainer
{
  padding:0 20px 40px 40px
}
#toggleMultiProductReviewContainer
{
  margin:0 10px 0 20px
}
div.SelectOptionsEnvelopesTab div.bv-inline-rating div.bv-cleanslate div.bv-inline-rating-container dl.bv-stars-container
{
  margin-left:auto!important;
  margin-right:auto!important;
  display:block!important;
  width:17%!important
}
li.recommended-offer div.bv-inline-rating div.bv-cleanslate div.bv-inline-rating-container dl.bv-stars-container
{
  margin-left:auto!important;
  margin-right:auto!important;
  display:block!important;
  width:38%!important
}
.ratings-container
{
  padding-top:5px!important;
  padding-bottom:5px!important
}
.page-content-inner-container #writeReviewLink a.textbutton.textbutton-skin-secondary.textbutton-mini
{
  color:#38454f
}
div.product-faq-container
{
  margin-top:10px
}
#EuSampleKitReviewContainer
{
  width:760px
}
#holidayReviewContainer
{
  margin-right:10px
}
#canvasPrintsReviewContainer
{
  margin-right:15px
}
#emailMarketingReviewContainer
{
  margin-right:5px
}
div.preview-toggle-product-page #reviewsContainer
{
  margin:0 15px 40px 15px
}
@media only screen and (max-width:767px)
{
  #reviewsContainer
  {
    padding-left:10px;
    padding-right:10px
  }
  #reviewsHeader #reviewsTitle
  {
    float:none;
    line-height:1em
  }
  #writeReviewLink
  {
    float:none
  }
}
.screen-size-extra-small #reviewsContainer
{
  padding-left:10px;
  padding-right:10px
}
.screen-size-extra-small #reviewsHeader #reviewsTitle
{
  float:none;
  line-height:1em
}
.screen-size-extra-small #writeReviewLink
{
  float:none
}
