.responsive-image
{
  height:0;
  position:relative;
  overflow:hidden
}
.ie7 a .responsive-image
{
  height:auto;
  padding-bottom:0!important;
  overflow:visible;
  cursor:pointer
}
.responsive-image img
{
  position:absolute;
  top:0;
  left:0;
  width:100%
}
.ie7 a .responsive-image img
{
  position:static;
  width:auto;
  top:auto;
  left:auto
}
.responsive-image-nonlocal.responsive-image
{
  height:inherit;
  overflow:inherit
}
.responsive-image-nonlocal.responsive-image img
{
  position:inherit;
  top:inherit;
  left:inherit
}
