.star-rating
{
  background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fimages%2fvp-site%2fcommon%2ficons%2fstar-gray-2x.png&w=15&h=15&langid=1&q=0&c=32&hc=004b4d5b&ie6=0');
  background-size:15px 15px;
  width:75px;
  height:15px;
  z-index:-1
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi)
{
  .star-rating
  {
    background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fimages%2fvp-site%2fcommon%2ficons%2fstar-gray-2x.png&w=30&h=30&langid=1&q=0&c=32&hc=004b4d5b&ie6=0')
  }
}
.filled-star
{
  background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fimages%2fvp-site%2fcommon%2ficons%2fstar-blue-2x.png&w=15&h=15&langid=1&q=0&c=32&hc=004b4d5b&ie6=0');
  background-size:15px 15px;
  height:15px;
  float:left
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi)
{
  .filled-star
  {
    background-image:url('/Sales/Utility/Img.caspx?s=%2fvp%2fimages%2fvp-site%2fcommon%2ficons%2fstar-blue-2x.png&w=30&h=30&langid=1&q=0&c=32&hc=004b4d5b&ie6=0')
  }
}
.full-star
{
  width:15px
}
.half-star
{
  width:7.5px
}