#warea-929 {
background: #ddd none repeat scroll 0 0;
border-bottom: 1px solid #999;
}

#warea-948 > h2.section-head {
background-color: #aaa;
border-bottom: 1px solid #fff;
color: #333;
line-height: 100%;
margin: 0 -12px;
padding: 8px 12px 4px 12px;
}

#warea-948 > h2.section-head a { color: #333; }
#warea-948 > h2.section-head a:hover { color: #000; }