#header {
	background-color: #7dc5db;
	border-bottom: 10px solid #ee2e24;
	background: url(/images/mheader2.png) no-repeat center top #7dc5db;
} 

#logo a{
	background-color:  #ee2e24;
}

#header .container ul li a{
	background-color: #fff;
	color: #ee2e24;
	border: 1px solid #ee2e24;
}

#header .container ul li a:hover{
	background-color: #ee2e24;
	color: #fff;
	border: 1px solid #ee2e24;
	text-decoration: underline;
}

.crumbsnolink {
	color:#ee2e24;
}

#searchgamelist{
	color: #ee2e24;
	border:1px solid #ee2e24;
}

#comtitle {
	color:#ee2e24;
}

#footer {
	background: #7dc5db no-repeat right;
	border-top: 1px solid #0268a8;
}

#footer p{
	color: #0268a8;
}

#footer a{
	color: #0268a8;
}

#sidesection3 .sidegamelist img:hover {
	border: 1px solid #ee2e24;
}

.sideallgameslink:hover {
	border:1px solid #ee2e24;
}