body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color:#444;
}

h1 {
	font-size: 2.2em;
	padding-top: 15px;
}

h2 {
	font-size: 2em;
	margin-top:10px;
	margin-bottom:10px;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.3em;
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #ee2e24;
}


p, ul, ol {
	margin-top: 0;
	line-height: 180%;
	line-height:1.6em;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #ee2e24;
}

a:hover {
}


#wrapper {
	margin: 0 auto;
	padding: 0 0;
}

#header {
	height:180px;
	padding-top:8px;
} 

#header .container {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#header .container ul{
	list-style: none;
	margin-top: 7px;
	margin-left:-30px;
}

#header .container ul li{
	display: inline-block;
	margin-bottom:2px;
}

#header .container ul li a{
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
}

#header .container ul li a:hover{
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
}

#logo a{
	font-size: 2.6em;
	color:#fff;
	text-transform: uppercase;
	display: block;

	width: 230px;
	margin-left:auto;
	margin-right:auto;
	padding: 5px 15px 5px 15px;
}

#languages {
	display: none;
}

#contentcontainer {
	margin: 0 2%;
	}
		
#sidebar {
	width: 100%
	}
	
.contentcontainer {
	margin: 0 2%;
	}
		
.sidebar {
	width: 100%
	}

#footer {
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom:30px;
}

#footer p {
	margin: 0;
	padding-top: 25px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
}

#footer a {
	text-transform: none;
	text-decoration: underline;
}

#footer img{
	display:none;
}

#indexbesthero {
	text-align: center;
}

#indexbesthero a img {
	width: 100%;
	max-width: 640px;
	border: 1px solid #eee;
	border-radius:6px;
}

#indexboys	{
	width: 100%;
}

#indexgirls {
	width: 100%;
}

.centerimgintext img{
width:100%;
}

.centervideointext {
display: none;
}

.gamelist {
	list-style: none;
	margin: 0 0;
	padding: 0 0;
}

.gamelist li{
	display: inline-block;
	width: 44%;
	padding: 5px 5px 5px 5px;
	vertical-align: top;
	margin-bottom:10px;
	border: 1px solid #eee;
	line-height: normal;	
}

.gamelist li img{
	width: 100%;
}

.gamelisttext{
	margin-top: 5px;
}

#socialbuttons {
	list-style: none;
	margin-top: 15px;
	margin-left: -40px;
}

#socialbuttons li {
	display: inline-block;
	vertical-align: top;
}

#gameadtop {
	width: 100%;
	min-height: 90px;
	background-color: #eee;
}

#gameadbottom {
	width: 100%;
	text-align: center;
}


#gamerating {
	width: 100%;
	height:75px;
	border: 1px solid #eee;
	text-align:center;
	margin: 10px 0px 10px 0px;
}

#gamerating #gameratingpoints{
	font-size: 2em; margin: 5px 0px 0px 0px;
	margin-top:5px;
}

#gamerating #gameratingusers{
	display: none;
}

#gamewarningtext {
	display: none;
}

#vk_comments,
#vk_comments iframe {
    width: 100% !important;
    margin-bottom: 35px;
}

#sidesection2 {
	width: 100%
	max-height: 280px;
}

.pagesfeedul {
	margin: 0 0;
	padding: 0 0;
}

.pagesfeedul li{
	display: inline-block;
	border: 1px solid #eee;
	padding: 5px 5px 5px 5px;
	width: 20%;
	vertical-align: top;
	margin-bottom: 5px;
	text-align: center;
	line-height: normal;
}

.pagesfeedul li img{
	border: 1px solid #ee2e24;
	width: 100%;
}

.pagesfeedul .pagenewcontainer{
	 position: relative;
	 top: 0;
	 left: 0;
}

.pagesfeedul .pagenewlabel{
	background:url(/images/newicon.png) no-repeat;
	width: 50px;
	height: 45px;
	position: relative;
	top: 0;
	left: 0;
	margin-top:-49px;
	margin-left:29%;
}

#indexgirls .pagesfeedul li{
	width: 70px;
}

#indexgirls .pagesfeedul li img{
	width: 70px;
}

#indexboys .pagesfeedul li{
	width: 70px;
}

#indexboys .pagesfeedul li img{
	width: 70px;
}

.top20li
{
border-bottom:1px dashed #eee;
padding-bottom: 10px;
margin-bottom:20px;
font-size:20px;
color: #555;
}

.listplaylistsindex {
	width:31%;
	display: inline-block;
	padding-right:5px;
	text-align:center;
	margin-bottom:15px;
	vertical-align: top;
}

.listplaylistsindex img{
	width:100%;
}

#sidesection3 {
	margin-bottom: 15px;
}

#sidesection3 p {
	margin: 15px 0px 0px 0px;
	color:#ee2e24;
	font-size:18px;
}

#sidesection3 p a{
	text-decoration:underline;
}

#sidesection3 p a:hover{
	text-decoration:none;
}


#sidesection3 .sidegamelist img {
	border: 1px solid #eee;
	width: 41px;
	height: 55px;
}
	
.sideallgameslink {
	font-size:15px;
	display: block;
	width: 100%;
	border:1px solid #eee;
	text-align: center;
	padding-top:7px;
	padding-bottom:7px;
}
	
#sidesection4 {
	margin-bottom: 5px;
	text-align: center;
	width: 50%;
	float: left;
}
	
#sidesection4 p {
	margin: 15px 0px 0px 0px;
	color:#ee2e24;
	font-size:18px;
	}
	
#sidesection4 a img {
	border: 1px solid #eee;
	margin-top: 0px;
	}
	
#sidesection4 a img:hover {
	border: 1px solid #ee2e24;
	}
	
#sidesection5 {
	margin-bottom: 0px;
	text-align: center;
	}
	
#sidesection5 p {
	margin: 15px 0px 0px 0px;
	color:#ee2e24;
	font-size:18px;
	}
#sidesection7 {
	margin-top: -10px;
	margin-bottom: 20px;
	text-align: center;
	}
#sidesection6 {	
	width: 50%;
	float: left;
	}

#sidesection6 p {
	margin: 15px 0px 0px 0px;
	color:#ee2e24;
	font-size:18px;
	padding-right:0px;
	}
		
#kro a:hover{
	text-decoration: underline;
	}
	
.charlist {
	display: inline-block;
	width: 30%;
	padding: 1%;
	vertical-align: top;
	text-align: center;
	}

.charlist li {
	display: inline-block;
	width: 100%;
	text-align: top;
	}
	
.charlist img{
	width: 100%;
	height: 100%;
	}
	
.sidegamesadv {
	width: 300px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	}

#sidegamesadvdiv {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	}

.gameratecontrl {
	margin-bottom:10px;
	margin-top:12px;
	width: 100%;
}

.gameratecontrl .container{
	 border: #eee 1px solid;
	 width: 48%;
	 float: left;
	 height:120px;
	 margin-left: 1%;
	 text-align: center;
}

.bestherohero {
	border:1px #eee solid;
	width:150px;
	margin: 0 auto;
}
	
.bestherohero img{
	width:150px;
}

.redvote {
 	padding: 10px 0;
}

.bestherogameimg {
	width: 31%;
	border: none;
}

.gamenewcontainer {
	position: relative;
	top: 0;
	left: 0;
}

.gamenewlabel{
	background:url(/images/newiconred70.png) no-repeat;
	width: 70px;
	height: 70px;
	position: relative;
	top: 0;
	left: 5px;
	margin-top:-80px;
}	

.socongame {
	margin-top: 0px; 
}

.sidebest a:hover{
	text-decoration: underline;
}

#addlistplaylists {
	list-style: none;
	margin: 15px 0px;
	padding: 0;
}

#addlistplaylists li{
	display: inline-block;
	width: 46%;
	margin-right:0.7%;
	vertical-align: top;
	text-align: center;
	border:1px solid #eee;
	padding: 1%;
	margin-bottom: 10px;
}

#addlistplaylists li img{
	width: 100%;
}

.addnews1 {
	float: left;
	width: 49%;
	font-size: 1.5em;
	margin-bottom:10px;
}

.addnews1 a:hover{
	text-decoration: underline;
}

.addnews2 {
	float:right;
	width: 49%;
	font-size: 1.5em;
	text-align: right;
	margin-bottom:10px;
}

.addnews2 a:hover{
	text-decoration: underline;
}

#multpager {
	margin-top: 50px;
	padding-bottom: 30px;
	text-align: center;
}

#multpager .yiiPager li {
	padding: 0px 3px;
	display: inline-block;
	margin-bottom: 50px;
}

#multpager .yiiPager li a{
	font-size: 30px;
	padding: 10px 8px;
	border: 1px solid #ee2e24;
	color: #ee2e24;
}

#multpager .yiiPager li a:hover{
	border: 1px solid #1bb2e4;
	color: #1bb2e4;
	background-color: #fff;
}

ul.yiiPager .selected a {
  background: #ee2e24;
  color: #fff;
  font-weight: bold;
}

#multpager .yiiPager .selected a{
	color: #fff;
}

#multpager .yiiPager .hidden a {
  border: solid 1px #aaa;
  color: #aaa;
}

#multpager .yiiPager .hidden a:hover {
  border: solid 1px #aaa;
  color: #aaa;
}

#multpager .yiiPager .first, #multpager .yiiPager .last {
	display: none;
}  

.novilistad {
	width: 100%;
	text-align: center;
}

.novinkilistad {
	width: 336px;
	height: 280px;
	margin-left: auto;
	margin-right: auto;
}

#reactorlist {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#reactorlist li{
	margin: 0px;
	padding: 0px;
}

#reactorlist li h2{
	margin-top: 25px;
}

#reactorlist li h2 a:hover{
	text-decoration: underline;
}

.reactorimg {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.reactorimg img{
	width: 100%;
}

#reactorlist li ul {
	margin: 0px;
	padding: 0px;
	margin-top: -10px;
}

#reactorlist li ul li{
	display: inline-block;
	vertical-align: top;
}

.reactorinfo {
	float: left;
}

.r1 {
	width: 75%;
}

.r2 {
	width: 1%;
	display: none;
	text-align: center;
}

.r3 {
	width: 22%;
	text-align: right;
}

.viewreactorlist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.viewreactorlist li{
	display: inline-block;
	vertical-align: top;
}

.r4 {
	width: 49%;
}

.r5 {
	width: 1%;
	display: none;
	text-align: center;
}

.r6 {
	width: 48%;
	text-align: right;
}

a.firefox-download-link {
    width: 297px;
    background-color: #73a729;
    background-image: linear-gradient(to bottom, #81bb2e, #649323);
    border-radius: 6px;
    box-shadow: inset 0 -2px 0 #416114, 0 1px 3px rgba(0, 0, 0, .3);
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 12px 0px 6px 0px;
    font-size: 197%;
    text-decoration: none;
}

.firefox-download-icon {
    background: transparent url('/images/ff-logo.png') no-repeat 0 0;
    display: inline-block;
    height: 37px;
    margin-right: 10px;
    vertical-align: middle;
    width: 37px;
    position: relative;
    bottom: 2px;
}

.addgamesbuttom {
	bottom: 7px;
	text-transform: uppercase;
	font-weight: 700;
	border:1px solid #07b610;
	color: #07b610;
	width: 50%;
	font-size: 12px;
	padding: 6px 8px 6px 8px;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 3px;
	}
	
.addgamesbuttom:hover {
	background-color:#07b610;
	color: #fff;
	}

.contcontleft {
	display: none;
}

#searchgamelist{
	width: 100%;
	background: url("/images/searchbg.jpg") center top #fff;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	margin-top:20px;
	font-family: 'Roboto Light', sans-serif;
	font-size: 26px;
	line-height: normal;
}

#searchgamelist .ya-site-form__input-text{
	height: 30px;
}

.ya-site-suggest-list {
	background: #fff;
}

.newsindexlist{
	list-style: none;
	padding: 0;
	margin: 0;
}

.newsindexlist li{
	display: inline-block;
	width: 98%;
	margin-right: 2%;
	vertical-align: top;
}




#sectiongame3 {
	display: none;
}

#sectiongamecode {
	margin-top: 25px;
}
	
#sectiongame5 {
	display: none;
}

#sectiongam7 {
	display: none;
}





#wikiitemsection1 {
	width: 100%;
}

#wikiitemsection1 .imgdiv{
	border: 1px solid #eee;
	text-align: center;
}

#wikiitemsection1 img{
	 width: 92%;
	 margin: 4% auto 3.5% auto ;
	 border: 1px solid #eee;
	 max-width: 270px;
}

#wikiitemsection1 .textdiv{
	margin: 10px 0 5px 0;
	border: 1px solid #eee;
}

#wikiitemsection1 .briefh1 {
	background-color: #ffbdbd;
	text-align: center;
	font-size: 18px;
	margin: 0 0 10px 0;
	padding: 3% 0; 
}

#wikiitemsection1 .briefh2 {
	text-align: left;
	width: 41%;
	float: left;
	margin-left: 2%;
	font-weight: 600;
}

#wikiitemsection1 .brieftext {
	text-align: left;
	width: 53%;
	float: left;
	margin: 0 1%;
}

#wikiitemsection1 .briefseparator {
	clear:both;
	margin-bottom: 10px;
}

#wikiitemsection2 .listitle{
	font-size: 22px;
	margin-bottom: 5px;
}

#wikiitemsection2 ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 13px;
}

#wikiitemsection2 ul li ul{
	margin-left: 25px;
}

#wikiitemsection3 {
	margin-top: 20px;
	font-size: 15px;
}

#wikiitemsection3 h3{
	margin-left: 20px;
	margin-bottom: 5px;
}

#wikiitemsection3 p{
	text-align: justify;
}

#wikiitemsection4 ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#wikiitemsection4 ul li{
	margin: 0;
	padding: 1.6%;
	display: inline-block;
	width: 29%;
	vertical-align: top;
	text-align: center;
	margin-bottom: 10px;
	font-size: 18px;
	border: 1px solid #eee;
}


#wikiitemsection4 ul li:hover{
	border: 1px solid red;
}

#wikiitemsection4 ul li img{
	width: 99%;
	margin-bottom: 4%;
	border: 1px solid #eee;
}

#wikiitemsection4 .lastli{
	padding-top: 58px;
	text-align: center;
	font-size: 19px;
	border: 1px solid #eee;
	line-height: normal;
	min-height: 108px;
}

#wikiitemsection4 .lastli:hover{
	border: 1px solid red;
}

#wikiitemsection4 .lastli a{
	text-decoration: underline;
}

#wikiitemsection4 .lastli:hover a{
	text-decoration: none;
}


#wikiitemsection5 ul{
	margin: 0;
	padding: 0;
	list-style: 0;
}

#wikiitemsection5 ul li{
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 49%;
	margin-right: 0.5%;
}

#wikiitemsection5 ul li img{
	width: 100%;
}

#wikiitemsection3 .centerimgintext img{
	width:100%;
}

.centerimgcaption {
	font-size: 15px;
	color: #868b8e;
	font-weight: 100;
	text-align: center !important;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	margin-top: -10px;
	margin-bottom: 20px;
}

.wikigamewrap {
	position: relative;
	text-align: center;
}

.wikigamewrap .wikiplaybut {
  display: none;
  position: absolute;
  top: 11%;
  left: 0%;
  right: 0%;

}

.wikigamewrap:hover .wikiplaybut {
  display: block;
}

#wikiitesmlist {
	margin: 0;
	padding: 0;
}

#wikiitesmlist li{
	display: inline-block;
	width: 49%;
}

#wikiitesmlist li .wikiitemcontainer{
	position: relative;
	text-align: center;
	border: 1px solid #fff;
	margin: 0;
}

#wikiitesmlist li .wikiitemcontainer .wikiitemname{
	display: block;
	position: absolute;
	bottom: 5px;
	left: 0%;
	right: 0%;
	color: #fff;
	font-size: 21px;
	background: rgba(255, 0, 0, 0.7);
	padding-bottom: 13px;
	padding-top: 13px;
}

#wikiitesmlist li .wikiitemcontainer:hover .wikiitemname{
	background: rgba(255, 0, 0, 1);
}

.wikiitemcontainer img {
	border: none;
}

.top20ol li a img {
	border: none;
}

.listplaylists {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

.listplaylists li{
	width: 49%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-bottom: 15px;
}

.listplaylists li img{
	width: 100%;
	margin-bottom: 5px;
}

#ok_shareWidget {
	margin: 0 20px 0 -15px;	
}

.fb-like {
	margin-right: 20px;
}

#comtitle {
	font-size:20px;
	margin-top:15px;
	margin-bottom:10px;
}

#sidesection7 p {
	color: #ee2e24;
}

#fckadb {
	text-align: center;
	background: #ffcfcf;
	color: #e40000;
	font-size: 16px;
	padding: 7px;
	margin-bottom: 10px;
}

#videolist {
	margin: 0;
	padding: 0;
	list-style: none;
}

#videolist li{
	display: inline-block;
	width: 32%;
	vertical-align: top;
	margin-right: 1%;
	margin-bottom: 15px;
	
}

#videolist li a{
	font-size: 14px;
	font-weight: 600;
	line-height: normal;
}

#videolist li a:hover{
	text-decoration: underline;
}

#videolist li img{
	width: 100%;
}

.videocounter {
	color: #888;
	font-size: 16px;
	margin-bottom: 5px;
}

#videolist  .firstvideo {
	width: 100%;
}

#videolist  .firstvideo a {
	font-size: 24px;
}

.firstvideo .videocounter {
	font-size: 14px;
	margin: 5px 0px;
}

#pokemontopmenu {
	padding: 0;
	margin: 30px 0px -10px 0px;
	text-align: center;
}

#pokemontopmenu li{
	display: inline-block;
	margin-bottom: 25px;
}

#pokemontopmenu li a{
	font-size: 18px;
	margin-right: 20px;
	border: 1px solid red;
	padding: 8px 15px;
}

#pokemontopmenu li a:hover{
	text-decoration: underline;
}

#pokemonindexlist {
	margin: 0;
	padding: 0;
	margin-top: 30px;
}

#pokemonindexlist li {
	display: inline-block;
	list-style: none;
	width: 23%;
	padding: 0;
	margin-right: 1%;
	margin-bottom: 30px;
	vertical-align: top;
	text-align: center;
	font-size: 20px;
	line-height: normal;
}

#pokemonindexlist li img{
	width: 100%;
	margin-bottom: 8px;
}

.sprite_spi0n {
    background-image: url('/images/sprite_retina.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 346px 269px;
}

.sprite_spi0n_ico-play_60 {
    width: 60px;
    height: 60px;
    background-position: -248px -49px;
}

.sprite_spi0n_ico-play_154{
	width:154px;
	height:154px;
	background-position:0 -111px;
}

.videolist {
	position: relative;
	text-align: left;
	margin: 0px;
	padding: 0px;
	width: 44.5%;
	padding: 2.5% 2.5% 0.1% 2.5%;
	list-style: none;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
}

.videolist a{
	margin: 0px;
	padding: 0px;
}

.videolist a img{
	width:100%;
	margin: 0px;
	padding: 0px;
}


.videolist .tooltip-glow {
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  padding: .5em;
  text-align: right;
  background: #000;
  opacity: 0.1;
  filter: alpha(opacity=20);
  margin: 0px;
  padding: 0px;
}

.videolist:hover .tooltip-glow {
  display: block;
  	margin: 0px;
	padding: 0px;
}

.videolist .tooltip-play {
  display:none;
  	margin: 0px;
	padding: 0px;
}

.videolist:hover .tooltip-play {
  display: block;
  position: absolute;
  top: 25%;
  left: 40%;
  text-align: center;
}

.videolist .tooltip-stars {
  display:none;
  	margin: 0px;
	padding: 0px;
}

.videolist:hover .tooltip-stars {
  display: block;
  position: absolute;
  top: 40%;
  left: 47%;
  text-align: center;
}


@media (min-width: 450px) {	
	.gamelist li{
	width: 30%;
	}

	.gamelist li img{
	width: 100%;
	}
	
	.pagesfeedul li{
	display: inline-block;
	border: 1px solid #eee;
	padding: 5px 5px 5px 5px;
	width: 85px;
	vertical-align: top;
	margin-bottom: 5px;
	text-align: center;
	line-height: normal;
	}

	.pagesfeedul li img{
	border: 1px solid #ee2e24;
	width: 85px;
	}
	
	.pagesfeedul .pagenewlabel{
	margin-left:36px;
	}
	
	.bestherohero {
	width:200px;
	}
	
	.bestherohero img{
	width:200px;
	}
	
	.gamenewlabel{
	background:url(/images/newiconred55.png) no-repeat;
	width: 55px;
	height: 55px;
	margin-top:-65px;
	}
	
	#addlistplaylists li{
	width: 21%;
	}
	
	.gamebottomadv {
	width: 336px;
	height: 280px;
	margin: 0 auto;
	}
	
	#wikiitemsection5 ul li{
	width: 32%;
	}
	
	.listplaylists li{
	width: 31%;
	margin-right: 1%
	}	
}
	
@media (min-width: 600px) {
	h1 {
	font-size: 29px;
	margin-top:15px;
	margin-bottom:5px;
	}
	
	.container {
	margin: auto;
	width: 100%;
	}
	
	#contentcontainer {
	float: left;
	width: 73%;
	margin: 0 0;
	}
	
	#sidebar {
	float: right;
	width: 26%;
	min-width: 160px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #333;
	}
	
	.contentcontainer {
	float: left;
	width: 73%;
	margin: 0 0;
	}
	
	.sidebar {
	float: right;
	width: 26%;
	min-width: 160px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #333;
	}
		
	.gamelist li{
	display: inline-block;
	width: 30%;
	min-width: 130px;
	padding: 5px 5px 5px 5px;
	vertical-align: top;
	margin-bottom:10px;
	border: 1px solid #eee;
	}

	.gamelist li img{
	width: 100%;
	}
	
	#gamerating #gameratingusers{
	display: block;
	}
	
	#gamerating {
	height:110px;
	}
	
	#gamerating #gameratingpoints{
	margin-top:12px;
	}

	#gamewarningtext {
	display: block;
	}
	
	#languages {
	display: block;
	padding-right: 40px;
	}

	#languages .la {
	float: right;
	margin-right: 10px;
	}
	
	#languages .la img{
	border: none;
	}
	
	#header .container ul{
	background: none;
	list-style: none;
	margin-top: 9px;
	margin-left:-30px;
	}

	#header .container ul li a{
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 12px 2px 12px;
	}

	#header .container ul li a:hover{
	display: block;
	background-color: #ee2e24;
	color: #fff;
	text-decoration: underline;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 12px 2px 12px;
	border: 1px solid #ee2e24;
	}
	
	#footer img{
	border-radius: 35px;
	float:right;
	margin-top:25px;
	margin-right:150px;
	display: block;
	}
	
	#sidesection1 {
	margin-top:22px;
	}
	
	#sidesection2 {
	width: 100%
	max-height: 600px;
	margin-top:10px;
	}

	.charlist {
	display: inline-block;
	width: 30%;
	padding: 1%;
	vertical-align: top;
	text-align: center;
	}

	.charlist li {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 1%;
	text-align: top;
	}
	
	#sidesection4 {
	text-align: left;
	float: none;
	width: 100%;
	}
	
	#sidesection5 {
	text-align: left;
	}
	
	#sidesection6 {
	float: none;
	width: 100%;
	margin-bottom: 20px;
	}	
	
	#sidesection7 {
	text-align: left;
	}
	
	.socongame {
	margin-top: 120px; 
	}
	
	.sidegamesadv {
	width: 160px;
	height: 600px;
	max-width: 160px;
	}

	#sidegamesadvdiv {
	text-align: left;
	width: 160px;
	height: 600px;
	margin-left: 0px;
	}
	
	.reactorimg img{
	width: auto;
	max-width: 100%;
	}
	
	#wikiitemsection1 {
	width: 50%;
	float: right;
	margin-left: 2%;
	}	
	
	#uptotop{
	position:fixed;
	bottom:40px;
	right:40px;
	z-index:2000;
	}
}	
	
@media (min-width: 760px) {
			
	#contentcontainer {
	width: 76%;
	}
	
	#sidebar {
	width: 23%;
	min-width: 160px;
	}
	
	.contentcontainer {
	width: 76%;
	}
	
	.sidebar {
	width: 23%;
	min-width: 160px;
	}
	
	#indexboys	{
	width: 50%;
	float:left;
	}

	#indexgirls {
	width: 50%;
	float:right;
	}
	
	.gamelist li{
	display: inline-block;
	width: 22%;
	min-width: 130px;
	padding: 5px 5px 5px 5px;
	vertical-align: top;
	margin-bottom:10px;
	border: 1px solid #eee;
	}

	.gamelist li img{
	width: 100%;
	}
	
	#gamerating #gameratingusers{
	display: block;
	}
	
	#gamerating {
	height:110px;
	}
	
	#gamerating #gameratingpoints{
	margin-top:12px;
	}

	#gamewarningtext {
	display: block;
	}
	
	#header .container ul li a{
	display: block;
	background-color: #fff;
	color: #ee2e24;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 14px 2px 14px;
	border: 1px solid #ee2e24;
	}

	#header .container ul li a:hover{
	display: block;
	background-color: #ee2e24;
	color: #fff;
	text-decoration: underline;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 14px 2px 14px;
	border: 1px solid #ee2e24;
	}
		
	#sidesection1 {
	margin-top:22px;
	}
	
	#sidesection2 {
	width: 100%
	max-height: 600px;
	margin-top:10px;
	}
	
	.charlist {
	display: inline-block;
	width: 22%;
	padding: 1%;
	vertical-align: top;
	text-align: center;
	}
	
	.centerimgintext img{
	width:inherit;
	}
	
	#wikiitemsection3 .centerimgintext img{
	width:inherit;
	}
	
	.centerimgintext {
	text-align: center;
	}
	
	#wikiitemsection3 .centerimgintext {
	text-align: center;
	}
	
	.centervideointext {
	display: block;
	text-align: center;
	}
	
		.he1 {
	margin-right:20px;
	}
	
	.he2 {
	margin-left:20px;
	}
	
	.gamenewlabel{
	background:url(/images/newiconred70.png) no-repeat;
	width: 70px;
	height: 70px;
	margin-top:-80px;
	}
	
	.listplaylistsindex {
	width:23%;
	}
	
	.r1 {
	width: 45%;
	}

	.r2 {
	width: 30%;
	display: block;
	}

	.r3 {
	width: 23%;
	}
	
	.r4 {
	width: 33%;
	}

	.r5 {
	width: 33%;
	display: block;
	}

	.r6 {
	width: 33%;
	}
	
	.sidealladv160 {
	width: 160px;	
	}

	.newsindexlist li{
	width: 47%;
	}
	
	#wikiitemsection1 {
	width: 40%;
	}
	
	#wikiitemsection5 ul li{
	width: 24%;
	}
	
	#wikiitemsection4 ul li{
	width: 21%;
	}
	
	#wikiitemsection4 .lastli{
	font-size: 26px;
	}
	
	#wikiitesmlist li{
	display: inline-block;
	width: 32%;
	}
	
}	
	
	
@media (min-width: 900px) {
		
	.container {
	max-width: 900px;
	}
	
	#contentcontainer {
	width: 730px;
	}
	
	#sidebar {
	width: 160px;
	}
	
	.contentcontainer {
	width: 730px;
	}
	
	.sidebar {
	width: 160px;
	}

	.gamelist li{
	display: inline-block;
	width: 165px;
	padding: 5px 5px 5px 5px;
	vertical-align: top;
	margin-bottom:10px;
	border: 1px solid #eee;
	}

	.gamelist li img{
	width: 165px;
	}
	
	#gamerating #gameratingusers{
	display: block;
	}
	
	#gamerating {
	height:110px;
	}
	
	#gamerating #gameratingpoints{
	margin-top:12px;
	}

	#gamewarningtext {
	display: block;
	}
	
	#header .container ul li a{
	display: block;
	background-color: #fff;
	color: #ee2e24;
	font-size: 15px;
	font-weight: bold;
	padding: 4px 11px 4px 11px;
	border: 1px solid #ee2e24;
	}

	#header .container ul li a:hover{
	display: block;
	background-color: #ee2e24;
	color: #fff;
	text-decoration: underline;
	font-size: 15px;
	font-weight: bold;
	padding: 4px 13px 4px 13px;
	border: 1px solid #ee2e24;
	}
		
	#sidesection1 {
	margin-top:22px;
	}
	
	#sidesection2 {
	width: 100%
	max-height: 600px;
	margin-top:10px;
	}
	
	#sidesection3 p {
	font-size:16px;
	}
	
	.sidegamesadv {
	width: 300px;
	height: 600px;
	}
	
	.novinkilistad {
	width: 100%;
	min-height: 90px;
	}
	
	.bestherogameimg {
	width: 98px;
	}
	
	.listplaylists li{
	width: 23%;
	margin-right: 1%
	}
}

@media (min-width: 1040px) {

	.container {
	max-width: 1040px;;
	}
	
	#contentcontainer {
	width: 730px;
	}
	
	#sidebar {
	width: 300px;
	}
	
	.contentcontainer {
	width: 730px;
	}
	
	.sidebar {
	width: 300px;
	}
	
	#languages {
	text-align:right;
	padding-right: 20px;
	}
	
	#languages .la {
	float: none;
	margin-right: 0px;
	}
	
	#gamerating #gameratingusers{
	display: block;
	}
	
	#gamerating {
	height:110px;
	}
	
	#gamerating #gameratingpoints{
	margin-top:12px;
	}

	#gamewarningtext {
	display: block;
	}
	
	#languages {
	padding-right: 80px;
	}
	
	#header .container ul li a{
	display: block;
	background-color: #fff;
	color: #ee2e24;
	font-size: 15px;
	font-weight: bold;
	padding: 4px 10px 4px 10px;
	border: 1px solid #ee2e24;
	}

	#header .container ul li a:hover{
	display: block;
	background-color: #ee2e24;
	color: #fff;
	text-decoration: underline;
	font-size: 15px;
	font-weight: bold;
	padding: 4px 10px 4px 10px;
	border: 1px solid #ee2e24;
	}
	
	#sidesection1 {
	margin-top:22px;
	}
	
	#sidesection2 {
	width: 100%
	max-height: 600px;
	margin-top:10px;
	}
	
	#sidesection3 p {
	font-size:18px;
	}
	
	#sidesection4 {
	margin-bottom: 15px;
	text-align: center;
	width: 50%;
	float: left;
	}
	
	#sidesection4 img{
	width: 140px;
	height: 600px;
	}
	
	#sidesection6 {
	width: 50%;
	float: left;
	}
	
	.sidegamesadv {
	width: 300px;
	height: 600px;
	max-width: 300px;
	}
	
	#sidegamesadvdiv {
	text-align: left;
	width: 300px;
	height: 600px;
	}
}



@media screen and (max-width: 500px) {
	#socialbuttons .nodisplay {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
    }
    #socialbuttons {
	margin-left:-30px;
    }
}
