div#body *{
    font-family: 'lato' !important;
    font-weight: 300 !important;
}

div.dotted-pattern {
    background: transparent url('../../images/2016wishes/pattern-point-bleu.png') repeat 0 0;
}

@media screen and (max-width: 971px) {
    div.domainsCheck .wrapper,
    div.events .wrapper,
    div.productsMap .wrapper,
    div.news .wrapper,
    section.partners div.wrapper
    .partners-tech div.wrapper {
        width: 100%;
    }
    .showTablets{ display: block; }
    #slidePhones {
        max-width: 1230px;
        height: 232px;
        margin: auto;
        display: block;
        position: relative;
    }
    #slidePhones a {
        height: 232px;
    }
}

@media screen and (min-width: 971px) and (max-width: 1800px){
    div.domainsCheck .wrapper,
    div.events .wrapper,
    div.productsMap .wrapper,
    div.news .wrapper,
    div.why-us .wrapper,
    section.partners div.wrapper,
    .partners-tech div.wrapper {
        width: 970px;
    }
    .showTablets { display: none; }
}

@media screen and (min-width: 1800px) {
    div.domainsCheck .wrapper {
        width: 1050px;
    }

    div.productsMap .wrapper,
    div.news .wrapper,
    div.why-us .wrapper,
    .partners-tech div.wrapper {
        width: 85%;
    }

    footer div.wrapper, .header_wrapper, #menu , #navigation > ul > li > ul {
     max-width: 1250px !important;
     width: 100% !important;
    }

    div.wrapper {
        max-width: 85%;
        width: 85%;
    }

    div.slider div.wrapper {
        width: 1100px;
    }

    .showTablets{ display: none; }
}

a.renew,
a.buy {
    display: block;
    width: ;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
    padding: 0;
    float: left;
    margin: 0 0 0 15px;
    background: #59AA99;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid #59AA99;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

a.renew:hover,
a.buy:hover { 
    background: #79BEB0; 
    -webkit-box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px -1px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px -1px 3px 0px rgba(0, 0, 0, 0.5);
}

a.renew.web,
a.buy.web {
    float: none;
    text-align: center;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

a.renew.web:hover,
a.buy.web:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.closer{
    display: block;
    width: 12px;
    height: 12px;
    background: url('/images/index2015/cross.png') top center no-repeat;
    margin: 4px;
}

.closer:hover {
    background: url('/images/index2015/cross.png') bottom center no-repeat;
}

    


/* For all */

del { background: none;}

div.news {
    background-color: #fff;
}


div.eventsBlock div.bordered,
div.newsBlock div.bordered{
    border: 1px solid #ababab;
    border-radius: 4px;
}

/*div.newsBlock a,*/
div.newsBlock h4 a:hover,
div.eventsBlock a,
div.eventsBlock h4 a:hover,
div.communityBlock a,
div.communityBlock h4 a:hover{
    text-decoration:none;
    font-size: 28px;
    color: #0681CE;
}

div.newsBlock .nmSection3 a{
    font-size: 13px;
}


div.productsMap h1,
div.productsMap h1 a,
div.newsBlock h4,
div.eventsBlock h4,
div.communityBlock h4 {
    color: #454545;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 10px;
    text-decoration: none;
}
div.productsMap h1{
    color:#ddd;
}

div.PlusRight {
    background: transparent url('../../images/index2015/plus.png') bottom right no-repeat;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 2%;
    bottom: 3%;
}

@media screen and (max-width: 680px) {
    div.shadowPad {
        display: block;
        width: 100%;
        height: 100%;
        background: transparent url('') bottom left repeat-x;
        background-position: 0px -80px;
    }
}

@media screen and (min-width: 680px) {
    .showTablets{
        display: none !important;
    }

    div.shadowPad {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        display: block;
        width: 100%;
        height: 100%;
        background: transparent url('') bottom left repeat-x;
        background-position: 0px -80px;
    }

    div.shadowPad:hover {
        background-position:120%;
    }

    div.shadowPad a{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background: rgba(0,0,0,0.1);

    }

    div.shadowPad:hover a{
        background: rgba(0,0,0,0);
        opacity:0.9;
    }
}

/* End For all */


/* Slider Part */

.slider{
    width:100%;
    overflow:hidden;
}

@media screen and (max-width: 700px){
    .showTablets{
        display: block !important;
    }

    .BigPad {
        height: 232px;
        position: relative;
    }

    .newsSnippet{
        position: absolute;
        color: #fff;
        padding: 0 20px 10px;
        bottom: 0;
    }

    .newsSnippet span.newsTitle {
        font-size: 19px;
        text-shadow: 1px 1px 2px #000;
    }

    .newsSnippet span.newsDateName {
        font-size: 13px;
    }


    #pubBanner1.showTablets{
        display: block;
    }

div#pubBanner1 {
    background-color: #000;
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575;
}

div#pubBanner1 div.content{
    width:100%;
    height: 330px;
    margin: auto;
    display: block;
    position: relative;
    background: transparent url('../../images/index2015/slider/slider-summit-phone.png') top center no-repeat;
    background-size: ;
}

div#pubBanner1 div a{
    width: 100%;
    height: 100%;
}

/* Text on pubs */
div#pubBanner1 div.ButtonMore {
    float: left;
    width: 60%;
    height: 12%;
    position: absolute;
    right: 20%;
    bottom: 5%;
    text-align: center;
    background-color: #0089D1;
    border-radius: 3px;
}

div#pubBanner1 div.ButtonMore span {
    line-height: 40px;
    font-size: 25px;
    color: #fff;
    font-weight: 400 !important;
}

div#pubBanner1 div.ButtonMore:hover {
    background-color: #089AE7;
    
}


div.LinkToUnivers span,
div.LinkToUnivers span a{
    line-height: 25px;
    color: #fff;
    font-size: 20px;
    font-weight: 200;
}



}


@media screen and (min-width: 700px) and (max-width: 1100px){
    div.slider.hiddenTablets,
    div.newsBlock div.hiddenTablets{
        display: block !important;
    }
    div.newsBlock div.full div.gallery.hiddenTablets{
        display: none !important;
    }
}


@media screen and (max-width: 1100px){
div.slider {
    min-height: 260px;
}

div.slider div.mainContainer {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

div.slider div.mainContainer div.FirstPlan {
    background-position: -110px 0 !important;
}

div.slider div.mainContainer div.infosBlock{
    width: 63%;
    right: 2%;
    top:14%;
}

div.slider div.infosBlock div.title h3{
    font-size: 42px;
}

div.slider div.detailsBlock {
    width: 50%;
    right: 2%;
    height: 10%;
}


}

@media screen and (min-width: 1100px){
div.slider {
    min-height: 320px;
}


div.slider div.mainContainer {
    width: 1100px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

div.slider div.mainContainer div.infosBlock{
    width: 60%;
    right: 8%;
    top: 20%;
}

div.slider div.infosBlock div.title h3{
    font-size: 60px;
}

div.slider div.detailsBlock {
    width: 42%;
    right: 8%;
    height: 9%;
}
    .nmSection3 .BigPad {
        margin: 0 0 0 2% !important;
    }

}

div.slider div.mainContainer div.FirstPlan {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 500 !important;
    width: 100%;
    height: 100%;
}

/* End Slider Part */




/* Domain check */
div.orderButton {
    width: 48%;
    float: left;
}

div.renewButton {
    width: 48%;
    float: right;
}

div.orderButton a, div.renewButton a,
div.orderButton a:hover, div.renewButton a:hover{
    color: #fff;
    text-decoration: none;
    width: 100%;
}

/* End Domain Check */





/* Quadrillage produits */

@media screen and (max-width: 680px){

    div.head h5 {
        font-size: 20px;
        line-height: 18px;
    }

    div.productsMap h1,
    div.productsMap h1 a{
        font-size: 21px;
        text-decoration: none;
        line-height: 24px;
        margin-top: 0;
    }

    div.productsMap div.ColContainer {
        display:none;
    }

    div.productContainer {
        width: 95%;
        height: 190px;
        margin: 0 auto;
        display: block;
        margin-bottom: 15px;
        position: relative;
    }

    div.productContainer:nth-of-type(1n+3){
        display: none;
    }

    a#X2close{
        display: none !important;
    }

    a.open {
        display: none !important;
    }

    div.ColContainer div.productContainer:nth-of-type(1n+3){
        display: none !important;
    }

    div.AddColContainer{
        display: none !important;
    }

    div.productsMap div.LinkToUnivers {
        display: none;
    }
}

@media screen and (min-width: 680px) {
    div.productsMap div.wrapper div.ColContainer {
        display: block !important;
    }
}


@media screen and (min-width: 680px) and (max-width: 1800px){
    div.head h5 {
        text-align: center;
        font-size: 17px;
    }

    div.productContainer {
        width: 100%;
        height: 190px;
        margin: 0 auto;
        display: block;
        margin-bottom: 1px;
        position: relative;
    }

    div.productContainer:nth-of-type(1n+4){
        display: none;
    }

    div.bigger {
        width: 66.66% !important;
    }

    div.bigger div.productContainer{
        width: 49%;
        height: 190px;
        float:left;
        position: relative;
        margin-bottom: 15px;
        display: block !important;
    }

    div.bigger div.productContainer:last-child{
        width: 100%;
    }

    div.bigger div.productContainer:nth-child(even){
        margin-left: 2% !important;
    }

    div.bigger div.ColContainer {
        padding: 0 2%;
    }

    div.bigger div.ColContainer div.productContainer:nth-of-type(1n+6){
        display: none !important;
    }

    div.AddColContainer{
        display: none !important;
    }

    div.productsMap div.wrapper div.m2{
        width: 50% !important;
    }

    div.productsMap div.wrapper div.Half div.productContainer,
    div.productsMap div.wrapper div.Half40 div.productContainer,
    div.productsMap div.wrapper div.Half60 div.productContainer,
    div.productsMap div.wrapper div.m2 div.productContainer{
    }

    div.productsMap div.wrapper div.m2 div.productContainer:nth-of-type(1n+4),
    div.productsMap div.wrapper div.Half div.productContainer:nth-of-type(1n+4),
    div.productsMap div.wrapper div.Half40 div.productContainer:nth-of-type(1n+4),
    div.productsMap div.wrapper div.Half60 div.productContainer:nth-of-type(1n+4){
        display: block !important;
    }

    div.productsMap div.wrapper div.Half div.productContainer:last-child,
    div.productsMap div.wrapper div.Half40 div.productContainer:last-child,
    div.productsMap div.wrapper div.Half60 div.productContainer:last-child,
    div.productsMap div.wrapper div.m2 div.productContainer:last-child{
        width: 100% !important;
    }

    div.productsMap div.wrapper div.Half,
    div.productsMap div.wrapper div.Half40,
    div.productsMap div.wrapper div.Half60{
        width: 49.5% !important;
    }

    div#col4.double div.productContainer,
    div#col4.Half40 div.productContainer{
    }

    div#col4 div.productContainer:nth-of-type(1n+4){
        display: none !important;
    }

    div#col4.double div.productContainer:first-child,
    div#col4.Half40 div.productContainer:first-child{
        width: 100% !important;
    }

    div#col4.double div.productContainer:last-child,
    div#col4.Half40 div.productContainer:last-child{
        width: 100% !important;
    }

    div#col4.double div.productContainer:nth-of-type(1n+4){
        display: block !important;
    }

}

@media screen and (min-width: 700px) and (max-width: 800px){
div.LinkToUnivers span,
div.LinkToUnivers span a{
    font-size: 11px;
}

}

@media screen and (min-width: 800px) and (max-width: 970px){
div.LinkToUnivers span,
div.LinkToUnivers span a{
    font-size: 13px;
}
}

@media screen and (min-width: 1100px) and (max-width: 1800px){
div.LinkToUnivers span,
div.LinkToUnivers span a{
    font-size: 15px;
    font-weight: 200;
}
}

@media screen and (min-width: 1800px){

    div.head{
        min-height: 45px;
        display:block;
        width: 100%;
    }

    div.head h5 {
        text-align: center;
        font-size: 17px;
    }

    div.LinkToUnivers span,
    div.LinkToUnivers span a{
        font-size: 19px;
        font-weight: 200;
    }

    div.productsMap div.wrapper div.simple{
        width: 23% !important;
    }

    div.productsMap div.wrapper div.double{
        width: 30% !important;
    }

    div.productsMap div.wrapper div.triple{
        width: 37.5% !important;
    }

    div.productsMap div.wrapper div.Half{
        width: 49% !important;
    }

    

    div.productsMap div.wrapper div.Half40{
        width: 40% !important;
        padding: 0;
    }

    div.productsMap div.wrapper div.Half60{
        width: 58% !important;
        padding: 0px;
    }

    div.productsMap div.wrapper div.Half20{
        width: 20% !important;
        padding: 0px;
    }

    div.Half div.AddColContainer div.productContainer,
    div.Half60 div.AddColContainer div.productContainer{
        width: 100% !important;
    }

    div.productsMap div.wrapper div.column.half40.wider,
    div.productsMap div.wrapper div.column.half60.wider {
        width: 80% !important;
        margin-left: 10%;
    }

    div.ColContainer {
        width: 100%;
        margin: 0 auto;
    }

    div.half40 div.productContainer:nth-child(even){
    }


    div.productContainer:nth-child(even) {
    }

    div.productsMap div.wrapper div.nmSection4 {
        width: 24%;
        padding: 0px 1px;
        margin: 0px 4px;
    }
    
    div.productsMap div.wrapper div#col4 {
        width: 25%;
    }

    div#col1 div.productContainer,
    div#col2 div.productContainer,
    div#col3 div.productContainer{
        width: 50%;
        height: 190px;
        float:left;
        position: relative;
        margin-bottom: 1px;
    }
    



    div#col4.double div.ColContainer {
        width: 100%;
        float:left;
    }

    div.Half div.ColContainer,
    div.Half60 div.ColContainer,
    div.triple div.ColContainer {
        width: 63%;
        float:left;
    }

    div.double div.AddColContainer {
        width: 50%;
        float:left;
    }

    div.Half div.AddColContainer,
    div.Half60 div.AddColContainer,
    div.triple div.AddColContainer {
        width: 37%;
        float:left;
    }

    div.double div.AddColContainer div.productContainer {
        width: 100% !important;
        height: 190px;
        margin: 0 auto;
        display: block;
        margin-bottom: 15px;
        position: relative;
    }

    div.triple div.AddColContainer div.productContainer {
        width: 100% !important;
        height: 190px;
        margin: 0 auto;
        display: block;
        margin-bottom: 15px;
        position: relative;
    }

    div.half40 div.productContainer {
        width: 49% !important;
        display: block !important;
        height: 190px;
        float:left;
        position: relative;
        margin-bottom: 15px;
    }

    
    div#col1 div.productContainer:last-child,
    div#col2 div.productContainer:last-child,
    div#col3 div.productContainer:last-child,
    div.half40 div.productContainer:last-child{
        width: 100% !important;
    }

    div#col4 div.productContainer{
        width: 100%;
        height: 190px;
        margin: 0 auto 1px auto;
        position: relative;
    }

    div#col4 div.productContainer:nth-of-type(1n+4){
        display: block !important;
    }

    div#col4.double div.productContainer:nth-of-type(1n+4){
        display: block !important;
    }


    div#col1 div.productContainer:last-child,
    div#col2 div.productContainer:last-child,
    div#col3 div.productContainer:last-child,
    div#col4 div.productContainer:last-child{
        height: 190px;
        margin: 0 auto 0px auto !important;
        position: relative;
    }

    div#col4 div.productContainer{
    }

    div#col4 div.productContainer:first-child{
        width: 100% !important;
    }

    div#col4 div.productContainer:last-child{
        width: 100% !important;
    }


/*    div#col1.triple div.productContainer:nth-of-type(1n+3),
    div#col1.Half div.productContainer:nth-of-type(1n+3),
    div#col1.Half40 div.productContainer:nth-of-type(1n+3),
    div#col1.Half60 div.productContainer:nth-of-type(1n+3){
        width: 100%;
    }

    div#col1.triple div.productContainer:nth-of-type(1n+5),
    div#col1.Half div.productContainer:nth-of-type(1n+5),
    div#col1.Half40 div.productContainer:nth-of-type(1n+5),
    div#col1.Half60 div.productContainer:nth-of-type(1n+5){
        display: none !important;
    }
*/
}

@media screen and (min-width: 700px){
    a.open {
        text-align: center;
        position: relative;
        clear: both;
        line-height: 50px;
        color: #ddd;
        font-size: 17px;
    }

    div.LinkToUnivers span,
    div.LinkToUnivers span a{
        line-height: 40px;
        color: #fff;
    }
}



div.productsMap{
    position: relative;
    display:block;
    padding: 30px 0;
    background: #4c4c4c;
}

div.productsMap div.LastToCenter{
    margin: 0 auto;
    float: none;
}


div.head {
    position: relative;
    display: table;
    height: 45px;
    width: 100%;
}

div.head h5{
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-weight: 200;
    line-height: 17px;
}

div.head a#X2close {
    position: absolute;
    top: 2%;
    right: 1%;
    font-weight: bold;
    font-size: 16px;
    color: #363636;
    text-decoration: none;
}

div.LinkToUnivers {
    width: 100%;
    text-align: center;
    clear: left;
}

div.productsBlock {
    width: 1050px;
    margin: 0 auto;
    display: block;
}


div.productContainer a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}


div.productContainer div.productSnippet {
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0 5px 8px 10px;
}

div.productContainer div.productSnippet span.title {
    font-size: 15px;
    line-height: 16px;
    padding: 10px 2px 5px 0;
    display: block;
}

div.productContainer div.productSnippet div.productDetails {
    display:none;
}


div.productIcon{
    width: 100%;
    height: 20%;
    bottom: 0;
    position: absolute;
    display: block;
    background: rgba(0,0,0,0.8);
}

div.wrapper.MVtesting div.productContainer a:hover div.productIcon,
div.productContainer a:hover div.productIcon {
    height: 100% !important;
    box-shadow: inset 0px 0px 4px #434343;
}

div.productContainer a div.shadowPad {
    background: none;
}

div.productContainer a:hover div.shadowPad {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(237,237,237,0.05) 0%, rgba(116,116,116,0.05) 0%, rgba(106,106,106,0.05) 8%, rgba(0,0,0,0.34) 93%, rgba(0,0,0,0.36) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.05)), color-stop(0%, rgba(237,237,237,0.05)), color-stop(0%, rgba(116,116,116,0.05)), color-stop(8%, rgba(106,106,106,0.05)), color-stop(93%, rgba(0,0,0,0.34)), color-stop(100%, rgba(0,0,0,0.36)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(237,237,237,0.05) 0%, rgba(116,116,116,0.05) 0%, rgba(106,106,106,0.05) 8%, rgba(0,0,0,0.34) 93%, rgba(0,0,0,0.36) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(237,237,237,0.05) 0%, rgba(116,116,116,0.05) 0%, rgba(106,106,106,0.05) 8%, rgba(0,0,0,0.34) 93%, rgba(0,0,0,0.36) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(237,237,237,0.05) 0%, rgba(116,116,116,0.05) 0%, rgba(106,106,106,0.05) 8%, rgba(0,0,0,0.34) 93%, rgba(0,0,0,0.36) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(237,237,237,0.05) 0%, rgba(116,116,116,0.05) 0%, rgba(106,106,106,0.05) 8%, rgba(0,0,0,0.34) 93%, rgba(0,0,0,0.36) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

}

div.productContainer a:hover div.productSnippet span.title {
    font-weight: bold;
}

div.productContainer a:hover div.productSnippet div.productDetails {
    display: block;
    color: #fff;
}

div.wrapper.MVtesting div.ColContainer a:hover div.productSnippet span.desc,
div.productContainer a:hover div.productSnippet span.desc {
    font-size: 14px;
    font-weight: 200;
    display: block !important;
}

div.productContainer a:hover div.productSnippet span.from {
    font-size: 14px;
    line-height: 30px;
    font-weight: 200;
}

.productsMap div.nmSection4 {
    width: 24%;
    float: left;
    margin: 2px;
    padding: 1px;
}

.productContainer .new-encart {
    top: 0;
    right: 0;
    z-index: 99;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 80px solid yellow;
    border-left: 80px solid transparent;
}

.productContainer .new-encart span {
    font-weight: 600;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: -55px;
    text-transform: uppercase;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Test A/B */
div.wrapper.MVtesting div.productContainer div.productIcon {
    height: 25% !important;
}

div.wrapper.MVtesting div.ColContainer div.productSnippet {
    padding: 0 5px 5px 10px !important;
}

div.wrapper.MVtesting div.ColContainer div.productSnippet span.title {
    display:block;
    float:left;
}

div.wrapper.MVtesting div.ColContainer a:hover div.productSnippet span.title {
    width: 100% !important;
    float: right;
    text-align: right;
    padding-bottom: 10px;
}

div.wrapper.MVtesting div.ColContainer div.productSnippet div.productDetails {
    display: block !important;
    float: right;
}

div.wrapper.MVtesting div.ColContainer div.productSnippet div.productDetails span.from {
    display: block;
    text-align: right;
    color: #fff;
}

div.wrapper.MVtesting div.ColContainer div.productSnippet div.productDetails span.desc {
    display: none;
    text-align: right;
}

div.wrapper.MVtesting div.ColContainer a:hover div.productSnippet div.productDetails span.title {
    padding-bottom: 20px;
    float:right;
    text-align: right;
    display:block;
}

div.wrapper.MVtesting div.ColContainer div.productSnippet div.productDetails span.price {
    float: right;
}

div.wrapper.MVtesting div.AddColContainer div.productSnippet div.productDetails span.price {
    clear: left;
    display: block;
}

@media screen and (max-width: 1800px) {
    div.wrapper.MVtesting div.ColContainer div.productSnippet div.productDetails span.from {
        display: none !important;
    }

    div.wrapper.MVtesting div.ColContainer div.productSnippet span.title {
        padding-bottom: 2px !important;
    }

    div.wrapper.MVtesting div.ColContainer div.productSnippet div.productDetails {
        float: left !important;
        clear: left;
    }

    div.wrapper.MVtesting div.ColContainer a:hover div.productSnippet div.productDetails span.from {
        display: block !important;
    }

    div.wrapper.MVtesting div.ColContainer a:hover div.productSnippet div.productDetails {
        float: right !important;
    }

}

@media screen and (min-width: 680px) and (max-width: 900px) {
    div.wrapper.MVtesting div.ColContainer div.productSnippet div.productDetails {
        display: none !important;
    }
}
/* End Test A/B */


/* Fin quadrillage produits */



/* PubBanners */
@media screen and (max-width: 990px) {
    div#zertoAd,
    div#pubBanner2 * {
        display: none;
    }
}


@media screen and (min-width: 990px) {
    div#zertoAd {
        background: #122844 url('../../images/2016wishes/pattern-point-bleu.png') repeat 0 0;;
    }

    div#zertoAd div.wrapper {
        padding: 60px 0;
    }

    div#zertoAd h3 {
        color: #FFF;
        font-size: 40px;
        line-height: 50px;
        font-weight: 200;
        padding-left: 140px;
        display: block;
    }

    div#zertoAd hr {
        border-bottom: solid 3px #FFCC00;
        margin: 30px 0;
        width: 100px;
    }

    div#zertoAd p {
        color: #FFF;
        font-size: 24px;
        line-height: 34px;
        font-weight: 200;
    }


    div#zertoAd div.rightContent {
        margin-left: 20px;
        border: solid 1px #FFCC00;
        border-radius: 3px;
        text-align: center;
        color: #FFF;
        font-size: 24px;
        line-height: 24px;
        padding: 60px 30px;
        font-weight: 200;
    }

    div#zertoAd div.rightContent span.btn {
        font-size: 20px;
        line-height: 30px;
        color: #3C3C3C;
        font-weight: 200;
        display: inline-block;
        background-color: #FFCC00;
        border-radius: 3px;
        border: solid 1px #FFCC00;
        margin-top: 20px;
        padding: 10px 40px;
        margin-top: 20px;
        cursor: pointer;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    div#zertoAd div.rightContent span.btn:hover {
        background-color: transparent;
        color: #FFCC00;
    }

    div#pubBanner1 {
        background-color: #000;
        border-top: 1px solid #757575;
        border-bottom: 1px solid #757575;
    }

    div#pubBanner1 div.content{
        max-width: 1230px;
        height: 232px;
        margin: auto;
        display: block;
        position: relative;
        background: transparent url('../../images/index2015/banners/ban-summit14.jpg') top center no-repeat;
    }

    div#pubBanner1 div a {
        width: 100%;
        height: 100%;
    }

    div#pubBanner2 {
        background-color: #064351;
        border-top: 1px solid #757575;
        border-bottom: 1px solid #757575;
    }

    div#pubBanner2 div.content {
        max-width: 1000px;
        height: 240px;
        margin: auto;
        display: block;
        position: relative;
        background: transparent url('../../images/index2015/banners/iplb.jpg') top center no-repeat;
    }

    div#pubBanner2 div a {
        width: 100%;
        height: 100%;
    }


    /* Text on pubs */
    #slidePhones a div.ButtonMore,
    div#pubBanner1 div.ButtonMore {
        float: left;
        width: 20%;
        height: 18%;
        position: absolute;
        right: 30%;
        bottom: 10%;
        text-align: center;
        background-color: #0089D1;
        border-radius: 3px;
    }

    div#pubBanner1 div.ButtonMore span {
        line-height: 40px;
        font-size: 25px;
        color: #fff;
        font-weight: 400 !important;
    }

    div#pubBanner1 div.ButtonMore:hover {
        background-color: #089AE7;
        
    }

    div#pubBanner2 div.infosBlock {
        position: absolute;
        right: 10%;
        top: 2%;
        width: 44%;
        color: #72d767;
    }

    div#pubBanner2 div.infosBlock span.title{
        font-size: 42px;
        line-height: 55px;
        font-weight: 400 !important;
    }

    div#pubBanner2 div.infosBlock span.desc{
        font-size: 25px;
        line-height: 28px;
    }

    div#pubBanner2 div.detailsBlock {
        margin-top: 20px;
        width: 100%;
        height: 40px;
        border-radius: 3px;
    }

    div#pubBanner2 div.detailsBlock *{
        font-weight: 400 !important;
    }

    div#pubBanner2 div.detailsBlock div.Price {
        float: left;
        width: 40%;
        height: 100%;
        text-align: right;
    }

    div#pubBanner2 div.detailsBlock div.Price span.from {
        font-size: 12px;
        color: #fff;
        display: block;
    }

    div#pubBanner2 div.ButtonMore {
        width: 50%;
        height: 42px;
        float: right;
        margin-right: 0;
        text-align: center;
        background: none !important;
        border: 1px solid #72d767;
        box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.5);
    }

    div#pubBanner2 div.ButtonMore:hover {
        background-color: #002E38 !important;
        box-shadow: none;
    }

    div#pubBanner2 div.ButtonMore span {
        line-height: 42px;
        display: block;
        font-size: 21px;
        color: #fff;
        font-weight: 400 !important;
    }
}


/* Fin Text on pubs */

/* Fin PubBanners*/



/* Menus*/
@media screen and (max-width: 680px) {
    ul li.newsMenu,
    ul li.eventsMenu {
        display: none;
    }

    ul li.communityMenu{
        width: 100%;
        padding-left: 15%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 680px) and (max-width: 880px) {
    ul li.communityMenu{
        width: 33%;
    }
}


@media screen and (min-width: 880px) {
    ul li.newsMenu{
        /*width: 11%;*/
        margin: 10px 20px;
    }

    ul li.eventsMenu {
        width: 17%;
    }

    ul li.newsMenu,
    ul li.eventsMenu {
        text-align: center;
        display: inline-block;
        list-style: none;
        margin: 10px;
    }

    ul li.newsMenu a:hover,
    ul li.eventsMenu a:hover {
        text-decoration: underline;
    }

    ul li.communityMenu {
        width: 24.7%;
    }   
}

@media screen and (min-width: 880px) and (max-width: 1800px) {
    div.newsBlock ul,
    div.eventsBlock ul {
        max-width: 970px;
        margin: 0 auto;
    }

    ul li.newsMenu a,
    ul li.eventsMenu a {
        font-size: 16px;
        color: #9A9A9A;
        text-decoration: none;
    }
}

@media screen and (min-width: 1800px) {
    div.newsBlock ul,
    div.eventsBlock ul {
        max-width: 1100px;
        margin: 0 auto;
        text-align: center;
    }

    ul li.newsMenu a,
    ul li.eventsMenu a {
        font-size: 18px;
        color: #9A9A9A;
        text-decoration: none;
    }
}


ul li.communityMenu {
    text-align: left;
    display: inline-block;
    list-style: none;
    margin: 10px 0;
}

ul li.communityMenu a {
    font-size: 16px;
    color: #454545;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

ul li.communityMenu a:hover {
    color: #0681CE;
}

ul li.communityMenu a img {
    margin-right: 20px;
}

/* End Menus */



/* News Part */
@media screen and (max-width: 680px){

div.newsBlock .SmallPad,
div.newsBlock .BigPad {
    height: 150px;
}

div.usecase .newsSnippet,
div.newsBlock .newsSnippet {
    padding: 10px 5px 5px 5px;
}

div.newsBlock div.section3 {
    margin-top: 0;
}

div.newsBlock div.section3 br:last-child {
    display: none;
}

div.usecase .newsSnippet .newsDateName,
div.newsBlock .newsSnippet .newsDateName {
    display: none !important;
}


div.newsBlock div.section3 + div{
    margin-top: 0;
}

div.newsBlock .ovhMag,
div.newsBlock div.gallery,
div.twtimeline {
    display: none;
}

div.socialBlock {
    width: 80%;
    margin: 0 auto;
}


}

@media screen and (min-width: 680px) and (max-width: 1800px){
div.newsBlock .ovhMag,
div.newsBlock div.gallery,
div.twtimeline {
    display: none;
}

div.newsBlock div.SmallPad .newsSnippet .newsTitle{
    font-size: 16px !important;
    line-height: 14px !important;
}

}

@media screen and (min-width: 680px){

div.news {
    padding: 20px 0 50px 0;
}

div.newsBlock .SmallPad{
    height: 150px;
}

div.newsBlock div.section3 + div{
    float: right;
    margin-top: 20px;
}

div.newsBlock .BigPad{
    height: 320px;
}


div.usecase .newsSnippet,
div.newsBlock .newsSnippet {
    padding: 20px 5px 10px 10px;
}

div.newsBlock div.section3 {
    margin-top: 20px;
    margin-right: 1%;
}

div.usecase .newsSnippet .newsDateName,
div.newsBlock .newsSnippet .newsDateName {
    font-size: 14px;
    display: block;
    padding-top: 5px;
    text-shadow: 1px 1px 3px #434343;
}


div.socialBlock {
    width: 100%;
}

div.newsBlock div.socialBlock .nmSection3{
    margin-left: 0;
    float: left;
    clear: none;
    width: 33.33%;
}
div.newsBlock div.socialBlock .socialLink{
    width: 100%;
    height: 50px;
    display:block;
    background:transparent url('/fr/images/index2015/socialSprite.png') top center no-repeat;
}
div.newsBlock div.socialBlock .socialRSS{
    background-position:center left;
}

div.newsBlock div.LastArticles a {
    color: #9A9A9A;    
}

div.newsBlock div.LastArticles p a {
    color: #0681CE;    
}

.watchMovie {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.watchMovie, .readMore{
        background: rgba(0,0,0,0.2) url(../../images/news-main/watchMovie.png) no-repeat 50% 50%;
        height:100%;
        width:100%;
        background-size: 60px;
}

a:hover .watchMovie{
        background: rgba(0,0,0,0.05) url(../../images/news-main/watchMovie.png) no-repeat 50% 50%;
        background-size: 70px;
}


}



div.newsBlock .SmallPad:last-child{
    margin-top: 20px;
}

div.communityBlock .newsDisplayed,
div.newsBlock .newsDisplayed {
    position: relative;
}

div.usecase .newsSnippet,
div.newsBlock .newsSnippet {
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 93%;
}

div.usecase a:hover .newsSnippet span,
div.newsBlock a:hover .newsSnippet span{
    font-weight: 500;
}

div.usecase .newsSnippet .newsTitle,
div.newsBlock .newsSnippet .newsTitle{
    font-size: 20px;
    line-height: 20px;
    text-shadow: 1px 1px 2px #434343;
}

div.usecase a,
div.usecase h4 a:hover,
div.newsBlock a,
div.newsBlock h4 a:hover{
    text-decoration:none;
}

div.usecase a:hover,
div.newsBlock a:hover {
    text-decoration: underline;
}


@media screen and (min-width: 1800px){

    div.news div.newsBlock div.nmSection2-3Left div.full,
    div.news div.newsBlock div.section3 div.full {
        width: 100%;
    }

    div.newsBlock .nmSection2-3Left{
        width: 48%;
    }
    div.newsBlock .nmSection3.articlePad{
        width: 46%;
    }

    div.newsBlock div.gallery {
        margin: 20px 0 0 2% !important;
    }

    div.newsBlock div.section3 {
        width: 24%;
        margin-right: 2%;
    }

    div.newsBlock div.section3 div.SmallPad:first-child {
        height: 320px; !important;
    }

    div.newsBlock div.section3 div.SmallPad:last-child {
        display:none;
    }

    div.newsBlock div.section3 + div {
        float: left;
    }

    div.newsBlock .ovhMag {
        background: transparent url('../../images/index2015/news/ovhmag3.jpg') no-repeat 50% 50%; 
        background-size: cover;
        height: 320px;
    }

    div.newsBlock .ovhMag{
        width: 24%;
        float: left;
        margin-left: 2%;
    }

    div.newsBlock div.nmSection3 span.fs24{
        font-size: 22px;
        line-height: 26px;
        font-weight: 400 !important;
    }

    div.newsBlock .nmSection3{
        width: 24%;
        padding-left: 0 !important;
        margin-left:  2%;
    }

    div.news div.newsBlock div.full {
        float:left;
        width: 80%;
    }

    div.twtimeline {
        width: 20%;
        float:left;
        padding-left: 2%;
    }


}

/* End News Part */



/* Events Part */
@media screen and (max-width: 680px){

div.eventsBlock div.BigPad,
div.eventsBlock div.SmallPad{
    height: 200px; 
}

div.eventsBlock,
div.communityBlock {
    border-top: 1px solid #757575;
}

div.eventsBlock div.SmallPad{
    margin-right: 0;
    margin-left: 0px;
}

div.eventsBlock .eventSnippet span.eventTitle {
    font-size: 22px !important;
    line-height: 20px;
}

div.eventsBlock .eventSnippet span.eventDesc {
    font-size: 15px !important;
}

.watchMovie {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.watchMovie, .readMore{
        background: rgba(0,0,0,0.2) url(../../images/news-main/watchMovie.png) no-repeat 50% 50%;
        height:100%;
        width:100%;
        background-size: 40px;
}

a:hover .watchMovie{
        background: rgba(0,0,0,0.05) url(../../images/news-main/watchMovie.png) no-repeat 50% 50%;
        background-size: 40px;
}


}

@media screen and (max-width: 680px){
div.EventsCommunity div.eventsBlock div.nmSection1 div.LongPad {
    background-position: 83% 0 !important;
}

}
@media screen and (min-width: 680px){

div.eventsBlock div.BigPad,
div.eventsBlock div.SmallPad{
    height:280px; 
}

div.eventsBlock div.nmSection2-3Left + div {
    float: right;
    margin-right: 0;
}

div.eventsBlock div.section3{
    float:right;
    margin-right: 0;
    margin-left: 10px;
}

}

@media screen and (max-width: 1800px){
    div.usecase{
        display: none;
    }
}

@media screen and (min-width: 1800px){
    div.EventsCommunity div.wrapper {
        width: 1550px;
        margin: 0 auto;
    }

    div.eventsBlock div.BigPad,
    div.eventsBlock div.SmallPad {
        height: 310px;
    }

    div.EventsCommunity{
        margin-bottom: 50px;
    }

    div.EventsCommunity div.wrapper div.events{
        width:59%;
        float:left;
    }

    div.EventsCommunity div.eventsBlock div.nmSection2-3Left {
        width: 65%;
    }

    div.EventsCommunity div.eventsBlock div.nmSection1 div.LongPad {
        margin-top: 25px;
    }

    div.EventsCommunity div.wrapper div.communityBlock {
        width: 39%;
        max-height: 480px;
        float: left;
        margin-left: 2%;
    }

    div.EventsCommunity div.wrapper div.events div.wrapper,
    div.EventsCommunity div.wrapper div.communityBlock div.wrapper{
        width: 100%;
    }

    div.communityBlock div ul{
        margin: 70px 0 0 10%;
        
    }

    div.communityBlock,
    div.communityBlock div.wrapper{
        position: relative;
    }

    div.communityBlock div.usecase {
        height: 185px;
        position: absolute;
        top: 100%;
        width: 100%;
    }


    ul li.communityMenu{
        width: 45%;
    }

    .hiddenWideScreen {
        display:none;
    }

}



div.eventsBlock div.LongPad{
    height: 185px;
    margin-top: 10px;
    clear: left;
}


div.eventsBlock .eventDisplayed {
    position: relative;
}

div.eventsBlock .eventSnippet {
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 20px 30px 10px 10px;
}

div.eventsBlock .eventSnippet .eventTitle {
    font-size: 24px;
    line-height: 30px;
    text-shadow: 1px 1px 2px #434343;
}

div.eventsBlock .eventSnippet .eventDesc {
    font-size: 16px;
    text-shadow: 1px 1px 3px #434343;
}


/* End Events Part */




/* Why Choose Part */

div.why-us {
    background: #28272C;
}

@media screen and (max-width: 1800px){
div.why-us div.HomeInfographie {
    display: none;
}

div.why-us div.whyUsBlock{
    width: 100%;
}

}

@media screen and (min-width: 1800px){
div.why-us {
    clear:left;
}

div.why-us div.whyUsBlock {
    width: 66%;
/*    float: left;*/
    margin: 0 auto;
}

section.partners div.wrapper {
    width: 60%;
}

div.why-us div.HomeInfographie {
    width: 36%;
    float:right;
    margin-top: 40px;
}



}

div.headerTxtWhy {
    float: right;
    width: 80%;
}

div.why-us .why-pads .pad {
    width: 33%;
    margin: 8px 3px 0 0;
    float: left;
    height: 174px;
    display: table-cell;
    text-decoration: none;
}

div.why-us .why-pads .pad span {
    display: table-cell;
    vertical-align: middle;
    height: 174px;
    width: 165px;
    color: white;
    padding: 0 15px;
    text-decoration: none;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
}
div.why-us .why-pads .pad  span.right {
    width: 165px;
    padding-left: 150px;
    display: table-cell;
    vertical-align: middle;
}

div.whyUsBlock a.index-button {
    line-height: 40px;
    padding: 10px 18px;
    background: #e3e3e3;
    border-radius: 3px;
    -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:    0px 4px 3px 0px rgba(0, 0, 0, 0.7);
    box-shadow:         0px 4px 3px 0px rgba(0, 0, 0, 0.7);
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin: 0 auto;
    display: inline;
}
div.whyUsBlock a.index-button:hover {
    background: white;
}

section.partners,section.partners-tech {
    background-color: #28272C !important;
}

div.PartnerContainer,
div.MarketContainer {
    width: 90%;
    margin: 0 auto;
}

section.partners div.img {
    display: inline-block;
    width: 20%;
    height: 100%;
}

section.partners div.img img{
    vertical-align: middle;
}

section.partners div.title {
    width: 77%;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    padding-left: 2%;
}


section.partners div.title span.title {
    color: #fff;
    font-size: 24px;
}

section.partners div.title span {
    font-size: 16px;
    color: #fff;
}



.why-pads a.data         { background: transparent url(../../images/index/2014/1.jpg) no-repeat 0 0 ; }
.why-pads a.network      { background: transparent url(../../images/index/2014/2.jpg) no-repeat 0 0 ; }
.why-pads a.support      { background: transparent url(../../images/index/2014/3.jpg) no-repeat 0 0 ; }
.why-pads a.components   { background: transparent url(../../images/index/2014/4.jpg) no-repeat 0 0 ; }
.why-pads a.security     { background: transparent url(../../images/index/2014/5.jpg) no-repeat 0 0 ; }
.why-pads a.dev          { background: transparent url(../../images/index/2014/6.jpg) no-repeat 0 0 ; }



/* End Why Choose Part */




div.twtimeline iframe {
    height: 660px !important;
}
