div#main {
    /*margin: 120px 0px 0px 0px;
    margin: 120px auto 0 auto;*/
}

div.socialLink a {
    width: 12%;
    display: inline-block;
}

#slidePhones{
    display: none !important;
}

@media screen and (max-width: 460px) {
    #body .slider2014 {
        margin:0px !important;
    }
}

.slider3 div.containContent3 .contenTitle h3 {
    line-height: 105% !important;
}

@media screen and (min-width: 681px) {
    div.productsMap div.wrapper div.nmSection4 {
        width: 32% !important;
    }
}

div.productDetails span.price span {
    color: #d40000;
}

div#pubBanner2 div.infosBlock span.title {
    font-size: 35px !important;
    line-height: 50px;
}

div#pubBanner2 div.ButtonMore {
    padding: 0 5px !important;
}

div#pubBanner2 div.detailsBlock div.Price {
    width: 46%!important;
}

@media screen and (min-width: 1200px) {
    div.EventsCommunity div.wrapper {
        width: 1200px !important;
    }

    div.EventsCommunity div.wrapper div.events {
        width: 49% !important;
        float: left;
    }

    div.EventsCommunity div.wrapper div.communityBlock {
        width: 49% !important;
        float: left;
    }

    div.EventsCommunity div.wrapper div.communityBlock div.wrapper {
        width: 100% !important;
    }

    div.EventsCommunity div.wrapper.eventsBlock {
        width: 100% !important;
    }

    ul li.communityMenu {
        text-align: left;
        display: inline-block;
        list-style: none;
        margin: 10px 0;
    }
    
    ul li.communityMenu a {
        color: #454545;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
    }
    
    div.communityBlock div ul{
        margin: 50px 0 0 10%;
    }

    ul li.communityMenu{
        width: 45% !important;
    }
}

div.newsBlock ul,
div.eventsBlock ul {
    text-align: center;
}

div.eventsBlock div.BigPad,
div.eventsBlock div.SmallPad {
    height: 308px ;
    background-position: top center !important;
}

ul li.communityMenu a {
    color: #454545;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

ul li.communityMenu a img {
    margin-right: 10px !important;
}

div.wrapper div.PartnerContainer {
    width : 40% !important; 
}

@media screen and (max-width: 681px) {
    div.wrapper div.PartnerContainer {
        width: 80% !important;
    }

    div.slider3.shwn {
        background-position: 8% top !important;
        background-size: 650px !important;
        min-height: 180px;
        height: 190px;
    }
}

.greenToolTip ul li {
    list-style: inside none circle;
}

div.itemCase p {
    padding: 0 25px;
    min-height: 48px;
}
