.spriteCommunity {
    background-image: url('../../../images/sprites/spriteCommunity.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align : middle;
    margin-right : 5px;
}

.sprite-api {
    width: 51px;
    height: 51px;
    background-position: -5px -5px;
}

.sprite-forum {
    width: 51px;
    height: 51px;
    background-position: -66px -5px;
}

.sprite-guides {
    width: 51px;
    height: 51px;
    background-position: -5px -66px;
}

.sprite-manager {
    width: 51px;
    height: 51px;
    background-position: -66px -66px;
}

.sprite-ml {
    width: 51px;
    height: 51px;
    background-position: -127px -5px;
}

.sprite-outils {
    width: 51px;
    height: 51px;
    background-position: -127px -66px;
}

.sprite-status {
    width: 51px;
    height: 51px;
    background-position: -5px -127px;
}
