@charset "utf-8";
body {
	margin: 0px;
	background-color: #4d729f;
	background-image: url(/images/layout_03.jpg);
	background-repeat: repeat-x;
	height: 497px;
	width: 100%;
	padding: 0px;
}
.wrap {
	width: 1200px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	clear: both;
}
.logo {
	height: 72px;
	background-image: url(/images/layout_01.jpg);
	background-repeat: no-repeat;
	background-position: 13px;
}
.tab_on a {
	display: block;
	width: 137px;
	height: 36px;
	background: transparent url(/images/layout_06.jpg) no-repeat;
	float: left;
	margin-top: 4px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding-top: 12px;
	text-shadow: 0px 1px 0px #FFF;
	text-decoration: none;
	color: #666;
	margin-left: 18px;
}
.tab_on a:hover {
	color: #999;
}

.tab a {
	display: block;
	width: 137px;
	height: 36px;
	background: transparent url(/images/tab.jpg) no-repeat;
	float: left;
	margin-top: 4px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding-top: 12px;
	text-decoration: none;
	color: #FFF;
	text-shadow: -1px -1px 0px #666;
	margin-left: 18px;
}

.tab a:hover {
	background-position: -137px 0;
	color: #FFF;
}
.tab_prem a {
	display: block;
	width: 137px;
	height: 36px;
	background: transparent url(/images/tab_prem.jpg) no-repeat;
	float: left;
	margin-top: 4px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding-top: 12px;
	text-decoration: none;
	color: #FFF;
	text-shadow: -1px -1px 0px #666;
	margin-left: 18px;
}

.tab_prem a:hover {
	background-position: -137px 0;
	color: #FFF;
} 
.sub_tabs a {
	list-style-type: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #333;
	text-shadow: 0px 1px 0px #FFF;
}
.sub_tabs a:hover {
	list-style-type: none;
	color: #666;
	text-decoration: underline;
}
.sub_tabs ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.content_box {
	width: 1182px;
	background-image: url(/images/layout_17.jpg);
	margin-top: 18px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.content_box_top {
	background-image: url(/images/layout_16.jpg);
	background-repeat: no-repeat;
	background-position: top;
}

.sub_tabs li {
	list-style-type: none;
	float: left;
	display: block;
	margin-right: 25px;
	margin-top: 13px;
}
.content_box_bot {
	background-image: url(/images/layout_19.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}
.content_wrap {
	width: 1145px;
	padding-top: 15px;
	padding-left: 18px;
	padding-bottom: 18px;
}
.content_icon {
	-moz-border-radius: 5px;
	border-radius:5px;
	float: left;
	clear: both;
	margin-right: 15px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.content_row {
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	width: 753px;
	background-image: url(/images/bar_bg.gif);
	background-repeat: repeat-y;
	margin-top: 8px;
	margin-bottom: 8px;
}
.content_row_top {
	background-image: url(/images/bar_top.gif);
	background-repeat: no-repeat;
}
.content_row_bot {
	background-image: url(/images/bar_bot.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}
.content_row_wrap {
	padding: 8px;
	text-shadow: 0px 1px 0px #FFF;
}


.row_link{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #4D729F;
	font-weight: bold;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #4D729F;
}
.content_info {
	text-align: right;
}


.row_link a:hover{

	color: #FC3;

}
.user_admin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #900;
	text-decoration: none;
}
.right {
	float: right;
	width: 345px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.left {
	float: left;
	width: 770px;
	padding-right: 2px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.right_header {
	height: 22px;
	width: 342px;
	background-image: url(/images/bar_right.jpg);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
	padding-top: 2px;
	padding-left: 3px;
	text-shadow: 0px 1px 0px #666;
}
.row_link_small {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #4D729F;
	font-weight: bold;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #4D729F;
	clear: both;
	text-shadow: 0px 1px 0px #FFF;
}
.post_details {
	margin-top: 5px;
	clear: both;
}
.forum_posts {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	clear: both;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #E8EDF4;
	padding: 3px;
	margin-right: 5px;
	background-image: url(/images/topbg.gif);
	background-repeat: repeat-x;
	-moz-border-radius: 3px;
	border-radius:3px;
}
.forum_posts a {
	color:#105289;
	text-decoration:none;
}
.forum_posts a:hover {
	text-decoration:underline;
}
.forum_posts h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	clear: both;
	padding: 0px;
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	color: #4D729F;
	text-shadow: 0px 1px 0px #FFF;
	
}
.head_side {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	clear: both;
	padding: 0px;
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	color: #4D729F;
	text-shadow: 0px 1px 0px #FFF;
	font-weight:bold;
}
.bar_left {
	height: 22px;
	width: 754px;
	background-image: url(/images/bigbar.gif);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
	padding-top: 2px;
	padding-left: 23px;
	
}
.tree {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	margin-top: 2px;
	color: #333;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 0px;
	overflow:hidden;
	width: 591px;
	height: 16px;
}
.tree a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #537193;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 0px;
}
.tree a:hover {
	text-decoration: underline;

}
.bar_title {
	float: left;
	width: 135px;
	text-shadow: 0px 1px 0px #666;
}
.tb_side {
	margin-left: 40px;
}
.avatar_icon {
	float: left;
	margin-right: 10px;
	max-height:68px;
	max-width:68px;
}
.comment_row {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	clear: both;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #E8EDF4;
	padding: 5px;
	margin-right: 5px;
	background-image: url(/images/topbg.gif);
	background-repeat: repeat-x;
	width: 738px;
	-moz-border-radius: 3px;
	border-radius:3px;
}
.side_icon {
	float:right;
	height: 16px;
	width: 16px;
	margin-right: 3%;
	padding: 0px;
	margin-top: 1px;
}
.icon_small {
	margin-left: 10px;
	margin-right: 2px;
}
.cover_thumb {
	text-align: center;
	max-width:745px;
	margin-bottom: 10px;
}
.image_over {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	width: 485px;
	position: absolute;
	height: 49px;
	background-image: url(/images/imgbar.png);
	padding-top: 8px;
	background-repeat: no-repeat;
	color: #999;
	text-shadow: 0px 1px 0px #FFF;
	margin-left: 123px;
}
.highlight {
	background-color: #F60;
	color: #FFF;
}

.thumbnail{
position: relative;


}

.thumbnail:hover{
background-color: transparent;


}

.thumbnail span{ /*CSS for enlarged image*/
	position: absolute;
	z-index: 1;
	padding: 10px;
	left: -1000px;
	border: 1px solid #111;
	visibility: hidden;
	color:#FFF;
	text-decoration: none;
background-color:#222;
	-moz-border-radius: 5px;
	border-radius:5px;
	text-shadow: 0px 1px 0px #999;
	-moz-box-shadow: 0 0 10px #111;
	-webkit-box-shadow: 0 0 10px #111;
	box-shadow: 0 0 10px #111;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 0;
left: 20px; /*position where enlarged image should offset horizontally */

}.filter_drop {

	height: 34px;
	width: 175px;
  padding: 0 24px 0 8px;
  color: #fff;
  font: 12px/21px arial,sans-serif;
  background: url(/images/drop.png) no-repeat;
  overflow: hidden;
	cursor:pointer;
}
.prem_col {
	border-left-width: 1px;
	border-left-style: dashed;
	border-left-color: #95ADCC;
	text-align: center;
	padding: 5px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #4D729F;
}
.prem_col2 {
	text-align: center;
	padding: 5px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #4D729F;
}.prem_row {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #4D729F;
	padding-top: 7px;
	padding-right: 5px;
	padding-bottom: 7px;
	padding-left: 5px;
}
.comodo {
	background-image: url(/images/comodo.gif);
	background-repeat: no-repeat;
	position: absolute;
	bottom:0;
	right:0;
	height: 85px;
	width: 100px;

}
.reg_table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #CCC;
	float: right;
	width: 425px;
}

.wrap_sec {
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 45px;
	padding-left: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.wrap_sec h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	color: #666;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;

}
.secure {
	background-image: url(/images/lock.png);
	background-repeat: no-repeat;
	width: 125px;
	font-family: Verdana, Geneva, sans-serif;
	color: #999;
	padding-left: 38px;
	padding-top: 14px;
	float: right;
	margin-right: 0px;
	border: 1px solid #CCC;
	height: 28px;
	background-position: 2px 5px;
	margin-top: 10px;
}
.sec_tb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 1px;
	border: 1px solid #666;
}
.sec_text {
	float: left;
	width: 620px;
	border: 1px solid #CCC;
	padding: 10px;
}
.sec_foot {
	width: 100%;
	clear: both;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333;
	margin-top: 10px;
	padding-top: 10px;
}
.history_row {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}
.forum_cat_top {
	background-image: url(/images/forum_cat_top.jpg);
	background-repeat: no-repeat;
	height: 41px;
	width: 753px;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	text-shadow: 0px 1px 0px #FFF;
}
.forum_cat_row {
	height: 49px;
	width: 753px;
	background-image: url(/images/forum_cat_row.jpg);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	clear: both;
}
.forum_cat_title {
	width: 416px;
	padding-top: 8px;
	padding-left: 10px;
	float: left;
}
.forum_cat_topics {
	padding-top: 8px;
	text-align: center;
	width: 79px;
	float: left;
	margin-left: 3px;
}
.forum_cat_posts {
	padding-top: 8px;
	width: 77px;
	float: left;
	text-align: center;
}
.forum_cat_last {
	padding-top: 8px;
	margin-left: 8px;
	float: left;
	width: 145px;
}
.forum_cat_bot {
	background-image: url(/images/forum_cat_bot.jpg);
	background-repeat: no-repeat;
	height: 7px;
	width: 753px;
	margin-bottom: 10px;
}.friend_avatar {
	height: 90px;
	width: 90px;
	float: left;
	padding: 5px;
	text-align: center;
}
.fb {
	float: left;
	left: 93%;
	color: #FFF;
	position: relative;
	top: 12px;
}
.head_mid {
	background-image: url(/images/head_bg.gif);
	background-repeat: repeat-x;
	height: 35px;
	margin-top: 5px;
	width: 754px;
}
.head_lt {
	background-image: url(/images/head_left.gif);
	background-repeat: no-repeat;
	height: 35px;
	background-position: left;
}
.head_rt {
	background-image: url(/images/head_rt.gif);
	background-repeat: no-repeat;
	background-position: right;
	height: 35px;
}
.head_mid h1 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-size: 18px;
	color: #FFF;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
	width: 680px;
	text-shadow: -1px -1px 0px #4d729f;
}.head_icon {
	float: right;
	margin-right: 20px;
	margin-top: 1px;
}
.file_filter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
}
.filter_box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 3px;
	margin-right: 8px;
	font-weight: bold;
	color: #4D729F;
	background-color: #BBCDE0;
	border: 2px solid #7592B3;
	text-shadow: 0px 1px 0px #FFF;
}
.filter_wrap {
	text-align: left;
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
}
.filter_selected {
	background-color: #F00;
}
.article_wrap {
	background-color: #e1ebf2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 10px;
	-moz-border-radius: 10px;
	border-radius:10px;
	width: 731px;
	margin-bottom: 10px;
	border: 1px solid #bfbfbf;
}
.error {
	background-color: #FFCECE;
	border: 1px solid #F00;
	padding: 4px;
	margin: 3px;
	-moz-border-radius: 5px;
	border-radius:5px;
	text-align: center;
}
.pagination {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 5px;
	padding-top: 5px;
	margin-right: 18px;
	background-image: url(/images/forum/);
	border-bottom-width: 1px;
	border-bottom-color: #BBCDE0;
	margin-bottom: 5px;
	padding-bottom: 5px;

}
.pag_num {
	margin: 2px;
	padding-top: 1px;
	padding-right: 6px;
	padding-bottom: 1px;
	padding-left: 6px;
	background-color: #EEE;
	-moz-border-radius: 2px;
	border-radius:2px;
	text-align: center;
	text-decoration: none;
	color: #4D729F;
	border: 1px solid #BFBFBF;
}
.pag_num_on {
	margin: 2px;
	padding-top: 1px;
	padding-right: 6px;
	padding-bottom: 1px;
	padding-left: 6px;
	background-color: #FFF;
	-moz-border-radius: 2px;
	border-radius:2px;
	text-align: center;
	text-decoration: none;
	color: #BBB;
	border: 1px solid #BFBFBF;
}
.pag_num_off {
	margin: 2px;
	padding-top: 1px;
	padding-right: 6px;
	padding-bottom: 1px;
	padding-left: 6px;
	background-color: #FFF;
	-moz-border-radius: 2px;
	border-radius:2px;
	text-align: center;
	text-decoration: none;
	color: #BBB;
	border: 1px solid #BFBFBF;
}.view_list {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #EEE;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEE;
}
.view_list_row {
	padding: 8px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #EEE;
	border-left-color: #EEE;
}
.view_list a{
	text-decoration: none;
	color: #4D729F;
}
.view_list a:hover{
	color: #F00;
}
.prem_dl {
	background-image: url(/images/dl_prem.gif);
	background-repeat: no-repeat;
	height: 88px;
	width: 355px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-shadow: 0px 1px 0px #FFF;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.prem_dl a {
font-weight: bold;
color:#F00;
text-decoration:none;
}
.dl_wrap {
	clear: both;
	width: 753px;

}
.head_prem {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #F63;
	clear: both;
	display: block;
	background-image: url(/images/ranks/rank_2.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	text-shadow: 0px 1px 0px #FFF;
	background-position: 0px 1px;
}
.head_free {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #4d729f;
	clear: both;
	display: block;
	background-repeat: no-repeat;
	padding-left: 20px;
	text-shadow: 0px 1px 0px #FFF;
	background-position: 0px 3px;
	background-image: url(/images/icons/down.png);
}


.free_dl {
	background-image: url(/images/dl_free.gif);
	background-repeat: no-repeat;
	height: 88px;
	width: 355px;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-shadow: 0px 1px 0px #FFF;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#download_verify {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: none;
}
.search_box {
	float: right;
	margin-top: 18px;
	width: 235px;
}
.search_tb {
	padding: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-image: url(/images/search_tb.gif);
	background-repeat: repeat-x;
	border: 1px solid #666;
	-moz-border-radius: 3px;
	border-radius:3px;
	float: left;
}
.search_but {
	background-image: url(/images/search_but.gif);
	background-repeat: no-repeat;
	height: 23px;
	width: 24px;
	border: 0;
	cursor: pointer;
	float: left;
	margin-left: 4px;
	margin-top: 2px;
}


#download_info {
	display: none;
}
.search_wrap {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 752px;
}
.search_cat {
	display: none;
}
.search_title {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #4D729F;
	display: block;
	background-image: url(/images/arrow_down.png);
	background-repeat: no-repeat;
	margin-bottom: 8px;
	background-color: #E9EDF3;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 8px;
	background-position: 720px;
	-moz-border-radius: 8px;
	border-radius:8px;
	text-shadow: 0px 1px 0px #FFF;
	border: 1px solid #92B3D6;
	padding-left: 15px;
}
.search_small {
	font-size: 10px;
	color: #999;
}
.search_content {
}
.search_content ul {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 35px;
}
.search_content ul li {
	margin-bottom: 5px;
}
.search_content a {
	text-decoration: none;
	color: #4D729F;
}
.search_content a:hover {
	text-decoration: underline;
	color: #F00;
}.mod_links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px;
	background-color: #FFF3C6;
	border: 1px solid #F90;
	width: 96%;
	color: #F60;
	-moz-border-radius: 5px;
	border-radius:5px;
}
#side_bar {
	width: 100%;
	height: 1000px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.sidebar_forum {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
.tb_side {
		font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:4px;
	border:solid 1px #999;
	-moz-border-radius: 3px;
	border-radius:3px;
		background-image: url(/images/search_tb.gif);
	background-repeat: repeat-x;
	background-position: 0px -13px;
}
.tb_side2 {
		font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:4px;
	border:solid 1px #999;
	-moz-border-radius: 3px;
	border-radius:3px;
		background-image: url(/images/search_tb.gif);
	background-repeat: repeat-x;
	background-position: 0px -13px;
}
.cat_link {
	font-weight: bold;
	text-decoration: none;
	margin-right: 20px;
	color: #105289;
	margin-top: 5px;
}
.links {
	font-weight: bold;
	text-decoration: none;

	color: #105289;
	margin-top: 5px;
}
.links a{
	font-weight: bold;
	text-decoration: none;
	margin-right: 20px;
	color: #105289;
	margin-top: 5px;
}
.hover_menu {
position: relative;
z-index: 0;

}

.hover_menu:hover{
background-color: transparent;
z-index: 50;

}

.hover_menu span{ /*CSS for enlarged image*/
	position: absolute;

	padding: 10px;
	left: -1000px;
	border: 1px solid #111;
	visibility: hidden;
	color:#FFF;
	text-decoration: none;
background-color:#222;
	-moz-border-radius: 5px;
	border-radius:5px;
	text-shadow: 0px 1px 0px #999;
	-moz-box-shadow: 0 0 10px #111;
	-webkit-box-shadow: 0 0 10px #111;
	box-shadow: 0 0 10px #111;
}



.hover_menu:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 0;
left: 5px; /*position where enlarged image should offset horizontally */
}
.hover_menu:hover a{
		color:#FFF;
		text-decoration:none;

}
.video_thumb {
	padding:3px;
	-moz-border-radius: 5px;
	border-radius:5px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	margin-top:8px;
	margin-right:15px;
	margin-bottom:5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.hover_menu:hover a:hover{
		color:#FFF;
		text-decoration:underline;

}
.content_icon_round {
-moz-border-radius: 5px;
border-radius:5px;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
float: left;
	clear: both;
	margin-right: 15px;
max-width:67px;

	
}
.content_icon_round2 {
-moz-border-radius: 5px;
border-radius:5px;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
float: left;
	clear: both;
	margin-right: 15px;


	
}
.market_left {
	width: 200px;
	float: left;
	margin-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.market_cats {
	background-color: #E0E6ED;
	border: 1px solid #4D729F;
	padding: 8px;
	margin-top: 10px;
		-moz-border-radius: 5px;
	border-radius:5px;
}
.market_cats h2 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #4D729F;
	text-shadow: 0px 1px 0px #FFF;
}
.share_links {
	margin: 0px;
	padding: 0px;
}
.market_cat ul {
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 10px;
	list-style-type: none;
	padding: 0px;
	margin-left: 12px;
}
.market_cat {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-weight: bold;
	list-style-type: none;
}
.market_cat a{
	text-decoration:none;
	text-shadow: 0px 1px 0px #FFF;
}
.market_cat a:hover{
	text-decoration:underline;
	color:#F60;
}
.market_sub li {
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
.item_thumb {
	-moz-border-radius: 5px;
	border-radius:5px;
	width:55px;
	height:55px;
	margin-top: 5px;
	margin-right: 12px;
}.price {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #000;
	width: 175px;
	float: left;
	margin-left: 15px;
	margin-top: 5px;
}
.shipping {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 250px;
	float: left;
	margin-top: 5px;
	margin-left: 25px;
}
.group_left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	width: 180px;
	margin-right: 10px;
	height: 100%;
	margin-top: 10px;
	margin-left: 3px;
}
.group_box {
	border: 1px solid #CCC;
	margin-bottom: 8px;
	-moz-border-radius: 5px;
	border-radius:5px;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px#999;
	box-shadow: 0 0 5px #999;
	width: 160px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}
.group_right {
	float: right;
	width: 560px;
	margin-top: 10px;
	margin-right: 16px;
}

.group_box h2 {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;	
}
.group_row {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #E8EDF4;
	padding: 5px;
	background-image: url(/images/topbg.gif);
	background-repeat: repeat-x;
	-moz-border-radius: 3px;
	border-radius:3px;
}
.group_avatar {
	width:50px;
	height:50ps;
	float:left;
	margin-right:8px;
}
.group_row h1 {
	font-size: 18px;
	color: #4D729F;
	font-weight: bold;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #4D729F;
	clear: both;
	text-shadow: 0px 1px 0px #FFF;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 9px;
	margin-left: 0px;
}.group_button {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFF;
	background-image: url(/images/topbg.gif);
	background-repeat: repeat-x;
	border: 1px solid #ABBED6;
	padding: 6px;
	width: 200px;
	text-align: center;
	-moz-border-radius: 5px;
	border-radius:5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px#999;
	box-shadow: 0 0 2px #999;
	text-shadow: 0px 1px 0px #FFF;
}
.group_button a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #4D729F;
	text-decoration: none;
}
.opacity30 {
filter:alpha(opacity=30);
-moz-opacity:0.3;
-khtml-opacity: 0.3;
opacity: 0.3;
} 
.arcade_col {
	width: 225px;
	height: 200px;
	margin-right: 20px;
	-moz-border-radius: 10px;
	border-radius:10px;
	-moz-box-shadow: 0 0 4px #999;
	-webkit-box-shadow: 0 0 4px#999;
	box-shadow: 0 0 4px #999;
	text-shadow: 0px 1px 0px #FFF;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 9px;
filter:alpha(opacity=80);
-moz-opacity:0.8;
-khtml-opacity: 0.8;
opacity: 0.8;
}
.arcade_link {
	background-color: #FFF;
	border: 1px solid #333;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
filter:alpha(opacity=90);
-moz-opacity:0.9;
-khtml-opacity: 0.9;
opacity: 0.9;
}
.arcade_info {
	padding: 5px;
	background-color: #FFF;
	border: 1px solid #333;
	margin-right: 10px;
	margin-left: 10px;
	width: 100px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	text-align: center;
	float: right;
	margin-top: 115px;
	-moz-border-radius: 5px;
	border-radius:5px;
filter:alpha(opacity=90);
-moz-opacity:0.9;
-khtml-opacity: 0.9;
opacity: 0.9;
}
.arcade_nes {
	float: left;
	margin-top: 20px;
}
.arcade_controls {
	float: right;
	margin-left: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.arcade_desc {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
}
.arcade_link a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #F00;
	text-shadow: 0px 1px 0px #FFF;
}
.arcade_link a:hover {
	color: #F60;
}
.market_cat_ul {
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	width: 33%;
	font-weight: bold;
	font-size: 12px;
	padding: 0px;
	margin-top: 2px;
	margin-left: 0px;
	margin-bottom: 0px;
	color: #666;
	text-shadow: 0px 1px 0px #FFF;
	list-style-type: none;
}
.market_cat_ul a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #4D729F;

}
.market_cat_ul a:hover {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;

}
.market_sub_ul {
	font-weight: normal;
	list-style-type: none;
	margin-bottom: 10px;
	margin-left: -15px;
	margin-top: 4px;
	color: #999;
	text-shadow: 0px 1px 0px #FFF;
}
.market_sub_ul a {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #000;

}
.market_sub_ul a:hover {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;

}
.button_del a {
	display: block;
	width: 20px;
	height: 20px;
	background: transparent url(/images/icon_post_delete.gif) no-repeat;
}

.button_del a:hover {
	background-position: 0 -20px;
}
.button_thank a {
	display: block;
	width: 20px;
	height: 20px;
	background: transparent url(/images/icons/thank.png) no-repeat;
}
.social_button {
	margin-left: 8px;
	text-decoration:none;
	border:none;
}

.social_button img {
	
opacity:.50;
filter:alpha(opacity=50);
filter: “alpha(opacity=50)”;
}
.social_button img:hover  {
opacity:.99;
filter:alpha(opacity=100);
filter: “alpha(opacity=100)”;
}

.rate_post img {
 
 margin-top:3px;
 opacity:.50; 
 filter:alpha(opacity=50); 
 filter: “alpha(opacity=50)”;
}
.rate_post img:hover {
 
 opacity:.99; 
 filter:alpha(opacity=99); 
 filter: “alpha(opacity=99)”;
}