/*
	Theme Name: Concrete Avenue (Widget-ready)
	URI: http://www.web-funk.de
	Description: A puristic and straight wordpress theme.
	Version: 04.00 (de, en)
	Author: Mark Dyn&eacute;t
	Author URI: http://www.playatdawn.com/
	
	This Theme is Widget-ready.
	
	The unprocessed photo of the headerimage is published by
	http://www.photocase.de
	
	The CSS, XHTML and design is released under the GPL:
	http://www.opensource.org/licenses/gpl-license.php
*/

/* ---------------------------------------------------------------------------------- */

html, body {margin: 0; padding: 0; text-align: center;}

body {
	font-size: 12px;
	background: url(images/back.jpg);
	background-color: #707e80;
	font-family: Verdana, Arial, Helvetica, sans-serif;}
 

p {margin: 0px 0px 12px 0px;}

a {color: #1f5a66; text-decoration: none;}

a:hover {color: #993d00; text-decoration: none;}

#content a:hover {text-decoration: none; color: #0095b3;}

#archiv a:hover {text-decoration: none; color: #0095b3;}

#head a, img {border: none;}

/* ---------------------------------------------------------------------------------- */

#hoster  {border: none;}


#page {
	background: url(images/main.jpg) repeat-y;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	width: 900px;}

#head {
	
	height: 100px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;}

#titel {
	float: left;
	text-align: center;
	width: 1000px;
	margin: 0px 0px 0px 0px; 
	padding: 35px 0px 0px 0px;}

/* ---------------------------------------------------------------------------------- */

#content {
	float: left;
	color: #000000;
	margin: 0px 0px 40px 0px;
	padding: 0px 35px 0px 45px;
	text-align: left;
	width: 560px;}

#archiv {
	float: left;
	color: #000000;
	margin: 0px 0px 40px 0px;
	padding: 0px 80px 0px 50px;
	text-align: left;
	width: 530px;}

/* ---------------------------------------------------------------------------------- */

.eintrag2 {
	text-align: justify;
	margin: 12px 0px 0px 0px;
	line-height: 1.6em;
	color: #525252;}

	.eintrag2 a {color: #b33c00; text-decoration: none;}


.ulnet {
	border-style: dashed;
	
	}



.eintrag_x {
	text-align: justify;
	margin: 12px 0px 0px 70px;
	line-height: 1.6em;
	color: #525252;}

	.eintrag_x a {color: #b33c00; text-decoration: none;}


.text {
	text-align: justify;
	margin: 12px 0px 0px 0px;
	line-height: 1.6em;
	color: #707d80;}

	.text a {color: #b33c00; text-decoration: none;}

/* ---------------------------------------------------------------------------------- */

#footer {
	background: url(images/footer.jpg) no-repeat bottom center;
	background-color: inherit;
	clear: both;
	color: #86abb3;
	font-size: 11px;
	height: 50px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 220px;}

	#footer a {background: none; color: #86abb3;}

	#footer a:hover {text-decoration: none; color: #0095b3;}
	
	.foot {text-align: left;}


#sidebar {
	color: #7a9499;
	float: right;
	font-size: 11px;
	margin: 0;
	padding: 0px 50px 0px 25px;
	text-align: left;
	width: 165px;}
	
	#sidebar a {background: none; color: #00404d;}

	#sidebar a:hover {background: none; color: #0095b3;}

/* ---------------------------------------------------------------------------------- */

h1 {
	letter-spacing: 1px;
	background: none;
	color: #1f5a66;
	font-size: 14px;
	font-weight: normal;
	font-family: 'Times New Roman', Times, serif;
	margin: 40px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-decoration: none;}
	
	h1 a {text-decoration: none;}



h2 {
	border-bottom: 1px solid #cad7d9;
	letter-spacing: 1px;
	color: #1f5a66;
	font-size: 14px;
	font-weight: normal;
	font-family: 'Times New Roman', Times, serif;	
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 3px 0px;
	text-decoration: none;}

	h2 a {text-decoration: none;}

h3 {
	background: inherit;
	font-weight: normal;
	color: #1f5a66;
	font-size: 12px;
	margin: 16px 0px 4px 0px;
	padding: 0px 0px 0px 0px;}

#sidebar h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-bottom: 4px solid #cad7d9;
	background: none;
	color: #4d7780;
	font-size: 14px;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 16px 0px 3px 0px;
	padding: 0px 0px 3px 0px;}

#sidebar h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-bottom: 4px solid #cad7d9;
	background: none;
	color: #4d7780;
	font-size: 14px;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 30px 0px 3px 0px;
	padding: 0px 0px 3px 0px;}

#sidebar h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-bottom: 4px solid #cad7d9;
	background: none;
	color: #4d7780;
	font-size: 14px;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 27px 0px 3px 0px;
	padding: 0px 0px 3px 0px;}

#sidebar h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-bottom: 1px solid #cad7d9;
	background: none;
	color: #4d7780;
	font-size: 14px;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 30px 0px 3px 0px;
	padding: 0px 0px 3px 0px;}


h6 {
	border-bottom: 4px solid #cad7d9;
	letter-spacing: 1px;
	color: #1f5a66;
	font-size: 14px;
	font-weight: normal;
	font-family: 'Times New Roman', Times, serif;	
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 3px 0px;
	text-decoration: none;}

	h6 a {text-decoration: none;}


#content h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-bottom: 1px solid #cad7d9;
	background: none;
	color: #006a80;
	font-size: 14px;
	font-variant: normal;
	font-weight: bold;
	margin: 25px 0px 7px 0px;
	padding: 0px 0px 2px 0px;}

#content h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-bottom: 1px solid #cad7d9;
	background: none;
	color: #006a80;
	font-size: 14px;
	font-variant: normal;
	font-weight: bold;
	margin: 12px 0px 10px 0px;
	padding: 0px 0px 0px 0px;}

/* ---------------------------------------------------------------------------------- */

.date {
	background: none;
	border-bottom: 1px solid #cad7d9;
	color: #86abb3; 
	font: 10px 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
	margin: 2px 0px 0px 0px;
	padding: 0px 0px 4px 0px;}

.date_x {
	background: none;
	border-bottom: 1px solid #cad7d9;
	color: #86abb3; 
	font: 10px 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
	margin: 2px 0px 0px 70px;
	padding: 0px 0px 4px 0px;}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-bottom: 4px solid #cad7d9;
	background: none;
	color: #4d7780;
	font-size: 12px;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 16px 0px 3px 0px;
	padding: 0px 0px 3px 0px;}

.archivtitle {
	font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, Arial, 
	'Lucida Sans', 'Lucida Sans Unicode', Helvetica, sans-serif;
	color: #1f5a66; 
	font-size: 14px;
	font-variant: normal;
	padding: 0px 0px 3px 0px;
	margin: 10px 0px 40px 70px; 
	letter-spacing: 0.09em;
	background: none;}

.tagtitle {
	border-bottom: 4px solid #cad7d9;
	letter-spacing: 0.09em;
	color: #1f5a66;
	font-size: 24px;
	font-weight: normal;
	font-family: 'Times New Roman', Times, serif;	
	margin: 20px 0px 40px 70px;
	padding: 0px 0px 5px 0px;
	text-decoration: none;}

/* ---------------------------------------------------------------------------------- */

.description {
	text-align: center;
	font-size: 12px; 
	font-variant: small-caps; 
	color: #b1c5c4;
	padding: 5px 0px 0px 0px;
	letter-spacing: 1px;}

blockquote {
	clear: left;
	border-left: 4px solid #cad6d9;
	color: #9dafb3;
	text-align: justify;
	padding: 0px 0px 0px 25px;
	margin: 20px 40px 16px 25px;}

#email, #author, #url {
	background: #ffffff;
	border: 1px solid #cad6d9;
	color: #1f5a66;
	font-size: 11px;
	padding-left: 2px;
	vertical-align: middle;}

/* ---------------------------------------------------------------------------------- */

#content img {
	border: 1px solid #cccccc;
	padding: 4px;
	max-width: 100%;
	display: inline;}

#archiv img {
	border: 1px solid #cccccc;
	padding: 4px;
	max-width: 100%;
	display: inline;}


.eintrag2 img {
	
	display: inline;}

.eintrag_x img {
	
	display: inline;}


.eintrag2 .right img {
	float: right;
	margin: 6px 0px 0px 10px;
	display: inline;}

.eintrag_x .right img {
	float: right;
	margin: 6px 0px 0px 10px;
	display: inline;}


#sidebar img {
	vertical-align: text-bottom;
	border: none;
	padding: 0px;
	margin: 0px;}


#content .wp-smiley {
	background: transparent;
	border: none; 
	float: none;
	padding: 0;
	margin: 0;}


#archiv .wp-smiley {
	background: transparent;
	border: none; 
	float: none;
	padding: 0;
	margin: 0;}

/* ---------------------------------------------------------------------------------- */

.eintrag2 ol {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 12px 40px;
	list-style-type: square;
	background: none;
	color: #9dafb3;}

.eintrag2 ul {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 12px 40px;
	list-style-type: disc;
	background: none;
	color: #9dafb3;}

.eintrag2 ol li {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 12px;
	list-style-type: decimal;
	background: none;
	color: #9dafb3;}

.eintrag2 ul li {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 12px;
	list-style-type: circle;
	background: none;
	color: #9dafb3;}


.eintrag_x ol {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 12px 40px;
	list-style-type: square;
	background: none;
	color: #9dafb3;}

.eintrag_x ul {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 12px 40px;
	list-style-type: disc;
	background: none;
	color: #9dafb3;}

.eintrag_x ol li {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 12px;
	list-style-type: decimal;
	background: none;
	color: #9dafb3;}

.eintrag_x ul li {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 12px;
	list-style-type: circle;
	background: none;
	color: #9dafb3;}

/* ---------------------------------------------------------------------------------- */

#sidebar ul ul li {
	color: #86abb3;
	line-height: 1.5em;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 2px 0px;
	border-bottom: 1px dotted #cad6d9;}

#sidebar ul ul ul li {
	list-style-type: square;
	margin-left: 15px;
	border: none;
	color: #86abb3;}


#sidebar ul {
	color: #86abb3;
	background: none;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;}


#sidebar ul li.categories {border: none;}


#sidebar ul li ul li ul.children {
	border-bottom: none;
	background: none;}

/* ---------------------------------------------------------------------------------- */

#s {
	background: #ffffff;
	border: 1px solid #cad6d9;
	color: #4c6266;
	font-size: 12px;
	font-weight: normal;
	margin: 12px 0px 3px 0px;
	padding: 2px 0px 0px 2px;
	width: 161px;
	height: 17px;}

#comment {
	background: #ffffff;
	border: 1px solid #cad6d9; 
	color: #993d00;
	font-size: 11px;
	padding: 2px 2px 2px 2px;
	width: 350px; }

#submit {
	background: #ffffff;
	border: 1px solid #cad6d9;
	color: #1f5a66;
	font-size: 11px;
	margin: 0px 0px 0px 0px;
	padding: 0 10px;}

.commentbody {
	list-style-type: none;
	color: #1f5a66;
	font-size: 11px;
	margin: 0px 0px 20px 0px;
	padding: 16px 12px 16px 12px;
	background: #f7f7f0;
	border: 1px solid #cad6d9;
	position: relative;}

.commentcount {
	background: inherit;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 24px;
	font-weight: bold;
	color: #dedbcc;
	float: right;
	margin: 20px 12px 0px 0px;
	padding: 0px 0px 0px 0px;}

.comment_title {
	text-align: left;
	font-weight: normal;
	background: inherit;
	color: #1f5a66;
	font-size: 16px;
	margin: 16px 0 12px 0;
	padding: 0px 0px 0px 0px;}

	.com_pic {background: url(images/bubble.gif) no-repeat left; height: 26px;}

	.com_info {color: #993d00; padding: 0px 0px 0px 32px;}

	.commentbody p {line-height: 1.2em;}

	.commentlink {font-size: 10px;}

	.commentlist {list-style: none;}

	.commentlist a {color: #993d00;}

/* ---------------------------------------------------------------------------------- */

#info {background: url(images/info.gif) no-repeat top left transparent;}

.info_m {
	clear: left;
	color: #1f5a66;
	font-size: 10px;
	text-align: left;
	letter-spacing: 0.01em;
	margin: 0px 0px 30px 0px;
	padding: 4px 0px 0px 0px;
	border-top: 1px solid #cad6d9;
	background: none;}

	.info_m a {background: none; color: #1f5a66;}


.info_s {
	clear: left;
	color: #1f5a66;
	font-size: 10px;
	line-height: 1.2em;
	margin: 8px 0px 25px 0px;
	padding: 5px 0px 20px 64px;
	background: url(images/bottom.gif) bottom left repeat-x transparent;}

	.info_s a {background: none; color: #993d00;}


.info_x {
	clear: left;
	color: #1f5a66;
	font-size: 10px;
	text-align: left;
	letter-spacing: 0.01em;
	margin: 0px 0px 40px 70px;
	padding: 4px 0px 0px 0px;
	border-top: 1px solid #cad6d9;
	background: none;}

	.info_x a {background: none; color: #1f5a66;}

/* ---------------------------------------------------------------------------------- */

.line {
	border-top: 1px solid #cad6d9;
	margin: 0px 0px 7px 0px;
	padding: 0px 0px 0px 0px;}

.spacer {

	border-top: 1px dotted #cad6d9;
	margin: 25px 0px 7px 0px;
	padding: 0px 0px 0px 0px;}

.navbutton {
	background: none;
	border-bottom: 1px dotted #cad6d9;
	color: #86b0b3;
	line-height: 1.5em;
	font-size: 11px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 4px 0px;
	text-align: left;}

.navigation {
	border-top: 4px solid #cad6d9;
	border-bottom: 1px solid #cad6d9;
	font-size: 11px;
	margin: 40px 0px 20px 0px;
	padding: 2px 0px 17px 0px;
	color: #1f5a66;}

	.navigation a {background: none; color: #86abb3;}


.navigation_x {
	border-top: 4px solid #cad6d9;
	border-bottom: 1px solid #cad6d9;
	font-size: 11px;
	margin: 40px 0px 20px 70px;
	padding: 2px 0px 17px 0px;
	color: #1f5a66;}

	.navigation_x a {background: none; color: #86abb3;}

	.alignleft {float: left; text-align: left;}

	.alignright {float: right; text-align: right;}

/* ---------------------------------------------------------------------------------- */

.post-date {
	margin: 4px 25px 0px 0px;
	width: 45px;
	height: 49px;
	float:left;
	background: url(images/date-bg.gif) no-repeat;}

.post-month {
	font-size: 10px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	display:block;
	line-height: 11px;
	padding-top: 2px;
	margin-left: 0px;}

.post-day {
	font-size: 18px;
	text-transform: uppercase;
	color: #999999;
	text-align: center;
	display:block;
	line-height: 18px;
	padding-top: 7px;
	margin-left: -3px;}

/* ---------------------------------------------------------------------------------- */

.tags {
	clear: left;
	font-size: 12px;
	border-top: 1px dotted #cad6d9;
	border-bottom: 1px solid #cad6d9;
	background: none;
	color: #1f5a66;
	margin: 20px 0px 0px 0px;
	padding: 4px 10px 4px 0px; 
	font-variant: normal;}

#tagcloud {
	border-top: 4px solid #cad6d9;
	border-bottom: 4px solid #cad6d9;
	text-align: center;
	color: #86abb3;
	margin: 20px 0px 0px 0px;
	padding: 4px 0px 7px 0px; 
	font-variant: normal;}

	#tagcloud a {text-align: center; color: #86abb3; background: none;}

/* ---------------------------------------------------------------------------------- */

#commentform {border-color: #cad6d9;}

#commentform p {border-color: #cad6d9; color: #1f5a66;}

#commentform label {border-color: #cad6d9; color: #1f5a66;}

#commentform input {border-color: #cad6d9; color: #1f5a66;}

/* ---------------------------------------------------------------------------------- */

.nocomments {background: none; color: #1f5a66;}

acronym {text-decoration: none; color: #0095b3; font-style: italic;}

code {background: inherit; color: #1f5a66; text-align: right;}

ol, form {margin: 0; padding: 0; list-style-type: none;}

html[xmlns] .commentcount {position: absolute; right: 7px; top: 0;}

html>body #wp-calendar {width: 165px; text-align: left; margin-top: 8px;}

/* ---------------------------------------------------------------------------------- */

#wp-calendar caption {

	margin: 0px 0px 0px 0px;
	padding: 2px 0px 2px 2px;
	border: 1px solid #cad6d9;
	background: none;
	color: #b34700; 
	font-size: 11px;
	text-align: left;}

#wp-calendar td {

	border: 1px solid #cad6d9;
	border-collapse: collapse; 
	background: none;}

#wp-calendar td a {

	color: #b34700;
	font-weight: normal;
	display: block;
	width: 100%;}

	#wp-calendar td.pad {border: 1px solid #cad6d9; background: transparent;}

	#wp-calendar td#next {padding: 0.1em 0px; background: transparent;}

	#wp-calendar td#prev {padding: 0.1em 0px; background: transparent;}

	#wp-calendar td#next a, #wp-calendar td#prev a {display: inline;}

	#wp-calendar td#next {text-align: right;}

	#wp-calendar td#prev {text-align: left;}

/* ---------------------------------------------------------------------------------- */

.myinlinepicture {padding: 0px 0px 0px 0px;}

.myinlinepictureleft {
	float: left;
	margin: 0px 10px 0px 0px;
	padding: 0px 0px 0px 0px ;}

.myinlinepictureright {
	float: right;
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 0px ;}

/* ---------------------------------------------------------------------------------- */