/* zaklad tisku mapy nebo panelu */
html {
	width: 100%;
	height: 100%;
	-webkit-print-color-adjust: exact;
}

#map {
	display: none;
}

#layout-content {
	width: 100%;
	overflow: auto;
}

.width-1 #layout-content, .width-0 #layout-content {
	display: none;
}

.width-1 #map, .width-0 #map {
	display: block;
	right: 0;
	max-height: 100% !important;
}

/* schovavani mnoha UI elementu */

#login,
#layout-footer,
#layout-bar,
#search-results .button,
#route-form,
#corner-button,
#my-list .item .toolbar,
.tweak,
#extra,
.usermark-remove-icon {
	display: none;
}

#nearby-form {
	text-align: left;
	width: 100%;
	max-width: 100%;
}

#nearby-form label, #nearby-form input {
	position: static;
	left: auto;
	top: auto;
	display: inline;
	margin: 0;
}

#search-input, #nearby-input, #category-input {
	border: none;
}

#layout-content {
	bottom: auto;
	top: auto;
	box-shadow: none;
}

#route-results .item {
	border: none;
	border-bottom: 1px solid #909090;
	box-shadow: none;
}

#my-list .item {
	border: none;
	border-bottom: 1px solid #909090;
	box-shadow: none;
}

.modules .module-content div.gps {
	display:block;
}

.modules .module-content div.gps form {
	display:block;
}

.modules .gps input {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	border: none;
}
