@charset "utf-8";

div#bigbox			{margin:0; padding:0; width:100%;}
.header_search input[type="text"]	{width:120px;}

/*メインメニュー*/
.mainmenu			{font-size:80%;}
.mainmenu div		{width:auto; float:none;}
.mainmenu span		{width:auto;}
.mainmenu span a	{border-bottom: 1px dotted; padding:6px; text-decoration:none;}

/*トップページ*/
#toppage_menu		{background-image:url(images/rainbow_sp.gif); background-repeat:no-repeat; padding-left:15px;}

div#gaiyou			{margin:0px 5px 0px 5px; line-height:1.2;}
div#atai			{margin:0px 5px 0px 5px;}
div#kanren			{margin:0px 5px 0px 5px;}

#content_left		{width:auto; float:none; padding:0;}
#content_right		{width:auto; float:none; padding:0; margin:0;}


/*使用例*/
.siyorei_source		{margin:0px 5px 0px 5px; line-height:1.1; font-size:90%;}
.siyorei_arrow		{margin:0px 5px 0px 5px;}
.siyorei_browse		{margin:0px 5px 0px 5px;}

div.nowpage			{font-size:90%;}

/*Google*/
.ga_top				{}
.ga_middle			{width:auto; float:none;}
.ga_bottom			{width:auto; float:none;}

/*ページ内リンク*/
table.submenu		{font-size:75%;}

/**************************************
インデックスページ
***************************************/
div.itemsbody		{font-size:90%; line-height:1.1;}


/*スマホ*/
.spdisplay_inline	{display:inline;}					/*noneからinlineへ*/
.spdisplay_none		{display:none;}						/*とにかくnoneへ*/
body				{-webkit-text-size-adjust:100%;}	/*文字サイズを統一する*/
img					{max-width:100%;}
pre					{overflow:auto;}

#kirikae_btn		{display:block; text-align:right;}
#kirikae_box		{display:none;}