@charset "utf-8";

/*タイプセレクタはダメ。必ずidかclassをつけて*/

/**************************************
id
***************************************/
div#bigbox			{margin:0 auto; width:960px;}
#content_left		{width:640px; float:left; padding:0px 0px 0px 0px;}
#content_right		{width:300px; float:right; padding:0px 0px 0px 0px; margin:-10px 0px -10px 0px;}
div#nowpage strong	{font-size:120%;}
div#gaiyou			{padding:10px; background:#cccccc;}
div#kanren			{padding:10px; background:#F3F1F3; font-size:90%;}
div#abouthtmq		{text-align:center; margin:20px; font-size:80%;}
div#copy			{color:#999999; font-size:80%; font-style:normal; text-align:center;}
div#footerpr		{font-size:70%; margin:5px;}

/*トップページ*/
#toppage_menu		{background-image:url(images/rainbow.gif); background-repeat:no-repeat; padding-left:200px; line-height:1.3; font-weight:bold;}
#toppage_menu ul	{list-style-type:none;}



/**************************************
class
***************************************/
/*ロゴ・検索*/
.header_logo		{float:left;}
.header_search		{float:right; padding:10px 10px 0px 0px;}

/*メインメニュー*/
.mainmenu			{font-size:90%; font-weight:bold; clear:both;}
.mainmenu div		{width:180px; float:left;}
.mainmenu span		{display:block;}
.mainmenu span a	{display:block; padding:4px;}

/*ヘッダ*/
h1.header1			{margin:2px;}
h2.header2			{text-align:left; color:#000080; background-color:#eef3f9; margin-top:4px; margin-bottom:10px; padding:3px; font-size:120%; border-top:5px solid; border-bottom:5px solid;}
h3.header3			{text-align:left; color:#000080; margin-bottom:2px; font-size:90%;}
h4.header4			{margin:2px; font-size:90%;}
h5.itemsheader5		{margin:10px 0px 0px 5px;}

/*値*/
.atai				{padding:10px; background:#E7F1ED; font-size:90%;}
.atai dl			{margin:0px; line-height:150%;}
.atai dl dt			{font-weight:bold;}

/*使用例*/
.siyorei_source		{padding:10px; background:#F0F0E8;}
.siyorei_arrow		{padding:0px; font-size:80%;}
.siyorei_browse		{padding:10px; background:#F0F0E8;}

div.nowpage			{padding:5px;}
p.honbun			{line-height:150%; text-indent:1em;}
img.browsers		{width;30px; height:15px; margin:1px;}
img.html5add		{width;80px; height:14px;}
.lh180				{line-height:1.8}
.lh150				{line-height:1.5}
.lh120				{line-height:1.2}
.dlstyle			{line-height:1.5}
.dlstyle dt			{font-weight:bold; margin-top:5px;}

/*Google*/
.ga_top				{margin:10px 0px 10px 0px; text-align:center;}
.ga_middle			{margin:10px 0px 10px 0px; text-align:center; width:320px; float:left;}
.ga_bottom			{margin:10px 0px 10px 0px; text-align:center; width:320px; float:right;}

.memo				{line-height:150%; font-size:80%;}
.chu				{font-size:80%; color:#ff0000;}
.lrg				{font-size:120%;}
.smll				{font-size:90%;}
.sml				{font-size:80%;}
.smls				{font-size:70%;}
.cm					{text-align:center; margin:10px;}
.gry				{color:#666666;}

/*リンク*/
a:link				{color:#0000ff;}
a:visited			{color:#800080;}
a:hover				{color:#ff0000;}
a:active			{color:#ff0000;}

a.siro				{text-decoration:none;}
a.siro:link			{color:#ffffff;}
a.siro:visited		{color:#000080;}
a.siro:hover		{color:#000000; text-decoration:underline;}
a.siro:hover		{background-color:#ffCC00;}
a.siro:active		{color:#0000ff;}

a.pagemenu			{text-decoration:none;}
a.pagemenu:link		{color:#0000ff;}
a.pagemenu:visited	{color:#0000ff;}
a.pagemenu:hover	{color:#000000;text-decoration:underline;}
a.pagemenu:hover	{background-color:#66ccff;}
a.pagemenu:active	{color:#0000ff;}

a.pagemenu2			{display:block; width:100%; color:#0000ff; text-decoration:none;}
a.pagemenu2:link	{color:#0000ff;}
a.pagemenu2:visited	{color:#0000ff;}
a.pagemenu2:hover	{background-color:#66ccff; color:#000000;}

div.gopagetop				{text-align:right; font-size:small; padding:2px 0px 10px 0px; clear:both;}
div.gopagetop a				{text-decoration:none;}
div.gopagetop a:link		{color:#0000ff;}
div.gopagetop a:visited		{color:#0000ff;}
div.gopagetop a:hover		{color:#000000; text-decoration: underline;}
div.gopagetop a:hover		{background-color:#ffCC00;}
div.gopagetop a:active		{color:#ff0000;}


/**************************************
インデックスページ
***************************************/
h4.itemsheader_html	{background-color:#000080; color:#ffffff; padding:4px; margin:0px 0px 0px 0px;}
h4.itemsheader_css	{background-color:#660066; color:#ffffff; padding:4px; margin:0px 0px 0px 0px;}
h4.itemsheader_js	{background-color:#006600; color:#ffffff; padding:4px; margin:0px 0px 0px 0px;}

div.itemsbody		{background-color:#eeeeee; padding:10px 10px 10px 10px;}
div.w3curl			{font-size:70%; margin:15px 0px 0px 5px; padding:10px; line-height:1.5; background-color:#dddddd; border:1px dotted #999999;}

/*サブメニュー*/
table.submenu		{border-collapse:collapse; font-size:85%; table-layout:fixed; width:100%; margin-bottom:10px;}
table.submenu th	{border:1px #333333 solid; background-color:#ecf0e8; white-space:nowrap;}
td.js_yajirusi		{font-size:16px; width:16px; padding:0px;}


/**************************************
テーブルのスタイル
***************************************/
/*基本解説*/
.kihon				{border-collapse:collapse; width:100%; border:1px solid #333333; font-size:90%; line-height:1.5;}
.kihon td			{border:1px solid #333333; padding:5px;}
.kihon th			{border:1px solid #333333; padding:5px; background-color:#CCCCFF;}
tr.kihonh th		{background-color:#333399; color:#FFFFFF;}

/*データ管理*/
table.kanri			{border-collapse:collapse; width:100%; margin:20px auto; font-size:90%;}
table.kanri th		{background-color:#ffcc00; border:solid #000000 1px; padding:2px; white-space:nowrap;}
table.kanri td		{background-color:#ffffcc; border:solid #000000 1px; padding:2px;}


/*パンダ*/
h4.panda			{text-align:center; font-size:150%; margin:20px;}
.pandatable			{width:100%; border:0;}
.pandatable td		{background-color:#eeeeee; padding:12px; vertical-align:top; }
.pandatable th		{background-color:#D8D8D8; padding:12px; vertical-align:top; text-align:right; width:100px; font-weight:normal;}



/*サーバー比較*/
table.server		{border-collapse:collapse; width:100%; font-size:90%; border-top:solid #000000 1px; line-height:150%;}
table.server th		{background-color:#CCCCFF; border-top:solid #000000 1px; border-bottom:solid #000000 1px; border-left:dotted #000000 1px; border-right:dotted #000000 1px; padding:4px; white-space:nowrap;}
table.server td		{background-color:#EFECF4; border-top:solid #000000 1px; border-bottom:solid #000000 1px; border-left:dotted #000000 1px; border-right:dotted #000000 1px; padding:4px;}
tr.theader th		{background-color:#336699; border-top:solid #000000 1px; border-bottom:solid #000000 1px; border-left:dotted #000000 1px; border-right:dotted #000000 1px; padding:4px; color:#ffffff; white-space:nowrap;}
table.server th img	{width:24px; height:24px; vertical-align:bottom; margin:0px 2px 0px 0px; cursor:pointer;}

table.serverd		{border-collapse:collapse; width:100%; font-size:80%; border-top:solid #000000 1px; line-height:120%;}
table.serverd th	{border:solid #ffffff 1px; padding:2px; width:80px; font-weight:normal;}
table.serverd td	{border:solid #ffffff 1px; padding:2px;}

table.womdata		{border-collapse:collapse; font-size:80%; border:0px; margin:5px 0px 0px 0px; line-height:120%;}
table.womdata th	{border:0px; padding:1px; width:60px; font-weight:normal; text-align:left; background-color:#EFECF4;}
table.womdata td	{border:0px; padding:1px; background-color:#EFECF4;}

/*スマホ*/
#kirikae_btn		{display:none;}