#main_nav .locale-navDropdown {
	display: none;
	position: absolute;
	z-index: 3;
	width: 190px;
	border: 2px solid #0071A3;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}

#main_nav li.nav:hover .locale-navDropdown {
	display: block;
}

#main_nav .locale-navDropdown li {
	list-style: none;
}

#main_nav .locale-navDropdown .cats {
	float: none;
}

#main_nav .locale-navDropdown li.cats {
	width: 140px;
	padding: 0px;
	margin-left: 30px;
	margin-bottom: 10px;
}

#main_nav .locale-navDropdown li a {
	color: #402f1d;
	font-size: 14px;
	font-weight: normal;
	text-shadow: none;
	padding: 0px;
	text-align: left;
}
#main_nav .locale-navDropdown li.cats a {
	color: #402f1d;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	height: 18px;
}

#main_nav .locale-navDropdown a.category-nav:hover {
	color: #ED1D4D;
}



 #overlay {
	position:fixed; 
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
	filter: alpha(opacity=50);
	z-index:9998;
}

#modal {
	position:absolute;
	z-index:9999;
	padding:20px;
	background:url(http://ak.imgfarm.com/images/mfc/v3/misc/portuguese_modal.png) 0 0 no-repeat;
	width:377px;
	height:180px;
}

.closebtn {
	position:absolute;
	top:20px;
	right:40px;
}

#content {
	position: absolute;
	top: 120px;
	right: 120px
}

