/* GLOBAL ELEMENTS */
html,body {
   margin: 0; padding: 0;
   background: #AFE38C;
   font-size: 100%;
   font-family: "trebuchet ms", arial, verdana;
   color: #444;
   text-align: center;
}
a {
   color: #329B2F;
   text-decoration:none; 
}
a:hover {
   text-decoration: underline;
}
a.red {
   color: red;
   text-decoration:none; 
}
p {
   color: #444;
   line-height: 170%; margin: 5px 0;
}
p, td, th, ul {
   font-size: 80%;
}

/* LAYOUT */
#wrapper {
   width: 728px;
   margin: 0 auto 0 auto;
   text-align: left;
}

#content {
   background: #fff;
   border-top: 3px solid #329B2F;
   border-bottom: 3px solid #329B2F;
   padding: 20px;
}

/* ELEMENTS */
h1 {
   font: 250% "trebuchet ms";
   color: #fff;
   padding: 40px 0 10px 10px;
   margin: 0;
}
h1 span { color: #6BAD42; }
h1 a { color: #FFF; }
h1 a:hover { color: #6BAD42;  text-decoration: none;}
h1 a:hover span { color: #FFF;}
h2 {
   font: bold 100% arial, verdana, sans-serif;
   color: #3AA723;
   border-bottom: 1px solid #ccc;
   padding-bottom: 3px;
   margin: 25px 0 10px 0;
}
h4 {
  margin-top: 0.7em;
  margin-bottom: 0;
}
p.main+p.main { padding-top: 1em; }
form.form { font-size: 80%; background-color: #f5f5f5; padding: 0 10px 10px;}
#options {
   list-style-type: none;
   width: 528px;
   margin: 10px; padding: 0;
}
#options li { 
   float: left;
   width: 240px;
   border-left: 5px solid #ccc;
}
#footer {
   margin: 10px 0 0 0; 
   font-size: 80%;
   color: #AAAAAA;
   text-align: center;
}
#nav {
   text-align: right;
   list-style-type: none;
   font-size: 80%;
   border-top: 1px solid #ccc;
   margin: 20px 0 0 0;
   padding: 0;
}
#nav li {
   padding: 0 5px 0 5px;
   display: inline;
   border-left: 1px solid #ccc;
}
.left {
   float: left;
}

/* STYLES */
.first { margin-top: 0 }
input.textbox { width: 528px; font: 120% arial, verdana, sans-serif; }
input.button {font: 120% arial, verdana, sans-serif; margin-top: 10px;}
label { font-weight: light; }
#error {
   border: 1px solid red;
   border-left: 5px solid red;
   padding: 2px;
   margin: 5px 0 15px 0;
   background: #eee;
}

/* TABLES USED IN COOKIE MANAGEMENT / EDIT BROWSER PAGES */
table {
   border-color: #666;
   border-width: 0 0 1px 1px;
   border-style: solid;
   width: 50%;
}
th {
   font-size: normal;
   background: #ccc;
   border-width: 2px;
}
td, th {
   border-color: #666;
   border-width: 1px 1px 0 0;
   border-style: solid;
   padding: 2px 10px 2px 10px;
}
td {background: #eee;}
.full-width {
   width: 98%;
}
.large-table { 
   width: 75%; 
   margin-top: 15px;
}
.large-table td, .large-table th {
   padding: 5px;
}
td.small-note {
   font-size: 60%;
   padding: 2px;
   text-align: right;
}

.lang-selector {
    float: right;
}

.form ul {
  margin: 5px 0 0;
  padding-left:0;
  list-style-type:none;
  list-type:inside;
}

.form ul li {
  background:url('../img/list.gif') no-repeat 10px 9px;
  padding-left:20px;
  _background-position: 10px 12px; /* show to IE6 */
}

html>body .form ul li {
  *background-position: 10px 12px; /* show to IE6 */ 
}

.form ul li a {
  font-size: 13px;
  font-weight:bold;
}

#footer_ad {
margin-left: auto;
margin-right: auto;
text-align: center;
}

/* TOOLTIP HOVER EFFECT */
label { font-weight: bold; line-height: 20px; cursor: help; }
#tooltip{ width:20em; color: #fff; background: #555; font-size: 12px; font-weight: normal; padding: 5px; border: 3px solid #333; text-align: left; }
