.gamephp1 A:link {text-decoration: none; color: #000033;}
.gamephp1 A:visited {text-decoration: none; color: #000033;}
.gamephp1 A:active {text-decoration: underline; color: #000033;}
.gamephp1 A:hover {text-decoration: underline; color: #000033;}

.header1 A:link {text-decoration: none; color: #CCCCCC;}
.header1 A:visited {text-decoration: none; color: #CCCCCC;}
.header1 A:active {text-decoration: none; color: #EFEFEF;}
.header1 A:hover {text-decoration: none; color: #EFEFEF;}

.header2 A:link {text-decoration: none; color: #99CC00;}
.header2 A:visited {text-decoration: none; color: #99CC00;}
.header2 A:active {text-decoration: none; color: #D1E78C;}
.header2 A:hover {text-decoration: none; color: #D1E78C;}

.top10 A:link {text-decoration: none; color: #003467;}
.top10 A:visited {text-decoration: none; color: #003467;}
.top10 A:active {text-decoration: none; color: #006396;}
.top10 A:hover {text-decoration: none; color: #006396;}

.footer1 A:link {text-decoration: none; color: #333333;}
.footer1 A:visited {text-decoration: none; color: #333333;}
.footer1 A:active {text-decoration: underline; color: #666666;}
.footer1 A:hover {text-decoration: underline; color: #666666;}

.gamephpmini1 A:link {text-decoration: none; color: #000000;}
.gamephpmini1 A:visited {text-decoration: none; color: #000000;}
.gamephpmini1 A:active {text-decoration: underline; color: #000000;}
.gamephpmini1 A:hover {text-decoration: underline; color: #000000;}

.grey A:link {text-decoration: underline; color: #333333;}
.grey A:visited {text-decoration: underline; color: #333333;}
.grey A:active {text-decoration: underline; font-weight: bold; color: #666666;}
.grey A:hover {text-decoration: underline; font-weight: bold; color: #666666;}

.allcategoriesabout A:link {text-decoration: underline; color: #000000;}
.allcategoriesabout A:visited {text-decoration: underline; color: #000000;}
.allcategoriesabout A:active {text-decoration: underline; font-weight: bold; color: #000000;}
.allcategoriesabout A:hover {text-decoration: underline; font-weight: bold; color: #000000;}

.special1 A:link {text-decoration: none; color: #000000;}
.special1 A:visited {text-decoration: none; color: #000000;}
.special1 A:active {text-decoration: none; color: #003467;}
.special1 A:hover {text-decoration: none; color: #003467;}

.scgmd3-download A:link {text-decoration: none; color: #000066;}
.scgmd3-download A:visited {text-decoration: none; color: #000066;}
.scgmd3-download A:active {text-decoration: none; color: #AABBCC;}
.scgmd3-download A:hover {text-decoration: none; color: #AABBCC;}

.randombox A:link {text-decoration: none; color: #333333;}
.randombox A:visited {text-decoration: none; color: #333333;}
.randombox A:active {text-decoration: none; color: #006396;}
.randombox A:hover {text-decoration: none; color: #006396;}

.editorial1 A:link {text-decoration: none; color: #333333;}
.editorial1 A:visited {text-decoration: none; color: #333333;}
.editorial1 A:active {text-decoration: underline; color: #333333;}
.editorial1 A:hover {text-decoration: underline; color: #333333;}

.editorial2 A:link {text-decoration: none; color: #003467;}
.editorial2 A:visited {text-decoration: none; color: #003467;}
.editorial2 A:active {text-decoration: none; color: #003467;}
.editorial2 A:hover {text-decoration: none; color: #003467;}

.editorial3 A:link {text-decoration: none; color: #000000;}
.editorial3 A:visited {text-decoration: none; color: #000000;}
.editorial3 A:active {text-decoration: none; color: #333333;}
.editorial3 A:hover {text-decoration: none; color: #333333;}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#efefef;
	padding:2px;
	color:#fff;
	font-size:12px Arial;
}



#preroll { font-family: Arial, Helvetica, sans-serif; background: #000 url(http://i.notdoppler.com/img/__preroll-gradient.gif) repeat-x; position: relative; }#prerolltitle { position: absolute; left: 0px; top: 16px; text-transform: uppercase; font-weight: bold; background-color: #DEDFDF; height: 40px; text-align: center; width: 100%; }#prerolltitle span { font-size: 12px; line-height: 15px; color: #B74632; margin: 4px 0px 0px 0px; display: block; }#prerolltitle h2 { font-size: 18px; line-height: 18px; margin: 0px; padding: 0px; color: #3F2523; }#prerollprogress { text-align: left; color: #66CC33; position: absolute; left: 0px; bottom: 10px; width: 100%; }#prerollcontinue { display: block; text-align: center; color: #FFF; font-size: 15px; font-weight: bold; text-decoration: none; }#progresspercent { display: block; text-align: center; font-size: 12px; font-weight: bold; color: #6C3; }#progressbar { margin: 4px; height: 4px !important; line-height: 4px !important; overflow: hidden; background-color: #E0E7E3; display: block; }#adcode { position: absolute; }