/* global tag styles */
body { background-color:#fff; margin: 0; font: 12px Arial, Helvetica, Sans-Serif; }
textarea { font-family:Arial, Helvetica, Sans-Serif; }
form { margin: 0; }
img { border:none; }
a { color: #000000; text-decoration: none; outline: none; font-family:Arial, Helvetica, Sans-Serif;  }

/* shared class styles */
.g-inline_block { display: inline-block; vertical-align: top; zoom: 1; *display: inline; }

/* global class styles */
.page_body { padding: 0 0 1px; width: 970px; margin: 0px auto;}
.page_header { position: relative; margin: 0px 0px 0px 8px; width: 954px; }
.page_header .logo { float: left; height: 107px; width: 220px; overflow: hidden; }
.page_header .logo  a { display: block; }
.page_header .features { float: right; }
.page_header .features a { font-size: 11px; line-height: 24px; display: block; float: right; position: relative;  margin: 0 4px 0 0; padding: 0px 10px 0px 30px; height: 25px; background: #fff; border-width: 0px 1px 1px; border-style: solid; border-color: #e6e6e6; border-radius: 0 0 7px 7px; box-shadow: 2px 0px 2px #eee; }
.page_header .features a .icon { display: block; height: 20px; width: 20px; position: absolute; left: 5px; top: 2px;  }
.page_header .features a.bookmark .icon { background: url(../images/sprite_no-repeat.png) -220px 0px repeat-x; } 
.page_header .features a.make_homepage .icon  { background: url(../images/sprite_no-repeat.png) -240px 0px repeat-x;  }
.page_header .features a.header_rss .icon  { background: url(../images/sprite_no-repeat.png) -260px 0px repeat-x; }
.page_header .search_query_sample { height: 40px; }
.page_header .search_query_sample .exx { font-size: 12px; padding: 20px 0px 5px; }
.page_header .search_query_sample .exx span { cursor: pointer; text-decoration: underline; }
.page_header .search_form  { height: 32px; }
.page_header .search_form .query { display: block; float: left; width: 450px; height: 25px; line-height: 25px; font: 16px Arial; padding: 0px 7px; margin: 0px; border: 1px solid #b9b9b9; border-radius: 7px; background: url(../images/sprite_repeat-x.png) 0px -70px repeat-x; }
.page_header .search_form .button { display: block; float: left; box-sizing: content-box; margin: -1px 0px 0px 7px; width: 124px; height: 30px; padding: 0px; border: 0px; background: url(../images/sprite_no-repeat.png) -96px 0px no-repeat; }
.page_body_fr 
.page_header .search_form .button  { height: 31px; background: url(/i/common/search_input_bg_fr.jpg) no-repeat scroll -472px -4px transparent; }
.page_body_de 
.page_header .search_form .button  { height: 31px; background: url(/i/common/search_input_bg_de.jpg) no-repeat scroll -472px -4px transparent; }
.page_body_it
.page_header .search_form .button  { height: 31px; background: url(/i/common/search_input_bg_it.jpg) no-repeat scroll -472px -4px transparent; }
.page_body_es 
.page_header .search_form .button  { height: 31px; background: url(/i/common/search_input_bg_es.jpg) no-repeat scroll -472px -4px transparent; }
.page_body_pt 
.page_header .search_form .button  { height: 31px; background: url(/i/common/search_input_bg_pt.jpg) no-repeat scroll -472px -4px transparent; }
.page_body_tr 
.page_header .search_form .button  { height: 31px; background: url(/i/common/search_input_bg_tr.jpg) no-repeat scroll -472px -4px transparent; }
.page_header .language_menu { margin-top: 5px; left: 4px; height: 28px; float:right;  position: relative; background: url(../images/sprite_no-repeat.png) no-repeat -280px 0px;}
.page_header .top_menu { margin: 5px 0px 0px 200px; }
.page_header .top_menu .item { float: left; position: relative; margin-left: 8px; height: 30px; background: url(../images/sprite_repeat-x.png) 0px 0px repeat-x #2dabb9; }
.page_header .top_menu .item a { font: bold 16px Arial; text-decoration: none; color: white; line-height: 28px; display: block; padding: 2px 9px 0px; }
.page_header .top_menu .item .decor .left { display: block; width: 13px; height: 30px; position: absolute; left: -8px; top: 0px; background: url(../images/sprite_no-repeat.png) -47px 0px repeat-x; }
.page_header .top_menu .item .decor .right { display: block; width: 5px; height: 5px; position: absolute; right: 0px; top: 0px; background: url(../images/sprite_no-repeat.png) -65px 0px repeat-x; }
.page_header .top_menu .item .submenu { border: 1px solid #C1C7CD; display: none; left: 0px; position: absolute; top:35px; z-index: 100; }
.page_header .top_menu .item .submenu a { color: #000000; background: #fff; border-bottom: 1px solid #C1C7CD; display: block; font-size: 15px; font-weight: normal; height: 24px; line-height: 15px; padding: 9px 13px 0 35px; position: relative; width: 142px; }
.page_header .top_menu .item .submenu a:hover { color: #fff; background: url(../images/sprite_repeat-x.png) 0px -95px repeat-x #189baf; }
.page_header .top_menu .item .submenu a i { display: block; position: absolute;  }
.page_header .top_menu .item .submenu a.ios i { height: 22px; width: 14px; left: 11px; top: 5px; background: url(../images/sprite_no-repeat.png) -410px 0px no-repeat; }
.page_header .top_menu .item .submenu a.pc i { height: 22px; width: 25px; left: 5px; top: 8px; background: url(../images/sprite_no-repeat.png) -424px 0px no-repeat; }
.page_header .top_menu .item .submenu a.android i { height: 24px; width: 21px; left: 7px; top: 4px; background: url(../images/sprite_no-repeat.png) -449px 0px no-repeat; }
.page_header .top_menu .item .submenu a.last { border-bottom: 0 none; }
.page_header .top_menu .item .arrowd,
.page_header .top_menu .item .arrowu { display: inline-block; height: 8px; position: relative; top: -1px; margin-left: 1px; width: 10px; }
.page_header .top_menu .item .arrowd { background: url(../images/sprite_no-repeat.png) -410px -22px no-repeat transparent; }
.page_header .top_menu .item .arrowu { background: url(../images/sprite_no-repeat.png) -420px -22px no-repeat transparent;  }
.page_header .top_menu .home_item { padding-left: 4px; margin-left: -4px; background: url(../images/sprite_no-repeat.png) 0px 0px no-repeat #2dabb9; }
.page_header .top_menu .home_item a { width: 12px; height: 28px; }
.page_header .top_menu .last_shadow { float: left; width: 4px; height: 30px; background: url(../images/sprite_no-repeat.png) -76px 0px no-repeat;  }
.page_header .bottomline { height: 5px; clear: both; margin: 0px 0px 0px -200px; margin-bottom: 5px; background: url(../images/sprite_repeat-x.png) 0px -30px repeat-x; }
.page_header .top_menu .selected_item { background: url(../images/sprite_repeat-x.png) 0px -35px repeat-x #d5d5d5; }
.page_header .top_menu .selected_item a { color: #555555; }
.page_header .top_menu .selected_item .decor .left { background: url(../images/sprite_no-repeat.png) -34px 0px no-repeat; }
.page_header .top_menu .selected_item .decor .right { background: url(../images/sprite_no-repeat.png) -60px 0px no-repeat; }
.page_header .top_menu .selected_item .arrowd { background: url(../images/sprite_no-repeat.png) -430px -22px no-repeat transparent; }
.page_header .top_menu .selected_item .arrowu { background: url(../images/sprite_no-repeat.png) -440px -22px no-repeat transparent;  }
.page_header .top_menu_with_selected_item .bottomline { background: url(../images/sprite_repeat-x.png) 0px -65px repeat-x; }
.page_header .adsensemenu_top { padding: 4px 0px 0px 0px; height: 20px; }
.page_header .breadcrumb { font-size: 11px; padding: 5px 0 10px 5px; }
.page_header .breadcrumb a { text-decoration: underline; color: #000000; }
.page_header .breadcrumb a:hover { color: #930707; }
.page_header .breadcrumb h1 { font-size: 11px; margin: none; display: inline; font-weight: normal; } 

.page_footer  { text-align: center; margin: 0 0 0 8px; padding: 6px 0px 0px 0px; clear: both; }
.page_footer .adsensemenu_bottom { padding: 4px 0px 0px 0px; height: 20px; }
.page_footer .language_menu { clear: both; font-weight: bold; margin: 15px 0 0; padding-bottom: 12px; text-align: center; }
.page_footer .seo_text { font-size: 10px; font-weight: normal; text-align: center; padding: 1px 0 12px; }
.page_footer .seo_text b { font-weight: normal; }
.page_footer .bottom_menu { color: #555555; word-spacing: 3px; padding: 12px 85px 0; margin: 3px 0 0; border-top: 1px dotted #999999; }
.page_footer .bottom_menu a { color: #555555; word-spacing: 0; white-space: nowrap; text-decoration: underline; }
.page_footer .bottom_menu a:hover { text-decoration: none; }
.page_footer .copyright { color: #555555; font-size: 11px; }
.page_footer .copyright p  { margin: 10px 0 20px; }
.page_footer .copyright a  { color: #1393A9; text-decoration: underline; }
.page_footer .copyright a:hover  { color: #155a4e;  }

.page_body_it
.page_footer .bottom_menu { padding: 12px 90px 0; }
.page_body_es
.page_footer .bottom_menu { padding: 12px 35px 0; }
.page_body_pt
.page_footer .bottom_menu { padding: 12px 65px 0; }

.language_menu i { width: 22px; height: 15px; }
.language_menu .lang_en i { background: url(../images/flags.png) 0px 0px no-repeat;  }
.language_menu .lang_fr i { background: url(../images/flags.png) 0px -15px no-repeat;  }
.language_menu .lang_de i { background: url(../images/flags.png) -22px 0px no-repeat;  }
.language_menu .lang_it i { background: url(../images/flags.png) -22px -15px no-repeat;  }
.language_menu .lang_es i { background: url(../images/flags.png) -44px 0px no-repeat;  }
.language_menu .lang_pt i { background: url(../images/flags.png) -44px -15px no-repeat;  }
.language_menu .lang_tr i { background: url(../images/flags.png) -66px 0px no-repeat;  }
.page_header .language_menu i  { display: block; float: left; margin: 0 4px 0 4px; }
.page_header .language_menu .selected i { margin: 4px 4px 0 13px; }
.page_header .language_menu .options { padding-bottom: 1px; }
.page_header .language_menu .options div { margin: 0 0 1px; padding: 2px 0; clear: left; height: 15px; }
.page_header .language_menu a { display: block; float: left; margin: 1px 0 0; }
.page_footer .language_menu i { display: inline-block; vertical-align: top; margin: 0 5px 0 15px; }

.categoriesmenu_sidebar { float: left; width: 160px; margin-left: 8px; margin-right: 8px; }
.categoriesmenu_sidebar .contentbox_content { padding: 0 0 8px 0; }
.categoriesmenu_sidebar ul.menu_categories { list-style: none; margin: 0; padding: 0; }
.categoriesmenu_sidebar ul.menu_categories li {font-size: 14px; padding: 5px 0 5px 14px; border-top: 1px solid #C1C7CD;  }
.categoriesmenu_sidebar ul.menu_categories li.first { padding: 7px 0 5px 14px; border-top: none; } 
.categoriesmenu_sidebar ul.menu_categories li.last { padding: 5px 0 0 14px; }

.top10_sidebar { float: left; width: 240px; }
.top10_sidebar .game { clear: left; position: relative; height: 77px; margin-right: 4px; margin-top: 10px; border-bottom: 1px dashed #CCCCCC; }
.top10_sidebar .game .number { color: #ffffff; font-style: normal; font-size: 11px; text-align: center; display: block; float: left; width: 16px; height: 15px; background: url(../images/sprite_no-repeat.png) -60px -15px no-repeat; }
.top10_sidebar .game .image { float: left; display: block; width: 90px; margin: 0px 5px 0px 1px;  }
.top10_sidebar .game .image img  { display: block;}
.top10_sidebar .game .name { color: #000000; font: 15px; text-decoration: underline; display: block; max-height: 30px; overflow: hidden; margin: 0px 0px 4px 110px; }
.top10_sidebar .game .download,
.top10_sidebar .game .learnmore { font-size: 10px; line-height: 13px; text-decoration: underline; display: block; position: absolute; left: 112px; width: 120px; }
.top10_sidebar .game .download i,
.top10_sidebar .game .learnmore i { height: 15px; width: 16px; display: block; float: left; margin-right: 3px;  }
.top10_sidebar .game .download { color: #000000; top: 34px; }
.top10_sidebar .game .learnmore { color: #B78021; top: 52px; }
.top10_sidebar .game .download i { background: url(../images/sprite_no-repeat.png) -80px 0px no-repeat; }
.top10_sidebar .game .learnmore i { background: url(../images/sprite_no-repeat.png) -80px -15px no-repeat; }
.top10_sidebar .viewall { font-size: 14px; height: 24px; padding-top: 10px; text-align: center; }
.top10_sidebar .viewall a { color: #FA1111; text-decoration: underline; }
.top10_sidebar .viewall a:hover { text-decoration: none; }
.page_body_es 
.top10_sidebar .contentbox_heading { padding-left: 3px; }
.page_body_es 
.top10_sidebar .contentbox_heading p { font-size: 15px; line-height: 21px;  }
.page_body_es 
.top10_sidebar .viewall { font-size: 13px; }

.page_content .features_h { height: 161px; }
.page_content .features_h .features_h_right { margin-left: 5px; width: 250px; }
.page_content .features_h .features_h_right a { display: block; float: left; margin: 0px 0px 0px 15px; padding: 5px 0px 0px 0px; height: 48px; width: 108px; font-size: 11px; }
.page_content .features_h .features_h_right a i { display: block; float: left; height: 40px; width: 40px; margin: -5px 3px 0px 0px; background-image: url(../images/features_h_sprite.jpg);}
.page_content .features_h .features_h_right a.tell_a_friend i { background-position: -40px 0px; }
.page_content .features_h .features_h_right a.make_a_homepage i { background-position: -80px 0px; }
.page_content .features_h .features_h_right a.bookmark i { background-position: -120px 0px; }
.page_content .features_h .features_h_right a.free_content i { background-position: -160px 0px; }
.page_content .features_h .features_h_right a.gadget i { background-position: -200px 0px; }
.page_sidebar .features_v .subscribe { padding: 75px 0 10px; width: 150px; }
.page_sidebar .features_v .features { padding: 4px 0 0 1px; width: 145px; margin: 0 auto; border-top: 1px solid #c3c3c3; }
.page_sidebar .features_v .features a { text-decoration: underline; display: block;  clear: left; margin: 0 -5px 0 0; padding: 4px 0 0 0; height: 28px; width: 150px; font-size: 11px; }
.page_sidebar .features_v .features a:hover { color: #930707; }
.page_sidebar .features_v .features a i { display: block; float: left; height: 25px; width: 25px; margin: 2px 5px 0 0; background-image: url(../images/features_v_sprite.jpg);}
.page_sidebar .features_v .features a u { display: table-cell; line-height: 13px; height: 26px; vertical-align: middle; }
.page_sidebar .features_v .features a.tell_a_friend i { background-position: -24px -1px; }
.page_sidebar .features_v .features a.make_a_homepage i { background-position: -75px 0px; }
.page_sidebar .features_v .features a.bookmark i { background-position: -49px -1px; }
.page_sidebar .features_v .features a.free_content i { background-position: -101px 1px; }
.page_sidebar .features_v .features a.gadget i { background-position: -124px; }

.contentbox { margin-bottom: 10px; }
.contentbox_heading { height: 30px; padding: 0px 0px 0px 5px; border-radius: 5px 5px 0px 0px; background: url(../images/sprite_repeat-x.png) 0px 0px repeat-x #2dabb9; }
.contentbox_heading  img { float: left; }
.contentbox_heading  h1, 
.contentbox_heading  h2,  
.contentbox_heading  h3,
.contentbox_heading  h4,
.contentbox_heading  p { margin: 0px; padding: 5px 0 0; line-height: 21px; height: 21px; overflow: hidden; color: #fff; font-size: 16px; font-weight: bold; }
.contentbox_heading  a { color: #fff; font-size: 16px; font-weight: bold; }
.contentbox_caption { height: 8px; position: relative; margin-bottom: 7px; top: 7px; border-left: 1px solid #c1c7cd; border-right: 1px solid #c1c7cd; border-top: 1px solid #c1c7cd; border-radius: 7px 7px 0px 0px; }
.contentbox_caption  h1, 
.contentbox_caption  h2, 
.contentbox_caption  h3, 
.contentbox_caption  h4, 
.contentbox_caption  p { float: left; position: absolute; top: -8px; left: 12px; margin: 0px; background: white; color: #930707; font-size: 14px; font-weight: bold; padding: 0 5px; text-transform: capitalize; }
.contentbox_content  { padding: 5px 0px 9px 7px; border-left: 1px solid #c1c7cd; border-right: 1px solid #c1c7cd; border-bottom: 1px solid #c1c7cd; border-radius: 0px 0px 7px 7px; }

/* Google Plus */
.google_plus_container { float: right; position: relative; }
.google_plus { position: absolute; top: 3px; right: -1px; width: 240px; } 
.google_plus .google_plus_one { float: right; padding: 4px 0 0 0; }
.google_plus .google_plus_icon { float: right; }

/* Social buttons */
.social_buttons_container { float: right; position: relative; }
.social_buttons { position: absolute; top: 3px; right: -1px; width: 240px; text-align: right; }
.social_buttons .google_plus_one { padding: 4px 0 0 0; }
a.social_button {
		width: 27px;
		height: 27px;
		margin: 0 0 0 7px;
		font-size: 0;
		color: transparent;
		background-repeat: no-repeat;
}
.page_body .social_button {
		background-image: url(../../social_button/social_button_en.png);
}
.page_body_ru .social_button {
		background-image: url(../../social_button/social_button_ru.png);
}
.social_button_google_plus {
		background-position: 0 0;
}
.social_button_facebook {
		background-position: -28px 0;
}
.social_button_twitter {
		background-position: -56px 0;
}

/* Index Page */
.indexpage_content { float: left; width: 538px; margin-right: 8px; }
.indexpage_sidebar,
.indexpage_content { margin-top: 15px;}
.indexpage_content .new_games_switcher { position: relative; padding: 236px 0px 0px 0px; height: 150px; }
.indexpage_content .new_games_switcher .game { float: left; }
.indexpage_content .new_games_switcher .game_small { position: relative; left: -2px; top: 1px; z-index: 2; width: 110px; height: 130px; padding: 18px 12px 0px 10px; }
.indexpage_content .new_games_switcher .game_small a.image { display: block; }
.indexpage_content .new_games_switcher .game_small a.image img { display: block; margin: 0px auto 0px auto; }
.indexpage_content .new_games_switcher .game_small a.name { font: 14px Arial; color: #012226; text-decoration: none; text-align: center; margin: 5px 0px 0px 0px; height: 34px; overflow: hidden; display: block;  }
.indexpage_content .new_games_switcher .game_small i { display: none; position: absolute; top: -3px; left: 62px; height: 3px; width: 7px; background: url(../images/mainpage_newgames_sprite.png) 0 -150px no-repeat; }
.indexpage_content .new_games_switcher .game_large { display: none; position: absolute; z-index: 1; top: 1px; left: 0px; height: 56px; width: 522px; padding: 180px 0px 0px 0px; }
.indexpage_content .new_games_switcher .game_large img { position: absolute; top: 0px; left: 0px; }
.indexpage_content .new_games_switcher .game_large a { display: block; height: 236px; width: 522px; margin: 0; padding: 0px; position: absolute; left: 0px; top: 0px; z-index: 50; }
.indexpage_content .new_games_switcher .game_large a p { position: relative; z-index: 2; top: 191px; left: 12px; font: bold 13px Arial; color: white; margin: 0px; padding: 0px; width: 340px; height: 32px; overflow: hidden; }
.indexpage_content .new_games_switcher .game_large a i { display: block; position: absolute; top: 0px; right: 0px;  width: 120px; height: 90px; background: url(../images/mainpage_newgames_sprite.png) -12px -170px no-repeat; } 
.indexpage_content .new_games_switcher .game_large a b { display: block; position: absolute; top: 198px; left: 386px; height: 20px; width: 120px; background: url(../images/mainpage_newgames_sprite.png) -12px -150px no-repeat; }
.indexpage_content .new_games_switcher .game-on-front .game_small { background: url(../images/mainpage_newgames_sprite.png) 0 0 no-repeat; }
.indexpage_content .new_games_switcher .game-on-front .game_small a.name { font: bold 14px Arial; color: white; text-align: center; text-shadow: 0px 0px 3px #000000; }
.indexpage_content .new_games_switcher .game-on-front .game_small i { display: block; } 
.indexpage_content .new_games_switcher .game-on-front .game_large { display: block; } 
.indexpage_content .editors_picks .game { float: left; margin: 0 8px 0 1px; width: 164px; }
.indexpage_content .editors_picks .game a.image { display: block; }
.indexpage_content .editors_picks .game a.name { color: #000000; text-decoration: underline; font-size: 14px; line-height: 17px; vertical-align: bottom; padding: 0 0 3px 10px; height: 35px; display: table-cell; max-height: 35px; overflow: hidden; *display: inline; *zoom: 1;}
.indexpage_content .editors_picks .game a.name:hover { color: #930707; }
.indexpage_content .editors_picks .game p.description { font-size: 10px; line-height: 14px; height: 42px; margin: 2px 0 0 10px; overflow: hidden; }
.indexpage_content .top_online_games .games { padding: 4px 0px 10px 7px; height: 232px; }
.indexpage_content .top_online_games .game { height: 110px; width: 120px; margin: 0px 5px 6px 5px; float: left; }
.indexpage_content .top_online_games .game a.name { font: 11px Arial; color: black; vertical-align: bottom; text-align: center; text-decoration: underline; line-height: 13px; max-height: 26px; width: 110px; padding: 0px 0px 0px 5px; display: inline-block;}
.indexpage_content .top_online_games .game span { height: 26px; width: 1px; display: inline-block;}
.indexpage_content .top_online_games .game a.thumb { display: block; width: 90px; margin: 2px auto; }
.indexpage_content .top_online_games .game a.thumb img { display: block; }
.indexpage_content .top_online_games .game a.playonline { display: block; width: 90px; margin: 0px auto; }

.epic_game_box { height: 37px; }

.page_body_fr
.indexpage_content .new_games_switcher .game_large a i { background: url(/i/common/mainpage_newgames_new_fr.gif) 0 0 no-repeat; } 
.page_body_fr
.new_games_switcher .game_large a b { background: url(/i/common/mainpage_newgames_learnmore_fr.jpg) 0 0 no-repeat; }
.page_body_de
.new_games_switcher .game_large a i { background: url(/i/common/mainpage_newgames_new_de.gif) 0 0 no-repeat; } 
.page_body_de
.new_games_switcher .game_large a b { background: url(/i/common/mainpage_newgames_learnmore_de.jpg) 0 0 no-repeat; }
.page_body_it
.new_games_switcher .game_large a i { background: url(/i/common/mainpage_newgames_new_it.gif) 0 0 no-repeat; } 
.page_body_it
.new_games_switcher .game_large a b { background: url(/i/common/mainpage_newgames_learnmore_it.jpg) 0 0 no-repeat; }
.page_body_es
.new_games_switcher .game_large a i { background: url(/i/common/mainpage_newgames_new_es.gif) 0 0 no-repeat; } 
.page_body_es
.new_games_switcher .game_large a b { background: url(/i/common/mainpage_newgames_learnmore_es.jpg) 0 0 no-repeat; }
.page_body_pt
.new_games_switcher .game_large a i { background: url(/i/common/mainpage_newgames_new_pt.gif) 0 0 no-repeat; } 
.page_body_pt
.new_games_switcher .game_large a b { background: url(/i/common/mainpage_newgames_learnmore_pt.jpg) 0 0 no-repeat; }

/* Index Page 2014 */
.indexpage_content_top { height: 260px; padding: 15px 8px 0; }
.indexpage_content_top .advertisement_1 { height: 250px; width: 300px; float: right; padding: 8px 0 0; }
.indexpage_content_top .new_games { width: 646px; margin-bottom: 0; }
.indexpage_content_top .new_games_switcher { position: relative; height: 232px; }
.indexpage_content_top .new_games_switcher .game_small { position: relative; left: -1px; top: 0; z-index: 2; width: 90px; height: 67px; padding: 6px 12px 6px 7px; }
.indexpage_content_top .new_games_switcher .game_small a.image { display: block; }
.indexpage_content_top .new_games_switcher .game_small a.image img { display: block; margin: 0px auto 0px auto; }
.indexpage_content_top .new_games_switcher .game_small i { display: none; position: absolute; top: 30px; right:-7px; height: 18px; width: 7px; background: url(../images/mainpage_2014_newgames_sprite.png) 0 -110px no-repeat; }
.indexpage_content_top .new_games_switcher .game_large { display: none; position: absolute; z-index: 1; top: 0; left: 108px; height: 56px; width: 522px; padding: 180px 0px 0px 0px; }
.indexpage_content_top .new_games_switcher .game_large img { position: absolute; top: 0px; left: 0px; }
.indexpage_content_top .new_games_switcher .game_large a { display: block; height: 236px; width: 522px; margin: 0; padding: 0px; position: absolute; left: 0px; top: 0px; z-index: 50; }
.indexpage_content_top .new_games_switcher .game_large a p { position: relative; z-index: 2; top: 191px; left: 12px; font: bold 13px Arial; color: white; margin: 0px; padding: 0px; width: 340px; height: 32px; overflow: hidden; }
.indexpage_content_top .new_games_switcher .game_large a i { display: block; position: absolute; top: 0px; right: 0px;  width: 120px; height: 90px; background: url(../images/mainpage_2014_newgames_sprite.png) 0 -20px no-repeat; } 
.indexpage_content_top .new_games_switcher .game_large a b { display: block; position: absolute; top: 198px; left: 386px; height: 20px; width: 120px; background: url(../images/mainpage_2014_newgames_sprite.png) 0 0 no-repeat; }
.indexpage_content_top .new_games_switcher .game-on-front .game_small { background: url(../images/mainpage_2014_newgames_sprite.png) -11px -111px no-repeat; }
.indexpage_content_top .new_games_switcher .game-on-front .game_small a.name { font: bold 14px Arial; color: white; text-align: center; text-shadow: 0px 0px 3px #000000; }
.indexpage_content_top .new_games_switcher .game-on-front .game_small i { display: block; } 
.indexpage_content_top .new_games_switcher .game-on-front .game_large { display: block; } 

.indexpage_content .advertisement_2 { width: 468px; margin: 0 auto; padding: 7px 0 11px; }
/* ads compliance */
	.indexpage_content .advertisement_2 { padding: 17px 0 25px; }
	.indexpage_content .advertisement_2:before { content: "Ads"; font-weight: bold; font-size: 10px; color: #078090; }
.indexpage_content .games_by_category { position: relative; margin: 10px 0 20px;}
.indexpage_content .games_by_category .games { padding: 20px 0 0 0; height: 295px; }
.indexpage_content .games_by_category .game { float: left; margin: 0 0 0 37px; width: 110px; overflow: hidden; position: relative; }
.indexpage_content .games_by_category .top_game { margin: 0 0 23px 20px; width: 200px;  }
.indexpage_content .games_by_category .game a.name { display: block; position: absolute; left: 0; bottom: 91px; width: 110px; text-decoration: underline; max-height: 26px; line-height: 13px; overflow: hidden; }
.indexpage_content .games_by_category .game a.image { display: block; margin: 29px 0 5px; height: 83px; }
.indexpage_content .games_by_category .top_game a.name { bottom: 208px; }
.indexpage_content .games_by_category .top_game a.image { height: 200px; }
.indexpage_content .games_by_category .all_games_link { clear: both; text-align: center; padding: 9px 0; margin: 0 20px; border-top: 1px solid #c1c7cd; }
.indexpage_content .games_by_category .all_games_link a { color: #f12424; font: 14px Arial; text-decoration: underline; }
.indexpage_content .games_by_category_select { position: absolute; top: -5px; right: 16px; width: 170px; }
.page_body_pt
.indexpage_content .games_by_category_select { width: 205px; }
.indexpage_content .games_by_category_select .selected { position: relative; z-index: 200; padding: 4px 9px; height: 17px; border-radius: 7px; cursor: pointer; }
.indexpage_content .games_by_category_select .options { position: absolute; z-index: 100; background: white; top: 22px; left: 0; right: 0; padding: 4px 0 0;}
.indexpage_content .games_by_category_select .selected,
.indexpage_content .games_by_category_select .options { font: 14px Arial; color: #078090; border: 1px solid #c1c7cd; }
.indexpage_content .games_by_category_select .options a { font: 14px Arial; color: #078090; text-decoration: none; padding: 5px 9px; display: block; }
.indexpage_content .games_by_category_select .options a:hover { background: #ebebeb; }
.indexpage_content .games_by_category_select .selected { background: url(../images/mainpage_2014_games_by_category_select.png)  no-repeat 95% 50% white; }

.page_body_fr
.indexpage_content_top .new_games_switcher .game_large a i { background: url(/i/common/mainpage_newgames_new_fr.gif) 0 0 no-repeat; } 
.page_body_fr
.indexpage_content_top .new_games_switcher .game_large a b { background: url(/i/common/mainpage_newgames_learnmore_fr.jpg) 0 0 no-repeat; }
.page_body_de
.indexpage_content_top .new_games_switcher .game_large a i { background: url(/i/common/mainpage_newgames_new_de.gif) 0 0 no-repeat; } 
.page_body_de
.indexpage_content_top .new_games_switcher .game_large a b { background: url(/i/common/mainpage_newgames_learnmore_de.jpg) 0 0 no-repeat; }
.page_body_it
.indexpage_content_top .new_games_switcher .game_large a i { background: url(/i/common/mainpage_newgames_new_it.gif) 0 0 no-repeat; } 
.page_body_it
.indexpage_content_top .new_games_switcher .game_large a b { background: url(/i/common/mainpage_newgames_learnmore_it.jpg) 0 0 no-repeat; }
.page_body_es
.indexpage_content_top .new_games_switcher .game_large a i { background: url(/i/common/mainpage_newgames_new_es.gif) 0 0 no-repeat; } 
.page_body_es
.indexpage_content_top .new_games_switcher .game_large a b { background: url(/i/common/mainpage_newgames_learnmore_es.jpg) 0 0 no-repeat; }
.page_body_pt
.indexpage_content_top .new_games_switcher .game_large a i { background: url(/i/common/mainpage_newgames_new_pt.gif) 0 0 no-repeat; } 
.page_body_pt
.indexpage_content_top .new_games_switcher .game_large a b { background: url(/i/common/mainpage_newgames_learnmore_pt.jpg) 0 0 no-repeat; }

/* gamepage styles */
.gamepage_content { float: left; width: 706px; margin: 0px 8px; }
.gamepage_content  .game_content { min-height: 400px }
.gamepage_content  .game_visuals { margin: 13px 0 25px 9px; float: left; width: 258px; ; }
.gamepage_content  .game_details { margin-top: 13px; margin-left: 15px; margin-bottom: 30px; float: left; width: 410px; }
.gamepage_content  .game_bottomline { clear: both; text-align: center; margin-bottom: 14px; }
.gamepage_content  .game_visuals .image * { display: block }
.gamepage_content  .game_visuals .button_with_text {  margin-top: 20px; width: 258px; background: url(/i/common/gamepage2.jpg) no-repeat 0px 45px; font-size: 12px; height: 142px; text-align: center; }
.gamepage_content  .game_visuals .button_with_text a  { margin: 0px auto 10px; height: 45px; display: block; }
.gamepage_content  .game_visuals .button_with_text p { font-weight: bold; margin: 6px 0 0;}
.gamepage_content  .game_visuals .button_with_dnldr_text { height: 192px; } 
/*.gamepage_content  .game_visuals .button_text_after_dnldr_text { padding: 10px 0px; width: 183px; margin-left: 36px; background: #f8efc4; border: 1px solid #c8c2c2; border-radius: 0 0 6px 6px; border-top: none; }*/
.gamepage_content  .game_visuals .button_text_after_dnldr_text { padding: 10px 0px; width: 183px; margin-left: 36px; margin-top: 10px;}
.gamepage_content  .game_visuals .size { font-size: 12px; font-weight: bold; margin: 15px 0; text-align: center; width: 258px; }
.gamepage_content  .game_visuals .fb-like_container { height: 50px; }
.gamepage_content  .game_visuals .addthis_toolbox { clear: both; height: 16px; margin: 1px auto 40px; padding: 0; position: relative; width: 140px; }
.gamepage_content  .game_details .categories a { color: #155A4E; text-decoration: underline;} 
.gamepage_content  .game_details .name { font: bold 12px Arial; margin: 15px 0 3px; }
.gamepage_content  .game_details .name h2 { font: bold 12px Arial; margin: 0; }
.gamepage_content  .game_details .name h2 b { font-weight: bold; }
.gamepage_content  .game_details .description { font-size: 12px; line-height: 16px; margin-bottom: 15px; margin-right: 20px; }
.gamepage_content  .game_details .description strong { font-weight: normal; }
.gamepage_content  .game_details .screenshots h3,
.gamepage_content  .game_details .features h3,
.gamepage_content  .game_details .system_requirements h3 { color: #17A0B7; font: bold 12px Arial; padding: 5px 0 17px 15px;  margin: 0; }
.gamepage_content  .game_details .screenshots,
.gamepage_content  .game_details .features,
.gamepage_content  .game_details .system_requirements { padding-left: 15px; }
.gamepage_content  .game_details .features,
.gamepage_content  .game_details .system_requirements { float: left; margin: 20px 0px 0px 0px; padding-top: 2px;  width: 175px; }
.gamepage_content  .game_details .features h3,
.gamepage_content  .game_details .system_requirements h3  { padding: 5px 0 7px 20px; margin-bottom: 10px;   }
.gamepage_content  .game_details .features div,
.gamepage_content  .game_details .system_requirements div { font-size: 11px; margin: 0; padding: 0 0 0 17px; background: url(/i/common/redpin.gif) no-repeat scroll 0 0 transparent; }
.gamepage_content  .game_details .screenshots { height: 123px; background: url(/i/common/gamepage3.jpg) no-repeat scroll 0 0 transparent; }
.gamepage_content  .game_details .features { background: url(/i/common/gamepage4.jpg) no-repeat scroll 0 0 transparent; }
.gamepage_content  .game_details .system_requirements { background: url(/i/common/gamepage5.jpg) no-repeat scroll 0 0 transparent; }
.gamepage_content  .game_details .screenshots a { display: block; float: left; width: 111px; margin: 0 0 0 15px; }
.gamepage_content  .game_bottomline  a { color: #FA1111; text-decoration: underline; }
.gamepage_content  .game_bottomline  a:hover { text-decoration: none; }
.gamepage_content  .advertisement_1,
.gamepage_content  .advertisement_2 { margin: 20px 0; width: 300px; height: 260px; }
.gamepage_content  .advertisement_3 { margin-top: 15px; text-align: center; width: 258px; }
.gamepage_content  .advertisement_1 .advertisement_1_text { color: #1D849B; font: bold 10px/11px Arial; margin: 0; padding-left: 4px; height: 11px; background: linear-gradient(135deg, #D0DBE1 0%, rgba(125, 185, 232, 0) 100%) repeat scroll 0 0 transparent; border-radius: 3px 0 0 0; }
.gamepage_content .top5_games { margin: 8px 0 0px 16px; }
.gamepage_content .top5_games .game { float: left; padding: 0 26px 0 0px; width: 110px;  font-size: 11px; text-align: center; }
.gamepage_content .top5_games .game a.image { display: block; height: 83px; }
.gamepage_content .top5_games .game a.name { display: block; margin: 6px 0px 4px 0px; color: #000000; text-decoration: underline; }

/* Gamepage 1game1 ad change, bigger ads */
.gamepage_content  .advertisement_2 { margin: 15px 0 20px 30px; width: 336px; height: 300px; }
.gamepage_content  .advertisement_2 .advertisement_2_text { font-size: 10px; width: 336px; text-align: right; margin: 0 0 5px; }


/* All Downloads Page */
.allgamespage_content { float: left; width: 538px; margin-right: 8px; }
.allgamespage_content .games_content  { padding: 5px 0 1px 5px; position: relative; }
.allgamespage_content .letters_menu { text-align: center; font-family: "Trebuchet MS"; line-height: 40px; height: 80px; position: relative; }
.allgamespage_content .letters_menu .item { cursor: pointer; font-family: "Trebuchet MS"; word-spacing: 6px; color: #155a4e;font-size: 18px; line-height: 30px; display: inline-block; margin: 0px 5px 0px 0px; width: 30px; height: 30px; border: 1px solid #c5c5c5; }
.allgamespage_content .letters_menu .item u { text-decoration: underline; }
.allgamespage_content .letters_menu .range { width: 71px; }
.allgamespage_content .letters_menu .selected_item { cursor: default; font-weight: normal; text-decoration: none; background: #c1c7cd; }
.allgamespage_content .letters_menu .preloader_preload { position: absolute; left: 0; right: 0;  background: url(/i/common/preloader.gif) -999px -999px no-repeat; }
.allgamespage_content .letters_menu .preloader { position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0.8; background: white url(/i/common/preloader.gif) 50% 45% no-repeat; }

.allgamespage_content .games_ad_1,
.allgamespage_content .games_ad_2,
.allgamespage_content .games_ad_3,
.allgamespage_content .games_group_1,
.allgamespage_content .games_group_2,
.allgamespage_content .games_group_3 { position: absolute; }
.allgamespage_content .games_ad_1,
.allgamespage_content .games_ad_2 { height: 250px; width: 250px; }
.allgamespage_content .games_ad_1 { padding: 8px 6px 8px 8px; right: 6px; top: 87px; border-top: 1px solid #C1C7CD; }
.allgamespage_content .games_ad_2 { padding: 8px 8px 8px 3px; left: 5px; top: 355px; border-bottom: 1px solid #cccccc; }
.allgamespage_content .games_ad_3 { padding: 15px 0 0 30px; left: 5px; top: 712px; height: 90px; width: 520px; }
.allgamespage_content .games_group_1 { width: 260px; }
.allgamespage_content .games_group_2 { width: 263px; }
.allgamespage_content .games_group_3,
.allgamespage_content .games_group_4 { width: 525px; }
.allgamespage_content .games_group_4 { margin-left: 1px;  }
.allgamespage_content .games_group_1 { left: 1px; top: -715px; } 
.allgamespage_content .games_group_2 { right: 6px; top: -448px; height: 266px; border-left: 1px solid #C1C7CD; }
.allgamespage_content .games_group_3 { left: 1px; top: -179px; }
.allgamespage_content .games_group_1 { border-top: 1px solid #C1C7CD; border-bottom: 1px solid #C1C7CD; border-right: 1px solid #cccccc; }
.allgamespage_content .games_group_2 { border-top: 1px solid #C1C7CD; border-bottom: 1px solid #C1C7CD; border-l: 1px solid #cccccc; }
.allgamespage_content .game { padding: 5px 0; border-bottom: 1px solid #C1C7CD; }
.allgamespage_content .games_group_1 .game_3, 
.allgamespage_content .games_group_2 .game_3 { border-bottom: none; }
.allgamespage_content .games_group_4 { border-top: 1px solid #C1C7CD; }
.allgamespage_content .games_group_3 .game,
.allgamespage_content .games_group_4 .game { float: left; width: 260px; }
.allgamespage_content .games_group_2 .game,
.allgamespage_content .games_group_3 .game_odd,
.allgamespage_content .games_group_4 .game_odd { padding: 5px 3px 5px 8px; width: 252px; }
.allgamespage_content .games_group_3 .game_even,
.allgamespage_content .games_group_4 .game_even { clear: left; border-right: 1px solid #C1C7CD; }

.allgamespage_content .selected_games { position: relative; margin-top: 717px; padding-bottom: 5px; }
.allgamespage_content .selected_games .game { font-size: 11px; height: 78px; overflow: hidden; position: relative; }
.allgamespage_content .selected_games .game .image { margin-right: 10px; padding: 5px 0px; width: 65px; height: 65px; }
.allgamespage_content .selected_games .game .image img { width: 65px; height: 65px; }
.allgamespage_content .selected_games .game .name  { margin: 0 5px 0 75px; }
.allgamespage_content .selected_games .game .name a { color: #155A4E; font-weight: bold; text-decoration: underline; }
.allgamespage_content .selected_games .game .description { margin: 0 5px 10px 75px; font-size: 10px; height: 28px; line-height: 14px; overflow: hidden; }
.allgamespage_content .selected_games .game .description p { margin: 0; }
.allgamespage_content .selected_games .game .image { float: left; }
.allgamespage_content .selected_games .game .download,
.allgamespage_content .selected_games .game .learnmore { position: absolute; top: 62px; }
.allgamespage_content .selected_games .game .download a,
.allgamespage_content .selected_games .game .learnmore a  { font-size: 10px; line-height: 13px; vertical-align: top; text-decoration: underline; }
.allgamespage_content .selected_games .game .download a .icon,
.allgamespage_content .selected_games .game .learnmore a .icon { height: 15px; width: 16px; display: block; float: left; margin-right: 3px;  }
.allgamespage_content .selected_games .game .download a { color: #000000; }
.allgamespage_content .selected_games .game .learnmore a { color: #B78021; }
.allgamespage_content .selected_games .game .download a .icon { background: url(../images/sprite_no-repeat.png) -80px 0px no-repeat; }
.allgamespage_content .selected_games .game .learnmore a .icon { background: url(../images/sprite_no-repeat.png) -80px -15px no-repeat; }
.allgamespage_content .selected_games .game .download { left : 75px; }
.allgamespage_content .selected_games .game .learnmore { left : 152px; }
.allgamespage_content .selected_games .games_group_2 .game .download,
.allgamespage_content .selected_games .games_group_3 .game_odd .download,
.allgamespage_content .selected_games .games_group_4 .game_odd .download { left : 83px; }
.allgamespage_content .selected_games .games_group_2 .game .learnmore, 
.allgamespage_content .selected_games .games_group_3 .game_odd .learnmore, 
.allgamespage_content .selected_games .games_group_4 .game_odd .learnmore { left : 160px; }

.page_body_fr
.allgamespage_content .selected_games .game .learnmore,
.page_body_de 
.allgamespage_content .selected_games .game .learnmore { left : 162px; }
.page_body_pt 
.allgamespage_content .selected_games .game .learnmore { left : 132px; }
.page_body_tr 
.allgamespage_content .selected_games .game .learnmore { left : 132px; }

.page_body_fr
.allgamespage_content .selected_games .games_group_2 .game .learnmore, 
.page_body_fr
.allgamespage_content .selected_games .games_group_3 .game_odd .learnmore, 
.page_body_fr
.allgamespage_content .selected_games .games_group_4 .game_odd .learnmore ,
.page_body_de 
.allgamespage_content .selected_games .games_group_2 .game .learnmore, 
.page_body_de 
.allgamespage_content .selected_games .games_group_3 .game_odd .learnmore,
.page_body_de 
.allgamespage_content .selected_games .games_group_4 .game_odd .learnmore  { left : 170px; }
.page_body_pt 
.allgamespage_content .selected_games .games_group_2 .game .learnmore, 
.page_body_pt 
.allgamespage_content .selected_games .games_group_3 .game_odd .learnmore,
.page_body_pt 
.allgamespage_content .selected_games .games_group_4 .game_odd .learnmore  { left : 140px; }
.page_body_tr 
.allgamespage_content .selected_games .games_group_2 .game .learnmore, 
.page_body_tr 
.allgamespage_content .selected_games .games_group_3 .game_odd .learnmore,
.page_body_tr 
.allgamespage_content .selected_games .games_group_4 .game_odd .learnmore  { left : 140px; }

.clr { clear: both; }

/***************/
/*   OLD CSS   */
/***************/

/* flags */
#menu { position: relative; }
#sel_menu{width:130px; height:24px; cursor:pointer;}
#sel_menu #option{float:left;width:111px;margin:1px 0 0 -3px;}
#sel_menu #option #title{float:left;margin-top:4px;}
#menu #lang_menu{position:absolute;display:none;width:95px; left: 5px; top: 23px; background-color:#ffffff;border:#cccccc solid 1px;border-top:#000 solid 0px;cursor:pointer;z-index:999;}

/* features_h */
.features_h {margin:8px 0 7px 0;}
.features_h_left_en, .features_h_left_fr, .features_h_left_de, .features_h_left_it, .features_h_left_es, .features_h_left_pt {float:left; width:260px; background:url(/i/common/features_h_en.jpg) no-repeat; border-right:1px solid #a4a4a4; margin-left:1px;}
.page_body_fr 
.features_h_left_en { background:url(/i/common/features_h_fr.jpg) no-repeat; }
.page_body_de 
.features_h_left_en { background:url(/i/common/features_h_de.jpg) no-repeat; }
.page_body_it 
.features_h_left_en { background:url(/i/common/features_h_it.jpg) no-repeat; }
.page_body_es 
.features_h_left_en { background:url(/i/common/features_h_es.jpg) no-repeat; }
.page_body_pt 
.features_h_left_en { background:url(/i/common/features_h_pt.jpg) no-repeat; }
.features_h_text {width:124px; margin-left:115px; height:92px; text-align:center; font-size:12px; margin-top:7px; font-weight:bold; line-height:18px;}
.features_h_form {text-align:center;}
.features_h_form_input { margin:2px 0px; text-align:center; }
.features_h_form_input input {text-align:center; color:#adadad; width:200px; border:0; padding:2px 0;  font-style: italic; font-family: Arial; }
.features_h_form_submit { margin:10px 0px 0 0px; text-align:center; }
.features_h_form_submit input {border:none; background: none; width:130px; height:30px; cursor:pointer;}
.features_h_right {float:left; margin-left:20px; margin-top:1px; width:245px; margin-bottom:10px;}

/* features_v */
.features_v .subscribe { background:url(/i/common/features_v_en.jpg) no-repeat 0 6px; }
.page_body_fr
.features_v .subscribe { background:url(/i/common/features_v_fr.jpg) no-repeat 0 6px; }
.page_body_de 
.features_v .subscribe { background:url(/i/common/features_v_de.jpg) no-repeat 0 6px; }
.page_body_it 
.features_v .subscribe { background:url(/i/common/features_v_it.jpg) no-repeat 0 6px; }
.page_body_es 
.features_v .subscribe { background:url(/i/common/features_v_es.jpg) no-repeat 0 6px; }
.page_body_pt 
.features_v .subscribe { background:url(/i/common/features_v_pt.jpg) no-repeat 0 6px; }
.page_body_tr 
.features_v .subscribe { background:url(/i/common/features_v_tr.jpg) no-repeat 0 6px; }
.features_v_form_input { margin: 0 0 0 10px; height: 20px }
.features_v_form_input input { text-align:center; color:#adadad; font-style: italic; width:135px; border:0; padding:2px 0; }
.features_v_form_submit { margin: 10px 0 0 17px; height: 30px;  }
.features_v_form_submit input { cursor:pointer; width:120px; height:30px; background: none; border:none; }

/* gamepage_footer */
.gamepage_footer_1 {float:left; margin-top:7px;}
.gamepage_footer_m {float:left; width:8px;}
.gamepage_footer_2 {float:left; width:538px;}

.online_top_v1 { padding-top: 10px; text-align: center; }
.online_top_v2 { border-bottom: 1px dashed #CCCCCC; font-size: 11px; margin: 4px 10px 0; padding-bottom: 10px; text-align: center; }
.online_top_v2 a { color: #1393A9; text-decoration: underline; }
.online_top_v2 a:hover { color:#155a4e; }
.online_top_v3 { font-size: 14px; margin: 3px 0; text-align: center; }
.online_top_v3 a { color: #FA1111; text-decoration: underline; }
.online_top_v3 a:hover { text-decoration: none; }


/* reviews submenu */
#reviewsubmenu a { display: block; height: 24px; border-bottom: 1px solid #c1c7cd; padding: 9px 13px 0 35px; position: relative; font-size: 15px; line-height: 15px; font-weight: normal; width: 142px; }
#rev_pc_link img { position: absolute; left: 5px; top: 3px }
#rev_iphone_link img { position: absolute; left: 12px; top: 5px; }
#rev_android_link img { position: absolute; left: 8px; top: 4px; }
#reviewsubmenu a.last { border-bottom: 0; }

/* right sky ad on gamespage July 2015 */
.gamepage_content_with_right_sky_ad { width: 640px; }
.gamepage_content_with_right_sky_ad .game_visuas {  margin: 8px 0 25px 6px; }
.gamepage_content_with_right_sky_ad .game_details { width: 354px; margin-bottom: 30px;  margin-left: 5px;  margin-top: 8px; }
.gamepage_content_with_right_sky_ad .game_details .categories,
.gamepage_content_with_right_sky_ad .game_details .name,
.gamepage_content_with_right_sky_ad .game_details .description { padding-left: 10px; }
.gamepage_content_with_right_sky_ad .game_details .screenshots { padding-left: 0; background-position: 10px 0; }
.gamepage_content_with_right_sky_ad .game_details .screenshots h3 { padding-left: 40px; }
.gamepage_content_with_right_sky_ad .game_details .screenshots a { margin: 0 0 0 10px; }
.gamepage_content_with_right_sky_ad .game_details .screenshots a,
.gamepage_content_with_right_sky_ad .game_details .screenshots a img { width: 106px; }

.gamepage_content_with_right_sky_ad .game_details .features,
.gamepage_content_with_right_sky_ad .game_details .system_requirements { width: 160px; }



.gamepage_content_with_right_sky_ad .top5_games { margin: 8px 0 0 6px; }
.gamepage_content_with_right_sky_ad .top5_games .game { padding: 0 15px 0 0; }
.gamepage_content_with_right_sky_ad .gamepage_footer_2 { width: 472px; }
.gamepage_content_with_right_sky_ad .gamepage_footer_2 .features_h_right { width: 70px; }
.gamepage_sidebar_with_right_sky_ad { width: 305px; float: left; }
.gamepage_sidebar_with_right_sky_ad .advertisement_4 { width: 160px; height: 600px; float: right; }
.gamepage_sidebar_with_right_sky_ad .top10_slim { width: 135px; margin-right: 160px; }
.gamepage_sidebar_with_right_sky_ad .top10_slim .game { margin: 8px 0 0 4px; }
.gamepage_sidebar_with_right_sky_ad .top10_slim .image { display: block; float: none; }
.gamepage_sidebar_with_right_sky_ad .top10_slim .name { display: block; font-size: 11px; margin: 3px 0 5px; text-align: center; width: 110px;color: #000; text-decoration: underline; }


/* category page */
.categorypage_content { width: 786px; float: left; } 
.categorypage_content .advertisement_1 { margin: 0 0 15px 20px; height: 115px; }
.categorypage_content .advertisement_2 { float: left; margin: 11px 0 14px 10px; }
.categorypage_content .advertisement_3 { float: right; margin: 11px 20px 14px 0; }
.categorypage_content .top_games_group_1 { margin: 0 0 15px 20px; }
.categorypage_content .top_games_group_1 .game { font-size: 12px; float: left; position: relative; margin: 0 16px 25px 0; padding: 35px 0 0; width: 170px; }
.categorypage_content .top_games_group_1 .game .name { color: #000; text-decoration: underline; font-size: 12px; line-height: 15px; left: 0; bottom: 135px; position: absolute; display: block; width: 165px; max-height: 30px;  overflow: hidden; }
.categorypage_content .top_games_group_2 { margin: 0 -20px 0 0; }
.categorypage_content .top_games_group_2 .game { font-size: 10px; line-height: 11px; width: 208px; height: 67px; overflow: hidden; float: left; margin: 0 30px 25px 20px; }
.categorypage_content .top_games_group_2 .game .image { float: left; margin-right: 8px; }
.categorypage_content .top_games_group_2 .game .name { color: #155a4e; font-size: 11px; text-decoration: underline; font-weight: bold; }	
.categorypage_content .category_text .contentbox_content { font-size: 11px; padding: 2px 17px; }
.categorypage_content .category_text strong { font-weight: normal; }

.categorypage_content .all_games .column { float: left; width: 238px; border-right: 1px solid #c1c7cd; padding: 0 10px 0 0; margin-right: 7px; }
.categorypage_content .all_games .last_column { border-right: none; padding: 0; margin-right: 0; }
.categorypage_content .all_games .game { font-weight: bold; height: 21px; line-height: 21px; margin: 0 0 5px; padding: 0 0 0 15px; overflow: hidden; }
.categorypage_content .all_games .game .name { color: #155a4e; text-decoration: none; }
.categorypage_content .all_games .game .name:hover { text-decoration: underline; }
.categorypage_content .all_games .game .tag { vertical-align: top; }

.categorypage_content .all_games_legend, .all_games_legend .key { font-weight: bold; line-height: 29px; height: 29px; border-top: 1px solid #c1c7cd; border-bottom: 1px solid #c1c7cd; border-left: 1px solid #c1c7cd; border-radius: 7px; border-right: 1px solid #c1c7cd; }
.categorypage_content .all_games_legend .key { text-align: center; background: #e9e9e9; width: 80px; float: left; margin: -1px 0 -1px -1px; }
.categorypage_content .all_games_legend .tag { vertical-align: middle; margin: -2px 0 0 10px; }

/* games page */
.gamespage_content_top { margin: 0 0 0 8px; width: 954px; }
.gamespage_content_top .gamespage_contentbox { float: right; width: 520px; }
.gamespage_content_top .gamespage_contentbox .contentbox_content { padding-top: 10px; padding-bottom: 20px; height: 285px; }
.gamespage_content_top .gamespage_contentbox .top_games { margin-bottom: 25px; }
.gamespage_content_top .gamespage_contentbox .all_games_link { padding-top: 10px; }
.gamespage_content_top .video_banner_below_header { margin-top: 0; margin-bottom: 10px; }
.gamespage_content_top .video_banner_box .icon { margin-right: 7px; position: relative; top: 2px; left: 2px; }
.gamespage_content_top .video_banner_below_header .video_banner_box { margin: 0; }
.gamespage_content { width: 794px; float: left; } 
.gamespage_content .gamespage_contentbox { float: left; width: 388px; margin: 0 8px 10px 0; }
.gamespage_contentbox .first_category_with_games { width: auto; }
.gamespage_contentbox .contentbox_content { height: 270px; padding-top: 1px; padding-right: 7px; }
.gamespage_contentbox .advertisement { text-align: center; padding-top: 15px; }
.gamespage_contentbox .game { float: left; margin-left: 25px; padding: 34px 0 0 0; width: 110px; height: 83px; position: relative; overflow: hidden; }
.gamespage_contentbox .top_game { margin-left: 18px; margin-bottom: 15px; width: 200px; height: 200px; }
.gamespage_contentbox .game .image { display: block; }
.gamespage_contentbox .game .name { text-decoration: underline; font-size: 11px; line-height: 13px; max-height: 26px; overflow: hidden; position: absolute; bottom: 87px; }
.gamespage_contentbox .top_game .name { font-size: 14px; line-height: 15px; max-height: 32px; bottom: 204px;}
.gamespage_contentbox .category,
.gamespage_contentbox .all_games_link { font-size: 11px; line-height: 27px; text-align: center; margin: 0 3px; clear: both; border-top: 1px solid #c1c7cd; }
.gamespage_contentbox .category .link,
.gamespage_contentbox .all_games_link * { color: black; text-decoration: underline; }


.page_body_1 .gamespage_contentbox .contentbox_content { height: 285px; padding-top: 16px; }
.page_body_1 .gamespage_contentbox .advertisement { padding-top: 0; }
