@charset "euc-jp";

#header > ul,
.ui_dropdownMenu_email {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
}
/* clearfix for ie7 */
.clearfix {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.clearfix {
	display: block;
	margin: 0;
	padding: 0;
}

/* header(固定部分)
----------------------------------------------------------- */
#ui_logo {
	width:30px;
	height:30px;
	display: inline-block;
	background: url('/images/sprite_header.png?3521') no-repeat 0 0;
	vertical-align: middle;
}

div#ui_header_minwidth {
	width:100%;
	min-width: 720px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}

div#ui_header {
	/*overflow: hidden;*/
	width: 100%;
	height: 30px;
	background: #363636;
	border-bottom: 1px solid #CCC;
	color: #FFF;
	position: relative;
	top: 0;
	left: 0;
	font-size: 13px;
	line-height: 1.8em;
	z-index: 5;
	letter-spacing: normal;
	float: left;
}
* html div#ui_header {
	position: absolute;
	top: expression(eval(document.documentElement.scrollTop+0));
}

.ui_leftmenu_spacing {
	margin-right:30px;
}

.ui_header_top { margin: 0 auto;}

.ui_header_top > h1 > a > img {
	margin-top:1px;
	margin-left:5px;
}

div#ui_left_menu_wrapper_no_search_box {
	font-size:13px;
	font-weight:bold;
	/*margin-left:90px;*/
	/*position:fixed;*/
	/*z-index:10;*/
	float: left;
}


div#ui_left_menu_wrapper,
div#ui_left_menu_wrapper_admin {
	font-size:13px;
	font-weight:bold;
	float: left;
}

div#ui_header .ui_leftmenu_spacing {
	float: left;
	padding-left: 25px;
	border-bottom: none !important; /* for 404 page. */
}
.ui_header_right {
	height: 30px;
	position: fixed;
	right: 0;
	overflow: hidden;
}
.ui_header_right_hide_block {
	height: 30px;
	position: fixed;
	right: 0;
}
.ui_header_right_fix {
	pading-top:2px;
	z-index:10;
	color: #FFF;
	font-weight: bold;
	position: absolute;
	right: 0;
	background: #363636;
	float: right;
}

.ui_header_left_service {
	z-index:2;
	background: #363636;
	color: #FFF;
	font-weight: bold;
	position: relative;
}
.ui_header_left {
	z-index:2;
	background: #363636;
	float: left;
	color: #FFF;
	font-weight: bold;
	position: relative;
}
.ui_header_left input {
	float: left;
}
.ui_header_left input[type=submit] {
	margin-top: 4px;
	height: 22px;
}
.header_right img {
	vertical-align: -5px;
}

.ui_i2i_header_menu{
	float:left;
}

.ui_i2i_header_menu a {
	color:#fff;
}

/* ドロップダウン */
ul.ui_js_dropdownMenu {
	height: 25px;
	margin: 5px 3px 0px 0px;
	padding: 0px;
	color: #FFF;
	float: left;
	display:inline-block;
	list-style-type:none;
}

ul.ui_login_dropdown {
	display: none;
}

ul.ui_js_dropdownMenu li:hover {
	color:#CC0000;
}

ul.ui_js_dropdownMenu li#ui_to_adminpage img {
	margin-right: 3px;
}

#ui_member_button {
	border: 1px solid #ddd;
	padding: 0 10px;
	border-radius: 3px;
	margin: 0 5px;
	background: rgb(0,183,234);
	background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,183,234,1)), color-stop(100%,rgba(0,158,195,1)));
	background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
	float: left;
	line-height: 20px;
}

#ui_member_button a {
	color:#ffffff;
	font-weight;bold;
}

#ui_member_button a:hover{
	color:#FFF9B3 !important;
}

ul.ui_js_dropdownMenu li {
	float: left;
	display: block;
	position: relative;
	color: #FFF;
	text-decoration: none;
	padding: 0px 5px 0 0;
	vertical-align: middle !important;
	font-size:12px;
}
ul.ui_js_dropdownMenu li ul.ui_js_dropdownSubMenu li {
	padding: 0px;
}
ul.ui_js_dropdownMenu li a:hover {
	color: #CC0000;
}
ul.ui_js_dropdownMenu li a {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	padding: 0px 5px 0 0;
}
ul.ui_js_dropdownMenu ul.ui_js_dropdownSubMenu {
	position: absolute;
	right: 0px;
	top: 30px;
	display: block;
	visibility: hidden;
	padding: 5px 10px;
	margin: 0px;
	border: 1px solid #363636;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #FFF;
    z-index: 5;
	-webkit-box-shadow:0 0 6px 2px rgba(200,200,200,0.2) inset;
	-moz-box-shadow:0 0 6px 2px rgba(200,200,200,0.2) inset;
	box-shadow:0 0 6px 2px rgba(200,200,200,0.2) inset;
}
ul.ui_js_dropdownSubMenu:after,
ul.ui_js_dropdownSubMenu:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
ul.ui_js_dropdownMenu ul:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	left: 80%;
	margin-left: -10px;
}
ul.ui_js_dropdownMenu ul:before {
	border-color: rgba(54, 54, 54, 0);
	border-bottom-color: #363636;
	border-width: 11px;
	left: 80%;
	margin-left: -11px;
}
ul.ui_js_dropdownMenu ul.ui_js_dropdownSubMenu li {
	width:100%;
	display: block;
	font-size: 12px;
	line-height: 2.0em;
	text-align: left;
	color: #363636;
	background-color: #FFF;
	white-space:nowrap;
}
ul.ui_js_dropdownMenu ul li:last-child {
}
ul.ui_js_dropdownMenu ul.ui_js_dropdownSubMenu li a {
	width: 100%;
	font-weight: normal;
	margin: 0px;
	display: block;
	color: #363636;
	padding: 0 5px;
	text-decoration: none;
}
ul.ui_js_dropdownMenu ul li a:hover {
	background-color: #EEE;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	display: block;
	width: auto;
	text-decoration: none;
}

ul.ui_dropdownMenu_email{
	height: 25px;
	margin: 4px 10px 0px 0px;
	padding: 0px;
	color: #FFF !important;
	float: left;
	font-weight:normal;
	font-size:11.5px;
}
ul.ui_dropdownMenu_email li a{
	color: #FFF;
}

ul.ui_js_dropdownMenu li:hover{
	cursor:pointer;
}

ul.ui_js_dropdownMenu ul li:hover{
	cursor:default;
}

.ui_js_dropdownMenuFocus {
	background-color: #363636 !important;
	width: auto;
	display: block;
	text-decoration: none;
	color:#CC0000 !important;
}
.ui_js_dropdownSubMenuFocus {
	width: 220px;
	display: block;
	text-decoration: none;
}
li.ui_dropdownSubMenuList a:link {
	display: block;
	width: auto;
	text-decoration: none;
}
li.ui_dropdownSubMenuList a:hover {
	display: block;
	width: auto;
	text-decoration: none;
}

li.ui_dropdownSubMenuList_black:hover {
	color:black !important;
}

.ui_js_dropdownMenu span {	cursor: pointer;}

	/* サービスリスト */
.ui_serviceList {
	float: left;
	display: inline;
}


li.back_craudia a:link, li.back_craudia a:hover {
	display: inline-block;
	background: url('/images/sprite_header.png?3521') no-repeat 0 -30px;
}

li.back_i2i a:link, li.back_i2i a:hover {
	background: url('/images/sprite_header.png?3521') no-repeat -250px -30px;
}

li.back_wazap a:link, li.back_wazap a:hover {
	background: url(/js/i2i_header/img/wazap_logo.png) no-repeat;
	background: url('/images/sprite_header.png?3521') no-repeat -500px -30px;
}

li.back_gamerch a:link, li.back_gamerch a:hover {
	background: url('/images/sprite_header.png?3521') no-repeat -500px -30px;
}

li.back_quicca a:link, li.back_quicca a:hover {
	background: url('/images/sprite_header.png?3521') no-repeat -750px -30px;
}

li.back_wazap a:link, li.back_wazap a:hover,
li.back_i2i a:link, li.back_i2i a:hover,
li.back_craudia a:link, li.back_craudia a:hover,
li.back_gamerch a:link, li.back_gamerch a:hover,
li.back_quicca a:link, li.back_quicca a:hover{
/*	width:250px;*/
	height:60px;
	font-size: 10px;
	text-align: left;
	line-height: 1.2em;
}



/*　ドロップダウンメニュー */
ul.ui_dropdownMenu3 {
	font-weight:normal;
	height: 18px; margin: 5px 0px 3px 10px; padding: 0px; color: #FFF;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	padding: 0 10px;
	border: 1px solid #222;
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(54,54,54,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(54,54,54,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(54,54,54,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(54,54,54,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(54,54,54,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(54,54,54,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#363636',GradientType=0 ); /* IE6-9 */
}
ul.ui_dropdownMenu3 li {
	float: left;
	display: block;
	position: relative;
	color: #FFF;
	text-decoration: none;
	padding: 0px;
	font-size: 11px;
	line-height: 20px;
	cursor:pointer;
}

ul.ui_dropdownMenu3 li a div {
	padding: 27px 0 0 87px;
}
ul.ui_dropdownMenu3 li a {
	font-weight: bold;
	color: #FFF;
}
ul.ui_dropdownMenu3 ul {
	position: absolute;
	left: -10px;
	top: 30px;
	display: block;
	visibility: hidden;
	padding: 0px;
	margin: 0px;
	border: 5px solid #777;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #FFF;
    z-index: 5;
	-webkit-box-shadow:0 0 6px 2px rgba(200,200,200,0.2) inset;
	-moz-box-shadow:0 0 6px 2px rgba(200,200,200,0.2) inset;
	box-shadow:0 0 6px 2px rgba(200,200,200,0.2) inset;
}
ul.ui_dropdownMenu3 ul:after,
ul.ui_dropdownMenu3 ul:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
ul.ui_dropdownMenu3 ul li {
	display: block;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}

ul.ui_dropdownMenu3 > li:hover {
	color:#CC0000 !important;
}

ul.ui_dropdownMenu3 ul li.ui_serviceTitle {
	width:100%;
	color: #FFF;
	background-color: #777;
	padding: 5px 0;
}
ul.ui_dropdownMenu3 ul li:last-child {
	marign: 0 auto;
}
ul.ui_dropdownMenu3 ul li a {
	width: 100%;
	font-weight: normal;
	margin: 0px;
	display: block;
	color: #777;
	padding: 0px;
	text-decoration: none;
	border-bottom: 1px dotted #777;
}
ul.ui_dropdownMenu3 ul li a:hover {
    background-color: #EDEDED;
}
.ui_js_dropdownMenuFocus3 {
	background-color: !important;
	width: auto;
	display: block;
	text-decoration: none;
	color:#CC0000 !important;
}
.ui_js_dropdownSubMenuFocus3 {
	width: 240px;
	display: block;
	text-decoration: none;
}
.ui_js_dropdownSubMenuFocus3:hover {
	color:#fff !important;
}

li.ui_dropdownSubMenuList3 a:link {
	display: block;
	width: auto;
	text-decoration: none;
}
li.ui_dropdownSubMenuList3 a:hover {
	display: block;
	width: auto;
	text-decoration: none;
}
.ui_dropdownMenu3 span {	cursor: pointer;}

li.ui_kugiri {
	border-bottom: 1px solid #CCC;
	margin-bottom:5px;
	padding-bottom: 5px !important;
}

.ui_headder_comment_icon {
	width: 22px;
	height: 15px;
	background-repeat: no-repeat;
	display: inline-block;
	background: url("/images/sprite_header.png?3521") no-repeat 0 -103px;
	margin-top: 5px;
}
.ui_headder_message_icon {
	width: 22px;
	height: 17px;
	background-repeat: no-repeat;
	background: url("/images/sprite_header.png?3521") no-repeat 5px -104px;
	display: inline-block;
}
.ui_headder_haguruma {
	width: 24px;
	height: 18px;
	background-repeat: no-repeat;
	display: inline-block;
	background: url("/images/sprite_header.png?3521") no-repeat 0 -125px;
	vertical-align: top;
	margin-top: 1px;
}
.ui_headder_account {
	width: 24px;
	height: 18px;
	background-repeat: no-repeat;
	display: inline-block;
	background: url("/images/sprite_header.png?3521") no-repeat -24px -125px;
	vertical-align: top;
	margin: 1px 2px;
}
.ui_headder_dropdown {
	width: 24px;
	height: 18px;
	background-repeat: no-repeat;
	display: inline-block;
	background: url("/images/sprite_header.png?3521") no-repeat -48px -125px;
	vertical-align: middle;
}

.ui_header_ico {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin: 0 4px 0 0;
}
.ui_header_list_ico {
	background: url("/images/sprite_header.png?3521") no-repeat 0 -144px;
}
.ui_header_rss_ico {
	background: url("/images/sprite_header.png?3521") no-repeat -16px -144px;
}
.ui_header_member_ico {
	background: url("/images/sprite_header.png?3521") no-repeat -32px -144px;
}
.ui_header_edit_ico {
	background: url("/images/sprite_header.png?3521") no-repeat -48px -144px;
}
.ui_header_edit_entry_ico {
	background: url("/images/sprite_header.png?3521") no-repeat -64px -144px;
}
.ui_header_ranking_ico {
	background: url("/images/sprite_header.png?3521") no-repeat -80px -144px;
}
.ui_header_check_ico {
	background: url("/images/sprite_header.png?3521") no-repeat -96px -144px;
}

