.clear {display: none;}
     .c-nav-dropdown-menu { overflow: visible!important;} 

@media screen and (max-width: 1084px) {
.v-hidden.h-divider {border-right: 0px solid rgba(0, 0, 0, .2);}
}
}

#BodyFooter {margin-bottom: -20px;} /* remove this line once engineering fixes the white bar at the bottom of the footer */
/* MWF Overrides below this line */

@media only screen and (max-width:539px) {
.box-shots .c-content-placement > a:first-child > picture img, .box-shots .m-content-placement-item > a:first-child > picture img { padding: 0 60px 0 30px;}
.c-hero .c-paragraph, .c-hero .c-price, .c-hero .c-rating, .m-hero-item .c-paragraph, .m-hero-item .c-price, .m-hero-item .c-rating {display: block}
.c-pivot > header > a {display: table-caption;}
.c-pivot > header > a:first-child, .c-pivot > header > a {padding-left: 16vw;}
.c-pivot>header { display: table-header-group !important;}
}
@media only screen and (max-width:767px) {
nav.c-link-navigation li a.c-hyperlink {text-decoration: underline;}
 .accessories-blade .c-heading {text-align: left;} 
.m-rich-heading a{
    position: absolute;
    z-index: 1;
    bottom: 80px;
    padding-left: 8px !important;
}
.h-divider { border-right: none !important;}

[class*=f-x][class*=f-y].c-hero > div > div, [class*=f-x][class*=f-y].m-hero-item > div > div {
    top: calc(35%);
}

}

.c-badge.f-small { line-height: normal;}
.zmt {margin-top: 0px !important;}
.zpt {padding-top: 0px !important;}
.zpl {padding-left: 0px !important;}
.btn-def-marg {margin-left: -24px !important;}
.bottom-def-margin {margin-bottom: 48px !important;}
.context-control-appearance > [class^='m-'] {
    margin-top: 0px;
    padding: 0;
}
@media screen and (max-width: 540px) {
.zpl {padding-left: 24px !important;}
}

/* Link and CTA colors */
.white-c {color: #fff !important;}
.black-c {color: #000 !important;}
.green-c {color: #107c10;}


a.c-call-to-action {
    background: #107c10;
    font-weight: 700;
}

a.c-call-to-action:focus, a.c-call-to-action:hover,.theme-dark a.c-call-to-action:focus, .theme-dark a.c-call-to-action:hover, .theme-light .theme-dark a.c-call-to-action:focus, .theme-light .theme-dark a.c-call-to-action:hover {
    background: #0e6c0e;
    border-color: rgba(0,0,0,.4);
} 
.theme-dark a.c-call-to-action, .theme-light .theme-dark a.c-call-to-action { background: #107c10; color: #fff;}
.c-content-placement .c-call-to-action, .m-content-placement-item .c-call-to-action, .m-banner a.c-call-to-action, .m-highlight-feature > div .c-call-to-action,
 .m-multi-feature [role=tabpanel] .c-call-to-action, a.c-hyperlink, .c-feature > div .c-call-to-action, a.c-hyperlink:hover, a.c-hyperlink:visited, a.c-action-trigger,
 button.c-action-trigger, a.c-action-trigger:focus, a.c-action-trigger:hover, button.c-action-trigger:focus, button.c-action-trigger:hover {   
    color: #107c10;
}
a.c-action-trigger, button.c-action-trigger { font-size: 13px; line-height: 1.3; letter-spacing: 0.07em; font-weight: 700;}

/* Accessories blade */
@media (min-width: 541px) and (max-width: 767px) {
 .accessories-blade .acc-small {width: 50%; float: left; padding: 0 25px;}
.c-feature.f-align-left > div, .c-feature.f-align-right > div {   width: auto !important;}
}
a.customize-button::before, button.customize-button::before, div.customize-button::before {
    content: "";
    background-image: url("http://compass.xbox.com/assets/ff/2a/ff2a4e17-4171-4e79-a597-e5137a1c6290.png?n=xdl-icon.png");
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
}
a.customize-button, button.customize-button, div.customize-button {
    padding-left: 50px !important;
    box-sizing: border-box;
    display: inline-block;
    white-space: nowrap;
    width: auto;
    min-width: 110px;
    text-decoration: none;
    position: relative;
}
.accessories-blade .c-price {margin-top: 1vw;}

.c-call-to-action.cta-btn-dark:active, .c-call-to-action.cta-btn-dark:focus {  background: #000 !important;}
a.c-call-to-action.cta-btn-dark {background: #000; color: #fff; margin-left: 0px;}
a.c-call-to-action.cta-btn-dark:hover {background: #464646; }
/*.c-video .f-video-controls {  position: relative;}*/

/* End  Accessories blade */

a.c-call-to-action.cta-btn {background: #107c10; color: #fff; margin-left: 0px;}
.c-call-to-action.cta-btn:focus, .c-call-to-action.cta-btn:hover {background: #0e6c0e !important; border-color: rgba(0,0,0,.4) !important; color: #fff; text-decoration: none !important;} 
.c-call-to-action.cta-btn:focus span, .c-call-to-action.cta-btn:hover span {text-decoration: none !important;}

a.c-call-to-action.cta-txt {background: none !important; border: none; color: #107c10;}
.c-call-to-action.cta-txt:focus span, .c-call-to-action.cta-txt:hover span {text-decoration: underline;}


.m-area-heading .c-call-to-action {margin-top: 14px;}
/* themes and colors */
.theme-f2 {
    color: #000;
    background-color: #f2f2f2 !important;
}
.theme-2f {
    color: #fff;
    background-color: #2f2f2f !important;
}
.theme-black {
    color: #fff;
    background-color: #000 !important;
}

.badge-silver {
    background-color: #C8C8C8 !important;
}


/*  Infinite box shots **/
.infinite .m-product-placement-item {display: inline-block;}
.infinite .c-product-placement picture, .infinite .c-product-placement picture .c-image, .infinite .c-product-placement picture img, .infinite .m-product-placement-item picture, .infinite .m-product-placement-item picture .c-image, .infinite .m-product-placement-item picture img {display: block !important;}
.infinite.boxShots-gallery {padding: 84px 0; text-align: center;}
.infinite .gameDiv {text-align: left;}
.infinite .m-product-placement-item {margin-top: 0px !important; padding-top: 14px;}
.gameDivsWrapper {overflow: hidden;}

.legal {background-color: #000; padding: 42px 0; color: #fff;}
.legal img {padding-bottom: 25px; max-width: 10%;}
.legal p {margin-bottom: 10px;}
.legal a, .legal a:hover {color: #fff; text-decoration: underline;}

.magenta {background-color: #ff00ff;}

/* Hero */
.c-carousel.f-multi-slide.theme-light .c-flipper { background: #000;  color: #fff;}

.c-hero .c-subheading, .m-hero-item .c-subheading {
    max-height: 100%;
}
@media screen and (min-width: 768px) {
.context-logo-hero h1, .context-logo-hero p {color: #fff;}
.c-glyph.glyph-play::before {
    padding-bottom: 20px;
}

}
@media only screen and (max-width:767px) {
.context-logo-hero .c-hero-logo img {width: 90%; max-width: 264px;}
.context-logo-hero .c-hero-logo {margin-top: 0px;}
.c-hero .c-subheading, .c-hero > div picture, [class*=f-x][class*=f-y].c-hero > picture::after, .m-hero-item .c-subheading, .m-hero-item > div picture, [class*=f-x][class*=f-y].m-hero-item > picture::after {
    display: block;}
.c-hero > div, .m-hero-item > div { height: 400px; overflow: visible}
}
@media only screen and (min-width:768px) and (max-width:1084px) {
.m-global-promotion.f-image > div > div + div {
    text-align: left !important;
}
}
/* END Hero */

.h-divider {border-right: 1px solid rgba(0,0,0,.2)}

/* Sub hero thin slider */

.m-global-promotion { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-align-items: center; -ms-flex-align: center; align-items: center; overflow: hidden; padding: 12px; text-align: center; min-height: 120px; }


    .m-global-promotion > .c-image img { margin: 0 auto; height: 100%; width: auto; max-width: none; }
    .m-global-promotion .c-call-to-action { background: transparent; color: #0078D7; border-color: transparent; border-width: 2px; padding: 10px 44px 7px 24px; margin-left: 0px; margin-right: 0px; }
        .m-global-promotion .c-call-to-action:focus, .m-global-promotion .c-call-to-action:hover { background: transparent; border-color: transparent; }
        .m-global-promotion .c-call-to-action:active { background: transparent; text-decoration: none; }
        .m-global-promotion .c-call-to-action span:hover { text-decoration: underline; }
.theme-light .m-global-promotion .c-call-to-action, .theme-dark .theme-light .m-global-promotion .c-call-to-action { color: #000; background: transparent; border-color: transparent; }
    .theme-light .m-global-promotion .c-call-to-action:active, .theme-dark .theme-light .m-global-promotion .c-call-to-action:active { color: rgba(0, 0, 0, 0.6); }
    .theme-light .m-global-promotion .c-call-to-action:focus, .theme-dark .theme-light .m-global-promotion .c-call-to-action:focus { outline-color: #000; }
.theme-dark .m-global-promotion .c-call-to-action, .theme-light .theme-dark .m-global-promotion .c-call-to-action { color: #FFF; background: transparent; border-color: transparent; }
    .theme-dark .m-global-promotion .c-call-to-action:active, .theme-light .theme-dark .m-global-promotion .c-call-to-action:active { color: rgba(255, 255, 255, 0.6); }
    .theme-dark .m-global-promotion .c-call-to-action:focus, .theme-light .theme-dark .m-global-promotion .c-call-to-action:focus { outline-color: #FFF; }
.m-global-promotion > div { padding-left: 12px; padding-right: 12px; width: 100%; }

@media only screen and (min-width: 540px) {
    .m-global-promotion > div { padding-left: 24px; padding-right: 24px; }
}

@media only screen and (min-width: 768px) {
    .m-global-promotion > div { padding-left: 0; padding-right: 0; }
}

.m-global-promotion > div > div .c-heading { font-size: 20px; line-height: 24px; padding: 35px 0 5px; font-weight: 200; padding-top: 8px; }
.m-global-promotion > div > div .c-paragraph { font-size: 15px; line-height: 20px; padding: 24px 0 0; font-weight: 400; padding-top: 8px; }

@media only screen and (min-width: 768px) {
    .m-global-promotion > div > div { max-width: 70%; margin: 0 auto; }
}

@media only screen and (min-width: 1084px) {
    .m-global-promotion > div > div { max-width: 50%; }
}

.m-global-promotion > div > .c-group { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

@media only screen and (min-width: 540px) {
    .m-global-promotion > div > .c-group { -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
        .m-global-promotion > div > .c-group .c-call-to-action { margin: 0; }
}

@media only screen and (min-width: 768px) {
    .m-global-promotion.f-image { -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; text-align: left; padding: 0; }
        .m-global-promotion.f-image > div { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-align-items: center; -ms-flex-align: center; align-items: center; min-width: calc(100% - 320px); padding: 12px 0 12px 12px; width: auto; }
            .m-global-promotion.f-image > div > div { margin: 0; }
}

@media only screen and (min-width: 768px) and (min-width: 768px) {
    .m-global-promotion.f-image > div > div { max-width: none; }
        .m-global-promotion.f-image > div > div .c-heading { padding-top: 0; }
}

@media only screen and (min-width: 768px) and (min-width: 1084px) {
    .m-global-promotion.f-image > div > div { max-width: none; }
}

@media only screen and (min-width: 768px) {
    .m-global-promotion.f-image > div > div + div { text-align: right; min-width: 250px; }
}

@media only screen and (min-width: 768px) and (min-width: 1084px) {
    .m-global-promotion.f-image > div { min-width: calc(100% - 440px); }
}

@media only screen and (max-width: 539px) {

    .m-global-promotion > div { padding-bottom: 22px; }
    .m-global-promotion .c-call-to-action { margin-left: 0px; margin-right: 0px; }
}

@media only screen and (min-width: 767px) {
    .hero-preorder-banner.ie10 .text-container { width: 60%; display: table; }
    .hero-preorder-banner.ie10 .header-container { width: 80%; display: table-cell; vertical-align: middle; }


    .hero-preorder-banner.ie10 .cta-container { width: 20%; display: table-cell; vertical-align: middle; }
}

.promos .theme-dark { background: none; }

.c-carousel li.f-animate-next picture img, .c-carousel li.f-animate-next picture img, .c-carousel li.f-animate-next .text-container { -webkit-animation: hero-content-next 0.667s cubic-bezier(0.16, 1, 0.29, 0.99) both; animation: hero-content-next 0.667s cubic-bezier(0.16, 1, 0.29, 0.99) both; }

.c-carousel li.f-animate-previous .text-container, .c-carousel li.f-animate-previous picture img { -webkit-animation: hero-content-previous cubic-bezier(0.16, 1, 0.29, 0.99) 0.667s both; animation: hero-content-previous cubic-bezier(0.16, 1, 0.29, 0.99) 0.667s both; }


.theme-dark .m-global-promotion a.c-call-to-action:hover, .theme-dark .m-global-promotion a.c-call-to-action:active, .theme-dark .m-global-promotion a.c-call-to-action:visited, .theme-dark .m-global-promotion a.c-call-to-action:focus { background: none; }

.promos { overflow: hidden; }
    .promos .c-carousel .c-sequence-indicator { bottom: 10px; }
    .promos .c-group { position: static; }
.theme-dark .c-sequence-indicator button:focus, .theme-light .theme-dark .c-sequence-indicator button:focus { outline: rgb(0, 0, 0) none 0px; }

/* SHow Hide*/
.svg-container svg {
    width: 23px;
    height: 23px;
    fill: #fff;
    vertical-align: sub;
    margin-bottom: -4px;
    padding-left: 5px;
}
svg:not(:root) {
    overflow: hidden;
}

.hide {
    display: none !important;
}
a[role=button].c-button, button.c-button {
    color: #fff;
    background-color: #107c10;
}

/************ Xbox Live pages **************/
/* fix for hero text under logo in desktop sizes*/
.m-hero-item h1.c-heading {
  max-height: 212px;
}
/* GWG 3-across infinite boxshots */
[data-grid*="col-12"].three-across  {
  padding: 24px 15%;
}
  @media screen and (min-width: 1084px) {
     .xbox-live-table p.c-paragraph-1 {width: 80%; margin-top: 29px;}
  }
@media (min-width: 1489px) {
  [data-grid*="col-12"].three-across .three-across-item {
    height: 36vw;
  }
}
@media (min-width: 1080px) and (max-width: 1488px) {
  [data-grid*="col-12"].three-across .three-across-item {
    height: 46vw;
  }
}
@media (min-width: 768px) and (max-width: 1079px) {
  [data-grid*="col-12"].three-across {
    padding: 24px 6%;
  }
  [data-grid*="col-12"].three-across .three-across-item {
    height: 66vw;
  }
}

/* 6x2 boxshot-only layout */
.gameDivsWrapper.gameList-6-2 {
    width: 922px;
    padding: 24px 6px;
}
@media (min-width: 640px) and (max-width: 941px) {
  .gameDivsWrapper.gameList-6-2 {
    width: 618px;
  }
}
@media (max-width: 639px) {
  .gameDivsWrapper.gameList-6-2 {
    width: 302px;
    padding: 0px 0px;
  }
}
.gameList-6-2 .m-product-placement-item {
    margin-right: 12px !important;
    margin-left: 12px !important;
    width: 124px !important;
}
/* Xbox Live Gold table */
.xbox-live-table {
    padding: 0 2% 4vw;
}
.xbox-live-table.c-table td {
    padding: 20px 12px;
}
.xbox-live-table h3.c-heading-3, 
.xbox-live-table h4.c-heading-4 {
    padding: 0;
}
@media (min-width: 1080px) {
  .xbox-live-table p.c-paragraph-1 {
    width: 80%;
  }
}
@media (max-width: 508px) {
  .xbox-live-table h4.c-heading-4 {
    font-size: 14px;
  }
  .xbox-live-table p.c-paragraph-1 {
    font-size: 12px;
  }
  .xbox-live-table td.f-numerical.f-sub-categorical {
    width: 26%;
  }
  .xbox-live-table img {
    width: 100%;
  }
}
/* End  Xbox Live Pages */

/* Console and Accessory hubs */
.consoleList .consoleItem {
    float: none !important;
    display: inline-block;
    margin-bottom: 24px;
    vertical-align: top;
}
.itemCat .item {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin-top: 24px;
}
.itemCat.catHidden {
  display: none;
}
.hiLo.priceSelected, .loHi.priceSelected {
  text-decoration: underline;
}
/* End Console and Accessory hubs */

/* mosaic over rides */
.c-mosaic-placement > div {
    justify-content: flex-end;
    padding-bottom: 50px;
}
.c-mosaic-placement .firstItem {
    justify-content: center;
}

.c-mosaic-placement .c-subheading {padding-top: 5px !important;}




