@charset "utf-8";
body {background-color:#fff;overflow-x: hidden;font-family: 'Source Sans Pro';}
.radius0 { border-radius:0;-moz-border-radius:0;-webkis-border-radius:0;}
input::-ms-clear{ display: none;}
a { outline:none}
.s-14 {font-size: 14px}
.s-16 {font-size: 16px}
.s-18 {font-size: 18px}
.s-20 {font-size: 20px}
.s-22 {font-size: 22px}
.s-24 {font-size: 24px}

.s-26 {font-size: 26px}
.s-30 {font-size: 30px}
.s-40 {font-size: 40px}
.s-50 {font-size: 50px}
.s-60 {font-size: 60px}


.navbar-sub .navbar-nav > li > a.nav-pic { padding:0; margin-top: 9px; margin-bottom:5px;  border:0}
.navbar-sub .navbar-nav > li > a span img { max-width:36px; max-height:36px; }
.navbar-sub .navbar-nav > li > .dropdown-menu {margin-top: 0px;}
.navbar-sub .navbar-nav > li > a.nvIcn { font-size:22px; padding-bottom:inherit; color:#bbb }


.navbar-sub .navbar-nav>li>a.empBtn { padding: 17px 10px 18px;background-color: #1565c0;color: #fff;font-weight:600;z-index: 101;position: relative;text-align:center;border-radius:0;border:0}
.navbar-sub .navbar-nav>li>a.empBtn:hover{ background: #1565c0;color: #fff;border:0}
.navbar-sub .navbar-nav>li>a.postsel  { padding: 17px 10px 18px ;background-color: #46b749;color: #fff;font-weight:600;z-index: 101;position: relative;text-align:center;border-radius:0;border:0}
.navbar-sub .navbar-nav>li>a.postsel:hover{background: #46b749;color: #fff;border:0}
.navbar-sub { padding:0 5px;background-color:#fff;border: 0px;border-bottom: 1px solid #e5e5e5;}
.navbar-sub .navbar-brand { height:auto;padding:14px 10px 10px;background-color:#fff; padding: 3px 10px; }
.navbar-sub .navbar-nav > li > a { padding: 16px;position: relative;top: 1px;margin-top: -1px;outline: none;font-weight:600;color: #212121;border-bottom: 3px solid transparent;line-height: 22px;}
.navbar .fmob{ position: relative;z-index: 11;}
.navbar-sub .navbar-nav > li > a.nav-pic:hover { border:0}
.navbar-sub .navbar-nav > li > a.active,.navbar-sub .navbar-nav > li > a.active:hover{background:#1565c0;color: #fff;border-color:#1565c0;}
.navbar-sub .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { background-color: #fff;}
@media(min-width:998px){
    
    .navbar-sub .dropdown:hover > .dropdown-menu {display: block;}

}
.navbar-sub .navbar-nav > .active > a, .navbar-sub .navbar-nav > li > a:hover, .navbar-sub .navbar-nav > .active > a:hover, .navbar-sub .navbar-nav > .active > a:focus 
{ background:none;border-bottom:solid 3px #1565c0;font-weight:600;color: #1565c0;}
.navbar-sub .postsel { padding: 0;margin:0;}
.navbar-sub .dropdown-menu>li>a { font-weight:600;color: #424242;display: block;padding: 3px 20px;clear: both;line-height: 1.42857143;white-space: nowrap;}
.dropdown-submenu>.dropdown-menu { top: 0;left: 100%;margin-top: -6px;margin-left: -1px;-webkit-border-radius: 0 6px 6px 6px;-moz-border-radius: 0 6px 6px;border-radius: 0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu { display: block;}

.dropdown-submenu>a:after { display: block;content: " ";float: right;width: 0;height: 0;border-style: solid;border-width: 5px 5px 0 5px;border-color: #ccc transparent transparent transparent;margin-top:3px;margin-right: -10px;}
.dropdown-submenu>a:after {border-width: 5px 0px 5px 5px;border-color:transparent transparent transparent #ccc;}


.dropdown-submenu:hover>a:after { }
.dropdown-submenu.pull-left>.dropdown-menu { left: -100%;margin-left: 10px;-webkit-border-radius: 6px 0 6px 6px;-moz-border-radius: 6px 0 6px 6px;border-radius: 6px 0 6px 6px;}
.pd0 { padding:0}


/*
Download app 

*/

header .header-app-gif {
    background-image: url("../i/download-app-header.gif?v=2");
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 20px;
    margin: 3px;
}
header .app-btn-elem #header-apps-link {
    width: 110px;
    
}
header .app-btn-elem #header-apps-link.nolink {
    width: 15px;
    
}
header .link-btn {
        color: #212121;
    margin: 8px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
header .download-dropdown-container {
    display: none;
     margin-top: -20px;
    position: relative;
    
 }
 header .header-item{
 height:48px;
 cursor:pointer;}
header .download-dropdown-container .arrow-up {
        width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    margin: auto;
    z-index: 2;
    position: absolute;
    left: 65px;
    top: -20px;
    height: 50px;
 
}
header .dropdown-box {
    cursor:default;
    position: absolute;
    height: 215px;
    background-color: #fff;
    padding: 20px 20px 0;
    width: 470px;
    left: -150px;
    top: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,.4);

}
header  .dropdown-box .content-container {
    width: 260px;
    color: #000;
}
header  .dropdown-box .text-large {
    font-size: 20px;
    margin: -5px 0;
	text-transform:uppercase;
}
header .dropdown-box .text-small {
    font-size: 16px;
    color: #7f7f7f;
    margin-bottom: 10px;
    margin-top: 5px;
 }
header .dropdown-box .app-store-img, .dropdown-box .play-store-img {
    background-image: url(../i/app-icons.png);
    height: 51px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    display: block;
    background-size: 300px;
    width: 150px;
    margin-top: 0;
}
.dropdown-box .app-store-img {
    background-position: -150px 0;
}
header  .dropdown-box .phone-app-screen {
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(../../r/i/download-app-seeker.jpg);
    height: 100%;
    width: 164px;
}
header  .dropdown-box .phone-app-screen.hiring {
   
    background-image: url(../../r/i/download-app-hiring.jpg);
    
}
header  .dropdown-box .phone-app-screen.mihnati {
   
    background-image: url(../../m/i/download-app-seeker.jpg);
    
}
header  .dropdown-box .phone-app-screen.mihnati.hiring {
   
    background-image: url(../../m/i/download-app-hiring.jpg);
    
}
/*end*/

footer .ftr-lnk a {margin:0 10px;}
footer a {color:#000;}
footer {/*border-top: 1px solid #bdbdbd;*/}
.section-primary {background-color: #337cbb !important;color: #ffffff;}
.sub-ftr {background-color:#1665c1 !important}
.sub-ftr div[class*='col-'] {width:20%;border-right:solid 1px #519df3}
.sub-ftr > .container > .row, .sub-ftr > .container-fluid > .row { display: flex} 	 
.sub-ftr > .container > .row > div[class*='col-'], .sub-ftr > .container-fluid > .row > div[class*='col-'] { flex:1}

.sub-ftr div[class*='col-']:last-child {border:0}
.sub-ftr a {color:#fff;display:block;margin-bottom:10px;}
.sub-ftr a:hover {color:#e4e4e4}
.sub-ftr .h4 {margin-top:0;font-weight:600;font-size: 20px}
.sub-ftr .h4 a {font-weight:600;font-size: 20px}
.section {padding: 35px 0;position: relative;}
.section .cpt {color:#212121;}
.section-dgrey {background-color:#212121}


@media (max-width: 1440px) { 
    body{font-size: 12px;}
    .container {max-width:1440px;width: 100%;padding: 0px 60px;}

    .s-14 {font-size: 12px}
    .s-16 {font-size: 14px}
    .s-18 {font-size: 14px}
    .s-20 {font-size: 16px}
    .s-24 {font-size: 20px}
    .s-26 {font-size: 22px}
    .s-30 {font-size: 26px}
    .s-36 {font-size: 28px}
    .s-40 {font-size: 32px}
    .s-50 {font-size: 42px}
    .s-60 {font-size: 54px}
    .s-74 {font-size: 60px}
 
}
@media (max-width: 1366px) { 
	.nvCntr2 {left: 44%;}
    body{font-size: 12px;}
    .s-14 {font-size: 12px}
    .s-16 {font-size: 14px}
    .s-18 {font-size: 16px}
    .s-20 {font-size: 18px}
    .s-24 {font-size: 20px}
    .s-26 {font-size: 22px}
    .s-30 {font-size: 26px}
    .s-36 {font-size: 28px}
    .s-40 {font-size: 32px}
    .s-48 {font-size: 40px}
    .s-50 {font-size: 42px}
    .s-60 {font-size: 54px}
    .s-74 {font-size: 60px}
    
}

@media (max-width: 1280px) { 
.s-14 {font-size: 12px}
    .s-16 {font-size: 12px}
    .s-18 {font-size: 14px}
    .s-20 {font-size: 14px}
    .s-24 {font-size: 18px}
    .s-26 {font-size: 22px}
    .s-30 {font-size: 24px}
    .s-36 {font-size: 26px}
    .s-40 {font-size: 30px}
    .s-48 {font-size: 38px}
    .s-50 {font-size: 40px}
    .s-60 {font-size: 48px}
    .s-74 {font-size: 58px}

   

}

@media (max-width: 1024px){ 
	.Tjbs div[class*='col-'] {border:0px !important;}
    .s-14 {font-size: 12px}
    .s-16 {font-size: 12px}
    .s-18 {font-size: 12px}
    .s-20 {font-size: 12px}
    .s-24 {font-size: 18px}
    .s-26 {font-size: 20px}
    .s-30 {font-size: 22px}
    .s-36 {font-size: 24px}
    .s-40 {font-size: 30px}
    .s-48 {font-size: 36px}
    .s-50 {font-size: 40px}
    .s-60 {font-size: 38px}
    .s-74 {font-size: 54px}
    

}




@media (max-width: 768px){ 
    .s-14 {font-size: 12px}
    .s-16 {font-size: 12px}
    .s-18 {font-size: 12px}
    .s-20 {font-size: 16px}
	.s-22 {font-size: 20px}
    .s-24 {font-size: 18px}
    .s-26 {font-size: 20px}
    .s-30 {font-size: 22px}
    .s-36 {font-size: 24px}
    .s-40 {font-size: 30px}
    .s-48 {font-size: 34px}
    .s-50 {font-size: 40px}
    .s-60 {font-size: 38px}
    .s-74 {font-size: 54px}

   	
}


@media (max-width: 767px){ 
    .s-14 {font-size: 12px}
    .s-16 {font-size: 12px}
    .s-18 {font-size: 12px}
    .s-20 {font-size: 16px}
	.s-22 {font-size: 20px}
    .s-24 {font-size: 18px}
    .s-26 {font-size: 20px}
    .s-30 {font-size: 22px}
    .s-36 {font-size: 24px}
    .s-40 {font-size: 30px}
    .s-50 {font-size: 40px}
    .s-60 {font-size: 38px}
    .s-74 {font-size: 54px}
    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a{ padding: 5px 15px;}
	

}


@media (max-width: 480px) { 
    .s-14 {font-size: 12px}
    .s-16 {font-size: 12px}
    .s-18 {font-size: 12px}
    .s-20 {font-size: 12px}
	.s-22 {font-size: 18px}
    .s-24 {font-size: 18px}
    .s-26 {font-size: 18px}
    .s-30 {font-size: 18px}
    .s-36 {font-size: 16px}
    .s-40 {font-size: 20px}
    .s-48 {font-size: 26px}
    .s-50 {font-size: 30px}
    .s-60 {font-size: 38px}
    .s-74 {font-size: 40px}
    
}






/*Style.css start*/
@font-face {
  font-family: 'rz';
  src:  url('fonts/rz.eot?plqqta');
  src:  url('fonts/rz.eot?plqqta#iefix') format('embedded-opentype'),
    url('fonts/rz.ttf?plqqta') format('truetype'),
    url('fonts/rz.woff?plqqta') format('woff'),
    url('fonts/rz.svg?plqqta#rz') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rz' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rz-Engineering:before {
  content: "\e900";
}
.rz-Import_Export:before {
  content: "\e901";
}
.rz-Recruitment:before {
  content: "\e902";
}
.rz-Retail:before {
  content: "\e903";
}
.rz-cvdropdownmenu:before {
  content: "\e904";
}
.rz-share_an_update:before {
  content: "\e905";
}
.rz-file:before {
  content: "\e906";
}
.rz-pdf:before {
  content: "\e907";
}
.rz-delete:before {
  content: "\e908";
}
.rz-download:before {
  content: "\e909";
}
.rz-edit:before {
  content: "\e90a";
}
.rz-refresh:before {
  content: "\e90b";
}
.rz-s-lock:before {
  content: "\e90c";
}
.rz-lock:before {
  content: "\e90d";
}
.rz-csarrow:before {
  content: "\e90e";
}
.rz-review_draft:before {
  content: "\e90f";
}
.rz-calendar:before {
  content: "\e910";
}
.rz-cross:before {
  content: "\e911";
}
.rz-message:before {
  content: "\e912";
}
.rz-arrowg-up:before {
  content: "\e913";
}
.rz-file2:before {
  content: "\e914";
}
.rz-func-area:before {
  content: "\e915";
}
.rz-searchicon:before {
  content: "\e916";
}
.rz-arrowg-down:before {
  content: "\e917";
}
.rz-linkedin:before {
  content: "\e918";
}
.rz-accountant:before {
  content: "\e919";
}
.rz-salary:before {
  content: "\e91a";
}
.rz-share:before {
  content: "\e91b";
}
.rz-lines:before {
  content: "\e91c";
}
.rz-upload:before {
  content: "\e91d";
}
.rz-views:before {
  content: "\e91e";
}
.rz-healthcare:before {
  content: "\e91f";
}
.rz-team:before {
  content: "\e920";
}
.rz-analysis:before {
  content: "\e921";
}
.rz-arrow-down:before {
  content: "\e922";
}
.rz-media:before {
  content: "\e923";
}
.rz-search:before {
  content: "\e924";
}
.rz-ngos:before {
  content: "\e925";
}
.rz-teacher:before {
  content: "\e926";
}
.rz-leftarrow:before {
  content: "\e927";
}
.rz-women:before {
  content: "\e928";
}
.rz-rightarrow:before {
  content: "\e929";
}
.rz-postjob:before {
  content: "\e92a";
}
.rz-mail3:before {
  content: "\e92b";
}
.rz-facebook2:before {
  content: "\e92c";
}
.rz-tumblr2:before {
  content: "\e92d";
}
.rz-linkedin3:before {
  content: "\e92e";
}
.rz-arrow-up:before {
  content: "\e92f";
}
.rz-send_info:before {
  content: "\e930";
}
.rz-final_cv:before {
  content: "\e931";
}
.rz-get_draft:before {
  content: "\e932";
}
.rz-ehpostjob:before {
  content: "\e933";
}
.rz-checkmark:before {
  content: "\e934";
}
.rz-play3:before {
  content: "\e935";
}
.rz-mobile:before {
  content: "\e936";
}
.rz-earth:before {
  content: "\e937";
}
.rz-images:before {
  content: "\e938";
}
.rz-globe:before {
  content: "\e939";
}
.rz-locked:before {
  content: "\e93a";
}
.rz-unlocked:before {
  content: "\e93b";
}
.rz-plus:before {
  content: "\e93c";
}
.rz-tick:before {
  content: "\e93d";
}
.rz-eye:before {
  content: "\e93e";
}
.rz-qoute:before {
  content: "\e93f";
}
.rz-cart:before {
  content: "\e940";
}
.rz-dashboard:before {
  content: "\e941";
}
.rz-fcomment:before {
  content: "\e942";
}
.rz-flike:before {
  content: "\e943";
}
.rz-fshare:before {
  content: "\e944";
}
.rz-img:before {
  content: "\e945";
}
.rz-jobalerts:before {
  content: "\e946";
}
.rz-lines2:before {
  content: "\e947";
}
.rz-mycvs:before {
  content: "\e948";
}
.rz-myjobs:before {
  content: "\e949";
}
.rz-ncross:before {
  content: "\e94a";
}
.rz-network:before {
  content: "\e94b";
}
.rz-ntick:before {
  content: "\e94c";
}
.rz-profile:before {
  content: "\e94d";
}
.rz-savedjob:before {
  content: "\e94e";
}
.rz-uploadphoto:before {
  content: "\e94f";
}
.rz-doc:before {
  content: "\e950";
}
.rz-docx:before {
  content: "\e951";
}
.rz-cvdownload:before {
  content: "\e952";
}
.rz-cvmessage:before {
  content: "\e953";
}
.rz-cvpreview_profile:before {
  content: "\e954";
}
.rz-cvshortlist:before {
  content: "\e955";
}
.rz-hclock:before {
  content: "\e956";
}
.rz-hcomments:before {
  content: "\e957";
}
.rz-hedit-grey:before {
  content: "\e958";
}
.rz-hlike:before {
  content: "\e959";
}
.rz-Sales_Marketing:before {
  content: "\e95a";
}
.rz-candidate:before {
  content: "\e95b";
}
.rz-cv:before {
  content: "\e95c";
}
.rz-featured:before {
  content: "\e95d";
}
.rz-highlighting:before {
  content: "\e95e";
}
.rz-uniE95F:before {
  content: "\e95f";
}
.rz-uniE960:before {
  content: "\e960";
}
.rz-keywords:before {
  content: "\e961";
}
.rz-money:before {
  content: "\e962";
}
.rz-premium:before {
  content: "\e963";
}
.rz-topjobs:before {
  content: "\e964";
}
.rz-mail:before {
  content: "\f03b";
}
.rz-calendar2:before {
  content: "\f073";
}
.rz-twitter:before {
  content: "\f099";
}
.rz-facebook:before {
  content: "\f09a";
}
.rz-envelope:before {
  content: "\f0e0";
}
.rz-linkedin2:before {
  content: "\f0e1";
}
.rz-envelope2:before {
  content: "\f0e2";
}
.rz-linkedin22:before {
  content: "\f0e3";
}
.rz-google:before {
  content: "\e965";
}
.rz-youtube:before {
  content: "\e966";
}



 

.ccpSprt { background:url(../i/sprt/ccp-90x40.gif?1.4) ; width:90px; height:40px; cursor:pointer;}

.ccp1{ background-position:0px 0px;}/*Lums*/
.ccp2{ background-position:-100px 0px;}/*Ucp*/
.ccp4{ background-position:-200px 0px;}/*Fast*/
.ccp6{ background-position:-400px 0px;}/*Gift*/
.ccp7{ background-position:-500px 0px;}/*Air*/
.ccp8{ background-position:-300px 0px;}/*Bahria*/
.ccp18{ background-position:-600px 0px;}/*Buitems*/

.ccp5{ background-position:0px -50px;}/*Comsats*/
.ccp20{ background-position:-100px -50px;}/*Ims*/
.ccp15{ background-position:-200px -50px;}/*Iiui*/
.ccp9{ background-position:-300px -50px;}/*Iba*/
.ccp32{ background-position:-400px -50px;}/*Bzu*/
.ccp24{ background-position:-500px -50px;}/*Fcc*/
.ccp13{ background-position:-600px -50px;}/*Giki*/

.ccp16{ background-position:0px -100px;}/*Ibasuk*/
.ccp28{ background-position:-100px -100px;}/*Logix*/
.ccp30{ background-position:-200px -100px;}/*Maju*/
.ccp25{ background-position:-300px -100px;}/*Neduet*/
.ccp27{ background-position:-400px -100px;}/*Netsol*/
.ccp3{ background-position:-500px -100px;}/*Nust*/
/*.ccp22{ background-position:-600px -100px;}/*Nwfpuet*/

.ccp12{ background-position:0px -150px;}/*Qau*/
.ccp19{ background-position:-100px -150px;}/*Sbku*/
.ccp10{ background-position:-200px -150px;}/*Seecs*/
.ccp17{ background-position:-300px -150px;}/*Uob*/
.ccp31{ background-position:-400px -150px;}/*HEC*/
.ccp29{ background-position:-500px -150px;}/*Iobm*/
.ccp26{ background-position:-600px -150px;}/*msdGCU*/

.ccp23{ background-position:0px -200px;}/*hu*/
.ccp34{ background-position:-100px -200px;}/*vu*/
.ccp14{ background-position:-200px -200px;}/*uetTexila*/
.ccp22{ background-position:-300px -200px;}/*uetNwfp*/
.ccp36{ background-position:-400px -200px;}/*ist*/
.ccp33{ background-position:-500px -200px;}/*iqra*/
.ccp46{ background-position:-600px -200px;}/*case*/

.ccp47{ background-position: 0px -250px;}/*uet-lhr*/
.ccp39{ background-position:-100px -250px;}/*AUP*/
.ccp40{ background-position:-200px -250px;}/*numllahore*/
.ccp37{ background-position:-300px -250px;}/*hajvery*/
.ccp45{ background-position:-400px -250px;}/*ias*/
.ccp38{ background-position:-500px -250px;}/*acca*/
.ccp35{ background-position:-600px -250px;}/*iub*/

.ccp42{ background-position: 0px -300px;}/*uit*/
.ccp49{ background-position:-100px -300px;}/*ceme*/
.ccp41{ background-position:-200px -300px;}/*tuf*/
.ccp43{ background-position:-300px -300px;}/*pafkiet*/
.ccp51{ background-position:-400px -300px;}/*riphah*/
.ccp44{ background-position:-500px -300px;}/*tip added*/
.ccp54{ background-position:-500px -300px;}/*open added*/

.ccp50{ background-position: 0px -350px;}/*cecos*/
.ccp55{ background-position:-100px -350px;}/*abasyn*/
.ccp53{ background-position:-200px -350px;}/*majukhi*/
.ccp56{ background-position:-300px -350px;}/*szabist*/
.ccp59{ background-position:-400px -350px;}/*kust not addedin ictr 1*/
.ccp48{ background-position:-500px -350px;}/*superior*/
.ccp58{ background-position:-600px -350px;}/*newports*/

.ccp57{ background-position: 0px -400px;}/*dadabhoy*/
.ccp52{ background-position:-100px -400px;}/*sbeumt*/
.ccp21{ background-position:-200px -400px;}/*upesh*/
.ccp63{ background-position:-300px -400px;}/*numlisb*/
.ccp65{ background-position:-400px -400px;}/*lcwu*/
.ccp61{ background-position:-500px -400px;}/*kiu*/
.ccp67{ background-position:-600px -400px;}/*isra university*/

.ccp66{ background-position: 0px -450px;}/*UAF university*/
.ccp64{ background-position:-100px -450px;}/*fatima jinnah women university*/
.ccp68{ background-position:-200px -450px;}/*imsciences university*/
.ccp71{ background-position:-300px -450px;}/*BNU*/
.ccp62{ background-position:-400px -450px;}/*indus university*/
.ccp73{ background-position:-500px -450px;}/*kinnaird university*/
.ccp70{ background-position:-600px -450px;}/*kasbit university*/

.ccp74{ background-position: 0px -500px;}/*MUET*/
.ccp69{ background-position:-100px -500px;}/*NTU*/
.ccp81{ background-position:-200px -500px;}/*SAU university*/
.ccp60{ background-position:-300px -500px;}/*QUEST*/
.ccp72{ background-position:-400px -500px;}/*biztek*/
.ccp75{ background-position:-500px -500px;}/*pide*/
.ccp76{ background-position:-600px -500px;}/*lnh*/

.ccp83{ background-position: 0px -550px;}/*uog*/
.ccp80{ background-position:-100px -550px;}/*carepakistan*/
.ccp85{ background-position:-200px -550px;}/*uoe*/
.ccp82{ background-position:-300px -550px;}/*pu*/
.ccp77{ background-position:-400px -550px;}/*dcet*/
.ccp78{ background-position:-500px -550px;}/*bahria khi*/
.ccp87{ background-position:-600px -550px;}/*usindh*/

.ccp79{ background-position: 0px -600px;}/*salu*/
.ccp86{ background-position:-100px -600px;}/*icmap*/
.ccp88{ background-position:-200px -600px;}/*kmu*/
.ccp90{ background-position:-300px -600px;}/*greenwich*/
.ccp84{ background-position:-400px -600px;}/*uok*/

.ccp92{ background-position:-500px -600px;}/*skills*/
.ccp91{ background-position:-600px -600px;}/*uol*/

