.nomgn { margin:0!important; }
.canbviewed a { position:absolute; right:10px; top:10px; }
.pdrht10 { padding-right: 10px; }
.pdlft0 { padding-left: 0; }
.topbar .navbar-default .navbar-nav>li>a { color: #424242; font-weight:600; line-height: 21px; padding: 15px 10px; }
.topbar .navbar-default .navbar-nav>li>a.active { background: #1565C0; color: #fff; }
.topbar .navbar-default .navbar-nav>li>a.empsel { color: #fff; background-color: #424242; font-weight:600; padding:15px; }
.suggest .sugCont { position: absolute; background-color: #fff; display: none; box-shadow: 1px 1px 4px rgba(0, 0, 0, .2); z-index: 9; overflow-y: auto; border: 1px solid #c5c5c5; width: calc(100% - 8px)!important; }
.suggest .sugCont li { list-style: none; padding: 0px; margin: 0px; }
.suggest .Sdrop .category { padding: 5px; color: #adadad; }
.Sdrop { padding: 0px; margin: 0px; }
.suggest .Sbtn { height: 25px; display: block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding: 0 0 0 15px; text-decoration: none; line-height: 25px; color: #000; background: 0 0; text-align: left; border: 0; width: 100%; cursor: pointer; }
.suggest .Sbtn:hover, .suggest .Sbtn.active { background-color: #3875D7; color: #fff; outline:0px; }
#language_pref .modal-dialog { width: 1022px; }
#language_pref .modal-dialog .modal-body { padding: 0px; }
#language_pref .modal-dialog .modal-body .close { position: absolute; right: 0px; top: 0px; height: 53px; width: 53px; display: block; }
#language_pref .modal-dialog .modal-body .lgt { width: 170px; height: 70px; position: absolute; display: block; }
#language_pref .modal-dialog .modal-body .lgt.en { left: 70px; bottom: 70px; }
#language_pref .modal-dialog .modal-body .ur { bottom: 70px; left: 258px; }
.ms-res-item-active:hover .head { background-color: white; width: 110%; margin-left: -2px; }
.form-search input[type="search"] { font-size: 12px; color: #424242; font-weight:600; font-weight: 400; line-height: 20px; margin: 0; padding: 8px 12px; border: 2px solid #f9a825; width: 88%; outline: none; transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; background: #ffffff; }
.container h1 { color: white; }
.rozeevideo { position: relative; top: -1px; z-index: 99; width: 100%; display: block; }
.container { width: 1470px; margin: 0 auto; }
.onemillion { display: block; width: 100%; text-align: center; color: #fff; position: relative; margin-top: 155px; line-height: 50px; font-weight:600; }
.start_today { display: block; width: 100%; text-align: center; color: #fff; font-weight: normal; position: relative; line-height: 64px; }
.search_form .row { margin-left:4px; margin-right:4px; }
.search_form [class*='col-'] {
padding-left:4px;
padding-right:4px;
}
.search_form { margin: 80px 0 0 0; }
.search_form select, .search_form input { padding:10px 20px; color: #212121; border:0; background:#f5f5f5; height: 60px; font-weight:600; font-size:22px; }
.search_form input[type=text]:focus, .search_form input[type=text]:active { background:#ffffff; }
.search_form select { box-shadow:none; background:#F5F5F5; height:60px; appearance:none; background-image: url("../i/dropdown-icon.svg"); -moz-appearance: none; -webkit-appearance:none; background-position:calc(100% - 14px) center; background-size:11px; padding-left:19px; line-height:30px; background-repeat:no-repeat; outline:0px; }
.search_form .btn { color:#fff; background-color:#1565c0 }
.search_form .btn-block { font-size:22px }
.search_form .bootstrap-select { height: 60px; position: relative; margin-bottom: 10px; }
.search_form .bootstrap-select .btn, .search_form .bootstrap-select .btn:hover, .search_form .bootstrap-select .btn:focus, .search_form .bootstrap-select .btn:active { background:#f5f5f5; color: #212121; border-radius: 0px; padding: 15px 23px; font-size: 22px; border:0px; font-weight:600; }
.search_form .bootstrap-select .btn:focus, .search_form .bootstrap-select .btn:active, .search_form .open .btn { background:#fff !important; outline:0px; box-shadow:none; }
.search_form .bootstrap-select .btn .caret { border: 0px; -moz-appearance: none; -webkit-appearance: none; background-image: url("../i/dropdown-icon.svg"); background-position: center top; background-repeat: no-repeat; width: 10px; height: 16px; background-size:cover; margin-top:-8px !important; right:14px !important; }
.search_form .bootstrap-select input { padding: 10px; font-size: 16px; height: auto; border: 1px solid #ccc; border-radius: 0px; }
.search_form .bootstrap-select .dropdown-menu { overflow-x:hidden; position:absolute; width: 100%; }
.search_form .bootstrap-select .dropdown-menu .no-results { text-overflow: ellipsis; overflow: hidden; }
.search_form select.bs-select-hidden, select.selectpicker { display: block!important; }
.srch_overlay { position: relative; z-index: 999; background: rgba(0, 0, 0, 0.75); min-height:650px; }
#showposter, #showposter2 { background-size: cover!important; display: block; max-height: 100%; max-width: 100%; min-height:730px }
.vlinkbtn { position: absolute; background: rgba(255, 255, 255, 0.5); border-radius: 50%; width: 80px; height: 80px; right: 50px; bottom: 50px; text-align: center; vertical-align: middle; float: none; font-size: 30px; color: #424242; padding: 20px 0; cursor: pointer; z-index: 999; }
.vlinkbtnm { background: rgba(255, 255, 255, 0.5); border-radius: 50%; width: 80px; height: 80px; margin:20px auto; text-align: center; vertical-align: middle; float: none; font-size: 30px; color: #424242; padding: 20px 0; cursor: pointer; z-index: 999; }
.video { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; }
.video .overlay { position: absolute; z-index: 2; left: 0; top: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.5); }
.js-video { height: 0; padding-top: 25px; padding-bottom: 67.5%; margin-bottom: 10px; position: relative; overflow: hidden; }
.js-video.widescreen { padding-bottom: 56.34%; }
.js-video.vimeo { padding-top: 0; }
.js-video embed, .js-video iframe, .js-video object, .js-video video { top: 0; left: 0; width: 100%; height: 100%; position: absolute; min-height: 668px; }
#tvcoverlay iframe { width:100%; height:100% }
#tvcoverlay .sstryoverlayfixed { background-color: #000; height: 100%; opacity: 0.5; position: fixed; top: 0; width: 100%; z-index: 999998; }
#tvcoverlay .sstryoverlay { box-sizing: border-box; display: block; height: 100%; position: fixed; width: 100%; z-index: 999999; top:0; bottom:0; left:0; right:0; }
#tvcoverlay .ov-center { height: 100%; margin: 0 auto; width: 100%; }
#tvcoverlay .ov-close { background: rgba(23, 35, 34, 0.75) none repeat scroll 0 0; border-radius: 5px; padding: 18px 22px; position: absolute; right: 9px; top: 133px; transition: background-color 40ms ease 0s; }
.get_started { position: relative; display: block; margin: 66px auto 50px; text-align: center; }
.get_started a, .get_started a:hover { outline: none; text-align: center; text-decoration: none; display: block; padding-top: 31px; border-radius: 50%; background-color: #1565c0; width: 205px; height: 205px; text-align: center; margin: 0 auto; }
.get_started p { text-align: center; margin: 11px auto 0; color: #fff; width: 100%; }
.comp_logos { display: block; width: 100%; margin: 35px auto; }
.browse_job { display: block; width: 100%; background-color: #1565c0; }
.browseBtn .btn:active a, .browseBtn .btn:hover a, .browseBtn .active a { color:#1565c0; background:#fff !important }
.browseBtn .btn, .browseBtn .btn:focus, .browseBtn .dropdown-toggle.btn-primary { background-color:#1565c0; font-size:24px; padding:20px }
.browseBtn ul { width:100%; margin-top:72px; }
.browseBtn .dropdown-menu { padding:0; border:0 }
.browseBtn .dropdown-menu > li > a { font-size:24px; padding:8px 20px }
.browseBtn .dropdown-menu > li > a:hover, .browseBtn .btn-primary.active.focus, .browseBtn .btn-primary.active:focus, .browseBtn .btn-primary.active:hover, .browseBtn .btn-primary.focus:active, .browseBtn .btn-primary:active:focus, .browseBtn .btn-primary:active:hover, .browseBtn > .dropdown-toggle.btn-primary.focus, .browseBtn > .dropdown-toggle.btn-primary:focus, .browseBtn > .dropdown-toggle.btn-primary:hover { background-color: #1565c0; color:#fff; }
.browseBtn .btn-lg .caret { border-width:10px 10px 0 }
.brsjob_title { padding: 20px 10px; }
.jobstabs { margin: 0 0 -1px 0; }
.jobstabs > ul { border-bottom:0px; }
.jobstabs .nav-tabs>li { margin-bottom: -10px; }
.jobstabs .nav-tabs>li>a { margin-right: 0; margin-left: 0; line-height: 1.42857143; border: 0px solid transparent; border-radius: 0; font-weight:600; color: #fff; }
.jobstabs .nav-tabs>li>a:hover { margin-right: 0; line-height: 1.42857143; border: 0px solid transparent; border-radius: 0; font-weight:600; color: #212121; background-color: #fff; padding: 30px 17px; border-top:9px solid #f9a825; margin-top:-9px; }
.jobstabs .nav>li>a { position: relative; display: block; padding: 30px 17px; }
.jobstabs .nav-tabs > li.active > a, .jobstabs .nav-tabs > li.active > a:focus, .jobstabs .nav-tabs > li.active > a:hover { background-color: #fff; border-top: 9px solid #f9a825; color: #212121; cursor: default; font-weight:600; margin-top: -9px; padding: 30px 17px; outline: none; margin-bottom: -2px; border-left: 0px solid #f9a825; border-right: 0px solid #f9a825; }
.jobscats { margin: 40px auto 36px; }
.jobscats .glyphicon { display:none; }
.tabslinks a { color: #424242; text-decoration: none; margin: 6px 0; transition: .2s ease-out;
-webkit-transition: .2s ease-out;
-moz-transition: .2s ease-out;
-ms-transition: .2s ease-out;
}
.tabslinks a .title { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width:calc(100% - 50px); margin-right:5px; }
.tabslinks a:hover { color: #1565c0; }
.tabslinks a.morecats { color: #1565c0; text-decoration: none; display: inline-block; }
.catsicon { background-color: #fafafa; border-top: 1px solid #e0e0e0; display: block; width: 100%; padding: 50px 0 40px; }
.iconbox { display: block; width: 100%; text-align: center; margin: 0 auto; }
.iconbox a { display: inline-block; text-align: center; text-decoration: none; color: #424242; font-weight:600; transition: .2s ease-out;
-webkit-transition: .2s ease-out;
-moz-transition: .2s ease-out;
-ms-transition: .2s ease-out;
}
.iconbox a:hover { text-decoration: none; color: #1565c0; }
.iconbox i { border: 2px solid #1565c0; border-radius: 50%; color: #1565c0; display:table-cell; height: 100px; vertical-align: middle; width: 100px; padding: 15px 0; margin: 0 auto 20px; transition: .2s ease-out;
-webkit-transition: .2s ease-out;
-moz-transition: .2s ease-out;
-ms-transition: .2s ease-out;
position:relative; bottom:10px; }
.iconbox a:hover i, .iconbox a.active i { color: #fff; background-color: #1565c0; }
.iconbox a:hover i { box-shadow: 0 3px 5px 0 rgba(219, 219, 219, 0.50), 0 3px 5px 0 rgba(219, 219, 219, 0.24) !important; }
.apAd .h1 { font-size:52px\9; color:#fff; font-weight:600; text-transform:uppercase; letter-spacing:2px; }
.apAd .h2 { color:#fff; font-weight:600; margin-top:10px; letter-spacing:-1px; }
.apAd .h4 { color:#fff; font-weight:600; margin:5px auto 25px; }
.apAd .apAdCnt { padding-top:60px }
.apAd .apAdImg { padding-left:90px }
.appcmgsoon { color:#fff; }
.apAd a.full_link { position: absolute; width: auto; height: auto; bottom: 0; top: 0; right: 0; z-index:11; left: 0; text-indent: -9999999999px; overflow: hidden; }
.apAd .apAdCnt a { position:relative; z-index:11; }
.apAd .apAdCnt a img { margin: 5px; }
.parvaazAd { background-color:#8eA2A3; padding:0px; }
.parvaazAd img { max-width:100%; border-top:1px solid #ADABAB; }
.rcntJbs { border-top:solid 1px #e4e4e4; background-color:#fafafa; }
.rcntJbs .carousel-inner { margin-bottom:50px; }
.rcntJbs .h2 { margin:10px 0 40px; font-weight:600; font-weight: normal; color: #424242; }
.rcntJbs .h2 a, .rcntJbs .h2 a:hover { color: #424242; text-decoration:none; }
.rcntJbs .h3 { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin:0; font-weight:600; color: #424242; line-height: 32px; }
.rcntJbs .h3 a { color: #424242; text-decoration:none; }
.rcntJbs .h4 { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin:0; color: #212121; height:25px; }
.rcntJbs div[class*='col'] {
border-right:solid 1px #999
}
.rcntJbs div[class*='col']:last-child {
border:0
}
.rcntJbs .carousel-indicators li { background-color:#bdbdbd; border-color:#bdbdbd; }
.rcntJbs .carousel-indicators .active { background-color:#1565c0; border-color:#1565c0 }
.rcntJbs .carousel-indicators { bottom:0; margin-top:30px; position:relative }
.Tjbs { border-top:solid 1px #e4e4e4; }
.Tjbs .h1 { color:#1565c0; margin-bottom:40px; margin-top:0; }
.Tjbs .h3 { font-size:16px\9; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin:0; font-weight:600; margin-bottom:4px; color:#212121; }
.Tjbs .h4 { font-size:12px\9; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin:0; color:#424242; }
.Tjbs .row { margin-left:-25px; margin-right:-25px; }
.Tjbs div[class*='col-'] {
border-right:solid 1px #bdbdbd;
height:80px;
padding-left:20px;
padding-right:20px;
}
.Tjbs .h3, .Tjbs .h4 { max-width:350px; width:230px\9 }
.Tjbs div[class*="col-"]:nth-child(3n + 1) {
border:0
}
.Tjbs div[class*="col-"].Tlst {
min-height:inherit;
margin-bottom:35px;
height:auto
}
.Tjbs div[class*="col-"].nbrd {
border:0
}
.Tjbs .media { margin-bottom:25px; padding:8px; }
.Tjbs .media .media-body { width:calc(100% - 102px); }
.Tjbs div[class*='col-'] .media:last-child {
margin:0
}
.Tjbs .media:hover { background: #f5f5f5; }
.Tjbs .h3 a, .Pjbs .h3 a, .Tjbs .h4 a, .Pjbs .h4 a { color:#000; text-decoration:none }
.Tjbs .media-right a, .Pjbs .media-right a { width:92px; height:43px; display:block; border:solid 1px #ccc }
.Tjbs .media-right a.tj000, .Pjbs .media-right a.tj000 { background-position:0 0 }
.Tjbs .media-right a.tjPrivate, .Pjbs .media-right a.tjPrivate { background-position:0 -41px }
.newsSc { border-top:solid 1px #e4e4e4; font-size:18px; background-color:#fafafa; padding:40px 0; }
.newsSc .h1 { font-size:29px\9; margin-bottom:10px; font-weight:600; margin-top:10px; }
.newsSc .h1 a { text-decoration:none; color:#212121; }
.newsSc p { font-size:16px\9; color:#212121; line-height: 28px; text-align:justify }
.newsSc .row { margin-left:-50px; margin-right:-50px; }
.newsSc > .container > .row { display:flex }
.newsSc [class*='col-'] {
padding-left:50px;
padding-right:50px;
}
.newsSc .newsScRt img { margin-left:10px; margin-bottom:10px; }
.newsSc img { border:solid 1px #bdbdbd }
.newsSc hr { background:#bdbdbd; border-color: #bdbdbd; }
.mgnTB30 { margin-top:30px; margin-bottom:30px; }
.brdR { border-right:solid 1px #bdbdbd }
.Pjbs { border-top:solid 1px #e4e4e4; font-weight:600; padding:40px 0 0 }
.Pjbs .h1 { color:#1565c0; margin-bottom:35px; margin-top:0; }
.Pjbs .h3 { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin:0; line-height: 32px; width:100%; font-weight:600; color:#212121; }
.Pjbs .h4 { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin:0; line-height:21px; width:100%; color:#424242 }
.Pjbs .row { margin-left:-70px; margin-right:-70px; }
.Pjbs div[class*='col-'] {
padding-left:70px;
padding-right:70px;
height:85px
}
.media { overflow:hidden }
.Pjbs .media { margin-bottom:25px; padding:2px 5px; position:relative; }
.Pjbs .media .msb { width:calc(100% - 115px); }
.Pjbs .media .msb .media-body { width:100%; }
.Pjbs .media:hover { background:#f5f5f5; }
.Pjbs .media .media-right { margin:10px 5px; }
.Pjbs div[class*='col-'] .media:last-child {
margin:0
}
.topjdivider { position:absolute; left:50%; height:90%; height:calc(100% - 214px); bottom:85px; background:#bdbdbd; width:1px; }
.Pjbs .media a.full_link, .Tjbs .media a.full_link { position: absolute; width: auto; height: auto; bottom: 0; top: 0; right: 0; z-index:11; left: 0; text-indent: -9999999999px; overflow: hidden; }
 .Pjbs div[class*="col-"]:nth-child(even) {
border:0
}
.Pjbs div[class*="col-"]:nth-last-child(1), .Pjbs div[class*="col-"]:nth-last-child(2) {
min-height:inherit;
margin-bottom:32px;
height:auto;
min-height:inherit
}
 @-moz-keyframes pulse-loader { 0% {
-moz-box-shadow: #a4bcec 0 0 0px 0px;
box-shadow: #a4bcec 0 0 0px 0px;
}
 100% {
-moz-box-shadow: #a4bcec 0 0 0px 10px;
box-shadow: #a4bcec 0 0 0px 10px;
}
}
@-webkit-keyframes pulse-loader { 0% {
-webkit-box-shadow: #a4bcec 0 0 0px 0px;
box-shadow: #a4bcec 0 0 0px 0px;
}
 100% {
-webkit-box-shadow: #a4bcec 0 0 0px 10px;
box-shadow: #a4bcec 0 0 0px 10px;
}
}
@keyframes pulse-loader { 0% {
-webkit-box-shadow: #a4bcec 0 0 0px 0px;
-moz-box-shadow: #a4bcec 0 0 0px 0px;
box-shadow: #a4bcec 0 0 0px 0px;
}
 100% {
-webkit-box-shadow: #a4bcec 0 0 0px 10px;
-moz-box-shadow: #a4bcec 0 0 0px 10px;
box-shadow: #a4bcec 0 0 0px 10px;
}
}
@-webkit-keyframes spinner { 0% {
-webkit-transform:rotate(0);
}
 100% {
-webkit-transform:rotate(360deg);
}
}
@-moz-keyframes spinner { 0% {
-moz-transform:rotate(0);
}
 100% {
-moz-transform:rotate(360deg);
}
}
@-o-keyframes spinner { 0% {
-o-transform:rotate(0);
}
 100% {
-o-transform:rotate(360deg);
}
}
@-ms-keyframes spinner { 0% {
-ms-transform:rotate(0);
}
 100% {
-ms-transform:rotate(360deg);
}
}
@keyframes spinner { 0% {
transform:rotate(0);
}
 100% {
transform:rotate(360deg);
}
}
.glyphicon { font-family: 'rz' !important; }
.glyphicon-play:before { content: "\e935"; }
.glyphicon-menu-down:before { content: "\e917"; }
.glyphicon-menu-down { font-family: 'rz' !important; display: inline-block; font-style: normal; font-weight: 400; line-height: 1; position: relative; top: 1px; font-size:10px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; width:20px; height:20px; color:#000 !important }
.moverlay { position: absolute; width: 100%; top: 0px; height: 100%; right: 0px; z-index: 9999; }
.moverlay .mclose .cbtn:hover { background-color: #d81b60; background-image:url("../../r/i/ico/mclose-icn-h.png"); color: #fff; }
.has-error input, .has-error label, .has-error .form-control, .has-error select, .has-error checkbox { border-color: #b71c1c !important; color: #b71c1c !important; }
.moverlay .sup .sec#upload_resume { padding-bottom: 580px !important; }
.moverlay .sup .sec .fieldc .ajxUploaderCnt .qq-uploader .qq-upload-remove:before { color: #084584; font-size: 10px; content: "\e911"; }
.moverlay .sup #your_phone_no .fieldc .col-md-3 .form-group { text-align: center; line-height:58px; }
.moverlay .sup .sec.disable .moveto, .moverlay .sup .sec.disable .penter { visibility:hidden }
.moverlay .sup .sec.disable:before { content: ""; width: 100%; height: 100%; height:auto\9; position: absolute; z-index: 111; }
.moverlay .sup .sec .mrangec, .moverlay .sup .sec .msalerangec { position: relative; margin-top: 40px; }
.moverlay .sup .sec .mrangec.disable:after { content: ""; position: absolute; height: 38px; opacity: 0.5; width: 100%; top: -15px; z-index: 11; position: absolute; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.moverlay input[type='checkbox'] { height: 0; width: 0; display: none; }
.moverlay input[type='checkbox'] + label { position: relative; display: flex; margin-left: 10px; font-size: 18px; align-items: center; color: #0f4685; }
.moverlay input[type='checkbox'] + label > span { display: flex; justify-content: center; align-items: center; margin-right: 10px; width: 20px; height: 20px; background: transparent; border: 1px solid #0f4685; cursor: pointer; }
.moverlay input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span { background: rgba(255, 255, 255, .1); }
.moverlay input[type='checkbox']:checked + label > span { background: url("../../r/i/ico/checkbox-tick.png") no-repeat center center; }
.moverlay ::-webkit-input-placeholder {
color: #fff;
}
.moverlay ::-moz-placeholder {
color: #fff;
}
.moverlay :-ms-input-placeholder {
color: #fff;
}
.moverlay .bootstrap-select .btn, .moverlay .bootstrap-select .btn:hover, .moverlay .bootstrap-select .btn:focus, .moverlay .bootstrap-select .btn:active { background: none !important; border: 0px; height: 58px; font-size: 25px; outline-offset:0px !important; box-shadow: none; outline:0px !important; color: #fff !important; }
#sign-up select.merror, #sign-up input.merror { margin-bottom: 0px; }
.moverlay .ms-ctn input:focus, .moverlay .ms-ctn input { background: none; }
.moverlay .ms-ctn, .moverlay .bootstrap-tagsinput { width: 100%; min-height: 58px; border: 1px solid #0f4685; background: none; outline: 0px; border-radius: 0px; padding: 7px 13px; font-size: 25px; color: #fff; }
.moverlay .dropdown-menu>.active>a, .moverlay .dropdown-menu>.active>a:focus, .moverlay .dropdown-menu>.active>a:hover { background-color: #0F4685; }
.moverlay .label-info, .moverlay .ms-ctn .ms-sel-item { background-color: #0F4685; }
.moverlay .ms-ctn .ms-sel-item, .moverlay .ms-ctn .ms-sel-item:hover { display: inline; padding: .2em 1em .3em .4em; font-size: 75%; font-weight: 700; line-height: 1; color: #fff; margin-top: 4px; pointer-events:relative; text-align: center; border: 0px; white-space: nowrap; vertical-align: baseline; border-radius: .25em; }
.moverlay .bootstrap-tagsinput .tag [data-role="remove"] { margin-left: 8px; cursor: pointer; }
.moverlay .bootstrap-tagsinput .tag [data-role="remove"]:after { content: "x"; padding: 0px 2px; }
.step2 input[type='checkbox'] + label { display: inline-block; margin-top: 10px; }
.step2 input[type='checkbox'] + label > span { margin-top: 2px; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.chbxs input[type='checkbox'] { height: 0; width: 0; display: none; }
.btn { transition: .2s ease-out;
-webkit-transition: .2s ease-out;
-moz-transition: .2s ease-out;
-ms-transition: .2s ease-out;
}
.btn-primary { background:#1565c0; border-color:#1565c0; }
formcl input:focus { outline:0px; border:0px; box-shadow:none !important }
select::-ms-expand {
display:none;
}
.ss-container:hover .ss-scroll { opacity: 1; }
.spinner, .spinner:after { border-radius: 10px; width: 20px; height: 20px; }
@-webkit-keyframes load8 { 0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
 100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@keyframes load8 { 0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
 100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
.navbar-toggle { border: 0px; }
.jdbtns .btn-default:hover { background-color: #1565c0; color: #fff; }
.jdmrntp { margin-top: 30px; }
.formcl input { border-left: 1px solid #e0e0e0; height: 56px; }
.jdfoltitle .btn-default:hover { background-color: #1565c0; color: #fff; }
.jdsjt a, .jdsjt a:hover { font-weight:600; color: #1565c0; margin: 10px 0; text-decoration: none; }
.jdsjbtn .btn-default:hover { background-color: #1565c0; color: #fff; }
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { max-height: 550px; }
.blur .rozeevideo, .blur .section, .blur section, .blur header { -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px); }
.rp .breadcrumb li a, .rp .breadcrumb .active { }
.rp .media-body, .media-left, .media-right { vertical-align: middle; }
.rp_box1:hover { background-color: #e8e8e8; }
.rp_box1title a:hover { text-decoration: none; color: #1565c0; }
.schdform form input, .schdform form textarea { border-radius: 0; height: 45px; }
.hpsearchg .form-control, .hpsearchg .btn-default { height: 70px; border-radius: 0; }
.hpsearchg .btn-default { background-color: #f9a825; border-color:#f9a825; }
.betterjob .h1, .betterjob .h2 { color: #1565c0; margin: 0; font-weight: 600 }
.ehpostjob a, .ehpostjob a:hover { outline: none; text-align: center; text-decoration: none; display: block; padding-top: 30px; border-radius: 50%; background-color: #1565c0; width: 164px; height: 164px; text-align: center; margin: 0 auto; color: #fff }
 .cvexmpimg .carousel-inner > .item > a > img,, .cvexmpimg .carousel-inner > .item > img, .cvexmpimg .img-responsive, .cvexmpimg .thumbnail a > img, .cvexmpimg .thumbnail > img {
display: block;
height: auto;
max-width: 100%;
margin:0 auto 20px;
}
.csctbg .item img { margin-bottom: 20px }
.cvsrcbox:hover { border: 1px solid #1e88e5; }
.cvDtlbtns a:hover { color:#616161; }
.cvsrcbox:hover .cvDtlbtns { display:block; }
.cvemptitle .dropdown-menu >li > a:hover { color:#1565c0 }
.cvsrc_vm a:hover { color:#1565c0; text-decoration:none; }
.cvolmcly .mhd { font-size: 35px; }
.selwrapr:focus { outline: none; }
.selwprcus:focus { outline: none; }
.cvsrclgin .fltrf div[class*='col-'] {
padding-left: 15px!important;
padding-right: 15px!important;
}
.cvsrtby span:before { content: ''; position: absolute; bottom: 100%; left: 45%; margin-left: -12px; width: 0; height: 0; border-bottom: 12px solid #E2E2E2; border-right: 12px solid transparent; border-left: 12px solid transparent; }
.cvsrtby span:after { content: ''; display:none; position: absolute; bottom: 100%; left: 12%; margin-left: -8px; width: 0; height: 0; border-bottom: 8px solid #FFFFFF; border-right: 8px solid transparent; border-left: 8px solid transparent; }
.calert a { color: #226; }
.cvsrtby:hover span { visibility: visible; top: 50px; left: 0%; margin-left: -176px; z-index: 999; background-color: #fff; }
.cvrelicon a:hover { padding: 5px 5px 1px; color: #616161; text-decoration:none }
.cvsrcbox_body .dropdown:hover .dropdown-menu { display:block; top:25px; }
.ftrfb a { width:40px; height:40px; border-radius:50%; border:2px solid #fff; text-align:center; display:inline-block; background-color:transparent; padding:8px 0 0 0; color:#fff; text-decoration:none; margin-right:10px; }
.ftrfb a:hover { background-color:#fff; color:#1565c0; text-decoration:none; }
.ftrflwus { color:#fff!important; margin:10px 0 15px 0!important;}
.ftrappbtn a {display:inline-block}
.ftrappbtn a img { max-width: 100%;}


 @media (min-width: 1000px) and (max-width: 1025px) {
.newsSc .newsScRt img {
display:none;
}
.newsSc .newsScRt p {
overflow:hidden;
height:137px
}
}
@media (min-width: 1170px) {
.opcontainer {
max-width: 1170px !important;
width: 100% !important;
}
 .Tjbs div[class*="col-"]:nth-last-child(3),  .Tjbs div[class*="col-"]:nth-last-child(2),  .Tjbs div[class*="col-"]:nth-last-child(1) {
height:auto;
margin-bottom:29px
}
 .Tjbs div[class*="col-"]:nth-last-child(3) .media,  .Tjbs div[class*="col-"]:nth-last-child(2) .media,  .Tjbs div[class*="col-"]:nth-last-child(1) .media {
padding-bottom:0
}
 .Tjbs div[class*="col-"]:nth-child(3) .media,  .Tjbs div[class*="col-"]:nth-child(2) .media,  .Tjbs div[class*="col-"]:nth-child(1) .media {
padding-top:0
}
}
@media (min-width: 1400px) {
.Tjbs div[class*="col-"]:nth-last-child(3),  .Tjbs div[class*="col-"]:nth-last-child(2),  .Tjbs div[class*="col-"]:nth-last-child(1) {
height:auto;
margin-bottom:29px
}
 .Tjbs div[class*="col-"]:nth-last-child(3) .media,  .Tjbs div[class*="col-"]:nth-last-child(2) .media,  .Tjbs div[class*="col-"]:nth-last-child(1) .media {
padding-bottom:0
}
 .Tjbs div[class*="col-"]:nth-child(3) .media,  .Tjbs div[class*="col-"]:nth-child(2) .media,  .Tjbs div[class*="col-"]:nth-child(1) .media {
padding-top:0
}
}
.mt20 { margin-top: 20px !important; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background:none; color:#000; border:0 }
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar { background-color: #000; }
.opages .breadcrumb li:before, .opages .breadcrumb li:after, .opages .breadcrumb a, .opages .breadcrumb a.active.opages .breadcrumb a:hover { color: #757575; }
.opages .breadcrumb li:before { padding: 0 2px; }
.rz-pre, a.rz-pre { color: #424242 !important; }
html { height: 100% }
.rz-login .signin a:hover { color: #1565c0; }
.rz-login .signin input::-webkit-input-placeholder {
color: #b7b7b7;
}
 .rz-login .signin input:-ms-input-placeholder {
color: #b7b7b7;
}
.rz-login footer { background-color: rgba(0, 0, 0, 0.7); height: 60px; position: fixed; bottom: 0px; width: 100%; color: #fff; line-height: 60px; font-weight: 400; }
.rz-login .signin .btn:hover { box-shadow: 0 3px 5px 0 rgba(219, 219, 219, 0.50), 0 3px 5px 0 rgba(219, 219, 219, 0.24); background-color: #005ac0; }
.rz-login .signin .tstroke, .rz-login .signin .tstroke:hover { border: 1px solid #aeaabb; font-weight: 600; background: #fff; height: 40px; border-radius: 0px; box-shadow: 0 0px 0px 0 rgba(125, 119, 146, 0.50), 0 1px 4px 0 rgba(125, 119, 146, 0.24); color: #7c7692; }
.rz-login .signin .tstroke, .rz-login .signin .tstroke { width:250px; }
.rz-login .signin .tstroke { }
 @-webkit-keyframes slideInDown { from {
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
visibility: visible;
}
to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
 @keyframes slideInDown { from {
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
visibility: visible;
}
to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
.sitemap .pagers a:hover { color:#fff !important; }
.savedApp .jlist .job:hover:before { content: ""; position: absolute; width: calc(100% + 40px); height: auto; bottom: 0; top: 0; right: 0; left: 0; text-indent: -9999999999px; background: #fcfcfc !important; overflow: hidden; margin: 0px -20px; }
.savedApp .jlist .job:hover { box-shadow: none !important; background:none; border-color:#e0e0e0; cursor:default }
.savedApp .abtn .btn.radius50:hover { box-shadow:none !important; border-color:#1565c0 !important; color:#fff !important; background:#1565c0 !important; }
.savedApp .abtn .btn i, .savedApp .abtn .btn span { margin-left:-2px; }
.savedApp .fltrby a:hover { border-radius:0px !important; background:none !important; box-shadow:none !important; color:#1565c0 !important; }
.sitemap .browseBtn .btn, .sitemap .browseBtn .btn:focus, .sitemap .browseBtn .dropdown-toggle.btn-primary { padding:10px; }
.sitemap .fltrby a { border-bottom:1px solid transparent; }
.savedApp .fltrby a.active, .savedApp .fltrby .active a { border-radius:0px !important; background:none; border:0px !important; box-shadow:none !important; color:#1565c0 !important; border-bottom:1px solid #1565c0 !important; }
.cvmanager .jlist .job .status, .cvmanager .jlist .job .status a { color:#424242 !important }
.cvmanager .cmbtn .btn:hover { border-radius: 0; background:#1d8310; border:1px solid #1d8310!important; text-decoration:underline }
.cvmanager .jlist .job .status { padding-top:0px; }
.rcntJbs .jlist .job div[class*='col'] {
padding-left:0px;
border: 0px;
}
.rcntJbs .jlist .job, .rcntJbs .jlist .job:hover { background: none; box-shadow: none !important; cursor: default; border: 0px; }
.rcntJbs .jlist .job .jcont { border-bottom: 1px solid #E4E4E4; }
.rcntJbs .jlist .job .jcont { margin: 0px; }
@media all\0 {
.moverlay, .moverlay:before { background:url("../../r/i/ie-bg.png"); height:100%; }
.moverlay#sign-up { height:auto; }
}
@media (max-width: 1680px) and (min-width: 1640px) {
.emphdr {
margin-left:-615px;
}
}
@media (max-width: 1600px) {
.s-18 .lvs {
font-size:14px !important;
}
.emphdr {
margin-left: -550px;
}
}
@media (max-width: 1440px) {
.cvsrcbox_body.loggedout .lpstf {
width:calc(75% + 20px);
margin-left:-20px;
}
 .search_form .bootstrap-select .btn, .search_form .bootstrap-select .btn:hover, .search_form .bootstrap-select .btn:focus, .search_form .bootstrap-select .btn:active {
font-size: 18px;
padding: 17px 10px;
}
.pagination>li>a {
padding:6px 8px !important;
}
.cvappcont {
width: 145px;
}
.cvappimg {
max-width: 145px;
width: 145px;
}
.emphdr {margin-left: -505px;}
.ftrfb a {margin-right:5px; padding:10px 0 0 0; }
}
@media (max-width: 1366px) {
.userNav .s-26 {
font-size:18px;
}
.emphdr {
margin-left:-465px;
left:50%;
}
 .nvCntr2 {
left: 44%;
}
 body {
font-size: 12px;
}
 .navbar-sub .jdwel {
padding: 17px 0;
}
 .msticky .mstc .arrow {
width: 30px;
height: 30px;
}
 .container {
max-width:1470px;
width: 100%;
padding: 0px 60px;
}
 header .container {
padding:0 15px;
}
 .topbar .container {
padding:0px 15px;
}
 .jdbtns {
margin: 0 0px 0 0;
}
 .navbar-sub .navbar-nav > li > a.open-search {
padding: 16px;
}
 .onemillion {
margin-top: 120px;
line-height: 50px;
}
 .vlinkbtn {
height: 60px;
width: 60px;
padding: 11px 17px;
}
 .tabslinks a, .tabslinks a:hover {
margin: 3px 0;
}
 .jobscats {
margin: 40px auto;
}
 .get_started a img {
width: 44px
}
 .get_started a, .get_started a:hover {
height: 170px;
padding-top: 25px;
width: 170px;
}
 .input-lg, select.input-lg {
height: 60px;
padding: 10px 30px 10px 10px;
}
 .jdpkru .rz-year {
top: 6px;
}
 .jdpkru .rz-paper {
top: 7px;
}
 .search_form .bootstrap-select .btn, .search_form .bootstrap-select .btn:hover, .search_form .bootstrap-select .btn:focus, .search_form .bootstrap-select .btn:active {
font-size: 18px;
padding: 17px 10px;
}
 .search_form select, .search_form input {
padding: 10px 20px;
font-size:18px;
}
 .search_form .btn-block {
font-size: 18px;
}
 .navbar-sub .empBtn .btn-default,  .navbar-sub .postsel .btn-default {
line-height: 26px;
}
 .navbar-sub .navbar-nav > li > a {
line-height: 24px;
padding:16px 10px;
}
 .rp_box1 .media-body, .media-left, .media-right {
vertical-align: top;
}
 .rp_stdcrd {
letter-spacing: 5px;
}
 .cspglist .nav-tabs li {
margin-right: 12px;
width: 19%;
}
 .navbar-sub .navbar-nav>li>a.empBtn,  .navbar-sub .navbar-nav>li>a.postsel {
padding: 17px 20px 18px;
}
 .cscv_box {
padding: 20% 0;
}
.schdform .btn-primary {
margin-top: 10px;
}
.rp_box1 {
min-height: 160px;
}

}
 @media (max-width: 1280px) {
.s-14 {
font-size: 12px
}
 .postjob {
margin: 22px 0 0 5%;
}
 .search_form .bootstrap-select .btn, .search_form .bootstrap-select .btn:hover, .search_form .bootstrap-select .btn:focus, .search_form .bootstrap-select .btn:active {
font-size: 16px;
padding: 18px 10px;
}
.search_form select, .search_form input {
font-size: 16px;
padding: 10px 20px;
}
.search_form .btn-block {
font-size: 16px;
}
 .iconbox i {
height: 90px;
width: 90px;
padding: 15px 0;
margin: 0 auto 10px;
}
 .jdbtns .btn {
padding: 10px 33px;
}
 .navbar-sub .navbar-nav > li > a {
line-height: 24px;
}
 .betterjob .h1 {
font-size: 58px;
}
.cspglist .nav-tabs li {
margin-right: 10px;
width: 19%;
}
.emphdr {
margin-left: -455px;
width: 700px;
}
.ftrfb a { padding:12px 0 0 0; }
}
 @media (max-width: 1024px) {
 .search_form .col-md-10 {
width: 100%;
margin-left: 0px;
}
 .get_started a, .get_started a:hover {
height: 150px;
padding-top: 25px;
width: 150px;
}
 .get_started a img {
width: 34px;
}
 .search_form select, .search_form input {
height: 50px;
padding: 10px;
font-size:14px;
}
 .search_form .btn-block {
font-size: 14px;
}
 .search_form .bootstrap-select {
height: 50px;
}
 .search_form .bootstrap-select .btn, .search_form .bootstrap-select .btn:hover, .search_form .bootstrap-select .btn:focus, .search_form .bootstrap-select .btn:active {
font-size: 14px;
padding: 15px 10px;
}
 .jdpkru {
margin: 0 10px 0 0;
}
 .jdbtns {
margin: 0 0px 0 0;
}
 .navbar-sub .navbar-nav > li > a {
padding: 15px 8px;
}
 .jdalert {
font-size: 20px;
}
 .container {
max-width:1470px;
width: 100%;
}
 .emp_text {
margin-top: 20px;
margin-left: 0;
width: 100%;
}
 .hiring_best {
margin-left: 0;
width: 100%;
}
 .comp_rec {
width: 100%;
}
 .postjob {
margin: 22px 0 0 40%;
}
 .apAd .apAdCnt {
padding-top: 20px;
}
 .brsjob_title {
padding: 20px 0;
}
 .jobscats ul {
list-style-type: none;
padding: 0 10px;
}
 .postjob {
margin: 22px 0 0 0;
}
 .search_form select {
padding: 10px;
}
 .onemillion {
margin-top: 90px;
}
 .js-video embed, .js-video iframe, .js-video object, .js-video video {
min-height: 100%;
}
 .jobdetpage {
margin-top: 40px;
}
 .rp_box1 {
min-height: 203px;
}
.Tjbs div[class*="col-"].Tlst {
margin-bottom:37px;
}
 .js-video.widescreen {
padding-bottom: 68%;
}
 .srch_overlay {
min-height:600px;
}
 .get_started {
margin: 25px auto 0
}
 .cspglist .nav-tabs li {
margin-right: 7px;
width: 19%;
}
 .hbimg {
height: 400px;
}
 .betterjob .h1 {
font-size: 44px;
}
 .navbar-sub .navbar-nav>li>a.empBtn,  .navbar-sub .navbar-nav>li>a.postsel {
padding: 16px 20px 17px;
}
 .bldteam {
line-height: 52px;
}
 .psh {
line-height: 24px;
}
 .ehpostjob {
margin: 30px auto;
}
 .betterjob .h1 {
font-size: 42px;
}
.emphdr > li > a {
padding: 16px 5px!important;
}
.emphdr {
margin-left: -375px;
width: 600px;
}
.cvappcont {
width: 115px;
}
 .cvappimg {
max-width: 115px;
width: 115px;
}
 .cvappimg img {
max-width:100%
}
.ftrfb a { width:35px; height:35px; margin-right:4px; padding:8px 0 0 0; }
}
 @media (max-width: 1023px) {
.nvCntr2 {
margin-left:-200px !important;
}
 .nvCntr2 {
margin: 0;
}
 .emphdr {
margin: 0;
}
 .jdbtns {
margin: 15px 0 0 0;
}
 .jdcolpd .col-md-9 {
padding-left: 15px;
padding-top: 15px;
}
 .jobdetpage {
margin-top: 40px;
}
 .cvwrtngbg {
margin-top: 50px;
}
 .savedApp .jlist .job .status {
text-align:inherit !important;
}
 .cvwd35 {
width:17%!important
}
}
@media (max-width: 999px) {
.pagination>li>a {
padding:6px 6px !important;
}
.nvCntr2 {
margin-left:0px !important;
}
.jdmodal .modal-dialog {
width:95%;
}
 #left-jmenu {
display: inline-block;
visibility: visible;
margin-right: 16px;
}
.search_form .bootstrap-select.form-control, .search_form .form-control {
margin-bottom:10px
}
.navbar-sub .navbar-brand.listing-sp {
margin-left: 36px;
}
.navbar-header {
float: none;
}
.navbar-left, .navbar-right {
float: none !important;
}
.navbar-toggle {
display: block;
}
.navbar-collapse {
border-top: 1px solid transparent;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.navbar-fixed-top {
top: 0;
border-width: 0 0 1px;
}
.navbar-collapse.collapse {
display: none!important;
}
.navbar-nav {
float: none!important;
margin-top: 7.5px;
}
.navbar-nav li ul {
position:relative;
width:100%;
box-shadow:none;
border:0;
clear:both;
margin:0;
left:0
}
.dropdown-submenu > .dropdown-menu {
left:0;
padding-left:20px;
display:block
}
.navbar-nav>li,  .navbar-nav li ul li {
float: none;
display:block;
width:100%;
position:relative;
width:100%
}
 .navbar-nav>li>a;
.navbar-nav>li>a:hover {
padding-top: 10px;
padding-bottom: 10px;
display:block;
width:100%;
text-align:left;
border:0
}
 .navbar-nav li a {
display:block;
width:100%;
text-align:left;
border:0
}
 .collapse.in {
display:block !important;
}
 .navbar-sub .navbar-nav > li > a, .navbar-sub .navbar-nav > li > a:hover {
border:0 !important
}
 .navbar-sub .fmob {
float:none !important;
}
 .cvsrchlstng .fltrf input, .cvsrchlstng .fltrf .bootstrap-select {
margin:0 0 10px 0
}
.cvovrly .modal-dialog {
width: 100%;
margin: 30px auto;
}
 .newsSc > .container > .row {
display:block
}
.newsSc > .container > .row > div {
clear:both
}
}
@media (max-width: 768px) {
 #language_pref .modal-dialog {
 max-width: 300px;
 margin:auto;
 position: absolute;
 left: 0px;
 top: 0px;
 bottom: 0px;
 height: 180px;
 right: 0px;
}
 #language_pref .modal-dialog img {
 width: 100%;
}
#language_pref .modal-dialog .modal-body {
 padding: 0px;
}
#language_pref .modal-dialog .modal-body .close {
position: absolute;
right: 0px;
top: 0px;
height: 18px;
 width: 18px;
display: block;
}
#language_pref .modal-dialog .modal-body .lgt {
width: 50px;
 height: 22px;
position: absolute;
display: block;
}
#language_pref .modal-dialog .modal-body .lgt.en {
left: 20px;
 bottom: 20px;
}
#language_pref .modal-dialog .modal-body .ur {
bottom: 20px;
 left: 75px;
}
 .browseBtn {
position: relative;
}
 .browseBtn ul {
margin-top: 0px !important;
}
 .calert .message {
font-size:12px !important;
}
.cvrpchkbox {
display: inline-block;
width: 20px;
top: -4px;
vertical-align: top;
left:0px;
position:absolute;
}
 .ajob .fbody .calendar > span {
top:22px;
right:13px;
}
 .navbar-sub .navbar-toggle:hover,  .navbar-sub .navbar-toggle:focus,  .navbar-sub .navbar-toggle:active {
background:none
}
 .navbar-sub .navbar-brand.listing-sp {
margin-left: 26px;
}
 .onemillion {
margin-top: 140px;
}
 .search_form select, .search_form input {
margin-bottom: 10px;
}
 .js-video {
display: none;
}
 .video {
background: url("../i/rozeevideo.jpg") no-repeat top center;
background-size: cover;
}
 .search_form select {
background: #fff url("../i/ico/dropdown-arrow.jpg") no-repeat scroll 97% 50%;
}
 .emp_hire .col-md-5 {
margin-left: 0;
}
 .comp_rec {
letter-spacing: 0;
line-height: 50px;
text-align: left;
}
 .hiring_best {
letter-spacing: 0;
}
 .Pjbs div[class*="col-"] {
border-right: 0px solid #999;
}
 .brdR {
border-right: 0px solid #e4e4e4;
}
 .Tjbs div[class*="col-"] {
border-right: 0px solid #999;
}
 .rcntJbs div[class*="col"]:nth-child(2n) {
border-right: 0px solid #999;
}
 .apAd .apAdImg {
padding-left:0
}
 .section-dgrey a img {
margin-bottom: 20px;
}
 .jobdetpage {
margin-top: 106px;
}
 .iconbox {
margin: 0 auto 20px;
}
 .catsicon {
padding: 45px 0 0;
}
 .jdgdblue .col-md-3 {
border-left: 0px solid #fff;
}
 .rp .btn-warning {
margin-top: 10px;
}
 .moverlay .sup .sec .bootstrap-tagsinput input, .moverlay .label-info, .moverlay .ms-ctn .ms-sel-item {
font-size: 14px;
}
 .rp {
margin-top: 90px;
background-color: #fafafa;
}
 .cspglist .nav-tabs li {
margin-right: 10px;
width: 31%;
margin-top: 10px;
}
 .cviconbox {
margin: 0 auto 20px;
}
 .worksbox {
margin: 20px auto 30px;
}
 .hbimg {
height: auto;
}
 .moverlay .ms-ctn input:focus, .moverlay .ms-ctn input, .moverlay .ms-ctn .ms-sel-item:hover {
font-size:14px;
}
 .betterjob .h1 {
font-size: 30px;
}
 .jobstabs .nav>li>a {
font-size:14px;
padding:30px 8px;
}
 .newsSc > .container > .row {
display:block
}
 .newsSc .h1 {
margin-top:10px;
}
 .posttabmrg {
display: block;
margin: 20px 20px 0;
text-align: center;
width: 100%;
}
.rp_stdcrd {
letter-spacing: 3px;
}
.rp_box1 {
min-height: 125px;
}
.pcbox {
margin-bottom: 50px;
}
.ehfindjob {
margin-top: 2%;
}
.csrp_box {
padding: 14% 0;
}
.cvovrly .modal-dialog {
width: 100%;
margin: 30px auto;
}
}
 @media (max-width: 767px) {
.cvappname .pull-left {
float:none !important;
}
.cvappname a {
font-size:18px;
display:block;
margin-bottom:7px;
}
.cvsrclgin .cvsrchlstng .fltrf {
padding:10px 0 10px;
}
.cvsatxt a {
font-size:10px;
}
.cvappcont {
margin:0 auto;
width:100%;
}
.cvsatxt {
width:115px;
margin:0 auto;
}
.cvappimg {
text-align:center;
height:113px;
width:125px;
display:inline-block;
}
.cvappimg img {
display:inline-block;
}
 .cvsdatetxt {
display: block;
width: 100%;
text-align: center;
}
 .subpagec {
padding:10px !important;
margin-top: 0px;
}
 .browseBtn .dropdown-toggle {
border:0px;
box-shadow:none !important;
}
 .srch_overlay {
min-height:auto;
}
 .Pjbs .row, .newsSc .row, .Tjbs .row {
margin:0px;
}
 .Pjbs div[class*='col-'], .newsSc div[class*='col-'], .Tjbs div[class*='col-'] {
padding-left:0;
padding-right:0;
margin-bottom:0px !important;
}
 .opages {
margin-top: 57px !important;
}
 .Pjbs .h1, .Tjbs .h1, .rcntJbs .h2 {
margin-bottom:15px !important;
}
 .opages .breadcrumb {
margin: 10px 0;
width: 100%;
overflow: hidden;
height: 20px;
text-overflow: ellipsis;
white-space: nowrap;
display: block;
display: flex;
flex: 1;
}
 .opages .breadcrumb>.active {
flex: 1;
text-overflow: ellipsis;
overflow: hidden;
}
 .row {
margin:0px;
}
 div[class*='col-'] {
padding:0px;
}
 .nomgnM {
margin:0px !important;
}
 .jobscats {
margin:20px auto;
}
 .browseBtn .btn, .browseBtn .btn:focus, .browseBtn .dropdown-toggle.btn-primary {
padding: 20px 15px;
}
 .container {
padding: 0px 10px;
}
 .navbar-sub .nvCntr2 {
border-top: 0px;
top:0px;
}
 .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
padding: 5px 15px;
}
 .ppage {
margin-top: 57px !important;
}
 .userNav .userName {
padding: 8px 0px;
}
 .navbar-right {
float: right !important;
margin-right: 0px !important;
background: #fff;
width: 100%;
position: relative;
}
 .navbar-fixed-top .navbar-collapse {
width: 100%;
}
 .navbar-right li {
float: right !important;
width: 100%;
}
 .navbar-sub {
padding-left:10px;
padding-right:10px;
}
 .navbar-sub .dropdown img {
border:solid 1px #757575;
margin:0 15px;
}
 .navbar-sub .fmob {
float:none !important;
}
 .jdcolpd .col-md-3 {
padding-right: 15px;
}
 .jdsjbtn {
display: block;
margin: 20px auto 0;
text-align: center;
width: 100%;
}
 .navbar-sub .navbar-toggle {
right: 0px;
padding: 0px;
margin: 0px;
margin-top: 18px;
border-radius:0;
}
 .navbar-sub .navbar-toggle#search-btn {
right: 10px;
color:#888;
}
 .navbar-sub .navbar-nav > li > a {
padding: 15px 0;
}
 .navbar-sub .navbar-nav > .active > a, .navbar-sub .navbar-nav > li > a:hover, .navbar-sub .navbar-nav > .active > a:hover, .navbar-sub .navbar-nav > .active > a:focus {
border-bottom:solid 0px #1565c0;
}
 .navbar-sub .navbar-nav > li > a.nav-pic {
padding: 0;
}
 .navbar-sub .navbar-text {
padding: 5px 0;
}
 .brdleft {
border-left: 0px solid #e0e0e0;
}
 .jobdetpage {
margin-top: 70px;
}
 .jdspectitle {
margin-top: 0;
}
 .jdmrntp2 {
margin-top: 30px;
}
 .right-nav {
right: -1px;
position: fixed;
top: 25px;
}
 .navbar-right {
float: none !important;
margin-right: 0px !important;
background: #fff;
width: 100%;
position: relative;
text-align: inherit;
}
 .navbar-fixed-top .navbar-collapse {
width: 100%;
}
 .navbar-right li {
float: right !important;
width: 100%;
}
 .navbar-sub .navbar-nav > li > a {
padding: 8px 5px!important;
text-transform:uppercase;
border-bottom: 1px solid #e7e7e7;
}
 .navbar-sub .navbar-nav > .active > a, .navbar-sub .navbar-nav > li > a:hover, .navbar-sub .navbar-nav > .active > a:hover, .navbar-sub .navbar-nav > .active > a:focus {
border-bottom: solid 1px #e7e7e7;
}
 .navbar-nav {
margin-bottom: 0px;
left:0;
right:0;
}
 .modal .text-right  .ajob .scv {
padding: 20px;
}
 .ajob h4 {
margin: 10px 0;
}
 .ajob .ss-content {
width: 100%;
}
 .ajob .ss-content::-webkit-scrollbar {
display: none;
}
 .ajob .btn.btn-success {
margin: 10px 0px;
}
 .modal .col-sm-9 [class^='col-']:last-child, .modal .col-sm-9 [class^='col-'], .modal .col-sm-9 [class^='col-']:first-child {
padding: 6px 15px;
}
 .ajob .col-sm-9 [class^='col-']:last-child, .modal .col-sm-9 [class^='col-'], .modal .col-sm-9 [class^='col-']:first-child {
padding: 6px 0px;
}
 .ajob .scv {
padding:0px 20px;
}
 .modal .ajob .text-right.col-sm-3, .modal .signinm .text-right.col-sm-3 {
padding: 0px;
}
 .ajobf .skp {
margin-top: 10px;
margin-left: 0px;
}
 .ajob .fbody .dsh {
display: none;
}
 .ajob .heading .add {
margin-top: 30px;
}
 .ajob .fbody .addm {
position: absolute;
top: -42px;
right: 0px;
}
 .topbar .logo {
margin: 4px 10px 10px 0;
}
 .topbar .navbar-default .navbar-nav>li>a {
padding: 15px 5px;
}
 .onemillion {
margin-top: 120px;
}
 .search_form {
margin: 25px 0 0;
}
 .search_form input[type="text"] {
margin-bottom: 10px;
}
 .pdlft0 {
padding-left: 15px;
}
 .search_form select {
margin-bottom: 10px;
}
 .comp_rec {
padding-bottom:22px
}
 .postjob {
clear: both;
display: block !important;
float: none !important;
margin: 0 auto !important;
}
 .rcntJbs div[class*="col"] {
margin-bottom: 15px;
}
 .rcntJbs div[class*="col"]:nth-child(even) {
border-right: 0px solid #999;
}
 .apAd .apAdCnt {
padding-top: 0;
text-align: center;
}
 .apAd .h1 {
margin-top: 0;
}
 .apAd a {
display: inline-block;
margin-bottom: 15px;
}
 .iconbox a {
margin-bottom: 15px;
}
 .jdbtns {
display:block;
width:100%;
text-align:center;
margin-top:20px;
}
 .jdspectitle {
margin-top: 30px;
}
 .jdmrntp2 {
margin-top: 30px;
}
 .js-video embed, .js-video iframe, .js-video object, .js-video video {
display: none;
}
 .video {
background: url("../../r/i/en/rozeevideo.jpg") no-repeat top center;
background-size: cover;
}
 .js-video.widescreen {
height: 100%;
padding-bottom: 56.34%;
}
 .emp_hire .col-md-5 {
margin-left: 0;
}
 .search_form select {
background: #fff url("../i/ico/dropdown-arrow.jpg") no-repeat scroll 96% 50%;
}
 .rp_box1 .media-body, .rp_box1 .media-left, .rp_box1 .media-right {
width: 100%;
display: block;
text-align: center;
}
 .rp_stdcrd {
letter-spacing: 4.8px;
}
 .posttabmrg {
width: 100%;
text-align: center;
margin: 0 auto
}
 .rp_box1 {
min-height: 120px;
}
 .posttabmrg {
width: 100%;
text-align: center;
margin: 0 20px 0;
}
 .ehfindjob {
margin-top: 0%;
display: block;
width: 100%;
text-align: center;
}
 .rpsignup .btn-warning {
margin: 15px auto 0;
padding: 15px 25px;
}
 .schdform .textinput label {
padding: 0.4em 1%;
}
 .csbox {
border: 0px solid #f1f1f1;
}
 .cviconbox {
margin-bottom: 20px;
}
 .cvwrtngbg {
margin-top: 50px;
}
 .search_form .btn-block {
font-size: 14px;
padding:12px 15px;
}
 .cvexmpimg.pull-left, .cvexmpimg.pull-right {
float:none!important
}
 .cvimgbox {
display: block;
margin: 0 auto 10px;
}
 .csrp_box {
padding: 14% 0;
}
.cvsmpimg img:last-child {
padding: 20px 15px;
margin: 20px 0 0 0;
}
.cvsrc0box {
padding:0;
}
.cvappbox {
display: block;
position: relative;
width:100%;
margin:0 auto;
text-align:center;
}
.pstfrstjob {
max-width: 325px;
}
}
 @media (max-width: 650px) {
.rz-login .signin {
padding:15px !important;
}
 .ajobf {
padding: 5px;
}
 .moverlay .mor {
width: calc(100% - 35px);
}
 .moverlay .linkedin-btn {
width: 87%;
}
 .ppage .finfo .btn-grp .mypro {
margin-left: 0px;
margin-top: 0px;
}
 .ppage .pcntent {
margin-top: -70px;
}
 .topbar {
height: 52px;
margin: 0;
position: relative;
z-index: 999;
}
 .topbar .logo {
margin: 4px 10px 10px 15px;
}
 .topbar .navbar-default .navbar-nav > li > a.empsel {
background-color: #fff;
color: #424242;
padding: 15px;
}
 .onemillion {
line-height: 55px;
margin-top: 80px;
}
 .start_today {
line-height: 50px;
}
 .get_started {
margin: 30px auto
}
 .moverlay .ms-sel-ctn .ms-sel-item .ms-close-btn {
position: absolute;
right: 1px;
right: 2px;
top: 1px;
}
 .emp_hire {
display: none;
}
 .moverlay .ms-ctn .ms-sel-ctn {
margin-top: 4px;
}
 .section-dgrey {
display: none;
}
 .sub-ftr {
display: none;
}
 .rcntJbs .h2 {
color: #1565c0;
font-weight:600;
font-weight: normal;
margin: 10px 0 40px;
}
 .ftr_logo {
display: block;
margin: 0 auto 10px;
}
 .moverlay .minner {
padding: 0px 15px 20px;
}
 .moverlay .mclose {
right: 10px;
top: 10px;
}
 .moverlay .sup .sec {
margin-top: 30px;
}
 .jdmrntp2 {
margin-top: 30px;
}
 .moverlay .mclose {
right: 10px;
top: 10px;
}
 .moverlay .mclose .cbtn {
width: 30px;
height: 30px;
}
 .moverlay .mclose .cbtn:hover {
background-color:transparent;
}
 .moverlay .sup .sec {
margin-top: 0px;
padding-top: 20px;
}
.moverlay .sup .sec h3 {
width: calc(100% - 35px);
}
.moverlay .bootstrap-select .btn, .moverlay .bootstrap-select .btn:hover, .moverlay .bootstrap-select .btn:focus {
font-size: 18px;
}
 .sec#your_name {
padding-top: 0px;
}
 .moverlay .sup .sec .fieldc {
margin-top: 10px;
}
 .moverlay .minner .subc {
margin-top: 0px;
}
 .moverlay .mhd {
margin-bottom: 14px;
}
.moverlay .linkedin-btn .micn {
width: 50px;
}
 .moverlay .mor {
margin: 20px 0;
}
 .moverlay .linkedin-btn {
margin: 15px -1px 0;
}
 .jdmrntp2 {
margin-top: 30px;
}
 .Pjbs div[class*="col-"], .Tjbs div[class*="col-"] {
margin-bottom:28px;
}
 .sub-ftr div.col-xs-12 {
width:100%;
}
 .sub-ftr .h4 {
border: solid 1px #519df3;
padding-top:10px;
}
 .sub-ftr div[class*='col-']:first-child .h4 {
border:0
}
 .rcntJbs div[class*="col"] {
border-right: 0px solid #999;
}
 .rp {
margin-top: 20px;
}
 .posttabmrg {
width: 100%;
text-align: center;
margin: 0 20px 0;
}
 .rp_title {
display: block;
width: 100%;
text-align: center
}
 .rp_stdcrd {
display: block;
width: 100%;
text-align: center
}
 .schdform form input, .schdform form textarea {
height: auto;
}
 .cstitle, .cssubtitle {
color:#fff;
text-shadow: 0 0 3px #000
}
 .vlinkbtnm {
margin: 30px auto;
}
 .browseBtn .dropdown-menu > li > a {
font-size: 18px;
font-weight: 600;
}
 .browseBtn .btn, .browseBtn .btn:focus, .browseBtn .dropdown-toggle.btn-primary {
font-size: 24px;
font-weight: 600;
padding: 20px 18px 20px 15px;
}
 .ehsrctitle {
line-height: 40px;
}
.gctz {
margin: 30px 0;
}
.gclogo img {
margin: 0 auto 30px;
}
.pcbox {
margin-bottom: 40px;
}
.csrp_box {
padding: 3.5% 0;
margin: 0 auto 20px;
}
.cvsmpimg img:last-child {
padding: 20px 15px;
margin: 20px 0 0 0;
}
.cscv_box {
padding: 5% 0;
display: block;
margin: 0 auto 20px;
}
.rp_box1title {
text-align: center;
}
.rp_box1subtitle {
text-align: center;
}
.rp_box1text {
text-align: center;
}
.cvsrcdescrow {
width:100%;
float:none;
}
}
 @media (max-width: 480px) {
.job-dtl .jobdetail:after {
bottom:-12px;
}
 .sitemap .llist li {
clear:both;
}
 .rz-login .signin {
position: relative;
padding: 0px;
margin-top: 0px;
top: 0px;
}
 .rz-login .signin .inner-wrapper {
padding: 20px 10px;
}
 .rz-login .signin .inner-wrapper .form-group {
margin-bottom: 10px;
}
 .onemillion {
line-height: 42px;
}
 .start_today {
line-height: 36px;
}
 .iconbox {
margin: 10px auto;
}
 .tabslinks a.morecats {
background-position: 35% center;
}
 .jdpkru {
margin: 0 20px 0 10px;
width: 100%;
}
 .jdrefweb {
display:none;
}
 .jdrefmob {
display:block;
margin: 0 0 30px 0;
}
 .jdposts {
margin-bottom: 5px;
}
 .jdsocicon {
margin-top: 10px;
}
 .Pjbs div[class*="col-"], .Tjbs div[class*="col-"] {
margin-bottom:14px;
}
 .search_form .bootstrap-select .btn .caret {
margin-right:0px;
}
 .schdform form input, .schdform form textarea {
height: auto;
}
 .rcntJbs .h3 {
margin:0 10px;
font-size:16px;
}
 .rcntJbs .h4 {
margin:0 10px;
font-size:14px;
}
 .tabslinks a, .tabslinks a:hover {
font-size: 16px;
}
 .catsicon {
padding: 30px 0 0;
}
 .Pjbs h3 {
font-weight:600;
font-size:25px;
}
 .Pjbs {
padding: 30px 0 25px;
}
 .Pjbs .media .msb .h4 {
font-size:14px;
}
 .Tjbs {
padding:30px 0 25px;
}
 .Tjbs h2 {
font-weight:600;
font-size:25px;
}
 .Tjbs .h3 {
font-size:18px;
}
 .Tjbs .h4 {
font-size:14px;
}
 .rcntJbs h3 {
font-size:25px;
font-weight:600;
}
 .Pjbs div[class*='col-'] {
height:65px
}
 .Tjbs div[class*='col-'] {
height:65px;
}
 .rcntJbs {
padding:25px 0;
}
 .rcntJbs .carousel-inner {
margin-bottom:0;
}
 .newsSc {
padding:40px 0 20px;
}
 .rcntJbs .carousel-indicators {
margin-top:20px;
}
 .newsSc hr {
margin:10px 0 20px
}
 .newsSc .newsScRt img {
margin-top:10px;
}
 .tabslinks a, .tabslinks a:hover {
margin: 5px 0;
}
 .ehpostjob a, .ehpostjob a:hover {
height: 150px;
padding-top: 20px;
width: 150px;
}
 .rp_title {
text-align: left;
line-height:36px;
}
 .rp_stdcrd {
letter-spacing: 1px;
text-align:left
}
 .cvftrsec {
margin:0 10px 0 0;
display:block
}
 .cvappcrnt {
width: 30%;
}
 .cvappdesc {
width: 65%;
}
 .pagmrg .pagination>.active>a, .pagmrg .pagination>.active>a:focus, .pagmrg .pagination>.active>a:hover, .pagmrg .pagination>.active>span, .pagmrg .pagination>.active>span:focus, .pagmrg .pagination>.active>span:hover {
font-size:12px;
font-weight:600;
}
.cvwd35 {
width:30%!important;
}
.cvwd60 {
width:50%!important
}
.cvspccnt {
max-width: 80%;
}
}
 @media (max-width: 414px) {
 .onemillion {
line-height: 36px;
}
 .jobstabs .nav-tabs > li.active > a, .jobstabs .nav-tabs > li.active > a:focus, .jobstabs .nav-tabs > li.active > a:hover {
padding: 30px 10px;
}
 .jobstabs .nav > li > a {
padding: 30px 10px;
}
 .jobstabs .nav-tabs>li>a:hover {
padding: 30px 10px;
}
 .tabslinks a.morecats {
background-position: 40% center;
}
 .navbar-sub {
padding-left:10px;
padding-right:10px;
}
 .jdbtns .btn {
margin-bottom:20px;
}
 .schdform form input, .schdform form textarea {
height: auto;
}
 .rz-login .signin {
left: 0px;
margin-left: 0px;
}
 .ehpostjob a, .ehpostjob a:hover {
height: 150px;
padding-top: 20px;
width: 150px;
}
 .cvsrchlstng .dropdown.luchi .btn {
padding:6px 0;
font-weight:normal;
font-size:12px;
}
}
 @media (max-width: 375px) {
.newsSc .newsScRt img {
width:50%;
}
 .onemillion {
line-height: 30px;
}
 .start_today {
line-height: 30px;
}
 .search_form {
margin: 20px 0 0;
}
 .get_started {
margin: 20px auto;
}
 .jobstabs .nav-tabs > li.active > a, .jobstabs .nav-tabs > li.active > a:focus, .jobstabs .nav-tabs > li.active > a:hover {
padding: 30px 7px;
}
 .jobstabs .nav > li > a {
padding: 30px 7px;
}
 .jobstabs .nav-tabs>li>a:hover {
padding: 30px 7px;
}
 .tabslinks a.morecats {
background-position: 45% center;
}
 .Pjbs .h1 {
margin-bottom: 30px;
}
 .vlinkbtn {
height: 70px;
padding: 15px 0;
width: 70px;
}
 .jdspectitle {
margin-top: 0;
}
 .jdetopmrn {
margin-top:10px;
}
 .jdwel {
width:100%;
}
 .jdbtns .btn {
margin: 0 5px 10px;
}
 .ppage .finfo .btn-grp .mypro {
margin-left: -4px;
margin-top: 5px;
}
 .Tjbs div[class*="col-"], .Pjbs div[class*="col-"] {
margin-bottom:22px
}
 .schdform form input, .schdform form textarea {
height: auto;
}
 .ehpostjob a, .ehpostjob a:hover {
height: 150px;
padding-top: 20px;
width: 150px;
}
 .cvspccnt {
max-width: 70%;
}
}
 @media (max-width: 320px) {
 .Tjbs .h3, .Pjbs .h3, .Tjbs .h4, .Pjbs .h4 {
max-width:98px;
}
 .onemillion {
line-height: 26px;
}
 .jobstabs .nav-tabs > li.active > a, .jobstabs .nav-tabs > li.active > a:focus, .jobstabs .nav-tabs > li.active > a:hover {
padding: 30px 5px;
}
 .jobstabs .nav > li > a {
padding: 30px 5px;
}
 .jobstabs .nav-tabs>li>a:hover {
padding: 30px 5px;
}
 .tabslinks a.morecats {
background-position: 55% center;
}
 .container {
padding: 0 30px;
}
 .posttabmrg {
margin: 0;
}
 .schdform form input, .schdform form textarea {
height: auto;
}
 .rp_stdcrd {
letter-spacing: 0;
}
 .catsicon {
padding: 27px 0 2px;
}
 .ehpostjob a, .ehpostjob a:hover {
height: 150px;
padding-top: 20px;
width: 150px;
}
 .hbbg .carousel-caption {
left: 5%;
right: 5%;
}
 .testimg {
height: 180px;
width: 180px;
}
 .rp .testimg img {
height: 180px;
max-width: 100%;
padding: 10px;
width: 180px;
}
 .rp .testimg {
height: 180px;
padding: 8px;
width: 180px;
}
.rp .testimg img {
height: 160px;
max-width: 100%;
padding: 10px;
width: 160px;
}
.ehpostjob {
margin: 10px auto;
}
 .ehsrctitle {
line-height: 42px;
}
.pcbox {
margin-bottom: 40px;
}
.bldteam {
line-height: 20px;
}
.cvappbox {
text-align:left;
}
}
‌‌‌‌ 

/* Logo-slider.css start*/
/* Companies Logo Slider Style Start */

.comp_logos { display: block; width: 100%; margin: 35px auto; }
.nbs-flexisel-item a { width:140px; height:64px; display:block; border: 1px solid #e5e5e5; margin:0 2px }
.nbs-flexisel-item a.te000 { background-position:0 0 }
.nbs-flexisel-item a.tePrivate { background-position:0 -64px }
/* Companies Logo Slider Style Start */

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 { display:none; }
.nbs-flexisel-container { position:relative; max-width:100%; }
.nbs-flexisel-ul { position:relative; width:99999px; margin:0px; padding:0px; list-style-type:none; text-align:center; }
.nbs-flexisel-inner { overflow:hidden; float:left; width:96%; position:relative; left:2%; }
.nbs-flexisel-item { float:none; margin:0px; padding:0px; cursor:pointer; position:relative; line-height:0px; display: table-cell; vertical-align: middle; }
.nbs-flexisel-item img { cursor: pointer; position: relative; margin-top: 10px; margin-bottom: 10px; }
/*** Navigation ***/

.nbs-flexisel-nav-left, .nbs-flexisel-nav-right { width: 14px; height: 25px; position: absolute; cursor: pointer; z-index: 100; }
.nbs-flexisel-nav-left { left: 0; background: url("../i/ico/left-arrow.png") no-repeat; }
.nbs-flexisel-nav-right { right: 0; background: url("../i/ico/right-arrow.png") no-repeat; }
@media (max-width: 767px) {
 .nbs-flexisel-item a {
display:inline-block;
}
.comp_logos {
padding:0px 20px;
}
}
@media (max-width: 375px) {
.comp_logos {
padding:0px;
}
}
/* Logo-Slider.css Style End */
‌‌‌‌
