/* Fonts (via pbs-kids.fonts)
************************************/
@font-face {
  font-family: 'Colfax-Regular';
  src: url('../../fonts/ColfaxWebRegular.eot');
  src: url('../../fonts/ColfaxWebRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../../fonts/ColfaxWebRegular.woff') format('woff');/* IE9 Compat Modes */
  /* Modern Browsers */
}
@font-face {
  font-family: 'Colfax-Regular';
  font-style: italic;
  src: url('../../fonts/ColfaxWebRegularItalic.eot');
  src: url('../../fonts/ColfaxWebRegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../../fonts/ColfaxWebRegularItalic.woff') format('woff');/* IE9 Compat Modes */
  /* Modern Browsers */
}
@font-face {
  font-family: 'Colfax-Medium';
  src: url('../../fonts/ColfaxWebMedium.eot');
  src: url('../../fonts/ColfaxWebMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../../fonts/ColfaxWebMedium.woff') format('woff');/* IE9 Compat Modes */
  /* Modern Browsers */
}
@font-face {
  font-family: 'Colfax-Medium';
  font-style: italic;
  src: url('../../fonts/ColfaxWebMediumItalic.eot');
  src: url('../../fonts/ColfaxWebMediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../../fonts/ColfaxWebMediumItalic.woff') format('woff');/* IE9 Compat Modes */
  /* Modern Browsers */
}
@font-face {
  font-family: 'Colfax-Bold';
  src: url('../../fonts/ColfaxWebBold.eot');
  src: url('../../fonts/ColfaxWebBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../../fonts/ColfaxWebBold.woff') format('woff');/* IE9 Compat Modes */
  /* Modern Browsers */
}
@font-face {
  font-family: 'Colfax-Bold';
  font-style: italic;
  src: url('../../fonts/ColfaxWebBoldItalic.eot');
  src: url('../../fonts/ColfaxWebBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../../fonts/ColfaxWebBoldItalic.woff') format('woff');/* IE9 Compat Modes */
  /* Modern Browsers */
}
@font-face {
  font-family: 'PBS_KIDS_Headline';
  src: url('../../fonts/pbskidsheadline-regular-webfont.eot');
  src: url('../../fonts/pbskidsheadline-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../fonts/pbskidsheadline-regular-webfont.woff') format('woff'), /* Modern Browsers */
   url('../../fonts/pbskidsheadline-regular-webfont.ttf') format('truetype'), /* iOS 4.2+ */
   url('../../fonts/pbskidsheadline-regular-webfont.svg#PBS_KIDS_Headline') format('svg');/* IE9 Compat Modes */
  /* Older iOS */
}
@font-face {
  font-family: 'PBS_KIDS_Headline_Bold';
  src: url('../../fonts/pbskidsheadline-bold-webfont.eot');
  src: url('../../fonts/pbskidsheadline-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../fonts/pbskidsheadline-bold-webfont.woff') format('woff'), /* Modern Browsers */
   url('../../fonts/pbskidsheadline-bold-webfont.ttf') format('truetype'), /* iOS 4.2+ */
   url('../../fonts/pbskidsheadline-bold-webfont.svg#PBS_KIDS_Headline_Bold') format('svg');/* IE9 Compat Modes */
  /* Older iOS */
}
/* PBS KIDS Brand VarS & Mixins
************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.disabled {
  -moz-opacity: 0.5 !important;
  -khtml-opacity: 0.5 !important;
  -webkit-opacity: 0.5 !important;
  opacity: 0.5 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50) !important;
  filter: alpha(opacity=50) !important;
  pointer-events: none !important;
  cursor: auto !important;
}
.swing-animation {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation: swing 1s ease;
  -moz-animation: swing 1s ease;
  -o-animation: swing 1s ease;
  animation: swing 1s ease;
}
@-webkit-keyframes swing {
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform-origin: top center;
  }
  20% {
    -webkit-transform: rotate(10deg);
  }
  40% {
    -webkit-transform: rotate(-5deg);
  }
  60% {
    -webkit-transform: rotate(2.5deg);
  }
  80% {
    -webkit-transform: rotate(-2.5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes swing {
  20% {
    -moz-transform: rotate(10deg);
  }
  40% {
    -moz-transform: rotate(-5deg);
  }
  60% {
    -moz-transform: rotate(2.5deg);
  }
  80% {
    -moz-transform: rotate(-2.5deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-o-keyframes swing {
  20% {
    -o-transform: rotate(10deg);
  }
  40% {
    -o-transform: rotate(-5deg);
  }
  60% {
    -o-transform: rotate(2.5deg);
  }
  80% {
    -o-transform: rotate(-2.5deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@keyframes swing {
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(2.5deg);
  }
  80% {
    transform: rotate(-2.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.wobble-animation {
  -webkit-animation: wobble 1s ease;
  -moz-animation: wobble 1s ease;
  -o-animation: wobble 1s ease;
  animation: wobble 1s ease;
}
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
  }
  15% {
    -webkit-transform: translateX(-3%) rotate(-0.2deg);
  }
  30% {
    -webkit-transform: translateX(2.5%) rotate(0.2deg);
  }
  45% {
    -webkit-transform: translateX(-2%) rotate(-0.2deg);
  }
  60% {
    -webkit-transform: translateX(1.5%) rotate(0.2deg);
  }
  75% {
    -webkit-transform: translateX(-1%) rotate(-0.2deg);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes wobble {
  0% {
    -moz-transform: translateX(0%);
  }
  15% {
    -moz-transform: translateX(-3%) rotate(-0.2deg);
  }
  30% {
    -moz-transform: translateX(2.5%) rotate(0.2deg);
  }
  45% {
    -moz-transform: translateX(-2%) rotate(-0.2deg);
  }
  60% {
    -moz-transform: translateX(1.5%) rotate(0.2deg);
  }
  75% {
    -moz-transform: translateX(-1%) rotate(-0.2deg);
  }
  100% {
    -moz-transform: translateX(0%);
  }
}
@-o-keyframes wobble {
  0% {
    -o-transform: translateX(0%);
  }
  15% {
    -o-transform: translateX(-3%) rotate(-0.2deg);
  }
  30% {
    -o-transform: translateX(2.5%) rotate(0.2deg);
  }
  45% {
    -o-transform: translateX(-2%) rotate(-0.2deg);
  }
  60% {
    -o-transform: translateX(1.5%) rotate(0.2deg);
  }
  75% {
    -o-transform: translateX(-1%) rotate(-0.2deg);
  }
  100% {
    -o-transform: translateX(0%);
  }
}
@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-3%) rotate(-0.2deg);
  }
  30% {
    transform: translateX(2.5%) rotate(0.2deg);
  }
  45% {
    transform: translateX(-2%) rotate(-0.2deg);
  }
  60% {
    transform: translateX(1.5%) rotate(0.2deg);
  }
  75% {
    transform: translateX(-1%) rotate(-0.2deg);
  }
  100% {
    transform: translateX(0%);
  }
}
.bounce-animation {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: bounce;
  -moz-animation-duration: 0.75s;
  -moz-animation-iteration-count: 1;
  animation-name: bounce;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-14px);
  }
  60% {
    -webkit-transform: translateY(-7px);
  }
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-14px);
  }
  60% {
    -moz-transform: translateY(-7px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-14px);
  }
  60% {
    transform: translateY(-7px);
  }
}
.border-bounce-animation {
  -webkit-animation-name: borderBounce;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: borderBounce;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  animation-name: borderBounce;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@-moz-keyframes borderBounce {
  0% {
    box-shadow: 0 0 0 4px #ffffff;
    opacity: 1;
  }
  25% {
    box-shadow: 0 0 0 1px #ffffff;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 0 7px #ffffff;
    opacity: 1;
  }
  75% {
    box-shadow: 0 0 0 4px #ffffff;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 5px #ffffff;
    opacity: 1;
  }
}
@-webkit-keyframes borderBounce {
  0% {
    box-shadow: 0 0 0 4px #ffffff;
    opacity: 1;
  }
  25% {
    box-shadow: 0 0 0 1px #ffffff;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 0 7px #ffffff;
    opacity: 1;
  }
  75% {
    box-shadow: 0 0 0 4px #ffffff;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 5px #ffffff;
    opacity: 1;
  }
}
@keyframes borderBounce {
  0% {
    box-shadow: 0 0 0 4px #ffffff;
    opacity: 1;
  }
  25% {
    box-shadow: 0 0 0 1px #ffffff;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 0 7px #ffffff;
    opacity: 1;
  }
  75% {
    box-shadow: 0 0 0 4px #ffffff;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 5px #ffffff;
    opacity: 1;
  }
}
.badge-bounce-animation {
  -webkit-animation-name: badge-bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: badge-bounce;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  animation-name: badge-bounce;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@-webkit-keyframes badge-bounce {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(14px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes badge-bounce {
  0% {
    -moz-transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(14px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@keyframes badge-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(14px);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(1200deg);
  }
  63% {
    -moz-transform: rotate(1500deg);
  }
  75% {
    -moz-transform: rotate(1650deg);
  }
  88% {
    -moz-transform: rotate(1750deg);
  }
  100% {
    -moz-transform: rotate(1800deg);
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(1200deg);
  }
  63% {
    -webkit-transform: rotate(1500deg);
  }
  75% {
    -webkit-transform: rotate(1650deg);
  }
  88% {
    -webkit-transform: rotate(1750deg);
  }
  100% {
    -webkit-transform: rotate(1800deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1400deg);
  }
  63% {
    transform: rotate(1500deg);
  }
  75% {
    transform: rotate(1650deg);
  }
  88% {
    transform: rotate(1750deg);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/* PBS KIDS UI Elements
************************************/
.topics-group {
  display: block;
}
.topics-group .parent-topic {
  font-family: PBS_KIDS_Headline, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #00DBFF;
  /* Should this blue be made a variable? It is used in other styles. */

  margin: 0;
  padding: 0 6px;
  height: 2em;
  line-height: 2.3em;
}
.topics-group .sub-topics {
  padding: 20px 24px 6px;
  margin: 0 0 18px;
  overflow: hidden;
  background-color: #FFFFFF;
}
.topics-group .sub-topics .sub-topic {
  font-family: Colfax-Regular, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.4;
  font-style: normal;
  color: #00c3f7;
  letter-spacing: 0.0333em;
  float: left;
  width: 220px;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 14px;
}
/* PBS KIDS CORE SHELL Styles
************************************/
/* Primary Styles
---------------------------------------- */
html,
body {
  position: relative;
  height: 100%;
}
body {
  line-height: 20px;
  color: #fff;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* links*/
a:link,
a:visited {
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
  text-decoration: underline;
}
a:focus img,
a:hover img {
  border: none;
  outline: none;
}
/* Type
---------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}
p {
  margin: 0 0 0 10px;
  line-height: 1.4;
}
/* Layout
---------------------------------------- */
#page {
  *zoom: 1;
}
#page:before,
#page:after {
  content: "";
  display: table;
}
#page:after {
  clear: both;
}
.wrapper-block {
  position: absolute;
  top: 120px;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.max-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  min-height: inherit;
}
/* Logo/Brand
---------------------------------------- */
.brand {
  display: block;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  width: 14.5%;
  max-width: 150px;
  min-width: 120px;
}
.brand hgroup {
  position: absolute;
  left: -999em;
}
.brand img {
  width: 100%;
  display: block;
}
.brand.page-head {
  max-width: none;
  width: 500px;
  top: 14px;
  left: 14px;
}
.brand.page-head hgroup {
  position: static;
  left: auto;
  float: right;
  width: 79%;
}
.brand.page-head hgroup h2 {
  font-family: PBS_KIDS_Headline_Bold, Arial, Helvetica, sans-serif;
  font-size: 58px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 22px 0;
}
.brand.page-head hgroup h1 {
  position: absolute;
  left: -999em;
}
.brand.page-head img {
  width: 18%;
  margin-right: 3%;
  float: left;
  padding-top: 6px;
}
/* UI Elements Visual Style
---------------------------------------- */
.phat-button {
  font-family: PBS_KIDS_Headline, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-size: 38px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-rendering: optimizelegibility;
  text-align: left;
  border: none;
  outline: none;
  text-decoration: none;
  display: block;
  float: left;
  position: relative;
  z-index: 100;
  width: 100%;
  padding: 24px 20px 20px;
  margin-top: 14px;
  border-bottom: 10px solid;
  background-color: #f41971;
  border-color: #ce1569;
  -moz-transition: margin-top 0.15s, margin-bottom 0.15s, border 0.15s, padding 0.15s, top 0.15s, bottom 0.15s, width 0.15s, height 0.15s;
  -webkit-transition: margin-top 0.15s, margin-bottom 0.15s, border 0.15s, padding 0.15s, top 0.15s, bottom 0.15s, width 0.15s, height 0.15s;
  transition: margin-top 0.15s, margin-bottom 0.15s, border 0.15s, padding 0.15s, top 0.15s, bottom 0.15s, width 0.15s, height 0.15s;
}
.phat-button.magenta {
  border-color: #ce1569;
}
.phat-button.green {
  border-color: #75c700;
}
.phat-button.seafoam {
  border-color: #0fbca3;
}
.phat-button.yellow {
  border-color: #efc206;
}
.phat-button.blue {
  border-color: #00a0d1;
}
.phat-button.orange {
  border-color: #ff8b00;
}
.phat-button.hovered,
.phat-button:hover,
.phat-button:focus {
  cursor: pointer;
  border-bottom-width: 6px;
  margin-top: 18px;
  text-decoration: none;
}
.phat-button.tapped,
.phat-button.clicked {
  border-bottom-width: 0px;
  margin-top: 24px;
  text-decoration: none;
}
.phat-button.show-all {
  width: auto;
  font-size: 26px;
  padding: 14px 20px 10px;
}
.phat-button.show-all .icon {
  width: 34px;
  height: 34px;
  background-size: 100%;
  margin-right: 0;
}
.phat-button .icon {
  background-image: url('../../images/present/nav-button-icons.svg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 53px;
  height: 53px;
  margin-right: 6px;
}
.phat-button.videos .icon {
  background-position: 50% -130px;
}
.phat-button.tall {
  width: 150px;
  text-align: center;
  padding: 20px 0 16px;
}
.phat-button.tall .icon {
  margin-bottom: 18px;
}
.phat-button.games .icon:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-image: url('../../images/present/spinner.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 46%;
}
.phat-button.games:hover .icon:before,
.phat-button.games.tapped .icon:before {
  -webkit-animation-name: spinner;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-name: spinner;
  -moz-duration: 2s;
  -moz-iteration-count: 1;
  -moz-timing-function: linear;
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.phat-button.scroll-arrow {
  text-indent: -999em;
  height: 68px;
  background-image: url('../../images/present/scroll-arrows.svg');
  background-position: 50% -76px;
  background-repeat: no-repeat;
}
.phat-button.scroll-arrow:hover,
.phat-button.scroll-arrow.tapped {
  background-position: 50% -72px;
}
.phat-button.scroll-arrow.up {
  background-position: 50% 10px;
}
.phat-button.scroll-arrow.up:hover,
.phat-button.scroll-arrow.up.tapped {
  background-position: 50% 14px;
}
/* Panel Colors */
.magenta {
  background-color: #f41971;
}
.green {
  background-color: #a6ef18;
}
.seafoam {
  background-color: #1ae8cf;
}
.yellow {
  background-color: #ffe000;
}
.blue {
  background-color: #00c3f7;
}
.pink {
  background-color: #f953d2;
}
.orange {
  background-color: #ffb000;
}
/* Page
---------------------------------------- */
.content-col {
  position: relative;
  *zoom: 1;
}
.content-col:before,
.content-col:after {
  content: "";
  display: table;
}
.content-col:after {
  clear: both;
}
.content-col.wide {
  width: 60%;
}
.grid-tabs {
  position: relative;
  *zoom: 1;
}
.grid-tabs:before,
.grid-tabs:after {
  content: "";
  display: table;
}
.grid-tabs:after {
  clear: both;
}
.grid-tabs .the-pusher {
  display: block;
  position: relative;
  height: 370px;
  margin-top: 95px;
  z-index: -1;
}
.grid-tabs .show-all {
  float: right;
  margin: 0 10px 0 0;
}
.grid-tabs .show-all:hover {
  margin-top: 10px;
}
.promo-grid {
  *zoom: 1;
}
.promo-grid:before,
.promo-grid:after {
  content: "";
  display: table;
}
.promo-grid:after {
  clear: both;
}
.promo-grid.tabbed {
  position: absolute;
  top: 95px;
  left: 0;
}
.promo-grid .grid-item {
  display: block;
  float: left;
  border: 5px solid #fff;
  padding: 0;
  line-height: 0;
  width: 30%;
  margin: 0 12px 12px 0;
}
.promo-grid .grid-item:nth-child(3n+3) {
  margin-right: 0;
}
.promo-grid .grid-item a {
  width: 100%;
  display: block;
}
.promo-grid .grid-item img {
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .promo-grid .grid-item {
    width: 29%;
  }
}
@media only screen and (min-width: 1601px) {
  
}
.panel-head.toggle-flag {
  background-color: #ce1569;
  padding: 14px 10px;
  width: 100px;
  font-family: PBS_KIDS_Headline, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  position: absolute;
  top: 0;
}
.panel-head.toggle-flag:hover,
.panel-head.toggle-flag.tapped {
  background-color: #b7135d;
  cursor: pointer;
}
.panel-head.toggle-flag.active {
  background-color: #1ae8cf;
}
.panel-head.toggle-flag.active:after,
.panel-head.toggle-flag.active > .after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #1ae8cf;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -20px;
}
.panel-head.toggle-flag:nth-child(1) {
  left: 0;
}
.panel-head.toggle-flag:nth-child(3) {
  left: 130px;
}
.panel-head.toggle-flag:nth-child(5) {
  left: 260px;
}
.panel-head.toggle-flag:nth-child(7) {
  left: 390px;
}
.panel-head.green {
  background-color: #a6ef18;
}
.panel-head.seafoam {
  background-color: #1ae8cf;
}
.panel-head.yellow {
  background-color: #ffe000;
}
.panel-head.blue {
  background-color: #00c3f7;
}
.panel-head.orange {
  background-color: #ffb000;
}
/* Variables
************************************/
.home {
  /* Mini Headband and Brand Overrides
	************************************/

  /* Home Page
	************************************/

  /* Rules for UI color combos
	************************************/

}
@media only screen and (max-width: 1025px) {
  .home .brand {
    width: 12.5%;
  }
}
@media only screen and (max-width: 601px) {
  .home .max-wrapper {
    height: 355px;
  }
}
@media only screen and (max-width: 480px) {
  .home .max-wrapper {
    height: 450px;
  }
}
.home .scroll-panel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.home .scroll-panel.theme-section {
  height: 74%;
}
@media only screen and (max-width: 601px) {
  .home .scroll-panel.theme-section {
    max-height: 355px;
    height: 100% !important;
  }
}
@media only screen and (max-width: 601px) {
  .home .scroll-panel.theme-section {
    min-height: 355px;
  }
}
@media only screen and (max-width: 480px) {
  .home .scroll-panel.theme-section {
    min-height: 450px;
  }
}
@media only screen and (max-height: 599px) and (min-width: 1025px) {
  .home .scroll-panel.theme-section {
    height: 405px !important;
  }
}
.home .scroll-panel .scroll-arrow {
  position: absolute;
  text-indent: -999em;
  height: 68px;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  top: -50px;
}
@media only screen and (max-width: 975px) {
  .home .scroll-panel .scroll-arrow {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    top: -60px;
    width: 250px;
    margin-left: -125px;
  }
}
@media only screen and (max-width: 601px) {
  .home .scroll-panel .scroll-arrow {
    display: none;
  }
}
@media only screen and (max-height: 550px) and (min-width: 601px) {
  
}
.home .scroll-panel .scroll-arrow:hover {
  top: -46px;
  height: 64px;
  margin-top: 14px;
  background-position: 50% -76px;
}
.home .scroll-panel .scroll-arrow.up:hover {
  background-position: 50% 10px;
}
.home .scroll-panel.sub {
  height: 100%;
  min-height: 750px;
  padding: 50px 5%;
  width: auto;
}
@media only screen and (max-width: 601px) {
  .home .scroll-panel.sub {
    min-height: 0;
    height: auto;
  }
}
@media only screen and (min-width: 900px) {
  .home .scroll-panel.sub.in-view .content-col {
    margin-top: -8px;
  }
}
.home .scroll-panel.sub .max-wrapper {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.home .scroll-panel.sub.content-ready .max-wrapper {
  opacity: 1;
}
.home .scroll-panel.sub .grid-tabs {
  float: left;
}
.home .scroll-panel.sub .grid-tabs .panel-head.toggle-flag {
  margin-top: 0;
}
@media only screen and (max-width: 1080px) {
  .home .scroll-panel.sub .grid-tabs .panel-head.toggle-flag {
    font-size: 18px;
    width: 80px;
  }
  .home .scroll-panel.sub .grid-tabs .panel-head.toggle-flag:nth-child(3) {
    left: 113px;
  }
  .home .scroll-panel.sub .grid-tabs .panel-head.toggle-flag:nth-child(5) {
    left: 226px;
  }
}
@media only screen and (max-width: 601px) {
  .home .scroll-panel.sub .grid-tabs .panel-head.toggle-flag {
    display: none;
  }
}
.home .scroll-panel.sub .grid-tabs .show-all {
  display: none;
}
@media only screen and (max-width: 775px) {
  .home .scroll-panel.sub .grid-tabs .show-all {
    width: 84%;
    position: absolute;
    left: 0;
    text-align: center;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 601px) {
  .home .scroll-panel.sub .grid-tabs .show-all {
    width: 98%;
    float: none;
    position: relative;
    left: 50%;
    margin-top: 0;
    margin-left: -49%;
    top: -106px;
    padding: 14px 0 10px;
    text-align: center;
  }
}
@media only screen and (max-width: 1025px) and (max-height: 769px) and (min-width: 601px) {
  .home .scroll-panel.sub .grid-tabs .show-all {
    font-size: 24px;
    padding: 10px 20px 7px;
  }
}
.home .scroll-panel.sub .grid-tabs .show-all.hovered,
.home .scroll-panel.sub .grid-tabs .show-all:hover,
.home .scroll-panel.sub .grid-tabs .show-all:focus {
  margin-top: 4px;
}
.home .scroll-panel.sub .grid-tabs .show-all.tapped,
.home .scroll-panel.sub .grid-tabs .show-all.clicked {
  margin-top: 10px;
}
@media only screen and (max-width: 480px) {
  .home .scroll-panel.sub .grid-tabs {
    width: 250px;
  }
}
.home .scroll-panel.sub .promo-grid {
  width: 100%;
}
.home .scroll-panel.sub .promo-grid.tabbed {
  z-index: 1;
  visibility: hidden;
}
@media only screen and (max-width: 601px) {
  .home .scroll-panel.sub .promo-grid.tabbed {
    top: -20px;
  }
}
.home .scroll-panel.sub .promo-grid.tabbed.active {
  visibility: visible;
}
.home .scroll-panel.sub .promo-grid.precious-felt-box {
  position: absolute;
  top: 95px;
  left: 0;
  z-index: 0;
}
.home .scroll-panel.sub .promo-grid.precious-felt-box .grid-item {
  border: 5px solid rgba(0, 0, 0, 0.07);
}
.home .scroll-panel.sub .promo-grid .grid-item {
  max-width: 275px;
}
@media only screen and (max-width: 775px) {
  .home .scroll-panel.sub .promo-grid .grid-item {
    width: 43%;
  }
  .home .scroll-panel.sub .promo-grid .grid-item:nth-child(2n+2) {
    margin-right: 0;
  }
  .home .scroll-panel.sub .promo-grid .grid-item:nth-child(3n+3) {
    margin-right: 12px;
  }
  .home .scroll-panel.sub .promo-grid .grid-item:nth-last-child(-n+1) {
    display: none;
  }
}
@media only screen and (max-width: 601px) {
  .home .scroll-panel.sub .promo-grid .grid-item {
    width: 45.9%;
    display: none;
  }
  .home .scroll-panel.sub .promo-grid .grid-item.small-view {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .home .scroll-panel.sub .promo-grid .grid-item.small-view {
    width: 96%;
    max-width: 395px;
  }
}
.home .scroll-panel.sub .promo-grid .empty {
  border-color: transparent;
}
.home .scroll-panel.sub .html-fun {
  display: none;
}
.home .scroll-panel.sub .html-fun .promo-grid {
  position: absolute;
  top: 102px;
  left: 0;
}
.home .scroll-panel.sub .content-col {
  margin-top: 24px;
}
@media only screen and (max-width: 601px) {
  .home .scroll-panel.sub .content-col {
    margin-top: 0;
    width: 100%;
  }
}
.home .scroll-panel.sub .timely-badges {
  width: 100%;
  clear: both;
  display: block;
  padding-top: 30px;
  *zoom: 1;
}
.home .scroll-panel.sub .timely-badges:before,
.home .scroll-panel.sub .timely-badges:after {
  content: "";
  display: table;
}
.home .scroll-panel.sub .timely-badges:after {
  clear: both;
}
@media only screen and (max-width: 1025px) and (max-height: 769px) and (min-width: 601px) {
  .home .scroll-panel.sub .timely-badges {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 775px) {
  .home .scroll-panel.sub .timely-badges {
    position: absolute;
    width: 59%;
    right: -67%;
    top: 70%;
  }
}
@media only screen and (max-width: 601px) {
  .home .scroll-panel.sub .timely-badges {
    padding: 0;
    position: static;
    width: 100%;
    margin-top: -60px;
  }
}
@media only screen and (max-width: 480px) and (min-width: 420px) {
  
}
@media only screen and (max-width: 420px) and (min-width: 360px) {
  
}
.home .scroll-panel.sub .timely-badges li {
  display: inline;
}
.home .scroll-panel.sub .timely-badges .badge {
  display: block;
  float: left;
  margin-right: 10px;
  width: 18.25%;
}
.home .scroll-panel.sub .timely-badges .badge:nth-child(6) {
  display: none;
}
@media only screen and (max-width: 1075px) {
  .home .scroll-panel.sub .timely-badges .badge {
    width: 18.15%;
  }
}
@media only screen and (max-width: 1005px) {
  .home .scroll-panel.sub .timely-badges .badge {
    width: 18%;
  }
}
@media only screen and (max-width: 940px) {
  .home .scroll-panel.sub .timely-badges .badge {
    width: 17.5%;
  }
}
@media only screen and (max-width: 775px) {
  .home .scroll-panel.sub .timely-badges .badge {
    width: 44.5%;
  }
  .home .scroll-panel.sub .timely-badges .badge:nth-child(6) {
    display: none;
  }
}
@media only screen and (max-width: 601px) {
  .home .scroll-panel.sub .timely-badges .badge {
    width: 47.75%;
    padding: 14px 0 10px;
    margin-bottom: 14px;
  }
  .home .scroll-panel.sub .timely-badges .badge.bar-green {
    background: #a6ef18;
  }
  .home .scroll-panel.sub .timely-badges .badge.bar-orange {
    background: #ffb000;
  }
  .home .scroll-panel.sub .timely-badges .badge.bar-blue {
    background: #00E1FF;
  }
  .home .scroll-panel.sub .timely-badges .badge.empty {
    background: rgba(0, 0, 0, 0.05);
    height: 20px;
  }
  .home .scroll-panel.sub .timely-badges .badge.empty:nth-child(5) {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .home .scroll-panel.sub .timely-badges .badge {
    width: 99.5%;
  }
  .home .scroll-panel.sub .timely-badges .badge.empty {
    display: none;
  }
}
.home .scroll-panel.sub .timely-badges .badge em {
  display: none;
  font-family: PBS_KIDS_Headline_Bold, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 601px) {
  .home .scroll-panel.sub .timely-badges .badge em {
    display: block;
  }
}
.home .scroll-panel.sub .timely-badges .badge a {
  display: block;
  width: 100%;
}
.home .scroll-panel.sub .timely-badges .badge a:hover {
  text-decoration: none;
}
.home .scroll-panel.sub .timely-badges .badge img {
  width: 100%;
}
@media only screen and (max-width: 601px) {
  .home .scroll-panel.sub .timely-badges .badge img {
    display: none;
  }
}
.home .theme-section {
  z-index: 1;
}
.home .theme-section #theme-stage {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.home .theme-section #theme-stage .theme-big-active {
  -webkit-transition: all .15s;
  transition: all .15s;
}
@media only screen and (max-width: 601px) {
  .home .theme-section #theme-stage .theme-big-active {
    display: none;
  }
}
.home .theme-section #theme-stage .theme-big-active .theme-fallback {
  display: none;
}
.home .theme-section #theme-stage .theme-mini-static {
  display: none;
}
@media only screen and (max-width: 601px) {
  .home .theme-section #theme-stage .theme-mini-static {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .home .theme-section #theme-stage .theme-mini-static {
    margin-left: -14px;
  }
}
.home .theme-section #theme-stage #change-up-controls {
  position: absolute;
  right: 30px;
  width: 30px;
  top: 25%;
  z-index: 100;
}
.home .theme-section #theme-stage #change-up-controls .color-selection .input-group {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 0 5px 0;
}
.home .theme-section #theme-stage #change-up-controls .color-selection .input-group.selected {
  background-image: url('../../images/present/color-selection-x.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 1px solid #fff;
}
.home .theme-section #theme-stage #change-up-controls .color-selection .input-group label,
.home .theme-section #theme-stage #change-up-controls .color-selection .input-group input[type=radio] {
  position: absolute;
  left: -999em;
}
.home .theme-section .phat-button {
  position: absolute;
  bottom: 28px;
  font-size: 34px;
}
@media only screen and (max-width: 950px) {
  .home .theme-section .phat-button {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    bottom: 12px;
  }
}
@media only screen and (max-width: 775px) {
  .home .theme-section .phat-button {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    bottom: 35%;
    width: 40%;
  }
}
@media only screen and (max-width: 601px) {
  .home .theme-section .phat-button {
    bottom: 100px;
    padding: 16px 0 12px;
  }
}
@media only screen and (max-width: 500px) {
  .home .theme-section .phat-button {
    width: 175px;
  }
}
@media only screen and (max-width: 480px) {
  .home .theme-section .phat-button {
    width: 84%;
    position: absolute;
    margin: 14px 0 0 26px;
    min-width: 250px;
    right: auto !important;
    left: auto !important;
    bottom: 98px;
  }
  .home .theme-section .phat-button.games {
    bottom: 202px;
  }
}
.home .theme-section .phat-button.left {
  left: 60px;
}
.home .theme-section .phat-button.left:after {
  content: '';
  display: block;
  position: absolute;
  width: 273px;
  height: 118px;
  background: url('../../images/present/nav-line-bkgrnd_left.svg') left bottom no-repeat;
  background-size: 100%;
  z-index: -1;
  left: -72px;
  bottom: -38px;
}
@media only screen and (max-width: 775px) {
  .home .theme-section .phat-button.left:after {
    height: 62px;
    background-position: right top;
    bottom: 35px;
  }
}
@media only screen and (max-width: 601px) {
  .home .theme-section .phat-button.left:after {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  .home .theme-section .phat-button.left {
    left: 34px;
  }
}
@media only screen and (max-width: 775px) {
  .home .theme-section .phat-button.left {
    left: 52px;
  }
}
@media only screen and (max-width: 601px) {
  .home .theme-section .phat-button.left {
    left: 34px;
  }
}
.home .theme-section .phat-button.right {
  right: 60px;
}
.home .theme-section .phat-button.right:after {
  content: '';
  display: block;
  position: absolute;
  width: 263px;
  height: 118px;
  background: url('../../images/present/nav-line-bkgrnd_right.svg') right bottom no-repeat;
  z-index: -1;
  background-size: 100%;
  right: -72px;
  bottom: -38px;
}
@media only screen and (max-width: 775px) {
  .home .theme-section .phat-button.right:after {
    height: 62px;
    background-position: right top;
    bottom: 35px;
  }
}
@media only screen and (max-width: 601px) {
  .home .theme-section .phat-button.right:after {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  .home .theme-section .phat-button.right {
    right: 34px;
  }
}
@media only screen and (max-width: 775px) {
  .home .theme-section .phat-button.right {
    right: 52px;
  }
}
@media only screen and (max-width: 601px) {
  .home .theme-section .phat-button.right {
    right: 34px;
  }
}
.home .theme-section .phat-button em {
  background-color: inherit;
  display: block;
}
.home .theme-section .phat-button.videos {
  height: auto;
}
.home .theme-section .phat-button.videos.video-ready em {
  display: block;
}
.home .theme-section .phat-button.videos.video-ready em .icon {
  visibility: hidden;
}
.home .theme-section .phat-button.videos.video-ready #video-teaser {
  display: block;
  border: 4px solid #ffffff;
}
.home .theme-section .phat-button.videos.video-done #video-teaser,
.home .theme-section .phat-button.videos.no-video #video-teaser {
  display: none;
  border: none !important;
  left: -999em !important;
}
.home .theme-section .phat-button.videos.video-done em,
.home .theme-section .phat-button.videos.no-video em {
  display: block;
}
.home .theme-section .phat-button.videos.video-done em .icon,
.home .theme-section .phat-button.videos.no-video em .icon {
  visibility: visible;
}
.home .theme-section .phat-button #video-teaser {
  width: 62%;
  position: absolute;
  left: 50%;
  top: 15px;
  margin-left: -34.5%;
  display: none;
}
@media only screen and (max-width: 775px) {
  .home .theme-section .phat-button #video-teaser {
    width: 24%;
    right: 66%;
    top: 21px;
    left: auto;
  }
}
@media only screen and (max-width: 601px) {
  .home .theme-section .phat-button #video-teaser {
    width: 22%;
    right: 68%;
    top: 22px;
  }
}
@media only screen and (max-width: 500px) {
  .home .theme-section .phat-button #video-teaser {
    width: 50%;
    left: 50%;
    top: 15px;
    margin-left: -27.5%;
  }
}
@media only screen and (max-width: 480px) {
  .home .theme-section .phat-button #video-teaser {
    width: 22%;
    right: 64%;
    top: 15px;
    left: auto;
  }
}
@media only screen and (max-width: 775px) {
  .home .theme-section .phat-button .icon {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 500px) {
  .home .theme-section .phat-button .icon {
    margin-bottom: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .home .theme-section .phat-button .icon {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1382px) {
  .home .theme-section .phat-button.right {
    transform: scale(1.25);
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    right: 10%;
    bottom: 46px;
  }
  .home .theme-section .phat-button.left {
    transform: scale(1.25);
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    left: 10%;
    bottom: 46px;
  }
}
.home #the-wheel-canvas {
  z-index: 1;
}
.home #the-wheel-canvas.embiggen {
  z-index: 1000;
}
.home #mega-promo {
  float: right;
  width: 35%;
  max-width: 450px;
}
@media only screen and (max-width: 601px) {
  .home #mega-promo {
    width: 100%;
    max-width: none;
    float: none;
    position: absolute;
    top: 42%;
  }
  .home #mega-promo .feature-poster {
    display: none;
  }
}
.home #mega-promo .no-flash-version {
  display: none;
}
.home #mega-promo .feature-poster {
  width: 100%;
}
.home #mega-promo .feature-poster.mini {
  border: 5px solid #fff;
  display: none;
}
@media only screen and (max-width: 601px) {
  .home #mega-promo .feature-poster.mini {
    display: block;
    width: 96%;
    margin-top: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .home #mega-promo .feature-poster.mini {
    display: none;
  }
}
.home #mega-promo .feature-poster.pocket {
  border: 5px solid #fff;
  display: none;
}
@media only screen and (max-width: 480px) {
  .home #mega-promo .feature-poster.pocket {
    display: block;
    width: 96%;
  }
}
@media only screen and (min-width: 1681px) {
  .home #mega-promo {
    float: left;
  }
  .home .scroll-panel.sub .timely-badges {
    position: absolute;
    width: 150px;
    top: -30px;
    right: -655px;
  }
  .home .scroll-panel.sub .timely-badges .badge {
    width: 100%;
    margin-bottom: 8px;
  }
}
@media only screen and (min-width: 1450px) {
  .home .panel-head.toggle-flag {
    font-size: 26px;
    width: 130px;
  }
  .home .panel-head.toggle-flag:nth-child(3) {
    left: 160px;
  }
  .home .panel-head.toggle-flag:nth-child(5) {
    left: 320px;
  }
}
@media only screen and (max-width: 1250px) {
  .home .scroll-panel .scroll-arrow {
    width: 200px;
    margin-left: -100px;
  }
}
@media only screen and (max-width: 1025px) and (max-height: 769px) and (min-width: 601px) {
  .home .promo-grid.tabbed,
  .home .scroll-panel.sub .promo-grid.precious-felt-box {
    top: 86px;
  }
}
.home #privacy {
  width: 100%;
  display: block;
  clear: both;
  font-family: Colfax-Regular;
  text-align: center;
  color: #b20654;
  margin-top: -20px;
  *zoom: 1;
}
.home #privacy:before,
.home #privacy:after {
  content: "";
  display: table;
}
.home #privacy:after {
  clear: both;
}
.home #privacy p {
  margin: 10px 0;
}
.home #privacy a,
.home #privacy a:visited {
  color: #b20654;
}
.home #privacy em {
  font-family: Colfax-Bold;
  font-style: italic;
}
.home.magenta .phat-button {
  border-color: #efc206;
  background-color: #ffe000;
}
.home.magenta .scroll-panel.sub {
  background-color: #00c3f7;
}
.home.magenta .scroll-panel.sub #privacy {
  color: #0869b2;
}
.home.magenta .scroll-panel.sub #privacy a,
.home.magenta .scroll-panel.sub #privacy a:visited {
  color: #0869b2;
}
.home.magenta .panel-head.toggle-flag {
  background-color: #00a0d1;
}
.home.magenta .panel-head.toggle-flag:hover {
  background-color: #008cb8;
}
.home.magenta .panel-head.toggle-flag.active {
  background-color: #ffe000;
}
.home.magenta .panel-head.toggle-flag.active:after {
  border-top-color: #ffe000;
}
.home.magenta .privacy {
  color: #b20654;
}
.home.magenta .privacy a,
.home.magenta .privacy a:visited {
  color: #b20654;
}
.home.green .phat-button {
  border-color: #00a0d1;
  background-color: #00c3f7;
}
.home.green .phat-button.show-all {
  border-color: #efc206;
  background-color: #ffe000;
}
.home.green .scroll-panel.sub {
  background-color: #1ae8cf;
}
.home.green .scroll-panel.sub #privacy {
  color: #008791;
}
.home.green .scroll-panel.sub #privacy a,
.home.green .scroll-panel.sub #privacy a:visited {
  color: #008791;
}
.home.green .panel-head.toggle-flag {
  background-color: #0fbca3;
}
.home.green .panel-head.toggle-flag:hover {
  background-color: #0da48f;
}
.home.green .panel-head.toggle-flag.active {
  background-color: #ffe000;
}
.home.green .panel-head.toggle-flag.active:after {
  border-top-color: #ffe000;
}
.home.seafoam .phat-button {
  border-color: #ce1569;
  background-color: #f41971;
}
.home.seafoam .phat-button.show-all {
  border-color: #00a0d1;
  background-color: #00c3f7;
}
.home.seafoam .scroll-panel.sub {
  background-color: #ffe000;
}
.home.seafoam .scroll-panel.sub #privacy {
  color: #ff8b00;
}
.home.seafoam .scroll-panel.sub #privacy a,
.home.seafoam .scroll-panel.sub #privacy a:visited {
  color: #ff8b00;
}
.home.seafoam .panel-head.toggle-flag {
  background-color: #FFBC00;
}
.home.seafoam .panel-head.toggle-flag:hover {
  background-color: #e6a900;
}
.home.seafoam .panel-head.toggle-flag.active {
  background-color: #00c3f7;
}
.home.seafoam .panel-head.toggle-flag.active:after {
  border-top-color: #00c3f7;
}
.home.blue .phat-button {
  border-color: #ce1569;
  background-color: #f41971;
}
.home.blue .phat-button.show-all {
  border-color: #00a0d1;
  background-color: #00c3f7;
}
.home.blue .scroll-panel.sub {
  background-color: #a6ef18;
}
.home.blue .scroll-panel.sub #privacy {
  color: #21ad09;
}
.home.blue .scroll-panel.sub #privacy a,
.home.blue .scroll-panel.sub #privacy a:visited {
  color: #21ad09;
}
.home.blue .panel-head.toggle-flag {
  background-color: #75c700;
}
.home.blue .panel-head.toggle-flag:hover {
  background-color: #66ae00;
}
.home.blue .panel-head.toggle-flag.active {
  background-color: #00c3f7;
}
.home.blue .panel-head.toggle-flag.active:after {
  border-top-color: #00c3f7;
}
.home.yellow .phat-button {
  border-color: #00a0d1;
  background-color: #00c3f7;
}
.home.yellow .phat-button.show-all {
  border-color: #0fbca3;
  background-color: #1ae8cf;
}
.home.yellow .scroll-panel.sub {
  background-color: #f41971;
}
.home.yellow .scroll-panel.sub #privacy {
  color: #b20654;
}
.home.yellow .scroll-panel.sub #privacy a,
.home.yellow .scroll-panel.sub #privacy a:visited {
  color: #b20654;
}
.home.yellow .panel-head.toggle-flag {
  background-color: #ce1569;
}
.home.yellow .panel-head.toggle-flag:hover {
  background-color: #b7135d;
}
.home.yellow .panel-head.toggle-flag.active {
  background-color: #1ae8cf;
}
.home.yellow .panel-head.toggle-flag.active:after {
  border-top-color: #1ae8cf;
}
/* Rules for no-flash fallback
************************************/
.no-flash .home .scroll-panel.sub .promo-grid.tabbed,
.no-flash .home .scroll-panel.sub .grid-tabs .panel-head.toggle-flag,
.no-flash .home .scroll-panel.sub .promo-grid.precious-felt-box,
.no-flash .home #mega-promo .standard-version {
  display: none;
}
.no-flash .home .scroll-panel.sub .html-fun,
.no-flash .home .scroll-panel.sub .grid-tabs .panel-head.toggle-flag.static,
.no-flash .home #mega-promo .no-flash-version {
  display: block;
}
.no-flash .home .scroll-panel.sub .grid-tabs .panel-head.toggle-flag.static {
  height: 30px;
  padding: 18px 10px 22px 10px;
  font-size: 34px;
  width: 240px;
  text-align: center;
}
.no-flash .home .scroll-panel.sub .timely-badges {
  padding-top: 30px;
}
@media only screen and (max-width: 775px) {
  .no-flash .home .scroll-panel.sub .promo-grid .grid-item:nth-last-child(-n+1),
  .no-flash .home .scroll-panel.sub .promo-grid .grid-item {
    display: block;
  }
  .no-flash .home .scroll-panel.sub .html-fun .promo-grid .grid-item:nth-child(2n+2) {
    margin-right: 0;
  }
  .no-flash .home .scroll-panel.sub .timely-badges {
    top: 80%;
  }
}
@media only screen and (max-width: 601px) {
  .no-flash .home .scroll-panel.sub .grid-tabs .panel-head.toggle-flag.static {
    display: none;
  }
  .no-flash .home .scroll-panel.sub .html-fun .promo-grid {
    top: -20px;
  }
  .no-flash .no-flash .home .scroll-panel.sub .timely-badges {
    padding-top: 125px;
  }
}
@media only screen and (max-width: 480px) {
  .no-flash .home .scroll-panel.sub .html-fun .promo-grid .grid-item {
    display: none;
  }
  .no-flash .home .scroll-panel.sub .html-fun .promo-grid .grid-item.small-view {
    display: block;
  }
}
/* No SVG Image fallbacks */
.no-svg .home .brand {
  left: -20px;
}
.no-svg .home .theme-section .nav-buttons a.left:after {
  background-image: url('../../images/present/nav-line-bkgrnd_left.png');
}
.no-svg .home .theme-section .nav-buttons a.right:after {
  background-image: url('../../images/present/nav-line-bkgrnd_right.png');
}
.no-svg .home .theme-section .nav-buttons a .icon {
  background-image: url('../../images/present/nav-button-icons.png');
}
.no-svg .home .theme-section .nav-buttons a.games .icon:before {
  background-image: url('../../images/present/spinner.png');
}
.no-svg .home .theme-section .nav-buttons a em {
  position: relative;
  z-index: 1;
}
.no-svg .home .scroll-panel .scroll-arrow {
  background-image: url('../../images/present/scroll-arrows.png');
}
.no-svg .home .scroll-panel .phat-button .icon {
  background-image: url('../../images/present/nav-button-icons_small.png');
}
.no-svg .home .scroll-panel .games .icon:before {
  background-image: url('../../images/present/spinner_small.png');
}
/* Hide eye-catcher when video is not supported or on Android/Silk */
.no-video .home .theme-section .nav-buttons a.videos em .icon,
.issilky .home .theme-section .nav-buttons a.videos em .icon,
.isandroid .home .theme-section .nav-buttons a.videos em .icon {
  visibility: visible;
  background-position: 50% -131px;
}
.no-video .home #video-teaser,
.issilky .home #video-teaser,
.isandroid .home #video-teaser {
  display: none !important;
}
/* The Wheel
************************************/
#the-wheel-canvas {
  display: block;
  position: absolute;
  bottom: -6px;
  left: 50%;
  overflow: hidden;
}
#the-wheel-canvas.closed {
  height: 120px;
}
@media only screen and (max-width: 601px) {
  #the-wheel-canvas.closed {
    height: auto;
  }
}
.touch #the-wheel-canvas {
  pointer-events: all !important;
}
.bubble-title {
  font-family: PBS_KIDS_Headline, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 18px;
  color: #F79200;
  position: absolute;
  z-index: 10;
  width: 24%;
  display: block;
  text-align: center;
  left: 50%;
  margin-left: -12%;
  top: 178px;
  transform: scale(0.1);
  -ms-transform: scale(0.1);
  -webkit-transform: scale(0.1);
}
.bubble-title.show-me {
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease;
  transition: transform 0.2s ease;
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
}
.bubble-title.two-lines {
  top: 168px;
}
#the-wheel-canvas.embiggen .bubble-title {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  transform-origin: center bottom;
  cursor: pointer;
}
#wheel-ui.wheel-huge .bubble-title {
  font-size: 26px;
  top: 244px;
}
#wheel-ui.wheel-huge .bubble-title.two-lines {
  top: 234px;
}
#wheel-ui.wheel-big .bubble-title {
  font-size: 22px;
  top: 210px;
}
#wheel-ui.wheel-big .bubble-title.two-lines {
  top: 200px;
}
#wheel-ui.wheel-small .bubble-title {
  font-size: 14px;
  top: 152px;
}
#wheel-ui.wheel-small .bubble-title.two-lines {
  top: 142px;
}
#wheel-ui.wheel-mini .bubble-title {
  font-size: 14px;
  top: 136px;
}
#wheel-ui.wheel-mini .bubble-title.two-lines {
  top: 126px;
}
@media only screen and (max-width: 775px) {
  #wheel-ui.wheel-mini .bubble-title {
    font-size: 18px;
    top: 178px;
  }
  #wheel-ui.wheel-mini .bubble-title.two-lines {
    top: 168px;
  }
}
/* The Wheel Open */
@media only screen and (max-width: 1025px) and (max-height: 775px) and (min-width: 601) {
  .touch .home.wheel-open .theme-section .phat-button {
    transform: scale(0.85);
    -ms-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    bottom: 10px;
  }
  .touch .home.wheel-open .theme-section .phat-button.right {
    margin-right: -30px;
  }
  .touch .home.wheel-open .theme-section .phat-button.left {
    margin-left: -30px;
  }
}
/* Wheel event detection polygon */
#wheel-event-detector {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  width: 100%;
}
@media only screen and (max-width: 601px) {
  #wheel-event-detector {
    display: none;
  }
}
#wheel-event-detector circle {
  pointer-events: auto;
}
.touch #wheel-event-detector {
  display: none !important;
}
/* Wheel Fallback */
#wheel-fallback {
  visibility: hidden;
}
#wheel-fallback.handpicked-shows {
  list-style: none;
  height: 56px;
  margin: 0;
  padding: 12px 0;
  overflow: hidden;
}
@media only screen and (max-width: 601px) {
  #wheel-fallback.handpicked-shows {
    visibility: visible;
  }
}
#wheel-fallback.handpicked-shows .bubble-item {
  width: 60px !important;
}
#wheel-fallback.handpicked-shows .bubble-item a {
  display: block;
  width: 56px;
  height: 56px;
  float: left;
  margin: 0 4px 0 0;
  position: relative;
  z-index: 1;
  overflow: visible;
  padding: 0;
}
#wheel-fallback.handpicked-shows .bubble-item a img {
  display: block;
  overflow: hidden;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
#wheel-fallback.handpicked-shows .bubble-item a.hovered,
#wheel-fallback.handpicked-shows .bubble-item a.tapped {
  cursor: pointer;
}
#wheel-fallback.handpicked-shows .bubble-item a.hovered img,
#wheel-fallback.handpicked-shows .bubble-item a.tapped img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2) translateZ(0);
  transform: scale(1.2);
}
.bx-window,
.bx-wrapper {
  width: 100% !important;
}
@media only screen and (max-width: 601px) {
  #the-wheel-canvas {
    margin-left: 0 !important;
    overflow: visible;
    width: 100%;
    height: 80px;
    background-color: #A2D82B;
    left: 0;
    bottom: 0;
    pointer-events: all !important;
  }
  #the-wheel-canvas .kineticjs-content {
    display: none !important;
  }
  #the-wheel-canvas .bubble-title {
    display: none;
  }
}
.bx-wrapper {
  display: none;
}
@media only screen and (max-width: 601px) {
  .bx-wrapper {
    display: block;
  }
}
.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
  display: block;
  position: absolute;
  background: #75C700;
  top: 0;
  height: 80px;
  width: 28px;
  z-index: 1;
  text-indent: -999em;
}
.bx-wrapper .bx-prev:after,
.bx-wrapper .bx-next:after {
  content: '';
  display: block;
  border-bottom: 14px solid transparent;
  border-top: 14px solid transparent;
  border-left: 12px solid #FFF;
  margin: 6px 8px;
}
.bx-wrapper .bx-prev.hovered:after,
.bx-wrapper .bx-next.hovered:after,
.bx-wrapper .bx-prev.tapped:after,
.bx-wrapper .bx-next.tapped:after {
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 18px solid #FFF;
  margin-top: 0px;
}
.bx-wrapper .bx-next:after {
  border-right: 12px solid #FFF;
  border-left: none;
}
.bx-wrapper .bx-next.hovered:after,
.bx-wrapper .bx-next.tapped:after {
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-right: 18px solid #FFF;
  border-left: none;
}
.bx-wrapper .bx-prev {
  right: 0;
}
/* The Wheel Admin UI */
#wheel-config-panel {
  width: 96%;
  height: 350px;
  padding: 0 2%;
  clear: both;
  background: #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#wheel-config-panel .config-panel,
#wheel-config-panel .output-panel {
  width: 50%;
  float: left;
}
#wheel-config-panel fieldset,
#wheel-config-panel fieldset.active {
  display: block;
  border: none;
  outline: none;
}
#wheel-config-panel .input-group {
  position: relative;
  margin: 12px 0;
  width: 32%;
  float: left;
}
#wheel-config-panel .input-group label {
  margin-right: 10px;
  color: #aaa;
  font-family: PBS_KIDS_Headline, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 18px;
  display: block;
}
#wheel-config-panel .input-group input {
  width: 75%;
  background: #fff;
  border: 1px solid #CACCCE;
  color: #74797b;
  padding: 6px 2%;
  font-size: 14px;
  display: inline;
}
#wheel-config-panel .input-group input[type='color'] {
  padding: 0;
  width: 30px;
  height: 40px;
  background: transparent;
  outline: none;
  border: none;
  vertical-align: top;
  margin-top: -3px;
}
#update-wheel {
  display: block;
  float: right;
}
.output-panel code {
  width: 90%;
  height: 300px;
  background-color: #ccc;
  display: block;
}
/* Print Styles (via print.less)
************************************/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
