/* Headband override */
body.dropin-holiday-theme div#headband-container,
body.dropin-holiday-theme div#headband-container #parents-message-bar .parents-message .more-toggle{
	background-color: #F5674F;	
}

body.dropin-holiday-theme div#headband-container .headband-nav{
	background-color: #F77D69;	
}

body.dropin-holiday-theme div#headband-container a,
body.dropin-holiday-theme div#headband-container .headband-nav .nav-item a,
body.dropin-holiday-theme div#headband-container #parents-message-bar .parents-message,
body.dropin-holiday-theme div#headband-container #headband-user-block {
	color: #ffffff;
}

body.dropin-holiday-theme div#headband-container #parents-message-bar .for-parents-badge,
body.dropin-holiday-theme div#headband-container #parents-message-bar #squished-headband-toggle{
border-color: #00a0d1;
background-color: #00c3f7;
}

body.dropin-holiday-theme div#headband-container #parents-message-bar .parents-bar-bookmarks ul li .parents-bar-bookmark{
	background-color: #DF4E36;
}

body.dropin-holiday-theme #headband-container .headband-nav .nav-item.settings button[data-action=settings-trigger]{
	background-image: url('../images/homepage-UI/dropin-holiday-settings.svg');
	background-position: 50% 55% !important;
}

.no-svg body.dropin-holiday-theme #headband-container .headband-nav .nav-item.settings button[data-action=settings-trigger]{
	background-image: url('../images/homepage-UI/dropin-holiday-settings.png');
}

@media only screen and (max-width: 550px) {
	body.dropin-holiday-theme div#headband-container a,
	body.dropin-holiday-theme div#headband-container .headband-nav .nav-item a,
	body.dropin-holiday-theme div#headband-container #parents-message-bar .parents-message,
	body.dropin-holiday-theme div#headband-container #headband-user-block {
		color: #f05133;
	}
}

/* Hompage Color Overrides */

.dropin-holiday-theme{
background: #f05133;
}

body.dropin-holiday-theme .nav-buttons .phat-button{
border-color: #00a0d1;
background-color: #00c3f7;
}

body.dropin-holiday-theme .scroll-arrow.phat-button{
/*border-color: #00a0d1;
background-color: #f05133;*/
}

body.dropin-holiday-theme .nav-buttons .phat-button em {
padding: 20px 0 16px;
border-bottom: 10px solid #00a0d1;
margin-bottom: -10px;
}

body.dropin-holiday-theme .nav-buttons .phat-button.tall {
padding: 0;
}

body.dropin-holiday-theme .theme-section .phat-button.right:after {
background-image: url('../images/homepage-UI/dropin-holiday_nav-line-bkgrnd_right.svg');
right: -36px;
}

body.dropin-holiday-theme  .theme-section .phat-button.left:after {
background-image: url('../images/homepage-UI/dropin-holiday_nav-line-bkgrnd_left.svg');
left: -42px;
}

body.dropin-holiday-theme .theme-section .phat-button:before{
content: '';
display: block;
position: absolute;
width: 90%;
height: 100%;
left: -2%;
top:-10px;
background: url('../images/homepage-UI/button-snow_left.svg') center top no-repeat;
background-size: 100%;
}

body.dropin-holiday-theme .theme-section .phat-button.right:before {
background-image: url('../images/homepage-UI/button-snow_right.svg');
left: auto;
right: -2%;
}

/* Viewport height locking */
@media only screen and (min-width: 776px) and (max-height: 750px){
	.dropin-holiday-theme .scroll-panel.theme-section {
	 	min-height: 535px;
	}
}

@media only screen and (min-width: 602px) and (max-width: 775px) and (max-height: 750px){
	.dropin-holiday-theme .scroll-panel.theme-section {
	 	min-height: 650px;
	}
}

@media only screen and (max-width: 775px) {
  body.dropin-holiday-theme .theme-section .phat-button:before {
    width: 70%;
  }
}


/* Mini Static Version (mobile) */
.dropin-holiday-theme .mini-wrapper{
	display: none;	
}

@media only screen and (max-width: 601px) {
  .dropin-holiday-theme .mini-wrapper {
    display: block;
  }
  
  .home.dropin-holiday-theme .theme-section #theme-stage .mini-wrapper .theme-mini-static {
  	margin: 0;
  	float: right;
  	width: 100%;
  }

}

@media only screen and (max-width: 480px) {
  body.dropin-holiday-theme .theme-section .phat-button:before {
    width: 45%;
  }
  
  body.dropin-holiday-theme .nav-buttons .phat-button em {
    padding: 14px 0 10px;
  }
}


/** Override, hope this doesnt mess anything up! **/

.static-theme .static-surround
{
	height: 100%;
	overflow: hidden;
	position: relative;
	margin-top: 20px;
}

@media only screen and (min-width: 601px) {

    .static-theme span.static-lights {
        display: block;
        position: absolute;
        width: 100%;
        top: -14px;
        height: 112px;
        z-index: 1000;
        background: url('../images/static-lights.png') 50% 0 no-repeat transparent;
    }

    .static-theme #dynamic-theme-container{
        min-height: 475px;  
    }
}

.no-canvas .static-theme #dynamic-theme-container{
height: 525px !important;  
}

.static-theme .baubles
{
	background: url('../images/IE8/baubleBackground.png') 50% 40px no-repeat transparent;
	height: 300px;
	width: 646px;
	margin: 0% auto 0 auto;
	position: relative;
}

.static-theme .image-holder
{
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0 0 0 -323px;
}

.static-theme .bauble-front
{
	position: absolute;
	left: 0;
	right: 0;
	height: 300px;
	width: 646px;
	z-index: 100;
}

.static-theme .character
{
	position: absolute;
	width: 200px;
	height: 200px;
	float: left;
	left: 0;
	z-index: 50;
}

.static-theme .linkers 
{
	position: absolute;
	height: 300px;
	width: 100%;
	left: 50%;
	top: 0;
	margin: 0 0 0 -323px;	
}

.static-theme .character-linker
{
	position: absolute;
	width: 130px;
	height: 130px;
	cursor: pointer;
	z-index: 100;
	top: 40px;
}