@charset "utf-8";

/* CN typographic fix */

/* search bar */
#search-bar .ui-button { font-size: 12px; text-transform: none; }

/* account merge */
.merge-link .merge-link-text { padding: 0; }
* { font-family: 微软雅黑, Microsoft YaHei, Helvetica, Tahoma, StSun, 宋体, SimSun, sans-serif !important; text-transform: none !important; letter-spacing: 0 !important }

html,
body,
h2,
.post-editor,
#forum-content select,
#forum-list a,
#forum-list a.forum-parent,
#posts .post-status,
#external-games .game-forum,
.input { font-family: 微软雅黑, Microsoft YaHei, Helvetica, Tahoma, StSun, 宋体, SimSun, sans-serif }

h4,
.button2 span,
.ui-breadcrumb li a,
.bluetracker #posts .desc,
.bluetracker #posts .desc a.forum-source,
#posts .post-th,
#content .rate-action a,
.post-info-int,
.talkback-controls a .c,
.alert,
#homepage .game-column,
.search-result .result-title,
#what-is-bnet .back-link { font-size: 12px }

#search-form #search-field,
.post .ui-dropdown,
#forums,
#what-is-bnet,
#realid,
#faq,
#security,
#checklist-wrapper,
#help-wrapper,
#theft-wrapper .cell-box { font-size: 14px }

.ui-button.button4 span,
#forum-list a.forum-parent,
#open-beta-header strong,
#what-is-bnet h2,
#realid h3,
#theft-wrapper .theft-cell h3 { font-size: 22px }

#section h2,
#navigation h3,
#realid .realid-features h2 { font-size: 28px }

.alert .alert-close { font: normal 12px/1.1 微软雅黑, Microsoft YaHei, Helvetica, Tahoma, StSun, 宋体, SimSun, sans-serif }


#content .rate-action a { line-height: 20px }
#external-games .game-forum,
.alert .alert-close,
.alert p.title { line-height: 1.1em }

/* header */
#header #logo a { background: url("../../local-common/images/logos/bnet-default-cn.png") no-repeat }
/* DXImage filters are relative to the document, not the CSS file, so use absolute paths. */
* html #header #logo a { background: none; cursor: pointer; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.battlenet.com.cn/common/static/images/logos/bnet-default-cn.png', sizingMethod='image'); }

/* WoW & SC2 */
#homepage #home-game-heroes .game-promo.hover,
#homepage #home-game-sc2 .game-promo.hover,
#homepage #home-game-wow .game-promo.hover,
#homepage #home-game-hs .game-promo.hover,
#homepage #home-game-heroes .game-promo:focus,
#homepage #home-game-wow .game-promo:focus,
#homepage #home-game-sc2 .game-promo:focus,
#homepage #home-game-hs .game-promo:focus,
#homepage #home-game-heroes .game-promo:hover,
#homepage #home-game-wow .game-promo:hover,
#homepage #home-game-sc2 .game-promo:hover,
#homepage #home-game-hs .game-promo:hover { background-position: -248px 0; }

#homepage #home-game-d3 .game-promo.hover { background-position: -248px 0; }

/* Account Security */
#auth-wrapper #auth-keychain { background: url("../../images/landings/security/auth-chain-cn.gif") 0 0 no-repeat }
#checklist-wrapper li.list-9 { background: url("../../images/landings/security/list-2.gif") 0 0 no-repeat }
.arrow-list li, #checklist-wrapper .arrow-list li { background-position: 0 -98px }
.sample-left { width: 415px; float: left; margin: 25px 0 25px 25px; background: url("../../images/landings/security/fake-cn.gif") 50% 50% no-repeat; }

/* CN legal Page */
.faq-content { padding: 24px }
.faq-content dl, .faq-content dt, .faq-content p, .faq-content li { padding-bottom: 12px }
.faq-content dt { font-weight: bold }
.faq-content * { font-size: 14px }
.faq-content li { display: list-item; margin-left: 24px; list-style-position: outside; list-style-type: decimal }
.faq-content li li { list-style-type: upper-alpha }
.faq-content li strong { text-decoration: underline }

.legal-list { padding: 24px }
.legal-list p { padding-bottom: 12px; font-size: 14px }


/* WoW - specific */
#homepage #home-game-wow .game-promo { background: url("../../images/homepage/wow-cn.png") 0 0 no-repeat; }
.ie6 #homepage #home-game-wow .game-promo { background: url("../../images/homepage/wow-cn.gif") 0 0 no-repeat; }

/* SC2 - specific */
#homepage #home-game-sc2 .game-promo { background: url("../../images/homepage/starcraft2-cn.png") 0 0 no-repeat; }
.ie6 #homepage #home-game-sc2 .game-promo { background: url("../../images/homepage/starcraft2-cn.gif") 0 0 no-repeat; }

/* D3 - specific */
#homepage #home-game-d3 .game-promo { background: url("../../images/homepage/diablo3-cn.png") 0 0 no-repeat; }
.ie6 #homepage #home-game-d3 .game-promo { background: url("../../images/homepage/diablo3-cn.png") 0 0 no-repeat; }

/* Hearthstone- specific */
#homepage #home-game-hs .game-promo { background: url("../../images/homepage/hearthstone-cn.png") 0 0 no-repeat; }
.ie6 #homepage #home-game-hs .game-promo { background: url("../../images/homepage/hearthstone-cn.gif") 0 0 no-repeat; }

/* Heroes- specific */
#homepage #home-game-heroes .game-promo { background: url("../../images/homepage/heroes-cn.png") 0 0 no-repeat; }
.ie6 #homepage #home-game-heroes .game-promo { background: url("../../images/homepage/heroes-cn.gif") 0 0 no-repeat; }

/* Overwatch- specific */
#homepage #home-game-overwatch .game-promo { background: url("../../images/homepage/overwatch-cn.png") 0 0 no-repeat; }
.ie6 #homepage #home-game-overwatch .game-promo { background: url("../../images/homepage/overwatch-cn.gif") 0 0 no-repeat; }

/* temp remove the login information for home page */
.service-welcome  { padding: 0 15px 7px 15px; }

/* sc2 open beta */
#digital-purchase { height: 450px }
#digital-purchase h4 { font-size: 14px }
#digital-purchase .game-box { top: -180px; background: url("../../images/landings/digital-purchase/game-box2.jpg") no-repeat }
#digital-purchase .faq-interior li { margin: 30px 0 }
#digital-purchase-header { font-size:16px; color:#bfbfbf; padding-right: 375px; padding-bottom: 45px; }
.phase-3 #digital-purchase-header { padding-bottom:0; height:96px; padding-left: 10px; }
#digital-purchase-header strong { font-size:24px; color:#fff; }
.phase-3 #digital-purchase-header strong { font-size:36px;}
#digital-purchase-header span { color:#c6ff3d; }
.phase-3 #digital-purchase-header span { color:#00c6ff; }
#digital-purchase-header em { color: red; }
#digital-purchase-header p { margin:0; padding:0; }
#digital-purchase h4 { font-size:22px; color:#407da8; margin:15px 0 10px 0 }
#digital-purchase .left { float:left; width: 550px; }
#digital-purchase .right { float:right; width:305px; position: relative; padding-top: 185px; }
#digital-purchase .accent { color:#fd4100; }
#digital-purchase .cell { padding: 35px; position:relative; background: #e9e8e7; -moz-border-radius: 5px; margin-bottom: 35px; }
.phase-3 #digital-purchase .cell { height:280px; position: static; background: url('../../images/landings/digital-purchase/bg.jpg') no-repeat 0 0; }
#digital-purchase .cell-title { font-size:12px; color:#929191; position:absolute; top:10px; left:10px; }
#digital-purchase .cell-interior { font-size:14px; line-height:21px; color:#696969; margin-top: 20px; }
#digital-purchase .cell-interior:first-child { margin: 0}
#digital-purchase .cell-interior strong { color:black; }
#digital-purchase .calendar { position:absolute; left:-57px; top:0; background: url(../../images/landings/digital-purchase/calendar.jpg); height:46px; width:42px; }
#digital-purchase .faq-interior ul { list-style: none; margin: 0; padding: 0; }
#digital-purchase .faq-interior li { margin: 25px 0; line-height: 175%; }
#digital-purchase .buy-button { position:relative; }
#digital-purchase .caveat { position:absolute; right:30px; line-height:76px; font-size:14px; color:#969594; }
#digital-purchase .game-box { position:absolute; top:-200px; right:57px; height:354px; width:210px; background:url("../../images/landings/digital-purchase/zh-cn/game-box.jpg") no-repeat; }
.phase-3 #digital-purchase .game-box { position:absolute; top:-205px; right:35px; height:538px; width:323px; background:url("../../images/landings/digital-purchase/zh-cn/game-box2.jpg") no-repeat; }
#digital-purchase .button-buynow { display:block; margin:0 0 0 40px; height: 86px; width: 445px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow: #8c8c8b 0 0 15px; -webkit-box-shadow: #8c8c8b 0 0 15px; background-repeat: no-repeat; background-position: 0 0; }
#digital-purchase .button-buynow:hover { background-position: 0 -86px; }
#digital-purchase #open-beta-header { font-size: 36px }
#digital-purchase .align-center { margin-top: 20px }

/* Browser Upgrade Promotion - CN */
#browser-upgrade-header .header-title { background:url("../../images/landings/browser-upgrade/zh-cn/header-title.png") no-repeat; }
#browser-upgrade-header .header-warning { background:url("../../images/landings/browser-upgrade/zh-cn/btn-warning.png") no-repeat;}
#browser-upgrade-header .header-good { background:url("../../images/landings/browser-upgrade/zh-cn/btn-good.png") no-repeat;}
#browser-upgrade-header .header-subscript { background:url("../../images/landings/browser-upgrade/zh-cn/header-subscript.png") no-repeat; }
.browser-article .problem-1 { height:254px; background:url("../../images/landings/browser-upgrade/zh-cn/tap1_img1.jpg") right no-repeat; }
.browser-article .problem-2 { background:url("../../images/landings/browser-upgrade/zh-cn/tap1_img2.jpg") right no-repeat; }


/* header section */
/*#section { margin-top: 10px; background: url("../images/layout/section-bg.png") 50% 0 no-repeat; padding: 20px;  }
#section h2 { color:#62737E; font-size: 26px; margin-bottom: 5px; font-weight: normal; }
.homepage.logged-in #section { margin-top: 10px; background: url("../images/layout/section-bg.png") 50% 0 no-repeat; padding: 90px;  }
.homepage #section { padding: 0 0 90px 0; }*/

.explore-secondary { width: 660px; }