* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header #header-content > header > #header-subnav {
  display: none;
}

@media screen and (max-width: 980px) {
  #header #header-content > header > #header-subnav {
    display: block;
  }
  #header #header-content > header > #header-subnav .site-logo {
    display: none;
  }

  #header header:not(.stronga):not(.stronga-mobile), .site-logo {
    display: none;
  }
}
header #header-subnav .content .site-logo {
  color: #FFF;
  font-family: bebas_neue;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 6px;
}

.ctx-color-bright {
  color: #FBD032 !important;
}

.ctx-color-bright.light {
  color: #fefaea !important;
}

.ctx-color-dark {
  color: #000 !important;
}

.ctx-color-dark.light {
  color: #e5e5e5 !important;
}

.ctx-color-bright-hover:hover {
  color: #FBD032 !important;
}
.ctx-color-bright-hover:hover h1 a {
  color: #FBD032 !important;
}

.ctx-color-dark-hover:hover {
  color: #000 !important;
}

.ctx-bg-bright {
  background-color: #FBD032;
}

.ctx-bg-bright.light, .ctx-bg-bright-zebra {
  background-color: #fefaea;
}

.ctx-bg-dark {
  background-color: #000 !important;
}

.ctx-bg-dark-darker {
  background-color: black !important;
}

.ctx-bg-dark-lighter {
  background-color: #323232 !important;
}

.ctx-bg-dark.light {
  background-color: #e5e5e5;
}

.ctx-bg-bright-imp {
  background-color: #FBD032 !important;
}

.ctx-bg-dark-imp {
  background-color: #000 !important;
}

.ctx-bg-bright-hover:hover {
  color: #FBD032 !important;
}

.ctx-bg-dark-hover:hover {
  color: #000 !important;
}

.ctx-border-bright {
  border-color: #FBD032;
}

.ctx-border-bright.light {
  border-color: #fefaea;
}

.ctx-border-dark {
  border-color: #000;
}

.ctx-border-dark.light {
  border-color: #e5e5e5;
}

.ctx-border-dark-lighter {
  border-color: #323232 !important;
}

.ctx-border-bright-imp {
  border-color: #FBD032 !important;
}

.ctx-border-dark-imp {
  border-color: #000 !important;
}

.ctx-border-bright:hover {
  border-color: #FBD032;
}

.ctx-border-dark:hover {
  border-color: #000;
}

.ctx-border-bright-imp:hover {
  border-color: #FBD032 !important;
}

.ctx-border-dark-imp:hover {
  border-color: #000 !important;
}

#header header #header-subnav nav ul li:hover > a {
  color: #FBD032;
}

a, button {
  color: #000;
}

a:hover, button:hover {
  color: #FBD032;
}

.story-content blockquote, .story-content blockquote p {
  color: #000 !important;
}

.mediamodule .topbar a:hover {
  color: #FBD032;
}

.avatar {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  left: 0px !important;
}

.tweet {
  padding-left: 0px !important;
}

.header {
  padding-left: 58px !important;
  min-height: 60px !important;
}
.header .p-name {
  color: #202020 !important;
  display: block !important;
}
.header .p-name:hover {
  color: #454545 !important;
}
.header .p-nickname {
  color: #FBD032 !important;
  display: block !important;
}

.e-entry-content {
  color: #454545 !important;
  font-size: 13px !important;
}
.e-entry-content a {
  color: #202020 !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
}
.e-entry-content a:hover {
  text-decoration: underline;
}

.e-entry-title {
  color: #454545 !important;
  font-size: 13px !important;
}

.timeline .stream {
  box-sizing: border-box !important;
  padding-right: 20px !important;
}

/*# sourceMappingURL=global.css.map */
