/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-aac {
  background-image: url(../images/spritesheet.png);
  background-position: -28px -225px;
  width: 24px;
  height: 35px;
}
.icon-acc {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -167px;
  width: 80px;
  height: 23px;
}
.icon-autoplay-off-lg {
  background-image: url(../images/spritesheet.png);
  background-position: -138px -132px;
  width: 73px;
  height: 30px;
}
.icon-autoplay-off-sm {
  background-image: url(../images/spritesheet.png);
  background-position: -80px -167px;
  width: 37px;
  height: 15px;
}
.icon-autoplay-on-lg {
  background-image: url(../images/spritesheet.png);
  background-position: -64px -132px;
  width: 74px;
  height: 30px;
}
.icon-autoplay-on-sm {
  background-image: url(../images/spritesheet.png);
  background-position: -238px -100px;
  width: 37px;
  height: 15px;
}
.icon-big-12 {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -132px;
  width: 64px;
  height: 35px;
}
.icon-big-ten {
  background-image: url(../images/spritesheet.png);
  background-position: -211px -132px;
  width: 59px;
  height: 23px;
}
.icon-bing {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -260px;
  width: 16px;
  height: 20px;
}
.icon-card_types {
  background-image: url(../images/spritesheet.png);
  background-position: -100px -50px;
  width: 174px;
  height: 35px;
}
.icon-clearInput {
  background-image: url(../images/spritesheet.png);
  background-position: -52px -225px;
  width: 22px;
  height: 22px;
}
.icon-conf-usa {
  background-image: url(../images/spritesheet.png);
  background-position: -116px -100px;
  width: 122px;
  height: 23px;
}
.icon-grid_default {
  background-image: url(../images/spritesheet.png);
  background-position: -112px -225px;
  width: 19px;
  height: 18px;
}
.icon-grid_selected {
  background-image: url(../images/spritesheet.png);
  background-position: -93px -225px;
  width: 19px;
  height: 18px;
}
.icon-indep {
  background-image: url(../images/spritesheet.png);
  background-position: -117px -167px;
  width: 18px;
  height: 13px;
}
.icon-list_default {
  background-image: url(../images/spritesheet.png);
  background-position: -74px -225px;
  width: 19px;
  height: 19px;
}
.icon-list_selected {
  background-image: url(../images/spritesheet.png);
  background-position: -261px -190px;
  width: 19px;
  height: 19px;
}
.icon-mac {
  background-image: url(../images/spritesheet.png);
  background-position: -47px -190px;
  width: 46px;
  height: 35px;
}
.icon-mwc {
  background-image: url(../images/spritesheet.png);
  background-position: -165px -190px;
  width: 33px;
  height: 35px;
}
.icon-pac-12 {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -225px;
  width: 28px;
  height: 35px;
}
.icon-pause {
  background-image: url(../images/spritesheet.png);
  background-position: -231px -190px;
  width: 30px;
  height: 30px;
}
.icon-presented-by {
  background-image: url(../images/spritesheet.png);
  background-position: -100px -85px;
  width: 79px;
  height: 11px;
}
.icon-scout-logo-big {
  background-image: url(../images/spritesheet.png);
  background-position: 0px 0px;
  width: 100px;
  height: 100px;
}
.icon-scout-logo-med-narrow {
  background-image: url(../images/spritesheet.png);
  background-position: -130px -190px;
  width: 35px;
  height: 35px;
}
.icon-scout-logo-med {
  background-image: url(../images/spritesheet.png);
  background-position: -100px 0px;
  width: 180px;
  height: 50px;
}
.icon-scout-logo-small-narrow {
  background-image: url(../images/spritesheet.png);
  background-position: -198px -190px;
  width: 33px;
  height: 32px;
}
.icon-scout-logo-small {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -100px;
  width: 116px;
  height: 32px;
}
.icon-sec {
  background-image: url(../images/spritesheet.png);
  background-position: -93px -190px;
  width: 37px;
  height: 35px;
}
.icon-sun-belt {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -190px;
  width: 47px;
  height: 35px;
}
