/*****************************Tooltip*****************************/
.tip-twitter{opacity:0.8;z-index:10000;text-align:left;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding:1px 8px;max-width:200px;color:#fff;background-color:#000}
.tip-twitter .tip-inner{color:#FFF}
.tip-twitter .tip-arrow-top{margin-top:-5px;margin-left:-5px;top:0;left:50%;width:9px;height:5px;background:url(/JS/TS/1024/TebyanMainPage/Tooltip/Tooltip.gif) no-repeat}
.tip-twitter .tip-arrow-right{margin-top:-4px;margin-left:0;top:50%;left:100%;width:5px;height:9px;background:url(/JS/TS/1024/TebyanMainPage/Tooltip/Tooltip.gif) no-repeat -9px 0}
.tip-twitter .tip-arrow-bottom{margin-top:0;margin-left:-5px;top:100%;left:50%;width:9px;height:5px;background:url(/JS/TS/1024/TebyanMainPage/Tooltip/Tooltip.gif) no-repeat -18px 0}
.tip-twitter .tip-arrow-left{margin-top:-4px;margin-left:-5px;top:50%;left:0;width:5px;height:9px;background:url(/JS/TS/1024/TebyanMainPage/Tooltip/Tooltip.gif) no-repeat -27px 0}
/*****************************Slider*****************************/
.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.owl-carousel .owl-animated-in{z-index:0}
.owl-carousel .owl-animated-out{z-index:1}
.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}
100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}
100%{opacity:0}}
.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}
.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}
.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}
.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px, 0px, 0px);z-index:1}
.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-dot{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel.owl-loaded{display:block}
.owl-carousel.owl-loading{opacity:0;display:block}
.owl-carousel.owl-hidden{opacity:0}
.owl-carousel .owl-refresh .owl-item{display:none}
.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel .owl-item img{-webkit-transform-style:preserve-3d}
.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}
.owl-carousel .owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}
.owl-carousel.owl-rtl{direction:rtl}
.owl-carousel.owl-rtl .owl-item{float:right}
.no-js .owl-carousel{display:block}
.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}
.owl-carousel .owl-item img{transform-style:preserve-3d}
.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}
.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url("owl.video.play.png") no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:scale 100ms ease;-moz-transition:scale 100ms ease;-ms-transition:scale 100ms ease;-o-transition:scale 100ms ease;transition:scale 100ms ease}
.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3, 1.3);-moz-transition:scale(1.3, 1.3);-ms-transition:scale(1.3, 1.3);-o-transition:scale(1.3, 1.3);transition:scale(1.3, 1.3)}
.owl-carousel .owl-video-playing .owl-video-tn,.owl-carousel .owl-video-playing .owl-video-play-icon{display:none}
.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}
.owl-carousel .owl-video-frame{position:relative;z-index:1}
.owl-nav div{color:transparent;position:absolute;font-size:0;z-index:1}
.NewsRow .owl-nav div{width:21px;height:37px;top:50%;margin-top:-18.5px}
.NewsRow .owl-prev{left:25px;background:url(/JS/TS/1024/TebyanMainPage/slider/back.png)}
.NewsRow .owl-next{right:25px;background:url(/JS/TS/1024/TebyanMainPage/slider/next.png)}
.IconsNavigation .owl-nav div{background-color:#FFF;top:-3px}
.TextNavigation .owl-nav div{background-color:#0093AD;top:2px}
.js_MenuSlider .owl-nav div{width:32px;height:90%;background-repeat:no-repeat;background-position:center center}
.js_MenuSlider .owl-prev{right:-5px;background-image:url(/JS/TS/1024/TebyanMainPage/slider/NextNoback.png)}
.js_MenuSlider .owl-next{left:-5px;background-image:url(/JS/TS/1024/TebyanMainPage/slider/BackNoback.png)}
/*SelectOption*/
.sbHolder{background-color:#FFF;border:solid 1px #CCC;height:30px;position:relative;border-radius:3px}
.sbHolder:focus .sbSelector{}
.sbSelector{display:block;line-height:2.5;outline:none;overflow:hidden;position:absolute;text-indent:10px;top:0;bottom:0;right:0;left:30px;text-align:right;direction:rtl;padding:0 5px}
.sbSelector:link,.sbSelector:visited,.sbSelector:hover{color:#666772;outline:none;text-decoration:none}
.sbToggle{display:block;outline:none;position:absolute;left:0;top:2px;bottom:2px;width:25px;border-right:1px solid #CCC}
.sbToggle:before{content:'';border-width:5px;border-style:solid;border-color:#3a3a3a transparent transparent;position:absolute;left:50%;top:50%;margin-left:-5px;margin-top:-2px}
.sbToggle:hover:before{border-color:#EBB52D transparent transparent}
.sbToggleOpen:before{border-color:transparent transparent #3a3a3a;margin-top:-8px}
.sbToggleOpen:hover:before{border-color:transparent transparent #EBB52D}
.sbHolderDisabled{background-color:#3C3C3C;border:solid 1px #515151}
.sbOptions{background-color:#FFF;border:solid 1px #CCC;list-style:none;left:-1px;right:-1px;margin:0;padding:0;position:absolute;top:30px;z-index:1;overflow-y:auto}
.sbOptions li{padding:0 7px}
.sbOptions li a{border-top:dotted 1px #CCC;display:block;outline:none;padding:7px 0 7px 3px;text-align:right;direction:rtl}
.sbOptions li:first-child a{border-color:transparent}
.sbOptions a:link,.sbOptions a:visited{color:#666772;text-decoration:none}
.sbOptions a:hover,.sbOptions a:focus,.sbOptions a.sbFocus{color:#000}
.sbOptions li.last a{border-bottom:none}
.sbOptions .sbDisabled{border-bottom:dotted 1px #515151;color:#999;display:block;padding:7px 3px 7px 0;text-align:right;direction:rtl}
.sbOptions .sbGroup{border-bottom:dotted 1px #515151;color:#EBB52D;display:block;font-weight:bold;padding:7px 3px 7px 0;text-align:right;direction:rtl}
.sbOptions .sbSub{padding-right:17px}
/*****************************TileGallery*****************************/
.ug-gallery-wrapper,.ug-gallery-wrapper *{transition:all;-o-transition:all;-webkit-transition:all;-moz-transition:all;-ms-transition:all;max-width:none}
.ug-gallery-wrapper{z-index:0}
.ug-item-wrapper img{width:auto;max-width:none}
.ug-rtl{direction:rtl}
.ug-gallery-wrapper{overflow:hidden;position:relative}
.ug-error-message{text-align:center;padding-top:30px;padding-bottom:30px;font-size:20px;color:#F30D0D}
.ug-error-message-wrapper{width:100%;height:100%;border:1px solid #000}
.ug-gallery-wrapper .ug-canvas-pie{position:absolute;z-index:4}
.ug-gallery-wrapper .ug-progress-bar{position:absolute;overflow:hidden;z-index:4}
.ug-gallery-wrapper .ug-progress-bar-inner{/*xposition:absolute;*/}
.ug-gallery-wrapper.ug-fullscreen{height:100%!important;width:100%!important;max-width:none!important;max-height:none!important}
.ug-gallery-wrapper.ug-fake-fullscreen{position:fixed!important;height:auto!important;width:auto!important;max-width:none!important;max-height:none!important;margin:0!important;padding:0!important;top:0!important;left:0!important;bottom:0!important;right:0!important;z-index:999999!important}
.ug-body-fullscreen{overflow:hidden!important;height:100%!important;width:100%!important;margin:0!important;padding:0!important}
.ug-gallery-wrapper .ug-preloader-trans{display:block;height:35px;width:32px;height:32px;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader_skype_trans.gif);background-repeat:no-repeat}
.ug-gallery-wrapper .ug-slider-wrapper{position:absolute;overflow:hidden;z-index:1;background-color:#000}
.ug-slider-wrapper .ug-slide-wrapper{position:absolute}
.ug-slide-wrapper.ug-slide-clickable{cursor:pointer}
.ug-slider-wrapper .ug-slider-inner{position:absolute;z-index:0}
.ug-slider-wrapper .ug-item-wrapper{position:absolute;overflow:hidden}
.ug-slider-wrapper,.ug-item-wrapper img{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;max-width:none!important;box-sizing:border-box}
.ug-slider-wrapper .ug-slider-preloader{position:absolute;z-index:1;border:2px solid #fff;border-radius:6px;background-color:#fff;background-position:center center;background-repeat:no-repeat}
.ug-slider-preloader.ug-loader1{width:30px;height:30px;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-white1.gif)}
.ug-slider-preloader.ug-loader1.ug-loader-black{background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-black1.gif)}
.ug-slider-preloader.ug-loader2{width:32px;height:32px;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-white2.gif)}
.ug-slider-preloader.ug-loader2.ug-loader-black{background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-black2.gif)}
.ug-slider-preloader.ug-loader3{width:38px;height:38px;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-white3.gif)}
.ug-slider-preloader.ug-loader3.ug-loader-black{background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-black3.gif)}
.ug-slider-preloader.ug-loader4{width:32px;height:32px;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-white4.gif);background-color:#fff}
.ug-slider-preloader.ug-loader4.ug-loader-black{background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-black4.gif)}
.ug-slider-preloader.ug-loader5{width:60px;height:8px;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-white5.gif);background-color:#fff;border:none;border-radius:0}
.ug-slider-preloader.ug-loader5.ug-loader-black{background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-black5.gif);border:2px solid #000}
.ug-slider-preloader.ug-loader6{width:32px;height:32px;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-white6.gif)}
.ug-slider-preloader.ug-loader6.ug-loader-black{background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-black6.gif)}
.ug-slider-preloader.ug-loader7{width:32px;height:10px;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-white7.gif);border-width:3px;border-radius:3px}
.ug-slider-preloader.ug-loader7.ug-loader-black{background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-black7.gif)}
.ug-slider-preloader.ug-loader-black{border-color:#000;background-color:#000}
.ug-slider-preloader.ug-loader-nobg{background-color:transparent}
.ug-slider-wrapper .ug-button-videoplay{position:absolute;z-index:2;cursor:pointer}
.ug-slider-wrapper .ug-button-videoplay.ug-type-square{width:86px;height:66px;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/play-button-square.png);background-position:0 -66px}
.ug-slider-wrapper .ug-button-videoplay.ug-type-square.ug-button-hover{background-position:0 0}
.ug-slider-wrapper .ug-button-videoplay.ug-type-round{width:76px;height:76px;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/play-button-round.png);opacity:.9;filter:alpha(opacity = 90);transition:all .3s ease 0}
.ug-slider-wrapper .ug-button-videoplay.ug-type-round.ug-button-hover{opacity:1;filter:alpha(opacity = 100);transition:all .3s ease 0}
.ug-gallery-wrapper .ug-videoplayer{position:absolute;z-index:100;background-color:#000;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-black1.gif);background-repeat:no-repeat;background-position:center center;box-sizing:border-box;-moz-box-sizing:border-box}
.ug-videoplayer .ug-videoplayer-wrapper{width:100%;height:100%;background-color:#000;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader-black1.gif);background-repeat:no-repeat;background-position:center center}
.ug-videoplayer .ug-videoplayer-button-close{position:absolute;height:64px;width:64px;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/button-close.png);cursor:pointer;z-index:1000}
.ug-videoplayer .ug-videoplayer-button-close:hover{background-position:0 -64px}
.ug-gallery-wrapper .ug-thumbs-strip,.ug-gallery-wrapper .ug-thumbs-grid{position:absolute;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;/*xbackground-color:green;*/z-index:10}
.ug-thumbs-strip.ug-dragging{/*xcursor:-webkit-grab;xcursor:-moz-grab;*/}
.ug-gallery-wrapper .ug-thumbs-strip-inner,.ug-gallery-wrapper .ug-thumbs-grid-inner{position:absolute}
.ug-thumb-wrapper.ug-thumb-generated{position:absolute;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;box-sizing:border-box;-moz-box-sizing:border-box}
.ug-thumb-wrapper.ug-thumb-generated .ug-thumb-loader,.ug-thumb-wrapper.ug-thumb-generated .ug-thumb-error{position:absolute;top:0;left:0;background-repeat:no-repeat;background-position:center center}
.ug-thumb-wrapper .ug-thumb-border-overlay{position:absolute;top:0;left:0;z-index:4;box-sizing:border-box;-moz-box-sizing:border-box;border-style:solid}
.ug-thumb-wrapper .ug-thumb-overlay{position:absolute;top:0;left:0;z-index:3}
.ug-thumb-wrapper.ug-thumb-generated .ug-thumb-loader-dark{background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader.gif)}
.ug-thumb-wrapper.ug-thumb-generated .ug-thumb-loader-bright{background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/loader_bright.gif)}
.ug-thumb-wrapper.ug-thumb-generated .ug-thumb-error{background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/not_loaded.png)}
.ug-thumb-wrapper.ug-thumb-generated img{position:absolute;z-index:1;max-width:none!important}
.ug-thumb-wrapper.ug-thumb-generated img.ug-thumb-image-overlay{position:absolute;z-index:2;max-width:none!important}
img.ug-bw-effect{-webkit-filter:grayscale(1);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);filter:gray;filter:grayscale(100%);filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")}
img.ug-blur-effect{filter:blur(0.8px);-webkit-filter:blur(0.8px);-moz-filter:blur(0.8px);-o-filter:blur(0.8px);-ms-filter:blur(0.8px);filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id='blur'><feGaussianBlur stdDeviation=\'0.8\' /></filter></svg>#blur");filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0.8')}
img.ug-sepia-effect{-webkit-filter:sepia(1);-webkit-filter:sepia(100%);-moz-filter:sepia(100%);-ms-filter:sepia(100%);-o-filter:sepia(100%);filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'sepia\'><feColorMatrix values=\'0.14 0.45 0.05 0 0 0.12 0.39 0.04 0 0 0.08 0.28 0.03 0 0 0 0 0 1 0\' /></filter></svg>#sepia");filter:sepia(100%);background-color:#5E2612;filter:alpha(opacity = 50);zoom:1}
.ug-gallery-wrapper .ug-bullets{position:absolute;top:0;left:0;margin:0;padding:0}
.ug-gallery-wrapper .ug-bullets .ug-bullet{background-repeat:no-repeat;cursor:pointer;display:block;float:left;z-index:2}
.ug-gallery-wrapper .ug-bullets .ug-bullet:first-child{margin-left:0}
.ug-gallery-wrapper .ug-textpanel{position:absolute;overflow:hidden}
.ug-slider-wrapper .ug-textpanel{z-index:2}
.ug-gallery-wrapper .ug-textpanel-bg,.ug-gallery-wrapper .ug-textpanel-title,.ug-gallery-wrapper .ug-textpanel-description{display:block;position:absolute;margin:0;padding:0}
.ug-gallery-wrapper .ug-textpanel-bg{background-color:#000;opacity:.4;filter:alpha(opacity = 40);z-index:1}
.ug-textpanel-textwrapper{overflow:hidden}
.ug-gallery-wrapper .ug-textpanel-title{font-size:16px;font-weight:700;color:#fff;text-align:left;z-index:2}
.ug-gallery-wrapper .ug-textpanel-description{font-size:14px;color:#fff;text-align:left;z-index:3}
.ug-slider-wrapper .ug-zoompanel{position:absolute;top:200px;left:100px}
.ug-zoompanel .ug-zoompanel-button{background-repeat:no-repeat;cursor:pointer;display:block}
.ug-gallery-wrapper .ug-arrow-left{position:absolute;background-repeat:no-repeat;display:block;cursor:pointer}
.ug-gallery-wrapper .ug-arrow-right{position:absolute;background-repeat:no-repeat;cursor:pointer}
.ug-gallery-wrapper .ug-grid-panel{position:absolute;background-color:#000;/*xbackground-color:blue;*/z-index:2}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow{position:absolute;background-repeat:no-repeat;cursor:pointer;z-index:11}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow.ug-button-disabled{cursor:default}
.ug-gallery-wrapper .ug-panel-handle-tip{position:absolute;z-index:13;cursor:pointer}
.ug-gallery-wrapper .ug-overlay-disabled{position:absolute;z-index:100;width:100%;height:100%;background-color:#000;opacity:.3;filter:alpha(opacity=30);background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/cover-grid.png)}
.ug-gallery-wrapper .ug-strip-panel{position:absolute;background-color:#000;z-index:2}
.ug-strip-panel .ug-strip-arrow{position:absolute;cursor:pointer}
.ug-strip-panel .ug-strip-arrow.ug-button-disabled{cursor:default}
.ug-strip-panel .ug-strip-arrow-tip{position:absolute}
.ug-thumb-wrapper.ug-tile{display:block;position:absolute;box-sizing:border-box;-moz-box-sizing:border-box;overflow:hidden;padding:0;margin:0}
.ug-tile .ug-tile-cloneswrapper{position:absolute;width:0;height:0;top:0;left:0;overflow:hidden;opacity:0;filter:alpha(opacity = 90)}
.ug-tiles-transit.ug-tiles-transition-active .ug-thumb-wrapper.ug-tile,.ug-tiles-transit.ug-tiles-transition-active .ug-thumb-wrapper.ug-tile .ug-trans-enabled{transition:left .7s ease 0s,top .7s ease 0s,width .7s ease 0s,height .7s ease 0}
.ug-thumb-wrapper.ug-tile.ug-tile-clickable{cursor:pointer}
.ug-thumb-wrapper.ug-tile .ug-image-container{position:absolute;overflow:hidden;z-index:1;top:0;left:0}
.ug-thumb-wrapper.ug-tile img.ug-thumb-image{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;max-width:none!important;max-height:none!important;display:block;border:none;padding:0!important;margin:0!important;width:auto;height:auto;position:absolute}
.ug-thumb-wrapper.ug-tile .ug-tile-image-overlay{position:absolute;overflow:hidden;z-index:2;top:0;left:0}
.ug-thumb-wrapper.ug-tile .ug-tile-image-overlay img{width:100%;max-width:none!important}
.ug-tiletype-justified .ug-thumb-wrapper.ug-tile .ug-tile-image-overlay img{height:100%;max-width:none!important}
.ug-thumb-wrapper.ug-tile .ug-tile-icon{position:absolute;width:38px;height:38px;background-repeat:no-repeat;background-position:0 0;/*xbackground-color:green;*/z-index:6;top:1px;left:1px;cursor:pointer}
.ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-link{background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/icon-link32.png)}
.ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-zoom{background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/icon-zoom32.png)}
.ug-thumb-wrapper.ug-tile .ug-tile-icon.ug-icon-play{background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/icon-play32.png)}
.ug-thumb-wrapper.ug-tile .ug-tile-icon:hover{background-position:0 -38px}
.ug-thumbs-grid .ug-tile-image-overlay img{width:auto;height:auto;position:absolute;max-width:none!important}
.ug-tile .ug-textpanel{z-index:5;cursor:default}
.ug-tile.ug-tile-clickable .ug-textpanel{cursor:pointer}
.ug-tile .ug-textpanel-title{font-size:14px;font-weight:700}
.ug-gallery-wrapper .ug-carousel-wrapper{position:absolute;overflow:hidden}
.ug-gallery-wrapper .ug-carousel-inner{position:absolute}
.ug-gallery-wrapper.ug-lightbox{display:none;position:fixed;border:none;padding:0;margin:0;outline:invert none medium;overflow:hidden;top:0;left:0;width:100%;height:100%;max-width:none!important;max-height:none!important;z-index:999999}
.ug-lightbox .ug-lightbox-top-panel{position:absolute;z-index:2}
.ug-lightbox .ug-lightbox-top-panel-overlay{width:100%;height:100%;position:absolute;background-color:#000;opacity:.4;filter:alpha(opacity=40)}
.ug-lightbox .ug-lightbox-overlay{z-index:1;width:100%;height:100%;background-color:#000;opacity:1}
.ug-lightbox .ug-slider-wrapper{z-index:1;/*xbackground-color:green;*/background-color:transparent!important}
.ug-lightbox .ug-textpanel{z-index:2}
.ug-lightbox .ug-lightbox-arrow-left,.ug-lightbox .ug-lightbox-arrow-right{position:absolute;width:50px;height:55px;background-repeat:no-repeat;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/lightbox-arrow-left.png);background-position:0 0;z-index:3;cursor:pointer}
.ug-lightbox .ug-lightbox-arrow-right{background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/lightbox-arrow-right.png)}
.ug-lightbox .ug-lightbox-button-close{position:absolute;width:36px;height:36px;background-repeat:no-repeat;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/lightbox-icon-close.png);background-position:0 0;z-index:4;cursor:pointer}
.ug-lightbox-compact .ug-lightbox-button-close{width:45px;height:41px;background-image:url(/JS/TS/1024/TebyanMainPage/TileGallery/v2/images/lightbox-icon-close-compact2.png)}
.ug-lightbox .ug-lightbox-arrow-left.ug-arrow-hover,.ug-lightbox .ug-lightbox-arrow-right.ug-arrow-hover{background-position:0 -55px}
.ug-lightbox .ug-lightbox-button-close.ug-button-hover{background-position:0 -35px}
.ug-lightbox-compact .ug-lightbox-button-close.ug-button-hover{background-position:0 -40px}
.ug-lightbox .ug-lightbox-numbers{position:absolute;color:#e5e5e5;font-size:12px;top:14px;left:8px;z-index:3}
.ug-lightbox-compact .ug-lightbox-numbers{font-size:14px;padding-right:5px;padding-top:7px}
.ug-lightbox .ug-textpanel-title,.ug-lightbox .ug-textpanel-description{font-size:14px;font-weight:400;color:#e5e5e5}
.ug-lightbox-compact .ug-textpanel-title,.ug-lightbox-compact .ug-textpanel-description{color:#F3F3F3;font-size:16px}
.ug-tabs-wrapper{margin-top:0;margin-bottom:20px;text-align:center}
.ug-tabs-wrapper a.ug-tab{display:inline-block;cursor:pointer;text-decoration:none;color:#fff;margin-left:5px;background-color:#333;border-radius:3px;font-size:12px;font-weight:400;border:1px solid #969696;padding:6px 8px}
.ug-tabs-wrapper a.ug-tab:hover{background-color:#707070!important}
.ug-tabs-wrapper a.ug-tab.ug-tab-selected,.ug-tabs-wrapper a.ug-tab.ug-tab-selected:hover{background-color:#2077A2!important;cursor:default!important}
.ug-tabs-wrapper a.ug-tab:first-child{margin-left:0!important}
.ug-arrow-left.ug-skin-default,.ug-arrow-right.ug-skin-default{width:15px;height:30px;background-image:url(../skins/default/slider_arrow_left.png);background-position:0 0}
.ug-arrow-right.ug-skin-default{background-image:url(../skins/default/slider_arrow_right.png)}
.ug-arrow-left.ug-skin-default.ug-arrow-hover,.ug-arrow-right.ug-skin-default.ug-arrow-hover{background-position:0 -30px}
.ug-arrow-left.ug-skin-default.ug-arrow-disabled,.ug-arrow-right.ug-skin-default.ug-arrow-disabled{background-position:0 -60px}
.ug-bullets.ug-skin-default .ug-bullet{width:15px;height:15px;background-image:url(../skins/default/slider_bullets.png);background-position:top left;margin-left:5px}
.ug-bullets.ug-skin-default .ug-bullet.ug-bullet-active{background-position:bottom left}
.ug-bullets.ug-skin-default.ug-bullets-gray .ug-bullet{background-image:url(../skins/default/tile_bullets_gray.png)}
.ug-bullets.ug-skin-default.ug-bullets-blue .ug-bullet{background-image:url(../skins/default/tile_bullets_blue.png)}
.ug-bullets.ug-skin-default.ug-bullets-brown .ug-bullet{background-image:url(../skins/default/tile_bullets_brown.png)}
.ug-bullets.ug-skin-default.ug-bullets-green .ug-bullet{background-image:url(../skins/default/tile_bullets_green.png)}
.ug-bullets.ug-skin-default.ug-bullets-red .ug-bullet{background-image:url(../skins/default/tile_bullets_red.png)}
.ug-button-tile-navigation{width:36px;height:36px;background-position:top left;cursor:pointer;float:left}
.ug-button-tile-navigation.ug-button-tile-left{background-image:url(../skins/default/tile_button_left.png)}
.ug-button-tile-navigation.ug-button-tile-right{background-image:url(../skins/default/tile_button_right.png)}
.ug-button-tile-navigation:hover{background-position:bottom left}
.ug-button-tile-navigation.ug-button-disabled{opacity:.6}
.ug-button-tile-navigation.ug-button-disabled:hover{background-position:top left}
.ug-button-tile-navigation.ug-button-tile-play{background-image:url(../skins/default/tile_button_play_pause.png);width:35px}
.ug-button-tile-navigation.ug-button-tile-play.ug-pause-icon{background-position:bottom left}
.ug-button-tile-navigation.ug-button-tile-play:hover{background-position:top left}
.ug-button-tile-navigation.ug-button-tile-play.ug-pause-icon:hover{background-position:bottom left}
.ug-button-play.ug-skin-default{position:absolute;background-image:url(../skins/default/button_playpause.png);width:14px;height:17px;cursor:pointer;background-position:0 0}
.ug-button-play.ug-skin-default.ug-button-hover{background-position:0 -17px}
.ug-button-play.ug-skin-default.ug-stop-mode{background-position:0 -34px}
.ug-button-play.ug-skin-default.ug-stop-mode.ug-button-hover{background-position:0 -51px}
.ug-button-fullscreen.ug-skin-default{position:absolute;background-image:url(../skins/default/button_fullscreen.png);width:16px;height:16px;cursor:pointer;background-position:0 0}
.ug-button-fullscreen.ug-skin-default.ug-button-hover{background-position:0 -16px}
.ug-button-fullscreen.ug-skin-default.ug-fullscreenmode{background-position:0 -32px}
.ug-button-fullscreen.ug-skin-default.ug-fullscreenmode.ug-button-hover{background-position:0 -48px}
.ug-zoompanel.ug-skin-default .ug-zoompanel-button{background-repeat:no-repeat;cursor:pointer;height:23px;width:23px;margin-top:5px;background-position:0 0}
.ug-zoompanel.ug-skin-default .ug-zoompanel-plus{margin-top:0;background-image:url(../skins/default/icon_zoom_plus.png)}
.ug-zoompanel.ug-skin-default .ug-zoompanel-minus{background-image:url(../skins/default/icon_zoom_minus.png)}
.ug-zoompanel.ug-skin-default .ug-zoompanel-return{background-image:url(../skins/default/icon_zoom_back.png)}
.ug-zoompanel.ug-skin-default .ug-zoompanel-button.ug-button-hover{background-position:0 -23px}
.ug-zoompanel.ug-skin-default .ug-zoompanel-button-disabled,.ug-zoompanel.ug-skin-default .ug-zoompanel-button.ug-button-hover.ug-zoompanel-button-disabled{background-position:0 -46px;cursor:default}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-down.ug-skin-default{width:30px;height:15px;background-position:0 0;background-image:url(../skins/default/arrow_grid_down.png)}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-down.ug-skin-default.ug-button-hover{background-position:0 -15px}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-down.ug-skin-default.ug-button-hover.ug-button-disabled,.ug-gallery-wrapper .ug-grid-panel .grid-arrow-down.ug-skin-default.ug-button-disabled{background-position:0 -30px}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-up.ug-skin-default{width:30px;height:15px;background-position:0 0;background-image:url(../skins/default/arrow_grid_up.png)}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-up.ug-skin-default.ug-button-hover{background-position:0 -15px}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-up.ug-skin-default.ug-button-hover.ug-button-disabled,.ug-gallery-wrapper .ug-grid-panel .grid-arrow-up.ug-skin-default.ug-button-disabled{background-position:0 -30px}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left.ug-skin-default{width:40px;height:40px;background-position:0 -40px;background-image:url(../skins/default/grid_arrow_left.png)}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left.ug-skin-default.ug-button-hover{background-position:0 -0}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left.ug-skin-default.ug-button-hover.ug-button-disabled,.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left.ug-skin-default.ug-button-disabled{background-position:0 -80px}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right.ug-skin-default{width:40px;height:40px;background-position:0 -40px;background-image:url(../skins/default/grid_arrow_right.png)}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right.ug-skin-default.ug-button-hover{background-position:0 -0}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right.ug-skin-default.ug-button-hover.ug-button-disabled,.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right.ug-skin-default.ug-button-disabled{background-position:0 -80px}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left-hortype.ug-skin-default{width:15px;height:30px;background-image:url(../skins/default/slider_arrow_left.png);background-position:0 0}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left-hortype.ug-skin-default.ug-button-hover{background-position:0 -30px}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left-hortype.ug-skin-default.ug-button-hover.ug-button-disabled,.ug-gallery-wrapper .ug-grid-panel .grid-arrow-left-hortype.ug-skin-default.ug-button-disabled{background-position:0 -60px}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right-hortype.ug-skin-default{width:15px;height:30px;background-image:url(../skins/default/slider_arrow_right.png);background-position:0 0}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right-hortype.ug-skin-default.ug-button-hover{background-position:0 -30px}
.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right-hortype.ug-skin-default.ug-button-hover.ug-button-disabled,.ug-gallery-wrapper .ug-grid-panel .grid-arrow-right-hortype.ug-skin-default.ug-button-disabled{background-position:0 -60px}
.ug-strip-panel .ug-strip-arrow-left.ug-skin-default,.ug-strip-panel .ug-strip-arrow-right.ug-skin-default{width:25px;height:50px}
.ug-strip-panel .ug-strip-arrow-left.ug-skin-default .ug-strip-arrow-tip,.ug-strip-panel .ug-strip-arrow-right.ug-skin-default .ug-strip-arrow-tip{background-position:0 0;background-repeat:no-repeat;width:4px;height:7px}
.ug-strip-panel .ug-strip-arrow-left.ug-skin-default .ug-strip-arrow-tip{background-image:url(../skins/default/arrows_strip_left.png)}
.ug-strip-panel .ug-strip-arrow-right.ug-skin-default .ug-strip-arrow-tip{background-image:url(../skins/default/arrows_strip_right.png)}
.ug-strip-panel .ug-strip-arrow-left.ug-skin-default.ug-button-hover .ug-strip-arrow-tip,.ug-strip-panel .ug-strip-arrow-right.ug-skin-default.ug-button-hover .ug-strip-arrow-tip{background-position:0 -7px}
.ug-strip-panel .ug-strip-arrow-up.ug-skin-default,.ug-strip-panel .ug-strip-arrow-down.ug-skin-default{height:25px;width:50px}
.ug-strip-panel .ug-strip-arrow-up.ug-skin-default .ug-strip-arrow-tip,.ug-strip-panel .ug-strip-arrow-down.ug-skin-default .ug-strip-arrow-tip{background-position:0 0;background-repeat:no-repeat;width:7px;height:4px}
.ug-strip-panel .ug-strip-arrow-up.ug-skin-default .ug-strip-arrow-tip{background-image:url(../skins/default/arrows_strip_up.png)}
.ug-strip-panel .ug-strip-arrow-down.ug-skin-default .ug-strip-arrow-tip{background-image:url(../skins/default/arrows_strip_down.png)}
.ug-strip-panel .ug-strip-arrow-up.ug-skin-default.ug-button-hover .ug-strip-arrow-tip,.ug-strip-panel .ug-strip-arrow-down.ug-skin-default.ug-button-hover .ug-strip-arrow-tip{background-position:-7px 0}
.ug-strip-panel .ug-strip-arrow.ug-skin-default.ug-button-disabled .ug-strip-arrow-tip{background-position:0 0;opacity:.5;filter:alpha(opacity = 50)}
.ug-gallery-wrapper .ug-handle-tip-left.ug-skin-default,.ug-gallery-wrapper .ug-handle-tip-right.ug-skin-default{width:22px;height:36px;background-image:url(../skins/default/grid_handle_black_left.png);background-repeat:no-repeat;background-position:0 -36px}
.ug-gallery-wrapper .ug-handle-tip-right.ug-skin-default{background-image:url(../skins/default/grid_handle_black_right.png);background-position:0 -36px}
.ug-gallery-wrapper .ug-handle-tip-left.ug-button-hover.ug-skin-default,.ug-gallery-wrapper .ug-handle-tip-right.ug-button-hover.ug-skin-default{background-position:0 -0}
.ug-gallery-wrapper .ug-handle-tip-left.ug-skin-default.ug-button-closed,.ug-gallery-wrapper .ug-handle-tip-right.ug-skin-default.ug-button-closed{background-position:0 -108px}
.ug-gallery-wrapper .ug-handle-tip-left.ug-skin-default.ug-button-closed.ug-button-hover,.ug-gallery-wrapper .ug-handle-tip-right.ug-skin-default.ug-button-closed.ug-button-hover{background-position:0 -72px}
.ug-gallery-wrapper .ug-handle-tip-top.ug-skin-default,.ug-gallery-wrapper .ug-handle-tip-bottom.ug-skin-default{width:36px;height:22px;background-image:url(../skins/default/grid_handle_black_top.png);background-repeat:no-repeat;background-position:-36px 0}
.ug-gallery-wrapper .ug-handle-tip-bottom.ug-skin-default{background-image:url(../skins/default/grid_handle_black_bottom.png);background-position:-36px 0}
.ug-gallery-wrapper .ug-handle-tip-top.ug-skin-default.ug-button-hover,.ug-gallery-wrapper .ug-handle-tip-bottom.ug-skin-default.ug-button-hover{background-position:0 0}
.ug-gallery-wrapper .ug-handle-tip-top.ug-skin-default.ug-button-closed,.ug-gallery-wrapper .ug-handle-tip-bottom.ug-skin-default.ug-button-closed{background-position:-108px 0}
.ug-gallery-wrapper .ug-handle-tip-top.ug-skin-default.ug-button-closed.ug-button-hover,.ug-gallery-wrapper .ug-handle-tip-bottom.ug-skin-default.ug-button-closed.ug-button-hover{background-position:-72px 0}
/*****************************ViewScroll*****************************/
.mCustomScrollbar{-ms-touch-action:none;touch-action:none}
.mCustomScrollbar.mCS_no_scrollbar{-ms-touch-action:auto;touch-action:auto}
.mCustomScrollBox{position:relative;overflow:hidden;height:100%;max-width:100%;outline:none;direction:ltr}
.mCSB_container{overflow:hidden;width:auto;height:auto}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{margin-right:0} 
.mCSB_scrollTools{position:absolute;width:16px;height:auto;top:0;bottom:0}
.mCSB_outside + .mCSB_scrollTools{right:-26px} 
.mCSB_scrollTools .mCSB_draggerContainer{position:absolute;top:0;left:0;bottom:0;right:0;height:auto}
.mCSB_scrollTools a + .mCSB_draggerContainer{margin:20px 0}
.mCSB_scrollTools .mCSB_draggerRail{width:2px;height:100%;margin:0 auto;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px}
.mCSB_scrollTools .mCSB_dragger{cursor:pointer;width:100%;height:30px;z-index:1}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{position:relative;width:2px;height:100%;margin:0 auto;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;text-align:center}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, 
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{width:12px;/* auto-expanded scrollbar */ }
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, 
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{width:8px;/* auto-expanded scrollbar */ }
.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown{display:block;position:absolute;height:20px;width:100%;overflow:hidden;margin:0 auto;cursor:pointer}
.mCSB_scrollTools .mCSB_buttonDown{bottom:0}
.mCSB_horizontal.mCSB_inside > .mCSB_container{margin-right:0;margin-bottom:30px}
.mCSB_horizontal.mCSB_outside > .mCSB_container{min-height:100%}
.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden{margin-bottom:0} /* non-visible scrollbar */
.mCSB_scrollTools.mCSB_scrollTools_horizontal{width:auto;height:16px;top:auto;right:0;bottom:0;left:0}
.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal,.mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal{bottom:-26px} /* scrollbar position:outside */
.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer{margin:0 20px}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail{width:100%;height:2px;margin:7px 0}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger{width:30px;height:100%;left:0;top:1px}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{width:100%;height:2px;margin:6px auto}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, 
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{height:12px;margin:2px auto}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, 
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{height:8px;margin:4px 0}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight{display:block;position:absolute;width:20px;height:100%;overflow:hidden;margin:0 auto;cursor:pointer}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft{left:0}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight{right:0}
.mCSB_container_wrapper{position:absolute;height:auto;width:auto;overflow:hidden;top:0;left:0;right:0;bottom:0;margin-right:20px;margin-bottom:30px}
.mCSB_container_wrapper > .mCSB_container{padding-right:30px;padding-bottom:30px}
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical{bottom:20px}
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal{right:20px}
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical{bottom:0}
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container{padding-right:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container{padding-bottom:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden{margin-right:0;margin-left:0}
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden{margin-bottom:0}
.mCSB_scrollTools{opacity:0.75;filter:"alpha(opacity=75)";-ms-filter:"alpha(opacity=75)"}
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{opacity:0;filter:"alpha(opacity=0)";-ms-filter:"alpha(opacity=0)"}
.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,.mCustomScrollBox:hover > .mCSB_scrollTools,.mCustomScrollBox:hover ~ .mCSB_scrollTools,.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools{opacity:1;filter:"alpha(opacity=100)";-ms-filter:"alpha(opacity=100)"}
.mCSB_scrollTools .mCSB_draggerRail{background-color:#000;background-color:rgba(0,0,0,0.4);filter:"alpha(opacity=40)";-ms-filter:"alpha(opacity=40)"}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#fff;background-color:#000;filter:"alpha(opacity=75)";-ms-filter:"alpha(opacity=75)"}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color:#fff;background-color:#000;filter:"alpha(opacity=85)";-ms-filter:"alpha(opacity=85)"}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color:#fff;background-color:#000;filter:"alpha(opacity=90)";-ms-filter:"alpha(opacity=90)"}
.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown,.mCSB_scrollTools .mCSB_buttonLeft,.mCSB_scrollTools .mCSB_buttonRight{background-image:url(/JS/TS/1024/TebyanMainPage/ViwScroll/mCSB_buttons.png);background-repeat:no-repeat;opacity:0.4;filter:"alpha(opacity=40)";-ms-filter:"alpha(opacity=40)";transition:all 400ms ease-in-out}
.mCSB_scrollTools .mCSB_buttonUp{background-position:-96px 0}
.mCSB_scrollTools .mCSB_buttonDown{background-position:-96px -20px}
.mCSB_scrollTools .mCSB_buttonLeft{background-position:0 -40px}
.mCSB_scrollTools .mCSB_buttonRight{background-position:0 -56px}
.mCSB_scrollTools .mCSB_buttonUp:hover,.mCSB_scrollTools .mCSB_buttonDown:hover,.mCSB_scrollTools .mCSB_buttonLeft:hover,.mCSB_scrollTools .mCSB_buttonRight:hover{opacity:0.75;filter:"alpha(opacity=75)";-ms-filter:"alpha(opacity=75)"}
.mCSB_scrollTools .mCSB_buttonUp:active,.mCSB_scrollTools .mCSB_buttonDown:active,.mCSB_scrollTools .mCSB_buttonLeft:active,.mCSB_scrollTools .mCSB_buttonRight:active{opacity:0.9;filter:"alpha(opacity=90)";-ms-filter:"alpha(opacity=90)"}
/*****************************VerticalMarquee*****************************/
.VerticalMarquee{width:100%;height:19px;margin:0 auto;overflow:hidden;position:relative;margin-top:5px;overflow:hidden}
.ItemMM{height:20px;line-height:1;padding:0 10px;margin:0 5px;overflow:hidden}
.ItemMM.before:before{border-width:5px;border-style:solid;border-color:transparent #D03604 transparent transparent;top:50%;right:0;margin-top:-6px}
.Active a{color:#5C8202}
/*****************************CoreStyle*****************************/
body,ul li,ul,h1,h2,h3,h4,h5,h6,div,p,a,span,input,select,textarea,img,figure,figcaption,section,header,footer,article,nav,strong{margin:0px;padding:0px;Font-weight:normal;text-decoration:none;list-style-type:none;color:#000;outline:0;ie-dummy:expression(this.hideFocus=true);box-sizing:border-box}
textarea{resize:none}
img{border:0}
a:hover{text-decoration:none}
.textcut{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.responsiveimage{max-width:100%;height:auto}
.after:after,.before:before{content:'';box-sizing:border-box}
.js_lazy:not(.lazy-loaded){background-color:#D6D6D6}
.fs0{font-size:0}
.normal{font-weight:normal}
.bold{font-weight:bold}
.cFFF{color:#FFF}
.c000{color:#000}
.cb{clear:both}
.tc{text-align:center}
.tj{text-align:justify}
.pointer{cursor:pointer}
.default{cursor:default}
.move{cursor:move}
.ma{margin:auto}
.m0a{margin-right:auto;margin-left:auto}
.m0{margin:0}
.p0{padding:0}
.mp0{padding:0;margin:0}
.p1{padding:1px}
.p2{padding:2px}
.p3{padding:3px}
.p5{padding:5px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.prl2{padding-right:2px;padding-left:2px}
.prl5{padding-right:5px;padding-left:5px}
.prl10{padding-right:10px;padding-left:10px}
.prl15{padding-right:15px;padding-left:15px}
.prl20{padding-right:20px;padding-left:20px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.m2{margin:2px}
.m5{margin:5px}
.m10{margin:10px}
.m20{margin:20px}
.mrl2{margin-right:2px;margin-left:2px}
.mrl5{margin-right:5px;margin-left:5px}
.mrl10{margin-right:10px;margin-left:10px}
.mrl15{margin-right:15px;margin-left:15px}
.mrl20{margin-right:20px;margin-left:20px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mtb2{margin-top:2px;margin-bottom:2px}
.mtb5{margin-top:5px;margin-bottom:5px}
.mtb10{margin-top:10px;margin-bottom:10px}
.mtb15{margin-top:15px;margin-bottom:15px}
.mtb20{margin-top:20px;margin-bottom:20px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.ptb2{padding-top:2px;padding-bottom:2px}
.ptb5{padding-top:5px;padding-bottom:5px}
.ptb10{padding-top:10px;padding-bottom:10px}
.ptb15{padding-top:15px;padding-bottom:15px}
.ptb20{padding-top:20px;padding-bottom:20px}
.dnone,.none{display:none}
.dblock,.block{display:block}
.dtable,.table{display:table}
.dinlineblock,.inlineblock{display:inline-block}
.absolute,.after:after,.before:before{position:absolute}
.relative{position:relative}
.fixed{position:fixed}
.z1{z-index:1}
.z2{z-index:2}
.z3{z-index:3}
.z4{z-index:4}
.z5{z-index:5}
.t0{top:0}
.r0{right:0}
.l0{left:0}
.b0{bottom:0}
.t2{top:2px}
.t5{top:5px}
.t10{top:10px}
.t15{top:15px}
.t20{top:20px}
.w100p{width:100%}
.w99p{width:99%}
.w98p{width:98%}
.w96p{width:96%}
.w50p{width:50%}
.h100p{height:100%}
.lh1-5{line-height:1.5}
.lh2{line-height:2}
.lh2-5{line-height:2.5}
.lh3{line-height:3}
.lh3-5{line-height:3.5}
.nolst{list-style-type:none}
.sborder{border-style:solid}
.dborder{border-style:dashed}
.border0{border-width:0px}
.border1{border-width:1px}
.border2{border-width:2px}
.border3{border-width:3px}
.btransparent{border-color:transparent}
.transparent{background:transparent}
.bFFF{background-color:#FFF}
.b000{background-color:#000}
.ofh{overflow:hidden}
.ofa{overflow:auto}
.ofxa{overflow-x:auto}
.ofya{overflow-y:auto}
.ofxh{overflow-x:hidden}
.ofyh{overflow-y:hidden}
.trans400,.StarBefore.before:before,.ToolsRowDataIcon.GearIcon.before:before{transition:all 400ms ease-in-out;-webkit-transition:all 400ms ease-in-out;-ms-transition:all 400ms ease-in-out;-o-transition:all 400ms ease-in-out}
.trans800{transition:all 800ms ease-in-out;-webkit-transition:all 800ms ease-in-out;-ms-transition:all 800ms ease-in-out;-o-transition:all 800ms ease-in-out}
.rotatex{transform:rotateX(180deg);-webkit-transform:rotateX(180deg);-o-transform:rotateX(180deg)}
.rotatey{transform:rotateY(180deg);-webkit-transform:rotateY(180deg);-o-transform:rotateY(180deg)}
.rotate360{transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg)}
.radius100p{border-radius:100%;-webkit-border-radius:100%;-o-border-radius:100%}
.radius2{border-radius:2px;-webkit-border-radius:2px;-o-border-radius:2px}
.radius3{border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px}
.radius5{border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px}
.tradius3{border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-o-border-radius:3px 3px 0 0}
.tradius5{border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0}
.bradius3{border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;-o-border-radius:0 0 3px 3px}
.bradius5{border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;-o-border-radius:0 0 5px 5px}
/*****************************CommonPage*****************************/
.Main1024Object{position:absolute;right:0;top:0}
.SubGeneralNavigation{height:30px}
.DateTimeBox{top:2px}
.DateTimeBox,.LoginLink{color:#808080}
.LoginLink{top:4px}
.midllepanel{width:100%}
.LoadingBox,.TransOverImage{background:rgb(0,0,0);background:transparent\9;background:rgba(0,0,0,0.8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000)}
.PngPack,.HLinkIcon.before:before,.OneTilesBox .TitleTilesBox.before:before,.StatisticsBox.before:before,.GearIcon.before:before{background-image:url(http://img1.tebyan.net/ts/1024/TebyanMainPage/PngPack.png?seed=1);background-repeat:no-repeat}
.HLinkIcon.before:before{width:40px;height:32px;top:0}
.TitleLinkIcon{min-width:41px;height:32px;color:#414141}
.GeneralLinks .PngPack{width:28px;height:28px}
.PersonIcon{background-position:0 -382px}
.WorldIcon{background-position:0 -420px}
.TilesIcon{background-position:0 -458px}
.SocialNetworkIcon.before:before{background-position:0 -831px}
.MobileIcon.before:before{background-position:8px -1801px}
.SMSIcon.before:before{background-position:0 -790px}
.BookIcon.before:before{background-position:0 -748px}
.DownloadIcon.before:before{background-position:0 -707px}
.WeblogIcon.before:before{background-position:0 -663px}
.CameraIcon.before:before{background-position:0 -623px}
.MelodyIcon.before:before{background-position:0 -578px}
.AxamIcon.before:before{background-position:0 -538px}
.ImageGalleryIcon.before:before{background-position:13px -1325px}
.EarthIcon.before:before{background-position:0 -340px}
.ConsultationIcon.before:before{background-position:0 -495px}
.MarriageIcon.before:before{background-position:9px -1491px}
.AfghanistanIcon.before:before{background-position:9px -1765px}
.IcncIcon.before:before{background-position:9px -1840px}
.MyFilmIcon.before:before{background-position:0 -1699px}
.MyTebyanIcon.before:before{background-position:0 -1733px}
.MyFileIcon.before:before{background-position:0 -1560px}
.MyLibraryIcon.before:before{background-position:0 -1662px}
.MysmsIcon.before:before{background-position:0 -1630px}
.MyWeblogIcon.before:before{background-position:0 -1593px}
.GearIcon.before:before{width:20px;height:20px;background-position:2px -1531px}
.MenuTextLink{width:24px;height:24px}
.MenuTextLink{background-position:0 -1119px;top:-5px}
.ActiveMinMenu.MenuTextLink{background-position:0 -1150px}
.MultimediaIcon{width:25px;height:15px}
.VideoIcon{background-position:0 -1388px}
.SoundIcon{background-position:0 -1413px}
.CatSoundIcon{background-position:0 -1438px}
.StatisticsBox.before:before{width:16px;height:16px;background-position:8px -1455px}
.FilmRowData .VideoIcon,.SoundRowData .SoundIcon,.SoundRowData .CatSoundIcon{bottom:10px}
.ErrorMessage{color:#ED101B}
.SuccessMessage{color:#60D402}
a:hover,h2:focus,.GeneralFooter .TitleTextLink:hover,.SubCategory .TitleTextLink:hover{color:#215ea5}
.IntraGeneralSearch,.IconsNavigation,.TextNavigation{border-color:#e6e6e6}
a.RedOver:hover{color:#ff0000}
.GeneralNavigation .owl-stage-outer{margin:0 30px;overflow:visible}
@keyframes shake{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg)}
to{-webkit-transform:rotate(20deg);-moz-transform:rotate(20deg)}
}
@-moz-keyframes shake{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg)}
to{-webkit-transform:rotate(20deg);-moz-transform:rotate(20deg)}
}
@-webkit-keyframes shake{from{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg)}
to{-webkit-transform:rotate(20deg);-moz-transform:rotate(20deg)}
}
/**/.GeneralContent{padding:5px;min-height:720px}
.GeneralLinks{top:26px}
.GeneralHeader{border-color:#e6e6e6;border-width:0 0 1px;position:relative;z-index:2;background-color:#FFF}
.GeneralNavigation{margin-top:80px}
.SearchAndLogo{min-height:80px;border-width:5px 0 0;border-color:#0095ae;z-index:100000}
.GeneralLogo img{top:50%;margin-top:-34px}
.MovedHeaderLogo{box-shadow:0 .32rem .32rem 0 rgba(0,0,0,.15)}
.LinkIcon,.MenuIcon{margin-top:4px}
.HTextLink.before:before{content:'.';color:#FFF;top:0}
.HTextLink:first-child.before:before,.HideInPreviwBox{display:none}
.TextNavigation a.TitleTextLink:hover{color:#000}
.GeneralSearch{width:412px;height:34px;top:20px}
.GeneralSearch.after:after{height:20px;right:0;left:0;bottom:-21px;background:url(http://img1.tebyan.net/ts/1024/TebyanMainPage/GeneralSearch.png) no-repeat center top}
.BtnSearching{width:46px;background-color:#f9a51e;background-position:11px -1017px}
.IconsNavigation,.TextNavigation{border-width:1px 0 0 0}
.IconsNavigation{height:37px}
.IconsNavigation,.TextNavigation{padding:0 5px}
.TextNavigation{height:38px;background:#0093ad}
.TextNavigation.before:before,.TextNavigation.after:after{height:1px;background:#FFF;right:0;left:0}
.TextNavigation.before:before{top:0}
.TextNavigation.after:after{bottom:0}
.SubMainNav{width:450px;background:#FFF;top:100%;z-index:1000;border-width:2px 0 0 0;border-color:#CCC}
.DataIntraSubNav{padding:10px}
.FooterIntraSubNav{padding:10px}
.TabSheet.DataIntraSubNav{padding:0}
.IntraSubNav .HeaderTab{margin:10px 10px 0}
.TabSheet .SeparatorRow{padding:0 10px}
.FooterIntraSubNav{border-width:1px 0 0 0;border-color:#EEE}
.HLinkIcon[typenav=socialnetworknav] .IntraSubNav{background:#3967A6}
.HLinkIcon[typenav=socialnetworknav] .SubMainNav{border-color:#3967A6}
.HLinkIcon[typenav=smsnav] .IntraSubNav{background:#79438A}
.HLinkIcon[typenav=smsnav] .SubMainNav{border-color:#79438A}
.HLinkIcon[typenav=librarynav] .IntraSubNav{background:#12AA9E}
.HLinkIcon[typenav=librarynav] .SubMainNav{border-color:#12AA9E}
.HLinkIcon[typenav=downloadnav] .IntraSubNav{background:#F38B11}
.HLinkIcon[typenav=downloadnav] .SubMainNav{border-color:#F38B11}
.HLinkIcon[typenav=weblognav] .IntraSubNav{background:#043D91}
.HLinkIcon[typenav=weblognav] .SubMainNav{border-color:#043D91}
.HLinkIcon[typenav=filmnav] .IntraSubNav{background:#F2737A}
.HLinkIcon[typenav=filmnav] .SubMainNav{border-color:#F2737A}
.HLinkIcon[typenav=soundnav] .IntraSubNav{background:#80A400}
.HLinkIcon[typenav=soundnav] .SubMainNav{border-color:#80A400}
.HLinkIcon[typenav=imagenav] .IntraSubNav{background:#A90051}
.HLinkIcon[typenav=imagenav] .SubMainNav{border-color:#A90051}
.HLinkIcon[typenav=consultationnav] .IntraSubNav{background:#148782}
.HLinkIcon[typenav=consultationnav] .SubMainNav{border-color:#148782}
.HLinkIcon[typenav=consultationnav] .SeparatorRow{padding:0 10px 0;margin-bottom:0}
.TilesImage a{margin:10px 5px 0}
.TilesImage img:hover{box-shadow:0 0 0.5em 0 #FFF}
.BtnFooterISN{padding:5px 20px}
.BtnDataIntraSubNav{width:125px;height:37px;padding:10px}
.BtnDataIntraSubNav{margin:0 5px 5px 0}
.BtnDataIntraSubNav:hover{box-shadow:0 0 0.3em 0 #000 inset}
.BtnFooterISN:hover{background:#F3AD63;color:#FFF}
.BTitleIntraSubNav,.TitleThumbRow{font-size:12pt}
.STitleIntraSubNav,.SummaryThumbRow{font-size:10pt}
.STitleIntraSubNav{margin-top:5px}
.TitleThumbRow,.SummaryThumbRow{height:25px;line-height:2}
.SeparatorRow{margin-bottom:10px}
.ImageThumbRow{border-color:transparent}
.SeparatorRow:hover .ImageThumbRow{background:#FFF}
.TitleThumbRow:hover{color:#000}
.CloseSubMainNav{width:20px;height:20px;border-radius:20px;line-height:1.6;border-color:#ED101B;color:#ED101B;top:10px}
.Charging .TitleInputData{width:100px}
.HLinkIcon .HeaderTab{border-width:0 0 2px 0;border-color:#4690ED;margin-bottom:10px}
.HLinkIcon .TitleTS{background:#FFF;padding:2px 20px}
.HLinkIcon .ActiveTS{background:#4690ED;color:#FFF}
.MainPageLink,.MainPageLink .Pin{color:#8FDEFA}
.HLinkIcon[typenav=downloadnav] .MainPageLink,.HLinkIcon[typenav=downloadnav] .MainPageLink .Pin{color:#002390}
.MainPageLink:hover,.MainPageLink:hover .Pin,.HLinkIcon[typenav=downloadnav] .MainPageLink:hover,.HLinkIcon[typenav=downloadnav] .MainPageLink:hover .Pin{color:#000}
.MainPageLink .Pin{font-size:14pt}
.Sendsms input,.Sendsms textarea{padding:0 5px}
.js_MainNav:hover .SubMainNav{display:block}
.ModalFrame{z-index:100000}
.ModalBox{border-color:#CCC;box-shadow:0 2px 10px #CCC;left:0;top:0;width:300px;padding:10px}
.ModalBox.after:after,.ModalBox.before:before{border-width:7px;border-style:solid;left:50%;margin-left:-3.5px}
.ModalBox.after:after{border-color:transparent transparent #CCC transparent;top:-14px}
.ModalBox.before:before{border-color:transparent transparent #FFF transparent;top:-12px;z-index:1}
.ItemModals{width:33%;height:80px;border-color:transparent;padding:5px;margin-bottom:10px}
.ItemModals:hover{border-color:#E1E1E1}
.ItemModals .HLinkIcon.before:before{top:13px;left:50%;margin-left:-13px;width:32px;height:32px}
.ItemModals a{line-height:8}
.LoginBox{width:165px;min-height:26px}
.LoginedPersonImage{border-radius:28px}
.NamePersonLogin,.LoginLink{width:125px;height:20px}
.TextMessageLogin,.LogoutLink{color:#f7863a}
.TextMessageLogin{margin-left:2px}
.LogoutLink{margin-right:2px}
.GeneralFooter{margin-top:20px}
.GeneralFooter .TextLink{width:400px;left:50%;margin-left:-200px;top:20px}
.TopFooter{min-height:170px;background-color:#333;border-width:6px 0 0 0;border-color:#0093AD}
.BottomFooter{min-height:28px;background-color:#1a1a1a;border-width:1px 0 0 0;border-color:#464646;padding:10px}
.FooterRightLogo{top:-16px}
.LoadingBox{top:0;right:0;left:0;bottom:0;z-index:100000}
.RowData .LoadingBox{z-index:10000}
.LoadingBox .spinner:after, .LoadingBox .spinner:before{content:'';position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;width:30px;height:30px;border:5px solid transparent;border-bottom:5px solid #fff;border-radius:100%;-webkit-animation:rotate 1s linear infinite;animation:rotate 1s linear infinite;}
.LoadingBox .spinner:before{width:40px;height:40px;-webkit-animation-direction:reverse;animation-direction:reverse;}
.StatisticsBox.before:before{width:32px;height:32px;background-color:#4e4e4e;top:50%;margin-top:-16px;right:-5px;border-radius:100%}
.StatisticsBox{background:#535353;height:22px;line-height:1.2;right:125px;left:197px;top:82px;z-index:1;padding-right:35px}
.TitleStatisticsBox,.ValueStatisticsBox{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.TitleStatisticsBox{width:15%}
.ValueStatisticsBox{width:35%}
.ValueStatisticsBox{letter-spacing:2px;direction:ltr;padding-left:15px}
.GeneralSection{display:block!important}
@-webkit-keyframes rotate{from{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
to{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes rotate{from{-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
to{-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@media only screen and (min-width:1060px){.GeneralContent .MaxMenu{display:block!important}}
@media only screen and (max-width:1060px){
.GeneralContent .MaxMenu{min-width:120px;display:none;position:absolute;top:32px;z-index:3;padding:0 10px}
.GeneralContent .TextNavigation .MaxMenu{background:#0093AD;top:36px}
.GeneralContent .RowsDataBox .MaxMenu{background:#F5F4F2;top:33px}
.GeneralContent .MinMenu{display:block}
.GeneralContent .RowsDataBox .MaxMenu .HTextLink{display:block;clear:both}
.GeneralContent .RowsDataBox .MaxMenu .HTextLink:before{display:none}
.GeneralContent .RowsDataBox .MaxMenu .TitleTextLink{line-height:2}
.GeneralContent .SubMainNav{top:-2px}
.GeneralContent .MaxMenu > h2{width:100%}
.GeneralContent .MaxMenu > h2:hover,.GeneralContent .SubMainNav{background:#F4EFEF}
}
@media only screen and (max-width:1060px){.StatisticsBox{right:88px;left:167px}}
@media only screen and (max-width:990px){.GeneralLogo img{width:180px;margin-top:-20px}}
@media only screen and (max-width:960px){
.GeneralSearch{width:321px}
.FooterRightLogo,.FooterLeftLogo{display:none}
.StatisticsBox{top:0;right:auto;left:auto;position:relative;margin-top:10px;margin-bottom:15px}
.TopFooter{min-height:initial;padding:0 20px}
.GeneralFooter .TextLink{width:auto;position:static;margin:0 auto}
}
@media only screen and (max-width:840px){.GeneralSearch{width:221px}}
@media only screen and (max-width:790px){
.GeneralSearch{width:96%;clear:both}
.GeneralLogo img,.GeneralLinks{position:static}
.GeneralLinks{margin-top:26px}
.GeneralSearch{top:10px}
.GeneralNavigation{margin-top:130px}
.SearchAndLogo{min-height:130px}
}
@media only screen and (max-width:740px){
.StatisticsBox{width:100%;height:auto;display:table}
.TitleStatisticsBox,.ValueStatisticsBox{float:right;margin-top:5px;margin-bottom:5px}
.TitleStatisticsBox{min-width:70px;clear:right;margin-right:20px;margin-left:10px}
.TitleStatisticsBox,.ValueStatisticsBox{width:auto}
.StatisticsBox.before::before{right:10px}
.DateTimeBox{display:none!important}
}
@media only screen and (max-width:640px){.FooterRightLogo{width:150px}
.FooterLeftLogo{width:168px}
}
@media only screen and (max-width:560px){.FooterRightLogo{margin-left:5px}
.FooterLeftLogo{right:5px}
}
@media only screen and (max-width:525px){.FooterRightLogo{width:90px}
.FooterLeftLogo{width:108px}
.TitleStatisticsBox,.ValueStatisticsBox{width:40%}
}
@media only screen and (max-width:500px){.GeneralLogo img{width:130px;margin-top:17px}}
@media only screen and (max-width:490px){.MaxMenu .SubMainNav{width:auto;position:fixed;top:130px;right:0;left:0;bottom:0}
.IntraSubNav{padding-top:50px}
.CloseSubMainNav{display:block}
}
@media only screen and (max-width:460px) {.DateTimeBox{display:none}}
@media only screen and (max-width:430px){.ModalFrame{position:initial}
.ModalBox{width:auto!important;top:0!important;right:0;left:0!important;bottom:0;position:fixed;z-index:1}
.ModalBox.after:after,.ModalBox.before:before{display:none}
.CloseModal{display:block}
.GeneralSearch{top:15px}
.SearchAndLogo{min-height:110px}
.GeneralNavigation{margin-top:110px}
.GeneralLogo{display:block;width:51px;overflow:hidden;position:relative;top:10px}
.GeneralLogo img{display:table;max-width:none}
.LoginBox{width:auto}
}

@media only screen and (max-width:390px){
.MainImageIntraSubNav{width:96%}
.TitleStatisticsBox,.ValueStatisticsBox{width:80%;margin-right:20px}
}
/*****************************MainPage*****************************/
/*Animate*/
.OneTilesBox figure img,.MultiTilesBox figure img{transition:all 400ms ease-in-out!important}
.OneTilesBox figure:hover img,.MultiTilesBox figure:hover img  {
	opacity: 0.6;
    transform: scale(1.2) rotate(-0.05deg);
}
.OneTilesBox figure,.MultiTilesBox figure{
    position:relative;
    overflow:hidden;
}
.MultiTilesBox figure{
    display:inline-block!important
}
.OneTilesBox figure,.FilmRowData .MultiTilesBox figure{
    display:block!important
}
.MultiTilesBox figure:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(3,1.5,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(3,1.5,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    z-index:1
}
.MultiTilesBox figure:hover:before {
	-webkit-transform: scale3d(3,1.5,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(3,1.5,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}


.OneTilesBox  figure:after {
    content:'';
    position:absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	width: 0;
	height: 0;
	background: rgba(0, 0, 0, .2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}

.OneTilesBox  figure:hover:after {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
/**/
.NewsOlympicBox,.VideoOlympicBox,.NewsMoharamBox,.VideoMoharamBox,.BigSimbol,.FigureBackgroundMoharam{top:50%;transform:translateY(-50%)}
/*OlympicBox*/
.NewsOlympicBox .TileBullet,.LinkNewsOlympic{color:#393939}
.OlympicRowData{background:url(http://img1.tebyan.net/TS/1024/TebyanMainPage/Olympic/Olympic2016.jpg) no-repeat center center #FED201;background-size:contain;height:200px;overflow:hidden;position:relative}
.OlympicRowBox{display:none}
.NewsOlympicBox{width:245px;right:calc(46% - 255px);padding:0 5px 5px;
background:rgb(255,255,255);
background: transparent\9;
background:rgba(255,255,255,0.3);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cFFFFFF,endColorstr=#4cFFFFFF);}
.TitleNewsOlympic{border-width:0 0 3px 0;border-color:#c93c00;color:#c93c00;font-size:15pt}
.TileBullet{width:100%;background:url(http://img1.tebyan.net/TS/1024/TebyanMainPage/Olympic/Bullet.png) no-repeat right 8px;margin-top:5px;padding-right:15px}
.LinkVideoOympic{width:146px;padding:4px;background-color:#FFF;margin-right:15px}
.LinkVideoOympic:first-child{margin-right:0}
.VideoOlympicBox{width:307px;height:134px;left:calc(37.5% - 307px)}
.FigureVideoOympic.after:after{width:47px;height:47px;background:url(http://img1.tebyan.net/TS/1024/TebyanMainPage/Olympic/Play.png?a=1) no-repeat;background-size:cover;left:50%;top:50%;transform:translateX(-50%) translateY(-50%);transition:all 400ms ease-in-out}
.LinkVideoOympic:hover .FigureVideoOympic.after:after{width:37px;height:37px}
.MoreVideoOympic{margin-top:-5px;font-size:13pt}
.SpecialRio{width:calc(16% - 20px);top:0;bottom:0;right:calc(3% - 20px);display:block;color:transparent;font-size:13pt}
a.SpecialRio:hover{color:transparent}
/*Moharam*/
.FixBackgroundBox{background-size:cover;background-position:center center;background-repeat:no-repeat}
.MoharamRowData{height:220px;background-color:#A00000}
.LinkNewsMoharam{color:#FFF}
.TitleVideoMoharam{color:#393939}
/*.js_UserView .MoharamRowData{display:none}*/
.NewsMoharamBox{width:245px;right:calc(26% - 255px);padding:0 5px 5px;
background:rgb(0,0,0);
background: transparent\9;
background:rgba(0,0,0,0.5);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000)
}
.TitleNewsMoharam{border-width:0 0 3px 0;border-color:#FFF;color:#FFF;font-size:15pt}
.VideoMoharamBox{width:307px;height:134px;left:calc(53.5% - 307px)}
.MoreVideoMoharam{margin-top:-5px;font-size:13pt;color:#FFF}
.BigSimbol{width:calc(25% - 20px);height:100%;left:0;display:block;background:url(http://img1.tebyan.net/TS/1024/TebyanMainPage/Moharam/SlimMoharam.png) no-repeat 50% 50% / 100%;z-index:1;color:transparent!important}
a.LinkNewsMoharam:hover,a.MoreVideoMoharam:hover{color:#04E5F5}
/*TileGallery*/
.ug-gallery-wrapper .ug-textpanel-title{text-align:right}
/*NewsImage*/
.LinkTypeMedia{height:20px;bottom:5px;right:10px}
.IconLTM{width:22px;height:18px;background-image:url(http://img1.tebyan.net/ts/1024/TebyanMainPage/LinkTypeMedia.png);background-repeat:no-repeat;float:right;margin-left:5px}
.VideoMedia{background-position:0 -33px}
.SoundMedia{background-position:0 0}
.ImageMedia{background-position:0 -66px}
.RavayatMedia{background-position:0 -99px}
.BookMedia{background-position:0 -132px}
/**/

.SoundRowData .ContentRowData,.RowsDataBox,.SoundRowData .DataTilesBox{display:block}
.BoxSlider .fr.CoverTileImage,.BoxSlider .MultiNarrowRowBox,.BoxSlider .fl.BannerTilesBox{width:100%}
.SoundRowData .DataTilesBox{width:auto}
.SoundRowData .owl-nav > div{width:32px;height:32px;top:50%;transform:translateY(-50%);background-repeat:no-repeat;background-position:center center;border-radius:32px;display:none!important}
.SoundRowData .owl-prev{left:-2px;background-image:url(/JS/TS/1024/TebyanMainPage/slider/!back.png)}
.SoundRowData .owl-next{right:-5px;background-image:url(/JS/TS/1024/TebyanMainPage/slider/!next.png)}

.LinkItemSlider{display:block;position:relative}
.MinSquare{width:6px;height:6px;border-color:#FFF}
.MinSquareTR{transform:translate(-3px,3px)}
.MinSquareBR{transform:translate(-3px,11px)}
.MinSquareTL{transform:translate(-11px,3px)}
.MinSquareBL{transform:translate(-11px,11px)}
.MainLinkToolsRow:hover .MinSquareTR{transform:translate(-11px,11px) rotate(90deg)}
.MainLinkToolsRow:hover .MinSquareBR{transform:translate(-11px,3px) rotate(90deg)}
.MainLinkToolsRow:hover .MinSquareTL{transform:translate(-3px,11px) rotate(90deg)}
.MainLinkToolsRow:hover .MinSquareBL{transform:translate(-3px,3px) rotate(90deg)}
.ToolsRowDataIcon.GearIcon.before:hover:before{transform:rotate(180deg)}
.ToolsRowDataIcon.GearIcon.before:before{top:50%;left:50%;margin-top:-10px;margin-left:-10px}
.theiaStickySidebar{text-align:center}
.Charging .sbOptions{max-height:74px!important}
.ui-button-text{font-size:9pt}
.SliderBox{width:586px;height:322px}
.ItemThumbnailBox{width:49%;height:98px;overflow:hidden;margin-top:15px}
.ItemThumbnailBox:first-child,.ItemThumbnailBox:first-child+.ItemThumbnailBox{margin-top:0}
.DetailsThumbnail{height:72px}
.LinkOneTilesBox{overflow:hidden}
.LinkOneTilesBox img{width:100%;height:auto;max-height:276px}
.LinkDetailsThumb a,.LinkDetailsThumb,.MultiTilesBox .TitleTilesBox,.OneTilesBox .TitleTilesBox,.LinkTitleTilesBox,.ContunuDetailsThumb,a.ContunuDetailsThumb{color:#5C8202}
.FilmRowData .TransOverImage{right:2px;left:2px}
.FilmRowData .RightColumnRightTiles .TransOverImage{right:0;left:0}
.SoundRowData .TransOverImage{right:8px;left:8px}
.TransOverImage:hover{color:#FFA601}
.LinkOneTilesBox:hover .TransOverImage,.LinkMultiTilesBox:hover .TransOverImage,.FilmRowData .TransOverImage,.SoundRowData .TransOverImage{bottom:-35px}
.FilmRowData .LinkOneTilesBox:hover .TransOverImage,.SoundRowData .LinkMultiTilesBox:hover .TransOverImage{bottom:0}
.FilmRowData .LinkMultiTilesBox:hover .TransOverImage,.SoundRowData .LinkMultiTilesBox:hover .TransOverImage{bottom:2px}
figure:hover .MultimediaIcon{opacity:0;visibility:hidden;overflow:hidden}
.MultiTilesBox .LinkTitleTilesBox,.MultiTilesBox .TitleTilesBox{height:41px;line-height:1.3}
.LinkDetailsThumb a{height:22px;line-height:1.1}
.MultiTilesBox .SummaryTilesBox{max-height:74px;line-height:1.3;text-align:justify}
.SummaryDetailsThumb{max-height:40px;line-height:1.1}
.SummaryTilesBox.mt5{margin-top:2px}
.LinkDetailsThumb a:hover,.LinkDetailsThumb:hover,.MultiTilesBox .TitleTilesBox:hover,.OneTilesBox .TitleTilesBox:hover,.LinkTitleTilesBox:hover,.ContunuDetailsThumb:hover,a.ContunuDetailsThumb:hover{color:#215ea5}
.StatisticDetailsThumb{background-color:#ebebeb;padding:5px;display:none}
.ContunuDetailsThumb{border-bottom:1px solid #ededed;line-height:1;padding-bottom:3px}
.SummaryDetailsThumb{color:#464646}
.StatisticDetailsThumb span{color:#848484}
.ContentRowData{min-height:293px}
.DataTilesBox{min-height:370px}
.TileGallery.DataTilesBox{min-height:315px}
.OneTilesBox,.MultiTilesBox,.IntraItemDataTilesBox{min-height:375px}
.FilmRowData .MultiTilesBox,.FilmRowData .IntraItemDataTilesBox{min-height:initial}
.NewsRow .DataTilesBox{min-height:322px}
.ContentRowData{margin-top:5px}
.MultiTilesBox .LinkImageThumbnail img,.MultiTilesBox .ImageMultiTilesBox{width:100px;height:75px;text-align:center}
.LibraryRowData .CoverTileImage .ImageMultiTilesBox{width:139px;height:174px}
.CoverTileImage .FigureMultiTilesBox{margin:7px 0 0}
.CoverTileImage .LinkMultiTilesBox,.SoundRowData .BannerTilesBox .LinkMultiTilesBox{width:100%;padding:0 5px}
.CoverTileImage .ImageMultiTilesBox,.SoundRowData .BannerTilesBox .ImageMultiTilesBox{border:1px solid #CCC;padding:2px;background-color:#FFF}
.CoverTileImage .ImageMultiTilesBox:hover,.BannerTilesBox .ImageMultiTilesBox:hover{box-shadow:0 0 0.5em 0 #999}
.ui-effects-wrapper{position:fixed!important;left:auto!important;right:auto!important;top:auto!important}
.RowData:not(.LibraryRowData) .FigureMultiTilesBox,.LinkImageThumbnail figure{border:1px solid #CCC;padding:2px;background:#FFF}
.SoundRowData .CoverTileImage .FigureMultiTilesBox,.SoundRowData .BannerTilesBox .FigureMultiTilesBox{border:0;padding:0}
.RowData:not(.LibraryRowData) .FigureMultiTilesBox:hover,.LinkImageThumbnail figure:hover,.BannerBox .FigureBannerBox:hover{box-shadow:0 0 0.5em 0 #999}
.SoundRowData .CoverTileImage .FigureMultiTilesBox:hover,.SoundRowData .BannerTilesBox .FigureMultiTilesBox:hover{box-shadow:none}
.SoundRowData .TwoRowTinyBanner .FigureMultiTilesBox{width:50%}
.SoundRowData .BannerTilesBox .FigureMultiTilesBox{margin:7px 0 0 0}
.RowData{border-width:2px 0 0 0;margin-top:15px}
.RowData:first-child{margin-top:5px}
.DarkGreenRow{border-color:#168086}
.DarkRedRow{border-color:#5a0723}
.VioletRow{border-color:#3b1f65}
.LightGreenRow{border-color:#5e8f2c}
.DarkBlueRow{border-color:#1950a7}
.LightRedRow{border-color:#b50e0e}
.DarkGreenRow a.SelectedTextLink,.DarkGreenRow span.SelectedTextLink{color:#168086}
.DarkRedRow a.SelectedTextLink,.DarkRedRow span.SelectedTextLink{color:#5a0723}
.VioletRow a.SelectedTextLink,.VioletRow span.SelectedTextLink{color:#3b1f65}
.LightGreenRow a.SelectedTextLink,.LightGreenRow span.SelectedTextLink{color:#5e8f2c}
.DarkBlueRow a.SelectedTextLink,.DarkBlueRow span.SelectedTextLink{color:#1950a7}
.LightRedRow a.SelectedTextLink,.LightRedRow span.SelectedTextLink{color:#b50e0e}
.HeaderRowData{height:33px;line-height:0.5;background-color:#f5f4f2;margin-top:5px;padding:10px;z-index:1}
.SubCategory .TitleTextLink,.SubCategory .HTextLink.before:before{color:#4f4f4f}
.SubCategory .TitleTextLink{margin:0 10px}
.SubCategory .HTextLink.before:before{right:-3px}
.MainCategory.after:after,.MainCategory.before:before{border-style:solid;top:50%}
.MainCategory.after:after{border-width:6px;margin-top:-5px}
.MainCategory.before:before{border-width:5px;margin-top:-4px;z-index:1}
.DarkGreenRow .LinkMainCategory{color:#168086}
.DarkRedRow .LinkMainCategory{color:#5a0723}
.VioletRow .LinkMainCategory{color:#3b1f65}
.LightGreenRow .LinkMainCategory{color:#5e8f2c}
.DarkBlueRow .LinkMainCategory{color:#1950a7}
.LightRedRow .LinkMainCategory{color:#b50e0e}
.EditToolsRow{z-index:1}
.ToolsRowDataBox{width:14em;box-shadow:0 0.5em 1em rgba(50, 50, 50, 0.35);padding:50px 10px 20px;top:-15px}
.ToolsRowDataIcon{width:20px;height:20px;top:-4px}
.DarkGreenRow .ToolsRowDataIcon{background-color:#1950a7}
.DarkGreenRow .ToolsRowDataIcon{background-color:#168086}
.DarkRedRow .ToolsRowDataIcon{background-color:#5a0723}
.LightRedRow .ToolsRowDataIcon{background-color:#b50e0e}
.VioletRow .ToolsRowDataIcon{background-color:#3b1f65}
.LightGreenRow .ToolsRowDataIcon{background-color:#5e8f2c}
.DarkBlueRow .ToolsRowDataIcon{background-color:#1950a7}
.ToolsRowDataBox .ToolRowData.before:before{width:20px;height:20px;border-radius:20px;background-color:#000;top:50%;margin-top:-10px;right:0}
.ToolsRowDataBox .ToolRowData{padding-right:25px;margin-top:12px}
.ToolsRowDataBox .ToolRowData:first-child{margin-top:0}
.ToolsRowDataBox .ToolRowData.after:after{color:#FFF;font-weight:bold}
.ToggleRowData.after:after{content:'✕';top:2.6px;right:5px;font-size:10pt}
.MoveDownRow.after:after{content:'⋎';top:1px;right:4px;font-size:12pt}
.MoveUpRow.after:after{content:'⋏';top:0;right:4px;font-size:12pt}
.MaxToggle.after:after{content:'□';top:-4px;right:4px;font-size:14pt}
.FirstRowData .MoveUpRow,.LastRowData .MoveDownRow{display:none}
.SearchingBox{margin:10px 8px 0}
.ItemSearchingBox.SearchInputSDB{color:#9a9a9a}
.ItemSearchingBox.SearchInputSDB.DeactiveDefault{color:#000}
.ItemSearchingBox{margin-top:12.5px}
.ItemSearchingBox:first-child{margin-top:4px}
.ItemSearchingBox{height:46px;padding:10px;border-color:#CCC}
.SearchSelectSDB{background:#fafaf9 url("http://static-hp-eus.s-msn.com/sc/21/d329a3.png") no-repeat 15px center;-moz-appearance:none;-webkit-appearance:none}
.BtnSearchingBox{background:#a80505;font-size:15pt;line-height:1}
.BtnSearchingBox:hover{background-color:#3190A2;color:#FFF}
.SearchInputSDB:focus,.SearchSelectSDB:focus,.SearchInputSDB:hover,.SearchSelectSDB:hover{border-color:#0F82F3;background-color:#F5F4F2;box-shadow:0 0 0.3em 0 #0F82F3}
.ItemSlider img{width:100%}
.SliderBox .owl-dots{width:100%;height:45px;background:#000;padding:18px 20px;position:absolute;bottom:0}
.SliderBox .owl-dot{width:11px;height:11px;background-color:#FFF;float:left;margin-right:5px;z-index:1;position:relative}
.SliderBox .owl-dot.active{background-color:#ffa412}
.TitleSlider{bottom:-34px;right:10px;left:170px;height:25px;color:#FFF}
.SliderBox.owl-carousel .owl-stage-outer{height:100%}
.SliderBox.owl-carousel .owl-stage{z-index:1}
.BannerBox{width:190px;display:none}
.FigureBannerBox{margin-top:9px}
.FigureBannerBox:first-child{margin-top:0}
.fr.OneTilesBox{width:34%}
.fl.OneTilesBox,.MultiTilesBox{width:33%}
.FilmRowData .RightTiles{width:56%}
.FilmRowData .LeftTiles{width:44%}
.SoundRowData .CoverTileImage{width:27.5%}
.MultiNarrowRowBox{width:41.1%}
.SoundRowData .BannerTilesBox{width:31.33%}
.SoundRowData .CoverTileImage .FigureMultiTilesBox{width:49%}
.SoundRowData .CoverTileImage .ImageMultiTilesBox,.SoundRowData .BannerTilesBox .ImageMultiTilesBox{width:100%;height:174px}
.BorderBoxItem{width:99%;height:45px;line-height:3;border-width:1px 3px 1px 1px;border-color:#dfdfdd #b30c44 #dfdfdd #dfdfdd;padding:2px 10px 2px 5px;margin:7px auto 0}
.BorderBoxItem:hover{background-color:#F1F1ED}
.BorderBoxItem.after:after,.BorderBoxItem.before:before{border-style:solid;top:50%;transition:all 400ms ease-in-out}
.BorderBoxItem.after:after{border-width:10px;border-color:transparent transparent transparent #FFF;margin-top:-10px}
.BorderBoxItem.before:before{width:30px;height:30px;border-width:1px;border-color:#6490B1;margin-top:-15px;border-radius:100%;background:#6490B1}
.BorderBoxItem:hover.after:after{border-color:transparent transparent transparent #000}
.BorderBoxItem:hover .ImageBorderBoxItem{box-shadow:0 0 0.2em 0 #0092a9}
.LinkBorderBoxItem{line-height:2.5}
.SoundRowData .ImageBorderBoxItem{margin-top:1px;padding:1px;background-color:#FFF}
.ImageBorderBoxItem{border-color:#888}
.ItemDataTilesBox:first-child+.ItemDataTilesBox,.MultiNarrowRowBox.ItemDataTilesBox{padding:0 5px}
.ItemDataTilesBox:first-child+.BannerTilesBox.ItemDataTilesBox{padding:0}
.IntraItemDataTilesBox,.ContentLBWT,.EducationListBox .HLinkBWT{border-color:#dfdfdd}
.MultiTilesBox .IntraItemDataTilesBox{padding-right:5px;padding-left:5px}
.OneTilesBox .TitleTilesBox.before:before{width:22px;height:22px;top:0}
.RightTiles .FigureMultiTilesBox img{width:186px;height:103px}
.RightTiles .FigureMultiTilesBox{margin-left:0}
.RightColumnRightTiles{width:66%}
.LeftColumnRightTiles{width:33%}
.BottomRightTiles{margin-top:5px}
.BottomRightTiles .FigureMultiTilesBox{width:32.60%}
.BottomRightTiles .FigureMultiTilesBox img,.LeftColumnRightTiles .FigureMultiTilesBox img,.RightColumnRightTiles .FigureOneTilesBox img,.LeftTiles img.ImageMultiTilesBox{width:100%;height:auto}
.BottomRightTiles .FigureMultiTilesBox:first-child+.FigureMultiTilesBox{margin:0 1%}
.FilmRowData .LeftColumnRightTiles .FigureMultiTilesBox,.FilmRowData .TwoRowTinyBanner .FigureMultiTilesBox{margin-top:5px}
.FilmRowData .LeftColumnRightTiles .FigureMultiTilesBox:first-child,.FilmRowData .TwoRowTinyBanner .FigureMultiTilesBox:first-child{margin-top:0}
.LeftTiles .TwoRowTinyBanner{width:52%}
.LeftTiles .OneRowTinyBanner{width:48%;padding-right:5px}
.BtnUploadFilm{background:#CC0000;color:#FFF;height:37px;line-height:0.8;padding:5px;margin-top:4px;font-size:22pt}
.BtnUploadFilm:hover{color:#FFF;box-shadow:0 0 0.3em 0 #000 inset}
.SummaryTilesBox{color:#a3a3a3}
.OneTilesBox .SummaryTilesBox{max-height:62px;line-height:1.26}
.ItemMultiTilesBox{margin-top:5px;padding-top:12px;border-top:1px solid #eff1f0}
.ItemMultiTilesBox:first-child{padding-top:0;border-top:0}
.OneTilesBox .LinkTitleTilesBox,.OneTilesBox .TitleTilesBox{height:25px;line-height:1.2}
.TransOverImage{height:35px;padding:0 10px;line-height:2;color:#FFF}
.dialogNI{text-align:center}
.DialogBoxNI .ui-dialog{position:fixed !important;left:5px !important;bottom:5px !important;top:auto !important}
.BtnConfirmeNewsLetter,.BtnlstChanges.ui-button,.BtnDBNI.ui-button{width:85px;height:30px;margin:10px auto;display:table}
.DialogBoxNI .ui-dialog .ui-dialog-titlebar,.DialogBoxNI .ui-dialog .ui-dialog-content{padding:0}
.StateBox{width:18px;height:18px;line-height:18px;left:0.3em;margin:-10px 0 0;padding:1px;top:50%;border-radius:4px;cursor:pointer;position:absolute;text-align:center}
.StateBox:hover{border:1px solid #777;background:#CDCDCD}
#dialogNI .ui-button-text{text-align:center}
.MultiTilesBox .DetailsMultiTilesBox{min-height:105px}
.MessageCCommons{font-size:10pt}
.MessageLinkCCommons,.LinkCCommons{font-size:8pt;font-family:Arial}
.LinkCCommons{text-decoration:underline}
/*Dialog*/
.oddRowSection{background-color:#dfdfdd}
.AdminNameSection{width:30%;padding:0 5px}
.PartSection{width:40%}
.DateSection{width:30%}
/*Scroll*/
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight{display:none!important}
/*Hozeh*/
.HeaderLBWT{height:33px;margin-top:2px;padding:2px 10px}
.ContentLBWT{margin-top:3px}
.LinksBoxWithTitle:first-child .HeaderLBWT{margin-top:5px}
.BlueBack .HeaderLBWT{background-color:#3ebbcf}
.OrangeBack .HeaderLBWT{background-color:#ec9436}
.BasesBox .ContentLBWT,.CategoryBox .ContentLBWT{padding:5px  10px 5px 0}
.BasesBox .ContentLBWT{height:84px}
.CategoryBox .ContentLBWT{height:72px}
.BasesBox .HLinkBWT{width:73px;margin-top:6px}
.CategoryBox .HLinkBWT{width:120px;margin-top:3px}
.LinkBWT{height:25px;color:#5e5e5e;padding-right:10px}
.LinkBWT.before:before{width:5px;height:5px;top:12px;right:0}
.BlueBack .LinkBWT.before:before{background-color:#35a0b2}
.OrangeBack .LinkBWT.before:before{background-color:#b7b5b5}
.EducationListBox .HLinkBWT{height:28px;padding:0 10px;margin-top:2px}
.EducationListBox .HLinkBWT:first-child{margin-top:0}
.BasesBox figure,.CategoryBox figure,.EducationListBox figure,.LibraryRowData .DetailsOneTilesBox figure{display:none!important}
/*BannerRowBox*/
.BannerRowBox{margin-top:5px}
.CloseBannerRowBox{width:22px;height:22px;line-height:1.5;background:#FFF;border-color:#ff0000;color:#ff0000;left:10px;top:10px}
.CloseBannerRowBox:hover{color:#ff0000;box-shadow:0 0 0.5em 0 #000}
/*Eshop*/
.ShopRowData .LinkOneTilesBox img{max-height:249px}
.EshopPrice{min-height:19px;line-height:1.2;font-size:11pt;color:#4caf50;background-color:#709E27;color:#FFF;top:5px;margin-bottom:5px;clear:both}
.ShopRowData .MultiTilesBox .SummaryTilesBox{max-height:43px;line-height:1.26}


/**/
@media only screen and (max-width:1200px){
.CoverTileImage .FigureMultiTilesBox{width:50%}
}
@media only screen and (max-width:1160px){
.LibraryRowData .CoverTileImage .ImageMultiTilesBox{width:100%;height:auto}
.CoverTileImage .LinkMultiTilesBox{width:100%;padding:0 5px}
}
@media only screen and (max-width:1140px){
.SliderBox{width:500px;height:270px}
.ItemSlider img{height:224px}
.ImageThumbnail{width:86px;height:68px}
.FilmRowData .DataTilesBox,.FilmRowData .OneTilesBox,.FilmRowData .MultiTilesBox,.FilmRowData .IntraItemDataTilesBox{min-height:initial}
}
@media only screen and (max-width:1120px) {.BtnUploadFilm{height:auto}.NewsOlympicBox{right:calc(50% - 255px)}
.SoundRowData .DataTilesBox.owl-carousel{padding:0 30px}
.SoundRowData .owl-nav > div{display:block!important}
}
@media only screen and (max-width:1030px){
.SliderBox{width:450px}
.NewsMoharamBox{right:15px}
.VideoMoharamBox{left:calc(61.5% - 307px)}
}
@media only screen and (max-width:1020px){
.SoundRowData .CoverTileImage .FigureMultiTilesBox{width:25%}
.SoundRowData .owl-item .CoverTileImage .FigureMultiTilesBox{width:50%}
.SoundRowData .CoverTileImage,.SoundRowData .BannerTilesBox,.SoundRowData .MultiNarrowRowBox{width:100%}
.ItemDataTilesBox:first-child + .MultiNarrowRowBox.ItemDataTilesBox{padding:0}
.SoundRowData .IntraItemDataTilesBox{min-height:initial}
.SoundRowData .MultiNarrowRowBox{margin:5px 0}
.SoundRowData .owl-item .MultiNarrowRowBox{margin:0}
.SoundRowData .TwoRowTinyBanner,.SoundRowData .OneRowTinyBanner{width:50%}
.SoundRowData .owl-item .TwoRowTinyBanner,.SoundRowData .owl-item .OneRowTinyBanner{width:auto;float:none;margin:0 auto}
.SoundRowData .BannerTilesBox .OneRowTinyBanner .LinkMultiTilesBox{padding:0}
.BorderBoxItem{height:44.7px}
.SoundRowData .ImageBorderBoxItem{margin-top:1px}
.LinkBorderBoxItem{line-height:1.5}
.FilmRowData .RightTiles,.FilmRowData .LeftTiles{width:100%}
.FilmRowData .MultiTilesBox{margin-top:5px}
.FilmRowData .ItemDataTilesBox:first-child + .ItemDataTilesBox{padding:0}
}
@media only screen and (max-width:990px){
.SliderBox{width:100%}
.SliderBox,.ThumbnailBox{float:none}
.ThumbnailBox{width:100%}
.SliderBox{margin:0 auto 15px}
}
@media only screen and (max-width:920px) {
.MultiNarrowRowBox{width:35.1%}
}
@media only screen and (max-width:900px) {
.FilmRowData .MultiTilesBox{width:100%;margin-top:5px}
.VideoOlympicBox{left:calc(40.5% - 307px)}
}
@media only screen and (max-width:855px){
.fr.OneTilesBox{width:100%;float:none;margin-bottom:5px}
.MultiTilesBox,.fl.OneTilesBox{width:50%}
.fr.OneTilesBox,.fr.OneTilesBox .IntraItemDataTilesBox{min-height:initial}
.fr.OneTilesBox img{width:136px;height:auto}
.LibraryRowData .fr.OneTilesBox img{width:395px}
.LibraryRowData .OneTilesBox .FigureOneTilesBox{margin-left:0}
.LibraryRowData .IntraItemDataTilesBox>span{text-align:center;display:block}
.LibraryRowData .LinkOneTilesBox{display:inline-block}
.FigureOneTilesBox .EshopPrice{top:50%;margin-top:19px;right:10%;left:10%;
background-color:rgb(112, 158, 39);
background-color: transparent\9;
background-color:rgba(112, 158, 39,0.8);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8c709e27,endColorstr=#8c709e27);
}
}
@media only screen and (max-width:800px) {
.VideoOlympicBox{left:calc(47% - 307px)}
.BigSimbol{display:none}
.VideoMoharamBox{left:calc(52.5% - 307px)}
}
@media only screen and (max-width:775px) {
    .FilmRowData .VideoIcon{transform:scale(0.8);bottom:5px}
    .CoverTileImage .FigureMultiTilesBox{width:25%}
    .OlympicRowData{background:#FED200;padding:10px;height:auto}
    .NewsOlympicBox,.VideoOlympicBox{position:relative;width:48%;top:auto;transform:none}
    .NewsOlympicBox{right:auto}
    .OlympicRowData .VideoOlympicBox{left:auto;text-align:center}
    .LinkVideoOympic img{width:100%}
    .SpecialRio{width:auto;position:static;display:block;margin-bottom:10px;border-bottom:1px solid #c93c00;padding:5px;color:#000}
    a.SpecialRio:hover{color:#215ea5}
}
@media only screen and (max-width:760px){
.MultiTilesBox .DetailsMultiTilesBox{min-height:initial}
.OneTilesBox,.MultiTilesBox,.IntraItemDataTilesBox{min-height:initial}
.MultiTilesBox,.fl.OneTilesBox{width:100%}
.ItemDataTilesBox:first-child + .ItemDataTilesBox{margin-bottom:5px}
.DataTilesBox{width:100%;display:inline-block}.BannerBox{width:100%;position:static;margin-top:5px;text-align:center}.FigureBannerBox{display:inline-block;margin:0 2px 0}.RowData{margin-top:5px}
.BasesBox .HLinkBWT{width:141px}
.ug-icon-link{display:block!important;opacity:1!important;filter:alpha(opacity=100)!important;
background:rgb(0,0,0);
background: transparent\9;
background:rgba(0,0,0,0.5);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000);
top:50%!important;margin-top:-18px!important;border-radius:3px
}
.ug-tile .ug-textpanel{bottom:-39px!important;opacity:0!important;filter:alpha(opacity=0)!important}
.MultiTilesBox .LinkTitleTilesBox,.LinkDetailsThumb a,.MultiTilesBox .TitleTilesBox,.DetailsThumbnail{height:auto}
.MultiTilesBox .LinkTitleTilesBox,.MultiTilesBox .TitleTilesBox{max-height:40px}
/*.BorderBoxItem{height:46px}*/
.LinkBorderBoxItem{line-height:2.5}
}
@media only screen and (max-width:700px){
.CoverTileImage .FigureMultiTilesBox{width:25%}
.LibraryRowData .CoverTileImage .ImageMultiTilesBox{width:100%;height:auto}
.CoverTileImage .LinkMultiTilesBox{width:100%}

}

@media only screen and (max-width:670px){span.MessageCCommons,span.MessageLinkCCommons{width:100%;float:none;margin-bottom:10px;text-align:center}span.MessageLinkCCommons{margin-bottom:0}
.VideoOlympicBox,.NewsOlympicBox{position:static;transform:none;margin:10px auto}
.MoreVideoOympic{margin:0 0 10px}
}
@media only screen and (max-width:620px){.FigureBannerBox:first-child+.FigureBannerBox+.FigureBannerBox{margin-top:5px}
.FixBackgroundBox{display:none}
.NewsMoharamBox,.VideoMoharamBox{position:static;top:inherit;transform:inherit;margin:0 auto}
.NewsMoharamBox{width:100%}
.VideoMoharamBox{margin-top:10px}
.MoharamRowData{height:auto;padding:10px}
}
@media only screen and (max-width:550px){.ItemThumbnailBox{width:100%;height:auto;margin-bottom:10px}
.VideoOlympicBox,.NewsOlympicBox{width:100%;float:none;height:auto}
.MoreVideoOympic{margin:0}
}
@media only screen and (max-width:480px){.fl.OneTilesBox img{width:136px;height:auto}
.CoverTileImage .FigureMultiTilesBox{width:50%}
.ToolsRowDataIcon{width:25px;height:25px;top:-6px}
.MinSquare{width:8px;height:8px}
.MinSquareTR{transform:translate(-3px,3px)}
.MinSquareBR{transform:translate(-3px,13px)}
.MinSquareTL{transform:translate(-13px,3px)}
.MinSquareBL{transform:translate(-13px,13px)}
.MainLinkToolsRow:hover .MinSquareTR{transform:translate(-13px,13px) rotate(90deg)}
.MainLinkToolsRow:hover .MinSquareBR{transform:translate(-13px,3px) rotate(90deg)}
.MainLinkToolsRow:hover .MinSquareTL{transform:translate(-3px,13px) rotate(90deg)}
.MainLinkToolsRow:hover .MinSquareBL{transform:translate(-3px,3px) rotate(90deg)}
.FilmRowData .LinkMultiTilesBox:hover .TransOverImage,.FilmRowData .LinkOneTilesBox:hover .TransOverImage,.SoundRowData .LinkMultiTilesBox:hover .TransOverImage{bottom:-35px}
}
@media only screen and (max-width:470px){
.TitleSlider{right:0;left:0;bottom:0;padding:0 10px 0 20px;
background:rgb(0,0,0);
background: transparent\9;
background:rgba(0,0,0,0.5);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000);text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.SoundRowData .CoverTileImage .FigureMultiTilesBox{width:50%}
.SoundRowData .CoverTileImage,.SoundRowData .BannerTilesBox,.MultiNarrowRowBox{width:100%}
.SoundRowData .TwoRowTinyBanner,.SoundRowData .OneRowTinyBanner{width:100%}
.ItemSlider img,.SliderBox{height:auto}
.SliderBox .owl-dots{display:none!important}
.LibraryRowData .fr.OneTilesBox img{width:100%}
}
@media only screen and (max-width:430px) {.FigureBannerBox{margin-top:5px}}
@media only screen and (max-width:360px) {}
