@import url(/t/1.css?apiType=css&projectid=e3b6f221-91c3-496d-85a5-e06a333f4d2d);
@font-face{
font-family:"Avenir Next W01_n7";
src:url("/dv2/2/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot");
}
@font-face{
font-family:"Avenir Next W01";
src:url("/dv2/2/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix");
src:url("/dv2/2/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot"),url("/dv2/14/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff2"),url("/dv2/3/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff"),url("/dv2/1/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("truetype"),url("/dv2/11/99affa9a-a5e9-4559-bd07-20cf0071852d.svg?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
font-weight:700;font-style:normal;
}
@font-face{
font-family:"Avenir W01_n5";
src:url("/dv2/2/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot");
}
@font-face{
font-family:"Avenir W01";
src:url("/dv2/2/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix");
src:url("/dv2/2/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot"),url("/dv2/14/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff2"),url("/dv2/3/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff"),url("/dv2/1/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("truetype"),url("/dv2/11/3604edbd-784e-4ca7-b978-18836469c62d.svg?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#3604edbd-784e-4ca7-b978-18836469c62d") format("svg");
font-weight:500;font-style:normal;
}
@font-face{
font-family:"Avenir W01_n8";
src:url("/dv2/2/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot");
}
@font-face{
font-family:"Avenir W01";
src:url("/dv2/2/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix");
src:url("/dv2/2/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot"),url("/dv2/14/d513e15e-8f35-4129-ad05-481815e52625.woff2?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff2"),url("/dv2/3/61bd362e-7162-46bd-b67e-28f366c4afbe.woff?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff"),url("/dv2/1/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("truetype"),url("/dv2/11/20577853-40a7-4ada-a3fb-dd6e9392f401.svg?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
font-weight:800;font-style:normal;
}
@font-face{
font-family:"Avenir W01_n9";
src:url("/dv2/2/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot");
}
@font-face{
font-family:"Avenir W01";
src:url("/dv2/2/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix");
src:url("/dv2/2/f55e4498-ad48-4577-93a0-c614de5cbbb8.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot"),url("/dv2/14/c78eb7af-a1c8-4892-974b-52379646fef4.woff2?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff2"),url("/dv2/3/75b36c58-2a02-4057-a537-09af0832ae46.woff?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff"),url("/dv2/1/b5c44a82-eeb8-41de-9c3f-a8db50b24b8a.ttf?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("truetype"),url("/dv2/11/93603a74-2be0-436c-83e1-68f9ef616eaf.svg?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#93603a74-2be0-436c-83e1-68f9ef616eaf") format("svg");
font-weight:900;font-style:normal;
}
@font-face{
font-family:"Chaparral W01_n2";
src:url("/dv2/2/cff5eded-4d36-4eb4-8cc4-3a52ac5503de.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot");
}
@font-face{
font-family:"Chaparral W01";
src:url("/dv2/2/cff5eded-4d36-4eb4-8cc4-3a52ac5503de.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix");
src:url("/dv2/2/cff5eded-4d36-4eb4-8cc4-3a52ac5503de.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot"),url("/dv2/14/598bd1b0-875a-41a3-8991-7e94c7187fcc.woff2?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff2"),url("/dv2/3/61e46292-8cb0-4f32-891b-77274dc1bc87.woff?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff"),url("/dv2/1/b833ed45-e1a0-43f2-8d76-30a4d01ff6f7.ttf?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("truetype"),url("/dv2/11/5d11a84f-30d9-4578-988d-bd8d5c396b5d.svg?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#5d11a84f-30d9-4578-988d-bd8d5c396b5d") format("svg");
font-weight:200;font-style:normal;
}
@font-face{
font-family:"Chaparral W01_n4";
src:url("/dv2/2/f8e524a2-7c8a-45cd-a96f-d025b3d36c6f.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot");
}
@font-face{
font-family:"Chaparral W01";
src:url("/dv2/2/f8e524a2-7c8a-45cd-a96f-d025b3d36c6f.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix");
src:url("/dv2/2/f8e524a2-7c8a-45cd-a96f-d025b3d36c6f.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot"),url("/dv2/14/ab7d642d-1d27-4e76-890d-c7e3934971ab.woff2?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff2"),url("/dv2/3/dc5612da-e3d5-4147-a72c-34fe4ff936b1.woff?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff"),url("/dv2/1/67ef1020-e3c7-4c21-a853-130961370f48.ttf?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("truetype"),url("/dv2/11/9d2bab39-1cc0-4fe8-85c1-fb8c533b04e2.svg?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#9d2bab39-1cc0-4fe8-85c1-fb8c533b04e2") format("svg");
font-weight:400;font-style:normal;
}
@font-face{
font-family:"Chaparral W01_i4";
src:url("/dv2/2/2dfaf112-ad5a-4fc2-8b4f-ebbd4db10b84.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot");
}
@font-face{
font-family:"Chaparral W01";
src:url("/dv2/2/2dfaf112-ad5a-4fc2-8b4f-ebbd4db10b84.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix");
src:url("/dv2/2/2dfaf112-ad5a-4fc2-8b4f-ebbd4db10b84.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot"),url("/dv2/14/39389cb8-afd8-430c-ba0d-12d609f04ba7.woff2?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff2"),url("/dv2/3/3bebc7c1-f3c5-4aa2-84e6-472012138c24.woff?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff"),url("/dv2/1/b2d3476b-60f3-446e-9992-dea793e95f63.ttf?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("truetype"),url("/dv2/11/263c4b67-191f-4faa-a156-9f8049af2534.svg?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#263c4b67-191f-4faa-a156-9f8049af2534") format("svg");
font-weight:400;font-style:italic;
}
@font-face{
font-family:"Chaparral W01_n7";
src:url("/dv2/2/0b95a36b-8f88-4872-8c90-bc90f1de4767.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot");
}
@font-face{
font-family:"Chaparral W01";
src:url("/dv2/2/0b95a36b-8f88-4872-8c90-bc90f1de4767.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix");
src:url("/dv2/2/0b95a36b-8f88-4872-8c90-bc90f1de4767.eot?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#iefix") format("eot"),url("/dv2/14/dcd419a4-d304-4a3f-b405-292082409692.woff2?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff2"),url("/dv2/3/bb10164b-d48e-4942-9d77-726047a9de26.woff?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("woff"),url("/dv2/1/26934f87-7f2c-4405-ba65-be23a584c7d7.ttf?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d") format("truetype"),url("/dv2/11/2be8b9d4-9f02-4e5a-b6e4-ee127b89cff1.svg?d44f19a684109620e4841578a790e818438dc601bba09b4d960375e2b7e9e240c8d641b6924a3093a14eb3a0b79fdf1be9678e396cb406a5c358ae4c2d31ec62713cebe621b8a4cfb3941e2ae76a07b5ca3d0589207236b20c5b219fc7f24855fac49b42324b8fd35580840fb0b7&projectId=e3b6f221-91c3-496d-85a5-e06a333f4d2d#2be8b9d4-9f02-4e5a-b6e4-ee127b89cff1") format("svg");
font-weight:700;font-style:normal;
}
@media all and (min-width: 0px) {
}
