body {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 12px;
}

small {
	font-size: 12px;
	font-family: Tahoma;
}


a img{ outline:none; border:none}
table { border-collapse: collapse; border-spacing: 0; border:none}

td{	vertical-align:top}
.justify{text-align:justify}


a,a:hover,a:link  {
	color:#005081;
	font-weight:normal;
}

h2{
	font-weight: bold;
	font-size: 1em;
	line-height: 1.15em;

	color: #005081;
	text-decoration: none;

	text-transform:capitalize;
	margin:0.83em 0 0.83em 0;
	color: black;
	font-family: Tahoma;
}

h2 a, h2 a:hover, h2 a:link {
	font-weight: bold;
	text-decoration:none;
}

.item_main h2{
	margin:0;
}

.item_main h2 a{
	color: #000;
}





/* ======================================== */
/* 			 Новый дизайн					*/
/* ======================================== */

ul.nav-menu>li>ul>li.last a
{
	background-repeat: no-repeat;
}

/* base.jpg */
h1.head,
.nav-menu>li>a,
.nav-menu>li:after,
ul.nav-menu>li:after{
	background-image: url(base6.png);
	background-repeat: no-repeat;
}

ul.nav-menu{
	padding: 0;
	margin: 0;
	list-style-type: none;
}





ul.nav-menu>li>ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}






ul.nav-menu>li>ul>li.last a{
	padding-left: 18px;
	background-position: -345px -256px;
}

.bold, .bold a{
	font-weight: bold;
}


ul.nav-menu>li>ul>li a{
	padding: 0;
	vertical-align: top;
	line-height: 17px;
	text-decoration: none;
	display:block;
	width: 100%;
}
ul.nav-menu>li>ul>li a:hover{
	color:#FFF;
	text-decoration:none;
	background-color: #db0247;
	outline: 0;
}



ul.nav-menu>li>ul>li em{
	vertical-align: top;
	margin-top: -1px;
	line-height: 17px;
}



#tab_similarity_header.ui-state-active,
#tab_news_header.ui-state-active,
#leftmenu ul li.selected,
.mail-href{
	background: #05659e url("./../css/custom-theme/images/ui-bg_highlight-hard_75_579100_1x100.png") 50% 50%
}



/* ======================================== */
/* 			 Старый дизайн					*/
/* ======================================== */




/* base.jpg */
#header, #footer,
/*
	#leftmenu .head,
	#leftmenu .border:after,
*/
.logo, .bt, .rss{
	background-image: url(base7-min.jpg);
	background-repeat: no-repeat;
}


.top_week, .item_main_image, .item_main1{
	background: url(./../images/tn-no_foto.gif) 0 0 no-repeat;
}
.item_main_box3 .item_main1, .item_main_box2 .item_main1{
	background: url(./../images/tn-no_foto.gif) 0 15px no-repeat;
}


/* sprites.png */
ul.top-main-menu a,.top-main-menu em,.cn-icon,.nav-icon, .captcha_refresh, .qa-icon, .ic-icon, .paginator em,.add-blogger,
.star-rating, .star-rating .current-rating, .star-rating a,
.gender_0,.gender_1,.gender_2,
.footer-menu a,
.spoiler-title em, .spoiler-init em, .genre-title em, .review-title em,
ul.order-menu li.selected a,.order-menu li.selected em,
.download-button, .fo-icon, .qa-3d, .qa-hd,.watch-button,.watch-button1,
.children .li-opt a,.children .li-fav a, .go_to_top,
ul.nav-menu>li>ul>li.last a{
	background: trasparant;
	background-image:  url(sprites28.png) ;
	background-repeat: no-repeat;
}

/* rainbow.jpg */
.children .user-info, .children .top-menu{
	background-image: url(rainbow1.jpg );
	background-repeat: no-repeat;
}


#online_box,#tab_similarity_header,.mail-href:hover{
	background: #d54a03 url("./../css/custom-theme/images/ui-bg_highlight-soft_100_d54a03_1x100.png") 50% 50%
}

#tab_news_header{
	background: #ac1ae6 url("./../css/custom-theme/images/ui-bg_highlight-hard_75_ac1ae6_1x100.png") 50% 50%
}



.orange_search	   {background: #d54a03 url("./../css/custom-theme/images/ui-bg_highlight-soft_100_d54a03_1x100.png") 50% 50% repeat-x !important; padding: 5px 0 !important; vertical-align: top}
.orange_search:hover {background: #579100 url(./../css/custom-theme/images/ui-bg_glass_75_b10339_1x400.png) 50% 50% repeat-x !important}

.gren_search	   {background: #579100 url(./../css/custom-theme/images/ui-bg_highlight-soft_100_579100_1x100.png) 50% 50% repeat-x !important}
.gren_search:hover {background: #579100 url(./../css/custom-theme/images/ui-bg_glass_75_b10339_1x400.png) 50% 50% repeat-x !important}
.ui-helper-hidden-accessible {visibility: hidden}

.children .top-menu{background-position: 0 -72px}
.bt{background-position: -764px -20px; height:28px; margin-left:2px}
.rss{background-position: -868px -20px; height:28px; width:30px !important}
.children .user_menu1{width: 98px}
.children .user_menu1 li a{padding-left: 18px}
/*
.children .user_menu1 .li-opt a{ background-position: -345px -273px}
.children .user_menu1 .li-fav a{ background-position: -345px -290px}
*/

#id_captcha_1, img.captcha{
	height:38px;
	padding: 0;
	margin: 2px;
	float: left;
	border: 1px solid #a6c9e2;
	border-radius: 4px;
	text-align: center;
}



#id_captcha_1, #id_email_activation{
	font-family: Consolas, Courier, Helvetica, sans-serif;
	font-size: 25px;
}
#id_captcha_1{
	line-height: 36px;
	width:100px;
	text-transform: uppercase;
}
#id_email_activation{
	width:300px;

	height:38px;
	padding: 0;
	margin: 2px;
	display:inline-block;
	border: 1px solid #a6c9e2;
	border-radius: 4px;
	text-align: center;
}


.go_to_top{
	background-position: -145px -550px;
	background-color:#F6F7F9;
	width: 30px;
	height: 30px;
	position: fixed;
	!position: absolute;
	bottom: 50px;
	right: 0;
	z-index: 100000000;
	opacity: 0.5;
	border: 1px solid #a6c9e2;
	border-radius: 5px;
}

.go_to_top:hover{
	opacity: 1;
}

.go_to_bug{
	background-image: url(bug.png);
	background-repeat: no-repeat;
	background-position: 2px 2px;


	background-color:#F6F7F9;
	width: 30px;
	height: 30px;
	position: fixed;
	!position: absolute;
	bottom: 0.83em;
	right: 0;
	z-index: 100000000;
	opacity: 0.5;
	border: 1px solid #990000;
	border-radius: 5px;
}

.go_to_bug:hover{
	opacity: 1;
}



#container {
	background: white;
	border-radius: 4px;
	min-height: 100px;
}






#inner_top{
	width: 735px;
	float: right;
	margin-top: -5px;
	margin-bottom: 5px;
}


#header {
	width: 100%;
	height:168px;
	overflow:hidden;
	margin: 0 0 0.83em 0;
	padding: 0;
	border-radius: 4px;
}

#sub_footer{
	clear:both;
}

#footer {
	clear:both;
	height: 95px;
	background-position: 0 -179px;
	width: 100%;
	margin-top: -20px;
	padding: 0;
}

#content p, #leftmenu p, #rightmenu p {
	margin-top: 0;
}

#header p, #footer p {
	margin-top: 0;
	margin-bottom: 0;
}


/* menu */
ul.h-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.h-menu li {
	margin: 0 2px 0 0;
	padding: 0;
	padding: 0;
	float: left;
	display: inline;
	list-style: none;
	position: relative;
}

ul.h-menu a {
	border: 0px;
	padding: 0 4px;
}

/* header */
.user-info{
	height:72px;
	padding: 0;
	margin:0;
}

#user-menu, #user-username{
	text-align: right;
	min-width: 320px;
	padding:0 5px;
}

.logo, .logo a{
	text-indent: -600px;
	display:block;
	float:left;
	height:65px;
	width:250px;
	overflow:hidden;
	text-decoration: none !important;
}


.sub_logo{
	text-indent: 0px;
	display:block;
	font-size: 1.25em;
	letter-spacing:3px;
	padding:34px 0 0 30px;
}

.user-info .wrap{
	float:right;
	padding: 15px 5px 0 0;
	text-align:left;
}

.wrap br{
	height: 1em;
	font-size: 9px;
}


.top-user-menu{
	float:right;
	color:#222;
	text-transform:uppercase;
	font-size: 9px;
	font-weight: normal;
	height:  1em;;
}
.top-user-menu b{
	font-weight: 900;
	text-transform:none;
	font-size: 1.1em;;
	height:  1em;;
}
.top-user-menu li{
	border-right: #222 solid 1px;
	font-size: 9px;
	line-height: 0.8em;;
}
.top-user-menu :last-child{
	border-right: 0px none;
}
.top-user-menu a{
	color:#222;
	text-decoration:none;
}
.top-user-menu a:hover{
	text-decoration:underline;
}
.user-top-line{ color: black; text-transform:none}
.user-top-messages{ color: red}
font.top-user-menu{ padding-right: 7px}
.user-top-messages a{ color: red;font-weight:900;height: 0.83em}

.user-top-banned{
	float:right;
	color: red;
	text-align:right;
	line-height: 1em;
	font-size: 0.9em;
	width:400px;
	margin-right:250px;
	height:20px;
	overflow:visible;
}
.user-top-banned p, .user-top-banned a{ color: red; text-decoration:none;background: #FFFFFF}

.user-top-rss{
	margin-top:20px;
	float:right;
	height:25px;
	width:238px;

}

/* top-main-menu */


.top-menu{
	margin:0;
	padding:0;
	height: 33px;
	overflow:hidden;
	z-index: 5;
	width: 1000px;
}

.top-menu .wrap{
	float:left;
	overflow:hidden;
}

.top-menu .wrap ul{
	margin-left: 16px;
	width: 1000px;
}

.top-main-menu{
	height: 33px;
}
.top-main-menu li{
	height: 33px;
	margin-left:3px;
	overflow:hidden;
	white-space: nowrap;
	word-wrap: normal;
}

.top-main-menu li.c1 a{width:42px}
.top-main-menu li.c2 a{width:54px}
.top-main-menu li.c3 a{width:58px}
.top-main-menu li.c4 a{width:70px}
.top-main-menu li.c5 a{width:45px}
.top-main-menu li.c6 a{width:50px}
.top-main-menu li.c7 a{width:42px}
.top-main-menu li.c8 a{width:43px}
.top-main-menu li.c9 a{width:55px}
.top-main-menu li.c10 a{width:74px}
.top-main-menu li.c11 a{width:64px}
.top-main-menu li.c12 a{width:89px}
.top-main-menu li.c13 a{width:95px}



.text-shadow, h1.head, .page-head{
	text-shadow: black 1px 1px 2px, #999 0 0 6px; /* Параметры тени */
}

.top-main-menu li a{
	float: left;
	display: block;

	text-align:center;

	text-decoration:none;
	color: white;
	height: 32px;!important;
	padding:0 2px 0 0.83em!important;
	line-height:30px;
	background-position: 0 0;
	min-width:42px;
	white-space: nowrap;
	word-wrap: normal;
}



.top-main-menu li em{
	float: left;
	display: block;
	height: 32px;
	width: 0.83em;
	background-position: 100% 0;
	overflow:hidden;
	white-space: nowrap;
	word-wrap: normal;
}
.-top-main-menu li>em{
	position:absolute;
	top:0;
	right:0;
}


li.menu-1 a{ background-position: 0 -40px}
li.menu-1 em{	background-position: 100% -40px}

li.menu-2 a{ background-position: 0 -80px}
li.menu-2 em{ background-position: 100% -80px}

li.menu-3 a{ background-position: 0 -630px}
li.menu-3 em{ background-position: 100% -630px}


.top-main-menu li:hover a{background-position: 0 -120px}
.top-main-menu li:hover em{	background-position: 100% -120px}

.top-main-menu li em.online{
	width: 23px;
	height: 28px;
	background-position: -325px 0;
}
.top-main-menu li:hover em.online{background-position: -325px -120px}

.top-main-menu li em.clip{
	width: 21px;
	height: 28px;
	background-position: -258px 0;
}
.top-main-menu li:hover em.clip{background-position: -258px -120px}


.top-main-menu li em.games{
	width: 21px;
	height: 28px;
	background-position: -303px 0;
}
.top-main-menu li:hover em.games{background-position: -303px -120px}


.top-main-menu li em.children{
	width: 21px;
	height: 28px;
	background-position: -280px -630px;
}
.top-main-menu li:hover em.children{background-position: -280px -120px}


.bt, .bt a{
	display:block;
	float: left;
	width: 104px;
	height: 33px;
}
.rss, .rss a{
	display:block;
	float: left;
	width: 36px;
	height: 33px;
}
.user_menu1{
	float: left;
	width: 80px;
	height: 33px;
}

form {
	padding:0;
	margin:0;
	border:none 0;
}

.top-search{
	float:left;
	width:370px;
	height: 63px;
}
.top-search .wrap{
	margin:16px 0 0 37px;
}

#search_keyword{
	font-size:1.1em;
	width: 98%;
	margin-bottom: 1.25em;
	padding: 5px;

}

#id_search_keyword, #id_collection_keyword, #id_anthology_keyword{
	font-size:14px;
	width: 98%;
	margin-bottom: 1.25em;
	padding: 5px;

	border-radius: 5px;
	border: 2px solid #a6c9e2;
	margin: 1.25em 0;
}

#id_collection_keyword, #id_anthology_keyword{
	border: 2px solid #d54a03 ;
}


#id_search_keyword label {
	float:right;
	clear:both;
	display: block;
}



#ext-search{
	margin: 5px 0 0 180px;
	padding: 3px 0 0 20px;
	font-size: 0.83em;
	letter-spacing:0.5px;
	color:#fff;
}

#ext-search a{
	color:#fff;
	text-decoration:none;
}
#ext-search a:hover{
	text-decoration:underline;
}



.letter-search{
	float:right;
	margin: 0;
	padding: 4px 0 0 0;
	width: 600px;
	line-height: 24px;
	text-align: center;
	font-family: Tahoma;
	font-size: 12px;
	word-spacing: -4px;
}

.letter-search a{
	color: white;
	text-decoration: none;
	padding: 5px 0.83em;
	margin: 0;
	word-spacing:4px;
	letter-spacing: 2px;

}
.letter-search em{
	position: relative;
	width:1px;
	border-right: 1px solid #c68599;
}

.letter-search .line1  em{ top: -8px}
.letter-search .line2  em{ bottom: -13px}

.letter-search  a:hover{
	color:#FFF;
	text-decoration:none;
	background-color: #db0247;
	outline: 0;
}

#letter_list {
	text-align: center;
}
#letter_list a{
	font-weight:bold;
	text-decoration: none;
	padding: 5px 4px;
	margin: 0;
	word-spacing:4px;
}
#letter_list a:hover{
	text-decoration: underline;
}


.user_menu1 ul{
	padding: 0;
	margin: 0;
	text-align: left;
	color:#B1B1B1;
	line-height: 11px;
	list-style: none;
}
.user_menu1 a{
	color:#B1B1B1;
}


.user_menu1 a, .user_menu1 a:hover {
	font-size:9px;
	font-weight:bold;
	text-decoration:none;
}


.li-opt{
	color:#B1B1B1;
}

.li-fav{
	color: orange;
}
/* leftmenu */




/* фильм */

.info-panel{
	width:160px;
	padding-right:10px;
}
.info-panel .film-image{
	float:left;
	margin-bottom: 30px
}


.info td,.info th{
	padding: 0 0 5px 0;
}

.info tbody tr{
	vertical-align:top;
	height:1%;
}
.info th,.info th a,.info h1,.info h1 a{
	text-align:left;
	color:#025080;
	font-size:20px;
	line-height:30px;
	font-weight:normal;
	text-decoration:none;
	margin: 0;
	padding: 0 0 5px 0;
}
.info .center{
	width: 160px;
	text-align:center;
	padding-right: 0.83em;
}

#rating{
	height:36px;
	line-height:36px;
	color:#FFFFFF;
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	background:url(../images/rating.gif) 50% 50% no-repeat;

}

/* icons */

.nav-icon, .cn-icon,.qa-icon,.ic-icon{
	display:inline-block;
	width:16px;
	height:11px;
	line-height:13px;
	overflow:hidden;
	text-indent:-10000px;
	margin:1px;
}

.qa-3d, .qa-hd{
	background-position: -236px -460px;
	float:right;
	width:16px;
	height:14px;
	line-height:14px;
	overflow:hidden;
	text-indent:-10000px;
	margin:1px 0;
}
.qa-hd{
	background-position: -253px -460px;
}

.post_controll .nav-icon,
.float_right .nav-icon, .float_right .cn-icon, .float_right .qa-icon, .float_right .ic-icon{
	float:left;
	text-indent:10000px;
}

.float_right .cn-icon{
	margin:3px 5px 0 5px;
}


.nav-icon{
	height:16px;
	margin:0px;
	text-indent:10000px;
}

.captcha_refresh{
	float:left;
	height: 16px;
	width: 16px;
	margin: 12px 12px 12px 0;
	text-indent: 10000px;
}

/*
.nav-icon:hover{
	margin:0;
	border: #afa 1px solid;
	background-color: #cfc;
}
*/

.profile-info, .profile-info table{
	width: 100%
}
.profile-info, .profile-info td, .profile-info th{
	padding: 5px;
}
.profile-info  tr:nth-child(2n){
	background-color: #FFFFFF;
}
.profile-info  tr:nth-child(2n+1){
	background-color: #EFFFFF;
}

.qa-icon{
	height:14px;
	line-height:14px;
}

.addthis_toolbox .ic-icon, .ic-icon{
	opacity: 0.5;
}

.addthis_toolbox .ic-icon:hover, .ic-icon:hover, .social:hover .ic-icon, .social1:hover .ic-icon{
	opacity: 1;
}

.social-profile .avatar img{
	border-radius: 100%;
}

.social {
	height: 30px;
}
.social1 td, .social1 th{
	vertical-align: middle;
	height: 30px;
}
.social1 th{
	width:50px;
	transform: scale(0.8)
}

/*countries*/
.cn-ad{ background-position: 0px -160px} .cn-ae{ background-position: -20px -160px} .cn-af{ background-position: -40px -160px} .cn-ag{ background-position: -60px -160px} .cn-ai{ background-position: -80px -160px} .cn-al{ background-position: -100px -160px} .cn-am{ background-position: -120px -160px} .cn-an{ background-position: -140px -160px} .cn-ao{ background-position: -160px -160px} .cn-ar{ background-position: -180px -160px} .cn-as{ background-position: -200px -160px} .cn-at{ background-position: -220px -160px} .cn-au{ background-position: -240px -160px} .cn-aw{ background-position: -260px -160px} .cn-ax{ background-position: -280px -160px} .cn-az{ background-position: -300px -160px}
.cn-ba{ background-position: 0px -175px} .cn-bb{ background-position: -20px -175px} .cn-bd{ background-position: -40px -175px} .cn-be{ background-position: -60px -175px} .cn-bf{ background-position: -80px -175px} .cn-bg{ background-position: -100px -175px} .cn-bh{ background-position: -120px -175px} .cn-bi{ background-position: -140px -175px} .cn-bj{ background-position: -160px -175px} .cn-bm{ background-position: -180px -175px} .cn-bn{ background-position: -200px -175px} .cn-bo{ background-position: -220px -175px} .cn-br{ background-position: -240px -175px} .cn-bs{ background-position: -260px -175px} .cn-bt{ background-position: -280px -175px} .cn-bv{ background-position: -300px -175px}
.cn-bw{ background-position: 0px -190px} .cn-by{ background-position: -20px -190px} .cn-bz{ background-position: -40px -190px} .cn-ca{ background-position: -60px -190px} .cn-catalonia{ background-position: -80px -190px} .cn-cc{ background-position: -100px -190px} .cn-cd{ background-position: -120px -190px} .cn-cf{ background-position: -140px -190px} .cn-cg{ background-position: -160px -190px} .cn-ch{ background-position: -180px -190px} .cn-ci{ background-position: -200px -190px} .cn-ck{ background-position: -220px -190px} .cn-cl{ background-position: -240px -190px} .cn-cm{ background-position: -260px -190px} .cn-cn{ background-position: -280px -190px} .cn-co{ background-position: -300px -190px}
.cn-cr{ background-position: 0px -205px} .cn-cs{ background-position: -20px -205px} .cn-cu{ background-position: -40px -205px} .cn-cv{ background-position: -60px -205px} .cn-cx{ background-position: -80px -205px} .cn-cy{ background-position: -100px -205px} .cn-cz{ background-position: -120px -205px} .cn-de{ background-position: -140px -205px} .cn-dj{ background-position: -160px -205px} .cn-dk{ background-position: -180px -205px} .cn-dm{ background-position: -200px -205px} .cn-do{ background-position: -220px -205px} .cn-dz{ background-position: -240px -205px} .cn-ec{ background-position: -260px -205px} .cn-ee{ background-position: -280px -205px} .cn-eg{ background-position: -300px -205px}
.cn-eh{ background-position: 0px -220px} .cn-england{ background-position: -20px -220px} .cn-er{ background-position: -40px -220px} .cn-es{ background-position: -60px -220px} .cn-et{ background-position: -80px -220px} .cn-europeanunion{ background-position: -100px -220px} .cn-fam{ background-position: -120px -220px} .cn-fi{ background-position: -140px -220px} .cn-fj{ background-position: -160px -220px} .cn-fk{ background-position: -180px -220px} .cn-fm{ background-position: -200px -220px} .cn-fo{ background-position: -220px -220px} .cn-fr{ background-position: -240px -220px} .cn-ga{ background-position: -260px -220px} .cn-gb{ background-position: -280px -220px} .cn-gd{ background-position: -300px -220px}
.cn-ge{ background-position: 0px -235px} .cn-gf{ background-position: -20px -235px} .cn-gh{ background-position: -40px -235px} .cn-gi{ background-position: -60px -235px} .cn-gl{ background-position: -80px -235px} .cn-gm{ background-position: -100px -235px} .cn-gn{ background-position: -120px -235px} .cn-gp{ background-position: -140px -235px} .cn-gq{ background-position: -160px -235px} .cn-gr{ background-position: -180px -235px} .cn-gs{ background-position: -200px -235px} .cn-gt{ background-position: -220px -235px} .cn-gu{ background-position: -240px -235px} .cn-gw{ background-position: -260px -235px} .cn-gy{ background-position: -280px -235px} .cn-hk{ background-position: -300px -235px}
.cn-hm{ background-position: 0px -250px} .cn-hn{ background-position: -20px -250px} .cn-hr{ background-position: -40px -250px} .cn-ht{ background-position: -60px -250px} .cn-hu{ background-position: -80px -250px} .cn-id{ background-position: -100px -250px} .cn-ie{ background-position: -120px -250px} .cn-il{ background-position: -140px -250px} .cn-in{ background-position: -160px -250px} .cn-io{ background-position: -180px -250px} .cn-iq{ background-position: -200px -250px} .cn-ir{ background-position: -220px -250px} .cn-is{ background-position: -240px -250px} .cn-it{ background-position: -260px -250px} .cn-jm{ background-position: -280px -250px} .cn-jo{ background-position: -300px -250px}
.cn-jp{ background-position: 0px -265px} .cn-ke{ background-position: -20px -265px} .cn-kg{ background-position: -40px -265px} .cn-kh{ background-position: -60px -265px} .cn-ki{ background-position: -80px -265px} .cn-km{ background-position: -100px -265px} .cn-kn{ background-position: -120px -265px} .cn-kp{ background-position: -140px -265px} .cn-kr{ background-position: -160px -265px} .cn-kw{ background-position: -180px -265px} .cn-ky{ background-position: -200px -265px} .cn-kz{ background-position: -220px -265px} .cn-la{ background-position: -240px -265px} .cn-lb{ background-position: -260px -265px} .cn-lc{ background-position: -280px -265px} .cn-li{ background-position: -300px -265px}
.cn-lk{ background-position: 0px -280px} .cn-lr{ background-position: -20px -280px} .cn-ls{ background-position: -40px -280px} .cn-lt{ background-position: -60px -280px} .cn-lu{ background-position: -80px -280px} .cn-lv{ background-position: -100px -280px} .cn-ly{ background-position: -120px -280px} .cn-ma{ background-position: -140px -280px} .cn-mc{ background-position: -160px -280px} .cn-md{ background-position: -180px -280px} .cn-me{ background-position: -200px -280px} .cn-mg{ background-position: -220px -280px} .cn-mh{ background-position: -240px -280px} .cn-mk{ background-position: -260px -280px} .cn-ml{ background-position: -280px -280px} .cn-mm{ background-position: -300px -280px}
.cn-mn{ background-position: 0px -295px} .cn-mo{ background-position: -20px -295px} .cn-mp{ background-position: -40px -295px} .cn-mq{ background-position: -60px -295px} .cn-mr{ background-position: -80px -295px} .cn-ms{ background-position: -100px -295px} .cn-mt{ background-position: -120px -295px} .cn-mu{ background-position: -140px -295px} .cn-mv{ background-position: -160px -295px} .cn-mw{ background-position: -180px -295px} .cn-mx{ background-position: -200px -295px} .cn-my{ background-position: -220px -295px} .cn-mz{ background-position: -240px -295px} .cn-na{ background-position: -260px -295px} .cn-nc{ background-position: -280px -295px} .cn-ne{ background-position: -300px -295px}
.cn-nf{ background-position: 0px -310px} .cn-ng{ background-position: -20px -310px} .cn-ni{ background-position: -40px -310px} .cn-nl{ background-position: -60px -310px} .cn-no{ background-position: -80px -310px} .cn-np{ background-position: -100px -310px} .cn-nr{ background-position: -120px -310px} .cn-nu{ background-position: -140px -310px} .cn-nz{ background-position: -160px -310px} .cn-om{ background-position: -180px -310px} .cn-pa{ background-position: -200px -310px} .cn-pe{ background-position: -220px -310px} .cn-pf{ background-position: -240px -310px} .cn-pg{ background-position: -260px -310px} .cn-ph{ background-position: -280px -310px} .cn-pk{ background-position: -300px -310px}
.cn-pl{ background-position: 0px -325px} .cn-pm{ background-position: -20px -325px} .cn-pn{ background-position: -40px -325px} .cn-pr{ background-position: -60px -325px} .cn-ps{ background-position: -80px -325px} .cn-pt{ background-position: -100px -325px} .cn-pw{ background-position: -120px -325px} .cn-py{ background-position: -140px -325px} .cn-qa{ background-position: -160px -325px} .cn-re{ background-position: -180px -325px} .cn-ro{ background-position: -200px -325px} .cn-rs{ background-position: -220px -325px} .cn-ru{ background-position: -240px -325px} .cn-rw{ background-position: -260px -325px} .cn-sa{ background-position: -280px -325px} .cn-sb{ background-position: -300px -325px}
.cn-sc{ background-position: 0px -340px} .cn-scotland{ background-position: -20px -340px} .cn-sd{ background-position: -40px -340px} .cn-se{ background-position: -60px -340px} .cn-sg{ background-position: -80px -340px} .cn-sh{ background-position: -100px -340px} .cn-si{ background-position: -120px -340px} .cn-sj{ background-position: -140px -340px} .cn-sk{ background-position: -160px -340px} .cn-sl{ background-position: -180px -340px} .cn-sm{ background-position: -200px -340px} .cn-sn{ background-position: -220px -340px} .cn-so{ background-position: -240px -340px} .cn-sr{ background-position: -260px -340px} .cn-st{ background-position: -280px -340px} .cn-su{ background-position: -300px -340px}
.cn-sv{ background-position: 0px -355px} .cn-sy{ background-position: -20px -355px} .cn-sz{ background-position: -40px -355px} .cn-tc{ background-position: -60px -355px} .cn-td{ background-position: -80px -355px} .cn-tf{ background-position: -100px -355px} .cn-tg{ background-position: -120px -355px} .cn-th{ background-position: -140px -355px} .cn-tj{ background-position: -160px -355px} .cn-tk{ background-position: -180px -355px} .cn-tl{ background-position: -200px -355px} .cn-tm{ background-position: -220px -355px} .cn-tn{ background-position: -240px -355px} .cn-to{ background-position: -260px -355px} .cn-tr{ background-position: -280px -355px} .cn-tt{ background-position: -300px -355px}
.cn-tv{ background-position: 0px -370px} .cn-tw{ background-position: -20px -370px} .cn-tz{ background-position: -40px -370px} .cn-ua{ background-position: -60px -370px} .cn-ug{ background-position: -80px -370px} .cn-um{ background-position: -100px -370px} .cn-us{ background-position: -120px -370px} .cn-uy{ background-position: -140px -370px} .cn-uz{ background-position: -160px -370px} .cn-va{ background-position: -180px -370px} .cn-vc{ background-position: -200px -370px} .cn-ve{ background-position: -220px -370px} .cn-vg{ background-position: -240px -370px} .cn-vi{ background-position: -260px -370px} .cn-vn{ background-position: -280px -370px} .cn-vu{ background-position: -300px -370px}
.cn-wales{ background-position: 0px -385px} .cn-wf{ background-position: -20px -385px} .cn-ws{ background-position: -40px -385px} .cn-ye{ background-position: -60px -385px} .cn-yt{ background-position: -80px -385px} .cn-za{ background-position: -100px -385px} .cn-zm{ background-position: -120px -385px} .cn-zw{ background-position: -140px -385px}
.cn-im{ background-position: -200px -385px}

/*nav*/
.nav-add{ background-position: 0px -400px} .nav-arrow_branch{ background-position: -20px -400px} .nav-arrow_divide{ background-position: -40px -400px} .nav-arrow_merge{ background-position: -60px -400px}
.nav-arrow_refresh, .captcha_refresh{ background-position: -80px -400px} .nav-arrow_refresh_small{ background-position: -100px -400px} .nav-arrow_switch{ background-position: -120px -400px} .nav-arrow_undo{ background-position: -140px -400px} .nav-attach{ background-position: -160px -400px} .nav-bell{ background-position: -180px -400px} .nav-code_save{ background-position: -200px -400px} .nav-comment{ background-position: -220px -400px} .nav-cross{ background-position: -240px -400px} .nav-delete{ background-position: -260px -400px} .nav-detach{ background-position: -280px -400px} .nav-drink{ background-position: -300px -400px}
.nav-drink_empty{ background-position: 0px -420px} .nav-email{ background-position: -20px -420px} .nav-email_edit{ background-position: -40px -420px} .nav-email_error{ background-position: -60px -420px} .nav-exclamation{ background-position: -80px -420px}

.nav-eye, .wishlist-on{ background-position: -100px -420px} .nav-eye-off, .wishlist-off{ background-position: -61px -490px}
.nav-thumb_up, .recommend-on{ background-position: -200px -440px} .nav-thumb_down1, .recommend-off{ background-position: -180px -440px}
.nav-tick, .viewed-on{ background-position: -220px -440px} .nav-tick-off, .viewed-off{ background-position: -98px -490px}
.notcare-on{ background-position: -260px -400px} .notcare-off{ background-position: -260px -400px; opacity: 0.4}


.nav-lightbulb, .favorite-on{ background-position: -160px -420px} .nav-lightbulb-off, .favorite-off{ background-position: -180px -420px}

.nav-fav{ background-position: -120px -420px} .nav-icon_reviews2{ background-position: -140px -420px}

.save-on{ background-position: -116px -490px}
.save-off{ background-position: -116px -490px; opacity: 0.3}
.collection-on{ background-position: -154px -490px}
.collection-off{ background-position: -172px -490px}


.friends-off{ background-position: -220px -383px}
.friends-in { background-position: -240px -383px}
.friends-out{ background-position: -260px -383px}
.friends-on { background-position: -280px -383px}

.ignore-off{ background-position: -80px -440px; opacity: 0.3}
.ignore-on { background-position: -80px -440px}

.email-off{ background-position: -20px -420px; opacity: 0.3}
.email-on{ background-position: -20px -420px}

.nav-lock{ background-position: -200px -420px} .nav-lock_delete{ background-position: -220px -420px} .nav-pencil{ background-position: -240px -420px} .nav-picture{ background-position: -260px -420px} .nav-pictures{ background-position: -280px -420px} .nav-picture_error{ background-position: -300px -420px}
.nav-picture_go{ background-position: 0px -440px} .nav-picture_save{ background-position: -20px -440px} .nav-pointer_close{ background-position: -40px -440px} .nav-pointer_open{ background-position: -60px -440px} .nav-status_busy{ background-position: -80px -440px} .nav-status_online{ background-position: -100px -440px} .nav-tag_add{ background-position: -120px -440px} .nav-tag_blue{ background-position: -140px -440px} .nav-thumb_down{ background-position: -160px -440px}


.nav-rating{background-position: -185px -540px; width: 10px;margin-left: 5px}
.nav-rating_big{background-position: -300px -383px}

.nav-note			{background-position: -228px -567px}
.nav-cog			{background-position: -244px -567px}
.nav-magnifier		{background-position: -260px -567px}

.nav-form_edit		{background-position: -228px -583px}
.nav-comments		{background-position: -244px -583px}
.nav-user_comment	{background-position: -260px -583px}



.nav-online{ background-position: -81px -490px}
.nav-tag_blue{
	float:none !important;
}

/* quality */
.qa-BDRip{ background-position: 0px -460px; width:33px} .qa-Blu-Ray{ background-position: -34px -460px; width:35px} .qa-CamRip{ background-position: -70px -460px; width:38px} .qa-DVD5{ background-position: -109px -460px; width:26px} .qa-DVD9{ background-position: -136px -460px; width:26px} .qa-DVDRip{ background-position: -163px -460px; width:33px} .qa-DVDScreener{ background-position: -197px -460px; width:35px}
.qa-HDTV{ background-position: 0px -475px; width:26px} .qa-HDTVRip{ background-position: -27px -475px; width:38px} .qa-TeleCine{ background-position: -67px -475px; width:39px} .qa-TeleSynch{ background-position: -107px -475px; width:45px} .qa-TVRip{ background-position: -153px -475px; width:29px} .qa-VHSRip{ background-position: -183px -475px; width:38px} .qa-WebRip-HD{ background-position: -222px -475px; width:40px}
.qa-WebRip{ background-position: 0px -490px; width:29px} .qa-KPK{ background-position: -30px -490px; width:26px}.qa-DCPrip{ background-position: -148px -586px; width:31px}
/* ic */
.add-blogger, .ic-blogger{ background-position: -320px -310px;border: 0px none!important}

.ic-facebook, .ic-bookmark{ background-position: -320px -342px}
.ic-google{ background-position:  -320px -374px}
.ic-li{ background-position: -320px -406px}
.ic-livejournal{ background-position: -320px -438px}
.ic-mailru{ background-position: -320px -470px}
.ic-ok, .ic-odnoklassniki{ background-position: -320px -502px}
.ic-vk, .ic-vkontakte { background-position: -320px -534px}
.ic-twitter { background-position: -320px -566px}

.ic-google-buzz{ background-position:-228px -534px}
.ic-yandex{ background-position:-196px -534px}



.ic-rss{background-position:0 -670px}
.ic-mtorrent{background-position:-30px -670px}
.ic-mail{background-position:-60px -670px}
.ic-login{background-position:-90px -670px}


/* key */
.gender_0,.gender_1,.gender_2{
	display:inline-block;
	width:11px;
	height:11px;
	line-height:11px;
	overflow:hidden;
	text-indent:-1000px;
}
.gender_0{ background-position: -346px -160px}
.gender_1{ background-position: -346px -180px}
.gender_2{ background-position: -346px -200px}

.key1{ background-position: -346px -220px}
.key2{ background-position: -346px -240px}
.key3{ background-position: -346px -260px}


#leftmenu .block li a{ background-position: -345px -234px}
#leftmenu .block li.last a{ background-position: -345px -256px}
#leftmenu .block li a.li-opt{ background-position: -345px -269px}
#leftmenu .block li a.li-fav{ background-position: -345px -286px}



.footer-menu a{
	margin:0 5px;
	padding: 0 0 0 5px !important;
	background-position: -346px -214px;
}
.footer-menu a.email{
	background-position: -346px -700px;
}






.page-head{
	margin: 0.83em 0 20px 0 !important;
	padding:0.83em !important;
	font-size: 12px;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
	color: white;
	height:auto !important;
	letter-spacing:1px;
}
h1.head a, .page-head a{
	color: white;
	text-decoration:none;
	font-weight:bold;
}
/* paginator */
.paginator {
	margin: 5px;
	padding: 0;
	font-size:12px;
	text-align:center;
}
.paginator li{
	margin: 0 5px;
	padding: 0px;
	display:inline !important;
	color:#f00;
	line-height:20px;
	white-space:nowrap;
}
.paginator li a{
	color:#666;
	cursor:pointer
}
.paginator li a:hover{
	color:#000;
}

.paginator .page_prev{ float: left}
.paginator .page_next{ float: right}

.paginator em{
	display:inline-block;
	width:24px;
	height:20px;
	vertical-align:top;
	margin: 0 2px;
}
.page_input{margin: 0 20px !important}
.page_input input{
	width:30px;
	line-height:14px;
	height: 14px;
	padding: 0;
	margin: 0;
	border: 1px solid #A6C9E2;
}
.page_input .ui-icon { display:inline-block;vertical-align:top;margin: 1}


.page_prev>em{			background-position: -320px -185px}
.page_prev>a>em{		background-position: -320px -161px}
.page_prev>a:hover>em{	background-position: -320px -209px}
.page_next>em{			background-position: -320px -258px }
.page_next>a>em {		background-position: -320px -234px}
.page_next>a:hover>em {	background-position: -320px -282px}



/* main */


.item_main_panel{
	max-width:600px;
	margin:0 auto;
	padding:0;
	text-align: left;
}


.item_main_box{
	float:left;
	height:350px;
	min-width: 152px;
	width: 33%;
	overflow:hidden;
	margin:0;
	padding:0;
}



.item_main{
	margin: 0 auto 0 auto;
}

.item_main_image, .item_main_image a, .item_main_image img,
.top_week, .top_week a, .top_week img {
	display:block;
	width:150px;
	height:230px;
	margin:0;
	padding:0;
	vertical-align: 50%;
	text-align: center;
}

.item_main_image .item_title{
	height:230px;
}




.item_main_image a{
	text-align: center;
	color:#C4C3C3;
	text-decoration: none;
	margin:0;
	padding:0;
}


.item_main h2{
	width:145px;

}



.item_main .date,.item_main .genre{
	padding:0 2px;
	font-size: 12px;
	color:#c4c3c3;
}
.item_main .genre{
	color:#005081;
}
.item_main .date a{
	color:#c4c3c3;
	text-decoration:none
}

.coll_33{
width:33%;
float:left;
}

.info-panel .star-rating:hover, .post-wrap .star-rating:hover, .torrent-info .star-rating:hover, .film-info .star-rating:hover{
	background-color:white;
}

.self-post .star-rating{
	background-color: #DDFFEE !important;
}

.fav_stars .star-rating:hover{
		background-color:white !important;
}

.star-rating{
	position: relative;
	width: 125px; /* Ширина всего рейтинга*/
	height: 25px;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	background-position: -20px -520px;	/* Фоном будет являться "пустая" звездочка */
}

.star-rating li{
	display: inline;	/* Элементы списка пойдут друг за другом. */
	padding: 0 !important; /* fix для менюшек */
}

.star-rating a,
.star-rating .current-rating{
	position: absolute;
	top: 0;
	left: 0;
	text-indent: +1000px;	/* Уберем текст за пределы видимости */
	height: 25px;
	line-height: 25px;
	outline: none;
	overflow: hidden;
	border: none;
}
.star-rating a{
	background-position: -20px -700px;	/* При наведении мышки и т.д. фоном будет нижняя часть картинки, а именно "подсвеченная" звездочка */
}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus{
	background-position: -20px -570px;	/* При наведении мышки и т.д. фоном будет нижняя часть картинки, а именно "подсвеченная" звездочка */
}

/* Зададим стили для каждой звездочки */
.star-rating a.star-1{width: 10%;z-index: 11}
.star-rating a.star-2{width: 20%;z-index: 10}
.star-rating a.star-3{width: 30%;z-index: 9}
.star-rating a.star-4{width: 40%;z-index: 8}
.star-rating a.star-5{width: 50%;z-index: 7}
.star-rating a.star-6{width: 60%;z-index: 6}
.star-rating a.star-7{width: 70%;z-index: 5}
.star-rating a.star-8{width: 80%;z-index: 4}
.star-rating a.star-9{width: 90%;z-index: 3}
.star-rating a.star-10{width:100%;z-index:2}

/* Текущий рейтинг выше всех и имеет в качестве фона "нормальную" звездочку */
.star-rating .current-rating{
	z-index: 1;
	background-position: -20px -545px;
}
/* CSS для код для рейтинга, который расположен в тексте */
.inline-rating{
	display: -moz-inline-box;	/* Для поддержки кроссбраузерности */
	display: inline-block;
	vertical-align: middle;
}
.inline-rating:hover{
	background-color: #000000;
}

/* CSS для код для маленького рейтинга */
.small-star{
	background-position: -145px -520px;	/* Фоном будет являться "пустая" звездочка */
	width:50px;
	height:10px;
}

.small-star a:hover,
.small-star a:active,
.small-star a:focus{
	background-position: -145px -540px;
	line-height: 10px;
	height: 10px;
}
.small-star .current-rating{
	z-index: 1;
	background-position: -145px -530px;
}



.user_menu1{
	float: right;

}

/* список фильмов */
.list{
	width:100%
}
span.header{
	color:#065484;
	font-size:12px;
	font-weight:bold;
}

.list td,.list th{
	padding: 0 0 0.83em 0;
}

.list tbody tr{
	vertical-align:top;
}

.list th,.list th a, h1 {
	margin: 1em 0;
	text-align:left;
	color:#025080;
	font-weight:normal;
	text-decoration:none;
	font-size: 1.5em;
	padding: 0.2em 0.5em;
}



.list p{
	padding: 5px 0
}
.ad, .ad_block{
	text-align:center;
}

.bottom{
	vertical-align: bottom;
}
.float_right{
	float: right;
	text-align: right;
}
.float_right span{
	padding: 0px 0 8px 0;
}

.float_left{
	float: left;
	text-align: left;
}

.margin{margin:10px}
.margin_l,	.margin_lb,	.margin_lt{margin-left:10px}
.margin_r,	.margin_rb,	.margin_rt{margin-right:10px}
			.margin_lb,	.margin_rb{margin-bottom:10px}
.margin_t,	.margin_lt,	.margin_rt{margin-top:10px}

.margin_b {margin-bottom:25px}



.spoiler-wrap{ border: 1px solid #D7D7D7}
.smilies-wrap{ background-color:#EEEEEE; border:1px solid #3C78B5}


.spoiler-title,.spoiler-init{margin: 1px; font-weight:bold; font-size:13px; background-color:#fff}
.spoiler-text{padding: 1px; border-top: 2px solid #D7D7D7; background-color: whiteSmoke}

.genre-title em, .spoiler-title em, .spoiler-init em, .review-title em{margin: 2px 5px 2px 2px; background-position: -60px -440px; float:right;width:13px;height:13px}
.spoiler .genre-title em, .spoiler .spoiler-title em, .spoiler  .spoiler-init em, .review-spoiler .review-title em{background-position: -40px -440px}

.genre-wrap{
	margin:2px 0;
	border-bottom:
	1px dotted #D7D7D7;
}
.spoiler .spoiler-text, .spoiler .genre-text{display:none}

.buttonpane{
	margin:10px;
/*	float:right; */
}

.field-wrapper{
/*	clear:both;		*/
	padding: 5px 0;
	margin: 0 5px;
	border-bottom: 1px solid #a6c9e2;
}

.field-wrapper label{
	/* float:left; */
	display:inline-block;
	width:179px;
	margin:2px;
	padding:4px 0;
	text-align:right;
}
.field-wrapper .helptext{
/*	clear: left;	*/

	display:block;
	margin:5px;

	margin-left:180px;
	text-align:left;
	font-size: 11px;
}
.field-wrapper input{
	height:14;
	padding:2px;
	font-size: 11px;
}

.required{
	/* float: left; */
}

.field-wrapper ul{
	margin: 0 0 0 190px;
	padding: 0;
	list-style: none;
}
.field-wrapper li label{
	margin: 0;
	padding: 0;
}

.field-wrapper li label{
	float: none;
	width:auto;
	margin:2px;
	padding:4px 0;
	text-align:left;
}


.widget-header {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	min-height: 17px;
	text-align: center;
	line-height: 14px;
	margin: 0px;
	padding-bottom: 3px;
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 5px;
	border: 0px !important;
}

.widget-footer{
	font-size: 11px;
	font-weight: bold;
	height: 17px;
	line-height: 14px;
	margin: 0px;
	padding-bottom: 3px;
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 5px;
	border: 0px !important;
}

.border-top{ border-top: 1px solid #a6c9e2; margin: 10px 0}
.border-top:first-child{ border-top: 0px solid #ffffff}
.border-bottom{ border-bottom: 1px solid #a6c9e2; margin: 10px}
.border-bottom:last-child{ border-bottom: 0px solid #ffffff}


.post-wrap{ font-size:11px;  clear: right; overflow:hidden; padding: 5px 0;  margin: 0 5px; border-bottom: 1px solid #a6c9e2}
.post-wrap:last-child{border-bottom: 0px}

.post-profile{float:left;width:110px;text-align:center}
.post-nav{float:right}
.post-info {margin-left:110px; margin-top:0.83em}
.post-text{ font-size:13px; margin:5px 0 0.83em 115px; min-height:40px;vertical-align: baseline}
.user-post-text{ font-size:13px; margin:5px; vertical-align: baseline}

#post_list_wrapper .post-text{ min-height:140px}
.post-text img{vertical-align: baseline}
.post-text::selection, .post-text ::selection {color: #ff0; background:  #555}
.post-sign{ margin-left:110px;vertical-align:bottom;padding-top:20px;color: #999}


.friends-post, .friends-post .user_controll {background:#FFFFDD}
.ignore-post .post-text, .ignore-post .post_date, .ignore-post .avatar, .ignore-post .avatar-info{ opacity: 0.3}
.ignore-post  .post-sign{display: none}

.self-post, .self-post .user_controll {background:#DDFFEE !important}


.post-status{float: right;color: #DD0000;font-size: larger}
.post-mark{background:#FFE3E3}


.post-text{overflow:visible}
.personalText{width: 100px; overflow:hidden}

.trailer-nav{float:right}
.review-karma, .review-is-spoiler{float:right; border: 1px solid #D7D7D7; padding:5px; margin:5px;background: #FFFFFF; border-radius: 5px}

.float-title {clear:none; float:right; width:470px;  padding: 0}



.review-spoiler .review-text{display:none}
.review-hide-spoiler .review-is-spoiler{display:none}
.review-alert{display:block; color:#EE0000; font-size: 14px}
.review-hide-spoiler{border-width: 2px}
.review-not-allowed-wrap{border: double #f00 4px}
.review-not-allowed{color: #f00; font-size: 20px; text-align: center}
.review_moderator{margin: 0 0 1.25em 0; padding: 0.83em;border-bottom:1px solid #DDD}
.review_messages{margin: 0;padding-left: 30px}

.karma-0{background:transparent}
.karma-1{background:#DAF1DB !important}
.karma-2{background:#FFE3E3 !important}


.addthis_toolbox1 {
	padding: 0px;
	z-index: 10;
	margin: 0 -5px -20px  -10px;
/*
	transform: scale(0.63);
	width: 160%;
	margin-left: -30%;
	margin-top: -30%
*/
}
.addthis_toolbox1 em.ic-icon {
	display: inline-block;
	transform: scale(0.63);
	position: relative;
	top:-6px;
	left:-6px;
	margin-right: -15px !important;;
}



.addthis_toolbox1 .ic-icon {
	opacity: 1;
	margin: 0 !important;
	padding: 0 !important;
}

.addthis, .addthis:hover,.addthis:link {
	display: inline-block;
	padding: 0 !important;;
	margin:1px 1px !important;
	border-radius:6px;
	height: 20px;
	min-width: 20px;
	font-size:12px;
	text-decoration:none;
	background-color: white;
	color: white;
}
.addthis i {
	font-style:normal;
	display: inline-block;
	padding: 0 3px 0 5px !important;
	position: relative;
	top:-17px;
}

.blogger-submit{
	display: none;
}


.addthis.add-facebook{ background-color: #4c67a0;}
.addthis.add-vk{ background-color: #6888a4;}
.addthis.add-ok{ background-color: #f79434;}
.add-vk .ic-icon, .add-ok .ic-icon, .add-facebook .ic-icon{ width: 28px;margin-right: 4px !important;}


.addthis_code1 {
	position: relative;
	height: 1px;
	width: 1px;
	overflow: visible;
}
#addthis_code_wrap {
	position: absolute;
	margin-top:-15px;
	margin-left:300px;
	width:300px;
	z-index: 10;
	border-radius:4px;
	left:0;
	padding: 1px 3px;
	border: 2px solid rgba(166, 201, 226,0.5);
	background: white;
	z-index: 10;
}



.addthis_toolbox {
	position:fixed;
	top:30%;
	width:33px;
	border-radius:4px;
	left:0;
	padding: 1px 3px;
	border: 1px solid rgba(166, 201, 226,0.5);
	background: rgba(255,255,255,0.5);
	z-index: 10;
	height: 250px;
}


.addthis_toolbox noindex{
	width:1px;
	height: 20px;
	overflow: visible;
	display: block;
}


.addthis_code{
	background: rgba(255,255,255,0.5);
	z-index: 10;
}

.ic-icon {cursor:pointer; height:32px; width:32px; display:block; margin: 3px 3px 3px 0; padding:0;border-radius:5px;}
.ic-mail,.ic-login,.ic-mtorrent,.ic-rss{
	height:30px;
	width:30px;
	text-indent:0;
	float: right;
	margin: 0px 0px 0px 10px;
	opacity: 1;
}

.ic-mail{
	padding-top: 20px;
	overflow: visible;
}
.ic-mail b{
	margin-right: -5px;
	padding: 1px 5px;
	color: red;
	background: black;
	border-radius: 100%;
}

img.ic-login {border-radius:6px}

.orange_search  .ic-login {
	float:none;
	margin: -5px 10px;
	padding: 0;
}


.info_toolbox {
	right:5px;
	top:5px;
	position:fixed;
	font-size: 12px !important;

}
/*
.info_toolbox p{
	color: #000000;
}
*/
.addthis_code {position:fixed; top:30%; left:40px; width:1px; height:1px; overflow:show}
.addthis_code #addthis_code_box {border:1px solid #DDD; background:#eee; border-bottom-left-radius:4px 4px; border-bottom-right-radius:4px 4px; border-top-left-radius:4px 4px; border-top-right-radius:4px 4px; padding:5px 5px; width:300px; background:#eee; display:block;z-index:10;}
.cb_result_show{width:300px; background:#fff}

.cb_links {float:left; font-size:11px; list-style-type:none; padding:8px 0px; width:113px}

.width600px{
	width:600px!important;
}
.width100pct{
	width:100%;
}

.slideshow>img{
	width:152px;
	height:110px;
	background:transparent url(./images/indicator.gif) center center no-repeat;
	border:0px solid #fff;
}

.slideshow img,.slideshow1 img, .box img, .image_file img{ cursor: -webkit-zoom-in}
.slideshow img,.slideshow1 img, .box img, .image_file img{ cursor: -moz-zoom-in}
.slideshow img,.slideshow1 img, .box img, .image_file img{ cursor: zoom-in}

.nominee-winner a.image_file img{ cursor: pointer! important}

.markItUp {
	width:100% !important;
	margin:0 !important;
}

.my-state-default { border: 1px solid #d7d7d7; background: #FFFFFF; font-weight: normal}
.gren_search .ui-button-text{ color: #FFFFFF}

.counter{
	display:inline;
	margin: 0 !important;
	padding: 0 !important;
}
.cyberhead{
vertical-align:middle !important;
}
.cyberhead_text,.cyberhead_text a,.cyberhead_text a:hover  {
	color:#5D7A80;
	font-size:0.83em;
	font-weight:normal;
	text-decoration:none;
}
.cyberhead_url , .cyberhead_url a {
	color:#777560;
	font-weight:normal;
	text-decoration:none;
}
.cyberhead_url a:hover  {
	text-decoration:underline;
}

/*
.external {
	background-image:url(./images/external.png);
	background-position:0 60%;
	background-repeat:no-repeat;
	padding-left:12px;
}
*/
#tooltip {
	position: absolute;
	z-index: 3000;
	width:250px;
	border: 1px solid #269;
	background-color: #48b;
	padding: 0;
	opacity: 0.85;
	color:#fff;
	border-radius:5px;
}
#tooltip h3 {
	background-color: #269;
	padding-left:5px;
	font-weight:bold;
	font-size:1.4em;
	margin:0;
}
#tooltip div {
	padding-left:5px;
	padding-right:5px;
}
.loading {
	background-image:url(../images/indicator.gif);
	background-position:0 50% !important;
	background-repeat:no-repeat !important;
	padding-left:12px !important;
}
.loading1 {
	background-color:transparent;
	background-image:url(../images/indicator.gif) !important;
	background-position:100% 0 !important;
	background-repeat:no-repeat !important;
}

/* footer */
#footer .wrap{
	padding: 25px 0 0 20px;
}


.foot-logo, .foot-logo a{
	text-indent: -600px;
	display:block;
	float:left;
	height:50px;
	width:170px;
	overflow:hidden;
}

.counters{
	float: left;
	margin: 12px 0 0 0;
	height:31px;
}

.counters .counters{
	margin:0;
}

.counters .ad{
	float: right;
}

.footer-menu{
	height:20px;
	width:600px;

	margin-top:20px!important;
	float:left;
}
.footer-menu a{
	color: #fff;
	text-decoration:none;
}


/* online_url */
#online {color:#fff;font:18px/24px Tahoma;margin:1.25em 5px;text-align:center}
#online a,
#online a:active,
#online a:focus,
#online a:link{color:#fff;font:18px/24px Tahoma;text-decoration:none}

#online:hover{text-decoration:underline}
#online p {	padding: 0;	margin: 0}
#online_box a img { border: 0}
#online_box {
	border:2px solid #f7b191;
	margin:20px auto;
	overflow:visible;
	position:relative;
	text-align:left;
	width:570px;
	border-radius: 0.83em 0.83em;

}


#download_box {
	border-radius: 0.83em 0.83em;
}


/* Заголовок торрентов - удалить попосже*/
.upload {
	width:100%;
	border-bottom:1px solid #a6a6a6;
	border-collapse: collapse;
}

.upload tr.header, .upload tr.header th{
	padding:0;
	margin:0;
	height:47px;
	line-height:20px;
	overflow:hidden;
	background: #44b9eb url(../images/upload_bg.gif) top repeat-x;
}
.upload tr.header th img{
	padding-top:0.83em;
}

.upload th{
	padding:2px;
	border-left:1px solid #d7d7d7;
	vertical-align:middle !important;
	text-align:center;
	border-right:1px solid #fff;

	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color:#fff;
}

.upload th.left{
	background: transparent url(../images/upload_left.gif) left top no-repeat !important;
	border-left-width:0;

}

.upload th.right{
	background: transparent url(../images/upload_right.gif) right top no-repeat !important;
	border-right-width:0;
}

.upload td{
	padding:2px;
	border:1px solid #d7d7d7;
	vertical-align:middle;
	text-align:center;
}

.box{
	padding:1.25em 0 !important;
	border:1px solid #d7d7d7;
	background-color:#EEEEEE;
}

.box img, #tab_scene img{
	margin: 7px;
}

.box_bg{
	height:14px;
	padding:0 !important;
	background: transparent url(../images/box_bg.jpg) top repeat-x;
}


/* строка торрента - Удалить попосже */
.torrent-row, .resources-row{
	font-size: 11px;
	border-bottom:1px solid #d7d7d7;
	border-right:1px solid #d7d7d7;
}

.torrent-row table{
	font-size: 11px;
	border-left:1px solid #d7d7d7;
}

.torrent-info{
	border-top:1px solid #d7d7d7;
	border-left:1px solid #d7d7d7;
}


/* Заголовок торрентов */
div.upload-header div.upload1 {
	display:table;
	width: 100%;
}
.upload-header>div, .upload1>div{
	display:table-cell;
}


.upload-header {
	background: #44b9eb url(../images/upload_bg.gif) top repeat-x;
	height:47px;
	text-align:center;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color:#fff;
	border-radius: 6px 6px 0 0 ;
}

.upload1 {
	margin:0;
	padding:0;
	height:auto;
}

.upload-header>div{
	overflow:hidden;
	border-left:1px solid #fff;
	vertical-align:middle;
	height:47px;
}

.upload1>div{
	height:35px;
	vertical-align:middle;
	text-align:center;
	border-left:1px solid #d7d7d7;
}

.upload-header .c1{width:68px;border-left:0px}
.upload1 .c1{width:67px}
/*
.upload-header .c6, .upload1 .c6{width:55px}
.upload-header .c2, .upload1 .c2{width:205px}
.upload-header .c10, .upload1 .c10{width:110px}
* */

.upload-header .c6, .upload1 .c6{display:none}
.upload-header .c2, .upload1 .c2{width:260px}
.upload-header .c10, .upload1 .c10{width:165px}

.upload-header .c3, .upload1 .c3{width:80px}
.upload-header .c4, .upload1 .c4{width:91px}
.upload-header .c5, .upload1 .c5{width:55px}
.upload-header .c7, .upload1 .c7{width:60px;}
.upload-header .c9, .upload1 .c9{width:95px}

.upload-header .c12, .upload1 .c12{width:180px}
.upload-header .c17, .upload1 .c17{width:16px}
.upload-header .c18, .upload1 .c18{width:360px}


.upload-header .c1{border-right:0px none #fff}
.upload1 .c1{border-left:0 none #d7d7d7 !importamt}
.upload1 .c11{font-weight: bold}
.upload1 .c12{font-weight: bold;border-left-width:0px}
.upload1 .c12 b{color: #CC6600}
.upload1 .c17{vertical-align: top}
.upload1 .c18{vertical-align: top}








/* строка торрента */
.pointer, .torrent-row>div.upload1>div, .resources-row>div.upload1>div{
	cursor: pointer;
}

.pointer-orange{
	color:#E78F08;
	font-weight:bold;
	cursor: pointer;
}

.pointer:hover, .pointer-orange:hover {
	color:#990000;
}


.sortable{
	cursor:pointer;
}

.sortable em{
	width: 0.83em;
}

.descending em:after{
	content:"▲";
}

.ascending em:after{
	content:"▼";
}



blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
blockquote
{
border:1px solid gray;
background:#EEEEEE;
padding:5px;
margin:0px;
}

.author{
display:block;
margin:0;
}
.author em{
padding:1px;
background:#EEEEEE;
border:1px solid gray;
border-width: 1px 1px 0 1px;
}


/* список фильмов */
.list{
	width:100%
}
span.header{
	color:#065484;
	font-size:12px;
	font-weight:bold;
}

.list td,.list th{
	padding: 0 0 0.83em 0;
}

.list tbody tr{
	vertical-align:top;
	height:1%;
}
.list th,.list th a, h1 {
	margin: 1em 0;
	text-align:left;
	color:#025080;
	font-weight:normal;
	text-decoration:none;
	font-size: 1.5em;
	padding: 0.2em 0.5em;
}

.list p{
	padding: 5px 0
}
.ad, .ad_block{
	text-align:center;
}


.bottom{
	vertical-align: bottom;
}
.float_right{
	float: right;
	text-align: right;
}
.float_right span{
	padding: 0px 0 8px 0;
}





/* forum */
.hidden, .hidden_genre, .hidden_tv{
	display:none;
}


.vote{
	width:100%;
}


.vote tr.header, .vote tr.header th{
	vertical-align:top;
	padding:0;
	margin:0;
	height:31px;
	line-height:12px;
	background: #44b9eb url(../images/vote_top.gif) top repeat-x;
}

.vote tr.header th img{
	margin-top: 8px;
}



.vote tr.header th.left{
	background:  #44b9eb url(../images/vote_top_left.gif) left top no-repeat !important;
}
.vote tr.header th.right{
	background:  #44b9eb url(../images/vote_top_right.gif) right top no-repeat !important;
	border-right-width:0
}
.vote tr.header th.center{
	color:#fff;
	font-family:Tahoma;
	font-size:12px;
	line-height:30px;
}

.vote tr.footer, .vote tr.footer th{
	vertical-align:top;
	padding:0;
	margin:0;
	height:31px;
	line-height:31px;
	background: #4da8d0 url(../images/vote_bottom.gif) bottom repeat-x;
}
.vote tr.footer a, .vote tr.footer table{
	padding:0;
	margin:0;
	font-size: 11px;
	height:20px;
	line-height:20px;
	color:#fff;
}
.vote tr.footer th.left{
	background: transparent url(../images/vote_bottom_left.gif) left bottom no-repeat !important;
}
.vote tr.footer th.right{
	background: transparent url(../images/vote_bottom_right.gif) right bottom no-repeat !important;
	border-right-width:0
}

.vote td{
	padding:2px;
}


td.post,td.post1{
	background:transparent url(../images/upload_border.gif) right  repeat-y;
	padding:2px;
	vertical-align:top;
	text-align:left;
}


.social{
	width: 	50%;
	height:	130px;
	min-width: 320px;
	float: left;
}
.social .wrap{
	border: 1px;
	margin: 5px;
	height:	120px;
	border: 1px solid #a6c9e2;
	border-radius: 10px;
}


.social-profile {
	width: 	120px;
	height:	110px;
	margin: 7px 0 0 7px;
	text-align: center;
	overflow: hidden;
	float: left;
}

.social-controll{
	min-width: 	160px;
	height:	110px;
	float: left;
	padding: 10px 0;
}

.social-profile .avatar{
	margin:auto;
	width: 100px;
	height: 100px;
}

.social-profile img{
	max-width: 	100px;
	max-height:	100px;
}

.social-profile .ic-icon{
	height: 32px;
	width: 32px;
	margin-top:-25px;
	position:relative;
	z-index: 10;

}


.collection-head img, .collection-item-wraper img{
	vertical-align:middle !important;
	text-align:center;
	background:transparent url(../images/noavatar.gif) center  no-repeat;
	line-height:60px;
	border-radius: 4px;
	margin: 0 5px;
}

.avatar img{
	line-height:65px;
	background: white;
	border-radius: 4px;
}

td.profile{
	border:1px solid #d7d7d7;
	border-width:1px 0 1px 1px;
}
td.perms, td.signature{
	border:1px solid #d7d7d7;
	border-width:1px 1px 1px 0;
	vertical-align:bottom;
}
td.bg{
	border:1px solid #d7d7d7;
	border-width:0 0 1px 0;
}
td.perms{
	text-align: right;
}

td.signature{
	color: #999999;
}

.vote td.left{
	background:transparent url(../images/vote_border.gif) left repeat-y;
}
.vote td.right{
	background:transparent url(../images/vote_border.gif) right repeat-y;
	border-right-width:0
}





.item_main_box1{
	margin:0 0 0 5px;
	float:left;
	height:250px;
	width:170px;
	overflow:hidden;
	margin:0;
	padding:0;
}

.item_main1{
	margin:0 0 0 20px;
}


.item_main_box2{
	float:left;
	height:270px;
	width:170px;
	overflow:hidden;
	margin:0;
	padding:0;
}

.item_main_box3{
	float:left;
	height:330px;
	width:170px;
/*	overflow:hidden;	*/
	margin:0;
	padding:0;
}
.item_info1{
	height:80px;
}


.item_info1 .qa-3d,.item_info1 .qa-hd{
	display: inline-block !important;
}

.page_prev, .page_next{	color: #aaaaaa !important}
.header a{ color: white !important; font-size: 12px!important}

.header .page_prev, .header .page_next{ margin: 0 0.83em}


.tag_list{
	text-align:right;
	font-size:11px;
}

.item_main_box2 .nav-icon,.item_main_box3 .nav-icon{
	margin-left: 0px;
	margin-right: 1px;
	margin-bottom:-4px !important;
}

.online_users{
	margin-bottom: -30px;
}

.post_date{
	margin-left:5px;
}

.genre-title{
	font-weight:bold;
	font-size:13px;

}
.list .bottom{
	font-size:11px;
}

th label{
	font-size:13px;
}

.list .ad{
	width:600px;
	margin: 0 auto;
	overflow:hidden;
}

.list p{
	text-align:justify;
	margin-bottom:0;
}

.film_controll span{
	margin:0;
	padding:0;
	height:10px !important;
	line-height: 10px !important;
	overflow:hide;
}

.film_controll li{
	line-height: 10px !important;
}

/*
.overflow_wrap {
	float:right;
	width: 1px;
	overflow: visible;
}
*/

.film_controll{
	float:right;
	vertical-align: top;
	height:16px;
	line-height:16px;
	margin:0;
	padding:0;

	width: 150px;
	text-align: right;
}
.overflow_wrap .film_controll{
/*	position: absolute;	*/
/*	z-index: 5;			*/
	right: 0;
}

ul.errorlist {
	background:#F2F2F2 none repeat scroll 0 0;
	border:1px solid red;
	border-radius: 4px;
	font-weight:bold;
	margin:2px 0;
	padding:2px;
	text-align:center;
}

.errorlist li {
	display: block;
	padding: 4px 5px 4px 25px;
}

.errors {

}

.errors input, .errors select , .errors textarea {
	border: 1px solid red !important;
}


@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	.top-search .wrap {margin-top:13px}
}
/* award */


.award-wrap, .ceremony-wrap, .nominee-wrap{
	padding:5px 0;
	margin:0 5px;
}

.award-wrap, .ceremony-wrap{
	min-height: 100px;
}

.award-list .award-wrap, .ceremony-list .ceremony-wrap{
	border-bottom: 1px solid #A6C9E2;
}
.ceremony-wrap{
	min-height:120px;
}
.ceremony-list :last-child{
	border-bottom: 0px !important;
}

.award-wrap .image_file img,
.post-wrap .image_file img{
	margin: 5px;
	padding: 0;
	outline: 1px solid #A6C9E2;
	width: 59px;
	height: 82px;
	display:block;
	float:right;
}


.award-wrap h2, .award-wrap h2 a,
.nominee-wrap h2{
	float:left;
	width:400px;
}


.ceremony-wrap h2, .ceremony-wrap h2 a{
	margin:0 0 5px 0;
	float:left;
	width:280px;
}
.post-wrap .text{
	margin:0.83em 0;
	font-size: 12px;
	text-align:justify;
	text-align-last: left;
}
.award-wrap .text,
.ceremony-wrap .text{
	margin-right:85px;
	text-align:justify;
	text-align-last: left;
}
.ceremony-wrap .full_text,
.award-wrap .full_text{
	width: 100%;
	text-align:justify;
	text-align-last: left;
}


.award-wrap .place,
.ceremony-wrap .place{
	font-size:0.83em;
	color:#555;
	margin:0 0 5px 0;
}

.ceremony-wrap .image_file img{
	outline: 1px solid #A6C9E2;
	width:75;
	height:115;
	display:block;
	float:right;
}
.ceremony-wrap .best_film{
	font-size:13px;
	margin-top:1.25em;
}
.ceremony-wrap .best_film a, .nominee-winner a{
	font-weight: bold;
	text-decoration: none;
	font-size:13px;
	margin-top:1.25em;
}

.award-images{
	float:right;
	width:160px;
	padding-left:0.83em;
}

.nominee-winner .image_file img{
	outline: 1px solid #A6C9E2;
	width:75;
	height:115;
	display:block;
	float:left;
	margin:0.83em;
}

.nominee-winner{
	padding:5px 0;
	margin:1px 5px;
	height:135px;
	background-color:#eee;

}
.nominee-wrap{
	margin-left:100px;
}
.nominee-sub{
	font-size:14px;
	color:#555;
	margin:5px;
}
.nominee-list h2{
	font-size:14px;
	color: #005081;
	margin:1.25em 5px 5px 5px;
}

.ceremony-history{
	float:right;
	width:50px;
}
.ceremony-history p{
	padding-top:0.83em;
	text-align:center;
}
.nominee-list{
	margin-right:70px;
}

.nomination-list{
	float:right;
	width:100px;
	text-align:center;
}
.ceremony-list-wrap{
	margin-right:120px;
}

.fix-width, #collection_wrap, #award_wrap{
	max-width: 100%;
	overflow: hidden;
	clear: right;
}



#award_wrap td, #collection_wrap td {
	vertical-align:middle;
	padding: 0 2px;
}

#award_wrap img, #collection_wrap img, #tab_scene img, .box img {
	background: url(../images/indicator.gif) #FFFFFF 50% 50% no-repeat;
}



ul.order-menu{
	height: 30px;
	margin-left: 20px;
}
.order-menu li{
	height: 30px;
	margin-left:3px;
	float: left;
}

.order-menu li a{
	font-weight:bold;
	text-decoration:underline;
	text-align:center;
/*	float: left; */
	display: inline-block;
	height: 30px;!important;
	padding:0 2px 0 0.83em!important;
	line-height:30px;
	/* min-width:60px; */
}
.order-menu li em{
	float: right;
	display: block;
	border:#f00 silid 1px;
	height: 30px;
	width: 0.83em;
}


.order-menu li.selected a{
	color: white;
	text-decoration:none;
	background-position: 0 -600px;
	cursor:default;
}
.order-menu li.selected em{
	background-position: 100% -600px;
	cursor:default;
}

.mod_sort{
	width: 100%;
}
.mod_sort li{
	margin: 0 3px !important;
}

.download-button, .watch-button, .watch-button1{
	height:18px;
	width:51px;
	display: inline-block;
	margin:0px;
	text-indent:10000px;
	overflow:hidden;
	background-position: -241px -440px;
}




.watch-button{
	background-position: -211px -510px;
}
.watch-button1{
	background-position: -211px -491px;
}


.fo-icon{
	height:22px;
	width:22px;
	line-height:22px;
	display: inline-block;
	margin:0px;
	text-indent:10000px;
	overflow:hidden;
}

.fo-glob  {background-position: -296px -440px}
.fo-lock  {background-position: -296px -462px}
.fo-new   {background-position: -296px -484px}
.fo-normal{background-position: -270px -462px}
.fo-stik  {background-position: -270px -484px}

.new{
	height:9px;
	line-height:9px;
	width:23px;
	background-position: -160px -386px;
}

.copyright-problem {
	vertical-align:top;
	background-position: -268px -510px;
	height:59px;
	line-height:59px;
	width:50px;
}

.copyright-text{
	vertical-align:top;
	display: inline-block;
	font-style:none;
	height:59px;
	line-height:59px;
	margin-right: 0.83em;
}

.float_right .copyright-problem {
	float: left;
	background-position: -290px -570px;
	height:30px;
	line-height:30px;
	width:25px;
	margin-top: -7px;
	margin-bottom: -7px;
}


.coming_soon{
	color:#d00;
	font-weight:bold;
}
.top_week{
	width:150px;
	height:250px;
	float:left;
}
.top_week_wrap{
	margin:0 0 0.83em 160px;
	height:205px;
	overflow:hidden;
}

.karma_update{
	cursor:pointer;
}

.found_highlight{
	padding: 0pt;
	background-color: yellow;
	color: black;
	display: inline;
	font-size: inherit;
}

.post-title a,.post-title a:hover,.post-title a:link{
	color: #005081 !important;
	font-size: 110%}
.post-title{
	margin-bottom: 0.83em;
}


.switch-button-label {
	float: left;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

.switch-button-label.off {
	color: #adadad;
}

.switch-button-label.on {
	color: #579100;
}

.switch-button-background {
	float: left;
	position: relative;

	background: #ffffff;
	border: 1px solid #a6c9e2;

	margin: 1px 0.83em;

	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;*/
	border-radius: 4px;

	cursor: pointer;
}

.switch-button-button {
	position: absolute;

	left: -1px;
	top : -1px;

	background: #05659e url(./../css/custom-theme/images/ui-bg_highlight-hard_100_05659e_1x100.png) 50% 50% repeat-x;
	border: 1px solid #a6c9e2;

	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;*/
	border-radius: 4px;
}
.switch_wraper{
	margin: 5px;
}
#date-scale,#rating-scale{
	font-size: 11px;
}





hr {
	border: none; color: #a6c9e2; background-color: #a6c9e2; height: 1px; margin: 5px 0 5px 0;
}


.ui-dialog{
	max-width: 95%;
}

.ui-dialog-content hr{
	margin: 5px -11px 5px -11px;

}

/* Меню на странице коллекций */
.collection-menu {
	margin: 0 0 0 14px;
	float: left;
	width: 153px;
}


.collection-menu-active>a{
	margin: 0 -1px -1px -1px !important;
	border: 1px solid #d7d7d7 !important;
	background: #05659e url(./../css/custom-theme/images/ui-bg_highlight-hard_50_05659e_1x100.png) 50% 50% repeat-x;
	color: #ffffff !important;
}

.collection-menu-active>a>span{
	background-image: url(./../css/custom-theme/images/ui-icons_ffffff_256x240.png) !important;
}

.collection-list .nav-icon {
	margin-top: -3px;
}

.ui-menu .nav-icon {
	margin-bottom: -3px;
	width: 16px !important;
}

.ui-state-highlight{
	font-size: 11px;
	line-height:16px;
	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;*/
	border-radius: 4px;
	padding: 5px;
}

.ui-state-highlight p{
	margin: 0px;
}

.ui-state-highlight .ui-icon{
	float: left;
	margin-right: 3px;
}

/*
.sortable input {
	width: 16px !important;
	height: 12px !important;
}
*/

/* Меню на странице фильмов */
.film-menu {
/*	margin: 0 0 -20px 0px; */
	width: 110px;
	height: 16px !important;
	line-height: 16px !important;
	float: right;
}

.film-menu ul{
	z-index: 10;
}

.film-menu .nav-icon{
	margin-left: -2px;
	margin-right: 3px;
}

.film-menu li, .film-menu a, .film-menu .ui-icon{
	text-align: left;
	line-height: 16px !important;
	height: 16px !important;
}

.film-menu li{
	height: 20px !important;
}
.fix {
	margin-top: -2px !important;
}

.is-chrome .fix {
	margin-top: -18px !important;
}


/* коллекции */
.collection-wraper blockquote{
	/*-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
	border-radius: 4px;
	border: 1px solid #a6c9e2;
}

.collection-wraper{
	padding: 11px 1.25em;
}


.collection-wraper .user-collection-head{
	min-height: 100px;
}

.collection-wraper .item_main_box2{
	overflow: visible;
}

.collection-head{

	padding-bottom: 20px;
	border-bottom: 1px solid #a6c9e2;

	min-height: 70px;
}


.collection-list-wraper{

}
.collection-item-wraper{
	padding: 5px 0;
	margin: 0 5px;
	border-bottom: 1px solid #a6c9e2;
	min-height: 70px;
}
.collection-item-head, .collection-item-head a,.collection-item-head a:hover,.collection-item-head a:link {
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	color: #005081;

}
.collection-item-head a big{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

.collection-item-info{
	font-size: 0.83em;
}

/* Меню для элемента коллекции */
.collection-wraper .collection-menu{
	margin-left: 1.25em;
	z-index: 20 !important;
}


#date-indicator input{
	width: 40px;
}
#rating-indicator input{
	width: 25px;
}
#date-indicator input, #rating-indicator input{
	height: 14px;
	margin-bottom:-6px;
	font-weight:bold;
/*	border: 1px solid #a6c9e2; */
	border: 1px solid #EDF4F9;
	/*-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
	border-radius: 4px;
	text-align: center;
}


.collection_publish{
	width: 510px;
	height: 30px;
}


.collection-item-wraper .collection_control{
	width: 160px;
}

.collection_control .rating{
	float: left;
	margin: 0 5px;
	background: #579100 url(./../css/custom-theme/images/ui-bg_highlight-soft_100_579100_1x100.png) 50% 50% ;

	padding: 1px 4px;
	border-radius: 4px;

	color:#FFFFFF;
	font-weight:bold;
}
.collection_control .star-rating, .collection_control ul {
	float: left;
	margin: 0 5px;
	vertical-align: top;
}



.collection_control a{
	cursor: pointer;
	float: right;
}


.trailer-text{
	margin: 0.83em -5px 0.83em -5px;
}
.trailer-info{
	margin: 0.83em -5px 0px -5px;
	font-weight: bold;
}



.tag_confirm{
	float:right;
	height: 1px;
	overflow: visible;

}


.tag_confirm_inner{
/*	position: absolute;	*/
	z-index: 5;
	top; 0;
	right:0;
}



.tag_confirm_inner div{
	display: block;
	clear: both;
	overflow: visible;

	background-color: rgba(255, 240, 240, 0.5);
	border:1px #f00 solid;
	border-radius: 4px;
	padding: 2px 5px;
	margin-bottom: 4px;

	text-align: right;

}


.higgen_film{
	padding: 3px !important;
	min-height:0.83em !important;
	background:#F8F7F2;
	background-color: #FFF0F0;
	border: 0px #f00 solid;
	border-radius: 4px;
}

.border {
	border: 1px solid #05659E;
}

.film-list{
/*	max-width: 600px; */
	margin: 10px 0;
}

.film-list .film-item{
	padding:0;
	margin-bottom: 20px;
	min-height: 230px;
}

.film-item .film-genre{
	clear: right
}
.film-item .film-genre div, .film-item .film-genre p{
	padding: 5px 0;
}


.film-item .film-genre strong{
	color:#065484;
	font-size:12px;
	font-weight:bold;
}


.film-genre a, .film-genre a:hover, .film-genre a:link {color:#005081}

.film_controll>em,.film_controll>a>em{
	margin: 2px;
}

.film-item .film_controll{
	margin-top: 21px;
	width: 230px;
	margin-left: -230px;
}
 .film_page .film_controll{
	width: 230px;
}

.film-info{
	float: right;
	line-height: 14px;
	vertical-align: middle;
}

.film-item .film-info em{
	line-height: 14px;
}


.film-item h2 {
	margin:0;
	font-size: 13px;
	line-height: 18px;
/*	width: 300px; */
}

.film-item .film-wrap {
	margin-left: 160px;
}

.film-item .film-image {
	margin-left: -160px;
	float: left;
}

.film-image {
	width:150px;
	height:230px;
	background: url(./../images/tn-no_foto.gif) 0 0 no-repeat;
}


.film-image img, .film-image a{
	display:block;
	width:150px;
	height:230px;
	float: left;
}

.film-announce{
	padding: 5px 0 0.83em 0;
	text-align: justify;
}

.film-foot {
	font-size: 11px;
}
.film-foot em{
	display: block;
	font-style: normal;
}
.film-downloaded{
	float: right;
	width: 110px;
	padding-top: 14px;
}
.film-download{
	float: right;
	width: 51px;
	padding-top: 8px;
}

.align-l{text-align: left}
.align-r{text-align: right}
.align-c{text-align: center}


.film-item .film-info .copyright-problem {
	float: left;
	background-position: -290px -570px;
	height: 30px;
	line-height: 30px;
	width: 25px;
	margin-top: -7px;
	margin-bottom: -7px;
}


.user_karma{
	width:110px;
	text-align:center;
}
.user_karma .good, .user_karma .bad{
	width: 48px;
	border: 1px solid #a6c9e2;
	cursor: pointer;
	margin:0;
	display: inline-block;
}

textarea{
	border: 1px solid #a6c9e2;
}
.ui-widget-header table{ width:100%}
.ui-widget-table{
	width:100%;
	border: 1px solid #a6c9e2;
	border-collapse: collapse;
	margin-bottom: -1px;
}
.ui-widget-table td {
	padding: 2px;
	border: 1px solid #a6c9e2;
}



.user_karma .good{
	color:#009900;
	border-radius: 4px 0 0 4px;
}
.user_karma .good:hover{
	border-color :#009900;
	background-color:#eeFFee;
}

.user_karma .bad{
	color:#990000;
	border-radius: 0 4px 4px 0;
}
.user_karma .bad:hover{
	border-color:#990000;
	background-color:#FFeeee;
}


#tab_comment, #tab_review, #tab_friends_comment {
	padding: 0;
}


.fun-content-wrap{
	padding:4px;
}

.fun-content{

	margin:0px;
	overflow: hidden;
}

.collection_image{
	float: left;
	margin-right: 0.83em;
	cursor: pointer;

}


.alternative_tab a{text-decoration: none; color: black}
.alternative_wrap{float:left; border: #A6C9E2 1px solid; border-radius:4px; padding: 10px; margin:10px}
a:hover .alternative_wrap{ border: #FCD113 1px solid; background-color: #FDFCEE}

.favorite_link_wrap{margin-left:15px; }
.favorite_link_wrap a{text-decoration: none; color: black}

.favorite_link{
	display: inline-block;
	background-position: 2px center;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	border: #A6C9E2 1px solid;
	border-radius:4px;
	padding: 3px 3px 3px 22px;
	margin:4px;
	line-height: 14px;
	white-space: nowrap;
}
a:hover .favorite_link{ border: #FCD113 1px solid;background-color: #FDFCEE}

.favorite_link em { margin: -4px 0 }



.alternative_wrap tr{vertical-align: middle}
.alternative_wrap td{padding: 0 3px;vertical-align: middle}
.alternative_wrap em{margin-bottom: -2px}

#collection_dialog #collection { min-height: 330px}


#search_toolbar .ui-button-text { padding: .2em 1em !important}
#search_toolbar .ui-button-text .ui-button-text { padding: .0 0 !important}
#search_sort {margin: 0; cursor: pointer}
.text_fix { display: block;margin-top: 3px}


.artist_body a:hover{
	color: #025080;

}

#recommend{
	height: 400px;
}
.recommend_get{
	width: 612px;
}
.recommend_get tr{
	height: 130px;
}
.recommend_get td{
	width: 102px;
	vertical-align:bottom;
}
.recommend_get .avatar{
	position: relative;
	height: 100px;
	overflow: hidden;
}
.recommend_get .avatar img{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}


.render_youtube, .render_kinopoisk{
	text-align:center;
	border: 2px solid #000; /* Параметры рамки */
	opacity: 0.75;

	margin: 1px;

	cursor:pointer;
	max-width: 100%;
	min-width:320px;

	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;

	background-position:center center;
	background-repeat: no-repeat; /* не повторять фон */
	background-size:100% 100%; /* растянуть фон */
	background-size: cover; /* Масштабируем фон */
}

/*
.video{
	max-width: 600px;
	height: 350px;
}
*/





.video-wrap, .image-wrap {
	max-width: 100%;
	min-width:200px;
	margin: 1px;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.image-wrap {
	padding-bottom: 90%;
}

.video-wrap iframe,
.video-wrap object,
.video-wrap embed,
.image-wrap img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



.render_youtube em, .render_kinopoisk em{
	color: #FFF;			/* Параметры ссылки */
	line-height: 350px;
	font-size: 30px;
	text-align:center;
	background: #000;
	padding: 10px 20px;
	border-radius: 10px;
}

.render_kinopoisk{
	max-width: 100%;
	min-width:320px;
	border: 0px;
}
.render_kinopoisk em{
	line-height: 247px;
}



.render_youtube:hover, .render_kinopoisk:hover {
	opacity: 1;
}

.render_youtube:hover em{
	background: #C00;
}
.render_kinopoisk:hover em{
	background: #f60;
}



/*  css менюха  */

ul.dropdown{
	float: right;
	z-index:5;
}



ul.dropdown .fav{
	cursor: pointer;
}


ul.dropdown .nav-icon, ul.dropdown .ui-icon {
	height: 16px !important;
	line-height: 16px;
	vertical-align: middle;
	margin: 0 2px 0 0;
}
ul.dropdown li {
	position: relative;
	margin: 0px;
	padding: 1px;
	display: block;
	line-height: 16px;
	min-height: 16px;
	vertical-align: middle;
	text-align: left;
}

ul.dropdown a{
	text-align: left;
	line-height: 16px;
}


ul.dropdown,
ul.dropdown-inside {
	margin:0;
	padding:0;
	list-style-type: none;
	background: #fff;
}

ul.dropdown-inside {
	z-index:20;

	min-width:160px;
	margin: 0;
	border: 1px solid #a6c9e2;
	border-radius: 4px;
	padding: 0 0 2px 0;
	position: absolute;
	left: -9999px;
	top:18px;
}

ul.dropdown-inside li, ul.dropdown-inside b{
	line-height: 16px;
}


ul.dropdown-inside li.hr, ul.dropdown-inside li.ht, ul.dropdown-inside li.ho{
	margin: 2px 0 2px 0;
	border-bottom: 1px solid #a6c9e2;
	height: 20px !important;
	/* font-weight: bolder; */
	line-height: 12px !important;
}
ul.dropdown-inside li.ho{
	height: 25px !important;
}

ul.dropdown-inside li.ht{
	height: 80px !important;
	font-weight: normal;
}

ul.dropdown-inside li{
	clear:both;
}



ul.dropdown li.dropdown-top {
	background: #fff;
	width:120px;
	float: right;
	border: 1px solid #a6c9e2;
	border-radius: 4px;
	padding: 1px;
	height: 18px;
}

ul.dropdown li.dropdown-top a {
	margin: 0;
	padding: 1px;
	display: block;
	text-decoration: none;
}

ul.dropdown a.dropdown-top {
	margin: 1px;
}

ul.dropdown a.dropdown-top:hover {
	background: #efefef;
}

ul.dropdown li.dropdown-top:hover .dropdown-inside {
	display: block;
	left: -50px;
}

ul.dropdown .dropdown-inside {
	background: #fff;
}

ul.dropdown .dropdown-inside a:hover {
	text-decoration: none;
	background: #efefef;
}


#tab_similarity_header{
}



.similarity_wraper td, .similarity_wraper th{
	padding: 2px 1px;
	vertical-align: middle;
}

.similarity_wraper tr{
	border-bottom: 1px solid #a6c9e2;
}

.similarity_wraper tr table{
	border-top: 1px dotted #a6c9e2;
}
.similarity_wraper tr tr{
	border-bottom: 1px dotted #a6c9e2;
}
.similarity_wraper th{
	text-align: center;
}


.similarity_wraper tr tr:last-child{
	border-bottom: 0px;
}

.slider_wrap .slider{
	margin: 5px 0;
}

#season_accordion p {
	text-indent: 20px;
}


#season_accordion table{
	width: 100%;
	font-size:12px;
	line-height: 16px;
	text-align: bottom;
}

#season_accordion tr{
	border-bottom: solid 1px #A6C9E2;
}

#season_accordion tr:hover{
	background: #DDFFEE;
}

#season_accordion td{
	vertical-align: middle;
}

#season_accordion tr:last-child{
	border-bottom: none;
}

#season_accordion td{
	padding:5px 0;
}


#season_accordion td:first-child{
	width: 60px;
}
#season_accordion td:first-child span{
	font-weight: bold;
	font-size:16px;

}
#season_accordion td span{
	font-size:16px;
}

#season_accordion td:last-child{
	width: 100px;
	text-align: right;
}

.episode_control{
	width: 20px;
}


#season_accordion .hi_light, #season_accordion .episode_control{
	cursor: pointer;
	font-weight: bold;
}

.hi_lighted{
	background: #FFE3E3;

}


span.recommend_count{
	line-height: 16px;
	font-size:   16px;
	vertical-align: top;
	margin: 0 2px;

}

.serial_comment{
	margin: 5px 75px 5px 20px;"
}




.post-wrap table{
/*	width:630px; */
	width:100%;
	font-family: Arial;
	font-size: 12px;
/*	margin: 0px 0px 20px 20px;*/
}
.post-wrap td{
	vertical-align: middle;
	padding: 5px;
	/* border-top: #A6C9E2 1px dotted; */
}
.post-wrap th{
	text-align: left;
	font-weight: normal;
}


.post-wrap table big{
	font-size: 14px;
	font-weight: bold;
}
.post-wrap table span{
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1;
}


.image_border img{
	margin: 5px;
	padding: 0;
	outline: 1px solid #A6C9E2;
	width: 59px;
	height: 82px;
	display:block;
	float:right;
}

.image_border1 img{
	margin: 5px;
	padding: 0;
	outline: 1px solid #A6C9E2;
	width: 75px;
	height: 115px;
	display:block;
	float:right;
}

.favorite-list .post-wrap{
	overflow: visible;
}



.thread-wrap{  font-size:11px; overflow:hidden; padding: 10px 0;  margin: 0 5px; border-bottom: 1px solid #a6c9e2}
.thread-wrap:last-child{border-bottom: 0px}


.thread-info{
	height: 10px;
	overflow: visible;
}

.thread-author, .thread-user{
	text-align:center;
	width: 75px;
	height: 100px;
/*	border: 1px solid #a6c9e2; */
}

.thread-author{
	float:left;
}
.thread-user{
	float:right;
}

.thread-date{
	font-size:14px;
	overflow: hidden;
	margin: 30px 5px 10px 5px;
	font-weight: bold;
	text-align: center;
}


.thread-avatar, .thread-sys{
	margin:0 auto;
	max-width: 65px;
	min-height:65px;
	max-height:100px;
	overflow: hidden;
	text-align:center;
}

.profile-img, .avatar{
	margin:0 auto;
	min-width: 65px;
	max-width: 100px;
	min-height:65px;
	max-height:100px;
	overflow: hidden;
	text-align:center;
}
.profile-img{
	border-radius: 5px;
}

.thread-avatar, .avatar{
	background:transparent url(../images/noavatar1.gif) center center no-repeat;
	border-radius: 5px;
}
.thread-sys{
	line-height: 60px;
	border: 1px solid #a6c9e2;
	border-radius: 10px;
}
/*
.is-user .thread-avatar, .is-user .thread-sys{
	float:left;
	margin-right: 10px;
}

.is-author .thread-avatar, .is-author .thread-sys{
	float:right;
	margin-left: 10px;
}
*/
.thread-avatar a{
	min-height:65px;
}

.thread-avatar  img{
	min-height:65px;
	max-height:80px;
	width:65px;
	border-radius: 5px;
}




.thread-time{
	font-weight: bold;
	float: right;
}
.thread-status{
	float:right;
	width: 80px;
}


.is-author, .is-publish .wrap{
	background: #DDFFEE;
}

.is-user.not-read{
	background-color:#FFF0F0;
}

.is-author.not-read{
	background: #EFFFFF;
}

.not-read, .not-read .thread-subject a{
	color: gray;
}

.thread-text{
	font-size: 12px;
	min-height:60px;
	margin: 10px 80px;
}



.thread-subject{
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 14px;
	margin: 0 80px;
}

.thread-subject a{
	text-decoration: none;
	font-weight: bold;
}








.unreadMessages, .unreadMessagesEntry, .paginator .info, #leftmenu .info{
	color: red !important;
}


.thread-nav{
	text-align: right;
}
.mail-href{
	float: right;
/*
	margin: 5px 0px -5px 5px;
	padding:5px;
	border-radius: 3px;
	color: white !important;
	text-decoration: none;
*/
}

.mail-href em{
	margin: -5px 0px -5px 0px;
}



.paginator li.selected a, .thread-wrap.is_favorite{
	margin-top: -1px;
	border: 1px solid #fcd113;
	background: #FFF7CC;

}


#dynamic_film_torrents center{
	margin-top: 30px;
	border: 1px solid #cd0a0a;
	border-radius: 5px;
	padding: 5px;
}


.item_main_panel .item_main, #coming_soon  .item_main{
	width: 150px !important;
	margin: 0 auto;
}


.margin .brief_description{
	min-height: 100px;
}

.film-info1{
	clear:right;
}


.directors_cut,.extended_cut{
	display:block;
	color:#579100;
}

/*
#search_form a{
	margin: 0 3px;
}
*/

#celebrity-info ul, #celebrity-info ul li{
	list-style: none;
}


#schedule_user_dialog th:first-child,
#schedule_torrent_form th:first-child{
	border-right: 1px solid #a6c9e2;
	padding-right:5px;
}

#schedule_user_dialog th:last-child,
#schedule_torrent_form th:last-child{
	border-right: 0px;
	padding-right:0px;
}

.range-wrap{
	margin: 5px 15px 1px 15px;
}


.banner_exception{
	display: none;
	margin: 20px;
}
#search_toolbar{
	height: 21px;
	line-height: 21px;
	display: block;
}

#search_toolbar>div{
	float:left;
	margin:1px;
	vertical-align:middle;
	font-size:12px;
	height: 21px;
	line-height: 21px;
}

#search_pages .nav-icon{
	margin: 3px !important;
}

#search_pages{
	margin-top: 0 !important;
}

#ext_search{
	margin: 10px 0;
	width:100%;
}

.markItUpHeader{
	width: 98%;
	height:22px;
	overflow: visible;
}

.markItUpContainer textarea{
	width: 98%;
	min-width: 220px;
}

.clear-width{float: none}

.ui-button-text .nav-icon{
	margin: -3px 0;
}

.user-collection-top blockquote, .user-collection-head blockquote{
	line-height: 20px;
	vertical-align: middle;
	margin-bottom: 20px;
}

.favorite_button{
	display:inline-block;
	border: 1px solid #a6c9e2;
	border-radius: 4px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	background: #FFFFFF;
	padding: 0 2px;
}
.favorite_button em{
	margin: 1px;
}
.favorite_button .ui-button-text{
	padding: 0 10px;
}
.favorite_controll{
	border: 1px solid #a6c9e2;
	border-radius: 4px;
	display: block;
	float: right;
	height: 22px;
	margin: -2px 0 0 3px !important;
	padding: 0 3px !important;
	background: #FFFFFF;
	cursor: pointer;
}
.favorite_controll:hover{
	background-color: #db0247;
}


.favorite_controll em{
	margin: 3px 1px;
}



.four-columns, .three-columns, .two-columns{
	width: 23%;
	float:left;
	margin: 0 3px 10px 3px !important;
	border-radius: 5px !important;
	padding:0;

}

.three-columns{
	width: 31%;
}

.two-columns{
	width: 48%;
}

.collection-sortable{
	list-style:none;
	margin: 0px;
	padding: 0;
}

.collection-sortable li, .collection-sortable label{
	list-style:none;
	border: 1px solid #a6c9e2;
	border-radius: 4px;
	display: block;
	float: left;
	text-align: center;
	margin: 5px;
	cursor: pointer;
	width: 70px;
	height: 90px;
	overflow: hidden;
}

.collection-sortable span{
	padding: 0 !important;
	margin: 0 !important;
}


.collection-sortable img{
	margin: 5px 5px -2px 5px;
	border-radius: 4px;
}

.collection-sortable li a{
	text-decoration: none;
}

.collection-sortable li a em{
	font-style: italic;
}


.collection-sortable li:hover{
	background-color: #db0247;
}


#fav_choice_dialog{
	max-width:500px;
	overflow-x: hidden;
	overflow-y: auto;
}



.collection-sortable .publish{
	border: 1px solid #579100;
	background: #B9D977;
	background: #DAF1DB;
}

.collection-sortable .highlight{
	border: 1px solid #db0247;
	background: #FFFFCC;
}

#captcha-wrapper{
	min-height: 45px;
}

#captcha-wrapper b{
	float:left;
}


#tabs .ui-tabs-nav, #tabs1 .ui-tabs-nav{
	max-height: 31px;
}

.review-stats{
	height: 35px;
}


.collection-profile{
	width: 60px;
	height: 80px;
	overflow: hidden;
	border-radius: 5px;
	margin: 0 5px;

}

.collection-profile img{
	width: 60px;
	border: 0;
	outline: 0;
	margin: 0;
	background: #FFFFFF;
	border-radius: 5px;
}

.collection-profile:hover{
	overflow: visible;
}

.collection-profile:hover img{
	position:absolute;
	z-index:100000000;
	margin-left: -100px;

	width: auto;
	height: auto;

}



.review-film{
	width: 60px;
	height: 80px;
	overflow: hidden;
	border-radius: 5px;
	margin: 0 5px;
}

.review-film img{
	width: 60px;
	height: 80px;
	border: 0;
	outline: 0;
	margin: 0;
	border-radius: 5px;
	background: #FFFFFF;
}

.review-film:hover{
	overflow: visible;
}

.review-film:hover img{
	position:absolute;
	z-index:100000000;

	width: 150px;
	height: 230px;
	margin-left: -150px;
	border-radius: 5px;
}



.review-head{
	min-height: 70px;
}




.review-wrap{ border: 1px solid #D7D7D7; margin:10px; font-size: 12px; border-radius: 5px}
.review-head, .review-alert, .review-text, .review-sign, .review-info, .review-info1 {text-align: justify;margin: 10px}
.review-title {font-weight:bold; font-size:16px; margin: 10px ; color: #222222;  border-bottom: 1px dotted #D7D7D7;cursor: pointer;padding-left: 10px}
.review-title-film {font-weight:bold; font-size:16px; color: #222222}
.review-nav{float:right}



.season_wrap{
	clear: right;
}


.quality_del, .favorite_del, .quality_type{
	font-size: 10px;
	vertical-align: top;
	text-decoration: none;
	height: 15px;
	line-height: 15px;
}
.quality_type{
	float: right;
}

.quality_del .nav-icon, .favorite_del .nav-icon{
	transform:scale(0.9);
	margin-top: -3px;
}


.user_controll .cn-icon{
	margin: -3px 0;
}

.fav_stars{
	margin:10px 2px 2px 2px;
	float:right;
	height: 1px;
	overflow: visible;
}
.serial_stars{
	float:right;
	margin: -2px 2px 2px 2px;
}


#anthology_wrap .ui-widget-content{
	padding: 5px;
}


.anthology_scroll_wrap{
	overflow-x: auto;
	overflow-y: hidden;
	height: 140px;
	width: 100%;
}
.anthology_scroll{
	display: table-row;
	height: 115px;
	margin: 0 auto;
}

.anthology_sortable{ list-style-type: none; margin: 0; padding: 0; }
.film-list.anthology_sortable li.anthologyitem { margin: 0 0 2px 0; padding: 2px; border: 2px solid #000000; border-radius: 5px; background-color: #FFFFFF}
.anthology_scroll.anthology_sortable li.anthologyitem { margin: 0; padding: 0px; display: table-cell;}

.anthology_scroll img{
	margin:10px 5px;
	width: 62px;
	height: 95px;
	border: white 3px solid;
	border-radius: 6px;
	background-color: #FFFFFF;
}

.anthology_scroll .current img{
	margin:0 5px;
	width:75px;
	height: 115px;
}

.anthology_sortable .highlight { height: 115px; min-width:75px; border:  1px solid #fcd113; background:#f5e175; }




.hidden{ display:none}
.clear{ clear:both}
.clear-right{ clear:right}


/* Полоса прокрутки по умолчанию */
::-webkit-scrollbar
{
	width: 12px;
	height: 12px;
	background: rgba(5,101,158,0.1);
}

/* Track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
	-webkit-box-shadow: inset 0 0 6px rgba(5,101,158,0.5);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(5,101,158,1);
	-webkit-box-shadow: inset 0 0 6px rgba(5,101,158,0.5);
}

::-webkit-scrollbar-thumb:hover{
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: rgba(177, 3, 57,0.9);
}

::-webkit-scrollbar-thumb:window-inactive{
	background: rgba(5,101,158,0.4);

}

/* Полоса прокрутки для плагина */


.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	-webkit-box-shadow: inset 0 0 6px rgba(5,101,158,0.5);
	background: rgba(5,101,158,0.1);
	border-radius: 10px;

	position: absolute;
	top: 0;
	right: 0;
	width: 12px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	-webkit-box-shadow: inset 0 0 6px rgba(5,101,158,0.5);
	background: rgba(5,101,158,0.1);
	border-radius: 10px;

	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 12px;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{

	position: relative;
}

.jspDrag
{
	-webkit-box-shadow: inset 0 0 6px rgba(5,101,158,0.5);
	background: rgba(5,101,158,0.8);
	border-radius: 10px;

	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}


.vote_list .post-wrap{
	min-height: 100px;
}

.sub-submit{
	float: right;
}


.user-vote, .self-vote{
	font-size: 16px;
}
.vote-line2{
	display: block;
	margin-left: 205px;
	color: #720404;
}

.voice b{
	font-weight: normal;
	display: block;
	width: 99%;
}

.c7 b, .c2 b, .c10 b{
	font-weight: normal;
}


.post-wrap h2{
	margin: 0;
}

.post-wrap tr{
	height: 40px;
}

.schedule-wrap{
	width: 48%;
	float: left;
	overflow: hidden;
	margin: 0 1% 20px 1%;
	height: 230px;
	font-family: Tahoma;
	font-size: 12px;
}

.schedule-wrap table{
	width: 100%;
}

.schedule-wrap td{
	text-align: center;
}

.schedule-wrap th{
	vertical-align:top;
	font-weight: bold;
	color: #005081;
	text-transform:capitalize;
	margin:0;
	padding:0;
	color: black;
}
.schedule-wrap tr:first-child td,.schedule-wrap tr:first-child th{
	text-align:center;
	vertical-align:bottom;
}
.schedule-wrap th a, .schedule-wrap th a:hover, .schedule-wrap th a:link {
	font-weight: bold;
	text-decoration:none;
}

.schedule-wrap tr.fix{
	height: 13px;
}

.schedule-wrap tr.fix th{
	background: #ffffff;
	overflow: hidden;
}
.schedule-wrap tr.fix th:hover{
	overflow: visible;
	z-index: 10;
}

/* 150*230 */
.schedule-wrap .image_border img{
	width: 100px;
	height: 153px;
	float:none;
	margin: 5px auto;
}
#schedule_filter {
	text-align: center;
}


.search_list, .search_list li{
	list-style: none;
	margin: 4px;
}
.search_list a{
	text-decoration: none;
}
.search_list  .nav-icon{
	margin-bottom: -4px;
}
