

/*  В замисимости от размера экрана  */
/* 1000 и более */
@media only screen and (min-width: 1000px) {
	#container {
		width: 1000px;
		margin:0 auto;
	}

	#leftmenu {
		width: 250px;
		float: left;
	}

	#content {
		clear:right;
		width: 630px;
		float: left;
	}


	#inner3 #content {
		width: 740px;
	}
	#inner4 #content {
		width: 880px;
	}

	#rightmenu {
		width: 110px;
		float: left;
	}

	.column>.wrap{
		margin: 0 5px;
	}
	.column>.wrap>.nav-menu{
		margin: 0 5px;
	}
	/*  Красота для заголовков  */
	h1.head{
		background-position: 0 -273px;
		display: block;
		width:605px;
		height: 52px;
		margin: 0.83em 0 -0.83em 0;
		padding-top:5px;

		font-size: 12px;
		text-align:center;
		text-transform:uppercase;
		text-decoration:none;
		font-weight:bold;
		color: white;
		line-height:31px;
		letter-spacing:1px;
	}



#search_keyword1{
	width:249px !important;
	height:16px !important;
	line-height:16px!important;
	margin:0;
	padding:0;
	border: none 0;
	background: transparent;
}
#search_keyword1:focus{
	outline: none;
}

#search_submit1{
	width:70px;
	height:20px;
	padding:0;
	border: none 0;
	background:transparent;
	/* cursor:pointer; */
	margin:0 0 0 3px;
	text-indent:300px;
	overflow:hidden;
	cursor:pointer;
}

}


/* ноут, рекламу убираем, раскрадка такая-же */
/* правое меню с рекламой убираем совсем */

/* 720-1000 -> заточено под 720px */
@media only screen and (max-width: 999px) {

	.collection-wraper{
		padding: 10px 0;
	}

	.item_main_box2{
		width: 150px;
	}

	#container {
		margin:0;
		padding: 0;
	}

	#leftmenu {
		width: 230px;
		float: left;
	}

	.addthis_toolbox, #rightmenu, #inner_top
	{
		display:none;
	}

	#content {
		margin-left:240px;
	}

	.column>.wrap{
		margin: 0 5px 0 0;
	}


	/* фиксми ширину */

	#online_box, .width600px, .upload-header, .upload1, .torrent-info{
		width: 99% !important;
	}


	/*  упрощенные заголовки  */
	h1.head{
		font-family: Arial;
		font-size: 12px;
		background: #05659e url(./../css/custom-theme/images/ui-bg_highlight-hard_50_05659e_1x100.png) 50% 50% repeat-x;
		border-radius:5px;

		color: #ffffff;
		font-weight: bold;
		text-align: center;

		height: 17px;
		line-height: 14px;
		margin: 4px;
		padding: 5px 0 3px 0;
	}


	/*  упрощенное верхнее меню  */
	#header {
		background: #fff;
		overflow: visible;
		min-height: 72px;
		height: auto;
	}

	.logo {
		margin: -10px 0;
	}

	.children .logo
	{
		margin-bottom: 0px
	}



	#header .wrap, .user-info, .top-search, .top-search .wrap,.user-top-banned, #footer .wrap, #footer, #user-menu, #user-username{
		margin: 0;
		padding: 0;
		height: auto;
		width: auto;
		min-width: auto;
	}
	#footer{
		clear: both;
		margin-top: 10px;
		background: #ffffff;

	}

	#header .wrap{
		clear: right;
	}


	.user_menu1, .user_menu1 ul{
		width: 160px;
		height: auto;
		color: #000;

	}

	.user_menu1 li, .user_menu1 a, .user_menu1 a:hover {
		font-size: 12px ;
		line-height: 14px;
		padding: 1px 3px;
		float:left;
	}

	.top-menu, .top-menu .wrap ul {
		width: 100%;
		margin: 0;
		overflow: visible;
		min-height: 33px;
		height: auto;
	}

	.letter-search{
		border-top: 1px solid #a6c9e2;

		width: 100%;
		height: auto;
		line-height: 24px;

		padding-top: 20px;
		margin-top: 10px;
	}

	.letter-search a, #ext-search, #ext-search a, #search_submit1{

		height: 26px;
		line-height: 24px;

		float:left;
		width: 48%;
		margin: 0 0.8% 10px 0.8% ;
		padding:0;

		white-space: nowrap;
		border: 1px solid #a6c9e2;
		border-radius: 4px;
		font-size: 16px;

		color:#FFF;
		text-decoration:none;
		background-color: #db0247;
		outline: 0;
	}
	#ext-search a{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.letter-search  a:hover, #ext-search a:hover, #search_submit1:hover{
		color:#000;
		text-decoration:none;
		background-color: #FFF;
		outline: 0;
	}


	.letter-search em{
		display: none;
	}

	.top-search{
		text-align: center;
		width:100%;
		height:auto;
		font-size: 16px;
	}

	#search_keyword1{
		width:98%;
		border: 1px solid #a6c9e2;
		text-indent: 0;
		height:25px;
		line-height: 25px;
		font-size: 16px;
	}

	.ui-autocomplete {
		margin-top: 5px;

	}


	/* Убираю менюху с главной, иначе все разваливается */
	.main_page #leftmenu{
		display: none;
	}

	.main_page #content{
		clear: both;
		margin: auto;
		width: 100%;
	}


	.children .top-menu{
		background: none;
	}
	.user-info{
		height: 65px;
	}
}


@media only screen and (min-width: 870px) {

}



@media only screen and (max-width: 869px) {



	ul.order-menu{
		height: 60px;
	}


	/* упрощенный футер +менюху списком */
	#sub_footer, .foot-logo{
		display: none
	}
	.footer-menu a{
		color: #000;
	}

	#footer {
		background: #fff;
		height: auto;
		width: 100%;
	}
	.footer-menu {
		height: auto;
		width: 100%;
		margin: 0px!important;
	}
	ul.footer-menu li {
		width: 100%
	}

}


/* @media only screen and (min-width: 720px) { */
@media only screen and (min-width: 690px) {

	/*  Красота для менюхи  */
	ul.nav-menu>li {
		border: #dbdbdb solid;
		border-width: 0 1px;
		margin-bottom: 20px;
	}

	ul.nav-menu>li>a{
		background-position:  -614px -276px;
		display:block;
		height: 50px;
		margin: 0 -0.83em -0.83em -13px;
		padding-top:2px;
		text-align:center;
		display: block;
		text-transform:uppercase;
		text-decoration:none;
		font-weight:bold;
		color: white;
		line-height:28px;
		letter-spacing:1px;
		text-shadow: black 1px 1px 2px, #999 0 0 6px;
	}


	ul.nav-menu>li>ul>li {
		padding-left: 18px;
		margin: 1px 0;
	}

	ul.nav-menu>li>.margin,
	ul.nav-menu>li>ul:first-child {
		margin-top: 0px;
	}


	ul.nav-menu>li>ul:last-child {
		margin-bottom: -0.83em;
	}


	ul.nav-menu>li:after{
		content: "  ";
		background-position: -625px -327px;
		display: block;
		position: relative;
		top:1.25em;
		height: 12px;
	}


	#leftmenu ul li.selected {
		margin: 0px -8px 0px 5px;
		padding-left: 13px;
		border-radius:  4px;
	}

	#leftmenu ul li.selected a{
		color: white !important;
		font-weight: bold;
	}


}



/* для планшетов */
/* левое меню перемещаем вверх */

/* 480px > 720 -> заточено под 480px */
/* @media only screen and (max-width: 719px) { */
@media only screen and (max-width: 689px) {


	.no-mobile, .post-sign {
		display:none;
	}

	#outdated_browser, #leftmenu .foot{
		display:none;
	}

	#user-menu, #user-username, #container, #leftmenu, #content{
		clear: both;
		width: 99%;
		max-width:none;
		margin: 0 0 10px 0;
	}

	#user-menu{
		height: 40px !important;
	}


	.head{
		clear:both;
	}

	ul.order-menu{
		height: 30px;
	}

	/*  Менюху в 3 строки  */
	ul.nav-menu>li>a{
		font-size: 16px;
		font-weight: bold;
		text-decoration: none
	}

	ul.nav-menu>li {
		clear: both;
		border-top: 1px solid #a6c9e2;

	}

	ul.nav-menu>li>ul, ul.nav-menu>li>br{
		clear: both;
		margin: 10px 0 10px 0;
	}

	ul.nav-menu>li>ul>li {
		padding-left: 0;
		margin: 1px;
		float:left;
		width: 49%;
		margin: 0 1% 10px 0 ;
	}
	ul.nav-menu>li>ul>li.last a {
		padding-left: 0;
		background: none;
	}

	ul.nav-menu>li>ul>li a{
		color:#000;
		border: 1px solid #a6c9e2;
		border-radius: 4px;
		font-size: 16px;
		line-height: 20px;
	}

	#leftmenu ul li.selected a{
		color: white !important;
		font-weight: bold;
	}

	/* отменить обтекание картинок */
	.film-item .film-wrap {
		margin-left: 0px;
	}

	.film-item .film-image {
		margin: 0 10px 10px 0 ;
		float: left;
	}

	.social {
		width: 100%;
	}


}

/* для телефонов */
/* всё по минимуму */

/* 0 - 479px  -> заточено под 320px*/
@media only screen and (max-width: 550px) {

	.field-wrapper .helptext,.field-wrapper label,.field-wrapper input, .field-wrapper .captcha{
		text-align:left;
		display:block;
		width: auto;
		margin: 0;
		padding: 0;
		clear: both;
		float: none;
	}
	.field-wrapper{clear: both}

	#container {
		min-width: 200px;
	}

	/* отменить обтекание каментариев */
	.post-info, .post-text, .post-sign, .post-profile{
		text-align: left;
		margin: 1px;
		clear:both;
		width: 100%;
	}

	img.profile-img {
		float:left;
		width: 50px;
		height: 50px;
	}

	.post-profile .avatar, .post-profile .avatar-info{
		float:left;
	}

	.post-profile>noindex>div, .user_karma, .user_controll{
		float:right;
		clear: right;
	}


	.avatar-info, .signature{
		display: none;
	}

	.four-columns, .three-columns, .two-columns, #ext-search, #search_submit1, .letter-search a, ul.nav-menu>li>ul>li, .schedule-wrap{
		width: 98%;
		margin-right: 0;
		margin-left: 1%;
	}


}

@media only screen and (max-width: 350px) {

	/* отменить обтекание менюхи контролов */
	.film-item h2, .film_controll, .film-info{
		clear: both;
		margin:0;
		padding:0;

	}
}


@media only screen and (max-width: 999px) {
	/*  упрощенные список торрентов сжимаем качество */
/*
	.upload-header>div, .upload1>div{
		width: 60px !important;
		min-width: 60px !important;
		white-space: normal;
	}
*/

}

@media only screen and (min-width: 690px) and (max-width: 860px) {
	/*  упрощенные список торрентов убираем дату */
	.upload-header .c4, .upload1 .c4{
		display:none;
	}
}

@media only screen and (min-width: 690px) and (max-width: 800px) {
	/*  упрощенные список торрентов  убираем сидеров  */

	.upload-header .c5, .upload1 .c5,
	.upload-header .c6, .upload1 .c6{
		display:none;
	}

}


@media only screen and (max-width: 689px) {
	/*  упрощенные список торрентов сдесь пропадает правое меню - можно показать дату сидеров  */
	.upload-header .c4, .upload1 .c4{
		display:table-cell;
	}
	 .upload1 .c6{
		display:none;
	}
}


@media only screen and (max-width: 570px) {
	/*  упрощенные список торрентов убираем дату */
	.upload-header .c4, .upload1 .c4{
		display:none;
	}
}

@media only screen and (max-width: 500px) {
	#online{margin: 5px;}


	/*  упрощенные список торрентов убираем дату */
	.upload-header .c5, .upload1 .c5,
	.upload-header .c6, .upload1 .c6{
		display:none;
	}
}

@media only screen and (max-width: 400px) {
	#online{margin: 5px;}

	#dynamic_film_tag, .overflow_wrap{
		height: 30px;
		width: 100%;

	}

	.info, .info-panel {
		width:100%;
		margin 0;
		display: block;
		clear: both;
	}

	.info-panel  center{
		display: block;
		width:160px;
		float: left;
	}


	/*  упрощенные список торрентов выводм всё списком */
	.upload1{
		height: 60px;
		padding:5px;
		width: 99%;
		clear: both;
		display:block;
		border: 0px;
		border-top:1px;
	}
	.upload1>div{
		border:none;
		display:block;
		height: 20px;
	}

	.upload1>.c1, .upload1>.c3 {
		float:left;
		width: 50%;
		text-align: left;
	}
	.upload1>.c1>a, .torrent-info>.margin>a{
		padding:3px;
		line-height:18px;
		vertical-align: top;
	}
	.upload1>.c2,.upload1>.c10{
		clear: both;
		width: 100%;
	}

	.upload1>.c7, .upload1>.c9 {
		float:right;
	}




}



