/*custom fonts*/

/*clio light*/
@font-face {
    //font-family: 'clio_c_lightlight';
    font-family: 'adm-light';
    src: url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_light_macroman/Clio_Condensed_Light-webfont.eot');
    src: url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_light_macroman/Clio_Condensed_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_light_macroman/Clio_Condensed_Light-webfont.woff') format('woff'),
         url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_light_macroman/Clio_Condensed_Light-webfont.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

/*clio medium*/
@font-face {
    //font-family: 'clio_c_mediummedium';
    font-family: 'adm-medium';
    src: url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_medium_macroman/Clio_Condensed_Medium-webfont.eot');
    src: url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_medium_macroman/Clio_Condensed_Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_medium_macroman/Clio_Condensed_Medium-webfont.woff') format('woff'),
         url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_medium_macroman/Clio_Condensed_Medium-webfont.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;

}

/*clio bold*/
@font-face {
    //font-family: 'clio_c_boldbold';
    font-family: 'adm-bold';
    src: url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_bold_macroman/Clio_Condensed_Bold-webfont.eot');
    src: url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_bold_macroman/Clio_Condensed_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_bold_macroman/Clio_Condensed_Bold-webfont.woff') format('woff'),
         url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_bold_macroman/Clio_Condensed_Bold-webfont.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;

}

/*clio heavy*/
@font-face {
    //font-family: 'clio_c_heavyheavy';
    font-family: 'adm-heavy';
    src: url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_heavy_macroman/Clio_Condensed_Heavy-webfont.eot');
    src: url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_heavy_macroman/Clio_Condensed_Heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_heavy_macroman/Clio_Condensed_Heavy-webfont.woff') format('woff'),
         url('//static.colostate.edu/fonts/clio-condensed/cliocondensed_heavy_macroman/Clio_Condensed_Heavy-webfont.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;

}
