@font-face {
    font-family: 'Roboto';
    src: url('RobotoThin.eot');
    src: url('RobotoThin.eot?#iefix') format('embedded-opentype'),
    url('RobotoThin.woff') format('woff'),
    url('RobotoThin.ttf') format('truetype'),
    url('RobotoThin.svg#roboto') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('RobotoLight.eot');
    src: url('RobotoLight.eot?#iefix') format('embedded-opentype'),
    url('RobotoLight.woff') format('woff'),
    url('RobotoLight.ttf') format('truetype'),
    url('RobotoLight.svg#roboto') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('RobotoRegular.eot');
    src: url('RobotoRegular.eot?#iefix') format('embedded-opentype'),
    url('RobotoRegular.woff') format('woff'),
    url('RobotoRegular.ttf') format('truetype'),
    url('RobotoRegular.svg#roboto') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('RobotoMedium.eot');
    src: url('RobotoMedium.eot?#iefix') format('embedded-opentype'),
    url('RobotoMedium.woff') format('woff'),
    url('RobotoMedium.ttf') format('truetype'),
    url('RobotoMedium.svg#roboto') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('RobotoBold.eot');
    src: url('RobotoBold.eot?#iefix') format('embedded-opentype'),
    url('RobotoBold.woff') format('woff'),
    url('RobotoBold.ttf') format('truetype'),
    url('RobotoBold.svg#roboto') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('RobotoBlack.eot');
    src: url('RobotoBlack.eot?#iefix') format('embedded-opentype'),
    url('RobotoBlack.woff') format('woff'),
    url('RobotoBlack.ttf') format('truetype'),
    url('RobotoBlack.svg#roboto') format('svg');
    font-weight: 900;
    font-style: normal;
}

