﻿::-webkit-scrollbar {
	width: 5px;
	background: transparent;
	opacity: .8;	
	-webkit-transition: .25s;
}
::-webkit-scrollbar-button {
	width: 10px;
	height: 0px;
	-webkit-transition: .25s;
}
::-webkit-scrollbar-track {
	background: rgba(244, 244, 244, 1);
	/* border: thin solid lightgray; 
	box-shadow: 0px 0px 3px #dfdfdf inset; */
	border-radius: 10px;
	-webkit-transition: .25s;
}
::-webkit-scrollbar-thumb {
	background:rgba(121, 121, 121, 0.34);
	/* border: thin solid gray; */
	border-radius: 10px;
	-webkit-transition: .25s;
}
::-webkit-scrollbar-thumb:hover {
	background: #bcbcbc;
	-webkit-transition: .25s;
}
body{
	font-family: "Microsoft Yahei";
	background: #f4f4f4;
	min-width: 1000px;
	height: 100%;
}
a{
	color: #363636;
	text-decoration: none;
}

.sina_login,.qq_login,.phone{
	width:257px;
	height:50px;
	display:inline-block;
	margin-bottom:15px;
	background:0 -413px url(../img/sprite.png) no-repeat;
	_background:0 -413px url(../img/sprite.gif) no-repeat;
}
.qq_login{
	background:0 -463px url(../img/sprite.png) no-repeat;
	_background:0 -463px url(../img/sprite.gif) no-repeat;	
}
.phone{
	background:0 -513px url(../img/sprite.png) no-repeat;
	_background:0 -513px url(../img/sprite.gif) no-repeat;	
}
.main_bj{
	width:100%;
	background: #fff;
}
.header_big1{
	width:100%;
	background:#000;
	position: absolute;
	z-index: 9999;
}
.header_big{
	background: #333333;
	border-bottom: 2px solid #fcb840;
}
.header{
	width: 1000px;
	margin: 0 auto;
	height: 75px;
	line-height: 75px;
}
#index_video{
	width: 1098px;
	height: 615px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	top: 0;
}
.i_bigbj,#index_abc{
	width: 1230px;
	min-width: 1100px;
	position: absolute;
	min-height: 645px;
	z-index: 0;
	left: -6%;
	overflow: hidden;
}
.bj_con{
	width: 1100px;
	margin: 0 auto;
}
.i_phone{
	position: absolute;
	width: 472px;
	background: url(../img/i_phone24.png) no-repeat;
	_background: url(../img/i_phone.gif) no-repeat;
	right: 0;
	bottom: 40px;
}
.header .logo{
	float: left;
	margin-top: 5px;
}
.header_big .head_logo{
	display:block;
	width: 167px;
	height:65px;
	background:0px 0px url(../img/sprite.png) no-repeat;
	_background:0px 0px url(../img/sprite.gif) no-repeat;
}
.head_logo{
	display:block;
	width: 167px;
	height:65px;
	background:0px 0px url(../img/sprite.png) no-repeat;
	_background:0px 0px url(../img/sprite1.gif) no-repeat;
}
.search{
	width: 380px;
	height: 40px;
	line-height: 39px;
	float: left;
	border:1px solid #787878;
	border-radius: 6px;
	margin-left: 22px;
	padding-top: 6px;
	position: relative;
	margin-top: 14px;
	visibility: hidden;
}
.search input{
	width: 320px;
	border: none;
	background: none;
	height: 30px;
	line-height: 30px;
	outline: none;
	float: left;
	position: absolute;
	left: 60px;
	font-family: "Microsoft Yahei";
	top: 7px;
	font-size: 16px;
	color: #B8B6B6;
}
.search .button{
	float: left;
	margin: 6px 0 0 21px;
	cursor: pointer;
	width: 45px;
	position: absolute;
	left: 0;
	width:24px;
	height:24px;
	background:-217px -20px url(../img/sprite.png) no-repeat;
	_background:-217px -20px url(../img/sprite.gif) no-repeat;
}
.header_big1 .search .button{
	_background:-217px -20px url(../img/sprite1.gif) no-repeat;
}
.header ul{
	float: left;
	cursor: pointer;
	height:100%;
	margin-left: 70px;
	_margin-left: 60px;
}
.header ul li{
	float: left;
	height:100%;
}
.header_big1 .header ul li a{
	border-top: 4px solid #000;
}
.header ul li a{
	float: left;
	line-height: 70px;
	margin: 0 5px;
	padding: 0 20px;
	height: 70px;
	font-size: 16px;
	color: #fff;
	border-top: 4px solid #333;
}
.header ul li:hover a{
	color: #fcb840;
	border-top: 4px solid #fcb840;
	display: block;
}
.header ul li.hover a{
	color: #fcb840;
	border-top: 4px solid #fcb840;
	display: block;
}
.personal{
	float: right;
	line-height: 75px;
	font-size: 14px;
	height:75px;
}
.personal div,.personal a{
	float: left;
}
.personal a{
	color: #fff;
	margin-left:10px;
	text-decoration: none;
}
.personal a:hover{
	color: #fcb840;
}
.personal .person{
	width: 36px;
	height:36px;
	background:-265px -14px url(../img/sprite.png) no-repeat;
	_background:-265px -14px url(../img/sprite.gif) no-repeat;
	vertical-align: middle;
	margin-top:22px;
}
.header_big1 .personal .person{
	_background:-265px -14px url(../img/sprite1.gif) no-repeat;
}
.personal .person_name{
	background: none;
	width:auto;
	margin-top: 0;
	color: #fff;
}

.index_btn{
	width: 586px;
	margin:0 auto;
	z-index: 5;
	bottom: 60px;
	left:50%;
	position: absolute;
}
.contactus{
	position: absolute;
	z-index: 4;
	bottom: 20px;
	right: 0px;
	color: #fff;
}
.vid_mask_play{
	position: fixed;
	_position: absolute;
    top:0;
    left:0;
	width: 100%;
	height:100%;
	display: block;
	z-index: 9999999999;
}
.vid_mask_l{
	position: fixed;
	_position: absolute;
    top:0;
    left:0;
	width: 100%;
	height:100%;
	background: #000;
	opacity: 0.9;
	filter:alpha(opacity=90);
	z-index: -1;
}
.vid_mask_r{
	width: 768px;
	height:432px;
	margin:0 auto;
	top:20%;
	_top:5%;
	padding:9px;
	position: relative;
	background: #fff;
	border-radius: 12px;
}
.vid_mask_r .i_video{
	width: 768px;
	height:432px;
	outline: none;
	display: block;
}
#videoexit{
	display: inline-block;
	width: 34px;
	height: 34px;
	background: -401px -446px url(../img/sprite.png);
	_background: -401px -446px url(../img/sprite.gif);
	position: absolute;
	right: -19px;
	top: -19px;
	z-index: -1;
	cursor: pointer;
}
.iphone_btn,.android_btn{
	width:280px;
	height:80px;
	display: inline-block;
	background:0 -644px url(../img/sprite.png) no-repeat;
	_background:0 -644px url(../img/sprite.gif) no-repeat;
}
.iphone_btn{
	position: absolute;
	left:-50%;
}
.android_btn{
	margin-left: 20px;
	background:0 -564px url(../img/sprite.png) no-repeat;
	_background:0 -564px url(../img/sprite.gif) no-repeat;
}
.iphone_btn:hover,.android_btn:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.banner{
	width: 100%;
	height: 615px;
	overflow: hidden;
	position: relative;
	background-color: #000;
	top: 74px;
}
.banner .bj{
	width: 1100px;
	min-width: 1024px;
	height: 615px;
	margin: 0 auto;
	background-position: center;
	min-width: 1000px;
	position: absolute;
	top: 0;
	overflow: hidden;
}
.vid_mask_left,.vid_mask_right{
	width: 330px;
	z-index: 2;
	position: absolute;
	left:-3px;
	height:100%;
	background: url(../img/vid_bj.png) repeat-y;
	_background:none;
}
.vid_mask_right{
	left:auto;
	right:-1px;
	background-position: -670px 0;
}
.vid_mask_top,.vid_mask_bottom{
	position: absolute;
	top:-20px;
	left:0;
	z-index: 3;
	width: 100%;
	height:250px;
	background: url(../img/vid_mask.png) repeat-x;
	_background: none;
}
.vid_mask_bottom{
	top:auto;
	bottom:-20px;
	background:0 -250px url(../img/vid_mask.png) repeat-x;
	_background:none;
	}
.banner_con{
	width:410px;
	margin:0 auto;
	height: 563px;
	min-height: 563px;
	top:0;
	z-index:4;
	left: 50%;
	position: absolute;
}
.banner_con .txt{
	position: relative;
	left: -50%;
	z-index: 5;
	padding:60px 0 0 0;
}
.banner_con .txt a{
	display: block;	
	width:281px;
}
.text1{
	width: 251px;
	height: 149px;
	display: inline-block;
	background:0 -725px url(../img/sprite.png) no-repeat;
	_background:0 -725px  url(../img/sprite.gif) no-repeat;
}
.iphone{
	margin:45px 0 25px 0;
}
.hd_img{
	width: 258px;
	height:440px;
	position: absolute;
	overflow: hidden;
	left: 68px;
	top: 112px;
}
.hd_img img{
	position: absolute;
	top:0px;
	left:0px;
}
.banner_con .txt p{
	color: #FFF;
	line-height: 40px;
	font-size: 16px;
	position: absolute;
	top: 116px;
	/* right: 10px; */
	/* font-weight: bold; */
	width: 170px;
}
.banner_con .txt p img{
	vertical-align: middle;
	margin-left:10px;
}
.banner_con .txt .ewm{
	display: block;
	position: absolute;
	top: 142px;
	left: 204px;
}
.banner_con .txt .ewm span{
	/* display: none; */
	width: 123px;
	height: 124px;
	background: #000;
	position: absolute;
	left: 56px;
	top: -82px;
	border-radius: 7px;
}
.banner_con .txt .ewm span img{
	position: absolute;
	left: 7px;
	top: 7px;
	width: 110px;
	height: 110px;
}
.banner_con .txt .ewm b{
	display: inline-block;
	background: -342px -2px url(../img/sprite.png) no-repeat;
	_background: -342px -2px url(../img/sprite.gif) no-repeat;
	width: 48px;
	height: 64px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
.play_idx{
	width: 70px;
	height:70px;
	margin:85px auto 0;
	cursor:pointer;
	background: -1px -192px url(../img/sprite.png) no-repeat;
	_background: -1px -192px url(../img/sprite.gif) no-repeat;
}
.play_idx:hover{
	background: -90px -192px url(../img/sprite.png) no-repeat;
	_background: -90px -192px url(../img/sprite.gif) no-repeat;
}
.main{
	width:1000px;
	margin:0 auto;
}
.title1{
	height:58px;
	height:100%;
	border-bottom:1px solid #dcdcdc;
	font-size: 26px;
	color: #363636;
	padding:20px 0;
	*font-weight:normal;
}
.title1 b{
	font-size: 14px;
	color: #9c9b9b;
	padding-left:16px;
}
.star{
	margin-top:10px;
	height:247px;
}
.star div{
	float: left;
}
.left_btn,.right_btn{
	width: 44px;
	height:87px;
	margin:77px 0;
	cursor: pointer;
	background:-273px -190px url(../img/sprite.png) no-repeat;
}
.left_btn:hover{
	background:-229px -190px url(../img/sprite.png) no-repeat;
}
.right_btn{
	background:-317px -190px url(../img/sprite.png) no-repeat;
}
.right_btn:hover{
	background:-361px -190px url(../img/sprite.png) no-repeat;
}

.star .scroll{
	width:906px;
	height:220px;
	margin-top:41px;
	overflow: hidden;
	position: relative;
}
.star .scroll .scroll_con{
	width:2718px;
}
.star .scroll .scroll_con ul{
	width:906px;
	float: left;
}
.star .scroll .scroll_con ul li{
	float: left;
	width: 20%;
	text-align: center;
	position: relative;
}
.star .scroll .scroll_con ul li img{
	border-radius: 100px;
	border:3px solid #fff;
}
.star .scroll .scroll_con ul li:hover img{
	border:3px solid #fdd183;
}
.star .scroll .scroll_con ul li:hover p img{
	border:none;
}
.star .scroll .scroll_con ul li p{
	line-height: 40px;
	color: #939393;
	font-size: 20px;
}
.star .scroll .scroll_con ul li p img{
	vertical-align: middle;
	margin-left:4px;
	border-radius: 0px;
	border:none;
}
.star .scroll .scroll_con ul li a{
	*background:0 -186px url(../img/cur.gif) no-repeat;
	background: -0 -186px url(../img/cur.gif) no-repeat\9;
	width: 158px;
	height: 158px;
	position: absolute;
	top:-1px;
	left: 11px;
}
.star .scroll .scroll_con ul li a:hover{
	*background:0 0 url(../img/cur.gif) no-repeat;
	background:0 0 url(../img/cur.gif) no-repeat\9;
}
.nav{
	width:1000px;
	margin:0 auto;
	height:70px;
}
.nav ol {
	line-height: 100px;
	margin: 29px 460px;
}
.nav ol li{
	float: left;
	width:13px;
	height:13px;
	cursor: pointer;
	border-radius: 20px;
	background: #dadada;
	margin:0 4px;
	background:-390px -154px url(../img/sprite.png) no-repeat;
}
.nav ol li.hover{
	background:-376px -154px url(../img/sprite.png) no-repeat;
}

.main2{
	margin-top:20px;
}
.title2 a{
	float: right;
	color: #363636;
	font-size: 14px;
}
.main_nav{
	width:917px;
	margin: 0 auto;
}
.main_nav li{
	float: left;
	font-size: 20px;
	line-height: 76px;
	cursor: pointer;
	width: 9.8%;
	text-align: center;
}
.main_nav li:hover{
	color: #fcb538;
	background: bottom center url(../img/li_bj.gif) no-repeat;
}
.main_nav li.hover{
	color: #fcb538;
	background: bottom center url(../img/li_bj.gif) no-repeat;
}
.main3{
	padding-bottom: 20px;
}
.main3 ul{
	width: 100%;
}
.main3 ul li{
	width: 249px;
	float: left;
	margin-top:20px;
	text-align: center;
}
.main3 ul .li{
	width:233px;
	height:395px;
	background: #fff;
	border:1px solid #e1e1e1;
	margin:0 auto;
}
.main3 ul .li .img1 a{
	width:217px;
	height:217px;
	margin:5px;
	border: 3px solid #fff;
	position: relative;
	cursor: pointer;
}
.main3 ul .li .img1:hover{
	
}
.main3 ul .li .img1 a:hover{
	border: 3px solid #fdcf7d;
	opacity: 0.65;
	filter:alpha(opacity=65);
	_filter: progid XImageTransform.Microsoft.Alpha(opacity=65); 
}
.main3 ul .li .img2{
	width:217px;
	height:217px;
	display: block;
}
.img3{
	position: absolute;
	width: 50px;
	height:50px;
	background:-432px -85px url(../img/sprite.png) no-repeat;
	_background:-432px -85px url(../img/sprite.gif) no-repeat;
	bottom: 15px;
	left: 15px;
	display: inline-block;
}

.main3 ul .li1{
	height:280px;
}
.txt1{
	margin:10px 0 0 7px;
}
.head_icon{
	width: 48px;
	height:48px;
}
.head_icon img{
	width:48px;
	height:48px;
	border-radius: 40px;
}
.head_txt1, .head_icon{
	float: left;
}
.head_txt1{
	font-size: 18px;
width: 158px;
height: 48px;
text-align: left;
overflow: hidden;
line-height: 26px;
margin-left: 13px;
}
.main3  .head_txt1 a{
	width: 158px;
	overflow: hidden;/*注意不要写在最后了*/     
	white-space: nowrap;     
	-o-text-overflow: ellipsis;     
	text-overflow: ellipsis; 
}
.main3  .head_txt1 a:hover{
	color: #fcb538;
}
.head_txt2{
	width:158px;
	font-size: 14px;
	color: #9c9b9b;
}
.head_txt2 a{
	color: #9c9b9b;
}
.head_txt2 a:hover{
	color: #fcb538;
}
.li .p{
	line-height: 22px;
	font-size: 14px;
	text-align: left;
	width:90%;
	margin: 10px auto;
	height:44px;
	overflow:hidden;
}
.share{
	height:44px;
	width: 100%;
	border-top: 1px solid #e1e1e1;
	color: #9c9b9b;
	cursor: pointer;
}
.main3 ul li a{
	display: block;
}
.main3 ul li a:hover{
	color: #fcb538;
}
.share ol li{
	float: left;
	width:33%;
	margin-top: 7px;
	height:32px;
	font-size: 15px;
	line-height: 32px;
	border-right:1px solid #e1e1e1;
}
.share ol li a{
	color: #9c9b9b;
}
.share ol li:hover{
	color: #fcb538;
}
.share ol li.share_t{
	width:77px;
	border-right: none;
	position: relative;
	float: right;
}
.share ol li.fx{
	border-right:none;
}
.auto b img{
	padding:13px;
	float: left;
}
.sh_btn{
	position: absolute;
	left:0;
	top:27px;
	z-index: 9;
	width: 79px;
	display: none;
	height: 126px;
	background: url(../img/share_bj.png) no-repeat;
}
.sh_btn_ts{
	float: right;
	padding-top: 13px;
}
.sh_btn_ts ul li{
	float: left;
	padding: 0 5px;
}
.sh_btn_ts ul li a{
	filter:alpha(opacity = 70);
	_filter: progid XImageTransform.Microsoft.Alpha(opacity=70); 
	opacity: 0.7;
}
.sh_btn_ts ul li a:hover{
	filter:alpha(opacity = 100);
	_filter: progid XImageTransform.Microsoft.Alpha(opacity=100); 
	opacity: 1;
}
.sh_btn ul{
	width:90%;
	margin:auto;
}
.sh_btn ul li{
	width:49%;
	float: left;
	line-height: 55px;
	border-right: none;
	text-align: center;
	margin-top: 7px;
	height: 32px;
	font-size: 16px;
}
.sh_btn ul li a:hover{
	opacity: 0.9;
}
.more{
	width: 401px;
height: 70px;
margin: 20px auto 40px;
border-radius: 5px;
border: 1px solid #e5e5e5;
background: #fff;
text-align: center;
font-size: 17px;
*font-weight: normal;
}
.more a{
	color: #9c9b9b;
	display: block;
	padding-top:26px;
}
.more a img.more_icon{
	vertical-align: middle;
	padding-left:10px;
	margin-top: -2px;
}
.more a:hover{
	text-decoration: underline;
}
.footer{
	width:100%;
	height:76px;
	clear: both;
	background: #434343;
}
.footer1{
	margin-bottom:77px;
	_margin-bottom:0px;
}
.footer ul{
	width: 165px;
	margin: 10px auto;
	padding-top:20px;
	#padding-top:10px;
	position: relative;
}
.footer ul li{
	float: left;
	width:49%;
	font-size: 14px;
	text-align: center;
}
.footer ul li a{
	color: #b1b1b1;

}
.footer ul li a:hover{
	color: #fbfbfb;
}
.footer p{
	text-align: center;
	clear: both;
	font-size: 14px;
	color: #b1b1b1;
}
.logo_s{
	position: absolute;
	top: 10px;
	*top: 4px;
	left: 270px
}
.logo_s b{
	width:50px;
	height:55px;
	display: inline-block;
}
.float{
	width:100%;
	height:77px;
	position: fixed;
	bottom: -77px;
	z-index: 5;
}
.f_con{
	width: 100%;
	height: 77px;
	position: absolute;
}
.f_con2{
	width: 1002px;
	height: 67px;
	margin: 0 auto;
	padding-top:10px;
}
.f_bj{
	position: absolute;
	width:100%;
	z-index: 0;
	background: #000;
	height:77px;
	opacity: 0.8;
	filter:alpha(opacity=80);
	_filter: progid XImageTransform.Microsoft.Alpha(opacity=80); 
}
.f_con2 .logo0{
	float: left;
	width: 167px;
	height:65px;
	display: inline-block;
	background:-228px -321px url(../img/sprite.png) no-repeat;
	_background:-228px -321px  url(../img/sprite.gif) no-repeat;
	margin-top:-2px;
}
.f_con2 a{
	width: 196px;
	height:56px;
	display: inline-block;
	float: right;
	margin-left:20px;
}
.f_con2 a:hover{
	opacity: 0.9;
	filter:alpha(opacity=90);
	_filter: progid XImageTransform.Microsoft.Alpha(opacity=90); 
}
.f_con2 a.a_btn{
	background:-6px -295px url(../img/sprite.png) no-repeat;
	_background:-6px -295px url(../img/sprite.gif) no-repeat;
}
.f_con2 a.i_btn{
	background:-6px -351px url(../img/sprite.png) no-repeat;
	_background:-6px -351px url(../img/sprite.gif) no-repeat;
}
.dialog{
	width:100%;
	height:502px;
	position: absolute;
	top:100px; 
	display: none;
	z-index: 99999999999;
}
.dialog1{
	width:503px;
	height:502px;
	position: relative;
	margin: auto;
	overflow: hidden;
	padding-bottom: 10px;
}
.dialog_bj{
	width:503px;
	height:502px;
	position: absolute;
}
.dialog_con{
	width:1006px;
	position: absolute;
}
.dialog_left, .dialog_right{
	width:503px;
	height:100%;
	float: left;
	background:#000;
	padding-bottom:20px;
	background: rgba(0, 0, 0, 0.77);
}
.d_top{
	width:95%;
	height:23px;
	line-height: 23px;
	margin: 13px auto;
	color: #B7B8B9;
}
.back{
	float: left;
	cursor: pointer;
}
.exit{
	float: right;
	cursor: pointer;
}
.d_center{
	text-align: center;
	width:90%;
	margin: 0 auto;
	border-bottom: 1px dotted #8fa5ad;
}
.d_center p{
	font-size: 22px;
	line-height: 70px;
	color: #f6f6f6;
}
.d_login{
	text-align: center;
	padding-top:33px;
}
.d_login a img{
	margin-bottom: 19px;
}
.d_login a:hover{
	opacity: 0.9;
}
.d_login_con{
	padding-top:33px;
	text-align: center;
}
.d_login_con .input1{
	width:257px;
	height:53px;
	margin:0 auto 15px;
	background: #fff;
	border-radius: 7px;
}
.d_login_con .input1 input{
	border:none;
	outline:none;
	width: 230px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	background: none;
}
.r1{
	width:257px;
	margin:10px auto;
	position: relative;
	left:0;
	text-align: left;
}
.r2{
	float: left;
}
.r1 span{
	position: absolute;
	right: 0;
	top: 0;
	color: #fcb538;
	font-size: 14px;
	cursor: pointer;
}
.r1 #r1, .r1 #r2{
	position: absolute;
	left:0;
	top:-3px;
	z-index: -1;
	z-index: 9\0;
	#z-index: 9;
}
.r1 label{
	color: #a3a2a2;
	font-size: 14px;
	display: block;
	width: 122px;
	margin-bottom:30px;
}
.r2 label{
	margin: 10px 0 0 10px;
	width: 195px;
	font-size: 18px;
}
.r1 label b{
	width:16px;
	height:16px;
	background: #fff;
	background: none\0;
	#background: none;
	border-radius: 4px;
	display: block;
	float: left;
	margin-right:4px;
}
.r2 label b{
	padding:1px;
}
.r1 #r1:checked+label b,.r1 #r2:checked+label b{
	background:#fff center center url(../img/r1.png) no-repeat;
	background: none\0;
	#background: none;
}
.login_button{
	width:257px;
	height:51px;
	background: #fcb840;
	border-radius: 6px;
	border: none;
	display: block;
	clear:both;
	text-align: center;
	line-height: 51px;
	color: #fff;
	font-size: 21px;
	cursor: pointer;
	margin: auto;
	font-family: "Microsoft Yahei";
	letter-spacing: 12px;
}
/*detail*/
.D_left *,.D_right *{
	*font-weight: normal;
}
.D_main{
	width:1000px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:70px;
}
.D_left{
	float: left;
	width: 482px;
	margin-top:33px;
	margin-left: 25px;
	_margin-left: 15px;
}
.D_video{
	margin-bottom:30px;
	position: relative;
	border: 1px solid #e1e1e1;
	background: #fff;
}
.D_right{
	float: right;
	width: 412px;
	margin-right:25px;
	_margin-right:15px;
}
.D_play{
	position: absolute;
	top:190px;
	left:190px;
	cursor: pointer;
	width: 104px;
	height:105px;
	display: inline-block;
	background:-272px -414px url(../img/sprite.png) no-repeat;
	_background:-272px -414px url(../img/sprite.gif) no-repeat;
}
.video_flash{
	position: absolute;
	top:0;
	left: 0;
	/*display: none;*/
}
.introduction{
	width:95%;
	margin:0 auto;
	padding-top:10px;
}
.head_icon2, .D_head_name{
	float: left;
}
.head_icon2 img{
	width: 57px;
	height: 57px;
	border-radius: 50px;
	margin-right: 10px;
}
.D_head_name{
	line-height: 28px;
	width:80%;
}
.D_head_name img{
	vertical-align: middle;
	margin-left:4px;
	margin-top:-4px;
}
.D_head_name h1{
	font-size: 22px;
}
.D_head_name h1 span{
	_width: 220px;
    _height: 27px;
    _overflow: hidden;
    _display: inline-block;
}
.D_head_name h1 span img{
	vertical-align: middle;
}
.D_head_name h1 a.name_w{
	max-width:190px;   
	display: inline-block;
	overflow: hidden;/*注意不要写在最后了*/     
	white-space: nowrap;     
	-o-text-overflow: ellipsis;     
	text-overflow: ellipsis; 
}
.D_head_name h2{
	font-size: 14px;
	color: #9c9b9b;
	display: block;
	width:300px;   
overflow: hidden;/*注意不要写在最后了*/     
white-space: nowrap;     
-o-text-overflow: ellipsis;     
text-overflow: ellipsis; 
}
.D_head_name h2 b{
	float: left;
}
.D_head_name h2 span{
	float: right;
	padding-left: 4px;
} 
.introduction p{
	clear: both;
	font-size: 16px;
	line-height: 24px;
}
.talk{
	border-top: #ebebeb 1px solid;
	border-bottom: #ebebeb 1px solid;
}
.talk textarea{
	width: 95%;
	height: 32px;
	margin: 10px;
	border: 1px solid #e1e1e1;
	background: #f4f4f4;
	line-height: 32px;
}
.talk_action{
margin: auto;
width: 100%;
}
.talk_action .a{
	width:97px;
	height:33px;
	border-right:1px solid #e1e1e1;
	text-align: center;
	line-height: 33px;
	color: #9c9b9b;
	display: block;
	cursor: pointer;
	float: left;
	margin:10px 0;
}
.talk_action .review{
	border: none;
	float: right;
	width:80px;
	background: #fcb538;
	border-radius: 4px;
	color: #fff;
	margin-right: 8px;
}
.revs{
	width: 95%;
	margin:10px auto 0;
	font-size: 16px;
	line-height: 27px;
}
.head_icon3{
	width:48px;
	height: 48px;
	border-radius: 40px;
	margin-top:10px;
	float: left;
}
.pername{
	width: 393px;
	float: left;
	padding-top: 9px;
	padding-left: 12px;
}
.pername b{
	color: #fcb538;
}
.pername strong{
	float: right;
	color: #9c9b9b;
}
.revs{
	position: relative;
}
.revs ul li{
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 10px;
	overflow: hidden;
	zoom:1;
}
.D_right .t1{
	font-size: 26px;
	text-shadow: 1px 1px 1px #fff;
	height:15px;
	padding-bottom: 10px;
}
.D_right .t1 a{
	float: right;
	font-size: 16px;
}
.div1 {
	position: relative;
	padding-bottom: 44px;
}
.up{
	position: absolute;
	top: -9px;
	left: 50px;
}
.div1 ul{
	width: 408px;
	height: 147px;
	border-top:1px solid #e1e1e1;
	border-right:1px solid #e1e1e1;
	margin-top: 16px;
	background: #fff;
}
.div1 ul li{
	width:203px;
	cursor:pointer;
	height:48px;
	text-align: center;
	line-height: 48px;
	float: left;
	border-left:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
}
.div1 ul li a:hover{
	color: #fcb538;
}
.div1 ul li.hover{
	color: #fcb538;
}
.div2{
	position: relative;
	margin-top: 17px;
}
.div2 ul{
	padding-bottom: 20px;
	border: 1px solid #e1e1e1;
	border-bottom: none;
	background: #fff;
}
.div2 ul li{
	float: left;
	width:110px;
	position: relative;
	margin:20px 0 0 20px;
	_margin:10px 10px 0 10px;
}
.s_p{
	position: absolute;
	top:69px;
	left:6px;
	width: 34px;
	height: 34px;
	display: inline-block;
	background:-439px -144px url(../img/sprite.png) no-repeat;
	_width:40px;
	_height:40px;
	_background:-439px -144px url(../img/sprite.gif) no-repeat;
}
.div2 ul li .pnick{
	line-height: 19px;
	padding-top: 2px;
	font-size: 14px;
	height: 21px;
	overflow: hidden;
}
.div2 ul li .pnick:hover{
	color:#fcb840;
}
.div2 ul li p{
	line-height: 19px;
	padding-top: 2px;
	font-size: 14px;
	height: 41px;
	overflow: hidden;
}
.div3{
	position: relative;
	top:-217px;
	left: 20px;
}
.div3 a{
	display: block;
	margin-top: 10px;
	_margin-top: 8px;
	width:221px;
	height:63px;
}
.div3 a.small_i{
	background:-287px -627px url(../img/sprite.png) no-repeat;
	_background:-287px -627px url(../img/sprite.gif) no-repeat;
}
.div3 a.small_a{
	background:-287px -564px url(../img/sprite.png) no-repeat;
	_background:-287px -564px url(../img/sprite.gif) no-repeat;
}
.div3 a.ts1{
	color: #fff;
	padding-top: 0;
	line-height: 23px;
}
.div3 a.ts1 .sina_icon{
	width:31px;
	height:31px;
	background:-442px -231px url(../img/sprite.png) no-repeat;
	_background:-442px -231px url(../img/sprite.gif) no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.sina_icon{
	width:31px;
	height:31px;
	background:-442px -231px url(../img/sprite.png) no-repeat;
	_background:-442px -231px url(../img/sprite.gif) no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
}
/*personal*/
.div4{
	background: #fff;
margin: 13px 0 70px 0;
padding-bottom: 0;
}
.div4 ol{

	border: 1px solid #e1e1e1;
}
.div4 h1{
	font-size: 18px;
}
.div4 h1 b{
	font-size: 14px;
}
.div4 h1 img{
	_margin-top: -2px;
}
.div4 h1 a:hover{
	color: #fcb840;
}
.div4 h2{
	line-height: 22px;
	clear: both;
}
.add{
	float: right;
	width: 66px;
	height:27px;
	background: #fcb538;
	border-radius: 3px;
	text-align: center;
	line-height: 27px;
	color: #fff;
	font-size: 14px;
	*margin-top:-30px;
}
.div4 h1 a.add:hover{
	color: #fff;
}
.s_v{
	width: 22px;
	height: 22px;
	display: inline-block;
	margin-left:2px;
	vertical-align: middle;
	background:url(../img/v1.png) no-repeat;
}
.s_v2{
	background:url(../img/v2.png) no-repeat;
}
.div4 ol li{
	width: 95%;
	height:69px;
	display: block;
margin: auto;
border-bottom: 1px solid #ccc;
overflow: hidden;
padding: 10px 0;
padding: 10px 0;
}
.div1 ol li:last-child{
	border: none;
}
.nav_top{
	position: relative;
	width:100%;
	height:71px;
}
.pers_nav *{
	*font-weight: normal;
}
.pers_nav .nav{
	width: 100%;
}
.nav_div1{
	width: 1002px;
	margin:auto;
}
.nav_div1 .peo{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	position: absolute;
	top:30%;
	border: 2px solid #fff;
}
.nav_div2{
	position: absolute;
	top:48%;
	padding-left: 130px;
}
.nav_div3{
	position: absolute;
	padding-left: 130px;
	color: #a3a2a2;
	line-height: 28px;
	font-size: 14px;
}
.nav_div2 .box1 h1{
	float: left;
	font-size: 26px;
}
.nav_div2 .box1 ol{
	float: left;
	margin-left: 30px;
}
.nav_div2 .box1 ol li{
	float: left;
	padding: 5px;
}
.nav_div2 .box1 img{
	vertical-align: middle;
}
.guanzhu{
	position: absolute;
	min-width: 115px;
	height:40px;
	border: 2px solid #f4f4f4;
	background: #fcb538;
	font-size: 21px;
	margin-left: 740px;
	top:70%;
	cursor: pointer;
	text-align: center;
	line-height: 34px;
	color: #edecec;
	font-family: "Microsoft Yahei";
	padding:0 20px;
}
.small_guanzhu{
	width: auto !important;
	min-width: 62px;
	height:21px;
	border: 1px solid #f4f4f4;
	background: #fcb538;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	line-height: 18px;
	color: #edecec;
	font-family: "Microsoft Yahei";
}
.top_txt h2 .y_guanzhu{
	background:#e1e1e1;
	color:#363636;
	cursor:default;
	*width:180px;
}
.y_guanzhu{
	background:#6c6c6a;
	color:#b1b1b1;
	cursor:default;
	*width:180px;
}
.y_guanzhu b{
	color: #fcb538;
	cursor:pointer;
}
.y_guanzhu span{
	color: #b1b1b1;
	padding: 0 7px;
}
.person_num{
	color: #b3b3b3;
	font-size: 28px;
	text-indent: 10px;
	line-height: 40px;
}
.nav_bottom{
	width: 100%;
	height:136px;
	background: #fff;
}
.n_b_con{
	width: 1002px;
	margin: auto;
	position: relative;
}
.n_b_con ul{
	width:1000px;
	position: absolute;
	top:75px;
	left: 0;
	cursor: pointer;
	height:63px;
	border-top:1px solid #e1e1e1;
}
.n_b_con ul li{
	float: left;
	width:330px;
	height:33px;
	border-right:1px solid #e1e1e1;
	_border-right:none;
	margin-top:14px;
	text-align: center;
	line-height: 33px;
}
.n_b_con ul li b{
	font-size: 26px;
	color: #363636;
	height: 58px;
	display: inline-block;
	width: 115px;
}
.n_b_con ul li.hover b{
	background: 0px 45px url(../img/line.gif) no-repeat;
	color: #fcb538;
}
.list{
	width: 100%;
	border-top: 1px solid #e1e1e1;
}
.list ol{
	float: left;
	padding-top: 10px
}
.list ol li{
	float: left;
	padding: 0 10px;
	color: #9c9b9b;
}
.list ol li a{
	color: #9c9b9b;

}
.list ul{
	float: right;
}
.list ul li{
	float: left;
	padding: 5px;
}
.list ul li a img{
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.list ul li a:hover img{
	opacity: 1;
	filter:alpha(opacity=100);
}
/*per_attention*/
.att_con *{
	*font-weight: normal;
}
.att_con{
	width: 1002px;
	margin:30px auto;
}
.att_con ul li{
	width:24%;
	text-align: center;
	float: left;
}
.att_con ul li .box{
	width: 224px;
	height:128px;
	margin-top: 30px;
	height:140px;
	border:1px solid #e1e1e1;
	display: inline-block;
	background: #fff;
}
.box_top{
	width: 95%;
	margin:10px auto;
}
.box_top .top_head{
	float: left;
	width: 48px;
	height: 48px;
	border-radius: 40px;
}
.top_txt{
	float: left;
	margin-left:15px;
}
.top_txt h1{
	font-size: 14px;
	line-height: 22px;
}
.top_txt h2{
	text-align: left;
	padding-top: 3px;
}
.top_txt h1 img{
	vertical-align: middle;
	margin-top: -6px;
	_margin-top: 0px;
	margin-left: 3px;
}
.top_txt h1 a:hover{
	color: #fcb840;
}
.box_center{
	clear: both;
}
.box_center ul li{
	float: left;
	font-size: 12px;
	border-right: 1px solid #e1e1e1;
	width:69px;
	height:13px;
}
.box_center ul li a{
	color: #a3a2a2;
}
.box_center ul li a:hover{
	color: #fcb840;
}
.box_bottom{
	width: 95%;
	margin: 0 auto;
	padding-top:7px;
	text-align: left;
	clear: both;
	font-size: 12px;
	color: #363636;
	line-height: 17px;
}
/*topic*/
.comments_list{
	width:458px;
}
.talk_title{
	font-size: 28px;
	text-shadow:1px 1px 1px #fff;
	height:50px;
	line-height: 40px;
	border-bottom:1px solid #d4d4d4;
	margin-bottom:30px;
	*font-weight:normal;
}
.jiao{
	position: absolute;
bottom: -22px;
left: 213px;
}
.topic_top{
	width:1000px;
	position: relative;
	height:522px;
	background: #d4d4d4;
	border: 1px solid #c8c8c8;
}
.tpc_video{
	width: 480px;
	height:480px;
	position: relative; 
	top:20px;
	left:32px;
	border: 1px solid #c8c8c8;
}
.video_list{
	width: 420px;
	height: 480px;
	border: 1px solid #c8c8c8;
	background: #f4f4f4;
	position: absolute;
	top:20px;
	right:32px;
}
.D_right1{
	margin-top:33px;
	margin-right: 20px;
}
.div5{
	width:410px;
border: 1px solid #e1e1e1;
margin-top:20px;
background: #fff;
padding-top: 10px;
padding-bottom: 0;
}
.div5 ol li{
	width: 394px;
	height:103px;
	padding:24px 0 0 16px;
}
.div5 ol li .left{
	float: left;
}
.div5 ol li .right{
	float: left;padding-left: 15px;
}
.div5 ol li .right h1{
	font-size: 22px;
	line-height: 50px;
}
.div5 ol li .right h3{padding-top: 6px;line-height: 20px;font-size: 14px; color: #b3b3b3;}
.div5 ol li:hover{
	background: #e9e9e9;
}
.div5 ol li .left img{
	border: 3px solid #fff;
}
.div5 ol li:hover .left img{
	border: 3px solid #fcb538;
}
.div5 ol li.hover .left img{
	border: 3px solid #fcb538;
}
.div5 ol li:hover h1{
	color: #fcb538;
}
.div5 ol li.hover h1{
	color: #fcb538;
}
/*vid_spuare*/
.wrap_nav{
	width: 100%;
	height: 80px;
	background: #fff;
}
/*search*/
.nav_div3 ol li{
	float: left;
	color: #000;
	font-size: 18px;
	padding:0 10px 0 0;
}
.div4 ol li{
	border-color: #e1e1e1;
}
.div6{
	position: relative;
	top: 70px;
	border-top: 1px solid #e1e1e1;
}
.div6 .up{
	left: 154px;
}
.div6 h1{
	font-size: 16px;
	line-height: 50px;
}
.div6 ol {
	float: left;
}
.div6 span{
	display: block;
	float: right;
	padding-top: 10px;
}
.div6 ol li{
	position: relative;
	float: left;
	padding-right: 20px;
}
.div6 ol li p{
	width:110px;
	font-size: 14px;
	line-height: 22px;
	white-space:nowrap;overflow:hidden;text-overflow:ellipsis; 
}
.D_left .t1 {
font-size: 26px;
text-shadow: 1px 1px 1px #fff;
padding-bottom: 15px;
}
.olwrap{
	width: 411px;
	overflow: hidden;
	position: relative;
}
.div7{
	position: relative;
	border: 1px solid #e1e1e1;
}
.div7 ol{
	border: none;
	position: relative;
}
.div7 ul li{
	float: left;
	margin-left: 6px;
	width:26px;
	height:26px;
	border-radius: 20px;
	background:  #dedede;
	text-align: center;;
	line-height: 26px;
	font-size: 14px;
}
.div7 ul li.hover{
	background: none;
}
.page{
	cursor: pointer;
	text-align: center;
}
.div7 span.next{
	background: #dedede;
	margin:0 auto;
	border-radius: 3px;
	float: right;
	display: block;
	line-height: 26px;
}
.div7 span.next_more{
	margin: 0 auto;
	line-height: 55px;
	display: inline-block;
	width: 67px;
	font-size: 18px;
	line-height: 30px;
	*margin-top:-30px;
	color: #a5a5a5;
	line-height: 55px;
	background:right center url(../img/next_more.jpg) no-repeat;
}
.div7 ul{
	float: right;
}
.div7 .ol_con{
	width: 411px;
	height:359px;
	overflow:hidden;
}
.div7 .ol_con ol{
	float: left;
	width:411px;
}
/*scrollbar*/

	.newslist li{height:105px; width:404px;padding:15px 0 0 16px; cursor:pointer;text-shadow:1px 1px 1px #fff;position: relative;}
	.newslist li:hover{background: #e6e5e5;}
	.newslist li.hover{background: #e6e5e5;}
	.newslist li .left img{border:3px solid #f4f4f4;}
	.newslist li:hover .left img{border:3px solid #fcb538;}
	.newslist li.hover .left img{border:3px solid #fcb538;}
	.newslist li:hover .right h1 a{color:#fcb538;}
	.newslist li.hover .right h1 a{color:#fcb538;}
	.newslist li .left{float: left;}
	.newslist li .right{float: left;padding-left:10px;width: 280px;}
	.newslist li .right h1{font-size: 20px;}
	.newslist li .right h1 img{	vertical-align: middle;padding-left: 3px;margin-top:-4px;}
	.newslist li .right h2{padding-top: 8px;line-height: 20px;font-size: 14px;height:40px;overflow:hidden;}
	.newslist li .right h3{padding-top: 6px;line-height: 20px;font-size: 14px; color: #b3b3b3;}
	/* scr_con style */
	.dv_scroll{position: absolute;height: 480px;overflow: hidden;width: 420px;}
	.dv_scroll_1{position: absolute;height: 480px;overflow: hidden;width: 457px;}
	 .Scroller-Container{;width:100%;}
	.dv_scroll_bar {position:absolute; right:14px;}
	.dv_scroll_bar_1 {position:absolute; right:0; top:-37px;}
	 .Scrollbar-Track{position:absolute;right:-10px;top:-1px;width:10px;height:482px;overflow: hidden;}
	 .Scrollbar-Track_1{height:519px;}
	 .Scrollbar-Handle{
	 	position: absolute;
		top: 0;
		width: 10px;
		z-index: 9999;
		height: 100px;
		overflow: hidden;
		background: #666666;
		cursor: pointer;
		border-radius: 40px;
	}
	.newslist *{
		*font-weight: normal;
	}
	.newslist ul li .s_p{top:67px;left:26px;}
		.fix{    
    position:fixed;
    top:0px;
    left:800px;
    }
    .fl_btn{
	position: relative;
    top:0;height: 330px;
	overflow: hidden;
	width:410px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
    }
    a.more_bj{
    	width: 45px;
    	font-size: 16px;
    	line-height: 30px;
    	*margin-top:-30px;
    	background:right center url(../img/more_bj.gif) no-repeat;
    }
    .more_bj:hover{
    	color: #363636;
    	text-decoration: underline;
    }
    .title2 a.more_bj{
    	width: 45px;
    	font-size: 16px;
    	background:right center url(../img/more_bj.gif) no-repeat;
    }
    .title2 a.more_bj:hover{
    	text-decoration: underline;
    }
    .page1{
    	padding:50px 0;
    	margin:0 auto;
    	text-align: center;
    	font-size: 16px;
    	line-height: 26px;
    	cursor: pointer;
    }
    .page1 ul{
    	float: left;
    }
    .page1 ul li{
    	float: left;
    	padding:0 10px;
    	border:1px solid #ccc;
    	border-radius: 4px;
    	color:#fcb538;
    	height:26px;
    	margin:0 2px;
    }
    .page1 ul li.hover{
		border: none;
		color: #363636;
    }
    .prev1,.next1{
    	float: left;
    	width:64px;
    	height:26px;
    	border:1px solid #ccc;
    	border-radius: 4px;
    	color:#fcb538;
    	margin:0 2px;
    	position: relative;
    }
    .prev1{
    	padding-left: 8px;
    }
    .next1{
    	padding-right: 8px;
    }
    .prev1 b,.prev1 span{
    	width: 0;
    	height: 0;
    	border: 7px solid transparent;
    	border-right-color:#fcb538;
    	position: absolute;
    	left:-2px;
    	top:7px;
    	display: block;
    	_display:none;
    }
    .prev1 span{
		border-right-color:#fff;
		position: absolute;
		left:-1px;
    }
    .prev1.disable,.next1.disable{
    	color: #ccc;
    }
    .prev1.disable b{
    	border-right-color:#ccc;
    }
    .next1.disable b{
    	border-left-color:#ccc;
    }
    .next1 b,.next1 span{
		width: 0;
    	height: 0;
    	border: 7px solid transparent;
    	border-left-color:#fcb538;
    	position: absolute;
    	right:-2px;
    	top:7px;
    	display: block;
    	_display:none;
    }
    .next1 span{
		border-left-color:#fff;
		position: absolute;
		right:-1px;
    }
    .page1 ul li.ts_li_2{
    	border: none;
    	color: #ccc;
    }
    .without{
    	width: 100%;
    	color:#9c9b9b;
    	font-size: 16px;
    	text-align: center;
    	padding:30px 0;
    	border:1px solid #e1e1e1;
    	text-shadow:1px 1px 1px #fff;
    }
    .none{
    	display: none;
    }
    .D_left .without{
    	border: none;
    }
    .without p{
    	line-height: 100px;
    }
    #dv_scroll_text{
    	position: absolute;
    }
    .dialog_img{
    	width:105px;
    	height:107px;
    	background:-403px -301px url(../img/sprite.png) no-repeat;
    	_background:-403px -301px url(../img/sprite.gif) no-repeat;
    	display: inline-block;
    }

.li .p1{
	line-height: 30px;
	text-align: center;
}
.without_icon{
	width:82px;
	height:82px;
	display: inline-block;
	background: -415px 0 url(../img/sprite.png) no-repeat;
	_background: -415px 0 url(../img/sprite.gif) no-repeat;
}
#loading b{
	color: #9c9b9b;
text-align: center;
padding-top: 13px;
line-height: 43px;
display: block;
}
#loading b img{
	vertical-align: middle;
}
#loading b span{

}
.page_topic{
	position: absolute;
	width: 100%;
	height:25px;
	padding:11px 0;
	background: #000;
	filter:alpha(opacity=70);
	opacity: 0.7;
	z-index: 999;
	bottom: 0;
}
.page_topic a{
	width: 14px;
	height:21px;
	margin-left: 180px;
	display: inline-block;
	background:-29px 0 url(../img/page_topic.gif) no-repeat;
}
.page_topic a:hover{
	background-position: 0 0;
}
.page_topic a.topic_prev_page.hover{
	background-position: -30px 0;
}
.page_topic a.topic_next_page{
	background-position: -42px 0;
	margin-left:20px;
}
.page_topic a.topic_next_page:hover{
	background-position: -15px 0;
}
.page_topic a.topic_next_page.hover{
	background-position: -42px 0;
}
.dtl_name{
	color: #fcb538;
	overflow: hidden;/*注意不要写在最后了*/     
	white-space: nowrap;     
	-o-text-overflow: ellipsis;     
	text-overflow: ellipsis; 
	width: 110px;
	display: inline-block;
	line-height: 25px;
}
.talk_action .a:hover{
	color:#fcb538;
}
.main3 ul li .share a:hover{
	color:#363636;
}
.share ol li a:hover{
	color: #fcb538;
}
.r1 #r2{
	left:10px;
	top:10px;
}
.tpc{
	color: #fcb840;
	margin-right:5px;
	line-height: 30px;
	font-size: 14px;
}