/* HIDDEN */

.prodNav a#byProd,.brandNav a#byBrand,#toolbar, #searchForm, #tabs,  #prefooter, .ftrNavContainer, .social { display:none;}
#primary li{border:none;}
#primary li{background:none;}
footer {background: none repeat scroll 0 0 #ffffff !important;}
body {width:1200px;}

a:link:after, a:visited:after {display: none; content: "";}
header {height:120px; border-bottom:solid 8px #666666;}

#logo {text-indent:-8px; margin:0; padding:0;}
aside#cart-options input.btn-add, .btn-add {background: none repeat scroll 0 0 #46C965 !important; color:#CCCCCC !important;}

.recentlyViewed .recently-viewed-title {background: none repeat scroll 0 0 #999999 !important; color:#ffffff;}

nav#utility {  background: none repeat-x scroll center bottom #ffffff !important; text-align:right !important; height:30px !important;}


.myAccount{display:none;} 
.productStation .myAccount {display:block;}
.myCart{display:none;}
.myStore {float:right; height:auto !important; width:auto !important;}
.myStore .info, .myStore .changeLoc {display:none;}
.myStore .title {display:none;}

#utility ul.siteSearch{display:none !important;}

#home aside {margin-top:0 !important}
#findit_products .locationDescription {max-width:715px;}
#findit_products .locationWrapper {
  border-bottom: 1px solid #ececec;
  margin-bottom: 10px;
}
#findit_container{
    margin:0 0 12px 0;
}
#findit_products{
    margin: 0 0 25px 0;
}
#findit_container .fp_header_container{max-width:90% !important;}
#divImages img {max-width:90% !important;}  