@charset "utf-8";
body {
font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HiraKakuPro-W3","ＭＳ Ｐゴシック","MS PGothic","メイリオ",Meiryo,Arial, Helvetica,sans-serif; color: #222; padding: 0; margin: 0; text-align: center; overflow-x: hidden; background: #f7f7f7; 
}
a {
color: #333; text-decoration: none; 
}



/*　font-sizeが14pxのときは、line-height 22px、letter-spacingは0　*/






/*　海外サッカー試合結果表　hyo00　*/

#score_result_title {
display: block; width: 640px; font-size: 24px; line-height: 50px; font-weight: bold; letter-spacing: -0.3px; border-bottom:solid 3px #f0e6e6; border-top:solid 3px #f0e6e6; padding: 0; margin-top: 10px;
}
#score_result_title_s {
display: block; width: 640px; font-size: 16px; line-height: 30px; font-weight: bold; color: #940000; letter-spacing: 0.5px; text-align: center; line-height: 60px; padding: 0; margin: 0;
}
p#score_result_title_s {
margin: 10px 0 0 0 !important;
}
#score_result {
width: 640px; margin: 0; padding: 0; border-spacing: 0;
}
#score_result tr{
}
#score_result #result {
background-color: #4c4c4c;
}
#score_result td{
padding: 7px; vertical-align: middle;
}
#score_result #l1 {
width: 230px; text-align: center; color:#fff; font-weight: bold; font-size: 14px; line-height: 20px; border-left: 1px #e8e8ea solid; border-top: 1px #e8e8ea solid; border-right: 1px #e8e8ea solid;
}
#score_result #r1 {
width: 230px; text-align: center; color:#fff; font-weight: bold; font-size: 14px; line-height: 20px; border-right: 1px #e8e8ea solid; border-top: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid;
}
#score_result .score1 {
width: 20px; text-align: center; color:#fff; font-weight:bold; font-size:24px; border-top: 1px #e8e8ea solid; background-color: #666;
}
#score_result .score2 {
text-align: center; color:#fff; font-size:14px; line-height: 24px; letter-spacing: 2px; border-top: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid; border-right: 1px #e8e8ea solid; background-color:#666;
}
#score_result .score1_pk {
width: 20px; text-align: center; color:#fff; font-size: 18px; border-top: 1px #e8e8ea solid; background-color: #a1a1a1;
}
#score_result .score2_pk {
text-align: center; color: #fff; font-size: 14px; line-height: 18px; letter-spacing: 2px; border-top: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid; border-right: 1px #e8e8ea solid; background-color:#a1a1a1;
}
#score_result .l2 {
width: 230px; text-align: right; color:#222; font-size:14px; line-height: 24px; border-left: 1px #e8e8ea solid; border-top: 1px #e8e8ea solid;
}
#score_result .c2 {
text-align: center; color:#222; font-weight:normal; font-size:14px; letter-spacing: 1px; border-left: 1px #e8e8ea solid; border-right: 1px #e8e8ea solid; border-top: 1px #e8e8ea solid; background-color:#f7f7f7;
}
#score_result .r2 {
width: 230px; text-align: left; color:#222; font-size:14px; line-height: 24px; border-right: 1px #e8e8ea solid; border-top: 1px #e8e8ea solid;
}
.line_bottom {
width: 640px; margin: 0; padding: 0; border-spacing: 0; border-top: 1px #e8e8ea solid;
}
.pos {
background-color: #940000; color: #fff; font-weight:bold; font-size:11px; padding: 2px; margin-right: 5px; margin-left: 5px; letter-spacing: 1px;
}
.yellow {
background-color: #ffffdc;
}
.red {
background-color: #ffeaea;
}
.goal {
background-color: #eef7eb;
}
.change {
background-color: #f7f7f7;
}
#member_l {
width: 310px; float:left; border-spacing: 0; border-top: 1px #e8e8ea solid; border-right: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid; margin-right:20px;
}
#member_l .center {
text-align:center; font-weight: bold; letter-spacing: 1px;
}
#member_l .number {
text-align:center; font-weight: bold; width: 25px;
}
#member_l td{
padding: 7px; vertical-align: middle; font-size:14px; line-height: 22px; text-align: left; color:#222; border-bottom: 1px #e8e8ea solid;
}
#member_r {
width: 310px; float:left; border-spacing: 0; border-top: 1px #e8e8ea solid; border-right: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid;
}
#member_r .center {
text-align:center; font-weight: bold; letter-spacing: 1px;
}
#member_r .number {
text-align:center; font-weight: bold; width: 25px;
}
#member_r td{
padding: 7px; vertical-align: middle; font-size:14px; line-height: 22px; text-align: left; color:#222; border-bottom: 1px #e8e8ea solid;
}
.gray1 {
background-color: #fff;
}
.gray2 {
background-color: #f9f9f9;
}
.team {
background-color: #f7f7f7;
}

.table1 .tr1 a{
border-width: 0px 0px 2px; border-bottom: 2px dotted #808080; border-style: dotted; padding: 2px; font-weight: bold;
}
.table1 .tr2 a{
border-width: 0px 0px 2px; border-bottom: 2px dotted #808080; border-style: dotted; padding: 2px; font-weight: bold;
}


/*　hyo01,hyo02,hyo03,hyo04,hyo05,hyo06,hyo07　*/
#date_nav, #res_nav,#res_footnav {
width: 640px; height: 30px; margin: 0;
}
#date_nav ul#date li, #res_nav ul#date li, #res_footnav ul#date li {
float: left; list-style: none; font-size: 12px; font-weight: bold; margin-bottom: 1px;
}
#date_nav ul#date li a, #res_nav ul#date li a, #res_footnav ul#date li a {
display: block; height: 30px; margin: 0; padding: 0 10px; text-align: center; color: #fff; background-color: #a1a1a1; line-height: 30px; border-right:1px solid #fff; letter-spacing: 1px;
}
#date_nav ul#date li a:hover, #res_nav ul#date li a:hover, #res_footnav ul#date li a:hover {
background-color: #3d0000;
}
#date_nav ul#date .active, div#res_nav ul#date .active, div#res_footnav ul#date .active {
background-color: #3d0000; color: #fff;
}
#date_nav ul .year, #res_nav ul .year, #res_footnav ul .year {
display: block; height: 30px; margin: 0; padding: 0 10px; text-align: center; color: #fff; background-color: #4c4c4c; line-height: 30px; border-right:1px solid #fff; letter-spacing: 1px;
}
#date_nav ul .no_anchor, #res_nav ul .no_anchor, #res_footnav ul .no_anchor {
display: block; padding: 0 10px; color: #fff; background-color: #d1d1d1; line-height: 30px; border-right:1px solid #fff; letter-spacing: 1px;
}
#date_nav ul li.blank, #res_nav ul li.blank, #res_footnav ul li.blank  {
display: block; height: 30px; width: 10px;
}
#score_schedule_title {
display: block; width: 640px; font-size: 24px; line-height: 50px; font-weight: bold; letter-spacing: 1px; border-bottom:solid 3px #f0e6e6; border-top:solid 3px #f0e6e6; padding: 0; margin: 0;
}
#countries {
width: 640px; height: 60px; margin: 0;
}
#countries ul li {
float: left; list-style: none; font-size: 12px; font-weight: bold;
}
#countries ul li a {
display: block; height: 30px; width: 50px; margin: 0; text-align: center; color: #fff; background-color: #a1a1a1; line-height: 30px; border-right:1px solid #fff;
}
#countries ul li a:hover {
background-color: #3d0000;
}
.table1 {
width: 640px; float:left; border-spacing:0; border-top: 1px #e8e8ea solid; border-right: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid;
}
.table1 caption {
margin: 0 0 0 5px; padding: 0; color: #940000; font-size: 16px; text-align: left; font-weight: bold;
}
.table1 .title {
background-color: #f0e6e6; color: #940000; font-size: 15px; text-align:center; font-weight: bold; letter-spacing: 1px;
}
.table1 td{
padding: 3px; vertical-align: middle; font-size:14px; text-align: left; color:#222; border-bottom: 1px #e8e8ea solid;
}
.table1 .tr1 {
width: 50px; background-color: #fff; text-align:center; font-weight:normal; font-size:14px; letter-spacing: 0.5px; line-height : 2;
}
.table1 .time {
border-right:1px solid #e8e8ea;
}
.table1 .tr1_r {
background-color: #fff; text-align:left; vertical-align: top;
}
.table1 .tr1_l {
width: 210px; background-color: #fff; text-align:right; vertical-align: top;
}
.table1 .tr2 {
width: 50px; background-color: #f9f9f9; text-align:center; font-weight:normal; font-size:14px; line-height : 2;
}
.table1 .tr2_r {
background-color: #f9f9f9; text-align:left; vertical-align: top;
}
.table1 .tr2_l {
width: 210px; background-color: #f9f9f9; text-align:right; vertical-align: top;
}
.table1 th {
background-color: #f0e6e6; color: #940000; font-size: 14px; text-align:center; font-weight: bold; border-right: 1px #e8e8ea solid;
}
.table1 th .left {
background-color: #f0e6e6; color: #940000; font-size: 14px; text-align:center; font-weight: bold;
}
.table1 .tr3 {
background-color: #ffffdc; text-align:center; font-weight:normal; font-size:14px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.table1 .tr3_team {
width: 140px; background-color: #ffffdc; text-align:left; font-weight:normal; font-size:14px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.table1 .tr3_left {
background-color: #ffffdc; text-align:center; font-weight:normal; font-size:14px; line-height : 2;
}
.table1 .tr4 {
background-color: #fff; text-align:center; font-weight:normal; font-size:14px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.table1 .tr4_team {
width: 140px; background-color: #fff; text-align:left; font-weight:normal; font-size:14px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.table1 .tr4_left {
background-color: #fff; text-align:center; font-weight:normal; font-size:14px; line-height : 2;
}
.table1 .tr5 {
background-color: #f9f9f9; text-align:center; font-weight:normal; font-size:14px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.table1 .tr5_team {
width: 140px; background-color: #f9f9f9; text-align:left; font-weight:normal; font-size:14px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.table1 .tr5_left {
background-color: #f9f9f9; text-align:center; font-weight:normal; font-size:14px; line-height : 2;
}
.table1 .tr6 {
background-color: #ffffdc; text-align:center; font-weight:normal; font-size:12px; line-height : 1.5; border-right: 1px #e8e8ea solid;
}
.table1 .tr6_left {
background-color: #ffffdc; text-align:center; font-weight:normal; font-size:12px; line-height : 1.5;
}
.table1 .tr7 {
background-color: #ff8080; color: #fff; text-align:center; font-weight:bold; font-size:14px; line-height : 1.5; 
}
.table1 .tr8 {
background-color: #8080ff; color: #fff; text-align:center; font-weight:bold; font-size:14px; line-height : 1.5; 
}
.table1 a.dotline {
border-width: 0px; border-bottom-width: 2px; border-bottom-color: #808080; border-style: dotted; padding: 2px;
}
.prospo_custom th {
font-size: 12px !important;
}
.prospo_custom td {
padding: 1px !important; font-size: 12px !important; border-right: 1px #e8e8ea solid; width: 10%;
}
.width35 {
width: 35%;
}

/*海外サッカー日本人選手 hyo07*/

.table2 {
width: 400px; float:left; border-spacing:0; border-top: 1px #e8e8ea solid; border-right: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid; margin-left:20px;
}
.table2 .title {
background-color: #f0e6e6; color: #940000; font-size: 13px; text-align:center; font-weight: bold; letter-spacing: 1px;
}
.table2 td{
padding: 3px; vertical-align: middle; font-size:12px; text-align: left; color:#222; border-bottom: 1px #e8e8ea solid;
}
.table2 .tr1 {
width: 50px; background-color: #fff; text-align:center; font-weight:normal; font-size:14px; letter-spacing: 0.5px; line-height : 2;
}
.table2 .time {
border-right:1px solid #e8e8ea;
}
.table2 .tr1_r {
background-color: #fff; text-align:left; vertical-align: top;
}
.table2 .tr1_l {
width: 210px; background-color: #fff; text-align:right; vertical-align: top;
}
.table2 .tr2 {
width: 50px; background-color: #f9f9f9; text-align:center; font-weight:normal; font-size:14px; line-height : 2;
}
.table2 .tr2_r {
background-color: #f9f9f9; text-align:left; vertical-align: top;
}
.table2 .tr2_l {
width: 210px; background-color: #f9f9f9; text-align:right; vertical-align: top;
}
.table2 th {
background-color: #f0e6e6; color: #940000; font-size: 12px; text-align:center; font-weight: bold; border-right: 1px #e8e8ea solid;
}
.table2 th .left {
background-color: #f0e6e6; color: #940000; font-size: 12px; text-align:center; font-weight: bold;
}
.table2 .tr3 {
background-color: #ffffdc; text-align:center; font-weight:normal; font-size:12px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.table2 .tr3_team {
width: 100px; background-color: #ffffdc; text-align:left; font-weight:normal; font-size:12px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.table2 .tr3_left {
background-color: #ffffdc; text-align:center; font-weight:normal; font-size:12px; line-height : 2;
}
.table2 .tr4 {
background-color: #fff; text-align:center; font-weight:normal; font-size:12px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.table2 .tr4_team {
width: 100px; background-color: #fff; text-align:left; font-weight:normal; font-size:12px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.table2 .tr4_left {
background-color: #fff; text-align:center; font-weight:normal; font-size:12px; line-height : 2;
}
.table2 .tr5 {
background-color: #f9f9f9; text-align:center; font-weight:normal; font-size:12px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.table2 .tr5_team {
width: 100px; background-color: #f9f9f9; text-align:left; font-weight:normal; font-size:12px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.table2 .tr5_left {
background-color: #f9f9f9; text-align:center; font-weight:normal; font-size:14px; line-height : 2;
}

#soccer_japanese img {
vertical-align: text-top; float: left; padding: 0; margin: 0 10px 0 0;
}
#soccer_japanese .ar_text_big {
display: block; font-size: 18px; padding-bottom: 3px; font-weight: bold;
}
/* 釣果 */
.table3 {
width: 640px; float:left; border-spacing:0; border-top: 1px #e8e8ea solid; border-right: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid;
}
.table3 .title {
background-color: #f0e6e6; color: #940000; font-size: 15px; text-align:center; font-weight: bold; letter-spacing: 1px;
}
.table3 td{
padding: 5px; vertical-align: middle; font-size:12px; text-align: left; color:#222; border-bottom: 1px #e8e8ea solid;
}
.table3 .tr1 {
width: 50px; background-color: #fff; text-align:center; font-weight:normal; font-size:12px; letter-spacing: 0.5px; line-height : 1.4;
}
.table3 .time {
border-right:1px solid #e8e8ea;
}
.table3 .tr1_r {
background-color: #fff; text-align:left; vertical-align: top;
}
.table3 .tr1_l {
width: 210px; background-color: #fff; text-align:right; vertical-align: top;
}
.table3 .tr2 {
width: 50px; background-color: #f9f9f9; text-align:center; font-weight:normal; font-size:12px; line-height : 1.4;
}
.table3 .tr2_r {
background-color: #f9f9f9; text-align:left; vertical-align: top;
}
.table3 .tr2_l {
width: 210px; background-color: #f9f9f9; text-align:right; vertical-align: top;
}
.table3 th {
background-color: #f0e6e6; color: #940000; font-size: 12px; text-align:center; font-weight: bold; border-right: 1px #e8e8ea solid; line-height : 1.4;
}
.table3 th .left {
background-color: #f0e6e6; color: #940000; font-size: 12px; text-align:center; font-weight: bold;
}
.table3 .tr3 {
background-color: #ffffdc; text-align:center; font-weight:normal; font-size:12px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}
.table3 .tr3_team {
width: 100px; background-color: #ffffdc; text-align:left; font-weight:normal; font-size:12px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}
.table3 .tr3_left {
background-color: #ffffdc; text-align:center; font-weight:normal; font-size:12px; line-height : 1.4;
}
.table3 .tr4 {
background-color: #fff; text-align:center; font-weight:normal; font-size:12px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}
/* 表の中のリンク */
.table3 .tr4 a,.table3 .tr4_left a,.table3 .tr5 a{
color: #940000; font-weight:bold; text-decoration: underline;
}
.table3 .tr4_team {
width: 100px; background-color: #fff; text-align:left; font-weight:normal; font-size:12px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}
.table3 .tr4_left {
background-color: #fff; text-align:left; font-weight:normal; font-size:12px; line-height : 1.4;
}
.table3 .tr5 {
background-color: #f9f9f9; text-align:center; font-weight:normal; font-size:12px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}

.table3 .tr5_team {
width: 100px; background-color: #f9f9f9; text-align:left; font-weight:normal; font-size:12px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}
.table3 .tr5_left {
background-color: #f9f9f9; text-align:left; font-weight:normal; font-size:12px; line-height : 1.4;
}
.table3 .tr6 {
background-color: #ffffdc; text-align:center; font-weight:normal; font-size:10px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}
.table3 .tr6_left {
background-color: #ffffdc; text-align:left; font-weight:normal; font-size:10px; line-height : 1.4;
}
.table3 .tr7 {
background-color: #ff8080; color: #fff; text-align:center; font-weight:bold; font-size:12px; line-height : 1.4; 
}
.table3 .tr8 {
background-color: #8080ff; color: #fff; text-align:center; font-weight:bold; font-size:12px; line-height : 1.4; 
}

/* ドラフト速報 表左側 */
.table4_left {
width: 310px; float:left; border-spacing:0; margin: 0 20px 20px 0; padding: 0;
}
.table4_left td{
padding: 3px; vertical-align: middle; font-size:12px; text-align: left; color:#222; border-bottom: 1px #e8e8ea solid;
}
.table4_left .tr1 {
background-color: #ffffdc; text-align:center; font-weight:normal; font-size:14px; line-height : 2;
}
.table4_left .tr2_left {
background-color: #fff; text-align:center; font-weight:normal; font-size:12px; line-height : 2; border-right: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid; border-bottom: 1px #e8e8ea solid;
}
.table4_left .tr2 {
background-color: #fff; text-align:left; font-weight:normal; font-size:12px; line-height : 2; border-right: 1px #e8e8ea solid; border-bottom: 1px #e8e8ea solid;
}
.table4_left .tr3_left {
background-color: #f9f9f9; text-align:center; font-weight:normal; font-size:12px; line-height : 2; border-left: 1px #e8e8ea solid; border-bottom: 1px #e8e8ea solid;
}
.table4_left .tr3 {
background-color: #f9f9f9; text-align:left; font-weight:normal; font-size:12px; line-height : 2; border-right: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid; border-bottom: 1px #e8e8ea solid;
}
.table4_left .end {
background-color: #FFFFFF; text-align:center; color: #000000; letter-spacing: 5px;
}
.table4_left .giants {
background-color: #FFFFFF; text-align:center; color: #F27B00; font-weight:bold; font-size:14px; line-height : 1.5; letter-spacing: 5px; border-bottom: 3px #F27B00 solid;
}
.table4_left .tigers {
background-color: #FFFFFF; text-align:center; color: #FFD101; font-weight:bold; font-size:14px; line-height : 1.5; letter-spacing: 5px; border-bottom: 3px #FFD101 solid;
}
.table4_left .carp {
background-color: #FFF; text-align:center; color: #FF0000; font-weight:bold; font-size:14px; line-height : 1.5; letter-spacing: 5px; border-bottom: 3px #FF0000 solid;
}
.table4_left .dragons {
background-color: #FFF; text-align:center; color: #002468; font-weight:bold; font-size:14px; line-height : 1.5; letter-spacing: 5px; border-bottom: 3px #002468 solid;
}
.table4_left .baystars {
background-color: #FFF; text-align:center; color: #044A90; font-weight:bold; font-size:14px; line-height : 1.5; letter-spacing: 5px; border-bottom: 3px #044A90 solid;
}
.table4_left .swallows {
background-color: #FFF; text-align:center; color: #111C3C; font-weight:bold; font-size:14px; line-height : 1.5; letter-spacing: 5px; border-bottom: 3px #111C3C solid;
}

/* 表両側共通 */
.table4_right td.kakutoku, .table4_left td.kakutoku {
background-color: #effafc; width: 4em;
}
.table4_right td a, .table4_left td a{
text-decoration: underline; 
}

/* 表右側 */
.table4_right {
width: 310px; float:left; border-spacing:0; margin: 0 0 20px; padding: 0;
}
.table4_right td{
padding: 3px; vertical-align: middle; font-size:12px; text-align: left; color:#222; border-bottom: 1px #e8e8ea solid;
}
.table4_right .tr1 {
background-color: #ffffdc; text-align:center; font-weight:normal; font-size:14px; line-height : 2;
}
.table4_right .tr2 {
background-color: #fff; text-align:left; font-weight:normal; font-size:12px; line-height : 2; border-right: 1px #e8e8ea solid; border-bottom: 1px #e8e8ea solid;
}
.table4_right .tr2_left {
background-color: #fff; text-align:center; font-weight:normal; font-size:12px; line-height : 2; border-right: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid; border-bottom: 1px #e8e8ea solid;
}
.table4_right .tr3 {
background-color: #f9f9f9; text-align:left; font-weight:normal; font-size:12px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.table4_right .tr3_left {
background-color: #f9f9f9; text-align:center; font-weight:normal; font-size:12px; line-height : 2; border-right: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid; border-bottom: 1px #e8e8ea solid;
}
.table4_right .end {
background-color: #FFFFFF; text-align:center; color: #000000; letter-spacing: 5px;
}
.table4_right .eagles {
background-color: #FFFFFF; text-align:center; color: #940010; font-weight:bold; font-size:14px; line-height : 1.5; letter-spacing: 5px; border-bottom: 3px #940010 solid;
}
.table4_right .lions {
background-color: #FFFFFF; text-align:center; color: #131742; font-weight:bold; font-size:14px; line-height : 1.5; letter-spacing: 5px; border-bottom: 3px #131742 solid;
}
.table4_right .marines {
background-color: #FFFFFF; text-align:center; color: #000000; font-weight:bold; font-size:14px; line-height : 1.5; letter-spacing: 5px; border-bottom: 3px #000000 solid;
}
.table4_right .hawks {
background-color: #FFFFFF; text-align:center; color: #FFCC00; font-weight:bold; font-size:14px; line-height : 1.5; letter-spacing: 5px; border-bottom: 3px #FFCC00 solid;
}
.table4_right .buffaloes {
background-color: #FFFFFF; text-align:center; color: #9E751F; font-weight:bold; font-size:14px; line-height : 1.5; letter-spacing: 5px; border-bottom: 3px #9E751F solid;
}
.table4_right .fighters {
background-color: #FFFFFF; text-align:center; color: #00508F; font-weight:bold; font-size:14px; line-height : 1.5; letter-spacing: 5px; border-bottom: 3px #00508F solid;
}

/* 競馬 */
#raceTitle {
margin: 10px 0px; font-weight:bold; font-size:14px; line-height : 1.6; 
}
#raceTitle .left {
text-align:left;
}
#raceTitle .right {
text-align:right; font-weight:normal; font-size:12px; margin: 0px;
}
.tableWrap .hyou1 table tbody th{
text-align:center !important;
}

.dividend table{
width: 640px; margin: 0px;
}
.dividend th,.dividend td{
text-align:center; text-align:center;
font-size:12px !important;
}
.dividend p{
font-size: 12px; 
}
.hyou1 .waku-color1 {
background-color: #fff; color: #000;
}
.hyou1 .waku-color2 {
background-color: #000; color: #fff;
}
.hyou1 .waku-color3 {
background-color: #cf0000; color: #fff;
}
.hyou1 .waku-color4 {
background-color: #00ccff; color: #fff;
}
.hyou1 .waku-color5 {
background-color: #faff5c; color: #000;
}
.hyou1 .waku-color6 {
background-color: #00ba4a; color: #fff;
}
.hyou1 .waku-color7 {
background-color: #ff9d42; color: #fff;
}
.hyou1 .waku-color8 {
background-color: #ff9ee8; color: #fff;
}

.hyou1 .naviShutsuba ul,.hyou3 .naviShutsuba ul{
text-align: center; margin: 10px 0; padding: 0;
}
.hyou1 .naviShutsuba li,.hyou3 .naviShutsuba li{
display: inline; margin: 0; padding: 0; font-weight:bold; font-size:14px;
}
.hyou1 .naviShutsuba .list-def,.hyou3 .naviShutsuba .list-def{
margin: 0 5px; color: #E8E8E8;
}
.hyou1 table{
width: 640px; margin: 0 !important;
}
.hyou1 h2,.hyou1 h3,.hyou3 h2,.hyou3 h3{
font-size:20px;
}
.hyou1 .odd,.hyou3 .odd{
background-color: #f7f7f7;
}
.hyou1 .even,.hyou3 .even{
}
.hyou1 .hanten,.hyou3 .hanten{
background-color: #000; color: #fff; padding: 5px;
}
.hyou1 table td a {
text-decoration: underline;
}
.hyou3 .raceReturn{
text-align: right;
}
.hyou3 .month {
color: #000; background-color: #ffffdc;
}

/* Jリーグ表 */
.score_result_s_title {
display: block; clear: both; width: 640px; font-size: 16px; line-height: 30px; font-weight: bold; color: #940000; letter-spacing: 0.5px; padding: 0; margin: 5px;
}
.score_result_s {
width: 640px; margin: 0; padding: 0; border-spacing: 0;
}
.score_result_s tr{
}
.score_result_s .result {
background-color: #4c4c4c;
}
.score_result_s .result a {
color: #fff;
}
.score_result_s .result a:hover {
color: #d06a6a;
}
.score_result_s th, .score_result_s td{
padding: 0 7px; vertical-align: middle; font-size: 14px;
}
.score_result_s .l1 {
width: 230px; text-align: center; color:#fff; font-weight: bold; font-size: 14px; line-height: 20px; border-left: 1px #e8e8ea solid; border-top: 1px #e8e8ea solid; border-right: 1px #e8e8ea solid;
}
.score_result_s .r1 {
width: 230px; text-align: center; color:#fff; font-weight: bold; font-size: 14px; line-height: 20px; border-right: 1px #e8e8ea solid; border-top: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid;
}
.score_result_s .score1 {
width: 20px; text-align: center; color:#fff; font-weight:bold; font-size:24px; border-top: 1px #e8e8ea solid; background-color: #666;
}
.score_result_s .score2 {
text-align: center; color:#fff; font-size:14px; line-height: 24px; letter-spacing: 2px; border-top: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid; border-right: 1px #e8e8ea solid; background-color:#666;
}
.score_result_s .score1_pk {
width: 20px; text-align: center; color:#fff; font-size: 18px; border-top: 1px #e8e8ea solid; background-color: #a1a1a1;
}
.score_result_s .score2_pk {
text-align: center; color: #fff; font-size: 14px; line-height: 18px; letter-spacing: 2px; border-top: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid; border-right: 1px #e8e8ea solid; background-color:#a1a1a1;
}
.score_result_s .goal {
line-height: 25px;
}
.score_result_s .line_spacer {
padding: 7px;
}

/* 右カラムスコア（旧コード） */
.scoreTABLE table {
font-size: 14px; width: 300px; background: #f9f9f9;
}
.scoreTABLE table th {
line-height: 25px; width: 290px; height: 25px; padding: 0 5px; text-align: left; color: #fff; background: #000; background-image: url(/library/img/pc/icons.png); background-repeat: no-repeat; background-position: right -487px;
}
.scoreTABLE table th a {
color: #fff !important;
}
.scoreTABLE table th a:hover {
color: #d06a6a !important;
}
.scoreTABLE table td {
padding: 0; border-bottom: solid 1px #e8e8e8; line-height: 25px !important;
}
.scoreTABLE table td.tbLegue {
padding-left: 5px; text-align: left; font-size: 12px; color: #940000; border-bottom: none; line-height: 20px !important;
}
.scoreTABLE table td.tb-l, .scoreTABLE table td.tb-r {
width: 33%;
}
.scoreTABLE table td.tb-m {
width: 17%; font-weight: bold;
}

/* 相撲 */
#score_schedule_title {
display: block; width: 640px; font-size: 24px; line-height: 50px; font-weight: bold; letter-spacing: 1px; border-bottom:solid 3px #f0e6e6; border-top:solid 3px #f0e6e6; padding: 0; margin: 10px 0 0 0; background: #fff;
}

.sumo-b-tit td img,.line-s1-b,.line-s1-b img{
	height:0
}
.sumo-cal01-info,.sumo-b-tit{
	border:medium none;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:95%;
}
.sumo-b-tit{
	border-bottom:3px solid #f0e6e6;
	margin-bottom:12px;
}

.sumo-b-tit td{
	text-align:right;
	width:30%;
}

.sumo-b-tit td.tit{
	text-align:center;
	width:40%;
}

.sumo-b-tit td.tit h4{
	font-size:100%;
	margin:0;
	padding:0;
	white-space:nowrap;
	border-style:none;
}
.sumo-b-tit td.r-info{
	margin-right:8px;
	white-space:nowrap;
}

.sumo-b-tit td.r-info span{
	font-size:84%;
}

.sumo-b-tit td.r-info table{
	float:right;
	width:80px;
}

.sumo-b-tit td.r-info table td{
	font-size:84%;
	white-space:nowrap;
}

.sumo-cal01-info .wincolor,.sumo-b-tit .wincolor{
	background:#ffefe4;
	color:#ffefe4;
	width:20px;
}

.award{
	width:95%;
	margin:0 auto 15px auto;
}

.award h4{
	background:#DEF0D9;
	font-size:84%;
	margin:0 0 4px;
	padding:2px 4px 1px;
	text-align:center;
	color:#940000;
	width:20%;
	float:left;
}

.award h5{
	color:#940000;
	font-size:90%;
	padding:2px 3px 0 7px;
	float:left;
	margin:0;
}

.award h5 span{
	margin-left:5px;
	font-weight:normal;
}

.award div div{
	font-size:90%;
	margin-bottom:10px;
	padding:3px 0 3px 7px;
	float:left;
}

.sumo-cal01{
	border:1px solid #efc3a3;
	border-collapse:collapse;
	font-size:84%;
	margin-bottom:25px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:95%;
}

.sumo-cal01 td{
	border-bottom:1px solid #efc3a3;
	border-right:1px solid #efc3a3;
	line-height:105%;
	padding:5px 6px;
	text-align:center;
	vertical-align:top;
	width:1em;
}

.sumo-cal01 th{
	border-bottom:1px solid #efc3a3;
	border-right:1px solid #8d30a7;
	border-left:1px solid #8d30a7;
	border-top:1px solid #8d30a7;
	background:#650082;
	color:#fff;
	padding:4px;
	text-align:center;
}
.sumo-cal01 th a{
	color:#fff;
	text-decoration: underline;
}

.sumo-cal01 .name{
	line-height:140%;
	padding-left:7px;
	padding-right:10px;
	text-align:left;
	vertical-align:middle;
	width:auto;
}

.sumo-cal01 .trwin{
	background:none repeat scroll 0 0 #ffefe4;
}

.sumo-cal01-navi{
	border:medium none;
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:95%;
}

.sumo-cal01-navi td{
	font-size:80%;
	padding-left:10px;
	text-align:left;
	width:50%;
}

.sumo-cal01-navi .next{
	padding-right:10px;
	text-align:right;
	width:50%;
}

.sumo-cal01-navi .null{
	background:url("none") repeat scroll 0 0 transparent;
	clear:both;
}

.sumo-cal04{
	border:1px solid #EFC3A3;
	border-collapse:collapse;
	font-size:90%;
	margin:0 auto 25px;
	padding:0 0 1px;
	text-align:center;
	width:auto
}

.sumo-cal04 td{
	border-bottom:1px solid #EFC3A3;
	border-right:1px solid #EFC3A3;
	font-weight:normal;
	line-height:100%;
	margin:auto;
	padding:20px 5px 5px;
	text-align:center;
	vertical-align:top;
	width:1em
}

.sumo-cal04 th,.sumo-cal04 .sumoth{
	background: #650082;
	border-bottom:1px solid #8D30A7;
	border-right:1px solid #8D30A7;
	color:#fff;
	font-weight: bold;
	line-height:100%;
	margin:auto;
	padding:4px;
	text-align:center;
	vertical-align:middle;
	width:1em
}

.sumo-cal04 caption{
	font-size:140%;
	font-weight:bold;
	margin:0 auto auto;
	padding-bottom:3px;
	padding-top:0;
	text-align:center
}

.sumo-cal04 .null,.sumo-cal04 .null img{
	background:url("none") repeat scroll 0 0 transparent;
	border:medium none;
	margin:0;
	padding:0
}

.sumo-cal04 th.space{
	padding:0;
	width:1px
}

.sumo-cal04 .win{
	background:none repeat scroll 0 0 #fff5e1;
	text-align:center
}

.sumo-cal04 .lose{
	background:none repeat scroll 0 0 #f7f7f7;
	text-align:center
}

.sumo-cal04 .draw{
	background-color:#faf9e2;
	text-align:center
}

.sumo-cal04 .trick{
	background-color:#e9deef;
	padding-bottom:10px;
	padding-top:10px;
	text-align:center;
	vertical-align:top
}
#res_footboxes span.p_teamL{
 width: 42%;
 float: left;
 display:block;
 text-align:right;
}
#res_footboxes span.p_teamR{
 width: 42%;
 float: left;
 display:block;
 text-align:left;
}
#res_footboxes span.p_score{
 width: 15%;
 float: left;
 display:block;
 text-align:center;
}
#res_footboxes .table1 .tr5 a, #res_footboxes .table1 .tr4 a{
 display:block;
 width:100%;
 height:100%;
}

.linklist a {
border-width: 0px 0px 2px; border-bottom: 2px dotted #808080; border-style: dotted; padding: 2px; font-weight: bold;
}

/* hakone */
.table-narrow table {
width: 100%;
}
.table-narrow h1 {
display: block;width: 640px; font-size: 24px; line-height: 50px; font-weight: bold; letter-spacing: -0.3px; border-bottom: 3px solid #F0E6E6; border-top: 3px solid #F0E6E6; padding: 0px; margin-top: 10px;
}
.table-narrow th {
color:#003366; background: #e6dfb1 url(http://www.hochi.co.jp/library/img/pc/bg_gold_head.gif) repeat-x;  padding: 3px 0; text-align: center; font-size: 90%; line-height: 110%;
}
.table-narrow .hyou1 {
text-align: center; margin: 10px 0;
}
.table-narrow table, .table-narrow th, .table-narrow td {
border-collapse: collapse; border: 1px solid #ccc;
}
.table-narrow .hyou1 caption {
color: #003366; font-weight: bold;
}
.table-narrow td{
font-size: 90%; line-height: 140%; padding: 3px;
}
.table-narrow .back-silver{
background: #efefef;
}
.table-narrow a {
color: #15C;
}
.table-narrow a:hover{
text-decoration: underline;
}
.schoolList ul, .schoolRank ul {
width: 100%;
}
.schoolList li, .schoolRank li {
 float: left;
}
.schoolList li img{
float: left;
}

/* 釣果 */
.koyomi {
width: 200px; float:left; border-spacing:0; border-right: 1px #e8e8ea solid; border-bottom: 1px #e8e8ea solid;
}
.shio {
width: 420px; float:left; border-spacing:0; border-right: 1px #e8e8ea solid; border-bottom: 1px #e8e8ea solid; margin-left:20px
}
.koyomi caption {
background-color: #f0e6e6; color: #940000; font-size: 15px; text-align:center; font-weight: bold; letter-spacing: 1px;border-bottom: 1px #e8e8ea solid;
}
.koyomi td{
padding: 5px; vertical-align: middle; font-size:14px; text-align: center; color:#222; border-top: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid; width:50%;
}
.koyomi th {
background-color: #f0e6e6; color: #940000; font-size: 14px; text-align:center; font-weight: bold; border-right: 1px #e8e8ea solid; line-height : 1.4;
}
.shio caption {
background-color: #f0e6e6; color: #940000; font-size: 15px; text-align:center; font-weight: bold; letter-spacing: 1px; border-bottom: 1px #e8e8ea solid;
}
.shio td{
padding: 5px; vertical-align: middle; font-size:14px; text-align: center; color:#222; border-top: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid;
}
.shio th {
background-color: #f0e6e6; color: #940000; font-size: 14px; text-align:center; font-weight: bold; border-right: 1px #e8e8ea solid; line-height : 1.4;
}
.shio .tr4 {
background-color: #fff; text-align:center; font-weight:normal; font-size:14px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}
.shio .tr5 {
background-color: #f9f9f9; text-align:center; font-weight:normal; font-size:14px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}
.koyomi .tr4 {
background-color: #fff; text-align:center; font-weight:normal; font-size:14px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}
.koyomi .tr5 {
background-color: #f9f9f9; text-align:center; font-weight:normal; font-size:14px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}
/* 釣果 */
.tableF {
width: 640px; float:left; border-spacing:0; border-right: 1px #e8e8ea solid; border-bottom: 1px #e8e8ea solid;
}
.tableF .title {
background-color: #f0e6e6; color: #940000; font-size: 15px; text-align:center; font-weight: bold; letter-spacing: 1px;
}
.tableF td{
padding: 5px; vertical-align: middle; font-size:12px; text-align: left; color:#222; border-top: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid;
}
.tableF th {
background-color: #f0e6e6; color: #940000; font-size: 12px; text-align:center; font-weight: bold; border-right: 1px #e8e8ea solid; line-height : 1.4;
}
.tableF .sakana {
width:60px;
}
.tableF .spot {
width:50px;
}
.tableF .tel {
width:80px;
}
.tableF .size {
width:65px;
}
.tableF .tr4 {
background-color: #fff; text-align:center; font-weight:normal; font-size:12px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}
/* 表の中のリンク */
.tableF .tr4 a,.tableF .tr4_left a,.tableF .tr5 a{
color: #940000; font-weight:bold; text-decoration: underline;
}
.tableF .tr5 {
background-color: #f9f9f9; text-align:center; font-weight:normal; font-size:12px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}
/* 諸制度 */
.tableC {
width: 680px; float:left; border-spacing:0; border-right: 1px #e8e8ea solid; border-bottom: 1px #e8e8ea solid;
}
.tableC td{
padding: 5px; vertical-align: middle; font-size:12px; text-align: left; color:#222; border-top: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid;
}
.tableC th{
padding: 5px; width: 140px; vertical-align: middle; font-size:12px; text-align: center; color:#222; border-top: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid; font-weight: bold;
}
.tableC .tr4 {
background-color: #fff;  font-size:12px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}
.tableC .tr5 {
background-color: #f9f9f9; font-size:12px; line-height : 1.4; border-right: 1px #e8e8ea solid;
}
/* 会社小史 */
.tableH {
width: 680px; float:left; border-spacing:0; border-top: 1px #e8e8ea solid; border-right: 1px #e8e8ea solid; border-left: 1px #e8e8ea solid;
}
.tableH td{
padding: 3px; vertical-align: middle; font-size:14px; text-align: left; color:#222; border-bottom: 1px #e8e8ea solid;
}
.tableH th {
background-color: #f0e6e6; color: #940000; font-size: 14px; text-align:center; font-weight: bold; border-right: 1px #e8e8ea solid;
}
.tableH th .left {
background-color: #f0e6e6; color: #940000; font-size: 14px; text-align:center; font-weight: bold;
}
.tableH .tr4 {
background-color: #fff; text-align:left; font-weight:normal; font-size:14px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.tableH .tr4_year {
width: 100px; background-color: #fff; text-align:center; font-weight:normal; font-size:14px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.tableH .tr4_left {
background-color: #fff; text-align:left; font-weight:normal; font-size:14px; line-height : 2;
}
.tableH .tr5 {
background-color: #f9f9f9; text-align:left; font-weight:normal; font-size:14px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.tableH .tr5_year {
width: 140px; background-color: #f9f9f9; text-align:center; font-weight:normal; font-size:14px; line-height : 2; border-right: 1px #e8e8ea solid;
}
.tableH .tr5_left {
background-color: #f9f9f9; text-align:left; font-weight:normal; font-size:14px; line-height : 2;
}

/* 箱根駅伝用tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #7FB4E0;
	color: #ffffff;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
	text-align: center; 
}
table.tablesorter thead tr .header {
	background-image: url(/library/img/pc/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F9F9F9;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/library/img/pc/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/library/img/pc/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
span.none
{
	display:none;
}
span.centro
{
	text-align: center; 
}
td.centro{
	text-align: center; 
}
th.puesto {
	width:22px;
}
th.univ {
	width:65px;
}
th.record {
	width:90px;
}
#table_hakone a {
    color: #15C;
}