body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,button,p,blockquote,iframe,a,abbr,acronym,address,caption,cite,code,dfn,em,img,strong,label,legend,tbody,tfoot,thead,tr,th,tddd,hr{margin:0;padding:0;outline:0;font-size:100%;background:none;}
body{font:16px/1 Nokia Sans,Arial,sans-serif;overflow-x:hidden;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,button,abbr,acronym{border:none;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,dl{list-style:none;}
caption,th{text-align:left;}
blockquote,q{quotes:none;}
q:before,q:after{content:'';}
input,select,textarea{font-size:inherit;margin:0;padding:0;font-size:100%;}
focus{outline:0;}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal;}
a{text-decoration:none;}
.rm{position:absolute;left:-999em;}
.menu_row{
	color: #000000;
  border-bottom: 1px solid #164F7C;

    padding: 8px 5px 8px 5px;
}
input[type="text"], input[type="password"], textarea {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #AEAEAE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    color: #AEAEAE;
    padding: 5px;
}
body,a,input[type="text"]{color:#666;}
p{padding:.6em .6em .5em .6em;}
p span{margin-left:.6em;}
p.txt-sm{font-size:.875em;padding:.75em;}
p strong,div.ul li strong,div.ol li strong,#OviMusic strong,#CWMTerms strong,#OviTerms strong,#OviServiceTerms strong,#PrivacyPolicy strong{font-weight:bold;}
p.grad{line-height:1.2em;}
p#old-acc-msg{padding-top:0;}
ul.img-link li,ul.adimg-link li,ul.srch-link li,ul.link li,ol.num-list li,ul.play li,p.more,ul.img-link-detail li{border-bottom:1px solid #d8d8d8;}
.bt{border-top:1px solid #d8d8d8;}
.bb{border-bottom:1px solid #d8d8d8;}
.nb,ul.link.nb,ul.img-link li.nb,ul.srch-link.nb li,ul.link.art-list li{border:none;}
form h2.nbt{border-top:none;}
.noresults ul.link li,.library-top p.nbb,ul.link li.nbb{border-bottom:0;}
#jsDisabledMess a{line-height:1.1em;display:block;font-size:1.0em;border:1px solid #fff;color:#fff;font-weight:900;padding:7px 0;background-color:#c00;padding:5px;}
.js #jsDisabledMess{display:none;}
.showifjsenabled{display:none;}
.js .showifjsenabled{display:block;}
.js .hideifjsenabled{display:none;}
h1{font-size:1.438em;padding:.35em .4em .4em .4em;background:#000;border-bottom:.18em solid #164f7c;color:#fff;font-weight:normal;}
h2{font-size:1.375em;padding:.68em .4em .25em .4em;margin:0 0 1px 0;color:#3f3f3f;border-bottom:.18em solid #164f7c;clear:left;}
h3{font-size:1em;padding:.68em .4em .25em .68em;font-style:italic;margin:0 0 1px 0;color:#7e7e7e;}
h2.hd-link span,h1.hd-link span{padding:.5em 0 .5em 1.3em;}
h2.hd-link a,h1.hd-link a,h1 a{display:block;color:#fff;}
ul.img-link,ul.adimg-link,ul.srch-link,ul.link,ol.num-list,ul.play{border-top:1px solid #d8d8d8;}
p+ul.img-link{border-top:0;}
ul.img-link li a,ul.adimg-link li a,ul.srch-link li a,a.lst-tog,ul.link li a,ol.num-list li a,ul.play a,ul.img-link-detail a.lk{display:block;padding:0;}
a.lst-tog,ul.srch-link li a{position:relative;}
ul.adimg-link li,ul.adimg-link strong{overflow:hidden;}
div.ul ul{list-style-type:disc;padding:.5em 1em 1.2em 2em;}
div.ul p{padding-left:2em;}
div.ol ol{padding:.5em 1em 1.2em 2.3em;list-style-type:decimal;}
.toggle div.ul ul,.toggle div.ol ol{padding-top:0;}
div.ul ul li,div.ol ol li{line-height:1.2em;margin-top:.3em;}
a.lst-tog span,ul.srch-link li span,ul.link li span{font-size:1.25em;line-height:1.15em;padding:.5em .4em .5em 1.5em;border:1px solid #fff;display:block;}
ul.link li span em{line-height:1.15em;display:block;color:#7A7A7A;font-size:.7em;margin:.3em 0;}
a:hover.lst-tog,ul.srch-link li a:hover,ul.link li a:hover{color:#4A3;}
#takemusictour li a{color:#fff;}
#takemusictour li a span{border-color:#002a6d;}
ul.img-link span,ul.adimg-link span,ul.img-link-detail .pkshot{margin:.31em 0 0 .6em;width:5.25em;height:4.88em;}
ul.img-link span img,ul.adimg-link span img,ul.img-link-detail .pkshot img{margin:.25em 0 0 .63em;width:4.38em;height:4.38em;}
ul.img-link li a em,ul.img-link-detail a.lk em,div.prod-info em{font-size:.875em;color:#7a7a7a;line-height:1.2em;}
ul.img-link li a span,ul.promo li:first-child a span,ul.adimg-link li a span,ul.img-link-detail a.lk span{font-size:.7em;color:#7a7a7a;position:absolute;bottom:.4em;height:1.5em;overflow:hidden;}
ul.adimg-link li a span{background:none;top:8.65em;width:50%;}
ul.img-link li a,ul.adimg-link li a,div.prod-info,ul.img-link-detail li a.lk{line-height:1.2em;min-height:4.2em;position:relative;padding:.3em 1em .9em 6.25em;border:1px solid #fff;}
ul.img-link-detail li a.lk{padding-right:2.5em;}
ul.img-link strong,ul.adimg-link strong,div.prod-info strong,ul.img-link em,div.prod-info em,ul.img-link-detail a.lk strong,ul.img-link-detail a.lk em{display:block;}
ul.img-link span,ul.adimg-link span,ul.img-link-detail .pkshot{float:left;clear:left;}
ul.img-link strong,ul.img-link-detail li a.lk strong{max-height:2.3em;overflow:hidden;}
ul.img-link li a em,ul.img-link-detail li a.lk em{max-height:1.2em;overflow:hidden;}
ul.img-link li a.btn em{max-height:5em;font-size:1em;}
ul.img-link li a span,ul.img-link-detail li a.lk span,ul.img-link-detail a.lk span,ul.img-link li .prod-info span,ul.img-link li:first-child .prod-info span{float:none;margin:0;display:inline;height:auto;width:auto;background:none;}
ul.img-link li:first-child a span{float:none;margin:0;display:inline;width:auto;}
ul.img-link li:first-child a span.icon{cursor:pointer;height:1.5em;right:.6em;top:2em;width:1.5em;font-size:1em;}
ul.promo li:first-child a,ul.adpromo li a{min-height:6.275em;padding:.4em 1em .9em 8.125em;}
ul.promo li:first-child span,ul.adpromo li span{margin-top:.5em;bottom:.25em;width:7.25em;height:6.75em;}
ul.promo li:first-child span img,ul.adpromo li span img{width:6.25em;height:6.25em;}
.cols-1 li{overflow:hidden;}
.cols-1 img,.cols-2 img,.cols-3 img{height:auto;}
.cols-1 img{width:100%;}
.cols-1 a{overflow:hidden;}
.cols-2 img{width:98%;margin:0;}
.cols-3 img{width:98%;margin:0;}
ul.cols-1,ul.cols-2,ul.cols-3{margin-left:0;}
.cols-2 li,.cols-3 li{float:left;margin:0;}
.cols-2 li,.cols-3 li{width:50%;}
.cols-2 li.item2{float:right;text-align:right;}
.cols-3 li.item2{float:right;text-align:right;}
#wide .cols-3 li{width:33%;}
#wide .cols-3 li.item1{width:33%;}
#wide .cols-3 li.item1 img{width:96%;}
#wide .cols-3 li.item2{text-align:center;float:left;position:relative;left:.6%;}
#wide .cols-3 li.item3{float:right;text-align:right;}
.cols-3 .item3{display:none;}
#wide .cols-3 .item3{display:block;}
#wide .cols-3 img{width:96%;}
ul.expd li{display:none;}
ul.expd li.showalways,ul.expd li.show{display:block;}
ol.num-list span,ol.num-list a.lk,div a.lk,div a.lk span{border:1px solid #fff;padding:1.06em 2.7em 1em .625em;display:block;}
div ul.img-link-detail a.lk span{border:none;}
ol.num-list span span,ol.num-list strong span,ol.num-list em span{border:none;padding:0;display:inline;}
ol.num-list li a,ol.num-list li span{color:#7A7A7A;}
ol.num-list span.trck-desc{padding:0 .625em .625em .625em;}
ol.num-list li strong span{float:left;display:block;min-height:2.1em;min-width:1em;padding-right:.375em;}
ol.num-list li.show strong span{min-height:2.6em;}
ol.num-list li em,ol.num-list li em span{padding-left:3px;}
ol.num-list li em{font-size:.688em;}
ul.play span,ul.play a.lk{border:1px solid #fff;padding:1.06em 2.7em 1em .625em;display:block;}
ul.play li em{display:block;font-size:.812em;padding-top:.625em;}
ol.num-list li a,.prod a,.prod span em,div a.lk{position:relative;}
.prod a span.icon,ol.num-list li span.icon,ul.img-link li span.icon,ul.img-link-detail li a.lk span.icon,.prod span em,div a.lk span.icon{font-size:1em;padding:0;border:none;display:block;position:absolute;}
ol.num-list li span.icon,ul.img-link li span.icon,ul.img-link-detail li a.lk span.icon,div a.lk span.icon{right:.6em;top:1em;width:1.5em;height:1.5em;}
#libraryContentList ul.img-link li span.icon{top:2em;}
ol.lrg li span.icon{top:1.15em;}
.prod a span.icon{right:.6em;top:.45em;width:2em;height:2em;}
.prod span em{left:137px;bottom:2em;color:#7a7a7a;font-size:.675em;}
ol.lrg li em{display:block;font-size:.812em;padding-left:1.5em;}
ol.lrg li em span{font-size:.846em;}
ol.lrg li strong{color:#3F3F3F;}
ol.lrg li strong span{min-height:2.9em;}
.js ol.num-list li ul.btn-rw,.js ol.num-list li p,.js span.trck-desc,.js #libraryContentList ul.img-link li ul.btn-rw,.js #libraryContentList ul.img-link li p,ul.img-link-detail li div.sw-hd,.js div.sh-hd{display:none;}
.js ol.num-list li.show ul.btn-rw,.js ol.num-list li.show p,.js li.show span.trck-desc,ul.img-link-detail li.show div.sw-hd,.js #libraryContentList ul.img-link li.show ul.btn-rw,.js #libraryContentList ul.img-link li.show p,.js div.show div.sh-hd{display:block;}
div.show a.lk{background:none;}
body.alc ol.num-list li.show p.txt-alert-cwm,body.cwm ol.num-list li.show p.txt-alert-alc,body.alc div.prod p.txt-alert-cwm,body.cwm div.prod p.txt-alert-alc{display:none;}
ol.num-list li p.more,ul.img-link-detail li p.more{border-bottom:none;border-top:1px solid #F2F2F2;margin-top:.65em;}
div.pag{position:relative;text-align:right;z-index:90;font-size:.875em;padding:1.9em 4.5em 0 0;min-height:3em;border-bottom:1px solid #d8d8d8;}
div.pag a,div.pag span{display:block;position:absolute;text-align:left;text-indent:-999em;width:3.5em;height:4.1em;top:.4em;left:1px;}
div.pag a.rightarrow,div.pag span.rightarrow{left:auto;right:1px;}
div.prod,div.art-info{border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;padding:.5em .6em .1em .6em;position:relative;}
div.prod span.pk-st,div.art-info span.pk-st{float:left;clear:left;}
div.prod span.pk-st,div.art-info span.pk-st{margin:0 .75em 0 0;width:7.25em;height:6.75em;}
div.prod span.pk-st img,div.art-info span.pk-st img{margin:.25em 0 0 .8em;width:6.25em;height:6.25em;}
div.prod{padding-right:0;padding-left:0;}
div.prod span.pk-st{margin-left:.6em;}
div.prod strong,div.prod a span,div.prod a{display:block;}
div.prod a{margin-left:8.725em;padding:.1em 0 .1em .375em;border-top:1px solid #D8D8D8;border-bottom:1px solid #D8D8D8;}
div.prod strong{color:#7a7a7a;padding:0 .6em .5em 0;min-height:3.35em;overflow:hidden;}
div.prod a span{font-size:.7em;color:#7a7a7a;padding:.4em 0;}
div.prod a span span{font-size:1em;margin:.1em 0;padding:0;}
div.prod ul.btn-rw{margin-top:1em;}
div.prod ul.btn-rw li a.btn span em{top:.4em;height:2em;width:3em;}
div.prod-pacblk{float:left;}
div.prod-pacblk .prod-padv{display:block;padding:5px 0 0 7px;}
a.lst-tog span+span,ul.srch-link li a span+span{position:absolute;border:none;padding:0;right:.5em;top:.5em;width:1.3em;height:1.5em;}
ul.srch-link li a>span{padding-right:2.1em;}
div.art-info{padding-bottom:.5em;}
.art-info h3{font-size:1.375em;line-height:1.02em;margin:0 0 .3em 0;}
.art-info strong{font-size:.875em;min-height:2.45em;padding-bottom:1px;display:block;}
div.play-dtl,p.grad{padding-bottom:.6em;}
.play-dtl img,img.top-bnr{display:block;padding:.06em 0;border-top:1px solid #D8D8D8;border-bottom:1px solid #D8D8D8;background-color:#999;}
.play-dtl strong{display:block;color:#333;margin:.6em .6em .5em 1em;}
.play-dtl em{font-size:.875em;color:#7A7A7A;min-height:2.45em;padding-left:1.1em;display:block;}
.play-dtl span{font-size:.675em;color:#7A7A7A;padding-left:1.6em;}
.art-info ul.btn-rw a.btn{margin-top:1px;}
.art-info ul.btn-rw{text-align:left;margin:.5em 0 0 0;float:left;min-width:13.4em;}
.art-info li.cog{margin:0 .4em 0 0;padding:0;border:none;}
.art-info ul.btn-rw li a.btn span{color:#3f3f3f;font-size:1em;padding:.7em 1.11em 0 .555em;height:1.65em;}
.art-info ul.btn-rw li a.btn:hover span{color:#4A3;}
ul.btn-rw{padding:0;margin:.56em 0 .42em 0;text-align:center;}
.img-link ul.btn-rw{clear:left;}
ul.btn-rw li{display:inline-block;border-bottom:none;background:none;margin:0 .6em 0 0;}
li.cog{margin:0 4%;}
ul.btn-rw li a{min-height:0;padding:0;border:none;margin:0;}
ul.btn-rw li.ply a,ul.btn-rw li.cog a{float:left;width:4.82em;height:2.32em;text-indent:-999em;}
ul.btn-rw li.cog{display:none;}
ul.btn-rw li a.btn,ul.btn-rw li a.btn span,ol.num-list-alt li a.btn,ol.num-list-alt li a.btn span,p.more a,p.more a span{float:left;padding:0;margin:0;width:auto;display:block;cursor:pointer;}
ul.btn-rw li a.btn span,ol.num-list-alt li a.btn span,p.more a span{position:relative;left:.277em;margin-left:.277em;color:#fff;font-size:1.125em;padding:.5em .8em 0 .555em;height:1.6em;border:none;text-align:center;bottom:0;cursor:pointer;}
p.more a span{padding:.5em .8em 0 .555em;height:1.5em;}
p.more a:hover span{color:#4A3;}
a.btn span{min-width:2.3em;}
a.btn{position:relative;}
ol li a.btn em{font-size:1em;}
a.btn em{display:block;width:2.5em;height:1.5em;position:absolute;top:.3em;left:.5em;cursor:pointer;}
a.dload-alc em,a.grey-alc em{display:none!important;}
a.dload span,a.load span,a.na span,a.grey span{text-indent:-999em;}
a.dload em{padding:0!important;}
ul.btn-rw li a.grey-alc span{color:#999;}
body li a.dload-alc,body li a.grey-alc,body li a.dload,body li a.grey{display:none!important;}
body.alc li a.dload,body.alc li a.grey,body.cwm li a.dload,body.cwm li a.grey{display:block!important;}
body.alc li a.dload-alc,body.alc li a.grey-alc{display:block!important;}
body.alc li a.trackbytrack{display:block!important;}
body.cwm li a.trackbytrack.grey{display:none!important;}
body.alc li a.trackbytrack.grey{display:block!important;}
body.alc li a.cwm,body.cwm li a.alc{display:none!important;}
p.more a,ol.num-list li p.more a{float:none;display:inline-block;cursor:pointer;}
p.more a span{float:none;padding:.45em 2.61em 1px 2.055em;color:#3f3f3f;font-size:1em;cursor:pointer;}
p.more{text-align:center;}
ol.num-list-alt{border-top:1px solid #d8d8d8;}
ol.num-list-alt li{border-bottom:1px solid #d8d8d8;position:relative;padding:.85em 5.63em .8em .625em;}
ol.num-list-alt li strong span{float:left;min-width:1em;padding-right:.375em;min-height:1.1em;}
ol.num-list-alt li em{font-size:.812em;display:block;padding-left:1.7em;}
ol.num-list-alt li a em{font-size:1em;padding:0;}
ol.num-list-alt li a.btn{position:absolute;right:.9em;top:50%;margin-top:-1.19em;}
input,textarea,select,button{font-family:"Nokia Sans",Arial,sans-serif;}
form{padding:0;border-top:1px solid #d8d8d8;}
form#useCreditCard{border-top:none;}
form#useCreditCard div.frm-ckbx{margin:-0.1em 0;}
form h2{border-top:1px solid #d8d8d8;}
form div,.frm-sub{position:relative;overflow:hidden;margin:0;padding:0 .6em;}
form div{margin:.625em 0;}
label,label span{display:block;position:relative;}
label{padding:0 0 .2em 0;}
label span{color:#7a7a7a;padding:0 0 .2em 0;}
input[type="submit"], input[type="button"], .button, button {
    background: url("../images/footer.gif") repeat-x scroll 0 0 #D67728;
    border: 1px solid #D26C24;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #D26C24;
}
input[type="text"],input[type="password"]{border:0;width:20%;display:block;}
input[type="hidden"]{border:none;}
div.frm-sel label{padding:.2em 0 0 0;}
div.frm-sel select{width:100%;border-color:#979797;}
div.radio{padding:0;}
div.frm-ckbx,div.frm-rdbtn{border-bottom:1px solid #d8d8d8;padding:0;}
div.frm-ckbx+div.frm-ckbx,div.frm-ckbx+h2.account,div.frm-rdbtn+div.frm-rdbtn,div.frm-rdbtn+h2.account,div.frm-rdbtn+h2.account{margin-top:-0.7em;}
div.frm-ckbx+div.frm-ckbx.link{margin-top:-0.65em;}
div.frm-ckbx label,div.frm-rdbtn label{font-size:.812em;line-height:1.2em;border:1px solid #fff;border-top:1px solid #d8d8d8;min-height:2.465em;padding:.8em 2.31em .3em 2.5em;}
div.frm-ckbx input,div.frm-rdbtn input{position:absolute;left:.6em;top:.5em;}
div.frm-sub span,div.frm-sub span button,div.frm-sub span a,div.btn span,div.btn span a{display:block;float:left;padding:0;margin:0;cursor:pointer;}
div.frm-sub span{margin:0;}
div.frm-sub span button,div.frm-sub span a,div.btn span a{color:#fff;font-size:1.125em;padding:0 .85em 0 .555em;position:relative;left:6px;text-align:center;line-height:2.2em;-webkit-sizing:content-box;-moz-box-sizing:content-box;}
div.frm-sub span a,div.btn span a{padding:0 .6em 0 .3em;}
div.frm-sub span a,div.btn span a{padding-top:.0em;min-width:2.5em;}
div.frm-sub{margin:.62em 0 .0 0;min-height:2.93em;}
div.frm-sub span{margin-bottom:.62em;}
div.btn{margin:.62em 0 .62em 0;}
div.btn{padding:0 .6em;}
div.frm-sub span.bk,div.btn span.bk{margin-right:1em;}
div.frm-sub span.bk:hover button,div.frm-sub span.bk:hover a,div.btn span.bk:hover a,#cancelDownload:hover span{color:#4A3;}
div.frm-sub span.bk.disabled button,div.frm-sub span.bk.disabled:hover button{color:#ccc;}
div.frm-sub span.bk button,div.frm-sub span.bk a,div.btn span.bk a,#cancelDownload span{color:#3f3f3f;}
#cancelDownload:hover span{background-position:100% -156px;}
.overlay-confirm .frm-sub span{margin-bottom:0;}
.overlay-confirm .btn-rw{margin-bottom:.8em;}
div.link a{z-index:100;height:3.1em;width:4em;text-indent:-999em;position:absolute;top:.3em;right:.6em;}
a#termsandpolicies{right:1em;}
#signInForm div.frm-txtbx label span{margin-top:2px;}
div.frm-txtbx label span,div.frm-txtbx label input[type="text"],div.frm-txtbx label input[type="password"]{padding-left:.2em;}
a#email-reminder{font-weight:bold;text-decoration:underline;}
div.frm-terms a{text-decoration:underline;}
div.frm-ckbx.link label{padding-right:5em;}
div.frm-txtbx.link label{margin-right:4.15em;}
div.inline-2 label{margin-left:4.5em;}
div.inline-2 label.small{position:absolute;width:2.8em;font-size:1em;padding-top:.7em;padding-bottom:.65em;margin-left:0;}
div.inline-2 label.small input{font-size:1.375em;color:#7A7A7A;}
div.inline-2 label.small span{left:.5em;}
p.txt-alert,p.frm-error,p.med-error{color:#b08;background-color:#f2f2f2;padding:.8em .6em;margin:.6em;position:relative;border:1px solid #999;line-height:1.2em;}
p.frm-error,p.med-error{color:#fff;background-color:#C00;border-color:#C00;margin:0;margin-top:1px;padding:.6em;}
p.med-error{background-color:#b08;}
p.error{font-size:.875em;padding:.75em;padding-top:.2em;padding-bottom:.5em;color:#C00;}
p.dload-err{display:none;}
p.txt-alert em{font-weight:bold;display:inline-block;width:100%;overflow:hidden;text-overflow:ellipsis;line-height:1.1em;margin-top:3px;padding-bottom:.3em;}
div.frm-ckbx+div.frm-ckbx p.error,div.frm-rdbtn+div.frm-rdbtn p.error{padding-top:.75em;}
div.frm-txtbx p.error,div.frm-sel p.error,div.frm-txtarea p.error{padding-left:0;padding-right:0;}
form#srch-music{border-bottom:1px solid #d8d8d8;}
.cwm div#cwm-bar{height:10px;background:transparent url(images/cwm-bar.png) no-repeat 0 0;}
form#srch-music label{margin-right:4.15em;border-color:#676767;padding:.6em .65em;}
form#srch-music label,.frm-txtbx label,div.frm-sel label{border:1px solid #979797;}
form#srch-music label,.frm-txtbx input,.frm-txtbx label,div.frm-sel label{background-color:#e6e6e6;}
form#srch-music label span{position:absolute;left:-999em;}
form#srch-music .frm-txtbx{background:none;border:none;padding-top:0;padding-bottom:0;}
form#srch-music input{font-size:1.2em;border:none;outline:none;color:#7A7A7A;padding:2px 0;}
form#srch-music button{background-position:0 0;height:2.937em;width:3.567em;text-indent:-999em;position:absolute;top:0;right:.6em;}
form#join-intro{border:none;}
form#join-intro .radio,form#join-intro .radio .col-1,form#join-intro .radio .col-2{margin:0;padding:0;text-align:left;}
form#join-intro .radio .col-2{margin-top:-1px;}
#popupWrapper{display:none;left:0;position:absolute;top:0;width:100%;z-index:999;}
#popupWrapperOverlay{height:50em;position:fixed;width:100%;}
#popup{background-color:#fff;margin:.6em;overflow:hidden;position:relative;z-index:1;}
#popup h1 a{display:block;height:1.13em;width:1.13em;position:absolute;z-index:100;top:.35em;right:.35em;text-indent:-999em;}
#popup h1{background-color:#44a51c;border-bottom:0;padding-right:40px;position:relative;}
#lb_overlay{position:absolute;display:none;top:0;left:0;width:100%;height:100%;z-index:90;background-color:#000;}
#lb_overlay[id]{position:fixed;}
#lb_holder{position:absolute;top:0;left:0;width:100%;z-index:91;background:transparent url(images/load_dark.gif) no-repeat center center;display:none;}
#lb_container{margin:0 auto;position:relative;}
#lb_loader{position:absolute;left:50%;margin-left:-11px;top:30px;}
.over-bd{height:435px;overflow:auto;}
#wide .over-bd{height:220px;}


p.ft{text-align:center;padding:1.3em 0;font-size:.769em;overflow:hidden;clear:both;}
p.ft a{text-decoration:underline;}
p.ft a:hover{text-decoration:none;}
p.ft span{display:block;margin:.5em 0 0 0;}
.col-2{text-align:center;}
.clfix:after,ul:after,div.prod:after,div.art-info:after,div.btn:after,ol.num-list-alt li:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.p-hide{display:none;}
ul#toolbar{background-color:#000;text-align:right;}
ul#toolbar li{display:inline-block;}
ul#toolbar li a{color:#FFF;display:inline-block;padding:.15em .5em .3em 1.1em;}
.loggedin,.loggedout,.js ul.jshide{display:none;}
.sct{border:0;}
a#rights-info{display:none;}
.cwm a#rights-info,.alc a#rights-info{display:block;}
div.rights-info{padding-bottom:15px;font-weight:600;}
div.rights-info table{margin:13px 8px 0;width:100%;}
div.rights-info table tr.rm{text-indent:-999em;}
div.rights-info table tr{line-height:1.2em;}
div.rights-info table tddd{vertical-align:top;padding-right:15px;}
div.rights-info table .col-1{width:40%;padding-left:15px;color:#999;}
div.rights-info table th{font-weight:bold;padding-bottom:5px;}
div.rights-info table th.col-1{color:#3F3F3F;font-weight:900;}


div#acct-details p+div.frm-ckbx{border-bottom:none;}
div.prod span.infoMessage{color:#999;font-style:italic;}
div.frm-txtbx,div.frm-sel{background:none;border:none;padding-bottom:0;padding-top:0;}
label{padding:1.45em .65em .15em .65em;border:1px solid #979797;z-index:50;}
label span{color:#7a7a7a;position:absolute;top:.3em;left:.7em;}
.fill label span{font-size:1.375em;top:.6em;}
.frm-txtbx{padding-top:0;border:none;}
input[type="text"],input[type="password"]{font-size:1.125em;border:none;outline:none;}
div.frm-sel label{padding:0 0 0 .4em;background-color:#e6e6e6;}
div.frm-sel select{-webkit-appearance:none;-moz-appearance:checkbox-container;background:none;position:relative;border:none;outline:none;overflow:hidden;padding:1.0em 65px .1em 0;font-size:1.375em;color:#7a7a7a;}
div.frm-ckbx label,div.frm-rdbtn label{min-height:2.465em;padding:.55em 2.31em .55em 4em;}
div.frm-ckbx input,div.frm-rdbtn input{left:1.45em;top:1em;}
.frm-ckbx input[type="checkbox"]{margin-left:-50px;}
.frm-rdbtn input[type="radio"]{margin-left:-50px;}
form#srch-music label{padding:.8em .65em .6em .65em;}
form#srch-music input{font-size:1.375em;padding:0;}
.p-hide{display:none;}
#wide .p-hide{display:block;}
form#join-intro .radio .col-2{margin-top:-1px;}


body{font-size:13.3px;}
div.frm-sub span button,div.frm-sub span a,div.btn span a{height:31px;}
ul.img-link span,span.pk-st{width:70px;height:66px;}
ul.img-link span img{width:58px;height:58px;}
div.prod span.pk-st,div.art-info span.pk-st,ul.promo li:first-child span{width:96px;height:90px;margin-right:8px;}
div.prod span.pk-st img,div.art-info span.pk-st img,ul.promo li:first-child span img{width:83px;height:83px;margin:4px 0 0 10px;}
div.prod a{margin-left:114px;}
ul.img-link li a{min-height:55px;padding-left:83px;}
ul.img-link li li a{padding-left:0;min-height:0;}
ul.promo li:first-child a{min-height:81px;padding-left:111px;}
ul.btn-rw li.ply a,ul.btn-rw li.cog a{width:64px;}
.art-info li.cog{margin-right:1px;}
div.pag{min-height:31px;padding-right:52px;}
div.pag a{width:41px;height:47px;}
#popup h1 a{width:20px;height:20px;}
.art-info ul.btn-rw li a.btn span{line-height:.9em;}
div.prod strong{min-height:20px;}
ul.srch-link li span,ul.link li span,h2.hd-link span{padding:8px .4em 2px 1.3em;}
a.lst-tog span{padding:.45em .4em .3em .4em;}
ul.btn-rw li.ply a,ul.btn-rw li.cog a,ul.btn-rw li a.btn{height:31px;}
label span{padding:.1em 0 .2em 0;}
a.lst-tog:hover,ul.srch-link li a:hover,ul.link li a:hover,ul.img-link li a:hover,.js ol.num-list li a.lk:hover,div.prod a:hover,ul.img-link-detail a.lk:hover,div a.lk:hover{background:url(images/hover-bg.png);}
#lb_overlay,#popupWrapperOverlay{background:url(images/overlay400.png);}
a.lst-tog span+span,ul.srch-link li a span+span{background:url(images/products2-1.png) no-repeat -97px -393px;}
a.lst-tog.cont span+span{background-position:-64px -393px;}
ul.srch-link li a span+span{background-position:-254px -361px;top:.3em;}
a.lst-tog,ul.srch-link li,ul.link li,ul.img-link li,ol.num-list li,ol.num-list-alt li,p.more,div.tp-rsut,div.art-info,div.frm-ckbx,div.frm-rdbtn,form#srch-music,div.pag,ul.img-link-detail li,div a.lk,#recent-purchases,p.grad{background:#fff url(images/grad-main2.png) repeat-x bottom left;}
div.frm-ckbx{background-color:transparent;}
ul.img-link-detail li a.lk{background:none;}
h2,p.ft{background-image:url(images/grad-hd2.png);background-repeat:repeat-x;background-position:0 0;}
h2,p.ft{background-position:0 -84px;background-color:#fff;}
h2{background-position:0 -83px;}
ul.srch-link li a span,ul.link li a span{background:url(images/chev2.html) no-repeat 6px 13px;}
h1.hd-link a span,h2.hd-link a span{background:url(images/chev2-bk.png) no-repeat 6px 13px;}
#takemusictour li{background:url(images/lk-banner2.jpg) no-repeat 0 0;}
#takemusictour li a span{background-image:url(images/chev2-pk.png);}
form#srch-music button,ul.img-link span,ul.art span,li.art span,span.pk-st,p.more a,p.more a span,ol.num-list li p.more a,ol.num-list li p.more a span,ul.img-link-detail .pkshot{background-image:url(images/main2.png);background-repeat:no-repeat;}
form#srch-music button{background-position:0 -178px;
margin-top: 18px;}
form#srch-music button:hover{background-position:-60px -178px;}
ul.img-link span,span.pk-st,ul.img-link-detail .pkshot{background-position:-109px -76px;}
ul.art span,li.art span{background-position:-186px -76px;}
ul.promo li:first-child span,span.pk-st{background-position:0 -76px;}
p.more a,ol.num-list li p.more a{background-position:0 0;}
p.more a span,ol.num-list li p.more a span{background-position:100% 0;}
p.more a:hover,ol.num-list li p.more a:hover{background-position:0 -38px;}
p.more a:hover span,ol.num-list li p.more a:hover span{background-position:100% -38px;}
#popup h1 a,div.link a{background:url(images/forms2.png) no-repeat 0 0;}
#popup h1 a{background-position:-105px 0;}
#popup h1 a:hover{background-position:-137px 0;}
div.link a{background-position:0 0;}
div.link a:hover{background-position:-53px 0;}
ol.num-list li span.icon,ul.img-link li span.icon,ul.img-link-detail li a.lk span.icon,.prod a span.icon,div a.lk span.icon,ul.btn-rw li.ply a,ul.btn-rw li.cog a,ul.btn-rw li a.btn,ul.btn-rw li a.btn span,div.frm-sub span,div.frm-sub span button,div.frm-sub span a,div.btn span,div.btn span a,div.pag a,div.pag span,ol.num-list-alt li a.btn,ol.num-list-alt li a.btn span,a.dload em,a.na em,a.grey em,a.grey-alc em,a.load em{background-image:url(images/products2-1.png);background-repeat:no-repeat;}
.js ol.num-list li span.icon,ul.img-link-detail li a.lk span.icon,.js div a.lk span.icon{background-position:-32px -393px;}
.js ol.num-list li.show span.icon,ul.img-link-detail li.show a.lk span.icon,.js div.show a.lk span.icon{background-position:0 -393px;}
.js ol.num-list li a:hover span.icon,ul.img-link-detail li a.lk:hover span.icon,.js div a.lk:hover span.icon{background-position:-97px -393px;}
ol.num-list li.show a:hover span.icon,ul.img-link-detail li.show a.lk:hover span.icon,.js div.show a.lk:hover span.icon{background-position:-65px -393px;}
div.pag a{background-position:0 -302px;}
div.pag a:hover{background-position:-106px -302px;}
div.pag a.rightarrow{background-position:-53px -302px;}
div.pag a.rightarrow:hover{background-position:-159px -302px;}
div.pag span{background-position:0 -469px;}
div.pag span.rightarrow{background-position:-53px -469px;}
.prod a span.icon{background-position:-212px -300px;}
.prod a:hover span.icon{background-position:-251px -300px;}
ul.btn-rw li a.btn,ol.num-list-alt li a.btn{background-position:0 0;}
ul.btn-rw li a.btn span,ol.num-list-alt li a.btn span{background-position:100% 0;}
ul.btn-rw li a.btn:hover,ol.num-list-alt li a.btn:hover{background-position:0 -43px;}
ul.btn-rw li a.btn:hover span,ol.num-list-alt li a.btn:hover span{background-position:100% -43px;}
.art-info ul.btn-rw li a.btn,div.frm-sub span.bk,div.btn span.bk,#cancelDownload{background-position:0 -86px;}
.art-info ul.btn-rw li a.btn span,div.frm-sub span.bk button,div.frm-sub span.bk a,div.btn span.bk a,#cancelDownload span{background-position:100% -86px;}
.art-info ul.btn-rw li a.btn:hover,div.frm-sub span.bk:hover,div.btn span.bk:hover,#cancelDownload:hover{background-position:0 -129px;}
.art-info ul.btn-rw li a.btn:hover span,div.frm-sub span.bk:hover button,div.frm-sub span.bk:hover a,div.btn span.bk:hover a,#cancelDownload:hover span{background-position:100% -129px;}
ul.btn-rw li a.grey,ul.btn-rw li a.grey:hover,ul.btn-rw li a.grey-alc,ul.btn-rw li a.grey-alc:hover,ol.num-list-alt li a.grey,ol.num-list-alt li a.grey:hover,ol.num-list-alt li a.grey-alc,ol.num-list-alt li a.grey-alc:hover{background-position:0 -86px;}
ul.btn-rw li a.grey span,ul.btn-rw li a.grey:hover span,ul.btn-rw li a.grey-alc span,ul.btn-rw li a.grey-alc:hover span,ol.num-list-alt li a.grey span,ol.num-list-alt li a.grey:hover span,ol.num-list-alt li a.grey-alc span,ol.num-list-alt li a.grey-alc:hover span{background-position:100% -86px;}
div.frm-sub span,div.btn span{background-position:0 -172px;}
div.frm-sub span button,div.frm-sub span a,div.btn span a{background-position:100% -172px;}
div.frm-sub span:hover,div.btn span:hover{background-position:0 -215px;}
div.frm-sub span:hover button,div.frm-sub span:hover a,div.btn span:hover a{background-position:100% -215px;}


a.dload em{background-position:-14px -361px;}
a.na em{background-position:-207px -361px;}
a.grey em{background-position:-78px -361px;}
a.load em{background-position:-143px -361px;}
div.prod a span span,ul ul.btn-rw li.cog,ol ul.btn-rw li.cog,ol.num-list li p.more{background:none;}
p.more{padding:.7em 0 .7em 0;}
span.csc-img{display:inline-block;height:47px;width:83px;margin-left:.2em;margin-top:-0.2em;background:transparent url(images/csc2.html) no-repeat 0 0;}
.cols-1 img{height:92px;}
.cols-2 img,.cols-3 img{height:auto;}
.cols-1 img{width:auto;}
div.frm-sub span+span{background:transparent url(images/butt-on.png) top left no-repeat!important;}
div.frm-sub span+span button{background:transparent url(images/butt-on.png) top right no-repeat!important;color:#000;}
div.frm-sel label,div.frm-ckbx label{background:transparent url(images/touch2.png) no-repeat 10px -55px;}
div.frm-rdbtn label{background:transparent url(images/touch2.png) no-repeat 10px -279px;}
div.frm-sel label{background-position:100% 0;}
div.frm-ckbx.cked label{background-position:10px -167px;}
div.frm-rdbtn.cked label{background-position:10px -392px;}
div.frm-ckbx label,div.frm-rdbtn label{min-height:2.465em;padding:.55em 2.31em .55em 4em;}
div.frm-ckbx input,div.frm-rdbtn input{left:1.45em;top:1em;}
a.lk span.icon{background-position:0 -393px;}ol.num-list li a.lk:hover,div.prod a:hover,ul.img-link-detail a.lk:hover,div a.lk:hover{background:url(images/hover-bg.png);}
a.lk:hover span.icon{background-position:-97px -393px;}
.info {color: #7A7A7A;font-size: 0.8em;padding: 0.4em 0px;}
.yui3-button {
    /* Structure */
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    font-size: 100%; 
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.4em 1em 0.45em;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    /* Presentation */
    color: #555555; /* rgba not supported (IE 8) */
    color: rgba(83, 80, 80, 0.804); /* rgba supported */
    *color: #555555; /* IE 6 & 7 */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255, 0.30)), color-stop(40%, rgba(255,255,255, 0.15)), to(transparent));
    background-image: -webkit-linear-gradient(rgba(255,255,255, 0.30), rgba(255,255,255, 0.15) 40%, transparent);
    background-image: -moz-linear-gradient(top, rgba(255,255,255, 0.30), rgba(255,255,255, 0.15) 40%, transparent);
    background-image: -ms-linear-gradient(rgba(255,255,255, 0.30), rgba(255,255,255, 0.15) 40%, transparent);
    background-image: -o-linear-gradient(rgba(255,255,255, 0.30), rgba(255,255,255, 0.15) 40%, transparent);
    background-image: linear-gradient(rgba(255,255,255, 0.30), rgba(255,255,255, 0.15) 40%, transparent);
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 0 rgba(255,255,255, 0.30) inset, 0 1px 2px rgba(0,0,0, 0.15);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 0 rgba(255,255,255, 0.30) inset, 0 1px 2px rgba(0,0,0, 0.15);
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.25) inset, 0 2px 0 rgba(255,255,255, 0.30) inset, 0 1px 2px rgba(0,0,0, 0.15);

    /* Transitions */
    -webkit-transition: 0.1s linear -webkit-box-shadow;
    -moz-transition: 0.1s linear -moz-box-shadow;
    -ms-transition: 0.1s linear box-shadow;
    -o-transition: 0.1s linear box-shadow;
    transition: 0.1s linear box-shadow;
}

a.yui3-button {
    color: rgba(0,0,0, 0.80);
    color: #444;
    text-decoration:none;
}

.yui3-button-hover,
.yui3-button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#26000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.15)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -moz-linear-gradient(top, transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -ms-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
}

.head {
	background: url(images/h.gif) repeat-x top left #164f7c;
		height: 50px;
}

.foot {
margin-top:4px; 
	background: url(images/f.gif) repeat-x top left #164f7c;
	border-bottom: 1px solid #0e527b;
	height: 40px;
	font-size:20px;
	padding-top:8px;
}

.jump input[type="text"], input[type="password"] {
    border:1px solid #979797; height:25px; width:70px;color: #666666;
background-color: #E6E6E6;
display: block;
position: relative;
outline: 0px none currentColor;
}
    
.yui3-button[disabled],
.yui3-button-disabled,
.yui3-button-disabled:hover,
.yui3-button-disabled:active {
    cursor: default;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=55);
    -khtml-opacity: 0.55;
    -moz-opacity: 0.55;
    opacity: 0.55;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0, 0.25) inset;
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0, 0.25) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.25) inset;
}

/* Firefox: Get rid of the inner focus border */
.yui3-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

/* Firefox: Add a border around a focused button */
.yui3-button:-moz-focusring {
    outline: thin dotted;
}
.az{padding-right: 4px;
padding-left: 4px;
padding-top: 2px;
padding-bottom: 2px;

}
.success{
    background-color:#57A957;
    color:white;
    margin: 1px;
}

.yui3-button:hover span{
    
}


.pagination a.currentpage {
    background-color: #BBBBBB;
    border-color: #1079A8;
    color: #1079A8 !important;
    cursor: default;
    font-weight: bold;
}
.pagination a, .pagination a:visited {
    background-color: #1079A8;
    border: 1px solid #9AAFE5;
    color: #FFFFFF !important;
    padding: 0 5px;
    text-decoration: none;
}
.pagination li {
    display: inline;
    list-style-type: none;
    padding-bottom: 1px;
}