@import url("style-base.css");
::-webkit-input-placeholder {color: #666;}
:-moz-placeholder {color: #666;}
::-moz-placeholder {color: #666;}
:-ms-input-placeholder {color: #666;}
body {color: #4d535a; background: url("/images/Bg2.jpg") top left repeat-x #62a9d5;}
a {color: #235974;}
a:hover {color: #b72a01;}
/* header */
div.header {height: 124px;}
div.logo {top: 0;}
ul.topmenu {left: auto; right: 130px; top: 48px;}
ul.topmenu li a {background: #2c5e82; border-top: 1px solid #4c9ecd; border-bottom: 1px solid #244e68; border-radius: 10px; padding: 7px 10px; line-height: 13px; color: #fff; margin-right: 5px;}
ul.topmenu li a:hover {color: #b2d8f8;}
.main {
	clear: both;
	width: 1000px;
	position: absolute;
	left: 50%;
	top: 124px;
	margin-left: -500px;
	z-index: 1;
	background: #eaf2f8;
	padding: 5px 0 0 0;
	min-height: 1000px;
	border-radius: 18px 18px 0 0;
}
.headBlock1 {
	position: absolute;
	width: 398px;
	height: 386px;
	left: 50%;
	top: 0;
	margin-left: -500px;
	background: url("/images/headerLeft.png") no-repeat;
}
.headBlock2 {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -11px;
	background: url("/images/headerRight.png") no-repeat;
	width: 511px;
	height: 341px;
}
/* search field */
div.search {background: #fcfdff; border: 3px solid #b2d9f7;	border-radius: 10px; right: auto; left: 270px; width: 280px; top: 38px;}
div.search.bottom {left: auto;}
div.search input.sf {color: #256a9b; width: 230px;}
div.search button.sb:after {color: #206099;}
.autocomplete-suggestions {border-color: #b2d9f7; background:#fff;}
.autocomplete-suggestion {color: #3582a8;}
.autocomplete-selected {background: #d4eafb; color: #000;}
.autocomplete-suggestions strong {color: #b72a01;}
/* lang selector */
#lngselect {background:url("http://static.webclicks24.com/images/select-arrow-w.png") no-repeat 100% 50% #2c5e82; border-radius: 10px;	border-top: 1px solid #4c9ecd;	border-bottom: 1px solid #244e68; top: 48px;}
#lngselect strong {color: #fff; border-radius: 10px 0 0 10px;}
#lngselect.down:after {border-bottom-color: #b2d8f8; top: 28px;}
#lngselect ul {background-color: #eaf2f8; border: 3px solid #b2d8f8; border-radius: 5px; top: 35px;}
/* headers */
h1,h2,div.h {color: #eaf2f8; background: #135275;
	background: -moz-linear-gradient(top,  #135275 20%, #0e3a53 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#135275), color-stop(100%,#0e3a53)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #135275 20%,#0e3a53 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #135275 20%,#0e3a53 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #135275 20%,#0e3a53 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #135275 20%,#0e3a53 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#135275', endColorstr='#0e3a53',GradientType=0 ); /* IE6-9 */
	border-radius: 18px;
	position: relative;
}
h1,h2 {font-size: 20px; font-weight: 400; padding: 0 10px; text-align: left;}
div.h h1, div.h h2 {border: none; background: none;}
h1:after,h2:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: -3px;
	width: 88px;
	height: 53px;
	background: url("/images/titleIcon.png") no-repeat;
}
div.tbookshare {right: -5px;}
/* buttons */
div.nav {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 5px auto;
	padding: 5px;
	background: #cfe2f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #cfe2f1 0%, #aecae1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe2f1), color-stop(100%,#aecae1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cfe2f1 0%,#aecae1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cfe2f1 0%,#aecae1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cfe2f1 0%,#aecae1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cfe2f1 0%,#aecae1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe2f1', endColorstr='#aecae1',GradientType=0 ); /* IE6-9 */
	border-radius: 21px;
	clear:both;	
}
div.sort a, div.durgrp a, div.timerange a, div.pages a {background:#6a8fad; color: #fff; border-radius: 17px;}
div.pages a {min-width: 16px;}
div.sort a:hover, div.durgrp a:hover, div.timerange a:hover, div.pages a:hover {background: #567590;}
div.sort a.current, div.durgrp a.current, div.timerange a.current, div.pages a.current {background: #114565;}
/* content and thumb categories */
ul.content li img, ul.tcats li img, ul.relatedthumbs li img {border-radius: 4px 4px 0 0;}
ul.content li, ul.tcats li, ul.relatedthumbs li {border-color: #cddeec; background: #fdfeff; border-bottom: 2px solid #c2d5e4; border-radius: 5px;}
ul.content li h3 {}
ul.content li span.src a {color: #4d535a;}
ul.content li span.src a:hover {color: #b72a01;}
ul.content li span.tl {border-top: 1px solid #f6f8f9;}
ul.content li span.tl span {color: #767c7f;}
ul.content li span.tl a {border-bottom: 1px dotted #abbfd0;}
ul.content li span.tl a:hover {border-bottom: 1px dotted #be999a;}
ul.content li span.tl a.c {border-bottom: none; color: #235974;}
ul.content li span.hdlabel {}
/* icons */
ul.content li h3:after, ul.content li span.add:after, ul.content li span.src:after, ul.content li span.tl:after, div.related a:after, ul.relatedthumbs li h3:after {color: #aac0d3;}
div.az ul li:after, div.related a:after {color: #235c8c;}
/* text categories */
div.az ul li.letter {background: #d1e2f0; color: #000; border-radius: 10px;}
/* back to top button */
#back_to_top a#back-to-top {background: #125074;}
/* banners */
.ads3b {border-color: #cddeec; background: #fdfeff;}
/* toplist */
div.tradeindex div.cont div.timg img {border: 1px solid #cddeec; background: #fdfeff;}
div.tradeindex div.cont div.timg a:hover img {border: 1px solid #cddeec; background: #fdfeff;}
/*==========footer=======*/
div.footer {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 60px 20px 20px 140px;
	background: url("/images/footerBg2.png") 0 0 repeat-x #192f50;
	position: relative;
	color: #bbd0e0;
	margin: 0 auto;
}
div.footer a {color: #eaf2f8;}
span.footerIcon {
	position: absolute;
	display: block;
	top: 35px;
	left: 10px;
	width: 118px;
	height: 120px;
	background: url("/images/footerIcon.png") 0 0 no-repeat;
}

@media all and (min-width: 1150px) {
	.headBlock1 {margin-left: -561px;}
	.headBlock2 {margin-left: 43px;}
}
@media all and (min-width: 1340px) {
	.main {width: 1330px; margin-left: -665px;}
	.headBlock1 {margin-left: -665px;}
	.headBlock2 {margin-left: 154px;}
	div.search {width: 580px;}
	div.search input.sf {width: 530px;}
}
@media all and (min-width: 1470px) {
	.headBlock1 {margin-left: -726px;}
	.headBlock2 {margin-left: 214px;}
}
@media all and (max-width: 1000px) {
	.headBlock1, .headBlock2 {display: none;}
	h1,h2 {font-size: 18px;}
	.main {width: 100%; left: auto; top: auto; position: static; margin: 0; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; border-radius: 18px;}
	div.footer {border-radius: 0 0 13px 13px;}
	ul.content li, ul.tcats li, ul.relatedthumbs li, ul.content li:hover, ul.tcats li:hover, ul.relatedthumbs li:hover {border: 2px solid #eaf2f8; box-shadow: inset 0 0 1px #6a8eae;}
	div.search {left: auto; right: 0; top: 20px;}
	ul.topmenu, #lngselect {top: 80px;}
}
@media all and (max-width: 767px) {
	div.header {height: 225px;}
	div.logo {width: 254px; left: 50%; margin-left: -127px;}
	div.search.top {left: 50%; margin-left: -143px; top: 123px;}
	ul.content li a.report {color: #62a9d5;}
	ul.topmenu {left: 0; right: auto; top: 183px;}
	#lngselect {top: 183px;}
}
@media all and (max-width: 479px) {
	h1,h2 {font-size: 16px; text-align: center;}
	h1:after,h2:after {display: none;}
	#lngselect {width: 55px; height: 28px;}
	#lngselect strong {width: 0; height: 16px;}
	#lngselect strong span {display: none;}
	#lngselect.down:after {right: 28px; top: 30px;}
	#lngselect ul {right: 5px; top:38px;}
	div.footer {padding: 60px 20px 20px 20px;}
	span.footerIcon {display: none;}
}
