@import url(../fonts/minionpro-regular.css);#banner-fijo-post{position:fixed;}@font-face{font-family:'klavika';src:url(fonts/klavika-light-webfont.ttf);}#cfb{font-family:klavika;float:left;font-size:15px;margin-left:5px;margin-top:5px;color:#3C5999;font-weight:bold;}body{color:#444;font:normal 100% 'MinionProRegular',helvetica,arial,sans-serif;line-height:100%;margin:0px auto;padding:0px;}.columnists h2 a,.gallerists h2 a{text-transform:uppercase;}img{max-width:100%;height:auto;}iframe,embed,object,video{max-width:100%;}a,a:visited{text-decoration:none;}a:hover{text-decoration:underline;}a:active,a:focus{outline:none;}#site{float:left;width:100%;overflow-x:hidden;}#wallpaper{display:block;position:fixed;width:100%;height:100%;z-index:1;}.wallpaper-link{margin:0 auto;position:absolute;top:0;width:100%;height:100%;z-index:1;}#wrapper{margin:0 auto;position:relative;width:1109px;z-index:5;}.breaker{clear:both;}.right,.alignright{float:right;}.left,.alignleft{float:left;}.aligncenter{display:block;margin:0 auto;}.section-div{border-bottom:1px dotted #ccc;float:left;margin:20px 0;width:100%;}#header-wrapper{float:left;position:relative;z-index:-1;}#top-header-wrapper{background:#4C4E50;border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;float:left;overflow:hidden;width:100%;height:30px;position:relative;}#top-nav{float:left;max-width:736px;}#top-nav ul{display:inline;float:left;}#top-nav ul li{display:inline;float:left;}#top-nav ul li a,#top-nav ul li a:visited{color:#fcf9f9;float:left;font:400 12px/12px 'Oswald',sans-serif;padding:9px;text-transform:uppercase;}#top-nav ul li a:hover{text-decoration:none;}#top-nav ul li:hover a,#top-nav ul li:hover a:visited{color:white;background:#686b6d;}	}



#top-nav ul li ul {

	display: none;

	}



#content-social {

	float: right;

	max-width: 100%;

	}



#content-social ul {

	display: inline;

	float: left;

	}



#content-social ul li {

	border-left: 1px solid #ddd;

	display: inline;

	float: left;

	overflow: hidden;

	}



.fb-but,

.twitter-but,

.pinterest-but,

.instagram-but,

.google-but,

.linkedin-but,

.rss-but {

	float: left;

	transition: all .1s;

	-moz-transition: all .1s;

	-ms-transition: all .1s;

	-o-transition: all .1s;

	-webkit-transition: all .1s;

	width: 30px;

	height: 30px;

	}



.fb-but {

	background: #fff url(images/social-buttons.png) 0 0;

	}



.fb-but:hover {

	background: #3b5998 url(images/social-buttons.png) 0 -30px;

	}



.twitter-but {

	background: #fff url(images/social-buttons.png) -30px 0;

	}



.twitter-but:hover {

	background: #0084b4 url(images/social-buttons.png) -30px -30px;

	}



.pinterest-but {

	background: #fff url(images/social-buttons.png) -60px 0;

	}



.pinterest-but:hover {

	background: #cb2027 url(images/social-buttons.png) -60px -30px;

	}



.instagram-but {

	background: #fff url(images/social-buttons.png) -234px 0;

	}



.instagram-but:hover {

	background: #517fa4 url(images/social-buttons.png) -234px -30px;

	}



.google-but {

	background: #fff url(images/social-buttons.png) -90px 0;

	}



.google-but:hover {

	background: #d34836 url(images/social-buttons.png) -90px -30px;

	}



.youtube-but {

	background: #fff url(images/social-buttons.png) -120px 0;

	float: left;

	transition: all 0.1s;

	-moz-transition: all 0.1s;

	-ms-transition: all 0.1s;

	-o-transition: all 0.1s;

	-webkit-transition: all 0.1s;

	width: 54px;

	height: 30px;

	}



.youtube-but:hover {

	background: #bb0000 url(images/social-buttons.png) -120px -30px;

	}



.linkedin-but {

	background: #fff url(images/social-buttons.png) -174px 0;

	}



.linkedin-but:hover {

	background: #007bb6 url(images/social-buttons.png) -174px -30px;

	}



.rss-but {

	background: #fff url(images/social-buttons.png) -204px 0;

	}



.rss-but:hover {

	background: #f60 url(images/social-buttons.png) -204px -30px;

	}



#logo-wrapper {

	float: left;

	margin-top: 15px;

	width: 100%;

	}


#logo-small {

	float: left;

	margin: 15px 15px 0 0;

	width: 257px;

	}



/************************************************

	Leaderboard

************************************************/



#leader-wrapper {

	float: left;

	margin-top: 15px;

	overflow: hidden;

	text-align: center;

	width: 100%;

	height: 90px;

	}



#ad-970 {

	display: inline-block;

	max-width: 970px;

	height: 90px;

	}



#ad-728 {

	display: inline-block;

	max-width: 728px;

	height: 90px;

	}



#ad-320 {

	display: none;

	width: 320px;

	height: 50px;

	}



#leader-small {

	float: right;

	margin: 15px 0;

	overflow: hidden;

	text-align: center;

	width: 728px;

	height: 90px;

	}



/************************************************

	Main Navigation

************************************************/



#nav-wrapper {
    background-color:white;
	
    margin: 0px auto;
	
    padding: 0px;
	
    position: relative;
	
	width: 100%;
	
    height: 3.68rem;
	
    z-index: 25;

	}



ul.main-nav {

	/*display: inline;*/

	/*float: left;*/

	max-width: 100%;

	height: 40px;

	overflow: hidden;

	position: relative;

	}



ul.main-nav:hover {

	overflow: visible;

	}



ul.main-nav li  {

	color: #4C4E50;

	display: inline;

	float: left;

	position: relative;

	
    border-left: 1px solid #DDD;

	}


ul.main-nav li a {

	color: #4C4E50;

	float: left;

	font-size: 16px;

	font-weight: 700;

	line-height: 100%;

	padding: 12px;

	text-transform: uppercase;

	}

	

ul.main-nav li:hover,

ul.main-nav li a:hover,

ul.main-nav li.current-menu-item,

ul.main-nav li.current-menu-item a,

ul.main-nav li.current-post-parent,

ul.main-nav li.current-post-parent{

	text-decoration: none;
    color:#585A5C;

	}



ul.main-nav li ul {

	background: url(images/featured-bg.png);

	display: block;

	max-height: 0;

	overflow: hidden;

	position: absolute;

		top: 40px;

		left: 0;

	transition: max-height .4s;

		-moz-transition: max-height .4s;

		-ms-transition: max-height .4s;

		-o-transition: max-height .4s;

		-webkit-transition: max-height .4s;

	width: 170px;

	}



ul.main-nav li:hover ul {

	display: block;

	max-height: 500px;

	}



ul.main-nav li:hover #nav-wrapper {

	overflow: visible;

	}



ul.main-nav li:hover ul:hover {

	overflow: visible;

	}



ul.main-nav li ul li {

	display: block;

	float: left;

	margin: 0 10px;

	position: relative;

	width: 150px;

	}



ul.main-nav li ul li:first-child {

	margin-top: 10px;

	}



ul.main-nav li ul li:last-child {

	margin-bottom: 10px;

	}



ul.main-nav li ul li a {

	font-size: 12px;

	font-weight: 700;

	line-height: 100%;

	padding: 8px;

	width: 134px;

	}



ul.main-nav li:hover ul li ul {

	background: none;

	display: none;

	max-height: 0;

	position: absolute;

		top: 0;

		left: 150px;

	transition: 0;

		-moz-transition: 0;

		-ms-transition: 0;

		-o-transition: 0;

		-webkit-transition: 0;

	width: 150px;

	}



ul.main-nav li ul li ul li {

	margin: 0 !important;

	width: 150px;

	}



ul.main-nav li:hover ul li:hover ul {

	display: block;

	max-height: 300px;

	}



.fixed {

	box-shadow: 0 4px 10px -3px #000;

		-ms-box-shadow: 0 4px 11px -5px #000;

		-moz-box-shadow: 0 4px 11px -5px #000;

		-o-box-shadow: 0 4px 11px -5px #000;

		-webkit-box-shadow: 0 4px 10px -3px #000;

	position: fixed !important;

	}



#nav-mobi {



	display: none;

	float: left;

	overflow: hidden;
	
	max-width:100%;

	}



#nav-mobi select {

	border: 1px solid #2d2f31;

	border-radius: 3px;

	color: #fff;

	float: left;

	margin: 5px 10px;

	padding: 0 30px 0 5px;

	width: 385px;

	height: 30px;

	-webkit-appearance: none !important;

	}



#main-search {

	float: left;

	overflow: hidden;

	/*width: 160px;*/

	}

	#mobi-main-search {

	display: none;

	float: left;

	overflow: hidden;

	/*width: 160px;*/

	}

	
#searchform {

	background: url(images/search-bg.png);

	float: right;

	padding-right: 10px;

	position: relative;

	}



#searchform input {

	background: url(images/search.png) no-repeat right;

	border: 0;

	color: #ddd;

	float: right;

	font: 400 12px/12px 'Open Sans', sans-serif;

	margin: 0;

	padding: 14px;

	width: 121px;

	height: 12px;

	}



#searchform #search-button {

	border: none;

	float: left;

	}



#searchform #s:focus {

	outline: none;

	}



/************************************************

	News Ticker

************************************************/



#ticker-wrapper {

	background: #eee;

	box-shadow: 0 2px 7px -3px #000;

		-ms-box-shadow: 0 2px 7px -3px #000;

		-moz-box-shadow: 0 2px 7px -3px #000;

		-o-box-shadow: 0 2px 7px -3px #000;

		-webkit-box-shadow: 0 2px 7px -3px #000;

	float: left;

	overflow: hidden;

	position: relative;

	width: 100%;

	height: 40px;

	z-index: 12;

	}



h3.ticker-header {

	background: url(images/ticker-bg.png) no-repeat right center;

	color: #fff;

	float: left;

	font: 700 20px/20px 'Oswald', sans-serif;

	max-width: 155px;

	height: 20px;

	padding: 10px 25px 10px 20px;

	text-transform: uppercase;

	}



ul.ticker {

	display: block;

	float: left;

	max-width: 800px;

	height: 40px;

	overflow: hidden;

	}



ul.ticker li {

	display: block;

	float: left;

	margin: 12px 15px 10px;

	overflow: hidden;

	width: 100%;

	height: 18px;

	}



ul.ticker li h2 a {

	color: #777;

	float: left;

	font: 400 16px/16px 'Open Sans', sans-serif;

	}



/************************************************

	Homepage

************************************************/



#main {

    box-shadow: 0 20px 150px -40px #000;

	background: #fff url(images/white-noise.gif);

    border: 1px solid #D1D1D1;

	float: left;

	width: 100%;

	}



#content-wrapper {

	float: left;

	position: relative;

	width: 100%;

	}



#featured-main {

	background: #000;

	box-shadow: 0 2px 7px -3px #000;

		-ms-box-shadow: 0 2px 7px -3px #000;

		-moz-box-shadow: 0 2px 7px -3px #000;

		-o-box-shadow: 0 2px 7px -3px #000;

		-webkit-box-shadow: 0 2px 7px -3px #000;

	float: left;

	overflow: hidden;

	position: relative;

	width: 100%;

	height: 400px;

	z-index: 11;

	}



#featured-main a:hover,

.cat-dark-top a:hover,

.carousel-wrapper a:hover {

	text-decoration: none;

	}



.main-story {

	float: left;

	overflow: hidden;

	position: relative;

	width: 570px;

	height: 400px;

	}



.main-story img {

	float: left;

	opacity: .6;

	transition: opacity .4s;

		-moz-transition: opacity .4s;

		-ms-transition: opacity .4s;

		-0-transition: opacity .4s;

		-webkit-transition: opacity .4s;

	margin-left: -25px;

	min-width: 620px !important;

	}



.main-story:hover img {

	opacity: .4;

	}



.main-story-shade {

	display: block;

	position: relative;

	width: 100%;

	height: 100%;

	}



.main-story-shade:before {

	content: '';

	box-shadow: 0 0 150px 5px #000 inset;

		-moz-box-shadow: 0 0 150px 5px #000 inset;

		-ms-box-shadow: 0 0 150px 5px #000 inset;

		-o-box-shadow: 0 0 150px 7px #000 inset;

		-webkit-box-shadow: 0 0 100px 8px #000 inset;

	float: left;

	position: absolute;

		top: 0;

		left: 0;

	width: 100%;

	height: 100%;

	z-index: 15;

	}



.main-text {

	color: #fff;

	float: left;

	padding: 20px;

	position: absolute;

		bottom: 0;

		left: 0;

	width: 530px;

	z-index: 20;

	}



.main-text h1 {

	color: #fff;

	float: left;

	font-size: 50px;

	font-weight: 700;

	line-height: 120%;

	margin: 0 4% 5px;

	text-align: center;

	text-decoration: none;

	text-shadow: 1px 1px 2px #000;

		-moz-text-shadow: 1px 1px 2px #000;

		-ms-text-shadow: 1px 1px 2px #000;

		-o-text-shadow: 1px 1px 2px #000;

		-webkit-text-shadow: 1px 1px 2px #000;

	text-transform: uppercase;

	width: 92%;

	}



.main-byline {

	color: #ddd;

	float: left;

	font: 400 20px/20px 'Alegreya', serif;

	font-style: italic;

	text-align: center;

	text-shadow: 1px 1px 2px #000;

		-moz-text-shadow: 1px 1px 2px #000;

		-ms-text-shadow: 1px 1px 2px #000;

		-o-text-shadow: 1px 1px 2px #000;

		-webkit-text-shadow: 1px 1px 2px #000;

	width: 100%;

	}



.main-excerpt {

	float: left;

	font: 400 14px/18px helvetica, arial, sans-serif;

	margin-top: 10px;

	max-height: 0;

	overflow: hidden;

	text-align: center;

	text-shadow: 1px 1px 2px #000;

		-moz-text-shadow: 1px 1px 2px #000;

		-ms-text-shadow: 1px 1px 2px #000;

		-o-text-shadow: 1px 1px 2px #000;

		-webkit-text-shadow: 1px 1px 2px #000;

	transition: max-height .4s;

		-moz-transition: max-height .4s;

		-ms-transition: max-height .4s;

		-o-transition: max-height .4s;

		-webkit-transition: max-height .4s;

	width: 100%;

	}



.main-story:hover .main-excerpt {

	max-height: 200px;

	}



.comment-bubble {

	background: url(images/comment-tri.png) no-repeat right bottom;

	float: right;

	position: absolute;

		top: 10px;

		right: 10px;

	height: 22px;

	z-index: 50;

	}



span.comment-count {

	color: #fff;

	float: left;

	font: 700 10px/10px 'Open Sans Condensed', sans-serif;

	padding: 3px 6px;

	}



.sub-story {

	border-bottom: 1px solid #222;

	border-left: 1px solid #222;

	float: left;

	overflow: hidden;

	position: relative;

	width: 214px;

	height: 199px;

	}



.sub-story img {

	float: left;

	opacity: .5;

	transition: opacity .4s;

		-moz-transition: opacity .4s;

		-ms-transition: opacity .4s;

		-0-transition: opacity .4s;

		-webkit-transition: opacity .4s;

	}



.sub-story:hover img {

	opacity: 0.2;

	}



.sub-text {

	padding: 10px 10px 8px 10px;

	position: absolute;

		bottom: 0;

		left: 0;

	width: 194px;

	}



.sub-text h2 {

	color: #fff;

	float: left;

	font-size: 20px;

	font-weight: 400;

	line-height: 120%;

	margin-bottom: 4px;

	text-shadow: 1px 1px 2px #000;

		-moz-text-shadow: 1px 1px 2px #000;

		-ms-text-shadow: 1px 1px 2px #000;

		-o-text-shadow: 1px 1px 2px #000;

		-webkit-text-shadow: 1px 1px 2px #000;

	text-transform: uppercase;

	}



.sub-text p {

	color: #ccc;

	float: left;

	font: 13px/17px helvetica, arial, sans-serif;

	max-height: 0px;

	overflow: hidden;

	transition: max-height .4s;

		-moz-transition: max-height .4s;

		-ms-transition: max-height .4s;

		-o-transition: max-height .4s;

		-webkit-transition: max-height .4s;

	}



.sub-story:hover .sub-text p {

	max-height: 100px;

	}



#home-main {

	border-right: 1px dotted #ccc;

	float: left;

	width: 768px;

	}



#home-left {

	border-right: 1px dotted #ccc;

	float: left;

	padding-bottom: 20px;

	width: 567px;

	}



li.home-widget {

	display: block;

	float: left;

	font: 13px/17px helvetica, arial, sans-serif;

	overflow: hidden;

	padding: 20px;

	position: relative;

	width: 527px;

	}



li.home-widget:first-child {

	margin-top: 20px;

	}



li.home-widget:first-child span.home-widget-header {

	border-top: none;

	}



li.home-widget:first-child .category-light {

	margin-top: -32px;

	}



span.list-byline {

	color: #999;

	float: left;

	font: bold 10px/10px helvetica, arial, sans-serif;

	margin-bottom: 5px;

	}



.home-widget .category-dark {

	background: #000;

	float: left;

	margin: -32px 0 -20px -20px;

	position: relative;

	width: 458px;

	}



.home-widget .cat-dark-top {

	float: left;

	position: relative;

	width: 100%;

	}



.home-widget .category-dark img {

	float: left;

	opacity: 0.3;

	transition: opacity .4s;

		-moz-transition: opacity .4s;

		-ms-transition: opacity .4s;

		-0-transition: opacity .4s;

		-webkit-transition: opacity .4s;

	}



.home-widget .cat-dark-top:hover img {

	opacity: 0.1;

	}



.home-widget .cat-dark-text {

	float: left;

	overflow: hidden;

	padding: 20px 20px 10px;

	position: absolute;

		bottom: 0;

		left: 0;

	width: 418px;

	}



.home-widget .cat-dark-byline {

	color: #ddd;

	float: left;

	font: 400 20px/20px 'Alegreya', serif;

	font-style: italic;

	margin-bottom: 5px;

	text-shadow: 1px 1px 2px #000;

		-moz-text-shadow: 1px 1px 2px #000;

		-ms-text-shadow: 1px 1px 2px #000;

		-o-text-shadow: 1px 1px 2px #000;

		-webkit-text-shadow: 1px 1px 2px #000;

	}



.home-widget .cat-dark-text h2 {

	color: #fff;

	float: left;

	font-size: 30px;

	font-weight: 400;

	line-height: 120%;

	text-shadow: 1px 1px 2px #000;

		-moz-text-shadow: 1px 1px 2px #000;

		-ms-text-shadow: 1px 1px 2px #000;

		-o-text-shadow: 1px 1px 2px #000;

		-webkit-text-shadow: 1px 1px 2px #000;

	}



.home-widget .cat-dark-text p {

	color: #fff;

	float: left;

	font: 14px/18px helvetica, arial, sans-serif;

	margin-top: 10px;

	max-height: 0;

	overflow: hidden;

	transition: max-height .4s;

		-moz-transition: max-height .4s;

		-ms-transition: max-height .4s;

		-o-transition: max-height .4s;

		-webkit-transition: max-height .4s;

	}



.home-widget .cat-dark-top:hover .cat-dark-text p {

	max-height: 70px;

	}



.home-widget .cat-dark-bottom {

	background: #222;

	float: left;

	padding: 20px;

	width: 418px;

	}



.home-widget .cat-dark-bottom img {

	opacity: 1.0;

	transition: opacity .2s;

		-moz-transition: opacity .2s;

		-ms-transition: opacity .2s;

		-0-transition: opacity .2s;

		-webkit-transition: opacity .2s;

	}



.home-widget .cat-dark-bottom img:hover {

	opacity: 0.8;

	}



.home-widget .cat-dark-bottom ul li {

	border-top: 1px dotted #555;

	display: block;

	float: left;

	margin-top: 10px;

	padding-top: 10px;

	width: 100%;

	}



.home-widget .cat-dark-bottom ul li img {

	float: left;

	margin: 0 10px 0 0;

	opacity: 1.0;

	transition: opacity .2s;

		-moz-transition: opacity .2s;

		-ms-transition: opacity .2s;

		-0-transition: opacity .2s;

		-webkit-transition: opacity .2s;

	}



.home-widget .cat-dark-bottom ul li img:hover {

	opacity: .8;

	}



.home-widget .cat-dark-bottom ul li p a {

	color: #fff;

	float: left;

	font: bold 13px/17px helvetica, sans-serif;

	margin-bottom: 0;

	width: 323px;

	}



.home-widget .cat-dark-bottom ul li:first-child {

	border-top: none;

	margin-top: 0;

	padding-top: 0;

	}



.home-widget .category-light h2 a {

	color: #333;

	float: left;

	font-size: 24px;

	font-weight: 400;

	line-height: 120%;

	margin-bottom: 10px;

	width: 100%;

	}



.home-widget .category-light p {

	float: left;

	font: 13px/17px helvetica, arial, sans-serif;

	margin-bottom: 10px;

	}



.home-widget .cat-light-top {

	float: left;

	margin-top: 20px;

	position: relative;

	width: 527px;

	}



.home-widget .cat-light-bottom {

	background: #f6f6f6;

	float: left;

	margin: 10px 0 -20px -20px;

	padding: 20px;

	width: 418px;

	}



.home-widget .cat-light-bottom ul li p a {

	color: #333;

	float: left;

	font: bold 13px/17px helvetica, sans-serif;

	width: 323px;

	}



.sidebar-small-widget .category-light h2 a {

	color: #333;

	float: left;

	font-size: 16px;

	font-weight: 400;

	line-height: 120%;

	margin-bottom: 10px;

	}



.sidebar-small-widget .category-light p {

	float: left;

	font: 13px/17px helvetica, arial, sans-serif;

	margin-bottom: 10px;

	}



.sidebar-small-widget .cat-light-top {

	float: left;

	margin-top: 20px;

	position: relative;

	width: 160px;

	}



.sidebar-small-widget .cat-light-bottom {

	background: #f6f6f6;

	float: left;

	margin: 10px 0 -20px -20px;

	padding: 20px;

	width: 160px;

	}



.sidebar-small-widget .cat-light-bottom ul li img {

	display: none;

	}



.sidebar-small-widget .cat-light-bottom ul li p a {

	color: #333;

	float: left;

	font: bold 13px/17px helvetica, sans-serif;

	width: 160px;

	}



/************************************************

	Carousel

************************************************/



.es-carousel-wrapper{position:relative;clear:both; width: 458px;}

.es-carousel{margin: 0; overflow:hidden;}

.es-carousel ul{display:none; padding:0; margin:0;}

.es-carousel ul li{height:100%;float:left;display:block; position: relative;}

.es-carousel ul li a{display:block;}

.es-carousel ul li a img{display:block;border:none;max-height:100%;max-width:100%;padding:0px; margin:0px;}

.es-nav span{position:absolute;text-indent:-9000px;cursor:pointer;top:45px;}

.es-nav span.es-nav-next{right:0px;width:33px;height:53px;background:transparent url(images/car-buttons.png) -41px 0; opacity: 0.7;}

.es-nav span.es-nav-prev{left:0px;width:33px;height:53px;background:transparent url(images/car-buttons.png) 0 0; opacity: 0.7;}

.es-nav span.es-nav-next:hover{opacity: 1.0;}

.es-nav span.es-nav-prev:hover{opacity: 1.0;}



.carousel-wrapper {

	background: #eee;

	float: left;

	margin: -32px 0 -20px -20px;

	overflow: hidden;

	position: relative;

	width: 458px;

	height: 148px;

	}



ul.home-carousel {

	background: #000;

	float: left;

	overflow: hidden;

	position: relative;

	width: 458px;

	}



ul.home-carousel li {

	display: inline;

	float: left;

	overflow: hidden;

	position: relative;

	width: 229px;

	}



ul.home-carousel li img {

	opacity: 0.4;

	transition: opacity .2s;

		-moz-transition: opacity .2s;

		-ms-transition: opacity .2s;

		-0-transition: opacity .2s;

		-webkit-transition: opacity .2s;

	}



ul.home-carousel li:hover img {

	opacity: 0.2;

	}



ul.home-carousel li h2 {

	color: #fff;

	font-size: 16px;

	font-weight: 400;

	line-height: 120%;

	margin: 0 40px;

	max-height: 124px;

	overflow: hidden;

	position: absolute;

		bottom: 15px;

		left: 0;

	text-align: center;

	text-shadow: 1px 1px 2px #000;

		-moz-text-shadow: 1px 1px 2px #000;

		-ms-text-shadow: 1px 1px 2px #000;

		-o-text-shadow: 1px 1px 2px #000;

		-webkit-text-shadow: 1px 1px 2px #000;

	}



/************************************************

	Posts

************************************************/



#title-main {

	border-bottom: 1px dotted #ccc;

	float: left;

	padding: 10px 20px 20px;

	position: relative;

	width: 94%;

	}



h1.headline {

	float: left;

	font-size: 42px;

	font-weight: 400;

	line-height: 120%;

	margin-bottom: 10px;

	width: 100%;

	}



h1.headline-page {

	float: left;

	font-size: 42px;

	font-weight: 400;

	line-height: 120%;

	margin-bottom: 0;

	width: 100%;

	}



.breadcrumb {

	border-bottom: 1px dotted #ccc;

	color: #777;

	font: 400 11px/13px 'Open Sans', sans-serif;

	padding: 10px 20px;

	width: 960px;;

	}



.breadcrumb a {

	font: 400 11px/11px 'Open Sans', sans-serif;

	}



span.post-byline {

	color: #777;

	float: left;

	font: 400 16px/16px 'Alegreya', serif;

	font-style: italic;

	}



span.twitter-byline {

	background: url(images/twitter.png) no-repeat left center;

	background-size: 12px 10px;

	float: left;

	font: 400 16px/16px 'Alegreya', serif;

	font-style: italic;

	margin-left: 10px;

	padding-left: 16px;

	}



#social-box {

	background: #f6f6f6;

	border-bottom: 1px dotted #ccc;

	float: left;

	padding: 0 20px 8px;

	position: relative;

	width: 619px;

	}



ul.post-social {

	display: inline;

	float: left;

	}



ul.post-social li {

	display: inline;

	float: left;

	padding: 8px 5px 0;

	width: 90px;

	height: 20px;

	}



.fb-like span {

	overflow: visible !important;

	width: 150px !important;

	margin-right: -375px;

	}



#post-area {

	float: left;

	font: 14px/23px helvetica, arial, sans-serif;

	position: relative;

	width: 100%;

	}



#post-area p {

	display: block;

	margin-bottom: 15px;


	}



.post-image {

	float: left;

	margin-bottom: 20px;

	width: 100%;

	}



#content-area {

	display: block;

	float: left;

	padding: 20px 19px 20px 20px;

	width: 729px;

	}



#content-area h1 {

	color: #222;

	font: 700 34px/36px 'Oswald', sans-serif;

	margin: 10px 0;

	width: 100%;

	}



#content-area h2 {

	color: #333;

	font: 700 28px/32px 'Oswald', sans-serif;

	margin: 10px 0;

	width: 100%;

	}



#content-area h3 {

	color: #333;

	font: 700 24px/28px 'Oswald', sans-serif;

	margin: 10px 0;

	width: 100%;

	}



#content-area h4 {

	color: #333;

	font: 700 20px/24px 'Oswald', sans-serif;

	margin: 10px 0;

	width: 100%;

	}



#content-area h5 {

	color: #333;

	font: 700 16px/20px 'Oswald', sans-serif;

	margin: 10px 0;

	width: 100%;

	}



#content-area h6 {

	color: #333;

	font: 700 12px/16px 'Oswald', sans-serif;

	margin: 10px 0;

	width: 100%;

	}



#content-area ul {

	list-style: disc outside;

	margin: 10px 0;

	}



#content-area ol {

	list-style: decimal outside;

	margin: 10px 0;

	}



#content-area ul li,

#content-area ol li {

	margin-left: 50px;

	padding: 5px 0px;

	}



#post-area blockquote {

	border-left: 1px #ccc solid;

	color: #777;

	font: italic 14px/22px verdana, arial, sans-serif;;

	margin: 10px;

	padding-left: 40px;

	}



#author-info {

	float: left;

	padding: 0 19px 40px 20px;

	position: relative;

	width: 620px;

	}



#author-info img {

	float: left;

	margin-right: 20px;

	}



#author-info-page {

	border-bottom: 1px dotted #ccc;

	float: left;

	margin: 20px 19px 0 20px;

	padding-bottom: 20px;

	position: relative;

	width: 620px;

	}



#author-info-page img {

	float: left;

	margin-right: 20px;

	}



#author-text {

	color: #999;

	float: left;

	font: italic 14px/20px helvetica, arial, sans-serif;

	width: 540px;

	}



h3.post-header {

	color: #fff;

	float: left;

	font: 400 12px/12px 'Oswald', sans-serif;

	margin: -20px 0 10px 0;

	padding: 5px 7px;

	position: relative;

	text-transform: uppercase;

	z-index: 10;

	}



.post-tags {

	float: left;

	font: 400 12px/12px 'Oswald', sans-serif;

	margin: 0 0 20px;

	padding: 0 19px 0 20px;

	width: 729px;

	}



.post-tags a,

span.post-tags-header {

	color: #fff;

	display: inline-block;

	float: left;

	margin: 0 1px 1px;

	padding: 5px 7px;

	text-transform: uppercase;

	}



.post-tags a {

	background: #aaa;

	}



.post-tags a:visited {

	color: #fff;

	}



.post-tags a:hover {

	color: #fff;

	text-decoration: none;

	}



.prev-next-wrapper {

	background: #f6f6f6;

	float: left;

	padding: 30px 29px 30px 30px;

	width: 709px;

	}



.prev-post {

	float: left;

	font: bold 14px/14px helvetica, arial, sans-serif;

	text-align: center;

	width: 260px;

	}



.next-post {

	float: right;

	font: bold 14px/14px helvetica, arial, sans-serif;

	text-align: center;

	width: 260px;

	}



.prev-post a,

.next-post a {

	clear: both;

	color: #333 !important;

	float: left;

	font-size: 20px;

	font-weight: 400;

	line-height: 120%;

	margin-top: 5px;

	}



#related-posts {

	float: left;

	padding: 20px 19px 20px 20px;

	width: 729px;

	}



#related-posts img {

	transition: opacity 0.2s;

		-moz-transition: opacity 0.2s;

		-ms-transition: opacity 0.2s;

		-o-transition: opacity 0.2s;

		-webkit-transition: opacity 0.2s;

	}



#related-posts img:hover {

	opacity: 0.8;

	}



#related-posts ul {

	display: inline;

	float: left;

	width: 100%;

	}



#related-posts ul li {

	display: inline;

	float: left;

	margin-left: 10px;

	width: 200px;

	}



#related-posts ul li:first-child {

	margin-left: 0;

	}



.related-image {

	float: left;

	overflow: hidden;

	position: relative;

	width: 200px;

	height: 129px;

	}



.related-text {

	float: left;

	padding: 5px 0;

	}



.related-text a {

	color: #333;

	font-size: 16px;

	font-weight: 400;

	line-height:120%;

	}



.related-text a:visited {

	color: #333;

	}



.full {

	width: 1000px !important;

	}



.full2 {

	width: 960px !important;

	padding-right: 20px !important;

	}



#post-404 {

	color: #999;

	margin: 100px 0;

	text-align: center;

	}



#post-404 h1 {

	border-bottom: none;

	font-size: 80px;

	font-weight: 700;

	line-height: 80px;

	margin-bottom: 10px;

	}



#post-404 p {

	text-align: center;

	}



.wp-caption, .gallery-caption {

	margin-bottom: 20px;

	max-width: 100%;

	text-align: center;

	}



.wp-caption-text {

	margin-bottom: 2px;

	}



.sticky {

	}



.bypostauthor {

	}



/************************************************

	Categories/Archives

************************************************/



#category-header {

	display: none;
	float: left;

	padding-bottom: 20px;

	text-align: center;

	width: 100%;

	}



h3.cat-header {

	color: #333;

	font-size: 40px;

	font-weight: 700;

	line-height: 100%;

	text-transform: uppercase;

	}



#archive-wrapper {

	float: left;

	padding: 20px 19px 20px 20px;

	width: 620px;

	}



ul.archive-list {

	float: left;

	width: 100%;

	}



ul.archive-list li {

	border-bottom: 1px dotted #ccc;

	display: block;

	float: left;

	margin-bottom: 20px;

	padding-bottom: 20px;

	width: 100%;

	}



ul.archive-list li:last-child {

	border-bottom: none;

	margin-bottom: 0;

	padding-bottom: 0;

	}



.archive-image {

	float: left;

	margin-right: 20px;

	position: relative;

	width: 200px;

	}



.archive-image img {

	float: left;

	opacity: 1.0;

	transition: opacity .2s;

		-moz-transition: opacity .2s;

		-ms-transition: opacity .2s;

		-0-transition: opacity .2s;

		-webkit-transition: opacity .2s;

	}



.archive-image:hover img {

	opacity: 0.8;

	}



.archive-text {

	float: left;

	width: 400px;

	}



.archive-text-noimg {

	float: left;

	width: 100%;

	}



.archive-text h2 a,

.archive-text-noimg h2 a {

	color: #333;

	float: left;

	font-size: 20px;

	font-weight: 400;

	line-height: 120%;

	margin-bottom: 7px;

	width: 100%;

	}



span.archive-byline {

	color: #777;

	float: left;

	font: 400 16px/16px 'Alegreya', serif;

	font-style: italic;

	margin-bottom: 6px;

	}



.archive-text p,

.archive-text-noimg p {

	float: left;

	font: 13px/17px helvetica, arial, sans-serif;

	}



/************************************************

	Comments

************************************************/



h3.comment-header {

	color: #fff;

	float: left;

	font: 400 12px/12px 'Oswald', sans-serif;

	margin: 0 0 20px 20px;

	padding: 5px 7px;

	position: relative;

	text-transform: uppercase;

	z-index: 10;

	}



#comments {

	display: block;

	float: left;

	font: 400 12px/normal helvetica, arial, sans-serif;

	overflow: hidden;

	width: 768px;

	}



.comment-inner {

	border-bottom: 1px dotted #ddd;

	margin-bottom: 10px;

	padding: 10px 0 0;

	}



#comments .comment-inner:after {

	content: '';

	display: block;

	clear: both;

	}



#comments .comment-avatar,

#tab3 .comment-avatar {

	float: left;

	width: 46px;

	}



#comments .avatar {

	display: block;

	background-color: #fff;

	}



#comments .commentmeta {

	display: block;

	float: left;

	margin: 0 10px 10px;

	}



.comment-reply a,

#cancel-comment-reply-link {

	clear: both;

	color: #fff;

	font: 700 12px/12px 'Open Sans Condensed', sans-serif;

	padding: 5px 10px;

	}



.comment-reply a {

	background: #555;

	float: right;

	}



#cancel-comment-reply-link {

	background: #ccc;

	float: left;

	margin: 0 0 10px 20px;

	}



.comment-reply a:hover,

#cancel-comment-reply-link:hover {

	background: #333;

	}



.comment-reply a:hover,

#cancel-comment-reply-link:hover {

	text-decoration: none;

	}



ol.commentlist {

	float: left;

	padding: 0 20px 20px;

	width: 619px;

	}



ol.commentlist h3.comment-header {

	display: none;

	}



ol.commentlist #respond {

	border-top: none;

	}



#comments .comment-meta-1 {

	display: block;

	float: left;

	font: bold 14px/normal helvetica, arial, sans-serif;

	margin-bottom: 5px;

	width: 100%;

	}



#comments .comment-meta-1 .fn {

	font-weight:bold;

	float:left;

	width:auto;

	}



#comments .comment-meta-1 .reply {

	display: inline-block;

	float: right;

	font-size: 11px;

	line-height: 11px;

	padding-top: 2px;

	}



#comments .comment-meta-1 .reply a {

	color: #555;

	}



#comments .comment-meta-2  {

	float: left;

	font: italic 12px/normal helvetica, arial, sans-serif;

	display: block;

	margin: 0;

	}



#comments .text {

	clear: both;

	display: block;

	float: left;

	margin-top: 10px;

	}



#comments .text .waiting_approval {

	font-size: 14px;

	font-style: italic;

	font-weight: bold;

	}



#comments .c {

	line-height: 20px;

	}



#comments .c p,

#comments .c code,

#comments .c blockquote,

#comments .c ul,

#comments .c ol {

	display: block;

	margin: 5px 0;

	}



#comments .c a {

	text-decoration: underline;

	}



#comments .c a:hover {

	text-decoration: none;

	}



#comments .depth-2 .comment-wrapper {

	padding-left: 40px;

	}



#comments .depth-2 .commentmeta {

	width: auto;

	}



#comments .depth-3 .comment-wrapper {

	padding-left: 80px;

	}



#comments .depth-3 .commentmeta {

	width: auto;

	}



#comments .depth-4 .comment-wrapper {

	padding-left: 120px;

	}



#comments .depth-4 .commentmeta {

	width: auto;

	}



#comments .depth-5 .comment-wrapper {

	padding-left: 160px;

	}



#comments .depth-5 .commentmeta {

	width: auto;

	}



#respond {

	clear: both;

	position: relative;

	}



#respond form {

	float: left;

	padding: 0 20px 20px;

	width: 619px;

	}



#respond p {

	font: 12px/normal helvetica, arial, sans-serif;

	margin: 0;

	}



#respond .logged-in-as {

	margin-bottom: 10px;

	}



#respond .comment-notes {

	margin-bottom: 1em;

	}



.children #respond {

	margin: 0 48px 0 0;

	}



#comments-list #respond {

	margin: 0 0 18px 0;

	}



#comments-list ul #respond {

	margin: 0;

	}



#respond .required {

	color: #ff4b33;

	font-weight: bold;

	}



#respond label {

	color: #888;

	font-size: 12px;

	}



#respond input {

	background: #f6f6f6;

	border: 1px solid #ddd;

		-ms-box-shadow: 2px 2px 5px 0px #eee inset;

		-moz-box-shadow: 2px 2px 5px 0px #eee inset;

		-webkit-box-shadow: 2px 2px 5px 0px #eee inset;

		-o-box-shadow: 2px 2px 5px 0px #eee inset;

	box-shadow: 2px 2px 5px 0px #eee inset;

	display:block;

	margin: 0 0 9px;

	padding:5px;

	width: auto;

	}



#respond textarea {

	background: #f6f6f6;

	border: 1px solid #ddd;

		-ms-box-shadow: 2px 2px 5px 0px #eee inset;

		-moz-box-shadow: 2px 2px 5px 0px #eee inset;

		-webkit-box-shadow: 2px 2px 5px 0px #eee inset;

		-o-box-shadow: 2px 2px 5px 0px #eee inset;

	box-shadow: 2px 2px 5px 0px #eee inset;

	width: 95%;

	}



#respond #submit {

	background: #555;

	border: 0;

	box-shadow: none;

	color: #fff;

	cursor:pointer;

	font: 700 12px/12px 'Open Sans Condensed', sans-serif;

	margin-top:10px;

	padding: 5px 10px;

	width: 120px;

	}



#respond #submit:hover {

	background: #333;

	}



h3#reply-title,

h2.comments {

	color: #fff;

	font: 700 14px/14px 'Oswald', sans-serif;

	margin-bottom: 10px;

	padding: 5px 10px;

	text-shadow: 1px 1px 0 #000;

	text-transform: uppercase;

	}



h3#reply-title {

	display: none;

	}



span.comments {

	background: #fff;

	color: #aaa;

	float: left;

	font: 400 20px/20px 'Open Sans Condensed', sans-serif;

	padding-right: 15px;

	text-transform: uppercase;

	}



span.comments a {

	color: #666;

	}



span.comments a:hover {

	color: #f00;

	text-decoration: none;

	}



#comment-input label {

	margin-bottom: 10px;

	}



p.cancel-comment-reply {

	clear: both;

	}



.form-allowed-tags {

	display: none;

	}



#disqus_thread {

	padding: 20px;

	}



/************************************************

	Sidebar

************************************************/



#sidebar-wrapper {

	float: right;

	width: 340px;

	}



#sidebar-small-wrapper {

	float: right;

	width: 200px;

	}



li.sidebar-widget {

	display: block;

	float: left;

	font: 13px/17px helvetica, arial, sans-serif;

	overflow: hidden;

	padding: 20px;

	width: 300px;

	z-index: 99;

	}



li.sidebar-small-widget {

	display: block;

	float: left;

	font: 13px/17px helvetica, arial, sans-serif;

	overflow: hidden;

	padding: 20px;

	width: 160px;

	}



span.home-widget-header {

	float: left;

	margin: -20px 0 7px -20px;

	width: 567px;

	height: 25px;

	}



h3.home-widget-header,

h3.home-widget-header a {

	color: #fff;

	float: left;

	font: 400 12px/12px 'Oswald', sans-serif;

	margin-left: 20px;

	padding: 5px 7px;

	position: relative;

	text-transform: uppercase;

	z-index: 10;

	}



h3.widget-buzz-header,

h3.widget-buzz-header a {

	color: #aaa;

	float: left;

	font: 300 28px/32px 'Oswald', sans-serif;

	margin: 0 0 20px -20px;

	padding: 5px 20px;

	text-align: center;

	text-transform: uppercase;

	width: 100%;

	}



span.small-widget-header {

	float: left;

	margin: -20px 0 7px -20px;

	width: 200px;

	height: 25px;

	}



h3.small-widget-header,

h3.small-widget-header a {

	color: #fff;

	float: left;

	font: 400 12px/12px 'Oswald', sans-serif;

	margin-left: 20px;

	padding: 5px 7px;

	position: relative;

	text-transform: uppercase;

	z-index: 10;

	}



span.sidebar-widget-header {

	float: left;

	margin: -20px 0 7px -20px;

	width: 340px;

	height: 25px;

	}



h3.sidebar-widget-header,

h3.sidebar-widget-header a {

	color: #fff;

	float: left;

	font: 400 12px/12px 'Oswald', sans-serif;

	margin-left: 20px;

	padding: 5px 7px;

	position: relative;

	text-transform: uppercase;

	z-index: 10;

	}



ul.widget-buzz {

	display: block;

	float: left;

	width: 100%;

	}



ul.widget-buzz li {

	display: block;

	float: left;

	margin-bottom: 20px;

	overflow: hidden;

	position: relative;

	text-align: center;

	width: 100%;

	}



ul.widget-buzz li h2 a {

	color: #333;

	float: left;

	font-size: 16px;

	font-weight: 400;

	line-height: 120%;

	width: 100%;

	}



span.buzz-byline {

	color: #999;

	float: left;

	font: bold 10px/10px helvetica, arial, sans-serif;

	margin-bottom: 5px;

	text-align: center;

	width: 100%;

	}



.sidebar-widget .category-dark {

	background: #000;

	float: left;

	margin: -32px 0 -20px -20px;

	position: relative;

	width: 340px;

	}



.sidebar-widget .cat-dark-top {

	float: left;

	position: relative;

	width: 100%;

	}



.sidebar-widget .category-dark img {

	float: left;

	opacity: 0.3;

	transition: opacity .4s;

		-moz-transition: opacity .4s;

		-ms-transition: opacity .4s;

		-0-transition: opacity .4s;

		-webkit-transition: opacity .4s;

	}



.sidebar-widget .cat-dark-top:hover img {

	opacity: 0.1;

	}



.sidebar-widget .cat-dark-text {

	float: left;

	overflow: hidden;

	padding: 20px 20px 10px;

	position: absolute;

		bottom: 0;

		left: 0;

	width: 300px;

	}



.sidebar-widget .cat-dark-byline {

	color: #ddd;

	float: left;

	font: 400 14px/14px 'Alegreya', serif;

	font-style: italic;

	margin-bottom: 5px;

	text-shadow: 1px 1px 2px #000;

		-moz-text-shadow: 1px 1px 2px #000;

		-ms-text-shadow: 1px 1px 2px #000;

		-o-text-shadow: 1px 1px 2px #000;

		-webkit-text-shadow: 1px 1px 2px #000;

	}



.sidebar-widget .cat-dark-text h2 {

	color: #fff;

	float: left;

	font-size: 22px;

	font-weight: 400;

	line-height: 120%;

	text-shadow: 1px 1px 2px #000;

		-moz-text-shadow: 1px 1px 2px #000;

		-ms-text-shadow: 1px 1px 2px #000;

		-o-text-shadow: 1px 1px 2px #000;

		-webkit-text-shadow: 1px 1px 2px #000;

	}



.sidebar-widget .cat-dark-text p {

	color: #fff;

	float: left;

	font: 13px/17px helvetica, arial, sans-serif;

	margin-top: 10px;

	max-height: 0;

	overflow: hidden;

	transition: max-height .4s;

		-moz-transition: max-height .4s;

		-ms-transition: max-height .4s;

		-o-transition: max-height .4s;

		-webkit-transition: max-height .4s;

	}



.sidebar-widget .cat-dark-top:hover .cat-dark-text p {

	max-height: 70px;

	}



.sidebar-widget .cat-dark-bottom {

	background: #222;

	float: left;

	padding: 20px;

	width: 300px;

	}



.sidebar-widget .cat-dark-bottom img {

	opacity: 1.0;

	transition: opacity .2s;

		-moz-transition: opacity .2s;

		-ms-transition: opacity .2s;

		-0-transition: opacity .2s;

		-webkit-transition: opacity .2s;

	}



.sidebar-widget .cat-dark-bottom img:hover {

	opacity: 0.8;

	}



.sidebar-widget .cat-dark-bottom .list-byline {

	display: none;

	}



.sidebar-widget .cat-dark-bottom ul li {

	border-top: 1px dotted #555;

	display: block;

	float: left;

	margin-top: 10px;

	padding-top: 10px;

	width: 100%;

	}



.sidebar-widget .cat-dark-bottom ul li img {

	float: left;

	margin: 0 10px 0 0;

	opacity: 1.0;

	}



.sidebar-widget .cat-dark-bottom ul li p a {

	color: #fff;

	float: left;

	font: bold 13px/17px helvetica, sans-serif;

	margin-bottom: 0;

	width: 205px;

	}



.sidebar-widget .cat-dark-bottom ul li:first-child {

	border-top: none;

	margin-top: 0;

	padding-top: 0;

	}



.home-widget .category-light,

.sidebar-small-widget .category-light,

.sidebar-widget .category-light,

.footer-widget .category-light {

	float: left;

	position: relative;

	width: 100%;

	}



.sidebar-widget .category-light h2 a {

	color: #333;

	float: left;

	font-size: 18px;

	font-weight: 400;

	line-height: 120%;

	margin-bottom: 10px;

	width: 100%;

	}



.footer-widget .category-light h2 a {

	color: #ddd;

	float: left;

	font-size: 18px;

	font-weight: 400;

	line-height: 120%;

	margin-bottom: 10px;

	width: 100%;

	}



.home-widget .category-light img,

.sidebar-small-widget .category-light img,

.sidebar-widget .category-light img,

.footer-widget .category-light img {

	float: left;

	margin-bottom: 10px;

	opacity: 1.0;

	transition: opacity .2s;

		-moz-transition: opacity .2s;

		-ms-transition: opacity .2s;

		-0-transition: opacity .2s;

		-webkit-transition: opacity .2s;

	}



.home-widget .category-light img:hover,

.sidebar-small-widget .category-light img:hover,

.sidebar-widget .category-light img:hover,

.footer-widget .category-light img:hover {

	opacity: 0.8;

	}



.sidebar-widget .category-light p,

.footer-widget .category-light p {

	float: left;

	font: 13px/17px helvetica, arial, sans-serif;

	margin-bottom: 10px;

	}



.sidebar-widget .cat-light-top {

	float: left;

	margin-top: 20px;

	position: relative;

	width: 300px;

	}



.footer-widget .cat-light-top {

	float: left;

	margin-top: 20px;

	position: relative;

	width: 300px;

	}



.home-widget .cat-light-top:first-child,

.sidebar-small-widget .cat-light-top:first-child,

.sidebar-widget .cat-light-top:first-child,

.footer-widget .cat-light-top:first-child {

	margin-top: 0;

	}



.sidebar-widget .cat-light-bottom {

	background: #f6f6f6;

	float: left;

	margin: 10px 0 -20px -20px;

	padding: 20px;

	width: 300px;

	}



.footer-widget .cat-light-bottom {

	background: none;

	float: left;

	margin: 10px 0 -20px -20px;

	padding: 20px;

	width: 300px;

	}



.cat-light-links {

	background: none !important;

	margin: 0 !important;

	padding: 0 !important;

	}



.home-widget .cat-light-bottom ul li,

.sidebar-small-widget .cat-light-bottom ul li,

.sidebar-widget .cat-light-bottom ul li {

	border-top: 1px dotted #ccc;

	display: block;

	float: left;

	margin-top: 10px;

	padding-top: 10px;

	width: 100%;

	}



.footer-widget .cat-light-bottom ul li {

	border-top: 1px dotted #444;

	display: block;

	float: left;

	margin-top: 10px;

	padding-top: 10px;

	width: 100%;

	}



.home-widget .cat-light-bottom ul li img,

.sidebar-widget .cat-light-bottom ul li img,

.footer-widget .cat-light-bottom ul li img {

	float: left;

	margin: 0 10px 0 0;

	opacity: 1.0;

	transition: opacity .2s;

		-moz-transition: opacity .2s;

		-ms-transition: opacity .2s;

		-0-transition: opacity .2s;

		-webkit-transition: opacity .2s;

	}



.home-widget .cat-light-bottom ul li img:hover,

.sidebar-widget .cat-light-bottom ul li img:hover,

.footer-widget .cat-light-bottom ul li img:hover {

	opacity: 0.8;

	}



.home-widget .cat-light-bottom ul li p,

.sidebar-small-widget .cat-light-bottom ul li p,

.sidebar-widget .cat-light-bottom ul li p,

.footer-widget .cat-light-bottom ul li p {

	margin-bottom: 0;

	}



.sidebar-widget .cat-light-bottom ul li p a {

	color: #333;

	float: left;

	font: bold 13px/17px helvetica, sans-serif;

	width: 205px;

	}



.footer-widget .cat-light-bottom ul li p a {

	color: #ddd;

	float: left;

	font: bold 13px/17px helvetica, sans-serif;

	width: 205px;

	}



.home-widget .cat-light-bottom ul li:first-child,

.sidebar-small-widget .cat-light-bottom ul li:first-child,

.sidebar-widget .cat-light-bottom ul li:first-child,

.footer-widget .cat-light-bottom ul li:first-child {

	border-top: none;

	margin-top: 0;

	padding-top: 0;

	}



.sidebar-small-widget .cat-light-bottom .list-byline,

.sidebar-widget .cat-light-bottom .list-byline {

	display: none;

	}



.widget-ad {

	float: left;

	overflow: hidden;

	text-align: center;

	width: 100%;

	}



.widget-ad h3 {

	clear: both;

	color: #ccc;

	float: left;

	font: 400 8px/8px 'Open Sans', sans-serif;

	margin-bottom: 1px;

	text-transform: uppercase;

	width: 100%;

	}



ul.tabber-widget {

	float: left;

	margin: -20px 0 0 -20px;

	padding: 0 20px 20px;

	width: 300px;

	}



ul.tabber-widget li {

	background: #777;

	display: inline;

	float: left;

	margin-right: 2px;

	}



ul.tabber-widget li a {

	color: #fff;

	float: left;

	font: 400 12px/12px 'Oswald', sans-serif;

	padding: 5px 7px;

	text-transform: uppercase;

	}



ul.tabber-widget li a:hover {

	text-decoration: none;

	}



ul.latest-comments {

	float: left;

	width: 300px;;

	}



ul.latest-comments li {

	border-bottom: 1px dotted #ccc;

	display: block;

	float: left;

	font: 12px/14px helvetica, arial, sans-serif;

	margin-bottom: 10px;

	padding-bottom: 10px;

	width: 100%;

	}



ul.latest-comments li:last-child {

	border-bottom: none;

	margin-bottom: 0;

	padding-bottom: 0;

	}



ul.latest-comments li p {

	margin-bottom: 0;

	}



.comment-image {

	float: left;

	margin-right: 10px;

	width: 50px;

	}



.comment-text {

	float: left;

	width: 240px;

	}



.comment-text span {

	float: left;

	font: bold 13px/17px helvetica, sans-serif;

	width: 100%;

	}



.comment-text p {

	color: #555;

	float: left;

	font: 13px/17px helvetica, sans-serif;

	}



.comment-text p a {

	color: #888;

	}



li.home-widget table,

li.sidebar-widget table,

li.sidebar-small-widget table,

li.footer-widget table {

	border-collapse: separate;

	text-align: center;

	width: 100%;

	}



li.home-widget thead,

li.sidebar-widget thead,

li.sidebar-small-widget thead,

li.footer-widget thead {

	vertical-align: middle;

	}



li.home-widget p.gd-widgets,

li.sidebar-widget p.gd-widgets,

li.sidebar-small-widget p.gd-widgets,

li.footer-widget p.gd-widgets {

	margin-bottom: 0;

	}



li.home-widget select,

li.sidebar-widget select,

li.sidebar-small-widget select,

li.footer-widget select {

	width: 100%;

	}



li.home-widget #searchform,

li.sidebar-widget #searchform,

li.sidebar-small-widget #searchform,

li.footer-widget #searchform {

	background: #fff;

	float: left;

	padding: 0;

	width: 100%;

	}



li.home-widget #searchform input,

li.sidebar-widget #searchform input,

li.sidebar-small-widget #searchform input,

li.footer-widget #searchform input {

	background: #fff url(images/search2.png) no-repeat right center!important;

	border: 1px solid #666;

	box-shadow: none;

	color: #666;

	margin: 0;

	padding: 10px 3%;

	width: 94%;

	height: 12px;

	}



li.recentcomments,

li cite {

	float: left;

	margin-bottom: 10px;

	width: 100%;

	}



li cite.fn {

	margin-bottom: 0;

	}



.rss-date {

	float: left;

	width: 100%;

	}



table {

	float: left;

	}



/************************************************

	Twitter Widget

************************************************/



.tweet,

.query {

	display: block;

	float: left;

	font: 12px/16px helvetica, arial, sans-serif;

	padding: 10px 10px 0;

	position: relative;

	}



.tweet_list {

	float: left;

	list-style: none;

	margin: 0;

	padding: 0;

	}



.tweet_list li {

	border-bottom: 1px dotted #ccc;

	float: left;

	list-style-type: none;

	margin-bottom: 10px;

	padding-bottom: 10px;

	}



li.footer-widget .tweet_list li {

	border-bottom: 1px dotted #444;

	float: left;

	list-style-type: none;

	margin-bottom: 10px;

	padding-bottom: 10px;

	}



.tweet_list li a {

	font-weight: normal;

	}



.tweet_list li:last-child,

li.footer-widget .tweet_list li:last-child {

	border-bottom: none;

	margin-bottom: 0;

	padding-bottom: 0;

	}



.tweet_list .tweet_avatar {

	float: left;

	}



.tweet_list .tweet_avatar img {

	vertical-align: middle;

	}



.tweet_time a {

	font: 11px/11px helvetica, arial, sans-serif;

	}



.tweet_text {

	margin-bottom: 3px;

	}



.tweet_text,

.tweet_time {

	display: block;

	margin-left: 45px;

	}



/************************************************

	Footer

************************************************/



#footer-wrapper {

	background: #333 url(images/dark-noise.gif);

	float: left;

	width: 100%;

	}



#footer-top {

	float: left;

	padding: 25px 0;

	width: 100%;

	}



li.footer-widget {

	border-left: 1px dotted #555;

	color: #aaa;

	float: left;

	font: 13px/17px helvetica, arial, sans-serif;

	margin: 0 0 20px 14px;

	overflow: hidden;

	padding-left: 10px;

	width: 300px;

	}



li.home-widget p,

li.sidebar-small-widget p,

li.sidebar-widget p,

li.footer-widget p {

	margin-bottom: 10px;

	}



li.footer-widget:first-child {

	border-left: none;

	margin-left: 25px;

	padding-left: 0;

	}



h3.footer-widget-header,

h3.footer-widget-header a {

	color: #ddd;

	float: left;

	font: 400 14px/18px 'Oswald', sans-serif;

	margin-bottom: 20px;

	text-shadow: 1px 1px 2px #000;

		-moz-text-shadow: 1px 1px 2px #000;

		-ms-text-shadow: 1px 1px 2px #000;

		-o-text-shadow: 1px 1px 2px #000;

		-webkit-text-shadow: 1px 1px 2px #000;

	text-transform: uppercase;

	width: 100%;

	}



#footer-bottom {

	background: #222;

	color: #aaa;

	float: left;

	font: 11px/13px helvetica, arial, sans-serif;

	padding: 10px 25px 5px;

	width: 1059px;

	}



#footer-bottom p {

	float: left;

	margin: 0 20px 5px 0;

	max-width: 500px;

	}



#footer-bottom ul {

	display: block;

	float: right;

	max-width: 450px;

	overflow: hidden;

	position: relative;

	}



#footer-bottom ul li {

	display: inline;

	float: left;

	margin: 0 10px 5px 0;

	}



#footer-bottom ul li ul {

	display: none;

	}



.tag-cloud {

	float: left;

	width: 100%;

	}



.tag-cloud a {

	background: #555;

	color: #ddd;

	float: left;

	font: 400 12px/12px 'Oswald', sans-serif;

	margin: 0 5px 5px 0;

	padding: 5px 7px;

	text-transform: uppercase;

	}



.tag-cloud a:hover {

	text-decoration: none;

	}



.tag-cloud a:visited {

	color: #ddd;

	}



/************************************************

	Pagination

************************************************/



.nav-links {

	float: left;

	padding: 20px 19px 20px 20px;

	position: relative;

	width: 620px;

	}



.pagination {

	clear: both;

	position: relative;

	font: bold 12px/12px helvetica, arial, sans-serif;

	}



.pagination span, .pagination a {

	background: #555;

	border: 1px solid #333;

	border-radius: 3px;

	box-shadow: 0 3px 5px -1px #ccc;

		-ms-box-shadow: 0 3px 5px -1px #aaa;

		-moz-box-shadow: 0 3px 5px -1px #aaa;

		-o-box-shadow: 0 3px 5px -1px #aaa;

		-webkit-box-shadow: 0 2px 3px -1px #aaa;

	color: #fff;

	display:block;

	float:left;

	margin: 2px 5px 2px 0;

	padding: 9px 12px 8px 12px;

	text-decoration: none;

	width: auto;

	}



.pagination .current, .pagination a:hover {

	background: #999;

	border: 1px solid #777;

	color: #fff;

	}



.pagination a,

.pagination a:visited {

	color: #fff

	}



/************************************************

	Media Queries

************************************************/



@media screen and (max-width: 1002px) and (min-width: 768px) {


#wrapper{

		width: 768px;

		}
	
	#nav-wrapper {

		max-width: 100%;

		}



	#leader-wrapper {

		margin-top: 10px;

		}



	#leader-wrapper,

	#leader-small {

		width: 768px;

		height: auto;

		}



	#leader-small {

		float: left;

		margin-bottom: 0;

		}



	#ad-970 {

		max-width: 768px;

		height: auto;

		}



	.full {

		width: 768px !important;

		}



	.full2 {

		width: 728px !important;

		}



	#top-header-wrapper {

		width: 766px;

		}



	#top-nav {

		max-width: 495px;

		}



	.main-excerpt,

	.sub-text p,

	#sidebar-small-wrapper,

	.home-widget .cat-dark-text p,

	.sidebar-widget .cat-dark-text p,

	.prev-next-wrapper,

	.related-image,

	.archive-image {

		display: none;

		}



	ul.main-nav {

		/*max-width: 608px;*/

		}



	ul.main-nav li a {

		font-size: 12px;

		padding: 14px 10px;

		}



	#featured-main {

		height: 308px;

		}



	.main-story {

		width: 438px;

		height: 308px;

		}



	.main-story img {

		margin-left: -19px;

		min-width: 476px !important;

		}



	.main-text {

		width: 428px;

		}



	.main-text h1 {

		font-size: 40px;

		}



	.sub-story {

		width: 164px;

		height: 154px;

		}



	.sub-text {

		width: 144px;

		}



	.sub-text h2 {

		font-size: 17px;

		}



	ul.ticker {

		max-width: 583px;

		}







	#home-main,

	.home-widget .category-dark,

	.carousel-wrapper,

	ul.home-carousel,

	span.home-widget-header,

	span.sidebar-widget-header,

	.sidebar-widget .category-dark,

	#comments {

		width: 427px;

		}



	#home-left {

		border-right: none;

		width: 427px;

		}



	li.home-widget,

	.home-widget .cat-dark-text,

	.home-widget .cat-dark-bottom,

	.home-widget .cat-light-top,

	.home-widget .cat-light-bottom,

	#social-box,

	.archive-text  {

		width: 387px;

		}



	#content-area,

	.post-tags,

	#related-posts,

	#archive-wrapper,

	.nav-links {

		padding: 20px;

		width: 387px;

		}



	#author-info {

		padding: 0 20px 20px 20px;

		width: 387px;

		}



	#author-info-page {

		margin: 20px 20px 0 20px;

		padding-bottom: 20px;

		width: 387px;

		}



	#author-text {

		width: 307px;

		}



	.home-widget .cat-dark-text,

	.sidebar-widget .cat-dark-text {

		padding: 20px;

		}



	.home-widget .cat-dark-text h2 {

		font-size: 28px;

		}



	.home-widget .cat-dark-bottom ul li p a,

	.home-widget .cat-light-bottom ul li p a {

		width: 292px;

		}



	#title-main,

	.breadcrumb {

		width: 445px;

		}



	#related-posts ul li {

		margin: 0 0 10px 0;

		width: 387px;

		}



	ol.commentlist,

	#respond form {

		padding: 0 20px 20px;

		width: 387px;

		}



	li.footer-widget {

		border-left: none;

		margin: 0 0 20px 56px;

		padding-left: 0;

		}



	li.footer-widget:first-child {

		margin-left: 56px;

		}



	#footer-bottom {

		padding: 10px 20px;

		width: 728px;

		}



	#footer-bottom p,

	#footer-bottom ul {

		max-width: 728px;

		width: 728px;

		}



	#footer-bottom ul {

		float: left;

		margin-top: 10px;

		}
 
	.containerSocialButtons
	{
		display: none;
	}	


	}



@media screen and (max-width: 767px) and (min-width: 600px) {



	#sidebar-wrapper {
		display:none;
	}


	#wrapper,

	.main-story,

	span.home-widget-header,

	span.sidebar-widget-header,

	.home-widget .category-dark,

	.carousel-wrapper,

	ul.home-carousel,

	.sidebar-widget .category-dark,

	ul.tabber-widget,

	#comments {

		width: 600px;

		}

#nav-wrapper
{
	max-width: 100%;
}


	.full {

		width: 600px !important;

		}



	.full2 {

		width: 560px !important;

		}



	#top-header-wrapper {

		width: 598px;

		}



	#top-nav {

		max-width: 327px;

		}



	#leader-wrapper {

		margin-top: 10px;

		}



	#leader-wrapper,

	#ad-970,

	#leader-small,

	#ad-728 {

		max-width: 600px;

		width: 600px;

		height: auto;

		}



	#leader-small {

		float: left;

		margin-bottom: 0;

		}



	ul.main-nav,

	.main-excerpt,

	.sub-text p,

	#ticker-wrapper,

	#sidebar-small-wrapper,

	.home-widget .cat-dark-text p,

	.sidebar-widget .cat-dark-text p,

	.related-image {

		display: none;

		}



	#nav-mobi {
        margin-top: 15px;
        margin-left: 5px;
		display: inline;
		

		}



	#nav-mobi select {

		width: 360px;

		}



	#featured-main {

		height: 528px;

		}



	.main-story {

		height: 387px;

		}



	.main-story img {

		margin-left: 0;

		min-width: 600px !important;

		}



	.main-text h1 {

		font-size: 52px;

		}



	.sub-story {

		width: 149px;

		height: 140px;

		}



	.sub-text {

		width: 129px;

		}



	.sub-text h2 {

		font-size: 15px;

		}



	#home-main,

	#home-left {

		border-right: none;

		width: 100%;

		}



	li.home-widget,

	.home-widget .cat-dark-text,

	.home-widget .cat-dark-bottom,

	.home-widget .cat-light-top,

	.home-widget .cat-light-bottom,

	li.sidebar-widget,

	.sidebar-widget .cat-dark-text,

	.sidebar-widget .cat-dark-bottom,

	.sidebar-widget .cat-light-top,

	.footer-widget .cat-light-top,

	.sidebar-widget .cat-light-bottom,

	.footer-widget .cat-light-bottom,

	ul.latest-comments,

	li.footer-widget,

	.main-text,

	#title-main,

	.breadcrumb,

	#social-box {

		width: 560px;

		}



	.home-widget .cat-dark-text,

	.sidebar-widget .cat-dark-text {

		padding: 20px;

		}



	.home-widget .cat-dark-text h2,

	.sidebar-widget .cat-dark-text h2 {

		font-size: 40px;

		}



	.home-widget .cat-dark-byline {

		font: 400 14px/14px 'Alegreya', serif;

		}



	.home-widget .cat-dark-bottom ul li p a,

	.home-widget .cat-light-bottom ul li p a,

	.sidebar-widget .cat-dark-bottom ul li p a,

	.sidebar-widget .cat-light-bottom ul li p a,

	.footer-widget .cat-light-bottom ul li p a {

		width: 465px;

		}



	.sidebar-widget .cat-dark-bottom .list-byline {

		display: inline;

		}



	#content-area,

	.post-tags,

	#related-posts,

	#archive-wrapper,

	.nav-links {

		padding: 20px;

		width: 560px;

		}



	#author-info {

		padding: 0 20px 20px 20px;

		width: 560px;

		}



	#author-info-page {

		margin: 20px 20px 0 20px;

		padding-bottom: 20px;

		width: 560px;

		}



	#author-text {

		width: 480px;

		}



	.fb-like span {

		overflow: hidden !important;

		width: 90px !important;

		margin-right: -375px;

		}



	.prev-next-wrapper {

		padding: 30px;

		width: 540px;

		}



	.prev-post,

	.next-post {

		width: 250px;

		}



	#related-posts ul li {

		margin: 0 0 10px 0;

		width: 560px;

		}



	.archive-text {

		width: 340px;

		}



	ol.commentlist,

	#respond form {

		padding: 0 20px 20px;

		width: 560px;

		}



	#sidebar-wrapper {

		border-top: 1px dotted #ccc;
		float: left;

		}



	.footer-widget .category-light h2 a {

		font-size: 24px;

		}



	.comment-text {

		width: 500px;

		}



	#footer-top {

		padding: 25px 20px;

		width: 560px;

		}



	li.footer-widget {

		border-left: none;

		margin: 0 0 20px 0;

		padding-left: 0;

		}



	li.footer-widget:first-child {

		margin-left: 0;

		}



	#footer-bottom {

		padding: 10px 20px;

		width: 560px;

		}



	#footer-bottom p,

	#footer-bottom ul {

		max-width: 560px;

		width: 560px;

		}



	#footer-bottom ul {

		float: left;

		margin-top: 10px;

		}



	}



@media screen and (max-width: 599px) and (min-width: 480px) {

#banner-fijo-post,	#sidebar-wrapper {

    display:none;
}

	#wrapper,

	#nav-wrapper,

	.main-story,

	span.home-widget-header,

	span.sidebar-widget-header,

	.home-widget .category-dark,

	.carousel-wrapper,

	ul.home-carousel,

	.sidebar-widget .category-dark,

	ul.tabber-widget,

	#comments {

		width: 480px;

		}



	.full {

		width: 480px !important;

		}



	.full2 {

		width: 440px !important;

		}



	#top-nav {

		max-width: 480px;

		}



	#top-header-wrapper {

		width: 100%;

		height: 61px;

		}



	#leader-wrapper,

	#leader-small {

		height: auto;

		margin-top: 10px;

		}



	#leader-small {

		float: left;

		margin-bottom: 0;

		width: 100%;

		}



	#ad-320 {

		display: inline-block;

		}



	#logo-wrapper,

	#logo-small {

		margin-top: 50px;

		}



	#content-social {

		border-top: 1px solid #ddd;

		float: left;

		max-width: 100%;

		width: 100%;

		}



	#content-social ul li:first-child {

		border-left: none;

		}



	#content-social ul li:last-child {

		border-right: 1px solid #ddd;

		}



	#nav-mobi {

		display: inline;
		margin: 15px 0px 0px 8px;

		}



	#nav-mobi select {

		width: 250px;

		}



	#ad-970,

	#ad-728,

	ul.main-nav,

	.main-excerpt,

	.sub-text p,

	#ticker-wrapper,

	#sidebar-small-wrapper,

	.home-widget .cat-dark-text p,

	.sidebar-widget .cat-dark-text p,

	.breadcrumb,

	.prev-next-wrapper,

	.related-image,

	.archive-image,

	#author-info img,

	#author-info-page img {

		display: none;

		}



	#featured-main {

		height: 760px;

		}



	.main-story {

		height: 310px;

		}



	.main-story img {

		margin-left: 0;

		min-width: 480px !important;

		}



	.main-text {

		width: 420px;

		}



	.main-text h1 {

		font-size: 42px;

		}



	.sub-story {

		width: 239px;

		height: 224px;

		}



	.sub-text {

		width: 219px;

		}



	.sub-text h2 {

		font-size: 24px;

		}



	#home-main,

	#home-left {

		border-right: none;

		width: 480px;

		}



	li.home-widget,

	.home-widget .cat-dark-text,

	.home-widget .cat-dark-bottom,

	.home-widget .cat-light-top,

	.home-widget .cat-light-bottom,

	li.sidebar-widget,

	.sidebar-widget .cat-dark-text,

	.sidebar-widget .cat-dark-bottom,

	.sidebar-widget .cat-light-top,

	.footer-widget .cat-light-top,

	.sidebar-widget .cat-light-bottom,

	.footer-widget .cat-light-bottom,

	ul.latest-comments,

	li.footer-widget,

	#title-main,

	#social-box,

	.archive-text,

	#author-text {

		width: 440px;

		}



	.home-widget .cat-dark-text,

	.sidebar-widget .cat-dark-text {

		padding: 20px;

		}



	.home-widget .cat-dark-text h2,

	.sidebar-widget .cat-dark-text h2 {

		font-size: 33px;

		}



	.home-widget .cat-dark-byline {

		font: 400 14px/14px 'Alegreya', serif;

		}



	.home-widget .cat-dark-bottom ul li p a,

	.home-widget .cat-light-bottom ul li p a,

	.sidebar-widget .cat-dark-bottom ul li p a,

	.sidebar-widget .cat-light-bottom ul li p a,

	.footer-widget .cat-light-bottom ul li p a {

		width: 345px;

		}



	.sidebar-widget .cat-dark-bottom .list-byline {

		display: inline;

		}



	h1.headline,

	h1.headline-page {

		font-size: 26px;

		}



	.fb-like span {

		overflow: hidden !important;

		width: 90px !important;

		margin-right: -375px;

		}



	.footer-widget .category-light h2 a {

		font-size: 24px;

		}



	.comment-text {

		width: 400px;

		}



	#footer-top,

	#content-area,

	.post-tags,

	#related-posts,

	#archive-wrapper,

	.nav-links {

		padding: 20px;

		width: 440px;

		}



	#author-info {

		padding: 0 20px 30px 20px;

		width: 440px;

		}



	#author-info-page {

		margin: 20px 20px 0 20px;

		padding-bottom: 20px;

		width: 440px;

		}



	#related-posts ul li {

		margin: 0 0 10px 0;

		width: 440px;

		}



	ol.commentlist,

	#respond form {

		padding: 0 20px 20px;

		width: 440px;

		}



	#sidebar-wrapper {

		border-top: 1px dotted #ccc;

		}



	li.footer-widget {

		border-left: none;

		margin: 0 0 20px 0;

		padding-left: 0;

		}



	li.footer-widget:first-child {

		margin-left: 0;

		}



	#footer-bottom {

		padding: 10px 20px;

		width: 440px;

		}



	#footer-bottom p,

	#footer-bottom ul {

		margin-right: 0;

		max-width: 440px;

		width: 440px;

		}



	#footer-bottom ul {

		float: left;

		margin-top: 10px;

		}



	}



@media screen and (max-width: 479px) {

#banner-fijo-post, #sidebar-wrapper {

    display:none;
}

	#wrapper,

	

	.main-story,

	#comments {

		width: 320px;

		}

#nav-wrapper{
	max-width: 100%;
}

	.full {

		width: 320px !important;

		}



	.full2 {

		padding-right: 10px !important;

		width: 300px !important;

		}



	#top-nav {

        display:none;
		max-width: 300px;

		}

	#header-wrapper {

	display: none;

 }


	#top-header-wrapper {
        display:none;

		width: 318px;

		height: 61px;

		}



	#leader-wrapper,

	#leader-small {

		height: auto;

		margin-top: 10px;

		}



	#leader-small {

		float: left;

		margin-bottom: 0;

		width: 100%;

		}



	#ad-320 {

		display: inline-block;

		}



	#logo-wrapper,

	#logo-small {

		margin-top: 10px;

		}



	#nav-mobi {       
		display: inline;
		width: 100%;
		background-color: green;

		}



	#nav-mobi select {        
		width: 63.8%;		
		}



	#main-search {       

		
		width: 110px;
		background-color: #686b6d;


		}

		#mobi-main-search {       

		display: inline;
		width: 36.2%;
		background-color: #686b6d;



		}

		

	#searchform input {
        
		width: 81px;

		}



	#content-social {
        
		display:none;

		border-top: 1px solid #ddd;

		float: left;

		max-width: 320px;

		width: 100%;

		}



	#content-social ul li:first-child {

		border-left: none;

		}



	#content-social ul li:last-child {

		border-right: 1px solid #ddd;

		}



	#ad-970,

	#ad-728,

	ul.main-nav,

	.main-byline,

	.main-excerpt,

	.sub-text p,

	#ticker-wrapper,

	#sidebar-small-wrapper,

	.home-widget .cat-dark-text p,

	.home-widget .cat-dark-bottom img,

	.home-widget .cat-light-bottom img,

	span.list-byline,

	.sidebar-widget .cat-dark-text p,

	.sidebar-widget .cat-dark-bottom img,

	.sidebar-widget .cat-light-bottom ul li img,

	.footer-widget .cat-light-bottom ul li img,

	.breadcrumb,

	.prev-next-wrapper,

	.related-image,

	.archive-image,

	.comment-avatar,

	#author-info img,

	#author-info-page img {

		display: none;

		}



	#featured-main {

		height: 494px;

		}



	.main-story {

		height: 194px;

		}



	.main-story img {

		margin-left: 0;

		min-width: 320px !important;

		}



	.main-text h1 {

		font-size: 28px;

		}



	.sub-story {

		width: 159px;

		height: 149px;

		}



	.sub-text {

		width: 139px;

		}



	.sub-text h2 {

		font-size: 16px;

		}



	#home-main,

	#home-left,

	.home-widget .category-dark,

	.carousel-wrapper,

	ul.home-carousel,

	.sidebar-widget .category-dark {

		border-right: none;

		width: 100%;

		}



	.home-widget .category-dark,

	.carousel-wrapper,

	.sidebar-widget .category-dark {

		margin: -32px 0 -10px -10px;

		}



	li.home-widget,

	.home-widget .cat-dark-text,

	.home-widget .cat-dark-bottom,

	li.sidebar-widget,

	.sidebar-widget .cat-dark-text,

	.sidebar-widget .cat-dark-bottom,

	#footer-bottom,

	.main-text,

	#title-main,

	.post-tags,

	.nav-links {

		padding: 10px;

		width: 300px;

		}



	#author-info {

		padding: 0 10px 20px 10px;

		width: 300px;

		}



	#author-info-page {

		margin: 20px 10px 0 10px;

		padding-bottom: 20px;

		width: 300px;

		}



	.home-widget .cat-dark-text h2,

	.sidebar-widget .cat-dark-text h2 {

		font-size: 22px;

		}



	.home-widget .cat-dark-bottom ul li p a,

	.home-widget .cat-light-bottom ul li p a,

	.home-widget .cat-light-top,

	.sidebar-widget .cat-dark-bottom ul li p a,

	.sidebar-widget .cat-light-top,

	.sidebar-widget .cat-light-bottom ul li p a,

	.footer-widget .cat-light-bottom ul li p a,

	ul.latest-comments,

	.archive-text,

	#author-text {

		width: 300px;

		}



	.home-widget .cat-dark-byline {

		font: 400 14px/14px 'Alegreya', serif;

		}



	.home-widget .category-light h2 a,

	.sidebar-widget .category-light h2 a,

	.footer-widget .category-light h2 a {

		font-size: 17px;

		}



	.home-widget .cat-light-bottom {

		margin: 0 0 -10px -10px;

		padding: 10px;

		width: 300px;

		}



	span.home-widget-header,

	span.sidebar-widget-header {

		margin: -10px 0 7px -10px;

		width: 320px;

		}



	h3.sidebar-widget-header,

	h3.home-widget-header {

		margin-left: 10px;

		}



	ul.tabber-widget {

		margin: -10px 0 0 -10px;

		padding: 0 10px 10px;

		width: 300px;

		}



	.tabber-container {

		margin-bottom: 10px;

		}



	h1.headline,

	h1.headline-page {

		font-size: 26px;

		}



	h3.cat-header {

		font-size: 30px;

		}



	#social-box {

		padding: 0 10px 8px;

		width: 300px;

		}



	.fb-like span {

		overflow: hidden !important;

		width: 90px !important;

		margin-right: -375px;

		}



	span.twitter-byline {

		margin: 5px 0 0 0;

		}



	#footer-top,

	#content-area,

	#related-posts,

	#archive-wrapper {

		padding: 20px 10px;

		width: 300px;

		}



	#related-posts ul li {

		margin: 0 0 10px 0;

		width: 300px;

		}



	ol.commentlist,

	#respond form {

		padding: 0 10px 20px;

		width: 300px;

		}



	#comments .commentmeta {

		margin: 0;

		}



	#sidebar-wrapper {

		border-top: 1px dotted #ccc;

		}



	li.footer-widget {

		border-left: none;

		margin: 0 0 20px 0;

		padding-left: 0;

		}



	li.footer-widget:first-child {

		margin-left: 0;

		}



	#footer-bottom p,

	#footer-bottom ul {

		margin-right: 0;

		max-width: 300px;

		width: 300px;

		}



	#footer-bottom ul {

		float: left;

		margin-top: 10px;

		}



	}



@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),

only screen and (-moz-min-device-pixel-ratio: 1.5),

only screen and (-o-min-device-pixel-ratio: 3/2),

only screen and (min-device-pixel-ratio: 1.5) {

	.fb-but,

	.fb-but:hover,

	.twitter-but,

	.twitter-but:hover,

	.pinterest-but,

	.pinterest-but:hover,

	.google-but,

	.google-but:hover,

	.youtube-but,

	.youtube-but:hover,

	.linkedin-but,

	.linkedin-but:hover,

	.rss-but,

	.rss-but:hover,

	.instagram-but,

	.instagram-but:hover {

		background-image: url(images/social-buttons@2x.png);

		background-size: 264px 60px;

  		}



	span.twitter-byline {

		background-image: url(images/twitter@2x.png);

		background-size: 12px 10px;

		}



	}
