#animation-content {
	display: none;
}
#animation{
	overflow:hidden;
	width:509px;
	height:376px;
	/* border:1px solid gray; */
	box-shadow: 3px 1px 9px 1px rgba(0, 0, 0, 0.25);
	text-align:center;

}
#animation h1{
	line-height:94px;
	margin-bottom:0;
	font-weight:bold;
	position:relative;
}
#redbox{
	margin:20px;
	margin-bottom:0px;
	border:5px solid white;
}
#redbox h1{
	line-height:80px;
}
#x{
	position:relative;
	display: none;
	margin-top: -240px;
	width: 459px;
	height: 240px;
	background-size:100% 100%;
	background-image:url(../images/x.gif);
	background-position:center;
}
#guardian{
	display: none;
	overflow:hidden;
	position:relative;
	border: 3px solid grey;
	width: 456px;
	height: 294px;
	margin: 20px auto 12px;
	background-image: url(../images/guardian_sprite.gif);
}
#guardian_mainContent{
	display: block;
	position: absolute;
	top: 15px;
	left: 0px;
}
#guardian_mainContent .lad{
	position: relative;
	display: block;
	height: 60px;
	background-image: url(../images/guardian_sprite.gif);
	background-position: 0 -624px;
	overflow:hidden;
	width: 456px;
	top: 0;
}
#guardian_mainContent .body{
	background-image: url(../images/guardian_sprite.gif);
	background-repeat: no-repeat;
	background-position: 0px -294px;
	height: 270px;
	width: 456px;
}
#guardian_sidebar{
	position:absolute;
	right:82px;
	width:146px;
	top:100px;
}
#guardian_sidebar .lad{
	height: 121px;
	width: 146px;
	background-image: url(../images/guardian_sprite.gif);
	background-repeat: no-repeat;
	background-position: -164px -684px;
	position: relative;
	top: 0;

}
#guardian_sideMole_x {
	width: 146px;
	height: 121px;
	overflow: hidden;
	background-image: url(../images/guardian_sprite.gif);
	background-repeat: no-repeat;
	background-position: -310px -684px;
	display: none;
	position: relative;
	top: 0;
}
#guardian_sidebar .body{
	display: block;
	background-image: url(../images/guardian_sprite.gif);
	background-repeat: no-repeat;
	background-position: -310px -805px;
	width: 146px;
	height: 170px;
	position: relative;
	top: 0;
}
.guardian_with{
	color:#4363a2;
}
#guardian_topMole_x {
	overflow: hidden;
	width: 456px;
	height: 60px;
	background-image: url(../images/guardian_sprite.gif);
	background-repeat: no-repeat;
	background-position: 0 -564px;
	display: none;
}
#facebook{
	display: none;
	overflow:hidden;
	position:relative;
	border: 3px solid grey;
	width: 456px;
	height: 294px;
	margin: 20px auto 12px;
	background-image: url(../images/facebook_sprite.gif);
}
#facebook_mainContent{
	display: block;
	position: absolute;
	top: 53px;
	left: 91px;
	/*
	background-image: url(../images/facebook_sprite.gif);
	overflow:hidden;
	width: 243px;
	height: 333px;
	background-image: 0 -459px;
	*/
}
#facebook_mainContent .lad{
	position: relative;
	display: block;
	height: 165px;
	width: 236px;
	top: 0;
	background-image: url(../images/facebook_sprite.gif);
	overflow:hidden;
	background-position: 0px -294px;
}
#facebook_mainMole_x {
	width: 236px;
	height: 165px;
	background-image: url(../images/facebook_sprite.gif);
	overflow:hidden;
	background-position: 0px -792px;
	display: none;
}
#facebook_mainContent .body{
	position: relative;
	top: 0;
	background-image: url(../images/facebook_sprite.gif);
	overflow:hidden;
	width: 243px;
	height: 333px;
	background-position: 0px -459px;
}
#facebook_sidebar{
	position:absolute;
	right:0px;
	width:119px;
	top:50px;
}
#facebook_sidebar .lad{
	height: 244px;
	width: 119px;
	background-image: url(../images/facebook_sprite.gif);
	overflow:hidden;
	background-position: -243px -294px;
	position: relative;
	top: 0;

}
#facebook_sideMoles_x{
	height: 244px;
	width: 119px;
	background-image: url(../images/facebook_sprite.gif);
	overflow:hidden;
	background-position: -243px -578px;
	position: relative;
	top: 0;
	display: none;
}
#facebook_sidebar .body{
	display: block;
	background-image: url(../images/facebook_sprite.gif);
	overflow:hidden;
	background-position: -243px -294px;
	width: 109px;
	height: 40px;
	position: relative;
	top: 0;
}
.facebook_with{
	color:#4363a2;
}

#youtube{
	display: none;
	overflow:hidden;
	position:relative;
	border: 3px solid grey;
	width: 456px;
	height: 294px;
	margin: 20px auto 12px;
	background-image: url(../images/youtube_sprite.gif);
}
#youtube_mainContent{
	display: block;
	position: absolute;
	top: 21px;
	left: 61px;
}
#youtube_mainContent .lad{
	height: 130px;
	width: 214px;
	background-image: url(../images/youtube_sprite.gif);
	background-position: 0px -295px;
	overflow: hidden;
}
#youtube_videoad_x{
	height: 130px;
	width: 214px;
	background-image: url(../images/youtube_sprite.gif);
	background-position: 0px -425px;
	overflow: hidden;
	display: none;
}
#youtube_sidebar{
	position:absolute;
	left:280px;
	width:131px;
	top:21px;
}
#youtube_sidebar .lad{
	height: 88px;
	width: 101px;
	background-image: url(../images/youtube_sprite.gif);
	background-position: -355px -295px;
	overflow: hidden;
}
#youtube_sideMole_x {
	height: 88px;
	width: 101px;
	background-image: url(../images/youtube_sprite.gif);
	background-position: -355px -383px;
	overflow: hidden;
	display: none;
}
#youtube_sidebar .body{
	width: 131px;
	height: 293px;
	background-image: url(../images/youtube_sprite.gif);
	background-position: -214px -295px;
	overflow: hidden;
}
.youtube_with{
	color:#4363a2;
}
#logos{
	position:relative;
	display: block;
	height: 330px;
}
.logo_sprite_container{
	display: block;
    margin: 5px;
    background-size: contain; 
    position: absolute;
    background-repeat:no-repeat;
    background-position:center; 
    width: 84px !important;
    height: 64px !important;
    overflow: hidden;
}
.logo_sprite_container img {
	position: absolute;
	max-width: 509px !important;
	max-height: auto !important;
	width: 509px !important;
	height: 376px !important;
}
#logo_1 {
	top: 0;
	left: 0;
}
#logo_2 {
	top: 0;
	left: -84px;
}
#logo_3 {
	top: 0;
	left: -168px;
}
#logo_4 {
	top: 0;
	left: -252px;
}
#logo_5 {
	top: 0;
	left: -336px;
}
#logo_6 {
	top: 0;
	left: -420px;
}

#logo_7 {
	top: -64px;
	left: 0;
}
#logo_8 {
	top: -64px;
	left: -84px;
}
#logo_9 {
	top: -64px;
	left: -168px;
}
#logo_10 {
	top: -64px;
	left: -252px;
}
#logo_11 {
	top: -64px;
	left: -336px;
}
#logo_12 {
	top: -64px;
	left: -420px;
}

#logo_13 {
	top: -128px;
	left: 0;
}
#logo_14 {
	top: -128px;
	left: -84px;
}
#logo_15 {
	top: -128px;
	left: -168px;
}
#logo_16 {
	top: -128px;
	left: -252px;
}
#logo_17 {
	top: -128px;
	left: -336px;
}
#logo_18 {
	top: -128px;
	left: -420px;
}

#logo_19 {
	top: -192px;
	left: 0;
}
#logo_20 {
	top: -192px;
	left: -84px;
}
#logo_21 {
	top: -192px;
	left: -168px;
}
#logo_22 {
	top: -192px;
	left: -252px;
}
#logo_23 {
	top: -192px;
	left: -336px;
}
#logo_24 {
	top: -192px;
	left: -420px;
}


#logo_25 {
	top: -256px;
	left: 0;
}
#logo_26 {
	top: -256px;
	left: -84px;
}
#logo_27 {
	top: -256px;
	left: -168px;
}
#logo_28 {
	top: -256px;
	left: -252px;
}
#logo_29 {
	top: -256px;
	left: -336px;
}
#logo_30 {
	top: -256px;
	left: -420px;
}

.h2black{
	color:#000;
}
#getNow{
	margin-top: 287px;
	left:500px;
	text-align: left;
	padding-left: 10px;
}
#replay{
	position: absolute;
	text-align: right;
	color: #000;
	margin-top: 20px;
	right: 30px;
	font-size: 16px;
	display:none;
	cursor: pointer;
}
#replay img{
	height: 14px;
	width:25px;
	margin-top: -4px;
}
#play_pause {
	height: 40px;
	width: 41px;
	overflow: hidden;
	background-image: url(../images/pause_play_stop.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.paused {
	background-position: -50px 0 !important;
}
