﻿/* Full Banner Brands */

.embedded-brands {
	position: relative;
	height: 341px;
	font-family: 'UOLText';
	background-image: url(https://stc.pagseguro.uol.com.br/publisher/online/images/0c/2016/06/08/alessandra-negrini-moderninha-wifi-1465419343702_1324x341.png), url(https://stc.pagseguro.uol.com.br/publisher/online/images/96/2016/06/08/bg-home-1465419417426_1496x341.jpg);
	background-position: center center, center center;
	background-repeat: no-repeat, no-repeat;
	overflow: hidden;
}

.price-banner {
	min-width: 95px;
	margin: 223px 0 0 50px;
	float: left;
	text-align: center;
	color: #fff;
}

.price-banner .txt-installment,
.price-banner .txt-full-price {
	color: #fbe994;
}

.price-banner .txt-installment {
	display: block;
	font-size: 1.4em;
}

.price-banner .installment-price {
	margin-bottom: 8px;
	line-height: 28px;
	font-size: 3.9em;
	font-weight: normal;
}

.price-banner .installment-price strong {
	vertical-align: sub;
}

.price-banner .symbol {
	font-size: 0.410em;
	/* 16/39 */
}

.price-banner .cents {
	font-size: 0.461em;
	/* 18/39 */
}

.price-banner .txt-full-price,
.price-banner .full-price {
	font-weight: 700;
}

.price-banner .txt-full-price {
	font-size: 1.1em;
	/* 11/10 */
}

.price-banner .full-price {
	font-size: 1em;
	/* 10/10 */
}


/* Brands */

.brands-wrapper {
	display: -webkit-flex;
	display: flex;
	padding-bottom: 5px;
	margin: 10px 0 0 194px;
}

.brands-list {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-align-content: center;
	align-content: center;
}

.brands-voucher {
	margin-left: 20px;
}

.brands-credit {
	margin-left: 30px;
}

.brands-list .brand-title {
	position: relative;
	margin-bottom: 4px;
	display: block;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #ce6a00;
}

.launch-brands .brands-list .brand-title {
	color: #3d5152;
}

.brands-list .brand-title:after {
	content: attr(data-text);
	z-index: 1;
	position: relative;
	background: #f8c54d;
	display: inline-block;
	padding: 0 3px;
}

.launch-brands .brands-list .brand-title:after {
	background: #84c273;
}

.brands-list .brand-title:before {
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	background-color: #e88b28;
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 0;
}

.brands-list .brand-item {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 3px 0 0 #bbbbbb;
	float: left;
	height: 41px;
	margin-left: 8px;
	text-align: center;
	width: 60px;
}

.brands-list .brand-item:first-of-type {
	margin: 0;
}

.brands-list .brand-item i[class^="ps-sprite"] {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-align-content: center;
	align-content: center;
}

.brand-item .ps-sprite-brands-ticket:before {
	transform: scale(0.8);
}

.target-pass {
	text-align: right;
	font-size: 1.205em;
	font-weight: 700;
	text-transform: uppercase;
	color: #964100;
	line-height: 1.1;
	align-self: center;
	margin-top: 20px;
	margin-right: 10px;
}


/* Content Default */

.content-default {
	margin: 0px 0 0 280px;
}

.buy-wrapper,
.prepaid-wrapper {
	display: inline-block;
}

.prepaid-wrapper {
	margin: 15px 0 0;
}

.buy-wrapper {
	width: 487px;
	vertical-align: top;
	text-align: center;
}

.buy-wrapper h2 {
	margin-top: 6px;
	font-size: 2.3em;
	/* 23/10 */
	font-weight: 200;
	line-height: 1.3;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.buy-wrapper h2 strong {
	font-size: 1.130em;
	/* 26/23 */
	font-weight: 800;
}

.buy-wrapper .pagseguro-button {
	margin-top: 3px;
	padding: 9px 60px !important;
	border: 2px solid #7f4ea1;
	background-image: -moz-linear-gradient( -90deg, rgb(149, 86, 163) 0%, rgb(127, 78, 161) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(149, 86, 163) 0%, rgb(127, 78, 161) 100%);
	background-image: -ms-linear-gradient( -90deg, rgb(149, 86, 163) 0%, rgb(127, 78, 161) 100%);
}

.buy-wrapper p {
	margin-top: 10px;
	font-family: Arial;
	font-size: 1em;
	/* 10/10 */
	color: #3e3e3e;
	opacity: 0.78;
}

.prepaid-info {
	position: relative;
	width: 219px;
	min-height: 225px;
	padding: 14px 14px 0;
	background-color: rgba(255, 255, 255, 0.588);
	border: 1px dashed #d96f14;
	border-radius: 3px;
	box-shadow: 0 5px 0 0 rgba(219, 117, 21, 0.192);
	box-sizing: border-box;
}

.embedded-flag {
	width: 73px;
	height: 81px;
	position: absolute;
	top: 7px;
	right: -15px;
	background: url(https://stc.pagseguro.uol.com.br/publisher/online/images/b7/2016/06/08/embedded-flag-1465419616531_73x81.png) 0 0 no-repeat;
}

.prepaid-info .txt-info,
.prepaid-info .embedded-benefits li {
	margin-bottom: 7px;
	font-size: 1em;
	/* 10/10 */
	line-height: 1.4;
	text-transform: uppercase;
	font-weight: 700;
}

.prepaid-info .txt-free-prepaid,
.prepaid-info .embedded-benefits li {
	font-weight: 400;
}

.prepaid-info .txt-free-prepaid {
	margin-top: 7px;
}

.prepaid-info .txt-orange {
	color: #d66512;
}

.prepaid-info .txt-purple {
	color: #804ea1;
}

.prepaid-info .embedded-benefits {
	list-style-type: square;
}

.prepaid-info .embedded-benefits li {
	margin-left: 13px;
}

.prepaid-info img {
	/*! width: 68px; */
	/*! height: 42px; */
	margin-right: 7px;
	margin-top: 0px;
	float: left;
}


/* Soluções de Venda */

.sells-solutions .wrapper {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	padding-bottom: 30px;
}

.sells-solutions .title,
.sells-solutions .subtitle {
	margin-bottom: 20px;
}

.sells-solutions .title {
	font-family: UOLtext;
	color: #666666;
	font-size: 32px;
	font-weight: 700;
	text-align: left;
}

.sells-solutions .subtitle {
	font-family: UOLtext;
	color: rgba(51, 51, 51, 0.6);
	font-size: 23px;
	font-weight: 300;
	line-height: 30px;
	text-align: left;
}

.sells-solutions figure {
	width: 470px;
	text-align: center;
}

.sells-solutions aside {
	width: 520px;
}

.sells-solutions [class^="ps-icon-"]:before {
	font-size: 35px;
	color: #989898;
}

.sells-solutions .ps-icon-thin-cart {
	margin-left: 10px;
}

.sells-solutions .ps-icon-thin-check:before,
.sells-solutions .ps-icon-thin-mail:before {
	font-size: 25px;
}

.sells-solutions-list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	width: auto;
	overflow: hidden;
	min-width: 990px;
	max-width: 990px;
	margin: 0 auto;
	padding: 30px 10px;
	background: #fff;
}

.sells-solutions-list li {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;
}

.sells-solutions-list a {
	font-family: UOLtext;
	color: #1082be;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	transform: scaleX(1.0005);
	margin-top: 10px;
}

.sells-solutions.free-trial .wrapper {
	padding-top: 50px;
}

.shadow-bottom:after,
.shadow-top:after {
	position: absolute;
	content: "";
	top: -10px;
	left: 0;
	width: 100%;
	height: 20px;
	background: radial-gradient(black 10px, white 600px);
	opacity: .1;
}

.shadow-bottom:after {
	top: auto;
	bottom: -10px;
}


/* =============================================================
 *    General
 * =============================================================*/

.ribbon {
	background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.13) 0%, rgba(56, 136, 89, 0.13) 100%);
	background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.13) 0%, rgba(56, 136, 89, 0.13) 100%);
	background: -o-linear-gradient(90deg, rgba(255, 255, 255, 0.13) 0%, rgba(56, 136, 89, 0.13) 100%);
	background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0.13) 0%, rgba(56, 136, 89, 0.13) 100%);
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.13) 0%, rgba(56, 136, 89, 0.13) 100%);
	box-sizing: border-box;
	font-family: "UOLText";
	height: 60px;
	overflow: hidden;
}

.ribbon .wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	height: 60px;
}

.ribbon .ribbon-item {
	margin: 0;
	font-size: 1em;
}

.ribbon .info {
	max-width: 260px;
	color: #4A8A37;
}

.ribbon .info h2,
.ribbon .info h3 {
	float: left;
}

.ribbon .info h2,
.ribbon .phone strong {
	font-size: 2.0em;
	font-weight: 500;
	margin: 0;
}

.ribbon .list {
	padding: 5px 0;
}

.ribbon .info h3,
.ribbon .phone span {
	padding: 5px 0 0;
}

.ribbon .info h3,
.ribbon .phone span,
.ribbon .list li {
	font-size: 1.1em;
	font-weight: 500;
}

.ribbon .phone span {
	display: block;
}

.ribbon .info i {
	float: left;
	height: 33px;
	line-height: 40px;
	margin-right: 8px;
	margin-top: 5px;
	text-align: center;
	width: 33px;
	background-image: url(https://stc.pagseguro.uol.com.br/publisher/online/images/73/2016/02/01/telefone-1454360959720_42x42.png);
	background-size: 32px 32px;
	background-repeat: no-repeat;
}

.ribbon .info i:before {
	font-size: 25px;
	margin-right: 0;
}

.ribbon .phone {
	color: #999;
}

.ribbon .list li i {
	color: #468534;
	font-size: 10px;
	margin-right: 10px;
}

.ribbon .list li:nth-child(1) {
	margin-bottom: 8px;
}

.mp-section> .wrapper,
.mw-section> .wrapper {
	overflow: visible;
	position: relative;
}

.mp-section .price-banner,
.mw-section .price-banner,
.d180-section .price-banner {
	color: #fff;
	float: left;
	left: 151px;
	min-width: 95px;
	margin: 203px 0 0 50px;
	position: absolute;
	text-align: center;
}

.mp-section+ .ribbon .link,
.mw-section+ .ribbon .link,
.d180-section+ .ribbon .link {
	color: #1082BE;
	font-size: 12px;
	line-height: 18px;
}


/* =============================================================
 *    Moderninha Pro
 * =============================================================*/

.mp-section.embedded-brands {
	background-image: url(https://stc.pagseguro.uol.com.br/publisher/online/images/59/2016/10/17/alessandra-bg-home-apng-1476727221901_1496x343.png), url(https://stc.pagseguro.uol.com.br/publisher/online/images/c4/2016/09/19/bg-pro-1503x341-1474317110968_1503x341.jpg);
}

.mp-section .content-default {
	text-align: right;
}

.mp-section .subtitle {
	margin: 15px 0 20px 0;
}

.mp-section .buy-wrapper {
	padding-top: 25px;
	width: 410px;
}

.mp-section .brands-list .brand-title::after {
	background-color: #DFDFDB;
}

.mp-section .target-pass,
.mp-section .brand-title {
	color: #33322F;
}

.mp-section .brand-title {
	font-size: 9px;
}

.mp-section .brand-title:before {
	background-color: #ACABAA;
}

.mp-section .pagseguro-button {
	background-image: -webkit-linear-gradient(transparent 20%, rgba(0, 0, 0, 0.1));
	background-image: -moz-linear-gradient(transparent 20%, rgba(0, 0, 0, 0.1));
	background-image: -o-linear-gradient(transparent 20%, rgba(0, 0, 0, 0.1));
	background-image: linear-gradient(transparent 20%, rgba(0, 0, 0, 0.1));
	border: 2px solid #70AE5C;
}

.mp-section .prepaid-wrapper {
	color: #666;
	margin-top: 0;
	text-align: left;
	text-transform: uppercase;
}

.mp-section .prepaid-info {
	background: #fafafa;
	border-color: #9B9B9B;
	box-shadow: 0 5px 0 0 #CBCBCB;
	color: #982423;
	margin-bottom: 10px;
	min-height: 75px;
	padding-left: 20px;
	width: 250px;
}

.mp-section .txt-info+ .txt-info {
	color: #B75C4C;
}

.mp-section .embedded-flag {
	background-image: url(https://stc.pagseguro.uol.com.br/publisher/online/images/64/2016/09/19/flag-6-months-59x66-1474316714648_59x66.png?1474316720358);
	width: 59px;
	height: 66px;
	right: -8px;
}

.mp-section .embedded-benefits {
	list-style: square;
	margin: 0 0 5px 15px;
}

.mp-section .benefits-separator {
	/*border: none;
	position: relative;*/
	display: none;
}

.mp-section .txt-benefit-item {
	color: #64BC4C;
	font-size: 1em;
	line-height: 1.5em;
}

.mp-section .benefit-item-text {
	color: #666;
	font-size: 1em;
}

.mp-section .txt-info~ .txt-info {
	font-weight: 700;
}

.mp-section .other-benefits {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	line-height: 12px;
	padding-top: 0px;
}

.mp-section .pagseguro-app {
	color: #982423;
	font-weight: 700;
}

.mp-section .pagseguro-app> img {
	margin-right: 5px;
}


/* Cor de fundo do título "Crédito e Débito" */

.mp-section .brands-list:nth-child(1) .brand-title::after {
	background: -webkit-linear-gradient(170deg, #DEDEDA, #DEDEDA, #CDC9BF, #CDC9BF);
	background: -moz-linear-gradient(170deg, #DEDEDA, #DEDEDA, #CDC9BF, #CDC9BF);
	background: -ms-linear-gradient(170deg, #DEDEDA, #DEDEDA, #CDC9BF, #CDC9BF);
	background: -o-linear-gradient(170deg, #DEDEDA, #DEDEDA, #CDC9BF, #CDC9BF);
	background: linear-gradient(170deg, #DEDEDA, #DEDEDA, #CDC9BF, #CDC9BF);
}


/* Cor de fundo do título "Voucher" */

.mp-section .brands-list:nth-child(2) .brand-title::after {
	background-image: -webkit-linear-gradient(135deg, #D1CDC6, #D9D6CF, #D9D6CF, #D0CAC0);
	background-image: -moz-linear-gradient(135deg, #D1CDC6, #D9D6CF, #D9D6CF, #D0CAC0);
	background-image: -ms-linear-gradient(135deg, #D1CDC6, #D9D6CF, #D9D6CF, #D0CAC0);
	background-image: -o-linear-gradient(135deg, #D1CDC6, #D9D6CF, #D9D6CF, #D0CAC0);
	background-image: linear-gradient(135deg, #D1CDC6, #D9D6CF, #D9D6CF, #D0CAC0);
}


/* =============================================================
 *    Moderninha Wifi
 * =============================================================*/

.mw-section.embedded-brands {
	background-image: url(https://stc.pagseguro.uol.com.br/publisher/online/images/a0/2016/09/19/wifi-1496x343-1474320603256_1496x343.png), url(https://stc.pagseguro.uol.com.br/publisher/online/images/36/2016/09/19/bg-wifi-1525-341-1474317129400_1525x341.jpg);
}

.mw-section .embedded-flag {
	background: url(https://stc.pagseguro.uol.com.br/publisher/online/images/de/2016/09/19/flag-4-months-73x81-1474316263866_73x81.png);
}

.mw-section .brand-item {
	box-shadow: 0 3px 0 0 #E88B28;
	height: 38px;
}

.mw-section .target-pass,
.mw-section .brand-title::after {
	color: #3D3D3D;
}

.mw-section .prepaid-wrapper{
	margin-top: 0;
}

.mw-section .prepaid-info {
	box-shadow: 0 5px 0 0 #E89129;
	min-height: 190px;
}

.mw-section .txt-free-prepaid {
	overflow: hidden;
	/*padding-top: 5px;*/
}

/* =============================================================
 *    D180
 * =============================================================*/

.d180-section {
	background-image: -webkit-linear-gradient(90deg, #52b1a0 0%, #7ec36c 100%);
	background-image: -moz-linear-gradient(90deg, #52b1a0 0%, #7ec36c 100%);
	background-image: -ms-linear-gradient(90deg, #52b1a0 0%, #7ec36c 100%);
	background-image: -o-linear-gradient(90deg, #52b1a0 0%, #7ec36c 100%);
	background-image: linear-gradient(0deg, #52b1a0 0%, #7ec36c 100%);
	font-family: UOLText;
	min-height: 350px;
	position: relative;
}

.d180-section:before {
	background: -webkit-radial-gradient(#FFF 10%, transparent 50%);
	background: -moz-radial-gradient(#FFF 10%, transparent 50%);
	background: -ms-radial-gradient(#FFF 10%, transparent 50%);
	background: -o-radial-gradient(#FFF 10%, transparent 50%);
	background: radial-gradient(#FFF 10%, transparent 50%);
	content: "";
	height: 700px;
	left: calc(50% - 750px);
	opacity: 0.5;
	position: absolute;
	top: -170px;
	width: 700px;
}

.d180-section> .wrapper {
	position: relative;
	background: url(https://stc.pagseguro.uol.com.br/publisher/online/images/dc/2016/09/21/d180-1496x293-1474491947412_1496x293.png) no-repeat -255px 30px;
/*background: url(https://stc.pagseguro.uol.com.br/publisher/online/images/3b/2016/11/04/d180-home-de-para-1478280180494_1496x299.png) no-repeat -246px 37px;*/
}

.d180-section .price-banner {
	left: 0;
	padding-left: 163px;
}

.d180-section .content-default {
	display: -webkit-flex;
	display: flex;
}

.d180-section .brands-wrapper {
	margin-left: 194px;
}

.d180-section .brand-title::after {
	background: #7DC06C;
}

.d180-section .brands-list .brand-item {
	box-shadow: 0 3px 0 0 #68a06f;
	height: 40px;
	width: 60px;
}

.d180-section .brands-list .brand-title::before {
	background-color: #DCEED8;
}

.d180-section .target-pass,
.d180-section .brand-title {
	color: #3D5152;
}

.d180-section .title {
	margin: 15px 0;
	display: block;
	font-family: UOLText;
	font-weight: 700;
	font-size: 32px;
	color: #fff;
	text-align: center;
}

.d180-section .subtitle {
	margin: 10px 0;
}

.d180-section .footnote {
	color: #C7FFE6;
	font-family: Arial, UOLText;
	margin-bottom: 20px;
}

.d180-section .promo-warning {
	font-size: 1.2em;
	margin-bottom: 15px;
}

.d180-section .pagseguro-button {
	border-color: #d87322;
	background: -webkit-linear-gradient(-90deg, #ea982e 0%, #d87222 98%);
	background: -moz-linear-gradient(-90deg, #ea982e 0%, #d87222 98%);
	background: -o-linear-gradient(-90deg, #ea982e 0%, #d87222 98%);
	background: -ms-linear-gradient(-90deg, #ea982e 0%, #d87222 98%);
	background: linear-gradient(180deg, #ea982e 0%, #d87222 98%);
}

.prepaid-wrapper .receive-box,
.d180-section .receive-box {
    color: #01563d;
    font-size: 11px;
    margin-left: 40px;
    margin-top: 15px;
    text-transform: uppercase;
    width: 185px;
}

.prepaid-wrapper .receive-box{
	display: inline-block;
	margin: 8px 0 10px 17px;
}

.mp-section .receive-box{
	margin-left: 35px;
}

.prepaid-wrapper .receive-days,
.d180-section .receive-days {
	background: #c8e6cd;
    border: 1px solid rgba(102, 102, 102, .7);
    border-radius: 5px;
    display: inline-block;
    float: left;
    font-size: 28px;
    font-weight: bold;
    line-height: 25px;
    padding: 3px 0;
    text-align: center;
    width: 40px;
}

.prepaid-wrapper .receive-text-days,
.d180-section .receive-text-days {
    display: block;
    font-size: 10px;
    line-height: 10px;
}

.prepaid-wrapper .receive-text,
.d180-section .receive-text {
    background: #c8e6cd;
    border: 1px dotted #666;
    border-left: 0;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-top: 6px;
    overflow: hidden;
    padding: 3px 5px 3px 9px;
    width: 123px;
}

.mp-section .receive-days,
.mp-section .receive-text{
	background-color: rgba(255, 255, 255, .7);
	color: #c90101;
}

.mw-section .receive-days,
.mw-section .receive-text{
	background-color: rgba(255, 255, 255, 0.588);
	color: #c33d02;
}

.d180-section .info-box {
	border: 1px dotted #666;
	margin-top: 18px;
	padding: 15px 20px 0 15px;
	text-transform: uppercase;
	position: absolute;
	right: 5px;
}

.d180-section .embedded-benefits {
	color: rgba(255, 255, 255, 0.5);
	list-style: disc;
	padding-left: 10px;
	max-width: 150px;
}

.d180-section .embedded-benefit {
	margin-bottom: 10px;
}

.d180-section .txt-free-prepaid,
.d180-section .embedded-benefit-text {
	color: rgba(254, 255, 255, 0.7);
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
}

.d180-section img.prepaid-card {
	float: left;
	margin: 6px 0 20px 0;
}

.d180-section .txt-free-prepaid {
	padding-left: 75px;
}


/* =============================================================
 *    PrePaid Section
 * =============================================================*/

.prepaid-section {
	background: url(https://stc.pagseguro.uol.com.br/publisher/online/images/ed/2016/12/01/prepaid-orange-readers-1480601716157_1496x765.png) no-repeat center top;
	box-sizing: border-box;
	color: #FFF;
	font-family: UOLtext;
	margin-bottom: 35px;
	min-height: 765px;
	padding-top: 80px;
	text-align: center;
}

.prepaid-section .title {
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 13px;
}

.prepaid-section .subtitle {
	font-size: 22px;
	font-weight: 300;
	line-height: 1;
	margin-bottom: 40px;
}

.prepaid-section .benefits {
	-webkit-justify-content: space-between;
	justify-content: space-between;
	display: -webkit-flex;
	display: flex;
	margin: 0 auto;
	max-width: 700px;
	padding: 0 80px 25px 80px;
	text-align: left;
	/* shadowline */
	position: relative;
}

.prepaid-section .ps-icon-check {
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.prepaid-section .ps-icon-check::before {
	color: #FFF600;
	float: left;
	font-size: 21px;
	margin: 10px 14px;
}

.prepaid-section .pagseguro-button {
	width: 192px;
}

.prepaid-section .machines-list {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.prepaid-section .machine-item {
	width: 50%;
	margin: 1px 0;
	text-align: left;
}

.prepaid-section .machine-item:nth-child(2n+1) {
	text-align: right;
}

.prepaid-section .machine-link {
	display: inline-block;
	width: 80px;
	height: 130px;
	margin: 20px;
}

.prepaid-section .machine-link.embedded-pro {
	margin-right: 274px;
	margin-top: 0;
	height: 150px;
}

.prepaid-section .machine-link.embedded-wifi {
	margin-right: 187px;
	margin-top: 60px;
}

.prepaid-section .machine-link.d180,
.prepaid-section .machine-link.card-reader {
	height: 125px;
}

.prepaid-section .machine-link.d180 {
	margin-left: 190px;
	margin-top: 66px;
}

.prepaid-section .machine-link.card-reader {
	margin-left: 245px;
}

.prepaid-section .prepaid-availability {
	margin-top: 5px;
}

.prepaid-section .prepaid-availability-item {
	padding: 0px 0 0;
	margin-top: 12px;
	overflow: hidden;
}


/* =============================================================
 *    MP - Vídeo
 * =============================================================*/

.mpvideo-section {
	background: -webkit-linear-gradient(0deg, #E1E1E1 0%, #C5C5C5 100%);
	background: -moz-linear-gradient(0deg, #E1E1E1 0%, #C5C5C5 100%);
	background: -o-linear-gradient(0deg, #E1E1E1 0%, #C5C5C5 100%);
	background: -ms-linear-gradient(0deg, #E1E1E1 0%, #C5C5C5 100%);
	background: linear-gradient(90deg, #E1E1E1 0%, #C5C5C5 100%);
	overflow: hidden;
}

.mpvideo-title {
	font-size: 36px;
	line-height: 1;
	margin-top: 87px;
	padding-left: 16px;
	text-align: center;
}

.mpvideo-wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	margin-bottom: 85px;
	width: 617px;
}

.video-section-double .mpvideo-wrapper {
	width: 946px;
}

.mpvideo-item {
	/*margin-top: 30px;*/
	margin-top: 0;
}

.mpvideo-wrapper> img {
	margin-left: 13px;
}

.videos-container {
	width: 946px;
	margin: 0 auto;
	padding-left: 40px;
}

.video-buttom-container {
	margin-bottom: 60px;
	margin-top: 30px;
	text-align: center;
}

.video-buttom-container a {
	margin-left: 55px;
	width: 257px;
}

/* Banner Minizinha
   ========================================================================== */
.d150-banner {
	position: relative;
	height: 341px;
	font-family: UOLText;
	background: url(https://stc.pagseguro.uol.com.br/publisher/online/images/c4/2016/12/13/minizinha-leitor-de-cartao-para-celular-1481652815685_208x261.png) no-repeat calc(50% - 370px) 50px,radial-gradient(circle,rgba(255,255,255,.62) 0,transparent 26%) -355px 0 no-repeat,linear-gradient(to right,#fcc66d 0,#f6846d 100%)
}

.d150-banner.seal-3years:after {
	position: absolute;
	content: "";
	width: 80px;
	height: 80px;
	background: url(https://stc.pagseguro.uol.com.br/publisher/online/images/63/2016/12/13/seal-3years-1481652733200_80x80.png) no-repeat;
	bottom: 5px;
	left: 50%;
	margin-left: -357px
}

.d150-banner .wrapper {
	position: relative;
	height: 100%;
	box-sizing: border-box;
	overflow: visible
}

.d150-banner .price-banner {
	bottom: 20px;
	left: 195px;
	background: -webkit-linear-gradient(#fb5959 0,#ca1130 97%);
	background: -o-linear-gradient(#fb5959 0,#ca1130 97%);
	background: linear-gradient(#fb5959 0,#ca1130 97%)
}

.d150-banner .brands-wrapper {
	position: absolute;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
}

.d150-banner .price-banner {
	width: 117px;
	height: 117px;
	margin: 0;
	position: absolute;
	text-align: center;
	color: #fff;
	border-radius: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.d150-banner .price-banner .txt-full-price,
.d150-banner .price-banner .txt-installment {
	color: #fbe994
}

.d150-banner .price-banner .txt-installment {
	display: block;
	font-size: 1.4em
}

.d150-banner .price-banner .installment-price {
	margin-bottom: 8px;
	line-height: 20px;
	font-size: 3.9em;
	font-weight: 400
}

.d150-banner .price-banner .installment-price strong {
	vertical-align: sub
}

.d150-banner .price-banner .symbol {
	font-size: .41em
}

.d150-banner .price-banner .cents {
	font-size: .461em
}

.d150-banner .price-banner .full-price,
.d150-banner .price-banner .txt-full-price {
	font-weight: 700
}

.d150-banner .price-banner .txt-full-price {
	font-size: 1.1em
}

.d150-banner .price-banner .full-price {
	font-size: 1em
}

.d150-banner .brands-wrapper {
	display: flex;
	padding-bottom: 5px;
	padding-top: 12px
}

.d150-banner .without-credit-brands .brands-wrapper {
	margin: 23px 0 0 412px
}

.d150-banner .brands-list {
	display: flex;
	align-items: center;
	align-content: center
}

.d150-banner .brands-voucher {
	margin-left: 20px
}

.d150-banner .brands-credit {
	margin-left: 30px
}

.d150-banner .brands-list .brand-title {
	position: relative;
	margin-bottom: 4px;
	display: block;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #000;
	opacity: .7
}

.d150-banner .brands-list .brand-title:after {
	content: attr(data-text);
	z-index: 1;
	position: relative;
	background: #f9A66D;
	display: inline-block;
	padding: 0 3px
}

.d150-banner .brands-list .brand-title:before {
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	background-color: #FFF;
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 0
}

.d150-banner .brands-list .brand-item {
	width: 60px;
	height: 43px;
	margin-left: 11px;
	float: left;
	text-align: center;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 3px 0 0 #bbbbbb
}

.d150-banner .without-credit-brands .brands-list .brand-item {
	margin-left: 20px
}

.d150-banner .brands-list .brand-item:first-of-type {
	margin: 0
}

.d150-banner .brands-list .brand-item i[class^=ps-sprite] {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center
}

.d150-banner .brand-item .ps-sprite-brands-ticket:before {
	transform: scale(.8)
}

.d150-banner .target-pass {
	text-align: right;
	font-size: 1.205em;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	line-height: 1.1;
	align-self: center;
	margin-top: 20px;
	margin-right: 10px
}

.d150-banner .highlights-wrapper {
	width: 180px;
	text-transform: uppercase;
	border: thin dotted #380008;
	padding: 10px 10px 15px 12px
}

.d150-banner .highlights-wrapper .highlights-benefits {
	color: #380008;
	opacity: .8;
	font-size: 1.2em;
	list-style: disc;
	list-style-position: outside;
	max-width: 150px;
	padding-left: 10px;
	white-space: normal
}

.d150-banner .highlights-benefits .item-benefits {
	margin: 9px 10px 9px 0
}

.d150-banner .highlights-wrapper footer {
	display: flex;
	align-items: flex-start;
	margin-top: 15px
}

.d150-banner .highlights-wrapper img {
	margin-right: 10px
}

.d150-banner .highlights-wrapper .txt-free-prepaid {
	font-size: 1.1em;
	line-height: 14px;
	text-transform: uppercase;
	color: #380008;
	opacity: .8
}

.d150-banner .content-wrapper {
	position: absolute;
	left: 255px;
	width: 487px;
	text-align: center;
	top: 96px
}

.d150-banner .content-wrapper h1 {
	margin: 15px 0;
	font-size: 2.3em;
	font-weight: 200;
	line-height: 1.3;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.d150-banner .content-wrapper h2 strong {
	font-size: 1.13em;
	font-weight: 800
}

.d150-banner .content-wrapper .pagseguro-button {
	margin-top: 3px;
	width: 258px;
	background: -webkit-linear-gradient(#fb5959 0,#ca1130 97%);
	background: -o-linear-gradient(#fb5959 0,#ca1130 97%);
	background: linear-gradient(#fb5959 0,#ca1130 97%);
	border-color: #ce1733
}

.d150-banner .content-wrapper p {
	margin-top: 10px;
	font-family: Arial;
	font-size: 1em;
	color: #FFF
}

.d150-banner + .ribbon .link {
	color: #1082BE;
	font-size: 12px;
	line-height: 18px;
}

.d150-banner .info-wrapper {
	position: absolute;
	right: 0;
	bottom: 35px;
}

.d150-banner .receive-box {
	color: #cf0202;
	font-size: 11px;
	text-transform: uppercase;
	width: 185px;
	margin-bottom: 23px;
}

.d150-banner .receive-days {
	background: #fbd4c7;
	border: 1px solid rgba(102, 102, 102, .7);
	border-radius: 5px;
	display: inline-block;
	float: left;
	font-size: 28px;
	font-weight: bold;
	line-height: 25px;
	padding: 3px 0;
	text-align: center;
	width: 40px;
}

.d150-banner .receive-text-days {
	display: block;
	font-size: 10px;
	line-height: 10px;
}

.d150-banner .receive-text {
	background: #fbd4c7;
	border: 1px dotted #666;
	border-left: 0;
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	margin-top: 6px;
	overflow: hidden;
	padding: 3px 5px 3px 9px;
	width: 123px;
}
