@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) stylesheet for screen layout
 * (de) Stylesheet für das Bildschirm-Layout
 *
 * @creator       YAML Builder V1.2 (http://builder.yaml.de)
 * @file          basemod.css
 * @-yaml-minver  3.2
 */
@import url("message.css");
@media screen, projection
{
  /** 
   * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera 
   * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera 
   *
   * @workaround
   * @affected IE8, FF, Webkit, Opera
   * @css-for all
   * @valid CSS3
   */

  body { overflow-y: scroll; background:none repeat scroll 0 0 #EBEBEB; }

  /*-------------------------------------------------------------------------*/

  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  body { padding: 5px; }

  /* Layout Alignment | Layout-Ausrichtung */
  .page_margins { margin: 0 auto; }

  /* Layout Properties | Layout-Eigenschaften */
  .page_margins {  -moz-border-radius:15px;  width: auto;  min-width: 940px; max-width: 90em; background: #fff; }
  
  a.imgloadlink {
	color: black;
	margin-left: 1.2em;
  }
  
  a.imgloadlink:visited {
	color: black;
  }
  
  #over_header {
	position: absolute;
	left:auto;
	top: 5px;
	background: none;
	width: 98%;
  }
  #login_info {
	margin-left: 4em;
	font-size: 88%;
  }
  #languagemenu {
	float: right;
	margin-right: 4em;
	font-size: 88%;
  }
  #languagemenu a {
	text-decoration: none;
	color: black;
	padding-left: 17px;
	margin-left: .6em;
  }  
  #languagemenu a.inactivelanguage {
	color: #666; 
    filter:alpha(opacity=40);  
    -moz-opacity:0.4;
	opacity:0.4; 
  }
  #languagemenu a.inactivelanguage:hover { 
    color: black;
	filter:alpha(opacity=100);  
    -moz-opacity:1;
	opacity:1; 
  }
  #language_fr {
	background: left no-repeat url(../../images/ebesucher/flags14px/flag_fr.png);
  }
  #language_es {
	background: left no-repeat url(../../images/ebesucher/flags14px/flag_es.png);
  }
  #language_de {
	background: left no-repeat url(../../images/ebesucher/flags14px/flag_de.gif);
  }
  #language_en {
	background: left no-repeat url(../../images/ebesucher/flags14px/flag_en.gif);
  }
  #language_ru {
	background: left no-repeat url(../../images/ebesucher/flags14px/flag_ru.png);
  }
  
  #header {
	padding: 0em 0em 0em 0px;
	color: #000;
	background: #fff url(../../images/ebesucher/Header_mitte_1pixel.png) repeat;
	width: 99%;
	position: absolute;
	left:auto;
	top: 25px;
	height: 168px;
	text-align: center;
  }
  
  #header_links {
	position: absolute; left: 0px; width: 299px; height: 168px; background: #EBEBEB url(../../images/ebesucher/Header_links.png);
  }
  #header_rechts {
	position: absolute; right: 0px; width: 299px; height: 168px; background: #EBEBEB url(../../images/ebesucher/Header_rechts.png);
  }
  #header_logo {
	width: 100%; text-align: center; position: absolute; left: 0px; top: 2px;
  }
  #header_logo img {
	margin: auto;
  }
  
  #nav_links {
	background: url(../../images/ebesucher/Navigation_links.png);
	margin-top: 3px;
	width: 97px;
	height: 80px;
	float: left;
  }
  #nav_rechts {
	background: url(../../images/ebesucher/Navigation_rechts.png);
	background-position: -7px 0px;
	margin-top: 3px;
	width: 97px;
	height: 80px;
	float: right;
  }
  #nav_sub {
	/*width: 100%;*/
	white-space: nowrap;
	height: 28px;
	padding-top: 5px;
	background: url(../../images/ebesucher/Navigation_klein_1pixel.png);
	overflow: visible;
	margin: auto;
	text-align: center;
  }
  
  #topnav { position:static; color: #aaa; background: transparent; }
  #nav { /*overflow:hidden;*/
		  margin-bottom: 2em;
		  width: 100%;
		  position: absolute;
		  left: 0px;
		  top: 84px;
		  text-align: center;
  }
  div.hlist {  }
  
  #contentwrap {
	margin-top: 200px;
	-moz-border-radius:15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
  }
  
  #registerbutton, .helpbutton {
	display: block;
	margin: 2em;
	padding-top: .6em;
	padding-bottom: .6em;
  }
  
  .helpbutton {
	min-width: 15em;
  }
  
  #werbung {
	/*width: 100%;*/
	/*max-width: 90em;
    min-width: 940px;*/
	width: 100%;
	margin: auto;
	text-align: center;
	margin-top: 1em; 
  }
  
  #werbung * {
	margin: auto;
  }
  .mainfeaturediv {
	width: 30%;
	text-align: center;
	float: left;
	border: 1px solid gainsboro;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	padding: 0.5em;
	margin-left: 1em;
  }
  #mainfeatures, .mainfeatures {
	text-align: left;
	
	vertical-align: top;
	margin: 4px;
	padding-left: 2em;
	list-style-image: url(/images/bullet.png);
  }
  
  #main {  text-align: justify; margin: 10px 0; margin-top: 1em; }
  
  #footer {
	padding: 10px 20px;
	color:#666;
	font-size: 88%;
	border-top: 2px #efefef solid;
	text-align: left;
  }
  #footer a {
	margin-left: 0.5em;
	color:#666;
	text-decoration: none;
	font-weight: normal;
  }
  #footer a:hover {
	color: black;
	text-decoration: underline;
  }
  #footerlinks {
	float: right;
  }
  
  .sf-menu li.current > a {
	font-weight: bold;
	color:#333333;
  }
  
	
  pre {
	  padding: 10px; border:1px solid black;
	  /*width: 60em; */
  }
  
  
  *.st { color: #996633; } /* Schnittstellenaccount */
  
  hr        { height: 0px; border: solid #00639D 0px; border-top-width: 1px;}
  
  
  /* Tabellen */
*.dottedtable { border-collapse:collapse; border:1px dotted rgb(0,0,0); margin:0; padding:0; }
table.grayedtable {
       border-collapse:collapse;
       border: 1px solid rgba(192,192,192,0.5) !important;
       margin: 1em;
       padding:0;
       text-align: center;
}
table.grayedtable thead {
       background-color: #D7D7D7;
       font-weight: bold;

}
table.grayedtable td {
       text-align: center;
       /*padding: 2px;*/
}


table.grayedtable thead th {
       text-align: center;
       /*padding: 5px;*/
}

table.grayedtable tbody tr:hover td { background: none; }

table.grayedtable tbody tr.even {
       background-color: #EFEFEF;
}

table.grayedtable tbody tr:hover, table.grayedtable tbody tr.even:hover, #refstable tr.level2:hover {
    background-color: #ebebeb;
}

*.bannercode { /* HTML-Quelltext für Banner */
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        border: 1px dotted rgb(0,0,0);
}
.user_info {
  font-size:.7em;
  display:inline-block;
  text-decoration:none;
  font-style:normal;
  padding:.2em .4em .2em .4em;
  color:#fff !important;
  border-radius:.4em;
  line-height: 1.2em;
}

a.bluelink { text-decoration:none; }
a.bluelink:visited { text-decoration:none; }
a.bluelink:hover { text-decoration:underline; }


a.graylink { text-decoration:none; color: #808080; }
a.graylink:visited { text-decoration:none; color: #808080; }
a.graylink:hover { text-decoration:underline; color: #5A5A5A; }

a.graybluelink { margin:0; padding:0; text-decoration:none; color: #9EB4C5; }
a.graybluelink:visited { margin:0; padding:0; text-decoration:none; color: #9EB4C5; }
a.graybluelink:hover { margin:0; padding:0; text-decoration:underline; color: #00639D; }

a.blacklink { text-decoration:none; color: #000000; }
a.blacklink:visited { text-decoration:none; color: #000000; }
a.blacklink:hover { text-decoration:underline; color: #808080; }

a.whitelink { text-decoration:none; color: #FFFFFF; }
a.whitelink:visited { text-decoration:none; color: #FFFFFF; }
a.whitelink:hover { text-decoration:underline; color: #FFFFFF; }




*.transfer {
        width:225px;
} /* beim Punktetransfer */


*.anmeldung {
        width:160px;
} /* im Anmeldeformular */

*.nickpage {
        width:300px;
} /* auf Nickpages */


*.bonus {
        width:350px;
} /* bei den Bonusaktionen */


input.login {
        width:160px;
} /* beim Login */

*.losetausch {
        width:130px;
} /* beim Losetauschen */


input.pwd {
        width:140px;
} /* beim Passwortändern */


abbr, acronym {
        border-bottom-width:1px; border-bottom-style:dashed; border-bottom-color:#00A000;
	cursor: help;
}


/* Buttons 
*.button {
  width:140px;
  background-color: #F0FAFF; 
  color: rgb(0,0,0);
  font: bold 12px Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid #000000;/*#8EA9BC;
  padding: 3px;
}*/

*.DisabledButton {
  background-color: rgb(254,254,254);
  color: rgb(0,0,0);
  font: normal 12px Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid rgb(0,0,0)
}

p.menuP {
  color: #FFFFFF;
  margin: 5px;
}
td.textTD {
  border: 2px solid #8EA9BC;
}


#spalte {
  width: 118px;
  height: auto;
  background: #ccc;
  color: #333;
  padding: 0;
  margin: 0;
}


*.graphicbutton {
    font-weight: bold;
    min-height: 24px;
    line-height:24px;

    width: 141px;
    text-align:center;
    border-width: 0px;
    font-size: 12px;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
}

a.jetztsurfenlink {
       text-decoration: none;
       padding-top: 0px;
       margin-top: 0px;
       color: rgb(178,195,208);
       font: normal 16px Verdana, Arial, Helvetica, sans-serif; 
}

div.dashboardheader {
       text-align: center;
       color: rgb(93,126,150);
       font: bold 22px Verdana, Arial, Helvetica, sans-serif;
       
}

a.jetztsurfenlink span {
       font-size: 20px;
       padding-left: 10px;
       color: rgb(99,139,167);
}

a.jetztsurfenlink:hover {
       color: rgb(100,195,208);
}

a.jetztsurfenlink:hover span{
       color: rgb(100,195,208);
}

div.dashboardbuttons {
       width:370px;
       padding-top: 7px;
       min-height: 80px;
       border-left: 2px solid rgb(167,187,202);
       border-right: 2px solid rgb(167,187,202); /* rgb(177,200,218);*/
}

p.dashboardbutton, p.dashboardbutton2 {
       margin:0;
       margin-left:auto;
       margin-right:auto;
       margin-top:0px;
       margin-bottom:0px;
       width:141px;
       padding:5px;
       text-align:left;
}
p.dashboardbutton a, p.dashboardbutton2 a {
       margin-left:auto; margin-right:auto;
       padding-top: 5px;
       text-decoration: none;
       display:block;
       width:141px;
       height:25px;
       overflow:hidden;
       background:url(../../images/button.png) 0 0 no-repeat transparent;
       font-size:12px;
       font-weight: normal;
       text-align:center;
       color:#fff;
}
p.dashboardbutton a:hover {background-position:-141px 0;}


p.dashboardbutton2 {
       width:218px;
       padding:10px;
}
p.dashboardbutton2 a {
       padding-top: 10px;
       width:218px;
       height:40px;
       background:url(../../images/button2.png) 0 0 no-repeat transparent;
       font-size:15px;
       font-weight: normal;
}
p.dashboardbutton2 a:hover {background-position:-218px 0;}

/*
*.dashboardbutton {
       padding-left: 20px;
       padding-right: 20px;
       background:url(../images/button.png) 0 0 no-repeat transparent;
       text-align:left;
       width: 141px;
       text-decoration: none;
       display:block;
       overflow:hidden;
}

*.dashboardbutton:hover {
    padding-left: 20px;
    padding-right: 20px;
    background-position:-141px 0;
}
                                          */

button.nextbutton {
    background:url(../../images/buttons/next.png) no-repeat 0 0 transparent;
    text-align:left;
    
}

button.previousbutton {
    background:url(../../images/buttons/previous.png) no-repeat 0 0  transparent;
    text-align:right;
}
button.previousbutton:hover {
    background-position:-141px 0;
}


button.previousbutton_inactive {
    background:url(../../images/buttons/previous_inactive.png) 0 0 no-repeat transparent;
    text-align:right;
    
}

button.nextbutton:hover {
    background-position:-141px 0;
}

#werbungbuchen {margin:0; margin-left:auto; margin-right:auto; margin-top:20px; margin-bottom:20px; padding:0; padding-top: 0px; text-align:left;}
#werbungbuchen a {
       margin-left:auto; margin-right:auto;
       padding-top: 20px;
       text-decoration: none;
       display:block;
       width:435px;
       height:80px;
       overflow:hidden;
       background:url(../../images/werbung_buchen_hover.png) 0 0 no-repeat transparent;
       font-size:28px;
       text-align:center;
       color:#fff;
}
#werbungbuchen a:hover {background-position:-435px 0;}
#werbungbuchen a strong {
       display:block;
       padding-top:12px;
       font-weight: bold;
}
#werbungbuchen a span {
       display:block;
       padding-top:4px;
       font-size:12px;
       color:#eee;
}


*.regelinfo {
  margin: 1em;
  padding: 1em;
  background-color: rgb(244,244,244);
  border: 1px solid rgb(204,204,204);
}

a.regellink {
  float: right;
  display: block;
  margin-right: 10em;
}

#regeln ol li {
   margin-top: 0.5em;
}

*.stylered    { font-weight:bold; color:#800000; }
*.stylegreen  { font-weight:bold; color:#008000; }
*.styleyellow { font-weight:bold; color:#FF9933; }
*.stylebrown  { font-weight:bold; color:#996633; }

*.smalltextred    { color:#800000; }
*.smalltextgreen  { color:#008000; }

.ebesucherTooltip {
  font-size: 11px;
  background-color: #E9F3FF;
  color: black;
  width: 380;
  border-width: 5px;
  border-radius: 5px;
  border-color: #8EAACE;
  tip: leftTop;
}

.ebesucherTooltip .qtip-content {
  text-align: justify;  
}

.yform label {
  text-align: left;
}

  /* (en) navigation: horizontal adjustment | (de) horizontale Ausrichtung  */
  #nav ul { margin: auto; display: inline-block; }

  /*-------------------------------------------------------------------------*/

  /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Container
   *
   */

  #main {
      padding: 2em;
      padding-top: 1em;
  }
  
  .columnar .type-text label, .columnar .type-select label {
	padding-right:2%;
	width: 28%;
  }
  
  .ui-widget-content {
	background: white;
  }

  .icon-yes span {
	  display: none;
  }
  
  .icon-yes {
	  width: 19px;
	  height: 17px;
	  background: transparent url(/images/checkmark.png) no-repeat 0 0;
  
	  margin: auto;
  }
  /*-------------------------------------------------------------------------*/
}