@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
 *
 * (en) Uniform design of standard content elements
 * (de) Einheitliche Standardformatierungen für die wichtigten Inhalts-Elemente
 *
 * @copyright       Copyright 2005-2010, Dirk Jesse
 * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-C (http://www.yaml.de/en/license/license-conditions.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         3.2.1
 * @revision        $Revision:392 $
 * @lastmodified    $Date:2009-07-05 12:18:40 +0200 (So, 05. Jul 2009) $
 * @appdef yaml
 */

@media all {
    /**
     * Fonts
     *
     * (en) global settings of font-families and font-sizes
     * (de) Globale Einstellungen für Zeichensatz und Schriftgrößen
     *
     * @section content-global-settings
     */
    /* (en) reset font size for all elements to standard (16 Pixel) */
    /* (de) Alle Schriftgrößen auf Standardgröße (16 Pixel) zurücksetzen */
    html * {
        font-size: 100.01%;
    }

    /**
     * (en) reset monospaced elements to font size 16px in all browsers
     * (de) Schriftgröße von monospaced Elemente in allen Browsern auf 16 Pixel setzen
     *
     * @see: http://webkit.org/blog/67/strange-medium/
     */
    textarea, pre, code, kbd, samp, var, tt {
        font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
    }

    /* (en) base layout gets standard font size 15px */
    /* (de) Basis-Layout erhält Standardschriftgröße von 15 Pixeln */
    body {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 80.00%;
        color: #333333;
    }

    /*--- Headings | Überschriften ------------------------------------------------------------------------*/
    h1, h2, h3, h4, h5, h6 {
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        color: #222;
        margin: 0 0 0.25em 0;
    }

    h1 {
        font-size: 220%;
        text-align: left;
    }

    /* 30px */
    h2 {
        font-size: 170%;
    }

    /* 24px */
    h3 {
        font-size: 150%;
    }

    /* 18px */
    h4 {
        font-size: 133.33%;
    }

    /* 16px */
    h5 {
        font-size: 116.67%;
    }

    /* 14px */
    h6 {
        font-size: 116.67%;
    }

    /* 14px */
    /* --- Lists | Listen  -------------------------------------------------------------------------------- */
    ul, ol, dl {
        line-height: 1.5em;
        margin: 0 0 1em 1em;
    }

    ul {
        list-style-type: disc;
    }

    ul ul {
        list-style-type: circle;
        margin-bottom: 0;
    }

    ol {
        list-style-type: decimal;
    }

    ol ol {
        list-style-type: lower-latin;
        margin-bottom: 0;
    }

    li {
        margin-left: 0.8em;
        line-height: 1.5em;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin: 0 0 1em 0.8em;
    }

    /* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */
    p {
        line-height: 1.5em;
        margin: 0 0 1em 0;
    }

    blockquote, cite, q {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-style: italic;
    }

    blockquote {
        margin: 0 0 1em 1.6em;
        color: #666;
    }

    strong, b {
        font-weight: bold;
    }

    em, i {
        font-style: italic;
    }

    big {
        font-size: 116.667%;
    }

    small {
        font-size: 91.667%;
    }

    pre {
        line-height: 1.5em;
        margin: 0 0 1em 0;
    }

    pre, code, kbd, tt, samp, var {
        font-size: 100%;
    }

    pre, code {
        color: #800;
    }

    kbd, samp, var, tt {
        color: #666;
        font-weight: bold;
    }

    var, dfn {
        font-style: italic;
    }

    acronym, abbr {
        border-bottom: 1px #aaa dotted;
        font-variant: small-caps;
        letter-spacing: .07em;
        cursor: help;
    }

    sub, sup {
        font-size: 91.6667%;
        line-height: 0;
    }

    hr {
        color: #fff;
        background: transparent;
        margin: 0 0 0.5em 0;
        padding: 0 0 0.5em 0;
        border: 0;
        border-bottom: 1px #eee solid;
    }

    /*--- Links ----------------------------------------------------------------------------------------- */
    a {
        color: #2A75A5;
        background: transparent;
    }

    a:visited {
        color: #2A75A5;
    }

    /* (en) maximum constrast for tab focus - change with great care */
    /* (en) Maximaler Kontrast für Tab Focus - Ändern Sie diese Regel mit Bedacht */
    a:focus {
        text-decoration: underline;
        color: #000; /*background: #fff;*/
        outline: 2px #f93 solid;
    }

    a:hover,
    a:active {
        color: #182E7A;
        text-decoration: underline;
        outline: 0 none;
    }

    /* --- images (with optional captions) | Bilder (mit optionaler Bildunterschrift) ------------------ */
    p.icaption_left {
        float: left;
        display: inline;
        margin: 0 1em 0.15em 0;
    }

    p.icaption_right {
        float: right;
        display: inline;
        margin: 0 0 0.15em 1em;
    }

    p.icaption_left img,
    p.icaption_right img {
        padding: 0;
        border: 1px #888 solid;
    }

    p.icaption_left strong,
    p.icaption_right strong {
        display: block;
        overflow: hidden;
        margin-top: 2px;
        padding: 0.3em 0.5em;
        background: #eee;
        font-weight: normal;
        font-size: 91.667%;
    }

    /**
     * ------------------------------------------------------------------------------------------------- #
     *
     * Generic Content Classes
     *
     * (en) standard classes for positioning and highlighting
     * (de) Standardklassen zur Positionierung und Hervorhebung
     *
     * @section content-generic-classes
     */
    .highlight {
        color: #c30;
    }

    .dimmed {
        color: #888;
    }

    /*.info { background:#f8f8f8; color:#666; padding:10px; margin-bottom:0.5em; font-size:91.7%; }*/
    .note {
        background: #efe;
        color: #040;
        border: 2px #484 solid;
        padding: 10px;
        margin-bottom: 1em;
    }

    .important {
        background: #ffe;
        color: #440;
        border: 2px #884 solid;
        padding: 10px;
        margin-bottom: 1em;
    }

    .warning {
        background: #fee;
        color: #400;
        border: 2px #844 solid;
        padding: 10px;
        margin-bottom: 1em;
    }

    .float_left {
        float: left;
        display: inline;
        margin-right: 1em;
        margin-bottom: 0.15em;
    }

    .float_right {
        float: right;
        display: inline;
        margin-left: 1em;
        margin-bottom: 0.15em;
    }

    .center {
        display: block;
        text-align: center;
        margin: 0.5em auto;
    }

    /**
     * ------------------------------------------------------------------------------------------------- #
     *
     * Tables | Tabellen
     *
     * (en) Generic classes for table-width and design definition
     * (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
     *
     * @section content-tables
     */
    table {
        width: auto;
        border-collapse: collapse;
        margin-bottom: 0.5em;
        border-top: 2px #888 solid;
        border-bottom: 2px #888 solid;
    }

    table caption {
        font-variant: small-caps;
    }

    table.full {
        width: 100%;
    }

    table.fixed {
        table-layout: fixed;
    }

    th, td {
        padding: 0.5em;
    }

    thead th {
        color: #000; /*border-bottom:2px #000 solid; */
    }

    tbody th {
        background: #e0e0e0;
        color: #333;
    }

    tbody th[scope="row"], tbody th.sub {
        background: #f0f0f0;
    }

    tbody th {
        border-bottom: 1px solid #fff;
        text-align: left;
    }

    tbody td {
        border-bottom: 1px solid #eee;
    }

    tbody tr:hover th[scope="row"],
    tbody tr:hover tbody th.sub {
        background: #f0e8e8;
    }

    tbody tr:hover td {
        background: #fff8f8;
    }

    tbody td {
        border: 0;
    }

    .grayedtable tbody td:last-child {
        border-right: 1px solid #ddd !important;
    }

    .tablesorter-blue tbody td {
        border: 0 !important;
    }

    #bestellungsdaten_field div table tbody td:last-child {
        border-right: 0 !important;
    }

    #bestellungsdaten_field div table tbody tr:hover td {
        background: none !important;
    }

    .actionscolumn {
        border-right: 1px solid #ddd !important;
    }

    /**
     * ------------------------------------------------------------------------------------------------- #
     *
     * Miscellaneous | Sonstiges
     *
     * @section content-misc
     */
    /**
     * (en) Emphasizing external Hyperlinks via CSS
     * (de) Hervorhebung externer Hyperlinks mit CSS
     *
     * @section             content-external-links
     * @app-yaml-default    disabled
     */
    /*
    #main a[href^="http://www.my-domain.com"],
    #main a[href^="https://www.my-domain.com"]
    {
      padding-left:12px;
      background-image:url('your_image.gif');
      background-repeat:no-repeat;
      background-position:0 0.45em;
    }
    */
    span.infoBox {
        border-bottom: 1px dotted;
        cursor: help;
    }

    .besuchertauschbildbox {
        z-index: 99;
        border: 1px solid #AED0EA;
        background: white;
        padding: 1em;
        margin: 1em;
        margin-left: 105px;
    }

    table.hiddentable {
        border: none;
    }

    table.hiddentable td {
        border: none;
        padding: 0.3em;
        vertical-align: top;
    }

    table.hiddentable tr:hover td {
        background: transparent;
    }

    /*
    table td.activity0 {
      background-color: #9A7E7F;
    }


     table td.activity1 {
      background-color: #985A46;
    }


     table td.activity2 {
      background-color: #A85B40;
    }


     table td.activity3 {
      background-color: #CE633C;
    }


     table td.activity4 {
      background-color: #D6C404;
    }


     table td.activity5 {
      background-color: #EDDA00;
    }


     table td.activity6 {
      background-color: #F1DE00;
    }


     table td.activity7 {
      background-color: #FCE900;
    }


     table td.activity8 {
      background-color: #F0FF00;
    }


     table td.activity9 {
      background-color: #E4F900;
    }


     table td.activity10 {
      background-color: #D2EC00;
    }


     table td.activity11 {
      background-color: #B6D400;
    }


     table td.activity12 {
      background-color: #9EBE00;
    }


     table td.activity13 {
      background-color: #5AA300;
    }


     table td.activity14 {
      background-color: #468100;
    }


     table td.activity15 {
      background-color: #376500;
    }


     table td.activity16 {
      background-color: #376500;
    }


     table td.activity17 {
      background-color: #376500;
    }


     table td.activity18 {
      background-color: #376500;
    }


     table td.activity19 {
      background-color: #376500;
    }


     table td.activity20 {
      background-color: #376500;
    }
    */
    table td.activity0 {
        background-color: transparent;
    }

    table td.activity1 {
        background-color: #ABABAB !important;
    }

    table td.activity2 {
        background-color: #8A9C89 !important;
    }

    table td.activity3 {
        background-color: #819C80 !important;
    }

    table td.activity4 {
        background-color: #799D77 !important;
    }

    table td.activity5 {
        background-color: #729D6E !important;
    }

    table td.activity6 {
        background-color: #6A9D65 !important;
    }

    table td.activity7 {
        background-color: #679E55 !important;
    }

    table td.activity8 {
        background-color: #619E4B !important;
    }

    table td.activity9 {
        background-color: #5A9E41 !important;
    }

    table td.activity10 {
        background-color: #549F38 !important;
    }

    table td.activity11 {
        background-color: #4E9F2E !important;
    }

    table td.activity12 {
        background-color: #499F23 !important;
    }

    table td.activity13 {
        background-color: #439F17 !important;
    }

    table td.activity14 {
        background-color: #3F9F07 !important;
    }

    table td.activity15 {
        background-color: #3AA000 !important;
    }

    table td.activity16 {
        background-color: #36A000 !important;
    }

    table td.activity17 {
        background-color: #33A000 !important;
    }

    table td.activity18 {
        background-color: #30A000 !important;
    }

    table td.activity19 {
        background-color: #2DA000 !important;
    }

    table td.activity20 {
        background-color: #2CA000 !important;
    }

    table td.activity21 {
        background-color: #2BA000 !important;
    }

    td.tdwithleftborder {
        border-left: 1px solid #D8D8D8;
    }

    h1, h2, h3, h4 {
        font-family: 'Oxygen', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

}

.fa-tablecontrol {
    font-size: 1.5em !important;
    margin-left: 0.5em;
}
