@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
 *
 * (en) Horizontal list navigation "Shiny Buttons"
 * (de) Horizontale Navigationsliste "Shiny Buttons"
 *
 * @copyright       Copyright 2005-2010, Dirk Jesse
 * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-C (http://www.yaml.de/en/license/license-conditions.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         3.2.1
 * @revision        $Revision:392 $
 * @lastmodified    $Date:2009-07-05 12:18:40 +0200 (So, 05. Jul 2009) $
 */

@media all
{
  .hlist {
    /* (en) containing floats in IE */
    /* (de) Einfassen der Floats im IE */
    /*width:100%;*/
    /*overflow:hidden;*/
    /* (en) containing floats in all other browsers */
    /* (de) Einfassen der Floats in allen anderen Browsern */
    /*float:left;
    display:inline;*/
    /* (en|de) Bugfix:IE - collapsing horizontal margins */
    position:relative;
    /* (en) Repeat the main color from the image */
    /* (de) Wiederholung der Hauptfarbe aus der Bilddatei */
    background: url(../../images/ebesucher/Leiste.png) repeat-x bottom left;
    /*border-top:1px #333 solid;
    border-bottom:1px #333 solid;*/
    line-height:0;
    height: 50px;
    width: 100%;
  }

  .hlist #tabs {
    margin:0;
    padding:0;
    /* (en|de) Bugfix:IE - Doubled Float Margin Bug */
    /*display:inline;*/
    /*float:left; LTR */
    /* (en) Left margin of the first button  */
    /* (de) Abstand des ersten Buttons vom linken Rand  */
    border-left:0px #A0CBE7 solid;
    border-right:0px #A0CBE7 solid;
  }

  .hlist #tabs li {
    
    border-left:0px #6090A8 solid;
    border-right:0px #A0CBE7 solid;
    
    /* (en|de) Bugfix:IE - Doubled Float Margin Bug */
    display:inline;
    float:left; /* LTR */
    /*font-size:1.2em;*/
    line-height: 50px;
    list-style-type:none;
    margin:0;
    padding:0;
    background: url(../../images/ebesucher/Button_passiv.png) repeat-x bottom left;
    height: 50px;
  }

  .hlist #tabs li a,
  .hlist #tabs li strong {
    background:transparent;
    color:white;
    display:block;
    font-size: 12px;
    font-family: Verdana;
    font-weight: normal;
    margin:0;
    padding:0em 1.2em;
    text-decoration:none;
    width:auto;
    
    white-space:nowrap;
    overflow: hidden;

  }

  .hlist #tabs li a:focus,
  .hlist #tabs li a:hover,
  .hlist #tabs li a:active  { background: url(../../images/ebesucher/Button_rollover_passiv.png); color:#333; text-decoration:none; outline: 0 none; }

  .hlist #tabs li.active {
    /* (en) Repeat the main color from the image */
    /* (de) Wiederholung der Hauptfarbe aus der Bilddatei */
    background:#2F7599 repeat-x center left url(../../images/ebesucher/Button_rollover_aktiv.png);
    border-left:0px #444 solid;
    border-right:0px #888 solid;
  }

  .hlist ul li.active strong,
  .hlist ul li.active a:focus,
  .hlist ul li.active a:hover,
  .hlist ul li.active a:active { background:transparent ; color:#fff; text-decoration:none; }
}
