html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    background: #fff;

}


@media screen and (min-width:0) and (min-resolution: +72dpi) { .selector { property:value; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */

    body {
        display: inherit;
        flex-direction: inherit;
    }
}

#contentwrap {
    margin-top: 140px;
    /*
    overflow: hidden;
    */
    min-width: 55%;

}
.blau {
    min-height: 248px !important;
    padding: 0 !important;

 }
#verdienen > div, #besuchertausch > div {
    padding-top:2em;
}
.blau:before {
    content: '';
    position: absolute;
    display: block;
    min-height: 248px !important;
    background: #7e9fb5;
    left: 0;
    width: 100%;
    z-index: -1;

}

.blue {
    min-height: 12em;
}
.blue:before {
    content: '';
    position: absolute;
    display: block;
    min-height: 205px !important;
    background: #7e9fb5;
    left: 0;
    width: 100%;
    z-index: -1;

    padding-bottom: 0;
    margin-top: -2em;
}

#logo_footer {
    display: inline-block;
    background: url('/images/logo_mini.png');
    background-repeat: no-repeat;
    background-position-x: -48px;
    text-indent: 175px;
    line-height: 34px;
    background-size: 220px;
}

#main {
    width: auto;
    max-width: none;

}
#breadcrumb {
    position: absolute;
    left: 0;
    top:116px;
    width: 100%;
    border: 0 !important;
    font-family: arial;
    font-size: 1em !important;
}

/* Header Modify*/


#header, #over_header {
    background: none;
    max-width: none;
    width: 100%;
    /*Fix for Blog*/
    overflow: initial;
}
#over_header {
    background: #6a889c;
    top: 0;
    color:#fff;
    padding-bottom: 9px;
    padding-top: 6px;
    height: inherit;
    width: 100%;
}
#over_header a, .inactivelanguage {
    color: #fff !important;
}
#nav {
    top:0;
    font-family: Arial !important;
    font-size: 1em;
    padding-bottom: 0;
}
#header_links, #header_rechts, #header_logo, #nav_links, #nav_rechts {
    display: none;
}
.hlist {
    background: #7e9fb5;
    height: auto;
}
.hlist  #logo {
    background: url('/images/logo_mini.png') #7e9fb5;
    width: 52px;
    height: 42px;
    position: absolute;
    margin: .6em;

}
.hlist #tabs li {
    background: none;
    border-top:4px solid #6a889c;
    line-height: 60px;
    height: 60px;
}
.hlist #tabs li.active {
    background: none;
    border-top:4px solid #507188;

}
.hlist #tabs li:hover{
    border-top:4px solid #507188;

}
.hlist #tabs li:active{
    border-top:4px solid #507188;

}

.hlist #tabs li {
    text-transform: uppercase;
    margin-top: -4px;
}
.hlist a, .hlist #tabs li strong {
    font-size: 1em !important;
}
.hlist #tabs li a:focus, .hlist #tabs li a:hover, .hlist #tabs li a:active {
    background: #507188;
    color:#fff;
}


#nav_sub {
    padding: 1px;
    height: auto;
    background: #ecf3f7;
}


#myTab > ul > li > a, #myTabBootstrap.navbar-nav > li > a {
    color: #5a798e !important;

}
#myTabBootstrap > li.activClick, #myTabBootstrap.navbar-nav > li > a:hover {
    border-radius: 0 !important;
    cursor: pointer;
}
#myTabBootstrap.navbar-nav > li > a:hover {
    color: #fff !important;
    border-radius: 0 !important;
}

#myTabBootstrap.navbar-nav > .activClick > a {
    border-radius: 0 !important;
    color:#fff !important;
    background: #688FA7;
    text-shadow: 0px 1px 0px #000;
}

#myTabBootstrap li.active {
    border-radius: 0 !important;
    font-weight: normal !important;
}
/* header modify end*/

#contentwrap {
    flex: 1;
}
#header {
    top:28px;
    max-height: 86px;
    /* commented out to fix errors in blog: height: auto; */
}
#header, #contentwrap, #breadcrumb a:first-of-type  {
    border-radius: 0 !important;

}

#footer {

    min-height: 200px;
    padding: 30px;
    border: 0;
    background: #3c3f41;
    color: #bbbbbb;
    font-size: 1em;
}
#footer a:link, #footer a:visited, #footer .fa-facebook-square {
    color:#888;
    margin: 0;
}
#footer > div > a {
    line-height: 1.6em;
}
.spliter {
    color: #888;
    padding-left:.3em ;
    padding-right:.3em ;
}
#footer a:hover, #footer a:hover .fa-facebook-square {
    color:#aaa;
}
#werbung {
    display: none;
}


#footer > .whitelink {
    color: #aaa !important;

}
#footer .col-sm-12 {
    min-height: 160px !important;
    margin: 0 !important;
}


@media (max-width: 992px) {
    .bb {
        border-bottom: 1px solid #282828;
        padding-bottom: 1em;
    }

    .bt {

        padding-top: 1em;
        border-top: 1px solid #555555;
    }
}
@media (min-width: 1400px)  {

    .hlist  #logo {
        width: 290px !important;
    }
}

@media (min-width: 1100px) {
    #footer {
        padding: 40px;
    }
    .br {

        border-right: 1px solid #282828;
    }
    .bl {

        border-left: 1px solid #555555;
    }

}

.webmoney {
    -webkit-filter: grayscale(100%) invert(1) opacity(.5); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) invert(1) opacity(.7);
    margin-top: -1.2em;
    margin-left: .65em;
    color:#fff;
}
a:hover .webmoney {
    filter: grayscale(100%) invert(1) opacity(1);
}
.kurzinfo {
    width: 80% !important;
}
.big-choice > div {
    min-width: 220px;

}
.big-choice label > span {
    white-space: normal !important;
}
.big-choice input[name*=inputtype]:checked + label {
    border: 1px solid #fafafa;
}

tr {
    display: table-row !important;
}

tr.filtered{
    display: none !important;
}


#breadcrumb a:last-of-type {
    background: #688FA7 !important;
}
#breadcrumb a:last-of-type:before {
    border-color: #688FA7 !important;
    border-left-color: transparent !important;
}
#breadcrumb a:last-of-type:after {
    border-left-color: #688FA7 !important;
}


.fa-google-plus-square {
    color: #ce1616;
}
.fa-twitter-square {
    color: #00aced;
}
.fa-facebook-square {
    color: #3b5998;
}
.fa-odnoklassniki-square {
    color: #ff8300;
}
.fa-vk {
    color: #245c9b;
}
.fa-pinterest-square {
    color: #BC272D;
}