﻿/* Minification failed. Returning unminified contents.
(1099,52): run-time error CSS1034: 
(1099,52): run-time error CSS1034: 
 */
.border-header,
.quick-links,
.result-count,
.island,
.top-text,
.media,
.topics-dropdown-wrap,
.topics-dropdown,
.topics_links,
.featured-advert,
.sell-my-used-car,
.sell-my-used-car,
.news--small,
.featured-advert,
.featured-advert-product {
  zoom: 1;
}
.border-header:after,
.quick-links:after,
.result-count:after,
.island:after,
.top-text:after,
.media:after,
.topics-dropdown-wrap:after,
.topics-dropdown:after,
.topics_links:after,
.featured-advert:after,
.sell-my-used-car:after,
.sell-my-used-car:after,
.news--small:after,
.featured-advert:after,
.featured-advert-product:after {
  content: "";
  display: table;
  clear: both;
}
/* Search Results Counter */
.counter {
  float: right;
  display: inline-block;
  margin: 3px 0 0 0;
  text-align: center;
  font-size: 0.9em;
  font-weight: normal;
}
.counter span {
  float: left;
  min-width: 21px;
  height: 36px;
  text-indent: -9999px;
  margin-right: 1px;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1em;
  background-image: url(../img/bkg/counter.png);
}
/* Set all the background positions, and hook up all the animations */
.counter .digit-0 {
  background-position: 0 -360px;
  animation-name: digitSpin0;
  animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-name: digitSpin0;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: digitSpin0;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
}
.counter .digit-1 {
  background-position: 0 -36px;
  animation-name: digitSpin1;
  animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-name: digitSpin1;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: digitSpin0;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
}
.counter .digit-2 {
  background-position: 0 -72px;
  animation-name: digitSpin2;
  animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-name: digitSpin2;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: digitSpin2;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
}
.counter .digit-3 {
  background-position: 0 -108px;
  animation-name: digitSpin3;
  animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-name: digitSpin3;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: digitSpin3;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
}
.counter .digit-4 {
  background-position: 0 -144px;
  animation-name: digitSpin4;
  animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-name: digitSpin4;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: digitSpin4;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
}
.counter .digit-5 {
  background-position: 0 -180px;
  animation-name: digitSpin5;
  animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-name: digitSpin5;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: digitSpin5;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
}
.counter .digit-6 {
  background-position: 0 -216px;
  animation-name: digitSpin6;
  animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-name: digitSpin6;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: digitSpin6;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
}
.counter .digit-7 {
  background-position: 0 -252px;
  animation-name: digitSpin7;
  animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-name: digitSpin7;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: digitSpin7;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
}
.counter .digit-8 {
  background-position: 0 -288px;
  animation-name: digitSpin8;
  animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-name: digitSpin8;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: digitSpin8;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
}
.counter .digit-9 {
  background-position: 0 -324px;
  animation-name: digitSpin9;
  animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-name: digitSpin9;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: digitSpin9;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
}
/* Animation */
@keyframes digitSpin0 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -360px;
  }
}
@keyframes digitSpin1 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -36px;
  }
}
@keyframes digitSpin2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -72px;
  }
}
@keyframes digitSpin3 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -108px;
  }
}
@keyframes digitSpin4 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -144px;
  }
}
@keyframes digitSpin5 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -180px;
  }
}
@keyframes digitSpin6 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -216px;
  }
}
@keyframes digitSpin7 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -252px;
  }
}
@keyframes digitSpin8 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -288px;
  }
}
@keyframes digitSpin9 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -324px;
  }
}
/* Animation for Webkit */
@-webkit-keyframes digitSpin0 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -360px;
  }
}
@-webkit-keyframes digitSpin1 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -36px;
  }
}
@-webkit-keyframes digitSpin2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -72px;
  }
}
@-webkit-keyframes digitSpin3 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -108px;
  }
}
@-webkit-keyframes digitSpin4 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -144px;
  }
}
@-webkit-keyframes digitSpin5 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -180px;
  }
}
@-webkit-keyframes digitSpin6 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -216px;
  }
}
@-webkit-keyframes digitSpin7 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -252px;
  }
}
@-webkit-keyframes digitSpin8 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -288px;
  }
}
@-webkit-keyframes digitSpin9 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -324px;
  }
}
/* Animation for Gecko (Firefox) */
@-moz-keyframes digitSpin0 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -360px;
  }
}
@-moz-keyframes digitSpin1 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -36px;
  }
}
@-moz-keyframes digitSpin2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -72px;
  }
}
@-moz-keyframes digitSpin3 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -108px;
  }
}
@-moz-keyframes digitSpin4 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -144px;
  }
}
@-moz-keyframes digitSpin5 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -180px;
  }
}
@-moz-keyframes digitSpin6 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -216px;
  }
}
@-moz-keyframes digitSpin7 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -252px;
  }
}
@-moz-keyframes digitSpin8 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -288px;
  }
}
@-moz-keyframes digitSpin9 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -324px;
  }
}
.img-gallery-std {
  position: relative;
  background: #ffffff;
  width: 100%;
  padding: 0;
}
.img-gallery-std ul,
.img-gallery-std ol {
  zoom: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.img-gallery-std ul:after,
.img-gallery-std ol:after {
  content: "";
  display: table;
  clear: both;
}
.flexslider {
  margin: 0;
  background-color: #ffffff;
  position: relative;
  zoom: 1;
}
.slider-overlay {
  background-color: black;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.flexslider .slides {
  zoom: 1;
}
.ltbx-gallery ul.slides {
  height: 100%;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider .slides > li {
  display: none;
}
.ltbx-gallery .slider-overlay .slides > li {
  opacity: 0;
  overflow: hidden;
}
.ltbx-gallery .slider-overlay .slides > li.flex-active-slide {
  opacity: 1;
}
.flexslider .slides img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  cursor: pointer;
  margin: 0 auto;
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0 10px 10px 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  cursor: pointer;
}
.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: 0;
  display: block;
  position: absolute;
  top: 50%;
  cursor: pointer;
  margin-top: -9px;
  z-index: 2;
}
.flex-direction-nav a:hover {
  text-decoration: none;
}
.slider-overlay .flex-direction-nav {
  height: 0;
}
.slider-overlay a,
.slider-overlay img {
  cursor: default !important;
}
.slider .flex-direction-nav a.flex-next:before,
.slider-overlay .flex-direction-nav a.flex-next:before {
  content: "\e1d7";
}
.slider .flex-direction-nav a.flex-prev:before,
.slider-overlay .flex-direction-nav a.flex-prev:before {
  content: "\e1d6";
}
.slider .flex-direction-nav a.flex-prev,
.slider-overlay .flex-direction-nav a.flex-prev {
  left: 7px;
}
.slider .flex-direction-nav a.flex-next,
.slider-overlay .flex-direction-nav a.flex-next {
  right: -2px;
}
.slider .flex-direction-nav a.flex-prev {
  left: 4px;
}
.slider .flex-direction-nav a.flex-next {
  right: -5px;
}
.carousel {
  border-top: 1px solid #E6E6E6;
  background: none repeat scroll 0 0 #FFFFFF;
}
.carousel,
.carousel-overlay {
  padding: 10px 35px;
}
.carousel .slides li,
.carousel-overlay .slides li {
  /*margin: 0 10px 0 0;*/
}
.carousel .flex-direction-nav a:before,
.carousel-overlay .flex-direction-nav a:before {
  font-family: 'Flaticons Solid';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-size: 1.3em;
  opacity: 0.7;
}
.carousel .flex-direction-nav a.flex-next:before,
.carousel-overlay .flex-direction-nav a.flex-next:before,
.carousel .flex-direction-nav a.flex-next:before,
.carousel-overlay .flex-direction-nav a.flex-next:before {
  content: "\e1d7";
}
.carousel .flex-direction-nav a.flex-prev:before,
.carousel-overlay .flex-direction-nav a.flex-prev:before,
.carousel .flex-direction-nav a.flex-prev:before,
.carousel-overlay .flex-direction-nav a.flex-prev:before {
  content: "\e1d6";
}
.carousel .flex-direction-nav a.flex-prev,
.carousel-overlay .flex-direction-nav a.flex-prev {
  left: 7px;
}
.carousel .flex-direction-nav a.flex-next,
.carousel-overlay .flex-direction-nav a.flex-next {
  right: -2px;
}
@media screen and (max-width: 580px) {
  .carousel,
  .carousel-overlay {
    padding: 10px;
  }
  .carousel .flex-direction-nav a,
  .carousel-overlay .flex-direction-nav a {
    display: none;
  }
}
.slider .flex-direction-nav a:before,
.slider-overlay .flex-direction-nav a:before {
  font-family: 'Flaticons Solid';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-size: 1.3em;
  opacity: 0.7;
}
.carousel-overlay .flex-direction-nav a.flex-disabled,
.slider-overlay .flex-direction-nav a.flex-disabled,
.carousel .flex-direction-nav a.flex-disabled {
  /* opacity: 0.1; */
  display: none;
}
.carousel-overlay {
  background-color: #000;
  padding: 10px 57px;
}
.carousel-overlay .flex-direction-nav a,
.slider .flex-direction-nav a,
.slider-overlay .flex-direction-nav a,
.carousel-overlay .flex-direction-nav a:before,
.slider .flex-direction-nav a:before,
.slider-overlay .flex-direction-nav a:before {
  width: 37px;
  height: 37px;
  top: 50%;
  color: #ffffff;
  opacity: 0.5;
  font-size: 1.5em;
  margin-top: -16px;
  cursor: pointer;
  outline-style: none;
  -moz-outline-style: none;
}
.slider .flex-direction-nav a {
  display: none;
}
@media screen and (max-width: 1024px) {
  .slider .flex-direction-nav a {
    display: block;
    opacity: 1;
  }
}
.slider .flex-direction-nav a {
  color: #333333;
}
.slider .flex-direction-nav a:before {
  color: #333333;
}
.carousel-overlay .flex-direction-nav a.flex-prev {
  left: 10px;
}
.carousel-overlay .flex-direction-nav a.flex-next {
  right: 10px;
}
.slider-overlay .flex-direction-nav a.flex-prev {
  left: 20px;
}
.slider-overlay .flex-direction-nav a.flex-next {
  right: 20px;
}
.flex-direction-nav a {
  font-size: 1.2em !important;
}
.full-screen-trigger {
  opacity: 0.7;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  position: absolute;
  bottom: 120px;
  left: 20px;
  background: #000000;
  background: rgba(0, 0, 0, 0.7);
  text-align: right;
  color: #ffffff;
  z-index: 10;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .full-screen-trigger {
    display: none;
  }
}
.full-screen-trigger i {
  font-size: 2em;
  vertical-align: middle;
}
.full-screen-trigger span {
  padding: 0 10px;
  font-size: 0.9em;
}
@media screen and (max-width: 768px) {
  .full-screen-trigger {
    display: none;
  }
}
.img-gallery-std:hover .full-screen-trigger {
  opacity: 1;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.right-island {
  padding: 0;
  border: 1px solid #e2e2e2;
  margin-bottom: 40px;
}
@media screen and (min-width: 500px) {
  .right-island {
    margin-bottom: 20px;
  }
}
.right-island h3 {
  font-size: 16px;
  font-size: 1rem;
  padding: 20px;
  margin-bottom: 0;
  font-weight: 600;
  color: #333333;
}
.right-island ul li {
  border-bottom: 1px solid #e6e6e6;
}
.right-island ul li:first-child a {
  -webkit-box-shadow: inset 0px 5px 6px -8px rgba(50, 50, 50, 0.51);
  -moz-box-shadow: inset 0px 5px 6px -8px rgba(50, 50, 50, 0.51);
  box-shadow: inset 0px 5px 6px -8px rgba(50, 50, 50, 0.51);
}
.right-island ul li a {
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  background-color: #f2f2f2;
  border-left: 0px;
  padding: 15px;
  color: #727272;
  font-weight: 400;
}
.right-island ul li a:hover {
  background-color: #ebebeb;
  color: #222222;
}
.right-island-box_viewall {
  background-color: #fafafa;
  padding: 15px 20px;
  text-align: center;
}
.right-island-box_viewall a {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 600;
}
.right-island-box_viewall .flaticon {
  color: #3a7cb9;
}
.transitionMixin {
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}
.lft {
  float: left;
  margin: 0px;
}
.tab {
  display: none;
}
.tab.active {
  display: block;
}
.sell-my-used-car {
  background-color: #ebebeb;
  margin-bottom: 50px;
  padding: 0px;
}
.car-for-sale-module {
  width: 300px;
  margin-top: 5px;
  position: relative;
  margin: 0px auto 50px auto;
}
.car-for-sale-filters {
  padding-top: 20px;
}
.car-for-sale-filters .fancy-select {
  margin-bottom: 15px;
}
.car-for-sale-filters .fancy-select select {
  height: 30px;
}
.car-for-sale-filters input[type="text"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 15px;
}
.car-for-sale-filters .btn-wrap .search-btn {
  padding: 10px 42px;
}
.topics_title {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #333333;
  float: left;
  margin-bottom: 0;
}
.border-header,
.featured-advert-product {
  padding-bottom: 7px;
  border-bottom: 1px dotted #cccccc;
  clear: both;
  padding-top: 20px;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
}
.border-header span {
  float: right;
  font-size: 12px;
  line-height: 12px;
}
.border-header span .flaticon {
  color: #3d78b2;
  position: relative;
  top: 5px;
}
.sell--ad--copy {
  width: 148px;
  float: right;
  margin-top: 4px;
}
.sell--ad--copy h4 {
  margin-top: 5px;
  margin-bottom: 0px;
}
.tab--content {
  border: 1px solid #e2e2e2;
  width: 300px;
  min-height: 320px;
  padding-left: 10px;
  padding-right: 10px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fdfdfd 1%, #fbfbfb 19%, #fdfdfd 20%, #fbfbfb 20%, #fdfdfd 21%, #fbfbfb 21%, #fafafa 36%, #fcfcfc 36%, #fafafa 37%, #fcfcfc 37%, #fafafa 38%, #fcfcfc 38%, #fafafa 42%, #fbfbfb 53%, #f9f9f9 53%, #fbfbfb 55%, #f9f9f9 55%, #f9f9f9 70%, #f6f6f6 70%, #f9f9f9 70%, #f7f7f7 71%, #f9f9f9 71%, #f7f7f7 78%, #f9f9f9 78%, #f6f6f6 79%, #f9f9f9 79%, #f6f6f6 79%, #f9f9f9 80%, #f7f7f7 81%, #f8f8f8 83%, #f6f6f6 83%, #f8f8f8 84%, #f6f6f6 85%, #f6f6f6 89%, #f8f8f8 89%, #f5f5f5 89%, #f8f8f8 91%, #f6f6f6 91%, #f6f6f6 99%, #fdf6f0 100%, #f1f4f9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(1%, #fdfdfd), color-stop(19%, #fbfbfb), color-stop(20%, #fdfdfd), color-stop(20%, #fbfbfb), color-stop(21%, #fdfdfd), color-stop(21%, #fbfbfb), color-stop(36%, #fafafa), color-stop(36%, #fcfcfc), color-stop(37%, #fafafa), color-stop(37%, #fcfcfc), color-stop(38%, #fafafa), color-stop(38%, #fcfcfc), color-stop(42%, #fafafa), color-stop(53%, #fbfbfb), color-stop(53%, #f9f9f9), color-stop(55%, #fbfbfb), color-stop(55%, #f9f9f9), color-stop(70%, #f9f9f9), color-stop(70%, #f6f6f6), color-stop(70%, #f9f9f9), color-stop(71%, #f7f7f7), color-stop(71%, #f9f9f9), color-stop(78%, #f7f7f7), color-stop(78%, #f9f9f9), color-stop(79%, #f6f6f6), color-stop(79%, #f9f9f9), color-stop(79%, #f6f6f6), color-stop(80%, #f9f9f9), color-stop(81%, #f7f7f7), color-stop(83%, #f8f8f8), color-stop(83%, #f6f6f6), color-stop(84%, #f8f8f8), color-stop(85%, #f6f6f6), color-stop(89%, #f6f6f6), color-stop(89%, #f8f8f8), color-stop(89%, #f5f5f5), color-stop(91%, #f8f8f8), color-stop(91%, #f6f6f6), color-stop(99%, #f6f6f6), color-stop(100%, #fdf6f0), color-stop(100%, #f1f4f9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #fdfdfd 1%, #fbfbfb 19%, #fdfdfd 20%, #fbfbfb 20%, #fdfdfd 21%, #fbfbfb 21%, #fafafa 36%, #fcfcfc 36%, #fafafa 37%, #fcfcfc 37%, #fafafa 38%, #fcfcfc 38%, #fafafa 42%, #fbfbfb 53%, #f9f9f9 53%, #fbfbfb 55%, #f9f9f9 55%, #f9f9f9 70%, #f6f6f6 70%, #f9f9f9 70%, #f7f7f7 71%, #f9f9f9 71%, #f7f7f7 78%, #f9f9f9 78%, #f6f6f6 79%, #f9f9f9 79%, #f6f6f6 79%, #f9f9f9 80%, #f7f7f7 81%, #f8f8f8 83%, #f6f6f6 83%, #f8f8f8 84%, #f6f6f6 85%, #f6f6f6 89%, #f8f8f8 89%, #f5f5f5 89%, #f8f8f8 91%, #f6f6f6 91%, #f6f6f6 99%, #fdf6f0 100%, #f1f4f9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #fdfdfd 1%, #fbfbfb 19%, #fdfdfd 20%, #fbfbfb 20%, #fdfdfd 21%, #fbfbfb 21%, #fafafa 36%, #fcfcfc 36%, #fafafa 37%, #fcfcfc 37%, #fafafa 38%, #fcfcfc 38%, #fafafa 42%, #fbfbfb 53%, #f9f9f9 53%, #fbfbfb 55%, #f9f9f9 55%, #f9f9f9 70%, #f6f6f6 70%, #f9f9f9 70%, #f7f7f7 71%, #f9f9f9 71%, #f7f7f7 78%, #f9f9f9 78%, #f6f6f6 79%, #f9f9f9 79%, #f6f6f6 79%, #f9f9f9 80%, #f7f7f7 81%, #f8f8f8 83%, #f6f6f6 83%, #f8f8f8 84%, #f6f6f6 85%, #f6f6f6 89%, #f8f8f8 89%, #f5f5f5 89%, #f8f8f8 91%, #f6f6f6 91%, #f6f6f6 99%, #fdf6f0 100%, #f1f4f9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #fdfdfd 1%, #fbfbfb 19%, #fdfdfd 20%, #fbfbfb 20%, #fdfdfd 21%, #fbfbfb 21%, #fafafa 36%, #fcfcfc 36%, #fafafa 37%, #fcfcfc 37%, #fafafa 38%, #fcfcfc 38%, #fafafa 42%, #fbfbfb 53%, #f9f9f9 53%, #fbfbfb 55%, #f9f9f9 55%, #f9f9f9 70%, #f6f6f6 70%, #f9f9f9 70%, #f7f7f7 71%, #f9f9f9 71%, #f7f7f7 78%, #f9f9f9 78%, #f6f6f6 79%, #f9f9f9 79%, #f6f6f6 79%, #f9f9f9 80%, #f7f7f7 81%, #f8f8f8 83%, #f6f6f6 83%, #f8f8f8 84%, #f6f6f6 85%, #f6f6f6 89%, #f8f8f8 89%, #f5f5f5 89%, #f8f8f8 91%, #f6f6f6 91%, #f6f6f6 99%, #fdf6f0 100%, #f1f4f9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #fdfdfd 1%, #fbfbfb 19%, #fdfdfd 20%, #fbfbfb 20%, #fdfdfd 21%, #fbfbfb 21%, #fafafa 36%, #fcfcfc 36%, #fafafa 37%, #fcfcfc 37%, #fafafa 38%, #fcfcfc 38%, #fafafa 42%, #fbfbfb 53%, #f9f9f9 53%, #fbfbfb 55%, #f9f9f9 55%, #f9f9f9 70%, #f6f6f6 70%, #f9f9f9 70%, #f7f7f7 71%, #f9f9f9 71%, #f7f7f7 78%, #f9f9f9 78%, #f6f6f6 79%, #f9f9f9 79%, #f6f6f6 79%, #f9f9f9 80%, #f7f7f7 81%, #f8f8f8 83%, #f6f6f6 83%, #f8f8f8 84%, #f6f6f6 85%, #f6f6f6 89%, #f8f8f8 89%, #f5f5f5 89%, #f8f8f8 91%, #f6f6f6 91%, #f6f6f6 99%, #fdf6f0 100%, #f1f4f9 100%);
  /* W3C */
}
.tab-sell-box {
  width: 300px;
  background: #3979b7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3979b7 0%, #2f689f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3979b7), color-stop(100%, #2f689f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3979b7 0%, #2f689f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3979b7 0%, #2f689f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3979b7 0%, #2f689f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3979b7 0%, #2f689f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3979b7', endColorstr='#2f689f', GradientType=0);
  /* IE6-9 */
  box-shadow: inset 0px 3px 5px 0px #336698;
  position: relative;
  left: -10px;
  height: 85px;
}
.tab-sell-box h4,
.tab-sell-box p {
  text-align: right;
}
.tab-sell-box h4 {
  color: #ffffff;
  font-weight: normal;
  margin-right: 10px;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 20px;
}
.tab-sell-box p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #ffffff;
  display: inline-block;
  width: 135px;
  margin: 0px;
}
.tab-sell-box p span {
  font-weight: bold;
  font-size: 23px;
  font-size: 1.4375rem;
  color: #ffca05;
  width: 110px;
}
.type-car,
.type-bike,
.type-part {
  position: absolute;
}
.type-car {
  background: url(../img/shablon_sale.png) no-repeat 0 0;
  width: 148px;
  height: 112px;
  left: 0px;
  top: 10px;
}
.type-bike {
  background: url(../img/shablon_sale.png) no-repeat -14px -232px;
  width: 120px;
  height: 120px;
  bottom: -36px;
  left: 0px;
}
.type-part {
  background: url(../img/shablon_sale.png) no-repeat -11px -128px;
  width: 127px;
  height: 82px;
  top: 35px;
  left: -1px;
}
#Car-reset,
#Bike-reset,
#Part-reset {
  cursor: pointer;
  position: relative;
  top: 5px;
}
.tab-links {
  background: #ffffff;
}
.tab-links li {
  float: left;
  position: relative;
  line-height: 30px;
  height: 60px;
}
.tab-links li a {
  display: inline-block;
  width: 75px;
  border: 1px solid #e2e2e2;
  background: #ececec;
  height: 60px;
  padding: 15px 10px 10px 10px;
  text-align: center;
  font-size: 21px;
  font-size: 1.3125rem;
}
.tab-links li a:hover {
  background: #e4e4e4;
  transition: background-color 0.5s;
}
.tab-links li a:hover:after {
  position: absolute;
  content: "";
  width: 75px;
  height: 5px;
  bottom: 0px;
  left: 0px;
  background: #3a7cb9;
  transition: transform 0.3s;
}
.tab-links li .icon-car:hover:before,
.tab-links li .icon-boat:hover:before,
.tab-links li .icon-truck:hover:before,
.tab-links li .icon-screwdriver:hover:before,
.tab-links li .icon-wheel:hover:before,
.tab-links li .icon-motorsport:hover:before,
.tab-links li .icon-motorbike:hover:before {
  color: #307fb8;
}
.tab-links li.active a {
  background: #ffffff;
  border-bottom: 0px;
  height: 67px;
  position: relative;
  top: -5px;
}
.tab-links li.active a:before {
  color: #2d2d2d;
}
.tab-links li.active a:hover:before {
  color: #2d2d2d;
}
.tab-links li.active a:hover:after {
  height: 0px;
}
.tab-links li a:before {
  margin: 0px;
  float: none;
  display: inline;
  color: #686868;
}
.tab-links li a:hover {
  text-decoration: none;
}
.quick-search {
  display: none;
}
@media screen and (min-width: 768px) {
  .quick-search {
    display: block;
    margin-top: 10px;
  }
}
.quick-links {
  display: none;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .quick-links {
    display: block;
    padding-bottom: 10px;
  }
}
.quick-links li {
  font-size: 13px;
  font-size: 0.8125rem;
  float: left;
  width: 50%;
}
.quick-links a {
  display: block;
  line-height: 16px;
}
.quick-links .flaticon {
  float: left;
  color: #3a7cb9;
}
.quick-links .flaticon:before {
  font-weight: 600;
}
.result-count {
  margin-bottom: 20px;
}
.result-count .btn-wrap {
  float: right;
}
.result-count .btn-wrap .button {
  padding-left: 38px;
  padding-right: 38px;
}
.classic-homepage {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
}
.island,
.sell-my-used-car,
.news--small,
.featured-advert {
  padding: 10px 15px 10px 15px;
}
@media screen and (min-width: 500px) {
  .island,
  .sell-my-used-car,
  .news--small,
  .featured-advert {
    padding: 15px 15px 15px 15px;
  }
}
@media screen and (max-width: screen and (min-width: 768px)) {
  .island,
  .sell-my-used-car,
  .news--small,
  .featured-advert {
    padding: 20px 20px 15px;
  }
}
.classic-homepage > .contain {
  background-color: #ffffff;
  padding: 0px;
}
@media screen and (min-width: 500px) {
  .classic-homepage > .contain {
    min-width: 748px;
    padding: 20px;
  }
}
.classic-homepage a:hover {
  text-decoration: none;
}
.classic-homepage .space-top {
  padding-top: 20px;
}
.splash-image--homepage {
  background: url(../img/bkg/bg-classifieds-m.jpg) center top repeat-x;
}
.col-full-fixed-margin--right {
  float: left;
  width: 100%;
}
.col-full-fixed-margin--right .content {
  min-width: 320px;
  margin-right: 0px;
}
@media screen and (min-width: 500px) {
  .col-full-fixed-margin--right .content {
    border: 1px solid #e2e2e2;
    margin-right: 320px;
  }
}
.col-full-fixed-margin--left {
  float: left;
  width: 100%;
}
.col-full-fixed-margin--left .content {
  margin-left: 320px;
}
@media screen and (min-width: 500px) {
  .col-static--right {
    float: left;
    width: 320px;
    margin-left: -320px;
    padding-left: 20px;
  }
}
.col-static--left {
  float: left;
  width: 320px;
  margin-left: -100%;
}
.news--first {
  padding-top: 20px;
}
.news--first .top-text .link--pill {
  top: 0px;
}
.double-border--top {
  border-bottom: 1px solid #cccccc;
}
.lft {
  float: left;
}
.col-static--right .mpu {
  margin-bottom: 20px;
}
.col-static--right #gpt_7294_mpu1 {
  height: 250px;
}
.date__title {
  font-size: 10px;
  font-size: 0.625rem;
  color: #666666;
  margin-top: 0px;
  margin-bottom: 5px;
}
.date__title .clock {
  border-radius: 100%;
  height: 26px;
  width: 26px;
}
.date__title .clock:after,
.date__title .clock:before {
  border-left: none;
  width: 0;
}
.date__title .clock:after {
  height: 9px;
  left: 12px;
  top: 3px;
}
.date__title .clock:before {
  height: 4px;
  left: 15px;
  top: 8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.news {
  position: relative;
  padding-bottom: 0px;
}
.news__title {
  font-weight: 600;
}
.news__img {
  float: left;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .news__img {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1025px) {
  .news__img {
    padding-right: 20px;
  }
}
.news__img img {
  display: block;
  margin: 0 auto;
}
.news__body {
  float: left;
}
.comments {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #979797;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  height: 25px;
  line-height: 23px;
}
@media screen and (min-width: 768px) {
  .comments {
    font-size: 13px;
    font-size: 0.8125rem;
    margin: 0px 0 0 20px;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #797979;
    border: 1px solid #e1e1e1;
    padding: 0px 5px;
  }
}
@media screen and (min-width: 768px) {
  .comments {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  .comments:before {
    font-family: "phicons";
    content: '\e818';
    margin-right: 5px;
  }
}
.top-text {
  margin-bottom: 5px;
  width: 50%;
  float: right;
}
@media screen and (min-width: 768px) {
  .top-text {
    width: 20%;
  }
}
.top-text .link--pill {
  display: none;
}
.top-text .link--pill {
  display: none;
}
@media screen and (min-width: 768px) {
  .top-text .link--pill {
    display: block;
    position: absolute;
    left: 0px;
    border-radius: 0px;
    background: rgba(44, 44, 44, 0.9);
    max-width: 95px;
    top: 0px;
  }
}
@media screen and (min-width: 1025px) {
  .top-text .link--pill {
    max-width: 160px;
  }
}
.top-text .comments {
  margin-top: 10px;
  cursor: text;
  /*@media @tablet {
            display: inline-block;
        }*/
}
@media screen and (min-width: 768px) {
  .top-text .comments {
    cursor: pointer;
    float: right;
    display: inline-block;
  }
}
@media screen and (min-width: 1025px) {
  .top-text .comments {
    float: right;
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .top-text .comments span {
    display: none;
  }
}
.news__content {
  display: none;
  color: #777777;
  line-height: 1.4;
}
@media screen and (min-width: 1025px) {
  .news__content {
    display: block;
  }
}
.news__sign-off {
  width: 50%;
}
@media screen and (min-width: 500px) {
  .news__sign-off {
    width: 100%;
  }
}
/* WAS PREVIOUSLY USED TO SIT POSTED BY TEX NEXT TO AVATAR
.news__sign-off--img, .news__sign-off--text {
    display: inline-block;
}
*/
.news__sign-off--img {
  margin-right: 10px;
}
.news__sign-off--text {
  font-size: 11px;
  font-size: 0.6875rem;
  width: 40%;
  float: left;
  margin-top: 5px;
}
.news__sign-off--text a {
  color: #979797;
  cursor: text;
}
@media screen and (min-width: 768px) {
  .news__sign-off--text {
    width: 110px;
    font-size: 14px;
    font-size: 0.875rem;
    color: #777777;
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .news__sign-off--text a {
    color: #3a7cb9;
    cursor: pointer;
    width: 80px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    margin-left: 3px;
    position: relative;
    top: 6px;
  }
}
.news__sign-off--text .comments {
  float: right;
}
@media screen and (min-width: 768px) {
  .news__sign-off--text .comments {
    display: none;
  }
}
.news__sign-off--text span {
  display: none;
}
@media screen and (min-width: 768px) {
  .news__sign-off--text span {
    display: block;
    font-family: "phicons";
    background: black;
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 15px;
    text-align: center;
  }
}
.phicon--smiley:before {
  position: relative;
  top: 0px;
  left: 0px;
}
.news--small .news__title {
  font-size: 15px;
  font-size: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .news--small .news__title {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.news--small .news__img {
  width: 40%;
  padding-right: 20px;
  min-width: 140px;
}
@media screen and (min-width: 768px) {
  .news--small .news__img {
    width: 30%;
  }
}
.news--small .news__img img {
  max-height: 126px;
  margin: 0px;
}
.news--small .news__body {
  width: 50%;
}
@media screen and (min-width: 500px) {
  .news--small .news__body {
    width: 60%;
  }
}
@media screen and (min-width: 1025px) {
  .news--small .news__body {
    width: 70%;
  }
}
.news--small .news__content {
  display: none;
}
@media screen and (min-width: 1025px) {
  .news--small .news__content {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    overflow: hidden;
    min-height: 45px;
    max-height: 45px;
    margin: 0px;
  }
}
.news--small .news__sign-off {
  width: 50%;
  vertical-align: top;
  margin-top: 10px -2px;
}
@media screen and (min-width: 768px) {
  .news--small .news__sign-off {
    width: 65%;
  }
}
@media screen and (min-width: 1025px) {
  .news--small .news__sign-off {
    width: 70%;
  }
}
.media {
  position: relative;
  border-bottom: 1px dotted #ccc;
}
@media screen and (min-width: 500px) {
  .media {
    border-bottom: 1px dotted #cccccc;
  }
}
.news--sponsored {
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 5px solid #3a7cb9;
}
.news--sponsored .news__sign-off {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-size: 12px;
  font-size: 0.75rem;
}
.news--sponsored a {
  color: #222222;
}
@media screen and (min-width: 1025px) {
  .news--sponsored .news__img {
    margin-bottom: 0;
  }
}
.news--sponsored .news__img img {
  max-width: 169px;
  width: 100%;
  height: auto;
}
.news--sponsored .news__content {
  min-height: 16px;
  color: #333;
}
.news--sponsored .news__sign-off {
  position: absolute;
  bottom: 0px;
}
.news--sponsored .news__sign-off p {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  color: #333;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.news--sponsored .news__sign-off p:before {
  font-size: 15px;
  font-size: 0.9375rem;
  content: '\e817';
  font-family: "phicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  color: #3a7cb9;
  font-weight: bold;
  margin-right: 5px;
}
.news--sponsored .news__sign-off a {
  font-weight: 600;
  font-size: 14px;
}
.news--sponsored .media {
  border: none;
}
.news--large {
  /*.news__img {
        width: 50%;

        @media screen and (max-width:@tablet) {
            width:100%; padding-right: 0;
        }
    }*/
}
.news--large .news__title {
  font-size: 18px;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .news--large .news__title {
    font-size: 22px;
    font-size: 1.375rem;
  }
}
.news--large .news__img {
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .news--large .news__img {
    width: 31%;
  }
}
.news--large .news__body {
  width: 42%;
}
@media screen and (min-width: 1025px) {
  .news--large .news__body {
    width: 69%;
  }
}
.news--large .link--pill {
  font-size: 12px;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .news--large .comments span {
    display: inline;
  }
}
@media screen and (min-width: 768px) {
  .news--large .news__content {
    display: block;
  }
}
.news--large .news__sign-off {
  width: 68%;
}
.social {
  display: none;
  height: 24px;
  width: 180px;
  float: right;
  margin-top: 13px;
}
.social iframe {
  width: 90px !important;
}
@media screen and (min-width: 768px) {
  .social {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .social {
    display: block;
  }
}
.link--pill {
  font-size: 11px;
  font-size: 0.6875rem;
  display: inline-block;
  padding: 0.462em 1em;
  color: #fff;
  font-weight: 600;
  background-color: #afafaf;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.link--pill:hover {
  background-color: #969696;
}
.more-headlines {
  display: none;
}
.js .more-headlines {
  display: block;
}
.load-more-news {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #3a7cb9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3a7cb9), color-stop(1, #4188ca));
  background: -ms-linear-gradient(bottom, #3a7cb9, #4188ca);
  background: -moz-linear-gradient(center bottom, #3a7cb9 0%, #4188ca 100%);
  background: -o-linear-gradient(#4188ca, #3a7cb9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4188ca', endColorstr='#3a7cb9', GradientType=0);
  display: block;
  border: none;
  background-color: #3a7cb9;
  color: #ffffff;
  font-family: 'Open Sans' sans-serif;
  text-transform: uppercase;
  margin: 20px auto;
  padding: 7px 34px;
  font-weight: 600;
  width: 90%;
  height: 44px;
}
@media screen and (min-width: 1025px) {
  .load-more-news {
    width: 95%;
    height: 44px;
  }
}
.more-headlines--no-js a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #3a7cb9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3a7cb9), color-stop(1, #4188ca));
  background: -ms-linear-gradient(bottom, #3a7cb9, #4188ca);
  background: -moz-linear-gradient(center bottom, #3a7cb9 0%, #4188ca 100%);
  background: -o-linear-gradient(#4188ca, #3a7cb9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4188ca', endColorstr='#3a7cb9', GradientType=0);
  display: inline-block;
  background-color: #3a7cb9;
  color: #ffffff;
  text-transform: uppercase;
  padding: 7px 34px;
  font-weight: 600;
}
.more-headlines--no-js .prev-stories {
  float: left;
}
.more-headlines--no-js .more-stories {
  float: right;
}
.page-title {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 0;
}
.homepage-title {
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .homepage-title {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.topics-dropdown {
  float: right;
}
.topics-dropdown a,
.topics-dropdown button {
  display: inline-block;
  padding-right: 10px;
}
.topics-dropdown a {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 30px;
  font-weight: 600;
  cursor: pointer;
}
.topics-dropdown i {
  background: #ababab;
  cursor: pointer;
  margin-right: 0;
  color: #ffffff;
  font-size: 22px;
  padding: 0 5px;
}
.topics-dropdown button {
  border: none;
  background-color: #afafaf;
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}
.topics-dropdown .icon-down-open:before {
  font-family: 'FontAwesome';
  content: "\f078 ";
  color: #e3e3e3;
  position: relative;
  top: -1px;
  left: -1px;
}
.topics-dropdown .icon-down-closed:before {
  font-family: 'FontAwesome';
  content: "\f077 ";
  color: #e3e3e3;
  position: relative;
  top: -1px;
  left: -1px;
}
.topics {
  background-color: #f2f2f2;
  transition: max-height 0.5s;
}
.topics.is-closed {
  max-height: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.js .topics {
  display: none;
}
.all-topics-link {
  font-size: 13px;
  font-size: 0.8125rem;
  float: right;
  font-weight: 400;
}
.topics_links {
  padding-top: 15px;
  border-top: 1px solid #ffffff;
}
.topics_links > li {
  float: left;
  margin: 0 10px 10px 0;
}
.topics_links .link--pill {
  font-size: 12px;
  font-size: 0.75rem;
  padding: 0.571em 1em;
}
@media screen and (min-width: 768px) {
  .topics_links .link--pill {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
.cars-you-may-like {
  margin-right: -20px;
}
.featured-advert {
  background-color: #f2f2f2;
}
.featured-advert .quick-links {
  display: block;
}
@media screen and (min-width: 500px) {
  .featured-advert .quick-links {
    display: none;
    border-top: none;
  }
}
@media screen and (min-width: 768px) {
  .featured-advert .quick-links {
    display: none;
    border-top: none;
  }
}
.featured-advert_img {
  display: block;
  height: 126px;
  line-height: 126px;
  text-align: center;
  margin-bottom: 10px;
  /*margin-bottom:@half-spacing-unit;
    max-height: 112px;
    overflow: hidden;
    display:block;
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
    zoom: 1;*/
}
.featured-advert_img img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.featured-advert-title {
  font-size: 14px;
  font-size: 0.875rem;
  color: #626262;
  font-weight: 600;
  float: left;
  margin-bottom: 7px;
  text-transform: uppercase;
}
.featured-advert-product {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0;
}
@media screen and (min-width: 500px) {
  .featured-advert-product {
    border-bottom: none;
  }
}
@media screen and (min-width: 768px) {
  .featured-advert-product {
    border-bottom: none;
  }
}
.featured-advert-product a {
  height: 44px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}
.advert-price {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333333;
}
.advert-price--small-box {
  display: none;
}
@media screen and (min-width: 768px) {
  .advert-price--small-box {
    display: block;
    float: left;
    height: 25px;
  }
}
.advert-price--large-box {
  float: right;
}
@media screen and (min-width: 768px) {
  .advert-price--large-box {
    display: none;
  }
}
.c-1-3 {
  float: left;
  width: 100%;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .c-1-3 {
    width: 50%;
  }
}
@media screen and (min-width: 1025px) {
  .c-1-3 {
    width: 33.3333%;
  }
}
.sell-my-used-car h3 {
  text-transform: capitalize;
}
.sell-my-used-car .double-border--top {
  padding-bottom: 7px;
  text-align: center;
  border-bottom: none;
}
@media screen and (min-width: 768px) {
  .sell-my-used-car .double-border--top {
    border-bottom: 1px solid #cccccc;
  }
}
.sell-my-used-car .double-border--top input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sell-my-used-car .sell-my {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  float: left;
}
.sell-my-used-car .quick-links ul {
  margin-left: 65px;
}
.bullet__icon,
.partner-content ul .flaticon {
  float: left;
}
.bullet__text,
.partner-content ul span {
  display: block;
  margin-left: 14px;
}
.partner-content {
  border: 1px solid #cccccc;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
}
.partner-content ul {
  margin-bottom: 20px;
}
.partner-content .flaticon {
  color: #3a7cb9;
  margin-right: 0;
}
.partner-content .msm {
  background: url(../img/pc-moneysupermarket.png) no-repeat;
  padding-top: 188px;
}
.partner-content .fmc {
  background: url(../img/pc-whocanfixmycar.png) no-repeat;
  padding-top: 188px;
}
.partner-content .cl4us {
  background: url(../img/pc-carloan4u.png) no-repeat;
  padding-top: 188px;
}
.partner-content .wwise {
  background: url(../img/pc-warrantywise.png) no-repeat;
  padding-top: 206px;
}
.partner-content .partner-content__child {
  font-weight: 300;
  padding: 0 20px 20px;
}
.partner-content h3 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
}
.partner-content p {
  margin-bottom: 20px;
}
.partner-content .btn-wrap {
  text-align: center;
}
.partner-content .btn-wrap .btn {
  font-size: 26px;
  font-size: 1.625rem;
  background: #5F9638;
  padding: 4px 0;
  width: 201px;
}
.partner-content .flex-direction-nav a {
  text-indent: -9999px;
  top: 30%;
  transition: all .3s ease;
}
.partner-content .flex-direction-nav a i {
  font-size: 45px;
  font-size: 2.8125rem;
  display: block;
  text-indent: 0;
  color: #3a7cb9;
}
.partner-content .flex-direction-nav .flex-next {
  right: -36px;
}
.partner-content .flex-direction-nav .flex-prev {
  left: -36px;
}
.partner-content .flexslider:hover .flex-next {
  right: 13px;
}
.partner-content .flexslider:hover .flex-prev {
  left: 0;
}
.partner-content .flex-control-paging li a {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #cccccc;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 15px;
  text-indent: -9999px;
}
.partner-content .flex-control-paging li a.flex-active {
  background: #3a7cb9;
}
.partner-content .flex-control-nav {
  bottom: -10px;
}
.advert-wrapper {
  max-width: 1032px;
  margin: 0 auto;
  padding: 15px 0;
}
.switch-homepage-wrap {
  zoom: 1;
  max-width: 1032px;
  margin: 0 auto;
  margin-top: 30px;
}
.switch-homepage-wrap:after {
  content: "";
  display: table;
  clear: both;
}
.switch-homepage-wrap .switch-homepage {
  float: right;
}
.switch-homepage-wrap .switch-homepage * {
  box-sizing: border-box;
}
.switch-homepage-wrap .switch-homepage *:before,
.switch-homepage-wrap .switch-homepage *:after {
  box-sizing: border-box;
}
.switch-homepage-wrap .switch-homepage a {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  color: #ffffff;
  padding: 10px 40px;
  display: block;
  float: left;
  font-weight: 600;
}
.switch-homepage-wrap .switch-homepage a .under-l {
  display: inline-block;
  border-bottom: 1px dotted #FFF;
}
.switch-homepage-wrap .switch-homepage a .beta-text {
  text-transform: uppercase;
  color: #fed146;
}
.switch-homepage-wrap .switch-homepage .sh-link-a {
  -webkit-border-radius: 15px 0 0 0;
  -moz-border-radius: 15px 0 0 0;
  border-radius: 15px 0 0 0;
  font-size: 13px;
  font-size: 0.8125rem;
  background-color: #3a7cb9;
  padding-bottom: 9px;
}
.switch-homepage-wrap .switch-homepage .sh-link-a:hover {
  background-color: #346fa6;
}
.switch-homepage-wrap .switch-homepage .sh-link-b {
  -webkit-border-radius: 0 15px 0 0;
  -moz-border-radius: 0 15px 0 0;
  border-radius: 0 15px 0 0;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #255279;
}
.switch-homepage-wrap .switch-homepage .sh-link-b:hover {
  background-color: #1f4565;
}
.switch-homepage-wrap .switch-homepage .sh-link-b img {
  display: none;
  height: 10px;
  margin-left: 5px;
  float: right;
}
.switch-homepage-wrap .switch-homepage .sh-link-b:after {
  float: right;
  display: block;
  content: url(../img/right-2-2.png);
  height: 10px;
  margin-left: 5px;
}
.classic-homepage + .site-footer .footer-linkspam {
  display: none;
}
#gpt_7294_classad1,
#gpt_7294_classad2,
#gpt_7294_classad3,
#gpt_7294_classad4,
#gpt_7294_classad5 {
  display: none;
}
@media screen and (min-width: 1025px) {
  #gpt_7294_classad1,
  #gpt_7294_classad2,
  #gpt_7294_classad3,
  #gpt_7294_classad4,
  #gpt_7294_classad5 {
    display: block;
  }
}
.siteContainer {
  max-width: 670px;
  min-width: 320px;
  margin-bottom: 20px;
}
@media screen and (min-width: 500px) {
  .siteContainer {
    margin-right: 320px;
  }
}
#sitefeature {
  table-layout: fixed;
  width: 100%;
  display: table;
  overflow: hidden;
  min-height: 308px;
  background-color: #3b3b3b;
}
#sitefeature .feature--caption {
  padding: 10px;
}
#sitefeature .feature__caption {
  position: relative;
}
#sitefeature .feature__caption a {
  color: #fff;
}
#sitefeature .feature__Image {
  display: block;
}
@media screen and (min-width: 970px) {
  #sitefeature .feature__Image {
    width: 61.53846153846154%;
    display: table-cell;
    position: relative;
  }
}
#sitefeature .feature__Image img {
  max-width: 100%;
  vertical-align: bottom;
}
#sitefeature .feature__Image .feature--caption {
  display: none;
}
@media screen and (min-width: 970px) {
  #sitefeature .feature__Image .feature--caption {
    display: block;
    top: 20px;
    right: 0px;
    background: #fff;
  }
}
#sitefeature .feature__caption {
  display: block;
  background: #3b3b3b;
}
@media screen and (min-width: 970px) {
  #sitefeature .feature__caption {
    width: 36.92307692307692%;
    display: table-cell;
    vertical-align: top;
    border-left: 2px solid #343434;
  }
}
#sitefeature .feature__caption h3 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  float: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#sitefeature .feature__caption h3 a {
  color: #fff;
}
@media screen and (min-width: 970px) {
  #sitefeature .feature__caption h3 {
    margin-top: 60px;
  }
}
#sitefeature .feature__caption p {
  margin-top: 0px;
}
#sitefeature .feature__caption h3,
#sitefeature .feature__caption p {
  padding: 10px 10px 10px 15px;
  color: #fff;
}
#sitefeature .feature__caption p {
  word-wrap: break-word;
  padding-top: 0px;
  padding-bottom: 15px;
}
#sitefeature .feature__caption .feature--caption {
  background: #242424;
  color: #fff;
  top: -38px;
}
#sitefeature .feature__caption .feature--caption a {
  color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 970px) {
  #sitefeature .feature__caption .feature--caption {
    top: 20px;
  }
}
#sitefeature .feature--caption {
  position: absolute;
  top: 0px;
}
.feature__Image--sign--off {
  width: 100%;
  padding: 10px;
  padding: 10px 15px 10px 15px;
  overflow: hidden;
}
@media screen and (min-width: 970px) {
  .feature__Image--sign--off {
    position: absolute;
    bottom: 0px;
  }
}
body.fs_182 .feature__Image--sign--off {
  min-height: 81px;
}
.feature__Image--sign--off .feature__Image--sign--off-author {
  width: 60%;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.feature__Image--sign--off .feature__Image--sign--off-author span {
  background: #000;
  color: #fff;
  margin-right: 10px;
}
.feature__Image--sign--off .feature__Image--sign--off-author a {
  color: #fff;
  font-weight: 600;
}
.feature__Image--sign--off .feature__Image--sign--off-comments {
  width: 30%;
  float: right;
  text-align: right;
}
#sitefeature .feature__Image--sign--off {
  display: none;
}
@media screen and (min-width: 970px) {
  #sitefeature .feature__Image--sign--off {
    display: block;
  }
}
#sitefeature .feature__Image--sign--off p:first-child {
  padding: 0px;
  clear: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
#sitefeature .feature__Image--sign--off-comments {
  overflow: visible;
  width: 35%;
}
#sitefeature .feature__Image--sign--off-comments a {
  width: 55px;
  background: none;
  border: none;
  color: #ffffff;
  text-align: left;
  padding: 0px;
}
.mobile-navigation {
  background: #111111;
  display: block;
  width: 100%;
  z-index: 1;
}
.mobile-navigation .mobile-navigation__children {
  zoom: 1;
  max-width: 1032px;
  padding: 0 15px;
  text-align: center;
  margin-right: -5px;
}
.mobile-navigation .mobile-navigation__children:after {
  content: "";
  display: table;
  clear: both;
}
.mobile-navigation .mobile-navigation__children li {
  position: relative;
  float: left;
  width: 33.333%;
  padding-right: 5px;
  min-height: 50px;
  line-height: 29px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mobile-navigation .mobile-navigation__children li a {
  font-size: 10px;
  font-size: 0.625rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #1b1b1b;
  border: 1px solid #383838;
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  border-bottom-color: #1b1b1b;
  border-right-color: #1b1b1b;
}
.mobile-navigation .mobile-navigation__children li i {
  display: block;
  margin-top: 10px;
  font-size: 24px;
  font-size: 1.5rem;
  color: #ffd24d;
}
@media screen and (min-width: 500px) {
  .mobile-navigation {
    display: none;
  }
}

