﻿
/* =============================================================================
   TOC
   =============================================================================

    Carousels

*/

/* =============================================================================
   Carousels
   ========================================================================== */

    .carousel-screen-container
    {
        position:relative;
    }
    
    .async-screen
    {
	    display:none;
	    position:absolute;
	    top:0;
	    left:0;
	    height:100%;
	    width:100%;
	    background:transparent url(/img/ajax-screen.png) repeat 0 0;
	    z-index: 2;
    }
    
    .async-loader
    {
	    position:absolute;
	    top:50%;
	    left:50%;
	    margin-top:-26px;
	    margin-left:-26px;
	    height:32px;
	    width:32px;
	    padding:20px;
	    background:#fff url(/img/ajax-loader.gif) no-repeat 50% 50%;
        -webkit-box-shadow: 0 1px 20px #000;
        -moz-box-shadow: 0 1px 20px #000;
        box-shadow: 0 1px 20px #000;		
        -webkit-border-radius:8px;
        -moz-border-radius:8px;
        border-radius:8px;	
        z-index: 3;
    }
    
    .h4
	{
		font-family: Georgia, Serif;
		font-size: 16px;
	}
    


