﻿
.avlModalHideClass
{
	position:absolute;
	top:0;
	left:-9999px;
	display:none;
}

#avlModal 
{ 
	width:330px; 
	padding:20px;
	text-align:left;
	-webkit-box-shadow: 0 1px 8px #333;
	border-radius:8px;
}	

#avlModal h1
{ 
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
	border-bottom:2px solid #ddd;
	padding-bottom:10px;
}

#avlModal p
{ 
	line-height:20px;
	font-size:13px;
}

#avlModal .overlay-close
{
	position:absolute; 
	display:block;
	top:-14px; 
	right:-14px;
	width:28px;
	height:28px;
	z-index:9999;
	background:transparent url(/img/sprite-elements-trans.png) no-repeat -201px -56px;
}

.modal-link
{
	margin-left:5px; 
	cursor:pointer;
}	

.modal-link img { vertical-align:text-top; }

.session-button-container
{
	margin-top:20px;
}

.session-button-container
{
	text-align:center;
}
