﻿/** What follows is CSS that the jquery UI needs to display the tooltip **/

/*! jQuery UI - v1.9.2 - 2013-05-02
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.tooltip.css
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
/* Fades and background-images don't work well together in IE6, drop the image */
* html .ui-tooltip {
	background-image: none;
}
body .ui-tooltip { 
	/* border-width: 2px; */

}



/* ABOVE: jquery-ui stuff for tooltip */







#pwdValidateNumberTxt.pwdInvalid, #pwdValidateCapitalTxt.pwdInvalid
{
   font-weight: bold;
   color: #990000;
}

#pwdValidateLengthTxt.pwdInvalid
{
	font-weight: bold;
	color: #d87b29;
}

.pwdStrengthTooltip, .pwdStrengthTooltipIsStrong, .pwdStrengthTooltipIsWeak, .pwdStrengthTooltipIsShort
{
	color: #666;
	background-color: #fafafa;
	padding:15px;
	width: 200px;
	min-height: 65px;
	border-width: 6px;
	border-style: solid;
	border-color: #666666;
	text-align: left;
	font-size: 11px;

	box-shadow: 2px 2px 5px #888;
}

	.pwdStrengthTooltipIsStrong
	{
		border-color: #8b8d02;
	}

	.pwdStrengthTooltipIsWeak
	{
		border-color: #990000;
	}

	.pwdStrengthTooltipIsShort
	{
		border-color: #d87927;
	}

#pwdStrengthValidityIndicator
{
	display: none;
	font-weight: bold;
	font-style: italic;
	margin-top: 10px;
}

#pwdStrengthStrong, #pwdStrengthShort, #pwdStrengthWeak
{
	display: none;
	text-transform: uppercase;
}

#pwdStrengthStrong
{
	color: #3a3;
}

#pwdStrengthShort
{
	color: #d87b29;
}

#pwdStrengthWeak
{
	color: #990000;
}

/* Tooltip "connector" arrow */

.pwdStrengthTooltip::before, 
.pwdStrengthTooltipIsStrong::before,
.pwdStrengthTooltipIsWeak::before,
.pwdStrengthTooltipIsShort::before
{
	content: "";
	position: absolute;
	bottom: auto;
	top: 5px;
	left: -16px;
	border-width: 10px 10px 10px 0;
	border-style: solid;
	border-color: transparent #666666;
	display: block;
	width: 0;
}
.pwdStrengthTooltipIsStrong::before
{
	border-color: transparent #8b8d02;
}
.pwdStrengthTooltipIsWeak::before
{
	border-color: transparent #990000;
}
.pwdStrengthTooltipIsShort::before
{
	border-color: transparent #d87927;
}

.pwdStrengthTooltip::after,
.pwdStrengthTooltipIsStrong::after,
.pwdStrengthTooltipIsWeak::after,
.pwdStrengthTooltipIsShort::after
{
	content: "";
	position: absolute;
	bottom: auto;
	top: 5px;
	left: -8px;
	border-width: 10px 10px 10px 0;
	border-style: solid;
	border-color: transparent #fafafa;
	display: block;
	width: 0;
}


#pwdStrengthCriteriaHolder
{
    display: none;
}