
/* =============================================================================
   TOC
   =============================================================================

    NORMALIZATION
    -------------
    HTML5 display definitions
    Base
    Links
    Typography
    Lists
    Embedded content
    Figures
    Forms
    Tables

    SITE STYLES
    -----------
    Master Page
    Shared Classes

*/


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
	audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
	audio:not([controls]) { display: none; }
	[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */
   
	html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
	body { margin: 0; font-size: 13px; line-height: 1.231; overflow-x: hidden; }
	body, button, input, select, textarea { font-family: sans-serif; color: #333; }
	
	::-moz-selection { background:#336D9C; color: #fff; text-shadow: none; }
	::selection { background:#336D9C; color: #fff; text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
	
	a:focus { outline: thin dotted; }
	a:hover, a:active { outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
	
	abbr[title] { border-bottom: 1px dotted; }
	b, strong { font-weight: bold; }
	blockquote { margin: 1em 40px; }
	dfn { font-style: italic; }
	hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
	ins { background: #ff9; color: #000; text-decoration: none; }
	mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
	pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
	pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
	q { quotes: none; }
	q:before, q:after { content: ""; content: none; }
	small { font-size: 85%; }
	sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
	sup { top: -0.5em; }
	sub { bottom: -0.25em; }
	h1,h2,h3,h4,h5,h6 { margin:0; padding:0; font-weight:normal; }

/* =============================================================================
   Lists
   ========================================================================== */

	dd { margin: 0 0 0 40px; }
	ul, ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
	/* for autocomplete */
	ul.ui-front.ui-autocomplete.ui-menu {
		z-index: 999;
		font-family: Georgia, Serif;
		padding: 15px;
	}

/* =============================================================================
   Embedded content
   ========================================================================== */

	img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
	svg:not(:root) { overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */

	figure { margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */

	form { margin: 0; }
	fieldset { border: 0; margin: 0; padding: 0; }
	label { cursor: pointer; }
	legend { border: 0; *margin-left: -7px; padding: 0; }
	button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
	button, input { line-height: normal; *overflow: visible; }
	table button, table input { *overflow: auto; }
	button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
	input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
	input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
	input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
	input:focus { outline: none; }
	button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
	textarea { overflow: auto; vertical-align: top; resize: vertical; }
	input:valid, textarea:valid {  }

/* =============================================================================
   Tables
   ========================================================================== */
	
	table { border-collapse: collapse; border-spacing: 0; }
	td { vertical-align: top; }


/* =============================================================================
   Layout
   ========================================================================== */
	h2, .h2 
	{
		font-family: Georgia, Serif;
		font-size: 30px;
	}
	h3, .h3
	{
		font-family: Georgia, Serif;
		font-size: 22px;
	}
	h5, .h5
	{
		font-family: Georgia, Serif;
		font-size: 14px;
		font-weight: bold;
	}
	a 
	{ 
		color: #333;
		text-decoration: none; 
	}
	.float-container { 
		display: block;
		overflow: hidden;
	}
	header
	{
		height: 103px;
		margin: 0 auto;
		position: relative;
		width: 955px;
	}
	header:before
	{
		background: transparent url(/img/header-left.jpg) no-repeat 0 0;
		content: "";
		height: 103px;
		left: -250px;
		position: absolute;
		width: 320px;
	}
	header:after
	{
		background: transparent url(/img/header-right.jpg) no-repeat 0 0;
		content: "";
		height: 103px;
		position: absolute;
		right: -350px;
		width: 320px;
	}
	header nav 
	{
		color: #333;
		float: right;
		font-size: 11px;
		line-height: 17px;
		margin-top: 40px;
		position: relative;
		padding-right: 10px;
	}
	header nav > a
	{
		border-right: 1px solid #CCC;
		color: #333;
		margin: 0 5px 0 5px;
		padding-right: 10px;
		text-decoration: none;
		margin-bottom: 20px;
		display: inline-block;
	}
	header nav a img
	{
		margin-right: 5px;
	}
	header nav a:hover
	{
		text-decoration: underline;
	}

	.account-hover { 
		overflow: visible;
		display: inline-block;
		padding-bottom: 20px;
	}
	.account-hover:hover .account-dropdown,
	.account-hover .show-dropdown { 
		display: block;
		z-index: 100000;
	}
	header nav a {
		border-right: 1px solid #CCC;
		color: #333;
		margin: 0px;
		text-decoration: none;
		padding: 0px 8px 0px 5px;
		cursor: pointer;
	}
	.account-dropdown {
		display: none;
		background-color: #ffffff;
		border: 1px solid #DBDBDB;
		z-index: 10000;
		position: absolute;
		right: 0px;
		width: 300px;
		margin-top: 15px;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
	}
	.account-dropdown:before {
		content: " ";
		display: block;
		position: absolute;
		top: -11px;
		left: 250px;
		border-bottom: 10px solid #cccccc;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}
	.account-dropdown:after {
		content: " ";
		display: block;
		position: absolute;
		top: -10px;
		left: 250px;
		border-bottom: 10px solid white;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}
	.account-dropdown a {
		padding: 12px 15px 10px 15px;
		display: block;
		margin-bottom: 0px;
	}
	.account-dropdown  a + a {
		border-top: 1px solid #f0f0f0;
	}
	
	.account-dropdown a.small {
		border-top: 1px solid #ccc;
	}
	.account-dropdown a.small .link-title { 
		color: #363636;
		font-size: 12px;
	}
	.account-dropdown a:hover { 
		text-decoration: none;
		background-color:#F0F0F0;
	}
	.account-dropdown img {
		width: 100%;
	}
	.account-dropdown a:hover img {
		opacity: 0.7;
	}
	.link-title {
		display: block;
		color: #000;
		font-size: 12px;
	}
	.link-description {
		color: #929292;
		margin-top: 4px;
		display:block;
	}
	.login-logout { 
		position: relative;
	}
	.login-logout:after {
		content: " ";
		position: absolute;
		border-left: 4px solid transparent;
		border-top: 5px solid #929700;
		border-right: 4px solid transparent;
		right: -6px;
		top: 4px;
	}
	#content {
		overflow-x: hidden;
	}
	footer nav
	{
		border-left: 1px dotted #B2B2B2;
		float: left;
		height: 200px;
	}
	footer nav a
	{
		clear: both;
		display: block;
		font-size: 12px;
		line-height: 21px;
		margin: 0 20px 0 80px;
	}
	footer nav a:hover
	{
	    text-decoration: underline;
	}

	#container
	{
		margin: 0 auto;
		width: 100%;
	}
	#beta-bar
	{
		background-color: #D5EDEF;
		color: #000;
		font-family: Georgia, Serif;
		height: 30px;
		width: 100%;
	}
	#beta-bar p
	{
		line-height: 30px;
		margin: 0 auto;
		width: 955px;
	}
	#beta-bar a
	{
		color:#000;
		font-size: 16px;
		font-weight: bold;
		text-decoration: underline;
	}
	#header-container
	{
		background: transparent url(/img/header-gradient.jpg) repeat-x 0 0;
		height: 103px;
		min-width: 955px;
	}
	#cdb-nav-logo
	{
		float:left;
		height: 54px;
		position: relative;
		top: 20px;
		width: 205px;
	}
	#cdb-tagline
	{
		color: #201F1F;
		float: left;
		font-family: Georgia, Serif;
		font-size: 14px;
		margin: 40px 0 0 10px;
	}
	#cdb-tagline em
	{
		color: #6398A3;
	}
	#header-links
	{
		width: 340px;
		float: right;
		border: 1px solid red;
		height: 25px;
	}
	#nav-container
	{
		background: transparent url(/img/nav-gradient.jpg) repeat-x 0 0;
		height: 45px;
		position: relative;
		width: 100%;
		min-width: 955px;
	}
	#nav-container nav
	{
		margin: 0 auto;
		position: relative;
		width: 955px;
	}
	#top-nav *
	{
		float: left;
		position: relative;
	}
	#top-nav a.nav-link
	{
		background: transparent url(/img/navbar-button-gradient.jpg) repeat-x 0 0;
		color: #FFF;
		font-size: 12px;
		font-weight: bold;
		line-height: 45px;
		text-align: center;
		text-transform: uppercase;
		width: 157px;
	}
	#top-nav a.nav-link:hover
	{
		background-position: -45px;
		color: #70C5D2;
	}
	#search-box
	{
		height: 68px;
		margin-top: -11px;
		position: absolute;
		right: 0;
/*		width: 405px;
*/		z-index:999;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}
	#search-box, #search-box #input-container { width: 479px; }

	#main
	{
		margin: 0 auto;
		width: 955px;
	}
	#sub-nav
	{
		height: 214px;
		width: 955px;
	}
	.browse-section
	{
		background: transparent url(/img/browse-section-background.jpg) no-repeat -48px 0;
		float: left;
		height: 214px;
		width: 560px;
		position:relative;
		z-index:1;
	}
	#artist-signup
	{		
		float: left;
		margin-left: 10px;
		width: 384px;
		margin-top: 22px;
	}
	#subnav-h2 
	{
		margin-top: 15px;
		width: 360px;
		font-size:23px;
	}
	#subnav-h2 .highlight { 
		display:block;
	}
	#subnav-h3
	{
		margin: 30px auto 00 auto;
		width: 320px;
	}
    .hlSpotlightBanner{
		position:absolute;
		width: 260px;
		height: 212px;
		right: 0;
		bottom: 0;	
	}
	#browse-nav
	{
		line-height: 20px;
		margin-top: 15px;
		width: 255px;
	}
	#browse-nav a
	{
		float: left;
		text-decoration: underline;
		width: 100px;
	}
	#browse-nav a:hover
	{
		color: #000;
	}
	#browse-nav a:last-child
	{
		width: 150px;
	}
	#top-sellers
	{
		margin-top: 30px;
	}
	#footer-container
	{
		background: #f2f2f2;
		background: -moz-linear-gradient(top,  #f2f2f2 0%, #f9f9f9 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#f9f9f9));
		background: -webkit-linear-gradient(top,  #f2f2f2 0%,#f9f9f9 100%);
		background: -o-linear-gradient(top,  #f2f2f2 0%,#f9f9f9 100%);
		background: -ms-linear-gradient(top,  #f2f2f2 0%,#f9f9f9 100%);
		background: linear-gradient(top,  #f2f2f2 0%,#f9f9f9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f9f9f9',GradientType=0 );
		float:left;
		height: 342px;
		width: 100%;
		min-width: 955px;
		margin-top:40px;
	}
	#social-bar
	{
		min-width: 955px;
		background: #ededed;
		background: -moz-linear-gradient(top,  #ededed 0%, #c4c4c4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#c4c4c4));
		background: -webkit-linear-gradient(top,  #ededed 0%,#c4c4c4 100%);
		background: -o-linear-gradient(top,  #ededed 0%,#c4c4c4 100%);
		background: -ms-linear-gradient(top,  #ededed 0%,#c4c4c4 100%);
		background: linear-gradient(top,  #ededed 0%,#c4c4c4 100%);
		box-shadow:         0px 4px 4px rgba(50, 50, 50, 0.75);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#c4c4c4',GradientType=0 );
		height: 100px;
		-webkit-box-shadow: 0px 4px 4px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 4px 4px rgba(50, 50, 50, 0.75);
	}
	#social-options
	{
		width: 955px;
		height: 100px;
		margin: 0 auto;
	}
	#follow-us
	{
		border-left: 2px dotted #999;
		float: left;
		font-family: Georgia, Serif;
		font-size: 18px;
		height: 40px;
		margin: 23px 0 0 34px;
		padding: 16px 0 0 25px;
		width: 180px;
	}
	#social-icons-container
	{
		float: left;
		height: 50px;
		margin-top: 23px;
		margin-left: -34px;
		padding-left: 5px;
	}
	.social-icon
	{
		float: left;
		height: 31px;
		margin: 10px 0 0 8px;
		width: 30px;
	}
	#facebook-icon
	{
		background: transparent url(/img/sprite-elements-trans.png) no-repeat 0 -107px;
	}
	#twitter-icon
	{
		background: transparent url(/img/sprite-elements-trans.png) no-repeat -30px -107px;
	}
	#youtube-icon
	{
		background: transparent url(/img/sprite-elements-trans.png) no-repeat -60px -107px;
	}
	#google-icon 
	{
		background: transparent url(/img/sprite-elements-trans.png) no-repeat -187px -110px;
	}
	
	#footer-navigation
	{
		margin: 30px auto;
		position: relative;
		width: 925px;
	}
	#footer-navigation:before
	{
		background: transparent url(/img/footer-left.jpg) no-repeat 0 0;
		content: "";
		height: 235px;
		left: -220px;
		position: absolute;
		top: -20px;
		width: 264px;
	}
	#footer-navigation:after
	{
		background: transparent url(/img/footer-right.jpg) no-repeat 0 0;
		content: "";
		height: 235px;
		position: absolute;
		right: -270px;
		width: 344px;
		top: -20px;
	}
	#footer-navigation nav
	{
		position: relative;
	}
	#footer-navigation nav:first-child
	{
		border: 0;
	}
	#footer-navigation div
	{
		height: 25px;
		position: absolute;
		top: 5px;
		left: 47px;
		width: 26px;
	}
		
	#company-info-icon
	{
		background: transparent url(/img/sprite-elements-trans.png) no-repeat -95px -56px;
	}
	#help-icon
	{
		background: transparent url(/img/sprite-elements-trans.png) no-repeat -121px -56px;
	}
	#myaccount-icon
	{
		background: transparent url(/img/sprite-elements-trans.png) no-repeat -147px -56px;
	}
	#more-icon
	{
		background: transparent url(/img/sprite-elements-trans.png) no-repeat -386px -1px;
	}
	#bottom-banner
	{
		background: transparent url(/img/home-bottombanner.jpg) no-repeat 0 0;
		display: block;
		height: 100px;
		margin-bottom: 30px;
		text-indent: -9999px;
		width: 955px;
	}
	#bottom-banner:hover
	{
		background-position: 0 -100px;
	}
	.browse-box-wrapper {
		position: relative;
		display: inline-block;
	}
	.browse-box-wrapper:hover #browse-box {
		display: block;
	}
	#browse-box
	{
		display: none;
		z-index: 99999;
		position: absolute;
		padding: 20px 20px 20px 27px;
		width: 450px;
		border: 1px solid #212121;
		top: 44px;
		left: -2px;
		line-height: 20px;
		background: #F8F8F8;
		margin: 0;
	}
	#browse-box nav
	{
		float: left;
		width: 160px;
	}
	#browse-box nav h5
	{
		float: left;
		width: 160px;
		font-size: 16px;
		margin-bottom: 15px;
		font-style: normal;
		font-weight: normal;
	}
		
	#browse-box-genres
	{
	    padding-left: 27px;
		float:left;
	    border-left: 1px solid #DDD;
	}
	#browse-box-genres div
	{
	    width: 300px;
	}
	
	#browse-box nav a
	{
		font-size: 12px;
		width: 150px;
		float: left;
		line-height: 25px;
	}
	
	#browse-box nav a:hover
	{
		text-decoration: underline;		
	}
	table { 
		border: none;
		border-color: transparent !important;
	}
	#overlay-cart-table
	{
		border: 0px;
		width: 100%;
		margin-top: 20px;
	}
	#overlay-cart-table thead tr {
		background-color: #f0f0f0;
	}
	#overlay-cart-table thead tr th { 
		font-size: .9em;
		text-align: left;
		padding: 12px 15px;
	}
	#overlay-cart-table tbody tr + tr {
		border-top: 1px solid #ccc;
	}
	#overlay-cart-table td,
	#overlay-cart-table th {
		padding: 15px 15px;
	}

	.overlay-cart-album-row + .overlay-cart-album-row
	{
		border-top: 1px solid #e8e5e5;
	}
	.overlay-album-td
	{
		width: 255px;
	}
	.overlay-album-td a
	{
		display: block;
		margin: 0 auto;
		width: 100px;
	}
	.overlay-album-desc
	{
		width: 205px;
	}
	.overlay-album-qty
	{
		width: 110px;
	}
	.overlay-price
	{
		text-align: center;
		width: 30px;
	}
	.overlay-album-price
	{
		color: #333;
		text-align: center;
	}
	.overlay-album-total
	{
		color: #333;
		text-align: center;
		width: 30px;
	}
	.overlay-album-first-desc
	{
		color: #333;
		font-size: 13px;
		font-weight: bold;
		font-style: italic;
	}
	.overlay-album-extra-details
	{
		color: #CC0000;
		font-weight: bold;
	}
	.overlay-album-second-desc
	{
		color: #333;
		font-size: 12px;
	}
	.qty-no-edit
	{
		color: #333;
		display: block;
		text-align: center;
	}
	.qty-update-link, .overlay-album-remove
	{
		color: #333;
		font-size: 11px;
		text-align: center;
		text-decoration: underline;
		cursor: pointer;
	}
	#overlay-button-container
	{
		display: block;
		margin-top: 25px;
		width: 955px;
	}	
	#overlay-checkout, #overlay-top-checkout
	{
		float: right;
	}
	#overlay-continue, #overlay-top-continue, #wait-overlay-continue
	{
		float: left;
	}
	#bread-crumb-container
	{
		margin: 30px 0 15px 0;
		width: 100%;
		overflow: hidden;
		display: block;
	}
	.price-container .section-text {
		width: 90px;
		display: inline-block;
		text-align: center;
	}
	.price-container .price-label {
		padding: 7px 0px;
		font-family: Georgia;
		font-size: 17px;
		width: 130px;
		display: inline-block;
	}
	table.bottom { 
		width: 100%;
	}
	.bottom-header { 
		display: block;
		overflow: hidden;
	}
	.bottom-header .section-sub-heading {
		float: left;
		display: inline-block;
		margin-right: 10px;
	}
	.bottom-header .edit-link {
		margin-top: 2px;
		display: inline-block;
		font-style: normal;
	}
	#bread-crumb li
	{
		float: left;
		font-family: Georgia, Serif;
		font-size: 10px;
		font-style: normal;
		margin-right: 5px;
	}
	#bread-crumb li a
	{
		color: #929700;
		font-weight: bold;
		text-decoration: underline;
	}
	#bread-crumb ul li:last-child a
	{
		color: #4C4C4C;
		font-family: Arial, Sans-Serif;
		font-style: normal;
		font-weight: normal;
		text-decoration: none;
	}	
	
	.blipsContainer .blip
	{
	    display:none;
	}
	
	.bread-crumb-last-item
	{
	    color: #4C4C4C;
		font-family: Arial, Sans-Serif;
		font-style: normal;
		font-weight: normal;
		text-decoration: none;
	}
	
	#genre-carousels-container
	{
		float: left;
		width: 695px;
	}
	#genre-carousels-container .bx-wrapper
	{
		margin: 0 0 0 85px;
	}
	
	#update-action
	{
		display: none;
	}
	#right-page-content
	{
		float: left;
		width: 650px;
		margin-left: 50px;
	}
	
	
/* =============================================================================
   Shared Classes
   ========================================================================== */
	.genre-header
	{
		color: #333;
		font-family: Arial, Sans-Serif;
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 30px;
	}
	.highlight
	{
		color: #6398A3;
	}
	.txt-input-gradient 	
	{
		background: #5d6069;
		background: -moz-linear-gradient(top,  #5d6069 0%, #191919 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d6069), color-stop(100%,#191919));
		background: -webkit-linear-gradient(top,  #5d6069 0%,#191919 100%);
		background: -o-linear-gradient(top,  #5d6069 0%,#191919 100%);
		background: -ms-linear-gradient(top,  #5d6069 0%,#191919 100%);
		background: linear-gradient(top,  #5d6069 0%,#191919 100%);
		border-radius: 5px;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d6069', endColorstr='#191919',GradientType=0 );
	}
	.login-logout, .link-underlined
	{
		border: 0;
		color: #929700;
		font-weight: bold;
	}
	.browse-link
	{
		text-indent: -10px;
	}
	.browse-link:after
	{
		background: transparent url(/img/sprite-elements-trans.png) no-repeat -57px -87px;
		content: "";
		height:7px;
		left: 130px;
		position: absolute;
		top: 19px;
		width: 10px;
	}
	.browse-nav-extended /* for IE */
	{
		width: 150px !important;
	}
	.search-input
	{
		border: 1px solid #CCC;
		color: #666;
		font-family: Georgia, Serif;
		height: 43px;
		left: 12px;
		padding-left: 15px;
		top: 10px;
		width: 350px;
		box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		font-size: 1.1em;
	}
	.qty-input
	{
		border: 1px solid #CCC;
		height: 30px;
		width: 30px;
		padding: 3px 10px;
	}
	.btn-std
	{
		border: 0;
		border-radius: 4px;
		color: #FFF;
		font-size: 12px;
		font-weight: bold;
		padding: 5px;
		text-align: center;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
	.button { 
		display: inline-block;
		padding: 10px 13px;
		border-radius: 4px;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		border: 0px;
		background: #F1A34D;
		background: -moz-linear-gradient(top,  #F1A34D 0%, #CB7026 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1A34D), color-stop(100%,#CB7026));
		background: -webkit-linear-gradient(top,  #F1A34D 0%, #CB7026 100%);
		background: -o-linear-gradient(top,  #F1A34D 0%, #CB7026 100%);
		background: -ms-linear-gradient(top,  #F1A34D 0%, #CB7026 100%);
		background: linear-gradient(to bottom, #F1A34D 0%, #CB7026 100%);
	}
	.button:hover {
		background: #F4B875;
		background: -moz-linear-gradient(top, #F4B875 0%, #CD7732 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4B875), color-stop(100%,#CD7732));
		background: -webkit-linear-gradient(top, #F4B875 0%, #CD7732 100%);
		background: -o-linear-gradient(top, #F4B875 0%, #CD7732 100%);
		background: -ms-linear-gradient(top, #F4B875 0%, #CD7732 100%);
		background: linear-gradient(to bottom, #F4B875 0%, #CD7732 100%);
	}
	.button.small { 
		padding: 8px 11px;
	}

	.button.gray { 
		background: #e5e5e5;
		background: -moz-linear-gradient(top,  #e5e5e5 0%, #e5e5e5 5%, #9d9d9d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(5%,#e5e5e5), color-stop(100%,#9d9d9d));
		background: -webkit-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
		background: -o-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
		background: -ms-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
		background: linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
	}

	.button.gray:hover
	{
		background: #e5e5e5;
		background: -moz-linear-gradient(top,  #e5e5e5 0%, #e5e5e5 5%, #9d9d9d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(5%,#e5e5e5), color-stop(100%,#9d9d9d));
		background: -webkit-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
		background: -o-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
		background: -ms-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
		background: linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
	}

	.button.blue {
		background: #6ABEDA;
		background: -moz-linear-gradient(top,  #6ABEDA 0%, #4d777f 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ABEDA), color-stop(100%,#4d777f));
		background: -webkit-linear-gradient(top,  #6ABEDA 0%,#4d777f 100%);
		background: -o-linear-gradient(top,  #6ABEDA 0%,#4d777f 100%);
		background: -ms-linear-gradient(top,  #6ABEDA 0%,#4d777f 100%);
		background: linear-gradient(to bottom, #6ABEDA 0%, #4d777f 100%);
	}
	.button.blue:hover { 
		background: #8fc5d1;
        background: -moz-linear-gradient(top,  #8fc5d1 0%, #70c7d4 27%, #61adb7 45%, #4d777f 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc5d1), color-stop(27%,#70c7d4), color-stop(45%,#61adb7), color-stop(100%,#4d777f));
        background: -webkit-linear-gradient(top,  #8fc5d1 0%,#70c7d4 27%,#61adb7 45%,#4d777f 100%);
        background: -o-linear-gradient(top,  #8fc5d1 0%,#70c7d4 27%,#61adb7 45%,#4d777f 100%);
        background: -ms-linear-gradient(top,  #8fc5d1 0%,#70c7d4 27%,#61adb7 45%,#4d777f 100%);
        background: linear-gradient(to bottom,  #8fc5d1 0%,#70c7d4 27%,#61adb7 45%,#4d777f 100%);
	}

	.button.green { 
		background: #d3d30a;
		background: -moz-linear-gradient(top,  #C7C739 0%, #8F8F2A 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C7C739), color-stop(100%,#8F8F2A));
		background: -webkit-linear-gradient(top, #C7C739 0%, #8F8F2A 100%);
		background: -o-linear-gradient(top, #C7C739 0%, #8F8F2A 100%);
		background: -ms-linear-gradient(top, #C7C739 0%, #8F8F2A 100%);
		background: linear-gradient(to bottom, #C7C739 0%, #8F8F2A 100%);
	}

	.button.green:hover
	{
        background: #d3d30a;
        background: -moz-linear-gradient(top,  #D0D041 0%, #939342 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D0D041), color-stop(100%,#939342));
        background: -webkit-linear-gradient(top,  #D0D041 0%, #939342 100%);
        background: -o-linear-gradient(top,  #D0D041 0%, #939342 100%);
        background: -ms-linear-gradient(top,  #D0D041 0%, #939342 100%);
		background: linear-gradient(to bottom, #D0D041 0%, #939342 100%);
	}

	.buy-button
	{
		color: #FFF;
		float: left;
		margin-right: 10px;
		font-family: Arial, Serif;
		font-weight: bold;
	}
	.play-button
	{
		background: transparent url(/img/sprite-elements-trans.png) no-repeat -125px -84px;
		float: left;
		height: 22px;
		margin: 2px 10px 0 0;
		text-indent: -9999px;
		width: 57px;
	}
	.play-button:hover
	{
		background-position: -125px -106px;
	}
	.btn-gradient-primary
	{
		background: #F1A34D;
		background: -moz-linear-gradient(top,  #F1A34D 0%, #CB7026 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F1A34D), color-stop(100%,#CB7026));
		background: -webkit-linear-gradient(top,  #F1A34D 0%, #CB7026 100%);
		background: -o-linear-gradient(top,  #F1A34D 0%, #CB7026 100%);
		background: -ms-linear-gradient(top,  #F1A34D 0%, #CB7026 100%);
		background: linear-gradient(to bottom, #F1A34D 0%, #CB7026 100%);
	}
	.btn-gradient-primary:hover
	{
		background: #F4B875;
		background: -moz-linear-gradient(top,  #F4B875 0%, #CD7732 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4B875), color-stop(100%,#CD7732));
		background: -webkit-linear-gradient(top,  #F4B875 0%, #CD7732 100%);
		background: -o-linear-gradient(top,  #F4B875 0%, #CD7732 100%);
		background: -ms-linear-gradient(top,  #F4B875 0%, #CD7732 100%);
		background: linear-gradient(to bottom, #F4B875 0%, #CD7732 100%);
	}
	.btn-gradient-secondary
	{
		background: #e5e5e5;
		background: -moz-linear-gradient(top,  #e5e5e5 0%, #e5e5e5 5%, #9d9d9d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(5%,#e5e5e5), color-stop(100%,#9d9d9d));
		background: -webkit-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
		background: -o-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
		background: -ms-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
		background: linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
	}
	.btn-gradient-secondary:hover
	{
		background: #e5e5e5;
		background: -moz-linear-gradient(top,  #e5e5e5 0%, #e5e5e5 5%, #9d9d9d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(5%,#e5e5e5), color-stop(100%,#9d9d9d));
		background: -webkit-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
		background: -o-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
		background: -ms-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
		background: linear-gradient(top,  #e5e5e5 0%,#e5e5e5 5%,#9d9d9d 100%);
	}
	.btn-gradient-buy-mp3
	{
        background: #6ABEDA;
        background: -moz-linear-gradient(top,  #6ABEDA 0%, #4d777f 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ABEDA), color-stop(100%,#4d777f));
        background: -webkit-linear-gradient(top,  #6ABEDA 0%,#4d777f 100%);
        background: -o-linear-gradient(top,  #6ABEDA 0%,#4d777f 100%);
        background: -ms-linear-gradient(top,  #6ABEDA 0%,#4d777f 100%);
		background: linear-gradient(to bottom, #6ABEDA 0%, #4d777f 100%);
	}
	
	.btn-gradient-buy-mp3:hover
	{
        background: #8fc5d1;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmYzVkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iIzcwYzdkNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iIzYxYWRiNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZDc3N2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #8fc5d1 0%, #70c7d4 27%, #61adb7 45%, #4d777f 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc5d1), color-stop(27%,#70c7d4), color-stop(45%,#61adb7), color-stop(100%,#4d777f));
        background: -webkit-linear-gradient(top,  #8fc5d1 0%,#70c7d4 27%,#61adb7 45%,#4d777f 100%);
        background: -o-linear-gradient(top,  #8fc5d1 0%,#70c7d4 27%,#61adb7 45%,#4d777f 100%);
        background: -ms-linear-gradient(top,  #8fc5d1 0%,#70c7d4 27%,#61adb7 45%,#4d777f 100%);
        background: linear-gradient(to bottom,  #8fc5d1 0%,#70c7d4 27%,#61adb7 45%,#4d777f 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc5d1', endColorstr='#4d777f',GradientType=0 );
	}
	.btn-gradient-tertiary, 
	.btn-gradient-buy-cd
	{
        background: #d3d30a;
        background: -moz-linear-gradient(top,  #C7C739 0%, #8F8F2A 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C7C739), color-stop(100%,#8F8F2A));
        background: -webkit-linear-gradient(top, #C7C739 0%, #8F8F2A 100%);
        background: -o-linear-gradient(top, #C7C739 0%, #8F8F2A 100%);
        background: -ms-linear-gradient(top, #C7C739 0%, #8F8F2A 100%);
        background: linear-gradient(to bottom, #C7C739 0%, #8F8F2A 100%);
	}
	.btn-gradient-tertiary:hover, .btn-gradient-buy-cd:hover
	{
        background: #d3d30a;
        background: -moz-linear-gradient(top,  #D0D041 0%, #939342 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D0D041), color-stop(100%,#939342));
        background: -webkit-linear-gradient(top,  #D0D041 0%, #939342 100%);
        background: -o-linear-gradient(top,  #D0D041 0%, #939342 100%);
        background: -ms-linear-gradient(top,  #D0D041 0%, #939342 100%);
		background: linear-gradient(to bottom, #D0D041 0%, #939342 100%);
	}
	
	.btn-gradient-green
	{
	    background: #a3ce8c; /* Old browsers */
        background: -moz-linear-gradient(top,  #a3ce8c 0%, #398235 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3ce8c), color-stop(100%,#398235)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #a3ce8c 0%,#398235 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #a3ce8c 0%,#398235 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #a3ce8c 0%,#398235 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #a3ce8c 0%,#398235 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3ce8c', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
    }
    .btn-gradient-green:hover
    {
        background: #398235; /* Old browsers */
        background: -moz-linear-gradient(top,  #398235 0%, #a3ce8c 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#398235), color-stop(100%,#a3ce8c)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #398235 0%,#a3ce8c 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #398235 0%,#a3ce8c 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #398235 0%,#a3ce8c 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #398235 0%,#a3ce8c 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#398235', endColorstr='#a3ce8c',GradientType=0 ); /* IE6-9 */
}
	.tooltip-page-link
	{
		font-family: Georgia, Serif;
		font-weight: bold;
		font-size: 11px;
		font-style: italic;
		line-height: 26px;
		float:right;
		text-decoration: underline;
		display:none;
	}
	.btn-artist-signup 
	{ 
		position: relative;
		display: inline-block;
		margin: 18px auto 0px;
		border: 0;
		border-radius: 4px;
		color: #FFF;
		font-size: 15px;
		font-weight: bold;
		padding: 5px 15px 5px 15px;
		text-align: center;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
	.search-button
	{
		border: 0px;
		color: #FFF;
		float: left;
		font-size: 14px;
		font-weight: bold;
		height: 47px;
		left: 12px;
		line-height: 43px;
		padding-left: 18px;
		text-indent: -10px;
		top: 10px;
		width: 88px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	
	.carousel-header, .page-header
	{
		background-color: #F4F4F4;
		border-bottom: 4px solid #323232;
		height: 45px;
		margin-top: 30px;
		width: 955px;
	}
	
	.right-column-carousel-header,
	.right-column-header,
	.single-container-page-header,
	.right-column-album-header
	{
	    background-color: #F1F1F1;
		border-bottom: 4px solid #323232;
		height: 45px;
		margin-top: 30px;
		width: 100%;
	}
	 .right-column-album-header
 	   {
	        float: left;
	    }
	.top-margin-short
	{
	    margin-top:5px;
	}  
	
	.top-albums-right-column-carousel-header
	{
	    background-color: #F1F1F1;
		border-bottom: 4px solid #323232;
		height: 45px;		
		width: 100%;
	}
	
	.right-column-header
	{
	    margin-top: 5px;
	}
	
	.section-header
	{
	    background-color: #F1F1F1;
		border-bottom: 4px solid #323232;
		height: 82px;
		margin-top: 30px;
		width: 200px;	    
	}
	
	.long-section-header
	{
	    background-color: #F1F1F1;		
		border-bottom: 4px solid #323232;
		height: 45px;	
		width:955px;
	}
	
	.left-nav-section-header
	{
	  
	    background-color:#F1F1F1;
		border-bottom: 4px solid #323232;		
		margin-top: 5px;
		width: 200px;	  
	    height: 45px;
	}
	.carousel-header-sub
	{
		background-color: #F1F1F1;
		border-bottom: 4px solid #323232;
		height: 45px;
		margin-top: 15px;
		width: 695px;
	}
	#cart-modal #bottom-information {
		display: none;
	}
	#cart-modal .page-header { 
		margin-top: 0px;
	}
	.cart-header
	{
		margin-top: 0;
	}
	#divTopButtons {
		margin-top: 20px;
	}
	.sub-genre-header
	{
		background: #f1f1f1;
		border-bottom: 4px solid #323232;
		float: left;
		width: 200px;
	}
	.carousel-header h4, 
	.page-header h4, 
	.overlay-header h4,
	.sub-genre-header h4,
	.carousel-header-sub h4,
	.right-column-carousel-header h4,
	.right-column-header h4,
	.right-column-album-header h4,	
	.genre-list-section-header h4,
	.genre-list-section-header h1,
	.long-section-header h4,
	.locations-section-header h1,
	.carousel-header h2,
	.right-column-header h1,
	.carousel-header h1,
	.page-header h1,
	.right-column-carousel-header h1
	{
		color: #333;
		float: left;
		font-family: 'Oswald', sans-serif;
		font-size: 24px;
		font-weight: bold;
		line-height: 45px;
		margin-left: 10px;
		text-transform: uppercase;
		
	}
		.more-about-this-artist-head h4
	{
	    line-height:normal;
	    font-size:19px;
	    width: 145px;
	    height:75px;
	    text-align: left;
	    display: inline-block;
	    float:right;
	    padding-top: 12px;
	    padding-right:9px;
	}
	.sub-genre-header h4 
	{ 
		line-height: 30px;
		margin-top: 10px;
		font-size: 20px;
	}
	#sub-genre-list-container,
	#genre-list-container, #link-list-container
	{
		background: #F1F1F1;
		float: left;
		margin-bottom: 25px;
	
		width: 200px;
	}
		
	
	#sub-genre-list, #genre-list, #link-list
	{
		display: block;
	
		
	}
	#sub-genre-list li, #genre-list li
	{
		line-height: 24px;
	}
		
	#sub-genre-list a {
		display: block;
		padding: 5px 10px 4px;
		border-bottom: 1px solid #e0e0e0;
	}

	#sub-genre-list li a:hover, #genre-list li a:hover
	{
		background-color: #E8E8E8;
	}	
	
	.carousel-header a,
	.carousel-header-sub a
	{
		color: #929700;
		font-family: Georgia, Serif;
		font-size: 14px;
		float: right;
		line-height: 45px;
		margin-right: 15px;
	}
	.carousel-header-icon, 
	.header-icon
	{
		float: left;
		height: 45px;
		width: 35px;
	}
	.sub-genre-header-icon
	{
		background: #EC842B url(/img/sprite-elements.jpg) no-repeat -143px -0px;
		float: left;
		height: 82px;
		
		width: 28px;
	}
	
	.search-icon
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -245px 0;
	}
	
	.more-about-this-artist-icon
	{
	    background: #EC842B url(/img/sprite-elements.jpg) no-repeat -315px 0px;
		float: left;
		height: 82px;
		width: 35px;
	
	}

	.top-sellers-icon
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat -0 0;
	}
	
	.new-arrivals-icon
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat -35px 0;
	}
	
	.login-icon
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -280px 0;
	}
	

	.rating-star1-icon
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat 0px -84px;
	    float: left;
		height: 15px;
		width: 19px;
		border-width:0px;
		border-style:none;
	}
	
	.rating-star2-icon
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -18 -84;
	    float: left;
		height: 15px;
		width: 19px;
		border-width:0px;
		border-style:none;
	}
	
	.play-me-icon, .play
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -373px -89px;
	    float: left;
		height: 22px;
		width: 22px;
		border:0px;
	}
		.play-me-icon:hover, .play:hover
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -373px -111px;
	}
	.play-all-icon, play-all
	{
	     background: transparent url(/img/sprite-elements.jpg) no-repeat -373px -177px;
	    float: left;
		height: 22px;
		width: 22px;
		border:0px;
	}
	.play-all-icon:hover, .play-all:hover
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -373px -199px;
	}
	
		.stop-all-icon
	{
	     background: transparent url(/img/sprite-elements.jpg) no-repeat -373px -221px;
	    float: left;
		height: 22px;
		width: 22px;
		border:0px;
	}
		.stop-all-icon:hover
	{
          background: transparent url(/img/sprite-elements.jpg) no-repeat -373px -243px;  
	}
	
		.stop-me-icon, .stop
	{
	     background: transparent url(/img/sprite-elements.jpg) no-repeat -373px -133px;
	    float: left;
		height: 22px;
		width: 22px;
		border:0px;
	}
	.stop-me-icon:hover, .stop:hover
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -373px -155px;
	}
	.track-table
	{
	    width: 100%; 
	    float: left;
	}

	.track-table td {
		padding: 8px 10px 6px;
		line-height: 22px;
	}

	.track-artist { 
		font-size: .95em;
		color: #A2A2A2;
	}

	.track-table .table-headings { 
		border-bottom: 1px solid #EBEBEB;
		background-color: #F8F8F8;
	}

	.track-table .table-headings td { 
		padding: 7px 10px 6px;
		font-size: 12px;
		color: #333;
		font-weight: bold;
	}

	.track-table tbody tr + tr {
		border-top: 1px solid #E8E5E5;
	}

	.new-arrivals-icon
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat -35px 0;
	}
	.editors-picks-icon
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat -70px 0;
	}
	.artists-you-may-know-icon
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat -105px 0;
	}
	
	.music-icon
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -140px 0;
	}
	
	.biography-icon
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -315px 0;
	}
	.my-cart-icon
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat -350px 0;
	}
	.sale-icon
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -175px 0;
	}
	.carousel-browse-link
	{
		float: left;
		font-size: 11px;
		height: 22px;
		line-height: 22px;
		padding: 0 5px;
		text-transform: uppercase;
		text-align: center;
		width: 100px;
	}
	.carousel-browse-notch
	{
		float:left;
	}
	.carousel-nav-container
	{
		background-color: #E5E5E5;
		border-bottom: 1px solid #CCCCCC;
		width: 955px;
	}
	.carousel-nav-container nav
	{
		float: right;
	}
	
	.browsing-by
	{
		float: left;
		font-family: Georgia, Serif;
		font-size: 11px;
		line-height: 22px;
		margin: 0 0 0 5px;
		padding: 0;
	}
	.current-genre, .search-terms
	{
		color: #929700;
		font-style: normal;
		font-weight: bold;
	}
	.bx-wrapper 
	{ 
		margin: 0 0 0 75px; 
	}
	.album-carousel
	{
		background: #f3f3f3; /* Old browsers */
		background: -moz-linear-gradient(top,  #f3f3f3 0%, #ffffff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f3f3f3 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f3f3f3 0%,#ffffff 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f3f3f3 0%,#ffffff 100%); /* IE10+ */
		background: linear-gradient(top,  #f3f3f3 0%,#ffffff 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		min-height: 200px;
		margin: 0 0 10px 0;
		position: relative;	
		z-index: 1;	
	}

	.carousel
	{
		float: left;
		height: 187px;
		overflow: hidden;
		width: 845px;
		margin-left:72px;
	}
	.carousel-left,
	.carousel-right,
	.carousel-sub-right
	{
	    cursor:pointer;
	}
		
	.carousel-left
	{
	    display:block;
		background: transparent url(/img/sprite-elements-trans.png) 0 -50px;
		float: left;
		height: 27px;
		margin: 0 13px 0 15px;
		position: absolute;
		top: 75px;
		width: 27px;
	}
			
	.carousel-right
	{	
		display:block;
		background: transparent url(/img/sprite-elements-trans.png) -28px -50px;
		float: left;
		height: 27px;
		left: 900px;
		margin: 0 15px 0 13px;
		position: absolute;
		top: 75px;
		width: 27px;    
	}
		
	.carousel-sub-right
	{
		display:block;
		background: transparent url(/img/sprite-elements-trans.png) -28px -50px;
		float: left;
		height: 27px;
		left: 645px;
		margin: 0 15px 0 13px;
		position: absolute;
		top: 75px;
		width: 27px;
	}	
	
	.carousel-album, .playlists-album
	{
		color: #333;
		float: left;
		font-size: 11px;
		margin-top: 10px;
		width: 140px;			
	}	
	
	.carousel-album
	{
	    height: 185px;	
	}
	
	.carousel-album:last-child, .playlists-album:last-child
	{
		margin-right: 0;
	}
	.carousel-album img, 
	.top-songs-carousel-album img, .playlists-album img, .album-img, .carousel-album-container img, .table-display img
	{
		width: 100px;
		-moz-box-shadow: 2px 2px 2px #333;
		-webkit-box-shadow: 2px 2px 2px #333;
		box-shadow: 2px 2px 2px #666;
	}

	.album-title
	{
		display: block;
		font-weight:bold;
		font-style: normal;		
		margin-top: 10px;
		overflow: hidden;
		width: 100px;
		height:28px;
	}
	
	.artist-name
	{
	    display: block;
	    clear: both;
		display: block;
		font-style: italic;
		overflow: hidden;
		width: 100px;				
		height: 15px;
		white-space:nowrap;
		text-overflow:ellipsis;
	}
	
	.carousel-album-artist-name
	{
	    clear:both;
	    display: block;
		font-style: italic;		
		overflow: hidden;
		width: 100px;
		height:28px;	    
	}	
	
	.tooltip-album-title
	{
		color: #333;
		float:left;
		font-size: 20px;
		margin-bottom: 5px;
		font-weight: bold;
		height: 25px;
		overflow: hidden;
		text-decoration: none;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		-icab-text-overflow: ellipsis;
		-khtml-text-overflow: ellipsis;
		-moz-text-overflow: ellipsis;
		-webkit-text-overflow: ellipsis;
		width: 100%;
	}

	
	.tooltip-artist-name
	{
		color: #333;
		float:left;
		font-size: 16px;
		font-family: Georgia, Serif;
		font-style: italic;
		overflow: hidden;
		height:20px;
		text-decoration: underline;
		margin-top: 2px;
		width: 325px;
	}
	.tooltip-by
	{
		color: #333;
		float:left;
		display: block;
		font-size: 16px;
		font-family: Georgia, Serif;
		font-style: italic;
		margin: 2px 5px 0px 0px;
	}
	.tooltip-album-desc
	{
		color: #666;
		float:left;
		height: 45px;
		margin-top: 0px;
		overflow: hidden;
		
		padding-top: 5px;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		-icab-text-overflow: ellipsis;
		-khtml-text-overflow: ellipsis;
		-moz-text-overflow: ellipsis;
		-webkit-text-overflow: ellipsis;
		width: 100%;
	}
	.buy-play-container
	{
		float: left;
		margin-top: 10px;
		width: 100%
	}
	.txt-input-newsletter
	{
		height: 45px;
		border: 1px solid #999;
		color: #666;
		font-family: Georgia, Serif;
		font-style: italic;
		height: 43px;
		left: 10px;
		line-height: 43px;
		padding-left: 10px;
		top: 10px;
		width: 290px;
	}
	.txt-input-newsletter-gradient, 
	.input-gradient
	{
		box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1); 
	}
	.newsletter-label
	{
		color: #000;
		float: left;
		font-family: Georgia, Serif;
		font-size: 16px;
		margin: 30px 10px 0 0;
		width: 180px;
	}
	.newsletter-label span
	{
		color: #5D909B;
		font-family: Arial, Sans-Serif;
		font-style: normal;
		font-size: 13px;
		font-weight: bold;
	}
	.newsletter-button
	{
		border: 1px solid #999;
		border-left: 0;
		margin-top: 27px;
	}
	.txt-input-container
	{
		background-color: white;
		height: 45px;
		float: left;
		margin-top: 27px;
	}
	.footer-header
	{
		font-family: Georgia, Serif;
		font-size: 14px;
		font-weight: bold;
		line-height: 22px;
		margin-left: 80px;
		margin-bottom: 10px;
		margin-top: 6px;
	}
	.tooltip 
	{
		display: none;	
		background: transparent url(/img/sprite-tooltip-arrows.gif) 0px -264px;
		font-size: 12px;
		padding: 17px 20px 20px 20px;
		height: 190px;
		width: 350px;
		color:#000;	
		z-index: 9999;
		background-repeat: no-repeat;
	}
	.tooltip.bottom 
	{
		display: none;
		padding-top: 47px;
		background: transparent url(/img/sprite-tooltip-arrows.gif) 0px 16px;
		background-repeat: no-repeat;
	}
	.tooltip.right
	{
	    /* todo: pb hack need to find reference in jquery for positioning this class */
	    left: 75px !important;
	   background: transparent url(/img/sprite-tooltip-arrows.gif) 0px -513px;
	   background-repeat: no-repeat;
	}
	.tooltip.left
	{
	     /* todo: pb hack need to find reference in jquery for positioning this class */
	    left: 490px !important;
	    background: transparent url(/img/sprite-tooltip-arrows.gif) 0px -772px;
	    background-repeat: no-repeat;
	}
	.tooltip.bottom.left
	{
	    background: transparent url(/img/sprite-tooltip-arrows.gif) 0px -1304px;
	   background-repeat: no-repeat;
	}
	.tooltip.bottom.right
	{
	  background: transparent url(/img/sprite-tooltip-arrows.gif) 0px -1031px;  
	  background-repeat: no-repeat;
	}
	.tooltip-preloader
	{
	    position: absolute;
	    height: 1px;
	    width: 1px;
	    background: transparent url(/img/sprite-tooltip-arrows.gif) 0px 0px;
		background-repeat: no-repeat;
	}
  	  .tooltip-dotted-line
	{
  	    border-bottom: 2px dotted #B2B2B2;
 	    font-weight: bold;
        height:7px;
        width: 100%;
        display: block;
        float:left;
    }
	
	.review-text
	{
	    float:right;
	    height:21px;
	    line-height:21px;
	    margin-top:5px;
	}
    .review-count
    {
	    float:right;
        width:24px;
        height:21px;
        padding-left:0px;
        background:transparent url(/img/sprite-tooltip-arrows.gif) 2px -1570px;
        text-align:center;
        line-height:19px;
        color:#fff;
        font-size:10px;
        margin-top:5px;
    }
    .release-year
    {
	height:21px;
	line-height:21px;
	float:left;
	margin-top:5px;
	}
    
	.album
	{
		position: relative;
	}
	.real-buy-buttons
	{
		display: none;
	}
	
	.bread-crumb
	{
		color: #929700;
		font-weight: bold;
		text-decoration: underline;	
		float: left;
		font-family: Georgia, Serif;
		font-size: 10px;
		font-style: italic;
		margin-right: 5px;
	}
	
	
	
	/**************************AlbumDetails styles***********************************/
	.underline
	{
	    text-decoration:underline;	    
	}
	
	#left-nav-container
	{
		float:left;
		width: 200px;
		padding-right: 50px;
		z-index: 99998;
	}
	
    #right-container
	{
	    float:left;
	    width: 695px;
		font-family:Arial;
		margin-bottom:30px;
	}	
	
	#album-page-right-container-topleft
	{
	    max-width:500px;
	    float:left;
	

	}
	
    .right-container-top-right
	{	
		float:right;
		display:block;
		font-family: Georgia,Serif;
		font-style: italic;
		font-size: 11px;
		width:auto;		
	}
	
	.right-container-top-right-small
	{
	    font-family: Georgia,Serif;
		font-style: italic;
		font-size: 11px;
	    float:right;
	    clear:right;
	   
	    position: relative;
		width:150px;
		height:200px;		
	}
	
	/****************  out of stock notification */  
	
        .notify-container 
        {
            border: 1px solid #B3B526;
            float: right;
            font-family: Arial,Helvetica,sans-serif;
            margin-bottom: 15px;
            padding-bottom: 12px;
            font-style: normal;	
            width: 100%;            
        }
        
        .notify-container h1 
        {
            font-family: Georgia,Serif;
	        font-style: italic;
	        background-color: #B3B526;
            color: #FFFFFF;
            display: block;
            font-size: 12px;
            font-weight: bold;
            height: 21px;
            padding: 9px;
            text-align: center;
        }
        
        .notify-content 
        {
            margin: 12px 12px 0;
        }
        
    .notify-email
   {
            height:23px;
            width: 190px;
            border: 1px solid #CCCCCC;
            color: #666666;
            font-family: Georgia,Serif;
            font-style: italic;
            left: 10px;
            padding-left: 10px;
            margin-right:5px;
            margin-top: 10px;  
            margin-bottom: 10px;
   }
   
   .btn-waiting
   {
       height:24px;
       width:73px;
       padding: 6px;
       font-weight: bold;
       color: #FFFFFF;
       margin-top: 9px;
       margin-bottom: 9px;
       border: 1px solid #CCCCCC;
  
   }
   

       
    	/****************  out of stock notification */
	    .album-page-social
	{
	    float:right;
	    display:inline-block;
		width: 150px;
		position: relative;
		font-family: Georgia,Serif;
		font-style: italic;
		font-size: 11px;
	}
	
	.album-page-left-nav-headers
	{	    
	    color: #221F1F;
	    font-family:Arial;
	    font-size:16px;
	    
	}
	
	.album-page-left-nav-items, .left-nav-links
	{
	    color: #666666;
	    font-family:Arial;
	    font-size:12px;   
	    display:block;
	    padding-top: 7px;
	}
		.left-nav-links:hover
	{
	  text-decoration: underline;
	 
	}
	.album-page-main-panel-items-titles
	{
	    color: #666666;
	    font-family:Arial;
	    font-size:12px;
	    font-weight:bold;
	}
	
	.dotted-line
	{
		border-bottom: 2px dotted #DEDEDE;
		font-weight: bold;
		height:5px;
	}
    
	.dotted-line-space
	{  
		display: block;
		border-bottom: 2px dotted #B2B2B2;
		font-weight: bold;
		height:20px;
		padding-top: 40px;
		min-width:400px;
		max-width:500px;
	}
	

	#album-page-album
	{
		font-family: Arial;
		font-size: 26px;
		font-weight: bold;  
		
	}
	#album-page-artist
	{
		font-size: 16px;
		padding-top: 2px;    
	}
	#album-page-copyright
	{
		font-family: Georgia;
		font-size: 11px;
		padding-top:12px;
		 
	 
	}
	.album-page-summary
	{
	    padding-top: 10px;
	    font-size: 12px;
	
	}
	#album-page-summary-short-description
	{
	    padding-bottom:18px; 
	}
	.album-page-summary div
	{
	    padding-bottom: 2px;
	}

	.album-page-buy-button-container
	{
	    float: left;
	    padding-top: 20px;

	}
	.stockmessage-button
	{
		background: transparent url(/img/sprite-elements-trans.png) no-repeat -125px -84px;
		float: left;
		height: 22px;
		margin: 2px 10px 0 0;
		text-indent: -9999px;
		width: 57px;
	}
	.stockmessage-button:hover
	{
		background-position: -125px -106px;
	}
	.facebook-button
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat 0px -295px;
		float: left;
		height: 30px;	
		text-indent: -9999px;
		width: 30px;
	}
	
		.twitter-button
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat -30px -295px;
		float: left;
		height: 30px;
		text-indent: -9999px;
		width: 30px;
	}
		.google-button
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat -60px -295px;
		float: left;
		height: 30px;
		text-indent: -9999px;
		width: 30px;
	}
		.share-button
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat -90px -295px;
		float: left;
		height: 30px;
		width: 60px;
		
	}

	.five-dollar-sale-button
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat 0px -175px;
		float: left;
		height: 30px;
		margin: 2px 10px 0 0;
		text-indent: -9999px;
		width: 150px;
		margin-bottom: 10px;
	}
	.five-dollar-sale-button:hover
	{
	    background-position: 0px -205px;
	}
	
	.wish-list-button
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat 0px -235px;
		float: left;
		height: 30px;
		margin: 2px 10px 0 0;
		
		width: 150px;
		margin-bottom: 10px;
	}
		.wish-list-button:hover
	{
		background-position: 0px -265px;
	}
	
	.wish-list-button-login
	{
	   float: left;
		height: 30px;
		margin: 5px 10px 0px 3px;
		font-size: 11px !important;
		width: 150px;
		font-weight: bold;
        color: #989D30;
        text-decoration: underline;
	}
    .wish-list-button-login:hover
    {
         color: #DF8826;
    }
	.waiting-list-button
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat -196px -175px;
		float: left;
		height: 46px;
		margin: 2px 10px 0 0;
		text-indent: -9999px;
		width: 150px;
		margin-bottom: 10px;
	}
		.waiting-list-button:hover
	{
		background-position: -196px -221px;
	}
		.discount-panel
	{
		float: left;
		height: 18px;
		margin: 2px 10px 0 0;
		text-indent: 5px;
		width: 150px;
		margin-bottom: 9px;
	}
	
		.discount-panel-img
	{
		background:  transparent url(/img/sprite-elements.jpg) no-repeat -154px -193px;
		display:block;
		float: left;
		height: 18px;
		width: 25px;
		
	}
 
		.in-stock-panel
	{
		float: left;
		display: block;
		width: 150px;
		padding-bottom: 8px;
		border-bottom: 2px dotted #B2B2B2;
		margin-bottom: 5px;
		font-style: normal;
	}
	

	
		.in-stock-panel-lowstock-txt
	{
		
		float: right;
		height: 25px;
		line-height: 15px;
		width: 120px;
	}
	
  
		.in-stock-panel-img 
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat -154px -175px;
		float: left;
		height: 18px;
		width: 25px;
				
	}
	
			.download-only-panel
	{
		float: left;
		display: block;
		height: 25px;
		width: 150px;
		padding-bottom: 8px;
		border-bottom: 2px dotted #B2B2B2;
		margin-bottom: 5px;
		
	}
	
	.download-only-panel-text
	{
	    margin-left:30px;
	    
	}
	
	
		.download-only-img 
	{
		background: transparent url(/img/sprite-elements.jpg) no-repeat -78px -86px;
		display:block;
		float:left;
		height: 18px;
		width: 25px;
				
	}
	

	    
/*   ----Test case for positioning icon with content attribute
		.in-stock-message-label
	{
		float:left;
	}
	.in-stock-message-label: before
	{
	   background: transparent url(/img/sprite-elements.jpg) no-repeat -15px -175px;
	   position: absolute;
	   content: "";
		display:block;
		height: 18px;
		width: 28px;
	}
 */
 
 

	
	.track-title
	{
	    font-family:Arial;
	    font-size:13px;	 
	    color:#333333;	    
	}
	
	.bold-italic, .review-to-write
	{
	    font-family:Georgia;
	    font-style:italic;
	    font-weight:bold;
	    color:#666666;	    
	}
	
	
	.album-only
	{
	    color:#333333;
	    font-family:Georgia;
	    font-style:italic;
	    font-size:13px;
	    width:115px;
	    height:30px;
	}
	
	.buy-track-button
	{
		color: #FFF;		
		margin: 0 auto;
		display: block; 
		font-family: Arial, sans-serif;
		font-weight: bold;
		text-align:center;
		vertical-align:middle;
		border: 0;
		border-radius: 4px;		
		font-size: 12px;
		font-weight: bold;		
		text-align: center;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		line-height:22px;
		display: inline-block;
		padding: 1px 15px;
	}
	
	.log-in-to-write-a-review, .green-link
	{
	    color: #929700;
		font-weight: bold;
		font-family:Georgia;
	    font-style:italic;
	    text-decoration:underline;
	}
	
	.text-center { 
		text-align: center;
	}

	.center-me
	{
	    text-align:center;
	    vertical-align:middle;  
	}
	
	.a-carousel-left
	{
	    display:block;
		background: transparent url(/img/sprite-elements-trans.png) -55px -52px;
		float: left;
		height: 18px;
		width: 18px;
		left:0px;
		position: absolute;
		top: 60px;	
	}
			
	.a-carousel-right
	{
	    display:block;
		background: transparent url(/img/sprite-elements-trans.png) -73px -52px;
		float: left;
		height: 18px;
		width: 18px;
		left:182px;		
		position: absolute;
		top: 60px;	    
	}
	
	.about-this-ablum-icon
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat 0px -728px;	    
	}
	
	.section-input
	{	    
		background: transparent url(/img/search-input-gradient.jpg) repeat-x 0 0;
		border: 1px solid #CCC;
		color: #666;
		font-family: Georgia, Serif;
		font-style: italic;
		height: 30px;
		left: 10px;
		line-height: 30px;
		padding-left: 10px;
		top: 10px;
		width: 450px;
		margin-top:5px;
		vertical-align:middle;
	}	
	
	.album-page-review-textfield
	{
	    margin-top:5px;    
		border: 1px solid #CCC;
		color: #666;
		font-family: Georgia, Serif;
		font-style: italic;		
		left: 10px;
		line-height: 43px;
		padding-left: 10px;
		top: 10px;
		height: 100px;
		width: 670px;
	}
	
	.rating
	{	     
	    display:none;  
	}
	
	.carousel-album-container
	{
	    position:relative;
		float:left;		
		padding: 5px 5px 5px 5px;		
		margin-right:25px;
		margin-left: 0px;
		margin-top:10px;
		margin-bottom:10px;
		height:130px;
		width:105px;
		z-index:9991;
	}
	
	
	
	.carousel-album-seperator	
	{
	    height:14px;
	    display: block;
	    margin-bottom:20px;	    
	}
	
	
	
	/*=============================================================================================================
	Paging (by width)
	==============================================================================================================*/
	
	.hide
	{
	    visibility:hidden;
	}
	.pagination
	{
	  float: right; 
	  margin-right: 90px; 		  
	}
	
	.page-number
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -20px -108px;	   
	    text-align:center;
        line-height:18px;   
	    color:White;	
	    font-weight:bold;    
	}
	
	.page-number:hover
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -20px -126px;	   
	    text-align:center;
        line-height:18px;   
	    color:White;	
	    font-weight:bold;   	      
	}	
	
	.active
	{	    
	    text-align:center;
        line-height:18px;   
	    color:#666666;	
	    font-weight:bold;       
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -20px -144px;	 	    
	}
	.previous-link 
	{ 
	    background: transparent url(/img/sprite-elements.jpg) no-repeat 0px -109px;		   
	    line-height:18px;
	    vertical-align:middle;  
	    margin-top:20px;
	    margin-bottom:20px;
	}
	
	.previous-link:hover
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat 0px -127px;
	}
	
	.next-link
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -246px -109px;		   
	    line-height:18px;
	    vertical-align:middle;  
	    margin-top:20px;
	    margin-bottom:20px;
	}
	
	.next-link:hover
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -246px -127px;	
	}
	
    .table-pagenumbers
      { 
        vertical-align: middle
      }
      
	
	.read-more, .read-more-about-album
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -388px -0px;		    
	    float:right;
	    text-indent:14px;
	    margin-top:10px;
		color: #8D9006;
		font-weight: bold;
	   	    
	}
			
	.read-more-hidden
	{
	    color:White;    
	}
	
	.read-less, .read-less-about-album
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -388px -15px;		    
	    float:right;
	    text-indent:14px;
		color: #8D9006;
		font-weight: bold;    
	}
	
	.hidden
	{
	    display:none;
	}
	
	.test-star 
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -19px -86px;		    
	}
	
	.white-star
	{	    
	    background-image:url('/IMG/reviewstar-white.jpg');
	    width:20px;
	    height:20px;
	    display:block;
	    
	}
	
	.orange-star
	{
	    background: transparent url(/img/sprite-elements.jpg) no-repeat -1px -86px;	
	    width:20px;
	    height:20px;
	    display:block;  
	}
	
	.album-notes
	{
	  float: left; 
	   width: 100%;
	}
	
	.info
	{
	    color:Red;
	    
	}
	
	.note
	{
	    color: #666666;
	    font-family:Arial;
	    font-size:12px;
	    line-height:1.5em;
	    margin-top:5px;
	    margin-bottom:5px;	 
	}
	
	.review, .album-note 
	{
	    color: #666666;
	    font-family:Arial;
	    font-size:12px;
	    line-height:1.5em;
	    margin-top:5px;
	    margin-bottom:5px;	    
	}
	
	.right-container-note
	{
	    color: #333333;
	    font-family:Arial;
	    font-size:12px;	 
	    display: block;     
	    padding: 30px 90px 0px 80px;	    
	    line-height:19px;
	    background-color: #f3f3f3;   
	}
	
	.reviwer-name
	{
	    font-family:Arial;
	    font-size:10px;
	    color:#666666; 
	    display: block;
	}
	
	.review-title
	{
	    font-family:Arial;
	    font-size:12px;
	    font-weight:bold;
	    color:#333333; 	    
	}
	
	.star1 .star2 .star3 .star4 .star5
	{
	    color:White;
	}		

	
	.review-this-album
	{
	    font-family: Georgia, Serif;
		font-size: 14px;
		font-style: italic;
		font-weight: bold;
		color:#666666;
	}
	
	/*===================================================*/
	
	.submit-review-button
	{
	    color: #FFF;		
		margin: 0 auto;
		display: block; 
		font-family: Georgia, Serif;
		font-weight: bold;
		text-align:center;
		vertical-align:middle;
		line-height:30px;
		height:30px;
		width:115px;		
		border: 0;
		border-radius: 4px;		
		font-size: 12px;
		font-weight: bold;		
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;	   
		float:left;		
	}	
	

	
	
/****************Album Page End ************************/
	
	/************Artist Page*********************/
	
	.pad
	{
   		padding: 10px;
	}
	.short-header
	{
	    	margin-top: 12px;
	}
	
	#artist
	{
		font-family: Arial;
		font-size: 36px;
		font-weight: bold;  	
		vertical-align:top;
	}
	
	.tile-margin
	{
	    margin-left: 80px;
	}
	
	.align-top
	{
	    vertical-align:text-top;      
	    display:inline;
	}
	
	.right-container
	{	    
	    width: 695px;		
		left:250px;
	}
	
	.order-by
	{
	    text-align:right;
	    background-color: #eee;	  
	    font-family:Georgia;
	    font-size:12px;
	    font-weight: bold;
	    font-style:italic;
	    color:#333333;	   
	    height:24px;
	    border-bottom:solid 1.5px #ddd;  
	    vertical-align:middle;	    
	}
	
	.order-by-select
	{
	    background-color: #F8F8F8;	    
	    font-family: Arial;
	    font-size: 10 px;	    
	    border:none;
	    height:24px;
	    border-left:solid 1.7px #878787; 
	    border-bottom:solid 1.5px #ddd;	   
	    vertical-align:middle; 
	}
	
	.left-nav-container
	{
		float:left;
		width: 200px;
		padding-right: 50px;
		z-index: 99998;
		margin-bottom: 60px;
	}
	
	.locations-icon
	{
	    	background: #EC842B url(/img/sprite-elements.jpg) no-repeat -210px 0px;
		float: left;
		height: 45px;
		width: 35px;	
	}
	
	.separator
	{
		color:White;
		height:30px;
	}
	
	.separator-15
	{
	   height:15px; 
	}
	
	
    
    	.address-icon
    	{
       	 	background: transparent url(/img/sprite-elements.jpg) no-repeat -70px -728px;	
    	}
    	
    /*	=============================================================================================================
	OUPUT MESSAGES
	============================================================================================================= */
	
	.no-color { color:#fff !important; }
	
	.finalized { margin-top:20px; }
	
	.form .highlighted-container
	{
		font-weight:bold;
		background-color:#f9eeee;
	}
	
	.form .input-error
	{
		display:none;
		color:#900;
		margin-left:10px;
	}
	
	.success-message,
	.error-message
	{
		line-height:20px;
	}
	
	.success-message
	{
		display:block;
		color:#070;
		font-weight:bold;
		background-color:#f1f8d6;
		border:2px solid #dfe6c8;
		padding:10px;
		margin-bottom:20px;
	}
	
	.error-message
	{
		display:block;
		color:#900;
		font-weight:bold;
		background-color:#f9eeee;
		border:2px solid #f9dddd;
		padding:10px;
		margin-bottom:20px;
	}

    .callout-message
    {
        display:block;
        padding:8px;
        background-color:#eee;
        color:#666;
        line-height:16px;
        margin-bottom:15px;
        font-size:11px;
        vertical-align:middle;
    }
    .single-line
    {
        line-height:18px;
        padding:12px 8px;
    }
    .callout-message img 
    { 
		float:left; 
		margin:7px 10px 0 3px; 
    }
    .single-line img 
    { 
		margin-top:0 !important; 
    }
    .callout-message strong { color:#555; }
    .callout-message u { text-decoration:underline; }
    
    #jp-no-solution, #jp-generic-error
	{
		font-weight: bold;
		color: #900;
		margin: 15px 0px 0px;
		padding: 0px 15px;
		background-color: #f9eeee;
		border: 2px solid #f9dddd;
		width: 94%;
		line-height: 17px;
	}
	#jp-no-solution a
	{
	    text-decoration: underline;
	}
	.hide-error
	{
	    display: none;
	}
	.show-error
	{
	    display: block;
	    float:left;
	}

    
     /*	=============================================================================================================
	OUTPUT MESSAGES
	============================================================================================================= */
	
	
    /*	=============================================================================================================
	GENERAL USE
	============================================================================================================= */
	
	.clear-left, .clear-right, .clear-both {
        height: 0 !important;
        line-height: 0;
    }
    .clear-left {
        clear: left;
    }
    .clear-right {
        clear: right;
    }
    .clear-both {
        clear: both;
    }
    
    #preload-images
    {
       display: none;
       position: absolute;
       overflow: hidden;
       left: -9999px; 
       top: -9999px;
       height: 1px;
       width: 1px;
    }

    /*********************************************
     Checkout pages
    **********************************************/
    
    .address-icon
    {
     	background: transparent url(/img/sprite-elements.jpg) no-repeat -70px -728px;	
    }
    	
    .section-prompt 
    { 
        margin-top:20px;
        margin-bottom:20px;
        font-family:Georgia;
        font-size:16px;
        font-weight:bold;
        font-style:italic;
        color:#929700;
    }
    
    .shipping-address-button, .orange-button
	{
	    border: 0;
		border-radius: 4px;
		color: #FFF;
		font-size: 14px;
		font-weight: bold;
		padding: 10px 13px 10px 13px;
		text-align: center;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
	    
    .checkout-text, .options-list label
    {
        font-family:Arial;
        font-size:12px;
        color:#333333;        
    }
    
    .click-here
    {
        color: #929700;
        font-family:Arial;
        font-size:12px;
        font-style:italic;
        text-decoration: underline;
        font-weight:bold;
    }      
    
    .overlay-cart,
	.overlay-wish,
	.overlay-dialog
	{
		position:absolute;
		top:0px; left:0px;
		width:100%;
		height:100%;
		z-index:9998;
	}
	.overlay-dialog 
	{
		display:none;
	}
	.overlay-cover
	{
		position:absolute;
		top:0px; left:0px;
		width:100%;
		height:100%;
		background-image:url(/IMG/overlay.png); 
		filter:alpha(opacity=85);
		opacity:0.85;
		z-index:9998; 
	}
	.overlay-content-wrap
	{
		position:absolute;
		width:776px;
		height:350px;
		left:650px;
		top:200px;
		margin-left:-388px; 
		background-color:#fff;
		border:2px solid #ddd;
		z-index:9998;
		padding-bottom:20px; 
	}
	.overlay-content-wrap .min-height-holder
	{
		width:1px;
		float:left;
		height:300px;
		background:transparent;
	}
	.overlay-content-wrap .overlay-content
	{
		width:735px;
		float:left;
		position:relative;
		left:20px;
		margin-top:20px;
		text-align:left;
	}
	.overlay-close
	{
		position:absolute; 
		display:block;
		top:-15px; 
		right:-15px;
		width:25px;
		height:25px;
		z-index:9999; 
	}
	
	.overlay-header
    {
        background-color: #F1F1F1;
	    border-bottom: 4px solid #323232;
		height: 45px;		   
		width: 740px;
    }
    
   .text-input,
   .textbox,
   .dropdown
   {	    
		border: 1px solid #CCC;
		color: #666;
		left: 10px;
		padding-left: 7px;
		width: 250px;
		vertical-align:middle;
		box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
		padding: 8px 10px;
		display: inline-block;
		border-radius: 3px;
	}	
	.text-input.req-cvv {
		min-width: 75px;
	}
	.disabled-drop-down
	{
	    background-color:White;	    
	}
	    
    .input-label
	{    
	    font-weight:bold;
	    color:#333;	 
	}
	
	.input-label-not-required
	{
	    color:#999999;
	    font-family:Georgia;	    
	    font-weight:bold;
	}
	    
	.link-underlined
	{
	    text-decoration:underline;	    
	}
			
	.submit-label { display:none; font-weight:bold; font-size:14px; color:#767b03;  }
	
	.section-text
    {
		line-height: 1.6em;
        font-family:Arial;
        font-size:12px;
        color:#333333;            
    }            
	
	.section-sub-heading
	{
		font-family:Georgia;
		margin-bottom: 10px;
		font-size:16px;
		color:#333333;	  
		display: block;  
	}
	
	.cart-subtotal
    {
        font-family:Arial;
        font-size:21px;
        color:#333333;
        font-weight:bold;
        float:right;
        margin-top:30px;
        margin-bottom: 30px;
    }
    
    .green-link
    {
        text-decoration:none;
    }
    
    .plain-textbox
    {
        border:none;
        text-align:center;       
    }
    
    .error-response
	{
		color:#d00;
		font-weight:bold !important;
		font-size:10px !important;
		text-transform:uppercase;
	}
	
	.drop-down
	{
		border: 1px solid #CCC;
		color: #666;
		border-radius: 3px;
		padding-left: 10px;
		top: 10px;
		width: 200px;
		margin-top:5px;
		vertical-align:middle;
		box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);   
		padding: 8px 10px;
	}
	    
	.cvv { color:#858b00 ! important; }
	
	.output-message
    {
        color:Red;
        display: block;
        font-weight: bold;
        margin: 10px 0px 10px 0px;
    }

	
	/*********************************************
     End of Checkout pages
    **********************************************/
	
	/* =================== My account section table styles ===================== */
	
	.table-display  
	{
		color: #666666;
		width:100%;  
		margin-bottom: 25px;
	}          
        
        .table-display th  
        {
            padding: 6px 0px 6px 0px;
			text-align: center;
			font-weight: bold;
			font-size: 12px;
			background-color: #F1F1F1;
			white-space: nowrap;
			border-bottom: 1px solid #BABCBE;
        }
        .table-display > tbody > tr {
			border-bottom: 1px solid #D7D7D7;
        }
         .table-display td  
        {
            padding: 15px 12px;
            text-align:center; 
        }
        
          .table-display td.noborder
        {
            border-bottom: 0px;
        }
        
        .table-display td td  
        {
            padding:3px; 
            border:0px; 
            line-height:18px; 
            
        }
        .table-display td td a:hover 
        {
            text-decoration: underline;
        }
        .table-display td td a
        {
            color:#666666;
        }
            
        
        .vertical-line
        {
           padding: 5px 10px 5px 10px;
           border-right:1px solid #BABCBE;
        }
        .noline
        {
            padding: 5px 10px 5px 10px;
        }
       .align-left
       {
           text-align: left;
       }
       .align-right
       {
           text-align: right;
       }  
     .edit-button, .save-button, .new-button, .download-button
	 {
        border: 0 none;
        border-radius: 4px 4px 4px 4px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
        margin-left: 5px;
        margin-top: 10px;
        padding: 10px 13px;
        text-align: center;
    }
    
    .new-button
    {
        width:150px;
        margin:0px;
    }
    .download-button
    {
        font-family: Georgia, Serif;
        font-style: italic;
        width:115px;
        margin:0px;
    }
    
    .save-button
    {
        margin: 0px;
    }   
    .right-header
	{
	    font-family: Arial, sans-serif;
	    font-size: 28px;
	    font-weight: normal;
	    color: #333;	    
	} 
    .orange-link 
    {
        font-weight: bold;
        font-size:12px;
        font-family: Georgia, Serif;
        color: #989D30;
        text-decoration: underline;
    }
    .orange-link:hover
    {
        color: #DF8826;
    }


/* ========added for MyAccount Nav UC  ========*/
/* todo check for conflicts in Genre panels and clean up duplicates in this file of OK */
.left-nav-section-header
	{
	    float:left;
	    background-color:#F1F1F1;
		border-bottom: 4px solid #323232;		
		margin-top: 5px;
		width: 200px;	  
	    height: 45px;
	}	
		
.left-nav-section-header h2
{
    color: #333333;
    float: left;
    font-family: 'Oswald',sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 45px;
    margin-left: 10px;
    text-transform: uppercase;
}	

.account-icon
    {
        background: transparent url(/img/sprite-elements.jpg) no-repeat -70px -728px;
       	float:left;
       	height: 45px;
       	width: 35px;	
    }

.orders-icon
    {
        background: url(/img/sprite-elements.jpg) no-repeat no-repeat -70px -765px;
       	float:left;
       	height: 45px;
       	width: 35px;	
    }     

 	
	#link-list
	{
		display: block;

		font-size:12px;
		line-height: 21px;

	}
	
	#link-list li a { 
		display: block;
		padding: 7px 10px 5px;
	
		display: block;
		border-bottom: 1px solid #E2E2E2;
	}
	#link-list li a:hover
	{
		background-color: #E8E8E8;
	}
	
	.button-container
	{
		float: left;
		padding-top: 20px;
	}
	
	.pale-text
    {        
        font-size:12px;
        line-height: 30px;
        color:#666666;
    }
    
    .clickable
    {
        cursor:pointer;   
    }
    
    /* ERROR PAGES */
    
    .error-triangle
    {
        background: transparent url(/img/sprite-elements.jpg) no-repeat -270px -89px;
        width:100px;
        height:80px;     
        float:left;   
    }
    
    .error-page-message
    {
        font-family:Arial;
        font-size:17px;
        font-weight:bold;
        color:#333;           
        width:830px;   
        padding-left:50px; 
    }
    
    .error-page-link
    {
        color: #929700;
        font-weight: bold;
        text-decoration: underline;
        font-family: Georgia, Serif;
        font-size: 12px;
        font-style: italic;    
        padding-left:50px;     
    }
    
    #error-page-body
    {
        margin-top:30px;
        margin-bottom:80px;
    }    
    .warning-icon
    {
        background: transparent url(/img/sprite-elements.jpg) no-repeat -35px -728px;
       	float:left;
       	height: 45px;
       	width: 35px;	
    }

	/* ========Banner Ads  Can be changed or turned on/off from here  ========*/

	#left-banner, #cart-bottom-banner, #banner-login, #banner-cartpreview-upper, #banner-address {
		overflow: hidden;
		background-image: url(/IMG/sprites/banner-ads.jpg);
		background-repeat: no-repeat;
	}

	#left-banner
	{
		margin-top: 20px;
		
		background-position: -420px 0;
		float:left;
		height: 362px;
		width: 200px;
		
	}

	#cart-bottom-banner
	{
		background-position: 0 -580px;
		float:left;
		height: 78px;
		width: 953px;
	}

	#banner-login
	{
		background-position: 0 -275px;
		margin: auto;
		height: 200px;
		width: 329px;
	}

	#banner-cartpreview-upper
		{
		background-position: 0 -485px;
		float: left;
		margin-left: 10px;
		height: 84px;
		width: 695px;
	}
	#banner-address
	{
		background-position: 0 0;
		float:right;
		height: 266px;
		width: 409px;
	}

    .text-callout p
	{
		background-color:#E5F5F7;
		padding:10px;
		font-size: 11px;
		line-height: 18px;
		border: 1px solid #CBDDDF;
		color: #555;
		vertical-align: middle	
	}

    .text-callout p
	{
		background-image:none;
		padding:10px;
	}  

    .text-callout
	{
		padding:0px 10px 0px 10px
	}   

	.page-heading-alert{
		overflow: visible;
		text-align:center;
		padding: 7px;
		color: #FFF;
		background-color: rgb(225, 141, 60);
		width: 100%;
		font-size: 13px;
	}

/* =============================================================================
   Media Queries
   ========================================================================== */
	@media (max-width: 1024px) {
		header:after, #footer-navigation:after, header:before, #footer-navigation:before
		{
			display: none;
		}
	}
	@media (max-width: 970px) {
		#content {
			overflow-x: visible;
		}
	}

