/* Enter Your Custom CSS Here */
.noliststyle{ list-style: none; margin: 0; }
.changeoutline:focus,
.changeoutline .vc_btn:focus{ outline: #ff2a13 solid 2px !important; }
.button-to-link,
.cta-to-link .vc_btn{ 
  	background: none !important;
    border: 0 !important;
    color: #3888ce !important;
}
.cta-to-link .vc_btn:hover{
	color: #3c5ecc !important;
}
.img-list{
  	display: inline-block;
    margin-top: 30px;
	text-align: center;
}
.img-list li{
 	float: left; 
    padding: 0 35px;
}
.x-btn-navbar.collapsed:focus,
.x-nav-wrap.mobile ul li a:focus{ 
  outline: 3px solid #000; 
}
  
a.skip-to-main-content{
	background: #323A45;
    display: block;
    text-align: center;
    color: #b4b4b4;
    font-weight: 400;
  font-size: 12px;
  height:0px;
}

a.skip-to-main-content:hover{
	color: #FFFFFF;
    font-weight: 400;
}

.skip-to-main-content:focus{
	height:30px;
  	
}  