/*

Theme Name: X - Child Theme: Integrity Light
Theme URI: http://theme.co/x/
Author: Themeco
Author URI: http://theme.co/
Description: Make all of your modifications to the light version of Integrity in this child theme.
Version: 1.0.0
Template: x

*/

@import url( '../x/framework/css/site/stacks/integrity-light.css' );


body {
background-color: #f9f9fa;
color: #595959 !important;
}

.x-sidebar .berocket_aapf_widget-title {
  margin: 0 0 0.5em;
  font-size: 150%;
  line-height: 1;
}

.berocket_aapf_widget li label {
  color: #4e525b;
  font-size: 120%;
}

.social-icons li {
  display: inline-block;
  margin-right: 5px;
}

.social-icons a {
  font-size: 18px;
}

.x-topbar {
  position: relative;
  min-height: 46px;
  border-bottom: 0px solid #f2f2f2;
  background-color: #323A45;
  z-index: 1031;
}

.x-topbar .style-globe::before {
  content: url('/wp-content/uploads/2015/08/icon-globesm.png');
  padding-right: 5px;
  vertical-align: middle;
}


.topbar-menu  {
   text-transform: uppercase;
   font-size: 12px;
   list-style:none;
   float: right;
   margin: 13px 10px 0 0;
}


.topbar-menu > li {
   float:left;
   padding: 0 10px 0 10px;
}

.topbar-menu > li > a {
    color: #b4b4b4;
    font-weight:400;
}

.topbar-menu > li > a:hover {
    color: #FFFFFF;
    font-weight:400;
}

.x-navbar {
    box-shadow: none;
    border-bottom: 1px solid #E4E4E4;
}




.featured-ProductsNav {
    text-transform: uppercase;
    margin-right: 20px;
}

.contentStrip-white {
    border-top: solid 1px #E4E4E4;
    border-bottom: solid 1px #E4E4E4;
    margin-bottom: 0px !important;
}

.colBorder {

/*border-right: solid 1px #E4E4E4;
margin-right: 4%;
padding-right: 4%;*/

}


.vc_icon_element {
  margin-bottom: 25px !important;
}

.colIcon {

}



.x-sidebar.widget > h4 {
	color: #000 !important;
	font-weight: 400;
	font-size: 130%;
	text-decoration:capitalize;
}


.widget {
  text-shadow: none;
  /*color: #7E8890 !important;*/
  color: #939393 !important;
}



.widget ul {
  overflow: hidden;
  margin-left: 0;
  border: none;
  list-style: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}

.widget ul li {
  border: none;
  /*padding: 0.65em 0.85em;*/
  line-height: 1.5;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
  background-color: transparent;
}

.widget_nav_menu ul li a {
  display: block;
  border-bottom: none;
  background-color: transparent !important;
  padding: 0.40em 0;
  box-shadow: none;
  /*color: #7E8890 !important;*/
  color: #939393 !important;
}

.widget_nav_menu ul li a:hover {
 background-color: transparent !important;
 color: #2f7bbd !important;
}

.widget_nav_menu .current-menu-item>a {
  background-color: transparent !important;
}

.widget_nav_menu ul li a:before, .widget_meta ul li a:before, .widget_pages ul li a:before {
  content: none !important;
  padding-right: 0 !important;
}

.x-btn, .x-btn:hover, .button, .button:hover, [type="submit"], [type="submit"]:hover {
  text-shadow: none !important;
}

.x-btn.x-btn-small {
  padding: 0.643em 1.143em 0.643em;
  font-size: 14px;
}

.x-btn, .button, [type="submit"] {
  background-color: #0870cb !important;
}

.mediaCol {
   min-height: 59px;
}

.mediaLogo {
  vertical-align: middle;
  margin-bottom: 0px;
  }


.x-colophon {
	position: relative;
	border-top: 0px solid #d4d4d4;
	background-color: #191D22;
	box-shadow: none;
}

.x-colophon.top {
	padding: 3.0% 0;
}


/*Edit 03-14-16*/
#menu-primary-nav-new a {
    color: #4e525b;
}
.woocommerce-breadcrumb > a {
    color: #4e525b !important;
}
h4.h-widget {
    color: #aaaaaa;
}
 #x-content-band-2 > .x-container.wpb_row > .x-column.x-sm.vc.x-1-3 > .x-alert.x-alert-info.x-alert-block > p:nth-of-type(1) > a, .x-alert.x-alert-info.x-alert-block a {
  color: #0160b3;
 }
 .more-link {
  color: #0160b3;
 }
h6.mediaHeadline-title {
  color: #aaaaaa !important;
}
hr {
  border-color: #adadad; 
}
.woocommerce li.product .entry-header h3, .woocommerce-page li.product .entry-header h3 {
  color: #fff;
}
h1.careers-title {
  font-size: 35px;
  font-weight: bold;
  margin-top: 20px;
}
h2.careers-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}
h3.careers-title {
  font-size: 20px;
  font-weight: bold;
}



/* WOOCOMMERCE CUSTOM STYLES*/

.woocommerce li.product,
.woocommerce-page li.product {
  float: left;
  overflow: hidden;
  position: relative;
  margin: 0 4% 4.5% 0;
  padding: 0;
  text-align: center;
  background-color: transparent !important;

}

.woocommerce li.product .entry-header h3 {
	font-size: 90% !important;
	font-weight:400 !important;
padding-bottom: 0.7em !important;
padding-top: 1.25em !important;
}

.woocommerce li.product h3 {
  font-size: 100% !important;
  letter-spacing: 0 !important;
  margin-top: 10px !important;
  font-weight: 400;
}


.woocommerce li.product .entry-header .price>.amount, .woocommerce li.product .entry-header .price>ins>.amount, .woocommerce-page li.product .entry-header .price>.amount, .woocommerce-page li.product .entry-header .price>ins>.amount {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #fff;
}

.woocommerce li.product .entry-wrap {
	text-align: center !important;
	border:0;
margin: 0 2% 0 2%;

}

.woocommerce ul.product_list_widget {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px;
}

.woocommerce ul.product_list_widget li{
    border-bottom: 1px solid #ddd;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.woocommerce ul.product_list_widget li:last-child {
    border-bottom: 0;
}

p.inner-page-links-section{
    font-size: 25px;
    margin-bottom:0px;
}


/* Woocommerce Drill Down Menu */
.product-categories #outer_ul,
.woocommerce #outer_ul {
    padding-left: 0;
}

.product-categories #outer_ul li,
.woocommerce #outer_ul li {
    margin: 0;
    padding: 6px 15px 6px 15px;
    background-color: #4B515A;
    border-bottom: 1px solid #818181;
    background-image:none;
}

.product-categories #outer_ul li a,
.woocommerce #outer_ul li a,
.woocommerce ul#outer_ul li.current-cat-parent a {
    color: #F7F7F7;
}

.product-categories #outer_ul li a,
.woocommerce #outer_ul li a {
    border-bottom:0;
}

.product-categories ul#outer_ul > li ul,
.woocommerce ul#outer_ul > li ul {
    margin: 0;
}

#outer_ul li > ul > li,
.woocommerce #outer_ul li > ul > li {
    font-size: 14px;
    border-bottom: 0 !important;
    line-height: normal;
}

.has-post-thumbnail .entry-wrap {

}

.woocommerce li.product .entry-featured img {
   opacity:1.0;
padding: 2%;

  border: solid 1px #D4D4D4 !important;
}




.woocommerce li.product .entry-featured, 
.woocommerce-page li.product .entry-featured {
  overflow: hidden;
  z-index: 0;

}

.entry-wrap {
  display: block;
  padding: 60px;
  /*background-color:transparent !important;*/
  border-radius: 4px;
  box-shadow: 0 0.10em 0.10em 0 rgba(0,0,0,0.10);
  border: solid 1px rgba(0,0,0,0.08);
}

 .woocommerce li.product .entry-wrap,
 .woocommerce-page li.product .entry-wrap {
  position: absolute !important;
  top: calc(100% - 5.5em)!important;
  border-top: solid 3px #FFF;
  left: 0 !important;
  right: 0 !important;
  bottom: auto !important;
  padding: 0 !important;
  font-size: 14px !important;
  /*background-color: transparent !important;*/
  background-color: rgba(0, 0, 0, 0.4) !important;
  -webkit-transition: all 0.615s cubic-bezier(0.19, 1, 0.22, 1)!important;
  transition: all 0.615s cubic-bezier(0.19, 1, 0.22, 1)!important;

}


.woocommerce li.product:hover .entry-wrap, 
.woocommerce-page li.product:hover .entry-wrap {
  top: calc(100% - 9.5em) !important;

}


.woocommerce li.product .entry-wrap:before, 
.woocommerce-page li.product .entry-wrap:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50em;
  background-color: rgba(0,0,0,0.7) !important;
  z-index: 0;
  -webkit-transition: all 0.615s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.615s cubic-bezier(0.19, 1, 0.22, 1);
}

/**Woocommerce Pagination**/
.woocommerce-pagination {
    height: 32px;
    margin: 40px 0 0;
    text-align: center;
}
.woocommerce-pagination ul {
    display: inline-block;
    margin: 0;
}
.woocommerce-pagination li {
    display: inline;
}
.woocommerce-pagination a, .woocommerce-pagination span {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 transparent inset, 0 0.1em 0.45em 0 rgba(0, 0, 0, 0.25);
    color: #bababa;
    float: left;
    font-size: 13px;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    margin: 0 0.35em;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
    width: 32px;
}
.woocommerce-pagination a:hover {
    color: #7a7a7a;
}
.woocommerce-pagination span.current {
    background-color: #3888ce;
    box-shadow: 0 0.1em 0.35em rgba(0, 0, 0, 0.65) inset, 0 1px 0 0 rgba(255, 255, 255, 0.95);
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
}
.woocommerce-pagination span.pages {
    display: none;
}
.woocommerce-pagination span.dots, .woocommerce-pagination span.expand {
    background-color: transparent;
    box-shadow: none;
    color: #272727;
    margin: 0;
    width: 20px;
}

/* Woocommerce Product Filter - WOFF */

.woof_container h4 {
  margin-top: 30px;
}

.widget-woof h3 {
  margin-top: 0;
  font-size: 171.4%;
}

.woof_list {
  padding-left: 10px;
}

.woof_list li {
  display: table;
}

.woof_list li:hover {
  background-color: transparent !important;
}

.woof_list .woof_radio_term,
.woof_list label {
  float: left;
}

.woof_list label {
  line-height: normal;
  cursor: pointer;
  color: #4e525b;
  padding-left: 8px;
}

.woof_products_top_panel li {
  padding: 0.25em 0 !important;
}

.woof .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #848484 !important;
  top: 80% !important;
}

.woof .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #4B515A !important;
}

.woof_price_search_container .price_slider_amount .price_label {
  border: 1px solid #ccc !important;
  font-size: 115% !important;
  width: auto !important;
  border-radius: 5px;
}

.widget_wc_category_accordion { margin-top: 30px; }
.widget_wc_category_accordion .h-widget { font-size: 171.4%; }

li.x-menu-item-search{
    display: none;
}
a:focus img {
    border: 5px solid;
    overflow: hidden;
}

/* JSCOMPOSER/ WPBAKERY CUSTOM STYLES*/
.vc_icon_element-color-blue {
color: #3888CE !important;
}

/* Focus or hover updates*/

a:focus, select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="submit"]:focus, input[type="checkbox"]:focus {
	background: rgba(0, 231, 255, 0.47);
}

a:focus img {
    border: 5px solid;
    /* position: relative; */
    overflow: hidden;
}

/** Product Creators **/
.x-pricing-column h3 {
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    color: #7a7a7a;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 1.1;
    padding: 20px 20px 25px;
}
.x-pricing-column h3 span {
    color: #000;
    display: block;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 5px;
    opacity: 0.5;
    text-transform: uppercase;
}


/* Media Queries */

@media (min-width: 980px) {

  .x-sidebar.right {
    float: left;
  }

  .x-main.left {
    float: right;
  }

}

@media (max-width: 767px) {
    .woocommerce-pagination a.prev, .woocommerce-pagination a.next, .woocommerce-pagination a.prev-next {
        display: none;
    }
}

/* WooCommerce Category Accordion */
a.parent { background: url('images/btn_show.png') no-repeat scroll center 9px; cursor: pointer; height: 21px; overflow: hidden; position: absolute; right: 15px; text-indent: -9999999999px; top: 6px; width: 19px; }
ul.outer_ul { width: auto; }
ul.outer_ul li,
ul.outer_ul li:hover { background-color: #4B515A; border-bottom: 1px solid #818181; line-height: 25px; list-style-type:none; overflow: hidden; padding: 6px 30px 6px 15px; position: relative; text-overflow: ellipsis; transition: all 200ms ease-in 0s; }
ul.outer_ul li a,
ul.outer_ul li a:hover { border: 0; color: #F7F7F7 !important; display: inline; text-decoration: none; text-transform: capitalize; }
ul.outer_ul li.current-cat > a { font-weight:bold; }
ul.outer_ul li > ul.children li { padding-left: 5px; padding-right: 0; }