.desktop .widget{
	overflow: visible !important;
}
#google-search #google-content{
	position: absolute;
	top: 35px;
	left: 15px;
	width: 330px;
	height: 130px;
}

#google-search .glogo{
	position: absolute;
	top: 5px;
	left: 50%;
	height: 48px;
	width: 120px;
	margin-left: -60px;
}
#google-search #glogo{
	background: url('//static02.symbaloo.com/widgets/26/images/google-logo.png') 0 0 no-repeat;
}

#google-search .g-input{
	background: #fff;
	border-width: 1px;
	border-style: solid;
	border: 1px solid rgb(126, 157, 185);
	font-family: arial, sans-serif;
	padding: 2px 3px;
	height: 26px;
	line-height: 24px;
	font-weight: bold;
	color: #000;
}
#google-search #g-search{
	font-size: 16px;
	width: 234px;
	position: absolute;
	top: 55px;
	left: 50%;
	margin-left: -150px;
	-webkit-user-select: auto;
	
}

#google-search #g-submit{
	background: #4285f4 url('//cdn01.symbaloo.com/static/img/search/search_btn.png') no-repeat;
	background-position: center center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=1);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 0 14px !important;
	height: 32px;
	border: 1px hidden #4285f4;
	margin: 0;
	font-size: 10px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	width: 60px;
	position: absolute;
	z-index: 1;
	text-indent: -99999em;

	position: absolute;
    right: 13px;
    top: 55px;
}

#google-search #g-submit:hover{
	border-color: #2f5bb7;
	background-color: #2f5bb7;
}


.searchmod-src{
	display: block;
}

input[name=q]{
	-webkit-user-select: none;
}