@charset "utf-8";
/**
 * @Author:      tan
 * @DateTime:    2015-06-11 12:06:19
 * @Description: Description
 **/

/*****默认样式*****/ 
*:before, *:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html{font-size: 10px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;} 
fieldset,img {border:0;} 
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;} 
ol,ul {list-style-type: none;} 
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} 
q:before, q:after{content:' '} 
abbr,acronym{border:0;}

a{color: #999;}
a:hover {color: #c94;}
a:focus{outline:none;}
a:visited{text-decoration: none;}


/******文字排版******/ 
.f10{font-size:10px;} 
.f12{font-size:12px;} 
.f13{font-size:13px;} 
.f14{font-size:14px;} 
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.f30{font-size:30px;}
.fb{font-weight:bold;} 
.fn{font-weight:normal;}
.t2{text-indent:2em;}
.lh30{line-height:30px}
.lh35{line-height:35px}
.lh60{line-height:60px}
.lh85{line-height:85%}  
.lh150{line-height:150%} 
.lh180{line-height:180%} 
.lh200{line-height:200%} 
.unl{text-decoration:underline;} 
.no_unl{text-decoration:none;} 

/******颜色样式******/
.black{color:#000000}
.white{color:#ffffff}
.red{color:#ff0000}
.green{color:#2e963d}
.blue{color:#0066cc}
.gray{color:#cccccc}
.orange{color:#ff6600}
.c333{color: #333}
.c999{color: #999}
.c666{color: #666}
.c94{color: #cc9944}
.aaa{color: #aaa}
.bf1{background: #f1f1f1}
.a9b{color: #a9987b}
.bdd{background: #ddd}
.bdr{border-right: 1px solid #DDD !important;}
.b247{background: #8C6247;}
.a300{color:#F08300};

/******定位布局******/ 
.tl{text-align:left !important;} 
.tc{text-align:center !important;} 
.tr{text-align:right !important;}
.tt{vertical-align: top}
.tm{vertical-align: middle}
.tb{vertical-align: bottom}
.bc{margin-left:auto;margin-right:auto;} 
.fl{float:left;display:inline;} 
.fr{float:right;display:inline;} 
.cb{clear:both;} 
.cl{clear:left;} 
.cr{clear:right;} 
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden} 
.clearfix{display:inline-block;} 
*html .clearfix{height:1%} 
.Clearfix{display:block;} 
.vm{vertical-align:middle;}
.pre{position:relative;}
.pre-2top{position: relative;top:2px}
.pre-01top{position: relative;top:-1px}
.pab{position:absolute;} 
.abs-right{position:absolute;right:0;} 
.zoom{zoom:1} 
.hidden{visibility:hidden;} 
.db{display:block}
.dn{display:none}
.dline{display:inline-block}
.ofauto{overflow: auto}
.ohidden{height:auto;overflow: hidden}
.ofvisi{overflow: visible !important;}
.hide{display: none}

/******宽度高度******/ 
.w10{width:10px;} 
.w20{width:20px;} 
.w30{width:30px;} 
.w40{width:40px;} 
.w50{width:50px;} 
.w60{width:60px;} 
.w70{width:70px;} 
.w80{width:80px;} 
.w90{width:90px;} 
.w100{width:100px;} 
.w125{width:125px;}
.w130{width:130px;}
.w150{width:150px;}
.w180{width:180px;}
.w200{width:200px;} 
.w230{width:230px;} 
.w250{width:250px;} 
.w275{width:275px;}
.w290{width:290px;}
.w300{width:300px;} 
.w400{width:400px;} 
.w450{width:450px;} 
.w500{width:500px;} 
.w550{width:550px;} 
.w600{width:600px;} 
.w700{width:700px;}
.w800{width:800px;}
.w900{width:900px;}
.w{width:100%} 
.h10{height:10px;}
.h20{height:20px;}
.h30{height:30px;}
.h40{height:40px;}
.h50{height:50px;}
.h60{height:60px;}
.h70{height:70px;}
.h80{height:80px;} 
.h90{height:90px;}
.h100{height:100px;} 
.h200{height:200px;} 
.h300{height:300px;} 
.h400{height:400px;} 
.h500{height:500px;} 
.h600{height:600px;} 
.h700{height:700px;} 
.h800{height:800px;} 
.h{height:100%}

/******边框*********/
.b0{border:0}

/******内外边距******/
.mn{margin: 0 }
.m10{margin:10px;} 
.m15{margin:15px;} 
.m30{margin:30px;}
.mt0{margin-top:0px;}
.mt3{margin-top:3px;}
.mt5{margin-top:5px;} 
.mt10{margin-top:10px;} 
.mt15{margin-top:15px;} 
.mt20{margin-top:20px;}
.mt40{margin-top:40px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;} 
.mt120{margin-top:120px;} 
.mb5{margin-bottom:5px;}
.mb9{margin-bottom:9px;}
.mb10{margin-bottom:10px;} 
.mb15{margin-bottom:15px;} 
.mb20{margin-bottom:20px;} 
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb70{margin-bottom:70px;}
.mb100{margin-bottom:100px;} 
.ml5{margin-left:5px;} 
.ml10{margin-left:10px;} 
.ml15{margin-left:15px;} 
.ml20{margin-left:20px;} 
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;} 
.ml60{margin-left:60px;} 
.ml80{margin-left:80px;}
.ml100{margin-left:100px;}
.ml130{margin-left:130px;}
.ml150{margin-left:150px;}
.ml200{margin-left:200px;}
.mr4{margin-right:4px;}
.mr5{margin-right:5px;} 
.mr6{margin-right:6px;} 
.mr10{margin-right:10px;} 
.mr15{margin-right:15px;} 
.mr20{margin-right:20px;} 
.mr30{margin-right:30px;} 
.mr50{margin-right:50px;}
.mr80{margin-right:80px;}
.mr90{margin-right:90px;}
.mr100{margin-right:100px;}
.pn{padding: 0}
.p10{padding:10px;} 
.p15{padding:15px;} 
.p30{padding:30px;} 
.pt5{padding-top:5px;} 
.pt10{padding-top:10px;} 
.pt15{padding-top:15px;} 
.pt20{padding-top:20px;} 
.pt30{padding-top:30px;} 
.pt50{padding-top:50px;} 
.pt100{padding-top:100px;} 
.pb5{padding-bottom:5px;} 
.pb10{padding-bottom:10px;} 
.pb15{padding-bottom:15px;} 
.pb20{padding-bottom:20px;} 
.pb30{padding-bottom:30px;} 
.pb50{padding-bottom:50px;} 
.pb80{padding-bottom:80px;} 
.pb100{padding-bottom:100px;} 
.pl5{padding-left:5px;} 
.pl10{padding-left:10px;} 
.pl15{padding-left:15px;} 
.pl20{padding-left:20px;}
.unpl{padding-left:0px !important;}
.pl30{padding-left:30px;} 
.pl50{padding-left:50px;} 
.pl100{padding-left:100px;} 
.pr5{padding-right:5px;} 
.pr10{padding-right:10px;} 
.pr15{padding-right:15px;} 
.pr20{padding-right:20px;} 
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr50{padding-right:50px;} 
.pr100{padding-right:100px;} 
.pr150{padding-right:100px;} 

a:hover{color: #F78223;text-decoration: none;}
