body {
  font-family: "Helvetica Neue", Helvetica, '微软雅黑', Arial, sans-serif;
}
ul,
ol,li{
  list-style: none;
  margin: 0;
  padding: 0
}
.lazy{
  background: url(../images/default.png) no-repeat center center;
}
.btn-gm{
  color: #ffffff;
  background-color: #e97f00;
  border-color: #e97f00;
}
.btn-gm:hover {
  text-decoration: none;
  background-color: #F38A0E;
  color: #fff;
}
.btn-replay-gm{
  color: #ffffff;
  background-color: #ff7300;
  border-color: #ff7300;
  min-width:100px;
  text-align:center;
}
.btn-replay-gm:hover {
  text-decoration: none;
  background-color: #d86304;
  border-color: #d86304;
  color: #fff;
}

.btn-gray,.btn-gray:focus{
  color: #ffffff;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}
.btn-gray:hover{
  color: #ffffff;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  overflow:hidden;
}

.top-con{
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  position: relative;
  z-index: 3;
}
.top-con .sayHello{
  float: left;
  margin-bottom: 0;
}
.top-con .JS-in{
  float: left;
  width:300px;
}

.top-con .container .JS-in li {
	float: left;
	margin-left:10px;
}
.top-con .container .JS-in li a{
	color: #f58220;
	font-size:12px;
}
.top-con .container .JS-in li a:hover{
	color: #ffa65a;
	font-size:12px;
}

.t-quick-menu{
  float:right;
}
.t-quick-menu a:hover{
  text-decoration: none;
}
.t-quick-menu > li{
  float: left;
  position: relative;
}
.t-quick-menu > li:after{
  display: block;
  content: '';
  width: 1px;
  height: 25px;
  position: absolute;
  top:2px;
  right: 0;
  background-color: #eee;
}
.t-quick-menu >li > a{
  display: block;
  height:30px;
  padding:0 15px;
  color:#333;
}
.t-quick-menu >li > .quick-menu-son{
  position: absolute;
  display: none;
  width: 100%;
  border:1px solid #ddd;
  border-top: 0;
  top:29px;
  background-color: #fff;
  text-align:center;
}
.t-quick-menu >li:hover > a{
  background-color: #fff;
}
.t-quick-menu >li:hover > .quick-menu-son{
  display: block;
}
.t-quick-menu .num{
  display: inline-block;
  background-color: #f58220;
  color:#fff;
  padding:3px 5px;
  margin-left: 3px;
  line-height: 1;
  border-radius: 3px;
}
.t-quick-menu >li .caret{
  transition: all .5s ease;
}
.t-quick-menu >li:hover .caret{
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
}
.t-quick-menu li.no-menu:hover > a{
  background: none;
}



.header{
  padding: 30px 0 35px 0;
  background-color: #f5f5f5;
}
.header  .logo{
  float: left;
  margin-top: 5px;
}
.header  .search_con{
  float: left;
  width: 660px;
  margin-left: 50px;
}
.search_con .search-keyword{
  height: 40px;
}
.search_con .btn-gm{
  height: 40px;
  width: 120px;
  font-weight: 700;
}
.header .head-block{
  margin-top: 25px;
  float:right;
  height: 40px;
  line-height: 38px;
  padding:0 15px;
  background-color: #fff;
  border:1px solid #ddd;
  color:#F6821F;
  margin-right:30px;
}
.search-type{
  font-size: 0;
  margin-bottom: 2px;
}
.search-type > a{
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  padding: 0 15px;
  border-left: 1px solid #ddd;
  color:#333;
}
.search-type > a:hover,
.search-type > a.active{
  color:#F38A0E;
}
.search-type > a:first-child{
  border-left: 0;
}
.icon-post{
    width: 20px;
    height: 20px;
    background: url("../index/images/common.png") -40px -7px no-repeat;
    display: inline-block;
    margin-right: 10px;
}


.nav-con{
  background: #696969;
  height:40px;
  overflow:hidden;
}
.nav-bar{
  background-color: #f58220;
  height:40px;
}
.nav-left{
  float: left;
  width: 230px;
  margin-right: 10px;
  position: relative;
  z-index:100;
}
.menu-sort{
  position: absolute;
}
.nav-right{
  float:left;
  width: 960px;
  margin:0;
  padding: 0;
}
.nav-right>li{
  float: left;
}
.nav-right>li>a{
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  color: #fff;
  font-size: 16px;
}
.nav-right>li.active>a,
.nav-right>li>a:hover{
  background-color: #e54100;
  text-decoration: none;
}
.menu-sort-t{
  height: 40px;
  line-height: 40px;
  background-color: #333;
  color:#fff;
  text-align: center;
}

.menu-sort-t span.icon-sort{
	float:left;
	width:22px;
	height:16px;
	display:block;
	background:url(../../common/images/common.png) -206px -134px no-repeat;
	margin-top:13px;
	margin-left:15px;
}

.menu-sort-t span.tex{
	float:left;
	display:block;
	margin-left:45px;
	font-size:16px;
}

.menu-sort-c{
  display: none;
  transition: all .3s ease;
}
.nav-left:hover .menu-sort-c{
  display:block;
}
.menu-sort-c{
  position: absolute;
  background: #f4f4f4;
  border:1px solid #ddd;
  border-top: 0;
  padding-top:1px;
  width: 100%;
}
.menu-sort-c > li {
    height: 48px;
    color: #333;
}
.menu-sort-c > li > a {
    position: relative;
    z-index: 2;
    background: url(../images/menu-ico.png) no-repeat 200px -482px;
    color: #333;
}
.icon-menu{
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-top: 1px;
  line-height: 24px;
  vertical-align: middle;
  background-image: url(../images/menu-ico.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.icon-menu-1{background-position: 0 0;}
.icon-menu-2{background-position: 0 -40px;}
.icon-menu-3{background-position: 0 -80px;}
.icon-menu-4{background-position: 0 -120px;}
.icon-menu-5{background-position: 0 -160px;}
.icon-menu-6{background-position: 0 -200px;}
.icon-menu-7{background-position: 0 -240px;}
.icon-menu-8{background-position: 0 -280px;}
.icon-menu-9{background-position: 0 -320px;}
.icon-menu-10{background-position: 0 -360px;}
.icon-menu-11{background-position: 0 -400px;}
.icon-menu-12{background-position: 0 -440px;}

.menu-sort-c > li:hover {
    /*box-shadow: 2px 0px 2px rgba(0,0,0,0.1);*/
}

.menu-sort-c > li:hover > a {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    *margin-top: -1px;
    top: -1px;
    background-color: #fff;
    width: 229px;
    text-decoration: none;
}

.menu-sort-c > li:hover > a {
    color: #e50000;
}

.menu-sort-c .cm-menu-hd {
    display: block;
    height: 48px;
    line-height: 48px;
    padding-left: 20px;
}

.menu-sort-c .icon-menu {
    margin-right: 5px;
}
.menu-sort-c > li:hover .cm-menu-bd{
  display: block;
}
.menu-sort-c .cm-menu-bd {
    position: absolute;
    display: none;
    z-index: 1;
    top: 0px;
    left: 228px;
    background: #fff;
    width: 970px;
    height: 578px;
    border: 1px solid #eeeeee;
    box-shadow: 2px 0px 2px rgba(0,0,0,0.1);
    overflow: hidden;
}

.cm-menu-bd dl {
    float: left;
    width: 170px;
    padding: 20px 0 20px 30px;
    min-height: 240px;
}

.cm-menu-bd dt {
    margin-bottom: 5px;
}

.cm-menu-bd dt a {
    color: #e50000;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
}

.clearLeft {
    clear: left;
}

.cm-menu-bd dd a {
    display: block;
    padding: 6px 0;
    line-height: 1.2;
}

.cm-menu-bd dd a.more {
    color: #999;
}

.cm-menu-bd dd a:hover {
    color: #e50000;
}

.cm-menu-bd > ul a {
    display: block;
    padding: 6px;
    line-height: 1.2;
}

.cm-menu-bd > ul a:hover {
    color: #e50000;
}


.footer-nav{
  clear:both;
  padding: 30px 0;
  color: #fff;
  background-color: #656a76
}
.footer-nav dl{
  float: left;
  width: 165px;
  margin-bottom: 0
}
.footer-nav dt{
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
}
.footer-nav dd{
  font-size: 12px;
  padding-bottom: 6px;
}
.footer-nav dd a{
  color:#fff;
}
.footer-nav dl.contact{
  width: 250px;
}
.footer-nav .qrcode-b{
  float: right;
  width: 275px;
  border-left: 1px solid #999;
  padding-left: 30px;
}
.footer-nav .qrcode-b h3{
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}
.footer-cooy {
  padding: 30px 0;
  line-height: 2;
  text-align: center;
}


.Bar {
    min-width: 1024px;
    margin: 0 auto;
    max-width: 1200px;
    line-height: 40px;
}
.fl {
    float: left;
}
