@charset "utf-8";
/**
 * @Author:      tan
 * @DateTime:    2015-07-08 19:57:25
 * @Description: Description
 */

/*****国旗样式*****/ 
.site-nav [class^="icon-"],.link-country-currency [class*="icon-"]{
  width:16px;
  height:11px;
  margin:2px 3px 0 2px;
  display: inline-block;
}
.icon-flag1,.icon-flag2,.icon-flag3,.icon-flag4,.icon-flag5{
  width: 16px;
  height: 11px;
  display: inline-block;
  background-repeat: no-repeat;
}
.icon-flag1{
  background-image: url(img/africa.png);
}
.icon-flag2{
  background-image: url(img/america.png);
}
.icon-flag3{
  background-image: url(img/asia.png);
}
.icon-flag4{
  background-image: url(img/europe.png);
}
.icon-flag5{
  background-image: url(img/oceania.png);
}
.currency-symbol{
  width: 25px;
  display: inline-block;
  text-align: center;
}
/*非洲*/
.algeria{background-position:-1px -1px}
.angola{background-position:-19px -1px}
.benin{background-position:-37px -1px}
.botswana{background-position:-55px -1px}
.burkina-faso{background-position:-73px -1px}
.burundi{background-position:-91px -1px}
.cameroon{background-position:-109px -1px}
.cape-verde{background-position:-1px -14px}
.central-african-republic{background-position:-19px -14px}
.chad{background-position:-37px -14px}
.comoros{background-position:-55px -14px}
.congo{background-position:-73px -14px}
.cote-divoire{background-position:-91px -14px}
.cyprus{background-position:-109px -14px}
.djibouti{background-position:-1px -27px}
.egypt{background-position:-19px -27px}
.equatorial-guinea{background-position:-37px -27px}
.eritrea{background-position:-55px -27px}
.ethiopia{background-position:-73px -27px}
.gabon{background-position:-91px -27px}
.gambia{background-position:-109px -27px}
.ghana{background-position:-1px -40px}
.guinea-bissau{background-position:-1px -53px}
.guinea{background-position:-1px -66px}
.lesotho{background-position:-1px -79px}
.liberia{background-position:-1px -92px}
.libya{background-position:-1px -105px}
.madagascar{background-position:-19px -40px}
.malawi{background-position:-37px -40px}
.mali{background-position:-55px -40px}
.mauritania{background-position:-73px -40px}
.mauritius{background-position:-91px -40px}
.morocco{background-position:-109px -40px}
.mozambique{background-position:-19px -53px}
.namibia{background-position:-19px -66px}
.niger{background-position:-19px -79px}
.nigeria{background-position:-19px -92px}
.rwanda{background-position:-19px -105px}
.sao-tome-and-principe{background-position:-37px -53px}
.senegal{background-position:-55px -53px}
.seychelles{background-position:-73px -53px}
.somalia{background-position:-91px -53px}
.south-africa{background-position:-109px -53px}
.st-helena{background-position:-37px -66px}
.sudan{background-position:-37px -79px}
.tanzania{background-position:-37px -92px}
.togo{background-position:-37px -105px}
.tunisia{background-position:-55px -66px}
.uganda{background-position:-73px -66px}
.zambia{background-position:-91px -66px}
.zimbabwe{background-position:-109px -66px}
/*美洲*/
.anguilla{background-position:-1px -1px}
.antigua-and-barbuda{background-position:-19px -1px}
.argentina{background-position:-37px -1px}
.aruba{background-position:-55px -1px}
.bahamas{background-position:-73px -1px}
.barbados{background-position:-91px -1px}
.belize{background-position:-109px -1px}
.bermuda{background-position:-1px -14px}
.bolivia{background-position:-19px -14px}
.brazil{background-position:-37px -14px}
.canada{background-position:-55px -14px}
.cayman-islands{background-position:-73px -14px}
.chile{background-position:-91px -14px}
.colombia{background-position:-109px -14px}
.costa-rica{background-position:-1px -27px}
.cuba{background-position:-19px -27px}
.dominica{background-position:-37px -27px}
.dominican-republic{background-position:-55px -27px}
.ecuador{background-position:-73px -27px}
.el-salvador{background-position:-91px -27px}
.falkland-islands{background-position:-109px -27px}
.french-guiana{background-position:-1px -40px}
.greenland{background-position:-1px -53px}
.grenada{background-position:-1px -66px}
.guadeloupe{background-position:-1px -79px}
.guatemala{background-position:-1px -92px}
.guyana{background-position:-1px -105px}
.haiti{background-position:-19px -40px}
.honduras{background-position:-37px -40px}
.jamaica{background-position:-55px -40px}
.martinique{background-position:-73px -40px}
.mexico{background-position:-91px -40px}
.montserrat{background-position:-109px -40px}
.netherlands-antilles{background-position:-19px -53px}
.nicaragua{background-position:-19px -66px}
.panama{background-position:-19px -79px}
.paraguay{background-position:-19px -92px}
.peru{background-position:-19px -105px}
.puerto-rico{background-position:-37px -53px}
.saint-kitts-and-nevis{background-position:-55px -53px}
.saint-lucia{background-position:-73px -53px}
.saint-vincent-and-the-grenadines{background-position:-91px -53px}
.suriname{background-position:-109px -53px}
.trinidad-and-tobago{background-position:-37px -66px}
.turks-and-caicos-islands{background-position:-37px -79px}
.united-states{background-position:-37px -92px}
.uruguay{background-position:-37px -105px}
.venezuela{background-position:-55px -66px}
.virgin-islands-british{background-position:-73px -66px}
.virgin-islands-us{background-position:-91px -66px}
/*亚洲*/
.afghanistan{background-position:-1px -1px}
.armenia{background-position:-19px -1px}
.azerbaijan{background-position:-37px -1px}
.bahrain{background-position:-55px -1px}
.bangladesh{background-position:-73px -1px}
.bhutan{background-position:-91px -1px}
.brunei-darussalam{background-position:-109px -1px}
.cambodia{background-position:-1px -14px}
.china{background-position:-19px -14px}
.democratic-republic{background-position:-37px -14px}
.east-timor{background-position:-55px -14px}
.georgia{background-position:-73px -14px}
.hong-kong-china{background-position:-91px -14px}
.india{background-position:-109px -14px}
.indonesia{background-position:-1px -27px}
.iran{background-position:-19px -27px}
.iraq{background-position:-37px -27px}
.israel{background-position:-55px -27px}
.japan{background-position:-73px -27px}
.jordan{background-position:-91px -27px}
.kazakhstan{background-position:-109px -27px}
.kenya{background-position:-1px -40px}
.korea-republic-of{background-position:-1px -53px}
.kuwait{background-position:-1px -66px}
.kyrgyzstan{background-position:-1px -79px}
.lebanon{background-position:-1px -92px}
.macau-china{background-position:-1px -105px}
.malaysia{background-position:-19px -40px}
.maldives{background-position:-37px -40px}
.mongolia{background-position:-55px -40px}
.myanmar{background-position:-73px -40px}
.nepal{background-position:-73px -66px}
.oman{background-position:-91px -40px}
.pakistan{background-position:-109px -40px}
.philippines{background-position:-19px -53px}
.qatar{background-position:-19px -66px}
.saudi-arabia{background-position:-19px -79px}
.singapore{background-position:-19px -92px}
.sri-lanka{background-position:-19px -105px}
.syrian-arab-republic{background-position:-37px -53px}
.taiwan-china{background-position:-55px -53px}
.tajikistan{background-position:-73px -53px}
.thailand{background-position:-91px -53px}
.turkey{background-position:-109px -53px}
.turkmenistan{background-position:-37px -66px}
.united-arab-emirates{background-position:-37px -79px}
.uzbekistan{background-position:-37px -92px}
.vietnam{background-position:-37px -105px}
.yemen{background-position:-55px -66px}
/*欧洲*/
.albania{background-position:-1px -1px}
.andorra{background-position:-19px -1px}
.austria{background-position:-37px -1px}
.belarus{background-position:-55px -1px}
.belgium{background-position:-73px -1px}
.bosnia-and-herzegowina{background-position:-91px -1px}
.bulgaria{background-position:-109px -1px}
.croatia{background-position:-1px -14px}
.czech-republic{background-position:-19px -14px}
.denmark{background-position:-37px -14px}
.estonia{background-position:-55px -14px}
.faeroe-islands{background-position:-73px -14px}
.finland{background-position:-91px -14px}
.france{background-position:-109px -14px}
.germany{background-position:-1px -27px}
.gibraltar{background-position:-19px -27px}
.greece{background-position:-37px -27px}
.hungary{background-position:-55px -27px}
.iceland{background-position:-73px -27px}
.ireland{background-position:-91px -27px}
.italy{background-position:-109px -27px}
.latvia{background-position:-1px -40px}
.liechtenstein{background-position:-1px -53px}
.lithuania{background-position:-1px -66px}
.luxembourg{background-position:-1px -79px}
.macedonia{background-position:-1px -92px}
.malta{background-position:-1px -105px}
.moldova{background-position:-19px -40px}
.monaco{background-position:-37px -40px}
.montenegro{background-position:-55px -40px}
.netherlands{background-position:-73px -40px}
.norway{background-position:-91px -40px}
.poland{background-position:-109px -40px}
.portugal{background-position:-19px -53px}
.romania{background-position:-19px -66px}
.russian{background-position:-19px -79px}
.san-marino{background-position:-19px -92px}
.serbia{background-position:-19px -105px}
.sierra-leone{background-position:-37px -53px}
.slovakia{background-position:-55px -53px}
.slovenia{background-position:-73px -53px}
.spain{background-position:-91px -53px}
.sweden{background-position:-109px -53px}
.switzerland{background-position:-37px -105px}
.ukraine{background-position:-37px -66px}
.united-kingdom{background-position:-37px -79px}
.vatican-city-state{background-position:-37px -92px}
/*大洋洲*/
.american-samoa{background-position:-1px -1px}
.australia{background-position:-19px -1px}
.cook-islands{background-position:-37px -1px}
.fiji{background-position:-1px -14px}
.french-polynesia{background-position:-19px -14px}
.kiribati{background-position:-37px -14px}
.marshall-islands{background-position:-1px -27px}
.micronesia-federated-states-of{background-position:-19px -27px}
.nauru{background-position:-37px -27px}
.new-caledonia{background-position:-1px -40px}
.new-zealand{background-position:-19px -40px}
.niue{background-position:-37px -40px}
.norfolk-island{background-position:-1px -53px}
.northern-mariana-islands{background-position:-19px -53px}
.palau{background-position:-37px -53px}
.papua-new-guinea{background-position:-1px -66px}
.pitcairn{background-position:-19px -66px}
.samoa{background-position:-37px -66px}
.solomon-islands{background-position:-1px -79px}
.tokelau{background-position:-19px -79px}
.tonga{background-position:-37px -79px}
.tuvalu{background-position:-1px -92px}
.us-guam{background-position:-1px -105px}
.vanuatu{background-position:-19px -92px}
.wallis-and-futuna{background-position:-37px -92px}