
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-sousuo1:before { content: "\e600"; }
.icon-address:before { content: "\e610"; }
.icon-email:before { content: "\e60c"; }
.icon-renzhengyouxiang:before { content: "\e60d"; }
.icon-renzheng16px:before { content: "\e60e"; }
.icon-gouwuche:before { content: "\e601"; }
.icon-xiangxia:before { content: "\e607"; }
.icon-zccg:before { content: "\e611"; }
.icon-xiangxia1:before { content: "\e602"; }
.icon-xiangyou:before { content: "\e603"; }
.icon-xiangshang:before { content: "\e608"; }
.icon-fabiao:before { content: "\e604"; }
.icon-shoucang:before { content: "\e60a"; }
.icon-xiangzuo:before { content: "\e609"; }
.icon-kongxin:before { content: "\e605"; }
.icon-shixin:before { content: "\e606"; }
.icon-gantanhao:before { content: "\e612"; }
.icon-shoucang1:before { content: "\e60b"; }
.icon-wodemingpianline381-copy:before { content: "\e60f"; }
