.info_con{
	min-width: 1024px;
    margin: 0 auto;
    max-width: 1200px;
    margin-top:18px;
    line-height: 40px;
    float:left;
    clear: both;
}


.info_con p{
	border-bottom: 2px solid #696969;
	border-top:none;
	border-left: none;
	border-right: none;
	text-indent: 10px;
	font-size: 20px;
	font-weight:bold;
	color:#ed1c24;
}


.info_con small a{
	color:#696969;
	font-size:14px;
}

.info_con small a:hover{
	color:#f58220;
}

.info_con .p-row{
	width:100%;
	clear:both;
	margin-top:20px;
	height:40px;
}

.info_con .info-msg dl dt span.te{
	color:#ed1c24;
	font-size:16px;
	font-weight:bold;
	float:left;
}


.nav_left p{
	background: #9fa0a0;
    font-size: 16px;
    color: #fff;
    /* border: 1px solid #E9E9E9; */
    border:0;
    text-indent: 5px;
    line-height:42px;
}


.nav_left p span.lis{
	width:20px;
	height:18px;
	display:block;
	background:url(../common/images/common.png) -153px -132px no-repeat;
	float:left;
	margin-left:10px;
	margin-top:10px;
}

.nav_left p span.inf{
	float:left;
}

ul.index-left-nav{
  display: block;
}

ul.index-left-nav li:hover .index-more-nav{
  display: block;
}

ul.index-left-nav li .index-more-nav .index-more-nav-list{
  display: block;
}

.index-more-nav{
	position: absolute;
	left: 240px;
	top: 0px;
	min-width: 565px;
	height: 480px;
	background: #fff;
	padding: 10px;
	border: 1px solid #e9e9e9;
	display: none;
	z-index: 99;
	overflow: hidden;
	padding: 30px;
	border-left: 0;
}

.index-left-nav{
	position: absolute;
	width: 240px;
	z-index: 100;
	height:480px;
	background-color: #fff;
}

.index-left-nav li{
	border:1px solid #e9e9e9;
	border-top: 0;
	border-bottom: 0;
}

.smallBanner a img{
	border:1px solid #e9e9e9;
}

.index-left-nav li a.ca-e{
	width:100%;
	height:40px;
	display:block;
	padding-left:14px;
	border-bottom:1px solid #e9e9e9;
}


.index-left-nav li a.ca-e:hover{
	width:100%;
	height:40px;
	display:block;
	padding-left:14px;
	color:#f58220;
	border-bottom:1px solid #e9e9e9;
}

.index-left-nav li a.ca-e:hvoer i{
	color:#f58220;
}

.first-screen{
    margin-left: 240px;
    float:left;
    height:480px;
    clear:both;
}

/*幻灯片*/
.first-screen .main-slide{ width:950px; height:315px; overflow:hidden; position:relative; border:1px solid #ddd; margin-top:10px;float:right;}
.first-screen .main-slide .hd{ height:15px; overflow:hidden; position:absolute; right:430px; bottom:5px; z-index:1; }
.first-screen .main-slide .hd ul{ overflow:hidden; zoom:1; float:left;  }
.first-screen .main-slide .hd ul li{ float:left; margin-right:5px;  width:12px; height:12px; border-radius:6px;line-height:12px; text-align:center; background:#fff; cursor:pointer; opacity: .5; filter:alpha(opacity=50)}
.first-screen .main-slide .hd ul li.on{ background:#fff; color:#fff;opacity: 1; filter:alpha(opacity=100) }
.first-screen .main-slide .bd{ position:relative; height:100%; z-index:0;   }
.first-screen .main-slide .bd li{ zoom:1; vertical-align:middle; }
.first-screen .main-slide .bd img{ width:950px; height:315px; display:block;  }
/* 下面是前/后按钮代码，如果不需要删除即可 */
.first-screen .main-slide .prev,
.first-screen .main-slide .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../global/images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.first-screen .main-slide .next{ left:auto; right:3%; background-position:8px 5px; }
.first-screen .main-slide .prev:hover,
.first-screen .main-slide .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.first-screen .main-slide .prevStop{ display:none;  }
.first-screen .main-slide .nextStop{ display:none;  }

.smallBanner{
	width:950px;
	float:right; 
}

.logoTip .lp1{
	width:132px;
	height:65px;
	background:url(images/logo/1.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp2{
	width:132px;
	height:65px;
	background:url(images/logo/1.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp3{
	width:132px;
	height:65px;
	background:url(images/logo/1.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp4{
	width:132px;
	height:65px;
	background:url(images/logo/1.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.logoTip .lp5{
	width:132px;
	height:65px;
	background:url(images/logo/2.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp6{
	width:132px;
	height:65px;
	background:url(images/logo/2.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp7{
	width:132px;
	height:65px;
	background:url(images/logo/2.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp8{
	width:132px;
	height:65px;
	background:url(images/logo/2.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.logoTip .lp9{
	width:132px;
	height:65px;
	background:url(images/logo/3.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp10{
	width:132px;
	height:65px;
	background:url(images/logo/3.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp11{
	width:132px;
	height:65px;
	background:url(images/logo/3.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp12{
	width:132px;
	height:65px;
	background:url(images/logo/3.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.logoTip .lp13{
	width:132px;
	height:65px;
	background:url(images/logo/4.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp14{
	width:132px;
	height:65px;
	background:url(images/logo/4.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp15{
	width:132px;
	height:65px;
	background:url(images/logo/4.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp16{
	width:132px;
	height:65px;
	background:url(images/logo/4.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.logoTip .lp17{
	width:132px;
	height:65px;
	background:url(images/logo/5.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp18{
	width:132px;
	height:65px;
	background:url(images/logo/5.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp19{
	width:132px;
	height:65px;
	background:url(images/logo/5.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp20{
	width:132px;
	height:65px;
	background:url(images/logo/5.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.logoTip .lp21{
	width:132px;
	height:65px;
	background:url(images/logo/6.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp22{
	width:132px;
	height:65px;
	background:url(images/logo/6.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp23{
	width:132px;
	height:65px;
	background:url(images/logo/6.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp24{
	width:132px;
	height:65px;
	background:url(images/logo/6.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.logoTip .lp25{
	width:132px;
	height:65px;
	background:url(images/logo/7.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp26{
	width:132px;
	height:65px;
	background:url(images/logo/7.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp27{
	width:132px;
	height:65px;
	background:url(images/logo/7.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp28{
	width:132px;
	height:65px;
	background:url(images/logo/7.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.logoTip .lp29{
	width:132px;
	height:65px;
	background:url(images/logo/8.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp30{
	width:132px;
	height:65px;
	background:url(images/logo/8.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp31{
	width:132px;
	height:65px;
	background:url(images/logo/8.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp32{
	width:132px;
	height:65px;
	background:url(images/logo/8.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.logoTip .lp33{
	width:132px;
	height:65px;
	background:url(images/logo/9.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp34{
	width:132px;
	height:65px;
	background:url(images/logo/9.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp35{
	width:132px;
	height:65px;
	background:url(images/logo/9.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp36{
	width:132px;
	height:65px;
	background:url(images/logo/9.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.logoTip .lp37{
	width:132px;
	height:65px;
	background:url(images/logo/10.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp38{
	width:132px;
	height:65px;
	background:url(images/logo/10.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp39{
	width:132px;
	height:65px;
	background:url(images/logo/10.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp40{
	width:132px;
	height:65px;
	background:url(images/logo/10.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.logoTip .lp41{
	width:132px;
	height:65px;
	background:url(images/logo/11.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp42{
	width:132px;
	height:65px;
	background:url(images/logo/11.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp43{
	width:132px;
	height:65px;
	background:url(images/logo/11.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp44{
	width:132px;
	height:65px;
	background:url(images/logo/11.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.logoTip .lp45{
	width:132px;
	height:65px;
	background:url(images/logo/12.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp46{
	width:132px;
	height:65px;
	background:url(images/logo/12.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp47{
	width:132px;
	height:65px;
	background:url(images/logo/12.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.logoTip .lp48{
	width:132px;
	height:65px;
	background:url(images/logo/12.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}

/* floor scroll css */
.floor-scroll-box{
	float:left;
	width:200px;
	height:299px;
	border-left:1px solid #eaeaea;
	border-top:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
	float:left;
	margin-left:0;
	background:#fff;
	overflow:hidden;
}

.floor-scroll-box .hd {
	overflow: hidden;
	height: 20px;
	margin-top:10px;
	position:relative;
	z-index:100;
}

.floor-scroll-box .hd ul {
	overflow: hidden;
	width:50px;
	margin:0 auto;
}

.floor-scroll-box .hd ul li {
	float: left;
	width: 14px;
	height: 14px;
	border-radius:7px;
	overflow: hidden;
	margin-right: 10px;
	text-indent: -999px;
	cursor: pointer;
	background: #ccc;
}

.floor-scroll-box .hd ul li.on {
	background: #e9e9e9;
}

.floor-scroll-box .bd {
	padding: 0;
	position:relative;
	z-index:10;
}

.floor-scroll-box .bd ul {
	overflow: hidden;
	zoom: 1;
}

.floor-scroll-box .bd ul li {
	float: left;
	_display: inline;
	overflow: hidden;
	text-align: center;
	width:200px;
}

.floor-scroll-box .bd ul li a{
	width:100%;
	height:60px;
	line-height:60px;
	float:left;
	clear:both;
}

.floor-scroll-box .bd ul li .pic {
	text-align: center;
}

.floor-scroll-box .bd ul li .pic img {
	width: 120px;
	height: 90px;
	display: block;
	padding: 2px;
	border: 1px solid #ccc;
}

.floor-scroll-box .bd ul li .pic a:hover img {
	border-color: #999;
}

.floor-scroll-box .bd ul li .title {
	line-height: 24px;
}

.floor-scroll-box .picList{
	height:250px;
	overflow:hidden;
}

.floor-scroll-box .picList .lp1-1{
	width:132px;
	height:65px;
	background:url(images/logo/1.jpg) -33px -5px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp1-2{
	width:132px;
	height:65px;
	background:url(images/logo/1.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp1-3{
	width:132px;
	height:65px;
	background:url(images/logo/1.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp1-4{
	width:132px;
	height:65px;
	background:url(images/logo/1.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.floor-scroll-box .picList .lp1-5{
	width:132px;
	height:65px;
	background:url(images/logo/1-2.jpg) -33px -5px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp1-6{
	width:132px;
	height:65px;
	background:url(images/logo/1-2.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp1-7{
	width:132px;
	height:65px;
	background:url(images/logo/1-2.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp1-8{
	width:132px;
	height:65px;
	background:url(images/logo/1-2.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.floor-scroll-box .picList .lp2-1{
	width:132px;
	height:65px;
	background:url(images/logo/2.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp2-2{
	width:132px;
	height:65px;
	background:url(images/logo/2.jpg) -33px -85px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp2-3{
	width:132px;
	height:65px;
	background:url(images/logo/2.jpg) -33px -158px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp2-4{
	width:132px;
	height:65px;
	background:url(images/logo/2.jpg) -33px -227px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp2-5{
	width:132px;
	height:65px;
	background:url(images/logo/2-2.jpg) -39px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp2-6{
	width:132px;
	height:65px;
	background:url(images/logo/2-2.jpg) -35px -70px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp2-7{
	width:132px;
	height:65px;
	background:url(images/logo/2-2.jpg) -39px -150px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp2-8{
	width:132px;
	height:65px;
	background:url(images/logo/2-2.jpg) -39px -207px no-repeat;
	display:block;
	margin:0 auto;
}


.floor-scroll-box .picList .lp9{
	width:132px;
	height:65px;
	background:url(images/logo/3.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp10{
	width:132px;
	height:65px;
	background:url(images/logo/3.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp11{
	width:132px;
	height:65px;
	background:url(images/logo/3.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp12{
	width:132px;
	height:65px;
	background:url(images/logo/3.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}



.floor-scroll-box .picList .lp3-1{
	width:132px;
	height:65px;
	background:url(images/logo/3.jpg) -33px -20px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp3-2{
	width:132px;
	height:65px;
	background:url(images/logo/3.jpg) -33px -84px  no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp3-3{
	width:132px;
	height:65px;
	background:url(images/logo/3.jpg) -23px -133px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp3-4{
	width:132px;
	height:65px;
	background:url(images/logo/3.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp3-5{
	width:132px;
	height:65px;
	background:url(images/logo/3-2.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp3-6{
	width:132px;
	height:65px;
	background:url(images/logo/3-2.jpg) -33px -76px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp3-7{
	width:132px;
	height:65px;
	background:url(images/logo/3-2.jpg) -33px -133px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp3-8{
	width:132px;
	height:65px;
	background:url(images/logo/3-2.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.floor-scroll-box .picList .lp13{
	width:132px;
	height:65px;
	background:url(images/logo/4.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp14{
	width:132px;
	height:65px;
	background:url(images/logo/4.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp15{
	width:132px;
	height:65px;
	background:url(images/logo/4.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp16{
	width:132px;
	height:65px;
	background:url(images/logo/4.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}



.floor-scroll-box .picList .lp4-1{
	width:132px;
	height:65px;
	background:url(images/logo/4.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp4-2{
	width:132px;
	height:65px;
	background:url(images/logo/4.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp4-3{
	width:132px;
	height:65px;
	background:url(images/logo/4.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp4-4{
	width:132px;
	height:65px;
	background:url(images/logo/4.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp4-5{
	width:132px;
	height:65px;
	background:url(images/logo/4-2.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp4-6{
	width:132px;
	height:65px;
	background:url(images/logo/4-2.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp4-7{
	width:132px;
	height:65px;
	background:url(images/logo/4-2.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp4-8{
	width:132px;
	height:65px;
	background:url(images/logo/4-2.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}




.floor-scroll-box .picList .lp17{
	width:132px;
	height:65px;
	background:url(images/logo/5.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp18{
	width:132px;
	height:65px;
	background:url(images/logo/5.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp19{
	width:132px;
	height:65px;
	background:url(images/logo/5.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp20{
	width:132px;
	height:65px;
	background:url(images/logo/5.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.floor-scroll-box .picList .lp5-1{
	width:132px;
	height:65px;
	background:url(images/logo/5.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp5-2{
	width:132px;
	height:65px;
	background:url(images/logo/5.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp5-3{
	width:132px;
	height:65px;
	background:url(images/logo/5.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp5-4{
	width:132px;
	height:65px;
	background:url(images/logo/5.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.floor-scroll-box .picList .lp21{
	width:132px;
	height:65px;
	background:url(images/logo/6.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp22{
	width:132px;
	height:65px;
	background:url(images/logo/6.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp23{
	width:132px;
	height:65px;
	background:url(images/logo/6.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp24{
	width:132px;
	height:65px;
	background:url(images/logo/6.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.floor-scroll-box .picList .lp6-1{
	width:132px;
	height:65px;
	background:url(images/logo/6.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp6-2{
	width:132px;
	height:65px;
	background:url(images/logo/6.jpg) -33px -76px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp6-3{
	width:132px;
	height:65px;
	background:url(images/logo/6.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp6-4{
	width:132px;
	height:65px;
	background:url(images/logo/6.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}



.floor-scroll-box .picList .lp25{
	width:132px;
	height:65px;
	background:url(images/logo/7.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp26{
	width:132px;
	height:65px;
	background:url(images/logo/7.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp27{
	width:132px;
	height:65px;
	background:url(images/logo/7.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp28{
	width:132px;
	height:65px;
	background:url(images/logo/7.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}



.floor-scroll-box .picList .lp7-1{
	width:132px;
	height:65px;
	background:url(images/logo/7.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp7-2{
	width:132px;
	height:65px;
	background:url(images/logo/7.jpg) -33px -76px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp7-3{
	width:132px;
	height:65px;
	background:url(images/logo/7.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp7-4{
	width:132px;
	height:65px;
	background:url(images/logo/7.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}



.floor-scroll-box .picList .lp29{
	width:132px;
	height:65px;
	background:url(images/logo/8.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp30{
	width:132px;
	height:65px;
	background:url(images/logo/8.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp31{
	width:132px;
	height:65px;
	background:url(images/logo/8.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp32{
	width:132px;
	height:65px;
	background:url(images/logo/8.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.floor-scroll-box .picList .lp8-1{
	width:132px;
	height:65px;
	background:url(images/logo/8.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp8-2{
	width:132px;
	height:65px;
	background:url(images/logo/8.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp8-3{
	width:132px;
	height:65px;
	background:url(images/logo/8.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp8-4{
	width:132px;
	height:65px;
	background:url(images/logo/8.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp8-5{
	width:132px;
	height:65px;
	background:url(images/logo/8-2.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp8-6{
	width:132px;
	height:65px;
	background:url(images/logo/8-2.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp8-7{
	width:132px;
	height:65px;
	background:url(images/logo/8-2.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp8-8{
	width:132px;
	height:65px;
	background:url(images/logo/8-2.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}





.floor-scroll-box .picList .lp33{
	width:132px;
	height:65px;
	background:url(images/logo/9.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp34{
	width:132px;
	height:65px;
	background:url(images/logo/9.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp35{
	width:132px;
	height:65px;
	background:url(images/logo/9.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp36{
	width:132px;
	height:65px;
	background:url(images/logo/9.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}



.floor-scroll-box .picList .lp9-1{
	width:132px;
	height:65px;
	background:url(images/logo/9.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp9-2{
	width:132px;
	height:65px;
	background:url(images/logo/9.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp9-3{
	width:132px;
	height:65px;
	background:url(images/logo/9.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp9-4{
	width:132px;
	height:65px;
	background:url(images/logo/9.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.floor-scroll-box .picList .lp37{
	width:132px;
	height:65px;
	background:url(images/logo/10.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp38{
	width:132px;
	height:65px;
	background:url(images/logo/10.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp39{
	width:132px;
	height:65px;
	background:url(images/logo/10.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp40{
	width:132px;
	height:65px;
	background:url(images/logo/10.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.floor-scroll-box .picList .lp10-1{
	width:132px;
	height:65px;
	background:url(images/logo/10.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp10-2{
	width:132px;
	height:65px;
	background:url(images/logo/10.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp10-3{
	width:132px;
	height:65px;
	background:url(images/logo/10.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp10-4{
	width:132px;
	height:65px;
	background:url(images/logo/10.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp41{
	width:132px;
	height:65px;
	background:url(images/logo/11.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp42{
	width:132px;
	height:65px;
	background:url(images/logo/11.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp43{
	width:132px;
	height:65px;
	background:url(images/logo/11.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp44{
	width:132px;
	height:65px;
	background:url(images/logo/11.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}


.floor-scroll-box .picList .lp11-1{
	width:132px;
	height:65px;
	background:url(images/logo/11.jpg) -33px -20px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp11-2{
	width:132px;
	height:65px;
	background:url(images/logo/11.jpg) -33px -86px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp11-3{
	width:132px;
	height:65px;
	background:url(images/logo/11.jpg) -33px -150px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp11-4{
	width:132px;
	height:65px;
	background:url(images/logo/11.jpg) -33px -198px no-repeat;
	display:block;
	margin:0 auto;
}


.floor-scroll-box .picList .lp45{
	width:132px;
	height:65px;
	background:url(images/logo/12.jpg) -33px -10px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp46{
	width:132px;
	height:65px;
	background:url(images/logo/12.jpg) -33px -66px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp47{
	width:132px;
	height:65px;
	background:url(images/logo/12.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp48{
	width:132px;
	height:65px;
	background:url(images/logo/12.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}



.floor-scroll-box .picList .lp12-1{
	width:132px;
	height:65px;
	background:url(images/logo/12.jpg) -33px -20px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp12-2{
	width:132px;
	height:65px;
	background:url(images/logo/12.jpg) -33px -76px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp12-3{
	width:132px;
	height:65px;
	background:url(images/logo/12.jpg) -33px -130px no-repeat;
	display:block;
	margin:0 auto;
}

.floor-scroll-box .picList .lp12-4{
	width:132px;
	height:65px;
	background:url(images/logo/12.jpg) -33px -188px no-repeat;
	display:block;
	margin:0 auto;
}