.home-site-branding{}

.home-search-field {
    float: right;
}
.home-search-field #s{
    background-color: white;
    border-radius: 30px;
    padding: 0px 49px 0px 12px; 
    width: 340px;
    height:50px;
    border: solid 2px #f16131;
    margin-right: 40px;
}

#home_top_ad{
	height: 90px;
	width: 720px;
	margin: auto 29px auto 30px;
	text-align: center;
    vertical-align: middle;
}

.homearticle{
    width: 772px;
    float: left;
}

.homesidebar {
    width: 491px;
    float: right;
}

.home-header{
	font-family: 'montserratextra_bold', arial, sans-serif;
    font-size: 25px;
    line-height: 1;
    margin: 50px 0px 35px 0px;
}

.social-post-container{
	/*min-height: 284px;*/
	width: 100%;
	border: 1px #e1e2e3 solid;
	margin-bottom: 50px;
	position: relative;
}

.social-post-content{
	position: absolute;
	top: 0px;
}

.social-comment-container{
    display: table-row;
}

.social-comment-content{
	width: 100%;
	display: table;
	margin: 22px 22px 35px 22px;
}

.social-user-image{
	display: table-cell;
	width: 50px;
}
.social-user-image a{
	cursor: pointer;
	text-decoration: none;
}
.social-user-image a img{}

.social-comment{
	font-family: helvetica, arial, sans-serif;
	line-height: 1.358;
    font-size: 14px;
	display: table-cell;
	padding: 0px 60px 0px 10px;
	vertical-align: top;
}
.social-comment a{
	font-weight: bold;
	color: #365899;
    cursor: pointer;
    text-decoration: none;
}
.social-comment .message{
    margin-bottom: 4px;
    margin-top: 4px;
    word-break: break-word;
}    
.social-comment .social-comment-actions{
	font-size: 12px;
    line-height: 1.358;
    padding-top: 2px;
    font-weight: normal;
}
.social-comment-actions a{
    color: #4267b2;
    cursor: pointer;
    text-decoration: none;
}
.social-comment-actions span{
    color: #90949c;
}
.social-comment-actions span abbr{
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}
.social-comment-actions span img{
    bottom: -2px;
    position: relative;
    vertical-align: initial;
}

.social-post-arcticle{
    padding: 0px 22px 30px 22px;
    padding-bottom: 30px;
    display: table-cell;
}
.social-post-arcticle .social-post-reference-text{
    font-family: 'montserratlight', arial, sans-serif;
    line-height: 1;
    font-size: 16px;
}
.social-post-arcticle a,
.social-post-sidebar-arcticle a{
	font-family: 'montserratextra_bold', arial, sans-serif;
    line-height: 1.358;
    font-size: 18px;
    text-decoration: underline;
}

.social-post-actions{
	position: relative;
	bottom: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	background-color: #f6f7f9;
	border-top: 1px #e1e2e3 solid;
	font-size: 0;
}
.social-post-actions button{
	font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    height: 36px;
    margin: 7px 0px 7px 5px; 
    border-radius: 5px;
}
.social-post-actions button:first-of-type{
    margin-left: 10px;
    margin-right: 0px;
}
.social-post-actions .social-post-button-blue{
	background-color: #4065b5;
}
.social-post-actions .social-post-like img{
	height: 14px;
}

.social-post-sidebar-container{
    /*min-height: 284px;*/
    width: 100%;
    border: 1px #e1e2e3 solid;
    margin-bottom: 50px;
    position: relative;
}

.social-post-sidebar-arcticle{}
.social-post-sidebar-arcticle .post-thumbnail{
    padding: 7px 7px 18px 7px;
    width: 100%;
}
.social-post-sidebar-arcticle .post-message{
    padding: 0px 15px;
}

#home_side_ad{
	margin-bottom: 50px;
}

/**************** Resonsive Desktop ********/
@media only screen and (max-width : 1320px) { 
    
    .homearticle{
	    width: 60%;
	}
    
    .homesidebar {
        width: 35%;
    }
    
    .home-site-branding{
         margin-right: 30px;
    }
    
    #home_top_ad {
        width: 600px;
        margin: auto 0px auto 0px;
    }
    
	.home-search-field {
	    right: 10px;
	    position: absolute;
	    margin-left: 30px;
	}
}
@media only screen and (max-width : 1200px) { 

	#home_top_ad {
        width: 500px;
    }
}
@media only screen and (max-width : 1100px) { 

    #home_top_ad {
        width: 400px;
    }
}
@media only screen and (max-width : 1000px) { 

    #home_top_ad {
        width: 300px;
    }
}
@media only screen and (max-width : 900px) { 
    
    #main{
        margin-top: 100px;
    }
    
    .homearticle .home-header{
        margin-top: 10px;
    }
    
    .homesidebar .home-header{
        margin-top: 30px;
    }
    
    #home_top_ad {
        position: absolute;
        top: 120px;
        left: 0; 
	    right: 0; 
	    margin-left: auto; 
	    margin-right: auto; 
        width: 720px;
    }
}
@media only screen and (max-width : 800px) { 
    
    .home-header{
        text-align: center;
    }
    
    .home-header:nth-child(2){
        margin-top: 0px;
    }
    
    .homearticle{
        width: 100%;
    }
    
    .homesidebar {
        width: 60%;
        margin: 0px 20%;
    }
}

/**************** TABLET *******************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)  {
	
    .home-search-field{
        margin-left:auto !important;
        float: right !important;
        position: relative;
        width: 80%;
    }   
    .home-search-field img{
        width: 20px !important;
    }
    .home-search-field #s{
        width: 300px !important;
        height: 35px !important;
        border: solid 1px #f16131 !important;
        background-size:30px !important;
    }

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)  {
	
}

/**************** PHONE *******************/
@media only screen and (max-width: 736px) {
	
	#home_top_ad {
        position: absolute;
        top: 70px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 500px;
    }
	
	.home-site-branding {
        margin-bottom: 20px;
    }
    .home-site-branding img {
        width: 60px;
    }
	
	.home-search-field {
        margin-top: 0px;
        top: 15px;
        margin-left:auto !important;
        float: right !important;
    }       
    .home-search-field img{
        width: 20px !important;
        float:right;
    }
	.home-search-field #s{
        width: 190px !important;
        height:25px !important;
        padding: 0 10px!important;  
        margin-right: 5px !important;
        border: solid 1px #f16131 !important;
        background-size:20px !important;
        float: right !important;
    }
	
}
@media only screen and (max-width: 736px) and (orientation: landscape){

}
@media only screen and (max-width : 520px) {
    #home_top_ad {
        position: absolute;
        top: 70px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 300px;
    }
    
    #home_side_ad{
        width: 300px;
        margin-left: auto; 
        margin-right: auto;
    }
}
@media only screen and (max-width : 400px) { 
    
    .homesidebar {
        width: 95%;
        margin: 0px 2.5%;
    }
}
@media only screen and (max-width: 330px) {
	
	.home-search-field #s {
        margin-top: 0px;
        width: 190px !important;
    }
    .home-search-field form{
        width:80%;
    }
}