/*
Theme Name: awm
Theme URI: https://awm.com

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


/**
 * Table of Contents
 *
 * 1.0 - Normalize
 * 2.0 - Genericons
 * 3.0 - Typography
 * 4.0 - Elements
 * 5.0 - Forms
 * 6.0 - Navigation
 *   6.1 - Links
 *   6.2 - Menus
 * 7.0 - Accessibility
 * 8.0 - Alignments
 * 9.0 - Clearings
 * 10.0 - Widgets
 * 11.0 - Content
 *    11.1 - Header
 *    11.2 - Posts and pages
 *    11.3 - Post Formats
 *    11.4 - Comments
 *    11.5 - Sidebar
 *    11.6 - Footer
 * 12.0 - Media
 *    12.1 - Captions
 *    12.2 - Galleries
 * 13.0 - Multisite
 * 14.0 - Media Queries
 *    14.1 - >= 710px
 *    14.2 - >= 783px
 *    14.3 - >= 910px
 *    14.4 - >= 985px
 *    14.5 - >= 1200px
 * 15.0 - Print
 */


/**
 * 1.0 - Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */




html {
	font-family: 'Montserrat', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
   	color:black !important;	
 }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	padding: 0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}


/**
 * 2.0 - Genericons
 */

.menu-item-has-children a:after,
.social-navigation a:before,
.dropdown-toggle:after,
.bypostauthor > article .fn:after,
.comment-reply-title small a:before,
.pagination .prev:before,
.pagination .next:before,
.pagination .nav-links:before,
.pagination .nav-links:after,
.search-submit:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: "Genericons";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}


/**
 * 3.0 - Typography
 */

body,
button,
input,
select,
textarea {
	color: #1a1a1a;
	font-family: 'montserratlight';
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
	margin: 0;
	text-rendering: optimizeLegibility;
}

p {
	margin: 0 0 10px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border: 0 solid #1a1a1a;
	line-height: 1.4736842105;
	
	font-size: 100%;
	font-weight: 600;
    font-family: 'montserratextra_bold';
    font-style: normal;
    margin: 10px 20px;
    padding: 0px;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote p {
	margin-bottom: 1.4736842105em;
}

blockquote cite,
blockquote small {
	color: #1a1a1a;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
	content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

blockquote > :last-child {
	margin-bottom: 0;
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
}

pre {
	border: 1px solid #d1d1d1;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.3125;
	margin: 0 0 1.75em;
	max-width: 100%;
	overflow: auto;
	padding: 1.75em;
	white-space: pre;
	white-space: pre-wrap;
 }

code {
	background-color: #d1d1d1;
	padding: 0.125em 0.25em;
}

abbr,
acronym {
	border-bottom: 1px dotted #d1d1d1;
	cursor: help;
}


big {
	font-size: 125%;
}


/**
 * 4.0 - Elements
 */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #d1d1d1;
	border: 0;
	height: 1px;
	margin: 0 0 1.75em;
}

ul,
ol {
 	padding: 0;
}

 

ol {
	list-style: decimal;
	margin-left: 1.5em;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 1.75em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 0 1.75em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
	vertical-align: middle;
}

del {
	opacity: 0.8;
}

table,
th,
td {
	border: 1px solid #d1d1d1;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.4375em;
}

/* Placeholder text color -- selectors need to be separate to work. 
::-webkit-input-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

:-moz-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

::-moz-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
 }

:-ms-input-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}
*/

/**
 * 5.0 - Forms
 */

input {
	line-height: normal;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
	background: #1a1a1a;
	border: 0;
	border-radius: 2px;
	color: #fff;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-weight: 700;
 	line-height: 1;
	padding: 0.84375em 0.875em 0.78125em;
	text-transform: uppercase;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: black;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted;
	outline-offset: -4px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="tel"],
input[type="number"],
textarea {
	background: #f7f7f7;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	color: #686868;
	padding: 0.625em 0.4375em;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	background-color: #fff;
	border-color: black;
	color: #1a1a1a;
	outline: 0;
}

#end_site_header{
	margin-left: -700px;
 	margin-bottom: 0px;
 	width: 200%;
 	overflow: hidden;
}

.sticky-social-share{
	display: none;
	width: 45%;
	float: right
}

.site-branding{
	width: 15%;
}

.search_field {
	float: right;
	width: 85%;
}

.search_field_dropdown{
	float: right;
}

#searchform{
	display: inline-block;
	float: right;
}

.menu_toggle {
	display: inline-block;
	float: right;
	padding-top: .5em;
}

#searchsubmit{
	z-index: 200;
 	background-color: transparent;
 	position: absolute;
	width: 40px;
	height: auto;
	margin-top: -40px;
	margin-left: 290px;
	background-image: url('img/search@2x.png');
	background-size: 40px;
	background-repeat: no-repeat;
 }

.search_field_dropdown #s{
	background-color: white;
	border-radius: 30px;
	width: 340px;
	height:50px;
	padding: 0 51px 0 10px;
	border: solid 2px #ffffff;
 	margin-right: 40px;
}

.search_field #s{
	background-color: white;
	border-radius: 30px;
	padding: 0 49px 0 12px;	
	width: 340px;
	height:50px;
	border: solid 2px #f16131;
 	margin-right: 40px;
}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:#b7b7b7;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#b7b7b7;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#b7b7b7;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:#b7b7b7;
}

.search_content_area{
	margin-top: 100px !important;
}

.search_content_area h1 {
	margin-top: auto !important;
}
.content-area {
	width:100%;
	margin: auto;
}
.post-password-form {
	margin-bottom: 1.75em;
}

.post-password-form label {
 	display: block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
 	line-height: 1.6153846154;
	margin-bottom: 1.75em;
	text-transform: uppercase;
}

.post-password-form input[type="password"] {
	margin-top: 0.4375em;
}

.post-password-form > :last-child {
	margin-bottom: 0;
}

.search-form {
	position: relative;
}





/**
 * 6.0 - Navigation
 */

/**
 * 6.1 - Links
 */

a {
	color: black;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: black;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}



.entry-content a:hover,
.entry-content a:focus,
.entry-summary a:hover,
.entry-summary a:focus,
.taxonomy-description a:hover,
.taxonomy-description a:focus,
.logged-in-as a:hover,
.logged-in-as a:focus,
.comment-content a:hover,
.comment-content a:focus,
.pingback .comment-body > a:hover,
.pingback .comment-body > a:focus,
.textwidget a:hover,
.textwidget a:focus {
	box-shadow: none;
}


/**
 * 6.2 - Menus
 */

.site-header-menu {
	display: none;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	margin: 0.875em 0;
}

.site-header-menu.toggled-on,
.no-js .site-header-menu {
	display: block;
}

.main-navigation {
	font-family: 'Montserrat', sans-serif;
}

.site-footer .main-navigation {
	margin-bottom: 1.75em;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
}

.main-navigation li {
	border-top: 1px solid #d1d1d1;
	position: relative;
}

.main-navigation a {
	color: #1a1a1a;
	display: block;
	line-height: 1.3125;
	outline-offset: -1px;
	padding: 0.84375em 0;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: black;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 700;
}

.main-navigation ul ul {
	display: none;
	margin-left: 0.875em;
}

.no-js .main-navigation ul ul {
	display: block;
}

.main-navigation ul .toggled-on {
	display: block;
}

.main-navigation .primary-menu {
	border-bottom: 1px solid #d1d1d1;
}

.main-navigation .menu-item-has-children > a {
	margin-right: 56px;
}

.dropdown-toggle {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: #1a1a1a;
	content: "";
	height: 48px;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: none;
	top: 0;
	width: 48px;
}

.dropdown-toggle:after {
	border: 0 solid #d1d1d1;
	border-left-width: 1px;
	content: "\f431";
	font-size: 24px;
	left: 1px;
	position: relative;
	width: 48px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background-color: transparent;
	color: black;
}

.dropdown-toggle:focus {
	outline: thin dotted;
	outline-offset: -1px;
}

.dropdown-toggle:focus:after {
	border-color: transparent;
}

.dropdown-toggle.toggled-on:after {
	content: "\f432";
}

.site-header .main-navigation + .social-navigation {
	margin-top: 1.75em;
}

.site-footer .social-navigation {
	margin-bottom: 1.75em;
}

.social-navigation ul {
	list-style: none;
	margin: 0 0 -0.4375em;
}

.social-navigation li {
	float: left;
	margin: 0 0.4375em 0.4375em 0;
}

.social-navigation a {
	border: 1px solid #d1d1d1;
	border-radius: 50%;
	color: #1a1a1a;
	display: block;
	height: 35px;
	position: relative;
	width: 35px;
}

.social-navigation a:before {
	content: "\f415";
	height: 33px;
	line-height: 33px;
	text-align: center;
	width: 33px;
}

.social-navigation a:hover:before,
.social-navigation a:focus:before {
	color: black;
}

.social-navigation a[href*="codepen.io"]:before {
	content: "\f216";
}

.social-navigation a[href*="digg.com"]:before {
	content: "\f221";
}

.social-navigation a[href*="dribbble.com"]:before {
	content: "\f201";
}

.social-navigation a[href*="dropbox.com"]:before {
	content: "\f225";
}

.social-navigation a[href*="facebook.com"]:before {
	content: "\f203";
}

.social-navigation a[href*="flickr.com"]:before {
	content: "\f211";
}

.social-navigation a[href*="foursquare.com"]:before {
	content: "\f226";
}

.social-navigation a[href*="plus.google.com"]:before {
	content: "\f206";
}

.social-navigation a[href*="github.com"]:before {
	content: "\f200";
}

.social-navigation a[href*="instagram.com"]:before {
	content: "\f215";
}

.social-navigation a[href*="linkedin.com"]:before {
	content: "\f208";
}

.social-navigation a[href*="path.com"]:before {
	content: "\f219";
}

.social-navigation a[href*="pinterest.com"]:before {
	content: "\f210";
}

.social-navigation a[href*="getpocket.com"]:before {
	content: "\f224";
}

.social-navigation a[href*="polldaddy.com"]:before {
	content: "\f217";
}

.social-navigation a[href*="reddit.com"]:before {
	content: "\f222";
}

.social-navigation a[href*="skype.com"]:before {
	content: "\f220";
}

.social-navigation a[href*="stumbleupon.com"]:before {
	content: "\f223";
}

.social-navigation a[href*="tumblr.com"]:before {
	content: "\f214";
}

.social-navigation a[href*="twitter.com"]:before {
	content: "\f202";
}

.social-navigation a[href*="vimeo.com"]:before {
	content: "\f212";
}

.social-navigation a[href*="wordpress.com"]:before,
.social-navigation a[href*="wordpress.org"]:before {
	content: "\f205";
}

.social-navigation a[href*="youtube.com"]:before {
	content: "\f213";
}

.social-navigation a[href^="mailto:"]:before {
	content: "\f410";
}

.social-navigation a[href*="spotify.com"]:before {
	content: "\f515";
}

.social-navigation a[href*="twitch.tv"]:before {
	content: "\f516";
}

.social-navigation a[href$="/feed/"]:before {
	content: "\f413";
}

.post-navigation {
	border-top: 4px solid #1a1a1a;
	border-bottom: 4px solid #1a1a1a;
	clear: both;
	font-family: 'Montserrat', sans-serif;
	margin: 0 7.6923% 3.5em;
}

.post-navigation a {
	color: #1a1a1a;
	display: block;
	padding: 1.75em 0;
}

.post-navigation span {
	display: block;
}
.sticky-menu {
	background-color: white;
	width: 100%;
	margin: 0;
	top:0;
	position: fixed;
	z-index: 100;
}
.nav {
	float: left;
	display: inline;
	margin-top: 30px;
	margin-bottom: 30px;
   }

.nav-up {
    top: -200px;
}

.sticky-article-title{
	display: none;
	font-family: 'montserratextra_bold';
	font-size: 15px;
	float: left;
	width: 40%;
	padding: 0px 10px;
}
header{
	width: 100%;
    max-width: 1320px;
	background-color: white;
	z-index: 9999;
	position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
}
.home_top{
	position: relative;
	height: 110px;
	width:100%;
}

.site-content{
	margin-top: 110px !important;

}

.new-site-content{
	margin-top: 5px !important;
	margin-left: 10px;
	margin-right: 10px;
}

.nav a {
  padding-right: 25px;
  color: #f16131 !important;
  font-size: 20px;
  font-family: 'montserratlight';
}
.post-navigation .meta-nav {
 	font-size: 13px;
	font-size: 0.8125rem;
 	line-height: 1.6153846154;
	margin-bottom: 0.5384615385em;
	text-transform: uppercase;
}

.post-navigation .post-title {
	display: inline;
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
	font-size: 1.4375rem;
	font-weight: 700;
	line-height: 1.2173913043;
	text-rendering: optimizeLegibility;
}

.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title {
	color: black;
}

.post-navigation div + div {
	border-top: 4px solid #1a1a1a;
}

.no-description{
	height: 0px;
	margin: 0px;
}

.pagination {
	border-top: 4px solid #1a1a1a;
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	font-size: 1.1875rem;
	margin: 0 7.6923% 2.947368421em;
	min-height: 56px;
	position: relative;
}

.pagination:before,
.pagination:after {
	/*background-color: #1a1a1a; */
	content: "";
	height: 52px;
	position: absolute;
	top:0;
	width: 52px;
	z-index: 0;
}

.pagination:before {
	right: 0;
}

.pagination:after {
	right: 54px;
}

.pagination a:hover,
.pagination a:focus {
	color: #1a1a1a;
}

.pagination .nav-links {
	padding-right: 106px;
	position: relative;
}

.pagination .nav-links:before,
.pagination .nav-links:after {
	color: #fff;
	font-size: 32px;
	line-height: 51px;
	opacity: 0.3;
	position: absolute;
	width: 52px;
	z-index: 1;
}

.pagination .nav-links:before {
	content: "\f429";
	right: -1px;
}

.pagination .nav-links:after {
	content: "\f430";
	right: 55px;
}

/* reset screen-reader-text */
.pagination .current .screen-reader-text {
	position: static !important;
}

.pagination .page-numbers {
	display: none;
 	line-height: 1;
	margin: 0 0.7368421053em 0 -0.7368421053em;
	padding: 0.8157894737em 0.7368421053em 0.3947368421em;
	text-transform: uppercase;
}

.pagination .current {
	display: inline-block;
	font-weight: 700;
}

.pagination .prev,
.pagination .next {
	/*background-color: #1a1a1a; */
	color: #fff;
	display: inline-block;
	height: 52px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 0;
	width: 52px;
	z-index: 2;
}

.pagination .prev:before,
.pagination .next:before {
	font-size: 32px;
	height: 53px;
	line-height: 52px;
	position: relative;
	width: 53px;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .next:focus {
	background-color: black;
	color: #fff;
}

.pagination .prev:focus,
.pagination .next:focus {
	outline: 0;
}

.pagination .prev {
	right: 54px;
}

.pagination .prev:before {
	content: "\f430";
	left: -1px;
	top: -1px;
}

.pagination .next {
	right: 0;
}

.pagination .next:before {
	content: "\f429";
	right: -1px;
	top: -1px;
}

.image-navigation,
.comment-navigation {
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
 	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	margin: 0 7.6923% 2.1538461538em;
	padding: 1.0769230769em 0;
}

.comment-navigation {
	margin-right: 0;
	margin-left: 0;
}

.comments-title + .comment-navigation {
	border-bottom: 0;
	margin-bottom: 0;
}

.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty),
.comment-navigation .nav-previous:not(:empty),
.comment-navigation .nav-next:not(:empty) {
	display: inline-block;
}

.image-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before,
.comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before {
	content: "\002f";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}


/**
 * 7.0 - Accessibility
 */

/* Text meant only for screen readers */
.says,
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important;
}

/* must have higher specificity than alternative color schemes inline styles */
.site .skip-link {
	background-color: #f1f1f1;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #21759b;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	left: -9999em;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
	top: -9999em;
}

.logged-in .site .skip-link {
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	font-family: 'Montserrat', sans-serif;
}

.site .skip-link:focus {
	clip: auto;
	height: auto;
	left: 6px;
	top: 7px;
	width: auto;
	z-index: 100000;
}


/**
 * 8.0 - Alignments
 */

.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}

blockquote.alignleft {
	margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
	margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
	margin-bottom: 1.473684211em;
}


/**
 * 9.0 - Clearings
 */

.clear:before,
.clear:after,
blockquote:before,
blockquote:after,
.entry-content:before,
.entry-content:after,
.entry-summary:before,
.entry-summary:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.site-main > article:before,
.site-main > article:after,
.primary-menu:before,
.primary-menu:after,
.social-links-menu:before,
.social-links-menu:after,
.textwidget:before,
.textwidget:after,
.content-bottom-widgets:before,
.content-bottom-widgets:after {
	content: "";
	display: table;
}

.clear:after,
blockquote:after,
.entry-content:after,
.entry-summary:after,
.comment-content:after,
.site-content:after,
.site-main > article:after,
.primary-menu:after,
.social-links-menu:after,
.textwidget:after,
.content-bottom-widgets:after {
	clear: both;
}


/**
 * 10.0 - Widgets
 */

.widget {
	border-top: 4px solid #1a1a1a;
	margin-bottom: 3.5em;
	padding-top: 1.75em;
}

.widget-area > :last-child,
.widget > :last-child {
	margin-bottom: 0;
}

.widget .widget-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-size: 1rem;
 	line-height: 1.3125;
	margin: 0 0 1.75em;
	text-transform: uppercase;
}

.widget .widget-title:empty {
	margin-bottom: 0;
}

.widget-title a {
	color: #1a1a1a;
}

/* Calendar widget */
.widget.widget_calendar table {
	margin: 0;
}

.widget_calendar td,
.widget_calendar th {
	line-height: 2.5625;
	padding: 0;
	text-align: center;
}

.widget_calendar caption {
	font-weight: 900;
	margin-bottom: 1.75em;
}

.widget_calendar tbody a {
	background-color: black;
	color: #fff;
	display: block;
	font-weight: 700;
}

.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
	background-color: #686868;
	color: #fff;
}

/* Recent Posts widget */
.widget_recent_entries .post-date {
 	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.615384615;
	margin-bottom: 0.538461538em;
}

.widget_recent_entries li:last-child .post-date {
	margin-bottom: 0;
}

/* RSS widget */
.widget_rss .rsswidget img {
	margin-top: -0.375em;
}

.widget_rss .rss-date,
.widget_rss cite {
 	display: block;
	font-family: 
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: normal;
	line-height: 1.615384615;
	margin-bottom: 0.538461538em;
}

.widget_rss .rssSummary:last-child {
	margin-bottom: 2.1538461538em;
}

.widget_rss li:last-child :last-child {
	margin-bottom: 0;
}

/* Tag Cloud widget */
.tagcloud a {
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: inherit !important;
	line-height: 1;
	margin: 0 0.1875em 0.4375em 0;
	padding: 0.5625em 0.4375em 0.5em;
}

.tagcloud a:hover,
.tagcloud a:focus {
	border-color: black;
	color: black;
	outline: 0;
}


/**
 * 11.0 - Content
 */

.site {
	background-color: #fff;
	overflow: hidden;
}

.site-inner {
	margin: 0 auto;
	max-width: 1320px;
	position: relative;
	padding-left: 0px;
 }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

.site-main {
	margin: 0px auto 3.5em auto;
	width: 1068px;
	clear: both;
}

.site-main > :last-child {
	margin-bottom: 0;
}


/**
 * 11.1 - Header
 */


.site-header-main {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 110px;
  	margin: 0px 10px;
 	max-width: 1320px!important;
}

.category_title {
	font-family: 'montserratextra_bold';
	font-size: 40px;
 }
 
.archive-title{
	color: #f16131;
} 

.cat_div {
	margin-top: 20px;
	margin-bottom: 40px;
	width: 728px;
}

.cat_div h2{
	font-family: 'montserratextra_bold';
	font-size: 30px;
	line-height: 39px;
    margin-top: 15px;
}
.cat_div p{
	margin-top: 15px;
}
.cat_div img {
	width:100%;
}
.site-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
 	font-weight: 700;
	line-height: 43px;
	margin: 0;
}

.site-branding .site-title a {
	color: #1a1a1a;
}

.site-branding2{
    margin: 0px 10px;
}
.site-branding .site-title a:hover,
.site-branding .site-title a:focus {
	color: black;
}


.site-description {
 	display: none;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 400;
	line-height: 1.0769230769;
	margin: 0.538461538em 0 0;
}

.menu-toggle {
	background-color: transparent;
	border: 1px solid #d1d1d1;
	color: #1a1a1a;
	font-size: 13px;
	font-size: 0.8125rem;
	margin: 1.076923077em 0;
	padding: 0.769230769em;
}

.no-js .menu-toggle {
	display: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: transparent;
	border-color: black;
	color: black;
}

.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus {
	/*background-color: #1a1a1a; */
	border-color: #1a1a1a;
	color: #fff;
}

.menu-toggle:focus {
	outline: 0;
}

.menu-toggle.toggled-on:focus {
	outline: thin dotted;
}

.header-image {
	clear: both;
	margin: 0.875em 0;
}

.header-image a {
	display: block;
}

.header-image a:hover img,
.header-image a:focus img {
	opacity: 0.85;
}


/**
 * 11.2 - Posts and pages
 */
 .rec_stories{
 	color: #f16131;
 }

.bn_img{
	height:240px;
	margin-left:auto;
	margin-right: auto;
}

.bn_left{
    float: left;
    width: 35%;
    margin-bottom: 40px;
    background-color: black;
    text-align: center;
    overflow: hidden;
    height: 200px;
}

.bn_right{
	float: left;
	width: 65%;
	height: 200px;
	border-bottom: solid 1px #d7d7d7;
	border-right: solid 1px #d7d7d7;
 }
.bn_title{
	height:55px;
	background-color: #f16131;
	color: white;
	width:100%;
	text-align: center;
	padding-top: 10px;
	font-size: 22px;
	font-family: 'montserratextra_bold';
}
.bn_right h4 {
	font-family: 'montserratextra_bold';
	font-size: 22px;
	line-height: 28px;
	margin-left: 20px;
	margin-right   : 20px;
	vertical-align: middle;
	margin-bottom: auto;
	margin-top: auto;
}

.bn_article_title {
 	padding:25px 0;
}
.item-half {
	width:50%;
	float: left;
	margin-bottom: 40px;
}

.item-half:nth-child(even){
	padding-right: 10px;
}

.item-half h2 {
	font-size: 18px;
	line-height: 23px;
	margin-top:10px;
	font-family: 'montserratextra_bold';
}

.item-half .image-container{
	height: 220px;
    width: 100%;
    overflow: hidden;
}

.item-half img {
    min-height: 220px;
}

.full-item {
	margin-bottom: 40px;
	width: 100%;
}
.full-item img{
	width: 100%;
}

.full-item h2{
	font-size: 22px;
	font-family: 'montserratextra_bold';
	margin-top: 10px!important;

}

.entry-header,
.entry-summary,
 .entry-footer,
.page-content {
	margin-right: 7.6923%;
	margin-left: 7.6923%;
}

.entry-title {
	font-size: 30px;
	font-family: 'montserratextra_bold';
  	line-height: 39px;
  	margin-bottom: 5px;
}

.entry-title a {
	/*color: #686868;*/
}

.entry-title a:hover,
.entry-title a:focus {
	/*color: #686868;*/
}

.entry-title h2 {
	font-size: 40px;
	font-family: 'montserratextra_bold';
}
.post-thumbnail {

 }

.post-thumbnail img {
	display: block;
}

.no-sidebar .post-thumbnail img {
	margin: 0 auto;
}

a.post-thumbnail:hover,
a.post-thumbnail:focus {
	opacity: 0.85;
}

.entry-content,
.entry-summary {
	border-color: #d1d1d1;
}

.entry-content p {
 	font-size: 20px;
	line-height: 25px;
	font-family: 'montserratlight';
}


.entry-content h1,
.entry-summary h1,
.comment-content h1,
.textwidget h1 {
	font-size: 28px;
	font-size: 1.75rem;
	line-height: 1.25;
	margin-top: 2em;
	margin-bottom: 1em;
}

.entry-content h2,
.entry-summary h2,
.comment-content h2,
.textwidget h2 {
	font-size: 23px;
	font-size: 1.4375rem;
	line-height: 1.2173913043;
	margin-top: 2.4347826087em;
	margin-bottom: 1.2173913043em;
}

.entry-content h3,
.entry-summary h3,
.comment-content h3,
.textwidget h3 {
	font-size: 19px;
	font-size: 1.1875rem;
	line-height: 1.1052631579;
	margin-top: 2.9473684211em;
	margin-bottom: 1.4736842105em;
}

.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.textwidget h4,
.textwidget h5,
.textwidget h6 {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.3125;
	margin-top: 3.5em;
	margin-bottom: 1.75em;
}

.entry-content h4,
.entry-summary h4,
.comment-content h4,
.textwidget h4 {
 	text-transform: uppercase;
}

.entry-content h6,
.entry-summary h6,
.comment-content h6,
.textwidget h6 {
	font-style: italic;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h1,
.entry-summary h2,
.entry-summary h3,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.textwidget h1,
.textwidget h2,
.textwidget h3,
.textwidget h4,
.textwidget h5,
.textwidget h6 {
	font-weight: 900;
}

.entry-content h1:first-child,
.entry-content h2:first-child,
.entry-content h3:first-child,
.entry-content h4:first-child,
.entry-content h5:first-child,
.entry-content h6:first-child,
.entry-summary h1:first-child,
.entry-summary h2:first-child,
.entry-summary h3:first-child,
.entry-summary h4:first-child,
.entry-summary h5:first-child,
.entry-summary h6:first-child,
.comment-content h1:first-child,
.comment-content h2:first-child,
.comment-content h3:first-child,
.comment-content h4:first-child,
.comment-content h5:first-child,
.comment-content h6:first-child,
.textwidget h1:first-child,
.textwidget h2:first-child,
.textwidget h3:first-child,
.textwidget h4:first-child,
.textwidget h5:first-child,
.textwidget h6:first-child {
	margin-top: 0;
}

body:not(.search-results) .entry-summary {
 	font-size: 19px;
	font-size: 1.1875rem;
	line-height: 1.4736842105;
	margin-bottom: 1.4736842105em;
}

body:not(.search-results) .entry-header + .entry-summary {
	margin-top: -0.736842105em;
}

body:not(.search-results) .entry-summary p,
body:not(.search-results) .entry-summary address,
body:not(.search-results) .entry-summary hr,
body:not(.search-results) .entry-summary ul,
body:not(.search-results) .entry-summary ol,
body:not(.search-results) .entry-summary dl,
body:not(.search-results) .entry-summary dd,
body:not(.search-results) .entry-summary table {
	margin-bottom: 1.4736842105em;
}

body:not(.search-results) .entry-summary li > ul,
body:not(.search-results) .entry-summary li > ol {
	margin-bottom: 0;
}

body:not(.search-results) .entry-summary th,
body:not(.search-results) .entry-summary td {
	padding: 0.3684210526em;
}

body:not(.search-results) .entry-summary fieldset {
	margin-bottom: 1.4736842105em;
	padding: 0.3684210526em;
}

body:not(.search-results) .entry-summary blockquote {
	border-color: currentColor;
}

body:not(.search-results) .entry-summary blockquote > :last-child {
	margin-bottom: 0;
}

body:not(.search-results) .entry-summary .alignleft {
	margin: 0.2631578947em 1.4736842105em 1.4736842105em 0;
}

body:not(.search-results) .entry-summary .alignright {
	margin: 0.2631578947em 0 1.4736842105em 1.4736842105em;
}

body:not(.search-results) .entry-summary .aligncenter {
	margin-bottom: 1.4736842105em;
}

.author p {
	margin: 0;
}

.seeAlso {
	margin-top: 20px;
	font-weight: 600;
    font-family: 'montserratextra_bold';
}
/* ads styling */

.ad {
    color: #959595;
    font-size: 10px;
    right: 0;
    text-align: left;
    top: -20px;
    float: right;
}

.ads p {
    font-size: 11px;
    text-align: right;
	color:#959595;
}
.ads {
	max-width: 728px;
	margin-bottom:10px;
}
ins.sidebar_top {
	margin-top: 10px;
	width:300px !important;
	height: 600px  !important;
}

.article_top_ad{
	width: 728px;
    min-width: 125px;
}
/* end ads styling */


.entry-content > :last-child,
.entry-summary > :last-child,
body:not(.search-results) .entry-summary > :last-child,
.page-content > :last-child,
.comment-content > :last-child,
.textwidget > :last-child {
	margin-bottom: 0;
}

.more-link {
	white-space: nowrap;
}

.author-info {
	border-color: inherit;
	border-style: solid;
	border-width: 1px 0 1px 0;
	clear: both;
	padding-top: 1.75em;
	padding-bottom: 1.75em;
}

.author-avatar .avatar {
	float: left;
	height: 42px;
	margin: 0 1.75em 1.75em 0;
	width: 42px;
}

.author-description > :last-child {
	margin-bottom: 0;
}

.entry-content .author-title {
	clear: none;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 900;
	line-height: 1.75;
	margin: 0;
}

.author-bio {
 	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	margin-bottom: 1.6153846154em;
	overflow: hidden;
}

.author-link {
	white-space: nowrap;
}

.entry-footer {
 	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	margin-top: 2.1538461538em;
}

.entry-footer:empty {
	margin: 0;
}

.entry-footer a {
	/*color: #686868;*/
}

.entry-footer a:hover,
.entry-footer a:focus {
	color: black
}

.entry-footer > span:not(:first-child):before {
	content: "\002f";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}

.entry-footer .avatar {
	height: 21px;
	margin: -0.1538461538em 0.5384615385em 0 0;
	width: 21px;
}

.sticky-post {
 	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
 	line-height: 1.6153846154;
	margin-bottom: 0.5384615385em;
	text-transform: uppercase;
}

/**
 * IE8 and earlier will drop any block with CSS3 selectors.
 * Do not combine these styles with the next block.
 */
.updated:not(.published) {
	display: none;
}

.sticky .posted-on,
.byline {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-header {
 	margin-top: 15px;
	margin-bottom: 25px;

 }

 .page-header h1{
 	font-size: 30px;
 }

body.error404 .page-header,
body.search-no-results .page-header {
	border-top: 0;
	padding-top: 0;
}

.page-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
	font-size: 1.4375rem;
	line-height: 1.2173913043;
}

.taxonomy-description {
 	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
}

.taxonomy-description p {
	margin: 0.5384615385em 0 1.6153846154em;
}

.taxonomy-description > :last-child {
	margin-bottom: 0;
}

.page-links {
	clear: both;
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 1.75em;
}

.page-links a,
.page-links > span {
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	display: inline-block;
	font-size: 13px;
	font-size: 0.8125rem;
	height: 1.8461538462em;
	line-height: 1.6923076923em;
	margin-right: 0.3076923077em;
	text-align: center;
	width: 1.8461538462em;
}

.page-links a {
	/*background-color: #1a1a1a; */
	border-color: #1a1a1a;
	color: #fff;
}

.page-links a:hover,
.page-links a:focus {
	background-color: black;
	border-color: transparent;
	color: #fff;
}

.page-links > .page-links-title {
	border: 0;
	color: #1a1a1a;
	height: auto;
	margin: 0;
	padding-right: 0.6153846154em;
	width: auto;
}

.entry-attachment {
	margin-bottom: 1.75em;
}

.entry-caption {
 	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 1.0769230769em;
}

.entry-caption > :last-child {
	margin-bottom: 0;
}

.content-bottom-widgets {
	margin: 0 7.6923%;
}

.content-bottom-widgets .widget-area {
	margin-bottom: 3.5em;
}


/**
 * 11.3 - Post Formats
 */

.format-aside .entry-title,
.format-image .entry-title,
.format-video .entry-title,
.format-quote .entry-title,
.format-gallery .entry-title,
.format-status .entry-title,
.format-link .entry-title,
.format-audio .entry-title,
.format-chat .entry-title {
	font-size: 19px;
	font-size: 1.1875rem;
	line-height: 1.473684211;
	margin-bottom: 1.473684211em;
}

.blog .format-status .entry-title,
.archive .format-status .entry-title {
	display: none;
}


/**
 * 11.4 - Comments
 */

.comments-area {
	margin: 0 7.6923% 3.5em;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
	padding-top: 1.75em;
}

.comments-title,
.comment-reply-title {
	border-top: 4px solid #1a1a1a;
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
	font-size: 1.4375rem;
	font-weight: 700;
	line-height: 1.3125;
	padding-top: 1.217391304em;
}

.comments-title {
	margin-bottom: 1.217391304em;
}

.comment-list {
	list-style: none;
	margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	border-top: 1px solid #d1d1d1;
	padding: 1.75em 0;
}

.comment-list .children {
	list-style: none;
	margin: 0;
}

.comment-list .children > li {
	padding-left: 0.875em;
}

.comment-author {
	color: #1a1a1a;
	margin-bottom: 0.4375em;
}

.comment-author .avatar {
	float: left;
	height: 28px;
	margin-right: 0.875em;
	position: relative;
	width: 28px;
}

.bypostauthor > article .fn:after {
	content: "\f304";
	left: 3px;
	position: relative;
	top: 5px;
}

.comment-metadata,
.pingback .edit-link {
 	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
}

.comment-metadata {
	margin-bottom: 2.1538461538em;
}

 

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .comment-edit-link:hover,
.pingback .comment-edit-link:focus {
	color: black;
}

.comment-metadata .edit-link,
.pingback .edit-link {
	display: inline-block;
}

.comment-metadata .edit-link:before,
.pingback .edit-link:before {
	content: "\002f";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}

.comment-content ul,
.comment-content ol {
	margin: 0 0 1.5em 1.25em;
}

.comment-content li > ul,
.comment-content li > ol {
	margin-bottom: 0;
}

.comment-reply-link {
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	color: black;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1;
	margin-top: 2.1538461538em;
	padding: 0.5384615385em 0.5384615385em 0.4615384615em;
}

.comment-reply-link:hover,
.comment-reply-link:focus {
	border-color: currentColor;
	color: black;
	outline: 0;
}

.comment-form {
	padding-top: 1.75em;
}

.comment-form label {
 	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
 	line-height: 1.6153846154;
	margin-bottom: 0.5384615385em;
	text-transform: uppercase;
}

.comment-list .comment-form {
	padding-bottom: 1.75em;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
 	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	margin-bottom: 2.1538461538em;
}

.no-comments {
	border-top: 1px solid #d1d1d1;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 0;
	padding-top: 1.75em;
}

.comment-navigation + .no-comments {
	border-top: 0;
	padding-top: 0;
}

.form-allowed-tags code {
	font-family: 'Montserrat', sans-serif;
}

.form-submit {
	margin-bottom: 0;
}

.required {
	color: black;
	font-family: 'montserratlight';
}

.comment-reply-title small {
	font-size: 100%;
}

.comment-reply-title small a {
	border: 0;
	float: right;
	height: 32px;
	overflow: hidden;
	width: 26px;
}

.comment-reply-title small a:hover,
.comment-reply-title small a:focus {
	color: #1a1a1a;
}

.comment-reply-title small a:before {
	content: "\f405";
	font-size: 32px;
	position: relative;
	top: -5px;
}

.socialButtons {
	margin-top: 10px;
	margin-bottom: 10px;
	height:50px;
	overflow: hidden;
}

.socialButtonsFooter{
	height:50px !important;
}

.socialButtons img {
	width: 310px;
}
.social_head{
	float: right;
}

.fb{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	background-color: #4b67a1;
  	padding-top: 10px;
	padding-bottom: 10px;	
	color: white;
	font-size: 16px;
	width:320px;
	height:50px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	margin-left: auto;
    margin-right: auto;
}

.fb-header{
	padding-left: 100px;
}

.fb:hover{
	color:white;
}

.innerfb{
	background-image: url('img/fb.png');
	background-repeat: no-repeat;	
	background-position: 20px;
	background-size: 15px;
	display: inline-block;

}

.social_like_left{
	float: left;
 	width:31%;
 	height:47px;
 	border: 3px solid #3b5997;
 	padding-top: 10px;

 }

 .fb_like_back{
 	float: left;
 	width: 40% !important;
    margin-left: 10px;
     position: relative;
    top: 40%;
    transform: translateY(-50%);
    display: block;
    z-index: 1;
 }

 .fb_like_underimage {
 	float: left;
    width: 50%;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    display: block;
    z-index: 1;
 }

.social_share_right{
	float: left;
	width: 33%;
 	margin-left: -1px;
 }

 .social_twitter_pin{
 	float: left;
 	width: 33%;
 	margin-left: 7px;
 }



/**
 * 11.5 - Sidebar
 */

.sidebar {
	margin-bottom: 3.5em;
	padding: 0 7.6923%;
}


/**
 * 11.6 - Footer
 */
#footer-links {
    display: inline-block;
    width: 100%;
    margin: 35px 0px;
    padding-top: 20px;
    border-top:1px solid #d3d7da;
    text-align: center;
    text-decoration: none;
}

  #footer-links a:hover {
  	text-decoration: none;
  }

#footer-links .footer-link img {
 	width: 100px;
}

#footer-links ul {
 	margin-top: 20px;
}

#footer-links li {
    padding-right: 30px;
    font-size: 20px;
    display: inline;
}

#footer-links li:last-child{
	padding-right: 0px;
}

#footer-links li a {
	color: #f16131;
}

.footer_fb_share{
	width:320px !important;
	padding-top: 10px;
	height:50px !important;
	font-size:16px;
}

.footer_blurb {
	color:gray;
	font-size: 17px;
 	width: 70%;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
}

.footer_blurb a{
	color: #f16131;
}

#footer-copy {
	color: gray;
	text-align: center;
    margin: 15px 0px 35px 0px;
}


.site-info {
 	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
}

.site-footer .site-title {
	font-family: 'Montserrat', sans-serif;
	font-size: inherit;
	font-weight: 400;
}

.site-footer .site-title:after {
	content: "\002f";
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	opacity: 0.7;
	padding: 0 0.307692308em 0 0.538461538em;
}

.mobile-sticky-footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 200;
    padding-top: 10px;
    display: none;
}

.mobile-sticky-footer a{
	height: 45px !important;
    width: 95%;
 }

/**
 * 12.0 - Media
 */

.site .avatar {
	border-radius: 50%;
}

.entry-content .wp-smiley,
.entry-summary .wp-smiley,
.comment-content .wp-smiley,
.textwidget .wp-smiley {
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.entry-content a img,
.entry-summary a img,
.comment-content a img,
.textwidget a img {
	display: block;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
	margin-bottom: 1.75em;
	max-width: 100%;
	vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
	margin-bottom: 0;
}

.entry-content .wp-audio-shortcode a,
.entry-content .wp-playlist a {
	box-shadow: none;
}

.wp-audio-shortcode,
.wp-video,
.wp-playlist.wp-audio-playlist {
	margin-top: 0;
	margin-bottom: 1.75em;
}

.wp-playlist.wp-audio-playlist {
	padding-bottom: 0;
}

.wp-playlist .wp-playlist-tracks {
	margin-top: 0;
}

.wp-playlist-item .wp-playlist-caption {
	border-bottom: 0;
	padding: 0.7142857143em 0;
}

.wp-playlist-item .wp-playlist-item-length {
	top: 0.7142857143em;
}


/**
 * 12.1 - Captions
 */

.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption .wp-caption-text {
 	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}


/**
 * 12.2 - Galleries
 */

.gallery {
	margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
 	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


/**
 * 13.0 - Multisites
 */

.widecolumn {
	margin-bottom: 3.5em;
	padding: 0 7.6923%;
}

.widecolumn .mu_register {
	width: auto;
}

.widecolumn .mu_register .mu_alert {
	background: transparent;
	border-color: #d1d1d1;
	color: inherit;
	margin-bottom: 3.5em;
	padding: 1.75em;
}

.widecolumn form,
.widecolumn .mu_register form {
	margin-top: 0;
}

.widecolumn h2 {
	font-size: 23px;
	font-size: 1.4375rem;
	font-weight: 900;
	line-height: 1.2173913043;
	margin-bottom: 1.2173913043em;
}

.widecolumn p {
	margin: 1.75em 0;
}

.widecolumn p + h2 {
	margin-top: 2.4347826087em;
}

.widecolumn label,
.widecolumn .mu_register label {
 	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 400;
 	line-height: 1.6153846154;
	text-transform: uppercase;
}

.widecolumn .mu_register label {
	margin: 2.1538461538em 0.7692307692em 0.5384615385em 0;
}

.widecolumn .mu_register label strong {
	font-weight: 400;
}

.widecolumn #key,
.widecolumn .mu_register #blog_title,
.widecolumn .mu_register #user_email,
.widecolumn .mu_register #blogname,
.widecolumn .mu_register #user_name {
	font-size: 16px;
	font-size: 1rem;
	width: 100%;
}

.widecolumn .mu_register #blogname {
	margin: 0;
}

.widecolumn .mu_register #blog_title,
.widecolumn .mu_register #user_email,
.widecolumn .mu_register #user_name {
	margin: 0 0 0.375em;
}

.widecolumn #submit,
.widecolumn .mu_register input[type="submit"] {
	font-size: 16px;
	font-size: 1rem;
	margin: 0;
	width: auto;
}

.widecolumn .mu_register .prefix_address,
.widecolumn .mu_register .suffix_address {
	font-size: inherit;
}

.widecolumn .mu_register > :last-child,
.widecolumn form > :last-child {
	margin-bottom: 0;
}

.singleArticle, .category_area{
	width: 728px;
	float:left;
	margin-left: 10px;
}

.article-content h1{
	font-size: 25px;
    font-family: 'montserratextra_bold';
    line-height: 30px;
    margin-bottom: 5px;
}

.article-content h2{
    font-size: 25px;
    font-family: 'montserratextra_bold';
    line-height: 30px;
    margin-bottom: 5px;
}

.article-content a{
    text-decoration: underline;
}

.singleSide {
	width:300px;
	float: left;
	margin: 0px 10px 0px 15px;
}
div.readMoreResults {
	margin-right: 5px;
	width:31%;
	float: left;
	margin-bottom: 5px;
	vertical-align: top;
	height: 310px;
	overflow: hidden;
}

.readMoreResults img {
	width: 100%;
	height:160px;
}

.readMoreResults a {
  	text-decoration: none;
    color: #505468;
    font-size: 22px;
    line-height: 25px;
    font-family: 'HelveticaNeueCondBlack', 'Arial';
    font-weight: normal;
}
 
#readMoreButton2 {
	display: none;
	width:200px;
	height:55px;
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 18px;
	color:white;
	background-color: #f16131;
}

#readMoreButton {
	width:200px;
	height:55px;
	font-size: 18px;
	color:white;
	background-color: #f16131;
	margin-top:20px;

}

.buttonWrapper{
	text-align: center;
}

#result2{
	display: none;
} 
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

div#ndn-widget-embed-1{
	width:100% !important;
	height:auto;
}

.dropdown_menu {
	display: none;
 	width: 100%;
	height: 500px;
	background-color: #f16131 !important;
 	position: fixed;
	z-index: 200;
	top:0;
	color: white;
	transition: top 0.2s ease-in-out;
  }

  .dropdown_stories_wrapper{
 	margin: auto!important;
 	padding-left: 10px;
 	padding-right: 10px;
 	max-width: 1320px;
 	clear: both;
    padding-top: 30px;
  }

 .dropdown_stories{
 	float: left;
 	width: calc(33% + 17px);
    width: -moz-calc(33% + 17px);
    width: -webkit-calc(33% + 17px);
    width: -o-calc(33% + 17px);
 	overflow: hidden;
 	margin: auto!important;
 	padding-left: 50px;
 }

 .dropdown_stories:first-child{
    margin-left: -50px !important;
 }
 
 .dropdown_stories p{
 	font-family: 'montserratextra_bold';
 	font-size:20px;
 	margin-bottom: 10px;
 	letter-spacing: .5px;
  }

 .dropdown_stories a{
 	font-size: 16px;
 	line-height: 40px;
 }

 .dropdown_stories li {
 	border-bottom: solid 1px white;
  }

  .dropdown_stories li:first-child{
  	 	border-top: solid 1px white;

  }

.dropdown_header{
	padding: 26px 10px 0px 10px;
	margin: 0px auto;
 	color: white;
 	max-width: 1320px;
}

.dropdown_header #white_logo {
 	float: left;
}

.dropdown_nav {
	display: block;
	margin-top: 70px;
 	font-family: 'montserratlight';
	font-size: 20px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
  	max-width: 1328px;
 	padding-left: 10px;
}

.dropdown_nav a{
	padding-right: 25px;
}
.dropdown_menu a{
	color: white;
}

.search_submit_button_active{
    background-image: url('img/search-color@2x.png') !important;
    background-size: 40px;
    background-repeat: no-repeat;
}

.search_area{
	width:80%;
	margin-top: 20px;
}

.search_area article{
	margin-top: 40px;
}
.search_area header{
	margin-bottom: 20px;
 	position: relative;
 	background-color: transparent;
 }
.search_area h1{
 	font-family: 'montserratextra_bold';
}

.search_results img{
	width: 728px;
	height: auto;
}

.search_results .entry-header{
	margin-left: 0;
}

 .category_area header{
	position: relative;
	z-index: 100;
}

.work_with_us{
	width: 100%;
	height: 250px;
	color: white;
	text-align: center;
	background-image: url('img/work_bg.jpg');
	font-family: 'montserratextra_bold';
   	margin-left:0;
 }

 .work_with_us h2 {
 	padding-top: 90px;
 	font-size: 40px;
 }

.who_works{
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
}

.who_works p{
	color: gray;
	font-size: 20px;
	margin-top: 45px;
}

 .who_works h2{
 	color: #f16131;
	font-family: 'montserratextra_bold';
 	font-size: 40px;
 	margin-top: 45px;
  }

.wwu {
	padding-right: 20px;
	width: 100px;
}

.arrow {
	width:80px;
}

.wyg{
	width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.wyg img{
	float: left;
	margin-top: 15px;
}

.wyg p{
 	font-size: 30px;
	color: gray;
	margin-left: 20px;
}

.mail_to_button{
 	color: white;
 	border-radius: 3px;
 	padding-top: 15px;
 	padding-bottom:15px;
 	padding-left: 90px;
 	padding-right: 90px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f16131;
}

.contact_us{
	max-width: 1008px;
	margin: 0px auto;
	padding: 0px 10px;
 }

.contact_us h2{
 	color: #f16131;
	font-family: 'montserratextra_bold';
 	font-size: 40px;
}
.contact_button{
	text-align: center;
	margin-top: 30px;
}
.contact_us a{
 	background-color: #f16131;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 90px;
	padding-right: 90px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
}

.contact_button h2 {
	margin-bottom: 60px;
}

#contact {
	margin-bottom: 60px;
}

.privacy{
	max-width: 1008px !important;
	margin: 0px auto;
	padding: 0px 10px;
	color: gray;
}

.privacy h2 {
	font-size: 40px;
	color: #f16131;
	margin-bottom: 30px;
	margin-top: 30px;
	font-family: 'montserratextra_bold';
}

.privacy h4{
	color: gray;
	margin-top: 20px;
	font-family:'montserratextra_bold';
}

.not-found {
	margin: 10px 0px;
	text-align: center;
}

.not-found header{
	margin: 10px 0px;
}

.not-found .search-field {
	border-radius: 30px;
	border: solid 1px #f16131;
	height: 40px;
	width: 300px;
	padding: 10px 20px;
	background-image: url('img/search@2x.png');
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: 96%;
 }

.not-found button {
	background-color: transparent;
}

.youtube_sidebar{
	width: 300px; 
	font-family:Montserrat, sans-serif!important; 
	font-size: 16px!important; 
	line-height: 18px!important; 
	font-weight: normal!important; 
	color: #000!important;
	margin-bottom: 20px;
 }
.youtube_sidebar iframe:first-child{
	margin-top: 0!important;
}
.youtube_sidebar iframe{
	margin-top: 20px !important;
}

.youtube_subscribe{
	margin-left: 25px;
	display: inline; 
}
 

.youtube_sidebar .fb-video:first-child{
     padding-top: 0px;
}
.youtube_sidebar .fb-video{
    padding-top: 30px;
}

/* facebook audience network code */
#ad_root {
   display: none;
   font-size: 14px;
   height: 250px;
   line-height: 16px;
   position: relative;
   width: 300px;
 }
 .thirdPartyMediaClass {
   height: 157px;
   width: 300px;
 }
 .thirdPartyTitleClass {
   font-weight: 600;
   font-size: 16px;
   margin: 8px 0 4px 0;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }
 .thirdPartyBodyClass {
   display: -webkit-box;
   height: 32px;
   -webkit-line-clamp: 2;
   overflow: hidden;
 }
 .thirdPartyCallToActionClass {
   color: #326891;
   font-family: sans-serif;
   font-weight: 600;
   margin-top: 8px;
 }
 
 .video_thumbnail{
    margin-bottom: 40px;
 }
 
 .trending-video{
    font-family: Montserrat, sans-serif!important;
    font-weight: 700!important;
    font-size: 20px!important;
    color: #000!important;
    margin-bottom: 10px!important;
 }
 
 .no-height{
    height: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
 }
 
 .margin-top-bottom-10{
    margin-top: 10px;
    margin-bottom: 10px;
 }
 
 #stickyunit{
    position: relative;
 }

.fb-anchor{
	height: 0px;
    display: none;
}

#fb_load_comments{
	background: #4080ff;
    border: none;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    padding: 12px;
    text-shadow: none;
    width: 100%;
}

#awm_video_js{
	margin-bottom: 50px;
    width: 728px;
}
#awm_video_js .vjs-big-play-button{
	background-color: #45ccff !important;
}
 
/**

 * 14.0 - Media Queries
 */

/**
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

@media only screen and (max-width : 1315px) { 

	header .search_field{
		margin-left: auto;
	}

	.search_field{
		margin-left: auto;
	}

	.dropdown_header .search_field{
		margin-left: auto;
	}
}

@media only screen and (max-width : 1125px) { 
    .dropdown_stories p{
        line-height: 1.25em !important;
        display: block !important;
        height: 2em;
    }
    
    .dropdown_stories ul li a{
        line-height: 1em !important;
        display: block !important;
        height: 3em;
        padding: .5em 0em;
    }
}

@media only screen and (max-width : 1063px) {
	.site-main{
       width: 830px;
       margin: 0px auto;
    }
    
    .singleArticle, .category_area{
        width: 500px;
        margin: 0px 10px;
    }
    
    .cat_div, .cat_div img{
        width: 100%;
    }
    
    .singleSide{
        width: 300px;
        margin: 0px 10px 0px 0px;
    }
    
    .singleSide .ad{
        float: left;
        width: 300px;
    }
    
    #awm_video_js{
        width: 500px;
    }
    
    .singleSide .ad .fb-like{
        width: 300px !important;
    }
    
    .singleSide .ad .fb-like span{
        width: 300px !important;
    }
    
    .youtube_sidebar{
        width: 100%;
    } 

    .socialButtons{
    	height: 32px;
    }

    .social_like_left{
    	margin-left: 3px;
    	height:32px;
    }

    .fb_like_back{
    	top:30%;
    }

    .fb_like_underimage{
    	top:2%;
    }
}

@media only screen and (max-width : 829px) {
    .site-main{
       width: 737px;
       margin: 0px auto;
    }
    
    .singleArticle, .category_area{
        width: 407px;
        margin: 0px 10px;
    }

    #awm_video_js{
        width: 407px;
    }
    
    .socialButtons{
    	height: 28px;
    }

    .social_like_left{
    	height:28px;
    }

    .fb_like_back{
    	top:20%;
    }

    .fb_like_underimage{
    	top:-3px;
    }

    .social_twitter_pin{
  		margin-left: 3px;
  	}
}
/*
@media only screen and (max-width : 815px) {
    .site-main{
        zoom: 0.65;
        -moz-transform: scale(0.65);
    }
}

@media only screen and (max-width : 736px) and (min-height: 737px){ 

	#searchsubmit{
		margin-left: 155px !important;
	}
}*/
/**************** TABLET *******************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)  { 
	
	.site-main{
	   width: 768px;
	   margin: 0px auto;
	}
	
    .singleArticle, .category_area{
        width: 438px;
        margin: 0px 10px;
    } 
    
    .cat_div, .cat_div img{
	    width: 100%;
	    margin: 0px;
	}	
    
    .cat_div h2{
	    font-size: 1em;
	    line-height: normal;
	}
	
	.site-inner {
 	  padding-left: 0;
    }
    
    #menu_dropdown, .menu_toggle{
        padding-top: 0em;
    }
    
    #menu_dropdown_close{
        padding-top: 1em !important;
    }

	h1.entry-title {
		  -webkit-hyphens: none;
	}
	h2.entry-title {
		  -webkit-hyphens: none;
	}
	
	.entry-title {
        margin-top: 0;
        font-size: 1.5em;
        line-height: normal;
    }
    
    .article-content h1{
	    font-size: 1.25em;
	    line-height: normal;
	}
	
	.article-content h2{
        font-size: 1.25em;
        line-height: normal;
	}
	.social_like_left{
		height: 32px
	}
  	.article_top_ad{
  	    width: 100%;
  	    min-width: 125px;
  	}
  	
  	.article_top_ad div{
        width: 100% !important;
        height: auto !important;
        margin: 10px auto !important;
    }
		
 	.singleSide{
 	    width: 300px;
  		margin: 0px 10px 0px 0px;;
 	}
 	
 	.singleSide .ad{
 	    float: left;
 	}
 	
 	.singleSide .ad .fb-like{
 	    width: 300px !important;
 	}
 	
	.search_field #s{
 		width: 300px !important;
		height: 35px !important;
 		border: solid 1px #f16131 !important;
 		background-size:30px !important;
	}
	
	.search_field_dropdown #s{
        width: 300px !important;
        height: 35px !important;
        border: solid 1px #ffffff !important;
        background-size:30px !important;
        margin-top: 12px;	
	}
	
	#end_site_header{
		margin-left: 0;
	}

	.search_field {
		margin-left:auto !important;
 		float: right !important;
  	}	

 	.search_field img{
 		width: 20px !important;
 	}
	.sticky-article-title{
		width: 40%;
		padding-left: 30px;
	}
	.sticky-social-share {
	    margin-left: 10px; 
	    width: 40%;
	}

	.sticky-social-share a{
		width: 300px;
	}
 
    .mobile_social .fb{
        padding-left: 100px;
    }
    
    .youtube_sidebar{
        width: 100%; 
    }
     
	#footer-links{
		width:100%;
		text-align: center;
	}
 	#footer-links li{
  		padding:0 20;

 	}
	#footer-links .footer-link {
		float: none;
 
	}

	#footer-links .footer-link img{
		display: inline-block;
	}

	.footer_right{
		width: 100%;
		border-left: none;
		margin: 0;
		text-align: center;
	}

	#footer-links ul {
		width: 100%;
		padding: 0;
	}
	.footer_blurb{
		width: 100%;
		margin: 0;
		padding:0;
	}

	.footer_fb_share {
		margin-bottom: 10px;
	}

 	.nax{
 		margin-left: 20px;
 	}

 	.dropdown_header{
 		width: 100%;
 	}
 	#searchsubmit{
     	margin-top: -30px;
		margin-left: 247px;
		background-size: 35px;
    }
    
    .youtube_subscribe{
	    margin-left: 5px;
	    display: inline-block; 
	}

	.socialButtons{
		height: 50px;
	}

	.fb_like_back {
		width: 0 !important;
	}

	.fb_like_underimage {
		top: -2px;
	    margin-left: 20px;
	}

 	.social_like_left{
 		margin-top: 1px;
   		height: 28px;

 	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)  { 

	.site-main{
       width: 737px;;
       margin: 0px auto;
    }
    
    .singleArticle, .category_area{
       width: 407px;
       margin: 0px 10px;
    }

 	.singleSide {
 		width: 300px;
 		margin: 0px 10px 0px 0px;
 	}
 	
 	.singleSide .ad{
        float: left;
        width: 300px;
    }
    
    .singleSide .ad .fb-like{
        width: 300px !important;
    }
    
    .singleSide .ad .fb-like span{
        width: 300px !important;
    }
    
    .youtube_sidebar{
        width: 100%;
    } 
 	
 	.site-inner {
 	padding-left: 0;
    }

	header {
		width:100% !important;
	}
	.sticky-social-share{
		margin-left: 0 !important;
	}
	.search_field{
		margin-left: auto !important;
		float: right !important;
	}
	
	#searchsubmit {
	    margin-left: 250px;
	}
	
	.mobile_social a{
	    padding-left: 100px !important;
	}

	.fb_like_back{
		width: 0!important;
	}
}

/**************** PHONE *******************/
@media only screen and (max-width: 736px) {

	.site-main{
       width: 100%;
       padding: 0px 10px;
    }
    
	.site{
		margin: 0;
		overflow: hidden;
	}

	.bn_title{
		width: 100%;
		height: 30px;
     	text-align: center;
    	padding-top: 5px;
    	font-size: 12px;

	}

	.bn_right h4 {
     font-size: 13px;
    margin-left: 5px;
    line-height: 15px;
    font-family: 'montserratsemi_bold';
	}

	.bn_right{
		height: 97px;

	}
	.bn_left{
		height: 97px;
	}
	.bn_img {
		    height: 97px;

	}

  	.bn_article_title {
  		padding:5px 0;
  	}
	.site-inner {
 	padding-left: 0;
	}
    
    .menu_toggle {
	    padding-top: .25em;
	}
	.search_field #s{
 		width: 190px !important;
		height:25px !important;
		padding: 0 10px!important;	
 		margin-right: 5px !important;
 		border: solid 1px #f16131 !important;
 		background-size:20px !important;
 		float: right !important;
	}
	#end_site_header{
		margin-left: -10px;
		margin-top: -10px;
		width: 110%;
	}
	.home_top{
		height:65px;
 	}

	.home_top #s{
 		float: right;
	}

	.search_field {
		margin-top: -20px;
 		margin-left:auto !important;
  		float: right !important;
  	}		

  	header{
		position: relative !important;
		padding-top: 10px;
	} 

	.search_field img{
 		width: 20px !important;
 		float:right;
 	}

 	::-webkit-input-placeholder {
 		font-size:13px;
 	}

	.site-header-main{
		height:60px !important;
 	}
	.site-content {
		width:100%;
		margin-top: 0 !important;
	}

	.entry-title {
		margin-top: 0;
		font-size: 1em;
        line-height: normal;
	}
	
	.article-content h1{
        font-size: 1em;
        line-height: normal;
    }
    
    .article-content h2{
        font-size: 1em;
        line-height: normal;
    }
    
    .article_top_ad{
        width: 100%;
        min-width: 125px;
    }
    
	.resultWrapper{
		width: 100%;
		margin-top: 25px;
	}

	.singleSide {
		display: block;
		margin: 20px 0px;
		width: 100%;
	}
	
	#awm_video_js{
        width: 100%;
        margin-bottom: 10px;
    }
    
	.singleSide .ad{
	   float: none;
	   margin: 0px auto;
	}
	
	.youtube_sidebar,  .youtube_sidebar + div{
	   margin: 0px auto;
	   width: 300px !important;
	}
	
	.youtube_sidebar + div div{
	    margin-top: 20px;
	}
		
	.singleArticle, .category_area{
		width: 100%;
		margin: 0px;
 	}

	.singleArticle h1, , .category_area h1{
		font-size: 24px;
		line-height: 26px;
 		-webkit-hyphens: none;
    	font-family: 'montserratsemi_bold';
		margin-top: -10px;
 	}

	.entry-content p {
		font-size: 18px;		
 	}

	.author{
		font-size: 12px;
 	}
	.ads {
		margin-bottom: 10px;
	}
	
	.ads div:nth-child(2){
	   height: 100%;
	}
	
	.ads iframe{
        left: 0px !important;
        margin-left: 0px !important;
        height: 100%;
    }
	
	.site-branding {
 		margin-bottom: 20px;
	}

	.site-branding img {
		width: 60px;
	}

	.site-branding2 a{
		font-size:13px;
		padding-right: 7px;
	}

	.item-half {
		width: 100%;
		height:auto;
		margin-bottom: 20px;
		padding: 0px !important;
	}

	.item-half img{
		width:100%;
		max-height: 250px;
	}

	a.post-thumbnail{
		margin-bottom: 5px;
	}
	.page-header img {
		margin-left: -5px;
	}
	
	h2.entry-title{
		font-size: 20px;
		line-height: 25px;
	    font-family: 'montserratsemi_bold';
	}
	
	.site-header {
 		padding-bottom: 0;
 		margin: 0px;
	}
	#footer-links{
		width:100%;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}

	#footer-links .footer-link img {
 		width: 60px;
 		margin-left: auto;
 		margin-right: auto;
 	}

	#footer-links .footer-link{
		float: none;
	}

	#footer-links a {
 		font-size: 11.2px;
 		margin: 0;
 	}

	#footer-links ul {
		border-left: 0;
		padding-right: 0;
 		padding-top: 0;
		padding-left: 0 !important;
  	}

	.footer_right{
		width:100%;
		margin-left: 0;
		border: none;
		text-align: center;
 	}

	#footer-links li {
		padding:4px !important;
		line-height: auto;
	}

	.footer_blurb{
		font-size: 13px;
		margin-left:0px;
		padding:0;
		width:100% !important;
		line-height: 17px;
		
 	}
    
	.footer_fb_share {
		width: 100%!important;
		height:35px !important;
 	    background-size: 10px;
 	   
	}
	
	#footer-copy {
        margin-bottom: 100px;
    }

	 .cat_div {
	 	width: 100%;
	 	margin-left: 0px;
	 }
	 
	 .cat_div h2{
        font-size: 1em;
        line-height: normal;
        margin-top: 10px;
     }

	 .category_title{
	 	font-size: 25px;
	 	line-height: 27px;
	 	margin-top: -40px;
	 	margin-left: 0px;
	 }
	 .fb{
 		margin-bottom: 7px;
		width:100%;
 	
	 }
	 
	 .mobile_social{
	   display: none;
	 }
	 
	 .mobile_social .fb{
	   padding-left: 100px;
	 }

	 .search_area{
	 	width: 100%;
	 	margin-left: 20px!important;
	 }

	 .search_area h1{
	 	font-size: 25px;
	 	margin-top: 50px;
	 }

	 .nav{
	 	margin: 20px 0px;
	 }
    
    .dropdown_menu{
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 40px !important;
    }
    
  	.dropdown_header{
 		width: 100%;
 		padding:20px 10px;
 	}

 	.dropdown_header #white_logo {
 		width: 60px;
 		margin-top: -4px;
 	}

 	.dropdown_header a{
 		margin-right: 0;
 	}
    
    .dropdown_nav a{
	    padding-right: 10px;
	}
 	.search_field_dropdown #s{
 		width: 190px !important;
        height: 25px !important;
        padding: 0px 10px !important;
        margin-right: 5px !important;
        border: solid 1px #ffffff !important;
        background-size: 20px !important;
        float: right !important;
 	}
 	#menu_dropdown_close{
 		margin: 0px !important;
 		padding-top: 0em;
 	}
 	#menu_dropdown_close img{
 		width: 20px;
 		margin: 0 !important;
 		float: right;
 		padding-top: .25em;
 	}
 	.dropdown_nav {
 		width: 100%;
    	margin-top: 40px; 
     	margin-bottom: 10px; 
    	margin-left: 10px; 
	    padding-left: 0px;
	    font-size: 14px;
 	}
 	.dropdown_stories_wrapper{
 		width: 100%;
 		margin: 10px;
 		padding: 0px 10px !important;
 	}
 	.dropdown_stories{
 		width: 100% !important;
 		margin: 10px;
 		padding: 0px;
 	}
 	.dropdown_stories p{
        line-height: 1.75 !important;
        height: auto;
    }
 	.dropdown_stories ul li a {
        line-height: 1.75em !important;
        height: auto;
 	}
 	.dropdown_stories:not(:first-child){
 	  padding-top: 20px;
 	}

	.dropdown_stories:first-child{
	    margin-left: 0px !important;
	    padding-top: 20px;
	}

 	#searchsubmit{
 		margin-left: 155px;
 		margin-top: 4px;
 		background-size: 25px;
 		height:25px;
  	}
  	
  	.search_submit_button_dropdown{
  	    margin-top: 2px !important;
  	}
  	
  	.search_submit_button_active{
  	    background-image: url('img/search-color@2x.png') !important;
  	    background-size: 40px;
        background-repeat: no-repeat;
  	}

  	.fb_like_back{
  		width: 0!important;
  	}

  	.fb_like_underimage{
  		margin-left: 14px;
  		top:-3px;
  	}

  	.social_twitter_pin{
  		margin-left: 1px;
  	}
  	.social_like_left{
    	border:none;
    }

}

@media only screen and (max-width: 736px) and (orientation: landscape){
	.item-half{
		height: auto;
	}
	.item-half img{
		height:auto;
	}
		.site-inner {
 	padding-left: 0;
	}
}
 
@media only screen and (max-width: 360px) {
  	 #searchsubmit{
 		margin-left: 157px;
   	}

	.innerfb{
		background-size: 15px;
		background-position: 27px;

	}
	.bn_right h4{
		font-size: 11px !important;
	}
 
 	.search_field_dropdown #s{
 		width: 160px;
  		background-size: 15px;
		padding: 4px 10px;
 	}

 	#menu_dropdown_close img{
 		width: 15px;
  	}
 	.dropdown_nav {
 	     font-size: 13px;
 	}
 	.dropdown_stories p{
 	font-size: 15px;
 	} 
 	.dropdown_stories a{
 		font-size: 13px;
 	}

 	.fb_like_back{
 		height: 24px !important;
 		margin-top: 2px;
 	}

 	.fb_like_underimage{
 		margin-top: -3px;
 	}
 }

@media only screen and (max-width: 350px) {
	.site-branding2 a{
		font-size: 11px;
	}
  	 #searchsubmit{
 		margin-left: 137px;
 		margin-top:3px;
   	}
}
@media only screen and (max-width: 330px) {


	.search_field #s {
 		margin-top: 0px;
 		width: 190px !important;
	}

	.search_field form{
		width:80%;
	}
}
