/*-------------------------
全体の設定
--------------------------*/

body{
	margin: 0;
	text-align: center;
	background-color: #E6E6E6;
	font-size: 10pt;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 16pt;
	color: #333333;
}

img,
map,
area {
    touch-callout: default !important;
    user-select: all !important;
    -webkit-touch-callout: default !important;
    -webkit-user-select: all !important;
    -moz-touch-callout: default !important;
    -moz-user-select: all !important;
}

/*リンク色*/
a{
	text-decoration: underline;
	color: #f761a6;
}
a:link{
	color: #f761a6;
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover{ text-decoration: underline; }
/*--------------------------------------------------------
サイト全体
--------------------------------------------------------*/
.list .bookplus {
	position: absolute;
	z-index: 100;
	text-align: right;
	font-size: 85%;
	height: 30px;
	width: 64px;
	right: 0px;
	top: 171px;
	float: right;
}
.list .bookplus {
	right: 1px;
}
.list .bookplus a {
	float:right;
}
.list .bookplus a {
	margin-left: 2px;
}

div#container{
	width: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 100px;
	position: relative;
}
#wrap {
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding-top: 30px;
	clear: both;
}

#outline {
	width: 1100px;
	text-align: left;
	float: left;
	clear: both;
}



#main2col {
	width: 805px;
	text-align: left;
	float: left;
	padding-bottom: 30px;
}

#main2col .content {
	clear: both;
	margin-bottom: 30px;
	float: left;
    width: 805px;
    background: white;
    padding-bottom: 20px;
}
#main2col .content_mb_none {
	clear: both;
	float: left;
	width: 805px;
  background: white;
  padding-top: 10px;
}

#main2col .content_list {
	clear: both;
	float: left;
	width: 805px;
  background: white;
}


div.sortbox {
	clear: both;
	float: left;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B3B3B3;
	background-color: #FFFFFF;
	width: 805px;
}
div.sort_title {
	background-color: #f761a6;
	clear: both;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 40px;
}
div.sort_title h2 {
	font-size: 12pt;
	padding-top: 10px;
	padding-left: 20px;
}
div.sort_title .allfile {
    background-color: #FFFFFF;
    float: right;
    padding-right: 5px;
    font-size: 12pt;
    text-align: right;
    margin-right: 5px;
}

.all-file {
    background: #f6c6cc;
    height: 30px;
    display: inline-block;
    font-weight: bold;
    padding: 10px 10px 0 10px;
    margin-right: 5px;
}

div.sort_title .alltag {
	background-color: #FFFFFF;
	float: right;
	margin-right: 5px;
	background-image: url(images/allltag.gif);
	padding-left: 85px;
	padding-right: 5px;
	font-size: 12pt;
	text-align: center;
	padding-top: 10px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: left top;
	width: 100px;
}

.sortbox form {
	padding: 10px;
}

select.sort_list{
	margin-right:10px;
}

ul.sort_list{
	float: left;
	padding-left: 10px;
	width: auto;
	min-width: 500px;
}

div.list,
li.list {
	float: left;
	width: 152px;
	margin-left: 8px;
	margin-bottom: 20px;
	line-height: 14pt;
	position: relative;
}

.list .mb5 {
    width: 150px;
    height: 200px;
}

.content_list.commentlist .list {
	clear: both;
	float: left;
	width: 785px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	padding: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.content_list.commentlist .list:last-child {
	margin-bottom: 20px;
	border-bottom-style: none;
}
.commentlist .list img  {
	float: left;
	height: auto;
	width: 100px;
	margin-bottom: 0px;
}
.commentlist .list .info {
	float: left;
	text-align: left;
	width: 680px;
	clear: right;
}
/* .list .likebox {
	background-color: #f761a6;
	position: absolute;
	z-index: 100;
	color: #F8B625;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 15px;
	text-align: right;
	font-size: 85%;
	background-image: url(images/likebox.png);
	background-repeat: no-repeat;
	background-position: 2px 3px;
	top: 175px;
	left: 5px;
	float: left;
	width: auto;
}
 */
.list h3 {
	font-weight: bold;
	clear: both;
	margin-bottom: 5px;
	height: 53px;
	overflow: hidden;
}

.list h3 a {
	color: #f761a6;
}
.list h3 a:link {
	color: #f761a6;
}
.list h3 a:visited {
	color: #CE52E9;
}
.commentlist .list h3 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	height: auto;
	margin-bottom: 10px;
	font-size: 11pt;
	padding-bottom: 3px;
	margin-left: 10px;
}
.commentlist .list h3 a  {
	float: left;
	width: auto;
}
.commentlist .list h3 .time {
	float: right;
	width: auto;
	border-bottom-style: none;
	margin-left: 10px;
}
.list .time {
	color: #333333;
	font-size: 85%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #808080;
	margin-bottom: 5px;
}
.commentlist .list .comment {
	float: left;
	width: 643px;
	font-size: 9pt;
	line-height: 20px;
	background-color: #FFF;
	border: 1px solid #666;
	position: relative;
	margin-left: 15px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-top: 8px;
}
.commentlist .list .comment:after,
.commentlist .list .comment:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.commentlist .list .comment:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 8px;
	margin-top: -8px;
}
.commentlist .list .comment:before {
	border-color: rgba(102, 102, 102, 0);
	border-right-color: #666;
	border-width: 9px;
	margin-top: -9px;
}
.commentlist .list .comment .comment_time {
	color: #00AAD9;
	font-size: 8pt;
	margin-left: 5px;
}
.commentlist .list dl {
	float: left;
	width: auto;
	clear: both;
	padding-left: 10px;
}
.commentlist .list dt,
.commentlist .list dd {
	font-size: 9pt;
	line-height: 20px;
	clear: none;
	float: left;
	width: auto;
}
.commentlist .list dd {
	margin-right: 10px;
	/* [disabled]border-right-width: 1px; */
	/* [disabled]border-right-style: solid; */
	/* [disabled]border-right-color: #999; */
	padding-right: 10px;
}
.list dt {
	font-size: 79%;
	float: left;
	text-align: right;
	width: 100px;
	color: #000000;
	line-height: 12pt;
}
.list dd {
	font-size: 78%;
	text-align: right;
	color: #000000;
	line-height: 12pt;
}

.content_list a:hover {
    opacity: 0.8;
}

ul.thread_list{
	clear: both;
	float: left;
}
ul.thread_list li{
	background-image: url(images/li_thread_list.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	line-height: 40px;
	height: 40px;
	list-style-type: none;
	display: block;
	float: left;
	width: 140px;
}
ul.thread_list li a{
	padding-left: 20px;
	text-decoration: underline;
	color: #000000;
	display: block;
}
ul.thread_list li a:link{
	color: #000000;
	text-decoration: none;
}
ul.thread_list li a:visited{
	color: #000000;
	text-decoration: none;
}
ul.thread_list li a:hover{
	background-image: url(images/li_thread_list.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	text-decoration: none;
	background-color: #FFFF66;
}


.main_search  {
	float: left;
	clear: both;
	background-image: url(images/header_search.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 30px;
	height: 30px;
	background-color: #FFFFFF;
	margin-left: 80px;
	border: 1px solid #000000;
}
.main_search input[type="text"] {
	height: 28px;
}
.search_box500{
	width: 500px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.submitBtn{
	background-image: url(images/submitbtn.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 30px;
	width: 50px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: relative;
}




ul.sort_thread_list{
	list-style-type: none;
	clear: both;
	width: 758px;
	padding: 5px;
}
ul.sort_thread_list li{
	list-style-type: none;
	display: inline;
	font-size: 10pt;
	overflow: hidden;
	margin-right: 1px;
	margin-bottom: 5px;
	margin-top: 5px;
	line-height: 30px;
}
ul.sort_thread_list li a{
	background: -moz-linear-gradient(top, #D9D9D9, #A8A8A8);
	background: -webkit-gradient(linear, left top, left bottom, from(#D9D9D9), to(#A8A8A8));
	border: 1px solid #000000;
	color: #000000;
	height: 26px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
ul.sort_thread_list li a:hover {
	text-decoration: none;
	background: -moz-linear-gradient(top, #E0F1EC, #489ABA);
	background: -webkit-gradient(linear, left top, left bottom, from(#E0F1EC), to(#489ABA));
	color: #000000;
}


div.navigationbox {
	clear: both;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 10px;
	float: left;
	width: 100%;
}
ul.morelink {
	margin: 0px;
	padding: 0px;
}
ul.morelink li {
	border: 1px solid #4F4946;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	display: inline;
	line-height: 30px;
	height: 30px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	font-size: 10pt;
	margin-right: 3px;
	margin-left: 3px;
}
ul.morelink li a {
	color: #000000;
	background-color: #FFFFFF;
	padding: 10px;
}
ul.morelink li.prev {
	color: #000000;
	background-color: #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
}
ul.morelink li.next {
	color: #000000;
	background-color: #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
}
ul.morelink li.prev a,
ul.morelink li.next a {
	margin-left: -10px;
	margin-right: -10px;
}
ul.morelink li a:visited {
	color: #000000;
	background-color: #FFFFFF;
	padding: 10px;
}
ul.morelink li a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #f761a6;
}
.nonelink{
	background-color: #f761a6;
	padding: 10px;
}
.current{
	background-color: #f761a6;
	padding: 10px;
}

ul.morelink li.current{
	background-color: #f761a6;
	padding: 10px;
}


/*下層ページ設定
------------------------*/
div.content_under  {
	clear: both;
	margin-bottom: 20px;
	float: left;
	width: 798px;
	background-color: #FFFFFF;
}
div.content_under .content_in {
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
div.content_under h2 {
    font-size: 12pt;
    height: 45px;
    background: #f761a6;
    box-sizing: content-box;
    line-height: 45px;
    position: relative;
    margin-bottom: 20px;
}
h2.title_contact {
	background-image: url(images/h2_contact.gif);
}
h2.title_upload {
	background-image: url(images/h2_upload.gif);
}
h2.title_error {
	background-image: url(images/h2_error.gif);
}
h2.title_viewlist {
	background-image: url(images/h2_viewlist.gif);
}
h2.title_login {
	background-image: url(images/h2_login.gif);
}
h2.title_member {
	background-image: url(images/h2_member.gif);
}
h2.title_comment {
	background-image: url(images/h2_comment.gif);
}
h2.title_error,
h2.title_viewlist,
h2.title_comment {
	clear: both;
	padding-bottom: 0px;
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
	padding-left: 70px;
	height: 45px;
	font-size: 12pt;
	background-color: #FFF;
}

h3.faq_title{
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 10px;
	color: #f761a6;
}
h3.faq_title a{
	color: inherit;
	text-decoration: none;
}


/*--------------------------------------------------------
お問い合わせ
--------------------------------------------------------*/
table.table_contact{
	width: 100%;
	font-size: 11pt;
	clear: both;
}
.table_contact th {
	width: 160px;
	text-align: left;
	background-color: #E6E6E6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	padding: 10px;
}
.table_contact td {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.table_contact .exp {
	font-size: 9pt;
	/* [disabled]text-align: right; */
	clear: both;
}
.attention {
	border: 1px solid #FF0000;
	background-color: #FFFBEE;
	padding: 10px;
	clear: both;
	margin-bottom: 20px;
}
ul.check_list {
}
ul.check_list li {
	list-style-type: disc;
	list-style-position: inside;
	font-size: 90%;
}
ul.strage {
	list-style-type: none;
	clear: both;
	float: left;
	width: 100%;
}
ul.strage li {
	display: block;
	float: left;
	width: 100px;
	padding-bottom: 5px;
}
.contact_u{
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
}
.soushinBtn{
	background-image: url(images/soushinbtn.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 30px;
	width: 150px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: relative;
}
.confirmBtn{
	background-image: url(images/btn_confirm.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 30px;
	width: 150px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: relative;
}
.uploadBtn{
	background-image: url(images/btn_upload.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 30px;
	width: 150px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: relative;
}
.backBtn{
	background-image: url(images/btn_back.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 30px;
	width: 150px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: relative;
}

/*--------------------------------------------------------
テキストセンター寄せ
--------------------------------------------------------*/
div.textcenter {
	text-align: center;
}
div.textright {
	text-align: right;
}
.text_center {
	text-align: center;
	clear: both;
}
.text_right {
	text-align: right;
	clear: both;
}


/*--------------------------------------------------------
パーテーション
--------------------------------------------------------*/
div.navigation {
	text-align: right;
	font-weight: bold;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #666;
	clear: both;
	padding-top: 5px;
	float: left;
	width: 100%;
}
div.navigation .back {
	float: left;
}
div.navigation .next {
}



/*--------------------------------------------------------
画像位置設定
--------------------------------------------------------*/
.left {
	float: left;
}
.right {
	float: right;
}
.picleft {
	float: left;
	margin-right: 10px;
}
.picright {
	float: right;
	margin-left: 10px;
}

.picborder {
	border: 1px solid #808080;
}



input,select {
	margin-top: 2px;
	margin-bottom: 2px;
}

input[type="checkbox"] {
	margin-right: 5px;
}


/*余白設定*/
.margin10{	margin: 10px;}
.padding10{	padding: 10px;}

.mt5{	margin-top: 5px;}
.mt10{	margin-top: 10px;}
.ml5{	margin-left: 5px;}
.ml10{	margin-left: 10px;}
.mr5{	margin-right: 5px;}
.mr10{	margin-right: 10px;}
.mb5{	margin-bottom: 5px;}
.mb10{	margin-bottom: 10px;}
.mb20{	margin-bottom: 20px;}
.mb30{	margin-bottom: 30px;}
.mb40{	margin-bottom: 40px;}
.pt5{	padding-top: 5px;}
.pt10{	padding-top: 10px;}
.pl5{	padding-left: 5px;}
.pl10{	padding-left: 10px;}
.pl20{	padding-left: 20px;}
.pl30{	padding-left: 30px;}
.pr5{	padding-right: 5px;}
.pr10{	padding-right: 10px;}
.pb5{	padding-bottom: 5px;}
.pb10{	padding-bottom: 10px;}

.plr5{	padding-left: 5px;padding-right: 5px;}


#one_col {
	width: 1100px;
	text-align: left;
	float: left;
	clear: both;
	margin-bottom: 30px;
}
#one_col .content{
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
#one_col .content_line{
	clear: both;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	padding: 9px;
	float: left;
	width: 1080px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #808080;
	border-bottom-color: #808080;
	border-left-color: #808080;
}

#one_col .markerbox {
	padding-top: 20px;
}

div#one_col .thumbbox {
	float: left;
	margin-right: 5px;
}
div#one_col .thumbbox .date {
	font-size: 8pt;
	display: block;
	width: auto;
	margin-bottom: 5px;
	color: #999;
}
div#one_col .thumbbox img {
	float: left;
}
.dec_error{
	background-image: url(images/dec_error.gif);
	background-repeat: no-repeat;
	background-position: 97% center;
	min-height: 350px;
}

.dec_error{
	background-image: url(images/dec_error.gif);
	background-repeat: no-repeat;
	background-position: 97% center;
	min-height: 350px;
}


/*singleトップ*/
div#detail {
	float: left;
	width: 650px;
	padding-left: 10px;
}
div#detail .button a {
	margin-right: 20px;
}

div#detail ul.tag_list{
	list-style-type: none;
	padding-right: 5px;
	padding-bottom: 14px;
	padding-left: 65px;
	clear: both;
	background-image: url(images/single_ul_tag_list.gif);
	background-repeat: no-repeat;
	background-position: left 10px;
	padding-top: 10px;
}
div#detail ul.tag_list li{
	list-style-type: none;
	display: inline;
	font-size: 10pt;
	height: 25px;
	overflow: hidden;
	padding-right: 5px;
	padding-top: 5px;
	line-height: 30px;
}
div#detail ul.tag_list li a{
	background-image: url(images/sidebar_li_tag_list.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-top: 3px;
	display: inline;
	color: #333333;
	padding-left: 15px;
}
div#detail ul.tag_list li.user a{
	background-image: url(images/li_tag_list_user.png);
}
div#detail ul.tag_list li a:hover {
	text-decoration: none;
	font-weight: bold;
}

#detail .detail_tag {
	clear: both;
	margin-bottom: 15px;
	float: left;
	width: 100%;
	margin-top: -5px;
}
#detail .detail_tag .b_addtag {
	margin-bottom: 5px;
	color: #FFF;
	background-color: #666;
	font-size: 10pt;
	display: block;
	text-align: center;
	padding-right: 10px;
	padding-left: 8px;
	line-height: 30px;
	float: right;
	width: auto;
	padding-top: 1px;
}
#detail .detail_tag .b_addtag:before {
	content: "＋";
	font-size: 10pt;
	line-height: 15px;
	margin-right: 5px;
	display: inline-block;
	height: 15px;
	width: 15px;
	border: 1px solid #FFF;
	float: left;
	margin-top: 6px;
}
.dec_merritt p  {
	content: "−";
}
#detail .detail_tag .b_addtag:hover {
	text-decoration: none;
}

#detail .detail_tag .b_taglist{
	float: right;
	font-size: 9pt;
	line-height: 30px;
	background-image: url(images/icon_arrow.gif);
	background-repeat: no-repeat;
	background-position: left 10px;
	display: block;
	padding-left: 10px;
	margin-right: 10px;
	color: #e44482;
}
#detail .detail_tag .b_taglist:hover{
	font-weight: bold;
}

#detail .detail_tag .addtagbox {
	clear: both;
	width: 630px;
	margin-top: 8px;
	background-color: #E5E5E5;
	font-size: 9pt;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	line-height: 16px;
	margin-bottom: 10px;
	float: left;
	display: none;
}
#detail .detail_tag .addtagbox .fin {
	font-weight: bold;
	font-size: 9pt;
	line-height: 18px;
	color: #297F95;
	margin-bottom: 10px;
}

#detail .detail_tag .addtagbox .error {
	font-weight: bold;
	color: #e60012;
	font-size: 9pt;
	line-height: 18px;
}
#detail .detail_tag .addtagbox input {
	font-size: 9pt;
}
#detail .detail_tag .addtagbox input[type="text"] {
	height: 22px;
	border: 1px solid #000;
	margin-bottom: 8px;
}
#detail .detail_tag .addtagbox input.search_tag {
	width: 598px;
	background-image: url(images/icon_search.gif);
	background-repeat: no-repeat;
	background-position: -2px center;
	padding-left: 30px;
}

#detail .detail_tag .addtagbox ul {
	padding: 5px;
	width: 618px;
	border: 1px solid #666;
	background-color: #FFF;
	margin-top: 5px;
	float: left;
}
#detail .detail_tag .addtagbox ul li {
	float: left;
	width: 25%;
	padding-top: 2px;
	padding-bottom: 2px;
}
#detail .detail_tag .addtagbox ul li a {
	background-image: url(images/li_tag_list_user_add.png);
	background-repeat: no-repeat;
	background-position: left 1px;
	display: block;
	padding-left: 20px;
	color: #297F95;
	line-height: 20px;
	margin-right: 5px;
}
#detail .detail_tag .addtagbox ul li a:hover {
	font-weight: bold;
	background-color: #F4F4F4;
	text-decoration: none;
}

#detail .detail_tag .addtagbox .req_tag {
	font-size: 9pt;
	font-weight: bold;
	clear: both;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
#detail .detail_tag .addtagbox .req_tag span {
	color: #297F95;
	margin-left: 10px;
	cursor: pointer;
	display: inline-block;
}
#detail .detail_tag .addtagbox .req_tag span:hover {
	text-decoration: underline;
}
#detail .detail_tag .addtagbox .req_tag:before {
	content: '?';
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	display: block;
	float: left;
	margin-right: 5px;
	border: 1px solid #333;
	line-height: 17px;
	text-align: center;
	width: 15px;
	height: 15px;
	color: #FFF;
	background-color: #666;
	margin-top: -2px;
}
#detail .detail_tag .addtagbox .req_tagbox  {
	line-height: 20px;
	background-color: #FFF;
	border: 1px solid #666;
	padding: 10px;
	display: none;
}

#detail .detail_tag .detail_box {
	clear: both;
	width: 630px;
	margin-top: 5px;
	float: left;
	margin-bottom: 20px;
	background-color: #E5E5E5;
	position: relative;
	line-height: 30px;
	padding: 10px;
	display: none;
}
#detail .detail_tag .detail_box .arrow {
	color: #E5E5E5;
	position: absolute;
	top: -18px;
	z-index: 9999;
	font-size: 14pt;
}
/* 
#detail .detail_tag .detail_box .arrow:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(220, 221, 221, 0);
	border-bottom-color: #E5E5E5;
	border-width: 10px;
	margin-left: -10px;
	left: 97%;
}
 */

#detail .detail_tag .detail_box a.over {
	display: block;
	color: #FFF;
	width: auto;
	line-height: 30px;
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
}
#detail .detail_tag .detail_box a.b_list {
	float: right;
	background-color: #E85197;
}
#detail .detail_tag .detail_box a.b_delete {
	background-image: url(images/li_tag_list_user_del.png);
	background-repeat: no-repeat;
	background-position: 5px 7px;
	padding-left: 25px;
	float: left;
	background-color: #666;
}


table#detail_chart {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #808080;
	border-bottom-color: #808080;
	clear: both;
	width: 100%;
}
table#detail_chart td {
	padding: 10px;
}
table#detail_chart td.bg_black {
	color: #FFFFFF;
	background-color: #000000;
}
table#detail_chart td.value {
	font-size: 14pt;
}
table#detail_chart td.value .small {
	font-size: 9pt;
	padding-left: 5px;
}
ul#download {
	float: right;
	list-style-type: none;
}
ul#download li {
}

ul#download_side {
	list-style-type: none;
	text-align: center;
	clear: both;
}
ul#download_side li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
}
.attention_dl {
	font-size: 8pt;
	color: #E60012;
	text-align: right;
	clear: both;
	margin-top: 10px;
	float: right;
	width: 100%;
}
.attention_bug {
	font-size: 10pt;
  font-weight: bold;
	color: #E60012;
	clear: both;
	margin: 10px 0 20px;
	float: right;
	width: 100%;
}
#reportbox {
	clear: both;
	padding-top: 5px;
	padding-bottom: 10px;
}
#reportbox .inner {
	clear: both;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	display: none;
}

#reportbox p {
	font-size: 9pt;
	color: #333;
	margin-bottom: 5px;
	font-weight: bold;
}

.report-wrap {
    float: right;
    margin: 15px 0;
}

.bug-contact {
    display: inline-block;
    clear: both;
    border: 1px solid #CCCCCC;
    color: #666 !important;
    cursor: pointer;
    display: inline-block;
    padding: 2px 10px;
    font-weight: normal !important;
    font-size: 8pt !important;
}
.bug-contact:hover {
	text-decoration: underline;
	background-color: #FEF7FD !important;
	color: #e60012 !important;
}

.bug-inner {
    clear: both;
    border-top: 1px solid #ccc;
  display: none;
    padding: 30px 20px;
}

#bug {
    border: 1px solid #aaa;
    height: 30px !important;
    margin: 5px 0 25px;
    display: block;
    width: 33%;
    padding: 0 5px;
}

#bug-detail-form {
    border: 1px solid #aaa;
    height: 100px !important;
    margin: 5px 0 25px;
    display: block;
    width: 60%;
    padding: 5px;
    font-size: 14px;
}

#bug-email {
    border: 1px solid #aaa;
    margin: 5px 0 25px;
    display: block;
    width: 60%;
    padding: 5px;
    font-size: 14px;
}

#bug-submit {
    font-size: 9pt;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #E85197;
    color: #FFF;
    height: 28px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    color: #FFF !important;
}

.bug-arrow {
  display: inline-block;
}

.bug-active {
  transform: rotateX(180deg);
}

#reportbox .b_report {
    /* float: right; */
    display: inline-block;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    clear: both;
    border: 1px solid #CCCCCC;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #666;
    cursor: pointer;
    font-weight: normal;
    font-size: 8pt;
    margin-right: 20px;
}
#reportbox .b_report:before {
	content:"▼";
}
#reportbox .b_report.open:before {
	content:"▲";
}
#reportbox .b_report:hover {
	text-decoration: underline;
	background-color: #FEF7FD;
	color: #e60012;
}
#reportbox .exp_text {
	font-size: 8pt;
	color: #666;
	line-height: 16px;
	font-weight: normal;
}
#reportbox ul {
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#reportbox li {
	font-size: 10pt;
	margin-top: 5px;
	margin-bottom: 5px;
}
#reportbox li input {
	height: auto;
	margin: 0px;
}
#reportbox li label {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}



#reportbox input:checked + label {
	font-weight: bold;
	color: #E85197;
}
#reportbox ul .dmca_link {
	font-size: 8pt;
	font-weight: bold;
	display: block;
	margin-right: 10px;
	margin-left: 10px;
}
#reportbox ul .dmca_link a {
	color: #036EB8;
	text-decoration: underline;
	font-size: 9pt;
}
#reportbox .button {
	margin-top: 10px;
	margin-left: 5px;
}
#reportbox .button input {
	font-size: 9pt;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #E85197;
	color: #FFF;
	height: 28px;
	border: 1px solid #E85197;
	font-weight: bold;
	cursor: pointer;
}
#reportbox .button input[disabled="disabled"] {
	opacity:0.4;
	filter: alpha(opacity=40);
	cursor: default;
}
#reportbox .fin {
	background-color: #E3FDFA;
	border: 1px solid #0099CC;
	padding: 5px;
	font-weight: bold;
	margin-top: 10px;
	color: #0099CC;
}
.markerbox .limit_error {
	font-size: 8pt;
	color: #E60012;
	float: right;
	width: 310px;
	line-height: 16px;
	padding: 10px;
	border: 1px solid #E60012;
}
div#bookpreview {
	clear: both;
	float: left;
	width: 100%;
	position: relative;
}
#bookpreview .adbox  {
	display: inline;
}



#bookpreview .text_center img {
	vertical-align: middle;
}

#prev{
  cursor: pointer;
	position: absolute;
	top: 40%;
	left: 165px;
  z-index: 2;
}
#next{
  cursor: pointer;
	position: absolute;
	top: 40%;
	right: 170px;
  z-index: 2;
}


/*TOPページ下段*/
#one_col .contents_left {
	float: left;
	border: 1px solid #808080;
	width: 540px;
	background-color: #FFFFFF;
	/* [disabled]height: 400px; */
}
#one_col .contents_left h2 {
	font-size: 12pt;
	background-image: url(images/footer_about.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
	height: 45px;
	padding-left: 70px;
}

#one_col .contents_left p {
	padding: 10px;
}

#one_col .contents_right {
	float: right;
	border: 1px solid #808080;
	width: 540px;
	background-color: #FFFFFF;
}
#one_col .contents_right h2 {
	font-size: 12pt;
	background-image: url(images/footer_news.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
	height: 45px;
	padding-left: 70px;
}
#one_col .contents_right .news_list {
	padding: 10px;
	overflow-y: scroll;
	height: 320px;
}
#one_col .contents_right .news_list p {
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #808080;
}

ul#page_list {
	clear: both;
	float: left;
	width: 100%;
}
ul#page_list li {
	display: block;
	float: left;
	text-align: center;
	padding-right: 10px;
	padding-left: 13px;
	padding-bottom: 15px;
}
.page_jump {
	font-weight: bold;
	text-align: center;
	clear: both;
	float: left;
	width: 100%;
}

.page_jump input[type="button"] {
    border: 1px solid #333;
    border-radius: 3px;
    background: #555;
    color: white;
    font-weight: bold;
    padding: 12px 14px;
    line-height: 0;
}

.page_jump input[type="button"]:hover {
    border: 1px solid #777;
    border-radius: 3px;
    background: #999;
    color: white;
    font-weight: bold;
    padding: 12px 14px;
    line-height: 0;
}

.page_jump input[type="number"] {
	width: 40px;
	border: 1px solid #333;
}


/*関連*/

#one_col .content_list {
	clear: both;
	float: left;
	width: 1058px;
	padding-left: 32px;
}
#one_col .content_list .list,
.link_list {
	float: left;
	width: 148px !important;
	margin-right: 20px;
	margin-bottom: 20px;
	line-height: 14pt;
}

.link_list .likebox {
	background-color: #f761a6;
	position: absolute;
	z-index: 100;
	color: #F8B625;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 15px;
	margin-top: 170px;
	text-align: right;
	margin-left: 5px;
	font-size: 85%;
	background-image: url(images/likebox.png);
	background-repeat: no-repeat;
	background-position: 2px 3px;
}
.link_list h3 {
	font-weight: bold;
	clear: both;
	margin-bottom: 5px;
	height: 35px;
	overflow: hidden;
}
.link_list .time {
	color: #333333;
	font-size: 85%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #808080;
	margin-bottom: 5px;
}
.link_list dt {
	font-size: 80%;
	float: left;
	text-align: right;
	width: 100px;
	color: #000000;
	line-height: 12pt;
}
.link_list dd {
	font-size: 80%;
	text-align: right;
	color: #000000;
	line-height: 12pt;
}

#submitbox .red {
	display: block;
	padding-top: 5px;
	font-size: 11pt;
	font-weight: bold;
}

.content_line.markerbox .date_limit {
	clear: both;
	margin-top: 5px;
	border: 1px solid #000;
	background-image: url(images/icon_delete.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 35px;
	float: left;
	width: 675px;
	padding-left: 45px;
	font-size: 10pt;
	margin-bottom: 5px;
}
.content_line.markerbox .date_limit .date {
	font-weight: bold;
	margin-right: 10px;
	margin-left: 10px;
}

div.content_list ul.tag_list{
	list-style-type: none;
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 6px;
	float: left;
	width: 794px;
}
div.content_list .list ul.tag_list{
	padding: 5px;
	width: 142px;
	margin-top: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
	height: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

div.content_list ul.tag_list li{
	list-style-type: none;
	float: left;
	width: 193px;
	font-size: 10pt;
	background-image: url(images/sidebar_li_tag_list.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	height: 37px;
	overflow: hidden;
	margin-bottom: 20px;
	line-height: 18px;
	margin-left: 5px;
}
div.content_list ul.tag_list li.user{
	background-image: url(images/li_tag_list_user.png);
	background-size: 10px auto;
}

div.content_list .list ul.tag_list li{
	width: auto;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 3px;
	font-size: 8pt;
	background-size: 10px auto;
	padding: 0px;
	display: inline-block;
}

div.content_list ul.tag_list li a{
	padding: 3px 0 3px 15px;
	display: block;
	color: #333333;
}

div.content_list .list ul.tag_list li a{
	padding-left: 13px;
	padding-top: 0px;
	display: inline;
}

div.content_list ul.tag_list li a:hover {
	text-decoration: none;
	font-weight: bold;
  background: #eee;
}
.content_list.commentlist .list .tag_list {
	width: auto;
	clear: both;
	padding-right: 10px;
	padding-left: 10px;
	border-top-style: none;
	margin-top: 5px;
	margin-bottom: 0px;
}


#suggest_faq  {
	background-color: #E6E6E6;
	margin-top: 10px;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
}
#suggest_faq:after {
	bottom: 100%;
	left: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(230, 230, 230, 0);
	border-bottom-color: #E6E6E6;
	border-width: 8px;
	margin-left: -8px;
}

#suggest_faq > p {
	font-weight: bold;
	padding-left: 10px;
}
#suggest_faq .content_in {
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#suggest_faq .accordion h3 {
	font-size: 10pt;
	cursor: pointer;
	text-decoration: underline;
	margin-bottom: 0px;
	margin-top: 5px;
}
#suggest_faq .accordion h3:before {
	content: '▼';
}
#suggest_faq .accordion h3.active:before {
	content: '▲';
}
#suggest_faq .accordion p {
	background-color: #FCFCFC;
	display: none;
	padding: 8px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}


#lean_overlay {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
}
.modal {
    display: none;
    width: 500px;
    padding: 10px 20px;
    background: #FFF;
}
.content_list.carousell {
	position: relative;
	z-index: 1;
}
.carousell .b_prev,
.carousell .b_next {
	position: absolute;
	top: 50%;
	bottom: 50%;
	z-index: 9999 !important;
	height: 80px;
	width: 80px;
	margin-top: -40px;
	display: block;
	cursor: pointer;
}
.carousell .b_prev {
	left: -40px;
}
.carousell .b_next {
	right: -40px;
}
.text_center input.textbutton {
	width: auto;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	min-width: 130px;
	font-weight: bold;
	font-size: 11pt;
	height: 40px;
}
label[for="remember"] {
	font-size: 9pt;
}
.content_under .b_regist {
	line-height: 45px;
	width: 230px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 11pt;
}
.content_under .b_regist:before {
	content: url(images/icon_regist.png);
	display: inline-block;
	margin-right: 5px;
	float: left;
	width: auto;
	margin-top: 8px;
}
.attentionbox {
	color: #E60012;
	border: 1px solid #FF5360;
	font-size: 9pt;
	padding: 10px;
	border-radius: 5px;
}
.dec_merritt {
	clear: both;
	width: 100%;
	float: left;
	margin-bottom: 15px;
	margin-top: 20px;
}
.dec_merritt li {
	float: left;
	width: 16%;
	text-align: center;
	position: relative;
	margin-right: 2%;
	margin-left: 2%;
	cursor: help;
}
.dec_merritt .topic {
	display: block;
	font-size: 11pt;
	font-weight: bold;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #e4007e;
}
.dec_merritt p {
	font-size: 8pt;
	text-align: left;
	line-height: 16px;
	position: absolute;
	z-index: 1;
	padding: 8px;
	background-color: rgba(0,0,0,0.7);
	color: #FFF;
	left: -50px;
	top: 100%;
	width: 200px;
	/* [disabled]transition: .3s; */
	display: none;
	/* [disabled]height: 0px; */
	/* [disabled]overflow: hidden; */
}
.dec_merritt p:before {
	content: "▲";
	font-size: 10pt;
	color: #333;
	text-align: center;
	display: block;
	float: left;
	width: 100%;
	margin-top: -15px;	
}
.dec_merritt p .red {
	color: #FFCFDE;
}
.dec_merritt li:hover p {
	display: block;
	/* [disabled]overflow: visible; */
	/* [disabled]height: auto; */
}
.dec_merritt .dec_new {
	font-size: 7.5pt;
	color: #FFF;
	background-color: #e4007e;
	position: absolute;
	display: inline-block;
	left: 7px;
	text-align: center;
	top: 3px;
	width: 30px;
 	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	font-weight: bold;
	line-height: 15px;
}
.dec_merritt .dec_new:before,
.dec_merritt .dec_new:after {
	content: "";
    width: 0;
    height: 0;
    position: absolute;
    border: 10px solid;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
}
.dec_merritt .dec_new:before {
    top: 5px;
    left: -10px;
    border-color: transparent transparent transparent  #e4007e;
}
.dec_merritt .dec_new:after {
    top: 5px;
    right: -10px;
    border-color: #e4007e transparent transparent transparent;
}
.dec_step {
	display: block;
	background-color: #FFFFD7;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 12pt;
	font-weight: bold;
	padding: 5px;
}
.comment_form {
	float: left;
	width: 300px;
	padding-right: 20px;
	padding-left: 5px;
}
.comment_form p {
	margin-bottom: 10px;
}

.comment_form input[type="text"] {
	width: 150px;
}
.comment_form textarea {
	height: 100px;
	width: 100%;
}
.comment_form input[type="submit"] {
	float: right;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 0px;
}
.content_comment {
	float: right;
	height: 220px;
	width: 745px;
	overflow: auto;
	margin-right: 5px;
	border: 1px solid #CCC;
	margin-bottom: 10px;
}
.content_comment p {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
	font-size: 9pt;
	padding-right: 5px;
	padding-left: 5px;
}
.content_comment p:nth-of-type(2n) {
	background-color: #FFFBEE;
}
.content_comment .poster {
	font-size: 8pt;
	margin-left: 5px;
	color: #00aad9;
}

.dropcolor {
  color: #f761a6;
  padding-right: 3px;
}

.detailarrow {
    color: #111 !important;
    font-size: 60px;
}

.detailarrow:hover {
  background: none;
  text-decoration: none;
  color: #f761a6 !important;
}

.detail-title-history {
display: inline-block;
    background: #111;
    color: white;
    padding: 9px 30px;
    margin-right: 10px;
    font-weight: 100;
    font-size: 20pt;
}

.detail-history-txt {
  vertical-align: 4px;
}

/*
.detail-image-wrap {
  display: inline-block;
  position: relative;
}
*/

.right-pager {
    width: 25%;/*50%*/
    height: 100%;
    position: absolute;
    right: 25%;/*0*/
  cursor: pointer;
}

.left-pager {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 25%;
  cursor: pointer;
}

/*
サムネイルと中身が同一の時のID [#detail_now_img] liに付与
[#detail_now_thumb] li内のimgに付与
*/

#detail_now_img {
  color: #f761a6;
  font-weight: bold;
}

#detail_now_thumb {
  border: 5px solid #f761a6;
  box-sizing: border-box;
}


/* 過去投稿用 */
#thumbnail1 {
  width: 540px;
  height: 720px;
}

.emergency-txt {
  color: red;
  text-align: center;
}

.content_minussearch {
  clear: both;
  float: left;
  width: 805px;
  background: #fff;
  padding: 20px 0 20px 150px;
  box-sizing: border-box;
}

.minus-search {
  float: left;
  line-height: 30px;
  padding-right: 20px;
}

.minus-border {
  border: 1px solid #aaa;
}


/* webicon */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4i6fds');
  src:  url('fonts/icomoon.eot?4i6fds#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?4i6fds') format('woff2'),
    url('fonts/icomoon.ttf?4i6fds') format('truetype'),
    url('fonts/icomoon.woff?4i6fds') format('woff'),
    url('fonts/icomoon.svg?4i6fds#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock-on-wall:before {
  content: "\e908";
}
.icon-leftarrow:before {
  content: "\e900";
}
.icon-rightarrow:before {
  content: "\e901";
}
.icon-delete-button:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e904";
}
.icon-musica-searcher:before {
  content: "\e905";
}
.icon-star-black-fivepointed-shape:before {
  content: "\e906";
}
.icon-question-button:before {
  content: "\e907";
}