body {
  text-align:center;
  margin:0px;
  background:#F8F8F8;
}

a {
  color:#4A789F;
  text-decoration:none;
}

div#indexform td {
  text-align:left;
}

.backgroundcolor {
  background:#F8F8F8;
}

.bodycolor {
  background:#ffffff;
}

table.pagetable {
  background:#F8F8F8;
  color:#2a2a2a;
  margin-top:5px;
}

tr.row1, td.row1 {
  background:#ffffff;
}

tr.row2, td.row2 {
  background:#F8F8F8;
}

h1 {
  font-family: "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  font-size:24px;
  font-weight:bold;
  margin:10px 0px 20px 4px;
  color:#2A2A2A;
}

h2 {
  font-family: "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  font-size:20px;
  font-weight:bold;
  margin:20px 0px 10px 0px;
  color:#2A2A2A;
}

div.contentdesc {
  font-family: "Indie Flower", "Libre Baskerville", "Lato", Helvetica, Arial, sans-serif;
  font-size:18px;
  padding: 0px 0px 10px 5px;
  color:#4A4A4A;
}

img { border: 0px; }
font, th, td, p, dt, dd, li, ul, ol { font-family:"Lato", Helvetica, Arial, sans-serif; font-size:14px; color:#2a2a2a; }

.white {
  background:#ffffff;
}

table#maintable {
  width:100%;
}

td.logobar {
  background: -webkit-linear-gradient(top, #fbfbfb, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #fbfbfb, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #fbfbfb, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #fbfbfb, #ffffff); /* Standard syntax */
}

td.footerback {
  background: -webkit-linear-gradient(top, #fbfbfb, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #fbfbfb, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #fbfbfb, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #fbfbfb, #ffffff); /* Standard syntax */
}

td.footerbar {
  padding:15px 0px 40px 0px;
  background:#ffffff;
  font-size:10px;
}

td.footerheader {
  font-size: 12px;
  color: #8A8A8A;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-decoration:none;
  text-align:left;
  padding:0px 0px 5px 0px;
  border-bottom:1px solid #8a8a8a;
}
td.footertext {
  font-size: 12px;
  color: #8A8A8A;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-decoration:none;
  padding:30px 0px 0px 0px;
}
td.footerlinks {
  padding:5px 0px 0px 0px;
  vertical-align:top;
}
div.footerlink {
  display:block;
  padding:1px 0px 1px 0px;
}
a.footerlink:link, a.footerlink:visited, a.footerlink:active {
  font-size: 12px;
  color: #8A8A8A;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-decoration:none;
}
a.footerlink:hover {
  font-size: 12px;
  color: #8A8A8A;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-decoration:underline;
}

td.menubar, td.menubaropts {
  background:#FFAD26;
  border-top:1px solid #FFb626;
  border-bottom:1px solid #e8960f;
}

td.menubar {
  padding:3px 0px 3px 0px;
}

td.menubaropts {
  padding:7px 0px 7px 0px;
}

td.belowmenubar {
  background:#EAE5CE;
}

table.menutable, table.menutable td {
  background:#FFAD26;
  font-weight:normal;
  color:#ffffff;
  font-size:13px;
}

table.menutable td a {
  color:#ffffff;
  font-weight:normal;
  font-size:12px;
}
table.menutable td a.menutext {
  color:#000000;
  font-weight:bold;
}
table.menutable td a:link, table.menutable td a:visited, table.menutable td a:active {
  text-decoration:none;
}
table.menutable td a:hover {
  text-decoration:underline;
}
td.mainbody {
  background:#ffffff;
  padding:10px 0px 30px 0px;
}

td.bodybar {
  background:#F8F8F8;
}

input, textarea, select { background:#F7F5F1; border:1px solid #dadde2; font-family:"Lato", Helvetica, Arial, sans-serif; font-size:13px; color:#5a5a5a; }

input[type='text']:focus { background:#F7F8FA; }

input[type='text'] {
  padding-left:3px;
}

.button {
  color:#ffffff;
  background:#D76746;
  font-size:13px;
  font-weight:normal;
  height:20px;
  padding:0px 4px 2px 4px;
  vertical-align:middle;
  border:1px solid #D76746;
  cursor:pointer;
}

.bigbutton {
  color:#ffffff;
  background:#D76746;
  font-weight:normal;
  height:30px;
  font-size: 18px;
  padding:0px 4px 2px 4px;
  vertical-align:middle;
  border:1px solid #D76746;
  cursor:pointer;
}

form {
  margin:0px;
}

p {
  margin-left:5px;
  margin-top:10px;
  font-size:14px;
}

div.personalpromo, div.personalminipromo {
}

td.bodytable {
  background:#F8F8F8;
}

div.bodydiv {
  background:#ffffff;
  border:1px solid #ffffff;
  margin-bottom:5px;
}

select:focus, textarea:focus, input:focus {
  outline: none;
}

div.linksseparator {
  margin-top:20px;
  border-bottom:1px solid #F8F8F8;
}

table#contenttable {
  margin:7px;
}


table#contenttable td#contentpagecell {
  padding-top:8px;
}

div.fblikebox {
  padding-top:15px;
}

div.dictmainword {
  padding-bottom:2px;
}

div.dictmainwordnoalph {
  padding-bottom:10px;
}

div.dictalphaword {
  padding-bottom:8px;
}

a.dictalphalink:link, a.dictalphalink:visited, a.dictalphalink:active {
  color:#2a2a2a;
  font-size:14px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-decoration:none;
}
a.dictalphalink:hover {
  color:#2a2a2a;
  font-size:14px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-decoration:underline;
}



/* menu-options.css */
div.menuoptionlabel {
  display:inline;
  font-weight:normal;
  color:#ffffff;
  padding:0px 5px 0px 0px;
}

div.menuoption {
  display:inline;
  font-weight:normal;
  background:#D76746;
  color:#ffffff;
  padding:3px 5px 3px 5px;
  margin-right:3px;
  cursor:pointer;
  border-radius:5px;
  -moz-border-radius:5px; /* Old Firefox */
}

div.menuoption:hover {
  display:inline;
  font-weight:normal;
  background:#D76746;
  color:#ffffff;
  padding:3px 5px 3px 5px;
  margin-right:3px;
  cursor:pointer;
  border-radius:5px;
  -moz-border-radius:5px; /* Old Firefox */
}


/* ads.css */
div#ad1 {
  width:300px;
  height:250px;
  margin:0px;
  padding:15px 0px 10px 0px;
}

div#ad2 {
  width:300px;
  height:250px;
  margin:0px;
  padding:0px 0px 0px 0px;
}

div#adfp {
  width:300px;
  margin:0px;
  padding:15px 0px 0px 0px;
}

div#ad1fp {
  width:300px;
  height:250px;
  margin:0px;
  padding:0px 0px 10px 0px;
}

div#ad2fp {
  width:300px;
  height:250px;
  margin:0px;
  padding:0px 0px 0px 0px;
}

div#ad3 {
  width:300px;
  height:250px;
  margin:0px;
  padding:10px 0px 10px 0px;
}

div#ad4 {
  width:728px;
  height:90px;
  margin:0px;
  padding:0px 0px 0px 0px;
}

div#ad4container {
  width:728px;
  height:90px;
}

div#ad5 {
  width:728px;
  height:90px;
  margin:0px;
  padding:0px 0px 0px 0px;
  position:relative;
  left:0;
  right:0px;
  bottom:0px;
  top:0px;
  display:none;
}

div#ad5container {
  width:728px;
  height:90px;
}


/* related-word.css */
div.wordtype {
  margin-top:15px;
  background:#FFAD26;
  color:#ffffff;
  font-weight:normal;
  font-size:15px;
  padding:3px 5px 3px 5px;
  border:1px solid #FFAD26;
}

div.relatedwords {
  font-size:15px;
  padding:5px;
}

div.relatedwords p, div.relatedwords ol li {
  font-size:15px;
}

div.relatedwords ol li {
  padding-bottom:5px;
  padding-right:30px;
}

div.relatedwords a, a.wordlink {
  color:#4A789F;
  font-size:15px;
}

a.wordlinksmall {
  color:#4A789F;
  font-size:12px;
}

td.wordlinktext {
  font-size:12px;
}

div.relatedwords a:link, div.relatedwords a:visited, div.relatedwords a:active,
a.wordlink:link, a.wordlink:visited, a.wordlink:active,
a.wordlinksmall:link, a.wordlinksmall:visited, a.wordlinksmall:active {
  text-decoration:none;
}
 
div.relatedwords a:hover {
  text-decoration:underline;
}

div.scorebox {
  margin-top:15px;
}

div.scorebox div {
  background:#FEDEA5;
  color:#060000;
}

div.scorebox div table td {
  font-weight:bold;
  font-size:14px;
  padding:6px;
}

div.scorebox a {
  text-decoration:none;
}

div.miniwordtype {
  margin-top:10px;
  background:#FFAD26;
  color:#ffffff;
  font-weight:normal;
  font-size:11px;
  padding:3px 5px 3px 5px;
  border:1px solid #FFAD26;
}

div.minirelatedwords {
  width:100%;
  font-size:11px;
  padding:5px;
}

div.minirelatedwords p, div.minirelatedwords ol li {
  font-size:11px;
}

div.minirelatedwords ol li {
  padding-bottom:5px;
  padding-right:30px;
}

div.minirelatedwords a {
  color:#4A789F;
  font-size:11px;
}

div.minirelatedwords a:link, div.minirelatedwords a:visited, div.minirelatedwords a:active {
  text-decoration:none;
}
 
div.minirelatedwords a:hover {
  text-decoration:underline;
}

/* search-again-box.css */
div#searchagaincontainerleft, div#searchagaincontainerright {
  margin-top:15px;
  background:#F5F5F5;
  padding:10px;
  border-radius:8px;
  display:none;
  -moz-border-radius:8px; /* Old Firefox */
}

div#searchagaincontainerleft table td, div#searchagaincontainerright table td {
  padding:2px;
}

div#searchagaincontainerleft div#label, div#searchagaincontainerright div#label {
  font-family: "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  font-size:20px;
  font-weight:bold;
  font-color:#4a4a4a;
}

div#searchagain {
  display:none;
}


/* index.css */
table.indexbox td.indexbox {
  background:#CABC94;
  color:#40372B;
  font-size:16px;
  font-weight:bold;
  vertical-align:middle;
  text-align:center;
}

td.grey {
  background:#c9c6bF;
}

div.indexboxdiv {
}

form {
  margin:0px;
}

div#indexlogo {
  text-align:center;
  margin:35px 0px 35px 0px;
}

div#indexform {
  text-align:center;
}

div#indexform input[type='text'], div#indexform select {
  background:#F7F5F1;
  border: 1px solid #dadde2;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #5a5a5a;
  padding:3px 3px 3px 6px;
}

div#indexform input[type='text']:focus { background:#F7F8FA; }

input#indexformbutton {
  color:#ffffff;
  background:#D76746;
  font-weight:normal;
  height:30px;
  font-size:18px;
  padding:0px 4px 2px 4px;
  vertical-align:middle;
  border:1px solid #D76746;
  cursor:pointer;
}

div#indexslogan1 {
  font-family: "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  font-size:24px;
  font-weight:bold;
  margin:30px 0px 8px 0px;
  text-align:center;
  color:#2A2A2A;
}

div#indexslogan2 {
  font-family: "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  font-size:19px;
  margin:8px 0px 8px 0px;
  text-align:center;
  color:#4A4A4A;
}

div#searchslogan2 {
  font-family: "Indie Flower", "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  font-size:19px;
  margin:8px 0px 8px 0px;
  text-align:center;
  color:#4A4A4A;
}

div#indexsocialshare {
  text-align:center;
  margin:34px 0px 20px 0px;
}


/* social */
div#socialsharediv {
  width:320px;
  padding:12px 0px 0px 0px;
}

#socialsharelabel {
  font-family: "Indie Flower", "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  color:#DD6746;
  font-size:16px;
  width:88px;
  text-align:center;
}

#indexsocialsharelabel {
  font-family: "Indie Flower", "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  color:#FEAD26;
  font-size:27px;
  width:108px;
  text-align:center;
  padding-right:15px;
}

img.socialshareimg {
  cursor:pointer;
}

td.socialimgcell {
  width:58px;
  height:40px;
  text-align:center;
}

div.wordblock {
  display:inline;
  background:#F8F8F8;
  padding:4px 5px 4px 5px;
  margin:0px 2px 0px 2px;
  line-height:32px;
  white-space: nowrap;
}

div#contentdiv {
  padding-bottom:10px;
}

sup {
  font-size:7px;
  padding-left:1px;
}

div.subwordtype {
  font-family: "Indie Flower", "Libre Baskerville", Cambria, Times New Roman, Times, serif;
  font-weight:bold;
  font-size:18px;
  padding:12px 5px 5px 5px;
}

div.subrelatedwordtype {
  font-size:15px;
  padding:1px 5px 3px 5px;
}

div.spacediv {
  font-size:8px;
}

div#dyntransresult {
  padding-bottom:20px;
}

div.dyntrans {
  padding-top:12px;
}

div.dyntransalpha {
  padding-top:5px;
  color:#888888;
}
