@charset "utf-8";

/*============================================================
 Base
============================================================*/

/* Common
----------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	font-style: normal;
}

html,body {
	height: 100%;
}

body {
	background: #FFF;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, sans-serif, arial, verdana, Helvetica, Verdana, "Droid Sans", Arial;
	_font-family: "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", Osaka, arial, sans-serif, verdana;
	text-align: left;
	font-size: 62.5%; /* Resets 1em to 10px */
	color: #333435;
	word-break: break-all;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
	line-height: 1.4;
	overflow-y: scroll;
	/overflow-y: visible;
}

h1 {
	font-size: 28px;
	line-height: 1.2;
	font-weight: normal;
}

h2 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: normal;
}

h3 {
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
}

h4 {
	font-size: 14px;
	font-weight: normal;
}

h5 {
	font-size: 13px;
	font-weight: normal;
}

h6 {
	font-size: 12px;
	font-weight: normal;
}

ul,li {
	list-style-type: none;
}

table,td,th {
	border: none;
	text-align: left;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	word-wrap: break-word;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote
	{
	margin: 0;
	padding: 0;
}

img, a img {
	border: none;
}

strong {
	font-weight: bold;
}

input,
select,
textarea {
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, sans-serif, arial, verdana;
	font-size: 12px;
	outline: none;
	vertical-align: middle;
}

label {
	cursor: pointer;
	vertical-align: middle;
}

fieldset {
	border: 0;
}

input::-webkit-input-placeholder {
	color: #999;
}

input:-moz-placeholder {
	color: #999;
}


/* Clear
----------------------------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
	font-size: 0;
	height: 0;
	line-height: 0;
}


/* a (refer fontcolor.css about color)
----------------------------------------------------*/
a,a:link,a:visited {
	cursor: pointer;
	color: #0D6295;
	outline: none;
	text-decoration: underline;
}

a:hover,a:active {
	text-decoration: underline;
	color: #F00;
}

a img {
	text-decoration: none;
}

a:hover img {
}


/* Contents
----------------------------------------------------*/
div#wrapper {
	margin: 0 auto;
	min-width: 1000px;
	width: 100%;
}

div#wrapper.narrow {
	margin: 0 auto;
	width: 980px;
}

div#frame {
	margin: 0 auto;
	padding: 0 10px;
}

div#frame.narrow {
	width: 980px;
}

div#contents {
	padding: 10px 0 50px 0;
	margin: 0 auto;
}

div#contents.narrow {
	width: 1000px;
}

div#contents.sNarrow {
	width: 600px;
}

div#contents div.leftCol {
	float: left;
	width: 210px;
	padding: 0 10px;
}

div#contents div.rightCol {
	float: right;
	width: 300px;
	padding: 0 10px;
}

div#contents div.rightCol.narrow {
	float: right;
	width: 210px;
	padding: 0 10px;
}

div#contents div.mainCol {
	overflow: hidden;
	padding: 0 10px;
	_zoom: 1;/* IE6 */
}

div#frame div#contents div.mainCol {
	padding: 0;
}

div#contents div.contentsHead {
	position: relative;
	margin: 10px 0 20px 0;
	padding: 0 10px;
}

div#frame div#contents div.contentsHead {
	padding: 0;
}

div#contents div.contentsHead h1 {
	font-size: 28px;
	line-height: 1.2;
	font-weight: normal;
}

div#contents div.contentsHead .caption {
	font-size: 12px;
	margin-top: 10px;
}

div#contents div.mainCol .contentsHead {
	padding: 0;
}

/* old */
div#contents div#leftCol {
	float: left;
	width: 210px;
	padding: 0 10px;
}

div#contents div#rightCol {
	float: right;
	width: 300px;
	padding: 0 10px;
}

div#contents div#mainCol {
	overflow: hidden;
	padding: 0 10px;
	_zoom: 1;/* IE6 */
}

div#frame div#contents div#mainCol {
	padding: 0;
}

div#contents table.mFrameTbl,
div#contents table.innerFrameTbl {
	width: 100%;
}

div#contents td.mFrameColL {
	width: 210px;
	padding: 0 20px 0 0;
}

div#contents td.mFrameColMain {
}

div#contents td.mFrameColR {
	width: 280px;
	padding: 0 0 0 20px;
}
/* /old */


/* expGoogleMap
----------------------------------------------------*/
#expGgmap .expGgmapArea {
  position: relative;
  padding-bottom: 260px;
  padding-top: -1;
  height: 0;
  overflow: hidden;
}
#expGgmap .expGgmapArea iframe,
#expGgmap .expGgmapArea object,
#expGgmap .expGgmapArea embed {
  position: absolute;
  top: 0;
  left: 217px;
  width: 100%;
  height: 252px;
}

#expGgmap .expGgmapBnr {
  position: absolute;
  top: 0;
  left: 0;
  width: 215px;
  height: 250px;
  border: 1px solid #D3D4D5;
}

#expGgmap .expGgmapText {
  position: absolute;
  top: 10px;
  left: 227px;
  width: 294px;
  height: 20px;
  background-color: #cc010f;
  padding:21px 0;
  color: #FFF;
  text-align: center;
}
