@charset "utf-8";

/*============================================================
 carousel
============================================================*/

/** carouselList
-------------------------------------------------------*/
.carouselList {
	position: relative;
	padding: 10px 0 0 0;
	/zoom: 1;
}

.carouselList .carouselListRow {
	clear: both;
	height: 350px;
}

.carouselList.selectableList .carouselListRow,
.carouselList.tallList .carouselListRow {
	clear: both;
	height: 390px;
}

.carouselList .pagnWrapper {
	margin: 0 40px;
	position: relative;
}

.carouselList .prev,
.carouselList .next {
	position: absolute;
	top: 0;
	background: #FFF;
	height: 100%;
	/height: 300px;
}

.carouselList .prev {
	left: 0;
}

.carouselList .next {
	right: 0;
}

.carouselList.selectableList .prev,
.carouselList.selectableList .next,
.carouselList.tallList .prev,
.carouselList.tallList .next {
	height: 100%;
	/height: 335px;
}

.carouselList .prev .inner,
.carouselList .next .inner {
	position: relative;
	width: 30px;
	height: 100%;
}

.carouselList .prev .inner .pagnBtn,
.carouselList .next .inner .pagnBtn {
	position: absolute;
	top: 50%;
	left: 0;
	width: 30px;
	height: 80px;
	margin: -40px 0 0 0;
	/*transition: all 0.3s linear 0s;*/
}

.carouselList .prev .inner .pagnBtn {
	background: url(../img/btnCarouselListPagn.png) no-repeat 0 0;
}

.carouselList .next .inner .pagnBtn {
	background: url(../img/btnCarouselListPagn.png) no-repeat -30px 0;
}

.carouselList .prev:hover .inner .pagnBtn {
	background-position: 0 -80px;
}

.carouselList .next:hover .inner .pagnBtn {
	background-position: -30px -80px;
}

.carouselList .pListBlock {
	float: left;
	padding: 0;
	width: 33.1%;
	position: relative;
	height: 100%;
}

.carouselList .pListBlock .inner {
	margin: 0 10px;
}

.carouselList.selectableList .pListBlock .inner {
	margin: 10px;
}

.carouselList .pListBlock .ppSlctr {
	font-size: 11px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.carouselList .pListBlock .pImg {
	height: 100px;
	/height: auto;
	margin: 0 0 10px 0;
}

.carouselList .pListBlock .pImg img {
	max-width: 100px;
	max-height: 100px;
}

.carouselList .pListBlock .pName {
	font-size: 12px;
}

.carouselList .pListBlock .pName .brand {
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal; 
	text-overflow: ellipsis;
}

.carouselList .pListBlock .pInfo {
	font-size: 12px;
	margin: 3px 0 0 0;
}

.carouselList .pListBlock .avgCR {
	margin: 3px 0 0 0;
}

.carouselList .pListBlock .iconLoading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}

.csl02 .pListBlock {
    width: 49.8%;
}

.csl03 .pListBlock {
    width: 33.1%;
}

.csl04 .pListBlock {
    width: 24.8%;
}

.csl05 .pListBlock {
    width: 19.8%;
}

.csl06 .pListBlock {
    width: 16.4%;
}

.csl07 .pListBlock {
    width: 14%;
}

.csl08 .pListBlock {
    width: 12.3%;
}

.csl09 .pListBlock {
    width: 10.9%;
}

.csl10 .pListBlock {
    width: 9.8%;
}

.csl11 .pListBlock {
    width: 8.8%;
}

.csl12 .pListBlock {
    width: 8.1%;
}

.csl13 .pListBlock {
    width: 7.4%;
}


/** tileRecList
-------------------------------------------------------*/
.tileRecList {
}

.tileRecList .pListBlock {
	padding: 10px 0 30px 0;
}

.tileRecList .pListBlock .inner {
	padding: 0;
	margin: 0 10px;
}

.tileRecList .pListBlock .pImg img {
	max-width: 120px;
	max-height: 120px;
}

