@charset "utf-8";

/*============================================================
 Elements
============================================================*/

/*	Common
------------------------------------------------- */
.fixed {
	position: fixed;
}

.dspn {
	display: none;
}


/*	Input
------------------------------------------------- */
.inputFrame {
	padding: 5px;
	border: 1px solid #D3D4D5;
	background: #FFF;
	border-radius: 3px;
}

input.editInput,
input.editData,
textarea.editTxt,
select.editSlct {
	border-width: 0;
	border-style: none;
	width: 100%;
	resize: none;
	outline: none;
}

input.editCheck,
input.editRadio {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

input.uiInput,
input.uiData,
textarea.uiTxt {
	border: 1px solid #D3D4D5;
	border-radius: 3px;
	padding: 5px;
	background: #FFF;
	resize: none;
	outline: none;
}

select.uiSlct {
	border: 1px solid #D3D4D5;
	border-radius: 3px;
	padding: 5px;
	background: #FFF;
	resize: none;
	outline: none;
}

input.error,
select.error,
textarea.error {
	border: 1px solid #F00;
	background: #FEE;
}

input.error::-webkit-input-placeholder {
	color: #F99;
}

input.error:-moz-placeholder {
	color: #F99;
}

.inputIndentUnit {
	padding-left: 18px;
	text-indent: -18px;
}

.mandatory {
	color: #F00;
	font-size: 11px;
	vertical-align: middle;
}

div.errMsg {
	font-size: 11px;
	color: #F00;
	margin: 5px 0 0 0;
}

span.errMsg {
	font-size: 11px;
	color: #F00;
	margin: 0 0 0 10px;
}

.mandatory {
	color: #F00;
	margin: 0 0 0 5px;
	font-size: 11px;
}

.required {
	background: url("../img/iconRequired.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 18px;
	vertical-align: middle;
	width: 28px;
}

.num {
	font-size: 11px;
	color: #999;
	vertical-align: middle;
}

a .num {
	text-decoration: none;
}


/*	Frame
------------------------------------------------- */
div.narrowFrame {
	margin: 0 auto;
	width: 1000px;
}


/*	Align
------------------------------------------------- */
.colL {
	float: left !important;
}

.colR {
	float: right !important;
}

.alignC {
	text-align: center !important;
}

.alignL {
	text-align: left !important;
}

.alignR {
	text-align: right !important;
}

.alignT {
	vertical-align: top !important;
}

.alignM {
	vertical-align: middle !important;
}

.alignB {
	vertical-align: bottom !important;
}


/* Color
------------------------------------------------- */
.green {
	color: #0A0 !important;
}

.red {
	color: #F00 !important;
}

.dred {
	color: #C00 !important;
}

.blue {
	color: #39F !important;
}

.orange {
	color: #F90 !important;
}

.yellow {
	color: #FF0 !important;
}

.pink {
	color: #F09 !important;
}

.brown {
	color: #960 !important;
}

.purple {
	color: #93C !important;
}

.gray {
	color: #999 !important;
}

.dgray {
	color: #666 !important;
}

.black {
	color: #333 !important;
}

.white {
	color: #FFF !important;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}


/* Background
------------------------------------------------- */
.bgLgray {
	background: #F3F4F5 !important;
}

.bgGray {
	background: #E3E4E5 !important;
}

.bgDgray {
	background: #D3D4D5 !important;
}

.bgBlack {
	background: #333 !important;
}

.bgWhite {
	background: #FFF !important;
}

.bgGreen {
	background: #EFE !important;
}

.bgRed {
	background: #FEE !important;
}

.bgDred {
	background: #F55 !important;
}

.bgBlue {
	background: #EFF !important;
}

.bgPink {
	background: #FDE !important;
}

.bgOrange {
	background: #FED !important;
}

.bgYellow {
	background: #FFE !important;
}


/* Font Size
------------------------------------------------- */
.fs10  {
	font-size: 10px !important;
}

.fs11  {
	font-size: 11px !important;
}

.fs12  {
	font-size: 12px !important;
}

.fs13  {
	font-size: 13px !important;
}

.fs14  {
	font-size: 14px !important;
}

.fs16  {
	font-size: 16px !important;
}

.fs18  {
	font-size: 18px !important;
}

.fs20  {
	font-size: 20px !important;
}

.fs22  {
	font-size: 22px !important;
}

.fs24  {
	font-size: 24px !important;
}

.fs26  {
	font-size: 26px !important;
}

.fs28  {
	font-size: 28px !important;
}

.fs30  {
	font-size: 30px !important;
}

.fs32  {
	font-size: 32px !important;
}

.fs40  {
	font-size: 40px !important;
}

.fs48  {
	font-size: 48px !important;
}

.fs56  {
	font-size: 56px !important;
}

.fs64  {
	font-size: 64px !important;
}


/*	Text Decoration
------------------------------------------------- */
.txdcNn {
	text-decoration: none !important;
}

.txdcUl {
	text-decoration: underline !important;
}

.txdcLt {
	text-decoration: line-through !important;
}

.txdcOl {
	text-decoration: overline !important;
}


/*	Overflow
------------------------------------------------- */
.ovfl {
	overflow: auto;
	/overflow-x: hidden; /* IE7 */
	/position: relative; /* IE7 */
}

.ovflHdn {
	overflow: hidden;
}


/*	hznList
----------------------------------------------*/
.hznList {
	/zoom: 1; /* IE7 */
}

.hznList li {
	display: inline-block;
	/display: inline; /* IE7 */
	/zoom: 1; /* IE7 */
	vertical-align: middle;
}

.hznBox {
	display: inline-block;
	/display: inline; /* IE7 */
	/zoom: 1; /* IE7 */
	vertical-align: top;
}


/*	List Margin,Padding
----------------------------------------------*/
.liMt00 li {
	margin: 0 !important;
}

.liMt05 li {
	margin: 5px 0 0 0;
}

.liMt10 li {
	margin: 10px 0 0 0;
}

.liMt15 li {
	margin: 15px 0 0 0;
}

.liMt20 li {
	margin: 20px 0 0 0;
}

.liMr05 li {
	margin: 0 5px 0 0;
}

.liMr10 li {
	margin: 0 10px 0 0;
}

.liMr15 li {
	margin: 0 15px 0 0;
}

.liMr20 li {
	margin: 0 20px 0 0;
}

.liMb05 li {
	margin: 0 0 5px 0;
}

.liMb10 li {
	margin: 0 0 10px 0;
}

.liMb15 li {
	margin: 0 0 15px 0;
}

.liMb20 li {
	margin: 0 0 20px 0;
}

.liMl05 li {
	margin: 0 0 0 5px;
}

.liMl10 li {
	margin: 0 0 0 10px;
}

.liMl15 li {
	margin: 0 0 0 15px;
}

.liMl20 li {
	margin: 0 0 0 20px;
}

.liMtb05 li {
	margin: 5px 0;
}

.liMtb10 li {
	margin: 10px 0;
}

.liMtb15 li {
	margin: 15px 0;
}

.liMtb20 li {
	margin: 20px 0;
}

.liMrl025 li {
	margin: 0 2.5px;
}

.liMrl05 li {
	margin: 0 5px;
}

.liMrl10 li {
	margin: 0 10px;
}

.liMrl15 li {
	margin: 0 15px;
}

.liMrl20 li {
	margin: 0 20px;
}

.liMt05Fn li {
	margin-top: 5px;
}

.liMt05Fn li:first-child {
	margin-top: 0;
}

.liMb05Ln li {
	margin-bottom: 5px;
}

.liMb05Ln li:last-child {
	margin-bottom: 0;
}

.liMt10Fn li {
	margin-top: 10px;
}

.liMt10Fn li:first-child {
	margin-top: 0;
}

.liMb10Ln li {
	margin-bottom: 10px;
}

.liMb10Ln li:last-child {
	margin-bottom: 0;
}

.liMt15Fn li {
	margin-top: 15px;
}

.liMt15Fn li:first-child {
	margin-top: 0;
}

.liMb15Ln li {
	margin-bottom: 15px;
}

.liMb15Ln li:last-child {
	margin-bottom: 0;
}

.liMt20Fn li {
	margin-top: 20px;
}

.liMt20Fn li:first-child {
	margin-top: 0;
}

.liMb20Ln li {
	margin-bottom: 20px;
}

.liMb20Ln li:last-child {
	margin-bottom: 0;
}

.liMr05Fn li {
	margin-right: 5px;
}

.liMr05Fn li:first-child {
	margin-right: 0;
}

.liMr10Fn li {
	margin-right: 10px;
}

.liMr10Fn li:first-child {
	margin-right: 0;
}

.liMl05Fn li {
	margin-left: 5px;
}

.liMl05Fn li:first-child {
	margin-left: 0;
}

.liMl10Fn li {
	margin-left: 10px;
}

.liMl10Fn li:first-child {
	margin-left: 0;
}

.liPt00 li {
	padding: 0 !important;
}

.liPt05 li {
	padding: 5px 0 0 0;
}

.liPt10 li {
	padding: 10px 0 0 0;
}

.liPt15 li {
	padding: 15px 0 0 0;
}

.liPt20 li {
	padding: 20px 0 0 0;
}

.liPb05 li {
	padding: 0 0 5px 0;
}

.liPb10 li {
	padding: 0 0 10px 0;
}

.liPb15 li {
	padding: 0 0 15px 0;
}

.liPb20 li {
	padding: 0 0 20px 0;
}

.liPt05Fn li {
	padding-top: 5px;
}

.liPt05Fn li:first-child {
	padding-top: 0;
}

.liPb05Ln li {
	padding-bottom: 5px;
}

.liPb05Ln li:last-child {
	padding-bottom: 0;
}

.liPt10Fn li {
	padding-top: 10px;
}

.liPt10Fn li:first-child {
	padding-top: 0;
}

.liPb10Ln li {
	padding-bottom: 10px;
}

.liPb10Ln li:last-child {
	padding-bottom: 0;
}

.liPr05Fn li {
	padding-right: 5px;
}

.liPr05Fn li:first-child {
	padding-right: 0;
}

.liPr10Fn li {
	padding-right: 10px;
}

.liPr10Fn li:first-child {
	padding-right: 0;
}

.liPl05Fn li {
	padding-left: 5px;
}

.liPl05Fn li:first-child {
	padding-left: 0;
}

.liPl10Fn li {
	padding-left: 10px;
}

.liPl10Fn li:first-child {
	padding-left: 0;
}


/* Margin,Padding
------------------------------------------------- */
.mgNone {
	margin: 0 !important;
}

.ma00 {
	margin: 0 !important;
}

.ma05 {
	margin: 5px !important;
}

.ma10 {
	margin: 10px !important;
}

.ma15 {
	margin: 15px !important;
}

.ma20 {
	margin: 20px !important;
}

.mt00 {
	margin-top: 0 !important;
}

.mt05 {
	margin-top: 5px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mr00 {
	margin-right: 0 !important;
}

.mr05 {
	margin-right: 5px !important;
}

.mr10 {
	margin-right: 10px !important;
}

.mr15 {
	margin-right: 15px !important;
}

.mr20 {
	margin-right: 20px !important;
}

.mr30 {
	margin-right: 30px !important;
}

.mb00 {
	margin-bottom: 0 !important;
}

.mb05 {
	margin-bottom: 5px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.ml00 {
	margin-left: 0 !important;
}

.ml05 {
	margin-left: 5px !important;
}

.ml10 {
	margin-left: 10px !important;
}

.ml15 {
	margin-left: 15px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.ml30 {
	margin-left: 30px !important;
}

.mtb05 {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.mtb10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.mtb15 {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.mtb20 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.mrl00 {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.mrl05 {
	margin-right: 5px !important;
	margin-left: 5px !important;
}

.mrl10 {
	margin-right: 10px !important;
	margin-left: 10px !important;
}

.mrl15 {
	margin-right: 15px !important;
	margin-left: 15px !important;
}

.mrl20 {
	margin-right: 20px !important;
	margin-left: 20px !important;
}

.pdNone {
	padding: 0 !important;
}

.pa00 {
	padding: 0 !important;
}

.pa05 {
	padding: 5px !important;
}

.pa10 {
	padding: 10px !important;
}

.pa15 {
	padding: 15px !important;
}

.pa20 {
	padding: 20px !important;
}

.pt00 {
	padding-top: 0 !important;
}

.pt05 {
	padding-top: 5px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pt15 {
	padding-top: 15px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pt30 {
	padding-top: 30px !important;
}

.pr00 {
	padding-right: 0 !important;
}

.pr05 {
	padding-right: 5px !important;
}

.pr10 {
	padding-right: 10px !important;
}

.pr15 {
	padding-right: 15px !important;
}

.pr20 {
	padding-right: 20px !important;
}

.pr30 {
	padding-right: 30px !important;
}

.pb00 {
	padding-bottom: 0 !important;
}

.pb05 {
	padding-bottom: 5px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pb15 {
	padding-bottom: 15px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pb30 {
	padding-bottom: 30px !important;
}

.pl00 {
	padding-left: 0 !important;
}

.pl05 {
	padding-left: 5px !important;
}

.pl10 {
	padding-left: 10px !important;
}

.pl15 {
	padding-left: 15px !important;
}

.pl20 {
	padding-left: 20px !important;
}

.pl30 {
	padding-left: 30px !important;
}

.ptb00 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.ptb05 {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.ptb10 {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.ptb15 {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.ptb20 {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.prl00 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.prl05 {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.prl10 {
	padding-right: 10px !important;
	padding-left: 10px !important;
}

.prl15 {
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.prl20 {
	padding-right: 20px !important;
	padding-left: 20px !important;
}


/*	Border contents
------------------------------------------------- */
.bd0 {
	border: none !important;
}

.bt0 {
	border-top: none !important;
}

.br0 {
	border-right: none !important;
}

.bb0 {
	border-bottom: none !important;
}

.bl0 {
	border-left: none !important;
}

/* Gray 1px */
.ba1s01gr {
	border: 1px solid #D3D4D5;
}

.ba1s02gr {
	border: 1px solid #D3D4D5;
	padding: 5px;
}

.ba1s03gr {
	border: 1px solid #D3D4D5;
	padding: 10px;
}

.ba1s04gr {
	border: 1px solid #D3D4D5;
	padding: 15px;
}

.ba1s05gr {
	border: 1px solid #D3D4D5;
	padding: 20px;
}

.ba1d01gr {
	border: 1px dashed #D3D4D5;
}

.ba1d02gr {
	border: 1px dashed #D3D4D5;
	padding-top: 5px;
}

.ba1d03gr {
	border: 1px dashed #D3D4D5;
	padding-top: 10px;
}

.ba1d04gr {
	border: 1px dashed #D3D4D5;
	padding-top: 15px;
}

.ba1d05gr {
	border: 1px dashed #D3D4D5;
	padding-top: 20px;
}

.bt1s01gr {
	border-top: 1px solid #D3D4D5;
}

.bt1s02gr {
	border-top: 1px solid #D3D4D5;
	padding-top: 5px;
}

.bt1s03gr {
	border-top: 1px solid #D3D4D5;
	padding-top: 10px;
}

.bt1s04gr {
	border-top: 1px solid #D3D4D5;
	padding-top: 15px;
}

.bt1s05gr {
	border-top: 1px solid #D3D4D5;
	padding-top: 20px;
}

.bt1d01gr {
	border-top: 1px dashed #D3D4D5;
}

.bt1d02gr {
	border-top: 1px dashed #D3D4D5;
	padding-top: 5px;
}

.bt1d03gr {
	border-top: 1px dashed #D3D4D5;
	padding-top: 10px;
}

.bt1d04gr {
	border-top: 1px dashed #D3D4D5;
	padding-top: 15px;
}

.bt1d05gr {
	border-top: 1px dashed #D3D4D5;
	padding-top: 20px;
}

.br1s01gr {
	border-right: 1px solid #D3D4D5;
}

.br1s02gr {
	border-right: 1px solid #D3D4D5;
	padding-right: 5px;
}

.br1s03gr {
	border-right: 1px solid #D3D4D5;
	padding-right: 10px;
}

.br1d01gr {
	border-right: 1px dashed #D3D4D5;
}

.br1d02gr {
	border-right: 1px dashed #D3D4D5;
	padding-right: 5px;
}

.br1d03gr {
	border-right: 1px dashed #D3D4D5;
	padding-right: 10px;
}

.bb1s01gr {
	border-bottom: 1px solid #D3D4D5;
}

.bb1s02gr {
	border-bottom: 1px solid #D3D4D5;
	padding-bottom: 5px;
}

.bb1s03gr {
	border-bottom: 1px solid #D3D4D5;
	padding-bottom: 10px;
}

.bb1s04gr {
	border-bottom: 1px solid #D3D4D5;
	padding-bottom: 15px;
}

.bb1s05gr {
	border-bottom: 1px solid #D3D4D5;
	padding-bottom: 20px;
}

.bb1d01gr {
	border-bottom: 1px dashed #D3D4D5;
}

.bb1d02gr {
	border-bottom: 1px dashed #D3D4D5;
	padding-bottom: 5px;
}

.bb1d03gr {
	border-bottom: 1px dashed #D3D4D5;
	padding-bottom: 10px;
}

.bb1d04gr {
	border-bottom: 1px dashed #D3D4D5;
	padding-bottom: 15px;
}

.bb1d05gr {
	border-bottom: 1px dashed #D3D4D5;
	padding-bottom: 20px;
}

.bl1s01gr {
	border-left: 1px solid #D3D4D5;
}

.bl1s02gr {
	border-left: 1px solid #D3D4D5;
	padding-left: 5px;
}

.bl1s03gr {
	border-left: 1px solid #D3D4D5;
	padding-left: 10px;
}

.bl1d01gr {
	border-left: 1px dashed #D3D4D5;
}

.bl1d02gr {
	border-left: 1px dashed #D3D4D5;
	padding-left: 5px;
}

.bl1d03gr {
	border-left: 1px dashed #D3D4D5;
	padding-left: 10px;
}


/** liBd
-------------------------------------------------------*/
.liBtS li {
	border-top: 1px solid #D3D4D5;
}

.liBtD li {
	border-top: 1px dashed #D3D4D5;
}

.liBrS li {
	border-right: 1px solid #D3D4D5;
}

.liBrD li {
	border-right: 1px dashed #D3D4D5;
}

.liBbS li {
	border-bottom: 1px solid #D3D4D5;
}

.liBbD li {
	border-bottom: 1px dashed #D3D4D5;
}

.liBlS li {
	border-left: 1px solid #D3D4D5;
}

.liBlD li {
	border-left: 1px dashed #D3D4D5;
}

.liBtSFn li {
	border-top: 1px solid #D3D4D5;
}

.liBtSFn li:first-child {
	border-top: none;
}

.liBtDFn li {
	border-top: 1px dashed #D3D4D5;
}

.liBtDFn li:first-child {
	border-top: none;
}

.liBrSLn li {
	border-right: 1px solid #D3D4D5;
}

.liBrSLn li:last-child {
	border-right: none;
}

.liBrDLn li {
	border-right: 1px dashed #D3D4D5;
}

.liBrDLn li:last-child {
	border-right: none;
}

.liBbSLn li {
	border-bottom: 1px solid #D3D4D5;
}

.liBbSLn li:last-child {
	border-bottom: none;
}

.liBbDLn li {
	border-bottom: 1px dashed #D3D4D5;
}

.liBbDLn li:last-child {
	border-bottom: none;
}

.liBlSFn li {
	border-left: 1px solid #D3D4D5;
}

.liBlSFn li:first-child {
	border-left: none;
}

.liBlDFn li {
	border-left: 1px dashed #D3D4D5;
}

.liBlDFn li:first-child {
	border-left: none;
}


/** Col Width
-------------------------------------------------------*/
.col2 {
	width: 50%;
}

.col3 {
	width: 33.333%;
}

.col4 {
	width: 25%;
}

.col5 {
	width: 20%;
}

.col6 {
	width: 16.666%;
}

.col7 {
	width: 14.285%;
}

.col8 {
	width: 12.5%;
}


/*	strcBtn
------------------------------------------------- */
.strcBtn36 a {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	color: #333;
	text-decoration: none;
	padding: 0 0 0 20px;
	height: 36px;
	_height: auto;
}

.strcBtn36 a span {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	line-height: 36px;
	font-size: 14px;
	padding: 0 20px 0 0;
	height: 36px;
	_height: auto;
}

.strcBtn36 a:hover {
	color: #333;
	text-decoration: none;
}

.strcBtn36 a.btnGray {
	background: url(../img/strcBtn36.png) no-repeat 0 0;
}

.strcBtn36 a.btnGray:hover {
	background: url(../img/strcBtn36.png) no-repeat 0 -72px;
}

.strcBtn36 a.btnGray span {
	background: url(../img/strcBtn36.png) no-repeat 100% -36px;
}

.strcBtn36 a.btnGray:hover span {
	background: url(../img/strcBtn36.png) no-repeat 100% -108px;
}

.strcBtn36 a.btnBlue {
	background: url(../img/strcBtn36.png) no-repeat 0 -144px;
}

.strcBtn36 a.btnBlue:hover {
	background: url(../img/strcBtn36.png) no-repeat 0 -216px;
}

.strcBtn36 a.btnBlue span {
	background: url(../img/strcBtn36.png) no-repeat 100% -180px;
}

.strcBtn36 a.btnBlue:hover span {
	background: url(../img/strcBtn36.png) no-repeat 100% -252px;
}

.strcBtn36 a.btnRed {
	background: url(../img/strcBtn36.png) no-repeat 0 -288px;
}

.strcBtn36 a.btnRed:hover {
	background: url(../img/strcBtn36.png) no-repeat 0 -360px;
}

.strcBtn36 a.btnRed span {
	background: url(../img/strcBtn36.png) no-repeat 100% -324px;
	color: #FFF;
	text-shadow: 1px 1px 0 #333;
}

.strcBtn36 a.btnRed:hover span {
	background: url(../img/strcBtn36.png) no-repeat 100% -396px;
}

.strcBtn36.disabled {
	opacity: 0.5;
}

.strcBtn36 > span {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	color: #333;
	text-decoration: none;
	padding: 0 0 0 20px;
	height: 36px;
	_height: auto;
}

.strcBtn36 > span span {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	line-height: 36px;
	font-size: 14px;
	padding: 0 20px 0 0;
	height: 36px;
	_height: auto;
}

.strcBtn36.disabled span.btnGray {
	background: url(../img/strcBtn36.png) no-repeat 0 0;
}

.strcBtn36.disabled span.btnGray span {
	background: url(../img/strcBtn36.png) no-repeat 100% -36px;
}

.strcBtn30 a {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	color: #333;
	text-decoration: none;
	padding: 0 0 0 15px;
	height: 30px;
	_height: auto;
}

.strcBtn30 a span {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	line-height: 30px;
	font-size: 12px;
	padding: 0 15px 0 0;
	height: 30px;
	_height: auto;
}

.strcBtn30 a:hover {
	color: #333;
	text-decoration: none;
}

.strcBtn30 a.btnGray {
	background: url(../img/strcBtn30.png) no-repeat 0 0;
}

.strcBtn30 a.btnGray:hover {
	background: url(../img/strcBtn30.png) no-repeat 0 -60px;
}

.strcBtn30 a.btnGray span {
	background: url(../img/strcBtn30.png) no-repeat 100% -30px;
}

.strcBtn30 a.btnGray:hover span {
	background: url(../img/strcBtn30.png) no-repeat 100% -90px;
}

.strcBtn30 a.btnBlue {
	background: url(../img/strcBtn30.png) no-repeat 0 -120px;
}

.strcBtn30 a.btnBlue:hover {
	background: url(../img/strcBtn30.png) no-repeat 0 -180px;
}

.strcBtn30 a.btnBlue span {
	background: url(../img/strcBtn30.png) no-repeat 100% -150px;
}

.strcBtn30 a.btnBlue:hover span {
	background: url(../img/strcBtn30.png) no-repeat 100% -210px;
}

.strcBtn30 a.btnRed {
	background: url(../img/strcBtn30.png) no-repeat 0 -240px;
}

.strcBtn30 a.btnRed:hover {
	background: url(../img/strcBtn30.png) no-repeat 0 -300px;
}

.strcBtn30 a.btnRed span {
	background: url(../img/strcBtn30.png) no-repeat 100% -270px;
	color: #FFF;
	text-shadow: 1px 1px 0 #333;
}

.strcBtn30 a.btnRed:hover span {
	background: url(../img/strcBtn30.png) no-repeat 100% -330px;
}

.strcBtn30 a.btnOrange {
	background: url(../img/strcBtn30.png) no-repeat 0 -360px;
}

.strcBtn30 a.btnOrange:hover {
	background: url(../img/strcBtn30.png) no-repeat 0 -420px;
}

.strcBtn30 a.btnOrange span {
	background: url(../img/strcBtn30.png) no-repeat 100% -390px;
	color: #333435;
}

.strcBtn30 a.btnOrange:hover span {
	background: url(../img/strcBtn30.png) no-repeat 100% -450px;
}

.strcBtn30 a.btnPink {
	background: url(../img/strcBtn30.png) no-repeat 0 -480px;
}

.strcBtn30 a.btnPink:hover {
	background: url(../img/strcBtn30.png) no-repeat 0 -540px;
}

.strcBtn30 a.btnPink span {
	background: url(../img/strcBtn30.png) no-repeat 100% -510px;
	color: #FFF;
	text-shadow: 1px 1px 0 #333;
}

.strcBtn30 a.btnPink:hover span {
	background: url(../img/strcBtn30.png) no-repeat 100% -570px;
}

.strcBtn30.disabled {
	opacity: 0.5;
}

.strcBtn30 > span {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	color: #333;
	text-decoration: none;
	padding: 0 0 0 20px;
	height: 30px;
	_height: auto;
}

.strcBtn30 > span span {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	line-height: 30px;
	font-size: 14px;
	padding: 0 20px 0 0;
	height: 30px;
	_height: auto;
}

.strcBtn30.disabled span.btnGray {
	background: url(../img/strcBtn30.png) no-repeat 0 0;
}

.strcBtn30.disabled span.btnGray span {
	background: url(../img/strcBtn30.png) no-repeat 100% -30px;
}

.strcBtn26 a {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	color: #333;
	text-decoration: none;
	padding: 0 0 0 10px;
	height: 26px;
	_height: auto;
}

.strcBtn26 a span {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	line-height: 26px;
	font-size: 11px;
	padding: 0 10px 0 0;
	height: 26px;
	_height: auto;
}

.strcBtn26 a:hover {
	color: #333;
	text-decoration: none;
}

.strcBtn26 a.btnGray {
	background: url(../img/strcBtn26.png) no-repeat 0 0;
}

.strcBtn26 a.btnGray:hover {
	background: url(../img/strcBtn26.png) no-repeat 0 -52px;
}

.strcBtn26 a.btnGray span {
	background: url(../img/strcBtn26.png) no-repeat 100% -26px;
}

.strcBtn26 a.btnGray:hover span {
	background: url(../img/strcBtn26.png) no-repeat 100% -78px;
}

.strcBtn26 a.btnBlue {
	background: url(../img/strcBtn26.png) no-repeat 0 -104px;
}

.strcBtn26 a.btnBlue:hover {
	background: url(../img/strcBtn26.png) no-repeat 0 -156px;
}

.strcBtn26 a.btnBlue span {
	background: url(../img/strcBtn26.png) no-repeat 100% -130px;
}

.strcBtn26 a.btnBlue:hover span {
	background: url(../img/strcBtn26.png) no-repeat 100% -182px;
}

.strcBtn26 a.btnRed {
	background: url(../img/strcBtn26.png) no-repeat 0 -208px;
}

.strcBtn26 a.btnRed:hover {
	background: url(../img/strcBtn26.png) no-repeat 0 -260px;
}

.strcBtn26 a.btnRed span {
	background: url(../img/strcBtn26.png) no-repeat 100% -234px;
	color: #FFF;
	text-shadow: 1px 1px 0 #333;
}

.strcBtn26 a.btnRed:hover span {
	background: url(../img/strcBtn26.png) no-repeat 100% -286px;
}

.strcBtn26 a.btnOrange {
	background: url(../img/strcBtn26.png) no-repeat 0 -312px;
}

.strcBtn26 a.btnOrange:hover {
	background: url(../img/strcBtn26.png) no-repeat 0 -364px;
}

.strcBtn26 a.btnOrange span {
	background: url(../img/strcBtn26.png) no-repeat 100% -338px;
	color: #333435;
}

.strcBtn26 a.btnOrange:hover span {
	background: url(../img/strcBtn26.png) no-repeat 100% -390px;
}

.strcBtn26 a.btnPink {
	background: url(../img/strcBtn26.png) no-repeat 0 -416px;
}

.strcBtn26 a.btnPink:hover {
	background: url(../img/strcBtn26.png) no-repeat 0 -468px;
}

.strcBtn26 a.btnPink span {
	background: url(../img/strcBtn26.png) no-repeat 100% -442px;
	color: #FFF;
	text-shadow: 1px 1px 0 #333;
}

.strcBtn26 a.btnPink:hover span {
	background: url(../img/strcBtn26.png) no-repeat 100% -494px;
}

.strcBtn26.disabled {
	opacity: 0.5;
	cursor: default;
}

.strcBtn26 > span {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	color: #333;
	text-decoration: none;
	padding: 0 0 0 10px;
	height: 26px;
	_height: auto;
}

.strcBtn26 > span span {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	line-height: 26px;
	font-size: 11px;
	padding: 0 10px 0 0;
	height: 26px;
	_height: auto;
}

.strcBtn26.disabled span {
}

.strcBtn26.disabled span.btnGray {
	background: url(../img/strcBtn26.png) no-repeat 0 0;
}

.strcBtn26.disabled span.btnGray span {
	background: url(../img/strcBtn26.png) no-repeat 100% -26px;
}

.strcBtn26.disabled span.btnBlue {
	background: url(../img/strcBtn26.png) no-repeat 0 -104px;
}

.strcBtn26.disabled span.btnBlue span {
	background: url(../img/strcBtn26.png) no-repeat 100% -130px;
}

.strcBtn20 a {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	color: #333;
	text-decoration: none;
	padding: 0 0 0 8px;
	height: 20px;
	_height: auto;
}

.strcBtn20 a span {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	line-height: 20px;
	font-size: 10px;
	padding: 0 8px 0 0;
	height: 20px;
	_height: auto;
}

.strcBtn20 a.btnGray {
	background: url(../img/strcBtn20.png) no-repeat 0 0;
}

.strcBtn20 a.btnGray:hover {
	background: url(../img/strcBtn20.png) no-repeat 0 -40px;
}

.strcBtn20 a.btnGray span {
	background: url(../img/strcBtn20.png) no-repeat 100% -20px;
}

.strcBtn20 a.btnGray:hover span {
	background: url(../img/strcBtn20.png) no-repeat 100% -60px;
}

.strcBtn20 a.btnBlue {
	background: url(../img/strcBtn20.png) no-repeat 0 -80px;
}

.strcBtn20 a.btnBlue:hover {
	background: url(../img/strcBtn20.png) no-repeat 0 -120px;
}

.strcBtn20 a.btnBlue span {
	background: url(../img/strcBtn20.png) no-repeat 100% -100px;
}

.strcBtn20 a.btnBlue:hover span {
	background: url(../img/strcBtn20.png) no-repeat 100% -140px;
}

.strcBtn20 a.btnRed {
	background: url(../img/strcBtn20.png) no-repeat 0 -160px;
}

.strcBtn20 a.btnRed:hover {
	background: url(../img/strcBtn20.png) no-repeat 0 -200px;
}

.strcBtn20 a.btnRed span {
	background: url(../img/strcBtn20.png) no-repeat 100% -180px;
	color: #FFF;
	text-shadow: 1px 1px 0 #333;
}

.strcBtn20 a.btnRed:hover span {
	background: url(../img/strcBtn20.png) no-repeat 100% -220px;
}

.strcBtn20.disabled {
	opacity: 0.5;
	cursor: default;
}

.strcBtn20 > span {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	color: #333;
	text-decoration: none;
	padding: 0 0 0 10px;
	height: 20px;
	_height: auto;
}

.strcBtn20 > span span {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	line-height: 20px;
	font-size: 10px;
	padding: 0 10px 0 0;
	height: 20px;
	_height: auto;
}

.strcBtn20.disabled span {
}

.strcBtn20.disabled span.btnGray {
	background: url(../img/strcBtn20.png) no-repeat 0 0;
}

.strcBtn20.disabled span.btnGray span {
	background: url(../img/strcBtn20.png) no-repeat 100% -20px;
}

.strcBtn20.disabled span.btnBlue {
	background: url(../img/strcBtn20.png) no-repeat 0 -80px;
}

.strcBtn20.disabled span.btnBlue span {
	background: url(../img/strcBtn20.png) no-repeat 100% -100px;
}


/* pclBtn
------------------------------------------------- */
.addToCart input {
	background: url(../img/btnPcl.png) no-repeat 0 0;
	width: 200px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.addToCart input:hover {
	background-position: 0 -30px;
}

.toRegister input {
	background: url(../img/btnPcl.png) no-repeat 0 -60px;
	width: 200px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.toRegister input:hover {
	background-position: 0 -90px;
}

.issuedTickets input {
	background: url(../img/btnPcl.png) no-repeat 0 -120px;
	width: 200px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.issuedTickets input:hover {
	background-position: 0 -150px;
}

.addToCartS input {
	background: url(../img/btnPclS.png) no-repeat 0 0;
	width: 130px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.addToCartS input:hover {
	background-position: 0 -30px;
}

.storeGetS input {
	background: url(../img/btnPclS.png) no-repeat 0 -60px;
	width: 130px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.storeGetS input:hover {
	background-position: 0 -90px;
}

.checkCart input {
	background: url(../img/btnPcl.png) no-repeat 0 -180px;
	width: 200px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.checkCart input:hover {
	background-position: 0 -210px;
}

.itemFollow input {
	background: url(../img/btnPcl.png) no-repeat 0 -240px;
	width: 200px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.itemFollow input:hover {
	background-position: 0 -270px;
}

.itemFollowing input {
	background: url(../img/btnPcl.png) no-repeat 0 -300px;
	width: 200px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.itemFollowing input:hover {
	background-position: 0 -330px;
}

.addToFavorite input {
	background: url(../img/btnPcl.png) no-repeat 0 -360px;
	width: 200px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.addToFavorite input:hover {
	background-position: 0 -390px;
}

.userFollow input {
	background: url(../img/btnPcl.png) no-repeat 0 -420px;
	width: 200px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.userFollow input:hover {
	background-position: 0 -450px;
}

.userFollowing input {
	background: url(../img/btnPcl.png) no-repeat 0 -480px;
	width: 200px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.userFollowing input:hover {
	background-position: 0 -510px;
}

.cntrbtReview a {
	background: url(../img/btnPcl.png) no-repeat 0 -540px;
	width: 200px;
	height: 30px;
	border: none;
	cursor: pointer;
	display: block;
}

.cntrbtReview a:hover {
	background-position: 0 -570px;
}

.cntrbtQuestion a {
	background: url(../img/btnPcl.png) no-repeat 0 -600px;
	width: 200px;
	height: 30px;
	border: none;
	cursor: pointer;
	display: block;
}

.cntrbtQuestion a:hover {
	background-position: 0 -630px;
}

.addToCartAdult input {
	background: url(../img/btnPcl.png) no-repeat 0 -660px;
	width: 200px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.addToCartAdult input:hover {
	background-position: 0 -690px;
}


/* disabledBtn
------------------------------------------------- */
.disabledBtn {
	opacity: 0.4;
	filter: alpha(opacity=40);
	zoom: 1;
}

.disabledBtn a {
	cursor: not-allowed;
}


/* btnRow
------------------------------------------------- */
.btnRow {
}

.btnRow li {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	margin: 0 10px 0 0;
}

.btnRow ul.alignC li {
	margin: 0 5px;
}

.btnRow ul.alignR li {
	margin: 0 0 0 10px;
}

.btnList li {
	margin: 0 0 5px 0;
}


/* Button
------------------------------------------------- */
.yBtn {
	background: #E3E4E5; /* Old browsers */
	background: -moz-linear-gradient(top, #F3F4F5 0%, #E3E4E5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F4F5), color-stop(100%,#E3E4E5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F3F4F5 0%, #E3E4E5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F3F4F5 0%,#E3E4E5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F3F4F5 0%, #E3E4E5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F3F4F5 0%, #E3E4E5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(Enabled=1,GradientType=0,StartColorStr='#F3F4F5',EndColorStr='#E3E4E5'); /* IE6-9 */
	border: 1px solid #C3C4C5;
	border-bottom: 1px solid #A3A4A5;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	letter-spacing: 0;
	padding: 0;
	border-radius: 3px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

.yBtn:hover {
	background: #E3E4E5;
	filter: progid:DXImageTransform.Microsoft.gradient(Enabled=1,GradientType=0,StartColorStr='#E3E4E5',EndColorStr='#E3E4E5'); /* IE6-9 */
}

.yBtn .yBtnInner {
	position: relative;
	display: block;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
}

.yBtn:active .yBtnInner {
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1) inset;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1) inset;
}

.yBtn .yBtnText {
	display: block;
	vertical-align: middle;
	color: #333;
	white-space: normal;
	text-decoration: none !important;
}

.yBtn.yBtnXSmall .yBtnText {
	font-size: 11px;
	padding: 4px 6px;
}

.yBtn.yBtnSmall .yBtnText {
	font-size: 12px;
	padding: 6px 9px;
}

.yBtn.yBtnMedium .yBtnText {
	font-size: 13px;
	padding: 8px 12px;
}

.yBtn.yBtnLarge .yBtnText {
	font-size: 14px;
	padding: 10px 15px;
}

.yBtn.yBtnXLarge .yBtnText {
	font-size: 16px;
	padding: 12px 18px;
}

.yBtn.yBtnPrimary {
	background: #FC2828; /* Old browsers */
	background: -moz-linear-gradient(top, #FC2828 0%, #BD0202 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FC2828), color-stop(100%,#BD0202)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FC2828 0%, #BD0202 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FC2828 0%, #BD0202 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FC2828 0%, #BD0202 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FC2828 0%, #BD0202 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(Enabled=1,GradientType=0,StartColorStr='#FC2828',EndColorStr='#BD0202'); /* IE6-9 */
	border: 1px solid #A00;
	border-bottom: 1px solid #800;
}

.yBtn.yBtnPrimary:hover {
	background: #BD0202;
	filter: progid:DXImageTransform.Microsoft.gradient(Enabled=1,GradientType=0,StartColorStr='#BD0202',EndColorStr='#BD0202'); /* IE6-9 */
}

.yBtn.yBtnPrimary .yBtnText {
	color: #FFF;
}

.yBtn.yBtnSpecial {
	background: #FFD878; /* Old browsers */
	background: -moz-linear-gradient(top, #FFD878 0%, #FFBF23 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFD878), color-stop(100%,#FFBF23)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFD878 0%, #FFBF23 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFD878 0%, #FFBF23 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFD878 0%, #FFBF23 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFD878 0%, #FFBF23 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(Enabled=1,GradientType=0,StartColorStr='#FFD878',EndColorStr='#FFBF23'); /* IE6-9 */
	border: 1px solid #ECA700;
	border-bottom: 1px solid #D29500;
}

.yBtn.yBtnSpecial:hover {
	background: #FFBF23;
	filter: progid:DXImageTransform.Microsoft.gradient(Enabled=1,GradientType=0,StartColorStr='#FFBF23',EndColorStr='#FFBF23'); /* IE6-9 */
}

.yBtn.yBtnSpecial .yBtnText {
	color: #313539;
}

.yBtn.yBtnModest {
	background: #FFF;
	border: 1px solid #D3D4D5;
	border-bottom: 1px solid #B3B4B5;
}

.yBtn.yBtnModest:hover {
	background: #F3F4F5;
}

.yBtn.yBtnModest .yBtnText {
}

.yBtn.yBtnDisabled {
	background: #FAFBFC;
	background: rgba(255,255,255,0.4);
	border: 1px solid #D3D4D5;
	cursor: default;
}

.yBtn.yBtnDisabled .yBtnInner {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.yBtn.yBtnDisabled .yBtnText {
	color: #939495;
}

.yBtnStack .yBtn {
	display: block;
	width: 100%;
}

.yBtnRow .yBtn {
	margin: 0 0 0 10px;
}

.yBtnRow .yBtn:first-child {
	margin: 0;
}


/** ySearchBar
-------------------------------------------------------*/
.ySearchBar {
	position: relative;
}

.ySearchBar .ySearchInputText {
	background: #FFF;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #D3D4D5;
	border-radius: 3px 0 0 3px;
	box-sizing: border-box;
	padding: 5px;
	margin: 0 41px 0 0;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ySearchBar .yBtn {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	border-radius: 0 3px 3px 0;
}

.ySearchBar .yBtn .yBtnInner {
	border-radius: 0 3px 3px 0;
}

.ySearchBar .yBtn .yBtnText {
	font-size: 12px;
	padding: 6px 8px;
}


/*	Icon
------------------------------------------------- */
.uiIconTxtL {
	position: relative;
	padding: 0 0 0 40px !important;
	line-height: 32px;
	/zoom: 1;
}

.uiIconTxtL a {
	/zoom: 1;
}

.uiIconTxtS {
	position: relative;
	padding: 0 0 0 20px !important;
	line-height: 16px;
	/zoom: 1;
}

.uiIconTxtS a {
	/zoom: 1;
}

.uiIconTxtSn {
	position: relative;
	padding: 0 0 0 18px !important;
	line-height: 16px;
	/zoom: 1;
}

.uiIconTxtSn a {
	/zoom: 1;
}

.uiIconAreaS {
	position: relative;
	padding: 0 0 0 20px !important;
	/zoom: 1;
}

.uiIconIdtTxtS {
	position: relative;
	line-height: 16px;
	/zoom: 1;
}

.uiIconIdtAreaS {
	display: block;
	padding: 0 0 0 20px !important;
	/display: inline;
	/text-height: 20px;
}

.iconLiL {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 0;
	left: 0;
}

.iconLiS {
	width: 20px;
	height: 16px;
	position: absolute;
	top: 0;
	left: 0;
}

.strcBtn36 .iconLiL  {
	top: 2px;
}

.strcBtn36 .iconLiS  {
	top: 10px;
}

.strcBtn26 .iconLiS  {
	top: 5px;
}

.iconIbL {
	width: 32px;
	height: 32px;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: middle;
}

.iconIbS {
	width: 16px;
	height: 16px;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: middle;
}

.iconIbSw {
	width: 20px;
	height: 16px;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: middle;
}

.iconIbSn {
	width: 18px;
	height: 16px;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: middle;
}

.icon01L {
	background: url(../img/icons.png) no-repeat 0 0;
}

.icon02L {
	background: url(../img/icons.png) no-repeat 0 -40px;
}

.icon03L {
	background: url(../img/icons.png) no-repeat 0 -80px;
}

.icon04L {
	background: url(../img/icons.png) no-repeat 0 -120px;
}

.icon05L {
	background: url(../img/icons.png) no-repeat 0 -160px;
}

.icon06L {
	background: url(../img/icons.png) no-repeat 0 -200px;
}

.icon07L {
	background: url(../img/icons.png) no-repeat 0 -240px;
}

.icon08L {
	background: url(../img/icons.png) no-repeat 0 -280px;
}

.icon09L {
	background: url(../img/icons.png) no-repeat 0 -320px;
}

.icon10L {
	background: url(../img/icons.png) no-repeat 0 -360px;
}

.icon11L {
	background: url(../img/icons.png) no-repeat 0 -400px;
}

.icon12L {
	background: url(../img/icons.png) no-repeat 0 -440px;
}

.icon13L {
	background: url(../img/icons.png) no-repeat 0 -480px;
}

.icon14L {
	background: url(../img/icons.png) no-repeat 0 -520px;
}

.icon15L {
	background: url(../img/icons.png) no-repeat 0 -560px;
}

.icon16L {
	background: url(../img/icons.png) no-repeat 0 -600px;
}

.icon17L {
	background: url(../img/icons.png) no-repeat 0 -640px;
}

.icon18L {
	background: url(../img/icons.png) no-repeat 0 -680px;
}

.icon19L {
	background: url(../img/icons.png) no-repeat 0 -720px;
}

.icon20L {
	background: url(../img/icons.png) no-repeat 0 -760px;
}

.icon21L {
	background: url(../img/icons.png) no-repeat 0 -800px;
}

.icon22L {
	background: url(../img/icons.png) no-repeat 0 -840px;
}

.icon23L {
	background: url(../img/icons.png) no-repeat 0 -880px;
}

.icon24L {
	background: url(../img/icons.png) no-repeat 0 -920px;
}

.icon25L {
	background: url(../img/icons.png) no-repeat 0 -960px;
}

.icon26L {
	background: url(../img/icons.png) no-repeat 0 -1000px;
}

.icon27L {
	background: url(../img/icons.png) no-repeat 0 -1040px;
}

.icon28L {
	background: url(../img/icons.png) no-repeat 0 -1080px;
}

.icon29L {
	background: url(../img/icons.png) no-repeat 0 -1120px;
}

.icon30L {
	background: url(../img/icons.png) no-repeat 0 -1160px;
}

.icon31L {
	background: url(../img/icons.png) no-repeat 0 -1200px;
}

.icon32L {
	background: url(../img/icons.png) no-repeat 0 -1240px;
}

.icon33L {
	background: url(../img/icons.png) no-repeat 0 -1280px;
}

.icon34L {
	background: url(../img/icons.png) no-repeat 0 -1320px;
}

.icon35L {
	background: url(../img/icons.png) no-repeat 0 -1360px;
}

.icon36L {
	background: url(../img/icons.png) no-repeat 0 -1400px;
}

.icon37L {
	background: url(../img/icons.png) no-repeat 0 -1440px;
}

.icon38L {
	background: url(../img/icons.png) no-repeat 0 -1480px;
}

.icon39L {
	background: url(../img/icons.png) no-repeat 0 -1520px;
}

.icon40L {
	background: url(../img/icons.png) no-repeat 0 -1560px;
}

.icon41L {
	background: url(../img/icons.png) no-repeat 0 -1600px;
}

.icon42L {
	background: url(../img/icons.png) no-repeat 0 -1640px;
}

.icon43L {
	background: url(../img/icons.png) no-repeat 0 -1680px;
}

.icon44L {
	background: url(../img/icons.png) no-repeat 0 -1720px;
}

.icon45L {
	background: url(../img/icons.png) no-repeat 0 -1760px;
}

.icon01S {
	background: url(../img/icons.png) no-repeat -40px 0;
}

.icon02S {
	background: url(../img/icons.png) no-repeat -40px -40px;
}

.icon03S {
	background: url(../img/icons.png) no-repeat -40px -80px;
}

.icon04S {
	background: url(../img/icons.png) no-repeat -40px -120px;
}

.icon05S {
	background: url(../img/icons.png) no-repeat -40px -160px;
}

.icon06S {
	background: url(../img/icons.png) no-repeat -40px -200px;
}

.icon07S {
	background: url(../img/icons.png) no-repeat -40px -240px;
}

.icon08S {
	background: url(../img/icons.png) no-repeat -40px -280px;
}

.icon09S {
	background: url(../img/icons.png) no-repeat -40px -320px;
}

.icon10S {
	background: url(../img/icons.png) no-repeat -40px -360px;
}

.icon11S {
	background: url(../img/icons.png) no-repeat -40px -400px;
}

.icon12S {
	background: url(../img/icons.png) no-repeat -40px -440px;
}

.icon13S {
	background: url(../img/icons.png) no-repeat -40px -480px;
}

.icon14S {
	background: url(../img/icons.png) no-repeat -40px -520px;
}

.icon15S {
	background: url(../img/icons.png) no-repeat -40px -560px;
}

.icon16S {
	background: url(../img/icons.png) no-repeat -40px -600px;
}

.icon17S {
	background: url(../img/icons.png) no-repeat -40px -640px;
}

.icon18S {
	background: url(../img/icons.png) no-repeat -40px -680px;
}

.icon19S {
	background: url(../img/icons.png) no-repeat -40px -720px;
}

.icon20S {
	background: url(../img/icons.png) no-repeat -40px -760px;
}

.icon21S {
	background: url(../img/icons.png) no-repeat -40px -800px;
}

.icon22S {
	background: url(../img/icons.png) no-repeat -40px -840px;
}

.icon23S {
	background: url(../img/icons.png) no-repeat -40px -880px;
}

.icon24S {
	background: url(../img/icons.png) no-repeat -40px -920px;
}

.icon25S {
	background: url(../img/icons.png) no-repeat -40px -960px;
}

.icon26S {
	background: url(../img/icons.png) no-repeat -40px -1000px;
}

.icon27S {
	background: url(../img/icons.png) no-repeat -40px -1040px;
}

.icon28S {
	background: url(../img/icons.png) no-repeat -40px -1080px;
}

.icon29S {
	background: url(../img/icons.png) no-repeat -40px -1120px;
}

.icon30S {
	background: url(../img/icons.png) no-repeat -40px -1160px;
}

.icon31S {
	background: url(../img/icons.png) no-repeat -40px -1200px;
}

.icon32S {
	background: url(../img/icons.png) no-repeat -40px -1240px;
}

.icon33S {
	background: url(../img/icons.png) no-repeat -40px -1280px;
}

.icon34S {
	background: url(../img/icons.png) no-repeat -40px -1320px;
}

.icon35S {
	background: url(../img/icons.png) no-repeat -40px -1360px;
}

.icon36S {
	background: url(../img/icons.png) no-repeat -40px -1400px;
}

.icon37S {
	background: url(../img/icons.png) no-repeat -40px -1440px;
}

.icon38S {
	background: url(../img/icons.png) no-repeat -40px -1480px;
}

.icon39S {
	background: url(../img/icons.png) no-repeat -40px -1520px;
}

.icon40S {
	background: url(../img/icons.png) no-repeat -40px -1560px;
}

.icon41S {
	background: url(../img/icons.png) no-repeat -40px -1600px;
}

.icon42S {
	background: url(../img/icons.png) no-repeat -40px -1640px;
}

.icon43S {
	background: url(../img/icons.png) no-repeat -40px -1680px;
}

.icon44S {
	background: url(../img/icons.png) no-repeat -40px -1720px;
}

.icon45S {
	background: url(../img/icons.png) no-repeat -40px -1760px;
}

.icon46S {
	background: url(../img/icons.png) no-repeat -40px -1800px;
}

.icon47S {
	background: url(../img/icons.png) no-repeat -40px -1840px;
}

.icon48S {
	background: url(../img/icons.png) no-repeat -40px -1880px;
}

.icon49S {
	background: url(../img/icons.png) no-repeat -40px -1920px;
}

.icon50S {
	background: url(../img/icons.png) no-repeat -40px -1960px;
}

.icon51S {
	background: url(../img/icons.png) no-repeat -40px -2000px;
}

.icon52S {
	background: url(../img/icons.png) no-repeat -40px -2040px;
}

.icon53S {
	background: url(../img/icons.png) no-repeat -40px -2080px;
}

.icon54S {
	background: url(../img/icons.png) no-repeat -40px -2120px;
}

.icon55S {
	background: url(../img/icons.png) no-repeat -40px -2160px;
}

.icon56S {
	background: url(../img/icons.png) no-repeat -40px -2200px;
}

.icon57S {
	background: url(../img/icons.png) no-repeat -40px -2240px;
}

.iconStar {
	background: url(../img/iconRateStar.png) no-repeat;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	width: 88px;
	height: 16px;
	vertical-align: middle;
}

.iconStar.rate5_0 {
	background-position: 0 0;
}

.iconStar.rate4_75 {
	background-position: 0 -20px;
}

.iconStar.rate4_5 {
	background-position: 0 -40px;
}

.iconStar.rate4_25 {
	background-position: 0 -60px;
}

.iconStar.rate4_0 {
	background-position: -18px 0;
}

.iconStar.rate3_75 {
	background-position: -18px -20px;
}

.iconStar.rate3_5 {
	background-position: -18px -40px;
}

.iconStar.rate3_25 {
	background-position: -18px -60px;
}

.iconStar.rate3_0 {
	background-position: -36px 0;
}

.iconStar.rate2_75 {
	background-position: -36px -20px;
}

.iconStar.rate2_5 {
	background-position: -36px -40px;
}

.iconStar.rate2_25 {
	background-position: -36px -60px;
}

.iconStar.rate2_0 {
	background-position: -54px 0;
}

.iconStar.rate1_75 {
	background-position: -54px -20px;
}

.iconStar.rate1_5 {
	background-position: -54px -40px;
}

.iconStar.rate1_25 {
	background-position: -54px -60px;
}

.iconStar.rate1_0 {
	background-position: -72px 0;
}

.iconStar.rate0_75 {
	background-position: -72px -20px;
}

.iconStar.rate0_5 {
	background-position: -72px -40px;
}

.iconStar.rate0_25 {
	background-position: -72px -60px;
}

.iconStar.rate0_0 {
	background-position: 0 -80px;
}

.iconStarM {
	background: url(../img/iconRateStarM.png) no-repeat;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	width: 68px;
	height: 14px;
	vertical-align: middle;
}

.iconStarM.rate5_0 {
	background-position: 0 0;
}

.iconStarM.rate4_75 {
	background-position: 0 -14px;
}

.iconStarM.rate4_5 {
	background-position: 0 -28px;
}

.iconStarM.rate4_25 {
	background-position: 0 -42px;
}

.iconStarM.rate4_0 {
	background-position: -14px 0;
}

.iconStarM.rate3_75 {
	background-position: -14px -14px;
}

.iconStarM.rate3_5 {
	background-position: -14px -28px;
}

.iconStarM.rate3_25 {
	background-position: -14px -42px;
}

.iconStarM.rate3_0 {
	background-position: -28px 0;
}

.iconStarM.rate2_75 {
	background-position: -28px -14px;
}

.iconStarM.rate2_5 {
	background-position: -28px -28px;
}

.iconStarM.rate2_25 {
	background-position: -28px -42px;
}

.iconStarM.rate2_0 {
	background-position: -42px 0;
}

.iconStarM.rate1_75 {
	background-position: -42px -14px;
}

.iconStarM.rate1_5 {
	background-position: -42px -28px;
}

.iconStarM.rate1_25 {
	background-position: -42px -42px;
}

.iconStarM.rate1_0 {
	background-position: -56px 0;
}

.iconStarM.rate0_75 {
	background-position: -56px -14px;
}

.iconStarM.rate0_5 {
	background-position: -56px -28px;
}

.iconStarM.rate0_25 {
	background-position: -56px -42px;
}

.iconStarM.rate0_0 {
	background-position: 0 -56px;
}

.iconStarS {
	background: url(../img/iconRateStarS.png) no-repeat;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	width: 44px;
	height: 8px;
	vertical-align: middle;
}

.iconStarS.rate5_0 {
	background-position: 0 0;
}

.iconStarS.rate4_5 {
	background-position: 0 -10px;
}

.iconStarS.rate4_0 {
	background-position: -9px 0;
}

.iconStarS.rate3_5 {
	background-position: -9px -10px;
}

.iconStarS.rate3_0 {
	background-position: -18px 0;
}

.iconStarS.rate2_5 {
	background-position: -18px -10px;
}

.iconStarS.rate2_0 {
	background-position: -27px 0;
}

.iconStarS.rate1_5 {
	background-position: -27px -10px;
}

.iconStarS.rate1_0 {
	background-position: -36px 0;
}

.iconStarS.rate0_5 {
	background-position: -36px -10px;
}

.iconStarS.rate0_0 {
	background-position: right 0;
}

.iconArw01U {
	background: url(../img/iconArws.png) no-repeat 0 0;
}

.iconArw01R {
	background: url(../img/iconArws.png) no-repeat 0 -16px;
}

.iconArw01D {
	background: url(../img/iconArws.png) no-repeat 0 -32px;
}

.iconArw01L {
	background: url(../img/iconArws.png) no-repeat 0 -48px;
}

.iconArw02U {
	background: url(../img/iconArws.png) no-repeat -30px 0;
}

.iconArw02R {
	background: url(../img/iconArws.png) no-repeat -30px -16px;
}

.iconArw02D {
	background: url(../img/iconArws.png) no-repeat -30px -32px;
}

.iconArw02L {
	background: url(../img/iconArws.png) no-repeat -30px -48px;
}

.iconArw03U {
	background: url(../img/iconArws.png) no-repeat -60px 0;
}

.iconArw03R {
	background: url(../img/iconArws.png) no-repeat -60px -16px;
}

.iconArw03D {
	background: url(../img/iconArws.png) no-repeat -60px -32px;
}

.iconArw03L {
	background: url(../img/iconArws.png) no-repeat -60px -48px;
}

.iconArw04U {
	background: url(../img/iconArws.png) no-repeat -90px 0;
}

.iconArw04R {
	background: url(../img/iconArws.png) no-repeat -90px -16px;
}

.iconArw04D {
	background: url(../img/iconArws.png) no-repeat -90px -32px;
}

.iconArw04L {
	background: url(../img/iconArws.png) no-repeat -90px -48px;
}

.iconArw05U {
	background: url(../img/iconArws.png) no-repeat -120px 0;
}

.iconArw05R {
	background: url(../img/iconArws.png) no-repeat -120px -16px;
}

.iconArw05D {
	background: url(../img/iconArws.png) no-repeat -120px -32px;
}

.iconArw05L {
	background: url(../img/iconArws.png) no-repeat -120px -48px;
}

.iconArw06U {
	background: url(../img/iconArws.png) no-repeat -150px 0;
}

.iconArw06R {
	background: url(../img/iconArws.png) no-repeat -150px -16px;
}

.iconArw06D {
	background: url(../img/iconArws.png) no-repeat -150px -32px;
}

.iconArw06L {
	background: url(../img/iconArws.png) no-repeat -150px -48px;
}

.iconArw07U {
	background: url(../img/iconArws.png) no-repeat -180px 0;
}

.iconArw07R {
	background: url(../img/iconArws.png) no-repeat -180px -16px;
}

.iconArw07D {
	background: url(../img/iconArws.png) no-repeat -180px -32px;
}

.iconArw07L {
	background: url(../img/iconArws.png) no-repeat -180px -48px;
}

.iconArw08U {
	background: url(../img/iconArws.png) no-repeat -210px 0;
}

.iconArw08R {
	background: url(../img/iconArws.png) no-repeat -210px -16px;
}

.iconArw08D {
	background: url(../img/iconArws.png) no-repeat -210px -32px;
}

.iconArw08L {
	background: url(../img/iconArws.png) no-repeat -210px -48px;
}

.iconArw09U {
	background: url(../img/iconArws.png) no-repeat -240px 0;
}

.iconArw09R {
	background: url(../img/iconArws.png) no-repeat -240px -16px;
}

.iconArw09D {
	background: url(../img/iconArws.png) no-repeat -240px -32px;
}

.iconArw09L {
	background: url(../img/iconArws.png) no-repeat -240px -48px;
}

.iconSq01ArwU {
	background: url(../img/iconSquare.png) no-repeat 0 0;
}

.iconSq01ArwR {
	background: url(../img/iconSquare.png) no-repeat 0 -20px;
}

.iconSq01ArwD {
	background: url(../img/iconSquare.png) no-repeat 0 -40px;
}

.iconSq01ArwL {
	background: url(../img/iconSquare.png) no-repeat 0 -60px;
}

.iconSq01Xmark {
	background: url(../img/iconSquare.png) no-repeat 0 -80px;
}

.iconSq01Plus {
	background: url(../img/iconSquare.png) no-repeat 0 -100px;
}

.iconSq01Minus {
	background: url(../img/iconSquare.png) no-repeat 0 -120px;
}

.iconSq01Blank {
	background: url(../img/iconSquare.png) no-repeat 0 -140px;
}

.iconSq02ArwU {
	background: url(../img/iconSquare.png) no-repeat -30px 0;
}

.iconSq02ArwR {
	background: url(../img/iconSquare.png) no-repeat -30px -20px;
}

.iconSq02ArwD {
	background: url(../img/iconSquare.png) no-repeat -30px -40px;
}

.iconSq02ArwL {
	background: url(../img/iconSquare.png) no-repeat -30px -60px;
}

.iconSq02Xmark {
	background: url(../img/iconSquare.png) no-repeat -30px -80px;
}

.iconSq02Plus {
	background: url(../img/iconSquare.png) no-repeat -30px -100px;
}

.iconSq02Minus {
	background: url(../img/iconSquare.png) no-repeat -30px -120px;
}

.iconSq02Blank {
	background: url(../img/iconSquare.png) no-repeat -30px -14px;
}

.iconSq03ArwU {
	background: url(../img/iconSquare.png) no-repeat -60px 0;
}

.iconSq03ArwR {
	background: url(../img/iconSquare.png) no-repeat -60px -20px;
}

.iconSq03ArwD {
	background: url(../img/iconSquare.png) no-repeat -60px -40px;
}

.iconSq03ArwL {
	background: url(../img/iconSquare.png) no-repeat -60px -60px;
}

.iconSq03Xmark {
	background: url(../img/iconSquare.png) no-repeat -60px -80px;
}

.iconSq03Plus {
	background: url(../img/iconSquare.png) no-repeat -60px -100px;
}

.iconSq03Minus {
	background: url(../img/iconSquare.png) no-repeat -60px -120px;
}

.iconSq03Blank {
	background: url(../img/iconSquare.png) no-repeat -60px -140px;
}

.iconStatusDoubleCircle {
	background: url(../img/iconStatus.png) no-repeat 0 0;
}

.iconStatusCircle {
	background: url(../img/iconStatus.png) no-repeat 0 -16px;
}

.iconStatusTriangle {
	background: url(../img/iconStatus.png) no-repeat 0 -32px;
}

.iconStatusBlackTriangle {
	background: url(../img/iconStatus.png) no-repeat 0 -48px;
}

.iconStatusMinus {
	background: url(../img/iconStatus.png) no-repeat 0 -64px;
}

.iconStatusXmark {
	background: url(../img/iconStatus.png) no-repeat 0 -80px;
}

.iconFinance01 {
	background: url(../img/iconFinanceLogo.png) no-repeat 0 0;
}

.iconFinance02 {
	background: url(../img/iconFinanceLogo.png) no-repeat 0 -35px;
}

.iconFinance03 {
	background: url(../img/iconFinanceLogo.png) no-repeat 0 -70px;
}

.iconFinance04 {
	background: url(../img/iconFinanceLogo.png) no-repeat 0 -105px;
}

.iconFinance05 {
	background: url(../img/iconFinanceLogo.png) no-repeat 0 -140px;
}

.iconFinance06 {
	background: url(../img/iconFinanceLogo.png) no-repeat 0 -175px;
}

.iconFinance07 {
	background: url(../img/iconFinanceLogo.png) no-repeat 0 -210px;
}

.iconFinance08 {
	background: url(../img/iconFinanceLogo.png) no-repeat 0 -245px;
}

.iconFinance09 {
	background: url(../img/iconFinanceLogo.png) no-repeat 0 -280px;
}

.iconFinance10 {
	background: url(../img/iconFinanceLogo.png) no-repeat 0 -315px;
}

.iconFinance11 {
	background: url(../img/iconFinanceLogo.png) no-repeat 0 -350px;
}

.iconFinance12 {
	background: url(../img/iconFinanceLogo.png) no-repeat 0 -385px;
}

.iconFinance13 {
	background: url(../img/iconFinanceLogo.png) no-repeat 0 -420px;
}

.iconFinance14 {
	background: url(../img/iconFinanceLogo.png) no-repeat 0 -455px;
}

.iconOpWin {
	background: url(../img/iconBlank.png) no-repeat 0 center;
}

.iconStock {
	background: url(../img/iconStock.png) no-repeat 0 center;
}

.iconTwitterL {
	background: url(../img/iconSns.png) no-repeat 0 0;
}

.iconMixiL {
	background: url(../img/iconSns.png) no-repeat 0 -40px;
}

.iconFacebookL {
	background: url(../img/iconSns.png) no-repeat 0 -80px;
}

.iconGooglePlusL {
	background: url(../img/iconSns.png) no-repeat 0 -120px;
}

.iconHatenaL {
	background: url(../img/iconSns.png) no-repeat 0 -160px;
}

.iconTwitterS {
	background: url(../img/iconSns.png) no-repeat -40px 0;
}

.iconMixiS {
	background: url(../img/iconSns.png) no-repeat -40px -40px;
}

.iconFacebookS {
	background: url(../img/iconSns.png) no-repeat -40px -80px;
}

.iconGooglePlusS {
	background: url(../img/iconSns.png) no-repeat -40px -120px;
}

.iconHatenaS {
	background: url(../img/iconSns.png) no-repeat -40px -160px;
}

.iconDelete {
	background: url(../img/iconDelete.png) no-repeat 0 0;
}

.iconClear {
	background: url(../img/iconClear.png) no-repeat 0 0;
}

.iconMapPinS {
	background: url(../img/iconPinS.png) no-repeat 0 0;
}

.iconTreeChain {
	background: url(../img/iconTreeChain.png) no-repeat 0 0;
}

.iconClose {
	background: url(../img/iconClose.png) no-repeat 0 0;
}

.iconRankCrown01 {
	background: url(../img/iconRankCrown.png) no-repeat 0 0;
}

.iconRankCrown02 {
	background: url(../img/iconRankCrown.png) no-repeat 0 -20px;
}

.iconRankCrown03 {
	background: url(../img/iconRankCrown.png) no-repeat 0 -40px;
}

.iconRankArwUp {
	background: url(../img/iconRankArw.png) no-repeat 0 0;
}

.iconRankArwEven {
	background: url(../img/iconRankArw.png) no-repeat 0 -16px;
}

.iconRankArwDown {
	background: url(../img/iconRankArw.png) no-repeat 0 -32px;
}

.iconGpc {
	background: url(../img/iconGpc.png) no-repeat 0 0;
}

.iconCart {
	background: url(../img/iconCart.png) no-repeat 0 0;
}

.iconCourier01 {
	background: url(../img/iconCourier.png) no-repeat 0 0;
}

.iconCourier02 {
	background: url(../img/iconCourier.png) no-repeat 0 -20px;
}

.iconCourier03 {
	background: url(../img/iconCourier.png) no-repeat 0 -40px;
}

.iconCourier04 {
	background: url(../img/iconCourier.png) no-repeat 0 -60px;
}

.iconCourier05 {
	background: url(../img/iconCourier.png) no-repeat 0 -80px;
}

.iconCourierL01 {
	background: url(../img/iconCourierL.png) no-repeat 0 0;
}

.iconCourierL02 {
	background: url(../img/iconCourierL.png) no-repeat 0 -40px;
}

.iconCourierL03 {
	background: url(../img/iconCourierL.png) no-repeat 0 -80px;
}

.iconCourierL04 {
	background: url(../img/iconCourierL.png) no-repeat 0 -120px;
}

.iconCourierL05 {
	background: url(../img/iconCourierL.png) no-repeat 0 -160px;
}


/*	valueAvgSlctr
------------------------------------------------- */
div.valueAvgSlctr {
	background: url(../img/iconRateStarL.png) no-repeat;
	width: 180px;
	height: 32px;
}

div.valueAvgSlctr.rate5_0 {
	background-position: 0 0;
}

div.valueAvgSlctr.rate4_0 {
	background-position: -36px 0;
}

div.valueAvgSlctr.rate3_0 {
	background-position: -72px 0;
}

div.valueAvgSlctr.rate2_0 {
	background-position: -108px 0;
}

div.valueAvgSlctr.rate1_0 {
	background-position: -144px 0;
}

div.valueAvgSlctr.rate0_0 {
	background-position: -180px 0;
}

div.valueAvgSlctr.undecidedRate5_0 {
	background-position: 0 -32px;
}

div.valueAvgSlctr.undecidedRate4_0 {
	background-position: -36px -32px;
}

div.valueAvgSlctr.undecidedRate3_0 {
	background-position: -72px -32px;
}

div.valueAvgSlctr.undecidedRate2_0 {
	background-position: -108px -32px;
}

div.valueAvgSlctr.undecidedRate1_0 {
	background-position: -144px -32px;
}

div.valueAvgSlctr.undecidedRate0_0 {
	background-position: -180px -32px;
}

div.starArea {
	width: 36px;
	height: 32px;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	cursor: pointer;
}

div.starArea.star01 {
}

div.starArea.star02 {
}

div.starArea.star03 {
}

div.starArea.star04 {
}

div.starArea.star05 {
}


/*	iconLink
------------------------------------------------- */
.moreUp {
	background: url(../img/iconMoreViewArwU.png) no-repeat 100% 50%;
	width: 7px;
	height: 4px;
	padding-right: 12px !important;
}

.moreUp:hover {
	background-image: url(../img/iconMoreViewArwU_on.png);
}

.moreDown {
	background: url(../img/iconMoreViewArwD.png) no-repeat 100% 50%;
	width: 7px;
	height: 4px;
	padding-right: 12px !important;
}

.moreDown:hover {
	background-image: url(../img/iconMoreViewArwD_on.png);
}

.comFollow {
	background: url(../img/iconComFollow.png) no-repeat 0 50%;
	padding: 0 0 0 20px !important;
}

.comFollow:hover {
	background: url(../img/iconComFollow_on.png) no-repeat 0 50%;
}

.comFollow.active {
	background: url(../img/iconComFollow_on.png) no-repeat 0 50%;
}

.comFollow.active:hover {
	background: url(../img/iconComFollow.png) no-repeat 0 50%;
}


/*	iconIdtTxtUnit
------------------------------------------------- */
.iconIdtTxtUnit {
}

.iconIdtTxtUnit dt {
	float: left;
}

.iconIdtTxtUnit dd {
	padding: 0 0 0 20px;
}

.noIconIdt {
	padding: 0 0 0 20px !important;
}


/* Border Box
------------------------------------------------- */
.bBoxBlackS {
	border: 1px #000 solid;
}

.bBoxBlackSB {
	border: 2px #000 solid;
}

.bBoxRedS {
	border: 1px #F00 solid;
}

.bBoxRedSB {
	border: 2px #F00 solid;
}

.bBoxWhite {
	background: #FFF;
	border: 1px #D3D4D5 solid;
}

.bBoxWhiteR {
	background: #FFF;
	border: 1px #D3D4D5 solid;
	border-radius: 3px;
}

.bBoxGray {
	background: #F3F4F5;
	border: 1px #D3D4D5 solid;
}

.bBoxGrayR {
	background: #F3F4F5;
	border: 1px #D3D4D5 solid;
	border-radius: 3px;
}

.bBoxRed {
	background: #FEE;
	border: 1px #F00 solid;
}

.bBoxRedR {
	background: #FEE;
	border: 1px #F00 solid;
	border-radius: 3px;
}

.bBoxYellow {
	background: #FFE;
	border: 1px #F90 solid;
}

.bBoxYellowR {
	background: #FFE;
	border: 1px #F90 solid;
	border-radius: 3px;
}

.bBoxBlue {
	background: #EFF;
	border: 1px solid #69C;
}

.bBoxBlueR {
	background: #EFF;
	border: 1px solid #69C;
	border-radius: 3px;
}

.bBoxGreen {
	background: #EFE;
	border: 1px solid #6C6;
}

.bBoxGreenR {
	background: #EFE;
	border: 1px solid #6C6;
	border-radius: 3px;
}


/** Pagenation
-------------------------------------------------------*/
.pagn {
	text-align: center;
	font-size: 12px;
}

.pagn table {
	width: auto !important;
	margin: 0 auto;
}

.pagn td {
	vertical-align: middle;
}

.pagn a {
	padding: 0 8px;
	line-height: 30px;
	text-decoration: none;
	border: 1px solid #D3D4D5;
	border-radius: 3px;
	display: block;
	background: #FFF;
	color: #333;
	text-align: center;
	min-width: 20px;
}

.pagn a.prev,
.pagn a.next {
	height: 30px;
	width: 120px;
	padding: 0;
	border: 1px solid #D3D4D5;
	border-radius: 3px;
}

.pagn a:hover {
	border: 1px solid #939495;
	background-color: #E3E4E5;
	text-decoration: none;
}

.pagn span.selected {
	background: #D3E9FF;
	border: 1px #84BED5 solid;
	border-radius: 3px;
	padding: 0 8px;
	line-height: 30px;
	display: block;
	color: #333;
	font-weight: bold;
	text-align: center;
}

.pagn span.dot {
	background: url(../img/iconPagnDot.png) no-repeat center center;
	height: 30px;
	width: 30px;
	padding: 0;
	border: 1px solid rgba(255,255,255,0);
	display: block;
	font-weight: bold;
	text-align: center;
}

.pagn li {
	margin: 0 2.5px;
}


/** spDtUnit
-------------------------------------------------------*/
.spDtUnit table {
	width: 100%;
}

/* firefox */
html>/**/body .puContainer .spDtUnit table, x:-moz-any-link, x:default {
	table-layout: fixed;
}

.spDtUnit .inputTd {
	width: 20px;
	vertical-align: middle;
}

.spDtUnit .imgTd {
	width: 50px;
	padding: 0 10px 0 0;
}

.spDtUnit .imgTd img {
	width: 50px;
}

.spDtUnit .ilnCntTd {
}

.spDtUnit .ilnCntTd li {
	margin: 0 5px 0 0 !important;
	padding: 0;
}

.spDtUnit .ilnCntTd li div.thumbList li {
	margin: 1px 2px 1px 0 !important;
}

.spDtUnit .dltTd {
	width: 60px;
	text-align: right;
	vertical-align: middle;
}

.spDtUnit .btnTd {
	width: 130px;
	vertical-align: middle;
	text-align: right;
	padding: 0 !important;
}

.spDtUnit .hznList li {
	margin: 0 5px 0 0;
}

.spDtUnit .pName {
	font-size: 12px;
}

.spDtUnit .cntrbtTtl {
	font-size: 12px;
}

.inputFrame .spDtUnit {
	padding: 5px;
}


/** thumbNavUnit
-------------------------------------------------------*/
.thumbNavUnit td {
	vertical-align: middle;
	font-size: 11px;
	padding: 0;
}

.thumbNavUnit .imgTd {
	width: 29px;
	vertical-align: top;
	text-align: left;
	padding: 0 5px 0 0;
}

.thumbNavUnit .imgTd img {
	max-width: 28px;
	max-height: 28px;
}


/** indentIptUnit
-------------------------------------------------------*/
.indentIptUnit {
}

.indentIptUnit div.iconCol {
	float: left;
	width: 20px;
	padding: 2px 0 0 0;
}

.indentIptUnit div.cntsCol {
	overflow: hidden;
}


/** pagnLinkBox
-------------------------------------------------------*/
.pagnLinkBox {
	background: #EDEFF4;
}

.pagnLinkBox table {
	width: 100%;
}

.pagnLinkBox a {
	display: block;
}


/** entrySelector
-------------------------------------------------------*/
.entrySelector {
	margin-top: 1px;
	cursor: pointer;
}

.entrySelector:first-child {
	margin-top: 0;
}

.entrySelector:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	box-shadow: 0 0 10px #999\9; /* IE8 */
}

.entrySelector:hover:not(:target) {
	box-shadow: 0 0 10px rgba(0,0,0,0.2); /* IE9-10 */
}

.entrySelector.multiLinkable {
	cursor: default;
}

.entrySelector.multiLinkable:hover {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.entrySelector.active {
	background: #E1F3FB;
}

.entrySelector.active:hover {
	box-shadow: none;
}

.entrySelector .loginInner {
	opacity: 0.3;
	filter: alpha(opacity=30);
	-ms-filter: "alpha(opacity=30)";
}

.entrySelector.active .loginInner {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)";
}

.entrySelector.disabled {
	cursor: not-allowed;
}


/** entryBlock
-------------------------------------------------------*/
.entryUnit {
	display: block;
}

.entryUnit .unitInner {
	padding: 15px;
}

.gridEntryBlock {
	letter-spacing: -0.4em;
}

.gridEntryBlock .entryUnit {
	position: relative;
	display: inline-block;
	letter-spacing: normal;
	vertical-align: top;
	margin-top: 0;
}

.gridEntryBlock.gridCol2 .entryUnit {
	width: 50%;
}

.gridEntryBlock.gridCol3 .entryUnit {
	width: 33.33%;
}

.gridEntryBlock.gridCol4 .entryUnit {
	width: 25%;
}

.gridEntryBlock.gridCol5 .entryUnit {
	width: 20%;
}

.gridEntryBlock.gridCol6 .entryUnit {
	width: 16.66%;
}

.gridEntryBlock.gridCol7 .entryUnit {
	width: 14.285%;
}

.gridEntryBlock .entryUnit input {
	margin-bottom: 5px;
}

.listEntryBlock {
}

.listEntryBlock .entryUnit {
	position: relative;
}

.listEntryBlock .entryUnit .unitInner {
	padding-left: 45px;
}

.listEntryBlock .entryUnit input {
	position: absolute;
	top: 17px;
	left: 15px;
}




