@charset "utf-8";

/*============================================================
 Footer
============================================================*/

div#footer {
}

div#footer div#footerBody {
	padding: 40px 0 20px;
	border-top: 1px #CCC solid;
	position: relative;
	background: -moz-linear-gradient(top, #F3F4F5, #FFF); /* Firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(#F3F4F5), to(#FFF)); /* Chrome, Safari, iOS, Android */
	background: -o-linear-gradient(top, #F3F4F5, #FFF); /* Opera */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#F3F4F5', endColorstr='#FFFFFF'); /* IE6-9 */
	background: linear-gradient(to bottom, #F3F4F5, #FFF); /* IE10+, W3C */
	zoom: 1;
}

div#footer div#footerBody.footerThin {
	padding: 15px 0;
}

div#footer div.toTop a {
	position: absolute;
	top: -1px;
	right: 10px;
	display: block;
	background: #FFF;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #CCC;
	border-radius: 0 0 5px 5px;
	padding: 5px 10px;
	text-decoration: none;
	text-align: center;
	color: #333;
	font-size: 10px;
}

div#fNav {
	padding: 0 40px;
	text-align: left;
}

div#fNav table {
	width: 100%;
}

div#fNav td {
}

div#fNav div.fNavBox {
	border-left: 1px solid #CCC;
	padding: 0 0 0 10px;
	margin: 30px 0 0 0;
}

div#fNav div.fNavBox:first-child {
	margin: 0;
}

div#fNav div.fLogo a {
	background: url(../img/logoYodobashi.png) no-repeat 0 -30px;
	display: block;
	width: 140px;
	height: 20px;
}

div.footerThin div#fNav div.fLogo a {
	margin: 0 auto;
}

div.copyright {
	font-size: 10px;
	text-align: center;
	margin: 40px 0 0 0;
	padding: 0 40px;
}

div.footerThin div.copyright {
	margin: 10px 0 0 0;
}


/** fixedToTop
-------------------------------------------------------*/
div.fixedToTop {
	position: fixed;
	bottom: 0;
	right: 10px;
	z-index: 9000;
}

div.fixedToTop a {
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #CCC;
	border-radius: 5px 5px 0 0;
	padding: 5px 10px;
	display: block;
	background: #FFF;
	text-decoration: none;
	text-align: center;
	color: #333;
	font-size: 10px;
}

div.fixedToTop a:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px #999\9; /* IE8 */
}

div.fixedToTop a:hover:not(:target) {
	box-shadow: 0 0 5px rgba(0,0,0,0.2); /* IE9-10 */
}