@charset "utf-8";
/* CSS Document */

/* pGallery
-------------------------------------------------------*/
div.galleryBox {
}

div#galleryImgArea {
}

div.galleryTileList {
	padding: 0 5px 10px;
}

div.galleryTileList li {
	margin: 10px 5px 0;
}

div.galleryTileList div.glryImgBox {
}

div.galleryTileList div.glryImgBox a {
	border: 1px #FFF solid;
	display: block;
	padding: 10px;
}

div.galleryTileList div.glryImgBox a:hover {
	border: 1px #CCC solid;
}

div.galleryTileList div.glryImgBox img {
	width: 250px;
}

div.galleryDetail {
}

div.galleryDetail table {
	width: 100%;
}

div.galleryDetail td {
	text-align: center;
	vertical-align: middle;
}

div.galleryDetail td.glryGuideArw {
	width: 30px;
}

div.galleryDetail td.glryThumbLinkImg {
	width: 92px;
}

div.galleryDetail td.glryThumbLinkImg a {
	border: 1px #CCC solid;
	display: block;
	padding: 5px;
}

div.galleryDetail td.glryThumbLinkImg a:hover {
	border: 1px #333 solid;
}
div.galleryDetail td.glryThumbLinkImg img {
	width: 80px;
}

div.glryThumbList {
	text-align: center;
}

div.glryThumbList li {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	margin: 0 5px;
	vertical-align: middle;
}

div.glryThumb {
}

div.glryThumb a {
	width: 60px;
	height: 60px;
	border: 1px #CCC solid;
	background: #FFF;
	padding: 5px;
	display: block;
}

div.glryThumb a:hover {
	border: 1px #666 solid;
}

div.glryThumb table {
	table-layout: fixed;
}

div.glryThumb td {
	width: 60px;
	height: 60px;
	vertical-align: middle;
	text-align: center;
}

div.glryThumb img {
	max-height: 60px;
	max-width: 60px;
	display: block\9; /*IE8*/
	/display: inline; /*IE7*/
}

div.glryThumb img:not(:target) {
	display: inline\9; /*IE9*/
}

div.puBox.galleryBox div.pagn a {
	padding: 0 8px;
	line-height: 30px;
	text-decoration: none;
	display: block;
	border: 1px rgba(0,0,0,0) solid;
	background: #FFF;
	color: #333;
}

div.puBox.galleryBox div.pagn a.prev {
	background: url(../img/iconPagnPrev.png) no-repeat center center;
	height: 30px;
	width: 30px;
	padding: 0;
	border: 1px rgba(0,0,0,0) solid;
}

div.puBox.galleryBox div.pagn a.next {
	background: url(../img/iconPagnNext.png) no-repeat center center;
	height: 30px;
	width: 30px;
	padding: 0;
	border: 1px rgba(0,0,0,0) solid;
}

div.puBox.galleryBox div.pagn a:hover {
	border: 1px #666 solid;
	background-color: #EFEFEF;
	text-decoration: none;
}


/* ctlgPuGlry
-------------------------------------------------------*/
div.ctlgPuGlry div.galleryDetail td.glryMainImg {
	height: 410px;
}

div.ctlgPuGlry div.galleryDetail div.pImg img {
	max-height: 410px;
	max-width: 410px;
}
