@charset "utf-8";

/*============================================================
 Header
============================================================*/

/* Fixed Contents
-------------------------------------------------------*/
#hFixedContents {
	position: fixed;
	top: 0;
	min-width: 980px;
	width: 100%;
	z-index: 10000;
	display: none;
}


/* unvHeader
-------------------------------------------------------*/
#unvHeader {
	width: 100%;
	min-width: 960px;
	height: 30px;
	background: #333;
	border-bottom: 1px solid #111;
	position: relative;
}

.adultCnts #unvHeader {
    background: #E872A7;
	border-bottom: 1px solid #BB3E64;
}

.gbNav {
}

.gnL {
	position: absolute;
	left: 0;
	text-align: justify\9;
}

.gnR {
	position: absolute;
	right: 0;
	text-align: right;
}

.gbNav .gbLiM {
	font-size: 12px;
	color: #FFF;
	position: relative;
	margin: 0;
}

.gbNav .gbLiM:hover {
	background: rgba(255,255,255,0.15);
	/background: #555;
	background: #555\9;
}

.adultCnts .gbNav .gbLiM:hover {
	/background: #ED89B6;
	background: #ED89B6\9;
}

.gbNav .gbLiM a {
	display: block;
	text-decoration: none;
	color: #FFF;
	padding: 0 10px;
	text-shadow: 1px 1px 0 #333;
}

.gbNav .gbLiM a:hover {
	_text-decoration: underline;
	_color: #F00;
}

.gbNav .gbLiM span {
	line-height: 30px;
}

.gbNav .gbLiM a .ann {
	position: absolute;
	top: 16px;
	right: -3px;
	background: #F00;
	border: 1px #C00 solid;
	border-radius: 3px;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
	padding: 1px;
	min-width: 14px;
	text-align: center;
	z-index: 1000;
}

.gbNav .gbLiM a .ann span {
	font-size: 11px;
	padding: 0;
	line-height: 14px;
	text-shadow: 1px 1px 0 #333;
}

.gbNav .gbLiS {
	font-size: 12px;
	color: #FFF;
	margin: 0;
	padding: 0 10px;
	position: relative;
}

.gbNav .gbLiS a {
	color: #FFF;
	text-decoration: underline;
}

.gbNav .gbLiS a:hover {
	color: #F00;
}

.gbNav .gbLiS span {
	line-height: 30px;
}


/* header
-------------------------------------------------------*/
#header {
	z-index: 1;
	width: 100%;
}

#headerTop {
	padding: 0 10px;
	border-bottom: 1px #999 solid;
	position: relative;
	background: -moz-linear-gradient(top, #FFF, #EFEFEF); /* Firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EFEFEF)); /* Chrome, Safari, iOS, Android */
	background: -o-linear-gradient(top, #FFF, #EFEFEF); /* Opera */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#EFEFEF'); /* IE6-9 */
	background: linear-gradient(to bottom, #FFF, #EFEFEF); /* IE10+, W3C */
	zoom: 1;	
}

#headerTop table {
	width: 100%;
	height: 50px;
}

#headerTop th {
	vertical-align: middle;
	width: 210px;
}

#headerTop td {
	vertical-align: middle;
}

#headerTop .hLoginInfo {
    white-space: nowrap;
}

#headerTop .hInfoTdL {
	padding: 0 0 0 20px;
}

#headerTop .hInfoTdR {
	width: 45%;
	padding: 0 0 0 20px;
	text-align: right;
}

h1#headerLogo,
#headerLogo {
	text-align: left;
}

h1#headerLogo a,
#headerLogo a {
	background: url(../img/logoYodobashi.png) no-repeat 0 0;
	display: block;
	text-indent: -9999px;
	width: 200px;
	height: 30px;
	margin: 0 auto;
}

.headerInfo {
	font-size: 12px;
}

.headRedInfo a {
	color: #E60000;
	text-decoration: none;
}

.headRedInfo a:hover {
	text-decoration: underline;
}


/* headerBtm
-------------------------------------------*/
#headerBtm {
	border-top: 1px #FFF solid;	
	border-bottom: 1px #999 solid;	
	background: -moz-linear-gradient(top, #EFEFEF, #E5E5E5); /* Firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#E5E5E5)); /* Chrome, Safari, iOS, Android */
	background: -o-linear-gradient(top, #EFEFEF, #E5E5E5); /* Opera */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#EFEFEF', endColorstr='#E5E5E5'); /* IE6-9 */
	background: linear-gradient(to bottom, #EFEFEF, #E5E5E5); /* IE10+, W3C */
	zoom: 1;	
}

#headerBtm table {
	width: 100%;
}

#headerBtm .cateTd {
	padding: 7px 10px;
	width: 210px;
}

#headerBtm .strcTd {
	padding: 7px 10px 7px 0;
}

.hBtmNav {
	position: relative;
	border: 1px solid #656565;
	border-radius: 5px;
	height: 32px;
	background: -moz-linear-gradient(top, #EFEFEF, #D5D5D5); /* Firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#D5D5D5)); /* Chrome, Safari, iOS, Android */
	background: -o-linear-gradient(top, #EFEFEF, #D5D5D5); /* Opera */
	background: linear-gradient(to bottom, #EFEFEF, #D5D5D5); /* IE10+, W3C */
}

.hBtmNav:hover,
.hBtmNav.selected {
}

.hBtmNav a {
	display: block;
	color: #333;
	text-decoration: none;
	padding: 0 10px;
}

.hBtmNav a:hover {
}

.hBtmNav .hBtmNavArw {
	background: url(../img/bgHeader.png) no-repeat 0 -64px;
	position: absolute;
	top: 8px;
	right: 7px;
	width: 16px;
	height: 16px;
}

.hBtmNav.selected .hBtmNavArw,
.hBtmNav:hover .hBtmNavArw {
	/*background-position: -16px -64px;*/
}

form.srcNavIn {
	position: relative;
	z-index: 11;
}

#srcUnit {
	position: relative;
}

#srcCateSelect {
	position: absolute;
	top: 0;
	left: 0;
	height: 34px;
}

#srcCateSelect .srcCateInner {
	padding: 0 0 0 3px;
}

#srcCateSelect option {
	padding: 2px 5px;
}

#srcCateSelect .cateSlctDisplay {
	background: url(../img/bgSrcIpt.png) repeat-x 0 -120px;
	/background: none;
	display: block;
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap;
	border-radius: 3px 0 0 3px;
}

#srcCateSelect .active .cateSlctDisplay {
	background-position: 0 -160px;
	text-decoration: none;
}

#srcCateSelect .focus .cateSlctDisplay {
	background-position: 0 -200px;
	text-decoration: none;
}

#srcCateSelect .cateSlctDisplay span {
	background: url(../img/iconArwSlct.png) no-repeat right 2px;
	color: #666;
	display: block;
	padding: 0 26px 0 6px;
	height: 29px;
	line-height: 29px;
	margin: 3px 0;
	font-size: 12px;
}

#srcCateSelect .active .cateSlctDisplay span {
	background-position: right -23px;
	color: #000;
}

#srcCateSelect .focus .cateSlctDisplay span {
	background-position: right -48px;
	/background-position: right -23px;
	color: #FFF;
	/color: #000;
}

.cateSlctPd {
	background: #FFF;
	border-color: #999 #999 #666 #999;
	border-width: 1px;
	border-style: solid;
	box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0 2px 5px #CCC\9; /* IE8 */
}

.cateSlctPd:not(:target) {
	box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1)\9; /* IE9-10 */
}

.cateSlctPd .cateSlctPdBody {
	height: 380px;
	overflow: auto;
}

.cateSlctPd .cateSlctPdBody a {
	color: #333;
	display: block;
	font-size: 12px;
	text-align: left;
	padding: 0 15px 0 5px;
	line-height: 20px;
	outline: none;
	text-decoration: none;
}

.cateSlctPd .cateSlctPdBody a:hover {
	color: #FFF;
	background: #39F;
	text-decoration: none;
}

.cateSlctPd .cateSlctPdBody a.selected {
	color: #FFF;
	background: #39F;
	cursor: default;
	outline: none;
}

#srcWindow {
	height: 32px;
	border-width: 1px;
	border-color: #666 #BBB #BBB #666;
	border-radius: 5px 0 0 5px;
	border-style: solid;
	background: #FFF url(../img/bgSrcIpt.png) repeat-x 0 -80px;
}

#srcWindow .srcIptInner {
	background: none;
	padding: 6px 75px 5px 10px;
	/padding: 7px 75px 6px 10px; /* IE7 */
	border-left: 1px #999 solid;
	margin: 0 0 0 1px;
}

#srcWindow .srcIptInner .editInput {
	width: 100%;
	font-size: 14px;
	background: none;
}

#srcWindow .srcIptInner .editInput::-ms-clear {
	display: none;
}

.cateSlctPd a {
	color: #333;
}

.cateSlctPd a.selected {
	text-decoration: none;
	cursor: default;
}

.srcClearBtn a {
	background: url(../img/iconSrcClear.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 9px;
	right: 50px;
	z-index: 1000;
}

.srcClearBtn a:hover {
	background-position: 0 -16px;
}

#srcBtn {
	position: absolute;
	top: 0;
	right: -5px;
	width: 46px;
}

#srcBtn input {
	background: url(../img/bgSrcIpt.png) no-repeat 0 0;
	width: 46px;
	height: 34px;
	border: none;
	cursor: pointer;
}

#srcBtn input:hover {
	background-position: 0 -40px;
}

#srcUnit.narrowed #srcBtn input {
	background-position: 0 -240px;
}

#srcUnit.narrowed #srcBtn input:hover {
	background-position: 0 -280px;
}

.adultCnts #srcUnit.narrowed #srcBtn input {
	background-position: 0 -320px;
}

.adultCnts #srcUnit.narrowed #srcBtn input:hover {
    background-position: 0 -360px;
}

#strcForSrcUnit {
	position: absolute;
	top: 0;
	right: 0;
}

.sBoxSgst {
	margin: -1px 0 0 1px;
	/margin: -4px 0 0 1px;
}

.suggestWords {
	font-size: 14px;
	line-height: 22px;
	padding: 0 6px;
}

.apprCntnr {
	position: relative;
	z-index: 3;
}


/* Category Navi
-------------------------------------------*/
.cateNavHeadBox {
	font-size: 12px;
	width: 210px;
	cursor: default;
}

#cateHeadTtl {
	font-size: 12px;
	padding: 0 15px;
	line-height: 32px;
	zoom: 1;
	font-weight: bold;
	color: #333;
}

#cateHeadTtl.selected {
	border-radius: 5px 5px 0 0;
}

.cateNavExposedArea {
	z-index: 10000;
	position: absolute;
	top: -8px;
	left: 10px;
}

.cateNavBox {
	font-size: 12px;
	width: 208px;
	background: #FFF;
	border-width: 1px;
	border-color: #000 #999 #666 #999;
	border-style: solid;
	border-radius: 0 0 5px 5px;
	box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0 2px 5px #CCC\9; /* IE8 */
}

.cateNavBox:not(:target) {
	box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1)\9; /* IE9-10 */
}

.cateNavBoxSkin {
	border-radius: 0 0 5px 5px;
}

.cateNavBox.opened {
	border-radius: 0 0 0 5px;
}

.cateNavList {
	padding: 15px;
}

.cateNavList li {
	position: relative;
}

.cateNavList li a {
	text-decoration: none;
	display: block;
	font-weight: normal;
	padding: 0 0 5px 0;
	/zoom: 1;
}

.cateNavList li.selected a {
	color: #F00;
	font-weight: bold;
}

.cateNavList li a:hover {
	color: #F00;
	font-weight: bold;
	text-decoration: underline;
}

.cateNavList .cateNavIndicator {
	background: url(../img/iconCateNavIdc.png) no-repeat 0 0;
	height: 16px;
	width: 16px;
	position: absolute;
	right: 5px;
}

.headerCateNavApprBox {
	position: absolute;
	top: -8px;
	left: 10px;
	z-index: 9000;
}

.subNavFlyout {
	position: relative;
	overflow: visible;
	width: 500px;
}

.navWinWide {
	width: 769px;
}

.subCateWrap {
	height: 100%;
	position: absolute;
	top: 0;
	left: 209px;
	background: #FFF;
	border-radius: 0 0 5px 0;
	border-width: 1px;
	border-color: #000 #999 #666 #999;
	border-style: solid;
	width: 290px;
	box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0 2px 5px #CCC\9; /* IE8 */
}

.subCateWrap:not(:target) {
	box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1)\9; /* IE9-10 */
}

.navWinWide .subCateWrap {
	width: 560px;
}

.subCateUnit {
	position: absolute;
	height: 100%;
	width: 100%;
}

.subCateNav {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.subCateTxtNav {
	position: absolute;
	left: 20px;
	top: 15px;
}

.parentCateNav {
	margin: 0 0 5px 0;
}

.parentCateNav a {
	display: block;
	font-size: 14px;
	text-decoration: none;
}

.parentCateNav a:hover {
	text-decoration: underline;
}

.subCateTxtNav ul {
	width: 250px;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: top;
	margin: 0 20px 0 0;
}

.subCateTxtNav li a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	padding: 0 0 5px 0;
}

.subCateTxtNav li a:hover {
	text-decoration: underline;
}

.apprPrmBox {
	position: absolute;
}

.prmAreaTL {
	top: 15px;
	left: 20px;
}

.prmAreaTR {
	top: 15px;
	right: 20px;
}

.prmAreaBL {
	left: 20px;
	bottom: 15px;
}

.prmAreaBR {
	right: 20px;
	bottom: 15px;
}

.bnrAreaTR {
	top: 0;
	right: 0;
}

.bnrAreaBR {
	right: 0;
	bottom: 0;
}

.bnrAreaTRov {
	top: -30px;
	right: -30px;
}

.bnrAreaBRov {
	right: -30px;
	bottom: -30px;
}

.apprRecItemBox {
	width: 250px;
}

.apprRecItem {
}

.apprRecItem table {
	width: 100%;
	table-layout: fixed;
}

.apprRecItem .imgArea {
	width: 40px;
	padding: 0 10px 0 0;
}

.apprRecItem .imgArea img {
	width: 40px;
}

.apprRecItem .pName {
	font-size: 12px;
}

.apprRecItem .pName .brand,
.apprRecItem .pName .product {
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal; 
	text-overflow: ellipsis;
}

.prmAreaTL .apprRecItem {
	margin: 0 0 10px 0;
}

.prmAreaTR .apprRecItem {
	margin: 0 0 10px 0;
}

.prmAreaBL .apprRecItem {
	margin: 10px 0 0 0;
}

.prmAreaBR .apprRecItem {
	margin: 10px 0 0 0;
}


/* Cart Item Navi
-------------------------------------------*/
#cartNav {
	position: relative;
}

#cartNav.selected {
	border-radius: 5px 5px 0 0;
}

#cartNav .cartNavInner {
	padding: 0 18px 0 0;
}

#cartNav .cartNavLine {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	line-height: 1.1;
}

.cartIcon {
	background: url(../img/bgHeader.png) no-repeat 0 0;
	width: 32px;
	height: 32px;
	margin: 0 3px 0 0;
}

#cartNav .itemCount {
	line-height: 32px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #F00;
	margin: 0 3px 0 0;
}

#cartNav:hover .itemCount {
}

#cartNav .textInfo {
	font-size: 10px;
	line-height: 1.1;
}

#cartNav .totalPrice {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.1;
	font-family: Arial, meiryo, Helvetica, sans-serif;
}

.cartItemNavExposedArea {
	z-index: 10000;
	position: absolute;
	top: -8px;
	right: 10px;
}

.cartItemNavBox {
	font-size: 12px;
	width: 260px;
	background: #FFF;
	border-width: 1px;
	border-color: #000 #999 #666 #999;
	border-style: solid;
	border-radius: 0 0 5px 5px;
	box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 2px 0px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.1);
}

.cartItemNavBoxSkin {
	padding: 15px;
}

.cartItemNavList {
}

.cartItemNavList li {
	position: relative;
}

.cartItemNavList li a {
	text-decoration: none;
	display: block;
	/zoom: 1;
	padding: 0 0 10px 45px;
}

.cartItemNavList li a:hover {
	text-decoration: none;
}

.cartItemNavList li a .pImg {
	position: absolute;
	top: 0;
	left: 0;
}

.cartItemNavList li a .pImg img {
	width: 30px;
}

.cartItemNavList li a .pName {
	color: inherit;
	font-size: 11px;
}

.cartItemNavList li a:hover .pName {
	text-decoration: underline;
}

.cartItemNavList li a .pInfo {
	color: #666;
	font-size: 11px;
}

.cartItemNavBtn {
	text-align: center;
	margin: 10px 0 0 0;
}


/** Alert Message
-------------------------------------------------------*/
.headAlertMsg {
	background: #FFF;
	border: 10px solid #F00;
	padding: 20px;
}

.headAlertMsg .iconArea {
	width: 32px;
	padding: 0 20px 0 0;
	vertical-align: middle;
}

.headAlertMsg .ttl {
	font-size: 30px;
}

.headAlertMsg .txt {
	font-size: 14px;
}


/** deviceSwitch
-------------------------------------------------------*/
.deviceSwitch {
}

.deviceSwitch a {
	display: block;
	padding: 20px;
	background: #F2F7FB;
	font-size: 60px;
	text-align: center;
	text-decoration: none;
}
