@charset "utf-8";

/*============================================================
 Popup & Pulldown
============================================================*/

/* Base
-------------------------------------------------------*/
div.apContainer {
}

div.apOverlay {
	background: #000;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter: alpha(opacity=80);
	position: fixed;
	z-index: 999;
}

div.apPopup {
	position: absolute;
	z-index: 1000;
}


/* Common
-------------------------------------------------------*/
div.puHeadContainer {
	padding: 15px;
	border-bottom: 1px solid #D3D4D5;
}

div.puContainer {
}

div.puSbmContainer {
	padding: 10px;
	background: #F3F4F5;
	border-top: 1px solid #D3D4D5;
	border-radius: 0 0 5px 5px;
}

div.puContainer.puLoadingBase {
	position: relative;
	height: 100%;
	width: 100%;
}


/* Popup Type
-------------------------------------------------------*/
div.puBox {
	position: relative;
	z-index: 1000;
	background: #FFF;
	border-radius: 5px;
}

div.puBox div.close {
	position: absolute;
	top: 5px;
	right: 5px;
}

div.puBox div.close a {
	background: url(../img/iconPuClose.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
	z-index: 1000;
	transition: all 0.3s ease 0s;
	opacity: 0.4;
	display: block;
}

div.puBox div.close a:hover {
	opacity: 0.9;
}

div.puBox iframe.puIF {
	width: 100%;
	height: 100%;
	border: none;
}

div.puBox div.thumbListSection {
	padding: 10px 0 0 10px;
	font-size: 11px;
}

div.puBox div.thumbListSection li {
	margin: 0 10px 10px 0 !important;
	width: 31%;
}

div.puBox div.thumbListSection li a {
	display: inline;
}

div.puBox div.thumbListSection td.inputTd {
	width: 20px;
	vertical-align: middle;
}

div.puBox div.thumbListSection td.imgTd {
	width: 40px;
	padding: 0 10px 0 0;
}

div.puBox div.thumbListSection td.imgTd img {
	width: 40px;
}

div.puBox div.breakdown {
	font-size: 11px;
}

div.puBox div.breakdown div.total table {
	width: 100%;
}

div.puBox div.breakdown div.total th {
	vertical-align: middle;
	text-align: left;
	font-weight: normal;
}

div.puBox div.breakdown div.total td {
	vertical-align: middle;
	text-align: right;
}

div.puBox iframe.puIframe {
	background: none;
	border: none;
	width: 100%;
}

div.puNavList {
	font-size: 11px;
}

div.puNavList li {
	border-top: 1px solid #E3E4E5;
	padding: 5px;
	/zoom: 1;
}

div.puNavList li:first-child {
	border: none;
}


/* Pulldown Type
-------------------------------------------------------*/
div.pdUnitBox {
	background: #FFF;
	border: 1px solid #B3B4B5;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.1), -2px 2px 6px rgba(0,0,0,0.1);
	/*-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.1), -2px 2px 2px rgba(0,0,0,0.1);*/
	/*-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.1), -2px 2px 2px rgba(0,0,0,0.1);*/
	box-shadow: 0 2px 5px #CCC\9; /* IE8 */
	position: relative;
	z-index: 1000;
}

div.pdUnitBox:not(:target) {
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1), 0px 4px 4px rgba(0,0,0,0.1), -2px 2px 2px rgba(0,0,0,0.1)\9; /* IE9-10 */
}

div.pdUnitBox div.tale {
	background: url(../img/bgPuTaleUpW.png) no-repeat 0 0;
	position: absolute;
	top: -13px;
	width: 25px;
	height: 13px;
	z-index: 1000;
}

div.pdLinkNavList {
	font-size: 11px;
}

div.pdLinkNavList li {
	border-top: 1px solid #D3D4D5;
	/zoom: 1;
}

div.pdLinkNavList li:first-child {
	border: none;
}

div.pdLinkNavList li:hover {
	background: #F3F4F5;
}

div.pdLinkNavList li a {
	display: block;
	text-decoration: none;
	color: #333;
	padding: 5px;
}

div.pdLinkNavList div.userName,
div.pdLinkNavList div.pName {
	font-size: 11px;
}

div.pdMultiLinkNavList {
	font-size: 11px;
}

div.pdMultiLinkNavList li {
	border-top: 1px solid #D3D4D5;
	padding: 5px;
	/zoom: 1;
}

div.pdMultiLinkNavList li.unread {
	background: #FFE;
}

div.pdMultiLinkNavList li:first-child {
	border: none;
}

div.pdMultiLinkNavList li:hover {
	background: #F3F4F5;
}

div.pdMultiLinkNavList li a {
}

div.pdMoreview {
	border-top: 1px solid #B3B4B5;
}

div.pdMoreview a {
	display: block;
	text-decoration: none;
	color: #333;
	padding: 5px;
	text-align: center;
}

div.pdMoreview a:hover {
	background: #76b1d4;
	color: #FFF;
}

div.pdImgNavUnit div.imgCol {
	float: left;
	padding: 0 10px 0 0;
}

div.pdImgNavUnit div.imgCol img {
	width: 50px;
}

div.pdImgNavUnit div.infoCol {
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	height: 50px;
}

/* old pd */
div.pdLinkList {
	font-size: 11px;
}

div.pdLinkList li a {
	display: block;
	text-decoration: none;
}

div.pdLinkList li a span.txdcUl {
	text-decoration: underline;
}

div.pdLinkList li a:hover {
	background: #F5F5F5;
}

div.pdLinkList li.slctBoxNav div.inner {
	padding: 5px !important;
}

div.pdLinkList li.slctBoxNav a {
	color: inherit;
	/color: #333;
}

div.pdLinkList li.slctTxtNav a:hover {
	text-decoration: underline;
}

div.pdLinkList li.slctTxtNav div.inner {
	padding: 5px 10px !important;
}

div.pdLinkList li.btmTxtNav div.inner {
	padding: 5px 10px !important;
}

div.pdLinkList li.btmTxtNav table {
	width: 100%;
}

div.pdNewsList {
	font-size: 11px;
}

div.pdNewsList li {
	border-top: 1px #CCC dashed;
	padding: 5px;
	zoom: 1;
}

div.pdNewsList li:first-child {
	border: none;
}

div.pdNewsList li.unread {
	background: #FFE;
}

div.pdNewsList li:hover {
	background: #F5F5F5;
}


/** deliveryCalendar(EC)
-------------------------------------------------------*/
div.deliveryCalendar {
	font-size: 11px;
	position: relative;
}

div.deliveryCalendar table {
	width: 100%;
}

div.deliveryCalendar th {
	text-align: center;
	border: 1px solid #CCC;
	font-weight: normal;
}

div.deliveryCalendar th.sunday {
	background: #FEE;
}

div.deliveryCalendar th.saturday {
	background: #EEF;
}

div.deliveryCalendar td {
	width: 130px;
	border: 1px solid #CCC;
	height: 334px;
}

div.deliveryCalendar div.dayName {
	padding: 5px;
}

div.deliveryCalendar div.dayWrap {
	position: relative;
}

div.deliveryCalendar div.chip {
	position: absolute;
	left: 5px;
	width: 115px;
	height: 40px;
	line-height: 40px;
	background: #EFEFEF;
	border: 1px solid #CCC;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}

div.deliveryCalendar div.chip:hover {
	background: #3CF;
	border: 1px solid #39F;
	color: #FFF;
}

div.deliveryCalendar div.chip.active {
	background: #F00;
	border: 1px solid #C00;
	color: #FFF;
	cursor: default;
}

div.deliveryCalendar div.chip.disabled {
	background: #FFF;
	border: 1px solid #E5E5E5;
	color: #CCC;
	cursor: not-allowed;
}

div.deliveryCalendar div.dtToday {
	height: 322px;
	line-height: 322px;
	top: 5px;
}

div.deliveryCalendar div.dtNone {
	top: 5px;
}

div.deliveryCalendar div.dtMorning {
	top: 52px;
}

div.deliveryCalendar div.dt1214 {
	top: 99px;
}

div.deliveryCalendar div.dt1416 {
	top: 146px;
}

div.deliveryCalendar div.dt1618 {
	top: 193px;
}

div.deliveryCalendar div.dt1820 {
	top: 240px;
}

div.deliveryCalendar div.dt2022 {
	top: 287px;
}

div.calenderNav {
	margin: 10px 0 0 0;
	text-align: right;
}

div.calenderNavBtn {
	background: #EFEFEF;
	border: 1px solid #B5B5B5;
	cursor: pointer;
	opacity: 0.75;
	font-size: 11px;
}

div.calenderNavBtn:hover {
	opacity: 1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

div.calenderNavBtn.prev {
	padding: 5px 10px 5px 5px;
	border-radius: 5px 0 0 5px;
	margin: 0 -1px 0 0;
}

div.calenderNavBtn.next {
	padding: 5px 5px 5px 10px;
	border-radius: 0 5px 5px 0;
}

div.deliverySubSlct {
	font-size: 11px;
}

div.deliverySubSlct table {
	width: 100%;
}

div.deliverySubSlct td {
	width: 50%;
	border: 1px solid #CCC;
	padding: 5px;
}

div.deliverySubSlct div.chip {
	height: 40px;
	line-height: 40px;
	background: #EFEFEF;
	border: 1px solid #CCC;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}

div.deliverySubSlct div.chip:hover {
	background: #3CF;
	border: 1px solid #39F;
	color: #FFF;
}

div.deliverySubSlct div.chip.active {
	background: #F00;
	border: 1px solid #C00;
	color: #FFF;
	cursor: default;
}

div.deliverySubSlct div.chip.disabled {
	background: #FFF;
	border: 1px solid #E5E5E5;
	color: #CCC;
	cursor: not-allowed;
}


/** addressSlctList
-------------------------------------------------------*/
div.addressSlctList {
}

div.addressSlctList li {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	width: 25%;
}

div.addressSlctList li a {
	display: block;
	font-size: 13px;
	padding: 10px;
}

div.addressSlctList li a:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

div.listFilterBox {
	background: #F5F5F5;
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 5px;
	font-size: 11px;
}

div.listFilterBox table {
	width: 100%;
}

div.listFilterBox td {
	vertical-align: middle;
}

div.listFilterBox td.pgNum {
	text-align: right;
	padding: 0 10px 0 0;
}

div.listFilterBox td.pgNav {
	text-align: right;
	width: 120px;
}

div.filterNav {
	border-radius: 5px;
}

div.filterNav li {
	margin: 0 0 0 -1px;
}

div.filterNavBtn {
	background: #FFF;
	border: 1px solid #B5B5B5;
	cursor: pointer;
	opacity: 0.75;
	font-size: 11px;
	padding: 5px 10px;
}

div.filterNavBtn:hover {
	opacity: 1;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

div.filterNavBtn.active {
	opacity: 1;
	color: #FFF;
	font-weight: bold;
	border: 1px solid #F00;
	background: #F00;
}

div.filterNavBtn.active:hover {
	box-shadow: none;
	cursor: default;
}

div.filterNavBtn.disabled {
	opacity: 0.2;
	cursor: default;
}

div.filterNavBtn.disabled:hover {
	box-shadow: none;
}

div.filterNav li:first-child div.filterNavBtn {
	border-radius: 5px 0 0 5px;
}

div.filterNav li:last-child div.filterNavBtn {
	border-radius: 0 5px 5px 0;
}

div.pagingNav {
}

div.pagingNavBtn {
	background: #FFF;
	border: 1px solid #B5B5B5;
	cursor: pointer;
	opacity: 0.75;
	font-size: 11px;
}

div.pagingNavBtn:hover {
	opacity: 1;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

div.pagingNavBtn.prev {
	padding: 5px 10px 5px 5px;
	border-radius: 5px 0 0 5px;
	margin: 0 -1px 0 0;
}

div.pagingNavBtn.next {
	padding: 5px 5px 5px 10px;
	border-radius: 0 5px 5px 0;
}

div.pagingNavBtn.disabled {
	opacity: 0.2;
	cursor: default;
}

div.pagingNavBtn.disabled:hover {
	box-shadow: none;
}


/** touchUi
-------------------------------------------------------*/
div.touchUi {
	height: 40px;
	line-height: 40px;
	background: #EFEFEF;
	border: 1px solid #CCC;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	font-size: 12px;
}

div.touchUi:hover {
	background: #3CF;
	border: 1px solid #39F;
	color: #FFF;
}

div.addressSlctHead {
	border-bottom: 1px solid #CCC;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

div.addressSlctList table {
	width: 100%;
}

div.addressSlctList td {
	padding: 0 2.5px 5px;
	width: 25%;
}


/** tooltip
-------------------------------------------------------*/
div.tooltipImg {
	text-align: center;
}

div.tooltipText {
	font-size: 11px;
}

div.tooltip {
	position: relative;
}

div.tooltip div.tail {
	height: 8px;
	width: 16px;
	position: absolute;
}

div.uiContextualLayerAboveCenter div.tooltip,
div.uiContextualLayerAboveLeft div.tooltip,
div.uiContextualLayerAboveRight div.tooltip {
	padding: 0 0 7px 0;
}

div.uiContextualLayerBelowCenter div.tooltip,
div.uiContextualLayerBelowLeft div.tooltip,
div.uiContextualLayerBelowRight div.tooltip {
	padding: 7px 0 0 0;
}

div.uiContextualLayerAboveCenter div.tooltip div.tail,
div.uiContextualLayerAboveLeft div.tooltip div.tail,
div.uiContextualLayerAboveRight div.tooltip div.tail {
	background: url(../img/bgTooltipTail.png) no-repeat 0 0;
	bottom: 0;
}

div.uiContextualLayerBelowCenter div.tooltip div.tail,
div.uiContextualLayerBelowLeft div.tooltip div.tail,
div.uiContextualLayerBelowRight div.tooltip div.tail {
	background: url(../img/bgTooltipTail.png) no-repeat -16px 0;
	top: 0;
}

div.uiContextualLayerAboveCenter div.tooltip div.tail,
div.uiContextualLayerBelowCenter div.tooltip div.tail {
	left: 50%;
	margin: 0 0 0 -8px;
}

div.uiContextualLayerAboveLeft div.tooltip div.tail,
div.uiContextualLayerBelowLeft div.tooltip div.tail {
	left: 8px;
}

div.uiContextualLayerAboveRight div.tooltip div.tail,
div.uiContextualLayerBelowRight div.tooltip div.tail {
	right: 8px;
}

div.tooltip div.tooltipContent {
	border-radius: 3px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	max-width: 360px;
}

div.tooltip div.tooltipContent div.tooltipText {
	padding: 10px;
}

/* tt01 ========================================= */
div.uiContextualLayerAboveCenter div.tooltip.tt01 div.tail,
div.uiContextualLayerAboveLeft div.tooltip.tt01 div.tail,
div.uiContextualLayerAboveRight div.tooltip.tt01 div.tail {
	background-position: 0 0;
}

div.uiContextualLayerBelowCenter div.tooltip.tt01 div.tail,
div.uiContextualLayerBelowLeft div.tooltip.tt01 div.tail,
div.uiContextualLayerBelowRight div.tooltip.tt01 div.tail {
	background-position: -16px 0;
}

div.tooltip.tt01 div.tooltipContent {
	background: #111;
	border: 1px solid #000;
	color: #FFF;
}

/* tt02 ========================================= */
div.uiContextualLayerAboveCenter div.tooltip.tt02 div.tail,
div.uiContextualLayerAboveLeft div.tooltip.tt02 div.tail,
div.uiContextualLayerAboveRight div.tooltip.tt02 div.tail {
	background-position: 0 -8px;
}

div.uiContextualLayerBelowCenter div.tooltip.tt02 div.tail,
div.uiContextualLayerBelowLeft div.tooltip.tt02 div.tail,
div.uiContextualLayerBelowRight div.tooltip.tt02 div.tail {
	background-position: -16px -8px;
}

div.tooltip.tt02 div.tooltipContent {
	background: #FFF;
	border: 1px solid #F00;
}

/* tt03 ========================================= */
div.uiContextualLayerAboveCenter div.tooltip.tt03 div.tail,
div.uiContextualLayerAboveLeft div.tooltip.tt03 div.tail,
div.uiContextualLayerAboveRight div.tooltip.tt03 div.tail {
	background-position: 0 -16px;
}

div.uiContextualLayerBelowCenter div.tooltip.tt03 div.tail,
div.uiContextualLayerBelowLeft div.tooltip.tt03 div.tail,
div.uiContextualLayerBelowRight div.tooltip.tt03 div.tail {
	background-position: -16px -16px;
}

div.tooltip.tt03 div.tooltipContent {
	background: #FFE;
	border: 1px solid #F90;
}

/* tt04 ========================================= */
div.uiContextualLayerAboveCenter div.tooltip.tt04 div.tail,
div.uiContextualLayerAboveLeft div.tooltip.tt04 div.tail,
div.uiContextualLayerAboveRight div.tooltip.tt04 div.tail {
	background-position: 0 -24px;
}

div.uiContextualLayerBelowCenter div.tooltip.tt04 div.tail,
div.uiContextualLayerBelowLeft div.tooltip.tt04 div.tail,
div.uiContextualLayerBelowRight div.tooltip.tt04 div.tail {
	background-position: -16px -24px;
}

div.tooltip.tt04 div.tooltipContent {
	background: #FFF;
	border: 1px solid #434445;
}

/* tt05 ========================================= */
div.uiContextualLayerAboveCenter div.tooltip.tt05 div.tail,
div.uiContextualLayerAboveLeft div.tooltip.tt05 div.tail,
div.uiContextualLayerAboveRight div.tooltip.tt05 div.tail {
	background-position: 0 -32px;
}

div.uiContextualLayerBelowCenter div.tooltip.tt05 div.tail,
div.uiContextualLayerBelowLeft div.tooltip.tt05 div.tail,
div.uiContextualLayerBelowRight div.tooltip.tt05 div.tail {
	background-position: -16px -32px;
}

div.tooltip.tt05 div.tooltipContent {
	background: rgba(0,0,0,0.8);
	color: #FFF;
}


/** Search Suggest
-------------------------------------------------------*/
div.srcSgstBox {
	background: #FFF;
	margin: 0 0 0 1px;
}

div.bcKwIptFrame div.srcSgstBox {
	margin: 0 0 0 -4px;
}

div.sgstLink {
	font-size: 13px;
	padding: 5px;
	cursor: pointer;
}

div.sgstLink.active {
	background: #E1F3FB;
}

div.sgstLink span.srcFltr {
	font-size: 12px;
	margin: 0 0 0 10px;
	color: #999;
}


.srcSgstBox hr {
	border: none;
	border-top: 1px solid #E3E4E5;
	margin: 5px 10px;
}

.srcSgstBox.bcSrcSgst {
	width: 185px;
	padding: 3px 0;
}

.srcSgstBox.bcSrcSgst .sgstLink {
	font-size: 11px;
	padding: 3px 6px;
}

.srcSgstBox.bcSrcSgst .sgstLink .srcFltr {
	font-size: 11px;
}


/** storeInfoList
-------------------------------------------------------*/
div.storeInfoListHead {
	font-size: 11px;
}

div.storeInfoListHead table {
	width: 100%;
}

div.storeInfoListHead th {
	font-weight: normal;
	vertical-align: middle;
	/*border-left: 1px dotted #CCC;*/
	padding: 5px 10px;
}

div.storeInfoListHead th.priceArea {
	width: 120px;
	text-align: left;
}

div.storeInfoListHead th.stockArea {
	width: 80px;
	text-align: left;
}

div.storeInfoListHead th.receiveInfoArea {
	width: 260px;
	text-align: left;
}

div.storeInfoListHead th.exhibitArea {
	width: 50px;
	text-align: center;
}

div.storeInfoListHead th.buyArea {
	width: 150px;
	text-align: center;
}

div.storeInfoList {
}

div.storeInfoList div.entryBlock {
	border-top: 1px dashed #CCC;
}

div.storeInfoList div.entryBlock:first-child {
	border-top: none;
}

div.storeInfoUnit {
	font-size: 11px;
	padding: 10px 0;
}

div.storeInfoUnit table {
	width: 100%;
}

div.storeInfoUnit td {
	vertical-align: top;
	padding: 0 0 0 10px;
}

div.storeInfoUnit td.inputArea {
	width: 16px;
}

div.storeInfoUnit td.priceArea {
	width: 120px;
	text-align: left;
	padding: 0 10px;
}

div.storeInfoUnit td.stockArea {
	width: 80px;
	text-align: left;
	padding: 0 10px;
}

div.storeInfoUnit td.receiveInfoArea {
	width: 260px;
	text-align: left;
	padding: 0 10px;
}

div.storeInfoUnit td.exhibitArea {
	width: 50px;
	text-align: center;
	padding: 0 10px;
}

div.storeInfoUnit td.buyArea {
	width: 150px;
	padding: 0 10px;
	text-align: center;
}

div.storeInfoUnit div.storeName {
	font-size: 12px;
}

div.storeInfoUnit div.storeDetailInfo {
	margin: 5px 0 0 0;
}

div.storeInfoUnit div.receiveInfoBreakdown {
	margin: 5px 0 0 0;
	padding: 0 0 0 10px;
}


/** orderEntry
-------------------------------------------------------*/
div.puContainer div.dashboard {
	padding: 0;
}

div.puContainer div.dashboardElement {
	margin: 30px 0 0 0;
}

div.puContainer div.dashboardElement:first-child {
	margin: 0;
}

/** ebook
-------------------------------------------------------*/
.ebookSetItemDetailBlock {
	margin-top: 15px;
}

.ebookSetItemDetailBlock .ebookSetItemList li {
	margin-top: 10px;
	font-size: 12px;
	padding: 0 15px;
}





