@charset "utf-8";

/*============================================================
 Products
============================================================*/

/* Common
-------------------------------------------------------*/
.pName {
	font-size: 12px;
}

h1.pName {
	font-size: 20px;
	line-height: 1.3;
	font-weight: normal;
}

.errBox {
	background: #FEE;
	border: 1px solid #F00;
	border-radius: 3px;
	padding: 15px;
	color: #F00;
	font-size: 11px;
	margin-top: 15px;
	text-align: left;
}

.msgInfoBox {
	background: #EFE;
	border: 1px solid #6C6;
	border-radius: 3px;
	padding: 15px;
	font-size: 11px;
	margin-top: 15px;
	text-align: left;
}

.listprice {
	font-size: 11px;
	text-decoration: line-through;
	margin: 0 5px 0 0;
}

span.taxInfo {
	font-size: 10px;
	color: #F00;
	vertical-align: middle;
}

.pSubInfo {
	font-size: 11px;
	margin-top: 5px;
}

.pSubInfo li {
	margin: 0 0 0 10px;
}

.pSubInfo li:first-child {
	margin: 0;
}

.pInfo {
	font-size: 12px;
}

.mediaTagRow {
	margin-top: 5px;
}

#productInfo .mediaTagRow {
	margin: 5px 0 10px;
}

.mediaTagRow li {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: middle;
	margin-left: 3px !important;
}

.mediaTagRow li:first-child {
	margin: 0 !important;
}

.mediaTag {
	background: #76A4FF;
	color: #FFF;
	padding: 1px 4px;
	font-size: 10px;
}

#productInfo .mediaTag {
	padding: 2px 5px;
	font-size: 11px;
}

.avgCR {
	margin: 5px 0 0 0;
	font-size: 11px;
}

.avgCR li {
	margin: 0 0 0 15px;
}

.avgCR li:first-child {
	margin: 0;
}

.avgCR li a {
	text-decoration: underline;
	vertical-align: middle;
}

.rankInfo {
	font-size: 12px;
}

.pComHeadInfo {
	margin: 10px 0 0 0;
}

.pComHeadInfo .avgCR {
	margin: 0;
}

#pMainContainer .avgCR li {
	margin: 0 10px 5px 0;
	border-left: 1px solid #CCC;
	padding: 0 0 0 10px;
}

#pMainContainer .avgCR li:first-child {
	border-left: none;
	padding: 0;
}

.salesTag {
	margin: 10px 0 0 0;
	font-size: 12px;
}

.salesTag li {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	margin: 0 5px 0 0;
	padding: 5px 10px;
	border: 1px #333 solid;
	border-radius: 2px;
	font-weight: bold;
}

.communityNav {
	font-size: 11px;
	position: relative;
	margin: 5px 0 0 0;
}

.communityNav li {
	margin: 5px 10px 0 0;
}

.pInfoTbl {
	margin: 15px 0 0 0;
	font-size: 12px;
	border-top: 1px dashed #D3D4D5;
	border-bottom: 1px dashed #D3D4D5;
	padding: 15px 0;
}

.pInfoTbl th {
	text-align: right;
	font-weight: normal;
	color: #666;
	width: 100px;
	line-height: 20px;
	padding: 2px 0;
	font-size: 11px;
}

.pInfoTbl td {
	line-height: 20px;
	padding: 2px 0;
}

.pInfoTbl .stockInfo {
	font-size: 16px;
}

.pInfoTbl .deliveryInfo {
	display: block;
}

.pInfoTbl .oldPrice {
	font-weight: normal;
	text-decoration: line-through;
}

.pInfoTbl .listPrice {
	font-weight: normal;
}

.pInfoTbl .deliInfo span {
}

.pInfoTbl .deliPrice span {
	vertical-align: middle;
}

.variInfo {
	font-size: 11px;
	margin: 5px 0 0 0;
}

.variInfo li {
	margin: 0 10px 0 0;
}

.stock {
	font-size: 12px;
	margin: 10px 0 0 0;
}

.pCaption {
	font-size: 12px;
	margin: 15px 0 0 0;
}

.pCaption p {
	margin-top: 15px;
}

.pCaption p:first-child {
	margin-top: 0;
}

.pBnrInfo {
	margin-top: 15px;
}

.pBnrInfo img {
	border: 1px solid #D3D4D5;
	border-radius: 5px;
}

.pRanking {
	font-size: 12px;
	margin: 15px 0 0 0;
}

.pRanking .ttl {
}

.pRanking .pRankingBcUnit {
	clear: both;
}

.pRanking .pRankingBcUnit .rankNum {
	float: left;
	width: 70px;
	text-align: right;
	padding: 0 10px 0 0;
}

.pRanking .pRankingBcUnit .rankBc {
	overflow: hidden;
}

.recNewModel {
	margin: 15px 0 0 0;
	padding: 15px 15px 0;
	border-radius: 3px;
	border: 1px #9C9 solid;
	font-size: 12px;
}

.recNewModel .ttl {
}

.recNewModelList {
}

.recNewModelList .recNewModelBlock {
	border-top: 1px solid #E3E4E5;
	padding: 15px;
}

.recNewModelList .recNewModelBlock:first-child {
	border-top: none;
}

.recNewModelBlock th {
	width: 80px;
	padding: 0 20px 0 0;
}

.recNewModelBlock td {
}

.recNewModelBlock .pImg img {
	max-width: 80px;
	max-height: 80px;
}

.recNewModelBlock .pName {
	font-size: 13px;
}

.recNewModelBlock .pInfo {
	margin: 5px 0 0 0;
}

.recNewModelBlock .stockInfo {
	margin: 0 10px 0 0;
}

.recNewModelBlock .deliveryInfo {
	margin: 0 10px 0 0;
}

#productInfo .opacity {
	opacity: 0.2;
	filter: alpha(opacity=20);
	/visibility: hidden;
	-ms-filter: "alpha(opacity=20)";
}

.buyBox {
	background: #FFF;
	border: 1px solid #D3D4D5;
	border-radius: 3px;
	margin: 0 0 10px 0;
}

.buyBox .buyBoxMain {
	background: #F3F4F5;
	padding: 15px;
	text-align: center;
}

.buyBox .buyBoxSub {
	border-top: 1px solid #D3D4D5;
	padding: 15px;
	text-align: center;
}

.buyBox div:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.buyBox div:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.buyBoxMain > div {
	margin: 15px 0 0 0;
}

.buyBoxMain > div:first-child {
	margin: 0;
}

.buyBoxMain .quantityInfo {
	font-size: 11px;
}

.buyBoxMain .quantityInfo .numIpt {
	font-size: 12px;
}

.buyBoxMain .quantityInfo .numIpt select {
	font-size: 14px;
}

.buyBoxMain .salesInfo {
	font-size: 14px;
}

.buyBoxMain .salesSubInfo {
	font-size: 12px;
}

.buyBoxMain .buyBtn li {
	margin: 15px 0 0 0;
}

.buyBoxMain .buyBtn li:first-child {
	margin: 0;
}

.buyBoxMain .nbInfo {
	font-size: 11px;
	margin: 15px 0 0 0;
}

.buyBoxMain .downloadDeviceInfo {
	border: 1px solid #D3D4D5;
	border-radius: 3px;
	font-size: 11px;
	padding: 15px;
}

.buyBoxMain .downloadDeviceInfo .ttl {
	margin-bottom: 10px;
}

.buyBoxMain .downloadDeviceInfo .deviceList {
	text-align: left;
}

.buyBoxMain .downloadDeviceInfo .deviceList li {
	margin-top: 5px;
	position: relative;
}

.buyBoxMain .downloadDeviceInfo .deviceList li:first-child {
	margin: 0;
}

.buyBoxMain .downloadDeviceInfo .deviceList li .deviceName {
	padding-left: 38px;
}

.buyBoxMain .downloadDeviceInfo .deviceList li .deviceIcon {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: #333435;
	border-radius: 2px;
	width: 30px;
	line-height: 15px;
	text-align: center;
	font-size: 10px;
	color: #FFF;
}

.buyBoxMain .downloadDeviceInfo .deviceList .disabled .deviceName {
	color: #939495;
}

.buyBoxMain .downloadDeviceInfo .deviceList .disabled .deviceIcon {
	background: #C3C4C5;
}

.packagePurchase {
	background: #F3F4F5;
	padding: 17px 0 0 0;
	position: relative;
	/zoom: 1;
}

.packagePurchase .ppTail {
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0 0 0 -18px;
	width: 36px;
	height: 18px;
	background: url(../img/bgPackagePurchaseTail.png) no-repeat 0 0;
}

.packagePurchase .ppBody {
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 3px;
}

.packagePurchase .ttl {
	font-size: 12px;
	margin: 0 0 10px 0;
}

.packagePurchaseItemList {
}

.packagePurchaseItem {
	border-top: 1px dashed #CCC;
	padding: 10px;
}

.packagePurchaseItem:first-child {
	border: none;
}

.packagePurchaseItem td {
	padding: 0;
	vertical-align: top;
}

.packagePurchaseItem .ppSlctChk {
	float: left;
	margin: 0 10px 0 0;
}

.packagePurchaseItem .ppItemInfo {
	overflow: hidden;
}

.packagePurchaseItem .ppItemInfo.disabled {
	opacity: 0.3;
	filter: alpha(opacity=30); /* IE7 */
	-ms-filter: "alpha(opacity=30)"; /* IE8 */
}

.packagePurchaseItem .imgArea {
	width: 40px;
}

.packagePurchaseItem .infoArea {
	padding: 0 0 0 10px;
	font-size: 11px;
}

.packagePurchaseItem .pImg img {
	max-width: 40px;
	max-height: 40px;
}

.socialMediaButtons {
	margin-top: 15px;
}

.socialMediaButtons li {
	margin: 0 0 0 5px;
	vertical-align: bottom;
}

.socialMediaButtons li:first-child {
	margin: 0;
}

.prmItemUnit {
	margin: 10px 0 0 0;
}

.prmItemUnit table {
	width: 100%;
	table-layout: fixed;
}

.prmItemUnit .imgArea {
	width: 60px;
	padding: 0 10px 0 0;
}

.prmItemUnit .imgArea img {
	max-width: 60px;
	max-height: 60px;
}

.prmItemUnit .pName {
	font-size: 12px;
}

.prmItemUnit .pName .brand {
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal; 
	text-overflow: ellipsis;
}

.rvwSptInfo {
	margin: 5px 0 0 0;
}

.rvwSptInfo li {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	margin: 0 15px 0 0;
	font-size: 12px;
	line-height: 26px;
}

.rvwSptInfo ul.alignC li {
	margin: 0 7px;
}

.rvwSptInfo ul.alignR li {
	margin: 0 0 0 15px;
}

.rvwSptInfo li a {
	text-decoration: underline;
}

.shareRow {
	margin: 10px 0 0 0;
}

.shareRow li {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	margin: 0 5px 0 0;
}

.shareRow ul.alignR li {
	margin: 0 0 0 5px;
}

.pStock {
	clear: both;
	margin: 10px 0 0 0;
}

.pStock .colR {
	width: 580px;
}

.stockLink {
	font-size: 12px;
	padding: 10px 0 0 0;
	margin: 0 0 20px 0;
	border-top: 1px #CCC dashed;
}

.stockLink a {
	text-decoration: underline;
}

.stockLoading {
	text-align: center;
}

.pStock object.stockIf {
    height: 600px;
    width: 100%;
}

.errRedlineInfo {
	border: 2px #F00 solid;
	padding: 5px;
	font-size: 12px;
}

.srcIptFrm .srcBtnTd {
	width: 16px;
	vertical-align: middle;
}

.srcIptFrm .iconSrcBtn {
	padding: 0 0 0 10px;
}

.srcIptFrm .iconSrcBtn a {
	background: url(../img/iconSearch.png) no-repeat right 0;
	width: 16px;
	height: 16px;
	display: block;
}

.srcIptFrm .iconSrcBtn a:hover {
	background-position: right -16px;
}

.chkdItems {
	font-size: 12px;
}

.chkdItems li.odd {
	background: #F5F5F5;
}

.chkdItems li {
	padding: 5px;
}

.chkdItems li th {
	padding: 0 10px 0 0;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
}

.chkdItems li th img {
	max-width: 40px;
	max-height: 40px;
}

.chkdItems li td {
	vertical-align: middle;
}

.sideBorderBox {
	background: #FFF;
	border: 1px solid #D3D4D5;
	border-radius: 3px;
	margin: 0 0 10px 0;
	font-size: 12px;
	padding: 15px;
	text-align: center;
}

.sideBorderBox .ttl {
	font-weight: bold;
	margin: 0 0 5px 0;
}

.storeStockBox {
	background: #FFFFEE;
	border: 1px #CABA28 solid;
	border-radius: 5px;
	padding: 5px;
}

.storeStockLink {
	font-size: 11px;
}

.sbmContainer {
	background: #F3F4F5;
	padding: 10px;
	border-radius: 0 0 5px 5px;
}

.sbmContainer table {
	width: 100%;
}

.sbmContainer td {
	vertical-align: middle;
}

.rankBadge {
}

.rankBadge .rankNum {
	vertical-align: middle;
	font-size: 16px;
}

.rankBadge .rankNumUnit {
	vertical-align: middle;
	font-size: 12px;
	margin: 0 0 0 3px;
}

.pListBlock .rankBadge .rankNum {
	font-size: 24px;
}

.pListBlock .rankBadge .rankNumUnit {
	font-size: 14px;
}

.viewedItemContainer {
	clear: both;
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 10px;
}

.viewedItemContainer .viewedItemBox {
	border: 1px solid #D3D4D5;
	border-radius: 5px;
	padding: 30px;
}

.viewedItemContainer .viewedItemBox .boxHeader {
	margin-bottom: 30px;
}

.viewedItemContainer .viewedItemBox .boxHeader .boxTitle {
	font-size: 18px;
}


/* pBar
-------------------------------------------------------*/
#pBar {
	width: 100%;
	z-index: 9999;
	background: #FFF;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-bottom: 1px solid #E3E4E5;
}

#pBar .inner {
	padding: 10px 20px;
}

#pBar table {
	width: 100%;
}

#pBar .mainInfoArea table {
	width: auto;
}

#pBar .imgArea {
	vertical-align: middle;
	text-align: center;
}

#pBar .itemInfoArea .imgUnit,
#pBar .imgArea .imgUnit {
	vertical-align: middle;
	text-align: center;
	width: 50px;
}

#pBar .txtArea {
	padding: 0 0 0 20px;
	vertical-align: middle;
}

#pBar .subInfoArea {
	width: 220px;
	padding: 0 0 0 20px;
	text-align: right;
	vertical-align: middle;
}

#pBar .imgArea img {
	max-width: 50px;
	max-height: 50px;
}

.ppItemThumbList {
	position: relative;
	/zoom: 1;
}

.ppItemThumbList .carouselListBody {
	clear: both;
	height: 50px;
}

.ppItemThumbList .pagnWrapper {
	margin: 0 30px;
	position: relative;
}

.ppItemThumbList .prev,
.ppItemThumbList .next {
	position: absolute;
	top: 0;
	height: 100%;
	width: 20px;
	border: 1px solid #FFF;
	border-radius: 2px;
	display: block;
}

.ppItemThumbList .prev {
	left: 0;
}

.ppItemThumbList .next {
	right: 0;
}

.ppItemThumbList .prev span,
.ppItemThumbList .next span {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	width: 16px;
	height: 16px;
	display: block;
}

.ppItemThumbList .prev span {
	background: url(../img/iconArws.png) no-repeat -240px -48px;
}

.ppItemThumbList .next span {
	background: url(../img/iconArws.png) no-repeat -240px -16px;
}

.ppItemThumbList .prev:hover,
.ppItemThumbList .next:hover {
	border: 1px solid #CCC;
	background: #F3F4F5;
}

#pBar .pName {
	font-size: 16px;
}

#pBar .pName strong {
	font-weight: normal;
}

#pBar .stockInfo {
	margin: 0 10px 0 0;
}

#pBar .deliveryInfo {
	margin: 0 10px 0 0;
}

#pBar .variInfo {
	margin: 0;
}

#pBar .numIpt {
	margin: 0 10px 0 0;
	font-size: 12px;
}

#pBar .salesInfo {
	font-size: 12px;
}

#pBar .packagePurchaseArea {
}

#pBar .ppItemThumbList {
}

#pBar .ppItemThumbList table {
	width: auto;
}

#pBar .ppItemThumbList td {
	vertical-align: middle;
}

#pBar .ppItemThumbList .iconPlus {
	padding: 0 10px;
}

/* Reccomend
-------------------------------------------------------*/
.pRecHead {
	margin: 0 0 10px 0;
}

.pRecHead li {
	margin: 0 20px 0 0;
	vertical-align: middle;
}

.pRecHead .ttl {
	font-size: 14px;
}


/* Product Detail(old)
-------------------------------------------------------*/
#pMainContainer {
	margin: 0 0 30px 0;
}

#pImgGalleryCol {
	width: 28%;
	max-width: 410px;
}

#pImgGalleryCol #pImgCell {
	margin: 0 0 20px 0;
	display: table;
	/*height: 410px;*/
	width: 100%;
}

#pImgGalleryCol #pImgCell a {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#pImgGalleryCol #pImgCell img {
	max-height: 410px;
	max-width: 410px;
	width: 100%;
}

#pImgGalleryCol #pImgCell .imgTypeS {
	width: 250px;
}

#pImgGalleryCol .pImgCap {
	text-align: center;
	margin: 10px 0 0 0;
	font-size: 11px;
}

#pImgGalleryCol .pImgCap a {
	text-decoration: underline;
}

#pImgGalleryCol #pImgThumbList {
	text-align: center;
	margin: 10px 0 0 0;
}

#pImgGalleryCol #pImgThumbList li {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	margin: 0 2px 4px;
	vertical-align: top;
}

#pImgGalleryCol .pImgThumb {
	width: 42px;
	height: 42px;
}

#pImgGalleryCol .pImgThumb a {
	width: 40px;
	height: 40px;
	border: 1px solid #D3D4D5;
	padding: 1px;
	display: block;
}

#pImgGalleryCol .pImgThumb a:hover {
	border: 1px solid #636465;
}

#pImgGalleryCol .pImgThumb table {
	table-layout: fixed;
}

#pImgGalleryCol .pImgThumb td {
	width: 40px;
	height: 40px;
	vertical-align: middle;
	text-align: center;
}

#pImgGalleryCol .pImgThumb img {
	max-height: 40px;
	max-width: 40px;
	display: block\9; /*IE8*/
	/display: inline; /*IE7*/
}

#pImgGalleryCol .pImgThumb img:not(:target) {
	display: inline\9; /*IE9*/
}

#pImgGalleryCol .dolyPrmBox {
	margin: 15px 0 0 0;
	border: 1px solid #D3D4D5;
	border-radius: 3px;
	padding: 15px;
	font-size: 11px;
}

#pImgGalleryCol .dolyPrmBox .dolyPrmText {
	margin: 0 0 0 95px;
}

#pImgGalleryCol .dolyPrmBox .dolyPrmText p {
	margin: 10px 0 0 0;
}

#pImgGalleryCol .dolyPrmBox .dolyPrmText p:first-child {
	margin: 0;
}

#pInfoCol {
	overflow: hidden;
	padding: 0 0 0 30px;
}

#pInfoCol table {
	width: 100%;
}

#pInfoCol #pMainTh {
	width: 30%;
	max-width: 500px;
	font-weight: normal;
}

#pInfoCol #pInfoTd {
	padding: 0 0 0 30px;
}

#pInfoCol #pSideTd {
	width: 240px;
	padding: 0 0 0 30px;
}


/* Product Detail
-------------------------------------------------------*/
#productDetail .pdContainer {
	padding: 15px 0;
	border-top: 1px solid #D3D4D5;
}

.pdTopContainer {
	padding: 0 0 15px 0;
}

.pDetailImgCol {
	float: left;
	width: 28%;
	max-width: 410px;
}

.pDetailBuyCol {
	float: right;
	width: 300px;
	padding: 0 0 0 10px;
}

.pDetailInfoCol {
	overflow: hidden;
	padding: 0 10px 0 30px;
	_zoom: 1;/* IE6 */
}

.pDetailImgCol #pImgCell {
	margin: 0 0 20px 0;
	display: table;
	/*height: 410px;*/
	width: 100%;
}

.pDetailImgCol #pImgCell a {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.pDetailImgCol #pImgCell img {
	max-height: 410px;
	max-width: 410px;
	width: 100%;
}

.pDetailImgCol #pImgCell img.imgTypeS {
	width: 250px;
}

.pDetailImgCol .pImgCap {
	text-align: center;
	margin: 10px 0 0 0;
	font-size: 11px;
}

.pDetailImgCol .pImgCap a {
	text-decoration: underline;
}

/* new */
.pImgThumbList {
	position: relative;
	margin-top: 10px;
	text-align: center;
}

.pImgThumbList li {
	display: inline-block;
	margin: 0 2.5px 5px;
	position: relative;
}

.pImgThumbList li a {
	display: table-cell;
	/display: block;
	border: 1px solid #FFF;
	border-radius: 2px;
	height: 40px;
	width: 40px;
	padding: 2px;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
}

.pImgThumbList li a:hover {
	border: 1px solid #F00;
}

.pImgThumbList li.active a {
	border: 1px solid #F00;
}

.pImgThumbList li Img {
	max-height: 40px;
	max-width: 40px;
}
/* /new */

/* old */
.pDetailImgCol #pImgThumbList {
	text-align: center;
	margin: 10px 0 0 0;
}

.pDetailImgCol #pImgThumbList li {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	margin: 0 2px 4px;
	vertical-align: top;
}

.pDetailImgCol .pImgThumb {
	width: 42px;
	height: 42px;
}

.pDetailImgCol .pImgThumb a {
	width: 40px;
	height: 40px;
	border: 1px solid #D3D4D5;
	padding: 1px;
	display: block;
}

.pDetailImgCol .pImgThumb a:hover {
	border: 1px solid #636465;
}

.pDetailImgCol .pImgThumb table {
	table-layout: fixed;
}

.pDetailImgCol .pImgThumb td {
	width: 40px;
	height: 40px;
	vertical-align: middle;
	text-align: center;
}

.pDetailImgCol .pImgThumb img {
	max-height: 40px;
	max-width: 40px;
	display: block\9; /*IE8*/
	/display: inline; /*IE7*/
}

.pDetailImgCol .pImgThumb img:not(:target) {
	display: inline\9; /*IE9*/
}
/* /old */

.pDetailImgCol .dolyPromotionBox {
	display: block;
	margin-top: 15px;
	border: 1px solid #D3D4D5;
	border-radius: 3px;
	padding: 15px;
	font-size: 11px;
}

.pDetailImgCol .dolyPromotionBox td {
	vertical-align: middle;
}

.pDetailImgCol .dolyPromotionBox .icon {
	display: block;
	background: url(../img/iconDoly.png) no-repeat 0 0;
	width: 60px;
	height: 60px;
}

.pDetailImgCol .dolyPromotionBox .text {
	font-size: 13px;
	margin-left: 15px;
}

.pDetailImgCol .dolyPromotionBox:hover .text {
	text-decoration: underline;
}


/* Variation & Set
-------------------------------------------------------*/
.lotBuyingBox {
	margin: 20px 0 0 0;
	font-size: 12px;
}

.lotBuyingBox td {
	vertical-align: middle;
	height: 90px;
}

.lotBuyingBox .pImg img {
	max-height: 80px;
	max-width: 80px;
}

.lotBuyingBox .lotBuyingItemList {
	position: relative;
}

.lotBuyingBox .lotBuyingDifferenceArea {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.lotBuyingBox .lotBuyingDifferenceArea table {
	width: 100%;
	height: 100%;
}

.lotBuyingBox .lotBuyingDifferenceArea td {
	text-align: center;
	vertical-align: middle;
}

.lotBuyingBox .lotBuyingDifference {
	display: inline-block;
	/display: inline;
	font-size: 16px;
	padding: 5px 10px;
	background: #F5F5F5;
	border: 1px #CCC solid;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.lotBuyingBox .iconPlus img {
	padding: 0 10px;
}

.lotBuyingBox .pluralImg {
	width: 100px;
}

.lotBuyingBox .pluralImg li {
	width: 30px;
	margin: 0 3px 3px 0;
}

.lotBuyingBox .pluralImg .pImg {
	margin: 0;
}

.lotBuyingBox .pluralImg img {
	max-width: 30px;
	max-height: 30px;
}

.tieInSetBuy {
	padding: 0 0 0 20px;
}

.tieInSetBuy .priceRow {
	margin: 0;
}

.tieInItemList {
	margin: 20px 0 0 0;
	font-size: 12px;
}

.tieInItemList li {
	margin: 10px 0 0 0;
}

.tieInItemList li.disabled td {
	opacity: 0.3;
	filter: alpha(opacity=30); /* ie lt 8 */
	-ms-filter: "alpha(opacity=30)"; /* ie 8 */
	zoom: 1;
}

.tieInItemList .tieInItemInfo li {
	margin: 0 5px 0 0;
}

.tieInItemList .deliInfo {
	margin: 0;
}

.tieInItemList .mediaTagRow {
	margin: 0;
}

.tieInItemList .mediaTagRow {
}

.lotBuyInfo {
	margin: 0 0 10px 0;
	background: #FEF;
	border: 1px #CABA28 solid;
	border-radius: 5px;
	padding: 10px;
}

.lotBuyInfo li {
	font-size: 12px;
}

.lotBuyInfo td {
	padding: 0;
	vertical-align: middle;
}

.lotBuyItemSlctList {
}

.lotBuyItemSlctList .entryBlock {
	width: 25%;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: top;
}

.lotBuyItemSlctUnit {
	font-size: 12px;
	padding: 10px;
}

.lotBuyItemSlctUnit table {
	width: 100%;
}

.lotBuyItemSlctUnit .pImg {
	margin: 5px 0;
	text-align: center;
}

.lotBuyItemSlctUnit .pImg img {
	max-width: 120px;
	max-height: 120px;
}


/* Variation
-------------------------------------------------------*/
.varSlct select {
	max-width: 255px;
	max-width: inherit\9; /* IE8-9 */
	width: 100%\9; /* IE8-9 */
	/width: 100%; /* IE7 */
}

.varSlct select:not(:target) {
	max-width: 285px\9; /* IE9 */
	width: auto\9; /* IE9 */
}

.varBox {
}

.vaCap {
	font-size: 12px;
}

.vaCap span {
	font-weight: bold;
	margin: 0 0 0 3px;
	color: #333;
}

.vaListBody {
	position: relative;
}

.vaListBody .vaList {
	font-size: 11px;
}

.vaListBody .vaList li {
	margin: 0 5px 5px 0;
	float: left;
	position: relative;
}

.vaListBody .vaList li a {
	display: table-cell;
	/display: block;
	border: 1px solid #D3D4D5;
	border-radius: 3px;
	height: 50px;
	width: 50px;
	/width: auto;
	padding: 2px;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
}

.vaListBody .vaList li.active a {
	border: 1px solid #C00;
	background: #F00;
}

.vaListBody .vaList li a:hover {
	border: 1px solid #636465;
}

.vaListBody .vaList li.active a:hover {
	border: 1px solid #C00;
}

.vaListBody .vaList li a p {
	padding: 0 5px;
	color: #333;
}

.vaListBody .vaList li .floatCheckIcon {
	position: absolute;
	top: 1px;
	right: 1px;
	background: url(../img/iconFloatCheck.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
}

.vaListBody .vaList li Img {
	max-height: 50px;
	max-width: 50px;
	/max-width: none;
}

.vaListBody .vaList.vaPagingList {
	padding: 0 32px;
}

.vaListBody .vaPagn {
	border: 1px solid #D3D4D5;
	border-radius: 3px;
	position: absolute;
	background: -moz-linear-gradient(top, #FCFDFE, #F1F2F3); /* Firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(#FCFDFE), to(#F1F2F3)); /* Chrome, Safari, iOS, Android */
	background: -o-linear-gradient(top, #FCFDFE, #F1F2F3); /* Opera */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FCFDFE', endColorstr='#F1F2F3'); /* IE6-9 */
	background: linear-gradient(to bottom, #FCFDFE, #F1F2F3); /* IE10+, W3C */
	zoom: 1;	
}

.vaListBody .vaPagn:hover {
	border: 1px solid #636465;
	border-radius: 3px;
	background: -moz-linear-gradient(top, #FCFDFE, #F1F2F3); /* Firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(#FCFDFE), to(#F1F2F3)); /* Chrome, Safari, iOS, Android */
	background: -o-linear-gradient(top, #FCFDFE, #F1F2F3); /* Opera */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FCFDFE', endColorstr='#F1F2F3'); /* IE6-9 */
	background: linear-gradient(to bottom, #FCFDFE, #F1F2F3); /* IE10+, W3C */
	zoom: 1;	
}

.vaListBody .prev {
	top: 0;
	left: 0;
}

.vaListBody .next {
	top: 0;
	right: 0;
}

.vaListBody .vaPagn a {
	display: block;
	width: 20px;
	height: 52px;
}

.vaListBody .prev a {
	background: url(../img/iconArwSprt01L.png) no-repeat center center;
}

.vaListBody .next a {
	background: url(../img/iconArwSprt01R.png) no-repeat center center;
}

.varSlctCarouselList {
	position: relative;
	/zoom: 1;
}

.varSlctCarouselList .carouselListRow {
	clear: both;
	height: 50px;
}

.varSlctCarouselList.pagingList .carouselListRow {
	margin: 0 30px;
	position: relative;
}

.varSlctCarouselList .prev,
.varSlctCarouselList .next {
	position: absolute;
	top: 0;
	height: 48px;
	width: 22px;
	border: 1px solid #D3D4D5;
	border-radius: 2px;
	display: none;
}

.varSlctCarouselList.pagingList .prev,
.varSlctCarouselList.pagingList .next {
	display: block;
}

.varSlctCarouselList .prev {
	left: 0;
}

.varSlctCarouselList .next {
	right: 0;
}

.varSlctCarouselList .prev span,
.varSlctCarouselList .next span {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	width: 16px;
	height: 16px;
	display: block;
}

.varSlctCarouselList .prev span {
	background: url(../img/iconArws.png) no-repeat -240px -48px;
}

.varSlctCarouselList .next span {
	background: url(../img/iconArws.png) no-repeat -240px -16px;
}

.varSlctCarouselList .prev:hover,
.varSlctCarouselList .next:hover {
	border: 1px solid #636465;
	background: #F3F4F5;
}

.varSlctCarouselList .varItemBlock {
	margin: 0 0 0 5px;
	float: left;
	position: relative;
}

.varSlctCarouselList .varItemBlock:first-child {
	margin: 0;
}

.varSlctCarouselList .varItemBlock a {
	border: 1px solid #D3D4D5;
	display: block;
	padding: 2px;
	text-decoration: none;
}

.varSlctCarouselList .varItemBlock.active a {
	border: 1px solid #C00;
	background: #F00;
}

.varSlctCarouselList .varItemBlock a:hover {
	border: 1px solid #636465;
}

.varSlctCarouselList .varItemBlock.active a:hover {
	border: 1px solid #F00;
}

.varSlctCarouselList .varItemBlock Img {
	height: 44px;
}

.varSlctCarouselList .varItemBlock .floatCheckIcon {
	position: absolute;
	top: 1px;
	right: 1px;
	background: url(../img/iconFloatCheck.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
}

/* format slelector ************/
.fmListBody {
	position: relative;
}

.fmListBody ul.fmList {
	font-size: 11px;
}

.fmListBody ul.fmList li {
	margin: 0 5px 5px 0;
	float: left;
	position: relative;
}

.fmListBody ul.fmList li a {
	border: 1px solid #D3D4D5;
	border-radius: 3px;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	color: #333;
}

.fmListBody ul.fmList li.active a {
	background: #FEE;
	border: 1px solid #F00;
}

.fmListBody ul.fmList li a:hover {
	background: #F3F4F5;
	border: 1px solid #636465;
}

.fmListBody ul.fmList li.active a:hover {
	background: #FEE;
	border: 1px solid #F00;
}

.fmListBody ul.fmList li .formatName {
	font-size: 13px;
}

.fmListBody ul.fmList li .price {
	font-size: 12px;
	color: #999;
}

.fmListBody ul.fmList li .point {
	font-size: 11px;
	color: #999;
}

.fmListBody ul.fmList li a:hover .price,
.fmListBody ul.fmList li.active a .price {
	color: #F00;
}

.fmListBody ul.fmList li a:hover .point,
.fmListBody ul.fmList li.active a .point {
	color: #F90;
}


/* Bundle
-------------------------------------------------------*/
.bundleBox {
	margin: 10px 0 0 0;
	padding: 15px;
	border: 1px solid #D3D4D5;
	border-radius: 5px;
}

.bundleBox .ttl {
	font-size: 12px;
	color: #666;
}

.bundleList {
}

.bundleList li {
	margin: 5px 0 0 0;
}

.bundleList li th {
	width: 20px;
	text-align: center;
}

.bundleList li .pImg img {
	max-width: 20px;
	max-height: 20px;
}

.bundleList li .pName {
	font-size: 12px;
	text-decoration: none;
	display: inline;
}

.selectAll {
	border-bottom: 1px solid #CCC;
	padding: 5px 10px;
}


/* pDescription
-------------------------------------------------------*/
.pDescription {
	font-size: 12px;
}

.pDescription li {
	margin: 0 0 15px 0;
}

.pDescription li .pDesCap {
	margin: 0 0 3px 0;
	font-size: 12px;
	font-weight: normal;
}

.pDescription li .pDesBody {
}

.pDscptTblUnit {
}

.pDscptTblUnit td {
	border: none;
}

.nbBox {
	border: 3px #666 double;
	padding: 5px;
	margin: 10px 0 0 0;
	font-size: 12px;
}

.nbTtl {
	margin: 0 0 3px 0;
}

.buyOptInfoBox {
	max-width: 1000px;
	font-size: 12px;
}

.buyOptInfoBox table {
	border: 1px #CCC solid;
}

.buyOptInfoBox th {
	font-weight: normal;
	background: #EFEFEF;
	padding: 10px;
}

.buyOptInfoBox td {
	padding: 10px;
}

.pDescription li .pDesBody {
}

.pDscptTblUnit table {
	border: none;
}

.pDscptTblUnit th {
	padding: 0;
}

.pDscptTblUnit td {
	border: none;
	padding: 0;
}


/* SpecBox
-------------------------------------------------------*/
.specBox {
}

.specBox .specTbl {
	width: 40%;
	max-width: 600px;
	min-width: 470px;
	font-size: 12px;
	margin: 0 10px 20px 0;
}

.specBox .specTbl table {
	width: 100%;
}

.specBox .specTbl th {
	font-weight: bold;
	background: #F5F5F5;
	padding: 5px;
	border: 1px #CCC solid;
	vertical-align: top;
	width: 150px;
}

.specBox .specTbl th .specHeadTxt {
	float: left;
	width: 130px;
}

.specBox .specTbl th .specHeadIcon {
	float: right;
}

.specBox .specTbl td {
	background: #FFF;
	padding: 5px;
	border: 1px #CCC solid;
	vertical-align: top;
}


/** Product List
-------------------------------------------------------*/
.pgTopBox {
	margin-bottom: 15px;
}

.pgBtmBox {
	margin-top: 15px;
}

.pListBlock {
	position: relative;
}

.pListBlock table {
	width: 100%;
	max-width: 1200px;
}

.pListBlock .pImgArea {
	width: 180px;
	text-align: center;
	font-weight: normal;
}

.pListBlock .pInfoArea {
	padding-left: 30px;
}

.pListBlock .sideArea {
	width: 160px;
	padding-left: 30px;
	vertical-align: middle;
}

.pListBlock .quickAddToFavorite {
	position: absolute;
	top: 10px;
	left: 15px;
	padding: 3px 0;
	cursor: pointer;
}

.pListBlock .quickAddToFavorite:hover {
}

.pListBlock .quickAddToFavorite .icon {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: middle;
	background: url(../img/iconFavorite.png) no-repeat 0 0;
	width: 24px;
	height: 24px;
	opacity: 0.2;
	-webkit-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.pListBlock .quickAddToFavorite:hover .icon {
	opacity: 1;
}

.pListBlock .quickAddToFavorite.active .icon {
	background-position: -24px 0;
	opacity: 1;
}

.pListBlock .quickAddToFavorite .text {
	display: none;
	vertical-align: middle;
	font-size: 11px;
	margin: 0 5px;
}

.pListBlock .quickAddToFavorite:hover .text {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	-webkit-animation: show 0.3s ease;
	-moz-animation: show 0.3s ease;
	animation: show 0.3s ease;
}

.pListBlock .quickAddToCart {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	font-size: 11px;
	border: 2px solid #C3C4C5;
	border-radius: 3px;
	padding: 3px 6px;
	color: #C3C4C5;
	text-decoration: none;
	margin-top: 15px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.pListBlock .quickAddToCart:hover {
	border-color: #F90;
	color: #F90;
}

.pListBlock .quickAddToCart.active {
	background: #F90;
	border-color: #F90;
	color: #FFF;
}

.pListBlock .quickView {
	position: absolute;
	top: 185px;
	left: 30px;
	display: none;
}

.pListBlock .quickView .yBtn {
	width: 150px;
}

.pListBlock .quickView .yBtn .yBtnText {
	padding: 5px;
}

.pListBlock:hover .quickView {
	display: block;
}

.pListBlock .salesTagRed {
	background: #F33;
	border: 1px solid #F33;
	color: #FFF;
	padding: 2px 0;
	text-align: center;
	font-size: 11px;
	width: 180px;
}

.pListBlock .salesTagWhite {
	background: #FFF;
	border: 1px solid #F33;
	color: #F00;
	padding: 2px 0;
	text-align: center;
	font-size: 11px;
	width: 180px;
}

.pListBlock .pImg img {
	max-width: 180px;
	max-height: 180px;
}

.pListBlock .pName {
	font-size: 14px;
}

.pListBlock .pName strong {
	font-weight: normal;
}

.pListBlock .subInfoRow {
	margin: 5px 0 0 0;
}

.pListBlock .subInfoRow li {
	margin: 0 10px 0 0;
	vertical-align: middle;
	font-size: 12px;
}

.pListBlock .subInfoRow li.pTag {
}

.pListBlock .subInfoRow li.dateOfSale {
	color: #666;
}

.pListBlock .pInfo {
	margin: 5px 0 0 0;
}

.pListBlock .stockInfo {
	margin: 0 10px 0 0;
}

.pListBlock .deliveryInfo {
	margin: 0 10px 0 0;
}

.pListBlock .pCaption {
	border: 0;
	margin: 5px 0 0 0;
}

.pListBlock .bundleBox {
	margin: 5px 0 0 0;
	max-width: 700px;
}

.pListBlock .bundleBox .ttl {
	font-size: 11px;
}

.pListBlock .bundleList {
}

.pListBlock .bundleList li {
	margin: 2px 0;
}

.pListBlock .bundleList li th {
	width: 20px;
	text-align: center;
}

.pListBlock .bundleList li .pImg img {
	max-width: 20px;
	max-height: 20px;
}

.pListBlock .bundleList li .pName {
	font-size: 12px;
	text-decoration: none;
	display: inline;
}

.pListBlock .variationInfo {
	border-top: 1px solid #E3E4E5;
	margin-top: 10px;
	padding-top: 10px;
}

.pListBlock .variationInfo .mediaTagRow {
	margin-top: 0;
	margin-bottom: 5px;
}

.pListBlock .variationInfo .description {
	font-size: 12px;
}

.verticalTypeList .pListBlock {
	border-top: 1px solid #E3E4E5;
	padding: 15px 0 15px 15px;
	font-size: 12px;
}

.verticalTypeList .pListBlock:first-child {
	border-top: none;
}

.verticalTypeList .pListBlock.quickFunction .pImg {
	margin-top: 30px;
}

.priceRow {
	margin: 5px 0 0 0;
}

.priceRow li {
	margin: 0 10px 0 0;
	vertical-align: middle;
	font-size: 12px;
}

.priceRow .oldPrice {
	font-weight: normal;
	color: #333;
	text-decoration: line-through;
}

.priceRow .price {
	font-weight: normal;
}

.priceRow .price strong {
	margin: 0 2px 0 0;
}

.priceRow .point {
}

.priceRow .point strong {
	margin: 0 2px;
}

.deliInfo {
	margin: 5px 0 0 0;
	font-size: 12px;
}

.pListBlock .stock {
	margin: 5px 0 0 0;
}

.pListBlock .avgCR {
}

.pListBlock .avgCR li {
	margin-left: 10px;
}

.pListBlock .avgCR li:first-child {
	margin-left: 0;
}

.pListBlock .btnBox {
	margin: 5px 0 0 0;
}

.pListBlock .listBC {
	margin: 15px 0 0 0;
}

.pListBlock .listBC li {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	margin: 0 5px 0 0;
	vertical-align: middle;
	font-size: 11px;
}

.pListBlock .storeStockLink {
	margin: 5px 0 0 0;
}

.pListBlock .listBC a {
	color: #666;
}

.pListBlock .avgCR a:hover,
.pListBlock .listBC a:hover {
	color: #F00;
}

.pListBlock .rawInfo {
	font-size: 12px;
	margin: 5px 0 0 0;
}

.pListBlock th {
	width: 180px;
	text-align: center;
}

.pListBlock td.rankHeadTd {
	width: 60px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	font-weight: bold;
}

.pListBlock td.rankHeadTd .rankIcon {
	margin: 0 0 5px 0;
}

.pListBlock td.rankHeadTd .rankNumHigher {
	font-size: 36px;
}

.pListBlock td.rankHeadTd .rankNumLower {
	font-size: 24px;
}

.tileTypeList {
	font-size: 0;
}

.tileTypeList .pListBlock {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: top;
	padding: 15px 0;
	font-size: 12px;
}

.tileTypeList .pListBlock .inner {
	padding: 0 15px;
	margin: 0 20px 0 0;
}

.tileTypeList .pListBlock .pImg {
	margin-bottom: 15px;
}

.tileTypeList .pListBlock.quickFunction .pImg {
	margin-top: 30px;
}

.tileTypeList .pListBlock span.stockInfo {
	margin: 0;
}

.tileTypeList .pListBlock span.deliveryInfo {
	margin: 0;
}

.pRecContainer {
	padding: 15px 0;
}

.pRecContainer .wrap {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: url(../img/loading.gif) no-repeat center 90px #FFF;
}

.pRecHeader {
	margin-bottom: 15px;
}

.pRecHeader .title {
	font-size: 16px;
	font-weight: bold;
}

.pRecHeader .caption {
	font-size: 12px;
	margin-top: 5px;
}

.recTitle {
	font-size: 14px;
	margin: 0 0 10px 0;
}

.recTitle li {
	margin: 0 10px 0 0;
}

.pListContainer {
	border-top: 1px solid #CCC;
	margin: 0 0 15px 0;
}

.pListContainer .pListHead {
	padding: 10px 0 0 0;
	margin: 0 0 10px 0;
}

.pListContainer .pListHead h2,
.pListContainer .pListHead .ttl {
	font-size: 13px;
	font-weight: normal;
	vertical-align: middle;
}

.pListContainer .pListHead .srcMultiwords {
}

.pListContainer .pListHead .srcMultiwords .srcKw {
	display: inline;
	margin: 0 0 0 10px;
	color: #F90;
	font-weight: bold;
	vertical-align: middle;
}

.pListContainer .pListHead .srcMultiwords .srcKw:first-child {
	margin: 0;
}

.pListContainer .pListHead .srcMultiwords .srcKw.disabled {
	color: #999;
	font-weight: normal;
	text-decoration: line-through;
}

.gridRowListUnit {
}

.gridRowListUnit .pListBlock {
	float: left;
}

.gridRowListUnit .pListBlock .inner {
	padding: 0 10px;
	margin: 0 20px 0 0;
}

.gridRowListUnit .pListBlock .pImg {
	margin: 0 0 10px 0;
}

.gridRowListUnit .seeMoreBtn {
}

.gridRowListUnit .seeMoreBtn .inner {
	margin: 140px 20px 0 0;
	text-align: center;
}


/** strcItemList
-------------------------------------------------------*/
.strcItemListUnit {
	position: relative;
	/zoom: 1;
}

.strcItemListUnit .strcListRow {
	clear: both;
	height: 320px;
	overflow: hidden;
}

.strcItemListUnit .pagnListBody {
	margin: 0 40px;
	position: relative;
	overflow: hidden;
}

.strcItemListUnit .prevBtn {
	position: absolute;
	top: 0;
	left: 0;
}

.strcItemListUnit .prevBtn:hover {
	background: #E5E5E5;
}

.strcItemListUnit .prevBtn a {
	background: url(../img/btnStrcItemListPrev.png) no-repeat 0 center;
	width: 40px;
	height: 320px;
	display: block;
}

.strcItemListUnit .prevBtn a:hover {
	background-position: -35px center;
}

.strcItemListUnit .nextBtn {
	position: absolute;
	top: 0;
	right: 0;
}

.strcItemListUnit .nextBtn:hover {
	background: #E5E5E5;
}

.strcItemListUnit .nextBtn a {
	background: url(../img/btnStrcItemListNext.png) no-repeat 0 center;
	width: 40px;
	height: 320px;
	display: block;
}

.strcItemListUnit .nextBtn a:hover {
	background-position: -35px center;
}

.strcItemListUnit .pagnListBody .inner {
	position: relative;
	overflow: hidden;
}

.strcItemListUnit .pagnListBody .inner .floatArea {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(255,255,255,0.95);
	font-size: 11px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.strcItemListUnit .pagnListBody .inner:hover .floatArea {
	display: block;
}

.strcItemListUnit .pagnListBody .inner .floatArea .floatIpt {
	padding: 5px;
}

.strcItemListUnit .pListBlock {
	float: left;
	padding: 0;
}

.strcItemListUnit .pListBlock .pImg {
	margin: 0 0 10px 0;
}

.strcItemListUnit .pListBlock .pImg {
	margin: 0 0 10px 0;
}

.strcItemListUnit .pListBlock .avgCR {
	margin: 0 0 5px 0;
}

.strcItemListUnit .pListBlock .headInfo li {
	vertical-align: middle;
}

.strcItemListUnit .pListBlock .headInfo li.rankNum {
	margin: 0 5px 0 0;
	font-size: 16px;
	font-weight: bold;
}

.strcItemListUnit .pListBlock .headInfo li.rankNum span {
	font-size: 24px;
	margin: 0 0 0 3px;
	vertical-align: middle;
}

.pRecList01 .pListBlock {
}

.pRecList01 .pagnListBody .pListBlock {
	overflow: hidden;
	margin-bottom: 1000px;
}

.pRecList01 .pListBlock .inner {
	padding: 0;
	margin: 0 10px;
}

.pRecList01 .pListBlock .pImg img {
	max-width: 120px;
	max-height: 120px;
}

.rcm03 .pListBlock {
    width: 33.1%;
}

.rcm04 .pListBlock {
    width: 24.8%;
}

.rcm05 .pListBlock {
    width: 19.8%;
}

.rcm06 .pListBlock {
    width: 16.4%;
}

.rcm07 .pListBlock {
    width: 14%;
}

.rcm08 .pListBlock {
    width: 12.3%;
}

.rcm09 .pListBlock {
    width: 11%;
}

.rcm10 .pListBlock {
    width: 10.8%;
}

.rcm11 .pListBlock {
    width: 8.8%;
}

.rcm12 .pListBlock {
    width: 8.1%;
}

.rcm13 .pListBlock {
    width: 7.4%;
}


/** tileRecList
-------------------------------------------------------*/
.tileRecList {
}

.tileRecList .pListBlock {
	padding: 10px 0 30px 0;
}

.tileRecList .pListBlock .inner {
	padding: 0;
	margin: 0 10px;
}

.tileRecList .pListBlock .pImg img {
	max-width: 120px;
	max-height: 120px;
}


/** pRecList old
-------------------------------------------------------*/
.pRecList {
	position: relative;
}

.pRecList .prevBtn {
	position: absolute;
	top: 30%;
	left: 0;
}

.pRecList .prevBtn a {
	background: url(../img/btnNextBack.png) no-repeat 0 0;
	width: 30px;
	height: 80px;
	display: block;
	text-indent: -9999px;
}

.pRecList .prevBtn a:hover {
	background-position: 0 -80px;
}

.pRecList .nextBtn {
	position: absolute;
	top: 30%;
	right: 0;
}

.pRecList .nextBtn a {
	background: url(../img/btnNextBack.png) no-repeat -30px 0;
	width: 30px;
	height: 80px;
	display: block;
	text-indent: -9999px;
}

.pRecList .nextBtn a:hover {
	background-position: -30px -80px;
}

.pRecList .pagnListRow {
	margin: 0 50px;
	position: relative;
	overflow: hidden;
}

.pRecList .pagnListRow .pagnListInner {
	position: relative;
	overflow: hidden;
}

.pRecList .pListBlock {
	padding: 0;
}

.pRecList .pListBlock .inner {
	width: 220px;
	padding: 0;
	margin: 0 auto;
}

.pRecList .pListBlock .headInfo {
	font-size: 12px;
	margin: 0 0 10px 0;
}

.pRecList .pListBlock .headInfo li {
	vertical-align: middle;
}

.pRecList .pListBlock .headInfo li.rankNum {
	margin: 0 5px 0 0;
	font-size: 16px;
	font-weight: bold;
}

.pRecList .pListBlock .headInfo li.rankNum span {
	font-size: 24px;
	margin: 0 0 0 3px;
	vertical-align: middle;
}

.pRecList .pListBlock .headInfo li.turnover {
}

.pRecList .pListBlock .pImg img {
	max-width: 120px;
	max-height: 120px;
}


/* lp
-------------------------------------------------------*/
.lp {
	border-bottom: 1px solid #CCC;
	padding: 10px;
}

.lp .lpListHead {
	font-size: 12px;
}

.lp .lpSrcItemList {
	margin: 20px 0 0 0;
}

.lp .lpSrcItemList .pListBlock {
	float: left;
	width: 33.3%;
	padding: 0;
}

.lp .lpSrcItemList .pListBlock .inner {
	padding: 0 10px;
	margin: 0 20px 0 0;
}

.lp .lpSrcItemList .pListBlock table {
	width: auto;
}

.lp .lpSrcItemList .pListBlock .imgArea {
	padding: 0 15px 0 0;
}

.lp .lpSrcItemList .pListBlock .tagInfo {
	margin: 0 0 3px 0;
}

.lp .lpSrcItemList .pListBlock .pImg img {
	max-width: 80px;
	max-height: 80px;
}

.lp .lpSrcItemList .pListBlock .pName {
}

.lp .lpSrcItemList .pListBlock .pInfo {
	font-size: 12px;
	margin: 3px 0 0 0;
}

.lp .lpSrcItemList .pListBlock .avgCR {
	margin: 3px 0 0 0;
}


/* jmdTrackTbl
-------------------------------------------------------*/
.jmdTrackTbl {
	width: 40%;
	max-width: 600px;
	min-width: 470px;
	font-size: 12px;
	margin: 0 10px 20px 0;
}

.jmdTrackTbl table{
	width: 100%;
}

.jmdTrackTbl th {
	background: #F5F5F5;
	font-weight: normal;
	padding: 5px 0;
	text-align: center;
	border-top: 1px #BBB solid;
	border-bottom: 1px #CCC solid;
	border-left: 1px #CCC solid;
	width: 30px;
}

.jmdTrackTbl td {
	background: #F5F5F5;
	border-top: 1px #CCC solid;
	border-bottom: 1px #CCC solid;
}

.jmdTrackTbl td.jmdTrackName {
	padding: 5px;
}

.jmdTrackTbl td.jmdTime {
	width: 35px;
	padding: 5px;
	text-align: right;
	font-size: 11px;
}

.jmdTrackTbl td.jmdCreditIcon {
	width: 40px;
	text-align: center;
	padding: 5px 0;
	border-right: 1px #CCC solid;
}

.jmdTrackMedley {
	margin: 5px 0 0 0;
	padding: 5px 5px 5px 10px;
	font-size: 11px;
	border-top: 1px #CCC dashed;
}

.jmdTrackMedley li {
	display: list-item !important;
	list-style: decimal;
	margin: 0 0 0 20px;
}

.jmdListCaption {
	font-weight: bold;
	margin: 0 0 10px 0;
}

.jmdTrackTbl .jmdSongWrite {
	background: #FFF;
	padding: 10px 10px 5px 10px;
	font-size: 11px;
	border-right: 1px #CCC solid;
	border-left: 1px #CCC solid;
	background: #FFF;
}

.jmdCreditInner {
	margin: 0 0 5px 0;
}


/* Age Authentication
-------------------------------------------------------*/
.ageAuthentication {
	text-align: center;
}

.authenticationOption {
	width: 500px;
	margin: 30px auto 0;
	border: 1px solid #D3D4D5;
	border-radius: 3px;
	padding: 15px;
	text-align: center;
}


/*============================================================
Temporary Data
============================================================*/
.pPhotoCapCnt {
	max-width: 1280px;
}

.pPhotoCapCnt .imgTd {
	width: 490px;
}

.pPhotoCapCnt .pPhotoImg img {
	width: 100%;
}

.pPhotoImgThumbList li {
	margin: 0 5px 5px 0 !important;
}

.pPhotoImgThumbList .pPhotoThumb img {
	height: 79px;
}

.tmpryRvwCnt {
	max-width: 1000px;
}

.tmpryAvgCRBox {
	margin: 0 0 20px;
}

.tmpryAvgCRBox th {
	background: #EFEFEF;
	padding: 5px 10px;
	border: 1px #CCC solid;
}

.tmpryAvgCRBox td {
	padding: 5px 10px;
	border: 1px #CCC solid;
}

.tmpryAvgCRBox .avgCR {
	margin: 0;
}

.tmpryRvwBlock {
	margin: 0 0 30px 0;
	font-size: 12px;
}

.tmpryRvwBlock li {
	margin: 0 0 5px 0;
}

.tmpryRvwBlock .avgCR li {
	margin: 0 5px 0 0;
}

.tmpryRvwBlock .tmpryRvwImgL {
	float: left;
	margin: 0 10px 0 0;
}

.tmpryRvwBlock .tmpryRvwImgC {
	text-align: center;
	margin: 0 0 5px 0;
}

.tmpryRvwBlock .tmpryRvwImgR {
	float: right;
	margin: 0 0 0 10px;
}

.tmpryRvwBlock .tmpryRvwImgL img,
.tmpryRvwBlock .tmpryRvwImgC img,
.tmpryRvwBlock .tmpryRvwImgR img {
	max-width: 250px;
	max-height: 250px;
}

/*============================================================
areaLimitation
============================================================*/

.areaLimitationTextArea {
		margin: 0 0 15px;
		padding: 0 15px 0 0;
}

.areaLimitationTextInner p {
		float: right;
}

.areaLimitationTextArea .areaLimitationTextInner .limitationAddress {
    font-size: 12px;
    font-weight: bold;
}

.areaLimitationTextArea .areaLimitationTextInner .limitationService {
    font-size: 12px;
    color: #F90;
    font-weight: bold;
}

.areaTittle_text_black {
    color: #333435;
    font-weight: normal;
}

.checkArea {
    color: #666;
    font-size: 12px;
		margin: 0 0 0 10px;
}

#js_btn{
    color: #666;
    text-align: center;
    font-size: 14px;
}
 
#js_overlay{
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
    background: rgba(0,0,0,0.7);
    color: #FFF;
    font-size: 14px;
    vertical-align: middle;
		position: absolute;
    top: 0;
    left: 0;
}

.tileTypeList #js_overlay{
		width: 92%;
		height: 100%;
}

verticalTypeList #js_overlay{
		height: 98%;
		widtht: 100%;
}

.overlayText {
    position: relative;
    top: 50%;
}

.fixed{
    position:fixed;
   top: 0px; 
}

.areaInputStyle {
    margin: -2px 5px 0 0;
}

.areaLimitationTextInner a {
	font-size: 11px;
}

/* スライダー */
#slider {
    margin: 10px 8px 3px;
    top: 20%;
}

.sliderBlock {
    width: 100%;
    position: relative;
}

#slider .ui-slider-range {
		background: #F00;
}

#slider .ui-slider-handle {
		border-color: #c0c0c0;
		background: #FFF;
		border-radius: 14px;
		moz-border-radius: 14px;
		-webkit-border-radius: 14px;
		outline:none;
		padding: 6px;
		box-shadow:0px 2px 18px -6px #000000;
		-moz-box-shadow:0px 2px 18px -6px #000000;
		-webkit-box-shadow:0px 2px 18px -6px #000000; 
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;       
}

.ui-slider-horizontal {
		height: 0.2em;
}

.ui-slider-horizontal .ui-slider-handle {
		top: -.95em;
		margin-left: -0.9em;
}

#slider .ui-slider-handle:hover,
#slider .ui-slider-handle:active {
    -webkit-transform: scale( 1.15 );
    -moz-transform: scale( 1.15 );
}

.sliderScaleFrame {
		display: block;
    padding: 0px 9px;
}

.sliderScaleFrame .scaleFrame_time {
		float: left;
}

.scaleFrame_timeLeft {
		float: left;
		width: 60px;
}

.scaleFrame_timeRight {
		float: right;
		width: 60px;
}

.scaleFrame_timeCenterInner {
		width: 100%;
}

.sliderScaleFrame .scaleFrame_time .scaleFrame_timeLeft {
    position: relative;
    top: 0;
    width: 100px;
    left: -20px;
}

.ie8 .sliderScaleFrame .scaleFrame_time .scaleFrame_timeLeft {
    position: relative;
    top: 0;
    width: 58px;
    left: -20px;
}




.sliderScaleFrame .scaleFrame_time .scaleFrame_timeInner {
		position: relative;
    top: 0;
    width: 100px;
    left: -45px;
    text-align: center;
}

.scaleFrame_timeLeft a,
.scaleFrame_timeCenter a,
.scaleFrame_timeRight a{
		text-decoration: none;
		position: relative;
}

.scaleFrame_timeCenter {
    float: left;
    width: 100%;
    height: 20px;
}

/*--------------------------------------------------------
メモリ8の時 
.eightSplit .scaleFrame_timeCenterInner .scaleFrame_time {
		float: left;
    width: 14.2%;
}

メモリ7の時 
.sevenSplit .scaleFrame_timeCenterInner .scaleFrame_time {
		float: left;
    width: 16.45%;
}
--------------------------------------------------------*/

/* メモリ6の時 */
.sixSplit .scaleFrame_timeCenterInner .scaleFrame_time {
		float: left;
		width: 20%;
}

/* メモリ5の時 */
.fiveSplit .scaleFrame_timeCenterInner .scaleFrame_time {
		float: left;
		width: 25%;
}

/* メモリ4の時 */
.fourSplit .scaleFrame_timeCenterInner .scaleFrame_time {
		float: left;
		width: 33.3%;
}

/* メモリ3の時 */
.threeSplit .scaleFrame_timeCenterInner .scaleFrame_time {
		float: left;
		width: 50%;
}

.scaleFrame_time .sliderIine {
		display: block;
		width: 2px;
		height: 2px;
		background-color: #ababab;
		margin: 2px 0;
}

.scaleFrame_timeLeft,
.scaleFrame_timeInner {
		display: block;
		font-size: 11px;
		text-align: left;
    color: #777;
}

.scaleFrame_timeFix {
    float: right;
    position: absolute;
    top: 5px;
    top: 5px\9;
    right: -15px;
    width: 40px;
}

.scaleFrame_timeFix .sliderIine {
display: block;
    width: 2px;
    height: 2px;
    background-color: #ababab;
    position: relative;
    right: -16px;
    margin: 2px 0;
}

.scaleFrame_timeLeft a,
.scaleFrame_timeCenter a,
.scaleFrame_timeRight a{
		text-decoration: none;
}

.container.areaLimitationFrame {
		padding: 0 15px;
		max-width: 750px;
}

.lineBreak {
		font-weight: normal;
}

/*スライダー
-------------------------------------------------------*/

/* 吹き出し */

.container  .sliderTimeDisplay {
		margin: 10px 0 0 0;
		position: relative;
		height: 38px;
}

.sliderTimeDisplay .arrow_box {
    background: #464646;
    text-align: center;
    padding: 8px 16px;
    border-radius: 3px;
    color: #FFF;
    display: block;
    width: 185px;
		position: relative;
		left: 0;
		top: 1px;
		height: 23px;
}

 
.timeDisplay_triangle {
    top: 11px;
    left: 0%;
    border: solid transparent;
    content: " ";
    position: relative;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #464646;
    border-width: 10px;
    z-index: 2;
}


.sliderTimeDisplay.sliderLeft .arrow_box:after {
	margin-left: -78px;
} 

.sliderTimeDisplay.sliderRight .arrow_box:after {
	margin-left: 56px;
} 

.sliderTimeDisplay .arrow_box .arrow_box_time {
	font-size: 16px;
	font-weight: bold;
	margin: 0 3px 0 0;
	letter-spacing: 1px;
	color: #FFF;
}

.sliderTimeDisplay .arrow_box .arrow_box_text {
	font-size: 12px;
	color: #FFF;
	line-height: 24px;

}

.sliderBlock .sliderBlockInner .sliderScaleLine .sliderScaleLine_verLine ul li {
	color: #777;
	display: inline-block;
	margin-left: 9.3%;
	width: 28px;
}

.sliderBlock .sliderBlockInner .sliderScaleFrame ul li {
	font-size: 12px;
	display: inline-block;
	margin-left: 3.7%;
	color: #777;
	width: 66px;
	text-align: center;
}

/* オーバーレイテキスト(IE8対応) */
	/* 商品用(ctlg_list.html) */
.imgBody_list {
		text-align:center;
		margin-bottom: 10px;
		position: relative;
		display: inline-block;
		margin: 0 auto;
}

.imgBody_list .imgOverlay {
		display: none;
		width: 160px;
		position: absolute;
		top: 55px;
		left: 0px;
		background: rgba(0,0,0,0.7);
		border-radius: 3px;
		filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#88000000,EndColorStr=#88000000);
		zoom: 1;
		display: inline-block;
		padding: 20px 10px;
}

.imgBody_list .Overlay_txt {
		color: #ffffff;
		font-size: 12px;
}

/* 商品用(ctlg_listTile.html) */
.imgBody {
		text-align:center;
		margin-bottom: 10px;
		position: relative;
		display: inline-block;
		margin: 0 auto;
}

.imgBody .imgOverlay {
		display: none;
		min-width: 200px;
		position: absolute;
		top: 90px;
		left: 0px;
		background: rgba(0,0,0,0.7);
		border-radius: 3px;
		filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#99000000,EndColorStr=#99000000);
		zoom: 1;
		display: inline-block;
		padding: 20px 10px;
}

.imgBody .Overlay_txt {
		color: #ffffff;
		font-size: 12px;
}

/* /サイドバーfixed*/

#contents .leftCol.leftColHeight {
		height: 1px;
}

#contents .leftCol.leftColHeight .leftColInner {
/*		position: fixed;*/
		width: 210px;
}

/*ローディング
-------------------------------------------------------*/

/* ローディングgif */

body.loading .loadingInner img,
.loadingBox .loadingInner img {
		width: 70px;
}

/* ローディング中央 オーバーレイ*/

body .loadingCover {
		display: none;
}

body.loading {
		overflow: hidden;
}

body.loading .loadingCover {
		display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
		z-index: 2100;
}

body.loading .loadingOverlay {
		background-color: #fff;
    z-index: 200;
		opacity:0.7;
		filter: alpha(opacity=70);        /* ie lt 8 */
		-ms-filter: "alpha(opacity=70)";  /* ie 8 */
		-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
		-khtml-opacity: 0.7;              /* Safari 1.x */
		zoom:1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

body.loading .loadingInner {
    display: block;
    position: relative;
    z-index: 210;
    top: 50%;
    margin: 0 auto 0;
    width: 70px;
}

/* ローディング下 */
.loadingBox {
		padding: 50px 0;
}

.loadingBox .loadingInner {
		margin: 0 auto 0;
		width: 70px;
		text-align: center;
}

/* no item
-------------------------------------------------------*/

.areaNoItem {
		text-align: center;

}

.areaNoItem .notFindTittle {
		font-size: 16px;
		font-weight: bold;
}

.areaNoItem  .notFindText  {
		font-size: 14px;
}

/* クローズボタン */

.areaLimitationInnner {
    width: 664px;
    margin: 0 auto;
    position: relative;
}

.areaLimitationInnner .tittleCloseBtn {
    background: url(../img/iconSrcClear.png) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    cursor: pointer;
}

.areaLimitationInnner .tittleCloseBtn:hover {
    background: url(../img/iconSrcClear.png) no-repeat;
		background-position: 0 -16px;
}


.areaLimitationTileMove {
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}


/* font-family */
.ui-widget {
		font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, sans-serif, arial, verdana;
}

/* jquery Ui */
.ui-widget.ui-widget-content,
.ui-widget-content {
  border: none;
	background: #cccccc url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
	color: #222222;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 0.5em;
	height: 0.5em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}


/* レスポンシブ対応
-------------------------------------------------------*/

@media screen and (max-width: 1220px){
.sliderScaleFrame .scaleFrame_time .scaleFrame_timeLeft {
    width: 55px;
}

.sliderScaleFrame .scaleFrame_time .scaleFrame_timeInner {
    width: 55px;
    left: -25px;
}
}

/* Valiation UI
-------------------------------------------------------*/

.pInfoTbl .tableW {
	width: 100%;
}

.clearfix-vari:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
    overflow: hidden;
}

.clearfix-vari {
	zoom: 1;
}

/* variationBox */
.variationBox {
    position: relative;
}

li.vrtBox {
    display: inline-block;
    width: 100%;
    max-width: 590px;
}

li.vrtBox :hover {
    background-color: #E1F3FB;
}

@media(max-width:1090px){
    .variationBox .vrtList {
        overflow-y: scroll;
        height: 300px;
    }
}

.vrtBoxOpen.select {
    padding: 7px 20px 7px 10px;
    position: relative;
    border: 1px solid #D3D4D5;
    border-radius: 3px;
    background: #FFF;
    min-height: 50px;
}

.variationBox .vrtBox .vrtBoxOpen.select.active {
    border-radius: 3px 3px 0 0;
	border-bottom: 1px solid transparent;	
}

.variationBox .vrtBox .vrtBoxOpen .icon {
    background: url("../img/bgHeader.png") no-repeat 0 -62px;
    width: 12px;
    height: 15px;
    position: absolute;
    top: 36%;
    right: 10px;
}

.variationBox .vrtBox .vrtBoxOpen p {
    float: left;
}

.popupVariationBox {
    display: none;
    width: 783px;
    overflow: auto;
    position: absolute;
    z-index: 999;
    margin-left: 100px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.1), 0px 6px 6px rgba(0,0,0,0.1);
    border: 1px solid #D3D4D5;
	max-width: 588px;
}

.popupVariationBox .vrtList {
    background-color: #FFF;
    font-size: 12px;
}

.popupVariationBox .vrtList li a,
.popupVariationBox .vrtList li a:link,
.popupVariationBox .vrtList li a:visited {
  cursor: pointer;
  outline: none;
}

.clear{
  clear:both;
}

.variationBox .vrtBoxOpen .pImg {
	float: left;
}

.variationBox .vrtBoxOpen img {
    width: 50px;
}

.popupVariationBox .vrtListOpen img {
    width: 50px;
    float: left;
}

.popupVariationBox .vrtListOpen .pNameInfo {
    padding-left: 10px;
    vertical-align: middle;
    display: table-cell;
}

.vrtListOpen .pNameInfo .pNameInfoBottom {
    color: #333435;
}

.vrtListOpen .pNameInfo .decorationUnderline {
    text-decoration: underline;
}

.popupVariationBox .vrtList li {
    border-top: 1px dashed #D3D4D5;
	position: relative;
}

.popupVariationBox .vrtList li:first-child {
    border: none;
}

.variationBox .pTitle {
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
}

.variationBox .pTitle .fontB {
    font-weight: bold;
}

.pdTopContainer {
    position: relative;
}

.variationBox .vrtBox .vrtBoxOpen .pTitleText {
    float: none;
}

.vrtList .vrtListOpen .decorationNone {
    text-decoration: none;
}

.vrtList .vrtListOpen a {
    display: block;
    padding: 7px 10px;
    min-height: 50px;
}

.vrtList .vrtListOpen a:hover {
    background-color: #E1F3FB;
}

/* 20160926 new */

.popupVariationBox::-webkit-scrollbar {
	width: 5px;
}

.popupVariationBox::-webkit-scrollbar-track {
	border-radius: 5px;
	background: #eee;
}

.popupVariationBox::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #666;
}

/* 20160927 new */
.vrtListOpen .pNameInfo .pNameInfoBottom .deliveryInfo.gray a{
    display: inline-block;
    padding: 0;
    min-height: 0;
}
