@charset "utf-8";

/*============================================================
 Stock
============================================================*/
/* temporary -------------------- */
#spt_stockWin{
	height:90%;
}
#stockContent{
	height:100%;
}

#stockContent iframe{
	width:100%;
	height:100%;
	border:none;
}
/* temporary -------------------- */

div.stockBox {
}

div#stockArea table {
	width: 100%;
}

div.stockHead {
}

div.stockHead table {
	width: 100%;
	table-layout: auto;
}

div.stockHead th {
	width: 30px;
	padding: 0 10px 0 0;
	vertical-align: middle;
}

div.stockHead td {
	vertical-align: middle;
}

div.stockHead div.pImg img {
	width: 30px;
}

div.stockHead div.ttl li {
	margin: 0 20px 0 0;
}

div.stockHead div.pName {
	font-size: 16px;
}

div.stockHead div.variInfo {
	margin: 0;
}

div.stockMap {
	min-width: 200px;
}

div.stockMap iframe {
	width: 100%;
	height: 500px;
}

div.stockTbl {
	font-size: 12px;
}

div.stockTbl table {
	width: 100%;
	table-layout: auto;
}

div.stockTbl th {
	padding: 5px 10px;
	border: 1px #CCC solid;
	text-align: center;
	background: #EFEFEF;
}

div.stockTbl td {
	padding: 5px 10px;
	border: 1px #CCC solid;
}

div.stockTbl td.area {
	width: 15%;
}

div.stockTbl td.stock {
	width: 15%;
	text-align: center;
}

div.stockTbl td.exhibit {
	width: 15%;
	text-align: center;
}

div.stockTbl td.info {
	padding: 15px;
}

div.stockTbl div.stockClose {
	text-align: left;
	margin: 10px 0 0 0;
}

div.stockTbl div.stockClose a {
	text-decoration: underline;
}

div.storeStockTtl {
	font-size: 14px;
	font-weight: bold;
}

div.storeStockListTbl {
}

div.storeStockListTbl table {
	width: 100%;
	table-layout: auto;
}

div.storeStockListTbl tr:hover {
	background: #F5F5F5;
}

div.storeStockListTbl th {
	background: #FFF;
	vertical-align: middle;
	width: inherit;
	padding: 5px 10px;
	font-size: 11px;
	border-right: 1px dotted #CCC;
	border-bottom: 1px solid #CCC;
}

div.storeStockListTbl th.storeBuy {
	border-right: none;
}

div.storeStockListTbl th.storeStock {
	text-align: center;
}

div.storeStockListTbl th.storeDisplay {
	text-align: center;
}

div.storeStockListTbl td {
	border-bottom: 1px dashed #CCC;
	padding: 10px;
	vertical-align: middle;
	font-size: 12px;
}

div.storeStockListTbl td.mapPin {
	padding: 10px 5px;
	text-align: center;
	vertical-align: top;
}

div.storeStockListTbl td.storeName {
	min-width: 50px;
	font-size: 12px;
}

div.storeStockListTbl td.storePrice {
	min-width: 120px;
}

div.storeStockListTbl td.storePoint {
	min-width: 120px;
}

div.storeStockListTbl td.storeStock {
	min-width: 30px;
	text-align: center;
}

div.storeStockListTbl td.storeDisplay {
	min-width: 30px;
	text-align: center;
}

div.storeStockListTbl td.storeBuy {
	width: 130px;
	text-align: center;
	font-size: 11px;
}
