@charset "utf-8";

/*============================================================
 Top
============================================================*/

/* Common
----------------------------------------------------*/
div#contents.ctlgTop {
	padding: 20px 0 50px 0;
}

div#contents.ctlgTop div.pRecContainer {
	margin: 0 0 20px 0;
	padding: 0;
}

div.btmTxtLink {
	margin: 10px 0 0 0;
	font-size: 11px;
}

div.moreview {
	margin: 10px 0 0 0;
	font-size: 11px;
}


/* Head
----------------------------------------------------*/
div#topHeadArea {
	padding: 0;
	overflow: hidden;
}


/* Main
----------------------------------------------------*/
div#topMainArea {
	padding: 0;
	overflow: hidden;
}

div#contents.ctlgTop div.pRecHead {
	border-bottom: 1px #999 solid;
	padding: 0 0 5px 0;
}

div.imgGalleryUnit {
	position: relative;
	width: 660px;
	margin: 30px auto;
}

div.ctlgTop div#topHeadArea div.thpShifted {
	margin: 0 0 0 220px;
}

div.imgGalleryArw a {
	width: 30px;
	height: 60px;
	position: absolute;
	bottom: 60px;
	opacity: 0.2;
	filter: alpha(opacity=20); /* IE7 */
	-ms-filter: "alpha(opacity=20)"; /* IE8 */
	transition: all 0.2s linear 0s;
}

div.imgGalleryArw a:hover {
	opacity: 0.8;
	filter: alpha(opacity=80); /* IE7 */
	-ms-filter: "alpha(opacity=80)"; /* IE8 */
}

div.imgGalleryArw a.prev {
	background: url(../img/iconArwTopImgGallery.png) no-repeat 0 0;
	left: 10px;
}

div.imgGalleryArw a.next {
	background: url(../img/iconArwTopImgGallery.png) no-repeat -30px 0;
	right: 10px;
}

div.imgGallerySlot {
	text-align: center;
	border-top: 1px #D5D5D5 solid;
	border-bottom: 1px #D5D5D5 solid;
	overflow: hidden;
}

div.imgGallerySlot div.prmImg {
	position: relative;
}

div.imgGallerySlot div.prmImg a {
	display: block;
}

div.imgGallerySlot div.prmImg a.close {
	background: url(../img/iconClose.png) no-repeat 0 0;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 16px;
	height: 16px;
	display: none;
}

div.imgGallerySlot div.prmImg a.close:hover {
	background-position: 0 -32px;
}

div.imgGallerySlot div.prmImg:hover a.close {
	display: block;
}

div.imgGalleryNavRow {
	position: relative;
	background: none;
	margin: 0 0 -4px 0;
	z-index: 1;
}

div.imgGalleryNavRow table {
	margin: 0 auto;
	height: 42px;
}

div.imgGalleryNavRow td {
	vertical-align: middle;
	text-align: center;
	padding: 0 10px;
}

div.imgGalleryNavRow div.imgGalleryNav {
	font-size: 11px;
	line-height: 1.2;
	cursor: pointer;
	color: #666;
}

div.imgGalleryNavRow div.imgGalleryNav:hover {
	color: #000;
}

div.imgGalleryNavRow td.active div.imgGalleryNav {
	color: #F00;
}

div.imgGalleryUnit div.imgGalleryIndicator {
	position: absolute;
	top: 0;
	z-index: 1;
}

div.imgGalleryUnit div.imgGalleryIndicator div.idcBody {
	background: #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #B5B5B5 #B5B5B5 #999;
	border-radius: 5px;
	height: 40px;
}

div.imgGalleryUnit div.imgGalleryIndicator div.idcArw {
	background: url(../img/iconImgGlryNavIdc.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
	margin: -1px auto 0;
}

div.topHeadBedContent {
	position: relative;
	width: 660px;
	margin: 30px auto;
}

div.comShiftNav {
	font-size: 11px;
}

div.comShiftNav li {
	color: #0D6295;
	text-decoration: underline;
	cursor: pointer;
	border-left: 1px solid #CCC;
	margin: 0 0 0 5px;
	padding: 0 0 0 5px;
}

div.comShiftNav li:first-child {
	border-left: none;
	margin: 0;
	padding: 0;
}

div.comShiftNav li:hover {
	color: #F00;
}

div.comShiftNav li.active {
	font-weight: bold;
	text-decoration: none;
	color: inherit;
	cursor: inherit;
}

div.comShiftNav li.active:hover {
	color: inherit;
}

div.communityFeed {
	border-top: 1px solid #CCC;
	padding: 10px 35px 0 10px;
	overflow: hidden;
	height: 280px;
	position: relative;
}

div.comFeedBalloonUnit {
	margin: 0 0 10px 0;
	height: 130px;
}

div.comFeedBalloonUnit div.balloonBody {
	position: relative;
	border: 2px solid #CCC;
	border-radius: 5px;
	padding: 10px;
}

div.comFeedBalloonUnit div.balloonBody div.balloonTail {
	background-image: url(../img/bgTopRvwBlnTail.png);
	background-repeat: no-repeat;
	position: absolute;
	bottom: -20px;
	right: 10px;
	width: 20px;
	height: 20px;
}

div.comFeedBalloonUnit.review div.balloonBody {
	border-color: #6CF;
}

div.comFeedBalloonUnit.review div.balloonBody div.balloonTail {
	background-position: 0 -40px;
}

div.comFeedBalloonUnit.question div.balloonBody {
	border-color: #FC6;
}

div.comFeedBalloonUnit.question div.balloonBody div.balloonTail {
	background-position: 0 -20px;
}

div.comFeedBalloonUnit div.balloonBody div.comListUnit {
	margin: 0;
}

div.comFeedBalloonUnit div.balloonBody div.pImg {
	margin: 0 0 10px 0;
}

div.comFeedBalloonUnit div.balloonBody div.valueAvg {
	margin: 5px 0 0 0;
}

div.comFeedBalloonUnit div.balloonBody div.pName {
	font-size: 11px;
}

div.comFeedBalloonUnit div.comListUnit div.cntrbtImgUnit div.cntrbtImg img {
	width: auto;
	height: 30px;
}

div.comFeedBalloonUnit div.comLineInfo {
	margin: 5px 0 0 0;
}

div.comFeedBalloonUnit div.comLineInfo div.userInfo {
	font-size: 11px;
}

div.comFeedBalloonUnit div.comLineInfo div.userInfo img {
	height: 24px;
}

div.communityFeed div.comFeedPgNav {
	position: absolute;
	top: 50%;
	right: 0;
	margin: -25px 0 0 0;
}

div.communityFeed div.comFeedPgNav div.pgBtn {
	background: #FFF;
	border: 1px solid #B5B5B5;
	cursor: pointer;
	opacity: 0.75;
	text-align: center;
	padding: 5px;
}

div.communityFeed div.comFeedPgNav div.pgBtn:hover {
	opacity: 1;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

div.communityFeed div.comFeedPgNav div.pgBtn.prev {
	margin: 0 0 -1px 0;
	border-radius: 5px 5px 0 0;
}

div.communityFeed div.comFeedPgNav div.pgBtn.next {
	border-radius: 0 0 5px 5px;
}

div.communityFeed div.comFeedPgNav div.pgBtn.disabled {
	opacity: 0.2;
	cursor: default;
}

div.communityFeed div.comFeedPgNav div.pgBtn.disabled:hover {
	box-shadow: none;
}


/* Side
----------------------------------------------------*/
div#topSideArea {
	float: right;
	width: 300px;
	margin: 0 0 0 20px;
}

div.topSideContainer {
	margin: 0 0 20px 0;
}

div.topSideContainer div.viewLink {
	margin: 10px 0 0 0;
}

div.topSideContainer div.viewLink a {
	line-height: 24px;
}

div.topSideContainer div.pRecHead {
	margin: 0 0 10px 0;
}

div.topSideContainer div.pRecHead div.ttl {
	font-size: 12px;
	font-weight: bold;
}

div.bnrBox {
	text-align: center;
	position: relative;
	border: 1px #CCC solid;
	border-radius: 5px;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
	overflow: hidden;
	width: 300px;
}

div.bnrBox a {
	display: block;
}

div.bnrBox img {
	border-radius: 4px;
}

div.bnrBox a.close {
	background: url(../img/iconClose.png) no-repeat 0 0;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 16px;
	height: 16px;
	display: none;
}

div.bnrBox a.close:hover {
	background-position: 0 -32px;
}

div.bnrBox:hover a.close {
	display: block;
}

div.topSideContainer.bdrBox {
	border: 1px #CCC solid;
	border-radius: 5px;
	padding: 0 10px 10px 10px;
}

div.topSideTtl {
	font-size: 12px;
	color: #F00;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 10px 0 0 0;
}

div.topTabNavUnit {
	position: relative;
	margin: 10px 0;
	padding: 0;
}

div.topTabNavUnit div.topTabNavIndicator {
	position: absolute;
	top: 0;
	z-index: 1;
}

div.topTabNavUnit div.topTabNavIndicator div.idcBody {
	background: #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #B5B5B5 #B5B5B5 #999;
	border-radius: 5px;
	height: 30px;
}

div.topTabNavUnit div.topTabNavIndicator div.idcArw {
	background: url(../img/iconTabNavIdc.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
	margin: -1px auto 0;
}

div.topTabNavRow {
	position: relative;
	background: none;
	z-index: 2;
}

div.topTabNavRow table {
	height: 32px;
}

div.topTabNavRow td {
	vertical-align: middle;
	text-align: center;
	padding: 0 8px;
}

div.topTabNavRow div.topTabNav {
	cursor: pointer;
	color: #666;
}

div.topTabNavRow div.topTabNav:hover {
	color: #000;
}

div.topTabNavRow td.active div.topTabNav {
	color: #F00;
}

div.rankingUnit td.rankIconArea {
	width: 30px;
	text-align: center;
}

div.rankingUnit li.rankNum {
	font-size: 18px;
	line-height: 1;
}

div.rankingUnit li.rankIcon {
	margin: 5px 0 0 0;
}

div.bnrNewsUnit table {
	width: 100%;
}

div.bnrNewsUnit td.imgArea {
	width: 100px;
	padding: 0 10px 0 0;
}

div.bnrNewsUnit td.imgArea img {
	width: 100px;
}

div.bnrNewsUnit td.strcArea {
}

div.mainTabBox div.bnrNewsUnit {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: top;
	margin: 10px 0;
}

div.mainTabBox div.bnrNewsUnit td.strcArea {
	padding: 0 30px 0 0;
}

div.subTabBox div.bnrNewsUnit {
	margin: 0;
}

div.subTabBox div.bnrNewsUnit td.imgArea {
	padding: 0 10px 0 0;
}

div.topHlList {
	font-size: 11px;
	border-bottom: 1px dashed #D3D4D5;
}

div.topHlList li {
	border-top: 1px dashed #D3D4D5;
	padding: 10px 0;
}

div.topNewsList {
	font-size: 11px;
	border-bottom: 1px dashed #D3D4D5;
}

div.topNewsList li {
	border-top: 1px dashed #D3D4D5;
	padding: 5px;
}

div.mainTabBox div.viewLink {
	margin: 20px 0 0 0;
}

div.subTabBox div.viewLink a {
	padding: 3px;
}

div#cmpnEntry {
	background: #F5F5F5;
}

div#cmpnEntry div.topSideTtl {
	padding: 10px 0 0 50px;
	position: relative;
}

div#cmpnEntry div.topSideTtl div.cmpnIcon {
	background: url(../img/iconCampaignEntry.png) no-repeat 0 0;
	width: 52px;
	height: 42px;
	position: absolute;
	top: 5px;
	left: -11px;
}

div.entryUnit {
	position: relative;
}

div.entryUnit div.entryIpt {
	height: 24px;
	background: #FFF;
	border: 1px solid #999;
	margin: 0 41px 0 0;
}

div.entryUnit div.entryIpt input {
	background: none;
	border: none;
	height: 20px;
	width: 230px;
	padding: 2px 3px 2px 2px;
}

div.entryUnit div.entryBtn {
	position: absolute;
	top: 0;
	right: 0;
	height: 24px;
	width: 40px;
	border: 1px solid #106CA7;
	background: -moz-linear-gradient(top, #6ABFF5, #398ABA); /* Firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(#6ABFF5), to(#398ABA)); /* Chrome, Safari, iOS, Android */
	background: -o-linear-gradient(top, #6ABFF5, #398ABA); /* Opera */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#6ABFF5', endColorstr='#398ABA'); /* IE6-9 */
	background: linear-gradient(to bottom, #6ABFF5, #398ABA); /* IE10+, W3C */
	zoom: 1;	
}

div.entryUnit div.entryBtn:hover {
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
	background: -moz-linear-gradient(top, #3585B8, #398ABA); /* Firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(#3585B8), to(#398ABA)); /* Chrome, Safari, iOS, Android */
	background: -o-linear-gradient(top, #3585B8, #398ABA); /* Opera */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#3585B8', endColorstr='#398ABA'); /* IE6-9 */
	background: linear-gradient(to bottom, #3585B8, #398ABA); /* IE10+, W3C */
	zoom: 1;	
}

div.entryUnit div.entryBtn a {
	display: block;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 0 #333;
	font-family: Arial, Helvetica, sans-serif;
}


/*	campaignEntry old
----------------------------------------------*/
div#campaignEntry {
	width:210px;
	margin: 10px auto 5px;
	background: url(http://image.yodobashi.com/catalog/20120214-01/common/img/campaign/bgEntryHead.gif) no-repeat 0 0;
	padding: 50px 0 0 0;
}

div.entryInputArea {
	background: #F2F2F2;
	border-right: 1px #CCC solid;
	border-bottom: 1px #CCC solid;
	border-left: 1px #CCC solid;
	padding: 0 10px 10px;
}

div.entryInput {
	float: left;
	background: url(http://image.yodobashi.com/catalog/20120214-01/common/img/campaign/btnEntryInput.gif) no-repeat 0 0;
	width: 148px;
	height: 25px;
	border: none;
}

div.entryInput input {
	width: 138px;
	border: none;
	background: none;
	padding: 0 5px;
	height: 25px;
	line-height: 23px;
}

div.entrySubmit {
	float: left;
}

div.entrySubmit a {
	background: url(http://image.yodobashi.com/catalog/20120214-01/common/img/campaign/btnEntryInput.gif) no-repeat -220px 0;
	width: 40px;
	height: 25px;
	display: block;
	text-indent: -9999px;
}

div.entrySubmit a:hover {
	background: url(http://image.yodobashi.com/catalog/20120214-01/common/img/campaign/btnEntryInput.gif) no-repeat right 0;
}


/*	recommend widget
----------------------------------------------*/
div.rcmWidget {
}

div.rcmWidget div.rcmBlock {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: top;
	margin: 0 0 20px 0;
	font-size: 12px;
}

div.rcmWidget.col03 div.rcmBlock {
	width: 32.8%;
}

div.rcmWidget div.rcmBlock div.inner {
	padding: 5px 10px 0;
}

div.rcmWidget div.rcmBlock div.imgArea {
	float: left;
	width: 100px;
	margin: 0 20px 10px 0;
}

div.rcmWidget div.rcmBlock div.imgArea img {
	max-height: 100px;
	max-width: 100px;
}

div.rcmWidget div.rcmBlock div.txtArea {
	overflow: hidden;
	min-width: 120px;
}

div.rcmWidget div.rcmBlock div.ttl {
	margin: 0 0 5px 0;
}

div.rcmWidget div.rcmBlock div.ttl a {
}

div.rcmWidget div.rcmBlock span.subInfo {
	font-size: 11px;
	margin: 0 0 0 10px;
}

div.rcmWidget div.rcmBlock ul.nav {
	font-size: 11px;
}

div.rcmWidget div.rcmBlock ul.nav.childNav {
	margin: 0 0 0 5px;
}

div.rcmWidget div.rcmBlock ul.nav.discNav {
	font-size: 11px;
	padding: 0 0 0 10px;
}

div.rcmWidget div.rcmBlock ul.nav.discNav li {
	list-style-type: disc;
	margin: 5px 0 0 5px;
}

div.rcmWidget div.rcmBlock ul.nav li {
	margin: 5px 0 0 0;
}

div.rcmWidget div.rcmBrandList li {
	margin: 0 13px 10px 0;
}

div.rcmWidget div.rcmBrandList li a {
	border: 1px solid #CCC;
	border-radius: 6px;
	background: #FFF;
	display: block;
	padding: 4px;
}

div.rcmWidget div.rcmBrandList li a:hover {
	border: 1px solid #F00;
}

div.rcmWidget div.rcmBrandList li img {
	width: 120px;
	height: 60px;
}





/*	new expressService
----------------------------------------------*/
.topSideContainer #expService {
		position: relative;
		border: 1px #CCC solid;
    border-radius: 5px;

}

.topSideContainer .expGgmapArea {
		overflow: hidden;
		position: relative;
		z-index: 1;
		border-radius: 6px 6px 0 0 / 6px 6px 0 0;
		-webkit-border-radius: 6px 6px 0 0 / 6px 6px 0 0;
		-moz-border-radius: 6px 6px 0 0 / 6px 6px 0 0;
}

.topSideContainer #expService .expGgmapArea iframe,
.topSideContainer .expGgmapArea object,
.topSideContainer .expGgmapArea embed {
		width: 100%;
		height: 252px;
}

.topSideContainer #expService  .expGgmapAdd {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 270px;
    background-color: #FFF;
    padding: 10px 5px;
    z-index: 10;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.bannerTxtService {
		color: #F90;
		font-weight: bold;
}

.topSideContainer #expService  .expGgmapAdd p {
  width: 92%;
  color: #333435;
  margin: 0 auto;
  
}

.expServiceBanner a {
		text-decoration: none;
}

.expDeliveryTime .red {
		font-weight: bold;
}

.bannerTxtaddr {
		font-weight: bold;
}

.topSideContainer #expService .expDeliveryTime {
  background-color: #fff;
  color: #333435;
  padding: 0.5rem 0;
	text-align: center;
	border-top: 1px solid #CCC;
  border-bottom-left-radius: 6px; 
  border-bottom-right-radius: 6px; 
  -webkit-border-bottom-left-radius: 6px; 
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
}

.topSideContainer #expService .expDeliveryTime p {
  width: 85%;
  margin: 0 auto;
  padding: 5px 0;
  line-height: 1.2rem;
}

.topSideContainer .destinationChange {
  text-align: right;
  margin: 6px 0 15px 0;
  text-decoration: underline;
}
