@charset "utf-8";

/*============================================================
 Text Nav
============================================================*/
div.txtnav {
    margin: 10px 0 0 0;
	padding: 0 10px;
	font-size: 12px;
}

div#frame div.txtnav {
	padding: 0;
}

div.pReBtn {
	margin: 0;
}

div.breadcrumbs {
}

div.breadcrumbs li {
	margin: 0 5px 0 0;
	padding: 0;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: middle;
}

div.bcKwIptFrame {
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: #666 #CCC #CCC #CCC;
	border-radius: 2px;
	padding: 1px 3px;
}

div.bcKwIptFrame.active {
	padding: 1px 20px 1px 3px;
}

div.bcKwIptFrame input {
	width: 80px;
	transition: all 0.5s ease 0s;
}

div.bcKwIptFrame input::-ms-clear {
	display: none;
}

div.bcKwIptFrame.active input {
	display: block;
	width: 160px;
}

div.bcKwIptFrame a.btnClear {
	position: absolute;
	top: 50%;
	right: 2px;
	margin: -8px 0 0 0;
	transition: all 0.5s linear 0.5s;
}

