#fl_menu2 .avia_styleswitcher2{
position: absolute;
left:-75px;
top:23px;
padding:0px 0px 0px 50px;
border-radius:5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
z-index: 9999;
font-size: 11px;
color:#777;
line-height: 16px;
min-height:100px;
}

#fl_menu2 .avia_styleswitcher2 .openclose {
    cursor: pointer;
    display: block;
    height: 28px;
    position: absolute;
    right: -14px;
    width: 28px;
    background: transparent url(../images/float_bar/close_scroll1.png) no-repeat top left;
	top:-12px;
	z-index:1;
}

#fl_menu2 .display_switch_false .openclose {background: transparent url(../images/float_bar/open1.png) no-repeat top left !important; width:34px; height:158px; right:-33px; top:24px;}
#fl_menu2{position:fixed; top:50px; left:0px; z-index:9; width:100px; color:#fff;}
#fl_menu2 .avia_styleswitch_form{ background: transparent url(../images/float_bar/slide2.png) no-repeat top left; width:172px; height:210px; box-shadow:0 0 5px #000; border-radius:0 6px 6px 0;  }

