﻿/********************************************
		custom-radio-checkbox
*********************************************/
.checkbox,
.radio {
	margin-bottom: 12px;
	padding-left:5px;
	position: relative;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	/*-webkit-backface-visibility: hidden;*/
	cursor:pointer;}
	
.checkbox input,
.radio input {
	outline: none !important;
	opacity: 0;
	filter: alpha(opacity=0);
	zoom: 1; }

.checkbox.checked .icon,
.radio.checked .icon {
	opacity: 1;
	display: block\9; }
	
.radio.checked .icon  {background-position:0 -20px;}
.checkbox.checked .icon{background-position:0 -22px;}
	
.checkbox.checked .icon-to-fade,
.radio.checked .icon-to-fade {
	opacity: 0;
	display: none\9;}

.checkbox.disabled,
.radio.disabled {
	color: #858585;
	cursor: default; }

.checkbox.disabled .icon,
.radio.disabled .icon {
	opacity: 0;
	display: none\9; }

.checkbox.disabled .icon-to-fade,
.radio.disabled .icon-to-fade {
	opacity: 1;
	display: block\9; }

.checkbox.disabled.checked .icon,
.radio.disabled.checked .icon {
	background-position: 0 -60px;
	opacity: 1;
	display: block\9; }

.checkbox.disabled.checked .icon-to-fade,
.radio.disabled.checked .icon-to-fade {
	opacity: 0;
	display: none\9; }

.checkbox .icon,
.checkbox .icon-to-fade,
.radio .icon,
.radio .icon-to-fade {
	background: url("../images/checkbox.png") 0 0 no-repeat;
	display: block;	
	left: 0;
	opacity: 1;
	position: absolute;
	top: 6px;
	-webkit-transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
	-webkit-backface-visibility: hidden; }
.checkbox .icon,.checkbox .icon-to-fade{height: 22px;width: 22px;}
.radio .icon,.radio .icon-to-fade{height: 20px;width: 20px;}

.checkbox .icon,
.radio .icon {
	opacity: 0;
	top: 6px;
	z-index: 2;
	display: none\9; }

.radio .icon,
.radio .icon-to-fade {background-image: url(../images/radio.png);}
.checked .icon-to-fade{background-image: url(../images/radio.png);}
	
	
/****** Custom Styles ****/
/* Payment Cart */
.termsandcond .checkbox .icon, .termsandcond .checkbox .icon-to-fade{top:0;}

.select-device .radio .icon, .select-device .radio .icon-to-fade,.devicelist .radio .icon,.devicelist .radio .icon-to-fade {top:-2px;}	

.pkg-names .radio .icon, .pkg-names .radio .icon-to-fade {top:1px;}	
.pkg-names .radio.checked {font-family: 'helvetica_condensedregular', sans-serif;/*color:#3a3a3a;*/}
.pkg-names i.offer_checked {font-family: 'helvetica_condensedregular', sans-serif; color:#3a3a3a; color:#388996;}
.paymentsubscribe .radio .icon, .paymentsubscribe .radio .icon-to-fade  {top:1px;}
	
/**************************************************************************************** 
		 BxSlider v4.1.2 - Fully loaded, responsive content slider
*****************************************************************************************/

/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
	margin:0 auto;
}

/*.channel-slider { visibility:hidden;}*/

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	/*-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
	left: -5px;
	background: #fff;*/
	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

/* LOADER */

/*.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../images/main-slider/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}*/

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #fff;
	text-indent: -9999px;
	display: block;
	width: 13px;
	height: 13px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.8;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #5499a2;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(../images/main-slider/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(../images/main-slider/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 40%;
	margin-top: 25px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 1;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../images/main-slider/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../images/main-slider/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}


/** Custom Styles
===================================*/
.banner-wrap .bx-wrapper {background-color:rgba(51, 65, 69, 1);}

/*Yupp Slider*/
.yupp-slider .bx-wrapper, .player-list .bx-wrapper,.episodes-list .bx-wrapper {margin:0 !important; max-width:100% !important;}
.yupp-slider .bx-wrapper .bx-prev, .player-list .bx-wrapper .bx-prev, .episodes-list .bx-wrapper .bx-prev {
	width:20px;
	height:36px;
	left: -35px;
	background:url(../images/icon-prev.png) no-repeat 0 0;
}

.yupp-slider .bx-wrapper .bx-next, .player-list .bx-wrapper .bx-next, .episodes-list .bx-wrapper .bx-next {
	width:20px;
	height:36px;
	right:-35px;
	background:url(../images/icon-next.png) no-repeat 0 0;
}

.yupp-slider .bx-wrapper .bx-prev:hover, 
.yupp-slider .bx-wrapper .bx-next:hover,
.player-list .bx-wrapper .bx-prev:hover, 
.player-list .bx-wrapper .bx-next:hover,
.episodes-list .bx-wrapper .bx-prev:hover, 
.episodes-list .bx-wrapper .bx-next:hover	{opacity:0.6;}

.yupp-slider .bx-wrapper .bx-controls-direction a {margin-top:5px;}
.player-list .bx-wrapper .bx-controls-direction a {margin-top:-12px;}

/*Packages/Offers Slider*/
.package-right .bx-wrapper, .offers-right .bx-wrapper {margin:0; float:left}
.bx-wrapper .table-pkg-slide td img {display:inline;}
.package-right .bx-has-pager, .offers-right .bx-has-pager {position: absolute; top:-5px; width: 100%;}
.package-right .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto,
.offers-right .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {right: 28%;}
.package-right .bx-wrapper .bx-pager.bx-default-pager a,
.offers-right .bx-wrapper .bx-pager.bx-default-pager a {background:#dfdfdf;}
.package-right .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.package-right .bx-wrapper .bx-pager.bx-default-pager a.active,
.offers-right .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.offers-right .bx-wrapper .bx-pager.bx-default-pager a.active {background:#5499A2;}

/*Catch Up Slider*/
.catchup-list .bx-viewport{min-height:75px !important;}
.catchup-list .bx-wrapper .bx-controls-direction a {margin-top:-16px;}
.episodes-list .bx-wrapper .bx-controls-direction a {margin-top:-26px;}


@media (min-width:320px) and (max-width:480px) {
}