﻿@charset "utf-8";
/* CSS Document */

/* Custom Font Styles
========================================================================= */

/******* Hevetical Regular *******/
@font-face {
    font-family: 'HelveticaRegular';
    src: url('../fonts/helr45w_3.eot');
    src: url('../fonts/helr45w_3.eot') format('embedded-opentype'),
         url('../fonts/helr45w_3.woff') format('woff'),
         url('../fonts/helr45w_3.ttf') format('truetype'),
         url('../fonts/helr45w_3.svg#HelveticaRegular') format('svg');
}

/******* Hevetical Condenced Regular *******/
@font-face {
    font-family: 'helvetica_condensedregular';
    src: url('../fonts/ps_0-webfont.eot');
    src: url('../fonts/ps_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ps_0-webfont.woff') format('woff'),
         url('../fonts/ps_0-webfont.ttf') format('truetype'),
         url('../fonts/ps_0-webfont.svg#helvetica_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/******* Hevetical Condenced Bold *******/
@font-face {
    font-family: 'helvetica_condensedbold';
    src: url('../fonts/ps_2-webfont.eot');
    src: url('../fonts/ps_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ps_2-webfont.woff') format('woff'),
         url('../fonts/ps_2-webfont.ttf') format('truetype'),
         url('../fonts/ps_2-webfont.svg#helvetica_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/******* Oswald Regular *******/
@font-face {
    font-family: 'OswaldBook';
    src: url('../fonts/oswald-regular.eot');
    src: url('../fonts/oswald-regular.eot') format('embedded-opentype'),
         url('../fonts/oswald-regular.woff') format('woff'),
         url('../fonts/oswald-regular.ttf') format('truetype'),
         url('../fonts/oswald-regular.svg#OswaldBook') format('svg');
}

/******* Hevetical Condenced Regular *******/
@font-face {
	font-family: 'helvetica_condensedregular';
	src: url('../fonts/ps_0-webfont.eot');
	src: url('../fonts/ps_0-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/ps_0-webfont.ttf') format('truetype'),  url('../fonts/ps_0-webfont.svg#helvetica_condensedregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/******* General css *******/
body{ margin:0; padding:0; font-family: "helvetica_condensedregular", sans-serif; font-size:14px; color:#666;}
:focus { outline: 0;}
a {	outline: none !important;}
#navbar_us .container-fluid { padding:0 30px;}
h1, h2, h3, h4{color: #B6B6B6;}
/******* margins css *******/


.no-mar{ margin:0px}
.mt0{ margin-top:0px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mt40{ margin-top:40px;}
.mt70{ margin-top:70px;}
.mt100{ margin-top:100px;}

.mr10{ margin-right:10px;}
.mr20{ margin-right:20px;}
.mr30{ margin-right:30px;}
.mr40{ margin-right:40px;}

.mb0{ margin-bottom:0px !important;}
.mb10{ margin-bottom:10px;}
.mb20{ margin-bottom:20px;}
.mb30{ margin-bottom:30px;}
.mb40{ margin-bottom:40px;}

.ml0{ margin-left:0px;}
.ml10{ margin-left:10px;}
.ml20{ margin-left:20px;}
.ml30{ margin-left:30px;}
.ml40{ margin-left:40px;}

/******* padding css *******/

.no-pad{ padding:0px}
.pad20{ padding:20px;}
.pt10{ padding-top:10px;}
.pt20{ padding-top:20px;}
.pt30{ padding-top:30px;}
.pt40{ padding-top:40px;}

.pr10{ padding-right:10px;}
.pr20{ padding-right:20px;}
.pr30{ padding-right:30px;}
.pr40{ padding-right:40px;}

.pb10{ padding-bottom:10px;}
.pb20{ padding-bottom:20px;}
.pb30{ padding-bottom:30px;}
.pb40{ padding-bottom:40px;}

.pl10{ padding-left:10px;}
.pl20{ padding-left:20px;}
.pl30{ padding-left:30px;}
.pl40{ padding-left:40px;}

/******* border radius css *******/

.br2{ border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;}
.br4{ border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.br6{ border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px;}
.br8{ border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;}
.no-border{ border:none}

a.theme_color{ color:#53b4c4;}
.tdu{ text-decoration:underline;}
/******* for navbar *******/
.nav-topheight{ width:100%; height:82px; display:block}
.content-area-bg{ margin-top:82px;}
#navbar_us {background-color: rgba(45, 60, 64, 0.95); height:82px; border-bottom:solid 3px #53b4c4;}
/*#navbar_us .container-fluid {padding:0 2px;}*/
.logo {	display: inline-block;	margin-top: 25px; margin-right:10px;}
#navbar_us li a { font-size:13px;line-height:18px; color:#b2b2b2;}
#navbar_us li.active a {color:#fff;	background:none;}
#navbar_us li a.active {color:#fff;	background:none;}
#navbar_us li a.active {	background-color: rgba(83, 183, 196, 1) !important;}
#navbar_us li:hover a {	color:#fff;}
#navbar_us li a i {	background: url("../images/nav-sprite.png");display: block;	height: 22px; margin-bottom: 10px; margin-left: auto; margin-right: auto; margin-top: 0; width: 22px; text-shadow: 1px 1px 1px rgba(31, 41, 41, 0.75);}
#navbar_us li a i.packages-icon { background-position: -21px 0;}
#navbar_us li a:hover .packages-icon, #navbar_us li a.active .packages-icon {background-position: -21px -22px;}
#navbar_us li a i.live-icon { background-position: -65px 0;}
#navbar_us li a:hover .live-icon, #navbar_us li a.active .live-icon { background-position: -65px -22px;}
#navbar_us li a i.shows-icon { background-position: -87px 0;}
#navbar_us li a:hover .shows-icon, #navbar_us li a.active .shows-icon {	background-position: -87px -22px;}
#navbar_us li a i.movies-icon {	background-position: -43px 0;}
#navbar_us li a:hover .movies-icon, #navbar_us li a.active .movies-icon { background-position: -43px -22px;}
#navbar_us li a i.moffers-icon { background-position: -197px 0;}
#navbar_us li a:hover .moffers-icon, #navbar_us li a.active .moffers-icon { background-position: -197px -22px;}
#navbar_us li a i.devices-icon { background-position: -131px 0;}
#navbar_us li a:hover .devices-icon, #navbar_us li a.active .devices-icon {	background-position: -131px -22px;}
#navbar_us li a i.ppv-icon {	background-position: -352px 0;}
#navbar_us li a:hover .ppv-icon, #navbar_us li a.active .ppv-icon { background-position: -352px -22px;}
#navbar_us li a i.tvshows-icon { background-position: -382px 0;}
#navbar_us li a:hover .tvshows-icon, #navbar_us li a.active .tvshows-icon {	background-position: -382px -22px;}
.main_search{ margin-top:18px; display:block;}
.navbar-collapse.collapse.in {overflow: scroll;}
#navbar_us .my_nav .navbar-nav li a.user_account{ padding-right:20px;background: rgba(0, 0, 0, 0) url("../images/arrow-down.png") no-repeat scroll right center;}
#navbar_us li a i.events-icon {
    background-position: -153px 0;
}
#navbar_us li a i.argentina-icon {
    background-position: -260px 0;
}
#navbar_us li a:hover .events-icon, #navbar_us li a.active .events-icon{
    background-position: -153px -23px;
}
.modal-content h3.reg_fr_new{ font-size:24px; margin-top:20px;}

/******* for navbar-right *******/

#navbar_us .my_nav { margin-bottom: 0; padding-bottom: 0;}
#navbar_us .my_nav li a { font-size: 14px;}
#navbar_us .my_nav .navbar-nav i.icon-cart {background-position: 0 -16px;}
#navbar_us .my_nav .navbar-nav li a i {	background-attachment: scroll;	background-clip: border-box; background-color: rgba(0, 0, 0, 0); background-image: url("../images/nav-sprite-sml.png");	background-origin: padding-box;	background-repeat: no-repeat; background-size: auto auto; display: block; float: left; height: 16px; width: 16px;}
#navbar_us .my_nav .navbar-nav li a { padding:15px 3px;	margin:0 3px;}
.navbar-collapse.collapse.in {overflow: scroll;}
#navbar_us .my_nav .navbar-nav li a.user_account{ padding-right:20px;background: rgba(0, 0, 0, 0) url("../images/arrow-down.png") no-repeat scroll right center;}

#navbar_us .my_nav .navbar-nav:first-child li a { padding-bottom:0;}
#navbar_us .my_nav .navbar-nav li a i.icon-search {	background-attachment: scroll; background-clip: border-box; background-color: rgba(0, 0, 0, 0);	background-image: url("../images/search-icon2.png"); background-origin: padding-box; background-position: left top;	background-repeat: no-repeat; background-size: auto auto; display: block; float: left; height: 17px; margin-right: 5px;	opacity: 0.6; width: 16px;}
.main-nav-sml-popup,  .main-nav-sml-popup1{ background: rgba(59, 69, 70, 1) none repeat scroll 0 0; border-bottom: 3px solid #53b4c4; color: #999999; display: none; font-size: 14px; height: 60px; padding: 15px; position: absolute; right: 0px; text-align: left; text-shadow: none; top: 49px; width: 280px;}
.search_test{border:1px solid #e8e8e8; border-radius:3px; padding:5px 30px 5px 12px; width:100%; height: 30px; line-height:30px; font-family: 'helvetica_condensedregular', sans-serif; font-size:12px; background:#f1f1f1; margin-left:4px; color:#333;}
.search-sml{ position:relative;}
.search-sml-icon{width:16px; height:18px; display:block; background:url(../images/search-icon2.png) no-repeat left center; cursor:pointer; position:absolute; right:10px; top:0px;}
.modal-content h3{ color:#fff; margin:10px 0}
.yupp-modal input.form-control{ border-radius:0; border:none;}
.tac{ text-align:center;}
.login-modal .col-sm-12 a:hover{ text-decoration:underline;}
.yupp-modal .modal-content, .yupp-modal .modal-content input, .yupp-modal .modal-content button{ border-radius:0; border:0; }
.yupp-modal input:focus{color:#333; -webkit-box-shadow:0 0 4px 2px rgba(0,112,130,0.8);box-shadow:0 0 4px 2px rgba(0,112,130,0.8);}
.modal-content .tdu:hover{ text-decoration:underline;}
.txt_countrycode{ width:18%; margin-right:2%; text-align:center; float:left;}
.reg_inp_pho{ width:75%; float:left;}
.error-mesg{ background:#fff; color:#b41919; border:solid 1px #b41919; height:34px; padding:6px 12px; text-align:center;}

.navbar-right {    margin-right: 0px !important;}
/******* for default page *******/

/********* Login Myaccount dropdown *********/
/*User Popup Styles*/
.userdets-popup {display:none; position: absolute; left:-115px; top:37px; background: #ffffff; width:212px; padding:0; color:#999999; font-size:14px; text-shadow:none;
	border: 1px solid #66cccc; -webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,0.6); box-shadow: 0 2px 4px 1px rgba(0,0,0,0.6); text-shadow:none;}
.userdets-popup:after, .userdets-popup:before {	bottom: 100%; left: 65%; border: solid transparent;	content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
.userdets-popup:after {	border-color: rgba(255, 255, 255, 0); border-bottom-color: #ffffff;	border-width: 12px;	margin-left: 9px;}
.userdets-popup:before { border-color: rgba(102, 204, 204, 0); border-bottom-color: #66cccc; border-width: 13px; margin-left: 8px;}
.userdets-popup { top: 46px !important;}
.user-dets{ position:relative; display: inline-block; margin-left:6px;}
#navbar_us .my_nav .navbar-nav .user-links{ padding:0; margin:0;}
#navbar_us .my_nav .navbar-nav .user-links li{ list-style:none;}
#navbar_us .my_nav .navbar-nav .user-links li a{ padding:10px 20px; list-style:none; display:block; color:#848484}
#navbar_us .my_nav .navbar-nav .user-links li a:hover{ color:#53b4c4; text-decoration:none;}
#navbar_us .my_nav .navbar-nav .user-links li:first-child{ border-bottom:solid 1px #ccc;}
.sel-location{ font-size:20px; text-align:left; margin-left:25px;}
.language_bottom{ padding:0 20px 20px 20px;}
.location-list{ margin-left:25px;}
.location-list li{ list-style:none;}
.location-list li a{ color:#999; text-decoration:none; font-size:18px;  float:left;}
.location-list li a.active{ color:#53b4c4}
.location-list li a:hover{ color:#53b4c4;}
.modal-dialog.pop-widtd{ width:370px; margin-left:auto; margin-right:auto;}
.modal-dialog.pop-widtd1{ margin-top:110px}

.lan-nav{display: block;height: 60px; margin-bottom: 20px; border-bottom: 1px solid #DFDFDF;}
.align-center td{ text-align:center; border:none !important; padding:0px !important}
.align-center td a{ color:#555; display:block; text-decoration:none; padding:8px 12px;border-bottom: 3px solid #fff;}
.align-center td a.active{color: #53B4C4; border-bottom: 3px solid #53B4C4;}
.align-center td a:hover{border-bottom: 3px solid #ccc;}
.align-center td div.active a, .table .align-center td.active a{color: #53B4C4; border-bottom: 3px solid #53B4C4;}
.table .align-center td.active{ background:none;}
.table.package_lang56 .align-center td { background:none;}
.table.package_lang56 .align-center td.active a{ color: #53B4C4; border-bottom: 3px solid #53B4C4;}
.drop-new{box-shadow: 0px 0px 2px rgba(0,0,0,0.5);}
.small-thumb-panel {overflow: hidden; display: block;}
.small-thumb { width: 100%; overflow: hidden;}
.pop-pro{ background:#F5F5F5; padding:10px; font-family: "helvetica_condensedregular",sans-serif; }
.pop-pro a{ text-decoration:none; color:#53B4C4; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.main-title i.icon-channel {background: url("../images/popular-channel-icon.png") no-repeat scroll center center #53B4C4;}
.main-title i { width: 77px; height: 77px; float: left; border-radius: 50%;}
.main-title i.icon-movies {background: url("../images/popular-movies-icon.png") no-repeat scroll center center #53B4C4;}
.main-title h2 {line-height: 22px; text-transform: uppercase;  margin: 0px 0px 10px }
h1, h2, h3, h4, h5, h6 { font-family: "OswaldBook",sans-serif;}
.main-title .titlebody { padding-left: 97px;}
.main-title {color: #B8B7B7; font-size: 18px;}
.main-title .desc .desc-cont {width: 75%; display: inline-block;}
.small-thumb .pay-per-icon{ background:url(../images/payperview-icon.png) no-repeat; width:61px; height:53px; display:block; position:absolute; top:-1px; right:-1px}
.default-btn{ background:#53B4C4; padding:8px 25px; border:none !important; color:#FFF; border:1px solid #13ade4; -webkit-border-radius: 0px;-moz-border-radius: 0px; border-radius: 0px !important;font-family: "helvetica_condensedregular",sans-serif;
font-size: 18px;text-transform: uppercase;text-align: center;}
.default-btn:hover{ background:#2f8290}
.container-fluid{ padding:0px 70px}
.view-all a{ color:#53B4C4; font-size:18px; font-weight:normal}
.main-title .desc .desc-cont-mintext{display: inline-block; font-size:14px}
.channel-links h2{ display:block; color:#B8B7B7; margin-bottom:20px}
.chlink-h4{ font-size:14px; color:#B8B7B7}
.chlink-h4 a{ color:#B8B7B7; text-decoration:none; display:block; padding:2px 0px}
.chlink-h4 a:hover{color:#53B4C4; text-decoration:underline}
.chlink-h4 h4 a{ color:#666; font-size:16px}
.yuppflix_lg_head{ padding-top:15px; padding-bottom:15px;}
.mcontent .text-width{ color:#333}
.text-width_lable{ width:auto;}
.movie_det_fmob .movie_ppv{ right:15px; top:20px;}
.word_wrap_fix span, .word_wrap_fix td{ word-wrap:break-word;}
.ch_blo_mas_inner .col-md-2{ margin-bottom:20px;}

/******* for flix header *******/

.flix-logo img{ max-width:100%; width:164px}
.logo{ float:left;}
.head-search{ background:url(../images/big-search-bg.gif) repeat-x top; float:left;border-top-left-radius: 5px; width:84% !important; border-bottom-left-radius: 5px ;border-top-right-radius: 0px; border-bottom-right-radius: 0px;}
.head-serbut{background: url(../images/search-but-bg.gif) repeat-x top; border-top-left-radius: 0px; border-bottom-left-radius: 0px ;border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
.select-lan{background:url(../images/big-search-bg.gif) repeat-x top; }
.border-bot{ border-bottom:1px solid #CFCFCF;}

/******* for Flix body *******/
.cont_header h1{ margin:10px 0 0px 6px; float:left; font-size:24px;}
.home_mor{ color:#53B7C4; text-decoration:underline; font-size:16px; margin-top:13px;}
.bg_gray{ background:#f2f2f2;}
.ch_blo_mas .col-xs-3, .ch_blo_mas .col-xs-4{ padding:5px;}
.ch_blo_mas_inner .col-xs-3, .ch_blo_mas_inner .col-xs-4{ margin-bottom:15px;}
.ch_blo_mas .movie_block{ background:#fff; padding:0px 0px 5px; text-align:center; display:block; overflow:hidden; position:relative;}
.ch_blo_mas .movie_block span{ color:#384649; font-size:14px; width:100%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; margin-top:10px; display:inline-block; padding:0 4px;}
.tlinks a{ color:#4B4B4B}
.tlinks a:hover{ color:#337AB7; text-decoration:none}
.pay-per-icon{ background:url(../images/payperview-icon.png) no-repeat; width:61px; height:53px; display:block; position:absolute; top:4px; right:4px}
.yuppflix_defbtn input{ background:none; border:none;}
.flix_next{ background:url(../images/big-search-bg.gif);}

.catchup-ch-thumbs{display: block; background: none repeat scroll 0% 0% #F7F7F7; border: 2px solid #F2F2F2;}
.catchup-ch-thumbs:hover{  border: 2px solid #53B4C4;}
/*.catchup-ch-thumbs:hover, .catchup-ch-thumbs.active{border: 2px solid #53B4C4; }
.catchup-ch-thumbs.active::before {
    border-color: #53B4C4 rgba(83, 180, 196, 0) rgba(83, 180, 196, 0);
    border-width: 14px;
    margin-left: -14px;
}*/
.grey-dark-link{ color:#7B7B7B !important;}
.blue-color{ color:#53B4C4}
.bg-grey{ background: #E9EBEB}
.live-ch-thumbs{display: block; background: none repeat scroll 0% 0% #F7F7F7; border: 2px solid #F2F2F2;}
.live-ch-thumbs:hover{  border: 2px solid #53B4C4;}
.live-ch-thumbs.active {
    background-color: #eee;
    border: 2px solid #53B4C4;
    color: #333;
    font: 16px/24px sans-serif;
    position: relative;
}
.catchup-ch-thumbs.active {
    background-color: #eee;
    border: 2px solid #53B4C4;
    color: #333;
    font: 16px/24px sans-serif;
    position: relative;
}
.catchup-ch-thumbs.active:after,
.catchup-ch-thumbs.active:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #eee;
    bottom: -10px;
    content: '';
    left: 50%;
    margin-left: -10px;
    position: absolute;
}

/* Styling for second triangle (border) */

.catchup-ch-thumbs.active:before {
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid;
    border-top-color: inherit; /* Can't be included in the shorthand to work */
    bottom: -13px;
    margin-left: -13px;
}
/******* for devices *******/
.note-box {border: 1px solid #91CED9; padding: 10px; color: #3E3E3E; margin-bottom: 30px;}
.acti-box {width: 100%; background:#53B4C4; padding: 25px 30px; color: #FFF; font-size: 18px;margin-bottom: 18px;}
.f18{ color: #3E3E3E; font-size: 18px;}
.f18-b2{ color:#B6B6B6; font-size: 18px;}
.light-grey{ color:#848484}

/******* for my account *******/
/* .myacc-tabs li a { padding: 15px 12px; font-size: 16px; }*/
.myacc-tabs li a {display: block; font-family: "OswaldBook",sans-serif; font-size: 18px; color: #B6B6B6; border: 3px solid #FFF; outline: 1px solid #DADADA; padding: 15px 10px; text-align: center;}
.myacc-tabs li a:hover{ text-decoration:none; color:#53B4C4 }
.error_pack_img {
    background: url(../images/no_offers_error.png) no-repeat;
    line-height: 30px;
    padding-left: 50px;
	font-size:18px;
    margin-bottom: 20px;
    display: block;
}
.sub-block{ background:#f1f1f1; font-size:16px; padding:20px 15px; margin:20px 0px; color:#525252}
.sub-block h4{ color:#525252}
.sub-block span{ color:#53B7C4}
.dev-block{ border:1px solid #f1f1f1; font-size:18px; padding:20px 15px; margin:20px 0px; color:#525252; text-align:center}
.min-height{ min-height:65px; padding-bottom:10px; display:block; word-wrap: break-word;}
.font34{ font-size:34px; color:#333333}
.applynowshow_inner .txtbox{ margin-top:0;width:70%;}
.for_pk564 h2{ margin-top:0;}
a.tooltip_new_pro span {
    display: none;
    line-height: 20px;
    margin-left: -96px;
    margin-top: -130px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    width: 240px;
    z-index: 10;
}
.tooltip.tooltip_new_pro{ opacity:1 !important; float:left; position:inherit; margin-top:-15px; margin-left:10px;}
.tooltip.tooltip_new_pro:hover span{ display:block; position:absolute; background:#fffaf0; border:solid 1px #ddccaa; box-shadow: 5px 5px 8px #ccc; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; margin-top:-100px;}
/******* for footer *******/

footer{background: none repeat scroll 0% 0% #D1D9DB; min-height: 259px; padding: 20px 0px 50px; border-top: 1px solid #BFBFBF; text-align: left;}
footer a{ text-decoration:none; text-align:left; color:#666; display:block}
footer a:hover{ color:#53B7C4}
.footer-h4 h4{ color:#525252; font-size:16px}
.connectus a{text-indent:-99999px;display:block;background:url(../images/social-icons1.png) no-repeat center center #fff;width:13px; height:13px;border-radius:50%;padding:15px; float:left; margin-right:3px}
.connectus a.fb {background-position:-3px -3px; margin-left:0px}
.connectus a.twit {background-position:-43px -3px;}
.connectus a.gplus {background-position:-83px -3px;}
.connectus a.youtube {background-position:-121px -3px;}
.connectus a.linkedin {background-position:-155px -3px !important;}

.connectus a:hover.fb {background-position:-3px -43px;background-color:#3b5999;}
.connectus a:hover.twit {background-position:-43px -43px;background-color:#1AB4E2;}
.connectus a:hover.gplus {background-position:-83px -43px;background-color:#d54836;}
.connectus a:hover.youtube {background-position:-121px -43px;background-color:#c5302c;}
.connectus a:hover.linkedin {background-position:-155px -43px  !important;background-color:#006598  !important;}

/******* for login-Registration *******/
.pop-width{ width:30%;}
.back-blue{ background:#53b4c4; color:#FFF; margin-bottom:10px;  padding:20px; overflow:hidden;}
.back-blue a, .back-blue a:hover{ text-decoration:none; color:#FFF}
.back-oth{ background:#fff; color:#666;}
.blk-btn{ background:#344245; border:1px solid #344245; color:#FFF; text-decoration:none; font-size:20px; width:100%; margin:10px auto}
.blk-btn1{ background:#344245; border:1px solid #344245; color:#FFF; text-decoration:none; font-size:16px; padding:2px 15px; margin-top:20px;}
.blk-btn:hover{ background:#000000; border:1px solid #000000; color:#FFF; text-decoration:none}
.blk-btn1:hover{ background:#000000; border:1px solid #000000; color:#FFF; text-decoration:none}
.back-white{ background:#fff;margin-bottom: 10px; overflow: hidden;}
.located{ font-size:20px; margin:10px 0;}
.located .glyphicon-remove{font-size: 20px !important;font-weight: lighter;margin-right: -10px;margin-top: -20px;}
.yupp-modal .primary-btn{ padding:12px 50px; background:#344245; color:#fff; font-size:18px; margin:15px 0 0 0;}
.yupp-modal .primary-btn:hover,.yupp-modal .primary-btn:focus{ background:#1f2829; color:#fff;}
.pop-widtd1 .modal-content h3{ margin-bottom:20px; color:#53b4c4;}

/******* for Search and Browse *******/
.full-bord{ border:1px solid #9E9E9E; padding: 6px 12px; font-size:14px; line-height:1.429; margin:0px 4px }
.flix_thumb { width: 100%;}
.mcontent{ font-size:16px; color:#999}
.mcontent .table > tbody > tr > td{ border:none !important; text-align:left; padding:4px;}



.md-btn{ background:#53B4C4; /*width:160px*/ color:#fff; border:1px solid #13ade4; -webkit-border-radius: 0px;-moz-border-radius: 0px; border-radius: 0px !important; margin-bottom:20px;}
.md-btn:hover{ background:#13ade4; color:#FFF;}
.blue-text{ color:#53b4c4; font-size:28px}
.img-responsive{ width:100%}
.main-slider li a img{ width:100%}

.live-chat {padding:10px 0px 10px 45px; width:116px; background-color:rgba(46,60,64,0.7);  background-position:15px; background-image:url(../images/icon-chat.png); background-repeat:no-repeat; color:#fff; font-size:14px; border-radius:5px 0 0 5px; display:block; cursor:pointer; position:fixed; right:0px; bottom:2px; z-index:1000;}
.live-chat a {color:#fff;}
.live-chat:hover {background-color:#1f2829;}
.box_packages1 .cost1 {
    font-size: 17px;
    color: #3e3e3e;
    font-family: 'OswaldBook',sans-serif;
}

.box_packages1 .org-cost{
    font-size: 17px;
    margin-bottom: 0px;
     color: #3e3e3e;
     font-weight:bold;
    text-transform: capitalize;
}
.box_packages1 .pack_subscribe1{margin-top:58px!important; margin-left:0; }
.box_packages1 .pack_subscribe1 .btn-info.cart-btn, .box_packages1 .pack_subscribe1 .btn-info.cart-btn:hover{display:inline; height:48px; margin-left: -5px;}
.box_packages1 .org-cost .cb{ color: #3e3e3e;}
.box_packages1 .org-cost .aus_strike{ color: #53b4c4;}

.cost1 .cost{ font-size: 17px; font-weight: bold;}


/******* for cartpages (Billing) *******/
.cart_desc{ background:#f2f2f2;}
.uptodate { color: #b8b7b7; font-size: 18px; }
.cart-wizard { padding: 55px 0 0 0;}
.cart-wizard li { float: left; padding-bottom: 10px; width: 250px;}

/* Cart */
.enteraincart-section{background:#f2f2f2;}
.entertai-cart{padding:20px 0 0 0;}
.cart-title{color:#b6b6b6;}
.uptodate{font-size:18px;color:#b8b7b7;}
.cart-wizard{padding:35px 0 0; display:block; overflow:hidden;}
.cart-wizard .col-md-4{float:left;border-bottom:5px solid transparant;padding-bottom:10px;}
.cart-wizard .col-md-4.active,.cart-wizard .col-md-4:hover {border-bottom:5px solid #53b4c4; text-decoration:none;}
.cart-wizard a:hover{ text-decoration:none;}
.cart-wizard a {text-transform:uppercase;color:#3e3e3e;font-family: 'helvetica_condensedregular', sans-serif;font-size:24px;}
.cart-wizard a span {color:#b8b7b7;font-size:18px;display:block;}
.cart-wizard i {border-radius: 50% 50% 50% 50%; float: left; height: 55px; width: 55px;margin-right:10px;}
.conform-icon{background:#53b4c4 url(../images/cart-sprite.png) no-repeat 0 16px;}
.seldevice-icon{background:#53b4c4 url(../images/cart-sprite.png) no-repeat -110px 16px ;}
.payment-icon{background:#53b4c4 url(../images/cart-sprite.png) no-repeat -55px 16px ;}
.table.cart_step1table  th, .table.cart_step1table td{ padding:20px 8px; font-size:18px; color:#333; vertical-align:top;}
.table.cart_step1table th{ color:#53b4c4; font-weight:normal;}
.txtbox{ padding:10px 120px 10px 10px; border:solid 1px #ccc; border-radius:4px; margin-top:20px;}
.applynowshow_inner{ position:relative;}
.applynow{ position:absolute; top:1px; background:#bbb; color:#fff; padding:10px 20px; right:30%; border-radius:0 4px 4px 0; border:0;}
.applycoupon{ margin-top:10px; display:block;}
.table.cart_step1table tr.cart_step1total td{ font-size:22px;}
.continue_shopping{ font-size:22px; color:#333; text-decoration:underline;}
.table.cart_step1table .cart_recurring td{ padding:0; font-size:14px; color:#53b4c4;}
.cart_cont .default-btn{ padding:8px 25px; font-size:18px;}
.device1{ font-size:18px; color:#3e3e3e; line-height:24px;}
.device1 span { color: #9e9e9e;}
.device-acnt-title{ margin-top:20px; border-top:solid 1px #ccc; color:#333;}
.pl_se_de{ font-size:18px; color:#3e3e3e; margin-bottom:20px;}
.cart_cont .radio span:last-child{ display:inline-block; margin-top:4px; font-weight:normal; font-size:17px;}
.cart_cont .radio{ height:40px;}
.device-note{ border:dotted 1px #53b4c4; padding:10px; font-size:18px; margin:30px 0 20px 0;}
.order_sun_cont{ background:#fbfbfb; color:#3e3e3e;}
.order_sun_cont h2{ background:#53b4c4; color:#fff; padding:20px 30px; font-size:18px;}
.ordersum-tab{ font-size:18px; display:inline-table; width:100%;}
.ordersum-tab th{ color:#333; font-weight:bold;}
.ordersum-tab tr th:first-child{ width:70%;}
.ordersum-tab tr th, .ordersum-tab tr td{ padding:20px 0;}
.ordersum-tab tr th:last-child, .ordersum-tab tr td:last-child{ text-align:right;}
.ordersum-tab tr td{ border-bottom:solid 1px #ccc;}
.ordersum-tab tr.ordersum-tab_total tr td{ border:none;}
.ordersum-tab-last tr th:first-child{ width:65%;}
.ordersum-tab-last tr  th{ font-weight:normal !important; font-size:22px; padding:10px 0;}
.cart_2_righttable{ margin:0 20px;}
.pay_type_cont{border-bottom: solid 1px #b8b8b8; padding-bottom:10px; margin-bottom:20px;}
.f18{ color:#3e3e3e; font-size:18px; line-height:24px;}
#divalert {background: #53b4c4 none repeat scroll 0 0;		
	    box-shadow: 0 1px 10px #ccc;		
	    display: block;		
	    left: 50%;		
	    padding: 10px 15px;		
	    position: absolute;		
	    top: 45%; color:#fff;}		
		#divalert .errormessage{display:block;}		
		#divalert .cart_btnsd{border:0; box-shadow:none; color:#fff; background:rgba(45, 60, 64, 0.95); padding:5px 10px;}
.pay_type_cont .col-md-3{ margin:0; padding:0;}
.pay_type_cont .col-md-3 .radio{ margin:0; font-weight:normal;}
.pay_type_cont .col-md-3 .radio span:last-child{ display:inline-block; margin-top:3px;}
.lst_pay_acco input{ width:90%; padding:10px 8px; border:solid 1px #d2d2d2; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.paymentsubscribe td { color: #3e3e3e; font-size: 18px; padding-bottom: 20px;}
.paymentsubscribe .td1 { vertical-align: middle; width: 26%;}
.dateselect { float: left; padding-right: 29.5%; width: 6%;}
.dateselect select, .enddateselect select { height: auto !important; width: 120px !important;}
#tblpaymentsubscribe .select { font-size: 16px; padding-bottom: 8px; padding-left: 8px; padding-right: 8px; padding-top: 8px;}
.ccard{ border-bottom: solid 1px #eaeaea; padding-bottom:20px; width:100%; margin-bottom:20px;}
.address {color: #3e3e3e; font-size: 18px; line-height: 26px; margin:0;}
.tcagreement{ font-size:14px; font-weight:normal; color:#53b4c4; margin-left:10px;}
.profile_edit img{ margin-top:-6px;}
.profile_edit{ color:#6f6f6f;}
.profile_edit:hover{ text-decoration:none; color:#333;}






/*About Page*/
.mb20{margin-bottom:20px;}
.nav-tabs{border:0;}
.nav-stacked>li{background-color: #53b4c4;color:#fff;}
.nav-tabs>li>a{color:#fff;border:0; font-size:18px;padding:5px}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus,.nav-tabs>li>a:hover, .nav-tabs>li>a:focus{background-color: #53b4c4;color:#444;border:0;}
.nav-tabs .open > a, .nav-tabs .open > a:hover, .nav-tabs .open > a:focus{background-color: #53b4c4;color:#fff;;border-bottom:2px solid #fff;}
.nav-tabs .dropdown-menu{width:100%;box-shadow:none; border:0;padding:0;position:relative;}
.nav-stacked .dropdown-menu li{border-bottom: 1px solid #fff;background-color: #B6DEE4;}
.nav-stacked .dropdown-menu li a{color:#5e5e5e;border:0;padding:5px; font-size:16px;}
.nav-stacked .dropdown-menu>li>a:hover, .nav-stacked .dropdown-menu>li>a:focus,.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {background-color: #B6DEE4;color:#000;}
#myTabContent h2{color:#b6b6b6; font-size:24px;font-family: "OswaldBook",sans-serif;margin: 0 0 10px;}
#myTabContent #Management .col-md-6{width:48%;}
#myTabContent #Management h2{border-bottom:2px solid #eabb34;padding: 0 0 5px;}
#myTabContent p{font-size:18px;color:#848484;}
#Streaming-tab{border-bottom:2px solid #fff;}
#Partner2 > img {border: 1px solid #ccc;margin: 3px;}
.mgt_desc {background: #f4f4f4;margin: 0 10px 10px 0;padding: 10px;height: 190px;}
.mgt_desc img{border:1px solid #ccc;}
.mgt_desc h3{font-size:18px; margin:0; margin-left:5px; margin-bottom:10px;color:#848484;}
#myTabContent .mgt_desc p{font-size:16px;line-height:20px;; margin-left:5px; color:#b6b6b6;}
#myTabContent .mgt_desc a{font-size:16px;line-height:20px;float:right; color:#53b4c4; cursor:pointer;}
#myTabContent .mgt_desc a:hover,#myTabContent .mgt_desc a:focus{text-decoration:underline;}
.mgt1,.mgt2,.mgt3,.mgt4,.mgt5,.mgt6,.mgt7,.mgt8,.mgt9,.mgt10{display:none;}
#managementModal .modal-body h2{color:#53b4c4;font-size:24px;margin:0;}
#managementModal .close{background: transparent none repeat scroll 0 0;font-size: 20px;margin-top: -15px;opacity: 0.7;padding: 0;}
.mgt_content{height:230px;overflow-y:scroll;}
.disblock{display:block;}
#myTabContent li{font-size:18px;color:#848484;}
#myTabContent label{  font-size: 16px; color: #848484; float: left; width: 25%; text-align: left; padding: 0; font-weight: normal;line-height: 35px;}
#myTabContent .form-control{width:75%; margin-bottom:10px;}
#myTabContent .btn-primary{background-color: #53b4c4;color:#fff; border:0; margin-bottom: 10px; margin-left: 25%; margin-top: 10px;border-radius:0;}


/* News and Press */
.news h2{margin:8px 0;color:#b6b6b6;font-size:24px;font-family: "OswaldBook",sans-serif;}
.news h4{margin:8px 0;color:#9a9a9a;font-size:14px;font-family: "OswaldBook",sans-serif;}
.news_block{background:#f4f4f4; margin-bottom: 20px;border-bottom: 5px #eabb34 solid;padding: 40px; min-height:400px;}
.pdate{text-align:right;color:#b6b6b6}
.news_title{  font-size: 24px;color: #53b4c4;margin: 10px 0 10px 0;}
.news_det{height:143px;overflow:hidden;}
.news_desc{color:#b6b6b6;}
.news_block img{width:100%;}
.news_block a{color:#eabb34;}
.news_block a:hover{color:#eabb34;}
#newsModal .modal-dialog{width:800px;}
#newsModal .modal-content{border-radius:0;}
#newsModal .modal-header{  padding: 10px 0 5px 0;}
#newsModal .modal-header .close{margin-top: -15px;margin-right:10px;font-size: 30px;color: #cecece;opacity: 1;}
#newsModal .modal-title .news_title{margin:0;}
#newsModal .modal-body{margin:15px;padding:0;}
#newsModal .modal-body .news_det{height:auto; overflow:auto;}
#newsModal .modal-body .news_det .sources{border-top:1px dotted #ccc;padding:15px 0;}
#newsModal .modal-body .news_det .sources ul{list-style:none;padding: 0;}
#newsModal .modal-body .news_det .sources ul li{margin:5px 0;}
#newsModal .modal-body .news_det .sources ul li a{color:#b6b6b6;}
#newsModal .modal-body .news_det .sources ul li a:hover,.news_block .sources ul li a:focus{color:#333;}
.slimScrollBar{background:rgb(83, 180, 196)!important; opacity:1 !important;}
.news .panel-group .panel{border:0;box-shadow: none; margin-bottom:12px;}
.news .panel-default > .panel-heading{background:transparent;padding:0;}
.news .panel-default > .panel-heading + .panel-collapse > .panel-body{border:0;padding: 5px 0;}
.news .panel-title > a {color: #53b4c4;font-family: "helvetica_condensedregular",sans-serif;font-size: 14px;}
.news .panel-title > a:hover,.news .panel-title > a:focus{text-decoration:none;}
.news-slider > li {display: block;margin: 0 3px !important;width: auto !important;}
.panel-body .bx-wrapper{margin-top:10px!important;}
.panel-body .bx-wrapper .bx-next{top:25%; right:-10%;margin-top:0; background:url("../images/icon-next_min.png") no-repeat;}
.panel-body .bx-wrapper .bx-prev{top:25%; left: -4%;margin-top:0; background:url("../images/icon-prev_min.png") no-repeat;}
.panel-body .bx-wrapper .bx-next:hover {background-position: 0px 0!important;}
.News_PC_Cont span{color:#9a9a9a; border-bottom:1px dotted #ccc;font-size:14px;display:block;line-height:23px;}


/* Main Search Results */
.inner_search .glyphicon-search{position:absolute;top:8px;right:10px;font-size:18px;}
.main_search .nav-tabs{border-bottom:1px solid #ddd;}
.main_search .nav-tabs > li.active > a, .main_search .nav-tabs > li.active > a:hover, .main_search .nav-tabs > li.active > a:focus{ color: #53b4c4;border:0;border-bottom:3px solid  #53b4c4; background:transparent;} 
.main_search .nav > li > a{color:#9a9a9a;padding: 10px 20px;  font-size: 14px;}
.main_search .nav > li > a:hover,.main_search .nav > li > a:focus{background:transparent;border-color:#fff ;}
.main_search .tab-pane .col-md-2.col-sm-3.col-xs-4{padding:0 5px;margin:10px 0;}
.main_search .tab-pane .col-md-1{padding:0 3px;}
.main_search #Slive .drop-new{border:1px solid rgba(0, 0, 0, 0.2);}
.main_search .tab-pane h3{margin:0;color:#b6b6b6;font-size:24px;font-family:"helvetica_condensedregular",sans-serif;margin-bottom:10px;}
.main_search .tab-pane h3 span{color:#848484;}
.main_search .tab-pane .pop-pro a{ text-decoration:none; color:#53B4C4; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;font-size:12px;}
.main_search .pagination{margin:0;}
.main_search .pagination>li>a, .pagination>li>span{border-radius: 50%; margin: 0 3px; border: 0; color: #848484; background: #F5F2F0;}
.main_search .pagination>.active>a, .main_search .pagination>.active>span, .main_search .pagination>.active>a:hover, .main_search .pagination>.active>span:hover, .main_search .pagination>.active>a:focus, .main_search .pagination>.active>span:focus{background:#53B4C4 ; color:#000;}

/*Movie PPV */
.movie_ppv{background:url(../images/PPV-icon.png) no-repeat;position:absolute; right:0px; top:0; width:60px; height:50px;}
/* Movies Upgrade */
.movies_upgrade{font-size:18px}
.movies_upgrade ul,.movies_upgrade p{margin-bottom:20px;}
.movies_upgrade p span{color:#37b0df;}
.movies_upgrade .btn-info{background:#37b0df; border:0; color:#fff;border-radius:0; padding: 10px 30px;font-size:20px;}
.movies_upgrade .img-responsive{padding:10% 0; width:60%;}
.movie_package{ margin:25px 0;}

.or { background: #fff none repeat scroll 0 0; border-radius: 50%; color: #000; height: 30px; line-height: 30px; margin: -30px auto 5px auto; text-align: center; width: 32px;}
.log_fb { background: rgba(0, 0, 0, 0) url("../images/fb_button.jpg") no-repeat scroll 0 0; border: medium none; cursor: pointer; display: block; height: 36px; outline: medium none; width: 187px;}
.login-dialog-footer {padding:15px 33px 15px; background:#fff; color:#53b4c4;}
.mb0 .back-blue{ margin-bottom:0 !important;}
.ofh{ overflow: hidden;}
.ofh .modal { overflow-x: hidden; overflow-y: auto;}
.movie_package p{font-size:16px; color:#414141;}
.movie_package ol{font-size:16px; color:#414141;padding-left: 20px;}
.movie_package h2{font-size:26px; color:#424242;margin:0; margin-bottom:10px; font-weight:normal;font-family:"helvetica_condensedregular";}
.movie_package .pack_det{background:#fff; overflow:auto;padding:20px;}
.movie_package .pack_det .img-responsive{width:60%;margin:0 auto;}
.movie_package .pack_det .pack_title{color:#54b4c4; font-size:16px; font-weight:bold;}
.movie_package .pack_det .pack_price{color:#53b4c5;font-size:58px;font-family: "OswaldBook",sans-serif;text-align:right;}
.movie_package .pack_det .valid{font-size:20px;font-family: "OswaldBook",sans-serif;color:#4d4d4d;margin: 12px 0 0 4px;}
.movie_package .pack_det .valid span{font-family:"helvetica_condensedregular";}
.movie_package .pack_det input[type=radio], input[type=checkbox]{width:20px; height:20px; float:left;}
.movie_package .pack_det .btn-info{background-color: #53b4c4;padding: 10px 60px;border-radius: 0; border: 0; font-size:18px;}
.border-lft{ border-left:1px solid #CFCFCF;}
.alfa_sort{list-style:none;margin: 0 4%;padding: 0 15px;}
.alfa_sort li{float:left;}
.alfa_sort li input{border: 1px solid #ccc; margin: 2px 5px;padding: 5px 10px;background: #f5f5f5;}
.alfa_sort li input:hover{ background:#ddd;}
.alfa_sort li.active input{background:#449ea9; color:#fff;}
.ers_5264{ margin:4px 0 0 6px; display:block; font-size:12px;}
.movie_package .full-bord{padding: 6px 20px;}
.movie_package .border-bot{border-bottom:0;}
.movie_btn_sub{ background:none; border:none; color:#fff;}
.yuppflix_allmovies .col-md-2{ margin-bottom:15px;}
.upgrade{ background:#FF0000; color:#FFF; padding:0px 5px; position:absolute; top:0px; right:0px; font-size:12px; float:right}
.pr0{ padding-right:0px;}
.pack_det label{ width:100%;}
.event_plike{ width:26px; margin-top:24px;}
.like_count{ margin:28px 0px 0 5px; font-size:18px; float:left; color:#999;}
.mt110{ margin-top:110px;}
.table-devices td{ padding:0 10px;}
.devices_more_btn5{ width:100%; margin-bottom:20px;}
.bx-viewport{ height:auto !important;}
.catchup-th .drop-new{ border: solid 1px #ccc;}
.player-list_title{ margin:0;}
#fl_menu2{ top:300px !important;}
.mt82{ margin-top:82px !important;}
.devices_main_head{ font-size:20px;}
.devices_sub_head{ font-size:16px; line-height:20px;}
.pop-pro .device_slider_name  a{ font-size:16px;}


/* Live Chat */
.chat_banner{background:#751e49;border:1px solid #6b8adf;}
.chat_login{margin-top:10px;border:1px solid #6b8adf;overflow:auto;background:#fff;padding:20px;}
.chat_login h4{color:#3e3e3e;font-size:18px;}
.chat_login h6{color:#3e3e3e;font-size:14px; width: 70%;text-align: right;}
.chat_login .radio input[type=radio],.chat_login .radio-inline input[type=radio],.chat_login .checkbox input[type=checkbox],.chat_login .checkbox-inline input[type=checkbox]{position:relative;margin:0;}
.chat_login .form-control{width:95%; float:left;}
.chat_login .btn-primary{background:#53b4c4; color:#fff; border-radius:0;border:0;margin-top:10px;padding:10px 20px;}

/* Movie Details*/
.movie_details h2{font-size:24px;margin:10px 0;}
.movie_details h4{font-size:18px;margin:10px 0; color:#3e3e3e;font-family:"helvetica_condensedregular",sans-serif}
.movie_details h4 a{color:#53b4c4;  text-transform: uppercase;}
.movie_details .col-md-4.col-md-4.col-xs-12 a{color:#3e3e3e;  text-transform: uppercase;font-size:18px;margin:25px 0;text-decoration:underline;}
.movie_details .col-md-4.col-md-4.col-xs-12 a:hover,.movie_details .col-md-4.col-md-4.col-xs-12 a:focus{color:#53b4c4;}
.movie_details .btn-primary{background:#53b4c4;color:#fff;border-radius:0;border:0; text-transform:uppercase;font-family:'helvetica_condensedregular', sans-serif;padding:13px 40px;font-size:18px;margin:12px 15px;}
.movie_details img{margin-bottom:15px;}
.movie_desc{margin:0 15px;}
.movie_desc p{  margin-bottom: 15px; color: #3e3e3e; font-size: 18px;}
.movie_desc p span{color:#53b4c4;margin-right:5px;}

/*Success Page */

.success_page h1{color:#53b4c4;font-family: "OswaldBook",sans-serif;font-size:30px;margin:50px 0;}
.success_page h4{color:#80a66b;font-family:"helvetica_condensedregular",sans-serif;font-size:18px;}
.success_page p{ color: #b6b6b6; font-size: 18px;}
.success_page p a{color:#53b4c4;text-decoration:underline;}

/* Offer */
.posrel{position:relative;}
.movie_offer{background:#f2f2f2;position:relative;}
.movie_offer h3{color:#3e3e3e;font-size:24px; margin:0 0 10px 0; text-transform:uppercase;padding-top:20px;}
.movie_offer .error_pack_img{color:#9a9a9a; font-size:14px;}
.pack_offer h3{color:#3e3e3e;font-size:24px; margin:0 0 10px 0; text-transform:uppercase;}
.pack_offer .error_pack_img{color:#9a9a9a; font-size:14px;}
.movie_offer a{background:#53b4c4; border:0; border-radius:0;color:#fff;font-size:18px;position:absolute; right:0; top:10px; text-transform:uppercase;}
.movie_offer a:hover,.movie_offer a:focus {color:#fff; background:#2f8290}
.mOffer{border:2px solid #53b4c4;  margin: 0 15px 10px 0;min-height: 150px;}
.mOffer h1{font-size:22px; color:#3e3e3e;padding:20px;}
.mOffer h1 .plus{font-family:"helvetica_condensedregular";}
.mOffer h1 .sub_titles{font-size:16px;color:#53b4c4; display: block; margin-top: 10px;}

/* Referral*/
.referrals{margin-top:50px; font-size:16px; line-height:22px;}
.referrals .nav-tabs>li>a{font-family: "OswaldBook",sans-serif;color:#b6b6b6; border:3px solid #ddd; font-size:16px;padding:15px;margin-right:10px;}
.referrals .nav-tabs>li.active>a, .referrals .nav-tabs>li.active>a:hover, .referrals .nav-tabs>li.active>a:focus, .referrals .nav-tabs>li>a:hover, .referrals .nav-tabs>li>a:focus{background:transparent;color:#b6b6b6;border:3px solid #53b4c4;}
.referrals h3{color:#53b4c4; font-size:18px;}
.referrals h2{color:#b6b6b6; font-size:24px;}
.referrals .posrel a{background:#53b4c4; border:0; border-radius:0;color:#fff;font-size:18px;position:absolute; right:0; top:-45px; text-transform:uppercase;}
.referrals .posrel a:hover,.referrals .posrel a:focus{background:#2f8290;}
.referrals .personalize{background:#53b4c4; border:0; border-radius:0;color:#fff;font-size:16px;margin-left:15px;}
.referrals .personalize:hover,.referrals .personalize:focus{background:#2f8290;}
.referrals table td{font-size:12px;}
.colortr { height: 5px;}
.progress{margin-bottom:5px;}
.a1{ background:#FF9C9C; border-left:1px solid #FFF; }
.a2{ background:#FF9CC9; border-left:1px solid #FFF; }
.a3{ background:#F69CFF; border-left:1px solid #FFF}
.a4{ background:#CE9CFF; border-left:1px solid #FFF}
.a5{ background:#9F9CFF; border-left:1px solid #FFF}
.a6{ background:#9CC7FF; border-left:1px solid #FFF}
.a7{ background:#9CDFFF; border-left:1px solid #FFF}
.a8{ background:#9CFEFF; border-left:1px solid #FFF}
.a9{ background:#9CFFCB; border-left:1px solid #FFF}
.a10{ background:#9CFFA2; border-left:1px solid #FFF}
.a11{ background:#C9FF9C; border-left:1px solid #FFF}
.a12{ background:#ECFF9C; border-left:1px solid #FFF}
.T_C{cursor:pointer;color:#53b4c4; font-size:18px;}
.referrals .nav-tabs>li.active:before {border-left: 13px solid transparent;border-right: 13px solid transparent;border-top: 13px solid #53b4c4;bottom: -11px;content: '';left: 35%;position: absolute;}
.referrals .nav-tabs>li.active:after {border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #fff;bottom: -7px;content: '';left: 37%;position: absolute;}
.term_sm_hd{ color:#777; font-size:18px; font-weight:normal}
.hidden1 { border: none !important;}
.hidden { border: 1px solid #ddd; padding: 15px; margin: 10px 0;}
.main-faq{ background:none  !important; border:0px  !important; color:#53b4c4 !important}
.main-faq .bigtit{ font-size:23px; font-weight:normal; color:#53b4c4}
.panel a{ text-decoration:none !important; border:none !important; border-radius:0px !important;}
.no-border{border:none !important; border-radius:0px !important}
.no-shadow{ -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.0); box-shadow: 0 0px 0px rgba(0,0,0,.0); margin-bottom:0px }
.no-effect  { background-color: #FFF; border: 1px solid #e3e3e3; border-radius: 0px; -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.0); box-shadow: inset 0 0px 0px rgba(0,0,0,.0);}
.countrywidth{ width:250px; margin-right:20px;}
.table.ref_tablenew{ padding:0 20px;}
.table.ref_tablenew th{ font-size:18px; padding:10px 20px;}
.table.ref_tablenew td{ padding:0px 20px;}
.table.ref_tablenew .inner_table td{ padding:0;}
.table.ref_tablenew .ref_fr_input{ margin:10px 0;}


.minht{min-height:270px;}

.allPackages h2{font-size:24px;color:#3e3e3e;margin:15px 0; text-align:left; text-transform: capitalize;}
.channel_list{}
.pack_chan_list{border:3px solid #f2f6f9;padding:0px 0; height:70px; border-bottom:0;}
.pack_chan_list .img-responsive{width:50%;float:right;}
.pack_chan_list .chan_name{font-size: 16px;color: #848484;}
.packages{list-style:none;}
.p_name{margin-left:20px;}
.packages .pack_det{margin-right:10px;}
.packages .package_name{font-size: 18px;color: #3e3e3e;font-family:'OswaldBook', sans-serif;min-height: 50px;line-height: 25px; text-align: left; margin-left:5px;}
.packages .controls{/*margin-left: 17px; */ text-align:left;}
.packages1{list-style:none;}
.packages .radio{margin-top: 8px;margin-bottom: 8px;text-align: left; }
.packages .controls .radio input[type="radio"]:checked{color: #00a0db;}
.packages .controls .radio input[type=radio]{width:20px;height:20px;opacity:1;-webkit-transform:scale(1.1); -moz-transform:scale(1.5); transform:scale(1.1);}
.none1{ margin-left:20px;}
.packages .controls .radio span.sp_offer_aus{ color: #ff0000;
    font-size: 16px;
    font-weight: normal;
	line-height:16px;}
.packages.slick-slider .p_name{ margin-left:0}
.packages .package_name .box{text-transform: uppercase;}
/*.radio .icon, .radio .icon-to-fade{opacity:1!important; margin-top:-5px;} Modified*/ 
.packages .controls .radio span{line-height:30px; font-size:18px; color:#8d8d8d; font-weight:normal;}
.packages .controls .radio span.small_text{margin-left:5px;line-height:25px; font-size:14px; color:#8d8d8d; font-weight:normal;}
.packages .controls .radio span.offer_checked{ font-size:14px; margin-left:20px;}
.packages .controls .radio .pOffer{color:#ff0000; font-size:16px; font-weight:normal;}
.pack_subscribe .btn-info{background-color: #53b4c4;border-color: #53b4c4;border-radius: 0;padding: 0px 40px;font-size:18px; text-transform:uppercase; height:48px;}
.pack_subscribe{margin-top:25px;margin-left: 5px; text-align:left;}
.pack_subscribe .btn-info:hover,.pack_subscribe .btn-info:focus{background:#2f8290;}
.pack_subscribe .btn-info.cart-btn{ background: url(../images/icons-cart.png) no-repeat #388996 center;margin-left:-4px; padding:0px 25px;width: 42px; height:48px; display:none;}
.pack_subscribe .btn-info.cart-btn:hover,.pack_subscribe .btn-info.cart-btn:focus{background: url(../images/icons-cart.png) no-repeat #20626d center; display:none;}
.pack_chan_list_l3 .inner_img_ht{max-height:64px; overflow:hidden;}
.packagePlan{border-top:3px solid #f2f6f9;border-bottom:3px solid #f2f6f9;}
.pkg{ background:#fff;min-height:70px; padding-left:10px; line-height:70px;}
.pkg img{line-height:70px; padding-top:9%;}
.pkg.pkg_ht img{padding-top:30%;}
.pkg.pkg_ht{min-height:169px;}
.pack_chan_list_l3.pkg_ht{min-height:170px;}
.pkg:nth-child(2n+1){background:#f2f6f9;}
.allPackages .bx-wrapper{margin:0!important; max-width:759px!important;}

/*.bx-wrapper .bx-pager{position:relative !important;}*/
.allPackages .bx-viewport{height:auto!important;}
.allPackages .bx-pager-item{float:left}
.allPackages .bx-wrapper .bx-pager.bx-default-pager a{font-size:14px;text-indent: 0;margin: 0 5px;color:#000;background: #ddd;padding: 0px 6px;width: 20px;height: 20px;border-radius: 50%;float:left}
.allPackages .bx-wrapper .bx-pager.bx-default-pager a:hover,.allPackages .bx-wrapper .bx-pager.bx-default-pager a:focus{text-decoration:none;} 
.allPackages .bx-has-pager{position:absolute; left:0; top:-40px; padding:0;}
.pack_opt_chan{ border-right:solid 3px #f2f6f9;}

.allPackages .bx-controls-direction{display:none;}
.pack_oth_chan{ float:left; width:12%; margin:3px; border:solid 1px #ccc;}
.pad010{ padding:0 10px;}
.tooltip_cart .hint { display: none;}
.tooltip_cart:hover .news_pop_hint{ display:block;}
.hover_movie_list .on_ho_data_bind_tool{ float:left; width:60px; border:solid 1px #ccc; margin:4px; }
.tooltip_cart:hover .hint ,.tooltip_cart:hover .hint1{ width:800px; position:absolute; top:0; left:100px; background:#fff; padding:5px; border:solid 2px #ccc; z-index:9999;}
.tooltip_cart:hover .hint img{}
.pack_chan_list_l3{ border:solid 3px #f2f6f9; padding:15px; border-bottom:0;}
.pack_chan_list_l3:last-child{ border-bottom:solid 3px #f2f6f9;}
.dboh{display:block; overflow:hidden;}
.db{ display:block;}
.mt80{ margin-top:80px;}
.pad20{ padding:5px;}
.location-list .col-md-6, .location-list col-xs-6{ padding:0 5px;}
.h22{ height:22px; display:block;}
.pl120{ width:35%;}

.td3{width:20%;}
.td4{ width:20%;}
.td5{ width:5%}
.td1.pl120 a{ color:#333;}
.table.cart_step1table .totalrow td{ font-size:22px;}
.allpackages_position{ background:#53b4c4; color:#fff; font-size:16px; padding-top:30px; height:120px;}
.ex_box.all_pack_xclose{ padding:10px 15px; background:#344245; color:#fff; font-weight:bold; font-size:14px; margin-bottom:20px;}
.ex_box.all_pack_xclose:hover{ text-decoration:none;}
.ex_box.close{ opacity:1; margin:5px 5px 0 0;}

.pop-ch .bx-loading{ display:none;}
.dialog-overlay{display:none;}
.aus_strike{text-decoration:line-through;}
.pack_banner .heading-more{ font-size: 24px; color: #3e3e3e; text-transform: none; line-height: 35px; text-align:left; font-weight:600; margin:0;font-family: "OswaldBook",sans-serif;}
.pack_banner .heading-channels{ font-size: 24px; color: #53b4c4; text-transform: none; text-align:left; font-weight:600; margin:0;font-family: "OswaldBook",sans-serif;}

/*************************** Search Results Pages *******************************/
.search-wrapper	{margin:85px 0 50px 0;}

.search-wrapper .page-tabs {margin-bottom:40px;height: 50px;}
.search-wrapper .page-tabs li{min-width:50px; margin-top:28px; text-align:center;}

.search-wrapper .search-title{color:#b6b6b6; font-size:24px; margin-bottom:40px;}
.search-wrapper .search-title span{color:#848484;}
.search-wrapper h2 {text-transform:uppercase;margin-bottom:20px;}

.search-wrapper .episodes-list li {background:#fff; margin-bottom:20px;}
.search-wrapper .episodes-list li .title {margin-top:5px;}

.search-wrapper .search-results-panel {position:relative; display:inline-block}
.search-wrapper .search-results {left:350px; font-family: 'helvetica_condensedregular', sans-serif;border:1px solid #d7d7d7; padding:8px 35px 8px 15px;width:300px; color:#b8b8b8; }
.search-wrapper .search-results:focus { color:#3e3e3e;}
.search-wrapper .search-results-panel .search-icon {position:absolute; width:20px; height:20px;right:8px; top: 10px; background: url(../images/search-icon2.png) no-repeat; border:none; cursor:pointer}

.livetv-results .episodes-list li .play-panel {border:2px solid #E9EBEB; border-radius:5px;}
.livetv-results .episodes-list li .play-panel:hover {border:2px solid #53B4C4;}
.livetv-results .episodes-list li .title {text-overflow: ellipsis; white-space: nowrap; width: 100px; overflow:hidden;}
.livetv-results .episodes-list li .play-panel img{width:101px; height:auto; border-radius:5px;}
.livetv-results .episodes-list li .title .livetv_search{ width:100px; overflow:hidden; font-size:13px; }

/*************************** Search Suggestions Styles *******************************/
.ui-menu {padding:0 !important;}
.ui-widget-content {border:1px solid #53b4c4 !important;-webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,0.6); box-shadow: 0 2px 4px 1px rgba(0,0,0,0.6); }
.ui-menu .ui-menu-item a {padding:10px 20px !important; border:none !important;}
.ui-menu .ui-menu-item a.ui-state-focus{background:#53b4c4; padding:10px 20px !important; border:none !important; color:#fff !important;}

/*************************** Search Results Pages *******************************/
.search-wrapper	{margin:85px auto 50px auto;}

.search-wrapper .page-tabs {margin-bottom:40px;}
.search-wrapper .page-tabs li{min-width:50px; text-align:center;}

.search-wrapper .search-title{color:#b6b6b6; font-size:24px; margin-bottom:40px;}
.search-wrapper .search-title span{color:#848484;}
.search-wrapper h2 {text-transform:uppercase;margin-bottom:20px;}

.search-wrapper .episodes-list li {background:#fff; margin-bottom:20px; margin-left:14px !important;}
#catchup-tv .episodes-list li {margin-left:17px !important;}
.search-wrapper .episodes-list li .title {margin-top:5px;}

.page-tabs li{ cursor:pointer;}

/*************************** Search Suggestions Styles *******************************/
.ui-menu {padding:0 !important;}
.ui-widget-content {border:1px solid #53b4c4 !important;-webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,0.6); box-shadow: 0 2px 4px 1px rgba(0,0,0,0.6); }
.ui-menu .ui-menu-item a {padding:10px 20px !important; border:none !important;}
.ui-menu .ui-menu-item a.ui-state-focus{background:#53b4c4; padding:10px 20px !important; border:none !important; color:#fff !important;}
.aft_sea_keyword{ display:block; margin:12px 0 0 14px; float:left; font-size:18px;}
.slide.drop-new {
    margin-right: 20px;
}
.cart_align{ padding:15px 3px;}
.cart_align a{ text-decoration:none;}
.myacc-tabs_inner li{ float:left; display:block; margin-right:20px;border:3px solid #bbb; padding:0px; position: relative; }
.myacc-tabs_inner li.active:after, .myacc-tabs_inner li.active:before {
	top:100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.myacc-tabs_inner li.active:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 12px;
	margin-left: -12px;
}
.myacc-tabs_inner li.active:before {
	border-color: rgba(83, 180, 196, 0);
	border-top-color: #53b4c4;
	border-width: 16px;
	margin-left: -16px;
}
.myacc-tabs_inner li a{ padding:15px 12px; font-size:16px; min-width:100px; display:block; overflow:hidden; text-decoration:none; color:#b6b6b6; font-weight:bold;}
.myacc-tabs_inner li:hover,.myacc-tabs_inner li.active {border:3px solid #53b4c4; border-radius:3px; outline:none;}
.inv_link { font-size: 20px; width: 150px;}
.ref_link{ padding:8px 10px; border:solid 1px #ccc;  border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; font-size:18px; display:block; overflow:hidden; min-height:24px;}
.refer_share{ width:150px; font-size:20px; display:block; float:left;}
.ref_table{ font-size:16px; border: solid 1px #ccc; width:97%; padding:20px; display:block; background:#76d3e2; margin-top :10px;}
.ref_table th{ width:300px; color:#000; padding:0 10px; font-size:18px;}
.ref_table td{ padding:0 10px;}
.ref_fr_input{ padding:6px; width:80%; margin:4px 0; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; border:none;}
.ref_fr_input:focus{  box-shadow:0 0 3px #fff;}
.ref_tablenew{ background:#76d3e2}
.ref_tablenew th{ color:#000;}
.myacc-tabs_inner{margin:0; padding:0;}
.cs_import{ padding:6px 0px; background:#53b4c4; color:#fff; display:block; width:150px; margin-bottom:10px; text-align:center;}
.cs_import:hover{ color:#fff; text-decoration:none; background:#2f8290;}
.ref_button{ background:#53b4c4; color:#fff; border:none; padding:6px 12px; cursor ointer; font-size:16px; font-family: "helvetica_condensedregular",sans-serif; margin-left:10px;}
.theme_button_hover:hover{color:#fff; text-decoration:none; background:#2f8290;}

.cart_cont .radio label{font-size:17px; line-height:24px; padding-top:0;}
.cart_cont .radio input{display:none;}
.cart_cont #pError{font-size:15px;}
.theme_color { color: #53b4c4;}
.editsave.edit.bdone{ cursor:normal; text-decoration:none;}
.well{ padding:20px; margin-bottom:20px;}
.panel-heading{ padding:10px 15px;}
.catchup-th .drop-new{white-space:nowrap; width:auto;}
.body_hidden {
    overflow-x: hidden;
    overflow-y: hidden;
}
.backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	background: rgba(0, 0, 0, 0.80);
	top: 0px;
	z-index: 33;
}

.packages .controls .radio input[type="radio"]{ opacity:0 !important;}
.addon_intpad30{ padding:0 30px 20px 30px;}
.addon_popup .primary-btn{ background: #344245; color:#fff;
    display: block;
    padding: 8px 20px;
    width: 60%;
	margin:20px auto 0;
	}	
.addon_popup.ex_box.close{ margin:10px;}
.addon_popup .primary-btn:hover{ background:#1f2829; text-decoration:none;}
.addon_inner_cont_popup{ height:auto;}

.slider_channels .drop-new {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.slick-slide .controls{ min-height:206px;}
.radio_min_height{ min-height:52px !important;}
.lan_arow_mob{ display:none;}


.tooltip_cart:hover .hint{ display:block;}
.text_nline_elli{ width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:block;}
.or{ margin-left:128px !important;}
/*
.def_lan_bo{ position:relative;}
.lan_arow_mob{ position:absolute; left:-30px;}
.lan_arow_mob.next{right:-30px;}
*/

@media (min-width:768px) and (max-width:1024px) {
   .entertai-cart .cart-wizard a{ font-size:23px !important;}
   .container.allPackages{ width:100%;}
}


.trans-table tr:first-child td {
    color: #53b4c4;
    text-align: left;
}
.trans-table th, .trans-table td {
    border-bottom-color: #f2f2f2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    border-left:none;
    border-right:none;
    border-top:none;
}
.nav li .beta_movies{position:absolute; top:0px; left:31px; color:#ffbf00; font-size:10px; z-index:9;}
.nav li{ position:relative;}
.nav li a.active .beta_movies{ color:#fff;}

/*.or {
    text-align: center;
    width: 32px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    moz-border-radius: 50%;
    webkit-border-radius: 50%;
    background: #fff;
    color: #000;
    position: absolute;
    margin: -16px 0 0 130px;
}*/

.modal-dialog{ z-index:9;}
.modal-dialog .error-mesg{ height:auto !important; }
.add-frame{margin-top:25px;}


.tooltip_cart:hover*/ 
.hint {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #53b4c4;
    bottom: 50px;
    box-shadow: 3px 3px 5px 6px #ccc;
    display: block;
   height: 230px;
    left: 0;
    padding: 5px;
    position: absolute;
 width: 70%;
    z-index: 1;
    overflow:hidden;
}
.movies-package .tooltip_cart:hover .hint {
     width: 100%;
}
.tool_div {
    padding: 0 0 5px;
    text-align: center;
    width: 100%;
}
.tool_div img {
    border: medium none;
}
.hover_movie_list ul {
    display: block;
    
}
.hover_movie_list ul li {
    float: left;
    margin: 2px 6px;
    list-style-type:none;
}
.hover_movie_list ul li img {
    border: 1px solid #000;
    height: auto;
    width: 45px;
}
a.tooltip {
    outline: medium none;
}
a.tooltip strong {
    line-height: 30px;
}
a.tooltip:hover {
    text-decoration: none;
}
a.tooltip span {
    display: none;
    line-height: 20px;
    margin-left: -126px;
    margin-top: -130px;
    padding: 14px 20px;
    width: 240px;
    z-index: 10;
}
a.tooltip:hover span {
    background: #fffaf0 none repeat scroll 0 0;
    border: 1px solid #dca;
    color: #111;
    display: inline;
    position: absolute;
}
.callout {
    border: 0 none;
    left: 130px;
    position: absolute;
    top: 128px;
    z-index: 20;
}
a.tooltip span {
    border-radius: 4px;
    box-shadow: 5px 5px 8px #ccc;
}
a.tooltip1 span {
    margin-top: -87px;
}
.callout1 {
    top: 88px;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix::before, .clearfix::after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix::after {
    clear: both;
}

.hint, .hint1 {
    display: none;
    background:#fff;
    padding:20px;
    box-shadow:0 0 3px #000;
    position:absolute; top:60px;
    left:5%;
    width:90%; 
    z-index:9;
}
.hint1 ul{ padding:0; margin:0;}
.tooltip_cart:hover + .hint1 {
    display: block;
}
.cart_cont{ overflow-x: inherit;}
.titlebody h2{ font-size:24px;}
.clearfix_sm{ display:none;}

.logo_relative{ position:relative;}
.festive_logo{ position:absolute; left:-18px; top:-12px;}
.packages .controls span.bonus_off1{ background:#b80a0a; color:#fff; font-size:12px; padding:0 4px; margin-left:20px;}
/*.packages .controls span.bonus_off3{ background: #b80a0a;color: #fff !important; font-size:12px !important; padding:0 4px; margin-left:20px; display: inline-block;}*/
.packages .controls span.bonus_off3{color: #b80a0a!important; font-size: 15px !important; padding: -1px 4px; margin-left: 20px;font-weight: bold;display: inline-block;}
.packages .controls span.bonus_off4{background:#e2660c; color:#fff !important; font-size:12px !important; padding:0 4px !important; margin-left:20px !important;}


@media (min-width:320px) and (max-width:768px) 
{
    .hint, .hint1 {
  left:40%; 
  width:50%;
    }    
    
}
.page-tabs li{ margin-right:5px !important;}
.bonus_off4{ display:inline; }
.cart_step1table .none1.poffer{color:#ff0000; margin-left:0!important}

.new_blink {
	font-weight: 500;
	color: #fff;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: blinker;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	animation-name: blinker;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
 0% {
opacity: 1.0;
}
 50% {
opacity: 0.0;
}
 100% {
opacity: 1.0;
}
}
@-webkit-keyframes blinker {
 0% {
opacity: 1.0;
}
 50% {
opacity: 0.0;
}
 100% {
opacity: 1.0;
}
}
@keyframes blinker {
 0% {
opacity: 1.0;
}
 50% {
opacity: 0.0;
}
 100% {
opacity: 1.0;
}
}

.location_popupindia .located{ font-size:17px;}
.location_popupindia .located .deals{ font-size:14px; display:block; margin-top:8px;}
.location_popupindia .back-blue{ padding:20px 10px;}

.cart_step1table table{ width:100%;}
.coupondis{ color:#53b4c4; margin-top:10px;}

#navbar_us li a i.bazaar-icon {
    background-position: -218px 0;
}
#navbar_us li a:hover .bazaar-icon, #navbar_us li a.active .bazaar-icon {
    background-position: -218px -22px;
}
/* for /* for OTP */
.free_trial_ph{ font-size:16px; padding:0 20px;}
.otp_cont8 .txt_countrycode{ width:136px; height:34px; line-height:34px;}
.yupp-modal .otp_cont8 .primary-btn{ padding:6px 50px; margin:20px auto 0 auto; font-size:16px;}
.yupp-modal .otp_cont8 .verify_btn .primary-btn{ margin-top:20px;}
.et_otp_lb{ font-size:16px; margin:6px 10px 0 0px;}
.otp_cont8{ margin:14px 0px; display:block; overflow:hidden; text-align:center;}
.yupp-modal .otp_but_cont .primary-btn{ padding:6px 20px; margin-top:20; font-size:18px; width:130px; margin-right:4px;}
.otp_but_cont{ display:inline-block; overflow:hidden; margin:20px auto 0; clear:both;}
.yupp-modal .otp_but_cont .primary-btn.frst_bt{/* margin-left:60px; */ margin-right:4px;}
.otp_cont8-1{ padding-left:0px; margin:8px 25px 14px 15px;}
.et_otp_lb_ml0{ margin-left:0px;}
.yupp-modal .otp_but_cont .primary-btn.fre_ml20{ margin-left:14px !important; margin-top:0 !important;}
.yupp-modal .otp_but_cont .primary-btn{ margin-top:0px;}

.frst_b{ color:#fff !important; background:none !important; text-align:center; text-decoration:underline;}
.otp_heading_h2 {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    margin-bottom:20px;
}
.otp_cont8 .et_otp_lb{ margin-left:60px;}
.opt_back{ color:#fff; background:none; margin-left:10px; font-size:16px; padding:0;}
.opt_back:hover{ text-decoration:underline;}
.yupp-modal .opt_back:focus{ box-shadow:none; color:#fff; text-decoration:underline;}

.yupp-modal .otp_cont8 .primary-btn.frst_bt{ background:none; padding:0; margin-top:0px !important;;}
.yupp-modal .otp_cont8 .primary-btn.frst_bt:hover, .yupp-modal .otp_cont8 .primary-btn.frst_bt:focus{ text-decoration:underline; box-shadow:none;}
#fl_menu2{ display:none;}


/* for OTP ends here */
@media screen and (-webkit-min-device-pixel-ratio:0) { /* Chrome only */
.pack_subscribe .btn-info.cart-btn{padding:10px; height:47px;}
 }
 
 
 
 .lg_re_devider{ border-top:solid 1px #fff; margin:15px 0; display:block; width:100%;}
 .ex_lg_hea{ font-size:18px;}
 .back-blue a.nregn_btn{ font-weight:normal; font-family: "helvetica_condensedregular",sans-serif;}
 .login-modal .back-blue a.nregn_btn:hover{ text-decoration:none;}
 .new_login_term{ font-size:14px; color:#666;}
 
 #navbar_us li a i.bazaar-icon {
    background-position: -305px 0;
}
#navbar_us li a:hover .bazaar-icon, #navbar_us li a.active .bazaar-icon {
    background-position: -305px -21px;
}

#navbar_us li a i.news-icon {
    background-position: -283px 0;
}
#navbar_us li a:hover .news-icon, #navbar_us li a.active .news-icon {
    background-position: -283px -22px;
}
 
#navbar_us li a i.cricket-icon {    background-position: -239px 0;}
#navbar_us li a:hover .cricket-icon, #navbar_us li a.active .cricket-icon { background-position: -239px -22px;}

#navbar_us .my_nav .navbar-nav li a.user_account div {
text-overflow: ellipsis;
    white-space: nowrap;
    width: 65px;
    overflow: hidden;
    height: 22px;
}

/* Cart Movies */
.yp_ad_pd{ padding:0px;}
.yupp_flix_table li{ list-style:none; text-align:center; float:left; margin:0 3px;}
.yupp_flix_table img{ width:50px; border:solid 1px #333;}
.yupp_flix_table li:last-child{ background:#222;  height:72px; width:50px;}
.yupp_flix_table li:last-child div{ margin-top:20px; color:#f5f5f5; font-size:12px; line-height:16px; display:block;}
.tooltip_cart{ text-decoration:underline; float:left;}
.on_ho_dnone:hover .mo_2000{ text-decoration:none;}
.table_info_yuppflix {
    display: inline-block;
    margin-left: 112px;
    margin-top: 3px;
    position: absolute;
    width: 18px;}
/* Cart Movies */
.connectus a.fb {
    background-position: -3px -3px;
    margin-left: 0;
}

img.icon_stat_new{ width:78px; float:left;}		
img.icon_stat_new1{height: 170px; width: 220px;}		
img.icon_stat_new2{font-weight: bold; color: #53B4C4;}
.main-title .titlebody1 { margin-top:5px;}
.text_nline_elli1{font-weight : bold;color : #53B4C4;  }


.pkg.arg_pck{ line-height:18px !important;}
.fea_ch_rel{ position:relative;}
.yupp_prem{ position:absolute; top:0px; left:0px;}
.slider_channels .drop-new {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
	margin:5px 0px;
}
#navbar_us li a i.scope-icon {
    background-position: -328px 0;
}
#navbar_us li a:hover .scope-icon, #navbar_us li a.active .scope-icon {
    background-position: -328px -22px;
}
@media (min-width:1025px) and (max-width:1090px) 
 {
  #navbar_us li a{ font-size:12px}   
  .nav>li>a {
    padding: 11px 4px;   
 }
}

.catch_up_act{border:4px solid #3f51b5 !important; display:block;}
@media only screen and (min-width: 1024px){
.is-sticky #networks-sticky {
    top: 82px !important;
}
}



 