* {margin:0; padding:0;}
body {background:#3B2235 url('/images/background.png') repeat-x top; color:#ccc; font-family:"Century Gothic", Futura, Arial; font-size:14px; text-decoration:none;}
input, img {outline:none; border:0;}
.verif {margin:120px auto; width:auto; height:auto;}
.verif input[type=submit] {
   -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
   -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
   box-shadow:inset 0px 1px 0px 0px #fbafe3;
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d));
   background:-moz-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
   background:-webkit-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
   background:-o-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
   background:-ms-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
   background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d',GradientType=0);
   background-color:#ff5bb0;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   border:1px solid #ee1eb5;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:arial;
   font-size:15px;
   font-weight:bold;
   padding:6px 24px;
   text-decoration:none;
   text-shadow:0px 1px 0px #c70067;
}
.verif input[type=submit]:hover {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0));
   background:-moz-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
   background:-webkit-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
   background:-o-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
   background:-ms-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
   background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0',GradientType=0);
   background-color:#ef027d;
}
.verif input[type=button] {
   margin-left:10px;
   -moz-box-shadow: 0px 1px 0px 0px #fff6af;
   -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
   box-shadow: 0px 1px 0px 0px #fff6af;
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
   background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
   background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
   background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
   background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
   background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
   background-color:#ffec64;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   border:1px solid #ffaa22;
   display:inline-block;
   cursor:pointer;
   color:#333333;
   font-family:arial;
   font-size:15px;
   font-weight:bold;
   padding:6px 24px;
   text-decoration:none;
   text-shadow:0px 1px 0px #ffee66;
}
.verif input[type=button]:hover {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
   background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
   background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
   background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
   background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
   background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
   background-color:#ffab23;
}

.verif input[type=submit]:active, .verif input[type=button]:active {
   position:relative;
   top:1px;
}

noscript {text-decoration:blink;}
