/* Cabecera ---------- */
@import url('/estilos/v1.x/v1.0/cd_cabecera_new.css');

/* Pie ---------- */
@import url('/estilos/v1.x/v1.0/cd_pie.css');
@import url('/estilos/v1.x/v1.0/cd_pie-comunes.css');
/* Lateral ---------- */
@import url('/estilos/v1.x/v1.0/cd_lateral2.css');


/* fuentes */

@font-face {
	font-family: 'Opensans';
	src: url('/estilos/fonts/OpenSans.eot?') format('eot'), 
	     url('/estilos/fonts/OpenSans.woff') format('woff'), 
	     url('/estilos/fonts/OpenSans.ttf')  format('truetype'),
	     url('/estilos/fonts/OpenSans.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand-Regular';
	src: url('/estilos/fonts/Quicksand-Regular.eot?') format('eot'), 
	     url('/estilos/fonts/Quicksand-Regular.woff') format('woff'), 
	     url('/estilos/fonts/Quicksand-Regular.ttf')  format('truetype'),
	     url('/estilos/fonts/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('/estilos/fonts/Lato-Regular.eot?') format('eot'), 
	     url('/estilos/fonts/Lato-Regular.woff') format('woff'), 
	     url('/estilos/fonts/Lato-Regular.ttf')  format('truetype'),
	     url('/estilos/fonts/Lato-Regular.svg#Lato-Regular') format('svg');
}

@font-face {
	font-family: 'Brela';
	src: url('/estilos/fonts/brelaregular-webfont.eot?') format('eot'), 
	     url('/estilos/fonts/brelaregular-webfont.woff') format('woff'), 
	     url('/estilos/fonts/brelaregular-webfont.ttf')  format('truetype'),
	     url('/estilos/fonts/brelaregular-webfont.svg#brelaregular-webfont') format('svg');
}

@font-face {
	font-family: 'Signika-Light';
	src: url('/estilos/fonts/Signika-Light.eot?') format('eot'), 
	     url('/estilos/fonts/Signika-Light.woff') format('woff'), 
	     url('/estilos/fonts/Signika-Light.ttf')  format('truetype'),
	     url('/estilos/fonts/Signika-Light.svg#Signika-Light') format('svg');
}

@font-face {
	font-family: 'raleway';
	src: url('/estilos/fonts/raleway/Raleway-Medium-webfont.eot?') format('eot'), 
	     url('/estilos/fonts/raleway/Raleway-Medium-webfont.woff') format('woff'), 
	     url('/estilos/fonts/raleway/Raleway-Medium-webfont.ttf')  format('truetype'),
	     url('/estilos/fonts/raleway/Raleway-Medium-webfont.svg#Raleway-Medium-webfont') format('svg');
	font-weight: 500;
}

@font-face {
	font-family: 'raleway';
	src: url('/estilos/fonts/raleway/raleway-semibold-webfont.eot?') format('eot'), 
	     url('/estilos/fonts/raleway/raleway-semibold-webfont.woff') format('woff'), 
	     url('/estilos/fonts/raleway/raleway-semibold-webfont.ttf')  format('truetype'),
	     url('/estilos/fonts/raleway/raleway-semibold-webfont.svg#raleway-semibold-webfont') format('svg');
	font-weight: 700;
}

@font-face {
	font-family: 'raleway';
	src: url('/estilos/fonts/raleway/raleway-bold-webfont.eot?') format('eot'), 
	     url('/estilos/fonts/raleway/raleway-bold-webfont.woff') format('woff'), 
	     url('/estilos/fonts/raleway/raleway-bold-webfont.ttf')  format('truetype'),
	     url('/estilos/fonts/raleway/raleway-bold-webfont.svg#raleway-bold-webfont') format('svg');
	font-weight: 900;
}


/* estilos ipad */
/* iPads (portrait y landscape) ----------- 
	@media only screen
	and (min-device-width : 768px)
	and (max-device-width : 1024px) {

	#main-head { width: 995px; margin:0 auto; position:static;}
	#contenedor100 { margin:0 auto 0; width:995px; position:static;}
	#contenedor { position:static;}
	#contenido { margin-left:10px;}
	#id_div_publi_cabecera { width:995px; margin: 0 auto; position:static;}
}*/
/* iPhone 4 ----------- 
	@media
	only screen and (-webkit-min-device-pixel-ratio : 1.5),
	only screen and (min-device-pixel-ratio : 1.5) {

	#main-head { width: 995px; margin:0 auto; position:static;}
	#contenedor100 { margin:0 auto; width:995px; position:static;}
	#contenedor { position:static;}
	#contenido { margin-left:10px;}
	#id_div_publi_cabecera { width:995px; margin: 0 auto; position:static;}
	#ticker-sup-rotatore { padding-top:0; height:17px;}
	#main-head .main-menu #menu li#menu_cdspor { margin-left:0;}
	#main-head .main-menu #menu li a { padding: 3px 7px 4px;}
}
*/


/* Reset
----------------------------------------------------------------------------------------------------------------------- */
* {font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-weight: inherit;*/
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {outline: 0;}
body {line-height: 1;color: black; }
ol, ul {list-style: none;}
table {	border-collapse: separate;	border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,q:before, q:after {	content: "";}
blockquote, q {	quotes: "" "";}
abbr, acronym{cursor: help;}
em { font-style: italic;}

/* ------------------------------------------ */
html { font-size: 62.5%;}
body { font-size: 100%; font-family: Arial, Helvetica, sans-serif; } /* Estandar */
*:first-child+html body  { font-size: 101%; } /* IE 7 */
* html body { font-size: 101%; } /* IE 6 */

.estirar:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.estirar {display: inline-block;}
/* oculto IE-mac \*/
* html .estirar {height: 1%;}
.estirar {display: block;}
/*fin oculto IE-mac */
/* clases comunes
----------------------------------------------------------------------------------------------------------------------- */
.oculto{ display:none;}
.limpiar {clear:both}
/* Layout
----------------------------------------------------------------------------------------------------------------------- */
.envoltorio_publi img { display:block;}
#cabecera{ margin:0 auto; background:#fff url('/img/fnd_cabecera.gif') repeat-x 0 0; height: 1%;}
#contenedor100{ background:transparent;*zoom:1;}
#contenedor{ width:995px; margin:0 auto;  padding:15px 0 0 1px;*zoom:1; /**position:relative; *z-index:0;*/}
#contenido{ width:690px; float:right; display:inline; background:#fff;*zoom:1; /**position:relative; *z-index:0;*//*overflow:hidden;*/}
#p-mercados #contenido { background:transparent;}
#doble-column { width:100%; clear:both; margin-bottom:40px;}
#doble-column .icon { position:absolute; top:-9px; left: 10px; display:none;}
.c-tit { 
	font:18px/20px "raleway", Georgia, arial; 
	font-weight: 700;
	color:#464545; 
	border-bottom:1px solid #000; 
	padding:0 0 7px 0; 
	text-transform:uppercase;
}

#doble-column .c-tit a {
	background: url(/img/modulos/flecha.png) no-repeat right 3px;
	padding-right: 20px;
	display: inline-block;
}

.c-tit a { 
	color:#000; 
	transition: all 0.3s ease-in-out 0s;
}
.c-tit a:hover {
  text-decoration: none;
  transition:all 0.3s ease-in-out 0s; 
  opacity:0.6; f
  ilter:alpha(opacity=60); 
  /* For IE8 and earlier */ 
  text-decoration:none;	
}

#lateral{ width:277px; float:left; display:inline;}
#pie{ width:99.5em; margin: 20px auto 0;}
/* contenedores similares en portada y portadillas */
.w-twocol { width:100%}
.c-mod { }
.c-mod .c-inner { width:100%; border:none;position:relative; }
.c-cont { }
.item{ background:#fff; padding: 5px 0; position:relative; margin-bottom:6px; clear: both;}
.item p, .item li { font: 12px/14px Arial,Helvetica,sans-serif; color:#010000;}
.item table { width:100%;}
.item table thead { background:#008ea5; padding:7px 0;}
.item table th {padding:7px 0 7px 10px; font:12px/12px Georgia, "Times New Roman", Times, serif; color:#fff;}
.item table td {padding:5px 0 ; font:12px/12px Arial,Helvetica,sans-serif; color:#464545; border-bottom: 1px dotted #cfcfcf;}
.item table td a {color:#464545;}
.item table td.first { padding-left:10px;}
.little { width:400px;}

 /* cambio columnas en materias primas */
#m_primas.change #contenido,
#divisas.change #contenido,
#empresas.change #contenido, 
#bolsas.change #contenido, 
#indices.change #contenido,
#divisas.change #contenido,
#historico.change #contenido,
#media.change #contenido { display: inline; float: left; width: 664px;}

#m_primas.change #lateral,
#divisas.change #lateral,
#empresas.change #lateral, 
#bolsas.change #lateral, 
#indices.change #lateral,
#divisas.change #lateral,
#historico.change #lateral,
#media.change #lateral   { display: inline;float: right;width: 300px;}

/*ampliar foto */
.ampliar_foto, .ampliar_foto:hover  { background: url(/img/rediseno/sprite-general.png) no-repeat -33px -1487px; display:block; width:44px; height:44px; border:none; text-indent:-9999px; opacity: 1; bottom:10px; left:10px;}
.principales .ampliar_foto, .principales .ampliar_foto:hover  { background: url(/img/rediseno/sprite-general.png) no-repeat -33px -1556px; width:30px; height:30px;}
.reposo { border:none;opacity: 1;}
.encima { border:none; padding:0; text-indent: -9999px;opacity: 1;}

/* encabezado de las secciones */
.sec-head { width:100%; clear:both; padding: 5px 0 0; border-bottom: 4px solid #dbdbdb; margin-bottom:15px;}
.sec-head .sec-inner { width:995px; margin:0 auto;}
.sec-head h1 { font: 48px/51px  Georgia, "Times New Roman", Times, serif; color:#464545; float:left; display:inline; margin:0 22px 10px 0; }

/* carcasa general de Help my CASH */
#hmc_widget { margin-bottom: 10px; }


/* Enlaces
----------------------------------------------------------------------------------------------------------------------- */
a{ color:#205D5D; text-decoration:none;}
a:hover{ text-decoration:underline;}
/* Tablas
----------------------------------------------------------------------------------------------------------------------- */
.sube{ color:#017871;}
.baja{ color:#ba0000;}
tr.par th, tr.par td{ background-color:#f6f6f4;}
/* Tabla tipo 1 y comunes */
.tabla1, .tabla3{ width:100%; border-collapse:collapse;}
.tabla1 caption, .tabla3 caption{ display:none;}
#ficha_empresa_contenido .tabla1 caption, 
#ficha_empresa_contenido .tabla3 caption{ display:none}
.tabla1 th, .tabla3 th{ font:14px/14px Georgia;  border-right:1px solid #fff;  border-left:1px solid #E1E2DE; color:#FFF; text-align:center;  }
.tabla1 thead th, .tabla3 thead th {    
    background-color: #008EA5;
    padding: 10px 5px;
    
    }
.tabla1 th span{ font-weight:normal;}
.tabla1 th.thfila{ text-align:left;color:#205D5D; border:1px solid #dddddb; border-right:0; padding:.81em 1.16em .54em 1.16em;}
.tabla1 th.ultimo, .tabla3 th.ultimo{ border-right:1px solid #E1E2DE;}
.tabla1 td, .tabla3 td{ font:12px Georgia; color:#626262; border:1px solid #dddddb; border-left:0; text-align:right;  padding:.81em 1.16em .54em 1.16em;}
/* Tabla tipo 2 */
.tabla2 td{ text-align:center; border:1px solid #dddddb;}
/* Tabla tipo 3 */
.tabla3 .encabezado{ background:#e5e6dd; border-top:none; font:bold 1.1em Tahoma, Arial, Helvetica, sans-serif; color:#666; text-transform:uppercase;}
.tabla3 tbody th{ text-align:left; border:1px solid #dddddb; padding:.7em .9em .7em .9em; font-weight:normal; font-size:1.2em;}
.tabla3 th span{ display:none;}
.tabla3 td{border:1px solid #dddddb; padding:.7em .9em .7em .9em;}
.tabla3 td strong{color:#205D5D; font-size:.95em; display:block; text-align:left;}
.tabla3 td.barra{  vertical-align:middle; width:100px; padding:0; background-image: url('/img/f_punt_vert.gif'); background-repeat:repeat-y; background-position:center top;}
.tabla3 td.barra div.estirar{ vertical-align:top;}
.tabla3 td.barra .b_pos{ float:right;width:50%;}
.tabla3 td.barra .b_neg{ float:left;width:50%;}
.tabla3 td.barra div span{ display:block; overflow:hidden;}
.tabla3 td.barra .b_pos span{ float:left; background:url('/img/f_barra_pos.gif') repeat-x;}
.tabla3 td.barra .b_neg span{ float:right; background:url('/img/f_barra_neg.gif') repeat-x;}
.tabla3 td.icono{ text-align:center;}
.tabla3 .valor a{font-size:.9em;}
.tabla3 .vermas a{ font-size:.9em; color:#333; background:url('/img/ico_flecha_redonda.gif') no-repeat left center; padding-left:1.3em;}
.tabla4 caption{ display:none;font:bold 1.1em Tahoma,Arial,Helvetica,sans-serif; text-transform:uppercase; color:#484948; text-align:center; padding:.7em 0; background:url('/img/f_deg_caption.jpg') repeat-x left top; border-bottom:1px solid #fff;  margin:0 0 0 -1px;}
.tabla5 th.thfila{border-right: 1px #DDDDDB solid;}
.tabla1 th.thfila.anotas {border-right: 1px #DDDDDB solid;}
.tabla-ranking{clear: both;}

/* tabla prima */
.tabla-prima { clear:both;}
.tabla-prima th { background:#f5f5f5; padding: 8px 4px; text-align:center;}
.tabla-prima td {padding: 8px 4px;}

/* Listas
----------------------------------------------------------------------------------------------------------------------- */
/*#contenedor ul{ font-family:Tahoma,Arial, Helvetica, sans-serif;}
#contenedor ul li{background:url('/img/ico_flecha_rojder.gif') no-repeat left 1em;}*/
/* Módulo tipo
----------------------------------------------------------------------------------------------------------------------- */
.mod_img{ float:left; display:inline; margin-bottom:1.2em;}
/*
.mod_img a:hover img { opacity:0.8;}
.mod_img a.ampliar:hover img { opacity:1;}*/
.mod_txt{ display:table; height:1%;}

body{ /*padding-top:31px;*/}

/*******************************************************************/
/* Modulo de Paginacion  [Unificado]                               */
/*******************************************************************/
/*paginacion comentarios interior noticia */
.paginacion{ font-size:1.1em; line-height:1.5em; color:#666; padding: 31px !important; position:relative;}
.paginacion li {float:left; background:none; margin:0 .2em; font:18px/20px Georgia, "Times New Roman", Times, serif; color:#464545; padding: 2px 0 ; display:block; /*width:14px;*/ height:16px;}
.paginacion li a { font-weight:normal; border:none; /*width:14px;*/ height:16px;color:#464545; padding:0;}
.paginacion li.actual {/*width:14px;*/ height:16px; border:none; background:none; }
.paginacion li.actual strong { font-weight:normal;  text-decoration:underline; color:#464545;}
.paginacion .ultima { font:11px/13px Georgia, "Times New Roman", Times, serif !Important;  background:url('/img/pag-coment-sig.gif') no-repeat right 8px; padding:5px 15px 0 0; position:absolute; right:3.5em; top:3em;}
.paginacion .primera { font:11px/13px Georgia, "Times New Roman", Times, serif !Important; background:url('/img/pag-coment-ant.gif') no-repeat left 8px; padding:5px 0 0 15px; width:135px; float:left;}
.paginacion a { color:#464646;}
.paginacion li.b_nav { width:10px; height:14px;}
.paginacion li.b_nav .b_sig { 
    background:url('/img/pag-siguiente.gif') no-repeat right bottom;
    *background-position:left 7px;
    text-indent:-9999px; 
    overflow:hidden; 
    display:block; 
    padding:0; 
    margin:0;
    }
.paginacion li.b_nav .b_ant { 
    background:url('/img/pag-anterior.gif') no-repeat left bottom; 
    *background-position:right 7px;
    text-indent:-9999px; 
    overflow:hidden; 
    display:block; 
    padding:0; 
    margin:0;
    }
.paginacion ul{width:150px; text-align:center; margin:0 auto;}
/* Paginación: resultados búsqueda
----------------------------------------------------------------------------------------------------------------------- */
.pag_result{ border-top:1px solid #dfdfdf; font-size:1.1em; color:#444; margin:1.5em .5em;}
.pag_result p, .pag_result ul , .pag_result li{ display:inline;} 
.pag_result a{ text-decoration:underline;}
.pag_result ul{ color:#205D5D; font-weight:bold;}
.pag_result ul a{ font-weight:normal;}
.pag_result li{ margin:0 .2em;}
.pag_result .sup{ background:#F5F5F5; border-bottom:1px solid #dfdfdf; padding:.6em .7em;}
.pag_result .inf{ background:url('/img/f_punt_3px.gif') repeat-x left bottom; padding:1em .7em;}
.pag_result .col_1{ float:left;}
.pag_result .col_2{ float:right;}
.pag_result .inf .col_1{ color:#AE3233;}
.pag_result .inf .col_2 a{ text-decoration:none;}
#tribunasAjax .paginacion{padding-bottom:20px;}
/*******************************************************************/

/* Controles de anterior siguiente 
--------------------------------------------------------------------------------------------------------------------*/

#contenedor .controles { clear:both; margin-bottom:10px;}
#contenedor .controles a { font: 11px/12px Georgia, "Times New Roman", Times, serif; color:#464545; clear:both;}
#contenedor .controles .ir_ant { background:url('/img/anterior.gif') no-repeat left 3px; padding-left: 15px; float:left; clear:right;}
#contenedor .controles .ir_sig { background:url('/img/siguiente.gif') no-repeat right 3px; padding-right: 15px; float:right; margin-top:-12px; *margin-top:0px !Important;}


/*-----------------------------------------------------------------------------------------------------------
PUBLICIDAD
------------------------------------------------------------------------------------------------------------*/
.envoltorio_publi { background:#fff; padding: 0;}

/* publi google 
----------------------*/
#noticia .publi_google{border:1px solid #ccc; border-top:1px solid #575757; font:1.1em Arial, Helvetica, sans-serif; margin:0 1.81em 1.81em 1.72em; clear:both;}
.publi_google{border:0; border-top:1px solid #575757; font:11px Arial, Helvetica, sans-serif; margin:0; background:#fff; clear:both; border-bottom:15px solid #fff;}
.publi_google p.cab_pub_google{padding:3px 5px; margin:0; font:11px Arial, Helvetica, sans-serif; color: #656565; background: #e7e7e7; border-bottom:1px solid #ccc; text-align:center;}
.publi_google a{ text-decoration:none;}
.publi_google ul{margin:0 6px;}
.publi_google ul li {padding:5px 0;}
.publi_google ul li p{display:inline; font:11px Arial, Helvetica, sans-serif; margin:0;}
.publi_google .c_tit{display:block;}
.publi_google .c_tit a{color: #3c3c3c; text-decoration:underline; }
.publi_google .c_des{color: #535353;}
.publi_google .c_des a{color: #535353;}
.publi_google .c_lnk a{color: #888; font-size:9px; text-decoration:none; margin-right:3px}

/* Anuncios Google 
-------------------------*/
#contenedor #contenido #cse-search-results { margin: 1em 1.9em;}

/*Publicidad en fotogaleria */
#id_div_publi_cabecera { }

/*----------------------------------------------------------------------------------------------------------
   ENCUESTAS
----------------------------------------------------------------------------------------------------------- */

/* modulo de encuestas */
#doble-column.m-encuesta  { margin-top:0;}
#doble-column.m-encuesta .encuesta { 
	padding-top: 15px; 
	border:none; 
	padding-bottom: 0;
	margin: 0;
	clear: both;
}
#doble-column.m-encuesta .icon { 
	top:-9px; 
	right:22px; 
	left:auto;
}
.m-encuesta .c-cont  {padding:0 0 10px 0;}

#contenedor #doble-column.m-encuesta .mod_txt {
	border-bottom: 1px solid #dadada;
	margin-bottom: 2px;
}

#contenedor #doble-column.m-encuesta .mod_txt .fecha { 
	font: 14px/16px "raleway", Georgia, arial, serif; 
	color:#000; 
	margin-bottom:12px;
	padding-left: 12px;
}

#contenedor #doble-column.m-encuesta .mod_txt .fecha span { 
	color:#000; 
	font-weight:700;
	margin-left: 10px;
}
.m-encuesta .encuesta form { clear:both;}
.m-encuesta div.encuesta_dia h4{margin-top:25px;}   
.m-encuesta div.encuesta_dia h4 a{
	color: #017871;
	font: 12px/13px Georgia,"Times New Roman",Times,serif;
	margin-bottom: 2px;
}

.m-encuesta div.encuesta_dia p {
	color: #666666;
	font: 1.3em/1.1em Arial,Helvetica,sans-serif;
	margin-bottom: 0.6em;
	margin-top:6px;
}
.m-encuesta div.encuesta_dia p.fecha {
	color: #8B8B8B;
	display: inline;
	float: left;
	font: 11px/13px Georgia,"Times New Roman",Times,serif !Important;
	margin-top: 0 !important;
	padding-bottom: 12px;
}

.m-encuesta .encuesta_dia p.vota {
	display: block;
	height: 16px;
	margin-left: 120px;
	font-size:11px;
}

.m-encuesta .encuesta_dia p.vota a {
	background: url("/img/lateral/bullet-votar-encuesta.gif") no-repeat scroll left 7px transparent;
	border: medium none;
	color: #464545;
	font: 11px/13px Georgia,"Times New Roman",Times,serif;
	padding: 3px 5px 2px 10px;
	text-transform: none;margin-left:4px;
}

.m-encuesta .encuesta p.fecha {margin-top:6px;}
.m-encuesta .encuesta_dia div.flash {
	margin-left:16px; 
	margin-top:10px;
}

.m-encuesta .encuesta h3 {  
	font: 14px/17px Arial, Helvetica, sans-serif; 
	color:#666; 
	padding:22px 12px 20px; 
	text-align:center;
	background:#dbdbdb;
	clear:both;
}
.m-encuesta .encuesta .radio_form { 
	padding:0 0 22px;
	width:100%; 
	clear:both;
	float:left;
	margin:0 !important;
}
.m-encuesta .encuesta .btn_form {
	float:none;
	margin:0 !important;
	width: 100%;
	display: inline-block;
	background: #dbdbdb;
}
.m-encuesta .encuesta .btn_form .boton { 
	background: none;
	border:none; 
	padding:0;
	font: 18px/20px "raleway", Georgia, arial, serif; 
	font-weight: 900;
	color:#000; 
	text-transform:uppercase; 	
	cursor:pointer;
	width: 100%;
	padding:10px 0 7px; 
	transition: all 0.3s ease-in-out 0s;
}

.m-encuesta .encuesta .btn_form .boton:hover {
  text-decoration: none;
  transition:all 0.3s ease-in-out 0s; 
  opacity:0.6; f
  ilter:alpha(opacity=60); 
  /* For IE8 and earlier */ 
  text-decoration:none;		
}

.m-encuesta .encuesta .radio_form label {
	width: 33%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	display:block;
	float:left;
	margin:0;
	padding:15px 10px 0 24px;
	font: 16px/20px georgia, Arial, Helvetica, serif; 
	color:#666;

}
.m-encuesta .encuesta .b_form {
	padding:0 0.3em;
	text-align:right;
}
.m-encuesta .encuesta .radio_form input {
	margin:3px 8px 0px 0px;
	padding:0;
	vertical-align:top;
}

.m-encuesta .encuesta .mod_masinfo {
	background:url("/img/f_punt.gif") repeat-x scroll left top transparent;
	clear:both;
	float:none;
	font-size:1.1em;
	margin-top:0.8em;
	padding-top:0.8em;
	text-align:right;
}
#doble-column.m-encuesta .encuesta .mod_masinfo {
	margin-top:0;
	background:none; 
	float:left;
	padding-left: 12px;
}
.m-encuesta .encuesta .mod_masinfo li {
	display:inline;
	margin:0;
	padding:0;
}

#doble-column.m-encuesta .encuesta .mod_masinfo li a {
	font: 14px/16px "raleway", Georgia, Times, serif; 
	font-weight: 700;
	color:#000; 
	background:none;
	float: left;
	clear: both;
}

.m-encuesta .encuesta .mod_masinfo li .ultimo {
	background:url("/img/f_sep.gif") no-repeat scroll left center transparent;
	padding-left:0.7em;
	padding-right:0;}

.m-encuesta .info { clear:both;}












.encuesta legend{ display:none;}
.encuesta label{display:block;}
.encuesta .radio_form label{ font:12px/14px Georgia, "Times New Roman", Times, serif ; color:#333; margin:0 0 1em 0; padding:0;}
.encuesta .radio_form input{ vertical-align:middle; margin:0 0.3em 0 0; padding:0;}










/* Boton enviar pregunta
----------------------------- */
.btn4{ display:block; background: url('/img/b_cuatro.gif') no-repeat left top; width:9.7em; height:1.7em; font:bold 1.1em Tahoma, Arial, Helvetica, sans-serif; color:#ABA8A5; text-align:center; padding-top:.1em; margin-top:.8em;}
.btn4:hover{background: url('/img/b_cuatro_over.gif') no-repeat left top; color:#ABA8A5; text-decoration:none;}

/* Boton generico
---------------------- */
form .boton{background:#fff url('/img/ico_flecha_btn.gif') no-repeat 5px center; border:1px solid #D9D9D9; font:bold 10px Tahoma, Arial, Helvetica, sans-serif; color:#545050; line-height:normal; overflow:visible; padding:2px 5px 2px 12px;}
.boton:hover{ color:#ABA8A5; background:#F4F3ED url('/img/ico_flecha_btn2.gif') no-repeat 5px center; text-decoration:none;}
.boton{ background:#fff url('/img/ico_flecha_btn.gif') no-repeat 5px center; font:bold 10px Tahoma, Arial, Helvetica, sans-serif; color:#545050; border:1px solid #D9D9D9; text-transform:uppercase; padding:2px 9px 3px 14px;}

/*---------------------------------------------------------------------------------------------------------- 
COLORES PARA LOS DATOS DE LAS TABLAS NEGATIVOS Y POSITIVOS
----------------------------------------------------------------------------------------------------------- */
body .neg,body table .neg{ color:#D42A2A; font-weight:bold;}
body .pos,body table .pos{color:#61982a; font-weight:bold;}

/*-----------------------------------------------------------------------------------------------------------
 ESTILOS PARA LOS COMENTARIOS EN LAS NOTICIAS DE PORTADA Y PORTADILLAS
----------------------------------------------------------------------------------------------------------- */
.link_coment{ font:bold 10px/10px Tahoma,Arial, Helvetica, sans-serif; height:16px; padding:0 0 3px;}
.link_coment strong{ font:11px/11px Georgia, "Times New Roman", Times, serif; color:#333; padding:2px 5px 3px 5px; display:block; float:left;}
.link_coment a{float:left; display:block; padding-left:17px; color:#8b8b8b; background: url(/img/rediseno/portada/coment.png) no-repeat left 2px; width:16px; height:16px; margin-top:2px;}

/* Pestañas
----------------------------------------------------------------------------------------------------------- */
.pestanias{ margin:1.7em 0 0 0; padding:0; }
.pestanias li{ margin:0 .1em 0 0; display:inline; float:left; text-align:center; font:1.1em Arial, Helvetica, sans-serif; color:#a9a9a9;}
.pestanias li a{ color:#a9a9a9; background:none; display:block; padding:.7em 0; height:1%; }
.pestanias .selected{ border-bottom:1px solid #fff; background:#fff; font:bold 1.1em Arial, Helvetica, sans-serif; color:#000; padding:.7em 0; border-left:1px solid #d1d1d1; border-top:1px solid #d1d1d1; border-right:1px solid #d1d1d1;}
.pestanias .selected a{color:#000; padding:0;}
.pestanias .ultimo{ margin-right:0;}

/* Patrocinador
----------------------------------------------------------------------------------------------------------- */
#contenido .proveedor{ border-top:2px solid #ebebeb; margin:0 .5em; padding:1em .8em; text-align:right;}

/* Lipper leaders
----------------------------------------------------------------------------------------------------------- */
td.lipper_cinco{background:url('/img/f_lipper5.gif') no-repeat center center; height:2.6em;}
.par td.lipper_cinco{background:#F6F6F4 url('/img/f_lipper5.gif') no-repeat center center; height:2.6em;}
td.lipper_cuatro{background:url('/img/f_lipper4.gif') no-repeat center center; height:2.6em;}
.par td.lipper_cuatro{background:#F6F6F4 url('/img/f_lipper4.gif') no-repeat center center;height:2.6em;}
td.lipper_tres{background:url('/img/f_lipper3.gif') no-repeat center center; height:2.6em;}
.par td.lipper_tres{background:#F6F6F4 url('/img/f_lipper3.gif') no-repeat center center; height:2.6em;}
td.lipper_dos{background:url('/img/f_lipper2.gif') no-repeat center center; height:2.6em;}
.par td.lipper_dos{background:#F6F6F4 url('/img/f_lipper2.gif') no-repeat center center; height:2.6em;}
td.lipper_uno{background:url('/img/f_lipper1.gif') no-repeat center center; height:2.6em;}
.par td.lipper_uno{background:#F6F6F4 url('/img/f_lipper1.gif') no-repeat center center; height:2.6em;}

/* Buscador por letra
----------------------------------------------------------------------------------------------------------- */
body #contenedor #contenido .abecedario form{ background:#f6f6f6 url('/img/f_buscador_abc.jpg') repeat-x left top; }
body #contenedor #contenido .abecedario{background:#f6f6f6 url('/img/f_buscador_abc_down.jpg') repeat-x left bottom; padding-bottom:20px; }

/* publi horizontal */
.publi_destacado {background:#fff; position:relative;}
.publi_destacado div{background:#EEF0EE url('http://www.elpais.com/im/tit_publi_2.gif') no-repeat scroll center top;
left:0; padding:1.3em 0 .1em 0; margin:0; text-align:center;}

/* promo cintillo */
p.promo_cintillo1 {background: url('/img/promos/bg-cintillo-breakingnews.gif') repeat-x;color:#333;font-size:12px;line-height:35px;height:35px;position:relative;margin:1em 2em;padding-left:1em}
p.promo_cintillo1  img {position:absolute;right:10px; top:2px}

/* calculadoras */
#contenido .calcus-centrales h2 {margin-bottom:0}
#contenido .calcus-centrales .calculadores {background:#fff;padding:100px 40px 0;margin-bottom:30px}
#contenido .calcus-centrales .calculadores p{font-size:1.2em;line-height:120%}
#contenido .calcus-centrales .calculadores .calculadora {border:1px solid #e4e4e4;margin:30px 50px;padding:10px 20px}
#contenido .calcus-centrales .calculadores .calculadora p{font-size:1.1em;width:150px;float:left;display:inline;margin-top:5px;font-family:Tahoma}
#contenido .calcus-centrales .calculadores .calculadora label {clear:both;line-height:20px}
#contenido .calcus-centrales .calculadores .calculadora input {width:130px;border:1px solid #b7b7b7}
#contenido .calcus-centrales .calculadores .calculadora select {width:150px;border:1px solid #b7b7b7;}
#contenido .calcus-centrales .calculadores .calculadora .sl-corto select {width:130px}
#contenido .calcus-centrales .calculadores .calculadora fieldset {}
#contenido .calcus-centrales .calculadores .calculadora label {background: url('/img/finanzas-personales/bg-label.gif') no-repeat 0 50%;padding-left:10px}
#contenido .calcus-centrales .calculadores .calculadora .mod_boton {padding-top:10px;background: url('/img/finanzas-personales/hr-separa.gif') repeat-x;margin-top:10px;margin-bottom:10px;width:450px; *margin-right:-50px /*fix ie*/}
#contenido .calcus-centrales .calculadores .calculadora .mod_boton input {float:right;width:80px}
#contenido .calcus-centrales .calculadores .calculadora .mod_boton .bt-borrar {margin-right:10px}
#contenido .calcus-centrales .calculadores .calculadora .nota {color:#8f8f8f;line-height:120%;font-family:Tahoma;font-size:10px}
#contenido .calcus-centrales .calculadores .calculadora .nota p{width:100%;clear:both;color:#8f8f8f;font-weight:700;font-size:10px;font-family:Tahoma;margin-top:20px}
#contenido .calcus-centrales .calculadores .resultados-calculadora{background:#ececec;margin:10px auto;text-align:center}
#contenido .calcus-centrales .calculadores .calculadora .resultados-calculadora label {background:#ececec;padding-left:10px;color:#000;clear:none;display:inline;font-weight:700;font-size:1.1em;line-height:30px}
#contenido .calcus-centrales .calculadores .resultados-calculadora input {border:0;background:#ececec;color:#536f72;width:60px;font-size:1.2em;font-weight:700;font-family:Tahoma}
#contenido .calcus-centrales .calculadores.cal-hipotecas .calculadora .resultados-calculadora label {font-size:1.2em;color:#4b4b4b}
#contenido .calcus-centrales .calculadores.cal-hipotecas .resultados-calculadora input {font-size:1.2em}
#contenido .calcus-centrales .calculadores.cal-hipotecas .calculadora select  {width:130px}
#contenido .calcus-centrales .calculadores.cal-hipotecas .calculadora p {width:157px}
#contenido .calcus-centrales .calculadores .resultados-calculadora input.peck {width:30px}
#contenido .calcus-centrales .calculadores.cal-salario {background:#fff url('/img/finanzas-personales/bg-calculadora-salarios.jpg') no-repeat}
#contenido .calcus-centrales .calculadores.cal-hipotecas {background: url('/img/finanzas-personales/bg-calculadora-hipotecas.jpg') no-repeat}
#contenido .calcus-centrales .calculadores.cal-hipotecas .calculadora {background: url('/img/finanzas-personales/bg-form-calc-hipotecas.gif') no-repeat}
#contenido .calcus-centrales .calculadores.cal-hipotecas .calculadora {margin:30px 40px;padding-top:80px}

/* promo620 */
.promo620 {background:#FFFFFF url('/img/f_doslineasgris.gif') repeat-x scroll left top;margin:0 2px 1.5em;padding:10px 2px}
.promo620 .contorno{background:#FFFFFF url('/img/f_doslineasgris.gif') repeat-x scroll left bottom;padding-bottom:10px}
.promo620 .promo-box {background:#e4e4e4 url('/img/promos/txt-publi-vert.gif') no-repeat left center;padding:3px 20px}
.promo620 .promo-box img{border:1px solid #c2c2c2}



/* publi con literal columna central */
#contenido .publi_box{margin:0 auto 1em;position:relative}
#contenido .publi_box .publi_h_c {background:#EEF0EE url('/img/tit_publi_2.gif') no-repeat center top;border:1px solid #D3D5D2;left:0;padding:12px 0 8px;;text-align:center;clear:both}
#contenido .publi_h .publi_h_c {background:#EEF0EE url('/img/tit_publi_2.gif') no-repeat center top;border:1px solid #D3D5D2;left:0;padding:12px 0 8px;;text-align:center;clear:both}
/*#contenido .publi_h, 
#contenido .publi-h{ 
    background:#eef0ee url(/img/pub-txt-portadillas.gif) no-repeat left top;
    clear: both;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
	
    }*/

#contenido .publi677_elpais{ 
    background:#eef0ee url(/img/pub-txt-portadillas.gif) no-repeat left top;
    clear: both;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
	
    }


/* modulo compartir */

.modulo_compartir{clear:both;padding:12px 0;float:none;}
.modulo_compartir ul{list-style:none; width: 100%;}
.modulo_compartir ul li{float:left;padding:0;background:none;}
.modulo_compartir button{border:none;margin:0;background-color:transparent;padding:0;border-radius:0;text-align:left;box-sizing:border-box;cursor:pointer;}
.modulo_compartir button::-moz-focus-inner {border: 0;padding: 0;}
.modulo_compartir button:focus{outline:none;}
.modulo_compartir .barra_servicios{float:left; width: 80%;}
.modulo_compartir .lista_servicios li{margin-left:5px; width: 12%;}
.modulo_compartir .boton_enviar{box-sizing:border-box;border-radius:3px;display:inline-block;height:29px;padding:2px;float:left;width:100%;
cursor:pointer;font-family:'Roboto', sans-serif;font-size:12px;line-height:25px;}
.modulo_compartir .boton_enviar{opacity:.76;}
.modulo_compartir .boton_enviar:hover{opacity:1;}
.modulo_compartir .boton_enviar:focus{outline:none;}
.modulo_compartir .servicio{display:inline-block;width:25px;height:25px;text-indent:-9999px;float:left;}
.modulo_compartir .servicio{background-image:url(/img/compartir_sprite.png);background-repeat:no-repeat;}
.modulo_compartir .contador{display:inline-block;float:right;text-align:right;padding:0 4px 0 2px;color:#fff;overflow:hidden;max-width:62px;overflow:hidden;}
.modulo_compartir .whatsapp{position:relative;margin-right:11px;}
.modulo_compartir .whatsapp:after{content:'';width:1px;height:25px;display:block;border-right:1px solid #EBEBEB;position:absolute;right:-9px;top:2px;}
.modulo_compartir .whatsapp .boton_enviar{background-color:#65BC54;}
.modulo_compartir .whatsapp .servicio{background-position:0 0;}
.modulo_compartir .facebook .boton_enviar{background-color:#4862A3;}
.modulo_compartir .facebook .servicio{background-position:0 -25px;}
.modulo_compartir .twitter .boton_enviar{background-color:#55ACEE;}
.modulo_compartir .twitter .servicio{background-position:0 -50px;}
.modulo_compartir .linkedin .boton_enviar{background-color:#017EB4;}
.modulo_compartir .linkedin .servicio{background-position:0 -75px;}
.modulo_compartir .googleplus .boton_enviar{background-color:#DA4735;}
.modulo_compartir .googleplus .servicio{background-position:0 -100px;}
.modulo_compartir .bebee .boton_enviar{background-color:#f18e16;}
.modulo_compartir .bebee .servicio{background-position:0 -125px;}


.modulo_compartir .comentarios{float:right;}
.modulo_compartir .comentarios .boton_enviar{padding:1px;background-color:; border:1px solid #EBEBEB;background:#F5F5F5;width:auto;}
.modulo_compartir .comentarios .servicio{background-image:url(/iconos/v1.x/v1.0/varios/comentarios_aeaeae.png);background-position:center center;}
.modulo_compartir .comentarios .contador{color:#515151;width:auto;}

.modulo_compartir .barra_varios{position:relative;float:right;}
.modulo_compartir .barra_varios li > .boton{font-weight: normal;font-size: 11px;line-height: 29px;font-family: 'Roboto Condensed', sans-serif;color: #666;background-repeat: no-repeat;border-radius: 2px;padding: 0 4px 0 22px;display:inline-block;box-sizing:border-box;}
.modulo_compartir .barra_varios li > .boton:hover{opacity:.8;}
.modulo_compartir .barra_varios li > .boton:hover {color: #000;}
.modulo_compartir .barra_varios .imprimir > .boton{background-image: url(/img/imprimir_2.png);background-position: 4px center;}
.modulo_compartir .barra_varios li > .inactivo {opacity: 0.5;filter: alpha(opacity=50);}
.modulo_compartir .barra_varios li > .inactivo:hover {color: #555;cursor: help;opacity: 0.5;filter: alpha(opacity=50);}

.modulo_compartir .capa {width: 300px;background-color: #f7f7f7;border: 1px solid #ddd;-moz-box-shadow: 1px 2px 2px #ccc;-webkit-box-shadow: 1px 2px 2px #ccc;box-shadow: 0 2px 2px #ccc;padding: 15px;position: absolute;top:-12px;left: auto; right:0; font-weight: bold;font-size: 12px;line-height: 16px;font-family: 'Roboto', sans-serif;z-index: 1010;text-align: left; display:none;}
.modulo_compartir .capa .encabezado {border-bottom: 1px solid #ddd;padding: 0 0 5px 0;margin-bottom:15px;}

.modulo_compartir .capa_guardar {width: 250px;padding-left: 14px;display:none;}
.modulo_compartir .capa_desplegada {display: block;animation: fadeIn .5s linear forwards;-webkit-animation: fadeIn .2s linear forwards;-moz-animation: fadeIn .2s linear forwards;-o-animation: fadeIn .2s linear forwards;-ms-animation: fadeIn .2s linear forwards;}
.modulo_compartir .capa .encabezado p {font-size:11px;line-height:19px; margin:0;float:left;padding-left: 17px;}
.modulo_compartir .capa .cerrar {background: transparent url(/iconos/v1.x/v1.0/varios/cerrar.png) no-repeat 0 0;width: 16px;height: 16px;display: block;float: right;text-indent: 100%;white-space: nowrap;overflow: hidden;}
.modulo_compartir .capa .cerrar:hover {background: transparent url(/iconos/v1.x/v1.0/varios/cerrar_hover_333.png) no-repeat 0 0;}
.modulo_compartir .capa p {font-weight: normal;font-size: 12px;line-height: 16px;font-family: 'Roboto', sans-serif;margin: 0 0 15px 0;padding-left: 0;}

.modulo_compartir .capa p a:hover {border-bottom: 1px dotted #0097c8;}


/* nuevo modulo de compartir en noticia */
.compartir-noticia {
	width: 100%;
	clear:both;
	margin-bottom: 20px;
}

.compartir-noticia .principales {
	float: left;
}
.compartir-noticia button {
	border:none;
	border-radius: 0;
	background:none;
	width: 38px;
	height: 38px;
	cursor: pointer;
	float: left;
	
}

.compartir-noticia button,
.compartir-noticia a {
transition: all 0.3s ease-in-out 0s;	
}

.compartir-noticia button:hover,
.compartir-noticia a:hover {
  text-decoration: none;
  transition:all 0.3s ease-in-out 0s; 
  opacity:0.6; f
  ilter:alpha(opacity=60); 
  /* For IE8 and earlier */ 
  text-decoration:none;	
}

.compartir-noticia button {
	margin-right: 10px;
}

.compartir-noticia .whatsapp {
    background: url(/img/svg/wasap.svg) no-repeat;
    background-size: contain;	
} 

.compartir-noticia .fb {
    background: url(/img/svg/facebook.svg) no-repeat;
    background-size: contain;	
} 

.compartir-noticia .tw {
    background: url(/img/svg/twitter.svg) no-repeat;
    background-size: contain;	
} 

.compartir-noticia .ln {
    background: url(/img/svg/linkedin.svg) no-repeat;
    background-size: contain;	
} 

.compartir-noticia .googleplus {
    background: url(/img/svg/google+.svg) no-repeat;
    background-size: contain;	
} 

.compartir-noticia .bee {
    background: url(/img/svg/bebee.svg) no-repeat;
    background-size: contain;	
} 

.compartir-noticia span {
	display:none;
}

.compartir-noticia .principales .coment {
    display: block;
    width: 40px;
    height: 26px;
    cursor: pointer;
    background: url(/img/svg/comentarios.svg) no-repeat;
    background-size: contain;
    text-align: right;
    padding-top: 12px;
    padding-left: 20px;
    color: #939393;
    float: left;
}

.compartir-noticia .principales .coment span {
	display:block;
	font: 14px/16px Arial, georgia;
	color:#939393;
	text-decoration: underline;
}

.compartir-noticia .secundarias {
	width: 38px;
	height: 38px;
	float: left;
	position: relative;
	margin-right: 10px;
}

.compartir-noticia .secundarias-otros button{
	margin-bottom: 10px;
	margin-right: 0;
}

.compartir-noticia .boton_compartir-otros {
	width: 38px;
	height:38px;
	background: url(/img/svg/compartir.svg) no-repeat;
	background-size: contain;
} 

.compartir-noticia .secundarias-otros{
	background-color: #F7F7F7;
    border: 0.063rem solid #D6D6D6;
    border-radius: 1.250rem;
    position: absolute;
    top: -5px;
    left: -4px;
    z-index: 50;
    padding: 4px 4px 0;
}

.compartir-noticia .boton_cerrar {
	width: 38px;
	height:38px;
	background: url(/img/svg/compartir.svg) no-repeat;
	background-size: contain;
	opacity: 0.6;	
}

.compartir-noticia .imprimir {
	width: 38px;
	height:38px;
	background: url(/img/svg/imprimir.svg) no-repeat;
	background-size: contain;
	float: right;	
	text-indent: -9999px;
}

.compartir-noticia.compartir-fijo {
	position: fixed;
    width: 100%;
    z-index: 50;
    border: 0;
    margin: 0 auto;
    top: 0;
    max-width: 995px;
    background: #fff;
    padding: 10px 0;
    border-top:1px solid #dadada;
    border-bottom: 4px solid #dadada;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
}


/* iframe de comentarios en portada y portadillas */
#num-comentarios-articulo-nuevo { margin-top:1px; }

/* flechas rotatores noticias */
#contenido .columnas .noticia .controles{bottom:-6px;position:absolute;right:16px;width:80px;z-index:999}
#contenido .columnas .noticia .controles a.ir_ant{background:transparent url('/img/b_ant.gif') no-repeat 0% 50%;display:block;float:left;height:19px;overflow:hidden;text-indent:-9999px;width:36px}
#contenido .columnas .noticia .controles a.ir_sig{background: url('/img/b_sig.gif') no-repeat 0% 50%;display:block;float:right;height:19px;overflow:hidden;text-indent:-9999px;width:36px}
#contenido .columnas .noticia .controles a.ir_ant:hover{background:url('/img/b_ant_hover.gif') no-repeat 0% 50%}
#contenido .columnas .noticia .controles a.ir_sig:hover{background:url('/img/b_sig_hover.gif') no-repeat 0% 50%}
#contenedor #contenido .promo, #contenedor #contenido .mod {}

/* interstitial */
body.con_inter{ height:auto; overflow:hidden; background:#fff;}
body.con_inter #contenedor{  /*position:absolute; left:-9999px;*/ display:none;}
#interstitial{ display:none;}
body.con_inter #interstitial{ display:block; position:absolute; left:0; top:0; height:100%; width:100%; background:#fff; z-index:9999;text-align:center;background: #fff}
body.con_inter #interstitial .cabecera_interstitial{ background-color:#D4D4D4;margin:0 auto; text-align:center; height:46px; width:800px;  margin-bottom:3px; padding-top:0px;}
body.con_inter #interstitial .cabecera_interstitial .mod_izq{ float:left; padding:0px 0 0 10px; color:#fff;}
body.con_inter #interstitial .cabecera_interstitial .mod_izq img{padding-top:1px; position:relative; top:3px; margin:0 5px -1px 0;}
body.con_inter #interstitial .cabecera_interstitial .mod_der{float:right; padding:9px 10px 0 0;	background: transparent url('/img/bt-saltar.jpg') 0 9px no-repeat; width:149px; height:30px;}
body.con_inter #interstitial .cabecera_interstitial .mod_der div{width:149px; height:30px; padding:8px 0px 0 15px ; text-align:left;color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; text-decoration:none;}
body.con_inter #interstitial .cabecera_interstitial .mod_der div a{ padding:5px 35px 5px 0px; color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; text-decoration:none;}
body.con_inter #interstitial .cabecera_interstitial .mod_der div a:hover{color:#EFD8D8;}
body.con_inter #contenido_interstitial{clear:both;margin-bottom:15px;}
body.con_inter #interstitial .limpiar{ clear:both; margin:0; padding:0; line-height:1px; font-size:1px; height:1px;}


/* sky */
.sky-i {left:50%; margin-left:-613px; position:absolute; top:0; width:115px;}
.sky-d {left:50%; margin-left:497px; position:absolute; top:0; width:115px;}

/* Publi interior noticia 
body#noticia.interior-noticia  {background:url(/img/patrocinio/patrocinio_caixa.jpg) no-repeat scroll center top #FFFFFF;}
body#noticia.interior-noticia #cabecera {background:none;}
body#noticia.interior-noticia #contenedor100 {background:none;}
*/
/* titulares de pagina */
#contenido h1.titular-sec, #contenido h2.titular-sec {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 0.08em solid #DBDBDB;
    border-top: 0.25em solid #DBDBDB;
    color: #333333;
    font: 45px Georgia,"Times New Roman",Times,serif;
    margin: 0.25em 0 0.2em;
    padding: 0 0 0.2em;
    text-align: left;
    letter-spacing: -0.015em;
    }
#contenido h1.patro-seccion2 , #contenido h2.patro-seccion2 {background:url("/img/bg-seccion.gif") repeat-x scroll left bottom transparent;height:auto !important;min-height:27px;padding-left:20px;position:relative;text-align:left;}
#contenido h1.patro-seccion2 .patrocinio-seccion, #contenido h2.patro-seccion2 .patrocinio-seccion {bottom:0;display:block;position:absolute;right:0;}


/* cd_lateral2.css */
/*#lateral .experto { background:url('/img/emprendedores/fnd-experto-lateral-sup.png') no-repeat left top; width:294px; padding-top:20px; margin:0 12px 20px; }
#lateral .experto .abajo { background:url('/img/emprendedores/fnd-experto-lateral-inf.png') no-repeat left bottom; width:296px; margin:0; padding-bottom:15px;}
#lateral .experto .inner { background:url('/img/emprendedores/fnd-experto-lateral-ctr.png') repeat-y left top; width:275px; padding:0 3px 0 17px; }*/



/* Modulo promo confidencial 
----------------------------------------------------------------------------------------*/
.salmon {}
.salmon .c-mod {}
.salmon  .c-cont { padding: 0;}
#contenedor #contenido .confidencial {background-color:#fdf4ef; border:none; margin-bottom:5px;}
#contenedor #contenido .confidencial .tit-confidencial { font: 20px/21px Georgia, "Times New Roman", Times, serif; color:#464545; padding-bottom:6px; border-bottom: 1px solid #515151; margin-bottom:20px;}
#contenedor .mod_d .confidencial .tit-confidencial {font:13px/14px Georgia, "Times New Roman", Times, serif; padding-top:8px;}
#contenedor #contenido .confidencial .noticia { padding-bottom:5px; border-bottom: 1px solid #d5d5d5; margin-bottom:5px;}
#contenedor #contenido .mod_d .confidencial .noticia  h3, #contenedor #contenido .mod_i .confidencial .noticia h3, #contenedor #contenido .col-izq .confidencial .noticia h3 { padding:0 0 3px 0; font: 16px/17px Georgia, "Times New Roman", Times, serif; color:#464545; margin-bottom:0; font-style:italic; }
#contenedor #contenido .confidencial .noticia .link_coment, #contenedor #contenido .confidencial .noticia .fecha { margin-bottom:0;}
#contenedor #contenido .col-izq .confidencial .noticia h3 a { color:#464545;}
#contenedor #contenido .col-izq .confidencial .noticia p.fecha {margin: 0 5px 8px 0; color: #8B8B8B;display: inline;float: left;font:11px/13px Georgia,"Times New Roman",Times,serif; padding:2px 0;}
#contenedor #contenido .col-izq .confidencial { clear:both; margin-bottom:10px;}
#contenedor #contenido .col-izq .confidencial .noticia p.fecha strong { font-weight:normal; text-transform:uppercase;}
#contenedor #contenido .col-izq .confidencial .mod_masinfo {display: inline;float: right;font-size: 11px; padding-top: 8px;text-align: left;}
#contenedor #contenido .col-izq .confidencial .mod_masinfo a {  background: url('/img/ico-mas.gif') no-repeat left 4px; color: #464545;font: 11px/13px Georgia,"Times New Roman",Times,serif; padding:0 0 0 15px;}
/* nuevo reproductor multimedia */
#media-portada { margin: 15px 0 10px; padding:0; background: #fff;}
#media-portada h3 { font: 14px/16px Tahoma, Geneva, sans-serif; color:#616161; margin-bottom:4px;}
#media-portada .menu { float:left; display:inline; }
#media-portada .menu ul li { text-align:center; background:#fff; border:1px solid #c7c9c9; border-bottom:none; height:13px; float:left; display:inline; margin-right:6px; padding:8px 15px 10px ; font: 17px/19px Georgia, "Times New Roman", Times, serif; color:#676767;}
#media-portada .menu ul li a {color:#676767; text-decoration:none; }
#media-portada .menu ul li.marcado { background:#e44c01; text-decoration:none; color:#fff; border-color:#e44c01;}
#media-portada .menu ul li.marcado a { color:#fff;}
#media-portada .menu ul li:hover { background:#e44c01; text-decoration:none; color:#fff; border-color:#e44c01; cursor:pointer;}
#media-portada .menu ul li:hover a { color:#fff; }
#media-portada .cont { clear:both; margin:0!important;}
#media-portada .video { width:478px; float:left; display:inline; height:325px; margin-right:1px;}
#media-portada .video div a img {max-height:325px; min-width:478px;}
#media-portada .video .sombra {height:309px; position:relative; width:412px; z-index:8;}
#media-portada .video .sombra a{ display:block; width:174px; height:174px; background: transparent url('/img/sombra_grafico.png') no-repeat center center; text-indent:-9999px; position:absolute; left:122px; top:73px;}
#media-portada .elemen { float:left; display: inline; width/*\**/:180px!important;height:325px; overflow:hidden;}
#media-portada .elemen { float:left; display: inline; width:184px;height:325px; overflow:hidden;}

*:first-child+html #media-portada .elemen {width:180px!important;}
#media-portada .elemen {width:180px\9;}


#media-portada .elemen ul li { 
    background: none repeat scroll 0 0 #DADADA;
    cursor: pointer;
    font: 12px/14px Arial,Helvetica,sans-serif;
    height: 71px;
    margin-bottom: 1px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 10px;
    }
#media-portada .elemen ul li:hover { background:#e44c01;}
#media-portada .elemen ul li:hover p,  #media-portada .elemen ul li:hover p.fecha{ color:#fff;}
#media-portada .elemen ul li h4 {font:12px/14px Georgia; color:#464646; margin-bottom:2px;}
#media-portada .elemen ul li h4.marcado {color:#FFF;}
#media-portada .elemen ul li.marcado { background:#e44c01; cursor: pointer;}
#media-portada .elemen ul li p {font: 13px/15px Georgia, "Times New Roman", Times, serif; color:#464545; clear:both;}
#media-portada .elemen ul li.marcado p { color:#fff;}
#media-portada .elemen ul li p.fecha {font:11px/13px Georgia, "Times New Roman", Times, serif; color:#464545; margin-bottom:2px; padding-top:0px;}
#media-portada .elemen ul li.marcado p.fecha {color:#fff;}

#infografia #media-portada .video { width:473px;}
#infografia #media-portada .elemen { width:193px!important;}

/* Captcha */
#contenedor #recaptcha_widget_div { width: 252px!important; margin-bottom:15px!important;}
#contenedor #recaptcha_area { width: 252px!important;}
#contenedor #recaptcha_table { width: 252px!important;border: 1px solid #B7B7B7!important; background:#fff; padding-right:5px;}
#contenedor #recaptcha_table td {padding:0!important;}
#contenedor .recaptcha_image_cell { width: 224px!important;}
#contenedor .recaptchatable .recaptcha_image_cell center { width:210px !important;}
#contenedor #recaptcha_image {width:208px !important; margin-left:7px!important;}
#contenedor .recaptchatable .recaptcha_image_cell center img {width:208px !important;}
#contenedor .recaptcha_input_area { width:210px!important; margin-left:7px;}
#contenedor #recaptcha_response_field { width:208px!important; border: 1px solid #B7B7B7!important;}
#contenedor #recaptcha_tagline, #contenedor #recaptcha_logo { width:0!important;}

/* estilos para los gráficos maravillosos de portada y mercados no os lo perdais*/
#graphics { width:99.4em; margin:0 auto 30px; border-bottom: 1px solid #b1b1b1; padding:7px 0 0 0; background:#fff;}
.trading #graphics  {background:#fff;}
#graphics .G-menu { float:left; display:inline; margin:13px 0px 0 0;}
#graphics .G-menu li { font: 11px/13px Georgia, "Times New Roman", Times, serif; color:#fefefe; margin-bottom:3px;}
#graphics .G-menu li a { display:block;  width:71px; height:16px; background:url(/img/rediseno/cabecera/graphic-menu-middle.png) no-repeat left top; padding: 2px 0 0 7px;color:#fefefe;}
#graphics .G-menu li a:hover { text-decoration:none;background:url(/img/rediseno/cabecera/graphic-menu-top.png) no-repeat left top; }
#graphics .G-menu li.marcado a{text-decoration:none;background:url(/img/rediseno/cabecera/graphic-menu-top.png) no-repeat left top; }
#graphics .graficos{  width:909px; float:right; display:inline; padding-bottom:2px;}
#graphics .graficos .G-mod { float:left; display:inline; width:284px; margin-left:9px; padding: 10px 7px 0px 0; border-right:1px solid #949494;/*background:url('/img/cabecera/fnd-con-graphics.gif') repeat-y right top;*/}
#graphics .graficos .G-mod:last-child { margin-right:0;padding-right: 0; border:none;}
#graphics .graficos .G-mod .data { float:left; display:inline; margin-top:0; width:75px;word-wrap: break-word;}
#graphics .graficos .G-mod .data span { display:block; font: 12px/14px Arial, Helvetica, sans-serif; color:#464545;}
#graphics .graficos .G-mod .data span.cotizacion {font:12px/14px Georgia, "Times New Roman", Times, serif; color:#464545;}
#graphics .graficos .G-mod .data span.sube {font:bold 14px/14px Georgia, "Times New Roman", Times, serif; color:#00653b;}
#graphics .graficos .G-mod .data span.baja {font:bold 14px/14px Georgia, "Times New Roman", Times, serif; color:#ac001d;}
#graphics .graficos .G-mod .data span a {color:#AC001D;}
#graphics .graficos .G-mod .data .indice{ color:#ac001d; font-weight:bold;}
#graphics .graficos .G-mod .data .pos{ color:#00653b;}
#graphics .graficos .G-mod .data .neg{ color:#ac001d;}
#graphics .graficos .G-mod .picture { width:209px; float:right; display:inline;}
#p-mercados #graphics { background:#e9e9e9; border: 1px solid #9e9e9e; width:984px; padding-left:10px;}
#p-mercados #graphics .graficos { width:903px;}
/* semáforo para portada y el lateral */
#S-ibex { border: 1px solid #ababab;-moz-border-radius: 10px; /* Firefox*/-ms-border-radius: 10px; /* IE 8.*/-webkit-border-radius: 10px; /* Safari,Chrome.*/border-radius: 10px; /* El estándar.*/ padding:2px 14px; margin-bottom:15px;}
#S-ibex h3{ font: 24px/26px Georgia, "Times New Roman", Times, serif; color:#464545; float:left; display:inline; padding-top:2px;}

#S-ibex div { float:right; display:block;}
#S-ibex div a { float:left; display:block;}
#S-ibex div span { font:bold 14px/16px Georgia, "Times New Roman", Times, serif; color:#666; float:right; padding:7px 22px 0 7px; background:url('/img/lateral/igual-ibex.png') no-repeat right 10px; float:left; display:block;}
#S-ibex div span.green { color:#188726; font-weight:bold; background:url('/img/lateral/sube-ibex.png') no-repeat right 10px;}
#S-ibex div span.red { color:#ac001c; font-weight:bold; background:url('/img/lateral/baja-ibex.png') no-repeat right 10px;}

/* cintillos nuevos 
--------------------------------------------------------------------------------------------------------------*/
#contenido .cintillo-apertura { padding:0;margin:0 0 0.7em;}
#contenido .cintillo-apertura p.sec { margin-bottom:8px; }
#contenido .cintillo-apertura span { background:#fff; font:bold 14px/16px Georgia, "Times New Roman", Times, serif; color:#bbbbbb; padding-right:8px;}
#contenido .cintillo-cierre { border-top: 6px solid #bbbbbb; padding:0; margin:1em 0;}
#contenido .mod_i .cintillo-apertura, #contenido .mod_i .cintillo-cierre {margin:0 0 0.7em;}
#contenido .mod_d .cintillo-apertura, #contenido .mod_d .cintillo-cierre { margin:0 0 0.7em; margin-left: 1em;}
#contenido .cintillo-apertura p { font: 17px/20px Georgia, "Times New Roman", Times, serif; color:#575652; text-transform:uppercase;}
#contenido .c-empresas p.sec { background: url('/img/cintillos/empresas.gif') repeat-x right 8px;}
#contenido .c-empresas span { color:#725f41;}
#contenido .c-mercados p.sec {background: url('/img/cintillos/mercados.gif') repeat-x right 8px;}
#contenido .c-mercados span { color:#b84e4e;}
#contenido .c-opinion p.sec {background: url('/img/cintillos/opinion.gif') repeat-x right 8px;}
#contenido .c-opinion span { color:#45809b;}
#contenido .c-economia p.sec {background: url('/img/cintillos/economia.gif') repeat-x right 8px;}
#contenido .c-economia span { color:#6d874c;}
#contenido .c-tecnologia p.sec {background: url('/img/cintillos/tecnologia.gif') repeat-x right 8px;}
#contenido .c-tecnologia span { color:#7166a3;}
#contenido .c-otros p.sec {background: url('/img/cintillos/otros.gif') repeat-x right 8px;}
#contenido .c-otros span { color:#9c9543;}
#contenido .cintillo-cierre.c-empresas { border-top: 6px solid #725f41;}
#contenido .cintillo-cierre.c-mercados { border-top: 6px solid #b84e4e;}
#contenido .cintillo-cierre.c-opinion { border-top: 6px solid #45809b;}
#contenido .cintillo-cierre.c-economia { border-top: 6px solid #6d874c;}
#contenido .cintillo-cierre.c-tecnologia { border-top: 6px solid #7166a3;}
#contenido .cintillo-cierre.c-otros { border-top: 6px solid #9c9543;}

/* blogs en portada y portadillas para la columna derecha*/
#contenido .mod_d  .c-blogs, #contenido .col-der  .c-blogs { margin:0; padding:0; border:none;}
#contenido .mod_d  .c-blogs .sec, #contenido .col-der  .c-blogs .sec{ font: 14px/17px Georgia, "Times New Roman", Times, serif; color:#464545; margin-bottom:14px; text-transform:none;}
#contenido .mod_d  .c-blogs .sec span, #contenido .col-der  .c-blogs .sec span { font-weight: bold; color:#e44c01; text-transform:uppercase;}
#contenido .mod_d .mas, #contenido .col-der .mas { background:url('/img/ico-mas.gif') no-repeat left 3px; padding-left:12px; font: 11px/13px Georgia, "Times New Roman", Times, serif; color:#464545; float:right; margin-bottom:10px;}
#contenido .mod_d .mas a, #contenido .col-der .mas a { color:#464545;  text-decoration:none;}
#contenido .mod_d .mas a:hover, #contenido .col-der .mas a:hover { color:#464545;  text-decoration:underline;}
#contenido .mod_d .blog, #contenido .col-der .blog { padding-bottom:15px; margin-bottom:10px;}
#contenido .mod_d .blog  .intro, #contenido .col-der .blog  .intro { position:relative; margin-bottom:10px;}
#contenido .mod_d .blog  .intro .titular, #contenido .col-der .blog  .intro .titular { float:right; display:inline; width:178px;}
#contenido .mod_d .blog  .intro .mod_img, #contenido .col-der .blog  .intro .mod_img  { float:left; display:inline; margin:0 10px 0 0;}
#contenido .mod_d .blog  .intro h3, #contenido .col-der .blog  .intro h3{ font: 17px/16px Georgia, "Times New Roman", Times, serif; color:#464545; padding-bottom:2px; }
#contenido .mod_d .blog  .intro h3 a, #contenido .col-der .blog  .intro h3 a { color:#343434; }
#contenido .mod_d .blog  .intro .tit-blog, #contenido .col-der .blog  .intro .tit-blog{ font: 14px/17px Georgia, "Times New Roman", Times, serif; color:#017871; }
#contenido .mod_d .blog  .intro .autor, #contenido .col-der .blog  .intro .autor{ font: 12px/14px Georgia, "Times New Roman", Times, serif; color:#848989; }
#contenido .mod_d .blog .entradilla p, #contenido .col-der .blog .entradilla p { font: 12px/14px Arial, Helvetica, sans-serif; color:#343434;}

li .elem-img a img {min-width:125px;min-height:80px;max-width:125px;max-height:80px;}
li .elem-img a img.ico {max-width:30px;max-height:30px;min-width:30px;min-height:30px;}

/* modulo de NUMEROS */

#doble-column.m-numeros .icon { top: 6px; z-index:10;}
.m-numeros .c-cont { padding: 11px;}
.m-numeros .c-tit { padding-left:60px; margin-bottom:7px; text-transform:none;}
.m-numeros .item { background:#f3f3f3; margin-bottom:0; padding-left:6px; margin-left:55px;}

/* Modulo de TECNORAMA
----------------------------------------------------------------------------------------------------------------------*/
#doble-column.m-tecnorama { background: url(/img/rediseno/tecnorama_head.gif) no-repeat left top; padding-top:12px;}
.m-tecnorama .c-mod { border-top:none; box-shadow:none;}
.m-tecnorama .c-cont { padding:85px 8px 0;}
.tecnorama .mod_txt {  padding: 0; clear:both;}
.tecnorama .mod_txt p { color:#3e3e3e; font: 12px/12px Tahoma, Geneva, sans-serif; padding:7px 0 7px 6px; border-bottom:1px solid #cecece;}
.tecnorama .mod_txt p.link { float:right; background:url(/img/rediseno/hermanas.png) no-repeat right 3px; padding-right:12px; border:none; padding:0 14px 0 0; margin:7px 0;}
.tecnorama .mod_txt p.link a { font: 11px/13px Georgia, "Times New Roman", Times, serif; color:#464545;}

/* modulo EMPRENDEDORES doble columna */
.m-emprendedores .c-mod { background :#F3F3F3;}
.m-emprendedores .c-cont { padding: 15px 17px;}
.m-emprendedores .c-tit { padding-left: 0; border:none;}
.m-emprendedores .item { border: 1px solid #e9e9e9;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.m-emprendedores .izq { width:321px; float:left; display:inline; padding: 26px 12px 0 9px; margin-right:20px; }
.m-emprendedores .dch {width:246px; float:left; display:inline; padding:21px 4px 0 0;}
.m-emprendedores .dch h2 { display:none;}
.m-emprendedores .mod {position: relative; margin-bottom: 12px; padding-bottom:0; border-bottom: 1px solid #dbdbdb;position: relative;}
.m-emprendedores .izq  .mod h3 { font: 17px/19px Georgia, "Times New Roman", Times, serif; color:#343434; margin-bottom:5px;}
.m-emprendedores .izq  .mod h3 a {color:#343434;}
/*********************************/
/*    Bruyula 2.0 [Redisenyo]    */
/*********************************/
.mod_termometro{ border: 1px solid #dadada; display:inline; float:left; margin-top:10px; width:100%;}
/*#contenido .mod_termometro.at {margin-top:5px} */
#contenido .mod_termometro h3 { color:#FFFfont: 12px/14px Arial, Helvetica, sans-serif;padding:0.63em 1.27em; margin:0; background:#e44c01;}
.mod_termometro h3 span{color:#FFF; font:bold 11px/13px Georgia, "Times New Roman", Times, serif;}

.mod_termometro .barra { 
    margin: 0 15px;
    padding-top: 2px;
    width:auto; 
    display:block;
    }
.mod_termometro .min {float:left;}
.mod_termometro .max {float:right;}
.mod_termometro .min, 
.mod_termometro .max {
    margin-bottom:5px; 
    margin-top:5px; 
    color:#666666; 
    font: 9px/9px Georgia, "Times New Roman", Times, serif !Important;
    }
/**html .mod_termometro .min { padding-bottom:0;}*/
/**html .mod_termometro .max { padding-bottom:0;}*/
.mod_termometro .barra div { }
.mod_termometro .barra div div { }
.info_brujula{ 
    background:none repeat scroll 0 0 transparent !important;
    /*border-top:1px solid #DBDBDB;*/
	clear:both;
	float:left;
    margin:0 15px;
    padding:5px 0;
    text-align:right;
    }
.info_brujula a{color: #464545; font: 11px/13px Georgia, "Times New Roman", Times, serif; background: url(/img/rediseno/hermanas.png) no-repeat 0 center !important; padding-left: 1.5em; }

.utilidad_brujula{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DBDBDB;
    right: -100px;
    padding-top: 1.3em;
    position: absolute !important;
    z-index: 99;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    }
.utilidad_brujula .inner-burbuja { padding:12px 0px 10px;}
.utilidad_brujula .encabezado { border-bottom: 1px solid #ededed; padding:0 22px 15px; margin-bottom:22px;}
.utilidad_brujula .encabezado .consenso, #contenido .utilidad_brujula .encabezado .p-objetivo{ font:bold 12px/14px Georgia, "Times New Roman", Times, serif; color:#e44c01; float:left; display:block;}
.utilidad_brujula .encabezado .p-objetivo{ float:right;}
.utilidad_brujula .encabezado .consenso strong, .utilidad_brujula .encabezado .p-objetivo strong{ color:#464545;}
.utilidad_brujula .inner-burbuja .tendencia { padding:0 22px 15px;}
.utilidad_brujula .inner-burbuja .tendencia p {font:bold 12px/14px Georgia, "Times New Roman", Times, serif; color:#464545;}
.c-analistas {padding:0 22px 15px; float:left; display:block;}
.cerrar {padding:0 22px 15px; float:right; display:block; font: 11px/13px Georgia, "Times New Roman", Times, serif; color:#464545; background:url('/img/cerrar.png') no-repeat left 3px; padding-left:15px;}
.cerrar a { color:#464545;}




/* tabla brujula */
.tabla-brujula{margin: 20px 0 0 0; padding: 0; font: 11px/13px Georgia, "Times New Roman", Times, serif; color:#464545; border-collapse: collapse; width:100%; border-right:1px solid #dbdbdb;}
.tabla-brujula thead tr.sobrepond th{ font: 11px/13px Georgia, "Times New Roman", Times, serif; text-transform:uppercase; border-bottom: 1px solid #dbdbdb; color:#464545; font-weight:normal;}
.tabla-brujula thead tr.sobrepond th.consenso { border-left:none;}
.tabla-brujula thead th{background: #fff none; border-collapse: separate; border: 1px #d5d5d5 solid; font:12px/14px Arial, Helvetica, sans-serif; color:#666; border-top: none;}
.tabla-brujula thead th.vacia{background-color: #fff; border-left: none;}
.tabla-brujula thead th span{display: block; text-transform: uppercase; color:#017871;}
.tabla-brujula tbody th{text-transform: uppercase; border-top: 1px #fff solid; border-left: 0; border-top: 1px #EAEBE9 solid; font-weight:normal; color:#017871;}
.tabla-brujula tbody td{ border: none; border-bottom:1px #DADACD solid; border-top: 1px #fff solid; border-left:1px #DADACD solid; text-align: center; font: 11px/13px Georgia, "Times New Roman", Times, serif; color:#464545;}

/* valores */
.mod_termometro .valor {  
    color: #666666;
    font: 14px/16px Georgia,"Times New Roman",Times,serif !Important;
    padding: 0 0 8px;
    text-align: center;
    width: 30px;
    }
.mod_termometro .valor.positivo{/*background: url('/img/noticia/termo-sube.png') no-repeat left top;*/}
.mod_termometro .valor.negativo{/*background: url('/img/noticia/termo-baja.png') no-repeat left top;*/}

/* utilidades graficas */
.brujula {clear:both; font:bold 1.1em Tahoma,Arial,Helvetica,sans-serif; display: block; background:#f3f3f3; padding: 0.6em 0.8em 0.4em 0.5em; width: 30.3em; margin-top:.2em;}
.brujula a {color:#A9050C; padding:0 0 0 1.5em;}
.brujula li.uti-imprimir{float: right; display: inline; background:url('/img/ico_imprimir.gif') no-repeat left 0; padding-left: 10px; height: 18px;}
.brujula li.uti-imprimir a{ font:1em Tahoma, Arial, Helvetica, sans-serif; color:#333; background:none;}
.brujula li.uti-grafico{float: left; display: inline; background:url('/img/ico_flecha_redonda.gif') no-repeat left 0.1em;}
.brujula li.uti-grafico a{font:1em Tahoma, Arial, Helvetica, sans-serif; color:#333; background:none;}

.segmentBar div:first-child {border-left:none;}
.segmentBar .segment0,
.segmentBar .segment1,
.segmentBar .segment2,
.segmentBar .segment3,
.segmentBar .segment4 {
    height:8px; 
    width:19.4%; 
    border-left:1px solid #FFF; 
    float:left;
    }
.segmentBar .segment0 {background-color:#0f601f;}
.segmentBar .segment1 {background-color:#6c8f00;}
.segmentBar .segment2 {background-color:#c39100;}
.segmentBar .segment3 {background-color:#c34f00;}
.segmentBar .segment4 {background-color:#9e0000;}
/*Color pointer*/
.color0 {background: url("/img/brujula/pointer0.gif") no-repeat scroll 11px 19px transparent;}
.color1 {background: url("/img/brujula/pointer1.gif") no-repeat scroll 11px 19px transparent;}
.color2 {background: url("/img/brujula/pointer2.gif") no-repeat scroll 11px 19px transparent;}
.color3 {background: url("/img/brujula/pointer3.gif") no-repeat scroll 11px 19px transparent;}
.color4 {background: url("/img/brujula/pointer4.gif") no-repeat scroll 11px 19px transparent;}

/* brujula vertical */
.term-v { border:none; position:relative; margin-bottom:25px;}
.term-v  .barra { position:relative; padding:0 0 40px 105px; margin: 0 0 10px 0;}
.term-v  .exp { padding: 15px 0; border-bottom: 1px solid #dbdbdb; border-top: 1px solid #dbdbdb;}
.term-v  .exp  p {font: 11px/14px Georgia,"Times New Roman",Times,serif; color:#666; }
.term-v .info { width:140px; position:absolute; left:20px; top:0; text-align:left; padding-top:46px; background: url(/img/rediseno/com-vend-bubble.png) no-repeat 30px 65px;}
.term-v .info  span { font: 11px/11px Georgia,"Times New Roman",Times,serif; color:#666; clear:both; display:block;}
.term-v .info  .comprar { padding-bottom: 165px;}
.term-v .info  .vender { padding-bottom: 42px;}
.term-v .info  .rec{ font-weight:bold;}
#contenido .term-v  h3 { font:bold 14px/16px Georgia,"Times New Roman",Times,serif; color:#008EA5; background: none; margin-bottom:15px; text-transform:uppercase;}
.term-v .segmentBar{ float:left;padding-left: 60px; position:relative; background: url(/img/rediseno/border-bubble.png) repeat-x left 27px;}
.term-v .segmentBar p { font: 11px/11px Georgia,"Times New Roman",Times,serif; color:#666; text-align: center; padding-bottom:15px;}
.term-v .segmentBar div:first-child {border-left:none;}
.term-v .segmentBar .segment0,
.term-v .segmentBar .segment1,
.term-v .segmentBar .segment2,
.term-v .segmentBar .segment3,
.term-v .segmentBar .segment4 {height:44px; width:78px; float:none;border:none; border-bottom: 1px solid #dbdbdb; position: relative;}
.term-v .segmentBar .segment4 { border-bottom:none;}
.term-v .segmentBar .segment0 span,
.term-v .segmentBar .segment1 span,
.term-v .segmentBar .segment2 span,
.term-v .segmentBar .segment3 span,
.term-v .segmentBar .segment4 span {position: absolute; top:40%; left:40%; font: 11px/11px Georgia,"Times New Roman",Times,serif; color:#fff;	}
.term-v .porcentaje { top:50%; left:20px; position:absolute; font: 14px/14px Georgia,"Times New Roman",Times,serif; color:#666;}
.term-v .recom { background: url(/img/rediseno/recom-mas.png) no-repeat left top; font:bold 11px/11px Georgia,"Times New Roman",Times,serif; color:#666;width:78px; padding-top: 22px; text-align:center;
position:absolute; bottom:-36px; left:60px;}

/* grafico precio objetivo */
.p-objetivo { width: 100%; margin-bottom:15px; clear:both;} 
#contenido .p-objetivo h3 {font:bold 14px/16px Georgia,"Times New Roman",Times,serif; color:#008EA5; background: none; margin-bottom:15px; text-transform:uppercase;}
.p-objetivo .po-graf{ float:left; display:inline; margin-right:25px;}
.p-objetivo .exp { float:right; display:inline; width:110px; padding-top:6px;}
.p-objetivo .exp p, .p-objetivo .exp span {font: 11px/11px Georgia,"Times New Roman",Times,serif; color:#666; padding-bottom:7px; float:left; display:inline; clear:both;}
.p-objetivo .exp .obj { padding:2px 0 7px 20px; background: url(/img/rediseno/c-violeta.gif) no-repeat left top;}
.p-objetivo .exp .cot { padding:2px 0 7px 20px; background: url(/img/rediseno/c-blue.gif) no-repeat left top;}
.p-objetivo .leyend { margin-top: 15px;}

/* noticias relacionadas */
#contenido #noticiasRelacionadasAjax h2 {
     background: none repeat scroll 0px 0px #008EA5;
     color: #FFFFFF;
     font: 18px/20px Georgia,"Times New Roman",Times,serif;
     margin-bottom: 15px;
     padding: 5px 22px;
     text-align: left;
     text-transform: uppercase;
}

#noticiasRelacionadasAjax  li {
     background: url(/img/rediseno/hermanas.png) no-repeat scroll left 4px transparent;
     color: #8B8B8B;
     font: 11px/13px Georgia,"Times New Roman",Times,serif;
     margin-bottom: 0.5em;
     padding: 0px 0px 2px 15px;
}

#contenido #noticiasRelacionadasAjax  p.fecha {
     color: #008EA5;
     font: 12px/17px Arial,Helvetica,sans-serif;
	 float:left; display:inline;
	 margin-right:5px;
}
#contenido #noticiasRelacionadasAjax li a {
     color: #464545;
     font: 14px/16px Georgia,"Times New Roman",Times,serif;
	 text-decoration:none;
}
#contenido #noticiasRelacionadasAjax li a:hover  {  text-decoration:underline;}

#contenido #noticiasRelacionadasAjax li .fecha strong {
     text-transform: uppercase;
}
#contenido #noticiasRelacionadasAjax  li .fecha span {
     color: #008EA5;
     font-weight: bold;
}
#contenido #noticiasRelacionadasAjax li p {
     color: #333333;
     font: 1.2em Arial,Helvetica,sans-serif;
}

#contenido #analisisTecnicoAjax h2 {
     background: none repeat scroll 0px 0px #E44C01;
     color: #FFFFFF;
     font: 18px/20px Georgia,"Times New Roman",Times,serif;
     margin-bottom: 15px;
     padding: 5px 22px;
     text-align: left;
     text-transform: uppercase;
}

#contenido .l_version1 {
     margin-bottom: 20px;
     margin-left: 20px;
     margin-top: 10px;
}

#contenido .l_version1 li {
     background: url("/img/ico-mas.gif") no-repeat scroll left 4px transparent;
     color: #8B8B8B;
     font: 11px/13px Georgia,"Times New Roman",Times,serif;
     margin-bottom: 0.5em;
     padding: 0px 0px 2px 15px;
}

#contenido #z-analisis .fecha {
     color: #666;
     font: 14px/16px Georgia,"Times New Roman",Times,serif;
	 padding:0;
}

#contenido .listado_noticias li .fecha strong {
    text-transform: uppercase;
}

#contenido .l_version1 li a {
     color: #464545;
     font: 14px/16px Georgia,"Times New Roman",Times,serif;
}
#contenido .listado_noticias p.fecha {
     color: #666;
     font: 14px/16px Georgia,"Times New Roman",Times,serif;
	 padding:0;
}

#contenido .listado_noticias .fecha span {
     color: #666; margin-right:4px;
}




/*Atributo a actualizar*/
.mod_termometro .nivel {padding-left:0%;}

/*******************************************************************/
/*                         INIT Slider                             */
/*******************************************************************/
#opslider {
    background-color: #5E5E5E;
    border-top: 4px solid #9E9E9E;
    height: 95px;
    position: fixed;
    *bottom:0px;
    width: 100%;
    z-index: 1000;
    }
#opslider .int {
    height: 113px;
    margin: 0 auto;
    position: relative;
    width: 970px;
    }
#opslider .int img {
    border: 0;
    }
#opslider .int .optab {
    background-color: #E44C01;
    border-color: #9E9E9E;
    border-style: solid;
    border-width: 4px 4px 1px;
    bottom: 113px;
    display: block;
    height: 40px;
    position: absolute;
    width: 250px;
    *left:0;
    }
#opslider .int .optableft {
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    margin: 0;
    padding: 0 0 0 1px;
    width: 20px;
    }
#opslider .int .optableft img {
    float: left;
    margin: 3px 0 0 4px;
    padding: 4px;
    }
#opslider .int .optabmiddle {
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    margin: 0;
    padding: 5px 0 0 3px;
    width: 194px;
    }
#opslider .int .optabmiddle p {
    color: #ffffff;
    font-size: 13px;
    font: 11px/11px Georgia, "Times New Roman", Times, serif;
    margin-top: 3px;
    margin-left: 1px;
    }
#opslider .int .optabright {
    display: block;
    float: left;
    height: 32px;
    margin: 0;
    padding-left: 9px;
    padding-top: 6px;
    width: 20px;
    }
#opslider .int .optabright a {
    padding: 4px;
    }
#opslider .int ul {
    border-right: 1px solid #9E9E9E;
    clear: left;
    display: block;
    float: left;
    list-style-type: none;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    }
#opslider .int ul li {
    color: #000000;
    display: block;
    float: left;
    background: url("/img/slider/bullet.png") no-repeat scroll 14px 8px transparent;
    font-size: 13px;
    line-height: 16px;
    padding: 0px 20px 0;
    width: 160px;
    font:11px/14px Georgia,"Times New Roman",Times,serif;
    color:#111111;
    }
#opslider .int ul li.opfirst {
    padding: 0px 6px 0 28px;
    width: 170px;
    background: url("/img/slider/bullet.png") no-repeat scroll 21px 9px transparent;
    }
#opslider .int .opbutton {
    display: block;
    float: left;
    padding: 0 0 0 32px;
    width: 322px;
    *margin-top:10px !Important;
    }
#opslider .int .opsocial {
    display: block;
    padding: 24px 0 0 189px;
    position: absolute;
    top: 0;
    width: 132px;
    }
#opslider .int .opsocial a {
    display: block;
    float: left;
    height: 22px;
    width: 120px;
    }
#opsliderregbutton {
    background: url("/img/slider/bg-calltoaction.gif") no-repeat scroll 76px 0 transparent;
    display: block;
    height: 73px;
    margin-top: 10px;
    width: 322px;
    }
.calltoaction {
    background: url("/img/slider/call-to-action.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font: 20px/22px Georgia,"Times New Roman",Times,serif;
    height: 35px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
    width: 141px;
    }
.wLink,
.wLink:visited {
    color:#FFF;
    text-decoration:underline;
    }
.wLink:hover,
.wLink:active {
    color:#5E5E5E;
    text-decoration:none;
    background-color:#FFF;
    }
.smFB,
.smMSN,
.smLKN {
    display:block;
    color:#FFF;
    font:11px/16px Georgia,"Times New Roman",Times,serif;
    float: left;
    margin-left: 8px;
    margin-top: 3px;
    }
#opslider .opbutton .opsocial a.redessociales img {
    float:left;
    }
.sliderBanner {
    background-color: #363636;
    float: right;
    margin-right: 51px;
    margin-top: 10px;
    padding-left: 13px;
    width: 137px;
    height:73px;
    }

.adPubli{
    float: left; 
    /* init rotate text */
    -moz-transform: rotate(270deg);  /* FF3.5+ */
    -o-transform: rotate(270deg);   /* Opera 10.5 */
    -webkit-transform: rotate(270deg);  /* Safari3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);   /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";  /* IE8 */
    /* end rotate text */
    color: #6F6F6F;
    float: left;
    font: 9px arial;
    position: absolute;
    margin-top: 31px;
    *margin-top:16px;/*IE7*/ 
    margin-top: 16px\0/;/*IE8*/ 
    right: 174px;
    *right:189px;/*IE7*/
    right: 160px\0/;/*IE8*/
    }
.underline {
    color: #fff;
    text-decoration: underline;
    }
/*******************************************************************/
/*                          END Slider                             */
/*******************************************************************/


/* tags fotogalerias */
/* tags relacionados
#fotografia  .tags_relacionados, #fotogaleria  .tags_relacionados { padding:5px 0;}
#fotografia  .tags_relacionados span, #fotogaleria  .tags_relacionados span { font:bold 11px/13px Georgia,"Times New Roman",Times,serif; color:#8F8E8E;margin-bottom:5px; }
#fotografia  .tags_relacionados li, #fotogaleria  .tags_relacionados li  { float:left; display:inline; font: 12px/14px Georgia,"Times New Roman",Times,serif; color:#8F8E8E;}
#fotografia  .tags_relacionados li  a, #fotogaleria  .tags_relacionados li  a { color:#8F8E8E; }
#fotografia  .tags_relacionados li  a:hover, #fotogaleria  .tags_relacionados li  a:hover  { text-decoration:underline;}
#fotografia .interior { width: 980px; margin: 0 auto; padding: 0 10px;} */

/* te recomendamos */
.AR_1 .ob_org_header{ background:#008EA5!important;}
.AR_1 .rec-link { background:url(/img/rediseno/sprite-general.png) no-repeat -67px -260px !important; }

/* politica de privacidad */
.carcasa_trescol a { color:#008ea5;}
.carcasa_trescol .apartado { padding:20px; background:#f5f5f5; color:#333; font: 14px/16px Arial,Helvetica,sans-serif; margin-bottom:15px;  }
.carcasa_trescol h3 { padding:  0 0 0 10px; font: 18px/20px Georgia,"Times New Roman",Times,serif; color:#3F3F3F; text-transform: none; border: none;}
.carcasa_trescol ol li {font:bold 12px/14px Arial,Helvetica,sans-serif; color:#333; list-style-type: decimal; margin: 0 0 10px 1.8em;}
.carcasa_trescol p,
.carcasa_trescol ol li p { font:14px/22px Arial,Helvetica,sans-serif; color:#333; padding-bottom:15px; }
.carcasa_trescol .apartado p {font:bold 16px/18px Arial,Helvetica,sans-serif; color:#333; padding-bottom: 0;}
.carcasa_trescol .c-cont { padding: 22px 19px 10px; }
.carcasa_trescol .margenes > p { margin-left: 15px;}
.carcasa_trescol .margenes > ul { margin-left: 45px;}
.carcasa_trescol .margenes > ul li { list-style: square; position: relative;}

/* formualrio pagina contacto */
.carcasa_trescol .formulario {
	background: #f5f5f5;
	padding: 20px 20px 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box; 
}

.carcasa_trescol .formulario fieldset {
	margin-bottom: 20px;
	clear: both;
}

.carcasa_trescol .formulario legend {
	font:bold 14px/18px Arial,Helvetica,sans-serif;
	color: #333;
	margin-bottom: 10px;
}

.carcasa_trescol .formulario label {
	font:12px/16px Arial,Helvetica,sans-serif;
	color: #333;
	display: inline-block;
    margin-right: 15px;
}

.carcasa_trescol .formulario input {
	font:12px/16px Arial,Helvetica,sans-serif;
	color: #333;
	width: 155px;
    margin-left: 10px;
}

.carcasa_trescol .formulario textarea {
	font:12px/16px Arial,Helvetica,sans-serif;
	color: #333;
	width: 892px;
    clear: both;
    float: left;
}

.carcasa_trescol .formulario .form_boton {
	text-align: center;
}

.carcasa_trescol .formulario .form_boton input {
	display: inline-block;
	text-align: center;
	background: #008ea5;
	border:none;
	background-image: none;
	font: 14px/16px Arial,Helvetica,sans-serif;
    color: #fff;
    width: auto;
    padding: 7px 20px;
    cursor: pointer;
}

.carcasa_trescol .formulario .form_boton input:hover {
	background: #01b7d4;
}

.carcasa_trescol #mensaje {
	position: absolute;
    top: 150px;
    left: 250px;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    padding: 20px;
}

.carcasa_trescol #mensaje .cerrar {
	padding: 0;
	width: 10px;
}

.carcasa_trescol #mensaje p {
	color: #f0f0f0;
	font: 14px/16px arial, georgia;
	clear: both;
}

/* publicidades cincodias */

.c_publicidad {
	clear:both;
}


/* publicidad roba y roba mini */

.c_roba > div {
	background:#eef0ee url(/img/tit_publi_2.gif) no-repeat center top;
	margin-bottom: 40px;
	text-align:center;	
	padding: 12px 0 5px;
}

/* publicidad horizintal pequeña */

.c-horizontal > div {
	padding: 5px 0 3px 9px;
	margin-bottom: 15px;
	background:#eef0ee url(/img/pub-txt-portadillas.gif) no-repeat -2px 3px;
	text-align: left;
} 

#portada .c-horizontal > div,
#p-mercados .c-horizontal > div {
	padding: 5px 0 3px 19px;
	margin-bottom: 15px;
	background:#eef0ee url(/img/pub-txt-portadillas.gif) no-repeat 2px 3px;
} 

/* ------------------------------------------------------------------------------------------------------------------------------------------------------
	BANNER SUPERIOR DE PUBLICIDAD EN LA CABECERA PRINCIPAL 
--------------------------------------------------------------------------------------------------------------------------------------------------------*/
.banner_inf{ margin:0pt auto 20px; width:995px; background:#eef0ed; /*height:90px; overflow:hidden;*/}
.banner_inf .banner_sup_a > div { display:inline; float:left; margin:0;background:#eef0ed url(/img/txt_publi_vert.gif) no-repeat left center;padding:10px 0 10px 10px;  }
.banner_inf .banner_top_b > div,
.banner_inf .banner_top_c > div {display:inline; float:right; margin:0; padding:0 0 0 10px; background:#eef0ed url(/img/txt_publi_vert.gif) no-repeat left center;}
.banner_inf .banner_top_b > div {padding:10px 10px 10px 0;}


/* mantenimiento registro */

#mantenimiento #contenedor {
	background: url(/img/rediseno/error_fnd.jpg) no-repeat left top;
	padding: 100px 10px 75px 485px;
	width: 100%;
	max-width: 496px;
}

#mantenimiento h1#titulo_noticia {
	 color: #008ea6;
	 font: 24px/30px arial, georgia;
	 text-align: center;
	 text-transform: uppercase;
	 margin-bottom: 20px;
}

#mantenimiento .p_mantenimiento {
	 color: #333;
	 font: 24px/30px arial, georgia;
	 text-align: center;
	 text-transform: uppercase;
	 margin-bottom: 20px;	
}

#mantenimiento #contenedor .a_mantenimiento {
	background: #008ea6;
	display: block;
	padding: 10px 10px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	max-width: 150px;
	margin: 0 auto;
	font-size: 14px;
}

#mantenimiento #contenedor .a_mantenimiento:hover {
	background: #05b2ce;
	text-decoration: none;
}

/* modulo buscador de emrpesas y directivos para el site */


/* buscador empresas (dos columnas)*/
.aperturas_buscador{background:#737373;margin:0px 0px 20px 0px;}
.aperturas_buscador .buscador{padding:10px 10px;}
.buscador .c-principal{margin-top: 4px;}
.buscador .c-principal .d-head{float:left;padding: 0 20px 0 6px;}
.buscador .c-principal .d-head h1{font:18px/22px "raleway", Georgia, Arial, Helvetica; font-weight: 700; color: #fff;text-transform: uppercase;}


.eleccion_temas .temas{
	background: url("/img/rediseno/lupa_buscador.png") no-repeat scroll 97% center #fff;
	border: medium none;
    border-radius: 4px;
    padding: 5px;
	margin-bottom: 5px;
	width: 52%;
	font:12px/12px "raleway", Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.aperturas_buscador .buscador .c-principal .desplegable_temas {margin-left: 300px; } 
/* buscador directivos y empresas (columna derecha) */
.mod_buscador{ background:#737373;margin:0 0px 40px; padding-top: 10px; }
.mod_buscador h3{
	font:16px/18px "raleway", Georgia, Arial, Helvetica, sans-serif; 
	font-weight: 900;
	color: #fff; 
	padding: 0 10px 4px;
	text-transform: uppercase;    
	text-align: center;
    border-bottom: 1px solid #fff;
    margin-bottom: 22px;
}

.mod_buscador h3 a {color:#fff;}
.mod_buscador h3 a:hover { text-decoration: none; color:#6acbda;}
.mod_buscador .capa_buscar_temas { 
	padding: 0 20px 20px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.mod_buscador .eleccion_temas .temas{
	width: 100%; 
	border-radius: 0;
	font: 14px/16px "raleway", arial;
	color:#000;
	font-weight: normal;
}

.mod_buscador .b-elec {margin-bottom:22px; padding: 0 20px;}
.mod_buscador .b-radio {
	font: 16px/18px "raleway", arial, georgia ;
	font-weight: normal;
	color: #fff;
	text-align: left;
	display: inline-block;
}
.mod_buscador .b-radio:first-child { margin-right: 40px;}
.mod_buscador .b-elec input { margin:0 5px 0 0; vertical-align: top;}

/* buscador apertura empresas a dos columnas */
.aperturas_buscador h1 a { color:#fff;}
.aperturas_buscador .b-elec { display: none;}
.aperturas_buscador h1 a:hover { text-decoration: none; color:#6acbda;}



/* cintillo info empresa */
.i-colabor {
	 
	width: 100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing:border-box;
	background: #f3f3f3;
	padding: 4px 10px 2px; 
	}
	 
	.i-colabor p {
	float:left;
	font: 10px/10px arial, georgia;
	color:#000;
	padding: 8px 0 7px;
	}
	 
	.i-colabor a {
	float:right;
	font: 10px/10px arial, georgia;
	color:#000;
	position:relative;
	display:block;
	width: 91px;
	height: 23px;
	background: url(/img/tpymes/log-infoempresa.png) no-repeat left top;
	text-indent: -9999px;
	}


/* modulo seguir */

.mod-redes-lateral {
	width: 100%;
	clear: both;
	margin-bottom: 40px;
	border-bottom: 1px solid #a6a6a6;
	border-top: 1px solid #a6a6a6;
	padding-top: 15px;
}

.mod-redes-lateral p {
	font: 18px/20px "raleway", arial, georgia;
	font-weight:500;
	color:#000;
	padding-bottom: 12px;
	padding-left: 15px;
	text-transform: uppercase;
}

.mod-redes-lateral ul {
	border-top: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	background: #f9f9f9;
	padding: 19px 0 16px 0;
}

.mod-redes-lateral li {
	float: left;
	margin-left: 18px;
}

.mod-redes-lateral button {
	-webkit-appearance: none;
    background: none;
    border: none;
    width: 38px;
    height:38px;
    cursor: pointer;
    background-size: contain;
    position: relative;
}

.mod-redes-lateral button:hover:before,
.mod-redes-lateral li.selected button:before {
	position: absolute;
    bottom: -17px;
    left: 9px;
	z-index: 10;
	content: " ";
	width:0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #cacaca;
	border-top: 0 solid transparent;
} 

.mod-redes-lateral .load-redes {
	height: 65px;
	overflow:hidden;
} 

.mod-redes-lateral .load-fb,
.mod-redes-lateral .load-tw,
.mod-redes-lateral .load-ln, 
.mod-redes-lateral .load-nw,
.mod-redes-lateral .load-app {
	opacity: 0;
	height:0;
	padding: 0;
}
.mod-redes-lateral .load-fb.visible,
.mod-redes-lateral .load-tw.visible,
.mod-redes-lateral .load-ln.visible {
	padding: 18px 0 14px 0;
	height: auto;
	opacity: 1;
}

.mod-redes-lateral .load-nw.visible {
	padding: 13px 0 12px 0;
	height: auto;
	opacity: 1;
}

.mod-redes-lateral .load-app.visible {
	padding: 13px 10px 0 19px;
	height: auto;
	opacity: 1;
}

.mod-redes-lateral .load-redes p {
	margin-right: 10px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 2px;
    font: 14px/16px arial, georgia;
    font-weight: bold;
    text-transform: none;
    position: relative;
    bottom: 2px;
}

.mod-redes-lateral .load-redes .load-fb p {
	bottom: 0;
}

.mod-redes-lateral .load-redes .load-nw p {
	font-weight: normal;
}

.mod-redes-lateral .load-redes .load-nw a {
	font-weight: bold;
	color: #000;
	text-decoration:underline;
}

.mod-redes-lateral #fb-root { float: left;}

.mod-redes-lateral .load-news p {
	font-weight: normal;
	font: 16px/18px georgia, arial;
	color:#1d1d1d;
    margin: 0;
    padding-bottom: 0;
}

.mod-redes-lateral .load-news p a {
	border-bottom: 1px solid #1d1d1d;
	font-weight: bold;
}

.mod-redes-lateral .nw button {
	background: url(/img/svg/newsletter.svg) no-repeat left top;
}

.load-app a {
	display: block;
	height: 39px;
	text-indent: -9999px;
	float: left;
	margin-left: 10px;
	transition: all 0.3s ease-in-out 0s;
}

.load-app a:hover {
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    opacity: 0.6;	
}

.load-app .store {
	width:116px;
	background: url(/img/app_store.png) no-repeat 0 0;
}

.load-app .play {
	width: 112px;
	background: url(/img/app-play.png) no-repeat 0 0;
}

.mod-redes-lateral .fb button {
	background: url(/img/svg/facebook.svg) no-repeat left top;
}

.mod-redes-lateral .tw button {
	background: url(/img/svg/twitter.svg) no-repeat left top;
}

.mod-redes-lateral .ln button {
	background: url(/img/svg/linkedin.svg) no-repeat left top;
}

.mod-redes-lateral .app button {
	background: url(/img/svg/apps.svg) no-repeat left top;
}


/* estilos para la capa informativa de newsletter */

.newsletter-wrap  {
	width:100%;
	background:#b74858;
	z-index: 1000;
	position: fixed;
	bottom: 0;

}

.newsletter-wrap.cookies {
	bottom: 90px;
}

.newsletter-wrap_inner {
	margin: 0 auto;
	width: 995px;
	position: relative;
}

.newsletter-wrap p {
	font: 16px/20px "raleway", arial, georgia;
	color:#fff;
	padding: 28px 0 28px 90px;
	position: relative;
} 

.newsletter-wrap p a {
	color:#fff;
	transition: all 0.3s ease-in-out 0s;
	position: relative;
}

.newsletter-wrap p a:hover {
  text-decoration: none;
  transition:all 0.3s ease-in-out 0s; 
  opacity:0.6; f
  ilter:alpha(opacity=60); 
  /* For IE8 and earlier */ 
  text-decoration:none;		
}

.newsletter-wrap p a:before {
	position: absolute;
	bottom: 0;
	right: 0;
	border-bottom: 1px solid #fff;
	z-index: 10;
	content: " ";
	width: 33px;
	height: 1px;
}

.newsletter-wrap p:before {
	position: absolute;
	bottom: 29px;
	left: 20px;
	z-index: 10;
	content: " ";
	width: 42px;
	height: 21px;
	background: url(/img/svg/newsletter_noticia.svg) no-repeat 0 0;
	background-size: contain;	
}

.newsletter-wrap .n-cerrar {
	position: absolute;
	top: 26px;
	right: 0;
	border: 1px solid #fff;
	color:#fff;
	border-radius: 50%;
	padding: 2px 5px 2px 5px;
	font-size: 14px;
	font-weight: 500;
}


/* para los skys 

.wrap-skys {     
	width: 100%;
    max-width: 1042px;
    margin: 0 auto;
 }*/
