/* ------------------------------------------------------------------------------------------------------------------------------------------------------
	BANNER SUPERIOR DE PUBLICIDAD EN LA CABECERA PRINCIPAL 
--------------------------------------------------------------------------------------------------------------------------------------------------------*/
.banner_sup{ margin:0pt auto; width:995px; /*height:90px; overflow:hidden;*/}
.banner_sup .banner_sup_a > div { display:inline; float:left; margin:0;background: url('/img/txt_publi_vert.gif') no-repeat left center;padding:0 0 0 10px;  }
.banner_sup .banner_top_b > div,
.banner_sup .banner_top_c > div {display:inline; float:right; margin:0; padding:0 0 0 10px; background: url('/img/txt_publi_vert.gif') no-repeat left center;}
.banner_sup.sintxt .banner_sup_a > div { background:none; padding: 0 ; margin: 15px 0 7px;}

/*------------------------------------------------------------------------------------------------------------------------------------------------------
	PUBLICIDAD EN LAS PORTADILLAS 
-------------------------------------------------------------------------------------------------------------------------------------------------------*/
#contenido .publi_h #AdsFramePosTop1{ margin:0;}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------
    PATROCINIO EN LA CABECERA
---------------------------------------------------------------------------------------------------------------------------------------------------------*/
#main-head .patrocinador { position:absolute; top:42px; left:638px;}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------- 
   CABECERA
---------------------------------------------------------------------------------------------------------------------------------------------------------*/
#cd-head {  
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  position:relative;
  /*height: 232px;*/ 
  *z-index:100;}

#cd-head {  
  position:relative;
  /*height: 232px\9;*/
}

#cd-head .h-inner{ 
  padding:2px 0 0; 
  width:995px; 
  margin:0 auto;
}


/* capa head social incluye newsletter registro y redes sociales */
.cd-head .head-social {
  clear: both;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.cd-head .head-social-inner {
  max-width: 986px;
  margin: 0 auto;
  position: relative;
}

.cd-head .head-principal {
  max-width: 986px;
  margin: 0 auto;
  padding-bottom: 14px;
}

.cd-head .head-social p {
  font: 11px/14px "raleway", arial;
  color: #787878;
  text-transform: uppercase;
  font-weight: 700;

}

.cd-head .head-social a {
  color: #787878;
}

.cd-head .h-newsletter {
    padding: 4px 35px 0 0;
    position: relative;
    margin-right: 25px;
}

.cd-head .h-newsletter:before {
  position: absolute;
  top:1px;
  right: 0;
  z-index: 10;
  content: " ";
  width: 31px;
  height: 14px;
  background: url(/img/svg/newsletter_cab.svg) no-repeat 0 0;
  background-size: contain;
}

.cd-head .boton_desconectar,
.cd-head .boton_suscribir {
  width: 100%;
  margin: 0 auto;
  padding: 7px 0 6px;
  font: 14px/16px "raleway", Georgia, Times, serif; 
  text-transform: uppercase;
  color: #000;
  text-align: center;
  background:#c7c7c7;
  display: block;
  font-weight: 500;
}


/*------------------------------------------
   BOTONES LOGIN Y REGISTRO DE LA CABECERA */

.cd-head .h-log{ width:auto; float: none; }

.cd-head .H-login { float:left; }

.cd-head .H-login p { float:left;}

.cd-head .H-login p.registro { padding-top:4px; }

.cd-head .H-login p.registro a { 
  text-decoration:none; 
  padding: 0 24px 2px 0; 
  color:#787878; 
  position: relative;
  display:block;
  border:none;
}

.cd-head .H-login p.registro a:before {   
  position: absolute;
  top:-5px;
  right: 0;
  z-index: 10;
  content: " ";
  width: 15px;
  height: 17px;
  background: url(/img/svg/avatar.svg) no-repeat 0 0;
  background-size: contain;
  cursor: pointer;
}

.cd-head .H-login p.registro a:hover:before,
.cd-head .H-login p.registro.logado a:before { 
   background: url(/img/svg/avatar_o.svg) no-repeat 0 0;
}

.cd-head .H-login p.B-login, 
.cd-head .H-login p.B-desc { 
  padding:3px 9px 2px 9px;
  margin:0 20px 0 10px;
  border: 1px solid #a4a4a4;
  height: auto;
  background: none;
  border-radius: 0;
 }

 .cd-head .H-login p.B-login {margin-right:0;}

.cd-head .H-login p.B-login a, 
.cd-head .H-login p.B-desc a { text-decoration:none;}
.cd-head .H-login p.B-login a:hover { text-decoration: underline;}

.cd-head.head-mercados .H-login a{ 
  display:block; 
  text-indent:0; 
}

.cd-head.head-mercados .registro a { 
  display:inline; 
  color:#fff; 
  border-bottom-color: #fff; 
}

.cd-head.head-mercados .registro a:hover { text-decoration: none; }

/* capa inicio login */

/* capa ver perfil */
.usuario {
    position: relative;
    float: left;
    text-transform: none;
    text-align: center;
}

.usuario__interior {
    position: absolute;
    top: -0.42rem;
    right: -14.063rem;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    min-width: 260px;
    z-index: 500;
    padding: 16px;

}

.visible .usuario__interior {
    display: block;
}

.usuario__interior .boton_cerrar {
    position: absolute;
    top: 0.825rem;
    right: 0.225rem;
    z-index: 150;
    height: 2.250rem;
    width: 2.250rem;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
    overflow: visible;
}

.usuario__interior .line2 {
    transform: rotate(-45deg) scale(0.8);
    transform-origin: 16px 10px;  
}

.usuario__interior .line3 {
    transform: rotate(45deg) scale(0.8);
    transform-origin: 12px 11px; 
}

.usuario-nombre {
   font: 14px/16px "raleway", Georgia, Times, serif; 
   font-weight: 700;
   color:#000;
   position: relative;
   padding-left: 22px;
   float: left;
}

.usuario-nombre:before {
  position: absolute;
  top:-3px;
  left: 0;
  z-index: 10;
  content: " ";
  width: 15px;
  height: 17px;
  background: url(/img/svg/avatar.svg) no-repeat 0 0;
  background-size: contain;
}

.usuario-menu {
  clear: both; 
  padding: 20px 0 0;
}

.usuario-acciones {
  margin-bottom: 10px;
}

.usuario-acciones li {
  font: 14px/16px "raleway", Georgia, Times, serif; 
  font-weight: 700;
  color:#008ea5;
  padding-bottom: 10px;
} 

.cd-head .usuario-acciones li a {
  color:#008ea5;
}

.usuario-menu p {
  font: 12px/14px "raleway", Georgia, Times, serif; 
  font-weight: 500;
  padding-top: 20px;
  color: #000;
  padding-bottom: 20px;
  text-transform: none;
}

.usuario-menu p a {
  color:#008ea5;
  text-transform: none;
}

/* REDES SOCIALES EN CABECERA */
.cd-head .h-redes { 
  float: right; 
  border:none;
  position: absolute;
  right: 0;
  top: -5px; 
}
.h-redes .fb-like { 
    display: block;
    position: relative;
    float: left;
    margin-right: 10px;
}

.cd-head .h-redes li {
  float: left;
  margin-left: 10px;
}

.h-redes ul li a {
  display: block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out 0s;
}

.h-redes li a:hover {
  text-decoration: none;
  transition:all 0.3s ease-in-out 0s; 
  opacity:0.6; f
  ilter:alpha(opacity=60); 
  /* For IE8 and earlier */ 
  text-decoration:none;
} 

.h-redes li.fb a {
    background: url(/img/svg/facebook.svg) no-repeat;
    background-size: contain;
}

.h-redes li.tw a {
    background: url(/img/svg/twitter.svg) no-repeat;
    background-size: contain;
}

.h-redes li.ln a {
    background: url(/img/svg/linkedin.svg) no-repeat;
    background-size: contain;
}

.cd-head .IN-widget { margin-left: 10px;}

/*-----------------------------------------------------------------------------------------------------------------------------------
   BUSCADOR DE LA CABECERA
   ----------------------------------------------------------------------------------------------------------------------------------*/
.cd-head .H-buscador { float:right; display:inline;}
.cd-head #formulario_buscador_cabecera legend, 
.cd-head #formulario_buscador_cabecera label { display:none;}
.cd-head .b-input { 
  float: right; 
  padding: 4px 9px 5px 9px; 
  height:12px; 
  width:130px; 
  border: 1px solid #a4a4a4;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
}

.cd-head #formulario_buscador_cabecera #busqueda_cabecera { 
   padding:0; 
   margin:0; 
   border:none; 
   float:left; 
   display:inline; 
   font: 12px/14px "raleway", Georgia, Times, serif; 
   font-weight: 500;
   color:#464545;
   width: 100%; 
   text-align: center;
 }
.cd-head #formulario_buscador_cabecera .buscar { vertical-align:bottom; margin: 2px 12px 0 3px;
background: url(/img/svg/buscar.svg) no-repeat 0 0; float: right; text-indent: -99999px; display: block; width:18px; height:19px;}

/*------------------------------------------------------------------------------------------------------------------------------- 
   CAPA INTERIOR CABECERA PRINCIPAL QUE ENGLOBA LOGO ULTIMAS NOTICIAS SEMAFORO
--------------------------------------------------------------------------------------------------------------------------------*/
.cd-head .header-int {   
    padding-top: 14px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 0;

  }
.cd-head .H-logo { 
  padding: 0 5px 0 0;
  width:460px; 
  float:left; 
  display:inline; 
  margin-left:2px;
}
.cd-head .loc { 
  float:left; 
  display:inline; 
  margin-top:11px;
}
.cd-head .c-fecha {  
  float:left; 
  display:inline; 
  margin-left:4px;
}
.cd-head .actualizado { 
  font: 11px/13px "raleway", Georgia, Times, serif; 
  font-weight: 700; 
  text-transform: uppercase; 
  color:#464545;
  margin:0 10px 0 0; 
  padding: 0; 
  float:left; 
  display:inline; 
}
.cd-head .degrada { 
  font: 11px/15px Arial, Helvetica, sans-serif; 
  color:#7f7d7d; 
  float:left; 
  display:inline; 
  border-left: 1px solid #464545; 
  padding: 0 0 0 10px; 
}

.cd-head .marca { 
  clear:both; 
  margin:0 0 17px 20px;
}

.cd-head p.cabecera-logo a,
.cd-head .H-logo h1.cabecera-logo a{
  float:left; 
  width: 450px; 
  height: 68px; 
  background: url(/img/svg/logo_cincodias.svg) no-repeat; 
  color: #fff; 
  font:bold 16px Arial, Helvetica, sans-serif; 
  text-indent:-9999px; 
  overflow:hidden;
  background-size: contain;
}

.cd-head p.cabecera-logo a.seccion,
.cd-head h1.cabecera-logo a.seccion{ 
  width:auto; 
  font:2.1em Tahoma,Arial, Helvetica, sans-serif; 
  color:#8ABDBD; 
  margin:0.1em 0 0 0; 
  background:none; 
  height:auto; 
  display:inline; 
  white-space:nowrap; 
  background:none;	
}
.cd-head p.cabecera-logo a.seccion:hover,
.cd-head h1.cabecera-logo a.seccion:hover{text-decoration:none}

.cd-head .head-info { 
  float:right; 
  width: 510px; 
}
.cd-head .h-dt-fd { 
  clear:both; 
  float:right; 
  margin-top:40px; 
  width:100%; 
}

/* servicios */
.cd-head .h-serv { 
  float:left; 
  margin-top:5px; 
}
.cd-head .h-serv li { 
  float:left; 
  display:inline; 
  padding: 0 10px 1px 0; 
  margin-right:10px; 
  border-right: 1px solid #000; 
  font: 12px/12px Georgia, "Times New Roman", Times, serif;
}
.cd-head  .h-serv li a { color:#000; }
.cd-head  .h-serv li:last-child { border:none; }

/*----------------------------------------------------------------------------------------------------------------------
   MENU PRINCIPAL DE LA HOME
-----------------------------------------------------------------------------------------------------------------------*/
.cd-head .main-menu { 
  clear:both;
  border-bottom: none;
  background:#008ea5; 
  margin-bottom:0; 
  *position:relative; 
  *z-index:100;
  position:relative;  
  padding-top:2px 0 0; 
}
.cd-head .inner-menu { 
  max-width: 995px; 
  width:100%; 
  margin:0 auto; 
  position:relative; 
  *z-index:100;
}
.cd-head #menu{ 
  margin: 0 0 0 5px;  
  *position:relative; 
  *z-index:100; 
}
.cd-head .main-menu ul li { 
  float:left; 
  display:inline; 
  font: 19px/20px "raleway", Georgia, "Times New Roman", Times, serif; 
  font-weight: 500; 
  color:#fff; 
  height:31px; 
  *position:relative; 
  *z-index:100; 
  text-align:left; 
  width:14.2%;
  margin: 0;
}
.cd-head .main-menu  li.marcado {}
.cd-head .main-menu  li.marcado a {  
  text-decoration:none; 
  color:#fff;
}
.cd-head #menu li:first-child a:not(.des) { 
  padding-left: 40px;
}
.cd-head .main-menu  li.last { 
  background:none; 
  margin-right:0; 
  float:left;
}
.cd-head .inner-menu li a { 
  color:#fff;  
  display:block; 
  display:block; 
  padding:5px 0 3px 0;
}
.cd-head .main-menu  li a.des{
  padding: 12px 7px 7px 0; 
  display: none; 
}
.cd-head .main-menu  li a.des img { float:left;}

.cd-head .main-menu  li.last a{ 
  margin-right:0; 
  background:none;}
.cd-head .main-menu li.last .des { padding-right:0;}

.cd-head .main-menu  li.marcado a:hover { margin:0;}

#menu_cdsact { margin-right:0; }

/*----------------------------------------------------------------------------------------------------------------------
	PUBLICIDAD EN LA CABECERA PARTE SUPERIOR MIN HEAD
------------------------------------------------------------------------------------------------------------------------*/
.head-publi { float: right; margin-right: 100px;}

/* borrar cuando salga todo */
#menu_cdseco a, #menu_cdsact a { padding-right:7px;}

/*---------------------------------------------------------------------------------------------------------------------
	BARRA DE ETIQUETAS
-----------------------------------------------------------------------------------------------------------------------*/
.contenedor_barra_etiquetas { width:100%; background:#fff; padding: 8px 0 8px; border-bottom: 1px solid #d3d3d3;}
.contenedor_barra_etiquetas .inner { width:995px; margin: 0 auto;}
.contenedor_barra_etiquetas .encabezado { float:left; display:block; padding:0 10px 0 10px;}
.contenedor_barra_etiquetas .contenido { float:left; display:inline; width:765px; overflow:hidden;}
.contenedor_barra_etiquetas .contenido li { float:left; display:inline;  font: 14px/16px "raleway", Georgia, Times, serif; font-weight: 500; border:none; }
.contenedor_barra_etiquetas .contenido li a {color:#444; padding: 0 1.2em;}
.contenedor_barra_etiquetas .contenido .nav { background:#fff; }

.contenedor_barra_etiquetas .mastemas { float:right; display:inline; padding:0 0 0 6px; margin: 0 5px 0 0;}
.contenedor_barra_etiquetas .mastemas a { color:#464545;}
.contenedor_barra_etiquetas .mastemas, 
.contenedor_barra_etiquetas .encabezado { font: 14px/16px "raleway", Georgia, Times, serif; font-weight: 900; text-transform:uppercase; color:#444; background:none; }

/* -----------------------------------------------------------------------------------------------------------------------
  SUBMENU DEL MENU PRINCIPAL
------------------------------------------------------------------------------------------------------------------------*/
.cd-head .main-menu .submenu { position:absolute; left:14px; top:42px;}
.cd-head .main-menu .submenu li {font: 13px/15px Georgia, "Times New Roman", Times, serif; color:#464545; background:none; margin-top:2px;}
.cd-head .main-menu #menu .submenu li a { color:#464545; background:none; padding: 4px 15px;}
.cd-head .main-menu #menu .submenu li a:hover { text-decoration:underline; background:none;}
.cd-head .main-menu #menu .submenu li:hover { background:none;}
.cd-head .main-menu #menu .submenu li.marcado { background:none; text-decoration:underline;}

/*-----------------------------------------------------------------------------------------------------------------------
     ESTILOS PARA LAS SABANAS DEL MENU
----------------------------------------------------------------------------------------------------------------------*/
.cd-head #submenus { width:995px; margin:0 auto; position:relative; z-index: 200; }

.cd-head .m-tooltip { width:100%; position:absolute; top:0; left:0; z-index:2;}
.cd-head .t-inner {  border: 5px solid #dbdbdb; border-top:none; padding:15px 0; background:#fff url(/img/rediseno/cabecera/tooltip-sep.png) repeat-y left top; z-index:2;*zoom:1;}
.cd-head .t-cont { float:left; display:inline;z-index:2; *position:relative;}
.cd-head .t-inner .noticia, 
.cd-head .t-inner .pierdas { width:280px; padding: 0 15px; }
.cd-head .t-inner .otros {padding: 0 10px 0 15px;}
.cd-head .otros .t-blog  { margin-top: 8px;}
.cd-head .t-tit { font:bold 19px/22px "raleway", Georgia, Times, serif; font-weight: 500; color:#464545; border-bottom: 1px dotted #cfcfcf; width:100%; padding-bottom:10px;}
.cd-head .t-news { margin-top:14px;}
.cd-head .t-news .mod_img { float:left; display:inline; margin-right:10px;}
.cd-head .t-news .mod_txt h2 {font: 17px/19px Georgia, "Times New Roman", Times, serif; color:#008ea5; margin-bottom:4px;}
.cd-head .t-news .mod_txt h2 a {color:#008ea5; padding:0;}
.cd-head .t-news .mod_txt p { font: 12px/14px Arial,Helvetica,sans-serif; color:#666;}
.cd-head .m-tooltip ul li {font: 12px/14px Arial,Helvetica,sans-serif; color:#666; padding: 3px 0; border-bottom: 1px solid #ededed; width:100%;z-index:1; height:auto; margin:0; text-align: left;}
.cd-head .pierdas ul li  { padding:6px 0;}
.cd-head .m-tooltip ul li a {color:#666; padding:0;}
.cd-head .otros .enlaces { width:120px; padding:0 22px 0 0; float:left; display:inline;}
.cd-head .otros .blogs { width:185px; padding:0 0 0 10px; float:left; display:inline; margin-bottom:0;}
.cd-head .otros .blogs .t-blog { clear:both; position:relative; border-bottom: 1px solid #ededed; padding-bottom:5px; margin-bottom: 10px;}
.cd-head .otros .blogs .t-blog .mod_txt { /*position: absolute; bottom:7px; right:0;*/ width:100px; float:right; display:block; margin-top:0px;}
.cd-head .otros .blogs .t-blog .mod_img { margin: 0 8px 0 0;} 
.cd-head .otros .blogs .t-blog .mod_img img { width:60px; }
.cd-head .otros .t-blog p { font: 12px/14px Georgia, "Times New Roman", Times, serif;}
.cd-head .otros .t-blog p.titulo {color:#000; display:block; overflow: hidden; text-overflow: ellipsis; white-space: pre-wrap; word-wrap: break-word;}
.cd-head .otros .t-blog p.titulo a {color:#000;}
.cd-head .otros .t-blog p.autor { color:#848989;}
.cd-head .m-tooltip .mod_masinfo{  display: inline;float: right;font: 11px/11px Arial,Helvetica,sans-serif;padding-top: 8px; text-align: left;}
.cd-head .main-menu #submenus .m-tooltip .mod_masinfo a { color:#464545;font: 11px/11px Georgia, "Times New Roman", Times, serif; background: url(/img/rediseno/hermanas.png) no-repeat right 4px; padding: 2px 12px 2px 2px;}
.cd-head #menu_cdsfin .otros .enlaces { width:275px;}
.cd-head #menu_cdsfin .otros .enlaces ul { float:left; display:inline; width:120px;}
.cd-head #menu_cdsfin .otros .enlaces ul.first { margin-right:12px;}
.cd-head .m-tooltip.tendencias { width: 200px; position:absolute; left:auto; top:0; right:0; }
.cd-head .m-tooltip.tendencias .otros { border:none; width:160px; padding-right:0;}
.cd-head .m-tooltip.tendencias .t.cont { border:none;}

/* CAPA DE URGENTE */

.alerta { 
  border-radius:0; 
  background:#e5e5e5;  
  padding:0; 
  height: 43px; 
  width:995px; 
  margin:10px auto 0;
}

.alerta .tipo { 
  height: 100%; 
  padding: 14px 0 0 10px; 
  position: relative; 
  border-radius:0; 
  background:#df0000; 
  color:#fff; 
  width:192px; 
  text-align:center;
  box-sizing:border-box; 
  -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box; 
   -ms-box-sizing:border-box;
   font: 16px/18px "raleway", arial, georgia;
 }

.alerta .tipo:before { z-index: 10; content: " "; position: absolute; top: 0; right:-10px; width: 10px; border-left: 11px solid #db9a00;border-top: 21px solid transparent; border-bottom: 22px solid transparent;border-right: none;box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; }

.bolsa .alerta .tipo:before,
.bolsa_apertura .alerta .tipo:before,
.bolsa_sesion .alerta .tipo:before,
.bolsa_cierre .alerta .tipo:before { border-left-color: #4c9949;}

.avance .alerta .tipo:before,
.documento .alerta .tipo:before,
.entrevista .alerta .tipo:before { border-left-color: #db9a00;}

.urgente .alerta .tipo:before { border-left-color: #d4483b;}

.alerta .contenido { float: right; width: 784px;}
.alerta .contenido p { padding-top: 14px; color:#000; font: 14px/16px "arial", georgia; color:#000;}
.alerta .contenido p strong { color:#000; font-weight: normal;}

.avance .alerta .tipo,
.documento .alerta .tipo,
.entrevista .alerta .tipo {background:#db9a00;}

.bolsa .alerta .tipo,
.bolsa_apertura .alerta .tipo,
.bolsa_sesion .alerta .tipo,
.bolsa_cierre .alerta .tipo { background:#4c9949;}

.urgente .alerta .tipo {background:#d4483b;}

/*-------------------------------------------------------------------------------------------------------------------------------
 ESTILOS PARA LA PARTE DEL URGENTE EN CABECERA
 --------------------------------------------------------------------------------------------------------------------------------*/
.H-ult-noticias #cont_ticker_info, .H-ult-noticias #cont_ticker { clear:both; font: 11px/13px Arial, Helvetica, sans-serif; color:#ac001d; padding-bottom:4px;}
.H-ult-noticias #cont_ticker_info .normal, .H-ult-noticias #cont_ticker .urgente { float:left; display:inline;}
.H-ult-noticias #cont_ticker_info .normal p, .H-ult-noticias #cont_ticker .urgente p { font-weight:bold;}
.H-ult-noticias #cont_ticker_info a, .H-ult-noticias #cont_ticker a { color:#ac001d;}

/*----------------------------------------------------------------------------------------------------------------------------------
    ESTILOS PARA LA CAPA DE INCIO EN LA CABECERA
	--------------------------------------------------------------------------------------------------------------------------------*/
.capa-inicio{position:absolute; background:#fff; top:34px; right:328px; width:580px; height:254px; border:5px solid #a1a1a1; z-index:9999; border-top:none;}
.capa-inicio .col-social{width:215px; float:left; display:inline; /*background:url(../img/registro/bg-social.jpg) repeat-y left top;*/padding:17px 17px 0 27px; border-right: 1px solid #cfcfcf;}
.redes2{background:url(/img/registro/icos-registro.png) no-repeat 0 -118px; color:#2c416c; font:1.1em Arial, Helvetica, sans-serif; text-decoration:none; width:150px; height:30px; text-align:left; padding:18px 0 0 65px; margin:10px 0 0 25px }
.redes2.msn{background-position:0 -175px; margin-top:10px}
.capa-inicio .col-social .redes2{margin:0; background-position:0 -315px; height:25px}
.capa-inicio .col-social .redes2.msn{margin:0; background-position:0 -369px}
.capa-inicio .col-social .redes2.redessociales_network_linkedin { margin:0; background-position: 0 -432px;}
.capa-inicio h2, #main-head .capa-inicio p.titulo {background:none; font: 20px/22px Georgia, "Times New Roman", Times, serif; margin-left:0; color:#464545; margin:0; padding:0 0 10px 10px; border-bottom: 1px dotted #cfcfcf;}
.capa-inicio p{font:1.2em Arial, Helvetica, sans-serif; color:#666; margin:5px 0 15px 0; display:inherit; padding-left:10px;}
.capa-inicio .fila{margin:5px 0 10px 10px}
.capa-inicio form{position:relative; width:100%; bottom:0}
.capa-inicio form legend { display:none;}
.capa-inicio .formulario{background:none; width:275px; margin-left:17px;float:left; display:inline; padding:17px 0 0 0; position:relative}
.capa-inicio .formulario .close{
    background: url("/img/cerrar.png") no-repeat scroll left 3px transparent;
    color: #464545;
    display: block;
    float: right;
    font: 11px/13px Georgia,"Times New Roman",Times,serif;
    height: 22px;
    padding: 0 18px 0 12px !important;
    width: 22px;
    }
.capa-inicio .formulario .novalida {background: none repeat scroll 0 50% #FBFADB;}
.capa-inicio .formulario label{width:75px;cursor: pointer;color: #666;display: block; float: left; font: 1.2em Arial,Helvetica,sans-serif;margin: 5px 0 0 0}
.capa-inicio .formulario input.ctexto{margin:0;  border: 1px solid #CCCCCC;color: #444444;float: left;font-family: Arial;
font-size: 11px;height: 16px;padding-left: 3px; width:180px; background:#fff}
.capa-inicio .formulario .recordar{font:1.1em Arial, Helvetica, sans-serif; color:#000}
.capa-inicio form fieldset.envia_form{width:auto; position:relative; margin-top:10px; padding-top:10px}
.capa-inicio form fieldset.envia_form input{background: url(/img/pag-siguiente.gif) no-repeat left 7px;color: #464545; cursor: pointer; font: 11px/13px Georgia, "Times New Roman", Times, serif; padding:0 0 0.1em 0; height:22px; position:absolute; right:0; top:0px; padding-left:12px; border:none;}
.capa-inicio p.nota{font-size:1em;padding-top:10px; border-top: 1px solid #ededed; font: 11px/13px Arial, Helvetica, sans-serif; color:#666; margin-top:17px;}
.capa-inicio p.nota a.pulse{color:#666;  border:0}
.capa-inicio p.nota.dos{display:block; margin-top:30px}
.capa-inicio .inn1.off, #main-head .capa-inicio .inn2.off {display:none}

/* ----------------------------------------------------------------------------------------------------------------------------------
   CAPA CARGANDO PARA EL REGISTRO DE USUARIO
   ------------------------------------------------------------------------------------------------------------------------------------*/
.bg-cargando{width:100%; height:2000px; display:block; background:url(../img/registro/bg-cargando.png); position:absolute;z-index:10000; text-align:center }
.bg-cargando.oculto{display:none}
.cargando{width:310px; height:140px; border:7px solid #ADADAD; background:#fff; position:absolute; top:270px; left:50%; text-align:center;z-index:930; margin-left:-155px}
.cargando p{font:bold 12px Arial, Helvetica, sans-serif; color:#9A9A9A; text-transform:uppercase}
#imgEspera.gif1 {background-position: 0 0;}
#imgEspera {background:url(../img/registro/loading.gif) no-repeat 0 0;display: block;height: 42px;
margin:35px auto 10px auto;width: 48px;z-index: 700;}
#imgEspera.gif1 { background-position:0px 0px; }
#imgEspera.gif2 { background-position:0px -42px; }
#imgEspera.gif3 { background-position:0px -84px; }
#imgEspera.gif4 { background-position:0px -126px; }
#imgEspera.gif5 { background-position:0px -168px; }
#imgEspera.gif6 { background-position:0px -210px; }
#imgEspera.gif7 { background-position:0px -252px; }
#imgEspera.gif8 { background-position:0px -294px; }
#imgEspera.gif9 { background-position:0px -336px; }
#imgEspera {height:42px;width:48px;display:block;background: transparent url(/img/registro/loading.gif) no-repeat 0px 0px;margin:35px auto 10px;z-index:700;}

/*------------------------------------------------------------------------------------------------------------------------------------- 
    ESTILOS PARA EL TICKER ROTATORE EN CABECERA
	------------------------------------------------------------------------------------------------------------------------------------*/
#ticker-sup-rotatore { clear:both; padding: 5px 0px; padding-left:5px; background:#c7c7c7; margin-top:0px; *margin-top:4px; margin-bottom:7px; height: auto;}
#ticker-sup-rotatore #TICKER { width: 995px; overflow-x: hidden; overflow-y: hidden;display: block; margin:0 auto;}
#ticker-sup-rotatore #TICKER span.dato { font:bold 14px/16px "raleway", Georgia, Times, serif; color:#FFF; padding-right:12px; margin-left:12px; background: none;}
#ticker-sup-rotatore #TICKER span a { text-decoration:none; color:#fff;}
#ticker-sup-rotatore #TICKER span span { margin-left:17px;}
#ticker-sup-rotatore span.neu { color:#333;}
#ticker-sup-rotatore span.pos { color:#008e21;}
#ticker-sup-rotatore span.neg { color:#bd0000;}

/*----------------------------------------------------------------------------------------------------------------------------------------
	ESTILOS PARA EL CARRUSEL DE REDES SOCIALES QUE HAY EN LA CAPA DE LOGIN
	--------------------------------------------------------------------------------------------------------------------------------------*/
* html .estirar {height: 1%;}
.estirar:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.estirar {display: block;}
.oculto{display:none;}
.limpiar{clear:both;}
.izq{float:left;}
.dere{float:right;}
.multiconnect{height:140px; margin-top:15px; margin-left:10px; overflow:hidden; width:192px;}
.multiconnect_bots{width:192px;height:140px; float:left; margin:0}
.botons a{background: url(/img/cabecera/redes/botons.png) no-repeat 0 0; width:156px; height:41px; display:block; float:left; margin-bottom:6px}
.botons a:hover{background-position:0 -44px}
.botons span{background:url(/img/cabecera/redes/botons.png) no-repeat 0 -90px; width:150px; height:35px; text-indent:-9999px; display:block}
.botons span.msn{background-position:0 -138px}
.botons span.linkd{background-position:0 -187px}
.botons span.twt{background-position:0 -235px}
.botons span.yahoo{background-position:0 -281px}
.botons span.googl{background-position:0 -330px}
.botons span.openId{background-position:0 -385px}
.botons span.tuenti{background-position:0 -435px}
.botons span.sonico{background-position:0 -482px}
.jcarousel-prev{background:url(/img/cabecera/redes/botons.png) no-repeat -166px -190px; left:16px}
.jcarousel-next{background:url(/img/cabecera/redes/botons.png) no-repeat -208px -190px; right:18px}
.lista-carrusel{height:200px}
.mod-carrusel #modulo-carrusel{height:200px; position:absolute; overflow:hidden; z-index:200}
.mod-carrusel .jcarousel-prev, .mod-carrusel .jcarousel-next { cursor: pointer;display: block;height: 18px;position: absolute;top: 140px;width: 34px;z-index: 99999;text-indent:-9999px}
.mod-carrusel .jcarousel-container{position:relative}
.mod-carrusel .jcarousel-clip {height: 140px;overflow: hidden;position: relative;}
.mod-carrusel #modulo-carrusel li{width:156px; float:left; display:block; margin:0 4px;_margin:0 2px 0 0}
.mod-carrusel #modulo-carrusel li.ultimo{width:186px}
.jcarousel-prev.jcarousel-prev-disabled{background-position:-166px -210px; cursor:default}
.jcarousel-next.jcarousel-next-disabled{background-position:-208px -210px; cursor:default}
.capa{width:32px; height:182px;  display:block; z-index:900; top:-13px; left:0; position:absolute; _background:none;}
.capa.dos{left:160px; background-position:-42px 0}
.multiconnect.raya{background:none; border-left:1px solid #e0e0e0; border-right:1px solid #e0e0e0;  }


/* Estilos para el calendario de fechas para los tags 
------------------------------------------------------*/
.cambiar_fecha  { float: left;position: relative;width: 123px;z-index: 10;}
.cambiar_fecha a.boton_cambiar_fecha {   
	background: url(/iconos/v1.x/v1.0/varios/flecha_abajo_999_3.png) no-repeat 10px 10px;
	border:1 px solid #FAFAFA;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #666666;
	display: block;
	font: 11px/13px Tahoma,Arial,Helvetica,Garuda,sans-serif;
	margin: 15px 0 0;
	padding:5px 8px 5px 23px;
	text-shadow: 1px 1px 0 #FFFFFF;
}
.cambiar_fecha .capa_hemeroteca { background:#F1F1F1; border-top: 1px solid #CBCBCB;box-shadow: 0 2px 2px #999999;left: 0;top: 10px;width: 365px;z-index: 5010;
 border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;font: 11px/14px Tahoma,Arial,Helvetica,Garuda,sans-serif; position: absolute;}
.cambiar_fecha .capa_hemeroteca .encabezado {background: #F5F5F5; border-bottom: 1px solid #fff; padding: 4px 11px 3px 10px;}
.cambiar_fecha .capa_hemeroteca a.boton_cambiar_fecha {background: url(/iconos/v1.x/v1.0/varios/flecha_abajo_999_3.png) no-repeat 1px 10px;color: #666666;
float: left; margin: 1px 0 0 0;width: 150px; display: block; padding: 5px 8px 5px 14px; text-shadow: 1px 1px 0 #FFFFFF;
font: 11px/13px Tahoma,Arial,Helvetica,Garuda,sans-serif;}
.cambiar_fecha .capa_hemeroteca .encabezado a.cerrar { background:#008ea5 url(/img/rediseno/cabecera/cerrar_fecha_tags.png) no-repeat 0 0; margin-top: 5px;display: block;
float: right;height: 16px;margin: 7px 0 0 0;width: 16px; padding:0;}
.cambiar_fecha .capa_hemeroteca .contenedor_eleccion {   border-top: 1px solid #CCC; padding:10px;font: 11px/14px Tahoma,Arial,Helvetica,Garuda,sans-serif;}
.cambiar_fecha .capa_hemeroteca .eleccion_dia {float: none;height: auto;padding: 0;width: 100%;}
.capa_hemeroteca .contenedor_desplegables {float: left;margin: 0;width: 147px;font: 11px/14px Tahoma,Arial,Helvetica,Garuda,sans-serif;}
.cambiar_fecha .capa_hemeroteca .contenedor_desplegables p {color: #333;height: 90px; margin: 15px 0 6px;font: 12px/20px Arial,Helvetica,Garuda,sans-serif;}
.cambiar_fecha .capa_hemeroteca .contenedor_desplegables select {  background: #008ea5;color: #FFF; margin: 5px 0 0 0;padding: 5px;width: 144px;
font: 11px/14px Tahoma,Arial,Helvetica,Garuda,sans-serif; border:none; border-top-left-radius: 2px;border-top-right-radius: 2px;    border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;}
.cambiar_fecha .capa_hemeroteca .contenedor_desplegables select.inactivo {background-color: #C0D8E0;color: #95ACB4;text-shadow: 1px 1px 0 #E1F0F5;}
.cambiar_fecha .capa_hemeroteca .contenedor_calendario {border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;float: right;height: 180px; padding:10px;width: 168px;
 border-top-left-radius: 4px;border-top-right-radius: 4px; borer: 1px solid #DDDDDD; borer-bottom-color:#fff;borer-left-color:#fff;}
.capa_hemeroteca .contenedor_calendario .navegacion {border-bottom: 1px solid #28B3E0;padding:0 0 6px 0;}
.capa_hemeroteca .contenedor_calendario .anyoymes { color: #008ea5;float: left;font:bold 12px/28px Tahoma,Arial,Helvetica,Garuda,sans-serif;height: 20px;width: 120px;}
.capa_hemeroteca .contenedor_calendario .boton {border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;border-top-left-radius: 2px;border-top-right-radius: 2px;
 display: block;float: left;font:bold 15px/20px Arial,Helvetica,Garuda,sans-serif;height: 21px;margin: 0 0 0 1px;padding: 2px 2px 0 2px;text-align: center;width: 16px;} 
.capa_hemeroteca .contenedor_calendario .activo {background: #008ea5;color: #FFF;border-color:#008ea5;}
.cambiar_fecha .capa_hemeroteca .contenedor_calendario .inactivo { background: #DDD;color: #BBB;font-weight: normal;text-shadow: 1px 1px 0 #FFF;}
.capa_hemeroteca table {font: 11px/13px Tahoma,Arial,Helvetica,Garuda,sans-serif;border-collapse: collapse; width:100%;}
.cambiar_fecha .capa_hemeroteca table th {color: #999999;font-weight: normal;padding-bottom: 3px;}
.capa_hemeroteca table th, .capa_hemeroteca table td.vacio, .capa_hemeroteca table td a {height: 18px;padding-top: 3px;text-align: center;width: 22px;}
.capa_hemeroteca table td.vacio {padding-top: 4px; color: #CCCCCC;text-shadow: 1px 1px 0 #FFFFFF;}
.cambiar_fecha .capa_hemeroteca table td a {color: #333333; display:block;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;border-top-left-radius: 2px;border-top-right-radius: 2px;}
.cambiar_fecha .capa_hemeroteca table td a:hover {background: #008ea5;color: #FFF;border-color:#008ea5;}

/* Cabecera de mercados */
#main-head.head-mercados .wrap .min-head { border-bottom: 1px solid #000;}
#main-head.head-mercados .c-hearder { background:#3f3f3f;}
#main-head.head-mercados .header-int { position:relative; padding: 10px 0; }
#main-head.head-mercados .header-int .H-login {  margin-top: 0; position:absolute; top:5px; right:0; }
#main-head.head-mercados .header-int .H-login .registro { color:#fff; }
#main-head.head-mercados .header-int .H-logo { width: 985px; margin: 20px 0 0 0;}
#main-head.head-mercados .cabecera-logo { float:left; margin-left: 15px; }
#main-head.head-mercados .H-logo p a {text-indent:-99999px; display:none;}
#main-head.head-mercados .header-int .H-logo p.cabecera-logo a.seccion { background:transparent url(/img/rediseno/cabecera/cab-mercados-little.png) no-repeat left top; width:750px; height:52px; text-indent:-99999px; display:block;}
#main-head.head-mercados .header-int .loc { position:absolute; top:4px; left:15px;}
#main-head.head-mercados .header-int .c-fecha { width:auto; border:none;}
#main-head.head-mercados .header-int .actualizado { color:#fff; float:left; display:inline; padding:0;}
#main-head.head-mercados .header-int .degrada {float:left; display:inline; clear:none; margin-left: 7px; border-color: #fff;}
#p-mercados .envoltorio_publi,
#p-mercados .contenedor_barra_etiquetas { background:#3f3f3f; border-bottom:none; }
#p-mercados .contenedor_barra_etiquetas .encabezado,
#p-mercados .contenedor_barra_etiquetas li a,
 #p-mercados .contenedor_barra_etiquetas .mastemas a{ color:#fff; }

/* cabecera Zona trading */
.head-trading .t-head-sup { width: 100%; border-bottom: 1px solid #000;}
.head-trading .t-head-sup-inner { max-width: 985px; margin:0 auto; padding: 7px 0; } 
.head-trading .t-head-sup .h-log { float: none; }
.head-trading .t-head-sup .H-login { float: left; }
.head-trading .t-head-sup .h-redes { float: right; border:none; }
.head-trading .t-head-middle {width: 100%; border-bottom: 1px solid #000;}
.head-trading .t-head-middle-inner {  max-width: 985px; margin:0 auto; padding: 7px 0;  }
.head-trading .t-head-middle a {   display: block;text-indent: -9999px;width: 167px;height: 25px;position: relative;float: left;background: url(/img/trading/logo_cincodias.svg) no-repeat left -22px;background-size: 167px auto;}
.head-trading .t-head-middle .loc { float: right; margin-top: 7px; }
.head-trading .c-hearder { text-align: center; padding: 20px 0;}
.head-trading .c-hearder p a { display: none; text-indent: -9999px;}
.head-trading .c-hearder p a.seccion {background: url(/img/trading/logo_zonatrading.svg) no-repeat center center; display: inline-block; width: 497px; height:97px; text-indent: -9999px;}
.trading .main-menu { background: #7d8f8f; }


/* listado de valores */
.bolsa-list { width:100%;}
.bolsa-list .bolsa-inner { padding:0 0 9px; border-bottom: 1px solid #dadada; margin-bottom:10px;}
.bolsa-list .bolsa-item { width: 149px; padding: 8px 6px 4px; border: 1px solid #dadada; background:#f7f7f7; float:left; display:inline; margin-left:2px; }
.bolsa-list p  { font:bold 12px/14px Georgia,"Times New Roman",Times,serif; color:#3f3f3f; margin-bottom:5px;} 
.bolsa-list p a { color:#3f3f3f;}
.bolsa-list p.sube { background: url(/img/rediseno/ind-sube.png) no-repeat right top; padding: 1px 18px 0 0; float:left; display:inline;}
.bolsa-list p.baja { background: url(/img/rediseno/ind-baja.png) no-repeat right top; padding: 1px 18px 0 0; float:left; display:inline;}
.bolsa-list .bolsa-info { clear:both;}
.bolsa-list .bolsa-izq { width:82px; float:left; display:inline;}
.bolsa-list .bolsa-izq span { font: 18px/20px Arial,Helvetica,sans-serif; color:#464545;}
.bolsa-list .bolsa-dch span {font:11px/11px Georgia,"Times New Roman",Times,serif; color:#464545; float:right; display:inline; margin-bottom:3px; clear:both;}
.bolsa-list .bolsa-inner .sube { color:#01850a;}
.bolsa-list .bolsa-inner .baja { color:#c50000;}
.bolsa-list .bolsa-dch { width:65px; float:right; display:inline; text-align:right;}

/* para el lateral */
#lateral .bolsa-inner { width:100%; }
#lateral .bolsa-list .bolsa-item { width:95%; margin-left:0; margin-bottom:2px;}

/* cabecera de tendencias en galerias */

.cab_tendencias {
  width: 995px;
  margin:0 auto;
}

.cab_tendencias .log_tendencias{
  display: block;
padding: 19px 25px 17px;
}

.cab_tendencias ul {
  display: block;
  clear: both;
}

.cab_tendencias li{
  float: left;
}

.cab_tendencias li.seccion_tags {
  float: right;
}

.cab_tendencias li a {
  font: 12px/12px Arial, Helvetica, sans-serif;
  color: #797979;
  text-transform: uppercase;
  display: block;
  padding: 12px 18px;
  border-bottom: 2px solid #fff;
}

.cab_tendencias li a:hover {
  border-bottom: 2px solid #ff5205;
}

/*mediaquerys */
@media screen and (min-width: 200px) and (max-width: 650px) {
  .main-menu ul li{ font-size: 1.7em;}
  .inner-menu li a { padding: 3px 7px 4px;}
}