/* pie generales */

#pie { position:relative; font-weight: 500;}
#pie .pie_sup,
#pie .pie_inf {font-family: "Raleway";}
#pie .btn_pie{ float:right; font:1em Tahoma,Arial, Helvetica, sans-serif; margin-left:1em; padding:.3em; border:1px solid #ccc; display:inline; background:url('/img/fnd-boton-pie.jpg') repeat-x 0 0; color:#7D7D7D; text-transform:uppercase; font-weight: bold; width: 9.1em; text-align: center; padding: .3em 0; }
#pie .btn_pie:hover{text-decoration: none;}
.pie_sup{ 
    border-top: 1px solid #CCCCCC;
    padding: 0.2em 0.2em 0.1em 0.8em;
	background:#fff;
    }
.pie_inf{ border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:.7em .5em .7em 1.4em; position: relative;background:#fff;}
.pie_sup a{color: #565251;}
.pie_sup ul{padding-top:5px; padding-bottom:5px;}
.pie_sup li{margin-right:10px; padding-left: 0.6em; border-left: 1px solid #464545;}
.pie_sup li:first-child {border-left:none;}
#pie ul.estirar li{ float:left; font:1.1em "Raleway", Georgia; margin-right:1em; display:inline; }
#pie .estirar .rss{ font-size:11px; background:none;}
#pie .estirar .rss a{ background:transparent url(/img/rediseno/c_sprite.png) no-repeat scroll -28px -7668px; padding:0 0 0 1.7em;}
#pie address{font-size: 1.1em; color: #686465; font-style: normal; line-height:20px;}
#pie address img{ vertical-align: middle;}

/* Desplegables */

.mod_asociados, .mod_secciones, .mod_medios{ position:absolute; border:1px solid #d7d7d7; background:#eee; padding:0.9em 0.8em 0.8em 1.8em; width: auto; background: #fff; border: 3px #eeede9 solid; font-family: Tahoma, "Times New Roman", Times, serif;z-index:300}
.columna{float: left; display: inline; width: 8.9em; margin-right: 1.4em;}
.columna li{background: url('/img/flecha-pie.gif') no-repeat 0 0.5em; padding-left: 0.6em; margin-bottom: 0.6em; margin-top: 0.6em}
.columna li a{font-size: 11px; color: #676662;}

/* SECCIONES */

#pie #mod_secciones.btn_pie{background: #D6D5D3 url('/img/btn-pie-on.jpg') no-repeat 0 0; padding-left: 2em; width: 7.2em; color: #575151;}
.mod_secciones{bottom: 5.8em; right: .4em; }
.mod_secciones h2{margin: 0; padding: 0; background: none; margin-bottom: 0.3em;}
.mod_secciones h2 a{text-transform: uppercase; font-size: 10px; font-weight: bold;}

/* ASOCIADOS */

#pie .mod_asociados{bottom: 2.76em; right: 10.9em; }
#pie .mod_asociados h2{margin: 0; padding: 0; background: none; margin-bottom: 0.3em; font-size: 11px; color: #205E5D;  font-weight: bold;}
#pie .mod_asociados h3{margin: 0; padding: 0; background: none; margin-bottom: 0.3em; font-size: 10px;}
#pie .mod_asociados h3 {text-transform: uppercase; font-size: 1em; font-weight: bold; color: #205E5D;}

/* MEDIOS */ 

#pie .mod_medios{bottom: 2.76em; right: 0.5em; }
#pie .mod_medios h2{margin: 0; padding: 0; background: none; margin-bottom: 0.3em; font-size: 11px; color: #205E5D; font-weight: bold;}
#pie .mod_medios h3{margin: 0; padding: 0; background: none; margin-bottom: 0.3em; color: #205E5D; font-size: 10px;}
#pie .mod_medios h3 a{text-transform: uppercase;  font-weight: bold; color: #205E5D;}
#pie .logo-colaborador a{float:right;margin:12px}



/* MEDIOS COMUNES */

/*PIE COMUN  
**************************************************************************************************** */

#pie-comun .inside { background:url(/iconos/v1.x/v1.0/pie/pie_comun_v17.png) no-repeat 0 0; padding:0; position:relative; width:1000px; height:114px; margin:0 auto; position:relative; text-align:left; border-bottom:1px solid #d2d2d2; }
#pie-comun a { display:block; text-indent:-9999px; overflow:hidden; color:#000; text-decoration:none; text-align:left;}
#pie-comun a:hover { text-decoration:underline; }
#pie-comun .medios-destacados, #pie-comun .muestra-medios { float:left; width:auto; display:inline; }
#pie-comun .medios-destacados ul { margin-left:215px; width:780px; margin-top:5px; margin-bottom:0; overflow:hidden; padding:0; }
#pie-comun .medios-destacados ul.primerafila { padding-top:10px }
#pie-comun .medios-destacados ul li { display:inline; float:left; background:none; margin:0 6px 0 0; padding:0; }
#pie-comun #pc_prisa { height: 57px; left: 18px; position: absolute; top: 15px; width: 144px; }
#pie-comun #pc_elpais { width:110px; height:25px; }
#pie-comun #pc_as { width:55px; height:25px; }
#pie-comun #pc_cincodias { width:92px; height:25px; }
#pie-comun #pc_santillana { width:130px; height:25px; }
#pie-comun #pc_elviajero { width:65px; height:25px; }
#pie-comun #pc_clasificados { width:65px; height:25px; }
#pie-comun #pc_canalplus { width:70px; height:25px; }
#pie-comun #pc_plus { width:70px; height:25px; }
#pie-comun #pc_planeo { width:60px; height:25px; }
#pie-comun #pc_tvi { width:97px; height:25px; }
#pie-comun #pc_tvi24 { width:55px; height:25px; }
#pie-comun #pc_ser { width:60px; height:25px; }
#pie-comun #pc_los40 { width:59px; height:25px; }
#pie-comun #pc_caracol { width:77px; height:25px; }
#pie-comun #pc_adn { width:61px; height:25px; }
#pie-comun #pc_wradio { width:51px; height:25px; }
#pie-comun #pc_continental { width:45px; height:25px; }
#pie-comun #pc_maxima { width:64px; height:25px; }
#pie-comun #pc_m80 { width:62px; height:25px; }
#pie-comun #pc_radiole { width:60px; height:25px; }
#pie-comun #pc_dial { width:58px; height:25px; }
#pie-comun #pc_uno { width:52px; height:25px; }
#pie-comun #pc_cinemania { width:70px; height:25px; }
#pie-comun #pc_rollingstone { width:70px; height:25px; }
#pie-comun #pc_plural { width:71px; height:25px }
#pie-comun #pc_tareasymas { width:77px; height:25px; }
#pie-comun #pc_huffington { width:158px; height:25px; }
#pie-comun #pc_meristation { width:85px; height:25px; }
#pie-comun #pc_parasaber { width:65px; height:25px; }
#pie-comun #pbt-medios { height: 24px; left: 18px; position: absolute; top: 80px; width: 143px; }
#pie-comun #pc_kebuena { width:70px; height:25px; }
#pie-comun #pc_yesfm { width:65px; height:25px; }
#pie-comun #pc_richmond { width:77px; height:25px; }
#pie-comun #pc_moderna { width:82px; height:25px; }
#pie-comun #pc_clasificados { width:57px; height:25px; }
/* pie capa medios */
#pie-comun a#cierrame { background: url(/iconos/v1.x/v1.0/pie/pc-bgs.gif) no-repeat 0 -22px; width:64px; height:21px; line-height:21px; overflow:hidden; display:block; text-indent:-9999px }
#pie-comun #capa-webs-grupo { position:absolute; z-index:999; top:-268px; right:0; }
#pie-comun .muestra-medios { margin-top:40px; margin-left:25px; position:relative; font:400 12px Arial; color:#333; }
#pie-comun .muestra-medios a { text-indent:0; }
#pie-comun .muestra-medios .capa-medios { background:#e9e9e9 url(/iconos/v1.x/v1.0/pie/pc-bgs.gif) repeat-x 0 -44px; height:311px; width:993px; display:none; }
#pie-comun .muestra-medios.activado .capa-medios { display:block; }
#pie-comun .muestra-medios.activado .capa-medios .pc-sombreado { background:#fafafa url(/iconos/v1.x/v1.0/pie/pc-bgs.gif) repeat-x 0 -72px; height:34px; width:100%; margin-top:1px; position:relative; _border-top:1px solid #999 }
#pie-comun .muestra-medios.activado .capa-medios .pc-sombreado #cierrame2 { background:url(/iconos/v1.x/v1.0/pie/pc-bgs.gif) no-repeat scroll 25px 1px transparent; height:22px; overflow:hidden; text-indent:-9999px; }
#pie-comun .muestra-medios .capa-medios h3 { padding:0 0 0 11px; font-weight:400; line-height:29px; margin:0; }
#pie-comun .muestra-medios .capa-medios h3 a { float:right; font-size:12px; margin-right:3px; }
#pie-comun #empresa2 { display:none; }
#pie-comun .cabecera-capa { padding:3px; border:1px solid #999; border-width:1px 1px 0; height:20px; }
#pie-comun .muestra-medios .cabecera-capa h3 { float:left; line-height:20px; color:#000000; }
#pie-comun .cabecera-capa a { float:right; }
/* capa webs del grupo */
#pie-comun .webs-grupo { background:#e9e9e9 url(/iconos/v1.x/v1.0/pie/pc-cols.gif) repeat-y 195px 0; border:1px solid #999; border-bottom:0; border-color:#ccc #999 #ccc; overflow:auto; height:281px; }
#pie-comun .webs-grupo .webs-grupo-col { width:200px; display:inline; float:left; }
#pie-comun .webs-grupo .webs-grupo-col ul { width:185px; margin-bottom:20px; }
#pie-comun .webs-grupo .webs-grupo-col.ultimo { width:170px; }
#pie-comun .webs-grupo .webs-grupo-col.ultimo ul { width:160px; }
#pie-comun .webs-grupo .webs-grupo-col ul li { margin-left:10px; padding:1px 0; list-style:none; background:url(/iconos/v1.x/v1.0/pie/punto.gif) no-repeat 0 10px; }
#pie-comun .webs-grupo .webs-grupo-col ul li.sub { padding-left:10px; background-position:10px 10px; }
#pie-comun .webs-grupo .webs-grupo-col ul li.nolink { padding:4px 0 4px 8px; color:#000; font:normal 12px Arial, Helvetica, sans-serif; font-weight:bold; }
#pie-comun .webs-grupo .webs-grupo-col ul li a { margin-left:8px; color:#000; text-decoration:none; font:normal 12px Arial, Helvetica, sans-serif; border-bottom:1px dashed #cdcdcd; }
#pie-comun .webs-grupo .webs-grupo-col ul li a:hover { text-decoration: none; color: #686868; }
#pie-comun .webs-grupo .webs-grupo-col ul li.nolink a { padding:0; font-weight:bold; margin:0; }
#pie-comun .webs-grupo .webs-grupo-col ul li a:hover { text-decoration:none; }
#pie-comun .webs-grupo .webs-grupo-col ul li.encabezado { background:none; }
#pie-comun .webs-grupo .webs-grupo-col ul li.encabezado a { padding:0 0 1px 0; font-weight:bold; margin:0; }
#pie-comun .webs-grupo .webs-grupo-col ul li a.pais { margin-left:8px; }
#pie-comun .webs-grupo .webs-grupo-col ul li.tit-seccion { font-weight:700; margin:3px 0 5px 10px; font:bold 12px Arial, Helvetica, sans-serif; border-top:1px solid #cdcdcd; padding-top:5px; background:none; }
#pie-comun .webs-grupo .webs-grupo-col ul li.tit-seccion a { padding:0; font-weight:bold; margin:0; }
#pie-comun .webs-grupo .webs-grupo-col ul li.tit-seccion.dos { border:0; }
#pie-comun .webs-grupo .webs-grupo-col ul li.tit-principal { font-weight:700; margin:10px 0 10px 10px; font:bold 12px Arial, Helvetica, sans-serif; color:#fff; padding:4px 0 4px 6px; background:#888; }
#pie-comun .webs-grupo .webs-grupo-col ul li.encabezado.subrayado { border-top:1px solid #cdcdcd; padding-top:3px; margin-top:5px; }
#capa-webs-grupo iframe { border:0; margin:0; }
