/* modulo noticias analisis */

.caja-mod.analisis .c-tit:after {
	position: absolute;
    content: " ";
    z-index: 10;
    top: 0;
    right: 42%;
    width: 1px;
    height: 100%;
    border-left: 1px solid #dbdbdb;
}

.caja-mod.analisis .c-tit a {	
	background: none;
	padding-left: 24px;
	position: relative;
}

.caja-mod.analisis .c-tit a:before {
	position: absolute;
    content: " ";
    z-index: 10;
    top: 14px;
    right: 10px;
    width: 95px;
    height: 22px;
    background: url(/img/modulos/sprite_modulos.png) no-repeat -12px -421px;
}