
#hold #page .sectionIntro { border-top-color: #cc0000; }
#hold .boxJoin { border-color: #cc0000; }
#hold #content a, 
#hold #content .standfirst, 
#hold #content h2,
#page .relatedInfo a  { color: #cc0000; }
/*#hold #content a.arrow { background-image: url(../i/link_arrow.gif); } */
.relatedInfo { background-color: #fce4d9; border-top-color: #cc0000; }
.breadcrumb { background-color: #fce4d9; }
.breadcrumb p a { color: #cc0000;}
.boxNotice { border-color:#cc0000; }
.boxNotice a { color: #cc0000 !important; }
.article { 
	padding-bottom: 5px; }

.aboutIop h3 { background-color: #cc0000;}

.article p.standfirst { font-size: 1.6em !important;
	color: #000 !important; }


	
.article span.source a { font-weight: bold; }

.article h1 { border-top: 6px solid #c00;
	padding-top: 1px;
	margin: 0 0 14px 0;
	font-size: 2.4em;
	color: #c00;
	line-height: 1.2em; }

.article h2 { color: #000 !important;
	font-size: 1.6em;
	margin: 24px 0 4px 0; }
	
.article h3 { color: #000 !important;
	font-size: 1.5em;
	margin: 24px 0 4px 0; }
	
.article h4 { color:#000 !important;
	font-size: 1.4em;
	margin: 24px 0 4px 0; }
	
.article h5 { color: #000 !important;
	font-size: 1.3em;
	margin: 24px 0 4px 0; }
	
.article h6 { color: #000 !important;
	font-size: 1.4em;
	font-weight: normal;
	margin: 24px 0 4px 0; }

.article p { margin:0 0 16px 0; }
.sectionIntro h1 { color:#cc0000;font-size: 2.4em; }
.sectionIntro h2 { color:#cc0000; }
.sectionIntro h3 { color:#cc0000; }
.sectionIntro h4 { color:#cc0000; }
p.lastedit { float:right; font-size:90% !important;}
.lastedit span {  font-weight:lighter;}
.boxNotice h3 { color:#c00;}
.boxInner h3 { color:#c00;}
.mediumHighlight { width: 21.8em; 
	border-width: 1px;
	border-style: solid; 
	border-top-width: 6px; 
	float: left; 
	margin: 5px 5px 0 0;
	padding:0px;
	height:160px;}
.galleryBorderTwo,.galleryBorderOne { border-color:#cc0000;}	
.article img {padding:2px;} 
.rss {border:0px none;text-decoration:none;}
.physicsworldBox {padding-left:5px;}
.physicsworldBox h4 { font-size:1.6em; font-weight:bold; margin-bottom:0px; margin-top:0px; padding-bottom:4px;}	
.physicsworldBox h3 { color:#6c6cb7; font-size:1.6em; margin-top:3px;line-height:110%;}
.physicsworldBox p { color:#000; Padding-bottom:1em; line-height:120%;}
.physicsworldBox p.date { color:#333; Padding-bottom:0px;}	
#sociallinks h4{ margin:5px;  padding:0px;}	
#accordion { width:90%;}
#accordion p { margin:0.5em 2em ; height:auto; }
#accordion h3 {width:100%; border: solid thin #FCE4D9 ; margin:0; padding:0.5em 0.5em; color:#CC0000 !important; }
#accordion h3::before { content:" + "}
#accordion h3.ui-state-active::before { content:" - "}
#accordion div { width: 103.75%;}