
@media all 
    and (min-width: 741px) 
	and (max-width: 999px) {
		p { max-width:43em;}

#content {
    border-right: 1px solid #C9D0DC;
    float: left;
 
    width: 100%;
}

.trplCol {
    float: left;
    margin: 0;
    width: 100%;
}

.colTwo20 {
    border-style: solid;
    border-width: 6% 1% 1%;
    float: left;
    margin: 2em 2em 3% 0;
    overflow: hidden;
    padding: 0;
    /* width: 48%; */
}


.dblCol {
    float: left;
    margin: 0;
    
}
#scrollable3 {
    width: 100%;
}
.boxNews div div {display:none;}
.boxNews div div.topstory {display:block;}
.boxNews div div.topstory div {display:block;}
.rightCol {
    float: none;
    width: 100%;
}
body { min-width:300px;}
#hold {min-width:300px; width:98%;}
#wrapper {min-width:300px; width:98%;}
#footer {min-width:300px; width:98%;}


#hdr { min-width:300px;}

#logoarea {
    
	overflow:hidden;
	 margin-left: 1em;
}
#alerttop {height:auto; margin:0px; width:100%; display:none; background-color:#EDEDED;}
#alerttop div.alert {position:relative; margin:auto; padding:0.3%; width:98%;}
#alerttop p.cookieinfo {padding-right:35px; text-align:left; margin:0.1%; font-size:1.2em; line-height: 1.7em;}
#alerttop p.cookieclose {position:absolute; top:0px; right:5px;cursor:pointer;}


#hdrSearch form { height:auto; margin-bottom:2%;}
.headerblock p { display:block !important;}

.headerBlock h1 { font-size:1.4em; }
.boxInner div div { float:left !important; margin-left:2em;}
#scrollable3 div { width:98% !important;}
 #page .tabContent {
  border-top: 1px solid #6b7a94;}
#page .dblCol .tabs {
  width: 98%;
}
.aboutIop {

  margin-bottom: 3%;
  width: 47%;
  margin-top: 0px;
  margin-right:2%;
  
}
.rightCol br { clear:none !important;}
.boxWTopLine { width:48%;}
.boxWTopLine div {
  border-top: 1% solid #a9b5c8;
  float: left;
  clear:none;
 
}
#page .dblCol .tabContent {
   width: auto; 
}
div.rightCol div:nth-child(4) {clear:none !important; margin:1em;}
div.rightCol div:nth-child(5) { margin-top:1.5em; }

div.rightCol div.boxWTopLine:nth-child(7) { width:98% !important; }
div.rightCol div.boxWTopLine:nth-child(7) div { width:33%;}
div.rightCol div.boxWTopLine:nth-child(7) div:nth-child(1) { width:98%;}
div.boxWTopLine div:nth-child(4) { margin:0; }
div.boxWTopLine div:nth-child(5) { margin:0; clear:both;}
.rxbodyfield { width:100% !important;}
		
	}
		@media all 
    and (min-width: 481px) 
	and (max-width: 740px) {
	
p { max-width:43em;}

#content {
    border-right: 1px solid #C9D0DC;
    float: left;
 
    width: 100%;
}

.trplCol {
    float: left;
    margin: 0;
    width: 100%;
}
.galleryControls { display:block;
  width: 100%;
  height: 80px;
  text-align:center;
  z-index: 200;
}
#gallery ul li {
   width: auto; 
   height: auto;
}
.galleryControls img { height:62px !important; width:100px !important;}
#gallery {
    background-color: #CC0000;
    height: 22em;
    position: relative;
    width: 100%;
	margin-top: 1%;
	min-width:300px;
}
.colTwo20 {
    border-style: solid;
    border-width: 6% 1% 1%;
    float: left;
    margin: 2em 2em 3% 0;
    overflow: hidden;
    padding: 0;
    /* width: 48%; */
}
.boxNews {width:98%}
.newsColoum {
    float: left;
    margin-right: 2em;
    width: 100%;
}
.boxNews .clearspacer {clear:none; height:0}
.boxNews .boxInner div:nth-child(3) {clear:both;}
.boxNews .boxInner div:nth-child(6) {padding:0 !important; border:0 !important;}
.boxNews .boxInner .topBrd {clear:both;}
.dblCol {
    float: left;
    margin: 0;
    width: 100%;
}
#scrollable3 {
    width: 100%;
}

.rightCol {
    float: none;
    width: 100%;
}
body { min-width:300px;}
#hold {min-width:300px; width:98%;}
#wrapper {min-width:300px; width:98%;}
#footer {min-width:300px; width:98%;}
#hdrSearch {
	position:relative;
    width:270px;
	right:0;
	top:1%
	
    }
ul#topTools li { display:block; }
#hdr { min-width:300px;}

#logoarea {
    
	overflow:hidden;
	 margin-left: 1em;
}
#alerttop {height:auto; margin:0px; width:100%; display:none; background-color:#EDEDED;}
#alerttop div.alert {position:relative; margin:auto; padding:0.3%; width:98%;}
#alerttop p.cookieinfo {padding-right:35px; text-align:left; margin:0.1%; font-size:1.2em; line-height: 1.7em;}
#alerttop p.cookieclose {position:absolute; top:0px; right:5px;cursor:pointer;}
ul#mainNav li { margin:0; border:1px solid #b7bfcd; padding:2%;}
ul#mainNav { padding-bottom:5%;}
ul#mainNav li.noBrd {border:1px solid #b7bfcd; }

#hdrSearch form { height:auto; margin-bottom:2%;}
.headerblock p { display:block !important;}
.galleryItem a {  width:98%; text-align:center;}
.galleryItem p.caption {position:relative; margin-left: 1em;}
#imageflipper1 {display:none !important}
#imageflipper2 {display:none !important}
#imageflipper3 {display:none !important}
#imageflipper4  {display:none !important}
.galleryItem p.captionBg {
 display:none;
}
.galleryItem .headerBlock {
    width: 98%;
}
.galleryItem img { position:relative; }
.galleryItem { width:98% }
.headerBlock h1 { font-size:1.4em; }
.boxInner div div { float:left !important; margin-left:2em;}
#scrollable3 div { width:98% !important;}
 #page .tabContent {
  border-top: 1px solid #6b7a94;}
#page .dblCol .tabs {
  width: 98%;
}
.aboutIop {

  margin-bottom: 3%;
  width: 47%;
  margin-top: 0px;
  margin-right:2%;
  
}
.rightCol br { clear:none !important;}
.boxWTopLine div {
  border-top: 1% solid #a9b5c8;
  float: left;
  clear:none;
 
}
#page .dblCol .tabContent {
   width: auto; 
}
div.rightCol div:nth-child(4) {clear:none !important; margin:1em;}
div.rightCol div:nth-child(5) { margin-top:1.5em; }

div.rightCol div.boxWTopLine:nth-child(7) { width:98% !important; }
div.rightCol div.boxWTopLine:nth-child(7) div { width:48%;}
div.rightCol div.boxWTopLine:nth-child(7) div:nth-child(1) { width:98%;}
div.boxWTopLine div:nth-child(4) { margin:0; }
div.boxWTopLine div:nth-child(5) { margin:0; }
	}
@media all and (max-width: 480px) {
	
p { max-width:43em;}

#content {
    border-right: 1px solid #C9D0DC;
    float: left;
 
    width: 100%;
}

.trplCol {
    float: left;
    margin: 0;
    width: 100%;
}
.galleryControls { display:none}

#gallery {
    background-color: #CC0000;
    height: 38em;
    position: relative;
    width: 100%;
	margin-top: 1%;
	min-width:300px;
}
.colTwo20 {
    border-style: solid;
    border-width: 6% 1% 1%;
    float: left;
    margin: 2em 2em 3% 0;
    overflow: hidden;
    padding: 0;
    width: 98%;
}
.newsColoum {
    float: left;
    margin-right: 2em;
    width: 100%;
}
.dblCol {
    float: left;
    margin: 0;
    width: 100%;
}
#scrollable3 {
    height: auto;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 100%;
}

.rightCol {
    float: none;
    width: 100%;
}
body { min-width:300px;}
#hold {min-width:300px; width:98%;}
#wrapper {min-width:300px; width:98%;}
#footer {min-width:300px; width:98%;}
#hdrSearch {
	position:relative;
    width:270px;
	right:0;
	top:1%
	
    }
ul#topTools li { display:block; }
#hdr { min-width:300px;}

#logoarea {
    width: 60px;
	overflow:hidden;
	 margin-left: 1em;
}
#alerttop {height:auto; margin:0px; width:100%; display:none; background-color:#EDEDED;}
#alerttop div.alert {position:relative; margin:auto; padding:0.3%; width:98%;}
#alerttop p.cookieinfo {padding-right:35px; text-align:left; margin:0.1%; font-size:1.2em; line-height: 1.7em;}
#alerttop p.cookieclose {position:absolute; top:0px; right:5px;cursor:pointer;}
ul#mainNav li { margin:0; border:1px solid #b7bfcd; padding:2%;}
ul#mainNav { padding-bottom:5%;}
ul#mainNav li.noBrd {border:1px solid #b7bfcd; }

#hdrSearch form { height:auto; margin-bottom:2%;}
.headerblock p { display:block !important;}
.galleryItem a {  width:98%; text-align:center;}
.galleryItem p.caption {position:relative; margin-left: 1em;}
#imageflipper1 {position:relative !important; clear:both; float:left;}
#imageflipper2 {position:relative !important; clear:both; float:left;}
#imageflipper3 {position:relative !important; clear:both; float:left;}
#imageflipper4  {position:relative !important; clear:both; float:left;}
.galleryItem p.captionBg {
 display:none;
}
.galleryItem .headerBlock {
    width: 98%;
}
.galleryItem img { position:relative; }
.galleryItem { width:98% }
.headerBlock h1 { font-size:1.4em; }
.boxInner div div { float:left !important; margin-left:2em;}
#scrollable3 div { width:98% !important;}
 #page .tabContent {
  border-top: 1px solid #6b7a94;}
#page .dblCol .tabs {
  width: 98%;
}
.aboutIop {

  margin-bottom: 3%;
  width: 98%;
  margin-top: 0px;
}
.boxWTopLine {
  border-top: 1% solid #a9b5c8;
  float: left;
  width: 98%;
}
#page .dblCol .tabContent {
   width: auto; 
}
#page .tabs .selectors {
 
  font-size: 0.7em;
}}
@media all and (max-width: 590px) {
#footer ul {position:relative}
}

