html { font-size: 100%; /* IE hack */ 
	overflow-y:scroll;
	}

body { height: 100%; 
	min-width: 98em; 
	background: #eaecf1; 
	text-align: center;
	font-size: 62.5% !important;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	margin: 0; }

/* *** Building blocks *** */

#hold { width: 98em;

	margin: 0 auto;
	background-color: #fff }

#wrapper { width: 94em;
	padding: 0 1em; 
	margin: 0 auto;
	text-align: left; 
	position: relative;}

#page { margin: 0; }

#content { width: 71em;
	border-right: 1px solid #c9d0dc;
	float: left;
	overflow:hidden; }

.rightCol { float: right;
	width: 22em; }	

/* *** End *** */

/* *** START GENERIC PAGE TOOLS *** */

a { outline: none; }

#page a { color: #cc0000; 
	text-decoration: none; }
	
#page a:hover { text-decoration: underline; }
	
#page p { font-size: 1.2em;
	line-height: 1.5em; }

#page .noMg { margin-right: 0 !important; }

#page a.arrow { background: transparent;
	padding-right: 9px;
	font-weight: bold; }

#page p.arrow {font-weight: bold;}
#page p.arrow a{font-size:100%;}		
#page .floatLeft {  float: left; 
	margin-right: 5px; }
	
p.date, span.date, span.source, p.caption { color: #333; }

p.details {
 font-weight:bold;
color: #B7BFCD; 
}

#page p.topBrd { border-top: 1px solid #c9d0dc; 
	padding-top: 3px; }
	
.button { background-color:#CC0000;
	border: 0 none;
	color: #FFFFFF;
	font-size: 1.2em;
	margin-top: 1px;
	padding: 2px 3px 1px 3px;
	font-family: arial, helvetica, sans-serif !important;
	font-weight: bold; 
 }
li { margin-top:0.5em;}
ol { font-size:120%;} 
ol li { font-size:100%;}	
/* *** End Generic page tools *** */



/* *** Header blocks & items *** */

#hdr { border-top: 6px solid #cc0000;
	height: 17.4em; }

.homepage #hdr { border-top: 6px solid #cc0000; 
	height: 13.6em;}


#hdr h1 { position: absolute; 
	top: 42px; 
	text-indent: -99999px; 
	margin: 0;
	padding: 0;
	width: 317px;
	height: 35px;
	background: transparent url(../i/IOP-Institute-of-Physics.gif) no-repeat top left; }

#hdr h1 a { display: block;
	width: 317px;
	height: 35px;
	background: transparent url(../i/IOP-Institute-of-Physics.gif) no-repeat top left; }
#logoarea { position: absolute; 
	top: 42px; 
	text-indent: -99999px; 
	margin: 0;
	padding: 0;
	width: 317px;
	height: 35px;
	background: transparent url(../i/IOP-Institute-of-Physics.gif) no-repeat top left; }

#logoarea a { display: block;
	width: 317px;
	height: 35px;
	background: transparent url(../i/IOP-Institute-of-Physics.gif) no-repeat top left; }
	

#hdr h2 { position: absolute; 
	top: 13px; 
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	color: #6b7a94; }


/* Top Tools */

ul#topTools { border-bottom: 1px solid #c9d0dc; 
	text-align: right; 
	padding: 7px 0 6px 0;
	margin: 0;
	list-style-type: none; }
		
ul#topTools li { display: inline;
	padding: 0 7px;
	margin: 0;
	font-size: 1.2em;
	border-left: 1px solid #c9d0dc; }

ul#topTools li.noBrd { border-left: 0; }

ul#topTools li.noPad { padding: 0 2px 0 7px; }

ul#topTools li a { color: #000; 
	text-decoration: none; }
	
ul#topTools li a:hover { 
	text-decoration: underline; }
	
#hold.news ul li a.news { color: #c00;  }
#hold.about ul li a.about { color: #c00;  }
#hold.contact ul li a.contact { color: #c00;  }
#hold.cal ul li a.cal { color: #c00;  }
#hold.memberSign ul li a.memberSign { color: #c00;  }

/* End Top Tools */



/* *** Main Navigation *** */

ul#mainNav { list-style-type: none;
	margin: 0;
	padding: 0;
	height: 19px;
	display: block; }
		
ul#mainNav li { display: block;
	float: left;
	margin: 5.2em 0 10px 0;
	padding: 0;
	font-size: 1.5em;
	height: 19px;
	font-weight: bold;
	border-right: 1px solid #b7bfcd; }

ul#mainNav li.noBrd { border-right: 0; }

ul#mainNav li a { display: block;
	padding: 3px 8px 1px 8px;
	margin: 0; 
	text-decoration: none; }
		
ul#mainNav li a.one { color: #cc0000; }			
ul#mainNav li a.two { color: #a1006b; }			
ul#mainNav li a.three { color: #751A97; }			
ul#mainNav li a.four { color: #002395; }
ul#mainNav li a.five { color: #009cce; }
ul#mainNav li a.six { color: #007363; }
ul#mainNav li a.seven { color: #6D8E15; }
ul#mainNav li a.eight { color: #D57825; }

ul#mainNav li a:hover { background-color: #e4e8ee;  }	
	
/* *** End Main Nav *** */




/* *** Left Column Navigation *** */
.leftNav { font-size: 1.2em; }

h3.leftNavHdr  { margin:4px 0 0 0 !important;
	padding-bottom: 10px;
	border-bottom: 1px solid #A9B5C8; }

.leftNav ul.underlinedList li a { color: #c00 !important; 
	line-height: 1.3em; }

.leftNav ul { list-style-type: none;
	padding: 0 0 0 0;
	margin: 0;
	font-size: 1em;
	border: 0;  }
	
.leftNav ul li { border-bottom: 1px solid #A9B5C8;
	border-top: 0;
	list-style-type: none;
	margin: 0;
	padding:0; }
	
.leftNav ul li a { color: #c00;
	padding-bottom: 4px !important;
	padding-top: 7px !important;
	display: block; }
	

	

.leftNav span.on { color: #000 !important; }
.leftNav ul ul { list-style-type: none;
	margin: 0 0 0 0;
	padding: 0;
	background-color: #e4e8ee;
	border-bottom: 0; }
	
.leftNav ul ul li { border-bottom: 1px solid #A9B5C8;
	border-top: 0px solid #A9B5C8;}
	
.leftNav ul ul li a { padding-left: 12px; }
.leftNav ul ul ul a { padding-left: 24px; }
.leftNav ul ul ul ul a { padding-left: 36px; }
.leftNav ul ul ul ul ul a { padding-left: 48px; }
.leftNav ul ul ul ul ul ul a { padding-left: 60px; }
.leftNav ul ul ul ul ul ul ul a { padding-left: 72px; }

/* End Left Column Navigation */




/* Header Search */

#hdrSearch { position: absolute;
	right: 1em;
	top: 43px;
	width: 263px; 
	z-index:4;}
	
#hdrSearch label { display: none; }

#hdrSearch form { position: relative;
	display: block;
	height: 53px; }

#hdrSearch form .hdrSrchInput { border:1px solid #A9B5C8;
	height:15px;
	width:201px; 
	margin-top: 1px; }

#hdrSearch .button { position: absolute;
	right: 0;
	top: 0;
	width: 56px;
 }
	
/* *** End search *** */


.breadcrumb { width: 94em;
	position: absolute;
	top: 14.4em; }

.breadcrumb p { color: #000;
	font-size:1.2em;
	padding:6px;
	margin: 0;}
	
.breadcrumb p a { font-weight: bold;
	color: #c00;
	text-decoration: none; }

.breadcrumb p a:hover { text-decoration: underline; }
	

/* *** End Header *** */


/* *** START COLUMN CONTROLS *** */

.colTwo20 { width: 21.8em; 
	border-width: 1px;
	border-style: solid; 
	border-top-width: 6px; 
	float: left; 
	margin: 2em 2em 3px 0;
	padding:0px;
	overflow:hidden;}
.sglCol .colTwo20 { width: 22em;}
.sglCol { width: 22em;
	float: left;
	margin: 0 2em  0 0; }

.dblCol { width: 46em;
	float: left;
	margin: 0; }
		
.trplCol { width: 70em; 
	width: 71em;
	float: left;
	margin: 0; }

.boxInner { margin: 5px; }	
	

/* *** End Column Controls *** */



/* *** COLOURS FOR DIFFERENT COLUMNS *** */

.boxJoin { border-color: #c00;
	min-height: 140px;}

.boxNews { border-color: #360 !important;}

.boxNotice { border-color: #c00;
	min-height: 370px;
	margin-right:0; }


.boxContentTailor { border-color: #09c !important;
	min-height: 370px;
	postion:relative;
	float:right; }
	
.boxContentTailor img { postion:absolute; bottom:0;left:5px}

.boxCaseStudies { border-color: #e4e8ee;
	border-top-color: #a9b5c8;
	background-color: #e4e8ee;
 }

.boxCaseStudies a { font-weight: bold; }

.boxNews h3 a { color: #360 !important; }

.boxNotice h3 a { color: #c00 !important; }

.boxContentTailor h3 { color: #09c !important; }

/* END COLOURS FOR COLUMNS */


.colTwo20 h3 { font-size: 1.6em;
	margin: 0 0 8px; }	
	
.colTwo20 div.artIntro { border-top: 1px solid #c9d0dc; 
	padding: 5px 0 10px 0; 
	margin-bottom: 3px;
	clear:both; }
	
.colTwo20 div.lead { border-top: 0;
	padding-top: 0;  }


.colTwo20 div.artIntro h4 { font-size: 1.8em; 
	font-weight: normal; 
	margin: 0 ; }

.colTwo20 div.artIntro h5 { font-size: 1.3em; 
	font-weight: normal; 
	line-height: 1.2em; 
	margin: 0; }

.colTwo20 div.artIntro .date {color: #333;}

.colTwo20 div.artIntro p { margin: 3px 0; }

.colTwo20 div img { margin-bottom: 6px; 
	float: left; }

.colTwo20 div .artIntro img { margin-right: 6px;}
	
.colTwo20 div .lead img { margin-right: 0; }




.boxCaseStudies div.artIntro, .boxCaseStudies p.topBrd { border-top-color: #a9b5c8 !important; }



/* *** Start Content tailored for... *** */

.boxContentTailor ul { margin: 0;
	padding: 0;
	list-style-type: none; }
	
.boxContentTailor ul li { margin: 0;
	padding: 11px 0 5px 0;
	list-style-type: none;
	font-size: 1.8em;
	border-top: 1px solid #c9d0dc; }
	
.boxContentTailor ul li a { 
	color: #666 !important;
	background: transparent url(../i/tailored-content-bullet.gif) 0 3px no-repeat;
	padding-left: 15px; }
	
.boxContentTailor ul li a:hover { 
		color: #c00 !important; }	
	
/* *** End Content tailored *** */



/* *** START RIGHT COL *** */

.aboutIop { background-color: #e4e8ee;
	float: left; 
	margin-bottom: 18px;
	width: 22em;
	margin-top:0px; }
	
.aboutIop h3 { 
	color: #fff;
	font-size: 1.4em;
	padding: 4px 5px 10px 5px;
	margin: 0;
	margin-bottom: 5px; }

.aboutIop p { margin: 7px 5px; }

.boxWTopLine { border-top: 6px solid #a9b5c8;

	float: left;
	width: 22em; }

.trplCol .boxWTopLine  { margin-right: 2em; }
.dblCol .boxWTopLine { margin-right: 1em; }

.boxWTopLine h3 { margin: 4px 0 11px 0;
	font-size: 1.4em; }

.boxWTopLine p { margin: 6px 0 12px 0; }

.boxWTopLine img { margin:0px; }

ul.underlinedList { margin: 0; 
	padding: 0; 
	list-style-type: none; 
	border-bottom: 1px solid #a9b5c8; }
	
ul.underlinedList li { margin: 0; 
	padding: 0; 
	list-style-type: none; 
	border-top: 1px solid #a9b5c8; 
	padding: 5px 0; 
	font-size: 1.2em; }
	
ul.underlinedList li a { color: #000 !important; 
	text-decoration: none;
	line-height: 1.3em;  }


/* Start Generic Related infor panel (right col) */
.relatedInfo { 
	float: left;
	width: 22em; }
	
.relatedInfo h3 { padding: 0 5px; }

.relatedInfo h4 { margin: 10px 0 0 0 !important;
	padding: 5px !important;
	font-weight: bold !important;
	font-size: 1.2em !important; }
	
.relatedInfo ul.underlinedList { border-bottom: 0; 
	margin-bottom: 3px;}

.relatedInfo ul.underlinedList li { border-top-color: #fff;
	padding: 5px 5px; }
	
.relatedInfo hr { display: none; }

.relatedInfo h4 { border-bottom: 1px solid #fff;
	margin-top: 0px !important; }
	
.relatedInfo p { padding: 3px 5px !important;
	margin-bottom: 6px;
	border-bottom: 1px solid #fff !important; }

.relatedInfo a { margin: 0 0 !important; 
	display: block;
	}
.relatedInfo p.relatedLinkWDef a { font-weight: bold !important; 
	line-height: 1.1em !important; 
	display: block; }
 
.relatedInfo p.relatedLinkWDef { margin: 0 0 6px 0; 
	padding-top:0px !important; }
.relatedInfo p.relatedLinkWDefTop { border: medium none ! important;
	margin-bottom: 0pt; 
	padding-bottom: 0pt ! important; }
/* End Generic Related infor panel (right col) */



/* START ACTIONS TOOL BOX -EMAIL, PRINT, SHARE, FEED */

.actionToolsBox { background-color: #415576; 
	padding: 10px 0 3px 0; 
	margin: 0 0 5px 0;
	float: left;
	width: 22em; }
	
.actionToolsBox ul { margin: 0 11px; 
	padding: 0; }
	
.actionToolsBox ul li { margin: 0 0 6px 0; 
	padding: 0; 
	font-size: 1.3em; 
	font-weight: bold; 
	float: left; 
	width: 7.5em; 
	display: block; }
	
.actionToolsBox ul li a { color: #fff !important;
	padding: 2px 0 0 21px; }
	
.actionToolsBox ul li a.print { background: url(../i/action_tools_print.gif) 1px 1px no-repeat; }

.actionToolsBox ul li a.share { background: url(../i/action_tools_share.gif) 2px 4px no-repeat; }

.actionToolsBox ul li a.email { background: url(../i/action_tools_email.gif) 0px 3px no-repeat; }

.actionToolsBox ul li a.feed  { background: url(../i/action_tools_feed.gif) 0 0 no-repeat; } 
/* End */


/* *** END RIGHT COL *** */




/* **** Tabs **** */
	
#page .tabs { height: 100%;
	margin: 20px 0 0 0;
	float: left; }
	
#page .dblCol .tabs { width: 46em; }
#page .sglCol .tabs  { width: 22em; }

#page .tabs .selectors { background: transparent url(../i/tab-base-rule.gif) repeat-x bottom; 
	padding-left: 1px;
	height: 22px; }

#page .tabs .selectors a { display: block; 
	float: left; 
	height: 16px;
	padding: 3px 7px 2px 5px; 
	border: 1px solid #6b7a94; 
	border-bottom: 0;
	background-color: #6b7a94; 
	color: #fff; 
	margin: 0 4px; 
	font-size: 1.4em; 
	font-weight: bold;  }
	

	
#page .tabs .selectors a:hover { color: #CCDDF6;
	text-decoration: none; }

#page .tabs .selectors a.on { background-color: #fff; 
	color: #000; }
	
#page .tabs .selectors a.on:hover { color: #000; }
	
#page .selectors span { line-height: 0; 
	text-transform: uppercase; 
	font-weight: normal; 
	font-size: 0.75em; }

#page .tabContent { border: 1px solid #6b7a94; 
	border-top: 0; }
	
#page .dblCol .tabContent { width: 45.8em; }
#page .sglCol .tabContent  { width: 21.8em; }


#page .tabContent ul { margin: 0; 
	padding: 12px 9px 0 9px; 
	list-style-type: none;
	font-size: 1.55em;  }

#page .tabContent ul li { margin-bottom: 12px; 
	padding: 4px 0 0 0; 
	border-top: 1px solid #c9d0dc; }

#page .tabContent li p { font-size: 0.75em !important;
	margin: 3px 0 0 0;
	color: #000;
	font-weight: normal; }


.tabs { height: 100%;
	margin: 20px 0 0 0;
	float: left; }

.selectors { background: transparent url(../i/tab-base-rule.gif) repeat-x bottom; 
	padding-left: 1px;
	height: 22px; }

.selectors a { display: block; 
	float: left; 
	padding: 1px 7px 0px 5px; 
	border: 1px solid #6b7a94; 
	border-bottom: 0;
	background-color: #6b7a94; 
	color: #fff !important; 
	margin: 0 0px; 
	font-size: 1.4em; 
	font-weight: bold;  }
	
	
.selectors a:hover { color: #CCDDF6;
	text-decoration: none; }

.tabs .selectors a.on { background-color: #fff; 
	color: #000 !important; }
	
.selectors a.on:hover { color: #000; }
	
.selectors span { line-height: 0; 
	text-transform: uppercase; 
	font-weight: normal; 
	font-size: 0.75em; }

.tabContent { border: 1px solid #6b7a94; 
	border-top: 0; }
	
.tabContent ul { margin: 0; 
	padding: 12px 9px 0 9px; 
	list-style-type: none;
	font-size: 1.4em;  }

.tabContent ul li { margin-bottom: 12px; 
	padding: 4px 0 0 0; 
	border-top: 1px solid #c9d0dc; }

.tabContent li p { font-size: 0.85em !important;
	margin: 3px 0 0 0;
	color: #000;
	font-weight: normal; }
/* *** End Tabs *** */




/* **** Scroll area for home page **** */

/* scrollable div area */
#scrollable3 {
	float: left;
	width: 187px;
	height: 310px;
	border: 0;
	overflow: hidden; }
	
/* vertical track */
#track3 {
	float: left;
	width: 15px;
	height: 279px;
	background: #dfdfdf url(../i/scroller-track-bg.gif) repeat-y left;
	position:absolute;
	right:0; 
	top: 15px; }
	
/* vertical track handle */
#handle3 {
	width: 15px;
	height: 65px;
	background: #b7b7b7 url(../i/scroller-handle.gif) no-repeat center;
	cursor: move; }
	
.scrollBar { width: 15px;
	height: 309px;
	position: absolute;
	right: 0; }
	
.scrollBar img.downArrow { position: absolute;
	bottom: 0; 
	left: 0;
	margin-bottom: 0; }

#scrollable3 .colTwo20 div.artIntro { width: 187px; }

/* *** Eng Scroll area *** */


/* *** Images*** */

.underImageCredit  { position: absolute; 
	top: 2px; 
	right: 0; 
	z-index: 150; 
	margin: 0; 
	width: 420px; 
	text-indent: 5px; 
	padding: 1px 0; 
	color: #fff;
	font-weight: bold; }


.underImageCaption { position: absolute; 
	top: 2px; 
	right: 0; 
	z-index: 150; 
	margin: 0; 
	width: 420px; 
	text-indent: 5px; 
	padding: 1px 0; 
	color: #fff;
	font-weight: bold; }

/* *** End Images*** */

/* *** End Generic page tools *** */


/* *** Press Release *** */

.pressid {
 font-weight:bold;
}



/* *** End Press Release *** */

/* **** Gallery - Home page **** */

#gallery { height: 236px; 
	background-color:#c00; 
	width: 700px; 
	position: relative; }

.galleryControls { width: 280px; 
	height: 56px; 
	background-color: #000; 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	z-index: 200; }

#gallery ul { margin: 0 0 0 4px; 
	padding: 0; 
	list-style-type: none; }

#gallery ul li { margin: 7px 0 0 0; 
	padding: 0; 
	list-style-type: none; }

#gallery ul li { float: left; 
	width: 68px; 
	height: 40px; 
	background-color: #000; 
	text-align: center; }

#gallery ul li img { width: 54px; 
	height: 34px; 
	border: 4px solid #000; }

#gallery ul li a img.on  { border: 4px solid #fff; }

#gallery ul li a:hover img { border: 4px solid #a9b5c8; margin:0; }


.galleryItem { position: absolute; 
	top: 0; 
	left: 0; 
	width: 700px; 
	height: 236px; 
	z-index: 100; }

.galleryItem img { position: absolute; 
	top: 0; 
	right: 0; 
	z-index: 100; }

.galleryItem p.caption { position: absolute; 
	top: 2px; 
	right: 0; 
	z-index: 150; 
	margin: 0; 
	width: 420px; 
	text-indent: 5px; 
	padding: 1px 0; 
	color: #fff;
	font-weight: bold;
	display:none; }



	
.galleryItem p.captionBg { position: absolute; 
	top: 0; 
	right: 0; 
	background-color: #000; 
	z-index: 120; 
	margin: 0; 
	width: 420px; 
	height: 27px; 
	filter: alpha(opacity=60);
	-moz-opacity: .60;
	opacity:.60; }
	
.galleryItem .headerBlock { width: 280px; }
.headerBlock h1 {color: #fff !important; font-size: 1.8em; margin: 9px 10px; font-weight:normal; line-height:1.3em;}
.galleryItem .headerBlock h2 { margin: 9px 10px; 
	color: #fff; 
	font-weight: normal; 
	line-height: 1.3em; 
	font-size: 1.8em; }

.galleryItem .headerBlock p { font-weight: bold;  
	margin: 19px 10px; 
	font-size: 1.4em !important; }
.galleryItem .headerBlock h2 { font-weight: bold;  
	
	font-size: 1.4em !important; }
.galleryItem .headerBlock p a.arrow { color: #fff !important; 
	background: transparent url(../i/link_arrow_red_bg.gif) right 3px no-repeat !important; }
.galleryItem .headerBlock h2 a.arrow { color: #fff !important; 
	background: transparent url(../i/link_arrow_red_bg.gif) right 3px no-repeat !important; }
/* *** End Gallery *** */



/* *** START SECTION HOMEPAGE FURNITURE *** */

#page .sectionIntro { margin-bottom: 20px;
	width: 70em;
	border-top: 6px solid #c00; }
#page .sectionIntro h1 { 
	margin: 0 0 8px 0; 
	padding-top: 3px; }	
#page .sectionIntro h2 { font-size: 2.4em; 
	color: #c00;  
	margin: 0 0 8px 0; 
	padding-top: 2px; }
	
	
#page .sectionIntro img {
	margin-right: 20px; 
	float: left; }
	
#page .sectionIntro span {  
	
	display: block; }
	
#page .sectionIntro p.standfirst { font-size: 1.7em; 
	color: #c00; 
	line-height: 1.3em; 
	margin-bottom: 11px;
	}
	
#page .sectionIntro p { margin: 0; margin-bottom:1em; 
	line-height: 1.5em; }
	
#page .sectionIntro ul {font-size: 1.2em; }
	
/* *** END SECTION HOMEPAGE FURNITURE *** */






/* **** Footer **** */

#footer { width: 94em;
	border-top: 6px solid #a9b5c8; 
	padding-top: 6px; 
	margin: 20px 0 20px 0;
	position:relative;
	padding-bottom:20px;
	}
	
#footer h6 { width: 135px;
	height: 17px;
	margin: 0; 
	padding: 0; 
	
	background: transparent url(../i/footer-logo.gif) no-repeat top left;
	text-indent: -99999px; }
	
#footer ul { margin: 0;
	padding: 0; 
	list-style-type: none;
	position:absolute;
	top:6px;
	right:0px;
	 }
	
#footer ul li { margin: 0 0 0 8px;
	padding: 0 0 0 8px;
	border-left: 1px solid #c9d0dc; 
	list-style-type: none;
	display: inline;
	font-size: 1.2em; }

#footer ul li.first { border: 0; }

#footer ul li a { color: #000; 
	text-decoration: none; }

#footer ul li a:hover { text-decoration: underline; }

/* *** End footer *** */


/* *** COLOUR VARIANTS *** */



/* Start info panel  */







/* Colour variants for Noticeboard / Scrollable panel */







/* *** END COLOUR VARIANTS *** */



/* *** PAGE ELEMENTS BLOCKS *** */


/* ** Content tailored for: box ** */
.tailoredBox label { display: none; }

.tailoredBox select { width: 187px; }

/* End Taiored for box */



/* ** Noticeboard box ** */
.boxNotice h3 { float: left; }
.boxNotice a { font-size:1.2em; }
.boxNotice a.rss { float: right; 
	height:16px;
	width:16px;
	border:0px none  !important;
	}
	
.boxNotice img.rss { 
	height:16px;
	width:16px;
	border:0px none;
	display:block; }

.noticeHdr { height: 25px; }


/* ** End Noticeboard box ** */



/* ** Physics World box ** */
.physicsWorld { background-color: #E1E3EF;
	float: left; 
	margin-bottom: 20px;
	width: 22em;
	border-top: 6px solid #6C6CB7; }

.physicsWorld h3 { background-color: #E1E3EF;
	font-size: 1.4em;
	padding: 4px 5px 10px 5px;
	margin: 0;
	margin-bottom: 4px; }

.physicsWorld h4 { font-size: 1.4em;
	font-weight: normal;
	padding: 0 5px 0 5px;
	margin: 0;
	margin-bottom: 2px; }
	
.physicsWorld p { margin: 1px 5px 9px 5px; }

.physicsWorld p.date { margin: 0 5px; }
/* ** End Physics World box ** */



/* ** Box with top line (settings designed for From IOP Blog box) ** */
.boxWTopLine h4 { font-size: 1.4em;
	font-weight: normal;
	padding: 0;
	margin: 0;
	margin-bottom: 2px; }
	
.blogBox p { margin: 1px 0 9px 0; }

.boxWTopLine p.date { margin: 0; }
/* ** Box with top line (settings designed for From IOP Blog box) ** */

.snippet { margin-left:5px;}
.snippet h4{ margin-left:5px;}
.snippet a{ font-size:120%;}
.relatedInfo hr {color:#fff;background-color:#fff; height:1px; border:solid 0px #fff}
.lastedit { float:right; font-size:20% !important; width:30%;}
.lastedit span {  font-weight:lighter;}
.fleft { float:left; margin-right:10px; }
.clearspacer { clear:both; height:10px; }
.clearspacer20 { clear:both; height:20px; }
.clearspacer5 { clear:both; height:5px; }
.physicsworldBox { border-top:solid 6px #6d6db5; background-color:#e1e3ef;} 
.sectionNewsControl1 { width:34em; margin:0; float:left; overflow:hidden;}
.sectionNewsControl2 { width:34em; margin:0; float:right; overflow:hidden;}
.physicsworldBox div h3 { color:#000; font-weight:bold; margin:5px;margin-top:2px; font-size:140%;}

/* ** newsHeadLine3 styles ** */
.headline3 {margin:0px; padding-top:6px; border-top: 1px solid #c9d0dc; clear:both;}
.headlineimage3 {float:left; margin:0px; width:91px; overflow:hidden;}
.headlinecopy3 {width:24em; float:left; margin-left:5px; margin-top:0; line-height:1.3em;}
p.headlinetitle a { font-size:1.4em; line-height:1.2em;}


/* other styles */
.pageutilitems { border-top: solid 2px #eee; margin-top:20px;}
.calendar { background-color: #e4e8ee;
	float: left; 
	margin-bottom: 18px;
	width: 22em; }
	
.calendar h3 { background-color:#a1006b;
	color: #fff;
	font-size: 1.4em;
	padding: 4px 5px 10px 5px;
	margin: 0;
	margin-bottom: 5px; }

.calendar p { margin: 7px 5px; }
.galleryBorderOne { width:47%; float:left; border:solid 1px;margin-right:5px;margin-top:10px; }
.galleryBorderTwo { border:solid 1px;}
.article ul, .article ol { font-size:100%; padding:0; margin:0 0 16px 3em; }
.article ul li, .article ol li {padding:0; font-size:1.2em; line-height: 1.5em; }
.article ul {list-style-type:disc;  list-style-position:outside;}
.article ul li ul{ font-size:100%;}
.article ul li ul li{ font-size:100%;}
.article ol li ul{ font-size:100%;}
.article ol li ul li{ font-size:100%;}

.js #tab2 {display: none;}
.js #tab3 {display: none;}
.js #imageflipper2text{display: none;}
.js #imageflipper3text {display: none;}
.js #imageflipper4text {display: none;}
.js #imageflipper2{display: none;}
.js #imageflipper3{display: none;}
.js #imageflipper4{display: none;}
.js #sociallinks{display: none;}
.selectors a { cursor:pointer;}
.print a { cursor:pointer;}
.share a { cursor:pointer;}
.print { cursor:pointer;}
.share { cursor:pointer;}

#sociallinks {margin:0px; padding:5px;}

.actionToolsBox { position:relative;}
.picPaddingContainer { float:left; margin-right:15px;}
#sociallinks p { color:#FFF; text-align:center; padding-top:1em; margin-top:1em; text-decoration:underline; cursor:pointer;}
.currentlevel { color:#000 !important;}
table { font-size:120%; border-collapse:collapse; }
/* table,th, td { border: 1px solid #415576; } */
tr, th, td { font-size:100%; vertical-align:top;padding:5px;}
th table,td table { font-size:100%}
#page td p { font-size:1em; line-height:1.2em;}
.article td ul li {font-size:1em;}
.topstory a { font-size:1.5em;}

.substory a {  font-size:1.1em;}
.siteMap li {list-style-image:url(../i/squares2010/aqua_sq_4x4.gif);}
.siteMap li ul li{list-style-image:url(../i/squares2010/purple_sq_4x4.gif);}
.siteMap li ul ul li{list-style-image:url(../i/squares2010/yellow_sq_4x4.gif);}
.siteMap li ul ul ul li{list-style-image:url(../i/squares2010/blue_sq_4x4.gif);}
.siteMap li ul ul ul ul li{list-style-image:url(../i/squares2010/orange_sq_4x4.gif);}
.siteMap li ul ul ul ul ul li{list-style-image:url(../i/squares2010/green_sq_4x4.gif);}
.siteMap li ul ul ul ul ul ul li{list-style-image:url(../i/squares2010/red_sq_4x4.gif);}
.siteMap li ul ul ul ul ul ul ul li{list-style-image:url(../i/squares2010/aqua_sq_4x4.gif);}
#scrollable3 {overflow:auto; width:21em; margin:0px; padding:0px;}
#welcome { position: absolute; left: 34em; 
			top: 12px; width: 20em; height: 100px; 
			overflow: hidden; font-size: 1.1em; 
			text-align:left ; z-index: 2;
			line-height:1.3em;
			}
#welcome p{ background-color:#fff; margin-top:24px;  padding-left:2px;}

#welcome p a {color:#CC0000; font-weight:bold;
text-decoration: none;}

#welcome p a:hover{ text-decoration:underline;}
.sglCol .aboutIop { margin-top:2em;}

/* right col tabs */
#page .rightCol .tabContent ul {font-size:1.2em; } 
#page .rightCol .tabs  {margin: 0 0 20px 0;}
.sglCol .lead { margin-top:2em;}
.news {display:none;}
.newsColoum {width:22em; float:left; margin-right:2em;}	
.addthisshared {background-color: #EEEEEE;
    border-top: 15px solid #FFFFFF;
    margin: 0 0 -3px;
    }
  .cookietable {width:95%}
.cookietable th.smallw {width:12%}
.cookietable th.mediumw {width:15%}
  .cookietable th.largew {width:37%}
.cookietable tr:first-child th       { background-color:#d20000; color:#FFF; }
.cookietable tr.one   { background-color:#ddd; }
.cookietable tr.two   { background-color:#fff; }
.cookietable td{ padding:6px;}
.cookietable td.first { background-color:#aaa; color:#000; }
  .cookietable td.white { background-color:#fff; color:#000; }
  #formtabs { margin-bottom:20px;}
#formtabs ul {
	    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
		} 

#formtabs ul li {
	margin-left: 0;
	margin-bottom: 16px;
	padding: 2px 8px 5px;
	border: 1px solid #000;
	list-style: none;
	display: inline;   
	cursor: pointer;
	float: left; 
	}
	
#fulltedd fieldset {display:none;}
#fulltedd fieldset fieldset {display:block !important; margin-bottom:12px;}
#fulltedd fieldset#personalinfo {display:block;}
#fulltedd label {margin-left:12px; margin-bottom:12px;margin-top:12px; }
#fulltedd input{ margin:6px}
#fulltedd {font-size:1.3em}
#fulltedd p { clear:both;}
fieldset fieldset label {position:relative; width:50%;line-height:2em;}
fieldset fieldset label input {position:absolute; left:11em; margin-top: 0 !important;}
#region, #postcode{left:10em;}
#personalinfo div{width:45%;}
#timeaway {width:45%; float:right; margin-top: -5.5em;}
#personalinfotab {background-color: rgb(252, 228, 217);}
#ttinfo  label {margin-left:0; margin-bottom:12px;margin-top:12px; }
#ttinfo select {margin-top:6px; padding: 0 !important;}
#fulltedd .scholar select {margin-top:6px; padding: 0 !important;}
#timeaway label {margin-left:0; margin-bottom:12px;margin-top:12px; }
#outreachcontent {min-height:30px; border-top:solid 1px #333; margin-top:6px; border-bottom:solid 1px #333;}
#outreachnav {display:inline; margin: 0; padding:0px;}
#outreachnav li {display:inline; font-size: 1.8em; padding-right:2em;}
#outreachnav li a{color: #333333 !important; text-decoration:none;}
.donatebutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cc0000), color-stop(1, #cc0000) );
	background:-moz-linear-gradient( center top, #cc0000 5%, #cc0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0000', endColorstr='#cc0000');
	background-color:#cc0000;
	-webkit-border-top-left-radius:13px;
	-moz-border-radius-topleft:13px;
	border-top-left-radius:13px;
	-webkit-border-top-right-radius:13px;
	-moz-border-radius-topright:13px;
	border-top-right-radius:13px;
	-webkit-border-bottom-right-radius:13px;
	-moz-border-radius-bottomright:13px;
	border-bottom-right-radius:13px;
	-webkit-border-bottom-left-radius:13px;
	-moz-border-radius-bottomleft:13px;
	border-bottom-left-radius:13px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:35px;
	font-weight:bold;
	font-style:normal;
	
	line-height:35px;
	width:200px;
	text-decoration:none;
	text-align:center;
}
.donatebutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cc0000), color-stop(1, #cc0000) );
	background:-moz-linear-gradient( center top, #cc0000 5%, #cc0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0000', endColorstr='#cc0000');
	background-color:#cc0000;
}
.donatebutton:active {
	position:relative;
	top:1px;
}
.donatebutton a {height:35px;color:#ffffff !important;}
#page .donatebutton p {font-size: 1em; line-height: 1em; margin:0.25em}