img,legend{border:0}legend,td,th{padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}table{border-collapse:collapse;border-spacing:0}
*{
	font-family: Open Sans !important;
}
.img-responsive{
  width: 100%;
}
.readon,.readon:hover{
      color: #f17600;
}
.readon:hover{
color:#9F0913;
text-decoration:none;

}
.voicemenu{
	background: #1f1f1f;
}
.voicemenu .navbar{
	margin-bottom: 0;
}
.voicemenu .navbar-inverse{
	border: none; 
}
.ad-thumb-list>li:last-of-type{
  padding: 0 !important;
}
.item-page img,.items-leading img{
    display: block;
    max-width: 100%;
    height: auto;
}
header,footer{
	background: #141414;
	min-height: 120px;
	color: #FFF;
}
header{
  padding-top: 10px;
}
header a,footer a, header a:hover,footer a:hover,header a:visited,footer a:visited{
	color: #FFF;
}
@media (min-width: 749px) {
.navbar-brand{
	display: none !important;
}
.voicemenu .navbar-collapse{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.vn_item:first-of-type,.vn_best_item:first-of-type {
    border-right: 1px solid #ccc;
}
.vn_item:last-of-type{
    border-left: 1px solid #ccc;
}



}
#content{
	  margin-top: 13px;
}
.voicemenu a{
	  font-family: open sans condensed !important;
  font-weight: bold;
  font-size: 17px;
}
form.art-search input[type="text"] {
  border-radius: 0;
  border: 1px solid #DEDEDE;
  margin: 0 auto;
  width: 100%;
  height: 35px;
  padding: 4px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #696969 !important;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-indent: 4px;
}
form.art-search input[type="text"] {
  color: #242424 !important;
  font-size: 15px;
  background: white !important;
  font-style: italic;
}
form.art-search input[type="submit"], input.art-search-button, a.art-search-button {
    position: absolute;
    display: block;
    border: none;
    background: url('../images/searchicon.png') center center no-repeat;
    margin-top: 7px;
    width: 24px;
    padding: 0;
    color: #FFFFFF !important;
    cursor: pointer;
    right: 24px;
}
.blog h2 a,.page-header h2 {
    font-size: 24px;
    text-decoration: none;
    text-align: left;
    color: #000000;
    margin: 0;
}
.blog h2 a:hover{
    color: #9F0913;
}

.readmore a{
  color: #9F0913;
   padding: 0;
}
.published{
  margin: 0;

}
p.counter{
float:none !important;}
.navbar-inverse .navbar-nav>li>a{
color:#fff !important;
text-transform:uppercase;

}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    color: #9d9d9d !important;
}
.item-page p{
font-size:16px;}
.vn_flash_item a{
    display: block !Important;
    color: #000000 !important;
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: Open Sans Condensed !important;
    line-height: normal;
    }
    
.vn_flash_item a:hover{ 
    color: rgba(0, 0, 0, 0.52);
text-decoration: none;}
.customex-ads{height:85px;}

.bestDivider {
height: 7px;
background: #f27600;
margin-bottom:15px;
}
.bestTitle {
font-family:Open Sans Condensed;
font-size:20px;
font-weight:bold;
color:#f27600;
margin-bottom:15px;
width:100%;
line-height: 27px;
}
.bestDate {
margin: 8px 0px;
font-family:Open Sans;
font-size:15px;


}
.bestDate a{
font-family:Open Sans;
font-size:15px;
color:#f17600;
}
.bestDate a:hover{
color:#9F0913;
text-decoration:none;
}
.bestTitle a {
font-family:Open Sans Condensed;
font-weight:bold;
font-size:20px;
color:#000;

}
.bestTitle a:hover {
font-family:Open Sans Condensed;
font-weight:bold;
font-size:20px;
color: rgba(0, 0, 0, 0.52);
text-decoration: none;

}


@media (min-width: 750px) {

  

.bestImage img{
  width: 100%;
  height: 250px;


}


}