﻿@charset 'utf-8';

area { outline: none; }	

#wrap {
	position:relative;
	width:100%;
	min-width:1024px;
}
/********************************************* header */
#header {
	position:relative;
	z-index:2;
	width:100%;
	height:217px;
	background:url('//file3.funshop.co.kr/www/common/header/bg_header_fn.gif') repeat-x 0 0px;
}
#header .header-inner {
	position:relative;
	z-index:2;
	width:960px;
	height:146px;
	margin:0 auto;
}
#header h1 {
	position:absolute;
	top:65px;
	left:0;
}
#header .favorite-regist {
	position:absolute;
	top:26px;
	left:0;
	font-size:11px;
	line-height:1.2;
}
#header .utillmenu {
	position:absolute;
	top:8px;
	right:2px;
	font-size:11px;
	line-height:1.2;
}
#header .utillmenu li {
	float:left;
	margin-left:10px;
	padding-left:9px;
	background:url('//file3.funshop.co.kr/www/common/header/bul_utillmenu_section.gif') no-repeat;
}
#header .utillmenu li:first-child {
	margin:0;
	padding:0;
	background:none;
}
#header .message-area {
	position:absolute;
	top:65px;
	right:0px;
}
#total-search-area {
	position:absolute;
	top:91px;
	left:50%;
	margin-left:-225px;
	width:450px;
	height:43px;
	background:url('//file3.funshop.co.kr/www/common/header/bg_total_search.gif') no-repeat;
}
#total-search-area .search-area-inner {
	position:relative;
	height:25px;
	padding:18px 0 0 15px;
}
#total-search-area .search-input {
	width:354px;
	height:20px;
	padding:0 0 0 4px;
	border:0;
	background:transparent;
	font-family:dotum;
    outline:none;
}
#total-search-area .search-btn {
	position:absolute;
	top:13px;
	right:0;
}
#global-navigation {
	overflow:hidden;
	position:absolute;
	top:134px;
	left:50%;
	margin-left:-273px;
	width:481px;
	height:37px;
	padding:11px 0 0 68px;
	background:url('//file3.funshop.co.kr/www/common/header/bg_global_navigation.png') no-repeat;
}
#global-navigation li {
	float:left;
	margin-left:25px;
}
#global-navigation li:first-child {
	margin-left:15px;
}
#floor-menu {
	position:relative;
	z-index:1;
	width:100%;
	height:52px;
    background-color:#2D3E50;
	/*background:url('//file.funshop.co.kr/www/common/header/bg_floormenu.gif') repeat-x;*/
    margin-top:15px;
}

#floor-menu .menu {
	position:relative;
	width:960px;
	margin:0 auto;
}
#floor-menu .menu li {
	overflow:hidden;
	float:left;
	height:50px;
    margin-left:14px;
}

#floor-menu .menu li:not(.smallshop) {
    padding-top:8px;
    height:40px;
}

#floor-menu .menu li:first-child {
	margin:0;
}
#floor-menu .menu li a {
	display:block;
}
#floor-menu .menu li a:hover:not(.smallshop) {
	margin-top:-44px;
}
#floor-menu .menu li.on a :not(.smallshop) {
	margin-top:-44px;
}



#floor-submenu {
	position:relative;
	z-index:1;
	width:100%;
	height:37px;
    /*border-bottom:1px dashed #9e9e9e;*/        
}

#floor-submenu .menu2 {
    position:relative;
    height: 1px;
    top:33px;
    background-image: url('//file3.funshop.co.kr/www/common/header/dot_line.png');
}

#floor-submenu .menu {
	position:relative;
	left:50%;
    margin-left:-276px;
    width: 960px;

}

#floor-submenu .menu li {
	float:left;
    border-left:1px solid #9e9e9e;
    padding-left:10px;
    padding-right:10px;
    line-height:6px;
    height:6px;
    margin-top:15px;
}


#floor-submenu .menu li:first-child {
	float:left;
    padding-left:10px;
    padding-right:10px;
    line-height:6px;
    height:6px;
    margin-top:15px;
    border-left:0px solid #9e9e9e;
}

#floor-submenu .menu li a{
    top:-15px;
    position:relative;
}

/********************************************* //header */

/********************************************* container */
#container {
	position:relative;
	width:960px;
	margin:60px auto 0 auto;
	padding-bottom:45px;
}
#container:after {
	clear:both;
	content:'.';
	display:block;
	overflow:hidden;
	visibility:hidden;
	height:0;
}
/********************************************* //container */

/********************************************* aside cart */
#aside-cart {
	position:fixed;
	top:0;
	right:0;
	z-index:100;
	width:84px;
	height:100%;
	padding:0 7px;
	border-left:1px solid #c2c9d1;
	background:#f4f4f4;
}
#aside-cart a:hover
{
	text-decoration:none;
}
#aside-cart h2 {
    margin: 0 0 0 -8px;
}
#aside-cart .cart-link 
{
	display:block;
	margin-top:12px;
	color:#4a6992;
	font-weight:bold;
	text-align:center;
}
#aside-cart .cart-link img
{
	display:block;
	width:72px; height:18px;
	margin:0 auto;
	margin-bottom:8px;
}
#aside-cart .recent-wrap {
	margin-top:5px;
	padding-top:12px;
	border-top:1px solid #eceef0;
	color:#4a6992;
	font-weight:bold;
	text-align:center;
}
#aside-cart .viewed-goods-link a
{
    line-height:35px;
	color:#4a6992;
}
#aside-cart .recent-list-wrap
{
    display:none;
}
#aside-cart .recent-list-wrap .recent-prd
{
    margin-top:10px;
}
#recent-goods-list li
{
    position:relative;
    margin:0 auto 7px;
    width:70px;
    height:70px;
}
#recent-goods-list img
{
    width:70px !important; height:70px !important;
    border:1px solid #e3e3e3;
}
#recent-goods-list .remove-viewed-goods
{
    display:block;
    width:9px; height:9px;
    position:absolute;
    z-index:1;
    right:0px; top:0px;
    background:#8a8a8a url(//file3.funshop.co.kr/www/common/button/btn_aside_del.gif) no-repeat 0 0;
}

#bookmark-goods-list
{    
    top:480px;
    left:19px;
    padding:32px 0 20px 7px;

}

#bookmark-goods-list li
{
    position:relative;
    margin:0 auto 3px;
    width:50px;
    height:30px;
}

#bookmark-goods-list .remove-bookmark
{
    display:block;
    width:14px; height:14px;
    position:absolute;
    z-index:1;
    right:0px; top:0px;
    background:#8a8a8a url(//file3.funshop.co.kr/www/common/icon/button_bm_del02.png) no-repeat 0 0;
}


#bookmark-goods-list .share-bookmark
{
    display:block;
    width:14px; height:14px;
    position:absolute;
    z-index:1;
    right:0px; top:14px;
    background:#8a8a8a url(//file3.funshop.co.kr/www/common/icon/button_bm_push02.png) no-repeat 0 0;
}

.remove-bookmark span { display:none; }
.share-bookmark span { display:none; }
.remove-viewed-goods span { display:none; }
/********************************************* //aside cart */

/********************************************* footer */
#footer {
	margin:0 auto;
}
#footer .footer-link {
	height:27px;
	padding-top:15px;
	letter-spacing:-4px;
	text-align:center;
    background-color:#2c3e50;
}
#footer .footer-link li {
	display:inline-block;
	margin-left:14px;
	padding-left:15px;
	background:url('//file3.funshop.co.kr/www/common/footer/bul_footer_link_section.gif') no-repeat 0 3px;
	letter-spacing:0;
	vertical-align:top;
	
}
#footer .footer-link li a:hover{
    text-decoration:none;
}
*+html #footer .footer-link li {
	display:inline;
}
#footer .footer-link li:first-child {
	margin:0;
	padding:0;
	background:none;
}
#footer .flogo {
	position:absolute;
	top:42px;
	left:30px;
}
#footer .fmark { position:absolute; top:28px; right:23px; width:55px; height:62px; }
#footer .footer-information {
	position:relative;
	height:250px;
	padding:26px 0 0 250px;
	border:1px solid #e2e2e2;
	background:#f9f9f9;
    width:710px;margin:0 auto;
}
#footer .footer-information p {
	margin-top:10px;	
}
#footer .footer-information p:first-child {
	margin:0;
}
/********************************************* //footer */

/* common contents */
.comm-border-box {
	border:1px solid #d3dae4;
}

.comm-border-box1 {
	border:0px solid #d3dae4;
}

.prd-list-type01 {
	width:972px;
	margin:0 0 -10px -12px;
	font-size:0;
	letter-spacing:-5px;
}
.prd-list-type01 li {
	display:inline-block;
	width:150px;
	margin-left:12px;
	padding-bottom:18px;
	font-size:12px;
	letter-spacing:0;
	vertical-align:top;
}
*+html .prd-list-type01 li {
	display:inline;
}
.prd-list-type01 a {
	text-decoration:none;
}
.prd-list-type01 .thumb {
	width:148px;
	height:148px;
	border:1px solid #d3dae4;
}
.prd-list-type01 .information {
	display:block;
	margin-top:12px;
	text-align:center;
}
.prd-list-type01 .spot {
	color:#464646;
}
.prd-list-type01 .desc {
	display:block;
	margin-top:9px;
	color:#9d9c9c;
	font-size:11px;
}
.prd-list-type01 del {
	display:block;
	margin-top:9px;
	color:#727272;
	font-size:11px;
}
.prd-list-type01 .price {
	display:block;
	color:#666;
}
.prd-list-type01 .discount {
	color:#8cb8c8;
}
.prd-list-type01 .stats {
	display:block;
	margin-top:6px;
}
.prd-list-type02-wrap {
	padding-bottom:18px;
}
.prd-list-type02-wrap .list-row {
	margin-top:15px;
	padding-top:16px;
	background:  url(//file3.funshop.co.kr/www/line_dot01.gif) repeat-x bottom left;
}
.prd-list-type02-wrap .list-row:first-child {
	border:0;
	margin:0;
}
.prd-list-type02 li {
	width:220px;
	margin-left:23px;
}
.prd-list-type02 li:after {
	clear:both;
	content:'.';
	display:block;
	overflow:hidden;
	visibility:hidden;
	height:0;
}
.prd-list-type02 .thumb  {
	float:left;
	width:210px;
	height:210px;
	border:0;
}
.prd-list-type02 .information {
	float:left;
	width:210px;
	margin-top:10px;
	text-align:left;
}
.prd-list-type03-wrap {
	padding:30px 0 15px 0;	
}
.prd-list-type03 {
	overflow:hidden;
	width:939px;
	margin-left:0px;
}
.prd-list-type03 li {
	width:280px;
	margin:-13px 0 0 30px;
	padding:13px 0 26px 0;
	border-top:1px dotted #c0c0c0;
}
.prd-list-type03 li:after {
	clear:both;
	content:'.';
	display:block;
	overflow:hidden;
	visibility:hidden;
	height:0;
}
.prd-list-type03 .thumb  {
	float:left;
	width:280px;
	height:280px;
	border:0;
}
.prd-list-type03 .information {
	float:right;
	width:280px;
	margin-top:10px;
	text-align:left;
}
.prd-list-type03 .price {
	color:#464646;
	font-size:11px;
	font-weight:normal;
}
.prd-list-type03 .discount {
	color:#464646;
}
/* //common contents */

/********************************************* main */
.main-varidesk {
	position:absolute;
	top:-23px;
	padding:1px 0 0 5px;
	font-size:11px;
}
    
.todays-hot {
	position:absolute;
	top:-23px;
	right:0;
	padding:1px 0 0 95px;
	background:url('//file3.funshop.co.kr/www/common/icon/icon_todays_hot.gif') no-repeat;
	font-size:11px;
}
.main-article01 {
	position:relative;
	width:100%;
}
.main-article01 .sopt-roll-cont {
	position:relative;
	float:left;
	width:544px;
	height:332px;
}
.main-article01 .remote {
	position:absolute;
	bottom:10px;
	left:0;
	z-index:2;
	width:100%;
	text-align:center;
}
.main-article01 .remote li {
	display:inline-block;
}
*+html .main-article01 .remote li {
	display:inline;
}
.main-article01 .roll-view {
	width:544px;
	height:332px;
}
.main-article01 .roll-view li {
	float:left;
}
.main-article01 .banner-prev,
.main-article01 .banner-next {
	position:absolute;
	top:152px;
}
.main-article01 .banner-prev {
	left:13px;
}
.main-article01 .banner-next {
	right:13px;
}
.sopt-roll-cont02 {
	position:relative;
	float:left;
	width:208px;
	height:332px;
}
.sopt-roll-cont02 .roll-view {
	position:absolute;
	top:-1px;
	left:0;
	width:208px;
}
.sopt-half-banner {
	overflow:hidden;
	float:left;
	width:206px;
	height:332px;
}
.sopt-half-banner div {
	border-top:1px solid #d3dae4;
}
.sopt-half-banner div:first-child {
	border:0;
}
.complex-contents-wrap .mondrian {
	float:left;
	width:474px;
}
.complex-contents-wrap .complex-contents {
	float:right;
	width:;
}
.complex-contents-wrap .complex-contents .banner-area {
	padding-bottom:10px;
}
.complex-contents-wrap .prd-list-type01 {
	width:486px;
}
.funshop-board-wrap div {
	position:relative;
	float:left;
	width:453px;
	padding:16px 0 18px 26px;
	border-left:1px solid #d3dae4;
}
.funshop-board-wrap div:first-child {
	width:452px;
	border:0;
}
.funshop-board-wrap div .list {
	margin-top:26px;
}
.funshop-board-wrap div .list li {
	position:relative;
	width:418px;
	margin-top:6px;
}
.funshop-board-wrap div:first-child .list li {
	width:308px;
	padding-left:20px;
	background:url('//file3.funshop.co.kr/www/common/icon/bul_arrow_right.gif') no-repeat 5px 3px;
}
.funshop-board-wrap div .list li:first-child {
	margin:0;
}
.funshop-board-wrap div .list li a .review {
	display:inline-block;
	width:142px;
	color:#768aa7;
}
*+html .funshop-board-wrap div .list li a .review {
	display:inline;
}
.funshop-board-wrap div .list .regist {
	position:absolute;
	top:0;
	right:0;
	color:#868686;
	font-size:11px;
}
.funshop-board-wrap .more {
	position:absolute;
	top:15px;
	right:34px;
}
.funshop-notice-wrap div {
	float:left;
	height:150px;
	border-left:1px solid #d3dae4;
}
.funshop-notice-wrap .area01 {
	width:238px;
	height:270px;
	padding:17px 14px 0 14px;
	border:0;
}
.funshop-notice-wrap .area01 .list {
	margin-top:27px;
    height:190px;
}
.funshop-notice-wrap .area01 .list li {
	width:201px;
	margin-top:6px;
	padding-left:20px;
	background:url('//file3.funshop.co.kr/www/common/icon/bul_arrow_right.gif') no-repeat 5px 3px;
}
.funshop-notice-wrap .area01 .list li:first-child {
	margin:0;
}

.funshop-notice-wrap .area02 {
	width:161px;
	height:132px;
	padding:18px 11px 0 11px;
}
.funshop-notice-wrap .area02 li {
	border-top:1px dotted #b4aca0;
}
.funshop-notice-wrap .area02 li:first-child {
	border:0;
}
.funshop-notice-wrap .area03 {
    margin-top:8px;
	width:259px;
    height:270px;
}
.funshop-notice-wrap .area03 img{
    margin-top:10px;
    margin-left:5px;
}
.funshop-notice-wrap .area04 {
    margin-top:8px;
	width:416px;
    height:270px;
}
.funshop-notice-wrap .area04 img{
    margin:10px 0 0 12px;
}
.funshop-notice-wrap .area04 ul {
	margin-left:10px;
    width:416px;
}
.funshop-notice-wrap .area04 li {
	float:left;
    padding-right:8px;
    padding-top:12px;
	/*margin-top:27px;
	padding-left:9px;*/
	/*background:url('//file3.funshop.co.kr/www/common/icon/bul_square.gif') no-repeat 0 4px;*/
}
.community-contents {
	border-bottom:1px solid #e3e3e3;
}
.community-contents li {
	float:left;
	width:239px;
	min-height:240px;
	padding-bottom:12px;
	border-right:1px solid #e3e3e3;
	text-align:center;
}
.community-contents li:first-child {
	width:238px;
	border-left:1px solid #e3e3e3;
}
.community-contents li h3 {
	margin-bottom:4px;
}
.community-contents li .thumb {
	display:block;
	width:230px;
	height:170px;
	margin-bottom:5px;
	margin:0 auto;
}



.prd-list-type00 {
	width:972px;
	margin:0 0 -10px -12px;
	font-size:0;
	letter-spacing:-5px;
}
.prd-list-type00 li {
	display:inline-block;
	width:150px;
	margin-left:12px;
	padding-bottom:10px;
	font-size:12px;
	letter-spacing:0;
	vertical-align:top;
}
*+html .prd-list-type01 li {
	display:inline;
}
.prd-list-type00 a {
	text-decoration:none;
}
.prd-list-type00 .thumb {
	width:148px;
	height:148px;
	border:1px solid #d3dae4;
}
.prd-list-type00 .information {
	display:block;
	margin-top:12px;
	text-align:center;
}
.prd-list-type00 .spot {
	color:#464646;
}
.prd-list-type00 .desc {
	display:block;
	margin-top:6px;
	color:#9d9c9c;
	font-size:11px;
}
.prd-list-type00 del {
	display:block;
	margin-top:6px;
	color:#727272;
	font-size:11px;
}
.prd-list-type00 .price {
	display:block;
	color:#666;
}
.prd-list-type00 .discount {
	color:#8cb8c8;
}
.prd-list-type00 .stats {
	display:block;
	margin-top:6px;
}

.complex-contents-wrap .rows {
	float:left;
	width:972px;
}
.complex-contents-wrap .rows02 {
	margin-top;30px;
	float:left;
	width:972px;
}


.funtenna-contents {
}
.funtenna-contents li {
	float:left;
	width:479px;
}
.funtenna-contents li:first-child {
	width:480px;
}


.funtenna-contents li.right {
	float:left;
	border-top:1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	padding-bottom:9px;
}

.admin-link
{
    display:inline-block;
    padding:0;
    margin:0;
    margin-left:-3px;
    width:16px;
    height:16px;
    line-height:16px;
    background:transparent url(/Content/images/pop.png) no-repeat center center;
}

/* toastr 덮어쓰기 */
.toast-success
{
    background-color: #363eca !important;
}

.toast-error
{
    background-color: #de3a50 !important;
}

.toast-info
{
    background-color: #3775d0 !important;
}

.toast-warning
{
    background-color: #e25c3b !important;
}

.toast-top-right
{
    right: 92px !important;
}


/********************************************* //main */

.nowrap {
    white-space: nowrap;
}