﻿@charset 'utf-8';

* {margin:0; padding:0; list-style:none; font-style:normal;}
h1,h2,h3,h4,h5,h6 {font-size:1%; line-height:0;}
table, th, td {border-collapse:collapse;}
caption {display:none;}
body {
	position:relative;
	color:#767676;
	font-family:'돋움',dotum,sans-serif;
	font-size:12px;
	line-height:1.3;
}
img {margin:0; padding:0; border:0; vertical-align:middle}
hr, legend {display:none;}
.hidden{display:none;}
a {color:#464646; text-decoration:none;}
a:hover {text-decoration:underline;}
a:active,a:visited {text-decoration:none;}
fieldset{border:0;}
button{margin:0; padding:0; border:0; cursor:pointer; }
input.txt {height:21px; padding:2px 0 0 4px; border:1px solid #ccc; font-family:'돋움',dotum,sans-serif; line-height:23px;}
/* :root input.txt { */
select {
	font-size:12px;
	font-family:'돋움',dotum,sans-serif;
	height:23px; margin-left:5px;  border:1px solid #ccc; padding:2px 2px 2px 4px;
}
input.check {
	width:13px;
	height:13px;
	vertical-align:middle;
}
textarea {
	padding:2px 0 0 4px;
	border:1px solid #ccc;
	font-size:12px;
	font-family:'돋움',dotum,sans-serif;
}

.fleft {float:left;}
.fright {float:right;}
/* float content after */
.clear-obj {position:relative; width:100%;}
.clear-obj:after {clear:both; content:'.'; display:block; overflow:hidden; visibility:hidden; height:0;}
/* //float content after */

/* replace content */
.replace-contents-wrap {position:relative; width:100%;}
.replace-contents-wrap .target-img {position:relative; z-index:2;}
.replace-contents-wrap .return-text {overflow:hidden; position:absolute; top:0; left:0; width:1%; height:1%; text-indent:100%; white-space:nowrap;}
.hidden-text {overflow:hidden; position:absolute; top:0; left:0; width:1%; height:1%; text-indent:100%; white-space:nowrap;}
/* //replace content */

/* margin set */
.subsection5 {margin-top:5px !important;}
.subsection10 {margin-top:10px !important;}
.subsection13 {margin-top:13px !important;}
.subsection15 {margin-top:70px !important;}
.subsection15_1 {margin-top:20px !important;}
.subsection17 {margin-top:17px !important;}
.subsection18 {margin-top:10px !important;}
.subsection19 {margin-top:19px !important;}
.subsection20 {margin-top:20px !important;}
.subsection21 {margin-top:21px !important;}
.subsection23 {margin-top:10px !important;}
.subsection25 {margin-top:18px !important;}
.subsection28 {margin-top:28px;margin-bottom:6px !important;}
.subsection30 {margin-top:30px;margin-bottom:6px !important;}
.subsection35 {margin-top:35px !important;}
/*.subsection38 {margin-top:38px !important;}*/
.subsection40 {margin-top:40px !important;}
.subsection43 {margin-top:43px !important;}
.subsection48 {margin-top:48px !important;}
.subsection50 {margin-top:50px !important;}
.subsection55 {margin-top:55px !important;}
.subsection56 {margin-top:56px !important;}
.subsection60 {margin-top:60px !important;}
/* //margin set */