@font-face {
    font-family: "jRegular";
    src: url("fonts/segoe-regular.woff") format('woff');
    font-weight: bold;
}
@font-face {
    font-family: "jSemiBold";
    src: url("fonts/segoe-semibold.woff") format('woff');
    font-weight: bold;
}
@font-face {
  font-family: "jBold";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

body {
	font-size: 10pt;
	color: #1E1E1E;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Arial;
	background:#e9e9e9;	/* fff */
	line-height:20px;
}
a {
	text-decoration:none;
	color: #1558cd;
}
a:hover {
	text-decoration: underline;
	color: #002E59;
}
.gray {
	color:gray;
}
.gray_small {
	color:gray;
	font-size:13px;
	font-family:tahoma,verdana,arial;
}
h1 {
	color: #e16050;
	font-size: 24px;
	font-weight: normal;
	margin-top: 0px;
}
h2 {
	background-color:#E9F1F8;
	color:#1E5C89;
	font-size:14px;
	padding:5px;
	border-bottom:1px solid #AAC1D4;
}
h3 {
	color:#1E5C89;
	font-size:14px;
	padding:5px 0px 5px 0px;
	border-bottom:1px solid #AAC1D4;
}
h4 {
	color:#1E5C89;
	font-size:14px;
	padding:5px 0px 5px 0px;
	border:0px;
	padding-bottom:0px;
	margin-bottom:3px;
}


.home_title {
	color: #000;
	text-shadow: 0px 2px 2px #D7D2D2;
	font-size:38px;
	font-weight:600;
	padding-top:15px;
}
.home_sbtitle {
	color: #7D7D7D;
	font-size:18px;
	text-shadow: 0px 1px 1px #E5E3E3;
	padding-top:5px;
}
.employer_services_home {
	background-color: #fff;
	font-family:Arial,Century Gothic;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	padding: 7px 11px 7px 11px;
	font-size: 12px;
	font-weight:bold;
	color:#16861B;
}
a.employer_services_home_link {
	text-decoration:none;
	color:#16861B;
}
a.employer_services_home_link:hover {
	text-decoration:underline;
}
.sfondo_home {
	background: -webkit-gradient(linear, left top, left bottom, from(#B1CFF0), to(#ffffff));
	background: -moz-linear-gradient(top, #B1CFF0, #ffffff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B1CFF0', endColorstr='#ffffff');
	border-bottom: 1px solid #D2E2F4;
}
.sfondo_sr {
	background: -webkit-gradient(linear, left top, left bottom, from(#E6EFF4), to(#F4F8FA));
	background: -moz-linear-gradient(top, #E6EFF4, #F4F8FA);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6EFF4', endColorstr='#F4F8FA');
	border-bottom: 1px solid #D2E2F4;
}
.sfondo_home_bottom {
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F9F7F7));
	background: -moz-linear-gradient(top, #ffffff, #F9F7F7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F9F7F7');
	padding:5px;
}
.textGray {
	color: #666680;
	text-align:right;
	padding-right:12px;
}
.minilinkbottom {
	font-size:11px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	color:#9C9A9A;
}
a.minilinkbottom {
	text-decoration:none;
	padding-left:15px;
	padding-right:15px;
}
a.minilinkbottom:hover {
	text-decoration:underline;
}
.world {
	background: url(../img/iWorld.gif) no-repeat;
	padding-right:38px;
	padding-bottom:15px;
}
.email {
	background: url(../img/email.gif) no-repeat left center;
	padding-left: 20px;
}
a.email {
	text-decoration:underline;
}
a.email:hover {
	text-decoration:underline;
	color:#37891E;
}
.divEmail {
	border:1px solid #C7D9E6;
	padding:8px;
	background-color:#C9DFEF;
}
.rounded {
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
}
.boxDxSr_content {
	font-family:Arial,Tahoma;
	background-color:#E3EAF0;
	padding:8px;
}
.boxDxSrEmail_content {
	font-family:Arial,Tahoma;
	background-color:#EFEFEF;
	padding:8px;
}
.boxDxSr_title {
	font-family:'Open Sans',Arial,Tahoma;
	border-bottom:1px solid #AEC4D3;
	padding-bottom:5px;
}
.rigaAlert {
	border-bottom:1px solid #AEC4D3;
	height:25px;
	padding:4px;
}
.rigaAlertTitle {
	border-bottom:2px solid #AEC4D3;
	height:25px;
	background-color:#EAE7E7;
	padding:4px;
}
.rigaAlertTitleOver {
	height:35px;
	padding:8px;
}
.footerTxt {
	font-size:11px;
	font-family:Arial,Tahoma;
	color:#9F9F9F;
	padding:10px;
	background-color:#F6F5F5;
}
.srWidth {
	width:90px;
	margin-left:auto;
	margin-right:auto;
	min-width:900px;
}
.srSuperTop {
	height:5px;
	/*background-color:#05406A;
	background-color:#DBDDDA;*/
	background-color:#fff;
}
.srSx {
	margin-right:10px;
	font-family:Arial;
	
	line-height: 15px;
	font: 12px Arial;
	color: #484848;
	background-color: #F7F5F5;
	padding:1px;
	border: 1px solid #CBCACA;
}
.srCenter {
	font-family:Arial;
	background-color:white;
	padding:15px;
	-webkit-border-radius: .8em;
	-moz-border-radius: .8em;
	border-radius: .8em;
}
.srCenterNoSr {
	font-family:Arial;
	padding-right:15px;
}
.srCenterTemplate {
	padding-right:15px;
}
.srDx {
	margin-left:10px;
}
.barSrLabel {
	font-size:11px;
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
	color: #3b5998;
	font-weight: bold;
}
.srTopPadding {
	padding-left:15px;
}
.srTop {
	border-bottom:1px solid #B3C7D6;
	height:38px;
	font-size:13px;
	font-family:Arial;
}
.srTop_NoLink {
	font-weight:bold;
	padding-right:20px;
}
a.srTop_Link {
	text-decoration:none;
	padding-right:20px;
}
a.srTop_Link:hover {
	text-decoration:underline;
	color:#083250;
}

.sfondo2 {
	background: url(../img/sfondi_home/sf1.png); /*background: url(../img/sfondi_home/MP900433147.JPG) no-repeat top center;
	-moz-background-size: cover;
        -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
	background-position: top center;
	background-repeat: no-repeat;
}
.img_home {
	border:1px solid #fff;
	padding:4px;
}
.img_home:hover {
	border:1px solid #1E5C89;
}
.grigioSmall {
	color:#2F2C2C;
	font-size:10px;
	font-family:Arial;
}
a.grigioSmall{
	text-decoration:none;
	padding-left:10px;
}

.top_home_white{
	color:#fff;
}
a.top_home_white{
	color:#fff;
	text-decoration:none;
	padding:0px 11px 0px 11px;
}
a.top_home_white:hover{
	color:#F2F2F2;
	text-decoration:underline;
}
.linkHome_underInput {
	margin-left:1px;
	padding: 10px 10px 0px 10px;
}
a.linkHome_underInput {
	text-decoration:none;
	color:#1E5C89;
}
a.linkHome_underInput:hover {
	text-decoration:underline;
}
.linkHome_underInput_item {
	margin-left:1px;
	padding-left:5px;
}
a.linkHome_underInput_item {
	text-decoration:none;
	color:#6D7072;
}
a.linkHome_underInput_item:hover {
	text-decoration:underline;
}

.input_txt_home {
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	outline: none;
	text-decoration: none;
	font-size: 17px;
	font-weight:bold;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	padding: 5px 10px 5px 10px;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	border: solid 1px #BBB8B5;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#FBFBFB));
	background: -moz-linear-gradient(top, #ffffff, #FBFBFB);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#FBFBFB');
	background: #fff;
	border: 1px solid #bdc7d8;
}


.input_txt_sr_small {
	display: inline-block;
	zoom: 1;
	*display: inline;
	outline: none;
	text-decoration: none;
	font-size: 12px;
	/*color: #444343;*/
	font-family: Arial;
	padding: 5px 3px 5px 3px;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	border: solid 1px #BBB8B5;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#FBFBFB));
	background: -moz-linear-gradient(top, #ffffff, #FBFBFB);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#FBFBFB');
}
.button_green_small {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	margin: 1px 2px 0;
	outline: none;
	cursor: pointer;
	text-align: center;
	font-size: 12px;
	color: #fff;
	font-family: Arial;
	padding: 3px 6px 3px 6px;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	border: solid 1px #5BA641;
	background: -webkit-gradient(linear, left top, left bottom, from(#6CB653), to(#28740E));
	background: -moz-linear-gradient(top, #6CB653, #28740E);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6CB653', endColorstr='#28740E');
}
.button_green_small:hover {
	text-decoration: none;
	background: #EB8123;
	background: -webkit-gradient(linear, left top, left bottom, from(#60A747), to(#2C6E15));
	background: -moz-linear-gradient(top, #60A747, #2C6E15);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60A747', endColorstr='#2C6E15');
}
.button_green_small a:hover {border: none; text-decoration: none}
.button_green_small.rounded {-moz-border-radius: 2em; -webkit-border-radius: 2em; border-radius: 2em}

.button_home {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	margin: 0px 2px 0;
	outline: none;
	cursor: pointer;
	text-align: center;
	font-size: 15px;
	color: #fff;
	font-family: Arial;
	font-weight:bold;
	padding: 7px 15px 7px 15px;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	border: solid 1px #CECAC7;
	background: -webkit-gradient(linear, left top, left bottom, from(#6CB653), to(#28740E));
	background: -moz-linear-gradient(top, #6CB653, #28740E);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6CB653', endColorstr='#28740E');
}
.button_home:hover {
	text-decoration: none;
	background: #EB8123;
	background: -webkit-gradient(linear, left top, left bottom, from(#60A747), to(#2C6E15));
	background: -moz-linear-gradient(top, #60A747, #2C6E15);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60A747', endColorstr='#2C6E15');
}
.button_home a:hover {border: none; text-decoration: none}
.button_home.rounded {-moz-border-radius: 2em; -webkit-border-radius: 2em; border-radius: 2em}



.button_gray {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	margin: 1px 2px 0;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	color: #444343;
	font-family: 'Open Sans',Arial;
	font-weight:600;
	padding: 10px 23px 10px 23px;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	border: solid 1px #CECAC7;
	background: -webkit-gradient(linear, left top, left bottom, from(#FAF9F9), to(#DBD8D8));
	background: -moz-linear-gradient(top, #FAF9F9, #DBD8D8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAF9F9', endColorstr='#DBD8D8');
}
.bsmall {
	font-size:11px;
	padding: 6px 15px 6px 15px;
}
.button_gray:hover {
	text-decoration: none;
	background: #EB8123;
	background: -webkit-gradient(linear, left top, left bottom, from(#ECE9E9), to(#DCD7D7));
	background: -moz-linear-gradient(top, #ECE9E9, #DCD7D7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ECE9E9', endColorstr='#DCD7D7');
}
.button_gray a:hover {border: none; text-decoration: none}
.button_gray.rounded {-moz-border-radius: 2em; -webkit-border-radius: 2em; border-radius: 2em}
/*
input[type="submit"] {
	padding: 9px 21px 9px 21px;
}*/






.divError {
	background-color: #FEE5CB;
	border:1px solid #D8786B;
	text-shadow: 0px 1px 1px #E3E0E0;
	padding:10px;
	-webkit-border-radius: .49em;
	-moz-border-radius: .49em;
	border-radius: .49em;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.divOk {
	background-color: #E4FECB;
	border:1px solid #A6D86B;
	text-shadow: 0px 1px 1px #E3E0E0;
	padding:10px;
	-webkit-border-radius: .49em;
	-moz-border-radius: .49em;
	border-radius: .49em;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.divAvviso {
	background-color: #FEFCCB;
	border:1px solid #EDE866;
	text-shadow: 0px 1px 1px #E3E0E0;
	padding:10px;
	-webkit-border-radius: .49em;
	-moz-border-radius: .49em;
	border-radius: .49em;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.divAzzurro {
	background-color: #E2F1FB;
	border:1px solid #B4D3E8;
	text-shadow: 0px 1px 1px #E3E0E0;
	padding:10px;
	-webkit-border-radius: .49em;
	-moz-border-radius: .49em;
	border-radius: .49em;
	background: -webkit-gradient(linear, left top, left bottom, from(#F2F6FB), to(#DAE4F2));
	background: -moz-linear-gradient(top, #F2F6FB, #DAE4F2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F6FB', endColorstr='#DAE4F2');
}
.divGrigio {
	background-color: #ECEDED;
	border:1px solid #DDDDDD;
	text-shadow: 0px 1px 1px #E3E0E0;
	padding:10px;
	-webkit-border-radius: .49em;
	-moz-border-radius: .49em;
	border-radius: .49em;
	background: -webkit-gradient(linear, left top, left bottom, from(#F3F2F2), to(#E3E3E3));
	background: -moz-linear-gradient(top, #F3F2F2, #E3E3E3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F2F2', endColorstr='#E3E3E3');
}
a.divLink {
	text-decoration:underline;
}
a.divLink:hover {
	text-decoration:underline;
	color:#3E8426;
}
.sidebar_sin_TOP {
	padding: 10px;
	margin:1px;
	font-size:14px;
	font-weight:bold;
	background-color:#DFDDDD;
	text-shadow: 0px 1px 1px #C6C5C5;
}
.sidebar_des_TOP {
	padding: 10px;
	margin:1px;
	font-size:14px;
	font-weight:bold;
	text-shadow: 0px 1px 1px #C6C5C5;
	background-color:#DE7314;
	color:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#EDB058), to(#F4630B));
	background: -moz-linear-gradient(top, #EDB058, #F4630B);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDB058', endColorstr='#F4630B');
}
.sidebar_sin_CONTENT {
	padding: 10px;
	position:relative;
}
table.tableNoOverWhite {
	font-size:12px;
}
table.tableNoOverWhite tr{
	margin-top:30px;
	margin-bottom:30px;
	padding-top:30px;
	padding-bottom:30px;
}
table.tableNoOverWhite tr:hover{
	background-color:#fff !important;
}
.tableNoOverRiga{
	border-left:0px solid #C2D5AF  !important;
}
.tableNoOverRigaNoBianco{
	/*background-color:#EAEAEA !important;*/
	border-left:0px solid #C2D5AF  !important;
}
.os_hr {
	border-top: 0px solid #e1e1e0;
	border-left: 0px solid #e1e1e0;
	border-right: 0px solid #e1e1e0;
	border-bottom: 1px solid #e1e1e0;
	height: 1px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:10px;
}
.os_title {
	font-size:14px;
	color:#394F71;
	margin-left:-1px;
	font-weight:bold;
	/*text-shadow: 0px 1px 1px #C8C6C6;*/
}
a.os_title:hover {
	text-decoration:none;
	color:#464545;
}
.os_separat {
	padding-left:9px;
	padding-right:9px;
	color:#B0AFAF;
}
.os_sub {
	font-size:12px;
}
.newoffer {
	margin-left:10px;
	padding:3px 7px 3px 7px;
	color:#E47B00;
	font-size:12px;
	background-color:#FBFAD9;
}
.sidebar_sin_allineadx {
	text-align: right;
	vertical-align: middle;
	padding:0px;
	margin:0px;
	position:absolute;
	right:3px;
	top:2px;
}
.sidebar_sin_allineadxgray {
	text-align: right;
	vertical-align: middle;
	padding:0px;
	margin:0px;
	position:absolute;
	right:3px;
	top:2px;
	color:#a0a0a0;
	font-size:11px;
}
.sideOrange {
	font-size:11px;
	color:#E06F0A;
	font-weight:bold;
}
span.linkmenusin {
	cursor:pointer;
	color:#5B5959;
}span.linkmenusin:hover{
	color: #1d81c1;
	text-decoration: underline;
	background-image: url('../img/icone/mini_icons/pencil_mio.png');
	background-position: right;
	background-repeat: no-repeat;
}
.buttonCV {
	font-size: 11px;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	cursor:pointer;
	margin:5px 0px 5px 0px;
	background-color:#FFFFD1;
}
a.buttonCV:hover {
	background-color: #D3D3CC;
	color:#707066;
	cursor:pointer;
	text-decoration:none;
}
.linklike {color: #1d81c1; text-decoration: none; cursor:pointer}
.linklike:hover {text-decoration:underline}
.cv_addimage{
	background:rgba(100,100,100,0.8);
	color:white;
	white-space: nowrap;
	text-align: center;
	cursor:pointer;
	text-decoration:underline;
	position:relative;
	top:-20px;
}
.cv_addimage:hover{
	background:rgba(0,0,0,0.8);
}


/* --------------------------------------------------------------------------
Buttons
*/
.button, a.button {
    border-image: initial;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
	 display:inline-block;
    background-color: #09c;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2faddb), to(#09c));
    background-image: -webkit-linear-gradient(top, #2faddb, #09c);
    background-image: -moz-linear-gradient(top, #2faddb, #09c);
    background-image: -ms-linear-gradient(top, #2faddb, #09c);
    background-image: -o-linear-gradient(top, #2faddb, #09c);
    background-image: linear-gradient(top, #2faddb, #09c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2faddb', EndColorStr='#0099cc',GradientType=0);
    border: 1px solid #3990ab;
    color: #fff;
}
.button {
	font: 14px/19px Roboto, sans-serif;
	margin-right: 16px;
	font-weight: 400;
	min-width: 54px; /*min-height: 34px;*/
	outline: 0;
	padding: 10px 15px 10px;
	text-align: center;
	vertical-align: middle;
}
a.button, a.button:visited {
    font-weight: 400;
    min-width: 54px;
    outline: 0;
    padding: 8px 15px;
    text-align: center;
}
.button:hover, a.button:hover {
    border-color: #09c;
    background-color: #4cadcb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5dbcd9), to(#4cadcb));
    background-image: -webkit-linear-gradient(top, #5dbcd9, #4cadcb);
    background-image: -moz-linear-gradient(top, #5dbcd9, #4cadcb);
    background-image: -ms-linear-gradient(top, #5dbcd9, #4cadcb);
    background-image: -o-linear-gradient(top, #5dbcd9, #4cadcb);
    background-image: linear-gradient(top, #5dbcd9, #4cadcb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5dbcd9',
EndColorStr='#4cadcb',GradientType=0);
    color: #fff !important;
	 text-decoration: none;
}
.button:active, a.button:active {
    background-color: #1e799a;
    background-image: none;
    border-color: #30b7e6;
}
.avviso {
	background: #FFE860;
	padding: 10px;
	font-family: Lucida Sans, Arial;
	font-size: 12px;
	color: #575756;
	border-left: 3px solid #FFDB09;
	background-position: right;
	background-repeat: no-repeat;
	padding-top: 10px;
	margin-bottom: 2px;
	margin-top: 10px;
}
.suggerimento {
	background: #F3F2CE;
	padding:10px;
	font-family: Lucida Sans, Arial;
	font-size:12px;
	color:#575756;
	border-left:3px solid #DCD09D;
	background-position: right;
	background-repeat: no-repeat;
	padding-top:10px;
	margin-bottom:2px;
	margin-top:10px;
}
.redText {
	color:red;
}
.div_first_row {
	padding:15px 8px 15px 8px;
	border-bottom:1px solid #e5e5e5;
	background:#f0f0f0;
	font-size:12.5px;
	font-weight:bold;
}
.divContentWww {
	width:80%;
	border:0px solid red;
	text-align:left;
	padding:10px 0px 20px 0px;
}
.div_nonfirst_row {
	padding:2px 8px 2px 8px;
	font-size:12.5px;
}
.div_row_center {
	width:90%;
	margin-right:auto;
	margin-left:auto;
	border:0px solid green;
}
.content_box_space {
	width:10px;
}
.content_box {
	border: 0px solid red;
	padding:10px 10px 10px 10px;
	padding:30px;
	background:#fff;
}
.content_box_srbox_nopadding {
	border: 0px solid red;
	background:#fff;
}
.content_box_srbox_nopadding a {
	text-decoration: none;
}
.content_box_sr {
	border: 0px solid red;
}
.content_box_adv {
	border: 0px solid red;
}
.div_white_box {
	background:#fff;
	border: 0px solid #e0e0e0;
	padding-top:5px;
	padding-bottom:6px;
	box-shadow: rgb(153, 153, 153) 1px;
}
.div_nowhite_box {
	border: 0px solid red;
	padding:5px 10px 5px 10px;
	box-shadow: rgb(153, 153, 153) 1px;
}
.div_nowhite_box_adv {
	padding-top:5px;
	padding-bottom:6px;
	text-align:center;
	font-size:15px;
	box-shadow: rgb(153, 153, 153) 1px;
}
.alert {
	box-shadow: rgb(153, 153, 153) 1px;
	background-color: rgb(221, 240, 248);
	padding-top:10px;
	padding-bottom:10px;
	font-weight:normal;
	color: rgb(0, 102, 153);
	margin-bottom:10px;
}
.alert p {
	margin:0px;
	padding:0px;
	padding-left:48px;
}
.info {
	background-image:url(../img/icone/used/msg_box.png);
	background-position: 7px center;
	background-repeat: no-repeat;
	background-color:#ddf0f8;
	color: rgb(0, 102, 153);
}
.error {
	background-image:url(../img/icone/used/msg_error.png);
	background-position: 7px center;
	background-repeat: no-repeat;
	background-color:#ffeeee;
	color:red;
}
.error_input {
	color:red;
	padding-left:10px;
}
.success {
	background-image:url(../img/icone/used/msg_success.png);
	background-position: 7px center;
	background-repeat: no-repeat;
	background-color:#e6f8dd;
	color:green;
}
a.adv_txt {
	color: #069;
	text-decoration:underline;
}
.div_others_row {
	padding-left:8px;
	padding-right:8px;
	font-size:12.5px;
}
.div_center_content_row {
	padding-left:18px;
	padding-right:8px;
	font-size:12.5px;
	padding-top:7px;
	padding-bottom:7px;
}

.space_padding {
	padding-left:10px;
	padding-right:10px;
}
.div_search_row {
	padding: 8px;
	border-bottom: 0px solid #d0d0d0;
	font-size: 12.5px;
	background: #fff;
}
.suggerim_search {
	color: #999;
	padding-left: 5px;
	font-size:11px;
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
}
.pagename {
	color:gray;
	font-weight:bold;
}
.endLine {
	border-top:1px solid #f0f0f0;
}
.sr_num_offerte {
	text-align:right;
	font-size:11px;
	color:gray;
	border:0px solid red;
	margin-top:-15px;
	padding-top:5px;
	padding-bottom:5px;
}
.bkgr_home_bottom {
	background:#f0efef;
}
.TabbedPanelsContentGroup a {
	text-decoration:none;
	line-height:16px;
	font-size:12px;
}
.TabbedPanelsContentGroup a:hover {
	text-decoration:none;
	color:#000;
}
.inputHome {
	font-size:22px;
	font-weight:normal !important;
}
.div_last_search_home {
	margin:50px;
	width:300px;
	text-align:left;
	font-size:12px;
	line-height:19px;
}
.div_last_search_home a {
	text-decoration:none;
}
.div_qnt_jobs {
	margin:30px;
	width:500px;
	text-align:center;
	font-size:12px;
	line-height:19px;
}


/*---taken from j2m-crawlers---*/
input[type="text"] {
	padding:1px;
	border:1px solid #CBC9C9;
	background-color:#FDFDFA;
	color:#2C2B2A;
	font-size:13px;
	font-family: Arial;
	height:23px;
	padding-left:5px;
	padding-right:5px;
	margin-bottom:2px;
	border-bottom:2px solid #CBC9C9;
}
input[type="password"] {
	padding:1px;
	border:1px solid #CBC9C9;
	background-color:#FDFDFA;
	color:#4F4B49;
	font-size:13px;
	font-family: Arial;
	height:23px;
	padding-left:5px;
	padding-right:5px;
	margin-bottom:2px;
}

textarea {
	padding:3px;
	border:1px solid #c0c0c0;
	color:#2C2B2A;
	font-size:13px;
	font-family: Arial;
	margin-bottom:2px;
	border-bottom:2px solid #CBC9C9;
}


input.over {
    background-color: red;
    color: #000000;
}

input.out {
    background-color: #dd00dd;
    color: #000000;
}
select {
	
	padding: 2px;
	border: 1px solid #c0c0c0;
	color:#2C2B2A;
	font-size:13px;
	font-family: Arial;
	margin-bottom:2px;
	border-bottom:2px solid #CBC9C9;
}
fieldset {
	background-color: #F9F8F8;
	text-decoration: none;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	margin-top:4px;
	padding-top:6px;
	border:1px solid #f9F8F8;
}
legend {
	color: #675D58;
	font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.dettaglio-paese {
	font-family:jRegular,Arial,Tahoma;
	font-size:19px;
	padding-top:15px;

}
@media screen and  ( max-width: 640px ) {
	.dettaglio-paese {
		font-size:23px;
		padding-top:22px;
		padding-left:10px;
		padding-right:10px;
	}

}
.header
{
	padding-top:10px;
	padding-bottom:20px;
}

.menu
{
	list-style:none;
	display:table;
	margin:0;
	padding:0;
	font-family: 'RobotoDraft',Arial,Tahoma;
}
.menu li
{
	display:table-cell;
	float:left;
	margin-right:20px;
	padding-bottom:10px;
}

.menu a 
{
	color: #848484;
	font-size:14px;
}

.menu a:hover
{
	color:#4285f4 ;
}


.menu .selected
{
	color: #444;
	font-weight:bold;
}
.menu .selected li
{
	border-bottom:2px solid #4285f4;
}

.privacy-page h1
{
	font-size:32px;
	margin-top:30px;  
	line-height:35px;
}
.privacy-page h2
{
	font-size:24px;
	border-bottom:0;
	color:#444;
	background:#fff;
	margin-top:30px;  
	font-weight:normal;
	line-height:28px;
}
.privacy-page p
{
	color:#666;
	font-size:15px;
	font-family: 'RobotoDraft',Arial,Tahoma;
	line-height:24px;

}

.privacy-page ul li p 
{
	margin:2px;
}

@media screen and  ( max-width: 1280px ) {
	table{
		width:80%;
		margin:auto;
	}

}



@media screen and  ( max-width: 1024px ) {
	table{
		width:100%;
	}

}

@media screen and  ( max-width: 640px ) {
	.header
	{
		text-align:center;
	}
	.header img
	{
		width:50%;
		max-width:250px;
	}
	
	.privacy-page h1
	{
		text-align:center;
	}
	.privacy-page h2
	{
		text-align:center;
	}
	.menu
	{
		margin:auto;
	}
	.privacy-page p
	{
		text-align:center;
	}
}
.elenco-cookies li
{
	margin-bottom:10px;
}
