ul.marquee {	/* required styles */display: block;padding: 0;margin: 0 auto;list-style: none;line-height: 1;position: relative;overflow: hidden;/* optional styles for appearance 	width: 900; */height: 28px; /* height should be included to reserve visual space for the marquee */}ul.marquee li {/* required styles */position: absolute;top: -999em;left: 0;display: block;white-space: nowrap; /* keep all text on a single line *//* optional styles for appearance */font: 13px Arial, Helvetica, sans-serif;padding: 2px 5px;font-weight:bold;} ul.marquee li a{ text-decoration:none;}#devices .device {margin: 0 auto;position: relative; text-align:center;}.deviceWrap {width: 100%;background-position: top center;background-repeat: no-repeat;margin: 0px 0px 0px 0px;position: relative;}#devices iframe {width: 100%;height: 100%;margin: 0;border: 1px solid #d1d1d1;}.dot{ font-size:14px;}.ticwidbdr {border: 1px solid #DDD;padding-bottom: 1px;overflow: hidden;}.tickerwid {margin: 0 auto;width: 980px;}.clsTckcolor {color: #EF030A;font-size: 14px;line-height: 24px !important;font-weight:normal;margin-right:10px;}.ticfont {background: url(http://stat.dinamalar.com/new/images/squaredots.png) no-repeat center center;height: 20px;overflow: hidden;padding-left: 8px;width: 15px;margin-right: 5px;padding: 2px 3px;color: #ef030a;font-size: 14px !important;line-height: 24px !important;}.outarb1 {background: #FFF;right:0;top:0;padding: 8px 10px;position: absolute;height: 14px;}#selLefts1 {background: url("http://stat.dinamalar.com/sprite/images/dinamalar-static-assert.jpg") no-repeat scroll -2px -136px transparent;cursor: pointer;height: 15px;width: 12px;}#selLefts1:hover{background-position:-19px -136px;}#selRights1 {background: url("http://stat.dinamalar.com/sprite/images/dinamalar-static-assert.jpg") no-repeat scroll -87px -136px transparent;cursor: pointer;height: 15px;width: 12px;}#selRights1:hover{background-position:-103px -136px;}.bigflash {background:#3B5998; color: #fff; font-size: 26px; line-height: 40px; margin-bottom: 5px; text-align: center; text-shadow: 1px 1px 0 #0B3998;} .clsTstop {background: url("http://stat.dinamalar.com/sprite/images/dinamalar-static-assert.jpg") no-repeat scroll -37px -136px transparent;cursor: pointer;height: 15px;width: 12px;}.clsTstop:hover {background: url("http://stat.dinamalar.com/sprite/images/dinamalar-static-assert.jpg") no-repeat scroll -53px -136px transparent;}.clsTplay {background: url("http://stat.dinamalar.com/sprite/images/dinamalar-static-assert.jpg") no-repeat scroll -70px -136px transparent;cursor: pointer;height: 11px; width: 12px;}
/*================================
	Move the Marquee Downwards
==================================*/
/** Mozilla Firefox Keyframes **/
@-moz-keyframes down-one {
	0%	{
		-moz-transform:translateY(-100%);
	}
	10% {
		-moz-transform:translateY(0);
	}
	40% {
		-moz-transform:translateY(0);
	}
	50% {
		-moz-transform:translateY(100%);
	}
	100%{
		-moz-transform:translateY(100%);
	}
}
/** Webkit Keyframes **/
@-webkit-keyframes down-one {
	0% {
		-webkit-transform:translateY(-100%);
	}
	10% {
		-webkit-transform:translateY(0);
	}
	40% {
		-webkit-transform:translateY(0);
	}
	50% {
		-webkit-transform:translateY(100%);
	}
	100%{
		-webkit-transform:translateY(100%);
	}
}
/*================================
	Move the Marquee Upwards
==================================*/
/** Mozilla Firefox Keyframes **/
@-moz-keyframes up-one {
	0%	{
		-moz-transform:translateY(100%);
	}
	10% {
		-moz-transform:translateY(0);
	}
	40% {
		-moz-transform:translateY(0);
	}
	50% {
		-moz-transform:translateY(-100%);
	}
	100%{
		-moz-transform:translateY(-100%);
	}
}
/** Webkit Keyframes **/ 
@-webkit-keyframes up-one {
	0% {
		-webkit-transform:translateY(100%);
	}
	10% {
		-webkit-transform:translateY(0);
	}
	40% {
		-webkit-transform:translateY(0);
	}
	50% {
		-webkit-transform:translateY(-100%);
	}
	100%{
		-webkit-transform:translateY(-100%);
	}
}