﻿* {
    border: 0 none;
    margin: 0;
    outline: medium none;
    padding: 0;
    vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}


body {background-color: #fff; color: #4a4a4a; font-family: Arial,Helvetica,Verdana,sans-serif; font-size: 0.75em; line-height: 1;}


/* GENERIC  STYLES */
ol, ul {list-style: outside none none;}
blockquote, q {quotes: none;}
blockquote::before, blockquote::after, q::before, q::after {content: none;}
table {border-collapse: collapse; border-spacing: 0;}
p {margin: 0 0 12px;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
#container h2{font-size: 1.83em; line-height: 1.2em; color: #666; margin-bottom: 0.6em;}
a:hover img{opacity: 0.8;}

#container {clear: both; display: block; margin: 0 auto; position: relative; width: 100%;}
#container .clear{height: 0;}
#cookieBar, #header, #nav, #HomepageFooterLinks, .sys_homeRow, #footer{width: 100%; float:left; clear: both; display: block;}





/* COLUMNS */
.sys_threeColumns .sys_one, .sys_threeColumns .sys_two, .sys_threeColumns .sys_three {float: left; margin: 0; padding: 0; width: 32.1%;}
.sys_threeColumns .sys_two, .sys_threeColumns .sys_three {margin-left: 14px;}
.sys_fourColumns .sys_one, .sys_fourColumns .sys_two, .sys_fourColumns .sys_three, .sys_fourColumns .sys_four {float: left; margin: 0; padding: 0; width: 23.82%;}
.sys_fourColumns .sys_two, .sys_fourColumns .sys_three, .sys_fourColumns .sys_four {margin-left: 14px;}
.sys_twoColumns3070 .sys_one,.sys_twoColumns3070 .sys_two {margin: 0; float: left;}
.sys_twoColumns3070 .sys_one {width: 32.3%; padding: 0; margin: 0;}
.sys_twoColumns3070 .sys_two {width: 66.05%; margin-left: 14px;}
.sys_twoColumns_7030 .sys_one_7030,.sys_twoColumns_7030 .sys_two_7030 {margin: 0; float: left;}
.sys_twoColumns_7030 .sys_one_7030 {width: 66.05%; padding: 0; margin: 0;}
.sys_twoColumns_7030 .sys_two_7030 {width: 32.05%; margin-left: 14px;}




/* ROWS */
.sys_inner {padding: 10px 0; clear: both; display: block; margin: 0 auto; position: relative; width: 948px;}
.sys_homeRow{padding: 30px 0; }
.sys_homeRow.sys_rowMain{padding-bottom: 0; padding-top: 1em;}
.sys_bg-grey{width: 980px; margin: 0 auto;}
.sys_bg-grey .sys_homeRow{background-color: #efefef;}




/* HEADER STYLES*/
#header {background-color: #fff; margin-bottom: 0;}
#logo {/*background: url("/SiteElements/Images/logo.png") repeat scroll 0 0 rgba(0, 0, 0, 0);*/ font-size: 0; height: 68px; width: 170px;}
#logo a {display: block; height: 68px; width: 170px;}
#campuslinks { position: absolute; top: 6px; right: 0;  font-size: 1em;}
#campuslinks li {text-align:left; font-weight:bold;}
#campuslinks li a {color: #003366; text-decoration:none; display:block; padding: 6px 6px 4px 6px;}
#campuslinks li.sys_nottingham {}
#campuslinks li.sys_nottingham a{color: #fff;background-color: #003366;}
#campuslinks li a:hover{color: #003366; background-color: #e0dedd;}






/* MENU STYLES */
.sys_menu-title, .sys_mobile-search-toggle {display: none;}

#nav {background-color: #e0dedd; margin: 0; z-index: 998; padding: 4px 0;}
#nav li {line-height: 20px;font-size: 1rem; display: inline-block; position: relative;}
#nav a {display:block; padding: 0; color: #003366; margin-right: 26px; position: relative; z-index: 999;}
#nav li:last-child a {margin-right: 0;}
#nav li:hover {cursor: pointer;}
#nav li:hover > a {color: #000; font-weight:normal; text-decoration:underline;}



/****** SEARCH BOX ******/
#search{padding: 0;}
#search{position: absolute; top: 7px;right: 0; }
#search label {display: none;}
#search input {border: 0 none; color: #999; float: left; padding: 6px 0 4px 2px; width: 200px;}
#search input.sys_submit {background: url("/siteelements/images/base/icons.png") no-repeat scroll -21px 2px rgba(0, 0, 0, 0); border: medium none; float: right; font-size: 0; height: 24px; line-height: 0; padding: 0; text-indent: -9999px; width: 18px; cursor:pointer;}











/******* UG/PG/CURRENT STUDENT CALL TO ACTION STYLES ********/
.sys_hideOnDesktop{display:none;}

.sys_CTA{position: relative;height: 105px; margin-bottom: 10px; background-position: 95% 50%; clear: both; display: block; text-decoration: none;}
.sys_CTA span{display:none;}
.sys_CTA:last-child{margin-bottom: 0;}
.sys_CTA .sys_title{width: auto; height: 100%; display: block;   text-align:right; font-size: 2em;}
.sys_CTA.sys_undergrad{background-image: url("/siteelements/images/base/homepage/bgUndergrad.jpg"); background-position: top 20% left 50%;}
.sys_CTA.sys_postgrad{background-image: url("/siteelements/images/base/homepage/bgPostgrad.jpg"); background-position: top 50% left 50%;}
.sys_CTA.sys_current {background-image: url("/siteelements/images/base/homepage/bgstudentservices.jpg"); background-position: top 20% left 0%;}
.sys_CTA.sys_undergrad .sys_title {background-color: rgba(0,133,126,0.8);}
.sys_CTA.sys_postgrad .sys_title{background-color: rgba(0,126,166,0.8);}
.sys_CTA.sys_current .sys_title{background-color: rgba(0,51,102,0.8);}
.sys_CTA .sys_title:hover{background-color: rgba(224,222,221,0.8);}
.sys_CTA .sys_title a{z-index: 10;position:relative; top: -24px;width: 98%; height: auto; margin: 0; padding: 2% 2% 16.6% 0; color: #fff; display:block; background-image: url("/siteelements/images/base/internal/cta-icons/white/bgarrowwhiteround.png"); background-repeat:no-repeat; background-position: 97.5% 90%;}
.sys_CTA .sys_title a:hover{text-decoration:none;color: #000; background-image: url("/siteelements/images/base/internal/cta-icons/colour/bgarrowblackround.png");}





/* FEATURE BANNER STYLES */
#homepageFeature #Feature_List {position:relative;}
#Feature_List h3 {float:left; z-index:0; position:absolute; left: 6px; bottom: 6px; margin-bottom: 0; width: auto!important; color: #fff;    text-align: right; font-size: 1.6em; font-weight:normal;}
#Feature_List h3 a,#Feature_List h3 a:visited{background-color: #fff; padding: 12px;display:block; color: #ca0064; text-decoration:none;}
#Feature_List h3 a:hover{color: #fff;background-color: #ca0064; }
#Feature_List .sys_news-description{color: #fff!important; position: absolute; text-decoration: none!important; float: right; top: bottom; left: 0px; margin-bottom: -20px; text-align: right; font-size:1.1em; font-weight: normal; background: url("/SiteElements/Images/Base/Internal/bg-textOverlay-darkGrey.png") repeat scroll 0 0 transparent; padding: 7px; width: auto; clear: both;}
#Feature_List .slick-track{ height: auto/*335px*/;}
#homepageFeature .image-rotate {width:100%; margin:auto;}
#homepageFeature .image-rotate img{height:auto; margin:auto; width: 100%; max-width: 100%;}
#homepageFeature .slick-prev, #homepageFeature .slick-next {top: 40%;}

/* Holding images for when we lose database connectivity */
#Feature_List .sys_noresults {background:url("/Home/FeatureBanner/Images/StudentsReadingProspectus.jpg"); height:335px; width:626px;}
#Feature_List .sys_noresults p {display:none;}




/******* Main audience CALL TO ACTION STYLES ********/
.CTA_button a{display:block; color: #000; padding: 18px 10px; border: 2px solid #000; text-align:center; font-size: 1.85em; margin-bottom: 6px;}
.CTA_button.sys_study a{background-color: #ebd3d7; border-color: #ca0064;}
.CTA_button.sys_research a{background-color: #cdddd6; border-color: #00914d;}
.CTA_button.sys_work a{background-color: #d9dee1; border-color: #006579;}
.CTA_button.sys_alumni a{background-color: #ded4df; border-color: #5b2960;}
.CTA_button a:hover{background-color: #fff; color: #000; text-decoration:none; border-color: #000;}




/* Styles for "What's happening at The University of Nottingham" (H1) */
.sys_bg-grey .sys_homeRow.sys_headingone{padding: 0;}
.sys_bg-grey .sys_homeRow.sys_headingone .sys_inner{position:relative;width: 933px; left: -6px; padding: 20px 30px; background-color: #4a4a4a;  font-size: 1.9em; color: #fff; }
.sys_bg-grey .sys_homeRow.sys_headingone .sys_inner:before{position:absolute; bottom: -8px; right: 0; content:"."; color: transparent; background-image: url("/SiteElements/Images/Base/homepage/bg-headingOne-Full.png"); background-position: 100% 100%;background-repeat:no-repeat; }
.sys_bg-grey .sys_homeRow.sys_headingone .sys_inner:after{position:absolute; bottom: -8px; left: 0; content:"."; color: transparent; background-image: url("/SiteElements/Images/Base/homepage/bg-headingOne-Full.png"); background-position: 0 100%;background-repeat:no-repeat; }
.sys_bg-grey .sys_homeRow.sys_headingone h1{display:inline; font-size: inherit; font-weight:normal;}




/* VIDEO STYLES*/
.homepageVideo{width: 100%; height: 391px;}




/* ESSENTIAL LINK STYLES */
.sys_keyExtras {margin-bottom: 1em;}
.sys_keyExtras p{padding: 3.5em 6px 6px 6px;}
.sys_keyExtras a{display:inline-block; font-size: 1.6em; margin: 2px 1px; background-color: #665c55; padding:8px; color: #fff; border: 2px solid #e0dedd;background-color: #fff; color: #000;}
.sys_keyExtras a:hover{background-color: #efefef; color: #000; border-color: #000; text-decoration:none;}




/* BLOCK STYLES for Research, Essentials, News and Events */
#container .largeLinkBlockTwo {border: 1px solid #e0dedd; background-color: #fff; min-height: 280px;}
#container .largeLinkBlockTwo h2{font-size: 1.5em;position: absolute; z-index: 100; font-weight:normal; color: #000; background-color:#e0dedd;}
#container .largeLinkBlockTwo h2 span{padding: 6px 6px 6px 6px; display:block;}
#container .largeLinkBlockTwo h2 a{color: #000;display:block;background:#e0dedd url("/siteelements/images/base/internal/cta-icons/colour/bgarrowblackround.png") no-repeat 100% 50%; border-right: 10px solid #e0dedd; padding: 6px 30px 6px 6px; background-size: 20px;}
#container .largeLinkBlockTwo h2 a:hover{color: #fff; text-decoration:none; background:#4a4a4a url("/siteelements/images/base/internal/cta-icons/white/bgarrowwhiteround.png") no-repeat 100% 50%; border-color: #4a4a4a; background-size: 20px; } 
#container .largeLinkBlockTwo .sys_standard-list {position:relative; min-height:200px; height: auto;}
#container .largeLinkBlockTwo .sys_standard-list .sys_subitem-heading {padding: 10px 6px; line-height: 1.35em; font-size: 1.1em; font-weight:normal; position: absolute; top: 200px; left: 0;}
#container .largeLinkBlockTwo .sys_standard-list .sys_subitem-heading:hover {text-decoration:underline;}
#container .largeLinkBlockTwo .sys_standard-list .sys_subitem-heading a{display:block; font-size: 1.15em; color: #000; text-decoration:none; padding: 0;height: 36px; overflow:hidden;}
#container .largeLinkBlockTwo .sys_standard-list .sys_thumbnail{position: relative;overflow: hidden;	width: 100%; height: 200px;}
#container .largeLinkBlockTwo .sys_standard-list .sys_thumbnail img{z-index: 0; width: auto; height: 200px; position: absolute;	top: 0; left: 50%;	margin-left: -228px;} 
#container .largeLinkBlockTwo .sys_subitem-summary {display:; }
#container .largeLinkBlockTwo .sys_subitem-summary dt.sys_events-date,
#container .largeLinkBlockTwo .sys_subitem-summary dt.sys_events-time{display:none;}
#container .largeLinkBlockTwo .sys_subitem-summary dd.sys_events-time,
#container .largeLinkBlockTwo .sys_subitem-summary dd.sys_events-date{padding: 6px 6px 6px 6px; position: absolute; top: 256px;}

#container .largeLinkBlockTwo p {margin: 0;}




/* RESEARCH BLOCK*/
#container .largeLinkBlockTwo.research{min-height: 391px;background-color: #065434; color: #fff; border-color: #065434;}
#container .largeLinkBlockTwo.research .sys_standard-list h3.sys_subitem-heading a{color: #fff;}
#container .largeLinkBlockTwo.research h2{color: #fff;background-color: #065434; }
#container .largeLinkBlockTwo.research h2 a{color: #fff;background-color: #065434; border-color: #065434;  background-image: url("/siteelements/images/base/internal/cta-icons/white/bgarrowwhiteround.png");}
#container .largeLinkBlockTwo.research .sys_subitem-summary {display:block;}
#container .largeLinkBlockTwo.research .sys_standard-list .sys_subitem-heading {top: 240px; left: 0;}
#container .largeLinkBlockTwo.research .sys_standard-list .sys_thumbnail{height: 240px;}
#container .largeLinkBlockTwo.research .sys_standard-list .sys_thumbnail img{height: 240px; margin-left: -288px;} 
#container .largeLinkBlockTwo.research .sys_subitem-summary dd.sys_news-description {position: absolute; /*top: 240px;*/ top: 286px; font-size: 1.1em; line-height: 1.2em; padding: 10px 6px;}
#container .largeLinkBlockTwo.research .sys_subitem-summary dt.sys_news-description {display:none;}
/*.largeLinkBlockTwo.research .sys_subitem-heading {display:none;}*/


/* IN PICTURES STYLES*/
.sys_stackla{height:250px;}
.largeLinkBlockTwo.sys_inPictures{min-height: auto;height: 250px;}





/* IMPACT CAMPAIGN BLOCK - added 17/11/20-15 by ULZGW */
.sys_impactCampaign.largeLinkBlockTwo{min-height: 240px;}


/* ********************************************************
colour change for LC6 takeover 
DELETE LINES #229 and #230 after LC6 
Reinstate line #233 after LC6
***** ulzgw 03/06/2016 ***** 
************************************************************ */
#container .sys_impactCampaign .sys_bgDarkGreen{padding-top: 40px;height: 147px; background-color: #ca0064; color: #fff;}
#container .sys_impactCampaign .sys_bgWhite img{margin-top: 10px;}
#container .sys_impactCampaign h2{background-color: #fff;}

/* reinstate after LC6 takeover 
.sys_impactCampaign .sys_bgDarkGreen{padding-top: 40px;height: 147px; background-color: #00524d; color: #fff;}
*/
.sys_impactCampaign .sys_bgDarkGreen p{font-size: 1.2em; line-height: 1.2em; padding: 6px 0;}
.sys_impactCampaign .sys_bgDarkGreen a{background: transparent url("/siteelements/images/base/internal/cta-icons/white/bgarrowwhiteround.png") no-repeat 93.5% 50%;color: #fff; border: 2px solid #fff; padding: 16px 54px 16px 8px; display:inline-block; margin-top: 10px; text-decoration:none;}
.sys_impactCampaign .sys_bgDarkGreen a:hover{background-image: url("/siteelements/images/base/internal/cta-icons/colour/bgarrowblackround.png"); color: #000; background-color: #fff; border: 2px solid transparent;}
.sys_impactCampaign .sys_innerImpact{padding: 10px;}
.sys_impactCampaign .sys_bgWhite img{width: 204px; height: auto;}




/* FOOTER STYLES */
#footer {position: relative;}
#footer #terms {clear: both; display: block; width: auto;}
#footer ul {float: left; width: 100%;}


#footer #footerLogos img {margin-right: 6px; /*height: 66px;*/ width: auto; padding: 4px; border: 1px solid #e0dedd; vertical-align: top;}

#HomepageFooterLinks {margin-top: 3em; margin-bottom: 2em; font-size: 1.1em; padding: 1em 0; background-color: #e0dedd; color: #000;}
#HomepageFooterLinks.sys_footerNoPadding {margin-top: 0;}
#HomepageFooterLinks a {color: #000; text-decoration:underline;}
#HomepageFooterLinks a:hover {text-decoration:none;}
#HomepageFooterLinks h3 { color: #666; margin-bottom: 0.6em; font-size: 1.1em;}
#HomepageFooterLinks ul {display:block;float:left;margin-bottom:1em; margin-bottom: 20px;}
#HomepageFooterLinks p, #HomepageFooterLinks li{color: #000;font-size: 1em;line-height: 1.5em;}
#HomepageFooterLinks ul li{display:block;float:left; width: 100%;}



/* COOKIE BAR STYLES */
#cookie-bar {/*background: transparent url("/SiteElements/Images/Base/Internal/bg-textOverlay-Black.png") repeat scroll 0 0;*/ background-color: #000; height:auto; line-height:24px; color:#eeeeee; text-align:center; padding:3px 0; z-index:200;}
#cookie-bar.fixed {position:fixed; top:0; left:0; width:100%;}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0; padding:0;}
#cookie-bar a {color:#ffffff; display:inline-block; border-radius:3px; text-decoration:none; padding:0 6px; margin-left:8px;}
#cookie-bar .cb-enable {background:#128b2f;}
#cookie-bar .cb-enable:hover {background:#009900;}
#cookie-bar .cb-disable {background:#990000;}
#cookie-bar .cb-disable:hover {background:#bb0000;}
#cookie-bar .cb-policy {background:transparent;border: 1px solid #fff;}
#cookie-bar .cb-policy:hover {background:#fff; color: #000;}



