﻿/* ***** HOMEPAGE MOBILE STYLES ***** */

@media only screen and (max-width: 967px) {

#cookieBar{left: 0;}
  
  body{}
  
.sys_bg-grey {width: 760px;}
.sys_bg-grey .sys_homeRow{background: none;}
.sys_bg-grey .sys_homeRow.sys_headingone {padding: 0; margin-bottom: 1.5em;background-color: #4a4a4a;}
.sys_bg-grey .sys_homeRow.sys_headingone .sys_inner{left: 0;  width: auto; }
.sys_bg-grey .sys_homeRow.sys_headingone .sys_inner:before{background-image:none;}
.sys_bg-grey .sys_homeRow.sys_headingone .sys_inner:after{background-image:none;}

  
.inner{width: 100%;}
  
.sys_key-pages,
#topbar .sys_search-query-control {display: none;}
  
  
#menu {display: block; clear: both; overflow: hidden;}
  

.sys_homeRow.sys_first{margin: 1.5em 0;}
  
    	
#nav {
    background: #f7f7f7;
    margin-bottom: 0;
    width: auto;
    position: relative;
    min-height: 21px;
    height: auto;
    float: none;}
#nav .sys_mobile-search-toggle {
    background: url("/SiteElements/Images/Base/icons.png") no-repeat -17px -32px;
    padding-left: 10px;
    width: 12px;
    height: 15px;
    position: absolute;
    top: 15px;
    right: 24px;
    border-left: 2px solid #fff;
    cursor: pointer;
    z-index: 999;}
#nav .sys_menu-title {
    background: url("/SiteElements/Images/Base/icons.png") no-repeat 0 -391px;
    position: relative;
    z-index: 10;
    padding: 6px 0 5px 19px;
    width: 50%;
    height: 10px;
    font-size: 1.08em;/*13px*/
    line-height: 0.69em;/*9px*/
    font-weight: bold;
    text-transform: uppercase;}
#nav .sys_menu-title,
.sys_mobile-search-toggle {display: block;}
#nav ul {display:none;
    padding: 15px 0 0 9px;
    float: left;
    width: 100%;
    -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  -ms-column-gap: 15px;
  -o-column-gap: 15px;
  column-gap: 15px;
  columns: 2;}
#nav li {
    display: block;
    min-height: 27px;
    height: auto;
    list-style: none;}
#nav li:first-child {padding-top: 2px;}
#nav ul a {
    margin: 0;
    padding: 0;
    float: none;
    display: block;
    clear: none;
    width: 100%;
    color: #000;}
    #nav li:hover ul {display: none;}
#nav .sys_selected a,
#nav a:hover {
    color: #333333;
    border: 0 none;
    font-weight: bold;
    text-decoration: none;}

  /*Mobile Search Styles*/
#search input.sys_submit{display:none;}
  .sys_mobile-search {
    background-color: #f7f7f7;
    margin-bottom: 4px;
    padding: 3px 4px 3px 4px;
    float: none;
    clear: both;
    width: auto;
    height: 29px;}
  .sys_mobile-search label {
    margin-right: 12px;
    padding-top: 9px;
    float: left;}
  .sys_mobile-search input {
    padding: 6px 0 4px 2px;
    float: left;
    display: block;
    width: 64%;}
  .sys_mobile-search input.sys_submit {
    background: #fff;
    width: 45px;
    height: 26px;
    line-height: 1;
    font-size: inherit;
    text-indent: 0;
    border-left: 1px solid #cdcdcd;}
  .sys_search-control {width: 74%;}
  
  
#container .sys_twoColumns5050 .sys_two .sys_one,
#container .sys_twoColumns5050 .sys_two .sys_two{width: 48.5%;}
#container .sys_twoColumns_7030 .sys_one_7030 {width: 65.6%;}
#container .sys_twoColumns_7030 .sys_two_7030 {width: 31.8%;}
#container .sys_twoColumns3070 .sys_two {width: 65.6%; float:right;}
#container .sys_threeColumns .sys_one,
#container .sys_threeColumns .sys_two,
.sys_threeColumns .sys_three{width: 31.5%;}
#container .sys_fourColumns .sys_one,
#container .sys_fourColumns .sys_two,
#container .sys_fourColumns .sys_three,
#container .sys_fourColumns .sys_four {width: 23.5%;}

  
.sys_bg-grey .sys_homeRow.sys_headingone .sys_inner {text-align:center; padding: 20px 10px;}

.sys_keyExtras a {font-size: 1.4em; padding: 8px 4px;}

  


  
.homepageVideo{height: 320px;}

/* RESEARCH BLOCK*/
#container .largeLinkBlockTwo.research{min-height: 373px;}
#container .largeLinkBlockTwo.research .sys_standard-list .sys_subitem-heading {top: 180px; left: 0;}
#container .largeLinkBlockTwo.research .sys_standard-list .sys_thumbnail{height: 190px;}
#container .largeLinkBlockTwo.research .sys_standard-list .sys_thumbnail img{height: 180px; margin-left: -248px;} 
#container .largeLinkBlockTwo.research .sys_subitem-summary dd.sys_news-description {top: 226px;}

/* IMPACT CAMPAIGN BLOCK - added 17/11/20-15 by ULZGW */
.sys_impactCampaign .sys_bgDarkGreen .sys_innerImpact{padding: .6em;}

  
  
  #footerLogos{margin-top: 1em;margin-bottom: 1em;}
 #container #footerLogos img{height: 58px; width: auto; margin-right: 9px; margin-bottom: 1em;}  

  
  
}









@media screen and (max-width: 767px) {

body {padding: 0 5px;}

#container, .sys_inner {padding: 0 5px 0 5px; width: auto; position: relative;}

  /*Header Styles*/
#header {margin-bottom: 14px; float: right;}
#campuslinks li a {padding: 3px 6px 2px 6px;}

#container #nav{background-size: 90px; background-position: 0 -744px ;margin-bottom: 1em;min-height: 24px; height:auto; padding: 10px;}
#nav .sys_mobile-search-toggle {top: 15px; right: 24px;}
  
/*Mobile Navigation Styles*/
.sys_mobile-search-toggle {display: block;}
  
#search, #topbar .sys_mobile-search{top: 0;}
  
  
  .sys_hideOnMobile{display:none;}  
  .sys_hideOnDesktop{display:block;}
  .sys_hideOnDesktop .sys_two{display:none;}
  
#container .sys_CTA.sys_undergrad{background-position: top 14% left 50%;}
#container .sys_CTA.sys_current {background-position: top 24% left 0%;}  
  
#container .sys_CTA{height:60px; background-size: 100%; background-position: 50% 50%; margin-bottom: .5em;}
#container .sys_CTA span{display:inline;}
#container .sys_CTA .sys_title{text-align:left;}
#container .sys_CTA .sys_title br{display:none;}
#container .sys_CTA .sys_title a{font-size: 0.8em;padding: 20px 2%; height: auto; width:94%; background-position: 96% 50%;}


  
.sys_bg-grey {width: 420px;}
.sys_homeRow .sys_inner{padding: 0;}
 
 
#container .sys_homeRow {padding: 0;}
#container .sys_homeRow .sys_one,
#container .sys_homeRow .sys_two,
#container .sys_homeRow .sys_three,
#container .sys_homeRow .sys_one_7030,
#container .sys_homeRow .sys_two_7030,
#container .sys_homeRow .sys_one_3070,
#container .sys_homeRow .sys_two_3070{margin-bottom: 26px!important;}
#container .sys_homeRow .sys_fourColumns .sys_one, 
#container .sys_homeRow .sys_fourColumns .sys_two, 
#container .sys_homeRow .sys_fourColumns .sys_three,
#container .sys_homeRow .sys_fourColumns .sys_four{margin-bottom: 0!important;}
  
  
.sys_bg-grey .sys_homeRow.sys_headingone{margin-top: 1em;}
.sys_bg-grey .sys_homeRow.sys_headingone .sys_inner {text-align:center; font-size: 1.9em; line-height: 1.3em; padding: 10px;}
  
  
  /*Style Widgets, Design Elements and Layout Templates*/
  .sys_twoColumns5050 > div,
  .sys_threeColumns > div,
  .sys_twoColumns_7030 > div,
  .sys_twoColumns_3070 > div,
  .sys_twoColumns3070 > div, 
  .sys_twoColumns3070 > div,
  .sys_fourColumns > div,
  .sys_fiveColumns > div,
  .sys_twoColumns > div,
  .sys_twoColumns_1585 > div,
  .sys_twoColumns_2575 > div {margin: 0!important; padding: 0!important; width: 100%!important;}
  
  
  
#container #Feature_List h3{left: 0; top: 0; }
#Feature_List h3 a, #Feature_List h3 a:visited {background-color: #ca0064; color: #fff;}
#Feature_List h3 a:hover{background-color: #e0dedd; color: #000;}

  
  
.sys_menHide {visibility:hidden!important; transition:1s;}
.sys_menShow {visibility:visible !important; left:0 !important; transition:1s;}


.sys_keyExtras a {font-size: 1.8em; padding: 10px 8px;}
  
  
  
.homepageVideo{height: 276px;}

  
  
  
/* RESEARCH BLOCK*/
#container .largeLinkBlockTwo.research{min-height: 290px;}
#container .largeLinkBlockTwo.research .sys_standard-list .sys_subitem-heading {top: 170px; left: 0;}
#container .largeLinkBlockTwo.research .sys_standard-list .sys_thumbnail{height: 170px;}
#container .largeLinkBlockTwo.research .sys_standard-list .sys_thumbnail img{height: 200px; margin-left: -220px;} 
#container .largeLinkBlockTwo.research .sys_subitem-summary dd.sys_news-description {top: 200px;}  
  
  
/* IMPACT CAMPAIGN BLOCK - added 17/11/20-15 by ULZGW */
.sys_impactCampaign .sys_bgDarkGreen{height: 130px;}
.sys_impactCampaign .sys_bgDarkGreen .sys_innerImpact{padding: 1em;}
  
 
  
  
#footerLogos{margin-top: 1em;margin-bottom: 1em;}
 #container #footerLogos img{height: 52px; width: auto; margin-right: 8px; margin-bottom: 1em;}  
  
  
}



@media only screen and (min-width: 768px) and (max-width: 967px) {
  
#nav{background-size: 90px; background-position: 0 -744px ; margin-bottom: 1em; height: auto; min-height: 24px; padding: 10px;}
#search, #topbar .sys_mobile-search{top: 0;}
#container {max-width: 764px; width: auto;}

.sys_inner {width: 100%;}

.sys_CTA{height:90px; width: 240px; margin-bottom: 4px;}
.sys_CTA .sys_title{height: 90px;}
.sys_CTA .sys_title a{background-image:none; width: 96%; height: auto; margin: 0; padding: 8% 2% 9.1% 2%;}
.sys_CTA .sys_title a:hover{background-image:none!Important;}

.sys_rowWithBG{padding: 0;}  
  
  
#container #Feature_List h3 {position: absolute; left: 503px!important; width: 491px!important; top: auto; bottom: 39px!important;}
#Feature_List .slick-track{height: 278px;}
#Feature_List h3 br {display:none;}
#homepageFeature .sys_thumbnail img{height: 280px!important;}
	
#HomepageFooterLinks .sys_inner{padding: 1em;}
#HomepageFooterLinks .sys_threeColumns .sys_one, #HomepageFooterLinks .sys_threeColumns .sys_two, #HomepageFooterLinks .sys_threeColumns .sys_three {    width: 30.7%;}




}







@media only screen and (max-width: 479px) {

  
  

  


#container #nav {min-height: 70px;}
#container .sys_mobile-search-toggle{position:relative; top: -12px; left: 84%;}
#container #search{position:relative;top: 14px; left: 0;}
#container #search input {padding: 10px 0 10px 6px; width: 96%;}        
    
.sys_bg-grey {width: 100%;}
  
  

/* RESEARCH BLOCK*/
#container .largeLinkBlockTwo.research{min-height:320px;}
#container .largeLinkBlockTwo.research .sys_standard-list .sys_subitem-heading {top: 170px; left: 0;}
#container .largeLinkBlockTwo.research .sys_subitem-summary dd.sys_news-description {top: 212px;}  
#container #footerLogos{text-align:center;}
#container #footerLogos img{height: 70px; width: auto; margin: 0 8px 8px 8px;}  

  
 /* IMPACT CAMPAIGN BLOCK - added 17/11/20-15 by ULZGW */
.sys_impactCampaign .sys_bgDarkGreen{padding-top: 40px;}
.sys_impactCampaign .sys_bgDarkGreen a{margin-top: 2px;}
.sys_impactCampaign .sys_bgDarkGreen .sys_innerImpact{padding: .6em;}  
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
  
  #container {max-width: 420px;}
  
}






/*Fixes for retina devices*/
@media (-webkit-min-device-pixel-ratio: 2) {
  #nav .sys_menu-title,
  #leftNav .sys_menu-title {
    padding-top: 8px;
  }
}


