﻿/* --- move to global - test update --- */

.slicknav_menu {
  display: none;
}

/* ***** MOBILE STYLES ***** */

@media only screen and (max-width: 967px) {
    
#content img {
    height: auto;
    max-width: 100%;
}

/* make mediaspace videos responsive if embedded using the web control */
.kalturaEmbed {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 75%;
}
  
.kalturaEmbed iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
  
  
#breadcrumb, #pageToolsTab {display: none;}
#wrapper {background-image: none; background-color: #FFF;}

#cookieBar{left: 0;}
  
.sys_key-pages,
#topbar .sys_search-query-control {display: none;}
  
/* Main Navigation */
    
#menu {display: block; clear: both; overflow: hidden;}
  
#nav {
    background: #f7f7f7;
    margin: 10px 0 0 0;
    width: auto;
    position: relative;
    min-height: 21px;
    height: auto;
    float: none;}
    
#nav .sys_mobile-search-toggle {
    background: url("/SiteElements/Images/Base/icons.png") no-repeat -17px -32px;
    padding-left: 10px;
    width: 12px;
    height: 15px;
    position: absolute;
    top: 12px;
    right: 24px;
    border-left: 2px solid #fff;
    cursor: pointer;
    z-index: 999;}
#nav .sys_menu-title {
    background: url("/SiteElements/Images/Base/icons.png") no-repeat 0 -391px;
    position: relative;
    z-index: 10;
    padding: 6px 0 5px 19px;
    width: 50%;
    height: 10px;
    font-size: 1.08em;/*13px*/
    line-height: 0.69em;/*9px*/
    font-weight: bold;
    text-transform: uppercase;}
    
#nav .sys_menu-title,
.sys_mobile-search-toggle {display: block;}
    
#nav ul {display:none;
    padding: 15px 0 0 9px;
    float: left;
    width: 100%;
    -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  -ms-column-gap: 15px;
  -o-column-gap: 15px;
  column-gap: 15px;
  columns: 2;}
    
#nav li {
    display: block;
    min-height: 27px;
    height: auto;
    list-style: none;}
    
#nav li:first-child {padding-top: 2px;}
    
#nav ul a {
    margin: 0;
    padding: 0;
    float: none;
    display: block;
    clear: none;
    width: 100%;
    color: #000;}
    #nav li:hover ul {display: none;}
    
#nav .sys_selected a,
#nav a:hover {
    color: #333333;
    border: 0 none;
    font-weight: bold;
    text-decoration: none;}

/*Mobile Search Styles*/
.search input.sys_submit{display:none;}
  .sys_mobile-search {
    background-color: #f7f7f7;
    margin-bottom: 4px;
    padding: 3px 4px 3px 4px;
    float: none;
    clear: both;
    width: auto;
    height: 29px;}
  .sys_mobile-search label {
    margin-right: 12px;
    padding-top: 9px;
    float: left;}
  .sys_mobile-search input {
    padding: 6px 0 4px 2px;
    float: left;
    display: block;
    width: 64%;}
  .sys_mobile-search input.sys_submit {
    background: #fff;
    width: 45px;
    height: 26px;
    line-height: 1;
    font-size: inherit;
    text-indent: 0;
    border-left: 1px solid #cdcdcd;}
  /*.sys_search-control {width: 74%;}*/
    
/* Page tools - social icons etc */
    
#toolBar, #pageTools {
    border: 0;
    width: 100%;
    position: relative;
    float: right;
    min-height: 30px;
    height: auto;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}
   
/* Left-hand Navigation */
  
#internalNav {
    display: none;
  }

.slicknav_menu {
    display: block;
    background-color: #f7f7f7 !important;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2em;
}
    
.slicknav_menutxt {
    background: url("/SiteElements/Images/Base/icons.png") no-repeat 10px -383px #f7f7f7;
    padding-top: 10px;
    position: relative;
    min-height: 30px;
    height: auto;
    overflow: hidden;
	padding-left: 28px;
    font-weight: bold;
    display: block;
}

.slicknav_menu ul {
    padding: 10px 0 0;
    background-color: #f7f7f7;
    font-size: 1em;
    display: none;
    float: left;
    width: 100%;
}

.slicknav_menu li {
    display: block;
    min-height: 27px;
    height: auto;
    list-style: none;
    margin-left: 6%;
    clear: both;
}   
    
.slicknav_menu ul a {
    margin: 0;
    padding: 0;
    float: none;
    display: block;
    clear: none;
    width: 100%;
    color: #000;
    border: 0;
    font-weight: normal;
}

.slicknav_menu .sys_selected a, .slicknav_menu a:hover {
    color: #333333;
    border: 0 none;
    text-decoration: none;
}

.slicknav_menu .sys_selected a {font-weight: bold;}  
  
li.slicknav_parent a div, li.slicknav_parent a span {
    display: inline;
    float: left;
}
  
.slicknav_arrow {margin-left: 2%;}
    
/* Column Layouts */
  
.sys_fullWidth #content, .sys_fullWidth {width: 96% !important; padding: 0 2%;}
    
.sys_twoColumns5050 .sys_one,
.sys_twoColumns5050 .sys_two,
.sys_twoColumns .sys_one,
.sys_twoColumns .sys_two,
div#ug-left,
div#ug-right,
div#pg-left,
div#pg-right{width: 49%;}
.sys_twoColumns_7030 .sys_one_7030 {width: 68%;}
.sys_twoColumns_7030 .sys_two_7030 {width: 30%;}
.sys_twoColumns_3070 .sys_two_3070 {width: 68%;}
.sys_twoColumns_3070 .sys_one_3070 {width: 30%;}    
.sys_threeColumns .sys_one,
.sys_threeColumns .sys_two,
.sys_threeColumns .sys_three, 
.sys_fullWidth .sys_threeColumns .sys_one,
.sys_fullWidth .sys_threeColumns .sys_two,
.sys_fullWidth .sys_threeColumns .sys_three {width: 32%;}
.sys_fourColumns .sys_one,
.sys_fourColumns .sys_two,
.sys_fourColumns .sys_three,
.sys_fourColumns .sys_four {width: 23%;}

.sys_twoColumns5050 .sys_one,
.sys_twoColumns5050 .sys_two,
.sys_twoColumns .sys_one,
.sys_twoColumns .sys_two,
.sys_twoColumns_7030 .sys_one_7030,
.sys_twoColumns_7030 .sys_two_7030,
.sys_twoColumns_3070 .sys_two_3070,
.sys_twoColumns_3070 .sys_one_3070,
.sys_threeColumns .sys_one,
.sys_threeColumns .sys_two,
.sys_threeColumns .sys_three,
.sys_fourColumns .sys_one,
.sys_fourColumns .sys_two,
.sys_fourColumns .sys_three,
.sys_fourColumns .sys_four,
.sys_fullWidth .sys_twoColumns5050 .sys_one,
.sys_fullWidth .sys_twoColumns5050 .sys_two,
.sys_fullWidth .sys_threeColumns .sys_one,
.sys_fullWidth .sys_threeColumns .sys_two,
.sys_fullWidth .sys_threeColumns .sys_three,
div#ug-left,
div#ug-right,
div#pg-left, 
div#pg-right,
.sys_relatedLeft,
.sys_relatedRight  {
    padding: 0;
    margin: 0;
    border: 0;
}
    
    
.sys_twoColumns_7030 .sys_two_7030,
.sys_twoColumns_3070 .sys_two_3070,
.sys_twoColumns5050 .sys_two,
.sys_twoColumns .sys_two,
.sys_threeColumns .sys_two,
.sys_threeColumns .sys_three,
.sys_fourColumns .sys_two,
.sys_fourColumns .sys_three,
.sys_fourColumns .sys_four, 
.sys_fullWidth .sys_twoColumns_7030 .sys_two_7030,
.sys_fullWidth .sys_twoColumns_3070 .sys_two_3070,
.sys_fullWidth .sys_twoColumns5050 .sys_two,
.sys_fullWidth .sys_twoColumns .sys_two,
.sys_fullWidth .sys_threeColumns .sys_two,
.sys_fullWidth .sys_threeColumns .sys_three,
.sys_fullWidth .sys_fourColumns .sys_two,
.sys_fullWidth .sys_fourColumns .sys_three,
.sys_fullWidth .sys_fourColumns .sys_four,
div#ug-right
    {margin-left: 2%;}
  
.sys_bg-grey .sys_homeRow.sys_headingone .sys_inner {text-align:center; padding: 20px 10px;}
  
/* Tables */
.responsivetable {
 	max-width: 100%;
	overflow-x: scroll;
	display: block;
  	clear: both;
  	margin-bottom: 2em;
} 
  
table {
    display: block;
    width: 100%;
  }

/* Prospectus specific styles
#UGHomepageRotate_List .sys_thumbnail {
    display: none;
} */
#homepagesearchpanel #coursesearchheader, #homepagesearchpanel #coursesearchheadertaught {
    width: 100%;
}
  
#content #SearchResults_SearchTextBox.sys_searchbox, #content #SearchResultsResearch_SearchTextBox.sys_searchbox {
    width: auto;
}
  
#content #ugStudySchoolPage a.ugStudyJumpLink, #content #pgStudySchoolPage .pgStudyJumpLink  {
    background-position: 94% 12px;
}
  
#content #faculty-nav h2 .videobutton {display: block; margin: 2%;}
#content #faculty-nav h2 .videobutton img, #content #faculty-nav h2 .videobutton a {left: 0px !important;}
  
/* Footer styles */
#HomepageFooterLinks .sys_inner {
    margin-top: 20px;
}


#wrapper #content .sys_image-with-heading, #wrapper #content .sys_image-with-heading a {
    max-width: 100%;
}
  


  
  
  
}

@media screen and (max-width: 767px) {

body {padding: 0 5px;}

#container, .sys_inner {padding: 0 5px 0 5px; width: auto; position: relative;}

#content, #bottom {width: 96%; padding: 0 2%;}
   
/*Header Styles*/
#header {margin-bottom: 14px; float: right;}
#campuslinks li a {padding: 3px 6px 2px 6px;}

#container #nav{background-size: 90px; background-position: 0 -744px ;margin-bottom: 1em;min-height: 24px; height:auto; padding: 10px;}
#nav .sys_mobile-search-toggle {top: 6px; right: 24px;}
  
/*Mobile Navigation Styles*/
.sys_mobile-search-toggle {display: block;}
  
.search, #topbar .sys_mobile-search{top: 0px;}
  
#container .sys_CTA{height:60px; background-size: 100%; background-position: 50% 50%; margin-bottom: .5em;}
#container .sys_CTA .sys_title{text-align:left;}
#container .sys_CTA .sys_title br{display:none;}
#container .sys_CTA .sys_title a{font-size: 0.8em;padding: 20px 2%; height: auto; width:94%; background-position: 96% 50%;}
  
.sys_bg-grey {width: 420px;}
.sys_homeRow .sys_inner{padding: 0;}
  
.sys_bg-grey .sys_homeRow.sys_headingone{margin-top: 1em;}
.sys_bg-grey .sys_homeRow.sys_headingone .sys_inner {text-align:center; font-size: 1.9em; line-height: 1.3em; padding: 10px;}
  
  
  /*Style Widgets, Design Elements and Layout Templates*/
  .sys_twoColumns5050 > div,
  .sys_threeColumns > div,
  .sys_twoColumns_7030 > div,
  .sys_twoColumns_3070 > div,
  .sys_twoColumns3070 > div, 
  .sys_twoColumns3070 > div,
  .sys_fourColumns > div,
  .sys_fiveColumns > div,
  .sys_twoColumns > div,
  .sys_twoColumns_1585 > div,
  .sys_twoColumns_2575 > div,
  div#ug-left, 
  div#ug-right,
  div#pg-left, 
  div#pg-right,
  .searchcontainer,
.sys_relatedLeft,
.sys_relatedRight {margin: 0 0 1em !important; padding: 0!important; width: 100%!important;}
 
#content .sys_imageWithTextOverlay,
#content .sys_imageWithHoverText,
#content .sys_imageWithCaptionBelow,
#content .sys_image-with-heading,
.sys_image-with-heading,
.sys_image-with-heading .sys_image img {max-width: 100%; height: auto;} 
  
.sys_H1-image-714px-right, .sys_H1-2line-image-714px-textOverlay, .sys_H1-image-920px-right, .sys_H1-2line-image-920px-textOverlay {
    height: auto;
}
  
.sys_H1-image-714px-right h1, .sys_H1-image-920px-right h1, .sys_H1-image-466px-right h1, .sys_H1-image-714px-textOverlay h1, .sys_H1-2line-image-714px-textOverlay h1, .sys_H1-2line-image-920px-textOverlay h1 {
	font-size: 1.6em !important;
  	width: 96% !important;
  	top: 0 !important;    
}
  
.sys_H1-image-714px-right img, .sys_H1-2line-image-714px-textOverlay img, .sys_H1-image-920px-right img, .sys_H1-2line-image-920px-textOverlay img {
    margin-top: 5em;
} 
    
#container #Feature_List h3{left: 0; top: 0; }
#Feature_List h3 a{background-color: #ca0064; color: #fff;}
#Feature_List h3 a:hover{background-color: #e0dedd; color: #000;}

    
.sys_menHide {visibility:hidden!important; transition:1s;}
.sys_menShow {visibility:visible !important; left:0 !important; transition:1s;}


#footerLogos{margin-top: 1em;}
#container #footerLogos img{height: 52px; width: auto; margin-right: 8px;}  
  
#bottom p.sys_left, #bottom p.sys_right, #bottom h2 {
float: none;
text-align: left;
margin-left: 5%;
width: auto;
}

#bottom h2 {
margin-top: 1%;
margin-bottom: 2%;
}
  
/* Prospectus specific styles */

#content #maincourseaz, #content #maincourseazlinks, #content #maintaughtcourseaz {width: 100%}
#content #homepageimagewrapper, #UGHomepageRotate_List {height: 240px;}
body #content #homepageimagewrapper.pg-homepage-image-wrapper {height: 335px !important;}
#UGHomepageRotate_List .sys_thumbnail, #PGHomepageRotate_List .sys_thumbnail {display: none;}
.ug-section-top-left, .ug-section-mid-left, .ug-section-bottom-left, .ug-section-top-right, .ug-section-mid-right, .ug-section-bottom-right, .pg-section-top-left, .pg-section-mid-left, .pg-section-bottom-left, .pg-section-top-right, .pg-section-mid-right, .pg-section-bottom-right {height: auto;}
  
  

/* press release specific styles */
#CommsNewsThumbList_List h3, #CommsNewsThumbList_List .sys_subitem-summary {width: 96%;  padding: 0 2%;} 
  #content .sys_generic_list-control #CommsNewsThumbList_List .sys_thumbnail {float: left;}


}



@media only screen and (min-width: 768px) and (max-width: 967px) {
  
#nav{background-size: 90px; background-position: 0 -744px ; margin-bottom: 1em; height: auto; min-height: 24px; padding: 2px;}
.search, #topbar .sys_mobile-search{top: 6px;}
#container {max-width: 764px; width: auto;}

.sys_inner {width: 100%;}

.sys_CTA{height:90px; width: 240px; margin-bottom: 4px;}
.sys_CTA .sys_title{height: 90px;}
.sys_CTA .sys_title a{background-image:none; width: 96%; height: auto; margin: 0; padding: 8% 2% 9.1% 2%;}
.sys_CTA .sys_title a:hover{background-image:none!Important;}

.sys_rowWithBG{padding: 0;}  
  
  
#container #Feature_List h3 {position: absolute; left: 503px!important; width: 491px!important; top: auto; bottom: 39px!important;}
#Feature_List .slick-track{height: 278px;}
#Feature_List h3 br {display:none;}
#homepageFeature .sys_thumbnail img{height: 280px!important;}
	
#HomepageFooterLinks .sys_inner{padding: 1em;}
#HomepageFooterLinks .sys_threeColumns .sys_one, #HomepageFooterLinks .sys_threeColumns .sys_two, #HomepageFooterLinks .sys_threeColumns .sys_three {width: 30.7%;}

}

@media only screen and (max-width: 479px) {

#container #nav {min-height: 70px;} 
#container .sys_mobile-search-toggle{position:relative; top: 26px; left: 84%;}
#container .search{position:relative !important;}
#container .search input {padding: 10px 0 10px 6px; width: 96%;}
  
#pageTools ul.sys_left {display: block; right: 0; margin-top: 1.5em;}
    
.sys_bg-grey {width: 100%;}
  
#container #footerLogos{text-align:center;}
#container #footerLogos img{height: 70px; width: auto; margin: 0 8px 8px 8px;}   

#content .sys_image-with-heading .sys_heading {display: block; width: 100%; text-align: left; position: relative; top: 0; right: 0; left: 4px;}
#wrapper #content .sys_image-with-heading .sys_heading h2 {font-size: 1.2em; padding: 2px 0 2px 2%;}
#content .sys_image-with-heading-and-overlay .sys_textoverlay {margin-top: 0.5em; position: relative;}

  /* Prospectus specific styles */
#content #homepageimagewrapper, #UGHomepageRotate_List {height: 240px;}
#UGHomepageRotate_List .sys_thumbnail, #PGHomepageRotate_List .sys_thumbnail {display: none;}
  
  
/* image rotate fixes */
#FolderImagesBanner466_bannerwrapper, .sys_image-with-heading .sys_banner, .sys_image-with-heading .sys_banner img {max-width: 100% !important;}
#content .sys_image-with-heading .sys_textoverlay {
    bottom: 4em;
} 
  
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  
#container {max-width: 420px;}
  
}
/*Fixes for retina devices*/
@media (-webkit-min-device-pixel-ratio: 2) {
  #nav .sys_menu-title,
  #leftNav .sys_menu-title {
    padding-top: 8px;
  }
}


