﻿@charset "utf-8";

/* 全局定义 */
*{ margin:0;padding:0;}
* html body{ overflow:visible;}
* html iframe, * html frame{ overflow:auto;}
* html frameset{ overflow:hidden;}

body{ color:#333; background:#fff; font-size:12px; font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;}
/*body{background:#fff url(images/2016_g20_bg.jpg) repeat-x center top;}*/
#scol_topad{ margin:0 auto; width:1000px; height:60px; display:none;}
#scol_topad img{ width:100%; height:100%;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,tr{ margin:0; padding:0;}
input,select{ font-size:12px; vertical-align:middle;}
body div{ text-align:left;}
textarea,input{ word-wrap:break-word; word-break:break-all; padding:0px;}
li{ list-style-type:none;}
img{ border:0 none;}

a:link, a:visited{ color:#333; text-decoration:none;}
a:hover{ color:#900; text-decoration:underline;}
/*a { outline:none; star:expression(this.onfocus=this.blur());}*/

h1{ font-size:24px;}
h2{ font-size:20px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}

/* 通用属性定义 */
.pointer{ cursor:pointer;}
.noborder{ border:0 none;}

.t_l{ text-align:left;}
.t_c{ text-align:center;}
.t_r{ text-align:right;}

.break{ word-break:break-all; word-wrap:break-word;}
.nobreak{ word-break:keep-all; word-wrap:normal;}

.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}

.fb{ font-weight:bold;}
.fn{ font-weight:normal;}
.fi{ font-style:italic;}

.f10{ font-size:10px;}
.f12{ font-size:12px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}
.f22{ font-size:22px;}
.f24{ font-size:24px;}

.unline{ text-decoration:underline;}
.disunline{ text-decoration:none;}

.absolute{ position:absolute;}
.relative{ position:relative;}
.auto{ margin:0 auto;}

.w1000{ width:1000px; margin:0 auto; background-color:#fff; overflow:hidden;}

/* 通用容器定义 */
.wrapper{ clear:both; overflow:hidden;}
.o-hidden{ overflow:hidden;}
.invisible{ visibility:hidden;}
.hidden{ display:none;}
.block{ display:block;}

/* 清理元素 */
.clearfix:before,.clearfix:after {content:""; display:table;}
.clearfix:after {clear:both; overflow:hidden;}
.clearfix {zoom:1;}/*IE/7/6*/
.clear {clear:both; display:block; font-size:0; height:0; line-height:0; overflow:hidden;}

/* 标题栏样式 */
#btcol,#btcol2{margin:0 auto 5px auto; width:100%; height:35px; line-height:35px; background:#fff; border-bottom:1px dashed #000;}
#btcol2{border-bottom:2px solid #e6e6e6;}

.btcol_title,.btcol2_title{float:left; text-align:left; padding:0 5px;}
.btcol2_title{border-bottom:2px solid #4E9CCE;}

.btcol_more{float:right; text-align:right; padding-right:5px; padding-top:10px;}

#newslist{margin:0 auto 5px auto; width:100%; background:#fff; overflow:hidden;}

.newspic{float:left; margin-right:10px;}
.newspic2 li{position:relative; overflow:hidden;}

.newstxt,.newstxt2{float:left; line-height:22px; overflow:hidden;}
.newstxt2{width:100%;}

.col,.col-2{color:#1277B8;}
.col a,.col a:visited,.col-2 a,.col-2 a:visited{color:#1277B8}
.col{font-size:17px; line-height:35px;}
.col-2{font-size:20px; line-height:35px;}

.morelink {font-size:12px; color:#666; line-height:25px}
.morelink a,.morelink a:visited{color:#666;}

.t1,.t1-2,.t1-3{color:#919191;}
.t1 a,.t1 a:visited,.t1-2 a,.t1-2 a:visited,.t1-3 a,.t1-3 a:visited{color:#004276;}
.t1{font-size:12px;}
.t1-2 a{font-size:14px;}
.t1-3 a{font-size:16px; line-height:30px;}

.t2,.t2-2,.t2-3{color:#436472;}
.t2 a,.t2 a:visited,.t2-2 a,.t2-2 a:visited,.t2-3 a,.t2-3 a:visited{color:#333;}
.t2{font-size:12px;}
.t2-2 a{font-size:14px; line-height:30px;}
.t2-3 a{font-size:16px; line-height:30px;}
.t2-2 b a{color:#3382B1; font-weight:normal;}

/* 顶部搜索区 */
#scol_top{ background:#f1f1f1; height:45px; color:#6c6c6c;}
#scol_top .a1{ float:left; line-height:45px;}
#scol_top .a2{ float:right; width:550px; line-height:45px;}
#scol_top .a2 li{ float:left; margin-right:5px; cursor:pointer;}
#scol_top input{ height:25px; line-height:25px; color:#6c6c6c; border:0; padding-left:3px;}
#scol_top .login{float:right; _margin-top:11px;}
#scol_top .login input{ width:80px;}
#scol_top .mail{float:right;}
#scol_top .login img,#scol_top .mail img{ vertical-align:middle;}
#scol_top .search{float:right; width:140px; margin-top:11px;}
#scol_top .search .searchinput{float:left; width:100px;}
#scol_top .search .tab_search{background-color:#FFF}
#scol_top .search .searchaction{float:left; width:15px; height:15px; margin-top:5px; margin-right:5px;}

/* LOGO区 */
#scol_logo{ border-bottom:2px solid #E7EFF5; padding:5px 0;}
#scol_logo .a1{ float:left; width:490px;}
#scol_logo .a1 li{float:left; color:#1074B6; margin-right:20px;}
#scol_logo .a2{ float:right; width:510px; padding-top:5px;}

/* 展播台新闻区 */
#zbt_menu{margin:0 auto;width:100%;}
#zbt_menu .zbt_nav{width:10px;line-height:15px; float:left;}
#zbt_menu .zbt_nav span.active {background:#F63;border:1px solid #f63;position:relative;}
#zbt_menu .zbt_nav span{width:10px;height:10px;display:inline-block;border:1px solid #999;background:#999;text-align:center;margin-top:8px;cursor:pointer;}
#zbt_menu .zbt_nav span{
border-radius: 10px;
-ms-border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
#zbt_menu .zbt_sho{width:480px;display:none;overflow:hidden;margin-left:10px; margin-top:5px; float:left;}

/* 导航栏区 */
#scol_nav{height:60px;}
#scol_nav .menu{float:left; margin:6px 0 0 0; width:100%; position:relative;}
#scol_nav .menu div{position:absolute; top 36px !important; left:60px}
#scol_nav ul{float:left; margin:0; background:url(images/15scol_l1.gif) no-repeat right 50%; display:inline;}
#scol_nav li{float:left; width:100%; font-size:14px; line-height:24px; text-align:center;}
#scol_nav li a{float:left; width:60px; color:#333; display:block;}/*导航栏间距*/
#scol_nav li a:hover{color:#900;}
#scol_nav li span a{color:#BFEBF9; font-weight:normal;}

/* 市州导航栏区 */
#sz_nav{ background:#F0F4F8;}
#sz_nav ul{ width:98%; margin:0 auto; height:30px; line-height:30px; overflow:hidden;}
#sz_nav li{float:left; width:100%; font-size:14px;}
#sz_nav li a{color:#4983B1; padding-right:7px;}

/* 精华推荐区 */
#tjnav{ padding:8px 0;}
#tjnav ul{ width:98%; margin:0 auto; height:30px; line-height:30px; overflow:hidden;}
#tjnav li{float:left; width:100%;}
#tjnav li a{color:#2B7AAC;}
#tjnav li img{margin:0 5px 0 0; vertical-align:middle;}

/* 文字链广告 */
#adtxt-1,#adtxt-2,#adtxt-3{height:24px; line-height:24px; display:block; overflow:hidden;}
#adtxt-1{padding:5px 0;}
#adtxt-2{height:auto; line-height:20px;}
#adtxt-3{border-bottom:2px solid #E7EFF5; padding-bottom:5px;}
#adtxt-1 li,#adtxt-2 li,#adtxt-3 li{float:left; padding:2px 10px; word-spacing:10px;}
#adtxt-1 a,#adtxt-2 a,#adtxt-3 a{color:#333333;}

/*集团报刊菜单*/
#lr_systembox{margin:0 auto; width:230px; height:35px; background:#fff; position:relative; z-index:1000;}
#lr_systembox .lr_systembtn{margin:0 auto; width:100%; height:35px; line-height:35px; position:absolute; text-align:center; top:0px; right:0px; z-index:10001;}
#lr_systembox .lr_systembtn .lr_abtn{width:100%; display:block; font-size:14px; color:#ffffff; font-weight:bold; background:#C00; cursor:pointer;}
#lr_systembox .lr_systembtn .lr_abtn span img{margin:10px 0; vertical-align:middle;}
#lr_systembox .lr_menu{width:218px; text-align:left; padding:8px 5px; background:#fff; border:1px solid #eee; filter:alpha(opacity=90); opacity:0.90; position:absolute; top:35px; right:0px; z-index:10002; display:none;}
#lr_systembox .lr_menu li{line-height:24px;}
#lr_systembox .lr_menu a{font-size:12px; color:#436472; padding-right:10px;}

/* 视点新闻区 */
#sdnews{ background:#fff; padding:5px 0;}
#sdnews .a1{ float:left; width:350px; margin-right:35px; overflow:hidden;}
#sdnews .a1 ul{ width:98%; margin:5px auto; margin-bottom:10px;}
#sdnews .a1 li{ font-size:14px; line-height:30px;}
#sdnews .a1 li a{ color:#333;}
#sdnews .a1 li span a{ font-size:18px; color:#004276;}
#sdnews .a2{ float:left; margin-top:10px; overflow:hidden;}

/* 推荐新闻区 */
#tjnews{ background:#fff url(images/15scol_l2.gif) repeat-y;}
#tjnews .a1{ float:left; width:350px; margin-right:35px; overflow:hidden;}
#tjnews .a1 ul{ width:98%; margin:0 auto;}
#tjnews .a1 li{ font-size:14px; line-height:30px;}
#tjnews .a1 li a{ color:#333;}
#tjnews .a1 li span a{ font-size:18px; color:#004276;}
#tjnews .a2{ float:left; width:615px; overflow:hidden;}
#tjnews .a2 .b1{ float:left; width:350px; margin-right:35px; overflow:hidden;}
#tjnews .a2 .b2{ float:left; width:230px; overflow:hidden;}

/* 图片新闻区 */
#picnews{ background:#fff;}
#picnews .a1{ float:left; width:385px;}
#picnews .a1 li{ position:relative; overflow:hidden;}
#picnews .a2{ float:left; width:615px; overflow:hidden;}
#picnews .a2 ul{ margin:0 auto; width:100%;}
#picnews .a2 li{ float:left; margin-left:15px; _margin-left:11px; margin-bottom:10px; position:relative; overflow:hidden;}

/* 遮盖插件 */
.pic_dask{ width:100%; height:0; overflow:hidden; position:absolute; left:0; bottom:3px; bottom:0px\9; background:#000; filter:alpha(opacity=70); opacity:0.7; color:#fff;}
.pic_dask b{text-align:left; color:#fff; line-height:30px; padding-left:10px; clear:both}
.pic_dask b a{color:#fff;}

/* 频道新闻区 */
#pdnews{ background:#fff url(images/15scol_l2.gif) repeat-y;}
#pdnews .a1{ float:left; width:735px; background:#fff; overflow:hidden;}
#pdnews .a1 .b1{ float:left; width:350px; margin-right:35px; overflow:hidden;}
#pdnews .a1 .b2{ float:left; width:350px; overflow:hidden;}
#pdnews .a2{ float:left; width:230px; margin-left:35px; overflow:hidden;}

/* 版权信息 */
#copyright{background:#ffffff url(images/15scol_l3.jpg) repeat-x; display:table;}

/*友情链接*/
#links{overflow:hidden; background:#ffffff; padding:0;}
#links .a1{float:left; width:100%; height:22px; line-height:22px; overflow:hidden; background:#ffffff url(images/15scol_l4.jpg) repeat-x; text-align:left; font-size:12px; color:#0074C5; font-weight:bold;}
#links .a2{float:left; width:100%; overflow:hidden;}
#links .a2{font-size:12px; color:#436472;}
#links .a2 a{color:#436472; text-decoration:none}
#links .a2 a:hover{color:#990000; text-decoration:underline}
#links .a2 .hcol{float:left; clear:both; padding:10px 0px; width:100%;}
#links .a2 .hcol ul{ width:98%; margin:0 auto; padding:0; list-style:none; line-height:220%; white-space:nowrap;}
#links .a2 .hcol li{float:left; margin-right:10px;}

/*天府时评切换*/
#boxtab-2{margin:0 auto 5px auto; width:230px; overflow:hidden;}
#boxtab-2 .tnav{height:35px; line-height:35px; width:100%; margin-bottom:5px; border-bottom:1px dashed #000; font-size:17px;}
#boxtab-2 .tnav dt.active {position:relative; color:#1277B8;}
#boxtab-2 .tnav dt{cursor:pointer; float:left; padding:0 10px; color:#333;}
#boxtab-2 .tcontent dd{clear:both; display:none; width:100%;}

/*问政四川切换*/
#boxtab-3{margin:0 auto 5px auto; width:100%; overflow:hidden;}
#boxtab-3 .tnav{height:35px; line-height:35px; width:100%; margin-bottom:5px; border-bottom:1px dashed #000; font-size:20px;}
#boxtab-3 .tnav dt.active {position:relative; color:#1277B8;}
#boxtab-3 .tnav dt{cursor:pointer; float:left; padding:0 10px; color:#333;}
#boxtab-3 .tcontent dd{clear:both; display:none; width:100%;}

/*微博切换*/
#boxtab-4{margin:0 auto 5px auto; width:230px; overflow:hidden;}
#boxtab-4 .tnav{height:35px; line-height:35px; width:100%; margin-bottom:5px; border-bottom:1px dashed #000; font-size:17px;}
#boxtab-4 .tnav dt.active {position:relative; color:#1277B8;}
#boxtab-4 .tnav dt{cursor:pointer; float:left; padding:0 10px; color:#333;}
#boxtab-4 .tcontent dd{clear:both; display:none; width:100%;}

/*市州频道切换*/
#boxtab-1{margin:0 auto; width:230px; overflow:hidden;}
#boxtab-1 .szlist{margin:0 auto; width:100%; text-align:left;}
#boxtab-1 .szlist ul li{float:left; width:100%; background:#ffffff;}
#boxtab-1 .szlist li.szpic img{width:230px; height:145px;}
#boxtab-1 .szlist li.szpic a{color:#333333; font-weight:bold; line-height:20px;}
#boxtab-1 .szlist li.sztxt{float:left; width:100%; line-height:26px; white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;}
#boxtab-1 .szlist li.sztxt a{color:#436472;}
#boxtab-1 .tnav{height:24px; line-height:24px; width:100%;}
#boxtab-1 .tnav dt.active {position:relative; color:#CC6600;}
#boxtab-1 .tnav dt{cursor:pointer; float:left; padding:0 5px; color:#276CAB;}
#boxtab-1 .tcontent dd{clear:both; display:none; width:100%;}

/* 品牌推广*/
#xhProduce { position:relative; overflow:hidden; margin-bottom:15px; width:230px; }
#xhProduce .produce { position:relative; height:182px; }
#xhProduce .item { position:absolute; }
#xhProduce .item a { display:block; font-size:16px; text-align:center; color:#fff;}
#xhProduce .item a:hover { color:#fff!important; }
#xhProduce .item01 { width:76px; height:60px; top:0px; left:0px; background:#EB785E; }
#xhProduce .item01 a { line-height:20px; padding-top:10px; }
#xhProduce .item02 { width:153px; height:60px; top:0px; left:77px; background:#EFCF5E; }
#xhProduce .item02 a { line-height:60px; }
#xhProduce .item03 { width:76px; height:60px; top:61px; left:0px; background:#A3CB62; }
#xhProduce .item03 a { line-height:20px; padding-top:10px; }
#xhProduce .item04 { width:153px; height:60px; top:61px; left:77px; background:#408FC1; }
#xhProduce .item04 a { line-height:60px; }
#xhProduce .item05 { width:153px; height:60px; top:122px; left:0px; background:#6AC3C9; }
#xhProduce .item05 a { line-height:20px; padding-top:10px; }
#xhProduce .item06 { width:76px; height:60px; top:122px; left:154px; background:#C78BC7; }
#xhProduce .item06 a { line-height:20px; padding-top:10px; }
#xhProduce .cover { display:none; position:absolute; z-index:1; text-align:center; overflow:hidden; }
#xhProduce .cover i { display:inline-block; width:45px; height:45px; background:url(images/15scol_icon.png) no-repeat; margin:10px auto 5px auto; }
#xhProduce .cover p { text-align:left; }
#xhProduce .cover .summary { display:block; padding:0 5px 0 10px; line-height:18px; color:#fff; font-size:12px; }
#xhProduce .item01 .cover { top:0px; left:76px; height:182px; width:0; background:#EB785E; border-left:1px solid #fff; }
#xhProduce .item02 .cover { top:60px; left:-77px; height:0px; width:230px; background:#EFCF5E; border-top:1px solid #fff; }
#xhProduce .item03 .cover { top:-62px; left:77px; height:258px; width:0; background:#A3CB62; border-top:1px solid #fff; }
#xhProduce .item04 .cover { top:-61px; left:-78px; height:0; width:230px; background:#408FC1; border-left:1px solid #fff; }
#xhProduce .item05 .cover { bottom:61px; left:0; height:0; width:230px; background:#6AC3C9; border-right:1px solid #fff; }
#xhProduce .item06 .cover { bottom:61px; left:-155px; height:0; width:230px; background:#C78BC7; border-left:1px solid #fff; }
#xhProduce .item01 .cover i { background-position:0px 0px; }
#xhProduce .item02 .cover i { background-position:-90px -45px; float:left; margin:10px; }
#xhProduce .item03 .cover i { background-position:-45px 0px;}
#xhProduce .item04 .cover i { background-position:0px -45px; float:left; margin:8px 10px; }
#xhProduce .item05 .cover i { background-position:-90px 0px;  float:left; margin:10px; }
#xhProduce .item06 .cover i { background-position:-45px -45px; float:left; margin:10px; }
#xhProduce .item02 .cover p { padding-top:8px; }
#xhProduce .item04 .cover p { padding-top:4px; }
#xhProduce .item05 .cover p { padding-top:8px; }
#xhProduce .item06 .cover p { padding-top:8px; }

/*纯英文数字折行*/
.break-word {word-wrap:break-word;break-word:break-all;}

/*图片效果*/
.sf_pic{float:left;_display:inline;display:block;overflow:hidden}
.sf_pic img{-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s}
.sf_pic:hover img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}