﻿/********** ОБЩЕЕ ОФОРМЛЕНИЕ СТРАНИЦЫ ******************/
/* картинка background */
html {
    background-image: url('/img/back-header.jpg');
    background-repeat: repeat-x;
    background-position: 0 0;
}
body {
    font-family: Arial;
    background: url('/img/back-footer.jpg') repeat-x 0 100%;
}
/* Часть background под логотипом */
div.back1 { background: url('/img/back-1.png') no-repeat 50% 0 }
.rtl div.back1 { background-image: url('/img/back-1-rtl.png') }
/* Часть background в "подвале", под логотипом */
div.back2 { background: url('/img/back-2.png') no-repeat 50% 100% }

/********* BOX-1 - СПИСОК 42 ТРЕЙДЕРОВ ***************/
div.box-1 {
    background: url("/img/box-2.jpg") repeat-y scroll 0 0 #2C2C2C;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/********** ФОРМА ПОИСКА ************/
div.header { background-image: none }

div.header div.logo a { width: 202px; height: 90px; background: url('/img/logo.png') no-repeat 0 0; left: 8px; top: -3px }
div.header div.dropdown { border: 1px solid #554d4b }

/* спец. для ok-porn */
div.header div.category span { padding: 7px 0 0 22px; font-family: Tahoma, sans-serif; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; font-smoothing: antialiased;}
.rtl div.header div.category span { padding: 7px 22px 0 0; }


.rtl div.header h2 { right: 240px }
.rtl div.header div.logo a { right: -10px }
/********** ШАПКА ПЕРЕД БЛОКАМИ ********************/
div.title {
    background: url("/img/title.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    margin: 4px 0;
    padding: 5px 6px;
    border: 0;
}

div.title h1 {
    font-family: 'Impact';
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    text-shadow: 1px 1px #333333;
    text-transform: capitalize;
}

div.title img {
    display: inline-block;
    height: 24px;
    margin: 0 0 -5px 4px;
    width: 24px;
}

/********** НАВИГАЦИЯ И КНОПКИ *********/
div.nav { margin: 0 0 5px 0; }
div.nav a { display: inline-block; background: url('/img/u1.gif') repeat-x 0 0; border: 1px solid #ffffff; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; padding: 4px 9px 5px 9px; color: #4c0002; }
div.nav a:hover { background: url('/img/u3.gif') repeat-x 0 0; border: 1px solid #ffffff; color: #be907f; }
div.nav a.x { background: url('/img/u2.gif') repeat-x 0 0; border: 1px solid #fdddc4; color: #ffffff; }
div.nav a.x:hover { background: url('/img/u2.gif') repeat-x 0 0; border: 1px solid #fdddc4; color: #ffffff; }

/******** БОКС С RELATED ***********/
div.box-2 {
    background: url("/img/box-2.jpg") repeat-y scroll 0 0 #2C2C2C;
    border: 1px solid #272727;
    padding: 10px 0 10px 20px;
}
div.box-2 a {
    background-image: url('/img/x1.png');
    background-position: 0 3px;
    padding-left: 20px;
}
div.box-2 a:hover { background-image: url('/img/x2.png') }
.rtl div.box-2 a { padding-right: 19px }

div.thumbs-1 h3 { margin-top: 14px }

/******* БЛОК С КАРТИНКАМИ ВНУТРИ НИШИ **********/
div.thumbs-2 div.img a { color: #717171; }
div.thumbs-2 div.img b { background-image: none; background-color: #916045; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8 }
div.thumbs-2 div.img a:hover b { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); -moz-opacity: 1; opacity: 1; }
div.thumbs-2 p.c0 { text-transform: capitalize }
.rtl div.thumbs-2 p.c1 { padding-right: 20px }

/******* ИНДЕКС КАТЕГОРИЙ, ПОПУЛЯРНЫЕ ПОИСКОВЫЕ ЗАПРОСЫ ********/
div.box-4 {
    background: url("/img/box-2.jpg") repeat-y scroll 0 0 #2C2C2C;
    border: 1px solid #272727;
    padding: 10px 0 10px 20px;
    text-transform: capitalize;
}

/******* ТОП ТРЕЙДЕРОВ ******************/
div.box-3 {
    background: url("/img/box-2.jpg") repeat-y scroll 0 0 #2C2C2C;
    border: 1px solid #272727;
    padding: 10px 0 10px 20px;
}

div.footer { color: #727272 }
div.footer div.logo a {
    background: url("/img/logo2.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 76px;
    left: 0;
    position: absolute;
    top: 34px;
    width: 206px;
}
div.footer p.left { color: #E3A971 }
div.footer p.right { color: #E3A971 }
div.footer p.right a { color: #E3A971 }
div.footer p.right a:hover { color: #ffffff }
div.footer div.copy  { height: 151px }
div.copy p.left { float: none; position: absolute; top: 98px; left: 0 }
div.copy p.right { float: none; position: absolute; top: 98px; right: 0 }
