div#e_bdHaut{background:none !important}
div#e_access{display:none}
div#e_barreNav{display:none}
ul#e_menuLevel1{display:none}
ul#e_menuLevel2{display:none}
div#e_logo{border-bottom:solid 1px #EEE;width:606px !important;background:url(../images/css/env/logo_print.jpg) no-repeat top left;height:80px;margin-bottom:15px}
div#e_logo img{display:none}
td.e_col200px{display:none}
td.e_col200px2{display:none}
td.e_col200px_blank{display:none}
ul#e_footer{display:none}
div.piedDePage, div.PiedDePage{display:none}
div.blocboutons{display:none !important}

div.e_fullSite_redac{border:none;margin:0px !important}
th, caption {border:1px solid #e5e5e5 !important; border-collapse:collapse}
caption{border-bottom:none !important}
p.rethaupag{display:none}
body, div#body_e_redac, table#e_tablGeneral, div#e_contener, td#e_contenu,p.surtitre,div.entete,div.i_blocredac div.a_blocongh, td#e_footer_redac{background-color:#fff !important}
div.entete div.blocillustre div.btn-lien a{padding-right:20px}
table#e_tablGeneral{border-bottom:none !important}
/*div.i_blocredac{width:606px !important;background:none}*/
div.i_blocredac{width:100% !important;background:none}
div.entete_illustre{background-color:#FFF}
div.blocarapide_encart{background:#FFF}
div#e_printlegal{display:block;width:606px;margin-top:10px}
div.i_blocredac p.surtitrebloc, p.surtitrebloc {background: none #555F70 !important;}
p.a_titre1 {background: none #DC4D8C !important}
a.act, span.act, table.tab2dim th abbr, ul.a_actions span.popexcel, ul.a_actions span.poppdf, ul.a_actions span.popword, a.cb, a.imp, a.actual, a.pj, a.ei_photo_pic, span.ei_photo_pic {
    background-image: none !important;
}