/****** DEFAULT CSS ****/
.eligible {
	display: none;
}
.eligible-default {
	display: block;
}
.loader {
	background: transparent url(/cmcee/fr/banques/webservices/moteur-eligibilite/ajax-loader.gif) center center no-repeat;
}
/****** CSS CONSOLE ****/
.container-console {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 50%;
	right: 10px;
	z-index: 20000;
	background: rgba(0, 0, 128, 0.8);
	padding: 5px;
	border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	/*cursor: move;*/
	overflow-y: scroll;
	color:#FFF;
}
	.container-console .content-console {
		/*max-height: 600px;
		overflow-y: scroll;*/
	}
		.container-console .content-console fieldset {
			margin-top: 4px
		}
		.container-console .content-console legend {
			text-transform: none;
		}
	.container-console .header-console {
		background: #006;
		color: #FFF;
		padding: 8px;
		margin-bottom: 10px;
	}
		.container-console .header-console label {
			color: #777;
			font-weight: bold;
			text-decoration: underline;
		}
	.container-console .item-console {
		position: relative;
		padding: 4px 0;
		/*border-bottom: 1px dashed #CCC;*/
	}
		.container-console .item-console label {
			padding: 0;
			color: #EEE;
			font-style: italic;
			/*border-left: 1px dashed #CCC;*/
			padding-left: 6px;
			margin-left: 6px;
		}
		.container-console .item-console span {
			/*border-left: 1px dashed #CCC;
			padding-left: 6px;
			margin-left: 6px;*/
			color: #666;
		}
		.container-console .item-console span:first-child {
			border: none; margin: none; padding: 0;
		}
	.container-console h4 {
		float: right;
		text-transform: uppercase;
		color:#999;
	}
	.container-console h5 {
		float: none;
		color:#FFF;
		font-size: 10px;
		font-weight: 0;
	}
	.container-console fieldset {
		/*background: #004;*/
		background: rgba(0, 0, 0, 0.2);
		color:#FFF;		
	}
	.container-console legend {
		/*background: #004;*/
		background: rgba(255, 255, 255, 0.8);
		color: rgba(0, 0, 0, 0.8);
	}
	.container-console .tooltip {
		display: none;
		position: absolute;
		top: 10px;
		right: 20px;
		width: 250px;
		/*left: 20px;*/
		background: #FFF;
		padding: 10px;
		border: 1px solid #888;
		z-index: 2000;
	}
		.container-console .item-console:hover .tooltip {
			display: block; 
		}
	.container-console span {
	}
	.container-console span.success {
		color: #0F0;
	}
	.container-console span.error {
		color: red;
	}
	.container-console .btn-close {
		color: #AAA;
		background: #000;
		padding: 3px;
		position: absolute;
		top: 8px; 
		right: 8px;
		font-size: 15px;
		font-weight: bold;
		text-decoration: none;
		line-height: 15px;
	}