﻿a.act,span.act,table.tab2dim th abbr,ul.a_actions span.popexcel,ul.a_actions span.poppdf,ul.a_actions span.popword,a.cb,a.imp,a.actual,a.pj,a.ei_photo_pic,span.ei_photo_pic{background-image:url(../images/css/v3base/spic.gif) !important;}
ul.a_actions a.popexcel,ul.a_actions a.poppdf,ul.a_actions a.popword {background-image:url(../images/css/v3base/spic.gif);}
ul.a_actions a.like{background-image:url(../images/css/v3base/like.png) !important;  background-position: 0 2px;}
div.a_blocongh ul li,div.i_blocredac div.a_blocongh ul li.ina,div.i_blocredac div.a_blocongh ul li.recapina,div.a_blocongh ul li.ina,div.a_blocongh ul li.recapina,div.a_blocongh ul li.sel,div.a_blocongh ul li.recapsel,ul.a_menuappli,ul.a_menuappli li,ul.a_menuappli li.sel,p.a_titre2,div.i_blocredac input,div.a_blocappli input,textarea.err,.rupture,.rupture2,caption,div.bloccal div.blocmois,p.a_titre1,div.i_blocredac p.surtitrebloc,p.surtitrebloc,div.i_blocredac .titre1,div.i_blocredac table.gouttieres .titre1{background:transparent url(../images/css/v3base/sbg.png) repeat-x top}
html{font-size:100%;}
body{background:#F4F4F4;font-size:0.7em;}
body,td,th,caption,h2,h3,h4,h5,h6,div,p,textarea{color:#213143;font-family:Arial, Helvetica, sans-serif;}
*{background-repeat:no-repeat;margin:0;padding:0;}
a{color:#10509A;text-decoration:underline;}
a:hover{color:#116fa5;}
a.visited:visited {color:#4D93BC;}
abbr,acronym,dfn{border-bottom:dotted 1px #213143;}
abbr,acronym{cursor:default;}
abbr[title],acronym[title]{cursor:help;}
hr{border:none;border-top:1px solid #E5E5E5;font-size:0;height:1px;margin:20px 30px;}
em strong,strong em,em em,strong strong{color:#8e0434;}
fieldset{background-color:#FFF;border:1px solid #D8D8D8;margin-bottom:8px;padding:10px;}
legend{background:#FFF;border:1px solid #D8D8D8;color:#3A6A91;font-size:1em !important;font-weight:700;padding:5px 15px;text-transform:uppercase;}
legend.etape span{font-size:1.4em !important;}
label{padding-right:5px;}
select{font-size:1em !important;font-weight:400;}
.i{background-color:#FFF !important;}
.p{background-color:#F1F1F1 !important;}
.rupture, .rupture2{background-position: 0 -1099px;height: 8px;background-color:#fff !important;color:#0f1b25;font-weight:700;padding:6px 4px;text-align:left !important;}
.fs{background-image:url(../images/std/fleche_stable.gif);}
.fb{background-image:url(../images/std/fleche_baisse.gif);}
.fh{background-image:url(../images/std/fleche_hausse.gif);}
em.attn{background:url(../images/std/icoexcla.gif) left  2px no-repeat;margin:0 5px;}
.bord2 p.titreaplat,.bord1 p.titreaplat{margin:0 30px !important;}
.decal1{padding-left:15px !important;}
img.bord{border:1px solid #E5E5E5;margin-bottom:0;margin-top:0;}
.marges{padding:15px;}
table,tr,td,th{border:none;font-size:1em;margin:0;padding:0;}
a.popcallback{background:url(../images/css/v3base/popcallback.gif) left top no-repeat;display:block;height:49px !important;margin-top:3px;padding:3px 50px 3px 8px;text-align:left;text-decoration:none;width:99px !important;}
a.cb{background-position: 0 -519px; height: 11px;padding-left:27px;}
a.pj{background-position: 0 -1229px !important; /*height: 18px;*/}
a.act,span.act,span.act a{color:#10509a;font-weight:700;}
a.act.archive,a.act.restore ,a.act.reply {background-image: url("../images/css/v3base/spic.gif") !important;  background-position: 0 5px !important;} /*MBO pictos de base imposés pour empecher les nouveaux pictos de commun*/
td.a_actions a.act.archive, td.a_actions a.act.restore , td.a_actions a.act.reply {background:none !important} /*MBO pictos de base imposés pour empecher les nouveaux pictos de commun*/
a.pj {color:#1b4d88;}
div.a_blocongfond ul.a_actions a.act,div.a_blocongfond ul.a_actions span.act,div.a_blocongfond ul.a_actions span.act a{color:#3b6b91;font-weight:400;}
a.act,span.act{background-position: 0 5px; /*width: 11px; height: 10px;*/padding-left:20px;}
a.actual{background-position: 0 -1161px; /*width: 26px; height: 18px;*/padding-left:26px;}
a.ei_photo_pic,span.ei_photo_pic{background-position: 0 -1485px !important; /*width: 11px; height: 10px;*/padding-left:20px;height:13px}
a.ei_locate, span.ei_locate {background-image: url(../images/css/v3base/ei_locate.png) !important;}
ul.a_actions{padding-left:10px;width:99%;}
ul.a_actions li{padding:4px 5px 4px 0;}
div.a_blocongfond ul.a_actions a.sup{color:#4b4b4d;}
ul.a_actions a.popexcel,ul.a_actions span.popexcel{background-position: 0 -189px;height: 19px;padding-left:26px !important;}
ul.a_actions a.poppdf,ul.a_actions span.poppdf{background-position: 0 -258px;height: 19px;padding-left:26px !important;}
ul.a_actions a.popword,ul.a_actions span.popword{background-position: 0 -327px;height: 19px;padding-left:26px !important;}
a.imp{background-position: 0 -1092px /*width: 28px;height: 22px*/;padding-left:35px;}
a.popaide{background:url(../images/std/icoaide_ampoule.gif) center left no-repeat !important;color:#FFF !important;padding:4px 0 4px 24px;}
a.triasc{background:url(../images/std/tri.c.gif) no-repeat top right #6091BA;}
a.trioff{background:url(../images/std/tri.off.gif) no-repeat top right #6091BA;}
a.tridesc{background:url(../images/std/tri.d.gif) no-repeat top right #6091BA;}
a.triasc,a.tridesc,a.trioff{border:solid 1px #ABCBE3;font-weight:700;margin:0;padding-left:5px;padding-right:15px;text-decoration:none;}
a.popimp{background:url(../images/std/icoimpr.gif) left center no-repeat;height:22px;line-height:22px;padding:5px 10px 5px 35px;vertical-align:top;}
a.renvoi{font-size:0.9em;line-height:9px;padding:0 0 5px;text-decoration:none;vertical-align:top;}
a.popbulle{height:20px;line-height:20px;margin-left:5px;text-decoration:none;vertical-align:top;}
a.afficher,a.masquer{padding-right:1px;}
.ei_stick{ position:fixed;top:0px;}
.rupture a,.rupture2 a{color:#0f1b25;}
table.fiche th.rupture a,table.liste th.rupture a,table.tab2dim th.rupture a{color:#0f1b25 !important;font-weight:700;}
table.fiche th.rupture2 a,table.liste th.rupture2 a,table.tab2dim th.rupture2 a{color:#0f1b25 !important;font-weight:700;}
div.gouttieres{display:table;padding:0;width:100%;}
.col2tiers,.col1tiers,.col230,.colAuto{display:table-cell;vertical-align:top;}
table.gouttieres td.sep{border-left:solid 1px #E5E5E5;}
table.gouttieres td.sanspadding{padding-left:0 !important;padding-right:0 !important;}
div.colAuto{width:auto;}
div.col1tiers{width:33%;}
div.margLeft15px{padding-left:15px;}
div.col230{width:230px;}
p.a_titre1{background-position: 0 -1358px;height: 56px; background-color:#E5E5E5;color:#FFF;font-size:2.2em !important;font-weight:700;height:56px;line-height:56px;margin:0 !important;padding:0 10px;}
.titre2{color:#4179AC;font-size:1.5em;font-weight:700;margin:0;padding:5px 0 2px 30px;}
.titre2 span{color:#561004;}
.titre3{color:#873924;font-size:1.2em;font-weight:700;padding-left:30px;}
.titre4{color:#873924;font-size:1.1em;font-weight:700;padding-left:30px;}
span.titre3,.titre4 span{color:#533219;}
p.texteencart{color:#443B59;font-size:1.1em;font-weight:400;}
p.intro span{color:#481212;}
div.i_blocredac p.surtitrebloc,p.surtitrebloc{background-position: 0 -1358px; max-height: 56px;background-color:#E5E5E5;color:#fff;font-size:1.5em !important;font-weight:700;margin:0 !important;padding:3px 0 3px 10px !important;}
p.titrectx{color:#D52A75;font-size:1.1em;font-weight:700;}
p.titrectx span{color:#BD3E0C;}
p.chapeau,p.intro,p.titreintro{margin:0;padding-top:5px;}
p.chapeau{font-size:1.3em;}
p.titreintro{color:#5E6263;font-size:1.3em;font-weight:700;}
p.titreintro span{color:#0C3944;}
p.surtitre{background:#E5E5E5;color:#5E5E5E;font-size:1.2em;margin:-1px -1px 0 !important;padding-bottom:5px;text-transform:uppercase;}
p.titrepara,span.titrepara{color:#4C4C4C !important;font-size:1.1em !important;font-weight:700;padding-right:5px !important;}
p.rethaupag{margin:5px 0;text-align:right;}
p.rethaupag a{background:url(../images/css/v3base/rethaupag.gif) no-repeat right top;color:#4C4C4C;font-size:9px;height:24px;padding:5px 5px 5px 20px;text-decoration:none;}
p.fermer a{color:#4C4C4C;padding-bottom:10px;}
p.liensctx{color:#3c3c3c;margin-right:10px;padding:0 10px;}
p.liensctx a{color:#3c3c3c;padding:0;}
p.accroche{color:#873924;font-family:verdana;font-size:1.1em !important;font-weight:700;padding-top:20px;}
p.note,p.note a{background:none !important;color:#5E5E5E !important;}
p.titreaplat{color:#D52A75;font-size:1em;font-weight:700;margin:0 !important;padding:0 0 5px;}
p.a_options{background:#E5E5E5 !important;margin:0;padding-bottom:5px;}
p.restriction{font-weight:700;margin:0;padding:10px;text-align:center;}
p.restriction a{color:#477499;font-weight:400;margin:0;}
p.a_titre2{background-position: 0 -507px;height: 37px;background-color:#FFF;border-top:solid 1px #D4D4D4;color:#D52A75;font-size:1.1em;font-weight:700;margin:0;padding:5px 15px 17px;text-align:center;}
p.titlig{font-weight:700;margin:0;padding:0 5px 0 0;text-align:right;}
:root p.titlig{padding-top:2px;}
div.a_blocappli p.liensctx{margin-right:3px;margin-top:0;text-align:right;}
p.i_menuh{color:#10509A;font-weight:700;}
p.aide{font-style:italic;margin:0;}
p.notejuridique{background:url(../images/css/v3base/notejuridique-fds.gif) no-repeat top left;font-style:italic;padding-left:20px;}
fieldset p.rupture{background-color:transparent !important;background-image:none !important;font-weight:400;}
td.a_actions span.off,th.a_actions span.off{background-image:none !important;}
span.titrepara,p.titrepara{color:#B31900;font-size:1.3em;margin:0;padding:0 10px 0 0;}
span.oblig{color:#4C4C4C;font-weight:700;padding-left:4px;padding-right:3px;}
span.renvoi{font-size:0.9em;line-height:9px;padding:0 0 5px;vertical-align:top;}
span.aide{background:none;font-style:italic;}
span.doux{color:#888;}
span.off {background: url("../images/css/v3base/icocroix.gif") no-repeat scroll left center transparent !important;padding-left: 16px !important;}
div.i_blocredac{background:#FFF;border:solid 1px #CFCFCF;border-top:none;margin-bottom:4px;padding-bottom:10px;}
div.i_blocredac dl.argumentaire dd,div.i_blocredac dl.lexique dd{margin:0 30px 0 15px;}
div.i_blocredac p{margin:0 30px 10px;}
/*div.i_blocredac .titre1,div.i_blocredac table.gouttieres .titre1{background-position: 0 -1358px; height: 56px;background-color:#E5E5E5;border-bottom:solid 1px #D4D4D4;color:#FFF;font-size:2.1em !important;font-weight:700;margin:0 -1px !important;padding:13px 0 17px 10px !important;}*/
div.i_blocredac .titre1,div.i_blocredac table.gouttieres .titre1{background:#E5E5E5 url(../images/css/v3base/titre.gif) top right no-repeat;border-bottom:solid 1px #D4D4D4;color:#FFF;font-size:2.1em !important;font-weight:700;margin:0 -1px !important;padding:13px 0 17px 10px !important;}
div.i_blocredac div.entete .titre1{background:none;border-bottom:none;margin:0;padding:10px 0 0 30px !important;}
div.i_blocredac .titre2,div.i_blocredac .titre3,div.i_blocredac .titre4{color:#D52A75;font-weight:700;margin-left:0 !important;}
div.i_blocredac .titre3,div.i_blocredac .titre3 span{font-size:1.2em;}
div.i_blocredac p.accroche{color:#D52A75;font-weight:700;margin-bottom:4px;}
div.i_blocredac a.titre3{color:#D52A75;font-size:1.2em;font-weight:700;margin-left:0 !important;text-decoration:none;}
div.i_blocredac p.intro{font-size:1em;font-weight:700;}
div.i_blocredac table.gouttieres{margin:10px 15px !important;}
div.i_blocredac table.gouttieres p.titreaplat,div.i_blocredac table.gouttieres p.surtitrebloc,div.i_blocredac table.gouttieres img.fg{margin-left:0 !important;margin-right:10px !important;}
div.i_blocredac table.gouttieres img.fl{margin-left:10px !important;margin-right:0 !important;}
div.i_blocredac table.gouttieres td{padding-left:15px !important;padding-right:15px !important;}
div.i_blocredac table.gouttieres td.premcol,div.i_blocredac table.gouttieres td.col1demi,div.i_blocredac table.gouttieres td.col1tiers{margin:0;padding:0;}
div.i_blocredac table.gouttieres div.aplat1,div.i_blocredac table.gouttieres div.aplat2{margin-top:0;}
div.i_blocredac ul.niv1{list-style-image:url(../images/css/v3base/i_blocredac_puce_ul_niv1.gif) !important;}
.err ul.niv1{list-style-image:url(../images/css/v3base/i_blocredac_puce_ul_niv1_err.png) !important;}
div.i_blocredac ul,div.i_blocredac ul.niv2{list-style-image:url(../images/css/v3base/i_blocredac_puce_ul_niv2.gif) !important;}
div.i_blocredac ul.niv3{list-style-image:url(../images/css/v3base/i_blocredac_puce_ul_niv3.gif) !important;}
div.i_blocredac div.a_blocongh{background:#E5E5E5 url(../images/css/v3base/i_blocredac_a_blocongh.gif) left bottom repeat-x;margin:-16px -1px 8px;padding:0 !important;}
div.i_blocredac div.a_blocongh ul{font-size:1.1em;margin:0 !important;padding:0 !important;}
div.i_blocredac div.a_blocongh ul li{background:#D52A75 url(../images/css/v3base/i_blocredac_a_blocongh_li.gif) no-repeat top left;height:27px;line-height:27px;list-style:none !important;margin:0 2px -1px 0;padding:0;}
div.i_blocredac div.a_blocongh ul li a{background:url(../images/css/v3base/i_blocredac_a_blocongh_li_a.gif) no-repeat top right;color:#FFF;font-weight:700;height:27px;line-height:27px;padding:0 20px;text-decoration:none;}
div.i_blocredac div.a_blocongh ul li.sel{background:#FFF url(../images/css/v3base/i_blocredac_a_blocongh_li_sel.gif) no-repeat top left !important;}
div.i_blocredac div.a_blocongh ul li.sel a{background:url(../images/css/v3base/i_blocredac_a_blocongh_li_a_sel.gif) no-repeat top right;color:#D52A75 !important;}
div.i_blocredac div.a_blocongh ul li.ina,div.i_blocredac div.a_blocongh ul li.recapina{background-position: 0 -129px; height: 23px;background-color:#EBEBEB;}
div.i_blocredac table.gouttieres ul{margin-left:4px !important;padding-left:10px !important;}
div.i_blocredac table.tab2dim ul,div.i_blocredac table.fiche ul,div.i_blocredac table.liste ul{padding-left:20px !important;}
div.i_blocredac form .titre2,div.i_blocredac form .titre3,div.i_blocredac form .titre4{padding-left:0;}
div.aplat1{background:#FFF;font-size:1em;margin:10px 30px;padding:0;}
div.encart_top,div.encart_bottom,div.encart_g,div.encart_d,div.encart_coinhg,div.encart_coinhd,div.encart_coinbg,div.encart_coinbd,div.encart{margin:0;padding:0;}
div.aplat1 div.encart_top{background:url(../images/css/v3base/spacer_gris.gif) repeat-x left top;background-color:transparent;}
div.aplat1 div.encart_bottom{background:url(../images/css/v3base/spacer_gris.gif) repeat-x left bottom;background-color:transparent;}
div.aplat1 div.encart_g{background:url(../images/css/v3base/spacer_gris.gif) repeat-y left top;background-color:transparent;}
div.aplat1 div.encart_d{background:url(../images/css/v3base/spacer_gris.gif) repeat-y right top;background-color:transparent;}
div.aplat1 div.encart_coinhg{background:url(../images/css/v3base/encart1_coinhg.gif) no-repeat left top;background-color:transparent;}
div.aplat1 div.encart_coinhd{background:url(../images/css/v3base/encart1_coinhd.gif) no-repeat right top;background-color:transparent;}
div.aplat1 div.encart_coinbg{background:url(../images/css/v3base/encart1_coinbg.gif) no-repeat left bottom;background-color:transparent;}
div.aplat1 div.encart_coinbd{background:url(../images/css/v3base/encart1_coinbd.gif) no-repeat right bottom;background-color:transparent;}
div.aplat2{background:#F6F6F6;font-size:1em;margin:10px 30px;padding:0;}
div.aplat2 div.encart_coinhg{background:url(../images/css/v3base/encart2_coinhg.gif) no-repeat left top;}
div.aplat2 div.encart_coinhd{background:url(../images/css/v3base/encart2_coinhd.gif) no-repeat right top;}
div.aplat2 div.encart_coinbg{background:url(../images/css/v3base/encart2_coinbg.gif) no-repeat left bottom;}
div.aplat2 div.encart_coinbd{background:url(../images/css/v3base/encart2_coinbd.gif) no-repeat right bottom;}
div.aplat2 div.encart_top{background:url(../images/css/v3base/spacer_gris.gif) repeat-x left top;}
div.aplat2 div.encart_bottom{background:transparent url(../images/css/v3base/spacer_gris.gif) repeat-x scroll bottom;}
div.aplat2 div.encart_g{background:transparent url(../images/css/v3base/spacer_gris.gif) repeat-y scroll left;}
div.aplat2 div.encart_d{background:transparent url(../images/css/v3base/spacer_gris.gif) repeat-y scroll right;}
div.encart p.titreaplat{color:#4C4C4C !important;font-size:1.1em;}
div.encart span.titrepara{color:#4C4C4C !important;display:block;font-size:1em;margin-top:3px;}
div.encart p.accroche{font-size:1em;font-weight:400;margin-top:5px !important;padding-top:0;}
div.encart_picto{background:#EEE;border-bottom:solid 1px #E0E0E0;border-right:solid 1px #E0E0E0;margin:10px 30px;padding:0;}
div.encart_picto p.titreaplat{border-bottom:dotted 1px #D6D6D6;color:#4C4C4C !important;margin:0 20px 5px 0 !important;}
div.encart_picto p{margin:0 20px 0 0;}
div.encart_picto div.encart_coinhd{background:url(../images/css/v3base/corner.gif) no-repeat right top;margin-right:-1px;}
div.encart_picto div.encart_picto_content{padding:10px 0;}
div.encart_picto div.encart_picto_content div.picto{float:left;text-align:center;width:96px;}
div.encart_picto div.encart_picto_content div.encart{float:left;padding:0;width:444px;}
div.postit{background:#fbf5a9;}
div.postit div.encart_coinbd{background:url(../images/css/v3base/postit.jpg) no-repeat right bottom;}
div.postit div.encart_top{background:url(../images/css/v3base/spacer_postit.gif) repeat-x left top;}
div.postit div.encart_bottom{background:url(../images/css/v3base/spacer_postit.gif) repeat-x left bottom;}
div.postit div.encart_g{background:url(../images/css/v3base/spacer_postit.gif) repeat-y left top;}
div.postit div.encart_d{background:url(../images/css/v3base/spacer_postit_2.gif) repeat-y right top;}
div.postit div.encart{padding:10px;}
div.postit div.encart p.postit-titre{font-size:1.3em;font-weight:700;}
div.postit ul,div.postit ul.niv1,div.postit ul.niv2,div.postit ul.niv3{padding-left:14px;}
div.entete{background:#E5E5E5 url(../images/css/v3base/entete.jpg) no-repeat top left;border-bottom:solid 1px #CFCFCF;height:175px;margin:0 -1px 15px;padding:0;}
div.entete div.img_entete{display:inline;float:left;padding-right:30px;}
div.entete div.blocillustre p{color:#FFF !important;font-size:1.1em;}
div.entete div.blocillustre div.entete-btn{padding-right:7px;}
div.entete div.blocillustre div.btn-lien{background:url(../images/css/v3base/btn-lien_div.gif) no-repeat center left;display:inline;float:right;margin-right:1px;padding:3px 0 5px;text-align:right;}
div.entete div.blocillustre div.btn-lien a{background:url(../images/css/v3base/btn-lien_a.gif) no-repeat center right;color:#538DBF;font-weight:700;padding:4px 20px 5px 10px;text-decoration:none;}
div.entete div.blocillustre span{color:#FFF;display:block;font-size:1.1em;margin-left:30px;}
div.entete-flash div.entete{background-image:none;}
div.entete-flash div.entete div.entete-flash-alternatif{background:#E5E5E5 url(../images/css/v3base/entete.jpg) no-repeat top left;height:170px;margin:0;padding:0;}
div.entete-flash p,div.entete-flash a{color:#FFF !important;}
div.blocillustre img.fg{margin:0 10px 5px 30px !important;}
div.blocillustre img.fd{margin:0 30px 5px 10px !important;}
div.leger div.entete{background:#E5E5E5 url(../images/css/v3base/entete_leger.gif) no-repeat scroll left top !important;}
div.entete div.img_entete img.fg{border:1px solid #cfcfcf;margin:10px 0 0 10px !important;}
div.leger div.entete .titre1{color:#D52A75 !important;font-size:1.8em !important;}
div.leger div.entete div.blocillustre p{color:#213143 !important;}
div.flash_ssmarche{border-bottom:4px solid #e5e5e5;margin:-15px 0 2px;padding:0;}
div.blocfocus{background-color:#E5E5E5;border-bottom:solid 1px #CFCFCF;margin:-16px -1px 15px;padding:0 0 5px;}
div.blocfocus_bg{background-color:#fff;float:left;}
div.blocfocus div.encart_top{background:#FFF url(../images/css/v3base/spacer3.gif) repeat-x left top;background-color:transparent;float:left;}
div.blocfocus div.encart_bottom{background:url(../images/css/v3base/spacer3.gif) repeat-x left bottom;background-color:transparent;float:left;}
div.blocfocus div.encart_g{background:url(../images/css/v3base/spacer3.gif) repeat-y left top;background-color:transparent;float:left;}
div.blocfocus div.encart_d{background:url(../images/css/v3base/spacer3.gif) repeat-y right top;background-color:transparent;float:left;}
div.blocfocus div.encart_coinhg{background:url(../images/css/v3base/illus_coinhg.gif) no-repeat left top;background-color:transparent;float:left;}
div.blocfocus div.encart_coinhd{background:url(../images/css/v3base/illus_coinhd.gif) no-repeat right top;background-color:transparent;float:left;}
div.blocfocus div.encart_coinbg{background:url(../images/css/v3base/illus_coinbg.gif) no-repeat left bottom;background-color:transparent;float:left;}
div.blocfocus div.encart_coinbd{background:url(../images/css/v3base/illus_coinbd.gif) no-repeat right bottom;background-color:transparent;float:left;width:608px;}
div.blocfocus div.encart{padding:8px 10px;}
div.blocfocus div.encart p.accroche{color:#D52A75;font-size:1em;font-weight:700;}
div.blocfocus div.encart div.lien{padding:0;text-align:right;}
div.blocarapide{background:#E5E5E5;border-bottom:solid 1px #CFCFCF;margin:-16px -1px 15px;padding:0 0 5px;}
div.blocarapide table.gouttieres{margin:0 !important;padding:0 !important;width:608px;}
div.blocarapide table.gouttieres td{margin:0 !important;padding:0 2px !important;}
div.blocarapide div.encart_top{background:#5A8AB8 url(../images/css/v3base/blocarapide_top.gif) repeat-x left top}
div.blocarapide div.encart_bottom{background:url(../images/css/v3base/blocarapide_bottom.gif) repeat-x left bottom;background-color:transparent;}
div.blocarapide div.encart_coinhg{background:url(../images/css/v3base/blocarapide_coinhg.gif) no-repeat left top;background-color:transparent;}
div.blocarapide div.encart_coinhd{background:url(../images/css/v3base/blocarapide_coinhd.gif) no-repeat right top;background-color:transparent;}
div.blocarapide div.encart_coinbg{background:url(../images/css/v3base/blocarapide_coinbg.gif) no-repeat left bottom;background-color:transparent;}
div.blocarapide div.encart p{color:#FFF;margin:0;}
div.blocarapide div.encart .titre3{color:#FFF;margin:0 0 5px;padding:0;}
div.blocarapide div.encart select{margin:0 3px;}
div.branch_finder div.saisir,div.branch_finder div.lister,div.branch_finder div.a_blocfctl{padding: 0 8px 10px 30px;}
div.branch_finder .titre3{color:#5F5959;}
div#acces_rapide.aplat2 option.op_univers{background-color:#e8eced;border-bottom:1px solid #d1d6d8;border-top:1px solid #d1d6d8;color:#000;font-size:1.1em;font-weight:700 !important;margin:10px 0 0;}
div#acces_rapide.aplat2{background:#e5e5e5 none repeat scroll 0 !important;margin-left:15px !important;margin-right:15px !important;}
div#acces_rapide.aplat2 input.image{margin-top:-2px;}
div#acces_rapide.aplat2 div.encart_coinhg{background:transparent url(../images/css/v3base/encart2_coinhg_ar.gif) no-repeat scroll left top;}
div#acces_rapide.aplat2 div.encart_coinhd{background:transparent url(../images/css/v3base/encart2_coinhd_ar.gif) no-repeat scroll right top;}
div#acces_rapide.aplat2 div.encart_coinbg{background:transparent url(../images/css/v3base/encart2_coinbg_ar.gif) no-repeat scroll left bottom;}
div#acces_rapide.aplat2 div.encart_coinbd{background:transparent url(../images/css/v3base/encart2_coinbd_ar.gif) no-repeat scroll right bottom;}
div#acces_rapide.aplat2 div.encart_top{background:transparent url(../images/css/v3base/spacer_gris_ar.gif) repeat-x scroll top;}
div#acces_rapide.aplat2 div.encart_bottom{background:transparent url(../images/css/v3base/spacer_gris_ar.gif) repeat-x scroll bottom;}
div#acces_rapide.aplat2 div.encart_g{background:transparent url(../images/css/v3base/spacer_gris_ar.gif) repeat-y scroll left;}
div#acces_rapide.aplat2 div.encart_d{background:transparent url(../images/css/v3base/spacer_gris_ar.gif) repeat-y scroll right;}
div.blocvoiraussi{background:#fff url(../images/css/v3base/blocvoiraussi_bg.gif) repeat-x scroll top;font-size:1em;margin:0;padding:0;}
.blocvoiraussi ul{margin:5px 0 !important;padding:0 0 0 14px !important;}
.blocvoiraussi .encart{padding:5px 5px 5px 10px;}
div.blocvoiraussi div.encart{min-height:85px;padding:10px 16px;}
.blocvoiraussi p{margin-top:5px !important;}
div.blocvoiraussi div.encart_top{background:transparent url(../images/css/v3base/blocvoiraussi_h.gif) repeat-x scroll top;}
div.blocvoiraussi div.encart_bottom{background:transparent url(../images/css/v3base/blocvoiraussi_b.gif) repeat-x scroll bottom;}
div.blocvoiraussi div.encart_g{background:transparent url(../images/css/v3base/blocvoiraussi_g.gif) repeat-y scroll left;}
div.blocvoiraussi div.encart_d{background:transparent url(../images/css/v3base/blocvoiraussi_d.gif) repeat-y scroll right;}
div.blocvoiraussi div.encart_coinhg{background:transparent url(../images/css/v3base/blocvoiraussi_coinhg.gif) no-repeat scroll left top;}
div.blocvoiraussi div.encart_coinhd{background:transparent url(../images/css/v3base/blocvoiraussi_coinhd.gif) no-repeat scroll right top;}
div.blocvoiraussi div.encart_coinbg{background:transparent url(../images/css/v3base/blocvoiraussi_coinbg.gif) no-repeat scroll left bottom;}
div.blocvoiraussi div.encart_coinbd{background:transparent url(../images/css/v3base/blocvoiraussi_coinbd.gif) no-repeat scroll right bottom;}
div.blocvoiraussi.va_h_gd div.encart{height:166px;}
div.blocvoiraussi.va_h_md div.encart{height:120px;}
table.conteneur_va{margin:20px 15px 0 5px;}
.conteneur_va tr td{vertical-align:top;width:33%;}
div#plansite{overflow:hidden;width:100% !important;}
div#plansite div.bord1{border:1px solid #E2E1E1;}
div#plansite div.aplat1{padding:0 10px;}
div#plansite div.fg{margin-right:0 !important;width:270px !important;}
div.a_blocongh{background:url(../images/css/v3base/a_blocongh.gif) repeat-x bottom left;margin-bottom:8px;padding-bottom:6px;}
* html div.a_blocongh { height:30px}
div.a_blocongh ul{font-size:1.1em;margin-left:18px; width:auto}
div.a_blocongh ul li{background-position: 0 -56px;/*height: 23px*/;background-color:#EAF1F6;margin-right:1px;padding:4px 10px;}
div.a_blocongh ul img{margin:2px 5px 0 0;vertical-align:top;}
div.a_blocongh ul li.sel,div.a_blocongh ul li.recapsel{background-position: 0 -202px; /*height: 23px*/;background-color:#4A7EAA;}
div.a_blocongh ul li.sel,div.a_blocongh ul li.recapsel,div.a_blocongh ul li.sel a,div.a_blocongh ul li.recapsel a{color:#FFF;font-weight:700;}
div.a_blocongh ul li.ina,div.a_blocongh ul li.recapina{background-position: 0 -129px; /*height: 23px*/;background-color:#EBEBEB ;color:#6B6B6B;}
div.a_blocsongv div.a_blocongfond{border-left:1px solid #D9D7D7;border-top:1px solid #D9D7D7;padding:5px;}
div.a_blocsongv{background-color:#fff;width:100%;}
div.a_blocongv{left:0;}
div.a_blocongv ul a,div.a_blocongv ul span{border-bottom:1px solid #ccc;display:block;padding:5px 0 5px 7px;width:auto;}
div.a_blocongv ul img{margin-right:5px;}
div.a_blocongv li.recapina span{background-color:#EDEBEB;}
/*padding de blocbulle à zéro car le blocbulle disparait lorsque le curseur entre dans le padding : frustration!*/
div.blocbulle{background-color:#E2EDF5;border:1px solid #3F6A9A;color:#3F6A9A;left:0;margin:0;padding:0px;position:absolute;top:0;visibility:hidden;width:200px;}
div.blocbulle p{color:#3F6A9A;padding:5px;}
div.blocbulle ul li a, div.blocbulle ul.a_actions a {display: block;margin:0;padding-bottom:2px;padding-right: 2px;padding-top: 2px;width: 100%;}
div.blocbulle ul.a_actions a.poppdf {padding-left: 26px !important;}/*SARA SA0000021517767 */
div.i_bloccallback,div.i_bloccallback2{border:solid 1px #DADADA;margin:5px 0;min-height:80px;padding:5px 45px 10px 10px !important;}
div.i_bloccallback p{margin:0 0 5px;}
div.i_blocctx{border:solid 1px #E5E5E5;margin:5px 30px;padding:0 10px;}
div.i_blocctx ul,div.i_blocctx ul.niv1,div.i_blocctx ul.niv2,div.i_blocctx ul.niv3{padding-left:18px !important;}
div#bloc_col1{border:1px solid #fff;float:left;width:200px;}
div#bloc_col2{border:1px solid #fff;float:left;width:400px;}
div.bloctelft{margin:0 auto;padding-top:1px;text-align:right;}
div.bloctelft p.num{margin:0 7px 3px 0 !important;padding:0;text-align:right; line-height: 14px;}
div.blocmsg{border:1px solid #EBD9CC;padding-bottom:10px;padding-top:10px;}
div.blocboutons{margin:0;padding:15px 5px 5px;text-align:center;}
div.blocboutons input{background:none;border:none;margin-bottom:2px;}
div.blocboutons a.fg,div.blocboutons input.fg{margin-left:10px;margin-right:0;}
div.blocboutons a.fd,div.blocboutons input.fd{margin-left:0;margin-right:10px;}
div.blocpatience{background:#FFF url(../images/css/v3base/progessbar.gif) no-repeat center center;border:1px solid #D7D4D6;}
div.a_blocfctltitre{background-color:#FFF;border-left:solid 1px #D4D4D4;border-right:solid 1px #D4D4D4;margin:5px 0 0;padding-bottom:5px;}
div.a_blocfctltitre p.a_titre2 { padding-bottom:0px; height:30px}
* html div.a_blocfctltitre p.a_titre2 { padding-bottom:17px; height:37px}
div.a_blocfctl{background-color:#fff;border:1px solid #D7D4D6;border-top:none;clear:both;margin:0;padding-bottom:20px; padding-top:1px}
div.a_blocfctl div.a_blocfctl{background-color:#fff;background-image:none;border:none;margin-left:10px;margin-right:10px;}
div.err,div.alerte,div.info{font-size:1em;font-weight:400;margin:3px 0;padding:9px;padding-left:33px !important;}
div.err{background:url(../images/css/v3base/messagerror.gif) no-repeat 3px 3px #E75353;border:1px solid #E33031;}
div.erreur{background:url(../images/css/v3base/messagerror.gif) no-repeat 3px 3px #E75353;border:1px solid #E33031;margin:1px 0 0;}
div.erreur p, div.err li{color:#fff;margin-left:10px;}
div.erreur p{color:#fff;margin-left:10px;}
div.alerte{background:url(../images/css/v3base/icoalerte.gif) no-repeat 3px 3px #F3F0CD;border:1px solid #E5DF98;color:#4C4C4C;}
div.info{background:url(../images/css/v3base/icoinfo.gif) no-repeat 3px 3px #F3F0CD;border:1px solid #E5DF98;color:#4C4C4C;}
div.alerte p,div.alerte p a,div.info p,div.info p a{color:#4C4C4C;font-weight:400;}
div.alerte p a:hover,div.info p a:hover,div.alerte p a.act:hover span,div.info p a.act:hover span{color:#4C4C4C;text-decoration:none;}
div.blocpaginh,div.blocpaginb{color:#3A6A91;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:0.9em;font-weight:700;margin:5px;text-align:center;}
div.blocnotes p{color:#5E5E5E;font-size:0.9em;margin-bottom:0;margin-top:0;}
caption{background-position: 0 -1157px; height: 21px;background-color:#356EAC;border-left:solid 1px #D8D8D8;border-right:solid 1px #D8D8D8;color:#fff;font-weight:700;padding:3px 4px;text-align:center;}
table.fiche,table.liste,table.tab2dim{background-color:#D8D8D8;margin-bottom:0;}
table.fiche td,table.liste td,table.tab2dim td{background-color:#FFF;padding:3px 4px;}
table.fiche th,table.liste th,table.tab2dim th{background-color:#7AABCF;color:#fff;font-size:1em;font-weight:700;padding:3px 4px;}
table.fiche th{background-color:#F1F1F1;color:#4C4C4C;font-weight:400;text-align:left !important;}
table.liste th,table.tab2dim th{text-align:center !important;}
th.titcolgroup{color:#FFF !important;font-weight:700 !important;}
table.fiche th a,table.liste th a,table.tab2dim th a{color:#FFF !important;font-weight:400;}
table.fiche th a{color:#4C4C4C !important;}
table.fiche td{background-color:#FFF;}
td.info,th.info{background:#F3F0CD !important;color:#4C4C4C !important;font-size:1em;}
td.stabilo,th.stabilo{background-color:#98C6E7 !important;color:#4C4C4C;font-size:1em;}
td.rupture,th.rupture{padding:6px 4px !important;}
td.rupture2,th.rupture2 {padding:6px 4px 6px 25px !important;}
table.fiche th.rupture,table.liste th.rupture,table.tab2dim th.rupture, table.fiche th.rupture2,table.liste th.rupture2,table.tab2dim th.rupture2{color:#0f1b25 !important;}
table.liste tr.sel td{background-color:#e0639a !important;color:#fff;font-weight:700;}
tr.over td{background-color:#E297B8;color:#FFF;}
table.tab2dim th.titcoin,table.tab2dim th.titlig,table.tab2dim th.titcol{background:#F1F6FA;color:#4C4C4C;text-align:center !important;}
table.fiche th.titcolgroup,table.tab2dim th.titcolgroup,table.liste th.titcolgroup{background:#356EAC;}
table.fiche th.titcolgroup,table.liste th.titcolgroup,table.tab2dim th.titcolgroup{background:#7AABCF !important;}
table.fiche th a.triasc,table.fiche th a.tridesc,table.fiche th a.trioff,table.liste th a.triasc,table.liste th a.tridesc,table.liste th a.trioff,table.tab2dim th a.triasc,table.tab2dim th a.tridesc,table.tab2dim th a.trioff{font-weight:700;text-align:center !important;}
table th br{font-size:0;height:0;line-height:0;}
table.liste th abbr,table.tab2dim th abbr{background:url(../images/css/v3base/abbr_liste.gif) no-repeat top right;padding-right:20px;text-align:center;}
table.fiche th abbr{background:url(../images/css/v3base/abbr_fiche.gif) no-repeat top right;padding-right:20px;text-align:center;}
th.i{background:#F1F1F1 !important;color:#4C4C4C !important;}
th.p{background:#FFF !important;color:#4C4C4C !important;}
div.i_blocredac table#actus_marche_une{margin-top:15px !important;}
div.i_blocredac table#actus_marche_une,div.i_blocredac table#actus_marche{margin-left:0 !important;margin-right:0 !important;}
* html div.i_blocredac tablen,ta#actus_marche_une{margin-bottom:20px !important;}
* html div.i_blocredac table#actus_marche{margin-top:20px !important;}
table#actus_marche_une tbody td{width:33% !important;}
table#actus_marche_une tbody td .titre3{margin-bottom:10px;margin-top:5px;}
table#besoins_univers tr td hr{margin:15px 0;}
div#page_besoin hr{margin-bottom:7px !important;margin-top:20px !important;}
* html div#page_besoin hr{margin-bottom:2px !important;margin-top:10px !important;}
ul{list-style-image:url(../images/css/v3base/puce_list.gif);}
ul ul{list-style-image:url(../images/css/v3base/puce_ul_niv2.gif);}
ol,ul,ul.niv1,ul.niv2,ul.niv3{font-weight:400;margin:5px 0 5px 14px;text-align:left;}
ul.niv1 li,ul.niv2 li,ul.niv3 li{font-size:1em;margin:5px 0;}
ul.niv1,div ul.niv1{list-style-image:url(../images/css/v3base/i_blocredac_puce_ul_niv1.gif);}
ul.niv2,div ul.niv2{list-style-image:url(../images/css/v3base/i_blocredac_puce_ul_niv2.gif);}
ul.niv3,div ul.niv3{list-style-image:url(../images/css/v3base/i_blocredac_puce_ul_niv3.gif);}
div.blocbulle ul.a_menuctx {padding:5px;}
ul.menu li,div.blocbulle ul.a_actions li,div.blocbulle ul.a_menuctx li{color:#4C4C4C;font-size:1em;font-weight:700;list-style-image:url(../images/css/v3base/puce_list.gif);}
ul.menu,div.i_blocredac ul{margin:4px 0 10px;padding:0 0 0 14px;}
ul.menu li{margin:0 0 6px;}
ul.menu li,ul.menu li.sep{color:#4C4C4C !important;font-weight:400;margin-left:0 !important;}
ol{margin-left:18px;}
div.i_blocredac ul{padding:0 30px 0 45px;}
div.i_blocredac ul.niv2,div.i_blocredac ul.niv3{padding:0 0 0 10px;}
ul.a_menuappli{background-position: 0 -275px; height: 28px;line-height:0;list-style:none;margin:0 0 10px;overflow:hidden;padding:0;width:100%;}
ul.a_menuappli li{background-position: 0 -353px; height: 26px;border-left:solid 1px #E5E5E5;border-right:solid 1px #E5E5E5;float:left;height:28px;line-height:24px;margin:0 0 0 -1px;padding:0 10px;}
ul.a_menuappli li a{color:#FFF;text-decoration:none;}
ul.a_menuappli li.sel{background-position: 0 -429px; height: 28px;border-left:solid 1px #E5E5E5;border-right:solid 1px #E5E5E5;font-weight:700;line-height:26px;margin:-1px 0 0 -1px;}
ul.a_menuappli li.popaide{background:#E5E5E5 url(../images/std/icoaide_blank.gif) no-repeat 1px 1px !important;border-left:solid 1px #E5E5E5;padding:0 0 0 1px;width:75px;}
ul.arbo,ul.arbo ul{list-style-type:none;}
ul.arbo li{font-size:1em;list-style-image:none;margin-bottom:5px;}
div.a_blocongfond{clear:both;margin-bottom:10px;padding:0;}
div.a_blocongfond ul.a_actions{background-color:#F3F6FB;height:18px;margin:0;padding:0 0 0 20px;}
div.a_blocongfond ul.a_actions li{padding-left:15px;vertical-align:top;}
ul.ctx,ul.ctx li,ul.ctx li a{font-size:0.9em !important;}
dl.argumentaire,dl.lexique{margin-bottom:5px;}
dl.argumentaire dt{color:#9F4006;font-weight:700;}
dl.lexique dt{color:#0460C7;font-weight:700;}
dl.lexique dd,dl.argumentaire dd{margin-left:5px;padding:5px 0 0 15px;}
div.i_blocredac input,div.a_blocappli input,textarea.err{background-position: 0 -809px;background-color:#fff;border:1px solid #7E7A6F;border-top:1px solid #726E65;}
textarea{padding:2px;}
div.i_blocredac input,div.a_blocappli input{margin-bottom:1px;}
div.i_blocredac input.radio,div.i_blocredac input.checkbox,div.i_blocredac input.image,div.a_blocappli input.checkbox,div.a_blocappli input.radio,div.a_blocappli input.image{background-color:transparent;background-image:none;border:none;margin-bottom:0;padding:0;}
label.titlig{font-weight:700;padding-right:5px;white-space:nowrap;}
input{font-size:1em;padding:2px 2px 0;}
input.mttp,input.inp5,input.mtt{font-size:1em !important;}
input.err,textarea.err,select.err{color:#c00;}
div.bloccalfields img{margin-left:5px;vertical-align:bottom;}
fieldset.invisible{background:url(../images/css/v3base/invisible.gif) repeat-x bottom left;padding-bottom:10px;}
fieldset table td{padding-bottom:1px;padding-top:1px;}
div.bloccal{background-color:#f2f2f2;border:1px solid #40719A;font-size:0.7em;}
div.bloccal div.blocmois{background-position: 0 -1157px;background-color:#356EAC;padding:2px 0;text-align:center;}
div.bloccal div.blocmois a,div.bloccal div.blocmois a img{margin:0 !important;padding:0 !important;}
div.bloccal table{width:186px;}
div.bloccal select,div.bloccal input{font-size:0.9em;margin:0 !important;}
div.bloccal td a{display:block;font-weight:700;padding:3px 7px;text-decoration:none;}
div.bloccal td span{color:#666;display:block;padding:3px 7px;}
div.bloccal td a:hover{background-color:#356EAC;color:#fff;}
div.bloccal th{background-color:#356EAC;border-bottom:1px solid #40719A;color:#fff;font-weight:400;padding:3px;text-align:center;}
div.bloccal td{padding:0;text-align:center;}
div.bloccal td.sel a{background-color:#356EAC;color:#FFF;}
div#h_blochome_anim{width:809px;}
div.h_blochome{margin:0 0 5px 5px;}
div.h_blochome table{background:#E5E5E5;margin-left:-5px;}
div.h_blochome td{background:#E5E5E5;}
div.h_blocmarche{background:#FFF url(../images/css/v3base/h_bg.gif) repeat-x left bottom;border:solid 1px #BCC0C3;border-bottom:none;margin-left:5px;}
div.h_blocmarche p.h_top{background:#3E73A7 url(../images/css/v3base/h_top.gif) repeat-x left top;color:#FFF;font-size:1.3em;font-weight:700;margin:0;padding:3px 4px;}
div.h_blocmarche a.h_bottom{background:#3E73A7 url(../images/css/v3base/h_bottom.gif) repeat-x right top;color:#FFF;display:block;font-size:1.6em;font-style:italic;font-weight:400;margin:10px 0 0;padding:2px 5px;text-decoration:none;}
div.h_blocmarche div.h_plusdinfos{text-align:right;}
div.h_blocmarche div.h_plusdinfos a{background:url(../images/css/v3base/h_plusdinfos.gif) no-repeat right center;color:#3E73A7;font-weight:700;margin:0 10px 0 0;padding-right:15px;text-align:right;text-decoration:none;}
div.h_blocmarche div.aplat1{margin:8px;}
div.h_blocmarche div.aplat1 div.encart p,div.h_blocmarche div.aplat1 div.encart li{color:#848484;font-size:1.1em;font-weight:700;}
div.h_blocmarche div.aplat1 div.encart strong{color:#3E73A7;}
div.h_blocmarche div.aplat1 div.encart ul{list-style-image:none;}
div.h_blocmarche div.aplat1 div.encart li{background:url(../images/css/v3base/h_ul.gif) 0 5px no-repeat;display:block;margin-top:5px;padding-left:10px;}
div.h_blocmarche ul{list-style:none;list-style-position:outside;margin-left:0;min-height:100px;}
* html div.h_blocmarche ul{height:100px;}
div.h_particuliers div.h_blocmarche p.h_top{background:#D52A75 url(../images/css/v3base/h_top_particuliers.gif) repeat-x left top;}
div.h_particuliers div.h_blocmarche a.h_bottom{background:#D52A75 url(../images/css/v3base/h_bottom_particuliers.gif) repeat-x right top;}
div.h_particuliers div.h_blocmarche div.h_plusdinfos a{background:url(../images/css/v3base/h_plusdinfos_particuliers.gif) no-repeat right center;color:#D52A75;}
div.h_particuliers div.h_blocmarche div.aplat1 div.encart li{background:url(../images/css/v3base/h_ul_particuliers.gif) 0 5px no-repeat;}
div.h_jeunes div.h_blocmarche p.h_top{background:#F1942D url(../images/css/v3base/h_top_jeunes.gif) repeat-x left top;}
div.h_jeunes div.h_blocmarche a.h_bottom{background:#F1942D url(../images/css/v3base/h_bottom_jeunes.gif) repeat-x right top;}
div.h_jeunes div.h_blocmarche div.h_plusdinfos a{background:url(../images/css/v3base/h_plusdinfos_jeunes.gif) no-repeat right center;color:#F1942D;}
div.h_jeunes div.h_blocmarche div.aplat1 div.encart strong{color:#F1942D;}
div.h_jeunes div.h_blocmarche div.aplat1 div.encart li{background:url(../images/css/v3base/h_ul_jeunes.gif) 0 5px no-repeat;}
div.h_pros div.h_blocmarche p.h_top{background:#639E38 url(../images/css/v3base/h_top_pros.gif) repeat-x left top;}
div.h_pros div.h_blocmarche a.h_bottom{background:#639E38 url(../images/css/v3base/h_bottom_pros.gif) repeat-x right top;}
div.h_pros div.h_blocmarche div.h_plusdinfos a{background:url(../images/css/v3base/h_plusdinfos_pros.gif) no-repeat right center;color:#639E38;}
div.h_pros div.h_blocmarche div.aplat1 div.encart strong{color:#639E38;}
div.h_pros div.h_blocmarche div.aplat1 div.encart li{background:url(../images/css/v3base/h_ul_pros.gif) 0 5px no-repeat;}
div.h_assos div.h_blocmarche p.h_top{background:#A22A88 url(../images/css/v3base/h_top_assos.gif) repeat-x left top;}
div.h_assos div.h_blocmarche a.h_bottom{background:#A22A88 url(../images/css/v3base/h_bottom_assos.gif) repeat-x right top;}
div.h_assos div.h_blocmarche div.h_plusdinfos a{background:url(../images/css/v3base/h_plusdinfos_assos.gif) no-repeat right center;color:#A22A88;}
div.h_assos div.h_blocmarche div.aplat1 div.encart strong{color:#A22A88;}
div.h_assos div.h_blocmarche div.aplat1 div.encart li{background:url(../images/css/v3base/h_ul_assos.gif) 0 5px no-repeat;}
div.h_instit div.h_blocmarche p.h_top{background:#616C7F url(../images/css/v3base/h_top_instit.gif) repeat-x left top;}
div.h_instit div.h_blocmarche a.h_bottom{background:#616C7F url(../images/css/v3base/h_bottom_instit.gif) repeat-x right top;}
div.h_instit div.h_blocmarche div.h_plusdinfos a{background:url(../images/css/v3base/h_plusdinfos_instit.gif) no-repeat right center;color:#616C7F;}
div.h_instit div.h_blocmarche div.aplat1 div.encart strong{color:#616C7F;}
div.h_instit div.h_blocmarche div.aplat1 div.encart li{background:url(../images/css/v3base/h_ul_instit.gif) 0 5px no-repeat;}
* html p.rethaupag a{margin-right:15px;}
* html div.i_blocredac table caption{border-bottom:none !important;border-left:solid 1px #E5E5E5;border-right:solid 1px #E5E5E5;margin:0;}
* html table.liste .rupture,* html table.tab2dim .rupture, * html table.liste .rupture2,* html table.tab2dim .rupture2{border-left:none;border-right:none;}
* html .aplat1,* html .aplat2,* html .blocvoiraussi,* html .postit{height:10px;}
* html ul.menu li,* html ul.menu li.sep{list-style-position:outside;margin-left:20px;}
* html p.surtitrebloc{height:25px;}
* html div.i_bloccallback{height:122px;}
* html div.blocmsg{padding-top:9px;}
* html fieldset.invisible input.image{margin-bottom:3px;}
* html div.i_blocredac p.rethaupag{display:block !important;float:none;margin:0 0 10px !important;padding:0 15px 0 0;text-align:right;width:100%;}
* html div.bloccal table{width:184px;}
* html div.bloctelft_center{display:block;text-align:center;}
* html p.titlig{padding-top:4px;}
* html div.i_blocredac div.entete h1.titre1{margin-right:-1px !important;width:auto;}
:root ul.a_menuappli,:root div.a_blocongh ul,:root ul.a_actions{display:table;}
:root div.a_blocongh ul li{margin-bottom:-1px;}
:root input.radio,:root input.checkbox{margin-right:4px;}
:root fieldset table td{padding-bottom:2px;padding-top:2px;}
body *,div.a_blocongfond ul.a_actions a.act,div.a_blocongfond ul.a_actions span.act,td.a_vide,td.a_vide p,* html div.bloccal,body div.bloccal{font-size:1em;}
img,div.a_blocfctl div.a_blocfctltitre{border:none;}
caption a,caption a:hover,div.entete p.chapeau,div.err p a, div.err li a{color:#fff;}
.marge,div.i_blocctx p{margin:10px;}
.bord1,.bord2{border:none;padding:0;}
th,div.blocfocus img,.gouttieres div#acces_rapide.aplat2 input,.gouttieres div#acces_rapide.aplat2 select,.gouttieres div#acces_rapide.aplat2 label{vertical-align:top;}
a.ctx,div.i_blocredac table.gouttieres div.marges,* html div.entete div.img_entete{padding:0;}
ul.a_actions a.act,ul.a_actions span.act,div.i_blocredac .titre4,div.i_blocredac .titre4 span,div.blocfocus div.encart a,div.blocfocus div.encart p{font-size:1.1em;}
a.act:hover,a.act:hover span,span.act a:hover,ul.a_actions a.sup,ul.a_actions a.actual,ul.a_actions a.imp{color:#d52a75;}
div.i_blocredac a.poppdf,div.i_blocredac a.popexcel,div.i_blocredac a.popword,a.suite,div.i_blocredac ul.menu li a,ul.menu li.sel,ul.menu li.sel a{font-weight:700;text-decoration:none;}
div.i_blocredac a.poppdf:hover,div.i_blocredac a.popexcel:hover,div.i_blocredac a.popword:hover,a.renvoi:hover,a.suite:hover,p.rethaupag a:hover,div.i_blocredac a.titre3:hover,div.alerte p a,div.info p a,div.alerte p a.act span,div.info p a.act span,div.i_blocredac ul.menu li a:hover,div.i_blocredac ul.menu li.sel a,div.h_blocmarche div.h_plusdinfos a:hover span{text-decoration:underline;}
a.retour,div.i_blocredac p.chapeau,div.i_blocredac p.chapeau span,div.i_blocredac p.intro,div.i_blocredac p.intro span,div.i_blocredac p.titreintro,div.i_blocredac p.titreintro span,div.fondredac p.chapeau,div.fondredac p.chapeau span,div.fondredac p.intro,div.fondredac p.intro span,div.fondredac p.titreintro,div.fondredac p.titreintro span,ul.menu li a,input,select,textarea{color:#4C4C4C;}
a.prd,p.chapeau span,div.entete div.blocillustre p.intro,div#plansite ul.niv1 li a,div.i_blocctx p.titrectx,div.a_blocappli table.fiche td,div.i_blocredac table.fiche td{font-weight:700;}
.rupture a.afficher,.rupture a.masquer,.rupture2 a.afficher,.rupture2 a.masquer,div.a_blocongh ul li.sel a,div.a_blocongh ul li.recapsel a,ul.a_menuappli li a:hover,div.h_blocmarche div.h_plusdinfos a:hover{text-decoration:none;}
td.col1demi,td.premcol1demi{width:50%;}
div.col2tiers,* html div.col2tiers{width:66%;}
div.tr,div.blocnotes{clear:both;}
p.a_titre1 a,.titre1 span.couleur2{color:#FFF;}
p.titreencart,p.intro,div.i_blocredac .titre2,div.i_blocredac span.titre2,div.i_blocredac p.accroche,div.i_blocredac p.chapeau{font-size:1.3em;font-weight:700;}
p.a_titre1 img,div.entete div.blocillustre img{display:none;}
p.i_menuh a,div#plansite ul.niv2 li a{font-weight:400;}
p.c_blocfonct,.conteneur_va tr td .blocvoiraussi{margin-left:10px;}
div.i_blocredac dl,div.i_blocredac table.liste,div.i_blocredac table.fiche{margin:0 0 10px;}
div.i_blocredac li,div.aplat1 div.encart p,div.aplat2 div.encart p,form div.aplat2,div.blocfocus p,div.blocfocus img,div.blocvoiraussi div.encart p,div.bloctelft p.tarif,div.blocmsg p{margin:0;}
div.i_blocredac dl dt,div.i_blocredac dl dd,div.i_blocredac table.gouttieres div.blocnotes,div.i_blocredac form{margin:0 30px;}
div.i_blocredac dl.argumentaire dt,div.i_blocredac dl.lexique dt,div.postit div.encart a,div.postit div.encart a:hover{color:#4C4C4C;font-weight:700;}
div.i_blocredac .titre3,div.a_blocappli{margin-bottom:4px;}
div.i_blocredac .titre2 span,div.i_blocredac .titre3 span,div.i_blocredac .titre4 span,div.fondredac .titre2,div.fondredac .titre3,div.fondredac .titre4,div.fondredac .titre2 span,div.fondredac .titre3 span,div.fondredac .titre4 span{color:#D52A75;font-weight:700;margin-left:0;}
div.i_blocredac .titre4,div#page_besoin table#menu_ar tr td div,* html div.i_blocredac input,* html div.a_blocappli input{margin-bottom:0;}
div.i_blocredac table.gouttieres *,.gouttieres div#acces_rapide.aplat2{margin-left:0 !important;margin-right:0 !important;}
div.i_blocredac table.gouttieres p,div.i_blocredac table.gouttieres .titre2,div.i_blocredac table.gouttieres .titre3,div.i_blocredac table.gouttieres .titre4,div.i_blocredac div.bloctxt,div.blocarapide table.gouttieres td.premcol1tiers{padding:0 !important;}
div.i_blocredac table.gouttieres div.encart ul,* html div.i_blocredac table.gouttieres div.i_blocctx ul{margin-left:15px !important;}
div.i_blocredac table.gouttieres div.aplat2 div.encart ul,div.i_blocredac table.gouttieres div.aplat1 div.encart ul{margin-left:4px !important;}
div.i_blocredac form p,* html table#besoins_univers tr td hr{margin:10px 0;}
div.encart,table.liste th.rupture,table.tab2dim th.rupture,table.liste th.rupture2,table.tab2dim th.rupture2{text-align:left !important;}
div.aplat1 div.encart,div.aplat2 div.encart,div.blocarapide div.encart{padding:5px 10px;}
div.aplat1 ul,div.aplat1 ul.niv1,div.aplat1 ul.niv2,div.aplat1 ul.niv3,div.aplat2 ul,div.aplat2 ul.niv1,div.aplat2 ul.niv2,div.aplat2 ul.niv3,div.encart_picto ul,div.encart_picto ul.niv1,div.encart_picto ul.niv2,div.encart_picto ul.niv3{padding-left:14px !important;}
div.entete div.img_entete img,div.consulter,div.i_blocredac table#besoins_univers{margin:0 !important;}
div.entete div.contenu_entete,div.entete div.blocillustre{display:inline;float:none;}
div.entete div.blocillustre{clear:none;}/*MBO : correctif SA0000022131620 */
div#acces_rapide,* html legend{margin-bottom:10px;}
.gouttieres div#acces_rapide.aplat2 p,.gouttieres div#acces_rapide.aplat2 p.titreencart{margin:5px 0 0 !important;}
.blocvoiraussi p.titreencart,div#page_besoin table#menu_ar{margin-top:0 !important;}
div.i_blocredac div.blocboutons input,div.a_blocappli div.blocboutons input,div.blocboutons img{margin-bottom:2px;}
div.a_blocappli div.a_blocfctl fieldset,div.blocpaginh img,div.blocpaginb img{margin-left:5px;margin-right:5px;}
caption a.renvoi,table.fiche th a.renvoi,table.fiche th a.renvoi,table.fiche th a.renvoi,table.liste th a.renvoi,table.liste th a.renvoi,table.liste th a.renvoi,table.tab2dim th a.renvoi,table.tab2dim th a.renvoi,table.tab2dim th a.renvoi,caption span.renvoi,table.fiche th span.renvoi,table.fiche th span.renvoi,table.fiche th span.renvoi,table.liste th span.renvoi,table.liste th span.renvoi,table.liste th span.renvoi,table.tab2dim th span.renvoi,table.tab2dim th span.renvoi,table.tab2dim th span.renvoi{color:#FFF;font-weight:400;}
ul.a_menuappli li.sel a,ul.a_menuappli li.sel a:hover,div.h_particuliers div.h_blocmarche div.aplat1 div.encart strong{color:#D52A75;}
div.blocdecision p input.checkbox,div.bloccal select,div.bloccal input,div.bloccal img{vertical-align:middle;}
* html p.surtitre,* html div.i_blocredac div.a_blocongh,* html div.entete,* html div.blocfocus,* html div.aplat_select_encart,* html div.blocarapide{margin-right:-1px;position:relative;width:609px;}
* html div.entete div.contenu_entete,* html div.entete div.blocillustre,* html div.col2tiers,* html .col2tiers,* html div.col230,* html div.colAuto{float:left;}
* html div.entete div.blocillustre div.btn-lien,:root div.entete div.blocillustre div.btn-lien{padding:4px 0 5px;}
* html div.entete div.blocillustre div.btn-lien a,:root div.entete div.blocillustre div.btn-lien a{padding:4px 20px 5px 10px;}
* html div.col1tiers,* html div.a_blocongv ul a,* html div.a_blocongv ul span,* html div.a_blocappli div.a_blocfctl,* html div.i_blocredac,* html div.blocboutons,* html div.a_blocfctl,* html div.i_blocactions ul li a,* html div.i_blocaide{width:100%;}
* html h1.entete p.titre1,* html div.i_blocredac h1.titre1{margin-right:-1px !important;position:relative;width:609px;}

td.a_actions a.act, td.a_actions a.act span, th a.act, th a.act span{background-image:none !important}
td.a_actions a.ei_photo_pic {background-image:url(../images/css/v3base/spic.gif) !important;}
textarea,textarea.err {background-image:none !important}
/*-----------------------*/
/*=======button perso cm======*/
.ei_btn {
background:url('../images/css/v3base/button.png') left -61px no-repeat;
padding-left:29px; height:25px;overflow:hidden;
height:auto; width:auto;
}

.ei_btn_tlcorn, .ei_btn_blcorn {background-image:none}
.ei_btn_body {
	background:#1a5587 url('../images/css/v3base/button.png') right top no-repeat;
	padding:0px;padding-right:25px;
	line-height:2.25em; height:auto;zoom:0;
}
.ei_btn_footer {display:none}

a.ei_btn {
    color: white;
    margin:0; /*MBO probleme dans les boutons de validation de virement*/
}
/*
a.ei_btn:focus, a.ei_btn:hover  {color:#ebecec; border: none; outline: none}
*/
/* 
a.ei_btn:focus .ei_btn_body, a.ei_btn:hover .ei_btn_body,
a.ei_btn:focus .ei_btn_tlcorn, a.ei_btn:hover .ei_btn_tlcorn,
a.ei_btn:focus .ei_btn_footer, a.ei_btn:hover .ei_btn_footer,
a.ei_btn:focus .ei_btn_blcorn , a.ei_btn:hover .ei_btn_blcorn { background-image:url('../images/css/v3base/button_over.png')}

a.ei_btn_disabled .ei_btn_body, a.ei_btn_disabled .ei_btn_tlcorn, a.ei_btn_disabled .ei_btn_footer, a.ei_btn_disabled .ei_btn_blcorn {
    background-image: url("../images/css/v3base/button_disabled.png"); color:white}
 */   
 /*
div.blocboutons .ei_btn {vertical-align: top;margin-top:-2px; margin-left: 7px;}
div.blocboutons .ei_btn_body{padding-left: 5px;}
div.blocboutons .ei_btn_footer, div.blocboutons .ei_btn_blcorn  {height: 5px;}
*/

div.i_blocredac div.a_blocappli div.bloctxt {padding-left: 33px !important;}

/*--------------------------------------------------------------------------------------------------------------------*/
/*----------------------Messages perso -----------------------------------------------------------*/
.gameconfigurablemessages{
	background: #fff;
	padding: 10px;
	position:relative;
}

.gameconfigurablemessages .messageContainer{
	background: #fff;
	margin-top: 10px !important;
	padding: 10px;
	border: 1px solid #42648F;
	border-radius: 5px;
	font-size: 1.2em;
	position:relative;
	table-layout: fixed;
}
.gameconfigurablemessages .messageContainer:first-child{
	margin-top: 0;
}

.gameconfigurablemessages .messageImageContainer,.gameconfigurablemessages .messageContent,.gameconfigurablemessages .messageActionButton{
	display: inline;
	display: table-cell;
}

.gameconfigurablemessages .messageContent{
	margin:0;
}

.gameconfigurablemessages .messageImageContainer{
	vertical-align: top;
	padding: 0;
}
.gameconfigurablemessages .messageImageContainer:empty{
	display: none;
}

.gameconfigurablemessages .messageImageContainer img{
	margin-right: 10px;
}	
.gameconfigurablemessages .messageActionButton{
	vertical-align: bottom;
	padding: 0 0 0 20px;
}
.gameconfigurablemessages .messageActionButton a,.d_envContenu .gameconfigurablemessages .messageActionButton a{
	display: inline-block;
	white-space: nowrap;
	padding: 5px 20px;
	margin-left: 10px;
	border-radius:5px;
	background:#42648F;
	color:#fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}
.gameconfigurablemessages .messageActionButton a:hover,.d_envContenu .gameconfigurablemessages .messageActionButton a:hover{
	background:#5C80AD;
	color:#fff;
}

.gameconfigurablemessages .messageContainer:hover a.messageCloseLink{
	display: block !important;
}

.gameconfigurablemessages .messageCloseLink,div.d_envContenu .gameconfigurablemessages a.messageCloseLink {
	display: none;
	position: absolute;
	z-index: 10;
	top: -8px;
	right:-8px;
	background-image: url("/cmcee/fr/images/img_messages/close.png");
    height: 16px;
    width: 16px !important;
 }

.gameconfigurablemessages .messageCloseLink,div.d_envContenu .gameconfigurablemessages  a.messageCloseLink {
	display: block\9;
}


 div.d_envContenu .gameconfigurablemessages a.messageCloseLink {
	right: 2px;
    top: 5px;
 }
.gameconfigurablemessages .messageCloseLink:hover{
	background-position: 0 -16px;
}

/* ========================================================== */
/* messages inclus dans l'AEP */
/* ========================================================== */
.d_envWidget_border .gameconfigurablemessages .gameconfigurablemessages{
	background: #fff;
	padding:0 0 10px 0;
}

.d_envWidget_border .gameconfigurablemessages .messageContainer{
	padding: 0px 15px 5px 10px;
	border: 0;
	border-bottom: 1px solid #dbdbdb;
	border-radius: 0px;
	font-size: 1em;
}
.d_envWidget_border .gameconfigurablemessages  .messageContainer:last-child{
	border: 0;
}
.d_envWidget_border .gameconfigurablemessages  .messageActionButton{
	text-align: right;
}
.d_envWidget_border .gameconfigurablemessages  .messageActionButton a{
	margin-left: 0px;
}
.d_envWidget_border div.d_envContenu .gameconfigurablemessages a.messageCloseLink {
    top: 0px;
 }

/* ========================================================== */
/* Situation financière  */
/* ========================================================== */
#financialpositionmessages .gameconfigurablemessages .messageContent{
	width: 100%;
}

/* ========================================================== */
/*Correction quirk http://www.brunildo.org/test/csshacksQ.html http://css-tricks.com/snippets/css/browser-specific-hacks/ */
/* ========================================================== 
.d_envWidget_border .gameconfigurablemessages .messageContainer{
	padding:0 20px 15px 10px !ie;
}
.gameconfigurablemessages .messageImageContainer{
	float: left !ie;
	display: inline !ie;
	font-size: 0px !ie;
	line-height: 0px !ie;
}
 .messageContent{
	display:block !ie;
 }
.gameconfigurablemessages .messageActionButton{
	padding-top:  5px !ie;
	text-align: right !ie;
}*/
/* ========================================================== */
/* ========================================================== */
