﻿@charset 'utf-8';

@font-face {
 font-family: 'NanumBarunGothic';
 src: url('/common/font/NanumBarunGothicWeb.eot');
 src: url('/common/font/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'),
      url('/common/font/NanumBarunGothicWeb.woff') format('woff'),
      url('/common/font/NanumBarunGothicWeb.ttf') format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothicBold';
 src: url('/common/font/NanumBarunGothicWebBold.eot');
 src: url('/common/font/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'),
      url('/common/font/NanumBarunGothicWebBold.woff') format('woff'),
      url('/common/font/NanumBarunGothicWebBold.ttf') format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothicLight';
 src: url('/common/font/NanumBarunGothicWebLight.eot');
 src: url('/common/font/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'),
      url('/common/font/NanumBarunGothicWebLight.woff') format('woff'),
      url('/common/font/NanumBarunGothicWebLight.ttf') format('truetype');
}