﻿@charset "utf-8";

/*******************************************************************
	Layout
********************************************************************/
#intro{position:absolute;top:50%;left:50%;width:1200px;margin:-324px 0 0 -600px}
#intro #introHeader{z-index:100;position:relative}
#intro #introHeader .logo{position:absolute;top:26px;left:26px;width:68px;height:38px}
#intro #introHeader .logo a{display:block}
#intro #introHeader .util_menu{position:absolute;top:40px;right:40px}
#intro #introHeader .util_menu li{float:left;margin-left:15px}
#intro #introHeader .util_menu li a{display:inline-block;font-size:14px;color:#fff;vertical-align:top}
#intro #introContainer{position:relative;z-index:50;width:100%}
#intro #introContainer .intro_view{overflow:hidden;position:relative;width:100%;background:#3e3e3e}
#intro #introContainer .intro_view .accordion{position:absolute;left:0;top:0}
#intro #introContainer .intro_view .accordion:after{display:block;clear:both;content:''}
#intro #introContainer .intro_view .accordion li{position:relative;float:left;overflow:hidden}
#intro #introContainer .intro_view .accordion li a{display:block}
#intro #introContainer .intro_view .accordion li .ou{display:block;position:absolute;top:0;left:0}
#intro #introContainer .intro_view .accordion li .ov{display:block;position:absolute;top:0;left:0}
#intro #introContainer .intro_view .accordion li .tit_area{display:block;position:absolute;top:50%;margin-top:-50px;left:0;width:100%;font-size:34px;color:#fff;text-align:center}
#intro #introContainer .intro_view .accordion li .tit_area .ico1{display:block;width:100%;height:86px;background:url('/common/images/ico/ico_intro1.png') no-repeat 50% 0}
#intro #introContainer .intro_view .accordion li .tit_area .ico2{display:block;width:100%;height:86px;background:url('/common/images/ico/ico_intro2.png') no-repeat 50% 0}
#intro #introContainer .intro_view .accordion li .tit_area .ico3{display:block;width:100%;height:86px;background:url('/common/images/ico/ico_intro3.png') no-repeat 50% 0}
#intro #introContainer .intro_view .accordion li .tit_area .ico4{display:block;width:100%;height:86px;background:url('/common/images/ico/ico_intro4.png') no-repeat 50% 0}
#intro #introContainer .intro_view .accordion li .tit_area .ico5{display:block;width:100%;height:86px;background:url('/common/images/ico/ico_intro5.png') no-repeat 50% 0}
#intro #introContainer .intro_view .accordion li .tit_area .ico6{display:block;width:100%;height:86px;background:url('/common/images/ico/ico_intro6.png') no-repeat 50% 0}
#intro #introContainer .intro_view .accordion li .tit_area .tit{display:block;margin-top:40px;font-family:NanumBarunGothicBold}
#intro #introContainer .intro_view .accordion li .tit_area .stit{display:block;margin-top:10px;font-size:16px}
#intro #introContainer .intro_view .accordion li .bg_intro{display:block;position:absolute;top:101%;left:0;width:100%;height:50%;opacity:0.9;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"}
#intro #introContainer .intro_view .accordion li .bg_intro1{background:#2fd996}
#intro #introContainer .intro_view .accordion li .bg_intro2{background:#14b6db}
#intro #introContainer .intro_view .accordion li .bg_intro3{background:#ef4c53}
#intro #introContainer .intro_view .accordion li .bg_intro4{background:#f6b31d}
#intro #introContainer .intro_view .accordion li .bg_intro5{background:#127ce8}
#intro #introContainer .intro_view .accordion li .bg_intro6{background:#f63a86}
#intro #introContainer .arrow{display:block;position:absolute;top:50%;width:42px;height:85px;margin-top:-42px}
#intro #introContainer .lft_btn{left:0;background:url('/common/images/btn/btn_intro_lft.png') no-repeat 0 0}
#intro #introContainer .rgt_btn{right:0;background:url('/common/images/btn/btn_intro_rgt.png') no-repeat 0 0}
#introFooter{width:100%;height:120px;background:#e5e5e5}
#introFooter .intro_foot_area{width:980px;margin:0 auto}

/*******************************************************************
	Common
********************************************************************/
#wrap{position:relative;width:1200px;margin:0 auto;background:#f6f6f6}
#container{z-index:50;position:relative;width:100%;background:#fff;font-size:0}
#header{z-index:100;position:absolute;top:0;left:0;width:120px;height:100%;background:#f6f6f6}
#header h1{padding-top:30px;text-align:center}
#header h1 a{display:block}
.gnb_area{position:relative}
.gnb_area .gnb_bar{display:block;position:absolute;top:1px;left:0;width:4px;height:69px;background:#2fd996}
.gnb{position:relative;margin-top:30px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5}
.gnb li{overflow:hidden;position:relative;width:100%;height:69px;border-top:1px solid #e5e5e5}
.gnb li:first-child{border-top:0}
.gnb li a{display:block}
.gnb li a span{display:block;position:absolute;top:0;left:0}
.etc_menu{width:76px;margin-left:22px;margin-top:14px}
.etc_menu li{overflow:hidden;width:100%;height:20px;margin-top:4px}
.etc_menu li a{display:block;width:100%;height:20px}
.etc_menu li.on a{margin-top:-20px}
.slct_box{position:relative;margin-top:17px;margin-left:22px;width:80px;border-top:1px solid #e5e5e5}
.slct_box a{display:block;font-family:NanumBarunGothicBold;font-size:12px;color:#666;vertical-align:top}
.slct_box .slct_tit{width:48px;height:20px;padding-top:10px;padding-right:28px;background:url('/common/images/ico/ico_gry_arrow_top.png') no-repeat 100% 13px}
.slct_lst ul li{line-height:1.6}
.slct_lst ul li a{font-size:12px;color:#888}
.slct_lst ul li a:hover,
.slct_lst ul li a:focus{color:#222;text-decoration:underline}

/* footer */
#footer{width:1020px;height:120px;padding:0 30px 0 150px;background:#fff}
#footer .line_gry{margin-left:0}
.foot_area{display:inline-block;position:relative;width:965px;padding:15px 0 0 15px}
.foot_area .foot_txt{float:left;position:relative;width:616px;margin-left:0;padding-left:94px;font-size:11px;color:#999;vertical-align:top}
.foot_area .foot_txt h5{position:absolute;top:0;left:0;width:54px;height:28px}
.foot_area .foot_txt h5 a{display:block;width:54px;height:28px;background:url('/common/images/foot_logo.png') no-repeat 0 0}
.foot_area .foot_txt .foot_menu{display:inline-block;position:relative;margin-top:10px;font-size:11px;vertical-align:top}
.foot_area .foot_txt .foot_menu li{float:left;margin-left:10px}
.foot_area .foot_txt .foot_menu li:first-child{margin-left:0}
.foot_area .foot_txt .foot_menu li a{display:block;color:#999}
.foot_area .foot_txt .foot_menu li a strong{color:#424242}
.foot_area .foot_txt .address{display:inline-block;margin-top:12px}
.foot_area .foot_txt .address li{float:left;margin-left:10px}
.foot_area .foot_txt .address li:first-child{margin-left:0}
.foot_area .foot_txt .copy{display:block;margin-top:5px}
.foot_etc{display:inline-block;float:right;position:relative;width:205px;padding-top:8px}
.foot_etc .share_lst{display:block;float:left;width:80px}
.foot_etc .share_lst li{overflow:hidden;float:left;width:20px;height:15px;margin-left:10px}
.foot_etc .share_lst li:first-child{margin-left:0}
.foot_etc .share_lst li a{display:block}
.foot_etc .share_lst li a:hover img,
.foot_etc .share_lst li a:focus img{margin-top:-15px}
.foot_etc .slct_fam{position:relative;float:right}
.foot_etc .slct_fam a{display:block;font-size:11px;color:#999;vertical-align:top}
.foot_etc .slct_fam .fam_tit{overflow:hidden;width:100px;height:13px;padding-top:2px;background:url('/common/images/ico/ico_plus.gif') no-repeat 100% 0}
.foot_etc .slct_fam .fam_tit.on{background-position:100% -15px}
.foot_etc .slct_fam .foot_fam{display:none;z-index:150;position:absolute;bottom:30px;right:-5px;width:906px}
.foot_etc .slct_fam .foot_fam .foot_con{position:absolute;bottom:0;left:0;width:843px;padding:30px;background:#fff;border:1px solid #e3e3e3}
.foot_etc .slct_fam .foot_fam .foot_con dl{float:left;margin-left:55px}
.foot_etc .slct_fam .foot_fam .foot_con dl:first-child{margin-left:0}
.foot_etc .slct_fam .foot_fam .foot_con dl dt{display:block;font-weight:bold;font-size:12px;color:#151515}
.foot_etc .slct_fam .foot_fam .foot_con dl dd ul{margin-top:10px}
.foot_etc .slct_fam .foot_fam .foot_con dl dd ul li{padding-left:8px;margin-top:5px;background:url('/common/images/ico/ico_dot_gry2.gif') no-repeat 0 4px}
.foot_etc .slct_fam .foot_fam .foot_con dl dd ul li a{display:block;font-size:11px;color:#999}
.foot_etc .slct_fam .foot_fam .foot_con dl dd ul li a:hover,
.foot_etc .slct_fam .foot_fam .foot_con dl dd ul li a:focus{text-decoration:underline}
.foot_etc .slct_fam .foot_fam .foot_con .foot_close{display:block;position:absolute;top:0;right:0;width:15px;height:15px;padding:10px;background:url('/common/images/btn/btn_close_s.gif') no-repeat 50%}
.foot_etc .slct_fam .foot_fam .foot_bottom{display:block;z-index:160;position:absolute;bottom:-7px;right:6px;width:13px;height:8px;background:url('/common/images/bg/bg_footer_arr.png') no-repeat 0 0}


/*******************************************************************
	Main
********************************************************************/
.content{position:relative;width:1080px;min-height:600px;padding-left:120px;background:#fff}
.con_top{overflow:hidden;position:relative;width:1080px;height:648px}
.con_top .sub_set{height:648px}
.con{overflow:hidden;position:relative;width:1080px;height:647px}
.con .sub_header{top:18px;left:60px}
.con2{position:relative;width:1080px}
.con2 .sub_header{top:18px;left:60px}
.sub_con{overflow:hidden;width:100%;height:647px}
.sub_set{position:relative;width:840px;height:647px;padding-left:60px;padding-right:150px}
.sub_set2{position:relative;width:100%;height:647px}
.sub_set h2{height:255px;padding-top:67px;border-bottom:4px solid #222}
.sub_set h3{padding-top:105px;font-size:28px;color:#222;vertical-align:top}
.bg_full{overflow:hidden;position:relative;width:100%;height:647px}
.bg_full img{width:100%;height:100%}
.bg_full .blk{display:block;position:absolute;top:0;left:0;width:100%;height:647px;background:url('/common/images/bg/bg_blk.png') no-repeat 0 0}
.bg_full .blk img{width:100%;height:100%}
.line_gry{width:1020px;height:1px;margin-left:30px;background:#d4d4d4}
.sub_header{z-index:200;position:absolute;top:0;left:0}
.sub_tab li{float:left;position:relative;height:42px;background:url('/common/images/bg/bg_tab_bar.png') no-repeat 0 50%}
.sub_tab li:first-child{background:none}
.sub_tab li:first-child a{margin-left:0}
.sub_tab li a{display:block;height:30px;margin:0 14px;padding-top:12px;font-family:NanumBarunGothicBold;font-size:19px;color:#888;text-align:center;vertical-align:top}
.sub_tab li .set_box{overflow:hidden;position:absolute;top:42px;left:0;width:100%;height:0}
.sub_tab .set_box .smenu{position:relative;width:100%}
.sub_tab .set_box .smenu span{display:block;overflow:hidden;width:100%;height:42px}
.sub_tab .set_box .smenu span:first-child,
.sub_tab .set_box .smenu span:first-child a{height:41px !important}
.sub_tab .set_box .smenu span a{display:block;height:42px !important;padding:0;background:url('/common/images/bg/bg_tab_sub.png') no-repeat 0 100%;border-bottom:0 !important;font-size:12px;color:#b4b4b4 !important;line-height:42px}
.sub_tab .set_box .smenu span a:hover,
.sub_tab .set_box .smenu span a:focus,
.sub_tab .set_box .smenu span.on a{color:#fff !important}
.sub_tab.music li.on a{height:28px;border-bottom:2px solid #ef4c53;color:#ef4c53}
.sub_tab.music li.concert{width:150px}
.sub_tab.music li.concert a span{padding-right:20px;background:url('/common/images/ico/ico_arr_bot.gif') no-repeat 100% 7px}
.sub_tab.music li.concert.on a span{background:url('/common/images/ico/ico_arr_bot_on.gif') no-repeat 100% 7px}
.sub_tab.live li a:hover,
.sub_tab.live li a:focus,
.sub_tab.live li.on a{height:28px;border-bottom:2px solid #f6b31d;color:#f6b31d}
.sub_tab.animation li a:hover,
.sub_tab.animation li a:focus,
.sub_tab.animation li.on a{height:28px;border-bottom:2px solid #127ce8;color:#127ce8}
.stab{height:32px}
.stab li{float:left;font-size:15px;text-align:center}
.stab li a{display:block;position:relative;padding:0 20px;height:32px;color:#666;line-height:32px}
.stab li a span{display:none}
.stab li a:hover,
.stab li a:focus,
.stab li.on a{background:url('/common/images/bg/bg_history_tab_rgt.gif') no-repeat 100% 0;color:#fff}
.stab li a:hover span,
.stab li a:focus span,
.stab li.on a span{display:block;position:absolute;top:0;left:0;width:5px;height:32px;background:url('/common/images/bg/bg_history_tab_lft.gif') no-repeat 0 0}
.info_detail .sub_view{overflow:hidden;width:100%;height:305px;padding-top:106px}
.info_detail .sub_view.ani{height:250px}
.info_detail .sub_view img{width:100%;height:100%}
.info_detail .sub_bot_area{overflow:hidden;position:relative;width:100%;height:186px;padding-top:25px}
.info_detail .sub_bot_area.ani{height:230px;padding-top:10px}
.info_detail .sub_bot_area h4{float:left;width:210px;padding-left:30px;font-size:23px;color:#222;line-height:1.4}
.info_detail .sub_bot_area h4 span{display:block;margin-top:10px;font-weight:normal;font-size:13px;color:#666}
.info_detail .sub_bot_area div{float:left;width:600px;font-size:12px;color:#666;line-height:1.7}
.info_detail .sub_bot_area div p{margin-top:10px}
.info_detail .sub_bot_area .ani_bus_lst{width:100%;height:230px}
.info_detail .sub_bot_area .ani_bus_lst li{float:left;width:260px;height:250px;margin-left:30px;font-size:12px;vertical-align:top}
.info_detail .sub_bot_area .ani_bus_lst li:first-child{margin-left:0}
.info_detail .sub_bot_area .ani_bus_lst li strong{display:inline-block;height:27px;font-family:NanumBarunGothicBold;font-size:20px;color:#888}
.info_detail .sub_bot_area .ani_bus_lst li strong.on{height:25px;border-bottom:2px solid #127ce8;color:#127ce8}
.info_detail .sub_bot_area .ani_bus_lst li span{display:block;margin-top:10px;color:#666;line-height:1.5}
.info_detail .btn_area{display:block;width:100%;height:33px;margin-top:25px}
.info_detail .btn_area a{display:block;float:left;margin-left:5px}
.info_detail .btn_area a:first-child{margin-left:0}
.info_detail .sub_ani_view{position:relative;width:100%;height:305px;padding-top:106px}
.info_detail .sub_ani_view .ani_img{display:block;overflow:hidden;position:relative;float:left;width:276px;height:305px}
.info_detail .sub_ani_view .ani_img img{width:100%;height:100%}
.info_detail .sub_ani_view .ani_mov{overflow:hidden;position:relative;float:left;width:564px;height:305px;background:#000}
.info_detail .sub_ani_view .ani_mov a{display:block;width:100%;height:305px}
.info_detail .sub_ani_view .ani_mov img{width:100%;height:auto}
.info_detail .sub_ani_view .ani_mov .ico_play{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:url('/common/images/ico/ico_play.png') no-repeat 50%}


/* media */
.info_txt{display:block;width:300px;padding-top:40px;font-family:NanumBarunGothicBold;font-size:12px;color:#666;line-height:1.7;vertical-align:top}
.info_txt p{margin-top:10px}
.info_txt p:first-child{margin-top:0}
.info_txt .btn_area{display:block;height:33px;margin-top:20px}
.info_txt .btn_area a{float:left;margin-right:10px}
.main_poster{overflow:hidden;position:absolute;top:97px;right:130px;width:560px;height:470px}
.main_poster img{max-width:100%;width:100%;height:auto}
.banner_box{position:relative;padding-top:30px}
.banner_box .banner_area{overflow:hidden;position:relative;width:840px;height:300px}
.banner_box .banner_area li{overflow:hidden;position:absolute;top:0;left:0;width:840px;height:300px}
.banner_box .banner_area li a{display:block;width:100%;height:300px}
.banner_box .banner_area li img,
.banner_box .banner_area li a img{width:100%;height:100%}
.banner_box .banner_area li .ico_play{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:url('/common/images/ico/ico_play.png') no-repeat 50%}
.banner_box .banner_area li.mov .ico_play{display:block}
.banner_box .prev_btn{display:block;position:absolute;top:138px;left:0;width:42px;height:85px}
.banner_box .next_btn{display:block;position:absolute;top:138px;right:0;width:42px;height:85px}
.banner_box .dot_area{position:absolute;bottom:10px;left:0;width:100%;text-align:center}
.banner_box .dot_area a{display:inline-block;overflow:hidden;width:8px;height:8px;margin-left:8px}
.banner_box .dot_area a:first-child{margin-left:0}
.banner_box .dot_area a.active img{margin-top:-8px}
.media_info{width:100%;height:125px}
.media_info .info_lft{float:left;position:relative;width:280px;height:125px}
.media_info .info_lft .ch_logo{overflow:hidden;float:left;width:73px;height:67px}
.media_info .info_lft .ch_logo img{width:100%;height:100%}
.media_info .info_lft .ch_tit{overflow:hidden;float:left;position:relative;width:195px;height:30px;margin:20px 0 0 12px;font-family:NanumBarunGothicBold;font-size:13px;color:#222}
.media_info .info_lft .ch_tit .tit{display:block;position:absolute;bottom:0;left:0;width:100%}
.media_info .info_lft .sns_area{clear:both;width:280px;height:33px}
.media_info .info_lft .sns_area a{display:block;float:left;margin-left:5px}
.media_info .info_lft .sns_area a:first-child{margin-left:0;margin-right:3px}
.media_info .info_rgt{float:left;width:525px;height:105px;padding-top:20px;padding-left:35px;font-size:12px;color:#666;line-height:1.8}
.ch_info{width:100%;border-top:1px solid #d4d4d4}
.ch_info h4{margin-top:25px}
.ch_info .ch_area{overflow:hidden;position:relative;margin-top:10px;background:url('/common/images/bg/bg_thumb2.png') repeat-x 0 100%}
.ch_info .ch_area .ch_lst{position:relative;width:100%;height:100px}
.ch_info .ch_area .ch_lst li{overflow:hidden;position:absolute;top:0;left:0;width:168px;height:100px}
.ch_info .ch_area .ch_lst li a{display:block;position:relative;width:100%;height:100px;font-family:NanumBarunGothicBold;font-size:12px;color:#fff;text-align:center}
.ch_info .ch_area .ch_lst li a img{width:100%;height:100%}
.ch_info .ch_area .ch_lst li .bg_ov{display:none;position:absolute;top:0;left:0;width:100%;height:40px;padding-top:60px;background:url('/common/images/bg/bg_ch_blk.png') no-repeat 0 0}
.ch_info .ch_area .ch_lst li:hover .bg_ov,
.ch_info .ch_area .ch_lst li:focus .bg_ov{display:block}
.ch_info .ch_area .btn_ch_lft{position:absolute;top:0;left:0;width:32px;height:60px;padding-top:40px;padding-left:15px;background:url('/common/images/bg/bg_shadow_lft.png') no-repeat 0 0}
.ch_info .ch_area .btn_ch_rgt{position:absolute;top:0;right:0;width:32px;height:60px;padding-top:40px;padding-left:15px;background:url('/common/images/bg/bg_shadow_rgt.png') no-repeat 0 0}

/* film */
.film_poster{overflow:hidden;position:relative;width:100%;height:647px}
.film_poster .film_info{position:absolute;bottom:48px;left:60px}
.film_poster .film_info .mov_state{display:block}
.film_poster .film_info dl{width:420px;color:#ccc;vertical-align:top}
.film_poster .film_info dl dt{margin-top:15px;font-family:NanumBarunGothicBold;font-size:30px;color:#fff}
.film_poster .film_info dl dd{margin-top:10px;font-size:14px;color:#ccc;line-height:1.6}
.film_poster .film_info .btn_area{display:block;overflow:hidden;width:120px;height:33px;margin-top:20px}
/* 2015-06-16 .film_detail display:none; 추가 */
.film_detail{display:none;position:absolute;top:0;left:0;width:100%;height:647px;background:#fff}
.film_detail .detail_area{width:1020px;height:647px;margin-left:30px}
.film_detail .detail_area .film_sub_detail{float:left;width:270px;padding-left:30px;margin-top:30px}
.film_detail .btn_back{display:block;position:absolute;top:33px;left:30px;width:14px;height:25px}
.film_detail .detail_area .film_sub_detail dl{width:270px;border-bottom:1px solid #d4d4d4;font-size:12px;color:#666;vertical-align:top}
.film_detail .detail_area .film_sub_detail dl dt{padding-bottom:20px}
.film_detail .detail_area .film_sub_detail dl dt>*{display:block}
.film_detail .detail_area .film_sub_detail dl dt strong{font-size:26px;color:#000}
.film_detail .detail_area .film_sub_detail dl dt span{font-size:13px;margin-top:10px;line-height:1.6}
.film_detail .detail_area .film_sub_detail dl dd{display:inline-block;width:100%;padding-top:15px;padding-bottom:15px;border-top:1px solid #d4d4d4}
.film_detail .detail_area .film_sub_detail dl dd ul{font-family:NanumBarunGothicBold;color:#666}
.film_detail .detail_area .film_sub_detail dl dd ul li{display:inline-block;margin-top:10px;line-height:1.6}
.film_detail .detail_area .film_sub_detail dl dd ul li:first-child{margin-top:0}
.film_detail .detail_area .film_sub_detail dl dd ul li>*{display:block;float:left}
.film_detail .detail_area .film_sub_detail dl dd ul li strong{width:75px;padding-right:15px;color:#000}
.film_detail .detail_area .film_sub_detail dl dd ul li span{width:165px;padding-right:15px}
.film_detail .detail_area .film_sub_detail .btn_area{display:inline-block;width:270px;margin-top:25px}
.film_detail .detail_area .film_sub_detail .btn_area a{display:block;float:left;margin-left:5px}
.film_detail .detail_area .film_sub_detail .btn_area a:first-child{margin-left:0}
.film_detail .detail_area .film_sub_view{float:left;width:720px;height:647px}
.film_detail .detail_area .film_sub_view .film_view{overflow:hidden;position:relative;width:540px;height:449px;margin:30px 150px 24px 30px;background:#ebebeb}
.film_detail .detail_area .film_sub_view .film_view .prev_btn{display:block;position:absolute;top:172px;left:0;width:42px;height:85px}
.film_detail .detail_area .film_sub_view .film_view .next_btn{display:block;position:absolute;top:172px;right:0;width:42px;height:85px}
.film_detail .detail_area .film_sub_view .film_view .film_view_poster{position:relative;width:100%;height:449px}
.film_detail .detail_area .film_sub_view .film_view .film_view_poster li{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:449px;background:#ebebeb;line-height:449px;text-align:center}
.film_detail .detail_area .film_sub_view .film_view .film_view_poster li img{vertical-align:middle}
.film_detail .detail_area .film_sub_view .film_poster_area{width:540px;margin:0 150px 0 30px}
.film_detail .detail_area .film_sub_view .film_poster_area h4{display:inline-block;font-size:12px;color:#000;line-height:1.3;vertical-align:top}
.film_detail .detail_area .film_sub_view .film_poster_area .lst_arr_area{display:inline-block;width:29px;height:15px;margin-left:15px;vertical-align:top}
.film_detail .detail_area .film_sub_view .film_poster_area .lst_arr_area a{display:block;float:left;width:15px;height:15px}
.film_detail .detail_area .film_sub_view .film_poster_area .lst_arr_area a:first-child{width:14px}
.film_detail .detail_area .film_sub_view .film_poster_area .film_thumb_area{overflow:hidden;position:relative;width:540px;height:90px;margin-top:10px;background:url('/common/images/bg/bg_thumb.gif') repeat-x 0 100%}
.film_detail .detail_area .film_sub_view .film_poster_area .film_thumb_area .film_lst{position:absolute;top:0;left:0;width:540px;height:90px}
.film_detail .detail_area .film_sub_view .film_poster_area .film_thumb_area .film_lst li{overflow:hidden;position:absolute;top:0;left:0;width:90px;height:90px}
.film_detail .detail_area .film_sub_view .film_poster_area .film_thumb_area .film_lst li a{display:block;width:100%;height:90px}
.film_detail .detail_area .film_sub_view .film_poster_area .film_thumb_area .film_lst li a img{width:100%;height:100%}
.film_detail .detail_area .film_sub_view .film_poster_area .film_thumb_area .film_lst li .ico_play{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:url('/common/images/ico/ico_play_small.png') no-repeat 50%}
.film_detail .detail_area .film_sub_view .film_poster_area .film_thumb_area .film_lst li.mov .ico_play{display:block}
.film_detail .detail_area .film_sub_view .film_poster_area .film_thumb_area .film_lst li .bg_rac_small{display:none;position:absolute;top:0;left:0;width:86px;height:86px;border:2px solid #14b6db}
.film_detail .detail_area .film_sub_view .film_poster_area .film_thumb_area .film_lst li a:hover .bg_rac_small,
.film_detail .detail_area .film_sub_view .film_poster_area .film_thumb_area .film_lst li a.active .bg_rac_small{display:block}

/* music */
.bg_music{overflow:hidden;position:relative;width:840px;height:331px;padding-top:125px}
.bg_music img{width:100%;height:100%}
.music_txt{display:inline-block;overflow:hidden;width:840px;height:105px;margin-top:56px;font-size:12px;color:#666;vertical-align:top}
.music_txt>*{display:block;float:left}
.music_txt strong{width:220px;font-size:28px;color:#222;text-align:right}
.music_txt span{width:570px;margin-left:30px;line-height:1.7}
.music_lst{position:absolute;top:186px;left:-60px;height:362px}
.music_lst ul li{overflow:hidden;position:absolute;top:0;left:0;font-size:14px;color:#222;vertical-align:top}
.music_lst ul li>*{display:block;text-align:center;font-family:NanumBarunGothicBold}
.music_lst ul li strong{overflow:hidden;position:relative;width:100%;height:300px}
.music_lst ul li strong img{width:100%;height:auto}
.music_lst ul li .album{margin-top:25px}
.music_lst ul li .song{margin-top:5px}
.btn_lft{position:absolute;top:318px;left:270px;width:11px;height:19px;padding:10px}
.btn_rgt{position:absolute;top:318px;left:660px;width:11px;height:19px;padding:10px}
.music_license{display:inline-block;width:100%;height:507px;padding-top:140px;padding-left:90px;font-family:NanumBarunGothicBold;font-size:12px;color:#666;vertical-align:top}
.music_license .license_table{overflow:hidden;float:left;width:458px;height:427px}
.music_license .license_txt{overflow:hidden;float:left;width:220px;height:386px;margin-top:90px;margin-left:50px}
.music_license .license_txt strong{display:block;font-size:28px;color:#222}
.music_license .license_txt span{display:block;margin-top:25px;line-height:1.8}
.music_info{position:absolute;bottom:48px;left:60px}
.music_info dl{width:420px;vertical-align:top}
.music_info dl dt{margin-top:15px;font-family:NanumBarunGothicBold;font-size:31px;color:#fff}
.music_info dl dd{margin-top:10px;font-size:14px;color:#ccc;line-height:1.6}
.music_info .btn_area{display:block;overflow:hidden;width:100%;height:33px;margin-top:20px}
.music_detail{display:inline-block;position:relative;width:840px;padding-top:106px;padding-right:150px}
.music_detail .music_sub_detail{float:left;width:300px;height:541px}
.music_detail .music_sub_detail dl{width:300px;border-bottom:1px solid #d4d4d4;font-size:12px;color:#666;vertical-align:top}
.music_detail .music_sub_detail dt{padding-bottom:20px}
.music_detail .music_sub_detail dt>*{display:block}
.music_detail .music_sub_detail dt strong{font-size:28px;color:#000}
.music_detail .music_sub_detail dt span{font-size:13px;margin-top:10px;line-height:1.5}
.music_detail .music_sub_detail dd{display:inline-block;width:100%;padding-top:15px;padding-bottom:15px;border-top:1px solid #d4d4d4}
.music_detail .music_sub_detail dd ul{font-family:NanumBarunGothicBold;color:#666}
.music_detail .music_sub_detail dd ul li{display:inline-block;margin-top:10px;line-height:1.6}
.music_detail .music_sub_detail dd ul li:first-child{margin-top:0}
.music_detail .music_sub_detail dd ul li>*{display:block;float:left}
.music_detail .music_sub_detail dd ul li strong{width:75px;padding-right:15px;color:#000}
.music_detail .music_sub_detail dd ul li span{width:165px;padding-right:15px}
.music_detail .btn_area{display:block;width:100%;height:33px;margin-top:25px}
.music_detail .btn_area a{display:block;float:left;margin-left:5px}
.music_detail .btn_area a:first-child{margin-left:0}
.music_sub_view{overflow:hidden;float:left;width:480px;height:512px;margin-left:60px;background:#ebebeb;line-height:512px;text-align:center}
.music_sub_view img{vertical-align:middle}

/* live */
.live_detail{display:inline-block;position:relative;width:840px;padding-top:106px;padding-right:150px}
.live_detail .live_sub_detail{float:left;width:270px;height:541px}
.live_detail .live_sub_detail dl{width:270px;border-bottom:1px solid #d4d4d4;font-size:12px;color:#666;vertical-align:top}
.live_detail .live_sub_detail dt{padding-bottom:20px}
.live_detail .live_sub_detail dt>*{display:block}
.live_detail .live_sub_detail dt strong{font-size:28px;color:#000}
.live_detail .live_sub_detail dt span{font-size:14px;margin-top:10px}
.live_detail .live_sub_detail dd{display:inline-block;width:100%;padding-top:15px;padding-bottom:15px;border-top:1px solid #d4d4d4}
.live_detail .live_sub_detail dd ul{font-family:NanumBarunGothicBold;color:#666}
.live_detail .live_sub_detail dd ul li{display:inline-block;margin-top:10px;line-height:1.6}
.live_detail .live_sub_detail dd ul li:first-child{margin-top:0}
.live_detail .live_sub_detail dd ul li>*{display:block;float:left}
.live_detail .live_sub_detail dd ul li strong{width:75px;padding-right:15px;color:#000}
.live_detail .live_sub_detail dd ul li span{width:165px;padding-right:15px}
.live_detail .btn_area{display:block;width:100%;height:33px;margin-top:25px}
.live_detail .btn_area a{display:block;float:left;margin-left:5px}
.live_detail .btn_area a:first-child{margin-left:0}
.live_detail .live_sub_view{float:left;width:540px;height:588px;margin-top:-76px;margin-left:30px}
.live_detail .live_sub_view .live_view{overflow:hidden;position:relative;width:540px;height:449px;background:#ebebeb}
.live_detail .live_sub_view .live_view .prev_btn{display:block;position:absolute;top:172px;left:0;width:42px;height:85px}
.live_detail .live_sub_view .live_view .next_btn{display:block;position:absolute;top:172px;right:0;width:42px;height:85px}
.live_detail .live_sub_view .live_view .live_view_poster{position:relative;width:100%;height:449px}
.live_detail .live_sub_view .live_view .live_view_poster li{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:449px;background:#ebebeb;line-height:449px;text-align:center}
.live_detail .live_sub_view .live_view .live_view_poster li img{vertical-align:middle}
.live_detail .live_sub_view .live_poster_area{width:540px;margin:25px 150px 0 0}
.live_detail .live_sub_view .live_poster_area h4{display:inline-block;font-size:12px;color:#000;vertical-align:top;line-height:1.3}
.live_detail .live_sub_view .live_poster_area .lst_arr_area{display:inline-block;width:29px;height:15px;margin-left:15px;vertical-align:top}
.live_detail .live_sub_view .live_poster_area .lst_arr_area a{display:block;float:left;width:15px;height:15px}
.live_detail .live_sub_view .live_poster_area .lst_arr_area a:first-child{width:14px}
.live_detail .live_sub_view .live_poster_area .live_thumb_area{overflow:hidden;position:relative;width:540px;height:90px;margin-top:10px;background:url('/common/images/bg/bg_thumb.gif') repeat-x 0 100%}
.live_detail .live_sub_view .live_poster_area .live_thumb_area .live_lst{position:absolute;top:0;left:0;width:540px;height:90px}
.live_detail .live_sub_view .live_poster_area .live_thumb_area .live_lst li{overflow:hidden;position:absolute;top:0;left:0;width:90px;height:90px}
.live_detail .live_sub_view .live_poster_area .live_thumb_area .live_lst li a{display:block;width:100%;height:90px}
.live_detail .live_sub_view .live_poster_area .live_thumb_area .live_lst li a img{width:100%;height:100%}
.live_detail .live_sub_view .live_poster_area .live_thumb_area .live_lst li .ico_play{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:url('/common/images/ico/ico_play_small.png') no-repeat 50%}
.live_detail .live_sub_view .live_poster_area .live_thumb_area .live_lst li.mov .ico_play{display:block}
.live_detail .live_sub_view .live_poster_area .live_thumb_area .live_lst li .bg_rac_small{display:none;position:absolute;top:0;left:0;width:86px;height:86px;border:2px solid #f6b31d}
.live_detail .live_sub_view .live_poster_area .live_thumb_area .live_lst li a:hover .bg_rac_small,
.live_detail .live_sub_view .live_poster_area .live_thumb_area .live_lst li a.active .bg_rac_small{display:block}

/* animation */
.ani_detail{display:inline-block;position:relative;width:840px;padding-top:106px;padding-right:150px}
.ani_detail .ani_sub_detail{float:left;width:270px;height:541px}
.ani_detail .ani_sub_detail dl{width:270px;font-size:12px;color:#666;vertical-align:top}
.ani_detail .ani_sub_detail dt{padding-bottom:20px}
.ani_detail .ani_sub_detail dt>*{display:block}
.ani_detail .ani_sub_detail dt strong{font-size:28px;color:#000}
.ani_detail .ani_sub_detail dt span{margin-top:10px;font-size:12px;line-height:1.4}
.ani_detail .ani_sub_detail dd{display:inline-block;width:100%;padding-top:15px;padding-bottom:15px;border-top:1px solid #d4d4d4}
.ani_detail .ani_sub_detail dd ul{font-family:NanumBarunGothicBold;color:#666}
.ani_detail .ani_sub_detail dd ul li{display:inline-block;margin-top:10px;line-height:1.6}
.ani_detail .ani_sub_detail dd ul li:first-child{margin-top:0}
.ani_detail .ani_sub_detail dd ul li>*{display:block;float:left}
.ani_detail .ani_sub_detail dd ul li strong{width:75px;padding-right:15px;color:#000}
.ani_detail .ani_sub_detail dd ul li span{width:165px;padding-right:15px}
.ani_detail .btn_area{display:block;width:100%;height:33px;margin-top:25px}
.ani_detail .btn_area a{display:block;float:left;margin-left:5px}
.ani_detail .btn_area a:first-child{margin-left:0}
.ani_detail .ani_sub_view{float:left;width:540px;margin-left:30px}
.ani_detail .ani_sub_view .ani_view{overflow:hidden;position:relative;width:540px;height:373px;background:#ebebeb}
.ani_detail .ani_sub_view .ani_view .prev_btn{display:block;position:absolute;top:144px;left:0;width:42px;height:85px}
.ani_detail .ani_sub_view .ani_view .next_btn{display:block;position:absolute;top:144px;right:0;width:42px;height:85px}
.ani_detail .ani_sub_view .ani_view .ani_view_poster{position:relative;width:100%;height:373px}
.ani_detail .ani_sub_view .ani_view .ani_view_poster li{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:373px;background:#ebebeb;line-height:373px;text-align:center}
.ani_detail .ani_sub_view .ani_view .ani_view_poster li img{vertical-align:middle}
.ani_detail .ani_sub_view .ani_poster_area{width:540px;margin:25px 150px 0 0}
.ani_detail .ani_sub_view .ani_poster_area h4{display:inline-block;font-size:12px;color:#000;vertical-align:top;line-height:1.3}
.ani_detail .ani_sub_view .ani_poster_area .lst_arr_area{display:inline-block;width:29px;height:15px;margin-left:15px;vertical-align:top}
.ani_detail .ani_sub_view .ani_poster_area .lst_arr_area a{display:block;float:left;width:15px;height:15px}
.ani_detail .ani_sub_view .ani_poster_area .lst_arr_area a:first-child{width:14px}
.ani_detail .ani_sub_view .ani_poster_area .ani_thumb_area{overflow:hidden;position:relative;width:540px;height:90px;margin-top:10px;background:url('/common/images/bg/bg_thumb.gif') repeat-x 0 100%}
.ani_detail .ani_sub_view .ani_poster_area .ani_thumb_area .ani_lst{position:absolute;top:0;left:0;width:540px;height:90px}
.ani_detail .ani_sub_view .ani_poster_area .ani_thumb_area .ani_lst li{overflow:hidden;position:absolute;top:0;left:0;width:90px;height:90px}
.ani_detail .ani_sub_view .ani_poster_area .ani_thumb_area .ani_lst li a{display:block}
.ani_detail .ani_sub_view .ani_poster_area .ani_thumb_area .ani_lst li a img{width:100%;height:100%}
.ani_detail .ani_sub_view .ani_poster_area .ani_thumb_area .ani_lst li .ico_play{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:url('/common/images/ico/ico_play_small.png') no-repeat 50%}
.ani_detail .ani_sub_view .ani_poster_area .ani_thumb_area .ani_lst li.mov .ico_play{display:block}
.ani_detail .ani_sub_view .ani_poster_area .ani_thumb_area .ani_lst li .bg_rac_small{display:none;position:absolute;top:0;left:0;width:86px;height:86px;border:2px solid #127ce8}
.ani_detail .ani_sub_view .ani_poster_area .ani_thumb_area .ani_lst li a:hover .bg_rac_small,
.ani_detail .ani_sub_view .ani_poster_area .ani_thumb_area .ani_lst li a.active .bg_rac_small{display:block}
.cha_lst{overflow:hidden;position:relative;width:745px;height:448px;margin-top:40px;margin-left:30px}
.cha_lst ul{position:absolute;top:0;left:0}
.cha_lst ul li{overflow:hidden;position:absolute;top:0;left:0;height:440px}
.cha_lst ul li>*{display:block;line-height:1.4;text-align:center;vertical-align:top}
.cha_lst ul li strong{overflow:hidden;width:100%;height:235px}
.cha_lst ul li .cha_name{margin-top:30px;font-size:20px;color:#222}
.cha_lst ul li .cha_tit{margin-top:10px;font-size:14px;color:#666}
.cha_lst ul li .cha_txt{margin-top:10px;font-size:12px;color:#888}
.btn_lft_cha{display:block;overflow:hidden;position:absolute;top:280px;left:60px;width:16px;height:28px}
.btn_lft_cha:hover img,
.btn_lft_cha:focus img{margin-top:-28px}
.btn_rgt_cha{display:block;overflow:hidden;position:absolute;top:280px;right:180px;width:16px;height:28px}
.btn_rgt_cha:hover img,
.btn_rgt_cha:focus img{margin-top:-28px}

/* quick banner */
.quick{z-index:200;position:absolute;top:30px;right:30px;width:120px;height:589px;background:url('/common/images/bg/bg_quick.png') no-repeat 0 0}
.quick .quick_top{display:block;position:relative;width:100%;height:82px}
.quick .quick_top .top{display:block;position:absolute;top:0;left:0}
.quick .quick_area{overflow:hidden;position:relative;width:120px;height:506px}
.quick .quick_lst{overflow:hidden;position:absolute;top:0;left:10px;width:100px}
.quick .quick_lst li{overflow:hidden;position:relative;width:100px;height:100px;margin-top:10px}
.quick .quick_lst li a{display:block;overflow:hidden;position:relative;width:100px;height:100px}
.quick .quick_lst li a img{width:100%;height:100%}
.quick .quick_lst li .bg_rac{display:block;position:absolute;top:-3px;left:-3px;width:106px;height:106px}
.quick .quick_lst li .bg_mask{display:block;position:absolute;top:0;left:0;width:100px;height:100px;background:url('/common/images/bg/bg_quick_mask.png') no-repeat 0 0}
.quick .quick_lst li .quick_tit{display:block;position:absolute;bottom:5px;left:5%;width:90%;font-family:NanumBarunGothicBold;font-size:12px;color:#fff;line-height:1.3;text-align:center;vertical-align:top}
.quick .quick_btn{position:absolute;bottom:0;left:0;width:120px;height:49px;background:url('/common/images/bg/bg_quick_bottom.png') no-repeat 0 0}
.quick .quick_btn a{display:block;float:left;width:50%;height:49px}
.quick .quick_btn .btn_quick_up{background:url('/common/images/btn/btn_quick_up.png') no-repeat 40px 20px}
.quick .quick_btn .btn_quick_dwn{background:url('/common/images/btn/btn_quick_dwn.png') no-repeat 10px 20px}
.quick .quick_lst.media li .bg_rac{background:url('/common/images/bg/bg_rac_media.png') no-repeat 0 0}
.quick .quick_lst.film li .bg_rac{background:url('/common/images/bg/bg_rac_movie.png') no-repeat 0 0}
.quick .quick_lst.music li .bg_rac{background:url('/common/images/bg/bg_rac_music.png') no-repeat 0 0}
.quick .quick_lst.live li .bg_rac{background:url('/common/images/bg/bg_rac_live.png') no-repeat 0 0}
.quick .quick_lst.animation li .bg_rac{background:url('/common/images/bg/bg_rac_animation.png') no-repeat 0 0}


/*******************************************************************
	Company
********************************************************************/
.company_area{position:relative;width:960px;margin-left:60px;padding-bottom:100px}
.company_area .sub_header{top:18px;left:0}
.sub_tab.company li:first-child a{margin-left:0}
.sub_tab.company li a:hover,
.sub_tab.company li a:focus,
.sub_tab.company li.on a{height:28px;border-bottom:2px solid #9933cc;color:#9933cc}
.company_area h2,
.company_area h3{width:660px;font-size:26px;color:#222;line-height:1.4}
.company_area h2{width:545px}
.company_area p{font-family:NanumBarunGothicBold;font-size:12px;color:#666;line-height:1.7}
.about_top{height:212px;padding-top:135px;background:url('/common/images/bg/bg_company_about_top.jpg') no-repeat 100% 100%;border-bottom:1px solid #e4e4e4}
.about_top p{width:660px}
.about_enm li{display:inline-block;width:930px;margin-top:60px;padding:220px 0 0 30px}
.about_enm li:first-child{margin-top:0}
.about_enm li>*{float:left}
.about_enm li h3{width:180px;line-height:normal}
.about_enm li h3 span{display:block;margin-top:10px;font-family:NanumBarunGothic;font-size:12px;font-weight:normal;color:#666}
.about_enm li p{width:750px;font-family:NanumBarunGothic}
.about_enm li.media{background:url('/common/images/bg/bg_company_about_media.jpg') no-repeat 0 0}
.about_enm li.film{background:url('/common/images/bg/bg_company_about_film.jpg') no-repeat 0 0}
.about_enm li.music{background:url('/common/images/bg/bg_company_about_music.jpg') no-repeat 0 0}
.about_enm li.live{background:url('/common/images/bg/bg_company_about_live.jpg') no-repeat 0 0}
.about_enm li.ani{background:url('/common/images/bg/bg_company_about_ani.jpg') no-repeat 0 0}
.vision{padding-top:135px;background:url('/common/images/bg/bg_company_vision.gif') no-repeat 489px 320px}
.vision h2{display:inline-block;padding-bottom:30px;border-bottom:1px solid #e1e1e1;font-size:34px}
.vision h2 strong{display:block;margin-top:20px}
.vision ul li{margin-top:35px}
.vision ul li h4{font-size:19px;color:#333}
.vision ul li p{margin-top:10px;font-family:NanumBarunGothic}
.history_top{position:relative;height:234px;padding-top:135px;background:url('/common/images/bg/bg_company_history.jpg') no-repeat 625px 34px}
.history_top h2 span{display:block;margin-top:10px;font-size:13px;color:#666}
.history_top .stab{position:absolute;bottom:0;left:0}
.history_con{display:inline-block;width:100%;padding-top:30px}
.history_load{position:relative;width:100%}
.history_lst{width:100%}
.history_lst li{display:inline-block;width:100%;padding:10px 0;border-top:1px solid #e4e4e4}
.history_lst li>*{float:left}
.history_lst .year{width:12%;padding-top:10px;font-family:NanumBarunGothicBold;font-size:20px;color:#9933cc;vertical-align:top}
.history_lst .m_lst{width:88%}
.history_lst .m_lst li{position:relative;width:87%;padding:10px 0 10px 13%;border-top:1px solid #e4e4e4}
.history_lst .m_lst li:first-child{border-top:0}
.history_lst .m_lst li>*{float:left}
.history_lst .m_lst .month{position:absolute;top:10px;left:0;width:60px;font-family:NanumBarunGothicLight;font-size:18px;font-weight:bold;color:#222;line-height:1.7;text-align:center;vertical-align:top}
.history_lst .m_lst .month span{display:inline-block;margin:3px 0 0 3px;font-size:14px;vertical-align:top}
.history_lst .m_lst .txt{display:block;width:98%;margin:5px 0;padding-left:2%;background:url('/common/images/ico/ico_dot_gry.gif') no-repeat 0 7px;font-size:12px;color:#666;line-height:1.5;vertical-align:top}
.ceo{padding-top:135px;background:url('/common/images/bg/bg_company_ceo.jpg') no-repeat 100% 140px}
.ceo p{width:450px;margin-top:30px;font-family:NanumBarunGothic}
.ir_top{position:relative;height:52px;padding-top:135px;border-bottom:1px solid #e4e4e4}
.ir_top .stab{position:absolute;top:139px;right:0}
.ir_tab{height:40px;background:#f6f6f6;text-align:center}
.ir_tab a{display:inline-block;height:40px;padding:0 20px;background:url('/common/images/bg/bg_tab_bar.gif') no-repeat 0 13px;font-family:NanumBarunGothicBold;font-size:12px;color:#666}
.ir_tab a span{display:inline-block;height:25px;padding-top:14px;border-bottom:1px solid #f6f6f6}
.ir_tab a:first-child{background:none}
.ir_tab a:hover span,
.ir_tab a:focus span,
.ir_tab a.on span{border-bottom:1px solid #9933cc}
.ir_load{position:relative;width:100%;padding-top:35px}


/*******************************************************************
	Recruit
********************************************************************/
.recruit_top{height:177px;padding-top:130px;background:url('/common/images/bg/bg_recruit_top.jpg') no-repeat 640px 29px}
.recruit_con{width:100%;border-top:1px solid #e4e4e4}
.recruit_con p{font-family:NanumBarunGothic}
.recruit_sns{position:relative;width:100% !important;padding:26px 0 23px;border-bottom:1px solid #e4e4e4;font-family:NanumBarunGothicBold !important;color:#222 !important}
.recruit_sns .btn_fb_go{position:absolute;right:0;top:18px}
.recruit_area{width:100%;padding:40px 0;border-bottom:1px solid #e4e4e4}
.recruit_area h3{margin-bottom:8px;font-size:21px !important}
.recruit_area .recruit_step{overflow:hidden;width:100%;margin-top:40px}
.recruit_step>li{float:left;width:131px;margin-left:10px;padding:36px 24px 0 0;background:url('/common/images/bg/bg_recruit_step1.png') no-repeat 0 0;text-align:center}
.recruit_step li:first-child{margin-left:0}
.recruit_step li.last{float:left;width:131px;padding-right:0;background:url('/common/images/bg/bg_recruit_step2.png') no-repeat 0 0}
.recruit_step li.last span{color:#fff}
.recruit_step li.last .step_num{border-color:#fff}
.recruit_step li.last .step_tit{margin-top:14px;color:#fff}
.recruit_step li .step_num{display:inline-block;border-bottom:1px solid #333;font-size:12px;color:#333}
.recruit_step li .step_tit{display:block;height:66px;margin-top:12px;font-size:19px;color:#333}
.recruit_step li .step_tit em{display:block;font-size:14px;font-style:normal;color:#8b8b8b}
.recruit_step li .step_desc{width:100%;margin-top:20px;padding-left:10px}
.recruit_step li .step_desc p{margin-top:3px;padding-left:10px;background:url('/common/images/ico/ico_dot_gry.gif') no-repeat 0 7px;font-size:12px;color:#666;line-height:1.7;text-align:left}
.recruit_step li .step_desc a{color:#919191;text-decoration:underline}
.recruit_con .info_box{padding:22px 20px 20px 0;background:none}
.notice_top{position:relative;height:57px;padding-top:130px}
.notice_top .stab{position:absolute;top:139px;right:140px}
.notice_top .srch_area{position:absolute;top:139px;right:4px}
.srch_area .srch_input{width:111px;height:28px}
.srch_input{position:relative;height:28px;padding:2px 2px 2px 5px;background:url('/common/images/bg/bg_scrh_rgt.gif') no-repeat 100% 0}
.srch_input>*{float:left}
.srch_input .bg_lft{display:block;position:absolute;top:0;left:0;width:5px;height:32px;background:url('/common/images/bg/bg_scrh_lft.gif') no-repeat 0 0}
.srch_input input[type="text"]{width:83px;height:28px;*height:21px\0/ !important;*padding-top:7px\0/ !important}
.srch_input .btn_srch{display:block;width:28px;height:28px;background:url('/common/images/btn/btn_srch.gif') no-repeat 50%}
.srch_input.on{background:url('/common/images/bg/bg_scrh_rgt_ov.gif') no-repeat 100% 0}
.srch_input.on .bg_lft{background:url('/common/images/bg/bg_scrh_lft_ov.gif') no-repeat 0 0}
.srch_input.on .btn_srch{background:url('/common/images/btn/btn_srch_ov.gif') no-repeat 50%}
/* select */
.sbHolder{z-index:250;position:relative;width:111px;height:28px}
.sbSelector{display:block;overflow:hidden;position:absolute;top:0;left:0;width:107px;height:21px;background:#fff url('/common/images/ico/ico_arr_bot.gif') no-repeat 97px 12px;padding:7px 0 0 4px;font-size:12px;color:#888}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{color:#888;outline:none;text-decoration:none}
.sbOptions{z-index:251;overflow-y:auto;overflow-x:hidden;position:absolute;top:-2px;left:-5px;width:116px;background:#fff;border:1px solid #c099e1;font-size:12px}
.sbOptions li{display:block;height:30px}
.sbOptions li a{display:block;outline:none;height:30px;padding-left:8px;color:#888;line-height:30px}
.sbOptions li a:hover,
.sbOptions li a:focus{background:#9933cc;color:#fff}
.sbToggleOpen{display:block;z-index:252;position:absolute;top:0;right:7px;width:7px;height:28px;outline:none;background:url('/common/images/ico/ico_arr_bot_pur.gif') no-repeat 0 12px}
.table_box{position:relative;width:100%;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4}
.nodata{padding:100px 0;font-size:12px;color:#333;vertical-align;top;text-align:center}
.tb_type1{width:100%;background:#f9f9f9}
.tb_type1 dt{display:inline-block;width:100%;font-size:12px;color:#666}
.tb_type1 dt table th{width:10%;padding:30px 0;font-size:19px;color:#222;text-align:left}
.tb_type1 dt table th span{display:block;padding-left:20px}
.tb_type1 dt table td{width:90%;padding:10px 0;line-height:1.5}
.tb_type1 dt table td span{display:block;padding:0 20px}
.tb_type1 dd{width:100%;background:#fff}
.tb_type1 .notice_lst li .tit{width:92%;padding-left:0}
.tb_type2{width:100%;background:#f9f9f9}
.tb_type2 dt{display:inline-block;width:100%;height:46px;font-family:NanumBarunGothicBold;font-size:12px;color:#222}
.tb_type2 dt>*{display:block;float:left;height:46px;line-height:46px}
.tb_type2 dt .num{width:6%;text-align:center}
.tb_type2 dt .target{width:8%;text-align:center}
.tb_type2 dt .field{width:57%;padding-left:2%}
.tb_type2 dt .period{width:17%;text-align:center}
.tb_type2 dt .status{width:10%;text-align:center}
.tb_type2 dd{width:100%;background:#fff}
.tb_type2 .notice_lst li .num{width:6%}
.tb_type2 .notice_lst li .tit{width:57%;padding-left:2%}
.notice_lst{width:100%;background:#fff}
.notice_lst li{height:52px;padding-top:1px;background:url('/common/images/bg/bg_notice_lne.gif') repeat-x 0 0}
.notice_lst li:first-child{background:none}
.notice_lst li>*{display:block;float:left;height:52px;font-size:12px;line-height:52px}
.notice_lst li .num{width:8%;color:#888;text-align:center}
.notice_lst li .tit{overflow:hidden;width:78%;padding-left:2%;font-family:NanumBarunGothic;font-weight:normal;text-overflow:ellipsis;white-space:nowrap}
.notice_lst li .tit a{color:#222}
.notice_lst li .tit a:hover,
.notice_lst li .tit a:focus{color:#9933cc}
.notice_lst li .target{width:8%;font-family:NanumBarunGothic;font-size:11px;font-weight:normal;color:#9933cc;line-height:normal;text-align:center}
.notice_lst li .target span{display:inline-block;position:relative;height:16px;margin-top:15px;padding:5px 12px 0;background:url('/common/images/bg/bg_target_rgt.gif') no-repeat 100% 0}
.notice_lst li .target span em{display:block;position:absolute;top:0;left:0;width:10px;height:21px;background:url('/common/images/bg/bg_target_lft.gif') no-repeat 0 0}
.notice_lst li .period{width:17%;color:#888;text-align:center}
.notice_lst li .date{width:10%;padding-right:2%;color:#888;text-align:right}
.notice_lst li .status{width:10%;text-align:center}
.notice_lst li .status em{display:inline-block;overflow:hidden;width:57px;height:17px;padding-top:4px;font-style:normal;font-size:11px;text-align:center;line-height:normal}
.notice_lst li .status em.end{background:url('/common/images/bg/bg_employ_status1.gif') no-repeat 0 0;color:#999}
.notice_lst li .status em.ing{background:url('/common/images/bg/bg_employ_status2.gif') no-repeat 0 0;color:#fff}
.notice_lst li .status em.wait{background:url('/common/images/bg/bg_employ_status3.gif') no-repeat 0 0;color:#fff}
.tb_view,
.tb_view2{width:100%;background:#f9f9f9}
.tb_view dt,
.tb_view2 dt{display:inline-block;width:100%;height:53px;font-size:12px;color:#222}
.tb_view dt>*,
.tb_view2 dt>*{display:block;float:left;height:53px;line-height:53px}
.tb_view dt .num{width:6%;color:#888;text-align:center}
.tb_view dt .tit{overflow:hidden;width:80%;padding-left:2%;font-family:NanumBarunGothicBold;font-size:14px;font-weight:normal;text-overflow:ellipsis;white-space:nowrap}
.tb_view dt .date{width:10%;padding-right:2%;color:#888;text-align:right}
.tb_view dd,
.tb_view2 dd{width:100%;background:#fff}
.tb_view .view_con,
.tb_view2 .view_con{padding:30px 15px;font-size:12px;color:#666;line-height:1.6}
.tb_view .view_con .thumb,
.tb_view2 .view_con .thumb{overflow:hidden;width:100%;margin-bottom:30px}
.tb_view .view_con .btn_area,
.tb_view2 .view_con .btn_area{margin-top:30px}
.add_file{margin-top:30px}
.add_file strong{display:block;font-size:12px;color:#222}
.add_file a{display:inline-block;position:relative;height:24px;margin-top:5px;padding:0 10px;background:url('/common/images/bg/bg_file_rgt.gif') no-repeat 100% 0}
.add_file a strong{display:block;height:19px;padding:5px 0 0 22px;background:url('/common/images/ico/ico_file.gif') no-repeat 0 50%;font-size:11px;color:#666}
.add_file a .bg{display:block;position:absolute;top:0;left:0;width:5px;height:24px;background:url('/common/images/bg/bg_file_lft.gif') no-repeat 0 0}
.add_file a:hover,
.add_file a:focus{background:url('/common/images/bg/bg_file_rgt_ov.gif') no-repeat 100% 0}
.add_file a:hover .bg,
.add_file a:focus .bg{background:url('/common/images/bg/bg_file_lft_ov.gif') no-repeat 0 0}
.tb_view2 dt .num{width:6%;color:#888;text-align:center}
.tb_view2 dt .target{width:8%;font-family:NanumBarunGothic;font-size:11px;font-weight:normal;color:#9933cc;line-height:normal;text-align:center}
.tb_view2 dt .target span{display:inline-block;position:relative;height:16px;margin-top:15px;padding:5px 12px 0;background:url('/common/images/bg/bg_target_rgt2.gif') no-repeat 100% 0}
.tb_view2 dt .target span em{display:block;position:absolute;top:0;left:0;width:10px;height:21px;background:url('/common/images/bg/bg_target_lft2.gif') no-repeat 0 0}
.tb_view2 dt .tit{overflow:hidden;width:69%;font-family:NanumBarunGothicBold;font-size:14px;font-weight:normal;text-overflow:ellipsis;white-space:nowrap}
.tb_view2 dt .period{width:17%;color:#888}
.lst_order,
.lst_order2{width:100%}
.lst_order li,
.lst_order2 li{height:46px;border-top:1px solid #e4e4e4;font-size:12px}
.lst_order li>*,
.lst_order2 li>*{display:block;float:left;height:46px;line-height:46px}
.lst_order li .sort{width:10.5%;color:#888;text-align:center}
.lst_order li .sort em,
.lst_order2 li .sort em{display:inline-block;padding-left:26px;font-style:normal;line-height:normal}
.lst_order li .sort.pre em,
.lst_order2 li .sort.pre em{background:url('/common/images/ico/ico_arr_top.gif') no-repeat 0 3px}
.lst_order li .sort.next em,
.lst_order2 li .sort.next em{background:url('/common/images/ico/ico_arr_bot.gif') no-repeat 0 3px}
.lst_order li .tit{width:75.5%;padding-left:2%;font-family:NanumBarunGothic;font-weight:normal}
.lst_order li .tit a{color:#222}
.lst_order li .tit a:hover,
.lst_order li .tit a:focus{color:#9933cc}
.lst_order li .date{width:10%;padding-right:2%;color:#888;text-align:right}
.lst_order2 li .sort{width:10%;color:#888;text-align:center}
.lst_order2 li .target{width:8%;font-family:NanumBarunGothic;font-size:11px;font-weight:normal;color:#9933cc;line-height:normal;text-align:center}
.lst_order2 li .target span{display:inline-block;position:relative;height:16px;margin-top:12px;padding:5px 12px 0;background:url('/common/images/bg/bg_target_rgt.gif') no-repeat 100% 0}
.lst_order2 li .target span em{display:block;position:absolute;top:0;left:0;width:10px;height:21px;background:url('/common/images/bg/bg_target_lft.gif') no-repeat 0 0}
.lst_order2 li .tit{width:65%;font-family:NanumBarunGothic;font-weight:normal}
.lst_order2 li .tit a{color:#222}
.lst_order2 li .tit a:hover,
.lst_order2 li .tit a:focus{color:#9933cc}
.lst_order2 li .period{width:17%;color:#888}
.info_box{padding:18px 20px 20px;background:#fcfcfc}
.info_box ul{width:100%}
.info_box ul li{display:block;margin-top:7px;padding-left:12px;background:url('/common/images/ico/ico_dot_gry.gif') no-repeat 0 5px;font-size:12px;color:#666}
.info_box ul li:first-child{margin-top:0}
.info_box ul li a{color:#919191;text-decoration:underline}
.info_box .btn_area{display:block;height:33px;margin-top:15px}
.total{font-size:12px;color:#9933cc}
.company_area .btn_area{height:33px;margin-top:20px}
.faq_top{position:relative;height:80px;padding-top:130px}
.faq_top p{color:#888}
.faq_top p a{color:#a8a8a8;text-decoration:underline}
.faq_top .srch_area{position:absolute;top:139px;right:4px}
.faq_lst{width:100%}
.faq_lst li{display:block;overflow:hidden;height:47px;background:url('/common/images/bg/bg_notice_lne.gif') repeat-x 0 0}
.faq_lst li:first-child{background:none}
.faq_lst li .faq_tit{display:block;overflow:hidden;position:relative;height:47px;padding-left:52px;background:url('/common/images/ico/ico_faq_q.png') no-repeat 20px 17px;text-overflow:ellipsis;white-space:nowrap}
.faq_lst li .faq_tit:hover .tit,
.faq_lst li .faq_tit:focus .tit,
.faq_lst li.on .faq_tit .tit{color:#9933cc}
.faq_lst li .faq_tit .sort{display:inline-block;position:relative;min-width:36px;height:16px;margin:12px 15px 0 0;padding:5px 12px 0;background:url('/common/images/bg/bg_target_rgt.gif') no-repeat 100% 0;font-family:NanumBarunGothic;font-size:11px;font-weight:normal;color:#9933cc;line-height:normal;text-align:center}
.faq_lst li .faq_tit .sort em{display:block;position:absolute;top:0;left:0;width:10px;height:21px;background:url('/common/images/bg/bg_target_lft.gif') no-repeat 0 0}
.faq_lst li .faq_tit .tit{display:inline-block;height:47px;font-family:NanumBarunGothic;font-size:12px;font-weight:normal;color:#444;line-height:47px}
.faq_lst li .faq_con{position:relative;min-height:35px;padding:30px 20px;background:#f9f9f9 url('/common/images/bg/bg_notice_lne.gif') repeat-x 0 0;font-size:12px;color:#666;line-height:1.6}
.faq_lst li .faq_con div{padding-left:32px;background:url('/common/images/ico/ico_faq_a.png') no-repeat 0 2px}



/*******************************************************************
	Etc
********************************************************************/
/* Location */
.etc_area{width:960px;min-height:648px;margin-left:60px;padding-bottom:100px}
.etc_area h2{padding:66px 0 20px;font-size:28px;color:#222}
.etc_top{position:relative;width:100%;height:190px;margin-bottom:38px;border-bottom:1px solid #e4e4e4}
.etc_top .location_btn_area{position:absolute;right:0;top:70px}
.map_area{overflow:hidden;width:958px;height:348px;border:1px solid #d4d4d4}
.location{height:auto;margin-bottom:0;border:0}
.location_info .infobox{overflow:hidden;width:945px;padding:20px 0 20px 15px;border-top:1px solid #d4d4d4}
.location_info .infobox:first-child{border-top:0}
.location_info h3{float:left;width:98px;height:25px;padding-left:50px;font-size:18px;color:#222;line-height:25px}
.location_info .txt{float:left;font-size:12px;color:#666}
.location_info .txt p{padding-left:13px;background:url('/common/images/ico/ico_dot_gry.gif') no-repeat 0 7px;line-height:1.7}
.location_info .txt span{color:#888}
.location_info .addr h3{background:url('/common/images/ico/ico_location.png') no-repeat 0 -6px}
.location_info .subway h3{background:url('/common/images/ico/ico_location.png') no-repeat 0 -39px}
.location_info .car h3{background:url('/common/images/ico/ico_location.png') no-repeat 0 -72px}
.location_info .bus h3{background:url('/common/images/ico/ico_location.png') no-repeat 0 -106px}
.location_info .bus .txt p:first-child{margin-bottom:10px}
.location_info .bus .txt span{display:block}
.btn_policy_area .add_file{display:inline-block;margin-right:10px}
.btn_policy_area .add_file strong{padding:4px 10px 1px;background:none}
.btn_policy_area .date{color:#888}
.tb_type3{width:100%;font-size:12px}
.tb_type3 th{padding:16px 0;background:#fbfbfb url('/common/images/bg/bg_notice_lne.gif') repeat-x 0 100%;border-top:1px solid #e4e4e4;font-size:12px;color:#666}
.tb_type3 td{padding:16px 10px;border-bottom:1px solid #e4e4e4;color:#666;line-height:1.6;text-align:center}
.tb_type4{width:100%;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;font-size:12px}
.tb_type4 th{padding:16px 0;background:#fbfbfb url('/common/images/bg/bg_notice_lne.gif') repeat-x 0 100%;font-size:12px;color:#666}
.tb_type4 td{padding:16px 10px;background:url('/common/images/bg/bg_notice_lne.gif') repeat-x 0 bottom;color:#666;line-height:1.6;text-align:center}
.tb_type4 .td_b0{background-image:none}
.tit_desc{font-size:12px;color:#666;line-height:1.6}
.etc_con{font-size:12px;color:#666;line-height:1.7}
.etc_con h3{font-size:19px;color:#222}
.etc_con .txt_g{color:#888}
.policy_box a{color:#888}
.policy_box a:hover,.policy_box a:focus{text-decoration:underline}
.contact_lst{font-size:12px;color:#666}
.contact_lst dt{display:inline-block;width:auto}
.contact_lst dd{display:inline-block;;width:94%;color:#888}
.contact_lst dd a{color:#888}

/* system page */
.system{position:relative;width:600;margin:0 auto;padding-top:150px;text-align:center}
.system h2{width:100%;padding-top:0}
.system h3{margin-top:20px;font-size:18px;color:#333}
.system p{margin-top:20px;font-size:13px;color:#888;line-height:1.5}
.system p strong{font-weight:normal;color:#333}
.system .etc_btn{overflow:hidden;width:250px;margin:30px auto 0}
.system .etc_btn a{float:left}
.system .etc_btn .btn_more{margin-right:10px}
.system .etc_btn .btn_more,
.system .etc_btn .btn_more2{text-align:left}
.system .etc_btn .btn_more:hover span,
.system .etc_btn .btn_more:focus span{color:#7f7f7f}

/* main popup */
#wrap.pop_wrap{position:relative;width:100%;height:100%;background:none}
.pop_top{position:relative;width:100%;height:23px;border-bottom:1px solid #dedede}
.pop_top .pop_paging{position:absolute;top:6px;right:50px}
.pop_top .pop_paging span{float:left;color:#888;font-size:12px}
.pop_top .pop_paging span.now_paging{color:#222}
.pop_top .btn_banner_lst{display:inline-block;position:absolute;top:4px;right:10px}
.pop_top .btn_banner_lst a:first-child{position:relative;left:1px}
.pop_banner_area{overflow:hidden;position:relative;width:100%;height:259px}
.pop_bot{position:relative;width:100%;height:21px;padding:7px 0 0 10px;background:#dedede}
.pop_bot label{padding-left:5px;cursor:pointer}
.pop_bot label span{font-size:12px;color:#666}
.pop_bot .pop_close{display:inline-block;position:absolute;top:9px;right:20px}