﻿@charset "utf-8";


/* --------------------------------------------------------------------------
	Popup Layout 
-------------------------------------------------------------------------- */ 
#pop{position:relative}
#pop.pop_intro{position:relative;width:718px;height:404px;border:1px solid #5d5d5d}
#pop.pop_intro .movie{overflow:hidden;position:relative;width:718px;height:404px}

#pop .btn_clse{position:absolute;top:0;right:-40px;width:30px;height:30px}

