﻿@charset "utf-8";

/*******************************************************************
	Reset
********************************************************************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{display:block;border:0;*margin:0;*padding:0;*font-size:0}/* html5 */
table{border-collapse:collapse;border-spacing:0}
fieldset,img,iframe{border:0}
img{vertical-align:top}
ul,ol{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%}
caption,legend{display:none}
html,body{-webkit-text-size-adjust:none;width:100%;font-family:NanumBarunGothic,Dotum,Arial,sans-serif}
body{background:#e5e5e5}
h1,h2,h3,h4,h5,h6,strong,table th{font-family:NanumBarunGothicBold;font-weight:normal}

/* Form */
input,textarea,select,button{border:0;font-family:NanumBarunGothic,Dotum,Arial,sans-serif;font-size:12px;color:#666;vertical-align:top}
button{overflow:visible;width:auto;margin:0;padding:0;background:none;border:none}
input[type="button"],input[type="text"],input[type="image"],input[type="submit"],textarea{-webkit-appearance:none}
input::-ms-clear{display:none}
textarea{resize:none}
a:link,a:visited,a:active,a:hover{text-decoration:none;cursor:pointer}
/*a:focus,input:focus,textarea:focus{outline:none}*/

.clearFix:after{display:block;clear:both;content:""}
* html .clearFix{ zoom: 1; } /* IE6 */
*:first-child+html .clearFix { zoom: 1; } /* IE7 */
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0}

/*  Modal Popup  */
.modal_bg{z-index:997;display:none;position:absolute;top:0;left:0;width:0;height:0%;background-color:#000}
.modal_popup_container{z-index:998;position:absolute;top:0;left:0}
.modal_popup_container .popup_con{z-index:999;position:absolute;top:0;left:0}

/* Common */
.al{text-align:left !important}
.ac{text-align:center !important}
.ar{text-align:right !important}
.vt{vertical-align:top !important}
.brtn{border-top:0 !important}
.brrn{border-right:0 !important}
.brbn{border-bottom:0 !important}
.brln{border-left:0 !important}
.mtn{margin-top:0 !important}
.mrn{margin-right:0 !important}
.mbn{margin-bottom:0 !important}
.mln{margin-left:0 !important}
.ptn{padding-top:0 !important}
.prn{padding-right:0 !important}
.pbn{padding-bottom:0 !important}
.pln{padding-left:0 !important}


.mt5{margin-top:5px !important} 
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mt35{margin-top:35px !important}
.mt40{margin-top:40px !important}
.mt45{margin-top:45px !important}
.mt50{margin-top:50px !important}

.mr5{margin-right:5px !important}
.mr10{margin-right:10px !important}
.mr15{margin-right:15px !important}
.mr20{margin-right:20px !important}
.mr25{margin-right:25px !important}
.mr30{margin-right:30px !important}
.mr35{margin-right:35px !important}
.mr40{margin-right:40px !important}
.mr45{margin-right:45px !important}
.mr50{margin-right:50px !important}

.mb5{margin-bottom:5px !important}
.mb10{margin-bottom:10px !important}
.mb15{margin-bottom:15px !important}
.mb20{margin-bottom:20px !important}
.mb25{margin-bottom:25px !important}
.mb30{margin-bottom:30px !important}
.mb35{margin-bottom:35px !important}
.mb40{margin-bottom:40px !important}
.mb45{margin-bottom:45px !important}
.mb50{margin-bottom:50px !important}

.ml5{margin-left:5px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml20{margin-left:20px !important}
.ml25{margin-left:25px !important}
.ml30{margin-left:30px !important}
.ml35{margin-left:35px !important}
.ml40{margin-left:40px !important}
.ml45{margin-left:45px !important}
.ml50{margin-left:50px !important}

.pt5{padding-top:5px !important} 
.pt10{padding-top:10px !important}
.pt15{padding-top:15px !important}
.pt20{padding-top:20px !important}
.pt25{padding-top:25px !important}
.pt30{padding-top:30px !important}
.pt35{padding-top:35px !important}
.pt40{padding-top:40px !important}
.pt45{padding-top:45px !important}
.pt50{padding-top:50px !important}

.pr5{padding-right:5px !important}
.pr10{padding-right:10px !important}
.pr15{padding-right:15px !important}
.pr20{padding-right:20px !important}
.pr25{padding-right:25px !important}
.pr30{padding-right:30px !important}
.pr35{padding-right:35px !important}
.pr40{padding-right:40px !important}
.pr45{padding-right:45px !important}
.pr50{padding-right:50px !important}

.pb5{padding-bottom:5px !important}
.pb10{padding-bottom:10px !important}
.pb15{padding-bottom:15px !important}
.pb20{padding-bottom:20px !important}
.pb25{padding-bottom:25px !important}
.pb30{padding-bottom:30px !important}
.pb35{padding-bottom:35px !important}
.pb40{padding-bottom:40px !important}
.pb45{padding-bottom:45px !important}
.pb50{padding-bottom:50px !important}

.pl5{padding-left:5px !important}
.pl10{padding-left:10px !important}
.pl15{padding-left:15px !important}
.pl20{padding-left:20px !important}
.pl25{padding-left:25px !important}
.pl30{padding-left:30px !important}
.pl35{padding-left:35px !important}
.pl40{padding-left:40px !important}
.pl45{padding-left:45px !important}
.pl50{padding-left:50px !important}


/* font */
.fnB{font-family:NanumBarunGothicBold !important;font-weight:normal !important}
.fnN{font-family:NanumBarunGothic !important}
.fnL{font-family:NanumBarunGothicLight !important}
.b{font-weight:bold !important}

/* Button */
.btn_more{display:block;overflow:hidden;width:120px;height:33px;background:url('/common/images/bg/bg_site_more.png') no-repeat 0 0}
.btn_more span{display:block;padding:0 15px;font-family:NanumBarunGothicBold;font-size:11px;color:#666;line-height:35px}
.btn_more:hover,
.btn_more:focus{background-position:0 -33px}
.btn_more:hover span,
.btn_more:focus span{color:#278cee}
.btn_more2{display:block;width:105px;height:33px;padding-left:15px;background:url('/common/images/bg/bg_more_blu.png') no-repeat 0 0;font-family:NanumBarunGothicBold;font-size:11px;color:#fff;line-height:35px}
.btn_more2:hover,
.btn_more2:focus{background-position: 0 -33px;color:#0098d0}
.btn_fb{display:block;overflow:hidden;width:34px;height:33px;background:url('/common/images/btn/btn_fb_big.png') no-repeat 0 0}
.btn_fb:hover,
.btn_fb:focus{background-position:0 -33px}
.btn_tw{display:block;overflow:hidden;width:34px;height:33px;background:url('/common/images/btn/btn_tw_big.png') no-repeat 0 0}
.btn_tw:hover,
.btn_tw:focus{background-position:0 -33px}
.btn_blog{display:block;overflow:hidden;width:34px;height:33px;background:url('/common/images/btn/btn_blog_big.png') no-repeat 0 0}
.btn_blog:hover,
.btn_blog:focus{background-position:0 -33px}
.btn_yt{display:block;overflow:hidden;width:34px;height:33px;background:url('/common/images/btn/btn_yt_big.png') no-repeat 0 0}
.btn_yt:hover,
.btn_yt:focus{background-position:0 -33px}
.btn_kas{display:block;overflow:hidden;width:34px;height:33px;background:url('/common/images/btn/btn_kas_big.png') no-repeat 0 0}
.btn_kas:hover,
.btn_kas:focus{background-position:0 -33px}
.btn_ins{display:block;overflow:hidden;width:34px;height:33px;background:url('/common/images/btn/btn_ins_big.png') no-repeat 0 0}
.btn_ins:hover,
.btn_ins:focus{background-position:0 -33px}
.btn_lst{display:block;overflow:hidden;width:69px;height:33px;background:url('/common/images/bg/bg_btn_lst.png') no-repeat 0 0;font-family:NanumBarunGothicBold;font-size:11px;color:#666;text-align:center;line-height:35px}
.btn_fb_go{display:block;position:relative;height:24px;padding:9px 16px 0 35px;background:url('/common/images/bg/bg_fb_go_rgt.png') no-repeat 100% 0;font-family:NanumBarunGothicBold;font-size:11px;color:#fff}
.btn_fb_go span{display:block;position:absolute;left:0;top:0;width:35px;height:33px;background:url('/common/images/bg/bg_fb_go_lft.png') no-repeat 0 0}
.btn_fb_go:hover,.btn_fb_go:hover span,
.btn_fb_go:focus,.btn_fb_go:focus span{background-position:100% -33px}
.btn_tw_go{display:inline-block;position:relative;width:119px;height:22px;padding:11px 0 0 40px;background:url('/common/images/bg/bg_tw_go.png') no-repeat 100% 0;font-family:NanumBarunGothicBold;font-size:11px;color:#fff}
.btn_tw_go:hover,
.btn_tw_go:focus{background-position:100% -33px}
.btn_google{display:block;overflow:hidden;width:71px;height:26px;padding:7px 0 0 40px;background:url('/common/images/bg/bg_btn_google.gif') no-repeat 0 0;font-size:12px;color:#fff}
.btn_google:hover,
.btn_google:focus{background-position:0 -33px}
.btn_google.us{display:block;overflow:hidden;width:80px;height:26px;padding:7px 0 0 40px;background:url('/common/images/bg/bg_btn_google2.gif') no-repeat 0 0;font-size:12px;color:#fff}
.btn_google.us:hover,
.btn_google.us:focus{background-position:0 -33px}
.btn_google.cn{display:block;overflow:hidden;width:84px;height:26px;padding:7px 0 0 40px;background:url('/common/images/bg/bg_btn_google3.gif') no-repeat 0 0;font-size:12px;color:#fff}
.btn_google.cn:hover,
.btn_google.cn:focus{background-position:0 -33px}
.btn_apple{display:block;overflow:hidden;width:71px;height:26px;padding:7px 0 0 40px;background:url('/common/images/bg/bg_btn_apple.gif') no-repeat 0 0;font-size:12px;color:#fff}
.btn_apple:hover,
.btn_apple:focus{background-position:0 -33px}
.btn_apple.jp{display:block;overflow:hidden;width:140px;height:26px;padding:7px 0 0 40px;background:url('/common/images/bg/bg_btn_apple2.gif') no-repeat 0 0;font-size:12px;color:#fff}
.btn_apple.jp:hover,
.btn_apple.jp:focus{background-position:0 -33px}
.btn_dmap{display:inline-block;position:relative;height:21px;margin-right:10px;padding:12px 14px 0 47px;background:url('/common/images/bg/bg_map_rgt.gif') no-repeat 100% 0;font-family:NanumBarunGothicBold;font-size:11px;color:#666}
.btn_dmap span{display:inline-block;position:absolute;left:0;top:0;width:35px;height:33px;background:url('/common/images/bg/bg_dmap_lft.gif') no-repeat 0 0}
.btn_dmap:hover,.btn_dmap:hover span,.btn_nmap:hover,.btn_nmap:hover span,
.btn_dmap:focus,.btn_dmap:focus span,.btn_nmap:focus,.btn_nmap:focus span{background-position:100% -33px;color:#fff}
.btn_nmap{display:inline-block;position:relative;height:21px;padding:12px 14px 0 37px;background:url('/common/images/bg/bg_map_rgt.gif') no-repeat 100% 0;font-family:NanumBarunGothicBold;font-size:11px;color:#666}
.btn_nmap span{display:inline-block;position:absolute;left:0;top:0;width:35px;height:33px;background:url('/common/images/bg/bg_nmap_lft.gif') no-repeat 0 0}
.btn_go{position:relative;height:12px;padding:6px 10px;background:url('/common/images/bg/bg_go_rgt.gif') no-repeat 100% 0;font-size:11px;color:#666}
.btn_go span{position:absolute;left:0;top:0;width:2px;height:24px;background:url('/common/images/bg/bg_go_lft.gif') no-repeat 0 0}

/* Page */
.paging{margin-top:20px;padding:5px 0;height:15px;text-align:center}
.paging a,.paging strong{display:inline-block;overflow:hidden;position:relative;height:15px;margin:0 3px;padding:0 5px;font-size:14px;color:#888;line-height:normal;text-decoration:none;vertical-align:top}
.paging a:hover,
.paging strong{font-family:NanumBarunGothicBold;color:#9933cc !important}
.paging .pre, .paging .next{display:inline-block;width:15px;height:15px;padding:0}
.paging .pre{margin:1px 20px 0 0;background:url('/common/images/btn/btn_lst_arr_lft.gif') no-repeat 0 0}
.paging .next{margin:1px 0 0 20px;background:url('/common/images/btn/btn_lst_arr_rgt.gif') no-repeat 0 0}