/* CSS Document */

/*-----Global Reset-----*/

html, body, h1, h2, h3, h4, h5, h6, p, blockquote, form, label, ul, ol, dl, fieldset, address{margin:0; padding:0;}

h1, h2, h3, h4, h5, h6, p, blockquote, form, label, ul, ol, dl, fieldset, address{
margin:0 0;}
ul.menu{
margin:0;
}
h1, h2, h3, h4, h5, h6{
margin-top:0;
}
li, dd{margin-left:8px;}

ol.normal li{
	padding:5px;
	font-family:verdana, arial;
}

fieldset{
	padding:0em;
	border:0px;
	color:#fff;
}

fieldset a, fieldset a:visited, div.greeting,div.rawimages{
	color:#fff;
	font-weight:normal;
	font: 10px verdana,sans-serif;
}
fieldset a:hover{
	text-decoration:underline;
}

iframe {
 border: 0px solid #ffffff;
}

img {
	border: none;
}
fieldset label {
	font: 10px verdana,sans-serif;
}
form#form-login input {
    background-color: #4b4a4a;
    background-position: right top;
    border: 0 none;
    color: white;
    font: 10px verdana,sans-serif;
    padding: 3px 5px;
    vertical-align: middle;	
}

fieldset .button{
	border:1px dotted #828282;
	width:70px;
	
}

table.logintbl{
	padding-top:3px;
	padding-bottom:0px;
}

.clear {
	clear: both;
}

/*-----BACKGROUND COLOR/FONT SIZE AND COLOR-----*/
body {
	background-color:#ffffff;
	font-size:11px; /* more consistent font sizes */
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	line-height:16px; /*helps readability*/

}

div#body-wrapper{
	background-color:#e9e9e8;
	/*background-image:url('../images/bg.png');*/
	background-repeat:repeat-x;	
	width:100%;	
	border-bottom:6px solid #dee1ea;
}
div#body-footer{
	width:100%;
	height:350px;
	border-top:4px solid #b50102;
	background-color:#616161;
	color:#fff;
	font-size:12px;
}
div#body-footer a:link{
	color:#fff;
}
div#body-footer a:visited{
	color:#fff;
}
/*-----ALL NON PARAGRAPH TEXT COLORS-----*/

td {
font-size:11px;
}

p {
    font-family: verdana, sans-serif;
    font-size: 15px;
    line-height: 22px;    
    margin-bottom: 15px;
}

tr.greybg{
	background-color:#616161;
}

tr.greydownbg{
	background-color:#dfdfdf;
}
/*-----HEADINGS-----*/
h1{ font-size:20px; font-weight:normal; line-height:32px; letter-spacing:-0.5px;color:#2C4F97}
.componentheading, .componentheading_news{ font-size:20px; font-weight:normal; line-height:32px; letter-spacing:-0.5px;color:#383838; padding-left:20px;padding-top:3px;}
.contentheading, .contentheading_news{font-size:18px !important; font-weight:normal; line-height:20px;}
h2{font-size:18px; font-weight:normal; line-height:32px;color:#000} 
h3{font-size:14px; font-weight:bold;}
h4{font-size:14px; font-weight:bold;}
h5{font-size:12px; font-weight:bold;}

.logo_title h2{
	font-size:12px; font-weight:bold;
	float:left;
	width: 210px;	
}

.head-settings p{
	font-size:11px;
	line-height:14px;
}
.contentheading, .componentheading,.componentheading_news, .contentheading_news{
padding-bottom:5px;
}
/*-----LINK TEXT COLORS-----*/
a {
font-weight:bold;
text-decoration:none;
outline:none;
}

a:hover{
text-decoration:underline;
}

a.title_link:link, a.title_link:visited{
	color:#ffffff;
}


/*-----Lists-----*/
ul{
padding-left:10px
}

ul.latestnews_news, ul.newsfeed_news {
	list-style:disc;
}

li{
}

/* tables */

table.contentpaneopen, table.contentpaneopen_news {
    width: 100%;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px;
}

table.contentpaneopen td{
	padding: 10px 20px 10px 20px;
	}

table.contentpaneopen td {
   padding-right: 5px;
}

table.contentpaneopen_news td {
   padding: 10px 20px 10px 20px;
   font-size:12px;
}
table.contentpaneopen_news td p, div.content-font p{
	font-family: verdana, sans-serif;
	font-size: 15px;
	line-height: 22px;
	
}
tr.heading td{
	text-align: center;
}
div.content-font td.standing-first-td{

}
div.content-font td.standing-second-td{
	padding-left:15px;
}
.standing-first-td-1,.standing-first-td-17,.standing-first-td-15{
	padding-left:5px;
	background-color:#DFFFC1;
	padding-left:10px;
}
.standing-first-td-2,.standing-first-td-18,.standing-first-td-16{
	padding-left:5px;
	background-color:#c2ffec;
	padding-left:10px;
}
.standing-first-td-19{
	padding-left:5px;
	background-color:#8eebff;
	padding-left:10px;
}
.standing-first-td-3{
	padding-left:5px;
	background-color:#FEFFBF;
	padding-left:10px;
}
.standing-first-td-4{
	padding-left:5px;
	background-color:#FFC6C6;
	padding-left:10px;
}
.standing-first-td-5{
	padding-left:5px;
	background-color:#3ced49;
	padding-left:10px;
}
.standing-first-td-6{
	padding-left:5px;
	background-color:#bdffc2;
	padding-left:10px;
}
.standing-first-td-7{
	padding-left:5px;
	background-color:#ffcba5;
	padding-left:10px;
}
.standing-first-td-8 {
	padding-left:5px;
	background-color:#55f595;
	padding-left:10px;
}

.standing-first-td-9 {
	padding-left:5px;
	background-color:#ffe491;
	padding-left:10px;
}
.standing-first-td-10 {
	padding-left:5px;
	background-color:#fff5a5;
	padding-left:10px;
}
.standing-first-td-11 {
	padding-left:5px;
	background-color:#a1ff73;
	padding-left:10px;
}
.standing-first-td-12 {
	padding-left:5px;
	background-color:#cdffb5;
	padding-left:10px;
}
.standing-first-td-13 {
	padding-left:5px;
	background-color:#ffcece;
	padding-left:10px;
}

.standing-first-td-14 {
	padding-left:5px;
	background-color:#ffa248;
	padding-left:10px;
}

.standing-first-td-20{
	padding-left:5px;
	background-color:#ffb80d;
	padding-left:10px;
}

.standing-first-td-21{
	padding-left:5px;
	background-color:#fff099;
	padding-left:10px;
}

.standing-first-td-22{
	padding-left:5px;
	background-color:#66cc00;
	padding-left:10px;
}
.standing-first-td-23{
	padding-left:5px;
	background-color:#66cc00;
	padding-left:10px;
}
.standing-first-td-24{
	padding-left:5px;
	background-color:#99ff33;
	padding-left:10px;
}
.standing-first-td-25{
	padding-left:5px;
	background-color:#8eebff;
	padding-left:10px;
}
.standing-first-td-26{
	padding-left:5px;
	background-color:#d9ffb3;
	padding-left:10px;
}

div.content-font table td{
	font-family: verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding:3px;
}
	
table.contentpaneopen_news td ul li{
	font-family: verdana, sans-serif;
	font-size: 14px;
	line-height: 22px;
}

table.bookmakers{
	padding:0px; 
	margin:0px;
	border-collapse: collapse;
	width:100%;
	}
table.bookmakers td{
	font-family: verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	border: 1px solid #CCC;
	padding: 10px 16px !important;
}
table.livestream {
	padding:0px; 
	margin:0px;
	border-collapse: collapse;
	width:100%;
}
table.livestream td{
	font-family: verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	border: 1px solid #CCC;
	height: 40px;
	vertical-align:middle !important;
	padding:0px 5px 5px 5px !important;
}
table.ranking-mod{
	padding:0px; 
	margin:0px;
	border-collapse: collapse;
	width:100%;
}
table.ranking-mod td{
	text-align:center;
	padding:2px;
	border: 1px solid #CCC;
}
table.bookmakers-inline {
	padding:0px; 
	margin:0px;
	border-collapse: collapse;
	}
table.bookmakers-inline td{
	font-family: verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	border: 1px solid #CCC;
	padding: 10px 15px;
}
table.stat-content{
	width:100%;
	padding-left:1px;
}
table.stat-content td{
	padding-top:10px;
}
table.stat-content td td{
	padding-top:0px;
}

a.underline,a.underline:visited{
	text-decoration:underline;
}
a.underline:hover{
	color:#2C4F97;
	text-decoration:none;
}

td.book_first a, td.book_first a:visited{
	color:#2C4F97;
	border-bottom:1px dotted #2C4F97;
}

table.contentpaneopen td.componentheading, table.contentpaneopen_news td.componentheading_news {
	padding-left: 4px;
}



table.contentpane {
  width: 100%;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px;
}

table.contentpane td {
	margin: 0px;
	padding: 0px;
}

table.contentpane td.componentheading, table.contentpane td.componentheading_news  {
	padding-left: 4px;
}

table.contentpaneopen fieldset, table.contentpaneopen_news fieldset {
	border: 0px;
	border-bottom: 1px solid #eee;
}

table.allcontent{
	background-color:#fff;
	border:1px solid #ccc;
	-moz-box-shadow:    0px 2px 3px 2px #ccc;
  -webkit-box-shadow: 0px 2px 3px 2px #ccc;
  box-shadow:          0px 2px 3px 2px #ccc;
}
table.footer{

}
table.allcontent td{
	vertical-align:top;
}

td.logo_title{
	color:#ffffff;
	text-align:right;
	line-height: 14px;

}

td.logo_image{
	padding-left:15px;
}
td.logo_title h2{
	color:#fff;
	line-height: 14px;
}

td.contentleft{
	width:156px;
	padding-right:4px;
}

td.contentmiddle{
	width:696px;
	padding-right:1px;
}

td.contentright{

	border-left:1px solid #f3f3f3;
}

/*-----BLOCKQUOTE STYLE-----*/

blockquote {
 
}

/* MAIN MENU LINK COLOR */

ul#mainlevel-nav{padding:0; margin:0; text-align:right; padding-right:10px;}
ul#mainlevel-nav li{
display:inline;
padding:0;
margin:0;
}
a.mainlevel-nav{
font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
color:#fff;
text-decoration:none;
padding:0 10px;
border-right:#fff 1px solid;
}

a.mainlevel-nav:hover{
text-decoration:underline;
}

.odds{
	color:#2c4f97;
	font-weight:bold;
}

.odds2{
	color:#2c4f97;
	font-weight:bold;
}

/* LATEST NEWS/POPULAR MODULE LINK STYLES */

a.latestnews{
	
}

a.latestnews:hover{

}

a.mostread{

}

a.mostread:hover{

}

/* SECTION TABLE HEADER STYLE */

td.sectiontableheader {
 
}

/* ALTERNATING SECTION TABLE ROW 1 BACKGROUND/TEXT STYLES */

tr.sectiontableentry1 td {
 
}

/* ALTERNATING SECTION TABLE ROW 2 BACKGROUND/TEXT STYLES */

tr.sectiontableentry2 td {
 
}

/* SECTION TABLE LINK STYLES */

.sectiontableentry2 a, .sectiontableentry1 a, .sectiontableentry2 a.category, .sectiontableentry1 a.category {
 
}
.sectiontableentry2 a:hover, .sectiontableentry1 a:hover, .sectiontableentry2 a.category:hover, .sectiontableentry1 a.category:hover {
	 
}

/*layout*/
#wrapper{width:1030px; background-color:#fff;}
.wrapper{width:1030px; background-color:#dadada; text-align:left; }

#topwrapper{padding:0 25px; height:auto!important; height:95px; min-height:95px;}
#topleft{float:left; padding-top:24px;}

#topright{float:right; padding-top:24px;}
#user4{float:right; font-size:16px; font-weight:bold; width:300px;}
div.search{padding-top:6px; float:right;}
div.search input.button{
border:none;
width:66px;
height:26px;
float:left;
cursor:pointer;
padding-top:26px;
overflow:hidden;
}
#mod_search_searchword{border:none; width:165px; height:26px; font-weight:bold; padding:3px 5px; float:left; font-size:16px; color:#555;}
html>body #mod_search_searchword{width:155px;}

#mainwrapper{padding:10px 15px;}

/*menu style*/
#mainwrapper ul.menu, #mainwrapper ul#mainlevel{
margin:0 -10px;
}
#mainwrapper ul.menu ul, #mainwrapper ul#mainlevel ul{
padding:0;
margin:0;
}
#mainwrapper ul.menu li, #mainwrapper ul#mainlevel li{
background:none;
margin:0;
padding:0;
margin-bottom:2px;
}

#mainwrapper ul.menu li li, #mainwrapper ul#mainlevel li li{
margin-bottom:0;
}
#mainwrapper ul.menu a, #mainwrapper ul#mainlevel a{
font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#000;
display:block;
padding:3px 10px;
background-color:#eee;
}
#mainwrapper ul.menu a:hover, #mainwrapper ul.menu li.active a, #mainwrapper ul#mainlevel a:hover{
text-decoration:none;
background-color:#fff;
}

#mainwrapper ul.menu li#current a, #mainwrapper ul#mainlevel li a#active_menu.mainlevel{
font-weight:bold;
background-color:#fff;
}
#mainwrapper ul.menu li li a,
#mainwrapper ul.menu li#current li a, #mainwrapper ul#mainlevel li li a,  #mainwrapper ul#mainlevel li#current li a{
padding-left:20px;
font-weight:normal;
color:#000;
}
#mainwrapper ul.menu li#current a:hover,
#mainwrapper ul.menu li.active li#current a, #mainwrapper ul#mainlevel li#current a:hover, #mainwrapper ul#mainlevel li.active li#current a{
color:#fff;
}
#mainwrapper ul.menu li.active li#current li a, #mainwrapper ul#mainlevel li.active li#current li a{
background-color:#fff;
color:#000;
}
#mainwrapper ul.menu li li li a,
#mainwrapper ul.menu li.active li#current li a,
#mainwrapper ul.menu li#current li li a, #mainwrapper ul#mainlevel li li li a, #mainwrapper ul#mainlevel li.active li#current li a, #mainwrapper ul#mainlevel li#current li li a{
padding-left:35px;
}


#mainwrapper ul li, #bottomwrapper ul li{
padding-left:12px;
margin-left:4px;
}

div.tit {
margin:0px;
padding:10px;
}

.menuhide{
	display:none;
}

#left{float:left; width:190px;}
#right{ width:468px;}

.bgbr h3{color:black;padding-bottom:10px;}

#user12{margin-top:10px;}
#user1{}
#user2{float:right;}
#user1, #user2{}

#bottomwrapper{padding:15px; background-color:#bababa;}

#user5, #user6, #user7{float:left; width:33%; overflow:hidden;}
#user5 h3, #user6 h3, #user7 h3{font-size:15px; color:#383838; font-weight:bold; padding:0 0 10px 0;}
#bottomwrapper .moduletable{padding:10px 20px;}


#footerwrapper{font-size:11px; color:#e8e8e8; font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; background-color:#838383; padding:10px 15px;}
#footerwrapper a{color:#e8e8e8; text-decoration:underline; font-weight:normal;}
#footerwrapper a:hover{ color:#fff;}
#footerleft{float:left; width:55%;}
#footerright{float:right; width:40%; text-align:right;}

/* My Code */

table#main td {
vertical-align: top;
}

table.toptable td{ 
vertical-align: top;
padding:0px 0px 0px 0px;
}

div.joke_content {
	padding-left:5px;
}

div.moduletable_advert {
	padding: 2px;
	}
	
div.module_advert {
	padding-bottom:5px;
	}



/* System Standard Messages */
#system-message { margin-bottom: 20px; }

#system-message dd.message ul { background: #C3D2E5 4px center no-repeat;border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B; margin:0px; padding-left: 40px; text-indent:0px;}

/* System Error Messages */
#system-message dd.error ul { color: #c00; background: #E6C0C0 4px center no-repeat; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B; margin:0px; padding-left: 40px; text-indent:0px;}

/* System Notice Messages */
#system-message dd.notice ul { color: #c00; background: #EFE7B8 4px center no-repeat; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E; margin:0px; padding-left: 40px; text-indent:0px;}


td.createdate{
	font-weight:bold;
	padding-bottom:10px;
}

table.pagenav {
	padding-top:20px;

}


div.sobi2MenuModNew{
	margin-top:5px;
}

a.mainlevelfav link {
	padding-top:20px;
}

span.footermenu {
	padding-left:10px;
	padding-right:10px;
}

a.mainlevel_footer {
	color:#616161;
	padding-left:10px;
	padding-right:10px;
}
div.moduletable_footer td {
	color:#616161;
}



/* forebet.html.php */
td.caption{
			font-size:11px;
			text-align:center;
			padding-left:2px;
			padding-right:2px;
			font-weight:bold;
}
td.caption_highlight{
			font-size:11px;
			text-align:center;
			padding-left:2px;
			padding-right:2px;
			font-weight:bold;
			background-color:#FEFFBF;
}
td.td_highlight {
			background-color:#FEFFBF;
		}
		
		tr.tr_1 {
			background-color:#eeeeee;
			border-right:white;
			border-top:1px solid #EEEEEE;
		}
		tr.tr_1 td{
			border-top:1px solid #EEEEEE;
			border-bottom:1px solid #EEEEEE
		}
		tr.tr_0 td{

			border-top:1px solid #EEEEEE;
			border-bottom:1px solid #EEEEEE
		}
		
		.dv_1{
			clear:both;
			background-color:#eeeeee;

		}
		table.live td{
			padding-bottom:2px;
		}
		a.livestream:link, a.livestream:link:visited{
			color: #797979;
    		text-shadow: 0 1px white;
    		font-weight: bold;
		}
		tr.color1 {
			background-color:#EEEEEE;
			border-right:white;
		}
		tr.tr_highlight {
			background-color:#FEFFBF;
		}
		table.schema {
		    border-color: #eeeeee;
		    border-width: 0 0 1px 1px;
		    border-style: solid;
		    width:696px;
		}
		
		table.schema-con {
		    border-color: #eeeeee;
		    border-width: 0 0 1px 1px;
		    border-style: solid;
		    width:660px;
		}
		table.schema td, table.schema-con td{
		    border-color: #eeeeee;
		    border-width: 1px 1px 0 0;
		    border-style: solid;
		    margin: 0;
		    padding-top: 1px;
		    padding-bottom: 1px;
		    text-align:center;
		    vertical-align:middle;
		}
		
		table.schema-small {
		    border-color: #eeeeee;
		    border-width: 0 0 1px 1px;
		    border-style: solid;
		    width:342px;
		}
		
		table.schema-small td {
		    border-color: #eeeeee;
		    border-width: 1px 1px 0 0;
		    border-style: solid;
		    margin: 0;
		    padding-top: 1px;
		    padding-bottom: 1px;
		    text-align:center;
		    vertical-align:middle;
		}
		
		.predict_y {
			font-family:verdana;
			font-weight:bold;
			font-size:16px;
			color:green;
		}
		.predict_no {
			font-family:verdana;
			font-weight:bold;
			font-size:16px;
			color:#D70500;
		}
		.predict{
			font-family:verdana;
			font-weight:bold;
			font-size:16px;
			color:#ffb400;
		}
		td.exact_yes{
			font-family:verdana;
			font-weight:bold;
			font-size:16px;
			color:green;
		}
		.ex_sc{
			
		}
		.avg_sc{
			
		}
		tr.heading {
			padding-left:10px;
			text-align:left;
			background-color:#616161;
			color:#eeeeee;
			line-height:13px;
		}
		tr.heading td{
			padding-left:10px;
			line-height:18px;
		}
		
		
		tr.heading2 td{
			padding-left:10px;
			line-height:18px;
			padding-left:10px;
			text-align:left;
			background-color:#616161;
			color:#eeeeee;
			font-weight:bold;
		}

		td.stat {
			padding-left:10px;
			line-height:25px;
			
		}
		td.win {
			background-color:#dfffc1;
			text-align:center;
			font-weight:bold;
		}
		td.draw {
			background-color:#feffbf;
			text-align:center;
			font-weight:bold;
		}
		td.lose {
			background-color:#ffc6c6;
			text-align:center;
			font-weight:bold;
		}


span.date_bah {
	padding:0px;
	margin:0px;
	font:75% arial;
	color:#7e7e7e;
}
span.match_preview{
	padding:0px;
	margin:0px;
	font:10px verdana;
}
span.match_preview2{
	padding:0px;
	margin:0px;
	font:10px verdana;
	padding-left:25px;
}

span.match_preview a:link,span.match_preview2 a:link{
	color: #2C4F97 !important;
}
span.match_preview a:visited,span.match_preview2 a:visited{
	color: #2C4F97 !important;
}

div.moduletable_news,div.moduletable_grey_title,moduletable_news_blue{
	padding:0px 0px 3px 0px;	
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-top:0px;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom:5px;
}

div.moduletable_joke{
	padding:0px 0px 10px 0px;
	border-bottom: 1px solid #EEEEEE;
	text-align:justify;
	height: 300px;
	overflow: auto;
}

div.moduletable_grey_title h3{
			padding-left:10px;
			padding-top:5px;
			padding-bottom:5px;
			padding-right:10px;
			text-align:left;
			background-color:#616161;
			color:#eeeeee;
			line-height:14px;
}
ul.latestnews_news{
	/*
list-style-image: url(../images/soccerball.gif);
vertical-align: baseline;
list-style-position: outside;
*/
list-style-type: disc;

padding-left:10px;
padding-right:2px;
}
li.latestnews_news{
	padding-bottom:1px;
	padding-top:3px;
}

.success_rate {
	line-height:25px;
	font-size:20px;
	font-weight:bold;
	color:green;
}
.second_header {
	font-size:11px;
	font-style:italic; 
	padding-bottom:10px;
}

a.team-logo:hover {
	display:block;
	border: 0px solid #D70500;
}
a.team-logo{
	display:block;
	border: 0px solid #ffffff;
	
}

span.active-team{
	color:#D70500;
}

div.inner_standing{
	vertical-align:right;
	padding-left:2px;
	line-height:15px;
	width:330px;
	
	
}
div.inner_standing td{
	font-size: 12px;
}
div.inner_standing tr.color1{
	background-color:white;
}

img.front_leagues{
	vertical-align:middle;
	border:0px;
}

div.tree_foremenu{
	
}

div.tree_foremenu ul,div.tree_foremenu-sub ul {
	list-style-type: none;
padding: 0;
margin-left: 0;
text-indent: 0px;
}
div.tree_foremenu ul li,div.tree_foremenu-sub ul li {
	padding-top:3px;
	padding-bottom:3px;
	padding-left:14px;
	background-color:#F2F2F2;
	color:#D70500;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #cccccc;
	margin-left:0px;
	background-image: url(../images/ball-bullet.png);
	background-repeat: no-repeat;
	background-position: 0px 6px;
}
div.tree_foremenu ul li:hover,div.tree_foremenu-sub ul li:hover  {
	padding-top:3px;
	padding-bottom:3px;
	padding-left:14px;
	background-color:#e7e7e7;
	color:#D70500;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #cccccc;
	margin-left:0px;
	background-image: url(../images/ball-bullet_on.png);
	background-repeat: no-repeat;
	background-position: -2px 5px;
}
div.tree_foremenu ul li li:hover,div.tree_foremenu-sub ul li li:hover {
	border:0px;
	padding-left:10px;
	background:none;
}
div.tree_foremenu ul li li,div.tree_foremenu-sub ul li li{
	border:0px;
	padding-left:10px;
	background:none;
	text-indent:-5px;
}
div.tree_foremenu a:link, div.tree_foremenu a:visited {
	color:#797979;
	text-shadow: 0px 1px white;
}

div.tree_foremenu-sub a:link, div.tree_foremenu-sub a:visited {
	color:#2c4f97;
	text-shadow: 0px 1px white;
}

div.tree_foremenu a:hover, a#active_menu_foremenu,div.tree_foremenu-sub a:hover, a#active_menu_foremenu-sub {
	color:#D70500;
	text-decoration:none;
} 
a.mainlevel_foremenu:link, a.mainlevel_foremenu:visited{
	
}

div.moduletable_foremenu h3, h5,div.moduletable h3,div.moduletable_news h3,div.moduletable_joke h3, div.moduletable_news_grey h3,div.moduletable_news_feed h3{
	color:#ffffff;
	background: #1F1F1F url(../images/block_title_alt.gif) repeat-x;
	padding: 8px 8px 7px 10px;
	margin-right: 0px;
	font-size:13px;
}

div.moduletable_calendar h3{
	color:#ffffff;
	padding: 8px 8px 7px 7px;
	margin-right: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size:13px;
}

a.latestnews_news_grey:link, a.latestnews_news_grey:visited{
	color:#797979;
}
a.latestnews_news_grey:hover{
	color:#d70500;
}

ul.latestnews_news_grey {
	padding-left:0px;
}
ul.latestnews_news_grey li{
	list-style-type:none;
    background-position: 5px 9px;
    background-repeat: no-repeat;
    margin-left: 0;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-top: 3px;
    line-height:15px;
}

div.moduletable_news td {
	vertical-align:middle;
}

input.search-input {       
    border: 0 !important;
}

table.bookies td{
	border: 1px solid #dad6cc;
	padding:2px;
}

table.bookies a:link, table.bookies a:visited{
	color:#000000;
	font-weight:normal;
}
table.main{
    position: relative;
    z-index: 99999;
}
/*
#ad-bg {
    background-image: url("../images/ad-bgs/bet365-bg-200.jpg");
    background-color:#13a648;
    background-position: 50% 0;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 0;
}

#ad-bg-en {
    background-image: url("../images/ad-bgs/bet365-bg-EN.png");
    background-color:#00a876;
    background-position: 50% 0;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 0;
}
*/
.article_separator { 
	border-top: 1px solid #cccccc; 
	display: block; 
	width: 95%; 
	margin-left: 10px; 
	margin-top: 10px; 
}

img.thumb{
	height:80px;
}

div.thumb_text p{
	margin:0px;
}

img.small_thumb{
	border:1px solid #000;
	width:50px;
	height:40px;
	display:block;
}

div.social_networks{
	padding-bottom:10px;
	width:450px;
	height:25px;
}

div.social_networks-old{
	padding-bottom:10px;
	width:450px;
	height:25px;
	margin:0 auto;
	clear:both;
}

div.social_networks div{
	width:90px;
	height:25px;
	float:left;
	display:block;
	margin:0 6px;
}

div#idcal{
	background-color:#117a5c;
}
td#dayname{
	color:#ffe719;
}

a.dwlink:hover{
	text-decoration:underlined;
}

tr.cal_row_0{
	background-color:#17a079;
}
a.bet-title:hover{
	text-decoration:none;
}

div.category-desc{
	padding-left:20px;
	font-weight:bold;
}

.moduletable_news_feed img{
	height:60px;
	padding-right:5px;
}
.moduletable_news_feed td{
	vertical-align: middle !important;
	height:60px;
}

table.suspended{
	width:620px;
	text-align:center;
}

table.suspended td{
	border-bottom:1px solid #cccccc;
	font-size:12px;
	font-family:verdana;
	text-align:center;
	padding:3px;
	color: #616161;
}

table.suspended2{
	width:100%;
	text-align:center;
}

table.suspended2 td{
	border-bottom:1px solid #cccccc;
	font-size:11px;
	text-align:center;
	line-height:25px;
}

table.overall td{
	padding-top:7px !important;
	padding-bottom:7px !important;
	padding-left:5px !important;
}

tr.susp_0{
	background-color:#EEEEEE;
}
tr.susp_heading{
	background-color: #616161;
    color: #EEEEEE;
    line-height: 13px;
    font-weight: bold;
    padding: 5px;
}
tr.susp_heading td{
    color: #EEEEEE !important;
}

tr.susp_footer td{
   height:5px;
}

tr.susp_heading2 td{
	font-weight:bold
}

table.content-inline td{
	padding:5px 5px;
}
td.strong{
	font-weight:bold;
	text-align:center;
}
td.max_odd{
	background-color:#DFFFC1;
	border: 1px dashed #D70500;
	font-weight:bold;
}
div#map-info{
	
}

td.max_odd span.odds{
	color:white;
}
/*-----Sprites-----*/
img.language-bg-BG{
	width:18px;
	height:12px;
	background:url('../images/sprites/main-sprite.gif');
	background-position:-210px -77px;
	border:0px;
}

img.language-en-GB{
	width:18px;
	height:12px;
	background:url('../images/sprites/main-sprite.gif');
	background-position:-210px -89px;
	border:0px;
	
}

img.flag_1,img.flag_2,img.flag_3,img.flag_4,img.flag_61,img.flag_62,img.flag_63, img.flag_140{
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:0 0;
}
img.flag_5,img.flag_23{
	left:22px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-22px 0;
}
img.flag_6,img.flag_22{
	left:44px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-44px 0;
}
img.flag_7,img.flag_15,img.flag_137{
	left:66px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-66px 0;
}
img.flag_8,img.flag_18,img.flag_138{
	left:88px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-88px 0;
}
img.flag_9,img.flag_136{
	left:110px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-110px 0;
}
img.flag_10,img.flag_90{
	left:132px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-132px 0;
}
img.flag_11, img.flag_59{
	left:154px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-154px 0;
}
img.flag_12,img.flag_154{
	left:176px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-176px 0;
}
img.flag_13{
	left:198px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-198px 0;
}
img.flag_14{
	left:220px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-220px 0;
}
img.flag_16,img.flag_17{
	left:242px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-242px 0;
}
img.flag_20,img.flag_134{
	left:264px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-264px 0;
}
img.flag_21,img.flag_113{
	left:286px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-286px 0;
}
img.flag_24,img.flag_64,img.flag_108,img.flag_109{
	left:308px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-308px 0;
}
img.flag_25,img.flag_98{
	left:330px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-330px 0;
}
img.flag_26,img.flag_67{
	left:352px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-352px 0;
}
img.flag_27,img.flag_95{
	left:374px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-374px 0;
}
img.flag_28,img.flag_96{
	left:396px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-396px 0;
}
img.flag_29,img.flag_100{
	left:418px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-418px 0;
}
img.flag_30,img.flag_71,img.flag_72,img.flag_31{
	left:440px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-440px 0;
}
img.flag_32{
	left:462px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-462px 0;
}
img.flag_33{
	left:484px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-484px 0;
}
img.flag_34,img.flag_131{
	left:506px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-506px 0;
}
img.flag_35,img.flag_143{
	left:528px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-528px 0;
}
img.flag_36,img.flag_152{
	left:550px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-550px 0;
}
img.flag_37,img.flag_151{
	left:572px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-572px 0;
}
img.flag_38{
	left:594px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-594px 0;
}
/*img.flag_39{
	left:616px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-616px 0;
}*/
img.flag_40{
	left:638px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-638px 0;
}
img.flag_89{
	left:660px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-660px 0;
}
img.flag_42{
	left:682px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-682px 0;
}
img.flag_43{
	left:704px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-704px 0;
}
img.flag_44{
	left:726px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-726px 0;
}
img.flag_45{
	left:748px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-748px 0;
}
img.flag_46{
	left:770px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-770px 0;
}
img.flag_47,img.flag_97 {
	left:792px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-792px 0;
}
img.flag_48,img.flag_132{
	left:814px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-814px 0;
}
img.flag_49, img.flag_60, img.flag_19,img.flag_110{
	left:836px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-836px 0;
}
img.flag_50{
	left:858px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-858px 0;
}
img.flag_51,img.flag_99{
	left:880px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-880px 0;
}
img.flag_52{
	left:902px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-902px 0;
}
img.flag_53,img.flag_156{
	left:924px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-924px 0;
}
img.flag_54,img.flag_153{
	left:946px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-946px 0;
}
img.flag_55,img.flag_162{
	left:968px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-968px 0;
}
img.flag_58,img.flag_158{
	left:990px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-990px 0;
}
img.flag_65{
	left:1012px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1012px 0;
}
img.flag_66{
	left:1034px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1034px 0;
}
img.flag_68,img.flag_70,img.flag_69,img.flag_129{
	left:1056px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1056px 0;
}
img.flag_91{
	left:1100px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1100px 0;
}
img.flag_92{
	left:1122px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1122px 0;
}
img.flag_93,img.flag_39{
	left:1080px;
	width:18px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1080px 0;
}
img.flag_94{
	left:1144px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1144px 0;
}
img.flag_101{
	left:1166px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1166px 0;
}
img.flag_102{
	left:1188px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1188px 0;
}
img.flag_103{
	left:1210px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1210px 0;
}
img.flag_104{
	left:1232px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1232px 0;
}
img.flag_105{
	left:1254px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1254px 0;
}
img.flag_106{
	left:1276px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1276px 0;
}
img.flag_107{
	left:1298px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1298px 0;
}
img.flag_111{
	left:1320px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1320px 0;
}
img.flag_112{
	left:1342px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1342px 0;
}
img.flag_114{
	left:1364px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1364px 0;
}
img.flag_115{
	left:1386px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1386px 0;
}
img.flag_116{
	left:1408px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1408px 0;
}
img.flag_117{
	left:1430px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1430px 0;
}
img.flag_118{
	left:1452px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1452px 0;
}
img.flag_119{
	left:1474px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1474px 0;
}
img.flag_120{
	left:1496px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1496px 0;
}
img.flag_121{
	left:1518px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1518px 0;
}
img.flag_122{
	left:1540px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1540px 0;
}
img.flag_123{
	left:1562px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1562px 0;
}
img.flag_124{
	left:1584px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1584px 0;
}
img.flag_125{
	left:1606px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1606px 0;
}
img.flag_126{
	left:1628px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1628px 0;
}
img.flag_127,img.flag_161{
	left:1650px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1650px 0;
}
img.flag_128{
	left:1672px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1672px 0;
}
img.flag_130{
	left:1694px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1694px 0;
}
img.flag_133{
	left:1716px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1716px 0;
}
img.flag_139{
	left:1738px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1738px 0;
}
img.flag_141{
	left:1760px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1760px 0;
}
img.flag_142{
	left:1782px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1782px 0;
}
img.flag_144{
	left:1804px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1804px 0;
}
img.flag_145{
	left:1826px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1826px 0;
}
img.flag_146{
	left:1848px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1848px 0;
}
img.flag_147{
	left:1870px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1870px 0;
}
img.flag_148{
	left:1892px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1892px 0;
}
img.flag_149{
	left:1914px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1914px 0;
}
img.flag_150{
	left:1936px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1936px 0;
}
img.flag_155{
	left:1958px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1958px 0;
}
img.flag_157{
	left:1980px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-1980px 0;
}
img.flag_159{
	left:2002px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-2002px 0;
}
img.flag_160{
	left:2024px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-2024px 0;
}
img.flag_41,img.flag_163,img.flag_164,img.flag_165,img.flag_166,img.flag_167{
	left:2046px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-2046px 0;
}
img.flag_168{
	left:2068px;
	width:22px;
	height:21px;
	background-image:url('../images/sprites/flags.gif');
	background-position:-2068px 0;
}
#hintbox{ /*CSS for pop up hint box */
position:absolute;
top: 0;
background-color: lightyellow;
width: 150px; /*Default width of hint.*/ 
padding: 3px;
border:1px solid black;
font:normal 11px Verdana;
line-height:18px;
z-index:100;
border-right: 3px solid black;
border-bottom: 3px solid black;
visibility: hidden;
}

.hintanchor{ /*CSS for link that shows hint onmouseover*/
font-weight: bold;
color: #000000;
margin: 0px 0px;
}

.hintanchor_st{ /*CSS for link that shows hint onmouseover*/
font-weight: bold;
color: #eeeeee;
margin: 0px 0px;
}


/* buttons for bookmakers */

.button-bm, .button-bm span, .button-bm-smaller, .button-bm-smaller span {
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
}
.button-bm {
    color: white;
    padding: 5px;
    text-decoration: none;
	white-space: nowrap;
	line-height:1em;
	position:relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	margin-bottom:10px;
}
.button-bm-smaller {
    color: white;
    padding: 2px;
    text-decoration: none;
	white-space: nowrap;
	line-height:1em;
	position:relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
}
.button-bm.full, .button-bm.full span {
	display: block;
}
.button-bm:hover, .button-bm.hover, .button-bm-smaller:hover {
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.button-bm:active, .button-bm.active {
	top:1px;
}


.button-bm.small span {
	font-size:12px;
}
.button-bm.green {
	background-color: #0F8F6B;
	text-decoration: none;
}

.button-bm.lightGreen {
	background-color: #76B931;
	text-decoration: none;
}

.button-bm.lightBlue {
	background-color: #32B1ED;
	text-decoration: none;
}
.button-bm.deepBlue{
	text-decoration:none; 
	background-color:#013C78;
}
.button-bm.Red{
	background-color: #FE0C00;
	text-decoration: none;
}
.button-bm.RedBorder{
	text-decoration:none;
	color:#CA2029;
	background-color:#FFFFFF;
	border:1px solid #CA2029;
}
.button-bm-smaller.Blue {
	background-color: #7798c1;
	text-decoration: none;
}

com-form-login-username-comp{
	font-size:12px;
}
.button-bm.Gold{
	font-size:15px;
	color:#000;
	padding-left:50px;
	padding-right:50px;
	padding-top:8px;
	padding-bottom:8px;
	background-color:#ffdc73;
	text-decoration: none;
}
.input-comp p label{
	color:#000000;
	font-size:12px;
}

ul.form{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

.li-win{
	float: left;
	display: inline-block;
	margin: 3px 1px 1px;
	width: 10px;
	height: 10px;
	line-height: 10px;
	background-color: green;
	border-radius:5px;
}
.li-lose{
	float: left;
	display: inline-block;
	margin: 3px 1px 1px;
	width: 10px;
	height: 10px;
	line-height: 10px;
	background-color: #D70500;
	border-radius:5px;
}
.li-draw{
	float: left;
	display: inline-block;
	margin: 3px 1px 1px;
	width: 10px;
	height: 10px;
	line-height: 10px;
	background-color: yellow;
	border-radius:5px;
}
.li-first, .li-last{
	float: left;
	display: inline-block;
	margin: 3px 1px 1px;
	width: 10px;
	height: 10px;
	line-height: 10px;
	color: #7e7e7e;
	font-size:10px;
}

.percentage-tbl td{
	padding:5px;
	lineheight:18px;
}



/*- Menu Tabs 1--------------------------- */


    #tabs1 {
      float:left;
      width:100%;
         
      font-size:12px;
      line-height:normal;
          border-bottom:1px solid #BCD2E6;
      }
    #tabs1 ul {
          margin:0;
          padding:10px 10px 0 50px;
          list-style:none;
      }
    #tabs1 li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs1 a {
      float:left;
      background:url("../images/tableft1.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabs1 a span {
      float:left;
      display:block;
      background:url("../images/tabright1.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#2C4F97;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs1 a span {float:none;}
    /* End IE5-Mac hack */
    #tabs a:hover span {
      color:#627EB7;
      }
    #tabs1 a:hover {
      background-position:0% -42px;
      }
    #tabs1 a:hover span {
      background-position:100% -42px;
      color:#fff;
      }

      #tabs1 #current a {
              background-position:0% -42px;
              color:#fff;
      }
      #tabs1 #current a span {
              background-position:100% -42px;
              color:#fff;
      }

      
      
/* red theme*/
a, h3 {
	color:#d70500;
}
.contentheading, .contentheading_news{
	color:#2C4F97;
}
a.mainlevel:link, a.mainlevel:visited{
padding:10px 5px 11px 5px;
color:#fff;
}
a.contentpagetitle, a.contentpagetitle_news{
	color:#2C4F97;
	font-size:18px;
	line-height:22px;
}
 a.contentpagetitle_news{
 	font-weight:normal;
 }
a#active_menu {
	color:#b60002;
	text-decoration:none;
	background:url(../images/bgactmenu.gif) top left repeat-x;
}
a.mainlevel:hover{
color:#fff;
text-decoration:none;
}

/*** ESSENTIAL STYLES SUPERFISH MENU***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.6;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			3.0em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
	margin-bottom:	1em;
}
.sf-menu a {
	border-right:	1px solid #943532;
	padding: 		.90em .90em;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#ffffff;
}

.sf-menu li {
	
}
.sf-menu li li {
	background:		#b60002;
}
.sf-menu li li li {
	background:		#9AAEDB;
}

.sf-menu li:first-child, .sf-menu li.first-child {
}

.sf-menu li:last-child, .sf-menu li.last-child {
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:		#943532;
	outline:		0;
	text-decoration:none;
	
}

.sf-menu li .separator {
	display: block;
	border-left:	1px solid #fff;
	border-top:		1px solid #CFDEFF;
	padding: 		.75em 1em;
	text-decoration:none;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

.sf-menu .active {
	background: #cccccc;
	
}

.sf-menu #current {
	background: #dfdfdf;
	
}
.sf-menu #current a{
	background: #dfdfdf;
	color:#b60002;	
	background-image:url('../images/bgactmenu.gif');
}

.superfish_clear { 
	clear: both !important;
	height: 1px !important;
	overflow: hidden !important;
	font-size: 1px !important;
	margin: 0 !important;
	padding: 0 !important;
}

.list-footer a:link, .list-footer a:visited, table.blog_news a.pagenav{
	
	font-size:11px;
	color:#2C4F97;
    padding: 2px;
    text-decoration: none;
	white-space: nowrap;
	line-height:1em;
	position:relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	padding-left:7px;
	padding-right:7px;
	margin-left:7px;
	
}
.pagenav{
	font-size:12px;
	font-weight:bold;
	color:#d70500;
	padding-left:7px;
	padding-right:7px;
	margin-left:7px;
}
.counter{
	font-size:12px;
	font-weight:bold;
}

tr.active td{
	border-top:1px dashed #ffb400;
}

.feed_img img{
	width:100px;
	padding-top:1px;
	padding-bottom:1px;
}

#jflanguageselection
{
    float: right;
	margin: 0px 0px 0px 0px;    
}

img.sp-logo{
	background-position:0 0;
	margin-top:4px;
}
img.sp-gpwa{
	width:135px;
	height:50px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:0 -59px;
}
img.sp-facebook{
	width:40px;
	height:40px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:0 -109px;
}
img.sp-twitter{
	width:40px;
	height:40px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-40px -109px;
}
img.sp-gplus{
	width:40px;
	height:40px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-80px -109px;
}
img.sp-mobile{
	width:130px;
	height:160px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:0 -149px;
}
img.sp-mobile-android{
	width:130px;
	height:43px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:0 -314px;
}
img.sp-mobile-ms{
	width:130px;
	height:43px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:0 -357px;
}
img.sp-android{
	width:21px;
	height:23px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-210px -101px;
}
img.sp-bookie-1{
	width:75px;
	height:20px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-135px -159px;
}
img.sp-bookie-2{
	width:75px;
	height:20px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-135px -79px;
}
img.sp-bookie-7{
	width:75px;
	height:20px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-135px -59px;
}
img.sp-bookie-14{
	width:75px;
	height:20px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-135px -139px;
}
img.sp-bookie-15{
	width:75px;
	height:20px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-135px -99px;
}
img.sp-bookie-16{
	width:75px;
	height:20px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-135px -119px;
}
img.sp-bookie-15{
	width:75px;
	height:20px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-135px -99px;
}
img.sp-weather-4{
	width:22px;
	height:22px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-210px -124px;
}
img.sp-weather-5{
	width:22px;
	height:18px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-210px -146px;
}
img.sp-weather-11,img.sp-weather-12{
	width:22px;
	height:18px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-210px -165px;
}
img.sp-weather-26{
	width:22px;
	height:14px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-210px -183px;
}
img.sp-weather-28{
	width:22px;
	height:22px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-210px -198px;
}
img.sp-weather-30{
	width:22px;
	height:22px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-210px -218px;
}
img.sp-weather-32{
	width:22px;
	height:22px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-210px -240px;
}
img.sp-weather-34{
	width:22px;
	height:22px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-210px -262px;
}
img.sp-weather-39{
	width:22px;
	height:22px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-210px -284px;
}
img.sp-weather-41{
	width:22px;
	height:22px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-210px -306px;
}
img.sp-pluscoup{
	border:0px;
	width:15px;
	height:15px;
	background-image:url('../images/sprites/main-sprite.gif');
	background-position:-212px -60px;
}

.register{
	 width:600px;
	 border: 1px solid #c4c4c4; 
	 border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
    background-color:#eee;
}
.register input,.register select { 
    border: 1px solid #c4c4c4; 
    height: 25px; 
    width: 275px; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
} 
 
.register input:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 

.reg-label{
	padding-top:5px;
	text-align: right;
	
}

span.ht_scr{
	color: #7e7e7e;
	font: 85% arial;
	font-weight:bold;
}

div#recaptcha_area{
	padding-left:100px;
}


div.lscr_main{
	display:block;
	font-size:12px;
	 padding: 2px;
}
div.lscr_min{
	display:inline-block;
	float:left;
	width:30px;
}
div.lscr_pl_1{
	display:inline-block;
	text-align:right;
	width:140px;
}
div.lscr_pl_2{
	display:inline-block;
	text-align:left;
	width:140px;
}
div.lscr_res{
display:inline-block;
text-align:center;
width:45px;
margin-left: 5px;
margin-right: 5px;
height: 25px;
}
div.lscrcol_1{
	background-color:#818181;
}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
 
@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

span.shortTag{
	position:relative;
	top:11px;
	left:-19px;
	font-size:9px;
}
div.shortagDiv{
	float:left;
	padding:6px 6px 2px 6px;
}
	div.statWidth{
		width:50%;
	}
	td.matchDateTd{
	display:inline-block;
	float:left;
	width:45px;
	}
	td.matchTnameTdR{
	display:inline-block;
	text-align:right;
	width:101px;
	}
	td.matchTnameTdL{
	display:inline-block;
	text-align:left;
	width:101px;
	}
	td.matchResTd{
	display:inline-block;
	text-align:center;
	width:36px;
	}
	td.matchHtTd{
	display:inline-block;
	text-align:center;
	width:34px;
	}
	tr.matchInfoTr{
	line-height: 25px;
	width:328px;
	display:block;
	}
	tr.matchInfoTrShort{
	line-height: 25px;
	width:331px;
	display:block;
	}
	tr.matchInfoTr300{
		line-height: 25px;
		width:345px;
		display:block;
	}
	td.matchNamesTd300R{
		display:inline-block;
		text-align:right;
		width:108px;
		margin-right:1px;
	}
	td.matchNamesTd300L{
		display:inline-block;
		text-align:left;
		width:108px;
	}
	img.matchTLogo{
	width:70px;
	}
	td.ResTd{
	width:40px !important;
	}
	td.resLdateTd{
	 width:80px;
	}
	td.resLnameRTd{
	 width:200px;
	}
	td.resLnameLTd{
	 width:280px;
	}
	td.resLresLTd{
	 width:50px;
	}
	td.leagueStatsTab{
	width:50%;
	}
	td.predTdNames{
		width:210px;
	}
	td.predTdNamesSmaller{
	width:210px;
	}
	td.predTdProb{
		width:220px;
	}
	td.predTdNamesUO{
		width:250px;
	}
	td.predTdNamesHT{
		width:260px;
	}
	td.mapContainer{
		width:345px;
		padding-left:4px;
	}
	div.teamPplayed{
		margin-top:50px;
		width:65%;
		float: left;
		padding-bottom:20px;
	}
		td.tnms{
			text-align: left !important;
			font-size:11px;
			line-height:17px;
			padding-top:8px;
			padding-bottom:8px;
		}
		td.tnms>span.date_bah{
			margin-left:48px;
			font-size:9px;
			font-weight:bold;
		}
		div.homeModuleTop{
			width:342px;
			padding-bottom:5px;
			float:left;
		}
		div.rbannerDiv{
			width:160px;
			height:601px;
		}
		div.mbannerDiv{
			width:728px;
			height:90px;
		}
		div.topBannerDiv{
			min-width:400px;
			max-width:900px;
			height:90px;
		}
	@media screen
	and (min-width : 1248px) {
		td.tnms{
			text-align: left !important;
			font-size:12px;
			line-height:19px;
			padding-top:8px;
			padding-bottom:8px;
		}
		td.tnms>span.date_bah{
			margin-left:48px;
			font-size:10px;
			font-weight:bold;
		}	
		table.allcontent {
	  		width: 1224px !important;
		}
		td.contentleft {
		  width: 170px;
		  line-height: 21px;
		  padding-right: 4px;
		  font-size: 12px;
		}
		div.moduletable_foremenu{
			width:170px;
		}
		td.contentmiddle {
		  width: 750px;
		  padding-right: 1px;
		}
		td.contentright {
		  width: 301px;
		}
		table.schema{
			width:750px;
		}
		table.schema tr>td,table.percentage-tbl tr>td{
			font-size:12px;
		}
		table.schema tr>td.predict,table.schema tr>td.predict_y,table.schema tr>td.predict_no,table.schema tr>td.exact_yes{
			font-size:17px;
		}
		td.caption{
			padding:7px;
			font-size: 12px;
		}
		td.caption.tabonly {
    		width: 35px;
		}
		td.foretip{
			padding:2px;
		}
		table.suspended{
			width:750px;
		}
		table#standings tr>td{
			font-size:12px;
			padding:2px 0px 2px 0px;
		}
		table.overall tr>td{
			font-size:12px;
		}
		table.suspended2 tr>td{
		font-size:12px;
		}
		td.statWidth{
			width:50%;
		}
		td.matchDateTd{
		display:inline-block;
		float:left;
		width:52px;
		}
		td.matchTnameTdR{
		display:inline-block;
		text-align:right;
		width:108px;
		}
		td.matchTnameTdL{
		display:inline-block;
		text-align:left;
		width:108px;
		}
		td.matchResTd{
		display:inline-block;
		text-align:center;
		width:40px;
		}
		td.matchHtTd{
		display:inline-block;
		text-align:center;
		width:34px;
		}
		tr.matchInfoTr{
		line-height: 28px;
		width:354px;
		display:block;
		}
		tr.matchInfoTrShort{
			line-height: 28px;
			width:356px;
			display:block;
		}
		tr.matchInfoTrShort>td{
			font-size:12px;
		}
		tr.matchInfoTr300{
			line-height: 28px;
			width:370px;
			display:block;
		}
		tr.matchInfoTr300>td{
			font-size:12px;
		}
		tr.matchInfoTr>td{
			font-size:12px;
		}
		td.matchNamesTd300R{
			display:inline-block;
			text-align:right;
			width:114px;
			margin-right:1px;
		}
		td.matchNamesTd300L{
			display:inline-block;
			text-align:left;
			width:118px;
		}
		div.homeModuleTop{
			width:360px;
			padding-bottom:5px;
			float:left;
			padding-left:2px;
		}
		table.schema-small{
			width:100%;
		}
		div.rbannerDiv{
			width:300px;
			height:601px;
		}
		div.mbannerDiv{
			width:728px;
			height:90px;
		}
		div.topBannerDiv{
			max-width:970px;
			height:90px;
		}

		td.nextstat{
			font-size:12px;
			line-height: 28px;
		}
		td.predTdProb{
			width:70px;
		}
		td.scrpred,td.foretip{
			width:30px;
		}
		td.kellyTab,td.oddsTab{
			width:20px;
			padding-right:1px;
			padding-left:1px;
		}
		td.predTdNames{
			width:200px;
		}
		td.ResTdFix {
		    padding-left: 15px;
   			padding-right: 15px;
		}
		td.lResTd{
			width:90px !important;
		}
		td.smallFontTd{
			width:50px !important;
		}
		td.lResTdSmall{
			width:40px;
		}
		.lscr_margin{
			margin-left:20px;
		}
		div.r_art_contain{
			display:inline-block;
			width:300px;
		}
		div.f_smlart_text{
			display: inline-block;
			width:65%;
			float:right;
		}		
	}
	
	@media screen
	and (max-width : 1247px) {
		#standings .heading td{
			padding:0px;
		}
		.st-extra{
			display:none;
		}
		td.lResTd{
			width:50px !important;
		}
		td.smallFontTd{
			width:40px !important;
		}
		td.scrpred,td.foretip{
			width:30px;
		}
		td.kellyTab,td.oddsTab{
			width:20px;
			padding-right:1px;
			padding-left:1px;
		}
		td.lResTdSmall{
			width:40px;
		}
		.lscr_margin{
			margin-left:40px;
		}
		div.r_art_contain{
			display:inline-block;
			width:175px;
		}
		div.f_smlart_text{
			display: inline-block;
			float:right;
		}
	}
	
	
td.winres{
background-color:#dfffc1;
}
td.loseres{
background-color:#ffc6c6;
}
td.drawres{
background-color:#feffbf;
}

input#cmpsubmit{
height:40px;
margin-top:10px;
cursor: pointer;
font-weight:bold;
border: 1px solid black;
}
input#cmpsubmit:hover {
background-color:#d70500;
color:white;
border: 1px solid black;
}
tr.ltitle{
	font-size:18px;
	font-weight:bold;
}
tr.ltitle td{
	text-align:left;
}
div.limit{
	display:none;
}


#cookie-statement.display {
    display: block;
    clear:both;
}
#cookie-statement {
    text-align:center;
    background-color: #616161;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    width: 100%;
    z-index: 119999;
    font-size:13px;
    font-family:arial,sans-serif;
    padding-top:5px;
    padding-bottom:5px;
    overflow: hidden;
   	position: fixed;
    bottom: 0;
    width: 100%;
}


#cookie-statement a {
    background-color: #4b4a4a;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    line-height: 19px;
    padding: 0px 4px;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 5px;
}

#cookie-statement a.yellow {
    background-color: #f1d600;
   	color:#000;
   	padding: 3px 6px 3px 6px;
}

#fullsubmit{
  background-color: transparent;
  border: transparent;
  font-we: bold;
  font-weight: bold;
  color: #2c4f97;
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
}
#fullsubmit:hover{
	  text-decoration: underline;
  	  display: inline-block;
}

.standing-away{
	width:48%;
	float:right
}
.standing-home{
	width:48%;
	float:left
}
.standing-last6{
	width:48%;
	float:left;
	padding-top:20px;
}
.standing-ad{
	width:48%;
	float:right;
	padding-top:20px;
	text-align:center;
}
ul.tp-menu{
	padding-left:0px !important;
}
.tp-menu a {
	display:		block;
	position:		relative;
	color:#FFF;
	font-size:9px;
}
.tp-menu a:hover {
	text-decoration:none;
	color:#B2B2B2;
}

.tp-menu li.active a {
	text-decoration:none;
	color:#B2B2B2;
}

.tp-menu li {
	display:inline-block;
	position:relative;
	margin-left: 5px !important;
}
.season-tab{
	float:right;
	margin-top:-22px;
	margin-right:2px;	
}
.seas-inleague{
	
}
.tabsCont{
	background-color:#616161;
	padding-top: 2px;
	line-height:20px;
	border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.tabsCont:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
tabs-ul { overflow:auto; width:100%; }
tabs-ul.li { float:left; }
tabs-ul.li:last-child { float:right; }

.tabsUp{
	background-color:#456099;
	padding-bottom: 2px;
	border-bottom:1px solid #456099;
	line-height:20px;
}
.tabsCont li{
	display:inline-block;
	padding-right: 10px;
    padding-left: 10px;
	padding-top:2px;
	padding-bottom:2px;
	margin-left:0px;
	font-size: 12px;
}
.tabsCont a{
	color:#fff;
}
.tabsUp a{
	color:#fff;
}

.tabsCont a:hover{
	text-decoration:none;
	color:#ffb400;
}
.tabsCont li#current a{
	color:#ffb400;
}

/* Match Center page */
div#st_mainData{
	margin-top:10px;
	background-color:#808080;
	padding: 6px 10px 2px 10px;
	color:#fff;
	max-height:165px;
}

div#st_hostData{
	display:inline-block;
	width:40%;
	vertical-align: top;
}
div#st_guestData{
	display:inline-block;
	text-align: right;
	width:40%;
	vertical-align: top;
}
div#st_res{
	display:inline-block;
	width:15%;
    margin: 10px;
   	text-align: center;
}
span#st_hostScore,span#st_guestScore{
	font-size:30px;
	font-weight:bold;
}
img.st_logo{
	width:70px;
}
div#st_hostData a.tname{
    font-size: 18px;
    margin-top:4px;
    color:#fff;
}
div#st_guestData a.tname{
    font-size: 18px;
    margin-top:4px;
    color:#fff;
}
div#st_hostEvents{
	display: inline-block;
	float:right;
	width:50%;
	text-align: right;
}
div#st_guestEvents{
	display: inline-block;
	float:left;
	width:50%;
	text-align: left;	
}
div#st_stats{
	border-top:1px solid #B60002;
	background-color:#8c8c8c;
	padding: 6px 10px 10px 10px;
	color:#fff;
	text-align:center;
}
div.stat_box{
	height:10px;
	margin-top:2px;
	background-color:#2c4f97;
	width:400px;
}
div.host_stat_box{
	height: 10px;
    float: left;
    background-color: #B60002;
}
span.stat_num_left{
	float:left;
	font-weight:bold;
	font-size:12px;
	margin-left:15px;	
}
span.stat_num_right{
	float:right;
	font-weight:bold;
	font-size:12px;
	margin-right:15px;	
}
div.stat_cont_box{
	margin-top:10px;
}
div#field_box{
	background-image:url('/images/pitchnj.jpg');
	background-size: 100% 100%;
	height:430px;
	width:750px;
	position:relative;
}
div.field_player_h{
	position:absolute;
	font-weight:bold;
	font-size:11px;
	color:#B60002;
	text-align: center;
    width: 70px;
	overflow:hidden;
	font-weight:bold;
}
span.pl_name{
	background-color: #fff;
	padding-left:1px;
	padding-right:1px;
}
span.pl_name:hover{
	background-color: #B60002;
	color:	#fff;
	cursor:pointer;
}
span.pl_name_guest{
	background-color: #fff;
	padding-left:1px;
	padding-right:1px;
	color:#2c4f97;	
}
span.pl_name_guest:hover{
	background-color: #2c4f97;
	color:	#fff;
	cursor:pointer;
}
span.pl_number{
	position: absolute;
    color: #fff;
    top: 5px;
    margin-left: 5px;
}
div#st_hostSubs{
	width: 150px;
    text-align: left;
    float: left;
    height: 250px;
    margin-top: 10px;
}
div#st_guestSubs{
	width: 150px;
    text-align: right;
    float: right;
    height: 250px;
    margin-top: 10px;
}
span.pl_subs{
	vertical-align: bottom;
	font-size:9px;
}
div.pl_stat_img{
	top: 2px;
    position: relative;
}
span.pl_ev_1num{
	top:16px;
	right:32px;
}
span.pl_ev_2num{
	top:16px;
	right:28px;
}
span.pl_ev_1num_sub{
	top: 16px;
}
span.pl_ev_2num_sub{
	top: 16px;
}
img.suboff{
	width:7px;
	vertical-align:bottom;
}
div.comm_0{
	font-family: verdana, sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding:10px;
    background-color:#808080;
    color:#fff;
    text-align: left;
}
div.comm_1{
	font-family: verdana, sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding:10px;
    background-color:#8c8c8c;
     color:#fff;
     text-align: left;
}
div.comm_goal{
	background-color:#B60002;
	font-weight:bold;
}
div.comm_impt{
	background-color:#e66667;
	font-weight:bold;	
}
div#st_hostPlayer{
	display:none;
	visibility:collapse;
}
div#st_guestPlayer{
	display:none;
	visibility:collapse;
}
div#st_comment{
	height: 500px;
    overflow-y: scroll;
}
span.pl_name_sub{
	cursor:pointer;
}
a.mstatBut img{
	width:15px;
}
a.mstatBut:hover{
	background-color:#e66667;	
}
div.logoname{
	display: inline-block;
	width:50%;
	text-align: center;
}
img.pl_pitch_img{
	width:25px;
	vertical-align: bottom;
}
img.img_sub_on{
	width:8px;
}
div.playerPred{
	font-weight:bold;
	text-align:center;
	border-bottom: 1px solid #dadad8;
	padding: 3px;
	font-size: 12px;
}
div.plyes{
	color:green;
	font-size:14px;
}
td.rLogo{
	float:left;
	vertical-align:bottom;
}
td.lLogo{
	float:right;
	vertical-align:bottom;
}
td.predTdProbWeek{
	width:80px !important;
}
div.lstatcont{
	padding:10px;
}
td.lstatcontScr{
	padding-left:20px;
}

/*front page articles */
div.f_art_contain{
	display:inline-block;
	width:100%;
}
div#f_mainFocus{
	padding:10px 10px 10px 20px;
	display:inline-block;
	width:50%;
	float: left;
}
div.f_bigart_text{
	padding-top: 10px;
	width:340px;
}
div.f_bigart_text a{
	font-size:16px;
	line-height:20px;
}
div#f_mainFocus p{
	font-family: verdana, sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding-top: 10px;
	margin-bottom:0px !important;
}
div#f_smallFocus{
	padding:10px 10px 10px 0px;
	display: inline-block;
	width:40%;
}
div.f_smlart_img{
	display: inline-block;
	width:30%;
}
div.f_smlart_text a{
font-size:14px;
line-height:20px;
}
img.img_no_display_dsc{
	display:none;
}
div#r_smallFocus{
	padding:10px 10px 10px 0px;
	display: inline-block;
	width:98%;
}

div.l_art_contain{	
	padding-top:20px;
	display:block;
	text-align: center;
}
div.l_smallFocus{
	width:200px;
	display: inline-block;
	padding-left:20px;
	vertical-align:top;
	padding-bottom:25px;
}
div.l_smlart_text{
	  text-align: left;
	  padding-top:4px;
}
div.l_smlart_text a {
    font-size: 14px;
    line-height: 20px;
}
div.l_smlart_img img{
	width:200px;
}
div.l_art_head{
	padding-left:50px;
}

div#f_opinion_main{
	clear:both;
	overflow: hidden;
}
div.f_opinion_piece{
	width:340px;
	display:block;
	float:left;
	padding:10px 10px 10px 20px;
}
div.f_opinion_text {
	padding-top:5px;
	padding-left:5px;
}
div.f_opinion_text a{
	font-size: 18px;
    line-height: 22px;
    color: #2c4f97;
    font-weight: normal;
}
div.f_opinion_crop{
	width: 340px;
    height: 140px;
    overflow: hidden;
}


#trends
div.contain_trends{
	display:block;
}
div.contain_trends p{
	font-size:12px;
	font-family: verdana, sans-serif;
	padding-left:10px;
}
div.home_trends{
	
}
div.away_trends{
	
}
span.trendnum{
	font-weight:bold;
	font-size:14px;
	color: #d70500;
}
div.trend_teams{
	font-size: 14px;
	padding-top:6px;
	background-color:#d9d9d9;
	padding: 10px;
	margin-bottom:8px;
}
div.top_trend_teams{
	font-size: 11px;
	padding-left: 10px;
}
div.top_short_trends p{
	font-size:13px;
	font-family: verdana, sans-serif;
	padding-left:10px;
	line-height: 20px;
}
div.top_trend_teams span{
	font-size: 11px;
}
div.top_trend_teams a{
	color:#7e7e7e;
}
.label-new{
	margin-left:4px;
	text-shadow:none;
	color:#fff;
	background-color:#ff9441;
	padding:1px 2px 2px 2px;
	border-radius:6px;
	moz-border-radius:6px;
}
a.stat_link:hover{
	color:black;
}
a.stat_link>div{
	height:100%;
	width:100%;
}
div.evCont{
	background-color:#E9E9E8;
	height:20px;
}
div.evCont a{
	color:#000;
	float:right;
	margin-right:7px;
	font-size:14px;
	margin-top: 1px;
}

ul.team_data_ul{
	list-style-type: none;
	font-weight:bold;
	display: inline-block;
	margin-top: 20px;
	vertical-align: top;
	text-align:left;
}

td.nomax_odd a{
       height: 100px;
       width: 100px;
   }																    
table.bookmakers{
	text-align: center;"
}
table.bookmakers td{
 padding: 8px 1px 3px !important;
 width:60px;
 text-align: center;"
}
td.max_odd a{
	color:white;
}
table.bookmakers a{
	font-size:11px;
}
td.max_odd {
	background-color:#69BC16;
}

table.plStatContGoals tr{
	line-height:25px;
}
.trendsTabsCont li{
	padding-left:8px;
	padding-right:8px;
}

div.top_all_tr div.top_trend_teams{
	padding-left:51px;
}

tr.tplRow{
	height:35px;
}
table#playedgames td {
    vertical-align: middle;
    border:none;
    padding-top: 3px;
    padding-bottom: 3px;
}
 td.tp_date{
 width:8%;
 }
 td.tp_league{
 width:6%;
 }
 td.tp_host{
 width:32%;
 }
 td.tp_score{
 width:12%;
 }
 td.tp_guest{
 width:32%;
 }
td.tp_ht{
 width:10%;
 }
 
 #twitter-widget-0 { 
      width: 100% !important; 
    }
    
    