/* banner and login begin */
	/* login panel */
.loginBox{
	width:1200px;height:0; 
	position: relative;
	margin:0 auto;
}
.loginTx{ width:93px; height: 93px; position: absolute; background: url(../../../images2/gwsy/index/userImgBg.png) no-repeat; z-index: 20;}
.loginPanel img{ width:93px; height:93px; position: absolute;z-index: 10;margin-left: -9px;}
.loginPanel {
	width:303px;
	height:344px;
	position: absolute;
	right:-10px;
	top: 5px;
	z-index: 30;
	background-image: url(../../../images2/gwsy/index/login_bg.png);
	overflow: hidden;
}

.loginList,.loginListBottom{
	height:90px;
}
.loginList {
	margin: 60px 0 0 20px;
}
.loginList li{
	min-width: 110px;
	height: 34px;
	float: left;
	color:#6c7a81;
}
.loginList li i{
	width:12px;height:12px;
	display: block;
	float: left;
	margin:5px;
	background-image:url(../../../images2/gwsy/index/index_pic.png);
	background-position:-12px -405px;
}
.loginList li:hover i{
	background-position:0 -405px;
}
.loginList li a:hover{
	color:#005bac;
}

.loginListBottom{
	margin-left:32px;
}
.loginListBottom li{
	height: 27px;
	line-height:27px;
	color:#6c7a81;
}

.loginListBottom li i{
	width:30px;height:27px;
	display: block;
	float: left;
	margin:0 5px;
	background-image:url(../../../images2/gwsy/index/index_pic.png);
}
.loginListBottom li.loginIcon1 i{
	background-position:-30px -417px;
}
.loginListBottom li.loginIcon2 i{
	background-position:-30px -444px;
}

.loginListBottom li a:hover{
	color:#005bac;
}
.loginListBottom li.loginIcon1:hover i{
	background-position:0 -417px;
}
.loginListBottom li.loginIcon2:hover i{
	background-position:0 -444px;
}

.cpicTong{
	width: 210px; 
	height: 29px;
	display: block;
	margin: 0 auto;
	text-align: right;
	line-height:42px;
	background-image:url(../../../images2/gwsy/index/index_pic.png);
	background-position:0 bottom;
}
/*-- 登录注册按钮 --*/
.loginButton {
	padding-top:15px;
	height:40px;
	text-align:center;
}
.panelLogin,.panelRegister{
	width: 105px;
	height: 30px;
	color: #fff;
	border: none;	
	cursor: pointer;
	line-height: 30px;
	display: inline-block;
}
.panelLogin {
	margin:0 5px;
	text-align: center;
	background: #116ec1;
}
.panelRegister {
	background: #ee4956;
	margin:0 5px;
	text-align: center;
}
.panelLogin:hover {
	background: #005BAC;
}
.panelRegister:hover {
	background: #e83344;
}
/* banner */
.homeBanner {
	width: 1920px;
	height: 370px;
	position: relative;
	left: 50%;
	margin-left: -960px;
}

.bannerCover{
	width:1200px;height:0;
	position: relative;
	margin:0 auto;
	z-index: 20;
}
.arrowLeftBox,.arrowRightBox{
	width:30px;height:370px;
	position: absolute;
	overflow: hidden;
	top:0;
}
.arrowLeftBox{left:200px;}
.arrowRightBox{right:300px;}

.arrowLeft,.arrowRight{
	width:30px;
	height:60px;
	display:none;
	margin-top:150px;
	background:url(../../../images2/gwsy/index/index_pic.png) no-repeat;
	background-position:-61px -409px;	
}
.arrowRight{
	background-position:-91px -409px;
}
.homeBanner:hover .arrowLeft{display: block;}
.homeBanner:hover .arrowRight{display: block;}

.bannerContainer {
	width: 1920px;
	height: 370px;
}
.bannerImg {
	width: 1920px;
	height: 370px;
}
.homeBanner .pagination {
	position: absolute;
	z-index: 20;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.homeBanner .swiper-pagination-switch {
	width: 17px;
	height: 18px;
	display: inline-block;
	background:url(img/index/index.png) no-repeat;
	background-position:-41px -95px;
	margin: 0 6px;
}
/*.homeBanner .swiper-active-switch {
	background: #BD242F;
}*/

/* 首页 begin */
	/* 服务直通车 begin */
.homeOverflow {
	position: relative;
	overflow-x: hidden;
}	


.homeMenu{
	width: 100%;
	background-color: #f9f9f9;
}
.homeMenuTitle,.homeMenuCont{
	width:100%;
	height:69px;
	border-bottom:1px solid #e5e5e5;
}
.homeMenuCont{height:90px;padding:15px 0;}
.homeMenuTitleIn,.homeMenuContIn{
	width:1200px;
	height:100%;
	margin:0 auto;
}

.wufuTitle{
	width: 160px;
	height:34px;
	float:left;
	margin-top:18px;
	background-image: url(../../../images2/gwsy/index/index_pic.png);
}
.wufuMore{
	width: 110px;
	height:34px;
	float:right;
	margin-top:26px;
	cursor: pointer;
	text-align: right;
}
.moreBg{
	width: 14px;
	height:20px;
	float:left;
	margin-right:8px;
	cursor: pointer;
	background-image: url(../../../images2/gwsy/index/index_pic.png);
	background-position:-160px 0 ;	
}
.wufuMore:hover{color:#005bac;}
.wufuMore:hover .moreBg{
	background-position:-160px -20px;	
}
.menuLine{
	width: 2px;
	height:90px;
	float:left;
	background-image: url(../../../images2/gwsy/index/menu_line.png);
}
.menuCont{
	width: 145px;height:90px;
	display: block;float:left;
}

.menuContPic{
	height:30px;
	margin-top:2px;
	text-align: center;
	color:#1457a0;
}
.menuContImg{
	width: 50px;
	height:50px;
	margin:0 auto;
	background-image: url(../../../images2/gwsy/index/index_pic.png);
	background-position:0 -36px;
}
.menuContImg1{background-position:0 -36px;}
.menuContImg2{background-position:0 -86px;}
.menuContImg3{background-position:0 -136px;}
.menuContImg4{background-position:0 -186px;}
.menuContImg5{background-position:0 -236px;}
.menuContImg6{background-position:0 -286px;}
.menuContImg7{background-position:0 -336px;}
.menuContImg8{width: 50px;
	height:50px;
	margin:0 auto;
	background: url(../../../images2/clue.png) no-repeat center;}
.homeMenuFixed .menuContPic{
	color: #fff;
}
.menuCont:hover .menuContPic{color:#e93543;}
.menuCont:hover .menuContImg1{background-position:-50px -36px;}
.menuCont:hover .menuContImg2{background-position:-50px -86px;}
.menuCont:hover .menuContImg3{background-position:-50px -136px;}
.menuCont:hover .menuContImg4{background-position:-50px -186px;}
.menuCont:hover .menuContImg5{background-position:-50px -236px;}
.menuCont:hover .menuContImg6{background-position:-50px -286px;}
.menuCont:hover .menuContImg7{background-position:-50px -336px;}
.menuCont:hover .menuContImg8{width: 50px;
	height:50px;
	margin:0 auto;
	background: url(../../../images2/red.png) no-repeat center;}
.homeMenuFixed .menuContPic{
	color: #fff;}



/* 服务直通车 end */
/* fixed服务直通车 end */
.homeMenuFixed{
	height:152px;
	position: fixed; bottom:-30px;
	z-index: 10000000;
	
}
.homeMenuFixed .menuLine{
	width:1px;
	opacity: 0.3;
	filter: alpha(opacity=30);	
}
.homeMenuFixed .homeMenuCont{
	border:none;height:142px;padding:20px 0;
	/*background-color: #111;*/
	/*opacity:0.9;*/
	filter: alpha(opacity=90);
	overflow:visible;
}
.homeMenuFixed .homeMenuContIn{
	width: 75%;
	min-width: 900px;
	max-width:1200px;
	height:100%;
	position: relative;
	margin:0 auto;
	overflow:visible;
}
.fastCar{
	position: absolute;display: block;
	bottom:7px; left:0;
	overflow:visible;
	z-index:1;
}

.homeMenuFixed .menuContImg1{background-position:-250px -36px;}
.homeMenuFixed .menuContImg2{background-position:-250px -86px;}
.homeMenuFixed .menuContImg3{background-position:-250px -136px;}
.homeMenuFixed .menuContImg4{background-position:-250px -186px;}
.homeMenuFixed .menuContImg5{background-position:-250px -236px;}
.homeMenuFixed .menuContImg6{background-position:-250px -286px;}
.homeMenuFixed .menuContImg7{background-position:-250px -336px;}

.homeMenuFixed .menuCont{
	width:14%;min-width:120px; max-width: 169px;height:90px;display: block;float:left;

}

.slideLeftBtn{
	width: 62px;height:62px;
	cursor: pointer;
	position: absolute;
	top:20px;right:-100px;
	background-image: url(../../../images2/gwsy/index/slide_left_btn.png);
	background-repeat: no-repeat;
}
.slideLeftBtn:hover{
	background-image: url(../../../images2/gwsy/index/slide_left_btn_hover.png);
	background-repeat: no-repeat;
}
/* fixed服务直通车 end */

/* hpme-page begin*/
.homePage {
	width: 1200px;
	margin: 0 auto;
}

	/* 首页中公共部分 begin */
.homePartTitle{
	height:50px;
	position: relative;
	background-color: #fff;
	font-size: 24px;
}
.homePartTitleInfo{
	width: auto;
	height:28px;
	margin-bottom: -7px;
	display: inline-block;
	background: url(../../../images2/gwsy/index/arrowBg.jpg) left center no-repeat;		
}
.wordsBox{
	height:26px;
	line-height:26px;
	padding:0 6px;
	color:#e83344;
	margin-left:15px;
	font-size: 14px;
	float: left;
	border-top:1px solid #e83344;
	border-bottom:1px solid #e83344;
}
.arrowRightPic{
	width:6px;height:28px;
	display:block ;
	float: left;
	background:url(../../../images2/gwsy/index/arrowRight.jpg) right center no-repeat;
	
}


.titlePic{
	height：28px;margin-left:5px;
}

.tabChange{
	width: 910px;height: 100%;
	position: absolute;
	top:0;right:0;
	border-bottom: 1px #005bac solid;
}
.tabChange a{
	font-size: 16px;
}
.tab{
	height:48px;
	line-height:60px;
	display: inline-block;
	padding:0 36px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}
.tab.current{
	color:#005bac;
	border-bottom-color:#005bac;
}
	/* 首页中公共部分 end */


.homePartCont{width:100%;height:397px ;}

/*---- 内容分类左侧菜单公用部分 BEGIN ----*/
.menuPart{
	width:290px;
	height:397px;
	float: left;
	position: relative;
	background-image: url(../../../images2/gwsy/index/bg1.png);
	background-position:left bottom ;
	background-repeat: no-repeat;
}

.menuPartTitle{
	padding:28px 0 0 32px;
	height:54px;
	font-size: 36px;
	color: #fff;
}
.menuTabBox{width: 182px;margin-left:auto;}
.menuTab{
	width: 182px;
	height:54px;
	line-height:54px;
	display: block; 
	margin-top:10px;
	border:1px solid #FFFFFF;
	color:#fff;
	font-size:18px;
	cursor: pointer;
}
.menuTabIcon{
	width: 28px; 
	height:28px;
	display: block;
	cursor: pointer;
	float:left;
	margin:12px 20px;
	background-image: url(../../../images2/gwsy/index/index_pic.png);
}
.menuTabIcon1{
	background-position:-128px -34px;
}
.menuTabIcon2{
	background-position:-128px -62px;
}
.menuTabIcon3{
	background-position:-128px -90px;
}
.menuTabIcon4{
	background-position:-128px -118px;
}
.menuTabIcon5{
	background-position:-128px -146px;
}
.menuTabIcon6{
	background-position:-128px -174px;
}
.menuTabIcon7{
	background-position:-128px -202px;
}
.menuTabIcon8{
	background-position:-128px -230px;
}
.menuTabIcon9{
	background-position:-128px -258px;
}
.menuTabIcon10{
	background-position:-128px -286px;
}
.menuTabIcon11{
	background-position:-128px -314px;
}
.menuTabIcon12{
	background-position:-128px -342px;
}


.menuTab:hover,.menuTab.current{
	color:#60b8f4;background-color: #fff;
}
.menuPart2 .menuTab:hover,.menuPart2 .menuTab.current{
	color:#fd7580;
}
.menuPart3 .menuTab:hover,.menuPart3 .menuTab.current{
	color:#7095e6;
}
.menuPart4 .menuTab:hover,.menuPart4 .menuTab.current{
	color:#59c464;
}

.menuTab:hover .menuTabIcon1,.menuTab.current .menuTabIcon1{
	background-position:-100px -34px;
}
.menuTab:hover .menuTabIcon2,.menuTab.current .menuTabIcon2{
	background-position:-100px -62px;
}
.menuTab:hover .menuTabIcon3,.menuTab.current .menuTabIcon3{
	background-position:-100px -90px;
}
.menuTab:hover .menuTabIcon4,.menuTab.current .menuTabIcon4{
	background-position:-100px -118px;
}
.menuTab:hover .menuTabIcon5,.menuTab.current .menuTabIcon5{
	background-position:-100px -146px;
}
.menuTab:hover .menuTabIcon6,.menuTab.current .menuTabIcon6{
	background-position:-100px -174px;
}
.menuTab:hover .menuTabIcon7,.menuTab.current .menuTabIcon7{
	background-position:-100px -202px;
}
.menuTab:hover .menuTabIcon8,.menuTab.current .menuTabIcon8{
	background-position:-100px -230px;
}
.menuTab:hover .menuTabIcon9,.menuTab.current .menuTabIcon9{
	background-position:-100px -258px;
}
.menuTab:hover .menuTabIcon10,.menuTab.current .menuTabIcon10{
	background-position:-100px -286px;
}
.menuTab:hover .menuTabIcon11,.menuTab.current .menuTabIcon11{
	background-position:-100px -314px;
}
.menuTab:hover .menuTabIcon12,.menuTab.current .menuTabIcon12{
	background-position:-100px -342px;
}

.moreBtn{
	width: 100%;height:38px;
	line-height:38px;
	cursor: pointer;
	font-size: 18px;
	color:#fff;
	position: absolute;left:0;bottom:0;
}
.moreBtn1{
	background-color:#3292d3;
}
.moreBtn2{
	background-color:#ea4e5b;
}
.moreBtn3{
	background-color:#6184d0;
}

.morePic{
	width: 26px;height:24px;
	float:left;
	margin:6px 6px 0 86px;
	background-image: url(../../../images2/gwsy/index/index_pic.png);
	background-position:-177px -1px;
}

/*---- 内容分类左侧菜单公用部分 END ----*/

/*---- 发现我的保险右侧内容部分 BEGIN ----*/
.contPart{
	width: 910px;height:396px;float: left;
	border-top:1px solid #ebebeb;
}
.contPartInbox{width:100%;height:100%;position:relative;z-index:0;}

.contPartIn{
	float: left;
}
.contPartCont{
	width:270px;height:366px;
	padding:30px 0 0 20px;
	border-right:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	position: relative;
	overflow: hidden;	
}

.contPartCont img{
	position: absolute;right: -10px;bottom: 0;
	z-index: -1; float: right;margin-top: 24px;
}

.contPartCont h3{
	font-size: 18px;
	margin-right:20px;
}
.contPartCont div{
	color: #F00;
}
.contPartCont1{
	width:307px;height:175px;
}

.contPartCont2{
	width:307px;height: 160px;
}

.contPartcontren3{
	background: url(../../../images2/gwsy/index/policy/renshengjieduan/danshenguizu/dsgz3.jpg) right bottom no-repeat;
	position:relative;
	z-index:100;
}

.contPartCont4{width:270px;height:366px;z-index:200;}

.contPartCont1:hover{
	width:307px;height:175px;
}
.contPartCont2:hover{
	width:307px;height:160px;
}
.contPartCont3:hover{
	width:270px;height:366px;
}
.contPartCont4:hover{
	width:270px;height:366px;
}
.contPartCont:hover img{
	right:0px;
}
.contPartCont1:hover img{ right:-5px;}
.contPartCont2:hover img{ right:-5px;}
.contPartCont3:hover img{ right:-5px;}
.contPartCont4:hover img{ right:-5px;}

.contPartCont p{height:50px;margin-top:10px;margin-right:20px;}
.lowPrice{
	padding:0 5px;
	font-size: 20px;
	color:#FF0000;
	font-weight: bold;
}
.HPrice{
	padding:0 5px;
	font-size: 20px;
	color:#FF0000;
}
.lowPricez{
	margin-top:30px ;
	color:#f00;
}
/*---- 发现我的保险右侧内容部分 END ----*/
/*---- 服务大厅右侧内容部分 BEGIN ----*/
.contPart2{
	width: 909px;
	border-right:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	position: relative;
}
/* 小蓝鲸动画盒子 BEGIN */
.animatBox{
	width: 100%;height:136px;
	position: absolute;left:0;bottom:0;
	background-image: url(../../../images2/gwsy/index/water.png);
}
.fishAnimate{
	position: absolute;bottom:0;left:0;
}
.fish{
	display: block;
}
.fishWords{
	position: absolute;bottom:76%;left:180px;/*display: none;*/
}
.closeFish{
	width:40px;height:40px;
	position: absolute;
	top:-40px;right:10px;
	cursor: pointer;
	background-image: url(../../../images2/gwsy/index/close_fish.png);
	background-repeat: no-repeat;
}
.closeFish.cur{
	background-image: url(../../../images2/gwsy/index/closeHover.png);
	background-repeat: no-repeat;
}
.closeFish.cur:hover{
	background-image: url(../../../images2/gwsy/index/closeHoverImg.png);
	background-repeat: no-repeat;
}
/* 小蓝鲸动画盒子 END */


.inboxCon{
	width:302px;
	float: left;
	border-right:1px solid #ebebeb;
}
.inboxCon a{ display:block; padding:30px 40px;}
.contList font span{
	width: 12px;height:13px;
	display: block;float:left;
	margin:6px 8px 0 0;
	background-image: url(../../../images2/gwsy/index/index_pic.png);
	background-position :-206px 0;	
}
.contList font a{font-size: 12px;}
/*.contList a:hover{
	color:#005bac;
}
.contList a:hover span{
	background-position:-206px -13px;	
}*/

/*---- 服务大厅右侧内容部分 END ----*/

/*---- 客户俱乐部右侧内容部分 BEGIN ----*/
.contPart3{width: 909px;border-bottom:1px solid #ebebeb;position: relative;}
.contPart3 img{width:262px;height:138px;}
.contPart3 .inboxCon {
	width:262px; height:356px; 
	border-right:1px solid #ebebeb;
	padding:20px;cursor: pointer;
}
.contPart3 .inboxCon:hover{
	background: #fafafa;
}
.contPart3 .inboxCon h3{
	font-size: 18px;
    margin:15px 10px 0;
}
/*.inboxCon1{width:266px;}
.inboxCon2{width:250px;}
.inboxCon3{width:270px;}*/

.contPart3 .inboxCon p{margin:10px 10px;height: 48px;}
.contPart3 .inboxCon .contList{margin:15px 10px;}

/*---- 客户俱乐部右侧内容部分 END ----*/

/*---- 今日太保 BEGIN ----*/

.homePartContLast{height:361px;}
.homePartContLast .menuPart4{height:100%;}
.contPartMiddle {
	width: 578px;height:360px; 
	border-bottom:1px solid #ebebeb;
	border-top:none;
}
.contPartMiddle .tabChange{
	position: static;width: 100%;height:50px;
	border-bottom: 1px #005bac solid;
}

.contPartRight{
	width:308px;height:360px;
	border-bottom:1px solid #ebebeb;
	border-top:none;
	float:right;
}


.midleCont>.midleContIn{
	width: 520px;
	height: 290px;
	margin:15px auto 0;
	overflow: hidden;	
}

.homePartContLast .contList{
	width: 100%;
	height:50px;
	cursor: pointer;
	line-height:50px;	
	border-bottom:1px dashed #ebebeb;
}
.contList i{
	width:18px;height:18px;
	display: block;
	margin:15px 6px 0 0;
	background-image: url(../../../images2/gwsy/index/index_pic.png);
	background-position:-244px 0;
}
.contList span{
	font-size:12px;
    display:block;
}
.contList b{
	font-style: normal;
	margin:13px 6px 0 0;
	font-size:12px;
}
.contList:hover i{
	background-position:-244px -18px;
}
.contList:hover span,.contList:hover b{
	color:#005bac;
}

.contPartRight>h2{margin-top:15px;height:35px; border-bottom: 1px solid #ebebeb;}
	/*---- 今日太保 END ----*/
/*---- 首页 END ----*/

/*---- 图文版首页 BEGIN ----*/
.homeMenuEcpic .menuContImg,.homeMenuFixedEcpic .menuContImg{
	width: 84px;
	height:90px;
	margin:0 auto;
	background-image: url(../../../images2/gwsy/ecpic/ecpic_pic.png);
	background-position:-168px 0;
}
.homeMenuFixedEcpic .menuContImg{
	background-position:0 0;
}

.homeMenuEcpic .menuContImg1,.homeMenuFixedEcpic .menuContImg1{background-position:-168px 0px;}
.homeMenuEcpic .menuContImg2,.homeMenuFixedEcpic .menuContImg2{background-position:-168px -90px;}
.homeMenuEcpic .menuContImg3,.homeMenuFixedEcpic .menuContImg3{background-position:-168px -180px;}
.homeMenuEcpic .menuContImg4,.homeMenuFixedEcpic .menuContImg4{background-position:-168px -270px;}
.homeMenuEcpic .menuContImg5,.homeMenuFixedEcpic .menuContImg5{background-position:-168px -360px;}
.homeMenuEcpic .menuContImg6,.homeMenuFixedEcpic .menuContImg6{background-position:-168px -450px;}
.homeMenuEcpic .menuContImg7,.homeMenuFixedEcpic .menuContImg7{background-position:-168px -540px;}

.homeMenuEcpic .menuCont:hover .menuContImg,.homeMenuFixedEcpic .menuCont:hover .menuContImg{background-position:-84px 0;}

.homeMenuEcpic .menuCont:hover .menuContImg1,.homeMenuFixedEcpic .menuCont:hover .menuContImg1{background-position:-84px 0px;}
.homeMenuEcpic .menuCont:hover .menuContImg2,.homeMenuFixedEcpic .menuCont:hover .menuContImg2{background-position:-84px -90px;}
.homeMenuEcpic .menuCont:hover .menuContImg3,.homeMenuFixedEcpic .menuCont:hover .menuContImg3{background-position:-84px -180px;}
.homeMenuEcpic .menuCont:hover .menuContImg4,.homeMenuFixedEcpic .menuCont:hover .menuContImg4{background-position:-84px -270px;}
.homeMenuEcpic .menuCont:hover .menuContImg5,.homeMenuFixedEcpic .menuCont:hover .menuContImg5{background-position:-84px -360px;}
.homeMenuEcpic .menuCont:hover .menuContImg6,.homeMenuFixedEcpic .menuCont:hover .menuContImg6{background-position:-84px -450px;}
.homeMenuEcpic .menuCont:hover .menuContImg7,.homeMenuFixedEcpic .menuCont:hover .menuContImg7{background-position:-84px -540px;}





.homePageEcpic .menuPart{overflow: hidden;}
.homePageEcpic .menuPart1{
	background-image: url(../../../images2/gwsy/ecpic/bg1.jpg);
}
.homePageEcpic .menuPart2{
	background-image: url(../../../images2/gwsy/ecpic/bg2.jpg);
}
.homePageEcpic .menuPart3{
	background-image: url(../../../images2/gwsy/ecpic/bg3.jpg);
}
.homePageEcpic .menuPart4{
	background-image: url(../../../images2/gwsy/ecpic/bg4.jpg);
}
.homePageEcpic .menuTabBox{margin-top:80px;}
.homePageEcpic .moreBtn1:hover{
	background-position: 332px -650px;
}
.homePageEcpic .moreBtn2:hover {
	background-position: 332px -688px;
}
.homePageEcpic .moreBtn3:hover {
  background-position: 332px -726px;
}

.homePageEcpic .contPartCont1{
	background: none;
}

.homePageEcpic .menuTab{
	background-color: transparent;
 	background-image: url(../../../images2/gwsy/ecpic/ecpic_pic.png);
 	background-position: -436px 0;
 }
 
.homePageEcpic .menuTab1{
	background-position:-436px 0px;
}
.homePageEcpic .menuTab2{
	background-position:-436px -54px;
}
.homePageEcpic .menuTab3{
	background-position:-436px -108px;
}
.homePageEcpic .menuTab4{
	background-position:-436px -162px;
}
.homePageEcpic .menuTab5{
	background-position:-436px -216px;
}
.homePageEcpic .menuTab6{
	background-position:-436px -270px;
}
.homePageEcpic .menuTab7{
	background-position:-436px -324px;
}
.homePageEcpic .menuTab8{
	background-position:-436px -378px;
}
.homePageEcpic .menuTab9{
	background-position:-436px -432px;
}
.homePageEcpic .menuTab10{
	background-position:-436px -486px;
}
.homePageEcpic .menuTab11{
	background-position:-436px -540px;
}
.homePageEcpic .menuTab12{
	background-position:-436px -594px;
}

.homePageEcpic .menuTab:hover,.homePageEcpic .menuTab.current{
	background-color: transparent;
 	background-image: url(../../../images2/gwsy/ecpic/ecpic_pic.png);
 }
.homePageEcpic .menuTab1:hover,.homePageEcpic .menuTab1.current{
	background-position:-254px 0px;
}
.homePageEcpic .menuTab2:hover,.homePageEcpic .menuTab2.current{
	background-position:-254px -54px;
}
.homePageEcpic .menuTab3:hover,.homePageEcpic .menuTab3.current{
	background-position:-254px -108px;
}
.homePageEcpic .menuTab4:hover,.homePageEcpic .menuTab4.current{
	background-position:-254px -162px;
}
.homePageEcpic .menuTab5:hover,.homePageEcpic .menuTab5.current{
	background-position:-254px -216px;
}
.homePageEcpic .menuTab6:hover,.homePageEcpic .menuTab6.current{
	background-position:-254px -270px;
}
.homePageEcpic .menuTab7:hover,.homePageEcpic .menuTab7.current{
	background-position:-254px -324px;
}
.homePageEcpic .menuTab8:hover,.homePageEcpic .menuTab8.current{
	background-position:-254px -378px;
}
.homePageEcpic .menuTab9:hover,.homePageEcpic .menuTab9.current{
	background-position:-254px -432px;
}
.homePageEcpic .menuTab10:hover,.homePageEcpic .menuTab10.current{
	background-position:-254px -486px;
}
.homePageEcpic .menuTab11:hover,.homePageEcpic .menuTab11.current{
	background-position:-254px -540px;
}
.homePageEcpic .menuTab12:hover,.homePageEcpic .menuTab12.current{
	background-position:-254px -594px;
}

.homePageEcpic .moreBtn{
	background-image: url(../../../images2/gwsy/ecpic/ecpic_pic.png);
}
.homePageEcpic .moreBtn1{
	background-position:0 -650px;
}
.homePageEcpic .moreBtn2{
	background-position:0 -688px;
}
.homePageEcpic .moreBtn3{
	background-position:0 -726px;
}
.showBtn{
	width: 65px;height:116px;
	position: fixed;
	bottom:0px;
	cursor: pointer;
	background-image: url(../../../images2/gwsy/index/showbtn.png);	
    z-index:999;
}
/*---- 图文版首页 END ----*/



/* Lion Li*/

/*---- 保险超市首页 start ----*/
.AutoInsurance{ color:#005bac; font-size:24px; font-weight:normal; display:block;}
.AutoInsuranceRightM{ font-size:14px;}
.marketAutoCon{ width:597px; float:left; height:217px; background:url(../../../images2/gwsy/market/img05.jpg) right bottom no-repeat; padding:58px 0 0 83px;}
.marketAutoCon ul{ display:block;}
.marketAutoCon ul li{ float:left; display:block; width:170px; font-size:18px; margin-bottom:15px;}
.marketAutoCon ul li i{ margin-right:10px;}
.marketAutoCon ul li span{ color:#db4956; font-size:18px;}
.marketAutoIcon01{ width:23px; height:23px; background:url(../../../images2/gwsy/market/market.png) no-repeat; background-position:-114px -4px; display:block; float:left;}
.marketAutoIcon02{ width:23px; height:23px; background:url(../../../images2/gwsy/market/market.png) no-repeat; background-position:-114px -33px; display:block; float:left;}
.marketAutoIcon03{ width:23px; height:23px; background:url(../../../images2/gwsy/market/market.png) no-repeat; background-position:-143px -4px; display:block; float:left;}
.marketAutoIcon04{ width:23px; height:23px; background:url(../../../images2/gwsy/market/market.png) no-repeat; background-position:-143px -33px; display:block; float:left;}
.marketAutoButton{ width:236px; height:48px; line-height:48px; text-align:center; color:#d64552; border:1px #d64552 solid; cursor:pointer; font-size:22px; margin-top:20px;}
.marketAutoButton:hover{background-color: #db4956; color: #ffffff;}
.marketAutoConRight{ width:516px; height:330px; float:right;}
.martetHotSellLeft{ width:326px; height:364.5px; float:left; background:url(../../../images2/gwsy/market/bg5.png) no-repeat bottom right;
border:1px solid #ebebeb; padding:30px 0 0 20px;}
.martetHotSellLeft h3{font-size:18px; margin-bottom:10px;}
.martetHotSellLeft font	{ color:#FF0000; font-size:14px; margin-top:30px; display:block;}
.martetTab{width: 853px;}
.marketPartCon1{
	padding:30px 0 0 20px;
	border-right:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;	
}
.marketPartCon1 h3{ font-size:18px; margin-bottom:10px;}
.marketPartCon1 font{ color:#FF0000; font-size:14px; margin-top:30px; display:block;}
.cont_part_cont{width:270px;height:366px;}
.marketPartCont1{
	width:405px; height:167px;
	background:url(../../../images2/gwsy/market/bg2.png) right bottom no-repeat;
}
.marketPartCont2{
	width:405px;height: 167px;
	background: url(../../../images2/gwsy/market/bg1.png) right bottom no-repeat;
}
.marketPartCont3{
	width:405px;height: 167px;
	background: url(../../../images2/gwsy/market/bg3.png) right bottom no-repeat;
}
.marketPartCont4{
	width:405px;height: 167px;
	background: url(../../../images2/gwsy/market/bg4.png) right bottom no-repeat;
}
.marketPartCont5{
	width:405px;height: 167px;
	background: url(../../../../images2/gwsy/market/bg5.png) right bottom no-repeat;
}
.marketCont{width:225px; height:394px; float:left; border:1px #ebebeb solid; position:relative;}
.marketCont img{width:215px; height:173px; display:block; margin:0 auto; margin-top:5px; margin-bottom:10px; z-index:1}
.marketCont h3{ font-size:18px; padding:0 15px; background:#fff; display:block;}
.marketCont p{ font-size:14px; padding:0 15px; line-height:20px; margin-top:10px;}
.marketCont span{ font-size:14px; color:#FF0000; position:absolute; display:block; bottom:25px; left:10px;}
.marketCont span strong{ font-size:18px;}
.marketPart{
	width: 910px;height:396px;float: left;
	border-top:1px solid #ebebeb;
}
.marketCont ul{ padding:15px;}
.marketCont ul li{ float:left; display:block;}
.marketContHoverLeft{ width:75%;}
.marketContHoverRight{ width:25%; text-align:right;}
.marketContHoverMid{ height:88px; overflow: hidden;}
.marketContBut{ text-align:center; color:#fff; width:87px;  background:#005bac; height:29px; line-height:29px; position:absolute; bottom:25px; right:15px; display:none; cursor:pointer;}
.marketCont:hover .markContHover{ position:absolute; background:#fff; margin-top:-30px;padding-top: 10px; z-index:2;}
.marketCont:hover .marketContTitle{display: none;}
.marketCont:hover .marketContList{display: block;}
.marketCont:hover .marketContBut{ display:block;}
.marketMorebtn{
	width: 100%;height:38px;
	line-height:38px;
	cursor: pointer;
	color:#fff;
	background:#3292d3;
	position: absolute;left:0;bottom:0;
}
.marketTest{ border:1px #ebebeb solid;}
.marketTestLeft{
	width:290px;
	height:500px;
	float: left;
	background:#f6f6f6 url(../../../images2/gwsy/market/bg6.png) bottom no-repeat;
    border-right:1px #ebebeb solid;
}
.marketTestLeft h2{ color:#e93543; font-size:36px; text-align:center; padding-top:50px;}
.marketTestLeft p{ font-size:16px; width:180px; margin:0 auto; display:block; padding-top:25px;}
.marketTestRight{ width:860px;float:left; padding:50px 45px 50px 0;}
.marketTestRight ul li{ float:left; display:block; margin-bottom:20px; font-size:16px;}
.marketTestLi01{ width:130px; height:34px; line-height:34px; text-align:right;}
.marketTestLi02{ width:438px; height:34px; line-height:34px; text-align:left;}
.marketTestLi03{ width:160px; height:34px; line-height:34px; text-align:left;}
.marketTestLi04{ width:728px; height:34px; line-height:34px; text-align:left;}
.marketTestYuan,.marketTestYuanHover{ width:36px; height:36px; line-height:36px; background:url(../../../images2/gwsy/common/common.png) no-repeat; background-position:-191px -35px; text-align:center; display:inline-block; margin:0 10px; position:relative;}
.marketTestYuanHover{ background:url(../../../images2/gwsy/common/common.png) no-repeat; background-position:-232px -35px; color:#e93543;}
.marketTestFang,.marketTestFangHover{ padding: 0 10px; height:27px; line-height:27px; background:#fff; border:1px #c0c0c0 solid; text-align:center; display:inline-block; margin:0 2px; position:relative;}
.marketTestFangHover{border:1px #e93543 solid; color:#e93543;}
.marketTestFang:hover{ border:1px #e93543 solid; color:#e93543; cursor:pointer;}
.marketTestG{ width:15px; height:15px; background:url(../../../images2/gwsy/common/common.png) no-repeat; background-position:-88px 0; display:inline-block; position:absolute; right:-4px; bottom:-4px;}
.marketTestYuan:hover{ background:url(../../../images2/gwsy/common/common.png) no-repeat; background-position:-232px -35px; color:#e93543; cursor:pointer;}
.marketTestYuan:hover .marketTestGou{ width:15px; height:15px; background:url(../../../images2/gwsy/common/common.png) no-repeat; background-position:-88px 0; display:inline-block; position:absolute; right:-4px; bottom:-4px;}
.marketTestFont{ text-align:center; color:#e93543; font-size:24px; display:block; margin:0 auto; margin-top:40px;}
.marketTestBotton{ width:345px; height:42px; line-height:42px; color:#e93543; text-align:center; border:1px #e93543 solid; font-size:18px; margin:0 auto; margin-top:20px;}
.marketTestBotton:hover{ background:#e93543; color:#fff; cursor:pointer;}
.marketLj{ border:1px #ebebeb solid; padding:2px;}
.marketLjLeft{
	width: 105px;
  height: 60px;
  line-height: 60px;
  background: #f6f6f6;
  color: #005bac;
  text-align: center;
  float: left;
  font-size: 18px;
  position: relative;
}
.marketLjLine {
  background: url(../../../images2/gwsy/common/common.png) no-repeat;
  width: 10px;
  height: 67px;
  background-position: -280px -8px;
  position: absolute;
  right: 0;
  top: -1px;
  }
.marketLj span {
  line-height: 60px;
  display: block;
  padding: 0 50px;
  float: left;
  font-size: 16px;
}
.marketLj span:hover {
  color: #005bac;
  cursor: pointer;
  background: #fafafa;
}
.marketIndexAutoInsurance{ border:1px #ebebeb solid; position:relative;}
.marketAutoInsurance{ width:102px; height:102px; background:url(../../../images2/gwsy/market/market.png) no-repeat; background-position:0 0; display: block; position:absolute; top:0; left:0;}

/*2015/12/28 edit start*/
.marketAutoConRightT{ float:left; width:171px; height:85px; border-left:1px #ebebeb solid;  background:#fbfbfb;}
.marketAutoConRightT i{ width:50px; height:50px; margin:0 auto; display:block;}

.marketAutoConRightT label{ display:block; text-align:center; margin-top:10px;color: #1457a0;}
.marketAutoConRightT:hover{ cursor:pointer;}
.marketAutoConRightT:hover label{ color:#ea4e5b; cursor:pointer;}
.marketAutoConRightSpace{ float:left; width:171px; height:40px; border-left:1px #ebebeb solid;  background:#fbfbfb;}
.nolfbd{border-left:none;}
.bb{border-bottom:1px #ebebeb solid;}
/*2015/12/28 edit end*/

/*---- 2015/12/25 保险超市九宫格edit start----*/
.marketAutoConRightB{ float:left; width:171px; height:50px;line-height:50px;padding-top:31px;border-left:1px #ebebeb solid; background:#fbfbfb;border-bottom: 1px #ebebeb solid;}
.marketAutoConRightB i{ width:50px; height:50px; display:block;}
.marketAutoConRightB label{ display:block; text-align:center;}
.marketAutoConRightB:hover{ cursor:pointer;}
.marketAutoConRightB:hover label{ color:#ea4e5b;cursor:pointer;}
.marketAutoConRightB:hover .marketAutoDDSH{ background-position:-64px -117px;}
.marketAutoConRightB:hover .marketAutoBDYZ{ background-position:-66px -177px;}
.marketAutoConRightB:hover .marketAutoBXKJH{ background-position:-67px -236px;}
.marketAutoConRightB:hover .marketAutoYYTB{ background-position:-66px -296px;}
.marketAutoConRightB:hover .marketAutoDZBD{ background-position:-66px -356px;}
.marketAutoConRightB:hover .marketAutoTGRK{ background-position:-66px -406px;}
.marketAutoDDSH{ width:50px; height:50px; background:url(../../../images2/gwsy/market/market.png) no-repeat; background-position:-2px -117px;margin-top:-10px;margin-left:10px}
.marketAutoBDYZ{ width:50px; height:50px; background:url(../../../images2/gwsy/market/market.png) no-repeat; background-position:-2px -177px;margin-top:-10px;margin-left:10px}
.marketAutoBXKJH{ width:50px; height:50px; background:url(../../../images2/gwsy/market/market.png) no-repeat; background-position:-2px -236px;margin-top:-10px;margin-left:10px}
.marketAutoYYTB{ width:50px; height:50px; background:url(../../../images2/gwsy/market/market.png) no-repeat; background-position:-2px -296px;margin-top:-10px;margin-left:10px}
.marketAutoDZBD{ width:50px; height:50px; background:url(../../../images2/gwsy/market/market.png) no-repeat; background-position:-2px -356px;margin-top:-10px;margin-left:10px}
.marketAutoTGRK{ width:50px; height:50px; background:url(../../../images2/gwsy/market/market.png) no-repeat; background-position:-2px -406px;margin-top:-10px;margin-left:10px}

.marketAutoRSZQ{ width:50px; height:50px; background:url(../../../images2/gwsy/market/market.png) no-repeat; background-position:-5px -456px;}
.marketAutoCCXZQ{ width:50px; height:50px; background:url(../../../images2/gwsy/market/market.png) no-repeat; background-position:-5px -510px;}
.marketAutoDXZQ{ width:50px; height:50px; background:url(../../../images2/gwsy/market/market.png) no-repeat; background-position:-5px -573px;}
.marketAutoConRightT:hover .marketAutoRSZQ{ background-position:-69px -456px;}
.marketAutoConRightT:hover .marketAutoCCXZQ{ background-position:-69px -510px;}
.marketAutoConRightT:hover .marketAutoDXZQ{ background-position:-71px -573px;}
.marketAutoConRightB .lf{float:left;}
.nobd{border-bottom:none;}

/*---- 2015/12/25 保险超市九宫格edit end----*/
.markPartIn{ float:left;}
/*---- 保险超市首页 END ----*/



/* Lion Li */
.menuTabNone{display: none;}
.hasDisabled{
	border-color: #e8e8e8;
	color: #e8e8e8;
	cursor: no-drop;
}
.hasDisabled:hover{
	border-color: #e8e8e8;
	color: #e8e8e8;
	cursor: no-drop;
}

/* Lynn */
.navSub{
	display: block;
}
/* 已登录 */
.loggedPanel{
	width: 255px;
	height: 288px;
	padding: 20px;
	top: 20px;
	background: url(../../../images2/gwsy/index/loggedBg.jpg) no-repeat;
}
.loggedUserImg{
	position: absolute;
	top: 20px;
	left: 30px;
}
.loggedWelcome{
	font-size: 16px;
	line-height: 32px;
	color: #005BAC;
	position: absolute;
	left: 135px;
	top: 35px;
}
.loggedName{
	font-size: 16px;
	color: #005BAC;
	width: 140px;
	display: block;
}
.loggedCont{
	position: absolute;
	top: 150px;
	left: 30px;
	cursor: pointer;
}
.loggedInfoCont{
	left: 110px
}
.loggedRefeshCont{
	left: 190px;
}
.loggedCont label{
	color: #005BAC;
}
.loggedCont{
	width: 60px;
}
.loggedIcon{
	width: 25px;
	height: 25px;
	display: block;
	margin-left: 15px;
}
.loggedUser{
	background: url(../../../images2/gwsy/index/loggedUser.png) no-repeat;
}
.loggedUserCont:hover .loggedUser{
	background: url(../../../images2/gwsy/index/loggedUserHover.png) no-repeat;
}
.loggedUserCont:hover .loggedIconText{
	color: #FF0000;cursor: pointer;
}
.loggedInfo{
	background: url(../../../images2/gwsy/index/loggedInfo.png) no-repeat;
}
.loggedInfoCont:hover .loggedInfo{
	background: url(../../../images2/gwsy/index/loggedInfoHover.png) no-repeat;
}
.loggedInfoCont:hover .loggedIconText{
	color: #FF0000;
}
.loggedRefesh{
	background: url(../../../images2/gwsy/index/loggedRefesh.png) no-repeat;
}
.loggedRefeshCont:hover .loggedRefesh{
	background: url(../../../images2/gwsy/index/loggedRefeshHover.png) no-repeat;
}
.loggedRefeshCont:hover .loggedIconText{
	color: #FF0000;
}
.loggedLine{
	width: 255px;
	text-align: center;
	position: absolute;
	top: 210px;
}
.loggedLink{
	height: 80px;
	margin: 0;
	position: absolute;
	bottom: 0;
}

/* Jiang */
.contPartNew{width:600px;height:396px;padding:0;position:absolute;right:0px;z-index:1000;}
.contPartCont3{
	position: relative;
	z-index: 100;
}

/* Eric */
.leftBox,.rightBox{
	width:454px;height:396px;
	border-right:1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	float: left;
	position: relative;
	overflow: hidden;
}
.leftBox img,.rightBox img,.oldBox img{
	position: absolute;
	bottom:0;right:-10px;
}

.leftBox:hover img,.rightBox:hover img,.oldBox:hover img{
	bottom:0;right:0px;
}


.oldBox{
	width: 100%;
	height:396px;
	position: relative;
	overflow: hidden;
	border-right:1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;	
}

/* eric */
.martetHotSellLeft,.markPartIn .marketPartCont1,.markPartIn .marketPartCont2,.markPartIn .marketPartCont3,.markPartIn .marketPartCont4{
	background: none;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.martetHotSellLeft img,.markPartIn .marketPartCont1 img,.markPartIn .marketPartCont2 img,.markPartIn .marketPartCont3 img,.markPartIn .marketPartCont4 img{
	position: absolute;
	right:-10px;
	bottom:0;
	z-index: -1;
}
.martetHotSellLeft:hover img,
.marketPartCont1:hover img,
.marketPartCont2:hover img,
.marketPartCont3:hover img,
.marketPartCont4:hover img{
	right: -5px;
}



.markPartIn1 .marketPartCon1{height:364.5px;}
.marketChange{
	width:852px;
}

/*dengwenxiong*/
.moreDuo {
	display: block;
	text-align: right;
	padding-right: 8px;
	padding-top: 8px;
	font-size: 12px;
}
.moreDuo:hover {
	color: #005bac;
}
/*.contPartCont1:hover,.contPartCont2:hover,.contPartInbox  .inboxCon1:hover {
	border-left-color:transparent; 
}*/
.homePageEcpic .wufuMoreOne{
	font-size: 12px;
	width: 105px;
}
.homePageEcpic .inboxCon:hover .firstImg{
	display: none;
}
.homePageEcpic .inboxCon:hover .curImg{
	display: block;
}

.homePageEcpic .contPart2 .inboxConOne{
	padding: 0;
	width: 303px;
    cursor: pointer;
}
.homePageEcpic .contPart2 .inboxConOneEnd img {
	width:303px;
}
.homePageEcpic .contPart2 .inboxConOneEnd:hover img {
	width:303px;
}
.homePad {
	padding-bottom:40px; 
}
/*dengwenxiong*/

/*tangweimin*/
.martetHotSellLeft{
	border-top-color: #005BAC;
}
.marketAutoConRight{ width:516px; height:330px; float:right;}
.marketPartCon1{
	padding:30px 0 0 20px;
	border-right:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	margin-top: 1px;	
}
.marketLifeTwm .marketCont{
	border: 0;
	width:226.2px; height:394px; 
	float:left; 
	border-bottom:1px #ebebeb solid;
	border-right:1px #ebebeb solid;
	position:relative;overflow: hidden;
}
.marketContHoverLeft{ width:72%;}
.marketContHoverRight{ width:28%; text-align:right;}
.leftBox img,.rightBox img,.oldBox img{
	position: absolute;
	bottom:0;right:0px;
}
.WSCXtitle{
	color: #d64552;
	margin-bottom: 12px;
	font-size: 24px;
}
.WSCXp{
	color: #D64552;
	margin-bottom: 30px;
}
/*tangweimin*/

/* 股票报价 style for eric */
.gupiaoBox{border: 0;width: 245px;height:168px;margin:16px auto;}
.loginList a{font-size:12px;}

/* Lynn */
.contPart2 .inboxCon{
    padding: 34px 10px 0 30px;
    width: 262px;
    cursor: pointer;
    height: 366px;
    border-right: 1px solid #e8e8e8;
}
.contPart .borderNone{
	border-right: 0;
}
.contPart .inboxCon:hover{
	background: #fafafa;
}

/* JiangHanLin */
.fs18{
	font-size: 18px;
	margin-bottom: 8px;
}
.height60{
	margin:20px 0 20px 0;
}
.moreDuo:hover .moreBg{
	background-position:-160px -20px;	
}
.lowPriCe{
	color: #FF0000;
}




/* banner cir for eric */
.homeBanner .swiper-pagination-switch {
	width: 17px;
	height: 18px;
	display: inline-block;
	background:url(../../../images2/gwsy/index/index.png) no-repeat;
	background-position:-41px -95px;
	margin: 0 6px;
}
.homeBanner .swiper-active-switch {
	background-position:-15px -95px;
}
/* banner cir for eric */

/* 客服俱乐部 for Eric */

.contPart3 .contPartInbox1 .inboxCon p{margin:10px 10px 0;height: 72px;}



/* 客服俱乐部 for Eric */

/* 首页差异版 eric */
.homeMenuEcpic .menuContImg1{background-position:-168px 0px;}
.homeMenuEcpic .menuContImg2{background-position:-168px -90px;}
.homeMenuEcpic .menuContImg3{background-position:-168px -180px;}
.homeMenuEcpic .menuContImg4{background-position:-168px -270px;}
.homeMenuEcpic .menuContImg5{background-position:-168px -360px;}
.homeMenuEcpic .menuContImg6{background-position:-168px -450px;}
.homeMenuEcpic .menuContImg7{background-position:-168px -540px;}

.homeMenuFixedEcpic .menuContImg1{background-position:0 0px;}
.homeMenuFixedEcpic .menuContImg2{background-position:0 -90px;}
.homeMenuFixedEcpic .menuContImg3{background-position:0 -180px;}
.homeMenuFixedEcpic .menuContImg4{background-position:0 -270px;}
.homeMenuFixedEcpic .menuContImg5{background-position:0 -360px;}
.homeMenuFixedEcpic .menuContImg6{background-position:0 -450px;}
.homeMenuFixedEcpic .menuContImg7{background-position:0 -540px;}
/* 首页差异版 eric */


/*--- 服务大厅 BEGIN ---*/
.menuPart1{
	background-color: #60b8f4;
}
.menuPart2{
	background-image: url(../../../images2/gwsy/index/bg2.png);
	background-position:left bottom ;
	background-repeat: no-repeat;
	background-color: #fd7580;
}
.menuPart3{
	background-image: url(../../../images2/gwsy/index/bg3.png);
	background-position:left bottom ;
	background-repeat: no-repeat;
	background-color: #7095e6;
}
.menuPart4{
	background-image: url(../../../images2/gwsy/index/bg4.png);
	background-position:left bottom ;
	background-repeat: no-repeat;
	background-color: #83d48b;
}

.morePic2{
	background-position:-218px 4px;
}
.morePic3{
	background-position:-177px -30px	;
}

.contPartContBox{
	width: 290px;height:396px;
	padding:0;
	border-right:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
}

.culbEcpic div.inboxCon{
	width: 303px;
	height: 396px;
	border-right: 0;
	padding: 0;
}
.culbEcpic div.inboxCon img{
	width: 302px;
	height: 396px;
}
.culbEcpic div.inboxCon:hover{
	width: 303px;
	height: 396px;
	border: 0;
	padding: 0;
	right: 0;
}
.culbEcpic .contPartInbox{
	border-right: 1px solid #e8e8e8;
}
.culbEcpic div.inboxCon:hover .inboxConImg{
	display: none!important;
}
/* 2016.01.15 by eric begin */
.homePageEcpic .inboxCon .firstImg{
	display: block;
}
.homePageEcpic .inboxCon .curImg{
	display: none!important;
}
.homePageEcpic .inboxCon:hover .firstImg{
	display: none!important;
}
.homePageEcpic .inboxCon:hover .curImg{
	display: block!important;
}

.culbEcpic div.inboxCon .inboxConImgHover{
	display: none!important;
}
.culbEcpic div.inboxCon:hover .inboxConImgHover{
	display: block!important;
}
/* 2016.01.15 by eric end */
.culbEcpic div.inboxCon:hover .inboxConImgHover{
	display: block;
}
.moreBtn1:hover{
	background-color:#1899f2;
}
.moreBtn2:hover{
	background-color:#fd5b69;
}
.moreBtn3:hover{
	background-color:#709af1;
}
.clubContent .inboxCon:hover {
  background: #fafafa;
}
.searchService .inboxCon{
	height: 363px;
}
.searchService .inboxConLast{
  border-right: 0;
  width: 263px;
}

.height80 {height:80px;}









