﻿html {color:#000;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; font-family:"微软雅黑"; font-size:12px; cursor:default}



/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {  display:block;}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {display: inline-block;*display: inline;*zoom: 1;}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{font-family:"微软雅黑"; font-size:12px;}
input,select,textarea{font-size:100%;}

/* 去掉各Table  cell 的边距并让其边重合 */
table{border-collapse:collapse;border-spacing:0;}

/* IE bug fixed: th 不继承 text-align*/
th{text-align:inherit;}

/* 去除默认边框 */
fieldset,img{border:0;}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{display:block;}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{border:0;font-variant:normal;}

/* 一致的 del 样式 */
del {text-decoration:line-through;}

address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}

/* 去掉列表前的标识, li 会继承 */
ol,ul {list-style:none;}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {text-align:left;}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;font-size:12px;font-weight:normal;}

q:before,q:after {content:'';}

/* 统一上标和下标 */
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* 让链接在 hover 状态下显示下划线 */
a:hover {text-decoration:underline;}

/* 默认不显示下划线，保持页面简洁 */
ins,a {text-decoration:none;}

/* 清理浮动 */
.fn-clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.fn-clear {zoom:1; /* for IE6 IE7 */}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {display:none;}

/* 选择框与文字对齐 */
.cralign { vertical-align:-2px; _vertical-align:-1px; }

/* 数字&英文字体 */
.number { font-family: Arial, Helvetica, sans-serif; }

/* 设置内联, 减少浮动带来的bug */
.fl{float:left;display:inline;}
.fr{float:right;display:inline;} 

/*边框*/
.bsnone {border-style:none;}/*无边框*/
.bce8 {border-color:#e8e8e8;}
.boe8{ border:1px solid #e8e8e8;}
.boed{ border:1px solid #dddddd;}
.bote8{ border-top:1px solid #e8e8e8;}
.bole8{ border-left:1px solid #e8e8e8;}
.bore8{ border-right:1px solid #e8e8e8;}
.bobe8{ border-bottom:1px solid #e8e8e8;}
.bobd4{ border-bottom:1px solid #d4d4d4;}
.bobdd{ border-bottom:solid 1px #dddddd; }

/*字号集*/
.f11 {font-size:11px;}
.f12 {font-size:12px;}
.f14 {font-size:14px;}
.f16 {font-size:16px;}
.f18 {font-size:18px;}
.f20 {font-size:20px;}
.f22 {font-size:22px;}
.f24 {font-size:24px;}
.f30{font-size:30px;}
.f36{font-size:36px;}

/*字体*/
.fbold {font-weight:bold;}/*粗体*/
.fnormal {font-size:normal;}/*正常字体*/
.fitalic {font-style:italic;}/*斜体*/
.familyst {font-family:"宋体";}
.familyyh {font-family:"微软雅黑";}
.familyht {font-family:"黑体";}

/*边距*/
.m5 {margin:5px;display:inline;}
.mt5 {margin-top:5px;}
.ml5 {margin-left:5px;display:inline;}
.mr5 {margin-right:5px;display:inline;}
.mb5 {margin-bottom:5px;}
.m10 {margin:10px;display:inline;}
.mt10 {margin-top:10px;}
.ml10 {margin-left:10px;display:inline;}
.mr10 {margin-right:10px;display:inline;}
.mb10 {margin-bottom:10px;}
.m15 {margin:15px;display:inline;}
.mt15 {margin-top:15px;}
.ml15 {margin-left:15px;display:inline;}
.mr15 {margin-right:15px;display:inline;}
.mb15 {margin-bottom:15px;}
.m20 {margin:20px;display:inline;}
.mt20 {margin-top:20px;}
.ml20 {margin-left:20px;display:inline;}
.mr20 {margin-right:20px;display:inline;}
.mb20 {margin-bottom:20px;}
.m30 {margin:30px;display:inline;}
.mt30 {margin-top:30px;}
.mb30 {margin-bottom:30px;}
.ml30 {margin-left:30px;display:inline;}
.m40 {margin:40px;display:inline;}
.mt40 {margin-top:40px;}
.ml40 {margin-left:40px;display:inline;}
.mr40 {margin-right:40px;display:inline;}
.mb40{margin-bottom:40px;}
.mt50 {margin-top:50px;}
.mt50 {margin-top:50px;}
.ml50 {margin-left:50px;display:inline;}
.mr50 {margin-right:50px;display:inline;}
.mb50{margin-bottom:50px;}
.mCenter {margin-left:auto;margin-right:auto;}
.p0 {padding:0px;}
.p5 {padding:5px;}
.pt5 {padding-top:5px;}
.pt50 {padding-top:50px;}
.pl5 {padding-left:5px;}
.pr5 {padding-right:5px;}
.pb5 {padding-bottom:5px;}
.p10 {padding:10px;}
.pt10 {padding-top:10px;}
.pl10 {padding-left:10px;}
.pr10 {padding-right:10px;}
.pb10 {padding-bottom:10px;}
.p15 {padding:15px;}
.pt15 {padding-top:15px;}
.pl15 {padding-left:15px;}
.pr15 {padding-right:15px;}
.pb15 {padding-bottom:15px;}
.p20 {padding:20px;}
.pt20 {padding-top:20px;}
.pl20 {padding-left:20px;}
.pr20 {padding-right:20px;}
.pb20 {padding-bottom:20px;}
.pt30 {padding-top:30px;}
.pl30 {padding-left:30px;}
.pr30 {padding-right:30px;}
.pb30 {padding-bottom:30px;}


/*宽度*/
.wauto {width:auto;}
.w100 {width:100%;}
.w1000 {width:1000px;}
.w90 {width:90%;}
.w80 {width:80%;}
.w70 {width:70%;}
.w60 {width:60%;}
.w50 {width:50%;}
.w45 {width:45%;}
.w40 {width:40%;}
.w35 {width:35%;}
.w30 {width:30%;}
.w20 {width:20%;}
.w15 {width:15%;}
.w10 {width:10%;}
.w5{ width:5%;}

/*高度*/
.hauto {height:auto;}
.h20 {height:20px;}

/*文字*/
.ac {text-align:center;}
.ar {text-align:right;}
.al {text-align:left;}
.wsnowrap {white-space:nowrap;}/*强制同一行显示*/
.textof {text-overflow:ellipsis;}/*overflow后显示小数点*/
.textin12 {text-indent:24px;}/*缩进2字符距离--12px文本*/
.cu {cursor:pointer;}
.oh {overflow:hidden;}
.lh30 {line-height:30px;}
.lh20 {line-height:20px;}
.lh45 {line-height:45px;}
.alt{ text-decoration:line-through}

/*字色*/
.c8d {color:#8d8d8d;}
.c9f {color:#9f9f9f;}
.cwhite {color:white;}
.c57 {color:#575757;}
.c66 {color:#666666;}
                                              
.cblack {color:black;}
.c7d{ color:#7d7d7d;}
.cred{ color:red;}
.cdc{color:#dcdcdc;}
.cfe9b00{color:#fe9b00;}
.c005bac{ color:#005bac;}/*太保蓝*/
.ce93543{ color:#e93543;}/*太保红*/
.c09 {color: #090;}
.c00a0e9 {color:#00a0e9;}
.ff9000 {color:#ff9000;}
.cd7 {color:#1f9bd7;}
.c6fb943{ color:#6fb943}

/*总体定义*/
BODY{FONT-STYLE:normal;FONT-WEIGHT:normal;LINE-HEIGHT:24px;FONT-FAMILY:"微软雅黑";TEXT-DECORATION:none;behavior:url("csshover3.htc");}
.ztjz {width:1000px;height:auto;margin:0px auto;}/*1000px水平居中*/
.ztjzb {width:998px;height:auto;margin:0px auto;}/*居中加边框*/
/*链接颜色*/
A { color: #575757; cursor: pointer; }
A:hover{text-decoration:none;color:#e93443;}
/*.disbk{ display:block}
.disno{ display:none;}*/



/*背景颜色*/
.bgwhite {background-color:white;}
.bgblk{background-color:#000;}
.bg005bac {background-color:#005bac;}/*太保蓝*/
.bge93443{ background-color:#e93443;}/*太保红*/
.bgf7{ background-color:#f7f7f7;}
.bg999{ background-color:#999;}
.bg1fa0d9{ background-color:#1fa0d9;}
.bged { background-color:#ededed;}


/*清除*/
.clear {clear:both; height:0px; *display:inline;/*IE only*/}
