@charset "utf-8";
/* CSS Document */
/*header*/
.Theader{height:110px;}
.Ttop{ height:30px;}
.Ttop_sy a,.Ttop_wx a,.Ttop_App a,.Theader_stext a,.Ttop_wb a,.Tland_wco a{ background-image: url(../images/index_icon.gif); background-repeat:no-repeat}
.Ttop span{ float:left;}
.Theader_stext{  border:1px solid #dfdfdf; color:#9f9f9f; height:24px;_height:20px; width:270px;  }
.Theader_input{border:1px solid #fff; color:#9f9f9f;height:22px;line-height:24px;width:238px; _width:230px;padding-left:5px; overflow:hidden; }
.Theader_stext a{background-position:2px -92px;_background-position:2px -90px;display:block;height:24px; width:25px;}
.Theader_stext a:hover{background-position:2px -297px;_background-position:2px -295px;}
.Ttop_sy a{background-position:0px 1px; padding:0 0 0 17px; }
.Ttop_sy a:hover{background-position:0px -204px; }
.Ttop_wb a{background-position:5px -15px; display:block; width:20px;}
.Ttop_wb a:hover{ background-position:5px -220px;}
.Ttop_wx a{background-position:5px -38px;display:block; width:25px;}
.Ttop_wx a:hover{background-position:5px -243px;}
.Ttop_App a{background-position:5px -63px; display:block;width:55px;padding:0 0 0 10px;}
.Ttop_App a:hover{background-position:5px -268px;}
#back_top {width:28px; height:25px; background:url('../images/TOP_icon.gif'); background-size:cover; position:fixed; right:0px; bottom:72px; border-radius: 5px; z-index:1000; display:none;}
/*menu简版*/
.Tmenu{background:#005bac; border-bottom:2px solid #e93443; color:#FFF;  height:38px; line-height:38px;}
.Tmenu ul{ background:#005bac}
.Tmenu li{ float:left;}
.Tmenu li a{color:#FFF;  display:block; padding-left:25px; padding-right:25px;}
.Tmenu li a:hover{background:#004b93;color:#FFF !important; }
.Tmenu .cur{ background:#e93443;color:#FFF !important;}
/* banner轮播 */
.Tlb{ height:369px; overflow: visible;_margin-bottom:-20px;}
.Tlb_z{ height:325px; overflow:hidden;}
.flexslider{position:relative;height:324px;overflow:hidden;background:url(images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:324px;}
.flex-control-nav{position:relative;margin:10px auto;z-index:20;width:1000px;text-align:right;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/dot.png) right 0 no-repeat;cursor:pointer;_background:url(../images/dot.gif) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}
.flexslider .slides a{ display:block; width:100%; height:324px;}
/*登陆*/
.Tland{ background:#FFF; width:220px; position:relative; top:-285px; color:#575757; z-index:90;}
.Tland_wco a{background-position:0px -165px; display:block; height:30px; line-height:30px; padding:0 0 0 38px;}
.Tland_wco a:hover{background-position:0px -324px;}
.Tland .regs a,.Tland .login a{ color:#FFF; display:block; height:32px;  float:left; font-size:14px;line-height:32px; text-align:center; width:105px;}
.Tland .regs a{ background:#005bac;}
.Tland .regs a:hover{ background:#055296;}
.Tland .login a{ background:#e93543; margin-left:10px;}
.Tland .login a:hover{ background:#ca1927; }

.nav_map_top, .policySearch{ margin-top:-45px;position:relative; z-index:99;}
.policySearch ul { display: block; margin: 0px; padding: 0px; height: 66px; width: 998px; font-size: 12px; color: #75787c; background-color: #FFF; border: 1px solid #dddddd; list-style-type: none; }
.policySearch li { text-align: center; display:block;float: left; height: 66px; width: 110.8px; }
.policySearch li a:hover { background-attachment: scroll; background-image: url(../images/hoverbg.gif); background-repeat: repeat-x; height:55px;color: #75787c;  border-left:solid 1px #dddddd; border-right:solid 1px #dddddd; margin-top:0px; padding-top:11px;margin-left:-1px; }
.policySearch li a { display:block; margin-top: 11px; width: 100%; border-right:dotted 1px #d8d8d8; text-align: center; }
.projectTab { border:none !important; }
.projectTab span { float:left; display:block; width:23px; height:4px; background-color:#dddddd; margin-top:17px; line-height:4px; margin-right:2px; cursor:pointer;}


.nav_map{ color:#FFF; height:80px; line-height:30px; float:left; width:200px; padding:10px 20px 0 20px;}
.nav_map_index{ color:#FFF; height:103px; line-height:15px; float:left; width:210px; padding:26px 16px 0px 16px;}
.nav_map_index ins { font-size: 18px; font-weight: bold; color: #fff000; }

.nav_map a,.nav_map_index a{color:#FFF !important;}
.nav_map a:hover,.nav_map_index a:hover{color:#FFF !important;}
.mapf{ background:#005bac}
.maps{ background:#e93443}
.map_cx a,.map_xz a,.map_lp a,.map_jh a{background-image: url(../images/index_menu.gif); background-repeat:no-repeat; display:block;height:80px;width:200px;}
.map_cx_index a,.map_xz_index a,.map_lp_index a,.map_jh_index a{background-image: url(../images/index_menu_index.png); background-repeat:no-repeat; display:block;height:103px;width:210px;}
.map_cx,.map_xz{ margin-right:13px;}
.map_cx_index,.map_xz_index{ margin-right:11px;}
.map_lp{ margin-right:14px;}
.map_lp_index{ margin-right:10px;}
.map_cx a{background-position:153px 20px;}
.map_cx a:hover{background-position:153px -55px;}
.map_cx_index a{background-position:148px 35px;}
.map_cx_index a:hover{background-position:148px -60px;}
.map_xz a{background-position:165px -141px;}
.map_xz a:hover{background-position:165px -222px;}
.map_xz_index a{background-position:140px -160px;}
.map_xz_index a:hover{background-position:140px -261px;}
.map_lp a{background-position:165px -308px;}
.map_lp a:hover{background-position:165px -390px;}
.map_lp_index a{background-position:130px -366px;}
.map_lp_index a:hover{background-position:130px -468px;}
.map_jh a{background-position:143px -470px;}
.map_jh a:hover{background-position:143px -543px;}
.map_jh_index a{background-position:150px -562px;}
.map_jh_index a:hover{background-position:150px -655px;}
.recommend { font-size: 16px; font-weight: bold; color: #575757; text-align: left; height: 37px; }


.Tadd span img{ height:155px; width:240px;}
.Tadd .m13{ margin-right:13px;}
.Tadd .m14{ margin-right:14px;}
.Tadd span{ height:155px; width:240px; float:left;}
.text_title{ border-bottom:2px solid #1f9bd7; color:#1f9bd7; height:40px; line-height:40px; float:left; width:100%; }
.text_stitl{ color:#ddd;}
.text_stitl span{ margin-left:10px; margin-right:10px; float:left}
.text_stitl div{ float:left}
.text_stitl a{ color:#1f9bd7;}
.text_stitl a:hover{ color:#02559f;}
.text_l{ width:750px;overflow:hidden;}
.text_r{ width:240px;overflow:hidden;}
.text_rtop{ background:#f4f4f4; height:247px;width:200px;}
.text_rtop_title{ color:#ff6500; height:30px; line-height:30px;}
.text_rtoptest input{ border:1px solid #a6c5e2; height:23px; line-height:25px; width:195px;}
.text_r .trl{ width:70px;_width:66px;}
.text_r .trr{ height:25px; line-height:25px;  width:127px;}
.text_r .trr input{ border:1px solid #a6c5e2; height:23px; line-height:25px;  width:125px;}
.text_rtop_bt a{background-image: url(../images/index_button.gif); background-repeat:no-repeat;}
.text_rtop_bt a{background-position:0px 0px; height:28px; width:89px; display:block;}
.text_rtop_bt a:hover{background-position:0px -49px;}
.text_rbon{ background:#c0e16a; height:136px; width:240px; }
.text_rbon_top{ border-bottom:1px solid #FFF; width:215px; padding:17px 0 16px 25px;}
.text_rbon_bot{ width:215px; padding:5px 0px 0px 25px; color:#FFF}
.text_rbon_bot .sl{ width:100px; border:none;}
.word_title{ border-bottom:2px solid #ddd;}
.word_title ul{}
.word_title span{ color:#ccc; float:left; height:20px; width:1px; padding:0 15px;}
.word_title li{ float:left; color:#1f9bd7; font-size:16px; font-weight:bold; height:30px; line-height:30px;}
.word_title .cur{ color:#02559f;cursor:pointer;}
.word_title li:hover{color:#02559f;cursor:pointer;}
.word_title .more a{color:#1f9bd7;}
.word_title .more a:hover{color:#02559f;}
.text_lword{ height:155px; width:750px; overflow:hidden;}
.word_lb{ padding: 0px 34px 10px 19px; border: solid 1px #e7e7e7; margin-top: 10px; }
.borderE7 {border: solid 1px #e7e7e7;}
.word_lb ul{ margin-top:10px; margin-bottom:10px}
.word_lb li{ width: 100%; float: left; height: 26px; line-height: 26px; padding-left: 15px; background-image: url(../images/index_35.jpg); background-repeat: no-repeat; background-position: 5px 11px; }
.word_lb li .word{ height:26px; width:550px; overflow:hidden;}
.wordCtrl a:hover { color:#1f9bd7; }
.text_zc{}
.pc img{ height:308px; width:428px;}
.text_table{ width:560px;}
.text_table li{background:url(../images/index_35.jpg) 5px 24px no-repeat; width:500px; float:left; padding-left:18px;height:50px; line-height:50px; overflow:hidden; color:#575757;}
.text_ban{}
.text_title{}
.weit_text{background:#fdf5f5; padding:40px; width:665px;}
.weit_l{ width:745px;}
.weit_text_t{ color:#125dac;}
.weit_text_b{ color:#e93543; width:440px;}
.weit_botton a{background:url(../images/index_zc.gif) 5px 22px no-repeat;}
.weit_botton a{ display:block; height:26px; width:89px;background-position:0px -0px;}
.weit_botton a:hover{background-position:0px -56px;}
.weit_r{ width:245px;}
.ringht_top{ width:245px;}
.ringht_top li:hover{ color:#005bac}
.ringht_top  ul{ border-bottom: 2px solid #dddddd; height: 23px; float: left; }
.ringht_top li{ margin-right: 10px; float: left; height: 18px; _height: 31px; line-height: 24px; _POSITION: relative; _TOP: 2px; _z-index: 9; border-bottom: 2px solid #dddddd; padding-bottom: 5px; }
.ringht_top .curr{ color:#005bac; font-weight:bold; border-bottom:2px solid #005bac;}
.ringht_top .currIndex{ color: #e56b17 !important; font-weight: bold; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #e56b17; }
.text_stit2 a{ color:#fe9b00;}
.text_stit2 a:hover{ color:#c97b00;}



/*footer*/
.Tfooter{ border-top:3px solid #005bac;color:#8d8d8d; height:50px; }
.Tfooter_img{ height:33px; padding-top:5px; width:118px;}
.Tfooter_img img{ height:33px; width:118px;}
.Tfooter span{ margin-left:10px; margin-right:10px;}
/*.Tnav{}
.Tnav ul{}
.Tnav ul li{ float:left; height:40px; width:109px; text-align:center; }
.Tnav ul span{ border-left:1px dashed #e8e8e8; float:left; height:40px; width:1px;  }*/
.Thon{ height:40px; line-height:40px;}
.Thon_ph{ background:url(../images/fo0ter_phon.jpg)  10px 12px no-repeat; padding-left:35px;}
/*.foot_sl{ background:url(../images/footer_bot.jpg) no-repeat; border:none; width:235px; height:26px; overflow:hidden;position: relative;z-index:2; border:none; }*/
.foot_sltext{width:255px; height:26px; overflow:hidden;position: relative;z-index:3;background: transparent; border:1px solid#e8e8e8;  }
.Thon select option{ width:200px; height:26px; overflow:hidden; border:none;}
.btBlue { font-size: 14px; color: #FFF; background-color: #1f9bd7; text-align: center; height: 29px; width: 73px; display: block; line-height: 29px; cursor:pointer; }
.btBlue:hover { background-color:#0d86c0; }
.btGray { font-size: 14px; color: #95979a; background-color: #eaeaea; text-align: center; height: 29px; width: 73px; display: block; line-height: 29px; cursor:pointer; }
.btGray:hover { background-color:#dbdbdb; }
.choseAll li { text-align: center; display: block; float: left; margin-right: 10px; margin-left: 10px; cursor:pointer; height:29px; line-height:29px; padding-left:10px; padding-right:10px; }
.choseAll li:hover { border:solid 2px #1f9bd7; border-radius:5px; height:25px; line-height:25px; color:#1f9bd7; padding-left:8px; padding-right:8px; }.announcement li { margin-top: 5px; margin-bottom: 5px; background-attachment: scroll; background-image: url(../images/yellowSqure6.gif) !important; background-repeat: no-repeat; background-position: left center; padding-left: 20px !important; }
.next_bt { background-attachment: scroll; background-image: url(../images/next_icon.png); background-repeat: no-repeat; background-position: center center; cursor:pointer; }
.next_bt:hover {background-color:#dbdbdb;}
.blackLine { background-color: #000; height: 50px; width: 100%; position: relative; -moz-opacity: 0.7; -webkit-opacity: 0.7; opacity: 0.7; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70); top: -50px; }
.newsPic { font-size: 18px; line-height: 50px; color: #FFF; height: 50px; width: 100%; position: relative; top: -102px; text-indent: 10px; }
#bg{ display: block; position: fixed; top: 0px; left: 0px; right:0px; bottom:0px;background-color: #000; z-index:10001; -moz-opacity: 0.5; opacity:0.5; filter: alpha(opacity=50);}
#show{display: block; position: absolute; top: 25%; left: 30%; width: 500px; height: 400px;  background-color: white; z-index:10002; overflow: auto; border-radius:5px;}.closeBt { background-attachment: scroll; background-image: url(../images/close.png); background-repeat: no-repeat; background-position: center center; height: 33px; width: 50px; border-left:solid 1px #80add6; cursor:pointer; }
.BlueButton { font-size: 14px; color: #FFF; background-color: #005bac; text-align: center; height: 29px; width: 129px; display: block; line-height: 29px; cursor:pointer; border-bottom:solid 3px #024682; }
.BlueButton:hover { background-color:#00498a;border-color:#00325e; }
.threeNav {height:12px;width:100%;display:block;border-right:solid 1px #fff;line-height:12px;_line-height:14px;}