@charset "utf-8";
/* Time Out Custom Fonts */

@font-face {
	font-family: 'FranklinGothicLTCom_Dm';
	src: url('http://dist.timeout.com/dist/long-term/fonts/FranklinGothicLTCom_Dm/FranklinGothicLTCom_Dm.eot');
	src: url('http://dist.timeout.com/dist/long-term/fonts/FranklinGothicLTCom_Dm/FranklinGothicLTCom_Dm.eot?#iefix') format('embedded-opentype'), url('http://dist.timeout.com/dist/long-term/fonts/FranklinGothicLTCom_Dm/FranklinGothicLTCom_Dm.ttf') format('truetype'), url('http://dist.timeout.com/dist/long-term/fonts/FranklinGothicLTCom_Dm/FranklinGothicLTCom_Dm.svg#icon') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'OpenSans';
	src: url('http://dist.timeout.com/dist/long-term/fonts/OpenSans/OpenSans.eot');
	src: url('http://dist.timeout.com/dist/long-term/fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'), url('http://dist.timeout.com/dist/long-term/fonts/OpenSans/OpenSans.ttf') format('truetype'), url('http://dist.timeout.com/dist/long-term/fonts/OpenSans/OpenSans.svg#icon') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'OpenSans';
	src: url('http://dist.timeout.com/dist/long-term/fonts/OpenSans/OpenSans_Bold.eot');
	src: url('http://dist.timeout.com/dist/long-term/fonts/OpenSans/OpenSans_Bold.eot?#iefix') format('embedded-opentype'), url('http://dist.timeout.com/dist/long-term/fonts/OpenSans/OpenSans_Bold.ttf') format('truetype'), url('http://dist.timeout.com/dist/long-term/fonts/OpenSans/OpenSans_Bold.svg#icon') format('svg');
	font-weight: bold;
	font-style: normal
}
@font-face {
	font-family: 'OpenSans';
	src: url('http://dist.timeout.com/dist/long-term/fonts/OpenSans/OpenSans_Light.eot');
	src: url('http://dist.timeout.com/dist/long-term/fonts/OpenSans/OpenSans_Light.eot?#iefix') format('embedded-opentype'), url('http://dist.timeout.com/dist/long-term/fonts/OpenSans/OpenSans_Light.ttf') format('truetype'), url('http://dist.timeout.com/dist/long-term/fonts/OpenSans/OpenSans_Light.svg#icon') format('svg');
	font-weight: lighter;
	font-style: normal
}
@font-face {
	font-family: 'OpenSans_Cond';
	src: url('http://dist.timeout.com/dist/long-term/fonts/OpenSans_Cond/OpenSans_CondLight.eot');
	src: url('http://dist.timeout.com/dist/long-term/fonts/OpenSans_Cond/OpenSans_CondLight.eot?#iefix') format('embedded-opentype'), url('http://dist.timeout.com/dist/long-term/fonts/OpenSans_Cond/OpenSans_CondLight.ttf') format('truetype'), url('http://dist.timeout.com/dist/long-term/fonts/OpenSans_Cond/OpenSans_CondLight.svg#icon') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'OpenSans_Cond';
	src: url('http://dist.timeout.com/dist/long-term/fonts/OpenSans_Cond/OpenSans_CondBold.eot');
	src: url('http://dist.timeout.com/dist/long-term/fonts/OpenSans_Cond/OpenSans_CondBold.eot?#iefix') format('embedded-opentype'), url('http://dist.timeout.com/dist/long-term/fonts/OpenSans_Cond/OpenSans_CondBold.ttf') format('truetype'), url('http://dist.timeout.com/dist/long-term/fonts/OpenSans_Cond/OpenSans_CondBold.svg#icon') format('svg');
	font-weight: bold;
	font-style: normal
}
@font-face{
	font-family:'CenturyOSMTPro-Italic';
	src:url('http://media.timeout.com/bundles/timeoutfrontend/fonts/CenturyOSMTPro-Italic/font.eot');
	src:url('http://media.timeout.com/bundles/timeoutfrontend/fonts/CenturyOSMTPro-Italic/font.eot?#iefix') 
	format('embedded-opentype'),url('http://media.timeout.com/bundles/timeoutfrontend/fonts/CenturyOSMTPro-Italic/font.woff') 
	format('woff'),url('http://media.timeout.com/bundles/timeoutfrontend/fonts/CenturyOSMTPro-Italic/font.ttf') 
	format('truetype'),url('http://media.timeout.com/bundles/timeoutfrontend/fonts/CenturyOSMTPro-Italic/font.svg#svgFontName') 
	format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family: 'TimeOut Icons';
	src: url('../fonts/TimeOut_Icons/timeout-icons.eot');
	src: url('../fonts/TimeOut_Icons/timeout-icons.eot?#iefix') format('embedded-opentype'), url('../fonts/TimeOut_Icons/timeout-icons.woff') format('woff'), url('../fonts/TimeOut_Icons/timeout-icons.ttf') format('truetype'), url('../fonts/TimeOut_Icons/timeout-icons.svg#timeout-icons') format('svg');
	font-weight: normal;
	font-style: normal
}