.holder {
	margin: 15px 0;
}

.holder a {
	font-size: 12px;
	cursor: pointer;
	margin: 0 5px;
}

.holder a:hover {
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover { 
	font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover {
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	color: #BBB;
	cursor: default; 
	background: none;
}

.holder span { margin: 0 5px; }