/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.black {
  background-color: #000;
}
.pointer {
  cursor: pointer;
}
.complete {
  width: 100% !important;
}
.float {
  float: left;
}
.no_decoration:hover {
  text-decoration: none !important;
}
body {
  width: 1024px;
  min-width: 1024px;
  margin: 0 auto;
  font-family: Helvetica;
}
#body #xsltsearch {
  margin-top: 40px;
  color: #565656;
  padding: 0 20px;
}
#body #xsltsearch a {
  color: #0b6f3d;
  font-weight: bold;
  text-decoration: none;
}
#body #xsltsearch a:hover {
  text-decoration: underline;
}
#body #xsltsearch_results .xsltsearch_result {
  padding: 0 22px;
  background: url('../img/vineta-li.jpg') no-repeat 6px 4px;
  line-height: 1.2;
  margin-bottom: 20px;
  border-bottom: 1px dotted #595959;
  padding-bottom: 15px;
}
#body #xsltsearch_results .xsltsearch_result p {
  margin: 5px 0;
}
#body #xsltsearch_results a {
  color: #0b6f3d;
  font-weight: bold;
}
#body #xsltsearch_summary {
  font-size: 13px;
}
#body #xsltsearch_navigation {
  font-size: 13px;
  margin: 0 0 20px 0;
  float: right;
}
#body #xsltsearch_navigation strong {
  font-size: 18px;
}
#body .xsltsearch_description i {
  display: none;
}
#bodyPlaceHolderDiv {
  position: relative;
  float: left;
  width: 100%;
  background-color: white;
}
.clear {
  clear: both;
}
.main_logo {
  width: 150px;
  height: 90px;
  display: block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100%;
}
#header {
  height: 130px;
}
#header .nav {
  display: block;
}
#header .nav a {
  display: inline-block;
  color: #565656;
  line-height: 32px;
  margin: 0;
  padding: 0px 15px;
  text-decoration: none;
}
#header #header_up {
  height: 95px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
}
#header #header_up #logo {
  display: inline-block;
  margin-left: 30px;
  float: left;
}
#header #header_up #cintillo {
  float: left;
  width: 475px;
  height: 83px;
  margin-top: 6px;
  background-size: 100%;
  background-repeat: no-repeat;
}
#header #header_up .right_logo {
  display: inline-block;
  float: right;
}
@media only screen and (max-width: 1024px) and (min-width: 670px) {
  #header #header_up .right_logo {
    position: fixed;
    right: 0;
  }
}
@media only screen and (max-width: 670px) {
  #header #header_up .right_logo {
    display: inline-block;
    position: relative;
    float: left;
    margin-left: 152px;
  }
}
#header #header_up .right_logo form {
  margin-top: 22px;
  margin-right: 9px;
}
#header #header_up .right_logo form input[type=text] {
  width: 210px;
  border-radius: 5px;
  height: 20px;
  margin-right: -7px;
  padding-left: 5px;
}
#header #header_up .right_logo form input[type=submit] {
  width: 26px;
  height: 26px;
  border: none;
  background-image: url('img/_buscador.png');
  background-repeat: no-repeat;
  position: relative;
  /*top: -4px;*/

  /*float: right;*/

  cursor: pointer;
  color: transparent;
}
#header #header_up .right_logo #search {
  text-align: right;
}
#header #header_up #secondary_nav {
  margin: 10px 10px 0px 0px;
  text-align: right;
}
#header #header_up #secondary_nav a {
  border-right: 1px #565656 solid;
  font-size: 12px;
  font-weight: bold;
  line-height: 17px;
}
#header #header_up #secondary_nav a:last-child {
  border: none;
  padding-right: 0px;
}
#header #header_up #secondary_nav .no_border {
  border-right: 0px;
}
#header #primary_nav {
  background-image: url('img/_barra_BotoneraPPL.png');
  background-repeat: repeat-x;
  color: #565656;
  border-top: 1px #acacac solid;
  border-bottom: 1px #acacac solid;
  height: 31px;
  z-index: 50;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#header #primary_nav .menu_element_container {
  position: relative;
  float: left;
  text-align: center;
}
#header #primary_nav .menu_element_container .rows_1 {
  width: 251px !important;
}
#header #primary_nav .menu_element_container .rows_2 {
  width: 474px !important;
}
#header #primary_nav .menu_element_container .rows_3 {
  width: 705px !important;
}
#header #primary_nav .menu_element_container .rows_4 {
  width: 936px !important;
}
#header #primary_nav .menu_element_container div.hover_bar {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 3px;
  top: 26px;
  z-index: 200;
  background-color: #1e6f4e;
  display: none;
}
#header #primary_nav .menu_element_container div.left_3 {
  left: -182px;
}
#header #primary_nav .menu_element_container div.left_3 div.submenu_arrow {
  left: 245px;
}
#header #primary_nav .menu_element_container div.left_2 {
  left: -142px;
}
#header #primary_nav .menu_element_container div.left_2 div.submenu_arrow {
  left: 205px;
}
#header #primary_nav .menu_element_container .submenu {
  position: absolute;
  /*height: 150px;*/
  z-index: 999;
  /*list-style-type: none;*/

  padding: 0px;
  top: 44px;
  display: none;
  background-image: url('img/fondo-POPUP1.png');
  /*padding: 20px;*/

  border-radius: 10px;
  width: 500px;
  border: 1px #acacac solid;
  /*max-height: 272px;*/

  min-width: 221px;
}
#header #primary_nav .menu_element_container .submenu div.submenu_arrow {
  width: 17px;
  height: 9px;
  background-image: url('img/flechita_caja.png');
  background-repeat: no-repeat;
  position: absolute;
  top: -9px;
  z-index: 800;
  left: 72px;
  margin: 0px;
  border: none;
}
#header #primary_nav .menu_element_container .submenu div.maxHeight {
  height: 316px;
}
#header #primary_nav .menu_element_container .submenu div.minHeight {
  min-height: 242px;
}
#header #primary_nav .menu_element_container .submenu div.isLastColumn {
  border: none !important;
}
#header #primary_nav .menu_element_container .submenu div.associated_product {
  border-left: 1px #acacac solid;
  margin: 0px !important;
  padding-top: 10px;
  background-color: #e8e8e6;
  width: 232px;
  border-top-right-radius: 10px;
  /*height: 272px;*/

  border-bottom-right-radius: 10px;
}
#header #primary_nav .menu_element_container .submenu div.associated_product h2 {
  color: #0b6f3d;
  font-size: 16px;
}
#header #primary_nav .menu_element_container .submenu div.associated_product p {
  text-align: justify;
  font-size: 12px;
  margin: 0px;
  margin: 0px 10px 0px 10px;
}
#header #primary_nav .menu_element_container .submenu div.associated_product img.promotion_img {
  width: 165px;
  height: 130px;
}
#header #primary_nav .menu_element_container .submenu div {
  float: left;
  margin: 10px;
  margin-bottom: 0px;
  border-right: 1px #acacac solid;
  width: 210px;
  margin-right: 0px;
  /*height: 250px;*/

  padding-right: 10px;
  /*max-height: 250px;*/

}
#header #primary_nav .menu_element_container .submenu div a {
  border: none;
  /*margin-left: 12px;*/

  line-height: 0px;
  margin-bottom: 14px;
  /*height: 20px;*/

  line-height: 18px;
  width: 184px;
}
#header #primary_nav .menu_element_container .submenu div a.thirdLvlChild {
  text-align: left;
  margin-left: 30px;
}
#header #primary_nav .menu_element_container .submenu div ul.thirdLevel {
  list-style-type: none;
  float: left;
  padding: 0px;
  margin: 0px;
  margin-left: 55px;
}
#header #primary_nav .menu_element_container .submenu div ul.thirdLevel li {
  float: left;
}
#header #primary_nav .menu_element_container .submenu div ul.thirdLevel a {
  text-align: left;
}
#header #primary_nav .menu_element_container .submenu div .vineta {
  /*background-image: url('img/_bullet.png');*/

  background-repeat: no-repeat;
  background-position-y: 2px;
  font-weight: bold;
  width: 185px;
  text-align: left;
  padding-left: 15px;
}
#header #primary_nav .menu_element_container .submenu div .vineta div.space {
  float: left;
  margin: 0px;
  border: none !important;
  width: 4px;
  padding: 0px;
  height: 10px;
}
#header #primary_nav .menu_element_container .submenu div .vineta img.vineta_img {
  float: left;
  margin-top: 5px;
  border: none !important;
}
#header #primary_nav .menu_element_container a {
  width: 152px;
  border-left: 1px #acacac solid;
  text-align: center;
  font-size: 14px;
  float: left;
  padding: 0px;
}
#header #primary_nav .bodinternet {
  border-top-left-radius: 6px;
  background-image: url('img/_barra_BODINternet.png');
  position: relative;
  background-repeat: repeat-x;
  color: white;
  width: 20% !important;
  cursor: pointer;
  float: left;
  text-align: center;
}
#header #primary_nav .bodinternet .arrow {
  display: inline-block;
  background-image: url('img/_desplegado_BODInternet.png');
  height: 12px;
  width: 20px;
  background-repeat: no-repeat;
  position: relative;
  top: 8px;
  float: right;
  right: 32px;
}
#header .bod_box {
  position: relative;
  top: 4px;
  z-index: 101;
  display: none;
  width: 220px;
  left: 52px;
}
#header .bod_box .online_access {
  background-image: url('img/_caja1_BODInternet.png');
  height: 120px;
}
#header .bod_box .online_access .buttons {
  padding: 20px 0px 0px 20px;
}
#header .bod_box .online_access .buttons a {
  display: block;
  background-image: url('img/_boton_BODInternet.png');
  border: 1px #0b6f3d solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 146px;
  height: 31px;
  /*padding: 5px;*/

  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
#header .bod_box .online_access a {
  width: 100px;
  display: block;
  color: white;
  line-height: 32px;
  margin: 0;
  padding: 0px 15px;
  text-decoration: none;
}
#header .bod_box .electronic_services {
  display: block;
  background-image: url('img/_caja2_BODInternet.png');
  height: 90px;
  color: #0b6f3d;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
}
#header .bod_box .electronic_services #input_container {
  height: 26px;
  width: 80%;
  margin: 0 auto;
}
#header .bod_box .electronic_services #input_container input#selectedService {
  /*width: 130px;*/

  height: 20px;
  border: 1px solid #88898b;
  border-right-color: transparent;
  /*float: left;*/

  /*margin-left: 30px;*/

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 3px #88898b;
  color: #adadad;
  padding-left: 6px;
  position: relative;
  margin-left: -2px;
}
#header .bod_box .electronic_services #input_container input#dropDown {
  width: 26px;
  height: 26px;
  background-image: url('img/dropdown.png');
  background-repeat: no-repeat;
  /*float: left;*/

  /*background-size: 83%;*/

  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 29px;
  right: 19px;
  z-index: 500;
}
#header .bod_box .electronic_services #input_container input#dropDown:active {
  background-image: url('img/dropdown_p.png');
}
#header .bod_box .electronic_services ul {
  margin: 0px;
  padding: 0px;
  width: 172px;
  margin-left: 19px;
  border-radius: 10px;
  background-image: url('img/fondo_servicioselect.png');
  list-style-type: none;
  text-align: left;
  display: none;
  position: relative;
  top: 0px;
  left: 10px;
}
#header .bod_box .electronic_services ul li {
  color: #565656;
  font-size: 11px;
  width: 160px;
  padding: 5px 6px 5px 6px;
  line-height: 18px;
  border-bottom: 1px solid #929486;
}
#header .bod_box .electronic_services ul li:last-child {
  border: none;
}
#header .bod_box .electronic_services ul li:hover {
  color: #0d6f3e;
  cursor: pointer;
  background-image: url('img/fondo_servicioselect_p.png');
}
#header .bod_box .electronic_services select {
  width: 150px;
}
#header #date {
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.5);
  text-align: right;
  display: block;
  width: 1024px;
  color: #565656;
  line-height: 22px;
  position: absolute;
  z-index: 100;
}
#header #date #breadcrumb {
  float: left;
}
#header #date #breadcrumb ul {
  list-style-type: none;
  margin: 0px;
}
#header #date #breadcrumb ul li {
  font-size: 13px;
  float: left;
  margin-left: 5px;
}
#header #date #breadcrumb ul li a {
  text-decoration: none;
  color: #565656;
}
#header #date #breadcrumb ul li a:hover {
  text-decoration: underline;
}
#header #date span {
  margin-right: 10px;
  font-size: 12px;
  font-weight: bold;
}
#header #xsltsearch_summary,
#header #xsltsearch_results,
#header #xsltsearch_navigation {
  display: none;
}
#social_media {
  z-index: 998;
  top: 40px;
  right: 0;
  width: 50px;
  float: right;
  position: absolute;
}
@media only screen and (max-width: 1024px) {
  #social_media {
    position: fixed;
    right: 0;
    top: 167px;
  }
}
#social_media a {
  display: block;
  height: 50px;
  margin-left: 1px;
  width: 210px;
}
#social_media a div {
  position: absolute;
  left: 0px;
}
#social_media .calendar_a {
  position: relative;
  color: white;
  margin-bottom: 65px;
}
#social_media .youtube {
  background: url('img/_b_youtube.png') no-repeat;
}
#social_media .calendar {
  background: url('img/_b_calendariocopy.png') no-repeat;
  color: white;
  height: 50px;
  width: 50px;
  position: relative;
  right: 0px;
  cursor: pointer;
  margin-bottom: 65px;
}
#social_media .calendarShown {
  width: 200px;
  right: 150px;
}
#social_media .like {
  background: url('img/_b_fb.png') no-repeat;
}
#social_media .blog {
  background: url('img/_b_twitter.png') no-repeat;
}
#social_media .wordpress {
  background: url('img/_b_wikipedia.png') no-repeat;
}
#social_media span {
  color: white;
  display: block;
  font-size: 12px;
  height: 31px;
  margin-left: 40px;
  margin-top: 4px;
  padding-left: 9px;
  padding-top: 8px;
  text-align: center;
  width: 149px;
}
#social_media span#calendar_span {
  padding-top: 14px;
}
#social_media .btn {
  position: relative;
  left: 0;
  top: 0;
  cursor: pointer;
}
#social_media .btn .bgimg {
  height: 50px;
  width: 50px;
  position: relative;
  top: 0;
  left: 0;
}
#social_media .btn .icon {
  position: absolute;
  top: 11px;
  left: 20px;
  height: 26px;
  width: 26px;
  border-width: 0;
}
#social_media .btn:hover {
  margin-left: -150px;
}
#social_media .btn span.legend {
  position: absolute;
  top: 4px;
  font-size: 14px;
  left: 5px;
  text-align: left;
}
#social_media .btn.twitter {
  background: url('img/_b_twitter.png') no-repeat;
}
#social_media .btn.facebook {
  background: url('img/_b_fb.png') no-repeat;
}
#social_media .btn.wordpress,
#social_media .btn.youtube {
  background: url('img/_b_gris.png') no-repeat;
}
#social_media .btn.wordpress .legend,
#social_media .btn.youtube .legend {
  color: black;
}
#calendario {
  position: absolute;
  font-size: 10px;
  z-index: 6000;
  top: 215px;
  right: 0px;
  display: none;
}
@media only screen and (max-width: 1024px) {
  #calendario {
    position: fixed;
    right: 0;
  }
}
#calendario div.ui-datepicker-inline {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 180px !important;
}
#calendar_leyend {
  position: absolute;
  font-size: 10px;
  z-index: 6500;
  top: 380px;
  right: 0px;
  width: 174px;
  height: 30px;
  background-color: #ffffff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom: 1px solid #0b6f3d;
  border-left: 1px solid #0b6f3d;
  border-right: 1px solid #0b6f3d;
  display: none;
}
@media only screen and (max-width: 1024px) {
  #calendar_leyend {
    position: fixed;
    right: 0;
  }
}
#calendar_leyend #leyend_info {
  margin-top: 8px;
  margin-left: 28px;
}
#calendar_leyend #leyend_info .leyend_elmn {
  height: 10px;
  width: 14px;
  float: left;
  margin: 0px 3px 0px 10px;
}
#calendar_leyend #leyend_info .float_l {
  float: left;
  margin-top: -1px;
}
#calendar_leyend #leyend_info #yellow_leyend {
  background-color: #FFE100;
  border: 1px solid #0b6f3d;
}
#calendar_leyend #leyend_info #green_leyend {
  background-color: #71CC9A;
  border: 1px solid #0b6f3d;
}
#primary_content {
  position: relative;
  top: -3px;
  overflow: hidden;
  z-index: 50;
  background-color: white;
}
#primary_content.mapas {
  margin-top: 0px;
}
#primary_content.mapas .mapContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
#primary_content.mapas .overviewMap {
  width: 100%;
  position: relative;
  float: left;
  top: 0;
}
#primary_content.mapas .overviewMap .gMap {
  height: 530px;
  width: 100%;
  display: inline-block;
}
#primary_content.mapas .info {
  z-index: 20;
  position: absolute;
  right: -2px;
}
#primary_content.mapas .info .search {
  width: 334px;
  height: 200px;
  background-image: url('img/_detalle_mapa.png');
  background-repeat: no-repeat;
}
#primary_content.mapas .info .search .content {
  padding-left: 30px;
  padding-top: 30px;
}
#primary_content.mapas .info .search .content .search_form {
  float: left;
  margin-top: 0px;
}
#primary_content.mapas .info .search .content .search_input {
  width: 198px;
  border-radius: 5px;
  height: 23px;
  margin-right: -7px;
  padding-left: 5px;
}
#primary_content.mapas .info .search .content h1 {
  margin: 0px;
  color: #0b6f3d;
  font-size: 13px;
}
#primary_content.mapas .info .search .content .search_submit {
  width: 26px;
  height: 26px;
  border: none;
  background-image: url('img/_buscador.png');
  position: relative;
  /*top: -4px;*/

  cursor: pointer;
  background-repeat: no-repeat;
  color: transparent;
  margin-left: -6px;
  padding: 8px;
}
#primary_content.mapas .info .search .content p {
  color: #565656;
  font-size: 13px;
  margin-top: 8px;
  margin-left: 5px;
}
#primary_content.mapas .info .search .content .servicesFilterDiv {
  margin-top: 45px;
  font-size: 13px;
}
#primary_content.mapas .info .search .content .servicesFilterDiv .filtersList {
  float: left;
  font-size: 13px;
  line-height: 19px;
  color: #555555;
}
#primary_content.mapas .info .search .content .servicesFilterDiv .checkBoxList {
  float: left;
}
#primary_content.mapas .info .search .descriptionContainer {
  position: relative;
  top: 20px;
  z-index: -1;
  height: 490px;
  display: none;
  background-color: white;
}
#primary_content.mapas .info .search .descriptionContainer .description {
  display: inline-block;
  margin-left: 33px;
}
#primary_content.mapas .info .search .descriptionContainer .description h1 {
  color: #0b6f3d;
  margin-top: 20px;
  font-size: 16px;
}
#primary_content.mapas .info .search .descriptionContainer .description .branchInfo {
  display: none;
  color: #565656;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 8px;
}
#primary_content.mapas .info .search .descriptionContainer .description .branchInfo .descriptionIcon {
  background-repeat: no-repeat;
  height: 18px;
  margin: 0;
  padding: 0;
  width: 18px;
  float: left;
  top: 0;
  margin-right: 5px;
}
#primary_content.mapas .info .search .descriptionContainer .description .branchInfo .iconCasita {
  background-image: url("img/i_casita.png");
}
#primary_content.mapas .info .search .descriptionContainer .description .branchInfo .iconTelf {
  background-image: url("img/i_telf.png");
}
#primary_content.mapas .info .search .descriptionContainer .description .branchInfo .iconHorario {
  background-image: url("img/i_reloj.png");
}
/*
*  CSS relacionado al contenido principal de las paginas internas
*/
#primary_content.interno #shadow_border {
  width: 100%;
  height: 15px;
  position: relative;
  top: -13px;
  background-image: url('img/sombra.png');
  background-repeat: repeat-x;
}
#primary_content.interno #interno {
  height: 125px;
  width: 100%;
  /*background-image:url('img/_imagenInterna.png');*/

  background-repeat: no-repeat;
  background-size: 99% 100%;
  /*.drop-shadow(0px, 2px, 0px, 0.8);*/

}
#primary_content.interno #interno #resumen {
  float: right;
  width: 270px;
  height: 100%;
  background-image: url('img/_titulo_categoria.png');
  background-repeat: no-repeat;
}
#primary_content.interno #interno #resumen .content {
  padding: 20px;
}
#primary_content.interno #interno #resumen .content h1 {
  color: #0b6f3d;
  margin-top: 22px;
  font-size: 18px;
}
#primary_content.interno #interno #resumen .content p {
  color: #565656;
  line-height: 1.3em;
  font-size: 12px;
  text-align: left;
}
#primary_content.interno #interno_content {
  font-size: 13px;
  position: relative;
  z-index: 500;
}
#primary_content.interno #interno_content ul li,
#primary_content.interno #interno_content ol li {
  list-style-image: url('../img/vineta-li.jpg');
  margin-bottom: 4px;
}
#primary_content.interno #interno_content .left {
  display: inline-block;
  width: 727px;
  margin-left: 20px;
}
#primary_content.interno #interno_content .left .header {
  margin: 20px 0px;
}
#primary_content.interno #interno_content .left .header h2 {
  color: #0b6f3d;
  font-size: 22px;
  display: inline-block;
  margin: 0px;
  width: 90%;
}
#primary_content.interno #interno_content .left .header a.change_letter {
  display: inline-block;
  float: right;
  background-image: url('img/_cambio_tamanoLetra.png');
  background-repeat: no-repeat;
  width: 60px;
  height: 35px;
}
#primary_content.interno #interno_content .left .header iframe input {
  border-radius: 10px;
}
#primary_content.interno #interno_content .left .section {
  color: #565656;
}
#primary_content.interno #interno_content .left .section p {
  line-height: 24px;
}
#primary_content.interno #interno_content .left .section div.field_container {
  float: left;
  width: 47%;
  margin-bottom: 20px;
}
#primary_content.interno #interno_content .left .section div.field_container label {
  color: #0b6f3d;
  font-weight: bold;
  font-size: 12px;
  width: 136px;
  display: block;
  float: left;
  height: 26px;
  line-height: 26px;
}
#primary_content.interno #interno_content .left .section div.field_container input[type="text"] {
  border-radius: 5px;
  float: left;
  border: 1px solid #7e7f81;
  box-shadow: 0px 0px 3px #7e7f81;
}
#primary_content.interno #interno_content .left .section div.field_container.clave {
  display: none;
}
#primary_content.interno #interno_content .left .section div.field_container.resultado {
  display: none;
}
#primary_content.interno #interno_content .left .section #submit_container {
  width: 100%;
  margin-bottom: 30px;
  float: left;
  text-align: center;
}
#primary_content.interno #interno_content .left .section #submit_container input[type="button"] {
  display: block;
  width: 75px;
  margin: 0 auto;
  cursor: pointer;
  height: 25px;
  background-image: url('img/boton.png');
  background-repeat: repeat-x;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  box-shadow: 2px 3px 2px #7e7f81;
}
#primary_content.interno #interno_content .left .section #submit_container input[type="submit"]:active {
  background-image: url('img/boton_p.png');
}
#primary_content.interno #interno_content .left .section #submit_container #regresar_btn {
  display: none;
}
#primary_content.interno #interno_content .right {
  display: inline-block;
  float: right;
  width: 270px;
  padding-bottom: 60px;
}
#primary_content.interno #interno_content .right .widget {
  background-image: url('img/_fondo_aviso_Internas.png');
  background-repeat: repeat-x;
  height: 157px;
  margin: 30px;
  padding-top: 10px;
  padding-left: 10px;
  border: 1px #acacac solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#primary_content.interno #interno_content .right .widget h3 {
  color: green;
  font-size: 14px;
  margin: 0px 0px 5px 0px;
}
#primary_content.interno #interno_content .right .widget img {
  margin-right: 5px;
  width: 60px;
  height: 60px;
}
#primary_content.interno #interno_content .right .widget span {
  color: #acacac;
  font-size: 12px;
}
/*
*  CSS relacionado al contenido principal del home
*/
#primary_content.home #primary_carrousel .image {
  width: 100%;
  height: 530px;
  z-index: -1;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
}
#primary_content.home #secondary_carrousel {
  height: 109px;
  padding: 0px 10px;
  position: relative;
  top: -1px;
  background-image: url('img/-12.png');
}
#primary_content.home #secondary_carrousel .arrow {
  vertical-align: middle;
}
#primary_content.home #secondary_carrousel .scroll_main {
  display: block;
}
#primary_content.home #secondary_carrousel .scroll_main .scrollable {
  float: left;
  position: relative;
  overflow: hidden;
  width: 900px;
  height: 90px;
  margin-top: 15px;
}
#primary_content.home #secondary_carrousel .scroll_main .scrollable .items {
  /* this cannot be too large */

  width: 20000em;
  position: absolute;
}
#primary_content.home #secondary_carrousel .scroll_main .scrollable .items div {
  float: left;
}
#primary_content.home #secondary_carrousel .scroll_main a.next {
  background: url(img/_b_siguiente.png) no-repeat;
  float: left;
}
#primary_content.home #secondary_carrousel .scroll_main a.prev {
  background: url(img/_b_anterior.png) no-repeat;
}
#primary_content.home #secondary_carrousel .scroll_main a.browse {
  display: block;
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 37px;
  cursor: pointer;
  font-size: 1px;
}
#primary_content.home #secondary_carrousel .scroll_main a.disabled {
  visibility: hidden;
}
#primary_content.home #secondary_carrousel .scroll_main .box {
  height: 78px;
  width: 280px;
  border: 1px #acacac solid;
  margin: 0px 10px;
  background-image: url('img/_fondo_avisos.png');
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#primary_content.home #secondary_carrousel .scroll_main .box .image {
  margin: 6px 12px 6px 12px;
}
#primary_content.home #secondary_carrousel .scroll_main .box .image img {
  width: 65px;
  height: 65px;
}
#primary_content.home #secondary_carrousel .scroll_main .box .text {
  margin-top: 20px;
  vertical-align: top;
  width: 67%;
  color: #0b6f3d;
  font-size: 16px;
  font-weight: bold;
}
.footer {
  width: 1024px;
  z-index: 100;
  height: 37px;
  background-image: url('img/_barra_footer.png');
  position: relative;
  float: left;
  top: -4px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.footer .copyright {
  display: inline-block;
  font-size: 10px;
  padding: 10px;
  color: #565656;
  font-weight: bold;
  width: 100%;
  padding-top: 5px;
}
.footer .powered_by {
  float: right;
  margin-right: 24px;
  font-weight: normal !important;
  margin-top: -5px;
}
.footer .chat_window {
  display: inline-block;
  float: right;
  height: 37px;
  width: 90px;
  margin-right: 20px;
  background-image: url('img/_barra_footer_chat.png');
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  color: #565656;
}
.footer .chat_window span {
  position: relative;
  top: 7px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 13px;
}
.footer #chat_logo {
  width: 35px;
  height: 25px;
  background-image: url('img/_i_atencionCliente.png');
  float: left;
  margin-top: 5px;
}
#slideshow {
  height: 530px;
}
#cycle_image {
  width: 100%;
  height: 470px;
  position: relative;
}
#cycle_buttons {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  right: 60px;
}
#cycle_buttons a {
  width: 25px;
  height: 25px;
  margin-left: 7px;
  display: inline-block;
  background-image: url("img/_selec.png");
  background-repeat: no-repeat;
  margin-right: 7px;
  text-align: center;
  text-decoration: none;
  color: transparent;
  font-size: 0px;
}
#cycle_buttons .activeSlide {
  background-image: url("img/_selec_p.png");
}
.search .search_form {
  margin-right: 20px;
  float: right;
  margin-top: 20px;
}
.search .search_form .search_input {
  padding: 0px;
  margin: 0px;
  height: 22px;
  width: 200px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.search .search_form .search_submit {
  padding: 0px;
  border: 0px;
  background-color: white;
  background-image: url('img/_buscador.png');
  margin: 0px;
  width: 26px;
  height: 26px;
  color: transparent;
}




/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
