﻿.TextBox_MainSearch {
    color: #B3B3B4;
    width: 820px;
    height: 25.5px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCC;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-radius: 0px 3px 3px 0px;
    box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.16) inset;
    text-indent: 29px;
    direction: rtl;
    font-family: "Segoe UI";
}

.SearchBox {
    width: 920px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    direction: ltr;
}

.SearchResult {
    direction: ltr;
    box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    height: 375px;
    position: absolute;
    z-index: 1;
    width: 821px;
    background-color: #FFF;
    margin-top: -14px;
    margin-right:16px;
    padding: 0px;
    border: 1px solid #CCC;
    display: none;
}

.ResultSearchRow {
    background-color: #FFF;
    padding: 5px;
    height: 41px;
}

    .ResultSearchRow:hover {
        background-color: #ECEEF3;
    }