.b1
{
	border-left: 1px solid rgb(203,210,223);
	border-right: 1px solid rgb(203,210,223);
	margin: 0pt 6px;
	background: rgb(203,210,223) repeat scroll 0%;
	overflow: hidden;
	font-size: 1px;
	display: block;
	height: 1px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

.b2
{
	border-width: 0pt 2px;
	border-left: 2px solid rgb(203,210,223);
	border-right: 2px solid rgb(203,210,223);
	margin: 0pt 4px;
	background: rgb(255,255,255) repeat scroll 0%;
	overflow: hidden;
	font-size: 1px;
	display: block;
	height: 1px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

.b3
{
	border-width: 0pt 2px;
	border-left: 2px solid rgb(203,210,223);
	border-right: 2px solid rgb(203,210,223);
	margin: 0pt 2px;
	background: rgb(255,255,255) repeat scroll 0%;
	overflow: hidden;
	font-size: 1px;
	display: block;
	height: 1px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

.b4
{
	border-left: 1px solid rgb(203,210,223);
	border-right: 1px solid rgb(203,210,223);
	margin: 0pt 2px;
	background: rgb(255,255,255) repeat scroll 0%;
	overflow: hidden;
	font-size: 1px;
	display: block;
	height: 1px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

.b5
{
	border-left: 1px solid rgb(203,210,223);
	border-right: 1px solid rgb(203,210,223);
	margin: 0pt 1px;
	background: rgb(255,255,255) repeat scroll 0%;
	overflow: hidden;
	font-size: 1px;
	display: block;
	height: 1px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

.b6
{
	border-left: 1px solid rgb(203,210,223);
	border-right: 1px solid rgb(203,210,223);
	margin: 0pt 1px;
	background: rgb(255,255,255) repeat scroll 0%;
	overflow: hidden;
	font-size: 1px;
	display: block;
	height: 1px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

.b7
{
	border-left: 1px solid rgb(203,210,223);
	border-right: 1px solid rgb(203,210,223);
	margin: 0pt 6px;
	background: rgb(203,210,223) repeat scroll 0%;
	overflow: hidden;
	font-size: 1px;
	display: block;
	height: 1px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

.b8
{
	border-width: 0pt 2px;
	border-left: 2px solid rgb(203,210,223);
	border-right: 2px solid rgb(203,210,223);
	margin: 0pt 4px;
	background: rgb(203,210,223) repeat scroll 0%;
	overflow: hidden;
	font-size: 1px;
	display: block;
	height: 1px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

.b9
{
	border-width: 0pt 2px;
	border-left: 2px solid rgb(203,210,223);
	border-right: 2px solid rgb(203,210,223);
	margin: 0pt 2px;
	background: rgb(203,210,223) repeat scroll 0%;
	overflow: hidden;
	font-size: 1px;
	display: block;
	height: 1px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

.b10
{
	border-left: 1px solid rgb(203,210,223);
	border-right: 1px solid rgb(203,210,223);
	margin: 0pt 2px;
	background: rgb(203,210,223) repeat scroll 0%;
	overflow: hidden;
	font-size: 1px;
	display: block;
	height: 1px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

.b11
{
	border-left: 1px solid rgb(203,210,223);
	border-right: 1px solid rgb(203,210,223);
	margin: 0pt 1px;
	background: rgb(203,210,223) repeat scroll 0%;
	overflow: hidden;
	font-size: 1px;
	display: block;
	height: 1px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

.b12
{
	border-left: 1px solid rgb(203,210,223);
	border-right: 1px solid rgb(203,210,223);
	margin: 0pt 1px;
	background: rgb(203,210,223) repeat scroll 0%;
	overflow: hidden;
	font-size: 1px;
	display: block;
	height: 1px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

.tdRoundBkg
{
	border-left: 1px solid rgb(203,210,223);
	border-right: 1px solid rgb(203,210,223);
	padding: 5px;
	background: rgb(255,255,255) url('../Image/Base/Back_TdRound_top.png') repeat-x;
	display: block;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

.tdRound
{
	border-left: 1px solid rgb(203,210,223);
	border-right: 1px solid rgb(203,210,223);
	padding: 5px;
	background: rgb(255,255,255) repeat;
	display: block;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}
