.sharelink {
    width: 575px;
	
	margin: 0 7px -10px;
}
.Af {
    background: url("../Image/Share/Af.png") repeat scroll center bottom transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
span.Af:hover {
    background: url("../Image/Share/Af.png") repeat scroll center top transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
.fb {
    background: url("../Image/Share/fb.png") repeat scroll center bottom transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
span.fb:hover {
    background: url("../Image/Share/fb.png") repeat scroll center top transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
.tw {
    background: url("../Image/Share/tw.png") repeat scroll center bottom transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
span.tw:hover {
    background: url("../Image/Share/tw.png") repeat scroll center top transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
.cl {
    background: url("../Image/Share/cl.png") repeat scroll center bottom transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
span.cl:hover {
    background: url("../Image/Share/cl.png") repeat scroll center top transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
.gm {
    background: url("../Image/Share/gm.png") repeat scroll center bottom transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
span.gm:hover {
    background: url("../Image/Share/gm.png") repeat scroll center top transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
.gb {
    background: url("../Image/Share/gb.png") repeat scroll center bottom transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
span.gb:hover {
    background: url("../Image/Share/gb.png") repeat scroll center top transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
.bg {
    background: url("../Image/Share/gp.png") repeat scroll center bottom transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
span.bg:hover {
    background: url("../Image/Share/gp.png") repeat scroll center top transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
.ym {
    background: url("../Image/Share/ym.png") repeat scroll center bottom transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
span.ym:hover {
    background: url("../Image/Share/ym.png") repeat scroll center top transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
.my {
    background: url("../Image/Share/my.png") repeat scroll center bottom transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
span.my:hover {
    background: url("../Image/Share/my.png") repeat scroll center top transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
.bt {
    background: url("../Image/Share/bt.png") repeat scroll center bottom transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}
span.bt:hover {
    background: url("../Image/Share/bt.png") repeat scroll center top transparent;
    display: block;
    float: left;
    height: 29px;
    width: 55px;
}