﻿body {
    font-family: Tahoma;
    font-size: 9pt;
    background-repeat: repeat-x;
    background-image: url('../Image/Base/BackBody.png');
    margin: auto;
}

table {
    direction: rtl;
    text-align: right;
    color: #008CCE;
}

a {
    text-decoration: none;
}

    a:Hover {
        text-decoration: none;
        text-shadow: #ccc 1px -1px 1px;
    }

    a:visited {
        color: Navy;
    }

.Button {
    font-family: Tahoma;
    font-size: 9pt;
    color: #27447e;
}

.Label {
    font-family: tahoma;
    font-size: 9pt;
    color: #27447e;
    margin: 3px 5px 5px 5px;
}

.Label_8pt {
    font-family: tahoma;
    font-size: 8pt;
    color: #27447e;
    margin: 3px 5px 5px 5px;
    line-height: 20px;
}

.Label_9pt {
    font-family: tahoma;
    font-size: 9pt;
    color: #27447e;
    margin: 3px 5px 5px 5px;
    line-height: 20px;
}

.TextBox {
    font-family: tahoma;
    font-size: 11px;
    color: #0066CC;
    background-color: #ECEEF3;
    border: inset 1px #0066CC;
    padding: 3px 5px 2px 2px;
    width: 180px;
}

.TextBox_LTR {
    text-align: left;
    direction: ltr;
    font-family: tahoma;
    font-size: 11px;
    color: #0066CC;
    background-color: #ECEEF3;
    border: inset 1px #0066CC;
    padding: 3px 5px 2px 2px;
    width: 180px;
}

.MenuLabel {
    font-family: tahoma;
    font-size: 9pt;
    color: White;
    margin: 5px 15px 5px 5px;
}

#MasterTable {
    width: 960px;
    margin: 0 auto;
}

.MainBanner {
    background: no-repeat right url('../Image/Base/Banner/headerpng.png');
    width: 968px;
    height: 100px;
    position: relative;
}

.Banner {
    border: 1px solid #0066CC;
    text-align: center;
    font-size: 8pt;
}

.SoftwareDescriptionLabel {
    font-family: tahoma;
    font-size: 7.1pt;
    font-weight: bold;
    color: #27447e;
    margin: 3px 5px 5px 3px;
}

.txtSearch {
    font-family: tahoma;
    font-size: 8pt;
    color: #0066CC;
    background-color: #FFFFFF;
    border: solid 1px #0066CC;
    padding: 0px 2px 2px 2px;
    width: 100px;
    margin-bottom: 2px;
    margin-top: 5px;
}

.trTopMain {
    background-image: url( '../Image/Base/TopBack.png' );
    background-repeat: no-repeat;
    height: 36px;
}

td.Left_Bk {
    background-image: url( '../Image/Base/Left_Bk.png' );
}

td.Right_Bk {
    background-image: url( '../Image/Base/Right_Bk.png' );
}

.tdRightMenu {
    border-bottom: solid 1px #38518B;
}

td.SoftwareDescription {
    border-bottom: solid 1px #cccccc;
    padding: 7px 5px 7px 5px;
}

td.SoftwareList {
    border-bottom: solid 1px #cccccc;
    padding: 0px 5px 0px 2px;
}

.imageReview {
    padding-top: 5px;
}

.Pager span {
    color: Black;
    font-weight: bold;
    font-size: 10pt;
    text-align: left;
}

.Loading {
    border: medium double #003366;
    background-color: White;
    width: 150px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.NewsBody {
    font-family: tahoma;
    font-size: 9pt;
    color: #27447e;
    margin: 3px 5px 5px 5px;
    line-height: 17px;
}

.SearchButton {
    border-style: none;
    border-width: 0px;
    font-size: 9px;
    color: #0066CC;
    background-color: #253F72;
    height: 12px;
    width: 25px;
    color: White;
    margin-bottom: 3px;
}

.UL {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    list-style: none;
}

.LI {
    padding: 3px 2px 3px 2px;
}

.Pager_li {
    list-style: none outside none;
    margin: 0px;
    padding: 3px;
    float: left;
    display: inline-block;
    border-left: 1px solid #CCC;
    padding: 0px 9px;
    border-radius: 5px;
}

.PageIndex_div {
    color: red;
    border: 1px solid rgb(204, 204, 204);
    margin: 5px auto;
    width: 420px;
    height: 20px;
    text-align: center;
    padding: 7px 0px 0px;
    direction: rtl;
    border-radius: 5px;
    background-color: rgba(224, 224, 224, 1);
}

.SpanSummary {
    padding-right: 20px;
    vertical-align: top;
}

.fieldset {
    -moz-border-radius: 9px;
    border-radius: 0px;
    width: 150px;
}

.fieldset_InfoBox {
    -moz-border-radius: 9px;
    border-radius: 0px;
    background-color: #FFF;
    padding: 5px 5px 5px 5px;
	margin-top:10px;
}

.legend_InfoBox {
    background-color: #FFFF33;
}

fieldset {
    -moz-border-radius: 9px;
    border-radius: 9px;
}

legend {
    -moz-border-radius: 4px;
    border-radius: 0px;
    border: solid 1px #828177;
    padding: 3px 5px 3px 5px;
    text-align: center;
}

div.panel, p.flip {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background: #e5eecc;
    border: solid 1px #c3c3c3;
}

div.panel {
    height: 250px;
    display: none;
}

.tab-slide {
    min-height: 400px;
    border-style: solid;
    border-color: -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 0px 0px 3px 3px;
    border-width: 0px 1px 1px;
    padding: 0px;
}

.down-tab-slide {
    border-style: solid;
    border-color: -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 0px 0px 3px 3px;
    border-width: 0px 1px 1px;
    padding: 0px;
}

li#current-li, li#down-current-li {
    border-bottom: 1px solid #FFFFFF;
    margin-top: -2px;
    border-top-width: 3px;
}

ul.tabs, ul.down-tabs {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 0 0 1px;
    height: 31px;
    list-style: none outside none;
    margin: 10px 0 0;
    padding: 0px;
}

    ul.tabs li {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-image: none;
        border-left: 1px solid;
        border-radius: 3px 3px 0 0;
        border-right: 1px solid;
        border-top: 1px solid;
        float: right;
        list-style-image: none;
        margin: 0 0 0 3px;
        padding: 0;
        text-indent: 0;
    }

    ul.tabs a {
        color: #333333;
        font-size: 11px;
        line-height: 30px;
        margin: 0 5px;
        padding: 0;
        text-align: center;
        text-decoration: none;
    }

#ShareIcon {
    position: relative;
    top: -25px;
    margin-left: -197px;
}

.shareicons-face {
    background: url("../Image/Base/shareicons.png") no-repeat scroll 0% 0% transparent;
    position: absolute;
    height: 25px;
    width: 25px;
    top: 2px;
    left: 206px;
    background-position: -25px -50px;
}

    .shareicons-face:hover {
        background-position: -1px -50px;
    }

.shareicons-twit {
    background: url("../Image/Base/shareicons.png") no-repeat scroll 0% 0% transparent;
    position: absolute;
    height: 25px;
    width: 25px;
    left: 233px;
    top: 1px;
    background-position: -25px -25px;
}

    .shareicons-twit:hover {
        background-position: -1px -25px;
    }

.shareicons-google {
    background: url("../Image/Base/shareicons.png") no-repeat scroll 0% 0% transparent;
    position: absolute;
    height: 25px;
    width: 25px;
    top: 0px;
    left: 259px;
    background-position: -25px 0px;
}

    .shareicons-google:hover {
        background-position: -1px 0px;
    }

#mobilealert {
    display: none;
    width: 100%;
    height: 56px;
    text-align: center;
    font-size: 17px;
    background-color: rgb(99, 195, 182);
}

    #mobilealert #close-mobilealert {
        position: absolute;
        cursor: pointer;
        top: 12px;
        left: 19px;
        font-size: 14px;
        color: #D6D6D6;
    }

    #mobilealert #msg-mobilealert {
        position: relative;
        top: 15px;
        margin-left: 49px;
        margin-right: 6px;
        font-family: 'B Yekan',Tahoma;
    }

.summarymain {
    color: gray;
    padding: 1px 63px;
    font-size: 11px;
}

#cphMaster_dtlAdvertiseS1Ban img {
   height:60px;
}