/*!* Let Us Help, Anchor v0.2 */
/*
 * v0.2: Partner Support Icon styles are added 
 * v0.1: initial checkin
 */

/* X-SMALL = 480px */
@media only screen and (min-width:30em) {
}

/* SMALL = 600px */
@media only screen and (min-width:37.5em) {
}

/* MEDIUM = 768px */
@media only screen and (min-width:48em) {
}

/* LARGE = 960px */
@media only screen and (min-width:60em) {
}

/* X-LARGE = 1024px + */
@media only screen and (min-width:64em) {
}
/* BASE Styles */
.dmc-letushelp-anchor {
	display: none;
}

/* SMALL = 600px */
@media only screen and (min-width:37.5em) {
.dmc-letushelp-anchor,  
.dmc-letushelp-anchor * {
	box-sizing: border-box;
}
.dmc-letushelp-anchor {
	width: 100%;
	padding: 5px 10px;
	margin-bottom: 20px;
	display: block;
}
.dmc-letushelp-anchor.dark-bg {
	background-color: #000000;
}
.dmc-letushelp-anchor,  
.dmc-letushelp-anchor.light-bg {
	background-color: #eee;
}
.dmc-letushelp-anchor.compact {
	margin: 0;
}
.dmc-letushelp-bar .links {
	padding: 0 20px;
}
.dmc-letushelp-anchor .links > ul {
	display:table;
	width: 100%;
	margin: 0 auto;
}
.dmc-letushelp-anchor ul li span.link-wrapper,  
.dmc-letushelp-anchor ul li span.icon-wrapper {
	display: table-cell;
	vertical-align: middle;
}
.dmc-letushelp-anchor ul li span.icon-wrapper {
	padding-right: 7px;
}
.dmc-letushelp-anchor ul li span.link-wrapper {
	padding-right: 20px;
}
.dmc-letushelp-anchor ul li:last-child .link-wrapper {
	padding-right: 0;
}
.dmc-letushelp-anchor ul li a.line {
	text-decoration: underline;
}
.dmc-letushelp-anchor.light ul li a.line {
	text-decoration: none;
}
.dmc-letushelp-anchor li {
	display:inline-block;
	width: 49%;
	margin: 10px 0 0 0;
	min-height: 32px;
	vertical-align: middle;
}
.dmc-letushelp-anchor .links li {
	margin-left: 0;
}
/* Drop down for additional phone numbers. */
    .dmc-letushelp-anchor .phone-numbers .arrow {
	margin: 0 auto 0 auto;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #FFFFFF;
	position: relative;
	top: -18px
}
.dmc-letushelp-anchor .phone-numbers {
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	padding: 8px 20px 15px 20px;
	box-shadow: 4px 4px 2px -1px #999;
	z-index: 1;
	text-align: left;
	margin: 10px auto;
}
.dmc-letushelp-anchor .phone-numbers.open {
	display: block;
	z-index: 2;
}
.dmc-letushelp-anchor .phone-numbers ul {
	margin-bottom: 15px;
}
.dmc-letushelp-anchor .phone-numbers ul:last-of-type {
	margin-bottom: 0;
}
.dmc-letushelp-anchor .phone-numbers li {
	display: block;
	width: auto;
	margin: 0 0 3px 0;
	min-height: 0;
	line-height: 1.25em;
}
.dmc-letushelp-anchor .phone-numbers li:last-of-type {
	margin: 0;
}
.dmc-letushelp-anchor .phone-numbers h5 {
	font-weight: bold;
	margin-bottom: 3px;
}
.dmc-letushelp-anchor .phone-numbers li a {
	text-decoration: none;
}
.dmr.light.dmc-letushelp-anchor .phone-numbers h5,  
.dmr.light.dmc-letushelp-anchor .phone-numbers li {
	color: #58585B;
}
.dmr.light.dmc-letushelp-anchor .phone-numbers li a {
	color: #007FAB;
	border-bottom: none;
}
.dmr.light.dmc-letushelp-anchor .phone-numbers li a:hover {
	color: #049FD9;
	border-bottom: none;
}
/* Icon for opening the drop down. */
    .dmc-letushelp-anchor .link-wrapper .arrow {
	width: 20px;
	height: 20px;
	float: right;
	display: table-cell;
	cursor: pointer;
	background-image: url('../icons/arrow-blue.svg');
	background-position: center center;
	background-repeat: no-repeat;
}
.dmc-letushelp-anchor.dark-bg .link-wrapper .arrow {
	background-image: url('../icons/arrow-white.svg');
}
.dmc-letushelp-anchor .link-wrapper span.arrow.open {
	-webkit-transform:scaleY(-1);
	transform:scaleY(-1);
}
.dmc-letushelp-anchor .link-wrapper span.link-wrapper-content {
	display: inline;
	padding: 0 10px 0 0;
    font-weight: 400;
}
.dmc-letushelp-anchor ul li span.chat-icon,
.dmc-letushelp-anchor ul li span.call-icon,  
.dmc-letushelp-anchor ul li span.price-icon,  
.dmc-letushelp-anchor ul li span.local-icon,  
.dmc-letushelp-anchor ul li span.case-icon,  
.dmc-letushelp-anchor ul li span.support-icon,  
.dmc-letushelp-anchor ul li span.partner-icon {
	background-image: url("../icons/anchor-marquee-luh-icon-sprite.svg");
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display:inline-block;
	vertical-align: middle;
}
.dmc-letushelp-anchor.light-bg ul li span.chat-icon {
	background-position: 0 0;
}
.dmc-letushelp-anchor.light-bg ul li span.call-icon {
	background-position: 0 -20px;
}
.dmc-letushelp-anchor.light-bg ul li span.price-icon {
	background-position: 0 -40px;
}
.dmc-letushelp-anchor.light-bg ul li span.local-icon {
	background-position: 0 -60px;
}
.dmc-letushelp-anchor.light-bg ul li span.case-icon {
	background-position: 0 -80px;
}
.dmc-letushelp-anchor.light-bg ul li span.support-icon {
	background-position: 0 -100px;
}
.dmc-letushelp-anchor.light-bg ul li span.partner-icon {
	background-position: 0 -120px;
}
.dmc-letushelp-anchor.dark-bg ul li span.chat-icon {
	background-position: -20px 0;
}
.dmc-letushelp-anchor.dark-bg ul li span.call-icon {
	background-position: -20px -20px;
}
.dmc-letushelp-anchor.dark-bg ul li span.price-icon {
	background-position: -20px -40px;
}
.dmc-letushelp-anchor.dark-bg ul li span.local-icon {
	background-position: -20px -60px;
}
.dmc-letushelp-anchor.dark-bg ul li span.case-icon {
	background-position: -20px -80px;
}
.dmc-letushelp-anchor.dark-bg ul li span.support-icon {
	background-position: -20px -100px;
}
.dmc-letushelp-anchor.dark-bg ul li span.partner-icon {
	background-position: -20px -120px;
}
/*RTL Styles*/
    html[dir="rtl"] .dmc-letushelp-anchor ul li span.icon-wrapper {
	padding-left: 7px;
	padding-right: 0;
}
html[dir="rtl"] .dmc-letushelp-anchor ul li:last-child .link-wrapper {
	padding-left: 0px;
}
html[dir="rtl"] .dmc-letushelp-anchor .links li {
	margin-right: 0;
}
html[dir="rtl"] .dmc-letushelp-anchor ul li .link-wrapper {
	padding-right: 0px;
	padding-left: 20px;
}
html[dir="rtl"] .dmc-letushelp-anchor .link-wrapper .arrow {
	float: left;
}
html[dir="rtl"] .dmc-letushelp-anchor .ltr {
	direction: ltr;
	unicode-bidi: embed;
}
html[dir="rtl"] .dmc-letushelp-anchor .phone-numbers {
	text-align: right;
}
html[dir="rtl"] .dmc-letushelp-anchor .link-wrapper span.link-wrapper-content {
	padding: 0 0 0 10px;
}
}

/* MEDIUM = 768px */
@media only screen and (min-width:48em) {
.dmc-letushelp-anchor {
	text-align: center;
}
.dmc-letushelp-anchor li {
	display:inline-block;
	width: auto;
}
}

/*!* Let Us Help Bar v0.7.5 */
/*
 * v0.7.5: updated c2c button to allow multiple lines of text
 * v0.7.4: fixed alignment issues
 * v0.7.3: updated the LUH Bar with new design for tablet breakpoint
 * v0.7.2: overrides for "Primary 5 <h5>" to map to Atlantic "Text Bold"
 * v0.7.1: match the background color to the surrounding row if it is fw-bg-medium
 * v0.7: added styles for formatting phone numbers lrt in rtl locales
 * v0.6: updated alignment and padding for multiphone dropdown and dropdown arrow as per specs 
 * v0.5: fixed dropdown arrow alignment issue in mobile devices
 * v0.4: fixed RTL alignment issues and multiphone number z-index wrt sticky nav issue
 * v0.3: RTL styles added
 * v0.2: added support for multiple phone numbers in a dropdown.
 * v0.1: initial checkin
 */

/* X-SMALL = 480px */
@media only screen and (min-width:30em) {
}

/* SMALL = 600px */
@media only screen and (min-width:37.5em) {
}

/* MEDIUM = 768px */
@media only screen and (min-width:48em) {
}

/* LARGE = 960px */
@media only screen and (min-width:60em) {
}

/* X-LARGE = 1024px + */
@media only screen and (min-width:64em) {
}
/* BASE Styles */
.dmc-letushelp-bar {
    display: none;
}

/* SMALL = 600px */
@media only screen and (min-width:37.5em) {
    .dmc-letushelp-bar, 
    .dmc-letushelp-bar * {
        box-sizing: border-box;
        margin:0;
        padding:0; 
    }
    .dmc-letushelp-bar {
        background-color: #f2f2f2;
        width: 100%;
        display: table;
        margin: 0 0 20px 0;
    }
    /* Match the color of the surrounding row when it is this very similar gray. */
    .row.fw-bg-medium .dmc-letushelp-bar {
        background-color: #f5f5f5;
    }
    .dmc-letushelp-bar.compact {
        margin: 0;
    }
    .dmc-letushelp-bar .links {
        display:block; 
        padding: 20px;
    }
	.dmc-letushelp-bar .cta-button {
        display: block; 
        padding: 30px 20px 0 20px;
    }
    .dmc-letushelp-bar .links > ul {
        display:table;
        width: 100%;
        margin-bottom: 0;
    }
    .dmc-letushelp-bar > div:first-child {
        padding-left: 20px;
    }
    .dmc-letushelp-bar ul li span.call-icon,
    .dmc-letushelp-bar ul li span.case-icon,
    .dmc-letushelp-bar ul li span.email-icon,
    .dmc-letushelp-bar ul li span.local-icon,
    .dmc-letushelp-bar ul li span.support-icon,
    .dmc-letushelp-bar ul li span.options-icon {
        background: url("../icons/letushelp-bar-icons.png");
        background-repeat:no-repeat;
        height: 39px;
        width: 39px;
        display: block;
    }
    .dmc-letushelp-bar ul li span.call-icon {
        background-position: 0 0;
    }
    .dmc-letushelp-bar ul li span.case-icon {
        background-position: 0 -40px;
    }
    .dmc-letushelp-bar ul li span.email-icon {
        background-position: 0 -80px;
    }
    .dmc-letushelp-bar ul li span.local-icon {
        background-position: 0 -120px;
    }
    .dmc-letushelp-bar ul li span.support-icon {
        background-position: 0 -160px;
    }
    .dmc-letushelp-bar ul li span.options-icon {
        background-position: 0 -200px;
    }
    .dmc-letushelp-bar ul li span.link-wrapper,
    .dmc-letushelp-bar ul li span.icon-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    .dmc-letushelp-bar ul li span.icon-wrapper {
        padding-right: 7px;
    }
    .dmc-letushelp-bar ul li span.link-wrapper,
    .dmc-letushelp-bar ul li:last-child .link-wrapper {
        padding-right: 0;
    }
    .dmc-letushelp-bar .cta-button a{
        font-family:CiscoSansRegular,HelveticaNeue-Light,'Helvetica Neue Light',HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,'Nimbus Sans L',sans-serif;
        font-size:14px;
        background-color: #1ba0d7;
        border-radius: 60px;
        color: #fff;
        display: block;
        height: auto;
        line-height: 1.25em;
        text-align: center;
        width: 172px;
        padding: 11px 10px;
    }
    .dmc-letushelp-bar .cta-button a:hover {
       background-color: #0f8abe;
       text-decoration: none;
    }
    .dmc-letushelp-bar li {
        display:inline-block;
        width: 49%;
        margin: 10px 0;
        min-height: 32px;
        vertical-align: middle;
    }
    .dmc-letushelp-bar .links li {
        margin-left: 0;
    }
	.dmc-letushelp-bar .links li:last-child {
    	margin-bottom: 10px;
    }
    .dmc-letushelp-bar ul li span.divider {
        color: #cccccc;
        margin-left: 5px;
    }
    .dmc-letushelp-bar ul li span.link-wrapper {
        line-height: 20px;
    }
    .dmc-letushelp-bar ul li span.regular {
        font-family:CiscoSansRegular,HelveticaNeue-Light,'Helvetica Neue Light',HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,'Nimbus Sans L',sans-serif;
        font-size:14px;
        font-weight:bold;
    }
    .dmc-letushelp-bar ul li a {
        font-family: CiscoSansLight,HelveticaNeue-Light,'Helvetica Neue Light',HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,'Nimbus Sans L',sans-serif;
        color: #1ba0d7;
    }
    .dmc-letushelp-bar ul li a:hover {
        color:  #0f8abe;
    }
    .dmc-letushelp-bar ul li a.line {
        text-decoration: underline;
    }
    /* code for variation 2 */
    .dmc-letushelp-bar.var-2 {
        padding: 0 20px;
    }
	/* Drop down for additional phone numbers. */
    .dmc-letushelp-bar .phone-numbers .arrow {
        margin: 0 auto 0 auto;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #FFFFFF;
        position: relative;
        top: -18px
    }
    .dmc-letushelp-bar .phone-numbers {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        padding: 8px 20px 15px 20px;
        margin: 10px 0 0 40px;
        box-shadow: 4px 4px 2px -1px #999;
        z-index: 1;
    }
    .dmc-letushelp-bar .phone-numbers.open {
        display: block;
        z-index: 2;
    }
    .dmc-letushelp-bar .phone-numbers ul {
        margin-bottom: 15px;
    }
    .dmc-letushelp-bar .phone-numbers ul:last-of-type {
        margin-bottom: 0;
    }
    .dmc-letushelp-bar .phone-numbers li {
        display: block;
        width: auto;
        margin: 0 0 3px 0;
        min-height: 0;
        line-height: 1.25em;
    }
    .dmc-letushelp-bar .phone-numbers li:last-of-type {
        margin: 0;
    }
    .dmc-letushelp-bar .phone-numbers h5 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .dmc-letushelp-bar .phone-numbers li a {
        text-decoration: none;
    }
    /* Icon for opening the drop down. */
    .dmc-letushelp-bar .link-wrapper .arrow {
        width: 20px;
        height: 20px;
        float: right;
        display: table-cell;
        cursor: pointer;
        background-image: url('../icons/arrow-blue.svg');
        background-position: center center;
        background-repeat: no-repeat;
    }
    .dmc-letushelp-bar .link-wrapper span.arrow.open {
        -webkit-transform:scaleY(-1);
        transform:scaleY(-1);
    }
    .dmc-letushelp-bar .link-wrapper span.link-wrapper-content {
        display: table-cell;
        padding-right: 5px;
    }
    
    /*RTL Styles*/
    html[dir="rtl"] .dmc-letushelp-bar ul li span.icon-wrapper{
        padding-left: 7px;
        padding-right: 0;
    }
    html[dir="rtl"] .dmc-letushelp-bar ul li:last-child .link-wrapper{
        padding-left: 0px;
    }
    html[dir="rtl"] .dmc-letushelp-bar .links li{
        margin-right: 0;
    }
    html[dir="rtl"] .dmc-letushelp-bar .link-wrapper span.arrow {
        float: left;
    }
    html[dir="rtl"] .dmc-letushelp-bar .link-wrapper span.link-wrapper-content {
        padding-left: 5px;
        padding-right: 0;
    }
    html[dir="rtl"] .dmc-letushelp-bar .ltr {
        direction: ltr;
        unicode-bidi: embed;
    }
}

/* MEDIUM = 768px */
@media only screen and (min-width:48em) {
    .dmc-letushelp-bar .cta-button {
        width: 215px;
        padding-bottom: 30px;
        display:table-cell; 
        vertical-align: middle;
    }
    .dmc-letushelp-bar .links {
    	display:table-cell; 
        vertical-align: middle;
        padding-left: 0;
    }

}
/* LARGE = 960px */
@media only screen and (min-width:60em) {
    .dmc-letushelp-bar .links li:first-child {
        padding-left: 0;
    }
    .dmc-letushelp-bar .links li {
        padding-left: 10px;
    }
    .dmc-letushelp-bar .phone-numbers li {
        padding-left: 0;
    }
    .dmc-letushelp-bar {
        height: 100px;
    }
    .dmc-letushelp-bar li {
        display:table-cell;
        width: auto;
    }
    /* code for variation 2 */
    .dmc-letushelp-bar.var-2 li {
        width: 25%;
    }
}
/* X-LARGE = 1024px + */
@media only screen and (min-width:64em) { }

/*!* Let Us Help - Block Component: v2.2.1*/
/*
 * v2.2.1: match the background color to the surrounding row if it is fw-bg-medium
 * v2.2: added styles for formatting phone numbers lrt in rtl locales
 * v2.1: fixed alignment and padding issues as per specs
 * v2.0: Removed style for padding bottom of c2c button
 * v1.1.1: width to 'auto'
 * v1.1: Added style for c2c Proactive Chat.
*/
/* BASE Styles */


/* X-SMALL = 480px */
@media only screen and (min-width:30em) {}

/* SMALL = 600px */
@media only screen and (min-width:37.5em){}

/* MEDIUM = 768px */
@media only screen and (min-width:48em) {}

/* LARGE = 960px */
@media only screen and (min-width:60em) {}

/* X-LARGE = 1024px + */
@media only screen and (min-width:64em) {}

/* BASE Styles */
.dmc-contactus, .dmc-contactus * {
   -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}
.dmc-contactus{
    background: none repeat scroll 0 0 #ecf9ff; 
    margin: 20px 12px 25px;
    padding: 0 15px;
}
.dmc-contactus .menu-toggle h2{
    font-size: 17px;
    color: #525252;
    line-height: 1.25em;
    display:block;
}
.dmc-contactus .menu-toggle {
    position: relative;
    padding: 10px 0;
}
.dmc-contactus .menu-toggle:hover{
    cursor: pointer;
}
.dmc-contactus .arrow{
    border-color: #555 transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    height: 0;
    margin-left: 5px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;   
}
.dmc-contactus .arrow.open{
    border-color: #555 transparent;
    border-style: solid;
    border-width: 0 5px 5px;
    height: 0;
    margin-left: 5px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;   
}
.dmc-contactus .menu {
    height: auto;
    position: relative;
    display:none;
    
}
.dmc-contactus .menu.open {
    border-top: 1px solid #ccc;
    display: block;
}
.dmc-contactus .menu ul.menu-items{
    list-style: none outside none;
    margin: 0;
    padding-top: 7px;
}
.dmc-contactus .menu ul.menu-items #lpButton-new{
    padding: 0px;
}
.dmc-contactus .menu ul.menu-items #lpButton-new a{
    padding: 5px 0px;
}
.dmc-contactus .menu ul.menu-items li{
    padding: 5px 0;
    font-size: 14px;
    line-height: 1.25em;
}
.dmc-contactus .menu .phone-numbers li {
/* Ciscosans Regular */
    font-family: CiscoSans, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.dmc-contactus .menu .phone-numbers li.locale{
    margin-top: 15px;
}
.dmc-contactus .menu .phone-numbers h5 {
    font-weight: bold;
}
.dmc-contactus .menu .phone-numbers ul {
    margin-bottom: 15px;
}
.dmc-contactus .menu a{
    color: #007fc5;
    line-height: 1.25em;
    text-align: left;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.dmc-contactus .menu a:hover{
    cursor: pointer;
    color: #0f8abe;
}

/* Contact Us Variation 2*/
.dmc-contactus.var-2 {
    background: none repeat scroll 0 0 #f2f2f2;
    width: auto;
    padding: 23px 15px 20px 12px;
    margin: 0 0 20px 0;   
}
/* Match the color of the surrounding row when it is this very similar gray. */
.row.fw-bg-medium .dmc-contactus.var-2 {
    background-color: #f5f5f5;
}
.dmc-contactus.var-2.compact {
    margin-bottom: 0;
}
.dmc-contactus.var-2 .country-link {
    margin-bottom: 15px;
}
.dmc-contactus.var-2 .menu {
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    display: block;
}
.dmc-contactus.var-2 .menu h2{
    font-family: CiscoSansLight,HelveticaNeue-Light,"Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #525252;
    text-align: center;
}
.dmc-contactus.var-2 .menu p{
    font-family: CiscoSansLight,HelveticaNeue-Light,"Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 7px;
    color: #525252; 
    text-align: center;
}
.dmc-contactus .menu a.line {
    text-decoration: underline;
}
.dmc-contactus.var-2 .menu ul.menu-items li {
   font-family: CiscoSansLight,HelveticaNeue-Light,"Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
   padding-bottom: 12px;
}
.dmc-contactus.var-2 .menu ul.menu-items span.regular {
    font-family: CiscoSansRegular,CiscoSansLight,HelveticaNeue-Light,"Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
.dmc-contactus.var-2 .menu ul.menu-items span.divider {
    color: #cccccc;
    font-family: CiscoSansLight,HelveticaNeue-Light,"Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
    font-size: 14px;
}
.dmc-contactus.var-2 .menu ul.menu-items li.cta-button {  
    line-height: 20px;
    font-family: CiscoSansRegular,CiscoSansLight,HelveticaNeue-Light,"Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
.dmc-contactus.var-2 li.cta-button a {
    background-color: #1ba0d7;
    font-family: CiscoSansRegular,CiscoSansLight,HelveticaNeue-Light,"Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

/* Contact Us Variation 3*/
.dmc-contactus.var-3 {
    margin: 0;   
}
.dmc-contactus.var-3 .menu-toggle {
    display: none;  
}
.dmc-contactus.var-3 .menu.open {
    display: none;
}

/* "Contact US" dynamic button over rides*/
.dmc-contactus .menu a b{
    font-weight: normal     
}
.dmc-contactus .menu a b i{
    font-style: normal      
}

/* ----- RTL --------*/
.rtl .dmc-contactus .arrow {
    margin-right: 5px;
}
html[dir="rtl"] .dmc-contactus .ltr {
    direction: ltr;
    unicode-bidi: embed;
}

/* Code for IE8 and below */
.lt-ie9 .dmc-contactus {
    margin: 0px;
}
.lt-ie9 .dmc-contactus .menu-toggle{
    background: #007fc5;
    color: white;
    padding: 20px 8px;
    position: fixed;    
    right: 0px;
    top: 170px;
    
    -ms-writing-mode: tb-lr;    
    transform-origin: right top 0;
    -webkit-transform-origin: 100% 0%;
    
    transition: all 0.3s ease 0s;
    z-index: 100;
}
.lt-ie9 .dmc-contactus .menu-toggle.open{   
    position: fixed;
    -webkit-transform-origin: 100% 0%;  
    right:200px;
    top: 170px;
}
.lt-ie9 .dmc-contactus .menu{
    transition: all 0.3s ease;
    position: fixed;
    top: 170px;
    right: -200px;
    min-height: 135px;
    height: auto;
    width: 200px;
    padding: 5px 10px 0 15px;
    z-index: 99;
    display: block;
    background: none repeat scroll 0 0 #ecf9ff;
}
.lt-ie9 .dmc-contactus .menu.open{
    right: 0;
    top: 170px;
    height: auto;
    width: 200px;
    display: block;
    border: none;
}
.lt-ie9 .dmc-contactus .menu-toggle h2{
    color:white;    
}
.lt-ie9 .dmc-contactus .menu-toggle .arrow.open, .lt-ie9 .dmc-contactus .menu-toggle .arrow{
    display:none;   
}
/* Contact Us Variation 2*/
.lt-ie9 .dmc-contactus.var-2{
    display:none;
}

/* Contact Us Variation 3*/
.lt-ie9 .dmc-contactus.var-3 {
   margin: 5px 12px 15px; 
}
.lt-ie9 .dmc-contactus.var-3 .menu-toggle {
    display: block;  
}
.lt-ie9 .dmc-contactus.var-3 .menu.open {
    display: block;
}

/* Position the proactive chat. */
.c2c-proactive-modal {
    position: fixed;
    top: -1000px;
    left: -1000px;
}

/* X-SMALL = 480px */
@media only screen and (min-width:30em){}

/* SMALL = 600px */
@media only screen and (min-width:37.5em){
.dmc-contactus {
    margin: 0px;
}
.dmc-contactus .menu-toggle{
    background: #007fc5;
    color: white;
    padding: 8px 20px;
    position: fixed;
    right: 37px;
    top: 170px;

    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -moz-transform: rotate(-90deg);   /* Firefox */
    -ms-transform: rotate(-90deg);   /* IE 9 */
    -o-transform: rotate(-90deg);   /* Opera */
    transform: rotate(-90deg);
    
    transform-origin: right top 0;
    -webkit-transform-origin: 100% 0%;
    
    transition: all 0.3s ease 0s;
    z-index: 100;
}
.dmc-contactus .menu-toggle.open{
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -moz-transform: rotate(-90deg);   /* Firefox */
    -ms-transform: rotate(-90deg);   /* IE 9 */
    -o-transform: rotate(-90deg);   /* Opera */
    transform: rotate(-90deg);
    
    position: fixed;
    -webkit-transform-origin: 100% 0%;
    
    right:237px;
    top: 170px; 
}
.dmc-contactus .menu{
    transition: all 0.3s ease;
    position: fixed;
    top: 170px;
    right: -200px;
    min-height: 135px;
    height: auto;
    width: 200px;
    padding: 5px 10px 0 15px;
    z-index: 99;
    display: block;
    background: none repeat scroll 0 0 #ecf9ff;
}
.dmc-contactus .menu.open{
    right: 0;
    top: 170px;
    height: auto;
    width: 200px;
    display: block;
    border: none;
}
.dmc-contactus .menu-toggle h2{
    color:white;    
}
.dmc-contactus .menu-toggle .arrow.open, .menu-toggle .arrow{
    display:none;   
}
/* Contact Us Variation 2*/
.dmc-contactus.var-2{
    display:none;
}

/* Contact Us Variation 3*/

.dmc-contactus.var-3 .menu-toggle {
    display: block;  
}
.dmc-contactus.var-3 .menu.open {
    display: block;
}

/* Code for IE9 */
.lt-ie10.gt-ie8 .dmc-contactus .menu-toggle,
.lt-ie10.gt-ie8 .dmc-contactus .menu-toggle.open{
    position: fixed;
    top: 216px;
}
.lt-ie10.gt-ie8 .dmc-contactus .menu-toggle{
    right: -45px;
}
.lt-ie10.gt-ie8 .dmc-contactus .menu-toggle.open{
    right: 154px;
}
/*RTL Version of Contact Us*/

.rtl .dmc-contactus .menu-toggle.open {
    top: 293px;
    transform: rotate(-90deg);
    right: auto;
    transform-origin: left top 0;
    left: 200px;
}
.rtl .dmc-contactus .menu-toggle {
    top: 293px;
    right: auto;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    left: 0;
}
.rtl .dmc-contactus .menu {
    left: -200px;
}
.rtl .dmc-contactus .menu.open {
    left: 0;
    right: auto;
}

}
/* MEDIUM = 768px */
@media only screen and (min-width:48em) {}

/* LARGE = 960px */
@media only screen and (min-width:60em) {}

/* X-LARGE = 1024px + */
@media only screen and (min-width:64em) {}
/*!* WEM Responsive Let Us Help (EOT) Component v1.3 */
/*
 * v1.3 Added .ltr class for making specific parts LTR, such as phone numbers.
 * v1.2 overrides for "Primary 5 <h5>" to map to Atlantic "Text Bold"
 * v1.1 multiple Phone numbers styles are added
 * v1.0 version
 */


/* X-SMALL = 480px */
@media only screen and (min-width:30em) {}

/* SMALL = 600px */
@media only screen and (min-width:37.5em) {}

/* MEDIUM = 768px */
@media only screen and (min-width:48em) {}

/* LARGE = 960px */
@media only screen and (min-width:60em) {}

/* X-LARGE = 1024px + */
@media only screen and (min-width:64em) {}


/* BASE */
.dmc-letushelp-eot, .dmc-letushelp-eot * {
   -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}

/* As a standalone component, provide padding and background color. */
.dmc-letushelp-eot {
    background-color: #f5f5f5;
    padding: 20px 10px 30px 10px;
    margin-bottom:20px;
}

/* As a child in the EOT RightRail, inherit padding and background color. */
.cdc-eot .rightRailComponent .dmc-letushelp-eot {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.dmc-letushelp-eot.compact {
    margin-bottom:0px;
}

/* Set the Header to Light */
.dmc-letushelp-eot h3 {
    font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', HelveticaNeueLight, HelveticaNeue, Helvetica, Arial, 'Nimbus Sans L', sans-serif;
}

.dmc-letushelp-eot ul {
    margin-bottom: 0;
}

.dmc-letushelp-eot ul li span.divider {
    color: #ccc;
    margin-left: 5px;
}

/* Style the Chat Now / Contact Us buttons */
.dmc-letushelp-eot .c2c-component {
    margin-bottom: 20px;
}
.dmc-letushelp-eot .c2c-component .c2c-active a,
.dmc-letushelp-eot .c2c-component .c2c-inactive a {
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    border: 1px solid #a4a4a4;
    color: #525252;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 15px;
    display: table;
}

.dmc-letushelp-eot .c2c-component .c2c-active a:hover,
.dmc-letushelp-eot .c2c-component .c2c-inactive a:hover {
    background-color: #ddd;
    text-decoration: none;
}
/* multiple Phone numbers */
.dmc-letushelp-eot ul li a {
    text-decoration:none;
} 
.dmc-letushelp-eot ul li.sub-title {
    margin-bottom: 0;
}   
.dmc-letushelp-eot h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
}    

/* SMALL = 600px */
@media only screen and (min-width:37.5em) {
    .dmc-letushelp-eot {
        padding: 20px 20px 30px 20px;
    }
    .cdc-eot .rightRailComponent .dmc-letushelp-eot {
        padding: 0;
    }
}

html[dir="rtl"] .dmc-letushelp-eot .ltr {
    direction: ltr;
    unicode-bidi: embed;
}

.lt-ie9 .dmc-letushelp-eot {
    padding: 20px 20px 30px 20px;
}
.lt-ie9 .cdc-eot .rightRailComponent .dmc-letushelp-eot {
    padding: 0;
}

/* Color options. */
.dmc-letushelp-eot.pal-1 {
    background-color: #f5f5f5;
}
.dmc-letushelp-eot.pal-1 .c2c-component .c2c-active a,
.dmc-letushelp-eot.pal-1 .c2c-component .c2c-inactive a {
    background-color: #f5f5f5;
    color: #444444;
}
.dmc-letushelp-eot.pal-1 .c2c-component .c2c-active a:hover,
.dmc-letushelp-eot.pal-1 .c2c-component .c2c-inactive a:hover {
    background-color: #dddddd;
}

.dmc-letushelp-eot.pal-2 {
    background-color: #dee8f5;
}
.dmc-letushelp-eot.pal-2 .c2c-component .c2c-active a,
.dmc-letushelp-eot.pal-2 .c2c-component .c2c-inactive a {
    background-color: #0081bf;
    color: #ffffff;
    border: none;
}
.dmc-letushelp-eot.pal-2 .c2c-component .c2c-active a:hover,
.dmc-letushelp-eot.pal-2 .c2c-component .c2c-inactive a:hover {
    background-color: #005791;
}

.dmc-letushelp-eot.pal-3 {
    background-color: transparent;
}
.dmc-letushelp-eot.pal-3 .c2c-component .c2c-active a,
.dmc-letushelp-eot.pal-3 .c2c-component .c2c-inactive a {
    background-color: #32c20a;
    color: #ffffff;
    border: none;
}
.dmc-letushelp-eot.pal-3 .c2c-component .c2c-active a:hover,
.dmc-letushelp-eot.pal-3 .c2c-component .c2c-inactive a:hover {
    background-color: #229e00;
}
/*!* WEM Responsive Let Us Help (EOT) Partner Component v1.3 */
/*
 * v1.3 overrides for "Primary 5 <h5>" to map to Atlantic "Text Bold"
 * v1.2 multiple Phone numbers styles are added
 * v1.1 Updated with the styles of rightRailComponent(class) DIV, it which would overide the current padding
 * v1.0 version
 */


/* X-SMALL = 480px */
@media only screen and (min-width:30em) {}

/* SMALL = 600px */
@media only screen and (min-width:37.5em) {}

/* MEDIUM = 768px */
@media only screen and (min-width:48em) {}

/* LARGE = 960px */
@media only screen and (min-width:60em) {}

/* X-LARGE = 1024px + */
@media only screen and (min-width:64em) {}


/* BASE */
.dmc-letushelp-eot-partner, .dmc-letushelp-eot-partner * {
   -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}

.dmc-letushelp-eot-partner {
    background-color: #f5f5f5;
    padding: 16px 10px 9px;
    margin-bottom: 20px;
    width: 100%;
}
/* As a child in the EOT RightRail, inherit padding and background color. */
.cdc-eot .rightRailComponent .dmc-letushelp-eot-partner {
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.dmc-letushelp-eot-partner.compact {
    margin-bottom: 0;
}
/* Color options. */
.dmc-letushelp-eot-partner.pal-1 {
    background-color: #f5f5f5;
}
.dmc-letushelp-eot-partner.pal-2 {
    background-color: #dee8f5;
}
.dmc-letushelp-eot-partner.pal-3 {
    background-color: transparent;
}

.dmc-letushelp-eot-partner h3 {
    font-family:"HelveticaNeue-Light","Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif
    font-size: 20px;
    color: #525252;
    line-height: 1.25em;
    padding: 0;
    margin: 0 0 12px 0;
}
.dmr.dmc-letushelp-eot-partner ul{
    margin: 0 0 10px 0;
}
.dmc-letushelp-eot-partner ul li {
    font-family: "Helvetica Neue",HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
    font-size: 14px;
    line-height: 1.44em;
    color: #525252;
    padding: 0;
    margin: 0 0 6px 0;
}
.dmc-letushelp-eot-partner ul li a {
    color: #1ba0d7;
    text-decoration: none;
}
.dmc-letushelp-eot-partner ul li span.contact-details{
    line-height: 1.25em;    
}

.dmc-letushelp-eot-partner ul li a.country {
    text-decoration: underline;
}

/* IE8 */
.lt-ie9 .dmc-letushelp-eot-partner {
    padding: 17px 20px 8px;
}
.lt-ie9 .dmc-letushelp-eot-partner h3 {
    font-size: 22px;
    padding: 0;
    margin: 0 0 10px 0;
}
.lt-ie9 .cdc-eot .rightRailComponent .dmc-letushelp-eot-partner {
    padding: 0;
}
.lt-ie9 .dmc-letushelp-eot-partner.pal-1 ul, .lt-ie9 .dmc-letushelp-eot-partner.pal-2 ul, .lt-ie9 .dmc-letushelp-eot-partner.pal-3 ul{
    margin: 0;
}
/* multiple Phone numbers */
.dmc-letushelp-eot-partner ul li a {
    text-decoration:none;
}  
.dmc-letushelp-eot-partner ul li.sub-title {
    margin-bottom: 0;
}  
.dmc-letushelp-eot-partner h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
}   
/* SMALL = 600px */
@media only screen and (min-width:37.5em) {
.dmc-letushelp-eot-partner {
    background-color: #f5f5f5;
    padding: 15px 12px 8px;
}
.cdc-eot .rightRailComponent .dmc-letushelp-eot-partner {
    padding: 0;
}
.dmc-letushelp-eot-partner h3 {
    font-size: 22px;
    padding: 0;
    margin: 0 0 10px 0;
}
}
/* MEDIUM = 768px */
@media only screen and (min-width:48em) {
.dmc-letushelp-eot-partner {
    padding: 17px 20px 8px;
}
.cdc-eot .rightRailComponent .dmc-letushelp-eot-partner {
    padding: 0;
}
}
