body{
	margin:0;
	padding: 0;
}
.sp24-landing-container{
	margin:0 !important;
}
.widget-wrapper {
    margin: 0 !important;
}
.apaFussballWidget {
    padding: 15px;
}
.sidebar .apaFussballWidget {
    margin: 0;
    padding: 0;
}
.sidebar .apaFussballWidget .widget-wrapper {
    margin: 0;
}


/* (bs) 2016-09-28 bei HtmlBoxen dieses zusätzliche Feld verwenden. */
.centerInnerApaDiv .widget-table-wrapper-solo {
    margin: 0 auto;
}

/* (bs) 2016-09-28 bei HtmlBoxen wäre standard weiss, dann sieht man aber nix. */
.makeHeadlineBlack .channelsListHeadline {
    color: #575757;
}
