* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.imgWrapper {
    position: relative;
}

.inputs {
    position: absolute;
    top: 64px;
    left: 580px;
}

.email {
    font-size: 16px;
    width: 320px;
    padding: 3px 0 3px 6px;
}

.submit {
    padding: 7px 9px 6px;
    border: none;

    background-color: #d01010;
    color: #fff;

    cursor: pointer;
}