
@font-face {
	font-family: 'DroidKufi-Regular';
	src: url('../font/DroidKufi-Regular.eot');
	src: url('../font/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/DroidKufi-Regular.woff2') format('woff2'),
		url('../font/DroidKufi-Regular.woff') format('woff'),
		url('../font/DroidKufi-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'icomoon';
    src: url('../font/icomoon.eot?1jql34');
    src: url('../font/icomoon.eot?1jql34#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?1jql34') format('truetype'),
    url('../font/icomoon.woff?1jql34') format('woff'),
    url('../font/icomoon.svg?1jql34#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrowLeft:before {
    content: "\e900";
}

.icon-arrowRight:before {
    content: "\e901";
}

.icon-wave:before {
    content: "\e903";
}

.icon-news:before {
    content: "\e904";
}

