@charset "utf-8";
@font-face {
    font-family: 'BebasRegular';
    src: url('bebas___-webfont.eot');
    src: url('bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebas___-webfont.woff') format('woff'),
         url('bebas___-webfont.ttf') format('truetype'),
         url('bebas___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; background: transparent; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none;}
:focus { outline: 0;}
ins { text-decoration: none;}
del { text-decoration: line-through;}
table { border-collapse: collapse; border-spacing: 0;}
html,body { height:100%;}
body { background:#0888b7; font:62.5% Tahoma, Geneva, sans-serif; color:#636363; text-align: left; }
a { color:#0888b7; text-decoration:none;}
a:hover { color:#0888b7; text-decoration:underline;}

#height-all { min-width:1000px; min-height:100%; _height:100%;}

/* header /////////////////////////// */
#header-bg { background:url(../images2/header-bg.png) 0 0 repeat-x;}
#header { position:relative; width:1000px; padding-bottom:46px; margin:0 auto; }
#header-glow { min-height:180px; background:url(../images2/header-glow.jpg) 50% 3px no-repeat;}
#header .logo { float:left; padding:13px 0 4px 5px;}
#header .logo img { display:block;}
#header #h_links { float:right; width:560px; padding:13px 22px 0 0; text-align:right; }
#search-h { position:absolute; top:91px; right:20px; height:32px; padding:0 10px 0 0; background:url(../images2/search-h-bg.png) 100% -32px no-repeat; text-align:right; }
#search-h-in { height:24px; line-height:24px; padding:5px 0 3px 10px; background:url(../images2/search-h-bg.png) 0 0 no-repeat;}
#search-h .t { float:left; padding-right:4px;  font:normal 16px/24px 'BebasRegular', Tahoma, Geneva, sans-serif;  color:#fff; text-shadow: 1px 2px 3px #04669b;}
#search-h .input-s input { width:126px;}
#search-h .btn-s { }
#search-h .links { float:left; height:27px; line-height:27px; padding-left:7px; font-size:12px; color:#fff; text-shadow: 1px 1px #cc5609;}
#search-h .links a { font-weight:bold; color:#fff; text-decoration:underline;}
#search-h .links a:hover { color:#fff; text-decoration:none;}
#menu-main { clear:both; width:960px; height:54px; padding:0 0 0 2px; margin:0 auto; background:url(../images2/menu-main-li.png) 0 0 no-repeat; list-style:none;}
#menu-main li { float:left; padding-right:2px; background:url(../images2/menu-main-li.png) 100% 0 no-repeat;}
#menu-main a { float:left; width:158px; height:54px; background:url(../images2/menu-main-a.png) 0 -54px no-repeat; font:normal 30px/50px 'BebasRegular', Tahoma, Geneva, sans-serif; color:#129dc4; text-decoration:none; text-shadow:1px 1px #fff; text-align:center; text-transform:uppercase;}
#menu-main a:hover, #menu-main .active a { background-position:0 0; color:#f1f1f1; text-shadow:3px 0px 3px #358b02;}
#menu-main .active a { cursor:default;}

/* content /////////////////////////// */
#content { width:898px; min-height:300px; margin:0 auto; font-size:12px; }

.c1-box { position:relative; background:#ebebeb; zoom:1; }
.c1-l-t, .c1-l-b, .c1-r-t, .c1-r-b, .c1-l, .c1-r, .c1-t, .c1-b { position:absolute; width:9px; height:9px; line-height:0; font-size:0;}
.c1-l-t { left:-9px; top:-9px; background:url(../images2/c1-l-t.png);}
.c1-l-b { left:-9px; bottom:-9px; background:url(../images2/c1-l-b.png);}
.c1-r-t { right:-9px; top:-9px; background:url(../images2/c1-r-t.png);}
.c1-r-b { right:-9px; bottom:-9px; background:url(../images2/c1-r-b.png);}
.c1-l { left:-9px; top:0; bottom:0; height:100%; background:url(../images2/c1-l.png);}
.c1-r { right:-9px; top:0; bottom:0; height:100%; background:url(../images2/c1-r.png);}
.c1-t { width:100%; left:0; right:0; top:-9px; background:url(../images2/c1-t.png);}
.c1-b { width:100%; left:0; right:0; bottom:-9px; background:url(../images2/c1-b.png);}
.title-c1 { padding-left:4px; margin:0 -8px 15px -8px; background:url(../images2/title-c1-bg.png) 0 0 no-repeat;  }
.title-c1 .in { display:block; height:30px; background:url(../images2/title-c1-bg.png) 100% 0 no-repeat; font:normal 24px/28px 'BebasRegular', Tahoma, Geneva, sans-serif; color:#0888b7;}
.c2-box { position:relative; background:#f2f2f2; zoom:1; }
.c2-l-t, .c2-l-b, .c2-r-t, .c2-r-b, .c2-l, .c2-r, .c2-t, .c2-b { position:absolute; width:4px; height:4px; line-height:0; font-size:0;}
.c2-l-t { left:-4px; top:-4px; background:url(../images2/c2-l-t.png);}
.c2-l-b { left:-4px; bottom:-4px; background:url(../images2/c2-l-b.png);}
.c2-r-t { right:-4px; top:-4px; background:url(../images2/c2-r-t.png);}
.c2-r-b { right:-4px; bottom:-4px; background:url(../images2/c2-r-b.png);}
.c2-l { left:-4px; top:0; bottom:0; height:100%; background:url(../images2/c2-side.png);}
.c2-r { right:-4px; top:0; bottom:0; height:100%; background:url(../images2/c2-side.png);}
.c2-t { width:100%; left:0; right:0; top:-4px; background:url(../images2/c2-side.png);}
.c2-b { width:100%; left:0; right:0; bottom:-4px; background:url(../images2/c2-side.png);}

.c3-box {}
.c1-box .c3-box { margin:4px;}
.c3-box-info { font-size:11px; color:#0888b7;} 
.icon-info { float:left; width:8px; height:8px; margin:3px 7px 2px 4px; background:url(../images2/icon-info.png) no-repeat; line-height:0; font-size:0;}

#search-option { margin-bottom:23px; }
#search-option .c1-box { padding:14px 10px 10px 25px;}
#search-option .t { float:left; height:26px; line-height:24px; padding-right:8px; font-family:Tahoma, Geneva, sans-serif; font-weight:bold; color:#636363;}
#search-option .select { float:left; padding-right:28px;}

.block_listing { width:893px; margin:0 auto 33px auto; }
.block_listing .c2-l-t, .block_listing .c2-r-t { background:#f2f2f2; }
.cat_listing { padding:11px 5px 5px 9px;}
.block_listing .cat_listing  { display:none;}
.block_listing .box_active { display:block; }  
.menu_listing { overflow:hidden; margin:0 -9px 0 -9px; list-style:none; zoom:1; }
.menu_listing li { float:left;}
.menu_listing li a { float:left; height:44px;  font:normal 24px/44px 'BebasRegular', Tahoma, Geneva, sans-serif; color:#f3f3f3; text-decoration:none; text-shadow:1px 1px #000; text-align:center; text-transform:uppercase;}
.menu_listing_1 a { width:325px; background:url(../images2/menu_listing_li_1.png) 0 -44px no-repeat;}
.menu_listing_2 a { width:260px; background:url(../images2/menu_listing_li_2.png) 0 -44px no-repeat;}
.menu_listing_3 a { width:325px; background:url(../images2/menu_listing_li_3.png) 0 -44px no-repeat;}
.menu_listing li a:hover { color:#fff; text-shadow:1px 1px #000; text-decoration:none;}
.menu_listing li a.active { background-position:0 0 !important; color:#129dc4; text-shadow:1px 1px #fff; cursor:default; }
.cat_listing .paginator { padding-top:11px; padding-left:4px;}
.cat_item { float:left; width:172px; padding-top:5px; margin:0 1px 3px 2px; background:url(../images2/cat_item_bg.png) 0 0 no-repeat; font-size:11px; }
.cat_item .bg { padding:0 6px 8px 5px; background:url(../images2/cat_item_bg.png) 0 100% no-repeat; zoom:1;}
.cat_item a { font-weight:bold; }
.cat_item .pic { display:block; padding-bottom:3px;}
.cat_item .textbg { display:table; width:160px; padding-top:3px; margin-bottom:3px; background:url(../images2/cat_item_textbg.png) 0 0 no-repeat;}
.cat_item .textbg .textbg-in { padding:0 2px 3px 4px; background:url(../images2/cat_item_textbg.png) 0 100% no-repeat; zoom:1;}
.cat_item .pic img { display:block;}
.cat_item .time { float:right; margin:0 0 0 2px; font-size:11px; font-weight:bold; color:#0888b7;}
.cat_item .t { font-size:11px;}
.cat_item .view { float:right;}
.cat_item .date { display:block; padding-bottom:2px;}
.cat_item .user { display:block;}

.paginator { clear:both; overflow:hidden; padding-bottom:4px; zoom:1;}
.paginator li { float:left; padding-right:3px; list-style:none;}
.paginator li a { float:left; width:25px; height:25px; line-height:25px; background:url(../images2/paginator-li.png) 0 -25px no-repeat; font-size:13px; font-weight:bold; color:#fff; text-align:center; text-decoration:none; }
.paginator li a:hover { background-position:0 -50px; color:#fff; text-decoration:none; }
.paginator li span { float:left; width:25px; height:25px; line-height:25px; background:url(../images2/paginator-li.png) 0 0 no-repeat; font-size:13px; font-weight:bold; color:#fff; text-align:center; text-decoration:none; }

.video-full { padding-bottom:12px; margin:0 -41px; }
.video-full .pic-big { position:relative; padding-bottom:3px;}
.video-full .pic-big img { display:block;}
.video-full .pic-big .t { position:absolute; top:11px; left:8px; max-width:950px; padding:5px 10px 6px 10px;  background:url(../images2/white-75.png) repeat; font:bold 12px Tahoma, Geneva, sans-serif; color:#0888b7; -moz-border-radius: 3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px; }
.video-full-menu { overflow:hidden; zoom:1; margin-left:-2px; list-style:none;}
.video-full-menu li { float:left; padding-left:2px; }
.video-full-menu .btn { float:left; width:243px; height:40px; background:url(../images2/video-full-btn.png) no-repeat; font:normal 24px/38px 'BebasRegular', Arial, Helvetica, sans-serif; letter-spacing:-1px; color:#0888b7; text-decoration:none; text-align:center; text-transform:uppercase; }
.icon-player-small, .icon-player-big, .icon-embed, .icon-related, .icon-cinema-on, .icon-cinema-off { display:inline-table; *display:inline; width:24px; height:25px; margin-right:8px; background-position:0 100%; background-repeat:no-repeat; zoom:1; vertical-align:middle;}
.icon-player-small { background-image:url(../images2/icon-player-small.png);}
.icon-player-big { background-image:url(../images2/icon-player-big.png);}
.icon-embed { background-image:url(../images2/icon-embed.png);}
.icon-related { background-image:url(../images2/icon-related.png);}
.icon-cinema-on { background-image:url(../images2/icon-cinema-on.png);}
.icon-cinema-off { background-image:url(../images2/icon-cinema-off.png);}

.video-full-info { padding-bottom:18px; margin:0 -35px; }
.video-full-info .c1-box { padding:11px 5px 11px 5px;}
.video-full-info .col-left { float:left; width:448px;}
.video-full-info .col-left .col1 { float:left; width:224px; padding-left:6px;}
.video-full-info .col-left .col2 { float:left; width:200px}
.video-full-info .col-right { float:left; width:495px;}
.video-full-info .t { display:block; padding:0 0 12px 2px; margin-bottom:15px; background:url(../images2/hr-1.png) 0 100% repeat-x; font-size:13px;}
.video-full-info .row { padding-bottom:6px; }
.video-full-info .row .label { float:left; height:25px; line-height:25px; padding-right:15px;}
.video-full-info .row .label-t { float:left; width:40px; height:25px; line-height:25px; padding-right:5px;}
.video-full-info .col-left .col2 .input-1 input { width:69px;}

#pre-download-block { padding-bottom:15px; margin:0 -27px; } 
#pre-download-block .c1-box { min-height:238px; padding:15px 5px 19px 5px; text-align:center;}
#pre-download-block .t { display:block; padding-bottom:26px; font:normal 36px 'BebasRegular', Arial, Helvetica, sans-serif; color:#0888b7;}
#pre-download-block .loading { padding:20px 0 49px;}
#pre-download-block .btn-box { width:300px; margin:0 auto;}
#pre-download-block .btn-box input { width:250px;}

#upload_block { padding-bottom:20px; margin:0 -24px; zoom:1;}
#upload_block .col-left { float:left; width:603px;}
#upload_block .col-left .c1-box { padding:1px 8px 8px 8px; margin-bottom:31px;}
#upload_block .col-right { float:right; width:317px;}
#upload_block .col-right .c1-box { padding:1px 8px 8px 8px; margin-bottom:31px;}
#upload_block .c1-box .formrow { padding:0 0 5px 5px; margin-right:-5px; zoom:1; }
.formrow .label { float:left; width:76px; padding-top:5px;}
.formrow .info { float:left; padding-top:5px; font-size:10px; color:#777;} 
#upload_block .width-1 input { width:491px;}
#upload_block .width-2 input { width:274px;}
#upload_block .width-3 { float:left; width:495px;}
.form-upload { padding-left:5px;}
.form-upload .choice { padding-bottom:10px;}
.form-upload .choice label { margin-right:52px; }
.form-upload .choice label input { margin-left:0; padding-left:0;}
.form-upload .file { display:block; width:100%; margin-bottom:9px;}
.form-upload .info { padding-bottom:7px; font-size:11px; color:#777;}
.form-upload .tos { padding-bottom:7px; font-size:11px;}
.form-upload .tos input { margin:0 3px 0 0; padding-left:0;}
.ul_cat_list { float:left; width:50%; padding:1px 0 14px 0; list-style:none; font-size:11px; }
.ul_cat_list li { padding:0 10px 1px 2px;}
.ul_mem_list { float:left; width:50%; padding:8px 0 27px 0; list-style:none; font-size:11px; font-weight:bold; zoom:1;}
.ul_mem_list li { padding:0 10px 5px 2px;}
.ul_mem_list li .icon-tick-mini { margin-right:5px;}
.icon-tick-mini { display:inline-block; *display:inline; width:10px; height:10px; background:url(../images2/icon-tick-mini.png) 0 50% no-repeat; line-height:0; font-size:0; zoom:1; }

#features_block { padding-bottom:35px;}
#features_block .c1-box { padding:3px 6px 8px 6px; }
#features_block h2 { padding:0 0 2px 2px; font:bold italic 30px Arial, Helvetica, sans-serif; color:#777;  }
.table-3 { width:100%; margin-bottom:5px; border-collapse:collapse;}
.table-3 thead { font:bold italic 18px Arial, Helvetica, sans-serif; color:#db6200;}
.table-3 thead td.td-1 { background:#f0e2a9; border-left:solid 1px #f2f2f2; }
.table-3 thead td.td-2 { background:#f1ebc8; border-left:solid 1px #f2f2f2; }
.table-3 td { text-align:center; padding:8px; font-weight:bold;}
.table-3 .odd td { background:#fff09b;}
.table-3 .odd td.td-1 { background:#f9e16c; border-left:solid 1px #fff09b; }
.table-3 .odd td.td-2 { background:#fcea82; border-left:solid 1px #fff09b; }
.table-3 .even td { background:#f2f2f2;}
.table-3 .even td.td-1 { background:#f0e2a9; border-left:solid 1px #f2f2f2; }
.table-3 .even td.td-2 { background:#f1ebc8; border-left:solid 1px #f2f2f2; }
.table-3 .t { text-align:left; font-weight:normal; }


.format_block { padding-bottom:30px;}
.format_block .c1-box { padding:14px 100px 10px 100px; }
.format_block .c1-box .hr { margin:0 -30px 11px -30px;} 
.format_block .c1-box h2 { margin-left:-20px;}
.format h2 { padding-bottom:14px; font:bold italic 30px Arial, Helvetica, sans-serif; color:#777; }
.format p, .format table { margin-bottom:15px;}
.format ul, .format ol { padding-left:20px; padding-bottom:6px; font-weight:bold;}
.format ul li, .format ol li { padding-bottom:9px;}
.format ul .in, .format ol .in { font-weight:normal;}
.table-1 { width:100%; vertical-align:top; }
.table-2 { width:100%; }
.table-2 .tr-1 td { padding-bottom:3px;}
.box_yellow { padding:8px; background:#fff09b; border:solid 1px #f5bc5a; vertical-align:top; }
.box_yellow .t { display:block; padding-bottom:14px; font-size:13px; font-weight:bold;}
.box_yellow p { margin-bottom:0;}


#plans_block { position:relative; top:-24px; padding-bottom:20px; margin: 0 -28px; zoom:1;}
#plans_block .c1-benefits { float:right; margin:4px 4px 0 0; padding: 8px 9px;}
#plans_block .c1-benefits ul { min-height:95px; *min-height:88px;}
#plans_block .c1-benefits .btn-big-reg { position:relative; left:6px; *left:2px; zoom:1;}
.plan_box { float:left; width:152px; height:251px; margin-right:5px;}
.plan_box_1 { background:url(../images2/plan_box_1_bg.png) no-repeat;}
.plan_box_2 { background:url(../images2/plan_box_2_bg.png) no-repeat;}
.plan_box .in { padding:10px 10px 5px 10px;}
.plan_box .period { display:block; padding-bottom:11px; font:bold italic 30px Arial, Helvetica, sans-serif; text-align:center; }
.plan_box_1 .period { color:#777; text-shadow:1px 1px #f8f8f8;}
.plan_box_2 .period { color:#dc6b0b; text-shadow:1px 1px #ffe4a8;}
.plan_box .price { display:block; width:128px; height:20px; margin:0 auto 27px auto; text-align:center; font:bold 13px/20px Arial, Helvetica, sans-serif; color:#fff; text-shadow:1px 1px #4d4c4b;}
.plan_box_1 .price { background:url(../images2/plan_box_1_price.png) no-repeat;}
.plan_box_2 .price { background:url(../images2/plan_box_2_price.png) no-repeat;}
.plan_box ul { display:block; min-height:95px; list-style:none; font-size:11px;}
.plan_box ul li { padding:0 0 4px 14px;}
.plan_box_1 ul li { background:url(../images2/icon-tick-1.png) 0 3px no-repeat;}
.plan_box_2 ul li { background:url(../images2/icon-tick-2.png) 0 3px no-repeat;}
.plan_box .btn-2-1 { margin:5px 0 0 -5px; } 
.plan_box .btn-2-2 { margin:10px 0 0 -5px; } 

.ads_3col { padding-bottom:35px; margin:0 -40px; zoom:1; }
.ads_3col .box { float:left; width:300px; padding:5px 5px 5px 5px; margin:0 8px;  background:url(../images2/ads_bg_300x250.png) no-repeat;}


/* footer /////////////////////////// */
#footer-space { height:112px; }
#footer { min-width:1000px; height:112px; margin-top:-112px; font-size:11px; }
#footer-in { position:relative; width:964px; margin:0 auto; padding:10px 0 0 0; zoom:1; }
#footer .logo { float:left; padding-right:16px;}
#footer .ul-f { float:left; width:110px; padding:12px 0 0 0; list-style:none; font-size:11px; font-weight:bold;}
#footer .ul-f li { padding:0 0 5px 12px; background:url(../images2/ul-f-li.png) 0 3px no-repeat;} 
#footer .ul-f li a { color:#fff; text-decoration:none;}
#footer .ul-f li a:hover { color:#fff; text-decoration:underline;}
#footer .copyrights { position:absolute; top:0; right:23px; font-size:20px; font-weight:bold; color:#1dbad8; }

/* */
.clear { clear:both;}
.overflow { overflow:hidden; zoom:1;}
.bold { font-weight:bold;}
.hr { clear:both; height:2px; margin-bottom:11px; background:url(../images2/hr-1.png) repeat-x; line-height:0; font-size:0;}

.link_1 { display:inline-block; *display:inline; zoom:1; margin-right:4px; background:url(../images2/link_1_bg.png) 0 0 no-repeat; color:#0888b7; text-decoration:none;} 
.link_1 span { position:relative; display:block; height:25px; left:5px; padding:0 5px 0 2px; background:url(../images2/link_1_bg.png) 100% -25px no-repeat; font:normal 16px/25px 'BebasRegular', Tahoma, Geneva, sans-serif; cursor:pointer; } 
.link_1:hover { color:#0888b7; text-decoration:none;}

.input-s { float:left; padding-right:4px; margin-right:5px; background:url(../images2/input-s.png) 100% 0 no-repeat;}
.input-s input { float:left; height:18px; padding:3px 0 3px 4px; background:url(../images2/input-s.png) 0 0 no-repeat; border:none; font:normal 12px/18px 'BebasRegular', Arial, Helvetica, sans-serif; color:#000;}
.input-1 { float:left; padding-left:3px; margin-right:5px; background:url(../images2/input-1.png) 0 0 no-repeat;}
.input-1 input { float:left; height:18px; padding:4px 2px 3px 7px; background:url(../images2/input-1.png) 100% 0 no-repeat; border:none; font:bold 12px/18px Tahoma, Geneva, sans-serif; color:#0888b7;}
.input-2 { float:left; padding-left:3px; margin-right:5px; background:url(../images2/input-2.png) 0 0 no-repeat;}
.input-2 input { float:left; height:16px; padding:3px 5px 2px 3px; background:url(../images2/input-2.png) 100% 0 no-repeat; border:none; font:normal 12px/16px Arial, Helvetica, sans-serif; color:#434343;}

.btn-s { float:left; padding-left:3px; margin-right:5px; background:url(../images2/btn-s.png) 0 0 no-repeat;}
.btn-s input { float:left; overflow:visible; height:24px; padding:0 3px 2px 0px; margin:0; background:url(../images2/btn-s.png) 100% 0 no-repeat; border:none; font:normal 16px/25px 'BebasRegular', Tahoma, Geneva, sans-serif; color:#0888b7; cursor:pointer;}
.btn-1 { display:inline-block; *display:inline; zoom:1; padding-left:3px; margin-right:5px; background:url(../images2/btn-1.png) 0 0 no-repeat;}
.btn-1 input { display:inline-block; *display:inline; zoom:1; overflow:visible; height:25px; padding:0 15px 2px 12px; background:url(../images2/btn-1.png) 100% 0 no-repeat; border:none; font:bold 12px/25px Tahoma, Geneva, sans-serif; color:#fff; cursor:pointer;}
.btn-2-1 { display:inline-block; *display:inline; zoom:1; padding-left:8px; margin-right:5px; background:url(../images2/btn-2-1.png) 0 0 no-repeat;}
.btn-2-1 input { display:inline-block; *display:inline; zoom:1; overflow:visible; height:40px; padding:0 13px 2px 5px; background:url(../images2/btn-2-1.png) 100% 0 no-repeat; border:none; font:bold 18px Arial, Helvetica, sans-serif; color:#fff; text-shadow:1px 1px #da8a44; cursor:pointer;}
.btn-2-2 { display:inline-block; *display:inline; zoom:1; padding-left:4px; margin-right:5px; background:url(../images2/btn-2-2.png) 0 0 no-repeat;}
.btn-2-2 input { display:inline-block; *display:inline; zoom:1; overflow:visible; height:32px; padding:0 13px 2px 9px; background:url(../images2/btn-2-2.png) 100% 0 no-repeat; border:none; font:bold 18px Arial, Helvetica, sans-serif; color:#db6200; text-shadow:1px 1px #eaeaea; cursor:pointer;}


.btn-big {display:inline-block; *display:inline; zoom:1; padding-left:8px; margin-right:5px; background:url(../images2/btn-big.png) 0 0 no-repeat;}
.btn-big input, .btn-big a { display:inline-block; *display:inline; zoom:1; overflow:visible; height:56px; padding:0 25px 2px 17px; background:url(../images2/btn-big.png) 100% 0 no-repeat; border:none; font:normal 30px/52px 'BebasRegular', Arial, Helvetica, sans-serif; color:#fff; text-shadow:1px 1px 3px #000; text-align:center; cursor:pointer;}
.btn-big input { padding-bottom:5px;}
.btn-big a:hover { text-decoration:none;}
.btn-big-reg a { width:250px;}
.btn-big2 {display:inline-block; *display:inline; zoom:1; padding-left:8px; margin-right:5px; background:url(../images2/btn-big2.png) 0 0 no-repeat;}
.btn-big2 input, .btn-big2 a { display:inline-block; *display:inline; zoom:1; overflow:visible; height:48px; padding:0 25px 2px 17px; background:url(../images2/btn-big2.png) 100% 0 no-repeat; border:none; font:bold 24px/48px Arial, Helvetica, sans-serif; color:#db6200; text-shadow:1px 1px 3px #eaeaea; text-align:center; cursor:pointer;}
.btn-big2 a:hover { text-decoration:none;}
.btn-big-dsbl {display:inline-block; *display:inline; zoom:1; padding-left:8px; margin-right:5px; background:url(../images2/btn-big-dsbl.png) 0 0 no-repeat;}
.btn-big-dsbl input, .btn-big-dsbl a { display:inline-block; *display:inline; zoom:1; overflow:visible; height:56px; padding:0 25px 2px 17px; background:url(../images2/btn-big-dsbl.png) 100% 0 no-repeat; border:none; font:normal 30px/52px 'BebasRegular', Arial, Helvetica, sans-serif; color:#0888B7; text-shadow:1px 1px 3px #fff; text-align:center; cursor:wait;}
.btn-big-dsbl input { padding-bottom:5px;}
.btn-big-dsbl a:hover { text-decoration:none;}

.textarea-1 { display:block; overflow:auto; width:490px; height:88px; padding:10px; background:url(../images2/textarea-1.png) no-repeat; border:none; font:bold 12px/18px Arial, Helvetica, sans-serif; color:#0888b7;}
.textarea-2 { display:block; overflow:auto; width:490px; height:30px; padding:5px 5px; background:url(../images2/textarea-2.png) no-repeat; border:none; font:normal 12px Arial, Helvetica, sans-serif; color:#434343;}

/*selects*/
.select-area { cursor:default; height:24px; display:inline-block; $display:inline; zoom:1; vertical-align:middle; background:url(../images2/select-bg.png) repeat-x; font-family:Arial, Helvetica, sans-serif;}
.select-area .select-area-left { width:7px; height:24px; float:left; background:url(../images2/select-left.png) no-repeat; }
.select-area .select-area-right { width:17px; height:24px; float:right; background:url(../images2/select-right.png) 100% 0 no-repeat; }
.select-area .select-area-center { color:#0888b7; height:24px; font-size:12px; font-weight:bold; line-height:24px; overflow:hidden; white-space:nowrap; }
/*Selects options*/
.select-options-invisible, .select-options-visible { position:absolute; background:#fff; z-index:20; border:1px solid #dcdee7; overflow:auto; }
.select-options-invisible { display:none; }
.select-options-visible { cursor:default; display:block; list-style-type:none; padding:0 !important; }
.select-options-visible li { margin:0; padding:1px 5px !important; font-size:12px; line-height:1.2em !important; background:none !important; color:#414141; }
.select-options-visible li.select-option-hovered { background-color:#e0e8f1 !important; color:#28b2ec; }
.select-options-visible li.select-option-selected { background-color:#28b2ec !important; color:#fff; }




.overlay-bg { position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%; min-width: 100%; min-height:100%; background:#000000; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; z-index:99;}
#form_table { padding: 2px; margin: 1px; margin: 0 auto; }
#form_table #form_td, #form_table td { padding: 2px; margin: 1px; }
#down_ads { position:absolute; right: -310px; }

