html.one #wrapper #header {
  border-top: 6px solid #075290!important;
}

html.one #wrapper .about_list {
  margin-left:25px!important;
}

.blue_gradient {
  background: #105daa !important;
  /* Old browsers */
  background: -moz-linear-gradient(top, #105daa 0%, #0e5091 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #105daa), color-stop(100%, #0e5091)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #105daa 0%, #0e5091 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #105daa 0%, #0e5091 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #105daa 0%, #0e5091 100%) !important;
  /* IE10+ */
  background: linear-gradient(to bottom, #105daa 0%, #0e5091 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#105daa', endColorstr='#0e5091', GradientType=0) !important;
  /* IE6-9 */
}
.light-blue {
  background: #e8f1fa;
}

.margin-left{
  margin-left-left: 5px !important;
}

.light-gray{
  background: #F0F0F0;
}

.noShadow {
  box-shadow: none !important;
}
.noborder {
  border: none !important;
}
.lastChild_news {
  border-bottom: none !important;
  margin-bottom: 0px !important;
}
.module-tools {
  display: none!important;
}
h2 {
  line-height: 45px;
}
#wrapper #header {
  border-top: 30px solid #075290!important;
}
#wrapper .second-row .module-typeA {
  border: none!important;
  overflow: visible!important;
}
#wrapper .second-row .module-typeA .somemore {
  background: #075290 !important;
}
.spanish-link {
  text-align: right;
  padding: 0 10px;
  position: relative;
  /*margin-top: 10px;*/
  top: -26px;
  background-color: #075290;
}
.spanish-link .icon-globe {
  margin-right: 5px;
  color: #FFF;
}
.spanish-link a {
  color: #fff!important;
  text-transform: capitalize;
}
.spanish-link a img {
  margin-right: 4px;
}
#branding-logo img {
  float: left;
}

#branding-logo span,
#branding-logo p,
#branding-logo h1 {
  display: none;
}

.three #logo img,
.three #logo a {
    float: none;
}

.three #logo img {
  /*height: 100%;*/
}

.latest-tweets {
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.13);
}
.latest-tweets .span8 .row {
  margin-top: 8px;
}
.latest-tweets .span3 img {
  margin-top: 25px;
}
.latest-tweets .span5 img {
  margin-top: 25px;
}
.latest-tweets p {
  margin-right: 5px!important;
}
.arrow-box {
  position: relative;
  background: #88b7d5;
  height: 40px;
}
.arrow-box:after {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #88b7d5;
  border-width: 40px;
  top: 50%;
  margin-top: -85px;
}
.theme-blue .titlebar {
  background: #075290;
  height: 50px;
  max-height: 50px;
  overflow: visible!important;
}
.theme-blue .titlebar > span {
  font-size: 18px;
  color: #ffffff;
  display: inline-block;
  margin: 15px;
  margin-right: 20px;
}
      
.theme-blue .titlebar li.dropdown > a {
  border: 1px solid #075290;
}
.theme-blue .titlebar a:focus {
  /*outline: none!important;
  border: none!important;*/
  border: 1px solid #FFA500 !important;
}

a:focus {
}

.directors-corner {
  padding: 20px!important;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.13);
  background: #cfe1f3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cfe1f3 0%, #ebf2f9 12%, #ebf2f9 71%, #fcfdfe 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cfe1f3), color-stop(12%, #ebf2f9), color-stop(71%, #ebf2f9), color-stop(100%, #fcfdfe));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cfe1f3 0%, #ebf2f9 12%, #ebf2f9 71%, #fcfdfe 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cfe1f3 0%, #ebf2f9 12%, #ebf2f9 71%, #fcfdfe 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cfe1f3 0%, #ebf2f9 12%, #ebf2f9 71%, #fcfdfe 100%);
  /* IE10+ */
  background: linear-gradient(top, #cfe1f3 0%, #ebf2f9 12%, #ebf2f9 71%, #fcfdfe 100%);
  /* W3C */
}
.directors-corner h2 {
  line-height: 20px;
}
.directors-corner h4 {
  line-height: 18px;
}
.no-bullets li {
  list-style: none;
  margin: 8px 0;
}
.box_typeH {
  min-height: 300px;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  background: #FFF;
}

.box_typeH p {
  padding: 15px 5px 20px;
  display: table-cell;
}

.box_typeH .description a{
  text-decoration: none !important;
  color: #000 !important;
}

.box_typeH .morelink {
  padding: 0 15px 0 0;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  color: #075290 !important;
}
.box_typeH .morelink a {
  margin-right: 5px;
  text-decoration: none !important;
}
.box_typeH .morelink a:hover {
  text-decoration: underline !important;
}
.mask {
  position: relative;
}
.mask img {
  border-bottom: 3px solid #e1b75a;
}
.topic-blurb {
  display: block;
  background: #e1b75a;
  position: absolute;
  width: 72px;
  text-align: center;
  color: #000;
  /*bottom: -10px;*/
  left: -5px;
  top: 90%;
}

/*Whats New*/
.Whats_new {
  /*padding: 10px 0;*/
}
/*.hiden {
  visibility: visible;
}*/
.what_new_title {
  font-weight: bold;
}


/*CDC in Action*/

.cdc_action .well{
  padding: 10px;
}

.cdc_action img {
  float: left;
  margin-top: 10px;
}
.cdc_action .twenty-four-seven,
.cdc_action .cdc_museum {
  padding: 10px;
}

.cdc_action .twenty-four-seven h2, .cdc_action .cdc_museum h2{
  padding-left: 15px !important;
}

.cdc_action .twenty-four-seven li {
  border-bottom: 1px solid #96b7da;
}
.cdc_action ul {
  margin: -10px 0 !important;
}
.cdc_action h2 {
  margin: -5px 0 !important;
  border: none !important;
}

.outbreak_module{
  border-top: 1px solid #085100 !important;
}

.news_outbreaks {
  padding-bottom: 0px !important;
  border-top: 1px solid #075290;
}

.news_outbreaks_title{
  font-size: 22px;
  line-height: 50px;
}
#body .news_outbreaks_title a {
  text-decoration: none;
}
.news_outbreaks .module {
  position: relative;
}
.news_outbreaks .module h2 {
  font-size: 22px !important;
  border-bottom: 1px solid #a9d386 !important;
  margin-top: -10px;
}
.news_outbreaks .news_outbreaks_data li {
  list-style: none;
  margin: 15px 0;
  overflow: hidden;
  /*border-bottom: 1px dashed #c6c6c6;*/
}
/*.news_outbreaks .news_outbreaks_data li a {
  display: table-row-group;
}*/
.news_outbreaks img {
  float: left;
  margin-right: 15px;
}

.news_outbreaks_data a {
    display: table-cell;
}


.news_outbreaks .custom_date {
  display: table-caption;
  margin: 0 20px 0px 0px !important;
  text-align: center;
  float: left;
}
.news_outbreaks .custom_date li {
  list-style: none;
  color: #075290;
  text-align: center;
  border-bottom: none;
  margin: 0 !important;
}
.news_outbreaks .custom_date .day {
  font-size: 28px;
  font-weight: bold;
}
.news_outbreaks .custom_date .month {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}
.news_outbreaks .custom_date .year {
  font-size: 14px;
  line-height: 14px;
}
.news_outbreaks .custom_date p {
  clear: both !important;
}
.news_outbreaks .time_stamp {
  color: #7e7e7e;
  font-size: 12px;
  text-transform: uppercase;
  float: left;
}
.more_news{
  margin: 10px 20px;
}
.more_news ul{
  padding: 0;
  margin: 0;
}
.more_news li {
  list-style: none;
  display: inline;
  float: right;
  border-bottom: none !important;
}
.about_cdc {
  margin-top: 20px;
}
.about_cdc .bar {
  background: #075290;
  height: auto;
}
.about_cdc .title {
  margin-top: 20px;
  background: #075290;
}
.about_cdc h2 {
  color: #FFF !important;
  margin-left: 5px;
  line-height: 32px;
}
.about_cdc h3 {
  padding-left: 10px;
}
.about_cdc img {
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  border-radius: 250px;
  margin: 10px 15px 10px auto;
}
.about_cdc .morelink a {
  margin-right: 10px;
  color: #075290 !important;
}
.about_cdc .homepage_mod {
  min-height: 280px;
  margin: 20px -2px;
  padding: 0 5px !important;
  overflow: hidden;
  -webkit-box-shadow: inset -2px 0px 0px 0px #b4d1ec, inset 2px 0px 0px 0px #b4d1ec;
  -moz-box-shadow: inset -2px 0px 0px 0px #b4d1ec, inset 2px 0px 0px 0px #b4d1ec;
  box-shadow: inset -2px 0px 0px 0px #b4d1ec, inset 2px 0px 0px 0px #b4d1ec;
}
.about_cdc .homepage_mod .morelink {
  clear: both;
  color: #075290;
  padding: 0 15px 0 0;
  float: left;
  margin-left: 10px;
}
.about_cdc .homepage_mod h4 {
  font-weight: 600;
  font-size: 14px;
}
.about_cdc .tweets,
.about_cdc .latest_dr {
  margin-left: 10px;
}
.about_cdc .tweets h4,
.about_cdc .latest_dr h4 {
  margin: 0;
}
.about_cdc .tweets ul,
.about_cdc .latest_dr ul {
  margin: 0;
}
.about_cdc .tweets li,
.about_cdc .latest_dr li {
  list-style: none;
}
.about_cdc .tweets .tweet_date,
.about_cdc .latest_dr .tweet_date {
  float: left;
  color: #424242;
  font-size: 12px;
}

.about_cdc .icon-retweet,
.about_cdc .latest_dr .icon-retweet,
.about_cdc .icon-reply,
.about_cdc .latest_dr .icon-reply {
  font-size: 24px;
}

.about_cdc .tweets .retweet img,
.about_cdc .latest_dr .retweet img,
.about_cdc .tweets .reply img,
.about_cdc .latest_dr .reply img {
  margin: 0;
  border-radius: 0;
  line-height: 12px;
}

.about_cdc .tweets .post,
.about_cdc .latest_dr .post {
  clear: left;
  font-size: 1.4rem;
  line-height: 1.5em;
}
.about_cdc .tweets .post .trend,
.about_cdc .latest_dr .post .trend {
  color: #075290;
}

.about_cdc div.retweet,
.about_cdc div.reply {
  padding: 5px;
  display: inline-block;
}

.about_cdc div.retweet a,
.about_cdc div.reply a {
 text-decoration: none;
}

.about_cdc .latest_dr .morelink {
  margin: 0;
}
.about_cdc .dr_frieden {
  float: right;
  text-align: center;
  position: relative;
}
.about_cdc .dr_frieden ul {
  clear: both;
  margin: 0;
}
.about_cdc .dr_frieden li {
  margin: 0;
  line-height: 1.5em;
  text-align: center;
}
.about_cdc .dr_frieden .headline {
  clear: both;
}
.border-top-bottom {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}
.border-top-bottom > span {
  font-size: 18px;
}
.border-top-bottom + section,
.border-top-bottom + div {
  padding-left: 0!important;
}
.links img {
  margin: 15px;
}
.twitter-mod p {
  border-bottom: 1px dotted #c0c0c0;
}
.spacey {
  min-height: 50px;
  height: 50px;
  max-height: 50px;
}
.second-row img {
  height: 130px;
  margin-top: 15px;
  -webkit-box-shadow: 0px 2px 5px rgba(7, 82, 144, 0.75);
  box-shadow: 0px 2px 5px rgba(7, 82, 144, 0.75);
  margin-bottom: 20px;
}
.second-row > div {
  height: 315px;
  position: relative;
}
.second-row .morelink,
.second-row .somemore {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.ds {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 0;
}
.outbreak {
  font-size: 18px;
}
.bb .morelink {
  margin-right: 30px !important;
}
.ts {
  font-size: 9px;
  color: #404040;
}
span.heading {
  font-size: 16px;
  font-weight: 700;
}
.features div.img {
  width: 244px;
  height: 71px;
  overflow: hidden;
}
.features img {
  width: 244px;
  height: 171px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.features img:hover {
  background: rgba(0, 0, 0, 0.4);
  width: 344px;
  height: 171px;
}
.btb {
  border-top: 1px dotted #c0c0c0;
  border-bottom: 1px dotted #c0c0c0;
  padding: 3px 0;
}
.bb {
  border-bottom: 1px dotted #c0c0c0;
  padding: 3px 0;
  float: left;
  width: 100%;
}
.bbl {
  border-bottom: 1px dotted #ffffff;
  padding: 3px 0;
  float: left;
  width: 100%;
}
.span16.bg {
  margin-left: 20px;
  padding: 20px;
  background: #f0f0f0;
}
.dr-frieden h5 {
  margin-bottom: 0;
}
.dr-frieden span {
  font-size: 12px;
  font-weight: 700;
}
.third-row .padtop {
  padding-top: 30px!important;
}
.third-row .padbottom {
  padding-bottom: 30px!important;
}
.third-row .bg {
  background: #D9E7F5;
  padding: 10px;
}
.third-row .bg .row {
  margin-left: 5px;
  margin-top: 20px;
}
.third-row .img {
  margin-bottom: 20px;
}
.socialmediabar a span[class*="sprite-"] {
  display: inline-block;
}
.stories h3 {
  font-size: 17px!important;
}
.stories .module {
  padding-bottom: 10px!important;
  margin-bottom: 10px!important;
}
.stories .bg {
  padding-top: 10px!important;
  background: #f0f0f0;
}
.stories div.faded {
  display: none;
  border: 3px solid red;
  position: relative;
  bottom: 4em;
  height: 4em;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
.socialmedia-block {
  background: #ffffff;
}
.socialmedia-block > span {
  border-bottom: 1px solid #c0c0c0;
}
.socialmedia-block > span + span {
  height: 150px;
  min-height: 150px;
  display: block;
}
.homepage-ul-links {
  padding: 0;
}
.homepage-ul-links > div {
  margin: 0;
  padding: 0!important;
}
.homepage-ul-links ul {
  margin: 0;
}
.homepage-ul-links ul li {
  padding: 10px 0!important;
}
.yamm .navbar-inner {
  background: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.yamm .navbar-inner .brand,
.yamm .navbar-inner .nav > li > a {
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0;
}

.yamm .navbar-inner .brand,
.yamm .navbar-inner .nav > li > a:focus {
  /*border:1px solid #FFA500 !important;*/
  border-color: #FFA500;
}

.yamm .dropdown-menu {
  margin-top: -3px;
  margin-left: -1px;
}
.yamm.navbar {
  margin-bottom: 0;
}
.featurearea .span5 {
  margin-left: 10px;
}
.featurearea .sub-features {
  height: 332px;
}
.featurearea .sub-features .span5 {
  margin-bottom: 5px;
  cursor: pointer;
}
.featurearea .sub-features .span5 img {
  height: 107px;
  width: 245px;
  max-width: 245px;
}
.featurearea .sub-features .span5 p {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  width: 225px;
  height: 15px;
  padding: 10px;
  margin-top: -35px;
}

.feature-image-caption {
  position: absolute;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  width: 895px;
  margin-top: -75px;
  height: 35px;
  overflow: hidden;
}
.feature-image-caption p {
  color: #ffffff;
}
.feature-image-caption span:first-child {
  font-size: 20px;
  display: block;
}
.feature-image-caption:hover {
  margin-top: -332px;
  height: 292px;
}
.feature-image-caption .morelink {
  float: right;
  font-weight: 700;
}
.feature-image-caption .morelink a {
  font-weight: 700;
  color: #ffffff !important;
  margin-right: 5px;
}
.feature-image-caption .morelink span {
  font-weight: 700;
  font-size: 18px;
}
/*VP4*/
@media screen and (min-width: 1200px) {
  body{
    /*background: url('/Templatepackage/3.0/images/homepage/homepage_gradient.jpg') repeat-x !important;*/
		background: url('/Templatepackage/3.0/images/homepage/homepage_gradient.jpg');
		background-size: 16px 950px;
		background-repeat: repeat-x;
  }
  .main_feature .hidden-one {
    visibility: visible;
  }
  .main_feature .hidden-two {
    display: none;
  }
  .menu-hidden{
    display: none !important;
  }
  .second-child-from-hidden{
    border-top: none !important;
  }

  .cdc_museum img{
    /*float: left;
    margin-top: 10px;*/
  }

  .draft{
    position: absolute;
    top: 4%;
    left: 40%;
  }

}

/*VP3*/
@media screen and (min-width: 980px) and (max-width: 1199px) {
  body{
    /*background: url('/Templatepackage/3.0/images/homepage/homepage_gradient_vp3.jpg') repeat-x !important;*/
		background: url('/Templatepackage/3.0/images/homepage/homepage_gradient.jpg');
		background-size: 16px 880px;
		background-repeat: repeat-x;
  }
  .feature-image-caption {
    bottom: 74px;
  }
  .main_feature .hidden-one {
    visibility: visible;
  }
  .main_feature .hidden-two {
    display: none;
  }
  .box_typeH {
    min-height: 290px;
  }
  .cdc_action img {
    display: block;
    margin: 10px auto;
    float: none;
  }
  .cdc_action .twenty-four-seven {
    clear: both;
  }

  .cdc_museum img{

    display: block;
    margin-right: 10px;

    padding: 0 !important;
  }

  .menu-hidden-vp3{
    display: none;
  }

  .about_cdc .homepage_mod {
    min-height: 330px;
  }

  .draft{
    position: absolute;
    top: 4%;
    left: 40%;
  }
}

/*VP2*/
@media screen and (min-width: 768px) and (max-width: 979px) {
	#header .titlebar {
		height: 6px;
		min-height: 6px;
		max-height: 6px;
	}

	#logo {
		width: auto!important;
	}

  body{
    /*background: url('/Templatepackage/3.0/images/homepage/homepage_gradient_vp2.jpg') repeat-x !important;*/
		background: url('/Templatepackage/3.0/images/homepage/homepage_gradient.jpg');
		background-size: 16px 805px;
		background-repeat: repeat-x;
  }
  .feature-image-caption {
    bottom: 69px;
  }
  .main_feature {
    background: url('/Templatepackage/3.0/images/homepage/main_feature_734x268.jpg') no-repeat;
    height: 268px;
  }

  .box_typeH {
    min-height: 285px;
  }
  .more_news {
    position: relative !important;
    clear: both;
    top: 0 !important;
  }
  .news_outbreaks_data {
    clear: both;
  }
  .cdc_action img {
    display: block;
    margin: 0 auto;
    float: none !important;
  }

  .cdc_museum img{

  }

  .cdc_action .twenty-four-seven {
    clear: both;
  }

  .about_cdc .homepage_mod {
    min-height: 470px;
  }
  .homepage_mod img {
    clear: both;
    float: none;
    display: block;
    margin: 0 auto;
  }
  .homepage_mod .about_list {
    margin-top: 40px;
    padding-left: 5px;
  }

  .homepage_mod .abuot_list ul{
    margin-right: 0 0 10px 25px !important;
  }

  .dr_frieden {
    float: none !important;
  }
  .dr_frieden img {
    clear: both;
  }

  .draft {
    float: right;
    left: 40%;
    top: 10%;
  }

}

/*VP1*/
@media (max-width: 767px) {
	#header .titlebar {
		height: 6px;
		min-height: 6px;
		max-height: 6px;
	}
  .feature-image-caption {
    bottom: 75px;
  }
  .box_typeH {
    min-height: 100px;
  }

  .box_typeH p {
    padding: 0px 5px 20px;
  }

  .box_typeH img{
    /*max-width: 35% !important;*/
  }

  .mask img {
    float: left !important;
    padding: 5px !important;
    max-width: 150px !important;
    width: 150px !important;
    border: none;
  }
  .mask a {
    text-decoration: none!important;  /* prevent underline on ribbons */
  }
  .topic-blurb {
    /*margin-top: 17%;*/
    margin-top: 75px;  /* many devices don't understand percents as measurements, approximating with 100px */
    padding: 0 10px;
    text-decoration: none!important;   /* prevent underline on ribbons */
  }
  .cdc_action img {
    display: block;
    margin: 0 auto;
    float: none !important;
  }
  .cdc_action .twenty-four-seven {
    clear: both;
  }
  .box_typeH {
    clear: both;
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
  }
  .more_news {
    position: relative !important;
    clear: both;
    top: 0 !important;
  }
  .news_outbreaks_data {
    clear: both;
  }
  .about_cdc .homepage_mod {
    border-right: none;
    border-left: none;
    box-shadow: none;
    border-bottom: 1px solid #B4D1EC;
  }

  .about_cdc img{
    width: 120px;
  }

  .draft {
      top: 10%;
      text-align: center;
  }

  .footer_logos{
    width: 100% !important;
    text-align: center;
  }

  .footer_logos ul{
    padding: 0 !important;
    margin-left: 0 !important;
  }

  #language-option{
    width: 100px;
    float: right;
  }

  #language-option i{
    color: #075290 !important;
  }
}

/* Smartphones (portrait) ----------- */
@media (max-width: 370px) {
/*  #language-option{
    margin-top: 10px;
  }

  .mask img {
    max-width: 40% !important;
  }*/
}

.navbar .open {
  margin-top: -2px;
  -webkit-box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.13);
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.13);
}
.navbar .nav li.dropdown.open > .dropdown-toggle {
  background: #D9E7F5!important;
  color: #000!important;
  margin: 0;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret {
  border-top-color: #000!important;
  border-bottom-color: #000!important;
}
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: #075290;
  color: #fff;
}
.navbar .nav > li > a {
  text-shadow: none!important;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar .brand {
  text-shadow: none!important;
}
.border-bottom {
  border-bottom: 1px solid #c0c0c0;
}
.border-bottom > span {
  font-size: 18px;
}

.btn-ribbon-blue{
  background: #075290;
  width: 110px;
  height: 20px;
  color: #FFF;
  padding: 2px 5px;
  text-align: right;
  position: relative;
  line-height: 20px;
  margin: 5px 10px;
}

.btn-ribbon-blue:after {
  position: absolute;
  content:"";
  position:absolute;
  left: 100%;
  top: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 12.5px 0 12.5px 10px;
  border-color: transparent transparent transparent #075290;
}

.btn-ribbon-orange{
  background: #f37422;
  width: auto;
  height: 20px;
  color: #FFF;
  padding: 2px 5px;
  text-align: right;
  position: relative;
  line-height: 20px;
  margin: 5px 10px;
}

.btn-ribbon-orange:after {
  position: absolute;
  content:"";
  position:absolute;
  left: 100%;
  top: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 12.5px 0 12.5px 10px;
  border-color: transparent transparent transparent #f37422;
}

.btn-ribbon-green{
  background: #085100;
  width: auto;
  height: 20px;
  color: #FFF;
  padding: 2px 5px;
  text-align: right;
  position: relative;
  line-height: 20px;
  margin: 5px 10px;
}

.btn-ribbon-green:after {
  position: absolute;
  content:"";
  position:absolute;
  left: 100%;
  top: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 12.5px 0 12.5px 10px;
  border-color: transparent transparent transparent #085100;
}

.btn-ribbon-green a, .btn-ribbon-blue a, .btn-ribbon-orange a{
  color:#FFF !important;
  text-decoration: none !important;
}

.btn-ribbon-green a:hover, .btn-ribbon-blue a:hover, .btn-ribbon-orange a:hover{
  text-decoration: underline !important;
  color: #000;
}

.btn-ribbon-green .icon-angle-right, .btn-ribbon-blue .icon-angle-right, .btn-ribbon-orange .icon-angle-right{
  padding-left: 5px;
}

.news_outbreak_button{
  margin:5px 0;
}

 .somemore_orange{
  background: #f37422 !important;
  font-weight: normal !important;
}
 .somemore_green{
  background: #085100 !important;
}

.somemore_light_blue{
  background: #075290 !important;
  font-weight: normal !important;
}

.clear-both{
  clear: both;
}
.last-child-dotted{
  border-bottom: 1px dotted #C0C0C0;
}

.draft h2{
  color: #EA3441;
  font-size: 35px;
}

/*Footer custom*/

.footer_logos{
  width: 325px;
}

.footer_logos li{
  display: inline;
}

/*.footer_logos img{
  max-width: 70%;
}*/

#masthead {
  overflow: visible;
}


