﻿.module-custom {
}

    .module-custom .module-custom-title {
        color: #084371;
        float: left;
        font-size: 26px;
        padding-bottom: 11px;
        padding-left: 0;
        width: 60%;
    }

    .module-custom .module-custom-body {
        border-top: 1px solid #dadada;
        padding: 10px 0;
    }
