﻿.footer {
    margin-top: 75px;
    line-height: 1;
}


    .footer .footer-top {
        background: #ebebeb;
        border-top: 1px solid #f3f3f3;
        padding: 24px 0;
        width: 100%;
        min-width: 1060px;
    }



        .footer .footer-top .container .bottom-search-box {
            width: 365px;
        }

            .footer .footer-top .container .bottom-search-box .title {
                font-family: open_sansbold;
                font-size: 14px;
                color: #656565;
                margin-bottom: 15px;
            }

            .footer .footer-top .container .bottom-search-box .src-area {
                clear: both;
            }

                .footer .footer-top .container .bottom-search-box .src-area input[type="text"] {
                    width: 212px;
                    height: 40px;
                    line-height: 40px;
                    border: 1px solid #d3d3d3;
                    padding: 0 18px;
                    color: #c5c5c5;
                    background: #ffffff;
                    float: left;
                    border-radius: 0;
                }

                    .footer .footer-top .container .bottom-search-box .src-area input[type="text"]:focus {
                        color: #b3b2b2;
                    }

                .footer .footer-top .container .bottom-search-box .src-area input[type=submit] {
                    background: url("/Content/teknosa/images/ico-search.png") no-repeat scroll center center #47434b;
                    height: 42px;
                    width: 60px;
                    border-left: 0;
                    border-right: 1px solid #929094;
                    border-bottom: 1px solid #929094;
                    border-top: 1px solid #929094;
                    cursor: pointer;
                    float: left;
                }

                    .footer .footer-top .container .bottom-search-box .src-area input[type=submit]:hover {
                        background-color: #252327;
                    }

        .footer .footer-top .container .visited-products {
            width: 695px;
            position: relative;
        }










    .footer .footer-center {
        background: #f4f4f4;
        padding: 40px 0;
        width: 100%;
        min-width: 1060px;
    }

        .footer .footer-center .help-list {
            margin-right: 50px;
        }

            .footer .footer-center .help-list a {
                display: block;
                border-bottom: 1px solid #d9d9d9;
                padding: 13px 0 25px 60px;
                margin-bottom: 13px;
                position: relative;
                color: #135284;
                font-size: 18px;
                text-decoration: none;
                width: 170px;
            }

                .footer .footer-center .help-list a:hover {
                    color: #ef7e20;
                    text-decoration: underline;
                }

                .footer .footer-center .help-list a:last-child {
                    border: none;
                }

                .footer .footer-center .help-list a i {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    top: 0;
                    width: 45px;
                    height: 44px;
                    display: block;
                }

                .footer .footer-center .help-list a.mhz {
                    color: #47444b;
                    padding-bottom: 13px;
                }

                    .footer .footer-center .help-list a.mhz:hover {
                        color: #ef7e20;
                        text-decoration: underline;
                    }

                    .footer .footer-center .help-list a.mhz span {
                        display: block;
                    }

                        .footer .footer-center .help-list a.mhz span.title {
                            font-size: 16px;
                            margin-bottom: 5px;
                        }

                        .footer .footer-center .help-list a.mhz span.number {
                            font-size: 24px;
                            font-family: open_sanssemibold;
                        }

                    .footer .footer-center .help-list a.mhz i {
                        background: url("/Content/teknosa/images/footer-help-list-icon.png") no-repeat top;
                        top: 16px;
                    }

                .footer .footer-center .help-list a.shops i {
                    background: url("/Content/teknosa/images/footer-help-list-icon.png") no-repeat 0 -44px;
                }

                .footer .footer-center .help-list a.help-center i {
                    background: url("/Content/teknosa/images/footer-help-list-icon.png") no-repeat 0 -88px;
                }

                .footer .footer-center .help-list a.guarantee i {
                    background: url("/Content/teknosa/images/footer-help-list-icon.png") no-repeat 0 -132px;
                }

                .footer .footer-center .help-list a.contact-us i {
                    background: url("/Content/teknosa/images/footer-help-list-icon.png") no-repeat 0 -176px;
                }


        .footer .footer-center .newsletter-area {
            width: 371px;
            padding: 0 5px;
            border-right: 1px solid #d9d9d9;
            border-left: 1px solid #d9d9d9;
            margin-right: 30px;
        }

            .footer .footer-center .newsletter-area .banner {
                margin-bottom: 10px;
            }

            .footer .footer-center .newsletter-area p {
                font-size: 20px;
                color: #47444b;
                padding: 0 30px;
                line-height: 26px;
                margin-bottom: 15px;
            }

                .footer .footer-center .newsletter-area p strong {
                    font-family: open_sanssemibold;
                }


            .footer .footer-center .newsletter-area .send-eposta {
                padding: 0 30px;
            }

                .footer .footer-center .newsletter-area .send-eposta input[type="text"] {
                    width: 270px;
                    height: 47px;
                    line-height: 47px;
                    border-radius: 3px;
                    border: 1px solid #cdcdcd;
                    padding: 0 20px;
                    color: #c5c5c5;
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                .footer .footer-center .newsletter-area .send-eposta .button {
                    font-family: open_sanssemibold;
                    font-size: 18px;
                    cursor: pointer;
                }

                .footer .footer-center .newsletter-area .send-eposta input[type="text"]:focus {
                    color: #b3b2b2;
                }

        .footer .footer-center .site-map {
            width: 360px;
        }




/* Menü */

.footer-top .bottom > div {
    padding: 0 20px;
}

    .footer-top .bottom > div .module-item {
        margin-right: 20px;
        width: 165px;
    }


        .footer-top .bottom > div .module-item .module-menu-title {
            color: #47444b;
            font-size: 13px;
            font-weight: normal;
            margin: 0 0 8px;
            padding: 0;
            font-family: open_sanssemibold;
        }

        .footer-top .bottom > div .module-item ul {
            list-style: none outside none;
        }

            .footer-top .bottom > div .module-item ul li {
                list-style-type: none;
                line-height: 16px;
            }

                .footer-top .bottom > div .module-item ul li a {
                    color: #6b676f;
                    font-size: 12px;
                    text-decoration: none;
                    font-family: open_sansregular;
                    font-weight: normal;
                }




    .footer-top .bottom > div .last .module-item {
        width: 260px;
    }

        .footer-top .bottom > div .last .module-item ul li {
            display: inline-block;
            width: 125px;
            font-family: "open_sanssemibold",Arial,sans-serif;
        }

            .footer-top .bottom > div .last .module-item ul li a {
                font-family: "open_sanssemibold",Arial,sans-serif;
            }


/* footer horizontal*/
.footer .footer-top .horizontal {
}

    .footer .footer-top .horizontal .module-menu-title {
        font-family: open_sansbold;
        font-size: 14px;
        color: #656565;
        margin-bottom: 10px;
    }

    .footer .footer-top .horizontal .module-menu-body {
        padding: 0;
    }

        .footer .footer-top .horizontal .module-menu-body ul {
            margin: 0;
            padding: 0;
        }

            .footer .footer-top .horizontal .module-menu-body ul li {
                display: inline-block;
                width: 128px;
                padding-right: 7px;
                font-size: 14px;
                margin-bottom: 5px;
            }

                .footer .footer-top .horizontal .module-menu-body ul li a {
                    display: block;
                    color: #5f5d62;
                    text-decoration: none;
                }

                    .footer .footer-top .horizontal .module-menu-body ul li a:hover {
                        color: #ef7e20;
                        text-decoration: underline;
                    }


        .footer .footer-top .horizontal .module-menu-body ul li.footer-firsat-urunleri {
            top: 75px;
            right: 23px;
        }




.footer .footer-center .site-map .item .module-menu-title {
    font-family: open_sansbold;
    font-size: 14px;
    color: #656565;
    margin-bottom: 15px;
}

.footer .footer-center .site-map .item .module-menu-body {
    padding: 0;
}

    .footer .footer-center .site-map .item .module-menu-body ul {
        margin: 0;
        padding: 0;
    }

        .footer .footer-center .site-map .item .module-menu-body ul li {
            margin-bottom: 8px;
        }

            .footer .footer-center .site-map .item .module-menu-body ul li a {
                color: #797979;
                text-decoration: none;
                display: block;
            }

                .footer .footer-center .site-map .item .module-menu-body ul li a:hover {
                    color: #ef7e20;
                    text-decoration: underline;
                }

                .footer .footer-center .site-map .item .module-menu-body ul li.clear {
                    display: inline-block;
                }

.footer .footer-center .site-map .item.dark {
    margin-bottom: 0;
}
.footer .footer-center .site-map .item.dark .module-menu-body ul li a {
    color: #47444b;
}

.footer .footer-center .site-map .item.dark .module-menu-body ul li.clear {
    display: inline;
}

/* footer menu end*/



.footer .footer-bottom {
    position: relative;
    margin-top: 24px;
    width: 100%;
    min-width: 1060px;
}

    .footer .footer-bottom .mobile-band {
        border-bottom: 1px solid #eceded;
        padding-bottom: 25px;
    }

        .footer .footer-bottom .mobile-band .slogan {
            font-family: open_sanslight;
            color: #a1a1a1;
            font-size: 24px;
        }

            .footer .footer-bottom .mobile-band .slogan i {
                font-size: 28px;
                color: #d1d1cd;
                margin-right: 55px;
            }

        .footer .footer-bottom .mobile-band .mobile-icons {
        }

            .footer .footer-bottom .mobile-band .mobile-icons .item {
                margin-right: 15px;
            }

        .footer .footer-bottom .mobile-band .social-icons {
        }

            .footer .footer-bottom .mobile-band .social-icons a {
                width: 36px;
                height: 35px;
                display: block;
                margin-left: 25px;
            }

                .footer .footer-bottom .mobile-band .social-icons a.twitter {
                    background: url("/Content/teknosa/images/social-icons-v2.png") no-repeat center -35px;
                }

                .footer .footer-bottom .mobile-band .social-icons a.facebook {
                    background: url("/Content/teknosa/images/social-icons-v2.png") no-repeat center top;
                }

                .footer .footer-bottom .mobile-band .social-icons a.instagram {
                    background: url("/Content/teknosa/images/social-icons-v2.png") no-repeat center -70px;
                }

    .footer .footer-bottom .payment {
        margin: 15px 0 35px 0;
    }

    .footer .footer-bottom .copyright {
        border-top: 3px solid #273b88;
        color: #6b676f;
        font-size: 11px;
        padding: 20px 0;
        position: relative;
    }



        .footer .footer-bottom .copyright .sa-logo {
            background-image: url("/Content/teknosa/images/sa-logo.png");
            background-position: left top;
            background-repeat: no-repeat;
            width: 39px;
            height: 20px;
            position: absolute;
            margin-left: -19px;
            top: -10px;
            left: 50%;
        }



.footer .footer-center .site-map .left {
    width: 210px;
}


    .footer .footer-center .site-map .left:last-child {
        width: 150px;
    }


.footer .footer-center .site-map .item {
    margin-bottom: 10px;
    width: 175px;
    padding-right: 5px;
}

.footer .footer-center .site-map .item.livechat .module-custom-body {
    border: none!important;
    padding: 0 !important;
    color: #47444b;
    font-size: 12px;
}

.footer .footer-center .site-map .item.livechat .module-custom-body a {
    color: #47444b;
    text-decoration: none;
    font-size: 12px;
}

.footer .footer-center .site-map .item.livechat .module-custom-body a:hover {
    text-decoration: underline;
}

/* kampanya haberdar et popup */

.newsletter-container {
    background: #f2f2f2;
    padding: 25px;
    height: auto;
}



    .newsletter-container .message {
        font-size: 18px;
        font-family: open_sanssemibold;
        margin-bottom: 5px;
        line-height: normal;
    }

    .newsletter-container.result .message {
        margin-top: 70px;
    }

    .newsletter-container .form-line {
        width: 470px;
        margin-bottom: 30px;
        padding-top: 20px;
    }

    .newsletter-container .form-line .left,
    .newsletter-container .form-line .right {
        position: relative;
        width:230px;
    }

    .newsletter-container .form-line .left input[type="text"],
    .newsletter-container .form-line .right input[type="text"] {
        min-width:168px;
        padding: 15px 35px 15px 10px;
    }

    .newsletter-container .form-line .left input[type="text"].error,
    .newsletter-container .form-line .right input[type="text"].error {
        border-color: #ef3820!important;
        background:#fff url("../../../Assets/img/icon-error.png") no-repeat;
        background-position: 183px center;
    }


    .newsletter-container .form-line .left label.error,
    .newsletter-container .form-line .right label.error {
        color: #ef3820;
        font-size: 12px;
        position: absolute;
        bottom: -30px;
        font-family: 'open_sanssemibold';
    }

    .newsletter-container .info {
        color: #ef7e20;
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
        display: inline-block;
    }

    .newsletter-container .contactLine {
        position: relative;
        padding-left: 24px;
        margin: 20px 0;
        font-size: 14px;
        color: #6b676f;
    }

    .newsletter-container .contactLine a {
        text-decoration: underline;
        color: #6b676f;
        display: inline-block!important;
    }


    .newsletter-container .contactLine .teknosa-checkbox {
        position: absolute;
        left: 0;
    }

    .newsletter-container .contactLine .contractText {
        position: relative;
        z-index: 999;
    }

    .newsletter-container .contactLine .teknosa-checkbox .error {
        color: #ef3820;
        font-size: 12px;
        font-family: "open_sanssemibold";
        width: 400px;
        margin-left: 23px;
    }

    .newsletter-container .contactDetailText {
        width: 500px;
        background: #fff;
        height: 45px;
        padding: 10px;
        font-size: 12px;
        overflow: auto;
        margin-left: 23px;
        border: 1px solid #cdcdcd;
        border-radius: 5px;
        position: relative;
        margin-top: -13px;
        margin-bottom: -10px;
        display: none;
    }

    .newsletter-container .buttons {
        width: 330px;
        margin: 30px auto 0;
    }

        .newsletter-container .buttons.center .w-170 {
            margin: 0 auto;
        }

        .newsletter-container .buttons .button {
            font-size: 24px;
            font-family: open_sansbold;
        }

        .newsletter-container .buttons .no-thanks {
            font-size: 14px;
            color: #b3b3b3;
            text-decoration: underline;
            cursor: pointer;
            margin: 18px 0 0 20px;
        }




/* kampanya haberdar et popup */
