﻿@font-face {
    font-family: 'open_sanslight';
    src: url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Light-webfont.eot');
    src: url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Light-webfont.woff') format('woff'), url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Regular-webfont.eot');
    src: url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Regular-webfont.woff') format('woff'), url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Semibold-webfont.eot');
    src: url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Bold-webfont.eot');
    src: url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Bold-webfont.woff') format('woff'), url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('//img-assets-teknosa.mncdn.com/Content/teknosa/fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: open_sansregular;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both !important;
}


.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

/*Buttons*/

.button {
    display: block;
    -ms-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    border: 0;
    color: #ffffff;
    font-family: 'open_sanssemibold';
    text-decoration: none;
}

    .button a {
        text-decoration: none;
    }

    /*Sizes*/
    .button.w-120 {
        width: 120px;
    }

    .button.w-170 {
        width: 170px;
    }

    .button.w-180 {
        width: 180px;
    }

    .button.h-35 {
        height: 35px;
        line-height: 35px;
    }

    .button.h-40 {
        height: 40px;
        line-height: 40px;
    }

    .button.h-50 {
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }

    .button.h-60 {
        height: 60px;
        line-height: 60px;
    }

    /* Button Color */

    .button.orange {
        background-color: #ef7e20;
        color: #FFFFFF;
    }

    .button.darkOrange {
        background-color: #ff5206;
        color: #FFFFFF;
    }

    .button.btn-secondary {
        background-color: #3db97d;
    }

    .button.gray {
        background-color: #d0d0d0;
    }

    .button.green {
        background-color: #6fb93e;
        color: #FFFFFF;
    }

    .button.btn-secondary:hover {
        background: #27ad6c;
    }


/*Sperator*/
.module-left-separator {
    background-image: url("/Content/teknosa/images/module-left-separator.png");
    background-repeat: repeat-y;
    background-position: left top;
    position: absolute;
    top: 0;
    right: -5px;
    height: 100%;
    width: 5px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

/* Scroll Top*/

.topcontrol {
    display: none;
}

    .topcontrol .backToTop {
        bottom: 100px;
        cursor: pointer;
        height: 50px;
        margin: 5px;
        position: fixed;
        right: 70px;
        width: 50px;
        z-index: 1000 !important;
        font-size: 34px;
        color: transparent;
        background-image: url("/Content/teknosa/images/top.png");
        background-position: left top;
        background-repeat: no-repeat;
    }

/*FancyBox*/
.fancybox-skin {
    background-color: #ffffff;
}

.fancybox-item.fancybox-close {
    background-image: url("/Content/teknosa/images/lt-close.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 37px;
    height: 36px;
    top: 24px;
    right: 24px;
}

/*Alert*/
.teknosa-alert-container {
    background-color: #ebeded;
    display: block;
    height: 100%;
}

    .teknosa-alert-container.alert-success {
    }

    .teknosa-alert-container.alert-info {
    }

    .teknosa-alert-container.alert-error {
    }

    .teknosa-alert-container .teknosa-alert-icon {
        width: 90px;
        height: 90px;
        margin-left: 50px;
        margin-top: 105px;
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    .teknosa-alert-container .teknosa-alert-success {
        background-image: url("/Content/teknosa/images/alert-success.png");
    }

    .teknosa-alert-container .teknosa-alert-info {
        background-image: url("/Content/teknosa/images/alert-info.png");
    }

    .teknosa-alert-container .teknosa-alert-error {
        background-image: url("/Content/teknosa/images/alert-error.png");
    }

    .teknosa-alert-container .teknosa-alert-message {
        color: #6b676f;
        font-family: open_sansbold;
        font-size: 20px;
        line-height: 20px;
        padding-top: 124px;
        padding-left: 50px;
        text-align: left;
        vertical-align: middle;
        max-width: 635px;
        min-width: 200px;
    }


/* LayzLoad */
.lazy {
    display: none;
}


/* Timer */

#ramazanSayac .ramazan-key {
    text-align: center;
    font-size: 16px;
    padding-top: 7px;
    font-family: "open_sansregular";
    color: #821500;
}

#ramazanSayac .ramazan-value {
    text-align: center;
    font-size: 34px;
    color: #000000;
    width: 51px;
    font-family: "open_sanssemibold";
}

#ramazanSayac .ramazan-sp {
    text-align: center;
    font-size: 34px;
    width: 15px;
}

/* Timer*/



/* standart input styles*/

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    border-radius: 3px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    font-family: 'open_sanssemibold';
    font-size: 14px;
    color: #47444b;
    border: 2px solid #bebdbf;
    background-color: #fff;
    padding: 10px 25px 12px 20px;
    border-radius: 3px;
    transition: border 0.2s linear 0s;
}

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus {
        border-color: #ef7e20;
        outline: 0;
        outline: thin dotted \9; /* IE6-9 */
    }

label {
    color: #47444b;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 5px;
}
/* standart input styles*/


/* tooltip style */


.ui-tooltip {
    position: absolute;
    background: #fff;
    border: 1px solid #aaa9a7 !important;
    font-size: 13px;
    color: #47444b;
    line-height: 20px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(51, 50, 50, 0.6) !important;
    -moz-box-shadow: 0px 0px 9px 0px rgba(51, 50, 50, 0.6) !important;
    box-shadow: 0px 0px 9px 0px rgba(51, 50, 50, 0.6) !important;
    padding: 10px 15px !important;
}

    .ui-tooltip:after, .ui-tooltip:before {
        right: 100%;
        top: 50%;
        border: 1px solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .ui-tooltip:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fff;
        border-width: 8px;
        margin-top: -8px;
    }

    .ui-tooltip:before {
        border-color: rgba(170, 169, 167, 0);
        border-right-color: #aaa9a7;
        border-width: 9px;
        margin-top: -9px;
    }


/* tooltip style */


/*Dropdown*/

.dropdown-150 {
    width: 150px;
}

div.teknosa-dropdown-div {
    color: #243863;
    min-width: 55px !important;
    background-color: transparent !important;
    display: block;
    font-size: 14px;
}

    div.teknosa-dropdown-div a {
        border: 1px solid #cdcdcd;
        color: #ababab;
        display: block;
        height: 37px;
        line-height: 37px;
        overflow: hidden;
        padding: 0;
        text-decoration: none;
        white-space: nowrap;
        background: none repeat-x !important;
        background-color: #FFFFFF !important;
        cursor: pointer;
        position: relative;
        text-shadow: 1px 1px 0 #FFFFFF;
        width: 100%;
        border-radius: 4px;
    }

        div.teknosa-dropdown-div a span {
            display: block;
            margin: 0 26px 0 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        div.teknosa-dropdown-div a div {
            display: block;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 30px;
        }

            div.teknosa-dropdown-div a div b {
                background: transparent url("/Content/teknosa/images/chosen-sprite.png") no-repeat center;
                display: block;
                height: 24px;
                width: 100%;
                margin-top: 7px;
                margin-right: 5px;
            }

        div.teknosa-dropdown-div a.active {
        }

            div.teknosa-dropdown-div a.active div b {
            }

div.teknosa-drop {
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    display: none;
    position: absolute;
    margin: -3px 0 0 0;
    background-color: #ffffff;
    z-index: 999999 !important;
    *z-index: 999999 !important;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

    div.teknosa-drop ul {
        margin: 0 5px;
        padding: 0;
        display: block;
        background-color: #e3e3e3;
        border-top: 1px solid #dadada;
    }

        div.teknosa-drop ul li {
            padding: 8px;
            cursor: pointer;
            display: block;
            line-height: 15px;
            margin: 0;
            background-color: #FFFFFF;
            border-bottom: 1px solid #FFFFFF;
            min-height: 15px;
            overflow: hidden;
            color: #959595;
        }

            div.teknosa-drop ul li.none {
                color: #959595;
                text-decoration: line-through;
            }

            div.teknosa-drop ul li.block {
                color: #959595 !important;
                font-weight: bold;
            }

            div.teknosa-drop ul li:hover {
                background-color: #f1f1f1;
                color: #959595 !important;
            }

            div.teknosa-drop ul li.teknosadropdown-select {
                background-color: #f1f1f1;
                color: #959595 !important;
            }

div.teknosa-drp-item {
    overflow: auto;
    position: relative;
    z-index: 99999;
}

div.teknosa-drop-search {
    color: #999999 !important;
    padding: 5px;
    position: relative;
    font-size: 14px !important;
}

    div.teknosa-drop-search > div {
        position: absolute;
        padding: 5px;
        line-height: 25px;
        cursor: text;
        left: 7px;
        top: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    div.teknosa-drop-search input[type=text] {
        color: #666666 !important;
        line-height: 14px;
        padding: 5px;
    }

.mCustomScrollBox .mCSB_scrollTools {
    width: 10px !important;
}

.mCSB_container {
    margin-right: 0 !important;
    width: auto !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background: #e0e0e0 !important;
}

.mCSB_dragger .mCSB_dragger_bar {
    background: #656565 !important;
}

/*Dropdown*/


/* Checkbox */
div.teknosa-checkbox {
    width: 15px;
    height: 14px;
    position: relative;
    line-height: 14px;
    margin: 0 auto;
    color: #bebdbf !important;
    background: #ffffff;
    border-radius: 4px;
}

    div.teknosa-checkbox span {
        font-size: 19px;
        margin-top: -2px;
    }

.fa-check-square-o:before {
    color: #ef7e20;
}


div.teknosa-radio {
    width: 24px;
    height: 24px;
    position: relative;
    line-height: 24px;
    margin: 0 auto;
}

    div.teknosa-radio span {
        font-size: 24px;
        width: 18px;
        height: 18px;
        display: block;
        background: transparent url("/Content/teknosa/images/radio.png") no-repeat top;
    }

        div.teknosa-radio span.checked {
            background-position: 0 -25px;
        }

        div.teknosa-radio span.fa-square-o:before, div.teknosa-radio span.fa-check-square-o:before {
            content: " ";
        }

        div.teknosa-radio span.fa-check-square-o {
            background: transparent url("/Content/teknosa/images/radio.png") no-repeat 0 -25px;
        }


/* lightbox popup layout */

.ts-popup-container {
    background: #f1f1f1;
    position: relative;
}

    .ts-popup-container.white {
        background: white;
    }

    .ts-popup-container.light-gray {
        background: #f5f5f5;
    }

    .ts-popup-container.white .popup-head {
        border-bottom: 1px solid #e5e5e5;
    }

.product-comment-popup-container {
}

.ts-popup-container .popup-head {
    background: #ffffff;
    padding: 25px 30px 17px 30px;
}

    .ts-popup-container .popup-head h1 {
        color: #4f4f4f;
        font-size: 18px;
        font-family: 'open_sansbold';
        margin-bottom: 10px;
    }

    .ts-popup-container .popup-head h3 {
        color: #9b9b9b;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 300px;
        max-width: 700px;
        overflow: hidden;
    }

.ts-popup-container .popup-main {
    padding: 30px;
}

    .ts-popup-container .popup-main.white {
        background: #ffffff;
    }

.ts-popup-container .button-area {
    width: 180px;
    margin: 20px auto 0;
}

/* success popup */

.popup-success-main .message.success {
    height: 96px;
    background: transparent url("/Content/teknosa/images/success-icon.png") no-repeat left 25px;
    padding: 25px 0 15px 110px;
    font-size: 20px;
    color: #47444b;
    line-height: normal;
    font-family: 'open_sanssemibold';
}


/* success popup */

/* lightbox popup layout */



.form-layout {
}

    .form-layout .item {
        margin-bottom: 30px;
    }

        .form-layout .item label {
            padding-bottom: 10px;
        }

        .form-layout .item .value {
            position: relative;
        }

            .form-layout .item .value .field-validation-error {
                position: absolute;
                bottom: -17px;
                left: 0;
                color: #ff0000;
                font-size: 12px;
                font-family: 'open_sanssemibold';
            }

            .form-layout .item .value .input-validation-error {
                border-color: #ff0000;
            }

.loadingMain {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: transparent url("/Content/teknosa/images/white-opacity-bg.png") repeat;
}

    .loadingMain img {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 60px;
        height: 60px;
        margin-left: -30px;
        margin-top: -30px;
    }





.breadcrumbs-container {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #dadada;
    background-color: #fff;
}

    .breadcrumbs-container ol {
        list-style: none;
    }

        .breadcrumbs-container ol li {
            display: inline-block;
            color: #135284;
            font-size: 14px;
        }

            .breadcrumbs-container ol li + li:before {
                content: "»";
                padding: 0 10px;
                color: #c1c1c1;
            }

            .breadcrumbs-container ol li a {
                text-decoration: none;
                color: #135284;
                font-family: "open_sansregular";
            }

                .breadcrumbs-container ol li a:hover {
                    text-decoration: underline;
                }




/* PAGING */

.paging-line {
    clear: both;
    padding-top: 20px;
    text-align: center;
    margin-top: -1px;
    border-top: 1px solid #dadada;
    margin-bottom: 20px;
}

    .paging-line ul {
        list-style: none;
        list-style-type: none;
        display: inline-table;
        margin-top: 55px;
    }

        .paging-line ul li {
            float: left;
            color: #a2a2a2;
            font-size: 20px;
            font-family: open_sanssemibold;
            margin: 0 10px;
            height: 52px;
            position: relative;
            min-width: 30px;
        }

            .paging-line ul li a {
                display: block;
                padding: 15px 20px;
                color: #a2a2a2;
                text-decoration: none;
                background: #ffffff;
                border-radius: 3px;
                border: 1px solid #dbdbdb;
            }

            .paging-line ul li.active a {
                background: #717171;
                color: #ffffff;
            }

            .paging-line ul li .point {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }

    .paging-line .last, .paging-line .next {
        text-decoration: none;
        color: #b0b0b0;
        font-size: 22px;
        line-height: normal;
        background: #f6f6f6;
        border-radius: 3px;
        position: relative;
        padding: 44px 38px;
        font-family: 'open_sanslight';
    }

    .paging-line .last {
        text-align: right;
    }

        .paging-line .last i {
            content: "";
            width: 11px;
            height: 20px;
            background: url('/Content/teknosa/product/images/prc-list-paging-icons.png') no-repeat top;
            display: inline-block;
            position: absolute;
            bottom: 47px;
            left: 32px;
        }

    .paging-line .next {
        text-align: left;
    }

        .paging-line .next i {
            content: "";
            width: 11px;
            height: 20px;
            background: url('/Content/teknosa/product/images/prc-list-paging-icons.png') no-repeat bottom;
            display: inline-block;
            position: absolute;
            bottom: 47px;
            right: 38px;
        }
