﻿.header-top {
    height: 60px;
    width: 100%;
    -moz-min-width: 1060px;
    -ms-min-width: 1060px;
    -o-min-width: 1060px;
    -webkit-min-width: 1060px;
    min-width: 1060px;
    background-color: #fff;
}

.header-bottom {
    height: 68px;
    width: 100%;
    -moz-min-width: 1060px;
    -ms-min-width: 1060px;
    -o-min-width: 1060px;
    -webkit-min-width: 1060px;
    min-width: 1060px;
    background-color: #ffffff;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    background-image: url("/Content/teknosa/images/teknosa-head-bg2.png");
    background-repeat: repeat-x;
    background-position: left bottom;
    position: relative;
    z-index: 100;
}

.header-top .logo {
    width: 150px;
    height: 40px;
    margin-top: 9px;
}

    .header-top .logo a {
        text-decoration: none;
    }

.header-top .head-menu {
    margin-left: 40px;
    height: 60px;
}

    .header-top .head-menu .module-menu {
    }

        .header-top .head-menu .module-menu .module-menu-body {
            padding: 10px;
            height: 40px;
        }

            .header-top .head-menu .module-menu .module-menu-body ul {
                margin-top: 0;
            }

                .header-top .head-menu .module-menu .module-menu-body ul li {
                    display: inline-block;
                    padding: 10px 0;
                    line-height: 20px;
                    vertical-align: top;
                    position: relative;
                    float: left;
                }

                    .header-top .head-menu .module-menu .module-menu-body ul li:after {
                        content: " ";
                        font-size: 20px;
                        display: block;
                        position: absolute;
                        color: #b4b4b4;
                        width: 1px;
                        height: 18px;
                        background: #b4b4b4;
                        top: 12px;
                        right: 0;
                    }

                    .header-top .head-menu .module-menu .module-menu-body ul li:last-child:after {
                        background: #fff;
                    }

                    .header-top .head-menu .module-menu .module-menu-body ul li.image {
                        padding: 5PX 0 0 0;
                    }

                        .header-top .head-menu .module-menu .module-menu-body ul li.image.teknosa-mobile a {
                            border-right: 1px solid transparent;
                        }

                    .header-top .head-menu .module-menu .module-menu-body ul li a {
                        text-decoration: none;
                        color: #47434b;
                        font-size: 14px;
                        padding: 0 10px;
                        font-family: open_sansregular;
                        margin-left: 0 !important;
                        border-left: 0 !important;
                    }

                        .header-top .head-menu .module-menu .module-menu-body ul li a:hover {
                            color: #ef7e20;
                            text-decoration: underline;
                        }

            .header-top .head-menu .module-menu .module-menu-body > ul > li.firsat-urunleri {
                background-image: url("/Content/teknosa/menu/images/firsat-urunleri-icon.png");
                background-position: 7px 3px;
                background-repeat: no-repeat;
                color: #e11a00;
                padding: 10px 0 10px 60px;
            }

            .header-top .head-menu .module-menu .module-menu-body > ul > li.clear {
                border-left: 0;
                padding: 0;
            }

            .header-top .head-menu .module-menu .module-menu-body ul li.firsat-urunleri a {
                color: #e11a00;
            }

.header-top .head-right .module-custom .module-custom-body {
    padding: 0 !important;
}

/*Search*/

.header-bottom .search {
    margin-left: 25px;
    margin-top: 13px;
}

    .header-bottom .search > div {
        border: 2px solid #d3d3d3;
        background-color: #d3d3d3;
        -ms-border-radius: 2px;
        border-radius: 2px;
        height: 40px;
        position: relative;
        width: 540px;
    }

        .header-bottom .search > div > input[type=text] {
            color: #d0d0d0;
            font-family: "open_sanssemibold",Arial,sans-serif;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
            outline: medium none !important;
            padding: 10px;
            width: 460px;
            background-color: #fff;
            border: 0;
            float: left;
            -ms-border-radius: 0;
            border-radius: 0;
        }

            .header-bottom .search > div > input[type=text]:focus {
                color: #47444b;
            }

        .header-bottom .search > div > input[type=button],
        .header-bottom .search > div > input[type=submit] {
            background: url("/Content/teknosa/images/ico-search.png") no-repeat scroll center center #47434b;
            height: 40px;
            width: 60px;
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
            border-left: 1px solid #bebdbf;
            cursor: pointer;
            float: left;
        }

            .header-bottom .search > div > input[type=button]:hover,
            .header-bottom .search > div > input[type=submit]:hover {
                background-color: #252327;
            }

/*Customer Navigation */
.customer-navigation {
    font-family: "open_sanslight";
    position: absolute;
    right: 0;
    top: 0;
}

    .customer-navigation > ul {
        list-style: none;
    }

        .customer-navigation > ul > li {
            float: left;
            padding: 17px 0;
            height: 34px;
        }

            .customer-navigation > ul > li a {
                text-decoration: none;
                color: #47434b;
                font-size: 14px;
                display: block;
            }

                .customer-navigation > ul > li a:hover {
                    text-decoration: underline;
                    color: #ef7e20;
                }

            .customer-navigation > ul > li#customerNavagation {
                height: 30px;
                padding: 19px 0;
            }

                .customer-navigation > ul > li#customerNavagation .register {
                    padding: 0 0 6px;
                }

                .customer-navigation > ul > li#customerNavagation .login {
                    font-family: open_sanssemibold;
                }

                .customer-navigation > ul > li#customerNavagation .customer-name {
                    font-size: 14px;
                    padding-bottom: 5px;
                }

                .customer-navigation > ul > li#customerNavagation .customer-account {
                    font-size: 14px;
                    font-family: open_sanssemibold;
                    cursor: pointer;
                    padding-bottom: 11px;
                }

            .customer-navigation > ul > li.sperator {
                padding: 22px 37px;
                height: 24px;
            }

                .customer-navigation > ul > li.sperator > span {
                    width: 1px;
                    height: 24px;
                    background-color: #b4b4b4;
                    display: block;
                }

            .customer-navigation > ul > li a .basket {
                width: 40px;
                height: 34px;
                display: inline-block;
                background-image: url("/Content/teknosa/images/basket.png");
                background-position: 0 0;
                background-repeat: no-repeat;
            }

            .customer-navigation > ul > li a .text {
                height: 24px;
                padding: 3px 0 5px 5px;
                position: relative;
                display: block;
                width: 45px;
                font-family: open_sanssemibold;
                font-size: 14px;
            }

                .customer-navigation > ul > li a .text.basket-count {
                    padding: 10px 0 5px 5px;
                }


                .customer-navigation > ul > li a .text > span {
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    text-align: center;
                }

            .customer-navigation > ul > li a:hover .text > span {
                text-decoration: underline;
            }

            .customer-navigation > ul > li a .text > span > span {
                font-family: open_sanssemibold;
                font-size: 18px;
            }

/* Auto Complate */
#searchResultContainer {
    background-color: #ffffff;
    border-width: 0 2px 2px;
    display: none;
    height: auto;
    margin-top: -2px;
    padding: 24px 5px 15px;
    position: absolute;
    width: 471px;
    overflow: hidden;
    -ms-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

    #searchResultContainer div.search-autocompele {
        max-height: 330px;
        overflow: hidden;
        border-bottom: 1px solid #f5f5f5;
        padding-bottom: 10px;
    }

    #searchResultContainer .search-info {
        color: #6b676f;
        font-size: 14px;
        overflow: hidden;
        padding-bottom: 15px;
        text-align: center;
    }

    #searchResultContainer ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #searchResultContainer ul li {
        }

            #searchResultContainer ul li .item {
                padding: 7px 6px;
                border-bottom: 1px #f5f5f5 solid;
            }

                #searchResultContainer ul li .item:hover, #searchResultContainer ul li .item.active {
                    background-color: #fcfcfc;
                }

                #searchResultContainer ul li .item > a {
                    color: #bebdbf;
                    font-size: 14px;
                    display: block;
                }


                    #searchResultContainer ul li .item > a > .image-container {
                    }

                        #searchResultContainer ul li .item > a > .image-container img {
                        }

                    #searchResultContainer ul li .item > a > .text-container {
                        padding-left: 10px;
                        width: 375px;
                    }

                        #searchResultContainer ul li .item > a > .text-container > .product-name {
                            color: #47444b;
                            height: 17px;
                            line-height: 17px;
                            overflow: hidden;
                        }

                        #searchResultContainer ul li .item > a > .text-container > .category-name {
                            color: #a7a7a7;
                        }

    #searchResultContainer .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-color: #ef7e20 !important;
    }

    #searchResultContainer .search-page {
        font-size: 14px;
        padding-top: 5px;
        text-align: center;
    }

        #searchResultContainer .search-page .firsat {
            padding-bottom: 10px;
            padding-top: 5px;
            border-bottom: 1px solid #f9f9f9;
        }

            #searchResultContainer .search-page .firsat a {
                color: #777;
                text-decoration: underline;
                font-size: 12px;
            }

        #searchResultContainer .search-page .all-search {
            padding-top: 10px;
        }

            #searchResultContainer .search-page .all-search a {
                color: #ef7e20;
                text-decoration: none;
            }


/*Customer Menu*/

#customerMenu {
    display: none;
}

.customer-navigation .module-menu {
    position: absolute;
    width: 224px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px #777777;
    -ms-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
    background-color: #f0f1f2;
    top: 64px;
    left: -55px;
}

    .customer-navigation .module-menu::before {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: transparent transparent #f0f1f2;
        -webkit-border-image: none;
        -moz-border-image: none;
        -ms-border-image: none;
        -o-border-image: none;
        border-image: none;
        border-style: solid;
        border-width: 7px;
        content: "";
        left: 116px;
        position: absolute;
        top: -12px;
    }


    .customer-navigation .module-menu .module-menu-body {
        padding: 24px;
    }

        .customer-navigation .module-menu .module-menu-body ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            .customer-navigation .module-menu .module-menu-body ul li {
                padding: 7px 0;
            }

                .customer-navigation .module-menu .module-menu-body ul li.clear {
                    padding: 0;
                }

                .customer-navigation .module-menu .module-menu-body ul li a {
                    text-decoration: none;
                    font-size: 14px;
                    color: #47434b;
                    font-family: open_sansregular;
                }

                .customer-navigation .module-menu .module-menu-body ul li.logout {
                    border-top: 1px solid #d4d4d4;
                    margin-top: 7px;
                    padding-bottom: 0;
                    padding-top: 10px;
                }

                    .customer-navigation .module-menu .module-menu-body ul li.logout a {
                        color: #918f93;
                    }

.customer-navigation > ul > li#customerNavagation .customer-account:hover #customerMenu, #customerMenu:hover {
    display: block;
}
