﻿.home-container {
    margin-top: 10px;
}

    .home-container .home-top {
        padding: 17px 0 20px;
    }

        .home-container .home-top .slider {
            display: block;
            height: 400px;
            width: 800px;
            overflow: hidden;
        }

        .home-container .home-top .top {
        
        }

            .home-container .home-top .top > div {
                margin-bottom: 8px;
                width: 250px;
            }

                .home-container .home-top .top > div:last-child {
                    margin-bottom: 0;
                }

            .home-container .home-top .top a > span.icon {
                background-position: left top;
                background-repeat: no-repeat;
                width: 55px;
                height: 55px;
                margin-left: 24px;
                margin-right: 10px;
                margin-top: 24px;
                display: inline-block;
                vertical-align: top;
            }

            .home-container .home-top .top a > span.text {
                color: #ffffff;
                display: inline-block;
                margin-top: 41px;
                vertical-align: top;
                width: 140px;
            }

            .home-container .home-top .top > .magazalar {
                background-color: #3db97d;
            }

                .home-container .home-top .top > .magazalar .module-body > a > span.icon {
                    background-image: url("/Content/teknosa/home/images/icon-location.png");
                }

            .home-container .home-top .top > .kargo-takip {
                background-color: #9d9bc2;
            }

                .home-container .home-top .top > .kargo-takip .module-body > a > span.icon {
                    background-image: url("/Content/teknosa/home/images/icon-kargo-takip.png");
                }

            .home-container .home-top .top > .turuncu-kart {
                background-color: #ef7e20;
            }

                .home-container .home-top .top > .turuncu-kart .module-body > a > span.icon {
                    background-image: url("/Content/teknosa/home/images/icon-turuncu-kart.png");
                }

              .loadingMain {
                        display: none !important;
                }

/* installment */
.installment-container {
    padding: 20px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #eceded;
    border: 1px solid #e0e0e0;
}

    .installment-container .item {
        float: left;
        width: 145px;
        text-align: center;
    }

        .installment-container .item img {
            display: block;
            margin: 0 auto;
        }

        .installment-container .item span {
            display: block;
            padding-top: 10px;
            font-family: open_sanssemibold;
            
        }
