﻿.layout .header {
    height: 130px;
    display: block;
    width: 100%;
    position: relative;
    z-index: 3;
}


.layout .container {
    margin: 0 auto;
    width: 1060px;
    display: block;
    position: relative;
    z-index: 2;
}


    .layout .container .page-title {
        font-family: "open_sanssemibold", Arial, sans-serif;
        line-height: 40px;
        font-weight: normal;
        font-size: 20px;
        color: #47444b;
        margin: 0;
        padding: 0;
    }
