﻿.buttom-menu {
}

.module-menu-title {
    font-size: 18px;
    color: #f5f5f5;
}

.module-menu-body {
    padding: 10px 0;
}

    .module-menu-body ul {
    }

        .module-menu-body ul li {
            list-style: none;
            line-height: 14px;
            padding: 3px 0;
            font-size: 12px;
            font-weight: 400;
        }

            .module-menu-body ul li a {
            }

                .module-menu-body ul li a:hover {
                    text-decoration: underline;
                }

                .module-menu-body ul li.image a span {
                    display: none;
                }

/*Black*/

.module-menu.black {
    background-color: #000000;
    color: #ffffff;
    margin: 0 auto 0;
    padding: 13px;
}

    .module-menu.black .module-menu-title {
        border-bottom: 1px solid #c9c9c9;
        font-size: 14px;
        padding: 0 10px 10px;
    }

    .module-menu.black .module-menu-body {
        padding: 10px;
    }

        .module-menu.black .module-menu-body ul {
        }

            .module-menu.black .module-menu-body ul li {
            }

                .module-menu.black .module-menu-body ul li a {
                    color: #c9c9c9;
                    text-decoration: none;
                    font-size: 11px;
                    font-weight: normal;
                }

                    .module-menu.black .module-menu-body ul li a:hover {
                        text-decoration: underline;
                    }



.module-menu .module-menu-body ul .menu-items-level-1.footer-firsat-urunleri {
    height: 40px;
    vertical-align: middle;
    position: absolute;
    right: 7px;
}

    .module-menu .module-menu-body ul .menu-items-level-1.footer-firsat-urunleri a {
        border-right: none !important;
    }

        .module-menu .module-menu-body ul .menu-items-level-1.footer-firsat-urunleri a img {
            margin-top: -7px;
        }

        .module-menu .module-menu-body ul .menu-items-level-1.footer-firsat-urunleri a span {
            display: none;
        }
