﻿.home-container .top .module-item {
    font-family: open_sansbold;
    font-weight: normal;
    margin: 0 auto 50px;
    position: relative;
}

/* None Sytle */
.module-item.none-style .module-body {
    border-top: 0 !important;
    padding: 0 !important;
}
