﻿.login.popup-main {
    padding: 30px 40px 15px 40px !important;
}

.popup-login-main {
    position: relative;
}

    .popup-login-main .left-side {
        width: 260px;
        margin-top: 20px;
    }

        .popup-login-main .left-side .facebook-login {
            border-bottom: 1px solid #cccccc;
            padding-bottom: 28px;
            margin-bottom: 22px;
        }

        .popup-login-main .left-side .title {
            color: #ef7e20;
            font-family: 'open_sanssemibold';
            font-size: 24px;
            margin-bottom: 20px;
        }





        .popup-login-main .left-side .item .value input {
            width: 211px;
        }



        .popup-login-main .left-side .buttons {
        }

            .popup-login-main .left-side .buttons .btn-secondary {
                font-size: 20px;
                width: 100%;
            }

        .popup-login-main .left-side .forget-password {
            margin-top: 15px;
        }

            .popup-login-main .left-side .forget-password span {
                text-decoration: underline;
                color: #6b676f;
                font-size: 14px;
                cursor: pointer;
            }


    .popup-login-main .right-side {
        padding: 20px 25px;
        background: #ffffff;
        border-radius: 5px;
        width: 280px;
    }

        .popup-login-main .right-side h1 {
            color: #ef7e20;
            font-size: 20px;
            font-family: 'open_sanssemibold';
            margin-bottom: 25px;
        }

        .popup-login-main .right-side .item {
            clear: both;
            padding-left: 60px;
            margin-bottom: 31px;
        }

            .popup-login-main .right-side .item h3 {
                font-family: 'open_sanssemibold';
                color: #000000;
                font-size: 16px;
                margin-bottom: 10px;
            }

            .popup-login-main .right-side .item p {
                color: #737373;
                font-size: 14px;
                line-height: 16px;
            }


            .popup-login-main .right-side .item.security {
                background: transparent url("/Content/teknosa/login/images/security-shop-icon.png") no-repeat left 6px;
            }

            .popup-login-main .right-side .item.company {
                background: transparent url("/Content/teknosa/login/images/company-discount-icon.png") no-repeat left 6px;
            }

            .popup-login-main .right-side .item.cargo {
                background: transparent url("/Content/teknosa/login/images/shop-cargo-icon.png") no-repeat left 6px;
            }


.popup-footer {
    width: 100%;
    height: 47px;
    background: transparent url("/Content/teknosa/login/images/sa-line-bg.png") repeat-x;
    display: block;
}

    .popup-footer i {
        width: 46px;
        height: 47px;
        display: block;
        margin: 0 auto;
        background: transparent url("/Content/teknosa/login/images/sa-logo.png") no-repeat;
    }

.forget-password .form-layout .item input {
    width: 220px;
}

.forget-password .buttons {
    padding-top: 15px;
}

.forget-password .buttons input {
    width: 270px;
}


.forget-password .forget-info-error.forget-info-error {
    bottom: -40px!important;
}
