﻿.module-royalslider-body .royalSlider {
    position: relative;
}

    .module-royalslider-body .royalSlider a.banner-link {
        width: 100%;
        height: 100%;
        display: block;
    }

    .module-royalslider-body .royalSlider .rsThumbs {
        bottom: 59px;
        width: 100%;
        text-align: center;
        overflow: hidden;
        position: absolute;
    }

    .module-royalslider-body .royalSlider .rsThumbsContainer {
        clear: both;
    }

        .module-royalslider-body .royalSlider .rsThumbsContainer > div:last-child {
            margin-right: 0 !important;
        }

    .module-royalslider-body .royalSlider .rsThumbs .rsThumb {
        border: 2px solid #d8e1e6;
        height: 44px;
        width: 60px;
        overflow: hidden;
        -ms-opacity: 0.6;
        opacity: 0.6;
    }

        .module-royalslider-body .royalSlider .rsThumbs .rsThumb:hover,
        .module-royalslider-body .royalSlider .rsThumbs .rsThumb.rsNavSelected {
            border: 2px solid #47444b;
            -ms-opacity: 1;
            opacity: 1;
        }

        .module-royalslider-body .royalSlider .rsThumbs .rsThumb img {
            height: 44px;
            width: 60px;
        }

/*Slider Navigation*/

.module-royalslider-body .rsArrow.rsArrowLeft {
    position: absolute;
    left: 0;
    top: 40%;
    display: block;
    padding: 10px 0;
}

    .module-royalslider-body .rsArrow.rsArrowLeft .rsArrowIcn {
        background-image: url("/Plugins/Modules.RoyalSlider/Content/images/slider-navigation-1.png");
        background-position: 0 top;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 36px;
        height: 57px;
        cursor: pointer;
        display: block;
        padding: 0 10px;
    }

        .module-royalslider-body .rsArrow.rsArrowLeft .rsArrowIcn:hover {
            background-position: 0 -57px;
        }

.module-royalslider-body .rsArrow.rsArrowRight {
    top: 40%;
    right: 0;
    position: absolute;
    display: block;
    padding: 10px 0;
}

    .module-royalslider-body .rsArrow.rsArrowRight .rsArrowIcn {
        background-image: url("/Plugins/Modules.RoyalSlider/Content/images/slider-navigation-1.png");
        background-position: 20px -114px;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 36px;
        height: 57px;
        cursor: pointer;
        display: block;
        padding: 0 10px;
    }

        .module-royalslider-body .rsArrow.rsArrowRight .rsArrowIcn:hover {
            background-position: 20px -171px;
        }
