﻿/*Slider Navigation*/

.module-product .rsArrow.rsArrowLeft {
    position: absolute;
    left: 0;
    top: 47%;
    display: block;
    padding: 10px 0;
}

    .module-product .rsArrow.rsArrowLeft .rsArrowIcn {
        background-image: url("/Plugins/Modules.Product/Content/themes/images/slider-navigation.png");
        background-position: 15px top;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 20px;
        height: 28px;
        cursor: pointer;
        display: block;
        padding: 0 15px;
    }

        .module-product .rsArrow.rsArrowLeft .rsArrowIcn:hover {
            background-position: 15px -28px;
        }

.module-product .rsArrow.rsArrowRight {
    top: 47%;
    right: 0;
    position: absolute;
    display: block;
    padding: 10px 0;
}

    .module-product .rsArrow.rsArrowRight .rsArrowIcn {
        background-image: url("/Plugins/Modules.Product/Content/themes/images/slider-navigation.png");
        background-position: 23px -56px;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 20px;
        height: 28px;
        cursor: pointer;
        display: block;
        padding: 0 15px;
    }

        .module-product .rsArrow.rsArrowRight .rsArrowIcn:hover {
            background-position: 23px -84px;
        }

/* Gray*/
.module-product.gray {
    background-color: #eeeff1;
    background-image: url("/Plugins/Modules.Product/Content/themes/images/module-product-transparent.png");
    background-position: left bottom;
    background-repeat: repeat-x;
    border: 1px solid #e0e0e0;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 20px 0 30px;
}

/* Orange*/
.module-product.orange {
    background-color: #d0d0b6;
    background-image: url("/Plugins/Modules.Product/Content/themes/images/module-product-transparent.png");
    background-position: left bottom;
    background-repeat: repeat-x;
    border: 1px solid #e0e0e0;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 20px 0 30px;
}


/*Blue*/
.module-product.template2.blue .module-product-title {
    color: #074ca1;
}

.module-product.template2.blue .module-product-body {
    border-top: 2px solid #074ca1;
}

    .module-product.template2.blue .module-product-body ul li.product-item > a .product-price .new-price {
        color: #074ca1;
    }


/*Samsung*/
.module-product.template2.samsung .module-product-title {
    background-image: url("/Plugins/Modules.Product/Content/themes/images/samsung-logo.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-left: 100px;
}


/* Slider Nav Style */

.module-product.nav-style-1 .rsArrow.rsArrowLeft {
    background-color: #fff;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 #757575;
    -ms-box-shadow: 0 0 5px 0 #757575;
    box-shadow: 0 0 5px 0 #757575;
    display: block;
    height: 70px;
    left: -5px;
    -ms-opacity: 0.5;
    opacity: 0.5;
    padding: 45px 0 0 15px;
    position: absolute;
    top: 50px;
    width: 35px;
}

    .module-product.nav-style-1 .rsArrow.rsArrowLeft:hover {
        -ms-opacity: 1;
        opacity: 1;
    }

    .module-product.nav-style-1 .rsArrow.rsArrowLeft .rsArrowIcn {
        background-image: url("/Plugins/Modules.Product/Content/themes/images/slider-navigation.png");
        background-position: 5px top;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 20px;
        height: 28px;
        cursor: pointer;
        display: block;
        padding: 0 10px;
    }

        .module-product.nav-style-1 .rsArrow.rsArrowLeft .rsArrowIcn:hover {
            background-position: 5px -28px;
        }

.module-product.nav-style-1 .rsArrow.rsArrowRight {
    background-color: #fff;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 #757575;
    -ms-box-shadow: 0 0 5px 0 #757575;
    box-shadow: 0 0 5px 0 #757575;
    display: block;
    height: 70px;
    -ms-opacity: 0.5;
    opacity: 0.5;
    padding: 45px 15px 0 0;
    position: absolute;
    right: -5px;
    top: 50px;
    width: 35px;
}

    .module-product.nav-style-1 .rsArrow.rsArrowRight:hover {
        -ms-opacity: 1;
        opacity: 1;
    }

    .module-product.nav-style-1 .rsArrow.rsArrowRight .rsArrowIcn {
        background-image: url("/Plugins/Modules.Product/Content/themes/images/slider-navigation.png");
        background-position: 23px -56px;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 20px;
        height: 27px;
        cursor: pointer;
        display: block;
        padding: 0 10px;
    }

        .module-product.nav-style-1 .rsArrow.rsArrowRight .rsArrowIcn:hover {
            background-position: 23px -84px;
        }

/* All Product*/
.module-product .all-products {
    font-size: 14px;
    position: absolute;
    right: 0;
    font-family: open_sansregular;
}

    .module-product .all-products a {
        color: #3e85bd;
        text-decoration: underline;
        font-family: open_sansregular;
    }

        .module-product .all-products a:hover {
            color: #ef7e20;
        }

    .module-product .all-products.Top {
        top: 11px;
    }

        .module-product .all-products.Top a .fa {
            display: none !important;
        }

    .module-product .all-products.Bottom {
        background-color: #ebebeb;
        bottom: -41px;
        padding: 7px 10px;
    }

        .module-product .all-products.Bottom:hover {
            background-color: #dfdfdf;
        }

.module-multiple-body .module-product .all-products.Top {
    top: -37px;
}
