﻿.module-product.template8 .module-product-title {
    color: #084371;
    font-size: 26px;
    padding-left: 0;
    padding-bottom: 11px;
    width: 80%;
    float: left;
}

    .module-product.template8 .module-product-title h4 {
        font-weight: normal;
    }

        .module-product.template8 .module-product-title h4 a {
            text-decoration: none;
            color: #084371;
        }

.module-product.template8 .module-product-body {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
    position: relative;
}

    .module-product.template8 .module-product-body a {
        text-decoration: none;
    }

    .module-product.template8 .module-product-body > div {
        list-style: none;
    }

        .module-product.template8 .module-product-body > div div.product-item {
            float: left;
            background-color: #fff;
            border: 0;
            height: 218px;
            width: 186px;
            padding: 20px 3px;
            text-align: left;
            margin-left: 24px;
            overflow: hidden;
            position: relative;
        }

            .module-product.template8 .module-product-body > div div.product-item > a {
                display: block;
            }

                .module-product.template8 .module-product-body > div div.product-item > a .product-image {
                    padding: 5px;
                }

                    .module-product.template8 .module-product-body > div div.product-item > a .product-image img {
                        max-width: 100%;
                        color: #dedede;
                        display: block;
                        min-height: 90px;
                    }

                .module-product.template8 .module-product-body > div div.product-item > a .product-title {
                    padding: 5px;
                    color: #47444b;
                    font-size: 14px;
                    line-height: 16px;
                    overflow: hidden;
                    -moz-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    max-height: 29px;
                    font-family: open_sansregular;
                }

                    .module-product.template8 .module-product-body > div div.product-item > a .product-title .product-brand {
                        max-width: 75px;
                    }

                        .module-product.template8 .module-product-body > div div.product-item > a .product-title .product-brand img {
                            max-width: 75px;
                        }

                    .module-product.template8 .module-product-body > div div.product-item > a .product-title .small {
                        width: 100%;
                    }

                    .module-product.template8 .module-product-body > div div.product-item > a .product-title h3 {
                        font-weight: normal;
                    }

                .module-product.template8 .module-product-body > div div.product-item > a:hover .product-title h3 {
                    color: #ef7e20;
                    text-decoration: underline;
                }

                .module-product.template8 .module-product-body > div div.product-item > a .product-price {
                    bottom: 10px;
                    padding: 5px;
                    width: 100%;
                    overflow: hidden;
                    font-family: open_sanssemibold;
                }

                    .module-product.template8 .module-product-body > div div.product-item > a .product-price .old-price {
                        display: inline-block;
                        color: #858484;
                        text-decoration: line-through;
                        font-family: open_sansregular;
                        font-size: 16px;
                        padding-left: 10px;
                        font-weight: normal;
                        line-height: 15px;
                        vertical-align: top;
                    }

                        .module-product.template8 .module-product-body > div div.product-item > a .product-price .old-price sup {
                            font-size: 12px;
                            vertical-align: super;
                        }

                    .module-product.template8 .module-product-body > div div.product-item > a .product-price .new-price {
                        display: inline-block;
                        color: #ef7e20;
                        font-size: 24px;
                        font-weight: normal;
                        margin-top: 3px;
                        line-height: 24px;
                    }

                        .module-product.template8 .module-product-body > div div.product-item > a .product-price .new-price sup {
                            font-size: 12px;
                            vertical-align: super;
                        }

/*Large Size*/
.module-product.template8.large .module-product-body > div div.product-item {
    width: 385px;
    padding: 20px 0;
    margin-left: 20px;
}

/* Size Medium*/
.module-product.template8.medium .module-product-body > div div.product-item {
    width: 198px;
    padding: 3px;
}

.module-product.template8 .module-product-body > div div.product-item:first-child {
    margin-left: 0;
}

/*Slider*/
.template8 .module-product-body .rsMinW,
.template8 .module-product-body .rsMinW .rsOverflow,
.template8 .module-product-body .rsMinW .rsSlide,
.template8 .module-product-body .rsMinW .rsVideoFrameHolder,
.template8 .module-product-body .rsMinW .rsThumbs {
    background: none repeat scroll 0 0 transparent;
    color: #000;
}
