#secnav{
    margin-bottom:0;
}
.sitewidth.transitionWA{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.sitewidth .format{
    background:#FFF;
}

.twocols{
    float: left;
    width: 63.15789473684211%;
}

.sidebar{
    float: right;
    width: 31.57894736842105%;
}

h3.block{
    margin:2px 5.833333333333333% 15px;
    font: 30px/34px 'Cookie';
    color: #a295b5;
    text-align: center;
    background: url(http://www.giallozafferano.it/style/images/bg-h3-sez.png) 0 0 repeat-x;
    position: relative;
}

h3.block.fresh{
    margin-top:36px;
    margin-bottom:25px;
}

h3.block:before{
    content:attr(data-title);
    display: inline-block;
    margin: 0 auto;
    padding:0 30px;
    text-align: center;
    font: 30px/34px 'Cookie';
    color: #a295b5;
    text-align: center;
    background: #FFF;    
}

dl.portate{
    float:left;
    width:25%; /* 186 / 720 */
}

.portate dt{
    padding:0 0 5px 10px;
    font:500 28px 'Roboto Slab';
}

.portate dd{
    padding:0 0 0 10px;
    font:normal 16px/38px 'Roboto Slab';
    color:#3d3257;
    white-space:nowrap;
    overflow:hidden
}

.portate dt a,
.portate dd a{
    color:#3d3356;
    text-decoration:none;
}

.freshEl h4 a,
.freshEl p a,
.sItem h4 a,
.sItem p a{
    color:#3d3257;
    text-decoration:none;
}

.portate dt a:hover,
.portate dd a:hover,
.freshEl h4 a:hover,
.freshEl p a:hover,
.sItem p a:hover,
.sItem h4 a:hover{
    text-decoration:underline;
}

.freshEl{
    float:left;
    margin-right:2.777777777777778%;
    width:22.91666666666667%;
}

.freshEl.ls{
    margin-right:0;
}

.freshEl figure,
.sItem figure{
    margin:0 0 7px;
}

.sItem.toplist figure a{
    position:relative; display:block;
}

.sItem.toplist figure a:before{
    content:'';
    position:absolute;
    top:7px; left:0;
    width:100%; height:98px;
    background:url(images/tp-bollo.png) center 0 no-repeat;

}

.freshEl img,
.sItem img{
    display:block;
    max-width:100%;
}

.sItem.toplist h4{
    font:bold 26px/28px 'Roboto Slab';
    color:#3d3257;
    text-align:center;
}

.sItem.toplist h4:before{
    content:attr(data-title);
    display:block;
    font:700 14px 'Lato';
    color:#f6973c;
    text-transform:uppercase;
}

.sItem.toplist figure .thumb{
    position:absolute;
    bottom:0;
    width:33%;
    border-top:1px solid #FFF;
    border-right:1px solid #FFF;
}

.sItem.toplist figure .thumb:nth-of-type(2){
    left:33%;
}

.sItem.toplist figure .thumb:nth-of-type(3){
    left:66.5%;
    width:33.1%;
}

.freshEl h4,
.sItem h4{
    font:bold 18px/20px 'Roboto Slab';
    color:#3d3257;
}

.freshEl p:before,
.sItem p:before{
    content:attr(data-label);
    font:11px 'lato';
    color:#9c9c9c;
    text-transform:uppercase;
}

.freshEl p,
.sItem p{
    min-height:20px;
}

.freshEl p a,
.sItem p a{
    font:11px 'lato';
    text-transform:uppercase;
    text-decoration:underline;
}

.freshEl p a:hover,
.sItem p a:hover{
    text-decoration:none;    
}

.sItem{
    float:left;
    width:31.94444444444444%;
}

.sItem.ctr{
    margin:0 2.083333333333333%;
}

/*** da end ***/
.threecols{
    float: left;
    margin-bottom: 2.63158%;
    width: 31.57894736842105%;
}

.threecols.mid{
    margin: 0 2.631578947368421%;
}

.threecols h3{
    margin:2px 0 15px;
    font: 30px/34px 'Cookie';
    color: #f6973c;
    text-align: center;
    background: url(http://www.giallozafferano.it/style/images/bg-h3-sez.png) 0 0 repeat-x;
    position: relative;
}

.threecols h3:before{
    content:attr(data-title);
    display: inline-block;
    margin: 0 auto;
    padding:0 15px;
    text-align: center;
    font: 30px/34px 'Cookie';
    color: #f6973c;
    text-align: center;
    background: #FFF;    
}

.threecols h3.cook{
    margin:2px 0 5px;
    width:100%;
    background: url(http://www.giallozafferano.it/style/images/hp-h3-cook.png) 0 0 repeat-x;
    position: relative;
}

.threecols h3.cook:before{
    content:attr(data-title);
    position:absolute;
    top:-19px;
    left:0;
    padding:0;
    width:100%;
    font: 28px/34px 'Cookie';
    color: #dc4b28;
    text-align: center;
    background:transparent;
}

.threecols h3.cook:after{
    content:'';
    display:inline-block;
    width:140px;
    height:34px;
    background: #FFF url(http://www.giallozafferano.it/style/images/logo-cook.png) center 7px no-repeat;    
}

.threecols ul.news li{
    padding:13px 0 13px 25px;
    font:13px 'Roboto Slab';
    background:url(http://www.giallozafferano.it/style/images/ico-gz.png) 5px center no-repeat;            
}

.threecols ul.news li a{
    color:#3d3257;
    text-decoration:none;
}

.threecols ul.news li a:hover{
    text-decoration:underline;
}

.threecols ul.news li.odd{
    background-color:#fcf7f0;
}

.threecols .season{
    position:relative;
    margin-bottom:20px;
    background:#7b6aa3;
}

.threecols .season figure{
    width:100%;
    height:300px;
    overflow:hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;         
}

.threecols .season:hover figure{
    opacity:0.5;
}

.threecols .season figure img{
    display:block;
    width:calc(100% + 1px);
}

.threecols .season .vPos{
    position:absolute;
    bottom:10px;
    width:100%;
    z-index:2;
}

.threecols .season h6{
    padding:0 15px;
    font:22px 'Cookie';
    color:#f8ddb8;
}

.threecols .season h6 a{
    display:block;
    color:#f8ddb8;
    text-decoration:none
}

.threecols .season h4{
    padding:0 15px;
    font:bold 22px 'Roboto Slab';
}

.threecols .season h4 a{
    display:block;
    color:#FFF;
    text-decoration:none
}

.threecols .season .biglink{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background:url(http://www.giallozafferano.it/style/images/scuola-main.png) 0 120px repeat-x;
    z-index:1;
}

.threecols .boxcook li{
    float:left;
    margin-bottom:30px;
    width:100%;
}

.threecols .boxcook li.ls{
    margin-bottom:11px;
}

.threecols .boxcook .i{
    float:left;
    margin-right:12px;
    width:40%;
    position:relative;
}

.threecols .boxcook .i span{
    position:absolute;
    bottom:10px;
    right:10px;
    width:37px;
    height:37px;
    background:url(http://www.giallozafferano.it/style/images/ico-video-cook.png) 0 0 no-repeat;
}

.threecols .boxcook .i img{
    display:block;
    max-width:100%;
}

.threecols .boxcook .c{
    display:block;
    margin-top:10px;
    font:22px 'Cookie';
    color:#f6973c;
}

.threecols .boxcook .t{
    display:block;
    font:bold 16px/18px 'Roboto Slab';
    margin-top:10px;
    color:#8e2816;
}

.threecols .boxcook .t:after{
    display:block;
    margin:3px 0 0;
    content:'Guarda la video ricetta';
    font:11px 'lato';
    text-transform:uppercase;
}

.threecols .boxcook a,
.threecols .vaiacook,
.threecols .box a{
    text-decoration:none
}

.threecols .boxcook a:hover,
.threecols .vaiacook:hover{
    text-decoration:underline;
}

.threecols .vaiacook{
    display: block;
    float: left;
    font: bold 13px 'lato';
    text-transform: uppercase;
    color: #8e2816;
    margin: 0 0 30px;
    width:100%;
}

/*** top recepies ***/
.toprecepies{
    width:100%;
    overflow:hidden;
    position:relative;
}

.toprecepies h2{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}

.toprecepies .arrows,
.videobreak .arrows{
    position:absolute;
    top:50%;
    left:0;
    margin-top:-47px;
    width:47px;
    height:94px;
    background:url(http://www.giallozafferano.it/style/images/hp-slider-arrows.png) right 0 no-repeat;
    z-index:10;
    text-indent:-9999em;
}

.videobreak .arrows{
    background:url(http://www.giallozafferano.it/style/images/hp-videobrak-arrows.png) right 0 no-repeat;
}

.toprecepies .arrows#trNext,
.videobreak .arrows#vbNext{
    left:auto;
    right:0;
    background-position:0 0;
}

.toprecepies ul{
    width:100%;
    height:360px;
    position:relative;
}

.toprecepies .el,
.videobreak .el{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:45%;
    height:100%;
    border-right:1px solid #FFF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;   
}

.toprecepies .el article,
.videobreak .el article{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#7b6aa3;
}

.toprecepies article .biglink,
.videobreak .el article .biglink{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background:url(http://www.giallozafferano.it/style/images/scuola-main.png) 0 190px repeat-x;
    z-index:2;
}

.toprecepies article.video:before{
    content:'';
    position:absolute;
    top:285px;
    left:4.3%;
    width:32px;
    height:32px;
    background:url(http://www.giallozafferano.it/style/images/hp-slider-icoplay.png) 0 0 no-repeat;
    z-index:2;
    cursor:pointer;
}

.toprecepies article .vPos,
.videobreak article .vPos{
    position:absolute;
    bottom:20px;
    left:0;
    width:100%;
    z-index:3;
}

.toprecepies h1,
.videobreak .el h1{
    font:bold 26px/30px 'Roboto Slab';
    color:#FFF;
    z-index:4;
}

.toprecepies h1 a,
.videobreak .el h1 a{
    display:block;
    width:91.4%;
    padding:0 4.3%;    
    color:#FFF;
    text-decoration:none;
}

.toprecepies h6,
.videobreak .el h6{
    font:30px 'Cookie';
    color:#f8ddb8;
    z-index:4;
}

.toprecepies h6 a,
.videobreak .el h6 a{
    display:block;
    width:91.4%;
    padding:0 4.3%;    
    color:#f8ddb8;
    text-decoration:none;
}

.toprecepies .video h1 a,
.toprecepies .el .video h6 a{
    width:83.4%;
    padding:0 4.3% 0 12.3%;    
}

.toprecepies article.chef .vPos{
    bottom:0;
    width:91.4%;
    padding:20px 4.3%; 
    background:rgba(0,0,0,.3);
}

.toprecepies article.chef h6 a.face{
    float:left;
    padding:0;
    height:89px;
}

.toprecepies article.chef h6 a.face img{
    width:85px; height:85px;
    border:2px solid #FFF; border-radius:50%;
}

.toprecepies article.chef h6{
    font:30px 'Amatic SC';
}

.toprecepies article.chef h6 a{
    display:block;
    width:auto;
    padding:10px 0 0 105px;
    color: #fff;    
}

.toprecepies article.chef h1 a{
    display:block;
    width:auto;
    padding:0 0 0 105px;
}

.toprecepies figure a,
.videobreak .el figure a{
    display:block;
    width:100%;
    height:100%;
    -webkit-transition: -webkit-opacity 0.3s linear;
    -moz-transition: -moz-opacity 0.3s linear;
    transition: opacity 0.3s linear;    
    overflow:hidden;
}

.toprecepies figure img,
.videobreak .el figure img{
    display:block;
    max-width:none;
    width:calc(100% + 1px);
}

.toprecepies figure a.op,
.videobreak .el figure a.op{
    opacity:0.5;
}

.toprecepies .pos1{
    -ms-transform: translate(-300%,0);
    -webkit-transform: translate(-300%,0);
    transform: translate(-300%,0);
}

.toprecepies .pos2{
    display:block;
    -ms-transform: translate(-200%,0);
    -webkit-transform: translate(-200%,0);
    transform: translate(-200%,0);
}

.toprecepies .pos3{
    display:block;
    -ms-transform: translate(-100%,0);
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0);
}

.toprecepies .pos4{
    display:block;
    -ms-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transform: translate(0,0);    
}

.toprecepies .pos5{
    display:block;
    -ms-transform: translate(100%,0);
    -webkit-transform: translate(100%,0);
    transform: translate(100%,0);
}

.toprecepies .pos6{
    display:block;
    -ms-transform: translate(200%,0);
    -webkit-transform: translate(200%,0);
    transform: translate(200%,0);
}

.toprecepies .pos7{
    display:block;
    -ms-transform: translate(300%,0);
    -webkit-transform: translate(300%,0);
    transform: translate(300%,0);
}

.toprecepies .pos8{
    -ms-transform: translate(400%,0);
    -webkit-transform: translate(400%,0);
    transform: translate(400%,0);
}

.toprecepies .pos8{
    -ms-transform: translate(500%,0);
    -webkit-transform: translate(500%,0);
    transform: translate(500%,0);
}


/*** RIGHT ***/

.toprecepies .toMyRight .pos1{
    -ms-transform: translate(-200%,0);
    -webkit-transform: translate(-200%,0);
    transform: translate(-200%,0);    
}

.toprecepies .toMyRight .pos2{
    -ms-transform: translate(-100%,0);
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0);
}

.toprecepies .toMyRight .pos3{
    -ms-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

.toprecepies .toMyRight .pos4{
    -ms-transform: translate(100%,0);
    -webkit-transform: translate(100%,0);
    transform: translate(100%,0);    
}

.toprecepies .toMyRight .pos5{
    -ms-transform: translate(200%,0);
    -webkit-transform: translate(200%,0);
    transform: translate(200%,0);    
}

.toprecepies .toMyRight .pos6{
    -ms-transform: translate(300%,0);
    -webkit-transform: translate(300%,0);
    transform: translate(300%,0);    
}

.toprecepies .toMyRight .pos7{
    -ms-transform: translate(400%,0);
    -webkit-transform: translate(400%,0);
    transform: translate(400%,0);
}

.toprecepies .toMyRight .pos8{
    -ms-transform: translate(500%,0);
    -webkit-transform: translate(500%,0);
    transform: translate(500%,0);
}

.toprecepies .toMyRight .pos9{
    -ms-transform: translate(600%,0);
    -webkit-transform: translate(600%,0);
    transform: translate(600%,0);
}

/*** LEFT ***/

.toprecepies .toMyLeft .pos1{
    -ms-transform: translate(-400%,0);
    -webkit-transform: translate(-400%,0);
    transform: translate(-400%,0);
}

.toprecepies .toMyLeft .pos2{
    -ms-transform: translate(-300%,0);
    -webkit-transform: translate(-300%,0);
    transform: translate(-300%,0);
}

.toprecepies .toMyLeft .pos3{
    -ms-transform: translate(-200%,0);
    -webkit-transform: translate(-200%,0);
    transform: translate(-200%,0);
}

.toprecepies .toMyLeft .pos4{
    -ms-transform: translate(-100%,0);
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0);    
}

.toprecepies .toMyLeft .pos5{
    -ms-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

.toprecepies .toMyLeft .pos6{
    -ms-transform: translate(100%,0);
    -webkit-transform: translate(100%,0);
    transform: translate(100%,0);
}

.toprecepies .toMyLeft .pos7{
    -ms-transform: translate(200%,0);
    -webkit-transform: translate(200%,0);
    transform: translate(200%,0);
}

.toprecepies .toMyLeft .pos8{
    -ms-transform: translate(300%,0);
    -webkit-transform: translate(300%,0);
    transform: translate(300%,0);
}

.toprecepies .toMyLeft .pos9{
    -ms-transform: translate(400%,0);
    -webkit-transform: translate(400%,0);
    transform: translate(400%,0);
}

.toprecepies .stopped .el{
    -webkit-transition:none;
    -moz-transition:none;
    transition:none;       
}

/*.toprecepies #li5 .vPos{
    top:0; left:0;
    width:100%; height:100%;
    text-align:center;
    background:url(http://www.giallozafferano.it/style/images/gzshop-gagliardetto.png) center top no-repeat;
}

.toprecepies #li5 a{
    text-decoration:none
}

.toprecepies #li5 h1{
    font:normal 22px 'Lato';
    color:#13013e;
}

.toprecepies #li5 h1 a{
    color:#13013e;
}

.toprecepies #li5 h1:before{
    content:'';
    display:block;
    margin:85px auto 9px;
    width:259px; height:82px;
    background:url(http://www.giallozafferano.it/style/images/gzshop-nasce.png) center top no-repeat;
}

.toprecepies #li5 h6{
    display:none;
}

.toprecepies #li5 .biglink2{
    position: absolute;
    bottom:60px;
    left: 50%;
    margin-left:-70px;
    padding-left:23px;
    width: 117px;
    height: 45px;
    line-height: 45px;
    font-size:20px;
    font-weight:700;
    color:#f5963c;
    text-align:center;
    background:rgba(255,255,255,.5);
    border:1px solid #f5963c;
    border-radius:22px;
    z-index: 4;    
}
.toprecepies #li5 .biglink2:before{
    content:'';    
    position:absolute;
    top:50%;
    left:16px;
    margin-top:-10px;
    width:28px;
    height:21px;
    background:url(http://www.giallozafferano.it/style/images/gzshop-carrello-slider.png);
}

.toprecepies #li5 .biglink{
    background:0 none;
    z-index:4;
}*/

/*** video break ***/
.videobreak{
    padding-bottom:50px;
    width:100%;
    background:#7b6aa3;
    overflow:hidden;
    position:relative;
}

.videobreak h2{
    margin:12px 0 5px;
    font:34px 'Cookie';
    color:#f8ddb8;
    text-align:center;
}

.videobreak h2 a{
    color:#f8ddb8;
    text-decoration:none;
}

.videobreak h2 a:hover{
    color:#FFF;
}

.videobreak ul.menu{
    margin:0 auto;
    padding:26px 0 0 12px;
    width:505px;
    background:url(http://www.giallozafferano.it/style/images/hp-vb-linee.png) 0 0 repeat-x;
    overflow:hidden;
}

.videobreak .menu li{
    float:left;
    padding-right:14px;
    font:bold 13px 'lato';
    color:#FFF;
    text-transform:uppercase;
}

.videobreak .menu li.ls{
    padding-right:0;
}

.videobreak .menu li a{
    color:#FFF;
    text-decoration:none;    
}

.videobreak .menu li a:hover{
    color:#f8ddb8;
    text-decoration:underline;    
}

.videobreak .arrowPos{
    position:relative;
}

.videobreak ul.videos{
    margin-top:27px;
    width:100%;
    height:360px;
    position:relative;
}

.videobreak .el{
    border:0 none;
}

.videobreak .el article:before{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    margin:-30px 0 0 -30px;
    width:60px;
    height:60px;
    background:url(http://www.giallozafferano.it/style/images/hp-vb-play.png) 0 0 no-repeat;    
    z-index:2;
}

.videobreak .el.pos1{
    -ms-transform: translate(-250%,0);
    -webkit-transform: translate(-250%,0);
    transform: translate(-250%,0);
}

.videobreak .el.pos2{
    display:block;
    -ms-transform: translate(-146.2962962962963%,0);
    -webkit-transform: translate(-146.2962962962963%,0);
    transform: translate(-146.2962962962963%,0);
    opacity:0.1;
}

.videobreak .el.pos3{
    display:block;
    -ms-transform: translate(-42.59259259259259%,0);
    -webkit-transform: translate(-42.59259259259259%,0);
    transform: translate(-42.59259259259259%,0);
    opacity:0.5;
}

.videobreak .el.pos4{
    display:block;
    -ms-transform: translate(61.11111111111111%,0);
    -webkit-transform: translate(61.11111111111111%,0);
    transform: translate(61.11111111111111%,0);
}    

.videobreak .el.pos5{
    display:block;
    -ms-transform: translate(164.8148148148148%,0);
    -webkit-transform: translate(164.8148148148148%,0);
    transform: translate(164.8148148148148%,0);
    opacity:0.5;
}

.videobreak .el.pos6{
    display:block;
    -ms-transform: translate(268.5185185185185%,0);
    -webkit-transform: translate(268.5185185185185%,0);
    transform: translate(268.5185185185185%,0);
    opacity:0.1;
}

.videobreak .el.pos7{
    -ms-transform: translate(372.2222222222222%,0);
    -webkit-transform: translate(372.2222222222222%,0);
    transform: translate(372.2222222222222%,0);
}

.videobreak .el.pos8{
    -ms-transform: translate(475.9259259259259%,0);
    -webkit-transform: translate(475.9259259259259%,0);
    transform: translate(475.9259259259259%,0);
}

.videobreak .el.pos2.solid,
.videobreak .el.pos3.solid,
.videobreak .el.pos5.solid,
.videobreak .el.pos6.solid{
    opacity:0.9;
}

/*** To the left ***/

.videobreak .toMyLeft .el.pos1{
    -ms-transform: translate(-353.7037037037037%,0);
    -webkit-transform: translate(-353.7037037037037%,0);
    transform: translate(-353.7037037037037%,0);
}

.videobreak .toMyLeft .el.pos2{
    -ms-transform: translate(-250%,0);
    -webkit-transform: translate(-250%,0);
    transform: translate(-250%,0);
}

.videobreak .toMyLeft .el.pos3{
    -ms-transform: translate(-146.2962962962963%,0);
    -webkit-transform: translate(-146.2962962962963%,0);
    transform: translate(-146.2962962962963%,0);
    opacity:0.1;   
}

.videobreak .toMyLeft .el.pos4{
    -ms-transform: translate(-42.59259259259259%,0);
    -webkit-transform: translate(-42.59259259259259%,0);
    transform: translate(-42.59259259259259%,0);
    opacity:0.5;
}    

.videobreak .toMyLeft .el.pos5{
    -ms-transform: translate(61.11111111111111%,0);
    -webkit-transform: translate(61.11111111111111%,0);
    transform: translate(61.11111111111111%,0);
    opacity:1;
}

.videobreak .toMyLeft .el.pos6{
    -ms-transform: translate(164.8148148148148%,0);
    -webkit-transform: translate(164.8148148148148%,0);
    transform: translate(164.8148148148148%,0);
    opacity:0.5;
}

.videobreak .toMyLeft .el.pos7{
    -ms-transform: translate(268.5185185185185%,0);
    -webkit-transform: translate(268.5185185185185%,0);
    transform: translate(268.5185185185185%,0);
    opacity:0.1;
}

.videobreak .toMyLeft .el.pos8{
    -ms-transform: translate(372.2222222222222%,0);
    -webkit-transform: translate(372.2222222222222%,0);
    transform: translate(372.2222222222222%,0);
}

/*** To the right ***/

.videobreak .toMyRight .el.pos1{
    -ms-transform: translate(-146.2962962962963%,0);
    -webkit-transform: translate(-146.2962962962963%,0);
    transform: translate(-146.2962962962963%,0);
     opacity:0.1;
}

.videobreak .toMyRight .el.pos2{
    -ms-transform: translate(-42.59259259259259%,0);
    -webkit-transform: translate(-42.59259259259259%,0);
    transform: translate(-42.59259259259259%,0);
     opacity:0.5;
}

.videobreak .toMyRight .el.pos3{
    opacity:1;
    -ms-transform: translate(61.11111111111111%,0);
    -webkit-transform: translate(61.11111111111111%,0);
    transform: translate(61.11111111111111%,0);
}

.videobreak .toMyRight .el.pos4{
    -ms-transform: translate(164.8148148148148%,0);
    -webkit-transform: translate(164.8148148148148%,0);
    transform: translate(164.8148148148148%,0);
     opacity:0.5;
}    

.videobreak .toMyRight .el.pos5{
    -ms-transform: translate(268.5185185185185%,0);
    -webkit-transform: translate(268.5185185185185%,0);
    transform: translate(268.5185185185185%,0);
     opacity:0.1;
}

.videobreak .toMyRight .el.pos6{
    -ms-transform: translate(372.2222222222222%,0);
    -webkit-transform: translate(372.2222222222222%,0);
    transform: translate(372.2222222222222%,0);
}

.videobreak .toMyRight .el.pos7{
    -ms-transform: translate(475.9259259259259%,0);
    -webkit-transform: translate(475.9259259259259%,0);
    transform: translate(475.9259259259259%,0);
}

.videobreak .toMyRight .el.pos8{
    -ms-transform: translate(579.6296296296296%,0);
    -webkit-transform: translate(579.6296296296296%,0);
    transform: translate(579.6296296296296%,0);
}

.videobreak .stopped .el{
    -webkit-transition:none;
    -moz-transition:none;
    transition:none;       
}

#primarTabExpanding{
    display:none !important;
}

.piedone{
    margin:0;
    padding:15px 0;
    background:#FFF;
}

.tabcont,
.smartcont{
    display:none;
}

/* SLIDER CHEF */

.swiper-slide a.chef-item{
    margin:0 auto;
    width:180px; height:145px;
    font:700 36px/36px 'Amatic SC'; color:#3d3356;
}

.swiper-slide a.chef-item img{
    display:block;
    width:145px; height:145px;
    border-radius:50%;
}

.swiper-slide a.chef-item span{
    display:block;
    font-size:26px; color:#6b5699;
}

.swiper-slide a.chef-item:hover span{
    color:#3d3356;
}

@media only screen and (max-width: 1539px){

    .toprecepies ul,
    .videobreak ul.videos{
        height:300px;
    }

    .toprecepies .el h1,
    .videobreak .el h1{
        top:230px;
    }

    .toprecepies .el h6,
    .videobreak .el h6{
        top:200px;
    }   

    .toprecepies .el article.video:before{
        top:225px;
        left:3%;
    }     

    .threecols .season figure{
        height:250px;
    }

/*    .toprecepies #li5 h1{
        font-size:22px;
        line-height:26px;
    }

    .toprecepies #li5 h1:before {
        margin:80px auto 7px;
        width:222px;
        height:70px;
        background-size:222px 70px;
    }

    .toprecepies #li5 .biglink2 {
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -70px;
        padding-left: 23px;
        width: 117px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-weight: 700;
        color: #f5963c;
        text-align: center;
        background: rgba(255,255,255,.5);
        border: 1px solid #f5963c;
        border-radius: 20px;
        z-index: 4;
    }
*/

    /* SLIDER CHEF */

    .swiper-slide a.chef-item{
        margin:0 auto;
        width:145px; height:110px;
        font:700 28px/28px 'Amatic SC'; color:#3d3356;
    }

    .swiper-slide a.chef-item img{
        display:block;
        width:110px; height:110px;
        border-radius:50%;
    }

    .swiper-slide a.chef-item span{
        display:block;
        font-size:26px; color:#6b5699;
    }

    .swiper-slide a.chef-item:hover span{
        color:#3d3356;
    }
}    

@media only screen and (max-width: 800px){

    .toprecepies .arrows{
        display:none;
    }

    .toprecepies ul{
        width:100%;
        height:435px;
        position:relative;
    }

    .toprecepies .el{
        width:85%;
    }  

    .toprecepies article .vPos{
        bottom:20px;
    }

    .toprecepies h1{
        font-size:40px;
        line-height:44px;
    }      

    .toprecepies h6{
        font-size:38px;
    }

    .toprecepies article .biglink,
    .videobreak .el article .biglink{
        background:url(http://www.giallozafferano.it/style/images/scuola-main.png) 0 300px repeat-x;
    }    

    .toprecepies .el article.video:before,
    .toprecepies article.video:before{
        content:'';
        position:absolute;
        top:50%;
        left:50%;
        margin:-16px 0 0 -16px;
    }

    .toprecepies .video h1 a,
    .toprecepies .el .video h6 a{
        padding:0 4.3%;
        width:91.4%; 
    }   

    .toprecepies article.chef h6 a{
        padding-top:5px;    
    }    

    .videobreak ul.videos{
        height:230px;
    }    

    .twocols{
        width:100%;
    }

    h3.block{
        margin-right:0;
        margin-left:0;
    }

    dt.round{
        height:164px;
    }

    dt.round a span{
        margin-top:34px;    
    }    

    #content .threecols .t{
        width:46%;
    }

    #content .threecols .season figure{
        height:192px;
    }

    .tabcont{
        display:block;
        margin:5px 0;
        width:100%;
        position:relative;
        overflow:hidden;
    }    

    .tabcont .adv{
        float:left;
        width:300px;
    }        

    .tabcont dl{
        float:right;
        width:calc(100% - 325px);
    } 

    .tabcont  dt{
        margin-bottom:19px;
        font:28px/34px 'Cookie';
        color:#6f5c91;    
        text-align:center;
        background:url(http://www.giallozafferano.it/style/images/bg-h3-sez.png) 0 0 repeat-x;
    }

    .tabcont  dt:before{
        display:block;
        margin:0 auto;
        content:attr(data-title);
        width:160px;
        background:#FFF;
    }

    .tabcont dd{
        float:left;
        margin:0 0 15px;
        padding:0 0 15px;
        width:100%;
        border-bottom:1px solid #dfdce6;
        position:relative;
    }

    .tabcont dd:last-of-type{
        margin:0;
        padding:0 0 15px 0;
        border:0 none;
    }

    .tabcont .i{
        float:left;
        margin-right:10px;
        width:115px;
    }

    .tabcont .i img{
        display:block;
        max-width:100%;
    }    

    .tabcont .t{
        display: block;
        font: bold 22px/20px 'Roboto Slab';
        color: #3d3257;
    }

    .tabcont .s{
        display:block;
        position:absolute;
        left:125px;
        bottom:15px;
        width:calc(100% - 125px);
        overflow:hidden;
    }

    .tabcont .s:before{
        position:absolute;
        top:0;
        content: 'Sponsored by:';
        font: 9px 'lato';
        color: #6f5c91;
        text-transform: uppercase;
    }

    .tabcont .s img{
        margin-left:75px;
        max-height:30px;
    }

    .tabcont a{
        text-decoration:none;
    }

    .tabcont a:hover{
        text-decoration:underline;
    }    
/*
.toprecepies #li5 h1{
    font:normal 32px 'Lato';
    color:#13013e;
}

.toprecepies #li5 h1 a{
    color:#13013e;
}

.toprecepies #li5 h1:before{
    content:'';
    display:block;
    margin:115px auto 23px;
    width:259px; height:82px;
    background:url(http://www.giallozafferano.it/style/images/gzshop-nasce.png) center top no-repeat;
}

.toprecepies #li5 h6{
    display:none;
}

.toprecepies #li5 .biglink2{
    position: absolute;
    bottom:60px;
    left: 50%;
    margin-left:-70px;
    padding-left:23px;
    width: 117px;
    height: 45px;
    line-height: 45px;
    font-size:20px;
    font-weight:700;
    color:#f5963c;
    text-align:center;
    background:rgba(255,255,255,.5);
    border:1px solid #f5963c;
    border-radius:22px;
    z-index: 4;    
}
.toprecepies #li5 .biglink2:before{
    content:'';    
    position:absolute;
    top:50%;
    left:16px;
    margin-top:-10px;
    width:28px;
    height:21px;
    background:url(http://www.giallozafferano.it/style/images/gzshop-carrello-slider.png);
}    
*/

    .sItem.toplist figure a:before{
        top:20px;
    }

}

@media only screen and (max-width: 670px){

    #page{
        margin-bottom:0;
    }

    .tabcont,
    .nomob,
    .videobreak .el article:before,
    .videobreak .el article:after,
    .videobreak .arrows{
        display:none;
    }

    .toprecepies h2{
        display:none;       
    }

    .toprecepies ul{
        height:360px;
    }

    .toprecepies .el{
        width:45%;
    }    

    .toprecepies article{
        position:relative;
        margin-bottom:1px;
        z-index:1;
    }

    .toprecepies article .biglink,
    .videobreak .el article .biglink{
        background:url(http://www.giallozafferano.it/style/images/scuola-main-mobile.png) 0 -280px repeat-x;    
    }

    .toprecepies article .vPos,
    .videobreak article .vPos{
        bottom:10px;
    }

    .toprecepies h1,
    .videobreak .el h1{
        font-size:22px;
        line-height:26px;
    }

    .toprecepies h6,
    .videobreak .el h6{
        font-size:22px;
    }

    .toprecepies article.gzshop{
        display:none;
    }

    .toprecepies article.chef .vPos{
        padding:10px 4.3%; 
    }    

    .toprecepies article.chef h6{
        font-size:26px;
    }

    .toprecepies article.chef h6 a,
    .toprecepies article.chef h1 a{
        padding:0 0 0 105px;
    }

    .toprecepies article.chef h6 a.faccia{
        height:64px;
    }

    .toprecepies article.chef h6 a.faccia img {
        width: 60px;
        height: 60px;    
    }

    dl.portate,
    dl.portate.ls{
        width:50%;
    }

    dl.portate:nth-of-type(1),
    dl.portate:nth-of-type(2){
        margin-bottom:25px;
    }

    dt.round{
        margin:0 auto;
        padding-top:0;
        width:100%;
        height:26px;
        background:0 none !important;
        border-radius:0;
    }    

    dt.round a{
        color:#000;
        text-align:left;
        text-decoration:underline;
    }

    dt.round span{
        display:inline;
        padding:0;
        background:0 none !important;
        border-radius:0;
    }

    .portate dt{
        font-size:22px;
    }

    .portate dd{
        border-right:2px solid #FFF;
        border-left:2px solid #FFF;
    }

    .sItem,
    .sItem.ctr{
        float:none;
        margin:0 0 20px;
        width:100%;
    }

    .sItem.toplist figure a:before{
        top:40px;
    }

    .sItem figure{
        width:100%;
    }

    .videobreak{
        padding-top:20px;
        padding-bottom:2.5%;
        border-bottom:30px solid #FFF;
    }
    
    .videobreak ul.menu{
        margin:0 2.5%;
        padding-left:0;
        width:auto;
    }

    .videobreak ul.menu li{
        padding:0;
        width:33.3%;
    }

    .videobreak ul.menu li:nth-of-type(1),
    .videobreak ul.menu li:nth-of-type(4){
        width:40%;
    }

    .videobreak ul.menu li:nth-of-type(3),
    .videobreak ul.menu li:nth-of-type(6){
        float:right;
        width:81px;
    }

    .videobreak .videos{
        min-height:203px;
    }

    .videobreak .el{
        width:95%;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;   
    }

    .videobreak .el.pos1,
    .videobreak .el.pos2,
    .videobreak .el.pos3{
        -ms-transform: translate(-102.5%,0);
        -webkit-transform: translate(-102.5%,0);
        transform: translate(-102.5%,0);        
    }            

    .videobreak .el.pos4{
        -ms-transform: translate(2.5%,0);
        -webkit-transform: translate(2.5%,0);
        transform: translate(2.5%,0);        
    }    

    .videobreak .el.pos5,
    .videobreak .el.pos6,
    .videobreak .el.pos7,
    .videobreak .el.pos8{
        -ms-transform: translate(105.2%,0);
        -webkit-transform: translate(105.2%,0);
        transform: translate(105.2%,0);        
    }    

    /* to the right */
    .videobreak .toMyRight .el.pos3{
        -ms-transform: translate(2.5%,0);
        -webkit-transform: translate(2.5%,0);
        transform: translate(2.5%,0);        
    }            

    .videobreak .toMyRight .el.pos4{
        -ms-transform: translate(105.2%,0);
        -webkit-transform: translate(105.2%,0);
        transform: translate(105.2%,0);        
    }    

    /* to the left */
    .videobreak .toMyLeft .el.pos5{
        -ms-transform: translate(2.5%,0);
        -webkit-transform: translate(2.5%,0);
        transform: translate(2.5%,0);        
    }            

    .videobreak .toMyLeft .el.pos4{
        -ms-transform: translate(-102.5%,0);
        -webkit-transform: translate(-102.5%,0);
        transform: translate(-100%,0);        
    }   

    .videobreak .toMyRight .el.pos1,
    .videobreak .toMyRight .el.pos2,
    .videobreak .toMyLeft .el.pos1,
    .videobreak .toMyLeft .el.pos2{
        -ms-transform: translate(-100%,0);
        -webkit-transform: translate(-100%,0);
        transform: translate(-100%,0);        
    }       

    .videobreak .toMyRight .el.pos6,
    .videobreak .toMyRight .el.pos7,
    .videobreak .toMyRight .el.pos8,    
    .videobreak .toMyLeft .el.pos6,
    .videobreak .toMyLeft .el.pos7,
    .videobreak .toMyLeft .el.pos8{
        -ms-transform: translate(105.2%,0);
        -webkit-transform: translate(105.2%,0);
        transform: translate(105.2%,0);        
    }   

    h3.block.fresh{
        margin-top:20px;
    }

    .freshEl{
        float:left;
        margin:0 0 20px;
        width:45%;
    }

    .freshEl.mright,
    .freshEl.ls{
        float:right;
    }

    .freshEl.mclear{
        clear:left;
    }

    .threecols{
        display:none;
    }

    .threecols.mid{
        display:block;
        margin:0;
        width:100%;
    }

    .threecols h3{
        margin-bottom:35px;
    }    

    .threecols .season figure{
        height:285px;
    }    

    .widgetHelpSwipe {
        width: 120%;
        height: 100%;
        right: -10%;
        position: absolute;
        z-index: 951;
    }

    .widgetHelpSwipeActive {
        bottom: 0px;
    }

    .widgetHelpSwipeActive:before {
        content: '';
        position: absolute;
        top:105%;
        left:50%;      
        margin-left: -40px;      
        width:80px;
        height:110px;      
        background-image: url('images/manina_swipe.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: rotate(-45deg) translate3d(0,0,0);
        transform: rotate(-45deg) translate3d(0,0,0);
        -webkit-perspective: 800px; /* Chrome, Safari, Opera */
        perspective: 800px;
        -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
    }

    .widgetHelpSwipeActive:before{
        animation: animationFrames linear 3s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames linear 3s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -moz-animation: animationFrames linear 3s;
        -moz-animation-iteration-count: 1;
        -moz-transform-origin: 50% 50%;
        -o-animation: animationFrames linear 3s;
        -o-animation-iteration-count: 1;
        -o-transform-origin: 50% 50%;
        -ms-animation: animationFrames linear 3s;
        -ms-animation-iteration-count: 1;
        -ms-transform-origin: 50% 50%;
    }

    @-keyframes animationFrames {
        0% {
            top:100%;
            left:50%;
            opacity:1;
            transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
        }
        10% {
            top:50%;
            margin-top:-55px;    
            transform: rotate(0deg)
        }
        25%, 55% {
            top:50%;
            margin-top:-55px;
            left:75%;
            transform: rotate(0deg)
        }
        40%, 70% {
            top:50%;
            margin-top:-55px;
            left:25%;
            transform: rotate(-45deg)
        }  
        90% {
            top:50%;
            margin-top:-55px;    
            left:50%;
        }  
        100% {
            top:-100%;
            left:50%;
        }
    }    

    @-webkit-keyframes animationFrames {
        0% {
            top:100%;
            left:50%;
            opacity:1;
            -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
        }
        10% {
            top:50%;
            margin-top:-55px;    
            -webkit-transform: rotate(0deg)
        }
        25%, 55% {
            top:50%;
            margin-top:-55px;
            left:75%;
            -webkit-transform: rotate(0deg)
        }
        40%, 70% {
            top:50%;
            margin-top:-55px;
            left:25%;
            -webkit-transform: rotate(-45deg)
        }  
        90% {
            top:50%;
            margin-top:-55px;    
            left:50%;
        }  
        100% {
            top:-100%;
            left:50%;
        }
    }

    @-moz-keyframes animationFrames {
        0% {
            top:100%;
            left:50%;
            opacity:1;
            -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
        }
        10% {
            top:50%;
            margin-top:-55px;    
            -moz-transform: rotate(0deg)
        }
        25%, 55% {
            top:50%;
            margin-top:-55px;
            left:75%;
            -moz-transform: rotate(0deg)
        }
        40%, 70% {
            top:50%;
            margin-top:-55px;
            left:25%;
            -moz-transform: rotate(-45deg)
        }  
        90% {
            top:50%;
            margin-top:-55px;    
            left:50%;
        }  
        100% {
            top:-100%;
            left:50%;
        }
    }   

    @-o-keyframes animationFrames {
        0% {
            top:100%;
            left:50%;
            opacity:1;
            -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
        }
        10% {
            top:50%;
            margin-top:-55px;    
            -o-transform: rotate(0deg)
        }
        25%, 55% {
            top:50%;
            margin-top:-55px;
            left:75%;
            -o-transform: rotate(0deg)
        }
        40%, 70% {
            top:50%;
            margin-top:-55px;
            left:25%;
            -o-transform: rotate(-45deg)
        }  
        90% {
            top:50%;
            margin-top:-55px;    
            left:50%;
        }  
        100% {
            top:-100%;
            left:50%;
        }
    } 

    @-ms-keyframes animationFrames {
        0% {
            top:100%;
            left:50%;
            opacity:1;
            -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
        }
        10% {
            top:50%;
            margin-top:-55px;    
            -ms-transform: rotate(0deg)
        }
        25%, 55% {
            top:50%;
            margin-top:-55px;
            left:75%;
            -ms-transform: rotate(0deg)
        }
        40%, 70% {
            top:50%;
            margin-top:-55px;
            left:25%;
            -ms-transform: rotate(-45deg)
        }  
        90% {
            top:50%;
            margin-top:-55px;    
            left:50%;
        }  
        100% {
            top:-100%;
            left:50%;
        }
    }
   
    .animSlideActive {
      animation: animSlideActive linear 3s;
      animation-iteration-count: 1;        
      -webkit-animation: animSlideActive linear 3s;
      -webkit-animation-iteration-count: 1;
      -moz-animation: animSlideActive linear 3s;
      -moz-animation-iteration-count: 1;      
      -o-animation: animSlideActive linear 3s;
      -o-animation-iteration-count: 1;      
      -ms-animation: animSlideActive linear 3s;
      -ms-animation-iteration-count: 1;      
      opacity:0.7;
    }

    @-keyframes animSlideActive {
        0%,10%,90%,100% {
            transform: translate(2.5%,0);
        }
        25%, 55%{
            transform: translate(5%,0);
        }
        40%,70%{
            transform: translate(0,0);
        }  
    }

    @-webkit-keyframes animSlideActive {
        0%,10%,90%,100% {
            -webkit-transform: translate(2.5%,0);
        }
        25%, 55%{
            -webkit-transform: translate(5%,0);
        }
        40%,70%{
            -webkit-transform: translate(0,0);
        }  
    }

    @-moz-keyframes animSlideActive {
        0%,10%,90%,100% {
            -moz-transform: translate(2.5%,0);
        }
        25%, 55%{
            -moz-transform: translate(5%,0);
        }
        40%,70%{
            -moz-transform: translate(0,0);
        }  
    }

    @-o-keyframes animSlideActive {
        0%,10%,90%,100% {
            -o-transform: translate(2.5%,0);
        }
        25%, 55%{
            -o-transform: translate(5%,0);
        }
        40%,70%{
            -o-transform: translate(0,0);
        }  
    }    

    @-ms-keyframes animSlideActive {
        0%,10%,90%,100% {
            -ms-transform: translate(2.5%,0);
        }
        25%, 55%{
            -ms-transform: translate(5%,0);
        }
        40%,70%{
            -ms-transform: translate(0,0);
        }  
    }

    .smartcont{
        display:block;
        width:100%;
        position:relative;
        overflow:hidden;
        background:#FFF;
    }    

    .smartcont .adv{
        margin:10px auto;
        width:300px;
    }        

    .smartcont dl{
        margin:0 auto;
        width:300px;
    } 

    .smartcont  dt{
        margin-bottom:19px;
        font:28px/34px 'Cookie';
        color:#6f5c91;    
        text-align:center;
        background:url(http://www.giallozafferano.it/style/images/bg-h3-sez.png) 0 0 repeat-x;
    }

    .smartcont  dt:before{
        display:block;
        margin:0 auto;
        content:attr(data-title);
        width:160px;
        background:#FFF;
    }

    .smartcont dd{
        float:left;
        margin:0 0 15px;
        padding:0 0 15px;
        width:100%;
        border-bottom:1px solid #dfdce6;
        position:relative;
    }

    .smartcont dd:last-of-type{
        margin:0;
        padding:0 0 15px 0;
        border:0 none;
    }

    .smartcont .i{
        float:left;
        margin-right:10px;
        width:115px;
    }

    .smartcont .i img{
        display:block;
        max-width:100%;
    }    

    .smartcont .t{
        display: block;
        font: bold 18px/20px 'Roboto Slab';
        color: #3d3257;
    }

    .smartcont .s{
        display:block;
        position:absolute;
        left:125px;
        bottom:15px;
        width:calc(100% - 125px);
        overflow:hidden;
    }

    .smartcont .s:before{
        position:absolute;
        bottom:5px;
        content: 'Sponsored by:';
        font: 9px 'lato';
        color: #6f5c91;
        text-transform: uppercase;
    }

    .smartcont .s img{
        margin-left:75px;
        max-height:30px;
    }

    .smartcont a{
        text-decoration:none;
    }

    .smartcont a:hover{
        text-decoration:underline;
    }        

}

@media only screen and (max-width: 320px){
    .threecols .season figure{
        height:253px;
    }
}

/*** apple ***/
.toprecepies h2{
    text-indent:-9999em;
}

.acr{
    margin:0 auto;
    width:1000px;
}

@media only screen and (max-width: 900px){
    .acr{
        display:none;
    }
}

@media only screen and (max-width: 1000px){
    .portate dd {
        font-size: 15px;
        line-height: 32px
    }
}

/*survey*/
.gz-hp-survey{
    margin:20px 0 30px;
    overflow:hidden;
}
.gz-hp-survey .helpus{
    float:left;
    /*
    width:75%;
    */
    width: auto;
    padding-right: 80px;

    font:700 20px/45px 'Roboto Slab';
    color:#54457c;
    text-decoration:none;
    background:url(http://www.giallozafferano.it/style/images/survey-freccia.png) 95% -3px no-repeat;
}
.gz-hp-survey .helpus:hover{
    text-decoration:underline;
}           
.gz-hp-survey .forreal{
    /*
    float:right;
    */
    float: left;
    width:25%;
    font:700 20px/50px 'Lato';
    color:#FFF;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    background:#fd962d;
    border-radius:2px;
}
.gz-hp-survey .forreal:hover{
    background:#3c3458; 
}
@media only screen and (max-width: 1539px){

    .gz-hp-survey .helpus{
        font:700 18px/50px 'Roboto Slab';
        /*
        background:0 none;
        */
    }               
    .gz-hp-survey .forreal{
        width:25%;
        font:700 16px/50px 'Lato';
    }               
}
@media only screen and (max-width: 800px){
    .gz-hp-survey{
        padding-top:35px;
        margin-right:0;
        margin-left:0;
        border-top:1px solid #e0dde7;
    }                   
    .gz-hp-survey .helpus{
        /*
        width:73%;
        */
        font:700 22px/50px 'Roboto Slab';
    }               
    .gz-hp-survey .forreal{
        width:27%;
        font:700 20px/50px 'Lato';
    }               
}           
@media only screen and (max-width: 670px){
    .gz-hp-survey{
        margin:20px 5.833333333333333% 30px;
        padding:0;
        border:0 none;
    }               
    .gz-hp-survey .helpus{
        float:none;
        display:block;
        margin:0 0 15px;
        width:100%;
        line-height:normal;
        text-align:center;
        line-height: 25px;
    }               
    .gz-hp-survey .forreal{
        float:none;
        display:block;
        width:100%;
        font:700 16px/50px 'Lato';
    }                   
}