body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,  
li, dl, dt, dd, form, a, fieldset, th, td  
{  
	margin: 0; padding: 0; border: 0; outline: none;  
}  

body  
{  
	line-height: 1.2em;  
}  
input, select {
	margin:0; padding:0;
}
h1, h2, h3, h4, h5, h6  
{  
	font-size: 100%;
}  

ul, ol  
{  
	list-style: none;  
}  

a  
{  
	color: black;  
	text-decoration: none;  
}  

a:hover  
{  
	text-decoration: underline;  
}  

.floatLeft  
{  
	float: left;  
}  

.floatRight  
{  
	float: right;  
}  


/* ----- float clearing -------------------- */
.clearfix:after {
	content: ".";
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
	}

.clearfix {
	display: inline-block; /* Fixes IE/Mac */
	}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.clear {clear: both;}