/* master-GlobalResults.css */
/* NOTE: Any changes to this file will affect all result pages globally */

body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#FFF;
	min-width:780px;    /* Minimum width of layout - remove line if not required */
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}

/* column container */
.content {
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;	/* This chops off any overhanging divs */
}
/* 2 column right menu settings */
.rightmenu {
}
.rightmenu .colleft {
	float:left;
	width:200%;
	margin-left:-200px;
	position:relative;
	right:100%;
	background:#fff;
}
.rightmenu .col1wrap {
	float:left;
	width:50%;
	position:relative;
	left:50%;
	padding-bottom:1em;
}
.rightmenu .leftside {
	margin:0 15px 0 205px;
	overflow:hidden;
}
.rightmenu .rightside {
	border-left:1px solid #C9D7F1;
	float:right;
	font-size:0.9em;
	left:200px;
	padding:0 10px;
	position:relative;
	width:210px;
}
/* Footer styles */
#footer {
	clear:both;
}
