@charset "UTF-8";
/**
 * 全体初期化
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,th,td,textarea{margin: 0;padding: 0;font-size: 12px;line-height: 1.5;}
table{border-collapse: separate;border-spacing: 0;}
fieldset,img,abbr{border:0;}
address,caption,cite,code,dfn,h1,h2,h3,h4,th,var{font-style: normal;font-weight: normal;}
caption,th{text-align: left;}
q:before,q:after{content: '';}

html, body {
	font-size: 12px;
	color: #cccccc;
	text-align: center;
	font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	background-color: #000;
}

#corp {
	text-align: left;
	height: 38px;
	background: #000 url(../imgs/corp/bg.png) repeat-x;
}
	#corp a {
		display: block;
		width: 141px;
		height: 38px;
		background-image: url(../imgs/corp/logo.png);
	}

#content {
	background: #000000 url(../imgs/bg.jpg) no-repeat center top;
}

#xiv-logo {
	padding: 32px 0 0 0;
}

#text {
	padding: 10px 0 0 0;
}

#flag-container {
	margin: 14px auto 144px auto;
}
.flag {
	width: 100px;
	height: 64px;
	display: block;
}
.flag:hover {
	background-position: 0 bottom;
}
#ja {background-image: url(../imgs/btJA.png);}
#na {background-image: url(../imgs/btNA.png);}
#uk {background-image: url(../imgs/btUK.png);}
#fr {background-image: url(../imgs/btFR.png);}
#de {background-image: url(../imgs/btDE.png);}
#anz {background-image: url(../imgs/btANZ.png);}
#no {background-image: url(../imgs/btNO.png);}
#se {background-image: url(../imgs/btSE.png);}
#dk {background-image: url(../imgs/btDK.png);}
#fi {background-image: url(../imgs/btFI.png);}
#hk {background-image: url(../imgs/btHK.png);}
#sg {background-image: url(../imgs/btSG.png);}



.bound {
	width: 960px;
	margin: auto;
}