#twtr-widget-1 .twtr-doc, #twtr-widget-1 .twtr-hd a, #twtr-widget-1 h3, #twtr-widget-1 h4 {
    background-color: #080f2c !important;
	/*font-family: 'amplitudecondblack';*/
	font-size:12px;
    color: #fff !important;
	line-height:normal;
	font-weight:normal;
}
#twtr-widget-1 .twtr-tweet a.twtr-user {
    color: #444 !important;
}
#twtr-widget-1 .twtr-tweet a {
    color: #00acee !important;
}
#twtr-widget-1 .twtr-tweet a.twtr-timestamp {
    color: #ad090f !important;
}
#twtr-widget-1 .twtr-bd, #twtr-widget-1 .twtr-timeline i a, #twtr-widget-1 .twtr-bd p {
    color: #444 !important; text-shadow:1px 1px 0px rgba(0,0,0,0.12);
}
#twtr-widget-1 .twtr-new-results, #twtr-widget-1 .twtr-results-inner, #twtr-widget-1 .twtr-timeline {
    background: none repeat scroll 0 0 #FCFEFF !important;
}
.twtr-widget {
	position:relative;
	font-size:12px!important;
	font-family:"lucida grande", lucida, tahoma, helvetica, arial, sans-serif!important;
	zoom:1;
}
.twtr-fullscreen {
	font-size:220%!important;
}
.twtr-fullscreen .twtr-new-results {
	_display:none!important;
}
.twtr-inactive {
	display:none;
}
.twtr-widget a img {
	border:0!important;
}
.twtr-doc {
	overflow:hidden;
	width:100%;
	text-align:left;
	font-weight:normal;
}
.twtr-bd {
	padding:3px;
}
.twtr-widget .twtr-tweet-wrap {
	padding:6px 8px ;
	overflow:hidden;
	zoom:1;
}
.twtr-fullscreen .twtr-tweet-wrap {
	padding:20px;
}
.twtr-widget .twtr-tweet {
	border-bottom:1px solid #ddd;
	overflow:hidden;
	zoom:1;
}
.twtr-widget-profile img.twtr-profile-img {
	display:block;
	float:left;
	border:0!important;
	margin-right:5px;
}
.twtr-widget h3, .twtr-widget h4, .twtr-widget p {
	margin:0!important;
	padding:0!important;
	line-height:1.2!important;
	width:auto!important;
}
.twtr-widget-profile h3, .twtr-widget-profile h4 {
	/*margin:0 0 0 40px!important;*/
}
.twtr-widget h3 {
	font-size:11px!important;
	font-weight:normal!important;
}
.twtr-widget h4 {
	font-size:16px!important;
	float:left;
}
.twtr-widget h4 span {font-family:NewsGothCnBT, Arial, Helvetica, sans-serif; font-size:14px; color:#df453d; display:block; font-weight:normal;}

.twtr-widget em, .twtr-widget .twtr-new-results {
	font-size:9px;
	font-style:normal;
	display:block;
	margin-top:2px;
	zoom:1;
}
.twtr-widget .twtr-new-results {
	text-align:center;
	padding:3px;
	margin:0 auto -10px auto!important;
	display:block;
	position:relative;
	bottom:5px;
	line-height:.9;
}
.twtr-results-inner {
	line-height:1;
	font-size:100%;
	padding:4px 0;
	position:relative;
	bottom:-2px;
	width:40%;
	margin:0 auto;
	z-index:2;
	text-align:center;
}
.twtr-results-hr {
	width:100%;
	position:relative;
	z-index:1;
	height:1px;
	border-bottom:1px dotted #ddd;
	bottom:7px;
	background:none;
	overflow:hidden;
}
.twtr-new-results span {
	position:relative;
	z-index:3;
	top:-14px;
	display:block;
	font-size:9px!important;
}
.twtr-fullscreen .twtr-new-results span {
	font-size:24px!important;
}
.twtr-hd {
	padding:10px 10px 7px;
	position:relative;
	zoom:1;
	overflow:hidden;
}
.twtr-hd .kus {margin-top:-11px; position:absolute; right:8px; top:50%;}
.twtr-fullscreen .twtr-hd {
	height:0;
	padding:0;
}
.twtr-timeline {
	position:relative;
	overflow:hidden;
	z-index:2;
	height:225px;
}
.twtr-scroll .twtr-timeline {
	overflow-x:hidden;
	overflow-y:auto;
}
.twtr-widget .twtr-tweet:last-child {
	border-bottom-width:0;
}
.twtr-ft {
	position:relative;
}
.twtr-ft div {
	overflow:hidden;
	padding:10px;
	zoom:1;
}
.twtr-ft span {
	/*float:right;*/ display:block;
	text-align:right; color:#2cc4c6;
}
.twtr-ft a {
	float:left;
	display:block;
}
.twtr-ft span a {
	float:none; color:#fff;
}
.twtr-avatar {
	width:40px;
	height:40px;
	float:left;
	overflow:hidden;
	display:block;
}
.twtr-fullscreen .twtr-avatar {
	width:80px;
	height:80px;
}
.twtr-img {
	height:25px;
	width:25px;
}
.twtr-img img {
	width:30px;
	height:30px;
}
.twtr-fullscreen .twtr-img img {
	width:72px;
	height:72px;
}
.twtr-fullscreen a.twtr-join-conv {
	display:none;
}
.twtr-tweet-text {
	/*margin-left:40px;*/
}
.twtr-fullscreen .twtr-tweet-text {
	margin-left:90px;
}
.twtr-doc a {
	text-decoration:none!important;
}
.twtr-doc a:hover {
	text-decoration:underline!important;
}
