/* CSS Document */
/*--------------
		 Global
---------------*/
html {	
}
body {	
	height:100%;	
	color: #000;
	font-size:12px;
	font-family: Tahoma, Geneva, sans-serif;
}
a {
	text-decoration:underline;
	color:#0063B4;
}
a:hover {	
	text-decoration:none;
}
a:visited{
	text-decoration:underline;
}

hr {
	border:0px solid #7F7F7F;
	border-bottom:1px solid #7F7F7F;
}
.bigclear{clear:both;height:35px}
#adaptive_head{display: none}
h1 {
	font-size:19px;
	margin:0;
	padding: 4px 0 5px;
	font-weight:normal;
}

h2 {
	font-size: 18px;
	margin:0;
	padding: 4px 0 5px;
	font-weight:normal;
}

h3 {
	font-size:19px;
	margin:0;
	padding: 4px 0 5px;
	font-weight:normal;
	/*clear:both;*/
}

h4 {
	font-size: 17px;
	margin:0;
	padding: 4px 0 5px;
}

h5 {
	font-size: 15px;
	margin:0;
	padding: 4px 0 5px;
}

h1 a, h2 a {
	color:#c32735;
}
h1 span, h2 span {
	color:#c4c4c4;
}

p{
	padding-bottom:18px;
	line-height:17px;
}

.itemRO{
	position:relative;
	top:0;
	width:8000px;
}
.itemWrapper {
	float:left;
	overflow:hidden;
	padding:0;
	position:relative;
	width:854px;
}

.flLeft{
	float:left;
}
.flRight{
	float:right;
}

textarea{
	overflow:hidden;
}

.separator{
	float:left;
	width:100%;
	height:15px;	
	clear:both;
}

/*--------------
		 Global EOF
---------------*/


/*--------------
		 Container
---------------*/
#container {
	width:990px;
	margin:0 auto;
	position:relative;
	/*background:#FFF;*/
}
/*--------------
		 Container EOF
---------------*/

/*--------------
		 header 
---------------*/
#header{
	float:left;
	width:100%;
	height:81px;
	margin:35px 0 0 0;
}
#header a{
	color:#FFF;
}
#logo{	
	width:215px;
	height:58px;
	float:left;
}
#logo a{
	margin:-3px 0 0 0px;
	position:absolute;
	display:block;
	width:206px;
	height:58px;;
	background:url(/i/logo2013.png);
	text-indent:-9999px;
}
#mainMenu{
	float:left;
	background:url(/i/new_design/header_right.png) no-repeat 0 0;
	width:714px;
	height:37px;
}
.main-menu {
    display: none;
  }
#mainMenu ul{
}
#mainMenu li{
	float:left;
}
#mainMenu li a{
	color:#12161b;
	font-size:15px;
	display:inline-block;
	height:37px;
	line-height:37px;
	padding:0 15px;
	text-decoration:none;
}
#mainMenu li.fstM a{
	padding-left:28px;
}
#mainMenu li.fstLevel a:hover, #mainMenu li.mAct{
	color:#fff;	
	background:#bd2432 url(/i/new_design/mm_act_bg.png) -10px 0 no-repeat;
}

#mainMenu li.mAct #fstElem{
	background:#bd2432 url(/i/new_design/mm_act_bg.png) -0px 0 no-repeat;
}
#mainMenu li.mAct a{
	color:#fff;	
}
#mainMenu li.fstM a:hover{
	color:#fff;
	background:url(/i/new_design/mm_act_bg.png) 0px 0 no-repeat;
}
#mainMenu ul ul{
	visibility:visible;
	display: none;
	position:absolute;
	font-size:13px;
	top: 72px;
}
/*
#mainMenu ul li ul{
	margin-left: expression(-110 + 'px');
}
*/
#mainMenu li li a:hover, #mainMenu li.fstLevel li a:hover{
	background:none;
	text-decoration:underline;
}
#mainMenu li li{
	background:#ba0010;
	padding:0;
	float:left;
	position: relative;
}
#mainMenu li li a{
	height:26px;
	line-height:26px;
	font-size:11px;
	color:#FFF;
	padding:0 7px;
}
#mainMenu li li.fst a{
	padding-left:0;
}
#mainMenu li.fstLevel li.fst {
	background:none;
	background:url(/i/new_design/bg_sub_l.png) no-repeat top left;
	display:inline-block;
	height:26px;
	padding-left:10px;
}
#mainMenu li.fstLevel li.fst a:hover{
	background:url(/i/new_design/bg_sub_l.png) no-repeat top left;
}
#mainMenu li li.last{
	background:url(/i/new_design/bg_sub_r.png) no-repeat top right;
	display:inline-block;
	float:left;
	height:26px;
	width:7px;
}
#mainMenu li.fstM li a{
	padding:0 7px;
}
#mainMenu li li.last a:hover{
	background:url(/i/new_design/bg_sub_r.png) no-repeat top right;
}










#mainMenu_new{
	float:left;
	background:url(/i/new_design/header_right.png) no-repeat 0 0;
	width:714px;
	height:37px;
}
#mainMenu_new ul{
}
#mainMenu_new li{
	float:left;
}
#mainMenu_new li a{
	color:#12161b;
	font-size:15px;
	display:inline-block;
	height:37px;
	line-height:37px;
	padding:0 10px;
	text-decoration:none;
}
#mainMenu_new li.fstM a{
	padding-left:28px;
}
#mainMenu_new li.mAct {
color: #fff;
background: #bd2432 url(/i/new_design/nmenu_bg2.png) top center repeat-x;
}

#mainMenu_new li.mAct #fstElem{
	background:#bd2432 url(/i/new_design/mm_act_bg.png) -0px 0 no-repeat;
}
#mainMenu_new li.mAct a{
	color:#fff;	
}
#mainMenu_new ul ul{
	visibility:visible;
	display: none;
	position:absolute;
	font-size:13px;
	/*top: 72px;*/
}
/*
#mainMenu ul li ul{
	margin-left: expression(-110 + 'px');
}
*/
#mainMenu_new li li a:hover, #mainMenu li.fstLevel li a:hover{
	background:none;
	text-decoration:underline;
}
#mainMenu_new li li{
	background:#ba0010;
	padding:0;
	float:left;
	position: relative;
}
#mainMenu_new li li a{
	height:26px;
	line-height:26px;
	font-size:11px;
	color:#FFF;
	padding:0 7px;
	z-index: 99;
}
#mainMenu_new li li.fst a{
	padding-left:0;
}
#mainMenu_new li.fstLevel li.fst {
	background:#9F0017;
	display:inline-block;
	height:26px;
	padding-left:10px;
	-moz-border-radius: 0px 0px 0px 5px;-webkit-border-radius: 0px 0px 0px 5px;-khtml-border-radius: 0px 0px 0px 5px;border-radius: 0px 0px 0px 5px;
}
#mainMenu_new li li.last{
	display:inline-block;
	float:left;
	height:26px;
	width:7px;
	-moz-border-radius: 0px 0px 5px 0px;-webkit-border-radius: 0px 0px 5px 0px;-khtml-border-radius: 0px 0px 5px 0px;border-radius: 0px 0px 5px 0px;
}
#mainMenu_new li.fstM li a{
	padding:0 7px;
}




#mainMenu_new {float: none;background: none;width: 100%;}
#mainMenu_new li.mAct #fstElem {background: #bd2432 url(/i/new_design/nmenu_bg2.png) top center repeat-x;}
#mainMenu_new li li {background: #9F0017;padding: 0;float: left;position: relative;z-index: 98;}
#newheader{color:#FFF; margin-top:15px}
#newheader a  {color: #FFF;}
#newheader .memberarea {float:right; margin-bottom:8px; font-size: 11px; margin-right:5px}
#newheader .timedate{float:left}
#newheader .logohead{ background-color:#838F9F; padding:5px;margin-left:10px;height:45px}
#newheader .logohead .about{float:right; margin-right:25px; line-height:1.5em; font-size:13px; margin-top:3px}
#newheader .logohead .search {margin-top: 5px;float: left;margin-left: 230px;}
#newheader .menu{background: url(/i/new_design/nmenu_bg.png) #FBFBFC top center repeat-x; height:37px; margin-top:10px}
#newheader .clear {clear: both;font-size: 0;line-height: 0;display: block;float: none;}






#searchWrap{
	float:right;
	padding:7px 28px 0 0;
	*padding-left:35px;
}
/*#search input {width: 250px;float: left;padding: 2px 4px;height: 25px;color: #99a1b2;font-size: 13px;font-style: italic;border: 1px solid #79869f;-webkit-appearance: textfield;}*/
#search input {width: 240px;padding: 2px 4px;height: 20px;color: #99a1b2;font-size: 13px;font-style: italic;border: 0px;-webkit-appearance: textfield;}
#search .go {
	width:24px;
	padding:0;
	height:21px;
	cursor:pointer;
	float:left;
	background:url(/i/new_design/search_button.png) no-repeat 0 0;	
	border:1px solid #79869f;
	border-left:none;
}

#memberArea{float:right; margin-bottom:8px; font-size: 11px; margin-right:5px}
.form_enter{
	/*visibility:hidden;*/
}
.form_enter {
	width:229px;
	height:197px;
	position:absolute;
	right:-18px;
	top:27px;
	font-size:13px;
	display: none;
	z-index: 10000
}
.form_enter fieldset {
	width:190px;
	height:185px;
	padding: 12px 10px 0 29px;
	background:url(/i/new_design/enter_bg.png) 0 0 no-repeat;
}
#memberArea .form_enter a {
	text-decoration:underline;
	border-bottom:0;
}
#memberArea .form_enter a:hover {
	text-decoration:none;
}
#memberArea .inp {
	border:1px solid #d8dadb;
	padding: 3px 5px;
	width:153px;
	margin:2px 0 7px;
}
#memberArea input, #memberArea label {
	vertical-align:middle;
	color:#000;
}
#memberArea .go{
	cursor:pointer;
}
#memberArea .submitWrap{
	width:70px;
	float:left;
}
.close {
	position:absolute !important;
	z-index:6;
	right:11px;
	top:11px;
	display:block;
	width:13px;
	height:13px;
	background:url(/i/new_design/close.gif) 0 0 no-repeat;
}


/*--------------
		 header 
---------------*/

/*--------------
 center Content
---------------*/
#topNews{
	float:left;
	width:715px;
	background:transparent url(/i/new_design/bg_tm_bt.png) no-repeat bottom right;
}
#topNews  .topNewsItem{
	position:relative;
	float:left;
	width:405px;
}

#topNews .topNewsItem .title{
	position:absolute;
	bottom: 0px;
	background: transparent url(/i/new_design/bg_trans_main.png) 0 0;
	color: #FFF;
	line-height: 16px;
	/*
	filter:alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	*/

	height:40px;
	padding:10px 10px 0 10px;
	z-index:1000;
	margin-bottom:0px;
	width:385px;
}


.topNewsList {
	float:left;
	width:310px;
	/*background:#293240;*/
	/*background:url(../img/bg_top_news_m.png) no-repeat 0 0;*/
	background:url(/i/new_design/bg_tm_t.png) no-repeat top right;
}
.topNewsList li{
	background:url(/i/new_design/li_main_news_sep.png) no-repeat center bottom;
	float:left;
}
.topNewsList li.last{
	background:none;
}
.topNewsList li a{
	color:#d0d7da;
	font-size:15px;
	text-decoration:none;
	display:block;
	float:left;
	min-height:63px;
	padding:15px 10px 0 20px;
	width:280px;
	line-height:20px;
}
.topNewsList li.last a{
	/*min-height:77px;*/
}
.topNewsList li a.hoverItem {
	background: #ac1d29 url(/i/new_design/bg_ho_top_n.png) repeat-x;
	/*text-decoration:underline;*/
}
.topNewsList li.fst a.hoverItem {
	border-radius: 0px 7px 0px 0px;
}
.topNewsList li.last a.hoverItem {
	border-radius: 0px 0px 7px 0px;
}

.subscribe{
	width: 690px;
	height: 88px;
	position: absolute;
	margin-left: 0px;
	margin-top: 8px;
	/*background:url(/i/new_design/bg_subscribe.png) no-repeat 0 0;*/
	/*margin-left:-16px;*/
}
.subscribe .title{
	color:#ff3e62;
	font-size:18px;
	padding:20px 0 0 122px;
}

.subscribe .info{
	color:#aeb5bb;
	padding:10px 0 0 142px;
}

.infoLinks{
	position:absolute;
	right:0;
	top:0;
	margin:18px 8px 0 0;
}
.infoLinks li{
	float:left;
	padding:0 11px 0 0;
}
.infoLinks li a{
	display:block;
	width:28px;
	height:26px;
}
.infoLinks li.irss a{
	background:url(/i/new_design/ico_rss.png) no-repeat 0 0;
	display:block;
}
.infoLinks li.itw a{
	background:url(/i/new_design/ico_tw.png) no-repeat 0 0;
	display:block;
}
.infoLinks li.ilj a{
	background:url(/i/new_design/ico_lj.png) no-repeat 0 0;
	display:block;
}
.infoLinks li.ifb a{
	background:url(/i/new_design/ico_fb.png) no-repeat 0 0;
	display:block;
}
.infoLinks li.itv a{
	background:url(/i/new_design/ico_tv.png) no-repeat 0 0;
	display:block;
}

#subcribeWrap{
	position:absolute;
	top:0;
	left:0;
	margin:53px 0 0 488px;
}
#subcribeWrap .go{
	cursor:pointer;
}
#subcribeWrap input{
	border:1px solid #4d6488;
	background:#3c4b65;
	color:#b4b3b3;
	padding:1px 0;
	margin:0;
	float:left;
	width:100px;
}


.banner{
	float:right;
}

#dateInfo{
	color:#ffffff;
	font-size:11px;
	width: 206px;
}
#dateInfo span.R{
	display:block;
	width:100%;
	text-align: right;
}
#dateInfo span.L{
	display:block;
	text-align: left;
	float: left;
}
#popular{
	clear:both;
	background:#d9dce1 url(/i/new_design/bg_popular_f.png) repeat-x 0 0;
}
#popular .header h2 {
	color:#9b0000;
	text-decoration:none;
	font-size: 18px;
	font-weight: normal;
	padding: 11px 0px 1px 17px;
	float: left;
}

.tabNav ul{
	padding:16px 0 0 0;
}
.tabNav li{
	float:left;
	height:30px;
	background:url(/i/new_design/pop_m_na.gif) repeat-x 0 0;
}
.tabNav li a, .infobox .tabNav li a{
	padding:11px 10px 0 15px;
	font-size:14px;
	color:#1c1c1c;
	font-weight:bold;
	display:block;
	text-decoration:none;
}
.tabNav li.fst{
	background:url(/i/new_design/pop_m_l_na.gif) no-repeat 0 0;
	padding-left:10px;
}
.tabNav li.act a{
	color:#9b0000;	
}
.tabNav li.act2naSep{
	background:url(/i/new_design/pop_m_a2na.gif) no-repeat 0 0;
	width:12px;
	padding:0;
}
.tabNav li.na2actSep{
	background:url(/i/new_design/pop_m_na2a.gif) no-repeat 0 0;
	width:12px;
	padding:0;
}
.tabNav li.last{
	background:url(/i/new_design/pop_m_r_na.gif) no-repeat top right;
	padding-right:15px;
}
.tabNav li.act {
	background:url(/i/new_design/pop_m_a.gif) no-repeat 0 0;
}
.tabNav li.actLast{
	background:url(/i/new_design/pop_m_a_last.gif) no-repeat top right;
	padding-right:15px;
}

.period{
	float:right;
	padding:12px 40px 0 0;
}
.period li{
	float:left;
	height:19px;
}
.period li a{
	font-size:11px;
	color:#c12424;
	text-decoration:underline;
	line-height:17px;
}	
.period li.act a{
	text-decoration:none;
}
.period .week{
	background:url(/i/new_design/bg_period_w.gif) no-repeat 0 0;
	padding:0 10px 0 15px;
}
.period .month{
	background:url(/i/new_design/bg_period_m.gif) no-repeat top right;
	padding:0 15px 0 10px;
}
.period .month a{
	color:#FFF;
}

.prev{
	position:absolute;
	left:0px;
	margin-top:42px;
	width:32px;
	height:68px;
	z-index: 100;
}
.prev a{
	background:url(/i/new_design/prev_button.png) no-repeat 0 0;
	width:32px;
	height:68px;
	display:block;
}
.next{
	position:absolute;
	right:-1px;
	width:32px;
	height:68px;
	margin-top:42px;
}
.next a{
	background:url(/i/new_design/next_button.png) no-repeat 0 0;
	width:32px;
	height:68px;
	display:block;
}

#popular .itemRO{
	width:2000px;
	position:relative;
}

#popular .itemWrapper{
	height:210px;
	padding:0 0 0 40px;
}

#popular .content, .boxTab .content{
	padding:18px 0 0 0;
	background:#FFF url(/i/new_design/bg_popular_f.png) repeat-x left bottom;
	border:1px solid #ffffff;
	border-top:none;
}
#popular .img{
	position:relative;
	height: 125px;
}
#popular .img .rounded{
	position:absolute;
	width:160px;
	height:125px;
	background:url(/i/new_design/rounded_160x125.png) no-repeat 0 0;
}

#popular .item{
	float:left;
	width:160px !important;
	height:210px;
    padding: 0px 12px 0px 0px;
    margin: 0px;
    overflow: hidden !important;
    display: block;
}

#popular .item .img{
    padding: 0px;
    margin: 0px;
    width: 160px;
    overflow: hidden !important;
    display: block;
}

#popular .item .img a{
    padding: 0px;
    margin: 0px;
    width: 160px;
    overflow: hidden !important;
    display: block;
}

#popular .item .title{
	height:45px;
	padding:5px 0 0 0;
	line-height:14px;
}

#popular .item .title a{
	font-weight: bold;
	font-size: 11px;
	color:#0075d0;
	text-decoration:none;
}

#popular .item .title a:hover{
	text-decoration:underline;
}

/*
#popular .item .info{
	color:#5f687a;
	font-size:11px;
	line-height:14px;
}

#popular .item .info a{
	color:#5f687a;
	text-decoration:underline;
}
#popular .item .info a:hover{
	text-decoration:none;
}
*/
/*--- rav ---*/
#popular .item .title .comments{
	color:#5f687a !important;
	font-size:11px;
	line-height:14px;
	text-decoration:none;
	font-weight: normal;
}

#popular .item .title .comments:hover{
	text-decoration:none;
}
/*--- EOF ---*/


.subBox{
	float:right;
	width:240px;
	/*background:#303a49;*/
	background:url(/i/new_design/bg_r_b_bt.png) no-repeat left bottom;
	margin:14px 0 0 0;
	height:400px;
	position:relative;
	
}
.subBox .content{
	/*position:relative;
	float:left;	*/
	background:url(/i/new_design/bg_r_b_t.png) no-repeat 0 0;
	padding:1px 0 0 0;
}
.subBox .item {
}
.subBox .item .title{
	color:#fafbfc;
	font-weight:bold;
	padding:10px 0 5px 10px;
}
.subBox .item .title a{
	color:#fafbfc;
	text-decoration:underline;
}
.subBox .item .title a:hover{	
	text-decoration:none;
}

.subBox .top_block {
	display: block;
	clear: both;
	float: none;
}

.subBox .top_block .title a{
	text-decoration: none;
}

.subTopInfo{
	background:url(/i/new_design/top_right_block.png) repeat-x 0 0;
	width:241px;
	height:35px;
	font-size:13px;
	font-weight:bold;
	text-align:center;;
	position:absolute;
	left:0;
	top:0;
	text-transform:uppercase;
}
.subTopInfo span{
	font-size:11px;
	font-weight:normal;
	text-transform:none;
}
.subTopInfo a{
	color:#FFF;
	display:block;
	margin:10px 0px 0 0;
	text-decoration:none;
}

.subBotInfo{
	width:78px;
	height:41px;
	font-size:11px;
	position:absolute;
	margin-top:-42px;
	bottom:0px;
	right: 10px;
	text-align: right;
}
.subBotInfo a{	
	color:#FFF;
	display:block;
	padding:15px 0px 0 5px;
}

.main{
	float:left;
	width:715px;
}
.infobox{
	margin:14px 0 0 0;
	background:#FFF;
	background:#FFF url(/i/new_design/bg_popular_f.png) repeat-x left bottom;
	border:1px solid #FFF;
	border-top:none;
	
}
.infobox .content{
	padding:0px 0 33px 17px;
	/*background:#FFF url(../img/bg_popular_f.png) repeat-x left bottom;*/
}
.infobox .header{
	color:#9b0000;
	font-size:18px;
	padding:11px 0 1px 17px;
}
.infobox .header a{
	color:#9b0000;
	text-decoration:underline;
}
.infobox .item{
	width:210px;
	height:100px;
	float:left;
	padding-top:17px;
}
.infobox .item2{
	padding-top:17px;
	padding-right: 15px;
}
.infobox .item .title{
	padding:0 5px 5px 0;
}
.infobox .item .img{
	float:left;
	width:102px;
}
.infobox .item2 .img2{
	width:102px;
}
.infobox .item2 .img2 img{border-radius:5px; 
	-webkit-border-radius:5px; 
	-moz-border-radius:5px; 
	-khtml-border-radius:5px;}
.infobox .item2 .mininews {font-size:11px;height: 40px;overflow: hidden;}
.infobox .item .date, .infobox .item2 .date{
	font-size:11px;
	color:#5f687a;
}
.infobox .item .frame{
	position:absolute;
	width:90px;
	height:90px;
	background:url(/i/new_design/rounded_90x90.png) no-repeat 0 0;
}

.allNews{
	position:absolute;
	left:0;
	margin-left:590px;
	font-size:13px;
	color:#5f687a;
}
.allNews a{
	margin-top:-19px;
	display:block;
	color:#5f687a;
	text-decoration:underline;
}
.allNews a:hover{
	text-decoration:none;
}

.interview{
	background:#FFF url(/i/new_design/bg_popular_f.png) repeat-x left bottom;	
	height:173px;
	position:relative;
}

.interview .itemRO{
	width:2000px;
	position:relative;
}

.interview .itemWrapper{
	height:147px;
	padding:0 0 0 44px;
}

.interview .item{
	background:url(/i/new_design/bg_interview.png) no-repeat 0 0;
	width:414px;
	height:110px;
	position:relative;
	margin-top:37px;
	float:left;
	margin-right:14px;
}
.interview .item .title{
	color:#0070d6;
	font-size:14px;
	font-style:italic;
	padding:20px 0 0 15px;
	line-height:20px;
	width:220px;
}
.interview .item .title a:hover{
	text-decoration:none;
}
.interview .item .interw{
	font-size:14px;
	font-style:italic;
	color:#5f687a;
	padding:10px 0 0 35px;
	width:200px;
	line-height:16px;
}
.interview .item .img{
	
}
.interview .item .img{
	position:absolute;
	z-index:1000;
	bottom:0px;
	right:5px;
	/*
	margin-top:-130px;
	float:right;
	*/
}
.interview .prev, .interview .next{
	margin-top:60px;
}
.allInterv{
	position:absolute;
	bottom:8px;
	right:45px;
	font-size:11px;
	color:#5f687a;
}
.allInterv a{
	color:#5f687a;
}

.chronicle{
	height:414px;
}
.chronicle .item{
	width:200px;
	float:left;
	padding:8px 18px 3px 0;
	height:auto;
	position:relative;
}
.chronicle .item .img{
	width:200px;
	float:left;
}
.chronicle .item .title{
	background:#aa021e;
	padding:6px 6px 0 10px;
	height:19px;
	width:184px;
	float:left;
	position:relative;
	margin-top:-1px;
	position:relative;
}

.chronicle .item .title_image {
	padding:2px 6px 0 10px;
	line-height: 17px;
}

.title_image a {
	font-size: 13px;
}
.chronicle .item .title a{
	color:#FFF;
}
.chronicle .item .title a:hover{
	text-decoration:none;
}
.chronicle .item .frame{
	background:url(/i/new_design/rounded_event.png) no-repeat 0 0;
	width:200px;
	height:5px;
}
.chronicle .item .frameBot{
	background:url(/i/new_design/rounded_event.png) no-repeat left bottom;
	width:200px;
	height:5px;
	position:absolute;
	bottom:2px;
	left:0;
	line-height:5px;
}
.chronicle .sub .img{
	width:89px;
	float:left;
}
.chronicle .sub .frame{
	background:url(/i/new_design/rounded_89x63.png) no-repeat 0 0;
	width:89px;
	height:63px;
}
.chronicle .sub  .title{
	background:none;
	font-size:14px;
	padding-left:0px;
	height:auto;
}
.chronicle .sub  .title a{
	color:#0070d6;
}
.chronicle .sub .date{
	padding:5px 0 1px 0;
	float:left;
}
.chronicle .sub .info{
	clear:both;
	font-size:11px;
	line-height:14px;
	height: 44px;
	overflow: hidden;
}
.chronicle .sub .info a{
	color:#c02633;
}

.infobox .sub li{
	background:url(/i/new_design/li.gif) no-repeat 0 6px;
	font-size:11px;
	padding:6px 0 4px 22px;
	line-height:14px;
	display: block;
	border: 1px solid transparent;
}
.infobox .sub li.foto{
	background:url(/i/new_design/ico_foto.png) no-repeat 0 0;
	padding:0px 0 8px 37px;
	min-height:35px;
}
.infobox .sub li.video{
	background:url(/i/new_design/ico_video.png) no-repeat 3px 0;
	padding:0px 0 8px 37px;
	min-height:35px;
}

.infobox .sub li a{
	color:#9d0000;
}
.infobox  a:hover{
	text-decoration:none;
}

.chronicle .list, .infobox .list{
	padding-top:7px;
	padding-bottom:0;
} 

.announcement {
	height:413px;
	/*padding-top:42px;*/
	overflow: hidden;
}
.announcement .content{
	padding:42px 0 0 20px;
	display: block;
	height: 200px;
}
.announcement .item{
	/*clear:both;*/
	font-size:11px;
	color:#a8afba;
	padding:0 10px 18px 0;
}
.announcement .item a{
	font-size:12px;
}
.announcement .item .title{
	padding-top: 0px;
	padding-left:70px;
}

.announcement .item .title .title_link{
	height: 38px;
	display: block;
	overflow: hidden;
	text-decoration: none;
}

.announcement .item .date{
	padding:0px 0px 5px 0px;
	font-size: 11px;
	color: #A8AFBA;
	font-weight: normal;
}
.announcement .img{
	float:left;
}
.announcement .img img{
	border:1px solid #5c6470;
}
.announcement .item .info{
	height: 23px;
	display: block;
	overflow: hidden;
}

.announcement .item .info p{
	padding: 0px !important;
	margin: 0px !important;
}

.serial{
}

.tLine{
	padding:13px 20px 5px 0;
}

.chronicle .sub .title .date{
	float:right;
}

.chronicle .sub2 .title{
	padding:0;
}
.chronicle .sub2 .info{
	padding:5px 0 0 0;
}
#blogs{
	height:auto;
}
#blogs .tabNav{
	float:left;
}
#blogs .tabNav ul{
	padding:6px 0 0 0;
}
#blogs {
	margin:15px 0 0 0;
	background:#d9dce1 url(/i/new_design/bg_popular_h.png) repeat-x 0 0;
}
#blogs .header{
}
#blogs .content{
	padding-bottom:0px;
	height:350px;
}

#blogs .content .item .img img {
	width: 72px;
	margin: 0px 10px 0px 0px;
}

#blogs .content .item .img {
	display: block;
}

#blogs .content .item .img .description {
	clear: both;
	display: block;
	padding-bottom: 0px !important;
	margin-bottom: -10px !important;
}

#blogs .content .item .img  a {
	/*color: #fff;*/
	padding: 5px 0px 5px 5px;
	display: block;
	font-size: 14px;
	/*background: #aa021e;*/
}

#blogs .content .sub {
	padding-top: 0px !important;
	margin-top: 0px !important;
}


.tv .content{
	padding:40px 0 0 16px;
}
.tv .item{
	padding:10px 0 15px 0;
	display:inline-block;
}
.tv .img{
	float:left;
	width:45px;
}
.tv .img img{
	/*border:1px solid #f00;*/
}
.tv .info{
	font-size:11px;
	color:#a8afba;
	float:left;
	width:170px;
}
.tv .info span{
	color:#FFF;
}
.tv .info div{
	padding:0 0 4px 0;
}

.test{
	margin:0 0 0 0;
	background:url(/i/new_design/bg_tests.png) 0 0;
	height:173px;
}
.test .itemWrapper {
	height:98px;
	padding:10px 0 30px 39px;
}
.test .header{
	font-size:18px;
	padding:12px 0 2px 17px;
}
.test .header a{
	color:#e0e6ea;
}
.test .header a:hover{
	text-decoration:none;
}
.test .prev, .test .next{
	margin-top:54px;
}
.test .next{
	 margin-right:1px;
}
.test .item{
	float:left;
	padding:0 10px 0 0;
}
/*--------------
 center Content EOF
---------------*/

/*--------------
 sub Content 
---------------*/

/*--------------
 footer Content
---------------*/


/*---footer---*/
#footer {
	margin: 0px;
	width: 970px;
	display: block;
	overflow: hidden;
	border-radius: 7px 7px 0px 0px;
}
#footer .bull-wrap, #footer .bull-text {	
	background-color: #112b3b !important;
}
#footer .ctl, #footer .cbl, #footer .ctr, #footer .cbr {
	color: #25282a !important;
}
#footer .bull-text {
	padding: 20px 20px 25px 27px;
	color:#798084;
}

#footer a {
	color:#798084;
	margin: 0 9px 0 0px;
}
.footer_menu {
	padding: 0 0 6px 0;
}
.footer_menu a {
	color:#f1f3f4 !important;
	margin: 0 5px 0 0 !important;
}
.counter {
	float:right;
	padding:12px 0 0 0;
}
/*- added by Lloyd -*/
img.userpic {
	border:1px solid #666666;
}

.highlight, .highlight:hover {
	background-color: #c03;
	color:#fff;
	padding:2px
}


.title_news_anonce {
	height: 80px;
	overflow: hidden;
}

.title_news_anonce a {
	font-weight: bold;
	font-size: 15px;
	text-decoration: underline;
}
.title_news_anonce a:hover {
	text-decoration: none;
}
.title_news_anonce2 {
	/*max-height: 40px;
	overflow: hidden;*/
	margin-bottom: 5px;
}

.title_news_anonce2 a {
	font-weight: bold;
	font-size: 15px;
	text-decoration: underline;
}
.title_news_anonce2 a:hover {
	text-decoration: none;
}
/*---/footer---*/


.clear{
	clear:both;
	font-size:0;
	line-height:0;
	display:block;
	float:none;
}

/*--------------
footer Content EOF
---------------*/
/* Предположения строки поиска */
.ac_results							{background:#fff;border:1px solid #ccc;width:146px !important;z-index:10000}
.ac_results ul						{overflow:hidden !important;width:100% !important}
.ac_results li 						{cursor:pointer;font-size:12px;padding:2px 5px;white-space:nowrap}
.ac_over 							{background:#ccc;cursor:pointer}
.ac_match 							{color:#d70000;font-weight:normal}


.our_country {display: block;}
.other_country {display: none;}
.description_blogs {
	height: 66px !important;
}


/* Значек комментариев для главной */
.num_comm {
	padding: 0 15px 0 0;
	margin: 0 20px 0 0;
	background:url(/i/num_comm.gif) 100% 2px no-repeat;
	text-decoration: none;
	font-weight: bold;
}


/*--- Facebook и  LiveJournal ---*/

#button4fb {
	border:none;
	overflow:hidden;
	width:400px;
	height: 27px;
	padding: 0px;
	margin: 0px
}

#button4lj {
	width: 32px;
	height: 32px;
	background: url("/i/iconLiveJournal_32x32.jpg") top left no-repeat;
	text-indent: -1000px;
	overflow: hidden;
	cursor: pointer;
	border: 0px;
	margin: 0px;
}

/*--- EOF ---*/

/*--- Preload block bigbanner for main page ---*/
#preoaderBanners {display: none;}
/*--- EOF ---*/

/*--- Верстка Вокруг ТВ реккомендует ---*/
.look {
   width:100%;
}
.look td {
   font:12px/16px Arial, Helvetica, sans-serif;
   vertical-align:top;
}
.look_sep {
   height:25px;
}
.look_date {
   background-color:#e5e9eb;
   text-align:center;
   font:15px Arial, Helvetica, sans-serif !important;
   padding:7px 0;
}
.look_date_day {
   color:#6f737b;
}
.look_title {
   color:#1e2531;
   font:bold 14px Arial, Helvetica, sans-serif !important;
}
.look_type_wrap {
   padding:10px 0 !important;
}
.look_type_doc, .look_type_kino, .look_type_sport, .look_type_show, .look_type_child, .look_type_tvseries  {
	padding:3px 14px;
	color:#fff;
	font:italic 14px Arial, Helvetica, sans-serif !important;
}
.look_type_doc {
	background-color:#fc7100
}
.look_type_kino {
	background-color:#d02121
}
.look_type_sport {
	background-color:#e9ae23
}
.look_type_show {
	background-color:#007fd5
}
.look_type_tvseries {
	background-color:#007fd5;
}
.look_type_child {
	background-color:#a312bb;
}

a.down_news_links{text-decoration:none; color:#FF3232}
a.down_news_links:hover{text-decoration:none; color:#FF3232}
a.down_news_links2{text-decoration:none; color:#FFFFFF}
a.down_news_links2:hover{text-decoration:underline; color:#FFFFFF}
#infogblock .inform2{background:#E5E9EB; padding:10px; min-height:70px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px}


/*--- EOF ---*/
.clbr {
	float: none;
	clear: both;
	width: 100%;
	height: 1px;
	margin: 0px;
	padding: 0px;
}
/* Likes в энцикопедии */
#SocialMedias {
	margin: 10px 0px;
	padding: 0px;
	width: 100%;
	height: 24px;
}
#SocialMedias .SocialMedia {
	float: left;
	width: auto;
	padding: 0px 5px;
	height: 24px;
	overflow: hidden;
}

.photoleft {
	float: left;
	clear: none;
	margin: 10px 10px 10px 0px;
	display: block;
}

.photoright {
	float: left;
	clear: none;
	margin: 10px 0px 10px 10px;
	display: block;
}

/* VS система */
.vshead{text-align:center; margin-bottom:10px}
.vspersons{text-align:center; margin-bottom:5px}
.vsnamepersons{margin-left:12%; line-height: 15px; margin-bottom:5px}
.vspercent{color:#C32631}
.vsaboutpersons{margin-left:12%; line-height: 15px}
.vsvotes{text-align:center; margin-top:12px; margin-bottom:40px}
.jmyakaya {
 background-color:#E40506;
 padding:10px;
 position:relative;
 font-family: 'Open Sans', sans-serif;
 font-size:12px;
 text-decoration:none;
 color:#fff;
 top:7px;
 background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
 box-shadow: inset 0px 1px 0px #C52433, 0px 6px 0px #C52433;
 border-radius: 5px;
}

.jmyakaya:active {
 top:14px;
 background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
 box-shadow: inset 0px 1px 0px #C52433, inset 0px -1px 0px #C52433;
 color: #CCCCCC;
 text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
 background: #BC050A;
}

.jmyakaya:before {
 background-color:#CCCCCC;
 content:"";
 display:block;
 position:absolute;
 width:100%;
 height:100%;
 padding-left:2px;
 padding-right:2px;
 padding-bottom:4px;
 left:-2px;
 top:5px;
 z-index:-1;
 border-radius: 6px;
 box-shadow: 0px 1px 0px #fff;
}

.jmyakaya:active::before {
 top:0px;
}
.weekblock {background:url(/i/bg.png) top left repeat-x; height:93px;position: absolute;top: 0;width: 100%;}
.weekblock .firstweek{float:left; width:115px; height:56px; background:url(/i/arr-big.png) top right no-repeat; line-height:18px; padding-right:0px; padding-top:37px; font-size:11px; color:#737C8C; font-style:italic;margin-left: 10px;}
.weekblock .firstweek span{color:#2F415E; font-size:16px; font-weight:bolder; font-style:normal}
.secondweek{background:url(/i/f2bg.png) top left repeat-x; height:93px; float:left}
.secondweek .blogwk{margin-left:15px; width:217px; height:83px; float:left; background:url(/i/line.png) top right no-repeat; padding-right:10px; padding-top:10px}
.secondweek .blogwk2{margin-left:15px; width:217px; height:83px; float:left; padding-right:0px; padding-top:10px}
.secondweek .blogwk .imagewk, .secondweek .blogwk2 .imagewk{float:left; width:75px; height:auto; max-height:75px; margin-right:10px}
.secondweek .blogwk .textwk a, .secondweek .blogwk2 .textwk a{font-style: normal; font-weight:bolder}
.secondweek .blogwk .imagewk img, .secondweek .blogwk2 .imagewk img{width:75px; height:auto; max-height:75px; border:0px}
.secondweek .blogwk .textwk, .secondweek .blogwk2 .textwk{font-size:11px; color:#737C8C; font-style:italic}
.secondweek .blogwk .textwk div, .secondweek .blogwk2 .textwk div{padding-top:5px}
/*body{padding-top:93px}*/
.dominiquote{float: left;width: 318px;clear:none;}
/* ------VS система----- */
.top_banners_adw{margin: 0 auto; width: 990px;}