﻿@charset "utf-8";

/* Header
-------------------------------------------------- */




/* H1 */

#contents2011 .h12011 .h12011-in1 {
	padding: 0px!important;
}

#contents2011 #maincontentswrap2011 .h12011 {
	margin: 6px 0 20px;
	padding: 2px;
	background: #ddd;
	display: block;
	clear: both;
}
#contents2011 #maincontentswrap2011 .h12011 .h12011-in1 {
	margin: 0;
	padding: 0px;
}
#contents2011 #maincontentswrap2011 .h12011 .h12011-in1 .h12011-in2 {
	margin: 0;
	padding: 8px 12px;
	background: #f6f6f6;
}
#contents2011 #maincontentswrap2011 .h12011 .h12011-in1 .h12011-in2 h1 {
	margin: 0;
	padding: 7px 0 7px 7px;
	border-left: 3px solid #007cbb;
	display: block;
	text-align: left;
	font-size: 1.3em;
	line-height: 1.3;
	*zoom: 1;
}
#contents2011 #maincontentswrap2011 .h12011 .h12011-in1 .h12011-in2 h1 * {
	line-height: 1.3;
}
#contents2011 #maincontentswrap2011 .h12011 .h12011_cap1 {
	margin: 0;
	padding: 0;
	display: block;
	font-size: 0.75em;
	line-height: 1.3;
	color: #06a;
	font-weight: normal;
}
#contents2011 #maincontentswrap2011 .h12011 .h12011_cap2 {
	margin: 0;
	padding: 0;
	display: block;
	font-size: 0.75em;
	line-height: 1.3;
	font-weight: normal;
}


/* H2 */
#contents2011 .h22011 {
	margin: 0 0 20px;
	padding: 0px!important;
	display: block;
}
#contents2011 .h22011 .h22011-in {
	margin: 0;
	background: #007cbb;
	padding: 2px 0;
}
#contents2011 .h22011 .h22011-in h2 {
	margin: 8px 0;
	padding: 6px 10px 6px 24px;
	background: url(css_images/bg_h2_ttl.gif) repeat-y 12px 0;
	display: block;
	text-align: left;
	font-size: 1.15em;
	line-height: 1.3;
	color: #fff;
	*zoom: 1;
}

*+html #contents2011 .h22011 .h22011-in {padding: 10px 0 2px;}

#contents2011 .h22011 .h22011-in h2 * {
	line-height: 1.3;
}

#contents2011 .h22011 .h22011-in h2 a,
#contents2011 .h22011 .h22011-in h2 a:link,
#contents2011 .h22011 .h22011-in h2 a:visited,
#contents2011 .h22011 .h22011-in h2 a:hover,
#contents2011 .h22011 .h22011-in h2 a:active,
#contents2011 .h22011 .h22011-in h2 a:focus {
	color: #fff;
}


/* H3 */
#contents2011 #maincontentswrap2011 h3 {
	margin: 0 0 20px;
	padding: 13px 10px 13px 26px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #f6f6f6 url(css_images/bg_h3_ttl.gif) no-repeat 16px 9px;
	display: block;
	text-align: left;
	font-size: 1.1em;
	line-height: 1.3;
	*zoom: 1;
}
#contents2011 #maincontentswrap2011 h3 * {
	line-height: 1.3;
}


/* H4 */
#contents2011 #maincontentswrap2011 h4 {
	margin: 0 0 20px 20px;
	padding: 6px 10px 8px;
	background: url(css_images/bg_h3_ttl.gif) repeat-y -1px top;
	display: block;
	text-align: left;
	font-size: 1.1em;
	line-height: 1.3;
	*zoom: 1;
}
#contents2011 #maincontentswrap2011 h4 * {
	line-height: 1.3;
}


/* H5 */
#contents2011 #maincontentswrap2011 h5 {
	margin: 0 0 15px;
	padding: 0;
	display: block;
	text-align: left;
	font-size: 1.1em;
	line-height: 1.3;
	*zoom: 1;
}
#contents2011 #maincontentswrap2011 h5 * {
	line-height: 1.3;
}


/* PageFuncBtn */

#contents2011 #maincontentswrap2011 .page_func_btn ul {
	margin: 0;
	padding: 0;
	float: right;
	font-size: 0.9em;
}
#contents2011 #maincontentswrap2011 .page_func_btn ul li {
	width: 100px;
	margin: 0 0 6px 3px;
	padding: 1px;
	background-image: none;
	background-color: #ccc;
	display: block;
	float: left;
	cursor: pointer;
}
#contents2011 #maincontentswrap2011 .page_func_btn ul li a {
	padding: 3px 5px 2px 20px;
	background-color: #fff;
	line-height: 1.3;
	word-break: break-all;
	text-align: left;
}
#contents2011 #maincontentswrap2011 .page_func_btn ul li a:hover {
	background-color: #fff;
}
#contents2011 #maincontentswrap2011 .btn2011 a.print {
	background: #fff url("css_images/icon_print.gif") no-repeat 6px 50%;
	padding: 3px 15px 2px 30px;
}
#contents2011 #maincontentswrap2011 .btn2011 a.print:hover {
	background: #fff url("css_images/icon_print.gif") no-repeat 6px 50%;
}


/* Section Skip */

.Sec_skip {
	margin: -15px 0 20px;
	padding: 0;
	display: block;
	text-align: right;
}
.Sec_skip a {
	margin: 0;
	padding: 5px 5px 15px 17px;
	background: url(css_images/icon_arrow_10.gif) no-repeat 0 8px;
	text-decoration: none;
}
.Sec_skip a:hover {
	text-decoration: underline;
	background: url(css_images/icon_arrow_10.gif) no-repeat 0 8px;
}



/* List
-------------------------------------------------- */

/* 標準（数字付き）リスト */
#maincontentswrap2011 .wrapper2011 ul {
	list-style: disc;
	margin-bottom: 20px;
	padding-left: 30px;
}
#maincontentswrap2011 .wrapper2011 ul ul {
	margin: 5px 0 0 0;
	list-style: circle;
	list-style-image: none;
}
#maincontentswrap2011 .wrapper2011 ul ul ul {
	list-style: square;
	list-style-image: none;
}
#maincontentswrap2011 .wrapper2011 ol {
	margin-bottom: 20px;
	padding: 0 15px 0 30px;
}
#maincontentswrap2011 .wrapper2011 li {
	margin-bottom: 3px;
	padding-bottom: 2px;
}

/* 項目無しリスト含む共通設定 */
#maincontentswrap2011 .wrapper2011 ul.nomk,
#maincontentswrap2011 .wrapper2011 ul.line,
#maincontentswrap2011 .wrapper2011 ul.lnkLst {
	list-style: none;
	padding-left: 10px;
}
#maincontentswrap2011 .wrapper2011 ul.clearfix { margin-bottom: 0; }
 
/* 横並びリスト(マークなし) */
#maincontentswrap2011 .wrapper2011 ul.line { padding: 0 15px 0 10px; }
#maincontentswrap2011 .wrapper2011 ul.line li {
	display: inline;
	margin: 0 10px 0 0;
}

/* 横並びリスト(マークあり) */
#maincontentswrap2011 .wrapper2011 ul.lineM { padding: 0 15px 0 10px; }
#maincontentswrap2011 .wrapper2011 ul.lineM li {
	background: url(css_images/icon_arrow_1.gif) no-repeat left 50%;
	display: inline;
	padding: 0 10px 0px 20px;
}


/* 横並びリスト(政策アイコンあり) */
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn { padding: 0 10px; }
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li {
	display:inline-block;
	/display: inline;
	/zoom: 1;
	padding: 10px 15px 8px 42px;
}
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li.icon01 {
	background:url(css_images/icon_seisaku_keizai_s.gif) no-repeat left 50%;
}
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li.icon02 {
	background:url(css_images/icon_seisaku_taigai_s.gif) no-repeat left 50%;
}
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li.icon03 {
	background:url(css_images/icon_seisaku_monotukuri_s.gif) no-repeat left 50%;
}
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li.icon04 {
	background:url(css_images/icon_seisaku_chusyo_s.gif) no-repeat left 50%;
}
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li.icon05 {
	background:url(css_images/icon_seisaku_energy_s.gif) no-repeat left 50%;
}
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li.icon06 {
	background:url(css_images/icon_seisaku_anshin_s.gif) no-repeat left 50%;
}
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li.icon07 {
	background:url(css_images/icon_seisaku_etc_s.gif) no-repeat left 50%;
}


/* リンクリスト */
#maincontentswrap2011 .wrapper2011 ul.lnkLst li {
	background: url(css_images/icon_arrow_1.gif) no-repeat left 0.3em;
	padding: 0 0 5px 20px;
}
#maincontentswrap2011 .wrapper2011 ul.lnkLst li img {
	padding: 0 0 0 3px;
}
#maincontentswrap2011 .wrapper2011 ul.lnkLst_p-link li {
	background: url(css_images/icon_arrow_10.gif) no-repeat left 0.3em;
	padding: 0 0 5px 20px;
}

/* 右寄せリンクリスト */
#maincontentswrap2011 ul.lnkLstR {
	text-align:right;
}
#maincontentswrap2011 ul.lnkLstR li {
	display:inline;
	line-height: 1;
}
#maincontentswrap2011 ul.lnkLstR li a {
	background: url(css_images/icon_arrow_1.gif) no-repeat left 50%;
	padding: 0 7px 0 16px;
	text-decoration: none;
}
#maincontentswrap2011 ul.lnkLstR li a:hover {
	background: url(css_images/icon_arrow_1.gif) no-repeat left 50%;
	text-decoration: underline;
}


/* 見出し付きリスト */
#maincontentswrap2011 .wrapper2011 dl {
	margin-bottom: 20px;
	padding-left: 10px;
}
#maincontentswrap2011 .wrapper2011 dl dt { font-weight: bold; }
#maincontentswrap2011 .wrapper2011 dl dd {
	margin-bottom: 5px;
	padding-left: 15px;
}

/* 見出し付きリンクリスト */
#maincontentswrap2011 .wrapper2011 dl.lnkLst dd {
	background: url(css_images/icon_arrow_1.gif) no-repeat 12px 0.3em;
	padding-left: 32px;
}

/* 日付付きリスト */
.date dt {
	width: 140px;
	margin: 0 0 5px;
	padding: 0;
	float: left;
}
.date dd {
	margin: 0 0 5px 140px;
	padding: 0;
}
dl.date80 dt{
float: left;
}
dl.date80 dd{
margin-left:80px;
}
dl.date120 dt{
float: left;
}
dl.date120 dd{
margin-left:120px;
}
dl.date180 dt{
float: left;
}
dl.date180 dd{
margin-left:180px;
}
dl.dateFlex dt{
float:left;
}
dl.dateFlex dd{
overflow:hidden;
/zoom:1;
}

/* ページ内リンク */
#maincontentswrap2011 ul.p-link {
	width: 100%;
	margin: -17px 10px 20px;
	/margin-top: 0;
	padding: 0;
}


*+html #maincontentswrap2011 ul.p-link {display: inline-block;}
* html #maincontentswrap2011 ul.p-link {display: inline-block;}

#maincontentswrap2011 ul.p-link:after {
	content: "";
	display: block;
	clear: both;
}

#maincontentswrap2011 ul.p-link li {
	display: inline;
	line-height: 1;
}
#maincontentswrap2011 ul.p-link li a {
	background: url(css_images/icon_arrow_10.gif) no-repeat left 50%;
	padding: 0 7px 0 16px;
	text-decoration: none;
	/background: url(css_images/icon_arrow_10.gif) no-repeat left 0.3em;
	/zoom: 1;
}
#maincontentswrap2011 ul.p-link li a:hover {
	background: url(css_images/icon_arrow_10.gif) no-repeat left 50%;
	text-decoration: underline;
	/background: url(css_images/icon_arrow_10.gif) no-repeat left 0.3em;
}


/* インデント下げ */
#maincontentswrap2011 .wrapper2011 ul.idt, 
#maincontentswrap2011 .wrapper2011 ol.idt {
	padding:0;
	padding-left:25px;
	text-indent: -25px;
}

#maincontentswrap2011 .wrapper2011 ol.idt li {
	list-style-position:inside;
	margin-left:20px;
}
#maincontentswrap2011 .wrapper2011 ul.idt{
	padding:0;
	padding-left:20px;
	text-indent: 0px;
}

#maincontentswrap2011 .wrapper2011 ul.idt li{
	margin-left:0px;
}


/* アイコン付リンク */
#maincontentswrap2011 a.lnkIcon {
	background: url(css_images/icon_arrow_1.gif) no-repeat left 0.3em;
	padding: 0 0 5px 20px;
}
* html #maincontentswrap2011 a.lnkIcon {
	background: url(css_images/icon_arrow_1.gif) no-repeat left top;
}
#maincontentswrap2011 a.sublnkIcon {
	background: url(css_images/icon_arrow_4.gif) no-repeat 3px 0.5em;
	padding: 0 0 5px 20px;
}
#maincontentswrap2011 .wrapper2011 img.icon_arrow2011 {
	vertical-align: middle;
	padding: 0 1px 0 0;
}



/* Paragraph
-------------------------------------------------- */
#maincontentswrap2011 .wrapper2011 p {
	clear: both;
	margin-bottom: 15px;
	padding: 0 10px;
}
#maincontentswrap2011 .wrapper2011 p.noclear {
	clear: none;
}
#maincontentswrap2011 .wrapper2011 .idt { text-indent: 10px !important; }
#maincontentswrap2011 .wrapper2011 .mb0 { margin-bottom: 0 !important; }
#maincontentswrap2011 .wrapper2011 .mb10 { margin-bottom: 10px !important; }
#maincontentswrap2011 .wrapper2011 .mb15 { margin-bottom: 15px !important; }
#maincontentswrap2011 .wrapper2011 .mb25 { margin-bottom: 25px !important; }

#maincontentswrap2011 .wrapper2011 .boxNormal p ,
#maincontentswrap2011 .wrapper2011 .boxGrey p ,
#maincontentswrap2011 .wrapper2011 .boxAtt p {
	padding: 0;
}


/* Box
-------------------------------------------------- */
.wrapper2011 .boxNormal {
	border: 1px solid #666;
	background-color: #fff;
	margin: 0 0 15px;
	padding: 7px;
}
.wrapper2011 .boxGrey {
	background-color: #f6f6f6;
	border: 2px solid #ddd;
	margin: 0 0 15px;
	padding: 7px;
}
.wrapper2011 .boxAtt {
	background-color: #fec;
	border: 2px solid #fb8;
	margin: 0 0 15px;
	padding: 7px;
}

#maincontentswrap2011 .wrapper2011 .boxAdobe {
	background-color: #fff;
	border: 2px solid #ddd;
	margin: 0 30px 15px;
	padding: 7px;
	line-height: 1;
}
#maincontentswrap2011 .wrapper2011 .boxAdobe ul.lnkLst,
#maincontentswrap2011 .wrapper2011 .boxAdobe ul.lnkLst li { margin: 0; padding: 0; }
#maincontentswrap2011 .wrapper2011 .boxAdobe ul.lnkLst li { background: none; }
#maincontentswrap2011 .wrapper2011 .boxAdobe img { margin-right: 10px; vertical-align: middle; }
#maincontentswrap2011 .wrapper2011 .boxAdobe a { text-decoration: none; }

.wrapper2011 .wHalf { width: 45%; }

.w75px { width: 75px; }
.w100px { width: 100px; }
.w125px { width: 125px; }
.w150px { width: 150px; }
.w175px { width: 175px; }
.w200px { width: 200px; }
.w500px { width: 500px; }

.w20p { width: 20%; }
.w25p { width: 25%; }
.w30p { width: 30%; }
.w40p { width: 40%; }
.w50p { width: 50%; }
.w60p { width: 60%; }
.w70p { width: 70%; }
.w75p { width: 75%; }
.w80p { width: 80%; }


/* 関連事項ボックス */

.wrapper2011 .boxRelated {
	background-color: #f6f6f6;
	border: 2px solid #ddd;
	margin: 0 0 15px;
	padding: 10px;
}
.wrapper2011 .boxRelated .boxRelated_ttl {
	margin: 0 0 7px;
	padding: 2px 7px;
	border-left: 3px solid #999;
	font-size: 1.1em;
	font-weight: bold;
}


/* color
-------------------------------------------------- */
.Grey_clr {
	background-color:#f6f6f6;
}

/* Image Layout
-------------------------------------------------- */

.wrapper2011 .imgBlock {
	display: inline;
	text-align: center;
	margin-bottom: 5px;
	padding: 0 10px;
}

.wrapper2011 .imgBlock img {
	clear: both;
	display: block;
	margin: 5px auto;
}




/* Table
-------------------------------------------------- */
#maincontentswrap2011 .wrapper2011 table {
	clear: both;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
#maincontentswrap2011 .wrapper2011 table.half {
	clear: none;
	width: 50%;
}
#maincontentswrap2011 .wrapper2011 table th {
	background-color: #f6f6f6;
	border: 1px solid #ddd;
	padding: 3px 5px;
	text-align: left;
	vertical-align: top;
}

#maincontentswrap2011 .wrapper2011 table th.centerPosT {
	text-align: center;
}

#maincontentswrap2011 .wrapper2011 table th.mainTtl {
	width: auto;
	background: #e6e6e6;
	padding: 5px;
	vertical-align:middle;
}
#maincontentswrap2011 .wrapper2011 table td {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 3px 5px;
}
#maincontentswrap2011 .wrapper2011 table img {
	vertical-align: top;
}

#maincontentswrap2011 .wrapper2011 table.tableLayout {
	margin-bottom: 20px;
	border: none;
	border-collapse: collapse;
}
#maincontentswrap2011 .wrapper2011 table.tableLayout th,
#maincontentswrap2011 .wrapper2011 table.tableLayout td {
	background: none;
	background-color: transparent;
	border: none;
	padding: 5px 8px;
	text-align: left;
	vertical-align: top;
}

#maincontentswrap2011 .wrapper2011 table caption,
#maincontentswrap2011 .wrapper2011 table.tableLayout caption {
	text-align: left;
	font-weight: bold;
	font-size: 100%;
}


.tbl-manth td a {
	width: auto!important;
	min-width: 5em!important;
}

/* Button
-------------------------------------------------- */
.btn2011 {
	background-color:#bbb;
	margin: 0 0 10px;
	padding: 1px;
}
.btn2011 a {
	margin: 0;
	padding: 6px 20px;
	background:#f6f6f6 url("css_images/icon_arrow_4.gif") no-repeat 6px 50%;
	display: block;
	text-align: center;
	color: #333;
	line-height: 1;
	text-decoration: none;
}
.btn2011 a:hover {
	background:#f6f6f6 url("css_images/icon_arrow_4.gif") no-repeat 6px 50%;
	color: #333;
}



/* Contents Parts
-------------------------------------------------- */

.wrapper2011 .UpdateArea_new {
	margin: 0 0 0 5px;
	padding: 1px 3px;
	background: #e00;
	color: #fff;
	font-size: 0.7em;
}


/* 審議会・研究会 */

#container2011 div.committee_icon_shingikai ,
#container2011 div.committee_icon_kenkyukai {
	width: 80px;
	margin: 2px 0 0;
	margin-left: auto;
	margin-right: auto;
	padding: 1px 0;
	text-align: center;
	color: #333;
	font-size: 0.875em;
}
#container2011 div.committee_icon_shingikai {
	border: 1px solid #dba;
	background: #fdc;
}
#container2011 div.committee_icon_kenkyukai {
	border: 1px solid #bbe;
	background: #ddf;
}

/* 旧コンテンツ対応 */
.s01 {

    text-align: right;
}

.s03 {

	font-weight: bold;
}

.rt {
    text-align: right;
}

.jiage p {
	margin-left: 1em;
    padding-left: 1em;
    text-indent: -1em;
}

#contents p.or_reindent {
    padding-left: 3em;
    text-indent: -1.7em;
}

#contents2011 #vf25 div {
    margin-left: 1.2em;
    margin-bottom:15px;
}

#contents2011 div#vf25 div.h22011  {
    margin: 0 0 20px 0;
}

#contents2011 div#vf25 div.h22011 div.h22011-in  {
    margin: 0;
}

#contents2011 div#vf25 div.h22011 div  {
    margin: 0;
}

#contents2011 div#vf25 div.h22011 div.h22011-in  {
    margin: 0;
}

div.or_marginl1 {
	margin-bottom:15px;
}

div.or_marginl1 div.or_marginl1 {
	margin-bottom:0px;
}

div.or_marginl2 {
	margin-bottom:15px;
}

div.or_marginl2 div.or_marginl1 {
	margin-bottom:0px;
}

.vf25o {
    font-weight: bold;
}
.vf25r {
	padding-left: 1.7em;
	text-indent: -1.7em;
}
.vf25a {
    padding-left: 1.2em;
    text-indent: -1.2em;
}
.vf25m{
	text-indent:1em;
}
.vf25-top{margin-top:1.8em;}
.vf25-linet{margin-top:1em;}
.vf25-lineb{margin-top:1em;}
#vf25{line-height:1.2em;}
#vf25 ul li div{text-indent:1em;}
#vf25 div{margin-left:1.2em;}
#vf25 ol li ul li{text-indent:-0.6em;}
.vf25-01{font-weight:bold;}
.vf25-02{text-indent:1em;}


#kaisai_s{line-height:1.2em;}
#kaisai_s ul li {text-indent:0.5em;}
#kaisai_s div{margin-left:1.5em;}
#kaisai_s ol li ul li{text-indent:-0.6em;}

#contents2011 div#kaisai_s div.h22011  {
    margin: 0 0 20px 0;
}

#contents2011 div#kaisai_s div.h22011 div.h22011-in  {
    margin: 0;
}

#contents2011 div#kaisai_s div.h22011 div  {
    margin: 0;
}

#contents2011 div#kaisai_s div.h22011 div.h22011-in  {
    margin: 0;
}


.sub {
    font-size: 70%;
    vertical-align: bottom;
}


#maincontentswrap2011 .wrapper2011 ul.cornerindex2011 li {
	white-space: nowrap;
	zoom:1;
}


/* 報道発表 */

#press_tool2011 {
	margin: 0;
	padding:0;
}

#press_tool2011 .g-sch2011 {
	margin-bottom: 20px;
	padding: 1px 5px 1px 30px;
}
* html #press_tool2011 .g-sch2011 {
	*padding: 4px 5px 4px 30px;
}



/* 政策について */

#container2011 #contents2011 #maincontentswrap2011 #field_key {
	margin: 0 0 20px;
	padding: 10px;
	border: 1px dotted #333;
}
#container2011 #contents2011 #maincontentswrap2011 #field_key li {
	margin: 0 40px 3px -12px;
	float: left;
	display: block;
	white-space: nowrap;
}
#container2011 #contents2011 #maincontentswrap2011 #field_key li a {
	display: inline-block;
}

#container2011 #contents2011 #maincontentswrap2011 table.tablePrt2 {
	border:none;
}

#container2011 #contents2011 #maincontentswrap2011 table.tablePrt2 td {
	border:none;
}

/* list table */

#container2011 #contents2011 #maincontentswrap2011 table.tablePrt2 td {
	width: 50%;
}

#container2011 #contents2011 #maincontentswrap2011 table.tablePrt3 td {
	width: 33.3%;
}

#container2011 #contents2011 #maincontentswrap2011 table.tablePrt4 td {
	width: 25%;
}

#container2011 #contents2011 #maincontentswrap2011 table.tablePrt5 td {
	width: 20%;
}

#container2011 #contents2011 #maincontentswrap2011 table.tableLineBottom {
	width: 100%;
	border: none;
}
#container2011 #contents2011 #maincontentswrap2011 table.tableLineBottom td,
#container2011 #contents2011 #maincontentswrap2011 table.tableLineBottom th {
	border: none;
	border-bottom: 1px solid #ddd;
}

#container2011 #contents2011 #maincontentswrap2011 table.tableLineBottom td a {
	background: url("css_images/icon_arrow_1.gif") no-repeat left 0.3em;
	padding: 0 0 5px 20px;
}


/* お知らせ>採用情報 */

#container2011 #contents2011 #maincontentswrap2011 table.recruit_tbl td p {
	margin-bottom: 0 !important;
}

/* フォトギャラリー　*/
#contents2011 #photo ul {
	padding:0;
}
#container2011 #contents2011 #maincontentswrap2011 .wrapper2011 #photo li {
  list-style: none;
  width: 170px;
  float: left;
  margin: 0;
  padding-top:0;
  padding-right:0;
  padding-left:20px;
  padding-bottom:10px;
}
.liquidBox.clearfix .rightPos.boxNormal {
	margin-left: 10px;
}

/*.wrapper2011 .liquidBox {
    width: 100%;
}
.wrapper2011 .liquidBox .liqTxtL_pg {
    float: left;
    margin-right: -220px;
    width: 100%;
}
.wrapper2011 .liquidBox .liqTxtL_pg .liqTxtL-in_pg {
    margin-right: 230px;
}*/

/*ニュースリリースアイコン、フォトギャラリー用アイコン
-------------------------------------------------- */
.press_icon,
.pg_icon {
	border: 1px solid #999999;
	font-size: 80%;
	padding: 0 5px;
}

#press td img {
	width: 36px;
	height: 36px;
}


/*ご意見・お問合せ Opinions and Inquiries
-------------------------------------------------- */

.comment-box1 input#form_name,
.comment-box1 input#form_email,
.comment-box1 input#form_telephone {width: 50%;}
.comment-box1 input#form_title,
.comment-box1 #form_contents {width: 100%;}

/* 英語 news lease table-------------------------------------------------- */
.tbl-si th{width: 20%;}


