@charset "utf-8";

* html #container2011 { 
	width: expression(document.body.clientWidth < 982? "980px" : "auto");
}

* html .leftWrap2011 { margin-right: 0px; }
* html .h12011,
* html #subNavi2011 a { height: 1%; }
* html .wrapper2011 dl.date dt { white-space: nowrap; }

* html .wrapper2011 .imgBlock img { margin: 5px 0; }
*+html .wrapper2011 .imgBlock img { margin: 5px 0; }
* html .wrapper2011 div.clearfix { margin-bottom: 10px; }
*+html .wrapper2011 div.clearfix { margin-bottom: 10px; }

* html .globalNavi2011 .gnvList {
	margin: 13px 0 5px;
}

* html #footer2011 {
	background: none;
}


*+html .top .topimg-nav {
	position: relative;
	top: 0px;
}