@charset "utf-8";

/* *********************************************************************

apply for "index.html" , "/english/index.html"only.

********************************************************************* */


/*** add mana ***/
.top #topimg_area2011 .topimg2011 #loading {
	text-align: center;
	vertical-align:middle;
	padding-top:125px;
}
.top #topimg_area2011 .topimg-panel img {
	display: none;	
}
/*** add mana ***/

