﻿@charset "utf-8";

/* *********************************************************************

apply for "index.html" , "/english/index.html"only.

********************************************************************* */


/* Layout
-------------------------------------------------- */

.top #container2011 {
	margin: 0 auto;
}

.top #contents2011 {
	margin: 0 auto;
}



.top .mainWrap2011 {
	margin: 0;
	padding: 0 20px 20px;
	border-top: 1px solid #ccc;
}



/* CommonContents
-------------------------------------------------- */

.top #ColA2011 h2 {
	margin: 0 0 15px;
	padding: 10px 15px 10px 10px;
	border: none;
	background: #007cbb;
	font-size: 1.15em;
	display: block;
}

.top #ColA2011 h2 strong {
	display: block;
	margin: 0;
	padding: 5px 25px;
	color: #fff;
	background: url(css_images/icon_arrow_5.gif) no-repeat left 0.2em;
}


.top #ColA2011 h2 span {
	display: inline;
}




/* Header
-------------------------------------------------- */




/* MainContents
-------------------------------------------------- */

/* MainImg */



.top #container2011 #header2011 .mainWrap2011 #topimg_area2011 {
	margin: 10px auto 0;
	padding: 0;
	background: url(css_images/topimg_bg.gif) no-repeat center bottom;
	position: relative;
	clear: both;
}

.top #topimg_area2011 {
	margin: 10px auto 0;
	position: relative;
	clear: both;
}


.top #topimg_area2011 .topimg2011 {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	position: relative;
	
}

.top #topimg_area2011 .topimg2011 .border {
	padding: 2px;
	background: #fff;
	border-top: 3px solid #007cbb;
	border-left: 3px solid #007cbb;
	border-right: 3px solid #007cbb;
}


img.spacer {
	width: 100%;
	max-width: 890px;
	height: auto;
	position: relative;
	z-index: 0;
}


.topimg-panel img {
	width: 100%;
	max-width: 890px;
	height: auto;
}

.top .topimg-nav {
	max-width: 894px;
	min-width: 774px\9;
	border-left: 3px solid #007cbb;
	border-right: 3px solid #007cbb;
	border-bottom: 3px solid #007cbb;
	margin: 0 auto;
	background: url(../img/index/mainBg.gif);
}


*+html .top .topimg-nav {display: inline-block;}
* html .top .topimg-nav {display: inline-block;}
.top .topimg-nav:after {
	content: "";
	display: block;
	clear: both;
}

.top .topimg-nav, .noscript {
	display: none;
}

.top #topimg_area2011 ul#topimg_navi1 {	
	margin: 0px 0px 0px 150px;
	padding: 8px 0 18px 8px;
}


.top #topimg_area2011 #topimg_navi1 li {
	float:left;
	margin: 0 0 10px;
	padding: 0 3px;
	line-height: 0;
	display: inline;
}

.top #topimg_area2011 #topimg_navi1 li ul.topimg_navi_sum {
	position:absolute;
	margin: 0;
	padding: 0;
	display:inline;
	left:0;
}

.top #topimg_area2011 #topimg_navi1 li ul.topimg_navi_sum li {
	margin: 0;
	padding: 0 2px;
	line-height: 0;
	display:inline;
}

.top #topimg_area2011 #topimg_navi1 li ul.topimg_navi_sum li img {
	margin: 0;
	padding: 0;
	border: 2px solid #e0e0e0;	
}

.top #topimg_area2011 #topimg_navi1 li ul.topimg_navi_sum li.topimg-selected img {
	border: 2px solid #fc0;
}

#topimg_navi1 .topimg-go-btn {
	margin-top: 8px;
}

.top #topimg_area2011 ul#topimg_navi2 {
	margin: -10px 10px 10px 0;
	padding: 0;
	float: right;
}

.top #topimg_area2011 ul#topimg_navi2 li {
	margin: 0;
	padding: 0 1px;
	float: left;
}



/*** sliderkit ***/
.topimg .topimg-nav-clip{position:relative;overflow:hidden;}
.topimg .topimg-panel{z-index:1;position:absolute;overflow:hidden;margin-right: 5px;}
.topimg .topimg-panel-active{z-index:5;}
.topimg .topimg-panel-old{z-index:4;}



/* Contents open close */

#EarthquakeInfo2 .closeBox,
#EarthquakeInfo .closeBox,
#release .closeBox,
#topics .closeBox,
.UpdateArea .closeBox,
.KeywordArea .closeBox,
#other .closeBox {display: block;}

#EarthquakeInfo2 #EarthquakeInfo_ttl2 h2 a.plus,
#EarthquakeInfo2 #EarthquakeInfo_ttl2 h2 a.minus,
#EarthquakeInfo #EarthquakeInfo_ttl h2 a.plus,
#EarthquakeInfo #EarthquakeInfo_ttl h2 a.minus,
#release h2 a.plus,
#release h2 a.minus,
#topics h2 a.plus,
#topics h2 a.minus,
.KeywordArea h2 a.plus,
.KeywordArea h2 a.minus,
.UpdateArea h2 a.plus,
.UpdateArea h2 a.minus,
#other h2 a.plus,
#other h2 a.minus {display: none;}

/* EmergencyInfo */
.bx-controls {
	display: none;
}
#EmergencyInfo {
	max-width: 890px;
	width: auto;
	margin: 10px auto 10px;
	overflow: hidden;
	 
}
#EmergencyInfo ul li,
#EmergencyInfo ul li a {
	line-height:1.4em;
  color: #e00;
  font-size: 18px;
  font-weight: bold;
}
.controls{
    border: 2px solid #e00;
    padding: 2px 0 0 5px;
    width:110px;
    float:left;
}
#EmergencyInfo .text{
 overflow: hidden;
 width: auto;
 padding-left:10px;
}
@media screen and (max-width: 767px) {
	.controls{
	    float:none;
	    margin-bottom:10px;
	}
	#EmergencyInfo .text{
	 overflow: visible;
	 padding-left:0;
	}
}

#EmergencyInfo h2 {
  font-size: 14px;
  color: #e00;
  font-weight: bold;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;

}
#EmergencyInfo #slider-controls {
  color: #e00;
  display: inline-block;
  vertical-align: top;
  line-height: 1.4;
  margin-top: 2px;
}

.bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
}
.bx-controls-auto a {
	display: block;
	text-indent: -9999px;
	width: 15px;
	height: 15px;
	outline: 0;
	background: url(../images/emergencynote_navi_btn01.gif) 0 0 no-repeat;
	margin: 0 3px;
}
.bx-controls-auto .bx-stop {
	background: url(../images/emergencynote_navi_btn02.gif) 0 0 no-repeat;
}

/* EmergencyNote */
/* 
#EmergencyNote {
	margin: 0 auto;
	padding: 10px 20px 0;
	line-height: 1;
}

#EmergencyNote #text {
	display: none;
}

#EmergencyNote dl {
	margin: 0 10px 0 0;
	padding: 2px 8px;
	border: 2px solid #e00;
	float: left;
	position:relative;
	z-index:10;
}

#EmergencyNote dt {
	margin: 0 5px 0 0;
	padding: 0;
	float: left;
	color: #e00;
	font-weight: bold;
	line-height: 1.4;
}

#EmergencyNote dd {
	margin: 2px 0 0 2px;
	padding: 0;
	float: left;
	line-height: 1;
}

#EmergencyNote #text {
	float: left;
}


#EmergencyNote p a {
	color: #e00;
}

#EmergencyNote #text div p a {
	display:block;
}

#EmergencyNote p {
	margin: 0;
	padding: 4px 0 0 90px;
	color: #e00;
	font-weight:bold;
	font-size:120%;
}

#EmergencyNote #text p {
	padding: 4px 0 0 0;

} */


/* EarthquakeInfo */

#EarthquakeInfo {
	margin: 0 0 5px;
	padding: 2px;
	background: #c36;
}
#EarthquakeInfo .EarthquakeInfo_frm {
	padding: 2px;
	background: #fff;
}

#EarthquakeInfo .EarthquakeInfo_wrap {
	padding: 0px;
	background: #fff;
}

#EarthquakeInfo #EarthquakeInfo_ttl h2 {
  background: #fff;
  margin-bottom: -3px;
}
#EarthquakeInfo #EarthquakeInfo_ttl {
	margin: 0 0 3px;
	padding: 0;
}

#EarthquakeInfo #EarthquakeInfo_ttl a {
	margin: 0 auto;
	padding: 0 0 0 23px;
	display: inline;
	font-size: 1.2em;
	color: #d04070;
	font-weight: bold;
	background: url(css_images/icon_arrow_12.gif) no-repeat left center;
}


#EarthquakeInfo  ul.lnkLst li {
	font-weight: bold;
	margin-left: 10px;
	background: url(css_images/icon_arrow_1.gif) no-repeat left 0.4em;
	padding: 0 0 10px 20px;
}
/* EarthquakeInfo2 */

#EarthquakeInfo2 {
	margin: 0 0 5px;
	padding: 2px;
	background: #c36;
}
#EarthquakeInfo2 .EarthquakeInfo_frm2 {
	padding: 2px;
	background: #fff;
}

#EarthquakeInfo2 .EarthquakeInfo_wrap2 {
	padding: 0px;
	background: #fff;
}

#EarthquakeInfo2 #EarthquakeInfo_ttl2 h2 {
  background: #fff;
  margin-bottom: -3px;
}
#EarthquakeInfo2 #EarthquakeInfo_ttl2 {
	margin: 0 0 3px;
	padding: 0;
}

#EarthquakeInfo2 #EarthquakeInfo_ttl2 a {
	margin: 0 auto;
	padding: 0 0 0 23px;
	display: inline;
	font-size: 1.2em;
	color: #d04070;
	font-weight: bold;
	background: url(css_images/icon_arrow_12.gif) no-repeat left center;
}


#EarthquakeInfo2  ul.lnkLst li {
	font-weight: bold;
	margin-left: 10px;
	background: url(css_images/icon_arrow_1.gif) no-repeat left 0.4em;
	padding: 0 0 10px 20px;
}


/* NewsArea */

.NewsArea {
	margin: 0 0 20px;
	padding: 2px;
	background: #ddd;
}

.NewsArea .NewsArea_frm {
	padding: 2px;
	background: #fff;
}

.wrapper2011 .NewsArea ul.lnkLst {
	height: 300px;
	overflow: auto;
	margin: 0 10px 10px;
	padding: 0 10px 5px 0;
}

.wrapper2011 #release.NewsArea ul.lnkLst {
	height: 500px;
}

@media ( max-width : 819px ) {

.wrapper2011 #release.NewsArea ul.lnkLst {
	height: 300px;
}

}


.wrapper2011 .NewsArea ul.lnkLst li {
	background: url(css_images/icon_arrow_1.gif) no-repeat left 0.4em;
	padding: 0 0 10px 20px;
}

.wrapper2011 .NewsArea ul.lnkLst li a {
	margin: 0;
	padding: 0;
}

.wrapper2011 .NewsArea .lnkLst_BkNum {
	margin: 0 10px;
	padding: 7px 7px 8px 3px;
	border-top: 1px dotted #ccc;
	text-align: right;
}

.wrapper2011 .NewsArea .lnkLst_BkNum p {
	margin: 0;
	padding: 0 0 0 18px;
	float: right;
	background: url(css_images/icon_arrow_1.gif) no-repeat left 0.4em;
}


/* UpdateArea */

.UpdateArea {
	margin: 0 0 20px;
	padding: 2px;
	background: #ddd;
}

.UpdateArea .UpdateArea_frm {
	padding: 2px;
	background: #fff;
}

.wrapper2011 .UpdateArea .boxNormal {
	margin: 0;
	padding: 0 10px 10px 5px;
	border: none;
}

.wrapper2011 .UpdateArea .boxNormal ul.line li {
	width: 255px;
	margin: 0;
	padding: 0 15px 5px 20px;
	display: block;
	float: left;
	background: url(css_images/icon_arrow_1.gif) no-repeat left 0.4em;
}

.wrapper2011 .UpdateArea .boxNormal ul.line li .UpdateArea_new {
	margin: 0 0 0 5px;
	padding: 1px 3px;
	background: #e00;
	color: #fff;
	font-size: 0.7em;
}


/* KeywordArea */

.KeywordArea {
	margin: 0 0 20px;
	padding: 2px;
	background: #ddd;
}

.KeywordArea .KeywordArea_frm {
	padding: 2px;
	background: #fff;
}

.wrapper2011 .KeywordArea .boxNormal {
	margin: 0;
	padding: 0 10px 10px 5px;
	border: none;
}

.wrapper2011 .KeywordArea .boxNormal ul.line li {
	margin: 0;
	padding: 0 18px 5px 20px;
	display: block;
	float: left;
	white-space: nowrap;
	background: url(css_images/icon_arrow_1.gif) no-repeat left 0.4em;
}



/* SIDE CONTENTS
---------------------------------------------------- */

/* bnr */

.top .banner2011 {
	margin: 0 0 20px;
	background-color: #eee;
	text-align: center;
	padding: 9px;
}
.top .banner2011 img {
	vertical-align: bottom;
}

.top #setsuden_bn .tabArea {
	padding: 5px 2px;
}

.top #setsuden_bn .tabArea div.bnr_lnk {
	margin: 0;
	padding: 0;
	text-align: center;
}

.top #setsuden_bn .tabArea div.bnr_lnk a {
	margin: 0;
	padding: 3px 0 3px 18px;
	background: url("css_images/icon_arrow_1.gif") no-repeat scroll left center;
}


/* media */

.top .media2011 {
	margin: 0 0 20px;
	padding: 2px;
	background: #ddd;
	line-height: 1;
}

.top .media_frm {
	margin: 0px;
	padding: 2px;
	background: #fff;
}


.top .media2011 h2 {
	margin: 0;
	padding: 10px 2px;
	border: none;
	display: block;
	font-size: 1em;
	text-align: center;
	color: #fff;
}

.top .media2011 ul {
	padding: 0px 0px;
}
.top .media2011 ul li {
	border-bottom: 1px dotted #ccc;
	font-size: 1em;
}

.top .media2011 ul li:last-child {
	border-bottom: none;
}

.top .media2011 ul li a {
	padding: 15px 5px 15px 45px;
	color: #333;
	text-decoration: none;
	display: block;
}

.top .media2011 ul li#rss a {background: url(../img/index/icon_rss_s.gif) no-repeat 5px 0.9em;}
.top .media2011 ul li#twitter a {background: url(../img/index/icon_twitter_s.gif) no-repeat 5px 0.9em;}
.top .media2011 ul li#facebook a {background: url(../img/index/icon_facebook_s.gif) no-repeat 5px 0.9em;}
.top .media2011 ul li#youtube a {background: url(../img/index/icon_youtube_s.gif) no-repeat 5px 0.9em;}
.top .media2011 ul li#mail a {background: url(../img/index/icon_mail_s.gif) no-repeat 5px 0.9em;}
.top .media2011 ul li#schedule a {background: url(../img/index/icon_schedule_s.gif) no-repeat 5px 0.9em;}


.top .media2011 ul li a:hover {
	color: #69f;
	text-decoration: underline;
}

.top .media2011 ul li a img {
	vertical-align: middle;
	margin: 0 10px 0 5px;
}



/* banner */

.banner2014 {
	margin: 30px 0 20px;
	padding-top: 20px;
	border-top: 2px solid #ddd;
	clear: both;
}

.banner2014:after {
	content: "";
	display: block;
	clear: both;
}

* html .banner2014 {display: inline-block;}
*+html .banner2014 {display: inline-block;}

.banner2014 li img {
	width: 169px;
	height: 58px;
	margin: 3px 3px 4px 3px;
}

.banner2014 li a {
	display: block;
	margin: 0 0px 10px;
	border: 1px solid #ddd;
	background: url(../img/index/bnr_bg.gif) no-repeat 177px 45px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 196px;
}


.banner2014 li a.leftPos {margin-right: 12px;}


.banner2014 p {
	clear: both;
	margin: 10px;
}


/* リンク */
.lnkTxt {
	background: url(css_images/icon_arrow_1.gif) no-repeat left 0.3em;
	padding: 0 0 5px 20px;
}

/* Footer
-------------------------------------------------- */


	.top .boxNormal ul.line { margin-bottom: 0; }
	.top .boxNormal ul.line li {
		display: block;
		float: left;
		background: url(css_images/icon_arrow_a.gif) no-repeat left 0.1em;
		padding-left: 20px;
	}
	.top .FootBnrArea2011 .foot-banner2011 {
		margin: 0 auto;
		border-top: 2px solid #ddd;
		padding: 10px 5px 5px;
		text-align: right;
	}

	.top .FootBnrArea2011 .foot-banner2011 a {
		padding: 0 5px;
	}

	.top .FootBnrArea2011 .foot-banner-link2011 {
		margin: 0 auto 30px;
		padding: 0;
		text-align: right;
	}

	.top .FootBnrArea2011 .foot-banner-link2011 a {
		margin: 0;
		padding: 0 0 0 20px;
		background: url(css_images/icon_arrow_1.gif) no-repeat 0 center;
	}


/* /english/index.html 
-------------------------------------------------- */

.en #EarthquakeInfo #EarthquakeInfo_ttl h2 a.plus,
.en #EarthquakeInfo #EarthquakeInfo_ttl h2 a.minus {display: none;}

.en #EarthquakeInfo #EarthquakeInfo_ttl a {
	font-size: 1.2em;
}

.en .wrapper2011 #release.NewsArea ul.lnkLst {
	height: 185px;
}

.en .wrapper2011 .NewsArea ul.lnkLst {
	height: 185px;
}

.en #container2011 .mainWrap2011 {
	/padding: 10px 0 20px 0;
}


#contents2011 {
	max-width: 900px;
	min-width: 780px\9;
}

#header2011 {
	max-width: 940px;
	min-width: 780px\9;
}

.globalNavi2011 .globalNaviWrap1 {
	max-width: 900px;
	min-width: 780px\9;
}

#footer2011 {
	max-width: 900px;
	min-width: 780px\9;
	margin: 0 auto;
}



/*////////////////////////////////////*/



/* Sub Navigation */


#subNavi2011 h2 a {margin: 0 30px 0 0;}

#subNavi2011 h2 a.subMenuBtn {
	top: 15px;
}

#subNavi2011 h2 a.subMenuBtn img {
	margin-right: 0px;
}


#subNavi2011 .h22014.category4 h2 {
	border-bottom: 1px solid #ddd;
}

/*#subNavi2011 h2 a {
	padding: 13px 7px 12px 7px;
}*/
