﻿@charset "utf-8";
/* CSS Document */




body {
  -webkit-text-size-adjust: 100%;
}



/* Reset
-------------------------------------------------- */


#contents2011 {
	min-width: 300px;
	padding: 0;
}

#header2011 {
	min-width: 300px;
	padding: 0;
}

.globalNavi2011 .globalNaviWrap1 {
	min-width: 300px;
}

.leftWrap2011 {
	float: none;
}

#MainContentsArea {
	width: auto;
	padding: 10px 5px;
}

#ColA2011 {
	margin: 0 auto;
	font-size: 1.2em;
}

#ColB2011 {
	width: 100%;
	margin: 0;
	float: none;
}



/* Header
-------------------------------------------------- */

/* logo */

#header2011 #logo2011 {
	margin: 8px 0 0 10px;
}

/* Header Menu */


#header2011 #hMenu a.menuBtn,
#header2011 #hMenu a.menuBtnClose {
	display: block;
	margin: 0;
	padding: 0;
	float: right;
	cursor: pointer;
}

#header2011 #hMenu a.menuBtnClose {display: none;}

#header2011 #hMenu {
	margin: 0;
	padding: 0;
	float: none;
	background: #fff;
}

#header2011 #hMenu ul {
	display: none;
	background: #555;
}

.headerMenu2011 li {
	margin: 0;
	padding: 0;
	float: none;
	background: none;
	list-style: none;
	font-size: 0.9em;
	line-height: 1;
	display: inline;
}
.headerMenu2011 li a {
	display: block;
	margin: 0;
	text-align: left;
	padding: 15px 10px 15px 30px;
	border-bottom: 1px solid #aaa;
	color: #fff;
	background: url(../img/common/arw04.png) no-repeat 10px 50%;
	background-size: 7px 11px;
}

.headerMenu2011 li:last-child a {
	border-bottom: none;
}

.headerMenu2011 a:hover ,
.headerMenu2011 a:active ,
.headerMenu2011 a:focus {
	text-decoration: none;
}



/* fsize */
/* 
#header2011 #fsize {
	display: none;
}
*/
#header2011 #fsize dl dt {
	display: none;
}
#header2011 #fsize dl dd:nth-of-type(4n+1) {
	display: none;
}
#header2011 #fsize dl dd:nth-of-type(4n+2) {
	display: none;
}
#header2011 #fsize dl dd:nth-of-type(4n+3) {
	display: none;
}
#header2011 #fsize dl dd:nth-of-type(4n+4) {

}
#header2011 #fsize {
	 position: relative;
}
#header2011 #fsize {
position:absolute; top: 0px; right: 25px;
}
/* G-SEARCH */

#header2011 #tool2011 {
	display: none;
	clear: both;
	margin: 0;
	padding: 0;
	float: none;
	background: #eee;
	border-radius: 0px;
	width:100%;
}

#header2011 #tool2011:after {
	content: "";
	display: block;
	clear: both;
}


/* g-sch2011 */

.g-sch2011 {
	background: url(css_images/icon_sch.gif) no-repeat scroll 6px 6px #eee;
	float: left;
	padding-bottom: 6px;
	margin: 0;
}
dl.g-sch2011 dt {
	display: block;
	float: none;
	clear: both;	
}

.g-sch2011 dt label {
	padding: 4px 0px 2px;
}


.g-sch2011 input.btn2011 { -webkit-appearance: none; }

/*menu bar*/

.menuBar {
	display: block;
	clear: both;
	background: #007cbb;
	padding: 6px 10px 5px;
	font-size:1.3em;
}


.menuBar img {
	vertical-align: middle;
	margin-right: 5px;
}

.menuBar a.open {
	color: #fff;
	text-decoration: none;
}
.menuBar a.close {
	display: block;
	background: #fff;
	color: #007cbb;
	border-radius: 3px;
	padding: 0 7px 0 3px;
	text-decoration: none;
}

.menuBar .rightPos a.close {
	background: #eee;
}

/* Global Navigation
-------------------------------------------------- */


.globalNavi2011 {
	background: #007cbb;
	border-bottom: none;
	text-align: left;
	padding: 0;
}

.globalNavi2011 .globalNaviWrap1 {
	display: none;
	max-width: auto;
	min-width: 0px;
}


.globalNavi2011 .gnvList {
	clear: both;
	padding: 0;
	font-size: 1.1em;
	display: block;
}

.globalNavi2011 .gnvList li {
    margin: 0;
    padding: 0;
    border-right: none;
    display: inline;
    float: none;
	width: 100%;
}

.globalNavi2011 .gnvList li.home {
    border-left: none;
}

.globalNavi2011 .gnvList li a {
	display: block;
	float: none;
	background: url(../img/common/arw03.gif) no-repeat 5px 50%;
	background-size: 9px 21px;
	margin: 0;
	padding: 20px 15px 20px 30px;
	color: #fff;
	border-top: 1px solid #fff;
}
.globalNavi2011 .gnvList li a:hover {
    background: url(../img/common/arw03.gif) no-repeat 5px 50%;
	background-size: 9px 21px;
}

.globalNavi2011 .gnvList li.selected a,
.globalNavi2011 .gnvList li a:hover {
	background: url(../img/common/arw03.gif) no-repeat 5px 50%;
	background-size: 9px 21px;
}




/* Footer
-------------------------------------------------- */



#FooterNavi_cse-search-box:after {
	content: "";
	display: block;
	clear: both;
}

#FooterNavi_cse-search-box .g-sch2011 {
	padding: 0 0 0 30px;
	float: none;
}


/* FooterNavi LinkList */

#FooterNavi2011 {
	width: 100%;
}

#FooterNavi2011 .FooterNavi_LinkList {
	padding: 0px;
}

#FooterNavi2011 .FooterNavi_LinkList dl {
	width: 100%;
	margin: 0;
	padding: 0;
	float: none;
	font-size: 100%;
}

#FooterNavi2011 .FooterNavi_LinkList dt {
	margin: 0;
	font-weight: bold;
	margin: 0 0 1px;
	padding: 15px 5px;
	background: #ddd;
	border-top: 1px solid #fff;
}

#FooterNavi2011 .FooterNavi_LinkList dd {
	margin: 0 0 1px;
	padding: 12px 5px;
	border-top: 1px solid #fff;
}

#FooterNavi2011 .FooterNavi_LinkList dt a {
	display: block;
	background: url(../img/common/arw01.png) no-repeat 5px 50%;
	background-size: 14px 14px;
	padding: 0 0 0 25px;
}

#FooterNavi2011 .FooterNavi_LinkList dd a {
	display: block;
	padding: 0 0 0 25px;
	background: url(../img/common/arw05.png) no-repeat 10px 50%;
	background-size: 7px 11px;
}


#FooterNavi2011 .FooterNavi_LinkList dt a ,
#FooterNavi2011 .FooterNavi_LinkList dd a {
	color: #333;
	text-decoration: none;
}

#FooterNavi2011 .FooterNavi_LinkList dt a:hover ,
#FooterNavi2011 .FooterNavi_LinkList dd a:hover ,
#FooterNavi2011 .FooterNavi_LinkList dt a:active ,
#FooterNavi2011 .FooterNavi_LinkList dt a:focus ,
#FooterNavi2011 .FooterNavi_LinkList dd a:active ,
#FooterNavi2011 .FooterNavi_LinkList dd a:focus {
	color: #222;
	text-decoration: underline;
}

#FooterNavi2011 .FooterNavi_LinkList dt.selected {
	background: #ccc;
}

#FooterNavi2011 .FooterNavi_LinkList dd.selected {
	background-color: #e0e0e0;
}

body.en #FooterNavi2011 .FooterNavi_LinkList dd a {
	display: inline;
}



/* footer */


.footerMenu2011 {
	margin: 0;
	padding: 0;
	clear: both;
	background: #555;
	text-align: center;
	font-size: 1em;
}

.footerMenu2011 a,
.footerMenu2011 tel {
	color: #fff;
}

.footerMenu2011 li {
	margin: 0;
	padding: 0;
	background: none;
	display: inline;
}
.footerMenu2011 li a {
	display: block;
	margin: 0;
	text-align: left;
	padding: 15px 10px 15px 30px;
	border-bottom: 1px solid #aaa;
	color: #fff;
	background: url(../img/common/arw04.png) no-repeat 10px 50%;
	background-size: 7px 11px;
	font-size: 100%;
}

.footerMenu2011 li:last-child a {
	border-bottom: none;
}

.footerMenu2011 li a:hover ,
.footerMenu2011 li a:active ,
.footerMenu2011 li a:focus {
	color: #fff;
	text-decoration: none;
}
.copyright2011 {
	padding: 7px 10px 10px;
	background: #007cbb;
	text-align: left;
	color: #fff;
}
.copyright2011 strong {
	font-size: 1.2em;
}


#FooterNavi2011 .FooterBread2011 {
	padding: 12px 5px 12px 10px;
	margin-bottom: 0;
}



/* Contents(Breadcrumb & ColA)
-------------------------------------------------- */


.wrapper2011 .wrapper2011_L {
	clear: both;
	width: 100%;
	float: none;
}

.wrapper2011 .wrapper2011_R {
	clear: both;
	width: 100%;
	float: none;
}

.wrapper2011 .wrapper2011_L div.mr10.leftPos,
.wrapper2011 .wrapper2011_R div.mr10.leftPos {
	clear: both;
	float: none;
}

.wrapper2011 .wrapper2011_L div.mr10.leftPos img,
.wrapper2011 .wrapper2011_R div.mr10.leftPos img {margin-bottom: 10px;}

/* Breadcrumb List */

.bread2011 {
	clear: both;
	margin: 0px 0px 5px;
	padding: 10px;
	background:#e0f4fd;
}


/* Header
-------------------------------------------------- */


/* H3 */
#contents2011 #maincontentswrap2011 h3 {
	padding: 13px 10px 13px 18px;
	background: #f6f6f6 url(css_images/bg_h3_ttl.gif) no-repeat 8px 9px;
}

/* H4 */
#contents2011 #maincontentswrap2011 h4 {
	margin: 0 0 20px 10px;
	padding: 6px 10px 8px;
	background: url(css_images/bg_h3_ttl.gif) no-repeat -1px top;
}


/* H5 */
#contents2011 #maincontentswrap2011 h5 {
	margin: 0 0 15px 12px;
}


/* PageFuncBtn */

#contents2011 #maincontentswrap2011 .page_func_btn ul {
	margin: 0 0 5px;
}
#contents2011 #maincontentswrap2011 .page_func_btn li:last-child {
display: none;
}
#contents2011 #maincontentswrap2011 .page_func_btn ul li {
	/*width: 120px;*/
	width: 70px;
}
.en #contents2011 #maincontentswrap2011 .page_func_btn ul li {
	width: 85px;
}

#contents2011 #maincontentswrap2011 .page_func_btn ul li a {
	/*padding: 5px 20px;*/
  padding: 3px 3px 3px 13px;
  font-size: 83%;
}

#contents2011 #maincontentswrap2011 .page_func_btn ul li a.print {
	padding: 3px 0px 3px 27px;
}

/* 日付付きリスト */
#maincontentswrap2011 .wrapper2011 dl.date dt {
	width: 100%;
	margin: 0 0 5px 0px;
	padding: 0;
	float: none;
	font-weight: bold;
}
#maincontentswrap2011 .wrapper2011 dl.date dd {
	margin: 0 0 5px 0px;
	padding: 0 0 0 15px;
}

/* ページ内リンク */
#maincontentswrap2011 ul.p-link {
	width: auto;
}

#maincontentswrap2011 ul.p-link li a {
	background: url(../img/common/arw02.png) no-repeat left 0.3em;
	background-size: 14px 14px;
	padding: 3px 7px 3px 16px;
}
#maincontentswrap2011 ul.p-link li a:hover {
	background: url(../img/common/arw02.png) no-repeat left 0.3em;
	background-size: 14px 14px;
}


/* リンクリスト */
#maincontentswrap2011 .wrapper2011 ul.lnkLst li {
	background: url(../img/common/arw01.png) no-repeat left 0.3em;
	background-size: 14px 14px;
	padding: 0 0 10px 20px;
}

/* 見出し付きリンクリスト */
#maincontentswrap2011 .wrapper2011 dl.lnkLst dd {
	background: url(../img/common/arw01.png) no-repeat 12px 0.3em;
	background-size: 14px 14px;
	padding-left: 32px;
}



/* アイコン付リンク */
#maincontentswrap2011 a.lnkIcon {
	background: url(../img/common/arw01.png) no-repeat left 0.3em;
	background-size: 14px 14px;
	padding: 0 0 5px 20px;
}

#maincontentswrap2011 a.sublnkIcon {
	background: url(../img/common/arw05.png) no-repeat 10px 50%;
	background-size: 7px 11px;
}


#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li.icon01 {
	background:url(css_images/icon_seisaku_keizai.gif) no-repeat left 50%;
	background-size: 36px;
}
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li.icon02 {
	background:url(css_images/icon_seisaku_taigai.gif) no-repeat left 50%;
	background-size: 36px;
}
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li.icon03 {
	background:url(css_images/icon_seisaku_monotukuri.gif) no-repeat left 50%;
	background-size: 36px;
}
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li.icon04 {
	background:url(css_images/icon_seisaku_chusyo.gif) no-repeat left 50%;
	background-size: 36px;
}
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li.icon05 {
	background:url(css_images/icon_seisaku_energy.gif) no-repeat left 50%;
	background-size: 36px;
}
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li.icon06 {
	background:url(css_images/icon_seisaku_anshin.gif) no-repeat left 50%;
	background-size: 36px;
}
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li.icon07 {
	background:url(css_images/icon_seisaku_etc.gif) no-repeat left 50%;
	background-size: 36px;
}

/* Table
-------------------------------------------------- */

#maincontentswrap2011 .wrapper2011 table {width: auto;}

#maincontentswrap2011 .wrapper2011 table td {
	padding: 5px;
}

#maincontentswrap2011 .wrapper2011 table th,
#maincontentswrap2011 .wrapper2011 table td {
	white-space: normal;
	word-break: break-all;
}


#maincontentswrap2011 .wrapper2011 table th.block,
#maincontentswrap2011 .wrapper2011 table td.block {display: block;}

#maincontentswrap2011 .wrapper2011 table td.w30p,
#maincontentswrap2011 .wrapper2011 table td.w70p { width: 100%;}

#container2011 #contents2011 #maincontentswrap2011 table.tablePrt2 td.block {
	width: auto;
}

#maincontentswrap2011 .wrapper2011 table.tableLayout {margin: 10px 0;}


#container2011 #contents2011 #maincontentswrap2011 table.tablePrt3 {width: auto;}
#container2011 #contents2011 #maincontentswrap2011 table.tablePrt3.tableLayout {width: 100%;}

#container2011 #contents2011 #maincontentswrap2011 table.tablePrt3 td {
	display: block;
	width: auto;
}

#container2011 #contents2011 #maincontentswrap2011 table.tablePrt3.tableLayout td {
	width: 100%;
}

#container2011 #contents2011 #maincontentswrap2011 table.tablePrt4 td {
	display: block;
	width: 100%;
}

#container2011 #contents2011 #maincontentswrap2011 table.tableLineBottom td,
#container2011 #contents2011 #maincontentswrap2011 table.tableLineBottom th {
	padding: 15px 10px;
}


/* Section Skip */

.Sec_skip a {
	background: url(../img/common/arw02.png) no-repeat left 0.3em;
	background-size: 14px 14px;
}
.Sec_skip a:hover {
	background: url(../img/common/arw02.png) no-repeat left 0.3em;
	background-size: 14px 14px;
}


/* page top */

.ptop2011 {
	background: url(../img/common/arw03.png) no-repeat left 50%;
	background-size: 14px 14px;
}


/* Box
-------------------------------------------------- */

#maincontentswrap2011 .wrapper2011 .boxAdobe {
	margin: 0 0px 15px;
	padding: 5px;
}

#maincontentswrap2011 .wrapper2011 .boxAdobe:after {
	content: "";
	display: block;
	clear: both;
}

#maincontentswrap2011 .wrapper2011 .boxAdobe img {
	margin-right: 5px;
}

#maincontentswrap2011 .wrapper2011 .boxAdobe a img:first-child {
	float: left;
	max-width: 40%;
	height: auto;
}

.wrapper2011 .wHalf { width: 44%; }
.wrapper2011 td.block.wHalf { width: auto; }


#maincontentswrap2011 .wrapper2011 .boxAdobe {
	padding: 5px 2px 5px 3px;
}

#maincontentswrap2011 .wrapper2011 .boxAdobe img { margin-right: 0px; }
#maincontentswrap2011 .wrapper2011 .boxAdobe img:first-child { margin-right: 3px; }


/* Image Layout
-------------------------------------------------- */

/*キャプション付きイメージ*/

.wrapper2011 .imgBlock {
	display: block;
	width: 100%;
	padding: 0;
}

/*画像フロート解除*/

.wrapper2011 #contents img.leftPos,
.wrapper2011 #contents img.rightPos {
	float: none !important; 
}

img.leftPos {float: none !important;}

/*フレキシブルイメージ*/



.frexImg {
	display: block;
	max-width: 100%;
	height: auto;
	float: none;
	clear: both;
}

.frexImg.ml10 { margin-left: 0px !important; }
.frexImg.ml20 { margin-left: 0px !important; }
.frexImg.ml30 { margin-left: 0px !important; }
.frexImg.ml40 { margin-left: 0px !important; }
.frexImg.mr10 { margin-right: 0px !important; }


.mr220 { margin-right: 0px !important; }


/* Button
-------------------------------------------------- */

.btn2011 a {
	padding: 12px 20px;
	background: #f6f6f6 url(../img/common/arw05.png) no-repeat 6px 50%;
	background-size: 7px 11px;
}
.btn2011 a:hover {
	background: #f6f6f6 url(../img/common/arw05.png) no-repeat 6px 50%;
	background-size: 7px 11px;
}



/* blockquote
-------------------------------------------------- */

#cont blockquote pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}


/* Contents(ColB)
-------------------------------------------------- */

/* Sub Navigation */

#subNavi2011 {
	background: #007cbb;
	font-size: 1.1em;
}


#subNavi2011 h2 a#lonav00 {
	background: url(../img/common/arw06.png) no-repeat 5px 1.2em;
	background-size: 15px 15px;
}

#subNavi2011 h2 a#lonav01 {background: url(../img/common/lonav01.gif) no-repeat 5px 0.8em;}
#subNavi2011 h2 a#lonav02 {background: url(../img/common/lonav02.gif) no-repeat 5px 0.8em;}
#subNavi2011 h2 a#lonav03 {background: url(../img/common/lonav03.gif) no-repeat 5px 0.8em;}
#subNavi2011 h2 a#lonav04 {background: url(../img/common/lonav04.gif) no-repeat 5px 0.8em;}
#subNavi2011 h2 a#lonav05 {background: url(../img/common/lonav05.gif) no-repeat 5px 0.8em;}

#subNavi2011 h2 a#lonav01,
#subNavi2011 h2 a#lonav02,
#subNavi2011 h2 a#lonav03,
#subNavi2011 h2 a#lonav04,
#subNavi2011 h2 a#lonav05 {background-size: 30px 30px;}

.subNavi2011_etc dt .subNavi_MenuLink {
	background: url(../img/common/arw01.png) no-repeat 5px 50%;
	background-size: 14px 14px;
}

#subNavi2011 dt .subNavi_MenuLink {
	background: url(../img/common/arw01.png) no-repeat 5px 50%;
	background-size: 14px 14px;
}

#subNavi2011 dd a {
	background: url(../img/common/arw05.png) no-repeat 10px 50%;
	background-size: 7px 11px;
}

#subNavi2011 a.subMenuBtn img {
	width: 25px;
	height: 25px;
}



/* SubNavi Skip */

.subNavi_skip p,
.subNavi_skip a {
	position: absolute;
	top: -10000px;
	left: -10000px;
}

/* Sub Navigation Policy*/

#subNavi_policy2011 {
	background: #757575;
	font-size: 1.1em;
}


#subNavi_policy2011 h2 {font-size: 1.1em;}

#subNavi_policy2011 h2 a {
	background: url(../img/common/arw06.png) no-repeat 5px 50%;
	background-size: 14px 14px;
	padding: 14px 7px 14px 26px;
}


#subNavi_policy2011 dt.selected strong a {
   background: url(../img/common/arw01.png) no-repeat 5px 50%;
   background-size: 14px 14px;
}

#subNavi_policy2011 dt a.subNavi_MenuLink {
	background: url(../img/common/arw01.png) no-repeat 5px 50%;
	background-size: 14px 14px;
}

#subNavi_policy2011 dt a.lnkIcon {
	background: url(../img/common/arw01.png) no-repeat 5px 50%;
	background-size: 14px 14px;
	
}

#subNavi_policy2011 dt strong {
	margin: 0;
	padding: 0;
	display: block;
	font-weight: normal;
}

#subNavi_policy2011 dd a {
	background: url(../img/common/arw05.png) no-repeat 10px 50%;
	background-size: 7px 11px;
	padding: 5px 5px 5px 32px;
}

#subNavi_policy2011 dl {
	border: none;
	border-bottom: 1px solid #ddd;
}


#MainContentsArea div#search-singi,
#MainContentsArea div#search-kenkyu {
	width: 100%;
	float: none;
}


/*ニュースリリース
-------------------------------------------------- */

#press_tool2011 {
	width: 100%;
	background: #eee;
	margin-bottom: 20px;
}

#press_tool2011:after {
	content: "";
	display: block;
	clear: both;
}

#press_tool2011 .g-sch2011 {
	margin-bottom: 0px;
	padding: 1px 5px 10px 30px;
}


/* 横並びリスト(政策アイコンあり) */
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn { padding: 0px; }
#maincontentswrap2011 .wrapper2011 ul.seisakuIcn li {padding: 10px 5px 8px 42px;}

#maincontentswrap2011 .wrapper2011 table#press,
#maincontentswrap2011 .wrapper2011 table#press th,
#maincontentswrap2011 .wrapper2011 table#press td {
	border: none;
	background: none;
	margin: 0;
	padding: 0;
}

#maincontentswrap2011 .wrapper2011 table#press {
	border-top: 1px solid #ddd;
	margin: 0 0 20px;
}

#press th,
#press td {
	display: inline;
}

#press td img {
	clear: both;
	float: left;
	margin: 0 10px 0 0;
}

#press td a {
	display: block;
	text-indent: -1px;
	padding-left: 45px;
	margin: 0;
	padding-bottom: 0;
}

#maincontentswrap2011 .wrapper2011 table#press tr {
	display: block;
	clear: both;
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
}




/*METI Journal
-------------------------------------------------- */

#MainContentsArea #ColA2011 #areaB-in #contents div.bn-cover div.bx {
		width: 100%;
		margin: 0 0px 10px 0px;
}

#MainContentsArea #ColA2011 #areaB-in #contents div.bn-cover {
	display:table;
	width: 100%;
	margin: 0 0px 0px 0px;		
}

#MainContentsArea #ColA2011 #areaB-in #contents div.bn-cover div.fL {
		float: none;
		display: table-cell;
		vertical-align: top;
		margin-bottom: 20px;
		margin-left: 5px;
		margin-right: 0;
		text-align: left;
		width: 120px;
}
#MainContentsArea #ColA2011 #areaB-in #contents div.bn-cover div.fR {
		float: none;
		display: table-cell;
		vertical-align: top;
		margin-bottom: 10px;
		padding-left: 10px;
		margin-right: 0;
		text-align: left;
		width: auto;
}

/*フォトギャラリー
-------------------------------------------------- */

#container2011 #maincontentswrap2011 .wrapper2011 ul.tbl-manth li {
	width: auto!important;
}

#maincontentswrap2011 .wrapper2011 table.tableLayout.tbl-manth {margin-left: 10px;}

#container2011 .tbl-manth td,
#container2011 .tbl-manth tr {
	display: inline;
}

#container2011 .tbl-manth td a, .tbl-manth li a {
	width: auto!important;
	display: inline;
	border: none;
	margin-right: 1em;
}
#contents2011 #photo ul li {
  width: auto;
  float: none;
  margin: 10px 0px;
  padding: 10px 10px 20px;
  border-bottom: 1px solid #ddd;
}

#contents2011 #photo ul li img {
	float: left;
	margin-right: 10px;
}

#contents2011 #photo ul li:after {
	content: "";
	display: block;
	clear: both;
}

#maincontentswrap2011 .wrapper2011 table.tableLayout th,
#maincontentswrap2011 .wrapper2011 table.tableLayout td {
	padding: 0px;
}

#maincontentswrap2011 .wrapper2011 ul.clearfix.tbl-manth.nomk.lnkLst.mt20 li {
	padding: 0 0 5px 0px;
}

#maincontentswrap2011 .wrapper2011 ul.clearfix.tbl-manth.nomk.lnkLst.mt20 {
	margin: 0;
	padding: 0;
}



/*リキッドボックス*/

.wrapper2011 .liquidBox .liqTxtL_pg {
    float: none;
    margin-right: 0px;
    width: 100%;
}
.wrapper2011 .liquidBox .liqTxtL_pg .liqTxtL-in_pg {
    margin: 0px;
	padding: 0px;
}

.liquidBox.clearfix .rightPos.boxNormal.centerPosT.w200px {
	float: none !important;
	width: auto;
}

.liquidBox.clearfix .rightPos.boxNormal {
	padding:  7px 0;
	margin-left: 0;
}

.liqTxtL_pg ul.liqTxtL-in_pg.lnkLst {
	clear: both;
}

/*-- リキッドボックス --*/


#meti_or .liquidBox .liqTxtR {
float: none !important;
margin-left: 0px !important;
width: 100%;
}

#meti_or .liquidBox .liqTxtR .liqTxtR-in {
margin-left: 0px !important;
}

#meti_or .liquidBox .figL {
float: none !important;
width: 0px !important;
}
/*----facebook 用　アイコンをそろえる　----- */

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

/*ご意見・お問合せ Opinions and Inquiries
-------------------------------------------------- */

#contents2011 .comment-box1 {
	padding-top: 10px;
	margin: 0px;
}


/*Back Issues (News Releases) 
-------------------------------------------------- */
/*
.tbl-manth {
	width: auto;
	margin: 0 0px 10px 0px;
	padding: 0;
}

.tbl-manth tr {
	display: inline;
}

.tbl-manth td {
	display: inline;
	width:auto;
	margin-right: 10px;
}


.tbl-manth td a {
	display: inline;
	width: auto!important;
	border: none;
}*/
