﻿@charset "utf-8";

/* *********************************************************************

apply for "index.html" , "/english/index.html"only.

********************************************************************* */


/* Layout
-------------------------------------------------- */

.top #contents2011 {
	margin: 0 auto;
	width: 100%;
}

.top #ColB2011 {
	float: none;
	width: 100%;
}

.top .mainWrap2011 {
	padding: 0;
}

.top #contents2011 .statistics_index #ColA2011 {
	margin: 0;
}

/* CommonContents
-------------------------------------------------- */




.top #ColA2011 h2 {
	padding: 12px 25px 12px 10px;
}

.top #ColA2011 h2 strong {
	margin: 0;
	padding: 5px 0px;
	color: #fff;
	background: none;
}


.top #ColA2011 h2 span {
	font-size: 85%;
	font-weight: normal;
	float: none;
}


/* MainContents
-------------------------------------------------- */

/* MainImg */


.top #topimg_area2011 .topimg2011 {
	width: 100%;
}

.top #container2011 #header2011 .mainWrap2011 #topimg_area2011 {
	margin: 0;
	padding: 0;
}

.top #topimg_area2011 {
	margin: 0;
	background: none;
}


.top #topimg_area2011 .topimg-nav {
	margin: 0px;
	padding: 5px 5px 0px;
}

.top #topimg_area2011 ul#topimg_navi1 {
	height: auto;
	margin: 0 0 0 0px;
	padding: 0;
}

.top #topimg_area2011 #topimg_navi1 li {
	padding: 0 3px;
}

.topimg-nav-clip,
.top .topimg-nav {width: auto!important;}

#topimg_navi1 .topimg-go-btn {
	margin-top: 2px;
}

.top #topimg_area2011 #topimg_navi1 li ul.topimg_navi_sum {
	display: none;
}

.top #topimg_area2011 ul#topimg_navi2 {
	margin: 2px 5px 0px 0;
}


/* MainImg */



.top #topimg_area2011 .topimg2011,
img.spacer,
.topimg-panel img,
.top .topimg-nav {
	min-width: 0px;
}


/* Contents open close */


#EarthquakeInfo2 .closeBox 
#EarthquakeInfo .closeBox {display: none;}
#EarthquakeInfo2 #EarthquakeInfo_ttl2 h2 a.plus
#EarthquakeInfo #EarthquakeInfo_ttl h2 a.plus {display: block;}
#EarthquakeInfo2 #EarthquakeInfo_ttl2 h2 a.minus
#EarthquakeInfo #EarthquakeInfo_ttl h2 a.minus {display: none;}
#release h2 a.plus {display: none;}
#release h2 a.minus {display: block;}
#topics h2 a.plus {display: none;}
#topics h2 a.minus {display: block;}
.KeywordArea .closeBox {display: none;}
.KeywordArea h2 a.plus {display: block;}
.KeywordArea h2 a.minus {display: none;}
.UpdateArea h2 a.plus {display: none;}
.UpdateArea h2 a.minus {display: block;}
#other h2 a.plus {display: none;}
#other h2 a.minus {display: block;}


/* EmergencyNote */

#EmergencyNote {
	width: 100%;
	padding: 10px 20px 0;
}

.top #ColA2011 #EarthquakeInfo_ttl h2 {
	background: #d04070;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.top #ColA2011 #EarthquakeInfo_ttl2 h2 {
	background: #d04070;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.top #ColA2011 #EarthquakeInfo_ttl h2 a {
	color: #fff;
}
.top #ColA2011 #EarthquakeInfo_ttl2 h2 a {
	color: #fff;
}

#EarthquakeInfo  ul.lnkLst li {
	background: url(../img/common/arw01.png) no-repeat left 0.3em;
	background-size: 14px 14px;
	padding: 0 0 10px 20px;
	margin-left: 0px;
}
#EarthquakeInfo2  ul.lnkLst li {
	background: url(../img/common/arw01.png) no-repeat left 0.3em;
	background-size: 14px 14px;
	padding: 0 0 10px 20px;
	margin-left: 0px;
}



#EmergencyNote dl {
	margin: 0 10px 0 0;
	padding: 2px 8px;
	border: 2px solid #e00;
	float: left;
	position:relative;
	z-index:10;
}

#EmergencyNote dt {
	margin: 0 5px 0 0;
	padding: 0;
	float: left;
	color: #e00;
	font-weight: bold;
	line-height: 1.4;
}

#EmergencyNote dd {
	margin: 2px 0 0 2px;
	padding: 0;
	float: left;
	line-height: 1;
}

#EmergencyNote #text {
	float: left;
}



#EmergencyNote p a {
	color: #e00;
}

#EmergencyNote #text div p a {
	display:block;
	width:760px;
}

#EmergencyNote p {
	margin: 0;
	padding: 4px 0 0 90px;
	color: #e00;
	font-weight:bold;
	font-size:120%;
}

#EmergencyNote #text p {
	padding: 4px 0 0 0;

}


/* EarthquakeInfo */

#EarthquakeInfo {
	margin: 0 0 10px;
	padding: 0px;
	background: #fff;
}
#EarthquakeInfo .EarthquakeInfo_frm {
	padding: 0px;
}

#EarthquakeInfo .EarthquakeInfo_wrap {
	padding: 0px;
	text-align: left;
}

#EarthquakeInfo #EarthquakeInfo_ttl {
	margin: 0 0 3px;
	padding: 0;
}

#EarthquakeInfo #EarthquakeInfo_ttl a {
	margin: 0 auto;
	padding: 0;
	display: inline;
	font-size: 1.1em;
	color: #d04070;
	font-weight: bold;
	background: none;
}


#EarthquakeInfo table {
	margin: auto;
	padding: 0;
	border-top: 1px solid #ddd;
}

#EarthquakeInfo table td {
	margin: 0 auto;
	padding: 15px 0 15px 20px;
	display: block;
	font-weight: bold;
	color: #333;
	background: url(../img/common/arw01.png) no-repeat left 1.3em;
	background-size: 14px 14px;
	border-bottom: 1px solid #ddd;
}


#EarthquakeInfo table td a {
	margin: 0;
	padding: 0px;
	background: none;
}
/* EarthquakeInfo2 */

#EarthquakeInfo2 {
	margin: 0 0 10px;
	padding: 0px;
	background: #fff;
}
#EarthquakeInfo2 .EarthquakeInfo_frm2 {
	padding: 0px;
}

#EarthquakeInfo2 .EarthquakeInfo_wrap2 {
	padding: 0px;
	text-align: left;
}

#EarthquakeInfo2 #EarthquakeInfo_ttl2 {
	margin: 0 0 3px;
	padding: 0;
}

#EarthquakeInfo2 #EarthquakeInfo_ttl2 a {
	margin: 0 auto;
	padding: 0;
	display: inline;
	font-size: 1.1em;
	color: #d04070;
	font-weight: bold;
	background: none;
}


#EarthquakeInfo2 table {
	margin: auto;
	padding: 0;
	border-top: 1px solid #ddd;
}

#EarthquakeInfo2 table td {
	margin: 0 auto;
	padding: 15px 0 15px 20px;
	display: block;
	font-weight: bold;
	color: #333;
	background: url(../img/common/arw01.png) no-repeat left 1.3em;
	background-size: 14px 14px;
	border-bottom: 1px solid #ddd;
}


#EarthquakeInfo2 table td a {
	margin: 0;
	padding: 0px;
	background: none;
}

/* NewsArea */

.top #ColA2011 h2 span {
	display: block;
	font-size: 0.8em;
	font-weight: normal;
	line-height: 1.4;
}



.NewsArea {
	margin: 0 0 10px;
	padding: 0px;
	background: #ddd;
}

.NewsArea .NewsArea_frm {
	padding: 0px;
	background: #fff;
}

.wrapper2011 .NewsArea ul.lnkLst {
	height: 250px;
	overflow: auto;
	margin: 0 0 10px;
}

.wrapper2011 .NewsArea ul.lnkLst li {
	background: url(../img/common/arw01.png) no-repeat left 1.3em;
	padding: 15px 0px 15px 20px;
	background-size: 14px 14px;
	border-bottom: 1px solid #ddd;
}


.wrapper2011 .NewsArea .lnkLst_BkNum {
	margin: 0px;
	padding: 7px 0px 8px 0px;
	border-top: 1px solid #ccc;
	text-align: right;
}

.wrapper2011 .NewsArea .lnkLst_BkNum p {
	margin: 0;
	padding: 0;
	background: none;
}

.wrapper2011 .NewsArea .lnkLst_BkNum p a {
	display: block;
	margin: 10px 0 0;
	background: #e6e6e6 url(../img/common/arw01.png) no-repeat 10px 1.3em;
	padding: 12px 20px 13px 40px;
	background-size: 14px 14px;
	text-decoration: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}


/* UpdateArea */

.UpdateArea {
	padding: 0px;
}

.UpdateArea .UpdateArea_frm {
	padding: 0px;
}

.wrapper2011 .UpdateArea .boxNormal {
	margin: 0;
	padding: 0 10px 10px 5px;
	border: none;
}
.wrapper2011 .UpdateArea .boxNormal ul.line li {
	width: auto;
	float: none;
	background: url(../img/common/arw01.png) no-repeat left 1.3em;
	padding: 15px 0px 15px 20px;
	background-size: 14px 14px;
	border-bottom: 1px solid #ddd;
}

.wrapper2011 .UpdateArea .boxNormal ul.line li .UpdateArea_new {
	margin: 0 0 0 5px;
	padding: 1px 3px;
	background: #e00;
	color: #fff;
	font-size: 0.7em;
}


/* KeywordArea */

.KeywordArea {
	margin: 0 0 10px;
	padding: 0px;
}

.KeywordArea .KeywordArea_frm {
	padding: 0px;
}

.wrapper2011 .KeywordArea .boxNormal {
	margin: 0;
	padding: 0 10px 10px 5px;
	border: none;
}

.wrapper2011 .KeywordArea .boxNormal ul.line li {
	margin: 0 0 10px;
	background: url(../img/common/arw01.png) no-repeat left 50%;
	padding: 3px 20px 3px 20px;
	background-size: 14px 14px;
}


.top #ColA2011 h2 {
	position: relative;
}

.top #ColA2011 h2 a.plus img,
.top #ColA2011 h2 a.minus img {
	vertical-align: middle;
	margin-right: 5px;
	display: inline;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 13px;
	right: 5px;
	cursor: pointer;
}




/* SIDE CONTENTS
---------------------------------------------------- */

/* bnr */

.top .banner2011 {
	margin: 0 0 20px;
	background-color: #eee;
	text-align: center;
	padding: 9px;
}
.top .banner2011 img {
	vertical-align: bottom;
}

.top #setsuden_bn .tabArea {
	padding: 5px 2px;
}

.top #setsuden_bn .tabArea div.bnr_lnk {
	margin: 0;
	padding: 0;
	text-align: center;
}

.top #setsuden_bn .tabArea div.bnr_lnk a {
	margin: 0;
	padding: 3px 0 3px 18px;
	background: url("css_images/icon_arrow_1.gif") no-repeat scroll left center;
}


/* media */

.top .media2011 {
	margin: 0 5px 20px;
	font-size: 1.3em;
}

.top .media_frm {
	margin: 0px;
	padding: 2px;
	background: #fff;
}



.top .media2011 h2 {
	margin: 0;
	padding: 10px 2px;
	border: none;
	display: block;
	font-size: 1em;
	text-align: center;
	color: #fff;
}

.top .media2011 ul {
	padding: 3px 0px;
}
.top .media2011 ul li {
	border-bottom: 1px dotted #ccc;
	font-size: 0.9em;
}
.top .media2011 ul li a {
	color: #333;
	text-decoration: none;
	display: block;
}

.top .media2011 ul li a:hover {
	color: #69f;
	text-decoration: underline;
}


.top .media2011 ul li#rss a {background: url(../img/index/icon_rss.gif) no-repeat 5px 0.9em;}
.top .media2011 ul li#twitter a {background: url(../img/index/icon_twitter.gif) no-repeat 5px 0.9em;}
.top .media2011 ul li#facebook a {background: url(../img/index/icon_facebook.gif) no-repeat 5px 0.9em;}
.top .media2011 ul li#youtube a {background: url(../img/index/icon_youtube.gif) no-repeat 5px 0.9em;}
.top .media2011 ul li#mail a {background: url(../img/index/icon_mail.gif) no-repeat 5px 0.9em;}
.top .media2011 ul li#schedule a {background: url(../img/index/icon_schedule.gif) no-repeat 5px 0.9em;}

.top .media2011 ul li#rss a,
.top .media2011 ul li#twitter a,
.top .media2011 ul li#facebook a,
.top .media2011 ul li#youtube a,
.top .media2011 ul li#mail a,
.top .media2011 ul li#schedule a {background-size: 30px 30px;}


/* リンク */
.lnkTxt {
	background: url(../img/common/arw01.png) no-repeat left 0.3em;
	background-size: 14px 14px;
	padding: 0 0 10px 20px;
}


/* Sub Navigation */


#subNavi2011 .h22014.category4 h2 {
	border-bottom: 1px solid #ddd;
}




/* Footer
-------------------------------------------------- */


#footer2011 .footerMenu2011.leftPos,
#footer2011 .leftPos.text_right {
	float: none;
	width: 100%;
}

#footer2011 .rightPos.text_right.lnkTxt {
	background: url(../img/common/arw01.png) no-repeat left 1em;
	background-size: 14px 14px;
	padding: 10px 10px 10px 20px;
}

.banner2014 li a {
	margin: 0px 0px 10px;
	background: url(../img/index/bnr_bg_s.gif) no-repeat bottom right;
	background-size: 20px;
	width: auto;
}

.banner2014 li a.leftPos {margin-right: 0px;}

.banner2014 li a.rightPos,
.banner2014 li a.leftPos {
	float: none !important;
}

.banner2014 {margin: 0 0 20px;}


/* /english/index.html 
-------------------------------------------------- */

.en #EarthquakeInfo #EarthquakeInfo_ttl a {
	font-size: 1.2em;
}

.en .wrapper2011 .NewsArea ul.lnkLst {
	height: 150px;
}

.en #container2011 .mainWrap2011 {
	/padding: 10px 0 20px 0;
}

.en #EarthquakeInfo #EarthquakeInfo_ttl h2 a.plus {display: block;}
.en #EarthquakeInfo #EarthquakeInfo_ttl h2 a.minus {display: none;}



#contents2011 {
	width: 100%;
}

#header2011 {
	width: 100%;
}

.globalNavi2011 .globalNaviWrap1 {
	width: 100%;
}


#footer2011 {
	width: 100%;
	margin: 0 auto;
}