﻿@charset "utf-8";

/* *********************************************************************

apply for "index.html" , "/english/index.html"only.

********************************************************************* */


/* Layout
-------------------------------------------------- */

.top .mainWrap2011 {
	padding: 0 5px 20px;
}




/* Footer */
#footer2011 {
	padding: 0 5px;
}



/* MainContents
-------------------------------------------------- */

/* MainImg */



.top #topimg_area2011 ul#topimg_navi1 {	
	margin: 0px 0px 0px 0px;
	padding: 8px 0 18px 0px;
}

.top #topimg_area2011 #topimg_navi1 li ul.topimg_navi_sum {
	display: block;
}

/* banner */





@media ( max-width : 819px ) {

/* 幅819px～651pxまで
-------------------------------------------------- */

.banner2014 li a {
	margin: 0px 0px 10px;
	background: url(../img/index/bnr_bg_s.gif) no-repeat bottom right;
	background-size: 20px;
	width: auto;
}

.banner2014 li a.rightPos,
.banner2014 li a.leftPos {
	float: none !important;
}

.banner2014 {margin: 0 0 20px;}

.banner2014 li a.leftPos {margin-right: 0px;}

}

