﻿@charset "utf-8";

/* HTML Tag
-------------------------------------------------- */

/* Global Navigation
-------------------------------------------------- */



.globalNavi2011 .globalNaviWrap1 {
	max-width: 889px;
	min-width: 651px;
}

.globalNavi2011 {
	padding: 0 5px;
}



/* Layout
-------------------------------------------------- */

/* Container */


#contents2011 {
	padding: 0px 5px;
	max-width: 889px;
	min-width: 651px;
}

.leftWrap2011 {
	width:auto;
	margin: 0;
	padding: 0;
}

#ColA2011 {
	width: 630px;
	margin: 0 -630px 0 0;
	float: left;
}

#ColB2011 {
	margin: 0px 0px 0px 640px;
	width: auto;
	padding: 0;
	position: relative;
}



/* Header
-------------------------------------------------- */

#header2011 {
	max-width: 899px;
	min-width: 651px;
}

/* Logo */

#header2011 #logo2011 {
	margin: 0 0 0 5px;
}


/* Header Menu */

#header2011 #hMenu {
	margin: 0px 5px 7px 0px;
}

/* fsize */
#header2011 #fsize {
	margin: 0 5px 0 0;
}

/* G-SEARCH */

#header2011 #tool2011 {
	margin: 0 5px 0 0;
}



/* Top
-------------------------------------------------- */

/* MainImg */


.top #topimg_area2011 .topimg2011 {
	max-width: 899px;
	min-width: 651px;
}


img.spacer {
	max-width: 899px;
	min-width: 641px;
}


.topimg-panel img {
	max-width: 899px;
	min-width: 641px;
}

.top .topimg-nav {
	max-width: 893px;
	min-width: 645px;
}


/*ご意見・お問合せ Opinions and Inquiries
-------------------------------------------------- */

.comment-box1 input#form_name,
.comment-box1 input#form_email,
.comment-box1 input#form_telephone,
.comment-box1 input#form_title,
.comment-box1 #form_contents {width: 100%;}


/* Contents(ColB)
-------------------------------------------------- */



/* SubNavi Skip */

.subNavi_skip p {
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	top: -37px;
	left: 5px;
}

.subNavi_skip a {
	width: auto;
	margin: 0 auto;
	padding: 4px;
	border: 2px solid #fff;
	background: #000;
	display:block;
	text-align: center;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	position: absolute;
	top: -10000px;
	left: -10000px;
}

.subNavi_skip a:focus,
.subNavi_skip  a:active {
	z-index: 99;
	top: 0;
	left: 0;
}




@media ( max-width : 819px ) {

/* 幅819px～651pxまで
-------------------------------------------------- */

.globalNavi2011 .globalNaviWrap1 {
	min-width: 641px;
}


#contents2011 {
	padding: 0px 0px;
	min-width: 641px;
}

/* Container */

#MainContentsArea {
	padding: 10px 5px;
	width: auto;
}

.leftWrap2011 {
	float: none;
}

#ColA2011 {
	width: auto;
	margin: 0 auto;
	font-size: 1.2em;
	float: none;
}

#ColB2011 {
	width: auto;
	margin: 0;
	padding: 0px 5px;
	float: none;
}

}