﻿@charset "utf-8";

/* HTML Tag
-------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.6;
}

*+html { background-color: #fff; } /* IE7 Bug Fix */


body {
	background-color: #fff;
	color: #333;
	font-family:'メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS P Gothic','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',"Arial","Helvetica","Verdana","sans-serif";
	font-size: 1em;
	line-height: 1.6;
}

a,
a:link,
a:visited { color: #333; }
a:hover ,
a:active ,
a:focus {color: #2676ff; background: none; }

.wrapper2011 a { text-decoration: underline; }

/* */
.wrapper2011 h2 a { color:#fff;}

.h12011, .h22011, .h32011, .h42011, .h52011, .h62011 {
	clear: both;
}

img { border: 0; }

ul { list-style: none; }

hr { margin-bottom: 15px; }



/* Layout
-------------------------------------------------- */

/* Container */
#container2011 {
	margin: 0 auto;
	background-color: #fff;
	font-size: 87.5%;
}


#contents2011 {
	margin: 0 auto;
	padding: 0 20px;
	background-color: #fff;
	max-width: 1200px;
	min-width: 900px;
}

.AllWrap2011 {
	width: 100%;
	margin: 0;
	padding: 0;
	clear: both;
}
.leftWrap2011 {
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
}

#ColA2011 {
	margin: 0 270px 0 0;
	padding: 0;
	position: relative;
}
#ColB2011 {
	width: 250px;
	margin: 0 0 0 -250px;
	padding: 0;
	float: left;
	line-height: 1.4;
}

/* Footer */
#footer2011 {
	margin: 0;
	padding: 0;
	clear: both;
	background: #eee;
	color: #333;
	text-align: center;
}



/* Header
-------------------------------------------------- */

#header2011 {
	margin: 0 auto;
	padding: 0;
	line-height: 1;
	max-width: 1240px;
	min-width: 940px;
}


/* Logo */

#header2011 #logo2011 {
	margin: 0 0 0 20px;
	padding: 23px 0 23px 0px;
	float: left;
}

#header2011 #logo2011 img {
	margin: 0;
	padding: 0;
	border: none;
	width: 250px;
	height: auto;
}


/* Header Menu */


#header2011 #hMenu .menuBtn,
#header2011 #hMenu .menuBtnClose {
	display: none;
}


#header2011 #hMenu {
	margin: 0px 20px 7px 0px;
	padding: 8px 4px 7px 14px;
	float: right;
	background: #555;
}

.headerMenu2011 li {
	margin: 0 10px;
	padding: 0 5px 0 10px;
	float: left;
	background: url(../img/common/arw01.gif) no-repeat left 50%;
	list-style: none;
	font-size: 0.9em;
	line-height: 1;
}
.headerMenu2011 a {
	color: #fff !important;
	text-decoration: none;
	line-height: 1;
	color: #fff;
}
.headerMenu2011 a:hover ,
.headerMenu2011 a:active ,
.headerMenu2011 a:focus {
	text-decoration: underline;
}


/* fsize */
#header2011 #fsize {
	margin: 0 20px 0 0;
	padding: 0 0px 9px 0;
	float: right;
	clear: right;
}

#header2011 #fsize dt,
#header2011 #fsize dd,
.g-sch2011 dt,
.g-sch2011 dd,
#maincontentswrap2011 .wrapper2011 dl.g-sch2011 dd {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	float: left;
	color: #333;
	font-size: 1em;
	line-height: 1;
}

#header2011 #fsize dt {
   padding: 5px 4px 0;
	font-weight: normal;
	margin-top: 18px;
}
#header2011 #fsize dd {
	margin: 0 0 0 4px;
	padding: 2px;
	background: #ccc;
	margin-top: 17px;
}
#header2011 #fsize dd#easy_web{
margin-top: 0px;
}

#header2011 #fsize dd a {
	margin: 0;
	padding: 3px;
	background: #fff;
	display: block;
	color: #222;
	text-decoration: none;
	font-size: 1em;
	line-height: 1;
}
#header2011 #fsize dd.selected a {
	background-color: #007cbb;
	color: #fff;
}


/* G-SEARCH */

#header2011 #tool2011 {
	margin: 0 20px 0 0;
	padding: 0;
	float: right;
	clear: right;
}



/* g-sch2011 */

.g-sch2011 {
	margin: 0 0 10px;
	padding: 1px 5px 1px 30px;
	background: url("css_images/icon_sch.gif") no-repeat scroll 6px 50% #eee;
	float: left;
}
/*.wrapper2011内の検索窓用*/
#maincontentswrap2011 .wrapper2011 dl.g-sch2011 {
    padding: 1px 5px 1px 30px;
}

* html .g-sch2011 {
	padding: 4px 5px 4px 30px;
	background: none;
}
*+html .g-sch2011 {min-width: 29em;}

dl.g-sch2011 {
	line-height: 1;
}
.g-sch2011 dt {
	margin: 0;
	padding: 0 4px;
	font-weight: bold;
	font-size: 1em;
	line-height: 1;
}
.g-sch2011 dt label {
	margin: 0;
	padding: 0;
	display: block;
	padding: 4px 0px;
}
.g-sch2011 dd {
	font-size: 1em;
	line-height: 1;
}
.g-sch2011 input {
	margin: 0;
	padding: 0;
	vertical-align: top;
	font-size: 0.9em;
	line-height: 1;
	display: block;
}
.g-sch2011 input.txtFld {
	width: 10.3em;
    margin: 4px 0 0;
	padding: 2px 2px;
    border: 1px solid #ccc;
	vertical-align: top;
}
* html .g-sch2011 input.txtFld {
	margin: 0;
}

.g-sch2011 .frame {
	margin: 4px 3px 0 3px;
	padding: 0;
	border: none;
}
/*.wrapper2011内の検索窓用*/
#maincontentswrap2011 .wrapper2011 dl.g-sch2011 dd.frame {
   margin: 4px 3px 0; 
  padding: 0;
}
* html .g-sch2011 .frame {
	margin: 0px 3px;
}
.g-sch2011 input.btn2011 {
	border: none;
	padding: 2px 8px;
    background: #007cbb;
    display: block;
    color:#fff;
    line-height: 1.2;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.g-sch2011 .more {
    margin: 0 5px;
    padding: 5px 0 0 9px;
	background: url("css_images/icon_arrow_4.gif") no-repeat left 60%;
}
* html .g-sch2011 .more {
    padding: 0px 0 0 9px;
}
.g-sch2011 .more a {
	color: #333;
	font-size: 90%;
	text-decoration: none;
}
.g-sch2011 .more a:hover ,
.g-sch2011 .more a:active ,
.g-sch2011 .more a:focus {
	color: #2676ff;
	text-decoration: underline;
}


.menuBar {
	display: none;
}


/* Global Navigation
-------------------------------------------------- */

.globalNavi2011 {
	margin: 0;
	padding: 0 20px;
	border-bottom: 4px solid #007cbb;
	clear: both;
	text-align: center;
	background-color: transparent;
	}

.globalNavi2011 .globalNaviWrap1 {
	display: block;
	margin: 0 auto;
	padding: 0;
	background: #007cbb;
	max-width: 1200px;
	min-width: 900px;
}

.globalNavi2011 .globalNaviWrap2 {
	padding: 0;
}

.globalNavi2011 .gnvList {
	margin: 0;
	padding: 3px 2% 0;
	font-size: 1em;
    display: -moz-inline-box;
    display: inline-block;
}



.globalNavi2011 .gnvList li {
    margin: 0;
    padding: 0;
    border-right: 1px solid #fff;
    display: -moz-inline-box;
    display: block;
    background-image: none;
    float: left;
}
.globalNavi2011 .gnvList li.home {
	margin-left: 0;
    border-left: 1px solid #fff;
}

* html .globalNavi2011 .gnvList,
* html .globalNavi2011 .gnvList li {
	margin: 0;
	padding: 0;
    display: inline;
    zoom: 1;
}
*+html .globalNavi2011 .gnvList,
*+html .globalNavi2011 .gnvList li {
    display: inline;
    zoom: 1;
}
.globalNavi2011 .gnvList li a {
	display: block;
	margin: 0;
	padding: 15px 15px 13px;
	font-weight: bold;
	color: #fff;
	font-size: 1em;
	text-decoration: none;
	/*line-height: 1.7;*/
}

@media ( min-width : 651px ) {

.globalNavi2011 .gnvList li.home {
   border-left: none;
}
.globalNavi2011 .gnvList li:last-child {
    border-right: none;
}

.globalNavi2011 .gnvList {
	padding: 3px 0 0;
	display: block;
	margin-bottom: -1px;
}

.globalNavi2011 .gnvList:after {
	content: "";
	display: block;
	clear: both;
}
	
.globalNavi2011 .gnvList li a {
	padding: 15px 0px 13px;
	word-break: break-all;
}

.globalNavi2011 .gnvList li:nth-child(1) {width: 10%;}
.globalNavi2011 .gnvList li:nth-child(2) {width: 20%;}
.globalNavi2011 .gnvList li:nth-child(3) {width: 14%;}
.globalNavi2011 .gnvList li:nth-child(4) {width: 16%;}
.globalNavi2011 .gnvList li:nth-child(5) {width: 9%;}
.globalNavi2011 .gnvList li:nth-child(6) {width: 17%;}
.globalNavi2011 .gnvList li:nth-child(7) {width: 13%;}

body.en .globalNavi2011 .gnvList li:nth-child(1) {width: 11%;}
body.en .globalNavi2011 .gnvList li:nth-child(2) {width: 17%;}
body.en .globalNavi2011 .gnvList li:nth-child(3) {width: 17%;}
body.en .globalNavi2011 .gnvList li:nth-child(4) {width: 13%;}
body.en .globalNavi2011 .gnvList li:nth-child(5) {width: 14%;}
body.en .globalNavi2011 .gnvList li:nth-child(6) {width: 16%;}
body.en .globalNavi2011 .gnvList li:nth-child(7) {width: 11%;}


}

.globalNavi2011 .gnvList li a:hover {
    background: none;
}
* html .globalNavi2011 .gnvList li a:hover {
	background: url(css_images/bg_gmenu_select.gif) repeat-x bottom center;
}

.globalNavi2011 .gnvList li.selected a,
.globalNavi2011 .gnvList li a:hover {
	background: url(../img/common/gl_o.gif) no-repeat bottom center;
}

/* FooterNavi
-------------------------------------------------- */

#FooterNavi2011 {
	margin: 0 0 5px;
	padding: 0;
	border-top: 4px solid #007cbb;
	text-align: left;
	font-size: 1em;
	line-height: 1.4;
}

#FooterNavi_cse-search-box {
	margin: 0 auto;
	padding: 10px 0px;
	max-width: 1200px;
	border-bottom: 1px solid #ccc;
}

#FooterNavi_cse-search-box:after {
	content: "";
	display: block;
	clear: both;
}

*+html #FooterNavi_cse-search-box {display: inline-block;}
* html #FooterNavi_cse-search-box {display: inline-block;}

#FooterNavi_cse-search-box .g-sch2011 {
	margin: 0;
	padding: 0 0 0 30px;
	float: right;
}

#FooterNavi2011 .FooterBread2011 {
	margin: 0px auto 20px;
	padding: 8px 10px;
	clear: both;
}


/* FooterNavi LinkList */

#FooterNavi2011 {
	margin: 0 auto;
}

#FooterNavi2011 .FooterNavi_LinkList {
	margin: 0 auto;
	padding: 0px;
	max-width: 1200px;
}

#FooterNavi2011 .FooterNavi_LinkList dl {
	width: 280px;
	margin: 0;
	padding: 0 20px 20px 0;
	float: left;
	font-size: 83.3%;
}

#FooterNavi2011 .FooterNavi_LinkList dt {
	margin: 0;
	font-weight: bold;
	margin: 0 0 1px;
	padding: 2px 2px 2px 4px;
}

#FooterNavi2011 .FooterNavi_LinkList dd {
	margin: 0 0 1px;
	padding: 1px 1px 1px 4px;
}

#FooterNavi2011 .FooterNavi_LinkList dt a {
	display: block;
	background: url("css_images/icon_arrow_1.gif") no-repeat left 0.3em;
	padding: 0 0 0 17px;
}

#FooterNavi2011 .FooterNavi_LinkList dd a {
	display: block;
	padding: 0 0 0 17px;
	background: url("css_images/icon_arrow_4.gif") no-repeat 4px 0.6em;
}

#FooterNavi2011 .FooterNavi_LinkList dt a ,
#FooterNavi2011 .FooterNavi_LinkList dd a {
	color: #333;
	text-decoration: none;
}

#FooterNavi2011 .FooterNavi_LinkList dt a:hover ,
#FooterNavi2011 .FooterNavi_LinkList dd a:hover ,
#FooterNavi2011 .FooterNavi_LinkList dt a:active ,
#FooterNavi2011 .FooterNavi_LinkList dt a:focus ,
#FooterNavi2011 .FooterNavi_LinkList dd a:active ,
#FooterNavi2011 .FooterNavi_LinkList dd a:focus {
	color: #222;
	text-decoration: underline;
}

#FooterNavi2011 .FooterNavi_LinkList dt.selected {
	background: #ccc;
}

#FooterNavi2011 .FooterNavi_LinkList dd.selected {
	background-color: #e0e0e0;
}

body.en #FooterNavi2011 .FooterNavi_LinkList dd a {
	display: inline;
}


/* Footer
-------------------------------------------------- */

.footerMenu2011 {
	margin: 0;
	padding: 4px 0;
	clear: both;
	background: #fff;
	text-align: center;
	font-size: 1em;
}
.footerMenu2011 li {
	margin: 0;
	padding: 0 14px 0 9px;
	background: url(css_images/icon_arrow_4.gif) no-repeat left 50%;
	display: inline;
}
.footerMenu2011 li a {
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 90%;
	text-decoration: none;
}
.footerMenu2011 li a:hover ,
.footerMenu2011 li a:active ,
.footerMenu2011 li a:focus {
	color: #2676ff;
	text-decoration: underline;
}

.copyright2011 {
	margin: 0;
	padding: 7px 10px 40px;
	border-top: 4px solid #007cbb;
	clear: both;
	background: #fff;
	text-align: center;
	font-size: 0.9em;
	line-height: 1.4;
}

#footer2011 .leftPos.text_right {
	float: right;
}



/* Contents(Breadcrumb & ColA)
-------------------------------------------------- */

.wrapper2011 {
	clear: both;
	text-align: left;
}

.wrapper2011 .wrapper2011_L {
	width: 49%;
	float: left;
}

.wrapper2011 .wrapper2011_R {
	width: 49%;
	float: right;
}


/* Breadcrumb List */

.bread2011 {
	margin: 10px 0;
	padding: 0;
	text-align: left;
	min-height: 10px;
}

.bread2011 ul {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

.bread2011 li {
	margin: 0;
	padding: 0;
	display: inline;
	background: none;
}

.bread2011 li a ,
.bread2011 li a:visited {
	margin: 0 7px 0 0;
	padding: 0;
	color: #333;
	text-decoration: underline;
}

.bread2011 li a:hover ,
.bread2011 li a:active ,
.bread2011 li a:focus {
	background: none;
	color: #2676ff;
}

.bread2011 img {
	margin: 0;
	padding: 0;
	border: none;
	vertical-align: middle;
}


/* FooterBreadcrumb List */

.FooterBread2011 {
	margin: 10px auto;
	padding: 0;
	text-align: left;
	min-height: 10px;
	max-width: 1200px;
}

.FooterBread2011 ul {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

.FooterBread2011 li {
	margin: 0;
	padding: 0;
	display: inline;
	background: none;
}

.FooterBread2011 li a ,
.FooterBread2011 li a:visited {
	margin: 0 7px 0 0;
	padding: 0;
	color: #333;
	text-decoration: underline;
}

.FooterBread2011 li a:hover ,
.FooterBread2011 li a:active ,
.FooterBread2011 li a:focus {
	background: none;
	color: #2676ff;
}

.FooterBread2011 img {
	margin: 0;
	padding: 0;
	border: none;
	vertical-align: middle;
}


/* Contents Foot */

.contents-foot2011 {
	margin: 20px 0 80px;
	padding: 0;
	border-top: 2px solid #ddd;
	clear: both;
}
.contents-foot2011 .update2011 {
	margin: 0;
	padding: 10px 5px;
	float: left;
}
.ptop2011 {
	margin: 0;
	padding: 10px 5px 10px 17px;
	float: right;
	background: url(css_images/icon_arrow_11.gif) no-repeat left 50%;
}
.contents-foot2011 .ptop2011 a {
	text-decoration: none;
	color: #333 !important;
}
.contents-foot2011 .ptop2011 a:hover ,
.contents-foot2011 .ptop2011 a:active ,
.contents-foot2011 .ptop2011 a:focus {
	text-decoration: underline;
	background: none;
	color: #2676ff !important;
}


/* Contents Foot -pagetop org  */

ul.pagetop {
	height: 50px;
	margin: 20px 0 0 !important;
	padding: 0;
	border-top: 2px solid #ddd;
}
ul.pagetop .ptop2011 {
	margin: 0;
	padding: 10px 5px 10px 17px;
	float: right;
	background: url(css_images/icon_arrow_11.gif) no-repeat left 50%;
}
ul.pagetop .ptop2011 a {
	text-decoration: none;
}
ul.pagetop .ptop2011 a:hover {
	text-decoration: underline;
}



/* Contents(ColB)
-------------------------------------------------- */

/* Sub Navigation */

#subNavi2011 {
	position: relative;
	margin: 0 0 20px;
	padding: 0;
}

#contents2011 #subNavi2011 .h22011,
#contents2011 #subNavi2011 .h22014 {
	margin: 0;
	background: #007cbb;
}

#subNavi2011 h2 {
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
	display: block;
	font-size: 1.1em;
	line-height: 1.2;
	text-indent: 0;
}

#subNavi2011 h2 a {
	display: block;
	padding: 16px 7px 14px 40px;
	color: #fff;
	text-decoration: none;
	line-height:1.6;
	/*margin: 0 30px 0 0;*/
	margin: 0;
}

#subNavi2011 h2 a:hover {
	text-decoration: underline;
}
#subNavi2011 h2 a:focus {
	border:1px dotted #000;
}
#subNavi2011 a:focus img {
	border:1px dotted #000;
} 

#subNavi2011 h2 a#lonav00 {
	padding: 16px 7px 14px 30px;
	background: url(css_images/icon_arrow_7.gif) no-repeat scroll 9px 1.4em;
}

#subNavi2011 h2 a#lonav01 {background: url(../img/common/lonav01_s.gif) no-repeat 5px 0.8em;}
#subNavi2011 h2 a#lonav02 {background: url(../img/common/lonav02_s.gif) no-repeat 5px 0.8em;}
#subNavi2011 h2 a#lonav03 {background: url(../img/common/lonav03_s.gif) no-repeat 5px 0.8em;}
#subNavi2011 h2 a#lonav04 {background: url(../img/common/lonav04_s.gif) no-repeat 5px 0.8em;}
#subNavi2011 h2 a#lonav05 {background: url(../img/common/lonav05_s.gif) no-repeat 5px 0.8em;}

#subNavi2011 h2 a img {
	vertical-align: middle;
	margin-right: 5px;
}

#subNavi2011 h2 a.subMenuBtn {
	display: inline;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 9px;
	right: 5px;
	cursor: pointer;
}


#subNavi2011 dl {
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	border-top: none;
}
#subNavi2011 dt a:link ,
#subNavi2011 dt a:visited ,
#subNavi2011 dt a:hove ,
#subNavi2011 dt a:active ,
#subNavi2011 dt a:focusr ,
#subNavi2011 dd a:link ,
#subNavi2011 dd a:visited ,
#subNavi2011 dd a:hover ,
#subNavi2011 dd a:active ,
#subNavi2011 dd a:focus {
	color: #333;
}
#subNavi2011 dt {
	margin: 0;
	padding: 0;
	border: none;
	border-top: 2px solid #fff;
	position: relative;
	background: #eee;
	font-weight: normal;
}
#subNavi2011 dt.selected {
	background: #ddd;
}
#subNavi2011 dt .subNavi_MenuLink {
	margin: 0 35px 0 0;
	padding: 11px 0px 11px 27px;
	display: block;
	background: url(css_images/icon_arrow_1.gif) no-repeat 7px 1.1em;
	text-decoration: none;
	font-weight: normal;
}
#subNavi2011 dt a:hover {
	text-decoration: underline;
	color: #333;
}

#subNavi2011 dt.no .subNavi_MenuLink {
	background: none;
}

#subNavi2011 dt strong {
	margin: 0;
	padding: 0;
	display: block;
	font-weight: normal;
}
#subNavi2011 dt img {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 5px;
	cursor: pointer;
}

#subNavi2011 dd {
	margin: 0;
	padding: 0;
	background: #fff;
	zoom:1;
}
#subNavi2011 dd a {
	display: block;
	background: url(css_images/icon_arrow_4.gif) no-repeat 22px 1em;
	padding: 6px 5px 6px 32px;
	border-top: 2px solid #fff;
	font-weight: normal;
	text-decoration: none;
}
#subNavi2011 dd a:hover {
	text-decoration: underline;
	color: #333;
}
#subNavi2011 dd a:active {
  text-decoration: underline;
  color: #333;
}
#subNavi2011 dd.selected {
	background-color: #eef3ff;
}


/* Sub Navigation Policy*/

#subNavi_policy2011 {
	margin: 0 0 20px;
	padding: 0;
	display: none;
	_height: 1px;
}
#contents2011 #subNavi_policy2011 .h22011 {
	margin: 0;
	background: #757575;
}
#subNavi_policy2011 h2 {
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
	display: block;
	font-size: 1em;
	line-height: 1.2;
	text-indent: 0;
}

#subNavi_policy2011 h2 a {
	display: block;
	background:url(css_images/icon_arrow_7b.gif) no-repeat 9px 1.35em;
	padding: 14px 7px 9px 26px;
	color: #fff;
	text-decoration: none;
	line-height:1.6;
}
#subNavi_policy2011 h2 a:hover {
	text-decoration: underline;
}
#subNavi_policy2011 dl {
	margin: 0;
	padding: 0;
	border: 2px solid #ddd;
	border-top: none;
	background: #fff;
}
#subNavi_policy2011 dt a:link ,
#subNavi_policy2011 dt a:visited ,
#subNavi_policy2011 dt a:hove ,
#subNavi_policy2011 dt a:active ,
#subNavi_policy2011 dt a:focusr ,
#subNavi_policy2011 dd a:link ,
#subNavi_policy2011 dd a:visited ,
#subNavi_policy2011 dd a:hover ,
#subNavi_policy2011 dd a:active ,
#subNavi_policy2011 dd a:focus {
	color: #333;
}
#subNavi_policy2011 dt {
	margin: 0;
	padding: 0;
	border: none;
	border-top: 2px solid #fff;
	backgroung: #fff;
	font-weight: normal;
	position: static;
}
#subNavi_policy2011 dt.selected strong a {
    background: url("css_images/icon_arrow_4.gif") no-repeat scroll 22px 0.9em #DDDDDD;
}

#subNavi_policy2011 dt a.subNavi_MenuLink {
	margin: 0;
	padding: 7px 5px 7px 32px;
	display: block;
	background: #fff url(css_images/icon_arrow_4.gif) no-repeat 22px 0.9em;
	text-decoration: none;
	font-weight: normal;
}
#subNavi_policy2011 dt a.lnkIcon {
	/background: #fff url(css_images/icon_arrow_4.gif) no-repeat 22px 0.9em !important;
}
#subNavi_policy2011 dt a:hover {
	text-decoration: underline;
	color: #333;
}
#subNavi_policy2011 dt strong {
	margin: 0;
	padding: 0;
	display: block;
	font-weight: normal;
}
#subNavi_policy2011 dt img {
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#subNavi_policy2011 dd {
	margin: 0;
	padding: 0;
	background: #fff;
	zoom:1;
}
#subNavi_policy2011 dd a {
	display: block;
	background: url(css_images/icon_arrow_4.gif) no-repeat 22px 0.9em;
	padding: 5px 5px 5px 32px;
	border-top: 2px solid #fff;
	font-weight: normal;
	text-decoration: none;
}
#subNavi_policy2011 dd a:hover {
	text-decoration: underline;
	color: #333;
}
#subNavi_policy2011 dd.selected {
	background-color: #eef3ff;
}


/* SubNavi Skip */

.subNavi_skip p {
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	top: -37px;
	left: 5px;
}

.subNavi_skip a {
	width: 230px;
	margin: 0 auto;
	padding: 4px;
	border: 2px solid #fff;
	background: #000;
	display:block;
	text-align: center;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	position: absolute;
	top: -10000px;
}

.subNavi_skip a:focus,
.subNavi_skip  a:active {
	z-index: 99;
	top: 0;
	left: 0;
}



/* */

#subNavi2011 dd.label {
	font-weight:bold;
	padding: 5px 5px 0 0.9em;
	border-top: 2px solid #fff;
	text-decoration: none;
}

#subNavi2011 dd.label a {
	font-weight:normal;
	padding: 0 5px 5px 10px;
	border-top: none;
	text-decoration: none;
	background: url("css_images/icon_arrow_4.gif") no-repeat scroll 0px 0.5em transparent;
}

#subNavi2011 dd.b_dashed {
	border-top:dashed 2px #ccc;
}

#subNavi_policy2011 dd.label {
	font-weight:bold;
	padding: 5px 5px 5px 0.9em;
	border-top: 2px solid #fff;
	text-decoration: none;
}

#subNavi2011_second {
	position: relative;
	background: url(css_images/bg_subnavi_second_ttl.gif) no-repeat;
	margin:15px 0;
}
#contents2011 #subNavi2011_second .h22011 {
	margin: 0;
	background: none;
}
#subNavi2011_second h2 {
	margin: 0;
	border: none;
	position: relative;
	display: block;
	background: none;
	font-size: 1em;
	text-indent: 0;
	padding: 14px 7px 9px 17px;
	color: #fff;
	text-decoration: none;
	line-height:1.6;

}

#subNavi2011_second dl {
	margin: 0;
	padding: 0;
	border: 2px solid #ddd;
	border-top: none;
}
#subNavi2011_second dt a:link ,
#subNavi2011_second dt a:visited ,
#subNavi2011_second dt a:hover ,
#subNavi2011_second dt a:active ,
#subNavi2011_second dt a:focus ,
#subNavi2011_second dd a:link ,
#subNavi2011_second dd a:visited ,
#subNavi2011_second dd a:hover ,
#subNavi2011_second dd a:active ,
#subNavi2011_second dd a:focus {
	color: #333;
}
#subNavi2011_second dt {
	margin: 0;
	padding: 0;
	border: none;
	border-top: 2px solid #fff;
	position: relative;
	background: #eee;
	font-weight: normal;
}
#subNavi2011_second dt.selected {
	background: #ddd;
}
#subNavi2011_second dt .subNavi_MenuLink {
	margin: 0;
	padding: 9px 23px;
	display: block;
	background: url(css_images/icon_arrow_1.gif) no-repeat 7px 0.9em;
	text-decoration: none;
	font-weight: normal;
}
#subNavi2011_second dt a:hover {
	text-decoration: underline;
}
#subNavi2011_second dt strong {
	margin: 0;
	padding: 0;
	display: block;
	font-weight: normal;
}
#subNavi2011_second dt img {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 5px;
	cursor: pointer;
}

#subNavi2011_second dd {
	margin: 0;
	padding: 0;
	background: #fff;
}
#subNavi2011_second dd a {
	display: block;
	background: url(css_images/icon_arrow_4.gif) no-repeat 22px 0.9em;
	padding: 5px 5px 5px 32px;
	border-top: 2px solid #fff;
	font-weight: normal;
	text-decoration: none;
}
#subNavi2011_second dd a:hover {
	text-decoration: underline;
}
#subNavi2011_second dd.selected {
	background-color: #eef3ff;
}




.subNavi2011_etc {
	background: url(css_images/bg_subnavi_ttl.gif) no-repeat;
	margin: 0 0 20px;
	padding: 0;
}
#contents2011 .subNavi2011_etc .h22011 {
	margin: 0;
	background: none;
}
.subNavi2011_etc h2 {
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
	display: block;
	background: none;
	font-size: 1em;
	text-indent: 0;
	background: url(css_images/icon_arrow_7.gif) no-repeat 9px 1.35em;
	padding: 14px 7px 9px 26px;
	color: #fff;
	line-height:1.6;
	
}
.subNavi2011_etc h2 a {
	display: block;
	color: #fff;
	text-decoration: none;
	line-height:1.6;
}
.subNavi2011_etc h2 a:hover {
	text-decoration: underline;
}

.subNavi2011_etc dl {
	margin: 0;
	padding: 0;
	border: 2px solid #ddd;
	border-top: none;
}
.subNavi2011_etc dt a:link ,
.subNavi2011_etc dt a:visited ,
.subNavi2011_etc dt a:hove ,
.subNavi2011_etc dt a:active ,
.subNavi2011_etc dt a:focusr ,
.subNavi2011_etc dd a:link ,
.subNavi2011_etc dd a:visited ,
.subNavi2011_etc dd a:hover ,
.subNavi2011_etc dd a:active ,
.subNavi2011_etc dd a:focus {
	color: #333;
}
.subNavi2011_etc dt {
	margin: 0;
	padding: 0;
	border: none;
	border-top: 2px solid #fff;
	position: relative;
	background: #eee;
	font-weight: normal;
}
.subNavi2011_etc dt.selected {
	background: #ddd;
}
.subNavi2011_etc dt .subNavi_MenuLink {
	margin: 0;
	padding: 9px 23px;
	display: block;
	background: url(css_images/icon_arrow_1.gif) no-repeat 7px 0.9em;
	text-decoration: none;
	font-weight: normal;
}
.subNavi2011_etc dt a:hover {
	text-decoration: underline;
	color: #333;
	background: url(css_images/icon_arrow_1.gif) no-repeat 7px 0.9em;
}
.subNavi2011_etc dt strong {
	margin: 0;
	padding: 0;
	display: block;
	font-weight: normal;
}
.subNavi2011_etc dt img {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 5px;
	cursor: pointer;
}

.subNavi2011_etc dd {
	margin: 0;
	padding: 0;
	background: #fff;
	zoom:1;
}
.subNavi2011_etc dd a {
	display: block;
	background: url(css_images/icon_arrow_4.gif) no-repeat 22px 0.9em;
	padding: 5px 5px 5px 32px;
	border-top: 2px solid #fff;
	font-weight: normal;
	text-decoration: none;
}
.subNavi2011_etc dd a:hover {
	text-decoration: underline;
	color: #333;
}
.subNavi2011_etc dd.selected {
	background-color: #eef3ff;
}
#subNavi2011 dt a.noLink {
	text-decoration: none;
}



/* media */
.media2011 {
	margin: 0 0 20px;
	padding: 2px;
	background: #ddd;
	line-height: 1;
}
.media_frm {
	margin: 0px;
	padding: 2px;
	background: #fff;
}
.media2011 ul {
	padding: 3px 12px;
}
.media2011 ul li {
	font-size: 0.9em;
}
.media2011 ul li a {
	padding: 15px 5px 15px 70px;
	color: #333;
	text-decoration: none;
	display: block;
}
.media2011 ul li a:hover {
	color: #69f;
	text-decoration: underline;
}
.media2011 ul li.rss { background: url("css_images/media_icon_rss.gif") no-repeat 29px 50%; }
.media2011 ul li.twitter { background: url("css_images/media_icon_twitter.gif") no-repeat 29px 50%; }
.media2011 ul li.facebook { background: url("css_images/media_icon_facebook.gif") no-repeat 29px 50%; }
.media2011 ul li.youtube { background: url("css_images/media_icon_youtube.gif") no-repeat 29px 50%; }
.media2011 ul li.mail { background: url("css_images/media_icon_mail.gif") no-repeat 29px 50%; }


/* Common
-------------------------------------------------- */

/* 配置 */
.clear { clear: both !important; }
.noclear { clear: none !important; }
.leftPos { float: left !important; }
.rightPos { float: right !important; }
.leftPosT { text-align: left !important; }
.rightPosT, .text_right { text-align: right !important; }
.centerPosT, .text_center { text-align: center !important; }
.vtop { vertical-align: top !important; }
.vbottom { vertical-align: bottom !important; }
.vmiddle { vertical-align: middle !important; }

/* 余白 */
.m0 { margin: 0 !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb50 { margin-bottom: 50px !important; }
.mt0 { margin-top: 0 !important; }
.mt10 { margin-top: 10px !important; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mt50 { margin-top: 50px !important; }
.ml10 { margin-left: 10px !important; }
.ml20 { margin-left: 20px !important; }
.ml30 { margin-left: 30px !important; }
.ml40 { margin-left: 40px !important; }
.mr10 { margin-right: 10px !important; }
.mr220 { margin-right: 220px !important; }
.mauto { margin-left: auto !important; margin-right: auto !important; }
.wauto { width: auto !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pb0 { padding-bottom: 0 !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pd0 { padding: 0 !important; }
.pd5 { padding: 5px !important; }
.pd10 { padding: 10px !important; }
.pd15 { padding: 15px !important; }
.pl15 { padding-left: 15px !important; }

/* 文字関連 */
.fs150 { font-size: 150%; }
.nw { white-space: nowrap !important; }
.grey { color: #767676 !important; }
.red { color: #e00 !important; }
.boxAtt .red { color: #d00 !important; }
.blue { color: #00c !important; }
.green { color: #063 !important; }
.bold { font-weight: bold !important; }
em.underLine{
    border-bottom: 3px double;
    font-style: normal;
}

/* 枠線 */
.bdGraySA { border:1px #CCCCCC solid;}
.bdGrayST { border-top:1px #CCCCCC solid;}
.bdBlackST { border-top:1px #000000 solid;}
.bdGrayDB { border-bottom: 1px dotted #ccc;}

.wrapper2011 .boxBdBlackST {
    background-color: #FFFFFF;
    border-top: 1px solid #000000;
    margin: 0 0 15px;
    padding: 7px;
}

/* 検索結果 */
.wrapper2011 iframe { width: 640px; }

/* 非表示 */
.hidden {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	text-indent: -10000px;
}
caption.hidden { display: none; }



/* Clear Fix
-------------------------------------------------- */
.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0;
	font-size: 0.1em;
	clear: both;
}
.clearfix { zoom: 1; }



/* Navi Skip & noscript
-------------------------------------------------- */
.skipnav { position: absolute; display: block; text-align: left; margin-left: -13em; padding: 0; top: 50px; left: 50%; }
.skipnav p { margin: 5px 0 0 0; padding: 0; position: absolute; font-size: 2em; }
.skipnav a { width: 26em; display: block; color: #fff; background: #333; text-decoration: none; padding: 5px; position: absolute; left: -1000em; top: 0; font-weight: bold; }
.skipnav a:visited { color: #fff; }
.skipnav a:focus, .skipnav a:active { z-index: 99; top: -3em; left: 0; border: solid #777 2px; color: #fff; background: #333 !important; }
.skipnav a:hover { cursor: default; }
.skiptarget { width: 1px; height: 1px; overflow: hidden; float: right; }

.jsOn {
	display: block;
	background-color: #f4f4f4;
	border: 1px solid #ccc;
	padding: 7px 10px;
	text-align: left;
}



/* border-radius
-------------------------------------------------- */

.r10 {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.r8 {
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
.r6 {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.r5 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#subNavi2011 .h22011,
#subNavi_policy2011 .h22011 {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
}

/* /english/
-------------------------------------------------- */

.en #header2011 #fsize dd a {
	margin: 0;
	padding: 3px 5px;
}

.en #cont p {
	margin-left: 20px;
}

body.en  {
	font-family: Arial,Verdana,Helvetica,sans-serif;
}
.news_release_icon{
       border: 1px solid #999999;
       font-size: 80%;
       padding: 0 5px;
       margin-left: 3px;
}


/* 既存コンテンツ用修正
-------------------------------------------------- */

/* ページカラム最小幅設定 */
body.container-w1100 #container2011 {
	min-width: 1100px;
}
body.container-w1150 #container2011 {
	min-width: 1150px;
}
body.container-w1200 #container2011 {
	min-width: 1200px;
}



/* 既存コンテンツtable幅auto */
div.table_mauto table ,
div.table_mauto table th ,
div.table_mauto table td ,
div.table_mauto pre {
	width: auto !important;
	height: auto !important;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	word-break: break-all;
}
