﻿#travelstart-300px250px,
#travelstart-300px250px select,
#travelstart-300px250px label,
#travelstart-300px250px form,
#travelstart-300px250px input,   
#travelstart-300px250px div,
#travelstart-300px250px img,
#travelstart-300px250px p {
	border: 0;
	font-family: Arial, san-serif;
	font-size: 100%;
	line-height: 100%;
	display: block;
	vertical-align: baseline;
    text-transform: none;
    width: auto;
    height: auto;
} 
body {
/*    overflow:hidden;*/
}
#travelstart-300px250px.wrapper {
    width: 298px;
    height: 280px;
    border: 1px solid #afadad;
    font-family: arial, san-serif;
}
#travelstart-300px250px form {
    padding: 0 8px;
    margin: 125px 0 40px;
}
#travelstart-300px250px .attached-inputs {
    clear: both;
    overflow: hidden;
}
#travelstart-300px250px .attached-inputs input, .attached-inputs select  {
    float: left;
    font-size:12px;
}
#travelstart-300px250px .attached-inputs input {
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
}
#travelstart-300px250px .attached-inputs select {
    border-left: none;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;

    
}
#travelstart-300px250px label {
    display: block;
    margin: 5px 0 3px;
    text-transform: uppercase;
    font-size: 12px;
    color: #EDEDED;
}
#travelstart-300px250px input {
    width: 105px;
    height: 20px;
    color: #636363;
    padding: 5px 10px;
    font-size:12px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    margin-right:0;
}
#travelstart-300px250px select {
    font-size:12px;
    display: block;
    color: #636363;
    height: auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    padding:5px;
    width:125px;
    height:30px;
    margin-right:0;
}
#travelstart-300px250px .input-small {
    display: inline;
    width: 14px;
    height: 20px;
    padding:5px 10px;
    font-size:12px;
    border-right: 1px solid #afadad;
    margin-right:0;
}
#travelstart-300px250px .select-medium {
    display: inline;
    width: 95px;
    padding:5px 5px;
    height:30px;
    font-size:12px;
    margin-right:0;
}
#travelstart-300px250px .select-full {
    width: 100%;
}
#travelstart-300px250px .button {
	margin:10px 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border: none;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	padding: 10px 12px;
	font-size: 14px;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #fff;
	background-color: #225378;
    display:block;
    width:100%;
    height:40px;
    text-transform:uppercase;
    margin-top:30px;
}
#travelstart-300px250px .button:hover {
    background: #316c99;
}
#travelstart-300px250px .row {
    clear: both;
    overflow: hidden;
}
#travelstart-300px250px .column {
    display: inline;
    float: left;
    margin-right: 10px;
    font-size: 14px;
    background-color: transparent;
}
.multi-search-link {
    display: block;
    margin: 25px 15px 15px;
    font-size: 12px; 
    color: #424242;
    text-align:center;
    font-weight:normal;
}

.travel_widget {display:block; position:relative!important; margin-bottom:20px;}
.travel_widget .widget_top {background:#8DC63F;padding:10px; border-left:1px solid #81B53A;border-top:1px solid #81B53A;border-left:1px solid #81B53A;}
.travel_widget .widget_top .row {margin: 0 !important;}
.travel_widget .widget_top h3 {color:#FFF; margin:0; font-size:20px; display:block;line-height:24px;}
.travel_widget .widget_top p {color:#FFF; margin:0; font-size:14px; display:block; line-height:18px;padding-bottom:10px;}

.travel_widget .widget_bottom {background:#FFFFFF; padding:10px; display:block !important; border-bottom:3px solid #81B53A !important;border-left:1px solid #E9E9E9 !important;border-right:1px solid #E9E9E9 !important;}
.travel_widget .widget_bottom img {display:inline-block !important; margin-right:10px !important;vertical-align:top;}
.travel_widget .widget_bottom .widget_text {display:inline-block !important; width:130px;vertical-align:top;}

.travel_widget .plane_graphic {width:122px !important; height:20px!important; position:absolute; top:15px; right:24px; display:block!important; background:url(/Images/widget_traveller24.jpg) no-repeat;}

.travel_widget .plane_graphic {width:122px !important; height:20px!important; position:absolute; top:15px; right:24px; display:block!important; background:url(/Images/widget_traveller24.jpg) no-repeat;}

.travel_widget > .footer {
    display: block;
    min-height: 104px;
    padding: 10px;
    border: 1px solid #EBEBEB !important;
    width: 100%;
    border-bottom: 3px solid #8DC63F !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.travel_widget .footer .image_container{
    float:left;
    margin-right:5px;
    width: 140px;
}

.travel_widget .footer .tite {
    color: #8DC63F;
    margin-bottom:5px;
    display:block;
    font-weight: bold;
    margin-top: 10px;
}

.travel_widget .footer .description{
    color:#1D1D1D;
}

.travel_widget .clear {
    float:none;
    display:block;
    clear:both;
}