﻿@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
.horoscope_widget{
			border:1px solid #E9E9E9;
			background:#FFF;
			width:300px;
			font-family: 'Roboto Condensed', sans-serif;
			padding:20px 10px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
	.horoscope_widget h3 {
		font-size:18px;
		font-weight:700;
		text-transform:uppercase;
		margin:0 10px 20px;
	}
	.horoscope_widget .horoscope_item {
		text-align:center;
		display:inline-block;
		vertical-align: top;
		margin:0 10px 20px;
		width:45px;
	}
	.horoscope_widget .horoscope_item a {
		text-decoration:none;
		color:#000;
	}
	.horoscope_widget .horoscope_item a:hover {
		text-decoration:underline;
	}
	.horoscope_widget .horoscope_item .horoscope_text {
		font-size:12px;
		display:block;
		margin-top:5px;
		text-align:center;
		font-weight:700;
	}