﻿
.nuggOpt.option {
    display: none; 
    margin-left: 10px !important;
    float:left;
}
.nuggOpt.option input[type=button] {
    background-color: rgb(50, 50, 50);
    padding: 6px 10px;
}
