.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text
{
    color: #848491;
    padding: 17px 10px 11px;
    clear: both;
}
.navbar-inverse .navbar-nav.navbar-right>li>a.no-link:hover
{
	color: #848491;
}

.navbar-inverse .navbar-toggle{
        border-color: #323248!important;
}
.lbl-lightbox, .lbl-cart
{
	display: none;
}
.navbar-inverse .navbar-nav.navbar-right a.btn:hover
{
	background-color: #268efc;
	color: #fff;
}
/* above css not required. merged in main.css */
.comp-loader
{
	/*background-color: transparent;*/
    min-height:60px;
    background-position-y:0px;

}
/* below css not required. merged in main.css */
.login-box{
    padding-top: 25px;
}
.login-box .login_arrow{right:92px;}
@media (min-width: 992px){
.navbar-right .dropdown-menu {
right: -85px;
}}

.nav>li>a.header-center-hide{display:none;}

@media (min-width: 1041px){
.home .nav>li>a.header-center-hide{display:block;}
}
@media (max-width:1024px){
	.navbar-collapse #welcome
	{
		display: none !important;
	}
.navbar-nav>li>a.header-center-hide{display:none;}
}
@media (min-width:1025px){
.phone-list a:link{padding:14px 10px;}
}
@media (max-width: 767px){
	 .navbar .phone-list, .navbar .icon-cart, .navbar .icon-lightbox, .navbar .chat-now, .navbar .icon-add-to-lightbox, .navbar .icon-download
	{
		display: none !important;
	}
	.lbl-lightbox,.lbl-cart
	{
		display: inline;
	}
	.lbl-cart
	{
		margin-left: -1px;
	}

	.language_tab
	{
		float: left;
	}
	#lblCntry,#cntryOpt1,.socialnet_holder,#footerdiv1 h6
	{
		text-align: left;
	}

	.navbar-collapse
	{
		max-height: none;
	}

	.navbar-nav.navbar-right {
		padding-left: 0px! important;
		width: 98%;
		margin: 0px;
		padding-bottom: 5px;
	}
}
/* move tagline to navy bar */
                @media (min-width: 992px){    
                    
                    .navbar-inverse .navbar-nav > li#my-alamy > a {
                        padding:17px 10px 11px;
                    }
                    .navbar-inverse .navbar-nav > li.chat-now > a {
                       padding:17px 10px 14px 5px;
			margin-top:1px;
                    }
		
                }
                @media (max-width: 991px){
                    .navbar-nav.tagline{
                        display: none;
                    }
                }
		.navbar-nav.tagline{
                        position: relative;
                        box-sizing: border-box;
                        line-height: 1em;
                        top:7px;
                        font-size: 12px;
                        float:left;
                        font-weight:bold;
			padding:14px 0px; 

                    }
                    .navbar-nav.tagline strong {
                        font-weight:bold;
                    }
                /* move tagline to navy bar */


                /*for comp SEO updates*/
                .share_link .dropdown-menu{
                    border:1px solid #EBEBED;
                    min-width:110px;
                    padding:4px;
                    left: -35px;
                }
                .share_link .dropdown-menu>li{
                    float:left;
                    width:100%;
                    margin:0px;
                    font-size:11px;
                    letter-spacing:1px;
                }
                .share_link .dropdown-menu>li>a{
                    color:#323248;
                    width:100%;
                    padding:7px 10px;
                    letter-spacing:1px;
                }
                .dropdown-menu>li>a:focus, .dropdown-menu>li>a{
                   text-align: left;
                    float: left;
                }
                .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
                    color:#FFF;
                }
                .share_link .btn-default{
                    min-width: 0px! important;
                }
                .comp-thumbbuttons{width:465px;}

                .share-btn{float: right;}
                .share-btn .btn-group{
                	 width: 70px;
                  background:url(/images/branding/comp/share-ico.png?v=1) 0px 1px no-repeat;

                 }
                 .share-btn .btn-group:hover, .share-btn .btn-group.open{
                  background-position: 0px -28px;	
                 }
                 .share-btn button{
                 	padding:3px 0px 0px 25px;
                 	color: #848491; 
                 }

                .share-btn button, .share-btn button:active, .share-btn button:focus, .share-btn button:hover, .share-btn .open .btn-default.dropdown-toggle{
                     	background-color:transparent;
                     	border-color: white;
                     	box-shadow:none;
                     }
                   .share-btn button:active, .share-btn button:focus, .share-btn button:hover, .share-btn .open .btn-default.dropdown-toggle{
                 	color: #1661A5;
                 }

                @media (max-width: 992px){
                    .comp-thumbbuttons{
                    	width:auto;
                    }
                    .comp-thumbbuttons .thumbbuttons {
                        clear: both! important;
                        padding: 10px 0px;
                        }
                     .share-btn{
                     	float: left;
                     }
                     
                    }
                /*end of for comp SEO updates*/

                /* img popup */
				.img-hold img{/*cursor:zoom-in*/;cursor:pointer}
				#pop-over-bg {
                    background:#000;
                    opacity:.5;
					filter: alpha(opacity=50);
                    z-index:999998;
                    position:fixed;
                    height:100%;
                    width:100%;
                    display:none
                }
                 #pop-over{
                   /*display:none;*/
                    position:fixed;
                    z-index:999999;
                    border: 1px solid #D6D6DA; 
					left:-99999px;
					/*max-width:90%;
					max-height:90%*/
                    
                }
		 #pop-over.comp-loader{background-position-y: 50%;}
				.pop-clip{
                  overflow: hidden;
                }
				.img-hold a{cursor:default}
				#pop-over img{
                  margin-bottom:0px;
				  cursor:pointer;
				  /* cursor:zoom-out;
				 width:100%;*/
                }
				.pop-close{
                    position:absolute;
                    right:-13px;
                    top:-11px;
                    color:#848491;
                    cursor:pointer;
                }
                .pop-close i{border-radius: 20px; padding:8px; font-size: 11px;}
                .pop-close i:hover{background-color: #323248;color: #FFF;}
                /* img popup end*/
 /*Search bar image type drop down*/
.search-bar .form-horizontal .input-group-addon {padding:0;width:auto;background: #fff;border: 0;position: absolute;text-align: right;top:5px;right:40px;font-size: 13px;font-weight: 400;line-height: 1;color: #555;}
.search-bar .form-horizontal .dropdown-trigger{padding: 9px 22px 9px 0;position: relative;display:block;background:#fff;cursor:pointer}
.search-bar .form-horizontal #select_searchoptions{border-left:1px solid #d6d6da;padding-left:8px}
.search-bar .form-horizontal .dropdown-trigger i {position: absolute;font-size: 4px;top: 14px;*top:18px;padding-left: 6px;}
.search-bar .form-horizontal.dropdown-wrapper {text-align: right;font-size:13px}
.search-bar .form-horizontal .dropdown-menu {list-style-type:none;display:none;padding:5px 0;position:absolute;min-width: 115px;background: #fff;border: 0;top: 22px;left: 3px;z-index: 1006;border-radius: 4px;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow: 0 6px 12px rgba(0,0,0,.175);background-clip: padding-box;margin-left:0}
.search-bar .form-horizontal .dropdown-menu li {list-style-type:none;cursor: pointer;text-align: left;line-height: 1;margin: 0;float:none;padding:0}
.search-bar .form-horizontal .dropdown-menu li:hover {color: #fff;background: #B3B5B9;}
.search-bar .form-horizontal .dropdown-menu li.brd-bt{border-bottom: 1px solid #ebebed;}
.search-bar .form-horizontal .dropdown-menu li label{padding: 6px 12px;display:block;margin:0}
.search-bar .form-horizontal .dropdown-menu li label.pl-20{padding-left:20px}
.search-bar .form-horizontal .dropdown-menu li label,#alamy-livesearch .dropdown-trigger{cursor: pointer;}
.search-bar .form-horizontal .dropdown-menu .hidden{display:none}
.search-bar .form-horizontal .dropdown-wrapper.on .dropdown-menu{display:block}
.search-bar .form-horizontal .arrow-down-search{background-image: url("/images/branding/arrow-down-search.png");width: 10px;height: 6px;right: 7px;position: absolute;top: 14px;*top: 16px}
.search-bar .form-horizontal .input-group-addon.r-2 {right:2px}
.search-bar .form-horizontal .dropdown-menu.mr-fix{margin-top:13px}
/*searchbox border & shadow*/
.search-bar .form-horizontal .input-group{width: 419px;height: 34px;margin-top: -6px;border-radius: 2px;padding:4px 5px 4px 0px;}
.search-bar .form-horizontal #search{border: 1px solid #d6d6da;border-right: 0px;margin: 0;box-shadow:none;-moz-box-shadow: none;-webkit-box-shadow:none;width:380px;padding-right:95px;*width:274px;appearance:none;-moz-appearance:none;-webkit-appearance:none;}
@media (max-width:420px){
    .search-bar .form-horizontal .input-group{width: 295px;}
	.search-bar .form-horizontal #search{width:100%}
}
/*fix for XP+ie8 comp searchbox issue*/
.search-bar .form-horizontal .btn-search{margin-top:0}


/* Nov 2015 */
.btn-download-red {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #d2453f;
    background-image: -moz-linear-gradient(top,#e85b54,#b22520);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#e85b54),to(#b22520));
    background-image: -webkit-linear-gradient(top,#e85b54,#b22520);
    background-image: -o-linear-gradient(top,#e85b54,#b22520);
    background-image: linear-gradient(to bottom,#e85b54,#b22520);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe85b54', endColorstr='#ffb22520', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    box-shadow: inset 0 1px 0 rgba(242,164,162,.6),0 1px 2px rgba(0,0,0,.05);
    border: 1px solid #b22520;
}

.btn-download-red:hover, .btn-download-red:focus{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-image: -moz-linear-gradient(top,#e35342,#e35342);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#e35342),to(#e35342));
    background-image: -webkit-linear-gradient(top,#e35342,#e35342);
    background-image: -o-linear-gradient(top,#e35342,#e35342);
    background-image: linear-gradient(to bottom,#e35342,#e35342);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe35342', endColorstr='#ffe35342', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #ac261a;
}
.btn-download-red:active{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #d92e1f;
    background-image: -moz-linear-gradient(top,#ce2c1e,#ea3220);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ce2c1e),to(#ea3220));
    background-image: -webkit-linear-gradient(top,#ce2c1e,#ea3220);
    background-image: -o-linear-gradient(top,#ce2c1e,#ea3220);
    background-image: linear-gradient(to bottom,#ce2c1e,#ea3220);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce2c1e', endColorstr='#ffea3220', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 2px rgba(0,0,0,.05);
    border: 1px solid #b22520;
}
.btn-download-red.disabled,.btn-download-red[disabled]{opacity:.5}
#collapsepanel, #collapsepanel2 {
    display: block;
    background: none repeat scroll 0 0 #EBEBEB;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    width:100%;
    color: #323248;
    margin-bottom:0px;
}
.btn.disabled, .btn.disabled:hover, .btn.disabled:visited, .btn.disabled:focus {
    color: #D6D6DA;
    border:none;
}
.btn-cyan.disabled{
    color: #FFF;
    background-color: #92c6fd;
}
.truncate {
    display: inline-block;
    bottom: 0px;
    height: 20px;
    position: absolute;
    top: 0;
	left:125px;
	width:73%;
}
.copy-truncate{max-width:97%;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.copyright-popover{
    border: 1px solid #d6d6da;
    position: absolute;
    z-index: 9;
    background: #fff;
    border-radius: 5px;
    padding: 7px;
    left: 9px;
    top: 20px;
    display: none;
    box-sizing: border-box;
    left: -116px;
	word-wrap: break-word;
    white-space: normal;
	box-shadow: 5px 5px 6px #848491;
}
.truncate.active:hover .copyright-popover{display:block}
@media (max-width: 991px){
	.truncate{width:60%}
}
@media screen and (max-width: 768px){
	.truncate{width:54%}
.nav>li a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a{width:100%;}
ul.dropdown-menu .nav>li a:link{min-height:30px; padding:5px 12px;}
}
@media screen and (max-width: 767px){
	.truncate{width:70%}
}
@media screen and (max-width: 480px){
	.truncate{width:57%}
}
a#btnAddtoCart_disabled:hover{color: #d6d6da;}
/* Nov 2015 END */

.partition-margin{
    width: 1px;
    height: 15px;
    background-color: #848491;
    top: 18px;
    position: relative;
    float: left;
    margin: 0px 5px;

}

@media screen and (max-width: 767px){
    .partition-margin{
        display: none;
    }

#my-alamy .dropdown-menu {
    width: 100%;
    float: left;
    top: -4px;
    position: relative;
    padding: 5px 0px;
}
}




.mr-3{
    margin-right: 3px; 
}

.form-horizontal .form-group{
    margin-left: 0px;margin-right: 0px;
}
.login-wrapper .form-horizontal .form-group{
    margin-left: -10px;
	margin-right: -10px;
}

#my-alamy .dropdown-menu {
    min-width:144px;
}

.navbar-right ul.sign-up {
    right: 0px;
    border:none; 
}

.navbar-nav>li>.dropdown-menu{
border-bottom:1px solid #d6d6da;
border-left:1px solid #d6d6da;
border-right:1px solid #d6d6da;
   -webkit-box-shadow:0px 5px 5px  rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 5px 0px 0px;
}
.navbar-nav>li#log-in>.dropdown-menu{
	-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
    	box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
	border:none; 
} 

.navbar-nav>li>.dropdown-menu#my-alamy, .navbar-right ul.sign-up{
border:none;
 padding: 5px 0px;
  -webkit-box-shadow:0px 5px 5px  rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}


	#my-alamy .dropdown-menu li, .dropdown-menu li.about-link, ul.sign-up li {
			float: left;
			width:100%;
			padding-right:26px !important; 
	}
	#my-alamy ul.dropdown-menu { 
		padding-bottom: 7px;
		border: none;
	}


/*Header Issue fix*/
.dropdown-menu li {
    margin-right: 0px;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.navbar-right ul.sign-up{margin-top:-1px;}
}

#signedmenu .dropdown .cart.pl-5{padding-left:5px !important;}
strong#lblTelHeadr,span#lblTelHeadr{white-space:nowrap;}
@media (max-width: 767px){
	.nav>li>a {
		padding: 5px 12px !important;
	}
	#signedmenu .dropdown .cart.pl-5{padding-left:10px !important;}
	.cartItems.pull-left{float:none !important;}
}
@media (max-width: 1100px){
	.country-code-tel.active .tagline,.country-code-tel.active .head-caption{
      display: none!important;
    }
}
@media (max-width: 1200px){
	.country-code-tel.active .header-center-hide {
		display: none !important;
	}
}
