i.icon-logo.logo {
    float: left;
    margin: 8px 15px 0 20px;
    font-size: 32px;
    color: #fff;
    display: block;
}
.logo {
    margin: 0 3px 0 12px;
}
.bg-image {
    background-repeat: no-repeat;
    max-height: 468px;
    height: 468px;
    overflow: hidden;
    padding: 0;
    background-size: cover;
    position: absolute;
    width: 100%;
    background-position-y: -2px
}
.banner-rotate {
    max-height: 468px;
    height: 468px;
}
.navbar-nav>li>a {
    padding-top: 12px;
    padding-bottom: 12px
}
.navbar-collapse {
    max-height: 100%
}
.container-fluid-home {
    padding: 0 10px;
    width: 100%
}
.container {
    margin: 0 auto !important
}
.collapse .logo {
    display: block
}
.hd-arrow {
    bottom: -11px;
    position: absolute;
    left: 41%;
    font-size: 21px;
    font-weight: bold;
    padding: 0 65px;
    background: #fff;
}
h1,
h2,
h3 {
    margin: 0
}
.thumb-r [class*="col-"] {
    overflow: hidden;
}
.pdl-0 {
    padding-left: 0 !important
}
.img-cap .cap-bg-img {
    background-size: cover;
    max-height: 472px;
    height: 472px
}
.img-cap img {
    max-width: 100%;
    display: none
}
.img-cap .row {
    position: absolute;
    bottom: -1px;
    left: 0px;
    height: auto;
    background: #323248;
    background-color: rgba(50, 50, 72, 0.7);
    filter: alpha(opacity=70)
}
.bt-block {
    background: #efefef;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    min-height: 545px
}
.bt-block.yellow {
    background: #fbcd2f;
    margin-right: 0
}
.bt-block img {
    max-height: 301px;
    max-width: 310px;
}
.txt-block {
    min-height: 245px;
    position: relative
}
.cat-sec a:hover {
    color: #0091ff
}
.cat-sec a.lnk-cyan:hover {
    color: #1661a5
}
.ft-22 {
    font-size: 22px
}
.pos-img {
    position: absolute;
    bottom: 4%;
    right: 9%;
}
.fs-14 {
    font-size: 14px
}
.white {
    color: #fff
}
.bdr-b-1-grey {
    border-bottom: 1px solid #ebebed;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-text {
    color: #848491
}
.navbar-inverse .navbar-nav > li > a.btn:hover,
.navbar-inverse .navbar-nav > li > a.btn:focus {
    background: #268efc;
    color: #fff;
}
.navbar-inverse .navbar-toggle {
    border-color: #323248;
    outline: none
}
.active-op {
    background: #ebebed;
    cursor: pointer;
    color: #323248 !important
}
a.no-link {
    cursor: default;
}
a.no-link:hover {
    text-decoration: none !important;
}
footer a.no-link:hover {
    color: #848491;
    cursor: default
}
nav a.no-link:hover {
    color: #848491 !important
}
.mn-ht-410 {
    height: 442px;
    overflow: hidden
}
.lnk-more {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #323248;
    padding: 15px 15px 15px;
    font-size: 12px;
}
.opaq-w {
    width: 50%;
    opacity: .9;
    filter: alpha(opacity=90);
    right: 0px
}
.cnt-holder {
    color: #858492;
    height: 296px;
    background: #323248
}
.slider_btn_row {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.slider_btn_row .previousv2,
.slider_btn_row .previous,
.slider_btn_row .previous_disabled {
    display: block;
    width: 24px;
    height: 24px;
    float: left;
    background: transparent url(/images/branding/homepage-sprites/hm-sprite.png) no-repeat -7px -133px;
    margin-right: 11px;
}
.slider_btn_row .previous_disabled {
    background: transparent url(/images/branding/homepage-sprites/hm-sprite.png) no-repeat -80px -133px;
    cursor: default;
}
.slider_btn_row .nextv2,
.slider_btn_row .next,
.slider_btn_row .next_disabled {
    display: block;
    width: 24px;
    height: 24px;
    float: left;
    background: transparent url(/images/branding/homepage-sprites/hm-sprite.png) no-repeat -7px -85px;
    margin-right: 11px;
}
.slider_btn_row .next_disabled {
    background: transparent url(/images/branding/homepage-sprites/hm-sprite.png) no-repeat -80px -85px;
    cursor: default;
}
.bg-banner-help {
    display: block;
    width: 24px;
    height: 24px;
    background: transparent url(/images/branding/homepage-sprites/hm-sprite.png) no-repeat -7px -171px;
    cursor: pointer;
    float: left
}
.bg-banner-help-content {
    background: url(/IMAGES/branding/homepage-sprites/bg_slider_trans_bg.png) repeat top left transparent;
    color: #393839;
    font-size: 11px;
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 330px;
    bottom: 33px;
    right: 3px;
    display: none;
    background: rgba(255, 255, 255, 0.74);
}
.bg-banner-help-content em {
    position: absolute;
    right: 8px;
    bottom: -6px;
    width: 10px;
    height: 7px;
    background: transparent url(/images/branding/homepage-sprites/hm-sprite.png) -9px -205px no-repeat;
}
footer .h4-size,
footer a {
    color: #848491
}
footer ul span {
    display: block;
    margin-bottom: 8px;
    font-size: 16px
}
footer a,
footer .copy {
    font-size: 11px;
    color: #848491
}
.ft-bullet li {
    color: #fff;
}
.ft-bullet ul {
    list-style-type: disc;
    font-size: 11px;
    line-height: 1.8;
    margin-left: 13px;
}
.ft-bullet label {
    font-size: 11px;
}
#signup input {
    background: #515062;
    border: 0;
    font-size: 15px;
    padding: 7px 9px 10px;
    margin: 0;
    color: #858492
}
#signup input[type="submit"] {
    margin: 7px 0 5px;
    padding: 7px 15px;
    font-size: 13px;
    color: #fff;
}
.ft-bullet input[type=checkbox] {
    margin-top: -3px
}
.has-error #txtemailid {
    border: 1px solid #f00000;
    outline: none
}
#txtemailid {
    outline: none
}
.lbl-lightbox,
.lbl-cart {
    display: none
}
#signup #btnRegisterEmail {
    background: #268efc
}
#signup #btnRegisterEmail:hover {
    background: #1661a5
}
#signedmenu li:last-child {
    margin-right: 5px
}
#welcome {
    display: none !important
}
#my-alamy:hover a:first-child {
    color: #fff
}
.mt-35 {
    margin-top: 35px
}
.mt-57 {
    margin-top: 57px
}
.mt-27 {
    margin-top: 27px
}
.mt-32 {
    margin-top: 32px
}
.mt-40 {
    margin-top: 40px
}
.mt-45 {
    margin-top: 45px
}
.pt-25 {
    padding-top: 25px
}
.pt-21 {
    padding-top: 21px
}
.pt-27 {
    padding-top: 27px
}
.pt-31 {
    padding-top: 31px
}
.pl-5 {
    padding-left: 5px!important;
}
.pl-24 {
    padding-left: 24px
}
.pl-29 {
    padding-left: 29px
}
.lh-12 {
    line-height: 1.2
}
.lh-20 {
    line-height: 2
}
.prl-15 {
    padding-left: 15px;
    padding-right: 15px
}
.prl-25 {
    padding-left: 25px;
    padding-right: 25px
}
.pb-30{padding-bottom: 30px}
.pb-35 {
    padding-bottom: 35px
}
.pb-44 {
    padding-bottom: 44px
}
.mht-0 {
    min-height: 0 !important
}
.mb-50 {
    margin-bottom: 50px
}
.mr-0 {
    margin-right: 0px
}
.mr-13 {
    margin-right: 13px;
}
.ml-n20 {
    margin-left: -20px
}
.bt-2-per {
    bottom: 2%
}
.lft-25 {
    left: 25px
}
.block {
    display: block
}
/*Search section */

.form-search .form-control {
    border: 0;
    box-shadow: none
}
.form-search {
    width: 631px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin: -55px 0 0 -315px;
    border-radius: 3px;
}
.form-search .input-group {
    border: 4px solid rgba(19, 18, 18, 0.41)
}
.form-search .input-group .form-control {
    display: table-cell;
}
#alamy-search-geoip {
    position: absolute;
    bottom: -23px;
    left: 4px;
    font-size: 11px
}
#search_label {
    position: absolute;
    top: 14px;
    left: 18px;
    font: 18px/26px Arial;
    color: #B3B5B9;
}
.hidden {
    display: none
}
.input-group-addon {
    background: #fff;
    border: 0;
    position: absolute;
    text-align: right;
    padding: 20px 5px 19px 0
}
.form-search .dropdown-menu {
    min-width: 115px;
    background: #fff;
    border: 0;
    top: 41px;
    left: 0px
}
.form-search .dropdown-wrapper {
    text-align: right;
    position: absolute;
    right: 15px;
    border-left: 1px solid #d6d6da;
    top: 17px;
    padding: 3px 0
}
.form-search .dropdown-menu li {
    cursor: pointer;
    text-align: left;
    line-height: 1.2;
    margin: 0
}
.form-search .dropdown-menu li a {
    color: #268ffc;
    text-decoration: underline;
}
.form-search .dropdown-menu li.no-bg {
    padding: 14px 27px 5px 10px;
    cursor: default;
}
.form-search .dropdown-menu li a:hover,
.form-search .dropdown-menu li.no-bg:hover {
    background: none;
    color: #268ffc
}
.form-search .dropdown-menu li.brd-bt {
    border-bottom: 1px solid #ebebed;
}
.form-search .dropdown-menu li:hover {
    color: #fff;
    background: #B3B5B9
}
.form-search .dropdown-menu li label {
    padding: 6px 12px;
    display: block
}
.form-search .dropdown-menu li label.pl-20 {
    padding-left: 20px
}
.form-search .dropdown-menu label {
    cursor: pointer;
    margin: 0
}
#search-text {
    height: 42px;
    line-height: 26px;
    padding: 10px 0 12px 8px;
    font-size: 18px;
    border: 0;
    outline: 0;
    min-width: 430px
}
.btn-search.homepage {
    height: 55px;
    width: 60px;
    margin-top: 0px
}
.icon-search.homepage {
    font-size: 25px;
    position: absolute;
    left: 19px;
    top: 15px;
}
.form-search .dropdown-trigger {
    cursor: pointer;
    padding: 0 13px;
    background: #fff;
}
.form-search .dropdown-trigger i {
    position: absolute;
    font-size: 4px;
    top: 8px;
    right: 0px;
}
.auto-search-wrapper {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 10;
    max-height: 350px;
    display: none;
}
.auto-search-results {
    padding: 0 4px;
}
.auto-search-results ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    background: #f7f7f7;
    border-top: 1px solid #d6d6da
}
.auto-search-results li {
    padding: 5px 21px;
    color: #848491
}
.bt-col-sec {
    margin-right: -26px
}
a.cyan.h4-size:hover,
.cat-sec a.lnk-cyan,
.bt-col-sec a {
    text-decoration: none
}
.cat-sec a.lnk-cyan .lnk:hover,
.bt-col-sec .lnk:hover {
    text-decoration: underline
}
.cnt-holder.pt-31 {
    padding-top: 24px
}
.ovrerflow-hidden{overflow:hidden;}
.row-bg{position:absolute;width:99999px!important;left:-9999px;height:100%;background:#d6d6da;z-index:-1}
.thumb-r h4 a:focus{text-decoration:none;color:#268efc}
@media (max-width: 991px) {
	.thumb-r h4 {
        font-size: 14px;
    }
	.de-spec.thumb-r h4{
		font-size: 13px;
	}
}
@media (max-width: 1000px) {
    .bt-col-sec {
        display: none
    }
    .cat-sec.mb-20 {
        margin-bottom: -8px;
    }
    #footer_Small {
        bottom: 7px
    }
    .navbar-right li:last-child a {
        margin-right: 7px
    }
    i.icon-logo.logo {
        margin: 8px 10px 0 18px
    }
    .thumb-r .mn-ht-410 {
        height: 420px
    }
    .cnt-holder p,
    .cnt-holder a {
        font-size: 17px
    }
}
@media (max-width: 768px) {
    .form-search .dropdown-wrapper {
        width: 95px
    }
    body {
        font-size: 12px !important
    }
    .logo {
        margin: 0 0 0 6px;
    }
    .bg-image,
    .banner-rotate {
        height: 280px
    }
    .thumb-r img {
        max-width: 100%
    }
    .txt-block {
        padding-right: 10px;
        max-width: 45%;
        min-height: 218px
    }
    footer a,
    footer .copy {
        font-size: 12px
    }
    .cnt-holder h3 {
        margin: .2em 0
    }
    .cnt-holder {
        padding-left: 0;
        background: #323248
    }
    .pdl-0 {
        padding: 0 10px !important
    }
    .ft-bullet.pl-10 {
        padding-left: 0
    }
    .navbar-nav > li > a.cart {
        margin-right: 0
    }
    .pl-24 {
        padding-left: 0
    }
    .bt-block {
        min-height: 0;
        margin-bottom: 20px;
        margin-right: 0
    }
    .bt-block img {
        max-height: 217px
    }
    .hd-arrow {
        left: 40%;
        font-size: 17px;
        padding: 0 35px;
    }
    .mx-wd-100 {
        max-width: 100%
    }
    .form-search {
        width: 450px;
        margin: -55px 0 0 -225px;
    }
    #search-text {
        font-size: 14px;
        min-width: 270px;
    }
    .auto-search-results ul {
        font-size: 14px
    }
    .auto-search-results li {
        padding-left: 8px
    }
    .bt-search-trans {
        font-size: 50px
    }
    .form-control {
        padding: 0
    }
    .home h1 {
        font-size: 18px;
        margin-top: 30px
    }
    .home h2 {
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 30px
    }
    .home h3 {
        font-size: 14px
    }
    .home .cnt-holder {
        padding: 15px
    }
    .home .thumb-r {
        margin-top: 15px;
        margin-bottom: 0
    }
    .thumb-r h4 {
        font-size: 13px
    }
	.de-spec.thumb-r h4 {
        font-size: 12px;
    }
    .thumb-r .mn-ht-410 {
        height: 230px;
        padding-right: 0
    }
    .home .cat-sec {
        margin-top: 0;
        font-size: 12px
    }
    .home .cat-sec li {
        font-size: 12px;
        line-height: 2
    }
    .home .cat-sec h3 {
        margin-bottom: 10px
    }
    .home .fs-14 {
        font-size: 12px
    }
    a.h20 {
        font-size: 14px
    }
    .home .cnt-holder p {
        font-size: 12px
    }
    .form-search .dropdown-menu,
    .form-search .dropdown-trigger {
        font-size: 12px
    }
    .home .mn-ht-140 {
        min-height: 140px;
        height: auto;
    }
    .lnk-more {
        padding: 8px
    }
    .cnt-holder.hidden-xs {
        padding-right: 0px !important;
        height: 153px;
    }
    .hd-arrow {
        display: none
    }
    .col-xs-6 .pli-4.pli-6,
    .plix-4 {
        padding-left: 4px !important
    }
    .h4-size.cyan {
        font-size: 12px
    }
}
@media (max-width: 767px) {
    i.icon-logo.logo {
        margin: 4px 12px 0 9px;
        font-size: 28px;
    }
    .phone-list,
    .icon-cart,
    .icon-lightbox,
    .chat-now {
        display: none !important
    }
    .lbl-lightbox,
    .lbl-cart {
        display: inline
    }
    .lbl-cart {
        margin-left: -1px
    }
    .navbar-right {
        margin-top: 0px;
    }
    .phone-list {
        display: none !important
    }
    .navbar-nav>li>a {
        padding: 5px 15px
    }
    .navbar-collapse {
        max-height: none;
        overflow: hidden
    }
    .nav>li>a {
        padding: 5px 18px !important;
    }
}
@media (min-width: 768px) {
    .pli-4 {
        padding-left: 4px !important
    }
    .pli-6 {
        padding-left: 6px !important
    }
}
@media (max-width: 320px) {
    .bg-image,
    .banner-rotate {
        height: 190px
    }
    .pos-b {
        max-height: none;
        width: 100%
    }
    .txt-block {
        max-width: 100%;
        width: 100%
    }
    .hd-arrow {
        left: 31%
    }
    .input-group-addon {
        font-size: 12px;
        padding: 6px;
    }
    .txt-block {
        min-height: 190px
    }
    .txt-block p {
        margin-top: 10px
    }
    .txt-block .bt-2-per {
        bottom: 5%
    }
    .cat-sec {
        margin-bottom: 0
    }
    .thumb-r .pdl-0 {
        padding: 0 10px !important
    }
    .form-search {
        z-index: 10
    }
    .none {
        display: none
    }
    .form-search .dropdown-wrapper {
        top: 22px
    }
}
@media (max-width: 470px) {
    .form-search {
        width: 310px;
        margin: -40px 0 0 -155px;
    }
    #search-text {
        min-width: 150px!important;
        max-width: 150px;
        height: 50px
    }
    .bg-banner-help-content {
        bottom: -11px;
        width: 262px;
        right: 24px;
        padding: 5px
    }
    .bg-banner-help-content em {
        display: none
    }
}
@media (max-width: 480px) {
    .p-s-5 {
        padding: 5px
    }
    #cntryOpt {
        padding-left: 0;
        margin: 2px 0 10px 0;
    }
    .thumb-r.sec [class*="col-"] {
        width: 50%
    }
}
@media (max-width: 640px) {
    .alt-social {
        left: 0px;
        bottom: -100px;
        background: #323248;
        padding-left: 10px;
        width: 100%
    }
    .thumb-r .mn-ht-410 {
        height: 220px
    }
    #search-text {
        min-width: 270px;
        height: 50px
    }
    .thumb-r h4 {
        font-size: 12px;
    }
    h2.bdr-b-1-grey {
        border: 0;
        padding-bottom: 0px
    }
}
@media (min-width: 1024px) {
    .brdl {
        border-left: 1px solid #858492
    }
    .mr-0 {
        margin-right: 0
    }
    .pos-b {
        position: absolute;
        bottom: 0;
        left: 0
    }
}
.navbar-nav.tagline {
    line-height: 15px
}
.popupBox-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 998;
    background: none repeat scroll 0 0 #000;
    opacity: 0.8;
    display: none
}
#popupBox {
    width: 650px;
    position: absolute;
    left: 50%;
    margin-left: -325px;
    top: 100px;
    background: #fff;
    z-index: 999;
    display: none
}
#customPanel .custom_content {
    overflow: auto;
    padding: 20px;
}
#customPanel h3 {
    margin: 0 0 1em;
}
#customPanel p {
    clear: both;
    margin: 1em 0 0.4em;
}
#customPanel table {
    margin: 0 0 0 -10px;
    width: 60%;
}
#customPanel .left_survey {
    float: left;
    margin: 0 0 10px;
    padding: 0 8px 0 0;
}
#customPanel .websury_txtarea {
    height: 186px;
    width: 400px;
}
#customPanel .dialogbtn_container {
    background-color: #efefef;
    clear: both;
    overflow: auto;
    padding: 1px 0 0;
}
.dialogbtn_container a {
    background-color: #008cff;
    border: medium none;
    color: #fff;
    float: right;
    font-size: 14px;
    margin: 0;
    padding: 14px 20px;
}
.dialogbtn_container a.action_btn {
    background-color: #008cff;
    color: #fff;
}
.dialogbtn_container a.dialogcancel {
    background-color: #cfd3d5;
    color: #323248;
}
.dialogbtn_container a.dialogcancel:hover {
    background-color: #f9f9f9;
    text-decoration: none;
}
.dialogbtn_container a.action_btn:hover {
    background-color: #0060a7;
}
#lblErrormsg.green {
    color: #268efc!important
}
@media (min-width: 480px) and (max-width: 768px) {
    .thumb-r .mn-ht-410 {
        height: auto;
        min-height: 225px;
        max-height: 320px
    }
    .thumb-r h4 {
        height: 35px;
    }
}
@media (max-width: 700px) {
    .thumb-r .mn-ht-410 {
        height: auto;
        min-height: 220px;
        max-height: 290px;
    }
}
@media (max-width: 480px) {
    .thumb-r .mn-ht-410 {
        height: auto;
        min-height: 280px;
        max-height: 360px;
    }
}
