@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cuoil6');
  src:  url('fonts/icomoon.eot?cuoil6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cuoil6') format('truetype'),
    url('fonts/icomoon.woff?cuoil6') format('woff'),
    url('fonts/icomoon.svg?cuoil6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal!important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e91a";
}
.icon-deletebin:before {
  content: "\e932";
}
.icon-zoom:before {
  content: "\e93d";
}
.icon-tips:before {
  content: "\e93c";
}
.icon-preview-text-de:before {
  content: "\e93b";
}

.icon-preview-text:before {
  content: "\e93a";
}
.icon-jpegs-super:before {
  content: "\e934";
}
.icon-in-qc:before {
  content: "\e933";
}
.icon-blog:before {
  content: "\e938"!important;
}
.icon-minus-icon:before {
  content: "\e936";
}
.icon-plus-icon:before {
  content: "\e939";
}
.icon-external-link:before {
  content: "\e937";
}
.icon-star-bdr:before {
  content: "\e935";
}
.icon-add:before {
    content: "\e912";
}
.icon-best-discoverable:before {
    content: "\e913";
}
.icon-brick-large:before {
    content: "\e914";
}
.icon-brick-small:before {
    content: "\e915";
}
.icon-burger:before {
    content: "\e916";
}
.icon-check-mark:before {
    content: "\e917";
}
.icon-collapsed-arrow:before {
    content: "\e918";
}
.icon-contact-details:before {
    content: "\e919";
}
.icon-expanded-arrow:before {
    content: "\e91b";
}
.icon-iptc:before {
    content: "\e91c";
}
.icon-left-collapsed-arrow:before {
    content: "\e91d";
}
.icon-left-expanded-arrow:before {
    content: "\e91e";
}
.icon-news-help:before {
    content: "\e91f";
}
.icon-news-noAltering:before {
    content: "\e920";
}
.icon-news-uploadQuickly:before {
    content: "\e921";
}
.icon-next-image:before {
    content: "\e922";
}
.icon-placeholder-super:before {
    content: "\e923";
}
.icon-prev-image:before {
    content: "\e924";
}
.icon-progress-hoop:before {
    content: "\e925";
}
.icon-release:before {
    content: "\e926";
}
.icon-remove:before {
    content: "\e927";
}
.icon-sell-super:before {
    content: "\e928";
}
.icon-sort-arrow-down:before {
    content: "\e929";
}
.icon-sort-arrow-up:before {
    content: "\e92a";
}
.icon-tag-star:before {
    content: "\e92b";
}
.icon-tooltip:before {
    content: "\e92c";
}
.icon-upload-cxp:before {
    content: "\e92d";
}
.icon-user:before {
    content: "\e92e";
}
.icon-view-CR:before {
    content: "\e92f";
}
.icon-view-LCR:before {
    content: "\e930";
}
.icon-worst-discoverable:before {
    content: "\e931";
}
.icon-saveselectedforlater:before {
    content: "\e910";
}
.icon-moveselectedtocart:before {
    content: "\e911";
}
.icon-preview:before {
    content: "\e90f";
}
.icon-price-override:before {
    content: "\e90e";
}
.icon-remove-saved:before {
    content: "\e903";
}
.icon-add-licence:before {
    content: "\e90d";
}
.icon-apply-usage:before {
    content: "\e904";
}
.icon-rules:before {
    content: "\e905";
}
.icon-save-later:before {
    content: "\e906";
}
.icon-warning:before {
    content: "\e907";
}
.icon-price-euro:before {
    content: "\e908";
}
.icon-price-dollar:before {
    content: "\e909";
}
.icon-price-pound:before {
    content: "\e90a";
}
.icon-folder-plus:before {
    content: "\e90b";
}
.icon-remove-cart:before {
    content: "\e90c";
}
.icon-upload:before {
    content: "\e902";
}
.icon-our-buyer:before {
    content: "\e901";
}
.icon-download3:before {
	content: "\e900";
}
.icon-instagram:before {
	content: "\e656";
}
.icon-calculator:before {
	content: "\e61e";
}
.icon-more-images:before {
	content: "\e63f";
}
.icon-grid-view:before {
	content: "\e655";
}
.icon-next-page:before {
	content: "\e638";
    font-size: 130px;
    position: absolute;
    
}
.icon-restricted:after {
	content: "\e653";
}
.icon-restricted:before,.icon-restricted span:before {
	content: "\e654";
}

.icon-search_tools_disabled:before {
	content: "\e651";
}
.icon-search_tools_enabled:before,.search-tools.active i:before {
	content: "\e652";
}
.icon-arrow-bdr-down:before {
	content: "\e600";
}
.icon-arrow-bdr-up:before {
	content: "\e601";
}
.icon-arrow-down:before {
	content: "\e602";
}
.icon-arrow-pointed:before {
	content: "\e603";
}
.icon-camera:before {
	content: "\e604";
}
.icon-cart:before {
	content: "\e605";
}
.icon-chat:before {
	content: "\e606";
}
.icon-chat-with-a:before {
	content: "\e607";
}
.icon-close:before,.yui-skin-sam  .container-close:before {
	content: "\e608";
}
.icon-dots:before {
	content: "\e609";
}
.icon-download:before {
	content: "\e60a";
}
.icon-fb-bg:before {
	content: "\e60b";
}
.icon-fb-f:before {
	content: "\e60c";
}
.icon-add-to-lightbox:before {
	content: "\e60d";
}
.icon-linkedin-bg:before {
	content: "\e60e";
}
.icon-linkedin-in:before {
	content: "\e60f";
}
.icon-lock:before {
	content: "\e610";
}
.icon-logo:before {
	content: "\e611";
}
.icon-pictures:before {
	content: "\e612";
}
.icon-pinterest-bg:before {
	content: "\e613";
}
.icon-pinterest-p:before {
	content: "\e614";
}
.icon-post-it-fold:before {
	content: "\e615";
}
.icon-post-it-fold-flip:before {
	content: "\e616";
}
.icon-print:before {
	content: "\e617";
}
.icon-search:before{
	content: "\e618";
}
.icon-star:before {
	content: "\e619";
}
.icon-tick:before,.search_table .accept:before ,.qf_checked_label.icon-checkbox-unchecked:after{
	content: "\e61a"!important;
    color: #268efc;
	font-size:13px;
}
.icon-twitter:before {
	content: "\e61b";
}
.icon-copy:before {
	content: "\e61c";
}
.icon-lightbox:before {
	content: "\e61d";
}
.icon-agency:before {
	content: "\e61f";
}
.icon-thick-down-arrow:before {
	content: "\e620";
}
.icon-search-transparent:before {
	content: "\e621";
}
.icon-phone:before {
	content: "\e622";
}
.icon-tool-tip-questionmark:before {
	content: "\e623";
}
.icon-google-plus-bg:before {
	content: "\e624";
}
.icon-google-plus-g:before {
	content: "\e625";
}
.icon-blog:before {
	content: "\e626";
}
.icon-blog-bubble:before {
	content: "\e627";
}
.icon-circle-grey:before {
	content: "\e628";
}
/*.icon-restricted:before {
	content: "\e64f";
	position: absolute;
    z-index: 1;
    right: 9px;
}*/
.icon-agencies:before {
	content: "\e629";
}
.icon-arrow:before {
	content: "\e62a";
}
.icon-brick-view:before {
	content: "\e62b";
}
.icon-calculator2:before {
	content: "\e62c";
}

.icon-checkbox-indeterminate:before {
	content: "\e62e";
}
.icon-checkbox-unchecked:before {
	content: "\e62f";
}
.icon-checkbox-checked:before,.qf_checked_label.icon-checkbox-unchecked:before{
	content: "\e62d";
}
.icon-expand-settings:before {
	content: "\e631";
}
.icon-collapse-settings:before,.search-settings.active .icon-expand-settings:before {
	content: "\e637";
	color:#268efc
}
.icon-delete:before {
	content: "\e632";
}
.icon-download2:before {
	content: "\e633";
}
.icon-edit:before {
	content: "\e634";
}
.icon-email:before {
	content: "\e635";
}

.icon-images:before {
	content: "\e639";
}
.icon-lightbox-added:before,.icon-lightbox-n.added:before {
	content: "\e63a";
}
.icon-lightbox-n:before {
	content: "\e63b";
}
.icon-list-view:before {
	content: "\e63c";
}
.icon-manage:before {
	content: "\e63d";
}
.icon-mobile-photographers:before {
	content: "\e63e";
}
.icon-move-down:before {
	content: "\e640";
}
.icon-move-left:before {
	content: "\e641";
}
.icon-move-right:before {
	content: "\e642";
}
.icon-move-up:before {
	content: "\e643";
}
.icon-orientation:before {
	content: "\e644";
}
.icon-page-left:before {
	content: "\e645";
}
.icon-page-right:before {
	content: "\e646";
}
.icon-pages:before {
	content: "\e647";
	position: absolute;
    font-size: 17px;
    margin: -4px 20px 0 -3px;
	line-height:16px;
}
.icon-pages-wide:before {
	content: "\e648";
    position: absolute;
    font-size: 21px;
    margin: -6px 0 0 -2px;
	line-height:20px;
}
.icon-phone-n:before {
	content: "\e649";
}
.icon-photographers:before {
	content: "\e64a";
}
.icon-print2:before {
	content: "\e64b";
}
.icon-search2:before {
	content: "\e64c";
}
.icon-shopping-trolley:before {
	content: "\e64d";
}
.icon-shopping-trolley-added:before ,.icon-shopping-trolley.added:before{
	content: "\e64e";
}
.icon-expand:before {
	content: "\e630";
}
.icon-collapse:before {
	content: "\e636";
}

.mr-10 {margin-right: 10px;}
.icon-tool-tip-questionmark:before {margin-right: -1em;content: "\e623";color: #848491;}
.icon-tool-tip-questionmark:after {margin-left: 0em;content: "\e623";color: #848491;}
.icon-tool-tip-questionmark:hover:before {margin-right: -1em;content: "\e628";color: #d6d6da;}
.icon-tool-tip-questionmark:hover:after {margin-left: 0em;content: "\e623";color: #323248;}
.panel-heading .accordion-toggle:after {font-family: 'icomoon';content: "\e601";font-size: 5px;font-weight: 700;color: #848491;}
.panel-heading .accordion-toggle.collapsed:after {content: "\e600";font-size: 5px;font-weight: 700;color: #848491;}
.icon-instagram:hover:before{color:#268efc}
.icon-fb:before {margin-right: -1em;content: "\e60b";}
.icon-fb:after {margin-left: 0em;content: "\e60b";}
.icon-fb:hover:before {margin-right: -1em;content: "\e60b";color: #37538d;}
.icon-fb:hover:after {margin-left: 0em;content: "\e60c";color: #ffffff;}
.icon-fb-darkgrey:before {margin-right: -9px;content: "\e60b";background: none;}
.icon-fb-darkgrey:after {margin-left: -18px;content: "\e60c";color: #848491;background: none;}
.icon-fb-darkgrey:hover:before {margin-right: -1em;content: "\e60b";color: #37538d;background: none;}
.icon-fb-darkgrey:hover:after {margin-left: -9px;content: "\e60c";color: white;background: none;}
.icon-fb-lightcyan:before {margin-right: -1em;content: "\e60b";background: none;color: #cce6ff;opacity: 0.4;}
.icon-fb-lightcyan:after {margin-left: 0em;content: "\e60c";color: #268efc;background: none;opacity: 0.4;}
.icon-fb-lightcyan:hover:before {margin-right: -1em;content: "\e60b";color: #37538d;background: none;opacity: 1;}
.icon-fb-lightcyan:hover:after {margin-left: 0em;content: "\e60c";color: white;background: none;opacity: 1;}
.icon-linkedin:before {margin-right: -1em;content: "\e60e";}
.icon-linkedin:after {margin-left: 0em;content: "\e60e";}
.icon-linkedin:hover:before {margin-right: -1em;content: "\e60e";color: #006ba1;}
.icon-linkedin:hover:after {margin-left: 0em;content: "\e60f";color: #ffffff;}
.icon-linkedin-darkgrey:before {margin-right: -9px;content: "\e60e";}
.icon-linkedin-darkgrey:after {margin-left: -18px;content: "\e60f";color: #848491;}
.icon-linkedin-darkgrey:hover:before {
  margin-right: -1em;
  content: "\e60e";
  color: #006ba1;
  background: none;
}
.icon-linkedin-darkgrey:hover:after {
  margin-left: -9px;
  content: "\e60f";
  color: white;
  background: none;
}
.icon-linkedin-lightcyan:before {
  margin-right: -1em;
  content: "\e60e";
  color: #cce6ff;
  opacity: 0.4;
}
.icon-linkedin-lightcyan:after {
  margin-left: 0em;
  content: "\e60f";
  color: #268efc;
  opacity: 0.4;
}
.icon-linkedin-lightcyan:hover:before {
  margin-right: -1em;
  content: "\e60e";
  color: #006ba1;
  background: none;
  opacity: 1;
}
.icon-linkedin-lightcyan:hover:after {
  margin-left: 0em;
  content: "\e60f";
  color: white;
  background: none;
  opacity: 1;
}
.icon-twitter:hover {
  color: #38a8e0;
}
.icon-twitter-lightcyan:before {
  color: #cce6ff;
  opacity: 0.4;
  content: "\e61b";
}
.icon-twitter-lightcyan:hover:before {
  color: #38a8e0;
  opacity: 1;
  content: "\e61b";
}
.icon-pinterest:before {
  margin-right: -1em;
  content: "\e613";
}
.icon-pinterest:after {
  margin-left: 0em;
  content: "\e613";
}
.icon-pinterest:hover:before {
  margin-right: -1em;
  content: "\e613";
  color: #c91618;
}
.icon-pinterest:hover:after {
  margin-left: 0em;
  content: "\e614";
  color: #ffffff;
}
.icon-pinterest-darkgrey:before {
  margin-right: -9px;
  content: "\e613";
  background: none;
}
.icon-pinterest-darkgrey:after {
  margin-left: -18px;
  content: "\e614";
  color: #848491;
}
.icon-pinterest-darkgrey:hover:before {
  margin-right: -1em;
  content: "\e613";
  color: #c91618;
}
.icon-pinterest-darkgrey:hover:after {
  margin-left: -9px;
  content: "\e614";
  color: white;
}
.icon-pinterest-lightcyan:before {
  margin-right: -1em;
  content: "\e613";
  background: none;
  color: #cce6ff;
  opacity: 0.4;
}
.icon-pinterest-lightcyan:after {
  margin-left: 0em;
  content: "\e614";
  color: #268efc;
  opacity: 0.4;
}
.icon-pinterest-lightcyan:hover:before {
  margin-right: -1em;
  content: "\e613";
  color: #c91618;
  opacity: 1;
}
.icon-pinterest-lightcyan:hover:after {
  margin-left: 0em;
  content: "\e614";
  color: white;
  opacity: 1;
}
.icon-google-plus:before {
  margin-right: -1em;
  content: "\e624";
}
.icon-google-plus:after {
  margin-left: 0em;
  content: "\e624";
}
.icon-google-plus:hover:before {
  margin-right: -1em;
  content: "\e624";
  color: #d03324;
}
.icon-google-plus:hover:after {
  margin-left: 0em;
  content: "\e625";
  color: #ffffff;
}
.icon-google-plus-darkgrey:before {
  margin-right: -9px;
  content: "\e624";
  background: none;
}
.icon-google-plus-darkgrey:after {
  margin-left: -18px;
  content: "\e625";
  color: #848491;
}
.icon-google-plus-darkgrey:hover:before {
  margin-right: -1em;
  content: "\e624";
  color: #c91618;
}
.icon-google-plus-darkgrey:hover:after {
  margin-left: -9px;
  content: "\e625";
  color: white;
}
.icon-google-plus-lightcyan:before {
  margin-right: -1em;
  content: "\e624";
  background: none;
  color: #cce6ff;
  opacity: 0.4;
}
.icon-google-plus-lightcyan:after {
  margin-left: 0em;
  content: "\e625";
  color: #268efc;
  opacity: 0.4;
}
.icon-google-plus-lightcyan:hover:before {
  margin-right: -1em;
  content: "\e624";
  color: #c91618;
  opacity: 1;
}
.icon-google-plus-lightcyan:hover:after {
  margin-left: 0em;
  content: "\e625";
  color: white;
  opacity: 1;
}
/*.icon-blog:before {
  margin-right: -23px;
  content: "\e627";
  color: black;
}
.icon-blog.off-white:before {
	color:#fff;
}
.icon-blog:after {
  margin-left: 0;
  content: "\e627";
}
.icon-blog:hover:before {
  margin-right: -23px;
  content: "\e627";
  color: #268efc;
}
.icon-blog:hover:after {
  margin-left: 0;
  content: "\e626";
  color: white;
}*/
.icon-blog:before {
  margin-right: -23px;
  content: "\e627";
  color: #848491;
}
.icon-blog.off-white:before {
	color:#fff;
}
.icon-blog:after {
  margin-left: 0;
  content: "\e626";
  color: #000;
}
.icon-blog:hover:before {
  margin-right: -23px;
  content: "\e627";
  color: #268efc;
}
.icon-blog:hover:after {
  margin-left: 0;
  content: "\e626";
  color: white;
}
.icon-blog-lightcyan:before {
  margin-right: -23px;
  content: "\e627";
  background: none;
  color: #cce6ff;
  opacity: 0.4;
}
.icon-blog-lightcyan:after {
  margin-left: 0;
  content: "\e626";
  color: #268efc;
  opacity: 0.8;
}
.icon-blog-lightcyan:hover:before {
  margin-right: -23px;
  content: "\e627";
  color: #323248;
  opacity: 1;
}
.icon-blog-lightcyan:hover:after {
  margin-left: 0;
  content: "\e626";
  color: white;
  opacity: 1;
}
.icon-blog-darkgrey:before {
  margin-right: -14px;
  content: "\e938"!important;
  background: none;
}
.icon-blog-darkgrey:after {
  margin-left: -18px;
  content: "\e626";
  color: #848491;
}
.icon-blog-darkgrey:hover:before {
  margin-right: -1em;
  content: "\e627";
  color: #268efc;
}
.icon-blog-darkgrey:hover:after {
  margin-left: -14px;
  content: "\e626";
  color: white;
}
@media (max-width: 767px) {
  .icon-fb-lightcyan:after,
  .icon-pinterest-lightcyan:after,
  .icon-linkedin-lightcyan:after,
  .icon-google-plus-lightcyan:after,
  .icon-blog-lightcyan:after {
    color: #323248;
  }

  .icon-fb-lightcyan:hover:after,
  .icon-pinterest-lightcyan:hover:after,
  .icon-linkedin-lightcyan:hover:after,
  .icon-google-plus-lightcyan:hover:after,
  .icon-blog-lightcyan:hover:after {
    color: #ffffff;
  }
  .icon-blog-lightcyan:hover:before {
    color: #268efc;
  }
}
.icon-jpegs-super {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe934;');
}
.icon-add {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe912;');
}
.icon-best-discoverable {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe913;');
}
.icon-brick-large {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe914;');
}
.icon-brick-small {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe915;');
}
.icon-burger {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe916;');
}
.icon-check-mark {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe917;');
}
.icon-collapsed-arrow {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe918;');
}
.icon-contact-details {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe919;');
}
.icon-deletebin {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91a;');
}
.icon-expanded-arrow {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91b;');
}
.icon-iptc {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91c;');
}
.icon-left-collapsed-arrow {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91d;');
}
.icon-left-expanded-arrow {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91e;');
}
.icon-news-help {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91f;');
}
.icon-news-noAltering {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe920;');
}
.icon-news-uploadQuickly {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe921;');
}
.icon-next-image {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe922;');
}
.icon-placeholder-super {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe923;');
}
.icon-prev-image {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe924;');
}
.icon-progress-hoop {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe925;');
}
.icon-release {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe926;');
}
.icon-remove {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe927;');
}
.icon-sell-super {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe928;');
}
.icon-sort-arrow-down {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe929;');
}
.icon-sort-arrow-up {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92a;');
}
.icon-tag-star {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92b;');
}
.icon-tooltip {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92c;');
}
.icon-upload-cxp {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92d;');
}
.icon-user {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92e;');
}
.icon-view-CR {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92f;');
}
.icon-view-LCR {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe930;');
}
.icon-worst-discoverable {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe931;');
}
.icon-zoom {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe932;');
}
.icon-saveselectedforlater {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe910;');
}
.icon-moveselectedtocart {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe911;');
}
.icon-preview {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90f;');
}

.icon-preview {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90f;');
}
.icon-price-override {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90e;');
}
.icon-remove-saved {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe903;');
}
.icon-add-licence {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90d;');
}
.icon-apply-usage {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe904;');
}
.icon-rules {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe905;');
}
.icon-save-later {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe906;');
}
.icon-warning {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe907;');
}
.icon-price-euro {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe908;');
}
.icon-price-dollar {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe909;');
}
.icon-price-pound {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90a;');
}
.icon-folder-plus {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90b;');
}
.icon-remove-cart {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90c;');
}
.icon-upload {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe902;');
}
.icon-our-buyer {
    *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe901;');
}
.icon-download3 {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe900;');
}
.icon-instagram {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe656;');
}
.icon-calculator {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61e;');
}
.icon-more-images {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63f;');
}
.icon-grid-view {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe655;');
}
.icon-next-page {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe638;');
}
.icon-restricted-tx {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe653;');
}
.icon-restricted-ic {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe654;');
}
.icon-expand-settings {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe631;');
}
.icon-collapse-settings {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe637;');
}
.icon-search_tools_enabled {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe651;');
}
.icon-search_tools_disabled {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe652;');
}
.icon-tick2 {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe650;');
}
.icon-arrow-bdr-down {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe600;');
}
.icon-arrow-bdr-up {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe601;');
}
.icon-arrow-down {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe602;');
}
.icon-arrow-pointed {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe603;');
}
.icon-camera {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe604;');
}
.icon-cart {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe605;');
}
.icon-chat {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe606;');
}
.icon-chat-with-a {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe607;');
}
.icon-close {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe608;');
}
.icon-dots {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe609;');
}
.icon-download {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60a;');
}
.icon-fb-bg {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60b;');
}
.icon-fb-f {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60c;');
}
.icon-add-to-lightbox {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60d;');
}
.icon-linkedin-bg {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60e;');
}
.icon-linkedin-in {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe60f;');
}
.icon-lock {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe610;');
}
.icon-logo {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe611;');
}
.icon-pictures {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe612;');
}
.icon-pinterest-bg {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe613;');
}
.icon-pinterest-p {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe614;');
}
.icon-post-it-fold {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe615;');
}
.icon-post-it-fold-flip {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe616;');
}
.icon-print {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe617;');
}
.icon-search {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe618;');
}
.icon-star {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe619;');
}
.icon-tick {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61a;');
}
.icon-twitter {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61b;');
}
.icon-copy {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61c;');
}
.icon-lightbox {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61d;');
}
.icon-agency {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe61f;');
}
.icon-thick-down-arrow {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe620;');
}
.icon-search-transparent {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe621;');
}
.icon-phone {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe622;');
}
.icon-tool-tip-questionmark {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe623;');
}
.icon-google-plus-bg {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe624;');
}
.icon-google-plus-g {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe625;');
}
.icon-blog {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe626;');
}
.icon-blog-bubble {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe627;');
}
.icon-circle-grey {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe628;');
}
.icon-restricted {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64f;');
}
.icon-agencies {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe629;');
}
.icon-arrow {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62a;');
}
.icon-brick-view {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62b;');
}
.icon-calculator2 {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62c;');
}
.icon-checkbox-checked {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62d;');
}
.icon-checkbox-indeterminate {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62e;');
}
.icon-checkbox-unchecked {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe62f;');
}
.icon-delete {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe632;');
}
.icon-download2 {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe633;');
}
.icon-edit {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe634;');
}
.icon-email {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe635;');
}
.icon-images {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe639;');
}
.icon-lightbox-added {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63a;');
}
.icon-lightbox-n {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63b;');
}
.icon-list-view {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63c;');
}
.icon-manage {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63d;');
}
.icon-mobile-photographers {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe63e;');
}
.icon-move-down {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe640;');
}
.icon-move-left {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe641;');
}
.icon-move-right {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe642;');
}
.icon-move-up {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe643;');
}
.icon-orientation {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe644;');
}
.icon-page-left {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe645;');
}
.icon-page-right {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe646;');
}
.icon-pages {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe647;');
}
.icon-pages-wide {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe648;');
}
.icon-phone-n {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe649;');
}
.icon-photographers {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64a;');
}
.icon-print2 {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64b;');
}
.icon-search2 {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64c;');
}
.icon-shopping-trolley {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64d;');
}
.icon-shopping-trolley-added {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe64e;');
}
.icon-expand {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe630;');
}
.icon-collapse {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe636;');
}


/*Merged styles of sprites css and icons css starts*/

/* common styles dont replace*/
a.dg-nohover:hover {
  color: #d6d6da;
}
.h22-size {
  font-size: 22px;
}
a.remove-uline, a:link.remove-uline, a:active.remove-uline {
  text-decoration: none;
}
.dark-grey {
  color: #d6d6da;
}
.p-4 {
  padding: 4px;
}
.h4-size {
  font-size: 18px;
}

.h4 {
  font-size: 18px;
}

.pl-10{ 
  padding-left: 10px;
}
.pull-right {
  float: right;
}
/*end */
.main-menu .icon-instagram:before{
    color: #cce6ff;
     opacity: 0.4;
}
.main-menu .icon-instagram:hover:before{
    color:#323248 !important;
     opacity: 1;
}
/*added for bootstrap like popover */
.cli-popover {cursor:pointer}
.cli-popover .popover {
	position: absolute;
	top:auto;
	bottom:25px;
	left:50%;
	margin-left:-174px;
	z-index: 1010;
	width: 320px;
	max-width: 320px;
	padding: 1px;
	text-align: left;
	background-color: white;
	background-clip: padding-box;
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	white-space: normal;
	padding: 9px 14px;
	color:#848491;
	font-size:12px;
	font-family:arial;
	line-height:15px;
}

.cli-popover .popover:after, .cli-popover .popover:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.cli-popover .popover:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 11px;
	margin-left: -11px;
}
.cli-popover .popover:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #848491;
	border-width: 12px;
	margin-left: -12px;
}
/*Merged styles of sprites css and icons css ends*/
