
body {
	background: url("/background.png?v=20150324") repeat-y;
	background-color: #70b8ef;
}

h1 {
	font-size: 180%;
}

#global_container {
	max-width: 758px;
	background: #fff;
	border: 1px solid #666;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding-top: 0.5em;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-moz-box-shadow: 3px 3px 4px #333;
	-webkit-box-shadow: 3px 3px 4px #333;
	box-shadow: 3px 3px 4px #333;
}

#global_content {
	max-width: 728px;
}

#logo {
	min-width: 124px;
	border: 0px;
}

#title {
	padding-left: 10px;
}

a.neutral_link:link {
	text-decoration: none;
	color: #000;
}
a.neutral_link:visited {
	text-decoration: none;
	color: #000;
}
a.neutral_link:active {
	text-decoration: none;
	color: #000;
}
a.neutral_link:hover {
	text-decoration: none;
	color: #000;
}

#addthis_header {
	text-align: right;
	padding-top: 9px;
}

#title h1 {
	margin-top: 0px;
}

#tagline {
	color: #555;
	font-size: 11pt;
	font-weight: bold;
	font-style: italic;
}

/* Main - Homepage */

#main_container h1 {
	font-size: 140%;
	padding-top: 15px;
}

#main_container h2 {
	font-size: 120%;
}

#jpg_to_pdf_conversion_buttons input{
	margin-right: 0.3em;
	margin-bottom: 0.3em;
}

#pdf_options label {
	min-width: 9em;
}

#pdf_options .row {
	margin-bottom: 0.2em;
}

#options_container span {
	min-width: 150px;
}

#jpg_to_pdf_appraisal {
}

#jpg_to_pdf_appraisal ul {
	list-style-type: none;
	padding-left: 0px;
}

#jpg_to_pdf_appraisal li {
	padding-bottom: 5px;
}

/* Footer */

#footer {
	clear: both;
	text-align: center;
	padding: 3px;
	margin-top: 2em;
}

/* File upload */

#file_queue {
	width: 100%;
	max-width: 551px;
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0.5em;
}

.file_queue_element {
	background: url(/up_down.png) no-repeat;
    background-position: 4px 4px;
	background-color: #fff;
	padding-left: 18px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	min-height: 27px;
	margin-bottom: 10px;
	cursor: n-resize;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.file_queue_element .progress {
	margin-bottom: 0.3em;
}

.remove_button {
	float: right;
	cursor: pointer;
}

.progress_bar_container {
	margin-top: 3px;
	clear: left;
}

.progress_bar {
	background-color: #1685bc;
	height: 5px;
}

.picture_thumbnail {
	height: 50px;
	margin-top: 4px;
	border: 1px solid #666;
}

#jpg_to_pdf_converter_tutorial {
}

#ad_right_side {
	float: right;
	text-align: center;
	margin-top: 20px;
	margin-left: 15px;
}

/* Result page */

#pdf_link_container div {
	text-align: center;
}

#view_pdf_form {
	display: inline;
}

#view_pdf_button {
  margin-right: 25px;
}

#download_pdf_button {
  margin-left: 25px;
}

/* Addthis */

.sharing_container {
	padding-top: 5px;
	text-align: center;
}

.addthis_container {
	display: inline-block;
}

.twitter_follow_us_container {
	display: inline-block;
	padding-left: 15px;
}

.result_page_conert_button {
	margin-top: 1.5em;
}

/* Vaccination-o-meter */

#vaccination_o_meter_container {
	margin-bottom: 10px;
	border: 1px solid #333333;
	width: 100%;
	height: 35px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

#vaccination_o_meter_progress {
	padding: 3px;
	width: 0px;
	height: 100%;
	background-color: #1685bc;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

#vaccination_o_meter_counter {
	position: relative;
	top: -35px;
	line-height: 37px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding: 0px;
	font-weight: bold;
}

.report {
	margin-top: 10px;
}

.report th {
	padding-right: 100px;
	text-align: left;
}

.report td {
	padding-right: 100px;
}

/* Share */

.share_button {
  width: 150px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-indent: -1000em;
  background-position: 0px -0px;
  margin-right: 50px;
  display: block;
}

.post_button {
  width: 260px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-indent: -1000em;
  background-position: 0px -0px;
  display: block;
}

#job_status_container {
	margin-top: 12px;
}

#job_status {
	font-weight: bold;
	float: right;
	width: 714px;
	padding-left: 10px;
	margin-top: 0px;
}

.job_status_error {
	color: red;
}

#job_in_progress {
	float: left;
	width: 16px;
}

#share_doc_services {
	border-collapse: collapse;
}

#share_doc_services td {
	padding-right: 5px;
}

/* SlideShare and Scribd */

.share_form td {
	padding-right: 10px;
	padding-bottom: 5px;
}

#share_buttons {
	padding-bottom: 5px;
}

/* Tests */

.ad_on_the_left {
	padding-top: 15px;
	float: left;
	width: 300px;
}

.ad_on_the_right {
	padding-top: 15px;
	float: right;
	width: 300px;
}

.content_on_the_left {
	float: left;
	width: 430px;
}

.content_on_the_right {
	float: right;
	width: 430px;
}

.horizontal_ad {
	padding-top: 25px;
}

/* Ads */

.wide_ad {
	width: 300px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 515px) {
	.wide_ad {
		width: 468px;
		height: 60px;
	}
}

@media (min-width: 1000px) {
	.wide_ad {
		width: 728px;
		height: 90px;
	}
}

.tall_ad {
	display: none;
}

@media (min-width: 1000px) {
	.tall_ad {
		width: 160px;
		height: 600px;
	}
}

