.hockey.whc .sport-head {
	background: #ffffff url(https://img.championat.com/brand/1460129312822800738.png) no-repeat center top;
    padding-top: 55px;
}
.sticky_banner [id*="AdFox_banner"] {
    width: 300px;
}
._banner_fullx240 > div {
   margin: 0 auto;   
}
.island__news__i__counters .counter.comments:hover {
 color: #ffffff;   
}
.island__branding-btn {
   top: 355px;
   left: 545px;
   display: none;
}

.island .gallery-swiper.swiper-container {
 min-height: 420px;   
}
._banner_990x90_billboard > div > a, ._banner_990x90_billboard > div > iframe, ._banner_990x90_billboard > div > img, ._banner_990x90_billboard > div > object, ._banner_990x90_billboard > div > embed {
 display: block; 
}
._banner_990x90_billboard * {
 margin: 0 auto;   
}
#b_300x250 * {
    text-align: inherit;
    margin: 0 auto;
}
#_ban-native {
 margin-top: 10px;   
}

.article #_ban-native {
 margin-top: 0;   
}
.sber175-switcher._main {
    display: none;
}
.sber175-switcher._main {
    right: 30px;
}
