body
{
	background: #CCEBFD url(http://www.sevenforums.com/images/styles/window7/misc/bg.jpg) repeat-x top left;
	color: #323232;
	font: 10pt verdana, geneva, lucida, 'lucida grande', helvetica, sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
a:link, body_alink
{
	color: #3485BD;
	text-decoration: none;
}
a:visited, body_avisited
{
	color: #3485BD;
	text-decoration: none;
}
a:hover, a:active, body_ahover
{
	color: #62AFA7;
	text-decoration: underline;
}
.page
{
	background: #FFFFFF;
	color: #323232;
}
.page a:link, .page_alink
{
	color: #3485BD;
	text-decoration: none;
}
.page a:visited, .page_avisited
{
	color: #3485BD;
	text-decoration: none;
}
.page a:hover, .page a:active, .page_ahover
{
	color: #FF0000;
	text-decoration: underline;
}
td, th, p, li
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', helvetica, sans-serif;
	line-height: 1.4;
}
.tborder
{
	background: #DCE3E9;
	color: #323232;
	border: 1px solid #94D3FF;
}
.tcat
{
	background: #3485BD url(http://www.sevenforums.com/images/styles/window7/misc/cat_backl.gif) repeat-x top left;
	color: #FFFFFF;
	font: bold 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tcat a:link, .tcat_alink
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #FFFF66;
	text-decoration: none;
}
.thead
{
	background: #146377 url(http://www.sevenforums.com/images/styles/window7/misc/thead3.gif) repeat-x top left;
	color: #FFFFFF;
	font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.thead a:link, .thead_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.thead a:visited, .thead_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #FFFF00;
	text-decoration: none;
}
.tfoot
{
	background: #FFFFFF;
	color: #323232;
}
.tfoot a:link, .tfoot_alink
{
	color: #3485BD;
	text-decoration: none;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #3485BD;
	text-decoration: none;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #62AFA7;
	text-decoration: none;
}
.alt1, .alt1Active
{
	background: #F6FAFB;
	color: #323232;
}
.alt1 a:link, .alt1_alink, .alt1Active a:link, .alt1Active_alink
{
	color: #3485BD;
	text-decoration: none;
}
.alt1 a:visited, .alt1_avisited, .alt1Active a:visited, .alt1Active_avisited
{
	color: #3485BD;
	text-decoration: none;
}
.alt1 a:hover, .alt1 a:active, .alt1_ahover, .alt1Active a:hover, .alt1Active a:active, .alt1Active_ahover
{
	color: #62AFA7;
	text-decoration: none;
}
.alt2, .alt2Active
{
	background: #EDF6FD;
	color: #323232;
}
.alt2 a:link, .alt2_alink, .alt2Active a:link, .alt2Active_alink
{
	color: #3485BD;
	text-decoration: none;
}
.alt2 a:visited, .alt2_avisited, .alt2Active a:visited, .alt2Active_avisited
{
	color: #3485BD;
	text-decoration: none;
}
.alt2 a:hover, .alt2 a:active, .alt2_ahover, .alt2Active a:hover, .alt2Active a:active, .alt2Active_ahover
{
	color: #62AFA7;
	text-decoration: none;
}
.inlinemod
{
	background: #FFFFCC;
	color: #000000;
}
.wysiwyg
{
	background: #F6FAFB;
	color: #323232;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 5px 10px 10px 10px;
	padding: 0px;
}
.wysiwyg a:link, .wysiwyg_alink
{
	color: #3485BD;
	text-decoration: none;
}
.wysiwyg a:visited, .wysiwyg_avisited
{
	color: #3485BD;
	text-decoration: none;
}
.wysiwyg a:hover, .wysiwyg a:active, .wysiwyg_ahover
{
	color: #62AFA7;
	text-decoration: none;
}
textarea, .bginput
{
	background: #EDF6FD;
	color: #0167AF;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border: 1px solid #9AC1DE;
}
.bginput option, .bginput optgroup
{
	font-size: 10pt;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.button
{
	background: #3676A2 url(../../images/newbtn_middle.png) repeat-x top left;
	color: #FFFFFF;
	font: bold 10px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border: 1px solid #dadada;
	border-radius: 4px;
	padding:2px;
}
select
{
	background: #ffffff;
	color: #323232;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
option, optgroup
{
	font-size: 11px;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.smallfont
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.time
{
	color: #67B6B3;
	font-style: italic;
}
.navbar
{
	color: #323232;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.navbar a:link, .navbar_alink
{
	color: #3485BD;
	text-decoration: none;
}
.navbar a:visited, .navbar_avisited
{
	color: #3485BD;
	text-decoration: none;
}
.navbar a:hover, .navbar a:active, .navbar_ahover
{
	color: #62AFA7;
	text-decoration: none;
}
.highlight
{
	color: #FF0000;
	font-weight: bold;
}
.fjsel
{
	background: #ffffff;
	color: #3485BD;
}
.fjdpth0
{
	background: #ffffff;
	color: #323232;
}
.panel
{
	background: #ffffff;
	color: #323232;
}
.panel a:link, .panel_alink
{
	color: #3485BD;
	text-decoration: none;
}
.panel a:visited, .panel_avisited
{
	color: #3485BD;
	text-decoration: none;
}
.panel a:hover, .panel a:active, .panel_ahover
{
	color: #62AFA7;
	text-decoration: none;
}
.panelsurround
{
	background: #FFFFFF;
	color: #323232;
}
legend
{
	color: #323232;
	font: italic 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.vbmenu_control
{
	background: #3485BD url(../../images/styles/window7/misc/cat_back.gif) repeat-x top left;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #FFFF00;
	text-decoration: none;
}
.vbmenu_popup
{
	background: #FFFFFF;
	color: #323232;
	border: 1px solid #3485BD;
}
.vbmenu_option
{
	background: #FFFFFF;
	color: #323232;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #3485BD;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #3485BD;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	color: #3485BD;
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #FFFFFF;
	color: #323232;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	color: #62AFA7;
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #62AFA7;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #62AFA7;
	text-decoration: none;
}
.doubleborder {
         border:1px solid #99B8CD; padding:2px; border-radius: 6px; box-shadow: 3px 3px 3px #ccc;
}

/* ***** styling for 'big' usernames on postbit etc. ***** */
.bigusername { font-size: 14pt; }

/* ***** small padding on 'thead' elements ***** */
td.thead, th.thead, div.thead { padding: 4px; }

/* ***** basic styles for multi-page nav elements */
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px 2px 4px; }

/* ***** de-emphasized text */
.shade, a.shade:link, a.shade:visited { color: #777777; text-decoration: none; }
a.shade:active, a.shade:hover { color: #FF4400; text-decoration: underline; }
.tcat .shade, .thead .shade, .tfoot .shade { color: #DDDDDD; }

/* ***** define margin and font-size for elements inside panels ***** */
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }

/* ***** H1 Tags ***** */
h1.myh1 {font-family: Arial; font-size: 22px; 
color: #000000; font-weight: bold;}

h2.myh2 {font-family: verdana; font-size: 16px; 
color: #000000; font-weight: bold;}
.quotetop
{
	margin: 8px auto 0px auto;
	font-weight:bold;
	font-size:10px;
	padding: 5px;
	background-color:#E4EEF4;
	border-left: 4px solid #4F9C96;
	border-top: 1px solid #98B5E2;
	border-right: 1px solid #98B5E2;
box-shadow: 3px 3px 3px #ccc;

}
.quotemain
{
	background: #FAFCFE url(../../images/misc/q2.gif) no-repeat bottom right;
        min-height: 55px; 
	border-left: 4px solid #4F9C96;
	border-right: 1px solid #98B5E2;
	/*border-top: 1px solid #98B5E2;*/
	border-bottom: 1px solid #98B5E2;
	padding: 4px;
	margin: 0px auto 8px auto;
box-shadow: 3px 3px 3px #ccc;

}

/* ***** H3 Tags ***** */
h2.myh3 {font-family: verdana; font-size: 20px; 
color: #000000; font-weight: 500;
position:relative;
top:21px;
left:-1px
}

.myRedLink a:hover
{
color:red ;
} 

.vB_Editor_QR_popup_smilie_menu {overflow:scroll !important;}
.page_left {
	background: #C8E9FC url(http://www.sevenforums.com/images/styles/window7/misc/leftbg.gif) repeat-y top right;
}

.pb1 {
	background: url(../../images/tool.png) repeat-x;
}

.rl1 {
background: #0268B0 url(http://www.sevenforums.com/images/styles/window7/misc/r2sh.jpg) top left;
width:506px;
height:150px;
}

.page_right {
	background: #0167AF url(http://www.sevenforums.com/images/styles/window7/misc/rightbg.gif) repeat-y top left;
width:21px;
}


.main_tcat {
	background: #3485BD url(http://www.sevenforums.com/images/styles/window7/misc/cat_back.gif) repeat-x top left;
}

.main_tcat_left {
	background-image: url(http://www.sevenforums.com/images/styles/window7/misc/cat_left.png);
	background-repeat: no-repeat;
	background-position: top left;
}

.main_tcat_right {
	color: #FFFFFF;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	
	background-image: url(http://www.sevenforums.com/images/styles/window7/misc/cat_right.png);
	background-repeat: no-repeat;
	background-position: top right;
	
	height: 30px;
	padding-left: 90px;
}

.main_tcat_right1 {
	color: #FFFFFF;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	
	background-image: url(http://www.sevenforums.com/images/styles/window7/misc/cat_right1.png);
	background-repeat: no-repeat;
	background-position: top right;
	
	height: 30px;
	padding-left: 90px;
}
.main_tcat_right a:link, .main_tcat_right a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}
.main_tcat_right a:hover, .main_tcat_right a:active
{
	color: #FFFFFF;
	text-decoration: underline;
}

.alt5, .alt5Active
{
	color: #B7DBDB;
        font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.alt5 a:link, .alt5_alink, .alt5Active a:link, .alt5Active_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.alt5 a:visited, .alt5_avisited, .alt5Active a:visited, .alt5Active_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.alt5 a:hover, .alt5 a:active, .alt5_ahover, .alt5Active a:hover, .alt5Active a:active, .alt5Active_ahover
{
	color: #FFFF00;
	text-decoration: none;
}

.login {
	background-image: url(http://www.sevenforums.com/images/styles/window7/misc/logbg.gif);
	background-repeat: no-repeat;
	background-position: top left;
        height: 77px;
}

.link {
	background: #0167AF url(../../images/styles/window7/misc/linkbg1.gif) repeat-x top left;
        height: 77px;

}

.boplink A:link {
box-shadow: 0 0 5px #888888;
}

.button:hover {background:#0099cc url(../../images/newbtn_middle.png); padding:2px;}


.sbox {
/* background:url(../../images/sbox.png) repeat-x left top !important; */
width:203px;
padding:3px 5px 3px 7px !important;
margin:1px !important;
border:none !important;
font:normal 11px verdana, Arial, Helvetica, sans-serif;
color:#323232;
/* vertical-align:top; */
vertical-align:middle;

}

.sbu {
background:transparent url(../../images/sbu9.png) no-repeat left;
width:42px;
height:23px;
padding:1px !important;

border:none !important;
vertical-align:middle;
cursor:pointer;
margin-left:-30px;
}

.tip {width:100%;max-width:750px;}
.tiptop {font-style:italic; color: #996633; font-weight: bold; padding: 5px; background-color: #FFF2AA; border-width: 1px 1px 0px 4px; border-color: #CACA00; border-style: solid;}
.tipbody {padding: 4px; background: #FFFFE1; border-width: 0px 1px 1px 4px; border-color:#CACA00; border-style: solid; margin: 0px auto 8px auto; color: #323232;}


.note {width:100%;max-width:750px;}
.notetop {font-style:italic; color: #000066; font-weight: bold; padding: 5px; background-color: #CEDFF2; border-width: 1px 1px 0px 4px; border-color: #638C9C; border-style: solid;}
.notebody {padding: 4px; background: #F5FAFF; border-width: 0px 1px 1px 4px; border-color:#638C9C; border-style: solid; margin: 0px auto 8px auto; color: #323232;}

.info {width:100%;max-width:750px;}
.infotop {font-style:italic; color: black; font-weight: bold; padding: 5px; background-color: #CEF2E0; border-width: 1px 1px 0px 4px; border-color: #A3BFB1; border-style: solid;}
.infobody {padding: 4px; background: #F5FFFA; border-width: 0px 1px 1px 4px; border-color:#A3BFB1; border-style: solid; margin: 0px auto 8px auto; color: #323232;}

.warn {width:100%;max-width:750px;}
.warntop {font-style:italic; color: black; font-weight: bold; padding: 5px; background-color: #FFc6c6; border-width: 1px 1px 0px 4px; border-color: #990000; border-style: solid;}
.warnbody {padding: 4px; background: #FEEBEF; border-width: 0px 1px 1px 4px; border-color:#990000; border-style: solid; margin: 0px auto 8px auto; color: #323232;}

.buttons:hover {background:green url(../../images/newbtn_middle.png); padding:3px;}

.buttons {
background:#009966 url(../../images/newbtn_middle.png);
border-radius: 4px;
padding:3px;
font: bold 10px verdana;
}

.sysspec {padding:3px; background:#E4F0FA;font: 11px Verdana, Helvetica, sans-serif;color: #242424; border:1px solid #afafaf;height:100%;overflow:auto;display:none;}