@media print {
  
  
  body {
    font-size:15pt;
    margin:30px;
    color:black;
    padding:50px;
    margin-top:-200px;
  }	
	
#usrcookies, .header--bar, #article--sidebar-left, .article--sharing, .pub--container, .footer, .pub, .footer--pub, #sas_21483, #sas_21482, .advertisement, #footerMainDiv, .header--navbar, .tt-wrapper, .wesInitTab_wrapper, .wes_footer {
    display:none;
  }

  
  #article--sidebar-right{
  	  
  	width:180px;
  	float:right;
  	margin-left:20px;
  }
  
  



.page--article .article--intro, .page--article .fiche--intro, .page--fiche .article--intro, .page--fiche .fiche--intro {
    font-family: "Publico", serif;
    color: #131313;
    font-weight: 700;
    font-size: 0.9em;
    margin-bottom: 30px;
    line-height: 1.4;

  }

  .page--article .article--title, .page--fiche .article--title {
    text-align: center;
    line-height: 35px;
    margin-bottom: 5px;
    margin-top: 40px;
    font-size: 30px;
}

.page--article .article--wysiwyg, .page--article .fiche--wysiwyg, .page--fiche .article--wysiwyg, .page--fiche .fiche--wysiwyg {
    font-family: "Georgia", "Times New Roman", "Times", serif;
    color: #131313;
    font-size: 13px;
    line-height: 1.5;
}

.page--article .article--wysiwyg > p:first-child::first-letter, .page--article .fiche--wysiwyg > p:first-child::first-letter, .page--fiche .article--wysiwyg > p:first-child::first-letter, .page--fiche .fiche--wysiwyg > p:first-child::first-letter {
       padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}


.pub:after {
    content: "";

}
  .page--article .aside-title, .page--fiche .aside-title {
    width: 100%;
    display: block;
    padding: 10px 0 10px;
    border-top: 4px solid #131313;
    text-transform: uppercase;
    color: #131313;
    font-family: "Graphik Compact", sans-serif !important;
    font-weight: 700;
    font-size: 11px !important;
    margin-bottom: 0px;
    letter-spacing: 2px;
    line-height: 2px;
}
 
  .page--article .related--category, .page--fiche .related--category {
     font-size: 11px !important;
      line-height: 2px;
}

.page--article .related--title a, .page--fiche .related--title a {
    color: #131313;
    border-bottom: 0;
     font-size: 11px !important;
     line-height: 2px;
}

.page--article .article--sidebar-right .article--related img, .page--fiche .article--sidebar-right .article--related img {
    height: auto !important;
    float: left;
    width: 50px !important;
    margin-right: 10px;
}

.page--article .related--title, .page--fiche .related--title {

    font-size: 11px;
    line-height: 11px;
}

.page--article .article--sidebar-right aside, .page--fiche .article--sidebar-right aside {
    margin-bottom: 15px;
}

.page--article .article--footnotes, .page--fiche .article--footnotes {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 20px;
}


}
