/* Skin v 1.1 */

body.home .area-root {    
    background: url('../img/pattern-parede.jpg') repeat #120000 !important;
    width: 100% !important;
}

.home .area-10,
.home .area-10-1,
.home .area-11 {
     background: none;
}

.home .area-6,   
.home .area-8, 
.home .area-10, 
.home .area-12, 
.home .area-14,      
.home .area-16,
.home .area-19 {
    background: none;
}   

.home .area-19-1 .prateleira .hproduct{
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}    

.home .area-3-1 .bnr,
.home .area-9-1 .bnr, 
.home .area-13-1 .bnr, 
.home .area-13-2 .bnr, 
.home .area-18-1 .bnr, 
.home .area-18-2 .bnr,  
.home .area-19 .bnr,
.home .area-20-1 .bnr,  
.servicos-link,
.marketplacecadastro {    
    background-color: #fff;
}
.home .area-18-1 .bnr{
    margin: 20px auto;
}

.box-contador {
    background-color: #210000;    
}

.box-contador .category-title { 
    color: #fff;
}

.box-contador .more-offers {
    background-color:#4c0000;    
}

.box-contador .more-offers:hover {
    background-color:#880000;
    opacity: .8;
}

.box-contador .counter-wrapper {
    /*border: 1px solid #850a24;*/    
    border: none;
}    

.box-contador .limited-offers {
    border: 1px solid #4c0000;    
    border-left: none;
    border-bottom: none;
    border-right: none;
    color: #fff;
}    

.box-contador .timer .measure-numbers span { 
    color: #fff;
}

.box-contador .timer .measures span {
    color: #fff;
}

.pRecomendacao .tit, 
.area-19 .prateleira h2.tit,
.servicos-title,
.mktplace-titulo {    
    color: #ffe91f;    
}

.mktplace-marca {background: none;}


/* Vitrines
=============================================================================================================================================== */


.home .category-title::before { 
    font-size: 60px;
}


.home .category-title.smartphones::before {
    content: "" !important;
    background: url('../img/01-televisao.png') no-repeat;
    width: 63px;
    height: 63px;    
    margin: -40px auto 0;
    fill: #fff;   
}


.home .category-title.eletrodomesticos::before {
    content: "" !important;
    background: url('../img/02-eletrodomestico.png') no-repeat;
    width: 63px;
    height: 63px;    
    margin: -40px auto 0;    
}


.home .category-title.tv::before {
    content: "" !important;
    background: url('../img/03-telefonia.png') no-repeat;
    width: 63px;
    height: 63px;    
    margin: -40px auto 0; 
}

.home .category-title.mv::before {
    content: "" !important;
    background: url('../img/04-vendidos.png') no-repeat;
    width: 63px;
    height: 63px;    
    margin: -40px auto 0;    
}



.home .category-title.informatica::before {
    content: "\2c";
    padding-top: 10px;
    color: #fff;
}

.home .category-title.bebes::before {
    color: #fff;
}

.home .category-title.moveis::before {
    content: "" !important;
    background: url('http://www.extra-imagens.com.br/html/2016/campanhas/dia-do-consumidor/icon-geladeira.png') no-repeat;
    width: 38px;
    height: 60px;    
    margin: -40px auto 0;    
}


.home .category-title.automotivo::before {
    content: "" !important;
    margin-bottom: 0;
    background: url('http://www.extra-imagens.com.br/App_Themes/Extra/Images/esporte-lazer.svg') center center no-repeat;
    background-size: 100% 100%;
    height: 70px;
}



.home .category-title.eletroportateis::before {
    content: "";
    background: url('http://www.extra-imagens.com.br/html/2016/campanhas/dia-do-consumidor/icon-relogios.png') no-repeat;
    margin: 0 auto;
    width: 35px;
    height: 68px;
}


.home .category-title.esporte-lazer::before {
    content: "" !important;
    background: url('http://www.extra-imagens.com.br/html/2016/campanhas/dia-do-consumidor/para-seu-carro.png') no-repeat;
    width: 61px;
    height: 61px;    
    margin: -40px auto 0;    
}


.home .category-title.tablets::before {
    content: "" !important;
    background: url('http://www.extra-imagens.com.br/html/2016/campanhas/dia-do-consumidor/para-seu-negocio.png') no-repeat;
    width: 53px;
    height: 53px;    
    margin: -40px auto 0;    
}

.box-contador .category-title.informatica {
    margin-top: -20px;
}

.box-contador .category-title.automotivo {
    margin-top: -30px;
}

.area-10-1-1 .box-contador .more-offers {
    margin-top: 25px;
}


.box-contador .category-title.eletroportateis {
    margin-top: -20px;
}

.home .category-title.esporte-lazer {
    padding-top: 55px !important;
}

.box-contador {
    height: 412px !important;    
}

/* Banner */
.home .bnr-wrap, 
.home .bnr-super, 
.home .area-20-1 .bnr, 
.home .area-13-2 .bnr, 
.home .area-9-1 .bnr, 
.home .area-13-1 .bnr,
.home .area-13-2 .bnr,
.home .area-18-1 .bnr,
.home .area-18-2 .bnr { background: none !important; border-color: #86720f; }
.home .bnr-wrap:after{ color: #86720f; }


/* Banner Topo TV */
.home .area-2-3{ background: url(../img/bg-header.jpg) no-repeat top center; }
.home .area-2-3 .content{width:1024px;margin:0 auto;overflow:hidden;}
.home .area-2-3 .banner-menu-tv{ position: relative; z-index: 99; }
.home .area-2-3 .banner-menu-tv li{ display: inline-block; }
.home .area-2-3 .banner-menu-tv li a{}
.home .area-2-3 .brnTvAuto{padding-top:20px;height:440px; margin-top: -60px;}


.home .slots-descontos{  margin: 0 auto; max-width: 80em; min-width: 80em;}
.home .slots-descontos li{ display: inline-block; margin:0 7px; }
.home .slots-descontos li img{}

@media (max-width: 1280px) {
    .home .slots-descontos{  margin: 0 auto; max-width: 60em; min-width: 60em;}
.home .slots-descontos li{ width: 20%; }
.home .slots-descontos li img{ width: auto; height: auto;}

}