/* Novo banner tv automÃ¡tico v 1.3 */

.home .area-2 .area-2-3{
    width: 100%;
    max-width: none;
    min-width: auto;
    padding: 0;
}
.home .area-2 .brnTvAuto{
    background:url("http://www.extra-imagens.com.br/html/banner-tv/novo/img/bg-banner-tv.jpg") no-repeat center top;
    padding-top: 20px;
    height: 440px;
}
.home .area-2 .bnrAuto{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 79em;
    min-width: auto;
    padding: 0;
    width: 100%;
}
.home .area-2 .bnrAuto .slick-prev{
    left: -20px !important;
}
.home .area-2 .bnrAuto .slick-next{
    right: -20px !important;
}
.home .area-2 .slick-list{
    height: 100% !important;
    margin: 0 auto !important;
    padding: 0 !important;
    width: auto !important;
}
.home .area-2 .ofAuto{
    opacity: 1;
    background: none;
    height: auto;
    display: flex;
}
.home .area-2 .ofAuto > div {
    float: left;
    margin-right: 22px;
}
.home .area-2 .ofAuto > div:last-child {
    margin-right: 0;
}
.home .area-2 .ofAuto > div img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.home .area-2 .ofAuto > div > .bannerConceitualLnk {
    float: left !important;
    left: auto !important;
    margin: auto !important;
    position: relative !important;
    width: 100% !important;
}
.home .area-2 .ofAuto_2 > div{
    width: auto;
    float: left;
}
.home .area-2 .bannerConceitualLnk{
    float: left;
    height: 100%;
    left: auto;
    margin: 0;
    position: relative;
}
.home .area-2 .bannerConceitualLnk img{
    height: 100% !important;
}
.home .area-2 .slick-dots{
    position: relative;
    width: 100%;
    margin: 0 auto;
    bottom: -15px;
}
.home .area-2 .slick-prev, .home .area-2 .slick-next {
    height: 40px;
    width: 40px;
}
.home .area-2 .slick-prev::after {
    border-width: 9px 9px 9px 0;
    right: 18px;
}
.home .area-2 .slick-next::after {
    border-width: 9px 0 9px 9px;
    left: 18px;
}
.home .area-2 .slick-prev::after, .home .area-2 .slick-next::after {
    top: 11px;
}

@media only screen and (max-width: 1024px){
    .home .area-2 .brnTvAuto{
        height: 370px !important;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1120px){
    .home .area-2 .brnTvAuto{
        height: 400px !important;
    }
}
@media only screen and (min-width: 1121px) and (max-width: 1240px){
    .home .area-2 .brnTvAuto{
        height: 430px;
    }
    
}

@media only screen and (max-width: 1280px) {
    
.home .area-2 .bnrAuto .slick-next{ right: 0 !important;}
.home .area-2 .bnrAuto .slick-prev{ left: 0 !important; }
.navbar .navbar-cart{ right: -31px !important; }
.navbar .navbar-profile{ padding-left: 91px !important; }

}


