@font-face {
    font-family: 'agendaMedium';
	src: url('agendaMedium.eot'); /* IE9 Compat Modes */
    src: url('agendaMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('agendaMedium.woff') format('woff'), /* Modern Browsers */
         url('agendaMedium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('agendaMedium.svg#agendaMedium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}