@font-face {
    font-family: 'agendaBold';
	src: url('agendaBold.eot'); /* IE9 Compat Modes */
    src: url('agendaBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('agendaBold.woff') format('woff'), /* Modern Browsers */
         url('agendaBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('agendaBold.svg#agendaBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
