@font-face {
    font-family: 'agendaRegular';
	src: url('agendaRegular.eot'); /* IE9 Compat Modes */
    src: url('agendaRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('agendaRegular.woff') format('woff'), /* Modern Browsers */
         url('agendaRegular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('agendaRegular.svg#agendaRegular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
