/* Webfont: HelveticaNeue-CondensedBlack */
@font-face {
    font-family: 'HelveticaNeueCondensed';
    src: url('helveticaNeueCondensedBlack.eot'); /* IE9 Compat Modes */
    src: url('helveticaNeueCondensedBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('helveticaNeueCondensedBlack.woff') format('woff'), /* Modern Browsers */
         url('helveticaNeueCondensedBlack.ttf') format('truetype'), /* Safari, Android, iOS */
         url('helveticaNeueCondensedBlack.svg#helveticaNeueCondensedBlack') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

