@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yytztc');
  src:  url('fonts/icomoon.eot?yytztc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yytztc') format('truetype'),
    url('fonts/icomoon.woff?yytztc') format('woff'),
    url('fonts/icomoon.svg?yytztc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-piggy-bank:before {
  content: "\e603";
}
.icon-green-tick:before {
  content: "\e601";
}
.icon-red-cross:before {
  content: "\e602";
}
.icon-nav-link:before {
  content: "\e600";
}
.icon-additional-borrowing:before {
  content: "\e623";
}
.icon-apply:before {
  content: "\e624";
}
.icon-bank-accounts:before {
  content: "\e625";
}
.icon-branch:before {
  content: "\e626";
}
.icon-calculator:before {
  content: "\e627";
}
.icon-calendar:before {
  content: "\e628";
}
.icon-call-us:before {
  content: "\e629";
}
.icon-car:before {
  content: "\e62a";
}
.icon-card:before {
  content: "\e62b";
}
.icon-conversation-onlinechat:before {
  content: "\e62d";
}
.icon-credit-cards:before {
  content: "\e62e";
}
.icon-cross:before {
  content: "\e62f";
}
.icon-demo-arrow:before {
  content: "\e630";
}
.icon-document:before {
  content: "\e631";
}
.icon-existing-customers:before {
  content: "\e632";
}
.icon-experts:before {
  content: "\e633";
}
.icon-family-protector:before {
  content: "\e635";
}
.icon-find-a-branch:before {
  content: "\e636";
}
.icon-generic-person:before {
  content: "\e637";
}
.icon-glossary:before {
  content: "\e638";
}
.icon-guide:before {
  content: "\e639";
}
.icon-help:before {
  content: "\e63a";
}
.icon-home-mover-lorry:before {
  content: "\e63b";
}
.icon-homeowner-firsttimebuyer:before {
  content: "\e63c";
}
.icon-information:before {
  content: "\e63d";
}
.icon-umbrella:before {
  content: "\e63e";
}
.icon-investments:before {
  content: "\e63f";
}
.icon-ISAs:before {
  content: "\e640";
}
.icon-left-arrow:before {
  content: "\e641";
}
.icon-loans:before {
  content: "\e642";
}
.icon-mail-email:before {
  content: "\e643";
}
.icon-mobile-banking:before {
  content: "\e644";
}
.icon-mortgages:before {
  content: "\e645";
}
.icon-new-customer:before {
  content: "\e646";
}
.icon-online-banking:before {
  content: "\e647";
}
.icon-percent:before {
  content: "\e648";
}
.icon-prize-drawers:before {
  content: "\e649";
}
.icon-pull-quote:before {
  content: "\e64a";
}
.icon-quicklinks:before {
  content: "\e64b";
}
.icon-quote:before {
  content: "\e64c";
}
.icon-rates:before {
  content: "\e64d";
}
.icon-reward:before {
  content: "\e64e";
}
.icon-right-arrow:before {
  content: "\e64f";
}
.icon-search-disc:before {
  content: "\e651";
}
.icon-secure:before {
  content: "\e652";
}
.icon-share-dealing:before {
  content: "\e653";
}
.icon-sterling:before {
  content: "\e654";
}
.icon-tick:before {
  content: "\e655";
}
.icon-trading:before {
  content: "\e656";
}
.icon-transfer-switch:before {
  content: "\e657";
}
.icon-travel:before {
  content: "\e658";
}
.icon-two-people-conversation:before {
  content: "\e659";
}
.icon-warning-symbol:before {
  content: "\e65a";
}
.icon-arrow-left:before {
  content: "\e621";
}
.icon-arrow-right:before {
  content: "\e622";
}
.icon-delicious:before {
  content: "\e610";
}
.icon-digg:before {
  content: "\e611";
}
.icon-email:before {
  content: "\e612";
}
.icon-facebook:before {
  content: "\e613";
}
.icon-print:before {
  content: "\e614";
}
.icon-share:before {
  content: "\e616";
}
.icon-stumbleupon:before {
  content: "\e617";
}
.icon-twitter:before {
  content: "\e618";
}
.icon-cross2:before {
  content: "\e60f";
}
.icon-padlock:before {
  content: "\e60a";
}
.icon-search:before {
  content: "\e60b";
}
.icon-pencil:before {
  content: "\e60c";
}
.icon-telephone:before {
  content: "\e60d";
}
.icon-pointer:before {
  content: "\e60e";
}
.icon-facebook-disc:before {
  content: "\e604";
}
.icon-twitter-disc:before {
  content: "\e605";
}
.icon-youtube-disc:before {
  content: "\e606";
}
.icon-house:before {
  content: "\e607";
}
.icon-logo:before {
  content: "\e608";
}
.icon-tick-disk:before {
  content: "\e619";
}
.icon-reddit:before {
  content: "\e615";
}
.icon-triangle-left:before {
  content: "\e61c";
}
.icon-triangle-down:before {
  content: "\e61d";
}
.icon-triangle-up:before {
  content: "\e61e";
}
.icon-triangle-right:before {
  content: "\e61f";
}
.icon-angle-down:before {
  content: "\e61a";
}
.icon-angle-up:before {
  content: "\e61b";
}
.icon-triangle-up-down:before {
  content: "\e620";
}
.icon-HFX_Whistle_icon_Black:before {
  content: "\e908";
}
.icon-HFX_Alarm_icon_Black:before {
  content: "\e909";
}
.icon-joint:before {
  content: "\e905";
}
.icon-tablet:before {
  content: "\e903";
}
.icon-thumbs:before {
  content: "\e904";
}
.icon-flame:before {
  content: "\e900";
}
.icon-turkey:before {
  content: "\e901";
}
.icon-woolly-hat:before {
  content: "\e902";
}
.icon-monitor:before {
  content: "\e807";
}
.icon-spanner-screwdriver:before {
  content: "\e806";
}
.icon-dog-doorstop:before {
  content: "\e800";
}
.icon-dripping-tap:before {
  content: "\e801";
}
.icon-house-with-chimney:before {
  content: "\e802";
}
.icon-lightbulb:before {
  content: "\e803";
}
.icon-picket-fence:before {
  content: "\e804";
}
.icon-radiator:before {
  content: "\e805";
}
.icon-shovel:before {
  content: "\e813";
}
.icon-snowflake:before {
  content: "\e814";
}
.icon-snowy-house:before {
  content: "\e815";
}
.icon-solar-cell:before {
  content: "\e816";
}
.icon-spannner-screwdriver:before {
  content: "\e817";
}
.icon-window-frame:before {
  content: "\e81e";
}
.icon-cards:before {
  content: "\e664";
}
.icon-10:before {
  content: "\e650";
}
.icon-1:before {
  content: "\e65b";
}
.icon-2:before {
  content: "\e65c";
}
.icon-3:before {
  content: "\e65d";
}
.icon-4:before {
  content: "\e65e";
}
.icon-5:before {
  content: "\e65f";
}
.icon-6:before {
  content: "\e660";
}
.icon-7:before {
  content: "\e661";
}
.icon-8:before {
  content: "\e662";
}
.icon-9:before {
  content: "\e663";
}
.icon-dotted-line:before {
  content: "\e634";
}
.icon-plus-cms:before {
  content: "\e62c";
}
.icon-clock:before {
  content: "\e609";
}
.icon-dash:before {
  content: "\f0ca";
}
.icon-plus:before {
  content: "\f05d";
}
.icon-pile-coins:before {
  content: "\e906";
}
.icon-mouse:before {
  content: "\e907";
}

