
.supertag #flamur3 {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding: 20px 0;
}

.firstpage #flamur3 {
	border-bottom: 1px solid #cdcdcd;
	border-top: 1px solid #cdcdcd;
	padding: 22px 0 24px 0;
	margin: 27px 0 0 0;
}


.supertag #flamur3 {
  margin-bottom: 10px;
}
#news_day_container  #flamur3,
#daytab #flamur3 {
  border-top: 1px solid #cdcdcd;
  padding: 20px 0;
}

.otherblock #flamur3 {
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #cdcdcd;
  display: none;
}

#dtab3 #flamur3 {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding: 20px 0;
}

.con5 #flamur3 {
  clear: both;
  margin: 0 auto;
}

#flamur3 {
  clear: both;
  text-align: center;
}

.tvmenu #flamur3 {
  width: 400px;
 float: left;
  padding: 10px 0 0 20px;
  margin: 10px 0 0 0;
}

.bnr400 {
 border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  padding: 20px 0;
  width: 710px;
  display: none;
}

.video_page  {
  border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	padding: 20px 0;
	width: 100%;
	height: 240px;
	margin: 10px 0 0px 0;
}
.video_page div {
	margin: 0 auto;
}


.btm-banner  #flamur3 {
  border-top: 1px solid #CDCDCD;  
  padding-top:20px;
}
.middle-banner {
	border-top: 1px solid #cdcdcd; 
	border-bottom: 1px solid #cdcdcd; 
	padding: 20px 0;
	clear: both;
}
.banner_inside {
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	padding: 10px 0;
}

.bl_flamur400 {
	border-top: 1px solid #cdcdcd; 
	border-bottom: 1px solid #cdcdcd; 
	padding: 20px 0; 
	clear: both;    
	width: 420px;
}

.col3_1 .bl_flamur400 {
  margin: 20px 0 0 0;
}

.listbnr {
  padding: 20px 0;
  border-top: 1px solid #cdcdcd; 
  display: none;
}
#lenta #flamur4 {
	margin: 10px 0px;
}