body {
	margin: 0 20px 0 20px;
}

.news_page_brd,
.menuWrap,
.out,
#ticker,
#ears,
#flamur1,
#topmenu,
.comm,
.nvideo,
.tags,
.comments,
.temaout,
#takzhe,
#flamur3,
.content .c_right,
#main_top_news {
  display: none !important;
}

#logo {
  float: left;
  width: 100px;
  margin: 0;
}

#logo a {
  overflow: hidden;
  width: 100px;
  height: 95px;
  margin: 0 0 0 0px;
  padding: 0;
}

.content,
.content .c_left {
  width: 100%;
}

#logo a span {  display: block;  }

#itemcontent {
 margin: 40px 0 0px 0; 
 padding: 0 0 25px 0;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: solid 1px #ccc;
 overflow: hidden;
}


h2.prn {
  display: block;
}

.copy_prn {
  display:block;
}

.img_prn {
  display: block;
   padding: 10px 0 0 0;
   border-top: 2px solid #000; 
   margin: 0 auto;
}
h2.prn  {
	position: absolute;
	top:20px;
	left: 150px;
    color: #000;
    padding: 5px 8px 0 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    display: block;
    float: left;
    width: 520px;
}

#top_flash {
	display: none;
	
}
#itemcontent h2.lead {
    background: none repeat scroll 0 0 #E2E0E0;
    color: #000;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    margin:0;
    padding: 25px 0px;
    text-shadow: none;
}
#itemntext {
    color: #000;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

#itemntext #itemnsoc {
    border-left: none;
    clear: left;
    color: #818181 !important;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 25px;
    width: auto;
}
#itemntext #itemnsoc .ndate {
  color: #818181 !important;
  font-size: 12px;
  line-height: 20px;	
}
.ndate {
  color: #818181 !important;
  padding: 5px 0 0 0;
  font-size: 12px;
  line-height: 20px;	
}
.issp {
	display: none;
}

.pr_copyright {
	display: block;
	color: #818181 !important;
	font-size: 12px;
	text-align: center;
	margin: 0px 20px 20px 20px;
	text-transform: uppercase;
}