*{padding: 0; margin: 0;}

#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #272727;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666;
}

#TB_window a:link {color: #666;}
#TB_window a:visited {color: #666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666;}
#TB_window a:focus{color: #666;}

#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background-color:#f0f0ee;
	filter:alpha(opacity=85);
	-moz-opacity: 0.85;
	opacity: 0.85;}
.TB_overlayBG {
	background-color:#f0f0ee;
	filter:alpha(opacity=85);
	-moz-opacity: 0.85;
	opacity: 0.85;
}

* html #TB_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	z-index: 102;
	color:#272727;
	display:none;
	text-align:left;
	top:50%;
	left:50%;
	xmargin-top: -155px !important;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
  border: 0;
}

#TB_caption{/*NEW*/
  overflow: hidden;
  height: 20px;
  font-size: 18px;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #252525;
  position: absolute;
    left: px;
    bottom: -20px;
}

#TB_closeAjaxWindow,
#TB_closeWindow {
	float: right;
	display: block;
	width: 18px;
	height: 18px;
	top: -22px;
	right: -22px;
	position: absolute;
}
.close_btnTB {
	position: relative;
	width: 120px;
	margin: 0 auto;
}
.close_btnTB #TB_closeAjaxWindow {
	padding:7px 10px 5px 10px;
	margin: 0 auto;
	text-align:center;
	width: 100px;
	height: 20px;
	background: #272727;
	color: #fff;
	float: none;
}
.close_btnTB #TB_closeAjaxWindow a {
	color: #f0f0ee;
	text-decoration: none;
	font-size: 14px;
}

.close_btnTB #TB_closeWindowButton {
	background: none;
	position: relative;
	top: 40px;
	right: 0;
	display: block;
	width: 115px;
	height: 10px;
}

#TB_ajaxWindowTitle{
	font-size: 60px;
	padding: 30px 10px 30px 10px;
	font-weight: bold;
	background: url(/i/line_title.gif) no-repeat bottom;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	text-align: center;
  margin: 0 auto;
    /*width: 578px;*/
}

#TB_title{
  font-size: 18px;
  float: none;
  position: relative;
  text-align: center;
}

#TB_ajaxContent{
	clear:both;
	padding: 0;
	overflow:auto;
	text-align: center;
}

#TB_ajaxContent #hiddenContent{
	padding: 40px 10px 0 10px;
	font-size: 14px;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}

/*------------------------------------*/

#TB_closeWindowButton {
	position: relative;
	top: 0px;
	right: 0;
	display: block;	
	width: 18px;
	height: 18px;
	background: url(/images/close_icon.png) no-repeat 0 0;		
}

#TB_prev span, #TB_next span, #TB_closeWindowButton span { display: none;  }

#TB_prev {
  background-image: url(/img/prev.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 45%;
}

#TB_next {
  background-image: url(/img/next.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 45%;
}

#TB_next a, #TB_prev a {
  width: 30px;
  height: 30px;
  display: block;
}

#trailerHeader {
  font-size: 18px;
  margin: 0 0 0 30px;
  height: 42px;
  width: 480px;
  overflow: hidden;
}

#trailerInfo {
  margin-top: 20px;
  height: 80px;
  overflow: auto;
}

#trailerInfo5 {
  margin: 30px;
  overflow: auto;
  height: 245px;
}

#promotrailer {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.line_title {
	height: 1px;
	width: 120px;
	background: #b1b1b3;
	
}