/*  Global Formatting */h1 {
	font-size:16px;
	line-height: 2em;
	font-weight: 900;
}
h2 {
	font-size:15px;
	line-height: 2em;
	font-weight: 900;
}
h3 {
	font-size:14px;
	line-height: 2em;
	font-weight: 900;
}
h4 {
	font-size:13px;
	line-height: 2em;
	font-weight: 900;
}
h5 {
	font-size:12px;
	line-height: 2em;
	font-weight: 900;
}
h6 {
	font-size:11px;
	line-height: 2em;
	font-weight: 900;
}
td {
	
	margin: 0 0;
	padding: 0 0;
	vertical-align:top;
}
th {
	font-size: 12px;
}
a.image, a.image:hover {
	border:0;
}
a, a:visited {
	text-decoration:none;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition:  all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
a:hover {
	color: #e6252a;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition:  all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
ul {
	padding-right:0px
}/*STYLE--------------------------------------------------------- */
table.blog {
}
.article_separator {
	clear: both;
	display: block;
	background: url(../images/seperator.png) no-repeat center top;
	height: 30px;
}
.article_column {
}
.column_separator {
	padding: 0 25px;
}/* content tables */
td.sectiontableheader {
	padding: 4px;
	border-right: 1px solid #fff;
}
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td {
	padding: 10px;
}
td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 {
	padding: 10px;
}
table.contentpane {
	border: none;
	width: 100%;
	padding-right:10px
}
table.contentpane a {
}
table.contentpaneopen {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
.contentpane ul li {
	line-height:25px
}
table.contenttoc {
	margin: 0 10px 10px 0px;
	padding: 0;
	width: 35%;
	float: right;
}
table.contenttoc a {
	text-decoration: none;
}
table.contenttoc td {
	padding: 1px 25px 1px 5px;
}
table.contenttoc th {
	padding: 0 0 3PX;
	border-bottom: 1px solid #CCCCCC;
	text-indent: 5px;
}
table.poll {
	line-height: 1em;
	padding: 0;
	width: 100%;
	border-collapse: collapse;
}
table.pollstableborder {
	padding: 0;
	width: 100%;
	border: none;
	text-align: right;
	direction:rtl;
}
table.pollstableborder img {
	vertical-align: baseline;
}
p {
	line-height:20px
}
table.pollstableborder td {
	padding: 4px!important;
	border-collapse: collapse;
	border-spacing: 0;
}
table.pollstableborder tr.sectiontableentry1 td {
	background: #ECECEC;
}
table.searchintro {
	padding: 10px 0;
	width: 100%;
}
table.searchintro td {
	padding: 5px!important;
}
table.adminform {
}
.adminform .inputbox {
}
.blog_more {
	padding: 10px 0;
}
.blog_more strong {
	margin: 0 0 5px;
	display: block;
	font-size: 125%;
}
.category {
	font-weight: bold;
}
h1.componentheading, .componentheading {
	padding: 15px 15px 15px;
	margin: 0 0 10px;
	color: #C00
}
.componentheading {
	font-size: 100%;
	font-weight: bold;
	color: #C30
}
table.blog .contentheading {
	font-size:100%;
}
.contentheading {
	height:100px;
	font-size: 100%;
	font-weight:bold
}
a.contentpagetitle, a.contentpagetitle:hover, a.contentpagetitle:active, a.contentpagetitle:focus {
	text-decoration: none !important;
}
a.readon {
	float: left;
	margin: 0;
	padding: 0 20px 0 0;
	display: block;
	text-decoration: none;
	color:#fff;
	font-size:12px;
	background: url(../images/readon.png) no-repeat right 99%;
	width: 102px;
	line-height: 20px;
}
a .readon:visited {
	color:#FFF
}
a.readon:hover, a.readon:active, a.readon:focus {
	color:#ccc;
	background: url(../images/readon.png) no-repeat right top;
}/*important*888888888888888888888888888888888888888888888888888888888*/
table.contentpaneopen td, table.contentpane td {
	margin-top:5px
}
table.contentpaneopen, table.contentpane, table.blog {
	width: 100%;
}
.moduletable {
	padding: 0;
}
ul.pagination {
	margin: 15px auto;
	padding: 10px 0;
}
ul.pagination li {
	margin: 0;
	padding: 0;
	display: inline;
	background: none;
}
ul.pagination li span {
	padding: 2px 5px;
}
ul.pagination a {
	padding: 2px 5px;
	border: 1px solid #F6F6F6;
}
ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus {
	border: 1px solid #ECECEC;
	background: #FFFFFF;
}
.pagenavbar {
	padding-right: 14px;
}
.pagenavcounter {
	padding: 8px 14px 0 14px;
}
.sectiontableheader {
	padding: 8px 5px;
	background: #444444;
	color: #FFFFFF;
}
.sectiontableheader a {
	color: #FFFFFF;
}
tr.sectiontableentry1 td {
	padding: 8px 5px;
}
tr.sectiontableentry2 td {
	padding: 8px 5px;
}
tr.sectiontableentry1:hover td, tr.sectiontableentry2:hover td {
}
.smalldark {
	text-align: right;
	direction:rtl;
}
div.syndicate div {
	text-align: center;
}
.pollstableborder tr.sectiontableentry1 td, .pollstableborder tr.sectiontableentry2 td {
	background: none;
}/* META--------------------------------------------------------- */
.article-tools {
	border-top: 1px solid #DDDDDD;
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 15px;
	background: #ECECEC;
	font-size: 10px;
}
.article-meta {
	padding: 5px;
	width: 80%;
	float: left;
	font-size: 10px;
}
.createdby {
	padding: 3px 3px 3px 20px;
	font-size: 10px;
}
.createdate, .createdate span {
	padding: 0px 5px 3px 0px;
	margin-bottom:10px;
	color: #ccc;
	font-size: 10px;
}
.modifydate {
	font-weight:bold;
	margin: 0px;
	font-size: 10px;
	font-weight: normal;
}
div.buttonheading {
	float: left;
	width: 15%;
}
.buttonheading img {
	margin: 0px 5px 0 0;
	border: 0;
	float: left;
}
h1.logo {
}
h1.logo, h1.logo-text {
	margin: 0;
	padding: 0;
	font-size: 180%;
	text-transform: uppercase;
	width:240px;
	float:left;
}
h1.logo a {
	width: 220px;
	display: block;
	height: 82px;
	position: relative;
	z-index: 100;
	margin:0 10px;
}
h1.logo a span {
	position: absolute;
	top: -1000px;
}
h1.logo-text a {
	color: #CCCCCC !important;
	text-decoration: none;
	outline: none;
	position: absolute;
	bottom: 40px;
	left: 5px;
}
p.site-slogan {
	margin: 0;
	padding: 0;
	padding: 2px 5px;
	color: #FFF;
	background: #444;
	font-size: 92%;
	position: absolute;
	bottom: 20px;
	left: 0;
}
.article_column {
	float: left;
	position: relative;
}
.cols1 .article_column {
	width: 100%;
}
.cols2 .article_column {
	width: 50%;
}
.cols3 .article_column {
	width: 33.33%;
}
.cols4 .article_column {
	width: 25%;
}
.cols5 .article_column {
	width: 20%;
}
.column div.moduletable, .column div.module, .column div.module_green, .column div.module_turquoise, .column div.module_lightgreen { /* for side columns and spotlight, we only need to add margin or padding to Module */
	margin: 0 8px 5px;
}/* SPOTLIGHT--------------------------------------------------------- */
#mj-topsl {
}
.mj-box {
	float: right;
	overflow: hidden;
	margin: 4px 0 2px;
}
.leading {
	margin: 0 0;
	padding: 0 0;
}
#page {
	margin: 0;
	padding: 0;
}
#introitems67-cat1 {
	margin: 0 28px 5px 0;
}
#written_comments_title, #write_comment_title {
	background: none;
}
table.blog .contentheading {
	font-size:100%;
}
.contentheading {
	font-size: 100%;
	font-weight:bold
}
.contentdescription {
	padding-bottom: 10px;
	padding-right:10px
}
h2.contentheading {
	height: 50px;
	margin: 15px -2px 0 0;
	padding: 15px 15px 5px 10px;
	color:#fff;
	line-height:20px;
	background: url(../images/contentheading_60.png) no-repeat right top;
}
h2.contentheading a:link, .contentheading a:link, h2.contentheading a:visited, .contentheading a:visited {
	color:#fff;
}
h2.contentheading a:hover, .contentheading a:hover {
	color: #999;
}
#form-login {
	margin: 0 5px;
}
#form-login-username .inputbox {
	width: 135px;
	margin: 5px 5px 2px;
}
#form-login-password .inputbox {
	width: 135px;
	margin: 5px 5px 2px;
}
#form-login .button {
	height: 25px;
	width: 60px;
	border: none;
	color: #000;
}
#form-login ul li a:link, #form-login ul li a:visited {
	color: #000;
}
#form-login ul li a:hover {
	color: #999;
}
.button {
	font-family: Tahoma, "Times New Roman", Times, serif;
}
#form-login ul li {
	background: url(../images/bullet.png) no-repeat right 6px;
	border: none;
	padding: 0 12px 0 0;
	margin: 0 0;
	list-style: none;
	display: block;
	line-height:20px;
}
#form-login ul li:hover {
	background: url(../images/bullet.png) no-repeat right 6px;
	border: none;
	padding: 0 12px 0 0;
	margin: 0 0;
	list-style: none;
	display: block;
}
.blog_more ul li {
	background: url(../images/arrow.png) no-repeat right 5px;
	padding: 0 12px 0 0;
	margin: 0 0;
	display: block;
	list-style: none;
}
.blog_more strong {
	font-size: 14px;
}
.newsitem_tools {
	overflow: hidden;
}
#mj_com_60 h2.contentheading {
	height: 50px;
	margin: 0 -2px 0 0;
	padding: 7px 15px 5px 10px;
	color:#000;
	line-height:20px;
	background: url(../images/contentheading.png) no-repeat right top;
	margin: 0 -10px 0 0;
}
