/**
* @Created:		p30doctor.com (Abolfazl Talebi)
* @version:		P30 Bubblemenu
* @package:		Joomla
* @copyright:	Copyright (C) 2010 P30doctor.com. All rights reserved.
* @license:		GNU/GPL, see LICENSE.php
* @Email:		abimanager@gmail.com
* Joomla! is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/



.bubblewrap{
list-style-type:none;
margin:0;
padding:0;
}

.bubblewrap li{
display:inline-block;
zoom:1; /*Trigger haslayout in IE7 and less*/
*display:inline; /*For IE7 and less*/
position:relative;
}

.bubblewrap li img{
position:absolute;
left:0;
top:0;
border:0;
}

.bubblewrap .tooltip{ /*CSS for image tooltip (alt attribute of image)*/
position:absolute;
font:bold 12px Arial;
padding:2px;
width:100px;
text-align:center;
background:white;
}