/* ********************************************** CLEAR FIX  */
.clearfix {display: inline-block;}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* ****************************************** EO CLEAR FIX   */
.red{
	color:white;
	background-color:#c00 !important;
}
.green{
	color:white;
	background-color:#005C1F !important;
}
.full-width
{
	width:100%;
}

img{
	border-width:0px;
}
ul{
	list-style: none;
	margin:0px;
	padding:0px;
}
.english{
	text-align: left;
}

input[readonly]
{
  background-color:#EEEEEE !important; 
  
}
textarea[readonly]
{background-color:#EEEEEE !important; }
.toolset .toolsetItem{
	float:right;
	padding-right:5px;
	margin-left:5px;
	background: no-repeat;
	line-height:20px;
	padding-top:3px;
	width:auto;
}
.toolsetItem a{
	text-decoration:none;line-height:20px;
}



/*************************** MESSAGE */
.info {
	background:#EFF8FF url() no-repeat scroll 99% 50%;
	border-color:#067AEF;
	color:#333;
	direction:rtl;
}
.info2 {
	border-color:#FFF;
	color:#555;
	direction:rtl;
}
.show {
	background:#B2D7E3 url() no-repeat scroll 99% 50%;
	border-color:#007ACC;
	color:#093;
	direction:rtl;

}
.message{
	border-style:solid;
	border-width:1px;
	margin:5px 0;
	padding:10px 50px 10px 10px;
	text-align:right;
	line-height: 17px;
}
.error {
	background:#FFE400 no-repeat scroll 99% 50%;
	border-color:#B99400;
	color:#000000;
	direction:rtl;
}
/************************ Eo MESSAGE */

/****************************** GRID */
.grid {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
	font-size: 11px;
	line-height: 19px;
	border: 1px solid #C4DAD4;
}
.grid th {
	color: #fff;
	padding: 2px;
	font-weight: normal;
	text-align: center;
	background-color: #FF6600;
}
.grid tr:hover{
	background: #efefef;
}
.grid tr{
	background: #FFF;
}
.grid tr.over{
	background: #F1F1F1;
}
.grid td div{
	overflow: hidden;
	white-space:nowrap;
/*
	width: 100%;
*/
}
.grid td {
	direction:rtl;
	padding: 2px;
	border: 1px dashed #D1D1D1;
}

/*************************** EO GRID */
/****************************** Form */
.form label{
	font-size:12px;
	display:block;
	padding:2px 5px;
	color: #535354;
	font-weight:bold;
	
}
.formSelect{
	min-width: 200px;
/*
	font-size:14px;
	padding:4px;
*/
}
.formTextBox{
	width:250px;
	font-size:14px;
	border: 1px solid #FFCA12;
	padding: 4px;
}
.formTextBox:read-only, .formTextarea:read-only{
	color: #82880;
}
.label{
	width:250px;
	font-size:14px;
	border: 1px solid #FFCA12;
	padding: 4px;
	color: #82880;
	background-color:#EEEEEE !important;
}
.formTextarea{
	
	font-size:14px;
	border: 1px solid #FFCA12;
	padding: 4px;
}
.form i{
	display:block;
	color:#FF2295;
	font-style:normal;
}
.form .formSubmit:hover{
	background:#387DB5;
}
.form .formSubmit{
	width:120px;
	height:24px;
	background: #3C89C8;
	color: #FFF;
	border-width:0px;
	-moz-border-radius: 3px;
	cursor:pointer;
	text-align:center;
	vertical-align: middle;
	display: inline-block;
}
.formSubmit a{
	color: #FFF;
}
.form .row{
	margin:20px;
}
.form_help{
	color:#777;
}
/*************************** EO Form */


/* **************************** BOX  */
.box_titleImg{
	background:url(../img/template/tpl_title.gif?2) no-repeat;
	height: 25px;
}
.tpl_colLeft .box{
	margin-bottom: 20px;
}
.box_title{
	border-bottom:1px solid #DEDEDE;
	padding: 5px;
	color: #333;
	font-size: 18px;
	font-family: arial;
	
}
/* ************************* EO BOX  */
/* ************************** PAGER  */
.pager {
	height: 17px;
	text-align: left;
	width: 300px;
	max-width: 300px;	
	margin: 0px auto;
	direction: rtl;
	margin: 3px auto;
}
.pager_last {
	padding-top:3px;
	color: #999;
	font-size:11px;
}
.pager ul {
	height: 17px;
}
.pager li {
	margin-right: 5px;
	float: right;
	border:1px solid #eee ;
}
.pager a {
	min-width:17px;
	line-height:17px;
	text-align:center;
	display: block;
	border: 1px solid #ccc;
}
.pager .current {
    min-width:17px;
	line-height:17px;
	text-align:center;
	display: block;
	border: 1px solid #ccc;
	background: #6ECBF0;
}
.pager a:hover {
	background: #0098D4;
	border: 1px solid #000;
	color: #FFFFFF;
}
/* *********************** EO PAGER  */


.postBody_pic_row img{
	width: 45px;
	height: 45px;
}
.postBody_pic_row{
	float: right;
	margin: 3px;
}