﻿@import url(reset.css);

@import url(default.css);

@font-face {
	font-family: 'A1tahoma';
	src: url('fonts/A1tahoma.ttf') format('truetype');
	/* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

.pagenav {
	padding: 2px 7px 6px;
	background-color: #b91518;
	color: #fff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-o-border-radius: 6px;
}

.pagenav:hover {
	background-color: #f7f6f0;
	color: #E6252A;
	transition: all 0.7s ease 0s;
}

.moduleright1  .module-m-m {
	position: relative;
	top: -15px;
}

#listings .pages-links {
	color: #b91518 !important
}

.pages-counter {
	padding: 10px 0px;
}

body {
	background: #fff;
	color: #585858;
	font-family: 'A1tahoma', tahoma;
	font-size: 12px;
	line-height: 23px;
	margin: 0 auto;
}

small {
	font-size: 11px !important;
}

#theTicker span {
	font-size: 12px !important;
}

a {
	text-decoration: none;
	color: #585858;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-ms-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}

a:hover {
	color: #e6252a;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-ms-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}

ul li a,ul li a:visited {
	color: #585858;
}

ul li a:hover {
	color: #e6252a;
}

a:focus {
	outline-width: medium;
	outline-style: none;
	outline-color: -moz-use-text-color;
}

ul li {
	display: block;
	list-style-type: none;
	list-style-images: none;
	list-style-position: outside;
	text-align: justify;
}

#buttons-expanded ul li {
	display: inline;
	list-style-type: none;
	list-style-images: none;
	list-style-position: outside;
	text-align: justify;
}

#rahnama_wrapper {
	width: 998px;
	direction: rtl;
	text-align: right;
	margin: 30px auto 0;
}

#rahnama_wrapper_admin {
	width: 100%;
	direction: rtl;
	text-align: right;
	margin: 30px auto 0;
}

#rahnama_w_c_2 {
	background-color: #fff;
	padding: 0 0;
	width:99%;
}

#rahnama_w_t {
	background: url(../images/w_t.png) no-repeat right top;
	height: 10px;
	margin: -15px 0 0 0;
}

#rahnama_w_c {
	background: url(../images/w_c.png) repeat-y right top;
	padding: 0 0;
}

#rahnama_w_b {
	background: url(../images/w_b.png) no-repeat right bottom;
	height: 10px;
}
/* ========== Top ========== */
#rahnama_1_1_wrapper {
	float: right;
	width: 360px;
	background: url(../images/logo1.png) no-repeat right bottom;
	height: 80px;
}
/* ========== End Top ========== */
/* ========== ADS ========== */
#rahnama_1_2_wrapper {
	float: left;
	width: 510px;
	margin: 0 0 10px 20px;
}
/* ========== End ADS ========== */
#rahnama_1_wrapper {
	overflow: hidden;
}
/* ========== Logo ========== */
#rahnama_2_1_wrapper {
	float: right;
	width: 280px;
	background: url(../images/logo2.png) no-repeat right top;
	height: 24px;
	margin: 5px 10px 0 0;
}
/* ========== End Logo ========== */
/* ========== News Flash ========== */
#rahnama_2_2_wrapper {
	float: right;
	width: 310px;
}
/* ========== End News Flash ========== */
/* ========== Icon ========== */
#rahnama_2_3_wrapper {
	float: left;
	width: 252px;
	padding: 3px 0 0 0;
	margin: 0 0 0 0;
}
/* ========== End Icon ========== */
#rahnama_2_wrapper {
	background: url(../images/back_news.png) repeat-x right top;
	height: 33px;
	margin: 0 9px;
}
/* ========== Right ========== */
#rahnama_3_1_wrapper {
	float: right;
	width: 200px;
	padding: 0 10px 0 0;
}

#rahnama_3_1_wrapper .module-style .module-t {
	background: none;
	height: 0;
}

#rahnama_3_1_wrapper .module-style .module-m {
	background: none;
	padding: 0 0;
}

#rahnama_3_1_wrapper .module-style .module-b {
	background: none;
	height: 0;
}

#rahnama_3_1_wrapper .module-style ul li {
	background: url(../images/menu_ul.png) no-repeat right bottom;
	padding: 8px 14px 0 0;
	margin: 0 0;
	list-style: none;
	display: block;
	height: 28px;
	font-weight: bold;
}

#rahnama_3_1_wrapper .module-style ul li:hover {
	background: url(../images/menu_ul.png) no-repeat right -2px;
	padding: 8px 14px 0 0;
	margin: 0 0;
	list-style: none;
	display: block;
	height: 28px;
}

#rahnama_3_1_wrapper .module-style ul li img {
	float: right;
	margin: -6px 0 0 0;
	padding: 0 0 0 5px;
}

#rahnama_3_1_wrapper .module-style h3 {
	background: none;
	height: 0;
	padding: 0;
	margin: 0 0;
}

#rahnama_3_1_wrapper .module-style h3 span {
	color: #fff;
}

#rahnama_3_1_wrapper .module-t {
	background: url(../images/right_t.png) no-repeat right top;
	height: 30px;
}

#rahnama_3_1_wrapper .module-m {
	background: url(../images/right_c.png) repeat-y right top;
	padding: 0 10px;
	margin: 0 0;
}

#rahnama_3_1_wrapper .module-b {
	background: url(../images/right_b.png) no-repeat right bottom;
	height: 10px;
}

#rahnama_3_1_wrapper h3 {
	padding: 0 3em 0 0;
	margin: 0 0 -20px 0;
}

#rahnama_3_1_wrapper h3 span {

}

#rahnama_3_1_wrapper .module-black .module-t {
	background: url(../images/right_black_t.png) no-repeat right top;
	height: 30px;
}

#rahnama_3_1_wrapper .module-black .module-m {
	background: url(../images/right_black_c.png) repeat-y right top;
	padding: 0 10px;
}

#rahnama_3_1_wrapper .module-black .module-b {
	background: url(../images/right_black_b.png) no-repeat right bottom;
	height: 10px;
}

#rahnama_3_1_wrapper .module-black h3 {
	padding: 0 3em 0 0;
}

#rahnama_3_1_wrapper .module-black h3 span {

}

/* ========== End Right ========== */
/* ========== User 1 ========== */
#rahnama_3_2_wrapper {
	float: right;
	width: 525px;
}

#rahnama_3_2_wrapper .module-style .module-m {
	padding: 5px 15px 0 10px;
	width: 542px;
	margin: 5px 0 0 0;
}

/* ========== End User 1 ========== */
/* ========== Left ========== */
#rahnama_3_3_wrapper {
	float: left;
	width: 200px;
	margin: 0 0 0 10px;
}

#rahnama_3_3_wrapper .module-login {
	background: url(../images/left_login.png) no-repeat right top;
	height: 40px;
	padding: 8px 5em 0 0;
}

#rahnama_3_3_wrapper .module-login a,#rahnama_3_3_wrapper .module-login p
	{
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

#rahnama_3_3_wrapper .module-m img {
	padding: 6px 0 2px;
}

#rahnama_3_3_wrapper .ads embed {
	padding: 6px 0 2px 0;
}
/* ========== End Left ========== */
#rahnama_3_wrapper {
	overflow: hidden;
}
/* ========== Bot Menu ========== */
#rahnama_4_1_wrapper {
	float: right;
	width: 980px;
	background: url(../images/bg_botmenu.png) no-repeat center bottom;
	height: 30px;
	text-align: center;
}

#rahnama_4_wrapper {
	overflow: hidden;
}
/* ========== End Bot Menu ========== */
/* ========== Footer ========== */
#rahnama_5_1_wrapper {
	float: right;
	width: 980px;
	text-align: center;
	padding: 5px;
}

#rahnama_5_wrapper {
	overflow: hidden;
}
/* ========== End Footer ========== */
.clear {
	clear: both;
}
/* ========== Content ========== */
#rahnama_60 {
	width: 570px;
	float: right;
	padding: 0;
	margin: 0 0;
}

#rahnama_60 .news_item_f {
	width: 500px;
	margin: 0 0;
	padding: 0 0;
}

#rahnama_60 #rahnama_content_c {
	padding: 0 0 10px 0;
	width: 565px;
	margin: 0px 0 0 0;
}

#rahnama_content_full {
	padding: 0 15px 10px 10px;
	width: 948px;
	margin: 0px 10px 10px 10px;
}

#rahnama_1_1_wrapper>div.header.clearfix {
	padding-right: 250px;
}

#rahnama_80 {
	width: 760px;
	float: right;
	padding: 0;
	margin: 0 5px 0 0;
}

.news_item_f {
	width: 700px;
}

#rahnama_100 {
	width: 960px;
	padding: 0;
	margin: 0;
}

.rahnama_width1 {
	overflow: hidden;
}

#rahnama_80 #rahnama_content_t {
	background: url(../images/content_t.png) no-repeat right top;
	height: 14px;
}

#rahnama_80 #rahnama_content_c {
	background: url(../images/content_c.png) repeat-y right top;
	padding: 0 10px;
}

#rahnama_80 #rahnama_content_b {
	background: url(../images/content_b.png) no-repeat right bottom;
	height: 14px;
	padding: 0 0 10px 0;
}

#rahnama_100 #rahnama_conentt_t {
	background: url(../images/content_100_top.png) no-repeat right top;
	height: 10px;
}

#rahnama_100 #rahnama_conent_c {
	background: url(../images/content_100.png) repeat-y right top;
	padding: 0 10px;
	color: #000;
}

#rahnama_100 #rahnama_content_b {
	background: url(../images/content_100_bot.png) no-repeat right bottom;
	height: 10px;
}
/* ========== End Content ========== */
#rahnama_user {
	overflow: hidden;
	margin: 3px 3px 3px 0px;
}

#subcats_t {
	background: url(../images/sub_t.png) no-repeat right top;
	height: 30px;
}

#subcats_c {
	background: url(../images/sub_c.png) repeat-y right top;
	padding: 0 10px;
	width: 173px;
	min-height: 80px;
	line-height: 14px;
}

#subcats_b {
	background: url(../images/sub_b.png) no-repeat right bottom;
	height: 30px;
}

div.hierarchylist-title {
	font-family: 'A1tahoma', tahoma;
	padding: 4px 30px 0 0;
	font-weight: bold;
}

div.hierarchylist-title a {
	font-size: 11px !important;
	font-weight: bold;
}

#subcats .ch-link a,#relcats .ch-link a {
	font-family: 'A1tahoma', tahoma;
	color: #333;
	line-height: 16px;
	font-size: 12px;
}

#subcats .ch-link a:hover,#relcats .ch-link a:hover {
	color: #e6252a;
}

small {
	color: #868686;
}

.search {
	background: url(../images/bg_search.png) no-repeat right top;
	height: 35px;
	width: 568px;
}

.search:hover {
	background: url(../images/bg_search.png) no-repeat right bottom;
	height: 35px;
}

.search .inputbox {
	width: 470px;
	margin: 3px 5px 0 0;
	float: right;
	height: 28px;
	background: none;
	border: none;
	font-family: 'A1tahoma', tahoma;
	padding: 0 10px 0 0;
	font-size: 12px;
	color: #868686;
}

.search .search-button {
	float: right;
	width: 35px;
	height: 30px;
	background: none;
	border: none;
	margin: 3px 0 0 0;
}

.hierarchylist-table {
	width: 565px;
	margin-top: 0px;
}

.hierarchylist-seemore {
	background: url(../images/readmore.png) no-repeat right top;
	height: 12px;
	width: 23px;
	text-indent: -9999px;
	position: absolute;
	margin-right: 150px;
}

.hierarchylist-seemore:hover {
	background: url(../images/readmore.png) no-repeat right bottom;
	cursor: pointer;
}

.hierarchylist-title2 a {
	background: url(../images/arrow_2.png) no-repeat right 9px;
	padding: 5px 10px 5px 0;
	margin: 0;
	list-style: none;
	display: block;
	line-height: 20px;
}
/*.hierarchylist-title2 a:hover {
    background: url(../images/arrow_2.png) no-repeat right 9px;

	}
*/
.show {
	display: block;
}

.hidden {
	display: none;
}

.hidden .show {
	display: block;
}

#mj_date {
	width: 200px;
	margin-top: 6px;
}
/*.social-media-share
{
	margin: 0;
	padding: 0;
	height: 39px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E5E5E5), to(#CFCFCF));
	background-image: -moz-linear-gradient(#E5E5E5, #CFCFCF);
	background-image: -webkit-linear-gradient(#E5E5E5, #CFCFCF);
	background-image: -o-linear-gradient(#E5E5E5, #CFCFCF);
	border: solid 1px #B5B5B5;
	border-radius: 6px;
	-moz-border-radius: 6px;
	background: #CFCFCF url(images/bg.jpg) repeat-x;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 1px gray;
	-moz-box-shadow: 0px 1px 1px gray;
	box-shadow: 0px 1px 1px gray;
}*/
.social-media-share .inner {
	display: none;
	position: relative;
	float: left;
	width: 32px;
	height: 30px;
	border: solid 1px #B5B5B5;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E5E5E5),
		to(#CFCFCF));
	background-image: -moz-linear-gradient(#E5E5E5, #CFCFCF);
	background-image: -webkit-linear-gradient(#E5E5E5, #CFCFCF);
	background-image: -o-linear-gradient(#E5E5E5, #CFCFCF);
	border-radius: 6px;
	-moz-border-radius: 6px;
	margin: 3px;
	text-align: center;
	background-image: url(images/plus.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-box-shadow: 0px 1px 1px gray;
	-moz-box-shadow: 0px 1px 1px gray;
	box-shadow: 0px 1px 1px gray;
}

.social-media-share-tooltip {
	position: absolute;
	z-index: 200;
	font-size: 12px;
	color: #fff;
	background-color: #999; //
	padding: 5px;
	margin-top: -10px;
	-ms-box-shadow: 0 0 5px #666;
	-webkit-box-shadow: 0 0 5px #666;
	-moz-box-shadow: 0 0 5px #666;
	-o-box-shadow: 0 0 5px #666;
	box-shadow: 0 0 5px #666;
	-ms-border-radius: .8em .8em .8em .8em;
	-moz-border-radius: .8em .8em .8em .8em;
	-webkit-border-radius: .8em .8em .8em .8em;
	-o-border-radius: .8em .8em .8em .8em;
	border-radius: .8em .8em .8em .8em;
}

.social-media-share ul {
	position: relative;
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: -2px;
	margin-left: -1px;
	overflow: hidden;
	width: 72%;
}

.social-media-share ul li {
	display: inline;
	float: left;
	margin-left: 8px;
}

.social-media-share ul li img {
	border: none;
}

#bu1 {
	width: 195px;
	height: 36px;
	margin-right: 1px;
	margin-top: 2px;
	margin-bottom: 6px;
	cursor: pointer;
	background: url('../images/but-all.png') top right;
}

#bu1:hover {
	background: url('../images/but-all.png') bottom right;
}

#bu3 {
	width: 195px;
	height: 36px;
	margin-right: 1px;
	margin-top: -3px;
	margin-bottom: -2px;
	margin-right: 4px;
	cursor: pointer;
	background: url('../images/but4.png') top left;
}

#bu3:hover {
	background: url('../images/but4.png') bottom left;
}

#bu4 {
	width: 195px;
	height: 36px;
	margin-right: 1px;
	margin-top: -3px;
	margin-bottom: 4px;
	cursor: pointer;
	background: url('../images/but3.png') top right;
}

#bu4:hover {
	background: url('../images/but3.png') bottom right;
}

#bu2 {
	width: 195px;
	height: 36px;
	margin-right: 4px;
	margin-top: 2px;
	margin-bottom: 6px;
	cursor: pointer;
	background: url('../images/but-all.png') top left;
}

#bu2:hover {
	background: url('../images/but-all.png') bottom left;
}

#latest-ads {
	display: block;
	width: 178px;
	padding: 3px 0px 4px;
	border-bottom: 1px dotted #ccc;
	color: #585858 !important;
}

#latest-ads:hover {
	background-color: #fff;
	color: #e5262d !important;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-ms-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}

#com-form-login {
	width: 560px;
	margin-right: 5px;
}

h2.contentheading {
	color: #FF3300 !important;
	height: 27px !important;
	border-bottom: 1px solid #ccc;
	padding: 7px 15px 0 0 !important;
}

.listing-summary1 featured_jome {
	background: #f9dcac !important;
}

#listing {
	border-bottom: 1px solid #ccc;
	padding: 10px 10px 25px;
}

#listings .listing_crm {
	overflow: visible;
	position: relative;
	z-index: 1;

}

.crm_ribbon {
	left: -3px;
	top: -3px;
	position: absolute;
	z-index: 10;
}

.poll td {
	padding: 20px 20px 0 0 !important;
}

span.pagenav {
	color: #ECF0F1;
	background-color: #7F8C8D;
}

.listing-summary1 featured_jome {
	background: #f9dcac !important;
}

#listing {
	border-bottom: 1px solid #ccc;
}



.listing-summary0:hover {
	background-color: #C2E2EF;
}

#listings h3 {
	font-weight: bold;
	color: #EE9A11;
	margin: 0;
}

.listimage {
	float: right;
	margin-left: 5px;
	width: 70px;
	height: 70px;
}

.listing-summary1 {
	width: 150px;
	background-color: #E6E6E6;
	padding: 5px 0;
}

.listing-summary1:hover {
	background-color: #C2E2EF;
}

.listing-summaryfav1 {
	width: 150px;
	background-color: #C2E2EF;
	padding: 5px 0;
}

.listing-summaryfav1:hover {
	background-color: #a6c6c6;
}
.listing-summary0 {
	width: 15px;
	padding: 5px 0;
}

.featured_jome {
	background-color: #F9DCAC;
	border: 1px solid #FFFFFF;
}

#listing {
	width: 450px !important;
	padding-right: 10px;
	overflow: hidden;
	margin: 10px 5px 0 0; /*	clear: both;*/
}

.desc {
	line-height: 25px;
	text-align: justify;
	padding-right: 15px;
}

#listing .date {
	background-image: url('../images/date.png');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 23px;
	margin: 5px 0 0 0;
	height: 20px;
	line-height: 20px;
}

#listing .telephone {
	background-image: url('../images/telephone.png');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 23px;
	margin: 5px 0 0 0;
	height: 20px;
	line-height: 20px;
}
#listing .price {
	background-image: url('../images/pay.png');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 23px;
	margin: 5px 0 0 0;
	height: 20px;
	line-height: 20px;
}