.acunn-side-button {
    height: auto !important;
    position: fixed !important;
    padding: 10px !important;
    color: #fff ;
    font-size: 17px !important;
    font-family: Arial !important;
    background-color: #4d9de0 !important;
    border-radius: 10px 10px 10px 10px !important;
    word-spacing: 2px !important;
    max-width: 250px !important;
    z-index: 2147483647 !important;
    box-sizing:content box !important;
    line-height: 1.2 !important;
    cursor: pointer !important;
}
.acunn-side-button svg{
    float:right !important;
    transform: rotate(90deg);
    top: 2px !important;
    position: relative !important;
    margin-left: 10px !important;
}
.acunn-side-button div {
    overflow: hidden !important;
    white-space: nowrap !important;
    margin-right: 24px !important;
}

.acunn-chicklet-position-tl{
    top: 100px;
    left: 0px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: bottom left;
}
.acunn-chicklet-position-tr{
    top: 100px;
    right: 0px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: bottom right;
}

.acunn-chicklet-position-bl{
    bottom: 200px;
    left:0px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: bottom left;
}
.acunn-chicklet-position-br{
    bottom: 200px;
    right: 0px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: bottom right;
}

.acunn-chicklet-position-cl{
    top: calc(50% - 100px);
    left: 0px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: bottom left;
}
.acunn-chicklet-position-cr{
    top: calc(50% - 100px);
    right: 0px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: bottom right;
}
.acunn-chicklet-position-hc{
    display: none;
}

.acunn-chrome-style-notification {
    box-shadow: 0 0 4px #888;
    font-size: 11px;
    font-weight: 400;
    position: fixed;
    z-index: 2147483647;
}
.acunn-chrome-style-notification-chrome {
    width: 295px;
    top: 11px;
    left: 105px;
    background-color: #f9f9f9;
    color: #000;
    font-family: 'Helvetica Neue', Helvetica, sans-serif, Arial;
}
.acunn-chrome-style-notification-chrome .acunn-hide-arrow {
    width: 40px;
    border: 1px solid #f9f9f9;
    position: absolute;
    top: 0px;
    left: 14px;
    height: 15px;
    z-index: 9999;
    background-color: #f9f9f9;
}

.acunn-chrome-style-notification-chrome:before {
    content: "";
    position: absolute;
    left: 21px;
    top: -7px;
    width: 15px;
    height: 15px;
    z-index: 9999;
    box-shadow: 0px 0px 4px #888;
    transform: rotate(45deg);
    background-color: #f9f9f9;
}

.acunn-chrome-style-notification-safari {
    width: 422px;
    top: 1px;
    left: calc(50% - 211px);
    background-color: #F0EFF0;
    margin: 0;
    padding: 0;
}
.acunn-chrome-style-notification-safari *{
    word-spacing: normal !important;
    letter-spacing: normal !important;
    font-family:'Open Sans', sans-serif !important;
}
.acunn-chrome-notification-inner-wrapper {
    padding: 0 10px 40px 10px;
}

.acunn-safari-notification-inner-wrapper {
    margin: 0;
    padding: 0 20px 10px 20px;
}

.acunn-chrome-style-notification-chrome .acunn-chrome-style-notification-btn {
    width: 75px;
    height: 26px;
    background: linear-gradient(to bottom,#64b4f4,#0084f6);
    color: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    line-height: 1.1em;
}

.acunn-chrome-style-notification-safari .acunn-chrome-style-notification-btn {
    width: 90px !important;
    height: 26px !important;
    border: 1px solid #ccc !important;
    font-size: 14px !important;
    border-radius: 2px !important;
    cursor: pointer !important;
    line-height: 1.1em !important;
    border-radius: 4px !important;
    color : #fff !important;
    background: linear-gradient(to bottom,#64b4f4,#0084f6) !important;
    border: 1px solid #42a2f2 !important;
    display: inline-block !important;
    font-weight: normal !important;
    margin: 0px !important;
    padding: 5px !important;
    text-transform: none !important;
    box-sizing: border-box !important;
    font-family: Arial !important;
    text-shadow: none !important;
    box-shadow: none !important;
}
.acunn-chrome-style-notification-close {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 1.5em;
    color: #727272;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, sans-serif, Arial;
    margin: 0;
    line-height: 0.6;
    border-radius: 50%;
    padding: 0 2px 3px 2px;
    z-index: 10;
}

.acunn-chrome-style-notification-safari .acunn-chrome-style-notification-btn.acunn-btn-close {
    background: #FFFFFF !important;
    color : #000 !important;
    border-color: #CCCCCC !important;
    margin-right: 20px !important;
    width: 100px !important;
}
.acunn-chrome-style-notification-close:hover {
    background-color: #727272;
    color: #fff;
}
.acunn-notification-title-chrome {
    margin-bottom: 15px;
    font-size: 1.1em;
    font-weight: 400;
    margin-left: 7px;
}
.acunn-notification-title-safari{
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4em;
    color : #000;
    font-family: 'Open Sans', sans-serif;
}

.acunn-notification-message-safari {
    font-size: 12px !important;
    line-height: 1.4em !important;
    margin:10px 0 !important;
    padding: 0 !important;
    text-align: left !important;
    font-family: 'Open Sans', sans-serif !important;
}

.acunn-notification-message-chrome {
    font-size: 12px;
    line-height : 1.6em;
    margin-bottom:10px;
    margin-left: 12px;
}
.acunn-notification-image-wrapper-safari {
    float: left;
    position: relative;
    margin: 15px 15px 0px 0px !important;
    padding: 0 !important;
    display: inline-block;
}
.acunn-chrome-style-notification .acunn-button-wrapper {
    float: right !important;
    margin: 0 !important;
    padding: 0 !important;
}

.acunn-notification-image-wrapper-safari img {
    height: 65px !important;
    width: 65px !important;
}

.acunn-text-wrapper-safari {
    position: relative !important;
    padding: 10px 0 0 0 !important;
    color : #000 !important;
    text-align: left !important;
    margin: 0 !important;
    line-height: 1.4em !important;
    display: inline-block !important;
    width: calc(100% - 80px) !important;
}
.acunn-text-wrapper-chrome {
    position: relative;
    padding-left: 0;
    padding-top: 15px;
}

.acunn-notification-bar.acunn-bottom-notification-bar {
    text-align: center;
    position: fixed;
    bottom: 0;
    top: initial;
    background-color: rgb(104, 115, 156);
    font-family: "Lato";
    height: 50px;
    color: #f5f5f5;
    z-index: 2147483647;
    width: 100%;
    height: 40px;
    left: 0;
}
.acunn-bottom-notification-bar .acunn-notification-bar-btn {
    border-radius: 5px;
    background-color: rgb(245, 247, 248);
    width: 70px;
    height: 32px;
    font-size: 12.063px;
    font-family: "Lato";
    color: rgb(104, 115, 156);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.15);
}
.acunn-notification-bar-btn.acunn-btn-yes {
    margin-left: 50px;
}
.acunn-notification-bar-btn.acunn-btn-no {
    margin-left: 15px;
}
.acunn-notification-bar-btn.acunn-btn-unsubscribe {
    width: 114px;
    margin-left: 15px;
}
.acunn-notification-text {
    font-size: 15px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 2.2;
    text-align: center;
    position: absolute;
    width: 100%;
    margin: auto;
}
.acunn-bottom-notification-bar .acunn-notification-text {
    line-height: 2.6;
    text-align: left;
    padding-left: 3%;
}
/*MODAL*/

.acunn-modal-push {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.5s ease-out 0s;
    z-index: 99999999;
    top: 0;
    left: 0
}
.acunn-modal-dialog {
    padding: 0;
    margin: 0;
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 2px;
    background-color: rgb(232, 235, 238);
    box-shadow: 0px 2px 0px 0px rgba(177, 182, 190, 0.004);
    position: fixed;
}
.push-modal-down {
    top: 25%;
    width: 40%;
    left: 30%;
}
.acunn-modal-dialog-content {
    padding: 25px;
    font-size: 26px;
    font-family: "Lato";
    color: rgb(115, 123, 133);
    line-height: 1.333;
    text-align: center;
    box-shadow: 0px 2px 0px 0px rgba(177, 182, 190, 0.004);
}
.acunn-modal-ask-confirmation-text {
    margin: 20px 0 40px 0;
    cursor: pointer;
}
.acunn-modal-overlay-push {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
}
.acunn-make-text-bold {
    font-weight: 400;
}
.acunn-modal-dialog-content img {
    width: 56%;
}
.acunn-modal-close-button,
.puschrew-notification-close-button {
    top: 13px;
    right: 13px;
    position: absolute;
    font-style: normal;
    color: #9B9B9B;
    font-weight: bold;
    font-size: 1em;
    line-height: 0.7;
    cursor: pointer;
}
.puschrew-notification-close-button {
    top: 7px;
    right: 12px;
    font-size: 1.2em;
    color: #fff;
}
@media(max-width: 1024px) {
    .acunn-notification-bar {
        height: 90px;
        top: 40px;
    }
    .acunn-notification-bar.acunn-bottom-notification-bar {
        height: 100px;
    }
    .acunn-bottom-notification-bar .acunn-notification-text {
        text-align: center;
        padding-left: 0;
    }
    .acunn-notification-close-button {
        font-size: 1.1em;
        padding: 2px 3px 3px 3px;
    }
    .acunn-modal-close-button {
        padding: 1px 3px 3px 3px;
    }
    .acunn-notification-text {
        line-height: 1.4;
        width: 90%;
        text-align: center;
    }
    .acunn-notification-bar .acunn-btn-show-how {
        margin-top: 10px;
    }
    .push-modal-down {
        width: 80%;
        left: 10%;
        top: 20%;
    }
    .acunn-modal-dialog-content {
        font-size: 21px;
        padding: 24px;
    }
    .acunn-modal-button {
        font-size: 12.063px;
        width: 80%;
        height: 44px;
    }
    .acunn-modal-dialog {
        width: 80%;
        left: 9%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .acunn-modal-button {
        width: 30%;
    }
    .puscrew-notification-bar.acunn-bottom-notification-bar {
        height: 70px;
    }
}

.acunn-modal-box {
    display: none;
    position: fixed !important;
    z-index: 2147483647;
    width: 70%;
    top: calc(50% - 140px) !important;
    left:calc(50% - 140px) !important;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    text-align: center;
    color: #7a7979;
    font-family: Roboto Regular;
    font-size: 16px;
}

.acunn-modal-box .acunn-modal-body { padding: 1em 1.5em; }

.acunn-modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9) !important;
}

.acunn-modal-branding img{
    vertical-align: bottom !important;
    width: 14px !important;
    height: 14px !important;
    padding-right: 2px !important;
    display: inline-block !important;
}

.acunn-modal-branding{
    float: left;
    font-size: 10px;
    margin-top: 8px;
    font-family: Arial !important;
    line-height: 1.2em !important;
}
.acunn-modal-branding span a {
    text-decoration: none !important;
    color: black !important;
    font-size: 10px !important;
    line-height: 1.2em !important;
    font-weight: normal !important;
}

a.acunn-close {
    line-height: 1;
    font-size: 1.4em;
    font-weight: 400;
    position: absolute;
    top: 4%;
    right: 4%;
    text-decoration: none;
    color: #bbb;
    z-index: 99999999;
}

a.acunn-close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}
/*Http Branding*/
.acunn-http-branding-modal-clicked-box{
    position: fixed !important;
    z-index: 2147483646;
    padding:5px 16px;
    bottom: 0 !important;
    right:10px !important;
    background: #000;
    text-align: center;
    color: #fff;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 400;
    opacity:0.65;
    border-radius: 2px;
}
.acunn-http-branding-modal-clicked-box img{
    vertical-align: middle;
    padding-left: 2px;
    display: inline-block;
}
.acunn-http-branding-modal-clicked-body span{
    vertical-align: middle;
    color:#fff;
}
a.acunn-http-branding-clicked-close {
    visibility: hidden;
    line-height: 1;
    font-size: 1.2em;
    font-weight: 400;
    position: absolute;
    top: 15%;
    right: 2%;
    text-decoration: none;
    color: #fff;
    z-index: 2147483647;
    opacity: 0.7;
}
.acunn-http-branding-modal-clicked-box:hover a.acunn-http-branding-clicked-close{
    visibility: visible;
}

.acunn-http-branding-modal-mobile-click-box{
    position: fixed !important;
    z-index: 2147483646;
    bottom: 0 !important;
    left:0 !important;
    background: #000;
    text-align: center;
    color: #fff;
    padding:10px 0;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 400;
    opacity:0.78;
    border-radius: 2px;
    width:100%;
}
.acunn-http-branding-modal-mobile-click-box img{
    vertical-align: middle;
    padding-left: 2px;
    display: inline-block;
}
.acunn-http-branding-modal-mobile-click-body span{
    vertical-align: middle;
    color:#fff;
}
a.acunn-http-branding-mobile-click-close {
    line-height: 1;
    font-size: 1.2em;
    font-weight: 400;
    position: absolute;
    top: 25%;
    right: 2%;
    text-decoration: none;
    color: #fff;
    z-index: 2147483647;
    opacity: 0.7;
}

@media (min-width: 32em) {
    .acunn-modal-box { width: 30%;   top: calc(50% - 150px) !important;
        left:calc(50% - 150px) !important;}
}

.acunn-mobile-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 5px 5px -5px #333;
    background-color: #fff;
    z-index: 2147483647;
    font-family: "Helvetica Neue",Helvetica,Arial,Roboto,sans-serif,sans-serif;
}
.acunn-mobile-box *{
    box-sizing: border-box;
}
.acunn-mobile-box .acunn-mobile-button-fill{
    padding: 0px 5px !important;
    font-size: 14px !important;
    width: 120px !important;
    border-radius: 2px !important;
    background: #2F6CBF !important;
    color: #fff !important;
    border: 2px solid #2F6CBF !important;
    display: inline-block !important;
    margin: 0px !important;
    font-weight: 400 !important;
    font-family: "Helvetica Neue",Helvetica,Arial,Roboto,sans-serif,sans-serif !important;
    line-height: 1.2em !important;
    text-transform: none !important;
    height: 34px !important;
}
.acunn-mobile-box .acunn-buttons-panel{
    text-align: right;
    padding: 0px 10px !important;
    float: left;
    width: 100% !important;
    margin-top: 5px;
    margin-bottom: 3px;
}
.acunn-mobile-box .acunn-mobile-button-outline{
    font-size: 14px !important;
    padding: 0px 5px !important;
    width: 120px !important;
    color: #2F6CBF !important;
    border-radius: 2px !important;
    background: #fff !important;
    border:1px solid #2F6CBF !important;
    display: inline-block !important;
    margin: 0 5px 0 0 !important;
    font-weight: 400 !important;
    font-family: "Helvetica Neue",Helvetica,Arial,Roboto,sans-serif,sans-serif !important;
    line-height: 1.2em !important;
    text-transform: none !important;
    height: 34px !important;
}
.acunn-mobile-box .acunn-logo-text{
    padding:10px!important;
    float: left !important;
    width: 100% !important;
}
.acunn-mobile-box .acunn-logo-text span, .acunn-mobile-box .acunn-logo-text img{
    float: left !important;
}
.acunn-mobile-box .acunn-logo-text span{
    width: calc(100% - 40px);
    word-break: break-word !important;
    font-weight: 400 !important;
    line-height: 1.2em !important;
    font-size: 17px !important;
    text-align: left !important;
    padding: 0 0 0 10px !important;
    color: #616161 !important;
    font-family: "Helvetica Neue",Helvetica,Arial,Roboto,sans-serif,sans-serif !important;
}

.acunn-mobile-box .acunn-branding-mobile{
    font-size: 12px !important;
    padding: 10px 10px 5px 10px !important;
    width: calc(100% - 20px) !important;
    float: left !important;
}

.acunn-mobile-box .acunn-branding-mobile img{
    vertical-align: middle !important;
}

.acunn-side-button-mobile {
    height: auto !important;
    position: fixed !important;
    padding: 10px !important;
    color: #fff ;
    font-size: 11px !important;
    font-weight: 600 !important;
    font-family: Arial !important;
    background-color: #4d9de0 !important;
    border-radius: 5px 5px 0px 0px !important;
    word-spacing: 2px !important;
    max-width: 400px !important;
    box-sizing:content box !important;
    line-height: 1.2 !important;
    cursor: pointer !important;
}
.acunn-side-button-mobile div {
    overflow: hidden !important;
    white-space: nowrap !important;
}
.acunn-mobile-chicklet-right{
    top: 40%;
    right: 0px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: bottom right;
}
.acunn-mobile-chicklet-left{
    top: 40%;
    left: 0px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: bottom left;
}
.acunn-mobile-chicklet-bottom{
    bottom:0px;
    width: calc(100% - 20px);
    left: 0px;
    text-align: center;
}
.acunn-mobile-chicklet-hide{
    display: none !important;
}

/*Unsubscribe from notification after notification click*/
.acunn-unsubscribe{
    color:white !important;
    padding-bottom:2px !important;
    display:inline-block !important;
    text-decoration: underline !important;
}

.acunn-unsubscribe-response{
    color:white !important;
    padding-bottom:2px !important;
    display:inline-block !important;
}

.acunn-unsubscribe-response a{
    color: white !important;
    text-decoration: underline !important;
}

.acunn-unsubscribe-response a:hover{
    color: white !important;
    text-decoration: underline !important;
}

.acunn-push{
    position: fixed;
    width: 100%;
    height: 64px;
    bottom: 10px;
    z-index: 10000;
}
.acunn {
    height: 74px;
    padding-top: 10px;
    overflow: hidden;
}
.acunn-wrapper {
    height: 64px;
    background: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
}
.acunn-close {
    position: absolute;
    top: 0;
    right: -15px;
    line-height: 36px;
    font-size: 34px;
    color: #999;
    cursor: pointer;
}
.acunn-close:hover{
    color:#333;
}
.acunn-content {
    position: relative;
    max-width: 745px;
    margin: 0 auto;
    padding: 0 20px 0 0;
}
.acunn-bell {
    float: left;
    width: 19px;
    height: 22px;
    margin-top: 20px;
    background: url(../img/bell.png) 50% 50% / 100% no-repeat;
}
.acunn-textWrapper {
    margin-left: 35px;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.acunn-text {
    font-size: 14px;
    line-height: 18px;
}
.acunn-buttonWrapper {
    padding-left: 5px;
    width: 163px;
}
.acunn-button {
    width: 163px;
    height: 43px;
    font-size: 16px;
    font-weight: bold;
    color: #df0000;
    border: 1px solid #ccc;
    background: none;
    cursor: pointer;
    outline: none;
}
.acunn-button:hover {
    border-color: #555;
    background: #df0000;
    color : #FFF;
}
@media (max-width: 767px) {
    .acunn-close {
        right: 5px;
    }
    .acunn-content {
        padding-right: 35px;
    }
}
@media (max-width: 550px) {
    .acunn-close {
        top: -3px;
    }
    .acunn-bell {
        margin-top: 10px;
    }
    .acunn-textWrapper {
        margin-right: -20px;
        padding-top: 5px;
        display: block;
    }
    .acunn-buttonWrapper {
        margin-top: 10px;
        padding-left: 0;
    }
    .acunn {
        height: 140px;
    }
    .acunn-wrapper {
        height: 130px;
    }
    .acunn-button {
        height: 40px;
    }
}