﻿/*ESTILOS ESPECIAL JUEGOS OLÍMPICOS*/
.contentOlimpicos {
    width: 100%;
    height: 72px;
    background-image: url(/juegos-olimpicos/img/fondo_olimpicos.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.logoOccidente {
    float: right;
    margin-top: 10px;
}

.logoOccidentespan {
    margin-top: 1.65rem;
    float: right;
    font-size: 14px;
    color: #727272;
    font-family: 'Roboto', sans-serif;
}

.contentDF {
    float: left;
    margin-top: 10px;
}

.iframeOlimpicos iframe {
       border: none;
    width: 100%;
    float: right;
    height: 81px;
    z-index: 1;
    overflow: hidden;
}

  
header.liveHeader aside article {
    height: 25px;
    background: #EF1516;
}

header aside article {
    background-color: #BA282B;
    margin-bottom: 10px;
    padding: 10px 23px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 90px;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    color: #FFFFFF;
}

header.liveHeader aside article .svgBg {
    position: absolute;
    right: 0;
    width: 321px;
    top: 0;
}

header.liveHeader aside article > div {
    padding: 10px 0;
}

header aside article > div {
    padding: 10%;
}

header aside article > div, header aside article nav {
    position: relative;
    top: 51%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

header.liveHeader aside article > div h4 {
    padding-right: 5px;
}

header.liveHeader aside article > div p, header.liveHeader aside article > div h4 {
    display: inline-block;
    font-size: 18px;
    font-family: arial;
}

header aside article > div h4 {
    font-weight: 700;
}

header aside article > div h4, header aside article > div p {
    text-transform: uppercase;
}

button {
    background-color: #0470b4;
    border: 0px;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 0.75rem;
    letter-spacing: 1;
    cursor: pointer;
    float: left;
    margin-top: 1.5rem;
}

.textUno {
    float: left;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    font-weight: lighter;
    padding-top: 1.75rem;
    display: block;
}

.linea {
    float: left;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    font-weight: lighter;
    padding-top: 1.75rem;
}

.logo-Olimpicos {
    float: left;
}

button:hover {
    background-color: #295B9A;
}

a {
    border: none;
    outline: 0px;
}

.botonDesk {
    display: block;
}

.linea {
    display: block;
}

.botonmovil {
    display: none;
}


@media (max-width:960px) {
    .contentDF {
        display: none;
    }

    .iframeOlimpicos  iframe {
        /* width: 100%; */
    }
}

@media (min-width:250px) and (max-width:760px) {
    .textUno {
        display: none;
    }

    .botonDesk {
        display: none;
    }

    .logo-Olimpicos {
        width: 131px;
    }

    .linea {
        display: none;
    }

    .botonmovil {
        display: block;
        width: 100%;
        margin: 0;
    }

    .contentDF {
        display: none;
    }

   .iframeOlimpicos iframe {
         float: inherit; 
         position: inherit;
         height:inherit
    }

    .logoOccidentespan {
        display: none;
    }

    .alianza.left img {
        margin-top: 0px;
        width: auto;
    }

    .contentOlimpicos {
        background-size: cover;
    }

    .logo-Olimpicos {
        float: left;
        margin-left: 0rem;
        margin-bottom: 0rem;
    }
    a.logoOccidente img{
        width:168px
    }
}
