@font-face {
    font-family: 'semana';
    src: url('fonts/semana.eot');
    src: url('fonts/semana.ttf') format('truetype'),
         url('fonts/semana.woff') format('woff'),
         url('fonts/semana.svg#svgSemana') format('svg'),
         url('fonts/semana.eot?#iefix') format('embedded-opentype'); 
        
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'semana';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e601";
}

.icon-mobile:before {
    content: "\e602";
}

.icon-mouse:before {
    content: "\e603";
}

.icon-directions:before {
    content: "\e604";
}

.icon-mail:before {
    content: "\e605";
}

.icon-paperplane:before {
    content: "\e606";
}

.icon-pencil:before {
    content: "\e607";
}

.icon-feather:before {
    content: "\e608";
}

.icon-paperclip:before {
    content: "\e609";
}

.icon-heart:before {
    content: "\e60a";
}

.icon-heart2:before {
    content: "\e60b";
}

.icon-star:before {
    content: "\e60c";
}

.icon-star2:before {
    content: "\e60d";
}

.icon-thumbs-up:before {
    content: "\e60e";
}

.icon-thumbs-down:before {
    content: "\e60f";
}

.icon-chat:before {
    content: "\e610";
}

.icon-comment:before {
    content: "\e611";
}

.icon-quote:before {
    content: "\e612";
}

.icon-leaf:before {
    content: "\e613";
}

.icon-music:before {
    content: "\e614";
}

.icon-music2:before {
    content: "\e615";
}

.icon-new:before {
    content: "\e616";
}

.icon-graduation:before {
    content: "\e617";
}

.icon-book:before {
    content: "\e618";
}

.icon-newspaper:before {
    content: "\e619";
}

.icon-bag:before {
    content: "\e61a";
}

.icon-airplane:before {
    content: "\e61b";
}

.icon-battery:before {
    content: "\e61c";
}

.icon-bucket:before {
    content: "\e61d";
}

.icon-magnet:before {
    content: "\e61e";
}

.icon-drive:before {
    content: "\e61f";
}

.icon-cup:before {
    content: "\e620";
}

.icon-rocket:before {
    content: "\e621";
}

.icon-brush:before {
    content: "\e622";
}

.icon-suitcase:before {
    content: "\e623";
}

.icon-cone:before {
    content: "\e624";
}

.icon-database:before {
    content: "\e625";
}

.icon-voicemail:before {
    content: "\e626";
}

.icon-clipboard:before {
    content: "\e627";
}

.icon-cart:before {
    content: "\e628";
}

.icon-box:before {
    content: "\e629";
}

.icon-ticket:before {
    content: "\e62a";
}

.icon-rss:before {
    content: "\e62b";
}

.icon-signal:before {
    content: "\e62c";
}

.icon-thermometer:before {
    content: "\e62d";
}

.icon-plus:before {
    content: "\e62e";
}

.icon-cross:before {
    content: "\e62f";
}

.icon-minus:before {
    content: "\e630";
}

.icon-plus2:before {
    content: "\e631";
}

.icon-erase:before {
    content: "\e632";
}

.icon-blocked:before {
    content: "\e633";
}

.icon-info:before {
    content: "\e634";
}

.icon-info2:before {
    content: "\e635";
}

.icon-question:before {
    content: "\e636";
}

.icon-list:before {
    content: "\e637";
}

.icon-text:before {
    content: "\e638";
}

.icon-text2:before {
    content: "\e639";
}

.icon-document:before {
    content: "\e63a";
}

.icon-docs:before {
    content: "\e63b";
}

.icon-landscape:before {
    content: "\e63c";
}

.icon-pictures:before {
    content: "\e63d";
}

.icon-video:before {
    content: "\e63e";
}

.icon-music3:before {
    content: "\e63f";
}

.icon-next:before {
    content: "\e640";
}

.icon-previous:before {
    content: "\e641";
}

.icon-first:before {
    content: "\e642";
}

.icon-last:before {
    content: "\e643";
}

.icon-resize-enlarge:before {
    content: "\e644";
}

.icon-resize-shrink:before {
    content: "\e645";
}

.icon-volume:before {
    content: "\e646";
}

.icon-sound:before {
    content: "\e647";
}

.icon-mute:before {
    content: "\e648";
}

.icon-arrow-right:before {
    content: "\e649";
}

.icon-arrow-left:before {
    content: "\e64a";
}

.icon-arrow-down:before {
    content: "\e64b";
}

.icon-arrow-up:before {
    content: "\e64c";
}

.icon-arrow-right2:before {
    content: "\e64d";
}

.icon-arrow-left2:before {
    content: "\e64e";
}

.icon-arrow-down2:before {
    content: "\e64f";
}

.icon-arrow-up2:before {
    content: "\e650";
}

.icon-arrow-right3:before {
    content: "\e651";
}

.icon-cc-by:before {
    content: "\e653";
}

.icon-cc-nc:before {
    content: "\e654";
}

.icon-cc-zero:before {
    content: "\e65a";
}

.icon-googleplus:before {
    content: "\e90a";
}
.icon-googleplus-old:before {
    content: "\e65b";
}
.icon-pinterest:before {
    content: "\e65c";
}

.icon-pinterest2:before {
    content: "\e65d";
}

.icon-tumblr:before {
    content: "\e65e";
}

.icon-tumblr2:before {
    content: "\e65f";
}

.icon-linkedin:before {
    content: "\e660";
}

.icon-linkedin2:before {
    content: "\e661";
}

.icon-dribbble:before {
    content: "\e662";
}

.icon-sina-weibo:before {
    content: "\e663";
}

.icon-paypal:before {
    content: "\e664";
}

.icon-picasa:before {
    content: "\e665";
}

.icon-picasa:before {
    content: "\e666";
}

.icon-mixi:before {
    content: "\e667";
}

.icon-behance:before {
    content: "\e668";
}

.icon-circles:before {
    content: "\e669";
}

.icon-vk:before {
    content: "\e66a";
}

.icon-smashing:before {
    content: "\e66b";
}

.icon-stumbleupon:before {
    content: "\e66c";
}

.icon-stumbleupon2:before {
    content: "\e66d";
}

.icon-lastfm:before {
    content: "\e66e";
}

.icon-lastfm2:before {
    content: "\e66f";
}

.icon-rdio:before {
    content: "\e670";
}

.icon-rdio2:before {
    content: "\e671";
}

.icon-spotify:before {
    content: "\e672";
}

.icon-spotify2:before {
    content: "\e673";
}

.icon-qq:before {
    content: "\e674";
}

.icon-instagram:before {
    content: "\e675";
}

.icon-dropbox:before {
    content: "\e676";
}

.icon-evernote:before {
    content: "\e677";
}

.icon-flattr:before {
    content: "\e678";
}

.icon-skype:before {
    content: "\e679";
}

.icon-skype2:before {
    content: "\e67a";
}

.icon-renren:before {
    content: "\e67b";
}

.icon-sharable:before {
    content: "\e67c";
}

.icon-palette:before {
    content: "\e67d";
}

.icon-key:before {
    content: "\e67e";
}

.icon-credit-card:before {
    content: "\e67f";
}

.icon-minus2:before {
    content: "\e680";
}

.icon-layout:before {
    content: "\e681";
}

.icon-stop:before {
    content: "\e682";
}

.icon-arrow-up3:before {
    content: "\e683";
}

.icon-dot:before {
    content: "\e684";
}

.icon-googleplus2:before {
    content: "\e90b";
}
.icon-googleplus2-old:before {
    content: "\e685";
}
.icon-drawer:before {
    content: "\e686";
}

.icon-house:before {
    content: "\e687";
}

.icon-popup:before {
    content: "\e688";
}

.icon-search:before {
    content: "\e689";
}

.icon-flashlight:before {
    content: "\e68a";
}

.icon-printer:before {
    content: "\e68b";
}

.icon-bell:before {
    content: "\e68c";
}

.icon-link:before {
    content: "\e68d";
}

.icon-flag:before {
    content: "\e68e";
}

.icon-cog:before {
    content: "\e68f";
}

.icon-tools:before {
    content: "\e690";
}

.icon-trophy:before {
    content: "\e691";
}

.icon-tag:before {
    content: "\e692";
}

.icon-camera:before {
    content: "\e693";
}

.icon-megaphone:before {
    content: "\e694";
}

.icon-moon:before {
    content: "\e695";
}

.icon-lifebuoy:before {
    content: "\e696";
}

.icon-eye:before {
    content: "\e697";
}

.icon-clock:before {
    content: "\e698";
}

.icon-microphone:before {
    content: "\e699";
}

.icon-calendar:before {
    content: "\e69a";
}

.icon-bolt:before {
    content: "\e69b";
}

.icon-thunder:before {
    content: "\e69c";
}

.icon-droplet:before {
    content: "\e69d";
}

.icon-cd:before {
    content: "\e69e";
}

.icon-briefcase:before {
    content: "\e69f";
}

.icon-air:before {
    content: "\e6a0";
}

.icon-hourglass:before {
    content: "\e6a1";
}

.icon-gauge:before {
    content: "\e6a2";
}

.icon-language:before {
    content: "\e6a3";
}

.icon-network:before {
    content: "\e6a4";
}

.icon-earth:before {
    content: "\e6a5";
}

.icon-keyboard:before {
    content: "\e6a6";
}

.icon-browser:before {
    content: "\e6a7";
}

.icon-publish:before {
    content: "\e6a8";
}

.icon-progress-3:before {
    content: "\e6a9";
}

.icon-progress-2:before {
    content: "\e6aa";
}

.icon-brogress-1:before {
    content: "\e6ab";
}

.icon-progress-0:before {
    content: "\e6ac";
}

.icon-sun:before {
    content: "\e6ad";
}

.icon-sun2:before {
    content: "\e6ae";
}

.icon-adjust:before {
    content: "\e6af";
}

.icon-code:before {
    content: "\e6b0";
}

.icon-screen:before {
    content: "\e6b1";
}

.icon-infinity:before {
    content: "\e6b2";
}

.icon-light-bulb:before {
    content: "\e6b3";
}

.icon-droplets:before {
    content: "\e6b4";
}

.icon-uniE6B5:before {
    content: "\e6b5";
}

.icon-statistics:before {
    content: "\e6b6";
}

.icon-pie:before {
    content: "\e6b7";
}

.icon-bars:before {
    content: "\e6b8";
}

.icon-graph:before {
    content: "\e6b9";
}

.icon-lock:before {
    content: "\e6ba";
}

.icon-lock-open:before {
    content: "\e6bb";
}

.icon-logout:before {
    content: "\e6bc";
}

.icon-login:before {
    content: "\e6bd";
}

.icon-checkmark:before {
    content: "\e6be";
}

.icon-cross2:before {
    content: "\e6bf";
}

.icon-minus3:before {
    content: "\e6c0";
}

.icon-plus3:before {
    content: "\e6c1";
}

.icon-cross3:before {
    content: "\e6c2";
}

.icon-help:before {
    content: "\e6c3";
}

.icon-warning:before {
    content: "\e6c4";
}

.icon-cycle:before {
    content: "\e6c5";
}

.icon-cw:before {
    content: "\e6c6";
}

.icon-ccw:before {
    content: "\e6c7";
}

.icon-shuffle:before {
    content: "\e6c8";
}

.icon-arrow:before {
    content: "\e6c9";
}

.icon-arrow2:before {
    content: "\e6ca";
}

.icon-retweet:before {
    content: "\e6cb";
}

.icon-loop:before {
    content: "\e6cc";
}

.icon-history:before {
    content: "\e6cd";
}

.icon-back:before {
    content: "\e6ce";
}

.icon-switch:before {
    content: "\e6cf";
}

.icon-list2:before {
    content: "\e6d0";
}

.icon-add-to-list:before {
    content: "\e6d1";
}

.icon-folder:before {
    content: "\e6d2";
}

.icon-archive:before {
    content: "\e6d3";
}

.icon-trash:before {
    content: "\e6d4";
}

.icon-upload:before {
    content: "\e6d5";
}

.icon-download:before {
    content: "\e6d6";
}

.icon-disk:before {
    content: "\e6d7";
}

.icon-install:before {
    content: "\e6d8";
}

.icon-cloud:before {
    content: "\e6d9";
}

.icon-upload2:before {
    content: "\e6da";
}

.icon-bookmark:before {
    content: "\e6db";
}

.icon-bookmarks:before {
    content: "\e6dc";
}

.icon-book2:before {
    content: "\e6dd";
}

.icon-play:before {
    content: "\e6de";
}

.icon-pause:before {
    content: "\e6df";
}

.icon-record:before {
    content: "\e6e0";
}

.icon-flow-cascade:before {
    content: "\e6e1";
}

.icon-flow-branch:before {
    content: "\e6e2";
}

.icon-flow-tree:before {
    content: "\e6e3";
}

.icon-flow-line:before {
    content: "\e6e4";
}

.icon-flow-parallel:before {
    content: "\e6e5";
}

.icon-arrow-left3:before {
    content: "\e6e6";
}

.icon-arrow-down3:before {
    content: "\e6e7";
}

.icon-arrow-up--upload:before {
    content: "\e6e8";
}

.icon-arrow-right4:before {
    content: "\e6e9";
}

.icon-arrow-left4:before {
    content: "\e6ea";
}

.icon-arrow-down4:before {
    content: "\e6eb";
}

.icon-arrow-up4:before {
    content: "\e6ec";
}

.icon-arrow-right5:before {
    content: "\e6ed";
}

.icon-arrow-left5:before {
    content: "\e6ee";
}

.icon-arrow-down5:before {
    content: "\e6ef";
}

.icon-arrow-left6:before {
    content: "\e6f0";
}

.icon-arrow-down6:before {
    content: "\e6f1";
}

.icon-arrow-up5:before {
    content: "\e6f2";
}

.icon-arrow-right6:before {
    content: "\e6f3";
}

.icon-arrow-left7:before {
    content: "\e6f4";
}

.icon-arrow-down7:before {
    content: "\e6f5";
}

.icon-arrow-up6:before {
    content: "\e6f6";
}

.icon-uniE6F7:before {
    content: "\e6f7";
}

.icon-arrow-left8:before {
    content: "\e6f8";
}

.icon-arrow-down8:before {
    content: "\e6f9";
}

.icon-arrow-up7:before {
    content: "\e6fa";
}

.icon-arrow-right7:before {
    content: "\e6fb";
}

.icon-menu:before {
    content: "\e6fc";
}

.icon-ellipsis:before {
    content: "\e6fd";
}

.icon-dots:before {
    content: "\e6fe";
}

.icon-cc-share:before {
    content: "\e6ff";
}

.icon-daniel-bruce:before {
    content: "\e701";
}

.icon-daniel-bruce2:before {
    content: "\e702";
}

.icon-github:before {
    content: "\e703";
}

.icon-github2:before {
    content: "\e704";
}

.icon-flickr:before {
    content: "\e705";
}

.icon-flickr2:before {
    content: "\e706";
}

.icon-vimeo:before {
    content: "\e707";
}

.icon-vimeo2:before {
    content: "\e708";
}

.icon-twitter:before {
    content: "\e709";
}

.icon-twitter2:before {
    content: "\e70a";
}

.icon-facebook:before {
    content: "\e70b";
}

.icon-facebook2:before {
    content: "\e70c";
}

.icon-facebook3:before {
    content: "\e70d";
}

.icon-dribbble2:before {
    content: "\e70e";
}

.icon-reply:before {
    content: "\e70f";
}

.icon-reply-all:before {
    content: "\e710";
}

.icon-forward:before {
    content: "\e711";
}

.icon-user:before {
    content: "\e712";
}

.icon-users:before {
    content: "\e713";
}

.icon-user-add:before {
    content: "\e714";
}

.icon-vcard:before {
    content: "\e715";
}

.icon-export:before {
    content: "\e716";
}

.icon-location:before {
    content: "\e717";
}

.icon-map:before {
    content: "\e718";
}

.icon-compass:before {
    content: "\e719";
}

.icon-location2:before {
    content: "\e71a";
}

.icon-target:before {
    content: "\e71b";
}

.icon-share:before {
    content: "\e71c";
}

.icon-cc-nc-eu:before {
    content: "\e655";
}

.icon-cc-nc-jp:before {
    content: "\e656";
}

.icon-cc-nd:before {
    content: "\e658";
}

.icon-youtube:before {
    content: "\e600";
}

/* Iconos para resultados de busqueda */

.icon-articulo:before, .icon-artÃƒÂ­culo:before  {
    content: "\e638";
}

.icon-multimedia:before {
    content: "\e63e";
}

.icon-galeria:before, .icon-galerÃƒÂ­a:before {
    content: "\e63d";
}




/
/*-----------------------------------------------*/
/*TOP BAR NUEVO*/
/*-----------------------------------------------*/

.contentTopMenu .fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.top-bar-container, nav.tab-bar {
    background: rgba(244, 244, 244, 0.95);
    border-bottom: none;
}
.contain-to-grid .top-bar {
    max-width: 100%;
}
.top-bar-section {
    position: fixed;
    width: 100%;
    left: 0px !important;
    background: rgba(244, 244, 244, 1);
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
    z-index:10000;
}

.moveTopBar {
    left: -1160px !important; 
    padding-right: 0px !important;   
}
.top-bar, .top-bar-section li a:not(.button), .top-bar-section ul li > a, .top-bar .title-area {
    height: 31px;
    line-height: 30px;
}
.top-bar, .top-bar-section ul, .top-bar-section li a:not(.button), .top-bar-section ul li > a, .top-bar.expanded .title-area {
    background: transparent;
    color: #686868;
    font-family: 'Droid Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}
.top-bar, .top-bar-section ul, .top-bar-section li a:not(.button), .top-bar-section ul li > a, .top-bar.expanded .title-area {
    background: transparent;
    color: #686868;
    font-family: 'Droid Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}
.top-bar-section ul li a.subscribeLink, .top-bar-section ul li:not(.has-form) a.subscribeLink {
    padding: 0px 15px;
    border-radius: 0;
}
/*Ajustes-------------------------------*/
.top-bar-section ul li a.subscribeLink, .top-bar-section ul li:not(.has-form) a.subscribeLink {
    text-transform: initial;
    background: #D22224;
    display: inline-block;
    color: #fff;
    height: 31px;
    font-weight: normal;
    text-transform: uppercase;
}
.top-bar-section ul li a.subscribeLink, .top-bar-section ul li:not(.has-form) a.subscribeLink:hover {
    background-color: #D42C2E;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #555555;
    background: #272727;
    color: #f4f4f4;
}
/*--------------------------------------*/





.top-bar-section ul li > a, .top-bar-section li a:not(.button), .top-bar-section li:not(.has-form) a:not(.button) {
    font-size: 12px;
    padding: 0px 15px;
    border-right: 1px solid #d5d5d5;
    -webkit-box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1);
    line-height: 2.7;
}

.top-bar-section li a:not(.button):hover, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section ul li {
    /*background: transparent;*/
}
.top-bar input, .top-bar .button, .top-bar button {
    top: 0;
    display: block;
}
.top-bar-section ul li > .button.secondary, .top-bar-section ul li > a.button.secondary {
    padding: 0 1em;
    font-size: 0.75em;
    height: 18px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
    color: #aaa;
}
.top-bar-section ul li > a.button.secondary {
    background: #e9e9e9;
}
.top-bar-section ul li.social-links > a, .top-bar-section li a:not(.button), .top-bar-section li.social-links:not(.has-form) a:not(.button) {
    font-size: 16px;
    line-height: 2.25;
}
.social-links i[class^="icon"] {
    font-size: 16px;
    line-height: 10px;
}

.top-bar-section i.icon-youtube {
    font-size: 20px;
}
.top-bar-section li:not(.has-form) a.facebookLink:not(.button):hover {
    background-color: #3B5998;
    color: #f3f3f3;
}
.top-bar-section li:not(.has-form) a:not(.button):hover > i:before {
    color: #f3f3f3;
}
.top-bar-section li:not(.has-form) a.twitterLink:not(.button):hover {
    background-color: #1b95e0;
    color: #f3f3f3;
}
.top-bar-section li:not(.has-form) a.googleplusLink:not(.button):hover {
    background-color: #d34836;
    color: #f3f3f3;
}
.top-bar-section li:not(.has-form) a.youtubeLink:not(.button):hover {
    background-color: #e52d27;
    color: #f3f3f3;
}
.hiddenContent {
    float: right;
    padding: 0 1rem;
    padding-right: 200px;
    z-index: 999;
    border-right: 1px solid #d5d5d5;
    -webkit-box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1);
    display: none;
    background-color: #f4f4f4;
    height: 31px;
    position: fixed;
    right: 0;
}
.hiddenContent ul li {
    display: inline-block;
    font-family: 'Droid Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: .675rem;
    font-weight: bold;
    padding: 0 .5rem;
    line-height: 0;
}
.hiddenContent ul li a {
    color: #B1B1B1;
}
.hiddenContent ul li a.linkSemana:hover {
    color: #d22224;
}
.hiddenContent ul li a.linkDinero:hover {
    color: #3F832C;
}
.hiddenContent ul li a.linkSoho:hover {
    color: #faa61a;
}
.hiddenContent ul li a.linkFucsia:hover {
    color: #e90089;
}
.hiddenContent ul li a.linkJetSet:hover {
    color: #d00606;
}
.hiddenContent ul li a.linkArcadia:hover {
    color: #83160f;
}
.hiddenContent ul li a.linkFinanzas:hover {
    color: #0c68a3;
}
.hiddenContent ul li a.link4Patas:hover {
    color: #e84a37;
}
.hiddenContent ul li a.linkSostenibilidad:hover {
    color: #0c9e49;
}
.hiddenContent ul li a.linkFundacion:hover {
    color: #d22224;
}
.hiddenContent ul li a.linkForos:hover {
    color: #d5182a;
}
.hiddenContent ul li a.link5000:hover {
    color: #156FA7;
}
/*Ajustes-------------------------------*/
.top-bar-section ul li > a.LinkSections {
    color: #FFFFFF;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    padding-left: 36px !important;
    background-color: #383838 !important;
}

.top-bar-section ul li > a.LinkSections i {
    position: absolute;
}
.top-bar-section ul li > a.LinkSections i.icon-play {
    font-size: 21px;
    top: 4px;
    left: 11px;
}
.top-bar-section ul li > a.LinkSections i.icon-pictures {
    font-size: 18px;
    top: 6px;
    left: 13px;
}

.top-bar-section ul li > a.LinkSections i.icon-newspaper {
    font-size: 18px;
    top: 5px;
    left: 13px;
}

/*--------------------------------------*/

.top-bar-section ul li > a.LinkSections:hover {
    color: #F1F0F0;
}
.top-bar-section {
    padding-right: 192px;
}
.rightSocialIcons {
    position: fixed;
    right: 0;
    top: 0;
}
.top-bar-section li:not(.has-form) a.active:not(.button) {
    background: #000000;
    color: #f4f4f4;
}
/*LOGIN-----------------------*/
ul.topBarUtilities li > ul.f-dropdown {
    margin: 0;
    padding: 0;
    margin-top: 2px;
    width: 137px;
    background-color: #fafafa;
}
ul.topBarUtilities li > ul.f-dropdown li {
    width: 100%;
}
ul.topBarUtilities li > ul.f-dropdown li:first-child {
    border-bottom: 1px solid #d5d5d5;
}
.topBarUtilities i.icon-user {
    padding-right: 4px;
}

/*ADICIONALES EXCLUSIVOS*/
.top-bar, .top-bar-section ul, .top-bar-section li a:not(.button), .top-bar-section ul li > a, .top-bar.expanded .title-area, .top-bar-section ul li:hover:not(.has-form) >
 a, .top-bar-section li:not(.has-form) a:not(.button):hover {
    
   font-family: 'Droid Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif
}
    .videoBody.f-topbar-fixed{
        padding-top:0px !important;
    }

/*Media Queries----------------*/
/* Small only */
@media screen and (max-width: 39.9375em) {
      .top-bar{
		display:none;
	}  
}
/* Medium and up */
@media screen and (min-width: 40em) {
    
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .top-bar-section ul li > a, .top-bar-section li a:not(.button), .top-bar-section li:not(.has-form) a:not(.button) {
        font-size: 10px;
    }
    .social-links i[class^="icon"] {
        font-size: 13px;
        line-height: 10px;
    }
    .top-bar-section i.icon-youtube {
        font-size: 16px;
    }
    .top-bar-section {
        padding-right: 177px;
    }
    .top-bar-section ul li.social-links > a, .top-bar-section li a:not(.button), .top-bar-section li.social-links:not(.has-form) a:not(.button) {
        line-height: 2;
    }
    .top-bar-section ul li > a, .top-bar-section li a:not(.button), .top-bar-section li:not(.has-form) a:not(.button) {
        line-height: 3;
    }
}
/* Large */
@media screen and (min-width: 63em) {
    .top-bar-section {
        padding-right: 192px;
    }
    
}
/* Extra-Large */
@media screen and (min-width: 1367px) {
       
}

@media(min-width:1px) and (max-width:1365px) {
    .publiciacionesTopBar {
        display: none;
    }
    .hiddenContent {
        display:none !important;
    }

}
@media(min-width:1px) and (max-width:640px) {
    .contentNew, .artVideo {
        padding: 1rem 0;
    }
}

@media(min-width:640px) and (max-width:1365px) {
    .contentNew, .artVideo {
        padding: 5.5rem 0;
    }
}
