@charset "utf-8";
/*----------------------------------------------

	ニコニコ動画
	http://www.nicovideo.jp/

------------------------------------------------

************************************************
siteHeader
************************************************

----------------------------------------------*/

/*
	initialize
----------------------------------------------*/

body,#siteHeader div,#siteHeader dl,#siteHeader dt,#siteHeader dd,#siteHeader ul,#siteHeader ol,#siteHeader li,#siteHeader p,#siteHeader form{
	margin: 0;
	padding: 0;
}

#siteHeader dl,#siteHeader dt,#siteHeader dd,#siteHeader ul,#siteHeader ol,#siteHeader li{
	list-style: none;
	/*word-break: break-all;*/
}

#siteHeader input,#siteHeader textarea,#siteHeader select,#siteHeader option,#siteHeader label{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 100%;
	vertical-align: middle;
	word-break: break-all;
	outline: none;
}

#siteHeader textarea{
	overflow: auto;
}

#siteHeader label{
	cursor: pointer;
}

#siteHeader input[type="submit"]::-moz-focus-inner{
    border :0px;
}

#siteHeader p{
	margin: 0 0 4px 0;
	font-size: 100%;
	line-height: 1.5;
	word-break: break-all;
}

#siteHeader img{
	border: none;
	vertical-align: middle;
}

#siteHeader a,#siteHeader a:link{
	color: #2bc6f9;
	text-decoration: none;
	outline: none;
}

#siteHeader a:visited{
	text-decoration: none;
}

#siteHeader a:hover,#siteHeader a:active{
	color: #2bc6f9;
	text-decoration: none;
}



/*
	siteHeader Wrap
----------------------------------------------*/
#siteHeader{
	width: 100%;
	background: #272727;
	font-size: 13px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	z-index: 9999;
	top: 0;
	left: 0;
	position: fixed;
	text-align: left;
}

.nofix #siteHeader{
	position: relative !important;
}

#siteHeader #siteHeaderInner{
	position: relative;
	background: #272727;
	width: 984px;
	height: 36px;
	margin: 0 auto;
	zoom: 1;
}

#siteHeader #siteHeaderInner:after{
	content: ".";
	display: block;
	clear: both;
	line-height: 0;
	height: 0;
	visibility: hidden;
}

/*
	siteHeader Common
----------------------------------------------*/
#siteHeader #siteHeaderInner ul{
	zoom: 1;
}

#siteHeader #siteHeaderInner ul:after{
	content: ".";
	display: block;
	clear: both;
	line-height: 0;
	height: 0;
	visibility: hidden;
}

#siteHeader #siteHeaderInner ul li{
	position: relative;
	float: left;
	height: 36px;
	line-height: 36px;
}

#siteHeader #siteHeaderInner ul li:hover{
	background: #474747;
}

#siteHeader #siteHeaderInner ul li a{
	display: inline-block;
	color: #fff;
	font-size: 93%;
	border-left: none;
	margin-right: -2px;
}

#siteHeader #siteHeaderInner ul li a span{
	padding: 0 6px 0 6px;
	border-right: #666 solid 1px;
	cursor: pointer;
}

#siteHeader #siteHeaderInner ul li a:hover{
	color: #fff;
	font-size: 93%;
}

#siteHeader #siteHeaderInner ul li a:hover span{
	border-right: #272727 solid 1px;
}

#siteHeader #siteHeaderInner ul li ul{
	position: absolute;
	top: 36px;
	right: 0;
	background: #eae8eb;
	border: #272727 solid 1px;
	border-top: none;
	padding-bottom: 0;
	z-index: 9999;
}

#siteHeader #siteHeaderInner ul li ul li{
	padding: 0 0 0 0;
	height: 28px;
	line-height: 20px;
}

#siteHeader #siteHeaderInner ul li ul li:hover{
	background: #898989;
}

#siteHeader #siteHeaderInner ul li ul li a{
	display: inline-block;
	color: #353535;
}

#siteHeader #siteHeaderInner ul li ul li a:hover{
	color: #fff;
	background: #898989;
	text-decoration: none;
}

/*
	glovalNavigation
----------------------------------------------*/
#siteHeader #siteHeaderInner .siteHeaderGlovalNavigation{
	float: left;
	padding:0;
}

#siteHeader #siteHeaderInner .siteHeaderGlovalNavigation li.siteHeaderOther a{
	border-right: none;
}

#siteHeader #siteHeaderInner .siteHeaderGlovalNavigation li.siteHeaderOther a span{
	border-right: none;
}

#siteHeader #siteHeaderInner .siteHeaderMenuList li.siteHeaderOther a{
	border-right: none;
}

#siteHeader #siteHeaderInner .siteHeaderMenuList li.siteHeaderOther span{
	border-right: none;
}

#siteHeader #siteHeaderInner .siteHeaderGlovalNavigation li ul{
	position: absolute;
	left: 0;
	width: 230px;
}

#siteHeader #siteHeaderInner .siteHeaderGlovalNavigation li ul li{
	padding: 0;
	margin: 0;
	width: 115px;
}

#siteHeader #siteHeaderInner .siteHeaderGlovalNavigation li ul li a{
	width: 100px;
	padding: 4px 8px 4px 7px;
}

#siteHeader #siteHeaderInner .siteHeaderGlovalNavigation li ul li.menuServiceList{
	padding: 0;
	margin: 0;
	width: 230px;
	font-size:93%;
	border-top:1px dotted #ccc;
	text-align: right;
}

#siteHeader #siteHeaderInner .siteHeaderGlovalNavigation li ul li.menuServiceList:hover{
	background-color: #898989;
}

#siteHeader #siteHeaderInner .siteHeaderGlovalNavigation li ul li.menuServiceList a{
	width: 215px;
	margin-right: 0;
	padding: 4px 7px 4px 8px;
	text-align:right;
}

#siteHeader #siteHeaderInner .siteHeaderGlovalNavigation li ul li.menuServiceList:hover a{
	color: #fff;
}

#siteHeader #siteHeaderInner .siteHeaderGlovalNavigation li ul li.menuServiceList a:hover{
	color: #fff;
	background-color: transparent;
}

#siteHeader #siteHeaderInner ul li a.iconNiconico{
	text-indent: -9999px;
	width: 30px;
}

#siteHeader #siteHeaderInner ul li a.iconNiconico:after{
	content: "";
	display: block;
	height: 14px;
	position: absolute;
	top: 11px;
	left: 28px;
	border-right: #666 solid 1px;
}

#siteHeader #siteHeaderInner ul li a.iconNiconico:hover:after{
	border-right: #272727 solid 1px;
}

#siteHeader #siteHeaderInner ul li a.iconNiconico span:after{
	content: "";
	display: block;
	width: 17px;
	height: 18px;
	position: absolute;
	top: 8px;
	left: 6px;
	background: url(icon_niconico.png) no-repeat 0 0;
}


/*
	siteHeaderMenuList
----------------------------------------------*/
#siteHeader #siteHeaderInner .siteHeaderMenuList{
	float: right;
	padding:0;
}

#siteHeader #siteHeaderInner .siteHeaderMenuList li ul{
	width: 130px;
	padding-bottom: 2px;
}

#siteHeader #siteHeaderInner .siteHeaderMenuList li ul li{
	float: none;
	line-height: normal;
}

*:first-child+html #siteHeader #siteHeaderInner .siteHeaderMenuList li ul#siteHeaderMenuContainer{
	padding-bottom: 1px;
}

*:first-child+html #siteHeader #siteHeaderInner .siteHeaderMenuList li ul#siteHeaderMenuContainer li{
	margin-left: -16px;
	padding-bottom: 1px;
}

#siteHeader #siteHeaderInner .siteHeaderMenuList li ul li a{
	width: 108px;
	padding: 6px 6px 6px 16px;
}

#siteHeader #siteHeaderInner .siteHeaderMenuList li ul li a span{
	display: block;
	float: right;
	padding: 0 26px 0 0;
}

*:first-child+html #siteHeader #siteHeaderInner .siteHeaderMenuList li ul li a span{
	margin-top: -18px;
}

#siteHeader #siteHeaderInner .siteHeaderMenuList li ul li a span.siteHeaderScroll{
	background: url(http://res.nimg.jp/img/scroll_pin.gif) no-repeat right 0;
}

#siteHeader #siteHeaderInner .siteHeaderMenuList li ul li a span.siteHeaderFix{
	background: url(http://res.nimg.jp/img/scroll_pin.gif) no-repeat right -18px;
}

#siteHeader #siteHeaderInner .siteHeaderMenuList li.siteHeaderHorizon a{
	margin-right: -2px;
}

#siteHeader #siteHeaderInner .siteHeaderMenuList li.siteHeaderHorizon a span{
	border-right: #666 solid 1px;
	border-left: #666 solid 1px;
}

#siteHeader #siteHeaderInner .siteHeaderMenuList li.siteHeaderHorizon a:hover{
}

#siteHeader #siteHeaderInner .siteHeaderMenuList li.siteHeaderHorizon a:hover span{
	border-right: #272727 solid 1px;
	border-left: #474747 solid 1px;
}

#siteHeader #siteHeaderInner .siteHeaderMenuList li.siteHeaderLogin a{
	color: #3ACCC9;
}

#siteHeader #siteHeaderInner .siteHeaderMenuList li.siteHeaderLogin a:hover span{
	text-decoration: underline;
}

/*
	siteHeaderMenuList premiere
----------------------------------------------*/
#siteHeader #siteHeaderInner #premiere{
	padding: 8px 0 0;
}

#siteHeader #siteHeaderInner #premiere li.siteHeaderExpanded a{
	border-left: #383838 solid 1px;
}

#siteHeader #siteHeaderInner #premiere li.siteHeaderExpanded a:hover{
	border-left: #474747 solid 1px;
}

#siteHeader #siteHeaderInner #premiere li.siteHeaderExpanded a span{
	border-left: #666 solid 1px;
}

#siteHeader #siteHeaderInner #premiere li.siteHeaderExpanded a:hover span{
	border-left: #474747 solid 1px;
}


/*
	siteHeaderMenuList Nicopo
----------------------------------------------*/

/*ニコポ表示コンテナ*/
#siteHeader #siteHeaderInner ul li .siteHeaderNicopo {
	text-decoration:none !important;
	margin-left:3px;
}


#siteHeader #siteHeaderInner ul li .siteHeaderNicopo
a {
	margin:0 !important;
	padding:0 3px;
}

#siteHeader #siteHeaderInner ul li .siteHeaderNicopo
a.siteHeaderNicopoBalance {

}
#siteHeader #siteHeaderInner ul li .siteHeaderNicopo
a.siteHeaderNicopoBalance:hover{
	text-decoration:underline !important;
}

#siteHeader #siteHeaderInner ul li .siteHeaderNicopo
a.siteHeaderNicopoBalance .unit {
	text-decoration:none !important;
	font-size:10px;
	padding:0;
}


/*[＋]ボタン **********************************************/
#siteHeader #siteHeaderInner ul li .siteHeaderNicopo
a.siteHeaderNicopoBalance {
	color:#fe6;
	text-shadow:0 0 3px #f60;
}

/*[＋]ボタン*/
#siteHeader #siteHeaderInner ul li .siteHeaderNicopo
a.siteHeaderNicopoPurchase {
	/* 36px - 18+2 -> 16/2 -> 8 */
	position: relative;
	margin:8px 0 0 !important;
	padding:0;
	width:18px; height:18px;
	background:#222 url(nicopo_add.png) no-repeat 0 0;
	vertical-align: top;
	line-height:18px;
}


/*[＋]ボタンのツールチップ*/
#siteHeader #siteHeaderInner ul li .siteHeaderNicopo
a.siteHeaderNicopoPurchase .tooltip {
	position: absolute;
	width:132px;
	top:18px;/*20px(ボタンh) - 2(ボーダー)*/
	left:-146px;/*134+6+6 -2(ボーダー)*/
	z-index: 999;
	display: none;
	border:solid 1px #666 !important;/*none !importantに勝つため*/
	background:#333;
	color:#fff;
	white-space:nowrap;
}
#siteHeader #siteHeaderInner ul li .siteHeaderNicopo
a.siteHeaderNicopoPurchase:hover .tooltip {
	display: block;/*hoverで表示する*/
}

/*
ボタンのボーダーは
nicolib-CommonNotificationHeader.cssの指定に勝てないため
更に強い指定でimportant
*/
#siteHeader #siteHeaderInner ul li#siteHeaderNotification .siteHeaderNicopo
a.siteHeaderNicopoPurchase {
	border:solid 1px #000 !important;
}
#siteHeader #siteHeaderInner ul li#siteHeaderNotification .siteHeaderNicopo
a.siteHeaderNicopoPurchase:hover {
	border-color:#666 !important;
}
