@charset "UTF-8";
/* 共通ヘッダのスタイル siteHeader.css に追加でサービス独自のスタイルを定義したいときはここに書く */

/* ニックネームのサイズ調整 */
#siteHeader #siteHeaderInner ul li #siteHeaderUserNickNameContainer {
  padding: 0 0 0 2px;
  max-width: 112px;
  max-height: 36px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  font-kerning: none; /* Chrome+Win10でニックネームが2行になる対策（Chromeのバグ？） */
}

#siteHeader #siteHeaderInner ul li .userNickNameSuffix {
  padding: 0 4px 0 0;
}


/* 一般会員のみ共通ヘッダの要素間を詰める微調整 */
#siteHeader #siteHeaderInner #siteHeaderUserIconContainer {
  padding: 0;
}
#siteHeader #siteHeaderInner #siteHeaderUserContainer .siteHeaderAva {
  padding: 0;
}
/* member */
#siteHeader #siteHeaderInner a.siteHeaderUpgrade {
  margin-right: 4px;
}
#siteHeader #siteHeaderInner a.siteHeaderUpgrade span {
  padding: 0;
}
/* points */
#siteHeader #siteHeaderInner .siteHeaderNicopo {
  margin-left: 0;
}
#siteHeader #siteHeaderInner .siteHeaderNicopo .siteHeaderNicopoBalance span {
  padding-left: 0;
}
