@charset "utf-8";

/**
 * Header
 */

/* Zero lead */

#zero_lead{
	margin: 36px 0 -36px;
	padding: 4px;
	position:relative;
	z-index:300;
	background: url(../img/zero_index/bg_lead.png) repeat-x #545454;
	color:#c00;
	font-size:93%;
	text-align:center;
	font-weight:bold;
}

.nofix #zero_lead {
	margin:0 0;
	padding: 4px;
}

#zero_lead a.lead_text{
	color:#c00;
	text-decoration: underline;
}

#zero_lead a.lead_text:hover{
	color:#f00;
	text-decoration: underline;
}

#zero_lead a.lead_btn{
	display:inline-block;
	padding:2px 8px;
	margin:0 0 0 16px;
	color:#fff;
	font-weight:bold;
	background:#888;
	border-top:1px solid #9D9D9D;
	border-right:1px solid #353036;
	border-bottom:1px solid #353036;
	border-left:1px solid #9D9D9D;
	border-radius:3px;
	font-weight: normal;
}

#zero_lead a.lead_btn:hover{
	background:#666;
}

/* Zero lead index */

#zero_lead_index{
	margin: 36px 0 -36px;
	padding: 6px 4px 4px;
	position:relative;
	z-index:300;
	background: url(../img/zero_index/bg_lead_q.png) repeat-x #DEDEDE;
	border-bottom:1px solid #d5d5d5;
	color:#c00;
	text-align:center;
	font-size:115%;
	font-weight:bold;
}

.nofix #zero_lead_index {
	margin:0 0;
	padding: 6px 4px 4px;
}

#zero_lead_index img{
	vertical-align:middle;
}

#zero_lead_index a.lead_text{
	color:#c00;
	text-decoration: underline;
}


#zero_lead_index a.lead_text:hover{
	color:#f00;
	text-decoration: underline;
}

#zero_lead_index a.lead_btn{
	display:inline-block;
	padding:2px 8px 2px;
	margin:0 0 0 16px;
	color:#fff;
	text-shadow:1px 1px 1px #0D3254;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #0999ae 0%, #0483ad 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#0999ae), color-stop(100%,#0483ad)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#0999ae 0%,#0483ad 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#0999ae 0%,#0483ad 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#0999ae 0%,#0483ad 100%); /* W3C */
	border-top:1px solid #9D9D9D;
	border-right:1px solid #0D3254;
	border-bottom:1px solid #0D3254;
	border-left:1px solid #0EB1AF;
	border-radius:3px;
	font-weight: normal;
}

#zero_lead_index a.lead_btn:hover{
}

/* SP Btn */


#SmartBtn{
	padding:36px 0 16px;
	text-align:center;
	margin-bottom:-52px;
}


.nofix #SmartBtn{
	margin-top:0;
	margin-bottom:-16px;
	padding:0 0 16px;
	text-align:center;
}

#SmartBtn a{
	display:inline-block;
	padding:18px 54px;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000),color-stop(0.4, #000000),color-stop(0.5, #1c1c1c), to(#787878));
	color:#fff;
	margin:8px 0;
	font-weight:bold;
	font-size:50px;
	text-align:center;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	text-decoration:none;
	-webkit-box-shadow: 0px 1px 4px #666;
	-webkit-border-radius: 10px;
}

/* announcement */
#announcement {
	width: 100%;
	padding-top: 36px;
	margin-bottom: -36px;
	background-color: #F1AFB4;
	position: relative;
	z-index: 10;
}
.nofix #announcement {
	padding-top: 0;
	margin-bottom: 0;
}

#announcement p {
	padding:5px 0;
	height: 24px;
	overflow: hidden;
	line-height: 24px;
	text-align: center;
}

#announcement a {
	color: #990000;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	background: transparent url(../img/base/announcement/error.png) no-repeat scroll left center;
	padding-left: 25px;
}

#announcement span {
	margin-left: 8px;
	color: #990000;
	font-size: 11px;
}

/* announcement Special */
#announcement_sp {
	width: 100%;
	padding-top: 36px;
	margin-bottom: -36px;
	background-color: #00A2CF;
	position: relative;
	z-index: 10;
}
.nofix #announcement_sp {
	padding-top: 0;
	margin-bottom: 0;
}

#announcement_sp p {
	padding:5px 0;
	height: 24px;
	overflow: hidden;
	line-height: 24px;
	text-align: center;
}

#announcement_sp a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	text-shadow:1px 1px 0px #000;
}

#announcement_sp span {
	margin-left: 8px;
	color: #990000;
	font-size: 11px;
}

/* header */
#header {
	margin: 0 auto 8px;
	padding-top: 43px;
	width: 976px;
}

.nofix #header {
	padding-top: 7px;
}

.msgPage #header {
	margin-bottom: 60px;
	padding-bottom: 8px;
	background: transparent url(../img/bg/bg_msg_header.gif) repeat-x scroll left bottom;
}


#header h1 {
	margin-top:10px;
	float: left;
	width: 245px;
	height: 42px;
}

#header h1 a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../img/zero_index/logo.png) no-repeat 0 0;
	text-indent: -9999px;
}


/* common styles */


#header .headerBanner {
	float: right;
	width: 468px;
	height: 60px;
}

#header .headerBanner img {
	width: 468px;
	height: 60px;
}

/**
 * Footer
 */

.toPageTopWrap{
	width: 100%;
	height: 31px;
	background: url(../img/base/foot/bg_footbtn.png) repeat-x center center;
}

.toPageTopWrap .inner{
	width: 976px;
	height: 31px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.toPageTopWrap .inner a{
	display: block;
	margin-top:4px;
	width: 120px;
	height: 24px;
	line-height: 24px;
	color: #666;
	font-size: 93%;
	text-align: center;
}


.toPageTopWrap .inner a.toPageTopBtn{
	margin:4px auto;
}


.toPageTopWrap .inner a.toPageTopBtn span{
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 0 4px 0 0;
	vertical-align: middle;
	background: url(../img/base/foot/icon_arrow_gray.png) no-repeat;
}

.toPageTopWrap .inner a.toFeedback{
	margin:4px 0 0;
	position: absolute;
	top:0;
	right:0;
}

.toPageTopWrap .inner a.toFeedback span{
	display: inline-block;
	width: 15px;
	height: 13px;
	margin: 0 4px 0 0;
	vertical-align: middle;
	background: url(../img/base/foot/icon_feedback.png) no-repeat;
}

.toPageTopWrap .inner a:hover,.toPageTopWrap .inner a:active{
	width: 118px;
	color: #666;
	background-color: #d9d9d9;
	border-left: #c3c3c3 solid 1px;
	border-right: #c3c3c3 solid 1px;
	text-decoration: none;
}

#footerWrap{
	background-color: #cacaca;
	padding: 12px 0 12px;
}

#footerWrap #footerNav{
	width: 976px;
	overflow: hidden;
	margin: 0 auto 12px;
}

#footerWrap #footerNav .outer{
	float: left;
	width: 325px;
}

#footerWrap #footerNav .outer h3{
	padding-bottom: 4px;
	margin-bottom: 6px;
	border-bottom: #999 solid 1px;
	width: 90%;
}

#footerWrap #footerNav ul{
	width: 325px;
}

#footerWrap #footerNav ul li{
	padding-left: 10px;
	margin-bottom: 4px;
	font-size: 93%;
	background: url(../img/zero_index/icon_cur.png) no-repeat left 4px;
}

#footerWrap #footerNav ul li.noListImg{
	font-size: 93%;
	background: none;
	overflow: hidden;
}

#footerWrap #footerNav ul li.noListImg ul{
	width: auto;
}

#footerWrap #footerNav ul li.noListImg ul li{
	margin-bottom: 4px;
	padding-left: 10px;
	font-size: 85%;
	background: url(../img/base/foot/icon_child.png) no-repeat left 0;
}

#footerWrap #footerNav ul li ul li:last-child{
	margin-bottom: 0;
}

#footerWrap #footerNav ul li a{
	color: #000;
}

#footerWrap #footerNav ul li a:hover{
	color: #000099;
	text-decoration: underline;
}

#footerWrap #copyright{
	clear: both;
	width: 976px;
	margin: 0 auto;
	overflow: hidden;
}

#footerWrap #copyright p{
	display: inline-block;
	font-size: 85%;
}

#footerWrap #copyright p.figureWrap{
	float: right;
	text-align: right;
	line-height: normal;
	vertical-align: bottom;
	width: 50%;
}

#footerWrap p img{
	width: 50px;
	margin-bottom: 4px;
}

#footerWrap #copyright p span{
	display: block;
	font-size: 85%;
}

/*

#footer{
	border-top:1px solid #fff;
	background:#CACACA;
}

#footer a{
	color:#000;
}

#footer_content{
	width:976px;
	margin:0 auto;
	padding:16px 0;
}

#footer_logo{
	float:left;
	padding:8px 8px 8px 0;
	border-right:1px solid #fff;
}

#footer_logo h5{
	width:169px;
	height:103px;
	background-image:url(../img/zero_index/logo_footer.png);
	background-position:0 0;
	background-repeat:no-repeat;
	text-indent:-9999px;
}

#footer_logo p{
	margin-top: 8px;
	text-align:right;
}

#footer_links{
	overflow:hidden;
	padding:8px;
	float:left;
}

#footer_links li{
	float:left;
}

#footer_jasrac{
	float:right;
	text-align:right;
	font-size:85%;
}

#footer_jasrac img{
	width:52px;
	margin:0 0 4px;
}
*/

/**
 * Clearfix
 */

.clearfix {zoom:1;}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.noticeBlock{
	width: 468px;
	float: right;
	padding: 12px 0;
	background-color: #DEDEDE;
	border: #ccc solid 1px;
}

.noticeText{
	text-align: center;
	line-height: 40px;
}

#header h1#logo_ca {
	margin-top:10px;
	float: left;
	width: 245px;
	height: 42px;
}

#header h1#logo_ca a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../img/zero_index/logo_ca.png) no-repeat 0 0;
	text-indent: -9999px;
}

/* logo 10th */
#header h1#logo_10th {
    width: auto;
    height: 50px;
    margin-top: 0;
}

#header h1#logo_10th a {
	float: left;
}

#header h1#logo_10th a.center {
    width: 195px;
    background: url(../img/zero_index/logo_ext/logo_10th_center.png) no-repeat center center !important;
		margin: 7px 5px 0 5px;
}

#header h1#logo_10th a.logo_10th_left {
    width: 109px;
    height: 50px;
    background: url(../img/zero_index/logo_ext/logo_10th_left.png) no-repeat center center !important;
}

#header h1#logo_10th a.logo_10th_left:hover{
	opacity: 0.8;
}

#header h1#logo_10th a.logo_10th_right {
    width: 66px;
    height: 33px;
    background: url(../img/zero_index/logo_ext/logo_10th_right.png) no-repeat center center !important;
		margin: 13px 0 0 0;
}

#header h1#logo_10th a.logo_10th_right:hover {
    opacity: 0.8;
}
