@charset "utf-8";

p{margin:0;}


/* Ad Settings */

/* sidewall ad */
.sidewallAd {
	display: none;
	position: absolute;
	top: 36px;
	height: 1024px;
	overflow: hidden;
}

.nofix .sidewallAd {
	top: 0;
}

#web_pc_sidewall_left * {
	position: absolute;
	top: 0;
	right: 0;
}

#web_pc_360,
.sideTxtAd{
	margin:8px 0;
}

.sideAd {
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #f7fcfe;
	text-align: center;
	margin: 8px auto;
}

.sideAd .thumb {
	margin: 0 auto 3px;
	float: none;
	width: 300px;
	height: 60px;
}

.sideAd .thumb img {
	width: 300px;
	height: 60px;
}

.sideAd span {
	padding-left: 20px;
	font-size: 12px;
	background: transparent url(../img/icon/icon_pr.gif) no-repeat scroll left center;
}

.sideTxtAd {
	border: 1px solid #ececec;
	overflow: hidden;
	background-color: #f7fcfe;
	font-size:93%;
}

.sideTxtAd li {
	margin-top: -1px;
	padding: 10px 5px 10px 34px;
	border-top: 1px dotted #9c9c9c;
	background: transparent url(../img/icon/icon_pr.gif) no-repeat scroll 12px center;
}

.sideAd a, .sideTxtAd a {
	color: #333 !important;
}

.footerBanner {
	margin: 0 auto;
	width: 728px;
	height: 90px;
}

.footerBanner img {
	width: 728px;
	height: 90px;
}

#web_pc_middle_east{
	margin: 8px auto;
	text-align: center;
}

/**
 * Container
 */

#contentsWrap {
	margin: 0 auto;
	padding-bottom: 30px;
	position: relative;
	width: 976px;
	text-align: left;
}

#contents {
	margin-bottom: 16px;
	width: 100%;
}

#sideNav {
	float: left;
	width: 182px;
}

#mainContents {
	float: left;
	width: 444px;
}

#sideContents {
	float: right;
	width: 350px;
}

/**
 * icon Setting
 */

.douga {background-position: 6px 4px;}
.seiga {background-position: 5px -29px;}
.live {background-position: 5px -61px;}
.ch {background-position: 5px -91px;}
.encyclopedia {background-position: 5px -124px;}
.ichiba {background-position: 5px -156px;}
.uad {background-position: 5px -188px;}
.jk {background-position: 5px -220px;}
.commons {background-position: 5px -252px;}
.community {background-position: 5px -284px;}
.sub {background-position: 5px -316px;}
.chokuhan {background-position: 5px -348px;}
.child {background-position: 5px -378px;}
.game {background-position: 5px -414px;}
.mobile {background-position: 5px -446px;}
.niconare {background-position: 5px -443px;}
.nicolun {background-position: 5px -409px;}
.news {background-position: 5px -476px;}
.app {background-position: 5px -508px;}
.gad {background-position: 5px -541px;}
.blomaga{background-position: 5px -571px;}
.n3d {background-position: 5px -602px;}
.atsumaru {background-position: 5px -634px;}

/**
 * SerachForm
 */

#searchFormWrap{
	width:976px;
	height:39px;
	padding:13px 0 0;
	margin:0 auto;
	background-position:0 0;
	background-repeat:no-repeat;
	position:relative;
}

#searchFormInner{
	width:47em;
	margin:0 auto;
}

#searchFormInner ul{
	float: left;
}


#searchFormInner li{
	float:left;
}

#searchFormInner li a{
	display:block;
	padding:2px 6px;
	margin: 1px 2px
}

#searchFormInner li a:hover{
	text-decoration:none;
}
#searchWord{
	width:327px !important;
	height:25px;
	border:1px solid #ccc;
	float:left;
	margin:0 0 0 8px;
}

#searchSubmit{
	float: left;
	width:33px;
	height:27px;
	border:none;
	background-position:0 0;
	background-repeat:no-repeat;
	cursor:pointer;
}

#searchform_container{
	position:relative;
	float: left;
}

#migiueText{
	width:300px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	color:#999;
	position:absolute;
	top:0;
	right:0;
	padding:0 0 0 25px;
	background:url(../img/zero_index/bg_search_tv.png) no-repeat 0 2px;
}

/* search Link */

.sugoiSerach{
	position: absolute;
	top:18px;
	right:12px;
	padding:0 8px 0 0;
	background:url(../img/zero_index/sugoi_cur.png) no-repeat right 6px;
}

.sugoiSerachButton{
	cursor: pointer;
	color: #333;
	border: none;
	background: none;
	margin: 0;
	padding: 0;

}

.sugoiSerachButton:hover{
	text-decoration: underline;
}

/**
 * Textinfo
 */


/* text information */
#textInfo {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	overflow:hidden;
}

#textInfo li {
	float: left;
	width: 32%;
}



/**
 * userStats
 */

#userStats{
	margin:0 0 4px;
	text-align:center;
}

#userStats p{
	margin:4px 0 0;
	font-weight:bold;
}

/**
 * Side Navigation - nico nico service
 */

/* open_user_ch.tpl */
#userContent{
	width:182px;
	height:auto;
	font-size:14px;
	text-align:center;
	margin-bottom:10px;
}
#userContent div#Content{
	background:url(../img/zero_index/open_user_ch/bg.png) repeat-y;
}
#userContent div#Content div { font-weight:bold; padding:0 14px;}
#userContent div#Content div.user_name { width:170px; word-break: break-all;}
#userContent div#bottom {
	font-weight:bold;
	background:url(../img/zero_index/open_user_ch/bottom.png) bottom no-repeat;
	height:32px;
	padding-top:6px;
}
#userContent div#bottom { color:#FFF;}

#NewServiceList{
	margin:0 0 8px;
}

#NewServiceList h5{
	background-repeat:no-repeat;
	height:28px;
	line-height:28px;
	padding:0 0 0 8px;
	position:relative;
}

#menuR18{margin: 8px 0 0;}

#menuContents h5{background-position:0 -52px;}
#menuService h5{background-position:0 -80px;}
#menuDevice h5{background-position:0 -52px;}
#menuR18 h5{background-position:0 -52px;}

#menuService h5 a,
#menuDevice h5 a{
	position:absolute;
	top:0;
	right:18px;
	font-size:93%;
}


#NewServiceList li{
	background-repeat:no-repeat;
	width:182px;
	height:24px;
}
#menuContents li{
	background-position:0 -108px;
}

#menuContents li:hover{
	background-position:0 -132px;
}

#menuService li,
#menuDevice li,
#menuR18 li{
	background-position:0 -156px;
}

#menuService li:hover,
#menuDevice li:hover,
#menuR18 li:hover{
	background-position:0 -180px;
}

.service_sub li a{
	display:block;
	padding:4px 8px 4px 26px;
}

.service_main li a{
	display:block;
	padding:4px 8px 4px 28px;
}

.service_sub a:hover,
.service_main a:hover{
	text-decoration:none;
}

.service_open,
.service_close{
	text-align:right;
	padding:4px;
	font-size:93%;
}

.service_sub .tv_child_list {
	font-size: 11px;
	margin: 0 0 0 15px;
}

.service_sub .tv_child_list a {
	display: inline;
	padding: 4px 2px;
	color: #444;
}

.service_sub .tv_child_list a:hover {
	color: #444 !important;
}

.service_sub .tv_child_list a.icon_svc {
	padding: 4px 2px 4px 26px;
}

/**
 * Enjoy
 */


#enjoy_prev.on{
	background-repeat:no-repeat;
	background-position:0 -204px;
	display:block;
	height:17px;
	text-indent:-9999px;
	cursor:pointer;
}

#enjoy_prev.on:hover{
	background-position:0 -221px;
}

#enjoy_prev{
	background-repeat:no-repeat;
	background-position:0 -238px;
	display:block;
	height:17px;
	text-indent:-9999px;
}

#enjoy_next.on{
	background-repeat:no-repeat;
	background-position:0 -255px;
	display:block;
	height:17px;
	text-indent:-9999px;
	cursor:pointer;
}
#enjoy_next.on:hover{
	background-position:0 -272px;
}
#enjoy_next{
	background-repeat:no-repeat;
	background-position:0 -289px;
	display:block;
	height:17px;
	text-indent:-9999px;
}

#enjoy_container{
	overflow:hidden;
	height:260px;
	background: #FFF;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.enjoy_content li{
	text-align:center;
	padding:8px 0 0;
	width:180px;
}

li.enjoy_s img{width:164px;	height:55px;}
li.enjoy_m img{width:164px;	height:118px;}
li.enjoy_l img{width:164px;	height:244px;}


/*    ----------     MainContainer      ----------     */


/**
 * Today
 */

#today{
	width:424px;
	margin:0 auto 8px;
	position:relative;
}

#today h2{
	height:47px;
	text-align:right;
	padding:0 10px 0 0;
	line-height:47px;
	font-family: Impact,Charcoal;
	font-size:200%;
	font-weight:normal;
	color: #333;
	background:#cccccc;
}
#today h2 span{font-size: 50%;
font-weight: normal;text-indent: 5px;display: inline-block;
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ" ;}

#today_calendar_open{
	display:block;
	width:15px;
	height:16px;
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	display:none;
}

#today_contents_wrap{
	padding:16px 8px 3px 8px;
	width:408px;
	line-height: 150%;
}

#today_contents{
	width:210px;
	float:left;
	background-position:right 50%;
	background-repeat:repeat-y;
}

#today_live_onair{
	margin:0;
	position: relative;
}

#today_live_onair a{
	font-weight:bold;
}

.today_live_playing li{
	background-repeat: no-repeat;
	margin-top:8px;
	padding:22px 8px 0 5px;
	position:relative;
	z-index:7;
	background-image:url(../../img/zero_index/theme/default/today_onair.png);
}

.today_onair_image{
	width:192px;
	height:144px;
	position:relative;
	z-index:6;
}

.today_onair_image img{
	max-width:192px;
	max-height:144px;
	margin:-55px 0 -16px;
	margin-left: 5px;
-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
box-shadow: 1px 1px 2px rgba(0,0,0,0.2);}


.timeshift_button a {
    padding: 2px 0 2px 0 !important;
}

#today_program{
	position: relative;
}

#today_program dl{
	padding:0 0 15px;
}
#today_program dt{
	display:inline-block;
	margin-top:8px;
	padding:0 8px;
	background-repeat:no-repeat;
	line-height:20px;
	vertical-align:middle;
	position:relative;
	z-index:8;
	color:#333;
	background: #e5be23;
}

#today_program dd{
	padding:2px 8px 0 5px;
}

#today_event{
position: relative;
width: 176px;
float: right;
border-left: 1px solid #ccc;
padding-left: 15px;
}

.today_event_title{
	display: none;
}

.event_image {
	display: block;
	text-align: center;
	z-index:80;
	position: relative;
}

.event_image img{
	max-height: 90px;
	max-width: 169px;
	display: block !important;
	margin: 0 auto;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

#today_event li{
	margin:8px 0 0 ;

}

#today_foot{
	clear:both;
	text-align:right;
	position:relative;
}

#today_foot p{
    background-position: right bottom;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    padding-top: 4px;
}

/*  Calender  */

#today_calendar{
	position:absolute;
	top:-11.5em;
	right:5em;
	z-index:100;
	padding:4px;
	background:#fff;
	border:1px solid #666;
	font-size:93%;
	display:none;
	box-shadow:2px 2px 4px #666;
}

.calendar_table th,
.calendar_table td{
	padding:1px 2px;
	text-align:center;
}

.calendar_table th.calendar_0{color:#C00;}
.calendar_table th.calendar_6{color:#06F;}
.calendar_table th{border-bottom:1px solid #ccc;}

.calendar_table td:hover{background:#ccc;}
.calendar_table td{color:#999;}
.calendar_table td a{color:#000;}
.calendar_table td.calendar_0 a{color:#c00;}
.calendar_table td.calendar_6 a{color:#06f;}

#calendar_head{
	background: #1c1c1c;
	color:#fff;
	padding:2px;
	text-align:center;
	position:relative;
}

#calendar_prev{
	display:block;
	width:10px;
	height:10px;
	position:absolute;
	top:6px;
	left:4px;
	text-indent:-9999px;
	background-image:url(../img/zero_index/icon_cal_cur.png);
	background-repeat:no-repeat;
	background-position:0 0;
}

#calendar_next{
	display:block;
	width:10px;
	height:10px;
	position:absolute;
	top:6px;
	right:4px;
	text-indent:-9999px;
	background-image:url(../img/zero_index/icon_cal_cur.png);
	background-repeat:no-repeat;
	background-position:-10px 0;
}

#today_calendar_open{
	display:block;
	width:16px;
	height:18px;
	background-image:url(../img/zero_index/theme/default/icon_cal.png);
	background-repeat:no-repeat;
	background-position:0 2px;
	text-indent:-9999px;
	z-index:110;
	text-align:left;
	position:absolute;
	top:0;
	right:4em;
}

#today_calendar_close{
	display:block;
	width:16px;
	height:16px;
	background-image:url(../img/zero_index/theme/default/icon_cal.png);
	background-repeat:no-repeat;
	background-position:0 -18px;
	text-indent:-9999px;
	z-index:109;
	text-align:left;
	position:absolute;
	top:4px;
	right:4em;
}

/**
 * News Tab
 */


#newsLogo{
	height: 16px;
	margin: 8px 8px 0;
}

#newsLogo a{
	display: block;
	width: 122px;
	height: 16px;
	background:url(../img/zero_index/news_logo.png) no-repeat 0 0;
	text-indent: -9999px;
}

#News_tab{
	width:424px;
	border:1px solid #ccc;
	margin:0 0 10px;
	background:#fff;
	margin:8px auto;
	border-radius-top-left: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

#topic,
#hard,
#soft,
#rank,
#pick{
	position:relative;
	display:none;
	min-height:170px;
}

#Tabs{
	margin:10px;
}


.tabmenu{
	padding:5px 0 0;
	color:#666;
}

.tabmenu li{
	float:left;
	margin-left:1px;

}

.tabmenu li a{
	display:inline-block;
	padding:3px 10px;
	font-size:12px;
	background: #e5e5e5;
	color:#000;
}

.tabmenu li a:hover{
	background:url(../img/zero_index/highlight_bg.png) repeat-y #efefef  ;
}

.tabmenu li.active a{
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #fff;
	border-left:1px solid #ccc;
	padding:6px 10px 3px;
	font-weight:bold;
	cursor:default;
	text-decoration:none;
	margin:-4px -1px 0 -1px;
	background: #fff;

}

.tabcont{
	background:#fff;
	text-align:left;
	position: relative;
}

.tabcont li img{
	margin:0 0 0 3px;
}

.tabcont ul{
	padding:8px 0;
	margin: 0px 5px 5px 5px;
}

#topic ul,
#hard ul,
#soft ul,
#pick ul{
	width: 272px;
	float: left;
	position: relative;
	z-index: 2;
}


.tabcont li{
	margin: 5px 0 0;
}

.tab_caption{
	padding:5px 8px 10px;
	border-top:1px solid #ccc;
	color:#666;
}

.news_imgbox{
	width:110px;
	float: right;
	margin: 15px 8px 0 0;
}

.news_thumb{
	border:1px solid #ccc;
	width:110px;
	height:110px;
	background:#fff;
	overflow:hidden;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	layout-grid-line:110px;
}

.news_thumb img{
	max-width:110px;
	max-height:110px;
	vertical-align:middle;
}

.news_imgbox p{
	margin:3px 0 8px;
}

.news_link{
	margin: -8px auto 8px;
	text-align: right;
	display: inline-block;
	float: right;
	width: 394px;
}

.news_link a:before{
	content: "";
	display: inline-block;
	background: url(../img/zero_index/icon_cur.png) no-repeat 0 0.3em;
	width: 12px;
	height: 12px;
}

.tabcont ul.news_ranking {
	padding:8px;

}

.news_ranking li{
	margin:5px 135px 0 4px;
	padding:0;
	height:22px;
	background:url(../img/zero_index/rank_bg.png) repeat-x 0 50%;
}

.news_ranking a{
	background:#fff;
	padding:0 5px 0 0;
}

.news_ranking span{
	display:inline-block;
	width:13px;
	text-align:center;
	overflow:hidden;
	font-size:10px;
	color:#333;
	font-weight:bold;
	background:#fff;
	padding:0 3px 0 0;
	margin:0 0 0 -7px;
}


.news_rank1 span{
	background:url(../img/zero_index/icon_rank1.png) no-repeat #fff;
}

.news_rank2 span{
	background:url(../img/zero_index/icon_rank2.png) no-repeat #fff;
}

.news_rank3 span{
	background:url(../img/zero_index/icon_rank3.png) no-repeat #fff;
}

.news_graph{
	position:absolute;
	top:1px;
	right:8px;
	width:130px;
}

.news_graph li{
	background:none;
	padding:0;
	position:relative;
	height:22px;
}

.graph{
	display:block;
	background:#FFD5AB;
	overflow:hidden;
	text-indent:-9999px;
	width:140px;
	height:22px
}

a.news_tweet{
	position:absolute;
	top:1px;
	right:2px;
	font-size:10px;
	color:#000 !important;
	padding:0 0 0 10px;
}

#topic ul{
	margin-bottom: -14px;
}

.comment_count{
	display: inline-block;
	font-size: 11px;
	color: #444 !important;
}

.comment_count img{
	margin: 0 4px 0 3px !important;
}

/**
 * Entertainment
 */

#entertainment{
	width:424px;
	background-color: transparent;
	background-repeat:no-repeat;
	background-position:0 0;
	margin:8px auto 8px;
	position:relative;
}

#entertainment_container{
	overflow: hidden;
	width:414px;
	height:120px;
	position:relative;
}

#entertainment_container h3{
	background-repeat:no-repeat;
	width:292px;
	position:absolute;
	top: 0;
	left: 105px;
	padding:8px 0 0 16px;
	color:#fff;
}

.colorset00 h3{	height:27px;background-position:0 -112px;}
.colorset00 h3 a{color:#cc0099;}

.colorset01 h3{	height:24px;background-position:0 -147px;}
.colorset01 h3 a{color:#9d7901;}

.colorset02 h3{	height:26px;background-position:0 -179px;}
.colorset02 h3 a{color:#009095;}

.colorset03 h3{	height:27px;background-position:0 -213px;}
.colorset03 h3 a{color:#ff7500;}

.colorset04 h3{	height:24px;background-position:0 -248px;}
.colorset04 h3 a{color:#ff0000;}


#entertainment_prev,
#feature_prev{
	background-image:url(../img/zero_index/icon_slide_cur.png);
	display:block;
	width:20px;
	height:20px;
	margin:-10px 0 0;
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	position:absolute;
	top:50%;
	left:-8px;
	display:none;
	cursor:default;
	z-index:5;
}

#entertainment_prev.on,
#feature_prev.on{
	display:block;
	cursor:pointer;
}

#entertainment_next,
#feature_next{
	background-image:url(../img/zero_index/icon_slide_cur.png);
	display:block;
	width:20px;
	height:20px;
	margin:-10px 0 0;
	background-repeat:no-repeat;
	background-position:-20px 0;
	text-indent:-9999px;
	position:absolute;
	top:50%;
	right:-8px;
	display:none;
	cursor:default;
}

#entertainment_next.on,
#feature_next.on{
	display:block;
	cursor:pointer;
}

.entame_image{
	width:100px;
	border:1px solid #ccc;
	float:left;
	margin:10px;
}

.entame_image img{
	width:100px;
	height:75px;
}

.entertainment_content{
	position: absolute;
	top:0;
	left:0;
}

.entertainment_content dl{
	padding:30px 0 0;
	width:284px;
	overflow:hidden;
	zoom:1;
	font-size:93%;
	line-height:1.4;
}
.entertainment_content dt {
margin-bottom: 3px;
}
.entertainment_content dd{
	text-align:right;
}

/**
 * features
 */


#feature{
	 width:424px;
	 margin:8px auto;
	 position:relative;
	 background:#fff;
}

#feature_container{
	position:relative;
	widtht:424px;
	overflow:hidden;
	margin:0 auto;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.feature_content {
	width:424px;
	position: absolute;
	margin-left:0;
}

.feature_article{
	padding:13px;
}

.feature_main_image{
	float:left;
	margin:0 8px 8px 0;
}

.feature_description{
	overflow:hidden;
	zoom:1;
}

.feature_article ul{
	clear:left;
	margin-right: -10px;
}

.feature_article li{
	float:left;
	width:190px;
	margin:0 10px 4px 0;
	overflow:hidden;

	font-size:93%;
}

/**
 * Pickup
 */

#pickup{
	width:422px;
	margin:8px auto;
}

#pickup ul{
	margin:0 -10px 0 0;
}

#pickup li{
	width:98px;
	float:left;
	margin:0 10px 0 0;
}

.pick_thumb{
	width:96px;
	height:72px;
	overflow:hidden;
	border:1px solid #f00;
	position:relative;
}

.pick_thumb img{
	max-width:96px;
	max-height:72px;
}

.pick_thumb span{
	display:inline-block;
	position:absolute;
	padding:2px 4px;
	bottom:0;
	right:0;
	font-size:88%;
	color:#fff;
	text-shadow:1px 1px 1px #666;
}


.comic .pick_thumb{border:1px solid #77c238 ;}
.comic span{background: #77c238 ;}
.illust .pick_thumb{border:1px solid #FF9900;}
.illust span{background: #FF9900;}


.pick_link{
	margin:8px 0;
	text-align:right;
}



/*  niconico info */

#nicoNews{
	margin:8px 0;
}

/*  recommend News  */

#recommendNews ul{
	padding:10px 12px 0 12px;
}
#recommendNews li{
	background-repeat:no-repeat;
	background-position:0 0.2em;
	margin:0 0 4px;
	padding:0 0 4px 0;
	color:#666;
	border-bottom:1px solid #ccc;
}

#recommendNews li:last-child{
	border:none;
	margin:0;
}

.rec_name{
	font-size:88%;
	font-weight:normal;
	margin:0 0 4px;
}

.rec_description{
	border-top:1px dotted #ccc;
	margin:4px 0 0;
	padding:4px 0;
	font-size:93%;
}

.reccomend_article{
}

.reccomend_article img{
	float:right;
	width:100px;
	margin:0 0 0 8px;
}

.reccomend_article_box{
	overflow:hidden;
	zoom:1;
}

/*  Real Event  */

#real_event_container{
	width:350px;
	overflow:hidden;
	border:1px solid #ccc;
	border-radius:3px;
	background: #fff;
}

#real_event_container .link_right {
    padding: 0 8px 4px;
}

#real_event_container li{
	word-break: break-all;
	word-wrap: break-word;
}


/* main contents - common styles */

.link_right{
	clear:both;
	text-align:right;
	padding:4px 0;
}

.contents_box .link_right{
	padding:4px 8px;
}

.title_index{
	background-repeat:no-repeat;
	background-position:0 -306px;
	font-weight:bold;
	height:30px;
	overflow:hidden;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.title_index h4{
	padding:5px 10px;
	float:left;
}

.twitter_link{
	float:right;
	background:url(../img/zero_index/tweet_bg.png) right 0 #2987c6 no-repeat;
	display:block;
	padding:0;
	text-indent: -999em;

/*
	height:20px;
	padding:4px 28px 4px 8px;
*/
}

.facebook_link{
	float:right;
	background:url(../img/zero_index/facebook_bg.png) right 0 #3b5998;
	display:block;
	text-indent: -999em;
}

.rss_link{
	float:right;
	background:url(../img/zero_index/rss_bg.png) right -3px #47993d no-repeat;
	display:block;
	width: 60px;
	color:#fff !important;
	font-size: 11px;
	text-indent: 8px;
	line-height: 26px;
}

.twitter_link,
.facebook_link,
.rss_link{
	margin: 3px 4px 0 0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	height:24px;
}

.twitter_link,
.facebook_link{
	background-size: 100% auto;
	width: 24px;
}


.twitter_link:hover{
	background:url(../img/zero_index/tweet_bg.png) right 0 #429bd6 no-repeat;
	background-size: 100% auto;
}

.facebook_link:hover{
	background:url(../img/zero_index/facebook_bg.png) right -24px #4869ad no-repeat;
	background-size: 100% auto;
}

.rss_link:hover{
	background:url(../img/zero_index/rss_bg.png) right -3px #5cb151 no-repeat;
}

.title_light{
	background-repeat:no-repeat;
	background-position:0 -334px;
	font-weight:bold;
	height:20px;
	padding:4px 8px;
	margin:8px 0;
	overflow:hidden;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.title_uad{
	background-repeat:no-repeat;
	background-position:0 -362px;
	font-weight:bold;
	height:20px;
	padding:4px 4px;
	margin:8px 0;
	overflow:hidden;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.title_uad span{
	display:block;
	padding:0 0 0 26px;
}

.videoList .listWrap {
	width: 424px;
	margin:0 auto;
	overflow: hidden;
}

.videoList .listWrap ul{
	margin-right:-10px;
}

.videoList .listWrap ul li {
	margin-right: 10px;
	float: left;
	width: 98px;
	overflow: hidden;
	word-wrap: break-word;
}

.videoList .listWrap ul li a {
	margin-bottom: 2px;
	display: block;
}

.videoList .listWrap ul li a img {
	width: 96px;
	height: 72px;
}

.contents_box{
	border:1px solid #ccc;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin:0 auto 8px;
}

.link_list{
	padding:7px 10px 10px 10px;
}

.link_list li{
	margin:5px 0 0;
}

li.no_contents{
	padding:30px 0;
	text-align:center;
	background:none;
}

.topic_contents{
	padding:8px 8px 0;
}

.topic_image{
	float:left;
	margin: 0 8px 0 0;
}
.topic_image img{
	width:100px;
	height:75px;
}

.topic_contents{
	overflow:hidden;
	zoom:1;
}

.icon_cur{
	display:inline-block;
	padding:0 0 0 12px;
	word-break: normal;
}

.icon_cur_white{
	display:inline-block;
	background:url(../img/zero_index/theme/default/icon_cur_white.png) no-repeat 0 0.3em;
	padding:0 0 0 12px;
}

.ext_image{
	border-top:1px solid #ccc;
	margin:0 8px;
	padding:8px 0;
	text-align:center;
}

/* main contents - hot video */
#hotVideo{
	width:424px;
	margin:8px auto;
}

#hotVideo .listWrap ul li img {
	border: 1px solid #6c3;
}


/* main contents - advertised video */


#uadVideo{
	width:424px;
	margin:8px auto;
}

#uadVideo .listWrap ul li img {
	border: 1px solid #c90;
}

#uadVideo .listWrap ul li p {
	margin-bottom: 2px;
	color: #c58a19;
	text-align: center;
}

#uadVideo .listWrap ul li p span {
	margin-right: 5px;
	font-weight: bold;
}

#uadVideo .listWrap ul li.silver p {
	color: #999;
}

#uadVideo .listWrap ul li.silver img {
	border-color: #ccc;
}

#venus{
	width:350px;
	text-align:center;
	overflow:hidden;
	margin:8px 0;
}

/**
 * Earthquake Info
 */

#earthquake{
	border:1px solid #666;
	margin:8px auto;
	width:750px;
	background-color: #fff;
}

#earthquake h4{
	padding:5px 8px;
	background:#333;
	color:#fff;
}

#earthquake p{
	padding:8px;
	text-align:center;
}

/**
 * Personal Frame
 */

#personalFrame{
	margin:0 auto 8px;
	width:424px;
	border:1px solid #cecece;
	-webkit-box-shadow:0 1px 3px 0px #cecece;
	-moz-box-shadow:0 1px 3px 0px #cecece;
	box-shadow:0 1px 3px 0px #cecece;
	font-size:12px;
	background: #FFF;
	position: relative;
}

#personalTitle h3{
	font-size: 12px;
	padding: 12px 0 0 72px;
	color: #343434;
	font-weight: normal;
}

#personalTitle .personalNickname{
	font-size: 15px;
	font-weight: bold;
	display: inline;
}

#personalTitle:before{
	content: "";
	display: block;
	position: absolute;
	height: 48px;
	width: 28px;
	background:url(../img/icon/icon_personal.png) no-repeat 0 0;
	left: 28px;
	top: -3px;
}

#personalFrameDisplayed{
	display:block;
	width:12px;
	height:12px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../img/icon/icon_personal_close.png) no-repeat;
	position:absolute;
	top:6px;
	right:6px;
}

#personalDescription a{
	display: block;
	overflow:hidden;
	background: #f4f4f4;
	height: 30px;
	line-height: 30px;
	margin: 5px 9px 9px;
	text-align: center;
	color: #333333;
	font-size: 13px;
	font-weight: normal;
}

#personalDescription a:hover{
	text-decoration: none;
	background: #f7f7f7;
}

.personalFrameHighlight{
	font-weight: bold;
	color: #ff1e00;
	text-decoration: underline;
	font-size: 14px;
}

#personalDescription a:hover b{
	color: #ff0090;
	text-decoration: underline;
}

/* 新パーソナル枠 */
/* 移行が終わったら、上にあるスタイルは削除し #_personalFrame を #personalFrame に直す */
#_personalFrame {
 	margin: 0 auto 8px;
 	width: 424px;
 	border: 1px solid #cecece;
 	-webkit-box-shadow: 0 1px 3px 0px #cecece;
 	-moz-box-shadow: 0 1px 3px 0px #cecece;
 	box-shadow: 0 1px 3px 0px #cecece;
 	font-size: 12px;
 	background: #FFF;
 	position: relative;
 }

#_personalFrame .personalTitle h3 {
 	font-size: 12px;
 	padding: 12px 0 0 72px;
 	color: #343434;
 	font-weight: normal;
 }

#_personalFrame .personalTitle .personalNickname {
 	font-size: 15px;
 	font-weight: bold;
 	display: inline;
 }

#_personalFrame .personalTitle:before {
 	content: "";
 	display: block;
 	position: absolute;
 	height: 48px;
 	width: 28px;
 	background: url(../img/icon/icon_personal.png) no-repeat 0 0;
 	left: 28px;
 	top: -3px;
 }

#_personalFrame .personalCloseButton {
 	display: block;
 	width: 12px;
 	height: 12px;
 	overflow: hidden;
 	text-indent: -9999px;
 	background: url(../img/icon/icon_personal_close.png) no-repeat;
 	position: absolute;
 	top: 6px;
 	right: 6px;
 }

#_personalFrame .personalDescription a {
 	display: block;
 	overflow: hidden;
 	background: #f4f4f4;
 	height: 30px;
 	line-height: 30px;
 	margin: 5px 9px 9px;
 	text-align: center;
 	color: #333333;
 	font-size: 13px;
 	font-weight: normal;
 }

#_personalFrame .personalDescription a:hover {
 	text-decoration: none;
 	background: #f7f7f7;
 }

#_personalFrame .personalFrameHighlight {
 	font-weight: bold;
 	color: #ff1e00;
 	text-decoration: underline;
 	font-size: 14px;
 }

#_personalFrame .personalDescription a:hover b {
 	color: #ff0090;
 	text-decoration: underline;
 }

/* for unei_osusume.tpl */
#uneiOsusume {
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: 2px dotted #ccc;
}

#uneiOsusume .thumb {
	border: 1px solid #023567;
	width: 96px;
	height: 72px;
	float:left;
	margin:0 8px 0 0;
}

#uneiOsusume .thumb img {
	width: 96px;
	height: 72px;
}

#uneiOsusume div {
	overflow:hidden;
	zoom:1;
}

#uneiOsusume div h3 {
	font-weight: normal;
}

#uneiOsusume div p {
	color: #666;
	font-size:93%;
}

#uneiOsusume ul.uoVideo li {
	float: left;
	width: 212px;
}

#uneiOsusume ul.uoVideo li .thumb,
#uneiOsusume ul.uoVideo li div {
	margin-right: 8px;
	_margin-right: 5px;
}

#uneiOsusume ul.uoVideo li .thumb {
	border: 1px solid #023567;
	width: 96px;
	height: 72px;
}

#uneiOsusume ul.uoVideo li .thumb img {
	width: 96px;
	height: 72px;
}

#uneiOsusume ul.uoVideo li div {
	float: right;
	width: 98px;
	font-size:93%;
}


/* for chblog_tab.tpl */
#blomaga_copy{
	padding:14px 14px 8px;
	font-weight:bold;
	font-size:20px;
}

#Blomaga_tab{
	margin:8px auto;
	width: 424px;
	border: 1px solid #CCCCCC;
	background: none repeat scroll 0 0 white;
	word-wrap:break-word;
}

#Blomaga_tab .tabs{
	padding:8px 14px 14px;
}

.blomaga_tab_menu{
	margin-bottom: 10px;
	padding:5px 0 0;
	color:#666;
}
	.blomaga_tab_menu li{
		float:left;
		margin-left:1px;

	}
	.blomaga_tab_menu li a{
		display:inline-block;
		padding:3px 10px;
		font-size:12px;
		background: #e5e5e5;
		color:#000!important;
	}
	.blomaga_tab_menu li a:hover{
		background-color:#efefef;
	}
	.blomaga_tab_menu li.active a{
		margin:-4px -1px 0 -1px;
		padding:6px 10px 3px;
		border-top:1px solid #ccc;
		border-right:1px solid #ccc;
		border-bottom:1px solid #fff;
		border-left:1px solid #ccc;
		background: #fff;
		text-decoration:none;
		font-weight:bold;
		cursor:default;
	}


.blomaga_tab_continner{
	display:none;
}
.blomaga_tab_continner.active{
	display:block;
}
	#Blomaga_tab .blomaga_item{
		margin:4px 0;
	}
	#Blomaga_tab .blomaga_item .articleTtl{
		font-weight:bold;
		font-size:15px;
	}
	#Blomaga_tab .blomaga_more {
		text-align:right;
	}
	.blomaga_item .blogname  {
		color:#999;
	}
	.blomaga_item .blogname a {
		font-size:11px;
		color:#333;
		text-decoration:none;
	}
	.blomaga_item .blogname a:hover {
		text-decoration:underline;
	}
	#Blomaga_tab .blomaga_item.first{
		margin-bottom: 8px;
	}
	#Blomaga_tab .blomaga_item.first .blomaga_info{
		float:left;
		width:294px;
	}
		#Blomaga_tab .blomaga_item.first.noimage .blomaga_info {
			width:100%;
		}
		.blomaga_item.first .summary {
			line-height: 1.4;
			color: #666;
			font-size: 12px;
		}
		.blomaga_item.first .blogname{
			display:block;
			margin-bottom:4px;
			text-align: right;
		}
		.blomaga_item.first .blomaga_thumb{
			position: relative;
			display: block;
			float:right;
			width:91px;
			max-height:91px;
			background-color:#FFF;
			border:1px solid #cbcbcb;
			text-align:center;
		}
		.blomaga_item.first .blomaga_thumb img{
			width:100%;
		}





/* for timezone */
#timezone_offset{
	position: relative;
	padding: 8px;
  background: #f1f1f1;
  background: -webkit-gradient(liner, left top, left bottom, from(#fff), to(#e5e5e5));
  background: -webkit-linear-gradient(top, #fff 0, #e5e5e5 100%);
  background: -moz-linear-gradient(top, #fff, #e5e5e5);
  background: -ms-linear-gradient(top, #fff, #e5e5e5);
  background: -o-linear-gradient(top, #fff, #e5e5e5);
  background: linear-gradient(to bottom, #fff, #e5e5e5);
  border: #ccc solid 1px;
  border-radius: 2px;
  margin-bottom: 8px;
  font-size: 12px;
}

#timezone_offset_ignore{
	position: absolute;
	top: 4px;
	right: 4px;
	display: block;
	width: 9px;
	height: 9px;
	text-indent: -999em;
	cursor: pointer;
	background: url(../img/index/timezone/close.png) no-repeat 0 0;
}

#timezone_offset .markNotice{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 19px;
	height: 17px;
	margin: 0 4px 2px 0;
	vertical-align: top;
	background: url(../img/index/timezone/notice.png) no-repeat 0 0;
}

#timezone_offset p{
	padding-right: 4px;
}

#timezone_offset p a{
	padding-left: 12px;
	background: url("../../img/zero_index/theme/default/icon_cur.png") no-repeat 0 4px;

}

#to_q{
	width: 424px;
	margin: 0 auto 8px;
}


/* todayBanner */
#todayBanner {
	clear: both;
	padding: 4px;
	text-align: center;
}



/* premium_strong.tpl */
div#premium_strong {
	width:424px;
	height:92px;
	margin:0 auto 10px;
	position:relative;
	overflow:hidden;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
a#close_premium_strong {
	position:absolute;
	width:20px;
	height:20px;
	top:0;
	right:0;
	z-index:1;
	cursor:pointer;
}

/*chohonzituPickup*/
#chohonzituPickup a{
  color: #000000 !important;
  text-decoration: underline !important;
}

#chohonzituPickup a:hover{text-decoration: none !important;}


/* recommendVideo */

#recommendVideo{
	width:424px;
	margin:0 auto 8px;
	position:relative;
}

#recommendVideo img{
	border:1px solid #ccc;
}
#recommendVideo span{
	font-size:11px;
}
#recommendVideo .recommendTag{
	color:#999;
}


/* novel */

#niconovel{
	margin: 16px auto;
	padding:16px 16px 8px;
	background-image: url("../../img/zero_index/novel/bg.png");
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

#niconovel h3{
	width:120px;
	float:right;
	margin:32px 0 0;
}

#niconovelContainer{
	float:left;
	width:808px;

}

#niconovelBody{
	height:26em;
	overflow: hidden;
}

#niconovelBody h5{
	font-weight: normal;
	font-size: 16px;
	margin:0 0 0 16px;
}

#niconovelBody p{
	margin:16px 0 0 ;
}

#niconovelBody p a{
	color: #c00;
}

#niconovelBody p.novelLink{
	margin:16px 0 0 16px;
}

#novelFooter{
	clear: both;
	text-align: center;
	margin: 0 -16px;
}

/*  PremiumCounter  */

#premiumCountUp{
	margin: 0 auto 8px;
	width: 418px;
	height: 75px;
	position: relative;
	background-image: url("../../img/zero_index/premium_count/bg.png?20130623");
}

#premiumCountUp a{
	width: 418px;
	height: 75px;
	position: absolute;
	top:0;
	left:0;
	text-indent: -9999px;
}

#premiumCountHide{
	margin: 0 auto 8px;
	width: 418px;
	height: 75px;
	position: relative;
	background-image: url("../../img/zero_index/premium_count/hide.jpg");
}

#premiumCountHide a{
	width: 418px;
	height: 75px;
	position: absolute;
	top:0;
	left:0;
	text-indent: -9999px;
}

#premiumCount2m{
	margin: 0 auto 8px;
	width: 420px;
	height: 75px;
	position: relative;
	background-image: url("../../img/zero_index/premium_count/2million.jpg");
}

#premiumCount2m a{
	width: 420px;
	height: 75px;
	position: absolute;
	top:0;
	left:0;
	text-indent: -9999px;
}

#premiumCountBox{
	text-align: right;
	position: absolute;
	top:6px;
	left:170px;
}

#premiumCountBox span{
	display: inline-block;
	width: 32px;
	height: 63px;
	margin:0;
	float: left;
}

#premiumCountBox span.num{display: none;}
#premiumCountBox span.num0{background-image: url("../../img/zero_index/premium_count/00.gif");}
#premiumCountBox span.num1{background-image: url("../../img/zero_index/premium_count/01.gif");}
#premiumCountBox span.num2{background-image: url("../../img/zero_index/premium_count/02.gif");}
#premiumCountBox span.num3{background-image: url("../../img/zero_index/premium_count/03.gif");}
#premiumCountBox span.num4{background-image: url("../../img/zero_index/premium_count/04.gif");}
#premiumCountBox span.num5{background-image: url("../../img/zero_index/premium_count/05.gif");}
#premiumCountBox span.num6{background-image: url("../../img/zero_index/premium_count/06.gif");}
#premiumCountBox span.num7{background-image: url("../../img/zero_index/premium_count/07.gif");}
#premiumCountBox span.num8{background-image: url("../../img/zero_index/premium_count/08.gif");}
#premiumCountBox span.num9{background-image: url("../../img/zero_index/premium_count/09.gif");}

#twoMillionBanner{
	margin: 0 auto 8px;
}

/* Blomaga Topic */

#blomagaTopic{
	width: 424px;
	background:url(../img/zero_index/blomaga_bg.png) repeat-x 0 0 #fff;
	border: 1px solid #ccc;
	margin: 8px auto;
}

#blomagaTopic div{
	border:1px solid #fff;
	padding: 5px 0;
}

#blomagaTopic h3{
	margin: 4px 8px 10px;
	height: 16px;
}

#blomagaTopic h3 a{
	display: block;
	width: 74px;
	height: 20px;
	background:url(../img/zero_index/blomaga_logo.png) no-repeat 0 0;
	text-indent: -9999px;
}

#blomagaTopic ul{
	padding:0 8px 4px;
}

#blomagaTopic li{
	margin:4px 0 0 8px;
}
#indexExtLive{}
#indexExtLive h5{width:350px;height:65px;text-indent: -9999px;background:url(../img/zero_index/banner/examination_live_title.png) no-repeat 0 0;}
#indexExtLive .indexExtLiveContainer{padding: 0 7px 8px;background: #B1DFFA; border-radius: 0px;}


/* cloud */

#tag_cloud{
	margin: 0 auto 8px;
    position: relative;
    width: 424px;
}
#tag_cloud ul{padding:8px 0 8px 8px;}
#tag_cloud ul li{float: left;margin: 0 4px 0 0;height: 34px;}
#tag_cloud a{display:inline-block;line-height: 26px;padding:2px;border-radius: 4px;}
#tag_cloud a:hover{background: #EAEAEA;}
#tag_cloud .tag_small a{}
#tag_cloud .tag_medium a{font-size: 139%;}
#tag_cloud .tag_large a{font-size: 185%; font-weight: bold;}

#tenkuLive{width:416px;margin:0 auto 8px;padding:3px 4px;background: #000; border-radius: 0px;
-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
box-shadow: 1px 1px 2px rgba(0,0,0,0.2);}

#tenkuLive140714{width:425px;margin:0 auto;background: #000; border-radius: 0px;
-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        margin-bottom: 10px;}




/* today_banner textlink */

.today_textlink{
	clear: both;
	text-align: center;
	padding:36px 0 16px;
	font-size: 16px;
}
.today_textlink a{
	color: black !important;
	text-decoration: underline;
	font-weight: bold;
}

.today_textlink a:hover{
	text-decoration: none !important;
	color: black !important;
}


/* ABテスト201409 ----------------*/

#userStats .premium_ABtest{
	height: 75px;
	width: 182px;
	font-size: 110%;
}
#userStats .premium_ABtest a:hover{
	text-decoration: none;
}
#userStats .AB_A a{
	display: block;
	color:#613e00;
	font-weight: bold;
	height: 75px;
	width: 182px;
	background-image: url("../../img/zero_index/AB/to_premiumA_ja-jp.png") ;
	background-repeat: no-repeat;
	background-position: center bottom;
}
#userStats .AB_A a:hover{
	color:#613e00;
}
#userStats .AB_B a{
	display: block;
	color:#333;
	font-weight: bold;
	height: 75px;
	width: 182px;
	background-image: url("../../img/zero_index/AB/to_premiumB_ja-jp.png") ;
	background-repeat: no-repeat;
	background-position: center bottom;
}
#userStats .AB_B a:hover{
	color:#333;
}

/* ニコニコ本社からのお知らせ枠201410 ----------------*/

#nico_honsha.contents_ext .contents_box {
	background: none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

#nico_honsha.contents_ext .title_index {
	background: none;
	height: auto;
	width: 352px;
}

#nico_honsha.contents_ext  h4 {
	padding: 0;
}

#nico_honsha.contents_ext .title_index .title_link {
	display: block;
	position: relative;
	width: 350px;
	height: 53px;
}

#nico_honsha.contents_ext .title_index .title_txt {
	position: absolute;
	top: 5px;
	left: 215px;
}

#nico_honsha.contents_ext .title_index:after {
	content:"";
	display: block;
	width: 350px;
	height: 35px;
	border-radius: 5px 5px 0 0;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	margin: 18px 0 0;
	text-indent: -9999px;
	box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

#nico_honsha.contents_ext .link_area {
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	background: #fff;
}

#nico_honsha .nicohonsha_blue .title_link {
	background: url("../../img/zero_index/nicohonsha/nicohonsha_header_illust_blue.png") no-repeat ;
	background-size: 100%;
}

#nico_honsha .nicohonsha_red .title_link {
	background: url("../../img/zero_index/nicohonsha/nicohonsha_header_illust_red.png") no-repeat ;
	background-size: 100%;
}

#nico_honsha .nicohonsha_orange .title_link {
	background: url("../../img/zero_index/nicohonsha/nicohonsha_header_illust_orange.png") no-repeat ;
	background-size: 100%;
}

#nico_honsha .title_index.nicohonsha_blue:after {
	background: #98e9f9;
}

#nico_honsha .title_index.nicohonsha_red:after {
	background: #f16da6;
}

#nico_honsha .title_index.nicohonsha_orange:after {
	background: #f0960a;
}



/* 総合TOP真ん中カラム改修verのスタイル  ----------------*/

/*シンプル枠デザイン*/
.simple_frame{
	background: #fff;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	width: 424px;
	margin: 8px auto;
	-webkit--webkit-border-radius: 2px;
	-moz--webkit-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/*枠タイトル周り*/
.simple_frame .title_index,
.simple_frame .title_light{
	background: none;
	border-top: none;
}

.simple_frame .title_index h4,
.simple_frame .title_light{
	padding: 8px 10px 6px;
	height: 16px;
	margin: 0;
}

/*タブ*/
.simple_frame #Tabs,
.simple_frame .tabs{
	margin-top: 0 !important;
	padding-top: 0 !important;
}

/*コンテンツのテキストリンク*/
.simple_frame .contentTitle{
	line-height: 1.4;
}

/*コンテンツ4件表示*/
.simple_frame.videoList .listWrap{
	width: 392px;
}

.simple_frame.videoList .listWrap ul li{
	margin-right: 8px;
	width: 92px;
}

.simple_frame.videoList .listWrap ul li a{
	width: 90px;
	height: 52px;
	overflow: hidden;
	margin: 0 auto 4px;
}

.simple_frame.videoList .listWrap ul li a img{
	width: 92px;
	height: auto;
	margin-top: -9px;
	border: none !important;
}

/*大サムネイル4件表示*/
.simple_frame.videoListLsize .listWrap{
	width: 394px;
	margin: 0 auto;
}

.simple_frame.videoListLsize ul li{
	width: 184px;
	margin: 4px 0;
	float: left;
}

.simple_frame.videoListLsize ul li:nth-child(odd){
	margin-right: 26px;
	clear: both;
}

.simple_frame.videoListLsize .listWrap ul li a.VideoThumb{
	display: block;
	width: 184px;
	height: 104px;
	margin-bottom: 6px;
	overflow: hidden;
}

.simple_frame.videoListLsize .listWrap ul li a img{
	width: 184px;
	height: auto;
	margin-top: -17px;
	border: none !important;
}

.simple_frame.videoListLsize .listWrap ul li .videoComment{
	font-size: 12px;
}

/*シェアボタン*/
.simple_frame .twitter_link,
.simple_frame .facebook_link,
.simple_frame .rss_link{
	margin: 4px 4px 0 0;
}

/*枠右下　外部へのリンク*/
.simple_frame .link_right,
.simple_frame .pick_link{
	padding: 4px 12px 8px 0;
	margin: 0 auto;
}

/*本日枠*/


.today_onair_image,
.today_onair_image img{
	width: auto;
	height:135px;
	margin-left: 12px;
}

/*ニュース枠*/
.simple_frame#News_tab .tabcont li{
	margin-top: 3px;
}

/*ユーザー作品（静画）枠*/
.simple_frame#pickup{
	width: 424px;
}

.simple_frame#pickup .listWrap{
	width: 392px;
	margin: 0 auto;
}

.simple_frame#pickup .listWrap li{
	width: 92px;
	margin-right: 8px;
}

.simple_frame#pickup .listWrap li:last-child{
	margin-right: 0;
}

.simple_frame#pickup .listWrap li .pick_thumb{
	width: 92px;
	height: 52px;
	margin-bottom: 6px;
	overflow: hidden;
}

.simple_frame#pickup .listWrap li .pick_thumb img{
	width: 72px;
	height: auto;
	position: absolute;
	right: 0
}

.simple_frame#pickup .listWrap li .pick_thumb span{
	left: 0;
	top: 0;
	width: 12px;
	line-height: 12px;
}

.simple_frame#pickup .listWrap .comic span{
	padding-top: 8px;
}

/*ニコニ広告枠*/
.simple_frame .title_uad{
	border-top: 2px solid #cc9900;
	color: #cc9900;
	background: none;
	height: 16px;
}

.simple_frame .title_uad span{
	padding: 2px 0 0 26px;
}

.simple_frame#uadVideo .listWrap ul li p{
	margin-bottom: 0;
}

.simple_frame#uadVideo.videoList .listWrap ul li a{
	height: auto;
}

.simple_frame#uadVideo.videoList .listWrap ul li a.VideoThumb{
	border: 1px solid #c90;
	height: 52px;
}


/*新flog枠*/
.simple_frame#hotVideo #reloadHotVideo{
	display: block;
	float: right;
	height: 16px;
	width: 20px;
	text-indent: -9999px;
	background: url("../../img/zero_index/reload.png") 0 top no-repeat;
	margin: -23px 8px 0 0;
}

.simple_frame#hotVideo #reloadHotVideo:hover{
	cursor: pointer;
	background-position: 0 -16px;
}

.simple_frame#hotVideo .listWrap ul li a.VideoThumb{
	border: 1px solid #6c3;
}

.simple_frame#hotVideo .contentTitle{
	display: block;
	max-height: 36px;
	overflow: hidden;
}

.simple_frame#hotVideo #uneiOsusume{
	margin-bottom: 30px;
	padding: 0 15px 10px;
}

.simple_frame.videoListLsize #uneiOsusume ul li:nth-child(odd){
	margin-right: 0 !important;
}

.simple_frame #uneiOsusume .uoVideo li{
	width: 197px;
}

.simple_frame #uneiOsusume .uoVideo li .thumb{
	width: 92px;
	height: 69px;
	overflow: hidden;
	margin-right: 4px;
}
.simple_frame #uneiOsusume .uoVideo li .thumb img{
	width: 92px;
	height: auto;
}

.simple_frame #uneiOsusume .uoVideo li div{
	float: left;
	width: 90px;
}

/**
 * 総合トップ追従ヘッダー
 * @see UniIndexFollowHeaderView(in zero_index.js)
 */
#follow-header {
  display: none;
}
#follow-header.visible {
  display: none;
  position: fixed;
  z-index: 2000;
  top: -80px;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(234, 234, 234);
  box-shadow: 0 0 5px #666;
  transition: top 0.5s ease;
  color: #333;
}
#follow-header.visible * {
  box-sizing: border-box;
}
#follow-header.visible .fh-container {
  position: relative;
  width: 984px;
  margin: 0 auto;
  padding-top: 16px;
}
#follow-header.visible.fh-enable {
  display: block;
}
#follow-header.visible.fh-visible {
  top: 36px;
}
#follow-header h1 {
  background: url("../img/zero_index/logo.png") no-repeat 0 0;
  width: 245px;
  float: left;
}
#follow-header h1 a {
  display: block;
  width: 245px;
  height: 42px;
  text-indent: -9999px;
}
#follow-header .fh-search {
  float: right;
  margin-top: 2px;
}
#follow-header .fh-search .fh-search-category,
#follow-header .fh-search .fh-search-category > *,
#follow-header .fh-search form,
#follow-header .fh-search form > * {
  float: left;
}
#follow-header .fh-search .fh-search-category > * {
  cursor: pointer;
}
#follow-header .fh-search .fh-search-category li {
  margin: 2px 2px;
  padding: 2px 6px;
}
#follow-header .fh-search .fh-search-category li a {
  color: #333;
  text-decoration: none;
}
#follow-header .fh-search .fh-search-category li.active {
  background: #414141;
}
#follow-header .fh-search .fh-search-category li:hover {
  background: #666;
}
#follow-header .fh-search .fh-search-category li:hover a, #follow-header .fh-search ul li.active a {
  color: #fff;
}
#follow-header .fh-search .fh-search-text {
  width: 317px;
  height: 27px;
  margin-left: 8px;
  border: 1px solid #d9d9d9;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: 5px;
}
#follow-header .fh-search .fh-search-button {
  margin-right: 4px;
  width: 33px;
  height: 27px;
  border: none;
  background-image:url(../../img/zero_index/theme/default/icon.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}
#follow-header .fh-search .fh-search-beta {
  float: right;
  clear:both;
  margin: 3px 5px 0 0;
  padding-right: 8px;
  background: url(../img/zero_index/sugoi_cur.png) no-repeat right 6px;
}
#follow-header .fh-search .fh-search-beta a {
  color: #333;
}


/*************
 * 20160721 ホラー2016 (菩薩枠）
 *************/

.okami_bosatsu{
	display:block;
	width:414px;
	height:127px;
	background: url(../img/zero_index/oyado/bg_oyado.png) top right no-repeat #fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	text-decoration:none;
	position: relative;
	margin: 10px ;
	padding: 0 0 0 10px;
}

.okami_bosatsu select {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 0;
	border: 0;
	margin: 0;
	padding: 0;
	background: none transparent;
	vertical-align: middle;
	font-size: inherit;
	color: inherit;
	box-sizing: content-box;
}

.okami_bosatsu .custom {
	  overflow: hidden;
	  display: inline-block;
	  *display: inline;
	  *zoom: 1;
	  position: relative;
	  border-radius: 0.3em;
	  border: 1px solid #999;
	  box-shadow: 0 1px 0 #AAA;
	  background-color: #f7f7f7;
}

.okami_bosatsu .custom > select {
	width: 192px;
	padding: 3px 10px;
	font-size: 14px;
}

.okami_bosatsu .custom:after {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 1.8em;
	display: block;
	content: "";
	background: url(../img/zero_index/oyado/bg_select.png) center no-repeat;
	pointer-events: none;
}

.okami_bosatsu .default .custom > select {
	width: auto;
}

.okami_bosatsu .overflow .custom {
	overflow: visible;
}

.okami_bosatsu .overflow .custom select {
	outline: 2px dotted rgba(255, 255, 0, 0.5);
}

.reservedBtn {
	cursor: pointer;
	margin-top: 10px;
	width: 154px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	display: block;
	letter-spacing: 0;
	border: none;
	box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.9), inset 0 1px 0 rgba(255, 255, 255, 0.4);
	border-radius: 6px;
	text-decoration: none;
	padding: 8px 30px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.88, #ff4311), color-stop(0.01, #ff7a57));
	background: -webkit-linear-gradient(top, #ff7a57 1%, #ff4311 88%);
	background: -moz-linear-gradient(top, #ff7a57 1%, #ff4311 88%);
	background: -o-linear-gradient(top, #ff7a57 1%, #ff4311 88%);
	background: -ms-linear-gradient(top, #ff7a57 1%, #ff4311 88%);
	background: linear-gradient(to bottom, #ff7a57 1%, #ff4311 88%);
}

#emptyRoom p{
	left: 15px;
	position:absolute;
	z-index: 999;
}

.okami_bosatsu .title{
	color: #333;
	font-weight: bold;
	font-size: 13px;
	padding-top: 8px;
	margin: 0px 0 8px;
}

.okami_bosatsu .emptyLabel{
	margin-top: 5px;
	width: 199px;
	height: 69px;
	background: url(../img/zero_index/oyado/emptyroom.png) center no-repeat;
}
