@charset "utf-8";

/**
 * Container
 */

body{
	background:#eaeaea;
}

#main_container{
	background:#eaeaea;
}
a, a:link{ color: #006699;}
#contentsWrap a:hover{ color: #0584c3;}
/**
 * icon Setting
 */

.icon_svc{
	background-image:url(../../img/zero_index/theme/default/icon_svc.png);
	background-repeat:no-repeat;
}

.icon_svc.cho{
	background-image:url(../../img/zero_index/icon_cho3.png);
	background-repeat:no-repeat;
	background-position: 5px 5px;
	font-weight: bold;
}

/**
 * 原宿共通cssの打ち消し
 */


.contents_box,#News_tab,#blomagaTopic,#Blomaga_tab{ border: none;}
.tabmenu li a,.tabmenu li a:hover{
	color:#000 !important;
	}

#menuService h5 a,#menuDevice h5 a{
	position:absolute;
	top:4px;
	right:5px;
	font-size:93%;
	background: #fff ;
	border-radius: 3px;
	padding: 2px 10px;
	height: 15px;
	line-height: 16px;
}

.service_sub{ padding: 0 0 5px 0;}
.service_main{ padding: 0 0 5px 5px;}
/** * Enjoy */

#enjoy_prev.on{
	background-repeat:no-repeat;
	background-position:0 0;
	display:block;
	height:17px;
	text-indent:-9999px;
	cursor:pointer;
}

#enjoy_prev.on:hover{
	background-position:0 -17px;
}

#enjoy_prev{
	background-repeat:no-repeat;
	background-position:0 -34px;
	display:block;
	height:17px;
	text-indent:-9999px;
}

#enjoy_next.on{
	background-repeat:no-repeat;
	background-position:0 -51px;
	display:block;
	height:17px;
	text-indent:-9999px;
	cursor:pointer;
}
#enjoy_next.on:hover{
	background-position:0 -68px;
}
#enjoy_next{
	background-repeat:no-repeat;
	background-position:0 -85px;
	display:block;
	height:17px;
	text-indent:-9999px;
}

/**
 * bg Setting
 */
.contents_box,#today,#menuContents,#menuService,#menuDevice,#menuR18,#News_tab,#blomagaTopic,#Blomaga_tab,#entertainment,#feature_container,#tag_cloud{background: #FFF;
-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
box-shadow: 1px 1px 2px rgba(0,0,0,0.2);}

#real_event_container{
	border:none;-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
box-shadow: 1px 1px 2px rgba(0,0,0,0.2);}

#enjoy_prev.on,
#enjoy_prev,
#enjoy_next.on,
#enjoy_next{
	background-image:url(../../img/zero_index/theme/default/index_enjoy_icon.png);
}

.title_index{ background: #ccc;}

.icon_cur{
	background:url(../../img/zero_index/theme/default/icon_cur.png) no-repeat 0 0.3em;
}

#searchFormWrap{background: #bdbfc2;-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;}
#searchSubmit{
	background-image:url(../../img/zero_index/theme/default/icon.png);
}


#menuContents h5{ background: #b94f64;}
#menuService h5{ background: #4280b4;}
#menuDevice h5{ background: #d48850;}
#menuR18 h5{ background: #a45997;}


#entertainment_container h3{

}


/**
 * Color Setting
 */

/* main contents - common styles */




.title_index,.title_index a,.title_index a:hover{
	color:#333;
}


.title_light{
	background: #fff;
	border-top:3px solid #ccc;
	color: #333;
}

.title_uad{
	background: #cc9900;
	border-top:3px solid #7a5c00;
	color: #FFF;
}


/* Search Form */
#searchFormInner li a{
	color:#333;
}

#searchFormInner li.active a{
	background:#414141;
	color: #FFF;
}

#searchFormInner li a:hover{
	background-color:#595959;
	color: #FFF;
}

#searchWord{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}


/* Side Navigation - nico nico service */



#NewServiceList h5{
	color:#fff;
}




/*    ----------     MainContainer      ----------     */


/* Entertainment */

.entertainment_content dt{
	color:#333;
}




/**
 * Today
 */


.today_onair_image img{
margin-left: 5px;
-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
box-shadow: 1px 1px 2px rgba(0,0,0,0.2);}

#today_program dt{
	color:#333;
	background: #e5be23;
}


/* Chokaigi Menu */

#NewServiceList #menuChokaigi h5{
	background-image:url(../../img/zero_index/theme/default/sidebar_chokaigi2.png);
}

/* cloud */

#tag_cloud .title_index{ background: #B94F64;}
#tag_cloud h4{ background: #B94F64; color: #fff;}