/*!
 * Hexun Media Technical department
 * @author zhanglin
 * @version 1.0.0
*/
/* reset */
body,ul,li,dl,dt,dd,p,h1,h2,h3,h4,form,table,th,td,img,div{padding:0;margin:0}
body{color:#000;font:12px \5fae\8f6f\96c5\9ed1,\5b8b\4f53}
img{border:0}
select,input,img{vertical-align:middle}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal}
ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none;color:#000;}
a:hover{text-decoration:underline;color:#a00;}
/* common */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
.clear{clear:both;height:0;overflow:hidden;}
i{font-style:normal}
.ml40{margin-left:40px;}.ml38{margin-left:30px;}
.ml10{margin-left:10px;}.ml15{margin-left:15px;}
.mb40{margin-bottom:40px;}
.mt20{margin-top:20px;}.mt30{margin-top:30px;}.mt40{margin-top:40px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt44{padding-top:44px;}
.pt40{padding-top:40px;}
.pr20{padding-right:20px;}
.pb40{padding-bottom:40px;}
.pb10{padding-bottom:10px;}
.h60{height:60px;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.layout{width:1000px;}
.mg{margin:0px auto;}
.c1{width:310px;float:left;display:inline;}
.c0{width:300px;float:left;display:inline;}
.red{color:#a00;}
.green{color:#090;}
.h{display:none;}
    
/* model */
.imgLink li em,.nav .b1,.nav li b,.newsTop i,.toolbarCL .a1,.toolbarCL .a2,.toolbarCR .loginBn,.fProduct h4,.sProduct h4,.fProduct .i1,.hr-login-box .hr-login-r .vline,.hr-login-box .hr-login-r a.qq,.hr-login-box .hr-login-r a.wb,.hr-login-box .hr-login-r a.wx,.toolbarCR .YesLogin .menu li .tip,.toolbarCR .YesLogin .menu .t,.toolbarCR .YesLogin .menu .s .t,.toolbarCR .YesLogin .username{background-image:url(../images/img.png);background-repeat:no-repeat;}

.toolbar{height:60px;background:#a00;position:relative;width:100%;z-index:9999;}
.toolbarC{margin:0 auto;width:1000px;}
.toolbarCL{width:300px;float:left;display:inline;}
.toolbarCL .a1,.toolbarCL .a2{height:60px;line-height:70px;display:block;float:left;display:inline;font-size:18px;color:#fff;margin-right:20px;text-decoration:none;overflow:hidden;}
.toolbarCL .a1{background-position:8px 17px;padding-left:38px;padding-right:8px;}
.toolbarCL .a1:hover,.toolbarCL .a2:hover,.toolbarCR .loginBn:hover,.toolbarCR .bn:hover{background-color:#e70012;color:#fff;text-decoration:none;}
.toolbarCL .a2{background-position:8px -28px;padding-left:38px;padding-right:8px;}
.t-g-lay{padding:0px 0px 10px 0px;text-align:center; width:100%; background:#fff}
.t-float{width:100%; background:#fff; z-index:999999; position:relative; float:left}
.float-fixed{position:fixed;top:0px; left:0px}
*html .float-fixed{position:absolute;top:expression(eval(document.documentElement.scrollTop)); left:0}
html{-webkit-text-size-adjust:none;_background-image: url(about:blank);_background-attachment: fixed; /* prevent screen flash in IE6 */}

.toolbarCR{width:440px;float:right;display:inline;position:relative;}
.toolbarCR .loginBn{background-position:8px -1342px;float:right;display:inline;height:60px;line-height:60px;width:102px;padding-right:8px;padding-left:8px;}
.toolbarCR .YesLogin{float:right;position:relative;display:none;z-index:100;height:80px;}
.toolbarCR .YesLogin .username{background:url(../images/arr.png) no-repeat right 33px;height:60px;line-height:70px;color:#fff;text-align:center;padding-left:10px;padding-right:32px;font-size:18px;border-right:5px solid #a00;max-width:200px;_width:200px;overflow:hidden;}
.toolbarCR .YesLogin .usernameHove{background:url(../images/arr.png) no-repeat right -61px #E70012;border-right:5px solid #E70012;}
.toolbarCR .YesLogin .round{background:url(../images/point.png) no-repeat;width:10px;height:10px;position:absolute;top:20px;right:20px;z-index:101;display:none;}

.toolbarCR .YesLogin .menu{position:absolute;top:66px;right:0;z-index:101;display:none;}
.toolbarCR .YesLogin .menu ul{border-left:1px solid #DFDFDF;}
.toolbarCR .YesLogin .menu li{width:98px;height:35px;line-height:35px;background:#F2F2F2;font-size:14px;padding-left:30px;position:relative;border-right:1px solid #DFDFDF;border-top:1px solid #DFDFDF;border-right:1px solid #DFDFDF;}
.toolbarCR .YesLogin .menu li.s{line-height:35px;height:35px;background:#fff;background-position:108px -136px;border-top:1px solid #DFDFDF;border-right:1px solid #DFDFDF;}
.toolbarCR .YesLogin .menu li .tip{width:10px;height:10px;background-position:-144px 0;position:absolute;top:10px;left:88px;display:none;}
.toolbarCR .YesLogin .menu .list{position:absolute;top:-1px;right:-114px;width:113px;height:71px;background:#fff;border:1px solid #DFDFDF;border-left:0;display:none;}
.toolbarCR .YesLogin .menu li.s .list{display:block;}
.toolbarCR .YesLogin .menu .list p{padding-left:14px;}
.toolbarCR .YesLogin .menu .list p strong{font-weight:100;}
.toolbarCR .YesLogin .menu .list p span{padding-right:15px;font-size:12px;}
.toolbarCR .YesLogin .menu .list p span.red{color:#F00;}
.toolbarCR .YesLogin .menu li.end{border-bottom:1px solid #DFDFDF;}
.toolbarCR .YesLogin .menu .t{background-position:80px -144px;+background-position:80px -146px;padding-right:35px;height:31px;line-height:31px;overflow:hidden;}
.toolbarCR .YesLogin .menu .s .t{background-position:80px -108px;+background-position:80px -110px;}
.toolbarCR .bn{float:right;display:inline;height:60px;line-height:70px;padding-right:8px;padding-left:8px;font-size:18px;color:#fff;margin-left:20px;text-decoration:none;overflow:hidden;}

.hr-login-box{ width:588px; height:288px;position:absolute;border:1px solid #1D5A87;cursor:default; top:60px;left:-352px; background:#F9F9F9; z-index:999999;display:none;}
.hr-login-box .hr-iframe{width:430px;height:186px;background:#fff; border:0px; position:absolute; top:0px; left:0px}
.hr-login-box .hr-login-l{margin-top:26px;padding-left:35px;width:288px;position:relative;font-family:"ËÎÌå";}
.hr-login-box .hr-login-l .hr-loico-p{ background-position:-15px -171px}
.hr-login-box .hr-login-l input#name{position:absolute;top:39px;left:35px}
.hr-login-box .hr-login-l input#name:focus{outline: none;} 
.hr-login-box .hr-login-l input#pwd{position:absolute;top:89px;left:35px;}
.hr-login-box .hr-login-l input#pwd:focus{outline: none;} 
.hr-login-box .hr-login-l input#name,.hr-login-box .hr-login-l input#pwd{ background:url(../images/lgin_ico.jpg) no-repeat -13px -1px; width:255px;padding-left:28px; font-size:14px;height:40px;line-height:40px;color:#999; border:none;font-family:"ËÎÌå";overflow:hidden;}
.hr-login-box .hr-login-l input#pwd{ margin-top:8px; background-position:-13px -128px;font-size:12px;}
.hr-login-box .hr-login-l input#name.foncusOn{ background-position:-13px -43px}
.hr-login-box .hr-login-l input#pwd.foncusOn{ background-position:-13px -170px}
.hr-login-box .hr-login-l input#name.error{ background-position:-13px -86px}
.hr-login-box .hr-login-l input#pwd.error{ background-position:-13px -213px}
.hr-login-box .hr-login-l .btn{position:absolute;top:152px;left:35px;width:284px;height:40px;background:url(../images/lgin_ico.jpg) no-repeat -13px -286px;border:0;cursor:pointer;}
.hr-login-box .hr-login-l .j{position:absolute;top:200px;left:31px;}
.hr-login-box .hr-login-l .reg{position:absolute;top:200px;right:4px;color:#495A8E;}
.hr-login-box .hr-login-l .hr-login-error{position:absolute;top:230px;left:35px;height:24px; line-height:24px; color:#a80000; text-align:left; visibility:hidden; overflow:hidden}
.hr-login-box .hr-login-l .hr-login-error span{background:url(http://www.hexun.com/images/lgin_ico.jpg) no-repeat -13px -204px; display:block; float:left; width:15px; height:15px; margin:4px 4px 0px 0px}
.hr-login-box .hr-login-l .hr-login-error u{ font-weight:100px; color:#a80000; text-decoration:none}
.hr-login-box .hr-login-l .txt{height:30px;line-height:30px;font-family:\5fae\8f6f\96c5\9ed1;padding-right:5px;}
.hr-login-box .hr-login-l .txt strong{font-size:18px;font-weight:100;}
.hr-login-box .hr-login-l .txt{font-size:14px;}
.hr-login-box .hr-login-l .txt a{color:#E80012;}
.hr-login-box .hr-login-r .close{position:absolute;top:-10px;right:2px;width:17px;height:17px;background:url(../images/lgin_ico.jpg) right -286px no-repeat;cursor:pointer;}
.hr-login-box .hr-login-r{width:210px;height:215px;position:relative;margin-top:37px;margin-right:25px;}
.hr-login-box .hr-login-r .vline{width:2px;height:215px;position:absolute;left:0;top:0;background-position:-148px -680px;}
.hr-login-box .hr-login-r p{padding-top:40px;padding-left:26px;font-size:14px;}
.hr-login-box .hr-login-r a.qq,.hr-login-box .hr-login-r a.wb,.hr-login-box .hr-login-r a.wx{position:absolute;top:90px;width:48px;height:68px;}
.hr-login-box .hr-login-r a.qq{background-position:0 -1419px;left:26px}
.hr-login-box .hr-login-r a.wb{background-position:-50px -1419px;left:93px;}
.hr-login-box .hr-login-r a.wx{background-position:-101px -1419px;left:160px;}



.fProduct h4,.sProduct h4{height:18px;line-height:18px;background-position:0 -248px;padding-left:23px;font-size:16px;color:#ff272b;}
.fProduct .con,.sProduct .con{height:340px;border:1px solid #E5E5E7;margin-top:15px;}
.fProduct .col,.sProduct .col{width:332px;float:left;display:inline;height:340px;overflow:hidden;position:relative;}
.fProduct .bor,.sProduct .bor{border-right:1px solid #E5E5E7;}
.fProduct .i1,.fProduct .i2,.fProduct .i3{width:74px;height:78px;position:absolute;top:0;left:0;z-index:-1}
.fProduct .i1{background:url(../images/product.png) 0 0 no-repeat;}
.fProduct .i2{background:url(../images/product.png) 0 -79px no-repeat;}
.fProduct .i3{background:url(../images/product.png) 0 -158px no-repeat;}
.fProduct .box{padding-left:60px;}
.fProduct .box strong{font-size:18px;font-family:\5fae\8f6f\96c5\9ed1;padding-top:33px;display:block;color:#000;}
.fProduct .box em{margin-top:10px;border:1px solid #;font-size:12px;font-family:\5fae\8f6f\96c5\9ed1;display:inline-block;font-style:normal;border:1px solid #EC6200;height:22px;line-height:22px;padding:0 7px;color:#ff272b;}
.fProduct .box .txt1{color:#999;font-family:\5fae\8f6f\96c5\9ed1;font-size:14px;margin-top:10px;display:block;}
.fProduct .box .txt1 span{font-family:\5fae\8f6f\96c5\9ed1;color:#ff0106;}
.fProduct .box .txt1 span i{font-size:30px;font-weight:bold;line-height:30px;}
.fProduct .box .bottom{color:#999;width:224px;height:28px;line-height:28px;}
.fProduct .box .bottom span{float:left;display:inline;}
.fProduct .box .bottom .bn{width:88px;color:#fff;float:right;display:inline;background:#FF0107;text-align:center;font-size:14px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

.top{height:96px;padding-bottom:20px;margin-top:24px;}
.top .logo{width:180px;padding-left:100px;float:left;display:inline;padding-top:26px;}
.top .logo .img{width:130px;height:62px;}
.top .right{float:right;display:inline;width:147px;position:relative;}
.top .right .ercode{position:absolute;top:0;right:0;width:81px;}
.top .search{width:546px;float:left;display:inline;padding-top:26px;position:relative}

.nav{font-size:16px;}
.nav .b1{background-position:95px -1273px;height:50px;overflow:hidden;float:left;display:inline;width:97px;}
.nav li{float:left;display:inline;padding-right:15px;width:33px;line-height:26px;}
.nav .b2{height:50px;overflow:hidden;float:left;display:inline;width:104px;}
.nav .b2 li{padding-right:14px;position:relative;}
.nav li b{position:absolute;width:6px;height:6px;background-position:right 0;z-index:-1}
.nav .b2 li.w5{width:50px;}
.nav .b2 li.w3{width:33px;float:right;display:inline;padding-right:2px;}

.imgLink li{width:63px;height:85px;margin-right:54px;float:left;display:inline;}
.imgLink li a{width:63px;height:85px;display:block;text-align:center;color:#333;font-size:14px;cursor:pointer;}
.imgLink li a:hover{color:#a00;}
.imgLink em{width:63px;height:63px;display:block;margin-bottom:6px;}
.imgLink .i1 em{background-position:0 -604px;}.imgLink .i1:hover em{background-position:-67px -604px;}
.imgLink .i2 em{background-position:0 -667px;}.imgLink .i2:hover em{background-position:-67px -667px;}
.imgLink .i3 em{background-position:0 -730px;}.imgLink .i3:hover em{background-position:-67px -730px;}
.imgLink .i4 em{background-position:0 -793px;}.imgLink .i4:hover em{background-position:-67px -793px;}
.imgLink .i5 em{background-position:0 -856px;}.imgLink .i5:hover em{background-position:-67px -856px;}
.imgLink .i6 em{background-position:0 -919px;}.imgLink .i6:hover em{background-position:-67px -919px;}
.imgLink .i7 em{background-position:0 -982px;}.imgLink .i7:hover em{background-position:-67px -982px;}
.imgLink .i8 em{background-position:0 -1045px;}.imgLink .i8:hover em{background-position:-67px -1045px;}
.imgLink .i9 em{background-position:0 -1108px;}.imgLink .i9:hover em{background-position:-67px -1108px;}
.imgLink .i10 em{background-position:0 -1171px;}.imgLink .i10:hover em{background-position:-67px -1171px;}
body .imgLink .i10{margin-right:0px;}

.globalData{font-size:14px;height:17px;line-height:17px;overflow:hidden;margin-top:17px;}
.globalData a:hover{color:#000;text-decoration:none;}
.globalData i{padding-right:5px;}
.globalData span{font-family:"Arial";}
.globalData a:hover{color:#a00;}
.globalData a:hover i{text-decoration:underline;}

.searchbox { width:540px; height:30px;border:2px solid #a00;padding:0px}
.searchbox input.hx_inp{ width:466px;_width:463px; line-height:30px; font-size:14px; color:#91908f; text-align:left; padding:0px 0px 0px 12px;height:29px;_height:28px;overflow:hidden;border:0px;}
.searchbox input.hx_inp:focus{outline: none;} 
.searchbox p.bc{ float:left; background:#a00; padding:2px 0px;}
.searchbox input.hx_btn{ width:62px; height:30px; background:url(http://www.hexun.com/images/s_btn.jpg) no-repeat 0px -2px; border:0px; cursor:pointer; }
.searchbox .s_let .sl_lay .l{ width:84px;border-right:1px #a00 solid; position:relative; z-index:999; margin-top:1px; height:28px; display:none}
.searchbox .s_let .sl_lay .l .sl_select{ width:84px; border:0px; background:none; color:#91908f;*background:#fff url(http://www.hexun.com/images/h_ico.gif) no-repeat 64px 12px; cursor:pointer; height:26px; position:relative}
.searchbox .s_let .sl_lay .l .sl_select .s-name{ float:left; padding-left:16px; line-height:28px; font-size:14px; height:26px; overflow:hidden}
.searchbox .s_let .sl_lay .l .sl_select .s-jt{background:url(http://www.hexun.com/images/h_ico.gif) no-repeat 0 0; display:block; width:8px; height:4px; font-size:0px; line-height:0px; position:absolute; right:12px; top:12px;-moz-transition:-moz-transform .2s ease-in; -webkit-transition:-webkit-transform .2s ease-in; -o-transition:-o-transform .2s ease-in; transition:transform .2s ease-in; -moz-transform:rotate(0); -webkit-transform:rotate(0); -o-transform:rotate(0); transform:rotate(0);*display:none}
.searchbox .s_let .sl_lay .l .hover .s-jt{ -moz-transform:rotate(180deg); -moz-transform-origin:50% 30%; -webkit-transform:rotate(180deg); -webkit-transform-origin:50% 30%;-o-transform:rotate(180deg); -o-transform-origin:50% 30%; transform:rotate(180deg); transform-origin:50% 30%; filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=10); top:12px\9}
.searchbox .s_let .sl_lay .l .hover{*background:#fff url(http://www.hexun.com/images/h_ico.gif) no-repeat 64px -19px;}
.searchbox .s_let .sl_lay .l .sl_select ul{ margin-top:37px; border:1px #c3c3c3 solid;border-top:1px #e9e9e9 solid}
.searchbox .s_let .sl_lay .l .hover .hr-ico-line{ background:none}
#standStockPanel .s-style{ margin-left:-1px;_margin:-3px;}
#standStockPanel td{ font-size:14px; color:#999}
.searchbox .s_let .sl_lay .hv{margin:0px 0px 0px -1px; border:0px; border-right:1px #a00 solid;  border-left:1px #fff solid; height:28px; line-height:28px; padding-top:1px}
.searchbox .s_let .sl_lay .shv{margin:0px 0px 0px -1px; border:0px; border-right:1px #a00 solid;height:29px; line-height:28px; padding-top:1px;border-left:1px #a00 solid}
.searchbox .s_let .sl_lay .l .selectLayer{ border:1px solid #a00; background:#fff; position:absolute; left:-2px; top:29px; width:85px; z-index:999; border-top:0px}
.searchbox .s_let .sl_lay .l .selectLayer div{ height:33px; cursor:pointer}
.searchbox .s_let .sl_lay .l .selectLayer div.on { background:#f4f4f4}
.searchbox .s_let .sl_lay .l .selectLayer div.on span{ border-top:1px #f4f4f4 solid;}
.searchbox .s_let .sl_lay .l .selectLayer div span{ display:block; border-top:1px #e9e9e9 solid; margin:0px 10px; line-height:32px; height:32px; font-size:14px;color:#91908f; padding-left:8px}
.s-m-btom{padding-left:0}
.searchPanel{border:solid 1px #a00;border-top:0;width:540px;padding:0;background:#fff;display:none;}
.searchPanel li{height:26px;font:14px/26px arial,'\5b8b\4f53';color:#999;overflow:hidden;}
.searchPanel li .searc_code{float:left;padding:0 12px;width:90px;display:block;}
.searchPanel li .searc_company{display:block;margin-left:90px;padding-right:12px;}
.searchPanel li.hov{background:#f4f4f4;cursor:pointer;}
.searchRe-top-a{background:#f8f8f8;width:100%;height: 34px;overflow: hidden;}
.searchRe-top-b{width:1000px;margin:0 auto;}
.searchRe-top-b a{font:14px/34px '\5b8b\4f53';color:#122c65;padding:0 5px;}
.searchRe-top-b a:hover{color:#a00;}
.searchRe-top-b a.f_a00{color:#a00;}
.searchResult{width:1000px;margin:0 auto;padding-bottom:40px;}
.stock-type{font:bold 14px/22px '\5b8b\4f53';color:#a00;padding-left:10px;}
.stocktab th{height: 30px;line-height: 30px;color:#999;font-size:12px;font-weight: normal;text-align: left;padding:0 10px;}
#single_table.stocktab th{border-bottom:solid 1px #ddd;padding-bottom:12px;}
.stocktab td{height: 28px;font:14px/28px '\5b8b\4f53';color: #000;padding:0 30px 0 10px;vertical-align: top;}
.stocktab td.f_arial{font-family: arial;}
.stocktab td.td-on{background: #f6f6f6;height: 28px;color:#a00;cursor:pointer;}
.stocktab td.td-on a{color:#a00;}
.stocktab td a{color:#000;font:14px/28px '\5b8b\4f53';}
.stocktab td a:hover{color:#a00;}
.stocktab td.list_td{background:none;border-bottom:solid 1px #ddd;}
.stocktab td.list_td a{color:#000;}
.stocktab td.list_td a:hover{color:#a00;}
.s-a-more{padding-top:10px;padding-left:10px;color:#999;font-size:12px;}
.a_gray{color:#999;font-size:12px;padding-right:14px;cursor:pointer;}
.searchWords{color:#91908f;padding-top:10px;}
.searchWords a{padding-right:8px;color:#91908f;}
.searchWords a:hover{color:#a00;}
.searchWords em{color:#91908f;font-style:normal;font-family:"Arial";padding-right:8px;}
.searchPanel{width:479px;top:60px;left:0}

.newsTop{font-family:\5fae\8f6f\96c5\9ed1;padding-bottom:5px;position:relative;}
.newsTop em{color:#ccc;font-family:"ËÎÌå";padding-left:2px;padding-right:2px;font-size:16px;font-weight:100;font-style:normal;color:#ABABAB;}
.newsTop i{width:15px;background-position:6px -194px;padding-left:17px;*display:inline-block;*padding-left:0;}
.newsTop a{font-size:20px;color:#666;}
.newsTop a:hover{color:#a00;}
.newsTop .s{color:#2d59b1;}

.newsList li{height:28px;line-height:28px;padding-top:3px;padding-bottom:3px;overflow:hidden;}
.newsList li a{font-size:16px;}
.newsList li em{color:#ccc;font-family:"ËÎÌå";font-size:16px;font-style:normal;padding-left:1px;padding-right:3px;}
.newsListAd{background:#f7f8fa;padding-left:5px;height:28px;line-height:28px;padding-top:3px;padding-bottom:3px;}
.newsListAd em{color:#ccc;font-family:"ËÎÌå";font-size:16px;font-style:normal;padding-left:1px;padding-right:3px;}
.newsListAd a{font-family:"ËÎÌå";font-size:14px;color:#333;}
.newsListAd .blue{color:#004276;}
.newsListAd li{ display: inline-block; margin-right: 10px;_zoom:1;_display:inline;*display:inline;}
.newsListAd li a{font-size: 14px;}

.newsList li img{float:left;margin: 5px 6px 0 0;}

.stockData{padding-top:12px;padding-bottom:10px;color:#fff;}
.stockData a{color:#fff;text-decoration:none;}
.stockData span{display:block;font-family:\5fae\8f6f\96c5\9ed1;}
.stockData strong{font-size:26px;font-family:"Arial";line-height:22px;display:block;height:22px;padding-top:5px;}
.stockData u{text-decoration:none;height:13px;line-height:13px;display:block;overflow:hidden;}
.stockData .left{margin-right:2px;}
.stockData .up,.stockData .down{height:80px;}
.c1 .stockData .up{background:#FB5E67;}
.c1 .stockData .down{background:#73AC5B;}
.stockData .left,.stockData .right{width:130px;height:67px;padding-top:13px;padding-left:20px;float:left;display:inline;background:#909497;}

.bankData,.goldData{color:#fff;height:80px;margin-top:12px;margin-bottom:10px;}
.bankData .red,.goldData .red{background:#fb5e67;height:80px;color:#fff;}
.bankData .green,.goldData .green{background:#73ac5b;height:80px;color:#fff;}
.bankData strong,.goldData strong{font-size:16px;height:30px;line-height:30px;padding-left:10px;font-weight:100;display:block;}
.bankData p,.goldData p{text-align:center;font-size:12px;}
.bankData p i,.goldData p i{font-size:30px;font-family:"Arial";font-weight:bold;padding-left:3px;padding-right:1px;}
.bankData,.goldData{background:#909497;}
.bankData a,.goldData a{color:#fff;text-decoration:none;}
.sProduct .con{height:341px;}
.sProduct .bor{border-right:1px solid #e5e5e7;}
.sProduct .bob{border-bottom:1px solid #e5e5e7;}
.sProduct .box{height:140px;width:307px;float:left;display:inline;padding-left:25px;padding-top:30px;}
.sProduct .box strong{font-size:18px;font-family:\5fae\8f6f\96c5\9ed1;display:block;color:#000;}
.sProduct .box em{margin-top:10px;border:1px solid #;font-size:12px;font-family:\5fae\8f6f\96c5\9ed1;display:inline-block;font-style:normal;border:1px solid #EC6200;height:22px;line-height:22px;padding:0 7px;color:#ff272b;}
.sProduct .box .txt1{color:#999;font-family:\5fae\8f6f\96c5\9ed1;font-size:14px;margin-top:10px;display:block;}
.sProduct .box .txt1 span{font-family:\5fae\8f6f\96c5\9ed1;color:#ff0106;}
.sProduct .box .txt1 span i{font-size:30px;font-weight:bold;line-height:30px;}
.sProduct .box .bottom{color:#999;width:280px;height:28px;line-height:28px;}
.sProduct .box .bottom span{float:left;display:inline;}
.sProduct .box .bottom .bn{width:88px;color:#fff;float:right;display:inline;background:#FF0107;text-align:center;font-size:14px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

.newsPic{height:135px;overflow:hidden;}
.newsPic img{width:160px;height:120px;display:block;float:left;display:inline;margin-top:8px;margin-right:10px;}
.newsPic .t{font-size:18px;font-family:\5fae\8f6f\96c5\9ed1;line-height:28px;color:#000;}
.newsPic .t:hover{color:#a00;}
.newsPic .m{color:#fb5e67;padding-top:10px;display:block;}
.movIcon{background:url(http://img.hexun.com/2014/zk/hs_vedip_ico.jpg) no-repeat 4px center;padding-left:17px;line-height:28px;}

.greyLayout{background:#F9F9F9;padding-bottom:20px;}
.today{width:254px;float:left;display:inline;}
.today h4{background:url(../images/img.png) no-repeat 0 -440px;height:42px;font-size:20px;line-height:42px;padding-left:50px;color:#CD0E12;}
.today h4 span{color:#0B0205;}
.today .todayMb{background:url(../images/iphone.jpg) no-repeat;width:254px;height:489px;margin-top:10px;position:relative;}
.today .topImg{position:absolute;top:41px;left:19px;width:222px;height:36px;}
.today .bottomImg{position:absolute;bottom:57px;left:19px;width:222px;height:40px;}
.today .main{position:absolute;top:77px;left:19px;height:315px;overflow: hidden;width:222px;}
.today #focusImg1 .tit, .focusImgs .tit a{ font-size:14px;}
.today #focusImg1 .arrow{ display:none}
.today #focusImg1 .item .mask, #focusImg1 .item .tit{ height:26px; line-height:26px}
.today #focusImg1 .btn{bottom:7px}
.today #focusImg1 .item .tit{width:222px; display:block; overflow:hidden}
.today .newlist{ padding:6px 0px 2px 10px;}
.today .newlist li .let{ padding-top:3px}
.today .newlist li{ padding-bottom:16px; overflow:hidden; zoom:1; height:45px;*padding-bottom:12px}
.today .newlist li .let img{ width:65px; height:45px}
.today .newlist li .rit{ width:135px; padding-left:6px;padding-top:1px}
.today .newlist li .rit .t{ font-size:12px; color:#000; transition:all 0.5s; height:34px; overflow:hidden; display:block; line-height:17px}
.today .newlist li .rit .t:hover{ color:#aa0000}
.today .newlist li .rit .f{ font-size:10px; color:#666}

.cover{width:300px;height:544px;float:left;display:inline;margin-left:73px;position:relative;}
.cover h4{background:url(../images/img.png) no-repeat 0 -528px;height:46px;font-size:20px;line-height:46px;padding-left:22px;color:#CD0E12;}
.cover h4 span{color:#0B0205;}
.cover .foucs_cover{height:482px;width:300px;margin-top:15px;}
.cover .scroll{width:300px;height:482px;overflow:hidden;position:relative;}
.cover .scroll-box{float:left;height:482px;width:300px;position:relative}
.cover .scroll-box a{color: #fff}
.cover .scroll-box img{text-align:center;font-size:30px;color:#000;display:block;width:300px;height:394px;}
.cover .scroll-box .txt{position:absolute;width:300px;text-align:center;padding-top:20px;height:68px;left:0;bottom:0;background:#E5E6EA;font-size:24px;color:#000;cursor:pointer;text-decoration:none;}
.cover .scroll-box .txt em{font-size:12px;font-style:normal;padding-left:5px;}
.cover .leftArr,.cover .rightArr{position:absolute;width:50px;height:50px;top:50%;margin-top:-25px;text-decoration:none;}
.cover .leftArr span,.cover .rightArr span{position:absolute;top:0;left:0;width:50px;height:50px;line-height:50px;font-size:50px;line-height:56px\0;*line-height:56px;font-family:"ËÎÌå";color:#E0E0E0;text-decoration:none;}
.cover .leftArr:hover span,.cover .rightArr:hover span{color:#a00;text-decoration:none;}
.cover .rightArr span{text-align:right;}
.cover .leftArr em,.cover .rightArr em{position:absolute;width:50px;height:50px;background:#fff;top:0;left:0;-moz-border-radius:40px;-webkit-border-radius:40px;border-radius:40px;text-decoration:none;filter:alpha(opacity=30);opacity: 0.3;-moz-opacity:0.3;}
.cover .leftArr{left:-33px;text-align:left;}
.cover .rightArr{right:-33px;text-align:right;}
.cover .leftArr:hover,.cover .rightArr:hover{text-decoration:none;cursor:pointer;}
.cover .dot-wrap{position:absolute;left:113px;bottom:8px;height:10px;line-height:10px;width:170px}
.cover .dot-wrap span{font-size:0;line-height:0;display:inline-block;overflow:hidden;width:9px;height:9px;margin-left:11px;background:url(../images/img.png) -141px -616px no-repeat;}
.cover .dot-wrap .current{background-position:-141px -604px;}

.chinaSound{background:url(../images/chinaSound.png) no-repeat;width:300px;height:545px;float:right;display:inline;}
.chinaSound .foucs_cover{height:544px;width:300px;}
.chinaSound .title{height:80px;}
.chinaSound .title img{margin-left:54px;margin-right:14px;}
.chinaSound .txt{font-size:15px;color:#898989;display:block;float:left;display:inline;padding-top:36px;}
.chinaSound .scroll{height:510px;width:300px;overflow:hidden;position:relative;}
.chinaSound .scroll-box{float:left;height:510px;width:300px;}
.chinaSound .scroll-box .pic{width:160px;height:160px;margin:20px auto 25px;}
.chinaSound .scroll-box .pic img{width:160px;height:160px;display:block;}
.chinaSound .scroll-box p{padding-left:20px;padding-top:10px;padding-bottom:5px;}
.chinaSound .f16{font-size:16px;}
.chinaSound .f18{font-size:18px;}
.chinaSound .f24{font-size:24px;}
.chinaSound .color1{color:#fb5e67;}
.chinaSound .color2{color:#5e92fb;}
.chinaSound .color3{color:#6276ef;}
.chinaSound .color4{color:#51becf;}
.chinaSound .color5{color:#fb5e67;}
.chinaSound .color6{color:#0f121c;}
.chinaSound .color7{color:#6f3cce;}
.chinaSound .color8{color:#f5813b;}
.chinaSound .color9{color:#fb5eba;}
.chinaSound .leftArr,.chinaSound .rightArr{display:none;}
.chinaSound .dot-wrap{height:10px;line-height:10px;width:100px;margin-top:15px;margin-left:113px;}
.chinaSound .dot-wrap span{font-size:0;line-height:0;display:inline-block;overflow:hidden;width:9px;height:9px;margin-left:11px;background:url(../images/img.png) -141px -616px no-repeat;}
.chinaSound .dot-wrap .current{background-position:-141px -604px;}

.w662 h4,.w300 h4{font-size:16px;}
.w662 h4 .s,.w300 h4 .s{color:#2d59b1;}
.w300 .vline{font-size:18px;color:#ddd;padding-left:10px;padding-right:10px;font-family:"ËÎÌå";}
.w662 .foucs_cover{height:185px;width:662px;position:relative;}
.w662 .scroll{width:662px;height:150px;overflow:hidden;position:relative;}
.w662 .scroll-box{float:left;height:150px;width:662px;position:relative;}
.w662 .scroll-box li{float:left;display:inline;width:200px;height:150px;margin-right:31px;position:relative;}
.w662 .scroll-box li img{width:200px;height:150px;display:block;}
.w662 .scroll-box li em{background:#000;filter:alpha(opacity=50);opacity: 0.5;-moz-opacity:0.5;display:block;height:32px;position:absolute;bottom:0;left:0;width:200px;}
.w662 .scroll-box li span{display:block;height:32px;line-height:32px;position:absolute;bottom:0;left:0;width:200px;color:#fff;font-size:14px;font-family:\5fae\8f6f\96c5\9ed1;text-align:center;cursor:pointer;text-decoration:none;}
.w662 .scroll-box li.end{margin-right:0px;}
.w662 .leftArr,.w662 .rightArr{position:absolute;width:35px;height:70px;top:40px;cursor:pointer;text-decoration:none;}
.w662 .leftArr:hover,.w662 .rightArr:hover{text-decoration:none;cursor:pointer;}
.w662 .leftArr span,.w662 .rightArr span{position:absolute;top:0;left:0;width:35px;height:70px;line-height:70px;height:74px\0;line-height:74px\0;*line-height:74px;font-size:55px;font-family:"ËÎÌå";color:#E0E0E0;text-decoration:none;}
.w662 .leftArr:hover span,.w662 .rightArr:hover span{color:#a00;}
.w662 .rightArr span{text-align:right;}
.w662 .leftArr em,.w662 .rightArr em{position:absolute;width:35px;height:70px;background:#000;top:0;left:0;filter:alpha(opacity=10);opacity:0.1;-moz-opacity:0.1;text-decoration:none;}
.w662 .leftArr em{-moz-border-radius:0 70px 70px 0;-webkit-border-radius:0 70px 70px 0;border-radius:0 70px 70px 0;}
.w662 .rightArr em{-moz-border-radius:70px 0 70px 0;;-webkit-border-radius:70px 0 70px 0;;border-radius:70px 0 0 70px;}
.w662 .leftArr{left:0;text-align:left;text-decoration:none;}
.w662 .rightArr{right:0;text-align:right;text-decoration:none;}
.w662 .dot-wrap{position:absolute;left:306px;bottom:8px;height:10px;line-height:10px;width:170px}
.w662 .dot-wrap span{font-size:0;line-height:0;display:inline-block;overflow:hidden;width:9px;height:9px;margin-left:11px;background:url(../images/img.png) -141px -616px no-repeat;}
.w662 .dot-wrap .current{background-position:-141px -604px;}
.w662 .list{width:662px;padding-top:10px;}
.w662 .list li{width:200px;height:33px;margin-right:31px;line-height:33px;float:left;display:inline;overflow:hidden;font-size:14px;}
.w662 .list li.end{margin-right:0px;}

.lck{height: 370px; overflow: hidden;}
.lck .hd{background: url(../images/ifr_title.jpg) 0 -115px;width: 100%;height: 32px;position:relative;}
.lck .hd a{position:absolute;top:0;left:0;height:32px;width:300px;}
.lck .bd{padding: 20px 0 10px 0;border-bottom: 1px dotted #e0e0e0; margin-bottom: 10px;}
.lck .bd h2 a{font-size: 18px; height: 23px;}
.lck .bd .n6{ font-size: 14px; color: #888; height: 25px;}
.lck .tit{font-size: 16px; height: 18px;line-height: 18px; margin-bottom: 15px; margin-bottom: 25px\9; }
.lck .details td{text-align: center; color: #999}
.lck .details span{display: inline-block; vertical-align: middle;}
.lck .bd .bBtn{width: 90px; text-align:center;height: 32px; line-height:32px;background: #ff0106; display:inline-block; color: #fff; font-size: 18px; border-radius: 3px; vertical-align: middle;}
.lck .lckList th{font-weight: normal;color: #888;}
.lck .lckList td{height:36px;height:34px\9;}
.lck .noPro{text-align: center; padding-top: 20px; color: #fb5e67}
.lck .lckList .bBtn{width: 52px; text-align:center;height: 20px; line-height:20px;background: #ff0106; display:block; color: #fff; border-radius: 3px; margin-left:3px;}
.lck .userBox{margin-bottom: 20px;}
.lck .tabTitle{color: #999}
.lck .hotTab span{cursor: pointer; }
.lck .hotTab .active{color: #000}
.lck .userBox dt img{width: 60px;height: 60px}
.lck .userBox dt{width: 60px;height: 60px;float: left; }
.lck .userBox dd {width: 225px;float: right; margin-top: -5px;}
.lck .userBox dd h2{font-size: 24px; height: 35px;}
.lck .userBox dd p{color: #888}
.lck .proBox{padding-bottom: 0px;}
.lck .proBox p{width:200px;text-align: center;float: left; }
.lck .proBox .bBtn{margin-top: 15px;}
.lck .f30{font-size: 30px;}
.lck em {font-style: normal;}
.lck .f16{font-size: 16px;}
.lck .mainColor{color: #fb5e67}
.lck .tar{text-align: right;}
.jrtj .hd{background: url(http://img.hexun.com/zl/hx/index/images/ifr_title.jpg);width: 100%;height: 83px;}
.jrtj .bd{background: #f8f8f8;width: 100%;height: 286px;text-align: center;}
.jrtj .timeBox{padding-left: 140px; color: #faa99e; font-size:18px; padding-top:40px;}
.jrtj .timeBox span{color: #fff; padding: 0 2px}
.jrtj .bd .avatar{display: inline-block;margin-top:20px;}
.jrtj .bd h2{margin:5px 0 5px 0;}

.jrtj .bd h2 a{	font-size: 22px;color:#333;}
.jrtj .bd p a{font-size: 14px;color: #999;}
.jrtj .bd p a:hover{color: #a00;}
.jrtj .bd .aBtn{width: 190px;margin-top:10px;}
.jrtj .aBtn{display: inline-block;height: 34px;line-height: 34px;text-align: center;border:1px solid #f9d1d4;border-radius: 3px;color: #fb5e67;font-size: 18px;}

.hcd{height: 370px;overflow: hidden; }
.hcd .tac{text-align: center}
.hcd .f30{font-size: 30px;}
.hcd .mainColor { color: #fb5e67;}
.hcd .hd{background: url(http://img.hexun.com/lux/indexSide/images/ifr_title.jpg) 0 -339px;width: 100%;height: 32px;position:relative;}
.hcd .hd a{position:absolute;top:0;left:0;height:32px;width:300px;}
.hcd .bd{ padding-top: 20px;}
.hcd .bd h2{font-size: 18px; padding:13px 0 8px 0}
.hcd .bd .aBtn{width: 190px; margin-top: 20px;}
.hcd .bd .aBtn {    border: 1px solid #f9d1d4;    border-radius: 3px;    color: #fb5e67;    display: inline-block;    font-size: 18px;    height: 34px;    line-height: 34px;    text-align: center;}

.wh{height: 370px;overflow: hidden;width:300px;}
.wh .hd{background: url(../images/ifr_title.jpg) 0 -243px;width: 100%;height: 32px;position:relative;}
.wh .hd .a1{position:absolute;top:0;left:10px;width:40px;height:32px;}
.wh .hd .a2{position:absolute;top:0;left:58px;width:74px;height:32px;}
.wh .msgBoard{width: 290px; float: right; height:150px; margin-top: 17px; position: relative; }
.wh .msgBoard .clock{position: absolute;left: -10px;}
.wh .w{border-left:1px solid #fdbfc2; color: #fb5e67}
.wh .h{border-left:1px solid #f7c7b3; color: #ea7240;display:block;}
.wh .top{ padding-left: 20px; line-height: 20px; font-size: 14px;height:auto;margin-top:0px;padding-bottom:0px;}
.wh .userBox{width:280px;margin-top:10px;padding-left:20px;}
.wh .userBox dt{width: 100px;float: left; margin-right: 17px;display:inline;}
.wh .userBox dd{ width: 160px;float: left; display:inline;overflow:hidden;height:100px;}
.wh .userBox h2{ height: 25px;font-size: 14px;} 
.wh .userBox p{ font-size: 16px; font-weight:bold;width: 180px;height: 20px; line-height: 20px; color: #333;margin-bottom:20px;_margin-bottom:17px; }
.wh .aBtn{display: inline-block;height: 34px;line-height: 34px;text-align: center;border:1px solid #f9d1d4;border-radius: 3px;color: #fb5e67;font-size: 18px;}
.wh .aBtn{width: 110px; height: 32px; font-size: 16px;}
.wh .userBox2{padding: 10px 0 0 0px; width: 100%; }
.wh .userBox2 dt{width: 60px;float: left; margin-right: 17px;}
.wh .userBox2 dt img{width: 60px;height: 60px;}
.wh .userBox2 dd{ width: 160px;float: left; }
.wh .userBox2 h2{ height: 25px;font-size: 16px;} 
.wh .userBox2 p{ font-size: 16px; font-weight:bold;width: 180px;height: 20px; line-height: 20px; color: #333;margin-bottom:20px; }
.wh .qaBox{height: 146px;overflow-y:scroll;margin-bottom:8px;}
.wh .qaBox p{font-size: 14px;line-height: 20px; color: #333; border-bottom: 1px dotted #e7e7e7; padding: 7px 0; }
.wh .inp1{ height: 34px;border:1px solid #eee;line-height: 34px; border-radius: 3px; width: 296px; margin-bottom: 4px;}
.wh .inp2{width: 151px;float: left;height: 34px;border:1px solid #eee;line-height: 34px; border-radius: 3px;border-right: 0; vertical-align: middle;}
.wh .verify{width: 67px;height: 36px;display: inline-block;vertical-align: middle; float: left;}
.wh .inp3{width: 79px;height: 36px; line-height:36px;text-align: center;color:#fb5e67; background: #eee; border-radius: 3px; border:none; vertical-align: middle; cursor: pointer;}

.video{height: 370px;overflow: hidden; }
.video .hd{background: url(http://img.hexun.com/lux/indexSide/images/ifr_title.jpg) 0 -435px;width: 100%;height: 32px;position:relative;}
.video .hd a{position:absolute;top:0;left:0;width:300px;height:32px;}
.video .hd-logined{background: url(http://img.hexun.com/lux/indexSide/images/ifr_title.jpg) 0 -499px;width: 100%;height: 32px;}
.video .bd{height: 240px; padding-top:10px; }
.video .bd .txt{  float: left;width: 300px;height: 28px;line-height: 28px;text-align: center;color: #fff; background: #b90d10}
.video .bd .txt a{color:#fff;}
.video .ft p{ font-size: 16px; height: 45px;line-height: 45px;width: 100%}
.video .ft .aBtn{width: 190px;}
.video .videoBox{padding: 9px 0 10px 0; width: 100%;overflow: hidden;  border-bottom: 1px dotted #e0e0e0}
.video .videoBox dt{width:90px;float: left; margin-right: 10px;}
.video .videoBox dt img{width: 80px;height: 65px}
.video .videoBox dd{ width: 180px;float: left; }
.video .videoBox h2{ height: 22px;line-height:22px;overflow:hidden;padding-top:2px;color:#ccc} 
.video .videoBox p{color: #999;margin-bottom: 5px}
.video .videoBox h2 a{color: #333; font-size:16px; }
.video ul{padding-top: 10px;}
.video li{height: 33px;line-height: 33px; font-size: 15px}
.vTag{ height: 21px; line-height: 21px; padding:0 6px; border-radius: 6px; color:#999;background: #f8f8f8;}
.video .tac{text-align: center}
.video .aBtn{border: 1px solid #f9d1d4;border-radius: 3px;color: #fb5e67;display: inline-block;font-size: 18px;height: 34px;line-height: 34px;text-align: center;}
.hx_img_mask{position: relative;display: inline-block; height: 212px;  overflow: hidden;  float: left;width:300px;}
.hx_img_mask img{width:300px;}
.hx_img_mask .mask{position: absolute; top: 0;left: 0;  width: 100%;  height: 100%;  background: #000;  opacity: .1;  filter: alpha(opacity=10);  z-index: 12;  transition: opacity .2s;  z-index: 2;}
.hx_img_mask:hover .mask{ opacity: 0; filter: alpha(opacity=0); *text-decoration: none;}
.hx_img_mask:hover h2{ color: #fff;}
.hx_img_mask img{width: 100%;height: 100%;}
.hx_img_mask h2{height: 50px; width: 95%;padding-left: 5%;position: absolute;left: 0;bottom:0;color: #ccc;text-align: left;overflow: hidden;background: url(http://img.hexun.com/news_index2015/img/creole_mask.png) 0 bottom repeat-x;background-image: linear-gradient(rgba(0, 0, 0, 0), #000000); _background: #000; _filter: alpha(opacity=50); z-index: 3; height: 44px; padding-bottom: 5px;}
.hx_img_mask h2 span{display: inline-block;height: 44px;padding-left: 54px;font-size: 16px;	background: url(http://img.hexun.com/lux/indexSide/images/icon_arw.png) no-repeat;}
.hx_img_mask h2 em{font-size: 12px;}

.footer{line-height:22px;font-family:"ËÎÌå";}
.footer .f-top{ border-top:4px #ddd solid; height:40px; line-height:40px; background:#c60001}
.footer .hx_f_nav{ padding-left:10px; color:#fff}
.footer .hx_f_nav .con-bank-select{ background:#c60001}
.footer .hx_f_nav .con-bank-select .slet{ height:40px; line-height:40px; border:0px; width:85px; border:1px #c60001 solid; border-top:0px; border-bottom:0px;*background-position:70px -113px}
.footer .hx_f_nav .con-bank-select .hover { border:1px #c3c3c3 solid; border-top:0px; border-bottom:0px; background:#fff;*background:#fff url(http://www.hexun.com/images/h_ico.gif) no-repeat 70px -14px; }
.footer .hx_f_nav .con-bank-select .slet .s-jt{ top:17px; background-position:0px -130px; right:12%}
.footer .hx_f_nav .con-bank-select .hover .s-jt{background-position:0px 0px;-moz-transform:rotate(180deg); -moz-transform-origin:50% 30%; -webkit-transform:rotate(180deg); -webkit-transform-origin:50% 30%;-o-transform:rotate(180deg); -o-transform-origin:50% 30%; transform:rotate(180deg); transform-origin:50% 30%; filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2); top:16px\9;}
.footer .hx_f_nav .con-bank-select .hover .s-jt{  -moz-transform:rotate(180deg); -moz-transform-origin:50% 30%; -webkit-transform:rotate(180deg); -webkit-transform-origin:50% 30%;-o-transform:rotate(180deg); -o-transform-origin:50% 30%; transform:rotate(180deg); transform-origin:50% 30%; filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2); top:16px\9;}
.footer .hx_f_nav .con-bank-select .slet .s-name{ line-height:40px; color:#fff;float:left; padding-left:21px}
.footer .hx_f_nav .con-bank-select .hover .s-name{ color:#1e2850;}
.footer .hx_f_nav .con-bank-select .slet ul{ margin-top:40px}
.footer .hx_f_nav .con-bank-select .slet ul a{color:#1e2850; height:32px; line-height:32px; padding-left:24%; width:76%}
.footer .hx_f_nav .con-bank-select .slet ul a:hover{ color:#a00}
.footer .hx_f_nav a{ color:#fff}
.footer .hx_f_img{ padding:20px 0px 10px 0px; text-align:center}
.footer .hx_f_img img{ border:1px solid #ccc; margin:0 2px}
.footer .hx_f_con{ color:#4c4c4c; text-align:center; padding-bottom:20px}
.footer .hx_f_con a{ color:#000}
.footer .hx_f_con a:hover{ color:#a00}
.footer .wmar{margin: 0 auto;width: 960px}
.footer .con-bank-select{ float:left; background:#FFF}
.footer .con-bank-select .slet{cursor:pointer;*background:url(http://www.hexun.com/images/h_ico.gif) no-repeat right 10px;width:116px;height:24px;position:relative;border:1px #ddd solid;line-height:24px;color:#999;text-align:center;z-index:1}
.footer .con-bank-select .slet .s-name{ line-height:24px}
.footer .con-bank-select .hover{*background:url(http://www.hexun.com/images/h_ico.gif) no-repeat right -20px;}
.footer .con-bank-select .slet ul{ position:absolute; width:134px; border:1px #ececec solid; top:0px; left:0px; margin-top:24px; margin-left:-1px; background:#fff; display:none}
.footer .con-bank-select .slet ul li a{ display:block; width:90%; height:24px; line-height:24px; border-bottom:1px #f4f4f4 solid; color:#999; padding-left:10%; text-align:left; background:#fff}
.footer .con-bank-select .slet ul li a:hover{ background:#f4f4f4; color:#333; text-decoration:none}
.footer .con-bank-select .slet .s-jt{background:url(http://www.hexun.com/images/h_ico.gif) no-repeat 0 0; display:block; width:8px; height:4px; font-size:0px; line-height:0px; position:absolute; right:6%; top:10px;-moz-transition:-moz-transform .2s ease-in; -webkit-transition:-webkit-transform .2s ease-in; -o-transition:-o-transform .2s ease-in; transition:transform .2s ease-in; -moz-transform:rotate(0); -webkit-transform:rotate(0); -o-transform:rotate(0); transform:rotate(0);*display:none}
.footer .con-bank-select .hover .s-jt{  -moz-transform:rotate(180deg); -moz-transform-origin:50% 30%; -webkit-transform:rotate(180deg); -webkit-transform-origin:50% 30%;-o-transform:rotate(180deg); -o-transform-origin:50% 30%; transform:rotate(180deg); transform-origin:50% 30%; filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=10); top:16px\9}
.channelCopy .icp{width:300px;margin:0 auto; padding:0px 0;}
.channelCopy .icp .icpico{display:inline-block;text-decoration:none;height:20px;line-height:20px;}
.channelCopy .icp .icpico img{float:left;}
.channelCopy .icp p{float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px;color:#939393;}
#tonglan_1,#tonglan_2,#tonglan_3,#tonglan_4,#tonglan_5{padding:0;}
/*0810*/
.jrtj .bd .mH2{margin:15px 0 0 0;}
.jrtj .userBox2{text-align: left!important; width: 260px; margin: 0 auto; padding-top:20px;}
.jrtj .userBox2 dt{width: 45px;float: left; margin-right:10px;}
.jrtj .userBox2 dt img{width: 45px;height: 45px;}
.jrtj .userBox2 dd{ width: 200px;float: left; }
.jrtj .userBox2 h2{ height: 30px; margin: 0 }
.jrtj .userBox2 h2 a{ font-size: 16px!important;} 
.jrtj .userBox2 p{ font-size: 12px!important; width: 180px; line-height: 18px; color: #999; padding-bottom: 5px; }
.jrtj .userBox2 p span{padding-left: 15px}
.icon_gw{ font-size: 12px; color: #999; padding-left: 18px; background: url(http://img.hexun.com/lux/indexSide/images/icon_cd.png) no-repeat;}
.jcgd{font-size: 22px; line-height: 28px; width: 260px; margin: 0 auto; padding:5px 0 10px 0; text-align: left; border-bottom: 1px dotted #e4e4e4}
.jcgd img{float: left; vertical-align: middle; margin-top: 3px; margin-right: 5px;}
.ljdy{height: 40px;line-height: 40px; text-align: left;width: 260px; margin: 0 auto; border-bottom: 1px dotted #e4e4e4; font-size: 16px;}
.ljdy span{ font-size: 24px; vertical-align: middle;}
.askBtn {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    padding: 0 7px;
    background: #fb5e67;
    border-radius: 3px;
    margin-left: 3px;
}
.ljdy .askBtn{font-size: 12px; margin-left: 35px;}  
.jrtj .ft{width: 260px; margin: 0 auto; text-align: left;}
.jrtj .ft h2{font-size: 12px; font-weight: bold;}
.jrtj .jgnl { width: 129px; text-align: center; float: left; height: 42px; padding-top: 10px;}
.jrtj .jgnl span{ font-size: 14px; color: #666; display: block;width: 100%}
.jrtj .jgnl em{ font-size: 22px; font-style: normal; }
.jrtj .cgl{border-right: 1px solid #e3e4e5}
.ljdy img{ margin-top: -3px; margin-right: 5px;}

.aJgnl{font-size: 12px!important;}





