/* TSYSTEMS SYMPOSIUM 2016.11.30. */
.news-wrap.sponsored .headline {
    font: 900 30px/1 "Roboto Black", sans-serif;
    color: #fff;
    background: url(http://static.origos.hu/s/img/szponzoraciok/20161128-tsystems-symposium-header.png) 0 0 no-repeat;
}

/* KARACSONY SZEKCIO 2016.12.02. */
.news-wrap.sponsored_2 .headline {
    color: #d33344;
    background: url(http://static.origos.hu/s/img/szponzoraciok/20161202-karacsony-szekciofejlec.png) 0 0 no-repeat;
}

#sticky { z-index: 999; }

#sticky img {
    /*border-radius: 0 46px 0 0;*/
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
}

.cat-menu .ad-textbox {
    float: left;
    width: 550px;
}

.cat-menu .ad-textbox .goAdverticum div {
    background: #fff;
    border: 0;
    padding: 20px 0 0;
}

/* menetrend */

#tags {padding: 0;}
#tags ul {padding: 6px 10px; overflow: hidden;}
#tags #menetrend {display: block; float: left; padding: 5px 10px 7px 40px; font-weight: bold; background-color: #f1e7d4; background-image: url('http://static.origos.hu/s/img/cimlap/menetrend-bg.png'); background-repeat: no-repeat; background-position: 10px 50%;}

