/*! Generated: 2016.12.08 11:52:25 */

@font-face {
  font-family: "origo-pure-font";
  font-weight: 400;
  font-style: normal;
  src: url("/s/font/v2/icons/origo-pure-font.woff") format("woff"), url("/s/font/v2/icons/origo-pure-font.ttf") format("truetype");
}

@font-face {
  font-family: "origo-idojaras-font";
  font-weight: 400;
  font-style: normal;
  src: url("/s/font/v2/icons/origo-idojaras-font-v2.woff") format("woff"), url("/s/font/v2/icons/origo-idojaras-font-v2.ttf") format("truetype");
}

@font-face {
  font-family: "Noticia Text";
  font-weight: 400;
  font-style: normal;
  src: url("/s/font/v2/noticia-text/noticia-text-regular.woff") format("woff"), url("/s/font/v2/noticia-text/noticia-text-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("/s/font/v2/open-sans/open-sans-regular.woff") format("woff"), url("/s/font/v2/open-sans/open-sans-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("/s/font/v2/open-sans/open-sans-bold.woff") format("woff"), url("/s/font/v2/open-sans/open-sans-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-style: normal;
  src: url("/s/font/v2/open-sans-condensed/open-sans-condensed-light.woff") format("woff"), url("/s/font/v2/open-sans-condensed/open-sans-condensed-light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-style: normal;
  src: url("/s/font/v2/open-sans-condensed/open-sans-condensed-bold.woff") format("woff"), url("/s/font/v2/open-sans-condensed/open-sans-condensed-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("/s/font/v2/roboto/roboto-regular.woff") format("woff"), url("/s/font/v2/roboto/roboto-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("/s/font/v2/roboto/roboto-medium.woff") format("woff"), url("/s/font/v2/roboto/roboto-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("/s/font/v2/roboto/roboto-bold.woff") format("woff"), url("/s/font/v2/roboto/roboto-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  src: url("/s/font/v2/roboto-condensed/roboto-condensed-regular.woff") format("woff"), url("/s/font/v2/roboto-condensed/roboto-condensed-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  src: url("/s/font/v2/roboto-condensed/roboto-condensed-bold.woff") format("woff"), url("/s/font/v2/roboto-condensed/roboto-condensed-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: italic;
  src: url("/s/font/v2/roboto-condensed/roboto-condensed-bold-italic.woff") format("woff"), url("/s/font/v2/roboto-condensed/roboto-condensed-bold-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  src: url("/s/font/v2/source-sans-pro/source-sans-pro-regular.woff") format("woff"), url("/s/font/v2/source-sans-pro/source-sans-pro-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-style: normal;
  src: url("/s/font/v2/source-sans-pro/source-sans-pro-semi-bold.woff") format("woff"), url("/s/font/v2/source-sans-pro/source-sans-pro-semi-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-style: normal;
  src: url("/s/font/v2/source-sans-pro/source-sans-pro-bold.woff") format("woff"), url("/s/font/v2/source-sans-pro/source-sans-pro-bold.ttf") format("truetype");
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  clear: both;
  content: '';
  display: table;
}

/*
body, html {
    overflow-x: hidden;
    width: 100%;
}
*/
.p_0d:before {
  content: "\61";
}

.p_0n:before {
  content: "\62";
}

.p_1d:before {
  content: "\63";
}

.p_1n:before {
  content: "\64";
}

.p_2d:before {
  content: "\65";
}

.p_2n:before {
  content: "\66";
}

.p_3d:before {
  content: "\67";
}

.p_3n:before {
  content: "\68";
}

.p_4d:before {
  content: "\69";
}

.p_4n:before {
  content: "\6a";
}

.p_5d:before {
  content: "\6b";
}

.p_5n:before {
  content: "\6c";
}

.p_6d:before {
  content: "\6d";
}

.p_6n:before {
  content: "\6e";
}

.p_7d:before {
  content: "\6f";
}

.p_7n:before {
  content: "\70";
}

.p_8d:before {
  content: "\71";
}

.p_8n:before {
  content: "\72";
}

.p_9d:before {
  content: "\73";
}

.p_9n:before {
  content: "\74";
}

.p_10d:before {
  content: "\75";
}

.p_10n:before {
  content: "\76";
}

.p_11d:before {
  content: "\77";
}

.p_11n:before {
  content: "\78";
}

.p_12d:before {
  content: "\79";
}

.p_12n:before {
  content: "\7a";
}

.p_13d:before {
  content: "\41";
}

.p_13n:before {
  content: "\42";
}

.p_14d:before {
  content: "\43";
}

.p_14n:before {
  content: "\44";
}

.p_15d:before {
  content: "\45";
}

.p_15n:before {
  content: "\46";
}

.p_16d:before {
  content: "\47";
}

.p_16n:before {
  content: "\48";
}

.p_17d:before {
  content: "\49";
}

.p_17n:before {
  content: "\4a";
}

.p_18d:before {
  content: "\4b";
}

.p_18n:before {
  content: "\4c";
}

.p_19d:before {
  content: "\4d";
}

.p_19n:before {
  content: "\4e";
}

.p_20d:before {
  content: "\4f";
}

.p_20n:before {
  content: "\50";
}

.p_21d:before {
  content: "\51";
}

.p_21n:before {
  content: "\52";
}

.p_22d:before {
  content: "\53";
}

.p_22n:before {
  content: "\54";
}

.p_23d:before {
  content: "\55";
}

.p_23n:before {
  content: "\56";
}

.p_24d:before {
  content: "\57";
}

.p_24n:before {
  content: "\58";
}

.p_25d:before {
  content: "\59";
}

.p_25n:before {
  content: "\5a";
}

.p_26d:before {
  content: "\30";
}

.p_26n:before {
  content: "\31";
}

.p_27d:before {
  content: "\32";
}

.p_27n:before {
  content: "\33";
}

.p_28d:before {
  content: "\34";
}

.p_28n:before {
  content: "\35";
}

.p_29d:before {
  content: "\36";
}

.p_29n:before {
  content: "\37";
}

.p_30d:before {
  content: "\38";
}

.p_30n:before {
  content: "\39";
}

.p_31d:before {
  content: "\21";
}

.p_31n:before {
  content: "\22";
}

.p_f0:before {
  content: "\23";
}

.p_f1:before {
  content: "\24";
}

.p_f2:before {
  content: "\25";
}

.p_f3:before {
  content: "\26";
}

body {
  color: #222;
  width: 100%;
}

body.locked {
  overflow-y: scroll;
  position: fixed;
}

a {
  color: #222;
}

#main {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin: 0 auto;
  width: 1000px;
}

.full-page-kapu #main {
  border-top: 1px solid #ddd;
  background: #fff;
}

#accept-cookie {
  background: rgba(34, 34, 34, 0.8);
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-height: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  text-align: left;
  text-transform: none;
  transition: all .3s ease-in-out;
  visibility: visible;
  width: 100%;
  z-index: 1000000;
}

#accept-cookie.accept-cookie-open {
  max-height: 500px;
  opacity: 1;
  transition: all .3s ease-in-out;
}

#accept-cookie.accept-cookie-open #accept-cookie-button {
  bottom: 0;
  top: 0;
  transition: all .3s ease-in-out;
}

#accept-cookie.accept-cookie-open #accept-cookie-link {
  bottom: 13px;
  transition: all .3s ease-in-out;
}

#accept-cookie-details {
  color: #fff;
  display: inline-block;
  font: 400 15px/20px "Roboto", sans-serif;
  padding: 20px 135px 20px 10px;
}

#accept-cookie-link {
  color: #f0cc03;
  font: 400 15px "Roboto", sans-serif;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

#accept-cookie-link:hover {
  color: #ffdd24;
  text-decoration: none;
}

#accept-cookie-button {
  background: #f0cc03;
  border-radius: 4px;
  bottom: -34px;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font: 700 14px/34px "Roboto", sans-serif;
  height: 34px;
  margin: auto;
  padding: 0 20px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  position: absolute;
  top: 100%;
  right: 15px;
}

#accept-cookie-button:hover {
  background: #ffdd24;
  text-decoration: none;
}

#p_fejlec input {
  display: none;
}

#p_fejlec_in ul#p_menu > li > a, #p_fejlec_in ul#p_menu > li > span, #p_fejlec_in ul#p_menu > li > label span {
  font-size: 14px;
  color: #666;
  padding-top: 6px;
  position: relative;
  padding-bottom: 7px;
  border-top: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  display: block;
  background-color: transparent;
}

#p_fejlec_in ul#p_menu > li > span, #p_fejlec_in ul#p_menu > li > label span {
  padding-left: 6px;
  background-image: url("http://static.origos.hu/s/img/cimlap2013/p_drop-arrow.png");
  background-repeat: no-repeat;
  background-position: 97% 96%;
  padding-right: 15px;
}

#p_fejlec_in .p_dropdown > a {
  padding-right: 14px;
  padding-left: 2px;
  background-image: url("/s/img/cimlap/dd_arrow.png");
  background-repeat: no-repeat;
  background-position: 100% -37px;
}

.desktop #p_fejlec_in ul#p_menu > li.p_dropdown:hover > label span, .p_dropdown > input:checked + label span {
  cursor: pointer;
  border-top: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  background-color: #fff;
  z-index: 1001;
  background-position: 97% 0%;
}

.p_almenu {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1000;
  right: 0;
  /*width: 250px; */
  margin-top: -2px;
  border: 2px solid #ddd;
}

#p_fejlec.desktop .p_dropdown:hover .p_almenu {
  display: block;
}

#p_fejlec.mobile input:checked ~ .p_almenu {
  display: block;
}

.p_almenu ul {
  /*float: left;*/
  width: 122px;
  padding: 4px 0;
}

.p_almenu ul:last-child {
  border-left: 1px solid #ddd;
}

.p_almenu a {
  display: inline-block;
  margin-left: 12px;
  padding: 8px 7px;
  color: #666;
}

.p_almenu .p_newsec {
  margin-top: 16px;
  border-top: 1px solid #ddd;
  padding-top: 16px;
}

#p_fejlec {
  background: #ddd;
  font-family: "Roboto", sans-serif;
  position: relative;
  text-align: center;
  z-index: 1001;
}

#p_fejlec_in {
  height: 36px;
  margin: 0 auto;
  width: 1002px;
}

#p_fejlec_in ul#p_menu {
  font-size: 0;
}

#p_fejlec_in ul#p_menu > li {
  display: inline-block;
  margin: 0 34px;
  position: relative;
  vertical-align: top;
}

#p_fejlec_in ul#p_menu > li {
  text-align: left;
}

#p_fejlec_in ul#p_menu > li a {
  font-size: 14px;
}

.vertical-navigation {
  bottom: 0;
  display: none;
  height: 100%;
  margin: 0 -544px 0 0;
  position: fixed;
  right: 50%;
  width: 35px;
}

.vertical-navigation.vn-visible {
  display: block;
}

.vertical-navigation .vn-item {
  background: #ddd;
  cursor: pointer;
  height: 35px;
  position: absolute;
  text-align: center;
  transition: background .3s ease-in-out;
  width: 35px;
}

.vertical-navigation .vn-item:hover {
  background: #b7b7b7;
}

.vertical-navigation .vn-item:before {
  color: #fff;
  font-size: 22px;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 36px;
  font-smoothing: antialiased;
}

.vertical-navigation .vn-prev {
  display: none;
  top: 50%;
}

.vertical-navigation .vn-prev:before {
  content: "K";
}

.vertical-navigation .vn-next {
  display: none;
  margin: 36px 0 0;
  top: 50%;
}

.vertical-navigation .vn-next:before {
  content: "M";
}

.vertical-navigation .vn-top {
  bottom: 0;
}

.vertical-navigation .vn-top:before {
  content: ";";
}

#magnum {
  line-height: 0;
  min-height: 90px;
  padding: 15px 0 6px;
  position: relative;
  text-align: center;
}

#header {
  font-size: 0;
  padding: 6px 12px 9px;
}

#nameday {
  display: inline-block;
  height: 31px;
  vertical-align: top;
  font: 400 14px/31px "Roboto Condensed", sans-serif;
}

#nameday p {
  display: inline;
}

#nameday p:after {
  content: ", ";
}

#weather {
  display: inline-block;
  height: 31px;
  font: 400 14px/31px "Roboto Condensed", sans-serif;
  vertical-align: top;
}

#weather span:last-child {
  display: none;
}

#weather a {
  display: inline-block;
}

#weather a:before {
  content: '';
  display: inline-block;
  margin: 0 8px 0 0;
  vertical-align: middle;
  background-image: url("http://static.origos.hu/s/img/svg/origo/idojaras/idojaras-picto-sprite.svg");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-position: 20px 20px;
  background-size: 80px 400px;
}

#weather.p_01D a:before {
  background-position: -40px 0;
}

#weather.p_01N a:before {
  background-position: -60px 20px;
}

#weather.p_02D a:before {
  background-position: -40px -20px;
}

#weather.p_02N a:before {
  background-position: -60px 0;
}

#weather.p_03D a:before {
  background-position: -40px -40px;
}

#weather.p_03N a:before {
  background-position: -60px -20px;
}

#weather.p_04D a:before {
  background-position: -40px -60px;
}

#weather.p_04N a:before {
  background-position: -60px -40px;
}

#weather.p_05D a:before {
  background-position: -40px -80px;
}

#weather.p_05N a:before {
  background-position: -60px -60px;
}

#weather.p_06D a:before {
  background-position: -40px -100px;
}

#weather.p_06N a:before {
  background-position: -60px -80px;
}

#weather.p_07D a:before {
  background-position: -40px -120px;
}

#weather.p_07N a:before {
  background-position: -60px -100px;
}

#weather.p_08D a:before {
  background-position: -40px -140px;
}

#weather.p_08N a:before {
  background-position: -60px -120px;
}

#weather.p_09D a:before {
  background-position: -40px -160px;
}

#weather.p_09N a:before {
  background-position: -60px -140px;
}

#weather.p_10D a:before {
  background-position: -40px -180px;
}

#weather.p_10N a:before {
  background-position: -60px -160px;
}

#weather.p_11D a:before {
  background-position: -40px -200px;
}

#weather.p_11N a:before {
  background-position: -60px -180px;
}

#weather.p_12D a:before {
  background-position: -40px -220px;
}

#weather.p_12N a:before {
  background-position: -60px -200px;
}

#weather.p_13D a:before {
  background-position: -40px -240px;
}

#weather.p_13N a:before {
  background-position: -60px -220px;
}

#weather.p_14D a:before {
  background-position: -40px -260px;
}

#weather.p_14N a:before {
  background-position: -60px -240px;
}

#weather.p_15D a:before {
  background-position: -40px -280px;
}

#weather.p_15N a:before {
  background-position: -60px -260px;
}

#header_arfolyam {
  display: inline-block;
  font: 400 14px/31px "Roboto Condensed", sans-serif;
  height: 31px;
  vertical-align: top;
}

#header_arfolyam span:first-child {
  margin: 0 12px 0 0;
}

#header_arfolyam span:after {
  display: inline;
  font-size: 9px;
  margin: 0 0 0 3px;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
}

#header_arfolyam span.arf-:after {
  color: #999;
  content: "1";
}

#header_arfolyam span.arf-csok:after {
  color: #e21b23;
  content: "T";
}

#header_arfolyam span.arf-no:after {
  color: #00b156;
  content: "R";
}

.open-social-layer {
  display: inline-block;
  height: 31px;
  vertical-align: top;
}

.social-layer-holder {
  display: inline-block;
  vertical-align: top;
}

#p_kereso {
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 3px;
  float: right;
  font-size: 0;
  height: 29px;
  position: relative;
}

#p_kereso .p_kereso_options {
  border-right: 1px solid #ddd;
  display: inline-block;
  width: 30px;
}

#p_kereso .p_kereso_options div {
  color: #949494;
  cursor: pointer;
  display: block;
  height: 14px;
  font: 400 10px/14px "Roboto Condensed", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

#p_kereso .p_kereso_options div:first-child {
  border-bottom: 1px solid #ddd;
  border-radius: 3px 0 0 0;
}

#p_kereso .p_kereso_options div:last-child {
  border-radius: 0 0 0 3px;
}

#p_kereso .p_kereso_options div.aktive {
  background: #fff;
  color: #155092;
}

#p_kereso #p_kereso_text {
  background: #f2f2f2 url(/s/img/cimlap2013/google_custom_search.png) 10px 50% no-repeat;
  border: 0;
  box-sizing: border-box;
  display: inline-block;
  height: 29px;
  padding: 0 10px;
  vertical-align: top;
  width: 200px;
}

#p_kereso #p_kereso_text:focus, #p_kereso #p_kereso_text.blured {
  background: transparent;
  outline: none;
}

#p_kereso #p_kereso_btn {
  display: inline-block;
  vertical-align: top;
}

#p_kereso #p_kereso_btn:before {
  background: #fff;
  border-radius: 0 3px 3px 0;
  color: #999;
  content: "A";
  display: block;
  font-size: 29px;
  height: 29px;
  width: 28px;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
  position: absolute;
  top: 0;
  right: 0;
}

#p_kereso #p_kereso_btn input {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 29px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 28px;
}

#nameday:after, #weather:after, #header_arfolyam:after {
  background: #ddd;
  content: '';
  display: inline-block;
  height: 16px;
  margin: 8px 12px 0;
  vertical-align: top;
  width: 1px;
}

#header_arfolyam:after {
  margin: 8px 8px 0 12px;
}

#nav {
  background: #155092;
  height: 44px;
  margin: 0 0 0 -1px;
  position: relative;
  width: 1002px;
  z-index: 39;
}

#nav.fixed-menu {
  position: fixed;
  top: 0;
  z-index: 1100;
}

.peelopen #nav.fixed-menu, .sidekickopen #nav.fixed-menu {
  position: relative;
}

#nav h1 {
  float: left;
}

#nav h1 a {
  background: url(/s/img/svg/origo/origo_logo.svg) 0 0/94px auto no-repeat;
  display: block;
  height: 20px;
  margin: 12px 11px 0 12px;
  width: 94px;
}

#nav > ul {
  font-size: 0;
}

#nav > ul > li {
  display: inline-block;
  height: 44px;
}

#nav > ul > li > span {
  color: #fff;
  cursor: pointer;
  display: block;
  font: 400 15px "Roboto", sans-serif;
  margin: 2px 0 0;
  padding: 10px 16px 12px 13px;
  position: relative;
  text-transform: uppercase;
  z-index: 999;
}

#nav > ul > li > span:after {
  content: "F";
  font-size: 9px;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
  position: absolute;
  top: 16px;
  right: 5px;
}

#nav > ul > li:hover span {
  background: #fff;
  color: #155092;
}

#nav > ul > li:hover span:after {
  transform: rotate(180deg);
}

.nav_almenu {
  background: #fff;
  border: 2px solid #155092;
  display: none;
  margin: -2px 0 0;
  padding: 13px 0;
  width: 998px;
  z-index: 998;
  position: absolute;
  left: 0;
}

.nav_almenu .nav_alrovat {
  font-size: 0;
  position: relative;
  width: 100%;
}

.nav_almenu .nav_alrovat a {
  background: #999;
  color: #fff;
  display: inline-block;
  font: 700 14px "Roboto Condensed", sans-serif;
  height: 20px;
  margin: 0 0 0 12px;
  padding: 0 4px;
  text-transform: uppercase;
  vertical-align: top;
}

.nav_almenu .nav_alrovat a:hover {
  background: #155092;
}

.nav_almenu .nav_alrovat a.menu-reblog:hover {
  background: #db5f46;
}

.nav_almenu .nav_article {
  font-size: 0;
  margin: 12px 0 0;
}

.nav_almenu .nav_article .news-item {
  display: inline-block;
  padding: 0 0 0 12px;
  position: relative;
  vertical-align: top;
  width: 185px;
}

.nav_almenu .nav_article .news-item img {
  height: 93px;
  width: 185px;
}

.nav_almenu .nav_article .news-item.video > a:after {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  content: "V";
  display: block;
  height: 32px;
  font-size: 29px;
  width: 32px;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
  position: absolute;
  top: 10px;
  left: 22px;
}

.nav_almenu .nav_article .news-item > a:hover + .news-text-block .news-title {
  color: #155092;
}

.nav_almenu .nav_article .news-item .news-text-block {
  padding: 2px 0 0;
}

.nav_almenu .nav_article .news-item .news-title {
  font: 400 16px/19px "Source Sans Pro", sans-serif;
  letter-spacing: -0.2px;
  transition: color .3s ease-in-out;
}

.nav_almenu .nav_article .news-item .news-title:hover {
  color: #155092;
}

.open-social-layer {
  cursor: pointer;
}

.open-social-layer span {
  display: inline-block;
  margin: 8px 8px 0 0;
  vertical-align: top;
}

.open-social-layer span:last-child {
  margin: 8px 0 0;
}

.open-social-layer span:after {
  color: #999;
  display: inline-block;
  font-size: 16px;
  transition: color .3s ease-in-out;
  vertical-align: top;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
}

.open-social-layer span.fb:after {
  content: "<";
}

.open-social-layer span.tw:after {
  content: "X";
}

.open-social-layer span.go:after {
  content: "=";
}

.open-social-layer:hover span.fb:after {
  color: #3b5998;
}

.open-social-layer:hover span.tw:after {
  color: #55acee;
}

.open-social-layer:hover span.go:after {
  color: #dc4e41;
}

.social-layer-shadow {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all .5s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1100;
}

.expanded .social-layer-shadow {
  opacity: 1;
  visibility: visible;
}

.social-layer {
  background: #fff;
  display: none;
  margin: 0 auto;
  padding: 11px 11px 10px;
  width: 440px;
  z-index: 1101;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.expanded .social-layer {
  animation: movedown 0.5s;
  display: block;
}

.social-layer .social-layer-tiltle {
  color: #000;
  font: 700 18px/1 "Roboto Condensed", sans-serif;
  margin: 0 0 10px;
  position: relative;
  text-transform: uppercase;
}

.social-layer .social-layer-tiltle a {
  color: #155092;
  font: 700 14px "Roboto", sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
}

.social-layer .social-layer-tiltle a:hover {
  color: #0d3058;
}

.social-layer .social-layer-tiltle a:after {
  content: "L";
  font-size: 10px;
  margin: 0 0 0 2px;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
}

.social-layer .social-sites {
  font-size: 0;
  margin: 0 0 30px;
}

.social-layer .social-site {
  border: 1px solid;
  color: #fff;
  display: inline-block;
  font: 700 14px/39px "Roboto", sans-serif;
  height: 39px;
  margin: 0 0 1px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  width: 218px;
}

.social-layer .social-site:before {
  color: #fff;
  font-size: 20px;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
  position: absolute;
  top: 9px;
  left: 10px;
}

.social-layer .social-site:nth-child(4), .social-layer .social-site:nth-child(5) {
  transition: all .2s ease-in-out;
}

.social-layer .social-site a {
  color: #fff;
  height: 39px;
  display: block;
  width: 100%;
}

.social-layer .social-site .social-widget {
  background: #fff;
  display: inline-block;
  height: 39px;
  transition: all .3s ease-in-out;
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.social-layer .social-site:hover .social-widget {
  width: 179px;
}

.social-layer .social-site:first-child {
  background: #3b5998;
  border-color: #3b5998;
  width: 438px;
}

.social-layer .social-site:first-child:before {
  content: "<";
}

.social-layer .social-site:first-child:hover .social-widget {
  width: 397px;
}

.social-layer .social-site:nth-child(2n) {
  margin: 0 1px 1px 0;
  width: 217px;
}

.social-layer .social-site:nth-child(2n):hover .social-widget {
  width: 176px;
}

.social-layer .social-site.tw {
  background: #55acee;
  border-color: #55acee;
}

.social-layer .social-site.tw:before {
  content: "X";
}

.social-layer .social-site.go {
  background: #dc4e41;
  border-color: #dc4e41;
}

.social-layer .social-site.go:before {
  content: "=";
}

.social-layer .social-site.in {
  background: #3f729b;
  border-color: #3f729b;
}

.social-layer .social-site.in:hover {
  background: #28567e;
  border-color: #28567e;
}

.social-layer .social-site.in:before {
  content: ">";
}

.social-layer .social-site.pi {
  background: #bd081c;
  border-color: #bd081c;
}

.social-layer .social-site.pi:hover {
  background-color: #a0000e;
  border-color: #a0000e;
}

.social-layer .social-site.pi:before {
  content: "W";
}

.social-layer .social-site .fb-like span {
  vertical-align: middle !important;
}

.social-layer .social-site.tw iframe {
  margin: 10px 0 0;
}

.social-layer .social-site.go .social-widget > div {
  margin: 10px 0 0 !important;
}

.social-layer .categories-on-fb {
  font-size: 0;
}

.social-layer .categories-on-fb a {
  background: #155092;
  color: #fff;
  display: inline-block;
  font: 700 14px/36px "Roboto", sans-serif;
  height: 36px;
  margin: 0 1px 1px 0;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  vertical-align: top;
  width: 146px;
}

.social-layer .categories-on-fb a:nth-child(3n) {
  margin: 0 0 1px;
}

.social-layer .categories-on-fb a:hover {
  background: #0d3058;
}

.social-layer .social-layer-close {
  border: 1px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  height: 22px;
  text-align: center;
  width: 22px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.social-layer .social-layer-close:before {
  content: "d";
  font-size: 18px;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 20px;
  font-smoothing: antialiased;
}

.social-layer .social-layer-close:hover {
  background: #000;
  color: #fff;
}

@keyframes movedown {
  from {
    top: -344px;
  }
  to {
    top: 0px;
  }
}

@-webkit-keyframes movedown {
  from {
    top: -344px;
  }
  to {
    top: 0px;
  }
}

@keyframes moveup {
  from {
    top: 344px;
  }
  to {
    top: -344px;
  }
}

@-webkit-keyframes moveup {
  from {
    top: 344px;
  }
  to {
    top: -344px;
  }
}

.headline {
  border-bottom: 1px solid #ddd;
  color: #155092;
  background: #fff;
  font: italic 700 30px/1 "Roboto Condensed", sans-serif;
  padding: 10px 0 7px 12px;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
}

.highlighted .headline {
  background: #B4DB48;
  border-color: #B4DB48;
  color: #222;
  text-align: center;
}

.section_header_investor {
  background-color: #0d7138;
  background-image: url(http://static.origos.hu/s/img/cimlap2013/cimlap_section_header_investor.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: block;
  height: 49px;
  width: 100%;
}

.section_header_uzletresz {
  background-color: #032629;
  background-image: url(http://static.origos.hu/s/img/cimlap2013/cimlap_section_header_uzletresz.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: block;
  height: 49px;
  width: 100%;
}

.section_header.reblog_fejlec a.section_reblog_logo {
  display: block;
  width: 450px;
  height: 39px;
  background: url(http://static.origos.hu/s/img/cimlap2013/section_logo_reblog.jpg) 0 0 no-repeat;
  background-image: url(http://static.origos.hu/s/img/svg/cimlap/reblog_logo-sprint-3.svg);
  float: left;
  text-indent: -99999px;
  font-size: 1px;
  margin-left: 11px;
  margin-top: 10px;
}

.section_header.reblog_fejlec a.section_start_reblog {
  display: block;
  width: 150px;
  height: 35px;
  background: url(http://static.origos.hu/s/img/cimlap2013/start_reblog2.jpg) 0 0 no-repeat;
  background-image: url(http://static.origos.hu/s/img/svg/cimlap/reblog_indits.svg);
  float: right;
  text-indent: -99999px;
  font-size: 1px;
  margin-right: 11px;
  margin-top: 14px;
}

.section_header.reblog_fejlec a.section_start_reblog:hover {
  background-position: left bottom;
  background-image: url(http://static.origos.hu/s/img/svg/cimlap/reblog_indits_hover-sprint-3.svg);
}

.wrap-postr .section_header {
  background: #db5f46 url(/s/img/reblog/reblong-sprint-bg.png) 0 0 no-repeat;
  height: 60px;
  margin: 0 0 0 -1px;
  overflow: hidden;
  position: relative;
  width: 1002px;
  z-index: 2;
}

.wrap-life .section_header {
  background: #dbc9d5;
  height: 60px;
  margin: 0 0 0 -1px;
  overflow: hidden;
  position: relative;
  width: 1002px;
}

.wrap-life .section_header.fixed-life-menu {
  position: fixed;
  top: 0;
  z-index: 1100;
}

.wrap-life .section_header .section_life_logo {
  background-image: url(http://static.origos.hu/s/img/svg/cimlap/life_logo.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 43px;
  float: left;
  margin: 9px 0 0 11px;
  width: 109px;
}

.wrap-life .section_header .section_menu {
  float: right;
  font-size: 0;
  padding: 15px 5px 0 0;
}

.wrap-life .section_header .section_menu a {
  background: #b30f7f;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font: 700 18px/31px "Open Sans Condensed", sans-serif;
  height: 30px;
  margin: 0 3px 0 0;
  padding: 0 8px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

.wrap-life .section_header .section_menu a:hover {
  background: #85135e;
}

.news-wrap {
  background: #fff;
  border-bottom: 1px solid #ddd;
  font-size: 0;
  position: relative;
}

.news-wrap.wrap-tb {
  border-top: 1px solid #ddd;
}

.news-wrap.wrap-grey {
  background: #eee;
}

.news-wrap.subsection {
  border-top: 1px solid #ddd;
  /*
        .wrap &:last-child {
            border-bottom: 0;
        }
*/
}

.wrap .news-wrap.subsection:first-child {
  border-top: 0;
}

.wrap .news-wrap.subsection + .news-wrap.subsection {
  border-top: 0;
}

.news-wrap.wrap-postr {
  background: #eee;
}

.news-wrap.wrap-life {
  background: #e9e0e6;
}

.news-wrap:not(.wrap-100):not(.wrap-25-25-25-25):before, .news-wrap:not(.wrap-25-25-25-25):not(.wrap-100):not(.wrap-75-25):not(.wrap-25-75):not(.wrap-58-42):not(.wrap-42-58):not(.wrap-67-33):not(.wrap-33-67):not(.subsection):after {
  content: '';
  display: block;
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
}

.news-wrap:before, .news-wrap:after {
  background: #ddd;
}

.news-wrap.wrap-life {
  background: #e9e0e6;
  z-index: initial !important;
}

.news-wrap.wrap-life:before, .news-wrap.wrap-life:after {
  background: #dbc9d5;
}

.wrap-75-25:before {
  right: 249px;
}

.wrap-25-75:before {
  left: 249px;
}

.wrap-67-33:before {
  right: 333px;
}

.wrap-33-67:before {
  left: 333px;
}

.wrap-58-42:before {
  right: 416px;
}

.wrap-42-58:before {
  left: 416px;
}

.wrap-50-25-25:before {
  left: 500px;
}

.wrap-50-25-25:after {
  right: 249px;
}

.wrap-25-25-50:before {
  left: 249px;
}

.wrap-25-25-50:after {
  right: 500px;
}

.wrap-42-33-25:before {
  left: 416px;
}

.wrap-42-33-25:after {
  right: 249px;
}

.wrap-42-25-33:before {
  left: 416px;
}

.wrap-42-25-33:after {
  right: 333px;
}

.wrap-33-42-25:before {
  left: 333px;
}

.wrap-33-42-25:after {
  right: 249px;
}

.wrap-33-25-42:before {
  left: 333px;
}

.wrap-33-25-42:after {
  right: 416px;
}

.wrap-33-33-33:before {
  left: 333px;
}

.wrap-33-33-33:after {
  right: 333px;
}

.wrap-25-42-33:before {
  left: 249px;
}

.wrap-25-42-33:after {
  right: 333px;
}

.wrap-25-33-42:before {
  left: 249px;
}

.wrap-25-33-42:after {
  right: 416px;
}

.wrap-50-25:before {
  right: 249px;
}

.wrap-25-50:before {
  left: 249px;
}

.wrap-42-33:before {
  right: 333px;
}

.wrap-33-42:before {
  left: 333px;
}

.wrap-42-25:before {
  right: 249px;
}

.wrap-25-42:before {
  left: 249px;
}

.wrap-33-33:before {
  left: 333px;
}

.wrap-33-25:before {
  right: 249px;
}

.wrap-25-33:before {
  left: 249px;
}

.wrap {
  display: inline-block;
  margin: 0 1px 0 0;
  vertical-align: top;
}

.news-wrap > .wrap:last-of-type {
  margin: 0;
}

.coltype-100 {
  width: 1000px;
}

.coltype-75 {
  width: 750px;
}

.coltype-67 {
  width: 666px;
}

.coltype-58 {
  width: 583px;
}

.coltype-50 {
  width: 500px;
}

.coltype-42 {
  width: 416px;
}

.coltype-33 {
  width: 333px;
  /*
    .wrap-33-33-33 > &:last-of-type {
        width: 332px;
    }
    */
}

.wrap-33-33-33 .coltype-33:nth-child(2) {
  margin: 0;
}

.wrap-33-33 > .coltype-33:last-of-type {
  width: 332px;
}

.coltype-25 {
  width: 249px;
}

.wrap-25-25-25-25 .coltype-25 {
  margin: 0;
  width: 250px;
}

.eb-2016-line-right, .eb-2016-line-left {
  background: #eee;
}

.eb-2016-line-right .news-wrap, .eb-2016-line-left .news-wrap {
  background: #eee;
}

#master {
  background: #eb4d2a;
  box-sizing: border-box;
  display: none;
  height: 44px;
  margin: 0 0 0 -1px;
  padding: 12px 0;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  width: 1002px;
}

#master:hover {
  background: #bf0000;
}

#master #master-link {
  color: #fff;
  font: 600 20px/1 "Source Sans Pro", sans-serif;
}

#master #master-close {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  height: 22px;
  width: 22px;
  position: absolute;
  top: 11px;
  right: 18px;
}

#master #master-close:after {
  color: #eb4d2a;
  content: "d";
  font-size: 20px;
  transition: color .3s ease-in-out;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 22px;
  font-smoothing: antialiased;
}

#master:hover {
  background: #bf0000;
}

#master:hover #master-close {
  background: white;
}

#master:hover #master-close:after {
  color: #bf0000;
}

.news-item {
  padding: 12px 12px 0;
  position: relative;
}

.wrap-25-25-25-25 .news-item {
  padding: 12px;
}

.coltype-25 .news-item:not(.related):not(.mega-item):not(.top-item):not(.rates):last-child,
.coltype-33 .news-item:not(.related):not(.mega-item):not(.top-item):not(.rates):last-child {
  padding: 12px 12px 9px;
}

.news-item img {
  display: block;
}

.news-item .news-item-image {
  display: block;
  position: relative;
}

.news-item .news-title {
  color: #222;
  font: 600 20px/23px "Source Sans Pro", sans-serif;
  letter-spacing: -0.2px;
  transition: color .3s ease-in-out;
}

.news-wrap .coltype-58 .news-item .news-title, .news-wrap .coltype-67 .news-item .news-title, .news-wrap .coltype-75 .news-item .news-title {
  font-size: 26px;
  line-height: 31px;
}

.news-wrap .coltype-42 .news-item .news-title, .news-wrap .coltype-50 .news-item .news-title {
  font-size: 25px;
  line-height: 30px;
}

.news-wrap .coltype-25 .news-item .news-title, .news-wrap .coltype-33 .news-item .news-title {
  font-size: 20px;
  line-height: 23px;
}

.news-item .news-title:hover {
  color: #155092;
}

.wrap-25-25-25-25 .news-item .news-title {
  font-size: 17px;
  line-height: 20px;
}

.wrap-life .news-item .news-title, .wrap-postr .news-item .news-title {
  font: 700 20px/26px "Open Sans", sans-serif;
}

.news-wrap.wrap-life .coltype-58 .news-item .news-title, .news-wrap.wrap-life .coltype-67 .news-item .news-title, .news-wrap.wrap-life .coltype-75 .news-item .news-title, .news-wrap.wrap-postr .coltype-58 .news-item .news-title, .news-wrap.wrap-postr .coltype-67 .news-item .news-title, .news-wrap.wrap-postr .coltype-75 .news-item .news-title {
  font-size: 24px;
  line-height: 30px;
}

.news-wrap.wrap-life .coltype-42 .news-item .news-title, .news-wrap.wrap-life .coltype-50 .news-item .news-title, .news-wrap.wrap-postr .coltype-42 .news-item .news-title, .news-wrap.wrap-postr .coltype-50 .news-item .news-title {
  font-size: 25px;
  line-height: 35px;
}

.news-wrap.wrap-life .coltype-25 .news-item .news-title, .news-wrap.wrap-life .coltype-33 .news-item .news-title, .news-wrap.wrap-postr .coltype-25 .news-item .news-title, .news-wrap.wrap-postr .coltype-33 .news-item .news-title {
  font-size: 20px;
  line-height: 26px;
}

.news-wrap .coltype-50 .news-item.has-image .news-title, .news-wrap .coltype-58 .news-item.has-image .news-title, .news-wrap .coltype-67 .news-item.has-image .news-title, .news-wrap .coltype-75 .news-item.has-image .news-title {
  font-size: 38px;
  line-height: 45px;
}

.news-wrap .coltype-42 .news-item.has-image .news-title {
  font-size: 26px;
  line-height: 31px;
}

.news-wrap .coltype-25 .news-item.has-image .news-title, .news-wrap .coltype-33 .news-item.has-image .news-title {
  font-size: 20px;
  line-height: 23px;
}

.wrap-life .news-item.has-image .news-title, .wrap-postr .news-item.has-image .news-title {
  font: 700 20px/26px "Open Sans", sans-serif;
}

.news-wrap.wrap-life .coltype-100 .news-item.has-image .news-title, .news-wrap.wrap-postr .coltype-100 .news-item.has-image .news-title {
  font-size: 34px;
  line-height: 40px;
}

.news-wrap.wrap-life .coltype-50 .news-item.has-image .news-title, .news-wrap.wrap-life .coltype-58 .news-item.has-image .news-title, .news-wrap.wrap-life .coltype-67 .news-item.has-image .news-title, .news-wrap.wrap-life .coltype-75 .news-item.has-image .news-title, .news-wrap.wrap-postr .coltype-50 .news-item.has-image .news-title, .news-wrap.wrap-postr .coltype-58 .news-item.has-image .news-title, .news-wrap.wrap-postr .coltype-67 .news-item.has-image .news-title, .news-wrap.wrap-postr .coltype-75 .news-item.has-image .news-title {
  font-size: 33px;
  line-height: 43px;
}

.news-wrap.wrap-life .coltype-42 .news-item.has-image .news-title, .news-wrap.wrap-postr .coltype-42 .news-item.has-image .news-title {
  font-size: 26px;
  line-height: 35px;
}

.news-wrap.wrap-life .coltype-25 .news-item.has-image .news-title, .news-wrap.wrap-life .coltype-33 .news-item.has-image .news-title, .news-wrap.wrap-postr .coltype-25 .news-item.has-image .news-title, .news-wrap.wrap-postr .coltype-33 .news-item.has-image .news-title {
  font-size: 20px;
  line-height: 26px;
}

.news-item .news-item-image:hover + .news-text-block .news-title {
  color: #155092;
}

.wrap-uzlet .news-item .news-item-image:hover + .news-text-block .news-title, .wrap-uzlet .news-item .news-title:hover {
  color: #07cadb;
}

.wrap-inv .news-item .news-item-image:hover + .news-text-block .news-title, .wrap-inv .news-item .news-title:hover {
  color: #40c96f;
}

.wrap-postr .news-item .news-item-image:hover + .news-text-block .news-title, .wrap-postr .news-item .news-title:hover {
  color: #90143c;
}

.wrap-life .news-item .news-item-image:hover + .news-text-block .news-title, .wrap-life .news-item .news-title:hover {
  color: #85135e;
}

#sections .news-wrap:first-child .coltype-50 > .news-item:first-child .news-title,
#sections .news-wrap:first-child .coltype-58 > .news-item:first-child .news-title,
#sections .news-wrap:first-child .coltype-67 > .news-item:first-child .news-title,
#sections .news-wrap:first-child .coltype-75 > .news-item:first-child .news-title {
  font-weight: 700;
}

.wrap:not(.coltype-100) .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block {
  position: relative;
}

.wrap:not(.coltype-100) .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block h2 {
  overflow-y: hidden;
  padding: 2px 0 0;
}

.wrap-life .wrap:not(.coltype-100) .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block h2, .wrap-postr .wrap:not(.coltype-100) .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block h2 {
  padding: 1px 0 0;
}

.wrap:not(.coltype-100) .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block .news-title {
  background: #fff;
  box-decoration-break: clone;
  box-shadow: -10px 0 0 #fff, 10px 0 0 #fff;
}

.wrap-postr .wrap:not(.coltype-100) .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block .news-title {
  background: #eee;
  box-shadow: -10px 0 0 #eee, 10px 0 0 #eee;
}

.wrap-life .wrap:not(.coltype-100) .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block .news-title {
  background: #e9e0e6;
  box-shadow: -10px 0 0 #e9e0e6, 10px 0 0 #e9e0e6;
}

.eb-2016-line-right.wrap:not(.coltype-100) .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block .news-title,
.eb-2016-line-left.wrap:not(.coltype-100) .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block .news-title {
  background: #eee;
  box-decoration-break: clone;
  box-shadow: -10px 0 0 #eee, 10px 0 0 #eee;
}

.coltype-50 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .coltype-58 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .coltype-67 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .coltype-75 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block {
  margin: -38px 12px 0 0;
}

.news-wrap .coltype-42 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block {
  margin: -28px 12px 0 0;
}

.news-wrap .coltype-25 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .news-wrap .coltype-33 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block {
  margin: -22px 12px 0 0;
}

.wrap-25-25-25-25 .coltype-25 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block {
  margin: 0;
}

.news-wrap.wrap-life .coltype-50 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .news-wrap.wrap-life .coltype-58 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .news-wrap.wrap-life .coltype-67 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .news-wrap.wrap-life .coltype-75 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .news-wrap.wrap-postr .coltype-50 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .news-wrap.wrap-postr .coltype-58 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .news-wrap.wrap-postr .coltype-67 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .news-wrap.wrap-postr .coltype-75 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block {
  margin: -44px 12px 0 0;
}

.news-wrap.wrap-life .coltype-42 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .news-wrap.wrap-postr .coltype-42 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block {
  margin: -32px 12px 0 0;
}

.news-wrap.wrap-life .coltype-25 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .news-wrap.wrap-life .coltype-33 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .news-wrap.wrap-postr .coltype-25 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .news-wrap.wrap-postr .coltype-33 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block {
  margin: -22px 12px 0 0;
}

.wrap-25-25-25-25.wrap-life .coltype-25 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block, .wrap-25-25-25-25.wrap-postr .coltype-25 .news-item.has-image:not(.top-item):not(.mega-item) .news-text-block {
  margin: 0;
}

.news-item.has-image .sub-comment {
  margin: -20px 0 0;
  position: absolute;
}

.news-item .news-lead {
  font: 400 16px/20px "Noticia Text", serif;
  padding: 2px 0 3px;
}

.wrap-25-25-25-25 .news-item .news-lead {
  display: none;
}

.wrap-life .news-item .news-lead, .wrap-postr .news-item .news-lead {
  font: 400 16px/20px "Open Sans", sans-serif !important;
}

.coltype-100 .news-item {
  padding: 12px;
}

.coltype-100 .news-item .news-text-block {
  background: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  max-width: 600px;
  padding: 12px;
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.coltype-100 .news-item .news-title {
  font: 700 38px/1 "Source Sans Pro", sans-serif;
}

.coltype-100 .news-item .news-lead {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 0 0;
}

.news-item .subtitle {
  color: #fff;
  display: inline-block;
  font: 700 14px/21px "Roboto Condensed", sans-serif;
  height: 20px;
  padding: 0 4px;
  text-transform: uppercase;
  vertical-align: top;
}

.news-item .subtitle a {
  color: #fff;
}

.news-item .subtitle.subinv {
  background: #155092;
}

.wrap-uzlet .news-item .subtitle.subinv {
  background: #01aab9;
}

.wrap-inv .news-item .subtitle.subinv {
  background: #0d7138;
}

.wrap-postr .news-item .subtitle.subinv {
  background: #ef2263;
}

.wrap-life .news-item .subtitle.subinv {
  background: #b30f7f;
}

.news-item .subtitle.subinv:hover {
  background: #0d3058;
}

.wrap-uzlet .news-item .subtitle.subinv:hover {
  background: #07cadb;
}

.wrap-inv .news-item .subtitle.subinv:hover {
  background: #40c96f;
}

.wrap-postr .news-item .subtitle.subinv:hover {
  background: #90143c;
}

.wrap-life .news-item .subtitle.subinv:hover {
  background: #85135e;
}

.news-item .subtitle.face {
  background: #999;
  line-height: 20px;
}

.news-item .subtitle.face:before {
  border-right: 1px solid #fff;
  content: "<";
  display: inline-block;
  font-size: 12px;
  height: 20px;
  margin: 0 4px 0 0;
  padding: 0 4px 0 0;
  vertical-align: top;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 20px;
  font-smoothing: antialiased;
}

.news-item.news-item.style_life .subtitle.subinv {
  background: #b30f7f;
}

.news-item.news-item.style_life .subtitle.subinv:hover {
  background: #85135e;
}

.news-item.news-item.style_life:not(.mega-item):not(.top-item) .news-title:hover {
  color: #85135e;
}

.news-item.news-item.style_life:not(.mega-item):not(.top-item):hover .news-title {
  color: #85135e;
}

.news-item.news-item.style_uzletresz .subtitle.subinv {
  background: #01aab9;
}

.news-item.news-item.style_uzletresz .subtitle.subinv:hover {
  background: #07cadb;
}

.news-item.news-item.style_uzletresz:not(.mega-item):not(.top-item) .news-title:hover {
  color: #07cadb;
}

.news-item.news-item.style_uzletresz:not(.mega-item):not(.top-item):hover .news-title {
  color: #07cadb;
}

.news-item.news-item.style_investor .subtitle.subinv {
  background: #0d7138;
}

.news-item.news-item.style_investor .subtitle.subinv:hover {
  background: #40c96f;
}

.news-item.news-item.style_investor:not(.mega-item):not(.top-item) .news-title:hover {
  color: #40c96f;
}

.news-item.news-item.style_investor:not(.mega-item):not(.top-item):hover .news-title {
  color: #40c96f;
}

.news-item.news-item.style_she .subtitle.subinv {
  background: #ed1846;
}

.news-item.news-item.style_she .subtitle.subinv:hover {
  background: #b71f38;
}

.news-item.news-item.style_she:not(.mega-item):not(.top-item) .news-title:hover {
  color: #b71f38;
}

.news-item.news-item.style_she:not(.mega-item):not(.top-item):hover .news-title {
  color: #b71f38;
}

.news-item.news-item.style_reblog .subtitle.subinv {
  background: #ef2263;
}

.news-item.news-item.style_reblog .subtitle.subinv:hover {
  background: #90143c;
}

.news-item.news-item.style_reblog:not(.mega-item):not(.top-item) .news-title:hover {
  color: #90143c;
}

.news-item.news-item.style_reblog:not(.mega-item):not(.top-item):hover .news-title {
  color: #90143c;
}

.news-item.news-item.style_gphirek .subtitle.subinv {
  background: #000;
}

.news-item.news-item.style_gphirek .subtitle.subinv:hover {
  background: #000;
}

.news-item.news-item.style_gphirek:not(.mega-item):not(.top-item) .news-title:hover {
  color: #000;
}

.news-item.news-item.style_gphirek:not(.mega-item):not(.top-item):hover .news-title {
  color: #000;
}

.news-item.news-item.style_welovebudapest .subtitle.subinv {
  background: #eb2227;
}

.news-item.news-item.style_welovebudapest .subtitle.subinv:hover {
  background: #eb2227;
}

.news-item.news-item.style_welovebudapest:not(.mega-item):not(.top-item) .news-title:hover {
  color: #eb2227;
}

.news-item.news-item.style_welovebudapest:not(.mega-item):not(.top-item):hover .news-title {
  color: #eb2227;
}

.news-item.news-item.style_welovebalaton .subtitle.subinv {
  background: #0fafc7;
}

.news-item.news-item.style_welovebalaton .subtitle.subinv:hover {
  background: #0fafc7;
}

.news-item.news-item.style_welovebalaton:not(.mega-item):not(.top-item) .news-title:hover {
  color: #0fafc7;
}

.news-item.news-item.style_welovebalaton:not(.mega-item):not(.top-item):hover .news-title {
  color: #0fafc7;
}

.news-item.news-item.style_szivderito .subtitle.subinv {
  background: #2f8287;
}

.news-item.news-item.style_szivderito .subtitle.subinv:hover {
  background: #1c6c71;
}

.news-item.news-item.style_szivderito:not(.mega-item):not(.top-item) .news-title:hover {
  color: #1c6c71;
}

.news-item.news-item.style_szivderito:not(.mega-item):not(.top-item):hover .news-title {
  color: #1c6c71;
}

.news-item.news-item.style_unikornis .subtitle.subinv {
  background: #ff6b6b;
}

.news-item.news-item.style_unikornis .subtitle.subinv:hover {
  background: #ea4b4b;
}

.news-item.news-item.style_unikornis:not(.mega-item):not(.top-item) .news-title:hover {
  color: #ea4b4b;
}

.news-item.news-item.style_unikornis:not(.mega-item):not(.top-item):hover .news-title {
  color: #ea4b4b;
}

.news-item.news-item-pr {
  background: #dddddd;
}

.news-item.news-item-pr .subtitle.subinv {
  background: #27bd77;
}

.news-item.news-item-pr .subtitle.subinv:hover {
  background: #209961;
}

.news-item.news-item-pr .news-title {
  background: #dddddd !important;
  box-shadow: -10px 0 0 #dddddd, 10px 0 0 #dddddd !important;
}

.news-item.news-item-pr:after {
  color: #666666;
  content: 'hirdet\00e9s';
  display: table;
  font: 400 10px/24px "Roboto Condensed", sans-serif;
  height: 24px;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 100%;
  text-align: right;
}

.news-item.related {
  margin: 6px 12px 4px 12px;
  padding: 0 0 0 18px;
}

.coltype-50 .news-item.related .news-title, .coltype-58 .news-item.related .news-title, .coltype-67 .news-item.related .news-title, .coltype-75 .news-item.related .news-title {
  font-size: 26px;
  line-height: 31px;
}

.coltype-25 .news-item.related .news-title, .coltype-33 .news-item.related .news-title, .coltype-42 .news-item.related .news-title {
  font-size: 20px;
  line-height: 23px;
}

.news-item.related:before {
  color: #999;
  content: "O";
  font-size: 14px;
  position: absolute;
  top: 3px;
  left: 0;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
}

.coltype-50 .news-item.related:before, .coltype-58 .news-item.related:before, .coltype-67 .news-item.related:before, .coltype-75 .news-item.related:before {
  top: 7px;
}

.coltype-42 .news-item.related:before {
  top: 4px;
}

.coltype-25 .news-item.related:before, .coltype-33 .news-item.related:before {
  top: 3px;
}

.news-item.mega-item {
  margin: 0 6px;
}

.coltype-42 .news-item.mega-item, .coltype-50 .news-item.mega-item, .coltype-67 .news-item.mega-item, .coltype-75 .news-item.mega-item {
  padding: 16px 12px 0;
}

.coltype-25 .news-item.mega-item, .coltype-33 .news-item.mega-item {
  padding: 16px 12px 10px;
}

.news-item.mega-item .news-title {
  background: #155092;
  box-decoration-break: clone;
  box-shadow: -6px 0 0 #155092, 6px 0 0 #155092;
  color: #fff;
  padding: 2px 0 0;
  text-transform: uppercase;
  transition: background .3s ease-in-out, box-shadow .3s ease-in-out;
}

.coltype-67 .news-item.mega-item .news-title, .coltype-75 .news-item.mega-item .news-title {
  font-size: 32px;
  line-height: 34px;
}

.coltype-42 .news-item.mega-item .news-title, .coltype-50 .news-item.mega-item .news-title {
  font-size: 29px;
  line-height: 33px;
}

.coltype-25 .news-item.mega-item .news-title, .coltype-33 .news-item.mega-item .news-title {
  font-size: 23px;
  line-height: 26px;
}

.wrap-postr .news-item.mega-item .news-title {
  line-height: 33px;
}

.wrap-postr .coltype-58 .news-item.mega-item .news-title, .wrap-postr .coltype-67 .news-item.mega-item .news-title, .wrap-postr .coltype-75 .news-item.mega-item .news-title {
  font-size: 27px;
  line-height: 33px;
}

.wrap-postr .coltype-42 .news-item.mega-item .news-title, .wrap-postr .coltype-50 .news-item.mega-item .news-title {
  font-size: 24px;
  line-height: 30px;
}

.wrap-postr .coltype-25 .news-item.mega-item .news-title, .wrap-postr .coltype-33 .news-item.mega-item .news-title {
  font-size: 23px;
  line-height: 28px;
}

.wrap-life .news-item.mega-item .news-title {
  font: 300 31px/40px "Open Sans Condensed", sans-serif;
}

.wrap-life .coltype-58 .news-item.mega-item .news-title, .wrap-life .coltype-67 .news-item.mega-item .news-title, .wrap-life .coltype-75 .news-item.mega-item .news-title {
  font-size: 34px;
  line-height: 42px;
}

.wrap-life .coltype-42 .news-item.mega-item .news-title, .wrap-life .coltype-50 .news-item.mega-item .news-title {
  font-size: 31px;
  line-height: 40px;
}

.wrap-life .coltype-25 .news-item.mega-item .news-title, .wrap-life .coltype-33 .news-item.mega-item .news-title {
  font-size: 31px;
  line-height: 40px;
}

.wrap-uzlet .news-item.mega-item .news-title {
  background: #01aab9;
  box-shadow: -6px 0 0 #01aab9, 6px 0 0 #01aab9;
}

.wrap-inv .news-item.mega-item .news-title {
  background: #0d7138;
  box-shadow: -6px 0 0 #0d7138, 6px 0 0 #0d7138;
}

.wrap-postr .news-item.mega-item .news-title {
  background: #ef2263;
  box-shadow: -6px 0 0 #ef2263, 6px 0 0 #ef2263;
}

.wrap-life .news-item.mega-item .news-title {
  background: #b30f7f;
  box-shadow: -6px 0 0 #b30f7f, 6px 0 0 #b30f7f;
}

.news-item.mega-item .news-title:hover {
  background: #0d3058;
  box-shadow: -6px 0 0 #0d3058, 6px 0 0 #0d3058;
  color: #fff;
}

.wrap-uzlet .news-item.mega-item .news-title:hover {
  background: #07cadb;
  box-shadow: -6px 0 0 #07cadb, 6px 0 0 #07cadb;
}

.wrap-inv .news-item.mega-item .news-title:hover {
  background: #40c96f;
  box-shadow: -6px 0 0 #40c96f, 6px 0 0 #40c96f;
}

.wrap-postr .news-item.mega-item .news-title:hover {
  background: #90143c;
  box-shadow: -6px 0 0 #90143c, 6px 0 0 #90143c;
}

.wrap-life .news-item.mega-item .news-title:hover {
  background: #85135e;
  box-shadow: -6px 0 0 #85135e, 6px 0 0 #85135e;
}

.news-item.top-item:not(.live-box) {
  background: #eee;
  border-left: 3px solid #155092;
  padding: 6px 10px 3px 10px;
  margin: 12px 12px 0;
}

.wrap-uzlet .news-item.top-item:not(.live-box) {
  border-color: #01aab9;
}

.wrap-inv .news-item.top-item:not(.live-box) {
  border-color: #0d7138;
}

.wrap-postr .news-item.top-item:not(.live-box) {
  border-color: #ef2263;
}

.wrap-life .news-item.top-item:not(.live-box) {
  border-color: #b30f7f;
}

.news-item.top-item:not(.live-box):hover {
  border-color: #0d3058;
}

.wrap-uzlet .news-item.top-item:not(.live-box):hover {
  border-color: #07cadb;
}

.wrap-inv .news-item.top-item:not(.live-box):hover {
  border-color: #40c96f;
}

.wrap-postr .news-item.top-item:not(.live-box):hover {
  border-color: #90143c;
}

.wrap-life .news-item.top-item:not(.live-box):hover {
  border-color: #85135e;
}

.wrap-life .news-item.top-item:not(.live-box) {
  background: none;
}

.news-item.top-item:not(.live-box) .news-title {
  color: #155092;
  text-transform: uppercase;
}

.coltype-58 .news-item.top-item:not(.live-box) .news-title, .coltype-67 .news-item.top-item:not(.live-box) .news-title, .coltype-75 .news-item.top-item:not(.live-box) .news-title {
  font-size: 34px;
  line-height: 34px;
}

.coltype-42 .news-item.top-item:not(.live-box) .news-title, .coltype-50 .news-item.top-item:not(.live-box) .news-title {
  font-size: 29px;
  line-height: 33px;
}

.coltype-25 .news-item.top-item:not(.live-box) .news-title, .coltype-33 .news-item.top-item:not(.live-box) .news-title {
  font-size: 23px;
  line-height: 28px;
}

.wrap-postr .coltype-58 .news-item.top-item:not(.live-box) .news-title, .wrap-postr .coltype-67 .news-item.top-item:not(.live-box) .news-title, .wrap-postr .coltype-75 .news-item.top-item:not(.live-box) .news-title {
  font-size: 28px;
  line-height: 34px;
}

.wrap-postr .coltype-42 .news-item.top-item:not(.live-box) .news-title, .wrap-postr .coltype-50 .news-item.top-item:not(.live-box) .news-title {
  font-size: 27px;
  line-height: 31px;
}

.wrap-postr .coltype-25 .news-item.top-item:not(.live-box) .news-title, .wrap-postr .coltype-33 .news-item.top-item:not(.live-box) .news-title {
  font-size: 23px;
  line-height: 26px;
}

.wrap-life .news-item.top-item:not(.live-box) .news-title {
  font: 300 31px/36px "Open Sans Condensed", sans-serif;
}

.wrap-life .coltype-58 .news-item.top-item:not(.live-box) .news-title, .wrap-life .coltype-67 .news-item.top-item:not(.live-box) .news-title, .wrap-life .coltype-75 .news-item.top-item:not(.live-box) .news-title {
  font-size: 34px;
  line-height: 37px;
}

.wrap-life .coltype-42 .news-item.top-item:not(.live-box) .news-title, .wrap-life .coltype-50 .news-item.top-item:not(.live-box) .news-title {
  font-size: 31px;
  line-height: 36px;
}

.wrap-life .coltype-25 .news-item.top-item:not(.live-box) .news-title, .wrap-life .coltype-33 .news-item.top-item:not(.live-box) .news-title {
  font-size: 31px;
  line-height: 36px;
}

.wrap-uzlet .news-item.top-item:not(.live-box) .news-title {
  color: #01aab9;
}

.wrap-inv .news-item.top-item:not(.live-box) .news-title {
  color: #0d7138;
}

.wrap-postr .news-item.top-item:not(.live-box) .news-title {
  color: #ef2263;
}

.wrap-life .news-item.top-item:not(.live-box) .news-title {
  color: #b30f7f;
}

.news-item.top-item:not(.live-box) .news-title:hover {
  color: #0d3058;
}

.wrap-uzlet .news-item.top-item:not(.live-box) .news-title:hover {
  color: #07cadb;
}

.wrap-inv .news-item.top-item:not(.live-box) .news-title:hover {
  color: #40c96f;
}

.wrap-postr .news-item.top-item:not(.live-box) .news-title:hover {
  color: #90143c;
}

.wrap-life .news-item.top-item:not(.live-box) .news-title:hover {
  color: #85135e;
}

.news-item.related img, .news-item.mega-item img, .news-item.top-item:not(.live-box) img {
  display: none;
}

.news-item.related .news-lead, .news-item.mega-item .news-lead, .news-item.top-item:not(.live-box) .news-lead {
  display: none;
}

.news-item.related .sub-comment, .news-item.mega-item .sub-comment, .news-item.top-item:not(.live-box) .sub-comment {
  display: none;
}

.coltype-100 .news-item .sub-comment {
  display: none;
}

.news-item.exkluziv.has-image .news-item-image:after {
  background: url(/s/img/svg/origo/exkluziv.svg) 0 0/100% no-repeat;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.coltype-25 .news-item.exkluziv.has-image .news-item-image:after {
  width: 25%;
}

.coltype-33 .news-item.exkluziv.has-image .news-item-image:after {
  width: 19%;
}

.coltype-42 .news-item.exkluziv.has-image .news-item-image:after {
  width: 17%;
}

.coltype-50 .news-item.exkluziv.has-image .news-item-image:after {
  width: 16%;
}

.coltype-58 .news-item.exkluziv.has-image .news-item-image:after {
  width: 15%;
}

.coltype-67 .news-item.exkluziv.has-image .news-item-image:after {
  width: 13%;
}

.news-item.exkluziv.has-image .news-item-image:after .coltype-75 {
  width: 12%;
}

.news-item.round.has-image img {
  border-radius: 50%;
}

.news-item.rates {
  background: #eee;
  margin: 12px 0 0;
  padding: 10px;
}

.news-item.rates h3 {
  padding: 0 0 10px;
}

.news-item.rates h3 a {
  color: #0d7138;
  font: 600 23px/1 "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}

.news-item.rates h3 a:hover {
  color: #40c96f;
}

.news-item.rates .rates-in {
  font-size: 0;
  text-align: center;
}

.news-item.rates .rates-in .rate-db {
  background: #d4d4d4;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px 0 0;
  vertical-align: top;
  width: 97px;
}

.news-item.rates .rates-in .rate-db:last-child {
  margin: 0;
}

.news-item.rates .rates-in .rate-db .rate-name {
  display: block;
  font: 400 16px "Source Sans Pro", sans-serif;
  position: relative;
}

.news-item.rates .rates-in .rate-db .rate-name:after {
  font-size: 9px;
  position: absolute;
  top: 5px;
  right: 7px;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
}

.news-item.rates .rates-in .rate-db .rate-name.rate-down:after {
  color: #e21b23;
  content: "T";
}

.news-item.rates .rates-in .rate-db .rate-name.rate-up:after {
  color: #00b156;
  content: "R";
}

.news-item.rates .rates-in .rate-db .rate-num {
  background: #fff;
  display: block;
  font: 700 14px "Roboto Condensed", sans-serif;
}

.news-item.video.has-image .news-item-image:after {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  content: "V";
  display: block;
  height: 32px;
  font-size: 29px;
  width: 32px;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
  position: absolute;
  top: 10px;
  left: 10px;
}

.news-item.so-item .so_datas {
  background: #b4db48;
  height: 40px;
  width: 100%;
}

.news-item.so-item .so_picto {
  display: none;
}

.news-item.so-item.so-is-live .so_picto {
  background: #e8183a url(http://static.origos.hu/s/img/cimlap2013/so_live.gif) 50% 50% no-repeat;
  background-size: 40px 40px;
  display: block;
  height: 40px;
  float: left;
  width: 40px;
}

.news-item.so-item .so_teams {
  display: block;
}

.news-item.so-item.so-is-live .so_teams {
  margin: 0 0 0 40px;
}

.news-item.so-item .team_1_holder, .news-item.so-item .team_2_holder {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.news-item.so-item .team_2_holder {
  text-align: right;
}

.news-item.so-item .team_1_name, .news-item.so-item .team_2_name {
  font: 700 17px/40px "Roboto Condensed", sans-serif;
  margin: 0 12px;
  text-transform: uppercase;
}

.news-item.so-item .team_1_score, .news-item.so-item .team_2_score {
  background: #222;
  color: #fff;
  border-radius: 2px;
  height: 26px;
  font: 700 16px/26px "Roboto Condensed", sans-serif;
  text-align: center;
  width: 26px;
}

.news-item.so-item .team_1_score {
  float: right;
  margin: 7px 4px 0 0;
}

.news-item.so-item .team_2_score {
  float: left;
  margin: 7px 0 0 4px;
}

.news-item.so-item:not(.has-image) .news-text-block {
  background: #222;
  padding: 11px;
}

.news-item.so-item:not(.has-image) .news-title {
  color: #b4db48;
  text-transform: uppercase;
}

.news-item.so-item:not(.has-image) .news-title:hover {
  color: #94b43d;
}

.news-item.so-item:not(.has-image) .news-lead {
  color: #b4db48;
}

.coltype-100 .news-item.so-item .news-text-block {
  min-width: 476px;
}

.coltype-100 .news-item.so-item .so_datas {
  height: 50px;
  position: absolute;
  top: -50px;
  left: 0;
}

.coltype-100 .news-item.so-item .team_1_name, .coltype-100 .news-item.so-item .team_2_name {
  font: 700 20px/50px "Roboto Condensed", sans-serif;
}

.coltype-100 .news-item.so-item .team_1_score, .coltype-100 .news-item.so-item .team_2_score {
  height: 34px;
  font: 700 23px/34px "Roboto Condensed", sans-serif;
  width: 34px;
}

.coltype-100 .news-item.so-item .team_1_score {
  margin: 8px 4px 0 0;
}

.coltype-100 .news-item.so-item .team_2_score {
  margin: 8px 0 0 4px;
}

.coltype-100 .news-item.so-is-live .so_picto {
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}

.coltype-100 .news-item.so-is-live .so_teams {
  margin: 0 0 0 50px;
}

.news-item.news-live.has-image .news-item-image:before {
  background: #155092;
  box-sizing: border-box;
  color: #fff;
  content: '\00e9l\0151';
  display: block;
  font: 700 23px/24px "Roboto Condensed", sans-serif;
  height: 29px;
  padding: 4px 0;
  text-align: center;
  text-transform: uppercase;
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
}

.coltype-25 .news-item.live-box,
.coltype-33 .news-item.live-box,
.coltype-42 .news-item.live-box {
  background: #eee;
  border-left: 3px solid #155092;
  margin: 12px 12px 0;
  padding: 10px;
}

.coltype-25 .news-item.live-box .news-item-image,
.coltype-33 .news-item.live-box .news-item-image,
.coltype-42 .news-item.live-box .news-item-image {
  display: none;
}

.coltype-25 .news-item.live-box .news-title,
.coltype-33 .news-item.live-box .news-title,
.coltype-42 .news-item.live-box .news-title {
  color: #155092;
  font: 600 23px/25px "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}

.coltype-25 .news-item.live-box .news-title:hover,
.coltype-33 .news-item.live-box .news-title:hover,
.coltype-42 .news-item.live-box .news-title:hover {
  color: #0d3058;
}

.coltype-25 .news-item.live-box .news-title:hover:before,
.coltype-33 .news-item.live-box .news-title:hover:before,
.coltype-42 .news-item.live-box .news-title:hover:before {
  background: #0d3058;
}

.coltype-25 .news-item.live-box .news-title:before,
.coltype-33 .news-item.live-box .news-title:before,
.coltype-42 .news-item.live-box .news-title:before {
  background: #155092;
  box-sizing: border-box;
  color: #fff;
  content: '\00e9l\0151';
  display: inline-block;
  font: 700 23px/26px "Roboto Condensed", sans-serif;
  height: 29px;
  margin: 0 6px 0 0;
  padding: 4px 0;
  text-align: center;
  text-transform: uppercase;
  transition: background .3s ease-in-out;
  width: 45px;
}

.coltype-25 .news-item.live-box .seed-box,
.coltype-33 .news-item.live-box .seed-box,
.coltype-42 .news-item.live-box .seed-box {
  background: #eee;
}

.coltype-25 .news-item.live-box .seed-box li,
.coltype-33 .news-item.live-box .seed-box li,
.coltype-42 .news-item.live-box .seed-box li {
  padding: 10px 0 0;
}

.coltype-25 .news-item.live-box .seed-box li span,
.coltype-33 .news-item.live-box .seed-box li span,
.coltype-42 .news-item.live-box .seed-box li span {
  background: #d4d4d4;
  color: #155092;
  font: 700 14px "Roboto Condensed", sans-serif;
  margin: 0 6px 0 0;
  padding: 0 3px;
}

.coltype-25 .news-item.live-box .seed-box li a,
.coltype-33 .news-item.live-box .seed-box li a,
.coltype-42 .news-item.live-box .seed-box li a {
  color: #222;
  font: 400 16px/20px "Source Sans Pro", sans-serif;
}

.coltype-25 .news-item.live-box .seed-box li a:hover,
.coltype-33 .news-item.live-box .seed-box li a:hover,
.coltype-42 .news-item.live-box .seed-box li a:hover {
  color: #155092;
}

.coltype-25 .news-item.live-box.top-item,
.coltype-33 .news-item.live-box.top-item,
.coltype-42 .news-item.live-box.top-item {
  border-color: #eb4d2a;
}

.coltype-25 .news-item.live-box.top-item .news-title,
.coltype-33 .news-item.live-box.top-item .news-title,
.coltype-42 .news-item.live-box.top-item .news-title {
  color: #eb4d2a;
}

.coltype-25 .news-item.live-box.top-item .news-title:hover,
.coltype-33 .news-item.live-box.top-item .news-title:hover,
.coltype-42 .news-item.live-box.top-item .news-title:hover {
  color: #bf0000;
}

.coltype-25 .news-item.live-box.top-item .news-title:hover:before,
.coltype-33 .news-item.live-box.top-item .news-title:hover:before,
.coltype-42 .news-item.live-box.top-item .news-title:hover:before {
  background: #bf0000;
}

.coltype-25 .news-item.live-box.top-item .news-title:before,
.coltype-33 .news-item.live-box.top-item .news-title:before,
.coltype-42 .news-item.live-box.top-item .news-title:before {
  background: #eb4d2a;
}

.coltype-25 .news-item.live-box.top-item .seed-box li span,
.coltype-33 .news-item.live-box.top-item .seed-box li span,
.coltype-42 .news-item.live-box.top-item .seed-box li span {
  color: #eb4d2a;
}

.coltype-25 .news-item.live-box.top-item .seed-box li a:hover,
.coltype-33 .news-item.live-box.top-item .seed-box li a:hover,
.coltype-42 .news-item.live-box.top-item .seed-box li a:hover {
  color: #bf0000;
}

.coltype-42 .news-item.live-box .news-title {
  font-size: 32px;
  line-height: 34px;
}

.coltype-50 .news-item.has-image.live-box .seed-box,
.coltype-58 .news-item.has-image.live-box .seed-box,
.coltype-67 .news-item.has-image.live-box .seed-box,
.coltype-75 .news-item.has-image.live-box .seed-box {
  margin: -38px 12px 0 0;
  padding: 0 0 12px;
  position: relative;
}

.coltype-50 .news-item.has-image.live-box h2,
.coltype-58 .news-item.has-image.live-box h2,
.coltype-67 .news-item.has-image.live-box h2,
.coltype-75 .news-item.has-image.live-box h2 {
  overflow-y: hidden;
  padding: 2px 0 0;
}

.coltype-50 .news-item.has-image.live-box .news-title,
.coltype-58 .news-item.has-image.live-box .news-title,
.coltype-67 .news-item.has-image.live-box .news-title,
.coltype-75 .news-item.has-image.live-box .news-title {
  background: #fff;
  box-decoration-break: clone;
  box-shadow: -10px 0 0 #fff, 10px 0 0 #fff;
}

.coltype-50 .news-item.has-image.live-box .news-item-image:hover + .seed-box .news-title,
.coltype-58 .news-item.has-image.live-box .news-item-image:hover + .seed-box .news-title,
.coltype-67 .news-item.has-image.live-box .news-item-image:hover + .seed-box .news-title,
.coltype-75 .news-item.has-image.live-box .news-item-image:hover + .seed-box .news-title {
  color: #155092;
}

.coltype-50 .news-item.has-image.live-box .seed-box li,
.coltype-58 .news-item.has-image.live-box .seed-box li,
.coltype-67 .news-item.has-image.live-box .seed-box li,
.coltype-75 .news-item.has-image.live-box .seed-box li {
  padding: 10px 0 0;
}

.coltype-50 .news-item.has-image.live-box .seed-box li span,
.coltype-58 .news-item.has-image.live-box .seed-box li span,
.coltype-67 .news-item.has-image.live-box .seed-box li span,
.coltype-75 .news-item.has-image.live-box .seed-box li span {
  background: #d4d4d4;
  color: #155092;
  font: 700 14px "Roboto Condensed", sans-serif;
  margin: 0 6px 0 0;
  padding: 0 3px;
}

.coltype-50 .news-item.has-image.live-box .seed-box li a,
.coltype-58 .news-item.has-image.live-box .seed-box li a,
.coltype-67 .news-item.has-image.live-box .seed-box li a,
.coltype-75 .news-item.has-image.live-box .seed-box li a {
  color: #222;
  font: 400 16px/20px "Source Sans Pro", sans-serif;
}

.coltype-50 .news-item.has-image.live-box .seed-box li a:hover,
.coltype-58 .news-item.has-image.live-box .seed-box li a:hover,
.coltype-67 .news-item.has-image.live-box .seed-box li a:hover,
.coltype-75 .news-item.has-image.live-box .seed-box li a:hover {
  color: #155092;
}

.coltype-100 .news-item.has-image.live-box .news-item-image:hover + .seed-box .news-title {
  color: #155092;
}

.coltype-100 .news-item.has-image.live-box .seed-box {
  background: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  max-width: 430px;
  padding: 12px;
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.coltype-100 .news-item.has-image.live-box .seed-box li {
  padding: 10px 0 0;
}

.coltype-100 .news-item.has-image.live-box .seed-box li span {
  background: #d4d4d4;
  color: #155092;
  font: 700 14px "Roboto Condensed", sans-serif;
  margin: 0 6px 0 0;
  padding: 0 3px;
}

.coltype-100 .news-item.has-image.live-box .seed-box li a {
  color: #222;
  font: 400 16px/20px "Source Sans Pro", sans-serif;
}

.coltype-100 .news-item.has-image.live-box .seed-box li a:hover {
  color: #155092;
}

.news-item.live-box .seed-title {
  display: none;
}

* html .mixed-news-box .jspCorner {
  margin: 0 -3px 0 0;
}

.news-box-content .news-popular.fiveface li span {
  width: 54px;
}

#article-side #verticalAccorditionBox {
  border: 1px solid #ddd;
  margin: 0 12px 16px;
}

.mixed-news-box .jspContainer {
  overflow: hidden;
  position: relative;
}

.mixed-news-box .jspPane {
  position: absolute;
}

.mixed-news-box .jspVerticalBar {
  height: 100%;
  width: 4px;
  position: absolute;
  top: 0;
  right: 4px;
}

.mixed-news-box .jspCap {
  display: none;
}

.mixed-news-box .jspTrack {
  background: #fff;
  position: relative;
}

.mixed-news-box .jspDrag {
  background: #f2f2f2;
  cursor: pointer;
  left: 0;
  position: relative;
  top: 0;
}

.mixed-news-box .jspArrow {
  background: #50506d;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  text-indent: -20000px;
}

.mixed-news-box .jspArrow.jspDisabled {
  background: #80808d;
  cursor: default;
}

.mixed-news-box .jspHorizontalBar .jspArrow {
  float: left;
  height: 100%;
  width: 16px;
}

.mixed-news-box .jspVerticalBar .jspArrow {
  height: 16px;
}

.mixed-news-box .jspVerticalBar .jspArrow:focus {
  outline: none;
}

.mixed-news-box .jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

.news-box-content .vab_tab {
  background: #f2f2f2;
  border-top: 1px solid #ddd;
  color: #000;
  cursor: pointer;
  font: 500 14px "Roboto", sans-serif;
  padding: 8px 0 8px 12px;
  text-transform: uppercase;
}

.news-box-content .vab_tab:before {
  content: "E";
  display: inline-block;
  font-size: 11px;
  margin: 5px 5px 0 0;
  vertical-align: top;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
}

.news-box-content .vab_tab.akt {
  background: #b4db48;
  cursor: default;
}

.news-box-content .vab_tab.akt:before {
  content: "F";
}

.news-box-content .vab_tab:hover {
  background: #b4db48;
}

.news-box-content div:first-child {
  border-top: 0;
}

.news-box-content .content {
  overflow: hidden;
}

.news-box-content .content:hover .jspDrag {
  background: #cdcdcd;
}

.news-box-content .content li a {
  display: block;
  font: 400 16px "Source Sans Pro", sans-serif;
  padding: 6px 12px;
  transition: all .3s ease-in-out;
}

.news-box-content .content li a:hover {
  background: #f2f2f2;
}

.news-box-content .content span {
  background: #b4db48;
  display: inline-block;
  font: 700 14px/1 "Roboto Condensed", sans-serif;
  margin: 0 6px 0 0;
  padding: 2px 6px;
}

.news-box-content .news-read li span {
  min-width: 18px;
  text-align: center;
}

.news-box-content .news-popular li span {
  height: 16px;
  line-height: 16px;
  padding: 0 3px 0 0;
  text-align: left;
  width: 54px;
}

.news-box-content .news-popular li span:before {
  border-right: 1px solid #fff;
  box-sizing: border-box;
  content: "<";
  display: inline-block;
  height: 16px;
  font-size: 11px;
  margin: 0 3px 0 0;
  text-align: center;
  vertical-align: top;
  width: 16px;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 16px;
  font-smoothing: antialiased;
}

.news-box-content a.news-box-read-more {
  background: #cdcdcd;
  color: #747474;
  display: block;
  font: 500 12px/30px "Roboto", sans-serif;
  height: 30px;
  margin: 10px auto;
  text-align: center;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  width: 140px;
}

.news-box-content a.news-box-read-more:hover {
  background: #b4db48;
  color: #222;
}

#prior3Contents .p3Header {
  font: 700 20px/30px "Roboto", sans-serif;
  color: #155092;
  background: #eeeeee;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: center;
}

#prior3Contents .p3Contents {
  height: 0px;
  overflow: hidden;
}

#prior3Contents .p3Contents ul {
  padding-left: 12px;
  padding-right: 6px;
}

#prior3Contents .p3Contents li {
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0px;
  overflow: hidden;
}

#prior3Contents .p3Contents li:before {
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
  content: "e";
  color: #155092;
  font-size: 10px;
  display: block;
  float: left;
  padding-top: 5px;
}

#prior3Contents .p3Contents li a {
  color: #222222;
  font: 600 19px "Source Sans Pro", sans-serif;
  line-height: 22px;
  display: block;
  padding-left: 14px;
}

#prior3Contents .p3Contents li a:hover {
  color: #155092;
}

#prior3Contents .jspHorizontalBar {
  display: none;
}

#prior3Contents .jspContainer {
  overflow: hidden;
  position: relative;
}

#prior3Contents .jspPane {
  position: absolute;
}

#prior3Contents .jspVerticalBar {
  width: 6px;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
}

#prior3Contents .jspCap {
  display: none;
}

#prior3Contents .jspTrack {
  background: #fff;
  position: relative;
}

#prior3Contents .jspDrag {
  /*background: #b2b2b2;*/
  background: #d4d4d4;
  cursor: pointer;
  border-radius: 3px;
  left: 0;
  position: relative;
  top: 0;
  transition: background-color .3s ease-in-out;
}

#prior3Contents:hover .jspDrag {
  background: #b2b2b2;
}

#prior3Contents .jspArrow {
  background: #50506d;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  text-indent: -20000px;
}

#prior3Contents .jspArrow.jspDisabled {
  background: #80808d;
  cursor: default;
}

#prior3Contents .jspHorizontalBar .jspArrow {
  float: left;
  height: 100%;
  width: 16px;
}

#prior3Contents .jspVerticalBar .jspArrow {
  height: 16px;
}

#prior3Contents .jspVerticalBar .jspArrow:focus {
  outline: none;
}

#prior3Contents .jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

.goAdverticum3-interstitial.goAdverticum3-interstitial-layer {
  background: transparent !important;
  padding: 0 !important;
  height: auto !important;
  width: auto !important;
}

.goAdverticum3-interstitial.goAdverticum3-interstitial-layer .goAdverticum3-interstitial-container {
  line-height: 0;
}

.goAdverticum3-interstitial.goAdverticum3-interstitial-layer .goAdverticum3-interstitial-container > a {
  display: block;
}

.goAdverticum3-interstitial.goAdverticum3-interstitial-layer .goAdverticum3-interstitial-container:after {
  color: #222;
  background: #d5d5d5;
  content: 'hirdet\00e9s';
  display: block;
  font: 400 10px/24px "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

.goAdverticum3-interstitial.goAdverticum3-interstitial-layer .goAdverticum3-interstitial-next a {
  background-image: url("http://static.origos.hu/s/img/kozos/interstitial_button_origo.png");
  display: block;
  height: 34px !important;
  font-size: 0 !important;
  float: right;
  line-height: 0 !important;
  margin: 42px 0 0 0 !important;
  padding: 0 !important;
  width: 215px !important;
}

.goaM {
  display: inline-block !important;
}

.goaM:after {
  content: 'hirdet\00e9s';
  display: inline-block !important;
  height: 24px;
  font: 400 10px/1 "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
}

body:not(.szponz-wp) .goaM:after {
  color: #222;
  transform: rotate(90deg);
  position: absolute;
  top: 42.4%;
  right: -8px;
}

#magnum:empty {
  display: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .szponz-wp {
    background-position: 49.999% 36px !important;
  }
}

.szponz-wp #main {
  border: 0;
  width: 1002px;
}

.szponz-wp #magnum {
  min-height: 124px !important;
  padding: 0 !important;
}

.szponz-wp #nav {
  margin: 0;
}

.szponz-wp #header, .szponz-wp #sections, .szponz-wp #branded-sections, .szponz-wp .rovat-content, .szponz-wp #breadcrumb, .szponz-wp .spar, .szponz-wp .ecom-footer, .szponz-wp #footer {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#szponz-cont {
  margin: 0 auto;
  position: relative;
  width: 1002px;
}

.goaWrap {
  text-align: center;
}

.wrap-100 .goaWrap {
  padding: 12px 0;
}

.lebego > .goaWrap:first-child, .lebego > .goaWrap:first-child, .lebego + .goaWrap {
  padding: 8px 0 8px 0px;
}

.news-item + .goaWrap {
  padding: 12px 0 0;
}

.goaWrap.beforeKomment {
  float: left;
  margin: 0 1px 0 0;
  width: 666px;
}

.article-fw .goaWrap.beforeKomment {
  float: none;
  margin: 0;
  width: 100%;
}

#bannercon .goaWrap {
  padding: 16px 0 0;
}

#bannercon .goaWrap:only-child {
  padding: 16px 0;
}

.lebego {
  /*
    .goaWrap + .goaWrap {
        padding: 16px 0 0;
    }
/**/
}

.lebego .goaBg {
  margin: 16px 0 0;
}

.goaBg {
  background: #d5d5d5;
  display: inline-block;
  line-height: 0;
  text-align: center;
}

.goaBg:not(.rollingZone) {
  height: initial !important;
}

.goaBg:after {
  background: #d5d5d5;
  color: #222;
  content: 'hirdet\00e9s';
  display: table;
  font: 400 10px/24px "Roboto Condensed", sans-serif;
  height: 24px;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 100%;
}

.goaBg.rollingZone:after {
  position: absolute;
  bottom: 0;
}

.goaBg.advert_cikkozi:not(.rollingZone) {
  margin: 0 13px;
}

#article-side .goaBg {
  margin: 0 0 16px;
}

.beforeKomment .goaBg {
  margin: 0 0 12px;
}

.spar-item .goaBg {
  margin: 25px 0 0;
}

.lead-alatti {
  border: 1px solid #ddd;
  margin: 0 11px 30px;
  width: 642px;
}

.lead-alatti:hover {
  background: #eee;
}

.lead-alatti:after {
  clear: both;
  color: #808080;
  content: 'hirdet\00e9s';
  display: block;
  font: 400 10px "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  margin: 0 3px 1px 0;
  text-align: right;
}

.lead-alatti div {
  margin: 12px 12px 0;
}

.lead-alatti .szolg-url {
  color: #f15a24;
  display: block;
  font: 700 16px/20px "Source Sans Pro", sans-serif;
}

.lead-alatti .linkurl {
  color: #000;
  font: 400 11px/20px "Open Sans", sans-serif;
}

.ecom-footer {
  background: #fff;
  font-size: 0;
  text-align: center;
}

.ecom-footer .goaWrap {
  display: inline-block;
  vertical-align: top;
}

.ecom-footer .goaWrap:nth-child(-n+3) .goaBg {
  margin: 25px 0 0;
}

.ecom-footer .goaWrap:nth-child(2) .goaBg {
  margin: 25px 25px 0;
}

.ecom-footer .goaWrap:nth-child(n+4) .goaBg {
  margin: 25px 0;
}

.ecom-footer .goaWrap:nth-child(5) .goaBg {
  margin: 25px;
}

.frontpage-sticky {
  margin: 0 0 0 -124px;
  position: fixed;
  top: 193px;
}

.news-wrap > .wrap .ad.cimlapi_pr_zona_temp {
  padding: 10px 11px;
}

.cimlapi_pr_zona {
  display: block;
  border: 1px solid #dfdfdf;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  color: #999999;
  background: #ffffff;
  width: 308px;
  min-height: 210px;
}

.cimlapi_pr_zona span {
  text-align: left;
}

.cimlapi_pr_zona:hover {
  color: #999999;
  text-decoration: none;
  background-color: #eee;
}

.cimlapi_pr_zona .cimlapi_pr_zona_text_con {
  display: block;
  position: relative;
  margin-top: -17px;
  text-align: left;
  line-height: 24.1806px;
}

.cimlapi_pr_zona img {
  display: block;
  width: 308px !important;
  border: 0px;
}

.cimlapi_pr_zona .cimlapi_pr_zona_title_1 {
  background-color: #fff;
  box-shadow: -10px 0 0 #fff, 10px 0 0 #fff;
  display: inline;
  padding-top: 1px;
}

.cimlapi_pr_zona:hover .cimlapi_pr_zona_title_1 {
  background-color: #eee;
  box-shadow: -10px 0 0 #eee, 10px 0 0 #eee;
}

.cimlapi_pr_zona .cimlapi_pr_zona_title_2 {
  display: block;
}

.cimlapi_pr_zona .cimlapi_pr_zona_title_1, .cimlapi_pr_zona .cimlapi_pr_zona_title_2 {
  line-height: 22px;
  font-weight: 600;
  font-size: 19.984px;
  margin: 0px 10px 0px 10px;
  letter-spacing: -0.2px;
}

.cimlapi_pr_zona_lead {
  font-family: 'Noticia Text', Georgia, sans-serif;
  display: block;
  min-height: 45px;
  font-size: 16px !important;
  line-height: 21px !important;
  padding: 3px 10px 8px 10px;
}

.pr-item {
  height: 80px;
  padding: 10px 11px 5px;
  position: relative;
}

.pr-item:hover {
  background: #ddd;
}

.pr-item:after {
  color: #222;
  content: 'hirdet\00e9s';
  display: block;
  font: 400 10px "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.pr-item .subtitle a {
  background: #ef2263;
  color: #fff;
  display: inline-block;
  font: 700 14px/21px "Roboto Condensed", sans-serif;
  height: 20px;
  padding: 0 4px;
  text-transform: uppercase;
}

.pr-item a {
  color: #8f8f8f;
  font: 400 16px "Source Sans Pro", sans-serif;
}

.pr-item a.szolg-url {
  display: block;
  padding: 0 0 3px;
}

.pr-item a.linkurl {
  font-size: 14px;
}

.pr-item h4 a {
  color: #8f8f8f;
  font: 700 20px "Source Sans Pro", sans-serif;
}

.pr-item p {
  color: #8f8f8f;
  font: 400 16px "Source Sans Pro", sans-serif;
}

.pr-zones .goaPr {
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 0 12px 16px;
}

.pr-zones .goaPr > div {
  overflow: hidden;
  padding: 8px 11px 5px;
}

.pr-zones .goaPr > div:after {
  color: #808080;
  content: 'hirdet\00e9s';
  float: right;
  font: 400 10px "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
}

.pr-zones .goaPr .pr-adbox-title {
  border-bottom: 1px solid #ddd;
  margin: 0 -11px 8px;
  padding: 0 0 8px;
}

.pr-zones .goaPr .pr-adbox-title:after {
  clear: both;
  content: '';
  display: table;
}

.pr-zones .goaPr .pr-adbox-title a {
  float: right;
  margin: 0 11px 0 0;
}

.pr-zones .goaPr .pr-adbox-title a img {
  display: block;
  height: 30px;
}

.pr-zones .goaPr a {
  color: #f15a24;
  display: block;
  font: 700 16px/20px "Source Sans Pro", sans-serif;
}

.img-zones .goaImg {
  border: 1px solid #ddd;
  border-bottom: 0;
  margin: 0 12px;
}

.img-zones .goaImg:last-child {
  border: 1px solid #ddd;
  margin: 0 12px 16px;
}

.img-zones .szolg-jobb {
  color: #222;
  display: block;
  font: 400 12px "Open Sans", sans-serif;
  overflow: hidden;
  padding: 8px 11px 5px;
}

.img-zones .szolg-jobb:after {
  clear: both;
  color: #808080;
  content: 'hirdet\00e9s';
  float: right;
  font: 400 10px "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
}

.img-zones .szolg-jobb:hover {
  background: #eee;
}

.img-zones .szolg-jobb .ad-widget-pic {
  float: left;
  margin: 3px 9px 0 0;
  width: 120px;
}

.img-zones .szolg-jobb .ad-widget-title {
  color: #f15a24;
  display: block;
  font: 700 16px/20px "Source Sans Pro", sans-serif;
}

.img-zones .szolg-jobb .linkurl {
  color: #000;
  float: right;
  width: 156px;
}

.txt-zones .goaTxt {
  border: 1px solid #ddd;
  border-bottom: 0;
  margin: 0 12px;
}

.txt-zones .goaTxt:last-child {
  border: 1px solid #ddd;
  margin: 0 12px 16px;
}

.txt-zones .goaTxt div {
  overflow: hidden;
  padding: 8px 11px 5px;
}

.txt-zones .goaTxt div:after {
  color: #808080;
  content: 'hirdet\00e9s';
  display: block;
  font: 400 10px "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  text-align: right;
}

.txt-zones .goaTxt div:hover {
  background: #eee;
}

.txt-zones .szolg-url {
  color: #f15a24;
  display: block;
  font: 700 16px/20px "Source Sans Pro", sans-serif;
}

.txt-zones .linkurl {
  color: #000;
  font: 400 11px/20px "Open Sans", sans-serif;
}

#cikkalatti {
  border-top: 1px solid #ddd;
  font-size: 0;
  text-align: center;
}

#cikkalatti .cikkalatti {
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: inline-block;
  height: 116px;
  margin: 11px;
  padding: 11px;
  text-align: left;
  vertical-align: top;
  width: 309px;
}

#cikkalatti .cikkalatti:empty {
  display: none;
}

#cikkalatti .cikkalatti:after {
  color: #808080;
  content: 'hirdet\00e9s';
  display: block;
  font: 400 10px "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  text-align: right;
}

#cikkalatti .cikkalatti:hover {
  background: #eee;
}

#cikkalatti .cikkalatti .szolg-url {
  color: #f15a24;
  display: block;
  font: 700 16px/20px "Source Sans Pro", sans-serif;
}

#cikkalatti .cikkalatti .linkurl {
  color: #000;
  font: 400 11px/20px "Open Sans", sans-serif;
}

.spar {
  background: #fff;
  text-align: center;
}

.spar .spar-item {
  float: left;
  width: 50%;
}

.gravity_box {
  height: 250px;
  width: 300px;
}

.ecom_iframe {
  height: 250px !important;
  overflow: hidden;
  width: 300px !important;
}

.ecom_iframe_title {
  display: none;
}

.ecom_item {
  box-sizing: border-box;
  height: 250px;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.ecom_item img {
  height: auto !important;
  width: 300px !important;
}

.ecom_item a, .ecom_item a:hover {
  color: #fff;
  text-decoration: none;
}

.ecom_item .ecom_badge {
  background: rgba(255, 84, 0, 0.9);
  color: #fff;
  font: 700 23px/1 "Roboto Condensed", sans-serif;
  overflow: hidden;
  text-align: center;
  transform: rotate(-45deg);
  white-space: nowrap;
  position: absolute;
  top: 7px;
  left: -71px;
}

.ecom_item .ecom_badge span {
  display: block;
  padding: 4px 68px;
  text-shadow: 1px 1px 0 rgba(19, 18, 21, 0.25);
}

.ecom_item .ecom_badge span:empty {
  display: none;
}

.ecom_item .ecom_datas {
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.ecom_item .ecom_price {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: block;
  font: 700 20px "Roboto Condensed", sans-serif;
  padding: 0 0 2px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(19, 18, 21, 0.25);
}

.ecom_item .ecom_price:empty {
  display: none;
}

.ecom_item .ecom_desc {
  background: #5d5d5d;
  color: #fff;
  font: 400 16px/18px "Source Sans Pro", sans-serif;
  padding: 2px 12px 5px;
  text-align: center;
}

.ecom_item .ecom_desc .ecom_title {
  display: block;
  font: 600 20px/22px "Source Sans Pro", sans-serif;
  text-transform: none;
}

#foot-logo {
  background: url("http://static.origos.hu/s/20130610/img/cimlap2013/footer-sprite-2014.png") 0 0 no-repeat;
}

#foot-logo:hover {
  background-position: 0 -567px;
}

#footer {
  background: #5d5d5d;
}

#footer #foot-left {
  border-right: 1px solid #4b4b4b;
  float: left;
  padding: 33px 0;
  text-align: center;
  width: 36%;
}

#footer #foot-left #foot-logo {
  display: block;
  height: 72px;
  margin: 0 auto 25px;
  width: 182px;
}

#footer #foot-left p {
  color: #787878;
  font: 400 14px "Roboto", sans-serif;
}

#footer #foot-center {
  float: left;
  width: 48%;
}

#footer #foot-center ul {
  margin: 0 0 0 65px;
}

#footer #foot-center ul li {
  display: inline-block;
  margin: 15px 0 0;
  width: 195px;
}

#footer #foot-center a {
  color: #787878;
  display: inline-block;
  font: 700 16px "Roboto", sans-serif;
}

#footer #foot-center a:hover:before {
  color: #155092;
}

#footer #foot-center a:before {
  display: inline-block;
  font-size: 45px;
  margin: 0 20px 0 0;
  vertical-align: middle;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
}

#footer #foot-center a#foot-irjon:before {
  content: "k";
}

#footer #foot-center a#foot-platform:before {
  content: "%";
}

#footer #foot-center a#foot-archiv:before {
  content: "c";
}

#footer #foot-center a#foot-cimkek:before {
  content: "h";
}

#footer #foot-center a#foot-hirdess:before {
  content: "3";
}

#footer #foot-center a#foot-hl:before {
  content: "4";
}

#footer #foot-center a:hover {
  color: #fff;
}

#footer #foot-right {
  float: left;
  font-size: 0;
  width: 15%;
}

#footer #foot-right p {
  color: #787878;
  font: 700 16px/1 "Roboto", sans-serif;
  padding: 25px 0 14px;
}

#footer #foot-right:hover p, #footer #foot-right:hover a {
  color: #fff;
}

#footer #foot-right a {
  color: #787878;
  display: inline-block;
  height: 46px;
  text-align: center;
  vertical-align: top;
  width: 46px;
}

#footer #foot-right a:hover {
  color: #fff;
}

#footer #foot-right a:before {
  font-size: 30px;
  font-family: "origo-pure-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 46px;
  font-smoothing: antialiased;
}

#footer #foot-right a.fb:before {
  content: "<";
}

#footer #foot-right a.tw:before {
  content: "X";
}

#footer #foot-right a.rss:before {
  content: ":";
}

#footer #foot-right a.fb:hover {
  background: #3b5998;
}

#footer #foot-right a.tw:hover {
  background: #55acee;
}

#footer #foot-right a.rss:hover {
  background: #f26522;
}

#footer .foot-end {
  border-top: 1px solid #4b4b4b;
  font-size: 0;
  padding: 11px;
  text-align: center;
}

#footer .foot-end a {
  color: #787878;
  font: 400 14px "Roboto", sans-serif;
}

#footer .foot-end a:after {
  color: #787878;
  content: '|';
  font-size: 12px;
  display: inline-block;
  margin: 0 8px;
}

#footer .foot-end a:after:hover {
  color: #787878;
}

#footer .foot-end a:last-child:after {
  content: '';
  display: none;
}

#footer .foot-end a:hover {
  color: #fff;
}
