@charset "UTF-8";
/*
-------------------------------------------------------------------------------------------------------
ヘッダー
*/
/*
header内のリストとh1のマージン初期化
*/
header ul, header h1, header ol {
  margin: 0; }

/**
ヘッダの最低サイズ
*/
header {
  overflow: hidden;
  min-width: 970px; }

/*
ロゴ横にサイトの説明を並べるための定義
*/
header h1 {
  float: left; }

/**
ロゴを囲うリンク領域の定義
*/
#monorate_title_img_link {
  text-decoration: none;
  float: left; }

/*
ヘッダーサイトマップ
*/
.site_menu_list {
  float: right;
  line-height: 3em;
  height: 3em; }

/*
ヘッダーサイトマップの個別リンク領域
*/
.site_menu_content {
  float: left; }

/*
ヘッダーサイトマップの個別リンクの文言領域
*/
.site_menu_title {
  margin-right: 0.5em; }

/**
サイトロゴイメージ
*/
#t_img {
  margin: 0 2em; }

/**
商品検索領域
*/
#search_area {
  margin: 0;
  color: #fff;
  background-color: #e8ecef;
  min-width: 970px;
  padding: 0.5em; }

/*
横位置の中央寄せ定義
*/
header, main, #search_area > div {
  margin-left: auto;
  margin-right: auto; }

/*
検索入力エリアの横幅
*/
#_item_search_inp {
  width: 55%;
  height: 34px;
  line-height: 34px; }

/*
検索実行ボタン
*/
#_graph_search_btn {
  line-height: 34px;
  height: 34px;
  text-shadow: none;
  margin-left: -42px;
  border-top: 1px solid #456480;
  padding: 0 7px 0 5px;
  box-shadow: none;
  /* font-size: 12px; */
  font-weight: 700;
  border-bottom: 2px solid #456480; }

/*
検索用語入力削除ボタン
*/
#clear_btn {
  position: relative;
  right: 42px;
  top: 5px;
  cursor: pointer; }

/*
検索ワードのジャンル指定セレクト
*/
.select {
  padding: 0 .5em;
  height: 2.5em;
  margin-top: .5em;
  line-height: 2.5em; }

/*
ヘッダー　ここまで
-------------------------------------------------------------------------------------------------------
*/

@charset "UTF-8";
/*
-------------------------------------------------------------------------------------------------------
フッター　ここまで
*/
/*
フッター領域
*/
footer {
  overflow: hidden;
  clear: both; }

/*
todo 何の定義か不明
*/
.ad > a {
  text-shadow: none; }

/*
バナー表示領域
*/
.banners {
  line-height: 2em;
  width: 94%;
  height: 60px; }

/*
フッタ サイトマップ領域
*/
footer #site_map {
  width: 1024px;
  margin: auto;
  padding: 1em;
  overflow: hidden; }

/**
サイトロゴとサイト説明エリア
*/
.site_description_area {
  width: 300px;
  color: white;
  margin: 0 auto; }

/**
サイトロゴのラッパ
*/
.site_name_img_area {
  text-align: center;
  margin: 0.5em 0; }

/**
サイトの説明のラッパ
*/
.site_description_content_area {
  text-align: center;
  margin: 0.5em 0; }
  .site_description_content_area p {
    margin: 0; }

/*
フッタサイトマップリンクのリスト
*/
#site_map > ul {
  list-style: none;
  display: inherit; }

/*
フッタサイトマップのリンク領域
*/
footer #site_map .site_map_list li {
  float: left;
  width: 18%;
  margin-left: 1%; }

/*
コピーライト表示部
*/
#site_copyright {
  margin: 1em auto; }

footer #site_copyright table {
  margin: auto;
  color: white; }

/*
フッター　ここまで
-------------------------------------------------------------------------------------------------------
*/

@charset "UTF-8";
/**
打消しマージン用
*/
._no_margin {
  margin: 0; }

/*
ボタン関係エフェクト
ボタンのホバー時はテキストに黒味を入れる
*/
[type=button]:hover, [type=submit]:hover {
  text-shadow: 1px 1px 5px black; }

/*
tspan 以外の全定義
文字サイズと利用する文字形態を指定
*/
*:not(tspan) {
  font-size: 14px;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  box-sizing: border-box; }

/**
メインタグ定義
*/
main {
  overflow: hidden; }

/*
ulとolはインラインフレックスで表示
todo インラインフレックス表示できないbrowserあるので、調整
*/
ul, ol {
  padding: 0; }

/*
テキストとナンバーのInputは高さとフォントサイズを多めにとる
*/
[type="text"], [type="number"] {
  line-height: 1.7em;
  height: 1.7em;
  font-size: 1.2em;
  padding: 0 0.5em; }

/*
メインコンテンツの表示サイズ
*/
#main_contents {
  float: left;
  margin: 14px;
  width: 67%; }

button, ._submit {
  border: none;
  text-align: center; }

/**
サイト内のリンクをオリジナルで書き換える場合
*/
.original_link, .original_link:visited {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none; }

.original_link, .original_link:visited {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none; }

/*
最終的に970でmainは固定
*/
@media (max-width: 1024px) {
  body > main {
    margin-top: 0%;
    min-width: 1024px; } }
#main_contents {
  min-width: 680px; }

/*
サイト内の外部リンク
*/
.external_link::after {
  margin-left: .2em;
  content: url("../img/link/external_link_blue.png"); }

.external_btn_link::after {
  content: url("../img/link/external_link_white.png"); }

/**
ページのトップへ戻るボタン
*/
#page_to_top {
  position: fixed;
  right: 2px;
  bottom: 2px;
  line-height: 2.4em;
  font-size: 12px;
  padding: .5em;
  color: #fff;
  background-color: rgba(225, 146, 0, 0.64);
  cursor: pointer; }

/*
文字を強調したい場合
*/
._markup_bold {
  font-weight: 700; }

._strong {
  font-weight: 700; }

/*

sectionごとのマージン定義
*/
section {
  margin-top: 1em; }

/*
商品検索フォームの中央寄せ
*/
#_item_search_form {
  text-align: center; }

/*
メインコンテンツ
*/
body > main {
  margin-top: 0%; }

/*
パン屑リスと
*/
#breadcrumb_list_area {
  margin: 1em; }

/**
todo 何の定義か不明
*/
[name=category] {
  width: 25%;
  line-height: 2.5em;
  height: 2.5em; }

/**
----------------------------------------------------------------------------------
todo 何の定義か不明
*/
.outer_link_list {
  margin: .5em 0;
  overflow: hidden;
  width: 100%; }

.outer_link_list li {
  text-align: center;
  float: left;
  width: 24%;
  font-size: 1em;
  cursor: pointer;
  margin-left: 1px;
  min-height: 2em;
  font-weight: 700; }

.outer_link_list li:hover {
  text-shadow: 1px 1px 5px #000; }

.item_link_btns {
  margin: 1em 0; }

.item_detail > dl > dd:first-child {
  float: none; }

.item_btn_margin {
  height: -6px; }

.hiddens {
  visibility: hidden; }

.menu_icon_img {
  float: right;
  right: 0;
  width: 28px; }

/**
----------------------------------------------------------------------------------
*/
/*
todo 何の定義か不明
*/
.center {
  width: 99.9%;
  text-align: center; }

/*
todo 多分旧トップページ

*/
#hot_item_list_template {
  display: none; }

#hot_item_list {
  overflow: hidden;
  margin-bottom: 0;
  min-height: 130px; }

#hot_item_area {
  min-height: 180px; }

#hot_item_area {
  width: 99%; }

/**
todo 何の定義か不明
*/
._item_box_tag_title_list {
  display: block;
  overflow: hidden;
  margin: 0; }

._item_box_tag_title_list > li {
  float: left;
  padding: .5em 1em; }

/**
todo 何の定義か不明
*/
#_scm_left_btn {
  left: 0%;
  background-color: #456480;
  width: 49.99%;
  line-height: 3em;
  height: 3em;
  font-weight: bold; }

/**
todo 何の定義か不明
*/
#_scm_left_btn:hover {
  text-shadow: 1px 1px 5px black; }

/**
todo 何の定義か不明
*/
#_scm_right_btn {
  background-color: #456480;
  width: 49.99%;
  line-height: 3em;
  height: 3em;
  font-weight: bold;
  right: 0%; }

/**
todo 何の定義か不明
*/
#_scm_right_btn:hover {
  text-shadow: 1px 1px 5px black; }

/**
todo 何の定義か不明
*/
.text {
  position: absolute;
  top: 0;
  left: 0;
  border-left: solid #9fb0c4 2px;
  z-index: 10; }

/**
todo 何の定義か不明
*/
._toolTip_test {
  font-size: 10px; }

/*
ボタンの基本となる高さ
*/
._btn_size_style {
  line-height: 2.5em; }

/**
強調したい場合
fixme strong と重複してる
*/
._bold {
  font-weight: bold; }

/**
アニメーション関連
*/
@keyframes floaty {
  0% {
    height: 0px; }

  100% {
    height: 200px; } }
@keyframes dissolve {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
/**
リストスタイルは基本打ち消す
*/
#main_contents li, #main_contents ul {
  list-style: none;
  overflow: hidden; }

/**価格での再検索ボタン*/
._price_research {
  width: 4em; }

/**並び替えての再検索ボタン*/
._sort_order {
  width: 6em; }

/**並び替える条件のFormエリア*/
#paging_area {
  margin-top: 1em; }

._admax iframe img {
  min-height: 300px; }

/*ライトサイドバーのお知らせ統一デザイン*/
._news_date, ._news_contents {
  margin: 0.5em 0em;
  float: left; }

/*ライトサイドバーのお知らせの内容*/
._news_contents {
  width: 57%; }

/*ライトサイドバーのお知らせの年月日*/
._news_date {
  float: left;
  width: 30%;
  margin-left: 4%;
  clear: both;
  margin-bottom: 1em; }

._news_date img {
  width: 90%; }

aside {
  margin-top: 0.5em; }

#price_fluctuations_area .original_link {
  display: block; }

#left_side_bar > ul {
  display: inherit; }

#main_contents > ul {
  float: left;
  flex-flow: wrap;
  border-bottom: none; }

#main_contents > ul > li {
  border: solid 3px rgba(201, 198, 196, 0.2);
  box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.04);
  margin: 1em 1em; }

#main_contents > ul > li :last-of-type {
  border-bottom: none; }

#main_contents #item_list_template {
  display: none; }

/*　商品タイトル */
.title {
  font-size: 12px;
  font-weight: bolder; }

.left_side_bar .active_cat {
  color: #bf6614;
  text-shadow: 0px 0px 3px white,0px 0px 3px white; }

/*商品検索フォーム*/
#_item_search_form {
  /*検索のカテゴリセレクトサイズ*/
  /*検索のカテゴリセレクトサイズ*/ }

#_item_search_form select {
  max-width: 20%; }

/*ヘッダーのタイトル*/
header h1 {
  line-height: 3em; }

/**/
@media (max-width: 1032px) {
  header h1 {
    width: 40%;
    line-height: 1.5em; } }
/**
商品詳細、商品検索結果で商品の価格情報などを表示する個別エリア
*/
.item_conditions_data_box {
  margin-right: 0.5em;
  padding: 0.2em 0;
  line-height: 3em; }

/**
アマゾンのコンディションページへのリンクボタン
*/
._amazon_condition_link_btn_area {
  border-radius: 4%; }

.item_amazon_link {
  text-align: center; }
  .item_amazon_link a {
    text-decoration: none; }

table._hide {
  display: none; }

/* amazonアフリエイトリンクボタン */
a._amazon_af {
  background: #456480;
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  color: white;
  margin-left: 5px; }
  a._amazon_af > .condition_choice_btn {
    color: white; }

@charset "UTF-8";
main {
  margin-top: 1em; }

#price_fluctuations_area {
  width: 99%;
  overflow: hidden; }
  #price_fluctuations_area > #up_down_title {
    border: none; }
  #price_fluctuations_area > div {
    float: left; }
  #price_fluctuations_area > div {
    margin-top: 0.5em; }
    #price_fluctuations_area > div > dl dd {
      margin-left: 0;
      float: left;
      width: 46%;
      padding-left: 2%; }
    #price_fluctuations_area > div > dl dd:nth-child(odd) {
      border-left: #228b22 solid 3px;
      margin-left: 2%; }
    #price_fluctuations_area > div > dl dd:nth-child(even) {
      border-left: #FF6600 solid 3px;
      margin-left: -2%; }
    #price_fluctuations_area > div > dl dd:nth-child(1),
    #price_fluctuations_area > div > dl dd:nth-child(2) {
      border-left: none;
      margin-left: 0;
      padding-left: 0; }
    #price_fluctuations_area > div > dl dd:nth-child(1) {
      padding-left: 10px; }

#price_fluctuations_area section > * {
  clear: both; }

.under_banner {
  width: 49.5%; }

#amazon_banner001 {
  width: 728px;
  height: 92px; }

#hot_item_area {
  margin-bottom: 1em;
  width: 99%; }

.hot_item_title {
  color: #c83c0f;
  font-weight: bold;
  font-size: 1.3em;
  margin: 0;
  position: relative;
  z-index: 1000;
  padding: 0.3em 0; }

#hot_item_list ._hot_list_item {
  border-top: solid 3px #c83c0f;
  background-color: white;
  padding: 12px;
  margin: 0 12px;
  max-height: 235px;
  min-height: 235px; }
  #hot_item_list ._hot_list_item > a:first-child {
    max-height: 140px;
    min-height: 140px;
    overflow: hidden;
    display: block; }
    #hot_item_list ._hot_list_item > a:first-child > img {
      width: 100%; }

#release_log ul {
  min-height: 12em; }
#release_log ul, #release_log li {
  display: block;
  padding: 0 0.5em;
  margin: 0.5em 0.5em 0 0; }
#release_log > section {
  margin: 0.5em 0em;
  width: 99%; }

/*初めての方へ*/
#beginner {
  overflow: hidden;
  /* position: relative; */
  width: 100%; }
  #beginner #_beginner_list {
    display: inherit;
    height: 200px;
    position: relative;
    margin: 0;
    width: 80%; }
    #beginner #_beginner_list > li {
      width: 100%;
      padding: 1em;
      background-color: white;
      height: 200px;
      display: none; }
      #beginner #_beginner_list > li dd {
        margin: 0; }
      #beginner #_beginner_list > li dt {
        font-weight: bold; }
    #beginner #_beginner_list > li.active {
      display: block; }
  #beginner .bigger_contents {
    overflow: hidden;
    /* 初めての方 左画像*/ }
    #beginner .bigger_contents dt, #beginner .bigger_contents dd {
      float: left; }
    #beginner .bigger_contents dt {
      width: 21%; }
    #beginner .bigger_contents dd {
      width: 27%; }
    #beginner .bigger_contents dt > img {
      width: 100%; }
  #beginner ._float {
    float: left; }
  #beginner ._float {
    width: 20%; }
  #beginner ._float:last-child {
    width: 80%; }
  #beginner > div {
    /**初めての方へのメニューボタンリスト*/ }
    #beginner > div #_beginner_menu_list {
      display: block;
      overflow: hidden;
      margin: 0;
      width: 100%; }
      #beginner > div #_beginner_menu_list > li {
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        width: 100%;
        padding: 0 0.5em; }
      #beginner > div #_beginner_menu_list > li:first-child {
        margin: 0; }

#featuring {
  overflow: hidden;
  position: relative; }
  #featuring > ul {
    position: relative;
    left: 0;
    width: 300%;
    margin: 2em 1em;
    overflow-x: scroll; }
    #featuring > ul > li {
      width: 7%;
      display: inline-block;
      margin: 0 0.5em; }
  #featuring ul > li {
    float: left;
    list-style: none;
    width: 125px;
    height: 180px; }

.move_btn {
  width: 4%;
  top: 33%;
  line-height: 2em;
  height: 2em;
  display: inline-block;
  font-weight: bolder;
  font-size: 1.5em;
  position: absolute;
  z-index: 10;
  opacity: 0.5;
  cursor: pointer; }
  .move_btn :hover {
    opacity: 1; }

#featuring_right_move_btn {
  right: 1px; }

#featuring_left_move_btn {
  left: 1px; }

#rise_item_area p
, #down_item_area p {
  margin: 0; }

#banner_amazon001 {
  width: 100%; }
  #banner_amazon001 > img {
    margin: 1em;
    margin-right: auto;
    margin-left: auto; }

#hot_item_list_template {
  display: none; }

._down_item_title {
  font-weight: bold; }

._top_banner {
  width: 99.99%;
  overflow: hidden; }

/**トップページの熱い商品のチャートを表示するエリア*/
#_hot_graph {
  max-height: 250px;
  min-height: 250px; }
  #_hot_graph ul {
    width: 99.99%; }
    #_hot_graph ul li:first-child {
      width: 30%;
      text-align: center; }
    #_hot_graph ul li {
      width: 69%;
      float: left; }
  #_hot_graph #_hot_graph_link {
    display: inline-block;
    border-radius: 7px 7px;
    border: none;
    font-size: 0.8em;
    line-height: 2em;
    height: 2em;
    text-align: center;
    padding: 0.5em;
    text-decoration: none; }
  #_hot_graph #_hot_graph_img_area > img {
    height: 180px;
    max-width: 99%; }

#main_contents {
  margin-left: 1em; }

.beginner_sub_title,
.price_updown_sub_title {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0;
  position: relative;
  z-index: 1000;
  padding: 0.3em 0; }

.price_updown_sub_title {
  border-bottom: solid 1px;
  border-top: 2px solid; }

@media (min-width: 1024px) {
  #price_fluctuations_area > div {
    width: 49.5%;
    margin-right: 0.5%; } }
/* バナー広告のマージン */
._top_banner {
  margin: 1em 0;
  text-align: center; }

.access_user_item_wrapper {
  display: inline-block;
  width: 45%;
  border-top: solid 3px #456480;
  background-color: white;
  padding: 1%;
  margin: 0 2%; }

._information_title {
  color: #456480;
  border-bottom: solid 3px;
  padding: 0.5em 0;
  font-size: 1.3em;
  font-weight: bold; }

._information_content {
  background-color: white;
  overflow: hidden;
  margin-top: 0;
  padding: 0.5em 0; }

#right_side_bar {
  float: left;
  width: 300px; }

#pick_up_item {
  overflow: hidden;
  max-height: 250px; }
  #pick_up_item > ul {
    width: 100%;
    padding: 1em 0em;
    position: relative;
    display: none;
    list-style: none; }
  #pick_up_item > ul:nth-of-type(1) {
    display: inline-flex; }
  #pick_up_item > li {
    list-style: none;
    padding: 1em; }

#pick_up_list_area > ul {
  padding-top: 20px;
  margin: 0;
  list-style: none;
  height: 200px;
  overflow: hidden; }
  #pick_up_list_area > ul > li {
    float: left;
    min-width: 46%;
    max-width: 46%;
    max-height: 180px; }
    #pick_up_list_area > ul > li * {
      font-size: 11px; }
    #pick_up_list_area > ul > li a {
      overflow: hidden;
      max-height: 130px; }
    #pick_up_list_area > ul > li img {
      max-width: 100%; }

#pick_up_item .contents_title_base {
  margin: 0;
  position: relative;
  z-index: 1000;
  background-color: #f6f7f9;
  padding: 0.5em 0;
  font-size: 1.3em;
  font-weight: bold; }

#pick_up_item_template {
  display: none; }
