@charset "UTF-8";
/**
打消しマージン用
*/
._no_margin {
  margin: 0; }

/*
ボタン関係エフェクト
ボタンのホバー時はテキストに黒味を入れる
*/
[type=button]:hover, [type=submit]:hover {
  text-shadow: 1px 1px 5px black; }

/*
tspan 以外の全定義
文字サイズと利用する文字形態を指定
*/
*:not(tspan) {
  font-size: 14px;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  box-sizing: border-box; }

/**
メインタグ定義
*/
main {
  overflow: hidden; }

/*
ulとolはインラインフレックスで表示
todo インラインフレックス表示できないbrowserあるので、調整
*/
ul, ol {
  padding: 0; }

/*
テキストとナンバーのInputは高さとフォントサイズを多めにとる
*/
[type="text"], [type="number"] {
  line-height: 1.7em;
  height: 1.7em;
  font-size: 1.2em;
  padding: 0 0.5em; }

/*
メインコンテンツの表示サイズ
*/
#main_contents {
  float: left;
  margin: 14px;
  width: 67%; }

button, ._submit {
  border: none;
  text-align: center; }

/**
サイト内のリンクをオリジナルで書き換える場合
*/
.original_link, .original_link:visited {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none; }

.original_link, .original_link:visited {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none; }

/*
最終的に970でmainは固定
*/
@media (max-width: 1024px) {
  body > main {
    margin-top: 0%;
    min-width: 1024px; } }
#main_contents {
  min-width: 680px; }

/*
サイト内の外部リンク
*/
.external_link::after {
  margin-left: .2em;
  content: url("../img/link/external_link_blue.png"); }

.external_btn_link::after {
  content: url("../img/link/external_link_white.png"); }

/**
ページのトップへ戻るボタン
*/
#page_to_top {
  position: fixed;
  right: 2px;
  bottom: 2px;
  line-height: 2.4em;
  font-size: 12px;
  padding: .5em;
  color: #fff;
  background-color: rgba(225, 146, 0, 0.64);
  cursor: pointer; }

/*
文字を強調したい場合
*/
._markup_bold {
  font-weight: 700; }

._strong {
  font-weight: 700; }

/*

sectionごとのマージン定義
*/
section {
  margin-top: 1em; }

/*
商品検索フォームの中央寄せ
*/
#_item_search_form {
  text-align: center; }

/*
メインコンテンツ
*/
body > main {
  margin-top: 0%; }

/*
パン屑リスと
*/
#breadcrumb_list_area {
  margin: 1em; }

/**
todo 何の定義か不明
*/
[name=category] {
  width: 25%;
  line-height: 2.5em;
  height: 2.5em; }

/**
----------------------------------------------------------------------------------
todo 何の定義か不明
*/
.outer_link_list {
  margin: .5em 0;
  overflow: hidden;
  width: 100%; }

.outer_link_list li {
  text-align: center;
  float: left;
  width: 24%;
  font-size: 1em;
  cursor: pointer;
  margin-left: 1px;
  min-height: 2em;
  font-weight: 700; }

.outer_link_list li:hover {
  text-shadow: 1px 1px 5px #000; }

.item_link_btns {
  margin: 1em 0; }

.item_detail > dl > dd:first-child {
  float: none; }

.item_btn_margin {
  height: -6px; }

.hiddens {
  visibility: hidden; }

.menu_icon_img {
  float: right;
  right: 0;
  width: 28px; }

/**
----------------------------------------------------------------------------------
*/
/*
todo 何の定義か不明
*/
.center {
  width: 99.9%;
  text-align: center; }

/*
todo 多分旧トップページ

*/
#hot_item_list_template {
  display: none; }

#hot_item_list {
  overflow: hidden;
  margin-bottom: 0;
  min-height: 130px; }

#hot_item_area {
  min-height: 180px; }

#hot_item_area {
  width: 99%; }

/**
todo 何の定義か不明
*/
._item_box_tag_title_list {
  display: block;
  overflow: hidden;
  margin: 0; }

._item_box_tag_title_list > li {
  float: left;
  padding: .5em 1em; }

/**
todo 何の定義か不明
*/
#_scm_left_btn {
  left: 0%;
  background-color: #456480;
  width: 49.99%;
  line-height: 3em;
  height: 3em;
  font-weight: bold; }

/**
todo 何の定義か不明
*/
#_scm_left_btn:hover {
  text-shadow: 1px 1px 5px black; }

/**
todo 何の定義か不明
*/
#_scm_right_btn {
  background-color: #456480;
  width: 49.99%;
  line-height: 3em;
  height: 3em;
  font-weight: bold;
  right: 0%; }

/**
todo 何の定義か不明
*/
#_scm_right_btn:hover {
  text-shadow: 1px 1px 5px black; }

/**
todo 何の定義か不明
*/
.text {
  position: absolute;
  top: 0;
  left: 0;
  border-left: solid #9fb0c4 2px;
  z-index: 10; }

/**
todo 何の定義か不明
*/
._toolTip_test {
  font-size: 10px; }

/*
ボタンの基本となる高さ
*/
._btn_size_style {
  line-height: 2.5em; }

/**
強調したい場合
fixme strong と重複してる
*/
._bold {
  font-weight: bold; }

/**
アニメーション関連
*/
@keyframes floaty {
  0% {
    height: 0px; }

  100% {
    height: 200px; } }
@keyframes dissolve {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
/**
リストスタイルは基本打ち消す
*/
#main_contents li, #main_contents ul {
  list-style: none;
  overflow: hidden; }

/**価格での再検索ボタン*/
._price_research {
  width: 4em; }

/**並び替えての再検索ボタン*/
._sort_order {
  width: 6em; }

/**並び替える条件のFormエリア*/
#paging_area {
  margin-top: 1em; }

._admax iframe img {
  min-height: 300px; }

/*ライトサイドバーのお知らせ統一デザイン*/
._news_date, ._news_contents {
  margin: 0.5em 0em;
  float: left; }

/*ライトサイドバーのお知らせの内容*/
._news_contents {
  width: 57%; }

/*ライトサイドバーのお知らせの年月日*/
._news_date {
  float: left;
  width: 30%;
  margin-left: 4%;
  clear: both;
  margin-bottom: 1em; }

._news_date img {
  width: 90%; }

aside {
  margin-top: 0.5em; }

#price_fluctuations_area .original_link {
  display: block; }

#left_side_bar > ul {
  display: inherit; }

#main_contents > ul {
  float: left;
  flex-flow: wrap;
  border-bottom: none; }

#main_contents > ul > li {
  border: solid 3px rgba(201, 198, 196, 0.2);
  box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.04);
  margin: 1em 1em; }

#main_contents > ul > li :last-of-type {
  border-bottom: none; }

#main_contents #item_list_template {
  display: none; }

/*　商品タイトル */
.title {
  font-size: 12px;
  font-weight: bolder; }

.left_side_bar .active_cat {
  color: #bf6614;
  text-shadow: 0px 0px 3px white,0px 0px 3px white; }

/*商品検索フォーム*/
#_item_search_form {
  /*検索のカテゴリセレクトサイズ*/
  /*検索のカテゴリセレクトサイズ*/ }

#_item_search_form select {
  max-width: 20%; }

/*ヘッダーのタイトル*/
header h1 {
  line-height: 3em; }

/**/
@media (max-width: 1032px) {
  header h1 {
    width: 40%;
    line-height: 1.5em; } }
/**
商品詳細、商品検索結果で商品の価格情報などを表示する個別エリア
*/
.item_conditions_data_box {
  margin-right: 0.5em;
  padding: 0.2em 0;
  line-height: 3em; }

/**
アマゾンのコンディションページへのリンクボタン
*/
._amazon_condition_link_btn_area {
  border-radius: 4%; }

.item_amazon_link {
  text-align: center; }
  .item_amazon_link a {
    text-decoration: none; }

table._hide {
  display: none; }
