@charset "UTF-8";
.new_price_color {
  color: #70cd41; }

.used_price_color {
  color: #f16534; }

.collector_price_color {
  color: gray; }

.refurbished_price_color {
  color: #6dddc7; }

.new_price_bg_color {
  background-color: #70cd41; }

.used_price_bg_color {
  background-color: #f16534; }

.collector_price_bg_color {
  background-color: gray; }

.refurbished_price_bg_color {
  background-color: #6dddc7; }

/**新品関連の文字色*/
._new_item_color {
  color: #70cd41; }

/**中古関連の文字色*/
._used_item_color {
  color: #f16534; }

/**ランキング関連の文字色*/
._ranking_item_color {
  color: #789fb0; }

#main_contents > ul > li {
  border-bottom-color: #c9c6c4; }

.item_detail > dl > dd:nth-child(-n+3) a {
  color: white; }

.item_detail > dl > dd:nth-child(-n+3) .original_link {
  color: #2c7899; }

#auction_search_btn {
  border: 1px solid #d87a21;
  color: white; }

#auction_option_visible_ctrl {
  color: #2c7899; }

#graph_area #graph_title {
  background-color: #f0f0f0;
  border-bottom-color: white; }

#graph_area dt {
  background-color: #f0f0f0; }

#graph_area #graph_title {
  border-bottom-color: white; }

#graph_area dt {
  background-color: #f0f0f0; }

#graph_area ul {
  border-bottom-color: white; }

#graph_area ul li:not(:first-child) {
  border-left-color: white; }

#graph_title {
  background-color: #f0f0f0; }

#graph_view_menu > ul > li {
  border-left-color: white; }

.strong {
  color: #ff6161;
  text-shadow: 1px 1px 2px white; }

#graph_view {
  overflow: hidden;
  min-height: 580px; }

#graph_view_menu {
  color: white; }

#sheet table {
  background-color: white; }

#sheet tr:nth-child(n) {
  background-color: #e6e6e6; }

#sheet tr[class*="20"] {
  background-color: #f3f3f3; }

.outer_link_list li {
  border: 1px solid orange;
  color: white; }

.default_chart_option_cl {
  color: #ff6161;
  /*color:#ff6161;*/
  text-shadow: white; }

#left_side_bar .active_chart_option_cl {
  color: black; }

.active_chart_option_chart {
  color: #bf6614;
  text-shadow: 0px 0px 3px white,0px 0px 3px white; }

.w_new, .w_tnew {
  color: #70cd41; }

.w_tuse, .w_use {
  color: #e98a33; }

.w_tcol, .w_col {
  color: gray; }

.item_conditions_list li .item_condition_title li {
  background-color: #ffffff; }

#_store_search_btn {
  border-color: orange;
  color: white; }

.store_list {
  display: block;
  margin: 0; }

.store_list > li:nth-child(odd) {
  background-color: #effbfd; }

.store_list > li:first-child {
  background-color: #f0f0f0; }

/*auction関係*/
#auction_options_area > div fieldset {
  border-color: #f0f0f0; }

._auction_sort {
  text-decoration: underline blue; }

._auction_sort_active {
  color: #000e5d; }

.outer_link_list .active_btn, #_sheet_title .active_btn {
  background-color: #d87a21; }

#_extension_btn {
  color: white; }

.chart_options {
  color: white;
  /*アクティブ状態のボタン*/ }

.chart_options div {
  border-right-color: white;
  /*background-color: #fa8d27;*/ }

/*シートタイトル：新品*/
.sheet_title_new_color {
  color: #70cd41; }

/*シートタイトル：中古*/
.sheet_title_used_color {
  color: #e98a33; }

/*シートタイトル：コレクタ*/
.sheet_title_collector_color {
  color: gray; }

/*シートタイトルのBGカラー*/
#sheet_header th {
  background-color: #f0f0f0; }

#sheet > div:first-child {
  background-color: #f0f0f0; }

/*PC＞モバイルへのアクセスリンク*/
#_mobile_link > div {
  border-color: orange;
  background-color: #f0f0f0; }

/**認証前の認証ボタン*/
._auth_link {
  background-color: transparent; }

.chart_term_sc form ._auth_link {
  color: white; }

/*お知らせエリア*/
._information {
  border-color: orange; }

#paging_area_box {
  background-color: #f0f0f0;
  text-align: center; }

#paging_area > span > span {
  color: black; }

#paging_area > span > span > a {
  color: #185ef4; }

#paging_area > span .paging_btn {
  color: #185ef4; }

.search_item_list_section .search_item_list {
  border-bottom-color: solid 1px #f0f0f0; }

.search_item_list_section .search_item_list .item_summary_list_item .item_conditions_area .item_conditions_list li .item_condition_list .condition a {
  color: white; }

.search_item_list_section .search_item_list .item_summary_list_item .item_conditions_area .item_conditions_list li .item_condition_list .condition a span {
  color: white; }

.search_item_list_section .search_item_list .item_summary_list_item .item_conditions_area .item_conditions_list li .item_condition_list a {
  color: white; }

#_search_result_box {
  background-color: #e9edf0; }

.item_conditions_area .item_conditions_list li > .item_condition_list > .new_price_bg_color {
  background-color: #70cd41; }

.item_conditions_area .item_conditions_list li > .item_condition_list > .used_price_bg_color {
  background-color: #f16534; }

.item_conditions_area .item_conditions_list li > .item_condition_list > .collector_price_bg_color {
  background-color: gray; }

.item_conditions_area .item_conditions_list li > .item_condition_list > .refurbished_price_bg_color {
  background-color: #6dddc7; }

.item_conditions_data_box {
  border-bottom: solid 1px #989898; }

.item_conditions_list > li:first-child .item_conditions_data_box {
  border-top: solid 2px #989898; }

.search_result_comment {
  color: #ef6632; }

._item_price_comparison_title_box ._item_price_comparison_title {
  color: white; }

#_search_result_box {
  padding: 1em; }

#_search_result_box ._sort_order {
  background-color: white;
  color: #1960F8; }

#paging_area span {
  background-color: white; }

#paging_area {
  padding: 1em; }

#paging_area > span > span {
  border: #C2CCD5 solid 1px; }

#paging_area > span:first-child {
  border: #C2CCD5 solid 1px; }

#paging_area > span:last-child {
  border: #C2CCD5 solid 1px; }

._title {
  color: #456480; }

footer .original_link {
  color: white; }

main {
  background-color: white; }

.en_box_shadow_color {
  box-shadow: 0 1px 10px -1px #154b14; }

.original_link:hover, .original_link:active {
  color: #b77b25;
  text-decoration: underline; }

.original_link {
  color: #2C7899; }

.original_link:visited {
  color: #bf6614; }

.left_side_bar .original_link, footer .original_link {
  color: #fff; }

#auction_search_btn {
  border: 1px solid orange;
  background-color: #456480;
  color: #fff; }

#graph_view_menu > ul > li {
  border-left: 1px solid #fff; }

#graph_view_menu {
  color: #fff; }

.__item_title {
  border-bottom: #fa8d27 2px solid;
  width: 98%; }

#left_side_bar .active_chart_option_cl {
  color: #FFAF65; }

.default_chart_option_cl {
  color: #ff6161;
  text-shadow: #fff; }

.active_chart_option_chart {
  color: #FFAF65;
  text-shadow: 0 0 3px #fff,0 0 3px #fff; }

._price_color {
  color: red; }

#_store_search_btn {
  border: 1px solid orange;
  background-color: #fa8d27;
  color: #fff; }

.store_list > li:nth-child(odd) {
  background-color: #effbfd; }

.store_list > li:first-child {
  background-color: #f0f0f0; }

#auction_store_sheets > section {
  box-shadow: 2px 4px 15px -5px silver; }

#auction_options_area > div fieldset {
  border: 1px solid silver; }

.outer_link_list .active_btn, #_sheet_title .active_btn {
  background-color: #D87A21; }

.chart_options {
  color: #fff; }

.chart_options ._active_btn {
  background-color: #D87A21; }

#_sheet_open_mark {
  background-color: #456480;
  color: #fff; }

#sheet_contents tr:hover {
  background-color: #c9e1eb; }

#_mobile_link > div {
  border: 1px solid orange;
  background-color: #f0f0f0; }

footer {
  background-color: #456480; }

footer a {
  color: dodgerblue;
  text-decoration: none; }

.banners {
  background-color: #FA8D27; }

#price_fluctuations_area > div > dl dd:nth-child(odd) {
  border-left: #228b22 solid 1px; }

#price_fluctuations_area > div > dl dd:nth-child(even) {
  border-left: #f60 solid 1px; }

#price_fluctuations_area > div > dl dd:first-child, #price_fluctuations_area > div > dl dd:nth-child(2) {
  border-left: none; }

#beginner #_beginner_list > li {
  background-color: #fff; }

#beginner #_beginner_list ._beginner_act_btn {
  background-color: #D87A21; }

.move_btn {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff; }

#_hot_graph #_hot_graph_link {
  color: #2C7899;
  background-color: #fa8d27; }

#nprogress .bar {
  background: #456480; }

#nprogress .peg {
  box-shadow: 0 0 10px #a06b38,0 0 5px #a06b38; }

#nprogress .spinner-icon {
  border-top-color: #456480;
  border-left-color: #456480; }

#_scm_left_btn, #_scm_right_btn {
  background-color: #fa8d27; }

#main_contents > .__updown_item_list > li:nth-of-type(1) {
  box-shadow: 2px 3px 10px 5px gold; }

#main_contents > .__updown_item_list > li:nth-of-type(2) {
  border-color: silver;
  box-shadow: 2px 3px 10px 5px silver; }

#main_contents > .__updown_item_list > li:nth-of-type(3) {
  border-color: tan;
  box-shadow: 2px 3px 10px 5px tan; }

.left_side_bar {
  border: hidden;
  color: #fff; }

.left_side_bar .active_cat {
  color: #FFAF65;
  text-shadow: 0 0 3px #fff,0 0 3px #fff; }

.left_side_bar a {
  color: #fff; }

._monorate_btn {
  color: #fff;
  background-color: #456480; }

._monorate_btn._beginner_act_btn {
  color: #456480;
  background-color: #fff; }

._search_title_color {
  color: #000; }

._new_condition {
  color: #70cd41; }

._used_condition {
  color: #f16534; }

._collectable_condition {
  color: #679cae; }

._all_condition {
  color: #9b9b9b; }

.chart_term_sc {
  color: #456480; }

#main_contents .active_chart_option_cl._new_condition {
  color: #70cd41; }

#main_contents .active_chart_option_cl._all_condition {
  color: #9b9b9b; }

#main_contents .active_chart_option_cl._collectable_condition {
  color: #679cae; }

#main_contents .active_chart_option_cl._used_condition {
  color: #f16534; }

#main_contents .active_chart_option_cl.chart_term_sc {
  color: black;
  font-weight: bold; }

main {
  background-color: #f6f7f9; }

.list_style_default_parent, fieldset {
  background-color: #fff; }

._auction_store_tag, ._item_box_tag_title {
  background-color: #9fb0c4; }

._item_box_tag_title {
  color: #fff; }

._item_box_tag_title_check {
  background-color: #fff;
  color: #000; }

#_item_search_inp {
  border-color: #456480; }

.select, .condition_select {
  background-color: #9fb0c4;
  color: #fff; }

#_scm_left_btn {
  background-color: #456480; }

#_scm_right_btn {
  background-color: #456480; }

._red {
  color: red; }

._graph_condition_menu ._new_condition {
  background-color: #ffffff;
  border-top: 6px solid #70cd41;
  color: #70cd41; }

._graph_condition_menu ._used_condition {
  background-color: #ffffff;
  border-top: 6px solid #f16534;
  color: #f16534; }

._graph_condition_menu ._collectable_condition {
  background-color: #ffffff;
  border-top: 6px solid #679cae;
  color: #679cae; }

._graph_condition_menu ._all_condition {
  background-color: #ffffff;
  border-top: 6px solid #9b9b9b;
  color: #9b9b9b; }

._similarity_area > section > div,
._event_list_area > .__event_list > div {
  border-bottom: solid 2px #456480; }

._scm_left_btn {
  background-color: #456480; }

._scm_left_btn:hover {
  text-shadow: 1px 1px 5px black; }

._scm_right_btn {
  background-color: #456480; }

._reference_price_color {
  color: #b77b25; }

._scm_right_btn:hover {
  text-shadow: 1px 1px 5px black; }

.horizontal .move_btn {
  background-color: #456480; }

.sort_btn {
  background-color: #ffffff;
  color: #456480;
  border-top: solid 2px #456480; }

.active_sort_btn {
  background-color: #456480;
  color: #ffffff; }

.out_site_link_list li {
  background-color: #9fb0c4; }

.item_detail > .out_site_link_list li a {
  color: #ffffff; }

.text {
  position: absolute;
  top: 0;
  left: 0;
  border-left: solid #9fb0c4 2px;
  z-index: 10; }

#_no_login_contents > ._msg_bord {
  color: white; }

#_login_contents {
  background-color: white; }

/*
すべてのチャートを表示時のSCボタン
*/
#graph_view_menu ._graph_condition_menu > .chart_condition_sc:nth-child(1).active_chart_option_cl {
  background-color: #456480; }

/*
新品のチャートを表示時のSCボタン
*/
#graph_view_menu ._graph_condition_menu > .chart_condition_sc:nth-child(2).active_chart_option_cl {
  background-color: #70cd41; }

/*
中古のチャートを表示時のSCボタン
*/
#graph_view_menu ._graph_condition_menu > .chart_condition_sc:nth-child(3).active_chart_option_cl {
  background-color: #f16534; }

/*
コレクターのチャートを表示時のSCボタン
*/
#graph_view_menu ._graph_condition_menu > .chart_condition_sc:nth-child(4).active_chart_option_cl {
  background-color: #679cae; }

#graph_view_menu ._graph_condition_menu > .chart_condition_sc.active_chart_option_cl {
  color: white;
  font-weight: bold; }

#chart_condition_parameters .active_chart_option_cl {
  background-color: white; }

/*サブコンディション*/
#chart_condition_parameters ._sub_condition.active_chart_option_cl {
  color: #ffc400; }

/*カート価格*/
#chart_condition_parameters ._sub_cart.active_chart_option_cl {
  color: #5EA4FF; }

/*FBA*/
#chart_condition_parameters ._sub_classification.active_chart_option_cl {
  color: #db69a0; }

/*送料*/
#chart_condition_parameters ._sub_carriage.active_chart_option_cl {
  color: #44637f; }

/*アマゾン価格*/
#chart_condition_parameters ._sub_amazon_price.active_chart_option_cl {
  color: #095b00; }

#_extension_btn {
  cursor: pointer; }

#_extension_btn.active_chart_option_cl {
  color: #44637f; }

#graph_view_menu ._graph_condition_menu ._new_condition {
  border-top-color: #70cd41; }

#graph_view_menu ._graph_condition_menu ._all_condition {
  border-top-color: #456480; }

#graph_view_menu ._graph_condition_menu ._used_condition {
  border-top-color: #f16534; }

#graph_view_menu ._graph_condition_menu ._collectable_condition {
  border-top-color: #679cae; }

.left_side_bar dt {
  background-color: #456480;
  color: #ffffff; }

.left_side_bar *,
.left_side_bar dd,
.left_side_bar dd > .original_link {
  color: #456480; }

.left_side_bar dd > label {
  border-color: #9fb0c4; }

.left_side_bar dd > label {
  background-color: #456480;
  color: #ffffff; }

.left_side_bar dd [data-chart-conditions="new"] {
  border-color: #70cd41;
  background-color: #456480; }

.left_side_bar dd [data-chart-conditions="used"] {
  border-color: #f16534;
  background-color: #456480; }

.left_side_bar dd [data-chart-conditions="collectible"] {
  border-color: #679cae;
  background-color: #456480; }

.left_side_bar dd [data-chart-conditions="refurbished"] {
  border-color: #6dddc7;
  background-color: #456480; }

.left_side_bar dd [data-chart-conditions="all"] {
  border-color: #456480;
  background-color: #456480; }

.left_side_bar dd ._content_link_wrap {
  background-color: #456480;
  border-color: #9fb0c4; }

.left_side_bar .chart_terms.active_chart_option_cl {
  border-color: #FFAF65; }

#sheet ._odd_data {
  background-color: #f6f7f9; }

#sheet ._even_data {
  background-color: #ffffff; }

#_pickup_data ._future_list {
  border-top: #456480 solid 1px;
  border-bottom: #456480 solid 1px; }

._event_list_area .examination_dates {
  border-color: #266092;
  color: #266092; }

._event_list_area .function_dates {
  border-color: #a43a00;
  color: #a43a00; }

._event_list_area .program_dates {
  border-color: #a59400;
  color: #a59400; }

._event_list_area .related_release_dates {
  border-color: #5B438D;
  color: #5B438D; }

._event_list_area .release_dates {
  border-color: #456480;
  color: #456480; }

._event_list_area .movie_dates {
  border-color: #4a781e;
  color: #4a781e; }

._submit._price_research {
  color: #456480; }

/* 商品詳細ページ、商品内容詳細説明タイトル */
._item_detail_sub_info_title {
  border-top: solid 2px #989898; }

/* 商品詳細ページ、ログイン前コンテンツの画像認証リンクへ差し替え(グラフ上) */
/**
　ページ内のコンテンツ毎を仕切るためのボックスシャドウ
*/
.base_box_shadow {
  box-shadow: 1px 1px 1px 1px #f7f7f7; }

._strong_color {
  color: sandybrown; }

.new_price_color {
  color: #70cd41; }

.used_price_color {
  color: #ff6600; }

.collector_price_color {
  color: gray; }

._new_item_color {
  color: #70cd41; }

._used_item_color {
  color: #ff6600; }

._ranking_item_color {
  color: #6c83c6; }

button, ._submit {
  background-color: #456480; }

button:active, ._submit:active {
  background-color: #cc7a2e; }

.jp_border_color {
  border-color: #ffa959; }

.jp_bg_color {
  background-color: #456480; }

.jp_font_color {
  color: #456480; }

.jp_button_color {
  background-color: #456480;
  color: #fff; }

.jp_box_shadow_color {
  box-shadow: 0 0 10px -2px #914600; }

.en_border_color {
  border-color: #55d351; }

.en_bg_color {
  background-color: rgba(85, 211, 81, 0.72); }

.en_font_color {
  color: #55d351; }

.en_button_color {
  box-shadow: 2px 2px 2px 2px #58B955;
  background-color: rgba(91, 223, 87, 0.74); }

.en_button_color:active {
  background-color: #42a33f; }

.en_box_shadow_color {
  box-shadow: 0 1px 10px -1px #154b14; }

.original_link:hover, .original_link:active {
  color: #b77b25;
  text-decoration: underline; }

.original_link {
  color: #2c7899; }

.left_side_bar .original_link, footer .original_link {
  color: white; }

#auction_search_btn {
  border: 1px solid orange;
  background-color: #456480;
  color: white; }

#graph_view_menu > ul > li {
  border-left: 1px solid white; }

#graph_view_menu {
  color: white; }

.__item_title {
  width: 98%; }

#left_side_bar .active_chart_option_cl {
  color: #ffaf65; }

.default_chart_option_cl {
  color: #ff6161;
  text-shadow: white; }

.active_chart_option_chart {
  color: #FFAF65;
  text-shadow: 0 0 3px white, 0 0 3px white; }

._price_color {
  color: red; }

.store_list > li:nth-child(odd) {
  background-color: #effbfd; }

.store_list > li:first-child {
  background-color: #f0f0f0; }

#auction_store_sheets > section {
  box-shadow: 2px 4px 15px -5px silver; }

#auction_options_area > div fieldset {
  border: 1px solid silver; }

.chart_options {
  color: white; }

#_sheet_open_mark {
  background-color: #456480;
  color: white; }

#_mobile_link > div {
  border: 1px solid orange;
  background-color: #f0f0f0; }

footer {
  background-color: #456480; }

footer a {
  color: dodgerblue;
  text-decoration: none; }

#price_fluctuations_area > div > dl dd:nth-child(odd) {
  border-left: forestgreen solid 1px; }

#price_fluctuations_area > div > dl dd:nth-child(even) {
  border-left: #ff6600 solid 1px; }

#price_fluctuations_area > div > dl dd:first-child, #price_fluctuations_area > div > dl dd:nth-child(2) {
  border-left: none; }

#beginner #_beginner_list > li {
  background-color: white; }

#beginner #_beginner_list ._beginner_act_btn {
  background-color: #d87a21; }

.move_btn {
  background-color: rgba(0, 0, 0, 0.85);
  color: white; }

#_hot_graph #_hot_graph_link {
  color: #2C7899;
  background-color: #fa8d27; }

#nprogress .bar {
  background: #456480; }

#nprogress .peg {
  box-shadow: 0 0 10px #a06b38, 0 0 5px #a06b38; }

#nprogress .spinner-icon {
  border-top-color: #456480;
  border-left-color: #456480; }

#_scm_left_btn, #_scm_right_btn {
  background-color: #fa8d27; }

.title {
  font-size: 12px;
  font-weight: bolder; }

.item_detail dl, .item_detail > dl > dd {
  margin: 0; }

.item_detail > dl > dd ul {
  display: inherit; }

#main_contents > .__updown_item_list > li:nth-of-type(n) {
  border-radius: 20px 5px; }

#main_contents > .__updown_item_list > li:nth-of-type(1) {
  box-shadow: 2px 3px 10px 5px gold; }

#main_contents > .__updown_item_list > li:nth-of-type(2) {
  border-color: silver;
  box-shadow: 2px 3px 10px 5px silver; }

#main_contents > .__updown_item_list > li:nth-of-type(3) {
  border-color: tan;
  box-shadow: 2px 3px 10px 5px tan; }

.left_side_bar {
  border: hidden;
  color: white; }

.left_side_bar .active_cat {
  color: #FFAF65;
  text-shadow: 0 0 3px white, 0 0 3px white; }

.left_side_bar a {
  color: white; }

._search_title_color {
  color: black; }

#main_contents .active_chart_option_cl._new_condition {
  color: #70cd41; }

#main_contents .active_chart_option_cl._all_condition {
  color: #9b9b9b; }

#main_contents .active_chart_option_cl._collectable_condition {
  color: #679cae; }

#main_contents .active_chart_option_cl._used_condition {
  color: #f16534; }

main {
  background-color: #f6f7f9; }

.list_style_default_parent, fieldset {
  background-color: white; }

._auction_store_tag, ._item_box_tag_title {
  background-color: #9fb0c4; }

._item_box_tag_title {
  color: white; }

._item_box_tag_title_check {
  background-color: #fff;
  color: black; }

#_item_search_inp {
  border-color: #456480; }

.item_detail > ul li a {
  text-decoration: none;
  color: black; }

.item_detail > ul li a:hover {
  text-decoration: underline; }

.select, .condition_select {
  background-color: #9fb0c4;
  color: white; }

._graph_term_menu .chart_term_sc {
  color: #456480; }

._similarity_area > section > div,
._event_list_area > .__event_list > div {
  font-weight: bold;
  border-bottom: solid 2px #456480; }

._reference_price_color {
  color: #b77b25; }

#sheet ._odd_data {
  background-color: #f6f7f9; }

#sheet ._even_data {
  background-color: #ffffff; }

._event_list_area .examination_dates {
  border-color: #55AB47;
  color: #55AB47; }

._event_list_area .function_dates {
  border-color: #CFBF56;
  color: #CFBF56; }

._event_list_area .program_dates {
  border-color: #C9545D;
  color: #C9545D; }

._event_list_area .related_release_dates {
  border-color: #5B438D;
  color: #5B438D; }

._event_list_area .release_dates {
  border-color: #456480;
  color: #456480; }

._event_list_area .movie_dates {
  border-color: #CF9D56;
  color: #CF9D56; }

.event_filter.active {
  color: #bf6614; }

#chart_condition_parameters.new {
  background-color: #70cd41; }

#chart_condition_parameters.used {
  background-color: #f16534; }

#chart_condition_parameters.collectible {
  background-color: #679cae; }

#chart_condition_parameters.all {
  background-color: #456480; }
