@charset "UTF-8";
/*
-------------------------------------------------------------------------------------------------------
フッター　ここまで
*/
/*
フッター領域
*/
footer {
  overflow: hidden;
  clear: both; }

/*
todo 何の定義か不明
*/
.ad > a {
  text-shadow: none; }

/*
バナー表示領域
*/
.banners {
  line-height: 2em;
  width: 94%;
  height: 60px; }

/*
フッタ サイトマップ領域
*/
footer #site_map {
  width: 1024px;
  margin: auto;
  padding: 1em;
  overflow: hidden; }

/**
サイトロゴとサイト説明エリア
*/
.site_description_area {
  width: 300px;
  color: white;
  margin: 0 auto; }

/**
サイトロゴのラッパ
*/
.site_name_img_area {
  text-align: center;
  margin: 0.5em 0; }

/**
サイトの説明のラッパ
*/
.site_description_content_area {
  text-align: center;
  margin: 0.5em 0; }
  .site_description_content_area p {
    margin: 0; }

/*
フッタサイトマップリンクのリスト
*/
#site_map > ul {
  list-style: none;
  display: inherit; }

/*
フッタサイトマップのリンク領域
*/
footer #site_map .site_map_list li {
  float: left;
  width: 18%;
  margin-left: 1%; }

/*
コピーライト表示部
*/
#site_copyright {
  margin: 1em auto; }

footer #site_copyright table {
  margin: auto;
  color: white; }

/*
フッター　ここまで
-------------------------------------------------------------------------------------------------------
*/
