@charset "UTF-8";
/*
-------------------------------------------------------------------------------------------------------
ヘッダー
*/
/*
header内のリストとh1のマージン初期化
*/
header ul, header h1, header ol {
  margin: 0; }

/**
ヘッダの最低サイズ
*/
header {
  overflow: hidden;
  min-width: 970px; }

/*
ロゴ横にサイトの説明を並べるための定義
*/
header h1 {
  float: left; }

/**
ロゴを囲うリンク領域の定義
*/
#monorate_title_img_link {
  text-decoration: none;
  float: left; }

/*
ヘッダーサイトマップ
*/
.site_menu_list {
  float: right;
  line-height: 3em;
  height: 3em; }

/*
ヘッダーサイトマップの個別リンク領域
*/
.site_menu_content {
  float: left; }

/*
ヘッダーサイトマップの個別リンクの文言領域
*/
.site_menu_title {
  margin-right: 0.5em; }

/**
サイトロゴイメージ
*/
#t_img {
  margin: 0 2em; }

/**
商品検索領域
*/
#search_area {
  margin: 0;
  color: #fff;
  background-color: #e8ecef;
  min-width: 970px;
  padding: 0.5em; }

/*
横位置の中央寄せ定義
*/
header, main, #search_area > div {
  margin-left: auto;
  margin-right: auto; }

/*
検索入力エリアの横幅
*/
#_item_search_inp {
  width: 55%;
  height: 34px;
  line-height: 34px; }

/*
検索実行ボタン
*/
#_graph_search_btn {
  line-height: 34px;
  height: 34px;
  text-shadow: none;
  margin-left: -42px;
  border-top: 1px solid #456480;
  padding: 0 7px 0 5px;
  box-shadow: none;
  /* font-size: 12px; */
  font-weight: 700;
  border-bottom: 2px solid #456480; }

/*
検索用語入力削除ボタン
*/
#clear_btn {
  position: relative;
  right: 42px;
  top: 5px;
  cursor: pointer; }

/*
検索ワードのジャンル指定セレクト
*/
.select {
  padding: 0 .5em;
  height: 2.5em;
  margin-top: .5em;
  line-height: 2.5em; }

/*
ヘッダー　ここまで
-------------------------------------------------------------------------------------------------------
*/
