@charset "UTF-8";
/**
leftsidebar
左サイドバー自体は #left_side_bar で指定
*/
#left_side_bar {
  float: left;
  width: 200px; }

/*
* コンテンツ部の左側のサイドメニューのレイアウト
*/
.left_side_bar {
  padding: 0.5em;
  margin: 0.5em;
  background-color: none;
  border: 1px solid #dddddd; }

.left_side_bar dd {
  margin-left: 1em; }

/**
* 左側サイドメニューのサイズ
*/
#left_side_bar {
  float: left;
  width: 300px; }

/**
左サイドバーのコンテンツ領域
*/
.left_side_bar {
  padding: 5px;
  margin: 0.35em; }

/**
左サイドバーの各押せないタイトル領域
*/
.left_side_bar dt {
  background-color: #456480;
  color: #ffffff;
  line-height: 2.5em;
  padding-left: 0.5em;
  font-weight: 700; }

/*
左サイドバーの押せるコンテンツ領域
*/
.left_side_bar dd {
  margin-left: 0em;
  /* margin-top: .5em; */
  line-height: 2em; }

/*
左サイドバーのリンクの押下範囲広げるためにブロック要素にする
*/
aside .original_link {
  display: block; }

/*
フォントの強調をリセット
*/
#left_side_bar .original_link {
  font-weight: 100; }

/*
todo 何のための定義か不明
*/
#left_side_bar > ul {
  display: inherit; }

/*
リスト系リセット用
fixme baseでもいいんじゃ
*/
#main_contents li, #main_contents ul {
  list-style: none;
  overflow: hidden; }

/*
todo
*/
.amazon_world_btn {
  cursor: pointer;
  margin-left: 1px;
  min-height: 2em;
  font-weight: 700; }

/**
  各コンディションごとの同時に表示するチャートを選択するエリア
*/
._sub_condition_checkbox_list {
  list-style: none;
  margin-left: 1em;
  display: none; }

/**
  各コンディションごとの同時に表示するチャートの個別エリア
*/
._sub_condition_checkbox_list > li {
  float: none; }

/*
 各コンディションとグラフの選択可能なボタン
*/
.left_side_bar dd > label {
  border-left: 0.5em solid;
  /*border-bottom: 2px solid;*/
  display: block;
  line-height: 3em;
  border-color: #9fb0c4; }

/**
 各コンディションとグラフの選択可能なボタン
*/
.left_side_bar dd > label {
  padding-left: 1em;
  background-color: #456480;
  color: #ffffff; }

/**
 新品コンディション左のマーク
*/
.left_side_bar dd [data-chart-conditions="new"] {
  border-color: #70cd41;
  background-color: #456480; }

/**
 中古コンディション左のマーク
*/
.left_side_bar dd [data-chart-conditions="used"] {
  border-color: #f16534;
  background-color: #456480; }

/**
 コレクターコンディション左のマーク
*/
.left_side_bar dd [data-chart-conditions="collectible"] {
  border-color: #679cae;
  background-color: #456480; }

/**
 再生品コンディション左のマーク
*/
.left_side_bar dd [data-chart-conditions="refurbished"] {
  border-color: #6dddc7;
  background-color: #456480; }

/**
 全てコンディション左のマーク
*/
.left_side_bar dd [data-chart-conditions="all"] {
  border-color: #9b9b9b;
  background-color: #456480; }

/*
関連コンテンツ内リンクごとの個別の定義と左マーク
*/
.left_side_bar dd ._content_link_wrap {
  background-color: #456480;
  border-left: 0.5em solid;
  display: block;
  line-height: 3em;
  border-color: #9fb0c4;
  padding-left: 1em; }

/**
現在選択されている期間
*/
.left_side_bar .chart_terms.active_chart_option_cl {
  border-color: #FFAF65; }

/**
コンテンツごとのタイトル要素
*/
.left_side_bar dt {
  margin-top: 1em; }

._future_list {
  display: block;
  list-style: none; }

/**
todo　何の定義か不明
*/
#left_side_bar ._future_list span {
  font-size: 12px; }

/**
todo　何の定義か不明
*/
#left_side_bar ._event_info {
  margin: 1em; }

/**
todo　何の定義か不明
*/
#left_side_bar ._event_info li {
  margin: 0.6em 0; }

/* 商品詳細ページ、ログイン前コンテンツの画像認証リンクへ差し替え(左サイドバー) */
.left_side_bar form input {
  color: white;
  margin: 0;
  padding: 0;
  width: 28%;
  background: white;
  border: transparent;
  line-height: 2em; }

.left_side_bar .chart_terms form input {
  text-align: left;
  background: transparent;
  width: 100%; }

.left_side_bar ._submit._price_research {
  width: 20%; }

/*
商品詳細ページ、新品コンディションのメニューリスト
*/
.left_side_bar .option_hide_menu ._checklist_new,
.left_side_bar .option_hide_menu ._checklist_used,
.left_side_bar .option_hide_menu ._checklist_collectible,
.left_side_bar .option_hide_menu ._checklist_refurbished {
  border-left: solid #70cd41 0.5em;
  margin: 0;
  padding: 10px; }

.left_side_bar .option_hide_menu ._checklist_used {
  border-left: solid #f16534 0.5em; }

.left_side_bar .option_hide_menu ._checklist_collectible {
  border-left: solid #679cae 0.5em; }

.left_side_bar .option_hide_menu ._checklist_refurbished {
  border-left: solid #6dddc7 0.5em; }

/*
上下した商品リンク表示エリアタイトル
*/
/*
上下した商品リンク表示タイトル
*/
.left_side_bar .price_fluctuation_title {
  padding: 0;
  margin: 0; }

.left_side_bar .price_fluctuation_title > span {
  border-left: 0.5em solid;
  display: block;
  border-color: #9fb0c4;
  padding-left: 1em;
  color: white; }

/**
上下した商品リンク表示エリア
*/
.left_side_bar .price_fluctuation_links {
  margin: 0;
  background: #f6f7f9;
  border-left: 0.5em solid;
  display: block;
  line-height: 2em;
  border-color: #9fb0c4;
  padding-left: 1em; }

/**
上下した商品リンク
*/
.left_side_bar .price_fluctuation_links .original_link {
  color: #456480; }

.left_side_bar ._padding_price_title {
  padding: 0.5em; }

.left_side_bar ._padding_price_content {
  padding: 0 0.5em; }
  .left_side_bar ._padding_price_content .t_sidemenu {
    margin: 0; }
  .left_side_bar ._padding_price_content .original_link,
  .left_side_bar ._padding_price_content ._custom_price_area,
  .left_side_bar ._padding_price_content ._markup_bold {
    border-left: 0.5em solid;
    display: block;
    border-color: #9fb0c4;
    padding-left: 1em;
    color: white;
    margin-left: -0.5em; }
  .left_side_bar ._padding_price_content ._custom_price_area {
    padding-bottom: 0.5em; }

.left_side_bar #search_result_title ._title {
  margin: 0 0 1em; }

.relation_contents_list {
  background-color: #456480;
  color: #ffffff;
  border-color: #9fb0c4;
  line-height: 3em; }

/*クリックできるエリアのカーソル変更*/
.left_side_bar .chart_conditions,
.left_side_bar .chart_terms {
  cursor: pointer; }
  .left_side_bar .chart_conditions label,
  .left_side_bar .chart_terms label {
    cursor: pointer; }

/*横サイド広告エリア*/
.left_side_bar .banner_side {
  margin: 1em 0; }
