@media screen and (max-width: 1180px) {
	#topform { padding-left: 5px; }
	#topform .search { margin-left: 0; }
	#bottomform .search {
		margin-left: 145px;
	}
	.resfooter {
		margin-left: 140px;
	}
	a#logo {
		width: 138px !important;
		margin-top: 8px;
	}
	a#logo div {
		margin: 17px 0 0 10px;
		font-size: 20px;
	}
	
	#categories {
		width: 120px;
	}
	#categories ul li a {
		padding-left: 20px;
	}
	#categories ul li.active a {
		padding-left: 20px;
	}
	#categories hr { margin-left: 20px; }

	body.images #sideRelated {
		padding: 0 20px 0 20px;
	}
	
	body.images #res {
		width: 760px !important;
	}
	
}


@media screen and (max-width: 960px) {
	#topform { 
		border-top: 0;
		padding-left: 11px;
	}
	a#logo { display: none; }
	.search input.searchbox {
		width: 503px;
		margin-right: 10px;
	}
	#bottomform .search {
		margin-left: 12px;
	}
	.resfooter {
		margin-left: 30px;
		width: 500px;
	}	
	#res {
		padding: 0 20px;
	}
	#related, ul.res, #res {
		width: 500px;
	}
	#categories {
		display: none !important;
	}
	#tabs {
		display: block;
	}
	body.home #tabs {
		display: none;
	}
	#global {
		top: 8px;
	}
	ul#locale {
		top: 34px;
	}
	
	body.images #res {
		width: 720px !important;
	}
}
@media screen and (max-width: 780px) {
	.search input.searchbox {
		width: 453px;
		margin-right: 10px;
	}
	.resfooter {
		margin-left: 20px;
		width: 450px;
	}
	#res {
		padding: 0 20px;
	}
	#related, ul.res, #res {
		width: 450px;
	}
	#categories {
		display: none !important;
	}
	body.images #res {
		width: 640px !important;
	}
}
@media screen and (max-width: 480px) {
	#homeform {
		width: 100%;
		margin: 0;
		padding: 0;
		border: 0;
	}
	#homeform img {
		width: 60%;
		padding: 0;
		margin: 0;
	}
	.search input.searchbox {
		width: 75% !important;
		float: left;
	}
	.search input.submit {
		width: 15% !important;
		float: right;
		height: 34px !important;
	}
	#homeform .searchbox {
		width: 75% !important;
	}
	#homeform input.submit {
		width: 15% !important;
		float: right;
	}
	body {
		margin: 0;
		padding: 0 10px;
	}
	.resfooter {	
		margin: 0 -10px 0px;
		width: 100%;
		font-size: 11px;
		line-height: 100%;
	}
	#tabs {
		margin: 0 -10px 0px;
		display: block !important;
		font-size: 11px;
		line-height: 100%;
	}
	#related, ul.res, #res, #topform, #bottomform, #topform .search, #bottomform .search {
		width: 100%;
		margin: 0;
		padding: 0;
		border: 0;
	}
	#topform {
		padding: 10px;
		margin: 0 -10px 0px;
		width: 100%;
		border-bottom: 1px solid #e5e5e5;
	}
	#bottomform {
		padding: 10px;
		margin: 15px -10px 0px;
		width: 100%;
		border-bottom: 1px solid #e5e5e5;
		border-top: 1px solid #e5e5e5;
	}
	#tabs li.active a {
		background: #f9f9f9;
	}
	#related {
		margin-bottom: 20px;
	}
	#sidebar, #categories, #searchmeta, #global, #homecats {
		display: none !important;
	}
	
	body.images #res {
		width: 100% !important;
	}
	body.images #webResults {
		height: 305px;
		overflow: hidden;
		margin-bottom: 10px;
	}
	a.img {
		width: 70px;
		height: 70px;
		float: left;
		margin: 0 5px 5px 0;
		border: 0;
		padding: 0;
		font-size: 11px;
		line-height: 120%;
		color: #666;
		text-align: center;
		display: block;
	}
	a.img:hover {
		box-shadow: 0 1px 2px #ccc;
		text-decoration: none;
		border-color: #36c;
	}
	a.img div.thumb {
		width: 100%;
		height: 100%;
		overflow: hidden;
		margin-bottom: 8px;
	}
	a.img div.thumb img {
		min-width: 70px !important;
		min-height: 70px !important;
	}
	a.img span {
		display: none !important;
	}
	
	.vid {
		width: 80px;
		height: 45px;
		float: left;
		margin: 5px 10px 0 0;
		border: 0;
		padding: 0;
		text-decoration: none !important;
	}
	.vid .thumb {
		width: 80px;
		height: 45px;
		z-index: 100;
		overflow: hidden;	
		z-index: 100 !important;
	}
	.vid .thumb img {
		border: 0 !important;
		padding: 0 !important;
		width: 84px;
		height: 48px;
		margin: -2px;
	}
	.video .resurl {
		display: none;
	}
}