* { outline: none; }

html{
  height: 100%;
  overflow-y: hidden;
}
body {
  min-height: 100%;
}
body {
	background: #fff;
	font: 13px/140% arial, helvetica, sans-serif;
	color: #111;
	margin: 0;
}
#mask {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: #ffft;
	background: #fff;
	z-index: 100002;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=90);
	filter: alpha("opacity=90");
}
a {
	color: #36c;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.link {
	color: #00a;
	text-decoration: underline;
}
a.link:visited {
	color: purple;
}
.clear { clear: both;}
img { border: 0; }
p { margin: 20px 0; }
form, .tight{margin:0;padding:0;}
.tiny { font-size: 11px; line-height: 120%; }
.light { color: #999; }
.lighter { color: #aaa; }
.center { text-align: center; }
hr {
	border: 0;
	border-top: 1px solid #ebf0fa;
	margin: 10px 0;
	height: 1px;
}
input[type="text"], input[type="password"], select, textarea {
	outline: none;
	font: 14px/120% arial, sans-serif;
	border: 1px solid #aaa;
	border-color: #bbb #ccc #ccc #bbb;
	background: #fff;
	/* padding: 5px; */
	background: #fff url(../img/inputbg.png) 0 -1px repeat-x;
}
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
	border: 1px solid #437dd4;	
}
input[type="button"], input[type="submit"] {
	font: 15px/100% arial, helvetica, sans-serif;
	border: 1px solid;
	border-color: #ccc #999 #999 #ccc;
	margin: 0;
	padding: 7px 10px 7px;
	cursor: pointer;
	color: #222;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type="button"]:hover, input[type="submit"]:hover {
	border-color: #ddd #aaa #aaa #ddd;
	color: #222;
}
input[type="button"].glow:hover, input[type="submit"].glow:hover {
	border-color: #9cf #69e #69e #9cf;
	box-shadow: 0px 0px 3px #69e;
	-moz-box-shadow: 0px 0px 3px #69e;
	-webkit-box-shadow: 0px 0px 3px #69e;
}
@-moz-document url-prefix() {
    input[type="button"], input[type="submit"] {
		padding: 5px 10px 4px;
    }
}
#tabs {
	background: #25468b url(../img/tabs.png) bottom repeat-x;
	border: 0;
	margin: 0;
	padding: 0 10px;
	list-style: none;
	height: 32px;
	font-size: 12px;
	line-height: 100%;
	overflow: hidden;
	display: none;
}
#homeform {
	margin: 125px auto 0;
	width: 100%;
}
#homecats {
	margin-bottom: 4px;
}
#homecats a.active {
	color: #222;
	font-weight: bold;
}
#tabs li {
	float: left;
	margin: 0;
	padding: 5px 0 0 0;
}
#tabs li a {
	display: block;
	color: #f5f5f5;
	padding: 8px 3px 20px;
	margin: 0 5px;
}
#tabs li.active a {
	font-weight: bold;
	margin-top: -1px;
	background: #fff;
	color: #222;
	padding: 8px 10px 20px;
	margin: 0 2px 0 0;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0px 3px #555;
}

#topform {
	margin: 0 0 20px;
	padding: 5px 0 2px 10px;
	border-top: 17px solid #25468b;
	border-bottom: 1px solid #e5e5e5;
	background: #fcfcfc;
}
#global {
	position: absolute;
	top: 0px;
	right: 0;
	background: url(../img/globe.png) 0 1px no-repeat;
	margin: 2px 7px;
	font-size: 11px;
	padding: 0 2px 5px 13px;
	line-height: 100%;
	color: #ddd;
}
body.home #global {
	background: url(../img/globehome.png) 0 1px no-repeat;
	top: 2px;
	color: #2363aa !important;
}
#bottomform {
	margin: 10px 0 0 0;
	padding: 24px 0 25px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background: #fcfcfc;
}
a#logo {
	float: left;
	width: 190px;
}
a#logo img {
	border: 0;
	width: 100%;
}
a#logo, a#logo:hover {
	text-decoration: none;
	color: #222 !important;
}
a#logo div {
	font: 24px/100% arial, helvetica, sans-serif;
	color: #222;
	margin: 23px 0 0 25px;
}
h1 {
	font: 45px/100% arial, helvetica, sans-serif;
	text-shadow: 0 1px 1px #aaa;
	letter-spacing: -1px;
	margin: 130px -2px 30px;
	text-align: center;
}
#topform .search {
	float: left;
	margin: 19px 0 0 23px;	
}
#bottomform .search {
	margin-left: 225px;
}

.wrap{
	  width: 46%;
  margin-left: auto;
  margin-right: auto;
}

input.searchbox {
	font: 16px/100% arial, sans-serif !important;
	padding: 0px !important;
	  text-indent: 10px;
	/* padding: 7px 5px 6px !important; */
    width: 86%;
	position: relative;
	top : -1px;
	/* Firefox */
	height: -moz-calc(100% - 2px);
	/* WebKit */
	height: -webkit-calc(100% - 2px);
	/* Opera */
	height: -o-calc(100% - 2px);
	/* Standard */
	height: calc(100% - 2px);
		/* margin: 0 15px 0 0 !important; */
}
.submit {
	background: #5790ee url(../img/srchbtn2.png) no-repeat center center;
	border: 1px solid #4c76cf !important;
	width: 12% !important;
	height: 100%;
	/* padding: 8px 10px 8px !important; */
}
.submit:hover {
	background-color :  #3c78d7;
	border-color: #2f5bb7;
	box-shadow: 0 1px 1px #bbb;
	-webkit-box-shadow: 0 1px 1px #bbb;
	-moz-box-shadow: 0 1px 1px #bbb;	
}
@-moz-document url-prefix() {
    .submit {
		padding: 6px 10px 5px !important;
    }
}
#categories {
	width: 200px;
	vertical-align: top;
	float: left;
}
#res {
	float: left;
	width: 540px;
	padding: 0 40px 0 30px;
	margin-bottom: 20px;
}
#sidebar {
	float: left;
	width: 240px;
	vertical-align: top;
	padding-top: 0;
}
#categories hr {
	margin-left: 40px;
	border-color: #ebf0fa;
}
#categories ul {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
	line-height: 100%;
}
#categories ul li {
	margin: 0 0 1px;
	padding: 0;
}
#categories ul li a {
	display: block;
	padding: 12px 0 12px 40px;
	color: #333;
}
/*#categories ul li.active a {
	color: #275eb2;
	border-left: 5px solid #25468b;
	padding-left: 35px;
}*/
#categories ul li.active a, #categories ul li.active a:hover {
	background: #e5ecf8 url(../img/sidemenu.png) right 50% no-repeat !important;
	cursor: default;
}
#categories ul li a:hover {
	background: #f2f2f2;
	background: #f5f5f5 url(../img/sidemenu.png) right 50% no-repeat !important;;
	text-decoration: none;
}


#sidebar ul {
	margin: 5px 0 20px;
	padding: 0;
	list-style: none;
}
#sidebar ul li {
	margin: 0px 0 6px;
	color: #999;
}
#sidebar ul li a {
	font: 15px/120% arial, helvetica, sans-serif;
	color: #30c;
	padding-left: 24px;
}
#sidebar ul li a.web {
	background: url(../img/ico_web.png) left no-repeat;
}
#sidebar ul li a.images {
	background: url(../img/ico_images.png) left no-repeat;
}
#sidebar ul li a.videos {
	background: url(../img/ico_videos.png) left no-repeat;
}
#sidebar ul li a.news {
	background: url(../img/ico_news.png) left no-repeat;
}
#sidebar ul li a.shopping {
	background: url(../img/ico_shopping.png) left no-repeat;
}
#sidebar ul li a.translate {
	background: url(../img/ico_translate.png) left no-repeat;
}
#sidebar ul li a.games {
	background: url(../img/ico_games.png) left no-repeat;
}

#sidebar ul li a.on {
	font-weight: bold;
	color: #000;
}
.res {
	margin: 8px 0 0 0 !important;
	padding: 0;
	list-style: none;
	width: 540px;
	font: 13px/120% arial, helvetica, sans-serif;
}
.adv ul.res {
	margin-top: -10px !important;
}
.adv .res span {
	margin: 15px 0 5px;
}
.res span {
	color: #333;
}
.res span li div.deeplinks, .res span table.deeplinksads {
	margin: 3px 0 10px 2px !important;
	background: url(../img/deeplinks.png) 0px 3px no-repeat;
	padding-left: 14px;
}
.res span table.deeplinksads { 
	border: 0;
	border-spacing: 0;
	background: none;
	margin: 10px 0 18px 2px !important;
}
.res span table.deeplinksads td {
	padding: 0 15px 3px 0;
}
.res span div.deeplinks a, .res span div.deeplinksads a {
	margin-right: 10px;
	float: left;
}
.res span div.deeplinks a:hover, .res span table.deeplinksads a:hover {
	text-decoration: underline !important;
}
.rating {
	float: left;
	background: url(../img/rating0.png) 0 0 no-repeat;
	padding-left: 72px;
	line-height: 100%;
	margin: 1px 0 0 5px;
}
.rating a { color: #808080; }
.stars05 { background-image: url(../img/rating05.png); }
.stars1  { background-image: url(../img/rating1.png); }
.stars15 { background-image: url(../img/rating15.png); }
.stars2  { background-image: url(../img/rating2.png); }
.stars25 { background-image: url(../img/rating25.png); }
.stars3  { background-image: url(../img/rating3.png); }
.stars35 { background-image: url(../img/rating35.png); }
.stars4  { background-image: url(../img/rating4.png); }
.stars45 { background-image: url(../img/rating45.png); }
.stars5  { background-image: url(../img/rating5.png); }

body.images #webResults {
	width: auto !important;
}
body.images #res {
	width: 900px !important;
}
body.images #sideRelated {
	padding: 0 20px 0 40px;
}
body.images #sideRelated hr {
	margin-right: -20px !important;
}
body.images #mainResults, body.images #mainResultsTermsSide {
	display: none;
}
a.img {
	width: 120px;
	height: 140px;
	float: left;
	margin: 0 10px 10px 0;
	border: 1px solid #ccc;
	padding: 4px;
	font-size: 11px;
	line-height: 120%;
	color: #666;
	text-align: center;
	display: block;
}
a.img:hover {
	box-shadow: 0 1px 2px #ccc;
	text-decoration: none;
	border-color: #36c;
}
a.img div.thumb {
	width: 120px;
	height: 100px;
	overflow: hidden;
	margin-bottom: 8px;
}
a.img div.thumb img {
	min-width: 120px !important;
	min-height: 100px !important;
}
a.img span.imgurl {
	color: green;
	overflow: hidden;
	width: 100%;
	display: block;
}

.res span a img {
	border: 1px solid #ccc;
	padding: 1px;
}
.res span a {
	text-decoration: none !important;
}
.res span .title {
	color: #000;
}
.res span .restitle {
	color: #30c;
	text-decoration: underline !important;
	font-size: 16px;
	line-height: 120%;
	display: block;
	margin: 0 0 2px;
}
.res span span.resdesc {
	margin: 2px 0 1px;
	color: #111;
	display: block;
}
.restitle a, .resdesc a {
	color: inherit;
}
.res span .resurl, .res span .resurl a { 
	color: green !important;
	direction: ltr !important;
}
body#images #res { width: 100%; border: 0; padding: 0; float: none;}
#res .adv {
	border-bottom: 1px solid #ebf0fa;
	padding: 0px 7px 7px;
	margin: 0 -5px 10px -7px;
}
#bottom {
	border-bottom: 0 !important;
	border-top: 1px solid #ebf0fa !important;
	padding: 7px 7px 0 !important;	
}
#topResults, #bottomResults {
	margin: 2px -3px 5px !important;
}
#mainResults {
	margin: 10px 0;
	width: 540px;
	color: #333;
}
#mainResults span {
	margin: 0 0 20px;
	display: block;
	padding: 0;
}
#mainResults a {
	color: #30c;
	text-decoration: underline;
}
#mainResults .resultTitlePane a {
	font-size: 16px;
	margin: 0;
	font-weight: normal;
	text-decoration: underline !important;
}
#mainResults .resultDisplayUrlPane {
	margin: 0;
}
#mainResults .resultDisplayUrlPane a { 
	font-size: 14px;
	line-height: 10px;
	color: green !important;
	direction: ltr !important;
}
#relatedResults {
	margin-top: 3px;
}
#relatedListContainer {
	margin: 10px 0 20px;
	line-height: 120%;
}
#relatedListContainer h3 {
	margin: 0 0 5px;
}
#relatedList a {
	color: #30c;
	text-decoration: underline;
}
#suggestPanel {
	border: 1px solid #bbb;
	background: #fff;
	margin-top: -1px;
	width: 620px !important;
	box-shadow: 0px 0px 6px #ccc;
	-moz-box-shadow: 0px 0px 6px #ccc;
	-webkit-box-shadow: 0px 0px 6px #ccc;
}
body.home #suggestPanel {
	width: 39.5% !important;
}
@media screen and (max-width: 960px) {
	#suggestPanel, body.home #suggestPanel {
		width: 513px !important;
	}
}
@media screen and (max-width: 780px) {
	#suggestPanel, body.home #suggestPanel {
		width: 463px !important;
	}
}
@media screen and (max-width: 480px) {
	#suggestPanel, body.home #suggestPanel {
		width: 74% !important;
	}
}
#suggestPanel div {
	font-size: 14px;
	line-height: 100%;
	padding: 5px;
}
#suggestPanel .suggest_link_over {
	background: #e5e5e5 !important;
}

.rightfloat {
	float: right !important;
}
.leftfloat {
	float: left !important;
}
img#logo { padding-right:20px; }

ul#locale {
	box-shadow: 0px 4px 5px #ddd;
	-moz-box-shadow: 0px 4px 5px #ddd;
	-webkit-box-shadow: 0px 4px 5px #ddd;
	border: 1px solid #ddd;
	border-bottom: 5px solid #fff;
	border-top: 0;
	list-style: none;
	margin: -2px 0 0 0;
	padding: 10px 0 5px 10px;
	position: absolute;
	right: 5px;
	top: 20px;
	z-index: 20000;
	width: 640px;
	background: #fefefe url(../img/langbg.png) 0 0 no-repeat;

	/*width: 100px;*/
	background: #fefefe;
	border-bottom: 1px solid #fff;
}
body.home ul#locale {
	border-top: 1px solid #f5f5f5;
}
ul#locale li {
	padding: 5px 0;
	width: 25%;
	float: left;
}
ul#locale li a.on, ul#locale li a.on:hover {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
}
#logale_langs {
	float: left;
	width: 100px;
	padding: 0 0 0 0px;
	display: none;
}
#logale_langs li {
	width: 100% !important;
}
#locale_regions {
	background: #fff;
	float: left;
	width: 600px;
	margin-left: 20px;
	/*display: none;*/
}


#privacy {
	padding-right: 100px;
}
#notfound {
	display: none;
	padding-top: 20px;
	font-size: 16px;
	line-height: 120%;
	color: #36c;
}
table#topform {
	margin-left: 160px;
}
#searchmeta {
	padding: 4px 5px 6px;
	display: block;
	color: #808080;
}
.resfooter {
	margin: 0 0 0;
	padding: 10px 0 10px;
	font-size: 12px;
	color: #808080;
	text-align: center;
	width: 550px;
	margin-left: 225px;
}
#resfooter a {
	color: inherit;
}
.vid {
	width: 110px;
	height: 62px;
	float: left;
	margin: 5px 10px 0 0;
	border: 0;
	padding: 0;
	text-decoration: none !important;
}
.vid .thumb {
	width: 110px;
	height: 62px;
	z-index: 100;
	overflow: hidden;	
	z-index: 100 !important;
}
.vid .thumb img {
	border: 0 !important;
	padding: 0 !important;
	width: 114px;
	height: 66px;
	margin: -2px;
}
.vid .duraation {
	z-index: 101 !important;
	position: absolute;
	width: auto;
	height: 11px;
	background: #000 url(../img/video.png) 0 50% no-repeat;
	text-align: left;
	padding: 2px 5px 3px 16px;

	text-decoration: none !important;
	color: #fff !important;
	font: bold 11px/100% arial,verdana,sans-serif !important;
	margin-top: -16px;
}