* { margin: 0; padding: 0; list-style: none; }
body { font-size: 12px; font-family: Verdana, sans-serif; background: #fff; color: #000; background-color: #fff; background-image: url(/imgs/site//footer_bg.gif) repeat-x bottom; }
a { text-decoration: underline; color: #0145de; }
a:hover { text-decoration: none; }
a img { border: none; }
.clear { clear: both; }
.fclear { clear: both; height: 80px; }
.arrows li { background: url(/imgs/site/arrow.gif) no-repeat left 3px; padding: 0 0 12px 17px; }
.importent { font-size: 20px; color: #fcb400; text-align: center; }
.importent em { display: block; margin-bottom: 10px; font-style: normal; }
.alignleft { float: left; margin: 0 17px 20px 0; }
table { width: 100%; border-collapse:collapse; }
.btnline { margin-bottom: -5px; }
input.txt { padding: 2px 4px; border: 1px solid #bebebe;}
select  { padding: 2px; border: 1px solid #bebebe;}
textarea { border: 1px solid #bebebe; padding: 4px; }
.w260 { width: 260px; }
.w430 { width: 430px; }
.w60 { width: 60px; }
.w180 { width: 180px; }
small { color: #545454; font-size: 11px; }
.g { color: #6b6868; }

.selectline select { margin: 0 5px; }
.l24 { line-height: 24px; }
.inputform { margin-bottom: 15px; }
.inputform li { margin-bottom: 5px;	}
.inputform .fileinfo { margin-left: 185px; color: #5a5a5a; }
.inputform label { float: left; width: 186px; font-weight: bold; }
.rss li { background: url(/imgs/site/irss.gif) no-repeat left; padding: 2px 0 2px 30px; margin-bottom: 5px; }
.rss li a { text-decoration: none; color: #6b6868; }

#site { width: 1212px; position: relative; margin: 0 auto; }

/* Header
-------------------------- */
#header { height: 105px; }
#header h1 { position: absolute; top: 15px; left: 0; }
#header .stat { position: absolute; top: 25px; left: 273px; line-height: 28px; }
#header .stat strong { color: #004ee3; }
#header .info { position: absolute; top: 32px; right: 0; }
#header .info li { float: left; padding-left: 42px; }
#header .topmenu { position: absolute; top: 60px; right: 0; }
#header .topmenu li { float: left; padding: 0 27px; border-right: 1px solid #000; }
#header .topmenu li.end { border: none; padding-right: 0; }
#header .topmenu li a { text-transform: uppercase; text-decoration: none; color: #000; }
#header .topmenu li a:hover, #header .topmenu li.active a { color: #f57d16; }

/* Sidebar
-------------------------- */
#sidebar { float: left; width: 245px; }
#sidebar .links li { line-height: 24px; font-weight: bold; }

.mainmenu { margin-bottom: 40px; }
.mainmenu ul li { margin-bottom: 4px; }
.mainmenu ul li a { background-position: 0 0; width: 205px; height: 56px; display: block; color: #3d3d3d; font-size: 19px; padding-left: 40px; line-height: 56px; text-decoration: none; text-transform: uppercase; }
.mainmenu ul li a:hover, .mainmenu ul li.active a { background-position: 0 -56px; color: #fff; }
.mainmenu ul li a span { display: none; }
.mainmenu ul li.sub { margin-top: -5px; }
.mainmenu ul li.sub a { padding-left: 70px !important; width: 175px !important; }
.mainmenu ul li.sub a:hover { background-position: 0 0!important; color: #fcb400; }
.mainmenu ul li.m_availabletraffic a { line-height: 69px !important; }

.mainmenu ul li.m_buytraffic a { background-image: url(/imgs/site/m_buy_traffic.gif); }
.mainmenu ul li.m_sell_traffic a { background-image: url(/imgs/site/m_sell_traffic.gif); }
.mainmenu ul li.m_user_guide a { background-image: url(/imgs/site/m_user_guide.gif); }
.mainmenu ul li.m_register a { background-image: url(/imgs/site/m_register.gif); }
.mainmenu ul li.m_money a { background-image: url(/imgs/site/m_money.gif); }
.mainmenu ul li.m_mydomains a { background-image: url(/imgs/site/m_mydomains.gif); }
.mainmenu ul li.m_affilates a { background-image: url(/imgs/site/m_affilates.gif); }
.mainmenu ul li.m_myprofile a { background-image: url(/imgs/site/m_myprofile.gif); }
.mainmenu ul li.m_availabletraffic a { background-image: url(/imgs/site/m_availabletraffic.gif); }
.mainmenu ul li.m_manageorders a { background-image: url(/imgs/site/m_manageorders.gif); }

.loginform { margin-bottom: 62px; }
.forgot { line-height: 28px; }
.loginform h3 { text-transform: uppercase; font-size: 13px; margin-bottom: 20px; }
.loginform ul li { margin-bottom: 7px; }
.loginform .txt { border: 1px solid #b6b6b6; padding:2px; width:174px; }
.loginform label { float: left; width: 65px; line-height: 22px; }
.loginform .btn { border: 0; background: url(/imgs/site/btn_signin.gif); width: 85px; height: 22px; float: right; }
.loginform .btn_out { border: 0; width: 85px; height: 22px; float: right; background: url(/imgs/site/btn_logout.gif); }

.support { margin-bottom: 38px; }

/* Content
-------------------------- */
#content { width: 941px; float: right; position: relative; line-height: 18px; }
#content h2 { font-size: 22px; font-weight: normal; color: #024cda; margin-bottom: 15px; }
#content p { margin-bottom: 15px; }

.balance { position: absolute; top: -15px; right: 0; background: url(/imgs/site/balance_bg.gif); width: 161px; height: 34px; line-height: 34px; text-align: center; font-weight: bold; font-size: 14px; }
.affiliates_menu td { width: 50%; }
.tab tr { border-left: 1px solid #bababa; border-right: 1px solid #bababa; }
.tab td.active { background: #edeef0; border-top: 1px solid #bababa; }
.tab td { font-size: 18px; padding-bottom: 13px; text-align: center; background: #edeef0 url(/imgs/site/tabmenu_bg.gif) repeat-x top; border-top: 1px solid #f6bd17; }
.tab td.grey { border-top: 1px solid #b9b9b9; }
.tab td.sep { width: 21px; vertical-align: top; }
.tab a { color: #fff; text-decoration: none; }
.balance:hover, .tab td.active:hover, .tab a:hover{text-decoration: underline; }
.tab .cnt { background: #edeef0; border: none; text-align: left; padding-left: 30px; font-size: 12px; }

.nocontent { margin-bottom: 13px; border-bottom: 1px solid #bababa; }

.clearlist li { overflow: hidden;}

.banner { margin-bottom: 35px; }

.servicelist { font-weight: bold; }
.servicelist .dark { background: #f0f0f0 url(/imgs/site/ok_grey.gif) no-repeat left top; border-bottom: 1px solid #dcdcdc; padding: 8px 0 8px 30px; }
.servicelist .light { background: url(/imgs/site/ok_light.gif) no-repeat left 3px; padding: 8px 0 8px 30px; }

.icqblock { margin-bottom: 35px; }
.icqblock li { line-height: 30px; padding-left: 35px; }
.icqblock li.icqonline { background: url(/imgs/site/icqonline.png) no-repeat left; }
.icqblock li.icqoffline { background: url(/imgs/site/icqoffline.png) no-repeat left; }

.terms ol { margin-left: 15px; }
.terms ol li { list-style: lower-alpha outside; }
.terms ol.decimal li { list-style: decimal outside; }
.firstterms { color: #fcb400; }
.terms table, .terms th, .terms td { border: #000 solid 1px; }

.menus { margin-bottom: 20px; overflow: hidden; _zoom: 1; }
.menu_buyers { margin-right: 19px; display: inline; }
.mnu { background: url(/imgs/site/menu_block.png); float: left; width: 461px; height: 216px; }
.mnu h3 { font-size: 20px; color: #fff; font-weight: normal; margin: 17px 0 17px 25px; }
.mnu ul { padding: 10px 30px 0 0; }
.mnu ul li { background: url(/imgs/site/arrow_menu.png) no-repeat left 9px; margin-left: 25px; padding-left: 17px; line-height: 24px; }

.faq { margin-bottom: 20px; }
.faq .item { background: #f1f1f1; border: 1px solid #d4d4d4; margin-bottom: 10px; }
.faq .quest { border-bottom: 1px solid #e3e3e3; background: url(/imgs/site/iquest.png) no-repeat 5px 5px; padding: 7px 0 7px 32px; font-weight: bold; color: #0145de; }
.faq .answer { border-top: 1px solid #fcfcfc; background: url(/imgs/site/ianswer.png) no-repeat 5px 5px; padding: 7px 0 7px 32px; }

.addnewurl label { line-height: 22px; }
.addnewurl span { padding-right: 70px; }
.addnewurl .txt { width: 315px; }
.price, .addnewurl  .txt .price { width: 64px; text-align: center; }
.addnewurl select { width: 330px; }

/* Table
-------------------------- */
table.data { border: 1px solid #b3b3b3; border-top: 1px solid #d4d4d5; background: url(/imgs/site/th_bg.gif) repeat-x top; margin-bottom: 30px; }
table.data th { font-size: 16px; text-align: center; font-weight: normal; border-bottom: 1px solid #d5d5d5; padding: 18px 0 15px; vertical-align: top;  color: #2d2d2d; border-right:5px solid #E2E3E4;}
table.data th div { font-size: 12px; }
table.data td { line-height: 24px; padding-left: 20px; border-bottom: 1px solid #E2E3E4; background: #fff; text-align:center; border-right:5px solid #E2E3E4;}
table.data tr.s td { background: #edeef0; }
table.data tr.select, table.data tr:hover td { background: #feebba; }
table.data tr.select td, table.data tr:hover td { background-image: none; }
.thpos { position: relative; }
table.data .del { position: absolute; top: -29px; right: 0; }
.pad_0{padding:0px 0px 0px 0px;padding-left:0px}

.traffwrapper { overflow: hidden; _zoom: 1; margin-bottom: 25px; }
.traff { float: left; width: 228px; padding-right: 7px; }
.traff h2 { margin-bottom: 10px; }
.traff h2 img{vertical-align:middle;}
.traff .inner { background: url(/imgs/site/traff.gif); width: 228px; height: 120px; }
.traff .inner div { padding: 10px 10px 0 10px; line-height: 18px; font-weight: bold; color: #5a5a5a; display:block;height:75px;}
.traff .inner div strong { color: #000; }
.traff .inner b{float:left;margin-left:10px;color:#348D12;  font-size:24px;  font-weight:bold;  line-height:25px;  }
.traff .price { margin:2px 0 0 17px; }
.traff .order { float: right; padding-right: 13px; }


.paymentmethod { margin-bottom: 50px; }
.paymentmethod li { display: inline; padding-right: 40px; }

.scorestable { width: 380px; font-weight: bold; line-height: 18px; margin-bottom: 15px; }
.scorestable th { text-align: left; }
.scorestable b { color: #f57d16; }

.hotlink td { padding-bottom: 25px; }
.hotlink textarea { width: 100%; padding: 17px 5px; border: 1px solid #c2c2c2; }
.hotlink .self { width: 200px; font-weight: bold; }

#popup { background: url(/imgs/site/bg-thumb-rollover.png); left:0; position:absolute; top:0; width:100%; z-index:999; }
.window { width: 1212px; position: relative; margin: 0 auto; }
.window .inner { position: absolute; }

.hourlystats { background: #fff; padding: 20px; top: 135px; left: 260px; }
.hourlystats table { border: 1px solid #bbbbbb; border-bottom: 0; margin-bottom: 20px; }
.hourlystats th {  background: url(/imgs/site/th_bg.gif) repeat-x top; font-size: 22px; text-align: left; font-weight: normal; border: 1px solid #d5d5d5; padding: 10px 0 10px 20px;  }
.hourlystats td { border-bottom: 1px solid #bbbbbb; background: #fff; padding: 8px; }
.hourlystats tr.s td { background: #f1f1f1; }

.sellingtrafficpopup th { padding: 10px 15px 15px !important;  }
.sellingtrafficpopup td { padding: 0 0 0 20px !important;  }

.underwindow { position: absolute; background: #4a4a4a !important; z-index: 99; left: 370px !important; }
.trafficpopup { padding: 20px; background: #fff; top: 170px; left: 300px; width: 540px; }
.trafficpopup .balance { top: 20px !important; right: 10px !important; }
.trafficpopup h2 { margin-bottom: 20px; font-size: 20px; font-weight: normal; }
.trafficpopup p { margin-bottom: 12px; }

.doublepopup { background: #fff; padding: 20px; top: 220px; left: 415px; z-index: 9999; }

.mainsettings { margin-bottom: 25px; }
.mainsettings ul li { margin-bottom: 10px; clear: both; }
.mainsettings ul li div { float: left; width: 312px; }
.pl15 { padding-left: 16px; }
.pl15 div { width: 296px !important; }
.pl15 .txt { width: 65px; }

.requestfunds li { margin-bottom: 10px; }
.requestfunds select { width: 190px; }

/* Footer
-------------------------- */
#footer { height: 45px; }
.copyright { float: left; }
.payment { float: right; }
.payment li { float: left; padding-left: 10px; }
.bottommenu { margin: 0 250px; text-align: center; }
.bottommenu li { display: inline; border-right: 1px solid #000; padding: 0 15px 0 10px; }
.bottommenu li.end { border: none; }
.bottommenu li a { color: #000; text-decoration: none;  }
.bottommenu li a:hover { text-decoration: underline; }


.disp_no{display:none}


table.data th a.arrow_down {
    color: #2d2d2d;
    text-decoration:none;
    background: url(../images/arrow_down.gif) center right no-repeat;
    padding-right: 10px;
}
table.data th a.arrow_up {
    color: #2d2d2d;
    text-decoration:none;
    background: url(../images/arrow_up.gif) center right no-repeat;
    padding-right: 10px;
}
table.data th a span {
    display: none;
}
.ie6 table.data th a.arrow_up span {
    width: 5px;
    height: 5px;
    background: url(../images/arrow_up.png) top left no-repeat;
    position: absolute;
    right: -10px;
    top: 5px;
}
.ie6 table.data th a.arrow_down span {
    width: 5px;
    height: 5px;
    background: url(../images/arrow_down.gif) top left no-repeat;
    position: absolute;
    right: -10px;
    top: 5px;
}


.disp_no{display:none}

.box table.reg {
    border: none;
} #content .box table.reg p {
    padding: 5px 0;
} .box table.reg th {
    text-align: right;
    padding: 5px;
    vertical-align: top;
    border: none;
} .box table.reg td {
    padding: 5px;
    vertical-align: top;
    background: none;
    border: none;
    text-align: left;
} .box table.reg td input.text {
    position: relative;
    top: -2px;
    font-size: 12px;
    font-family: Tahoma;
} .box table.reg td input.checkbox {
    top: 2px;
} .box table.reg tr:hover td {
    background: none;
}
.box table.reg tr.company {
    display: none;
}
.box table.reg tr.vat {
    display: none;
}