@charset "utf-8";

/* last modified 141208 */
/* by s.shimomoto */

/* For Common header,
Grand menu,
Common footer */
body {
	margin: 0;
	padding: 0;
}

ul, ol, li, dl {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* for footer img */
#gm_footer img {
	display: inline;
}

#common_header:after,
#common_gmenu:after,
#dol_topicpath:after,
#dolHeaderV110125:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

#common_header img,
#common_gmenu img,
#common_footer img,
#common_family img,
#common_sidelink img {
	border: none;
}

#common_header {
	margin: 0 auto 10px;
	padding: 10px 0 0;
	width: 970px;
}

#common_header h1 {
	margin: 0;
	padding: 0 0 10px 0;
	width: 222px;
	float: left;
}

#common_header #superbanner {
	float: right;
	height: 90px;
	width: 728px;
}

/* 090602新AXYZスクリプト対策ここから */
#common_header #AXYZPos0 {
	float: left;
	height: 90px;
	width: 728px;
}
/* 090602新AXYZスクリプト対策ここまで */

#common_gmenu {
	background: url(http://common.dengeki.com/images_header/gmenu_back.gif) 0 0 repeat-x;
	height: 45px;
	width: 100%;
}

#common_gmenu ul {
	margin: 0 auto;
	padding: 0;
	height: 45px;
	width: 970px;
}

#common_gmenu ul li {
	float: left;
	margin: 0;
	padding: 0;
	height: 45px;
	list-style-type: none;
}

#common_gmenu ul li a {
	display: block;
	height: 45px;
}

#common_gmenu ul li a em {
	display: none;
}

#common_gmenu ul li#com a {
	background: url(http://common.dengeki.com/images_header/common_com.gif) 0 0 no-repeat;
	width: 222px;
	padding: 0 7px 0 0;
}

#common_gmenu ul li#dol a {
	background: url(http://common.dengeki.com/images_header/common_dol.gif) 0 0 no-repeat;
	width: 94px;
	padding: 0;
}

#common_gmenu ul li#dol a:hover {
	background: url(http://common.dengeki.com/images_header/common_dol.gif) 0 -45px no-repeat;
}

#common_gmenu ul li#hobby a {
	background: url(http://common.dengeki.com/images_header/common_hobby.gif) 0 0 no-repeat;
	width: 101px;
	padding: 0;
}

#common_gmenu ul li#hobby a:hover {
	background: url(http://common.dengeki.com/images_header/common_hobby.gif) 0 -45px no-repeat;
}

#common_gmenu ul li#bunko a {
	background: url(http://common.dengeki.com/images_header/common_bunko.gif) 0 0 no-repeat;
	width: 94px;
	padding: 0;
}

#common_gmenu ul li#bunko a:hover {
	background: url(http://common.dengeki.com/images_header/common_bunko.gif) 0 -45px no-repeat;
}

#common_gmenu ul li#comics a {
	background: url(http://common.dengeki.com/images_header/common_comics.gif) 0 0 no-repeat;
	width: 101px;
	padding: 0;
}

#common_gmenu ul li#comics a:hover {
	background: url(http://common.dengeki.com/images_header/common_comics.gif) 0 -45px no-repeat;
}

#common_gmenu ul li#channel a {
	background: url(http://common.dengeki.com/images_header/common_ch.gif) 0 0 no-repeat;
	width: 94px;
	padding: 0;
}

#common_gmenu ul li#channel a:hover {
	background: url(http://common.dengeki.com/images_header/common_ch.gif) 0 -45px no-repeat;
}

#common_gmenu ul li#dengekiya a {
	background: url(http://common.dengeki.com/images_header/common_dengekiya.gif) 0 0 no-repeat;
	width: 94px;
	padding: 0;
}

#common_gmenu ul li#dengekiya a:hover {
	background: url(http://common.dengeki.com/images_header/common_dengekiya.gif) 0 -45px no-repeat;
}

#common_gmenu ul li#mw a {
	background: url(http://common.dengeki.com/images_header/common_mw.gif) 0 0 no-repeat;
	width: 112px;
	margin: 0 0 0 51px;
	padding: 0;
}

#common_gmenu ul li#amw a {
	background: url(http://common.dengeki.com/images_header/common_amw.gif) 0 0 no-repeat;
	width: 112px;
	margin: 0 0 0 51px;
	padding: 0;
}

div#common_footer {
	font-style: normal;
	font-weight: normal;
	width: 820px;
	padding: 10px 75px;
	margin: 0 auto;
	clear: both;
}

#common_footer #common_footer_main {
	font-size: 11px;
	line-height: 11px;
	background-color: #F3F3F3;
	display: block;
	width: 810px;
	padding: 3px 5px;
}

#common_footer #common_footer_main p{
	font-size: 11px;
	line-height: 11px;
	text-align: center;
	padding: 0;
	margin: 0;
}

#common_footer a {
	color: #1E7DBD;
	text-decoration: none;
}

#common_footer a:hover {
 	text-decoration: underline;
}

#common_footer img {
	vertical-align: middle;
}

#common_footer #common_footer_top {
	font-size: 1px;
	line-height: 1px;
	background-image: url(http://common.dengeki.com/images_footer/footer_bg1.gif);
	background-repeat: no-repeat;
	background-position: top;
	height: 4px;
	width: 820px;
}

#common_footer #common_footer_bottom {
	font-size: 1px;
	line-height: 1px;
	background-image: url(http://common.dengeki.com/images_footer/footer_bg2.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	height: 4px;
	width: 820px;
}

#common_footer address {
	text-align: center;
	margin: 20px 0 10px 0;
}

#common_footer #amwcopy {
	text-align: center;
	margin: 20px 0 30px 0;
}

#common_family {
	width: 160px;
	background: url(http://common.dengeki.com/images_common/familysite_down.gif) 0 bottom no-repeat;
	margin: 0 0 4px;
	padding: 0 0 5px;
}

#common_family h3 {
	margin: 0;
	background-image: url(http://common.dengeki.com/images_common/familysite_back.gif);
}

#common_family dl {
	background-image: url(http://common.dengeki.com/images_common/familysite_back.gif);
	background-repeat: repeat-y;
	padding: 7px 7px;
	margin: 0;
	width: 146px;
}

#common_family dd {
	font-size: 11px;
	line-height: 13px;
	margin: 0 0 3px 8px;
}

#common_sidelink {
	width: 160px;
}

#common_sidelink h3 {
	margin: 0 0 4px;
	padding: 0;
}

/* 09.04.24 shimomoto new header */
#common_header_new img,
#common_footer img,
#common_family img,
#common_sidelink img {
	border: none;
}

#common_header_new {
	zoom: 1;
	margin: 0 auto;
	width: 970px;
	height: 110px;
}

#common_header_new:after {
	content:" ";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

#common_header_new h1 {
	padding: 0 6px 0 0;
	margin: 0;
	width: 222px;
	float: left;
}

#common_header_new #superbanner {
	float: left;
	height: 90px;
	width: 728px;
	padding: 10px 0 0 5px;
}

/* 09.04.24 shimomoto new grandmenu */

#grandmenu_body {
	height: 45px;
	width: 100%;
	margin: 0;
	padding: 0;
	background: url(http://common.dengeki.com/header/images/new_header_back.gif) 0 0 repeat-x;
}

/* 09.05.13 shimomoto new grandmenu backline */

#grandmenu_new_long {
	height: 45px;
	width: 970px;
	text-indent: -9999px;
	margin: 0 auto;
	padding: 0;
	background: url(http://common.dengeki.com/header/images/new_grandmenu_long.jpg) 0 0 no-repeat;
}

#grandmenu_new_long li {
	height: 45px;	
	margin: 0;
	padding: 0;
	display: block;
	float: left;
}

#grandmenu_new_long a {
	text-decoration: none;
	height: 45px;
	margin: 0;
	padding: 0;
	display: block;
	float: none;
	background: url(http://common.dengeki.com/header/images/new_grandmenu_long.jpg) left top no-repeat;
}

/* 09.04.24 shimomoto new grandmenu noback */

#grandmenu_new {
	height: 45px;
	width: 970px;
	text-indent: -9999px;
	background: url(http://common.dengeki.com/header/images/new_grandmenu.jpg) 0 0 no-repeat;
	margin: 0 auto;
}

/* 09.04.24 shimomoto */
#grandmenu_new_long ul {
	margin: 0;
	padding: 0;
}

#grandmenu_new li {
	display: inline;
}

#grandmenu_new a {
	text-decoration: none;
	height: 45px;	
	padding: 0;
	float: left;
	background: url(http://common.dengeki.com/header/images/new_grandmenu.jpg) 0 0 no-repeat;
}

/* 09.03.25 o-murakami new grandmenu ver2 */

#gmenu_com a {width: 232px; background-position:0 0}
#gmenu_dol a {width: 93px; background-position:-232px 0}
#gmenu_hobby a {width: 97px; background-position:-323px 0}
#gmenu_bunko a {width: 99px; background-position:-420px 0}
#gmenu_comics a {width: 96px; background-position:-519px 0}
#gmenu_channel a {width: 99px; background-position:-615px 0}
#gmenu_dengekiya a {width: 93px; background-position:-714px 0}
#gmenu_amw a {width: 161px; background-position:-807px 0}

#gmenu_com a:hover {background-position:0 -45px}
#gmenu_dol a:hover {background-position:-232px -45px}
#gmenu_hobby a:hover {background-position:-323px -45px}
#gmenu_bunko a:hover {background-position:-420px -45px}
#gmenu_comics a:hover {background-position:-519px -45px}
#gmenu_channel a:hover {background-position:-615px -45px}
#gmenu_dengekiya a:hover {background-position:-714px -45px}
#gmenu_amw a:hover {background-position:-807px -45px}

#gmenu_dol2 a {width: 93px; background-position:-232px -45px}
#gmenu_hobby2 a {width: 97px; background-position:-323px -45px}
#gmenu_bunko2 a {width: 99px; background-position:-420px -45px}
#gmenu_comics2 a {width: 96px; background-position:-519px -45px}
#gmenu_channel2 a {width: 99px; background-position:-615px -45px}
#gmenu_dengekiya2 a {width: 93px; background-position:-714px -45px}

#gmenu_dol2 a:hover {background-position:-232px -45px}
#gmenu_hobby2 a:hover {background-position:-323px -45px}
#gmenu_bunko2 a:hover {background-position:-420px -45px}
#gmenu_comics2 a:hover {background-position:-519px -45px}
#gmenu_channel2 a:hover {background-position:-615px -45px}
#gmenu_dengekiya2 a:hover {background-position:-714px -45px}



/* 09.03.04 shimomoto footer tensen */

#footer_tensen {
	width: 870px;
	margin: 1px auto 18px;
	border-bottom: 1px dashed #999999;
	font-size: 1px;
	height: 1px;
	clear: both;
}

#footer_tensen2 {
	width: 870px;
	margin: 0 auto;
	height: 30px;
	background-image: url(http://common.dengeki.com/footer/images/footer_tensen.gif);
	clear: both;
}

/* 09.03.19 shimomoto footer dol */
/* 090326 use with CMS	*/
#common_header_new h1#dol_header {
	padding: 10px 6px 9px 0;
	margin: 0;
	width: 222px;
	height: 81px;
	float: left;
}
/* 090326 use with CMS	*/

/* 09.05.13 shimomoto footer dol */
div#footer_dol {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #333333;
	width: 780px;
	margin: 0 auto 3px auto;
	padding: 20px 70px 0 72px;
	min-height: 40px;
	height: auto !important;
	height: 40px;
	clear: both;
}

#footer_dol a:link {
	color: #3890ca;
	text-decoration: none;
}

#footer_dol a:visited {
	color: #915098;
	text-decoration: none;
}

#footer_dol a:hover {
	color: #ff9900;
	text-decoration: underline;
}

#footer_dol a:active {
	color: #ff9900;
	text-decoration: underline;
}

#footer_family a.footer_family_dol {
	color: #3890ca;
}

#footer_dol #footer_dol_title {
	width: 150px;
	margin: 8px 4px;
	padding: 2px 0 0;
	height: 17px;
	float: left;
}

#footer_dol #footer_dol_title p {
	margin: 0;
	padding: 0;
	float: none;
}

#footer_dol #footer_dol_menu {
	width: 610px;
	margin: 1px 6px;
	font-size: 13px;
	font-style: normal;
	text-decoration: none;
	list-style-type: none;
	min-height: 32px;
	height: auto !important;
	height: 32px;
	float: right;
}

#footer_dol_menu ul,
#footer_dol_menu li {
	line-height: 1.2em;
	margin: 0;
	padding: 0;
}

#footer_dol_menu em {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

#footer_dol a {
	color: #45A3D5;
}

#footer_dol a:hover {
	text-decoration: underline;
}

#footer_dol img {
	border: none;
}

/* 10.08.09 o-murakami footer hobby */

#footer_hobby {
	width: 740px;
	margin: 20px auto 5px auto;
	height: 60px;
}

#footer_hobby_menu {
	width: 570px;
	margin: 1px 7px;
	font-size: 13px;
	font-style:normal;
	line-height:130%;
	height: 50px;
	float:left;
}

#footer_hobby a {
	color: #FF6600;
	text-decoration:none;/*09.09.08 M.O*/
}

#footer_hobby_title {
	width: 132px;
	margin: 17px 5px;
	height: 22px;
	float:left;
}

#footer_hobby_title img{
	border: none;/*09.09.08 M.O*/
}

#footer_hobby_menu em {
	font-style: normal;
	text-decoration: none;
	list-style-type: none;
}


/* 11.02.04 s.shimomoto footer bunko */

#footer_bunko {
	width: 690px;
	margin: 20px auto 8px auto;
	height: 50px;
}

#footer_bunko_title {
	width: 80px;
	margin: 15px 8px;
	height: 24px;
	float:left;
}

#footer_bunko_title img{
	border: none;/* 09.09.08 M.O */
}

#footer_bunko_menu {
	width: 570px;
	margin: 1px 7px;
	font-size: 13px;
	font-style: normal;
	/* text-decoration: none; */
	list-style-type: none;
	line-height:130%;
	height: 50px;
	float:left;
}

#footer_bunko_menu ul {
	list-style-type: none;
}

#footer_bunko_menu em {
	font-style: normal;
	text-decoration: none;
	list-style-type: none;
}

#footer_bunko a {
	color: #66CC33;
	text-decoration:none;/* 09.09.08 M.O */
}

#common_footer_main_bunko {
	font-size: 11px;
	line-height: 11px;
	background-color: #F3F3F3;
	display: block;
	width: 810px;
	padding: 3px 5px 3px 5px;
}

#common_footer_main_bunko p{
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	padding: 0;
	margin: 0;
}

/* 09.04.07 o-murakami footer comic */

#footer_comic {
	width: 745px;
	margin: 20px auto 12px auto;
	height: 40px; /* 10.05.27 M.O */
}

#footer_comic_title {
	width: 140px;
	margin: 7px 6px;
	height: 23px;
	float:left;
}

#footer_comic_title img{
	border: none; /* 09.09.08 M.O */
}

#footer_comic_menu {
	width: 580px;
	margin: 1px 0;
	font-size: 13px;
	font-style:normal;
	line-height:130%;
	height: 32px;
	float:left;
}

#footer_comic a {
	color: #CC3366;	
  text-decoration:none; /* 09.09.08 M.O */
}

#footer_comic_menu em {
	font-style: normal;
	text-decoration: none;
	list-style-type: none;
}


/* 09.04.07 o-murakami footer ch */

#footer_ch {
	width: 810px;
	margin: 20px auto 8px auto;
	height: 35px;
}

#footer_ch_title {
	width: 150px;
	margin: 10px 4px;
	height: 17px;
	float:left;
}

#footer_ch_title img{
	border: none; /* 09.09.08 M.O */
}

#footer_ch_menu {
	width: 640px;
	margin: 9px 0;
	font-size: 13px;
	font-style:normal;
	line-height:130%;
	height: 15px;
	float:left;
}

#footer_ch a {
	color: #006931;
	text-decoration:none; /* 09.09.08 M.O */
}

#footer_ch_menu em {
	font-style: normal;
	text-decoration: none;
	list-style-type: none;
}


/* 09.04.28 shimomoto footer FamilySite */

div#footer_family {
	color: #333333;
	width: 970px;
	margin: 8px auto;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	text-align: center;
}

#footer_family img {
	vertical-align: middle;
}

#footer_family em {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

#footer_family a {text-decoration: none;}

#footer_family a:hover {text-decoration: underline;}

#footer_family a.footer_family_com {color: #EF2A24;}
#footer_family a.footer_family_dol {color: #45A3D5;}
#footer_family a.footer_family_hobby {color: #FF6600;}
#footer_family a.footer_family_bunko {color: #66CC33;}
#footer_family a.footer_family_comic {color: #CC3366;}
#footer_family a.footer_family_channel {color: #006931;}
#footer_family a.footer_family_dengekiya {color: #F2B600;}

div#footer_maga {
	font-style: normal;
	font-weight: normal;
	color: #333333;
	width: 970px;
	margin: 12px auto 15px;
	font-size: 13px;
	text-align: center;
	line-height: 120%;
	font-style: normal;
	text-decoration: none;
	list-style-type: none;
}

#footer_maga a {text-decoration: none;}

#footer_maga a:hover {text-decoration: underline;}

#footer_maga em {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

/* 全ページ共通のリンク色をセット（最下部と同じ色） */
/* 090331 shimomoto */
#footer_maga a {
	color: #1E7DBD;
}



/************************************************************/
/* dengeki magazine list */
/* 090515 shimomoto */
#mgzn_lst h2,
#mgzn_lst ul,
#mgzn_lst li {
	margin: 0;
	padding: 0;
}

#mgzn_lst {
	width: 160px;
	margin: 0 0 4px;
}

#mgzn_lst a {
	text-decoration: none;
	outline: none;	
}

#mgzn_lst a:link {
	color: #3890ca;
}

#mgzn_lst a:visited {
	color: #915098;
}

#mgzn_lst a:hover {
	color: #ff9900;
	text-decoration: underline;
}

#mgzn_lst a:active {
	color: #ff9900;
	text-decoration: underline;
}

#mgzn_lst #mgzn_body {
	width: 160px;
	background: url(http://common.dengeki.com/images_common/magazine_bg.gif) 0 0 repeat-y;
}

#mgzn_lst #mgzn_foot {
	width: 160px;
	background: url(http://common.dengeki.com/images_common/magazine_foot.gif) 0 bottom no-repeat;
	padding: 0 0 4px;
}

#mgzn_lst ul {
	background: url(http://common.dengeki.com/images_common/magazine_list_bg.gif) 0 0 no-repeat;
	padding: 3px 0 0;
}

#mgzn_lst li {
	background: url(http://common.dengeki.com/images_common/magazine_tri.gif) 7px center no-repeat;
	color: #666666;
	font-size: 100%;
	line-height: 1.1;
	padding: 5px 0 3px 17px;
	font-size: 13px;
}

#mgzn_lst ul li#magazine_ac {
	font-size: 11px;
}

/******************************/
/* DOL新フッター 2014.11 */
/******************************/
footer#footerDol {
	clear: both;
	margin: 0 auto;
	padding: 20px 0;
	width: 1000px;
}

footer#footerDol ul {
	margin: 20px 0;
	text-align: center;
}

footer#footerDol ul#footerMenu {
	background-color: #f0f0f0;
	border-radius: 5px;
	padding: 10px;
}

footer#footerDol li {
	border-right: 1px solid #909090;
	display: inline-block;
	font-size: 12px;
	line-height: 1.2em;
	padding: 0 0.75em;
}

footer#footerDol li:last-child {
	border-right: none;
}

#corpCopyright {
	font-size: 12px;
	line-height: 1.2em;
	margin: 20px 0;
	text-align: center;
}
