@charset "utf-8";

/*

電撃オンライン デフォルトCSS
Last Update 14.07.30

*/

/* 13/3/18変更 */
a:link { /*	color: #44557a;*/
/*	color: #1d3994;*/
color: #3890ca; }

a:visited { /*	color: #62138f;*/
/*	color: #660099;*/
color: #8f078f; }

a:hover,
a:active {
	color: #cb4516;
	text-decoration: underline;
}

a:hover img,
a:r img {
	filter: alpha(opacity=85);
	-ms-filter: "alpha(opacity=85)";
	opacity: 0.85;
}

/* clearfix */
#bg:after,
#contents:after,
#newsWrapper:after,
#newsHeader:after,
.dailyHeader:after,
.article:after,
.artMeta:after,
.artMain:after,
.artRel:after,
.archHeader:after,
.yearBox:after,
li:after,
article:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

/* for IE6 */
* html #bg,
* html #contents,
* html #newsWrapper,
* html #newsHeader,
* html .dailyHeader,
* html .article,
* html .artMeta,
* html .artMain,
* html .artRel,
* html .archHeader,
* html .yearBox,
* html li { display: inline-block; }

/* for IE7 */
*:first-child+html #bg,
*:first-child+html #contents,
*:first-child+html #newsWrapper,
*:first-child+html #newsHeader,
*:first-child+html .dailyHeader,
*:first-child+html .article,
*:first-child+html .artMeta,
*:first-child+html .artMain,
*:first-child+html .artRel,
*:first-child+html .archHeader,
*:first-child+html .yearBox,
*:first-child+html li,
*:first-child+html article { display: inline-block; }

/* 全体背景 */
#bg {
	border-bottom: 1px solid #a7a7a7;
	margin: 0 auto;
	width: 1230px;
}

/* 中央 */
#contents {
	border: 1px solid #c0c0c0;
	border-bottom: none;
	margin: 0 auto;
	padding: 5px 0 0;
	width: 1228px;
}

/* デフォルト */
#contents { background-color: #d9ecef; }

/* 電撃オンライン */
#dol #contents { background-color: #d9ecef; }

/* 電撃PlayStation */
#dps #contents { background-color: #e5e8f4; }

/* 電撃Xbox */
#xbox360 #contents,
#xbox #contents { background-color: #cfe3cc; }

/* 電撃Nintendo */
#nintendo #contents { background-color: #eef4f6; }

/* 電撃PCゲーム */
#dpc #contents { background-color: #f5e5cc; }

/* 電撃カードゲーム */
#dcg #contents { background-color: #fafafa; }

/* 電撃ゲームアプリ */
#dga #contents { background-color: #f0fcfb; }

/* DGS 140730 */
#dgs #contents { background-color: #f2d1d5; }

/* DAG 140730 */
#dag #contents { background-color: #e0e0e0; }

#contents #center {
	float: left;
	left: 252px;
	position: relative;
	z-index: 1;
}

#contents #left {
	float: left;
	left: -664px;
	position: relative;
}

#contents #right {
	float: right;
	position: relative;
}

/* 文字カラー */
.red { color: #c00000; }

.blue { color: #1666C6; }

.green { color: #1a8015; }

.pink { color: #d768c6; }

.sky { color: #1bb6cd; }

.purple { color: #7522ca; }

.orange { color: #d78524; }

.brown { color: #7b5626; }

/******************************/
/* 表示切り替え */
/******************************/
#viewMode1,
#viewMode2 {
	background-color: #f0f0f0;
	border: 1px solid #a0a0a0;
	font-size: 24px;
	line-height: 1em;
	margin: 1em auto 5em;
	padding: 15px 0;
	text-align: center;
}

#viewMode1 { width: 60%; }

#viewMode2 { width: 60%; }

/* アプリ対策 */
body {
	border-bottom: 1px solid #ffffff !important;
}

/* リニューアル後削除可 */
#footWrap {
	background-color: #ffffff;
	border-top: 1px solid #e0e0e0;
	clear: both;
	width: 100%;
}
