@charset "utf-8";

/*

電撃オンライン トップ用
Last Update 14.10.29

*/

@import url(/css/common.css);
@import url(reset_v1109.css);
@import url(header_v1109.css);
@import url(common_v1109.css);
@import url(dol_center_v1109.css);
@import url(dol_left_v1109.css);
@import url(dol_right_v1109.css);

/*
#top #bg {
	background: #8c543d url(http://common.dengeki.com/dol/img/top_jack_141208.jpg) no-repeat fixed center top;
	border: 1px solid transparent;
}
*/

#top #banner_side_left {
	margin-left: -300px;
	position: fixed;
	top: 0;
}

#top #banner_side_right {
	margin-left: 1230px;
	position: fixed;
	top: 0;
}

#top #banner_side_left a:hover img,
#top #banner_side_right a:hover img,
#top #banner_side_left a:active img,
#top #banner_side_right a:active img {
	filter: alpha(opacity=75);
	-ms-filter: "alpha(opacity=75)";
	opacity: 0.75;
}
