@charset "utf-8";

/*

電撃オンライン 中央カラムデフォルト
Last Update 14.07.30

*/

.left {
	float: left;
}

.center {
	margin: 20px auto;
}

.right {
	float: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

.alignright {
	text-align: right;
}

.clear {
	clear: both;
}

#center a:hover img,
#center a:active img {
	filter: alpha(opacity=75);
	-ms-filter: "alpha(opacity=75)";
	opacity: 0.75;
}

/********************************/
/* 中央カラム */
/********************************/
#contents #center {
	background-color: #fcfcfc;
	border: 1px solid #c0c0c0;
	margin: 0 0 5px;
	padding: 5px 0 10px;
	width: 662px;
}

/********************************/
/* 中央部分・ピックアップバナー */
/********************************/
#pickUpBanner {
	margin: 0 auto 5px;
	position: relative;
	text-align: center;
	width: 650px;
}

#pickUpBanner .adcloud_frame > div {
	margin: 0 auto 5px !important;
}

/********************************/
/* 中央部分・注目記事 */
/********************************/
#hotEntry {
	margin: 0 0 10px;
}

#hotEntry h2 {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.4em;
	margin: 0 5px;
	padding: 0 0 3px;
}

/* デフォルト */
#hotEntry h2 {
	border-bottom: 3px solid #2568ab;
}

/* 電撃オンライン */
#dol #hotEntry h2 {
	border-bottom: 3px solid #2568ab;
}

/* 電撃PlayStation */
#dps #hotEntry h2 {
	border-bottom: 3px solid #484848;
}

/* 電撃Xbo */
#xbox360 #hotEntry h2,
#xbox #hotEntry h2 {
	border-bottom: 3px solid #107C10;
}

/* 電撃Nintendo */
#nintendo #hotEntry h2 {
	border-bottom: 3px solid #0096c8;
}

/* 電撃PCゲーム */
#dpc #hotEntry h2 {
	border-bottom: 3px solid #e98400;
}

/* 電撃カードゲーム */
#dcg #hotEntry h2 {
	border-bottom: 3px solid #4a386d;
}

/* 電撃ゲームアプリ */
#dga #hotEntry h2 {
	border-bottom: 3px solid #27b3bc;
}

/* DGS 140730 */
#dgs #hotEntry h2 {
	border-bottom: 3px solid #ff9cbd;
	color: #fa3d8f;
}

#hotEntry table {
	background: url(/dol/img/dot_h_2.gif) 324px 0 repeat-y;
	border-collapse: collapse;
	margin: 0 5px;
}

#hotEntry .article {
	background: url(/dol/img/dot_v_1.gif) left bottom repeat-x;
	padding: 5px;
	vertical-align: top;
	width: 316px;
}

#hotEntry .pubDate {
	color: #606060;
	font-size: 11px;
	float: left;
	line-height: 1.2em;
	margin: 0 5px 0 0;
	width: 85px;
}

#hotEntry .iconList {
	width: 220px;
}

#hotEntry .iconList img {
	float: left;
	margin: 0 1px 0 0;
	vertical-align: bottom;
}

#hotEntry .artMain {
	clear: both;
	width: auto;
}

#hotEntry .artMain img {
	border: 1px solid #c0c0c0;
	display: block;
	float: left;
	margin: 0 5px 0 0;
	width: 120px;
}

#hotEntry .artMain h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.3em;
	word-break: break-all;
}

#hotEntry .sb{
	clear: both;
	padding: 2px 0 0;
	text-align: right;
}

#hotEntry .article .sb .google,
#hotEntry .article .sb .hatena,
#hotEntry .article .sb .line {
	float: right;
	margin: 0 0 0 5px;
}

/* 編集部オススメ記事（15.01.27～） */
#hotEntry .article .sb .twitter {
	float: right;
	margin: 0 -8px 0 0;
}

#hotEntry .article .artImage {
	float: left;
	margin-right: 10px;
}

#hotEntry .article .artImage img {
	border: 1px solid #c0c0c0;
}

#hotEntry .article .artText h3 {
	font-size: 14px;
	line-height: 1.3em;
	margin: 0 0 3px 0;
	word-break: break-all;
}

#hotEntry .article .artText .fb-share-button  {
	float: right;
	margin: 0 2px 0 0;
}

#hotEntry .article .artText .twitter  {
	float: right;
	margin: 0 5px 0 0;
}

/********************************/
/* 中央部分・ニュース */
/********************************/
/*
#news {
	width: 662px;
}
*/

#newsHeader {
	background-color: #f3f3f3;
	border: 1px solid #909090;
/*	border-bottom: 1px solid #606060;*/
	border-bottom: none;
	margin: 0 5px;
	padding: 5px;
}

#newsHeader h2 {
	font-size: 16px;
	font-weight: bold;
	float: left;
	line-height: 1.2em;
	width: 100px;
}

#newsHeader #alternative {
	float: right;
	text-align: right;
	width: 540px;
}

#newsHeader #alternative a {
	text-decoration: none;
}

#newsHeader #alternative img {
	margin: 0 1px 0 0;
}

#newsHeader #alternative span {
	margin: 0 0 0 6px;
}

.newsList {
	margin: 0 0 10px;
}

.newsList .dailyHeader {
	background: #f9fdff;
	background: linear-gradient(top, #fefefe, #a6ceea);
	background: -moz-linear-gradient(top, #fefefe, #f1fafe);
	background: -o-linear-gradient(top, #fefefe, #f1fafe);
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f1fafe)); 
	border: 1px solid #b0b0b0;
	border-bottom: 1px solid #97a8b7;
	color: #00447e;
	margin: 0 5px;
	padding: 5px;
}

.newsList .dailyHeader .pubDate {
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2em;
	width: 150px;
}

/* 当日日付 */
#todaysNews .dailyHeader {
	padding: 3px 5px;
}

#todaysNews .dailyHeader #lastUpdate {
	font-size: 14px;
	font-weight: bold;
	float: left;
	line-height: 1.2em;
	padding: 6px 0 0;
	width: 250px;
}

#todaysNews .dailyHeader .newsSearch {
	color: #505050;
	font-size: 14px;
	float: right;
	line-height: 1.2em;
	text-align: right;
	width: 390px;
}

#todaysNews .dailyHeader .newsSearch .phrase {
	color: #909090;
}
/* 当日日付 */

.newsList .article {
	border-bottom: 1px dotted #c0c0c0;
	margin: 0 11px;
	padding: 2px 0 3px;
}

.newsList .article .iconList {
	height: 15px;
	margin: 3px 0 0;
}

.newsList .article .iconList .newsIcon {
	float: left;
	margin: 0 1px 0 0;
	vertical-align: bottom;
}

/* ▼icon sprite▼ 12.09.24追記 */

.iconList:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

.iconList li.icon {
	display: block;
	float: left;
	margin: 0 2px 0 0;
	height: 15px;
	width: 35px;
}

.iconList li.icon a {
	display: block;
	height: 100%;
	width: 100%;
}

.iconList li.icon span {
	display: none;
}

.iconList li.iconCate102 {
	background: url(/dol/img/sprite_v120924.png) 0 0 no-repeat;
}

.iconList li.iconCate106 {
	background: url(/dol/img/sprite_v120924.png) 0 -20px no-repeat;
}

.iconList li.iconCate501 {
	background: url(/dol/img/sprite_v120924.png) 0 -40px no-repeat;
}

.iconList li.iconCate502 {
	background: url(/dol/img/sprite_v120924.png) 0 -60px no-repeat;
}

.iconList li.iconCate503 {
	background: url(/dol/img/sprite_v120924.png) 0 -80px no-repeat;
}

.iconList li.iconCate504 {
	background: url(/dol/img/sprite_v120924.png) 0 -100px no-repeat;
}

.iconList li.iconCate505 {
	background: url(/dol/img/sprite_v120924.png) 0 -120px no-repeat;
}

.iconList li.iconCate506 {
	background: url(/dol/img/sprite_v120924.png) 0 -140px no-repeat;
}

.iconList li.iconCate507 {
	background: url(/dol/img/sprite_v120924.png) 0 -160px no-repeat;
}

.iconList li.iconCate508 {
	background: url(/dol/img/sprite_v120924.png) 0 -180px no-repeat;
}

.iconList li.iconCate509 {
	background: url(/dol/img/sprite_v120924.png) 0 -200px no-repeat;
}

.iconList li.iconCate510 {
	background: url(/dol/img/sprite_v120924.png) 0 -220px no-repeat;
}

.iconList li.iconCate511 {
	background: url(/dol/img/sprite_v120924.png) 0 -240px no-repeat;
}

.iconList li.iconCate512 {
	background: url(/dol/img/sprite_v120924.png) 0 -260px no-repeat;
}

.iconList li.iconCate513 {
	background: url(/dol/img/sprite_v120924.png) 0 -280px no-repeat;
}

.iconList li.iconCate514 {
	background: url(/dol/img/sprite_v120924.png) 0 -300px no-repeat;
}

.iconList li.iconCate515 {
	background: url(/dol/img/sprite_v120924.png) 0 -320px no-repeat;
}

.iconList li.iconCate516 {
	background: url(/dol/img/sprite_v120924.png) 0 -340px no-repeat;
}

.iconList li.iconCate517 {
	background: url(/dol/img/sprite_v120924.png) 0 -360px no-repeat;
}

.iconList li.iconCate518 {
	background: url(/dol/img/sprite_v120924.png) 0 -380px no-repeat;
}

.iconList li.iconCate519 {
	background: url(/dol/img/sprite_v120924.png) 0 -400px no-repeat;
}

.iconList li.iconCate520 {
	background: url(/dol/img/sprite_v120924.png) 0 -420px no-repeat;
}

.iconList li.iconCate521 {
	background: url(/dol/img/sprite_v120924.png) 0 -440px no-repeat;
}

.iconList li.iconCate522 {
	background: url(/dol/img/sprite_v120924.png) 0 -460px no-repeat;
}

.iconList li.iconCate523 {
	background: url(/dol/img/sprite_v120924.png) 0 -480px no-repeat;
}

.iconList li.iconCate524 {
	background: url(/dol/img/sprite_v120924.png) 0 -500px no-repeat;
}

.iconList li.iconCate701 {
	background: url(/dol/img/sprite_v120924.png) 0 -520px no-repeat;
}

.iconList li.iconCate702 {
	background: url(/dol/img/sprite_v120924.png) 0 -540px no-repeat;
}

.iconList li.iconCate703 {
	background: url(/dol/img/sprite_v120924.png) 0 -560px no-repeat;
}

.iconList li.iconCate704 {
	background: url(/dol/img/sprite_v120924.png) 0 -580px no-repeat;
}

.iconList li.iconCate1001 {
	background: url(/dol/img/sprite_v120924.png) 0 -600px no-repeat;
}

.iconList li.iconCate1002 {
	background: url(/dol/img/sprite_v120924.png) 0 -620px no-repeat;
}

.iconList li.iconCate1003 {
	background: url(/dol/img/sprite_v120924.png) 0 -640px no-repeat;
}

.iconList li.iconCate1004 {
	background: url(/dol/img/sprite_v120924.png) 0 -660px no-repeat;
}

.iconList li.iconCate1005 {
	background: url(/dol/img/sprite_v120924.png) 0 -680px no-repeat;
}

.iconList li.iconCate1006 {
	background: url(/dol/img/sprite_v120924.png) 0 -700px no-repeat;
}

.iconList li.iconCate1007 {
	background: url(/dol/img/sprite_v120924.png) 0 -720px no-repeat;
}

.iconList li.iconCate1008 {
	background: url(/dol/img/sprite_v120924.png) 0 -740px no-repeat;
}

.iconList li.iconCate1009 {
	background: url(/dol/img/sprite_v120924.png) 0 -760px no-repeat;
}

.iconList li.iconCate1010 {
	background: url(/dol/img/sprite_v120924.png) 0 -780px no-repeat;
}

.iconList li.iconCate1011 {
	background: url(/dol/img/sprite_v120924.png) 0 -800px no-repeat;
}

.iconList li.iconCate1011 {
	background: url(/dol/img/sprite_v120924.png) 0 -800px no-repeat;
}

/* 12.12.05追加 */
.iconList li.iconCate801 {
	background: url(/dol/img/sprite_v120924.png) 0 -820px no-repeat;
}

.iconList li.iconCate126 {
	background: url(/dol/img/sprite_v120924.png) 0 -840px no-repeat;
}

/* 13.02.21追加 */
.iconList li.iconCate525 {
	background: url(/dol/img/sprite_v120924.png) 0 -860px no-repeat;
}

/* 13.05.22追加 */
.iconList li.iconCate526 {
	background: url(/dol/img/sprite_v120924.png) 0 -880px no-repeat;
}

/* 14.05.04追加 */
.iconList li.iconCate103 {
	background: url(/dol/img/sprite_v120924.png) 0 -900px no-repeat;
}

.iconList li.iconCate127 {
	background: url(/dol/img/sprite_v120924.png) 0 -920px no-repeat;
}

/* 14.05.27追加 */
.iconList li.iconCate629 {
	background: url(/dol/img/sprite_v120924.png) 0 -940px no-repeat;
}

.iconList li.iconCate630 {
	background: url(/dol/img/sprite_v120924.png) 0 -960px no-repeat;
}

.iconList li.iconCate631 {
	background: url(/dol/img/sprite_v120924.png) 0 -980px no-repeat;
}

.iconList li.iconCate632 {
	background: url(/dol/img/sprite_v120924.png) 0 -1000px no-repeat;
}

/* 16.10.25追加 */
.iconList li.iconCate529 {
	background: url(/dol/img/sprite_v120924.png) 0 -1020px no-repeat;
}

.iconList li.iconCate530 {
	background: url(/dol/img/sprite_v120924.png) 0 -1040px no-repeat;
}

/* ▲icon sprite▲ */

.newsList .article .tweet {
	float: right;
	padding: 2px 0;
	text-align: right;
	width: 85px;
}

.newsList .artMeta {
	clear: both;
	padding: 0 0 1px;
}

.newsList .artMain {
	clear: both;
	margin: 0 auto;
}

.newsList .artMain img {
	border: 1px solid #c0c0c0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

.newsList .artMain h3 {
	display: table;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.4em;
}

.newsList .artMain p {
	display: table;
	font-size: 12px;
	line-height: 1.4em;
	margin: 5px 0 0;
}

/* 関連記事 */
.newsList .artRel {
	background: url(/dol/img/dot_h_1.gif) 75px 0 repeat-y;
	margin: 6px 0 0;
}

.newsList .artRel dt {
	background: url(/dol/img/art_rel_bg.gif) left top no-repeat;
	float: left;
	font-size: 11px;
	line-height: 1.2em;
	margin: 2px 0;
	padding: 0 0 0 20px;
	width: 55px;
}

.newsList .artRel dd {
/*	background: url(art_rel_arrow.gif) 4px 1px no-repeat;*/
	float: right;
	margin: 2px 0;
	width: 535px;
}

.newsList .artRel dd h4 {
	font-size: 11px;
	line-height: 1.3em;
}

/********************************/
/* 中央部分・アーカイブ */
/********************************/
.archArea {
	margin: 10px 20px;
}

.archArea .archHeader {
	background: #f9fdff;
	background: linear-gradient(top, #fefefe, #a6ceea);
	background: -moz-linear-gradient(top, #fefefe, #f1fafe);
	background: -o-linear-gradient(top, #fefefe, #f1fafe);
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f1fafe)); 
	border: 1px solid #b0b0b0;
	color: #00447e;
	padding: 3px 5px;
}

.archHeader h2 {
	font-size: 14px;
	font-weight: bold;
	float: left;
	line-height: 1.2em;
	padding: 6px 0 0;
	width: 35%;
}

.archArea .newsSearch {
	color: #505050;
	font-size: 14px;
	float: right;
	line-height: 1.2em;
	padding: 0 5px 0 0;
	text-align: right;
	width: 50%;
}

.archArea .newsSearch .phrase {
	color: #909090;
}

.archArea .inner,
.archArea .archBody {
	border: 1px solid #91b7d5;
	border-top: none;
	padding: 5px;
}

.archArea .yearBox {
	clear: both;
	margin: 5px 0;
}

.archArea .yearBox h3 {
	border-right: 1px solid #91b7d5;
	float: left;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	padding: 3px 2px 2px;
	width: 60px;
}

.archArea .yearBox ul {
	float: left;
	margin: 0;
	padding: 0;
}

.archArea .yearBox li {
	border: none;
	border-right: 1px solid #91b7d5;
	color: #909090;
	display: inline;
	float: left;
	font-size: 14px;
	line-height: 1.6em;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 44px;
}

.archArea .yearBox li.current {
	background: #eef2ff;
	color: #5d6ea7;
}

.archArea .yearBox li a {
	display: block;
}

.archArea .yearBox li a:hover {
	background: #eef2ff;
	color: #5d6ea7;
}

/********************************/
/* 中央部分・ニュースバナー */
/********************************/
#news .banner {
	margin: 0 auto;
	text-align: center;
	width: 620px;
}

#news .banner .adcloud_frame > div {
	margin: 10px auto;
}

/********************************/
/* 中央部分・404 */
/********************************/
#notFound {
	margin: 0 5px;	
}

#notFound h1 {
	border: 1px solid #505050;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2em;
	margin: 10px 20px;
	padding: 10px;
	text-align: center;
}

#notFound p {
	font-size: 14px;
	line-height: 1.4em;
	margin: 20px;
}

#search h2 {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2em;
	margin: 20px 0 5px;
}

#search p {
	margin: 5px 20px;
}

#search p {
	padding: 0;
	font-size: 14px;
	line-height: 1.2em;
}

/********************************/
/* 中央部分・YouTube LIVE埋め込み */
/********************************/
#top #center .pvObj iframe,
#top #center iframe .pvObj {
	border: 5px solid #d2d2d2;
	display: block;
	height: 360px;
	margin: 0 auto 5px;
	width: 640px;
}