@charset "utf-8";

/*

電撃オンライン 右カラムデフォルト
Last Update 13.07.30

*/

#pr a:hover img,
#pr a:active img,
#regular a:hover img,
#regular a:active img {
	filter: alpha(opacity=75);
	-ms-filter: "alpha(opacity=75)";
	opacity: 0.75;
}

#right .itemBanner a:hover img,
#right .itemBanner a:active img {
	filter: alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)";
	opacity: 1;
}


/* clearfix */
li:after,
article:after,
#pr li a:after,
#regular li a:after,
#whatnew:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

#right li.last {
	border-bottom: none;
	margin-bottom: 0;
}

#right .banner {
	text-align: center;
}

#right .banner img {
	margin: 0 auto 5px;
}

#right .banner div.adcloud_frame > div,
#right .banner div.adcloud_frame > div {
	margin: 0 auto;
	text-align: center;
}

/********************************/
/* 右カラム */
/********************************/
#contents #right {
	width: 312px;
}

/********************************/
/* レクタングルバナー（新） */
/********************************/
#rectangleBanner,
#rectangleBanner2 {
	margin: 0 auto;
	text-align: center;
	width: 300px;
}

#rectangleBanner {
	height: 250px;
	margin: 0 auto 5px;
}

/* 電撃オンライン
#dol #rectangleBanner div.adcloud_frame > div {
	border: 6px solid #85b3da;
}
 */

/* 電撃PlayStation
#dps #rectangleBanner div.adcloud_frame > div {
	border: 6px solid #5c6daa;
}
 */

/* 電撃Xbox
#xbox360 #rectangleBanner div.adcloud_frame > div {
	border: 6px solid #5cab50;
}
 */

/* 電撃Nintendo
#nintendo #rectangleBanner div.adcloud_frame > div {
	border: 6px solid #b34957;
}
 */

/* 電撃PCゲーム
#dpc #rectangleBanner div.adcloud_frame > div {
	border: 6px solid #d69f49;
}
 */

/* 電撃カードゲーム
#dcg #rectangleBanner div.adcloud_frame > div {
	border: 6px solid #303030;
}
 */

/* 電撃App
#dga #rectangleBanner div.adcloud_frame > div {
	border: 6px solid #27b3bc;
}
 */

/* DGS
#dgs #rectangleBanner div.adcloud_frame > div {
	border: 6px solid #ff9cbd;
}
 */

/********************************/
/* 右サイドコンテンツ・基本 */
/********************************/
.rightCont {
	background-color: #fcfcfc;
	border: 1px solid #b0b0b0;
	margin: 0 auto 5px;
	width: 300px;
}

.rightCont h2 {
	background: #f2f8ff;
	border-bottom: 1px solid #aec9d6;
	border-top: 2px solid #ffffff;
	color: #00447e;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.3em;
	padding: 5px;
}

.rightCont ul {
	padding: 0 5px;
	width: 290px;
}

/* サムネ120x68Ver.ここから */
#pr li,
#regular li {
	width: 290px;
}

#pr li a,
#regular li a {
	border-bottom: 1px dotted #909090;
	display: block;
	padding: 5px 0;
	width: 290px;
}

#pr li a:hover,
#regular li a:hover,
#pr li a:active,
#regular li a:active {
	text-decoration: none;
}

#pr li h3,
#regular li h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2em;
}
/* サムネ120x68Ver.ここまで */

.rightCont p {
	font-size: 12px;
	line-height: 1.3em;
	margin: 1px 0 0;
}

.rightCont p.lnkAll {
	font-size: 12px;
	line-height: 1.2;
	margin: 4px 0;
	padding: 0 5px;
	text-align: right;
}

.rightCont .thumb {
	border: 1px solid #c0c0c0;
	display: block;
	float: left;
	margin: 0 5px 0 0;
}

/* スタッフつぶやき */
.twStaff {
	height: 600px;
	margin: 5px auto;
	width: 300px;
}

/* アイテム用バナー */
#right .itemBanner {
	margin: 0 auto 5px;
	width: 302px;
}

#right .itemBanner a {
	background-color: #ffffff;
	border: 1px solid #a8a8a8;
	border-radius: 4px;
	box-shadow: 1px 1px 5px #a0a0a0;
	display: block;
	padding: 5px;
	position: relative;
	width: 290px;
}

#right .itemBanner a:hover {
	background-color: #2568ab;
	text-decoration: none;
}

#right .itemBanner a.borderBlue:hover {
	background-color: #2568ab;
}

#right .itemBanner a.borderPink:hover {
	background-color: #ff7bc9;
}

#right .itemBanner a.borderGreen:hover {
	background-color: #7bd63e;
}

#right .itemBanner a.borderOrange:hover {
	background-color: #f5be3b;
}

#right .itemBanner .itemText {
	background: url(/dol/img/bg_black_a50.png) left top repeat;
	bottom: 5px;
	left: 5px;
	padding: 5px;
	position: absolute;
	width: 280px;
}

#right .itemBanner .itemText .itemName,
#right .itemBanner .itemText .more {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.3em;
}

#right .itemBanner .itemText .more {
	margin: 5px 0 0;
	text-align: right;
}

/* 特集内バナー 13.07.22 */
#right .rightCont li .banner {
	margin: 0 auto;
	text-align: center;
}

/* 特集内アイテム用バナー 13.07.22 */
#right .rightCont li .itemBanner {
	border-bottom: 1px dotted #909090;
	margin: 0 auto;
	padding: 5px 0;
	width: 290px;
}

#right .rightCont li .itemBanner a {
	background-color: #ffffff;
	border: 1px solid #a8a8a8;
	border-radius: 4px;
	box-shadow: 1px 1px 5px #a0a0a0;
	display: block;
	padding: 5px;
	position: relative;
	width: 278px;
}

#right .rightCont li .itemBanner a:hover {
	background-color: #2568ab;
	text-decoration: none;
}

#right .rightCont li .itemBanner a.borderBlue:hover {
	background-color: #2568ab;
}

#right .rightCont li .itemBanner a.borderPink:hover {
	background-color: #ff7bc9;
}

#right .rightCont li .itemBanner a.borderGreen:hover {
	background-color: #7bd63e;
}

#right .rightCont li .itemBanner a.borderOrange:hover {
	background-color: #f5be3b;
}

#right .rightCont li .itemBanner .itemText {
	background: url(/dol/img/bg_black_a50.png) left top repeat;
	bottom: 5px;
	left: 5px;
	padding: 5px;
	position: absolute;
	width: 268px;
}

#right .rightCont li .itemBanner .itemText .itemName,
#right .rightCont li .itemBanner .itemText .more {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.3em;
}

#right .rightCont li .itemBanner .itemText .more {
	margin: 5px 0 0;
	text-align: right;
}

/* 追従バナーここから */
*:first-child+html #contents,
*:first-child+html div.contents-wrapper {
	zoom : 1;
}

#contents:after {
	clear: both;
	content: '';
	display: block;
}

#followLside {
	position: relative;
	z-index: 1;
}

#followRside {
	position: relative;
	z-index:1;
}

/* 追従バナーここまで */