@charset "utf-8";

/*

電撃オンライン 左カラムデフォルト
Last Update 11.09.28

*/

/* clearfix */
li:after,
article:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

#left li.last {
	border-bottom: none;
	margin-bottom: 0;
}

#left .banner {
	margin: 5px auto;
	text-align: center;
	width: 240px;
}

#dol_wrapper #left .banner {/* リニューアル後削除可能 110912*/
	width: 160px;
}

/********************************/
/* 左カラム */
/********************************/
#contents #left {
	padding: 0 0 5px;
	width: 252px;
}

#prev #left {
	padding: 0 0 5px;
	width: 252px;
}

/********************************/
/* 左サイドコンテンツ・ロゴ */
/********************************/
#logo {
	background-color: #fefefe;
	padding: 5px;
	text-align: center;
}

#logo img {
	height: auto;
	width: 100%;
}

/********************************/
/* 左サイドコンテンツ・旬ネタ */
/********************************/
#timely {
	margin: 0 0 5px;
	padding: 0 5px 5px;
	width: 242px;
}

/* デフォルト */
#timely {
	background-color: #85b3da;
}

/* 電撃オンライン */
#dol #timely {
	background-color: #85b3da;
}

/* 電撃PlayStation */
#dps #timely {
	background-color: #5c6daa;
}

/* 電撃Xbox360 */
#xbox360 #timely {
	background-color: #5cab50;
}

/* 電撃Nintendo */
#nintendo #timely {
	background-color: #b34957;
}

/* 電撃PCゲーム */
#dpc #timely {
	background-color: #d69f49;
}

/* 電撃カードゲーム */
#dcg #timely {
	background-color: #303030;
}

/* 電撃App（ゲームアプリオープン後に消す） */
#dapp #timely {
	background-color: #27b3bc;
}

/* 電撃ゲームアプリ */
#dga #timely {
	background-color: #27b3bc;
}

#timely h2 {
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.3em;
	padding: 5px 0;
}

#timely ul {
	background-color: #fefefe;
	border-radius: 3px;
	padding: 0 5px;
}

#timely li {
	border-bottom: 1px dotted #c0c0c0;
	padding: 10px 5px 5px;
}

#timely li.last {
	border: none;
}

#timely .thumb {
	float: left;
	margin: 0 2px 0 0;
	width: 140px;
}

#timely .thumb img {
	border: 1px solid #3890ca;
}

#timely .thumb img:hover {
	border: 1px solid #ff9900;
}

#timely .sb {
	float: right;
	text-align: center;
	width: 70px;
}

#timely .sb .twitter {
	margin: 0 auto 3px;
	text-align: center;
}

#timely h3 {
	clear: both;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.3em;
	padding: 5px 0 0;
}

/********************************/
/* 左サイドコンテンツ・記事&ソフト検索 */
/********************************/
#left .searchBox {
	background-color: #fcfcfc;
	border: 1px solid #b0b0b0;
	margin: 5px;
}

#left .searchBox h2 {
	background: #f9fdff;
	background: linear-gradient(top, #fefefe, #a6ceea);
	background: -moz-linear-gradient(top, #fefefe, #f1fafe);
	background: -o-linear-gradient(top, #fefefe, #f1fafe);
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f1fafe)); 
	border-bottom: 1px solid #97a8b7;
	color: #00447e;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.3em;
	padding: 5px;
}

#left .searchBox .artSearch {
	background: #fafafa;
	background: linear-gradient(top, #fefefe, #e0e0e0);
	background: -moz-linear-gradient(top, #fefefe, #e0e0e0);
	background: -o-linear-gradient(top, #fefefe, #e0e0e0);
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e0e0e0));
	padding: 5px 0 5px 5px;
}

#left .searchBox .artSearch .phrase {
	border-top: 1px solid #909090;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-left: 1px solid #909090;
	color: #909090;
	padding: 2px 5px;
	width: 160px;
}

/********************************/
/* 左サイドコンテンツ・プラットフォーム別新着 */
/********************************/
#category {
	background-color: #fcfcfc;
	border: 1px solid #b0b0b0;
	margin: 5px;
}

#category h2 {
	background: #f9fdff;
	background: linear-gradient(top, #fefefe, #a6ceea);
	background: -moz-linear-gradient(top, #fefefe, #f1fafe);
	background: -o-linear-gradient(top, #fefefe, #f1fafe);
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f1fafe)); 
	border-bottom: 1px solid #97a8b7;
	color: #00447e;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.3em;
	padding: 5px;
}

/* ▼左サイド・注目特集のリンク色▼ */
#category h2 a:link,
#category h2 a:visited,
#category h2 a:hover,
#category h2 a:active {
	color: #00447E;
}

#category li {
	border-bottom: 1px dotted #909090;
	font-size: 11px;
	line-height: 1.4em;
	margin: 5px;
	width: 230px;
}

#category li p {
	font-size: 11px;
	line-height: 1.4em;
}

#category li .thumb {
	border: 1px solid #c0c0c0;
	float: left;
	height: 32px;
	margin: 0 5px 5px 0;
	width: 57px;
}

#category li h3 {
	font-weight: normal;
	line-height: 1.4em;
	margin: 0 0 3px;
}

/* デフォルト */
#category li h3 {
	font-weight: bold;
}

/* 電撃オンライン */
#dol #category li h3 {
	font-weight: bold;
}

#category li p {
	line-height: 1.4em;
}

/********************************/
/* 左サイドコンテンツ・連載記事 */
/********************************/
#serial {
	background-color: #fcfcfc;
	border: 1px solid #b0b0b0;
	margin: 5px auto;
	width: 240px;
}

#serial h2 {
	background: #f9fdff;
	background: linear-gradient(top, #fefefe, #a6ceea);
	background: -moz-linear-gradient(top, #fefefe, #f1fafe);
	background: -o-linear-gradient(top, #fefefe, #f1fafe);
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f1fafe)); 
	border-bottom: 1px solid #97a8b7;
	color: #00447e;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.3em;
	padding: 5px;
}

#serial li {
	border-bottom: 1px dotted #909090;
	font-size: 11px;
	line-height: 1.3em;
	margin: 5px;
}

#serial li h3 {
	font-weight: bold;
	margin: 0 0 3px;
}

#serial li p {
	font-size: 11px;
	line-height: 1.4em;
}

#serial li .thumb {
	float: left;
	height: 32px;
	margin: 0 5px 5px 0;
	width: 32px;
}

/********************************/
/* 左サイドコンテンツ・ランキング */
/********************************/
#newsRank {
	background-color: #fcfcfc;
	border: 1px solid #b0b0b0;
	margin: 5px;
}

#newsRank h2 {
	background: #f9fdff;
	background: linear-gradient(top, #fefefe, #a6ceea);
	background: -moz-linear-gradient(top, #fefefe, #f1fafe);
	background: -o-linear-gradient(top, #fefefe, #f1fafe);
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f1fafe)); 
	border-bottom: 1px solid #97a8b7;
	color: #00447e;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.3em;
	padding: 5px;
}

#newsRank li {
	border-bottom: 1px dotted #909090;
	font-size: 11px;
	line-height: 1.3em;
	margin: 5px;
	padding: 3px 0;
	width: 230px;
}

#newsRank li h3 {
	font-weight: bold;
}

#newsRank .newsRankIcon {
	float: left;
	height: 32px;
	margin: 0 5px 5px 0;
	width: 32px;
}

#newsRank .term {
	font-size: 11px;
	line-height: 1.2em;
	padding: 0 5px 2px;
	text-align: right;
}

/* ▼ランキング(スプライト化) 120924▼ */
#newsRank .rankArt .icon {
	float: left;
	height: 32px;
	margin: 0 3px 0 0;
	width: 32px;
}

#newsRank .rankArt div span {
	display: none;
}

#newsRank #rank1 div,
#newsRank #rank01 div {
	background: url(http://common.dengeki.com/dol/img/sprite_v120924.png) -40px 0 no-repeat;
}

#newsRank #rank2 div,
#newsRank #rank02 div {
	background: url(http://common.dengeki.com/dol/img/sprite_v120924.png) -40px -40px no-repeat;
}

#newsRank #rank3 div,
#newsRank #rank03 div {
	background: url(http://common.dengeki.com/dol/img/sprite_v120924.png) -40px -80px no-repeat;
}

#newsRank #rank4 div,
#newsRank #rank04 div {
	background: url(http://common.dengeki.com/dol/img/sprite_v120924.png) -40px -120px no-repeat;
}

#newsRank #rank5 div,
#newsRank #rank05 div {
	background: url(http://common.dengeki.com/dol/img/sprite_v120924.png) -40px -160px no-repeat;
}

#newsRank #rank6 div,
#newsRank #rank06 div {
	background: url(http://common.dengeki.com/dol/img/sprite_v120924.png) -40px -200px no-repeat;
}

#newsRank #rank7 div,
#newsRank #rank07 div {
	background: url(http://common.dengeki.com/dol/img/sprite_v120924.png) -40px -240px no-repeat;
}

#newsRank #rank8 div,
#newsRank #rank08 div {
	background: url(http://common.dengeki.com/dol/img/sprite_v120924.png) -40px -280px no-repeat;
}

#newsRank #rank9 div,
#newsRank #rank09 div {
	background: url(http://common.dengeki.com/dol/img/sprite_v120924.png) -40px -320px no-repeat;
}

#newsRank #rank10 div {
	background: url(http://common.dengeki.com/dol/img/sprite_v120924.png) -40px -360px no-repeat;
}
/* ▲ランキング(スプライト化) 120924▲ */

/********************************/
/* 左サイドコンテンツ・電撃ゲームメディア */
/********************************/
#gameMedia {
	margin: 5px auto;
	width: 242px;
}

#gameMedia h2 {
	background: #505050;
	background: -moz-linear-gradient(top, #5f5f5f, #414141);
	background: -o-linear-gradient(top, #5f5f5f, #414141);
	background: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#414141)); 
	background: linear-gradient(top, #5f5f5f, #414141);
	border: 1px solid #4b4b4b;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #f0f0f0;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 5px 2px;
}

#gameMedia ul {
	background-color: #ffffff;
	border: 1px solid #4b4b4b;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: none;
	padding: 5px 0 0;
}

#gameMedia li {
	background: url(http://common.dengeki.com/images_common/magazine_tri.gif) left center no-repeat;
	font-size: 11px;
	line-height: 1.3em;
	margin: 0 5px 5px;
	padding: 0 0 0 8px;
}

/********************************/
/* 左サイドコンテンツ・電撃の雑誌&書籍 */
/********************************/
#familySites {
	margin: 5px auto;
	width: 242px;
}

#familySites a:link,
#familySites a:visited,
#familySites a:hover,
#familySites a:active {
	color: #303030;
	text-decoration: none;
}

#familySites h2 {
	background: #3f3f3f;
	background: -moz-linear-gradient(top, #878787, #181818);
	background: -o-linear-gradient(top, #878787, #181818);
	background: -webkit-gradient(linear, left top, left bottom, from(#878787), to(#181818)); 
	background: linear-gradient(top, #878787, #181818);
	border: 1px solid #4b4b4b;
	border-bottom: 1px solid #5a5a5a;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #f0f0f0;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 5px 2px;
}

#familySites dl {
	background-color: #ffffff;
	border: 1px solid #4b4b4b;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: none;
}

#familySites dt {
	margin: 0 5px;
	padding: 3px 0 0;
}

#familySites dd {
	border-bottom: 1px dotted #909090;
	font-size: 10px;
	line-height: 1.2em;
	margin: 0 5px;
	padding: 0 0 5px;
}

#familySites dd.last {
	border: none;
}

/********************************/
/* 左サイドコンテンツ・電撃オススメソフト */
/********************************/
.iconList:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

#left #recSoft {
	background-color: #85b3da;
	margin: 0 0 5px;
	padding: 5px;
	width: 242px;
}

#left #recSoft h2 {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2em;
	padding: 0 0 5px;
}

#left #recSoft ul {
	background-color: #fefefe;
	border-radius: 3px;
	padding: 0 5px;
}

#left #recSoft li {
	border-bottom: 1px dotted #c0c0c0;
	padding: 5px 0;
}

#left #recSoft li.last {
	border: none;
}

#left #recSoft .softTitle {
	font-size: 12px;
	line-height: 1.2em;
	margin: 0 0 3px;
}

#left #recSoft .thumb {
	float: left;
	margin: 0 0 3px;
	width: 96px;
}

#left #recSoft .thumb a:link img {
	border: 1px solid #3890ca;
}

#left #recSoft .thumb a:visited img {
	border: 1px solid #2e7cd3;
}

#left #recSoft .thumb a:hover img,
#left #recSoft .thumb a:active img {
	border: 1px solid #ff9900;
}

#left #recSoft .spec {
	float: right;
	font-size: 12px;
	line-height: 1.3em;
	width: 132px;
}

/*
#left #recSoft .spec ul.iconList {
	margin: 0 0 3px;
	padding: 0;
}

#left #recSoft ul.iconList li {
	border: 1px solid #fefefe;
	border-radius: 3px;
	color: #ffffff;
	display: block;
	font-size: 11px;
	float: left;
	line-height: 15px;
	margin: 0 2px 0 0;
	padding: 0;
	text-align: center;
}

#left #recSoft ul.iconList li.genre {
	padding: 1px 5px;
}

#left #recSoft ul.iconList li.hard a {
	display: block;
	padding: 1px 5px;
}

#left #recSoft ul.iconList li.hard a:link,
#left #recSoft ul.iconList li.hard a:visited,
#left #recSoft ul.iconList li.hard a:hover,
#left #recSoft ul.iconList li.hard a:active {
	border: none;
	color: #ffffff;
	text-decoration: none;
}

#left #recSoft ul.iconList .tds {
	background-color: #F53281;
	border: 1px solid #fefefe;
}

#left #recSoft ul.iconList .rpg {
	background-color: #0A477E;
	border: 1px solid #fefefe;
}

#left #recSoft .maker {
	font-size: 12px;
	line-height: 1.2em;
	margin: 0 0 3px;
}

#left #recSoft .price {
	font-size: 12px;
	line-height: 1.2em;
	margin: 0 0 3px;
}

#left #recSoft .onSale {
	clear: both;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.2em;
	margin: 5px 0;
}
*/

#left #recSoft .info,
#left #recSoft .date {
	font-size: 13px;
	font-weight: bold;
	line-height: 1.3em;
	margin: 3px 0;
}

#left #recSoft .summary {
	clear: both;
	font-size: 11px;
	line-height: 1.3em;
	margin: 3px 0;
}

#left #recSoft .affLink {
	background: none;
	clear: both;
	margin: 0;
	text-align: center;
}

/********************************/
/* 左サイドコンテンツ・旧CSS上書き */
/********************************/
#left #mgzn_lst,
#left #common_family {
		margin: 5px auto;
}

/********************************/
/* 左サイドコンテンツ・アイコン別リンク */
/********************************/
#left #iconSort {
	background-color: #fcfcfc;
	border: 1px solid #b0b0b0;
	margin: 5px;
}

#left #iconSort h2 {
	background: #f9fdff;
	background: linear-gradient(top, #fefefe, #a6ceea);
	background: -moz-linear-gradient(top, #fefefe, #f1fafe);
	background: -o-linear-gradient(top, #fefefe, #f1fafe);
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f1fafe)); 
	border-bottom: 1px solid #97a8b7;
	color: #00447e;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.3em;
	padding: 5px;
}

#left ul.iconList {
	padding: 5px 0 2px 5px;
}

#left ul.iconList li.icon {
	display: block;
	float: left;
	height: 15px;
	margin: 0 4px 3px 0;
	width: 35px;
}

#left ul.iconList li.icon a {
	display: block;
	height: 100%;
	width: 100%;
}

ul.iconList li.icon span {
	display: none;
}

.iconList:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

/* ▼icon sprite▼ 12.09.24追記 */
ul.iconList li.iconCate102 {
	background: url(/dol/img/sprite_v120924.png) 0 0 no-repeat;
}

ul.iconList li.iconCate106 {
	background: url(/dol/img/sprite_v120924.png) 0 -20px no-repeat;
}

ul.iconList li.iconCate501 {
	background: url(/dol/img/sprite_v120924.png) 0 -40px no-repeat;
}

ul.iconList li.iconCate502 {
	background: url(/dol/img/sprite_v120924.png) 0 -60px no-repeat;
}

ul.iconList li.iconCate503 {
	background: url(/dol/img/sprite_v120924.png) 0 -80px no-repeat;
}

ul.iconList li.iconCate504 {
	background: url(/dol/img/sprite_v120924.png) 0 -100px no-repeat;
}

ul.iconList li.iconCate505 {
	background: url(/dol/img/sprite_v120924.png) 0 -120px no-repeat;
}

ul.iconList li.iconCate506 {
	background: url(/dol/img/sprite_v120924.png) 0 -140px no-repeat;
}

ul.iconList li.iconCate507 {
	background: url(/dol/img/sprite_v120924.png) 0 -160px no-repeat;
}

ul.iconList li.iconCate508 {
	background: url(/dol/img/sprite_v120924.png) 0 -180px no-repeat;
}

ul.iconList li.iconCate509 {
	background: url(/dol/img/sprite_v120924.png) 0 -200px no-repeat;
}

ul.iconList li.iconCate510 {
	background: url(/dol/img/sprite_v120924.png) 0 -220px no-repeat;
}

ul.iconList li.iconCate511 {
	background: url(/dol/img/sprite_v120924.png) 0 -240px no-repeat;
}

ul.iconList li.iconCate512 {
	background: url(/dol/img/sprite_v120924.png) 0 -260px no-repeat;
}

ul.iconList li.iconCate513 {
	background: url(/dol/img/sprite_v120924.png) 0 -280px no-repeat;
}

ul.iconList li.iconCate514 {
	background: url(/dol/img/sprite_v120924.png) 0 -300px no-repeat;
}

ul.iconList li.iconCate515 {
	background: url(/dol/img/sprite_v120924.png) 0 -320px no-repeat;
}

ul.iconList li.iconCate516 {
	background: url(/dol/img/sprite_v120924.png) 0 -340px no-repeat;
}

ul.iconList li.iconCate517 {
	background: url(/dol/img/sprite_v120924.png) 0 -360px no-repeat;
}

ul.iconList li.iconCate518 {
	background: url(/dol/img/sprite_v120924.png) 0 -380px no-repeat;
}

ul.iconList li.iconCate519 {
	background: url(/dol/img/sprite_v120924.png) 0 -400px no-repeat;
}

ul.iconList li.iconCate520 {
	background: url(/dol/img/sprite_v120924.png) 0 -420px no-repeat;
}

ul.iconList li.iconCate521 {
	background: url(/dol/img/sprite_v120924.png) 0 -440px no-repeat;
}

ul.iconList li.iconCate522 {
	background: url(/dol/img/sprite_v120924.png) 0 -460px no-repeat;
}

ul.iconList li.iconCate523 {
	background: url(/dol/img/sprite_v120924.png) 0 -480px no-repeat;
}

ul.iconList li.iconCate524 {
	background: url(/dol/img/sprite_v120924.png) 0 -500px no-repeat;
}

ul.iconList li.iconCate701 {
	background: url(/dol/img/sprite_v120924.png) 0 -520px no-repeat;
}

ul.iconList li.iconCate702 {
	background: url(/dol/img/sprite_v120924.png) 0 -540px no-repeat;
}

ul.iconList li.iconCate703 {
	background: url(/dol/img/sprite_v120924.png) 0 -560px no-repeat;
}

ul.iconList li.iconCate704 {
	background: url(/dol/img/sprite_v120924.png) 0 -580px no-repeat;
}

ul.iconList li.iconCate1001 {
	background: url(/dol/img/sprite_v120924.png) 0 -600px no-repeat;
}

ul.iconList li.iconCate1002 {
	background: url(/dol/img/sprite_v120924.png) 0 -620px no-repeat;
}

ul.iconList li.iconCate1003 {
	background: url(/dol/img/sprite_v120924.png) 0 -640px no-repeat;
}

ul.iconList li.iconCate1004 {
	background: url(/dol/img/sprite_v120924.png) 0 -660px no-repeat;
}

ul.iconList li.iconCate1005 {
	background: url(/dol/img/sprite_v120924.png) 0 -680px no-repeat;
}

ul.iconList li.iconCate1006 {
	background: url(/dol/img/sprite_v120924.png) 0 -700px no-repeat;
}

ul.iconList li.iconCate1007 {
	background: url(/dol/img/sprite_v120924.png) 0 -720px no-repeat;
}

ul.iconList li.iconCate1008 {
	background: url(/dol/img/sprite_v120924.png) 0 -740px no-repeat;
}

ul.iconList li.iconCate1009 {
	background: url(/dol/img/sprite_v120924.png) 0 -760px no-repeat;
}

ul.iconList li.iconCate1010 {
	background: url(/dol/img/sprite_v120924.png) 0 -780px no-repeat;
}

ul.iconList li.iconCate1011 {
	background: url(/dol/img/sprite_v120924.png) 0 -800px no-repeat;
}

ul.iconList li.iconCate1011 {
	background: url(/dol/img/sprite_v120924.png) 0 -800px no-repeat;
}

/* 12.12.05追加 */
ul.iconList li.iconCate801 {
	background: url(/dol/img/sprite_v120924.png) 0 -820px no-repeat;
}

ul.iconList li.iconCate126 {
	background: url(/dol/img/sprite_v120924.png) 0 -840px no-repeat;
}

/* 13.02.21追加 */
ul.iconList li.iconCate525 {
	background: url(/dol/img/sprite_v120924.png) 0 -860px no-repeat;
}

/* 13.05.22追加 */
ul.iconList li.iconCate526 {
	background: url(/dol/img/sprite_v120924.png) 0 -880px no-repeat;
}

/* 14.05.04追加 */
ul.iconList li.iconCate103 {
	background: url(/dol/img/sprite_v120924.png) 0 -900px no-repeat;
}

ul.iconList li.iconCate127 {
	background: url(/dol/img/sprite_v120924.png) 0 -920px no-repeat;
}

/* 14.05.27追加 */
ul.iconList li.iconCate629 {
	background: url(/dol/img/sprite_v120924.png) 0 -940px no-repeat;
}

ul.iconList li.iconCate630 {
	background: url(/dol/img/sprite_v120924.png) 0 -960px no-repeat;
}

ul.iconList li.iconCate631 {
	background: url(/dol/img/sprite_v120924.png) 0 -980px no-repeat;
}

ul.iconList li.iconCate632 {
	background: url(/dol/img/sprite_v120924.png) 0 -1000px no-repeat;
}

/* 16.10.25追加 */
ul.iconList li.iconCate529 {
	background: url(/dol/img/sprite_v120924.png) 0 -1020px no-repeat;
}

ul.iconList li.iconCate530 {
	background: url(/dol/img/sprite_v120924.png) 0 -1040px no-repeat;
}

/* ▲icon sprite▲ */

#left #iconSort p {
	color: #808080;
	font-size: 12px;
	line-height: 1.3em;
	padding: 0 5px 3px;
}

/* Tweet数ランキング */
#twRanking {
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	margin: 5px;
}

#twRanking #twRankingTitle {
	background: #17426d;
	background: -moz-linear-gradient(top,  #17426d 0%, #2366a8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#17426d), color-stop(100%,#2366a8));
	background: -webkit-linear-gradient(top,  #17426d 0%,#2366a8 100%);
	background: -o-linear-gradient(top,  #17426d 0%,#2366a8 100%);
	background: -ms-linear-gradient(top,  #17426d 0%,#2366a8 100%);
	background: linear-gradient(to bottom,  #17426d 0%,#2366a8 100%);
	color: #ffffff;
	padding: 3px 5px;
}

#twRanking #twRankingTitle h2 {
	font-size: 12px;
	line-height: 1.5em;
}

#twRanking #twRankingTitle p {
	font-size: 10px;
	line-height: 1.2em;
}

#twRanking li {
	font-size: 12px;
	line-height: 1.2em;
	padding: 5px;
	border-bottom: 1px solid #e0e0e0;
}

#twRanking li .rtCount,
#twRanking li .rtCount2 {
	background-color: #2568ab;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #bababa;
	color: #ffffff;
	display: block;
	float: left;
	font-size: 13px;
	line-height: 1.2em;
	padding: 10px 3px;
	text-align: center;
	width: 38px;
}

#twRanking li .rtCount2 {
	font-size: 11px;
}

#twRanking li h3 {
	float: right;
	font-size: 10px;
	font-weight: normal;
	line-height: 1.2em;
	width: 180px;
}

/* アイテム用バナー */
#left .itemBanner {
	margin: 0 auto 5px;
	width: 242px;
}

#left .itemBanner a {
	background-color: #ffffff;
	border: 1px solid #a8a8a8;
	border-radius: 4px;
	box-shadow: 1px 1px 5px #a0a0a0;
	display: block;
	padding: 5px;
	position: relative;
	width: 230px;
}

#left .itemBanner a:hover {
	background-color: #2568ab;
	text-decoration: none;
}

#left .itemBanner a.borderBlue:hover {
	background-color: #2568ab;
}

#left .itemBanner a.borderPink:hover {
	background-color: #ff7bc9;
}

#left .itemBanner a.borderGreen:hover {
	background-color: #7bd63e;
}

#left .itemBanner a.borderOrange:hover {
	background-color: #f5be3b;
}

#left .itemBanner .itemText {
	background: url(/dol/img/bg_black_a50.png) left top repeat;
	bottom: 5px;
	left: 5px;
	padding: 5px;
	position: absolute;
	width: 220px;
}

#left .itemBanner .itemText .itemName,
#left .itemBanner .itemText .more {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.3em;
}

#left .itemBanner .itemText .more {
	margin: 5px 0 0;
	text-align: right;
}

/* 追従バナーここから */
*:first-child+html #contents,
*:first-child+html div.contents-wrapper {
	zoom: 1;
}

#contents:after {
	clear: both;
	content: '';
	display: block;
}

#followLside {
	position: relative;
	z-index: 1;
}

#followRside {
	position: relative;
	z-index: 1;
}
/* 追従バナーここまで */

/* MCNここから */
#left .mcn {
	background-color: #3776bd;
	border-left: 1px solid #8ca1ca;
	border-top: 1px solid #8ca1ca;
	border-right: 1px solid #476CB8;
	border-bottom: 1px solid #476CB8;
	border-radius: 3px;
	margin: 5px auto;
	padding: 0 0 5px;
	width: 238px;n
}

#left .mcn h2 {
	color: #ffffff;
	margin: 0 0 5px;
	padding: 10px 2px 0 5px;
	line-height: 1.2em;
}

#left .mcn .movie {
	margin: 5px auto 0;
	width: 232px;
}

#left .mcn .movie iframe,
#left .mcn .movie embed,
#left .mcn .movie img {
	border-left: 1px solid #476CB8;
	border-top: 1px solid #476CB8;
	border-right: 1px solid #8ca1ca;
	border-bottom: 1px solid #8ca1ca;
}

#left .mcn .more {
	margin: 5px auto 0;
	width: 232px;
}

#left .mcn .more li {
	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	width: 110px;
}

#left .mcn .more li a {
	background: #5b8da9; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e5e5 0%,#ffffff 100%); /* W3C */
	border: 1px solid #909090;
	border-radius: 3px;
	color: #404040;
	display: block;
	line-height: 1.2em;
	padding: 10px 2px;
}

#left .mcn .more li.yt {
	letter-spacing: 0.2em;
}

#left .mcn .more li.nc {
	float: right;
}
/* MCNここまで */

/* 電撃オンラインchここから */
#left .dch {
	background-color: #e0e0e0;
	border: 1px solid #a0a0a0;
	border-radius: 3px;
	margin: 5px auto;
	padding: 4px 0;
	width: 238px;
}

#left .dch .movie {
	margin: 0 auto 4px;
	width: 232px;
}

#left .dch .movie img {
	border-left: 1px solid #476CB8;
	border-top: 1px solid #476CB8;
	border-right: 1px solid #8ca1ca;
	border-bottom: 1px solid #8ca1ca;
}

#left .dch .more {
	margin: 0 auto;
	width: 232px;
}

#left .dch .more li {
	border-radius: 3px;
	margin: 0 auto;
}

#left .dch .more li a {
	border-radius: 3px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2em;
	padding: 10px 2px;
	text-align: center;
}

#left .dch .more li.yt a {
	background: #e31b21; /* Old browsers */
	background: -moz-linear-gradient(top,  #e31b21 0%, #ac1419 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e31b21), color-stop(100%,#ac1419)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e31b21 0%,#ac1419 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e31b21 0%,#ac1419 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e31b21 0%,#ac1419 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e31b21 0%,#ac1419 100%); /* W3C */
	color: #ffffff;
}

#left .dch .more li.nc a {
	background: #606060; /* Old browsers */
	background: -moz-linear-gradient(top,  #606060 0%, #222222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#222222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #606060 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #606060 0%,#222222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #606060 0%,#222222 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #606060 0%,#222222 100%); /* W3C */
	color: #f0f0f0;
	text-decoration: none;
}

#left .dch .more li.yt a:link,
#left .dch .more li.yt a:visited {
	text-shadow: -1px -1px 0 #222222;
}

#left .dch .more li.yt a:hover,
#left .dch .more li.yt a:active {
	padding: 11px 1px 9px 3px;
	text-decoration: none;
	text-shadow: 1px 1px 0 #222222;
}

#left .dch .more li.nc a:link,
#left .dch .more li.nc a:visited {
	text-shadow: -1px -1px 0 #000000;
}

#left .dch .more li.nc a:hover,
#left .dch .more li.nc a:active {
	padding: 11px 1px 9px 3px;
	text-decoration: none;
	text-shadow: 1px 1px 0 #222222;
}
/* 電撃オンラインchここまで */

/* AMW関連サイトここから */
#amwSites {
	margin: 5px auto;
	width: 242px;
}

#amwSites h2 {
/*	background: url(/dol/img/sprite_v120924.png) #505050 -38px -438px no-repeat;*/
	background-color: #505050;
	border: 1px solid #505050;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	color: #fefefe;
	font-size: 12px;
	line-height: 1.2em;
	padding: 7px 2px 6px 13px;
}

#amwSites ul {
	background-color: #ffffff;
	border: 1px solid #505050;
	border-top: none;
	border-radius: 0 0 4px 4px;
	padding: 5px 0;
}

#amwSites li {
	background: url(/dol/img/sprite_v120924.png) -40px -475px no-repeat;
	font-size: 14px;
	line-height: 1.2em;
	margin: 0 5px 5px;
	padding: 1px 2px 1px 8px;
}

#amwSites li.amwofficial {
	font-size: 11px;
}

/* ゲーム実況エクストリーム */
#left #movieRanking {
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	margin: 5px;
}

#left #movieRanking h2 {
	background: #17426d;
	background: -moz-linear-gradient(top,  #17426d 0%, #2366a8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#17426d), color-stop(100%,#2366a8));
	background: -webkit-linear-gradient(top,  #17426d 0%,#2366a8 100%);
	background: -o-linear-gradient(top,  #17426d 0%,#2366a8 100%);
	background: -ms-linear-gradient(top,  #17426d 0%,#2366a8 100%);
	background: linear-gradient(to bottom,  #17426d 0%,#2366a8 100%);
	color: #ffffff;
	padding: 3px 5px;
	font-size: 12px;
	line-height: 1.5em;
}

#left #movieRanking ol li {
	border-bottom: 1px dotted #c0c0c0;
	font-size: 14px;
	line-height: 1.2em;
	margin: 0 5px;
	padding: 5px 0;
}

#left #movieRanking ol li:last-child {
	border-bottom: none;
}

#left #movieRanking ol li span {
	display: block;
	font-weight: bold;
	font-size: 12px;
	height: 12px;
	line-height: 1.1em;
	padding: 15px 5px;
	text-align: center;
	width: 34px;
}

#left #movieRanking ol li span.rank_num {
	background-color: #cccccc;
	color: #666666;
	display: block;
	float: left;
}

#left #movieRanking ol li.rank1 span.rank_num {
	background-color: #cc9900;
	color: #ffffff;
}

#left #movieRanking ol li.rank2 span.rank_num {
	background-color: #999999;
	color: #ffffff;
}

#left #movieRanking ol li.rank3 span.rank_num {
	background-color: #996666;
	color: #ffffff;
}


#left #movieRanking ol li h3 {
	display: table-cell;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.3em;
	margin: 10px 0 0;
	padding: 0 0 0 10px;
}

#left #regular_ranking .term {
	font-size: 14px;
	line-height: 1.2em;
	margin: 5px 0 0;
	padding: 0 10px;
}