@charset "utf-8";

/*

電撃オンライン ヘッダー用CSS
Last Update 14.11.18

*/

input,
select,
button {
	vertical-align: middle;
}

span {
	font-weight: inherit;
}

strong {
	font-weight: bold;
}

/* clearfix */
#firstNav:after,
#secondNav:after,
.social:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

#firstNav li a:link,
#secondNav li a:link {
	text-decoration: none;
}


/* トップバナー・ワイドバナー（新旧） */
#superWide,
#superBanner,
#topBanner {
	margin: 0 auto 10px;
	text-align: center;
	width: 1230px;
}

#superBanner {
	margin: 10px auto;
	width: 728px;
}

/* 新ヘッダー 140722 */
#navigationArea {
	text-align: left;
}

#navigationArea a {
	text-decoration: none;
}

#navFirst {
	background-color: #2568ab;
	border: 1px solid #c0c0c0;
	border-radius: 3px;
	margin: 0 auto 5px;
	width: 1228px;
}

#navSecond {
	background-color: #f2f2f2;
	border: 1px solid #b0b0b0;
	margin: 5px auto;
	width: 1228px;
}

#navFirst li,
#navSecond li {
	display: inline-block;
	/* for IE7 */
	*display: inline;  
    *zoom: 1;  
}

#navFirst li {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2em;
}

#navFirst li a {
	border-right: 1px solid #00416b;
	color: #f0f0f0;
	display: block;
	padding: 7px 15px 5px;
}

#navFirst li a:hover {
	color: #ffffff;
	text-decoration: none;
}

#navSecond li {
	font-size: 12px;
	line-height: 1.2em;
}

#navSecond li a {
	color: #404040;
	display: block;
	padding: 8px 15px 5px;
}

#navSecond li a:hover {
	color: #909090;
	text-decoration: none;
}

/* 電撃オンライン */
#top #navFirst li#btn1_01 a,
#dol #navFirst li#btn1_01 a,
#top #navFirst li#btnDol a,
#dol #navFirst li#btnDol a {
	background-color: #00416b;
	color: #ffffff;
}

/* 電撃PlayStation */
#dps #navFirst {
	background-color: #484848;
}

#dps #navFirst li a {
	border-right: 1px solid #000000;
}

#dps #navFirst li#btnDps a {
	background-color: #000000;
	color: #ffffff;
}

/* 電撃Xbox */
#xbox #navFirst,
#xbox360 #navFirst {
	background-color: #107C10;
}

#xbox #navFirst li a,
#xbox360 #navFirst li a {
	border-right: 1px solid #0d540d;
}

#xbox #navFirst li#btnXbox a,
#xbox360 #navFirst li#btnXbox a {
	background-color: #0d540d;
	color: #ffffff;
}

/* 電撃Nintendo */
#nintendo #navFirst {
	background-color: #0096c8;
}

#nintendo #navFirst li a {
	border-right: 1px solid #005d7c;
}

#nintendo #navFirst li#btnNintendo a {
	background-color: #005d7c;
	color: #ffffff;
}

/* 電撃PCゲーム */
#dpc #navFirst {
	background-color: #e98400;
}

#dpc #navFirst li a {
	border-right: 1px solid #a45d00;
}

#dpc #navFirst li#btnDpc a {
	background-color: #a45d00;
	color: #ffffff;
}

/* 電撃カードゲーム */
#dcg #navFirst {
	background-color: #4a386d;
}

#dcg #navFirst li a {
	border-right: 1px solid #130430;
}

#dcg #navFirst li#btnDcg a {
	background-color: #130430;
	color: #ffffff;
}

/* 電撃ゲームアプリ */
#dga #navFirst {
	background-color: #e54f00;
}

#dga #navFirst li a {
	border-right: 1px solid #a63900;
}

#dga #navFirst li#btnApp a {
	background-color: #a63900;
	color: #ffffff;
}

/* 電撃コミック試し読み */
.page-parent #navFirst,
.page-child #navFirst,
.search #navFirst,
.page-parent #navSecond,
.page-child #navSecond,
.search #navSecond {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif
}

.page-parent #navFirst,
.page-child #navFirst,
.search #navFirst {
	background-color: #2568ab;
}

.page-parent #navFirst li a,
.page-child #navFirst li a,
.search #navFirst li a {
	border-right: 1px solid #00416b;
}

.page-parent #navFirst li#btn1_08 a,
.page-child #navFirst li#btn1_08 a,
.search #navFirst li#btn1_08 a,
.page-parent #navFirst li#btnComic a,
.page-child #navFirst li#btnComic a,
.search #navFirst li#btnComic a {
	background-color: #00416b;
	color: #ffffff;
}

/* DGS */
#dgs #navFirst {
	background-color: #ff9cbd;
}

#dgs #navFirst li a {
	border-right: 1px solid #cd7d98;
}

#dgs #navFirst li#btnDgs a {
	background-color: #cd7d98;
	color: #ffffff;
}

/* 攻略wiki */
#kouryaku_wiki #navFirst {
	background-color: #2568ab;
}

#kouryaku_wiki #navFirst li a {
	border-right: 1px solid #00416b;
}

#kouryaku_wiki #navFirst li#btnWiki a {
	background-color: #00416b;
	color: #ffffff;
}

/* DAG */
#dag #navFirst {
	background-color: #d71418;
}

#dag #navFirst li a {
	border-right: 1px solid #9b3437;
}

#dag #navFirst li#btnDag a {
	background-color: #9b3437;
	color: #ffffff;
}