@charset "utf-8";

/*

電撃オンライン リセットCSS
Last Update 11.09.12

*/

/* reset */
html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td, em, img, strong, span, object, iframe, article, aside, audio, canvas, footer, header, hgroup, menu, nav, section, video {
	background: transparent;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	line-height: 1em;
	list-style-type: none;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6, dt, th, strong {
	font-weight: bold;
}

article, aside, footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
	background: transparent;
	font-size: 100%;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
}

img {
	vertical-align: bottom;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

em {
	line-height: inherit;	
}

span {
	font-weight: inherit;
	line-height: inherit;
}

strong {
	font-weight: bold;
	line-height: inherit;
}

body {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
}

hr {
	clear: both;
}

/* clearfix */
.clear:after {
	clear: both;
	content: " ";
	display: none;
	height: 0;
	visibility: hidden;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}
 
.cf:after {
	clear: both;
}
 
.cf {
	zoom: 1;
}