.scoreContent .ttl-main {
  margin-top: 6px;
}

.scoreContent .ttl-main.no-border {
  border: none;
}

.ttl-main.mlbdate .date {
  position: relative;
  top: -3px;
  margin-left: 15px;
  font-size: 17px;
}

/*
### サッカーの結果
*/
.scoreContent .soccerScore {
  margin-top: 20px;
}

.scoreContent .soccerScore .head {
  font-size: 17px;
  font-weight: bold;
}

.scoreContent .soccerScore.datesort .head {
  font-family: "Roboto", sans-serif;
}

.scoreContent .soccerScore .place {
  margin-left: 13px;
  font-size: 13px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  font-weight: normal;
}

.scoreContent .soccerScore .date {
  margin-left: 12px;
  font-size: 13px;
}

.scoreContent .soccerScore .result {
  width: 100%;
  min-height: 40px;
  margin-top: 10px;
  text-align: center;
}

.scoreContent .soccerScore .result + .result {
  margin-top: 0;
}

.scoreContent .soccerScore .result + .result .team,
.scoreContent .soccerScore .result + .result .point,
.scoreContent .soccerScore .result + .result .halfscore {
  border-top: none;
}

.scoreContent .soccerScore .team,
.scoreContent .soccerScore .point,
.scoreContent .soccerScore .halfscore {
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-weight: bold;
}

.scoreContent .soccerScore .team,
.scoreContent .soccerScore .point {
  width: 146px;
}

.scoreContent .soccerScore .point,
.scoreContent .soccerScore .halfscore {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

.scoreContent .soccerScore.scorelist .point,
.scoreContent .soccerScore.scorelist .halfscore {
  background-color: #fff;
}

.scoreContent .soccerScore .team {
  background-color: #e5e5e5;
}

.scoreContent .soccerScore .point {
  font-size: 24px;
}

.scoreContent .soccerScore .halfscore {
  font-size: 14px;
  padding: 0;
}

.scoreContent .soccerScore .halfscore > div {
  padding: 8px 0;
}

.scoreContent .soccerScore .halfscore > div:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.scoreContent .soccerScore .halfscore > div span {
  display: block;
  margin-top: -3px;
  margin-bottom: -3px;
  text-align: center;
  font-size: 10px;
  font-weight: normal;
  -webkit-transform: scale(.8);
  transform: scale(.8);
}

/*
### サッカーの詳細
*/
.scoreContent .soccerScore .details {
  width: 100%;
  text-align: center;
}

.scoreContent .soccerScore .name,
.scoreContent .soccerScore .time,
.scoreContent .soccerScore .scene {
  box-sizing: border-box;
  padding: 9px 0;
  border: 1px solid #ccc;
}

.scoreContent .soccerScore tr:first-of-type .name,
.scoreContent .soccerScore tr:first-of-type .time,
.scoreContent .soccerScore tr:first-of-type .scene {
  border-top: none;
}

.scoreContent .soccerScore .name,
.scoreContent .soccerScore .time {
  width: 146px;
}

.scoreContent .soccerScore .name span,
.scoreContent .soccerScore .time span {
  display: block;
}

/*
### サッカーの成績
*/
.scoreContent .soccerScore .stats {
  width: 100%;
  text-align: center;
}

.scoreContent .soccerScore .ttl,
.scoreContent .soccerScore .num,
.scoreContent .soccerScore .data {
  box-sizing: border-box;
}

.scoreContent .soccerScore .ttl {
  height: 28px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #e5e5e5;
}

.scoreContent .soccerScore .num,
.scoreContent .soccerScore .data {
  height: 30px;
  border: 1px solid #ccc;
}

.scoreContent .soccerScore .num {
  width: 292px;
}

.scoreContent .soccerScore + .searchTab-wrapper {
  margin-top: 18px;
}

/*
### メンバー
*/
.scoreContent .soccerMenber {
  margin-top: 20px;
}

.scoreContent .soccerMenber .ttl {
  font-size: 17px;
  font-weight: bold;
  line-height: 1;
}

.scoreContent .soccerMenber .grid-2 {
  margin-top: 13px;
  justify-content: space-between;
}

.scoreContent .soccerMenber .team {
  box-sizing: border-box;
  width: 327px;
  border-bottom: 1px solid #ccc;
}

.scoreContent .soccerMenber caption,
.scoreContent .soccerMenber th,
.scoreContent .soccerMenber td {
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.scoreContent .soccerMenber caption {
  height:30px;
  padding-top: 6px;
  border-top: 1px solid #ccc;
  background-color: #e5e5e5;
  font-weight: bold;
}

.scoreContent .soccerMenber th {
  height: 28px;
  background-color: #f2f2f2;
  font-weight: normal;
}

.scoreContent .soccerMenber th,
.scoreContent .soccerMenber td {
  padding: 10px 0;
}

.scoreContent .soccerMenber .space {
  padding-right: 10px;
  padding-left: 10px;
}

.scoreContent .soccerMenber .space.wide {
  padding-right: 8px;
  padding-left: 8px;
}

.scoreContent .soccerMenber .nar {
  width: 40px;
  text-align: center;
}

.scoreContent .soccerMenber .mid {
  width: 80px;
}

.scoreContent .soccerMenber .wide {
  width: 101px;
}

/*
### レフリー
*/
.scoreContent .referee {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.scoreContent .referee .label,
.scoreContent .referee .num,
.scoreContent .referee .chief,
.scoreContent .referee .assistant {
  padding: 7px 0;
  text-align: center;
}

.scoreContent .referee .label {
  width: 80px;
  border-right: 1px solid #ccc;
  background-color: #e5e5e5;
  font-weight: bold;
}

.scoreContent .referee .num {
  width: 90px;
  border-right: 1px solid #ccc;
}

.scoreContent .referee .chief {
  width: 149px;
  border-right: 1px solid #ccc;
}

.scoreContent .referee .assistant {
  width: 188px;
}

/*
### レフリー
*/
.scoreContent .archive {
  position: relative;
  margin-top: 3px;
  padding: 10px 11px;
  border: 2px solid #ededed;
}

.scoreContent .archive .selectperiod,
.scoreContent .archive .selectyear {
  display: flex;
  flex-wrap:wrap;
}

.scoreContent .archive .selectperiod {
  width: 472px;
}

.scoreContent .archive .selectyear {
  width: 498px;
}

.scoreContent .archive .selectyear.wide {
  width: 581px;
}

.scoreContent .archive a {
  height: 33px;
  text-align: center;
  line-height: 33px;
  text-decoration: none;
}

.scoreContent .archive a:hover {
  background-color: #f2f2f2;
}

.scoreContent .archive a.current {
  background-color: #333;
  color: #fff;
}

.scoreContent .archive .period {
  width: 118px;
}

.scoreContent .archive .year {
  width: 83px;
}

.scoreContent .selectfield {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.scoreContent .archive .selectsort {
  position: absolute;
  top: 11px;
  right: 10px;
}

/*
### ゴルフの結果
*/
.scoreContent .golfScore {
  margin-top: 20px;
}

.scoreContent .golfScore .result {
  width: 100%;
}

.scoreContent .golfScore th {
  background-color: #e5e5e5;
}

.scoreContent .golfScore .day,
.scoreContent .golfScore .name,
.scoreContent .golfScore .country,
.scoreContent .golfScore .money,
.scoreContent .golfScore .place {
  box-sizing: border-box;
  height: 29px;
  border: 1px solid #ccc;
  text-align: center;
}

.scoreContent .golfScore .day {
  width: 80px;
}

.scoreContent .golfScore .name {
  width: 130px;
}

.scoreContent .golfScore .country {
  width: 60px;
}

.scoreContent .golfScore .money {
  width: 100px;
}

.scoreContent .golfScore .place {
  width: 163px;
}

/*
### テキスト速報
*/
.scoreContent .textNews {
  margin-top: 20px;
  padding: 0 10px;
  line-height: 1.6;
  font-size:16px;
}
.scoreContent .textNews br {
  content: " ";
  display: block;
  margin: 1em;
}

.scoreContent .textNews .gameset {
  font-size: 15px;
  color: #f00;
}

.scoreContent .textNews .score {
  color: #f00;
}

.scoreContent .textNews .separate {
  color: #3399ff;
}

.scoreContent .col-red {
  color: #f00;
}

.scoreContent .col-blue {
  color: #3399ff;
}

.scoreContent .col-green {
  color: #0c0;
}

.scoreContent .bold {
  font-weight: bold;
}

.scoreContent hr {
  margin: 20px 0;
  height: 0;
  border: none;
  border-top: 1px solid #333;
}


/*
### フッターの選択
*/
.selectfield .selectitem {
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.selectfield .selectitem::before {
  content: "";
  display: inline-block;
  position: relative;
  top: -1px;
  left: -5px;
  width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-right: none;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #000;
}

.selectfield .selectitem:hover::before {
	border-left-color: #000;
}

.selectfield .selectitem.current::before {
	border-left-color: #fff;
}

.selectfield.grid-2 .selectitem {
  border: 1px solid #ccc;
  width: 50%;
}

.selectfield.grid-2 .selectitem:nth-of-type(2n):not(:last-child) {
  border-left: none;
}

.selectfield.grid-2 .selectitem:not(:nth-of-type(1)):not(:nth-of-type(2)) {
  border-top: none;
}

.selectfield.grid-4 .selectitem {
  border: 1px solid #ccc;
  width: 25%;
}

.selectfield.grid-4 .selectitem:not(:nth-of-type(4n)) {
  border-right: none;
}

.selectfield.grid-4 .selectitem:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)):not(:nth-of-type(4)) {
  border-top: none;
}

.selectfield .selectitem:hover {
  background-color: #f2f2f2;
}

.selectfield.grid-2 .selectitem.current,
.selectfield.grid-4 .selectitem.current {
  border-color: #333;
  background-color: #333;
  color: #fff;
}

.selectfield.grid-2 .selectitem.current:nth-of-type(2n) {
  margin-left: -1px;
  width: calc(50% + 1px);
}

/*
### 野球のスコアボード
*/
.scoreContent .baseballScore {
  margin-top: 20px;
}

.baseballScore .head::after {
  content: "";
  display: block;
  clear: both;
}

.baseballScore .head .ttl {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
}

.baseballScore .head .info {
  float: right;
}

.baseballScore .head .state {
  padding: 3px 10px;
  font-size: 10px;
}

.baseballScore .head .end {
  background-color: #999;
  color: #fff;
}

.baseballScore .head .during {
  border: 1px solid #ccc;
  background-color: #fff;
}

.baseballScore .result {
  width: 100%;
  margin-top: 15px;
  table-layout: fixed;
}

.baseballScore .result th,
.baseballScore .result td {
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
}

.baseballScore .result th {
  background-color: #e6e6e6;
}

.baseballScore .result .inning,
.baseballScore .result .score {
/*  width: 50px;	*/
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.baseballScore .result .team {
  padding: 0 10px;
  text-align: left;
  font-size: 14px;
}

.baseballScore .result .teamName {
  width: 150px;
}

.baseballScore .data {
  width: 100%;
  margin-top: 20px;
}

.baseballScore .data table,
.baseballScore .data tr {
  border: 1px solid #ccc;
}

.baseballScore .data th,
.baseballScore .data td {
  padding: 8px 10px;
}

.baseballScore .data .label {
  width: 80px;
  background-color: #f2f2f2;
  text-align: left;
  font-weight: normal;
}

.scoreContent .newsHeader {
  padding-top: 10px;
}

.scoreContent .newsHeader .font-wrapper {
  height: 24px;
  line-height: 24px;
  padding-right: 70px;
  position: relative;
  text-align: center;
  width: 143px;
  float: right;
}

.scoreContent .newsHeader .font-wrapper .label {
  font-size: 10px;
  color: #999;
}

.scoreContent .newsHeader .font-wrapper [class*="btn"] {
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: block;
  font-size: 12px;
  height: 24px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 24px;
}

.scoreContent .newsHeader .font-wrapper .btnLarge {
  border-left: 1px solid #ccc;
  right: 47px;
  width: 23px;
}

.scoreContent .newsHeader .font-wrapper .btnMiddle {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  right: 23px;
}

.scoreContent .newsHeader .font-wrapper .btnSmall {
  border-right: 1px solid #ccc;
  right: 0;
  width: 23px;
}

.scoreContent .newsHeader .font-wrapper [class*="btn"].current {
  border-color: #333;
  background: #333;
  color: #fff;
}

/*
### プロ野球スコア速報
*/
.sjnpb h2 {
  background: none !important;
  font-size: 20px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin-top: 10px;
  position: relative;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  text-indent: 0 !important;
}

.sjnpb h2 .update-time {
  color: #808080;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  vertical-align: middle;
}

.sjnpb h4 {
  margin-top: 15px;
  font-size: 17px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
}

.sjnpb h5 {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.sjnpb .gameListCmn {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 10px;
}

.sjnpb .gameListCmn > li {
  width: 210px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
}

.sjnpb .gameListCmn > li.starting {
  background-color: #85c7f0;
}

.sjnpb .gameListCmn > li.und {
  background: #fcee21;
}

.sjnpb .gameListCmn > li.fin {
  background: #f2f2f2;
  color: #999;
}

.sjnpb .gameListCmn > li.current {
  background: #c7d1da !important;
}

.sjnpb .gameListCmn > li:nth-of-type(3n) {
  margin-right: 0;
}

.sjnpb .gameListCmn > li table {
  width: 100%;
}

.sjnpb .gameListCmn > li .place {
  text-align: center;
  font-weight: normal;
  padding: 5px 0 0;
}

.sjnpb .gameListCmn > li .team1,
.sjnpb .gameListCmn > li .team2 {
  width: 40px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.sjnpb .gameListCmn > li .team1 {
  text-align: right;
}

.sjnpb .gameListCmn > li .team2 {
  text-align: left;
}

.sjnpb .gameListCmn > li .point1,
.sjnpb .gameListCmn > li .point2 {
  width: 35px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.sjnpb .gameListCmn > li .point1 {
  text-align: right;
  color: #f00;
}

.sjnpb .gameListCmn > li .point2 {
  text-align: left;
  color: #f00;
}

.sjnpb .gameListCmn > li.fin .point1,
.sjnpb .gameListCmn > li.fin .point2 {
  color: #966;
}

.sjnpb .gameListCmn > li .time {
  width: 56px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.sjnpb .gameListCmn > li .pitchTitle {
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
}
.sjnpb .gameListCmn > li .pitch1,
.sjnpb .gameListCmn > li .pitch2 {
  text-align: center;
  font-size: 13px;
  line-height: 1.2;
  height: 30px;
  vertical-align: middle;
}

.sjnpb ul.ga-tab {
  margin-top: 10px;
  background: #fff;
  display: -webkit-flex !important;
  display: flex !important;
  border-bottom: none !important;
}

.sjnpb ul.ga-tab > li {
  border-bottom: 2px solid #333;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: block !important;
  font-size: 13px;
  font-weight: bold;
  height: 44px !important;
  text-align: center;
  width: 50% !important;
  letter-spacing: 0 !important;
}

.sjnpb ul.ga-tab > li a {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-decoration: none;
  color: #000 !important;
  background: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.sjnpb ul.ga-tab > li:first-child {
  border-left: 1px solid #ccc;
}

.sjnpb ul.ga-tab > li.current {
  background: #333;
  color: #fff;
  border-color: #333;
}

.sjnpb ul.ga-tab > li.current a {
  color: #fff !important;
}

.sjnpb ul.ga-tab > li:hover {
  text-decoration: none;
}

.sjnpb .ga-tab > li:not(.current):hover {
  background: #f2f2f2;
}

.sjnpb #games h2 {
  font-size: 20px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  color: #000;
}

.sjnpb #games h2 .update-time {
  font-size: 15px;
  height: 35px;
  line-height: 35px;
  float: inherit;
  text-align: left;
  letter-spacing: inherit;
  width: auto;
}

.sjnpb #games h4 {
  background-color: inherit !important;
  margin-top: 15px !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  font-size: 17px !important;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  text-align: left !important;
  color: #000 !important;
}

.sjnpb #games h5.central,
.sjnpb #games h5.interleague,
.sjnpb #games h5.climaxleague,
.sjnpb #games h5.japanleague {
  line-height: 30px;
  padding: 0 10px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: left;
}

.sjnpb #games #schedule::after {
  display: block;
  content: "";
  clear: both;
}

.sjnpb #games #schedule > li {
  float: left;
  width: 216px !important;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 0 !important;
}

.sjnpb #games #schedule > li:nth-of-type(4) {
  width: 218px !important;
  margin-right: 0 !important;
}

.sjnpb #games #schedule li.central {
  margin-right: 0 !important;
  width: 100% !important;
}

.sjnpb #games #schedule table {
  width: 100%;
  border-collapse: collapse;
}

.sjnpb #games #schedule th,
.sjnpb #games #schedule td {
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
}

.sjnpb #games #schedule th {
  height: 30px;
  font-size: 14px !important;
  font-weight: bold;
  padding: 0 !important;
}

.sjnpb #games #schedule td {
  height: 40px;
  font-weight: bold;
  padding: 0 !important;
}

.sjnpb #games #schedule td a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.sjnpb #games #schedule td.sc_current a {
  background: #000;
}

.sjnpb #games #schedule td:not(.sc_current) a:hover {
  background: #f2f2f2;
}

.sjnpb #games .calendar,
.sjnpb #te-game .calendar {
  width: 100%;
}

.sjnpb #games .calendar .day th,
.sjnpb #te-game .calendar .day th {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  background: #e6e6e6;
  border: 1px solid #ccc;
  width: 14.2%;
  color: #000;
  padding: 0;
}

.sjnpb #games .calendar .date th,
.sjnpb #te-game .calendar .date th {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: #f2f2f2;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.sjnpb #games .calendar .gamesSchedule td,
.sjnpb #te-game .calendar .gamesSchedule td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 5px;
  height: 30px;
  vertical-align: top;
  text-align: center;
  font-size: 12px;
}

.sjnpb #games .calendar .gamesSchedule td dl,
.sjnpb #te-game .calendar .gamesSchedule td dl {
  margin: 10px 0;
}

.sjnpb #games .calendar .gamesSchedule td dd,
.sjnpb #te-game .calendar .gamesSchedule td dd {
  font-size: 10px;
}

.sjnpb #games .calendar .gamesSchedule td a,
.sjnpb #te-game .calendar .gamesSchedule td a {
  color: #0066cc;
}

.sjnpb #games .calendar .gamesSchedule td div {
  margin-top: 10px;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  font-weight: bold;
}

.sjnpb #games #schedule .central th,
.sjnpb h5.central,
.sjnpb .centralLabel {
  background: #cce3bb;
}

.sjnpb #games #schedule .interleague th,
.sjnpb h5.interleague,
.sjnpb .interleagueLabel {
  background: #f4ddbb;
}

.sjnpb #games #schedule .climaxleague th,
.sjnpb h5.climaxleague,
.sjnpb .climaxleagueLabel {
  background: #b4cce3;
}

.sjnpb #games #schedule .japanleague th,
.sjnpb h5.japanleague,
.sjnpb h5.japanleagueLabel {
  background: #aaddcc;
}

.sjnpb .copyright {
  margin-top: 20px;
  text-align: center;
}

.sjnpb .copyright .copy,
.sjnpb .copyright .copy2 {
  font-size: 12px !important;
  line-height: 1.4 !important;
}


/*
### プロ野球順位表
*/
#sjnpb-team #parts-team h2 {
  border-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin-top: 10px;
  position: relative;
  vertical-align: middle;
  color: #000;
}

#sjnpb-team #parts-team h2 .update-time {
  font-size: 15px;
  height: 35px;
  line-height: 35px;
  float: inherit;
  text-align: left;
  width: auto;
}

#sjnpb-team #parts-team > div {
  margin-top: 20px;
}

#sjnpb-team #parts-team table {
  width: 100%;
}

#sjnpb-team #parts-team caption {
  border-top: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  position: relative;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  padding: 0 0 0 10px;
}

#sjnpb-team #parts-team .central caption {
  background: #cce3bb;
  color: #000;
}

#sjnpb-team #parts-team .pacific caption {
  background: #bbddee;
  color: #000;
}

#sjnpb-team #parts-team .exchange caption {
  background: #f4ddbb;
  color: #000;
}

#sjnpb-team #parts-team caption span {
  float: inherit;
  line-height: inherit;
  background: none;
  padding: 0;
  border: none;
}


#sjnpb-team #parts-team caption a {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 26px;
  line-height: 26px;
  display: inline-block;
  font-weight: normal;
  color: #000;
  font-size: 14px;
}

#sjnpb-team #parts-team th,
#sjnpb-team #parts-team td {
  border: 1px solid #d5d5d5;
  text-align: center;
  height: 28px;
}

#sjnpb-team #parts-team th {
  background: #f2f2f2;
  font-weight: bold;
  color: #000;
}

#sjnpb-team #parts-team td {
  background: #fff;
  width: 12%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

#sjnpb-team #parts-team .rank {
  width: 7%;
}

#sjnpb-team #parts-team .team {
  width: 21%;
}

#sjnpb-team #parts-team td a {
  color: #0066cc;
  font-weight: normal;
}

/*
### プロ野球選手名鑑
*/
#sjnpb #te-member {
  position: relative;
}

#sjnpb #te-member h2 {
  border-bottom: none;
  font-size: 17px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin-top: 10px;
  position: relative;
  vertical-align: middle;
  color: #000;
}

#sjnpb #te-member select {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 10px;
}

#sjnpb #te-member .h-list {
  margin: 20px 0;
  padding: 10px;
  border: 2px solid #ededed;
  text-align: left;
}

#sjnpb #te-member .h-list li {
  display: inline-block;
  margin-right: 0;
}

#sjnpb #te-member .h-list a {
  display: inline-block;
  height: 33px;
  padding: 0 20px;
  line-height: 33px;
  font-weight: bold;
  border-radius: 0;
}

#sjnpb #te-member .h-list a:hover {
  text-decoration: none;
  background: #f2f2f2;
}

#sjnpb #te-member .h-list a.bgTeam00 {
  background: #fff100 !important;
  color: #000 !important;
}

#sjnpb #te-member .h-list a.bgTeam01 {
  background: #dc622d !important;
  color: #fff !important;
}

#sjnpb #te-member .h-list a.bgTeam02 {
  background: #1b2c5c !important;
  color: #fff !important;
}

#sjnpb #te-member .h-list a.bgTeam03 {
  background: #1c4e95 !important;
  color: #fff !important;
}

#sjnpb #te-member .h-list a.bgTeam04 {
  background: #173076 !important;
  color: #fff !important;
}

#sjnpb #te-member .h-list a.bgTeam05 {
  background: #fff100 !important;
  color: #000 !important;
}

#sjnpb #te-member .h-list a.bgTeam06 {
  background: #d52328 !important;
  color: #fff !important;
}

#sjnpb #te-member .h-list a.bgTeam07 {
  background: #0f345c !important;
  color: #fff !important;
}

#sjnpb #te-member .h-list a.bgTeam008 {
  background: #b7aa7d !important;
  color: #fff !important;
}

#sjnpb #te-member .h-list a.bgTeam09 {
  background: #090405 !important;
  color: #fff !important;
}

#sjnpb #te-member .h-list a.bgTeam10 {
  background: #932028 !important;
  color: #fff !important;
}

#sjnpb #te-member .h-list a.bgTeam11 {
  background: #bc912a !important;
  color: #fff !important;
}

#sjnpb #te-member .h-list a.bgTeam12 {
  background: #e9be3b !important;
  color: #000 !important;
}


#sjnpb #te-member .data-list {
  width: 100%;
}

#sjnpb #te-member .data-list th,
#sjnpb #te-member .data-list td {
  border: 1px solid #d5d5d5;
  text-align: center;
  height: 28px;
}

#sjnpb #te-member .data-list th {
  font-weight: bold;
}

#sjnpb #te-member.t-color-00 .data-list th {
  background: #fff100;
  color: #333;
}

#sjnpb #te-member.t-color-01 .data-list th {
  background: #eba384;
}

#sjnpb #te-member.t-color-02 .data-list th {
  background: #3252ab;
}

#sjnpb #te-member.t-color-03 .data-list th {
  background: #3d7eda;
}

#sjnpb #te-member.t-color-04 .data-list th {
  background: #2853cb;
}

#sjnpb #te-member.t-color-05 .data-list th {
  background: #fff100;
  color: #333;
}

#sjnpb #te-member.t-color-06 .data-list th {
  background: #e87679;
}

#sjnpb #te-member.t-color-07 .data-list th {
  background: #1d66b4;
}

#sjnpb #te-member.t-color-08 .data-list th {
  background: #dbd5bf;
}

#sjnpb #te-member.t-color-09 .data-list th {
  background: #50232c;
}

#sjnpb #te-member .t-color-10 .data-list th {
  background: #d6434d;
}

#sjnpb #te-member .t-color-11 .data-list th {
  background: #debd6e;
}

#sjnpb #te-member .t-color-12 .data-list th {
  background: #f3dc97;
}

#sjnpb #te-member .data-list td {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 9%;
}

#sjnpb #te-member .data-list .no {
  width: 7%;
}

#sjnpb #te-member .data-list .name {
  width: 44%;
}

#sjnpb #te-member .data-list .average {
  width: 13%;
}

#sjnpb #te-member .data-list .no05 {
  width: 10%;
}

#sjnpb #te-member .data-list .name05 {
  width:50%;
}

#sjnpb #te-member .data-list .title05 {
  width:30%;
}

#sjnpb #te-member .data-list .age05 {
  width:10%;
}

#sjnpb #te-member td a {
  color: #0066cc;
  font-weight: normal;
}

#sjnpb #te-member .data-view {
  width: 100%;
}

#sjnpb #te-member .data-view caption {
  border-top: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  position: relative;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
}

#sjnpb #te-member .data-view .bgTeam00 {
  background: #fff100;
  color: #000;
}

#sjnpb #te-member .data-view .bgTeam01 {
  background: #dc622d;
  color: #fff;
}

#sjnpb #te-member .data-view .bgTeam02 {
  background: #1b2c5c;
  color: #fff;
}

#sjnpb #te-member .data-view .bgTeam03 {
  background: #1c4e95;
  color: #fff;
}

#sjnpb #te-member .data-view .bgTeam04 {
  background: #173076;
  color: #fff;
}

#sjnpb #te-member .data-view .bgTeam05 {
  background: #fff100;
  color: #000;
}

#sjnpb #te-member .data-view .bgTeam06 {
  background: #d52328;
  color: #fff;
}

#sjnpb #te-member .data-view .bgTeam07 {
  background: #0f345c;
  color: #fff;
}

#sjnpb #te-member .data-view .bgTeam08 {
  background: #b7aa7d;
  color: #fff;
}

#sjnpb #te-member .data-view .bgTeam09 {
  background: #090405;
  color: #fff;
}

#sjnpb #te-member .data-view .bgTeam10 {
  background: #932028;
  color: #fff;
}

#sjnpb #te-member .data-view .bgTeam11 {
  background: #bc912a;
  color: #fff;
}

#sjnpb #te-member .data-view .bgTeam12 {
  background: #e9be3b;
  color: #000;
}

#sjnpb #te-member .data-view th,
#sjnpb #te-member .data-view td {
  border: 1px solid #d5d5d5;
  text-align: center;
  height: 28px;
}

#sjnpb #te-member .data-view th {
  font-weight: bold;
  background: #e6e6e6;
}

#sjnpb #te-member .data-view td {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 9%;
}

#sjnpb #te-member .data-view .head {
  font-weight: normal;
  width: 25%;
}

#sjnpb #te-member .data-view .name {
  width: 50%;
}

#sjnpb #te-member .data-view .value {
  width: 25%;
}

/*
### 球団別結果
*/
.sjnpb #te-game h2 {
  border-bottom: none;
  font-size: 17px;
}

.sjnpb #te-game .h-list {
  margin: 20px 0;
  padding: 10px;
  border: 2px solid #ededed;
  text-align: left;
}

.sjnpb #te-game .h-list li {
  display: inline-block;
  margin-right: 0;
}

.sjnpb #te-game .h-list a {
  display: inline-block;
  height: 33px;
  padding: 0 20px;
  line-height: 33px;
  font-weight: bold;
  border-radius: 0;
}

.sjnpb #te-game .h-list a:hover {
  text-decoration: none;
  background: #f2f2f2;
}

.sjnpb #te-game h5.bgTeam00,
.sjnpb #te-game h5.bgTeam01,
.sjnpb #te-game h5.bgTeam02,
.sjnpb #te-game h5.bgTeam03,
.sjnpb #te-game h5.bgTeam04,
.sjnpb #te-game h5.bgTeam05,
.sjnpb #te-game h5.bgTeam06,
.sjnpb #te-game h5.bgTeam07,
.sjnpb #te-game h5.bgTeam09,
.sjnpb #te-game h5.bgTeam10,
.sjnpb #te-game h5.bgTeam11,
.sjnpb #te-game h5.bgTeam12 {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin-bottom: 0;
  text-align: left;
  font-weight: bold;
  line-height: 30px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.sjnpb #te-game h5.bgTeam00,
.sjnpb #te-game .h-list a.bgTeam00 {
  background: #fff100 !important;
  color: #000 !important;
}

.sjnpb #te-game h5.bgTeam01,
.sjnpb #te-game .h-list a.bgTeam01 {
  background: #dc622d !important;
  color: #fff !important;
}

.sjnpb #te-game h5.bgTeam02,
.sjnpb #te-game .h-list a.bgTeam02 {
  background: #1b2c5c !important;
  color: #fff !important;
}

.sjnpb #te-game h5.bgTeam03,
.sjnpb #te-game .h-list a.bgTeam03 {
  background: #1c4e95 !important;
  color: #fff !important;
}

.sjnpb #te-game h5.bgTeam04,
.sjnpb #te-game .h-list a.bgTeam04 {
  background: #173076 !important;
  color: #fff !important;
}

.sjnpb #te-game h5.bgTeam05,
.sjnpb #te-game .h-list a.bgTeam05 {
  background: #fff100 !important;
  color: #000 !important;
}

.sjnpb #te-game h5.bgTeam06,
.sjnpb #te-game .h-list a.bgTeam06 {
  background: #d52328 !important;
  color: #fff !important;
}

.sjnpb #te-game h5.bgTeam07,
.sjnpb #te-game .h-list a.bgTeam07 {
  background: #0f345c !important;
  color: #fff !important;
}

.sjnpb #te-game h5.bgTeam08,
.sjnpb #te-game .h-list a.bgTeam008 {
  background: #b7aa7d !important;
  color: #fff !important;
}

.sjnpb #te-game h5.bgTeam09,
.sjnpb #te-game .h-list a.bgTeam09 {
  background: #090405 !important;
  color: #fff !important;
}

.sjnpb #te-game h5.bgTeam10,
.sjnpb #te-game .h-list a.bgTeam10 {
  background: #932028 !important;
  color: #fff !important;
}

.sjnpb #te-game h5.bgTeam11,
.sjnpb #te-game .h-list a.bgTeam11 {
  background: #bc912a !important;
  color: #fff !important;
}

.sjnpb #te-game h5.bgTeam12,
.sjnpb #te-game .h-list a.bgTeam12 {
  background: #e9be3b !important;
  color: #000 !important;
}

.sjnpb #te-game select {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 10px;
}

/*
### 球団別結果
*/
.sjnpb #ga-ball h2 {
  border-bottom: none;
  font-size: 17px;
}

.sjnpb #ga-ball .secBody {
  font-size: 13px;
}

.sjnpb #ga-ball .secBody::after {
  clear: both;
  display: block;
  content: "";
}

.sjnpb #ga-ball .secBody .gameSummary:nth-of-type(1) {
  display: inline-block;
  float: left;
  font-weight: normal;
  color: #000;
}

.sjnpb #ga-ball .secBody .gameSummary:nth-of-type(2) {
  display: inline-block;
  float: right;
  margin-top: 0;
  font-weight: normal;
  color: #000;
}

.sjnpb #ikkyuHd .reload {
    position: absolute !important;
    right: 130px !important;
    top: 36px !important;
}

.sjnpb #ga-ball .scoreboardArea .scoreBoard {
  width: 100%;
}

.sjnpb #ga-ball .scoreboardArea .scoreBoard th,
.sjnpb #ga-ball .scoreboardArea .scoreBoard td {
  height: 40px;
  text-align: center;
  border: 1px solid #d5d5d5;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  width: 6%;
  padding: 0;
}

.sjnpb #ga-ball .scoreboardArea .scoreBoard th {
  background: #e6e6e6;
}

.sjnpb #ga-ball .scoreboardArea .scoreBoard .team {
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  width: 28%;
  padding-left: 10px;
}

.sjnpb #ga-ball .scoreboardArea .scoreBoard td a {
  display: block;
  height: 40px;
  line-height: 40px;
}

.sjnpb #ga-ball .scoreboardArea .scoreBoard td:not(.bgTeam00):not(.bgTeam01):not(.bgTeam02):not(.bgTeam03):not(.bgTeam04):not(.bgTeam05):not(.bgTeam06):not(.bgTeam07):not(.bgTeam08):not(.bgTeam09):not(.bgTeam10):not(.bgTeam11):not(.bgTeam12) a {
  color: #0066cc;
}

.sjnpb #ga-ball .scoreboardArea .scoreBoard td:not(.bgTeam00):not(.bgTeam01):not(.bgTeam02):not(.bgTeam03):not(.bgTeam04):not(.bgTeam05):not(.bgTeam06):not(.bgTeam07):not(.bgTeam08):not(.bgTeam09):not(.bgTeam10):not(.bgTeam11):not(.bgTeam12) a:hover {
  background: #f2f2f2;
  text-decoration: none;
}

.sjnpb #ga-ball #game-end {
  border-radius: 0 !important;
  height: 180px !important;
}

.sjnpb #ga-ball #game-end .label {
  font-size: 16px !important;
}

.sjnpb #indexLayout #playerListIndex .contentBlock {
  padding: 0 5px 0 0;
  border-radius: 0;
}

.sjnpb #indexLayout #playerListIndex .contentBlock .data-view caption {
  font-weight: bold;
}

.sjnpb #indexLayout #playerListIndex .contentBlock .data-view td.no {
  background: #f2f2f2;
  width: 30px;
}

.sjnpb #indexLayout #playerListIndex .contentBlock .data-view td.position {
  width: 30px;
}

.sjnpb #indexLayout #playerListIndex .contentBlock .data-view td.name {
  word-wrap: break-word;
  word-break: break-all;
}

.sjnpb #indexLayout #playerListIndex .contentBlock .data-view td.name a {
  color: #0066cc;
}

.sjnpb #indexLayout #playerListIndex .contentBlock .data-view td.name a:hover {
  text-decoration: underline;
}

.sjnpb #indexLayout #batterBoxLive {
  width: 510px;
}

.sjnpb #indexLayout #batterBoxLive .contentBlock {
  border-radius: 0;
}

.sjnpb #indexLayout #batterBoxLive .col01 {
  width: 205px;
}

.sjnpb #indexLayout #batterBoxLive .data-view a {
  color: #0066cc;
}

.sjnpb #indexLayout #batterBoxLive .data-view a:hover {
  text-decoration: underline;
}

.sjnpb #indexLayout #batterBoxLive .conditions #inningScore {
  width: 100% !important;
}

/*
### プロ野球スコア速報
*/
#sjnpb #rankingCl h2,
#sjnpb #rankingPl h2,
#sjnpb #rankingKoryu h2 {
  border-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin-top: 10px;
  position: relative;
  vertical-align: middle;
  color: #000;
}

#sjnpb #rankingCl h2 .update-time,
#sjnpb #rankingPl h2 .update-time,
#sjnpb #rankingKoryu h2 .update-time {
  font-size: 15px;
  height: 35px;
  line-height: 35px;
  float: inherit;
  text-align: left;
  width: auto;
}

#sjnpb #rankingCl .data-view .head th,
#sjnpb #rankingPl .data-view .head th,
#sjnpb #rankingKoryu .data-view .head th {
  width: 10%;
  background: #e2e2e2;
}

#sjnpb #rankingCl .data-view .line th,
#sjnpb #rankingPl .data-view .line th,
#sjnpb #rankingKoryu .data-view .line th {
  width: 10%;
  background: #e2e2e2;
}

#sjnpb #rankingCl .data-view tr.even td,
#sjnpb #rankingPl .data-view tr.even td,
#sjnpb #rankingKoryu .data-view tr.even td {
    background: #f6f6f6;
}
