body {
    color: #333;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
    font-size: 14px;
}

#page, #container {
    background: none !important;
    border: 0 !important;
}

h1 {
    color: #000;
    font-family: Georgia,Times,serif;
    font-size: 26px;
    font-weight: normal;
    margin: 0;
}

.story_content_top {
    clear: both;
    padding-bottom: 0;
}

.story_content_top h1, .story_content_top h2 {
    margin: 0 0 10px;
}

#container, #content, #left_col {
    width: auto;
}

#content, #left_col, .story_content_top {
    overflow: visible;
    float: none;
}

.storycredit {
    font-size: 12px;
    float: left;
    padding-right: 20px;
    margin: 0;
    color: #999;
}

#toolbox {
    float: none;
    background: none;
    border: 0 none !important;
    width: auto;
    margin-bottom: 0;
}

.toolbox_date {
    font-size: 12px;
    padding-bottom: 20px;
    color: #999;
    padding: 0;
}

#print_sponsor {
    right: 20px;
    position: absolute;
    top: 28px;
}

#print_sponsor img {
    border: none;
    vertical-align: middle;
}

#logo {
    clear: both;
    height: 60px;
    width: 170px;
}

#left_col .classifieds_voucher_logo {
    display: inline;
}

.photoborder {
    display: block;
}

.all_site_nav_inner {
    margin: 0;
}

.all_site_nav_logo {
    margin: 0 0 20px 8px;
}

.story_landing p {
    font-size: 14px !important;
}

#adSTORYBODY, #adsponsored_links_box, #search_box_text {
    display: none !important;
}

.hdivider, #breaking_news, #story_features_empty, #pagetop, #left_col img, #gallery-container, #story_top_asset_wrapper, #top_ad, #trademenav, .stuff_top_nav, #nav, #section_title,
.toolbox_item, #story_features, #right_col, #sharebox, .all_site_nav ul, .all_site_nav_right, #leftgutter, #rightgutter, #toolbox-gigya, .shareboxes-wrapper,
.article-google-adsense, #adsponsored_links_box, .blog_heading, .next-article, .gigyaComments, #footer {
    display: none;
}
