HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P, UL, LI, BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE, DEL, DFN, EM, FONT, IMG, INS, KBD, Q, S, SAMP, SMALL, STRIKE, STRONG, SUB, SUP, TT, VAR, DL, DT, DD, OL, FIELDSET, FORM, LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-weight: lighter;
}
HTML, BODY
{
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	background-color: #012C38;
	word-wrap: break-word;
}
A:link, A:visited, A:hover
{
	text-decoration: none;
}
H2
{
	font-size: 23px;
}
@media only screen and (max-width: 768px)
{
	H2
	{
		font-size: 15px;
	}
}
H2
{
	color: #BB563C;
	letter-spacing: -1px;
}
H3, H3 A:link, H3 A:visited
{
	font-size: 17px;
}
@media only screen and (max-width: 768px)
{
	H3, H3 A:link, H3 A:visited
	{
		font-size: 12px;
	}
}
H3, H3 A:link, H3 A:visited
{
	color: #FF5A2F;
}
H3 A:hover
{
	color: #BB563C;
	background: #014356;
}
H3 .active
{
	background-color: #014356;
	color: #BB563C;
}
H4
{
	font-size: 13px;
	color: #BB563C;
	text-align: right;
}
H5
{
	font-size: 23px;
}
@media only screen and (max-width: 768px)
{
	H5
	{
		font-size: 18px;
	}
}
H5
{
	color: #894837;
	width: 170px;
	padding-top: 30px;
}
P
{
	font-size: 12px;
	color: #79648B;
}
#wrap
{
	min-height: 100%;
	position: relative;
	margin: 0 auto;
}
#header
{
	width: 750px;
}
@media only screen and (max-width: 768px)
{
	#header
	{
		width: auto;
	}
}
#header
{
	height: 120px;
}
@media only screen and (max-width: 768px)
{
	#header
	{
		height: auto;
	}
}
#header
{
	margin: 0 auto;
}
#logo
{
	position: absolute;
}
@media only screen and (max-width: 768px)
{
	#logo
	{
		position: relative;
	}
}
#logo
{
	margin-top: 45px;
}
@media only screen and (max-width: 768px)
{
	#logo
	{
		margin-top: 0;
	}
}
#logo
{
	width: 211px;
}
@media only screen and (max-width: 768px)
{
	#logo
	{
		width: 100%;
	}
}
#logo
{
	height: 82px;
}
@media only screen and (max-width: 768px)
{
	#logo
	{
		height: auto;
		text-align: center;
	}
}
#h1-block
{
	text-align: center;
	width: 202px;
}
@media only screen and (max-width: 768px)
{
	#h1-block
	{
		width: auto;
	}
}
#h1-block
{
	position: absolute;
}
@media only screen and (max-width: 768px)
{
	#h1-block
	{
		position: relative;
	}
}
#h1-block
{
	margin-left: 3px;
}
@media only screen and (max-width: 768px)
{
	#h1-block
	{
		margin-left: auto;
	}
}
#h1-block
{
	margin-top: 80px;
}
@media only screen and (max-width: 768px)
{
	#h1-block
	{
		margin-top: auto;
	}
}
#h1-block H1
{
	font-size: 10pt;
	color: #FF5A2F;
}
@media only screen and (max-width: 768px)
{
	#h1-block H1
	{
		margin-top: -3px;
	}
}
#search
{
	position: absolute;
}
@media only screen and (max-width: 768px)
{
	#search
	{
		position: relative;
	}
}
#search
{
	margin-left: 225px;
}
@media only screen and (max-width: 768px)
{
	#search
	{
		margin-left: auto;
	}
}
#search
{
	margin-top: 42px;
}
@media only screen and (max-width: 768px)
{
	#search
	{
		margin-top: 25px;
		text-align: center;
	}
}
#search-field
{
	font-family: Arial, Helvetica, sans-serif;
	height: 19px;
	width: 468px;
}
@media only screen and (max-width: 768px)
{
	#search-field
	{
		width: 222px;
	}
}
#search-field
{
	background: #00212A url(http://cdn.dirtypornvids.com/img/search-field.png) no-repeat;
}
@media only screen and (max-width: 768px)
{
	#search-field
	{
		background: #00212A;
	}
}
#search-field
{
	font-size: 18px;
	color: #FFFFFF;
	border: none;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 11px;
	padding-bottom: 11px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 768px)
{
	#search-field
	{
		margin-left: -25px;
	}
}
#search-button
{
	width: 31px;
	height: 41px;
	background: url(http://cdn.dirtypornvids.com/img/search-button.png) no-repeat;
	border: none;
	cursor: pointer;
	position: absolute;
	margin-left: 5px;
}
#menu
{
	font-size: 18px;
	width: 100%;
	height: 49px;
	margin: 0 auto;
}
@media only screen and (max-width: 768px)
{
	#menu
	{
		margin: 21px auto 0;
	}
}
#menu
{
	text-align: center;
	background-color: #00212A;
}
#menu UL
{
	list-style: none;
	display: inline-block;
}
#menu UL LI
{
	height: 35px;
	padding-top: 14px;
	padding-left: 28px;
}
@media only screen and (max-width: 768px)
{
	#menu UL LI
	{
		padding-left: 5px;
	}
}
#menu UL LI
{
	padding-right: 28px;
}
@media only screen and (max-width: 768px)
{
	#menu UL LI
	{
		padding-right: 5px;
	}
}
#menu UL LI
{
	float: left;
	border-right: 1px solid #012C38;
	border-left: 1px solid #012C38;
}
#menu UL LI.active, #menu UL LI.active A:link, #menu UL LI.active A:visited
{
	background: #014356;
	color: #FF5A2F;
}
@media only screen and (max-width: 768px)
{
	#menu UL LI.active, #menu UL LI.active A:link, #menu UL LI.active A:visited
	{
		font-weight: normal;
	}
}
#menu UL LI A:link, #menu UL LI A:visited
{
	color: #BB563C;
}
@media only screen and (max-width: 768px)
{
	#menu UL LI A:link, #menu UL LI A:visited
	{
		font-weight: normal;
	}
}
#menu UL LI A:hover
{
	color: #FF5A2F;
}
#menu UL #left_li
{
	border-left: 2px solid #012C38;
}
#menu UL #right_li
{
	border-right: 0px;
	width: 89px;
}
@media only screen and (max-width: 768px)
{
	#menu UL #right_li
	{
		display: none;
	}
}
#page-wide
{
	margin: 0 auto;
	margin-top: 20px;
}
#sidebar-2
{
	width: 184px;
	float: left;
	margin-bottom: 30px;
	margin-right: 15px;
	margin-left: 15px;
}
@media only screen and (max-width: 768px)
{
	#sidebar-2
	{
		display: none;
	}
}
.tags-block
{
	margin-top: 10px;
}
.tags-block SPAN A:hover
{
	color: #BB563C;
}
.tag-1 A:link, .tag-1 A:visited
{
	font-size: 13.5px;
	color: #6F6974;
}
.tag-2 A:link, .tag-2 A:visited
{
	font-size: 15px;
	color: #79727E;
}
.tag-3 A:link, .tag-3 A:visited
{
	font-size: 16.5px;
	color: #847C89;
}
.tag-4 A:link, .tag-4 A:visited
{
	font-size: 18px;
	color: #8F8795;
}
.tag-5 A:link, .tag-5 A:visited
{
	font-size: 19.5px;
	color: #9B93A2;
}
.tag-6 A:link, .tag-6 A:visited
{
	font-size: 21px;
	color: #A8A0B0;
}
.tag-7 A:link, .tag-7 A:visited
{
	font-size: 22.5px;
	color: #B7AEBF;
}
.tag-8 A:link, .tag-8 A:visited
{
	font-size: 24px;
	color: #C7BDD0;
}
.h-space-3
{
	width: 100%;
	height: 30px;
	float: left;
}
#left-column-wide
{
	margin-left: 214px;
}
@media only screen and (max-width: 768px)
{
	#left-column-wide
	{
		margin-left: 1%;
		font-size: 0;
	}
}
.title-block
{
	margin-bottom: 12px;
	height: 31px;
}
@media only screen and (max-width: 768px)
{
	.title-block
	{
		height: 26px;
	}
}
.title-block A:link, .title-block A:visited
{
	color: #FF5A2F;
}
.title-block A:hover
{
	color: #BB563C;
	background: #014356;
}
.title-block H1
{
	float: left;
}
.ins-thumb-block-small
{
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: top;
	width: 251px;
}
@media only screen and (max-width: 768px)
{
	.ins-thumb-block-small
	{
		width: 33.33%;
	}
}
@media only screen and (max-width: 480px)
{
	.ins-thumb-block-small
	{
		width: 50%;
	}
}
.thumb-block-small
{
	width: 240px;
}
@media only screen and (max-width: 768px)
{
	.thumb-block-small
	{
		width: 97%;
	}
}
@media only screen and (max-width: 480px)
{
	.thumb-block-small
	{
		width: 98%;
	}
}
.thumb-block-small
{
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}
.thumb-block-small IMG
{
	margin-bottom: 10px;
}
@media only screen and (max-width: 768px)
{
	.thumb-block-small IMG
	{
		margin-bottom: 3px;
	}
}
.thumb-block-small IMG
{
	width: 240px;
}
@media only screen and (max-width: 768px)
{
	.thumb-block-small IMG
	{
		width: 100%;
	}
}
.thumb-block-small IMG
{
	height: 170px;
}
@media only screen and (max-width: 768px)
{
	.thumb-block-small IMG
	{
		height: auto;
	}
}
.thumb-block-small .th-small
{
	background: #00212A;
}
@media only screen and (max-width: 768px)
{
	.thumb-block-small .tags, .thumb-block-small H3 A
	{
		display: none;
	}
}
.sort-menu
{
	float: left;
	letter-spacing: -1px;
	font-size: 23px;
}
@media only screen and (max-width: 768px)
{
	.sort-menu
	{
		font-size: 15px;
	}
}
.sort-menu
{
	color: #BB563C;
}
.sort-menu UL
{
	list-style-type: none;
	letter-spacing: -1px;
}
.sort-menu UL LI
{
	float: left;
	margin-right: 7px;
}
.sort-menu UL LI A:link, .sort-menu UL LI A:visited
{
	color: #FF5A2F;
}
.sort-menu UL LI A:hover, .sort-menu UL LI.active
{
	color: #BB563C;
	background-color: #014356;
}
.sort-menu UL .spacer
{
	padding-left: 30px;
}
@media only screen and (max-width: 768px)
{
	.sort-menu UL .spacer
	{
		padding-left: inherit;
	}
}
#related
{
	font-size: 17px;
}
@media only screen and (max-width: 768px)
{
	#related
	{
		font-size: 14px;
	}
}
#related
{
	margin-bottom: 10px;
	color: #BB563C;
	letter-spacing: -1px;
}
@media only screen and (max-width: 768px)
{
	#related
	{
		line-height: 1.8;
		margin-top: -11px;
	}
}
#related UL
{
	display: inline-block;
	list-style: none;
}
#related LI
{
	float: left;
	padding-right: 15px;
}
#related A:link, #related A:visited
{
	color: #FF5A2F;
}
#related A:hover
{
	color: #BB563C;
	background: #014356;
}
.pub_date
{
	width: 77px;
	height: 12px;
	padding: 4px;
	position: absolute;
	margin-top: -40px;
	margin-left: 9px;
	background: url(http://cdn.dirtypornvids.com/img/pub-date-bg-small.png) no-repeat;
	text-align: center;
	font-size: 11px;
	color: #D3CBDA;
}
@media only screen and (max-width: 768px)
{
	.pub_date
	{
		display: none;
	}
}
.time-small
{
	font-size: 11px;
	color: #D3CBDA;
	width: 37px;
	height: 12px;
	padding: 4px;
	position: absolute;
	margin-top: -40px;
	margin-left: 185px;
	background: url(http://cdn.dirtypornvids.com/img/time-bg-small.png) no-repeat;
	text-align: center;
}
@media only screen and (max-width: 768px)
{
	.time-small
	{
		display: none;
	}
}
.tags-title
{
	color: #A494B2;
}
.tags A:link, .tags A:visited
{
	color: #FF5A2F;
}
.tags A:hover
{
	color: #BB563C;
	background: #014356;
}
.tags .active
{
	color: #BB563C;
	background: #014356;
}
#pagination
{
	width: 90%;
	height: 55px;
	padding-top: 20px;
	float: left;
	font-size: 13pt;
}
#pagination UL
{
	list-style-type: none;
}
#pagination UL LI
{
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
	color: #828282;
}
#pagination UL LI.active
{
	color: #BB563C;
	font-size: 16pt;
	font-weight: bold;
}
#pagination A:link, #pagination A:visited
{
	color: #FF5A2F;
	font-weight: bold;
}
#pagination A:hover
{
	color: #BB563C;
}
#sidebar-4
{
	margin-bottom: 30px;
	margin-right: 20px;
}
@media only screen and (max-width: 768px)
{
	#sidebar-4
	{
		margin-right: 0;
	}
}
#sidebar-4
{
	float: left;
}
.sidebar-menu
{
	margin-top: 20px;
}
.sidebar-menu UL
{
	list-style-type: none;
	display: inline-block;
	width: 100%;
}
.sidebar-menu UL LI
{
	padding: 8px 0px;
	border-bottom: 1px solid #014356;
	float: left;
	width: 170px;
}
@media only screen and (max-width: 768px)
{
	.sidebar-menu UL LI
	{
		width: 31.33%;
	}
}
@media only screen and (max-width: 555px)
{
	.sidebar-menu UL LI
	{
		width: 48%;
	}
}
@media only screen and (max-width: 370px)
{
	.sidebar-menu UL LI
	{
		width: 98%;
	}
}
.sidebar-menu UL LI
{
	margin-right: 15px;
}
@media only screen and (max-width: 768px)
{
	.sidebar-menu UL LI
	{
		margin-right: 2%;
	}
}
.sidebar-menu UL LI
{
	height: 18px;
}
.sidebar-menu UL LI A:link, .sidebar-menu UL LI A:visited
{
	font-size: 14px;
	color: #FF5A2F;
}
.sidebar-menu UL LI A:hover, .sidebar-menu UL LI .tag-8 A:hover, .sidebar-menu UL LI .tag-7 A:hover, .sidebar-menu UL LI .tag-6 A:hover
{
	color: #BB563C;
}
.sidebar-menu UL LI .tag-8 A, .sidebar-menu UL LI .tag-7 A, .sidebar-menu UL LI .tag-6 A
{
	font-size: 18px;
}
@media only screen and (max-width: 768px)
{
	.sidebar-menu UL LI .tag-8 A, .sidebar-menu UL LI .tag-7 A, .sidebar-menu UL LI .tag-6 A
	{
		font-size: 16px;
	}
}
.sidebar-menu UL LI .tag-8 A, .sidebar-menu UL LI .tag-7 A, .sidebar-menu UL LI .tag-6 A
{
	letter-spacing: -1px;
	text-decoration: underline;
}
.subtext
{
	font-size: 12px;
	color: #A494B2;
	line-height: 15px;
	float: right;
	margin-top: 3px;
}
#footer
{
	width: 100%;
	clear: both;
	background-color: #00212A;
	padding-top: 30px;
}
#footer-wrap
{
	width: 90%;
	margin: 0 auto;
	max-width: 1024px;
}
#footer-wrap P
{
	text-align: right;
	font-size: 11px;
	position: relative;
}
#err404
{
	font-size: 55px;
	text-align: center;
	margin-top: 60px;
}
@media only screen and (max-width: 768px)
{
	#err404
	{
		margin-top: 20px;
	}
}
#err404
{
	margin-bottom: 60px;
}
@media only screen and (max-width: 768px)
{
	#err404
	{
		margin-bottom: 26px;
	}
}
#err404
{
	color: #014356;
}
.addthis_sharing_toolbox
{
	margin-top: -5px;
	width: 110px;
	text-align: left;
}
@media only screen and (max-width: 768px)
{
	.addthis_sharing_toolbox
	{
		display: none;
	}
}
#ajax_listOfOptions
{
	position: absolute;
	width: 494px;
}
@media only screen and (max-width: 768px)
{
	#ajax_listOfOptions
	{
		width: 249px;
	}
}
#ajax_listOfOptions
{
	height: 252px;
	overflow: auto;
	border: 1px solid #4D4D4D;
	text-align: left;
	font-size: 18px;
	font-weight: lighter;
	z-index: 100;
	background: url("http://cdn.dirtypornvids.com/img/ll.png") repeat;
	color: #ACACAC;
}
#ajax_listOfOptions DIV
{
	margin: 3px;
	padding-left: 11px;
	padding-right: 11px;
	cursor: pointer;
}
#ajax_listOfOptions .optionDiv
{
}
#ajax_listOfOptions .optionDivSelected
{
	color: #C7BDD0;
}
#ajax_listOfOptions_iframe
{
	position: absolute;
	z-index: 5;
	display: none;
}
