/* currency-top */
.currency-btn{
	position: absolute;
	top: 2px;
	right: 320px;
}

.currency{
	position: absolute;
	display: block;
	top: -2px;
	padding-top: 15px;
	font-weight: 500;
	padding-bottom: 15px;
	padding-right: 7px;
	font-size: 16px;
	padding-left: 22px;
	background: url(/img/dollar.png) no-repeat 5px 18px;
	text-decoration: none !important;
	-moz-animation: myfirst 10s infinite;
	-webkit-animation: myfirst 10s infinite;
	animation: myfirst 10s infinite;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
	background-color: #cce5f1;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
	0% {background-color: #cce5f1;}
	16%   {background-color: transparent;}
    32% {background-color: #cce5f1;}
    48%   {background-color: transparent;}
    64% {background-color: #cce5f1;}
    80%   {background-color: transparent;}
}

/* Standard syntax */
@keyframes myfirst {
    0% {background-color: #cce5f1;}
	16%   {background-color: transparent;}
    32% {background-color: #cce5f1;}
    48%   {background-color: transparent;}
    64% {background-color: #cce5f1;}
    80%   {background-color: transparent;}
}


.currency span{
	border:0;
	border-bottom: 1px solid #9fa0a2;
-moz-border-image: url(/img/border/selection.gif) 1 round;
-webkit-border-image: url(/img/border/selection.gif) 1 round;
-o-border-image: url(/img/border/selection.gif) 1 round;
	border-image: url(/img/border/selection.gif) 1 round;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes under {
	0% {border-bottom: 1px dotted #9fa0a2;}
	16%   {border-bottom: 1px solid #9fa0a2;}
    32% {border-bottom: 1px dotted #9fa0a2;}
    48%   {border-bottom: 1px solid #9fa0a2;}
    64% {border-bottom: 1px dotted #9fa0a2;}
    80%   {border-bottom: 1px solid #9fa0a2;}
}

/* Standard syntax */
@keyframes under {
    0% {border-bottom: 1px dotted #9fa0a2;}
	16%   {border-bottom: 1px solid #9fa0a2;}
    32% {border-bottom: 1px dotted #9fa0a2;}
    48%   {border-bottom: 1px solid #9fa0a2;}
    64% {border-bottom: 1px dotted #9fa0a2;}
    80%   {border-bottom: 1px solid #9fa0a2;}
}


.currency-up{
	color: #27ae60;
}
.currency-down{
	color: #e74c3c;
}
/* /currency-top */

/* currency-left */ 
.currency-moving-column{
	position: absolute; 
	top: -98px;
	bottom: 50px;
	width: 178px;
	right: 10px;
	_left: -moz-calc((50% - 631px)/2);
	_left: calc((50% - 621px)/2);
	z-index: 0;
}

.currency-moving-block{
	text-align: center;
	width: 178px;
	height:63px;

	text-indent: 0px;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.8);

	position: absolute;
	top: 82px;

	display:none;
}

.currency-moving-block:hover{
	background-color: rgba(255, 255, 255, 0.9);
}

.currency-moving-block.eur{
	top: 146px;
}

.currency-moving-block.uan{
	top: 210px;
}

.currency-moving-block.brant{
	top: 274px; 
}

.currency-moving-block .value{
	font-family: 'Maven Pro', sans-serif;
	font-size: 28px;
	font-weight: 100;

	color: #000;

	text-align:center;

	margin-top:7px;
	
	-moz-animation-transition: all 1s ease;
	-webkit-animation-transition: all 1s ease;
	transition: all 1s ease;

	margin-left:10px;
}

.currency-moving-block .value.green{
	color: #000;
}

.currency-moving-block.uan .value:before,
.currency-moving-block.brant .value:before,
.currency-moving-block.usd .value:before,
.currency-moving-block.eur .value:before{
	font-family: 'Maven Pro', sans-serif;
	font-size: 28px;
	font-weight: 100;

	display:block;
	position:absolute;

	top: 7px;
	left: 35px;
}


.xcurrency-moving-block.brant .value{
	margin-left: -10px;
	margin-right: 10px;
}

.xcurrency-moving-block.brant .value:after{
	content: '$';
	font-family: 'Maven Pro', sans-serif;
	font-size: 28px;
	font-weight: 100;

	display: block;
	position: absolute;
	
	top: 7px;
	right: 43px;
}

.currency-moving-block.usd .value:before {
	content: '$';
}

.currency-moving-block.eur .value:before {
	content: '€';
}

.currency-moving-block.uan .value:before {
	content: '¥';
}
.currency-moving-block.brant .value{

	background-image: url('/img/oil_barrel.svg');
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-position: 18px 0;

}

.currency-moving-block .value.red:after,
.currency-moving-block .value.green:after{
	display:block;
	position:absolute;
	font-size: 11px;
	right: 30px;
}

.currency-moving-block .value.red:after{
	content: '▼';
	color: #e74c3c;
	top: 18px;
}

.currency-moving-block .value.green:after{
	content: '▲';
	color: #27ae60;
	top: 15px;
}

.currency-moving-block .value.red{
	color: #000;
}

.currency-moving-block .name{
	font-family: Play, sans-serif;
	font-size: 12px;

	color: #000;

	text-shadow: rgb(255, 255, 255) 0px 0px 3px;
	text-align:center;

	margin:0;
	
	-moz-animation-transition: all 1s ease;
	-webkit-animation-transition: all 1s ease;
	transition: all 1s ease;

	_opacity: 0.8;
}

.currency-moving-animation{
	-moz-animation: movedown 10s infinite;
	-webkit-animation: movedown 10s infinite;
	animation: movedown 10s infinite;

	display:block;
}

@-webkit-keyframes movedown{
	0%   {opacity:0;}
	20%  {opacity:1;}
	80%  {opacity:1;}
    100% {opacity: 0;}
}

@keyframes movedown{
	0%   {opacity:0;}
	20%  {opacity:1;}
	80%  {opacity:1;}
	100% {opacity:0;}
}
/* /currency-left */