.side-banner-item.dolly{
	background-color: rgba(0, 0, 0, 0.3);
	padding:0;
}

.side-banner-item.dolly:hover{
	background-color: rgba(0, 0, 0, 0.4);
}

.side-banner-item.dolly img{
	max-width: 170px;
	max-height: 500px !important;
	display: block;
	margin: 0 auto;
}

.side-banner-item.dolly .banner-box{
	display: none;
}