/* CSS Reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
table td{
	vertical-align:top;
}
img,fieldset{
	border:0;
}
address,caption,cite,code,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
caption,th{
	text-align:left;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
	font-variant:normal;
}
sup{
	vertical-align:text-top;
}
sub{
	vertical-align:text-bottom;
}
input,textarea,select,button{
	font:300 13px 'Roboto', Arial, Helvetica, sans-serif;
    color:#232323;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
input::-ms-clear{
	display: none;
}

textarea{
	resize:none;
	overflow:auto;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block;
	margin:0;
	padding:0;
}
:focus{outline:none;}
/*default styles*/
html, body{
	height:100%;
}
body{
	overflow-y: scroll;
    font:300 13px 'Roboto', Arial, Helvetica, sans-serif;
    color:#232323;
	/*background:url(/img/ua-bg.jpg) center 70px no-repeat;*/
	background-position:50% 52px;
	background-repeat:no-repeat;
}
p{
    margin:0 0 22px;
	line-height:22px;
}
a{
    color:#222;
    text-decoration:underline;
	outline:none;
}
a:hover{
    color:#222;
	text-decoration:none;
}
h1{
	font:500 30px/30px 'Roboto', Arial, Helvetica, sans-serif;
    color:#232323;
	margin:0 0 24px;
}
h2{
	font:500 18px/21px 'Roboto', Arial, Helvetica, sans-serif;
    color:#222;
	margin:0 0 17px;
}
h3{
	font:300 22px/26px 'Roboto', Arial, Helvetica, sans-serif;
    color:#666;
	margin:3px 0 15px;
}
h4{
	font:700 18px/18px 'Roboto', Arial, Helvetica, sans-serif;
    color:#222;
	margin:0 0 19px;
}
h5{
	font:700 16px/18px 'Roboto', Arial, Helvetica, sans-serif;
    color:#007071;
	margin:0 0 14px;
}
ul{
	margin:0 0 14px 0;
	list-style-position:outside;
}
ol{
	margin:0 0 14px 20px;
	list-style-position:outside;
	list-style-type:decimal;
}
li ul, li ol{
	margin-top:5px;
	margin-bottom:10px;
	list-style-type:none;
}
li{
	margin-bottom:5px;
}
.middle{
	vertical-align:middle;
}
.fl{
	float:left !important;
}
.fr{
	float:right !important;
}
.cl{
	clear:both;
	height:0px;
	font-size:0px;
	overflow:hidden;
}
.clearFix:after{
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
*html .clearFix{
	zoom:1;
}
*+html .clearFix{
	zoom:1;
}
::-webkit-input-placeholder{
	color:#b7b7b7;
}
::-moz-placeholder{
	color:#b7b7b7;
	opacity:1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
	color:#b7b7b7;
}
.placeholder{
	color:#b7b7b7;
}
/*format styles*/
/*--- column size ---*/
.page{
	/*min-width:990px;*/
	min-height:100%;
	height:auto !important;
	height:100%;
}
.wrapper{
	/*width:80%;
	min-width:960px;*/
	width:900px;
	margin:0 auto;
	padding:0 15px;
	position:relative;
	

}
body.tv .wrapper{
	width: auto !important;
}
.container{
        background: #fff;
	/*padding:0 168px 100px 242px;*/
	padding:0 0 180px;/*170*/
	/*margin-left: 50px;
	margin-right: 50px;*/
}
body.tv .container{
	padding-bottom: 10px;
}
.sidebar-left{
	float:left;
        margin:0 0 0 -190px;
	padding:29px 0; 
	width:145px;
	min-height:650px;
	display:inline-block;
	text-align:right;
	position:relative;
}
.sidebar-right{
	float:right;
	margin:0 -190px 0 0;
	padding:29px 0;
	width:145px;
	min-height:650px;
	display:inline-block;
	text-align:left;
	position:relative;
_z-index:-1;
}
/*---/ column size ---*/
.head{
	background:#f0f2f4;
	position: fixed;
	z-index: 100000;
	width: 100%;
	top: 0px;
}
body.tv .head{
	min-width: 0;
}
.head .logo{
	float:left;
}
.head .logo img{
	display:block;
}
.head .sort{
	float: left;
	color: #222;
	line-height: 14px;
	margin: 6px 26px 0 25px;
	position: relative;
	z-index: 100;
}
.head .sort span{
	display:block;
	float:left;
	margin:7px 10px 0 0;
}
.head .sort a{
	display:block;
	float:left;
	text-decoration:none;
	border-bottom:1px dotted #9fa0a2;
	margin:7px 10px 8px 8px;
}
.head .sort a:hover{
	background:#d0d4d9; #dbddde;
	border:0;
	padding:7px 8px 9px;
	margin:0 2px 0 0;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.head .sort a.act{
	background:#3498db;
	_background:#666;
	
	color:#fff;
	
	border:1px solid #2488cb;
	border-top-color:#1f76b1;
	_border:1px solid #616161;
	_border-top-color:#4b4b4b;

	-webkit-box-shadow:inset 0 1px 0 #2d84bf;
	-moz-box-shadow:inset 0 1px 0 #2d84bf;
	box-shadow:inset 0 1px 0 #2d84bf;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	padding:6px 7px 8px;
	margin:0 2px 0 0;
}
.head .sort a.disabled{
	opacity:0.5;
	/*border:0;
	cursor: default !important;*/
}
.head .sort a.disabled:hover{
	/*background-color: transparent;*/
}
.head .sort span{
	display:none;
	position:relative;
	border-bottom:1px dotted #9fa0a2;
	margin:7px 17px 8px 8px;
	cursor:pointer;
}
.head .sort span img{
	position:absolute;
	right:-12px;
	top:6px;
}
.head .sort.show span{
	background:#d0d4d9; #dbddde;
	border:0;
	padding:7px 17px 9px 8px;
	margin:0;
	-webkit-border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	border-radius:2px 2px 0 0;
}
.head .sort.show span img{
	right:5px;
	top:13px;
}
.header2 .city{
	float: left;

	line-height: 14px;
	margin: 0px 0 0 11px;
	position: relative;
	z-index: 100;
    /*top: -2px;*/
}
.header2 .city span{
	display:block;
	position:relative;
	border-bottom:1px dotted #9fa0a2;
	margin:7px 17px 8px 8px;
	cursor:pointer;
}
.header2 .city span img{
	position:absolute;
	right:-12px;
	top:6px;
}
.header2 .city.hashover:hover span,
.header2 .city.show span{
	background:#d0d4d9; #dbddde;
	border:0;
	padding:7px 17px 9px 8px;
	margin:0;
	-webkit-border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	border-radius:2px 2px 0 0;
}
.header2 .city.hashover:hover span img,
.header2 .city.show span img{
	right:5px;
	top:13px;
}
.header2 .city div{
	position:absolute;
	right:0;
	top:30px;
	background:#d0d4d9; #dbddde;
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
	min-width:100%;
	width:250px;
	padding:6px;
	margin-top: -2px;
	display:none;
}
.header2 .city div a{
	padding:2px;
	line-height:1.3;
}
.header2 .city.hashover:hover div,
.header2 .city.show div{
	display:block;
}
.header2 .city.disabled{
	opacity: 0.5;
	cursor: default !important;
}
.header2 .city.disabled span{
	border:0 !important;
	cursor:default !important;
}
.header2 .city.disabled:hover span{
	background-color: transparent;
}
.head .progress{
	float: left;
	margin: 6px 0 0 50px;
	width: 30px;
	height: 30px;
	position: relative;
}
.head .progress .play{
	background:url(/img/btn-pause-empty.gif); 
	width:30px; 
	height:30px; 
	padding:0; margin:0; border:0;
	cursor:pointer;
	border-radius: 14px;
}

.head .progress .pause{
	background:url(/img/btn-play.png); 
	width:30px; 
	height:30px; 
	padding:0; margin:0; border:0;
	cursor:pointer;
	border-radius: 14px;
}

.head .progress .play:hover,
.head .progress .pause:hover{
	opacity:0.7;
}

.head .progress .pause .spinner{
	display:none;
}
.head .progress .play .spinner{
	display:block;
}

.head .head-line {
	padding:0px 0;
	margin: 0px auto;
    z-index: 99500;
    position: relative;
}

.head .timestamp{
	float:right;
	margin: 12px -69px 0 0;
	width:50px;
	position:relative;
}

.center{
	float:left;
	width:100%;
	padding:80px 0 90px;/*20*/
	position:relative;
}
.result{
	position:relative;
	padding:7px 20px 9px 40px;
	margin-bottom:2px;
	background-color: #fff;
}
.result.result-sm{
	padding:7px 110px 9px 100px;
	margin:0;
}
.result-s{
	position:relative;
	padding:7px 20px 20px 40px;
	margin-bottom:2px;
	background-color: #fff;
}
.result-s.result-sm-s{
	padding:7px 110px 20px 100px;
	margin:0;
}
.result.result-hot{
	background:#fff4ca;
}
.result.result-sel{
	background:#e9f3ff;
}
.result.result-hot2{
	background:#ffd5b9;

}
.result:hover{
	border:2px solid #3498db;
	padding:5px 18px 7px 38px;
}
.result.result-sm:hover{
	padding:5px 108px 7px 98px;
}
.result-s:hover{
	border:2px solid #3498db;
	padding:5px 18px 20px 38px;
}
.result-s.result-sm-s:hover{
	padding:5px 108px 20px 98px;
}
.result .result-pos, .result-s .result-pos{
	position:absolute;
	left:20px;
	top:14px;
	color:#222;
	font-size:18px;
	font-weight:500;
	line-height:18px;
}
body.tv .result .result-pos, body.tv .result-s .result-pos{
	line-height: 24px;
}
.result.result-sm .result-pos, .result-s.result-sm-s .result-pos {
	left:14px;
	top:5px;
}
.result:hover .result-pos, .result-s:hover .result-pos{
	left:18px;
	top:10px;
}
.result.result-sm:hover .result-pos, .result-s.result-sm-s:hover .result-pos{
	left:12px;
	top:3px; 
}
.result .result-pos .result-pos-up, .result-s .result-pos .result-pos-up{
	color:#76ca99;
	font-size:11px;
	font-weight:300;
	line-height:13px;
	position:relative;
	padding:0 0 0 13px;
	margin:5px 0 0;
}
/*.result.result-sm .result-pos .result-pos-up{
	font-size:16px;
	font-weight:500;
}*/
.result .result-pos .result-pos-up img, .result-s .result-pos .result-pos-up img{
	position:absolute;
	left:0;
	top:3px;
}
/*.result.result-sm .result-pos .result-pos-up img{
	top:5px;
}*/
.result .result-pos .result-pos-down, .result-s .result-pos .result-pos-down{
	color:#ecaca6;
	font-size:11px;
	font-weight:300;
	line-height:13px;
	position:relative;
	padding:0 0 0 13px;
	margin:5px 0 0;
}
/*.result.result-sm .result-pos .result-pos-down{
	font-size:16px;
	font-weight:500;
}*/
.result .result-pos .result-pos-down img, .result-s .result-pos .result-pos-down img{
	position:absolute;
	left:0;
	top:3px;
}
/*.result.result-sm .result-pos .result-pos-down img{
	top:5px;
}*/
.result .result-author-n {
        position:absolute;
	left:50px; 
	top:7px;
	font-size:15px;
	font-weight:500;
	line-height:18px;
	width:184px;
        text-align:right;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
}
.result .result-logo-n{ 
	position:absolute;
	left:239px;
	top:7px;
}
.result .result-logo, .result-s .result-logo{ 
	position:absolute;
	left:60px;
	top:7px;
/*border: 1px solid red;*/
}

/*.result:hover .result-logo{
	left:12px;
	top:7px;
}*/
/*.result.result-sm .result-logo{
	left:64px;
	top:9px;
}*/
/*.result.result-sm:hover .result-logo{
	left:62px;
	top:7px;
}*/
.result .result-link, .result-s .result-link{
	position:absolute;
	left:99px;
	top:7px;
	font-size:15px;
	font-weight:500;
	line-height:18px;
	width:690px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
}
.result .result-link-n{
	position:absolute;
	left:260px;
	top:7px;
	font-size:15px;
	font-weight:500;
	line-height:18px;
	width:530px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
}

.result.result-sm .result-link, .result.result-sm .result-link-n {
	font-size:15px;
	font-weight:500;
	line-height:18px;
}
.result .result-link a, .result .result-link-n a, .result-s .result-link a{
	color:#232323;
	text-decoration:none;
}
.result .result-link a:hover,  .result-link-n a:hover, .result-s .result-link a:hover{
	text-decoration:underline;
}
.result .result-link span a,  .result-link-n span a{
	font-size:11px;
	font-weight:300;
	line-height:13px;
	color:#999;
}
.result .result-site{
	display:block;
	float:left;
	font-size:11px;
	color:#999;
	text-decoration:none;
	margin:9px 7px 0 0;
}
.result .result-site:hover{
	text-decoration:underline;
}
.result .result-tags{
	font-size:11px;
	line-height:13px;
	float:left;
	margin:8px 0 0;
}
.result .result-tags a{
	display:block;
	float:left;
	position:relative;
	color:#232323;
	text-decoration:none;
	border:1px solid #e0e0e0;
	border-right:0;
	margin:0 11px 0 0;
	padding:1px 3px 0 6px;
	height:16px;
	-webkit-border-radius:2px 0 0 2px;
	-moz-border-radius:2px 0 0 2px;
	border-radius:2px 0 0 2px;
}
.result .result-tags a i{
	display:block;
	position:absolute;
	right:-6px;
	top:-1px;
	background:url(/img/arrow-tags.png) no-repeat 0 0;
	width:6px;
	height:19px;
}
.result .result-tags a:hover{
	background:#e7e9e9;
	border-color:#d7d9d9;
}
.result .result-tags a:hover i{
	background-position:0 -19px;
}
.result .result-tags a.act{
	background:#3498db;
	border-color:#3296d9;
	border-top-color:#2c83bd;
	color:#fff;
	-webkit-box-shadow:inset 0 1px 0 #2d84bf;
	-moz-box-shadow:inset 0 1px 0 #2d84bf;
	box-shadow:inset 0 1px 0 #2d84bf;
}
.result .result-tags a.act i{
	background-position:0 -38px;
}
.result .result-comments-cnt{
	position:absolute;
	right:67px;
	top:0px;
	padding: 10px 3px 11px;
	text-align: center;
	width:30px;
	font-size:12px;
	font-weight:300;
	line-height:13px;
	color:#232323;
	cursor:pointer;
	background-color:#F9FAFB;
}
.result .result-comments-cnt span.icon-placeholder{
	display: inline-block;
	width:12px;
	height:11px;
	background: url(/i/comments_outline.png) no-repeat 0 0;
}
.result:hover .result-comments-cnt{
	right:65px;
	top:0px;
	padding:8px 3px 9px 3px;
}
.result:hover .result-comments-cnt span.icon-placeholder{
	background: url(/i/comments.png) no-repeat 0 0;
}
.result.result-hot .result-comments-cnt{
	background-color:#FFF0B9;
}
.result.result-hot2 .result-comments-cnt{
	background-color:#FFD5B9;
}
.result.result-sel .result-comments-cnt{
	background-color:#cee4ff;
}
.result:hover.result-hot .result-comments-cnt span.icon-placeholder{
	background: url(/i/comments.png) no-repeat 0 0;
}
.result .result-num, .result-s .result-num{
	position:absolute;
	padding: 3px;
	right:17px;
	top:7px;
        font-size:12px;
        font-weight:300;
        line-height:13px;
        color:#232323;
	cursor:pointer;
}
.result:hover .result-num, .result-s:hover .result-num{
	right:15px;
	top:5px;
}
.result .result-num .result-num-tooltip{
	position:absolute;
	left:50%;
	bottom:25px;
	background:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,.23);
	-moz-box-shadow:0 1px 4px rgba(0,0,0,.23);
	box-shadow:0 1px 4px rgba(0,0,0,.23);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	font-size:11px;
	font-weight:300;
	line-height:13px;
	padding:10px 11px;
	white-space:nowrap;
	cursor:default;
	z-index:100;
	display:none;
}
.result .result-num:hover .result-num-tooltip{
	display:block;
}
.result .result-num .result-num-tooltip span{
	display:inline-block;
	position:relative;
	padding:0 0 0 13px;
	margin-left:5px;
}
.result .result-num .result-num-tooltip span:first-child{
	margin-left:0;
}
.result .result-num .result-num-tooltip span img{
	position:absolute;
	left:0;
	top:1px;
}
.result .result-num .result-num-tooltip .result-num-ok{
	color:#ff9900;
}
.result .result-num .result-num-tooltip .result-num-tw{
	color:#00abf0;
}
.result .result-num .result-num-tooltip .result-num-vk{
	color:#4770a2;
}
.result .result-num .result-num-tooltip .result-num-fb{
	color:#38569c;
}
.result .result-num .result-num-tooltip i{
	position:absolute;
	left:50%;
	bottom:0;
}
.result .result-num .result-num-tooltip i img{
	position:absolute;
	left:-6px;
	top:0;
}
.result-all{
	padding:20px 0 0 63px;
}
.result-adv{
	background-color: #eee;
}
.filter{
	display:block;
	background:#e5f6ff;
	margin:4px 0 11px;
	text-decoration:none;
	border:1px solid #c3ebff;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	padding:9px 14px 11px;
	position:relative;
}
.filter img{
	position:absolute;
	right:12px;
	top:13px;
}
.paging{
	_padding:37px 0 0 63px;
        padding:10px 0 0 63px;
	margin-bottom:10px;/*40*/
}
.paging a{
	display:inline-block;
	text-decoration:none;
	line-height:15px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	padding:4px 9px 5px 8px;
}
.paging a:hover{
	background:#e7e9e9;
}
.paging a.act{
	color:#fff;
	background:#3498db;
	border:1px solid #3296d9;
	border-top-color:#2c83bd;
	-webkit-box-shadow:inset 0 1px 0 #2d84bf;
	-moz-box-shadow:inset 0 1px 0 #2d84bf;
	box-shadow:inset 0 1px 0 #2d84bf;
	padding:3px 8px 4px 7px;
}
.news-block{
	background:#e9f3ff;
	padding:14px 30px 18px 20px;
	margin-bottom:16px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.news{
	padding:0 0 16px 120px;
}
.news.news-big{
	padding:0 0 5px 230px;
}
.news .news-pic{
	display:block;
	float:left;
	margin:2px 0 0 -120px;
	width:100px;
}
.news.news-big .news-pic{
	margin:6px 0 0 -230px;
	width:210px;
}
.news .news-pic img{
	display:block;
}
.news .news-txt{
	float:left;
	width:100%;
}
.news .news-author{
	display:inline-block;
	position:relative;
	font-size:13px;
	font-weight:500;
	color:#232323;
	line-height:16px;
	text-decoration:none;
	padding:0 0 0 23px;
	margin-bottom:11px;
}
.news .news-author:hover{
	text-decoration:underline;
}
.news .news-author img{
	position:absolute;
	left:0;
	top:1px;
}
.news .news-link{
	font-size:13px;
	font-weight:500;
	line-height:16px;
	margin-bottom:3px;
}
.news.news-big .news-link{
	font-size:24px;
	line-height:26px;
	margin-bottom:12px;
}
.news .news-link a{
	text-decoration:none;
}
.news .news-link a:hover{
	text-decoration:underline;
}
.news .news-tags{
	font-size:11px;
	line-height:13px;
	float:left;
	margin:0 16px 6px 0;
}
.news .news-tags a{
	display:block;
	float:left;
	position:relative;
	color:#232323;
	text-decoration:none;
	border:1px solid #e0e0e0;
	border-right:0;
	margin:0 11px 0 0;
	padding:1px 3px 0 6px;
	height:16px;
	-webkit-border-radius:2px 0 0 2px;
	-moz-border-radius:2px 0 0 2px;
	border-radius:2px 0 0 2px;
}
.news .news-tags a i{
	display:block;
	position:absolute;
	right:-6px;
	top:-1px;
	background:url(/img/arrow-tags.png) no-repeat 0 0;
	width:6px;
	height:19px;
}
.news .news-tags a:hover{
	background:#e7e9e9;
	border-color:#d7d9d9;
}
.news .news-tags a:hover i{
	background-position:0 -19px;
}
.news .news-tags a.act{
	background:#3498db;
	border-color:#3296d9;
	border-top-color:#2c83bd;
	color:#fff;
	-webkit-box-shadow:inset 0 1px 0 #2d84bf;
	-moz-box-shadow:inset 0 1px 0 #2d84bf;
	box-shadow:inset 0 1px 0 #2d84bf;
}
.news .news-tags a.act i{
	background-position:0 -38px;
}
.news .news-site{
	display:inline-block;
	margin-bottom:8px;
	float:left;
	font-size:11px;
	line-height:16px;
	color:#999;
	text-decoration:none;
}
.news .news-site img{
	vertical-align:top;
	margin:1px 6px 0 0;
}
.news p{
	line-height:18px;
	margin:0 0 8px;
	clear:both;
	max-height:36px;
	overflow:hidden;
}
.news.news-big p{
	line-height:21px;
	margin:0 0 15px;
	max-height:84px;
}
.news .news-social img{
	display:block;
}
.sidebar-left .tags{
	font-size:11px;
	line-height:13px;
	padding-bottom:4px;
}
.sidebar-left .tags a{
	display:block;
	float:left;
	position:relative;
	color:#232323;
	text-decoration:none;
	border:1px solid #e0e0e0;
	border-right:0;
	margin:0 11px 6px 0;
	padding:1px 3px 0 6px;
	height:16px;
	-webkit-border-radius:2px 0 0 2px;
	-moz-border-radius:2px 0 0 2px;
	border-radius:2px 0 0 2px;
}
.sidebar-left .tags a i{
	display:block;
	position:absolute;
	right:-6px;
	top:-1px;
	background:url(/img/arrow-tags.png) no-repeat 0 0;
	width:6px;
	height:19px;
}
.sidebar-left .tags a:hover{
	background:#e7e9e9;
	border-color:#d7d9d9;
}
.sidebar-left .tags a:hover i{
	background-position:0 -19px;
}
.sidebar-left .tags a.act{
	background:#3498db;
	border-color:#3296d9;
	border-top-color:#2c83bd;
	color:#fff;
	-webkit-box-shadow:inset 0 1px 0 #2d84bf;
	-moz-box-shadow:inset 0 1px 0 #2d84bf;
	box-shadow:inset 0 1px 0 #2d84bf;
}
.sidebar-left .tags a.act i{
	background-position:0 -38px;
}
.sidebar-right .graph{
	position:relative;
	margin-bottom:16px;
}
.sidebar-right .graph img{
	display:block;
}
.sidebar-right .graph .graph-num{
	position:absolute;
	left:0;
	top:57px;
	width:100%;
	text-align:center;
	font-size:24px;
	font-weight:500;
	line-height:24px;
	letter-spacing:-2px;
}
.sidebar-right .graph-tooltip{
	position:absolute;
	left:0;
	top:0;
	background:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,.23);
	-moz-box-shadow:0 1px 4px rgba(0,0,0,.23);
	box-shadow:0 1px 4px rgba(0,0,0,.23);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	font-size:11px;
	line-height:13px;
	padding:10px;
	white-space:nowrap;
	z-index:100;
}
.sidebar-right .graph-tooltip span{
	color:#3498db;
	font-family:Tahoma, Geneva, sans-serif;
	margin-left:6px;
}
.sidebar-right .graph-tooltip i{
	position:absolute;
	left:50%;
	bottom:0;
}
.sidebar-right .graph-tooltip i img{
	position:absolute;
	left:-6px;
	top:0;
}
.sidebar-right .social{
	font-size:11px;
	padding-bottom:10px;
}
.sidebar-right .social div{
	text-align:center;
}
.sidebar-right .social div div{
	margin-bottom:17px;
}
.sidebar-right .social span{
	display:block;
	text-align:center;
	font-size:18px;
	font-weight:500;
	line-height:21px;
	color:#3498db;
}
.sidebar-right .sites{
	margin-bottom:20px;
}
.sidebar-right .sites div{
	background:url(/img/site-bg.gif) no-repeat 0 0;
	height:23px;
	-webkit-border-radius:2px 0 0 2px;
	-moz-border-radius:2px 0 0 2px;
	border-radius:2px 0 0 2px;
	margin-bottom:6px;
	padding:3px 1px 0 10px;
}
.sidebar-right .sites div span{
	float:right;
	font-weight:500;
	color:#222;
}
.mb20{
	margin-bottom:20px;
}
.footer{
	background:#f0f2f4;
	height:70px;
	position:relative;

	_margin:-55px 0 0; 
        margin:0px 0 0; 
	padding:24px 0 24px 0
}
.footer .fl-col-1, .fl-col-2{
    display: inline-block;
}
.footer .fl-col-1{width:170px;}
.footer .fl-col-2{width:330px;}
.footer .border-bottom{
	position:absolute;
	width:100%;
	height:0;
	padding:0;
	margin:0;
	top:118px;
	border-bottom:1px solid #d0d2d4;
}
.footer .logo{
	float:left;
	margin:0 54px 0 0;
}
.footer .logo img{
	display:block;
}
.footer .menu{
	float:left;
	margin:7px 0 0;
}
.footer .menu a{
	color:#999;
	margin-right:34px;
}
.footer .sort{
	float:left;
	color:#222;
	line-height:14px;
	margin:1px 15px 0 0;
}
.footer .sort span{
	display:block;
	float:left;
	margin:7px 10px 0 0;
}
.footer .sort a{
	display:block;
	float:left;
	text-decoration:none;
	border-bottom:1px dotted #9fa0a2;
	margin:7px 10px 8px 8px;
}
.footer .sort a:hover{
	background:#d0d4d9; #dbddde;
	border:0;
	padding:7px 8px 9px;
	margin:0 2px 0 0;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.footer .sort a.act{
	background:#3498db;
	color:#fff;
	border:1px solid #2488cb;
	border-top-color:#1f76b1;
	-webkit-box-shadow:inset 0 1px 0 #2d84bf;
	-moz-box-shadow:inset 0 1px 0 #2d84bf;
	box-shadow:inset 0 1px 0 #2d84bf;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	padding:6px 7px 8px;
	margin:0 2px 0 0;
}
.footer .city{
	float:right;
	line-height:14px;
	margin:1px 0 0 16px;
	position:relative;
	z-index:100;
}
.footer .city span{
	display:block;
	position:relative;
	border-bottom:1px dotted #9fa0a2;
	margin:7px 17px 8px 8px;
	cursor:pointer;
}
.footer .city span img{
	position:absolute;
	right:-12px;
	top:6px;
}
.footer .city span:hover,
.footer .city:hover span{
	background:#d0d4d9; #dbddde;
	border:0;
	padding:7px 17px 9px 8px;
	margin:0;
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
}
.footer .city span:hover img,
.footer .city:hover span img{
	right:5px;
	top:13px;
}
.footer .city div{
	position:absolute;
	right:0;
	bottom:30px;
	background:#d0d4d9; #dbddde;
	-webkit-border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	border-radius:2px 2px 0 0;
	min-width:100%;
	width:250px;
	padding:6px;
	display:none;
}
.footer .city div a{
	padding:2px;
	line-height:1.3;
}
.footer .city:hover div{
	display:block;
}
.city .cloud0{font-size:50%;}
.city .cloud1{font-size:60%;}
.city .cloud2{font-size:76%;}
.city .cloud3{font-size:88%;}
.city .cloud4{font-size:100%;}
.city .cloud5{font-size:110%;}
.city .cloud6{font-size:110%;font-weight:bold;}
.city .cloud7{font-size:122%;font-weight:bold;}
.city .cloud8{font-size:133%;font-weight:bold;}
.city .cloud9{font-size:145%;font-weight:bold;}

.news-popup{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-top:1px solid #c3ebff;
	border-bottom:1px solid #c3ebff;
	z-index:10;
}
.news-popup .news-popup-close{
	position:absolute;
	right:19px;
	top:13px;
}
.news-popup .news-popup-close img{
	display:block;
}
.news-popup .news-block{
	padding:14px 41px 18px 21px;
	margin:0;
}
.news-popup .news,
.news-popup .news.news-big{
	padding-bottom:0;
}

/*---motiv---*/
.brend-bottom{
	background:#f3f3f3;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	z-index:100;
	padding:15px 0;
}
.brend-bottom .motiv-logo{
	float:left;
}
.brend-bottom .motiv-logo img{
	display:block;
}
.brend-bottom .motiv-slogan{
	float:left;
	font-size:12px;
	font-weight:400;
	line-height:15px;
	color:#8d8d8d;
	text-decoration:none;
	margin:5px 0 0 20px;
}
.brend-bottom .motiv-slogan:hover{
	text-decoration:underline;
}
.brend-bottom .motiv-link{
	float:right;
	font-size:18px;
	line-height:18px;
	color:#f35640;
	background:url(/img/motiv-arrow.png) no-repeat 100% 6px;
	margin:10px 0 0;
}

/*---/motiv---*/
@media screen and (max-width: 1024px){
	body{
		background-position:28% 52px;
		font-size:15px;
	}
	.head, .header2, .page, #fancybox-overlay{
		min-width:1280px;
	}
    /*.head .sort {
            margin-left: 18px;
    }
	.head .sort span{
		display:block;
	}
	.head .sort div{
		position:absolute;
		left:0;
		top:30px;
		background:#d0d4d9; #dbddde;
		-webkit-border-radius:0 0 2px 2px;
		-moz-border-radius:0 0 2px 2px;
		border-radius:0 0 2px 2px;
		white-space:nowrap;
		padding:6px 9px;
		display:none;
	}*/
	.head .sort.show div{
		display:block;
	}
    .head .progress {
            margin-left: 50px;
    }
	.result .result-pos .result-pos-up{
		font-size:13px;
		line-height:15px;
	}
	.result .result-pos .result-pos-up img{
		top:4px;
	}
	.result .result-pos .result-pos-down{
		font-size:13px;
		line-height:15px;
	}
	.result .result-pos .result-pos-down img{
		top:4px;
	}
	.result.result-sm .result-logo{
		top:11px;
	}
	.result.result-sm:hover .result-logo{
		top:9px;
	}
	.result.result-sm .result-link{
		font-size:20px;
		line-height:23px;
	}
	.result .result-num{
		top:9px;
		font-size:14px;
        line-height:15px;
	}
	.result:hover .result-num{
		top:7px;
	}
	.footer{
		height:100px;
		min-width:1280px;
	}
	.footer .border-bottom{
		top:148px;
	}
}
@media only screen and (max-device-width: 1024px){
	.fancybox-disabled{
		left: 384px !important;
	}
	.fancybox-mail{
		left: 285px !important;
	}
}
@media only screen and (max-device-width: 1024px) and (orientation : landscape){
	.container .center{
		min-height:1024px;
	}
}
@media only screen and (max-device-width: 1024px) and (orientation : portrait){
	body{
		font-size:20px;
	}
	.container .center{
		min-height:1224px;
	}
	.head .sort{
		line-height:20px;
		margin-top:3px;
	}
	.head .sort span img{
		top:10px;
	}
	.head .sort.show span img{
		top:17px;
	}
	.head .city{
		line-height:20px;
		margin-top:3px;
	}
	.head .city span img{
		top:10px;
	}
	.head .city.show span img{
		top:17px;
	}
}

A.back_ios{
	display:block;
	position:absolute;
	top:560px;
	left:23px;/*23*/
        _right:-23px;
_margin: 0 auto;
	width:135px;
	height:40px;

	background-color: #f0f0f0;
	border-radius:7px;
}
A.back_googp{
	display:block;
	position:absolute;
	top:608px;
        left:23px;
	_right:-23px;
_margin: 0 auto;
	width:135px;
	height:40px;

	background-color: #f0f0f0;
	border-radius:7px;
}
@media all and (device-width: 768px) and (device-height: 1024px){
	html, body{height:100%;}
}


/* footer 2014 */
.footer-right {
        float: right;
        text-align: right;
        font-size: 11px;
        font-weight: 400;
}
.footer-left {
        float: left;
        font-size: 11px;
        font-weight: 400;
}
.footer-text {
        clear:both;
        padding-top: 17px;
}
.footer-left .fl-col-0 {
        background: url(/img/footer-br.png) no-repeat right center;
        padding-right: 10px;
        margin-right: 7px;
        width: auto;
}
.footer-left .fl-col-1 {
        background: url(/img/footer-br.png) no-repeat right center;
        padding-right: 10px;
        margin-right: 7px;
        width: auto;
}
.footer-left .fl-col-3 {
        width: auto;
}
.footer-right .fl-col-2 {
        width: auto;
        padding-bottom: 3px;
}
.footer-right img {
        margin: 0px 0px 10px 0px;
}
/* /footer 2014 */

/* info */
.head.info {
        height: 42px;
        padding-top: 10px;
}
.top-menu {
        float: right;
        padding-top: 9px;
        color: #222222;
        font: 300 13px/13px 'Roboto', Arial, Helvetica, sans-serif;
}
.top-menu span {
        padding: 0px 9px 0px 12px;
}
.top-menu a {
        text-decoration: underline;
        color: #222222;
}
.top-menu a:hover {
        text-decoration: none;
        color: #222222;
}
.top-menu a.act {
        text-decoration: none;
}
.info-rate {
        text-align: center;
        padding: 37px 0px 0px 0px;
}
.info-rate h2 {
        color: #222222;
        font: 500 24px/24px 'Roboto', Arial, Helvetica, sans-serif;
        margin: 0px 0px 20px;
}
.info-rate p {
        color: #222222;
        font: 300 15px/18px 'Roboto', Arial, Helvetica, sans-serif;
        margin: 0px 0px 18px 0px;
}
.info-rate-map {
        position: relative;
        width: 904px;
        height: 344px;
        background: #ffffff url(/img/inforate-bg.png) no-repeat left top;
        margin: 31px 0px 3px;
        z-index: 100;
}
.info-rate-point {
        width: 64px;
        height: 64px;
        background: transparent url(/img/inforate-point1.png) no-repeat left top;
        position: absolute;
        z-index: 101;
}
.info-rate-point#irp1 {
        top: 31px;
        left: 164px;
}
.info-rate-point#irp2 {
        top: 31px;
        left: 256px;
}
.info-rate-point#irp3 {
        top: 31px;
        left: 652px;
}
.info-rate-point#irp4 {
        top: 31px;
        left: 777px;
}
.info-rate-point#irp5 {
        top: 31px;
        left: 851px;
}
.info-rate-point#irp6 {
        top: 91px;
        left: 158px;
}
.info-rate-point#irp7 {
        top: 91px;
        left: 522px;
}
.info-rate-point#irp8 {
        top: 124px;
        left: 717px;
}
.info-rate-point#irp9 {
        top: 186px;
        left: 128px;
}
.info-rate-point#irp10 {
        top: 184px;
        left: 656px;
}
.info-rate-point:hover {
        background: transparent url(/img/inforate-point2.png) no-repeat left top;
}       
        
 .info-rate-point, .info-rate-point:hover {       
        -webkit-transition-property: background;
        -webkit-transition-duration: 0.5s;
        -webkit-transition-timing-function: ease;
        -moz-transition-property: background;
        -moz-transition-duration: 0.5s;
        -moz-transition-timing-function: ease;
        -o-transition-property: background;
        -o-transition-duration: 0.5s;
        -o-transition-timing-function: ease;
        -ms-transition-property: background;
        -ms-transition-duration: 0.5s;
        -ms-transition-timing-function: ease;
        transition-property: background;
        transition-duration: 0.5s;
        transition-timing-function: ease;
}
.info-rate-point .info-rate-text {
        z-index: 102;
        display: none;
        position: absolute;
        display: none;
        position: absolute;
        top: 0px;
        left: -130px;
        background-color: #ffffff;
        padding: 18px 20px 17px;
        text-align: left;
        -moz-box-shadow: 0px 2px 7px #b0b1b3;
        -webkit-box-shadow: 0px 2px 7px #b0b1b3;
        box-shadow: 0px 2px 7px #b0b1b3;
        filter: progid:DXImageTransform.Microsoft.Shadow(color='#b0b1b3', Direction=145, Strength=3);
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        width: 290px;
        color: #222222;
        font: 300 12px/16px 'Roboto', Arial, Helvetica, sans-serif;
}
/*.info-rate-point:hover .info-rate-text, .info-rate-point:active .info-rate-text {
        display: block;
}*/
.info-rate-hover {
        width: 64px;
        height: 64px;
}
.info-rate-point#irp1 .info-rate-text {
        width: 160px;
        left: -69px;
}
.info-rate-point#irp5 .info-rate-text {
        width: 100px;
        left: -39px;
}
.info-rate-point#irp10 .info-rate-text {
        width: 268px;
        left: -119px;
}
.info-rate-point .info-rate-text img {
        position: absolute;
        bottom: -5px;
        left: 48%;
        width: 9px;
        height: 5px;
}
.info-rate-all {
        
}
.info-rate-all .title {
        color: #222222;
        font: 500 16px/16px 'Roboto', Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
        text-align: center;
}
.info-rate-all ol {
        list-style: none; 
        counter-reset: point;
        margin: 0px 0px 0px 0px;
}
.info-rate-all ol li {
        margin-bottom: 20px;
        font: 300 15px/18px 'Roboto', Arial, Helvetica, sans-serif;
        color: #222222;
        position: relative;
        padding-left: 25px;
}
.info-rate-all ol li:before {
        content: counter(point);
        counter-increment: point 1;
        position: absolute;
        left: 0;
        top: 0px;
        width: 25px;
        padding: 0;
        color: #222222;
        font: 500 15px 'Roboto', Arial, Helvetica, sans-serif;
        text-align: left;
}
/* /info */

/* mail rss */
.mail-rss-ico {
        position: absolute;
        top: 0px;
        right: -124px;
        height: 52px;
        width: 52px;
}
.mail-rss-ico a {
        display: block;
        height: 52px;
        width: 52px;
}
.mail-rss-ico a img {
        display: block;
        border: 0px;
        padding: 15px 10px 18px 17px;
}
.mail-rss-ico a:hover, .mail-rss-ico a:active {
        cursor: pointer;
        cursor: hand;
        background-color: #cce5f1;
}
/*.fancy-popup#popup_subscribe {
        display: none;
}*/
.fancy-popup#popup_subscribe {
        width: 460px;
        padding: 0px 35px 0px;
}
.fancy-popup .title {
        color: #222222;
        font: 500 24px/24px 'Roboto', Arial, Helvetica, sans-serif;
        margin-bottom: 33px;
        text-align: center;
        letter-spacing: -0.02em;
}
.fancy-popup .lev1 {
        padding: 0px 0px 0px 26px;
        font: 500 16px/20px 'Roboto', Arial, Helvetica, sans-serif;
        color: #222222;
}
.fancy-popup .lev1 label {
        font: 500 16px/20px 'Roboto', Arial, Helvetica, sans-serif;
        color: #222222;
        display: block;
        margin-bottom: 8px;
}
.fancy-popup .lev2 {
        padding: 0px 0px 0px 57px;
        font: 300 13px/16px 'Roboto', Arial, Helvetica, sans-serif;
        color: #959595;
        margin-bottom: 24px;
}
.fancy-popup .lev2 p {
        font: 300 13px/16px 'Roboto', Arial, Helvetica, sans-serif;
        color: #959595;
        margin-bottom: 16px;
}
.fancy-popup .lev2 label {
        font: 300 13px/16px 'Roboto', Arial, Helvetica, sans-serif;
        color: #222222;
        display: block;
        margin-bottom: 10px;
}
.fancy-popup .lev2 .jq-checkbox {
        margin-right: 9px;
}
.fancy-popup .lev2 .attention {
        color: #ff6600;
        font: 500 13px/16px 'Roboto', Arial, Helvetica, sans-serif;
        background: url(/img/popup-attention.png) no-repeat left top;
        padding: 0px 0px 0px 22px;
        margin-bottom: 5px;
}

.fancy-popup .lev0 {
        padding-top: 10px;
        padding-bottom: 15px;
}
.fancy-popup .lev0 .field-name {
        float: left;
        width: 57px;
        padding-top: 9px;
}
.fancy-popup .lev0 .field {
        float: left;
        width: 370px;
}
.fancy-popup .lev0 .field input {
        width: 236px;
}
.fancy-popup .btns {
        padding: 10px 0px 0px 57px;
}
.fancy-popup .subscribe {
        display:inline-block;
        font: 300 13px/13px 'Roboto', Arial, Helvetica, sans-serif;
        line-height:22px;
        color:#fff;
        text-decoration:none;
        background:#0099de;
        -webkit-box-shadow:inset 0 -2px 0 #0081c6;
        -moz-box-shadow:inset 0 -2px 0 #0081c6;
        box-shadow:inset 0 -2px 0 #0081c6;
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        border-radius:2px;
        padding:3px 26px 6px;
        border: 1px solid #0085c1;
        border-bottom: 1px solid #006eaa;
}
.fancy-popup .subscribe:hover {
        opacity: 0.9;
        filter:alpha(opacity=90);
}
.fancy-popup .unsubscribe {
        margin-left: 11px;
        color: #222222;
        text-decoration: underline;
        font: 300 13px/13px 'Roboto', Arial, Helvetica, sans-serif;
}


.fancy-popup .unsubscribe:hover {
        text-decoration: none;
        color: #222222;
}
/* /mail rss */

.stat-ico {
        position: absolute;
        top: 0px;
        right: 15px;
        height: 52px;
        width: 52px;
}
.stat-ico a {
        display: block;
        height: 52px;
        width: 52px;
}
.stat-ico a img {
        display: block;
        border: 0px;
        padding: 17px 16px 18px 17px;
}
.stat-ico a:hover, .stat-ico a:active {
        cursor: pointer;
        cursor: hand;
        background-color: #cce5f1;
}
.president-ico {
        position: absolute;
        top: 0px;
        right: 104px;
        height: 52px;
        width: 52px;
}
.president-ico:hover {
        background-color: #cce5f1;
}
.president-ico a img {
        display: block;
        border: 0px;
        padding: 11px 11px;
}
.president-ico a:hover, .president-ico a:active {
        cursor: pointer;
        cursor: hand;
}
.stat-ico.active, .president-ico.active {
        background-color: #cce5f1;
}
.analitic-ico {
        position: absolute;
        top: 0px;
        right: 67px;
        height: 52px;
        width: 52px;
}
.analitic-ico a {
        display: block;
        height: 52px;
        width: 52px;
}
.analitic-ico a img {
        display: block;
        border: 0px;
        padding: 13px 16px 18px 17px;
}
.analitic-ico a:hover, .analitic-ico a:active {
        cursor: pointer;
        cursor: hand;
        background-color: #cce5f1;
}

.kings-ico {
        position: absolute;
        top: 0px;
        right: 118px;
        height: 52px;
        width: 52px;
}
.kings-ico a {
        display: block;
        height: 52px;
        width: 52px;
}
.kings-ico a img {
        display: block;
        border: 0px;
        padding: 14px 15px 17px 15px;
}
.kings-ico a:hover, .kings-ico a:active {
        cursor: pointer;
        cursor: hand;
        background-color: #cce5f1;
}

.factory-ico {
        position: absolute;
        top: 0px;
        right: 170px;
        height: 52px;
        width: 52px;
}
.factory-ico a {
        display: block;
        height: 52px;
        width: 52px;
}
.factory-ico a img {
        display: block;
        border: 0px;
        padding: 13px 16px 17px 15px;
}
.factory-ico a:hover, .factory-ico a:active {
        cursor: pointer;
        cursor: hand;
        background-color: #cce5f1;
}

.col2-ico {
        position: absolute;
        top: 0px;
        right: 326px;
        height: 52px;
        width: 52px;
}
.col2-ico a {
        display: block;
        height: 52px;
        width: 52px;
}
.col2-ico a img {
        display: block;
        border: 0px;
        padding: 14px 15px 17px 15px;
}
.col2-ico a:hover, .col2-ico a:active {
        cursor: pointer;
        cursor: hand;
        background-color: #cce5f1;
}


.rat-ico {
        position: absolute;
        top: 0px;
        right: 274px;
        height: 52px;
        width: 52px;
}
.rat-ico a {
        display: block;
        height: 52px;
        width: 52px;
}
.rat-ico a img {
        display: block;
        border: 0px;
        padding: 14px 15px 17px 15px;
}
.rat-ico a:hover, .col2-ico a:active {
        cursor: pointer;
        cursor: hand;
        background-color: #cce5f1;
}

/*author-------------------*/
.author-ico {
        position: absolute;
        top: 0px;
        right: 222px;
        height: 52px;
        width: 52px;
}
.author-ico a {
        display: block;
        height: 52px;
        width: 52px;
}
.author-ico a img {
        display: block;
        border: 0;
        padding: 14px 7px 10px 15px;
}
.author-ico a:hover, .author-ico a:active {
        cursor: pointer;
        cursor: hand;
        background-color: #cce5f1;
}
/*author---END-------------*/

/*twitter-------------------*/
.twitter-ico {
        position: absolute;
        top: 0px;
        right: -120px; /*-176*/
        height: 52px;
        width: 52px;
}
.twitter-ico a {
        display: block;
        height: 52px;
        width: 52px;
}
.twitter-ico a img {
        display: block;
        border: 0px;       
        padding: 14px 7px 10px 15px;
}
.twitter-ico a:hover, .twitter-ico a:active {
        cursor: pointer;
        cursor: hand;
        background-color: #cce5f1;
}
/*twitter---END-------------*/


.col2-ico.active a,
.satelites-ico.active a{
    background-color: #cce5f1;
}
.circle-alert{
	display:none;
}



/*@media screen and (max-width: 1230px){
        .mail-rss-ico{
                display: none;
        }
}*/

.menu-ico {
        float: left;
        width: 40px;
        position: relative;
        height: 0px;
        margin-left: 2px;
}
.menu-ico .menu-ico-point {
        width: 40px;
        height: 40px;
        background: transparent url(/img/menu-ico-point.png) no-repeat center top;
}
.menu-ico .menu-ico-point:hover {
        cursor: pointer;
        cursor: hand;
        background: #dbdedf url(/img/menu-ico-point.png) no-repeat center top;
}
.menu-ico:hover .menu-ico-point {
        background: #dbdedf url(/img/menu-ico-point.png) no-repeat center -40px;
}
.menu-ico .menu-ico-block {
        display: none;
        background: #dbdedf;
        width: 180px;
        position: absolute;
        top: 40px;
        left: 0px;
        padding: 9px 7px 0px 8px;
}
.menu-ico:hover .menu-ico-block {
        display: block;
}
.menu-ico .menu-ico-block div {
        padding: 7px 0px 0px 0px;
        margin-bottom: 4px;
        height: 24px;
}
.menu-ico .menu-ico-block .hidden{
	display:none;
}
.menu-ico .menu-ico-block .main,
.menu-ico .menu-ico-block .p1 {
        background: url(/img/menu-ico-main.png?v=2) no-repeat left top;
}
.menu-ico .menu-ico-block .lifestyle,
.menu-ico .menu-ico-block .p2 {
        background: url(/img/menu-ico-lifestyle.png?v=2) no-repeat left top;
}
.menu-ico .menu-ico-block .business,
.menu-ico .menu-ico-block .p3 {
        background: url(/img/menu-ico-business.png?v=2) no-repeat left top;
}
.menu-ico .menu-ico-block .sport,
.menu-ico .menu-ico-block .p4 {
        background: url(/img/menu-ico-sport.png?v=2) no-repeat left top;
}
.menu-ico .menu-ico-block .hitech,
.menu-ico .menu-ico-block .p5 {
        background: url(/img/menu-ico-hitech.png?v=2) no-repeat left top;
}
.menu-ico .menu-ico-block a {
        color: #000000;
        text-decoration: underline;
}
.menu-ico .menu-ico-block a:hover {
        color: #000000;
        text-decoration: none;
}
.head .logo img {
        width: 45px;
        height: 44px;
}
.head .logo {
        background: url(/img/logo-sign.png) no-repeat left top;
}
.head .logo.logo-lifestyle,
.head .logo.logo-2 {
        background: url(/img/logo-lifestyle.png) no-repeat left top;
        margin-top: -5px;
}
.head .logo.logo-business,
.head .logo.logo-3 {
        background: url(/img/logo-business.png) no-repeat left top;
        margin-top: -5px;
}
.head .logo.logo-sport,
.head .logo.logo-4 {
        background: url(/img/logo-sport.png) no-repeat left top;
        margin-top: -5px;
}
.head .logo.logo-hitech,
.head .logo.logo-5 {
        background: url(/img/logo-hitech.png) no-repeat left top;
        margin-top: -5px;
}
.head .logo.logo-2 img, .head .logo.logo-2 img, .head .logo.logo-2 img, .head .logo.logo-2 img {
        width: 45px;
        height: 44px;
}

/* csign */
.csign1 {
        background: url(/img/csign-bg.png) no-repeat left top;
        position: absolute;
        bottom: 77px;
        left: 23px;
        width: 117px;
        height: 87px;
        color: #000000;
        font: 500 12px/15px 'Roboto', Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 30px 0px 0px;
}
.csign1 img {
        position: absolute;
        top: 85px;
        left: 32px;
}
.csign2 {
        background: url(/img/csign-bg.png) no-repeat left top;
        position: absolute;
        bottom: 80px;
        left: 30px;
        width: 117px;
        height: 87px;
        color: #000000;
        font: 500 12px/15px 'Roboto', Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 30px 0px 0px;
}
.csign2 img {
        position: absolute;
        top: 85px;
        left: 32px;
}
.csign3 {
        background: url(/img/csign-bg.png) no-repeat left top;
        position: absolute;
        bottom: -145px;
        left: -73px;
        width: 117px;
        height: 71px;
        color: #444444;
        font: 500 12px/15px 'Roboto', Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 46px 0px 0px;
}
.csign3 img {
        position: absolute;
        top: -19px;
        left: 70px;
}
.csign4 {
        background: url(/img/csign-bg.png) no-repeat left top;
        position: absolute;
        bottom: -258px;
        left: -84px;
        width: 117px;
        height: 78px;
        color: #444444;
        font: 500 12px/15px 'Roboto', Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 39px 0px 0px;
}
.csign4 img {
        position: absolute;
        top: -130px;
        left: 67px;
}
.csign5 {
        background: url(/img/csign-bg.png) no-repeat left top;
        position: absolute;
        top: 70px;
        left: -5px;
        width: 117px;
        height: 68px;
        color: #444444;
        font: 500 12px/15px 'Roboto', Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 49px 0px 0px;
}
.csign5 img {
        position: absolute;
        top: -18px;
        left: 23px;
}
.csign6 {
        background: url(/img/csign-bg.png) no-repeat left top;
        position: absolute;
        bottom: -140px;
        left: -71px;
        width: 117px;
        height: 68px;
        color: #444444;
        font: 500 12px/15px 'Roboto', Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 49px 0px 0px;
}
.csign6 img {
        position: absolute;
        top: -15px;
        left: 64px;
}
/* /csign */

.hidden{
	display:none;
}
.ru, .ua, .by{
	display: block;
}

/* left icons */
.head .wrapper {
        position: relative;
        padding: 6px 15px;
        background: #f0f2f4;
}
.left-icons {
        position: absolute;
        left: -147px;
        top: 11px;
}
.left-icons a {
        height: 40px;
        display: inline-block;
        color: #232323;
        font: 300 10px/10px 'Roboto', Arial, Helvetica, sans-serif;
        text-decoration: none;
        text-align: center;
}
.left-icons a.sport {
        width: 36px;
        margin: 0 5px 0 5px;
}
.left-icons a.hitech {
        width: 36px;
        margin: 0 5px 0 5px;
}
.left-icons a.business {
        width: 36px;
        margin: 0 5px 0 5px;
}
.left-icons a.active,
.left-icons a:hover {
        color: #3498db;
        text-decoration: none;
}
.left-icons a.sport img {
        background: url(/img/ico-sport.png) no-repeat left top;
        margin-bottom: 2px;
        width: 20px;
        height: 20px;
}
.left-icons a.hitech img {
        background: url(/img/ico-hitech.png) no-repeat left top;
        margin-bottom: 2px;
        width: 20px;
        height: 20px;
}
.left-icons a.business img {
        background: url(/img/ico-business.png) no-repeat left top;
        margin-bottom: 2px;
        width: 20px;
        height: 20px;
}
.left-icons a.active img,
.left-icons a:hover img {
        background-position: left -20px;
}
/* /left-icons */

body.tv .result .result-pos{
	font-size:28px;
	display:none;
}
body.tv .result .result-link,
body.tv .result.result-sm .result-link{
	font-size:28px;
	line-height: 36px;
}
body.tv .result .result-pos .result-pos-up,
body.tv .result .result-pos .result-pos-down,
body.tv .result .result-link span a,
body.tv .result .result-site,
body.tv .result .result-tags,
body.tv .result .result-num .result-num-tooltip{
	font-size:22px;
}
body.tv .result .result-num{
    font-size:20px;
    top:15px;
}
body.tv .result.result-sm{
	padding-left:30px;
}

body.tv .result:hover,
body.tv .result.result-sm:hover,
body.tv .result.result-sm,
body.tv .result.result-sm .result-logo{
	left: 1px;
	top: 18px;
}

/* print */
@media print {
	header.head, footer.footer{
		background-color: white;
	}

	.main-rss-ico, .stat-ico, .analitic-ico, .progress, .left-icons, .circle-alert, aside, .footer-right, 
	.footer-left .fl-col-1, .footer-left .fl-col-3{
		display:none !important;
	}

	.head-line .wrapper{
		width: 900px;
		margin-left: 20px;
		margin-right: 0;
	}

	body{
		background-image: none !important;
	}

	.menu-ico-container a{
		display:none;
	}
	.menu-ico-container img{
		display: inline-block !important;
	}

	.container{
		padding-bottom:50px !important;
	}
}

.header2 {
        position: absolute;
        top:56px;
        width: 100%;
        z-index: 99000;
}
.header2 .header2-line {
        width: 768px;
        padding: 0px 0px 0px 132px;

        margin: 0px auto;
        height: 28px;
        background: #e3e6ea;
}
.header2 .header2-line .result-comments-cnt{
	float: right;
	width: 30px;
	height: 28px;
	line-height: 28px;
	text-align: center;
}
.header2 .header2-line .result-num{
	float: right;
	width: 27px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	margin: 0 20px;
}

/* search-page */
.search-result-page {
        background: #ffffff url(/img/search-result-page.png) repeat-y right top;
}
.search-line {
        padding: 15px 40px 15px 40px;
        margin-top: -8px;
        background: #ffffff;
}
.search-line input[type=text] {
        height: 40px;
        border: 1px solid #d3d7da;
        border-right: 0px;
        -webkit-border-radius-topleft:2px;
        -moz-border-top-left-radius:2px;
        border-top-left-radius:2px;
        -webkit-border-radius-bottomleft:2px;
        -moz-border-bottom-left-radius:2px;
        border-bottom-left-radius:2px;
        width: 717px;
        padding: 0px 0px 0px 15px;
        font: 300 15px/15px 'Roboto', Arial, Helvetica, sans-serif;
        color: #222222;
        margin: 0px;
        display: inline-block;
}
.search-line .search-btn {
        display: inline-block;
        height: 28px;
        width: 60px;
        color: #ffffff;
        font: 300 15px/15px 'Roboto', Arial, Helvetica, sans-serif;
        text-decoration: none;
        background: url(/img/search-btn-bg.png) no-repeat left top;
        padding: 12px 0px 0px 40px;
        position: relative;
        top: -1px;
        margin: 0px 0px 0px -3px;
}
.search-line .search-btn:hover {
        cursor: pointer;
        cursor: hand;
        text-decoration: none;
        color: #ffffff;
        opacity: 0.9;
        filter:alpha(opacity=90);
}
.find-line {
        margin-top: 11px;
}
.find-line-left {
        float: left;
        color: #222222;
        font: 300 15px/15px 'Roboto', Arial, Helvetica, sans-serif;
        margin-right: 15px;
}
.find-line-left span {
        font: 700 15px/15px 'Roboto', Arial, Helvetica, sans-serif;
        margin-left: 4px;
}
.find-line-right {
        float: right;
        font: 300 15px/15px 'Roboto', Arial, Helvetica, sans-serif;
        color: #222222;
}
.find-line-right a {
        border-bottom: 1px dotted #222222;
        color: #222222;
        text-decoration: none;
        margin-left: 10px;
}
.find-line-right a:hover {
        border-bottom: 0px;
        color: #222222;
        text-decoration: none;
        cursor: poiner;
        cursor: hand;
}
.find-line-right a.active {
        font: 700 15px/15px 'Roboto', Arial, Helvetica, sans-serif;
        border: 0px;
}
.show-result {
        margin-bottom: 40px;
        background: url(/img/search-result-page.png?w=190) repeat-y scroll right top #ffffff;
}
.show-result-left {
        float: left;
        width: 710px;
        border-top: 1px solid #e6e9ec;
        padding-top: 4px;
}
.show-result-right {
        float: right;
        width: 190px;
        background: #f0f2f4;
        padding-top: 7px;
}
.rsearch {
        background: #ffffff;
        padding: 7px 50px 7px 108px;
        position: relative;
        margin-bottom: 4px;
}
.rsearch .rs-logo {
        position: absolute;
        left: 13px;
        top: 7px;
}
.rsearch .rs-logo img {
        height: 16px;
        width: 16px;
        border: 0px;
}
.rsearch .rs-date {
        position: absolute;
        left: 40px;
        top: 9px;
        color: #9da3a8;
        font: 300 11px/11px 'Roboto', Arial, Helvetica, sans-serif;
}
.rsearch .rs-num {
        position: absolute;
        top: 6px;
        right: 11px;
        text-align: right;
        color: #232323;
        font: 300 12px/12px 'Roboto', Arial, Helvetica, sans-serif;
        padding: 3px;
}
.rsearch .rs-num:hover {
        cursor: pointer;
        cursor: hand;
}
.rsearch .rs-link {
        font: 500 15px/15px 'Roboto', Arial, Helvetica, sans-serif;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        padding-bottom: 2px;
}
.rsearch .rs-link a {
        color: #232323;
        text-decoration: none;
}
.rsearch .rs-link a:hover {
        color: #232323;
        text-decoration: underline;
}
.site-rate {
        padding: 7px 45px 9px 40px;
        position: relative;
        margin-bottom: 5px;
}
.site-rate .sr-logo {
        position: absolute;
        left: 15px;
        top: 6px;
}
.site-rate .sr-logo img {
        height: 16px;
        width: 16px;
        border: 0px;
}
.site-rate .sr-num {
        position: absolute;
        top: 4px;
        right: 11px;
        text-align: right;
        color: #232323;
        font: 300 12px/12px 'Roboto', Arial, Helvetica, sans-serif;
        padding: 3px;
}
.site-rate .sr-num:hover {
        cursor: pointer;
        cursor: hand;
}
.site-rate .sr-name {
        font: 300 13px/13px 'Roboto', Arial, Helvetica, sans-serif;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
}
.site-rate .sr-name a {
        color: #222222;
        text-decoration: none;
}
.site-rate .sr-name a:hover {
        color: #222222;
        text-decoration: underline;
}
/* /search-page */

@media screen and (max-width: 930px){
        .header2 .header2-line {
                _margin-left: 15px !important;
        }
}

body.ru {
	background-image:url(/img/ru-bg.jpg);
}
body.ua {
	background-image:url(/img/ua-bg.jpg); 
}
body.rk {
	background-image:url(/img/rk-bg.jpg);
}
body.by {
	background-image:url(/img/by-bg.jpg); 
}
body.kz {
	background-image:url(/img/kz-bg.jpg);
}

.sort-disabled-popup {
        text-align: center;
}
.sort-disabled-popup .title {
        color: #000018;
        font: 500 24px/24px 'Roboto', Arial, Helvetica, sans-serif;
        margin-bottom: 15px;
}
.sort-disabled-popup p {
        color: #222222;
        font: 300 15px/18px 'Roboto', Arial, Helvetica, sans-serif;
}

.loader{
	width: 200px;
	height: 100px;
	position: fixed;
	top: 45%;
	left: 37%;

	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);

	text-align: center;
	padding: 20px;

	z-index:1000000;
}

.loader img{
	display: inline-block;
}

.loader div{
	display: inline-block;
	padding-top:7px;
	font-size:1.5em;
	color: #FFF;
}

/* currency */
.currency-btn{
	position: absolute;
	top: 2px;
	right: 320px;
}

.currency{
	position: absolute;
	display: block;
	top: -2px;
	padding-top: 15px;
	font-weight: 500;
	padding-bottom: 15px;
	padding-right: 7px;
	font-size: 16px;
	padding-left: 22px;
	background: url(/img/dollar.png) no-repeat 5px 18px;
	text-decoration: none !important;
	-moz-animation: myfirst 10s infinite;
	-webkit-animation: myfirst 10s infinite;
	animation: myfirst 10s infinite;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
	background-color: #cce5f1;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
	0% {background-color: #cce5f1;}
	16%   {background-color: transparent;}
    32% {background-color: #cce5f1;}
    48%   {background-color: transparent;}
    64% {background-color: #cce5f1;}
    80%   {background-color: transparent;}
}

/* Standard syntax */
@keyframes myfirst {
    0% {background-color: #cce5f1;}
	16%   {background-color: transparent;}
    32% {background-color: #cce5f1;}
    48%   {background-color: transparent;}
    64% {background-color: #cce5f1;}
    80%   {background-color: transparent;}
}


.currency span{
	border:0;
	border-bottom: 1px solid #9fa0a2;
-moz-border-image: url(/img/border/selection.gif) 1 round;
-webkit-border-image: url(/img/border/selection.gif) 1 round;
-o-border-image: url(/img/border/selection.gif) 1 round;
	border-image: url(/img/border/selection.gif) 1 round;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes under {
	0% {border-bottom: 1px dotted #9fa0a2;}
	16%   {border-bottom: 1px solid #9fa0a2;}
    32% {border-bottom: 1px dotted #9fa0a2;}
    48%   {border-bottom: 1px solid #9fa0a2;}
    64% {border-bottom: 1px dotted #9fa0a2;}
    80%   {border-bottom: 1px solid #9fa0a2;}
}

/* Standard syntax */
@keyframes under {
    0% {border-bottom: 1px dotted #9fa0a2;}
	16%   {border-bottom: 1px solid #9fa0a2;}
    32% {border-bottom: 1px dotted #9fa0a2;}
    48%   {border-bottom: 1px solid #9fa0a2;}
    64% {border-bottom: 1px dotted #9fa0a2;}
    80%   {border-bottom: 1px solid #9fa0a2;}
}


.currency-up{
	color: #27ae60;
}
.currency-down{
	color: #e74c3c;
}
/* /currency */

/* Banners on the left and right columns */
.page{
	position:relative;
}

.side-banner{
	margin: 0 0 0 10px;

	width: 172px;
	display:none;
	_background-color: rgba(200, 200, 200, 0.5);
}

.side-news-item,
.side-banner-item{
	background-color: rgba(255, 255, 255, 0.8);
	_margin-bottom: 20px;
	_padding: 7px;
}

/*.side-banner-item:hover{
	_background-color: rgb(255, 255, 255);
        text-decoration: underline;
}*/

.banners-left-side{
	position: fixed;
	top: 82px;
_bottom: 50px;
_width: 172px;
        width: -moz-calc((100% - 900px)/2);
        width: -webkit-calc((100% - 897px)/2);
        width: calc((100% - 905px)/2);
	left: 2px;
	_left: -moz-calc((50% - 631px)/2);
	_left: calc((50% - 621px)/2);
	z-index: 0;
	_display:none;
}
@media screen and (max-width: 1024px){
.banners-left-side{
width: 172px;
left: 20px;
}
}

.banners-right-side{
	position: fixed;
	top: 64px;
	_width: 172px;
        width: -moz-calc((100% - 900px)/2);
        width: -webkit-calc((100% - 897px)/2);
        width: calc((100% - 905px)/2);
	right: 2px;
	_right: -moz-calc((50% - 631px)/2);
	_right: calc((50% - 621px)/2);
	z-index: 10000;
	_display:none;
}
@media screen and (max-width: 1024px){
.banners-right-side{
width: 172px;
right: 20px;
}
}


.sidebar-left, .sidebar-right{
	z-index:-1; 
}


.text-wrapper{
	overflow: hidden;
	text-overflow: ellipsis;
	outline: none;
}
.text-wrapper.line{
	white-space: nowrap;
}
.news-box,
.banner-box{
height: 75px;
padding: 5px;
        font-family: Helvetica, Play, sans-serif;
	font-size: 12px;
	line-height: 13px;
	font-weight: 300;
}
.news-title  h1,
.banner-title  h1 {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    color: #333;
    text-shadow: 0 0 7px #fff;
    opacity: 0.8;
    font-family: Helvetica, Play, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    _padding: .2em 0;
}
.news-title h1:before, .news-title h1:after,
.banner-title h1:before, .banner-title h1:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    _background: #000;
    background-clip: content-box;
    border-bottom: 1px solid #999;
    }
.news-title h1:before
.banner-title h1:before {
    left: -.5em;
    margin: 0 0 0 -50%;
    }
.news-title h1:after,
.banner-title h1:after {
    left: .5em;
    margin: 0 -50% 0 0;
    }
/*.banner-title h1> img{
position: relative;
top:3px;
}*/ 
/*
.banner-box > b.banner-domain{
	_color: #208b07;
        color: #001eff;
        opacity: 0.5;
	text-shadow: 0 0 7px #fff;
	font-family: Helvetica, Play, sans-serif;
	font-size: 12px;
	line-height: 12px;
	font-weight: 600;
	display: block;
	margin-bottom:5px;
}
*/

.news-box > .news-text,
.banner-box > .banner-text{
position: relative;
top:-20px;
	/*font-family: Helvetica, Play, sans-serif;
	font-size: 10px;
	line-height: 9px;
	font-weight: 400;*/
	color: #000;
	text-shadow: rgb(255, 255, 255) 0px 0px 3px;
	display:block;
}
.news-box > .news-text:hover,
.banner-box > .banner-text:hover{
        text-decoration: underline;
}
.news-box > .imgNews,
.banner-box > .imgBanner {
position: relative;
left: 0px;
top: -20px;
}
.imgNews > img,
.imgBanner > img{
float: left;
padding-right: 7px;
}
.imgNews:hover,
.imgBanner:hover{
        text-decoration: underline;
}
.pPole {
height: 20px;
}

.Clear {
clear:both;
}

.prBanner {
position: absolute;
left: 10px;
_margin: 0 auto;
width: 172px;
/*padding: 25px 0  25px 0;*/
_padding: 0 0  5px 0;
text-align: center;
_background-color: inherit;
background-color: rgba(255, 255, 255, 0.0);
}
.prBanner a{
text-decoration:none;
}
.prBanner a:hover{
text-decoration: underline;
}

/* /Banners on the left and right columns */

/* Simple modal */

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:150px; width:500px; background-color:#E9F3FF; border:10px solid #E9F3FF; padding:12px;box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); border-radius: 2px;}
#simplemodal-container .simplemodal-data {padding:8px;margin-top:2em;line-height:150%}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a.modalCloseImg {background:url(/img/delete.png) no-repeat; width:11px; height:11px; display:inline; z-index:203200; position:absolute; top:5px; right:5px; cursor:pointer;}



.bannersova
{
	width:100%;
	height: 100% ;
/* 	margin: 0 auto; */
	margin: 0;
	background-image: url(/rutop/img/ban_sova.png) ;
	background-size: contain;
	background-repeat: no-repeat;
    border: 3px #3498DB solid;
    background-position-y: 50px;
    background-color: white;
}
.bannersova .logo
{
	width: 70%; 
	margin: 0 auto;
	padding-top: 20px;
}
.bannersova .logo img
{
	width: 100%;
	display: block;
	margin: 0 auto;
}
.bannersova h2
{
	    color: #000;
    font-weight: normal;
    text-align: center;
    margin: 0;
    font-size: 14px;
    padding-top: 82px;
    line-height: 1.3;
	
}
.bannersova h3
{
	color: #3498db; 
	font-weight: bold;
	text-align: center;
	margin: 0;
	font-size: 14px;
	line-height: 1.3;
}
.bannersova a
{
	text-decoration: none;
}
.bannersova .button
{
	background-color: rgba(52,152,219,0.7);
    margin: 10px auto 0;
    /* display: table; */
    color: #FFF;
    text-align: center;
    /*width: 130px;*/
    font-size: 10px;
    padding: 15px 0;
    text-decoration: none !important;
    transition: 0.5s all;
}
.bannersova .button:hover
{
	background-color: rgba(52,152,219,1);
}


