#regnews-html {
       top: 232px;

    position: relative;
       
}


#regnews-html img {
  left: 42px;
        width: 80px !important;
        height: 100px !important;
}

    .video-widget{
        background-color: rgba(0, 0, 0, 0.7); 
        padding: 8px 0; 
        font-size: 11px; 
        width: 178px;
        margin-bottom: 10px;
    }

    .video-widget,
    .video-widget a{
        color:#fff !important;
    }

    .video-widget .widget-caption{
        font-size:13px;
        padding-bottom:7px;
    }

    .widget-caption {
            margin-top: -12px;

    }

    .video-widget .widget-player_area{
        width:178px;
        height:100px;
        text-align: center;
        margin: 0 auto;
    }

    .video-widget .widget-play-pause{
        background-color: #0485be;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        position: relative;
        width: 21px;
        height: 21px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        margin-right: 7px;
        margin-bottom: -7px;
        font-family:Roboto, Arial, Helvetica, sans-serif;
    }

    .video-widget .widget-play-pause_controller:hover .widget-play-pause,
    .video-widget .widget-play-pause:hover{
        background-color: #1198D2;
    }

    .video-widget .widget-play-pause:after{
        color: #fff;
        display: block;
        position:absolute;
        font-size: 11px;
        padding-top: 4px;
        text-align: center;
        padding-left: 7px;
    }

    .video-widget .widget-play-pause.widget-play:after{
        _content: '▶';
        content: '►';
        font-family:Roboto, Arial, Helvetica, sans-serif;
    }

    .zq {
        cursor: pointer;
    }

    .video-widget .widget-play-pause.widget-pause:after{
        content: '▌▌';
        font-size: 8px;
        padding-top: 6px;
    }

    .video-widget .widget-radio{
        text-align: left;
        padding-left: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .video-widget .widget-on_air{
        text-align: left;
        padding-left: 10px;
    }

    .video-widget .widget-caption-sm{
        color: #00bffe;
        text-transform: uppercase;
        display: inline-block;
        padding-right: 3px;
        font-weight: 400;
    }

    .video-widget .widget-text-dark{
        opacity: 0.8;
    }

    .video-widget .widget-announce{
        padding-top: 8px;
        margin-top: 8px;
        background-color: rgba(0, 0, 0, 0.2);
        margin-left: -10px;
        padding-left: 10px;
        margin-bottom: -10px;
        padding-bottom: 8px;
    }

    .widget-announce{
        display: none;
    }
    .widget-caption {
        text-align:left;
        margin-left: 10px;
    }




    .nav1 ul {
    *zoom:1;
    list-style:none;
    margin:0;
    padding:0;

    color: black !important;
}

.nav1 li {

    
}

.nav1 ul:before,.nav ul:after {
    content:"";
    display:table;
}
.nav1 ul:after {
    clear:both;
}
.nav1 ul > li {
    float:left;
    position:relative;
}
.nav1 span {
    display:block;
    padding:10px 20px;
    line-height:1.2em;
 
    cursor: pointer;
}

#tutu {
    color: white !important;
     background:transparent!important;
}

.nav1 li  {
   
    color: black !important;
}
.nav1 li ul li {
    background: rgba(0,0,0,0.7) !important;
    width:200px;
    color: white !important;
}
.nav1 li ul span {
    border:none;
}
.nav1 li ul a:hover {
    background:rgba(0,0,0,0.2);
}

.nav1 li ul {
    position:absolute;
    left:0;
    top:36px;
    z-index:9999;
    max-height:0;
    overflow:hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
}
.nav1 ul > li:hover ul {
    max-height:1000px;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
}


.arrow-top {
        position: relative;
    top: 24px;
     width: 0;
  height: 0;
  border: 5px solid transparent; 
  border-top-color: grey;  
  border-bottom: 0;
      margin-left: 7px;
    top: 21px;

  }

  .zq:hover .arrow-top {
        position: relative;
    top: 21px;
     width: 0;
  height: 0;
  border: 4px solid transparent; 
   border-right-color: white;  
  border-left: 0;
   margin-left: 13px;
  }

.h {
    display: none !important;
}

/* Bounce Out */
.hvr-bounce-in{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


#player-0 {
    z-index: 9999;
    position: relative;
        top: -17px;
}

.h{
    display: none;
}

#rows {
    z-index: 0 !important;
}

.header2 {
    z-index: 13 !important;
}

#plot {
      position: relative !important;
    top: 300px;
    background: rgba(0,0,0,0.7);
    padding: 10px;
    text-align: left;
}

#plot a {
  color: white !important;
  text-decoration: none;
}

  #plot .plot-title {
    color: white !important;
    font-size: 15px;

    border-bottom: 1px solid rgba(255,255,255,0.7);
    padding: 5px;
  }

  #plot .plot-view {
      padding: 10px;
  }

#plot .plot-view:hover {

  background: black;
  cursor: pointer;
  padding: 10px;

}

  /* Curl Top Left */
.hvr-curl-top-left {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-curl-top-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(135deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
  /*For IE7-8-9*/
  z-index: 1000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-top-left:hover:before, .hvr-curl-top-left:focus:before, .hvr-curl-top-left:active:before {
  width: 25px;
  height: 25px;
}


@media screen and (max-width: 1024px) {
.banners-left-side {
    width: 172px;
    left: 20px;
}
}


.footer-right {
      float: right;
    text-align: right;
    font-size: 11px;
    font-weight: 400;
    position: relative;
    left: 95px;
    margin-top: -89px;
}
.br {
    position: relative;
    margin-top: 17px;
    margin-bottom: -4px;
}