/* game boxes */
.homepage #content { padding: 15px 0 }
#homepage .game-column { position: relative; float: left; width: 163px; padding-top: 355px; color: #787878; font-size: 11px; }
#homepage .game-column ul { text-transform: uppercase; }
#homepage .game-column li { padding: 15px 0; border-top: 1px solid #b3b0ac; }
#homepage .game-column li:first-child { border: none; }
#homepage .game-column li span { color: #505050; font-size: 18px; font-weight: bold; }
#homepage .game-column li span.text-green { color: #4a8432; }
#homepage .game-column li span.text-red { color: #944a4a; }

#homepage .game-promo { border: 1px solid #3E414A; left: 6px; top: -95px; width: 163px; height: 392px; display: block; position: absolute; outline: none; text-align: left; padding: 0; font-size: 16px; color:#B2BAC7;}
#homepage .game-promo:hover { color: #fff; }
#homepage .game-promo .game-tip { line-height: 3.6; text-align: center; font-size: 14px; }
#homepage #home-game-sc2 .game-promo { background: url("../images/homepage/starcraft2.png") 0 0 no-repeat; }
#homepage #home-game-sc2 .game-promo:hover,
#homepage #home-game-sc2 .game-promo:focus { background-position: -248px 0; }
#homepage #home-game-wow .game-promo { background: url("../images/homepage/wow.png") 0 0 no-repeat; }
#homepage #home-game-wow .game-promo:hover,
#homepage #home-game-wow .game-promo:focus { background-position: -248px 0; }
#homepage #home-game-d3 .game-promo { background: url("../images/homepage/diablo3.png") 0 0 no-repeat; }
#homepage #home-game-d3 .game-promo:hover,
#homepage #home-game-d3 .game-promo:focus { background-position: -248px 0; }
#homepage #home-game-hs .game-promo { background: url("../images/homepage/hearthstone.png") 0 0 no-repeat; }
#homepage #home-game-hs .game-promo:hover,
#homepage #home-game-hs .game-promo:focus { background-position: -248px 0; }
#homepage #home-game-heroes .game-promo { background: url("../images/homepage/heroes.png") 0 0 no-repeat; }
#homepage #home-game-heroes .game-promo:hover,
#homepage #home-game-heroes .game-promo:focus { background-position: -248px 0; }
#homepage #home-game-overwatch .game-promo { background: url("../images/homepage/overwatch.png") 0 0 no-repeat; width: 162px; }
#homepage #home-game-overwatch .game-promo:hover,
#homepage #home-game-overwatch .game-promo:focus { background-position: -248px 0; }

#welcome-intro { padding: 40px 30px 10px; }
#welcome-intro h2 { margin-bottom: 20px; }
#welcome-intro h2 #learn-more { font-weight: normal; color: #a2b9c2; padding-right: 16px; }
#welcome-intro h2 #learn-more:hover { color: #fff; }
#welcome-intro h2 #learn-more span { color: #566b73; display: inline-block; font-size: 14px; border: 1px solid #3a4c53; position: relative; top: -5px; padding: 2px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#welcome-intro h2 #learn-more:hover span { background: #3a4c53; border-color: #3a4c53; color: #93bdce; }
#welcome-intro #welcome-left { width: 670px; float: left; font-size: 14px; }  
#welcome-intro #welcome-left .button { font-size: 12px; margin-bottom: 5px; margin-right: 10px; display: inline-block; color: #fff; text-transform: uppercase; padding: 8px 15px; border-radius: 3px; box-shadow: 0 0 4px 2px #202325;
	background: #0081b4; /* Old browsers */
	background: -moz-linear-gradient(top,  #0081b4 0%, #006a9b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0081b4), color-stop(100%,#006a9b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0081b4 0%,#006a9b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0081b4 0%,#006a9b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0081b4 0%,#006a9b 100%); /* IE10+ */
	background: linear-gradient(top,  #0081b4 0%,#006a9b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0081b4', endColorstr='#006a9b',GradientType=0 ); /* IE6-9 */ }
#welcome-intro #welcome-left .button:hover { background: #008dc5; }	
#welcome-intro #welcome-right { margin-top:-45px; margin-right: -15px; float: right; color: #a2b9c2; text-align: center; padding-top: 10px; }
#welcome-intro #welcome-right .app-screen { width: 256px; height: 176px; background:url('../images/landings/app/app-screen-small.png') no-repeat 0 0;}
#welcome-intro #welcome-right .text { margin-top:-15px; display: block; text-align: center; font-size: 14px; }
#welcome-intro #welcome-right:hover .app-screen { background-position: -256px 0; }
#welcome-intro #welcome-right:hover .text { color: #fff; }

.homepage.logged-in #welcome-intro { padding: 0 5px; height: 190px; }
.homepage.logged-in #welcome-intro .welcome-action { margin-left: 20px; margin-top: 65px; text-align: left; display: inline-block; height: 72px; color: #b2bac7; }
.homepage.logged-in #welcome-intro #welcome-right { margin-top: 0; margin-right: 0; }
.homepage.logged-in #welcome-intro .welcome-action:hover,
.homepage.logged-in #welcome-intro .welcome-action:focus { color: #fff; }
.homepage.logged-in #welcome-intro .welcome-icon { display: inline-block; vertical-align: top; height: 72px; width: 60px; overflow: hidden; background: url("../images/homepage/welcome-sprite.png") no-repeat 0 0; }
.homepage.logged-in #welcome-intro #manage-games .welcome-icon { background-position: 0 0; }
.homepage.logged-in #welcome-intro #buy-games { margin-left: 60px; }
.homepage.logged-in #welcome-intro #buy-games .welcome-icon { background-position: -60px 0; }
.homepage.logged-in #welcome-intro .welcome-label { display: inline-block; vertical-align: top; padding-top: 8px; }
.homepage.logged-in #welcome-intro .welcome-headline { display: block; font: 16px/24px "Trebuchet MS", Arial, sans-serif; }
.homepage.logged-in #welcome-intro .welcome-title { display: inline-block; vertical-align: top; height: 24px; padding: 0 8px 0 0; }
.homepage.logged-in #welcome-intro .welcome-arrow { display: inline-block; vertical-align: top; width: 24px; height: 24px; background: url("../images/homepage/promo-arrow.gif") no-repeat 0 -7px; }
.homepage.logged-in #welcome-intro .welcome-action:hover .welcome-arrow,
.homepage.logged-in #welcome-intro .welcome-action:focus .welcome-arrow { background-position: 0 -45px; }
.homepage.logged-in #welcome-intro .welcome-description { display: block; font-size: 12px; line-height: 16px; height: 16px; }

/* Transition game images on mouseover/focus */
#homepage #home-game-sc2 .game-promo,
#homepage #home-game-wow .game-promo,
#homepage #home-game-d3 .game-promo,
#homepage #home-game-hs .game-promo,
#homepage #home-game-overwatch .game-promo,
#homepage #home-game-heroes .game-promo { transition:opacity 400ms ease; -webkit-transition:opacity 400ms ease; -moz-transition:opacity 400ms ease; }

#homepage #home-game-sc2 .game-promo:focus,
#homepage #home-game-wow .game-promo:focus,
#homepage #home-game-d3 .game-promo:focus,
#homepage #home-game-hs .game-promo:focus,
#homepage #home-game-heroes .game-promo:focus,
#homepage #home-game-overwatch .game-promo:focus { opacity:1; }