@charset "utf-8";

/* --------------------
 TAX
-------------------- */
.taxBan{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 20px;
}
.taxBan:hover{
	filter: alpha(opacity=70);
	opacity:0.7;
}



h1 {

	margin-top: 0px;

	margin-bottom: 0px;

}

/* contents-inner */

#contents #contents-inner {

	margin-bottom: 100px;

	width: 100%;

}

/* main-navi */

#main-navi {

	position: relative;

	margin-top: 10px;

	height: 300px;

	background: url(../images/bg_main.gif) left top repeat-x;

}

#main-navi #pr-area.inner {

	visibility: hidden;

	position: relative;

	margin: 0 auto;

	padding: 10px 0 0;

	width: 960px;

	height: 0px;

	overflow: visible;

	background: url(../images/bg_main-inner.gif) left top no-repeat;

	*zoom: 1;

}

#main-navi .inner:after {

	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;

}

#main-navi #pr-area.inner .pr-img {

	height: 250px;

	overflow: visible;

}

#main-navi #pr-area.inner .pr-img span.link {

	visibility: hidden;

}

#btn-prev img,

#btn-next img {

	behavior: url(/resource/js/iepngfix.htc);

}

#main-navi #pr-area.inner .thum-navi {

	padding: 10px 0 0;

	height: 50px;

	text-align: center;

}

#main-navi #pr-area.inner .thum-navi li {

	display: inline-block;

	*display: inline;

	margin: 0 12px;

	font-weight: bold;

	font-size: 113.3%;

}

#main-navi #pr-area.inner .thum-navi li a {

	color: #ffffff;

}

#main-navi #pr-area.inner .thum-navi li a:hover {

	color: #013f73;

}

/* notice-area */

#notice-area {

	margin: 0 auto;

	padding: 25px 0 0;

	width: 960px;

	text-align: center;

}

/* roundabout */

.roundabout-holder {

	list-style: none;

	width: 430px;

	height: 250px;

	margin: 0 auto;

}

.roundabout-moveable-item {

	width: 810px;

	height: 250px;

	cursor: auto;

}

.roundabout-moveable-item img {

	width: 100%;

	height: 100%;

}

#btn-prev,

#btn-next {

	position: absolute;

	width: 75px;

	height: 250px;

	z-index: 100;

}

#btn-prev {

	left: 0;

	top: 0;

}

#btn-next {

	left: 885px;

	top: 0;

}

/* no-script */

#no-script {

	margin: 0 auto;

	width: 960px;

	background: url(../images/bg_ofbtm.gif) left bottom no-repeat;

	z-index: 500;

}

#no-script .no-script-inner {

	min-height: 260px;

	height: auto !important;

	height: 260px;

	background: url(../images/bg_oftop.gif) left top no-repeat;

}

#no-script .no-script-inner ul {

	padding: 15px 0 0 15px;

}

#no-script .no-script-inner ul li {

	margin: 0 15px 10px 0;

	width: 300px;

	float: left;

	overflow: hidden;

	*zoom: 1;

}

#no-script .no-script-inner ul li:after {

	content:".";display:block;height:0;clear: both;visibility:hidden;font-size:0;line-height:0;

}

#no-script .no-script-inner ul li .left {

	width: 110px;

}

#no-script .no-script-inner ul li .right {

	width: 180px;

}

#no-script .no-script-inner ul li p {

	margin-bottom: 10px;

}

/* sub-navi */

#sub-navi {

	margin-bottom: 15px;

	padding: 0 0 20px;

	background: url(../images/bg_index-main.gif) center bottom no-repeat;

}

#sub-navi .sub-navi-inner {

	background: #eeeeee;

}

#sub-navi .inner {

	margin: 0 auto;

	width: 960px;

}

#sub-navi #navi-sub {

	padding: 10px 0;

	border-bottom: 1px solid #dddddd;

}

#sub-navi #navi-sub a {

	margin: 0 8px;

}

#sub-navi #navi-category.inner ul {

	width: 960px;

}

#sub-navi #navi-category.inner ul li {

	display: block;

	float: left;

	margin: 0;

	width: 192px;

	*display: block;

}





/* maincontents */

#maincontents #main-area {

	float: left;

}

/* right-navi */

#right-navi .navi-block {

	margin-bottom: 5px;

	padding: 9px;

	background: #568cc5;

}

#right-navi .navi-block p {

	margin-bottom: 9px;

	height: 27px;

	text-indent: -999em;

}

#right-navi .navi-block p.head {

	margin-bottom: 14px;

	padding-bottom: 7px;

	background: url(../../common/images/line_dot-aqua.gif) left bottom repeat-x !important;

	text-indent: 0;

}

#right-navi .navi-block p.head a {

	display: block;

	height: 24px;

	text-indent: -999em;

}

#right-navi .navi-block.support p {

	background: url(../images/txt_side-support.gif) left top no-repeat;

}

#right-navi .navi-block.support p.head a {

	background: url(../images/navi_side-support.gif) left top no-repeat;

}

#right-navi .navi-block.corporate p {

	background: url(../images/txt_side-corporate.gif) left top no-repeat;

}

#right-navi .navi-block.corporate p.head a {

	background: url(../images/navi_side-corporate.gif) left top no-repeat;

}



/* main-area */

.sub-section-block {

}

/* news */

.sub-section-block #news.section-block {

}

/* press-release */

.sub-section-block #press-release.section-block {

	float: right;

}

/* casestudy */

#casestudy {

	margin-bottom: 39px;

}

#casestudy h2 {

	margin-bottom: 14px;

}

#casestudy .float-list {

	padding-bottom: 5px;

	border-bottom: 1px solid #cccccc;

}

#casestudy .float-list .float-block .set-2column-block .set-2column-left {

	width: 120px;

}

#casestudy .float-list .float-block .set-2column-block .set-2column-right {

	width: 230px;

}

#casestudy .float-list .float-block .set-2column-block p {

	margin-bottom: 0;

}

#casestudy .float-list .float-block .set-2column-block p.case {

	margin-bottom: 10px;

}

#casestudy .float-list .float-block .set-2column-block p.name {

	margin-bottom: 8px;

}

#casestudy .foot {

	padding: 6px 0 0 0;

}



/* information */

#privacy-block .option-block {

	background-color: #eeeeee;

}

/* contents area banner */
.cBanner01{padding:14px 0px 7px 0px;}

/* information */

/* CASE-BLOCK */

.col-4 {
	float: left;
	width: 230px;
	padding: 0 8px 15px 8px;
}
.col-4 .photo img {
	width: 230px;
	max-height: 92px;
	overflow: hidden;
	}
.col-4 .logo img {
	width: 230px;
	max-height: 52px;
	overflow: hidden;
	}
.col-4 .logo {	
	border-top:3px solid #ffffff;
	border-bottom:5px solid #ffffff;
	height: 52px;
}
.col-4 .meta {
	padding-bottom: 3px;
}
.col-4 .title {
	height: 51px;
}