@import url(//fonts.googleapis.com/css?family=Oswald:400,700,300&subset=latin,latin-ext);

.navbar-global .global-nav > li > ul > li {
    font-family: 'Helvetica Neue',Helvetica,Arial,Meiryo,'メイリオ',sans-serif;
}
.map-content .map-area li{
    font-family: Oswald,'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
}
.col-sm-2 .text-info,
.col-sm-3 .text-info,
.col-sm-4 .text-info{
    line-height:1.2;
}
h1,.h1{
  font-size:32px;
}
h2,.h2{
  font-size:26px;
}
h3,.h3{
  font-size:21px;
}
h4,.h4{
  font-size:18px;
}
h3,h4,h5,h6,.h3,.h4,.h5,.h6{
  margin-top:12px;
  margin-bottom:6px;
}
@media screen and (max-width: 767px) {
  h1,.h1{
    font-size:28px;
  }
  h2,.h2{
    font-size:22px;
  }
  h3,.h3{
    font-size:19px;
  }
  h4,.h4{
    font-size:16px;
  }
}

