.lead-text {
  margin-top: 24px;
}
a.lang-selector {
  display: block;
  padding: 10px;
  border: 1px solid #cecece;
  background: #fcfcfc;
  text-align: center;
}
a.lang-selector h2 {
  margin: 16px 0;
}
