@charset "utf-8";
/** CSS Document 
* Dec: mid-autumn style 
* Date: 2014-12-01;
* Author: mumian@juanpi.com;
**/
/*main_notice by ake start*/
.main_notice{height:638px;background:url(../images/tips/notice2-n-n.jpg?150318) no-repeat; }
.main_notice01{height:638px;background:url(../images/tips/notice-f-n.jpg?150318) no-repeat; }
.main_notice a,.main_notice01 a{position:absolute;bottom:122px;right:74px;width:250px;height:60px;}
.main_notice a.go-zk,.main_notice01 a.go-zk{right:352px;}
/*main_notice by end*/
/*main_notice by adong 20150228 statr*/
.w1200 .main_notice a.go-zk2,.w1200 .main_notice01 a.go-zk2{right:474px;}
.w1200 .main_notice a.go-brand2,.w1200 .main_notice01 a.go-brand2{right:242px;}
.main_notice a.go-zk2,.main_notice01 a.go-zk2{right:364px;bottom: 150px; background-color: #ff464e;width: 200px;height: 50px;border-radius: 5px;color: #fff;text-align: center;line-height: 50px;font-size: 16px;text-decoration:none;}
.main_notice a.go-brand2,.main_notice01 a.go-brand2{right:134px; bottom: 150px; background-color: #ff464e;width: 200px;height: 50px;border-radius: 5px;color: #fff;text-align: center;line-height: 50px;font-size: 16px;text-decoration:none;}
.main_notice a.go-zk2:hover,.main_notice a.go-brand2:hover,.main_notice01 a.go-zk2:hover,.main_notice01 a.go-brand2:hover{background-color: #f66;}
/*main_notice by adong 20150228 end*/
/*new */
.alert-activity{
    height:100%;
    width:100%;
    top:0;
    left:0;
    position:fixed;
    _position:absolute;
    z-index:10000;
}
.activity-ceng{
    position:absolute;
	top:0;
	left:0;
	height:100%;
    width:100%;
    filter:alpha(opacity=30);
    opacity:0.3;
    background-color:#000;
    _filter:alpha(opacity=100);
    _background-color:none;
    _filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
    _top:expression(eval(document.documentElement.scrollTop));
	z-index:10001;
}
.alert-activity .links{display:block;position:absolute;top:50%;margin-top:-266px;left:50%;margin-left:-266px;background:url(../images/tips/version-tip.png) no-repeat;height:531px;width:532px;z-index:10002;}
.alert-activity .links a,.alert-activity .links p{display:block;position:absolute;}
.alert-activity .links a.go-new{width:180px;height:50px;bottom:140px;left:175px;}
.alert-activity .links a.back-old{bottom: 65px;
    height: 15px;
    right: 175px;
    width: 70px;}
.alert-activity .links p{bottom:40px;left:0;text-align:center;color:#fdcad7;width:532px;}
/*zhe-line by mumian start*/
.main .zhe-line{ width:auto; position:relative; margin:20px 0 50px;}
.main .zhe-line .line{margin-top:30px; height:0; border-top:#bfbfbe solid 1px; border-bottom:#fff solid 1px; width:auto; overflow:hidden;}
.main .zhe-line .line-txt{margin-top:30px;background:#f6f6f6; position:absolute; top:-18px; left:50%; margin-left:-120px; width:240px; height:30px;text-align:center;}
.main .zhe-line .line-txt span{ font-size:14px; color:#666; width:210px; border:#d4d4d4 solid 1px; background:#f9f9f9; display:block; height:20px;margin:0 auto;border-radius: 20px;padding:5px 0;}
.main .zhe-line .line-txt span em{ background:url(../images/zhe/line-cur.gif) no-repeat; width:9px; height:5px; display:inline-block; margin:0 10px; vertical-align:3px; _vertical-align:-6px;}
/*this is brand_index by mumian start*/
.brand_index{width:915px;margin:0 auto;}
.brand_index .brand_list{background:#fff;padding:20px 10px 0;height:auto;overflow:hidden;width:875px;}
.brand_index .brand_list ul.brand_data li{float:left;display:inline;width:269px;margin:0 10px; border: 1px solid #fff; /*border-bottom: 1px solid #e8e8e8;*/}
.brand_index .brand_list ul.brand_data li .brand-pic{display:table-cell;vertical-align:middle;width:269px;height:110px; position: relative; overflow: hidden;display: block;}
.brand_index .brand_list ul.brand_data li .brand-pic img{display:block;margin:0 auto;width:269px;}
.brand_index .brand-pic .brand_time{width:285px;height:25px; position: absolute; bottom:0px; left:0px; line-height:25px;}
.brand_index .brand-pic .brand_time p{ text-align: center; line-height:25px;width:285px;  color:#fff; position: absolute; left:0px; top:0px; z-index: 2;}
.brand_index .brand-pic .brand_time .brand_time_bg{ height:25px; width:100%; background:#000; opacity:0.5; filter:alpha(opacity=50); position: absolute; left:0px; top:0px; z-index: 1;}
.brand_index .brand-pic .brand_time span.icon_time{ display: inline-block;background:url(../images/icon/brank.png) no-repeat -48px 0; width:10px; height: 10px; margin-right:5px; margin-top:1px;}
.brand_index .brand_list ul.brand_data li:hover{ border: 1px solid #e8e8e8;}

.brand_index .brand_list ul.brand_data li .link-box {
    background: none repeat scroll 0 0 #fff;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
	height:162px;
}

.brand_index .brand_list ul.brand_data li .card {
    height:50px;
	line-height:20px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #f6f6f6;
}
.brand_index .brand_list ul.brand_data li .card .brand-logo {
    float: left;
    height: 30px;
    margin:10px 0 0 10px;
    width: 60px;
}

.brand_index .brand_list ul.brand_data li .card .discount {
    width:62px;
    height:30px;
    line-height:30px;
    text-align:center;
    color: #ff464e;
    float: right;
    font-size: 14px;
    margin: 10px 10px 0 0;
}
.brand_index .brand_list ul.brand_data li:hover .card .discount1{
    color: #fff;
    background:#f66;
    border-radius:5px;
}
.brand_index .brand_list ul.brand_data li .card .title {
    color: #000;
    float: left;
    margin:15px 0 0 10px;
    font-family: "微软雅黑";
    color:#333;

}
.brand_index .brand-icons{width:855px;height:40px;background:#fff;padding:15px 20px;line-height:38px;border-width:1px;border-style:none solid solid solid;border-color:#e8e8e8;}
.brand_index .brand-icons .txt{color:#333;font-size:14px;}
.brand_index .brand-icons ul{width:678px;height:40px;overflow:hidden;}
.brand_index .brand-icons ul li{width:80px;height:40px;float:left;margin:0 13px 0 20px;}
.brand_index .brand-icons ul li a{display:block;width:80px;height:40px;}
.brand_index .brand-icons ul li a:hover{filter:alpha(opacity=60);opacity:.6;}
.brand_index .brand-icons ul li a img{width: 80px;height: 40px;}
.brand_index .brand-icons .see-all{width:72px;color: #ff464e;font-size:14px;height:20px;line-height:20px;margin-top:10px;}
.brand_index .brand-icons .see-all .go-icon{display:block;width:11px;height:9px;background:url(../images/global/go-icon.gif) no-repeat;margin:6px 0 0 3px;}
.brand_index .brand-icons .see-all:hover span{text-decoration:underline;cursor:pointer;}
.w1200 .brand_index{width:1200px;}
.w1200 .brand_index .brand_list{width:1180px;}
.w1200 .brand_index .brand_list ul.brand_data li{width:370px;}
.w1200 .brand_index .brand-pic .brand_time,.w1200 .brand_index .brand-pic .brand_time p,.w1200 .brand_index .brand-pic .brand_time .brand_time_bg{ width:373px;}
.w1200 .brand_index .brand_list ul.brand_data li .brand-pic{height:154px;width:370px; overflow: hidden; }
.w1200 .brand_index .brand_list ul.brand_data li .brand-pic img{width:370px;}
.w1200 .brand_index .brand_list ul.brand_data li .link-box{height:204px;}
.w1200 .brand_index .brand-icons{width:1160px;}
.w1200 .brand_index .brand-icons ul{width:984px;}
.w1200 .brand_index .brand-icons ul li{margin:0 23px 0 20px;}

.brand_index .brand_list ul.brand_logo{
    margin: 20px 0;
}
.brand_index .brand_list ul.brand_logo li{
    line-height: 35px;
    height: 35px;
    width: 64px;
    float: left;
    margin: 0 10px;
}
.brand_index .brand_list ul.brand_logo li.first{
    width: 100px;
}
.brand_index .brand_list ul.brand_logo li img{
    height: 35px;
 }
.brand_index .brand_list ul.brand_logo li.last{
    width: 60px;
    text-align: right;
    cursor: pointer;
}
.brand_index .brand_list ul.brand_logo li.last a{
    color: #ff464e;
}
.w1200 .brand_index .brand_list ul.brand_logo li{
    width: 100px;
}
.w1200 .brand_index .brand_list ul.brand_logo li.last{
    width: 80px;
    text-align: right;
    cursor: pointer;
}
/*this is 38 start*/
.activity_enter{background:url(../images/activity/activity_38.png) no-repeat center center #faecf0;height:259px;width:100%;max-width: 1856px;margin: 0 auto;}
.activity_enter .center{width:980px;height:259px;margin:0 auto;}
.activity_enter .center ul{float:left;margin-top:30px;}
.activity_enter .center ul li{float:left;margin-left:20px;}
.activity_enter .center ul li a{display:block;border:#f5dde4 solid 1px;position:relative;width:284px;height:210px;}
.activity_enter .center ul li a.f{background:url(../images/activity/38-enter-b.jpg) 0 0 no-repeat;}
.activity_enter .center ul li a.s{background:url(../images/activity/38-enter-b.jpg) -284px 0 no-repeat;}
.activity_enter .center ul li a.l{background:url(../images/activity/38-enter-b.jpg) -567px 0 no-repeat;}
.activity_enter .center ul li a .btn{background:url(../images/activity/see-38-b.png) no-repeat;width:125px;height:36px;position:absolute;bottom:30px;right:20px;text-indent:-300px;overflow:hidden;}
.activity_enter .center ul li a:hover{border-color:#ff4674;outline:#ff4674 solid 1px;}
.activity_enter .center .bar_a{display:none;}

.w1200 .activity_enter .center{width:1200px;}
.w1200 .activity_enter .center ul{margin-right: 0;}
.activity_enter .center ul{float:right;margin-right: 52px;}
.w1200 .activity_enter .center ul li a{width:256px;height:194px;}
.w1200 .activity_enter .center ul li a.f{background:url(../images/activity/38-enter.jpg) 0 0 no-repeat;}
.w1200 .activity_enter .center ul li a.s{background:url(../images/activity/38-enter.jpg) -256px 0 no-repeat;}
.w1200 .activity_enter .center ul li a.l{background:url(../images/activity/38-enter.jpg) -518px 0 no-repeat;}
.w1200 .activity_enter .center ul li a .btn{background:url(../images/activity/see-38.png) no-repeat;width:115px;height:33px;position:absolute;bottom:30px;right:20px;text-indent:-300px;overflow:hidden;}
.w1200 .activity_enter .center .bar_a{display:block;background:url(../images/activity/38-b.gif) no-repeat;width:287px;height:82px;float:left;margin:82px 0 0 22px;}
.w1200 .activity_enter .center ul li a .btn{bottom:20px;}
/*this is 38 end*/

/*this is 315 start*/
.activity_enter.festival315 {background:url(../images/activity/activity_315.png) no-repeat center center #faecf0;height:259px;width:100%;max-width: 1856px;margin: 0 auto;}
.activity_enter.festival315 .center{width:980px;height:259px;margin:0 auto;}
.activity_enter.festival315 .center ul{float:left;margin-top:30px;margin-right: 0;margin-left: 11px;}
.activity_enter.festival315 .center ul li{float:left;margin-left:20px;}
.activity_enter.festival315 .center ul li a{display:block;border:#95cdc6 solid 1px;position:relative;width:433px;height:211px;}
.activity_enter.festival315 .center ul li a .festival315-good{width: 433px; height: 224px; position:absolute;z-index: 55;top:-12px;}
.activity_enter.festival315 .center ul li a.f{background:#fffbf2;margin-right: 6px;}
.activity_enter.festival315 .center ul li a.f .festival315-good{background:url(../images/activity/315-enter-2-1.png) no-repeat; }
.activity_enter.festival315 .center ul li a.s{background:#effdff;}
.activity_enter.festival315 .center ul li a.s .festival315-good{background:url(../images/activity/315-enter-2-2.png) no-repeat; }
/*.activity_enter.festival315 .center ul li a .btn{background:url(../images/activity/see-38-b.png) no-repeat;width:125px;height:36px;position:absolute;bottom:30px;right:20px;text-indent:-300px;overflow:hidden;}*/
.activity_enter.festival315 .center ul li a:hover{border:#00bfa6 solid 1px;outline:0px;}
.activity_enter.festival315 .center .bar_a{display:none;}

.w1200 .activity_enter.festival315 .center{width:1200px;}
.w1200 .activity_enter.festival315 .center ul{margin-right: 0;}
.w1200 .activity_enter.festival315 .center ul{float:left;margin-left: 0px;}
.w1200 .activity_enter.festival315 .center ul li a{width:402px;height:205px;}
.w1200 .activity_enter.festival315 .center ul li a .festival315-good{width: 403px; height: 217px; position:absolute;z-index: 55;top:-12px;}
.w1200 .activity_enter.festival315 .center ul li a.f{background:#fffbf2;margin-right: 0;}
.w1200 .activity_enter.festival315 .center ul li a.f .festival315-good{background:url(../images/activity/315-enter-1.png) no-repeat; }
.w1200 .activity_enter.festival315 .center ul li a.s{background:#effdff;}
.w1200 .activity_enter.festival315 .center ul li a.s .festival315-good{background:url(../images/activity/315-enter-2.png) no-repeat; }
/*.w1200 .activity_enter.315festival .center ul li a .btn{background:url(../images/activity/see-38.png) no-repeat;width:115px;height:33px;position:absolute;bottom:30px;right:20px;text-indent:-300px;overflow:hidden;}*/
.w1200 .activity_enter.festival315 .center .bar_a{display:block;background:url(../images/activity/315-b.gif) no-repeat;width:348px;height:197px;float:left;margin:31px 0 0 0px;}
.w1200 .activity_enter.festival315 .center ul li a .btn{bottom:20px;}
/*this is 315end*/

/* good-loading 轮播 by adong 20150304*/

.good-landing .img_list{overflow: hidden; position: relative; height: 285px;}
.hot_box.good-landing{position: relative;width: 285px;padding: 0;background: #f6f6f6;}
/* 根据图片的张数来设定ul的宽度 */
/*collect_order*/
.collect_order .time_box{width: 100%;height: auto;background: #fff;margin-bottom: 20px;/*line-height: 40px;*/padding-top: 10px;}
.collect_order .clock{margin-right: 5px;vertical-align: -3px;}
.collect_order .djs em{color: #ff464e;}
.collect_order .people{margin-left: 20px;}

/* good-loading right—lunbo by adong 20150304*/
.good-landing .img_list{overflow: hidden; position: relative; height: 285px;}
.hot_box.good-landing{position: relative;width: 285px;padding: 0;background: #f6f6f6;}
.img_list ul{ width: 980px; position: absolute; height: 260px; right: -735px;}
.img_list li{ float: left; width: 700px;}
.img_list img{ margin: 1px; width: 698px; height: 258px;}
.btn_list { overflow: hidden;}
.btn_list li{ float: left; margin-right: 10px; color: #999; border: 1px solid #ccc; }
.btn_list li:hover,.btn_list li.on{ cursor: pointer; border: 1px solid #fe4170;}
.btn_list li img{ width: 163px; height: 60px; display: block;}
.btn_list .last{ margin-right: 0;}
.good-landing .img_list{overflow: hidden; position: relative; height: 285px;}
.good-landing .img_list ul{ width: 1140px; position: absolute; height: 260px; right: 0px;}
.good-landing .img_list li{ float: left; width:285px;}
.good-landing .img_list img{ margin: 1px; width: 285px; height: 285px;}
.good-landing .btn_list {overflow: hidden;margin-top: 15px;}
.good-landing .btn_list li{ float: left; margin-right: 13px; color: #999; border: 1px solid #ccc;background: #9a9f99; }
.good-landing .btn_list li:hover,.btn_list li.on{ cursor: pointer; border: 1px solid #fe4170;}
.good-landing .btn_list li img{ width: 59px; height: 59px; display: block;}
.good-landing .btn_list .last{ margin-right: 0;}
.good-landing .img_intro{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 39px;
}
.good-landing .img_intro .text a{margin-left:15px; text-decoration: none;color: #fff;font-family: "宋体";font-size: 14px;}
.good-landing .img_intro .text span{float: right;margin-right: 14px;color: #fff;font-family: "微软雅黑"}
.good-landing .img_intro .text span i{font-style: normal;font-size: 22px;}
.good-landing .img_intro .img_intro_bg,.img_intro .text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.good-landing .img_intro .img_intro_bg{
    background: #000;    
    opacity: .3;
    z-index: 999;
}
.good-landing .img_intro .text{
    line-height:39px;
    z-index: 1000;
    color: #999;
}
.good-landing .un-bg{
    background: #9ea199;
    opacity: 0.3;
}
.good-landing .btn_list li.on .un-bg{
    opacity: 1;
}
.w1200 .good-landing .go-jp{margin: 17px 0 30px 500px;}
.good-landing .go-jp{
    margin: 17px auto 30px;
    width: 200px;
    height: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #3399cc;
    background: #fff;
    cursor: pointer;
    display: block;
}
.good-landing .img_intro{ position: absolute;bottom: 0;left: 0;width: 100%;height: 39px;}
.good-landing .img_intro .text a{margin-left:15px; text-decoration: none;color: #fff;font-family: "宋体";font-size: 14px;}
.good-landing .img_intro .text span{float: right;margin-right: 14px;color: #fff;font-family: "微软雅黑"}
.good-landing .img_intro .text span i{font-style: normal;font-size: 22px;}
.good-landing .img_intro .img_intro_bg,.img_intro .text{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.good-landing .img_intro .img_intro_bg{background: #000;opacity: .3;z-index: 999;}
.good-landing .img_intro .text{line-height:39px;z-index: 1000;color: #999;}
.good-landing .un-bg{background: #9ea199;opacity: 0.3;}
.good-landing .btn_list li.on .un-bg{opacity: 1;}
.w1200 .good-landing .go-jp{margin: 17px 0 30px 500px;}
.good-landing .go-jp{ margin: 17px auto 30px;width: 200px;height: 40px;border: 1px solid #e2e2e2;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;text-align: center;line-height: 40px;font-size: 16px;color: #3399cc;background: #fff;cursor: pointer;display: block;}
/* good-loading end*/
/*this is tom-btns by mumian*/
.tom-btns{margin:50px auto 30px;width:900px;}
.tom-btns .btns{border:#ff464e solid 1px;height:58px;padding:0 35px;font-size:16px;font-weight:bold;line-height:58px;border-radius:3px;}
.tom-btns .btns.login{background:#fff;color:#333;}
.tom-btns .btns.download{position:relative;background:#ff464e;color:#fff;}
.tom-btns .btns.login span{color:#39c;text-decoration:underline;}
.tom-btns .btns.download  span{color:#ff9;text-decoration:underline;}
.tom-btns .btns.download .code{position:absolute;top:-36px;right:-150px;background:url(../images/global/app-code.png) no-repeat 5px 5px #fff;height:120px;width:120px;padding:5px;border-radius:5px;box-shadow:0 0 5px #ccc;}
.tom-btns .btns.download .code.juan_code{background:url(../images/global/app-code-juan.png) no-repeat 5px 5px #fff;}
.tom-btns .btns.download .code .arr-icon{ color: #fff;
    font-family: "宋体";
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    left: -7px;
    text-align: center;
    top: 56px;
    width: 12px;
	overflow:hidden;}
.tom-btns .btns:hover{text-decoration:none;}
.tom-btns .btns:hover span{text-decoration:none;}
.tom-btns span.or{background:url(../images/total/icon-total.png) no-repeat 0 -217px;width:32px;height:32px;margin:14px 20px 0;}
.top_banner{width:100%;background-position: center top !important;height:300px;}
/*coudan page 150810*/
.brand-discount{line-height:20px;border-bottom:1px solid #eee}
.brand-discount div.activityinfo p{max-width:960px;margin-bottom: 10px;}
.brand-tag-red{display:block;font-family:'宋体';line-height:1;padding:5px 10px;color:#fff;border-radius:2px;margin-right:5px;background-color:#ff464e;float: left;}
.brand-discount .info{
	display: block;
    float: left;
    vertical-align: middle;
    line-height: 20px;
    white-space: normal;
    width: 890px;
}
/*coudan page 150810*/


/*gdwin add by longyi 151028*/
#tan_chuang_div{
	display: none;
    width: 100%;
    height: 100%;
}
.gdwin-bg{
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    position: fixed;
    z-index: 9999;
    _position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    _top: expression(eval(document.documentElement.scrollTop+0));
    text-align: center;
}
.gdwin-box{
    font-family: "微软雅黑";
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9999;
    _left: 50%;
}
.gdwin-box-body{
    _top: expression(eval(document.documentElement.scrollTop+370));
    position: fixed;
    _position: absolute;
    left: 50%;
    top: 50%;

    width: 554px;
    height: 450px;
    margin: -225px 0 0 -277px;
}

.gdwin-box-body .position-c{
    position: relative;
    width: 100%;
    height: 100%;
}
.gdwin-box-body .position-c img{
    width: 554px;
    height: 450px;
    vertical-align: middle;
}
.gdwin-box-body .position-c .btn-close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    z-index: 4;
    background: url(../images/global/btn-close.png?20151121) center center no-repeat;
    cursor: pointer;
}

/*gdwin add by longyi 151028*/
/*shop gd start*/
.shop_gd li {
    height: 200px;
    background-position: top center !important;
}
/*shop gd end*/
.list-loading{
    text-align:center;
    margin:30px 0;
}