html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline; }
/*Fiks for toppannonsen*/
#ads_top * {
vertical-align: bottom; }
address, article, aside, canvas,
figcaption, figure, footer, header,
main, nav, section, summary {
display: block; }
html {
font-size: 62.5%; }
body {
background-color: #ededed;
color: #000;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-size: 1.5rem; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
color: #000;
line-height: 1.05; }
ol, ul {
list-style: none; }
blockquote, q {
quotes: none; }
:focus {
outline: 0; }
ins {
text-decoration: none; }
del {
text-decoration: line-through; }
table {
border-collapse: collapse;
border-spacing: 0; }
p {
line-height: 1.2; }
a {
color: #0E71C0;
text-decoration: none; }
a:hover {
text-decoration: underline; }
/*SISTELISTE TOPBOX*/
.ellipsis {
white-space: nowrap;
overflow: hidden; }
.ellipsis.multiline {
white-space: normal; }
/* ============== slightly enhanced, universal clearfix hack ============== */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0; }
.clearfix {
display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix {
height: 1%; }
.clearfix {
display: block; }
/* close commented backslash hack */
#na_header {
width: 100%;
background-color: #16254c;
position: relative;
z-index: 1000; }
#secondary_nav {
float: right;
margin-top: 1px;
margin-left: 200px; }
#secondary_nav li {
float: left;
margin-right: 26px; }
#secondary_nav li a {
display: block;
text-indent: -9999px;
overflow: hidden; }
#img_nav_side2 {
background: url(/templates/v1/images/header/button_side2.png) left top no-repeat;
width: 49px;
height: 25px; }
#img_nav_side2:hover {
background: url(/templates/v1/images/header/button_side2.png) left bottom no-repeat; }
#img_nav_side3 {
background: url(/templates/v1/images/header/button_side3.png) left top no-repeat;
width: 51px;
height: 25px; }
#img_nav_side3:hover {
background: url(/templates/v1/images/header/button_side3.png) left bottom no-repeat; }
#img_nav_bloggno {
background: url(/templates/v1/images/header/button_blogg.png) left top no-repeat;
width: 69px;
height: 30px; }
#img_nav_bloggno:hover {
background: url(/templates/v1/images/header/button_blogg.png) left bottom no-repeat; }
#na_header h1#na_logo {
float: left;
margin: 22px 0 0 22px; }
#section_name {
margin: 10px 0 0 24px;
background: url(/templates/v1/images/header/skille_stripe_seksjon.jpg) left center no-repeat;
padding-left: 24px; }
#header_nettpaasak {
float: left;
margin-left: 72px;
margin-top: -7px;
width: 405px;
/*IE7*/
*position: absolute;
*top: 30px;
*left: 470px; }
#header_nettpaasak h1 {
font-weight: bold;
font-size: 13px;
font-size: 1.3rem;
color: #fff;
text-transform: uppercase;
padding-top: 34px; }
#header_nettpaasak img {
float: left;
margin-right: 10px; }
#header_nettpaasak h2 {
font-weight: bold;
font-size: 13px;
font-size: 1.3rem;
font-style: italic;
width: 290px; }
#header_nettpaasak h2 a {
color: #fff; }
/* ============== Main navigation ============== */
#na_nav {
font-family: 'Open Sans Condensed', sans-serif;
position: relative;
z-index: 99;
font-size: 15px;
font-size: 1.5rem;
font-weight: bold;
padding-top: 4px; }
#na_nav li.na_level_1:first-child {
margin-left: 10px; }
#na_header #na_nav li.na_level_1:first-child:hover {
margin-left: 17px; }
#na_nav li.na_level_1 {
float: left;
height: 20px;
overflow: hidden;
text-transform: uppercase;
margin-right: 1px;
padding: 0 18px 15px 7px;
border-top: 1px solid #16254c; }
#na_header #na_nav li.na_level_1:hover {
border-top: 1px solid #fff;
background-color: #11172d; }
#na_nav li.na_level_1:nth-child(1):hover,
#na_nav li.na_level_1:nth-child(3):hover,
#na_nav li.na_level_1:nth-child(4):hover,
#na_nav li.na_level_1:nth-child(7):hover,
#na_nav li.na_level_1:nth-child(8):hover,
#na_nav li.na_level_1:nth-child(9):hover,
#na_nav li.na_level_1:nth-child(11):hover,
#na_nav li.na_level_1:nth-child(12):hover {
background-color: transparent !important;
padding-right: 0;
padding-left: 0;
margin-right: 19px;
margin-left: 7px; }
#na_nav li.na_level_1:nth-child(2),
#na_nav li.na_level_1:nth-child(5),
#na_nav li.na_level_1:nth-child(6),
#na_nav li.na_level_1:nth-child(10) {
background: url(/templates/v1/images/header/dropdownmenu_pil.png) 92% 11px no-repeat; }
#na_nav li.na_level_1:last-child {
margin-right: 0 !important;
padding-right: 0 !important; }
#na_nav li.na_level_1 a, #na_nav li.na_level_1 span {
color: #fff;
text-decoration: none;
cursor: pointer; }
#na_nav li ul {
position: absolute;
background-color: #11172d;
left: -999em;
*left: auto;
*display: none;
margin-top: 0;
border-bottom: 4px solid #fff; }
#na_nav li.na_level_1 ul li a {
font-size: 14px;
font-size: 1.4rem;
padding: 6px 10px;
display: block;
width: 132px; }
#na_nav li.taphover:hover ul, #na_nav li.taphover.hover ul {
left: auto;
*display: block;
top: 40px;
margin-left: -7px;
*margin-left: -70px; }
#na_nav li ul li:hover {
background-color: #16254c; }
/* ============== Services navigation ============== */
#na_services_nav {
background: url(/templates/v1/images/header/ikon_tjenester.png) left center no-repeat;
padding: 6px 6px 4px 35px;
float: left; }
#na_services_nav li {
float: left;
font-size: 11px;
font-size: 1.1rem;
margin-right: 4px; }
#na_services_nav li:after {
content: "\007C";
padding-left: 5px; }
#na_services_nav li:last-child:after {
content: ""; }
#na_services_nav li:last-child {
margin-right: 0; }
#na_services_nav a {
color: #000; }
#services {
border-bottom: 1px solid #16254c;
padding-left: 3px; }
#tipsoss {
font-weight: bold;
font-size: 13px;
font-size: 1.3rem;
text-transform: uppercase;
color: #d80307;
display: block;
float: left;
margin: 5px 0 0 4px; }
#telefon {
font-weight: bold;
font-size: 13px;
font-size: 1.3rem;
color: #d80307;
display: block;
float: left;
background: url(/templates/v1/images/header/tipsoss_mobil.jpg) left center no-repeat;
margin-top: 5px;
padding-left: 13px; }
#footer {
margin-top: 40px;
font-family: 'Source Sans Pro', sans-serif; }
#footer #footer-contact {
background: #060f2c url("/templates/v2/images/footer/backgr-img.jpg") right bottom no-repeat;
padding: 30px 30px 0; }
#footer header h1 {
color: #fff;
font-size: 22px;
text-transform: uppercase;
margin-bottom: 20px; }
#footer h2 {
color: #fff;
font-size: 22px;
text-transform: uppercase;
margin-bottom: 10px; }
#footer p, #footer ul {
color: #fff;
font-size: 14px;
margin-bottom: 24px;
font-weight: bold; }
#footer p span, #footer ul span {
font-size: 13px;
font-weight: normal; }
#footer a {
color: #b8bfdb;
font-size: 13px;
font-weight: normal; }
#footer-contact div, #footer-copy div {
width: 30%;
display: inline-block;
overflow: hidden;
vertical-align: top; }
#footer-copy {
background-color: #17244e;
padding: 30px 20px 5px; }
#footer-copy div:nth-child(3) {
width: 190px; }
#footer-copy div:last-child {
width: 125px;
margin-left: 45px; }
#footer-copy p:not(first-child) {
margin-top: 4px; }
#footer-copy span {
font-size: 14px; }
#footer-copy #footer-fb-link {
background: transparent url("/templates/v2/images/footer/logo-fb.png") left center no-repeat;
padding-left: 34px;
line-height: 30px;
margin-bottom: 10px; }
#footer-copy #footer-fb-link a {
font-weight: bold; }
#footer-copy #footer-twitter-link {
background: transparent url("/templates/v2/images/footer/logo-twitter.png") left center no-repeat;
padding-left: 34px;
line-height: 30px; }
#footer-copy #footer-twitter-link a {
font-weight: bold; }
#footer-copy #topofpage-btn {
border-radius: 28px;
font-family: Arial;
color: #fff;
font-size: 14px;
padding: 4px 0px 5px 20px;
border: solid #fff 1px;
display: block;
margin-top: 7px; }
#footer-copy #topofpage-btn:hover {
text-decoration: none; }
#footer-copy #topofpage-btn::after {
content: '';
display: inline-block;
background: transparent url(/templates/v2/images/footer/arrowup.jpg) right center no-repeat;
width: 18px;
height: 9px; }
#na_bedrift {
color: #666;
font-size: 10px;
padding-top: 15px;
padding-bottom: 10px;
text-align: center;
background-color: #fff; }
#footer_list_1 li, #footer_list_2 li, #footer_list_3 li {
display: inline;
font-size: 10px;
font-weight: normal; }
#footer_list_1 li a, #footer_list_2 li a, #footer_list_3 li a {
color: #999999; }
#na_bedrift_mittoppdrag {
color: #666666;
font-weight: bold;
overflow: hidden; }
#na_bedrift_mittoppdrag img {
clear: both; }
/*Snippet som legges inn via Drfront*/
#modal-wrap {
left: calc(50% - 300px) !important;
margin-left: 0 !important; }
#modal-wrap #tips-oss-form-button {
display: none; }
#modal-wrap #tips-oss-form {
position: relative;
top: 0;
left: 0;
min-width: 600px;
display: none;
z-index: 1; }
#modal-wrap #tips-oss-submit-button2 {
background-color: #2d4c9b;
color: #FFFFFF;
font-size: 16px;
padding: 10px 22px;
border: 0;
font-weight: normal;
cursor: pointer;
width: 100%; }
#modal-wrap #tips-oss-message-textarea2 {
margin: 0;
width: 100%;
display: block; }
#outer_wrap {
width: 1260px;
margin: 0 auto;
position: relative; }
#ads_top {
width: 1000px;
margin: 0 auto; }
#fusion_toppbanner-wrapper {
text-align: center; }
#sticky_left, #sticky_right {
position: absolute;
top: 1300px;
margin-left: -330px;
width: auto;
height: auto;
z-index: 1; }
#sticky_right {
margin-left: 1130px; }
.ad-full-width {
text-align: center;
margin-bottom: 20px; }
.ad-rektangel {
width: 300px;
float: left;
margin-left: 18px; }
#wrap {
width: 980px;
margin: 0 auto;
background-color: #fff;
border: 1px solid #a2a2a2;
padding: 10px 8px 0; }
main {
width: 668px;
float: left; }
#wrap .last-nablogs {
width: 150px;
float: left;
overflow: hidden;
padding: 12px 18px 0;
background-color: #f2f1f1; }
#wrap .last-nablogs h1 {
border-bottom: 3px solid #000;
font-size: 15px;
font-size: 1.5rem;
margin-bottom: 15px;
padding-bottom: 3px;
text-transform: uppercase; }
#wrap .last-nablogs h1 img {
margin-right: 4px;
vertical-align: text-bottom; }
.last-nablogs article {
margin-bottom: 18px; }
.last-nablogs article h2 {
font-size: 12px;
font-size: 1.2rem;
font-weight: bold;
text-transform: uppercase; }
.last-nablogs article h3 {
margin-top: 2px;
width: 156px;
font-size: 13px;
font-size: 1.3rem;
line-height: 1.2;
font-weight: normal; }
.last-nablogs article a:hover {
text-decoration: underline; }
#blogs-supernetboard .ad-468x800 {
float: right;
width: 468px; }
#aside {
width: 290px;
float: right;
margin-top: 8px;
position: relative; }
#aside #bottom-aside-wrap {
width: 290px; }
#last-news-list {
margin-bottom: 25px;
width: 290px; }
#last-news-list > h1 {
border-bottom: 2px solid #e6e6e6;
color: #16254c;
font-family: "Arial Black",Arial,Gadget,sans-serif;
font-size: 15px;
font-size: 1.5rem;
padding-bottom: 3px;
text-transform: uppercase; }
#last-news-list .tid {
color: #16254c;
font-size: 12px;
font-size: 1.2rem;
display: inline-block;
position: relative;
vertical-align: top;
width: 13%; }
#last-news-list #list-siste-nytt {
margin-bottom: 25px;
overflow: visible;
position: relative; }
#last-news-list article {
border-bottom: 1px solid #e6e6e6;
padding-bottom: 9px;
padding-top: 9px;
position: relative; }
#last-news-list article img {
float: left;
margin-right: 16px;
padding-top: 2px;
position: relative; }
#last-news-list article h1 {
font-size: 13px;
font-size: 1.3rem;
display: inline-block;
position: relative;
vertical-align: top;
width: 79%; }
.article-large {
width: 668px;
overflow: hidden;
margin-bottom: 20px; }
.article-large h1 {
font-size: 55px;
font-size: 5.5rem;
margin-bottom: 5px; }
.article-large p {
font-size: 18px;
font-size: 1.8rem; }
.article-small {
width: 328px;
overflow: hidden;
margin-bottom: 20px;
float: left; }
.article-small:last-of-type {
margin-left: 10px; }
.article-small h1 {
font-size: 29px;
font-size: 2.9rem;
margin-bottom: 3px; }
.article-small p {
font-size: 15px;
font-size: 1.5rem; }
.article-large:first-of-type {
margin-top: 9px; }
#last_10_list h1 {
border-bottom: 6px solid #2d4396;
font-size: 1.9rem;
font-weight: normal;
padding: 12px 0 4px 12px; }
#last_10_list {
background-color: #efedee; }
#last_10_list h1 {
border-bottom: 6px solid #A51716;
color: #A51716; }
#last_10_list ul {
padding: 12px; }
#last_10_list li {
border-bottom: 1px solid #ccc;
margin-bottom: 5px;
padding-bottom: 5px; }
#last_10_list li:last-of-type {
border-bottom: none; }
#last_10_list span, #last_10_list a {
color: #333;
font-size: 12px;
font-size: 1.2rem; }
#last_10_list span {
margin-right: 3px; }
/*# sourceMappingURL=main.css.map */
