@import url("http://nginx-drfront-api.nettavisen.no/nettavisen.drfront.aptoma.no/api/front/37/css?i=0.05");
@import url("http://nginx-drfront-api.nettavisen.no/nettavisen.drfront.aptoma.no/api/front/47/css?i=0.05");
main #front-51 .df-article {
margin-left: 3px;
margin-right: 3px; }
#stocknumbers h1, #quote-of-the-day h1, #pl-lists h1, #sidebar-mener h1, #dagens-bilde h1, #last-news-list > h1,
#list-mest-lest > h1,
#blogg-box > h1,
#last-news-wrap > h1 {
color: #16254c;
font-family: "Arial Black", Arial, Gadget, sans-serif;
font-size: 15px;
font-size: 1.5rem;
text-transform: uppercase;
border-bottom: 2px solid #e6e6e6;
padding-bottom: 3px;
margin-bottom: 20px; }
#content_wrap {
margin-top: 10px; }
main {
margin-top: -7px; }
#nablog-box {
width: 660px;
overflow: hidden;
border: 1px solid #c4c4c4;
background-color: #ececec;
padding: 16px 5px 20px; }
#nablog-box header h1 {
display: inline-block;
color: #16254c;
font-size: 20px;
font-size: 2rem;
padding-left: 36px;
margin-left: 30px;
margin-bottom: 10px;
line-height: 1.6;
background: transparent url("http://www.nettavisen.no/templates/v1/images/blogbox-nalogo.png") left 0 no-repeat;
text-transform: uppercase; }
#nablog-box header a {
display: inline-block;
background: transparent url("http://www.nettavisen.no/templates/v1/images/blogbox-alle.png") right center no-repeat;
padding-right: 15px;
font-size: 19px;
font-weight: bold;
color: #16254c;
margin-left: 305px; }
#slick-wrap {
width: 615px;
overflow: hidden;
position: relative;
left: 31px; }
#blog-carousel {
position: relative;
display: none; }
#blog-carousel h1, #blog-carousel h2 {
color: #16254c;
font-weight: bold;
font-size: 19px;
font-size: 1.9rem;
width: 185px; }
#blog-carousel h1 {
height: 45px;
width: 290px;
margin-top: 8px;
margin-bottom: 10px; }
#blog-carousel h1 a {
color: #16254c; }
#blog-carousel h2 {
font-family: "Georgia";
font-style: italic;
font-size: 16px;
font-weight: normal; }
.slick-slide {
display: block;
float: left;
height: 100%;
min-height: 1px;
outline: 0; }
.slick-prev {
border: none;
font-size: 0;
display: block;
position: absolute;
left: 10px;
width: 8px;
height: 19px;
overflow: hidden;
top: 130px;
z-index: 3;
background: transparent url("/templates/v1/images/blogbox-prev-next-btn.png") 2px center no-repeat; }
.slick-next {
border: none;
font-size: 0;
display: block;
position: absolute;
width: 8px;
height: 19px;
overflow: hidden;
top: 130px;
z-index: 3;
left: auto;
right: 7px;
background: transparent url("/templates/v1/images/blogbox-prev-next-btn.png") -9px center no-repeat; }
@media all and (-ms-high-contrast: none) {
.slick-prev {
background-position: 6px center; }
/* IE10 */
*::-ms-backdrop .slick-prev {
background-position: 6px center; }
/* IE11 */ }
#searchbox {
height: 36px;
margin-bottom: 25px; }
#searchbox #na-search {
background-color: #f2f1f1;
font-size: 14px;
font-size: 1.4rem;
border: 1px solid #e6e6e6;
padding: 10px 50px 10px 10px;
width: 228px; }
#searchbox #na-search-btn {
text-indent: -9999px;
border: none;
background: transparent url(/templates/v1/images/search-icon.jpg) center center no-repeat;
width: 24px;
height: 25px;
position: relative;
left: 258px;
top: -31px;
cursor: pointer; }
#stocknumbers {
margin-bottom: 25px; }
#stocknumbers table {
width: 100%;
font-weight: bold;
font-size: 13px;
font-size: 1.3rem;
line-height: 1.5; }
#stocknumbers table tr {
border-bottom: 1px solid #e6e6e6; }
#stocknumbers table tr:last-of-type {
border-bottom: none; }
#stocknumbers table th {
text-align: left;
padding-left: 4px; }
#stocknumbers table td {
text-align: right;
width: 22%;
padding: 3px 8px 2px 0; }
#stocknumbers table .neg-number {
color: #ec1600; }
#stocknumbers table .neg-number:after {
content: "\25BE";
margin-left: 2px; }
#stocknumbers table .pos-number {
color: #00b62c; }
#stocknumbers table .pos-number:after {
content: "\25B4";
margin-left: 2px; }
#quote-of-the-day {
margin-bottom: 25px; }
#quote-of-the-day blockquote {
font-size: 23px;
font-size: 2.3rem;
font-style: italic;
font-family: Georgia, serif;
line-height: 1.3;
color: #16254c;
background: transparent url(/templates/v1/images/stang-ut-quote.gif) left top no-repeat;
padding: 2px 10px 10px 35px;
margin-left: 10px; }
#quote-of-the-day blockquote p a {
color: #16254c; }
#quote-of-the-day blockquote cite {
font-size: 11px;
font-size: 1.1rem;
text-align: right;
text-transform: uppercase;
display: block;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
margin-top: 12px;
color: #888; }
#quote-of-the-day blockquote cite a {
color: #888; }
.etabs .tab {
display: inline-block;
border: 1px solid #e6e6e6;
border-top-right-radius: 4px;
text-align: center;
background: white;
background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); }
.etabs .tab.active {
border-bottom: none;
background: none; }
.etabs .tab:first-of-type {
border-right: none;
margin-right: -4px;
border-top-left-radius: 5px;
border-top-right-radius: 0; }
.etabs .tab a {
color: #16254c;
font-weight: bold;
text-transform: uppercase;
font-size: 13px;
font-size: 1.3rem;
display: inline-block;
padding: 9px 0 5px;
width: 143px; }
.etabs .tab a:hover {
text-decoration: none; }
#pl-lists {
margin-bottom: 25px; }
#pl-lists .top {
display: none; }
#pl-lists h1 {
border-bottom: none;
margin-bottom: 2px; }
#pl-lists ol {
margin-top: 16px; }
#pl-lists ol li {
margin: 0 6px 8px;
/*color: $aside-titles;*/
font-size: 13px;
font-size: 1.3rem; }
#pl-lists ol li span {
display: inline-block;
float: right;
font-weight: bold; }
#pl-lists table {
margin-top: 16px;
width: 100%;
font-size: 13px;
font-size: 1.3rem; }
#pl-lists table th {
text-align: left; }
#pl-lists table tr:nth-of-type(2n+2) {
background-color: #ececec; }
#pl-lists table thead tr {
background: transparent; }
#pl-lists table td {
padding: 4px; }
#pl-lists table tbody tr td:nth-last-child(2), #pl-lists table th:nth-last-child(2) {
display: none; }
#sidebar-mener {
margin-bottom: 25px; }
#sidebar-mener div {
background: transparent url(/templates/v1/images/na_mener_logo.png) left 5px no-repeat;
padding-left: 45px; }
#sidebar-mener h2 {
font-size: 19px;
line-height: 1.1; }
#sidebar-mener h2 a {
color: #16254c; }
#sidebar-mener p {
font-size: 14px;
line-height: 1.3;
margin-top: 5px;
color: #16254c; }
#dagens-bilde {
margin-bottom: 25px; }
#dagens-bilde p {
font-size: 12px;
font-size: 1.2rem;
text-align: right; }
#dagens-bilde p a {
color: #000;
font-weight: bold; }
#last-news-wrap {
visibility: hidden; }
#last-news-list .cloak, #last-news-wrap .cloak {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: #f5c2c2; }
#last-news-list .inline-status, #last-news-wrap .inline-status {
color: #e00203;
font-size: 1.0rem; }
#last-news-list #list-siste-nytt article, #last-news-wrap #list-siste-nytt article {
visibility: hidden;
margin-top: 0;
padding-top: 9px;
position: relative; }
#last-news-list #list-siste-nytt article.new:before, #last-news-wrap #list-siste-nytt article.new:before {
content: "";
position: absolute;
right: 0;
top: 0;
width: 4px;
height: 100%;
z-index: 100;
background-color: #e00203; }
#last-news-list #list-siste-nytt .status, #last-news-wrap #list-siste-nytt .status {
position: relative;
float: right;
padding: 3px;
border-radius: 4px;
background-color: #e00203;
color: white;
font-size: 11px;
font-weight: bold;
vertical-align: top; }
#last-news-list #list-siste-nytt .tid, #last-news-wrap #list-siste-nytt .tid {
display: inline-block;
width: 13%;
vertical-align: top;
position: relative; }
#last-news-list #list-siste-nytt h1, #last-news-wrap #list-siste-nytt h1 {
display: inline-block;
width: 79%;
vertical-align: top;
position: relative; }
#last-news-list > h1,
#list-mest-lest > h1,
#blogg-box > h1,
#last-news-wrap > h1 {
margin-top: 20px;
margin-bottom: 0; }
#last-news-list, #last-news-wrap {
width: 290px;
margin-bottom: 25px;
-webkit-transform: translate3d(0, 0, 0); }
#last-news-list .etabs, #last-news-wrap .etabs {
margin-bottom: 20px; }
#last-news-list .tid, #last-news-wrap .tid {
font-size: 12px;
font-size: 1.2rem;
color: #16254c; }
#last-news-list #list-siste-nytt, #last-news-list #list-mest-lest, #last-news-wrap #list-siste-nytt, #last-news-wrap #list-mest-lest {
position: relative;
overflow: visible;
margin-bottom: 25px; }
@media only screen and (min-width: 1025px) {
#last-news-list #list-siste-nytt, #last-news-list #list-mest-lest, #last-news-wrap #list-siste-nytt, #last-news-wrap #list-mest-lest {
overflow: auto; } }
#last-news-list article, #last-news-wrap article {
padding-top: 9px;
border-bottom: 1px solid #e6e6e6;
padding-bottom: 9px;
position: relative; }
#last-news-list article img, #last-news-wrap article img {
float: left;
margin-right: 16px;
padding-top: 2px;
position: relative; }
#last-news-list article h1, #last-news-wrap article h1 {
font-size: 13px;
font-size: 1.3rem;
display: block;
position: relative; }
#blogg-box {
margin-bottom: 25px; }
#blogg-box article {
padding-top: 9px;
padding-bottom: 9px;
position: relative;
border-bottom: none; }
#blogg-box article h1 {
font-size: 13px;
font-size: 1.3rem;
display: block;
position: relative; }
#blogg-box article h2 {
color: #16254c;
text-transform: uppercase;
font-size: 11px;
font-size: 1.1rem; }
#blogg-box article img {
border: 1px solid #dedede;
border-radius: 50%;
float: left;
height: 40px;
vertical-align: middle;
width: 40px;
margin-right: 16px;
padding-top: 2px;
position: relative; }
#klikk {
margin-bottom: 20px; }
#klikk #klikk_left {
margin-top: 20px; }
#klikk .klikk_left {
width: 329px;
float: left;
overflow: hidden; }
#klikk .klikk_left h1 {
margin-top: 5px;
margin-bottom: 0;
font-size: 22px;
font-size: 2.2rem;
line-height: 22px; }
#klikk .klikk_left h1 a {
color: #000; }
#klikk .klikk_left h1 a:hover {
text-decoration: underline; }
#klikk #klikk_left_2 {
margin-left: 8px; }
#klikk_right {
width: 643px;
overflow: hidden;
margin-right: 9px;
display: inline; }
#klikk_right h1 {
font-size: 54px;
font-size: 5.4rem;
line-height: 1.1; }
#klikk_right h1 a {
color: #000; }
#klikk_right h1 a:hover {
text-decoration: underline; }
#klikk_right p {
font-size: 21px;
font-size: 2.1rem;
display: inline;
color: #000;
margin-bottom: 3px;
margin-top: 3px; }
#klikk_right .read_more {
font-size: 21px;
font-size: 2.1rem;
color: #014864; }
#klikk_right .klikk {
font-size: 18px;
font-size: 1.8rem;
margin-top: 4px;
line-height: 2rem; }
.tu_article {
width: 329px;
overflow: hidden;
float: left;
margin-bottom: 20px; }
#wrap .tu_article h1 {
margin-top: 5px;
margin-bottom: 0;
font-size: 22px;
font-size: 2.2rem;
line-height: 22px; }
#wrap .tu_article h1 a {
color: #000; }
#wrap .tu_article h1 a:hover {
text-decoration: underline; }
#wrap .tu_article_first {
float: none;
width: 643px; }
#wrap .tu_article_first h1 {
font-size: 54px;
font-size: 5.4rem;
line-height: 1.1; }
#wrap .tu_article_first h1 a {
color: #000; }
#wrap .tu_article_first h1 a:hover {
text-decoration: underline; }
.tu_article_last {
margin-left: 8px; }
.tu_image {
position: relative;
border: 1px solid #ccc; }
.tu_image > span {
background-color: rgba(217, 216, 213, 0.7);
bottom: 0;
display: block;
font-size: 11px !important;
font-weight: bold !important;
left: 0;
padding: 4px 6px 2px 4px !important;
position: absolute;
text-transform: uppercase;
color: #222; }
#tv2videofeed {
width: 980px; }
#tv2videofeed article {
float: left;
width: 329px;
overflow: hidden; }
#tv2videofeed article:first-child {
margin-right: 8px; }
#tv2videofeed article h1 {
font-size: 2.2rem;
line-height: 22px;
margin-bottom: 0;
margin-top: 5px; }
#tv2videofeed article h1 a {
color: #000; }
#tv2videofeed article h1 a:hover {
text-decoration: underline; }
#tv2videofeed .tv2videofeed_img_wrap {
position: relative; }
#tv2videofeed .tv2videofeed_img_wrap > img {
position: absolute;
left: 0;
bottom: 0; }
#image_shout_wrap {
background-color: #f5f5f5;
padding: 15px 16px 8px;
border: 1px solid #ccc; }
#image_shout_wrap > h1 {
border-bottom: 1px solid #ccc;
padding-bottom: 3px; }
#image_shout_wrap > a {
margin-left: 224px;
display: inline-block;
position: relative;
top: 6px;
color: #000; }
#image_shout_wrap > a img {
vertical-align: baseline; }
#image_shout_wrap article {
float: left;
width: 147px;
overflow: hidden;
margin-top: 9px;
margin-left: 15px; }
#image_shout_wrap article:first-child {
margin-left: 0; }
#image_shout_wrap article h1 {
font-weight: normal;
font-size: 15px;
font-size: 1.5rem;
line-height: 18px;
margin-top: 3px; }
#image_shout_wrap article h2 {
font-size: 13px;
font-size: 1.3rem;
font-weight: bold;
margin-bottom: 1px; }
#image_shout_wrap > p {
border-top: 1px solid #CCCCCC;
color: #666666;
font-size: 1.1rem;
padding-top: 8px;
margin-top: 12px !important;
text-align: center; }
#wrap #image_shout_wrap a {
color: #000; }
#kundeavis {
background-color: #e0e0e0;
margin-top: 20px;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
padding-bottom: 22px; }
#kundeavis h4 {
font-size: 1rem;
color: #999;
text-align: center;
margin-top: 4px;
text-transform: uppercase; }
#kundeavis h4 span {
font-size: 1rem;
color: #666;
text-transform: uppercase; }
#kundeavis .kundeavis {
width: 192px;
overflow: hidden;
margin-top: 20px;
margin-left: 15px;
display: inline-block;
vertical-align: top; }
#kundeavis .img_container {
background-color: #fff;
width: 176px;
-webkit-box-shadow: -3px 4px 6px -2px #666;
-moz-box-shadow: -3px 4px 6px -2px #666;
box-shadow: -3px 4px 6px -2px #666;
margin: 0 auto;
padding: 8px; }
#kundeavis .txt_container {
background: url(/templates/v1/images/kundeavis_head_back.jpg) center top no-repeat;
margin-top: 8px;
text-align: center;
padding-bottom: 12px; }
#kundeavis .txt_container h3 {
font-size: 1.8rem;
padding-top: 6px;
text-transform: uppercase;
margin: 0 8px; }
#kundeavis .txt_container h3 a {
color: #666; }
#kundeavis .txt_container p {
font-size: 1.2rem;
font-weight: 700;
margin: 8px 8px 14px; }
#wrap .last-nablogs {
width: 170px;
float: left;
overflow: hidden;
padding: 12px 8px 0;
background-color: #f2f1f1; }
#wrap .last-nablogs h1 {
font-size: 15px;
text-transform: uppercase;
border-bottom: 3px solid #000;
margin-bottom: 15px;
padding-bottom: 3px; }
#wrap .last-nablogs h1 img {
margin-right: 4px;
vertical-align: text-bottom; }
#wrap .last-nablogs article {
margin-bottom: 20px; }
#wrap .last-nablogs article h2 {
font-size: 12px;
font-size: 1.2rem;
font-weight: bold;
text-transform: uppercase; }
#wrap .last-nablogs article h3 {
margin-top: 2px;
width: 170px;
font-size: 13px;
font-size: 1.3rem;
line-height: 1.2;
font-weight: normal; }
#wrap .last-nablogs article h3 a:hover {
text-decoration: underline; }
#blogs-supernetboard .ad-468x800 {
float: right;
width: 468px; }
#netboard_traffic #netboard {
width: 468px;
float: right; }
article#itest h1 {
font-size: 1.6em;
margin-top: 5px; }
#nettpress {
box-sizing: border-box;
float: left;
width: 100%;
padding: 10px 5px 15px;
background-color: #E6EFF4;
font-family: Arial; }
#nettpress * {
box-sizing: border-box; }
#nettpress a {
text-decoration: none;
color: #000; }
#nettpress #nettpress-header {
position: relative; }
#nettpress #nettpress-header:before, #nettpress #nettpress-header:after {
content: ' ';
display: table;
clear: both; }
#nettpress #nettpress-header .nettpress-title {
float: left;
max-width: 55%;
width: 300px;
margin-top: 2px; }
#nettpress #nettpress-header .nettpress-logo {
float: right;
max-width: 45%;
width: 200px; }
#nettpress .nettpress-items:before, #nettpress .nettpress-items:after {
content: ' ';
display: table;
clear: both; }
#nettpress .nettpress-items .nettpress-item {
position: relative;
float: left;
width: 50%;
background-color: #FFF;
border: 5px solid #E6EFF4;
-webkit-transition: all ease-in-out .2s;
-moz-transition: all ease-in-out .2s;
-ms-transition: all ease-in-out .2s;
-o-transition: all ease-in-out .2s;
transition: all ease-in-out .2s; }
#nettpress .nettpress-items .nettpress-item a {
text-decoration: none; }
#nettpress .nettpress-items .nettpress-item:hover {
background-color: #F9F9F9; }
#nettpress .nettpress-items .nettpress-item .image-box {
position: relative; }
#nettpress .nettpress-items .nettpress-item .image-box .image {
width: 100%; }
#nettpress .nettpress-items .nettpress-item .image-box .logo {
position: absolute;
bottom: 10px;
left: 10px;
max-width: 50%;
max-height: 60px;
background-color: #FFF;
padding: 2px;
box-shadow: 0 0 1px #333; }
#nettpress .nettpress-items .nettpress-item .title {
color: #000;
margin: 0;
padding: 8px;
font-weight: 600;
font-size: 1.8em;
text-decoration: none;
min-height: 135px;
overflow: hidden; }
#nettpress #nettpress-footer {
text-align: left;
margin-top: 10px;
margin-left: 5px; }
#nettpress #nettpress-footer p {
font-size: .84em; }
/*# sourceMappingURL=section_nafront.css.map */
