@font-face {
    font-family: 'FontAwesome';
    src:    url("/fonts/icomoon.eot?v=844a6dd8878912c6bcec12cf1beb16c3");
    src:    url("/fonts/icomoon.eot?v=844a6dd8878912c6bcec12cf1beb16c3") format('embedded-opentype'),
        url("/fonts/icomoon.woff2?v=1228c2d729ecd99d08fd77cc8ee44cb2") format('woff2'),
        url("/fonts/icomoon.woff?v=6213a4ef8008004a003d95089b398651") format('woff'),
        url("/fonts/icomoon.ttf?v=6b255d8e0a5419912007243e41e4985c") format('truetype'),
        url("/fonts/icomoon.svg?v=69ef748e54a029a55a515abaa7fb6ad6") format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-google-plus:before {
    content: "\e901";
}
.fa-search:before {
    content: "\e900";
}
.fa-facebook:before {
    content: "\e902";
}
.fa-twitter:before {
    content: "\e903";
}
.fa-rss:before,.fa-feed:before {
    content: "\e904";
}
.fa-whatsapp:before {
    content: "\f232";
}
.fa-refresh:before {
    content: "\f021";
}
.fa-bars:before, .fa-navicon:before, .fa-reorder:before {
    content: "\f0c9";
}
