/*html {
	position: relative;
}*/

html, body {
	height: 100%;
	-webkit-touch-callout: none;
	touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: TheSans, Arial;
	font-weight: 400;
}

a {
	color: inherit;
}

a:hover, a:focus {
	color: inherit;
	text-decoration: inherit;
}

.hover-link-color:hover, .hover-link-color:active {
	color: #73C8DC;
}

.hover-link-alternative-color:hover, .hover-link-alternative-color:active {
	color: #983048;
}

.alternative-font {
	font-family: HelveticaNeue-Condensed, Helvetica, Arial;
}

.classic-font {
	font-family: Arial;
}

.content-container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.custom-spinner {
	width: 64px;
	height: 64px;
	background-color: #60d0e1;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	-webkit-animation: rotateplane 1.2s infinite ease-in-out;
	animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
	0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
	} 50% { 
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
	} 100% { 
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@media (min-width: 1002px) {
	.container {
		width: 1002px;
	}
	.content-container {
		border: 1px solid #ECECEC;
		border-width: 0 1px;
	}
}

@media (max-width: 991px) {
	.container {
		width: auto;
	}
}

@media (max-width: 767px) {
	.content-container {
		padding-top: 71px;
	}
	.row-if-small {
		margin-right: -15px;
		margin-left: -15px;
	}
	.sticky-top-if-small {
		margin-top: -21px;
	}
}

.footer {
	background-color: #b1b3b4;
	color: white;
}

.tadevel {
	background-color: black;
	border-top: 4px solid #d54872;
	text-align: center;
}

.footer-content {
	margin-top: 3px;
}

.scroll::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}
.scroll.scroll-large::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.scroll::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
.scroll::-webkit-scrollbar-thumb {
	background: #666666;
	border: 0px none #ffffff;
	border-radius: 50px;
}
.scroll::-webkit-scrollbar-track {
	background: #e1e1e1;
	border: 0px none #ffffff;
	border-radius: 50px;
}
.scroll::-webkit-scrollbar-corner {
	background: transparent;
}

.fixed-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 2;
}

@media (min-width: 768px) {
	.text-right-md {
		text-align: right;
	}
	.fixed-footer {
		display: none;
	}
}

@media (min-width: 992px) {

	.footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.tadevel {
		float: right;
		padding-top: 10px;
		margin-top: 7px;
		margin-right: 20px;
		max-width: 90px;
		min-height: 90px;
	}

}

/*
	GENERAL 
*/

.brand-color {
	color: #73C8DC;
}

.main-text-color {
	color: #777;
}

.main-background-color {
	background-color: #ececec;
}

.secondary-background-color {
	background-color: #d5d6c8;
}

.top-space-default {
	margin-top: 20px;
}

.top-space-default-negative {
	margin-top: -20px;
}

.bottom-space-default {
	margin-bottom: 20px;
}

.bottom-space-default-negative {
	margin-bottom: -20px;
}

.placeholder {
	background-size: cover;
	background-position: 50% 50%;
}

.placeholder-bg {
	background-size: cover;
	background-position: 50% 50%;
	background-image: url("/img/placeholder.jpg?v=399c34bbe1092ce27b2696b98de9813f");
}

.single-line {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.two-lines {
	font-size: 14px;
	height: 44px;
	padding: 2px 5px;
	line-height: 20px;
	-webkit-line-clamp: 2;
}

.multiple-lines {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

hr.section-divider {
	border-top: 1px solid #777;
	margin: 30px 0 10px;
}

.section-title {
	padding: 5px 10px;
	margin: 0 0 25px;
}

.divider-title {
	padding: 5px 15px;
	font-size: 16px;
	font-weight: bold;
	background-color: #ececec;
}

.more-news, .more-videos {
	font-weight: 100;
	font-size: 15px;
	color: #666;
	font-style: italic;
}

/* PACE */
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
}

.pace, .navbar, .header-mobile-menu, #tv-shows-live-menu {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #73C8DC;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}

/*
	BOOTSTRAP OVERRIDES
*/

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #73C8DC;
	border-color: #73C8DC;
}

.pagination>li>a, .pagination>li>span {
	color: #73C8DC;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color: #3B7D88;
}

/* UNCOMMENT FOR HOVER DROPDOWN MENU

	:hover>.dropdown-menu {
		display: block;
	}

	.dropdown:hover>a {
		background-color: #e7e7e7 !important;
	}

*/

/*
	SELECT2 OVERRIDES
*/

.select2-container {
	box-shadow: none;
}

.select2-arrow {
	background: none !important;
	border: none !important;
	padding: 2px 0 !important;
}

.select2-choice {
	background: none !important;
	height: 32px !important;
	padding: 3px 12px !important;
}

/*
	BXSLIDER OVERRIDES
	
*/

.bx-wrapper {
    border: none !important;
    box-shadow: none !important;
}

.multimedia .bx-wrapper .bx-viewport {
	left: 0;
}

.bx-wrapper .bx-viewport {
	position: static !important;
	border: none !important;
	box-shadow: none !important;
}

ul.bxslider {
	list-style-type: none;
	padding: 0 !important;
}

.bx-wrapper .bx-controls-direction a {
	z-index: 0 !important;
}

.bx-wrapper .bx-prev {
	background-image: url("/img/arrow-left.png?v=1d890e1e9b1ca59001bc5eb468c81bc5") !important;
	background-position: 0 0 !important;
	background-size: contain !important;
}

.bx-wrapper .bx-next {
	background-image: url("/img/arrow-right.png?v=d6a403da8d27ba270a83ce246fbf2cfe") !important;
	background-position: 0 0 !important;
	background-size: contain !important;
}

.bx-wrapper .bx-controls-direction a {
	width: 42;
	height: 42px;
}

/*
	FANCYBOX
*/

.fancybox-nav span {
	visibility: visible !important;
}

.fancybox-next {
	right: -25px !important;
}

.fancybox-prev {
	left: -25px !important;
}

.fancybox-inner > iframe {
	max-width: 100% !important;
	max-height: 100% !important;
}

/*
	FRONT-PAGE
*/

.front-page-component-header {
	color: white;
	padding: 5px 10px;
	font-size: 18px;
}

.front-page-component-header .view-more {
	font-size: 15px;
	line-height: 24px;
}

/*
	MENU
*/

.navbar {
	margin-bottom: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.navbar-default .navbar-nav>li>a {
	color: #444;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #555;
	background-color: #e7e7e7;
}

.navbar-default, .navbar-color {
	background-color: #f5f5f5;
}

.navbar-nav .rounded-share a {
	padding: 14px 5px;
}

.menu-item {
	width: 33.33333%;
	text-align: center;
	font-size: 18px;
}

ul .dropdown-menu {
	width: 100%;
}

#tv-shows-live-menu {
	margin-top: 8px;
	font-size: 16px;
}

#tv-shows-live-menu [class*="col-"] {
	float: none;
	display: table-cell;
	vertical-align: top;
	padding: 5px 20px;
}

#tv-shows-live-menu .brand-color {
	background-color: black;
	text-align: center;
}

#tv-shows-live-menu ul {
	list-style-type: none;
	text-align:center;
	margin: 0;
	padding: 0;
}

#tv-shows-live-menu ul li {
	display:inline-block;
	*display:inline; /*IE7*/
	*zoom:1; /*IE7*/
	margin: 0 15px;
	font-weight: bold;
}

#tv-shows-live-menu ul li a {
	text-decoration: none;
}

.tv-shows-live-disabled {
	color: #999 !important;
}

@media (max-width: 767px) {

	#header-menu-custom {
		margin-top: 50px;
		margin-bottom: -50px;
	}

	.lateral-banners {
		display: none;
	}

}

#header-container {
	position: relative;
}

.left-banner {
	position: absolute;
	right: 100%;
}

.right-banner {
	position: absolute;
	left: 100%;
}

#header-mobile-menu-toggle {
	cursor: pointer;
}

#header-mobile-menu-toggle {
	font-size: 24px;
	padding: 13px;
	position: absolute;
	left: 0;
}

#header-mobile-menu-toggle:active {
	background-color: #73C8DC;
}

.header-mobile-menu-overlay {
	visibility: hidden;
	position: fixed;
	top: 50px;
	bottom: 0;
	width: 100%;
	transition-property: opacity;
	transition-duration: 500ms;
	z-index: 10;
	background-color: black;
	opacity: 0;
}

.header-mobile-menu-active .header-mobile-menu-overlay {
	opacity: 0.5;
	visibility: visible;
}

.header-mobile-menu {
	width: 300px;
	box-shadow: 3px 0px 10px #444;
	background: white;
	position: fixed;
	bottom: 0;
	top: 50px;
	z-index: 10;
	overflow: hidden;
	transition-duration: 100ms;
	transition-property: left;
	transition-timing-function: ease-in;
	left: -320px;
}

.header-mobile-menu-active .header-mobile-menu {
	left: 0;
}

body.header-mobile-menu-active {
	overflow-y: scroll;
	position: fixed;
	width: 100%;
}

.header-mobile-menu-content h3 {
	margin: 10px 0 5px 10px;
}

.header-mobile-menu-content {
	bottom: 0;
	position: absolute;
	top: 0;
	width: 300px;
	overflow-y: auto;
	font-size: 16px;
}

.header-mobile-menu-content a:hover p, .header-mobile-menu-content a:focus p {
	background-color: #f5f5f5;
}

.header-mobile-menu-content a {
	text-decoration: none;
}

.header-mobile-menu-content a p {
	padding: 5px 10px;
	margin: 0;
}

.logo-container {
	text-align: center;
}

.header-section-detail {
	display: none;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 240px;
	right: 0;
	bottom: 0;
}

.header-section-detail .more-news {
	margin-top: 10px;
}

li.active>.header-section-detail {
	display: block;
}

.header-section-detail .recent-video-photo, .header-section-detail .recent-item-photo {
	position: relative;
	width: 100%;
}

.header-section-detail .recent-item-photo {
	height: 150px;
}

.header-section-detail .recent-video-photo {
	height: 155px;
}

.header-section-detail .recent-item-kicker {
	height: 25px;
	font-size: 15px;
	padding: 2px 5px;
}

.header-section-detail .recent-item-title {
	font-weight: bold;
	line-height: 20px;
	-webkit-line-clamp: 2;
	max-height: 40px;
	font-size: 16px;
}

.header-section-detail .recent-item-deck {
	-webkit-line-clamp: 8;
	line-height: 18px;
	font-size: 15px;
	max-height: 144px;
	margin-top: 5px;
}

.header-section-detail .recent-video-title {
	padding: 5px;
}

.header-section-detail .recent-video-title > span {
	line-height: 115%;
	-webkit-line-clamp: 4;
	height: 82.8px;
	font-size: 18px;
}

/*Uncomment if add video description
.header-section-detail .recent-video-deck {
	-webkit-line-clamp: 5!important;
	max-height: 100px!important;
}*/

.navbar-nav .dropdown-menu {
	font-size: 16px;
}

li.header-menu-item {
	/*margin-top: 10px;*/
}

.header-menu-item-link {
	display: block;
	padding: 2px 0;
	font-size: 17px;
}

.header-menu-item-name {
	font-size: 20px;
	margin-bottom: 8px;
	font-weight: 600;
}

li.header-menu-item.active>a {
	background: none;
	font-weight: bold;
	text-decoration: none;
}

.header-menu-item-name>a>span {
	color: #73C8DC;
}

li.header-menu-item>a>span {
	color: #73C8DC;
	visibility: hidden;
	margin-right: 8px;
}

li.header-menu-item.active>a>span {
	visibility: visible;
}

.menu-item {
	position: static !important;
}

.menu-item+.menu-item {
	border-left: 1px solid #bbb;
}

.menu-item .dropdown-menu {
	padding-bottom: 15px;
	min-height: 430px;
	background-color: rgba(250, 250, 250, 0.97);
}

.header-section-detail {
	border-left: 2px dotted #dbdbdb;
}

.menu-item .dropdown-menu ul {
	list-style-type: none;
	width: 220px;
	padding: 10px 0 10px 30px;
	width: 240px;
}

.header-logo {
	max-height: 30px;
}

@media (min-width: 768px) {
	.header-logo {
		max-height: 55px;
	}
}

@media (max-width: 767px) {
	.logo-container {
		padding: 10px 0 0;
	}

	#header-menu {
		position: fixed;
		width: 100%;
	}

	#header-container {
		z-index: 9999;
	}
}

/*
	OVERLAY EFFECTS
*/

.hover-overlay {
	position: relative;
}

.hover-overlay:hover:before, .hover-overlay-container:hover .hover-overlay:before {
	content: '\A';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.15;
	z-index: 999; /*less than 9999 (header-container)*/
}

/*
	VIDEOS
*/

.video-kicker {
	font-size: 15px;
	padding: 2px 5px;
}

.video-item .video-photo {
	height: 140px;
	position: relative;
}

.video-item:hover {
	text-decoration: none;
}

.video-item h4 {
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
}

/*
	SHARE BUTTONS
*/

.colorful-square-share i {
	font-size: 16px;
	width: 24px;
	line-height: 24px;
	border-radius: 3px;
	text-align: center;
	color: #ececec;
}

.colorful-square-share a.facebook i {
	background: #3b5998;
}

.colorful-square-share a.twitter i {
	background: #3cf;
}

.colorful-square-share a.google i {
	background: #dd4b39;
}

.rounded-share i {
	font-size: 14px;
	width: 22px;
	line-height: 22px;
	border-radius: 11px;
	text-align: center;
	background-color: #777;
	color: #ececec;
}

.rounded-share i:hover {
	cursor: pointer;
	background-color: #555;
}

.rounded-share-inverse i {
	background-color: #ececec!important;
	color: #777!important;
}

#share .button {
  float: left;
  margin: 5px 10px;
}

.share-row {
	transition: opacity 0.1s 0 ease-in;
}

.share-item {
	float: left;
	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer;
}

.share-item-icon {
	font-size: 24px;
	padding-top: 8px;
}

.share-item-no-count > .share-item-icon {
	padding-top: 8px;
}

.share-user-count {
	font-size: 11px;
}

.share-facebook {
	background-color: #3b5998;
	color: white;
}

.share-facebook:hover {
	background-color: #2d4373
}

.share-twitter {
	background-color: #55acee;
	color: white;
}

.share-twitter:hover {
	background-color: #2795e9;
}

.share-google {
	background-color: #e7535d;
	color: white;
}

.share-google:hover {
	background-color: #dd4b39;
}

.share-whatsapp {
	background-color: #34af23;
	color: white;
}

.share-whatsapp:hover {
	background-color: #268C18;
}

.share-item-phone {
	display: none;
}

.share-is-phone .share-item-phone {
	display: block;
}

.toolbar {
	margin-bottom: 10px;
	padding: 8px 10px;
}

@media (min-width: 768px) and (max-width: 1174px) {
	.share-row {
		margin-bottom: 15px;
	}

	.article .share-row {
		display: none;
	}
}

@media (min-width: 1175px) {
	.share-row {
		position: fixed;
		width: 40px;
		margin-top: -60px;
		top: 50%;
		left: 0;
	}
}

@media (max-width: 767px) {
	.share-item {
		width: 33.3333%;
	}
	.share-is-phone .share-item {
		width: 25%;
	}
	.share-row {
		width: 100%;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 0;
		position: fixed;
		top: initial;
		z-index: 2;
	}
}

/*
	CASCADE V2
*/

@media (max-width: 919px) {
	.cascade-container {
		height: auto !important;
	}
	.cascade-item {
		float: left;
		width: 50% !important;
		height: 300px !important;
		left: auto !important;
		top: auto !important;
		position: relative !important;
	}
}

@media (max-width: 767px) {
	.cascade-item {
		width: 100% !important;
	}
}

/*
	WHATSHOT
*/

.front-whatshot-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.front-whatshot-items > div {
	flex-grow: 1;
	width: 20%;
	background-color: #76c8dc;
	padding: 8px;
	color: white;	
}
.front-whatshot-views {
	font-size: 28px;
	font-weight: bold;
	font-family: Arial;
}
.front-whatshot-title {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 18px;
    max-height: 72px;
    font-size: 16px;
}
.front-whatshot-item {
	background-color: #76b6dc;
	min-width: 10%;
	font-size: 18px;
}
@media (max-width: 767px) {
	.front-whatshot-items > div {
		width: 100%;
	}
}
/*
	CASCADE
*/

.rows-1, .rows-2 {
	height: 300px;
}

.cascade-column {
	width: 100%;
	overflow: hidden;
	position: relative;
}

@media (min-width: 992px) {
	.rows-2 {
		height: 620px;
	}
}

@media (min-width: 768px) {
	.logo-container {
		padding: 10px 40px 0;
	}
	.cascade div.article-left {
		float: left !important;
	}
	.cascade div.article-right {
		float: right !important;
	}
	#header-menu {
		padding: 20px 0px;
	}
	.border-separator {
		border-right: 1px solid #bbb;
		border-left: 1px solid #bbb;
	}
}

/*
	MULTIMEDIA
*/

.multimedia ul {
	padding: 0;
	list-style: none;
}

.multimedia iframe, .multimedia audio, .multimedia video, .multimedia .photo {
	width: 100% !important;
}

.multimedia-crop iframe, .multimedia-crop audio, .multimedia-crop video, .multimedia-crop .photo {
	width: 100% !important;
	height: 100%;
}

.multimedia-wrapper {
	position: relative;
}

.multimedia-crop.multimedia-wrapper {
	padding-bottom: 56.25%; /* 56.25% = 9/16 - (16:9 aspect ratio) */
}

.multimedia-frame {
	width: 100%;
}

.multimedia-crop .multimedia-frame {
	position: absolute;
	height: 100%;
}

/*
	GALLERY
*/

.gallery .gallery-title {
	font-size: 18px;
	height: 67px;
	padding: 2px 0;
	line-height: 21px;
	-webkit-line-clamp: 3;
}

.gallery-component .bx-pager {
	background-color: #df0d1a;
	padding: 5px 0!important;
	font-size: 18px!important;
	color: white!important;
}

.gallery .gallery-item {
	width: 100%;
	height: 160px;
	position: relative;
}

.gallery .slider iframe, .gallery .slider audio, .gallery .slider .photo {
	width: 100%!important;
	height: 320px;
}

.gallery .bx-viewport {
	height: 330px!important;
}

.gallery audio {
	background-image: url("/img/placeholder.jpg?v=399c34bbe1092ce27b2696b98de9813f");
	background-size: cover;
	background-position: 50% 50%;
}

.gallery .caption {
	height: 50px;
	-webkit-line-clamp: 2;
	font-size: 12px;
	line-height: 15px;
	max-height: 30px;
}

/*
	ARTICLE
*/

.bubble {
	position: relative;
	width: auto;
	height: 25px;
	padding: 0px 5px;
	background: #71c7d9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: white;
	text-align: center;
	line-height: 23px;
	float: left;
	margin-left: 10px;
	min-width: 30px;
	font-weight: normal;
}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 6px 6px 6px 0;
	border-color: transparent #71c7d9;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -6px;
	left: -5px;
	top: 50%;
}

.article-title {
	font-size: 38px;
	font-weight: bold;
}

.article-deck {
	font-size: 20px;
}

.article-comment-link {
	float: left;
	line-height: 25px;
	color: #8a8b8d;
	font-weight: bold;
}

.article-author-biography {
	color: #333;
	font-size: 12px;
}
.article-toolbar-item {
	float: left;
}

.article-toolbar-item+.article-toolbar-item {
	margin-left: 20px;
}

.article-toolbar-facebook,
.article-toolbar-twitter,
.article-toolbar-google i {
	font-weight: bold;
}

.article-toolbar-facebook,
.article-toolbar-twitter,
.article-toolbar-google {
	font-weight: bold;
	display: table;
	border-radius: 5px;
	color: white;
	height: 25px;
	cursor: pointer;
}

.article-toolbar-share-name {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.article-toolbar-share-count {
	display: table-cell;
	background-color: rgba(255, 255, 255, 0.2);
	vertical-align: middle;
	text-align: center;
	padding: 0 10px;
}

.article-toolbar-facebook {
	background-color: #3b5998;
}

.article-toolbar-facebook:hover {
	background-color: #2d4373;
}

.article-toolbar-twitter {
	background-color: #6cc8ec;
}

.article-toolbar-twitter:hover {
	background-color: #55acee;
}

.article-toolbar-google {
	background-color: #dd4b39;
}

.article-toolbar-google:hover {
	background-color: #c23321;
}

.fa-google-plus:before {
	margin-left: 4px;
}

.fb-comments,
.fb-comments span,
.fb-comments span iframe[style] {
	min-width: 100% !important;
	width: 100% !important;
}

.related-articles .bx-wrapper .bx-prev, .related-articles .bx-wrapper .bx-next {
	margin-top: -35px; /*should be 41 but I prefer 35*/
}

.related-articles .bx-wrapper .bx-prev {
	margin-left: -25px;
}

.related-articles .bx-wrapper .bx-next {
	margin-right: -25px;
}

.article .author-date {
	font-family: Arial;
	color: #777;
	font-size: 15px;
	margin: 15px 0 5px;
}

.article .related-article {
	height: 140px;
	position: relative;
}

.article .tags, .article .persons {
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	padding: 10px;
	font-size: 18px;
}

.article .tags {
	margin-top: 20px;
}

.article .persons {
	margin-top: 10px;
}

.article .tags ul, .article .persons ul {
	padding: 0;
	float: left;
	list-style: none;
	overflow: visible;
	width: 100%;
	line-height: 1.0;
	margin-bottom: 0;
}

.article .tags li, .article .persons li {
	float: left;
	font-size: 16px;
}

.article .tags .tag, .article .persons .tag {
	margin-left: 25px;
}

.article .tags .tags-label, .article .persons .persons-label {
	font-weight: bold;
	margin-right: 25px;
}

.article #body {
	font-size: 16px;
}

/*.article #body iframe {
	width: 100%;
}*/

.article-body {
	margin-top: 10px;
}

.article-body a {
	color: #428bca;
}

.article-body h1 {
	background-color: rgb(95, 95, 205);
	color: white;
	margin-left: -15px;
	position: relative;
	padding: 5px 15px 3px;
	display: inline-block;
	font-size: inherit;
	text-transform: uppercase;
	font-weight: bold;
}

.front-indicator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

/*
	WIDGETS
*/

.widget-status {
	padding: 50px 0;
	text-align: center;
	font-size: 20px;
}

/* DFP ADS */

.centered-ad iframe, .centered-ad > div, .centered-content iframe, .centered-content > div {
	margin: auto;
	display: block !important;
}

/* FOOTBALL STATS */

.football-stats .table>thead>tr>th, .football-stats .table>tbody>tr>th, .football-stats .table>tfoot>tr>th, .football-stats .table>thead>tr>td, .football-stats .table>tbody>tr>td, .football-stats .table>tfoot>tr>td {
	padding: 2px 4px;
}

.football-stats td {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.football-stats table {
	width: 100%;
	table-layout: fixed;
	font-size: 13px;
}

.football-stats .table {
	margin-bottom: 0;
}

/* END FOOTBALL STATS */

.widget-element {
	overflow: hidden;
	margin-bottom: 20px;
}

.widget-image {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
}

.widgets-affix .widget-image {
	position: relative;
}

/*
	ARTICLE AND VIDEO WIDGET
*/

.widget-video-container {
	height: 295px;
	margin-bottom: 10px;
}

.widget-article, .widget-video {
	position: relative;
}

.widget-article-title, .widget-video-title {
	position: absolute;
	bottom: 35px;
	left: 0;
	right: 0;
	padding: 5px 10px 0;
	font-size: 20px;
	height: 74px;
	-webkit-line-clamp: 3;
	line-height: 115%;
}

.widget-article-photo, .widget-video-photo {
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	bottom: 110px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #EEE;
}

.widget-article-kicker, .widget-video-tv-show {
	font-size: 15px;
	top: 0;
	left: 0;
	right: 0;
	height: 25px;
	padding: 2px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.non-expandable .widget-article-kicker, .non-expandable .widget-video-tv-show, .non-expandable .widget-article-content {
	position: absolute;
}

.widget-article-content {
	top: 25px;
	left: 0;
	right: 0;
	bottom: 0;
}

.widget-article-deck {
	color: white;
	padding: 10px;
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	bottom: 110px;
	background-color: rgba(0, 0, 0, 0.6);
	overflow: hidden;
	font-size: 15px;
	line-height: 20px; /*Used for max-height = line-height*line-clamp */
	opacity: 0;
    transition-duration: 200ms;
    transition-property: opacity;
    transition-timing-function: ease-out;
}

.widget-article:hover .widget-article-deck {
	opacity: 1;
}

.rows-1 .widget-article-deck > span, .rows-2 .widget-article-deck > span, .cascade-item .widget-article-deck > span {
	-webkit-line-clamp: 7;
	max-height: 140px;
}

.calendar-entry {
	float: left;
	width: 50%;
}

.non-expandable .non-expandable-absolute {
	position: absolute;
}

@media (min-width: 768px) {

	.rows-2 .widget-article-deck > span, .cascade-height-2 .widget-article-deck > span {
		-webkit-line-clamp: 22;
		max-height: 500px;
	}

}

.widget-article-visits-count, .widget-video-visits-count {
	font-size: 15px;
	margin-top: 1px;
}

.widget-article-visits, .widget-video-visits {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35px;
	padding: 5px 10px;
}

/*
	WIDGET ARTICLE COLUMNIST
*/

.widget-article-columnist-header {
	display: table;
	table-layout: fixed;
	width: 100%;
	position: absolute;
	top: 25px;
	height: 128px;
	border-bottom: 2px solid #983048;
}

.widget-article-columnist-header-photo {
	display: table-cell;
	width: 128px;
	vertical-align: bottom;
}

.widget-article-columnist-header-description {
	display: table-cell;
	padding-left: 10px;
	vertical-align: top;
}

.widget-article-columnist-header-description-name {
	font-size: 22px;
	margin: 10px 0;
}

.widget-article-columnist-header-description-title {
	font-weight: normal;
	font-size: 16px;
	margin: 10px 10px 0 0;
	max-height: 60px;
	overflow: hidden;
	line-height: 20px;
	-webkit-line-clamp: 3;
}

.widget-article-columnist-deck {
	position: absolute;
	top: 153px;
	bottom: 0px;
	padding: 10px;
	overflow: hidden;
}

.widget-article-columnist-deck > h3 {
	font-weight: 200;
	font-size: 16px;
	margin: 0;
	line-height: 140%;
	-webkit-line-clamp: 5;
	height: 100px;
}

*/

/*
	AFFIX
.widgets-affix.affix {
	bottom: 10px;
}
.widgets-affix {
	width: 289px;
}
.affix-bottom {
	position: absolute;
}
@media (max-width: 767px) {
	.widgets-affix {
		width: initial;
		position: static;
	}
}

*/

/*
	HEADLINE DOUBLE
*/

.headline-double .widget-article-title {
	height: 89px;
	font-size: 24px;
}

.headline-double .widget-article-photo, .headline-double .widget-article-deck {
	bottom: 109px;
}

.headline-double-item {
	height: 400px;
}

.headline-double-item .widget-article-deck > span {
	height: 220px;
	-webkit-line-clamp: 11;
}

/*
	HEADLINE UNIQUE
*/

.headline-unique-item {
	height: 500px;
}

.headline-unique .widget-article-title {
	height: 93px;
	font-size: 36px;
	font-weight: bold;
	-webkit-line-clamp: 2;
}

.headline-unique .widget-article-photo, .headline-unique .widget-article-deck {
	bottom: 128px;
}

.headline-unique-item {
	height: 360px;
}

.headline-unique-item .widget-article-deck > span {
	max-height: 320px;
	-webkit-line-clamp: 16;
}

@media (min-width: 768px) {

	.headline-unique-item {
		height: 500px;
	}

	.headline-unique .widget-article-deck {
		top: 200px;
	}

}

@media (max-width: 767px) {
	
	.headline-unique-wrapper {
		height: 400px;
	}

	.headline-unique .widget-article-title {
		font-size: 24px;
		-webkit-line-clamp: 3;
	}

}

/*
	HEADLINE MAIN AND DETAIL
*/

/*.headline-main-and-detail .widget-article-kicker {
	display: none;
}*/

/*.headline-main-and-detail .widget-article-photo, .headline-main-and-detail .widget-article-deck {
	top: 0;
}*/

.headline-main-and-detail-kicker {
	font-size: 15px;
	background-color: gray;
	color: white;
	padding: 3px 5px;
}

.headline-main-and-detail .widget-article-columnist-header {
	top: 0;
}

.headline-main-and-detail .widget-article-columnist-deck {
	top: 128px;
}

.headline-main-and-detail .widget-article-columnist-deck h3 {
	-webkit-line-clamp: 4;
	height: 90px;
}

/* 2 ARTICLES */
.headline-main-and-detail-2 .headline-main-and-detail-main, .headline-main-and-detail-2 .headline-main-and-detail-detail {
	height: 400px;
}

.headline-main-and-detail-2 .headline-main-and-detail-main .widget-article-deck > span, .headline-main-and-detail-2 .headline-main-and-detail-detail .widget-article-deck > span {
	height: 260px;
	-webkit-line-clamp: 13;
}

/* 3 ARTICLES */
.headline-main-and-detail-3 .headline-main-and-detail-main {
	height: 500px;
}

.headline-main-and-detail-3 .headline-main-and-detail-main .widget-article-deck > span {
	height: 360px;
	-webkit-line-clamp: 18;
}

.headline-main-and-detail-3 .headline-main-and-detail-detail {
	height: 240px;
}

.headline-main-and-detail-3 .headline-main-and-detail-detail .widget-article-deck > span {
	height: 80px;
	-webkit-line-clamp: 4;
}

/* 4 ARTICLES */

.headline-main-and-detail-main {
	height: 320px;
}

.headline-main-and-detail-detail > div {
	height: 320px;
}

@media (min-width: 768px) {

	.headline-main-and-detail-main {
		height: 445px;
	}

	.headline-main-and-detail-detail > div {
		height: 135px;
	}

	.headline-main-and-detail-main .widget-article-title {
		font-size: 28px;
		line-height: 34px;
		-webkit-line-clamp: 2;
	}

	.headline-main-and-detail-4 .headline-main-and-detail-main .widget-article-deck > span {
		-webkit-line-clamp: 16!important;
		max-height: 320px!important;
	}

	.headline-main-and-detail-4 .headline-main-and-detail-detail .widget-article-deck > span {
		-webkit-line-clamp: 5!important;
		max-height: 100px!important;
		margin-top: -5px;
	}

	.headline-main-and-detail-4 .headline-main-and-detail-detail .widget-article-photo, .headline-main-and-detail-4 .headline-main-and-detail-detail .widget-article-deck {
		right: 50%;
		bottom: 0;
	}

	.headline-main-and-detail-4 .headline-main-and-detail-detail .widget-article-title {
		/*top: 0;*/
		left: 50%;
	}

	.headline-main-and-detail-4 .headline-main-and-detail-detail .widget-article-visits {
		bottom: 0;
		left: 50%;
	}

}

/*
	MOST READ AND MOST PLAYED
*/

.most-read-title, .most-played-title {
	padding: 3px 5px;
	font-weight: bold;
	margin-bottom: 10px;
}

.most-read-article, .most-played-video {
	height: 205px;
}

.most-read .widget-article-title, .most-played .widget-video-title {
	height: 51px; /*115% de 20 + 5px*/
	-webkit-line-clamp: 2;
}

.most-read .widget-article-deck,.most-read .widget-article-photo, .most-played .widget-video-photo {
	bottom: 85px!important;
}

.most-read .widget-article-deck {
	padding: 5px 10px!important;
}

.most-read .widget-article-deck > span {
	-webkit-line-clamp: 4;
	height: 80px;
}

/*
	STAFF
*/
table.borderless tbody tr td, table.borderless thead tr th {
	border: none;
}

/*
	CATEGORY
*/
.category article div.lazy {
	background-repeat: no-repeat;
	background-color: #EEE;
	width: 100%;
	background-size: cover;
}

/*
	COLUMNISTS
*/

.columnist .article-toolbar-twitter {
	background-color: #ccc;
}

.columnist .article-toolbar-twitter:hover {
	background-color: #bbb;
}

.columnist-color, .alternative-color {
	color: #983048;
}

.columnist-background-color, .alternative-background-color {
	background-color: #983048;
}

.columnist-header {
	border-bottom: 3px solid #983048;
	padding: 10px 20px;
}

.columnist-name {
	color: #19181b;
	margin: 0 0 10px 0;
	font-size: 32px;
}

.first-columnist .columnist-title {
	color: #19181b;
}

.columnist-title:hover, .columnist-title:focus {
	color: #983048;
}

.columnist-box {
	position: relative;
	padding: 10px;
	height: 265px;
}

.columnist-title {
	color: #555;
	-webkit-line-clamp: 3;
	font-size: 22px;
	line-height: 24px;
	height: 72px;
}

.columnist-photo-container,
.columnist-photo-container img {
	width: 110px;
}

.columnist-photo-container img {
	position: absolute;
	bottom: 0;
}

.columnist-photo-container img {
	right: 0;
}

.columnist .article-toolbar-item {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.first-columnist .article-toolbar-item {
	right: 10px;
	left: auto;
}

.first-columnist .columnist-data-container {
	margin-left: 150px;
}

.columnist .more-news {
	margin-top: 20px;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 3px 20px;
}

.first-columnist .more-news {
	float: right;
}

.first-columnist .columnist-photo-container img {
	position: absolute;
	left: 0;
}

.first-columnist .columnist-photo-container,
.first-columnist .columnist-photo-container img {
	width: 150px;
}

@media (min-width: 992px) {

	.first-columnist .columnist-name {
		font-size: 36px;
	}

	.first-columnist img {
		width: 200px;
	}

	.first-columnist .columnist-title {
		font-size: 26px;
		line-height: 28px;
		height: 84px;
	}
}

/*
	WEATHER
*/

.temperature {
	font-size: 24px;
}

@media (max-width: 767px) {
	#temperature {
		font-size: 24px;
	}

	.temperature {
		font-size: 20px;
	}

	.current_weather {
		width: 100%;
	}
	.weather-description {
		margin-top: 15px;
	}
}


@media (min-width: 768px) {
	.temperature-container {
		text-align: center;
	}

	.temperature {
		display: block;
	}

	.weather-in {
		text-align: center;
		margin-top: 8px;
	}
	.weather-location {
		margin: 5px 0 0 20px;
	}
}

#header-menu #weather-city {
	color: #666;
}

.rounded-more-weather {
	margin-right: 5px;
	width: 18px;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	border-radius: 9px;
	text-align: center;
	background: #73C8DC;
	color: white;
}

.weather-container .select2-choice {
  background: none!important;
  border: none!important;
}

.weather-container .select2-arrow {
  background: none!important;
  border: none!important;
}

.half-day {
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}

/*
	BREAKING NEWS
*/

#toast-container > .breaking-news-toast {
	opacity: 1;
	background-color: #ececee;
	cursor: auto;
	background-image: none !important;
	padding: 5px 10px;
}

.breaking-news-toast .toast-message, .breaking-news-toast .toast-message a {
	color: #777;
	font-size: 16px;
	font-weight: bold;
}

.breaking-news-toast .toast-message a {
	text-decoration: none;
}

.breaking-news-toast .toast-close-button {
	color: #777 !important;
	outline: 0;
	padding-right: 5px;
}

#toast-container .toast-title img {
	vertical-align:middle;
	width: 40px;
}

#toast-container .toast-title {
	display: inline-block;
	background-color: #892643;
}

.breaking-news-toast-title {
	padding: 0 20px;
	font-weight: normal;
}

/*
	CONTACT, STAFF and RSS
*/

.contact, .staff, .rrs {
	color: #666;
}

.contact h3, .staff h3, .rss h3 {
	padding: 15px 30px;
	margin-top: 0;
}

.contact h4 {
	background-color: #fafafa;
	padding: 30px;
	margin-top: 20px;
}

.staff [class*="col-"], .staff p { /*do not set force and right to 0*/
	margin-top: 10px;
}

.staff .row: {
	padding: 10px 0;
	border-top: 1px solid #ccc;
}

.rss .channel-name {
	font-size: 16px;
}

.rss a {
	color: #0000ee;
}

.rss a:hover {
	text-decoration: underline;
}

.rss i {
	background-color: #ff9900;
	margin: 2px 10px 0 0;
	padding: 3px 3px 3px 5px;
	color: white;
	border-radius: 4px;
}

/*
	SEARCH
*/
.search h2 {
	margin-bottom: 15px;
	font-weight: bold;
}

.search h2, .search h3 {
	color: #444;
}

.article-date {
	font-family: Arial;
	font-size: 12px;
	padding-left: 0;
	line-height: 19px;
}

/*
	TV SHOW
*/

.tv-show .first-video .widget-video-container {
	height: 480px;
}

.tv-show .first-video .widget-video-title {
	font-size: 24px;
	height: 63px;
	bottom: 40px;
	-webkit-line-clamp: 2;
}

.tv-show-video {
	font-size: 16px;
	height: 65px;
	-webkit-line-clamp: 3;
}

.other-tv-show {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 5px;
}

@media (max-width: 768px) {
	.tv-show-video {
		font-size: 24px;
		line-height: 28px;
		-webkit-line-clamp: 2;
		height: 62px;
	}

	.other-tv-show {
		text-align: center;
		forn
	}
}

/**/