.first{}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}img,body,html{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}.ext-el-mask {
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    zoom: 1;
}

html, body {font-family:Georgia, "Times New Roman", serif;line-height:160%;height:100%;margin:0px;padding:0px; background: #f6f6f6;}

p{padding:10px 0}

img.ss{padding:4px; border:4px solid #ddd;}

.font1{font-family: Arial;}
/* colors */
.color1{color: #49afd0} /* blue */
.color1_x{color:#3ac6ec}
.color2,a.color2:link,a.color2:visited {color: #8ecd51;} /* green */
.color3{color: #798d66;}
.color4{color: #656559;}

a:link,a:visited{color:#90a5a8; text-decoration: underline;}

h1{font-size: 20pt;padding:5px 0;margin:0;font-weight:400;color:#777}
h2, .h2:link, .h2:visited, .h2{font-size: 16pt;color:#777;font-weight:400;padding:15px 0 5px 0;margin:0;}

#userLogBox{position:fixed;left:20px;top:-150px;width:180px;height: 139px;background: url('userlog_bg.png') no-repeat;border: 0px solid red;display: none;z-index:9999;}
#userLogBox h4{text-align:right;padding: 0px 10px 0px 0px;font-size: 10pt;margin:0;color: #fff; background:#70912f;}
#userLogData{padding: 8px 0 0 15px;color:#70912f;font-weight: bold;font-size:12px;}

/* footer */
#footer{padding: 10px 10px 10px 10px;margin-top:100px;border-top: 1px solid #eee;color:#888;font-style:italic;font-size:11pt;}

/* top additional menu */
#topAdditionaMenu{float:right;margin:-25px 40px 0 0;width:auto; background: none;}
ul.dropdown span.dir a:link, ul.dropdown span.dir a:visited{padding:0; border:0;}
ul.dropdown a:link, ul.dropdown a:visited, ul.dropdown li,
ul.dropdown li span.dir:hover,
ul.dropdown li span.dir,
ul.dropdown li:hover span.dir
{color:#90A5A8}
/*
#topAdditionaMenu li{float:left;padding:3px 7px; }
#topAdditionaMenu li a:link,#topAdditionaMenu li a:visited{color:#aaa; font-size:12pt}
*/


/* search form */
#rootBox{width:740px;}
#searchButton{float:right;}
#searchField{
    float:left;
    width:500px;
    padding:0 0 0 0;
    height:34px;
    font-size:24px;
    border-style:solid;
    border-color: #A1A1A1 #C1C1C1 #BBBBBB;
    border-width:1px;
    background:url('input_bg.gif') repeat-x;
    box-shadow: 0 0 3px #49AFD0; /* Параметры тени */
    box-shadow: 0 0 3px #49AFD0; /* Параметры тени */
    -moz-box-shadow: 0 0 3px #49AFD0; /* Для Firefox */
    -webkit-box-shadow: 0 0 3px #49AFD0; /* Для Safari и Chrome */
}
#searchForm{text-align:left;padding:0 0 10px 0}
#searchForm label{color:#777;font-family: Arial;font-size:14px;margin-right:10px;}

/* search result */
div.resItemBox{padding:5px 5px;margin:5px 0;}
#searchResultBox{text-align:left;}
#searchResultBox h3, .resItemBox h3{font-size:18px;font-weight:400;}
#searchResultBox div.counter{float:left;padding:0 4px 0 0;font-size:24px; color:#888;font-style:italic;}
#searchResultBox div.actionsHolder{font-size:12px;padding:4px 0 0 0;}
#searchResultBox .ddownload {font-weight:bold;}


.notFound{font-size:24px; font-weight:400;}

/* color boxes */
#colorBoxes{overflow:hidden;}
#colorBoxes ul li{float:left;padding:2px 10px;margin:0 5px;color:#fff;}
.cBox1{text-align:left;font-size:11pt;color:#333;background:#fff8e1; border-top:1px solid #ffe9a4;border-bottom:1px solid #ffe9a4;padding:10px 10px 10px 10px;margin:5px 0;}

.categoryList a:link,.categoryList a:visited{color: #49afd0;}
.categoryList{line-height:160%}
.categoryList ul li span{font-size:11pt; font-style:italic;}

ul.list1{padding: 15px 0 15px 60px;}
ul.list1 li{padding: 8px 0 8px 10px; list-style:square;}


div.iconsBox{width:120px; float:left;padding:5px 0 0 10px;}
/*
div.iconsBox span.icons{filter:gray();display:block; float:right; width:24px; height:24px; padding:0 2px;background-position:top center; background-repeat:no-repeat;}
div.iconsBox span.folder{background-image: url('ico_folder24.png');}
div.iconsBox span.out{background-image: url('ico_link24.png');}
div.iconsBox span.storage{background-image: url('ico_storage24.png');}
div.iconsBox span.popular{background-image: url('ico_popular24.png');}
div.iconsBox span.download{background-image: url('ico_download24.png');}
*/

div.iconsBox span.icons{zoom:1;margin:1px;display:block; float:right; width:8px; height:8px;border:1px solid;padding:0; line-height: 8px;}
div.iconsBox span.folder{background:#FEFF7F;border-color:#DEDF6F;}
div.iconsBox span.out{background:#EFEFEF;border-color:#CFCFCF;}
div.iconsBox span.storage{background:#9FCBFF;border-color:#8BB1DF;}
div.iconsBox span.popular{background:#FF9FFD;border-color:#DF8BDD;}
div.iconsBox span.download{background:#8ECD51;border-color:#709F6D;}
div.iconsBox span.genesis{background:#FF4F56;border-color:#DF454B;}

ul.explorer{text-align:left;font-family:Arial, Tahoma;}
ul.explorer li{display:block;padding:3px 0 3px 20px;overflow:hidden;color:#888; white-space:nowrap;font-size:12px;}
ul.explorer li a:link,ul.explorer li a:visited{display:block; float:left; overflow:hidden; width:500px; color:#333;font-size:12px; text-decoration:none;}
ul.explorer li.folder a:link,ul.explorer li.folder a:visited{font-weight:bold;}

ul.explorer li.folder{background:url('ico_folder16.png') no-repeat left center;}
ul.explorer li.ext_pdf{background:url('ico_pdf16.png') no-repeat left center;}
ul.explorer li.ext_iso{background:url('ico_iso16.png') no-repeat left center;}
ul.explorer li.ext_doc,
ul.explorer li.ext_docx{background:url('ico_doc16.png') no-repeat left center;}
ul.explorer li.ext_djv,
ul.explorer li.ext_djvu{background:url('ico_djvu16.png') no-repeat left center;}
ul.explorer li.ext_rar,
ul.explorer li.ext_tar,
ul.explorer li.ext_zip,
ul.explorer li.ext_gz,
ul.explorer li.ext_bz2,
ul.explorer li.ext_cab,
ul.explorer li.ext_z,
ul.explorer li.ext_7z{background:url('ico_archive16.png') no-repeat left center;}

ul.explorer li.ext_png,
ul.explorer li.ext_jpg,
ul.explorer li.ext_jpeg,
ul.explorer li.ext_gif,
ul.explorer li.ext_ico{background:url('ico_img16.png') no-repeat left center;}

ul.explorer li.ext_htm,
ul.explorer li.ext_xhtml,
ul.explorer li.ext_dhtml,
ul.explorer li.ext_chm,
ul.explorer li.ext_mht,
ul.explorer li.ext_html{background:url('ico_html16.png') no-repeat left center;}

ul.explorer li.ext_rtf{background:url('ico_rtf16.png') no-repeat left center;}
ul.explorer li.ext_txt{background:url('ico_txt16.png') no-repeat left center;}

ul.explorer li.up{background:url('ico_up16.png') no-repeat left center;}
.currentDir{font-family:Arial, Tahoma;overflow:hidden; font-size:12px; text-align:left;padding:2px 10px 2px 20px;color:#fff;background:#49AFD0;}
.currentDir span.title{display:block;float:left;}
.currentDir span.size{display:block;float:right;}

ul.explorer li a:visited{color:#777;}
ul.explorer li a:link:hover, ul.explorer li a:visited:hover{text-decoration:underline;}
ul.explorer li span.size{float:left;padding:0 10px; width:50px;}
ul.explorer li span.ext{float:left;padding:0 10px; width:30px;}

#footer table tr td{padding: 3px;vertical-align: middle;}

a.flagsLink{width:16px; background: url('flags.png') no-repeat;}
ul.dropdown a.flagsLink:hover{text-decoration: none;}
a.flag_ru{background-position: 0 3px;}
a.flag_en{background-position: 0 -18px;}
a.flag_us{background-position: 0 -39px;}
a.flag_ua{background-position: 0 -60px;}
a.flag_pl{background-position: 0 -80px;}


/*cBoxes*/
.cBox{text-align:left;font-size:11pt;padding:10px 10px 10px 10px;margin:5px 0;border-top:1px solid;border-bottom:1px solid;}
.cBoxSuccess{background: #DEE8B7; color:#3F7227; border-color:#3F7227;}
.cBoxSuccess a{color:#3F7227;}

/* book details */
.bookDetailsBox{zoom:1; overflow:hidden;}
.bookDetailsBox div.bookProperty{float:left; width:45%;font-size:10pt}
.bookDetailsBox div.bookProperty span{float:left;color:#888;font-size:10pt;width:120px}

/* converter */
.converterLink{
    color: #8ECD51;
    cursor: pointer;
    text-decoration: underline;
    font-size: 10pt;
    font-weight: bold;
}

input::-webkit-input-speech-button {
    -webkit-appearance: button;
    background: url('voice.png') no-repeat 0px 0px;
    width: 15px;
    height: 16px
}

div.sphinx h3{
    color: #888 !important;
}


/* SEARCH FORM */
.g-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.b-search-form{
    width: 738px !important;
    margin-bottom: 6px;
}

.b-search-input{
    border: 1px solid #B2B2B2;
    border-radius: 1px 3px 3px 1px;
    padding: 0;
    vertical-align: top;
    width: 736px !important;
    oberflow:hidden;
    background: #fff;
}

.b-search-input .input{
    width: 663px;
    float: left;
    height: 38px;
    position: relative;
    background:url('input_bg.gif') repeat-x;
}

.b-search-input .input input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #333333;
    display: block;
    font: 22px/20px Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0 none;
    padding: 7px 0 7px 8px;
    width: 655px;

}

.b-search-input .darr {
    /*background: url("../images/icon-pack.png") no-repeat scroll -65px 0 transparent;*/
    display: block;
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: 7px;
    text-indent: -999em;
    top: 9px;
    width: 14px;
}

.b-search-input .button {
    border-left: 1px solid #AFAFAF;
    float: left;
    margin-right: -100%;
    vertical-align: top;
    width: 72px;
}

.b-search-input .button .inner {
    display: block;
}

.b-search-input .button input {
    background: -moz-linear-gradient(-90deg, #FFFFFF, #E8E7E9) repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 1px 3px 3px 1px;
    cursor: pointer;
    font: bold 13px/15px Arial,Helvetica,sans-serif;
    height: 38px;
    width: 72px;
}

.b-search-form.hover, .b-search-form:hover {
    box-shadow: 0 0 4px #49AFD0; /* Параметры тени */
    box-shadow: 0 0 4px #49AFD0; /* Параметры тени */
    -moz-box-shadow: 0 0 4px #49AFD0; /* Для Firefox */
    -webkit-box-shadow: 0 0 4px #49AFD0; /* Для Safari и Chrome */
}

ul.searchOptionsMenu{font-family: Arial;}
ul.searchOptionsMenu li a{font-size:10pt; color:#49AFD0}
ul.searchOptionsMenu li{float:right; text-align: right;padding: 0 5px; font-style: italic; clear: both}
ul.searchOptionsMenu li.active{background: #49AFD0;}
ul.searchOptionsMenu li.active a{color: #fff; text-decoration:none;font-size:10.5pt;text-shadow: 0 0 5px #4B868E;}
#searchOptionsBox{
    padding:0 25px 0 0;
}

#logoText{text-shadow: 1px -1px 1px #888;}

/* Amazon widget*/
.amzn_wdgt .wdgt_hd,
.amzn_wdgt .wdgt_ft,
.amzn_wdgt .wdgt_pgn
{
    display: none !important;
}

.amzn_wdgt
{
    border: 0 !important;
    background: transparent !important;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.pagination li {
    display: inline-block;
    padding: 2px 8px;
}
.pagination li.current {
    background-color: #90a5a8;
}
