body{font-family: PMingLiu, Mingliu;}

/** header parts **/
#head{margin-top: 5px;margin-right: auto;margin-left: auto;border-top: 1px solid #cccccc;border-bottom:1px solid #ccc;padding-top: 3px;margin-bottom:10px;}
#head2{color:#ccc;text-align:center;margin-top:8px;margin-bottom: 0;height:16px;
      line-height:15px;width:100%;font-size:12px;font-family:arial;white-space: nowrap;letter-spacing: -0.1px;}
#head2 a{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:10px;}
#head2 a:hover{color:#ffaa00;}
.newslist .more{display:block;text-align:right;}

#logo{
	height: 80px;
	width: 100%;
	margin-top:5px;
}
#logo a{background: url(../images/DJY-Web-Logo.png) no-repeat;margin:0 auto;display:block;width:210px;height:80px;}
#logo a:hover{text-decoration:none;}
#top_sign{
	height: 28px;
	width: 100%;
	margin-bottom:0px;
	font-family:SimSun,PSimSun;
}
#top_sign div{
	height:28px;line-height:28px;float:left;margin-right:8px;font-size:13px;
}
#top_area select{
	font-size: 11px;
	color: #333;
	float: left;
	width: 90px;
	padding:0;
	margin:0;
	height:20px;
	margin-top: 4%;
}
#top_face iframe{margin-top:3px;}
#top_rsss img{
	float: left;
	height: 16px;
	width: 16px;
	margin-top:6px;
}
#top_sign #top_rsss_tt{
	float: left;
	margin:0;
}
#top_navi{
	font-size: 13px;
	color: #5B8ABD;
	float: left;
	width: 37px;
}
#top_sin{
	float: left;
	width: 32px;
}
#top_name{
	float: left;
	width: 150px;
	height: 18px;
	padding-top: 1px;
}
#top_name input{
	
	font-size: 13px;
	color: #5B8ABD;
	width: 90px;
	height: 13px;
	font-size: 11px;
}
#top_ps{
	float: left;
	width: 135px;
	height: 18px;
	padding-top:1px;
}
#top_ps input{
	font-size: 13px;
	color: #5B8ABD;
	width: 80px;
	height: 13px;
	font-size: 11px;
}
#top_sin_but{
	height: 18px;
	width: 38px;
	float: left;
	margin-top: 3px;
	margin-right: 10px;
}
#top_lg{
	float: left;
	width: 32px;
	margin-left: 5px;
}
.top_main_navi{
	float: left;
	height: 54px;
	width: 133px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	margin-bottom: 10px;
	margin-left: 10px;
}
.top_main_navi2{
	float: left;
	height: 54px;
	width: 70px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	margin-bottom: 10px;
	margin-left: 10px;
}
.top_main_navi3{
	float: left;
	height: 54px;
	width: 105px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	margin-bottom: 10px;
	margin-left: 10px;
}
.top_main_sgdiv{
	float: left;
	height: 18px;
	line-height:18px;
	width: 28px;
	margin-right: 4px;
	white-space: nowrap;
}
.top_main_ep{
	float: left;
	height: 54px;
	width: 65px;
	margin-bottom: 10px;
	margin-left: 10px;
	border-right:1px solid #cccccc;
}
.top_main_ep2{
	float: left;
	height: 60px;
	width: 75px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.top_main_epin{
	float: left;
	height: 18px;
	line-height:18px;	
	width: 65px;
}
.top_main_epin2{
	float: left;
	height: 18px;
line-height:18px;
}
.slideshow_thumbnail{
	max-height:32px;
}
#focus_left_photo{
	visibility:hidden;
}
/*==================================版頭=========================================*/
.time{
	display:block;text-align:center;
	font-size: 12px;
	height: 15px;
	width: 215px;
	color: #4372A5;
}
/*------------------------------版頭登入帳密----------------------------*/
.top_sign{
	font-size: 13px;
	color: #5B8ABD;
}
.top_sign a{
	color: #5B8ABD;
	
}
.top_sign a:link,.top_sign a:visited{
	color: #5B8ABD;
	
}

.top_sin a{  /*------註冊-------*/
	font-size: 13px;
	color: #F36;
}


/*------------------------------版頭選單----------------------------*/
.top_main_sg a{
	
	font-size: 13px;
	color: #635C87;
	
}
.top_main_sg a.selected{ /*------重點選單-------*/
	color: #434080;
	font-weight: bold;
}

.fred, .top_main_sg a.fred{color:#BF0659;}

#focus_left_photo ul li .slide_title a h1{
	font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
    
/*==================================版頭結束=========================================*/

/*==================================版頭廣告區=========================================*/

/*------------------------------版頭廣告選單----------------------------*/
#head_ad_navi_sg{
	
	font-size: 13px;
	color: #FFF;
	height: 36px;
	width: 20px;
	padding-top: 3px;
	padding-left: 3px;
	background-image: url(../images/adbt2.gif);
}
#head_ad_navi_sgw{
	
	font-size: 13px;
	color:  #204173;
	height: 36px;
	width: 20px;
	padding-top:3px;
	padding-left: 3px;
	background-image: url(../images/adbt1.gif);
}

/*------------------------------廣告----------------------------*/
.head_ad_cont_sg a{
	font-size: 13px;
	color: #3372BD;
}

 /*==================================焦點區=========================================*/
.focus_left_head_name{
	font-size: 14px;
	color: #204173;
	height: 24px;
	width: 120px;
	float: left;
	line-height:24px;
	margin-left: 30px;
}
.focus_left_head_speed{/*------速報-------*/
	
	font-size: 12px;
	color: #BF0659;
	font-weight: normal;
	
}
.focus_left_head_speed a{
	
	font-size: 12px;
	color: #BF0659;
	font-weight: normal;
	
}

.focus_center_hotlink_wd{/*------熱門連結文字-------*/
	
	font-size: 13px;
	color: #aa0000;
	
}
.focus_center_hotlink_wd a{
	
	font-size: 13px;
	color: #aa0000;
	
}

.focus_cont_main_lt_t2 a{/*------神韻藝術團特別報導-------*/
	font-size: 13px;
	color: #204173;
	height: 18px;
	width: 150px;
	margin-bottom: 3px;
	margin-left: 10px;
	font-weight: bold;
	
}

.focus_cont_main_lt_sy a{/*------神韻特刊-------*/
	font-size: 12px;
	color: #FF538B;
	height: 18px;
	width: 80px;
	line-height:18px;
	float: left;
	font-weight: bold;	
}
#focus_center_news_navi_sg{/*------焦點新聞選單-------*/
	
	font-size: 13px;
	color: #F2F2F2;
	background-image: url(../images/focus_but-2.gif);
	float: left;
	height: 19px;
	width: 38px;
	padding-top: 3px;
	padding-left: 12px;
}
#focus_center_news_navi_sgw{
	
	font-size: 13px;
	color: #204173;
	float: left;
	height: 19px;
	width: 38px;
	padding-top: 3px;
	padding-left: 12px;
	background-image: url(../images/focus_but-1.gif);
}
.focus_cont_main_lt_t4 a h2{
	color: #aa0000;
	font-size: 13px;
	font-weight: bold;
	margin-top: 0;
	letter-spacing: 1px;
	display: inline-block;
}
.title.specialtitle a h2{
	color: #ff0099;
	font-size: 13px;
	font-weight: bold;
	margin-top: 0;
	letter-spacing: 1px;
}
#trending_box .title{
	letter-spacing: 2px;
}
#trending_box .box1 .newslist a h2{	
	font-size: 15px;
	font-weight: normal;
	margin-top: 0;
	letter-spacing: 1px;
}
.tu, .tu_red{/*------圖-------*/	
	font-size: 13px;
	color: #FF538B;
}
.navbox .focus_cont_main_lt_t4 li{font-size:13px;} 

.focus_cont_main_lt_t4  li{font-size:13px;}
.focus_cont_main_lt_t4 a{color: #aa0000;}
.focus_cont_main_lt_t4 a:visited{color: #aa0000;}

.focus_cont_main_sg{/*------專題列表新聞-------*/
	color: #515C79;
	height: 18px;
	width: 280px;
	margin-bottom: 7px;
	float: left;
	
	overflow:hidden;
}
.focus_cont_main_sg a{
	color: #0062AA;
	font-size:16px;
	
}
.focus_center_news_list1 .focus_cont_main_sg a{font-size:15px;color:#333333;}

.focus_cont_main_sg li{
	list-style-image: url(../images/point.gif);
	list-style-position: inside;
	list-style-type: none;
}
/*------------------------------焦點左選單----------------------------*/
#focus_leftnavi_navi {
	width: 100px;
	
	font-size: 13px;
	float: left;
}
#focus_leftnavi_navi ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#focus_leftnavi_navi li {
	position:relative;
}
#focus_leftnavi_navi li a:link, #focus_leftnavi_navi li a:visited  {
	display: block;
	color: #734F3E;
	
	background-image: url(../images/left_but_02.gif);
	height: 21px;
	width: 100px;
	padding-top: 7px;
	padding-left: 0px;
}
#focus_leftnavi_navi li a.active1, #focus_leftnavi_navi li a:hover {
	height: 21px;
	width: 100px;
	padding-top: 7px;
	padding-left: 0px;
	color: #C60;
	background-image: url(../images/left_but_03.gif);
}
#focus_leftnavi_navi li a:hover .zixunbox, #focus_leftnavi_navi li:hover .zixunbox{
	display:block;
}
#focus_leftnavi_navi li .zixunbox{
	display:none;
	position:absolute;left:100px;top:-60px;padding:10px 10px 4px 10px;
	width:650px;background:#fff;z-index:1000;border:1px solid #cccccc;border-width:40px 40px 40px 1px;
}
#focus_leftnavi_navi li #zixunbox259, #focus_leftnavi_navi li #zixunbox296{left:100px;top:-210px;}
#focus_leftnavi_navi li #zixunbox435{top:-190px;}
#focus_leftnavi_navi li #zixunbox995, #focus_leftnavi_navi li #zixunbox260, #focus_leftnavi_navi li #zixunbox1050{left:100px;top:-110px;}
#focus_leftnavi_navi li #zixunbox976{top:-30px;}

.zixunbox .newslist{line-height:1.5em;background:url(../images/point.gif);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left:15px;
}
#focus_leftnavi_navi li .newslist a:link, #focus_leftnavi_navi li .newslist a:visited{color:#333333;font-size:15px;}

#focus_leftnavi_navi li .zixunbox a, #focus_leftnavi_navi li .zixunbox a:visited{
	background:none;display:inline;color:#999999;
}
.zixunbox .box{
	float:left;width:300px;
}
.focus_leftnavi_navi_img{
	height: 16px;
	width: 16px;
	float: left;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 10px;
}
/*------------------------------焦點右廣告----------------------------*/
.focus_ad_bx_9p_number{/*------九評-------*/
	font-family: Arial;
	font-size: 16px;
	color: #BF0659;
	font-weight: bold;
	/*float: left;
	height: 20px;
	width: 120px;
	margin-top: 42px;
	margin-left: 66px;*/
}
.focus_ad_bx_9p_sgr{
	font-size: 12px;
	height: 18px;
	width:160px;
	margin-bottom: 2px;
	float: left;
	margin-left: 6px;
	
}
.focus_ad_bx_9p_sgr a{
	color: #BF0659;
}

.focus_ad_bx_9p_sg{
	
	font-size: 12px;
	color: #515C79;
	height: 18px;
	line-height:18px;
	width:160px;
	margin-bottom: 2px;
	float: left;
	margin-left: 6px;
	
	overflow:hidden;
}
.focus_ad_bx_9p_sg a{
	color: #515C79;
}

.focus_ad_bx_9p_sg li{
	list-style-image: url(../images/point.gif);
	list-style-position: inside;
	list-style-type: none;
}
.focus_ad_bx_9p_lang a{/*------多語種下載-------*/
	color: #0265a9;
	
}

.focus_ad_bx_9p_more{
	display:none;
	float: right;
	height: 18px;
	width: 48px;
	margin-top: 5px;
	margin-right: 30px;
	background-image: url(../images/more.gif);
}
.focus_ad_bx_ad_centsg a{/*------焦點區右廣告列表-------*/
	
	font-size: 12px;
	color: #635C87;
	float: left;
	height: 16px;
	width: 170px;
	margin-right: 0px;
	margin-bottom: 3px;
	
}

/*==================================焦點區結束=========================================*/
#notice{
background:#EBEBEB none repeat scroll 0 0;
border-bottom:1px solid #CCCCCC;
font-size:13px;
height:25px;
line-height:25px;
text-align:center;
}
 /*==================================精選區=========================================*/
.careselect_fonstly a{
	
	font-size: 12px;
	color: #515C79;
	
}

/*==================================精選區結束=========================================*/

 /*==================================環球新聞區=========================================*/
.global_manu_name_t{/*------類別名稱-------*/
	
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
	margin-top: 3px;
	margin-left: 40px;
	display: block;
}
.global_cont_listsg{/*------環球新聞列表-------*/
	
	font-size: 15px;
	color: #515C79;
	height: 18px;
	width: 310px;
	margin-bottom: 6px;
	float: left;
	overflow:hidden;
}
.global_cont_listsg a{
	color: #333333;
	
}

.global_cont_listsg b{/*------類別-------*/
	color: #7C4495;
	font-weight: normal;
}
.global_cont_listsg li{
	list-style-image: url(../images/point-pu.gif);
	list-style-position: inside;
	list-style-type: none;
}
.global_hot_navi_more a{/*------熱門排行更多-------*/
	
	font-size: 11px;
	color: #204173;
	float: right;
	width: 60px;
	margin-right: 10px;	
}

.global_hot_contsg{/*------熱門排行列表-------*/
	
	font-size: 15px;
	color: #515C79;
	height: 18px;
	width: 270px;
	margin-bottom: 6px;
	float: left;
	margin-left: 22px;
	overflow:hidden;
}
.global_hot_contsg a{
	color: #333333;
	
}

.global_hot_contsg li{
	list-style-image: url(../images/point.gif);
	list-style-position: inside;
	list-style-type: none;
}
/*==================================環球新聞區結束=========================================*/

 /*==================================娛樂追星區=========================================*/
.star_manu_name_t{/*------類別名稱-------*/
	
	font-size: 15px;
	color: #FFF;
	font-weight: bold;
	margin-top: 3px;
	margin-left: 30px;
	display: block;
}
.star_picsg{/*------娛樂追星圖片標題-------*/
	
	font-size: 12px;
	color: #546167;
	
}
.star_picsg a{
	color: #546167;
	
}

.star_cont_listsg{/*------娛樂追星標題列表-------*/
	
	font-size: 15px;
	color: #515C79;
	height: 18px;
	width: 310px;
	margin-bottom: 6px;
	float: left;
	overflow:hidden;
}
.star_cont_listsg a{
	color: #333333;
	
}

.star_cont_listsg li{
	list-style-image: url(../images/point-pu.gif);
	list-style-position: inside;
	list-style-type: none;
}
/*==================================娛樂追星區結束=========================================*/

/*==================================體壇焦點區=========================================*/
.sports_manu_name_t{/*------類別名稱-------*/
	
	font-size: 15px;
	color: #FFF;
	font-weight: bold;
	margin-top: 3px;
	margin-left: 30px;
	display: block;
}
.sports_picsg{/*------體壇圖片標題-------*/
	
	font-size: 12px;
	color: #546167;
}
.sports_picsg a{
	color: #546167;
	
}

.sports_cont_listsg{/*------體壇標題列表-------*/
	
	font-size: 15px;
	color: #515C79;
	height: 18px;
	width: 310px;
	margin-bottom: 6px;
	float: left;
}
.sports_cont_listsg a{
	color: #515C79;
	
}

.sports_cont_listsg li{
	list-style-image: url(../images/point-pu.gif);
	list-style-position: inside;
	list-style-type: none;
}
 /*==================================體壇焦點區結束=========================================*/
 
 /*==================================生活消費區=========================================*/
 .life_manu_name_t{/*------類別名稱-------*/
	
	font-size: 15px;
	color: #FFF;
	font-weight: bold;
	margin-top: 3px;
	margin-left: 30px;
	display: block;
}
.life_picsg{/*------生活消費圖片標題-------*/
	
	font-size: 12px;
	color: #546167;
	
}
.life_picsg a{
	color: #546167;
	
}

.life_cont_listsg{/*------生活消費標題列表-------*/
	overflow:hidden;
	font-size: 15px;
	color: #515C79;
	height: 18px;
	width: 310px;
	margin-bottom: 6px;
	float: left;
	
}
.life_cont_listsg a{
	color: #333333;
	
}

.life_cont_listsg li{
	list-style-image: url(../images/point-pu.gif);
	list-style-position: inside;
	list-style-type: none;
}
 /*==================================生活消費區結束=========================================*/
 
  /*==================================文化博覽區=========================================*/
  .culture_manu_name_t{/*------類別名稱-------*/
	
	font-size: 15px;
	color: #FFF;
	font-weight: bold;
	margin-top: 3px;
	margin-left: 30px;
	display: block;
}
.culture_picsg{/*------文化博覽圖片標題-------*/
	
	font-size: 12px;
	color: #546167;
}
.culture_picsg a{
	color: #546167;
	
}

.culture_cont_listsg{/*------文化博覽標題列表-------*/
	
	font-size: 15px;
	color: #515C79;
	height: 18px;
	width: 310px;
	margin-bottom: 6px;
	float: left;
}
.culture_cont_listsg a{
	color: #515C79;
	
}

.culture_cont_listsg li{
	list-style-image: url(../images/point-pu.gif);
	list-style-position: inside;
	list-style-type: none;
}
/*==================================文化博覽區結束=========================================*/
 
/*==================================紀元博客區=========================================*/
.blog_manu_name_t{/*------類別名稱-------*/
	
	font-size: 15px;
	color: #FFF;
	font-weight: bold;
	margin-top: 3px;
	margin-left: 30px;
	display: block;
}
.blog_picsg{/*------紀元博客圖片標題-------*/
	
	font-size: 12px;
	color: #546167;
}
.blog_picsg a{
	color: #546167;
	
}

.blog_cont_listsg{/*------紀元博客標題列表-------*/
	
	font-size: 15px;
	color: #515C79;
	height: 18px;
	width: 310px;
	margin-bottom: 6px;
	float: left;
	overflow:hidden;
}
.blog_cont_listsg a{
	color: #333333;
	
}

.blog_cont_listsg b{
	color: #7C4495;
	font-weight: normal;
}
.blog_cont_listsg li{
	list-style-image: url(../images/point-pu.gif);
	list-style-position: inside;
	list-style-type: none;
}


 
/*==================================頁尾區=========================================*/
.map_name{
	
	font-size: 13px;
	color: #204173;
}
.map_link{
	
	font-size: 13px;
	color: #546167;
	
}
.map_link a{
	color: #546167;
	
}

.map_link b{
	color: #0265a9;
	font-weight: bold;
}
.friendlink_name{
	
	font-size: 15px;
	color: #204173;
}
#friendlink_cont{
	padding-bottom:10px;
}
.friendlink_cont{
    line-height: 25px;	
}
.friendlink_cont a{
	
	font-size: 12px;
	color: #546167;
	
}

#friendlink_cont a:hover{	
	color:#e66f00;
    text-decoration: underline;
}

.und_servies_yp{
	
	font-size: 13px;
	color: #204173;
}
.und_servies_yp a{
	color: #204173;
	
}

.pr_name{
	
	font-size: 15px;
	color: #204173;
}
.und_mu_tp{
	
	font-size: 13px;
	color: #FFF;
}
.und_mu_tp a{
	color: #FFF;
	
}

/*=======================front layout ===================*/
 body {
	margin-top: 0px;
	background-color: #FFF;
	text-align:left;
}
a{color:#0062aa;}
a{text-decoration: none;}
a:hover{text-decoration:underline;}
.clear{clear:both;}

.newslist a:visited{color:#999999;}

img{border:0;}
#container{background:#fff;margin:0 auto;position:relative;}

.ymktitle, .newslist {background:url(../images/point.gif);background-position:0px 5px;background-repeat:no-repeat;height:25px;overflow:hidden;padding:0 0px 0 10px;text-align:justify;white-space:nowrap;line-height:25px;font-size:15px;width:100%;}
.ymktitle a, .newslist a{color:#333;}
/*.newslist a:hover{color:#47b9d1;}*/

#focus_left_sp .newslist a, #focus_center_bx .newslist a{color:#0062aa;font-size:16px;}
#focus_center_bx .newslist a:visited{color:#999999;}
/*#focus_center_bx .newslist a:hover{color:#47b9d1;}*/
#focus_ad_bx_9p_cont .newslist{font-size:13px;height:18px;line-height:18px;background-position:0px 5px;}
#focus_ad_bx_9p_cont .newslist a{color:#0062aa;}
#focus_center_bx .focus_center_news_list1 .newslist a{color:#333333;}
#focus_center_bx .focus_center_news_list1 .newslist a:visited{color:#999;}
/*#focus_center_bx .focus_center_news_list1 .newslist a:hover{color:#47b9d1;}*/
.newslist small{color:#555;font-size:13px;}

.ymktitle{background: url(../images/video-red.gif) no-repeat 0 5px;padding-left:20px;}

#cover{display:none;position:absolute;top:0;left:0;width:100%;height:3000px;background:#555555;z-index:1000;
/* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;}



#newfrontA1{z-index:100;width:728px;text-align:center;}
#head_ad{margin:10px 5px;}

#head_ad_navi{
	float: left;
	height: 156px;
	width: 20px;
}
#head_ad_cont{
	height: 137px;
	margin:10px 5px;
}
#head_ad_cont1{
	float: left;
	width: 125px;
	margin-right: 10px;
	display:inline;
}
#head_ad_cont2{
	float:left;
	width:728px;
	margin-right:10px;
	display:inline
}
#head_ad_cont3{
	float:right;
	width:125px;
	display:inline;
}
.head_ad_cont_sgdiv{
	float:left;
	height: 16px;
	width: 110px;
	overflow:hidden;
	margin-bottom: 4px;
}
.head_ad_cont_sgdiv2{
	float:left;
	height: 16px;
	width: 121px;
	overflow:hidden;
	margin-top: 4px;
}
#head_ad_cont2 .head_ad_cont_sgdiv{width:121px;}
#head_ad_cont_sgbx{
	width: 106px;
	margin-right:7px;
	float: left;
}
#head_ad_cont_sg_ad{
	height: 90px;
	width: 728px;
	float: left;
	margin:3px 0;
}
#global_hot_navi{
	height: 24px;
	width: 100%;
	/*background-image: url(../images/gobal_hot_navi1.gif);*/
}
.global_hot_cont{
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #c7c7c7;
	border-left-color: #c7c7c7;
	height: 216px;
	padding-left:10px;
	padding-top: 10px;
	width:100%;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c7c7c7;
}
#global_hot_navi_name{	
	font-size: 15px;
	color: #204173;
}
ul.title-area{
	padding: 0;
}
/**/
#focus_are{
	margin: 8px auto 0 auto;position:relative;
}
 

#yaowenimg{display:none;padding:5px;position:absolute;z-index:1010;text-align:right;}
#yaowenimg img{border:10px solid #ebebeb;}
.header .h-left{position:absolute;left:5px;top:5px;/*background:url(../images/header-left.gif);*/height:10px;width:10px;}
.header .h-right{position:absolute;right:5px;top:5px;/*background:url(../images/header-right.gif);*/height:10px;width:10px;}
.boxfooter .h-left{position:absolute;left:5px;bottom:5px;/*background:url(../images/footer-left.gif);*/height:10px;width:10px;}
.boxfooter .h-right{position:absolute;right:5px;bottom:5px;/*background:url(../images/footer-right.gif);*/height:10px;width:10px;}
#bottomimgbox{display:none;position:absolute;z-index:1010;}
#bottomimgbox img{border:10px solid #ebebeb;}
#mouseoverimagehelper{position:absolute;z-index:1010;}

.title{height: 24px;line-height:24px;text-align:center;font-weight:bold;font-size:13px;border-radius:0.625em 0.625em 0 0;border:1px solid #ccc;border-bottom:0;}
.title a{font-weight:bold;font-size:13px;color:#0062aa;}
.title a:visited{color:#0062aa;}
.specialtitle{font-weight:bold;}
.specialtitle a{color:#ff0099}
.specialtitle a.visited{color:#ff0099}
.box{margin-bottom:5px;overflow:hidden;border:1px solid #ccc;padding:5px 0 10px 5px;}
#renwubox{position:relative;}
#renwubox .stitle{font-weight:bold;height: 24px;line-height: 24px;font-size:14px;}
#renwubox .stitle a{color:#204173}
#renwubox .title{position:absolute;top:0px;left:50px;background:none;margin:0;text-align:left;}
#renwubox .imgbox{height:100px;width:246px;overflow:hidden;border:2px solid #ccc;}
#renwubox .imgbox img{width:246px;}

#focus_ad_bx{
	display:inline;
	height:auto;
}
#careselect_bx{
	position:absolute;
	right:0;bottom:0;	
	width: 885px;
	height: 180px;
}
*html #careselect_bx{bottom:-100px;}
.focus_left_navi{
	float:left;
	padding-left:0px;
	padding-right:0px;
	padding-top: 5px;
	display:inline;
	background: url(../images/all.png);
	background-size:341px 105px;
	width: 100%;
	height: 35px;
	background-position: 0 0px;
	z-index:5;
}

#focus_left_head{
	height: 24px;
	width: 175px;
/*	background-image: url(../images/focus_nmae_bg1.gif);
	background-repeat: no-repeat;
	background-position: left;*/
	font-weight: bold;
}
#focus_left_head_speed{
	float: right;
	height: 18px;
	width: 180px;
	margin-left: 0px;
	margin-top: 3px;
}
#focus_left_photo{
	height: auto;
	width: 100%;
	margin-bottom:10px;
}


#focus_center_hotlink{
	height: 20px;
	width: 100%;
}
#focus_center_hotlink_wd{
	height: 18px;

	margin-top: 3px;
	margin-left: 10px;
}

#focus_cont_main_left_navbw{
	font-size: 13px;
	color: #546167;
	text-align: center;
	float: left;
	height: 21px;
	width: 125px;
	padding-top: 3px;
	margin-bottom: 10px;
	font-weight: bold;
	background-image: url(../images/foucs_m_navbut-2.gif);
}
#focus_cont_main_left_navs{
	font-size: 13px;
	color: #204173;
	text-align: center;
	height: 21px;
	width: 62px;
	float: left;
	padding-top: 3px;
	margin-bottom: 10px;
	font-weight: bold;
	background-image: url(../images/foucs_m_navbut-s1.gif);
}
#focus_cont_main_left_navsw{
	font-size: 13px;
	color: #546167;
	text-align: center;
	height: 21px;
	width: 62px;
	float: left;
	padding-top: 3px;
	margin-bottom: 10px;
	font-weight: bold;
	background-image: url(../images/foucs_m_navbut-s2.gif);
}

/*#focus_leftnavi_top{
	font-size: 15px;
	color: #7B5E40;
	float: left;
	height: 21px;
	width: 77px;
	padding-top: 10px;
	padding-left: 23px;
	background-image: url(../images/left_but_01.gif);
	font-weight: bold;
}*/

/*#focus_leftnavi_dn{
	float: left;
	height: 9px;
	width: 100px;
	margin-bottom: 3px;
	background-image: url(../images/left_but_13.gif);
}*/

#focus_ad_bx_search{
	height: 14px;
	width: 300px;
	margin-bottom: 10px;
}
#focus_ad_search input{
	height: 20px;
	width: 230px;
	float: left;
	margin-right: 5px;
	padding:0;
}
#focus_ad_bx_9p{
	/*height: 190px;*/
	width: 100%;
	margin-bottom: 5px;
	border: 1px solid #E7E7E7;
	/*background-image: url(../images/9pin.jpg);*/
	background-repeat: no-repeat;
	background-position: 3px 10px;
}
#jiupingimg{float:left;width:85px;height:140px;overflow:hidden;}

#focus_ad_bx_9p_name{
	float: left;
	width: 203px;
	margin-top: 0px;
	margin-left: 10px;
	position:relative;
	font-size:13px;
}

#focus_ad_bx_9p_name img{vertical-align:middle;}
#jiupingbox{
	display:none;position:absolute;right:180px;top:-30px;width:700px;border:20px solid #cccccc;background:#ffffff;line-height:1.5em;font-size:15px;z-index:1004;
}
#focus_ad_bx_9p_name .tczg{font-size:13px;color:#0062aa;display:block;text-align:left;padding-left:10px;}
.focus_ad_bx_9p_number{text-align:center;display:block;font-size:30px;}
#focus_ad_bx_9p_name #jiupingimg2{text-align:center;margin-bottom:5px;font-family:SimSun,PSimSun;}

#jiupingbox #quitccp1{float:left;width:300px;list-style:none;margin:30px;padding:0;display:inline;}
#jiupingbox ul{margin:0;padding:0;}
#jiupingbox ul li{list-style:none;/*background:url(../images/point.gif)*/ no-repeat 0 5px;padding-left:5px;}
#jiupingbox li a{color:#0062AA}
/*#jiupingbox li a:hover{color:#47b9d1;}*/
#jiupingbox #quitccp{width:260px;float:left;margin:30px;position:relative;display:inline;}
#jiupingbox b.center{text-align:center;display:block;}
#jiupingbox #quitccp #closeme{position:absolute;right:-20px;top:-20px;font-size:13px;}
#jiupingbox .title{margin-bottom:10px;}
#jiupingbox #quitccp p{margin:10px 0;text-align:right;}
#focus_ad_bx_9p_cont{
	float: left;
	/*height: 105px;*/
	width: 203px;
	margin-top: 2px;
	margin-left: 10px;
	overflow:hidden;
}

.currentslide{display:block;}


.focus_cont{
	margin-bottom:10px;
}

#shenghuobox_cont{
	border:1px solid #ccc;
	z-index:1000;
}

#yulebox_cont{
	border:1px solid #ccc;
	z-index:1000;
}

#wenhua_cont{
	border:1px solid #ccc;
}

#focus_cont_main_left_are{
	float:left;
	height:auto;
	margin-top:1%;
	margin-bottom:1.5%;
}

#yulebox_cont #focus_cont_main_left_are{
	float:left;
	height:auto;
	margin-top:2%;
	margin-bottom:1.5%;
}

.focus_cont_main_left{
	overflow:hidden;
}
.focus_cont_main_left .newslist, .ymktitle{font-weight:normal;}
*html .focus_cont_main_left .newslist, *html .ymktitle{font-weight:normal;width:240px;overflow:hidden;} 

#focus_cont_main_left_sy{
	width:100%;
	margin-bottom: 10px;
}

#focus_left_bx{
	width: 33%;
}

.focus_leftnavi_navi {  
	padding-top:0.75%;
	padding-right:0px;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	/*width: 340px;*/
	color: #0288D1;
}

.focus_leftnavi_navi .large-2{
	padding-left:0px;
	padding-right:0px;	
}

.focus_leftnavi_navi li {
	position:relative;
}

.focus_leftnavi_navi li a.zixun, .focus_leftnavi_navi li a.zixun:visited  {
	display: block;
	color: #734F3E;
	text-decoration: none;
	background: url(../images/left_but_02.gif) no-repeat left center;
	height: 27px;
	line-height:27px;
	width: 100%;
	padding-left: 10px;
}
.focus_leftnavi_navi li img{vertical-align:text-bottom;}

.focus_leftnavi_navi li a.active1, .focus_leftnavi_navi li a.zixun:hover {
	color: #C60;
	background-image: url(../images/left_but_03.gif);
}
.focus_leftnavi_navi li a:hover .zixunbox, .focus_leftnavi_navi li:hover .zixunbox{
	display:block;
}
.focus_leftnavi_navi li .zixunbox{
	display:none;
	position:absolute;left:85px;top:-60px;padding:10px 10px 4px 10px;
	width:650px;background:#fff;z-index:1000;border:1px solid #cccccc;border-width:20px 20px 20px 1px;
}
.focus_leftnavi_navi li #zixunbox259, .focus_leftnavi_navi li #zixunbox296{left:85px;top:-210px;}
.focus_leftnavi_navi li #zixunbox435{top:-190px;}
.focus_leftnavi_navi li #zixunbox995, .focus_leftnavi_navi li #zixunbox260, .focus_leftnavi_navi li #zixunbox1050{left:85px;top:-110px;}
.focus_leftnavi_navi li #zixunbox976{top:-30px;}

.zixunbox .newslist{line-height:1.5em;background:url(../images/point.gif);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left:15px;
}
.focus_leftnavi_navi li .newslist a:link, .focus_leftnavi_navi li .newslist a:visited{color:#333333;font-size:15px;}
.focus_leftnavi_navi li .newslist a:hover{text-decoration:underline;}
.focus_leftnavi_navi li .zixunbox a, .focus_leftnavi_navi li .zixunbox a:visited{
	background:none;display:inline;color:#999999;
}
.zixunbox .box{
	float:left;width:300px;
}
/*.focus_leftnavi_top a{
	display:block;
	font-size: 15px;
	color: #7B5E40;
	height: 25px;
	line-height:25px;
	width: 100%;
	padding-left:15px;
	background: url(../images/left_but_01.gif) no-repeat;
	font-weight: bold;
}*/  /*----------- yxx change on 09/10 -----*/

.focus_leftnavi_dn{
	height: 9px;
	width: 100%;
	margin-bottom: 3px;
	background: url(../images/left_but_13.gif) no-repeat;
}
.focus_cont_main_lt_t2 a{
	font-size: 13px;
	color: #204173;
	height: 18px;
	width: 150px;
	line-height:18px;
	float: left;
	margin-left: 10px;
	font-weight: bold;
	text-decoration: none;
}
.focus_cont_main_lt_t2 a:hover{
	text-decoration: underline;
}
.focus_cont_main_lt_t4{/*------專題焦點新聞-------*/
	height: 20px;
	font-weight: bold;
	text-decoration: none;
	overflow:hidden;
	font-size:13px;
	margin-left:10px;
}
.shequtxt{width:300px;margin-left:5px;}
.shequ table{width:100%;margin:10px 0 15px 0;}
.shequ table td{padding:5px 3px;border:1px solid #ccc;text-align:center;font-size:12px;}

.shequbox .shequ table{margin-bottom:0;margin-top:0px;}
.shequbox .box{border-top:0;}
.shequbox .more{text-align:right;margin:5px 10px 10px 0;font-size:15px;}
.more a{color:#aa0000;}
.shequbox #biglogo img{width:100%;}

#focus_center_bx{
	padding-left: 0px;
	padding-right: 0px;	
}

#focus_center_news_cont{
	width:99%;
	padding-bottom:10px;
}

.focus_center_news_list1{
	margin-top: 8px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
	padding-left: 5px;
}
.focus_center_news_list2{
	margin-top:8px;
	padding-left: 5px;
}
.focus_center_news_list3{
	border-bottom:1px dashed #ccc;
	margin-top: 10px;
	padding:0 0 5px 5px;
}
.focus_center_news_more{
	/*background-image: url(../images/more.gif);*/
	height: 25px;
	width: 250px;
	margin-top: 0px;
	text-align:right;
	font-size:15px;
}
.focus_center_news_more .download{color:#aa0000;}
.focus_center_news_more img{
	vertical-align:bottom;
}

.und_servies_yp{color:#fff;}

#todayvideobox .global_manu_name_t{margin-left:28px}
#todayvideobox .hori2 a{color:#ffffff;}
#todayvideobox .picarea{border: 1px solid #ccc;}
#todayvideobox .today-video-icon{
	position: relative;
	top: -45px;
    padding: 5px 0 5px 35px;
    width: 30px;
    content: "";
    background-image: url(../images/community/living_block.png);
    background-position: 0 -326px;
    background-repeat: no-repeat;
}
#djy_front_optin_result.container.response {
	display: block;
    font-size: 12px;
    color: #FF538B;
	position: absolute;
	bottom: 9px;
	padding-left:28px;
	text-align:left;
}
#newsletter_subscribe{margin-top:0;}
#newsletter_subscribe .topbar{margin-top:-7px;}
#newsletter_subscribe .newsletter_container{border:1px solid #084f9e; background-color: #f9f9f9; height: 163px;text-align:center;}
#newsletter_subscribe input{padding: 0 0 0 5px;margin-top: 20px; display:inline-block; float:left; width:51%;height:20px;margin-left:41px;margin-bottom: 0px;}
#newsletter_subscribe button{margin-top: 20px; background-color:#bf4714;float:right; width:22%; height: 20px; line-height: 20px; vertical-align: middle; font-size:14px;padding:0px;margin-right:42px;color:#fff;margin-bottom: 0px;}
#newsletter_subscribe .subscribe-title {
	font-family: sim-hei;
    padding-top: 20px;
    color: #084f9e;
    font-size: 18px;
    font-weight: bolder;
    margin: 0 auto;
}
#newsletter_subscribe .subscribe-title img {
	width: 10%;
	margin-left: 9px;
}
#newsletter_subscribe .notice{position: absolute;bottom: 5px;left: 38px;font-weight: 400;margin:0;font-size: 9.5px;color: #999999;text-align: center;clear: both;}
#front_newsletter_captcha {
	float: left;
	position: relative;
	bottom: -5px;
	left: 56px;
	width: 250px;
	margin-left: 15px;
	transform:scale(0.59);
	transform-origin:0 0;
	-ms-transform:scale(0.59);
	-ms-transform-origin:0 0;
	-webkit-transform:scale(0.59);
	-webkit-transform-origin:0 0;
}
#yaowenbox .picarea{border:1px solid #ccc;}
#yaowenbox .last{margin-right:0px;}
#yaowenbox .hori2{float:none;}
#yaowenbox .hori2 a{color:#ffffff;}
/*#yaowenbox .global_manu_name_t{line-height:24px;}*/
#yaowenbox .box{padding:0;margin:0;text-align:center;margin-top:27px;}
#yaowenbox .box img{height:137px;}

#special_view .special-title{text-align:center;font-weight:bold;font-size:18px;border-top-left-radius: 0.625em;border-top-right-radius: 0.625em;border: 1px solid #ccc;}
#special_view .special-title a{color:#c46c00;}
#special_view .box{margin-top:-1px;padding-bottom:3px;}
#special_view .newslist{margin-left:5px;}
#special_view .more{color:#C86128; font-size:14px;text-align:right;padding-right:5px;margin-top:9px;}

.adbox .left2{float:left;width:200px;display:inline;text-align:center;}
.adbox .right2{float:left;width:760px;display:inline;text-align:center;}

.picsdiv, .picsdiv2{color:#546167;float:left;font-size:12px;margin:10px 1%;width:18%;position:relative;margin-bottom:10px;}
.imgdiv{border:1px solid #CCCCCC;height:78px;width:100%;margin-bottom:5px;overflow:hidden;text-align:center;}
.imgdiv img{width:100%;max-height:100px;height:78px;}

.imgdiv.large-6{width:50%;height:50%;border-width:0 0 0 0;padding-left:3.5%;padding-top:0.5%;margin-bottom:3%;}
.imgdiv.large-6:first-child{width:50%;height:50%;border-width:0 1px 0 0;padding-right:3.5%;text-align:left;padding-left:0px;padding-top:0.5%;}

.picspan{display:block;height:32px;line-height:16px;overflow:hidden;color:#546167;font-size:12px;text-decoration:none;}

.focus_cont_main_left .picspan a{background:url(../images/point.gif);background-position:0px 5px;background-repeat:no-repeat;height:25px;font-size:16px;line-height:120%;text-align:left;font-weight: 900;padding-left:10px;}
.focus_cont_main_left .picspan{padding-top: 2.5%;display:block;height:41px;line-height:16px;overflow:hidden;color:#546167;font-size:12px;text-decoration:none;}

/*--------tabs--------*/
/*tabs part*/
ul.tabs {padding: 0;margin: 0;}
.navbox {
	position:relative;        /* establish a menu-relative positioning context */
	float:left;                                     /* play nicely with others */
	padding:0;
	border:0;
	height:auto;
	margin-bottom:220px;
	width:100%;         /* we always want our menu to fill the available space */
	       /* this sets the base font size for our entire menu */
	
}
*html .navbox{margin-bottom:245px;}
.navbox ul {
	padding:0;
	margin:0;
	border:0;
	list-style-type:none;          /* we don't want to view the list as a list */
	/*line-height:1.5em;           /* globally set the menu's item spacing. note */
}                               /* this must be 1.0 or 1.5 or 2.0 for Mozilla */

.navbox li {
	float:left;    /* this creates the side-by-side array of top-level buttons */
	margin:0;
}
.navbox ul li ul li{float:none;}
.navbox ul li table {
	margin:-1px 0;              /* IE5 needs -1px top and bottom table margins */
	m\argin:0;               /* re-zero the table margins for everyone but IE5 */
	border-collapse:collapse;      /* IE5 needs this for the sub-menus to work */
	       /* this sets the base font size for our entire menu */
}

/*======================== TOP LEVEL MENU DEFINITIONS ========================*/

.navbox ul li ul {
	display:none;
}


/*======================== 2ND LEVEL MENU DEFINITIONS ========================*/
.navbox ul li ul.sub_active {/* show the first one when window loaded */
	display:block;
	z-index:0;
	width:100%;
	/*width:298px;
	height:260px;*/
	height:70px;
	overflow:hidden;
	padding-top:10px;
	position:absolute;
	margin:0;
	top:24px;              /* place us just up underneath the top-level images */
	left:0;       /* left-align our drop-down to the previous button border */
	/*background-color:#fafaff;
	border:1px solid #cbd7ec;        /* give us a black border underneath */
	border-top:none;		 			
}



.navbox ul li ul li{font-size:15px;}

.navbox ul li:hover .sub_active, .navbox ul li a:hover .sub_active {/* show the first one when window loaded */
	background-color:#ffffff;		
}

.navbox ul li:hover ul li a,
.navbox ul li a:hover ul li a {                   /* 2nd level unselected items */
	border:0;
	margin:0;
	padding:0;
	height:auto;
	/*color:#2C58A3;               /* this sets the unselected drop-down text color */
}

.navbox ul li:hover ul li:hover a,
.navbox ul li a:hover ul li a:hover {                /* 2nd level selected item */
	
}

.focus_cont_main_left .navbox ul.sub_active{height:330px;padding-top:5px;overflow:hidden;}
.focus_cont_main_left .sprite-gobal_hot_navi1{width:250px;}
#dalufocus{height:auto;}
#dalufocus .navbox{margin-bottom:180px;}
#dalufocus .navbox ul.sub_active{height:auto;padding-top:5px;overflow:hidden;}
#ymkvideo{height:100px;overflow:hidden;}
#ymkfocus{z-index:10;height:360px;}
#embed{}
#wenhuatopbox{z-index:10;background:#fff;}
#wenhuatopbox .title{border-right:1px solid #ccc;text-align:left;padding-left:20px;}
#trending_box .title{color:#ff0099;}
#trending_box .newslist a{color:#0062aa;}
#trending_box .newslist a:visited{color:#0062aa;}
#trending_box .newslist{background:url(../images/red-right-arrow.jpg) no-repeat 0 6px;padding-left:10px;}

#focus_center_bx .navbox ul li:hover ul, #focus_center_bx .navbox ul li ul.sub_active,
#focus_center_bx .navbox ul li a:hover ul, #focus_center_bx .navbox ul.sub_active{border:1px solid #B7D3F1;height:auto;padding:0;}

#focus_center_bx .navbox ul li:hover ul, #focus_center_bx .navbox ul li ul.sub_active,
#focus_center_bx .navbox ul li a:hover ul, #focus_center_bx .navbox ul.sub_active,
#focus_center_bx .navbox ul li ul.sub_active{
	top:22px;
}


#focus_center_bx .navbox{
	width:100%;
	margin-bottom:1200px;
}
#focus_center_bx li{
	width:16.6%;
}
#focus_center_bx ul.current li{
	width:17%; /*since center column is larger*/
}
#focus_center_bx ul.current li a.hori,#focus_center_bx ul.current li a.horit{
	font-size: 13px;
	color: #204173;
	float: left;
	height: 22px;
	line-height:22px;
	text-align:center;
	background: url(../images/focus_but-1.gif) no-repeat center center;
}
#focus_center_bx ul.select li a.hori,#focus_center_bx ul.select li a.horit{
	font-size: 13px;
	color: #F2F2F2;
	background: url(../images/focus_but-2.gif) no-repeat center center;
	float: left;
	height: 22px;
	line-height:22px;
	width:100%;
	text-align:center;
}
#focus_center_bx ul.current li:hover a.hori, #focus_center_bx ul.current li a.hori:hover,
#focus_center_bx ul.select li:hover a.hori, #focus_center_bx ul.select li a.hori:hover,#focus_center_bx ul.current li:hover a.horit, #focus_center_bx ul.current li a.horit:hover,
#focus_center_bx ul.select li:hover a.horit, #focus_center_bx ul.select li a.horit:hover{background: url(../images/focus_but-1.gif) no-repeat center center;color:#204173;}


#global_hot .navbox ul li:hover ul, #global_hot .navbox ul li ul.sub_active,
#global_hot .navbox ul li a:hover ul, #global_hot .navbox ul.sub_active,
#global_hot .navbox ul li ul.sub_active{
	top:20px;
}
#global_hot li{
	width:16%;
}
#global_hot .current li{
	width:20%;
}
#global_hot .navbox ul li:hover ul, #global_hot .navbox ul li ul.sub_active,
#global_hot .navbox ul li a:hover ul, #global_hot .navbox ul.sub_active{
	height: 210px;
	width: 100%;
	float: left;
	padding-top:0;
	border-bottom:1px solid #C7C7C7;
}
#global_hot ul li a.hori{
	font-size: 12px;
	color:#546167;
	float: left;
	height: 20px;
	line-height:20px;
	width: 100%;
	text-align: center;	
}
#global_hot ul.select li a.hori{
	/*background-image: url(../images/gobal_hot_nav_mu2.gif);*/
}
#global_hot ul.current li a.hori{
	/*background-image: url(../images/gobal_hot_nav_mu1.gif);*/
}
#global_hot ul.current li:hover a.hori, #global_hot ul.current li a.hori:hover,
#global_hot ul.select li:hover a.hori, #global_hot ul.select li a.hori:hover{z-index:110;/*background-image: url(../images/gobal_hot_nav_mu1.gif);*/color:#204173;}

.adbox{border:1px solid #cccccc;font-size:13px;padding:5px 0;width:100%;overflow:hidden;}


/** footer  **/
#friendlink_are {
	border:1px solid #ccc;
	padding-top:10px;margin-top:10px;
}
#friendlink_name{
	text-align: center;
	height: 18px;
	margin-bottom: 5px;
	font-weight: bold;
}


#und_mu{
	background-color: #36F;
	height: 30px;
	text-align: center;
	line-height:30px;
}
#und_servies{
	height: 40px;
	text-align: center;
	padding-top: 10px;
}

.row .container{
	margin:10px auto;
}

#focus_left_photo{width:100%;height:auto;}
.bx-wrapper{margin:0 auto 10px auto!important;}
.bx-wrapper .bx-viewport{left:0 !important;box-shadow:none !important;border:1px solid #ccc !important;padding:4px !important;}
.bx-viewport ul.bxslider{padding: 0;margin: 0;list-style: none;}
#bx-pager img{width:13%;padding:1%;border:1px solid #ccc;}
#bx-pager a:hover img, #bx-pager a.active img{border:1px solid #5280dd;}
#bx-pager, #bx-pager a{font-family:PMingLiu, Mingliu;}
.slide_title a{color:#333;}
.slide_title{
	text-align: center;
	overflow: hidden;
	max-width: 330px;
	margin-bottom:5px;
}
#footer ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
@media only screen and (max-width: 46.875em) {
	.top-bar .toggle-topbar{
		left:0;
	}
	.top-bar, .top-bar-section ul li > a, .top-bar-section li:not(.has-form) a:not(.button) {
		background: #1d3081;
		font-size:1em;
		color:#fff;
	}	
	.top-bar-section ul li {
		background: #1d3081;
		padding-left:0.625em;
	}	
	.picsdiv, .picsdiv2{
		width:48%;
		height:100px;
	}
	#yaowenbox .picarea .last{
		display:none;
	}

	.show-for-large-only{display:none;}
	#focus_left_bx{width:100%;}
	#focus_center_bx{width:100%;margin:auto;}
	#focus_ad_bx{width:100%;}

	#focus_center_bx .navbox{width:100%;}

	#focus_center_bx ul.select li a.hori, #focus_center_bx ul.current li a.hori{width:100%;}
	#focus_center_news_cont{width:100%;}
	
	/*mobile */
	.bxslider li{clear:both;float:left;box-shadow:2px 2px 2px 2px #ccc;padding:5px 0;width:100%;margin-bottom:10px;}
	.bxslider li img{float:left;width:40%;margin:0 6% 0 4%;display:inline;}
	.bxslider li:first-child img{width:92%;margin:10px 4% 5px 4%;}
	.slide_title{width:45%;text-align:left;height:auto;white-space:normal;}
	.bxslider li:first-child .slide_title{width:92%;margin:0 4%;}
	.container3 .left3{margin-top:10px;}
	.pic_area .last-child{display:none;}
	.accordion .accordion-navigation > a, .accordion dd > a{background:none;font-weight:bold;color:#333;border-bottom:1px solid #ccc;border-top:2px solid #ccc;padding:0.5rem;}
	.top-bar{background:transparent;position:absolute;z-index:1001;right:0;top:20px;}
	.top-bar .toggle-topbar.menu-icon a{padding:5px;background:#f7f7f7;border-radius:3px;border:1px solid #ebebeb;width:32px;float:left;margin-left:0.5rem;}
	.top-bar .toggle-topbar.menu-icon a span::after{right:8px;box-shadow:0 0 0 1px #1d3081,0 7px 0 1px #1d3081,0 14px 0 1px #1d3081}
	.top-bar.expanded .title-area{width:100%;background:transparent;}
	
	.top-bar, .top-bar-section ul li > a, .top-bar-section li:not(.has-form) a:not(.button){background:none;color:#326891;font-weight:bold;}
	.top-bar-section{background:#ebebeb;}
	.top-bar-section ul li{background:transparent;}
	.top-bar-section, .top-bar-section ul{float:left;clear:both;}
	.top-bar-section ul li{float:left;min-width:25%;text-align:center;}
	#head{position:relative;margin-bottom:0;}
	#head #lang{display:block;position:absolute;right:15px;bottom:-40px;z-index:1001;width:70px;}
	#head #lang .top_sign{font-size:1rem;}
}
@media only screen and (min-width: 40.063em) {
	.top-bar{
		height:auto;
		line-height:auto;
		background:none;
	}
	.top-bar-section ul {
		display:block;
	}
	.top-bar-section ul li{
		background:none;
		height:1em;
		line-height:1em;
		text-align:left;
	}	
	#col-1 {
		width:23%;
		float:left;
	}
	#col-1 li{
		width:25%;
	} 
	#col-2{
		width:18%;
		float:left;
	}
	#col-2 li{
		width: 33.33%;
	}
	
	#col-3{
		width:18%;
		float:left;
	}
	#col-3 li{
		width:33.33%;
	}
	#col-4{
		width: 6%;
		float: left;
	}
	#col-4 li{
		width: 100%;
	} 
	#col-5{
		width:15%;
		float:left;
	}
	#col-5 li{
		width: 50%;
	}
	#col-6, #col-7 {
		width:10%;
		float:left;
	}
	#col-6 li, #col-7 li{
		width:100%;
	}
	
	.top-bar-section li:not(.has-form) a:not(.button) {
		padding:0;
		background:none;
		line-height:1em;
	}
	#focus_left_sp{margin-top:-885px;width:350px;}

	#sports_news ul li{
		width: 12%;
	}
	#star_news ul li{
		width: 11%;
	}
	#sports_news ul li.hori2{
		width:16%;
	}
	#star_news ul li.hori2{
		width:12%;
	}
	#global_news ul li, #culture_news ul li, #life_news ul li {
		width:8%;
	}
	#global_news ul li.hori2, #life_news ul li.hori2, #culture_news ul li.hori2 {
		width:20%;
	}
	dl.accordion {margin: 0;}
	.container .accordion-navigation {
		border-left: 1px solid #ccc;
		border-bottom:1px solid #ccc;
		border-right:1px solid #ccc;
		display: table;
		width: 100%;
		margin: 0;
	}
	.container .tab-title a{
		font-size: 13px;
		color: #546167;
		float: left;
		height: 24px;
		line-height:24px;
		width: 100%;
		padding:0;
		text-align:center;
	}

	#global_news li.hori2 a, #star_news li.hori2 a, #life_news li.hori2 a, #culture_news li.hori2 a,#sports_news li.hori2 a{
		color:#fff;
	}
	
}
@media only screen and (min-width: 46.875em) {
	#focus_left_bx, #focus_left_sp{width:33%;overflow:hidden;}
	#focus_center_bx{width:36%;}
	#focus_ad_bx{width:31%;}	
	#focus_left_sp{margin-top:-885px;padding-left:0.3125em;padding-right:0.3125em;}
	
}

.ind_foot{ width:100%; height:30px; margin:15px auto 30px auto; border-top:1px solid #e5e5e5; font-size:12px; line-height:30px; text-align:center;padding-bottom:10px;}
#bottommenu li{float:left;margin-right:20px;margin-left:25px;font-weight:bold;}
#bottommenu li li{float:none;font-weight:normal;margin:0;line-height: 24px;}
#footer{margin-top:20px;padding-top:20px;}
#footer a{color:#555;}

/* ----------- yxx change on 09/29 ----- */
#shenghuobox_cont .focus_leftnavi_top a{
	display:inline;
	font-size: 15px;
	color: #00bbd5;
	height: 25px;
	/*width: 65px;*/
	padding-left:7%;
	/*background: url(../images/left_but_01.gif) no-repeat;*/
	font-weight: 900;
	font-family:Helvetica,Arial,"LiHei Pro";
}

#wenhua_cont .focus_leftnavi_top a{
	display:inline;
	font-size: 15px;
	color: #ffc107;
	height: 25px;
	line-height:25px;
	padding-left:6%;
	/*background: url(../images/left_but_01.gif) no-repeat;*/
	font-weight: bold;
	font-family:Helvetica,Arial,"LiHei Pro";
}

#wenhua_cont .focus_cont_main_left{
	padding-left:2%;
}

#shenghuobox_cont .focus_cont_main_left{
	padding-left:2%;
}

#yulebox_cont .focus_leftnavi_top a{
	display:inline;
	font-size: 15px;
	color: #9f11b1;
	height: 25px;
	/*width: 65px;*/
	padding-left:7%;
	/*background: url(../images/left_but_01.gif) no-repeat;*/
	font-weight: bold;
	font-family:Helvetica,Arial,"LiHei Pro";
}
/*#focus_leftnavi_dn{
	float: left;
	height: 9px;
	width: 100px;
	margin-bottom: 3px;
	/*background-image: url(../images/left_but_13.gif);   
}*/ /*yxx changed on 09/10*/

#shenghuobox_cont .focus_leftnavi_top{
	color: #fff;
	float: left;
	height: 31px;
	/*width: 80px;*/
	padding-left: 12%;
	padding-top: 2px;
	/*background-image: url(../images/life.png);*/
	/*background-size: 65px 27px;*/
	border-radius: 3px 0px 0px 3px;
	font-weight: bold;
}

#yulebox_cont .focus_leftnavi_top{
	color: #fff;
	float: left;
	height: 31px;
	/*width: 80px;*/
	padding-left: 13%;
	padding-top: 4px;
	/*background-image: url(../images/life.png);*/
	/*background-size: 65px 27px;*/
	border-radius: 3px 0px 0px 3px;
	font-weight: bold;
}

#wenhua_cont .focus_left_navi{
	float:left;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	display:inline;
	background: url(../images/all.png);
	background-size:341px 105px;
	width: 100%;
	height: 35px;
	background-position: 0 -37px;
	z-index:5;
}

#yulebox_cont .focus_left_navi{
	float:left;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	display:inline;
	background: url(../images/all.png);
	background-size:341px 105px;
	width: 100%;
	height: 35px;
	background-position: 0 -72px;
	z-index:5;
}

#wenhua_cont .focus_leftnavi_top{
	color: #fff;
	float: left;
	height: 31px;
	padding-left: 12%;
	padding-top: 0px;
	border-radius: 3px 0px 0px 3px;
	font-weight: bold;
}

#shenghuobox_cont .focus_leftnavi_navi a{
	color:#0288D1;
	font-size: 14px;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #E4E1DA;
	padding-right: 12%;
	padding-bottom:0px;
}

#yulebox_cont .focus_leftnavi_navi .large-2{
	width: 19.6667%;
}
#yulebox_cont .focus_leftnavi_navi a{
	color:#0288D1;
	font-size: 14px;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #E4E1DA;
	padding-right: 12%;
	padding-bottom:0px;
}

#shenghuobox_cont .focus_leftnavi_navi .large-2:last-child a{
	border-width: 0px 0px 0px 0px;
}

#yulebox_cont .focus_leftnavi_navi .large-2:last-child a{
	border-width: 0px 0px 0px 0px;
}

#shenghuobox_cont .focus_leftnavi_navi a:visited{
	color: #0288D1;
}

#yulebox_cont .focus_leftnavi_navi a:visited{
	color: #0288D1;
}

#shenghuobox_cont .focus_leftnavi_navi a:hover{
	background-color: #E4E1DA;
}

#yulebox_cont .focus_leftnavi_navi a:hover{
	background-color: #E4E1DA;
}

#wenhua_cont .focus_leftnavi_navi a{
	color:#0288D1;
	font-size: 14px;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #E4E1DA;
	padding-right: 12%;
	padding-bottom:0px;
}

#wenhua_cont .focus_leftnavi_navi .large-2:last-child a{
	border-width: 0px 0px 0px 0px;
}

.focus_leftnavi_navi a:hover{
	background-color:#03a9f3;
	width: 340px;    
	font-size: 15px;
	padding-top:4px;
	padding-bottom:6px;
	text-decoration: none;
}

.dashccc{
	border-bottom: 1px solid #B7D3F1;
	margin-top:1.5%;
	margin-bottom:1.5%;
	margin-left:-5%;
	width:120%;
}

.boxTitle{padding: 2px 10px;}
.ymkvideo{float:left;width:139px;margin:0 5px;display:inline;text-align:center;height:132px;overflow:hidden;}
.ymkvideo ul{list-style: none;padding: 0;margin: 0;}
.ymkvideo img{width:130px;border:0;}
.ymkvideo .ymkvideotitle{font-size:13px;line-height:16px;width:135px;height:32px;overflow:hidden;}

/*yxx added for show PingLun
.accordion .content{display:block !important;}*/
.accordion .accordion-navigation{margin-left:0px;}
.tab-title>a{padding:0rem 0.5rem !important;}

.sprite-bt_rss{margin-bottom:10px;}
#focus_center_hotlink{margin-bottom:1%;}
.newslist{white-space: inherit;word-break: break-all;}
#englishbox .spritebg .global_manu_name_t a{color:#fff;}
.shequbig{border:1px solid #ccc;margin-top:5px;}
.shequbig .box{padding-bottom:2px;margin-bottom:0px;}
.shequbig .box .more{margin-top:0px;margin-bottom:0px;}
.shequ table, .shequbig .box{border:none;}
.focus_center_news_list1:last-child, .focus_center_news_list3:last-child{border-bottom:none;}
#article2 #focus_center_news_cont{width:auto;}
.bxslider .slideImage{position:relative;height:197px;}
.bxslider li .slide_title{bottom:0px;position:relative;line-height: 1.125;height: 20px;/*38px for two lines*/}
.top-bar-section ul li .top_main_sg a:hover{color:#fff;background-color: #F5CD01 !important; text-decoration: none;}

#container.row .tabs .tab-title a:hover{text-decoration:none;}

.focus_cont_main_lt_t4 .sycom {padding-left: 3%; font-size: 14px;letter-spacing: 1px;}
.focus_center_hotlink_wd .blank{padding-left: 2px; padding-right: 2px;}
#front_A2 {padding: 0;overflow: hidden;}
span.title_video{
	display:inline-block;
	width:15px;
	min-height:15px;
	background-image:url(../images/video0.gif);
	background-repeat:no-repeat;
}

#culture_hot_posts_bottom .imagepost {
	padding-left: 0px;
	padding-right: 5px;
}
#culture_hot_posts_bottom .imagepost {
	font-size: 12px;
}
#culture_hot_posts_bottom .imagepost img{
	max-height: 89px;
}

#footer{
    margin-left: auto;
    margin-right: auto;
}

#footer #bottommenu{
    border:none;   
    margin-bottom: 0px;
    background-color: #f3f3f3;
}

#bottommenu .name{
    padding:0 0  10px 30px;  
}

#bottommenu .name a{
    color: #041973;
    font-size: 17px;
    font-weight:600;
}

#bottommenu .items a{
    margin-right: 11px;
    font-size: 0.875rem;
    font-weight:600;
}

.right .sidebar .column .box_header .small-10{
    padding-top: 5px;
    padding-left: 8px;
}

#bottommenu div.column{
    padding: 0px;
}

#bottommenu .bottom-links{
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f3f3f3;
}

#bottommenu .bottom-links a{
    font-size: 14px;
    margin: 20px;
}

#bottommenu a:hover{
    color:#e66f00;
    text-decoration: underline;
}

.category .footer .item{
    background-color: #f3f3f3;
}

footer{
	background-color: #f3f3f3;
}