
.spritebg
{
    background: url(../images/sprite1.png) no-repeat top left;
    display:inline-block; 
	vertical-align:middle; 
}

.spritebg2
{
    background: url(../images/sprite2.png) no-repeat top left;
    display:inline-block;
        vertical-align:middle;
}
.sprite-9pin{ background-position: 0 0; width: 128px; height: 168px; } 
.sprite-9ping_04{ background-position: 0 -218px; width: 108px; height: 38px; } 
.sprite-adbt1{ background-position: 0 -306px; width: 23px; height: 39px; } 
.sprite-adbt2{ background-position: 0 -395px; width: 23px; height: 39px; } 
.sprite-are_name{ background-position: 0 -484px; width: 124px; height: 24px; } 
.sprite-are_name2{ background-position: 0 -558px; width: 124px; height: 72px; } 
.sprite-arrow-left{ background-position: 0 -680px; width: 14px; height: 26px; } 
.sprite-arrow-right{ background-position: 0 -756px; width: 14px; height: 26px; } 
.sprite-bgcr{ background-position: 0 -832px; width: 10px; height: 30px; } 
.sprite-blog_but-1{ background-position: 0 -912px; width: 100px; height: 24px; } 
.sprite-blog_but-2{ background-position: 0 -986px; width: 100px; height: 24px; } 
.sprite-blog_hot_navi1{ background-position: 0 -1060px; width: 100px; height: 24px; } 
.sprite-blog_hot_navi2{ background-position: 0 -1134px; width: 100px; height: 24px; } 
.sprite-blog_navi1{ background-position: 0 -1208px; width: 69px; height: 24px; } 
.sprite-blog_navi2{ background-position: 0 -1282px; width: 69px; height: 24px; } 
.sprite-bt_rss{ background-position: 0 -1356px; width: 16px; height: 16px; } 
.sprite-careselect_but1{ background-position: 0 -1422px; width: 89px; height: 24px; } 
.sprite-careselect_but2{ background-position: 0 -1496px; width: 89px; height: 24px; } 
.sprite-culture_navi1{ background-position: 0 -1570px; width: 55px; height: 24px; } 
.sprite-culture_navi2{ background-position: 0 -1644px; width: 55px; height: 24px; } 
.sprite-e_card{ background-position: 0 -1718px; width: 16px; height: 16px; } 
.sprite-focus_but-1{ background-position: 0 -1784px; width: 55px; height: 22px; } 
.sprite-focus_but-2{ background-position: 0 -1856px; width: 52px; height: 22px; } 
.sprite-focus_nmae_bg1{ background-position: 0 -1928px; width: 153px; height: 24px; } 
.sprite-focus_photo_small_bg{ background-position: -203px 0; width: 65px; height: 41px; } 
.sprite-focus_photo_small_bg2{ background-position: -203px -91px; width: 60px; height: 51px; } 
.sprite-focus_photo_small_bg2_7s{ background-position: -203px -192px; width: 41px; height: 38px; } 
.sprite-foucs_ad_navbut-1{ background-position: -203px -280px; width: 150px; height: 24px; } 
.sprite-foucs_ad_navbut-2{ background-position: -203px -354px; width: 150px; height: 24px; } 
.sprite-foucs_m_navbut-1{ background-position: -203px -428px; width: 125px; height: 24px; } 
.sprite-foucs_m_navbut-2{ background-position: -203px -502px; width: 125px; height: 24px; } 
.sprite-foucs_m_navbut-s1{ background-position: -203px -576px; width: 62px; height: 24px; } 
.sprite-foucs_m_navbut-s2{ background-position: -203px -650px; width: 62px; height: 24px; } 
.sprite-gobal_hot_nav_mu1{ background-position: -203px -724px; width: 50px; height: 20px; } 
.sprite-gobal_hot_nav_mu2{ background-position: -203px -794px; width: 50px; height: 20px; } 
.sprite-gobal_hot_navi2{ background-position: -203px -864px; width: 75px; height: 24px; } 
.sprite-gobal_navi1{ background-position: -203px -938px; width: 55px; height: 24px; } 
.sprite-gobal_navi2{ background-position: -203px -1012px; width: 55px; height: 24px; } 
.sprite-gplus-16{ background-position: -203px -1086px; width: 16px; height: 16px; } 
.sprite-header-left{ background-position: -203px -1152px; width: 10px; height: 10px; } 
.sprite-header-right{ background-position: -203px -1212px; width: 10px; height: 10px; } 
.sprite-icon1{ background-position: -203px -1272px; width: 16px; height: 16px; } 
.sprite-icon10{ background-position: -203px -1338px; width: 16px; height: 16px; } 
.sprite-icon11{ background-position: -203px -1404px; width: 16px; height: 16px; } 
.sprite-icon12{ background-position: -203px -1470px; width: 16px; height: 16px; } 
.sprite-icon13{ background-position: -203px -1536px; width: 16px; height: 16px; } 
.sprite-icon14{ background-position: -203px -1602px; width: 16px; height: 16px; } 
.sprite-icon15{ background-position: -203px -1668px; width: 16px; height: 16px; } 
.sprite-icon16{ background-position: -203px -1734px; width: 16px; height: 16px; } 
.sprite-icon17{ background-position: -203px -1800px; width: 16px; height: 16px; } 
.sprite-icon18{ background-position: -203px -1866px; width: 16px; height: 16px; } 
.sprite-icon19{ background-position: -203px -1932px; width: 16px; height: 16px; } 
.sprite-icon2{ background-position: -406px 0; width: 16px; height: 16px; } 
.sprite-icon3{ background-position: -406px -66px; width: 16px; height: 16px; } 
.sprite-icon4{ background-position: -406px -132px; width: 16px; height: 16px; } 
.sprite-icon5{ background-position: -406px -198px; width: 16px; height: 16px; } 
.sprite-icon6{ background-position: -406px -264px; width: 16px; height: 16px; } 
.sprite-icon7{ background-position: -406px -330px; width: 16px; height: 16px; } 
.sprite-icon8{ background-position: -406px -396px; width: 16px; height: 16px; } 
.sprite-icon9{ background-position: -406px -462px; width: 16px; height: 16px; } 
.sprite-left_but_01{ background-position: -406px -528px; width: 85px; height: 27px; } 
.sprite-left_but_02{ background-position: -406px -605px; width: 85px; height: 27px; } 
.sprite-left_but_03{ background-position: -406px -682px; width: 85px; height: 27px; } 
.sprite-left_but_13{ background-position: -406px -759px; width: 85px; height: 9px; } 
.sprite-life_navi1{ background-position: -406px -818px; width: 46px; height: 24px; } 
.sprite-life_navi2{ background-position: -406px -892px; width: 46px; height: 24px; } 
.sprite-more{ background-position: -406px -966px; width: 48px; height: 18px; } 
.sprite-point-pu{ background-position: -406px -1034px; width: 3px; height: 9px; } 
.sprite-point{ background-position: -406px -1093px; width: 3px; height: 9px; } 
.sprite-pointage10{ background-position: -406px -1152px; width: 3px; height: 9px; } 
.sprite-pointage8{ background-position: -406px -1211px; width: 3px; height: 9px; } 
.sprite-pointage9{ background-position: -406px -1270px; width: 3px; height: 9px; } 
.sprite-pointagenew{ background-position: -406px -1329px; width: 3px; height: 9px; } 
.sprite-red-right-arrow{ background-position: -406px -1388px; width: 9px; height: 12px; } 
.sprite-search_but{ background-position: -406px -1450px; width: 48px; height: 18px; } 
.sprite-sign_but{ background-position: -406px -1518px; width: 38px; height: 18px; } 
.sprite-sports_navi1{ background-position: -406px -1586px; width: 79px; height: 24px; } 
.sprite-sports_navi2{ background-position: -406px -1660px; width: 79px; height: 24px; } 
.sprite-star_navi1{ background-position: -406px -1734px; width: 79px; height: 24px; } 
.sprite-star_navi2{ background-position: -406px -1808px; width: 79px; height: 24px; } 
.sprite-twitter{ background-position: -406px -1882px; width: 16px; height: 16px; } 
.sprite-video-red{ background-position: -406px -1948px; width: 16px; height: 10px; } 
.sprite-video0{ background-position: -609px 0; width: 19px; height: 12px; } 
.sprite-xml{ background-position: -609px -62px; width: 28px; height: 14px; } 


.sprite-9pin_name{ background-position: 0 0; width: 167px; height: 60px; } 
.sprite-dajiyuan{ background-position: 0 -110px; width: 300px; height: 47px; } 
.sprite-facebook-icon{ background-position: 0 -207px; width: 256px; height: 256px; } 
.sprite-ft_bg{ background-position: 0 -513px; width: 18px; height: 385px; } 
.sprite-gobal_hot_navi1{ background-position: 0 -948px; width: 300px; height: 24px; } 
.sprite-headbg{ background-position: 0 -1022px; width: 1000px; height: 102px; } 
.sprite-logo{ background-position: 0 -1174px; width: 198px; height: 76px; } 
.sprite-pr_bg{ background-position: 0 -1300px; width: 445px; height: 250px; } 

