/*
HotMovies Specific Styles
-------------------------------- */

body {margin-top:0;color:#666;}
a {color:#1C409F;}
a:hover {color:#0645b4;}
a:visited {color:#091676;}
#page_header_right input{margin-bottom:2px;}
#page_header_right{border:0;display:block;padding:2px 4px;height:auto;border:1px #4D0300 solid;border-style: solid;border-width: 1px;color:#FFF;background:#710300;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px 5px 5px 5px;}
.v3 .page a:hover, .v3 .page a.inverse:hover, .v3 .ie_page a:hover, .v3 .ie_page a.inverse:hover {color:#489dfd;}
.new_tabs .current a:hover, .v3 .page .new_tabs .current a:hover, .new_tabs li a:hover, .v3 .page .new_tabs li a:hover, #page_header_right .panel_button a:hover, footer a:hover,
 #top_studios_combined a:hover {color:#234194;}
.movie_list .classic .studio a:hover, .page_header .breadcrumb a:hover, .movie_list .classic .body a:hover, .v3 .page a:hover, .v3 .page a.inverse, .v3 .ie_page a:hover,
 .v3 .ie_page a.inverse {color:#234194;}
.v3 .page a, .v3 .ie_page a {color:#007fd6;}
#top_new_studios h2 {font-size:14px;}
/* Media queries */
@media screen and (min-width: 1200px) {
	#content .offercode {width:1200px !important;}
	#cat_photo li, #cat_photo_carousel li {width:93.3px;}
	footer nav, footer .copywrite {width:1200px;}
	.v3 .page #offer_msg.offercode {width:98% !important;display:inline-block;}
    #header, #page_body {width:1200px;}
	.jcarousel-skin-index .jcarousel-item {width:132px;}
	#member_bar.logged_out > ul, #member_bar > ul {width:1200px;}
	#playlist_listing {width:1005px !important;}
	#playlist_listing .a_playlist {width:302px !important;}
	#pop_scenes_scroller .jcarousel-skin-index .jcarousel-item {width:190px !important;}
	#pop_mms_scroller .jcarousel-skin-index .jcarousel-item {width:133px !important;}
	#stars .star_photo_view li {width:150px !important;}
	#star #sample_video, #star #sample_video_holder {width:580px;}
	.star_scroller .single_star {width:161px;}
	#top_studios_combined td {width:31% !important;}
	#ttm_carousel li {width:141px !important;}
	.v3 .movie_list .classic, .v3 .movie_list .classic h3, .v3 .movie_list .classic .body {font-size:13px !important;}
	.v3 .page {font-size:13px !important;}
	.v3.wide_colum .tube .movie_box {width:203px !important;}
	.v3.narrow_colum .tube .movie_box {width:225px !important;height:279px;}
	#video #video_recommendations .floating_covers {width:193px;margin-top:12px;}
	.video_description, #video .page_video_info, #video .video_info, #bio_description, #star .v3 .star_info, #results.view_list .video_info_right, #video .categories {font-size:14px !important;}
}
@media screen and (max-width: 1200px) {
	#content .offercode {width:1000px !important;}
	#cat_photo li, #cat_photo_carousel li {width:94.7px;}
	footer nav, footer .copywrite {width:1065px;}
	.v3 .page #offer_msg.offercode {width:98% !important;display:inline-block;}
	.v3.narrow_colum .tube .movie_box {width:240px !important;height:279px;}
    #header, #page_body {width:1000px;}
	.jcarousel-skin-index .jcarousel-item {width:154px;}
	#member_bar.logged_out > ul, #member_bar > ul {width:1000px;}
	#pop_scenes_scroller .jcarousel-skin-index .jcarousel-item {width:190px !important;}
	#pop_scenes_scroller .jcarousel-skin-index .jcarousel-container-horizontal {margin-left:-2px;}
	#pop_mms_scroller .jcarousel-skin-index .jcarousel-item {width:190px !important;}
	.jcarousel-skin-index .jcarousel-container-horizontal {margin-left:-11px;}
	#stars .star_photo_view li {width:143px !important;}
	#star #sample_video, #star #sample_video_holder {width:410px;}
	.star_scroller .single_star {width:163.8px;}
	#top_studios_combined td {width:30% !important;}
	#ttm_carousel li {width:130px !important;}
	#ups.logged_in .view_grid .play_but {width:150px;}
    #ups.logged_in #results.view_grid .dl_link a.inverse {font-size:9px;}
    #ups.logged_in #results.view_grid.info_hide li .grid_item .grid_item_inner .left {float:left;}
    #ups.logged_in #results.view_grid.info_hide li .grid_item {height:273px;}
	.v3 .page {font-size:12px !important;}
	.video_description, #video .page_video_info, #video .video_info, #bio_description, #star .v3 .star_info, #results.view_list .video_info_right, #video .categories {font-size:13px !important;}
	#video #video_recommendations .floating_covers {width:191px;margin-top:12px;}
}
/* Fixed width */
a.icon.rss_add, span.icon.rss_add {float:right;margin-top:-20px;}
#category .scenes.section, #random .scenes.section, #recently_added .scenes.section, #director .scenes.section, #premium .scenes.section, #star .scenes.section, #my_favorites_video .scenes.section, #studio .scenes.section, #featured .scenes.section {margin-top:-30px;}
#category_menu {right:0px !important;position:relative !important;float:right;width:145px !important;}
#category .v3 .page_header .avg_rating, #category .v3 .page_header .rating {width:auto;}
#content .section_header a {color:#444 !important;}
#header {background:none;margin:auto;}
#index .page #divIndexSearchForm {position:relative;float:right;right:-23px !important;}
#index .page .cover_view {margin-top:12px;}
#index .page .scenes .page_header {margin-top:12px;}
#index .page .movie_list .cover_view .movie_box_mini {width:21.5%;margin:1% 1.7%;height:388px;}
#index .page .movie_list .cover_view .rating {display:none;}
/*#index .playvidCovers {padding:2px 7px 2px 13px !important;}*/
#index #results.view_list .title.maintitle {margin-top:13px !important;}
#index_sale_banner_wrap {margin-bottom:12px;}
#mainlogo {width:280px;}
#member_bar.logged_out li#tab_card {display:none;}
#my_favorites .cover_wrap .title {width:103px !important;}
#my_favorites_video .movie_list {overflow:visible;}
#my_marked .scenes.section {margin-top:-50px;}
#my_rental_package #package_description, #my_rental_package #package_studios {color:#000;}
#most_popular .scenes.section {margin-top: -30px;}
.movie_list .classic .movie_box .play_links {font-size:11px;}
.movie_list .classic .movie_box .play_links a {color:#1C409F;}
#new_releases_carousel .jcarousel-skin-index .jcarousel-item {width:123px !important;}
.normal_page {color:#545454;}
#page_body {}
#page_header_right {margin-right:16px !important;}
#playlist_listing {width:800px;margin-right:0px !important;}
#playlist_listing .a_playlist {width:367px;box-shadow:0 0 30px rgba(0, 0, 0, 0.03);}
#playlist_listing .info_bin {width:149px;}
#playlist_listing .rating_bin {width:157px;}
#pop_scenes_scroller .jcarousel-skin-index .jcarousel-item {}
#pop_scenes_scroller .jcarousel-skin-index .jcarousel-container-horizontal {height:143px;}
#pop_scenes_scroller .popular_scene_title, #studios_scroller .studio_title {height:16px;overflow:hidden;}
.popular_scene .tube_container {width:178px;}
#pop_mms_scroller .jcarousel-skin-index .jcarousel-item {margin-left:10px;}
#pop_mms_scroller .popular_scene_title {width:144px;float:left;}
#random .v3 .page_sort_links {margin-top:12px;}
#results button.moviemaker_add {display:none !important;}
#results.view_list img.shot {width:19.8%;}
#results.view_grid .info div.left {}
#results.view_grid li.grid .info {}
.scenes .page_header {background:none;}
#scene_search #btn_get_results1 {color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);box-shadow:1px 2px 2px rgba(0, 0, 0, 0.32) !important;border:1px solid #007fd6 !important;
	background:#489dfd;
	background: -moz-linear-gradient(top,  #489dfd 0%, #007fd6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#489dfd), color-stop(100%,#007fd6));
	background: -webkit-linear-gradient(top,  #489dfd 0%,#007fd6 100%);
	background: -o-linear-gradient(top,  #489dfd 0%,#007fd6 100%);
	background: -ms-linear-gradient(top,  #489dfd 0%,#007fd6 100%);
	background: linear-gradient(to bottom,  #489dfd 0%,#007fd6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#489dfd', endColorstr='#007fd6',GradientType=0 );}
#scene_search #btn_get_results1:hover {
	background:#007fd6;
	background: -moz-linear-gradient(top,  #007fd6 0%, #007fd6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007fd6), color-stop(100%,#007fd6));
	background: -webkit-linear-gradient(top,  #007fd6 0%,#007fd6 100%);
	background: -o-linear-gradient(top,  #007fd6 0%,#007fd6 100%);
	background: -ms-linear-gradient(top,  #007fd6 0%,#007fd6 100%);
	background: linear-gradient(to bottom,  #007fd6 0%,#007fd6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007fd6', endColorstr='#007fd6',GradientType=0 );}
#scene_search .v3 .page_sort_links {margin-top:10px;}
#scene_search #scene_info.right {width:auto;}
#scene_info.right {margin-top:-6px;}
#sidebar2.v3 {background:none;width:150px;}
#studio span.icon.rss_add {}
#studios_scroller .jcarousel-skin-index .jcarousel-item {width:175px !important;}
#studios_scroller .featured_studio img {max-width:173px;}
#stars_carousel li {}
#stars_carousel li img.boxcover {}
#stars_carousel li.jcarousel-skin-index .jcarousel-item {width:130px !important;}
#star #sample_video {margin-top:39px;}
#star #sample_video_holder {}
#ttm_carousel li img.boxcover {width:124px !important;height:170px !important;}
#ups .page_sort_links {margin:12px 0 7px;}
#ups #scene_info.right {margin:0px 4px 0px 0px;}
#ups #vsmenu {margin:6px 0px;}
.v3 h1 {color:#007fd6;letter-spacing:-0.5px;}
/*.v3 .movie_list .classic .movie_box {width:49%;}*/
.v3 .movie_list .classic, .v3 .movie_list .classic h3, .v3 .movie_list .classic .body {font-size:11px;}
.v3 .page {min-width:637px !important;margin-left:14px;border:0px solid #ddd;color:#666;}
.v3 #page_filters {margin-top:10px;}
#index .v3 .page_sort_links {display:none;}
.v3 .page_header {}
.v3.narrow_colum {margin-right:149px;}
.v3.narrow_colum .page, .v3.narrow_colum .ie_page {border-top-right-radius:10px;}
.v3.narrow_colum .tube .movie_box {width:188px;padding:5px 6px 10px 6px;}
.v3.wide_colum .tube .movie_box {width:214px;}
#video #scene_info.right {margin-top:0px;}
#video .categories a {text-decoration:none;}
#video .categories a:hover {text-decoration:underline;}

/* Log Out Button */
#header .logout{border:0;background:transparent url(/images/but_logout_bg.png) top center no-repeat;width:80px;height:20px;}
#header .logout:hover{background:transparent url(/images/but_logout_bg_over.png) top center no-repeat;}
/* Style for the drop down menus  */
#member_bar.logged_out {min-width:100px;left:0px;margin:auto;}
#member_bar.logged_out > ul, #member_bar > ul {margin:auto;}
#nav2 .raquo{display:none;}
#nav2 #top_nav_bar{background:#3a4880 url(/images/hm_nav2_bg.gif) top left repeat-x;}
#nav2 #top_nav_bar a{background:#3a4880 url(/images/hm_nav_button.gif) top left repeat-x;}
#nav2 #top_nav_bar a:hover{background:#495ca6 url(/images/hm_nav2_button_over.gif) top left repeat-x;}
#nav2 #top_nav_bar #tab_contact a, #nav2 #top_nav_bar #tab_home a{background:#3a4880 url(/images/hm_nav_button_drop.gif) top left repeat-x;}
#nav2 #top_nav_bar #tab_contact a:hover, #nav2 #top_nav_bar #tab_home a:hover{background:#495ca6 url(/images/hm_nav_button_drop_over.gif) top left repeat-x;}
#nav2 #top_nav_bar #tab_contact ul a, #nav2 #top_nav_bar #tab_home ul a{background:#3a4880;}
#nav2 #top_nav_bar #tab_contact ul a:hover, #nav2 #top_nav_bar #tab_home ul a:hover{background:#2865e2;}
#nav2 #top_nav_bar #tab_contact ul #tab_suggestion a, #nav2 #top_nav_bar #tab_home ul #tab_playlists a{background:#3a4880 url(/images/hm_nav2_drop_bottom.gif) bottom left repeat-x;height:25px;}
#nav2 #top_nav_bar #tab_contact ul #tab_suggestion a:hover, #nav2 #top_nav_bar #tab_home ul #tab_playlists a:hover{background:#2865e2 url(/images/hm_nav2_drop_bottom.gif) bottom left repeat-x;}
#nav2 #top_nav_bar #tab_try_us a, #nav2 #top_nav_bar #tab_try_us a:hover{background:#fff url(/images/hm_nav2_highlight_drop.gif) top left repeat-x;}
#nav2 #top_nav_bar #tab_try_us a{color:#000066;}
#nav2 #top_nav_bar #tab_try_us a:hover{color:#a40001;}
#nav2 #top_nav_bar #tab_try_us ul a, #nav2 #top_nav_bar #tab_try_us ul a:hover{background:#fff;}
#nav2 #top_nav_bar #tab_try_us ul #tab_card a{background:#fff url(/images/hm_nav2_drop_bottom.gif) bottom left repeat-x;height:25px;}
/*video page classic*/
#clips .basic_scene_info .clip_table{background:#FFF url(/images/bg_hm_video_info.gif) no-repeat right top;}
#clips .hot_scene{border:1px red solid;}
#clips .hot_scene .clip_table{background:#FFF url(/images/hot_scene.gif) no-repeat  right bottom;}
/* video page embeded */
#main_video_content h3{background:#ffebb5;}
#video_content .video_tabs a, #video_content .option_body, #video_content #scenes, #video_content #related_videos{border:1px #ccc solid;}
#video_content #community .review{border-bottom:1px #ccc solid;}
#video_content .spacer_px{border-bottom:1px #ccc dotted;}
#video_content #scenes .hot_scene{border:1px #a40001;background:#fff url(/images/hot_scene_mini.gif) bottom right no-repeat;}
#purchase_option_main #streaming_option .primary_play a {color:#a40001;}
#purchase_option_main #streaming_option .primary_play a:hover{color:red;}
#purchase_options #oldplayer .old_txt {color:#a40001;}
/*
 Style for the old Nav
     These will hopefully be removed at some point
*/

/* .tabs a */
#nav #tabs li a{background:#102C90 url(/images/bg_hm_submenu2.jpg) top repeat-x;border:1px #000 solid;border-bottom:0;-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
#nav #tabs li a:hover{background:#0049a5;}
#nav #tabs li a{padding:3px 8px 2px 8px;}
/* .submenu */
#nav .subnav{background:#102C90 url(/images/bg_hm_submenu2.jpg) top repeat-x;}
#nav .subnav a:hover{background:#0049a5;}
#nav .navbase{background:transparent url(/images/bg_navbase.png) top repeat-x;height:8px;border:none;}
#hebrew_subnav, #hebrew_tabs a{background:#102C90 url(/images/bg_hm_submenu.gif) top repeat-x;}

/*
 End old nav
*/
/* custom Yellow Bevel */
#video #also_found_in .section_header, .star_info h3.section_header, #video_extra_info .review .section_header{background-image:none;}
.movie_list .body .highlight{color:#a40001;}
.movie_list .cover_view .play_links a {color:#a40001;}
/* left th */
#sidebar1 .box h2, #sidebar1 .box .header{border-color:#213c87;border-radius: 3px 3px 0px 0px;box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);color: #fff;text-shadow: 1px 0px 0 #000;padding:3px 2px 3px 8px;letter-spacing:-0.5px;font-size:13px;
	background: #007fd6;
	background: -moz-linear-gradient(top, #007fd6 0%, #00528d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007fd6), color-stop(100%,#00528d));
	background: -webkit-linear-gradient(top, #007fd6 0%,#00528d 100%);
	background: -o-linear-gradient(top, #007fd6 0%,#00528d 100%);
	background: -ms-linear-gradient(top, #007fd6 0%,#00528d 100%);background: linear-gradient(to bottom, #007fd6 0%,#00528d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007fd6', endColorstr='#00528d',GradientType=0 );
    }
.widget_header_blue{background:transparent url(/images/bg_left_h2_2.png) top left no-repeat;text-indent:8px;border-left:0;border-top:0;border-right:0;}
#sidebar1 .box .body {background:#F5F5F5;border:1px solid #DFDDDD;color:#444;padding-left:7px;font-size:13px;color:}
#sidebar1 .box a {background:none;width:100%;color:#444;display:block;padding:1px 0px;}
#sidebar1 .box a:hover {color:#0a086a;}
#sidebar1 .box ul, #sidebar2 .box ul, #sidebar1 .box ol, #sidebar2 .box ol {}
#sidebar1 #returning_users {display:none;}
/* .right th */
#sidebar2 .box li, #sidebar2 .box a {color:#444;}
#sidebar2 .box h2, #sidebar2 .box .header{padding-left:8px;border-left:0;border-top:0;border-right:0;display:block;}
#sidebar2.v3 .box .header, #sidebar2.v3 .box .header a, #sidebar2.v3 .box .header a:hover, #sidebar2 .box a:hover {color:#234194;}
#sidebar2.v3 .box {margin-top:0px;}
/* Studio drop down menu */
#studio_dropdown{border:0;background:#a40001 url(/images/bg_hm_studio_drop.gif) top left no-repeat;text-align:center;width:265px;padding:4px 2px;}
/* Zebra Stripes*/
.even {background:#f9f9f9;float:left;}
.odd {background:#f9f9f9;margin:0px 10px;float:left;}
/* Offer Code
--------------------------*/
/*#content .offercode{background:red url(/images/bg_promo.gif) top;border:4px #ffc425 double;color:#fff;font-weight:bold;}*/
#content .offercode a, .offercode a, .v3 .page .offercode a, span.user_alert_message {color:#fff;text-decoration:none;display:block;padding:1px 0px;}
#content .offercode a:hover, .offercode a:hover, .v3 .page .offercode a:hover, span.user_alert_message:hover{color:#fff !important;cursor: pointer;
}
#content .offercode p {margin:0px;}
/* help pages
-----------------------------*/
#help_questions .normal_page{padding:0;}
#help_answers .top_link{background:transparent url(/images/icon_top.gif) top left no-repeat;border:0;text-align:left;padding-left:25px;height:25px;text-decoration:none;}
#help_answers .top_link:hover{background:transparent url(/images/icon_top_over.gif) top left no-repeat;}
#help_nav{border:0;display:block;height:56px;}
#help_nav a{font-size:13px;}
#help_nav ul li{width:17%;}
/* Phone sex
---------------*/
#freephonesex .normal_page{background:#fff url(/images/bg_phone.jpg) bottom right no-repeat;}
/* Advanced Search
------------------------------------*/
#search_form hr{visibility:hidden;}
#search_form p.top_notes{margin-left:20px;}
#advanced_search h3{display:none;}
#advanced_search #top_search{border-bottom:0;}
/* Downloads
-------------*/
#downloads h3{}
#downloads .normal_page a{}
#downloads .normal_page a:hover{}
#downloads .browse a{}
#downloads .dlwrap {padding:10px;border:1px solid #ddd;border-radius:4px;box-shadow:0px 0px 30px rgba(0,0,0,0.1);margin:12px 10px 10px 0px;position:relative;}
/* This is a special color set for hotmovies
----------------------------------------------*/
a.tag_cloud_small3 {color:#555454;}
a.tag_cloud_small2 {color:#604949;}
a.tag_cloud_small1 {color:#6d3a3a;}
a.tag_cloud_normal {color:#7e2829;}
a.tag_cloud_large1 {color:#8e1718;}
a.tag_cloud_large2 {color:#9b0b0b;}
a.tag_cloud_large3 {color:#a40001;}
/* HotMovies Vlink
----------------------------------------*/
.cat_colum .cat_list a:visited, .tag_cloud a:visited, #studio_list a:visited, #stars_list  a:visited, #series_list a:visited, #director_list a:visited, .movie_list .movie_box .title a:visited{color:#a40001;}
/*custom user page boxes
-----------------------*/
#user_page .body{border:1px #ccc dashed;}
#user_page h2{border-bottom:1px #ccc dashed;background:#eee;}
#custom_user .draggable, #custom_user .not_in_motion, #custom_user #drag_border {border:none;}
#custom_user #drag_border {margin-top:3px;}
/* top lists link on index page
-----------------------*/
#sidebar2 #top_lists_link{ border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    font-weight: 600 !important;
    margin: 0 15px;
    overflow: hidden;
    padding: 2px !important;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    white-space: nowrap; background:#007fd6;
	border: 1px solid #2678d4;
    color: #fff !important;
	width:110px;}
#sidebar2 #top_lists_link:hover {background: none repeat scroll 0 0 #489dfd;
    border: 1px solid #3a87dd;}
#sidebar2 #top_lists_link a{}

#top_search_terms .number{color:#999;}
/* hotmovies */
#video_scene_view .multi_image .play_links a{color:#1C409F;}
#video_scene_view .multi_image .play_links a:hover{color:#1C409F;}
/* categories pages*/
#subcategories{background:#eee;border:1px #ddd solid;}
/*breadcrumbs*/
.breadcrumb a{color:#666 !important;text-decoration:none !important;}
.breadcrumb a:hover{color:#007fd6 !important;}
/*search page*/
#search_again a{color:#a40001;}
#search_again a:hover{color:#333;}
/* sphinx search page*/
#search_v2 .form_filters_label{background:#ddd;}
#search_v2 .search_string{color:#102C90;}
/* new video page*/
#purchase_options{
    }
#purchase_options .change_player{}
#purchase_options .primary_play{border:1px #fff solid;}
#purchase_options .primary_play a {display:inline-block;}
#purchase_options a:hover{color:blue;}
/* Purchase page v2 */
#purchase_page #summary, #purchase_page #customer, #purchase_page #options   {box-shadow:0 0 30px rgba(0, 0, 0, 0.1);border:1px solid #ddd;}
/* hightlight for autocomplete*/
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {background:gold;}
/* reasons page */
#reasons_body {border-bottom-left-radius: 10px;border-top-left-radius: 10px;}
#reasons_body .wrap {display: inline-block;margin: 12px;min-height: 139px;vertical-align: top;width: 36%;}
#reasons_body h3 {color: #142A87;font-size: 18px;line-height: 18px;margin-bottom: 4px;}
#reasons_body .desc {font-size:14px;color:#333333;}
.30minbut a {border:0px;color:#FFFFFF !important;}
.30minbut img {border:0px;color:#FFFFFF;}
#top_info .playlist_icons {margin:0px 0px 12px 0px;}
#top_info .playlist_icons a {font-size:14px;}
#searches #search_directors {margin-bottom:7px;padding-bottom:7px;}
#searches #search_downloads {margin-bottom:7px;padding-bottom:7px;}
.camp_real_price {text-decoration: line-through;line-height: inherit;filter: alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;}

#purchase_v2 .page_header h1, #content #purchase_v2 #progress_bar .choose, #purchase_page #right_sidebar h3, #content #purchase_v2.step2 #progress_bar .select, #content #purchase_v2.step3 #progress_bar .select, #purchase_v2 .purchase_color, .success_messge .confirm_thanks, .success_messge .confirm_title {color:#007fd6 !important;}
#content #purchase_v2 #progress_bar .choose, #content #purchase_v2.step2 #progress_bar .select, #content #purchase_v2.step3 #progress_bar .select {border-top:1px solid #007fd6 !important;}
#purchase_v2 #btnsubmit:hover, #purchase_v2 #btnsubmit2:hover {background:#007fd6 !important;}

/* Paygarden/One Vanilla Buttons */

#purchase_v2 .page_header h1, #content #purchase_v2 #progress_bar .choose, #purchase_page #right_sidebar h3, #content #purchase_v2.step2 #progress_bar .select, #content #purchase_v2.step3 #progress_bar .select, #purchase_v2 .purchase_color, .success_messge .confirm_thanks, .success_messge .confirm_title {}
#content #purchase_v2 #progress_bar .choose, #content #purchase_v2.step2 #progress_bar .select, #content #purchase_v2.step3 #progress_bar .select {}

/* Footer Mockup */
footer {padding:20px 0px 0px 0px;background:#282828;color:#fff;background-image: url(<?php echo $url_path . 'images/bg-noise.png';?>);
-webkit-box-shadow: inset -1px 0px 17px -1px rgba(0,0,0,0.85);
-moz-box-shadow: inset -1px 0px 17px -1px rgba(0,0,0,0.85);
box-shadow: inset -1px 0px 17px -1px rgba(0,0,0,0.85);
}
footer a, footer a:visited {color:#fff !important;text-decoration:none;}
footer a:hover {color:#fff !important;text-decoration:none;}
footer .copywrite_wrap {width:100%:bottom:0px;height:58px;background:#007fd6;border-top:1px solid #00a4f1;
-webkit-box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.9);
-moz-box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.9);
box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.9);}
footer .footer_signup_form {}
footer .footer_signup_form .nav_v2_input {border:0px solid #3d3d3d;margin:1px 0px 0px 0px;}
footer .footer_signup_cta {font-size:18px;margin:2px 0px 6px 0px;}
footer .footer_triangle {width:0;height:0;border-style:solid;border-width:43px 56px 0px 56px;border-color:#ffffff transparent transparent transparent;
	margin:-21px 0px 0px 0px;float:right;position:absolute;right:13%;}
footer .header {color:#2195e4;}
footer .highlight {color:#fff;font-size:12px;font-weight:normal;margin:14px 0px 3px 0px;display:inline-block;}
footer .left {margin:0px 0px 0px 0px;}
footer .left a {padding:22px 6px;font-size:12px;display:block;float:left;border-left:1px solid #0072c0;border-right:1px solid #1a85cd;}
footer .left a:hover {background:#008dec;}
footer .left a.dcma {border-right:1px solid #0072c0;}
footer nav .section ul li a {padding:3px 0px 0px 4px;display:block;margin:0px 7px 0px 0px;}
footer nav .section ul li a:hover {background-color:#3d3d3d;}
footer nav .footer_buttons .header {margin:0px 0px 25px 0px;}
footer nav .footer_buttons .news_signup {margin:-15px 0px -6px 0px;}
footer .news_signup #pref_main ul li {color:#fff;}
@media screen and (max-width: 1200px) {
    footer .left a {font-size:11px;}
}
