a.edit,
a.girl,
a.guestbook,
a.delete,
a.tomail,
a.tomail2,
.tofriend,
a.togroup,
a.fromgroup,
.newdoc,
a.settings,
a.delfriend,
a.pin,
a.help,
a.hide,
a.cross,
.rotate-cw,
.rotate-ccw,
span.invisible {
  line-height: 20px;
  padding-left: 20px;
  padding-bottom: 2px;
}

a.tofriend {
  background: url(/i/friend.gif) no-repeat 0 0;
}

a.settings {
  background: url(/i/settings.gif) no-repeat 0 0;
}

a.togroup {
  background: url(/i/add_group.gif) no-repeat 0 0;
}

a.fromgroup {
  background:url(/i/delete_group.gif) no-repeat 0 1px;
}

a.girl {
  background: url(/i/girl17.gif) no-repeat 0 1px;
}

a.cross {
  background: url(/i/cross.gif) no-repeat 0 0;
}

a.edit {
  background: url(/i/edit.gif) no-repeat 0 0;
}

a.delete {
  background: url(/i/delete.gif) no-repeat 0 0;
}

a.hide {
  background: url(/i/hide.gif) no-repeat 0 0;
}

a.tomail2 {
  background: url(/i/tomail.gif) no-repeat 0px 2px;
}

.hidden {
  background: url(/i/hidden.gif) no-repeat 0 0;
  padding-left: 18px;
}

.refresh {
  background:url(/i/refresh.gif) no-repeat 0 0;
}

.groupinfo {
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 2px;
}

.groupinfo span {
  padding-right: 7px;
  padding-bottom: 2px;
}

.groupinfo small {
  font-size: 12px;
  color: #555;
}

.tofriend {
  background: url(/i/friend.gif) no-repeat 0 0;
}

.newdoc {
  background: url(/i/doc.gif) no-repeat 0 0;
}

.refresh2 {
  background: url(/i/refresh2.gif) no-repeat 0 0;
}

.refresh, .refresh2 {
  line-height: 20px;
  padding-left: 20px;
}

.communities .item img {
  padding: 3px;
  border: 1px solid #ddd;
  float: left;
  margin-right: 10px;
}

.radius5 {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.vtop a {
  display: inline-block;
  margin: 2px 0;
}

.vote-up-inlist, .vote-down-inlist { float:left;padding:0px 4px;border:1px solid #d2d2d2;padding:4px 7px 5px; line-height:10px; }
a.vote-in-post { background:#fcfcfc; }
a.vote-up-inlist:hover { background:#cfffc9; }
a.vote-down-inlist:hover { background:#ffeff2; }
.vote-up-inlist { border-left:0;  border-radius:0 5px 5px 0; }
.vote-down-inlist { border-radius:5px 0 0 5px; }


.b-icon-link {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-decoration: none;
  padding: 2px 0 0 20px;
}

.b-icon-link i {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 3px;
}
.b-icon-link.m-write i {
  background: url(/i/icons-mixed.png) 0 -16px;
}

.b-icon-link.m-comments i {
  background: url(/i/icons-mixed.png) 0 0;
}
.b-icon-link.m-comments.m-red i {
  background: url(/i/comments-red.png) 0 0;
}
.b-icon-link.m-comments.m-green i {
  background: url(/i/comments-green.png) 0 0;
}
.b-icon-link.m-comments.m-green {
  color:#009900;
}
.m-gray {
  color: #777777;
}

.article-item {
  padding: 25px 0;
  border-top: 1px dotted #cecece;
}

#header-block {
  background: #F7F7F7;
  border: 1px solid #D1D1D1;
  padding: 10px;
  margin-bottom: 10px;
}

ul.tags_list {
  list-style: none;
}
ul.tags_list li {
  padding: 0 0 4px 14px;
  background: url("/i/tri.gif") no-repeat 4px 5px;
}
ul.tags_list a,
ul.tags_list li {
  line-height: 1.2;
}

.fav_current .favs_folder {
  background: url(/i/favfolder2.gif) no-repeat scroll 0 2px;
}

.favs_folder {
  background: url(/i/favfolder.gif) no-repeat scroll 0 2px;
  line-height: 20px;
  padding-left: 23px;
}

.favs_cms {
  background: url(/i/mail.gif) no-repeat scroll 0 0;
  line-height: 20px;
  padding-left: 23px;
}

#quote_comment {background:#FFF1CA;border:1px solid #CCCCCC;padding:10px 10px 12px 52px;position:absolute;float:left;}
#quote_comment .rdquo {position:absolute;font-size:96px;color:#dfc471;margin-left:-49px;margin-top:-15px;font-family:Georgia;}
#quote_comment .qclose {text-align:right;padding-top:10px;padding-right:2px;}
#quote_comment a {color:black;}
#quote_comment a:hover {color:black;text-decoration:none}
#quote_comment .qclose a {font-size:12px;color:#555;}