/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{
margin: 0;
padding: 0;
font: bold 13px "Lucida Grande","Trebuchet MS",Verdana,Helvetica,sans-serif;
list-style-type: none;
border-bottom: 1px solid gray;
background: #0FAF9C;
overflow: hidden;
width: 102%;
 height: 35px;
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 10px 8px; /*padding inside each tab*/
border-right: 1px solid white; /*right divider between tabs*/
color: white;
background: #0FAF9C;
}

.mattblackmenu li a:visited{
color: #FFFFFF;
}

.mattblackmenu li a:hover{
background: #FDD978;
color:#000000;
 /*background of tabs for hover state */
}

.mattblackmenu a.selected{
background: #0FAF9C;
color:#000000;
 /*background of tab with "selected" class assigned to its LI */
}