/* ######### Marker List Vertical Menu ######### */

.markermenu{
width: auto; /*width of side bar menu*/
clear: left;
position: relative; /*Preserve this for "right" arrow images (added by script) to be positioned correctly*/

}

.markermenu ul{
list-style-type: none;
padding: 0;
background: #0FAF9C;
margin:0; 
}

.markermenu ul li a{
border-bottom: 1px solid #ffffff;
    color: #000000;
    display: block;
    font: bold 13px "Lucida Grande","Trebuchet MS",Verdana,Helvetica,sans-serif;
    margin-bottom: 2px;
    padding:6px 0 11px 0;
    text-decoration: none;
   
text-align:left;


}

/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .markermenu ul li a{
border-bottom: 1px solid #ffffff;
    color: #000000;
    display: block;
    font: bold 13px "Lucida Grande","Trebuchet MS",Verdana,Helvetica,sans-serif;
    margin-bottom: 2px;
    padding:11px 0 11px 0;
    text-decoration: none;
   
text-align:left;


}
}

* html .markermenu ul li a{ /*IE6 hack*/

}

.markermenu ul li a:visited, .markermenu ul li a:active{
color: #000000;
}

.markermenu ul li a:hover, .markermenu ul li a.selected{
background: #FDD978;
color:#000000;

}

/* ######### Customized Drop Down ULs CSS (inherits from ddlevelsmenu-base.css) ######### */

.blackwhite li a{
background: white;
}

.blackwhite li a:hover{
background: black;
color: white;
}