.themeBlock {
  position: relative;
  float: left;
  width: 478px;
  margin-bottom: 20px;
  border: solid 1px #707070;
  background: #fff;
}
.themeBlock .themeBlock__leftBorder {
  width: 0px;
  height: 32px;
  border-left: 1px solid #d7d7d7;
  position: absolute;
  left: 0px;
  top: 0px;
}
.themeBlock div.themeBlock__toBlog {
  background: none repeat scroll 0 0 #F2F2F2;
  border-top: 1px solid #D9D9D9;
  bottom: 0;
  font: bold 11px/13px Arial;
  left: 0;
  padding: 8px 14px 11px;
  position: absolute;
  width: 450px;
  margin: 0;
}
.themeBlock div.themeBlock__toBlog a {
  background: url('/i/i-pageBlockArrow.png') 100% 1px no-repeat;
  padding-right: 15px;
}
.themeBlock .themeBlock__navigation .list {
  height: 31px;
  border-bottom: 1px solid #707070;
  border-top: 1px solid #bcbcbc;
  width: 10000px;
  background: #f0f0f0 url('/i/new/index/bg-block-theme-navigation.png') repeat-x;
  position: absolute;
}
.themeBlock .themeBlock__navigation .list li.current {
  border-right: none;
  margin: -1px -5px -1px -4px;
  padding: 0 0 0 10px;
  position: relative;
}
.themeBlock .themeBlock__navigation .list li.current a {
  color: #c40005;
  background-position: 100% 0;
  padding: 0 14px 0 2px;
  line-height: 33px;
  height: 33px;
}
.themeBlock .themeBlock__navigation .list li {
  border-right: 1px solid #d7d7d7;
  float: left;
  padding: 0 8px;
}
.themeBlock .themeBlock__navigation .list li a {
  float: left;
  color: #444;
  font-size: 9px;
  line-height: 31px;
  text-transform: uppercase;
}
.themeBlock__content {
  overflow: hidden;
  padding: 10px 14px 0px;
  position: relative;
  width: 450px;
}
.themeBlock__content dd {
  z-index: 9;
  zoom: 1;
  border-top: dotted 1px #000;
  clear: both;
  padding: 9px 0 11px;
}
.themeBlock__content dd a .photo {
  float: left;
  width: 210px;
  height: 137px;
  margin: 0 15px 0px 0;
}
.themeBlock__content dd .blockCommentator {
  clear: left;
  margin-top: 6px;
}
.themeBlock__content dd p {
  font-size: 12px;
  line-height: 16px;
}
.themeBlock__content dd .themeBlock__blogTitle {
  color: #333333;
  font: bold italic 11px / 18px Georgia, Times, "Times New Roman", serif;
}
.themeBlock__content dd .themeBlock__blogTitle a {
  color: #000;
}
.themeBlock__content dd h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 7px;
}
.themeBlock__content dd.large {
  border-top: none;
  margin-top: 3px;
  min-height: 137px;
}
.themeBlock__content dt.title-tab-block {
  font: bold normal 28px / 34px Georgia, Times, "Times New Roman", serif;
  border-bottom: 2px solid #000;
  position: relative;
  z-index: 10 !important;
}
.themeBlock__navigation {
  background: #bcbcbc;
  margin: -1px -1px 0;
  height: 33px;
  overflow: hidden;
  position: relative;
}
.themeBlock__navigation .control {
  background: none;
  z-index: 3;
}
.themeBlock__navigation .control li.disabled {
  cursor: default;
  clip: rect(16px auto auto auto);
  height: 32px;
  top: -9px;
}
.themeBlock__navigation .control li.prev {
  left: 36px;
}
.themeBlock__navigation .control li {
  background: url('/i/new/index/i-block-theme-control.png') no-repeat;
  width: 9px;
  height: 16px;
  position: absolute;
  top: 7px;
  cursor: pointer;
}
.themeBlock__navigation .control li.next {
  left: 57px;
  background-position: -9px 0;
}
.blockTab {
  display: none;
}
.themeBlock .themeBlock__content dd .blockCommentator .label a,
.themeBlock .themeBlock__content dd .blockCommentator .list,
.themeBlock .themeBlock__content dd .blockCommentator .list a {
  font-size: 11px;
  line-height: 15px;
}
.themeBlock .themeBlock__navigation .list li.current,
.themeBlock .themeBlock__navigation .list li.current a {
  background-image: url('/i/new/index/d-block-theme-navigation-current.png');
}
.themeBlock .themeBlock__navigation .list li.current.first,
.themeBlock .themeBlock__navigation .list li.current.first a {
  background-image: url('/i/new/index/d-block-theme-navigation-current-first.png');
  z-index: 99;
}
.themeBlock__navigation .control,
.themeBlock__navigation .control-decor {
  background: url('/i/new/index/bg-block-theme-control.png') no-repeat;
  border-right: 1px solid #bcbcbc;
  width: 74px;
  height: 33px;
  right: 0px;
  top: 0px;
  position: absolute;
  z-index: 2;
}
.blockTab.current {
  display: block;
}
@media only screen and (max-width: 769px) {
  .hotNews {
    padding: 1em 3px 1em 7%;
    line-height: 1.17;
    /*color: #000;
    a{color:#000;}*/
  }
}
@media (min-width: 770px) {
  .hotNews {
    border-top: 1px solid #fff;
    height: 27px;
    line-height: 2.17;
    padding-top: 12px;
    padding-bottom: 12px;
    /*color: #717171;
    a{color: #717171;}*/
  }
  .hotNews .wrapper {
    width: 990px;
    margin: 0 auto;
    position: relative;
    left: -5px;
  }
}
.hotNews {
  background: #d62029;
  font-size: 1em;
  color: #fff;
}
.hotNews a {
  color: #fff;
}
.hotNews br {
  display: none;
}
.hotNews strong,
.hotNews p {
  display: inline-block;
}
.homeNews {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.homeNews__item {
  position: relative;
  float: left;
  margin-right: 14px;
  font: bold normal 1em / 1.17 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.homeNews__item:last-child {
  margin-right: 0;
}
.homeNews__item a {
  position: relative;
  display: block;
  vertical-align: top;
  color: #000000;
  z-index: 2;
}
.homeNews__item time {
  margin-bottom: 2px;
  font-size: 0.917em;
  line-height: 1;
  color: #fd0007;
}
.homeNews__item._red a {
  color: #fd0007;
}
@media (min-width: 770px) {
  .homeNews__item {
    position: relative;
    width: 315px;
    min-height: 90px;
    padding: 13px 0 22px 17px;
    box-sizing: border-box;
  }
  .homeNews__item a {
    font: bold normal 1.167em / 1.2857 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .homeNews__item:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: block;
    height: 80px;
    width: 1px;
    background: #fd0007;
  }
  .homeNews__item:nth-child(3) {
    width: 230px;
    margin-right: 0;
  }
  .homeNews__storage {
    display: block;
    float: right;
    margin-top: 31px;
    color: #3a3a3a;
    font-size: 0.917em;
    line-height: 1;
    border-bottom: 1px solid #fd0007;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .homeNews .wrapper {
    width: 990px;
    margin: 0 auto;
    position: relative;
  }
}
@media only screen and (max-width: 769px) {
  .homeNews {
    padding-bottom: .5em;
  }
  .homeNews__items {
    padding: .5em 3px .5em 7%;
  }
  .homeNews__item {
    margin-bottom: .5em;
    border-bottom: 1px solid #fd0007;
    padding-bottom: .5em;
  }
  .homeNews__item:last-child {
    margin-bottom: 0;
  }
  .homeNews__storage {
    clear: both;
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 1.25em 0 .75em;
    color: #3a3a3a;
    font-size: 0.917em;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
  }
}
.replicaDay {
  width: 480px;
  height: 144px;
  position: relative;
  background: url("/i/new/index/bg-replick.jpg") 0 0 repeat-x;
  float: left;
  margin: 0 0 20px 0;
}
.replicaDay .are-replicas {
  font: bold 11px/14px Arial;
  margin: 8px 0 0 18px;
  padding: 0 0 0 0;
  display: block;
  width: 107px;
  height: 18px;
  background: url("/i/new/index/bg-are-replicas.png") right 3px no-repeat;
}
.replicaDay dl {
  margin: 16px 0 0 18px;
  overflow: hidden;
}
.replicaDay dl dd {
  float: left;
  height: 65px;
  margin: -2px 0 0 7px;
  padding: 24px 11px 12px;
  width: 381px;
}
.replicaDay dl dd h4,
.replicaDay dl dd h4 a {
  color: #333333;
  font: bold italic 14px / 22px Georgia, Times, "Times New Roman", serif;
}
.replicaDay dl dd h4 {
  margin: -2px 0 0;
}
.replicaDay dl dd p {
  font: normal normal 12px / 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
}
.replicaDay dl dd p a {
  color: #08335f;
  font-weight: bold;
}
.replicaDay dl dt {
  float: left;
  height: 36px;
  width: 36px;
}
.title-now {
  margin: 20px -1px 15px 0;
}
.h-blockRightNow {
  float: right;
  width: 230px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  font-size: 13px;
  line-height: 17px;
  min-height: 600px;
}
.h-blockRightNow .blockJustNow {
  margin-bottom: 1px;
  border: 0 solid;
  padding: 12px 0 20px;
  overflow: hidden;
}
.h-blockRightNow .blockJustNow blockquote {
  border: 4px solid #dadada;
  height: auto;
  margin-bottom: 20px;
  padding: 5px;
  position: relative;
}
.h-blockRightNow .blockJustNow blockquote h3 {
  font: normal normal 14px / 17px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
}
.h-blockRightNow .blockJustNow blockquote h3 span {
  color: #d50002;
}
.h-blockRightNow .blockJustNow blockquote time {
  color: #717171;
  font-size: 12px;
  line-height: 16px;
  margin-left: 0;
}
.h-blockRightNow .blockJustNow blockquote q {
  background: url('/i/new/index/i-block-justnow-decor.png') no-repeat;
  bottom: -21px;
  height: 21px;
  left: 51px;
  position: absolute;
  width: 15px;
}
.h-blockRightNow .blockJustNow .h-blockJustNow__wrapper {
  min-height: 230px;
  border-left: none;
  margin: 0;
  padding: 0;
  width: 227px;
}
.h-blockRightNow .blockJustNow .blockJustNow__authorBig {
  color: #585858;
  font-size: 11px;
  line-height: 13px;
  min-height: 80px;
  padding: 0 5px 0 88px;
  position: relative;
}
.h-blockRightNow .blockJustNow .blockJustNow__authorBig a {
  font-size: 13px;
  display: inline;
}
.h-blockRightNow .blockJustNow .blockJustNow__authorBig .blockJustNow__avatarBig {
  width: 80px;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  top: 1px;
}
.h-blockRightNow .blockJustNow h2 {
  font: bold normal 22px / 21px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 13px;
}
.h-blockRightNow .pageBlock {
  height: 230px;
}
.h-blockRightNow li {
  padding: 8px 0 7px;
  background: #ffffff url('/i/newindex/bg-rightNow-li.png') no-repeat 50% 0;
}
.h-blockRightNow li:first-child {
  margin-top: -7px;
  padding: 0 0 7px;
  background: none;
}
.h-blockRightNow li p {
  line-height: 16px;
}
.h-blockRightNow li p img.arrow {
  vertical-align: -1px;
}
.h-blockRightNow li p a {
  color: #000;
}
.h-blockRightNow li p a:hover {
  color: #f00;
}
.h-blockRightNow li .blockJustNow__meta {
  font-size: 10px;
  margin-left: 36px;
  position: relative;
}
.h-blockRightNow li .blockJustNow__meta .blockJustNow__author {
  color: #333333;
  font: italic 13px / 17px Georgia, Times, "Times New Roman", serif;
}
.h-blockRightNow li .blockJustNow__meta time {
  color: #d50002;
}
.h-blockRightNow li .blockJustNow__meta .blockJustNow__avatar {
  display: block;
  left: -36px;
  top: 1px;
  position: absolute;
}
.h-sixBlock {
  position: relative;
}
.h-pageBlockRow {
  margin: 0 -20px 0 0;
  position: relative;
  z-index: 1;
  overflow: visible;
  float: left;
}
.h-pageBlockRow .pageBlock {
  float: left;
  margin: 0 0 0 20px;
  height: 255px;
  width: 230px;
  /*&[style*="display:block"]:first-child {margin-left: 0;}
    &[style*="display:block"]:first-child {margin-left: 0;}*/
  /* default */
  /* theme */
  /* author */
  /* web */
  /* lecture Под снос? */
  /* reaction */
  /* интервью а не под снос ли?*/
  /* noImage */
}
.h-pageBlockRow .pageBlock .userInSubject {
  color: #333 !important;
}
.h-pageBlockRow .pageBlock:first-child {
  margin-left: 0;
}
.h-pageBlockRow .pageBlock dd {
  position: relative;
}
.h-pageBlockRow .pageBlock dd .pageBlock__coverLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 230px;
  display: block;
  z-index: 9998;
  cursor: pointer;
}
.h-pageBlockRow .pageBlock dd .pageBlock__shadow {
  position: absolute;
  top: -6px;
  left: -9px;
  width: 261px;
  background-image: url('/i/newindex/bg-pageBlock-wrapper-six.png');
  height: 260px;
}
.h-pageBlockRow .pageBlock dd .pageBlock__cover {
  position: absolute;
  z-index: 1;
  top: 0;
}
.h-pageBlockRow .pageBlock dd .pageBlock__cover img {
  width: 230px;
}
.h-pageBlockRow .pageBlock dd .pageBlock__content {
  background-repeat: no-repeat;
  background: #ffffff url('/i/newindex/bg-pageBlock.jpg') no-repeat 0 0;
  height: 230px;
  position: relative;
  z-index: 2;
}
.h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__text {
  position: relative;
  height: 80px;
  padding: 5px 15px;
  border: none;
  background-image: none;
  background-color: transparent;
  z-index: 3;
}
.h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__text a {
  font-size: 1.17em;
  line-height: 1.3;
  color: #000;
  font-weight: bold;
}
.h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__text h4 {
  color: #fff;
  font: bold normal 12px / 29px Georgia, Times, "Times New Roman", serif;
  padding: 0 11px;
  position: absolute;
  top: -30px;
  left: 0;
}
.h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__text h4 a {
  color: #fff;
  font-size: 1em;
  line-height: 29px;
}
.h-pageBlockRow .pageBlock__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.h-pageBlockRow .pageBlock__label__title {
  display: inline-block;
  font-size: 1em;
  line-height: 1.917;
  color: #fff;
}
.h-pageBlockRow .pageBlock__label__title > span {
  font-weight: bold;
}
.h-pageBlockRow .pageBlock__label_vopros-dnya {
  background-color: rgba(57, 103, 150, 0.8);
}
.h-pageBlockRow .pageBlock__label_vopros-dnya:before {
  width: 8px;
  height: 13px;
  background-image: url(/i/index/question.png);
}
.h-pageBlockRow .pageBlock__label_sobytiya {
  background-color: rgba(209, 13, 86, 0.8);
}
.h-pageBlockRow .pageBlock__label_sobytiya:before {
  width: 13px;
  height: 12px;
  background-image: url(/i/index/project.png);
}
.h-pageBlockRow .pageBlock__label_voskresnyy-rasskaz,
.h-pageBlockRow .pageBlock__label_literatura-po-pyatnitsam {
  background-color: rgba(77, 114, 17, 0.8);
}
.h-pageBlockRow .pageBlock__label_voskresnyy-rasskaz:before,
.h-pageBlockRow .pageBlock__label_literatura-po-pyatnitsam:before {
  background-image: url(/i/index/literature.png);
  width: 20px;
  height: 14px;
}
.h-pageBlockRow .pageBlock__label_onlayn-festival-koroche {
  background-color: rgba(0, 211, 219, 0.8);
}
.h-pageBlockRow .pageBlock__label_onlayn-festival-koroche:before {
  width: 19px;
  height: 13px;
  background-image: url(/i/index/cinema.png);
}
.h-pageBlockRow .pageBlock__label_posle-velikoy-pobedy {
  background-color: rgba(175, 32, 202, 0.8);
}
.h-pageBlockRow .pageBlock__label_posle-velikoy-pobedy:before {
  width: 9px;
  height: 13px;
  background-image: url(/i/index/victory.png);
}
.h-pageBlockRow .pageBlock__label_zavtraki-s-Sokolovoi {
  background-color: rgba(209, 13, 86, 0.8);
}
.h-pageBlockRow .pageBlock__label_zavtraki-s-Sokolovoi:before {
  width: 20px;
  height: 19px;
  background-image: url(/i/index/breakfast.png);
  top: -2px;
}
.h-pageBlockRow .pageBlock__label_pryamaya-translyatsiya {
  background-color: rgba(77, 114, 17, 0.8);
}
.h-pageBlockRow .pageBlock__label_pryamaya-translyatsiya:before {
  width: 16px;
  height: 20px;
  background-image: url(/i/index/live.png);
  top: -2px;
}
.h-pageBlockRow .pageBlock__label_luchshie-blogi {
  background-color: rgba(214, 166, 38, 0.8);
}
.h-pageBlockRow .pageBlock__label_luchshie-blogi:before {
  width: 20px;
  height: 14px;
  background-image: url(/i/index/best-blogs.png);
}
.h-pageBlockRow .pageBlock__label_biblioteka {
  background-color: rgba(57, 103, 150, 0.8);
}
.h-pageBlockRow .pageBlock__label_biblioteka:before {
  width: 20px;
  height: 19px;
  background-image: url(/i/index/library.png);
  top: -2px;
}
.h-pageBlockRow .pageBlock__label_monologi-o-90-kh {
  background-color: rgba(107, 46, 9, 0.8);
}
.h-pageBlockRow .pageBlock__label_monologi-o-90-kh:before {
  width: 20px;
  height: 19px;
  background-image: url(/i/index/monologues.png);
  top: -2px;
}
.h-pageBlockRow .pageBlock__label_biznes-lanch-s-kseniey-sobchak {
  background-color: rgba(0, 211, 219, 0.8);
}
.h-pageBlockRow .pageBlock__label_biznes-lanch-s-kseniey-sobchak:before {
  width: 16px;
  height: 16px;
  background-image: url(/i/index/lunch.png);
}
.h-pageBlockRow .pageBlock__label_poedinok {
  background-color: rgba(214, 166, 38, 0.8);
}
.h-pageBlockRow .pageBlock__label_poedinok:before {
  width: 13px;
  height: 13px;
  background-image: url(/i/index/battle.png);
}
.h-pageBlockRow .pageBlock__label_cultura_povsednevnosti {
  background-color: rgba(0, 220, 104, 0.8);
}
.h-pageBlockRow .pageBlock__label_cultura_povsednevnosti:before {
  top: -2px;
  width: 11px;
  height: 17px;
  background-image: url(/i/index/kultura.png);
}
.h-pageBlockRow .pageBlock__label_foto-dnya {
  background-color: rgba(57, 103, 150, 0.8);
}
.h-pageBlockRow .pageBlock__label_foto-dnya:before {
  top: -1px;
  width: 21px;
  height: 17px;
  background-image: url(/i/index/photo.png);
}
.h-pageBlockRow .pageBlock__label_test {
  background-color: rgba(0, 211, 219, 0.8);
}
.h-pageBlockRow .pageBlock__label_test:before {
  top: -2px;
  width: 18px;
  height: 17px;
  background-image: url(/i/index/test.png);
}
.h-pageBlockRow .pageBlock__label_premiya-prosvetitel {
  background-color: rgba(214, 166, 38, 0.8);
}
.h-pageBlockRow .pageBlock__label_premiya-prosvetitel:before {
  width: 18px;
  height: 16px;
  background-image: url(/i/index/finalist.png);
}
.h-pageBlockRow .pageBlock__label_partnerski_material {
  background-color: rgba(209, 13, 86, 0.8);
}
.h-pageBlockRow .pageBlock__label_partnerski_material:before {
  top: -2px;
  width: 21px;
  height: 21px;
  background-image: url(/i/index/partner.png);
}
.h-pageBlockRow .pageBlock__label_vechnoe {
  background-color: rgba(166, 7, 15, 0.8);
}
.h-pageBlockRow .pageBlock__label_vechnoe:before {
  width: 24px;
  height: 15px;
  background-image: url(/i/index/eternity.png);
}
.h-pageBlockRow .pageBlock__label_oskorblenie-chuvstv {
  background-color: rgba(140, 12, 21, 0.8);
}
.h-pageBlockRow .pageBlock__label_oskorblenie-chuvstv:before {
  top: -2px;
  width: 22px;
  height: 19px;
  background-image: url(/i/index/heart.png);
}
.h-pageBlockRow .pageBlock__label_istoriya-zla {
  font-size: 13px;
  background-color: rgba(80, 23, 29, 0.8);
}
.h-pageBlockRow .pageBlock__label_istoriya-zla p {
  position: relative;
  left: -10px;
}
.h-pageBlockRow .pageBlock__label_istoriya-zla:before {
  left: -10px;
  top: -2px;
  width: 61px;
  height: 16px;
  background-image: url(/i/index/evil.png);
}
.h-pageBlockRow .pageBlock__label_istoriya-odnoy-borby {
  background-color: rgba(97, 10, 10, 0.8);
}
.h-pageBlockRow .pageBlock__label_istoriya-odnoy-borby:before {
  top: -2px;
  width: 19px;
  height: 19px;
  background-image: url(/i/index/fight_story.png);
}
.h-pageBlockRow .pageBlock__label_chto-bylo-dalshe {
  background-color: rgba(0, 113, 56, 0.8);
}
.h-pageBlockRow .pageBlock__label_chto-bylo-dalshe:before {
  top: -2px;
  width: 18px;
  height: 19px;
  background-image: url(/i/index/next.png);
}
.h-pageBlockRow .pageBlock__label:before {
  position: relative;
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  margin-right: 2px;
  vertical-align: text-top;
}
.h-pageBlockRow .pageBlock.default.promotion + .promotion {
  display: none;
}
.h-pageBlockRow .pageBlock.default dd .pageBlock__content .pageBlock__text {
  bottom: 0;
  position: absolute;
  width: 200px;
  background: #fff;
}
.h-pageBlockRow .pageBlock.default dd .pageBlock__content h4 {
  border-style: solid;
  border-width: 1px 0 0;
  z-index: 9999;
}
.h-pageBlockRow .pageBlock.default dd .pageBlock__content h4 a {
  color: #fff;
}
.h-pageBlockRow .pageBlock.theme dd .pageBlock__content .pageBlock__text {
  width: 145px;
}
.h-pageBlockRow .pageBlock.author dd .pageBlock__content {
  height: 204px;
  padding-top: 26px;
}
.h-pageBlockRow .pageBlock.author dd .pageBlock__content > p {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1em;
  line-height: 1.25;
  color: #434343;
  font-weight: normal;
  margin: 0 16px;
  max-height: 90px;
  overflow: hidden;
  z-index: 2;
  position: relative;
}
.h-pageBlockRow .pageBlock.author dd .pageBlock__content .pageBlock__pic {
  background: url('/i/newindex/bg-pageBlock-author-bg.gif') 100% 0 no-repeat;
  bottom: 8px;
  display: block;
  color: #333333;
  font: bold italic 14px / 12px Georgia, Times, "Times New Roman", serif;
  left: 15px;
  overflow: hidden;
  padding-top: 17px;
  position: absolute;
  text-align: right;
  width: 200px;
}
.h-pageBlockRow .pageBlock.author .lock {
  vertical-align: -1px;
}
.h-pageBlockRow .pageBlock.web dd .pageBlock__content {
  overflow: hidden;
}
.h-pageBlockRow .pageBlock.web dd .pageBlock__content .number {
  background: #2b2d2f url('/i/i-pageBlockWebS.png') no-repeat 7px 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 7px 0 30px;
  color: #cecece;
  font: bold normal 13px / 32px Georgia, Times, "Times New Roman", serif;
}
.h-pageBlockRow .pageBlock.web dd .pageBlock__content .number span {
  color: #f3c935;
  font-style: italic;
}
.h-pageBlockRow .pageBlock.web dd .pageBlock__content .number b {
  color: #fff;
  text-transform: uppercase;
}
.h-pageBlockRow .pageBlock.web dd .pageBlock__content h3 {
  color: #595959;
  font: bold normal 14px / 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding: 17px 17px 4px;
}
.h-pageBlockRow .pageBlock.web dd .pageBlock__content h3 a {
  color: #000;
}
.h-pageBlockRow .pageBlock.web dd .pageBlock__content h3 .userInSubject {
  color: #333333;
  font: bold italic 12px / 14px Georgia, Times, "Times New Roman", serif;
  color: #000 !important;
  font-size: 17px;
  text-transform: none;
}
.h-pageBlockRow .pageBlock.web dd .pageBlock__content h3 .userInSubject.other {
  font-weight: normal !important;
}
.h-pageBlockRow .pageBlock.web dd .pageBlock__content .lead {
  font: bold normal 12px / 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 140px;
  overflow: hidden;
  padding: 0 17px;
  color: #595959;
}
.h-pageBlockRow .pageBlock.web dd .pageBlock__content .lead a:hover {
  color: #595959;
}
.h-pageBlockRow .pageBlock.web dd .pageBlock__content .lock {
  vertical-align: -1px;
}
.h-pageBlockRow .pageBlock.web.dark dd .pageBlock__content h3 {
  color: #e6e6e6;
}
.h-pageBlockRow .pageBlock.web.dark dd .pageBlock__content h3 a {
  color: #fff;
}
.h-pageBlockRow .pageBlock.web.dark dd .pageBlock__content h3 a.userInSubject {
  color: #e6e6e6 !important;
}
.h-pageBlockRow .pageBlock.web.dark dd .pageBlock__content .lead,
.h-pageBlockRow .pageBlock.web.dark dd .pageBlock__content .lead a,
.h-pageBlockRow .pageBlock.web.dark dd .pageBlock__content .lead a:hover {
  color: #e6e6e6;
}
.h-pageBlockRow .pageBlock.lecture dd .pageBlock__content h2 {
  font-size: 18px;
  font-weight: bold;
  height: auto;
  line-height: 18px;
  padding: 0;
}
.h-pageBlockRow .pageBlock.lecture .inner {
  background: #fff;
  bottom: 0;
  padding: 8px 15px 12px;
  position: absolute;
  width: 200px;
}
.h-pageBlockRow .pageBlock.lecture .pageBlock__meta {
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  margin-bottom: 4px;
  color: #989898;
}
.h-pageBlockRow .pageBlock.lecture .pageBlock__meta a {
  color: #989898;
}
.h-pageBlockRow .pageBlock.lecture .pageBlock__meta .author {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
}
.h-pageBlockRow .pageBlock.reaction dd .pageBlock__content h5 {
  color: #ff3408;
  margin: 0;
  padding: 6px 10px 0;
}
.h-pageBlockRow .pageBlock.reaction dd .pageBlock__content h2 {
  padding: 0 10px;
}
.h-pageBlockRow .pageBlock.reaction dd .pageBlock__content h2 a,
.h-pageBlockRow .pageBlock.reaction dd .pageBlock__content h2 a:hover {
  color: #fff !important;
}
.h-pageBlockRow .pageBlock.reaction .pageBlock-reaction__commentShadow {
  bottom: 0;
  margin: 0;
  overflow: hidden;
  padding: 21px 3px 3px;
  position: absolute;
  width: 224px;
}
.h-pageBlockRow .pageBlock.reaction .pageBlock-reaction__commentShadow .pageBlock-reaction__commentWrapper {
  border-color: #dd2e30 #be0002 #a40002 #d70c0e;
  border-style: solid;
  border-width: 1px;
  position: relative;
  z-index: 2;
}
.h-pageBlockRow .pageBlock.reaction .pageBlock-reaction__commentShadow .pageBlock-reaction__commentWrapper .pageBlock-reaction__commentContent {
  font-size: 13px;
  line-height: 15px;
  background: #f6f6f6;
  border: 2px solid #d50002;
  padding: 10px;
  position: relative;
}
.h-pageBlockRow .pageBlock.reaction .pageBlock-reaction__commentShadow .pageBlock-reaction__commentWrapper .pageBlock-reaction__commentContent .pageBlock-reaction__avatar {
  color: #d50002;
  display: block;
  font: italic 13px / 15px Georgia, Times, "Times New Roman", serif;
  margin-bottom: 5px;
  overflow: hidden;
  padding-top: 5px;
  position: relative;
}
.h-pageBlockRow .pageBlock.reaction .pageBlock-reaction__commentShadow .pageBlock-reaction__commentWrapper .pageBlock-reaction__commentContent .pageBlock-reaction__avatar img {
  float: left;
  height: 40px;
  margin: -5px 8px 0 0;
  width: 40px;
}
.h-pageBlockRow .pageBlock.reaction .pageBlock-reaction__commentShadow .pageBlock-reaction__cn {
  background: url('/i/bg-blockReactionShadow.png') no-repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  top: -12px;
  width: 230px;
  z-index: 1;
}
.h-pageBlockRow .pageBlock.reaction .pageBlock-reaction__commentShadow .pageBlock-reaction__bubble {
  background: url('/i/i-blockReactionBubble.png') no-repeat;
  height: 18px;
  left: 13px;
  position: absolute;
  top: 6px;
  width: 14px;
  z-index: 2;
}
.h-pageBlockRow .pageBlock.reaction p {
  font-weight: bold;
}
.h-pageBlockRow .pageBlock.reaction p a {
  font-weight: bold;
  color: #000;
  position: relative;
  z-index: 2;
}
.h-pageBlockRow .pageBlock.reaction p a:hover {
  color: #f63;
}
.h-pageBlockRow .pageBlock.reaction .userInSubject {
  color: #fff !important;
}
.h-pageBlockRow .pageBlock.reaction .lock {
  vertical-align: -2px;
}
.h-pageBlockRow .pageBlock.interview dd .pageBlock__content {
  background: url("/i/new/index/bg-interview2.png") no-repeat scroll 0 0 #f8f8f8;
  height: 176px;
}
.h-pageBlockRow .pageBlock.interview dd .pageBlock__content h3 {
  color: #fff;
  border-bottom: 1px solid #848484;
  font-size: 17px;
  font-weight: bold;
  height: 24px;
  letter-spacing: -0.06em;
  padding: 5px 0 0 10px;
}
.h-pageBlockRow .pageBlock.interview dd .pageBlock__content h3 a {
  color: #FFF;
  position: absolute;
  z-index: 99;
}
.h-pageBlockRow .pageBlock.interview dd .pageBlock__content h4 {
  background: url('/i/new/index/bg-interview-title-arrow.png') no-repeat 0 50%;
  float: left;
  padding-right: 18px;
  top: 2px;
  z-index: 99;
  font: bold normal 12px / 29px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.h-pageBlockRow .pageBlock.interview dd .pageBlock__content .blockCommentator {
  margin: 0;
  background: #919191;
  border-bottom: #7f7f7f 1px solid;
  border-top: #a2a2a2 1px solid;
  border-left: 0 solid;
  border-right: 0 solid;
  font-size: 11px;
  overflow: hidden;
  padding: 2px 0 4px 10px;
  position: relative;
  height: 16px;
}
.h-pageBlockRow .pageBlock.interview span.userInSubject {
  color: #fff !important;
  font-weight: bold;
  line-height: 18px;
  font-size: 18px;
  display: block;
  padding-bottom: 5px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  text-transform: none;
}
.h-pageBlockRow .pageBlock.interview .text {
  clear: left;
  left: 10px;
  position: absolute;
  top: 31px;
  width: 130px;
  z-index: 99;
}
.h-pageBlockRow .pageBlock.interview .text a {
  color: #c7c7c7 !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 13px;
}
.h-pageBlockRow .pageBlock.interview .label {
  margin-top: 1px;
}
.h-pageBlockRow .pageBlock.interview .label a {
  color: #08335f;
  font-weight: bold;
  display: block;
  font-size: 11px;
  height: 14px;
  margin: 0 0 0 0;
  padding: 0 13px 0 0;
  background: url("/i/new/index/arrow-blockCommentator.png") right 4px no-repeat;
  float: left;
}
.h-pageBlockRow .pageBlock.interview .label a:hover {
  color: #f00;
}
.h-pageBlockRow .pageBlock.interview .photo {
  bottom: 0;
  height: 163px;
  position: absolute;
  right: 0;
  z-index: 95;
}
.h-pageBlockRow .pageBlock.interview .b-interview {
  background: #676767;
  position: relative;
}
.h-pageBlockRow .pageBlock.interview.interview.during .text {
  top: 7px;
}
.h-pageBlockRow .pageBlock.interview.interview.during h4 {
  display: none;
}
.h-pageBlockRow .pageBlock.interview.interview.during span.userInSubject {
  color: #333 !important;
}
.h-pageBlockRow .pageBlock.noImage dd .pageBlock__content {
  background: url("/i/new/index/bg_noimage.png") repeat-x #dedede;
  height: 206px;
}
.h-pageBlockRow .pageBlock.noImage dd .pageBlock__content h2 {
  border-bottom: 1px solid #d1d1d1;
  font-size: 20px;
  padding: 8px 8px 5px 8px;
  margin-bottom: 10px;
  line-height: 24px;
  height: auto;
}
.h-pageBlockRow .pageBlock.noImage dd .pageBlock__content h2 .userInSubject {
  color: #D50002 !important;
  display: block;
}
.h-pageBlockRow .pageBlock.noImage .blockCommentator {
  margin: 0;
  background: #919191;
  border-bottom: #7f7f7f 1px solid;
  border-top: #a2a2a2 1px solid;
  border-left: 0 solid;
  border-right: 0 solid;
  font-size: 11px;
  overflow: hidden;
  padding: 2px 0 4px 10px;
  position: relative;
  height: 16px;
}
.h-pageBlockRow .pageBlock.noImage .lock {
  float: left;
  margin: 5px 5px 0 0;
  vertical-align: baseline;
}
.h-pageBlockRow .pageBlock.noImage p {
  padding: 0 8px;
  font-size: 14px;
}
.h-pageBlockRow .pageBlock.noImage .userInSubject {
  color: #c30000 !important;
  font-size: 12px;
  font-weight: normal;
}
.h-pageBlockRow .pageBlock.noImage .label a {
  color: #fff;
  font-weight: bold;
  display: block;
  font-size: 11px;
  height: 14px;
  margin: 0 0 0 0;
  padding: 0 13px 0 0;
  background: url("/i/new/index/arrow-blockCommentator.png") right 4px no-repeat;
  float: left;
}
/* interview */
/* pager  */
.pager {
  margin-bottom: 15px;
}
.pager__sixPoints {
  display: none;
}
.pager__goLeft,
.pager__goRight {
  display: block;
  float: left;
  cursor: pointer;
  border: 1px solid #d6d6d6;
  border-radius: 30px;
  padding: 5px 27px 3px 7px;
  background-repeat: no-repeat;
}
.pager__goRight {
  float: right;
  padding: 5px 7px 3px 27px;
}
.pager__goRight {
  display: none;
}
.pager__goRight .pager__linkText {
  padding: 0 10px 0 0;
}
.pager__linkText {
  padding-left: 10px;
  position: relative;
  display: inline-block;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  top: -7px;
}
.pager__leftArrow,
.pager__rightArrow {
  background: url('/i/subscribe/arrows_ipad_preview.png') no-repeat -26px -43px;
  display: inline-block;
  width: 25px;
  height: 25px;
}
.pager__rightArrow {
  background-position: -1px -43px;
}
.pager__goRight:hover .pager__rightArrow {
  background-position: -76px -43px;
}
.pager__goLeft:hover .pager__leftArrow {
  background-position: -51px -43px;
}
.pageBlockSix__preLoader {
  background-color: #fff;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  text-align: center;
  height: 485px;
  width: 730px;
  position: absolute;
  z-index: 2;
  display: none;
}
.pageBlockSix__preLoader img {
  margin-top: 200px;
}
@media (min-width: 770px) {
  .h-pageBlockRow .pageBlock.author dd img {
    float: right;
    margin: -10px 0 0 10px;
  }
  .h-pageBlockRow .pageBlock.author dd .pageBlock__text {
    height: auto;
    padding: 0;
  }
  .h-pageBlockRow .pageBlock.author dd .pageBlock__text > h2 {
    background: none;
    font-weight: bold;
    height: auto !important;
    margin: 0 16px 12px;
    padding: 0;
  }
  .h-pageBlockRow .pageBlock.author dd .pageBlock__text > h2 a {
    font-size: 1.83em;
    line-height: 22px;
  }
  .h-pageBlockRow .pageBlock.author dd .pageBlock__text > h2 a span {
    position: relative;
  }
  .h-pageBlockRow .pageBlock.reaction dd .pageBlock__content h5 {
    font: bold normal 12px / 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
  }
  .h-pageBlockRow .pageBlock.reaction dd .pageBlock__content h2 {
    font: normal normal 18px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .h-pageBlockRow .pageBlock.reaction dd .pageBlock__content h2 a {
    font-weight: normal;
  }
  .h-pageBlockRow .pageBlock.reaction dd .pageBlock__content h2 a.userInSubject {
    font-weight: bold;
  }
  .h-pageBlockRow .pageBlock.reaction dd .pageBlock__content .pageBlock__text {
    padding: 0;
  }
  .h-pageBlockRow .pageBlock.reaction dd .pageBlock__content .pageBlock__text a {
    font-size: 1em;
    line-height: 1;
  }
}
@font-face {
  font-family: 'FuturaPT Medium';
  src: url('/fonts/futura/FuturaPT-Medium.woff2') format('woff2'), url('/fonts/futura/FuturaPT-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.olymp {
  display: block;
  font-family: 'FuturaPT Medium', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  padding: 10px 0 5px;
}
.olymp:hover {
  color: #000;
}
.olymp > img,
.olymp > p,
.olymp > div {
  float: left;
}
.olymp-logo {
  display: block;
  margin-right: 30px;
}
.olymp p {
  padding-top: 18px;
  margin-right: 50px;
}
.olymp span {
  display: inline-block;
  vertical-align: super;
}
.olymp > div {
  margin-right: 25px;
  height: 52px;
}
.olymp > div.all {
  padding-top: 6px;
  height: 46px;
}
.olymp > div.all span {
  position: relative;
  top: 1px;
}
.olymp > div.rank {
  padding-top: 12px;
  height: 38px;
}
.olymp > div.rank span {
  position: relative;
  top: 2px;
}
.olymp .icon {
  display: inline-block;
  background-repeat: no-repeat;
  width: 32px;
  height: 52px;
  margin-right: 3px;
}
.olymp .icon-gold {
  background-image: url(/i/olymp/gold.png);
}
.olymp .icon-silver {
  background-image: url(/i/olymp/silver.png);
}
.olymp .icon-bronze {
  background-image: url(/i/olymp/bronze.png);
}
.olymp .icon-rank {
  width: 49px;
  height: 38px;
  background-image: url(/i/olymp/rank.png);
}
.olymp .icon-all {
  width: 51px;
  height: 45px;
  background-image: url(/i/olymp/all.png);
}
@media (max-width: 989px) {
  .olymp {
    font-size: 14px;
    width: 370px;
    margin: 10px auto 0;
  }
  .olymp-logo {
    margin-left: 16px;
    margin-right: 6px;
    margin-bottom: 10px;
  }
  .olymp p + div {
    clear: left;
    margin-left: 16px;
  }
  .olymp > div {
    margin-right: 16px;
  }
  .olymp > div span {
    top: -15px;
    position: relative;
  }
  .olymp > div.all span {
    position: relative;
    top: -14px;
  }
  .olymp > div.rank .icon {
    position: relative;
    top: -5px;
  }
  .olymp > div.rank span {
    position: relative;
    top: -13px;
  }
  .olymp p {
    width: 50%;
    text-align: center;
    line-height: 20px;
    margin-right: 0;
    padding-top: 4px;
  }
}
@media (max-width: 500px) {
  .olymp {
    width: 320px;
    margin: 15px auto 0;
  }
  .olymp .icon {
    transform: scale(0.5);
  }
  .olymp > div {
    margin-left: -7px;
  }
  .olymp > div span {
    margin-left: -10px;
  }
}
@media (min-width: 501px) and (max-width: 979px) {
  .olymp .olymp-logo {
    margin-left: 40px;
    margin-right: 0;
  }
}
.asideCalendar {
  margin: 0 0 20px;
  background: #e8e8e8;
}
.asideCalendar .h-asideCalendarMonth {
  padding: 18px 14px;
}
.asideCalendar .h-asideCalendarMonth time {
  font: bold normal 14px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.asideCalendar .h-asideCalendarMonth .asideCalendarMonth {
  margin: 8px 0 0 0;
  width: 100%;
}
.asideCalendar .h-asideCalendarMonth .asideCalendarMonth thead tr td {
  height: 16px;
  text-align: center;
  vertical-align: middle;
  font: normal normal 10px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  border-bottom: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
}
.asideCalendar .h-asideCalendarMonth .asideCalendarMonth thead tr.current td {
  background: #fff;
}
.asideCalendar .h-asideCalendarMonth .asideCalendarMonth tbody tr td {
  text-align: center;
  vertical-align: middle;
  height: 21px;
  font: normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #707070;
}
.asideCalendar .h-asideCalendarMonth .asideCalendarMonth tbody tr td.event,
.asideCalendar .h-asideCalendarMonth .asideCalendarMonth tbody tr td.event a,
.asideCalendar .h-asideCalendarMonth .asideCalendarMonth tbody tr td.current,
.asideCalendar .h-asideCalendarMonth .asideCalendarMonth tbody tr td.current a {
  font: bold normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
}
.asideCalendar .h-asideCalendarMonth .asideCalendarMonth tbody tr td.current,
.asideCalendar .h-asideCalendarMonth .asideCalendarMonth tbody tr td.current a {
  color: #FFF;
  background: #b50005;
}
.asideCalendar .h-asideCalendarMonth .asideCalendarMonth tbody tr td.another-month {
  font: normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #c2c2c2;
}
.h-layoutNarrow-profile .asideCalendar {
  margin-bottom: 10px;
}
/* табы календаря */
.asideCalendarFilter {
  display: block;
  color: #333;
  font-size: 0.8em;
  overflow: hidden;
  padding-bottom: 6px;
}
.asideCalendarFilter div {
  background: #e8e8e8 url("/i/arrow_cal.gif") no-repeat center bottom;
  height: 7px;
  width: 11px;
  margin-top: -1px;
  margin-left: -10%;
}
.asideCalendarFilter ul {
  display: block;
  overflow: hidden;
  background: #dbdbdb;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}
.asideCalendarFilter ul li {
  cursor: pointer;
  float: left;
  width: 32%;
  font-size: 9px;
  line-height: 1em;
  padding-top: 5px;
}
.asideCalendarFilter ul li span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px 4px 10px 5px;
  float: left;
}
.asideCalendarFilter ul li.last {
  padding-top: 10px;
}
.asideCalendarFilter ul li.last span {
  margin-top: 0px;
}
.right .asideCalendarFilter li {
  width: 32%;
  cursor: pointer;
}
.right .asideCalendarFilter li.last {
  width: 36%;
  padding-top: 9px;
}
.right .asideCalendarFilter li.last span {
  margin: 1px 5px 10px 5px;
}
.right .asideCalendarFilter li span {
  margin: 5px 5px 10px 5px;
}
.asideCalendarFilter li span.black,
.project .date-event,
.eventList .eventDay strong.black {
  background: #000!important;
}
.eventList .eventDay strong.blackBlack {
  background: #000!important;
}
.asideCalendarFilter li span.purpur,
.competitor .date-event,
.eventList .eventDay strong.purpur,
.asideCalendarContent__img time.purpur {
  background: #6a20cf!important;
}
.eventList .eventDay strong.purpurPurpur {
  background: #6a20cf!important;
}
.asideCalendarFilter li span.orange,
.date-event,
.eventList .eventDay strong.orange {
  background: #ffb909!important;
}
/* сами события */
.asideCalendarContent__item {
  overflow: hidden;
  zoom: 1;
  margin: 0 0 0 0;
  padding: 9px 0 12px 5px;
  border-bottom: 1px solid #d6d6d6 ;
}
.asideCalendarContent__img {
  width: 100px;
  float: left;
  position: relative;
}
.asideCalendarContent__img img {
  width: 90px;
}
.asideCalendarContent__img time {
  width: 35px;
  height: 37px;
  text-align: center;
  position: absolute;
  background: #333;
  color: #FFF;
  top: -5px;
  left: 0;
}
.asideCalendarContent__img time.current {
  background: #b50005!important;
}
.asideCalendarContent__img time p.day {
  font: bold 9px Arial;
}
.asideCalendarContent__img time p.number {
  font: bold 18px Arial;
}
.asideCalendarContent__text {
  margin: 0 10px 0 100px;
  font-size: 11px;
}
.asideCalendarContent__text h4,
.asideCalendarContent__text h4 a {
  font: bold 12px Arial;
  color: #000;
  padding: 0;
}
.asideCalendarContent__text h4 a:hover {
  color: red;
}
.asideCalendarContent__text small {
  font: normal 10px Arial;
  color: #808080;
}
.asideCalendarContent__text small .location {
  font-weight: bold;
  color: #08335f;
}
.asideCalendarContent__text p {
  font: normal 11px Arial;
  color: #333333;
  margin: 0 0 4px 0;
  padding: 0 0 0 0;
}
.asideCalendarContent .asideCalendar__toEvents {
  font: normal 9px/34px Arial;
  color: #08335f;
  margin: 0 0 0 10px;
  padding: 0;
  display: block;
}
.asideCalendarContent__text.noImage p,
.asideCalendarContent__text.noImage h4 {
  margin-left: -60px;
}
