﻿/********** ОБЩЕЕ ОФОРМЛЕНИЕ СТРАНИЦЫ ******************/
/* картинка background */
html {
    background-image: url('/img/back-header.png');
    background-repeat: repeat-x;
    background-position: 0 0;
}
/* Часть background под логотипом */
div.back1 { background: url('/img/back-1.jpg') no-repeat 50% 0; }
.rtl div.back1 { background-image: url('/img/back-1-rtl.jpg')}
/* Часть background в "подвале", под логотипом */
div.back2 { /* background: url('/img/back-2.png') no-repeat 50% 100%; */ }

/********* BOX-1 - СПИСОК 42 ТРЕЙДЕРОВ ***************/
div.box-1 { background: url("/img/box-2.png") no-repeat #a08142; background-size: 100% 100%; border: 0; padding: 10px 0 10px 20px }

/********** ФОРМА ПОИСКА ************/
div.header { background-image: none }

div.header div.logo a { width: 232px }
div.header div.dropdown { border: 1px solid #554d4b }

.rtl div.header h2 { right: 240px }
/********** ШАПКА ПЕРЕД БЛОКАМИ ********************/
div.title {
    background: url('/img/title.png') no-repeat #6E1F00;
    border: 0 none;
    height: 20px;
}
div.title h1 { line-height: 1.1 }

/********** НАВИГАЦИЯ И КНОПКИ *********/
div.nav a { background-repeat: no-repeat; background-size: 100% 100%; font-weight: bold }
div.nav a:hover { background-repeat: no-repeat; background-size: 100% 100%; border: 0; padding: 5px 10px 6px 10px }
div.nav a.x { background-repeat: no-repeat; background-size: 100% 100%; border: 0; padding: 5px 10px 6px 10px }
div.nav a.x:hover { background-repeat: no-repeat; background-size: 100% 100%; border: 0; padding: 5px 10px 6px 10px }

/******** БОКС С RELATED ***********/
div.box-2 { background: url("/img/box-2.png") no-repeat #a08142; background-size: 100% 100%; border: 0 }
div.box-2 a { background-image: url('/img/x1.png'); color: #FFFFFF; font-weight: bold }
div.box-2 a:hover { background-image: url('/img/x2.png'); color: #812800 }

/******* БЛОК С КАРТИНКАМИ ************/
div.thumbs-1 span {
    float: left;
    width: 242px;
    height: 234px;
    padding-bottom: 0;
    background: url('/img/thumb-1.png') no-repeat 0 100%;
    margin: 0 9px 8px 0;
    color: #674c46;
}
div.thumbs-1 h3 { margin-top: 14px }

/******* БЛОК С КАРТИНКАМИ ВНУТРИ НИШИ **********/
div.thumbs-2 p.c1 { background-image: url('/img/c1.png') }
div.thumbs-2 p.c3 { background-image: url('/img/c3.png'); color: #717171; background-position: 7px 1px }
div.thumbs-2 div.img a { color: #717171; }
div.thumbs-2 div.img b { background-image: none; background-color: #DCBB7B; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8 }
div.thumbs-2 div.img a:hover b { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); -moz-opacity: 1; opacity: 1; }
div.thumbs-2 p.c0 { height: 1.5em }
div.thumbs-2 span  { height: 234px; background-position: 0 0 }

/******* ИНДЕКС КАТЕГОРИЙ, ПОПУЛЯРНЫЕ ПОИСКОВЫЕ ЗАПРОСЫ ********/
div.box-4 {
    background-image: url("/img/box-4.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0 0;
    background-size: 100% 100%;
    text-transform: capitalize;
}

/******* ТОП ТРЕЙДЕРОВ ******************/
div.box-3 {
    background-image: url("/img/box-4.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0 0;
    background-size: 100% 100%;
}

div.footer { color: #812800 }
div.footer div.logo a { width: 233px; height: 110px; top: 0; }
div.footer p.left { color: #9f4400 }
div.footer p.right { color: #FFFFFF }
div.footer p.right a { color: #FFFFFF }

body { background-image: url('/img/back-footer.png') }
