#wp_page_numbers ul, #wp_page_numbers li, #wp_page_numbers a {
	text-align: right
}
#wp_page_numbers {
	margin: 10px 0px;
	font:13px/2 'BYekan',tahoma;
}
#wp_page_numbers ul {
	width: 100%;
}
#wp_page_numbers li {
	float: left;
	display: block;
	margin-bottom: 2px;
}
#wp_page_numbers a {
	padding: 3px 8px;
	margin-left: 2px;
	margin-right: 2px;
	display: block;
	color: #777;
	background: #f6f6f6;
	-moz-border-radius: 99px;
	-webkit-border-radius: 99px;
	border-radius: 99px;
}
#wp_page_numbers li a:hover {
	background: #68CEF4;
	color: white;
}
#wp_page_numbers li.space {
	padding: 6px;
	padding-left: 2px;
	padding-right: 2px;
}
#wp_page_numbers li.active_page a {
	background: #eee;
}
#wp_page_numbers li.active_page a:hover  {
	color: black;
}
#wp_page_numbers li.page_info {
	float: right;
	display: block;
	padding: 3px 5px;
	margin-right: 2px;
	color: #fff;
	background: #686D75;
}