/** Fuente necesaria botones **/

@font-face {
    font-family: 'hola';
    src: url(	'http://www.himgs.com/css/hello/fonts/icons/fonts/hola.eot?v15.14');
    src: url(	'http://www.himgs.com/css/hello/fonts/icons/fonts/hola.eot?v15.14') format('embedded-opentype'),
         url(	'http://www.himgs.com/css/hello/fonts/icons/fonts/hola.woff?v15.14') format('woff'),
         url(	'http://www.himgs.com/css/hello/fonts/icons/fonts/hola.ttf?v15.14') format('truetype'),
         url('http://www.himgs.com/css/hello/fonts/icons/fonts/hola.svg#hola') format('svg');
}


/** Botones redes sociales **/
.gigya-login-providers{
	width: 100% !important;
}
.gigya-login-providers-container{
		width: 165px !important;
    margin: 0 auto !important;
    display: table !important;
}

.gigya-login-provider{
	display:inline-block !important;
	width: 50px !important;
  height: 50px !important;
	font-family: "hola" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 2rem !important;
  color:#FFF !important;
  text-align: center !important;
  float: left !important;
  border-radius: 5px !important;
  position:relative;
}

.gigya-login-provider[data-gigya-provider="facebook"] {
	background-color: #45619d;
}
.gigya-login-provider[data-gigya-provider="twitter"]{
	background-color: #55acee;
}
.gigya-login-provider[data-gigya-provider="googleplus"] {
	background-color: #da4835;
}

.gigya-login-provider-row .tabbing-button{
  display:none !important;
}

.gigya-login-provider-row .tabbing-button img{
	display:none !important;
}

[data-gigya-provider="facebook"]:before{
	  content:"N";
	  position:absolute;
	  top: 15px;
    left: 10px;
    line-height: 18px;
}

[data-gigya-provider="twitter"]:before{
	  content:"L";
	  position:absolute;
	  top: 15px;
    left: 10px;
    line-height: 18px;
}
[data-gigya-provider="googleplus"]:before{
	  content:"|";
	  position:absolute;
	  top: 15px;
    left: 10px;
    line-height: 18px;
}


/** Centrado tabla redes **/

div#gigya-modal-plugin-container-showScreenSet_social_1{
	width:auto !important;
}
div#gigya-modal-plugin-container-showScreenSet_social_1_uiContainer{
	width:auto !important;
}

/** Fin botones redes sociales **/

.gigya-screen-caption
{
	font-family: arial;
}
.gigya-screen *,div.gigya-screen,.gigya-screen span,.gigya-screen a:hover,.gigya-screen a:visited,.gigya-screen a:link,.gigya-screen a:active
{
	background: none;
	border: none;
	border-radius: 0;
	box-sizing: border-box;
	color: #333;
	color: inherit;
	float: none;
	font-family: arial;
	font-size: 12px;
	margin: 0;
	moz-border-radius: 0;
	moz-box-sizing: content-box;
	padding: 0;
	text-align: left;
	text-decoration: none;
	webkit-box-sizing: content-box;
	width: auto;
}

.gigya-screen-set .gigya-screen
{
	margin: 0 auto;
}
.gigya-screen h2
{
	color: #333;
	font-size: 16px;
	font-weight: 400;
}
.gigya-screen a:hover
{
	text-decoration: underline;
}
.gigya-screen h1
{
	border-bottom: 1px solid #dbdbdb;
	color: #333;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 45px;
	padding-bottom: 5px;
}
.gigya-screen .gigya-layout-row
{
	display: block;
	zoom: 1;
}
.gigya-screen-dialog .gigya-screen .gigya-layout-cell
{
	width: 50%;
	float: left;
}
.gigya-screen .gigya-layout-cell
{
	float: left;
	margin-top: 1px;
	min-width: 50%;
}
.gigya-screen .gigya-layout-cell .gigya-layout-cell
{
	max-width: 50%;
}
.gigya-screen select,.gigya-screen input,.gigya-screen textarea
{
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 5px 0;
	moz-box-sizing: border-box;
	padding: 5px;
	webkit-box-sizing: border-box;
	width: 100%;
}
.gigya-screen input[type=button], .gigya-screen [type=submit]
{
	margin: 0;
	padding: 0 12px;
	width: auto;
}
.gigya-screen input[type=radio],.gigya-screen input[type=checkbox]
{
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
	width: auto;
}
.gigya-screen option
{
	padding: 5px;
}
.gigya-screen option:hover
{
	background-color: #3593C1;
}
.gigya-screen .gigya-label
{
	display: block;
	font-size: 12px;
	font-weight: 700;
	color: #666;
}
.gigya-screen .gigya-divider
{
	margin: 0 .5em;
	overflow: hidden;
	text-align: center;
}
.gigya-screen .gigya-divider>.gigya-divider-content
{
	display: inline-block;
	padding: 0 .5em;
}
.gigya-screen .gigya-divider:before,.gigya-screen .gigya-divider:after
{
	background-color: #D3D3D3;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}
.gigya-screen .gigya-divider:before
{
	margin-left: -50%;
	right: 0;
}
.gigya-screen .gigya-divider:after
{
	left: 0;
	margin-right: -50%;
}
.gigya-input-text,.gigya-input-password
{
	line-height: 26px;
}
.gigya-input-text,.gigya-input-password,.gigya-textarea
{
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05);
	box-sizing: border-box;
	color: #555;
	margin: 5px 0;
	moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.05);
	moz-box-sizing: border-box;
	outline: none;
	text-indent: 5px;
	webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05);
	webkit-box-sizing: border-box;
	width: 100%;
}
.gigya-textarea
{
	padding: 5px;
}
.gigya-input-text,.gigya-input-password,.gigya-screen select,.gigya-input-submit,.gigya-input-button
{
	height: 28px;
}
.gigya-input-text:focus,.gigya-input-password:focus,.gigya-textarea:focus,.gigya-screen select:focus
{
	border: 1px solid #87B9EA;
	outline: none;
}
.gigya-input-text:focus,.gigya-input-password:focus,.gigya-textarea:focus
{
	box-shadow: 0 0 3px #50BADE,inset 0 1px 3px rgba(0,0,0,.05);
	moz-box-shadow: 0 0 3px #50BADE,inset 0 1px 3px rgba(0,0,0,.05);
	webkit-box-shadow: 0 0 3px #50BADE,inset 0 1px 3px rgba(0,0,0,.05);
}
.gigya-input-submit,.gigya-input-button
{
	background: #F2F2F2;
	background: -moz-linear-gradient(top,#FFF,#F2F2F2);
	background: -webkit-gradient(linear,left top,left bottom,from(#FFF),to(#F2F2F2));
	border: 1px solid #CECECE;
	border-radius: 4px;
	color: #333;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF",endColorstr="#F2F2F2");
	font-weight: 700;
	line-height: 26px;
	padding: 0 12px;
	text-align: center;
}
.gigya-input-submit:hover,.gigya-input-button:hover
{
	background: #FFF;
	background: -moz-linear-gradient(top,#F2F2F2,#FFF);
	background: -webkit-gradient(linear,left top,left bottom,from(#F2F2F2),to(#FFF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F2F2F2",endColorstr="#FFFFFF");
}
.gigya-input-radio,.gigya-input-checkbox
{
	height: 14px;
	margin-right: 5px;
	vertical-align: bottom;
	width: 14px;
}
input.gigya-input-text,input.gigya-input-password
{
	display: block;
}
.gigya-screen .gigya-composite-control
{
	padding: 5px 13px 5px 10px;
}
.gigya-screen .gigya-composite-control-submit,.gigya-screen .gigya-composite-control-button,.gigya-screen .gigya-composite-control-form-error
{
	padding-bottom: 5px;
	padding-right: 13px;
}
.gigya-composite-control-multi-choice .gigya-multi-choice-item,.gigya-composite-control-checkboxes .gigya-checkboxes-item
{
	padding-top: 5px;
}
.gigya-composite-control-form-error
{
	padding-bottom: 5px;
	padding-right: 5px;
}
.gigya-screen .gigya-composite-control-submit
{
	text-align: right;
}
.gigya-screen .gigya-composite-control-label
{
	display: block;
}
.gigya-clear
{
	clear: both;
	font-size: 0;
	overflow: hidden;
}
.gigya-composite-control-radio label
{
	font-weight: 400;
}
.gigya-composite-control-checkbox label
{
	font-weight: 400;
}
.gigya-screen .gigya-composite-control-checkbox
{
	padding: 5px 10px;
}
.gigya-screen .gigya-composite-control-checkbox label
{
	display: inline;
	margin-left: 0;
	text-indent: 10px;
}

.gigya-screen .checkbox-required-label label
{
	text-indent: 0px !important;
}

.gigya-screen .gigya-message
{
	color: #333;
	display: block;
	font-size: 14px;
}
div.gigya-screen .gigya-error-display
{
	display: none;
}
div.gigya-screen .gigya-error-display.gigya-error-display-active
{
	display: block;
}
.gigya-screen .gigya-error-msg
{
	box-sizing: border-box;
	color: #dd4b39;
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}

.gigya-screen select.gigya-error {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #DD4B39 !important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    color: #DD4B39;
 }

.gigya-screen .gigya-form-error-msg
{
	_height: 26px;
	background: #FFE7E1;
	border: 1px solid #FFDCCE;
	box-sizing: border-box;
	color: #dd4b39;
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
	margin-top: 1px;
	min-height: 26px;
	moz-box-sizing: border-box;
	padding: 5px;
	text-align: center;
	webkit-box-sizing: border-box;
}
.gigya-screen a.gigya-composite-control-link
{
	display: block;
	padding-left: 13px;
}
.gigya-screen .gigya-composite-control a.gigya-composite-control-link
{
	display: inline;
	padding: 0;
}
.gigya-screen .gigya-composite-control-checkbox .gigya-label,.gigya-screen .gigya-composite-control-radio .gigya-label
{
	font-weight: 400;
}
.gigya-layout-footer
{
	clear: both;
	text-align: right;
}
#gigya-login-screen .gigya-composite-control-social-login,#gigya-register-screen .gigya-composite-control-social-login
{
	height: 125px;
	padding: 13px 38px 0 0;
	width: 285px;
}
#gigya-register-screen .gigya-composite-control-social-login
{
	height: 240px;
}
.gigya-screen .gigya-required-display
{
	color: red;
	display: inline-block;
	padding: 0 5px;
}
#gigya-reauthentication-screen a.forgotPassword,#gigya-link-account-screen a.forgotPassword,#gigya-login-screen a.forgotPassword,#gigya-login-screen a.forgotPassword:link,#gigya-recent-login-screen a.forgotPassword,#gigya-recent-login-screen a.forgotPassword:link
{
	float: right;
	font-weight: 400;
	text-decoration: none;
}
#gigya-reauthentication-screen a.forgotPassword:hover,#gigya-reauthentication-screen a.forgotPassword:active,#gigya-link-account-screen a.forgotPassword:hover,#gigya-link-account-screen a.forgotPassword:active,#gigya-login-screen a.forgotPassword:hover,#gigya-login-screen a.forgotPassword:active,#gigya-recent-login-screen a.forgotPassword:hover,#gigya-recent-login-screen a.forgotPassword:active
{
	text-decoration: underline;
}
#gigya-reauthentication-screen .gigya-divider,#gigya-link-account-screen .gigya-divider
{
	margin-bottom: 10px;
	margin-top: 5px;
}
#gigya-reauthentication-screen .gigya-login-providers-container,#gigya-link-account-screen .gigya-login-providers-container
{
	text-align: center;
}
#gigya-reauthentication-screen .gigya-composite-control-captcha-widget,#gigya-link-account-screen .gigya-composite-control-captcha-widget
{
	padding-bottom: 0;
	padding-top: 0;
}

/* añadidos */

div.gigya-screen-dialog-top {
	background-color: #cc0000;
	margin-bottom: 1.4em;
}

div.gigya-screen-dialog-caption {
    float: none;
    margin: 1.4em 0;
}

div.gigya-screen-dialog-caption img {
    width: 170px;
    display:table;
    margin: 0 auto;
    height: 74px;
}

div.gigya-screen-dialog-close {
		position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: #cc0000;
    color:#FFFFFF;
    cursor: pointer;
    background-position: right;
    background-repeat: no-repeat;
    display: table;
}

div.gigya-screen-dialog-close:before {
    font-family: "helveticaneue-roman" 	!important;
    content: "X";
    font-style: normal 		!important;
    font-weight: normal 	!important;
    font-variant: normal 	!important;
    text-transform: none 	!important;
    line-height: .9em;
    margin: 5px auto 0;
    font-size: 20px;
    display: table;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gigya-screen-dialog-close:hover {
	background: #CCC;	
}

.gigya-screen-dialog-close:hover:before {
	color: #fff;
}

div.gigya-screen-dialog-content {
    padding: 0 25px 15px;
    min-height: auto !important;
}

#gigya-login-screen .gigya-composite-control-social-login, #gigya-login-screen .gigya-social-login,
#gigya-login-screen .gigya-social-login > div, #gigya-login-screen .gigya-social-login > div > div{
	padding: 0;
    width: auto !important;
    height: auto !important;
    border:0;	
}

.gigya-screen input[type=button], .gigya-screen [type=submit], .gigya-input-submit:hover, .gigya-input-button:hover {
	background: #C00;
    border: 0;
    width: 100%;
    font: normal 1rem/1.3em "helveticaneue-roman", Helvetica, Arial, sans-serif;
    padding: 10px 0;
    box-sizing: content-box;
    color: #fff;
    text-transform: uppercase;
    display:table;
    height:20px;
}

.gigya-screen-dialog h2, .registrate span{
	color: #333 !important;
    font:normal 1.15rem/1.4em "helveticaneue-roman", Helvetica, Arial, sans-serif;
}

#gigya-login-screen .gigya-composite-control-social-login{
	margin-bottom: 2em;
}

input.gigya-input-text, input.gigya-input-password {
    border: 1px solid #CECECE;
    padding: 7px .5em;
    height:35px;
    box-shadow: none;
    font: normal .85rem/1.3em "helveticaneue-roman", Helvetica, Arial, sans-serif;
    margin:0;
}

.gigya-login-form input.gigya-input-text, .gigya-login-form input.gigya-input-password {
    padding: 10px .5em;
    height:40px;
}


.gigya-login-form input.gigya-input-text{
  margin-bottom: 0;
}

.gigya-login-form input.gigya-input-password {
	margin-bottom: .6em;
}

.gigya-login-form .gigya-composite-control-textbox{
	margin-bottom: 0 !important;
}


.gigya-screen a, .gigya-screen a:visited, .gigya-screen a:link, .gigya-screen a:active{
	color: #C00;
}

.gigya-screen .gigya-composite-control, .gigya-screen .gigya-composite-control-submit {
    padding: 0;
    margin-bottom: 1.3em;
}

.gigya-screen .gigya-composite-control-submit {
	margin-top: 1em;
}

div.gigya-screen-dialog-inner {
    border: 0;
}

div.gigya-screen-dialog {
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.21);
}

.gigya-screen .registrate span{
	margin: .5em 0 1.2em;
    display: table;
}

.gigya-screen .registrate a{
	background-color: #000 !important;
    font-size: 1rem !important;
    padding: .7em 2em !important;
    font: normal 1rem/1.3em "helveticaneue-roman", Helvetica, Arial, sans-serif !important;
    color: #fff !important;
    display: table !important;
    border-radius: 5px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    margin: 0 auto !important;
}

.gigya-screen input[type=checkbox] {
    margin: 0 .5em .2em 0;
    padding: 0;
    width: auto;
}

.gigya-screen .gigya-label .gigya-label-text a, .gigya-reset-password-form [data-switch-screen="gigya-login-screen"]{
	color: #C00 !important;
}

.gigya-register-form [data-switch-screen="gigya-login-screen"] {
	color: #C00 !important;
	font: normal 1.15rem/1.4em "helveticaneue-roman", Helvetica, Arial, sans-serif !important;

}

.gigya-background-layer {
	z-index: 9999;
    position: fixed;
    width: 0;
    height: 0;
    background-color: #000000;
    top: 0;
    left: 0;
    opacity: 0;
    transition: background-color .2s;
}

.gigya-screen-displayed .gigya-background-layer {
    width: 100%;
    height: 100%;
    opacity: .8;
    transition: background-color .2s;
}

[id*="gigya_ifr"] , gigya-screen-dialog-mobile .gigya-screen-displayed .gigya-background-layer {
	display: none;
}


/* mobile */

.gigya-screen-dialog-mobile {
	position: fixed !important;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: initial !important;	
}

.gigya-screen-dialog-mobile .gigya-screen-caption {
    border: 0;
    background-color: #efefef;
    padding: 1.2em 2em;
    margin-bottom: 1em;
}

.gigya-screen-dialog-mobile .gigya-screen-caption img {
    width: 75%;
    display: table;
    margin: 0 auto;
}

.gigya-screen-dialog-mobile .gigya-screen {
    padding: 0 1.2em;
}

.gigya-screen-dialog-mobile .gigya-screen .gigya-composite-control, div.gigya-screen-dialog-mobile .gigya-screen .gigya-composite-control-submit {
    margin-bottom: .8em !important;
    font-size: 15px;
}


.gigya-screen-dialog-mobile .gigya-layout-cell {
    width: 100% !important;
    margin:0 	!important;
}

.gigya-screen-dialog-mobile .gigya-social-login > div {
	height: auto !important;

}

.gigya-screen-dialog-mobile .gigya-social-login > div > div {
	height: 50px !important;
}

/** Arreglo problemas gigya en resoluciones menores a Iphone 6 **/ 

@media screen and (max-width: 320px) {
	
	/* mobile */

.gigya-screen-dialog {
	position: fixed !important;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: initial !important;
	top: 5px;
  left: 5px;
}

.gigya-screen-dialog-content {
    padding: 0 !important;
    max-width: 320px !important;
}

.gigya-screen-dialog .gigya-screen-caption {
    border: 0;
    background-color: #efefef;
    padding: 1.2em 2em;
    margin-bottom: 1em;
}

.gigya-screen-dialog .gigya-screen-caption img {
    width: 75%;
    display: table;
    margin: 0 auto;
}

div.gigya-screen *{
    overflow-y:scroll !important;
}

.gigya-screen-dialog .gigya-screen {
    padding: 0 1.2em;
}

.gigya-screen-dialog .gigya-screen .gigya-composite-control, div.gigya-screen-dialog-mobile .gigya-screen .gigya-composite-control-submit {
    margin-bottom: .8em !important;
    font-size: 15px;
}


.gigya-screen-dialog .gigya-layout-cell {
    width: 100% !important;
    margin:0 	!important;
}

.gigya-screen-dialog .gigya-social-login > div {
	height: auto !important;

}

.gigya-screen-dialog .gigya-social-login > div > div {
	height: 50px !important;
}

}	