﻿@charset "utf-8";
/* CSS Document */
/*-----------------首页部分-----------------*/
html { overflow-y:scroll }
body, input, textarea, select, button { font:12px "Microsoft YaHei", Verdana, arial, sans-serif; line-height:22px }
input, textarea, select, button { vertical-align:middle }
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, table { margin:0; padding:0 }
img { vertical-align:middle; border:0 }
h1, h2, h3, h4, h5, h6 { font-size:1em }
ul, dl { list-style:none }
a { outline:none; text-decoration:none; color:#448FF4 }
a:hover { outline:none; text-decoration:underline; }
a { blur:expression(this.blur());
}
.valid { position:absolute; top:5px; left:20px; margin:8px auto; width:175px; height:40px }
.valid li { float:left; }
.valid li a { display:block; width:50px; height:50px; }

.floatline {width:100%}
.floatline li { float:left;width:50%;height:30px;}

.clear { clear:both; font-size:0; line-height:0; height:10px }
.footer { text-align:center; height:100px; border-top:1px solid #efefef }
.footer ul { list-style-type:none }
.footer li { float:left }
.footer li a { color:#333 }
.w960 {clear: both;margin: auto;width: 960px;}
.w728 {clear: both;margin: auto;width: 728px;}
.w970 {clear: both;margin: auto;width: 970px;}

/*header*/
#header{background:#fbfbfd;clear:both;height:auto;display:inline-block;width:100%;border-bottom:1px solid #ebebeb;position:relative;*+z-index:102}
.headerC{width:970px;margin:0 auto}
.headerHome{width:738px;margin:0 auto}
.logo_ru{width:210px;height:70px;float:left;padding-top:1px;background:url(/images/logoru.gif) no-repeat 0 0px; margin:8px 0 0 3px;}
.logo_ru a{width:200px;height:70px;float:left}
.logo_fr{width:210px;height:70px;float:left;padding-top:1px;background:url(/images/logotfr.gif) no-repeat 0 0px; margin:8px 0 0 3px;}
.logo_fr a{width:200px;height:70px;float:left}
.logo_jp{width:210px;height:70px;float:left;padding-top:1px;background:url(/images/logotjp.gif) no-repeat 0 0px; margin:8px 0 0 3px;}
.logo_jp a{width:200px;height:70px;float:left}
.logo_kr{width:210px;height:70px;float:left;padding-top:1px;background:url(/images/logotkr.gif) no-repeat 0 0px; margin:8px 0 0 3px;}
.logo_kr a{width:200px;height:70px;float:left}
.logo_hy{width:210px;height:70px;float:left;padding-top:1px;background:url(/images/logohy.gif) no-repeat 0 0px; margin:8px 0 0 3px;}
.logo_hy a{width:200px;height:70px;float:left}
.logo_en{width:210px;height:70px;float:left;padding-top:1px;background:url(/images/logot.gif) no-repeat 0 0px; margin:8px 0 0 3px;}
.logo_en a{width:210px;height:70px;float:left}
.header_logo{margin:33px 16px 0 0;float:left}
.header_logo img{ height:50px; width:155px}

.search_main{width:748px;margin-right:-3px;float:right;margin-top:5px;padding:0 0 5px 0}
.nav_list{display:inline-block;padding-left:6px}
.nav_list li{padding-right:18px;float:left}
.nav_list li a{color:#333}
.nav_list li strong,.nav_list li a:hover{color:#328AF4}
.znew{display:block;width:24px;height:16px;overflow:hidden;position:absolute;background:url(../images/new.gif) no-repeat;top:-13px;right:0;line-height:100px}
.search_box{height:42px;margin-top:7px;background:rgba(205,228,241,0.3);position:relative;border:1px solid rgba(236,245,250,0.1);border-radius:3px;}
.input_style{width:573px;height:27px;float:left;line-height:27px;margin:3px -4px 0 5px;padding:3px 40px 3px 8px;font-size:16px;outline:medium none;font-family:"Lucida Sans Unicode",Tahoma,Verdana,Arial;color:black;border:1px solid #c0c0c0;border-right:0}
.input_style:hover,.input_style_hover{border-color:#328AF4;border-bottom-color:#0081cc}
.input_style2{width:503px;height:27px;float:left;line-height:27px;margin:3px -4px 0 5px;padding:3px 40px 3px 8px;font-size:16px;outline:medium none;font-family:"Lucida Sans Unicode",Tahoma,Verdana,Arial;color:black;border:1px solid #c0c0c0;}
.input_style2:hover,.input_style2_hover{border-color:#328AF4;border-bottom-color:#0081cc}
.search.search{width:108px;height:35px;margin:3px 3px 0 0;padding:0;float:right;font:bold 14px/25px "Trebuchet MS",sans-serif;padding:6px 10px 7px;color:#fff;cursor:pointer;background:#328AF4;background-image:linear-gradient(#328AF4,#1875E7);background-image:-moz-linear-gradient(#328AF4,#1875E7);background-image:-webkit-linear-gradient(#328AF4,#1875E7);text-shadow:0 1px 0 rgba(0,0,0,.1);border-radius:0 2px 2px 0;box-shadow:0 1px rgba(0,0,0,.15),0 -1px rgba(0,0,0,.15) inset;border:0}
.search_hover{background:#0097e0;background-image:linear-gradient(#328AF4,#247FED);background-image:-moz-linear-gradient(#328AF4,#247FED);background-image:-webkit-linear-gradient(#328AF4,#247FED)}
.search2.search2{width:86px;height:35px;margin:3px 3px 0 0;padding:0;float:right;font:bold 14px/25px "Trebuchet MS",sans-serif;padding:6px 10px 7px;color:#fff;cursor:pointer;background:#328AF4;background-image:linear-gradient(#328AF4,#1875E7);background-image:-moz-linear-gradient(#328AF4,#1875E7);background-image:-webkit-linear-gradient(#328AF4,#1875E7);text-shadow:0 1px 0 rgba(0,0,0,.1);border-radius:0 2px 2px 0;box-shadow:0 1px rgba(0,0,0,.15),0 -1px rgba(0,0,0,.15) inset;border:0}
.search_hover2{background:#0097e0;background-image:linear-gradient(#328AF4,#247FED);background-image:-moz-linear-gradient(#328AF4,#247FED);background-image:-webkit-linear-gradient(#328AF4,#247FED)}


/*top bar*/
#topbar{position:relative;padding:0 15px;height:21px;border-bottom:1px solid #ebebeb;background:#fdfdfd;font-size:12px;line-height:21px;z-index:999}
.topl{float:left;vertical-align:middle;line-height:21px}
.topl b{float:left;margin-right:3px;font-weight:100;line-height:22px}
.topl img{float:left;margin-top:5px;font-weight:100;line-height:22px}
.topl a{border-right:1px solid #ebebeb;border-left:1px solid #ebebeb;padding:0 15px 0 2px;display:block;float:left;color:#666;text-decoration:none}
.topl a:link,.topr a:visited{color:#666}
.topl a:hover{color:#333;background:#f8f9fd;text-decoration:none}
.topr{float:right;vertical-align:middle;line-height:21px;right:16px}
.topr a{border-left:1px solid #ebebeb;padding:0 15px 0 14px;display:block;float:left;color:#666;text-decoration:none}
.topr a:link,.topr a:visited{color:#666}
.topr a:hover{color:#333;background:#f8f9fd;text-decoration:none}
.tool{border-right:1px solid #ebebeb;float:left;cursor:pointer;position:relative}
.tool:hover,.tool:hover a,.user_name:hover a{border-color:#9fd9f6}
.tool a b,.user_name a b{font-weight:100;float:left}
.tool a i,.user_name a i{float:left;display:block;width:7px;height:4px;overflow:hidden;background:url(/images/top.png) no-repeat -15px 0;margin:8px 0 0 5px}
.tool a:hover i,.tool:hover a i,.user_name:hover a i{background-position:-15px -4px}
.tlist{position:absolute;border:1px solid #9fd9f6;border-top:0;background:#fff url(/images/top.png) no-repeat 0 -32px;top:21px;right:-1px;_top:22px;_right:-1px;padding-top:6px;width:111px;display:none;zoom:1}
.tool:hover .tlist,.user_name:hover .user_box,.user_name:hover .tlist{display:block}
.tlist li{padding:0 14px;_padding:0 9px;height:30px;line-height:30px;color:#666;text-decoration:none;display:block;margin:0;zoom:1;position:relative}
.tlist li.sl{border-top:1px dotted #d8d8d8;height:1px;line-height:1px;overflow:hidden;font-size:1px;margin:5px 15px}
.tlist li a{border:0;padding:0}
.tlist li:hover,.tlist li:hover a,.user_box_fun a:hover{background:#f6f6f6;color:#54c3f1}
.tlist li a i,.user_box_fun a i{display:inline-block;width:16px;height:16px;overflow:hidden;background:url(/images/top.png) no-repeat;_background:url(/images/top.png) no-repeat;margin:0 3px 0 0;vertical-align:middle;float:none}
.tlist li a i.scb{background-position:-22px 0}
.tlist li a:hover i.scb{background-position:-22px -16px}
.tlist li a i.word{background-position:-38px 0}
.tlist li a:hover i.word{background-position:-38px -16px}

.tab{margin-bottom:22px}
h6{width:618px;border-bottom:1px solid #E7E7E7;padding-left:10px;margin:1em 0;z-index:7;position:relative;height:29px}
h6 img{width:9px;height:10px;position:absolute;right:0;bottom:0;cursor:pointer}
h6 a img{position:static;width:auto;height:auto}
h6 .up .down{width:9px;height:9px;margin:11px 1px 0 0;background:url(../images/icobg.png) 0 -78px no-repeat}
h6 .down{background-position:0 -93px}
h6 span{cursor:pointer;background:#f8f8f8;min-width:80px;text-align:center;line-height:29px;line-height:29px\9;height:29px\9;border:#E7E7E7 1px solid;border-bottom:0;margin:-1px 10px 0 0;float:left;z-index:4;position:relative;font-weight:normal;}
.current{cursor:pointer;height:30px;border-top:2px solid #328AF4;background:white;color:#333;z-index:5;position:relative;margin-top:-2px;font-size:14px;font-weight:bold;}
.tab_icon_open {
	background: url(/images/icobg.png) no-repeat;
	background-position: -290px -116px;
	padding-left: 18px;
	cursor: pointer;
	font-weight:bold;
}
.tab_icon_close {
	background: url(/images/icobg.png) no-repeat;
	background-position: -290px -145px;
	padding-left: 18px;
	cursor: pointer;
	font-weight:bold;
}
.toggle{cursor:pointer;float:right;width:9px;height:9px;margin:11px 1px 0 0;}
.toggleOpen{background:url(/images/icobg.png) 0 -78px no-repeat}
.toggleClose{background:url(/images/icobg.png) 0 -93px no-repeat}
.content{float:left;position:relative;top:0px;width:632px;overflow:auto;text-align:left;vertical-align:top;}
.leftad{float:left;position:relative;left:-500px;top:0px;width:300px;text-align:left; vertical-align:top; padding:3px 0 0 0;}
.rightad{float:left;position:relative;left:0px;top:0px;width:336px;text-align:left; vertical-align:top; padding-top:3px;}
.sug_list{display:inline-block;padding-left:6px}
.sug_list li{float:left;width:186px;vertical-align:top;padding:0px 5px 5px 5px}
.tran_list{padding-bottom:10px;font-size:16px}
.tran_list li{padding-left:8px;padding-right:6px; text-align:left}
.sent_list {padding-left:26px;font-size:14px;text-align:left;list-style-type:decimal}
.sent_list li{padding:0 0 16px 0;list-style-type:decimal}
.ad_block {width:300px; height:250px}
.compo_list{padding:8px 0 10px 0}
.compo_list li{padding-left:11px;text-align:left;font-size:14px;color:black;}