.fon3 {
	background-color:#f7f7f7;
}
.fdm_about {
	height:380px;
	position:relative;
	background:url(/public/img/index-bg.jpg) 0 0  no-repeat;
	padding:0 40px 0 522px;
    margin-top:10px;
	margin-bottom:10px;
}

.fdm_about img {
	position: absolute;
	left: 20px;
	top: 22px;
}

.fdm_about h1 {
	font-size: 40px;
	color:#fff;
	padding:37px 0 7px;
}
.fdm_about p {
	font:16px/30px 'Open Sans', sans-serif;
	color:#fff;
	padding-top:11px;
}
.fdm_about b, .fdm_about p a {
	color:#fff2b4;
	font-weight:normal;
}
.fdm_about p a:hover {
	color:#bc260d
}
.fdm_about p .a_hover_none:hover{
	color: #fff2b4
}
.a_btn {
	background: #6fa956 url(/public/img/sprite.png) 18px -793px no-repeat;
	color: #fff !important;
	margin-top:26px;
	padding: 8px 20px 12px 80px;
	line-height: normal;
	color: #fff;
	font-size: 16px;
	width: auto;
	min-width: 265px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.a_btn:hover {
	color:#fff;
}

.a_btn.mac {background-position: 20px -1085px;}

.btn_text {
	font-size: 28px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 900;
}

.small_text {
	font-size: 16px;
	line-height: 20px;
}

.fdm_about p a.a_hover_none {
	text-decoration: none;
	margin-top: 10px;
	color: #fff;
	font-size: 13px;
}

.absolutely_free {
	width: 86px;
	height: 84px;
	position: absolute;
	background: url(/public/img/sprite.png) 0px -888px no-repeat;
	margin-top: 282px;
	margin-left: -223px;
}

.no_adware {
	width: 84px;
	height: 84px;
	position: absolute;
	background: url(/public/img/sprite.png) 0px -995px no-repeat;
	margin-top: 283px;
	margin-left: -130px;
}

.wrapper_search {
    margin-bottom: 18px;
    padding: 8px 0;
    font-family: "Open Sans Condensed", "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: relative;
}

.wrapper_search span {
    font-weight: bold;
    line-height: 45px;
    padding: 0 0 0 131px;
    position: relative;
    background: url(/public/img/sprite.png) no-repeat 0 -517px;
}

.wrapper_search span.es {
    background-position: 0 -615px;
}
.wrapper_search span.pt {
	background-position: 0 -737px;
}
.wrapper_search span.fr {
	background-position: 0 -677px;
	padding: 0 0 0 205px;
}

.wrapper_search input[type="text"] {
    color: #c1cbd5;
    font-size: 34px;
    font-family: inherit;
    padding: 0 50px 0 15px;
    width: 734px;
    position: relative;
    top: 1px;
    height: 50px;
    float: right;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.fr .wrapper_search input[type="text"] {
	width: 660px;
}

.wrapper_search input[type="text"].black {
    color: #000;
}

.wrapper_search a {
    background: url(/public/img/sprite.png) no-repeat 0 -570px;
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    right: 15px;
    top: 18px;
}

.how_to_related {
    clear: both;
}
.related_block {
	position:relative;
}
.related_block .fdm_block {
	float:none;
}
.related_list {
	background:#f7f7f7;
	position:relative;
	padding:20px 50px 0 15px;
	height:213px;
	width:242px;
}

.top_block.related_list {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 16px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.top_howto .related_h {
    top: auto;
    bottom: 0;
}
.related_h {
	background:#e7e7e7;
	position:absolute;
	left:0;
	top:-30px;
	font-size:13px;
	color:#182c4f;
	line-height:30px;
	padding:0 15px;
}
.related_block .software_item {
	position:relative;
}

.top_block.related_list .software_item {
    float: left;
    width: 33.33%;
    clear: none;
    padding-bottom: 10px;
}

.top_block.related_list .software_item:before {
    content: '';
    display: block;
    width: 2px;
    height: 61px;
    position: absolute;
    left: -12px;
    top: -10px;
    background: url(/public/img/line.png) 0 0 no-repeat;
}

.top_block.related_list .software_item:first-child:before {
    display: none;
}

.top_block .software_item:last-child .related_a {
    right: 10px;
}

.top_block.related_list .software_item h2 {
    max-width: 190px;
    color: #333333;
}

.top_block.related_list .software_item h2:hover {
    color: #bc260d;
}

.related_a {
	display:block;
	position:absolute;
	width:23px;
	height:23px;
	background:url(/public/img/index_sprite.png) 0 -248px no-repeat;
	right: -30px;
    top: 4px;
}

.top_block .related_a {
    right: 24px;
    top: 4px;
}

.related_a:hover {
	background-position: -38px -248px;
}
/*.fdm_about div {
	position:absolute;
	background:url(/public/img/screen.png) no-repeat;
	width:460px;
	height:302px;
	top:37px;
	left:33px;
}*/
.h_features, .h_latest {
    font-size: 44px;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 44px;
    font-weight: 100;
    padding: 16px 0 19px;
}
.h_features {
	color:#fff;
	background-color:#2fac7c;
	padding-left:29px;
}

.es .h_features, .es .h_latest {
    font-size: 41px;
}

.features_list {
	padding:10px 0 23px;
	position:relative;
	background:#e7e7e7 url(/public/img/index_sprite.png) 100% 33px no-repeat;	
}
/*.features_list:after {
	display:block;
	content:'';
	position:absolute;
	bottom:0;
	right:0;
	width:177px;
	height:175px;
	background:url(/public/img/index_sprite.png) 0 0 no-repeat;	
}*/
.features_list li {
	list-style:none;
	padding-left:70px;
	line-height:35px;
	font-size:20px;
	color:#332200;
	background:url(/public/img/index_sprite.png) 27px -286px no-repeat;	
}
.addition_list {
	padding:30px 60px 10px 70px;
}
.left_container .addition_list p {
    padding: 5px 0 10px;
}
.latest_soft {
    min-height: 441px;
    padding: 18px 0 12px;
    background-color: #f7f7f7;
    border-top: 10px solid #4e6680;
}
.h_latest {
	background-color:#e7e7e7;
	color:#13324b;
	padding-left:22px;
}
.latest_item {
	width:270px;
	margin:25px 19px 10px 20px;
	float:left;
}
.latest_item:nth-child(2) {
	clear:both;
}
.latest_soft .icon48 {
	margin-right:14px;
}
.prog_title {
    position: relative;
}
.latest_soft h4 {
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font:400 18px/25px "Open Sans",sans-serif;
	color:#0d80bc;
}
.latest_soft h4:hover {
	color:#bc260d;
}
.free {
	background: #52a918;
	border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
    color: #fff;
    display: inline-block;
    font: 900 12px/1 "Open Sans Condensed",sans-serif;
    padding: 1px 9px 3px;
    position: absolute;
    right: 0;
    top: 4px;
}
.prog_rate {
    color: #73787c;
    font-size: 11px;
    margin: 0 0 0 63px;
	position: relative;
    top: -1px;
}
.rate_wrap {
    background: url(/public/img/index_sprite.png) no-repeat  0 -460px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 10px;
    margin-right: 3px;
    position: relative;
    width: 63px;
}
.rate_wrap div {
    background: url(/public/img/index_sprite.png) no-repeat 0 -435px rgba(0, 0, 0, 0);
    height: 10px;
    position: absolute;
    width: 63px;
}

.prog_desc {
    max-height: 66px;
    margin-bottom: 10px;
    overflow: hidden;
}

.prog_desc p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.left_container .latest_item p {
	font-size:15px;
	line-height:20px;
	margin:0 0 0 62px;
	padding: 4px 0 12px;
}
.latest_a {
    margin: 0 0 0 62px;
    padding-bottom: 1px;
    color: #52a918;
    font-size: 13px;
    line-height: 19px;
    display: inline-block;
    text-transform: uppercase;
    padding-right: 27px;
    background: url(/public/img/index_sprite.png) no-repeat 82px -214px;
}
.latest_a:hover {
	background-position:82px -338px;
}
/*.left_container .fdm_block {
	color:#fff;
	font:42px/50px 'Open Sans Condensed', sans-serif;
	box-sizing:border-box;
	padding:22px 30px 0;
} 
.speed_block {
	background:#40b4f0;
	margin:0 9px 10px 0;
}
.support_block {
	background:#f0b440;
	margin-bottom:10px;
}
.community_block {
	background:#f05c40;
	margin:0 9px 10px 0;
}
.gnu_block {
	background:#52a918;
	margin-bottom:10px;
}
*/
.fdm_block .back {
	font: 16px/25px "Open Sans",sans-serif;
	margin: 0 9px 10px 0;
}

/*.speed_block span,
.support_block span,
.gnu_block span {
	position:absolute;
	display:block;
	bottom:0;
	right:0;
	background-image:url(/public/img/index_sprite.png);
	background-repeat:no-repeat;
}
.speed_block span {
	width:180px;
	height:90px;
	background-position:0 0;
}
.support_block span {
	width:180px;
	height:88px;
	background-position:0 -105px;
}
.gnu_block span {
	width:164px;
	height:108px;
	background-position:0 -208px;
}*/
.left_container h3 {
	clear:both;
	padding:10px 0 13px;
}
.left_container p {
	padding:5px 20px 10px;
}
.bg_gray {
	background:#ebebeb;
	margin:10px 0 7px;
	padding:5px 0;
}
.bg_gray span {
	padding:15px 0 15px 75px;
	display:block;
	background:url(/public/img/index_sprite.png) 46px -317px no-repeat;
}
.langgs {
	margin:10px 0 25px;
}
.langgs li{
	list-style-type:none;
	display:block;
	float:left;
	width:92px;
	padding-left:26px;
	font-size:13px;
	color:#0d80bc;
	margin-bottom:5px;
	position:relative;
}
.langgs li:before {
	background-image: url(/public/img/index_sprite.png);
	background-repeat:no-repeat;
    content: "";
    display: block;
    height: 11px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 14px;
}
.langgs li:nth-child(1):before {background-position:-136px -352px;}
.langgs li:nth-child(2):before {background-position:0 -378px;}
.langgs li:nth-child(3):before {background-position:-34px -378px;}
.langgs li:nth-child(4):before {background-position:-68px -378px;}
.langgs li:nth-child(5):before {background-position: -102px -378px;}
.langgs li:nth-child(6):before {background-position: 0 -404px;}
.langgs li:nth-child(7):before {background-position: -34px -404px;}
.langgs li:nth-child(8):before {background-position: -68px -404px;}
.langgs li:nth-child(9):before {background-position: -102px -404px;}
.langgs li:nth-child(10):before {background-position: -136px -378px;}
.langgs li:nth-child(11):before {background-position: -136px -404px;}

.r_s {
	display:inline-block;
	margin:5px 0 35px 46px;
	padding-left:26px;
	background:url(/public/img/index_sprite.png) 0 -334px no-repeat;
}
.now {
	font-size:14px;	
}
.tutorials {
    background-color: #4e6680;
    float: left;
    left: 0;
    position: relative;
    width: 623px;
}
.tutorials p {
	background-color: #40b4f0;
	margin:10px 0 0;
	color: #fff;
	font-size:18px;
	line-height:30px;
	padding:0 15px;
}
.blue {
	color:#bde9ff;
}
.yellow {
	color:#fff17d;
}
.how_to {
	clear:both;
	margin-bottom:10px;
	padding-top:10px;
	height:280px;
}
.tutorials .how_to_block.hcol1,
.tutorials .how_to_block.hcol3 {
	margin-right:9px;
}
.tutorials .how_to_block.hcol1, 
.tutorials .how_to_block.hcol2 {
	margin-bottom:10px;
}
/*.right_container {
	padding-top:10px;
}*/
.news_block {
	border:none;
}

/* Features page*/
.feature_block {
	position:relative;
	padding:21px 35px 25px 190px;
	min-height:116px;
}
.feature_block:nth-child(2n) {
	background-color:#fff;
}
.feature_block h3 {
	color:#13324b;
}
.feature_block p {
	padding-left:0;
	padding-right:0;
}
.new {
	background-color:#52a918;
	color:#fff;
	font:18px/24px 'Open Sans Condensed', sans-serif;
	text-align:center;
	width:50px;
	display:block;
	position:absolute;
	left:-10px;
	top:38px;
	border-radius:0 5px 5px 0;
	-moz-border-radius:0 5px 5px 0;
	-o-border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
}
.fr .new {
	font-size: 16px;
}
.feature_icon {
	display:block;
	position:absolute;
	left:79px;
	top:27px;
	width:70px;
	height:70px;
	background-image:url(/public/img/features.png?60411);
	background-repeat:no-repeat;
}
.f00 {background-position:0 0;}
.f01 {background-position:0 -83px;}
.f02 {background-position:0 -162px;}
.f03 {background-position:0 -246px;}
.f04 {background-position:0 -321px;}
.f05 {background-position:0 -405px;height:77px;}
.f06 {background-position:0 -497px;}
.f07 {background-position:0 -581px;}
.f08 {background-position:0 -666px;}
.f09 {background-position:0 -750px;}
.f10 {background-position:0 -825px;}
.f11 {background-position:0 -910px; width:71px; height:52px}
.f12 {background-position:0 -977px; width:72px; height:74px;}
.f13 {background-position:0 -1066px;width:72px; height:74px;}
.f14 {background-position:0 -1155px;height:73px;}
.f15 {background-position:0 -1242px;height:75px;}
.f16 {background-position: 0 -1339px;}
.f17 {background-position: 0 -1419px;}
.f18 {background-position: 0 -1489px;}

.pop_tutorials {
	padding: 18px 0 108px;
	border-bottom: 10px solid #4e6680;
}
.article_item {
	margin:20px 20px 0;
}
.pop_tutorials .fdm_block {
	border: medium none;
    float: none;
    height: 90px;
    position: absolute;
    width: 100px;
}
.article_item .h2 {
    font: 18px/24px 'Open Sans', sans-serif;;
	margin: 0 0 28px 45px;
    max-height: 77px;
    min-height: 77px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: auto;
}
.article_item .h2 a {
	padding:0 9px;
	display:inline-block;
	background-color: #f1f1f1;
}
.article_text {
	width:auto;
	float:none;
}
.article_item .fdm_block div {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.article_item .col1,
.article_item .col7 {
	background-color:rgba(239, 111, 74, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccef6f4a,endColorstr=#ccef6f4a);
}
.article_item .col2,
.article_item .col8 {
	background-color:rgba(149, 236, 90, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc95ec5a,endColorstr=#cc95ec5a);
}
.article_item .col3,
.article_item .col9 {
	background-color:rgba(253, 221, 74, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccfddd4a,endColorstr=#ccfddd4a);
}
.article_item .col4,
.article_item .col10 {
	background-color:rgba(74, 120, 253, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc4a78fd,endColorstr=#cc4a78fd);
}
.article_item .col5,
.article_item .col11 {
	background-color:rgba(213, 74, 253, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccd54afd,endColorstr=#ccd54afd);
}
.article_item .col6,
.article_item .col12 {
	background-color:rgba(74, 217, 253, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc4ad9fd,endColorstr=#cc4ad9fd);
}
.article_item h2 strong {
	font-weight:900;
}
.article_item p, .prog_snippet {
	line-height:20px;
	font-size:13px;
	color:#898d90;
	clear:both;
}


/* Awards page*/
.awards_top {
	position:relative;
	background-color:#d6d6d6;
	height:80px;
	margin:65px 0 115px;
}
.award_block {
	float: left;
	margin-left:28px;
	width:170px;
	text-align:center;
	position:relative;
	top:0;
}
.award_block p {
	font-size:15px;
	color:#777777;
	padding:14px 0 0 0;
}
.award_block img {
	max-width:170px;
}
.awards_top .award_block {
	position:relative;
	top:-50px;
}
.awards_line {
	position:relative;
}
.awards_line:nth-child(2n+1) {
	margin-bottom:45px;
}


/* Download page*/
.download_page_block {
	margin:40px 20px 0 20px;
	font-size:15px;	
}
.download_page_block:last-child {
	margin-top:35px;
	margin-bottom: 60px;
}
.download_page_block:last-child  .h3 {
	margin-bottom:15px;
}
.download_page_block p {
	font:24px/40px 'Open Sans Condensed', sans-serif;
	padding:15px 0 0 0;	
}

.users_say {
	/*background-color: #f0f0f0;*/
	padding: 10px 20px 30px 20px;
	margin-left: -20px;
	margin-right: -20px;
	/*border-top: 1px solid #d6d6d6;*/
	/*border-bottom: 1px solid #d6d6d6;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.users_say .wrapper {
	display: inline-block;
	height: 150px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.users_say .wrapper .inwrapper {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.users_say img {
	width: 80px;
	height: auto;
	display: block;
	float: left;
	margin-right: 20px;
	margin-top: 7px;
}

.users_say .over {
	overflow: hidden;
	text-align: left;
}

.users_say .slide {
	position: absolute;
	left:-99999px;
	width:100%;
}

.users_say p {
	font-size: 15px;
	line-height: 25px;
	font-family: Open Sans;
	padding: 0;
}

.users_say b {font: bold 16px "Roboto", Arial, sans-serif;}

.reviewnav {
	position: absolute;
	top: 48px;
	left: -50px;
	right: -70px;
}

.reviewnav div {
	width: 19px;
	height: 56px;
	cursor: pointer;
	background-image: url(/public/img/sprite960.svg);
	background-repeat: no-repeat;
}

.navleft {
	float: left;
	background-position: -43px -30px;
}

.navright {
	float: right;
	background-position: -77px -30px;
}

img.get_fdm5 {
    margin: 30px 20px 0;
}
p.fix_p {
	padding-bottom:10px;
}
.download_page_block span {
	display:block;
	line-height:1;
	margin-top:5px;
}
.download_btn1 {
	display:block;
	background:#52a918 url(/public/img/sprite.png) 30px -12px no-repeat;
	color:#fff;
	font-size:24px;
	line-height:65px;
	margin:30px 0;
	padding:0 30px 0 74px;
	width:138px;
}
.download_btn1:hover,
.download_btn2:hover {
	color:#fff;
}
.download_btn2 {
	display:block;
	background:#52a918 url(/public/img/sprite.png) 36px -106px no-repeat;
	color:#fff;
	font-size:16px;
	line-height:43px;
	margin:30px 0 20px;
	padding:0 35px 0 65px;
	width:95px;
}

/* Support page, Login page*/
.frmSend, .frmReg, 
.frmLogin, .frmForgot {
	padding:20px 18px 25px;
	position:relative;
}
.modal_input {
	margin-bottom:10px;
	clear:both;
}
.pass_input {
	position:relative;
	padding-bottom:30px;
}
.modal_input span, .modal_text span {
	width:107px;
	display:inline-block;
	float:left;
	padding-top:8px;
	color:#4e6680;
	font-size:15px;
}
.frmReg .modal_input span,
.frmLogin .modal_input span {
	width:97px;
}
.modal_input b {
	color:#a0a0a0;
	font-size:13px;
	font-weight:normal;
	margin-left:10px;
}
.frmReg .modal_input b {
	margin:0;
	position:absolute;
	left:109px;
	bottom:5px;
}
.modal_text {
	margin:30px 0 0;
}
input[type="text"].inp_txt,
textarea.inp_txt,
input[type="password"].inp_txt,
select.inp_txt {
	font-size:15px;
	border:1px solid #c4c4c4;
	border-radius:17px;
	-moz-border-radius:17px;
	-o-border-radius:17px;
	-webkit-border-radius:17px;
	font-family:'Open Sans', sans-serif;
}
select.inp_txt{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	background: url(/public/img/sprite.png) no-repeat right -184px top -71px #fff;
}
input[type="text"].inp_txt,
input[type="password"].inp_txt,
select.inp_txt {
	height:38px;
	padding:0 10px;
	width:300px;
}
.captcha_wrap{
	padding-left: 107px;
}
select.inp_txt {
	box-sizing:content-box;	
}
.frmReg input[type="text"].inp_txt,
.frmLogin input[type="text"].inp_txt,
.frmReg input[type="password"].inp_txt,
.frmLogin input[type="password"].inp_txt {
	width:172px;
}
.frm_col2 {
	float:right;	
}
.modal_input .frm_col2 span {
	width:68px;
}
.fr .modal_input .frm_col2 span {
	width:72px;
}
textarea.inp_txt {
	width:452px;
	padding:0 10px;
	height:128px;
	resize:none;
}
input[type="submit"].btn {
	margin:0 0 0 107px;
	background-color:#182c4f;
	color:#fff;
	border-radius:17px;
	-moz-border-radius:17px;
	-o-border-radius:17px;
	-webkit-border-radius:17px;
	width:149px;
	line-height:40px;
	height:40px;
	position:relative;
	top:-10px;
}
.frmReg input[type="submit"].btnt,
.frmLogin input[type="submit"].btn {
	margin-left:97px;
}
input[type="submit"].btn:hover {
	background-color:#bc260d;
}
.contact_errors {
    color:#f7f7f7;
	background-color:#a91818;
    margin:0 0 14px;
	min-height:28px;
	padding:5px 20px;
	border-radius:17px;
	-moz-border-radius:17px;
	-o-border-radius:17px;
	-webkit-border-radius:17px;
	display:none;
}
.contact_ok {
    color:#f7f7f7;
	background-color:#52a918;
	line-height:38px;
	padding:0 20px;
	margin:0 0 14px;
	border-radius:17px;
	-moz-border-radius:17px;
	-o-border-radius:17px;
	-webkit-border-radius:17px;
	display: none;
}
.login_links {
	font-size:15px;
}
/* Linktous page*/
.th {
	line-height:34px;
	background-color:#eee;	
}
.link_col1 {
	clear:both;
	float:left;
	width: 25%;
	text-align:center;
	font-size:12px;
	line-height:15px;
	padding:22px 0;
}
.link_col1 img {
	margin-bottom:7px;
}
.link_col2 {
	float:left;
	width: 75%;
	padding:22px 20px;
	font-size:12px;
	line-height:15px;
	border-left:1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.link_col1:last-child,
.link_col2:last-child {
	margin-bottom: 60px;
}
/* Custom page*/
.custom {
	padding-bottom:40px;
}
.custom h3 {
	padding:32px 20px 13px 20px;
}
.get_link {
	display:inline-block;
	background-color:#40b4f0;
	color:#fff;
	font-size:18px;
	line-height:40px;
	padding:0 15px;
	margin:15px;
}
.get_link:hover {
	color:#fff;
}
.warning, .notes {
    background-color: #e7e7e7;
    clear: both;
    left: -10px;
    padding: 8px 25px 8px 82px;
    position: relative;
    width: 526px;
	font-size:15px;
	margin:25px 0 0 0;
}
.notes {
	margin:12px 0 18px 0;
}
.warning:after, .notes:after {
    background: url(/public/img/sprite.png) 0 -256px no-repeat;
    content: "";
    display: block;
    height: 55px;
    left: 36px;
    position: absolute;
    top: -2px;
    width: 23px;
}
.notes:after {
    background-position:0 -326px;
    height: 27px;
    left: 33px;
    top: 0;
    width: 34px;
}
.get_list {
	margin-bottom:35px;
}
.get_list li {
	list-style:none;
	margin:4px 15px 15px;
	padding-left:57px;
	font-size:15px;
	position:relative;
}
.get_list li:before {
    background: url(/public/img/sprite.png) 0 -227px no-repeat;
    content: "";
    display: block;
    height: 9px;
    left: 34px;
    position: absolute;
    top: 10px;
    width: 9px;
}
/* Account page */
.add_to_account {
	color:#fff;
	line-height:40px;
	font-size:16px;
	background-color:#40b4f0;
	display:inline-block;
	padding:0 20px;
	margin:5px 20px 27px;	
}
.add_to_account b {
	font-size: 30px;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 3px;
}
.builds_list {
	margin:10px 20px 25px;
	border-right:1px solid #eee;
	border-left:1px solid #eee;
}
.builds_item {
	position:relative;
	padding:0 20px;
	height:40px;
	line-height:40px;
}
.builds_item:nth-child(2n+1),
.builds_item:nth-child(2n+1) .edit {
	background-color:#eee;
}
.status {
	position:absolute;
	right:20px;
	top:10px;
	line-height:19px;
	font-size:15px;
	color:#8a8a8a;
}
.edit {
	display:block;
	height:22px;
	width:20px;
	background-image:url(/public/img/sprite.png);
	background-repeat:no-repeat;
	background-position:6px -363px;
	background-color:#f7f7f7;
	position:absolute;
	top:8px;
	left:-11px;
	border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	cursor:pointer;
}

/*  Wizard page */
.frmWizard {
	font-size:15px;
	margin:0 20px;
}
.left_form {
	width:140px;
	clear:both;
	float:left;
	color:#4e6680;
	margin:0 20px 20px 0;
}
.right_form {
	width:423px;
	float:left;
	margin-bottom:20px;
}
.right_form  input.inp_txt[type="text"] {
	margin:0 0 10px;
	width:100%;
	box-sizing:border-box;
}
.frmWizard p {
	padding-left:0;
	padding-right:0;
}
.frmWizard input.btn[type="submit"] {
	margin:0 15px 0 0;
}
.wizard_option {
	background-color:#ebebeb;
	margin:0 0 5px 0;
	padding:10px 15px;
	position:relative;
}
.wizard_option input[type="radio"] {
	position:absolute;
	top:15px;
	left:15px;
    opacity: 0;
	width:20px;
	height:20px;
}
.wizard_option label {
	display:block;
	position:relative;
	margin:0 0 0 35px;
}
.wizard_option input[type="radio"] + label > span {
    background-color: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 12px;
    display: block;
    height: 18px;
    width: 18px;
	position:absolute;
	top:5px;
	left:-35px;
}
.wizard_option input[type="radio"]:checked + label > span span {
    background-color: #4e6680;
    border:none;
    border-radius: 5px;
    display: inline-block;
    height: 10px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 10px;
}
.file_wrap {
	position:relative;
	width:150px;
	margin-right:10px;
	float:left;
}
.mask
{  
	background-color: #ddd;
    color: #000;
	border-radius:17px;
	-moz-border-radius:17px;
	-o-border-radius:17px;
	-webkit-border-radius:17px;
    height: 40px;
    line-height: 40px;
	width:150px;
} 
.fbtn, .fbanner {  
	  position:absolute;
	  cursor:pointer;
	  -ms-filter:"progid:DXImageTransFORM.Microsoft.Alpha(opacity=0)";
	  filter:progid:DXImageTransFORM.Microsoft.Alpha(opacity=0); 
	  -moz-opacity:0; 
	  -khtml-opacity:0; 
	  opacity:0;
	  width:150px;
	  height:40px;
} 
input[type="text"].fbtn_text
{
  	background:#ddd;
    color: #000;
    font-size: 15px;
    margin: 10px 0 0 10px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    width: 130px;
} 
input.btn_preview[type="submit"] {
	background-color:#ddd;
	color:#000;
	top:0;
	margin:0;
	width:105px;
}
.banner_block {
	margin-bottom:20px;
	position:relative;
	width:468px;
  	height:60px;
}
.fbanner {
  width:468px;
  height:60px;
}
.banner_mask {
	color:#0d80bc;
	font-size:20px;
	line-height:58px;
	padding:0 20px;
	border:1px dashed #0d80bc;
	background-color:#eee;
}
.banner_wrap {
}
.fbanner_del {
	position:absolute;
	top:0;
	right:-30px;
	border:none;
	background:url(/public/img/sprite.png) -30px -359px no-repeat;
	width:20px;
	height:20px;
	cursor:pointer;
}
.banner_preview {
	width:100%;
	height:60px;
	background-size:cover;
	background-repeat:no-repeat;
}
.links_list {
	color:#4e6680;
	font-size:15px;
	margin-bottom:38px;
}
.links_list li {
	list-style-type:decimal;
	list-style-position:inside;
	color:#13324b;
	font-size:15px;
	clear:both;	
	margin:0 0 10px 0;
}
.left_title {
	float:left;
	margin:3px 0 5px 31px;
	width:262px;
}
.right_title {
	float:left;
	margin:3px 0 5px 20px;
	width:266px;
}
.links_list .inp_txt:nth-child(2n+1) {
	margin-right:17px;
	margin-left:14px;
}


.policy {
	padding:0 0 30px 0;
}
.policy p.h3 {
	padding-top:20px;
}

/*after install page: start*/
.wrap_info {
	overflow: hidden;
	background-color: #fff;
	width: 100%;
	padding: 20px 20px 38px;
	margin-top: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrap_info .title {
	font: 50px/58px "Open Sans Condensed", "Open Sans", Arial, sans-serif;
	color: #52a918;
	margin-bottom:  8px;
}

.wrap_info .success {
	font-size: 24px;
	line-height: 28px;
	font-weight: 300;
}

.wrap_subscribe {
	overflow: hidden;
	margin-top: 13px;
}

.wrap_subscribe label {
	font-size: 17px;
	line-height: 30px;
	display: block;
}

.wrap_subscribe input[type=text] {
	width: 320px;
	height: 40px;
	display: block;
	float: left;
	border: 1px solid #c4c4c4;
	font-family: inherit;
	font-size: 13px;
	padding: 0 10px;
	margin-right: 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.wrap_subscribe input[type=submit] {
	display: block;
	float: left;
	height: 40px;
	width: 110px;
	font-family: inherit;
	font-size: 15px;
	color: #fff;
	background-color: #182c4f;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.wrap_subscribe span {
	display: block;
	clear: both;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
}

.wrap_subscribe.error span {
	color: red;
}

.wrap_subscribe.success span {
	color: #52a918;
}

.wrap_info .note {
	font-size: 13px;
	line-height: 20px;
	margin-top: 10px;
}

.wrap_info .left {
	overflow: hidden;
	float: left;
}

.wrap_info .wrap_r_ab {
	float: right;
	width: 336px;
	height: 280px;
	padding-top: 16px
}

.container.after {overflow: hidden;}

.after .latest_soft {border-top: none;}
/*after install page: end*/

/*de local: start*/
.de .modal_input span, .de .modal_text span {
	width: 190px;
	font-size: 14px;
}
.de textarea.inp_txt {width: 375px;}
.de input[type="submit"].btn {margin-left: 190px;}
/*de local: end*/

/*fr local: start*/
.fr .latest_a {background-position:  95px -214px;}
.fr .latest_a:hover {background-position: 95px -338px;}

.fr .latest_soft h4 {max-width: 165px;}

.fr .free {
	padding-top: 3px;
	top: 3px;
}

.fr .download_btn1 {width: 170px;}

.fr .download_btn2 {
	background: #52a918 url(/public/img/sprite.png) 15px -106px no-repeat;
	padding: 0 35px 0 45px;
	width: 90px;
}

.fr .fr.modal_input .inp_txt {
	float: left;
}

.fr .fr.modal_input b {
	overflow: hidden;
	display: block;
	padding-left: 10px;
	line-height: 22px;
}

.fr .fr.modal_input span {
	padding-top: 0;
	margin-top: -4px;
}

.fr input[type="submit"].btn {width: 200px;}
/*fr local: end*/

/*pt local: start*/
.pt .latest_a {background-position:  52px -214px;}
.pt .latest_a:hover {background-position: 52px -338px;}

/*.pt .status .latest_a {background-position: 100px -214px;}*/
/*.pt .status .latest_a:hover {background-position: 100px -338px;}*/

.pt .latest_soft h4 {max-width: 155px;}

.pt .free {
	padding-top: 3px;
	top: 3px;
}

.pt .download_btn1 {width: 100px;}

.pt .download_btn2 {
	background: #52a918 url(/public/img/sprite.png) 14px -106px no-repeat;
	padding: 0 35px 0 45px;
	width: 47px;
}

.pt .frm_col2 .pt {width: 83px;}

.pt .modal_input span, .pt .modal_text span {width: 135px;}
.pt textarea.inp_txt {width: 430px;}
.pt input[type="submit"].btn {margin-left: 135px;}
/*pt local: end*/

/*es local: start*/
.es .modal_input span, .es .modal_text span {
	font-size: 13px;
	width: 195px;
}

.es textarea.inp_txt {width: 370px;}

.es input[type="submit"].btn {margin-left: 195px;}
/*es local: end*/

a.a_hover_none span {
	font-size: 18px;
	margin-top: 0;
	position: absolute;
	margin-left: 5px;
}

.l_inf {
	font-size: 12px;
	display: block;
	color: #AEBDD6;
}