@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

.bottom_note {font-size: 13px;}
.download_page_block .bottom_note span {
	color: #777;
	display: inline;
}

.link_new {position: relative;}
.link_new:before {
	content: 'New';
	display: block;
	position: absolute;
	right: 0;
	top: 3px;
	color: #52a918;
	font-family: "Open Sans Condensed", "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.download_page_block span.link_new {
	display: inline;
	padding-right: 34px;
}

.download_btn_new {
	padding: 8px 20px 12px 80px;
	line-height: normal;
	color: #fff;
	width: auto;
	display: block;
	max-width: 265px;
	height: 77px;
	border-radius: 5px;
	background: #52a918 url(/public/img/sprite.png) 20px -795px no-repeat;
	margin-top: 10px;
	margin-bottom: 2px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 900;
	font-size: 28px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.download_btn_new .btn_second {
	font: 400 15px/20px 'Open Sans', sans-serif;
	margin-top: 4px;
}

.download_btn_new:hover {color: #fff;}

.download_page_block span.grey {
	color: #666;
	display: inline;
}

.subgroup {padding-left: 10px;}