@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
/*-------------Clear page------------------*/
body, form, form input, form div, span, div, p, h1, h2, h3, h4, dl, dt, dd, 
ul,  ol, li, img, form input,textarea, select {padding:0;margin:0;}
body table, th, tr, td{padding:0;border:0;border-collapse: collapse;margin:0;}
body img{border:none;}

/*-------------Main setup------------------*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    min-height: 100%;
    height: auto !important;
    position: relative;
    font:16px/25px 'Open Sans', sans-serif;
    font-weight: 400;
    color:#000;
	background-color:#4e6680;
    vertical-align:middle;
    -webkit-font-smoothing: antialiased;
}
a {color:#0d80bc;text-decoration:none;outline:none;}
a:hover {/*text-decoration:underline;*/ color:#bc260d;}
.container {
	height: 100%;
    margin: 0 auto;
    position: relative;
    width: 940px;
}
.no-cols {
	background-color: #f7f7f7;
	padding:20px;
}

h1, h2, h3, h4, h5, .h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	line-height:1.2;
	font-weight:100;
}
h3, .h3 {
	font-size:22px;
	font-weight:bold;
	color:#183547;
}
input, textarea, select {
    outline: none;
}
input[type="text"] {
    border:none;
	font:18px/22px 'Open Sans', sans-serif;
	background:#fff;
}
input[type="submit"] {
    border: 0 none;
    cursor: pointer;
	font:16px/20px 'Open Sans', sans-serif;
}
.icon48 {
	width:48px;
	height:48px;
	margin-right:10px;
	float:left;
}
.icon40 {
	width:40px;
	height:40px;
	margin-right:10px;
	float:left;
}
.clear:after {
	display:block;
	content:'';
	clear:both;
}
/*-------------Header------------------*/
.header {
	height:52px;
	padding:10px 0 8px;
	position:relative;
}
.logo {
	float:left;
}
.lang {
	position:absolute;
	right:0;
	color:#fff;
	font:22px 'Open Sans Condensed', sans-serif;
	cursor:pointer;
	top:27px;
}
.lang_slct {
	padding-left: 34px;
	padding-right: 20px;
	cursor: pointer;
	position: relative;
	background:url(/public/img/sprite.png?1) 60px 14px no-repeat;
}

.lang_slct:before, .lang_dd a:before {
	content: '';
	display: block;
	width: 27px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 8px;
	background: url(/public/img/flags.svg) no-repeat;
}

.lang_dd a:before {
	left: 7px;
	top: 7px;
}

.lang_slct.es:before, .lang_dd a.es:before {background-position: 0 -16px;}
.lang_slct.fr:before, .lang_dd a.fr:before {background-position: 0 -32px;}
.lang_slct.pt:before, .lang_dd a.pt:before {background-position: 0 -48px;}
.lang_slct.de:before, .lang_dd a.de:before {background-position: 0 -64px;}

.lang_dd {
	position:absolute;
	right:0;
	top:0px;
	width: 80px;
	background-color:#f9f9f9;
	border:1px solid #4e6680;
	border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	z-index:100000;
	display:none;
}
.lang_dd a {
	display: block;
	padding-left: 40px;
	line-height: 28px;
	color: #4e6680;
	position: relative;
}
.lang_dd a:hover {
	color:#bc260d;
}
.lang_dd a:first-child {
	border-bottom:1px solid #e1e1e1;
}
.lang_dd:before {
	display:block;
	content:'';
	position:absolute;
	top:13px;
	right: 3px;
	width:11px;
	height:6px;
	background:url(/public/img/sprite.png?1) 0 -88px no-repeat;
	cursor:pointer;
}
.menu {
	background:#fff;
	height:60px;
}
.menu li {
	display:block;
	float:left;
	position:relative;
	width:117.5px;
	height:52px;
	border-top:8px solid #40b4f0;
	list-style:none;
}
.menu a {
	font:22px/52px 'Open Sans Condensed', sans-serif;;
	text-align: center;
	color:#0d80bc;
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border-left:1px solid #e9e9e9;
}
.menu a:hover {
	color:#bc260d;
}
.menu li.selected {
	border-top-color:#09334b;
}
.selected a {
	background-color:#40b4f0;
	color:#fff;
	border-left-color:#40b4f0;
}
.selected a:hover {
	color:#fff;
}
/*-------------Footer------------------*/
.category {
	background:#fff;
	height:100px;
	border-bottom:1px solid #52a918;
}
.category_more {
	height:201px;
}
.category_more li{
	border-top:1px solid #e9e9e9;
}
.category_more .hidden-cats li{
	border-top: none;
}
.category li {
    display: block;
    float: left;
    position: relative;
    width: 104.4px;
    height: 100px;
    border-left: 1px solid #e9e9e9;
    list-style: none;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hidden-cats li:last-child {
	border-right:1px solid #e9e9e9;
}
.category a {
	font:12px Arial, sans-serif;
	text-align: center;
	color:#4d4e4e;
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding: 60px 20px 0;
	background-image:url(../img/categories.png);
	background-repeat: no-repeat;
}
.category a:hover {
	color:#bc260d;
}
.category div {
	display:block;
	clear:both;
}
li.selected {
	border-left-color:#fff;
}
li.cat-mul.selected, .cat-aud.selected {
	border-left: none;
}
.category .selected a {
	background-color:#40b4f0;
	color:#fff;
	border-top:7px solid #4e6680;
	padding-top: 53px;
}
.category .selected a:after {
	display:block;
	content:'';
	position: absolute;
	left:0px;
	bottom: -40px;
	border-color: #40b4f0 transparent transparent;
    border-style: solid;
    border-width: 20px 52px;    
    height: 0;
    width: 0;	
}
.category .selected a:hover {
	color:#fff;
}
.subcategories {
	background-color:#e9e9e9;
	font-size:16px;
}
.padding {
	line-height:20px;
}
.subcategories li {
	background-color:transparent;
	border:none;
	width:auto;
	height: auto;
}
.subcategories a {
	position:static;
	display:inline-block;
	font:16px/1.5 'Open Sans', sans-serif;
	color:#0d80bc;
	padding:0;
	margin:18px 5px 2px 25px;
	background-image:none;
	border-bottom:5px solid #e9e9e9;
}
.active_subcat a {
	color:#4d4e4e;
	border-bottom-color:#40b4f0;
}
.subcategories .default_subcat {
	height: 26px;
}
.cat-mul a, .cat-aud a {background-position:0 -3px;}
.cat-bus a {background-position:0 -103px;}	
.cat-com a {background-position:0 -203px; padding-left:0; padding-right:0;}
.cat-pho a, .cat-design a {background-position:0 -303px;}
.cat-dev a {background-position:0 -403px; padding-left:10px; padding-right:10px;}
.cat-edu a {background-position:0 -503px;}	
.cat-gam a {background-position:0 -603px;}	
.cat-int a {background-position:0 -703px;}
.cat-hom a, .cat-lif a {background-position:0 -803px;}
.cat-off a, .cat-pro a {background-position:0 -903px;}
.cat-sec a {background-position:0 -1003px;}	
.cat-sys a {background-position:0 -1103px;}	
.cat-des a, .cat-the a {background-position:0 -1203px;}
.cat-gen a {background-position:0 -1303px;}	
.cat-more a {background-position:0 -1403px;}	
.category_more .cat-more a {background-position:0 -1503px;}

.cat-mul a:hover, .cat-aud a:hover {background-position:-102px -3px;}
.cat-bus a:hover {background-position:-102px -103px;}	
.cat-com a:hover {background-position:-102px -203px;}	
.cat-pho a:hover, .cat-design a:hover {background-position:-102px -303px;}
.cat-dev a:hover {background-position:-102px -403px;}	
.cat-edu a:hover {background-position:-102px -503px;}	
.cat-gam a:hover {background-position:-102px -603px;}	
.cat-int a:hover {background-position:-102px -703px;}
.cat-hom a:hover, .cat-lif a:hover {background-position:-102px -803px;}
.cat-off a:hover, .cat-pro a:hover {background-position:-102px -903px;}
.cat-sec a:hover {background-position:-102px -1003px;}	
.cat-sys a:hover {background-position:-102px -1103px;}	
.cat-des a:hover, .cat-the a:hover {background-position:-102px -1203px;}
.cat-gen a:hover {background-position:-102px -1303px;}	
.cat-more a:hover {background-position:-102px -1403px;}
.category_more .cat-more a:hover {background-position:-102px -1503px;}

.cat-mul.selected a, .cat-aud.selected a {background-position:-204px -10px;}
.cat-bus.selected a {background-position:-204px -110px;}	
.cat-com.selected a {background-position:-204px -210px;}	
.cat-pho.selected a, .cat-design.selected a {background-position:-204px -310px;}
.cat-dev.selected a {background-position:-204px -410px;}	
.cat-edu.selected a {background-position:-204px -510px;}	
.cat-gam.selected a {background-position:-204px -610px;}	
.cat-int.selected a {background-position:-204px -710px;  }
.cat-hom.selected a, .cat-lif.selected a {background-position:-204px -810px;}
.cat-off.selected a, .cat-pro.selected a {background-position:-204px -910px;}
.cat-sec.selected a {background-position:-204px -1010px;}	
.cat-sys.selected a {background-position:-204px -1110px;}	
.cat-des.selected a, .cat-the.selected a {background-position:-204px -1210px;}
.cat-gen.selected a {background-position:-204px -1310px;}	


.img_footer {
	position:absolute;
}
.content_border {
	border-top:10px solid #4e6680;
	width:100%;
	position: absolute;
    top: -18px;
}
.category_border {
	border-top:1px solid #6bd723;
	border-bottom:1px solid #ccdce5;
	width:100%;
}
.footer {
	background-color:#f7f7f7;
	border-top:8px solid #40b4f0;
	border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	-o-border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
	clear:both;
	text-align:center;
	padding:0 0 40px;
	margin:0 0 74px 0;
	position:relative;
}
#footer .footer_links2 {
	float: right;
}
#footer .copy a, .footer_links2 a {
	color:#b4c4d4;
	text-decoration: underline;
}
#footer .footer_links2 a:hover {
	text-decoration: none;
}
.footer>a {
	font:28px 'Open Sans Condensed', sans-serif;
	color:#4e6680;
}
.footer a:hover {
	color:#bc260d;
}
.footer .copy a {
	color:#b4c4d4;
	text-decoration: underline;
}
.footer .copy {
	position:absolute;
	bottom:-41px;
	color:#b4c4d4;
	width:100%;
	text-align: left;
	font:15px/22px Arial, sans-serif;
}

/*------------- Left Column Blocks------------------*/
.fon3 {
    background: #d6d6d6;
    clear: left;
    float: left;
    margin: 0 0 0 -10px;
    overflow: hidden;
    padding: 0 0 0 10px;
    width: 100%;
	border-top: 10px solid #4e6680;
}
.fon2 {
    background: #4e6680;
    float: left;
    position: relative;
    right: 307px;
    width: 100%;
}
.fon1 {
    background: #f7f7f7;
    float: left;
    position: relative;
    right: 10px;
    width: 100%;
}
.fon0 {
    background: #4e6680;
    position: absolute;
    width: 10px;
	left:307px;
	top:0;
	bottom:0;
}
.left_container {
	float: left;
    left: 317px;
    position: relative;
	width:623px;
}
.left_container > h1 {
    margin-top: 40px;
}
.right_container {
	float: left;
    left: 327px;
    overflow: hidden;
    position: relative;
    width: 307px;
}
.wide_container {
	background-color:#f7f7f7;
	width:100% !important;
}
.nav {
    margin: 11px 10px 7px 0;
    font-size: 13px;
    display: inline-block;
    list-style: none;
    position: relative;
    line-height: 22px;
    visibility: hidden;
}
.nav:first-child {
	margin-left:22px;
}
.nav:after{
	font-size:13px;
	display:block;
	content:'›';
	position:absolute;
	top:-1px;
	right:-9px;
}
.nav:last-child:after {
	display:none;
}
.articles-nav li:after {
	color:#0d80bc;
}
.articles-nav li:last-child:after{
	display:none;
}
.left_container h1 {
	font-size:44px;
	background-color: #13324b;
    color: #f7f7f7;
	position:relative;
	left:-10px;
	padding:10px 30px 17px;
	width:573px;
	clear:both;
}
.left_container h1 strong {
	font-weight:900;
}

/*------------- Right Column Blocks------------------*/
.fdm_block {
	width:307px;
	height:280px;
	float:left;
	position:relative;
	background-size:cover;
}
.top_howto {
    width: 100%;
    height: 136px;
    float: left;
    position: relative;
    background-repeat: no-repeat;
    background-size: inherit;
}
.right_container .fdm_block {
	border-bottom:10px solid #4e6680;
}
.how_to_block div {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.how_to_block div.col1,
.how_to_block div.col4 {
	background-color:rgba(239, 111, 74, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc95ec5a,endColorstr=#cc95ec5a);
}
.how_to_block div.col2,
.tutorials .how_to_block div.col3 {
	background-color:rgba(149, 236, 90, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccef6f4a,endColorstr=#ccef6f4a);
}
.top_howto div.col1, .how_to_block div.col3,
.tutorials .how_to_block div.col4 {
	background-color:rgba(253, 221, 74, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccfddd4a,endColorstr=#ccfddd4a);
}
.how_to_block_h1 {
	background-color:rgba(0, 37, 79, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e500254f,endColorstr=#e500254f);
	color:#fff;
	font-size:30px;
	line-height:40px;
	padding:0 15px;
	width:258px;
	height:126px;
	position:absolute;
	left:0;
	top:31px;
	overflow:hidden;
	display:block;
	font-family: "Open Sans Condensed",sans-serif;
    font-weight: 100;
}

.how_to_block_h1 b {
    font-weight: bold;
}

.top_howto .how_to_block_h1 {
    max-width: 90%;
    width: auto;
    height: auto;
    top: 24px;
    line-height: 25px;
    padding: 3px 14px 17px;
}

.mini_title {
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.how_to_block strong {
	font-weight: 900;
}
.featured {
	display:inline-block;
	position:absolute;
	background-color:rgba(255, 255, 255, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff);
	font-size:18px;
	font-weight:900;
	line-height:33px;
	padding:0 22px;
	top:217px;
	color:#172e51;
}
.how_to_block a,
.solutions_block a, 
.download_block a,
.translate_block a,
.software_info a {
	position:absolute;
	display:block;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:20;
}
.solutions_block, 
.download_block,
.translate_block {
	background-color:#f05c40;
	color:#fff;
	position:relative;
}
.translate_block {
	height:310px;
}
.solutions_block span, 
.download_block span {
	font-size:48px;
	line-height:1;
	padding:20px 40px 0 33px;
	font-family: "Open Sans Condensed",sans-serif;
	display:block;
}
.solutions_block:after,
.download_block:after,
.translate_block:after {
	display:block;
	content:'';
	position:absolute;
	bottom:39px;
	left:33px;
	width:50px;
	height:50px;
	background:url(/public/img/sprite.png?1) 0 0 no-repeat;
	z-index:10;	
}
.translate_block:after {
	bottom:29px;
}
.download_block,
.translate_block {
	background-color:#52a918;
}
.download_block h1 {
	line-height:40px;
}
.download_block p {
	padding:22px 0 0 33px;
	font:30px 'Open Sans Condensed', sans-serif;
}
.download_block:after {
	background-position:0 -157px;
}
.fdm_block .h3 {
	font-size:34px;
	line-height:36px;
	margin-bottom:20px;
	font-family: "Open Sans Condensed",sans-serif;
    font-weight: 100;
}
.translate_block h3 {
	padding: 31px 31px 0 31px;
}
.translate_block p {
	padding: 0 31px;
	font-size:16px;
	line-height:25px;
}
.translate_block span {
	color:#ffe778;
}
.translate_block span:last-child {
	display:block;
}
.software_item {
	clear:both;
	padding-bottom:20px;
}
.software_item div {
	font:18px 'Open Sans', sans-serif;
	float:left;
	width:196px;
	overflow:hidden;
	/*color:#0d80bc;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;*/
}
.software_item h2{
	font:18px 'Open Sans', sans-serif;
	color:#0d80bc;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.software_item h2:hover {
	color:#bc260d;
}
.software_item p {
	color:#7d7d7d;
	font-size:13px;
}
.select_software {
	background-color:#40b4f0;
}
.select_software h2 {
	color:#fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.select_software p {
	color:#d5effc;
}
.software_item .icon48 {
	margin-right:15px;
}
.software_block {
	height:auto;
    box-sizing: border-box;
	padding: 16px 28px 20px 20px;
}
.software_item:last-child {
	/*padding:0;*/
}

/* captcha */
#captcha {
	left:0;
	top:0;
	position:fixed;
	height:100%;
	width:100%;
	background:transparent url(/img/bgfrm.png) repeat;
	z-index: 302;
}
#captcha div {
	border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -o-border-radius:8px;
    -ms-border-radius:8px;
	-moz-box-shadow:  0 5px 20px rgba(0, 0, 0, 0.5); /* ff */
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); /* chrome+safari */
	box-shadow:0 5px 20px rgba(0, 0, 0, 0.5); /* opera */
	behavior: url(/styles/PIE.htc);
	background:#fff;
	position:absolute;
	left:40%;
	top:30%;
	padding:20px;
	font-size:13px;
}
#captcha img {
	float:left;
	margin:10px 20px 10px 0;
	border:1px solid #ADADAD;
    border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
}
#captcha span {
	color:#ff3300;
	font-size:13px;
}
#captcha .set_txt {
	width:95px;
	height:48px;
    line-height: 48px;
	padding:0 3px;
	font-size:34px;
	margin:10px 0;
	border: 1px solid #ADADAD;
    border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
}
#captcha .butclose{
	background:url(/img/close.png) no-repeat;
	width:30px;
	height:30px;
	display:block;
	position:absolute;
	top:-11px;
	right:-11px;
}
#comments_error, #comments_error_reply { 
	background: #C1504D;
	color: #FFFFFF;
	font-weight: 400;
	padding: 0 4px;
}
.placeholder {color: #aaa;}

.software_info a.download{
	position: relative;
	width: 90px;
	color: #fff;
	margin-left: 20px;
	margin-top: 20px;
	padding: 11px 52px 9px 20px;
	z-index: 21;
	background: url(../img/content.png) no-repeat 122px -757px #52a918;
}

.how_to_block a, .solutions_block a, .download_block a, .translate_block a, .software_info a {
	background:url('about:blank');
}




/* Right Column*/
.get {
	display:block;
	color:#fff;
	background-color:#40b4f0;
	font:24px/80px 'Open Sans Condensed', sans-serif;
	text-align:center;
}
.get:hover {
	color:#fff;
}
.news_block {
	border-top:10px solid #4e6680;
}
.news_block_title,
.comments_title,
.pop_tutorials_title {
	font:34px/80px 'Open Sans Condensed', sans-serif;
	color:#13324b;
}
.news_block_title,
.pop_tutorials_title {
	background-color:#e7e7e7;
}
.pop_tutorials_title {
	padding:0 20px;
}
.news_wrap {
	height: 309px;
	overflow-y: hidden;
}

.custom.news_wrap {height: 1320px;}
.es .custom.news_wrap {height: 1253px;}
.features.news_wrap {height: 1220px;}
.es .features.news_wrap {height: 1462px;}
.downloads.news_wrap {height: 1000px;}
.es .downloads.news_wrap {height: 1000px;}
.linktous.news_wrap {height: 738px;}
.es .linktous.news_wrap {height: 790px;}

.es .news_wrap {
    height: 359px;
}

.news_block_title {
	padding:0 30px;
}
.date {
	font-size:13px;
	line-height:36px;
	color:#13324b;
	padding:0 30px 0 33px;
}
.news_title {
	padding:5px 30px 9px 33px;
}
.news {
	font-size:13px;
	line-height:20px;
	padding:0 30px 28px 33px;
}
.news_subscr {
	padding:10px 30px 32px 33px;
	background-color:#40b4f0;
	border-bottom:10px solid #4e6680;
}
.news_subscr_title {
    font: 34px/40px 'Open Sans Condensed', sans-serif;
    padding: 6px 0 10px;
    color: #fff;
}

.es .news_subscr_title {
    font-size: 30px;
}

.news_subscr input[type="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    line-height: normal;
    padding: 0 8px;
    width: 100%;
    border: 3px solid transparent;
}
.news_subscr input[type="text"]::-webkit-input-placeholder {color: #40b4f0;}
.news_subscr input[type="text"]::-moz-placeholder {color: #40b4f0;}
.news_subscr input[type="text"]::-ms-input-placeholder { color: #40b4f0;}
.news_subscr input[type="submit"] {
    height: 35px;
    line-height: 35px;
    padding: 0 13px;
	color: #fff;
	background-color:#0d80bc;
	margin-top:14px
}

#subscribe_form {
    position: relative;
}

.news_subscr span {
    display: none;
}

.news_subscr.error input[type="text"] {
    border: 3px solid #f25966;
}

.news_subscr.error span, .news_subscr.success span {
    display: block;
    position: absolute;
    right: 0;
    bottom: -6px;
    color: #4f0000;
    background-color: #f4f072;
    font-size: 13px;
    line-height: 17px;
    width: 137px;
    height: 49px;
    padding: 7px 8px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.news_subscr.success span {
    bottom: 0;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    padding: 20px;
}

.news_subscr.success span .tnx {
    position: static;
    display: block;
    padding: 0;
    margin-bottom: 6px;
    margin-top: -4px;
}

.news_subscr.success span .tnx:before {
    display: none;
}

.news_subscr.error span:before, .news_subscr.success span:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    bottom: 49px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 4px solid #f4f072;
}

.news_subscr.success span:before {
    right: auto;
    bottom: auto;
    left: 10px;
    top: -4px;
}

.fr .news_subscr.error span {
	width: 165px;
	font-size: 12px;
}

.comments {
	border-bottom:10px solid #4e6680;
	background-color:#d6d6d6;
	padding:0 30px 32px 33px;
}
.comment_text {
	font-size:15px;
	font-style:italic;
}
.comment_by {
	color:#898989;
	text-align:right;
	padding-top:5px;
	font-size:15px;
}


.mCS-fdm.mCSB_scrollTools {
    position: absolute;
    width: 10px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom:0;
    background-color:#fff;
}
.mCSB_outside + .mCS-fdm.mCSB_scrollTools_vertical {
    right: 0;
    margin: 12px 0;
}
.mCS-fdm.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 10px;
    height: 30px;
    z-index: 1;
}
.mCS-fdm.mCSB_scrollTools,
.mCS-fdm.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-fdm.mCSB_scrollTools .mCSB_buttonUp,
.mCS-fdm.mCSB_scrollTools .mCSB_buttonDown,
.mCS-fdm.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-fdm.mCSB_scrollTools .mCSB_buttonRight {
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition:  background-color .2s ease-in-out;
    -o-transition:  background-color .2s ease-in-out;
    transition:  background-color .2s ease-in-out;
}
.mCustomScrollBox.mCS-fdm + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox.mCS-fdm + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: 0;
    margin: 0 12px;
}
.mCS-dir-rtl > .mCSB_outside + .mCS-fdm.mCSB_scrollTools_vertical {
    left: 0;
    right: auto;
}
.mCS-fdm.mCSB_scrollTools .mCSB_draggerRail {
    width: 2px;
    height: 100%;
    margin: 0 auto;
    background-color: transparent;
}
.mCS-fdm.mCSB_scrollTools_vertical .mCSB_dragger {
    height: 50px;
}
.mCS-fdm.mCSB_scrollTools_horizontal .mCSB_dragger{
    width: 50px;
}
.mCS-fdm.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    border-radius: 0;
    background-color: #cacaca;
    position: relative;
    width: 10px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.mCS-fdm.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
}
.mCS-fdm.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-fdm.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background-color: #7f7f7f;
}

/*-----Tutorial Pages----*/

.left_container .top_links, .left_container .bottom_links {
    overflow: hidden;
}

.left_container .top_links {
    padding-top: 15px;
}

.left_container .bottom_links {
    padding-bottom: 20px;
}

.top_links a, .bottom_links a {
    display: block;
    float: left;
    clear: both;
}

.tutorial_img {
    display: block;
    margin: 5px auto 10px;
    max-width: 100%;
    height: auto;
}

.tutorial_list {
    padding: 10px 20px 10px 70px;
}

.unistall_form.modal_text {
    margin: 10px 0 0;
}

input[type="submit"].btn.send_btn {
    float: right;
    margin-right: 20px;
}

.screen_wrapper {
    width: 100%;
    padding: 20px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.block_screen {
    width: 49%;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
    text-align: center;
}

.block_screen:nth-child(2n) {
    margin-right: 0;
}

.block_screen img {
    width: 100%;
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
}

/*fr local: start*/
.fr .download_block p {font-size: 27px;}
/*fr local: end*/

div.ad_strip_noline {
	padding-top: 12px;
	margin-top: -12px;
	text-align: center;
	margin-left: auto !important;
	background: transparent url(../img/ad_strip_noline.png) center top no-repeat;
}

.donate_page {
    font-size: 15px;
}

.donate_page p {
    line-height: 23px;
    margin: 20px 0;
}
.donate_page p.nearby {
    margin: 0;
}

.donate_page p.nearby:nth-child(6) {
    margin: 0 0 20px 0;
}

.paypal_btn {
    display: block;
    width: 172px;
    height: 30px;
    margin: 15px 20px 15px;
    background: url(../img/paypal_button.png) no-repeat;
}

.donate_page h3.subtitle, .donate_page h2.subtitle {
    color: #13324b;
    font-size: 22px;
    font-weight: 700;
    padding: 0 20px;
    margin-bottom: 10px;
}

.donate_page > span {
    padding: 0 20px;
    margin-bottom: 20px;
}

.table_view {
    overflow: hidden;
    margin-top: 10px;
}

.row {
    line-height: 30px;
    overflow: hidden;
}

.row:nth-child(2n+1) {background-color: #e7e7e7;}

.row > div {
    float: left;
    font-size: 15px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row .count {
    padding-left: 20px;
    width: 115px;
    font-weight: 600;
}

.row .name {
    width: 320px;
}

.row .date {
    color: inherit;
    line-height: inherit;
    padding: inherit;
}

.donate_block {
	padding: 20px;
	font-size: 15px;
}

.donate_btn {
	display: inline-block;
	font-size: 14px;
	padding: 0 10px;
	margin-left: 5px;
	color: #000;
	background-color: #ffc439;
	border: 1px solid #f7a807;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 1);
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 1);
}