*{
	margin: 0;
	padding: 0;

}

.nuclear:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  zoom: 1;
}

.nuclear{ 
  display: block;
}

.clear{
	clear: both;
}
body {
    font-family: Verdana, 'Book Antiqua', Georgia, serif;
    color: #453815;
    font-size: 13px
}
a {
    color: #453815;
}
div, td, a, h3{

}

td, div{

	text-align: left;
	vertical-align: top;

	/*color: #706E6D;*/
}

a{
	/*text-decoration: none;*/
}

a:hover{
	color: #A59279;
}

a img{
	border: 0px;
	text-decoration: none;
}


li{
	list-style: none;
}  

body{
  background: url(../images/bg.jpg) left top repeat;
  padding: 20px 20px;
  min-width: 960px;
}

#optTd b:hover {

    text-decoration: underline;

}

.container{
  background: url(../images/bg4.jpg) center center repeat; 
  padding: 10px;
  max-width: 1800px;
  margin: 0 auto;
}

.container-in{
  background: url(../images/bg18.jpg) left top repeat; 
}

.hdr-top{
  padding: 50px 0 0 0;
  background: url(../images/inscription.gif) center top no-repeat;
  height: 32px;
  line-height: 32px;
  text-align: center;
  position: relative;
}

.hdr-top a.logo{
  color: #020201;
  font-family: Ringbearer, 'Book Antiqua', Georgia, serif;
  font-size: 25px;
  text-decoration: none;
}

.hdr-top a.logo:hover{
  color: #A59279;
  text-decoration: none;
}

ul.account{
  position: absolute;
  right: 20px;
  top: 40px;
}

ul.account li{
  float: left;
  padding-left: 12px;
  color: #020201;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
}

ul.account li a{
  color: #020201;
  text-decoration: underline;
  font-weight: bold;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
}

ul.account li a:hover{
  color: #A59279;
}

.hdr-btm{
  padding: 10px 20px 20px 20px;
}

.hdr-btm ul{
  display: block;
  text-align: center;
  line-height: 16px;
}

.hdr-btm ul li{
  display: inline;
  margin: 0 1px;
  color: #453815;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  font-size: 13px;
}

.hdr-btm ul li a{
  text-decoration: underline;
  color: #020201;
}

.hdr-btm ul li a:hover{
  color: #A59279;
}


.footer{
  padding-top: 10px;
  height: 70px;
  line-height: 18px;
  text-align: center;
}

.footer p{
  color: #453815;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  font-size: 13px;
}

.footer p a{
  color: #453815;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  font-size: 13px;
  color: #020201;
  text-decoration: underline;
}

.footer p a.mail{
  color: #453815;
  text-decoration: none;
  font-style: italic;
}

.footer p a:hover{
  color: #A59279;
}

.left-bar{
  float:left;
  width:250px;
  margin-right:-100%;
  background:#B9CAFF;
  padding-left: 20px;
  padding-right: 20px;
  background: url(../images/runes.gif) right top repeat-y; 
  position: relative;
  z-index: 50;
}

.left-bar h3{
  line-height: 18px;
  padding: 0 0 5px;
  margin-bottom: 5px;
  color: #453815;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  font-size: 16px;
}

.left-bar form.search{
  padding: 10px 0 30px 0;
}

.srch-txt{
  border: 1px solid #020201;
  background-color: #E9D3AF;
  padding: 0 3px;
  margin-right: 6px;
  height: 16px;
  line-height: 18px;
  float: left;
}

.srch-sbm{
  float: left;
  padding: 0px 5px;
  background-color: #6F6151;
  border: 1px solid #020201;
  color: #E5CAA4;
  font-weight: bold;
  cursor: pointer;
}

label {
    font-weight:bold;
}

input[type="submit"] {
    padding: 0px 5px;
    background-color: #6F6151;
    border: 1px solid #020201;
    color: #E5CAA4;
    font-weight: bold;
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    border: 1px solid #020201;
    background-color: #E9D3AF;
    padding: 0 3px;
    margin-right: 6px;
    height: 16px;
    line-height: 18px;
}

.left-bar a{
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  color: #020201;
  text-decoration: underline;
  line-height: 16px;
}

.left-bar a.asks{
  margin-bottom: 15px;
  display: inline-block;
}

.left-bar a:hover{
  color: #A59279;
}

.menu li{
  background: url(../images/ring.gif) no-repeat 0 40%;
  margin: 0px 0 0px 0;
  padding: 0px 0 5px 25px;
}

.menu li a{
  font-size: 1em;
}

.wrapper{
  float:left;
  width:100%;
  position: relative;
  z-index: 25;
}

.content{
  margin-left:310px;
  padding: 20px 20px 0 20px;
}

.content h1{
  font-size: 20px;
  color: #453815;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  text-align: center;
  margin-bottom: 12px;
}

.content h2{
  font-size: 1.3em;
  color: #453815;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  text-align: center;
  margin-bottom: 20px;
}

.content h4{
  font-size: 1.0em;
  color: #453815;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  text-align: center;
  margin-bottom: 20px;
}

.about{
  margin-bottom: 25px;
  padding-right: 20px;
}

.about > img{
  float: left;
  width: 205px;
}

.about ul{
  padding-left: 220px;
}

.about ul li{
  line-height: 16px;
  margin-bottom: 8px;
  color: #020201;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  font-size: 13px;
}

.about ul li.last{
  padding-top: 20px;
}

.about ul li a{
  color: #020201;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  font-size: 13px;
  text-decoration: underline;
}

.about ul li a:hover{
  color: #A59279;
}

.download{
  margin-bottom: 25px;
}

.dwnld{
  padding-left: 220px;
  padding-right: 250px;
}

.dwnld li{
  line-height: 16px;
  margin-bottom: 16px;
  color: #020201;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  font-size: 13px;
}

.dwnld li a{
  color: #020201;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  font-size: 13px;
  text-decoration: underline;
}

.dwnld li a:hover{
  color: #A59279;
}

.relative{
  float: right;
  margin-left: -100%;
  width: 205px;
  padding-right: 25px;
}

.relative li{
  color: #020201;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
}

.relative li b{
  display: block;
}

.relative li a{
  color: #020201;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  font-size: 10px;
  text-decoration: underline;
}

.relative li a:hover{
  color: #A59279;
}

.relative li.last{padding-top: 15px;}

.relative li.last a{
  display: block;
  width: 105px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: #666 0px 2px 3px;
  -moz-box-shadow: #666 0px 2px 3px;
  box-shadow: #666 0px 2px 3px;
  background: #665936;
  font-size: 12px;
  color: #E6CDA5;
  text-decoration: none;
  font-weight: bold;
  margin-left: 12px;
  cursor: pointer;
}



.reviews{
  margin-bottom: 25px;
  padding-right: 20px;
}

.reviews ul li{
  color: #453815;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 15px;
}

.reviews ul li a{
  display: block;
  font-weight: bold;
  color: #453815;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  font-size: 13px;
}

.reviews ul li a:hover{
  color: #A59279; 
}

.reviews ul li span{
  display: block;
}

a.make-review{
  float: right;
  color: #453815;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  font-size: 13px;
  text-decoration: underline;
}

a.make-review:hover{
  color: #A59279;
}

.banner-box{
  padding: 10px 0;
  text-align: center;
}

.left-bar .banner-box{
  margin-left: -20px;
}

.banner-box a{
  margin: 5px 0;
  display: block;
  text-align: center;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  color: #020201;
  text-decoration: underline;
  line-height: 16px;
}

.banner-box a:hover{
  color: #A59279;
}

.advert{
  padding: 10px 0;
  text-align: center;
}

.advert a{
  margin: 5px 0;
  display: block;
  text-align: center;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  color: #020201;
  text-decoration: underline;
  line-height: 16px;
}

.advert a:hover{
  color: #A59279;
}

.advert > a{
  float: right;
  margin-right: 20px;
}

.advert ul{
  width: 100%;
  margin-bottom: 15px;
}

.advert ul li{
  float: left;
  width: 23%;
  margin: 0 0.5%;
  height: 284px;
  padding: 8px 0;
  background: #F3E7D3;
  border: 2px solid #3B2C11;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #453815;
  font-family: Verdana, 'Book Antiqua', Georgia, serif;
  font-size: 13px;
}

.advert ul li > a{
  text-decoration: none;
  font-weight: bold;
  padding: 0 8px;
}

.advert ul li span{
  padding: 0 8px;
}

.advert ul li div.img-box{
  width: 155px;
  height: 155px;
  position: relative;
  margin: 0 auto;
  border: 1px solid #3B2C11;
}

.advert ul li div.img-box img{
  max-height: 155px;
  max-width: 155px;
}

.advert ul li div.img-box a{
  position: absolute;
  left: 0;
  bottom: 8px;
  display: block;
  line-height: 16px;
  height: 16px;
  padding: 3px 6px;
  background: #3B2C11;
  color: #fff;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  text-decoration: none;
  font-size: 12px;
}

.advert ul li div.img-box a:hover{
  color: #A59279;
}





.progressBar
{
    width: 120px;
    height: 12px;
    background: url(../img/progress.png) left no-repeat;
    background-position: -120px;
    padding: 0 2px 0 0px;
    margin: 0 0 0 0px;

}
div.autocomplete {
    position:absolute;
    width:250px;
    background-color:white;
    border:1px solid #888;
    margin:0px;
    padding:0px;
}
div.autocomplete ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
    list-style-type:none;
    display:block;
    margin:0;
    padding:2px;
    cursor:pointer;
    background:none;
}


.dropdown
{
    color: #555;
    margin: 3px -22px 0 0;
    width: 143px;
    position: relative;
    height: 17px;
    text-align:left;
}
.social
{
    background: #E6CDA5;
    position: absolute;
    top: -12px;
    left: -10px;
    z-index: 100;
    width: 190px;
    display: none;
    margin-left: 10px;
    padding: 40px 0 5px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.social_root
{
    list-style-type:none;
    margin:0px;
    font-size: 11px;
    padding: 10px 0 10px 20px;
    border-top:1px solid #dedede;
}

.dropdown li {
    list-style-type: none;
    padding: 2px 0 0 0;
}

.dropdown li a
{

    color: #555555;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration:none;
}

.dropdown li a:hover
{
    background:#155FB0;
    color: #FFFFFF;
    text-decoration: none;
}
a.sharebtn
{
    background: #665936;
    font-size: 12px;
    line-height: 16px;
    color: #E6CDA5;
    position: absolute;
    z-index: 110;
    display: block;
    padding: 8px 0 0 15px;
    height: 25px;
    width: 90px;
    margin: -11px 0 0 10px;
    font-weight: bold;
    text-decoration: none;
    cursor:pointer;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}


.low_rated {
    opacity: 0.2;
}

.low_rated:hover
{
    opacity: 1;
    -moz-transition: all 0.4s ease-out;  /* FF4+ */
    -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.4s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.4s ease-out;  /* IE10? */
    transition: all 0.4s ease-out;
}