﻿@charset "UTF-8";
/* =========================================================
Clear Fix
========================================================= */
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
.clearfix {
	/*display: inline-table;*/
	min-height: 1%;
}
/* Hides from IE-mac \
.clearfix { height: 1%; }
.clearfix { display: block; }
 End hide from IE-mac */

/* Hides from IE-mac \
* html .clearfix { height: 1%; }
.clearfix { display: block; }
 End hide from IE-mac */


/* new clearfix */
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
#contents{
	width:auto;
	text-align:center;
	margin:0;
	padding:0;
}

/*
YUI 3.7.1 (build 5627)
Copyright 2012 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
html {
  color: #000;
  background: #FFF;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  *font-size: 100%;
}

legend {
  color: #000;
}

#yui3-css-stamp.cssreset {
  display: none;
}

/*
YUI 3.5.1 (build 22)
Copyright 2012 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
body {
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  *font-size: small;
  *font: x-small;
}

select, input, button, textarea {
  font: 99% arial,helvetica,clean,sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

#yui3-css-stamp.cssfonts {
  display: none;
}

/* =============================================================================
   - 1. Vars & Functions
   - 2. Extensitons
   - 3. Bases
   - 4. Modules
   - 5. Flames
   ========================================================================== */
/* =============================================================================
   1. Vars & Functions
   ========================================================================== */
/* =============================================================================
   2. Extensions
   ========================================================================== */
.mod-snsbtns ul, .mod-hondasns .top,
.frame-globalheader .frame-globalheader-inner, .frame-globalheader .navs-1, .frame-globalheader .navs-1 ul, .frame-globalheader .navs-2 ul.gns, .frame-contents 
{
  *zoom: 1;
}
.mod-snsbtns ul:before, .mod-hondasns .top:before,
.frame-globalheader .frame-globalheader-inner:before, .frame-globalheader .navs-1:before, .frame-globalheader .navs-1 ul:before, .frame-globalheader .navs-2 ul.gns:before, .frame-contents:before, .mod-snsbtns ul:after, .mod-hondasns .top:after, 
.frame-globalheader .frame-globalheader-inner:after, .frame-globalheader .navs-1:after, .frame-globalheader .navs-1 ul:after, .frame-globalheader .navs-2 ul.gns:after, .frame-contents:after 
{
  content: " ";
  display: table;
}
.mod-snsbtns ul:after, .mod-hondasns .top:after,
.frame-globalheader .frame-globalheader-inner:after, .frame-globalheader .navs-1:after, .frame-globalheader .navs-1 ul:after, .frame-globalheader .navs-2 ul.gns:after, .frame-contents:after 
{
  clear: both;
}

/* =============================================================================
   3. Bases
   ========================================================================== */
body {
  background: #fff url(../img/bg/bg_contents.png) repeat-y center 0;
  min-width: 980px;
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #3c3c3c;
}

a {
  color: #434343;
  text-decoration: none;
}
a:visited {
  color: #999;
}
a:hover {
  text-decoration: underline;
}

img {
  vertical-align: top;
}

/* =============================================================================
   4. Modules
   ========================================================================== */
.mod-margin1 {
  height: 61px;
}

.mod-margin2 {
  height: 15px;
}

.mod-shadow1 {
  height: 3px;
  background: url(../img/bg/bg_shadow.png) repeat-x 0 0;
}
.mod-shadow1 hr {
  display: none;
}

.mod-main-ttl {
  padding-top: 15px;
  margin-bottom: 12px;
  text-align:left;
}

.mod-sub-blk {
  padding: 0 10px 10px 10px;
  line-height: 1.5;
}

.mod-bnr-text dt {
  margin-bottom: 10px;
}
.mod-bnr-text dd {
  font-size: 93%;
}

.mod-env {
	padding: 20px 10px 20px;
}

.mod-newslist {
  border-top: #dd0b20 solid 3px;
  padding: 5px 10px 0 10px;
  background: #FFF;
}
.mod-newslist dl {
  padding: 10px 0;
  border-bottom: #dd0b20 1px dashed;
  margin-bottom: 5px;
}
.mod-newslist dl.last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.mod-newslist dt {
  font-size: 77%;
  font-weight: bold;
  color: #434343;
  background: url(../img/icon/icon_arw.png) no-repeat 0 center;
  padding-left: 10px;
  line-height: 1;
  margin-bottom: 5px;
}
.mod-newslist dd {
  font-size: 93%;
}

p.mod-detail {
  padding-top: 12px;
  text-align: right;
}

.mod-line {
  width: 219px;
  height: 2px;
  margin: 0 auto 0 auto;
  background: url(../img/bg/bg_line.png) repeat-x 0 0;
}
.mod-line hr {
  display: none;
}

.mod-bnr {
  padding-top: 18px;
}

.mod-snsbtns {
  padding-top: 18px;
}
.mod-snsbtns ul {
  text-align: center;
  padding: 0 0 0 5px;
}
.mod-snsbtns li {
  width: 100px;
}
.mod-snsbtns li.fb {
  padding-right: 3px;
}

.mod-copyrights {
  padding-top: 18px;
  text-align: center;
  font-size: 10px;
}
.mod-copyrights a {
  font-size: 10px !important;
}
.mod-copyrights p.first-child {
  margin-bottom: 15px;
}


.mod-pagetop {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: none;
}

.mod-pagetop.on {
  display: block;
}

* html .mod-pagetop {
  display:none;
  position: absolute;
}


.mod-twtimeline {
  width: 219px;
  overflow: hidden;
}

.mod-hondasns {
  background: #FFF;
  border-top: #dd0b20 3px solid;
  padding: 10px 10px 15px 10px;
}
.mod-hondasns .top {
  width: 199px;
  padding-bottom: 10px;
  border-bottom: #dd0b20 1px dashed;
  margin-bottom: 15px;
}
.mod-hondasns .icon {
  float: left;
  width: 57px;
}
.mod-hondasns dl {
  float: right;
  width: 142px;
  font-size: 93%;
}
.mod-hondasns dl dt {
  font-weight: bold;
  margin-bottom: 3px;
}
.mod-hondasns dl iframe {
  vertical-align: middle;
}
.mod-hondasns .bottom ul {
  text-align: center;
  margin-bottom: 10px;
}
.mod-hondasns .bottom ul li {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  padding: 0 3px;
}
.mod-hondasns .bottom ul li a {
  width: 17px;
  height: 17px;
  background: url(../img/sprites/sprites_sns_140522.png) no-repeat 0 0;
  display: block;
  border: 0;
  text-indent: -9999px;
}
.mod-hondasns .bottom ul li a:hover {
  background-position: 0 -21px;
}
.mod-hondasns .bottom ul li a.tw {
  background-position: -22px 0;
}
.mod-hondasns .bottom ul li a.tw:hover {
  background-position: -22px -21px;
}
.mod-hondasns .bottom ul li a.mx {
  background-position: -44px 0;
}
.mod-hondasns .bottom ul li a.mx:hover {
  background-position: -44px -21px;
}
.mod-hondasns .bottom ul li a.yt {
  background-position: -66px 0;
}
.mod-hondasns .bottom ul li a.yt:hover {
  background-position: -66px -21px;
}
.mod-hondasns .bottom ul li a.in {
  background-position: -88px 0;
}
.mod-hondasns .bottom ul li a.in:hover {
  background-position: -88px -21px;
}
.mod-hondasns .bottom ul li a.gp {
  background-position: -110px 0;
}
.mod-hondasns .bottom ul li a.gp:hover {
  background-position: -110px -21px;
}
.mod-hondasns .bottom p {
  text-align: center;
}
.mod-hondasns .bottom p a {
  text-decoration: none;
  background: url(../img/icon/icon_arw.png) no-repeat 0 center;
  padding-left: 10px;
}
.mod-hondasns .bottom p a:hover {
  text-decoration: underline;
}

.mod-loading2 {
  text-align: center;
  padding: 20px 0;
}

.mod-loading2.off {
  display: none;
}

.mod-currentnav {
  position: absolute;
  display: block;
  top: 355px;
  right: 60px;
  z-index: 100;
}

.mod-currentnav li {
  display: inline-block;
  #display: inline;
  #zoom: 1;
  padding-left: 5px;
}

.mod-currentnav li a {
  color: #FFF;
  display: block;
  text-indent: -9999px;
  background: url(../img/sprites/sprites_cr.png) no-repeat 0 -12px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}

.msie6 .mod-currentnav li a {
  background: url(../img/sprites/sprites_cr_msie6.png) no-repeat 0 -12px;
}


.mod-currentnav li a.on {
  background-position: 0 0 !important;
}

.fb-like-box {
  background: #FFF;
}

/* =============================================================================
   5. Flames
   ========================================================================== */
/*
.frame-globalheader {
  background: url(../img/bg/bg_global_header.png) repeat-x 0 0;
  width: 100%;
  height: 61px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000000010;
}
.frame-globalheader .frame-globalheader-inner {
  width: 980px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
.frame-globalheader h1 {
  float: left;
}
.frame-globalheader .navs-blk {
  float: right;
}

.frame-globalheader .navs-1 {
  height: 25px;
}
.frame-globalheader .navs-1 .navs-1-inner {
  width: 698px;
  float: right;
}
.frame-globalheader .navs-1 li {
  float: left;
}
.frame-globalheader .navs-1 li.nav a {
  width: 70px;
  height: 25px;
  background: url(../img/sprites/sprites_gnav.png) no-repeat -118px 0;
  display: block;
  border: 0;
  text-indent: -9999px;
}

.frame-globalheader .navs-1 li.n-0 a {
  width: 107px;
  background-position: -85px 0;
}
.frame-globalheader .navs-1 li.n-0 a:hover {
  background-position: -85px -70px;
}

.frame-globalheader .navs-1 li.n-1 a {
  width: 100px;
  background-position: -192px 0;
}
.frame-globalheader .navs-1 li.n-1 a:hover {
  width: 100px;
  background-position: -192px -70px;
}

.frame-globalheader .navs-1 li.n-2 a {
  width: 64px;
  background-position: -292px 0;
}
.frame-globalheader .navs-1 li.n-2 a:hover {
  width: 64px;
  background-position: -292px -70px;
}
.frame-globalheader .navs-1 li.n-3 a {
  width: 64px;
  background-position: -356px 0;
}
.frame-globalheader .navs-1 li.n-3 a:hover {
  width: 64px;
  background-position: -356px -70px;
}
.frame-globalheader .navs-1 li.n-4 a {
  width: 75px;
  background-position: -420px 0;
}
.frame-globalheader .navs-1 li.n-4 a:hover {
  width: 75px;
  background-position: -420px -70px;
}
.frame-globalheader .navs-1 li.n-5 a {
  width: 80px;
  background-position: -495px 0;
}
.frame-globalheader .navs-1 li.n-5 a:hover {
  width: 80px;
  background-position: -495px -70px;
}

.frame-globalheader .navs-1 .n-6 {
  width: 207px;
}
.frame-globalheader .navs-1 .n-6 td {
  padding: 0;
}
.frame-globalheader .navs-1 .n-6 .i-txt {
  width: 143px;
}
.frame-globalheader .navs-1 .n-6 .i-txt div {
  padding-right: 3px;
}
.frame-globalheader .navs-1 .n-6 .i-txt p {
  background: #FFF;
  height: 18px;
  margin-top:-1px;
}
.frame-globalheader .navs-1 .n-6 .i-txt input {
  width: 109px;
  font-size: 10px;
  outline: none;
  border: 0;
  padding: 0;
  height:16px;
}
.frame-globalheader .navs-1 .n-6 .i-btn {
  width: 64px;
}

.frame-globalheader .navs-2 ul.gns {
  width: 100%;
}
.frame-globalheader .navs-2 li.gn {
  float: left;
  width: 125px;
  height: 36px;
  position: relative;
}
.frame-globalheader .navs-2 li.gn a.gn_a {
  width: 100%;
  height: 100%;
  background: url(../img/sprites/sprites_gnav.png) no-repeat -0px -30px;
  display: block;
  border: 0;
  text-indent: -9999px;
}
.frame-globalheader .navs-2 li.gn a.gn_a:hover {
  background-position: 0 -99px;
}
.frame-globalheader .navs-2 .subnav {
  position: absolute;
  left: -6px;
  width: 140px;
  background: url(../img/bg/bg_pulldown.png) no-repeat 0 bottom;
  display: none;
}
.frame-globalheader .navs-2 .subnav ul {
  padding: 0 10px 11px 4px;
}
.frame-globalheader .navs-2 .subnav li {
  width: 100%;
}
.frame-globalheader .navs-2 .subnav li.on {
  background: #b2b2b2 !important;
}
.frame-globalheader .navs-2 .subnav li.first-child,
.frame-globalheader .navs-2 .subnav li.last-child {
  padding-bottom: 0;
}
.frame-globalheader .navs-2 li#gnav_1 .subnav {
  position: absolute;
  left: -4px;
  width: 139px;
  background: url(../img/bg/bg_pulldown1.png) no-repeat 0 bottom;
}
.frame-globalheader .navs-2 li#gnav_2 {
  width: 124px;
}
.frame-globalheader .navs-2 li#gnav_2 a.gn_a {
  background-position: -125px -30px;
}
.frame-globalheader .navs-2 li#gnav_2 a.gn_a:hover {
  background-position: -125px -99px;
}
.frame-globalheader .navs-2 li#gnav_2 .subnav {
  background: url(../img/bg/bg_pulldown3.png) no-repeat 0 bottom;
  width: 138px;
  left:-4px;
}
.frame-globalheader .navs-2 li#gnav_3 {
  width: 124px;
}
.frame-globalheader .navs-2 li#gnav_3 a.gn_a {
  background-position: -249px -30px;
}
.frame-globalheader .navs-2 li#gnav_3 a.gn_a:hover {
  background-position: -249px -99px;
}
.frame-globalheader .navs-2 li#gnav_3 .subnav {
  background: url(../img/bg/bg_pulldown3.png) no-repeat 0 bottom;
  width: 138px;
  left:-4px;
}
.frame-globalheader .navs-2 li#gnav_4 {
  width: 137px;
}
.frame-globalheader .navs-2 li#gnav_4 a.gn_a {
  background-position: -373px -30px;
}
.frame-globalheader .navs-2 li#gnav_4 a.gn_a:hover {
  background-position: -373px -99px;
}
.frame-globalheader .navs-2 li#gnav_4 li {
}
.frame-globalheader .navs-2 li#gnav_4 .subnav {
  background: url(../img/bg/bg_pulldown4.png) no-repeat 0 bottom;
  width: 151px;
  left:-4px;
}
.frame-globalheader .navs-2 li#gnav_5 {
  width: 136px;
}
.frame-globalheader .navs-2 li#gnav_5 a.gn_a {
  background-position: -510px -30px;
}
.frame-globalheader .navs-2 li#gnav_5 a.gn_a:hover {
  background-position: -510px -99px;
}
.frame-globalheader .navs-2 li#gnav_5 li {
}
.frame-globalheader .navs-2 li#gnav_5 .subnav {
  background: url(../img/bg/bg_pulldown6.png) no-repeat 0 bottom;
  width: 150px;
  left:-4px;
}
.frame-globalheader .navs-2 li#gnav_6 {
  width: 136px;
}
.frame-globalheader .navs-2 li#gnav_6 a.gn_a {
  background-position: -646px -30px;
}
.frame-globalheader .navs-2 li#gnav_6 a.gn_a:hover {
  background-position: -646px -99px;
}
.frame-globalheader .navs-2 li#gnav_6 li {
  background: url(../img/bg/bg_bar_subnav2.png) no-repeat 0 bottom;
}
.frame-globalheader .navs-2 li#gnav_6 .subnav {
  background: url(../img/bg/bg_pulldown6.png) no-repeat 0 bottom;
  width: 150px;
    left:-4px;
}
*/

#top{
	text-align:left;
}

.frame-billboard {
  background: url(../img/bg/bg_page.png) repeat-x 0 0;
  background:#fff;
  height: 377px;
}
.frame-billboard .frame-billboard-inner {
  width: 980px;
  height: 377px;
  margin: 0 auto;
  position: relative;
}
.frame-billboard #billboard_slide ul {
  position: relative;
  height: 100%;
}
.frame-billboard #billboard_slide li {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: none;
}
.frame-billboard .mod-loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.frame-contents {
  width: 980px;
  margin: 0 auto;
}

.frame-maincontents {
  width: 740px;
  float: left;
}

.frame-subcontents {
  width: 239px;
  float: right;
  position: relative;
}

.fb-wall-container {
	background-color: #ffffff;
	padding:10px;
	overflow-y:scroll;
	width:199px;
	height: 300px;
}

/* =============================================================================
   For IE6
   ========================================================================== */
.msie6 .frame-globalheader {
  position: absolute;
  top: 0px;
  left: 0px;
}
.msie6 .frame-globalheader .navs-2 .subnav {
  background: none !important;
}


/*201308Update*/
#load_more {
	margin-top: 18px;
	padding-bottom: 18px;
	text-align:center;
	display:none;
}

/* =============================================================================
   2014.1.9
   ========================================================================== */
/*.mod-infoblk {}*/
.infoBlock {
  margin: 0 23px 15px 0;
  border: solid 1px #f0f0f0;
}
.infoBlock a {
  display: block;
  background: #fff;
  padding: 13px 0 0px;
  text-decoration: none;
}
.infoBlock a:hover {
  text-decoration: none;
}

.infoBlock a h3 {
  font-size: 116%;
  line-height: 1.2;
  font-weight: bold;
  border-left: 2px solid #dd0b20;
  margin: 0 14px 10px 14px;
  padding: 3px 0 0 10px;
  color: #000;
}
.infoBlock a:visited h3 {
  color: #000;
}
.infoBlock a:hover h3,
.infoBlock a:hover .text {
  text-decoration: underline;
}
.infoBlock a .pic {
  margin: 0 0 10px;
  text-align: center;
  overflow: hidden;
}
.infoBlock .date {
  font-size: 13px;
  color: #777;
  margin: 0 0 3px;
  padding: 0 15px;
}
.infoBlock .text {
  font-size: 13px;
  line-height: 1.6;
  color: #333;
  padding: 0 15px 13px;
}
.infoBlock .text .readmore {
  color: #aaaaaa;
}

.infoBlock .text .readmore a{
  color: #aaaaaa;
  display:inline;
  padding:0px;
  background: transparent;
}

/* ブロックデザイン L1 */
.infoBlock.L1,
.infoBlock.L1 a .pic {
  width: 712px;
}
.infoBlock.L1 a .pic {
  height: 150px;
}
/* ブロックデザイン L2 */
.infoBlock.L2 {
  width: 712px;
}
.infoBlock.L2 a {
  padding: 0;
  overflow: hidden;
  *zoom:1;
}
.infoBlock.L2 .topText {
  float: right;
  width: 205px;
  padding: 16px 25px 16px 0;
}
.infoBlock.L2 h3 {
  margin: 0 0 18px;
  padding: 3px 0 0 10px;
}
.infoBlock.L2 .date {
  padding: 0;
}
.infoBlock.L2 .text {
  padding: 0;
}
.infoBlock.L2 .pic {
  float: left;
  width: 460px;
  height: 300px;
  margin: 0;
}
/* ブロックデザイン M_BIG */
.infoBlock.M_BIG,
.infoBlock.M_BIG a .pic {
  width: 343px;
}
.infoBlock.M_BIG a .pic {
  height: 110px;
}
/* ブロックデザイン M_MIDDLE */
.infoBlock.M_MIDDLE,
.infoBlock.M_MIDDLE a .pic {
  width: 343px;
}
.infoBlock.M_MIDDLE a .pic {
  height: 210px;
}
/* ブロックデザイン M_SHORT */
.infoBlock.M_SHORT,
.infoBlock.M_SHORT a .pic {
  width: 343px;
}
.infoBlock.M_SHORT a .pic {
  height: 110px;
}
/* ブロックデザイン M_THUMBNAIL */
.infoBlock.M_THUMBNAIL {
  width: 343px;
}
.infoBlock.M_THUMBNAIL a {
  padding: 0 0 10px;
  overflow: hidden;
  *zoom:1;
}
.infoBlock.M_THUMBNAIL a h3 {
  float: right;
  width: 153px;
  margin: 13px 0 10px;
  padding: 3px 10px 0 10px;
}
.infoBlock.M_THUMBNAIL a .pic {
  float: left;
  width: 154px;
  height:154px;
  margin: 0 10px 0 0;
}
.infoBlock.M_THUMBNAIL a .date {
  clear: both;
}
/* ブロックデザイン M_MINI */
.infoBlock.M_MINI {
  width: 343px;
}

/* pickup */
.infoBlock .mod-pickup {
  position: absolute;
  right: 0;
  top: 0;
  width: 81px;
  height: 47px;
  background: url(../img/misc/hilight.png) no-repeat 0 0;
  z-index: 10;
}
* .infoBlock .mod-pickup {
  position: absolute;
  right: 0;
  top: 0;
  width: 81px;
  height: 47px;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/top-tl/img/misc/hilight.png', sizingMethod='scale'); 
  z-index: 10;
}

.infoBlock .mod-exlink{
	padding:0 15px 20px;
	text-align:right;
	position:relative;
	top:-5px;
}
.infoBlock .mod-exlink a{
	padding:0;
	font-size:13px;
	line-height:21px;
	color:#d70c20;
}
.infoBlock .mod-exlink a span{
	text-decoration:underline;
}
.infoBlock .mod-exlink a:hover span{
	text-decoration:none;
}
.infoBlock .mod-exlink a:visited{
	color:#bebebe;
}


/* top-footer */
#global-footer * {
  margin: 0;
  padding: 0;
  font: 10px "メイリオ" , "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ Pro W3", Osaka, "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
  line-height: 16px !important;
  visibility: visible;
  height: auto;
}
#global-footer table {
  border-collapse: collapse;
  border-spacing: 0;
}
#global-footer fieldset, #global-footer img {
  border: 0;
}

#global-footer address, #global-footer caption, #global-footer cite, #global-footer code, #global-footer dfn, #global-footer em, #global-footer strong, #global-footer th, #global-footer var {
  font-style: normal;
  font-weight: normal;
}

#global-footer ol, #global-footer ul {
  list-style: none;
  display: block;
}
#global-footer ul li{
	float:none;
	list-style-type: none;
}

#global-footer caption, #global-footer th {
  text-align: left;
}

#global-footer input, #global-footer textarea, #global-footer select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

#global-footer input, #global-footer textarea, #global-footer select {
  *font-size: 100%;
}


/* footer */
#global-footer {
	border-top:1px solid #eee;
	background:#fff;
	padding: 25px 0px 0px 0px;
	color:#222222;
	text-align:center;
	clear:both;
}
#global-footer a {
	color:#222222;
	text-decoration:none;
}
#global-footer a:hover {
	color:#222222;
	text-decoration:underline;
}
#global-footer .footer-contents{
	margin:0px auto 0px auto;
	width: 980px;
	overflow:hidden;
	text-align:left;
}

#global-footer a:hover img {
	filter: alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;
}

/* clear */
#global-footer .footer-top,
#global-footer .footer-top .footer-sns ul,
#global-footer .footer-links,
#global-footer .footer-ext,
#global-footer .footer-ext .footer-nav-second {
  *zoom: 1;
}

#global-footer .footer-top:before, #global-footer .footer-top:after,
#global-footer .footer-top .footer-sns ul:before, #global-footer .footer-top .footer-sns ul:after,
#global-footer .footer-links:before, #global-footer .footer-links:after,
#global-footer .footer-ext:before, #global-footer .footer-ext:after,
#global-footer .footer-ext .footer-nav-second:before, #global-footer .footer-ext .footer-nav-second:after {
	content: " ";
	display: table;
}
#global-footer .footer-top:after,
#global-footer .footer-top .footer-sns ul:after,
#global-footer .footer-links:after,
#global-footer .footer-ext:after,
#global-footer .footer-ext .footer-nav-second:after {
	clear: both;
}

/* top */
#global-footer .footer-top {
	height: 80px;
}
/* bottom */
#global-footer .footer-bottom{
	height: 17px;
	background:#f0f0f0 url(/layout/footer/201308/img/bg_footer_bottom.png) repeat-x 0 0 ;
}

/*logo*/
#global-footer .footer-top .footer-logo{
	width: 600px;
	float:left;
}

/*sns*/
#global-footer .footer-top .footer-sns{
	width: 244px;
	float:left;
}

#global-footer .footer-top .footer-sns ul li {
	float:left;
	width:29px;
	margin-right:16px
}

#global-footer .footer-top .footer-sns p {
	margin-top:9px;
}

/*sns*/
#global-footer .footer-top .footer-fb {
	float:left;
	width:130px;
	overflow:hidden;
}

#global-footer .footer-top .footer-fb .footer-fblogo{
	margin-bottom: 6px;
}

/*links*/
#global-footer .footer-links {
	padding-left:0;
	margin-bottom:18px;
}

#global-footer .footer-links .footer-block-01 {
	float:left;
	width: 173px;
}
#global-footer .footer-links .footer-block-02 {
	float:left;
	width: 168px;
}
#global-footer .footer-links .footer-block-03 {
	float:left;
	width: 168px;
}
#global-footer .footer-links .footer-block-04 {
	float:left;
	width: 169px;
}
#global-footer .footer-links .footer-block-05 {
	float:left;
	width: 169px;
}
#global-footer .footer-links .footer-block-06 {
	float:left;
	width: 120px;
}

#global-footer .footer-links h4,
#global-footer .footer-links h4 a  {
	font-size: 11px;
	line-height: 22px !important;
	font-weight:bold;
	margin-bottom: 0px;
	visibility: visible;
	display:block;
}
#global-footer .footer-links h4 {
	background:url(../img/icon/footer_icon.png) no-repeat 0 4px;
	padding-left:8px;
}

#global-footer .footer-links ul{
	margin-bottom: 16px;
}

#global-footer .footer-links ul li{
	line-height: 18px !important;
	background:url(../img/icon/footer_icon.png) no-repeat 0 -32px;
	padding-left:8px;
}

#global-footer .footer-links ul li a{
	font-size:11px;
	text-decoration: none;
}

#global-footer .footer-links ul li a:hover{
	text-decoration: underline;
}
/*
#global-footer .footer-links .footer-block-06 h4 {
	padding-left:4px;
}

#global-footer .footer-links .footer-block-06 ul{
	padding-left:4px;
}
*/
/* chronicle */
#global-footer .footer-links .footer-block-06 .footer-chronicle{
	border-top:solid 1px #313131;
	padding-top:24px;
}

#global-footer .footer-links .footer-block-06 .footer-chronicle-logo{
	margin-bottom: 9px;
}

#global-footer .footer-links .footer-block-06 .footer-calendar-area{
}

#footer-calendar-head p {
	padding-bottom: 2px;
	border-bottom:dotted 1px #dbdbdb;
	margin-bottom: 3px;
}

#footer-calendar-head p a{
	font-weight: bold;
	font-size: 10px;
}

#footer-calendar-container table {
	border-collapse: collapse;
	border-spacing: 2px;
}

#footer-calendar-container table td {
	width:20px;
	text-align:center;
	font-size: 7px;
	height: 15px;
	vertical-align: middle;
	color:#222222;;
}

#footer-calendar-container table td.footer-calendar-cell-today {
	background-color:#EEBCBC;
}

#footer-calendar-container table td.footer-calendar-cell-sun a {
	color:#f03030;
}

#footer-calendar-container table td.footer-calendar-cell-sat a {
	color:#0090f0;
}

/* extra */
#global-footer .footer-copyright {
	text-align:center;
	background:#cc0000;
	height:25px;
}
#global-footer .footer-copyright p{
	font-size: 10px;
	line-height:25px !important;
	color:#fff;
}

#global-footer .footer-ext{
	background:#595959;
	height:24px;
	padding-top:11px;
}
#global-footer .footer-nav-second{
	margin:0 auto;
}

#global-footer .footer-nav-second li{
	border-right:#fff solid 1px;
	padding-left: 25px;
	padding-right:25px;
	display:inline;
}
#global-footer .footer-nav-second li.last{
	border:none;
}

#global-footer .footer-nav-second li a {
	color:#fff;
	font-size: 11px;
	line-height:11px !important;
}
#global-footer .footer-nav-second li a:hover {
	color:#fff;
}




.infoBlock .mod-exlink .leftl{
  text-align:left !important;
}
.infoBlock .mod-exlink .leftl a{
  color:#000;
}

@media print{
  #global_header,.footer-links,.footer-ext{
    display:none;
  }
}