/* test */

/*olark chat*/
#habla_window_div #habla_oplink_a {
    color: white;
    font-family: open sans;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

#habla_panel_div {
-webkit-box-shadow: 0 3px 6px 0 #333;
box-shadow: 0 3px 6px 0 #333;
}



.main-menu-image-products{
display:block; height:150px; width:100px; padding:0px !important; margin-left:6px; outline:none; text-indent:-9999px; color:#ffffff !important;
background-image:url('http://www.silkroad.com/wp-content/uploads/2015/03/lifesuite-top-nav-image.png'); background-position:center center; background-repeat: no-repeat;
}

.main-menu-image-products > h3 >a, .main-menu-image > h3 > a{
font-size:0px !important;
height:150px !important;
color:#ffffff !important;
}

.main-menu-image-resources{
display:block; height:150px; width:100px; padding:0px; margin-left:6px; outline:none; text-indent:-9999px; color:#ffffff !important;
background-image:url('http://www.silkroad.com/wp-content/uploads/2015/02/ultimate-guide-to-recruiting-icon.png'); background-position:center center; background-repeat: no-repeat;
}
.main-menu-image-resources > h3 >a, .main-menu-image > h3 > a{
font-size:0px !important;
height:200px !important;
color:#ffffff !important;
}
/*connections icon main menu*/
.main-menu-image-company, .main-menu-image{
display:block; height:150px; width:100px; padding:0px; margin-left:6px; outline:none; text-indent:-9999px; color:#ffffff !important;
background-image:url('http://www.silkroad.com/wp-content/uploads/2015/01/silkroad-connections-2015-sidebar.gif'); background-position:center center; background-repeat: no-repeat;
}
.main-menu-image-company > h3 >a, .main-menu-image > h3 > a{
font-size:0px !important;
height:100px !important;
color:#ffffff !important;
}
/*datebox formatting*/
.datebox{
min-height:80px;
background:url("/wp-content/themes/silkroad/images/datebox-bg.png") no-repeat left top scroll transparent;
}

.day{
background:#ffffff;
}

/**hide comments**/
.no-comments{
display:none !important;
}

/*single post formatting*/
./**meta-info, .share-box, .about-author, #respond{display:none !important;}**/
/*toggles*/
h5.toggle.active + .toggle-content {
    border-bottom: 1px solid #e8e6e6 !important;
}

/*end toggles */
/* flip boxes*/

.front-box {
    z-index: 2;
}

.back-box {
    z-index: 1;
}

.flip-box-link-ie{
color:#333333 !important;
/*text-decoration: none !important;*/
/*height: 150px; */
display: block;
width: auto !important;
/**added CSM 2.25.15**/
padding: 0 !important;
}
/* end flip boxes*/
/*global style main nav*/
.sub-menu li{
padding-right:0 !important;
}

/*this adds padding to the bottom of the content container, separating it from the footer*/
#main #content{
    padding-bottom:40px;
}

/*this makes footer compatible with floaters*/
.footer-area{
position: static !important;
}

#footer-section p{
color: #bfbfbf !important;
}

/*search page*/
.single-line-meta{
display:none !important;
}

.post-content{
width:100% !important;
}

.date-and-formats{
display:none !important;
}

.searchForm{
padding-top:4px;
}

.search input, #searchform input{
border:0px !important;
}

/*resource center*/

<<<<<<< HEAD
=======

>>>>>>> FETCH_HEAD
.res-search-submit {
	float:right !important;
}

.three-quarter i{
font-size: 2em;
    padding-top: 6px;
}

.opt{
    width:64% !important;
}

.opt-sbmt{
    float:right !important;
}


.one-case h3, #sidebar .widget h3 {

    font-family: open sans !important;
    font-size: 1em !important;
    font-weight: 300 !important;
    line-height: 1.3 !important;
} 


.one-case img{
width:30% !important;
}


.one-quarter > ul > li a {color:#243c98 !important;}

.one-third > ul > li > a{color:#243c98 !important;}
.one-third > ul > li > a:hover{color:#F14D62 !important;}

/*end resource center*/

/*resource center dimensions*/
#res-side{
    width:23.333333% !important;
}

#text-3 > .heading > h3{
	font-weight:400;
}

.resource-container{
    width:75% !important;
}

/*case studies*/
#case-content, .case-content p{
    color:#333333 !important;
    font-size:1.2em !important;
    line-height:1.5 !important;
    font-weight:300 !important;
}

.case-quote{
    padding:10px 40px 10px 10px !important;
}

#case-content h3 {
    font-family: "open sans" !important;
    font-size: 1.8em !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
}

/*events*/
.title-lp{
    line-height:1.2;
}

/*sidebar page */
#main #sidebar {
    padding-top: 22px;
    width:23.33333%;
}
.post-content p{
    color:#333333;
    font-size:1.2em;
    line-height:1.5;
    font-weight:300;
}

.post-content a{
    color:#F14D62 !important;
}

#sidebar .widget .heading h3{
    color: #243c98 !important;     
    font-family: "Open Sans" !important;     
    font-size: 2.5em !important;
}

/*blog widget*/
.excerpt-sb{
    color:#333333;
    font-size:1em;
    line-height:1.3 !important;
    font-weight:300;
}

.author {
    color: #F14D62 !important;
}

/*customers / apps*/
 #tabs p{
    font-family: "Open Sans";
    font-size: 1.3em !important;
    font-weight: 300 !important;
    line-height: 1.5 !important;
}

#app-post h3{
    color: #243c98 !important;
}

.capp-quarter{height:275px !important;}

.capp-con.parent > .capp-inner > img { height: 30px; width: auto;}

.capp-inner{ height:213px !important;
}

.capp-title{
    margin: 0 0 10px 0 !important;
    color:#243c98 !important;
}

.compatible{
    color:#243c98 !important;
    font-weight:400 !important;
}

.capp-more {
    color: #F14D62 !important;
    font-weight: 400 !important;
}

h3.customer-category-filter{
    float: left;
    font-weight: 600 !important;
    margin: 0 !important;
    width: 25%;
}

/* end customers / apps */
/*sidebar widget case studies */
.one-case img{ width: 40%; margin-bottom:10px;}
/* end sidebar widget case studies*/

/*sidebar page headings*/
.post-content > h1 {
font-size: 40px;
font-weight: 600;
line-height: 36px !important;
margin-top: 18px;
}

.post-content > h2 {
    font-size: 1.8em !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
    font-family: "open sans" !important;
}

.post-content > h3 {
    font-size: 1.8em !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
    font-family: "open sans" !important;
}
/*end sidebar page headings*/

/* expandable page formatting*/

.post-content > .accordian > .toggle-content > p {
    font-size: 1em !important;
}

.show-more{
    margin:40px 0 10px !important;
}

div.shown-part, div.hidden-part {
    color: #333 !important;
    font-size: 1.3em !important;
    font-weight: 300 !important;
    line-height: 1.5 !important;
}

.shown-part > h3, .hidden-part > h3{
    font-weight: 300 !important;
    line-height: 1.2 !important;
    font-family: "open sans" !important;
    font-size:1.4em;
}

.shown-part a, .hidden-part a{
    color:#F14D62 !important;
}

#more-resources h2{
    margin-bottom:0 !important;
}

div#content > article > article > p, div#content > article > article > .shown-part, div#content > article > article > .hidden-part, .hidden-part > p, {
    color: #333 !important;
    font-size: 1.3em !important;
    font-weight: 300 !important;
    line-height: 1.5 !important;
}

div#content > article > article > ol > li, div#content > article > article > .hidden-part > ul > li, div#content > article > article > .hidden-part > ol > li{
      color: #333 !important;
    font-weight: 300 !important;
    line-height: 1.5 !important;
}

.shown-part > h4, .hidden-part > h4 {
    font-family: "Open Sans" !important;
	margin-bottom: 10px;
    margin-top: 40px;
}

.res-block .pad-twenty {
font-size: 1.05em;
font-weight: 300;
line-height: 1.5;
}
/*end expandable page formatting*/
.seg-fifty li{
	 font-size: 1.2em !important;
    font-weight: 300;
    line-height: 1.5;
	
	}

.seg-fifty .toggle-content li, .seg-fifty .toggle-content p{
font-size:1em !important;
}

article > h3 {
	font-size: 1.8em;
    font-weight: 300;
    line-height: 1.2;
}

article > h4, .hidden-part > h4{
	font-size:1.5em;
}

article > p, .hidden-part > p{
	color: #333;
   /** font-size: 1.1em;**/
    line-height: 1.5;
}
/**search box at top of page**/
#search {
    background: none repeat scroll 0 0 #fff;
    border: 3px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: none !important;
    width: 180px;
}
/**end search box **/

/**top nav li**/
#topnav ul li {
    font-size: 0.85em !important;
    font-weight: 600;
}
/**end top nav**/

/**hero image align**/
.halign-right > .heroheader {
    margin-left: 60% !important;
    text-align: left !important;
}

.halign-right .callaction {
    clear: both !important;
    float: left !important;
   /** margin: 0 0 0 71% !important;**/
} 

#modules p{
	padding-top:20px;
}

 
	.breadcrumbs {
    color: #999;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 0.8;
    padding-bottom: 20px;
    padding-right: 0;
    padding-top: 20px;
padding-left:0;
}
	

/**this hides the random "Request a demo" at the top of the screen, temp fix**/
#17-wpf{
	display:none !important;
}
/**end temp fix**/
#nav ul li{
font-size:1.4em !important;
}

.one-half-left a, .one-half-right a{
	color:#F14D62;
}

.one-half-left img, .one-half-right img{
	padding-top:20px;
	}
.readmore{
	color:#F14D62;
}

#modules{width:112% !important;} 
#blog{width:104% !important; padding-left: 2%; padding-right: 2%;}.blog-module{padding: 0 20px 0 0 !important;}



.slidertxt{
/*padding:50px 0px 0 !important;*/
}4

.front-box .fontawesome-icon{
	margin-top:20px !important;
}

#circles{padding-top:0px !important;
}

#circles small{
font-size:0.3em !important;
}

.circ-in-con img {     padding-left: 15px;     padding-top: 60px; }.circ-in-con p{top:20px !important; color:#243c98;}

.circwrap{
    margin: 0 45px !important;
}
.sbar-con{width:500px !important;}.static-box{letter-spacing:0px !important; font-size:1.7em !important; font-weight:500 !important;}

#product-slider p{

}

.slide-left {
    padding: 0 1% 0 0 !important;
    width: 49% !important;
}

.slider-button{
width:240px;
}

#p-slider{
border-width:0px !important;
}

#p-slider ul{
	width:92% !important;
}

.greenbar{
	margin-top:40px;
}


.one-sixth a{

font-weight:400 !important;
font-size:1.5em !important;
}

.one-sixth a:hover, .one-sixth a:active {
    background: none repeat scroll 0 0 #ffffff !important;
    color: #00bdf0;

}

h1.resource{
	font-size:3em;
    font-family:"Open Sans", serif !important;
    color:#243c98; line-height:1;
}
.page-events h1.resource{
	float:left;
}

.heavy {
    font-weight: 600 !important;
}
.page-events #sortby{
	float:right;
	margin:40px 0 0;
}

h2.resource{
	font-size:2em;
	font-family:"Open Sans", Arial, Helvetica, sans-serif !important;
}

h2.one-half-heading{
font-size:3em !important;
}

#feature-block-border {
    border-bottom: 0px solid #f6f6f6 !important;
    font-size: 1.8em;
    line-height: 1.4;
    margin-bottom: 50px;
    padding: 0 10%;
    text-align: center;
    width: 80%;
    font-weight:300;
}

#feature-block-border-interior {
    background: none repeat scroll 0 0 #50b748;
    line-height: 1.4;
    margin-bottom: 2em;
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
}

#feature-block-border-interior-second {
    background: none no-repeat scroll center center #faa519;
    line-height: 1.4;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
}

.full-width-recruiting-advanced {
    color: #ffffff;
    font-family: "open sans";
    font-size: 4em;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
    text-align: center;
}

#custom-text-insert p {
    color: #585858;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
}

.feature-product-page{color: #F14D62; font-size: 0.8em; font-weight: 600; letter-spacing: 1px; text-transform: uppercase;font-family:"Open Sans"}
.feature-product-page a{
font-style: italic; font-size: 12px !important;	
}

/**product slider**/
#product-slider p{
	width:0 15% !important;
}
/**resources page search**/

.resource-search {
    padding-left: 0%;
    width: 78%;
}
.resource-search fieldset{
    width:70%;
    float:left;
    margin-right: 20px;
}
.resource-search input[type=text]{
    width:100%;
    height:37px;
    padding: 0 10px;
    border: 1px solid #d7d7d7;
    font-family:'Open Sans', sans-serif;
}
.blue-rec{
	font-size:1.1em !important;
	font-weight:500 !important;
	line-height:1.6 !important;
}
/**footer**/
.green-left {
    font-family: "open sans" !important;
    font-size: 2em !important;
}

p.foot-text{
font-size:12px;
}

.popup {
    display: none !important;
}

/**floater**/

#feedback ul{
	margin:0;
	padding:0;
	width:700px;
}

#feedback li{
	display:inline-block;
	float:left;
	margin-right:5px;
	border-top:3px solid #00bdf0;
}
#feedback{ 
  height: 104px; 
  width: 104px; 
  position: fixed; 
  top: 80%; 
  left:97%;
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback-second{
  height: 104px; 
  width: 104px; 
  position: fixed; 
  top: 43%; 
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback-third{
  height: 104px; 
  width: 104px; 
  position: fixed; 
  top: 46%; 
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
	

#feedback a, #feedback-second a, #feedback-third a { 
  display: block; 
  background: #243c98; 
  height: 15px; 
  width: 100px; 
  padding: 8px 16px 35px;
  color: #fff; 
  font-family: Arial, sans-serif; 
  font-size: 17px; 
  font-weight: bold; 
  text-decoration: none;
  text-align:center; 
}

#feedback a:hover, #feedback-second a:hover, #feedback-third a:hover { 
  background: #F14D62; 
}



/**redbutton**/
.redbutton {
    background-color: #ffffff !important;
    color: #F14D62 !important;
    float: right;
    margin: 6% 0;
}

.redbutton:hover{
	background-color:#F14D62 !important;
}

.redbutton a{
	color:#F14D62 !important;
}

.redbutton a:hover{
	color:#ffffff !important;
}

/**footer**/
.footer-area h3{
	margin-bottom: 10px !important;
    padding-bottom: 0 !important;
    padding-top: 22px !important;
}

.footer-area ul{
	line-height:1.4 !important;
}

/**buttons**/
#floating-buttons {
    display:none;
    height: 0px;
    position: relative;
    text-align: center;
}

#floating-buttons .floater {
    bottom: -1px;
    left: 0;
    overflow: hidden;
    padding-top: 15px;
    position: fixed;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    width: 100%;
    z-index: 0;
}

#floating-buttons .floater {
    white-space: nowrap;
}


.action {
    position: relative;
}
.action, .action:visited, .action:hover, .action:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 700;
	text-transform:uppercase;
    line-height: normal;
    margin: 0 10px;
    outline: medium none;
    padding: 12px 20px 15px;
	border-top:2px solid #fff;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
	-webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
	-webkit-box-shadow: 0 3px 6px 0 #333;
	box-shadow: 0 3px 6px 0 #333;
}
.action:active {
    top: 1px;
}
.action.subtle {
    background: none repeat scroll 0 0 #f6f6f6;
    color: #5a54a4;
    font-size: 15px;
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.8);
}
.action.subtle:focus {
    border-color: rgba(66, 69, 69, 0.75);
    box-shadow: 0 0 0 5px #dbdbdb;
}
.action.subtle:hover, .action.subtle.hover {
    background: linear-gradient(#ffffff, #e9eaea) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.action.subtle:active {
    background: linear-gradient(#e9eaea, #c2c5c5) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.action.primary {
    background: none repeat scroll 0 0 #f9922e;
    color: white;
    font-size: 15px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
.action.primary:focus {
    border-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 0 5px #dbdbdb;
}
.action.primary:hover, .action.primary.hover {
    background: linear-gradient(#faac5f, #f88515) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.action.primary:active {
    background: linear-gradient(#f88515, #bb5f06) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.action.in-your-face {
    background: none repeat scroll 0 0 #f9922e;
    color: white;
    font-size: 15px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
.action.in-your-face:focus {
    border-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 0 5px #dbdbdb;
}
.action.in-your-face:hover, .action.in-your-face.hover {
    background: linear-gradient(#faac5f, #f88515) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.action.in-your-face:active {
    background: linear-gradient(#f88515, #bb5f06) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
@media screen and (max-width: 48em) {
.action.subtle {
    font-size: 15.2px;
}
.action.primary {
    font-size: 18.4px;
}
.action.in-your-face {
    font-size: 28.8px;
}
}
.action-basic {
    position: relative;
}
.action-basic, .action-basic:visited, .action-basic:hover, .action-basic:focus{
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 700;
    line-height: normal;
    margin: 0 10px;
    outline: medium none;
    padding: 12px 20px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
	border-top:2px solid #fff;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
	-webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
	-webkit-box-shadow: 0 3px 6px 0 #333;
box-shadow: 0 3px 6px 0 #333;
width:100px;
}
.action-basic:active {
    top: 1px;
}
.action-basic.highlight {
    background: -webkit-linear-gradient(#243c98, #1d307b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#243c98, #1d307b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#243c98, #1d307b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#243c98, #1d307b); /* Standard syntax */
    color: white;
    font-size: 15px;
}
.action-basic.highlight:hover, .action-basic.highlight:focus, .action-basic.highlight.hover {
    background: none repeat scroll 0 0 #243c98;
}
.action-basic.highlight:active {
    background: none repeat scroll 0 0 #243c98;
}
.action-basic.complement {
    background: -webkit-linear-gradient(#c4122e, #9d0e25); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c4122e, #9d0e25); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c4122e, #9d0e25); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c4122e, #9d0e25); /* Standard syntax */
    color: white;
    font-size: 15px;
}
.action-basic.complement:hover, .action-basic.complement:focus, .action-basic.complement.hover {
    background: none repeat scroll 0 0 #c4122e;
}
.action-basic.complement:active {
    background: none repeat scroll 0 0 #c4122e;
}
.action-basic.primary {
    background: -webkit-linear-gradient(#662d91, #522475); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#662d91, #522475); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#662d91, #522475); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#662d91, #522475); /* Standard syntax */
    color: white;
    font-size: 15px;
}
.action-basic.primary:hover, .action-basic.primary:focus, .action-basic.primary.hover {
    background: none repeat scroll 0 0 #662d91;

}
.action-basic.primary:active {
    background: none repeat scroll 0 0 #662d91;
}
@media screen and (max-width: 48em) {

#hbl_operator_state_div{
display:none !important;
}

.action-basic.highlight {
    font-size: 10px;
	margin-right:0px;
	margin-left:0px;
     width:50px;
}
.action-basic.complement {
    font-size: 10px;
	margin-right:0px;
     width:50px;
}
.action-basic.primary {
	/**removes on responsive**/
    font-size: 10px;
	margin-right:0px;
     width:50px;
}

#toTop{
	right:10px;
}
}
@media only screen and (max-width: 900px) {
	.page-events #sortby{
		margin:32px 0 0;
	}
}
@media only screen and (max-width: 375px) {
	.page-events #sortby{
		margin:0px 0px 10px;
		float:none;
	}
	.page-events h1.resource{
		float:none;
	}

}

/**added after site revision 05202015**/
#hard-coded p, #feature-block-border{
font-family:'Open Sans', sans-serif;
}

#wrapper #nav ul li ul li a, #wrapper #sticky-nav ul li ul li a{
font-family:'Open Sans', sans-serif;
}

#wrapper #sticky-nav .fusion-megamenu-wrapper h3{
font-size:1.2em !important;
}

.footer-area .widget_categories li a, .footer-area li.recentcomments, .footer-area ul li a, .footer-area .product_list_widget li, .footer-area .tagcloud a, .footer-area .pyre_tabs .tab-holder .tabs-wrapper, .footer-area .pyre_tabs .tab-holder .news-list li, .footer-area a, .copyright{
text-shadow: none !important;
font-family:'Open Sans', sans-serif;
}

.greenbar{
height:100px !important;
}

p{
font-family:'Open Sans', sans-serif;
}

.excerpt-sb, .one-post{
font-family:'Open Sans', sans-serif;
}

.sndwrap{
    margin-top: 0px !important;
}

h5.toggle.active span.arrow{
background-color:#F14D62;
font-family: "Open Sans",sans serif;
    font-size: 22px;
    font-weight: bold;
}

h5.toggle.active + .toggle-content{
    border-bottom: 1px solid #e8e6e6;
    color: #333;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.footer-area ul li a:hover{
    color: #F14D62;
}

.footer-area h3{
font-weight:bold;
}

#hard-coded p, #feature-block-border{
color:#333333;
}

.seg-fifty li {
    font-family: "Open Sans",sans-serif;
}

.toggle-content{
    font-family: "Open Sans",sans-serif;
}

#main{
padding-bottom:45px;
}
/**end of site revisions 05202015**/

/**beginning of site revisions 06242015**/
#wrapper .fusion-megamenu-wrapper .fusion-megamenu-bullet, .fusion-megamenu-bullet{
margin-bottom:10px;
}
/**end of site revisions 06242015**/

/*hr resource center navigation formatting **/
.search_nav_ul ul {
    box-shadow: none !important;
    float: left;
    position: relative;
    top: 0;
    width: 30%;
}

.search_nav_ul ul li {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}


.search_nav_first_indent{
margin-left:15px !important;
}

.search_nav_second_indent{
margin-left:30px !important;
} 