/*
Theme Name: Silk Road
Description: Child theme for the Avada
Author: DevProse
Template: Avada
*/


@import '../Avada/style.css';

@import 'colin.css';

@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic|Rokkitt:400,700';

@import 'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
#nav ul li {
     /**colin removed this 1.14.15 because it glitched the main nav padding-right: 20px ! important; */
     font-size: 1.25em ! important;
}
/**bottom header fix**/
#blog h2{
   color: #8a9298;
    font-family: "Open Sans";
    font-size: 3em;
    line-height: 1;
    margin: 0 0 15px;
    padding: 0;
    width: 100%;
}

/** main shadow**/
#main { background: rgba(0, 0, 0, 0) url("http://www.silkroad.com/wp-content/themes/silkroad/images/shadow-repeat-main.png") repeat-x scroll center top;
}
/**h1 fix**/
.post-content > h1 {
font-size:39px !important;
font-weight:600;
margin-top:18px;
}
/**end h1 fix**/

/**hide author info**/
.meta-info, .share-box, .about-author{
display:none !important;
}
/**end hide author info**/ 

/**fix circle icons**/
.fontawesome-icon.circle-yes{
margin-right:0;
}
/**end circle icons fix**/
ul.search_nav_ul ul {
box-shadow: none !important;
float: left;
position: relative;
top: 0;
width: 42%;
padding-right: 5%;
}
ul.search_nav_ul ul li {
float: left;
margin: 0;
padding: 0;
width: 100%;
}
ul.search_nav_first_indent{
margin-left:20px;
}

 #sticky-nav ul li {


 }

.three-quarter { 
    padding-top: 12px;
width: 75%;

}

/**leadership page**/
.executive img{
padding-top:5px;
}
/**end leadership page**/


#hard-coded p {

  line-height: 1.4;
  padding-top: 0px;
  padding-right: 15%;
  padding-bottom: 0px;
  padding-left: 15%;
  width: 70%;
  font-weight: 300;
  text-align: center;
  margin-bottom: 35px;

}

#fade-boxes { margin: 35px 0;}
.fade-box { width: 23%;  position: relative; float: left;}
.fade-mar { margin-right: 2%;}
.fade-one, .fade-two { position: absolute; top: 0; border:1px solid #f1f2ed;}
.fade-one { text-align: center;}
.fade-one p{ height: 144px; width: 272px; }

/*.fade-box:hover > .fade-two { opacity: 0; background-color:#fbfaf9; transition:all .7s
}*/

.press-thumb { margin-bottom: 5px;}
.datebox {  border: 1px solid #e1e1e1; padding: 10px}
.month { font-size: 1.5em; width: 100%; display: block; text-align: center;}
.day { font-size: 2.5em; width: 100%; display: block; text-align: center; padding: 10px 0;}
.year { font-size: 1.25em; width: 100%; display: block; text-align: center;}

.title-lp { font-weight: 300; font-size: 1.8em; margin: 0;}
.read-more-pe { color: #F14D62; font-weight: bold; }

.fraction { width: 12%; float: left;}
.podcast-thumb {
    width: 20%;
    float: left;
}
.remainder { width: 75%; float: left; margin-left: 3%; font-weight:300;}
.rowcon { width: 100%; padding: 20px 0; overflow: hidden;}

.one-post { 

border-bottom: 1px solid #eee; 
padding-bottom: 10px;
margin-bottom: 10px;
overflow: hidden;

}

.parent {
     position: relative;
}

.child {
     background: none repeat scroll 0% 0% #ffffff;
     left: 0px;
     position: absolute;
     top: 0px;
}

.child:hover {
opacity:0; transition:all .7s
}

.heading h3 { 

color: #8a9298;
  font-family: "Open Sans";
  font-size: 2.5em;
line-height:1;
}
.blog-link { color: #00adef; font-family: "Open Sans"; font-weight: 600; font-size: 1.25em; line-height: 1.25; display: block; padding-bottom:5px; }
.avatar-sb { float: left; margin-right: 15px}
.author { color: #F14D62; }
.excerpt-sb { line-height: 2; width: 100%; display: block; margin: 5px 0;}
.capp-quarter {
     float: left;
     width: 23%;
     margin-right: 2%;
     margin: 15px 2% 15px 0;
     min-height: 240px;
      background: none repeat scroll 0% 0% #fbfaf9;
      position: relative;
}
.capp-inner {
     min-height: 210px;
     border-top: 1px solid #f1f2ed;
     border-left: 1px solid #f1f2ed;
     border-right: 1px solid #f1f2ed;;
     padding: 10px;
}

.lnk-blck { display: block; width: 100%; height: 100%;}

.capp-title {
  font-weight: bold;
  margin: 0px 0px 5px;
  color: #3145a0;
}

.compatible {
     color: #3145a0;
     display: block;
     font-family: "Open Sans";
     font-weight: 700;
   border: 1px solid #f1f2ed;
   padding: 10px;
     
}

#featured-container { overflow: hidden; width:102%;}
#regular-container {width:102%;}

.hidden { display: none;}

.app-header { width: 100%;}

.capp-more { color: #ee1996; }

#app-controls { margin-top: 20px;}

#app-controls  select {

  border: 1px solid #dbdbdb;
  padding: 5px;
  font-family: "Open Sans";
  font-size: .85em;
  
}

#featured-apps h3, #apps-header h3 {
     font-weight: 600 !important;
     margin: 15px !important;
     padding-bottom: 15px;
}


#apps-header { 

margin-top: 15px;
background: #e1f4de;
border-top: 2px solid #00a54f;
height: 50px;
}

#featured-apps {
background: #fcecde;
border-top: 2px solid #ffa800;
height: 50px;
margin-top: 15px;
}

#app-post h1 {
color: #8a9298;
font-family: "Open Sans";
font-size: 3em;
font-weight: 600;
margin: 32px 0 0;
}


#app-post h3 {
margin: 20px 0 25px;
font-family: "Open Sans" !important;
color: #22399a;
font-size: 1.25em;
font-weight: 400;
}

#app-post h4 {
font-weight: 400;
color: #22399a;

}

#big-banner {clear:both; margin-bottom: 20px;}

#big-banner img {display:none;}

#tab-box {
     border-color: #ffa800 #d7d7d7 #d7d7d7;
     border-style: solid;
     border-width: 2px 1px 1px;
     margin-bottom: 20px;
     width: 100%;
}

#tab-con {
     height: 49px;
     width: 100%;
     background: #ebebeb;
}

#tabs { padding: 0 20px 20px 20px;}

#tab-con ul, #tab-con li { margin: 0; padding: 0; list-style-type: none;}
#tab-con li { width: 127px; height: 34px; border-right: 1px solid #d7d7d7; display: block; float: left; font-family: "Open Sans"; color: #22399a; text-align: center; padding-top: 15px; cursor: pointer; }
#tab-con li:hover { background: #fff;}
.active { background: #fff;}

.cta-button {

display: inline-block;
background: #F14D62;
padding: 5px 30px;
text-transform: uppercase;
font-family: "Open Sans";
font-weight: 600;
color: #fff;

}

.cta-button:hover { color: #fff;}

.shown-part {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;

}
.hidden-part {
    width:100%;
    display:none;
    overflow: hidden;
   
}

.tags-container {
    width: 100%;
}

.webinar-tag {
  margin-left: 120px;
  float: left;
}

.press-tag {
  margin-left: 120px;
  float: left;
}

.event-tag {
  margin-left: 120px;
  float: left;
}

.single-app .tags-container {
    padding-left: 10px;
}

.customer-tag {
  margin-left: 17px;
}
.tags {
    color: #fff !important;
    font-size: 11px !important;
    display: inline-block !important;
    margin: 20px 5px !important;
    border-radius: 3px !important;
}

 .tags p {
    color: #fff !important;
    padding: 0px 8px !important;
    margin: 0px !important;
    font-weight: 600;
}

.tag-icon {
  fill: inherit;
  width: 12px;
  height: 12px;
}

.result-icon {
  float: left;
  vertical-align: middle;
  font-size: 55px;
  margin: 0px auto;
  text-align: center;
  padding-top: 30px;
}

.result-icon i {
  background: url('./images/sprite.png') no-repeat 0 0;
}

.result-icon.page {
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
}

/*PURPLE TAGS*/
.parent-tag .recruiting,
.resource.job-postings,
.resource.career-site,
.resource.ats,
.resource.background-screening,
.resource.brand,
.resource.portal,
.resource.social-recruiting {
  fill: #513e97;
}

.tags.job-postings,
.tags.career-site,
.tags.ats,
.tags.background-screening,
.tags.brand,
.tags.portal,
.tags.social-recruiting {
    background-color: #513e97;
}

/*RED TAGS*/
.parent-tag .onboarding-offboarding,
.resource.career-events,
.resource.i9,
.resource.paperless,
.resource.life-events,
.resource.employee-intranet,
.resource.tsahomeland-security,
.resource.talent-acquisition {
  fill: #f90006;
}

.tags.career-events,
.tags.i9,
.tags.paperless,
.tags.life-events,
.tags.employee-intranet,
.tags.tsahomeland-security,
.tags.talent-acquisition {
    background-color: #f90006;
}

/*LIGHT-BLUE TAGS*/
.parent-tag .performance,
.resource.appraisal,
.resource.forms,
.resource.reviews,
.resource.development-plan,
.resource.agile-performance {
  fill: #189dd4;
}

.tags.appraisal,
.tags.forms,
.tags.reviews,
.tags.development-plan,
.tags.agile-performance {
    background-color: #189dd4;
}

/*LIGHT-GREEN TAGS*/
.parent-tag .learning,
.resource.collaboration,
.resource.scorm,
.resource.aicc,
.resource.courses,
.resource.compliance,
.resource.training,
.resource.talent-development {
  fill: #26ce03;
}

.tags.collaboration,
.tags.scorm,
.tags.aicc,
.tags.courses,
.tags.compliance,
.tags.training,
.tags.talent-development {
    background-color: #26ce03;
}

/*ORANGE TAGS*/
.parent-tag .engagement,
.resource.employee-retention,
.resource.employee-nurture,
.resource.employment-brand,
.resource.employee-portal, 
.resource.employer-brand, 
.resource.employee-engagement {
  fill: #fc8d2f;
}

.tags.employee-retention,
.tags.employee-nurture,
.tags.employment-brand,
.tags.employee-portal, 
.tags.employer-brand, 
.tags.employee-engagement {
    background-color: #fc8d2f;
}

/*PINK TAGS*/
.parent-tag .core-hr,
.resource.hris,
.resource.employee-data,
.resource.payroll,
.resource.benefits {
  fill: #f92dbc;
}

.tags.hris,
.tags.employee-data,
.tags.payroll,
.tags.benefits {
    background-color: #f92dbc;
}

/*DARK BLUE TAGS*/
.parent-tag .talent-management,
.resource.generation-millennials,
.resource.generation-x,
.resource.generation-z,
.resource.cloud-saas,
.resource.security {
  fill: #0d2f88;
}

.tags.generation-millennials,
.tags.generation-x,
.tags.generation-z,
.tags.cloud-saas,
.tags.security {
    background-color: #0d2f88;
}

/*DARK GREEN TAGS*/
.parent-tag .industry,
.resource.energy,
.resource.education,
.resource.healthcare,
.resource.manufacturing,
.resource.finance,
.resource.professional-services,
.resource.retail,
.resource.technology,
.resource.construction {
  fill: #22542a;
}

.tags.education,
.tags.healthcare,
.tags.manufacturing,
.tags.finance,
.tags.professional-services,
.tags.retail,
.tags.technology,
.tags.construction,
.tags.energy {
    background-color: #22542a;
}

/*GRAY TAGS*/
.parent-tag .asset-type,
.resource.business-case,
.resource.case-study,
.resource.video,
.resource.white-paper,
.resource.events,
.resource.book-club,
.resource.webinar,
.resource.buyers-kit,
.resource.report,
.resource.infographic {
  fill: #8f8f8f;
}

.tags.business-case,
.tags.case-study,
.tags.video,
.tags.white-paper,
.tags.events,
.tags.book-club,
.tags.webinar,
.tags.buyer-kit,
.tags.report,
.tags.infographic {
    background-color: #8f8f8f;
}

.resource img {
    padding-top: 7px;
    padding-right: 15px;
}

#listings-hr {
    border: 1px solid #eaeaea;
    margin-bottom: 80px;
}

.listings-page h1 {
    margin: 70px 0px;
    font-color: #000;
}
.listings-page h1 svg{
  width: 20px;
  height: 20px;
}

body,html {
    height:100%
}

.bquote-attrib {
    font-family:"Open Sans";
    font-weight:300;
    font-size:1.5em;
    line-height:1.2
}


.case-half {
     border-top: 1px solid #eeeeee;
     float: left;
     margin-bottom: 10px;
     width: 47%;
}

.case-half:nth-child(odd) {float: right;}

.bquote {
    font-family:"Open Sans";
    font-weight:300;
    font-size:1.75em;
    line-height:1.5;
    font-style:italic;
    border-top:1px solid #77d4f5;
    padding:10px 0 5px;
    margin-top:10px
}

.bquote p {
    margin:0 0 15px
}

.case-quote {
    width:33%;
    float:left;
    padding:10px
}

#case-content {
    font-family:"Open Sans";
    font-size:1em;
    line-height:1.4
}

#case-content h3 {
    font-weight:500;
    font-size:1.5em
}

.case-hone {
    color:#8a9298;
    font-family:"Open Sans";
    line-height:1.2;
    font-size:2.5em
}

.left {
    float:left
}

.right {
    float:right
}
.border-line{
	border-bottom: 1px #ddd solid;
	margin: 20px 0;
	padding: 20px 0;
	width: 96%;
}
#margin-pop {
    width:100%;
    clear:both;
    height:0px
}
.res-house {
float: left; color: #00adef; padding-top: 5px; margin-right: 5px
    
}
.show-more {
    height:42px;
    background:url(images/readmore.png) top center no-repeat;
    text-align:center;
    cursor:pointer;
    margin-top: -80px;
}

.show-more-trigger { color: #F14D62; font-size: .85em;}

.blue-rec {
     background: none repeat scroll 0% 0% #00adef;
     border-bottom: 1px solid #d7d7d7;
     border-left: 1px solid #d7d7d7;
     border-top: 1px solid #d7d7d7;
     color: #ffffff;
     float: left;
     font-size: 1.25em;
     font-weight: 700;
     height: 31px;
     padding: 6px 10px 0;
     text-align: center;
     display: inline-block;
}

.search-bar {
  display: inline;
  width: 100%;
}

.search-bar .search-trigger {
  position: absolute;
}

.search-bar .resource-search {
  display: inline;
  float: none;
}

.form-bar {
  display: inline;
}

.form-bar fieldset {
  margin-right: 10px;
  width: 55%;
}

.fa {
  padding-left: 6px;
}

.three-quarter .blue-rec {height: 0px;padding: 0px 10px 37px;}
.three-quarter .blue-rec span{position: relative;top: -6px; padding-right:4px;}
#search-insert {
    display:none
}

.search-results-title {
  padding: 10px 0px 0px 35px;
  display: none;
}

.search-results-title.large {
  font-size: 2.25em;
}
.search-trigger {
    width:25px;
    height:25px;
    background:url(images/search-resource.png);
    float:left;
    margin:5px;
    cursor:pointer;
    border: none;
}

#more-resources h3, h3.search-res {
    font-family:"Open Sans";
    font-size:2.25em
}

#more-resources h2 {
    display: inline;
}

.resource {
  font-weight: normal;
}

.tag-image {
  float: left;
}

.tag-item {
  padding-bottom: 50px;
}

.tag-content {
/*  margin-left: 325px;
*/}

.tag-content span {
  font-style: italic;
}

.tag-content p {
  margin-bottom: 0px;
}

/*
* Tag Browser
*/
#tag-browser {
    width: 100%;
    height: 500px;
    padding: 10px;
}
#tag-browser h1 {
  color: #8a9298;
  font-weight: normal;
}
#tag-browser ul {
  padding-left: 5px;
}
#tag-browser li {
  list-style-type: none;
  font-weight: bold;
  padding: 10px 0px 10px;
}
#tag-browser img {
  width: 12px;
  height: 12px;
}
#tag-browser span.title {
  margin: 0px;
  display: inline-block;
  margin-left: 10px;
}
#tag-browser a:hover span.title {
  color: #fc0386;
}
#tag-browser span.right-arrow {
  font-weight: normal;
  float: right;
  font-size: 25px;
}
#tag-browser a:hover span.right-arrow {
  color: #000;
}
#tag-browser .right-arrow {
  background: url('./images/right-arrow.png') center no-repeat;
  width: 12px;
  height: 12px;
  float: right;
}
#tag-browser .active-arrow {
  background: url('./images/down-arrow.png') center no-repeat;
  width: 12px;
  height: 12px;
  float: right;
}
#tag-browser .hidden {
  padding-left: 30px;
}





#search-resources {
font-family: 'open sans', sans-serif;
font-size:14px;
    border-top:1px solid #d7d7d7;
    border-bottom:1px solid #d7d7d7;
    border-right:1px solid #d7d7d7;
    border-left:none;
    float:left
}



.filter-btn {
     background: none repeat scroll 0% 0% #00adef;
     color: #ffffff;
     display: inline-block;
     float: left;
     padding: 10px;
     height: 18px;
     margin: 0 0 0 5px;
}

#search-resources {
    border-color:#d7d7d7 #d7d7d7 #d7d7d7 -moz-use-text-color;
    border-style:solid solid solid none;
    border-width:1px 1px 1px medium;
    height:37px;
    width:55%;
    padding:0 10px
}

.house {
    float:left;
    padding:8px
}

#res-search-con {
    width:100%;
    clear:both;
    height:40px;
	position:relative;
}

#more-resources h2 {
    font-weight:700;
line-height:1.1;
    font-size:1.75em
}

p.separator-text {
    font-family:Open Sans;
    font-weight:300;
    font-size:4em;
    text-align:center;
    color:#8a9298;
    padding-top:0;
    line-height:1.4
}

.pad-twenty {
    float:left;
    width:60%;
    margin:0 3%
}

.res-block {
    overflow:hidden;
    margin:20px 0
}

.seg-fw-text {
    clear:both;
    padding:0px 0 20px
}

.seg-fw-text p {
    font-family:"Open Sans";
    font-weight:300;
    text-align:center;
    font-size:1.8em;
    padding-top:0;
    padding-right:10%;
    padding-bottom:0;
    padding-left:10%;
    line-height:1.25em
}

.separator-con {
    margin:5px 0;
    padding:5px 3%
}

.seg-fw {
    width:100%;
    margin:20px 0;
    display:none;
	position:relative;
}

.seg-fifty {
    width:46%;
    padding:0 2% 30px;
    margin:10px 0;
	position:relative;
}
.seg-fifty .hr_shadow{
	position:absolute;
	bottom:30px;
	left:5%;
	width:90%;
}
/**CSM ADDED 30PX padding bottom to .seg-fifty above**/
.seg-fifty h3 {
/**CSM modified this**/
    font-size:1.9em;
    line-height:1.25;
    margin-top:0;
    margin-right:0;
    margin-bottom:5px;
    margin-left:0;
    padding-top:0;
    padding-right:0;
    padding-bottom:0;
    padding-left:0;
    font-family:"Open Sans";
    color:#8a9298;
    width:100%
}

.seg-fifty p {
/**csm changed this**/
    font-family:"Open Sans";
    font-weight:300;
    font-size:1.3em;
    line-height:1.5
}

/**added CSM**/
.seg-fifty a {
    color:#F14D62;
}

.f-right {
    float:right
}

.f-left {
    float:left
}

.circ-in-con {
    width:200px;
    height:200px;
    position:relative
}

.circ-in-con img {
    padding-top:50px
}

.circ-in-con p {
    padding:0;
    margin:0;
    text-align:center;
    position:absolute;
    top:0;
    left:10px;
    display:block;
    width:100%
}

#slider-controls {
    width:100%;
    position:absolute;
    top:30%
}

.slider-left {
    width:22px;
    height:38px;
    background:url(images/slide-left.png);
    float:left;
    margin-left:20px;
    cursor:pointer
}

.slider-right {
    width:22px;
    height:38px;
    background:url(images/slide-right.png);
    float:right;
    margin-right:20px;
    cursor:pointer
}

#product-slider p {
    font-family:"Open Sans";
    font-weight:300;
    text-align:center;
    font-size:1.8em;
    padding:0 10%;
    line-height:1.4;
    margin-bottom:40px
}

/**button borders **/
#slide-select-1{
border-left:5px solid #f4f4f4;
}

#slide-select-6{
border-right:5px solid #f4f4f4;
}
/**end button borders**/

.one-sixth {
    width:15%;
    float:left;
    text-align:center
}

.one-sixth a {
    font-family:"Open Sans";
    font-size:1.25em;
    font-weight:600;
    color:#20beee;
    display:block;
    border-top: 5px solid #f4f4f4;
    padding:10px 0
}

.one-sixth a:hover{
text-decoration:underline;
}

.slidebutton {
    background:#f4f4f4;
    transition:all .7s
}

.selector-active {
    background:#fff;
    transition:all .7s
}

#selector-con {
    width:100%;
    margin:0 0 0 2%;
    padding-bottom:80px;
    padding-left:3%
}

#slider-con {
    width:100%;
    margin-bottom:40px;
    clear:both
}

#p-slider {
    width:100%;
    position:relative;
    border-bottom:2px solid #ebebeb
}

#p-slider ul,#p-slider li {
    margin:0;
    padding:0;
    list-style-type:none
}

#p-slider ul {
    display:block;
    margin:0 auto;
    width:80%;
    height:100%;
    height:350px;
    position:relative;
    overflow:hidden
}

#p-slider li {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden
}

.slide {
    display:block;
    opacity:0;
    transition:opacity .7s;
    -webkit-transition:opacity .7s;
    -moz-transition:opacity .7s
}

.active-slide {
    display:block;
    opacity:1
}

.slidebutton {
    cursor:pointer
}

.slide-right {
    width:44%;
    height:100%;
    padding:0 3%;
    float:left;
    position:relative
}

.slide-left {
    width:44%;
    height:100%;
    padding:0 3%;
    float:left;
    position:relative
}

.slide-right p {
    width:100%;
    text-align:left!important;
    font-size:1.4em!important;
    line-height:1.5!important;
    display:block;
    padding:0!important;
    margin:20px 0!important
}

.slide-right h3 {
    font-size:2.25em;
    margin:5px 0;
    padding:0;
    font-family:"Open Sans";
    color:#8a9298;
    width:100%
}

.slider-button {
    font-family:open sans;
    font-weight:400;
    font-size:1.75em;
    text-align:center;
    color:#FFF;
    background-color:#F14D62;
    position:relative;
    height:20px;
    padding:15px;
    display:inline-block;
    line-height:.8;
    border:1px solid #F14D62;
    margin:0 auto;
    border-radius:3px;
    transition:all .5s
}

.slider-button:hover {
    background:#fff;
    color:#F14D62;
    transition:all .5s
}

.res-search-submit {
    width:25px;
    height:25px;
    background:url(images/search-resource.png);
    border:none;
    float:left;
    margin:5px 0 0 10px;
    cursor: pointer;

}

.app-search-submit {
    width:25px;
    height:25px;
    background:url(images/search-resource.png);
    border:none;
    float:left;
    margin:5px 0 0 10px;
    cursor: pointer;

}


.res-text {
    display:block;
    width:80%;
    left:0;
    right:0;
    margin:0 auto;
    position:absolute;
    text-align:center;
    top:5%;
    opacity:0
}

.res-text p {
    color:#fff;
    font-family:"Open Sans";
    font-weight:600;
    font-size:1em
}

.text-trigger:hover > .res-image {
    opacity:0;
    transition:opacity .7s;
    -webkit-transition:opacity .7s;
    -moz-transition:opacity .7s
}

.text-trigger:hover > .res-title {
    opacity:0;
    transition:opacity .7s;
    -webkit-transition:opacity .7s;
    -moz-transition:opacity .7s
}


.text-trigger:hover > .res-text {
    opacity:1;
    transition:opacity .7s;
    -webkit-transition:opacity .7s;
    -moz-transition:opacity .7s
}

.resource-container {
    width:65%;
    float:left;
    margin:40px 0 20px 10px
}

#resources-head ul,#resources-head li {
    list-style-type:none;
    margin:0;
    padding:0
}

#resources-head ul {
    margin-bottom:0px
}

#resources-head li {
    font-family:"Open Sans";
    font-weight:400;
    font-size:1em;
    margin:5px 0 0;
    color:#8a9298
}

#resources-head h2 {
    font-family:"Open Sans";
    font-weight:600;
    font-size:1.5em;
    color:#8a9298
}

#res-side {
    width:30%;
    float:right;
    margin-top:40px
}

.res-desktop {
    display:block
}

.res-mobile {
    display:none
}

.read-more-button {
  text-align: center;
  margin-top: 70px;
  font-size: .85em;
}

.read-more-button a {
  color: #F14D62 !important;
}

.read-more-button i {
  margin-right: 5px;
}
.res-image {
    width:100%;
    height:auto
}

.two-third-res {
    width:62%;
    position:relative
}

.one-third-res {
    width:30%;
    position:relative
}

.one-third-res-tall {
    width:30%;
    position:relative
}

.full-res {
    width:94%;
    position:relative
}

.res-mob {
    width:94%;
    margin-bottom:20px;
    position:relative
}

.res-left {
    float:left
}

.res-right {
    float:right
}

.mar-b {
    margin:2% 2% 0 0
}

.mar-c {
    margin:2% 2% 0 0
}

.mar-d {
    margin:2% 2% 0 0
}

.mar-v {
    margin:2% 6% 0 0
}

.mar-tw {
    margin:2% 0 0
}

.mar-full {
    margin:2% 0 0
}

.pad-title {
    font-family:Open Sans!important;
    font-weight:600;
    padding:0 10px
}

.locked-res {
    width:16px;
    height:16px;
    background:url(./images/lock-icon.png);
    position:absolute;
    top:1px;
    right:1px
}

h2.res-title {
    background:none repeat scroll 0 0 #1fb9ee;
    bottom:-20px;
    color:#fff!important;
    font-family:Open Sans;
    font-weight:700!important;
    margin:0;
    padding:10px 0;
    position:absolute;
    text-align:center;
    width:100%;
    font-size:1.25em!important
}

#main h2 {
    font-family:Open Sans!important
}

.float-left {
    float:left
}

.float-right {
    float:right
}

.avada-row {
    margin-top:0;
    margin-right:auto;
    margin-bottom:0;
    margin-left:auto;
    padding: 0 3%;
    max-width:1200px
}

.text-center {
    text-align:center
}

.one-third {
    width:33%;
    float:left
}

.two-thirds {
    width:66%;
    float:left
}

.one-quarter {
    width:23%;
    float:left;
    padding:0 1%
}

.one-half {
    width:48%;
    float:left;
    padding:10px 1%
}

.one-half-left {
    width:48%;
    padding-right:2%;
    font-weight:300;
    float:left
}

.one-half-right {
    width:48%;
    padding-left:2%;
    font-weight:300;
    float:left
}

.responsivepadded {
    width:80%
}

h2.one-half-heading {
    color:#8a9298!important;
    line-height:1!important;
    margin-bottom:0!important;
    padding-bottom:0!important;
    padding-top:20px!important
}

.resource-search {
    float:left;
}

.app-search {
    width:85%;
    float:left;
    border:1px solid #d7d7d7;
    height:35px;
    padding: 0 10px;
}

#divider {
    /*background:#efefef;*/
    height:60px;
    width:100%;
    margin:20px 0 0
}

.res-message {
    position:relative
}

.hr-headline-m {
    margin:0 auto;
    width:300px;
    position:relative
}

#divider-m {
    width:100%;
    display:none;
    overflow:hidden
}

.opt-in-m {
    width:300px;
    margin:10px auto
}

.hr-headline-m h1 {
    position:absolute;
    top:2px;
    left:22px;
    color:#fff;
    font-family:"Open Sans";
    font-size:1.75em
}

.res-con {
    position:absolute;
    background:url(./images/speech-bubble.png);
    height:120px;
    width:473px;
    top:-15px
}

.opt-in {
    position:absolute;
    right:0;
    top:11px
}

.res-con h1 {
    color:#fff;
    font-family:Open Sans;
    font-size:2.5em;
    margin:35px
}

.opt {
    border:1px solid #ebebeb;
    color:#a8a8a8;
    font-family:Open Sans;
    height:35px;
    padding:0 10px;
    width:60%;
    font-size:1.5em;
    float:left
}

.opt-sbmt {
    background:none repeat scroll 0 0 ;
    border:medium none;
    color:#fff;
    font-family:Open Sans;
    height:35px;
    width:30%;
    font-size:1.5em;
    float:left;
    margin-left:10px
}

.hr-headline,.opt-in {
    width:50%
}

#landing-hero h1,#landing-bluebar h2 {
    font-family:Open Sans;
    color:#fff;
/**color: #8a9298;**/
    font-size:3em;
    line-height:1.25em
}

#landing-hero h1 {
    width:55%;
    display:inline-block
}

#landing-bluebar h2 {
    font-size:1.75em;
    font-weight:600;
    text-align:center;
    font-size:3em
}

#landing-hero p {
    width:52%;
    display:inline-block;
    font-size:1.5em;
    line-height:1.25em;
    font-weight:300
}

#landing-bluebar {
    background:#00adef;
    padding:80px 0;
    margin-bottom:120px
}

#landing-bluebar p {
    width:70%;
    font-weight:300;
    display:inline-block;
    margin:0;
    color:#fff;
    font-size:1.5em;
    line-height:1.5em
}

#landing-features h2,#landing-features h3,#landing-integrated h2 {
    font-family:Open Sans;
    font-weight:400;
    color:#00adef;
    font-size:3em;
    line-height:1em
}

#landing-features h3 {
    color:#000;
    font-size:1.25em;
    line-height:1em;
    padding:0;
    margin:90px 0 10px
}

#landing-features p,#landing-integrated p {
    color:#000;
    font-size:1.5em;
    line-height:1.75em;
    width:85%;
    font-weight:300
}

.pink-link,.landing-cta {
    color:#F14D62;
    font-weight:600;
    text-transform:uppercase;
    font-size:1.5em;
    line-height:1.5em
}

.landing-cta {
    font-weight:400
}

#landing-green-footer {
    background:#23bb1c
}

.padsection {
    margin-top:90px;
    padding:80px 0
}

/**updated csm 11172014**/
.pad-container {
    padding-top:30px
}

/**updated csm 1.26.15**/
p {
    color:#333333
}


.one-case {

border-bottom: 1px solid #eee;

  margin-bottom: 10px;
  width: 100%;
 
}


blockquote {
    display:inline-block;
    font-size:2.25em;
    line-height:1.25em;
    font-family:Open Sans;
    font-weight:300;
    color:#000;
    text-align:center;
    width:60%
}

blockquote p {
}

/**added CSM 10062014 **/
body {
    -moz-osx-font-smoothing:grayscale
}

.responsiveimage {
    width:100%;
    height: auto;
}

.foot-col {
    width:20%;
    padding:5px;
    float:left
}

.foot-col-menu {
    width:20%;
    float:left
}

.col-mar-right {
    margin-right:15px
}

.foot-logo {
    width:60%;
    margin:0 auto
}

.article-title a,.article-title {
    font-family:Open Sans;
    font-weight:700;
    color:#8a9298;
    font-size:1.25em;
    margin:10px 0 0
}

.static-bar-desktop {
    position:fixed;
    width:100%;
    height:80px;
    bottom:0;
    z-index:9999
}

.static-box {
    height:80px;
    background:#8a9298;
    border-top:5px solid #00adef;
    float:left;
    font-family:Open Sans;
    font-weight:300;
    font-size:1.5em;
    padding:30px;
    letter-spacing:1px
}

.sbox-mar {
    margin-right:20px
}

.static-box a {
    color:#fff
}

.sbar-con {
    width:549px;
    margin:0 auto
}

.article-date {
    margin:0
}

.readmore {
       color:#F14D62;
        font-family:open sans;
        font-size:1em;
        font-weight:400;
        margin:0;
        padding:0
}

.article-excerpt {
    font-family:Open Sans;
    font-size:.813em
}

.clear {
    clear:both
}

.logo {
    float:left
}

nav#nav {
    float:left;
    margin-left:60px
}

#nav ul li {
    font-family:Open Sans;
    font-size:1em
}

#nav ul.navigation li a:hover {
    color:#F14D62!important;
    border-color:#F14D62!important
}

.topNav {
    background:#0093FC
}

nav#topnav {
    font:14px/16px MuseoSlab500Regular,arial,helvetica,sans-serif
}

.fusion-megamenu {
    background:#fff
}

#topnav ul {
    list-style:none;
    margin:0;
    padding:0
}

#topnav ul li {
    padding-right:15px;
    position:relative;
    list-style:none;
    display:inline-block;
    /*border-right:2px solid #1b3188;*/
    padding-left:15px;
    font-size:.75em
}

#topnav ul li:first-child {
    padding-left:0
}

#topnav ul a {
    display:block;
    height:40px;
    line-height:40px;
/**added CSM 10012014**/
    color:#efefef;
    font-family:Open Sans,sans-serif
}

#topnav ul ul {
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	top: 40px;
	left: -4px;
	width: 100%;
	z-index: 99999;
	/*border-bottom:2px solid #1d3486;
	border-right:2px solid #1d3486;
	border-left:2px solid #1d3486;*/
	text-align: left;
	padding: 0 1px;
	background-color:#0093FC;
}
#topnav ul li:hover > ul {
	display: block;
}
#topnav ul ul li{
	padding-left:15px !important;
	border:none;
	display:block;
}
#topnav ul ul li:hover{
	background-color:#0093FC;
}

.topSearchForm input {
    display:inline-block
}

.topmenuwrapper {
    width:60%;
    float:left
}

.searchForm {
    display:none !important;
    width:40%;
    float:left;
    text-align:right;
    padding-top:8px
}

.srchbtn {
    border:none!important
}

.search-page-search-form{
padding-top:10px
}

.search-page-search-form p{
font-size: 16px;
    font-weight: 300
}

#main {
    padding:0
}

.mainSlider {
/* CSM REMOVED margin-top:-55px;*/
    height:680px
}

.page-title-container {
    display:none
}

/** removed CSM 082015 .main-nav-search {
    display:none
}**/

/**added CSM 081015 **/
a.search-link{
	font-size:20px
}

.slidertxt {
    padding:50px 20px 0;
    text-align:center;
    position:relative;
padding-top:25%;
}

.halign-left {
    text-align:left
}

.halign-right {
    text-align:left
}

.halign-right > .heroheader {
    text-align:right
}

.halign-right > .herotxtwrap {
    text-align:left
}

.halign-center {
    text-align:center
}

.heroheader {
    font-family:Open Sans;
    font-size:4em;
    color:#FFF;
    font-weight:500;
    line-height:1.1;
    margin:-20px 0 20px
}

.herotxtwrap {
    display:block;
    width:65%;
    margin:0 0 0 20%;
    font-family:Open Sans;
    font-weight:300;
    font-size:1.75em;
    text-align:center;
    line-height:1.25em;
    padding-bottom:/** text-shadow:1px 1px 1px #333333;**/
20px;
color:#FFF;
}

.callaction {
    font-family:open sans;
    font-weight:400;
    font-size:1.75em;
    text-align:center;
    color:#FFF;
    background-color:transparent;
    position:relative;
    height:20px;
    padding:15px 10px;
    width:240px;
    line-height:.8;
    border:1px solid #fff;
    margin:0 auto;
    border-radius:3px;
    transition:all .5s
}

.callaction:hover {
    background:#F14D62;
    transition:all .5s
}

.callaction:hover > a {
    color:#FFF;
    transition:all .5s
}

.callaction a {
    color:#fff;
    display:block;
    width:100%;
    height:100%
}

.halign-left .heroheader {
    margin:-20px auto 60px;
text-align:center;
}

.halign-left .herotxtwrap {
    margin:-30px auto 0px;
    text-align:center;
    top:-20px;
}

.halign-left .callaction {
    /*margin:0*/
margin:auto;
margin-top:5%;
}

.halign-right .herotxtwrap {
    width:40%;
    margin:0 40px 0 0;
    text-align:left;
    float:right
}

.halign-right .callaction {
    margin:0;
    clear:both;
    float:right
}

.footer-area {
    margin-top:-40px;
    border-top:none!important;
    clear:both
}
body.tax-tags footer.footer-area {
  margin-top: 140px;
}

.footer-area ul li a {
    border:none;
    padding:0
}

.footer-area ul li ul {
    padding:10px
}

p.foot-text {
    color:#bfbfbf
}

.circwrap {
    display:inline-block;
    width:220px;
    height:220px;
    position:relative;
    margin:0 5px;
    padding:10px 0
}

.circfront {
    position:absolute;
    top:0;
    left:0;
    opacity:1;
    transition:opacity .7s;
    -webkit-transition:opacity .7s;
    -moz-transition:opacity .7s
}

.circback {
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    transition:opacity .7s;
    -webkit-transition:opacity .7s;
    -moz-transition:opacity .7s
}

.circwrap:hover > .circfront {
    opacity:0
}

.circwrap:hover > .circback {
    opacity:1
}

/*sidebar page */
#main #sidebar {
    padding-top: 25px;
    width:23.33333% !important;
}
.post-content p{
    color:#333333;
    font-size:1.2em;
    line-height:1.5;
    font-weight:300;
}

.post-content a{
    color:#F14D62 !important;
}

#sidebar .widget .heading h3{
    color: #8a9298 !important;     
    font-family: "Open Sans" !important;     
    font-size: 2.5em !important;
line-height:1 !important;
}


/* Container box to set the sides relative to */

.module {
    /*background:#f6f6f6;*/
    float:left;
    height:240px;
    width:28%;
    margin:0 2% 0 0;
    perspective:1000px;
    -webkit-perspective:1000;
    -ms-perspective:1000;
    -ms-transform:perspective(1000px);
    -ms-transform-style:preserve-3d
}

/*.module:hover .flipper,.module.hover .flipper {
    -webkit-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    transform:rotateY(180deg);
    filter:FlipH;
    -ms-filter:FlipH
}*/

/* IE */
.module:hover .back,.module.hover .back {
    -webkit-transform:rotateY(0deg);
    -o-transform:rotateY(0deg);
    -ms-transform:rotateY(0deg);
    transform:rotateY(0deg)
}

.module:hover .front,.module.hover .front {
    -webkit-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    transform:rotateY(180deg)
}

/* End IE */
/* The two faces of the cube */
.front-box,.back-box {
    background:#FFF;
    height:240px;
    width:100%
}

.flipper {
    -webkit-transition:.2s;
    -webkit-transform-style:preserve-3d;
    -ms-transition:.2s;
    -ms-transform-style:preserve-3d;
    transition:.2s;
    transform-style:preserve-3d;
    position:relative
}

.front-box,.back-box {
    -webkit-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transition:.01s;
    -webkit-transform-style:preserve-3d;
    -webkit-transform:rotateY(0deg);
    -o-transition:.01s;
    -o-transform-style:preserve-3d;
    -o-transform:rotateY(0deg);
    -ms-transition:.01s;
    -ms-transform-style:preserve-3d;
    -ms-transform:rotateY(0deg);
    transition:.01s;
    transform-style:preserve-3d;
    transform:rotateY(0deg);
    position:absolute;
    top:0;
    left:0
}

.front-box {
    -webkit-transform:rotateY(0deg);
    -ms-transform:rotateY(0deg);
/* for firefox 31 */
    transform:rotateY(0deg)
}

.back-box {
    -webkit-transform:rotateY(-180deg);
    -o-transform:rotateY(-180deg);
    -ms-transform:rotateY(-180deg);
    transform:rotateY(-180deg)
}

.back-box {
    background:#F14D62;
    color:#fff
}

/* Position the faces */
.front-box {
    text-align:center
}

.back-box {
    text-align:center
}

#modules h2,#modules h3 {
    font-family:Open Sans;
    font-weight:600;
    font-size:1.5em;
    color:#8a9298
}

#modules h3 {
    color:#fff
}

#modules p {
    font-family:Open Sans;
    font-size:1.5em
font-weight:300px;
font-color:#0E3155;
}

#modules a {
    color:#333333;
    /*text-decoration:underline*/
}

#modules {
    width:100%;
    padding-bottom:20px
}

.modimg {
    text-align:center
}

.talentportal {
    padding:0 10px
}

#portal-container {
    width:100%
}

#portal-description {
    width:30%;
    float:right
}

#portal-image img {
    width:65%;
    float:left
}

#portal-description p,#portal-description ul {
    font-family:Open Sans;
    font-size:.875em
}

#portal-description ul {
    list-style-type:none;
    padding-left:5px
}

#portal-description ul li {
    background-image:url(./images/cross.png);
    background-repeat:no-repeat;
    background-position:0;
    padding-left:30px;
    line-height:2em
}

h3.portal-head {
    color:#8a9298;
    font-family:Open Sans;
    font-weight:300;
    font-size:1.625em
}

.threecolumns {
    margin-top:10px
}

.aboutus {
    background:#00adef;
    height:auto;
    overflow:auto;
    padding:5px 0;
    margin:50px 0
}

.abouttxt {
    font-family:Open Sans;
    font-weight:300;
/**modified CSM font-size:2.5em;**/
    font-size:4em;
    text-align:center;
    color:#fff;
    padding-top:0;
    line-height:1.4!important
}

.circle {
    width:25%;
    float:left;
    margin-left:0
}

.sndwrap {
    margin-top:70px
}

.circle1det {
    font-family:PTSans Caption;
    font-size:.875em;
    color:#00adef;
    text-align:center;
    text-align:center;
    position:absolute;
    margin-top:82px;
    width:127px;
    margin-left:50px
}

.circle2det {
    font-family:PTSans Caption;
    font-size:3.125em;
    color:#8a9298;
    text-align:center;
    position:absolute;
    text-align:center;
    margin-left:67px;
    margin-top:103px
}

.circle3det {
    font-family:PTSans Caption;
    font-size:3.125em;
    color:#8a9298;
    text-align:center;
    position:absolute;
    text-align:center;
    margin-left:42px;
    margin-top:103px
}

.circle4det {
    font-family:PTSans Caption;
    font-size:3.125em;
    color:#8a9298;
    text-align:center;
    position:absolute;
    text-align:center;
    margin-left:43px;
    margin-top:103px
}

#circles {
    padding-top:50px
}

#circles small {
    display:block;
    font-size:.4em;
    line-height:1em;
    width:130px;
    position:absolute;
    top:12%;
    left:0;
    right:0;
    margin:auto;
    color:#00adef
}

.vert-center {
    font-size:.3em;
    line-height:1em;
    width:130px;
    height:200px;
    left:0;
    right:0;
    margin:auto;
    color:#00adef;
    display:table
}

.vcent {
    display:table-cell;
    vertical-align:middle
}

.counter-circle-content {
    color:#8a9298
}

hr.verline {
    color:#eaeaea;
    background:#eaeaea;
    height:3px;
    margin-top:70px;
    border:0
}

.blog-module {
    width:30%;
    float:left;
    padding:10px;
    line-height:1.5em
}

.blog-module p {
    margin-bottom:0;
    padding-bottom:0
}

.verline1 {
    color:#eaeaea;
    margin-top:-30px
}

.webtxt {
    margin-top:-33px
}

.greenbar {
    height:100px;
    padding: 44px 0 43px;
    background:#F14D62;
}

.green-left {
    width:60%;
    padding:0 10px;
    float:left;
    font-family:"Open Sans Condensed";
    font-size:2.25em;
    text-align:center;
    line-height:1.5em
}

.green-left p {
    margin:4% auto;
    color:#fff!important
}

.redbutton {
    float:right;
    margin:6% 0
}

.green-right {
    width:30%;
    float:left;
    text-align:center
}

.columns-4 .col {
    width:15%
}

.columns-4 .col.first {
    width:20%
}

.columns .col.last {
    float:right
}

.fontawesome-icon {
    float:none!important
}

.boxheading {
    color:#8a9298!important
}

/**csm removed

.heroheader {
    line-height:35px!important
}
**/
/*search nav*/
ul.search_nav_ul{
	position:absolute;
	list-style:none;
	-webkit-box-shadow:0px 3px 6px 0px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 3px 6px 0px rgba(0,0,0,0.4);
	box-shadow:0px 3px 6px 0px rgba(0,0,0,0.4);
	padding:0 10px 10px;
	background-color:#fff;
	top:25px;
	display:none;
	text-align:left;
        max-width:600px;
	z-index:100;
	left:0px
}
.three-quarter ul.search_nav_ul{top:0px;z-index:100}
ul.search_nav_ul li.bold-blue{
	margin-top:10px;
}
ul.search_nav_ul li a{
	color:#333;
}
ul.search_nav_ul li.bold-blue a{
	font-weight:bold;
	color:#8a9298;
}

.search_nav_ul .fusion-megamenu-bullet{top:0px !important;}

.search_white{
	background-color:#fff;
	position:relative;
	z-index:10;
	min-height:39px;
}
a.fa-2x.res-house{
	background-color:none;
	position:relative;
	z-index:100;
	padding-bottom:8px;
}

/**0514CSM**/
.halign-right .callaction{
margin: 0 0 0 69% !important;
}
/*ajax search*/
.res-block.full-search{
	max-width:920px;
	margin-bottom:40px;
}
.res-block.full-search h2,.res-block.full-search h2 a{
	font-family: "Open Sans",sans-serif !important;
	font-size:26px;
	font-weight:100;
	margin:0 !important;
}
.res-block.full-search .one-third {
    width:14%;
}
.res-block.full-search .pad-twenty {
    width: 78%;
}
@media only screen and (max-width: 1080px) {
  #nav ul li a { font-family: Open Sans; font-size: 0.85em ! important; }
  #sticky-nav ul li a { font-family: Open Sans; font-size: .95em ! important; margin: 0; padding: 0;}
   #sticky-nav ul li, #nav ul li { padding-right: 15px !important;}

/**0514CSM**/
.halign-right .callaction{
margin: 0 0 0 71% !important;
}
}


@media only screen and (max-width: 965px) {
 #nav ul li a { font-family: Open Sans; font-size: .75em !important; }
/**0514CSM**/
.halign-right .callaction{
margin: 0 0 0 71% !important;
}

.module {
    width:28%
}

.abouttxt {
    font-size:1.563em
}

.opt {
    border:1px solid #ebebeb;
    color:#a8a8a8;
    font-family:Open Sans;
    height:35px;
    padding:0 10px;
    width:50%;
    font-size:1.5em;
    float:left
}

.opt-sbmt {
    background:none repeat scroll 0 0 #F14D62;
    border:medium none;
    color:#fff;
    font-family:Open Sans;
    height:35px;
    width:35%;
    font-size:.85em;
    float:left;
    margin-left:10px
}

.res-con h1 {
    color:#fff;
    font-family:Open Sans;
    font-size:5vw;
    padding:8% 0 0 5%
}

.greenbar{
height:150px;
}

.green-left{
padding:0;
}

.redbutton{
padding:20px 0px !important;
border: 1px solid #F14D62;
}

#blog{
width: 100% !important;
}

.slider-button{
font-size:1.5em !important;
width:170px !important;
}
#main #sidebar {
    width: 100% !important;
}
}

@media only screen and (max-width: 900px) {

/**0514CSM**/
.halign-right .callaction{
margin: 0 0 0 71% !important;
}

.green-left p {
    margin:0 auto;
    color:#fff!important
}

.green-left {
    width:50%;
    padding:0 10px
}

.slide-right p {
    width:100%;
    font-size:1.25em!important;
    line-height:1.5!important
}

.abouttxt {
    font-size:1.563em
}

#portal-description {
    width:40%;
    float:right
}

#portal-image img {
    width:55%;
    float:left
}

.avada-row{ width:80% !important;
padding: 0 10% !important;
}
.module {
    font-size: 0.9em !important;
    width:90% !important;
}

.greenbar{
height:150px;
}

.green-left{
padding:0;
}

.green-right {
  width: 40%;
  margin-left: 50px;
}


.redbutton {
padding:20px 0px !important;
border: 1px solid #F14D62;
margin-top: 6% !important;
}

#blog{
width: 100% !important;
}

.slider-button{
font-size:1.5em !important;
width:170px !important;
}
#main #sidebar {
    width: 100% !important;
}

.shown-part, .hidden-part{
overflow: initial !important;
}
.pad-twenty{
padding-top: 5%;
width: 100%;
}

@media only screen and (max-width: 800px) {

/**0514CSM**/
.halign-right .callaction{
margin: 0 0 0 71% !important;
}

.res-text p {
    color:#fff;
    font-family:"Open Sans";
    font-weight:600;
    font-size:.85em;
    line-height: 1.25;
}

h2.res-title { font-size: 1em !important; }


#res-side {
    width:95%;
    clear:both;
    overflow:hidden;
    padding:0 20px
}

.resource-container {
    width:68% !important;
    overflow: hidden;
}

.module {
    width:80%;
    float:none;
    margin:0 auto
}

.searchForm {
    display:none;
    width:300px;
    float:none;
    margin:0 auto;
    padding-bottom:5px
}

.topSearchForm {
    width:85%
}
.module { margin: 15px 0; width: 100%;}
.avada-row{ width:80% !important;
padding: 0 10% !important;
}

.module {
    font-size: 0.9em !important;
    width:90% !important;
}
#main #sidebar {
    width: 100% !important;
}

.shown-part, .hidden-part{
overflow: initial !important;
}
.pad-twenty{
padding-top: 5%;
width: 100%;
}

}

@media screen and (max-width: 782px) {

    .resource-search {
    width:45%;
    float:left;
/*    border:1px solid #d7d7d7;
*/    height:35px;

}

.fade-box { width: 100%; padding-left: 15%; height: auto; position: relative; float: left;}
.fade-mar { margin: 0px 0;}

.one-half-left {
    width:100%;
    padding:0 2%
}


.capp-quarter {

width: 48%;
margin-right: 2%;
min-height: 330px;

}
.one-half-right {
    width:100%;
    padding:0 2%
}

.one_third {
    padding:0 2%
}

.green-left {
    float:left;
    font-family:"Open Sans Condensed";
    font-size:2.5em;
    line-height:1.5em;
    text-align:center;
    width:100%
}

.green-left p {
    color:#fff!important;
    margin:-15px 0 20px
}

.callaction {
}

.redbutton {
    background:none repeat scroll 0 0 #fd43a9;
    border-radius:3px;
    border:2px solid #de3490;
    bottom:0;
    color:#fff;
    cursor:pointer!important;
    display:inline-block;
    font-family:"Open Sans";
    font-size:2em;
    overflow:hidden;
    padding:10px 30px;
    margin:-10px auto 5px;
    float:none;
    margin-bottom: 0px !important;

}

.green-right {
    float:left;
    text-align:center;
    width:100%;
    margin-left: 0px;
}

#p-slider ul {
    display:block;
    height:650px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    width:80%
}

.slide-image {
    width:100%
}

.slide-right {
    float:none;
    height:auto;
    padding:0 3%;
    position:relative;
    width:80%;
    text-align:center;
    margin:0 auto
}

.slide-left {
    float:none;
    height:auto;
    padding:10px 3%;
    position:relative;
    width:80%;
    margin:0 auto
}


.one-sixth {
    width:50%;
    margin:10px 0
}

#slider-con {
    padding-top:40px
}

.slide-right p {
    width:100%;
    font-size:1.25em!important;
    line-height:1.5!important
}

.one-quarter {
    width:48%;
    float:left!important
}

.one-half {
    width:98%
}

.blog-module {
    width:100%
}

#portal-description {
    width:80%;
    float:none;
    margin:0 auto
}

#portal-image img {
    width:100%;
    padding:20px
}

h3.portal-head {
    width:100%;
    text-align:center
}

.abouttxt {
    font-size:1.125em
}

.halign-right .herotxtwrap {
    font-size:1.25em;
    width:60%
}
.avada-row{ width:80% !important;
padding: 0 10% !important;
}
.module {
    font-size: 0.9em !important;
    width:90% !important;
}

.greenbar{
height: auto !important;
margin-bottom: 40px;
position: relative;
}

.green-left{
padding:0;
}

.redbutton{
padding:20px 0px !important;
border: 1px solid #F14D62;
float: none !important;
}

#blog{
width: 100% !important;
}

.slider-button{
font-size:1.5em !important;
width:170px !important;
}
#main #sidebar {
    width: 100% !important;
}
.shown-part, .hidden-part{
overflow: initial !important;
}
.pad-twenty{
padding-top: 5%;
width: 100%;
}
}

@media only screen and (min-device-width: 200px) and (max-device-width: 640px) {
.avada-row{ width:80% !important;
padding: 0 10% !important;
}
.module {
    font-size: 0.9em !important;
    margin: 15px 0;
}
#main #sidebar {
    width: 100% !important;
}
/**0514CSM**/
.halign-right .callaction {
    margin:0 !important;
    clear:both;
    float:right
}
}

@media only screen and (max-width: 640px) {

.avada-row{ width:80% !important;
padding: 0 10% !important;
}

.module {
    font-size: 0.9em !important;
    width:90% !important;
}

#main {
    padding-left:0!important;
    padding-right:0!important
}

.seg-img {
    display:none
}

.seg-fw {
    display:block;
    width:90%;
    padding:0 5%
}
.seg-fw .hr_shadow{
	position:absolute;
	bottom:0;
	left:5%;
	width: 90%;
}
.seg-fifty {
    width:90%;
    padding:0 5%
}

.seg-fifty img {
    display:none;
}

/**CSM ADDED 30PX padding bottom to .seg-fifty above, added separator-text + h3 below**/
p.separator-text {
    font-size:2em
}

.seg-fifty h3 {
    font-size:2em
}

.green-left p {
    color:#fff!important;
    margin:-25px 0 20px;
    font-size:.85em;
    padding: 0px 5px 0px 5px;
}

.foot-col {
    width:100%;
    padding-top:5px;
    padding-right:5px;
    padding-bottom:5px;
    padding-left:5px;
    float:left
}

.foot-col-menu {
    width:40%
}

.res-desktop {
    display:none
}

.resource-container {
    width:62% !important;
    overflow: hidden;
}

.res-mobile {
    display:block;

}

.form-bar fieldset {
  width: 45% !important;
}

.opt-in {
    position:no
}

.block-mar {
    margin:20px 20px 0 0
}

.h-mar {
    margin:20px 0 0
}

.f-mar {
    margin:20px 0
}

.adjust {
    margin:20px 0 0
}

.herotxtwrap  {
    font-size:1.375em
}

.heroheader {
    font-size:3em;
    width:70%;
    margin:0 auto
padding-top:25%;
}
.greenbar{
height:150px;
}

.green-left{
padding:0;
}

.redbutton{
padding:20px 0px !important;
border: 1px solid #F14D62;
}

#blog{
width: 100% !important;
}

.slider-button{
font-size:1.5em !important;
width:170px !important;
}
.shown-part, .hidden-part{
overflow: initial !important;
}
.pad-twenty{
padding-top: 5%;
width: 100%;
}
/**0514CSM**/
.halign-right .callaction {
    margin:0 !important;
    clear:both;
    float:right
}
}

@media only screen and (max-width: 480px) {
.herotxtwrap  {
    font-size:1.25em;
    font-weight:600
}

.heroheader {
    font-size:3em;
    width:70%;
    margin:0 auto
padding-top:25%;
}

.form-bar fieldset {
  width: 35% !important;
}

#main #sidebar {
    width: 100% !important;
}
.shown-part, .hidden-part{
overflow: initial !important;
}
.pad-twenty{
padding-top: 5%;
width: 100%;
}
/**0514CSM**/
.halign-right .callaction {
    margin:0 0 0 5% !important;
    clear:both;
    float:right;
}
.halign-right .herotxtwrap {
    float: left;
    margin: 0 0 0 40px;
}
}

/* Portfolio Responsive */
@media only screen and (max-width: 974px) {

}

@media only screen and (max-width: 968px) {

}

@media only screen and (max-width: 900px) {
	#search-resources{
		width:45%;
	}
	.avada-row.res-message.rm-desktop .three-quarter{
		width:100%;
	}
}

@media only screen and (max-width: 740px) {

}

@media only screen and (max-width: 658px) {
	
}

@media only screen and (max-width: 550px) {
	.three-quarter {
    	width: 100%;
	}
	.avada-row {
		width: 94% !important;
		padding: 0px 3% !important;
	}
	.rowcon .fraction{width:20%}
	.rowcon .remainder{width:76%}
}
@media only screen and (max-width: 462px) {
	#search-resources{
		width:24%;
	}
	.blue-rec{
		padding: 6px 1px 0px;
	}
}
@media only screen and (max-width: 414px) {
	.app-search {
    	width: 75%;
	}
}
@media only screen and (max-width: 362px) {
	.resource-search{
		width:38%;
	}
	#res-side{
		float:none;
		width:86% !important;
	}
	.resource-container{
		width:100% !important;
		margin: 40px 0px 20px 0;
	}
	.res-mob{
		width:100%;
	}
}

.avada-row h2 {
    font-size:3em;
    line-height:1.4
}

#main h2.blog-header {
    color:#8a9298;
    font-family:Open Sans;
    font-weight:600;
    font-size:3em
}

#custom-text-insert p {
    color:#585858;
    font-size:1.3em;
    font-weight:300;
    line-height:1.5
}

#feature-block-border {
    border-bottom:1px solid #f6f6f6;
    font-size:1.8em;
    line-height:1.4;
    margin-bottom:50px;
    padding:0 10%;
    width:80%;
    font-weight:300;
    text-align:center
}

#feature-block-border-interior {
    background:none repeat scroll 0 0 #50b748;
/** border-bottom: 1px solid #e0dede;
    border-top: 1px solid #e0dede;**/
    line-height:1.4;
    margin-bottom:2em;
    margin-top:50px;
    padding:50px 0;
    font-weight:300;
    text-align:center
}

#feature-block-border-interior-second {
    background:none no-repeat scroll center center #FAA519;
    line-height:1.4;
    margin-bottom:50px;
    margin-top:50px;
    padding:50px 0;
    font-weight:300;
    text-align:center
}

/**recruiting page**/
.full-width-recruiting-advanced {
    font-family:"open sans";
    font-size:4em;
    text-align:center;
    color:#fff;
    font-weight:300;
    line-height:1.4;
    margin:0
}

.last {
    margin-right:0!important
}

/**solutions page **/
.one-third ul {
    list-style:none inside none;
    margin:0;
    padding:0;
    width:100%
}

.one-third h2 {
    line-height:1
}

.sr-recruiting {
    font-family:Open Sans,serif;
    color:#81418d;
    line-height:1.4;
    font-size:2em;
    font-weight:500
}

.sr-onboarding {
    font-family:Open Sans,serif;
    color:#c4122e;
    line-height:1.4;
    font-size:2em;
    font-weight:500
}

.sr-performance {
    font-family:Open Sans,serif;
    color:#00adef;
    line-height:1.4;
    font-size:2em;
    font-weight:500
}

.sr-learning {
    font-family:Open Sans,serif;
    color:#50b748;
    line-height:1.4;
    font-size:2em;
    font-weight:500
}

.sr-apps {
    font-family:Open Sans,serif;
    color:#faa519;
    line-height:1.4;
    font-size:2em;
    font-weight:500
}

.sr-hrms {
    font-family:Open Sans,serif;
    color:#F14D62;
    line-height:1.4;
    font-size:2em;
    font-weight:500
}

.sr-all {
    font-family:Open Sans,serif;
    color:#8a9298;
    line-height:1.4;
    font-size:2em;
    font-weight:500
}

/**features box **/
.shortcode-tabs .tab-hold .tabs li a {
    font-size:1.5em!important;
    margin-right:20px!important
}

/**toggles**/
h5.toggle {
    background:none 0 0 scroll #efefef
}

h5.toggle a {
    font-size:2em!important;
    padding-top:12px
}

h5.toggle span.arrow {
    margin-top:-2px
}

h5.toggle.active + .toggle-content {
    border-bottom:none
}
/**begin colin.css**/
/* test */

/*olark chat*/
#habla_window_div #habla_oplink_a {
    color: white;
    font-family: open sans;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

#habla_panel_div {
-webkit-box-shadow: 0 3px 6px 0 #333;
box-shadow: 0 3px 6px 0 #333;
}



.main-menu-image-products{
display:block; height:150px; width:100px; padding:0px !important; margin-left:6px; outline:none; text-indent:-9999px; color:#ffffff !important;
background-image:url('http://www.silkroad.com/wp-content/uploads/2015/03/lifesuite-top-nav-image.png'); background-position:center center; background-repeat: no-repeat;
}

.main-menu-image-products > h3 >a, .main-menu-image > h3 > a{
font-size:0px !important;
height:150px !important;
color:#ffffff !important;
}

.main-menu-image-resources{
display:block; height:150px; width:100px; padding:0px; margin-left:6px; outline:none; text-indent:-9999px; color:#ffffff !important;
background-image:url('http://www.silkroad.com/wp-content/uploads/2015/02/ultimate-guide-to-recruiting-icon.png'); background-position:center center; background-repeat: no-repeat;
}
.main-menu-image-resources > h3 >a, .main-menu-image > h3 > a{
font-size:0px !important;
height:200px !important;
color:#ffffff !important;
}
/*connections icon main menu*/
.main-menu-image-company, .main-menu-image{
display:block; height:150px; width:100px; padding:0px; margin-left:6px; outline:none; text-indent:-9999px; color:#ffffff !important;
background-image:url('http://www.silkroad.com/wp-content/uploads/2015/01/silkroad-connections-2015-sidebar.gif'); background-position:center center; background-repeat: no-repeat;
}
.main-menu-image-company > h3 >a, .main-menu-image > h3 > a{
font-size:0px !important;
height:100px !important;
color:#ffffff !important;
}
/*datebox formatting*/
.datebox{
min-height:80px;
background:url("/wp-content/themes/silkroad/images/datebox-bg.png") no-repeat left top scroll transparent;
}

.day{
background:#ffffff;
}

/**hide comments**/
.no-comments{
display:none !important;
}

/*single post formatting*/
./**meta-info, .share-box, .about-author, #respond{display:none !important;}**/
/*toggles*/
h5.toggle.active + .toggle-content {
    border-bottom: 1px solid #e8e6e6 !important;
}

/*end toggles */
/* flip boxes*/

.front-box {
    z-index: 2;
}

.back-box {
    z-index: 1;
}

.flip-box-link-ie{
color:#333333 !important;
text-decoration: none !important;
/*height: 150px; */
display: block;
width: auto !important;
/**added CSM 2.25.15**/
padding: 0 !important;
}
/* end flip boxes*/
/*global style main nav*/
.sub-menu li{
padding-right:0 !important;
}

/*this adds padding to the bottom of the content container, separating it from the footer*/
#main #content{
    padding-bottom:40px;
}

/*this makes footer compatible with floaters*/
.footer-area{
position: static !important;
}

#footer-section p{
color: #bfbfbf !important;
}

/*search page*/
.single-line-meta{
display:none !important;
}

.post-content{
width:100% !important;
}

.date-and-formats{
display:none !important;
}

.searchForm{
padding-top:4px;
}

.search input, #searchform input{
border:0px !important;
}

/*resource center*/

.res-search-submit {
	float:right !important;
}

.three-quarter i{
font-size: 2em;
    padding-top: 6px;
}

.opt{
    width:64% !important;
}

.opt-sbmt{
    float:right !important;
}


.one-case h3, #sidebar .widget h3 {

    font-family: open sans !important;
    font-size: 1em !important;
    font-weight: 300 !important;
    line-height: 1.3 !important;
} 


.one-case img{
width:30% !important;
}


.one-quarter > ul > li a {color:#8a9298 !important;}

.one-third > ul > li > a{color:#8a9298 !important;}
.one-third > ul > li > a:hover{color:#F14D62 !important;}

/*end resource center*/

/*resource center dimensions*/
#res-side{
    width:95% !important;
}

#text-3 > .heading > h3{
	font-weight:400;
}

.resource-container{
    width:100% !important;
}

/*case studies*/
#case-content, .case-content p{
    color:#333333 !important;
    font-size:1.2em !important;
    line-height:1.5 !important;
    font-weight:300 !important;
}

.case-quote{
    padding:10px 40px 10px 10px !important;
}

#case-content h3 {
    font-family: "open sans" !important;
    font-size: 1.8em !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
}

/*events*/
.title-lp{
    line-height:1.2;
}


/*blog widget*/
.excerpt-sb{
    color:#333333;
    font-size:1em;
    line-height:1.3 !important;
    font-weight:300;
}

.author {
    color: #F14D62 !important;
}

/*customers / apps*/
 #tabs p{
    font-family: "Open Sans";
    font-size: 1.3em !important;
    font-weight: 300 !important;
    line-height: 1.5 !important;
}

#app-post h3{
    color: #8a9298 !important;
}

.capp-quarter{height:275px !important;}

.capp-con.parent > .capp-inner > img { height: 30px; width: auto;}

.capp-inner{ height:213px !important;
}

.capp-title{
    margin: 0 0 10px 0 !important;
    color:#8a9298 !important;
}

.compatible{
    color:#8a9298 !important;
    font-weight:400 !important;
}

.capp-more {
    color: #F14D62 !important;
    font-weight: 400 !important;
}

h3.customer-category-filter{
    float: left;
    font-weight: 600 !important;
    margin: 0 !important;
    width: 25%;
}

/* end customers / apps */
/*sidebar widget case studies */
.one-case img{ width: 40%; margin-bottom:10px;}
/* end sidebar widget case studies*/

/*sidebar page headings*/
.post-content > h2 {
    font-size: 1.8em !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
    font-family: "open sans" !important;
}

.post-content > h3 {
    font-size: 1.8em !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
    font-family: "open sans" !important;
}
/*end sidebar page headings*/

/* expandable page formatting*/

.post-content > .accordian > .toggle-content > p {
    font-size: 1em !important;
}

.show-more{
    margin:40px 0 10px !important;
}

div.shown-part, div.hidden-part {
    color: #333 !important;
    font-size: 1.3em !important;
    font-weight: 300 !important;
    line-height: 1.5 !important;
}

.shown-part > h3, .hidden-part > h3{
    font-weight: 300 !important;
    line-height: 1.2 !important;
    font-family: "open sans" !important;
    font-size:1.4em;
}

.shown-part a, .hidden-part a{
    color:#F14D62 !important;
}

#more-resources h2{
    margin-bottom:0 !important;
}

div#content > article > article > p, div#content > article > article > .shown-part, div#content > article > article > .hidden-part, .hidden-part > p, {
    color: #333 !important;
    font-size: 1.3em !important;
    font-weight: 300 !important;
    line-height: 1.5 !important;
}

div#content > article > article > ol > li, div#content > article > article > .hidden-part > ul > li, div#content > article > article > .hidden-part > ol > li{
      color: #333 !important;
    font-weight: 300 !important;
    line-height: 1.5 !important;
}

.shown-part > h4, .hidden-part > h4 {
    font-family: open sans !important;
	margin-bottom: 10px;
    margin-top: 40px;
}

.res-block .pad-twenty {
font-size: 1.05em;
font-weight: 300;
line-height: 1.5;
}
/*end expandable page formatting*/
.seg-fifty li{
	 font-size: 1.2em !important;
    font-weight: 300;
    line-height: 1.5;
	
	}

.seg-fifty .toggle-content li, .seg-fifty .toggle-content p{
font-size:1em !important;
}

article > h3 {
	font-size: 1.8em;
    font-weight: 300;
    line-height: 1.2;
}

article > h4, .hidden-part > h4{
	font-size:1.5em;
}

article > p, .hidden-part > p{
	color: #333;
   /** font-size: 1.1em;**/
    line-height: 1.5;
}
/**search box at top of page**/
#search {
    background: none repeat scroll 0 0 #fff;
    border: 3px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: none !important;
    width: 180px;
}
/**end search box **/

/**top nav li**/
#topnav ul li {
    font-size: 0.85em !important;
    font-weight: 600;
}
/**end top nav**/

/**hero image align**/
.halign-right > .heroheader {
    margin-left: 60% !important;
    text-align: left !important;
}

.halign-right .callaction {
    clear: both !important;
    float: left !important;
   /** margin: 0 0 0 71% !important;**/
} 

#modules p{
	padding-top:20px;
}

 
/**	.breadcrumbs {
    color: #999;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 300;
    line-height: 0.8;
    padding-bottom: 20px;
    padding-right: 0;
    padding-top: 20px;
}**/
	

/**this hides the random "Request a demo" at the top of the screen, temp fix**/
#17-wpf{
	display:none !important;
}
/**end temp fix**/
#nav ul li{
font-size:1.4em !important;
}

.one-half-left a, .one-half-right a{
	color:#F14D62;
}

.one-half-left img, .one-half-right img{
	padding-top:20px;
	}
.readmore{
	color:#F14D62;
}

#modules{width:112% !important;} 
#blog{width:108% !important;}.blog-module{padding: 0 20px 0 0 !important;}



.slidertxt{
padding:50px 0px 0 !important;
}4

.front-box .fontawesome-icon{
	margin-top:20px !important;
}

#circles{padding-top:0px !important;
}

#circles small{
font-size:0.3em !important;
}

.circ-in-con img {     padding-left: 15px;     padding-top: 60px; }.circ-in-con p{top:20px !important; color:#8a9298;}

.circwrap{
    margin: 0 45px !important;
}
.sbar-con{width:500px !important;}.static-box{letter-spacing:0px !important; font-size:1.7em !important; font-weight:500 !important;}

#product-slider p{

}

.slide-left {
    padding: 0 1% 0 0 !important;
    width: 49% !important;
}

.slider-button{
width:240px;
}

#p-slider{
border-width:0px !important;
}

#p-slider ul{
	width:92% !important;
}

.greenbar{
	margin-top:40px;
}


.one-sixth a{

font-weight:400 !important;
font-size:1.5em !important;
}

.one-sixth a:hover, .one-sixth a:active {
    background: none repeat scroll 0 0 #ffffff !important;
    color: #00adef;

}

h1.resource{
	font-size:3em;
	font-family:"Open Sans", serif !important;
    color:#8a9298;
}
.page-events h1.resource{
	float:left;
}

.page-events #sortby{
	float:right;
	margin:40px 0 0;
}

h2.resource{
	font-size:2em;
	font-family:"Open Sans", Arial, Helvetica, sans-serif !important;
}

h2.one-half-heading{
font-size:3em !important;
}

#feature-block-border {
    border-bottom: 0px solid #f6f6f6 !important;
    font-size: 1.8em;
    line-height: 1.4;
    margin-bottom: 50px;
    padding: 0 10%;
    text-align: center;
    width: 80%;
    font-weight:300;
}

#feature-block-border-interior {
    background: none repeat scroll 0 0 #50b748;
    line-height: 1.4;
    margin-bottom: 2em;
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
}

#feature-block-border-interior-second {
    background: none no-repeat scroll center center #faa519;
    line-height: 1.4;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
}

.full-width-recruiting-advanced {
    color: #ffffff;
    font-family: "open sans";
    font-size: 4em;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
    text-align: center;
}

#custom-text-insert p {
    color: #585858;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
}

.feature-product-page{color: #F14D62; font-size: 0.8em; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; font-family: Open Sans;}
.feature-product-page a{
font-style: italic; font-size: 12px !important;	
}

/**product slider**/
#product-slider p{
	width:0 15% !important;
}
/**resources page search**/

.resource-search {
    padding-left: 0%;
    width: 78%;
}

.blue-rec{
	font-size:1.1em !important;
	font-weight:500 !important;
	line-height:1.6 !important;
}
/**footer**/
.green-left {
    font-family: "open sans" !important;
    font-size: 2em !important;
}

p.foot-text{
font-size:12px;
}

.popup {
    display: none !important;
}

/**floater**/

#feedback ul{
	margin:0;
	padding:0;
	width:700px;
}

#feedback li{
	display:inline-block;
	float:left;
	margin-right:5px;
	border-top:3px solid #00adef;
}
#feedback{ 
  height: 104px; 
  width: 104px; 
  position: fixed; 
  top: 80%; 
  left:97%;
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback-second{
  height: 104px; 
  width: 104px; 
  position: fixed; 
  top: 43%; 
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback-third{
  height: 104px; 
  width: 104px; 
  position: fixed; 
  top: 46%; 
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
	

#feedback a, #feedback-second a, #feedback-third a { 
  display: block; 
  background: #8a9298; 
  height: 15px; 
  width: 100px; 
  padding: 8px 16px 35px;
  color: #fff; 
  font-family: Arial, sans-serif; 
  font-size: 17px; 
  font-weight: bold; 
  text-decoration: none;
  text-align:center; 
}

#feedback a:hover, #feedback-second a:hover, #feedback-third a:hover { 
  background: #F14D62; 
}



/**redbutton**/
.redbutton {
    background-color: #ffffff !important;
    color: #F14D62 !important;
    float: right;
    margin: 6% 0;
}

.redbutton:hover{
	background-color:#F14D62 !important;
}

.redbutton a{
	color:#F14D62 !important;
}

.redbutton a:hover{
	color:#ffffff !important;
}

/**footer**/
.footer-area h3{
	margin-bottom: 10px !important;
    padding-bottom: 0 !important;
    padding-top: 22px !important;
}

.footer-area ul{
	line-height:1.4 !important;
}

/**buttons**/
#floating-buttons {
    height: 0px;
    position: relative;
    text-align: center;
}

#floating-buttons .floater {
    bottom: -1px;
    left: 0;
    overflow: hidden;
    padding-top: 15px;
    position: fixed;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    width: 100%;
    z-index: 0;
}

#floating-buttons .floater {
    white-space: nowrap;
}


.action {
    position: relative;
}
.action, .action:visited, .action:hover, .action:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 700;
	text-transform:uppercase;
    line-height: normal;
    margin: 0 10px;
    outline: medium none;
    padding: 12px 20px 15px;
	border-top:2px solid #fff;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
	-webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
	-webkit-box-shadow: 0 3px 6px 0 #333;
	box-shadow: 0 3px 6px 0 #333;
}
.action:active {
    top: 1px;
}
.action.subtle {
    background: none repeat scroll 0 0 #f6f6f6;
    color: #5a54a4;
    font-size: 15px;
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.8);
}
.action.subtle:focus {
    border-color: rgba(66, 69, 69, 0.75);
    box-shadow: 0 0 0 5px #dbdbdb;
}
.action.subtle:hover, .action.subtle.hover {
    background: linear-gradient(#ffffff, #e9eaea) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.action.subtle:active {
    background: linear-gradient(#e9eaea, #c2c5c5) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.action.primary {
    background: none repeat scroll 0 0 #f9922e;
    color: white;
    font-size: 15px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
.action.primary:focus {
    border-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 0 5px #dbdbdb;
}
.action.primary:hover, .action.primary.hover {
    background: linear-gradient(#faac5f, #f88515) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.action.primary:active {
    background: linear-gradient(#f88515, #bb5f06) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.action.in-your-face {
    background: none repeat scroll 0 0 #f9922e;
    color: white;
    font-size: 15px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
.action.in-your-face:focus {
    border-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 0 5px #dbdbdb;
}
.action.in-your-face:hover, .action.in-your-face.hover {
    background: linear-gradient(#faac5f, #f88515) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.action.in-your-face:active {
    background: linear-gradient(#f88515, #bb5f06) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
@media screen and (max-width: 48em) {
.action.subtle {
    font-size: 15.2px;
}
.action.primary {
    font-size: 18.4px;
}
.action.in-your-face {
    font-size: 28.8px;
}
}
.action-basic {
    position: relative;
}
.action-basic, .action-basic:visited, .action-basic:hover, .action-basic:focus{
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", arial, sans-serif;
    font-weight: 700;
    line-height: normal;
    margin: 0 10px;
    outline: medium none;
    padding: 12px 20px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
	border-top:2px solid #fff;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
	-webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
	-webkit-box-shadow: 0 3px 6px 0 #333;
box-shadow: 0 3px 6px 0 #333;
width:100px;
}
.action-basic:active {
    top: 1px;
}
.action-basic.highlight {
    background: -webkit-linear-gradient(#8a9298, #1d307b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#8a9298, #1d307b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#8a9298, #1d307b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#8a9298, #1d307b); /* Standard syntax */
    color: white;
    font-size: 15px;
}
.action-basic.highlight:hover, .action-basic.highlight:focus, .action-basic.highlight.hover {
    background: none repeat scroll 0 0 #8a9298;
}
.action-basic.highlight:active {
    background: none repeat scroll 0 0 #8a9298;
}
.action-basic.complement {
    background: -webkit-linear-gradient(#c4122e, #9d0e25); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c4122e, #9d0e25); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c4122e, #9d0e25); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c4122e, #9d0e25); /* Standard syntax */
    color: white;
    font-size: 15px;
}
.action-basic.complement:hover, .action-basic.complement:focus, .action-basic.complement.hover {
    background: none repeat scroll 0 0 #c4122e;
}
.action-basic.complement:active {
    background: none repeat scroll 0 0 #c4122e;
}
.action-basic.primary {
    background: -webkit-linear-gradient(#662d91, #522475); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#662d91, #522475); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#662d91, #522475); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#662d91, #522475); /* Standard syntax */
    color: white;
    font-size: 15px;
}
.action-basic.primary:hover, .action-basic.primary:focus, .action-basic.primary.hover {
    background: none repeat scroll 0 0 #662d91;

}
.action-basic.primary:active {
    background: none repeat scroll 0 0 #662d91;
}
@media screen and (max-width: 48em) {

#hbl_operator_state_div{
display:none !important;
}

.action-basic.highlight {
    font-size: 10px;
	margin-right:0px;
	margin-left:0px;
     width:50px;
     /**added csm 10.7.15 **/
     padding-right:30px;
}
.action-basic.complement {
    font-size: 10px;
	margin-right:0px;
     width:50px;
}
.action-basic.primary {
	/**removes on responsive**/
    font-size: 10px;
	margin-right:0px;
     width:50px;
/**added csm 10.7.15 **/
padding-right:30px;
}

#toTop{
	right:10px;
}
}
@media only screen and (max-width: 900px) {
	.page-events #sortby{
		margin:32px 0 0;
	}
}
@media only screen and (max-width: 375px) {
	.page-events #sortby{
		margin:0px 0px 10px;
		float:none;
	}
	.page-events h1.resource{
		float:none;
	}

}