/*
Theme Name: BMJ Theme
Theme URI: http://cubettech.com
Author: Jithin
Author URI: http://cubettech.com
Description:  
Version: 1.2
License: GNU General Public License v2 or later
License URI: 
*/
.select_box .btn-primary {color: #ffffff;background:rgb(42,110,187); border:solid 1px #FFF; border-radius:0; padding: 1px 15px 5px;}
.select_box .btn-primary:hover,.btn-primary:active,.btn-primary:focus{background:rgb(42,110,187);border:solid 1px #FFF; box-shadow:none;}
.select_box .open .dropdown-toggle.btn-primary{background:rgb(42,110,187);border:solid 1px #FFF; box-shadow:none;}
.select_box .caret{border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid;}
.col_md_bottom span.lines{padding:0 10px;}

.dropup .caret,.dropup .btn-lg .caret,.navbar-fixed-bottom .dropdown .caret {border-bottom-width: 8px;}
.btn-lg .caret {border-top-width: 8px;border-right-width: 6px;border-left-width: 6px;}
.select {display: inline-block;margin-bottom: 10px;}
[class*="span"] > .select[class*="span"] {margin-left: 0;}
.select[class*="span"] .btn {width: 100%;}
.select.select-block {display: block;float: none;margin-left: 0;width: auto;}
.select.select-block:before,.select.select-block:after {content: " ";display: table;}
.select.select-block:after {clear: both;}
.select.select-block .btn {width: 100%;}
.select.select-block .dropdown-menu {width: 100%;}
.select .btn {width: 220px;}
.select .btn.btn-hg .filter-option {left: 20px;right: 40px;top: 13px;}
.select .btn.btn-hg .caret {right: 20px;}
.select .btn.btn-lg .filter-option {left: 18px;right: 38px;}
.select .btn.btn-sm .filter-option {left: 13px;right: 33px;}
.select .btn.btn-sm .caret {right: 13px;}
.select .btn.btn-xs .filter-option {left: 13px;right: 33px;top: 5px;}
.select .btn.btn-xs .caret {right: 13px;}
.select .btn .filter-option {height: 26px;left: 13px;overflow: hidden;position: absolute;right: 20px;text-align: left;top:4px;}
.select .btn .caret {position: absolute;right: 8px;top: 50%;margin-top: -3px;}
.select .btn .dropdown-toggle {border-radius: 6px;}
.select .btn .dropdown-menu {min-width: 100%;}
.select .btn .dropdown-menu dt {cursor: default;display: block;padding: 3px 20px;}
.select .btn .dropdown-menu li:not(.disabled) > a:hover small {color: rgba(255, 255, 255, 0.004);}
.select .btn .dropdown-menu li > a {min-height: 20px;}
.select .btn .dropdown-menu li > a.opt {padding-left: 35px;}
.select .btn .dropdown-menu li small {padding-left: .5em;}
.select .btn .dropdown-menu li > dt small {font-weight: normal;}
.select .btn > .disabled,.select .btn .dropdown-menu li.disabled > a {cursor: default;}
.select .caret {border-bottom-color: #ffffff;border-top-color: #ffffff;}
legend {display: block;width: 100%;padding: 0;margin-bottom: 15px;font-size: 24px;line-height: inherit;color: inherit;border-bottom: none;}
textarea {font-size: 20px;line-height: 24px;padding: 5px 11px;}
input[type="search"] {-webkit-appearance: none !important;}
label {font-weight: normal;font-size: 15px;line-height: 2.4;}
.form-control:-moz-placeholder {color: #b2bcc5;}
.form-control::-moz-placeholder {color: #b2bcc5;opacity: 1;}
.form-control:-ms-input-placeholder {color: #b2bcc5;}
.form-control::-webkit-input-placeholder {color: #b2bcc5;}
.form-control.placeholder {color: #b2bcc5;}
.form-control {border: 2px solid #bdc3c7;
color: #34495e;
font-family: "Lato", Helvetica, Arial, sans-serif;
font-size: 15px;
line-height: 1.467;
padding: 8px 12px;
height: 42px;
-webkit-appearance: none;
border-radius: 6px;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.form-group.focus .form-control,
.form-control:focus {
border-color: #1abc9c;
outline: 0;
-webkit-box-shadow: none;
box-shadow: none;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
background-color: #f4f6f6;
border-color: #d5dbdb;
color: #d5dbdb;
cursor: default;
opacity: 0.7;
filter: alpha(opacity=70);
}
.form-control.flat {
border-color: transparent;
}
.form-control.flat:hover {
border-color: #bdc3c7;
}
.form-control.flat:focus {
border-color: #1abc9c;
}
.input-sm {
height: 35px;
padding: 6px 10px;
font-size: 13px;
line-height: 1.462;
border-radius: 6px;
}
select.input-sm {
height: 35px;
line-height: 35px;
}
textarea.input-sm,
select[multiple].input-sm {
height: auto;
}
.input-lg {
height: 45px;
padding: 10px 15px;
font-size: 17px;
line-height: 1.235;
border-radius: 6px;
}
select.input-lg {
height: 45px;
line-height: 45px;
}
textarea.input-lg,
select[multiple].input-lg {
height: auto;
}
.input-hg {
height: 53px;
padding: 10px 16px;
font-size: 22px;
line-height: 1.318;
border-radius: 6px;
}
select.input-hg {
height: 53px;
line-height: 53px;
}
textarea.input-hg,
select[multiple].input-hg {
height: auto;
}







@media (max-width: 480px) {
.pagination ul li.previous > a,
.pagination ul li.next > a,
.pagination ul li.previous > span,
.pagination ul li.next > span {
margin-right: 0;
}
}
.pagination ul li.next {
margin-left: 9px;
}
.pagination ul li.next > a,
.pagination ul li.next > span {
border-left: 2px solid #e4e7ea;
border-right: none;
margin: 0;
border-radius: 0 6px 6px 0;
}
.pagination ul li.active > a,
.pagination ul li.active > span {
background-color: #ffffff;
border-color: #ffffff;
border-width: 2px !important;
color: #d6dbdf;
margin: 10px 5px 9px;
}
.pagination ul li.active > a:hover,
.pagination ul li.active > span:hover,
.pagination ul li.active > a:focus,
.pagination ul li.active > span:focus {
background-color: #ffffff;
border-color: #ffffff;
color: #d6dbdf;
}
.pagination ul li.active.previous,
.pagination ul li.active.next {
border-color: #e4e7ea;
}
.pagination ul li.active.previous > a,
.pagination ul li.active.next > a,
.pagination ul li.active.previous > span,
.pagination ul li.active.next > span {
margin: 0;
}
.pagination ul li.active.previous > a,
.pagination ul li.active.next > a,
.pagination ul li.active.previous > span,
.pagination ul li.active.next > span,
.pagination ul li.active.previous > a:hover,
.pagination ul li.active.next > a:hover,
.pagination ul li.active.previous > span:hover,
.pagination ul li.active.next > span:hover,
.pagination ul li.active.previous > a:focus,
.pagination ul li.active.next > a:focus,
.pagination ul li.active.previous > span:focus,
.pagination ul li.active.next > span:focus {
background-color: #1abc9c;
color: #ffffff;
}
.pagination ul li.active.previous {
margin-right: 6px;
}
.pagination ul li > a,
.pagination ul li > span {
display: inline-block;
background: #ffffff;
border: 5px solid #d6dbdf;
color: #ffffff;
font-size: 14px;
line-height: 16px;
margin: 7px 2px 6px;
min-width: 0;
min-height: 16px;
padding: 0 4px;
border-radius: 50px;
-webkit-transition: background .2s ease-out, border-color 0s ease-out, color .2s ease-out;
transition: background .2s ease-out, border-color 0s ease-out, color .2s ease-out;
}
.pagination ul li > a:hover,
.pagination ul li > span:hover,
.pagination ul li > a:focus,
.pagination ul li > span:focus {
background-color: #1abc9c;
border-color: #1abc9c;
color: #ffffff;
-webkit-transition: background .2s ease-out, border-color .2s ease-out, color .2s ease-out;
transition: background .2s ease-out, border-color .2s ease-out, color .2s ease-out;
}
.pagination ul li > a:active,
.pagination ul li > span:active {
background-color: #16a085;border-color: #16a085;}
.pagination > .btn.previous,
.pagination > .btn.next {margin-right: 8px;font-size: 14px;line-height: 1.429;padding-left: 23px;padding-right: 23px;}
.pagination > .btn.previous [class*="fui-"],
.pagination > .btn.next [class*="fui-"] {
font-size: 16px;
margin-left: -2px;
margin-top: -2px;
}
.pagination > .btn.next {
margin-left: 8px;
margin-right: 0;
}
.pagination > .btn.next [class*="fui-"] {
margin-right: -2px;
margin-left: 4px;
}
.tooltip {
font-size: 14px;
line-height: 1.286;
}
.tooltip.in {
opacity: 1;
}
.tooltip.top {
padding-bottom: 9px;
}
.tooltip.top .tooltip-arrow {
border-top-color: #34495e;
border-width: 9px 9px 0;
bottom: 0;
margin-left: -9px;
}
.tooltip.right .tooltip-arrow {
border-right-color: #34495e;
border-width: 9px 9px 9px 0;
margin-top: -9px;
left: -3px;
}
.tooltip.bottom {
padding-top: 8px;
}
.tooltip.bottom .tooltip-arrow {
border-bottom-color: #34495e;
border-width: 0 9px 9px;
margin-left: -9px;
top: -1px;
}
.tooltip.left .tooltip-arrow {
border-left-color: #34495e;
border-width: 9px 0 9px 9px;
margin-top: -9px;
right: -3px;
}
.tooltip-inner {
background-color: #34495e;
line-height: 1.286;
padding: 12px 12px;
text-align: center;
width: 183px;
border-radius: 6px;
}
.dropdown-menu {
background-color: #4f5153;
border: none;
display: block;
margin-top: 8px;
opacity: 0;
padding: 0;
visibility: hidden;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: 0.25s;
transition: 0.25s;}
.open > .dropdown-menu {margin-top: 5px !important;opacity: 1;visibility: visible;}
.dropdown-menu li:first-child dt + a {border-radius: 0;}
.dropdown-menu li:first-child > a {border-radius: 6px 6px 0 0;padding-top: 8px;}
.dropdown-menu li:last-child > a {border-radius: 0 0 6px 6px;padding-bottom: 10px;}
.dropdown-menu li.active > a,
.dropdown-menu li.selected > a,
.dropdown-menu li.active > a.highlighted,
.dropdown-menu li.selected > a.highlighted {
background: #4f5153;color: #ffffff;}
.dropdown-menu li.active > a:hover,
.dropdown-menu li.selected > a:hover,
.dropdown-menu li.active > a.highlighted:hover,
.dropdown-menu li.selected > a.highlighted:hover,
.dropdown-menu li.active > a:focus,
.dropdown-menu li.selected > a:focus,
.dropdown-menu li.active > a.highlighted:focus,
.dropdown-menu li.selected > a.highlighted:focus {background: #747678;color: #ffffff;}
.dropdown-menu li > a {color: rgba(52, 73, 94, 0.75);padding: 6px 15px 8px;text-decoration: none;-webkit-transition: background-color 0.25s;transition: background-color 0.25s;}
.dropdown-menu li > a:before,
.dropdown-menu li > a:after {content: " ";display: table;}
.dropdown-menu li > a:after {clear: both;}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:active,
.dropdown-menu li > a:focus {
background: #e1e4e7;color: inherit;outline: none;}
.dropdown-menu li > a.highlighted {
background: #c9cfd4;color: #ffffff;}
.dropdown-menu li > a.highlighted:hover,
.dropdown-menu li > a.highlighted:focus {
background: #bac1c8;color: #ffffff;}
.dropdown-menu li > a:before {float: right;margin-top: 3px;}
.dropdown-menu li dt {font-weight: 300;margin-bottom: 3px;margin-top: 12px;padding: 0 15px;}
@media (max-width: 991px) {.dropdown-menu {border-radius: 0 0 6px 6px !important;}}
.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu {margin-bottom: 8px;}
.dropup .dropdown-arrow,.navbar-fixed-bottom .dropdown .dropdown-arrow {border-bottom: none;border-top: 8px outset #f3f4f5;bottom: 100%;top: auto;}
.navbar-fixed-bottom .nav > li > ul:before {border-bottom: none;border-top: 9px outset #34495e;bottom: 4px;top: auto;}
.open.dropup > .dropdown-menu {margin-bottom: 18px;}
.open.dropup > .dropdown-arrow {margin-bottom: 10px;}
.open.dropup > .dropdown-arrow.dropdown-arrow-inverse {border-top-color: #34495e;}
.open > .dropdown-arrow {margin-top: 11px;opacity: 1;}
.dropdown-inverse {background-color: #FFF;color: rgb(42,110,187);padding: 4px 0 6px; border-radius:0;}
.dropdown-inverse li {margin: 0 4px -2px;}
.dropdown-inverse li:first-child > a,
.dropdown-inverse li:last-child > a {border-radius: 2px;padding-bottom: 7px;padding-top: 5px;}
.dropdown-inverse li:first-child dt + a,
.dropdown-inverse li:last-child dt + a {border-radius: 2px;}
.dropdown-inverse li.active > a,
.dropdown-inverse li.selected > a {background: rgb(42,110,187);color: #ffffff;position: relative;z-index: 1;}
.dropdown-inverse li dt {padding-left: 11px;padding-right: 11px;}
.dropdown-inverse li .divider {margin-left: 11px;margin-right: 11px;}
.dropdown-inverse li > a {border-radius: 2px;color: rgb(42,110,187);padding: 5px 11px 7px;}
.dropdown-inverse li > a:hover,.dropdown-inverse li > a:active,.dropdown-inverse li > a:focus {background: #4f5153; color:#FFF;}
.dropdown-inverse li > a.highlighted {background: #526476;}
