/*
Theme Name: BMJ Theme
Theme URI: http://cubettech.com
Author: Jithin
Author URI: http://cubettech.com
Description:  
Version: 1.2
License: GNU General Public License v2 or later
License URI: 
*/
ul.thumbs {
    padding: 0;
    margin: 0;
    overflow: hidden; list-style:none;
}

ul.thumbs li.thumb {
    display: inline-block;
    min-height: 322px;
    padding: 0;
    float: left;
    position: relative; background:#FFF; border-width:1px 0 1px 1px; border-style:solid; border-color:#e3e4e4; text-align:center; padding:30px 0 10px; margin-bottom:5px; }
ul.thumbs li span.thumb_image{display: block;max-height: 145px;min-height: 145px;overflow: hidden;}
ul.thumbs li span.thumb_image img{width:151px;}
ul.thumbs li.thumb:nth-child(4n+4){border-right: solid 1px #e3e4e4;}
ul.thumbs li.thumb p{text-align:left;padding:0 0 0 30px; margin:0;}
ul.thumbs li.thumb p.name{padding-top:20px; font-family: 'interfacebold'; font-size:.9em; margin:0;}
ul.thumbs li span.icon-plus-1{display:block;bottom: 10px;position: absolute;width: 100%;}
ul.thumbs li a.thumbnail {display:block; margin:0; padding:0; background:none; border:0;}
.col_md_left{width:30%; display:inline-block; vertical-align:top; padding-left:5%;}
.col_md_right{width:69%; display:inline-block; vertical-align:top; font-size:.85em; padding-right:10%;}
.col_md_left ul{margin:0; padding:50px 0 0; list-style:none;}
.col_md_left ul li{color:rgb(42,110,187); font-size:.75em;text-indent:25px; padding-bottom:5px; font-style:italic;}
.col_md_left ul li.li-email{background:url("../images/icon1.jpg") no-repeat scroll 5px 0; }
.col_md_left ul li.li-phone{background:url("../images/icon2.jpg") no-repeat scroll 5px 0;}
.col_md_left > p {font-size: 0.85em;}
ul.thumbs li.thumb.active:after{position:absolute; bottom:-6px; height:6px; left:0; right:0; z-index:1; background:rgb(42,110,187); content:'';}
ul.thumbs li.thumb.active:before{position:absolute; content:'';left:50%; bottom:-13px;width: 0; height: 0;border-left: 8px solid transparent;border-right: 8px solid transparent;border-top: 8px solid rgb(42,110,187); margin-left:-4px;z-index:2;}
ul.thumbs li.thumb.active span.icon-plus-1{display:none;}

ul.thumbs li a.thumbnail h4 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 10px;
    text-transform: uppercase;
    background-color: #efefef;
    color: #6b6b6b;
    font-size: 14px;
    margin: 0;
}

ul.thumbs li a.thumbnail .description {
    padding: 0;
    position: absolute;
    height: 0;
    bottom: 0;
    width: 100%;
    box-sizing: inherit;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    padding: 18px 12px;
    line-height: 10px;
    box-sizing: inherit;
    text-align: center;
}

ul.thumbs li a.thumbnail .active-arrow {
    position: absolute;
}

@media (max-width: 992px)  {
	ul.thumbs li {
		width: 50% !important;
	}
	
	.media iframe{
		width: 100%;
	}
	ul.thumbs li.thumb:nth-child(4n+4){border-right:inherit;}
	ul.thumbs li.thumb:nth-child(2n+2){border-right: solid 1px #e3e4e4;}
	.col_left_p{padding-bottom:30px;}
	ul.thumbs li.thumb p{text-align:center; padding:0;}

}

@media (max-width: 1200px) and (min-width: 970px) {
    ul.thumbs li {
        width: 33.3333% !important;
    }
	ul.thumbs li.thumb p{padding-left:40px;}
}

ul.thumbs li a.thumbnail:hover .description {
	height: 50px;
	opacity: 1;
}

ul.thumbs li.content {
	width: 100% !important;
	display: none;
	margin-bottom: 5px;
	background: #FFF;
	float: left;
    min-height: 330px;
	position: relative;
	padding: 45px 0 45px; border:solid 1px #e3e4e4;transition:.5s;
}

ul.thumbs li.content h3 {
    display: inline-block;
}

ul.thumbs li.content .close {
    position: absolute;
    top: -10px;
    right: 20px;
    color: rgb(42,110,187);
    cursor: pointer;
    font-weight: normal;
    font-family: -webkit-pictograph;
    font-size: 1.26em;
    line-height: 70px; opacity:1;font-family: 'interfaceregular';
    text-align: right;
    width: 95%;
}

ul.thumbs li.content .close:hover {
    opacity: 0.7;
}

ul.thumbs li.content .media {
    display: inline-block;
    float: left;
    margin-right: 20px;
    width: 50%;
    min-height: 200px;
}

ul.thumbs li.content .media img {
    max-width: 100%;
}

@media (max-width: 1080px) {
	ul.thumbs .media {
		margin-right: 0;
		margin-bottom: 20px;
	}
}
@media (max-width: 480px) {
	ul.thumbs li {
		width: 100% !important;
	}
	
	ul.thumbs .media {
		display: none !important;
	}
	.col_md_left,.col_md_right{width:100%; padding:5%;}
	ul.thumbs li.content{padding-bottom:0;}
	ul.thumbs li.thumb{border: solid 1px #e3e4e4;}
	
}
@media (max-width: 700px) and (min-width: 590px) {
	ul.thumbs .media {
		width: 100% !important;
		display: block !important;
		margin-top: 60px;
	}
}

.portfolio-content {
    display: none;
}
@media screen and (min-width: 992px) and (max-width:1200px){
	ul.thumbs li.thumb:nth-child(4n+4){border-right:inherit;}
	ul.thumbs li.thumb:nth-child(3n+3){border-right: solid 1px #e3e4e4;}
}