@charset "utf-8";
/* CSS Document */

.Chatpanel-InBottom{width:100%;top:0;position:fixed;right:0;overflow:auto;background:#fff;pointer-events:auto;z-index:140;height:100%;}

.mobile-chat-header{width:100%;float:left;background:#fff;border-bottom:2px #0091e1 solid;position:fixed;top:0;left:0;color:#3c3c3c;z-index:5;}


.BackPage-Div{width:25px;position:relative;cursor:pointer;float:left;height:45px;}
.BackPage-Arrow{font-size:40px;color:#212121;}
.BackPage-Arrow::before, .BackPage-Arrow::after{margin:15px 0 0 11px;}
.BackPage-Arrow::before {content:'';position:absolute;border-style:solid;border-width:0 13px 13px 0;border-color:#000 transparent;display: block;
 z-index: 1;left:-1px;top:0;transform:rotate(-313deg);}
.BackPage-Arrow::after {content:'';position:absolute;border-style:solid;border-width:0 13px 13px 0;border-color: #fff transparent;display:block;z-index:1;
left:0;top:0;transform:rotate(-313deg);
}
.Ad-username-Wapp{width:60%;float:left;padding:7px 0 0 10px;text-align:justify;}
.Ad-username-Wapp h1{width:auto;font-weight:bold;font-size:12px;}
.M-ChatOnline-Dot{width:9px;height:9px;border-radius:10px;float:left;background:#46c300;margin:3px 3px 0 0;}
.M-ChatOffline-Dot{width:9px;height:9px;border-radius:10px;float:left;background:#CCC;margin:3px 3px 0 0;}
.Ad-username-Wapp span{margin-top:4px;display:inline-block;font-size:11px;}


.ChatHeader-RightIconsArea{margin:0;padding:0;float:right;list-style:none}
.ChatHeader-RightIconsArea li{width:20px;height:20px;float:right;margin:12px 5px 12px 0;cursor:pointer;text-align:center;color:#0091e1;}
.ChatHeader-RightIconsArea li:hover{color:#ccc;}
.ChatHeader-RightIconsArea li span{font-size:20px;line-height:normal;}
.ChatHeader-RightIconsArea li span.icon-cross{display:inline-block;font-size:15px;height:20px;margin:3px 0 0 -9px;width:20px;}

.M-ChatPanel-Wapp{width:100%;float:left;overflow:auto;padding:47px 0 85px 0;}
.if-BottomPopup-View{padding-bottom:155px;}

/*Ad Details related sticky and normal*/
.fixed-ChatAdDetails-area .ChatAd-Image, .fixed-ChatAdDetails-area .M-Chat-AdTitle-Wapp span{display:none;}
.normal-ChatAdDetails-area{width:100%;float:left;}
.fixed-ChatAdDetails-area{background:#fff none repeat scroll 0 0;position:fixed;width:320px;z-index:10;box-shadow: #ccc 0px 0px 3px;}
.fixed-ChatAdDetails-area .M-Chat-AdTitle-Wapp{margin:0;width:100%;}
.fixed-ChatAdDetails-area .M-Chat-AdTitle-Wapp h1{float: left;margin-left: 10px;margin-top: 4px;line-height: normal;}
.fixed-ChatAdDetails-area .M-Chat-AdTitle-Wapp h2 {float:right;margin:2px 10px 0 0;}
.ChatAd-DetailsArea{width:100%;padding:5px 0;background:#f2f2f2;border-bottom:1px solid #cbcbcb;position:relative;float:left;margin-bottom:0px;}
.ChatAd-Image{width:50px;height:40px;float:left;background:#e6e6e6;margin-left:5px;position:relative;overflow:hidden;}
.ChatAd-Image span{display:inline-block;text-align:center;font-size:10px;width:100%;line-height:normal;color:#7c7c7c;margin-top:8px;}
.ChatAd-Image img{bottom:0;left:0;margin:auto;max-height:50px;max-width:60px;position:absolute;right:0;top:0;}

.M-Chat-AdTitle-Wapp{float:left;width:auto;margin-left:10px;font-size:14px;}
.M-Chat-AdTitle-Wapp h1{width:auto;font-weight:normal;font-size:11px;color:#3c3c3c;}
.M-Chat-AdTitle-Wapp h2{line-height: normal;font-weight: bold;margin-top: 4px;font-size: 14px;color: #001824;}
.M-Chat-AdTitle-Wapp span{width:auto;position:absolute;right:0;bottom:0;margin:0 5px 5px 0;font-size:12px;}

.ChatConversation-wapp{width:100%;float:left;position:relative;}
.ChatConversation-wapp ul{margin:0;padding:0;list-style:none;}
.ChatConversation-wapp ul li.Chat-msgBox{border-radius:3px;box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.05);line-height: 16px;min-width: 31%;position: relative;text-align: left;word-break:break-word;}
.Conve-TextMsg{padding:5px 10px;}
.ChatConversation-wapp ul li.Chat-msgBox p{position:absolute;bottom:-17px;font-size:11px;line-height:normal;}
.ChatConversation-wapp ul li.Chat-msgBox p span{display:inline-block;padding:0 3px;color:#7c7c7c;}

/*share ad*/
.chat-ad-share-wrapper{width:150px;float:left;padding:5px 10px;cursor:pointer;}
.chat-ad-share-wrapper h3{font-size:13px;color:#008BCF;font-weight:normal;line-height:18px;margin:0;padding:0;}
.chat-ad-share-wrapper img{max-width:100%;max-height:104px;margin:3px 0;}
.chat-ad-share-wrapper h4{line-height:normal;color:#7c7c7c;font-weight:normal;}
.chat-ad-share-wrapper h4 span.share-ads-price{display:block;color:#008BCF;font-size:13px;line-height:18px;}
.chat-ad-share-wrapper button.view-share-ads-btn{width:100%;padding:5px 0;background:#008BCF;color:#FFFFFF;font-size:13px;border:none;border-radius:3px;margin:5px 0;cursor:pointer;}
.chat-ad-share-wrapper button.view-share-ads-btn:hover{background:#027BAA;}
/*share ad end*/

.ChatConversation-wapp ul li.makeOffer-defaultMsg{width:94%;float:left;padding:5px 0;border-bottom:1px solid #e6e6e6;border-top:1px solid #e6e6e6;margin:0 3% 20px 3%;text-align:left;}
.ChatConversation-wapp ul li.makeOffer-defaultMsg i{font-size:13px;float:left;margin:0px 5px 0 0;height:25px;}
.ChatConversation-wapp ul li.makeOffer-defaultMsg p{font-size:10px;line-height:normal;color:#3c3c3c;}
/*server side promo message*/
.ChatConversation-wapp ul li.makeOffer-defaultMsg p.promo-image {margin:5px;}
.ChatConversation-wapp ul li.makeOffer-defaultMsg p a{display:inline-block;color:#008BCF;float:right;line-height:20px;font-size:11px;margin-left:10px;}
.ChatConversation-wapp ul li.makeOffer-defaultMsg p a.default-accept-btn{color:#008BCF;}
.ChatConversation-wapp ul li.makeOffer-defaultMsg p a.default-decline-btn{color:#999;margin-right:10px;}
.ChatConversation-wapp ul li.makeOffer-defaultMsg p a:hover{text-decoration:underline;}
.offer-update-amount{clear:both;text-align: center;margin-bottom:10px;}
.offer-update-amount s{text-decoration: line-through;}
/*server side promo message*/

.Chat-Incuming-msg p{left:0;}
.Chat-OutGo-msg p{right:0;}

.Chat-Incuming-msg{background:#e6e6e6 none repeat scroll 0 0;float:left;margin:0 25% 25px 4%;border-radius:3px;line-height:normal;}
.Chat-Incuming-msg:after {content:'';display:block;position:absolute;right:100%;top:15px;margin-top:-10px;width:0;
height:0;border-top:6px solid transparent;border-right:6px solid #e6e6e6;border-bottom:6px solid transparent;border-left:6px solid transparent;}
.Chat-Incuming-msg .attachingContact-wapp h5, .Chat-Incuming-msg .attachingLocation-Wapp h2{border-bottom:1px solid #d4d4d4;}

.Chat-OutGo-msg{border:1px solid #e6e6e6;float:right;margin:0 4% 25px 25%;}
.Chat-OutGo-msg:after{content:'';display:block;position:absolute;left:100%;top:15px;margin-top:-10px;width:0;height:0;
border-top:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid transparent;border-left:6px solid #e6e6e6;}
.ChatMessageDate{width:100%;padding:2px 0;float:left;margin:10px 0;font-size:10px;text-align:center;color:#7c7c7c;}
.M-ChatTypeWapp{width:100%;float:left;background:#e4e4e4;bottom:0;left:0;position:fixed;}
.MCht-ButtonWapp{width:100%;float:left;padding:5px 0;clear:both}
/*.M-ChatTypeWapp button{width:25px;height:32px;float:left;margin-left:5px;text-align:center;font-size:20px;background:none;cursor:pointer;border:none;padding:0px;}*/
.ChatType-inputText{width:62%;float:left;height:32px;margin-left:10px;font-size:12px;line-height:30px;overflow-y:scroll;}
.ChatType-inputText:focus{outline-color:transparent;border:none;border-bottom:solid 1px #008bce;}
.M-ChatTypeWapp button.Msg-Chat-Paperplane{background:#001824;border-radius:50%;color:#FFFFFF;line-height:32px;font-size:21px !important;}
.M-ChatTypeWapp button.ChatType-Icon-RightBox{float:right;margin-right:5px;width:32px;}



.M-ChatBottom-Popup{width:100%;height:120px;float:left;background:#f1f1f1;overflow:auto;position: relative;}
.M-chat-CannedResponses{width:100%;float:left;margin:0;padding:0;list-style:none;}
.M-chat-CannedResponses li{line-height:normal;border-bottom:1px solid #d7d7d7;padding:7px 10px;cursor:pointer;transition:all 0.2s ease-in-out 0s;}
.M-chat-CannedResponses li:hover{background:#dadada;}

.New-ChatMain-Wapp{width:100%;height:100vh;float:left;position:relative;pointer-events:auto;}  


.M-Chat-AttachOptions{width:100%;padding:0;list-style:none;position:absolute;background:#f1f1f1;top:0;left:0;z-index:2;margin:47px 0 0 0;box-shadow:#ccc 0px 0px 3px}
.M-Chat-AttachOptions li{width:25%;float:left;height:65px;cursor:pointer;text-align:center;color:#333333;transition:all 0.2s ease-in-out 0s;}
.M-Chat-AttachOptions li span{width:35px;height:35px;display:inline-block;margin-top:8px;font-size:32px;}
.M-Chat-AttachOptions li p{clear:both;font-size:12px;text-align:center;margin:0;padding:0;display: block;}
.M-Chat-AttachOptions li:hover{background:#dadada;}

.floatDiv-blockMakeOffer{position:absolute;padding:8px 0;background:#fff;top:0;left:0;width:100%;margin:47px 0 0 0;text-align:center;}
.FloatingBlock-Btn{width:auto;padding:7px 20px;font-size:13px}
.FloatingBlock-Btn i{margin-right:5px;}
.Greyborder-BTN{border:1px solid #ccc;border-radius:3px;background:none;color:#3c3c3c;cursor:pointer;}
.Greyborder-BTN:hover{border:1px solid #444;color:#3c3c3c;}

.floatDiv-LoadMore-msg p.AttachDocumentsError{
      max-width: 90%;
  background: #d8262c;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0 4px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  line-height: normal;
  margin: auto;
  text-align: center;
}
.AdvOptions-BlockDelete-Wapp{width:80%;padding:0;list-style:none;position:absolute;background:#f1f1f1;top:0;right:0; z-index:2;margin:47px 10px 0 0;-webkit-box-shadow:0px 2px 2px 1px rgba(0,0,0,0.34);
-moz-box-shadow:0px 2px 2px 1px rgba(0,0,0,0.34);
box-shadow:0px 2px 2px 1px rgba(0,0,0,0.34);}
.AdvOptions-BlockDelete-Wapp li{padding:4px 10px;border-bottom:1px solid #e4e4e4;font-size:13px;cursor:pointer;transition: all 0.2s ease-in-out 0s;
line-height:27px;}
.AdvOptions-BlockDelete-Wapp li i{float:left;font-size:15px;margin-right:10px;line-height: normal;margin-top: 6px;}
.AdvOptions-BlockDelete-Wapp li:hover{background:#dadada;}
.AdvOptions-BlockDelete-Wapp li i.icon-arrows_remove{font-size:27px;}
.AdvOptions-BlockDelete-Wapp li i.icon-basic_trashcan{font-size:16px;margin:0 4px 0 7px;}
.AdvOptions-BlockDelete-Wapp li:last-child{border-bottom:0;}

.MChat-NewBlackScreen{width:100%;background:rgba(0,0,0,0.6);height:100vh;position:fixed;z-index:11;top:0;left:0;}
.ChatBlackScr-InnerWapp{width:90%;position:absolute;z-index:1;}
.Chat-White-Popup{width:100%;float:left;background:#F1F1F1;border-radius:4px;overflow:hidden;}
.ChatButton-Area{width:100%;text-align:right;}
.ChatButton-Area button{padding:0 20px;height:30px;line-height:30px;border:0;font-size:13px;border-radius:3px;cursor:pointer;background:none;box-shadow:none;color:#008bce;transition: all 0.2s ease-in-out 0s;}
.ChatButton-Area button:hover{background:#00699c;color:#fff;}
.ChatButton-Area button.Popup-SubmitBtn{width:100%;}

.register-Btn{position:fixed;width:90%;margin:0 5%;padding:0;left:0;bottom:10px; z-index:100;}
.InnerPopup-TwoOption{margin:0;padding:0;list-style:none;width:100%;}
.InnerPopup-TwoOption li{padding:15px 5%;width:90%;font-size:16px;transition: all 0.2s ease-in-out 0s;cursor:pointer;}
.InnerPopup-TwoOption li:last-child{border-top:1px solid #c8c8c8;}
.InnerPopup-TwoOption li:hover{background:#0091e1;color:#fff;transition: all 0.2s ease-in-out 0s;}
.InnerPopup-TwoOption li span{color:#7a7a7a;padding:0 10px 0 7px;}

button.bulecolor-button{background:#008bce;color:#fff;}
button.bulecolor-button:hover{background:#00699c;}
.InnerPopup-TwoOption li:hover span{color:#fff;}

.AdUserName-DtopWapp, .ChtPanle-CloseBtn{display:none;}

.Chat-NewBlackScreen{width:100%;float:left;background:rgba(0,0,0,0.7);height:100vh;position:absolute;z-index:1;}
.Chat-InnerWapper{position:fixed;margin:25vh 7.5% 0;width:85%;z-index:11;}
.Chat-ContShar-input{width:96%;height:25px;padding:3px 2%;border:none;font-size:12px;margin-bottom:10px;float:left;background:none;}
.Chat-ContShar-Textarea{width:96%;height:85px;padding:3px 2%;border:none;border:1px solid #dddddd;font-size:12px;margin-bottom:10px;float:left;background:none;font-family:"ProximaNova-Regular",Arial,Helvetica,sans-serif;}
/*.Chat-ContactShare-popup{margin:25% 7.5% 0 7.5%;}*/

.ContactShare-Div{padding:12px;}
.ContactShare-Div h2{color:#3c3c3c;font-weight:normal;margin-bottom:8px;font-size:13px;}

.locationSmall-InnerPopup{padding:15px;}
.locationSmall-InnerPopup h3{color:#000;font-weight:bold;}
.locationSmall-InnerPopup P{margin:10px 0;}

.locationSmall-BTNArea{clear:both;padding:5px 0;text-align:right;}
.locationSmall-BTNArea button{background:none;padding:0 5px;font-size:14px;border:0;color:#7a7a7a;cursor:pointer;}
.locationSmall-BTNArea button:last-child{color:#159f92;} 
.locationSmall-BTNArea button:hover{color:#000000;}

.locationSmall-InnerPopup h4{font-size:14px;font-weight:normal;clear:both;padding:5px 0;}
.locationSmall-InnerPopup h4 span{width:17px;height:20px;float:left;font-size:18px;margin:0px 5px 0 0;}

.SureWant-DeleteAd{padding:15px;text-align:center;}
.SureWant-DeleteAd p{font-size:14px;line-height:18px;}
.SureWant-DeleteAd .ChatButton-Area{text-align:center;}


.attachingContact-wapp h5{width:90%;padding:5px 5%;background:#e6e6e6;font-size:12px;font-weight:normal;}
.attachingContact-wapp h6{font-size:13px;font-weight:normal;padding:8px 10px;}
.attachingContact-wapp ul{margin:0;padding:5px 0;list-style:none;}
.attachingContact-wapp ul li{line-height:22px;padding:0 10px;}
.attachingContact-wapp ul li i{font-size:15px;display:inline-block;width:20px;}

.attachingLocation-Wapp{padding:5px 0;}
.attachingLocation-Wapp h2{display:none;}
.attachingLocation-Wapp h3{width:90%;height:80px;background:#eee;margin:5px 5%;}
.attachingLocation-Wapp h4{font-weight:normal;font-size:12px;margin:0 5% 5px 5%;}

.attachingContact-wapp, .attachingLocation-Wapp{width:220px;}



.MakeOffer-BTNWapp{width:100%;padding:8px 0;text-align:center;position:relative;clear: both}
.Main-MakeOffer-Btn{width:50%;padding:8px 0;font-size:12px;}


.EditOffer-Wapp{padding:10px 5%;width:90%;float:left;}
.EditOffer-Wapp p{float:left;width:30%;line-height:32px;font-size:14px;}
.EditOffer-Wapp ul{float:right;width:70%;margin: 0;padding: 0;list-style: none;}
.EditOffer-Wapp ul li{position:relative;}
.EditOffer-Wapp ul li span{line-height:32px;font-size:16px;position:absolute;left:0;top:0;margin-left:5px;}
.EditOffer-Wapp ul li input{width:90%;height:30px;font-size:14px;padding:0 0 0 10%;margin:0;}
.EditOffer-Wapp ul li.offer-Confirm{padding:10px 0 0 0;border:0;}
.EditOffer-Wapp ul li.offer-Confirm .ChatButton-Area button{padding:0 20px;}

.BoxShadow-Div{-webkit-box-shadow:0 0 4px -2px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 0 4px -2px rgba(0, 0, 0, 0.5);box-shadow:0 0 4px -2px rgba(0, 0, 0, 0.5);}
.MChat-BlueText {clear: both;text-align: center;color: #3c3c3c;font-size: 16px;width:auto;padding:0 15px;display:inline-block;border-radius:3px;}
.MChat-BlueButton{background:#008bce;border-radius:3px;color:#fff;cursor:pointer;border:none;}
.MChat-BlueButton:hover{background:#00699c;}

.MChat-BlueBorder-Btn{-webkit-box-shadow: 0 0 0px 1px rgba(0, 137, 206, 1) inset;-moz-box-shadow:0 0 0px 1px rgba(0, 137, 206, 1) inset;box-shadow: 0 0 0px 1px rgba(0, 137, 206, 1) inset;color:#008bce;background:none;}
.MChat-BlueBorder-Btn:hover{background:#0077b0;color:#FFF;}

.offer-withdrawEdit-Btn{width:100%;padding:10px 0;clear:both;}
.offer-withdrawEdit-Btn button{width:45%;text-align:center;padding:8px 0;margin:0 2%;border-radius:3px;border:0;font-size:13px;}


.mchat-LocationSharingPopup{width:100%;position:fixed;height:100vh;background:#FFFFFF;;z-index:1;padding:47px 0 0 0;}
.mchat-LocaMapWapp{width:100%;height:35vh;background:#FFB7B8;}
.mchat-LocationSharingPopup ul{width:96%;height:47vh;overflow:auto;padding:0 2%;margin:0; list-style:none;}
.mchat-LocationSharingPopup ul li{padding:10px 8px;cursor:pointer;}
.mchat-LocationSharingPopup ul li:hover, .mchat-LocationSharingPopup h4:hover{background:#008bce;color:#FFFFFF;}
.mchat-LocationSharingPopup h4{padding:5px 8px;cursor:pointer;line-height:25px;border-bottom:1px solid #cacaca;margin:0 2%;}
.mchat-LocationSharingPopup h4 i{font-size:20px;float:left;margin-right:5px;}

.LocationSearch-Box{width:74%;height:25px;margin:10px 0 0 5px;font-size:13px;border:none;border-bottom:1px solid #c3c3c3;}

/* image css */



/* images css*/

.mChat-QuikrForm{background:#FFFFFF;width:90%;padding:60px 5% 15px 5%;}
.mChat-QuikrForm h3{font-size:13px;padding:10px 0 10px 0;font-weight:normal;}

.chat-errorText{color:red;font-size:11px;padding:2px;}
.chat-labelText{color:#7c7c7c;font-size:11px;padding:2px;}

.quikrmChat-formTitle{width:auto;float:left;font-size:13px;font-weight:normal;}
.quikrmChat-formTitle i{float:left;font-size:32px;margin:5px 0 0 0}
.quikrmChat-formTitle span{width:250px;display:block;float:left;margin:7px 0 0 10px;text-align:left;line-height:normal;font-size:14px;}
.quikrmChat-formTitle span strong{color:#cccccc;font-weight:normal;}
.Chat-ConsistencyArea{width:100%;}
.Chat-ConsistencyArea .quikr-input-section{width:70%;}
.Chat-Consiste-Code{background:#83c405;color:#ffffff;float:right;font-size:15px;font-weight:bold;height:33px;line-height:33px;text-align:center;width:75px;}

.Chat-textTP-div{width:100%;clear:both;float:left;margin-bottom:10px;padding-top:5px;font-size:11px;font-weight:normal;margin:0;padding:0;}
.Chat-TP-checkBox{margin:2px 8px 20px 0;float:left;}
.Chat-textTP-div p{padding:10px 0;} .Chat-textTP-div a{color:#008bcf;text-decoration:none;} .Chat-textTP-div a:hover{text-decoration:underline; }


.EmotIcons-Area{margin:0;padding:3px 0 0 3px;list-style:none;text-align:center;}
.EmotIcons-Area li{display:inline-block;cursor:pointer;float:left;margin:2px;padding:3px 5px;}
.EmotIcons-Area li:hover{background:#e5e7e4;}

/*-------- Media share CSS start---------*/

.DtopCht-UnbockUser{padding:5px 10px;font-size:11px;text-align:center;line-height:normal;}
.DtopCht-UnbockUser p{text-align:center;font-weight:bold;font-size:12px;}
.DtopCht-UnbockUser span{color:#008bce;cursor:pointer;}
.DtopCht-UnbockUser span:hover{text-decoration:underline;}  




/*-------- Loaction Share Css Start D'top here---------*/
.Chat-fullScreen-Black{width:100%;height:100vh;background:rgba(0,0,0,0.7);position:fixed;top:0;left:0;z-index:5;}
.Chat-FullScn-Popup{width:100%;position:fixed;z-index:6;margin:auto;left:0;top:0;}
.Popup-boxWapper{width:660px;margin:auto;}
.MainPopup-Div{width:100%;float:left;background:#FFFFFF;padding:0;border-radius:3px;margin-top:20%;}
.Chat-NewPopup-TextArea{width:100%;float:left;clear:both;}
.Chat-Location-LeftArea{float:left;width:45%;height:320px;background:#f4f4f4;}
.Chat-Location-RightArea{float:right;width:51%;padding:10px 0;margin-right:2%;}
.Chat-SearchLocation-Input{width:100%;padding:3px 5px;border:1px solid #cccccc;background:#f4f4f4;border-radius:3px;
line-height:28px;}
.Chat-SearLoc-OptionArea{width:100%;float:left;height:215px;overflow:auto;margin:5px 0 8px 0;}
.Chat-SearLoc-OptionArea ul{margin:0;padding:0;list-style:none;}
.Chat-SearLoc-OptionArea ul li{float:none;padding:8px 0 8px 5px;font-size:12px;border-bottom:1px solid #e6e6e6;cursor:pointer;}
.Chat-SearLoc-OptionArea ul li input{margin-right:5px;}
.Chat-SearLoc-OptionArea ul li:hover{background:#f4f4f4;color:#000000;}

.ShareCurrent-Div{width:100%;position:relative;}
.ShareCurrent-Div i{position:absolute;z-index:2;font-size:16px;margin:5px 0 0 7px;}
.ShareCurrent-Location{width:100%;padding:5px 2% 5px 8%;border:1px solid #e6e6e6;line-height:25px;font-size:13px;cursor:pointer;border-radius:3px;background:#f1f1f1;}

.Chat-CameraBox{width:35px;float:right;height:40px;cursor:pointer;margin-right:5px;display:none;}
.Chat-CameraBox:hover{background:#d3d3d3;}
.Chat-CameraIcon{width:24px;height:18px;background:url(../images/newul_sprite.png) no-repeat -73px -29px;margin:10px 0 0 5px;}


.Chat-LocationShar-Button{padding:6px 8px;float:right;margin:10px 0 0 0;}
.Chat-LocatShare-Done, .Chat-ContactShared-Details{width:71%;}
.Chat-LocatShare-Done p{margin:5px 0 4px 0;padding:0;line-height:normal;}
.Chat-Locat-SmallMap{width:100%;height:70px;background:#f2f2f2;margin-top:5px;}

.chatShared-Imagevdo{float:left;border-radius:3px;background:#efefef;text-align:center;position:relative;overflow:hidden;margin:0px;width:180px;height:125px;}
.chatShared-Imagevdo i.AttachimageVideo-Icon{display:inline-block;font-size:25px;color:#a9a9a9;font-size:40px;margin-top:40px;} 
.chatShared-Imagevdo i.AttachimageVideo-Icon.icon-add_video{font-size:45px;}
.chatShared-Imagevdo img{float:left;max-width:100%;height:125px;}
.doc-Received{background-color:#e6e6e6 !important;}
.doc-Received i{color:red;}
.doc-Received:hover{color:#000 !important;background-color:#c2c2c2 !important;}
.doc-Received span{color:#7C7C7C !important;}
.doc-Received:hover span{color:#000 !important;}


.chat-Imagevideo-Download{width:180px;height:125px;background:rgba(0,0,0,0.5);position:absolute;}
.chat-Imagevideo-Download ul{width:15px;background:#000000;height:125px;position:absolute;top:0;left:0;}
.chat-Imagevideo-Download ul li{width:9px;height:8px;background:#8f8f8f;border-radius:2px;display:block;float:left;margin:7px 0 0 3px;}
.chat-Imagevideo-Download ul:last-child{right:0;left:inherit;}

.DownloadFile-size{color:#fff;cursor:pointer;width:100%;height:125px;display:block;}
.DownloadFile-size i{font-size:22px;margin-top:40px;display:inline-block;}
.DownloadFile-size span{display:block;max-width:100px;font-size:11px;line-height:normal;margin:auto;}
.DownloadFile-size:hover{color:#9C9C9C;}

.chatImg-upDownLoadProgress{width:100%;padding:5px;clear:both;float:left;text-align:center;}
.LoadProgress-Text{float:left;margin:3px 0 0 5px;}

.Chat-OutGo-msg .radial-progress{background-color:#fff;border:1px solid #eeeeee;}
.Chat-OutGo-msg .radial-progress .inset{background:#FFFFFF;}

.imgvideo-progressDiv{width:100%;clear:both;float:left;text-align:center;padding:4px 0;position:relative;font-size:11px;}
.progressBar-upload-download{width:100%;position:absolute;height:3px;top:0;left:0;}
.progressBar-upload-download span{width:1%;float:left;background:#00abff;display:inline-block;height:3px;transition: all 0.3s ease-in-out 0s;-webkit-box-shadow:-1px 2px 3px 0px rgba(0, 179, 255,0.5);
-moz-box-shadow:-1px 2px 3px 0px rgba(0, 179, 255,0.5);
box-shadow:-1px 2px 3px 0px rgba(0, 179, 255,0.5);}

.imgvideo-progressDiv p{width:100%;margin:0;padding:5px 0;text-align:center;}

/*-------- Media share CSS end---------*/
/* CLear messages */
.clearConversation-text{width:85%;padding:10px;background:#4d4d4d;border-radius:25px;position:absolute;
top:0;left:0;margin:0;color:#fff;text-align:center;line-height:normal;margin:-45px 7.5% 0 7.5%;
-webkit-box-shadow:0px 2px 5px 0 rgba(46, 46, 46, 0.5);
-moz-box-shadow:0px 2px 5px 0 rgba(46, 46, 46, 0.5);
box-shadow:0px 2px 5px 0 rgba(46, 46, 46, 0.5);}
/* CLear messages end*/

/** input field ***/
.quikr-input-section {
  position: relative;
  float:left;
  width:100%;
  margin-bottom:8px;
  color:#3c3c3c;
}

.quikr-input-section label {
  pointer-events: none;
  position: absolute;
  top: 8px;
  font-weight: normal;
  left: 3px;
  z-index: 99;
  transition: all 0.2s;
}
.quikr-input-section input {
  position: relative;
    z-index: 99;
    background: none;
    display: block;
     border: none; 
    border-bottom: solid 1px #b7b7b7;
    border-radius: 3px;
    padding: 14px 3px 9px;
    width: 100%;
    /*height: 35px;*/
    font-size: 12px;

    /*line-height: 38px;*/
}
.quikr-input-section input:focus{
  /*outline-color:transparent;*/
  border:none;
  border-bottom:solid 1px #008bce;
}
.quikr-input-section input:focus + label {
  top: 0px;
  transition: all 0.2s;
  font-size: 10px;
  
  
}

.quikr-input-section textarea {
  resize:none;
  position: relative;
  z-index: 99;
  background: none;
  display: block;
  border: none;
  border-bottom: solid 1px #b7b7b7;
  border-radius:3px;
  padding:14px 3px 0 3px;
  width:100%;
  height:40px;
  font-size:12px;
  font-family:"ProximaNova-Regular",Arial,Helvetica,sans-serif;
}
.quikr-input-section textarea:focus + label {
  top:0px;
  transition: all 0.2s;
  font-size: 10px;
  
}
.quikr-input-section textarea:focus{
  
  border:none;
  border-bottom:solid 1px #008bce;
}

.quikr-input-section label.quikr-input-section-active{
  top: 0px;
  transition: all 0.2s;
  font-size: 10px;
  
}
input:focus, textarea:focus{
  outline-color:transparent;

}
/*textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8) !important;
    box-shadow: 0 4px 6px rgba(82, 168, 236, 0.3);
    outline: 0 none;
}
*/


.quikr-input-section select {
  background: none;
    width: 100%;
    border-radius: 0;
    border: none;
    border-bottom: solid 1px #b7b7b7;
}

.quikr-input-section input.field-error, .quikr-input-section textarea.field-error{border-color:#ff7070;}

/*Chrome Push Notification START*/
.chat-gcm-prompt
{background:#fff;padding:8px 4%;position:absolute;width:92%;z-index:3;font-size:14px;line-height:20px;/*box-shadow:0px 5px 5px #ccc;*/ border:1px solid #ccc;}
.chat-gcm-prompt span{font-size:12px;font-weight:normal;color:#878787;}

.chat-gcm-prompt-btn-area{width:100%;float:left;clear:both;text-align:right;padding-top:10px;}
.chat-gcm-prompt-btn-area a{padding:5px 10px;display:inline-block;color:#3c3c3c;}
.chat-gcm-prompt-btn-area a:hover{color:#2089cd;}
.chat-gcm-prompt-btn-area a.chat-gcm-yes-blueBTN{background:#609af5;border-radius:5px;color:#FFFFFF;border:none;}
.chat-gcm-prompt-btn-area a.chat-gcm-yes-blueBTN:hover{background:#2089cd;}
/*Chrome Push Notification END*/


/* new make an offer design flow changes start*/

/* Changes in Eixting css */
.MakeOffer-BTNWapp{width:100%;padding:5px 0;text-align:center;position:relative;background:#fff;}
.Main-MakeOffer-Btn{width:95%;padding:0;font-size:14px;padding:8px 0;}
.MCht-ButtonWapp button{width:25px;height:32px;float:left;margin-left:5px;text-align:center;font-size:25px;background:none;cursor:pointer;border:none;}

.makoff-edit-btn{padding:4px 0;}
.makoff-edit-btn span{display:block;text-align:center;font-size:10px;margin:0 0 1px 0;}
/* Changes in Eixting css */

.makoff-system-wrapp{background:#f3f3f3;border:1px solid #ddd;padding:10px;font-size:12px;color:#666;
line-height:normal;text-align:left;margin:0 10px 25px 10px;clear:both;}
.makoff-system-wrapp a{color:#008bcf;text-decoration:none;font-weight:bold;}
.makoff-system-wrapp a:hover{text-decoration:underline;}

.makoff-system-wrapp p.pre-txt{line-height:15px;margin:0;text-align:justify;}
.makoff-system-wrapp p.apply-txt{margin:0;padding:;width:auto;text-align:right;font-size:11px;}

.makoff-system-wrapp ul.listing{padding:0;list-style:none;margin:15px 0 0 0;}
.makoff-system-wrapp ul.listing p{margin-bottom:5px;}
.makoff-system-wrapp ul.listing li{line-height:15px;list-style-position:outside;list-style:disc;margin:0 0 0 15px;}

.offer-blue-in, .offer-blue-out{background:#008bcf;color:#fff;font-size:13px;margin-bottom:25px;border:none;}

.offer-blue-in .Conve-TextMsg, 
.offer-blue-out .Conve-TextMsg, 
.offer-green-in .Conve-TextMsg, 
.offer-green-out .Conve-TextMsg{padding:7px 15px;}

.offer-blue-in:after{border-right: 6px solid #008bcf;}
.offer-blue-out:after{border-left: 6px solid #008bcf;}

.offer-green-in, .offer-green-out{background:#4aad13;color:#fff;font-size:13px;margin-bottom:15px;border:none;}
.offer-green-in:after{border-right: 6px solid #4aad13;}
.offer-green-out:after{border-left: 6px solid #4aad13;}

.mchat-whiteScreen{width:100%;background:rgba(255,255,255,0.8);height:100vh;position:absolute;z-index:5;
top:0;left: 0;}

.offer-received-pop{position:absolute;margin: 18% 5% 0 5%;z-index:16;padding:7px 0 10px;background:#FFFFFF;border:1px solid #008bce;}

.offer-received-pop .makoff-system-wrapp{background:none;border:none;margin:15px 5% 0 5%;clear:both;width:90%;padding:0;}

.offer-received-pop h3.pop-title{text-align:center;font-size:18px;font-weight:normal;}
.offer-received-pop h3.pop-title span{color:#008bce;}

.offer-received-pop .MChat-BlueButton, .offer-received-pop .MChat-BlueBorder-Btn{border:none;width:90%;margin:0 5%;padding:10px 0;text-align:center;font-size:14px;margin-top:15px;}

/* new make an offer design flow changes end*/

@media (min-width: 480px){
.mchat-LocaMapWapp{float:left;width:45%;height:100vh;}
.mchat-LocationSharingPopup h4{float:right;width:54%;margin:0;padding:5px 0;}
.mchat-LocationSharingPopup ul{float:right;width:54%;height:75vh;margin:0;padding:0;}
.mchat-LocationSharingPopup h4 i{margin-left:5px;}

}

/*Desktop*/
@media (min-width: 768px){
.chat-gcm-prompt,.EditOffer-Wapp, .attachingContact-wapp h5, .EditOffer-Wapp ul li input{width:100%;}
.New-ChatMain-Wapp{width:320px;box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.15);overflow:hidden;border-radius:5px 5px 0 0;float:inherit;margin:0 5px;display:inline-block;height: inherit;}  
.M-ChatPanel-Wapp{height:300px;padding:0 0 37px 0;background:#fff;text-align:left;}
.Chatpanel-InBottom{bottom:0;background:none; pointer-events: none;text-align:right;top: inherit;height: auto;}
.mobile-chat-header{background:#001824;color:#FFFFFF;border:none;position:relative;z-index:12;text-align:left;cursor:pointer;}
.M-ChatTypeWapp{position:relative;text-align:left;}
.Ad-username-Wapp, .BackPage-Div{display:none;}
.AdUserName-DtopWapp{width:60%;float:left;padding:5px 0 0 10px;text-align:justify;display:block;}
.AdUserName-DtopWapp h1{font-size:12px;color:#FFFFFF;}
.AdUserName-DtopWapp h1 .M-ChatOnline-Dot{margin:3px 6px 0 0;}
.AdUserName-DtopWapp p{line-height:normal;font-size:11px;margin:2px 0 0 15px;}
.ChatHeader-RightIconsArea li{color:#FFFFFF;}
.ChatType-inputText{width:80%;}
.ChatType-Icon-RightBox, .ChtPanle-CallBtn{display:none;}
.ChtPanle-CloseBtn{display:block;}
.M-Chat-TopOption-Wapp, .floatDiv-blockMakeOffer{margin:44px 0 0 0;}
.MChat-NewBlackScreen{position:absolute;}
.Chat-InnerWapper{position:absolute;margin:15vh 7.5% 0;text-align:left;}
.AdvOptions-BlockDelete-Wapp, .M-Chat-AttachOptions{margin-top:44px;}
.AdvOptions-BlockDelete-Wapp li{color:#414141;}
.attachingLocation-Wapp{padding:0;}
.attachingContact-wapp, .attachingLocation-Wapp{width:200px;}
.attachingLocation-Wapp h2{width:100%;padding:5px 5%;background:#e6e6e6;font-size:12px;font-weight:normal;display:block;}
.attachingLocation-Wapp h3{width:70px;height:70px;margin:5px;float:left;}
.attachingLocation-Wapp h4{width:100px;float:left;margin:5px;}
.mChat-QuikrForm{min-height:300px;text-align:left;padding-top:47px;width: 100%;}
.if-BottomPopup-View{padding-bottom:0;height:180px;}
.M-ChatBottom-Popup{height:120px;}
.quikrmChat-formTitle i{margin-left:10px;}
.quikrmChat-formTitle span{margin-top:7px;font-size:13px;width:240px;}

.register-Btn{position: relative;left: inherit;bottom: inherit;margin: 0;width: 100%;float: left;}

}

.floatDiv-LoadMore-msg{
  position:absolute;padding:8px 0;top:0;left:0;width:100%;margin:47px 0 0 0;text-align:center;
}
.LoadMore-msg-Button{
  width:auto;padding:7px 15px;background:#33a3d9;border-radius:10px;border:none;-webkit-box-shadow:0px 0 4px 0px rgba(0, 0, 0, 0.5);-moz-box-shadow:0px 0 4px 0px rgba(0, 0, 0, 0.5);box-shadow:0px 0 4px 0px rgba(0, 0, 0, 0.5);color:#FFFFFF;font-size:12px;
}

.location_thumbnail{
  background: url(/images/im/default_maps.jpg) no-repeat 0px 0px;width: 100%;height: 100%;
}



/*Icons css*/
/*
  Icon Font: chat-icons
*/

@font-face {
  font-family: "chat-icons";
  src: url("./chat-icons/chat-icons_b7db962b692c461a74bf3dcdafd5100c.eot");
  src: url("./chat-icons/chat-icons_b7db962b692c461a74bf3dcdafd5100c.eot?#iefix") format("embedded-opentype"),
       url("./chat-icons/chat-icons_b7db962b692c461a74bf3dcdafd5100c.woff") format("woff"),
       url("./chat-icons/chat-icons_b7db962b692c461a74bf3dcdafd5100c.ttf") format("truetype"),
       url("./chat-icons/chat-icons_b7db962b692c461a74bf3dcdafd5100c.svg#chat-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "chat-icons";
    src: url("./chat-icons_b7db962b692c461a74bf3dcdafd5100c.svg#chat-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add_audio:before,
.icon-add_files:before,
.icon-add_image:before,
.icon-add_location:before,
.icon-add_video:before,
.icon-attach:before,
.icon-basic_download:before,
.icon-block_user:before,
.icon-call:before,
.icon-camera:before,
.icon-canned_response:before,
.icon-chat:before,
.icon-clear_chat:before,
.icon-contact:before,
.icon-cross:before,
.icon-current_location:before,
.icon-delete_ad:before,
.icon-email:before,
.icon-emoji:before,
.icon-keypad:before,
.icon-option:before,
.icon-pause:before,
.icon-play:before,
.icon-popout_chat:before,
.icon-search:before,
.icon-send:before,
.icon-send_contact:before,
.icon-tick:before,
.icon-user:before,
.icon-warning:before {
  display: inline-block;
  font-family: "chat-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add_audio:before { content: "\f11d"; }
.icon-add_files:before { content: "\f11e"; }
.icon-add_image:before { content: "\f11f"; }
.icon-add_location:before { content: "\f120"; }
.icon-add_video:before { content: "\f121"; }
.icon-attach:before { content: "\f122"; }
.icon-basic_download:before { content: "\f138"; }
.icon-block_user:before { content: "\f123"; }
.icon-call:before { content: "\f124"; }
.icon-camera:before { content: "\f125"; }
.icon-canned_response:before { content: "\f126"; }
.icon-chat:before { content: "\f139"; }
.icon-clear_chat:before { content: "\f127"; }
.icon-contact:before { content: "\f128"; }
.icon-cross:before { content: "\f129"; }
.icon-current_location:before { content: "\f12a"; }
.icon-delete_ad:before { content: "\f12b"; }
.icon-email:before { content: "\f12c"; }
.icon-emoji:before { content: "\f12d"; }
.icon-keypad:before { content: "\f12e"; }
.icon-option:before { content: "\f12f"; }
.icon-pause:before { content: "\f130"; }
.icon-play:before { content: "\f131"; }
.icon-popout_chat:before { content: "\f132"; }
.icon-search:before { content: "\f133"; }
.icon-send:before { content: "\f134"; }
.icon-send_contact:before { content: "\f135"; }
.icon-tick:before { content: "\f136"; }
.icon-user:before { content: "\f137"; }
.icon-warning:before { content: "\f13a"; }
/*Icons css end*/
