@import url("http://www.todayhumor.co.kr/board/css/icon_sprites.css?11");

body,h1,h2,h3,h4,input,button,textarea,div,select { font-family:"gulim","Dotum","Helvetica","AppleGothic","sans-serif"; }

body { margin:0; }

A:link    {color: blue; text-decoration:none}
A:visited {color: blue; text-decoration:none}
A:hover   {color: red; text-decoration:underline }
td{font-size:9pt;line-height:180%;}

.subject A:link{
	color: #414141;
}

.subject A:visited{
	color: #a7a7a7;
}

#mobile_alert{
	font-size:20px;
/*	-webkit-border-radius: 20px;
	-moz-border-radius: 20px; 
	border-radius: 20px; */
	padding:20px;
	color:white;
	background:#7a0026;
	text-align:center;
	margin:10px;
	display:none;
	cursor:pointer;

}



#logo_line_container{ width:100%; text-align:center;padding: 5px 0 }
#logo_line{ position:relative; width:1005px; height:33px; overflow:hidden; margin:0 auto; text-align:left; }

#logo_toplogo{ float:left; }
#logo_toplogo img{ float:left; border:0; visibility:visible; }

#logo_menu{ float:left; margin-top:8px; margin-left:5px; }
#logo_menu a { float:left; background-image: url('/board/images/sprites_top_table_inc.png?t116'); height:16px; }

#btn_topmenu_announce { background-position:0 -102px; width:44px; } 
#btn_topmenu_total { background-position:0 -721px; width:61px; } 
#btn_topmenu_total_memo { background-position:0 -737px; width:46px; }
#btn_topmenu_control_panel { background-position:-47px -737px; width:40px; }

#logo_line1 { float:left; }

#logo_line2{ float:left; margin:6px 0 0 10px; }

/*#login_span{ float:right; font-size:12px; margin:6px 0 0 4px; color:#056083; }*/
#login_span{ position:absolute; top:8px; right:0; font-size:12px; color:#056083; }
#login_span a:link,#login_span a:visited, #login_span a:hover{ color:#056083; text-decoration:none; }
#login_span form { float:left; padding:0 6px 0 0; margin:0 6px 0 0; }
#login_span .login_input { float:left; width:60px; margin:0 3px 0 0; background:#ffffff; }
#login_span .login_btn { cursor:pointer; margin-top:2px; background-color:#FEFEFE; border:solid 1px #D7D7D7; color:#212121; font-family:Verdana,Tahoma; font-size:.8em; }
#login_user_info { float:left; margin:4px 8px 0 0; }
#login_user_info * { float:left; }
#login_user_menu { float:left; }
#login_user_menu a { float:left; margin:4px 4px 0 0; }
#login_user_menu.login a { padding:0 4px 0 0; border-right:1px solid #056083; }


.autocomplete-suggestions { font-size:12px; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }


#span_icon_clean{
	background: url('/board/images/icon_clean.gif') no-repeat;
	width:17px; 
	height:16px;
	margin-right:2px;
}
#span_text_clean{ margin-left:2px; }



#topmenu_container {
	list-style: none;
}

#topmenu_container li{
	display: inline;
}

.topmenu_button{ float:left; height:25px; margin-right:2px; background-image:url('/board/images/sprites_top_table_inc.png?t116'); background-repeat:no-repeat; }
.topmenu_game{ width:22px; margin-right:1px; }
.topmenu_division{ margin-right:5px; }
#topmenu_container img{border:0;}
#topmenu_container .dropmenu_button{ float:left; margin-right:2px; position:relative; font-size:12px; }
#topmenu_container .dropmenu_button.chromestyle{ background:url('/board/images/chromebg.gif') center center repeat-x; border:1px solid black; }
#topmenu_container .dropmenu_button .dropmenu_title{ float:left; display:inline-block; font-weight:bold; height:13px; padding:5px 6px; color:#494949; }
#topmenu_container .dropmenu_button .dropmenu_menu{ position:absolute; top:22px; left:0; z-index:10; height:auto; width:100px; border:1px solid #BBB; border-bottom-width:0; line-height:18px; background-color:#FFF; }
#topmenu_container .dropmenu_button .dropmenu_menu a{ display:block; padding:2px 0 2px 3px; border-bottom:1px solid #BBB; }
#topmenu_container .topmenu_line_container{ width:1005px; margin:0 auto; }

#topmenu_container #topmenu_line0{ background-color:#3ba1c7; border-bottom:1px dotted #b0eef5; border-top:1px solid #3289a9;}
#topmenu_container #topmenu_line0 .topmenu_line_container{ padding:5px 0; }


#topmenu_container #topmenu_line1{ background-color:#0089bc; border-bottom:1px dotted #b0eef5; }
#topmenu_container #topmenu_line1 .topmenu_line_container{ padding:5px 0; }
#topmenu_container #topmenu_line2{ background-color:#3aabcb; border-bottom:1px dotted #b0eef5; }
#topmenu_container #topmenu_line2 .topmenu_line_container{ padding:4px 0; }
#topmenu_container #topmenu_line3{ background-color:#009dbc; }
#topmenu_container #topmenu_line3 .topmenu_line_container{ padding:4px 0; }
#topmenu_container #topmenu_shadow{ width:100%; height:5px; background-image:url('/board/images/sprites_top_table_inc.png?t116'); background-repeat:repeat-x no-repeat; background-position:0 -884px; overflow:hidden; }
#topmenu_container #menu_explain_box{ position:absolute; white-space:nowrap; overflow:hidden; display:none; z-index:100; width:auto; border:1px solid #666; padding:3px 6px 1px 6px; background-color:yellow; font-size:12px; }

/* sprites_top_table_inc.png /*
.span_chromedown { background-position:0 0; width:9px; height:5px; } 
#span_member_find_id { background-position:0 -21px; width:32px; height:11px; } 
#span_member_find_pass { background-position:0 -33px; width:53px; height:11px; } 
#span_member_login { background-position:0 -45px; width:33px; height:11px; } 
#span_member_register { background-position:0 -57px; width:45px; height:11px; } 
#span_toplogo { background-position:0 -69px; width:228px; height:33px; }
*/
#span_topmenu_athens { background-position:0 -120px; width:147px; height:24px; } 
#span_topmenu_bestofbest { background-position:0 -807px; width:126px; height:25px;margin-right: 50px } 
#span_topmenu_humorbest { background-position:-128px -807px; width:96px; height:25px; margin-right: 50px} 
#span_topmenu_new { background-position:-71px -781px; width:56px; height:25px;margin-right:60px; } 

#span_topmenu_databox { background-position:0 -173px; width:22px; } 
#span_topmenu_freeboard { background-position:0 -199px; width:49px; } 
#span_topmenu_phil { background-position:-80px -1207px; width:22px; } 
#span_topmenu_art { background-position:-125px -1207px; width:24px; } 
#span_topmenu_solo { background-position:-174px -1207px; width:51px; } 
#span_topmenu_history { background-position:-120px -1233px; width:25px; } 
#span_topmenu_deca { background-position:-97px -1415px; width:24px; } 
#span_topmenu_photolec { background-position:-196px -1415px; width:23px; } 
#span_topmenu_camera { background-position:-122px -1415px; width:24px; } 
#span_topmenu_star { background-position:0 -1233px; width:48px; } 
#span_topmenu_nagasu { background-position:0 -1259px; width:17px; } 
#span_topmenu_computer { background-position:-60px -1233px; width:59px; }
#span_topmenu_it  { background-position:-177px -1389px; width:23px; } 
#span_topmenu_programmer  { background-position:-201px -1389px; width:22px; } 
#span_topmenu_gomin { background-position:0 -251px; width:51px; } 
#span_topmenu_love { background-position:-53px -251px; width:28px; } 
#span_topmenu_wedlock { background-position:-83px -251px; width:27px; } 





#span_topmenu_humordata { background-position:0 -305px; width:71px; } 
#span_topmenu_humorvideo { background-position:-72px -305px; width:24px; } 
#span_topmenu_jjal { background-position:-97px -305px; width:25px; } 
#span_topmenu_humorstory { background-position:0 -331px; width:59px; } 
#span_topmenu_jisik { background-position:0 -383px; width:47px; } 
#span_topmenu_jobinfo { background-position:-49px -383px; width:25px; } 

#span_topmenu_jjmana { background-position:0 -409px; width:105px; } 
#span_topmenu_jungmo { background-position:0 -435px; width:56px; } 
#span_topmenu_lovestory { background-position:0 -461px; width:59px; } 
#span_topmenu_oekaki { background-position:0 -487px; width:23px; } 
#span_topmenu_panic { background-position:0 -513px; width:21px; } 
#span_topmenu_sisa { background-position:0 -565px; width:49px; } 
#span_topmenu_sisacomics { background-position:0 -591px; width:152px; } 
#span_topmenu_story { background-position:0 -643px; width:73px; } 
#span_topmenu_today { background-position:0 -669px; width:82px; } 
#span_topmenu_todaybest { background-position:0 -695px; width:82px; } 
#span_topmenu_ub { background-position:0 -755px; width:90px; } 
#span_topmenu_voca { background-position:0 -781px; width:61px; } 
#span_topmenu_science { background-position:0 -921px; width:25px; } 
#span_topmenu_animal { background-position:0 -947px; width:21px; } 
#span_topmenu_soju { background-position:0 -973px; width:19px; } 
#span_topmenu_cook { background-position:0 -1025px; width:21px; } 
#span_topmenu_car { background-position:0 -1051px; width:25px; } 
#span_topmenu_sarangbang { background-position:0 -1077px; width:24px; } 
#span_topmenu_gomin19 { background-position:0 -1103px; width:48px; } 
#span_topmenu_music { background-position:0 -1129px; width:45px; } 
#span_topmenu_findmusic { background-position:-46px -1129px; width:23px; } 
#span_topmenu_oubc  { background-position:0 -1154px; width:79px; } 
#span_topmenu_religion  { background-position:0 -1181px; width:23px; } 
#span_topmenu_docu  { background-position:-18px -1259px; width:24px; } 
#span_topmenu_fashion  { background-position:-65px -1259px; width:26px; } 
#span_topmenu_open  { background-position:-106px -1259px; width:65px; } 
#span_topmenu_animation  { background-position:-48px -1337px; width:25px; } 
#span_topmenu_comics  { background-position:-172px -1415px; width:23px; } 
#span_topmenu_plant  { background-position:-47px -1285px; width:22px; } 
#span_topmenu_bicycle2  { background-position:-92px -1285px; width:22px; } 
#span_topmenu_military { background-position:-115px -1285px; width:24px; } 
#span_topmenu_military2 { background-position:-140px -1285px; width:24px; } 

#span_topmenu_boast { background-position:-0 -1311px; width:26px; } 
#span_topmenu_menbung { background-position:-27px -1311px; width:23px; } 
#span_topmenu_diet { background-position:-51px -1311px; width:24px; } 
#span_topmenu_economy { background-position:-76px -1311px; width:24px; } 
#span_topmenu_readers { background-position:0 -539px; width:47px; } 
#span_topmenu_readers { background-position:-101px -1311px; width:26px; } 
#span_topmenu_accident { background-position:-128px -1311px; width:24px; } 
#span_topmenu_pony { background-position:-153px -1311px; width:25px; } 
#span_topmenu_law { background-position:-179px -1311px; width:25px; } 
#span_topmenu_medical { background-position:0 -1337px; width:25px; } 
#span_topmenu_mystery { background-position:-26px -1337px; width:21px; } 
#span_topmenu_poop  { background-position:-74px -1337px; width:23px; } 
#span_topmenu_ouradio  { background-position:-98px -1337px; width:26px; } 
#span_topmenu_smartphone  { background-position:-125px -1337px; width:21px; } 
#span_topmenu_iphone  { background-position:-147px -1337px; width:23px; } 
#span_topmenu_android  { background-position:-171px -1337px; width:24px; } 
#span_topmenu_motorcycle  { background-position:0px -1363px; width:23px; } 
#span_topmenu_fishing  { background-position:-24px -1363px; width:29px; } 
#span_topmenu_movie  { background-position:-54px -1363px; width:26px; } 
#span_topmenu_travel  { background-position:-81px -1363px; width:23px; } 
#span_topmenu_drama  { background-position:-105px -1363px; width:26px; } 
#span_topmenu_mid  { background-position:-159px -1363px; width:26px; } 
#span_topmenu_fukushima  { background-position:-186px -1363px; width:23px; } 
#span_topmenu_xbox  { background-position:0 -1389px; width:25px; } 
#span_topmenu_ps  { background-position:-26px -1389px; width:25px; } 
#span_topmenu_mobilegame  { background-position:-125px -1389px; width:25px; } 
#span_topmenu_nintendo  { background-position:-151px -1389px; width:25px; } 
#span_topmenu_interior  { background-position:-52px -1389px; width:24px; } 
#span_topmenu_diy  { background-position:-49px -1441px; width:24px; } 
#span_topmenu_toy  { background-position:-77px -1389px; width:22px; } 
#span_topmenu_sos  { background-position:-100px -1389px; width:24px; }
#span_topmenu_podcast  { background-position:0px -1415px; width:22px; }
#span_topmenu_ou  { background-position:-23px -1415px; width:22px; }
#span_topmenu_overseabuy  { background-position:-46px -1415px; width:25px; }
#span_topmenu_baby  { background-position:-72px -1415px; width:24px; }
#span_topmenu_beauty  { background-position:0px -1441px; width:23px; }
#span_topmenu_psy  { background-position:-24px -1441px; width:24px; }

#span_topmenu_outstudy  { background-position:-99px -1441px; width:24px; }
#span_topmenu_emigration  { background-position:-74px -1441px; width:24px; }
#span_topmenu_soda  { background-position:-174px -1441px; width:23px; }
#span_topmenu_dream  { background-position:0px -1467px; width:24px; }
#span_topmenu_society  { background-position:-25px -1467px; width:21px; }





#span_topmenu_tvent		{ background-position:-112px -251px; width:23px; }
#span_topmenu_muhan		{ background-position:-137px -251px; width:23px; }
#span_topmenu_sports		{ background-position:-62px -617px; width:61px; }
#span_topmenu_baseball		{ background-position:-124px -617px; width:26px; }
#span_topmenu_soccer		{ background-position:-151px -617px; width:26px; }
#span_topmenu_basketball	{ background-position:-176px -617px; width:26px; }

#span_topmenu_gameroom		{ background-position:-142px -331px; width:80px; }
#span_topmenu_gametalk		{ background-position:-61px -331px; width:79px; }

#span_topmenu_starcraft		{ background-position:-72px -172px; width:22px; }
#span_topmenu_starcraft2	{ background-position:0 -120px; width:22px; }
#span_topmenu_wow		{ background-position:-24px -120px; width:22px; }
#span_topmenu_diablo2		{ background-position:-48px -120px; width:22px; }
#span_topmenu_diablo3		{ background-position:-72px -120px; width:22px; }
#span_topmenu_dungeon		{ background-position:-96px -120px; width:22px; }
#span_topmenu_mabinogi		{ background-position:-120px -120px; width:22px; }
#span_topmenu_mabi		{ background-position:-144px -120px; width:22px; }
#span_topmenu_minecraft		{ background-position:-168px -120px; width:22px; }
#span_topmenu_cyphers		{ background-position:-192px -120px; width:22px; }

#span_topmenu_lol		{ background-position:0 -146px; width:22px; }
#span_topmenu_bf3		{ background-position:-24px -146px; width:22px; }
#span_topmenu_fifa3		{ background-position:-48px -146px; width:22px; }
#span_topmenu_bns		{ background-position:-72px -146px; width:22px; }
#span_topmenu_wtank		{ background-position:-96px -146px; width:20px; }
#span_topmenu_gta5		{ background-position:-120px -146px; width:22px; }
#span_topmenu_hstone		{ background-position:-144px -146px; width:22px; }
#span_topmenu_black		{ background-position:-168px -146px; width:22px; }
#span_topmenu_heroes		{ background-position:-192px -146px; width:22px; }

#span_topmenu_maple1		{ background-position:0 -172px; width:22px; }
#span_topmenu_overwatch		{ background-position:-24px -172px; width:22px; }
#span_topmenu_pokemongo		{ background-position:-48px -172px; width:22px; }







#span_topmenu_coffee  { background-position:-22px -1025px; width:24px; }
#span_topmenu_instrument  { background-position:-70px -1129px; width:23px; }
#span_topmenu_sound  { background-position:-94px -1129px; width:23px; }
#span_topmenu_baduk  { background-position:-72px -1467px; width:23px; }





.main_table img { border:0; }
.main_table .more { margin:11px 2px 0 0; }
.main_table .list { padding:3px 0; }
.main_table .boardicon { vertical-align:middle; height:14px; }
.main_table .subject { margin:0 4px; }
.main_table .subject a { color:#4f4f4f; }
.main_table .memocount { margin:0 4px; color:#6a6a6a; font-weight:bold; font-size:11px; }
.main_table .okcount { float:right; color:#6a6a6a; font-weight:bold;font-family:Tahoma;font-size:11px;}
.main_table .top { float:left; width:10px; height:27px; color:#FFF; font-size:12px; font-weight:bold; line-height:27px; }
.main_table .top.center { width:375px; }
.main_table .middle.center { clear:both; margin-bottom:-6px; padding:4px 8px 0 8px; width:395px; overflow:hidden; border-width:0 2px 0 2px; border-style:solid; font-size:12px; line-height:13px; }
.main_table .bottom { float:left; width:10px; height:10px; }
.main_table .bottom.center { width:375px; height:10px; border-bottom:2px solid; }
.main_table .leftbox { float:left; }
.main_table .leftbox .top.center { background-color:#e43b1a; }
.main_table .leftbox .top.left { background-image:url('/board/images/edge_red01.gif'); }
.main_table .leftbox .top.right { background-image:url('/board/images/edge_red02.gif'); }
.main_table .leftbox .middle.center { border-color:#e43b1a; }
.main_table .leftbox .bottom.center { border-color:#e43b1a; }
.main_table .leftbox .bottom.left { background-image:url('/board/images/edge_red03.gif'); }
.main_table .leftbox .bottom.right { background-image:url('/board/images/edge_red04.gif'); }
.main_table .rightbox { float:left; margin-left:6px; }
.main_table .rightbox .top.center { background-color:#f17d0c; }
.main_table .rightbox .top.left { background-image:url('/board/images/edge_org01.gif'); }
.main_table .rightbox .top.right { background-image:url('/board/images/edge_org02.gif'); }
.main_table .rightbox .middle.center { border-color:#f17d0c; }
.main_table .rightbox .bottom.center { border-color:#f17d0c; }
.main_table .rightbox .bottom.left { background-image:url('/board/images/edge_org03.gif'); }
.main_table .rightbox .bottom.right { background-image:url('/board/images/edge_org04.gif'); }


.go_to_mobile {
    text-align:center;
    color:white;
    font-size:1em;
    padding:15px 0;
    background-color:#acca6e;
    font-weight:bold;
}



.view_info_table td{
	background-color:red;
	background: url('/board/images/sprites_list_view.gif') no-repeat top left;
}

.view_info_table > tr > td{

background-color:red;background: url('/board/images/sprites_list_view.gif') no-repeat top left;
background-position:0 -1608px; 
width:26px; 
height:23px; 
border:1px solid red
}


.table_list_subject{ overflow:hidden; }






.span_toptable_bg { background-position:0 -807px; width:6px; height:35px; } 
.span_toptable_bg2 { background-position:0 -843px; width:6px; height:40px; } 
.span_toptable_shadow { background-position:0 -884px; width:9px; height:5px; } 



/*sprites_list_view.gif*/
.sprites_banner_up { background-position:0 0; width:111px; height:19px; } 
.sprites_bar_back { background-position:0 -22px; width:10px; height:23px; } 
.sprites_bar_left_back { background-position:0 -48px; width:120px; height:23px; } 
.sprites_bar_right_back { background-position:0 -74px; width:80px; height:23px; } 
.sprites_book { background-position:0 -100px; width:115px; height:136px; } 
.sprites_bottomtable_shadow { background-position:0 -239px; width:6px; height:5px; } 
.sprites_contents_topbar { background-position:0 -247px; width:760px; height:11px; } 
.sprites_contents_topbar_lower { background-position:0 -261px; width:760px; height:6px; } 
.sprites_delete { background-position:0 -270px; width:73px; height:19px; } 
.sprites_doscrap { background-position:0 -292px; width:159px; height:52px; } 
.sprites_icon_clean { background-position:0 -347px; width:17px; height:14px; } 
.sprites_icon_lovestory { background-position:0 -364px; width:17px; height:14px; } 
.sprites_image_icon { background-position:0 -381px; width:10px; height:10px; } 
.sprites_ipaccuse { background-position:0 -394px; width:35px; height:10px; } 
.sprites_ipaccuse_count_view { background-position:0 -407px; width:79px; height:10px; } 
.sprites_list { background-position:0 -420px; width:73px; height:19px; } 
.sprites_memo_up { background-position:0 -442px; width:80px; height:80px; } 
.sprites_mini_icon { background-position:0 -525px; width:8px; height:7px; } 
.sprites_modify { background-position:0 -535px; width:73px; height:19px; } 
.sprites_nextpage { background-position:0 -557px; width:73px; height:19px; } 
.sprites_nok3 { background-position:0 -579px; width:114px; height:136px; } 
.sprites_ok3 { background-position:0 -718px; width:114px; height:136px; } 
.sprites_subject_bg { background-position:0 -857px; width:2px; height:60px; } 
.sprites_toptable_shadow { background-position:0 -920px; width:9px; height:5px; } 
.sprites_view_info_L { background-position:0 -928px; width:26px; height:189px; } 
.sprites_view_info_M { background-position:0 -1120px; width:32px; height:189px; } 
.sprites_view_info_R { background-position:0 -1312px; width:27px; height:189px; } 
.sprites_view_info_bg_b { background-position:0 -1504px; width:1px; height:32px; } 
.sprites_view_info_bg_t { background-position:0 -1539px; width:1px; height:23px; } 
.sprites_view_info_dot { background-position:0 -1565px; width:5px; height:5px; } 
.sprites_view_info_ear_lb { background-position:0 -1573px; width:26px; height:32px; } 
.sprites_view_info_ear_lt { background-position:0 -1608px; width:26px; height:23px; border:1px solid red} 
.sprites_view_info_ear_mb { background-position:0 -1634px; width:32px; height:32px; } 
.sprites_view_info_ear_mt { background-position:0 -1669px; width:32px; height:23px; } 
.sprites_view_info_rb { background-position:0 -1695px; width:27px; height:32px; } 
.sprites_view_info_rt { background-position:0 -1730px; width:27px; height:23px; } 
.sprites_view_source { background-position:0 -1756px; width:158px; height:52px; } 
.sprites_write_confirm { background-position:0 -1811px; width:73px; height:19px; } 
.sprites_write_confirm2 { background-position:0 -1833px; width:73px; height:19px; } 


.testDiv
{
	border:5px solid red;
	width:400px;
	height:400px;
	font-size:12px;
}

.upfile_image
{
	border:1px dotted orange;
}

.member_icon{
	border:0;
	/*vertical-align:middle;*/
	margin:0 2px;
}


.roundButton{
	border-radius:6px;
	background-color:black;
	color:white;
	padding:6px 8px;
	cursor:pointer;
}

.roundButton.selected{ border-radius:6px 6px 0 0; }

.roundButton.gray{ background-color:gray; color:white; }
.roundButton.gray:hover{ background-color:gray; }

.roundButton.skyblue{ background-color:#07add5; color:white; }
.roundButton.skyblue:hover{ background-color:#18cbf8; }

.roundButton.red{ background-color:#bd0000; color:white; }
.roundButton.red:hover{ background-color:#f70000; }

.call_div{ display:none;border-radius:6px;padding:2px 8px;color:white; }

.scv_notice{ position:relative; border:0; font-size:11px; }
.scv_notice div{ position:absolute; top:4px; right:6px; }
.scv_notice .bubble{ float:left; height:17px; }
.scv_notice .bubble.middle{ padding:0 4px; background:url(/images/scvnotice_middle.gif) repeat-x; line-height:17px; color:black; }
.scv_notice .bubble.left{ width:2px; background:url(/images/scvnotice_left.gif) no-repeat; }
.scv_notice .bubble.right{ width:5px; background:url(/images/scvnotice_right.gif) no-repeat; margin-right:2px; }




tr.list_border_bottom td {
  /*border-bottom:1px solid #0089BC;*/
  border-bottom:1px solid gray;

}

/*.list_icon_td img{
	text-align:left;
	vertical-align: middle;
}
*/
.list_icon_td{
	position:relative;
}
.list_icon_td  div{
	position:absolute;top:5px
}


/*list tr --> .view*/
.view { height:31px;}


.table_list{ position: relative; background-color: white; }
.table_list th{font-weight: normal;border-top:1px solid #c2c2c2;border-bottom:1px solid #c2c2c2;padding:6px 0;}
.table_list th td{}
.table_list thead tr{ height: 23px; color:#999; font-size:12px; text-align: center; }
/*.table_list thead tr th{ background: url('http://www.todayhumor.co.kr/board/images/bar_back.gif'); font-weight: normal; }*/
/*.table_list thead tr th.left{ background: url('http://www.todayhumor.co.kr/board/images/bar_left_back.gif') no-repeat; }*/
/*.table_list thead tr th.right{ background: url('http://www.todayhumor.co.kr/board/images/bar_right_back.gif') no-repeat -17px; }*/
.table_list tbody tr.view:hover{ background-color: #DEF2FF; }
.table_list tbody tr.view td{ border-bottom: 1px solid rgb(232, 232, 232);}
.table_list tbody tr.view_now { background-color:#f1f2f1}
.table_list tbody tr td.no{ text-align: center; }
.table_list tbody tr td.no a{ color: #444; font-size: 11px; }
.table_list tbody tr td.icon img{ text-align:left; vertical-align: middle; }
.table_list tbody tr td.subject{ text-align:left; word-break: break-all; }
.table_list tbody tr td.name{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 11.5px; text-align: left; }
.table_list tbody tr td.name a{ color:#414141;}
.table_list tbody tr td.date{ font-size:10px;font-family:tahoma; text-align:center; }
.table_list tbody tr td.hits{ color:#5C5C5C; font-size:11px; text-align:right; }
.table_list tbody tr td.oknok{ color:gray; font-size:11px; font-weight:bold; text-align:center; }
.table_list tbody tr td.button{ height: 30px; }
.table_list tbody tr td.page{ height: 40px; text-align: center; }
.table_list tbody tr td.page span{ font-size: 16px; color: #5151FD; }
.table_list tbody tr td.page span.selected{ color: red; font-weight: bold; }
.table_list tbody tr td.list_ad{ border-bottom: 1px solid #c2c2c2; padding:12px 0 6px; background-color: white; text-align: center; }






#board_map{
    width:850px;
    background:#eaedee;
    display:none;
    position:absolute;
    top:34px;
    left:77px;
    box-shadow: 0 0 3px #bbb;
    z-index:999;
    padding:0px;
}

#board_map table{
    width:100%;

    border-collapse: collapse;       
    box-shadow: 0px 0px 3px #888888; 
}

#board_map tr:nth-child(even){
    background-color:#ffffff;
}
#board_map tr:nth-child(odd){
    background-color:#f5f5f5;
}

#board_map  td{
    /*padding:7px 0;*/  
    line-height: 2.2;  
}

#board_map td:first-child{
    padding:5px 10px;
    width:100px;
}



#board_map td:first-child{
    font-weight: bold;
    
}

#board_map tr:first-child{
    background-color:#64b4c7;
    font-weight:bold;
    color:white;
    height:30px;
}

#board_map li {
    list-style: none;
    float:left;
    margin-right:8px;


}

#board_map a:link,#board_map a:visited{
    color:black; 
}

#board_map img {
	float:left;
	margin-right:2px;
}

#board_map .board_icon_mini {
	float: left;

}

.li`t_memo_count_span {
	color:#666666;
	font-size:11px;
	font-weight: bold;
}

/*.list_name_member {
	color:gray;
	font-weight:bold;
}
*/
.list_name_no_member {
	color:silver !important;
}

.list_name_anonymous{
	color:#d7912c;
}

img.bgm_icon {
    margin-right: 1px;
}






.best_sort_link{
	padding: 7px 10px;
	border-top:1px solid #c2c2c2;

	margin-top:10px;
	/* margin-top:10px; */
	/* text-align:left; */
}
.best_sort_link ul{
	padding:0;
}

.best_sort_link a{
	color:#616161;
}

.best_sort_link li{
	display:inline; 
	margin-right:25px;
	position: relative;
}

.best_sort_link img{
	margin-right:3px;
}

.nok_seperator{
	margin-left:1px;
	margin-right:1px;
}



/*msg */
	.msg_container{
		border-color:#8dc41e;
		border-radius:10px;
		border-width:6px;
		border-style:solid;
		margin:20px 0;
		padding:8px;
		background-color:white;
	}
	.msg_container .msg_btn_more{
		float:right;
		font-size:12px;
		color:black !important;
		padding-top:8px;
		margin-left:4px;
	}
	.msg_container h1, .msg_container h1 a{
		font-size:18px;
		font-weight:normal;
		margin:0;
		color:black !important;
	}
	.msg_container .msg_list{
		width:100%;
		padding:0;
		margin:2px 0 0 0;
		border-collapse:collapse;
		border-top:1px solid black;
	}
	.msg_container .msg_list td{
		border-bottom:1px solid black;
		padding:0;
	}
	.msg_container .msg_list .msg_writer{
		text-align:right;
		padding-right:6px;
		white-space:nowrap;
	}
	.msg_container .msg_list .msg_data{
		<? if(!$is_mobile){ ?>
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		width:502px;
		<? } ?>
	}
	.msg_container .msg_list .msg_msg{
		/*border-top:1px solid black;*/
		padding:10px 0;
		/*margin:5px 5px 0 0;*/
		color:black;
	}
	.msg_container .msg_list .is_unread td a{
		color:black;
	}
	.msg_container .msg_list .is_read, .msg_container .msg_list .is_read td a{
		color:gray;
	}
	.msg_container .msg_list .simple_date{
		margin-left:6px;
	}
	.msg_container .msg_list .is_unread .simple_date{
		color:#fe5804;
	}
	.msg_container .msg_list .is_unread .board_name{
		color:#f30900;
	}
	.msg_container .msg_list .is_unread .msg_type{
		color:#f30900;
	}
	.msg_container .msg_list .msg_deletedwrite{
		text-decoration:line-through;
	}
	.msg_container .msg_list td a:visited{
		color:gray;
	}
/*msg end*/	





/*연관게시판 관련 css*/
.relativeTablesContainer{
  margin-top:40px;
}


.relativeTables{
  border:1px solid #d2d2d2;
  background-color:#f8f8f8;
  padding:15px 18px;
  margin-bottom: 20px;
}


.relativeTables>div{
  position:relative;
  float:left;
  margin-right:50px;  
  padding-left: 25px;
  cursor: pointer;

}

.relativeTables .board_icon_mini{
  float: left;
  margin-right:3px;
}




/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}



