SPAN.st {font-size:11px; font-weight:bold;}
SPAN.st_1 {color:#9C0;}
SPAN.st_2 {color:#69C;}
SPAN.st_5 {color:#F80;}
SPAN.st_6 {color:#666;}
SPAN.st_10 {color:#966B9C;}
SPAN.st_b_1 {color:#FFFFFF; background:#9C0; padding:2px 5px;}
SPAN.st_b_2 {color:#FFFFFF; background:#69C; padding:2px 5px;}
SPAN.st_b_5 {color:#FFFFFF; background:#F80; padding:2px 5px;}
SPAN.st_b_6 {color:#FFFFFF; background:#666; padding:2px 5px;}
SPAN.st_b_10 {color:#FFFFFF; background:#966B9C; padding:2px 5px;}

/* Strip annunci */
UL.ads_strip {float:left;}
UL.ads_strip.turbo {background:#FFE;}
UL.ads_strip LI {float:left; width:122px; margin:0 0 10px 10px; overflow:hidden;}
UL.ads_strip LI SPAN {display:block; font-size:11px; margin-top:2px;}
UL.ads_strip LI A.tit {color:#07D; line-height:1.1; text-decoration:none;}
UL.ads_strip LI A.tit:hover {color:#E60;}
UL.ads_strip LI SPAN.pic {position:relative;}
UL.ads_strip LI SPAN.pic IMG {width:110px; height:110px;}
UL.ads_strip LI SPAN.pic SPAN.rivuff {position:absolute; bottom:0; right:0;}
UL.ads_strip LI SPAN.pic SPAN.rivuff IMG {width:50px; height:auto;}
UL.ads_strip LI SPAN.pc {width:88px; height:13px; font-size:11px; font-weight:normal; color:#FFF; white-space:nowrap; text-align:center; background:#0C0; padding:1px; border-radius:3px; margin-top:5px;}
UL.ads_strip LI SPAN.pn {margin-top:5px;}
UL.ads_strip LI SPAN.pn IMG {margin:3px 2px -3px 0;} 
UL.ads_strip LI SPAN.tit {font-size:15px; font-weight:bold; text-transform:capitalize; margin-top:5px;}
UL.ads_strip LI SPAN.mc {margin-top:3px;}
UL.ads_strip LI SPAN.prz {font-size:16px; font-weight:bold; margin-top:5px;}
UL.ads_strip LI SPAN.prz SPAN.sg {font-weight:normal;}
UL.ads_strip LI SPAN.usr {color:#999;}
UL.ads_strip LI.first {margin-left:0;}

/* Layout specifico */
DIV#mytb {width:100%; height:40px; background:#111;}
DIV#mytb_inner {width:980px; height:40px; background:#333; padding:0 10px; margin:0 auto;}
DIV#mytb_nw {float:left;}
DIV#mytb_nw * {float:left;}
DIV#mytb_nw LI {margin-left:20px;}
DIV#mytb_nw LI.first {margin-left:0;}
DIV#mytb_nw LI A:hover {opacity:0.80; filter:alpha(opacity=80);}
DIV#mytb_usr {float:right; font-size:12px; color:#EEE; text-align:right;}
DIV#mytb_usr SPAN {display:block; float:left; padding:2px 0 2px 7px; border-left:1px solid #999; margin:10px 7px 10px 0;}
DIV#mytb_usr SPAN A {color:#FE0; text-decoration:underline;}
DIV#mytb_usr SPAN A:hover {color:#FA0;}
DIV#mytb_usr SPAN.first {padding-left:0; border-left:none;}
DIV#mytb_usr SPAN.avt {padding:3px 0; margin:0;}
DIV#mytb_usr SPAN.avt IMG {width:34px; height:34px;}
DIV#mytb_usr SPAN.vetlogo {padding:4px 0; margin:0;}
DIV#mytb_usr SPAN.vetlogo IMG {width:88px; height:31px;}
DIV#mytb_usr SPAN.usr {max-width:180px; border-left:none; overflow:hidden;}
DIV#mytb_usr A SPAN.usr {font-weight:bold; color:#FFF;}
DIV#mytb_usr A:hover SPAN.usr {text-decoration:underline;}
DIV#mytb_usr SPAN.logout A {color:#AAA;}
DIV#mytb_usr SPAN.logout A:hover {color:#CCC;}

/* Banner */
DIV#banner_leaderboard {text-align:center;}
DIV#banner_mainbox {width:300px; text-align:center; padding-bottom:15px; border-bottom:1px solid #CCC; overflow:hidden;}
DIV#banner_sidebox {float:left; width:300px; text-align:center; margin-top:15px; overflow:hidden;}
DIV#banner_footerboard_cnt {clear:both; width:980px; margin:15px auto 0 auto;}
DIV#banner_footerboard {}

/* Debug */
DIV#debug {position:fixed; top:0; left:0; background:#FF0; z-index:9999;}
DIV#cnt {}

/* Header */
DIV#hdr {background:#FFF;}
DIV#hdr_leaderboard {width:980px; height:90px; background:#F3F3F3; padding:10px; margin:5px auto 0 auto;}
DIV#hdr_menusez {width:1000px; height:40px; background:#FFF; margin:0 auto; overflow:hidden;}
DIV#hdr_menusez A {color:#111;}
DIV#hdr_menusez_logo {width:410px; float:left; padding-left:10px;}
DIV#hdr_menusez_logo IMG {width:410px; height:40px;}
DIV#hdr_menusez_link {float:left; width:570px; height:39px; padding-right:10px; border-bottom:1px solid #CCC;}
DIV#hdr_menusez_link UL {float:right; padding-top:10px;}
DIV#hdr_menusez_link LI {font-weight:bold; float:left; padding:2px 7px; border-right:1px solid #CCC;}
DIV#hdr_menusez_link LI.negozi A {font-weight:bold;} /* color:#0059B2; */
DIV#hdr_menusez_link LI.artigiani A {font-weight:bold; color:#009900;}
DIV#hdr_menusez_link LI.corner A {font-weight:bold; color:#B200B2;}
DIV#hdr_menusez_link LI.last {padding-right:0; border-right:0;}

/*2015 Halloween 
	DIV#hdr_menusez.hdr_menusez_hwn15 DIV#hdr_menusez_logo {width:470px;}
	DIV#hdr_menusez.hdr_menusez_hwn15 DIV#hdr_menusez_logo IMG {width:470px; height:40px;content:url(/img/mercatino-musicale_hwn15.png);}
	DIV#hdr_menusez.hdr_menusez_hwn15 DIV#hdr_menusez_link {width:510px;padding:0;}
	DIV#hdr_menusez.hdr_menusez_hwn15 DIV#hdr_menusez_link LI {padding:2px 5px;}
*/

DIV#hdr_search {clear:both; background:url(/img/hdr_search_bg.png) repeat-x left bottom;}
DIV#hdr_search *:focus {outline:0;}
DIV#hdr_search_inner {width:990px; height:60px; background:url(/img/hdr_search_bg.png) #FFF repeat-x left bottom; padding-left:10px; margin:0 auto;}
DIV#hdr_searchfield {float:left; width:630px; height:34px; margin-top:13px;}
DIV#hdr_searchfield_sel {position:relative; float:left; background:url(/img/hdr_searchfield_sel_bg.png) no-repeat; white-space:nowrap; overflow:hidden;}
DIV#hdr_searchfield_sel_inner {width:100px; height:24px; background:url(/img/hdr_searchfield_sel_inner_bg.png) repeat-x; padding:11px 10px 0 0; margin-left:10px;}
DIV#hdr_searchfield_sel_inner SPAN {font-size:12px; text-shadow:1px 1px #FFF;}
DIV#hdr_searchfield_sel_inner SPAN B.sel {color:#F30;}
DIV#hdr_searchfield_sel:hover {background-image:url(/img/hdr_searchfield_sel_on_bg.png); cursor:pointer;}
DIV#hdr_searchfield_sel:hover DIV#hdr_searchfield_sel_inner {background-image:url(/img/hdr_searchfield_sel_inner_on_bg.png);}
DIV#hdr_searchfield_sel SELECT {position:absolute; top:0; left:0; height:34px; opacity:0; filter:alpha(opacity=0); visibility:visible}
DIV#hdr_searchfield_sel_x {width:24px; height:24px; background:url(/img/hdr_searchfield_sel_inner_bg.png) repeat-x; padding:11px 10px 0 0; margin-left:10px;}
DIV#hdr_searchfield_sel_box {display:none; position:absolute; top:34px; background:#FFF; padding:1px; border:1px solid #999; z-index:100;}
DIV#hdr_searchfield_sel_box LI {font-size:12px; padding:4px 20px 4px 6px;}
DIV#hdr_searchfield_sel_box LI:hover {background:#BFDFFF;}
DIV#hdr_searchfield_sel_box UL.sep {border-bottom:1px solid #CCC; padding:4px 0; margin-bottom:4px;}
DIV#hdr_searchfield_text {float:left; background:url(/img/hdr_searchfield_text_bg.png) repeat-x;}
DIV#hdr_searchfield_text_inner {width:452px; height:34px; background:url(/img/hdr_searchfield_text_inner_bg.png) no-repeat; padding:0 5px 0 5px; overflow:hidden;}
DIV#hdr_searchfield_text INPUT {width:100%; font-size:14px; background:transparent; padding:10px 0 9px 0; border:0;}
DIV#hdr_searchfield_btn {float:left; width:38px; height:34px; background:url(/img/hdr_searchfield_btn_bg.png) no-repeat;}
DIV#hdr_searchfield_btn INPUT {width:38px; height:34px; font-size:13px; font-weight:bold; color:#FFF; background:transparent; border:0; outline:none; cursor:pointer;}
DIV#hdr_searchfield_btn:hover {background-image:url(/img/hdr_searchfield_btn_on_bg.png)}
DIV.hdr_search_link {float:left; text-shadow:1px 1px #FFF; margin-top:8px;}
DIV.hdr_search_link A {display:block; font-size:11px; color:#111; padding:6px 13px;}
DIV.hdr_search_link A H6 {font-size:14px; margin-bottom:0;}
DIV.hdr_search_link A:hover {text-decoration:none;}
DIV#hdr_search_link_more {border-right:1px solid #CCC;}
DIV#hdr_search_link_more A {padding-left:10px;}
DIV#hdr_search_link_more A:hover {color:#666;}
DIV#hdr_search_link_new {border-left:1px solid #FFF;}
DIV#hdr_search_link_new A {padding-right:0;}
DIV#hdr_search_link_new A H6 {color:#E60;}

DIV#hdr_searchmore {display:none; clear:both; background:#CADFF4; padding:10px 0; border-top:1px solid #96BFE9; border-bottom:1px solid #96BFE9; margin-top:15px;}
DIV#hdr_searchmore_inner {width:980px; margin:0 auto; overflow:hidden;}
DIV#hdr_searchmore DIV.search {float:left; width:700px; font-size:12px; background:#E4EFFA; padding:10px; border-radius:3px;}
DIV#hdr_searchmore DIV.search DIV.lay_left {padding:0; overflow:hidden;}
DIV#hdr_searchmore DIV.search TD {height:30px;}
DIV#hdr_searchmore DIV.search TD.lbl {text-align:right; color:#4B79A6; padding-right:10px;}
DIV#hdr_searchmore DIV.search INPUT.prz_from {width:80px; margin-right:10px;}
DIV#hdr_searchmore DIV.search INPUT.prz_to {width:80px;}
DIV#hdr_searchmore DIV.search DIV.btn {float:left; width:100%; text-align:center; margin-top:10px;}
DIV#hdr_searchmore DIV.search BUTTON {color:#FFF; font-weight:bold; background:#3E8AD7; border-color:transparent #58B #58B transparent; cursor:pointer; padding:3px 20px;}
DIV#hdr_searchmore DIV.search BUTTON:active {border-color:#58B transparent transparent #58B;}
DIV#hdr_searchmore DIV.search .sel {color:#F30; background:#FFD;}
DIV#hdr_searchmore DIV.searchby {float:left; width:230px; background:#E4EFFA; padding:10px; margin-left:10px; border-radius:3px;}
DIV#hdr_searchmore DIV.searchby SPAN {display:block;}
DIV#hdr_searchmore DIV.searchby SPAN.lbl {margin-bottom:3px;}
DIV#hdr_searchmore DIV.searchby BUTTON {height:24px; color:#FFF; background:#3E8AD7; border-color:transparent #58B #58B transparent; cursor:pointer;}
DIV#hdr_searchmore DIV.searchby BUTTON:active {border-color:#58B transparent transparent #58B;}

DIV#hdr_menurep {clear:both; height:40px; text-shadow:1px 1px #FFF; background:url(/img/hline_bg.gif) #F3F3F3 repeat-x left bottom; overflow:hidden;}
DIV#hdr_menurep_inner {width:980px; margin:0 auto;}
DIV#hdr_menurep UL {float:left; border-right:1px solid #CCC;}
DIV#hdr_menurep LI {float:left; background:#FFF; border-left:1px solid #CCC; border-bottom:1px solid #CCC;}
DIV#hdr_menurep LI A {display:block; height:27px; text-align:center; color:#111; background:#F3F3F3; padding-top:11px; margin:1px 0 0 1px;}
DIV#hdr_menurep LI A:hover {color:#E60; text-decoration:none;}
DIV#hdr_menurep LI.sel {border-bottom:none;}
DIV#hdr_menurep LI.sel A {font-weight:bold; height:28px; background:#FFF; padding-top:8px; border-top:3px solid #F80; margin-right:1px;}
DIV#hdr_menurep LI A.rp1 {width:64px;}
DIV#hdr_menurep LI A.rp2 {width:63px;}
DIV#hdr_menurep LI A.rp3 {width:51px;}
DIV#hdr_menurep LI A.rp4 {width:63px;}
DIV#hdr_menurep LI A.rp5 {width:43px;}
DIV#hdr_menurep LI A.rp6 {width:64px;}
DIV#hdr_menurep LI A.rp7 {width:119px;}
DIV#hdr_menurep LI A.rp8 {width:111px;}
DIV#hdr_menurep LI A.rp9 {width:99px;}
DIV#hdr_menurep LI A.rp10 {width:64px;}
DIV#hdr_menurep LI A.rp11 {width:110px;}
DIV#hdr_menurep LI A.rp14 {width:103px;}

/* Body */
DIV#body {clear:both; width:1000px; background:#FFF; margin:0 auto; overflow:hidden;}
DIV#body_inner {float:left; width:980px; padding:0 10px;}

DIV#side_float {float:left;}

/* Breadcrumb */
DIV.breadcrumb {width:980px; padding:10px 0 5px 0; border-bottom:1px solid #CCC; overflow:hidden;}
DIV.breadcrumb UL {float:left; padding:5px 0;}
DIV.breadcrumb LI {display:inline; font-size:12px; white-space:nowrap; background:url(/img/breadcrumb_bg.png) no-repeat left center; padding-left:17px; margin-left:5px;}
DIV.breadcrumb LI.first {background:none; padding-left:0; margin-left:0;}

/* cat e cathint link under description */
UL.anncatlink {
	clear: both;
  padding: 3px 5px;
  margin-bottom: 5px;
  background: rgb(243,243,243);
  background: -moz-linear-gradient(left, rgba(243,243,243,1) 20%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(20%,rgba(243,243,243,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(243,243,243,1) 20%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(243,243,243,1) 20%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(243,243,243,1) 20%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(243,243,243,1) 20%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ffffff',GradientType=1 );
}
UL.anncatlink LI {font-size:11px; white-space:nowrap; color:#999;}
UL.anncatlink LI A {color:#666;}

/* Box specifici */
.box.box_corner IMG {position:absolute; width:140px; height:140px; top:40px; left:28px;}
.box.box_corner SPAN.cta {position:absolute; width:140px; bottom:10px; right:10px; font-size:16px; font-weight:bold; text-align:right; color:#F80;}
.box.box_corner:hover SPAN.cta {color:#F30; text-decoration:underline;}

.box.box_artigiani H3 {color:#090;}
.box.box_artigiani IMG {position:absolute; bottom:0;}
.box.box_artigiani SPAN.cta {position:absolute; top:56px; right:10px; font-size:15px; font-weight:bold; text-align:right;}
.box.box_artigiani:hover SPAN.cta {text-decoration:underline;}

.box.box_volantini {background:#FFFFC1;}
.box.box_volantini H3 {color:#F00;}
.box.box_volantini H3 SPAN {color:#AAA;}
.box.box_volantini IMG {position:absolute; bottom:0; right:10px;}
.box.box_volantini SPAN.cta {position:absolute; top:86px; right:10px; font-size:15px; font-weight:bold; text-align:right;}
.box.box_volantini:hover SPAN.cta {text-decoration:underline;}

/* Paging */
DIV.search_paging {float:left; width:650px;}
DIV.search_paging DIV.tot {float:left; height:21px; padding-top:6px;}
DIV.search_paging DIV.ord {float:right;}
DIV.search_paging DIV.pag {float:right; text-align:right; padding-left:30px;}
DIV.search_paging DIV.pag SPAN.btn {margin:0 5px 0 0;}
DIV.search_paging DIV.pag SPAN.btn A {padding-left:7px; padding-right:7px;}
DIV.search_paging DIV.pag SPAN.btn.m_r15 {margin-right:15px;}
DIV.search_paging DIV.pag SPAN.btn.m_l15 {margin-left:15px;}
DIV.search_paging DIV.pag SPAN.btn.sel {background:#F80; border-color:#F80;}
DIV.search_paging DIV.pag SPAN.btn.sel A {font-weight:bold; color:#FFF; text-shadow:none;}
DIV.search_paging DIV.pag SPAN.pag {display:block; float:left; height:21px; padding-top:6px; margin-right:5px;}
DIV.search_paging DIV.pag.pag_list {clear:both; padding:0; margin-top:15px;;}
DIV#search_paging_top {padding-top:15px;}
DIV#search_paging_btm {padding:5px 0 25px 0;}

/* Search */

DIV#search {float:left; padding-top:15px;}
DIV#search_tit {float:left; width:980px; overflow:hidden;}
DIV#search_tit DIV#search_save {float:right; text-align:right;}

DIV#search_flt {position:relative; float:left; width:980px; border-bottom:1px solid #CCC; z-index:10;}
DIV#search_flt SPAN.btn {margin-right:15px; margin-bottom:10px;} 
DIV#search_flt SPAN.btngrp {margin-right:15px;} 
DIV#search_flt SPAN.btngrp SPAN.btn {margin-right:-1px;}

#flymenu_flt_prz FORM {overflow:hidden}
#flymenu_flt_prz FORM DIV {float:right; width:120px; margin-bottom:8px;}
#flymenu_flt_prz FORM DIV.btn {text-align:right;}
#flymenu_flt_prz FORM SPAN {float:left;}
#flymenu_flt_prz FORM SPAN.lbl {width:40px; text-align:right; padding-top:3px;}
#flymenu_flt_prz FORM SPAN.inp {width:70px; margin-left:10px;}
#flymenu_flt_prz FORM SPAN.inp INPUT {width:60px; font-weight:bold; text-align:right;}

DIV#search_tab {float:left; width:980px; text-shadow:1px 1px #FFF; background:url(/img/search_tab_bg.png) repeat-x left bottom; padding:0 10px; margin:25px 0 0 -10px;; overflow:hidden;}
DIV#search_tab_inner {float:left; height:70px;}
DIV#search_tab UL {float:left; background:#FFF; border-top:1px solid #CCC; border-right:1px solid #CCC;}
DIV#search_tab LI {float:left; border-left:1px solid #CCC; border-bottom:1px solid #CCC;}
DIV#search_tab LI A {display:block; height:57px; font-size:15px; font-weight:bold; line-height:1; color:#111; background:#F3F3F3; padding:10px 15px 0 15px; margin:1px 0 0 1px;}
DIV#search_tab LI A:hover {color:#E60; text-decoration:none;}
DIV#search_tab LI A:hover B.f_green {color:#E60; text-decoration:none;}
DIV#search_tab LI A SPAN {display:block; font-size:13px; font-weight:normal; font-style:italic; color:#666; padding-top:6px;}
DIV#search_tab LI.all A {font-size:18px; line-height:1.3;}
DIV#search_tab LI.all SPAN {margin-top:-5px;}
DIV#search_tab LI.sel {border-bottom:none; margin-right:1px;}
DIV#search_tab LI.sel A {font-weight:bold; height:58px; background:#FFF; padding-top:7px; border-top:3px solid #F80;}
DIV#search_tab LI.sel.zero A {border-top-color:#F00;}
DIV#search_tab LI.sel.zero * {color:#F00;}
DIV#search_tab LI.sel.zero SPAN {color:#F00;}

DIV#search_cnt {float:left; width:980px; background:url(/img/vline_shdw_bg.png) repeat-y 665px top; margin-top:15px;}
DIV#search_main {float:left; width:650px; padding-right:15px;}

DIV#search_list {float:left; overflow:hidden; padding:10px 0;}
DIV#search_list DIV.tit_pricerange {clear:both; font-size:15px; background:#DEF; padding:10px;}
DIV#search_list DIV.item {position:relative; float:left; width:650px; padding:15px 0 5px 0; border-top:1px dotted #CCC; border-bottom:1px dotted #CCC; margin-top:-1px; z-index:1;}
DIV#search_list DIV.item DIV {float:left;}
DIV#search_list DIV.item DIV SPAN {display:block; font-size:11px; margin-bottom:5px;}
DIV#search_list DIV.item DIV.pic {width:130px; padding-right:15px;}
DIV#search_list DIV.item DIV.pic A {position:relative; display:block;}
DIV#search_list DIV.item DIV.pic IMG {width:130px; height:130px;}
DIV#search_list DIV.item DIV.pic:hover {border-color:#666;}
DIV#search_list DIV.item DIV.pic SPAN.tot {color:#999; text-align:center; margin-top:5px;}
DIV#search_list DIV.item DIV.ann {width:265px; overflow:hidden;}
DIV#search_list DIV.item DIV.ann H3 {font-size:16px; line-height:1.15; margin:0 0 5px 0;}
DIV#search_list DIV.item DIV.ann H3 A:hover {color:#E80;}
DIV#search_list DIV.item DIV.ann P {font-size:11px; color:#666; margin-bottom:5px;}
DIV#search_list DIV.item DIV.ann P SPAN {float:left; padding-right:5px;}
DIV#search_list DIV.item DIV.inf {width:105px; text-align:right; padding-left:10px;}
DIV#search_list DIV.item DIV.inf SPAN.prz {font-size:18px; font-weight:bold; color:#C00;}
DIV#search_list DIV.item DIV.inf SPAN.sg {font-weight:bold; color:#C00;}
DIV#search_list DIV.item DIV.inf SPAN.st {margin-bottom:10px;}
DIV#search_list DIV.item DIV.inf SPAN.btn {margin-top:5px;}
DIV#search_list DIV.item DIV.inf SPAN.pn IMG {margin:3px 2px -3px 0;} 
DIV#search_list DIV.item DIV.usr {width:110px; text-align:center; padding-left:15px; overflow:hidden;}
DIV#search_list DIV.item DIV.usr SPAN {font-size:11px; color:#666;}
DIV#search_list DIV.item DIV.usr SPAN.usr {font-size:12px; font-weight:bold; color:#111;}
DIV#search_list DIV.item DIV.usr SPAN.url {margin-top:5px;}
DIV#search_list DIV.item DIV.usr SPAN.rivuff {margin-top:10px;} 
DIV#search_list DIV.item:hover {border-top:1px solid #CCC; border-bottom:1px solid #CCC; box-shadow:0 0 10px 0 #CCC; z-index:2;}
DIV#search_list DIV.item DIV.do {clear:both; padding-left:145px; margin-top:5px;} 

DIV#search_list DIV.item.ute DIV.avt {width:100px;}
DIV#search_list DIV.item.ute DIV.ute {width:400px; margin-left:15px;}
DIV#search_list DIV.item.ute DIV.ute H3 {font-size:16px; line-height:1.15; margin:0 0 5px 0;}
DIV#search_list DIV.item.ute DIV.tot {width:120px; padding-left:15px;}
DIV#search_list DIV.item.ute DIV.tot SPAN {font-size:13px; text-align:center;}
DIV#search_list DIV.item.ute DIV.tot SPAN.tot {font-size:22px; font-weight:bold; margin:10px 0;}

DIV.turbo_list DIV.item {background:#FFE;}
DIV.turbo_list DIV.item DIV.pic IMG.pic {border:1px solid #EED;}

DIV#search_side {float:left; width:300px; padding-left:15px;}

DIV#search_side_boxcorner {border-radius:3px; margin-top:15px; overflow:hidden;}
DIV#search_side_boxcorner DIV#search_side_boxcorner_inner {padding:10px; border:1px solid #CCC; border-top:none;}
DIV#search_side_boxcorner H3 {font-size:16px; color:#FFF; background:#0A0; padding:3px 5px; margin:0;}
DIV#search_side_boxcorner P {clear:both;}
DIV#search_side_boxcorner P IMG.logo {float:left; margin:0 20px 15px 0;}
DIV#search_side_boxcorner UL.ads_strip {clear:both;}
DIV#search_side_boxcorner UL.ads_strip LI {width:130px; margin-left:12px;}
DIV#search_side_boxcorner UL.ads_strip LI.first {margin-left:5px;}

DIV#search_side_boxartigiani {overflow:hidden;}
DIV#search_side_boxartigiani H3 {font-size:20px; margin:0; padding:10px 0; color:#009900; border-bottom:1px solid #ccc;}
DIV#search_side_boxartigiani DIV.item {float:left; width:300px; padding-bottom:10px; border-bottom:1px solid #CCC; margin-top:15px;}
DIV#search_side_boxartigiani DIV.item H4 {}
DIV#search_side_boxartigiani DIV.item DIV.logo {float:left; width:100px;}
DIV#search_side_boxartigiani DIV.item DIV.logo IMG {width:100px;}
DIV#search_side_boxartigiani DIV.item DIV.info {float:left; width:180px; margin-left:10px;}
DIV#search_side_boxartigiani DIV.item DIV.info P.payoff {font-size:12px; color:#666;}

DIV#search_side DIV#tagcloud {float:left; width:300px; padding-bottom:10px; border-bottom:1px solid #CCC; margin-top:15px;}
DIV#search_side DIV#tagcloud H3 {font-size:18px; color:#333; margin-bottom:15px;}

DIV#search_notfound H3 {clear:both;}
DIV#search_notfound FORM SPAN SPAN {margin-left:10px;}

DIV#facebook_side {margin-top:15px;}

/* Annuncio */
DIV#ann {float:left; padding-top:25px;}
DIV#ann H2 {font-size:20px; color:#999; margin-bottom:10px;}
DIV#ann H3 {font-size:18px; color:#999; margin-bottom:10px;}
DIV#ann_main_cnt {float:left; width:980px; background:url(/img/vline_shdw_bg.png) repeat-y 665px top;}
DIV#ann_main {float:left; width:650px; padding:0 15px 30px 0;}

DIV#ann_breadcrumb DIV.back {float:left; padding:3px 0;}
DIV#ann_breadcrumb UL.back {margin-top:6px; padding-left:10px; border-left:1px solid #999; margin-left:15px;}

DIV#ann_hdr {float:left; width:980px; padding-bottom:15px;}
DIV#ann_hdr SPAN.id {display:block; float:right; text-align:right; background:#F3F3F3; padding:5px; border-radius:3px; margin-bottom:10px;}
DIV#ann_hdr H1 {width:665px; font-size:26px; line-height:1.1; color:#111; margin:0;}
DIV#ann_hdr DIV {float:left; clear:both; margin-top:10px;}
DIV#ann_hdr DIV SPAN {display:block; float:left; margin-right:10px;}

DIV#ann_prvw {float:left; border:1px solid #CCC;}
DIV#ann_prvw TABLE {position:relative;}
DIV#ann_prvw TD {position:relative; width:380px; height:380px; text-align:center; vertical-align:middle; padding:10px;}
DIV#ann_prvw IMG {}
DIV#ann_prvw SPAN.rivuff {position:absolute; bottom:-15px; right:-15px;}

UL#ann_prvw_pics {float:left; clear:both; width:650px; padding:15px 0 5px 0; border-bottom:1px dotted #CCC;}
UL#ann_prvw_pics LI {float:left; margin-left:15px;}
UL#ann_prvw_pics LI IMG {width:70px; height:70px;}
UL#ann_prvw_pics LI.first {margin-left:0}

DIV#ann_info {float:right; width:230px; text-align:right;}
DIV#ann_info SPAN {display:block; float:right; clear:both; margin-bottom:5px;}
DIV#ann_info SPAN.prz {font-size:26px; font-weight:bold; color:#C00; margin-bottom:0;}
DIV#ann_info SPAN.sg {font-size:15px; font-weight:bold; color:#C00;}
DIV#ann_info SPAN.st {font-size:18px;}
DIV#ann_info SPAN.id {font-size:15px; margin:25px 0 10px 0;}
DIV#ann_info SPAN.data {color:#999;}
DIV#ann_info SPAN.pc {font-size:11px; color:#666; margin-top:10px;}
DIV#ann_info SPAN.pc B {font-size:15px; color:#090; background:url(/img/ico_disponibile.gif) no-repeat center left; padding-left:15px;}
DIV#ann_info SPAN.link {margin-top:5px;}

DIV#ann_info_reply {float:right; clear:both; margin-top:25px;}
DIV#ann_info_go {float:right; clear:both; margin-top:15px;}

DIV#ann_info_fav {float:right; clear:both; padding-top:10px; border-top:1px dotted #CCC; margin-top:25px;}
DIV#ann_info_fav P {margin-bottom:10px;}
DIV#ann_info_fav SPAN.btn {margin:0;}

DIV#ann_desc {float:left; clear:both; width:650px; margin-top:15px; border-bottom:1px dotted #CCC;}
DIV#ann_desc P {line-height:1.4;}
P#ann_desc_testodef {font-size:12px; color:#333; background:#F3F3F3; padding:10px; border-radius:5px;}
DIV#ann_desc_cond {float:left; clear:both; width:630px; background:#F3F3F3; padding:0 10px 10px 10px; margin-bottom:15px; border-radius:5px;}
DIV#ann_desc_cond H6 {clear:both; padding-top:10px;}
DIV#ann_desc_cond UL {float:left; margin-right:20px;}
DIV#ann_desc_cond UL LI {font-size:12px; line-height:1.5;}

DIV#ann_side {float:left; width:300px; padding-left:15px;}
DIV#ann_tagcloud {float:left; width:300px; padding-bottom:15px; border-bottom:1px solid #CCC; margin-top:15px; overflow:hidden;}

DIV#ann_ute {float:left; padding-bottom:15px; border-bottom:1px solid #CCC; margin-bottom:15px;}
DIV#ann_ute IMG.avt {float:left; width:60px; height:60px; margin-right:10px;}
DIV#ann_ute DIV.inf {float:left; width:230px;}
DIV#ann_ute DIV.inf SPAN {display:block; float:left; clear:both; font-size:12px; color:#666; margin-bottom:5px;}
DIV#ann_ute DIV.inf SPAN.nome {max-height:38px; font-size:15px; font-weight:bold; color:#111; margin-bottom:10px; overflow:hidden;}
DIV#ann_ute DIV.inf SPAN.tot {font-size:13px; color:#CCC; margin-top:5px; margin-bottom:0;}
DIV#ann_ute DIV.inf SPAN.tot B {color:#111;}
DIV#ann_ute DIV.inf SPAN.tot A {font-weight:bold;}

DIV#ann_vet {float:left; padding-bottom:15px; border-bottom:1px solid #CCC; margin-bottom:15px;}
DIV#ann_vet DIV {float:left; width:300px;}
DIV#ann_vet DIV.nome {font-size:18px; font-weight:bold; margin-bottom:10px;}
DIV#ann_vet IMG.logo {float:left; width:100px; height:50px; margin-right:10px;}
DIV#ann_vet DIV.inf {width:190px; height:50px;}
DIV#ann_vet DIV.inf SPAN {display:block; float:left; clear:both; font-size:12px; color:#666; margin-bottom:5px;}
DIV#ann_vet DIV.inf SPAN.tot {clear:both; font-size:13px; color:#CCC; margin-top:5px; margin-bottom:0;}
DIV#ann_vet DIV.inf SPAN.tot B {color:#111;}
DIV#ann_vet DIV.inf SPAN.tot A {font-weight:bold;}
DIV#ann_vet DIV.url {font-size:14px; font-weight:bold; margin-top:10px;}
DIV#ann_vet DIV.tel {width:auto; font-size:15px; padding:5px; border:1px solid #0A0; border-radius:8px; margin-top:10px;}
DIV#ann_vet DIV.tel B {color:#090;}

DIV#trovaprova {float:left; width:300px; margin-bottom:20px; padding-bottom:10px; border-bottom:1px solid #ccc; overflow:hidden;}

DIV#ann_vet_rivuff {float:left; padding-bottom:15px; border-bottom:1px solid #CCC; margin-bottom:15px;}
DIV#ann_vet_rivuff IMG.logo {float:left; width:60px; height:auto; margin-right:10px;}
DIV#ann_vet_rivuff DIV.inf {float:left; width:230px;}

DIV#ann_reply {float:left; width:650px; clear:both;}
DIV#ann_reply H2 {color:#333; margin-top:15px;}
DIV#ann_reply DIV.boxmsg {clear:none;}

DIV#ann_simili {float:left; width:650px; clear:both; padding-top:15px; border-top:1px solid #CCC; margin-top:15px;}
DIV#ann_simili UL.ads_strip {margin-right:10px;}
DIV#ann_simili UL.ads_strip LI {width:114px; margin-left:0; margin-right:10px;}

DIV#ann_pics {float:left; width:650px; clear:both; padding-top:15px; border-top:1px solid #CCC; margin-top:15px;}
DIV#ann_pics UL {float:left; width:630px; background:#F3F3F3; padding:10px;}
DIV#ann_pics UL LI {float:left; border:3px solid transparent; margin-left:10px;}
DIV#ann_pics UL LI A {display:block;}
DIV#ann_pics UL LI IMG {width:110px; height:110px;}
DIV#ann_pics UL LI.first {margin-left:0;}
DIV#ann_pics UL LI.sel {border:3px solid #E80;}
DIV#ann_pics_zoom {float:left; clear:both; width:648px; text-align:center; padding-top:20px; border:1px solid #DDD;}
DIV#ann_pics_zoom P {background:#F3F3F3; padding:10px; margin:20px 0 0 0;}

/* Utente */
DIV#ute_cnt {float:left; width:980px; background:url(/img/vline_shdw_bg.png) repeat-y 665px top; margin-top:25px;}
DIV#ute_main {float:left; width:650px; padding-right:15px;}
DIV#ute_side {float:left; width:300px; padding-left:15px;}
DIV#ute_hdr {float:left; padding:14px; border:1px solid #CCC; border-radius:5px; box-shadow:0 0 10px #CCC; margin-bottom:15px;}
DIV#ute_hdr DIV.avt {float:left; width:200px; height:200px;}
DIV#ute_hdr DIV.avt IMG {width:200px; height:200px;}
DIV#ute_hdr DIV.ute {float:left; width:400px; padding-left:20px;}
DIV#ute_hdr DIV.info {float:left; width:400px;}
DIV#ute_hdr DIV.info DIV {float:left; width:400px; padding-bottom:5px; border-bottom:1px dotted #CCC; margin-bottom:5px;}
DIV#ute_hdr DIV.info SPAN.lbl {float:left; width:80px; text-align:right; color:#666;}
DIV#ute_hdr DIV.info SPAN.val {float:left; width:300px; margin-left:10px; font-weight:bold;}
DIV#ute_hdr DIV#ute_replya_btn {float:left; margin-top:10px;}
DIV#ute_hdr DIV#ute_replya {display:none; float:left; margin-top:10px;}
DIV#ute_hdr DIV#ute_replya FORM TEXTAREA {width:370px;}
DIV#ute_search_form {overflow:hidden;}

/* Artigiano */
DIV#ute_hdr DIV.logo {float:left; width:200px;}
DIV#ute_hdr DIV.logo IMG {float:left; width:200px; height:100px;}
DIV#ute_hdr DIV.desc {float:left; background:#F3F3F3; padding:10px; margin-top:5px;}

/* Elenco Negozi */
DIV#vet_list_orderby SPAN {padding-right:5px;}
DIV#vet_list {float:left; margin-top:15px;}
DIV#vet_list DIV.itemgroup {clear:both; font-size:15px; font-weight:bold; background:#DEF; padding:10px; margin-bottom:20px; overflow:hidden;}
DIV#vet_list DIV.item {float:left; padding-bottom:15px; border-bottom:1px dotted #CCC; margin-bottom:15px;}
DIV#vet_list DIV.item DIV.logo {float:left; width:180px; margin-right:15px;}
DIV#vet_list DIV.item DIV.logo IMG {width:180px; height:90px;}
DIV#vet_list DIV.item DIV.vet {float:left; width:455px;}
DIV#vet_list DIV.item DIV.vet H3 {font-size:18px;}
DIV#vet_list DIV.item DIV.vet P.payoff {font-size:15px; font-weight:bold; background:#F3F3F3; padding:5px; border-radius:5px;}
DIV#vet_list DIV.item DIV.vet P.desc {font-size:12px;}
DIV#vet_list DIV.item DIV.vet P.info {font-size:12px; color:#666;}

/* Footer */
DIV#ftr {clear:both; width:100%; font-size:12px; margin-top:25px; overflow:hidden;}
DIV#ftr_like {clear:both; padding:10px 0; border-top:1px dotted #CCC; margin:0 auto; overflow:hidden;}
DIV#ftr_like_inner {width:980px; padding:0 10px; margin:0 auto;}
DIV#ftr_tagcloud {clear:both; width:100%; padding:15px 0 5px 0; border-top:1px solid #DDD; overflow:hidden;}
DIV#ftr_tagcloud_inner {width:980px; padding:0 10px; margin:0 auto;}
DIV#ftr_tagcloud H3 {font-size:18px; color:#333; margin:0 0 15px 0;}
DIV#ftr_menu {clear:both; text-shadow:1px 1px #FFF; background:#F3F3F3; padding-top:10px; border-top:1px solid #CCC; overflow:hidden;}
DIV#ftr_menu_inner {width:980px; padding:0 10px; margin:0 auto;}
DIV#ftr_menu H6 {font-size:14px; font-weight:bold; margin:0 0 10px 0;}
DIV#ftr_menu DIV.stat {float:left; width:240px; padding-right:10px;}
DIV#ftr_menu DIV.stat LI {padding-bottom:2px; border-bottom:1px dotted #CCC; margin-bottom:10px;}
DIV#ftr_menu DIV.stat LI SPAN {float:right; font-weight:bold; text-align:right;}
DIV#ftr_menu DIV.mnu {float:left; width:229px; padding-left:10px; border-left:1px dotted #CCC; margin-left:10px;}
DIV#ftr_menu DIV.mnu LI {margin-bottom:10px;}
DIV#ftr_menu DIV.mnu.help {width:209px;}
DIV#ftr_oggi {clear:both; text-shadow:1px 1px #FFF; background:#E4EFFA; padding:8px 0; border-top:1px solid #96BFE9; margin-top:1px; overflow:hidden;}
DIV#ftr_oggi_inner {width:980px; padding:0 10px; margin:0 auto;}
DIV#ftr_oggi H6 {font-size:13px; margin-bottom:8px;}
DIV#ftr_oggi UL {}
DIV#ftr_oggi UL LI {display:inline; padding-left:5px; border-left:1px solid #CCC; margin-left:5px;}
DIV#ftr_oggi UL LI.first {padding-left:0; border-left:none; margin-left:0;}
DIV#ftr_map {clear:both; color:#FFF; text-shadow:none; background:#111; padding:8px 0; margin-top:1px; overflow:hidden;}
DIV#ftr_map_inner {width:980px; padding:0 10px; margin:0 auto;}
DIV#ftr_map H6 {float:left; margin:0;}
DIV#ftr_map UL {float:right; margin-top:3px;}
DIV#ftr_map UL LI {display:inline; padding-left:5px; border-left:1px solid #CCC; margin-left:5px;}
DIV#ftr_map UL LI A {color:#FF0;}
DIV#ftr_map UL LI.first {padding-left:0; border-left:none; margin-left:0;}
DIV#ftr_copy {margin:10px auto; text-align:center;}

/* Banner Volantini */
IFRAME.f_980x90 {overflow:hidden; width:980px; height:90px; border:none;}
IFRAME.f_728x90 {overflow:hidden; width:728px; height:90px; border:none;}
IFRAME.f_300x250 {overflow:hidden; width:300px; height:250px; border:none;}
IFRAME.f_250x250 {overflow:hidden; width:250px; height:250px; border:none;}
IFRAME.f_336x280 {overflow:hidden; width:336px; height:280px; border:none;}
IFRAME.f_120x600 {overflow:hidden; width:120px; height:600px; border:none;}
IFRAME.f_160x600 {overflow:hidden; width:160px; height:600px; border:none;}
IFRAME.f_300x600 {overflow:hidden; width:300px; height:600px; border:none;}

/* Elenco Corner */
DIV#corner_preview {border:1px solid #CCC; box-shadow:0 0 10px #CCCCCC; margin:20px 0 30px; height:440px;}

DIV#corner_list {width:980px; margin-top:10px; overflow:hidden; padding-left:5px;}
DIV#corner_list H3 {color:#666666; margin:10px 0 20px;}
DIV#corner_list DIV.markbox {float:left; border:1px solid #DDD; padding:0; margin: 0 9px 10px 0; vertical-align:middle; box-shadow:0 0 10px #CCCCCC;}
DIV#corner_list DIV.markbox:hover {box-shadow:0 0 10px #999;}
DIV#corner_list DIV.markbox A.mark {float:left; padding:10px;}
DIV#corner_list DIV.markbox IMG.mark {float:left; margin:0 10px 0 0;}
DIV#corner_list DIV.markbox IMG.retailers {float:left; margin-top:20px; width:55px;}

DIV#corner_dist {overflow:hidden; margin-top:30px; padding-top:20px; border-top:1px solid #CCC;}
DIV#corner_dist P {float:left; margin:15px 5px 0 0;}
DIV#corner_dist DIV.disttext {float:right; width:350px; padding:0 0 10px 20px; margin:0; background:url(/img/vline_shdw_bg.png) repeat-y;}
DIV#corner_dist DIV.disttext P {margin-bottom:10px;}
DIV#corner_dist A {float:left;}
DIV#corner_dist IMG {margin:10px; height: 50px;}

DIV#corner_list_1 {width:980px; margin-top:10px; overflow:hidden;}
DIV#corner_list_1 DIV.markbox {float:left;border:1px solid #DDD; margin: 0; width:194px;}
DIV#corner_list_1 DIV.markbox:hover {box-shadow: 2px 2px 3px #FFF300 inset;}
DIV#corner_list_1 DIV.markbox A.mark {margin: 10px auto; display:block; width:140px;}
DIV#corner_list_1 DIV.markbox A.mark IMG {margin: 0 auto; width:140px;}
DIV#corner_list_1 DIV.markbox A.retailers { display:block; margin:10px;}
DIV#corner_list_1 DIV.markbox A.retailers IMG {}

/* trova e prova */
DIV#box_trovaeprova {height:275px;background:url('/img/search_trovaeprova_bg.gif') no-repeat;}
DIV#box_trovaeprova DIV.search_input {background-image: url('/img/hdr_searchfield_text_bg.png');width:160px; height: 25px; margin:90px auto 10px; border:1px solid #CDCDCD; border-radius:4px;}
DIV#box_trovaeprova DIV.search_input INPUT {background-color: rgba(0, 0, 0, 0); border:none; margin-top:5px; padding:0 5px;}
DIV#box_trovaeprova DIV.btn {margin:0 auto; width:160px;}
DIV#box_trovaeprova DIV.btn BUTTON {background-color: #52CB52; border-bottom-color: #5588BB; border-left-color-value: rgba(0, 0, 0, 0); border-right-color-value: #5588BB; border-top-color: rgba(0, 0, 0, 0); color: #FFFFFF; cursor: pointer; font-weight: bold; padding-bottom: 3px; padding-left: 20px; padding-right: 20px; padding-top: 3px;}
DIV#lw_map_cnt {display:none; position:absolute; z-index:999; width:980px; top:40px; bottom:20px; overflow:hidden; margin:0 auto; padding:20px 20px 10px 10px; left:0; right:0;}


/* mappa */
DIV#lw_map_cnt_new {display:none; position:fixed; z-index:999; width:980px; top:40px; bottom:20px; overflow:hidden; margin:0 auto; padding:20px 20px 10px 10px; left:0; right:0;}

DIV.map_list_box {float:left; width:960px; clear:both; margin:10px 10px 0; } /*background:url(/img/bg_carousel.gif) no-repeat;*/
DIV.map_list_box H2 {font-size:22px; color:#B90000;}
DIV.map_list_box UL#ads_strip {margin-right:10px; border:none;}
DIV.map_list_box UL#ads_strip LI {width:106px; margin-left:0; margin-right:10px;}
DIV.map_list_box UL#ads_strip LI SPAN.tit {height:53px; font-size:12px; font-weight:bold; text-transform:capitalize; margin-top:5px; line-height:150%; color:#0077DD; }
DIV.map_list_box UL#ads_strip LI SPAN.tit:hover {color:#E60; }
DIV.map_list_box UL#ads_strip LI.gallerylink {width:220px; text-align:center; padding-top:15px; font-size:18px; font-weight:bold; height:170px; background:#FFFFFF; }
DIV.map_list_box UL#ads_strip LI.gallerylink H3 {font-size:20px;}
DIV.map_list_box UL#ads_strip LI.gallerylink H3 SPAN {font-size:16px; color:#999;}
DIV.map_list_box UL#ads_strip LI.gallerylink A {background:#FFFFFF; color:#0077DD; font-weight:bold; font-size:14px; padding: 5px 12px; height:auto;}
DIV.map_list_box UL#ads_strip LI.gallerylink A:hover {color:#E60; text-decoration:underline;}
DIV.map_list_box UL#ads_strip LI.gallerylink IMG.logo {margin-top:0; width:180px;}

/* Strip annunci */
UL#ads_strip {float:left; text-shadow:none;}
UL#ads_strip LI {float:left; width:107px; margin:0 0 10px 10px; overflow:hidden; border:none;}
UL#ads_strip LI SPAN {display:block; font-size:11px; margin-top:2px;}
UL#ads_strip LI A.tit {line-height:1.1; text-decoration:none; padding:0; height:auto; background:none;}
UL#ads_strip LI A.tit:hover {color:#E60;}
UL#ads_strip LI SPAN {font-style:normal;}
UL#ads_strip LI SPAN.pic {position:relative;}
UL#ads_strip LI SPAN.pic IMG {width:100px; height:100px;}
UL#ads_strip LI SPAN.pic SPAN.rivuff {position:absolute; bottom:0; right:0;}
UL#ads_strip LI SPAN.pic SPAN.rivuff IMG {width:50px; height:auto;}
UL#ads_strip LI SPAN.pc {width:88px; height:13px; font-size:11px; font-weight:normal; color:#FFF; white-space:nowrap; text-align:center; background:#0C0; padding:1px; border-radius:3px; margin-top:5px; font-style:normal;}
UL#ads_strip LI SPAN.tit {font-size:15px; font-weight:bold; text-transform:capitalize; margin-top:5px; font-style:normal;}
UL#ads_strip LI.first {margin-left:0;}

DIV#lw_map_info {float:left; width:980px; height:230px;}
DIV#lw_map_info H1 {font-size:16px; color:#333; overflow:hidden; padding:20px 10px;}
DIV#lw_map_info H1 SPAN.tit {font-size:30px; overflow:hidden; margin: 0 5px 0; color:#c00;}
DIV#lw_map_info SPAN.searchlbl {font-size:20px; color:#999; overflow:hidden; padding:0 20px 10px; font-weight:bold; display:block;}
DIV#lw_map_info SPAN.searchlbl B {font-size:25px; color:#000;}
DIV#lw_map_info SPAN.totannlbl {font-size:20px; color:#999; overflow:hidden; padding:0 20px 10px; font-weight:bold;  display:block;}
DIV#lw_map_info SPAN.totannlbl B {font-size:25px; color:#000;}
DIV#lw_map_info P.info {font-size:16px; color:#999; overflow:hidden; padding:10px 20px 10px; font-weight:bold;  display:block;}
DIV#lw_map_info UL.ads_stat {margin:0 auto; width:760px; float:none; border:none;}
DIV#lw_map_info UL.ads_stat LI.stat {border:1px solid #ccc; padding:10px; width:120px; height:100px; text-align:center; margin:0 5px;}
DIV#lw_map_info UL.ads_stat LI.stat:hover {box-shadow:0 0 10px #999;}
DIV#lw_map_info UL.ads_stat LI.stat A.box {color:#666; font-size:12px; background:none; width:auto; font-weight:normal; padding:0; margin:0;}
DIV#lw_map_info UL.ads_stat LI.stat B {font-size:14px; font-weight:bold;}
DIV#lw_map_info UL.ads_stat LI.stat B.green {color:#00CC00; font-size:32px; font-weight:bold; display:block; padding:10px 0 5px;}
DIV#lw_map_info UL.ads_stat LI.stat B.red {color:#C00; font-size:28px; font-weight:bold; display:block; padding:10px 0 5px;}

DIV#stripann_initmsg {width:980px; height:100px; background:url(/img/map_stripann_initmsg.png) center center no-repeat;}

DIV#lw_map_inner {box-shadow:0 0 0 10px rgba(0,0,0,.30); border:1px solid #666; overflow:hidden; margin:0 auto;}
DIV#lw_map_inner {height:100%; position:relative; background:#FFF;}
DIV#lw_map_inner TABLE {border:0; border-spacing:0; border-collapse:collapse; height:100%; width:960px;}
DIV#lw_map_inner TABLE TD#lw_map_td_map {height:100%; min-height:200px;}
DIV#lw_map_inner TABLE TD#lw_map_td_ads {height:230px;}

DIV#lw_map_map {height:100%; min-height:300px;}
DIV#lw_map_ads {height:100%; min-height:200px;}
DIV#bg_top_map {width:100%; height:10px; background:url(/img/bg_top_map.png) 0 0 repeat-x; position:absolute; top:230px; z-index:999; text-align:center;} 
DIV#bg_top_map IMG {margin:0 auto;} 

.jcarousel-prev-disabled, .jcarousel-next-disabled
{
    visibility:hidden;
}

DIV#RivUffInfoDiv {position:absolute; bottom:40px; right:30px; background:#fff; padding:5px 10px; border:1px solid #CCC; border-radius:5px; box-shadow:0 0 10px #CCC;}
DIV#RivUffInfoDiv IMG {float:left;}
DIV#RivUffInfoDiv LABEL {float:left; margin-left:10px;}

/* css xp */
DIV#mytb_usr SPAN.myico {border:none; text-align:center; margin:2px 5px 0;}
DIV#mytb_usr SPAN.myico A {opacity: 0.7; filter: alpha(opacity=70);}
DIV#mytb_usr SPAN.myico A:hover { opacity: 1; filter: alpha(opacity=100);}
DIV#mytb_usr SPAN.myico SPAN {border:none;margin:0;display:block;float:none;font-size:10px;}

DIV.xp_box {float:left; width:980px; overflow:hidden; padding:25px 0 15px 0; border-bottom:1px solid #CCC;}
DIV.xp_box_inner {overflow:hidden; background:url("/img/vline_shdw_inv_bg.png") 176px top repeat-y;}
DIV.xp_box H2 I {color:#B90000;}
DIV.xp_box UL.top_link {float:left; margin:0 0 10px 20px;}
DIV.xp_box UL.top_link LI {float:left; background:url(/img/arr_5x9_666.png) 0 6px no-repeat; padding:2px 0 2px 10px; margin-left:15px;}
DIV.xp_box UL.top_link LI SPAN {margin:0 5px; color:#07D; font-size:14px;}
DIV.xp_box UL.top_link LI A {text-decoration:underline; font-size:14px;}
DIV.xp_box UL.top_link LI A:hover {text-decoration:none;}
DIV.xp_box UL.top_link LI.first {margin-left:0;}
DIV.xp_box UL.ads_strip {width:780px; margin:10px 0 0 0;}
DIV.xp_box UL.ads_strip LI {width:120px;}
DIV.xp_box_adsel {float:left; width:176px; padding:10px; overflow:hidden; }
DIV.xp_box_adsel DIV.adsel { background:#FFF; padding:10px; margin:0 0 10px;}
DIV.xp_box_adsel DIV.adsel SPAN {display:block; font-size:11px; margin-top:2px;}
DIV.xp_box_adsel DIV.adsel A.tit {color:#07D; line-height:1.1; text-decoration:none;}
DIV.xp_box_adsel DIV.adsel A.tit:hover {color:#E60;}
DIV.xp_box_adsel DIV.adsel SPAN.pic {position:relative;}
DIV.xp_box_adsel DIV.adsel IMG {width:110px; height:110px; margin-left:23px;}
DIV.xp_box_adsel DIV.adsel SPAN.rivuff {position:absolute; bottom:0; right:0;}
DIV.xp_box_adsel DIV.adsel SPAN.rivuff IMG {width:50px; height:auto;}
DIV.xp_box_adsel DIV.adsel SPAN.pc {width:88px; height:13px; font-size:11px; font-weight:normal; color:#FFF; white-space:nowrap; text-align:center; background:#0C0; padding:1px; border-radius:3px; margin-top:5px;}
DIV.xp_box_adsel DIV.adsel SPAN.pn {margin-top:5px;}
DIV.xp_box_adsel DIV.adsel SPAN.pn IMG {margin:3px 2px -3px 0;} 
DIV.xp_box_adsel DIV.adsel SPAN.tit {font-size:15px; font-weight:bold; text-transform:capitalize; margin-top:5px;}
DIV.xp_box_adsel DIV.adsel SPAN.mc {margin-top:3px;}
DIV.xp_box_adsel DIV.adsel SPAN.prz {font-size:16px; font-weight:bold; margin-top:5px;}
DIV.xp_box_adsel DIV.adsel SPAN.prz SPAN.sg {font-weight:normal;}
DIV.xp_box_adsel DIV.adsel SPAN.usr {color:#999;}
DIV.xp_box_adsel H3 {font-size:14px;}
DIV.xp_box_tab {float:left; width:196px; padding-bottom:10px; overflow:hidden; text-shadow: 1px 1px #fff; margin-top:20px;}
DIV.xp_box_tab UL {background:#FFF; border-top:1px solid #CCC;}
DIV.xp_box_tab LI {border-right:1px solid #CCC; border-bottom:1px solid #CCC; border-left:1px solid #F3F3F3;}
DIV.xp_box_tab LI A {display:block; height:45px; font-size:15px; font-weight:bold; line-height:1; color:#111; background:#F3F3F3; padding:10px 15px 0 15px; margin:1px 0 0 1px;}
DIV.xp_box_tab LI A:hover {color:#E60; text-decoration:none;}
DIV.xp_box_tab LI A:hover B.f_green {color:#E60; text-decoration:none;}
DIV.xp_box_tab LI A SPAN {display:block; font-size:13px; font-weight:normal; font-style:italic; color:#666; padding-top:6px;}
DIV.xp_box_tab LI.sel {border-left:1px solid #CCC; border-right:none; padding:1px 0 1px 1px;}
DIV.xp_box_tab LI.sel A {font-weight:bold; height:50px; background:#FFF; padding-top:7px; border-left:3px solid #F80; margin:0;}
DIV.xp_box_inner UL.ads_strip LI SPAN.tit {max-height:65px; overflow:hidden;}
DIV#CategoriaMarca DIV.xp_box_next {position:absolute; top:120px; right:5px; z-index:10; width:30px; height:40px;}
DIV#CategoriaMarca DIV.xp_box_next A {background:#fff; border: 1px solid #ccc; opacity:0.80; filter:alpha(opacity=80); border-radius: 3px; width:30px; height:40px; overflow:hidden; display:block;}
DIV#CategoriaMarca DIV.xp_box_next A:hover {opacity:1; filter:alpha(opacity=100); box-shadow:0 0 5px #CCC;}
DIV#CategoriaMarca DIV.xp_box_next A IMG {margin:8px;}

DIV#xp_boxcronologia {clear:both; width:100%; padding:20px 0 5px 0; border-top:1px solid #DDD; overflow:hidden; background:url(/img/btn_on_bg.png) repeat-x;}
DIV#xp_boxcronologia_inner {width:980px; padding:0 10px; margin:0 auto;}
DIV#xp_boxcronologia_inner H2 {float:left; font-size:20px;}
DIV#xp_boxcronologia_inner A.title {float:left; font-size: 14px; font-weight:normal; background:url(/img/arr_5x9_666.png) 0 6px no-repeat; padding:2px 0 2px 10px; margin-left:15px;}
DIV#xp_boxcronologia UL.ads_strip {clear:both; height: 140px; overflow:hidden;}
DIV#xp_boxcronologia UL.ads_strip LI {float:left; width:88px; height: 128px; margin:0 0 10px 15px; overflow:hidden; position:relative;}
DIV#xp_boxcronologia UL.ads_strip LI.first {margin-left:0;}
DIV#xp_boxcronologia UL.ads_strip LI SPAN.pic IMG {width:80px; height:80px; border:1px solid #ddd; margin:3px 0 0;}
DIV#xp_boxcronologia UL.ads_strip LI SPAN.tit {font-size:11px; font-weight: normal; overflow:hidden; color:#666666;}
DIV#xp_boxcronologia UL.ads_strip LI A.tit:hover SPAN.tit {color:#07d;}
DIV#xp_boxcronologia UL.ads_strip LI.xp_box_next { width:40px;}
DIV#xp_boxcronologia UL.ads_strip LI.xp_box_next A {background:#fff; border: 1px solid #ccc; opacity:0.80; filter:alpha(opacity=80); border-radius: 3px; width:30px; height:40px; overflow:hidden; display:block; margin:25px 0 0 5px;}
DIV#xp_boxcronologia UL.ads_strip LI.xp_box_next A:hover {opacity:1; filter:alpha(opacity=100); box-shadow:0 0 5px #CCC;}
DIV#xp_boxcronologia UL.ads_strip LI.xp_box_next A IMG {margin:8px;}

/* da mettere in page_my.css */

DIV#my_annunci_elenco.xp_ultimivisti DIV.row DIV.usr {float:left; width:115px; padding-left:10px;}
DIV#my_annunci_elenco.xp_ultimivisti DIV.row DIV.usr SPAN {display:block; margin-bottom:3px;}
DIV#my_annunci_elenco.xp_ultimivisti DIV.row DIV.usr SPAN.usr {display:inline-block; font-weight:bold;}
DIV#my_annunci_elenco.xp_ultimivisti DIV.row DIV.usr SPAN.type {margin-bottom:10px;}
DIV#my_annunci_elenco.xp_ultimivisti DIV.row DIV.usr SPAN.vet SPAN {color:#666666;}
DIV#my_annunci_elenco.xp_ultimivisti DIV.row DIV.usr SPAN.prv {color:#666666; margin-bottom:5px;}
DIV#my_annunci_elenco.xp_ultimivisti DIV.row DIV.usr SPAN.data {color:#666666;}
DIV#my_annunci_elenco.xp_ultimivisti DIV.row DIV.do {width:100px;}
DIV#my_annunci_elenco.xp_ultimivisti DIV.row DIV.do SPAN.off {color:#FFFFFF; background:#999999; padding:3px;}


/* Home Cat*/

DIV#cat_cnt {float:left; width:980px; background:url(/img/vline_shdw_inv_bg.png) 295px top repeat-y; margin:20px 0 0 0;}
DIV#cat_cnt.lay_content_right {background:url(/img/vline_shdw_bg.png) 715px top repeat-y;}
DIV#cat_cnt DIV.lay_main {width:650px; padding-bottom:0;}
DIV#cat_cnt DIV.lay_side {width:300px; font-size:12px;}
DIV#cat_cnt DIV.lay_main DIV#search_tab {padding:0 15px; margin-left:-15px;}

DIV#cat_side_flt {}
DIV#cat_side_flt DIV.flt {padding-top:10px; border-top:1px dotted #CCCCCC; margin-top:10px; overflow:hidden;}
DIV#cat_side_flt DIV.flt H6 {margin-bottom:10px;}
DIV#cat_side_flt DIV.flt UL LI {padding-bottom:5px;}
DIV#cat_side_flt DIV.flt UL LI SPAN {font-size:11px; color:#999999; margin-left:5px;}
DIV#cat_side_flt DIV.flt INPUT.prz {width:60px; text-align:right;}
DIV#cat_side_flt DIV.flt DIV.flt_all_link {margin-top:10px;}
DIV#cat_side_flt DIV.flt DIV.flt_all {display:none; margin-top:5px;}
DIV#cat_side_flt DIV.flt DIV.flt_all SELECT {width:100%;}
DIV#cat_side_flt DIV.flt DIV.sel {display:inline-block; background:#FFC; padding:5px; margin-bottom:5px;}
DIV#cat_side_flt DIV.flt DIV.sel SPAN {margin-left:5px;}
DIV#cat_side_flt DIV.flt DIV.sel SPAN.x {margin-left:10px;}
DIV#cat_side_flt DIV.flt DIV.sel SPAN.x IMG {margin-bottom:-2px;}
DIV#cat_side_flt DIV.flt DIV.sel INPUT {background:#FF9;}
DIV#cat_side_flt DIV.flt.flt_first {padding-top:0; border-top:none; margin-top:0;}
DIV#cat_side_flt DIV#flt_mc UL {float:left; width:145px;}

DIV.xp_box.cat {width:650px; padding: 0 0 10px; overflow:hidden; border-bottom:none;}
DIV.xp_box.cat H2 {font-size:22px;}
DIV.xp_box.cat UL.ads_strip {margin:0 0 0 0;}
DIV.xp_box.cat UL.top_link LI A {text-decoration:underline; font-size:14px; }

.autoellipsis {display:none;}

/* Facebook Login */
.lay_side H3.f_blu_fb {color:#3a5795;}
DIV#mytb_usr SPAN.btn_facebook {padding:0;margin:7px 7px 7px 7px;border:0;} /* Bottone FB header */
DIV#mytb_usr SPAN.btn_facebook_ico {padding:0;margin:0;border:0;}
DIV#mytb_usr SPAN.btn_facebook A {color:white;text-decoration:none;}
DIV#mytb_usr SPAN.btn_facebook:hover {border-color:#17243E;}

DIV#fb_signup {background:url(/img/vline_bg.gif) repeat-y 565px top;margin: 25px 0 20px 0;overflow: hidden;} /* Registrazione con Facebook */
DIV#fb_signup DIV.lay_main {width: 550px;}
DIV#fb_signup DIV.lay_side {width: 400px;}

DIV#fb_login {text-align:center;} /* Login con Facebook (modal) */
DIV#fb_login FORM.login {display:inline-block;}
DIV#fb_login FORM.form {display:inline-block;}

DIV#fb_loginpage {background: url(/img/vline_bg.gif) repeat-y 565px top;margin: 25px 0 20px 0;overflow: hidden;} /* Login con Facebook */
DIV#fb_loginpage DIV.lay_main {width:550px;}
DIV#fb_loginpage DIV.lay_side {width:400px;}

DIV#my_cnt DIV#my_profilo_facebook DIV.lay_side.lay_left {width:550px;}
DIV#my_cnt DIV#my_profilo_facebook DIV.lay_side.lay_right {width:220px;}

DIV.boxfbconnect {position:relative;padding-top:40px;}
DIV.boxfbconnect_inner {position:relative;background:url(/img/boxfbconnect_line_bg.png) repeat-y;background-position:273px 0;border-left:solid 1px #ccc;border-right:solid 1px #ccc;border-bottom:solid 1px #ccc;border-radius:5px 5px 5px 5px;}
DIV.boxfbconnect_side {float:left;width:274px;min-height:195px;padding:20px;box-sizing:border-box;border:solid 1px #ccc;border-left:1px;border-right:0px;border-bottom:1px;border-radius:5px 5px 5px 5px;margin:0;text-align:center;}

DIV.boxfbconnect_left {border-radius:5px 0 0 5px;padding-bottom:40px;}
DIV.boxfbconnect_left_head {position:absolute;z-index:1;top:-40px;left:20px;width:234px;height:40px;background:#3A5795 url(/img/boxfbconnect_facebook.png) no-repeat center center;border-radius:5px 5px 0 0;}
DIV.boxfbconnect_left_btm {position:absolute;bottom:0;left:0;width:273px;font-size:10px;color:#666;padding:5px;box-sizing:border-box;}

DIV.boxfbconnect_right {border-radius:0 5px 5px 0;background-color:#f3f3f3;}
DIV.boxfbconnect_right_head {position:absolute;z-index:1;top:-40px;left:293px;width:234px;height:40px;background:#f3f3f3 url(/img/boxfbconnect_mercatino.png) no-repeat center center;;border:solid 1px #ccc;border-bottom:0;border-radius:5px 5px 0 0;}

DIV.boxfbconnect SPAN.err {color:#F00;}
p.boxfbconnect_err {color:#F00;font-weight:bold;}

DIV.boxfbconnect_open .boxfbconnect_inner	{border-bottom:0;border-radius:5px 5px 0 0;}
DIV.boxfbconnect_open .boxfbconnect_left	{min-height:215px;border-radius:5px 0 0 0;}
DIV.boxfbconnect_open .boxfbconnect_right {min-height:215px;background:#f3f3f3 url(/img/boxfbconnect_ico_arrDown.png) no-repeat;background-position:center bottom;padding-bottom:50px;border-radius:0 5px 0 0;border-bottom:0;}
DIV.boxfbconnect_open DIV.boxfbconnect_left_btm {border-bottom:solid 1px #ccc;}
DIV.boxfbconnect_connected DIV.boxfbconnect_side	{min-height:auto;}
DIV.boxfbconnect_connected DIV.boxfbconnect_left	{padding-bottom:0;}
DIV.boxfbconnect_ico {z-index:1;position:absolute;top:41px;left:240px;display:block;width:67px;height:60px;background:url(/img/boxfbconnect_ico.png) no-repeat;}
DIV.boxfbconnect DIV.boxfbconnect_ico_warn {position:absolute;top:7px;left:257px;z-index:2;width:32px;height:28px;background:url(/img/boxfbconnect_ico_warn.png) no-repeat;}
DIV.boxfbconnect DIV.boxfbconnect_ico_ok {position:absolute;top:7px;left:257px;z-index:2;width:32px;height:28px;background:url(/img/boxfbconnect_ico_ok.png) no-repeat;}

FORM.form.form_fbconnect {position:relative;border-radius:0 0 5px 5px;border-top:0;width:530px;padding-top:20px;padding-bottom:20px;}
FORM.form.form_fbconnect SPAN.lbl {width:160px;}
FORM.form.form_fbconnect SPAN.inp {width:359px;}
DIV#my_cnt DIV#my_profilo_facebook FORM.form.form_fbconnect SPAN.inp {width:309px;}
FORM.form.form_fbconnect DIV.form_fbconnect_side {width:264px;float:left;text-align:center;border:0;margin:0;}
FORM.form.form_fbconnect DIV.lay_clear {border:0;margin:0;padding:0;}
FORM.form.form_fbconnect DIV.form_fbconnect_password_inp {text-align:center;margin:0;border:0;}
FORM.form.form_fbconnect DIV.form_fbconnect_password_inp p.err {text-align:center;margin:0;border:0;}

.boxfbconnect_avt {background:white;display:inline-block;height:60px;height:60px;padding:10px;border:solid 1px #ccc;margin-bottom:5px;}
.boxfbconnect_avt img {width:60px;max-height:60px;}

DIV#form_fbconnect_bar {width:520px;margin:0 0 30px 0;}
DIV#form_fbconnect_bar	.bar {position:relative;width:520px;height:20px;border-radius:20px;background:#F3F3F3;margin:10px 0 2px 0;}
DIV#form_fbconnect_bar	.bar_sel {position:absolute;top:0;left:0;height:20px;border-radius:20px;
	background: #E60; 
	background: -moz-linear-gradient(left,  #E60 0%, #ffcc00 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#E60), color-stop(100%,#ffcc00));
	background: -webkit-linear-gradient(left,  #E60 0%,#ffcc00 100%); 
	background: -o-linear-gradient(left,  #E60 0%,#ffcc00 100%); 
	background: -ms-linear-gradient(left,  #E60 0%,#ffcc00 100%);
	background: linear-gradient(to right,  #E60 0%,#ffcc00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E60', endColorstr='#ffcc00',GradientType=1 ); 
}

DIV#form_fbconnect_bar	.bar_pointer {position:absolute;top:0;left:0px;width:20px;height:20px;background:#FF7500;border-radius:20px;}

DIV#form_fbconnect_bar	.bar_sel {width:275px;}
DIV#form_fbconnect_bar	.bar_pointer {left:265px;}
DIV#form_fbconnect_bar	.bar_lbl {float:left;width:33%;display:none;background:url(/img/boxfbconnect_ico_pointer.png) no-repeat top center;padding-top:10px;font-size:13px;text-align:center;}

DIV#form_fbconnect_bar.bar_step_done .bar {width:520px;}
DIV#form_fbconnect_bar.bar_step_done .bar_sel {width:520px;}
DIV#form_fbconnect_bar.bar_step_done .bar_lbl_active {color:#008a00;}

DIV#form_fbconnect_bar.bar_step_4	.bar_lbl {display:inline-block;width:125px;}
DIV#form_fbconnect_bar.bar_step_4	.bar_lbl_last {float:right;margin-right:0;margin-right:5px;}

DIV#form_fbconnect_bar	.bar_lbl_done {display:inline;color:#111;}
DIV#form_fbconnect_bar	.bar_lbl_active {display:inline;color:#E60;}

DIV#form_fbconnect_bar	.bar_lbl_first {text-align:left;background-position:25px 0;}
DIV#form_fbconnect_bar	.bar_lbl_last {text-align:right;background:none;}

DIV#form_fbconnect_bar.bar_step_done	.bar_lbl_active {color:#008a00;}
DIV#form_fbconnect_bar.bar_step_done	.bar_lbl_active span {color:#008a00;}
DIV#form_fbconnect_bar.bar_step_done	.bar_pointer {left:501px;background:#008a00;}

/* summary_data */
DIV.summary_data {background:#F3F3F3; padding:9px; border:1px solid #CCC; border-radius:5px; margin-bottom:15px; overflow:hidden;}
DIV.summary_data SPAN.lbl {clear:both; display:block; float:left; width:160px; text-align:right; padding:3px 10px 0 0; font-weight:bold; } 
DIV.summary_data SPAN.val {display:block; float:left; width:460px; padding-top:3px;}

/* css myHome */
.myhome H2 {font-size:20px;}
.myhome .shop_box {clear:both; margin-top:20px;}
.myhome .shop_box DIV.item {clear:both; margin-bottom:15px; padding-bottom:15px; overflow:hidden; border-bottom: 1px solid #CCC;}
.myhome .shop_box DIV.item H3 {margin-bottom:5px;}
.myhome .shop_box DIV.item DIV.logo {float:left; margin-right:10px; width:130px;}
.myhome .shop_box DIV.item DIV.logo IMG {width:120px;}
.myhome .shop_box DIV.item DIV.vet {float:left; width:150px; overflow:hidden;}
.myhome .shop_box DIV.item DIV.vet A {font-size:14px;}
.myhome .shop_box DIV.item DIV.vet P.info {font-size:12px; color:#666;}
.myhome .ute_box {margin-top:40px;}

A#btn_avvisami_manage {float:right; margin-bottom:15px; background:#333; color:#FFF; font-weight:bold; text-decoration:none; border-radius:3px; padding:7px 12px;}
A#btn_avvisami_manage:hover {background:#080; font-weight:bold; text-decoration:none; }

A#btn_manage_favourites {float:right; margin-bottom:15px; background:#333; color:#FFF; font-weight:bold; text-decoration:none; border-radius:3px; padding:7px 12px;}
A#btn_manage_favourites:hover {background:#080; font-weight:bold; text-decoration:none; }

UL.myhome_ads {float:left;}
UL.myhome_ads.turbo {background:#FFE;}
UL.myhome_ads LI {float:left; width:120px; height:190px; margin:0 0 10px 10px; overflow:hidden; position:relative; border-radius:2px; -webkit-box-shadow:0 0px 4px rgba(0, 0, 0, 0.2); box-shadow:0 0px 4px rgba(0, 0, 0, 0.2);}
UL.myhome_ads LI:hover {-webkit-box-shadow:0 0px 4px rgba(0, 0, 0, 0.6); box-shadow:0 0px 4px rgba(0, 0, 0, 0.6);}
UL.myhome_ads LI.new {background:url(/img/btn_bg.png) repeat-x left bottom;}
UL.myhome_ads LI SPAN {display:block; font-size:11px; margin-top:2px;}
UL.myhome_ads LI A.tit {color:#07D; line-height:1.1; text-decoration:none;}
UL.myhome_ads LI A.tit:hover {color:#E60;}
UL.myhome_ads LI SPAN.pic {position:relative; text-align:center; margin-top:5px;}
UL.myhome_ads LI SPAN.pic IMG {width:110px; height:110px;}
UL.myhome_ads LI SPAN.pic SPAN.rivuff {position:absolute; bottom:0; right:0;}
UL.myhome_ads LI SPAN.pic SPAN.rivuff IMG {width:50px; height:auto;}
UL.myhome_ads LI SPAN.new {position:absolute; top:1px; right:1px;}
UL.myhome_ads LI SPAN.pc {width:88px; height:13px; font-size:11px; font-weight:normal; color:#FFF; white-space:nowrap; text-align:center; background:#0C0; padding:1px; border-radius:3px; margin-top:5px;}
UL.myhome_ads LI SPAN.pn {margin-top:5px;}
UL.myhome_ads LI SPAN.pn IMG {margin:3px 2px -3px 0;} 
UL.myhome_ads LI SPAN.tit {font-size:13px; font-weight:bold; text-transform:capitalize; margin:5px;}
UL.myhome_ads LI SPAN.mc {margin-top:3px;}
UL.myhome_ads LI SPAN.prz {font-size:14px; font-weight:bold; margin:5px;}
UL.myhome_ads LI SPAN.prz SPAN.sg {font-weight:normal;}
UL.myhome_ads LI SPAN.usr {color:#999;}
UL.myhome_ads LI.first {margin-left:0;}

DIV.myhome_box {float:left; width:645px; overflow:hidden; padding:10px 10px 0; border-top:1px solid #CCC;  margin-bottom:30px; background:url("/img/btn_on_bg.png") repeat-x;}
DIV.myhome_box_inner {float:left; overflow:hidden; clear:both; margin-top:10px;}
DIV.myhome_box_inner.withTab {background: url("/img/vline_shdw_inv_bg.png") repeat-y scroll 176px top;}
DIV.myhome_box H2 {font-size:20px; margin-bottom:2px;}
DIV.myhome_box H2 I {color:#B90000; }
DIV.myhome_box SPAN.h2 {font-size:14px;}
DIV.myhome_box UL.top_link {float:left; margin:0 0 10px 20px;}
DIV.myhome_box UL.top_link LI {float:left; background:url(/img/arr_5x9_666.png) 0 6px no-repeat; padding:2px 0 2px 10px; margin-left:15px;}
DIV.myhome_box UL.top_link LI SPAN {margin:0 5px; color:#07D; font-size:14px;}
DIV.myhome_box UL.top_link LI A {text-decoration:underline; font-size:14px;}
DIV.myhome_box UL.top_link LI A:hover {text-decoration:none;}
DIV.myhome_box UL.top_link LI.first {margin-left:0;}
DIV.myhome_box UL.ads_strip {width:780px; margin:10px 0 0 0;}
DIV.myhome_box UL.ads_strip LI {width:120px;}
DIV.myhome_box_tab {float:left; width:196px; padding-bottom:10px; overflow:hidden; text-shadow: 1px 1px #fff; margin-top:20px; margin-right:20px;}
DIV.myhome_box_tab UL {background:#FFF; border-top:1px solid #CCC;}
DIV.myhome_box_tab LI {border-right:1px solid #CCC; border-bottom:1px solid #CCC; border-left:1px solid #F3F3F3; margin:0;}
DIV.myhome_box_tab LI A {display:block; font-size:13px; font-weight:normal; line-height:1; color:#666; background:#F3F3F3; padding:10px 15px; margin:1px 0 0 1px;}
DIV.myhome_box_tab LI A:hover {color:#E60; text-decoration:none;}
DIV.myhome_box_tab LI A:hover B.f_green {color:#E60; text-decoration:none;}
DIV.myhome_box_tab LI A SPAN {display:block; font-size:13px; font-weight:normal; font-style:italic; color:#666; padding-top:6px;}
DIV.myhome_box_tab LI.sel {border-left:1px solid #CCC; border-right:none; padding:1px 0 1px 1px;}
DIV.myhome_box_tab LI.sel A {font-weight:bold; background:#FFF;  padding:10px 15px; border-left:3px solid #F80; margin:0;}

DIV.pushbutton {float:right;}
DIV.pushbutton IMG {margin-left:5px; cursor: pointer;}

DIV.myhome_box_inner UL.ads_strip LI SPAN.tit {max-height:65px; overflow:hidden;}
DIV#RicercaSeguita DIV.xp_box_next {position:absolute; top:120px; right:5px; z-index:10; width:30px; height:40px;}
DIV#RicercaSeguita DIV.xp_box_next A {background:#fff; border: 1px solid #ccc; opacity:0.80; filter:alpha(opacity=80); border-radius: 3px; width:30px; height:40px; overflow:hidden; display:block;}
DIV#RicercaSeguita DIV.xp_box_next A:hover {opacity:1; filter:alpha(opacity=100); box-shadow:0 0 5px #CCC;}
DIV#RicercaSeguita DIV.xp_box_next A IMG {margin:8px;}

UL.myhome_searchlist {clear:both;}
UL.myhome_searchlist LI {clear:both; overflow:hidden; border-bottom:1px dotted #CCC; padding:5px;}
UL.myhome_searchlist LI:hover {background-color:#EEE;}
UL.myhome_searchlist LI A.title {color:#000; text-decoration:none; text-transform: capitalize;  font-size:14px; float:left; max-width:510px;}
UL.myhome_searchlist LI A.title.manage {font-size:12px; max-width:510px;}
UL.myhome_searchlist LI A.title:hover {color:#333; text-decoration:none;}
UL.myhome_searchlist LI A.title SPAN.subtitle {color:#999; text-decoration:none; text-transform: capitalize; font-weight:normal; font-size:12px; margin-left:5px;}

UL.myhome_favouriteslist {width:280px;}
UL.myhome_favouriteslist LI {clear:both; overflow:hidden; border-bottom:1px dotted #CCC; padding:5px;}
UL.myhome_favouriteslist LI:hover {background-color:#EEE;}
UL.myhome_favouriteslist LI.h3 {background:#DDD; font-weight:bold; font-size:16px;}
UL.myhome_favouriteslist LI.h3:hover {background-color:#DDD;}
UL.myhome_favouriteslist LI A.title {color:#000; text-decoration:none; text-transform: capitalize; font-weight:bold; font-size:14px; float:left; max-width:240px;}
UL.myhome_favouriteslist LI A.title:hover {color:#333; text-decoration:none;}
UL.myhome_favouriteslist LI A.title SPAN.subtitle {color:#999; text-decoration:none; text-transform: capitalize; font-weight:normal; font-size:12px; margin-left:5px;}

.lazyload {
  width: 100px;
  height: 100px;
  background-color: black;
  display: inline-block;
}


/* Toolbar */
DIV#mytb.mytb2016 {height:45px;}
DIV#mytb.mytb2016 DIV#mytb_fixed {height:45px;position:absolute;/*position:fixed;*/left:0;top:0;z-index:5000;width:100%;background:#111;} /*'Modifica 2016-05-30*/
DIV#mytb.mytb2016 DIV#mytb_inner {height:45px; width:990px; padding-right:0;}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN {display:flex;height:45px;margin:0;padding:0 15px;border:0;border-left:solid 1px #444444;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN SPAN.txt {display:inline-block; height:45px; padding:0; border:0; line-height:45px;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN A SPAN.txt b {text-decoration:underline;}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN SPAN {display:block;}


DIV#mytb.mytb2016 DIV#mytb_usr SPAN.guest {padding:0 10px;border:0;border:0;border-left:solid 1px #444444;}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN.guest SPAN.btn_facebook {height:25px;border:0;line-height:auto;padding:0;margin: auto;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN.guest SPAN.btn_facebook SPAN {height:auto;border:0;line-height:auto;padding:0}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN.vetlogo ,
DIV#mytb.mytb2016 DIV#mytb_usr SPAN.avt {display:flex;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN.vetlogo IMG,
DIV#mytb.mytb2016 DIV#mytb_usr SPAN.avt IMG {margin: auto;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN.usr {border-left:0; padding-left:0; }


DIV#mytb.mytb2016 DIV#mytb_usr SPAN.usr {max-width:180px; float:left;padding:0 15px; font-weight:bold; color:white;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN.avt {float:left;border:0;padding:0;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN.vetlogo {float:left;border:0;padding:0;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN.usr SPAN.txt {padding:0;margin:0;}


DIV#mytb.mytb2016 DIV#mytb_nw LI {display:flex;height:45px;}
DIV#mytb.mytb2016 DIV#mytb_nw LI A {margin: auto;}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_msg {position:relative; width:55px; height:45px; padding:0; /*border-right:solid 1px #444444;*/ background:transparent url('/img/mytb_msg.png') no-repeat center center; text-align:center; line-height:auto;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_msg:hover {background:#232323 url('/img/mytb_msg.png') no-repeat center center;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_msg A {display:inline-block; width:55px; height:45px; }

DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_menu {position:relative;padding:0;border-left:0;margin:0;margin-right:10px;border-left: solid 1px #444444;cursor:pointer;z-index:2000;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_menu:hover {background:#222}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_menu.opened {background:#000}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN.mytb_menu_arrow {position:relative; width:22px; height:45px; padding:0; border:0; border-right:solid 1px #444444; background:transparent url('/img/mytb_avatar_arr_d.png') no-repeat center center; background-size:12px 7px; text-align:center; line-height:auto;}


DIV#mytb.mytb2016 DIV#mytb_usr DIV#hdr_menu_mymm {display:none;position:absolute; z-index:2000; top:55px; right:0; width:200px; height:auto; min-height:400px;color:#111; text-align:left; box-sizing: border-box; padding:10px; border:solid 1px #ccc; background:white; -webkit-box-shadow: 2px 2px 2px 0px rgba(243,243,243,1);-moz-box-shadow: 2px 2px 2px 0px rgba(243,243,243,1);box-shadow: 2px 2px 2px 0px rgba(243,243,243,1);cursor:auto;}
DIV#mytb.mytb2016 DIV#mytb_usr DIV#hdr_menu_mymm SPAN { height:auto; float:none; padding:0; margin:0; border:0; line-height:auto; }
DIV#mytb.mytb2016 DIV#mytb_usr DIV#hdr_menu_mymm SPAN.hdr_menu_mymm_arrow {position:absolute; z-index:2000; top:-10px; right:2px; display:block; width:16px; height:10px;background: url('/img/hdr_arr_up.png') no-repeat top center;}

DIV#mytb.mytb2016 DIV#mytb_usr DIV#hdr_menu_mymm UL LI B {display: block; color: #FFFFFF; background: #666; padding: 5px;  border-radius: 3px; margin-bottom: 5px;}
DIV#mytb.mytb2016 DIV#mytb_usr DIV#hdr_menu_mymm UL LI UL LI A { display: block;	text-decoration: none; color: #07D; background: url(/img/arr_4x7_999.png) 3px 6px no-repeat; padding: 3px 3px 3px 12px;}
DIV#mytb.mytb2016 DIV#mytb_usr DIV#hdr_menu_mymm UL LI UL LI A:hover { text-decoration:underline;}
DIV#mytb.mytb2016 DIV#mytb_usr DIV#hdr_menu_mymm UL LI UL {padding: 0 0 10px 0;}

DIV#mytb.mytb2016 DIV#mytb_usr DIV#hdr_menu_mymm SPAN.logout {padding-top:10px;border-top:solid 1px #eee;}
DIV#mytb.mytb2016 DIV#mytb_usr DIV#hdr_menu_mymm SPAN.logout A {display: block; text-decoration: none; color:#07D; padding:0;}
DIV#mytb.mytb2016 DIV#mytb_usr DIV#hdr_menu_mymm SPAN.logout A:hover {text-decoration: underline; }

DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_msgcount,
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknotecount {position:absolute;z-index:100;right:5px;top:3px;display:inline-block;height:auto;}
DIV#mytb.mytb2016 DIV#mytb_usr .mytb_ico_count {display:inline-block;background:#FFFF4C;padding:0 5px 0 5px;color:#111;font-weight:bold;border:solid 2px #333;border-radius:5px;font-size:11px;font-weight:bold;line-height:13px;}

[data-tooltip] {position:relative;z-index:2000;cursor:pointer;}
[data-tooltip]:before,
[data-tooltip]:after { visibility: hidden;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;pointer-events: none;}
[data-tooltip]:before { position: absolute; z-index:3; top: 100%;  right: 50%;  margin-top: 5px;  margin-right:-15px;  padding:6px; white-space:nowrap; display:inline;  -webkit-border-radius: 3px;  -moz-border-radius: 3px;  border-radius: 3px;  background-color: #000;  background:#333;color: #fff;  content: attr(data-tooltip);  text-align: center;  font-size: 11px;  line-height: 1.2;}
[data-tooltip]:after { position: absolute; z-index:3; top: 100%;  left:0;   width: 0;  border-bottom: 5px solid #000;  border-bottom: 5px solid hsla(0, 0%, 20%, 0.9);  border-right: 5px solid transparent;  border-left: 5px solid transparent;  content: " ";  font-size: 0;  line-height: 0;}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {visibility: visible; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);  opacity: 1;}

DIV#mytb.mytb2016 SPAN[data-tooltip]:before {display:block;background:#333;color:#fff;bottom:5px;left:0;height:12px;width:55px; filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=95); opacity:0.95;}
DIV#mytb.mytb2016 SPAN[data-tooltip]:after  {display:block;bottom:0;left:17px;border-bottom: 5px solid #333;border-bottom: 5px solid #333;border-right: 5px solid transparent;border-left: 5px solid transparent;  content: " ";  font-size: 0;  line-height: 0; filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=95); opacity:0.95;}

DIV#mytb.mytb2016 SPAN#mytb_msgcount[data-tooltip]:after {left:15px;}

/* Bulknote 2016-05 */
.bulknote_ico_type-mercatinomusicale_novita {display:inline-block; width:24px; height:24px; background:url('/img/bulknote_ico_news.png') no-repeat center center; background-size:24px auto;}
DIV.bulknote_list_item_isread_True DIV.bulknote_ico_type-mercatinomusicale_novita {display:inline-block; width:24px; height:24px; background:url('/img/bulknote_ico_news.png') no-repeat center center; background-size:24px auto;}
.bulknote_ico_type-mercatinomusicale_suggerimenti {display:inline-block; width:24px; height:24px; background:url('/img/bulknote_ico_idea.png') no-repeat center center; background-size:24px auto;}
DIV.bulknote_list_item_isread_True DIV.bulknote_ico_type-mercatinomusicale_suggerimenti {display:inline-block; width:24px; height:24px; background:url('/img/bulknote_ico_idea.png') no-repeat center center; background-size:24px auto;}
.bulknote_ico_type-mercatinomusicale_warning {display:inline-block; width:24px; height:24px; background:url('/img/bulknote_ico_warn.png') no-repeat center center; background-size:24px auto;}
DIV.bulknote_list_item_isread_True DIV.bulknote_ico_type-mercatinomusicale_warning {display:inline-block; width:24px; height:24px; background:url('/img/bulknote_ico_warn.png') no-repeat center center; background-size:24px auto;}
.bulknote_ico_type-mercatinomusicale_info {display:inline-block; width:24px; height:24px; background:url('/img/bulknote_ico_info.png') no-repeat center center; background-size:24px auto;}
DIV.bulknote_list_item_isread_True DIV.bulknote_ico_type-mercatinomusicale_info {display:inline-block; width:24px; height:24px; background:url('/img/bulknote_ico_info.png') no-repeat center center; background-size:24px auto;}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote {position:relative; z-index:2000; width:45px; height:45px; padding:0; border-right:solid 1px #444444; background:transparent url('/img/ico_bulknote.png') no-repeat center center; text-align:center; line-height:auto; cursor:pointer;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote:hover {background:#222 url('/img/ico_bulknote.png') no-repeat center center;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote.opened {background:#000 url('/img/ico_bulknote.png') no-repeat center center;}
SPAN#mytb_bulknote.opened[data-tooltip] ,
SPAN#mytb_bulknote.opened[data-tooltip]:before,
SPAN#mytb_bulknote.opened[data-tooltip]:after,
SPAN#mytb_bulknote.opened[data-tooltip]:before,
SPAN#mytb_bulknote.opened[data-tooltip]:after,
SPAN#mytb_bulknote.opened[data-tooltip]:hover:before,
SPAN#mytb_bulknote.opened[data-tooltip]:hover:after {display:none;}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote SPAN#mytb_usr_bulknote_list_count {position:absolute;z-index:100;right:-13px;top:-9px;display:inline-block;background:#E60;padding:0 5px 0 5px;color:white;border:solid 2px #333;border-radius:5px;font-size:11px;font-weight:bold;line-height:13px;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV#mytb_usr_bulknote_list_window {position:absolute;z-index:200;right:0;top:55px;width:400px;height:auto;} /* modifica 20160803 */
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV#mytb_usr_bulknote_list_window SPAN {padding:0;margin:0;border:0;float:none;height:auto;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV#mytb_usr_bulknote_list_window SPAN.text {padding-bottom:5px;} /* modifica 20160803 */

DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote  DIV.bulknote_list_modal {cursor:auto;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote  DIV.bulknote_list_modal DIV.bulknote_arrow {position:absolute;z-index:601;top:-10px;right:13px;width:16px;height:10px;background:url('/img/hdr_arr_up.png') no-repeat top center;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote  DIV.bulknote_list_modal {position:relative;background:white;padding-bottom:40px;border:solid 1px #ccc;/*border-radius:5px;*/ -webkit-box-shadow: 2px 2px 2px 0px rgba(243,243,243,1);-moz-box-shadow: 2px 2px 2px 0px rgba(243,243,243,1);box-shadow: 2px 2px 2px 0px rgba(243,243,243,1);}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote  DIV.bulknote_list_modal SPAN.bulknote_arrow {position:absolute;z-index:301;top:-10px;right:30px;width:16px;height:10px;background:url('/img/bulknote_arr_up.png') no-repeat top center;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote  DIV.bulknote_list_modal DIV.bulkNote_list {border:solid 1px #ccc;/*border-radius:5px;*/padding:0;color:black;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote  DIV.bulknote_list_modal DIV.bulknote_list_head {padding:10px;color:#111;border-bottom:solid 1px #ccc;background:white;border-radius:5px 5px 0 0;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote  DIV.bulknote_list_modal DIV.bulknote_list_body {position:relative;background:white;overflow-y:auto;max-height:400px;min-height:150px;}


DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote  DIV.bulknote_list_modal DIV.bulknote_list_body DIV.bulknote_list_body_404 {display:block;color:#111;text-align:center;height:150px;vertical-align:middle;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote  DIV.bulknote_list_modal DIV.bulknote_list_body DIV.bulknote_list_body_404 span {display:block;width:100%;position:relative;text-align:center;top:50%;transform:translateY(-50%);}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote  DIV.bulknote_list_modal DIV.bulknote_list_body DIV.bulknote_list_body_404 a {color:#07D;}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV.bulknote_list_modal DIV.bulknote_list_btm {
	position:absolute;
	z-index:200;
	bottom:0;left:0;
	width:398px;height:40px;
	box-sizing: border-box;padding:10px;color:#111;
	border-top:solid 1px #ccc;
	/*border-radius:0 0 5px 5px;*/
	background:white;
	text-align:center;
	-webkit-box-shadow: 0px -1px 2px 0px rgba(243,243,243,1);
	-moz-box-shadow: 0px -1px 2px 0px rgba(243,243,243,1);
	box-shadow:0px -1px 2px 0px rgba(243,243,243,1);
}


DIV.bulknote_list_item:hover DIV.bulknote_list_item_options a.read {display:block;}

DIV#mytb.mytb2016 DIV#mytb_usr DIV.bulknote_list_modal DIV.bulknote_list_item_type.bulknote_list_item_type {width:32px;padding-left:10px;padding-right:10px;position:absolute;left:0;top:10px;}
DIV#mytb.mytb2016 DIV#mytb_usr DIV.bulknote_list_modal DIV.bulknote_list_item_type.bulknote_list_item_text {padding-left:32px;}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote	DIV.bulknote_list_modal DIV.bulknote_list_item_type.bulknote_list_item_type {width:16px;padding-left:10px;position:absolute;left:0;top:10px;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote	DIV.bulknote_list_modal DIV.bulknote_list_item_type.bulknote_list_item_text {padding-left:36px;}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote  DIV.bulknote_list_modal DIV.bulknote_list_body DIV.bulknote_list_body_btm {text-align:center;padding-top:10px;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote  DIV.bulknote_list_modal DIV.bulknote_list_body DIV.bulknote_list_body_btm a {color:#07D;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote  DIV.bulknote_list_modal DIV.bulknote_list_body DIV.bulknote_list_body_btm a:hover {color:#07D;text-decoration:none;}
DIV#mytb.mytb2016 DIV#mytb_usr  DIV.bulknote_list_modal DIV.bulknote_list_body::-webkit-scrollbar-track {}
DIV#mytb.mytb2016 DIV#mytb_usr  DIV.bulknote_list_modal DIV.bulknote_list_body::-webkit-scrollbar { width: 14px;height: 18px;		}
DIV#mytb.mytb2016 DIV#mytb_usr  DIV.bulknote_list_modal DIV.bulknote_list_body::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV.bulknote_list_modal DIV.bulknote_list_btm a {color:#07D;text-decoration:underline;font-weight:bold;line-height:20px;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV.bulknote_list_modal DIV.bulknote_list_btm a:hover {text-decoration:none;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV.bulknote_list_modal a.bulknote_list_hideitem {display:none;position:absolute;z-index:15000;white-space:nowrap;right:10px;top:10px;height:14px;padding:5px;text-align:center;background:#888;color:white;border:solid 1px #ccc;border-radius:5px;-webkit-box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);-moz-box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV.bulknote_list_modal a.bulknote_list_hideitem:hover {text-decoration:none;background:white;color:#07D;}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV.bulknote_list_modal DIV.bulknote_list_disabled {display:none;position:absolute;top:0;left:0;z-index:2;background:transparent;width:100%;height:100%;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV.bulknote_list_modal DIV.bulknote_list_modal DIV.bulknote_list_disabled {height:100%;}

DIV#mytb.mytb2016 DIV#mytb_usr  DIV.bulknote_list_item {position:relative;padding:10px;padding-right:40px;text-align:left;border-bottom:solid 1px #eee;}

DIV#mytb.mytb2016 DIV#mytb_usr  DIV.bulknote_list_item.bulknote_list_item_isread_False.bulknote_item_style1 {background:#FFFFCC;}
DIV#mytb.mytb2016 DIV#mytb_usr  DIV.bulknote_list_item.bulknote_list_item_isread_False.bulknote_item_style2 {background:#FFFFCC;}

DIV#mytb.mytb2016 DIV#mytb_usr  DIV.bulknote_list_item.bulknote_list_item_isread_True.bulknote_item_style1 {background:#f9f9f9;}
DIV#mytb.mytb2016 DIV#mytb_usr  DIV.bulknote_list_item.bulknote_list_item_isread_True.bulknote_item_style2 {background:#fff;}

DIV#mytb.mytb2016 DIV#mytb_usr  DIV.bulknote_list_item.bulknote_list_item_isread_True {background:transparent;}
DIV#mytb.mytb2016 DIV#mytb_usr  DIV.bulknote_list_item.bulknote_list_item_isread_False {background:#FFFFCC;}

DIV#mytb_usr  DIV.bulknote_list_item span {border:0;display:block;float:none;margin:0;padding:0;}
DIV#mytb_usr  DIV.bulknote_list_item a {color:#07D;text-decoration:none;}
DIV#mytb_usr  DIV.bulknote_list_item a span {color:#07D;}
DIV#mytb_usr  DIV.bulknote_list_item a span.title {font-weight:bold;}
DIV#mytb_usr  DIV.bulknote_list_item a span.text {color:#111;}
DIV#mytb_usr  DIV.bulknote_list_item a:hover span.title {color:#07D;text-decoration:underline;}
DIV#mytb_usr  DIV.bulknote_list_item.bulknote_list_item_isread_True {}
DIV#mytb_usr  DIV.bulknote_list_item.bulknote_list_item_isread_False {}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV#mytb_usr_bulknote_list_window DIV.bulknote_list_item_options a.isunread {display:inline-block;padding-left:20px;height:16px;background:url('/img/bulknote_isunread.png') no-repeat center left; text-decoration:none; color:#006699; line-height: 16px;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV#mytb_usr_bulknote_list_window DIV.bulknote_list_item_options a.isunread:hover {display:inline-block;padding-left:20px;height:16px;background:url('/img/bulknote_isunread-on.png') no-repeat center left; color:#006699; text-decoration:underline; line-height: 16px;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV#mytb_usr_bulknote_list_window DIV.bulknote_list_item_options span.isread {display:inline-block;padding-left:20px;height:16px;background:url('/img/bulknote_isread.png') no-repeat center left; text-decoration:none; color:#888; line-height: 16px;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV#mytb_usr_bulknote_list_window DIV.bulknote_list_item_options span.isread:hover {display:inline-block;padding-left:20px;height:16px;background:url('/img/bulknote_isread.png') no-repeat center left; text-decoration:none; color:#888; line-height: 16px;}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV#mytb_usr_bulknote_list_window	DIV.bulknote_list_item_isread_True DIV.bulknote_list_item_options span.isread ,
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV#mytb_usr_bulknote_list_window	DIV.bulknote_list_item_isread_False DIV.bulknote_list_item_options span.isread ,
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV#mytb_usr_bulknote_list_window	DIV.bulknote_list_item_isread_False DIV.bulknote_list_item_options a.isunread,
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV#mytb_usr_bulknote_list_window	DIV.bulknote_list_item_isread_True DIV.bulknote_list_item_options a.isunread {display:none;}

DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV#mytb_usr_bulknote_list_window DIV.bulknote_list_item_isread_True:hover DIV.bulknote_list_item_options span.isread {display:inline-block;}
DIV#mytb.mytb2016 DIV#mytb_usr SPAN#mytb_bulknote DIV#mytb_usr_bulknote_list_window DIV.bulknote_list_item_isread_False:hover DIV.bulknote_list_item_options a.isunread {display:inline-block;}

DIV#mytb_usr  DIV.bulknote_list_item_isread_True a {color:#111;text-decoration:none;}
DIV#mytb_usr  DIV.bulknote_list_item_isread_True a span {color:#111;}
DIV#mytb_usr  DIV.bulknote_list_item_isread_True a span.title {font-weight:bold;}
DIV#mytb_usr  DIV.bulknote_list_item_isread_True a span.text {color:#111;}
DIV#mytb_usr  DIV.bulknote_list_item_isread_True a:hover span.title {color:#111;text-decoration:underline;}

DIV#mytb_usr  DIV.bulknote_list_item span.date {display:block;color:#888;}
DIV#mytb_usr  DIV.bulknote_list_item_options {position:absolute;right:10px;bottom:10px;}

DIV#mytb_usr  DIV.bulknote_list_item:hover DIV.bulknote_list_item_options a.read.hid_True ,
DIV#mytb_usr  DIV.bulknote_list_item:hover DIV.bulknote_list_item_options span.read.show_False {display:none;}
DIV#mytb_usr  DIV.bulknote_list_item:hover DIV.bulknote_list_item_options a.read.hid_False ,
DIV#mytb_usr  DIV.bulknote_list_item:hover DIV.bulknote_list_item_options span.read.show_True {display:block;}

DIV#mytb_usr  DIV.bulknote_list_item:hover DIV.bulknote_list_item_options a.read {display:block;}
DIV#mytb_usr  DIV.bulknote_list_item DIV.bulknote_list_item_type {width:32px;position:absolute;left:0;top:10px;}
DIV#mytb_usr  DIV.bulknote_list_item DIV.bulknote_list_item_text {padding-left:32px;}

DIV#mytb_usr  DIV.bulknote_list_head DIV.lay_left {font-weight:bold;}
DIV#mytb_usr  DIV.bulknote_list_head DIV.lay_right a {color:#07D;}
DIV#mytb_usr  DIV.bulknote_list_head DIV.lay_right a:hover {text-decoration:none;}

/* Bulknote Tooltip */
DIV.bulknote_baloon_item_options {font-size:11px;padding-right:10px;padding-top:10px;/*margin-top:10px;border-top:solid 1px #ddd;*/}
DIV.bulknote_baloon_item_options a.bulknote_baloon_item_btn_close {position:absolute;bottom:10px;right:10px;display:inline-block;width:16px;height:16px;background:url('/img/bulknote_ico_baloon_close.png') no-repeat;}
DIV.bulknote_baloon_onetime {background:#E60;border:solid 1px #E60;border-radius:7px;padding:7px;position:relative;z-index:2;-webkit-box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);-moz-box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);}
DIV.bulknote_baloon_onetime:after { position:absolute;top:6px;right:-14px;width:0;border-left:20px solid #E60;border-left:20px solid #E60;border-top:9px solid transparent;border-bottom:9px solid transparent;  content: " ";  font-size: 0;  line-height: 0;}
DIV.bulknote_baloon_onetime:hover:before,
DIV.bulknote_baloon_onetime:hover:after {visibility: visible; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1;}
DIV.bulknote_baloon_onetime a,
DIV.bulknote_baloon_onetime a:hover {text-decoration:none;}
DIV.bulknote_baloon_onetime span {display:block;color:white;text-shadow: 0px 1px 1px #9F3400;}
DIV#bulknote_box_trovaeprova_alert {position:absolute;left:570px;top:0px;width:200px;} /* Tooltip Trova e Prova */
DIV#ann_info_fav {position:relative;} /*Scheda annuncio - baloon preferiti */
DIV#ann_info_fav  DIV#bulknote_box_ann_info_preferiti {display:inline-block;display:inline-block;white-space:nowrap;position:absolute;z-index:200;right:175px;top:75px;}
DIV#ann_info_fav  DIV#bulknote_box_ann_info_preferiti span {float:none;}
DIV#ann_info DIV.bulknote_baloon SPAN {margin:0;}

DIV#bulknote_box_search_avvisami {display:inline-block;display:inline-block;white-space:nowrap;position:absolute;z-index:200;right:0px;top:-30px;}
DIV#bulknote_box_search_avvisami span {float:none;}
DIV#bulknote_box_search_avvisami DIV.bulknote_baloon_onetime:after { 
	position:absolute;
	top:auto;
	border:0;
	bottom:-10px;
	right:48px;
	width:0;
	border-top:10px solid #E60;
	border-left:7px solid transparent;
	border-right:7px solid transparent;  
	content: " ";  font-size: 0;  line-height: 0;
}
DIV#bulknote_box_search_avvisami DIV.bulknote_baloon_onetime SPAN {line-height:17px;}
DIV#bulknote_box_search_avvisami DIV.bulknote_baloon_onetime A.bulknote_ico_tooltip_close {display:inline-block;width:20px;height:20px;background:url(/img/bulknote_ico_tooltip_close.png) no-repeat;;background-size:16px 16px;margin-left:7px;text-decoration:none;}


DIV#hdr_inner {width:1000px;position:relative;margin: 5px auto 0 auto;clear: both;} /* Toolbar HOME sezione artigiani.. */
DIV#hdr_inner {position:relative;}
DIV#hdr_inner DIV#hdr_menusez_bulknote_sezioneartigiani {display:inline-block;white-space:nowrap;position:absolute;z-index:200;right:0;top:45px;}
DIV#hdr_inner DIV#hdr_menusez_bulknote_sezioneartigiani span {float:none;}
DIV#hdr_inner DIV#hdr_menusez_bulknote_sezioneartigiani DIV.bulknote_baloon_onetime:after {top:-24px;right:140px;width:0;border-bottom:14px solid #E60;border-bottom:14px solid #E60;border-left:9px solid transparent;border-right:9px solid transparent;  content: " ";  font-size: 0;  line-height: 0;}
DIV#hdr_inner DIV#hdr_menusez_bulknote_sezioneartigiani DIV.bulknote_baloon_onetime:hover:before,
DIV#hdr_inner DIV#hdr_menusez_bulknote_sezioneartigiani DIV.bulknote_baloon_onetime:hover:after {visibility: visible;  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);  opacity: 1;}

/* 'Modifica 2016-05-30 */
DIV#my_messaggi h2 span {position:relative;display:inline-block;}
DIV#my_messaggi h2 .mytb_ico_count {position:absolute;left:175px;top:0;display:inline-block;white-space:nowrap;background:#FFFF4C;padding:5px 5px 5px 5px;color:#333;font-weight:bold;border:solid 0 #333;border-radius:5px;font-size:12px;font-weight:bold;}