.jcarousel-skin-mm .jcarousel-container {
}

.jcarousel-skin-mm .jcarousel-direction-rtl {
	direction:rtl;
}

.jcarousel-skin-mm .jcarousel-container-horizontal {
	padding:0 20px;
}

.jcarousel-skin-mm .jcarousel-container-vertical {
}

.jcarousel-skin-mm .jcarousel-clip {
	overflow:hidden;
}

.jcarousel-skin-mm .jcarousel-clip-horizontal {
}

.jcarousel-skin-mm .jcarousel-clip-vertical {
}

.jcarousel-skin-mm .jcarousel-item {
}

.jcarousel-skin-mm .jcarousel-item-horizontal {
}

.jcarousel-skin-mm .jcarousel-direction-rtl .jcarousel-item-horizontal {
}

.jcarousel-skin-mm .jcarousel-item-vertical {
}

.jcarousel-skin-mm .jcarousel-item-placeholder {
	background:#FFF;
	color:#000;
}

/* Horizontal Buttons */
.jcarousel-skin-mm .jcarousel-next-horizontal {
	position:absolute;
	top:60px;
	right:0;
	width:15px;
	height:25px;
	cursor:pointer;
	background:transparent url(sprite.png) no-repeat 0 0;
}

.jcarousel-skin-mm .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left:0;
	right:auto;
	background-image:url(prev-horizontal.png);
}

.jcarousel-skin-mm .jcarousel-next-horizontal:hover {
	background-position:-25px 0;
}

.jcarousel-skin-mm .jcarousel-next-horizontal:active {
	height:26px;
	background-position:-50px 0;
}

.jcarousel-skin-mm .jcarousel-next-disabled-horizontal,
.jcarousel-skin-mm .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-mm .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-mm .jcarousel-next-disabled-horizontal:active,
.jcarousel-skin-mm .jcarousel-next-disabled-horizontal:visited {
	cursor:default;
	background-position:-75px 0;
}

.jcarousel-skin-mm .jcarousel-prev-horizontal {
	position:absolute;
	top:60px;
	left:0;
	width:15px;
	height:25px;
	cursor:pointer;
	background:transparent url(sprite.png) no-repeat 0 -35px;
}

.jcarousel-skin-mm .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left:auto;
	right:0;
	background-image:url(next-horizontal.png);
}

.jcarousel-skin-mm .jcarousel-prev-horizontal:hover {
	background-position:-25px -35px;
}

.jcarousel-skin-mm .jcarousel-prev-horizontal:active {
	height:26px;
	background-position:-50px -35px;
}

.jcarousel-skin-mm .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-mm .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-mm .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-mm .jcarousel-prev-disabled-horizontal:active {
	cursor:default;
	background-position:-75px -35px;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-mm .jcarousel-next-vertical {
	position:absolute;
	bottom:5px;
	left:43px;
	width:32px;
	height:32px;
	cursor:pointer;
	background:transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-mm .jcarousel-next-vertical:hover,
.jcarousel-skin-mm .jcarousel-next-vertical:focus {
	background-position:0 -32px;
}

.jcarousel-skin-mm .jcarousel-next-vertical:active {
	background-position:0 -64px;
}

.jcarousel-skin-mm .jcarousel-next-disabled-vertical,
.jcarousel-skin-mm .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-mm .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-mm .jcarousel-next-disabled-vertical:active {
	cursor:default;
	background-position:0 -96px;
}

.jcarousel-skin-mm .jcarousel-prev-vertical {
	position:absolute;
	top:5px;
	left:43px;
	width:32px;
	height:32px;
	cursor:pointer;
	background:transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-mm .jcarousel-prev-vertical:hover,
.jcarousel-skin-mm .jcarousel-prev-vertical:focus {
	background-position:0 -32px;
}

.jcarousel-skin-mm .jcarousel-prev-vertical:active {
	background-position:0 -64px;
}

.jcarousel-skin-mm .jcarousel-prev-disabled-vertical,
.jcarousel-skin-mm .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-mm .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-mm .jcarousel-prev-disabled-vertical:active {
	cursor:default;
	background-position:0 -96px;
}
