

a{ color:#3072be}
a:hover{ color:#0042b5}

.container-fluid{ width:960px;}
.navbar-default {    background-color: transparent;    border-color: transparent;}
.navbar-default .navbar-nav > li > a {    color: #003082;    font-size: 12px;    font-weight: bold; padding: 0px 18px!important;}
.navbar {    margin-bottom: 0;    margin-top: 5px;  min-height: 20px;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {    background-color: #003082;    color: #fff;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {    background-color: #003082;    color: #fff;}
.carousel {    margin-top: 5px;}
.navbar-collapse { border-bottom: 0px solid #eee!important;    margin-bottom: 2px !important;    padding-bottom: 7px !important;}


.top_blue_line{ background: #003082 none repeat scroll 0 0;    float: left;    height: 5px;    width: 100%;}
.top_blue_line2{ background: #3072BE none repeat scroll 0 0;  margin-bottom: 15px;   float: left;    height: 25px;    width: 100%;}
.carousel-indicators .active {    background-color: #F68B29;  border: medium none;  height: 18px;    margin: 0;    width: 18px; }
.carousel-indicators li {    background-color: #fff;    height: 18px;    width: 18px;}
.top_menu{}

.thumbnail { text-align: center; }
.h1, .h2, .h3, h1, h2, h3 {     margin-top: 10px; }

.special_links{}
.special_links h3{}
.special_links a{ float: left;    font-size: 16px;   margin: 10px;    width: 100%;}
.special_links a:hover{ text-decoration:none;}


.footer{border-top: 1px solid #ccc;  padding-bottom: 15px;  margin-top: 20px;  padding-top: 15px;}
.footer .footer_section{float: left;    margin-bottom: 10px; }
.footer h4{ color: #333;    float: left;    width: 100%;}
.footer ul{list-style: outside none none;    padding: 0;}
.footer ul li{ float: left;    width: 100%;}
.footer ul li a{ color: #666;    float: left;    font-size: 12px;    margin: 2px 0; }
.footer ul li a:hover{}

.clients{padding: 20px 0;}
.clients .single_client{ float: left;    margin: 7px;  padding: 0;text-align: center;}
.clients img{float: left;}


.dropdown-menu > li > a {    font-size: 12px; }
.three_col_cont{}
.three_col_cont .left_menu{}
.three_col_cont .content_area{ float: left;}
.three_col_cont .right_menu{}

.three_col_cont .left_menu ul{list-style: outside none none;    padding: 0;}
.three_col_cont .left_menu ul li{}
.three_col_cont .left_menu ul li a{ color: #666;    float: left;   font-size: 13px;    font-weight: bold;   margin: 2px 0;    width: 100%;}
.three_col_cont .left_menu ul li a:hover{ font-weight:bold;}

.logo_header{ margin: 10px 0 0;}
.logo_header .logo{}
.logo_header .logo img{ width: 100%;}

.logo_header .heading{padding: 25px 0;}
.logo_header .heading h3{font-style: italic;  margin: 0;   font-weight: bold;    text-align: right;}

.big_three{}
.big_three h3{  color: #fff;    font-size: 17px;    font-weight: bold;    margin: 0;    text-align: left;    width: 100%;}
.big_three a:hover{ text-decoration:none;}
.big_three .big_three_1{ background: #660019 none repeat scroll 0 0;}
.big_three .big_three_2{ background: #03346E none repeat scroll 0 0;}
.big_three .big_three_3{ background: #C65200 none repeat scroll 0 0;}
.big_three .big_three_4{ background: #0d7c44 none repeat scroll 0 0;}

.bottom_menu_outer{   float: left;    width: 100%;}
.bottom_menu{float: left;    margin-top: 20px; width: 100%;}
.bottom_menu ul{float: left;    list-style: outside none none;    margin-left: 5px;    padding: 0;    width: 100%;}
.bottom_menu ul li{ width: auto;}
.bottom_menu ul li a{border-right: 1px solid #ccc;    color: #666;    float: left;    font-size: 13px;    font-weight: bold;    margin: 2px 0;
    padding: 0 10px;    width: auto;}
.bottom_menu ul li a:hover{ font-weight:bold;}
.bottom_logo{}
.bottom_logo img{float: right;}
.copy{border-top: 1px solid #ccc;  margin: 0;  float: left;    padding-top: 10px;    width: 100%;}
.copy p{ color: #999;    float: left;    font-size: 12px;    margin-left: 10px;}

.main_features{}
.main_features a{background: #03346e none repeat scroll 0 0;  border-radius: 50%;    color: #fff;    border-radius: 50%;     font-family: arial;    font-size: 13px;    font-style: italic;   float: left;  font-weight: bold;    height: 80px;    line-height: 15px;    margin-right: 30px;	margin-top:10px; margin-bottom:10px;     text-align: center;    width: 80px;}	
.main_features a.tests{padding: 24px 0;}
.main_features a.single{padding: 32px 0;}
.main_features a:hover{ text-decoration:none; background: #F47421 none repeat scroll 0 0; color: #fff;}
.main_features a:focus{ text-decoration:none;}

.navbar-nav > li {    border-right: 1px solid #ccc; }
.navbar-nav > li:last-child {    border:none; }

.logo_container{ margin-top: 3px;}
.logo_container img{}

.right_ul { float:right;}

.carousel-indicators {    left: 90%;    top: 86%;}

.panel-title {    font-size: 12px;    font-weight: bold;}
.panel-heading {    padding: 5px 10px;}


@media only screen and (min-width: 240px) and (max-width: 319px) 
{
.container-fluid{ width:250px;}	
.carousel-indicators .active {  height: 15px;   width: 15px; }
.carousel-indicators li {height: 15px;    width: 15px;}
.main_features a {   	margin:10px 5px !important;}
.carousel-caption {    display: none;}
.right_ul { float:none;}
.logo_container img {    width: 100%;}
.carousel-indicators{ display:none;}
.left_menu{ display:none;}
}
@media only screen and (min-width: 320px) and (max-width: 479px) 
{
.container-fluid{ width:300px;}
.navbar-default .navbar-nav > li > a {padding: 10px;}

.carousel-indicators .active {  height: 15px;   width: 15px; }
.carousel-indicators li {height: 15px;    width: 15px;}

.main_features a {   	margin:10px 8px !important;}
.carousel-caption {    display: none;}
.right_ul { float:none;}
.logo_container img {    width: 100%;}
.carousel-indicators{ display:none;}
.left_menu{ display:none;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) 
{
.container-fluid{ width:450px;}
.navbar-default .navbar-nav > li > a {padding: 10px;}

.carousel-indicators .active {  height: 15px;   width: 15px; }
.carousel-indicators li {height: 15px;    width: 15px;}
.main_features a {   	margin:10px 15px !important;}
.carousel-caption {    display: none;}
.right_ul { float:none;}
.logo_container img {    width: 100%;}
.carousel-indicators{ display:none;}

.footer .footer_section{width:50%;}
.left_menu{ display:none;}
}
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
.container-fluid{ width:750px;}

.sidebar-nav {    padding: 9px 0;}
.dropdown-menu .sub-menu {    left: 100%;    position: absolute;    top: 0;    visibility: hidden;    margin-top: -1px;}
.dropdown-menu li:hover .sub-menu {    visibility: visible;}
.dropdown:hover .dropdown-menu {    display: block;}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {    margin-top: 0;}
.navbar .sub-menu:before {    border-bottom: 7px solid transparent;    border-left: none;    border-right: 7px solid rgba(0, 0, 0, 0.2);    border-top: 7px solid transparent;    left: -7px;    top: 10px;}
.navbar .sub-menu:after {    border-top: 6px solid transparent;    border-left: none;    border-right: 6px solid #fff;    border-bottom: 6px solid transparent;    left: 10px;    top: 11px;    left: -6px;}
.main_features a {   	margin:10px 5px !important;}
.footer .footer_section{width:50%;}
.left_menu{ display:none;}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px)
{
.sidebar-nav {    padding: 9px 0;}
.dropdown-menu .sub-menu {    left: 100%;    position: absolute;    top: 0;    visibility: hidden;    margin-top: -1px;}
.dropdown-menu li:hover .sub-menu {    visibility: visible;}
.dropdown:hover .dropdown-menu {    display: block;}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {    margin-top: 0;}
.navbar .sub-menu:before {    border-bottom: 7px solid transparent;    border-left: none;    border-right: 7px solid rgba(0, 0, 0, 0.2);    border-top: 7px solid transparent;    left: -7px;    top: 10px;}
.navbar .sub-menu:after {    border-top: 6px solid transparent;    border-left: none;    border-right: 6px solid #fff;    border-bottom: 6px solid transparent;    left: 10px;    top: 11px;    left: -6px;}
}
@media only screen and (min-width: 1280px) and (max-width: 1365px)
{
.sidebar-nav {    padding: 9px 0;}
.dropdown-menu .sub-menu {    left: 100%;    position: absolute;    top: 0;    visibility: hidden;    margin-top: -1px;}
.dropdown-menu li:hover .sub-menu {    visibility: visible;}
.dropdown:hover .dropdown-menu {    display: block;}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {    margin-top: 0;}
.navbar .sub-menu:before {    border-bottom: 7px solid transparent;    border-left: none;    border-right: 7px solid rgba(0, 0, 0, 0.2);    border-top: 7px solid transparent;    left: -7px;    top: 10px;}
.navbar .sub-menu:after {    border-top: 6px solid transparent;    border-left: none;    border-right: 6px solid #fff;    border-bottom: 6px solid transparent;    left: 10px;    top: 11px;    left: -6px;}
}

@media (min-width: 1366px) and (max-width: 1920px)
{
.sidebar-nav {    padding: 9px 0;}
.dropdown-menu .sub-menu {    left: 100%;    position: absolute;    top: 0;    visibility: hidden;    margin-top: -1px;}
.dropdown-menu li:hover .sub-menu {    visibility: visible;}
.dropdown:hover .dropdown-menu {    display: block;}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {    margin-top: 0;}
.navbar .sub-menu:before {    border-bottom: 7px solid transparent;    border-left: none;    border-right: 7px solid rgba(0, 0, 0, 0.2);    border-top: 7px solid transparent;    left: -7px;    top: 10px;}
.navbar .sub-menu:after {    border-top: 6px solid transparent;    border-left: none;    border-right: 6px solid #fff;    border-bottom: 6px solid transparent;    left: 10px;    top: 11px;    left: -6px;}	
}