﻿

/*BUTONLAR*/
#kbs-site-bilgleri .izle{
    background-color: #00D656;
    box-shadow: 0 0 5px 0 #ccc;
    text-shadow: 0 0 5px #999;
}
#kbs-site-bilgleri .izle:hover {
    background-color: #3EFF68!important;
    box-shadow: 0 0 5px 0 #ccc, inset 0 0 1px 0 #00AD26!important;
}
/*BUTONLAR*/