/* Buttons */
/* Red Button */
/* line 17, ../../app/assets/stylesheets/components.css.scss */
input.disabled-button,
a.red-button,
span.red-button a,
input.red-button {
  background-color: #c0161c;
  background-image: none;
  border: 1px solid #c0161c;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 17px;
  padding: 5px 16px;
  text-align: center;
  text-transform: lowercase;
  vertical-align: top;
  width: auto;
}

/* White Button */
/* line 38, ../../app/assets/stylesheets/components.css.scss */
span.white-button a,
input.white-button,
a.white-button {
  background-color: #FFF;
  background-image: none;
  border: 1px solid #c0161c;
  color: #c0161c;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 17px;
  padding: 5px 16px;
  text-align: center;
  text-transform: lowercase;
  vertical-align: top;
  width: auto;
}

/* Disabled Button */
/* line 58, ../../app/assets/stylesheets/components.css.scss */
span.disabled-button a,
input.disabled-button,
a.disabled-button,
input.red-button:disabled {
  background-color: #959595;
  border-color: #959595;
  color: #FFF;
  cursor: default;
}

/* Hovers and Height Fix */
/* line 69, ../../app/assets/stylesheets/components.css.scss */
div.ui-dialog-buttonpane button.ui-button,
input.disabled-button,
input.red-button,
input.white-button {
  height: 29px;
}

/* line 76, ../../app/assets/stylesheets/components.css.scss */
.disabled-button:hover,
.red-button:hover,
.white-button:hover {
  cursor: pointer;
  text-decoration: none;
}

/* Terms and Condition buttons */
/* line 86, ../../app/assets/stylesheets/components.css.scss */
#inline_popup_content input.red-button {
  float: left;
  margin: 10px 5px 10px 0;
}
/* line 90, ../../app/assets/stylesheets/components.css.scss */
#inline_popup_content input.button_agree {
  float: right;
  margin-right: 28px;
}

/* New Popup Hovers */
/* line 97, ../../app/assets/stylesheets/components.css.scss */
div.popUp {
  display: none;
  position: absolute;
  margin: -7px 0 0 -85px;
  min-width: 250px;
  padding: 0px;
  background-color: #dff09f;
  color: #565656;
  border: 1px solid #dff09f;
  z-index: 500;
  -webkit-box-shadow: 0px 1px 4px #CDCCCC;
  -moz-box-shadow: 0px 1px 4px #cdcccc;
  box-shadow: 0px 1px 4px #CDCCCC;
}
/* line 109, ../../app/assets/stylesheets/components.css.scss */
div.popUp .course_name_label,
div.popUp .section_name_label,
div.popUp .section_instructors_label,
div.popUp .section_info_label,
div.popUp .section_schedule_label {
  font-weight: bold;
  line-height: 1.8em;
}
/* line 119, ../../app/assets/stylesheets/components.css.scss */
div.popUp .popUpinner {
  border: 0px;
  padding: 5px;
}
/* line 123, ../../app/assets/stylesheets/components.css.scss */
div.popUp .popUpinner p {
  margin-bottom: 0px;
}
/* line 128, ../../app/assets/stylesheets/components.css.scss */
div.popUp .popUp_hoverArrow {
  background: url(/assets/toc_hover_arrow.png) left 7px no-repeat;
  display: block;
  min-height: 80px;
  width: 18px;
  position: absolute;
  left: 250px;
  top: 0px;
}

/* SelectBox Plugin */
/* Styling for SelectBoxIt Plugin */
/* line 145, ../../app/assets/stylesheets/components.css.scss */
.select_wrapper {
  display: inline-block;
  position: relative;
}

/* line 150, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

/* Styles that apply to all SelectBoxIt elements */
/* line 157, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-container * {
  font: 11px Tahoma, Arial;
  /* Prevents text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
  white-space: nowrap;
}

/* line 171, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-container .selectboxit-options {
  max-height: 300px;
}

/* Button */
/* line 177, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-container .selectboxit {
  width: 150px;
  /* Width of the dropdown button */
  cursor: pointer;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

/* Height and Vertical Alignment of Text */
/* line 187, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
  height: 20px;
  line-height: 20px;
  display: block;
}

/* Focus pseudo selector */
/* line 194, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-container .selectboxit:focus {
  outline: 0;
}

/* Disabled Mouse Interaction */
/* line 199, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-disabled {
  cursor: default;
}

/* Button Text */
/* line 204, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-text {
  text-indent: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  max-width: 85%;
}

/* Button Text with image */
/* line 213, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-option-icon-container + .selectboxit-text {
  max-width: 75%;
}

/* Options List */
/* line 218, ../../app/assets/stylesheets/components.css.scss */
#activity_body ul.selectboxit-options {
  margin-left: 0px;
}

/* line 222, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-container .selectboxit-options {
  min-width: 100px;
  /* Minimum Width of the dropdown list box options */
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
  display: none;
  z-index: 9999999999999;
  text-align: left;
}

/* Individual options */
/* line 237, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-option .selectboxit-option-anchor {
  padding: 0px 10px 0px 2px;
}

/* Individual Option Hover Action */
/* line 242, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-option .selectboxit-option-anchor:hover {
  text-decoration: none;
}

/* Individual Option Optgroup Header */
/* line 247, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-option, .selectboxit-optgroup-header {
  text-indent: 5px;
  /* Horizontal Positioning of the select box option text */
  margin: 0;
}

/* Drop Down optgroup headers */
/* line 253, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-optgroup-header {
  font-weight: bold;
}

/* Drop Down optgroup header hover psuedo class */
/* line 258, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-optgroup-header:hover {
  cursor: default;
}

/* Drop Down down arrow container */
/* line 263, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-arrow-container {
  /* Positions the down arrow */
  width: 13%;
  position: absolute;
  right: 0;
}

/* Drop Down down arrow */
/* line 271, ../../app/assets/stylesheets/components.css.scss */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  /* Horizontally centers the down arrow */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

/* Drop Down down arrow for jQueryUI and jQuery Mobile */
/* line 281, ../../app/assets/stylesheets/components.css.scss */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
  top: 30%;
}

/* Drop Down individual option icon positioning */
/* line 286, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-option-icon-container {
  float: left;
}

/* line 290, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-container .selectboxit-option-icon {
  margin: 0;
  padding: 0;
}

/* Drop Down individual option icon positioning */
/* line 296, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-option-icon-url {
  width: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  float: left;
}

/* jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
/* line 306, ../../app/assets/stylesheets/components.css.scss */
.jqueryui .ui-icon {
  background-color: inherit;
}

/* Another jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
/* line 311, ../../app/assets/stylesheets/components.css.scss */
.jqueryui .ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/* line 316, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-btn {
  background-color: #fff;
  background-image: url(/assets/dots-select-new.png);
}

/* line 321, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-btn:hover,
.selectboxit-btn:focus,
.selectboxit-btn:active {
  color: #333333;
  background-color: #e6e6e6;
}

/* line 328, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-btn:hover,
.selectboxit-btn:focus {
  color: #333333;
  text-decoration: none;
}

/* line 334, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-default-arrow {
  width: 0;
  height: 0;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* line 342, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-list {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* line 351, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-list > li > a {
  color: #0083CB;
}

/* line 355, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-list > .selectboxit-focus > a,
.selectboxit-list > .selectboxit-focus > a:hover,
.selectboxit-list > .selectboxit-focus > a:focus {
  color: #0083CB;
  background-color: #DFF09F;
}

/* line 362, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-list > .selectboxit-disabled > a {
  color: #999999;
}

/* line 366, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-list > .selectboxit-disabled > a:hover,
.selectboxit-list > .selectboxit-disabled > a:focus {
  background-color: transparent;
  background-image: none;
}

/* line 373, ../../app/assets/stylesheets/components.css.scss */
.selectboxit-disabled .selectboxit-text {
  color: #999999;
}
