/* General / Page Layout */
/* line 7, ../../app/assets/stylesheets/front.css.scss */
input, label {
  display: block;
}

/* line 9, ../../app/assets/stylesheets/front.css.scss */
#account_menu {
  display: none;
}

/* line 11, ../../app/assets/stylesheets/front.css.scss */
#column_one.front {
  margin: 0 0 0 54px;
  min-height: 400px;
  width: 450px;
}

/* line 17, ../../app/assets/stylesheets/front.css.scss */
#column_two.front {
  margin: 0 50px 0 0;
  width: 387px;
}

/* line 22, ../../app/assets/stylesheets/front.css.scss */
#front_mainpanel {
  background: url(/assets/bkgd-sign-up-42ecf2cdd374adf06d9687e75b122269.gif) transparent top left no-repeat;
  height: 160px;
  line-height: 1.2;
  padding: 30px 25px;
  font-size: .923em;
}
/* line 29, ../../app/assets/stylesheets/front.css.scss */
#front_mainpanel .thumbnails {
  margin: 15px 30px;
}
/* line 33, ../../app/assets/stylesheets/front.css.scss */
#front_mainpanel h1,
#front_mainpanel h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0 0 15px 0;
}
/* line 39, ../../app/assets/stylesheets/front.css.scss */
#front_mainpanel h1 span,
#front_mainpanel h2 span {
  font-weight: bold;
}

/* Login Panel */
/* line 46, ../../app/assets/stylesheets/front.css.scss */
#login_panel {
  background: transparent url(/assets/panel_login-7547e22ab73e6a69ac51796371587b13.png) no-repeat 0 0;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;
}
/* line 53, ../../app/assets/stylesheets/front.css.scss */
#login_panel h2 {
  font-size: 2.615em;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0px 20px 10px 20px;
  padding: 0;
}
/* line 60, ../../app/assets/stylesheets/front.css.scss */
#login_panel h2 span {
  font-weight: bold;
}
/* line 65, ../../app/assets/stylesheets/front.css.scss */
#login_panel label {
  font-size: 0.846em;
  font-style: italic;
  font-weight: normal;
  margin: 0 0 0 20px;
  padding: 0;
}
/* line 73, ../../app/assets/stylesheets/front.css.scss */
#login_panel input {
  background: url(/assets/inputbg-82ea30c767bc0dc4cc0bf82ee9858cfe.png) no-repeat;
  border: none;
  height: 28px;
  margin: 0 0 .5em 20px;
  padding: 0 0 0 5px;
  width: 228px;
}
/* line 82, ../../app/assets/stylesheets/front.css.scss */
#login_panel p {
  margin: 0 0 0 20px;
  padding: 0;
}
/* line 87, ../../app/assets/stylesheets/front.css.scss */
#login_panel p.context_help {
  border-top: 1px dotted #559aba;
  clear: both;
  display: inline;
  font-weight: bold;
  padding-top: .5em;
}
/* line 94, ../../app/assets/stylesheets/front.css.scss */
#login_panel p.context_help a {
  color: #559aba;
}
/* line 99, ../../app/assets/stylesheets/front.css.scss */
#login_panel #user_session_submit {
  background: url(/assets/btn_login-9c97011bbdc981830f8293b9e8ed70c7.png) no-repeat 0 0;
  border: 0;
  font-size: 0px;
  height: 37px;
  margin-bottom: 8px;
  margin-left: 18px;
  width: 82px;
}

/* Register Panel */
/* line 111, ../../app/assets/stylesheets/front.css.scss */
#register_panel {
  background: transparent url(/assets/panel_register-f57fd137025f402cc3dec1326bcb83a4.png) no-repeat 0 0;
  padding-top: 20px;
}
/* line 115, ../../app/assets/stylesheets/front.css.scss */
#register_panel p,
#register_panel h3 {
  margin-left: 20px;
  margin-right: 20px;
}
/* line 121, ../../app/assets/stylesheets/front.css.scss */
#register_panel p.call_to_action {
  font-size: 1.385em;
  font-weight: bold;
}
/* line 125, ../../app/assets/stylesheets/front.css.scss */
#register_panel p.call_to_action a {
  color: #d12209;
}
/* line 130, ../../app/assets/stylesheets/front.css.scss */
#register_panel p.contextual_help {
  clear: both;
  display: block;
  font-weight: bold;
  padding-top: .5em;
}
/* line 136, ../../app/assets/stylesheets/front.css.scss */
#register_panel p.contextual_help a {
  color: #559aba;
}
/* line 141, ../../app/assets/stylesheets/front.css.scss */
#register_panel p.vhldirect {
  margin-right: -5px;
}
/* line 144, ../../app/assets/stylesheets/front.css.scss */
#register_panel p.vhldirect a {
  font-weight: bold;
}
/* line 149, ../../app/assets/stylesheets/front.css.scss */
#register_panel h2 {
  font-size: 1.538em;
  margin: 0px 20px 10px 20px;
  padding: 0;
  font-weight: normal;
  line-height: 1.2;
}
/* line 156, ../../app/assets/stylesheets/front.css.scss */
#register_panel h2 span {
  font-size: 1.5em;
}
/* line 159, ../../app/assets/stylesheets/front.css.scss */
#register_panel h2 span span {
  font-size: 1em;
  font-weight: bold;
}

/* Name Program Intro */
/* line 170, ../../app/assets/stylesheets/front.css.scss */
#name_program_intro p.call_to_action {
  font-size: 1.385em;
  font-weight: bold;
  margin: 20px 0 0 0;
}
/* line 175, ../../app/assets/stylesheets/front.css.scss */
#name_program_intro p.call_to_action a {
  color: #d12209;
}
/* line 180, ../../app/assets/stylesheets/front.css.scss */
#name_program_intro h1 {
  color: #000;
  font-weight: bold;
}

/* Programs List */
/* line 187, ../../app/assets/stylesheets/front.css.scss */
#programs_list {
  margin: 0;
}
/* line 190, ../../app/assets/stylesheets/front.css.scss */
#programs_list li {
  float: left;
  height: 270px;
  margin: 0 0 8px 0;
  text-align: center;
  width: 202px;
}
/* line 198, ../../app/assets/stylesheets/front.css.scss */
#programs_list .book_language {
  height: 43px;
  text-align: left;
  width: 100%;
}
/* line 204, ../../app/assets/stylesheets/front.css.scss */
#programs_list .program_title {
  display: block;
  padding: 5px 0 0 0;
}
/* line 209, ../../app/assets/stylesheets/front.css.scss */
#programs_list .image_container {
  display: block;
  height: 228px;
  position: relative;
}
/* line 214, ../../app/assets/stylesheets/front.css.scss */
#programs_list .image_container img {
  position: absolute;
  bottom: 0px;
  left: 15px;
}

/* Home Program */
/* line 223, ../../app/assets/stylesheets/front.css.scss */
#home_program {
  float: left;
  text-align: center;
  width: 202px;
}
/* line 228, ../../app/assets/stylesheets/front.css.scss */
#home_program .program_title {
  display: block;
  padding: 5px 0 0 0;
}

/* line 234, ../../app/assets/stylesheets/front.css.scss */
#home_program_intro {
  margin: 0 0 0 222px;
}

/* line 238, ../../app/assets/stylesheets/front.css.scss */
.description {
  font-size: 15px;
  line-height: 17px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* line 245, ../../app/assets/stylesheets/front.css.scss */
.description span {
  font-weight: bold;
}

/* line 249, ../../app/assets/stylesheets/front.css.scss */
.privacy-policy-message {
  font-size: 15px;
  font-weight: bold;
  padding-top: 22px;
}
