/* Page Layout */
/* line 27, ../../app/assets/stylesheets/layout.css.scss */
.masthead_divider {
  background: #d7d7d7;
  display: block;
  height: 2px;
  margin-left: 62px;
  margin-bottom: 20px;
  position: relative;
  width: 843px;
}

/* line 37, ../../app/assets/stylesheets/layout.css.scss */
#page_container {
  background: transparent url(/assets/bg_pagecontainer-a84130dadfea9335afb12bcdfcafb13e.png) repeat-y 0 0;
  font-size: 1.3em;
  line-height: 1.385em;
  margin: 0 auto;
  text-align: left;
  width: 960px;
}

/* line 46, ../../app/assets/stylesheets/layout.css.scss */
#column_wrapper {
  clear: both;
  float: right;
  margin-top: 10px;
  padding: 0 0 50px 0;
  position: relative;
  width: 100%;
}

/* line 55, ../../app/assets/stylesheets/layout.css.scss */
#column_one {
  float: left;
  height: 400px;
  height: auto !important;
  margin: 0 0 0 55px;
  min-height: 400px;
  padding: 0;
}

/* line 64, ../../app/assets/stylesheets/layout.css.scss */
#main_content {
  float: left;
  height: 400px;
  height: auto !important;
  margin-left: 30px;
  min-height: 400px;
  width: 900px;
}

/* line 73, ../../app/assets/stylesheets/layout.css.scss */
#column_two {
  float: right;
  height: 400px;
  height: auto !important;
  margin-right: 55px;
  min-height: 400px;
}

/* line 81, ../../app/assets/stylesheets/layout.css.scss */
#content {
  background-color: #fff;
  border-top: 1px solid #ccc;
  clear: both;
  padding: 1em;
  position: relative;
}

/* line 89, ../../app/assets/stylesheets/layout.css.scss */
.single_column #main_content {
  margin-left: 55px;
  width: 855px;
}

/* line 95, ../../app/assets/stylesheets/layout.css.scss */
.duo_column_left #column_one {
  width: 25%;
}
/* line 99, ../../app/assets/stylesheets/layout.css.scss */
.duo_column_left #main_content {
  width: 65%;
}

/* line 105, ../../app/assets/stylesheets/layout.css.scss */
.duo_column_right #main_content {
  width: 65%;
}
/* line 109, ../../app/assets/stylesheets/layout.css.scss */
.duo_column_right #column_two {
  width: 25%;
}

/* line 115, ../../app/assets/stylesheets/layout.css.scss */
.tri_column #column_one {
  border: 1px solid #ccc;
  width: 215px;
}
/* line 120, ../../app/assets/stylesheets/layout.css.scss */
.tri_column #main_content {
  width: 360px;
}
/* line 124, ../../app/assets/stylesheets/layout.css.scss */
.tri_column #column_two {
  width: 175px;
}

/* Masthead Defaults */
/* line 130, ../../app/assets/stylesheets/layout.css.scss */
#masthead {
  color: #acacac;
  height: 175px;
  padding: 0;
  position: relative;
  width: 100%;
}

/* line 138, ../../app/assets/stylesheets/layout.css.scss */
#masthead.short {
  background: transparent;
  height: 70px;
}
/* line 142, ../../app/assets/stylesheets/layout.css.scss */
#masthead.short .program_logo,
#masthead.short #vista_logo {
  top: 5px;
}

/* Logo Stuff */
/* line 149, ../../app/assets/stylesheets/layout.css.scss */
#supersite_logo {
  display: block;
  left: 25px;
  position: absolute;
  top: 35px;
}

/* line 156, ../../app/assets/stylesheets/layout.css.scss */
#vista_logo {
  display: block;
  left: 55px;
  position: absolute;
  top: 35px;
}

/* line 163, ../../app/assets/stylesheets/layout.css.scss */
#vista_logo img {
  width: 80px;
}

/* line 167, ../../app/assets/stylesheets/layout.css.scss */
.program_logo {
  display: block;
  left: 55px;
  position: absolute;
  top: 35px;
}

/* line 174, ../../app/assets/stylesheets/layout.css.scss */
.vista_logo {
  float: left;
  margin-left: 70px;
  margin-top: 10px;
}

/* line 180, ../../app/assets/stylesheets/layout.css.scss */
.vhl-title {
  color: #333333;
  float: right;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 15px;
  margin-top: 105px;
  margin-right: 55px;
}

/* line 190, ../../app/assets/stylesheets/layout.css.scss */
span.normal {
  font-weight: normal;
}

/* Page Footer */
/* line 195, ../../app/assets/stylesheets/layout.css.scss */
#footer {
  background: transparent url(/assets/bg_footer-1c4780f8ee0e61f17c42be7fe9e32f6c.png) no-repeat 0 0;
  clear: both;
  font-size: 0.769em;
  padding: 1em 0;
}
/* line 201, ../../app/assets/stylesheets/layout.css.scss */
#footer a {
  color: #c0161c;
}
/* line 205, ../../app/assets/stylesheets/layout.css.scss */
#footer p {
  color: #2f2f2f;
  display: inline;
  margin: 0;
  margin-left: 25px;
}
/* line 212, ../../app/assets/stylesheets/layout.css.scss */
#footer p.copyright {
  float: right;
  position: relative;
  margin: 0;
  margin-right: 25px;
}
/* line 219, ../../app/assets/stylesheets/layout.css.scss */
#footer ul {
  list-style: none;
  margin: 0;
  padding: .5em 0;
}
/* line 225, ../../app/assets/stylesheets/layout.css.scss */
#footer li {
  display: inline;
  margin: 0;
  padding: 0 .25em 0 0;
}
/* line 231, ../../app/assets/stylesheets/layout.css.scss */
#footer li.copyright {
  border: 1px solid #fff;
  float: right;
}

/* User Account Menu */
/* line 238, ../../app/assets/stylesheets/layout.css.scss */
.current_user_menu {
  position: absolute;
  right: 0px;
  top: 23px;
  white-space: nowrap;
  border: 1px solid #EEE;
  z-index: 1000;
  padding: 5px 15px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 4px #CDCCCC;
  -moz-box-shadow: 0px 1px 4px #cdcccc;
  box-shadow: 0px 1px 4px #CDCCCC;
}

/* line 250, ../../app/assets/stylesheets/layout.css.scss */
.help_menu_item,
.current_user_menu_item {
  margin: 0 0 2px 0;
  display: block;
}

/* line 256, ../../app/assets/stylesheets/layout.css.scss */
.help_menu {
  position: absolute;
  top: 23px;
  right: 0px;
  white-space: nowrap;
  border: 1px solid #EEE;
  z-index: 1000;
  padding: 5px 15px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 4px #CDCCCC;
  -moz-box-shadow: 0px 1px 4px #cdcccc;
  box-shadow: 0px 1px 4px #CDCCCC;
}

/* line 268, ../../app/assets/stylesheets/layout.css.scss */
.account_tools {
  height: 24px;
  margin: 0px 5px;
}

/* line 273, ../../app/assets/stylesheets/layout.css.scss */
#account_menu {
  height: 23px;
  padding-left: 0;
  position: relative;
  right: auto;
  top: auto;
  float: right;
  margin-right: 50px;
  height: 23px;
  font-size: 11px;
}
/* line 284, ../../app/assets/stylesheets/layout.css.scss */
#account_menu li {
  background: url(/assets/account_menu_divider-bb046c127af98fbfc179a96a1abc1657.png) no-repeat right 0;
  float: left;
  margin-right: 12px;
  padding-right: 12px;
  padding-top: 2px;
  position: relative;
}
/* line 293, ../../app/assets/stylesheets/layout.css.scss */
#account_menu li:last-child {
  margin-right: 0px;
  padding-right: 9px;
}
/* line 298, ../../app/assets/stylesheets/layout.css.scss */
#account_menu .masthead_home_link {
  font-weight: normal;
}
/* line 302, ../../app/assets/stylesheets/layout.css.scss */
#account_menu .help_menu_link,
#account_menu .current_user_name {
  background: url(/assets/arrow_down_small-4f9f5a08c2b90975b5889092defec55c.png) transparent no-repeat scroll right;
  padding-right: 14px;
  cursor: pointer;
  font-weight: bold;
  color: #565656;
}
/* line 311, ../../app/assets/stylesheets/layout.css.scss */
#account_menu a {
  color: #959595;
}
/* line 315, ../../app/assets/stylesheets/layout.css.scss */
#account_menu .help_menu a,
#account_menu .current_user_menu a {
  color: #0083cb;
}
/* line 320, ../../app/assets/stylesheets/layout.css.scss */
#account_menu .help_menu a:hover,
#account_menu .current_user_menu a:hover {
  color: #0083cb;
  text-decoration: underline;
}

/* Masthead Adjustments for Instructors */
/* line 329, ../../app/assets/stylesheets/layout.css.scss */
#masthead.instructor .account_tools {
  background: url(/assets/masthead_account_instructor-240c33507375e86509cd9132d47167d1.png) repeat-x;
}
/* line 332, ../../app/assets/stylesheets/layout.css.scss */
#masthead.instructor .account_tools span.current_user_name,
#masthead.instructor .account_tools span.help_menu_link {
  color: #959595;
}
/* line 338, ../../app/assets/stylesheets/layout.css.scss */
#masthead.instructor .account_tools #account_menu li .help_menu_link,
#masthead.instructor .account_tools #account_menu li .current_user_name {
  background: url(/assets/account_menu_arrow_light-82516f2ff1ddfcf5539d4662d55dce57.png) transparent no-repeat scroll right;
}
/* line 343, ../../app/assets/stylesheets/layout.css.scss */
#masthead.instructor .account_tools #account_menu li a {
  color: #959595;
}
/* line 347, ../../app/assets/stylesheets/layout.css.scss */
#masthead.instructor .account_tools #account_menu li .help_menu a,
#masthead.instructor .account_tools #account_menu li .current_user_menu a {
  color: #0083cb;
}

/* Masthead Adjustments for Sample Student */
/* line 357, ../../app/assets/stylesheets/layout.css.scss */
.logged_in_through {
  color: #565656;
  float: left;
  padding: 3px 10px;
  width: 330px;
  /* gross but ua puts a light color here at the tag level */
}
/* line 364, ../../app/assets/stylesheets/layout.css.scss */
.logged_in_through .return-to-blackboard {
  margin-left: 35px;
  color: #0083cb;
}

/* line 371, ../../app/assets/stylesheets/layout.css.scss */
.logged_in_through a {
  color: #FFF;
  text-decoration: underline;
}

/* line 377, ../../app/assets/stylesheets/layout.css.scss */
#masthead.logged_in_as .account_tools {
  background: #dff09f;
}
/* line 381, ../../app/assets/stylesheets/layout.css.scss */
#masthead.logged_in_as .account_tools li {
  background: url(/assets/account_green_divider-a685644536bc18b1637970cb34a14b37.png) no-repeat right 0;
}
/* line 388, ../../app/assets/stylesheets/layout.css.scss */
#masthead.logged_in_as #account_menu li a {
  color: #565656;
}
/* line 392, ../../app/assets/stylesheets/layout.css.scss */
#masthead.logged_in_as #account_menu li .help_menu a,
#masthead.logged_in_as #account_menu li .current_user_menu a {
  color: #0083cb;
}
/* line 397, ../../app/assets/stylesheets/layout.css.scss */
#masthead.logged_in_as #account_menu span.current_user_name,
#masthead.logged_in_as #account_menu span.help_menu_link {
  background: url(/assets/account_menu_arrow_dark-f0dcd222814e5ab685972d4484d770d2.png) transparent no-repeat scroll right;
  color: #565656;
}

/* Masthead Adjustments for Students */
/* line 408, ../../app/assets/stylesheets/layout.css.scss */
#masthead.student .program_logo,
#masthead.student a#vista_logo {
  margin-top: 0px;
}
/* line 413, ../../app/assets/stylesheets/layout.css.scss */
#masthead.student #navigation {
  margin-top: 70px;
}
/* line 417, ../../app/assets/stylesheets/layout.css.scss */
#masthead.student #sub_navigation_content,
#masthead.student #sub_navigation_grades,
#masthead.student #sub_navigation_communication {
  top: 122px;
}
/* line 424, ../../app/assets/stylesheets/layout.css.scss */
#masthead.student #account_menu li a {
  color: #565656;
}
/* line 428, ../../app/assets/stylesheets/layout.css.scss */
#masthead.student #account_menu li .help_menu a,
#masthead.student #account_menu li .current_user_menu a {
  color: #0083cb;
}

/* Classes that we want to call globally */
/* line 436, ../../app/assets/stylesheets/layout.css.scss */
.disable_link_function {
  color: #959595;
  position: relative;
}

/* line 441, ../../app/assets/stylesheets/layout.css.scss */
.disable_link_hover {
  background: #FFF;
  border: 1px solid #ddd;
  left: 40px;
  padding: 5px;
  position: absolute;
  top: -10px;
  width: 240px;
  z-index: 20;
}

/* line 452, ../../app/assets/stylesheets/layout.css.scss */
.hidden_helper {
  display: none;
}

/* Error Pages */
/* line 457, ../../app/assets/stylesheets/layout.css.scss */
html {
  background: #f5f5f5 none;
}

/* line 461, ../../app/assets/stylesheets/layout.css.scss */
.error_page #masthead.off {
  background-image: url(/assets/bg_masthead2-f81876b0752ccb8b4e522f349fd3db91.png);
  height: auto;
  margin-bottom: 30px;
  padding: 0;
  position: relative;
}
/* line 468, ../../app/assets/stylesheets/layout.css.scss */
.error_page #masthead.off #vista_logo {
  display: block;
  left: auto;
  height: 110px;
  margin: 0px 0px 0px 30px;
  padding-top: 10px;
  position: relative;
  top: auto;
}

/* line 479, ../../app/assets/stylesheets/layout.css.scss */
.error_page #full_width_header {
  min-height: auto;
}
