/*
help_printable.css
	created 7/30/2006 by adama

	this stylesheet contains general classes for help documentation
	the classes should be defined in a relatively color-neutral style so that
	they work with all sites, but should try to be consistent with the overall design
	of the supersites.

/* start styles */


/* these definitions undo all default browser formatting issues so that we can rebuild them later */


:link,:visited { text-decoration:none }
ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
hr,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input { margin:0; padding:0 }
fieldset,a img,:link img,:visited img { border:none }
address { font-style:normal }
body * {font-size:100%;}
/* end undo */

body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 100%;
}

h1{
	font-size: 1.2em;
	margin-bottom: 0.4em;
}

h2{
	font-size: 1.2em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

p{
	margin-top: 0.3em;
}

a, a:link, a:visited, a:active, a:hover{
	text-decoration: underline;
	font-weight: bold;
}
a:link{
	color: #3300CC;
}

a:visited{
	color: #660099;
}

a:active{
	color: #CC0033;
}

a:hover{
	background: #FFFFCC;
}

q{
	margin: 0;
	display: inline;
	font-style: italic;
}

ul{
	margin-top: 0px;
	margin-bottom: 0.3em;
	margin-left: 2em;
	list-style: square middle;
}
ol{
	margin-top: 0px;
	margin-bottom: 0.3em;
	margin-left: 2em;
	list-style: decimal;
}
li{
	margin-bottom: 0.3em;
}

/* end general_tag_definitions */
.printhide{
	display: none;
}

.helpbody{
	width: 100%;
}

.helpbody td{
	background-color: white;
	text-align: left;
	padding: 10px;
	font-size: 0.85em;
	line-height: 1.4em;
}

.overview{
	border: 1px solid #333;
	background: #eee;
	padding: 8px;
	font-size: 0.85em;
}

.brief{
	border: 1px solid #333;
	background: #e7eff2;
	padding: 10px;
	font-size: 0.85em;
	margin-top: 8px;
}

.overview h2, .brief h2{
	margin-top: 0;
}

.brief ol li{
	font-weight: bold;
}

.brief ol li p{
	font-weight: normal;
}

.showme{
	display: none;
}

.showdiv{
	text-align: center;
	border: 1px solid #ddd;
	padding: 5px;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	display: block;
}

.helpmediv{
	border: 1px solid #ddd;
	padding: 5px;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

.helpmediv ol{
	list-style: lower-roman;
}

.helpmediv ol li{
	font-weight: bold;
	margin-left: 1em;
}

.helpmediv p{
	font-weight: normal;
}

.detailed, .troubleshooting{
	margin-top: 1em;
	font-size: 0.85em;
}

.softwarename{
	font-weight: bold;
	color: #660000;
}

.button_label{
	font-weight: bold;
}


.menu_heading{
	font-weight: bold;
}
.menu_option{
	font-weight: bold;
}
.tech_term{
	font-style: italic;
}

td.instructor div {
  display: none;
}

/* Style for Printing Student Instructions */

#course-table {
  border: 1px solid #D7D7D7;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
}

#course-table td.instructor {
  border-right: 2px solid #D7D7D7;
  vertical-align: top;
}

#course-table td.course {
  border-right: 2px solid #D7D7D7;
  vertical-align: top;
}

#course-table td.section {
  vertical-align: top;
}

#course-table td.instructor input {
  display: inline;
  margin: 0 5px 0 0;
}

#course-table td.instructor label {
  display: inline;
}

#course-table .multiple {
  display: block;
  margin-left: 10px;
  margin-top: -16px;
  padding-bottom: 14px;
}

.moreInfo {
  vertical-align: middle;
  margin: 0px 0 0 10px;
  float: right;
}


ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 2em;
  list-style: square;
}

li {
  margin-bottom: 0.8em;
  list-style: square;
}

ul.no_bullet {
  list-style-type: none;
}

ul.no_bullet li {
  list-style: none;
}
