body {
    color: #000000;
    background-color: #ffffff;
}

body,td {
    font-family: "Arial",sans-serif;
    font-size: smaller;
}

hr{
border: 1.5px solid #133C8A;

}
.button, .sbutton, .subbutton {
    font-family: "Arial",sans-serif;
    background-image: url(images/button.png);
    background-repeat: no-repeat;
    height: 21px;
    padding-left: 2px;
}

.other {
    font-family: "Arial",sans-serif;
    background-image: url(images/button.png);
    background-repeat: no-repeat;
    height: 106px;
    padding-left: 2px;
    font-size: 10pt;
    vertical-align: text-top;
    background:#e1dfe0;
}

.button {
    font-weight: bold;
    font-size: 11pt;
    background:#e1dfe0;
}
.bottoma {
    font-weight: bold;
    font-size: 11pt;
    background:#e9e9e9;
    height: 21px;
}

.bottomb {
    font-weight: bold;
    font-size: 11pt;
    background:#f9f9f9;
    height: 21px;
}

.sbutton {
    font-size: 10pt;
    background:#e1dfe0;
}

.subbutton {
    font-size: 9pt;
    background:#e1dfe0;
}

.button a, .sbutton a, .subbutton a, .other a {
    text-decoration: none;
    width: 96px;
    color: #000000;
}
.button a:first-letter, .sbutton a:first-letter {
    color: #000000;
}

.upbody {
    margin: 0;
    margin-right: 7px;
    margin-bottom: 10px;
}

.tbar {
    background-color: #F6F4F5;
    width: 99.8%;
    border-top: 1px solid #E1DFE0;
    border-bottom: 1px solid #E1DFE0;
    margin-right: auto;
    margin-left: auto;
}

.tbar2 {
    background-color: #F6F4F5;
    border-top: 1px solid #E1DFE0;
    border-bottom: 1px solid #E1DFE0;
    font-weight: bold;
    padding-left: 12px;
}

.tbar td {
    padding-left: 9px;
}

.htbar {
    background:url(#) center right no-repeat #fff;
    width: 100%;
    border-bottom: 3px solid #133c8a;

}

.htbar td {
    padding-left: 9px;
    height:45px;
}

.rlogo {
    width: 90%;
    height: 43px;
    float:right; 
    margin-right:0px; 
    padding-right:0px;
    border-bottom: 3px solid #133c8a;
    background:url(images/rarlablogosmall.gif) right center no-repeat;
}

.rlogo a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display:block;
    padding:0px;
    margin:0px;
}

.rlogo td {
    padding-top: 0px;
    padding-bottom: 0px;
    height:45px;
}

.ttbar {
    font-weight: bold;
    color: black;
    width: 100%;
    padding-left: 12px;

}

.htbar .ttbar {
    vertical-align:bottom;
    padding-top: 0px;
    padding-bottom: 7px;
}


.rborder {
    border-right: 1px solid black;
}

.tplain {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 3px;
    background:#fff;
    

}

ul li {
    margin-top: 10px;
    list-style-type: square;
    list-style-image: url("images/checkmark.png");
    padding-left: 12px;
}

ol li {
    margin-top: 10px;
}


.buyitems {
    font-weight: bold;
    font-size: 11pt;
}

.rshift {
    margin-left: 20px;
}

.utshift {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-right: 3px;
}

.thinbox {
    border-collapse: collapse;
    
}

.thinbox td {
    border-bottom: 1px solid #ffffff;
    
}

.thinboxx td {
    border-bottom: 1px solid #E1DFE0;
    
}

.thinbox .tplain {
    border-bottom:0px solid #E1DFE0;
    border-right:none;
    border-left:none;
    background:#fff;
}

.thinbox td.tdempty { 
    border: 0;
}

.maintab {
    border: 0;
    border-collapse: collapse;
    height: 100%;
}

.maintd {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-right:none;
}

.maintd2 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.headtbl {
    border-collapse: collapse;
    padding-left: 12px;
    padding-right: 3px;
}

.headtd {
    background-color: #fff;
    height: 18px;
    font-weight: bold;
    font-size: 8pt;
    border:0px;
}

.headtbl td {
    border-bottom: 1px solid #E1DFE0;
    padding-left: 12px;
}
