/* ! ##KEYFRAMES */
@keyframes slideInRight{
	from{left:calc(100% - 340px);opacity:0}
	  to{left:calc(100% - 320px);opacity:1}
}
@keyframes slideOutRight{
	from{left:calc(100% - 320px);opacity:1}
	  to{left:calc(100% - 340px);opacity:0}
}
@keyframes slideInRightLog{
	from{left:calc(100% - 420px);opacity:0}
	  to{left:calc(100% - 400px);opacity:1}
}
@keyframes slideOutRightLog{
	from{left:calc(100% - 400px);opacity:1}
	  to{left:calc(100% - 420px);opacity:0}
}
@keyframes slideInTop{
	from{top:85px;opacity:0}
	  to{top:70px;opacity:1}
}
@keyframes slideOutTop{
	from{top:70px;opacity:1}
	  to{top:85px;opacity:0}
}


/* ! ##FONTS */
/* ! #NORMAL */
@font-face{
font-family:'OS-regular';
	src: url('../hub/font/opensans-regular.woff2') format('woff2'),
		 url('../hub/font/opensans-regular.woff') format('woff'),
		 url('../hub/font/opensans-regular.ttf') format('truetype');
	font-weight:400;
	font-style:normal
}
@font-face{
	font-family:'OS-light';
	src: url('../hub/font/opensans-light.woff2') format('woff2'),
		 url('../hub/font/opensans-light.woff') format('woff'),
		 url('../hub/font/opensans-light.ttf') format('truetype');
	font-weight:300;
	font-style:normal
}
/* ! #BOLD */
@font-face{
font-family:'OS-semibold';
	src: url('../hub/font/opensans-semibold.woff2') format('woff2'),
		 url('../hub/font/opensans-semibold.woff') format('woff'),
		 url('../hub/font/opensans-semibold.ttf') format('truetype');
	font-weight:600;
	font-style:normal
}
@font-face{
font-family:'OS-bold';
	src: url('../hub/font/opensans-bold.woff2') format('woff2'),
		 url('../hub/font/opensans-bold.woff') format('woff'),
		 url('../hub/font/opensans-bold.ttf') format('truetype');
	font-weight:700;
	font-style:normal
}
/* ! #ITALIC */
@font-face{
font-family:'OS-lightitalic';
	src: url('../hub/font/opensans-lightitalic.woff2') format('woff2'),
		 url('../hub/font/opensans-lightitalic.woff') format('woff'),
		 url('../hub/font/opensans-lightitalic.ttf') format('truetype');
	font-weight:300;
	font-style:italic
}
@font-face{
font-family:'OS-italic';
	src: url('../hub/font/opensans-italic.woff2') format('woff2'),
		 url('../hub/font/opensans-italic.woff') format('woff'),
		 url('../hub/font/opensans-italic.ttf') format('truetype');
	font-weight:400;
	font-style:italic
}
@font-face{
font-family:'OS-semibolditalic';
	src: url('../hub/font/opensans-semibolditalic.woff2') format('woff2'),
		 url('../hub/font/opensans-semibolditalic.woff') format('woff'),
		 url('../hub/font/opensans-semibolditalic.ttf') format('truetype');
	font-weight:600;
	font-style:italic
}
@font-face{
font-family:'OS-bolditalic';
	src: url('../hub/font/opensans-bolditalic.woff2') format('woff2'),
		 url('../hub/font/opensans-bolditalic.woff') format('woff'),
		 url('../hub/font/opensans-bolditalic.ttf') format('truetype');
	font-weight:700;
	font-style:italic
}

/* ! ##GENERIC */
html{height:100%;background-color:#ececec;font-size:62.5%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{font:normal 1.5rem sans-serif}
body,html{margin:0;padding:0;border:0;vertical-align:baseline}
body{font-family:'OS-regular', sans-serif}

a{outline:none}

.overflow-hidden{position:fixed;overflow:hidden}

.clr:before,
.clr:after{content:" ";display:table}
.clr:after{clear:both}
.clr{*zoom:1}

.hfc--menu-mob *,
.hfc--menu-mob-ec *,
.hfc--nc *,
.hfc--header *,
.hfc--footer * {box-sizing:border-box}

.hfc--menu-mob{
	z-index:9999;
	position:fixed;
	top:0;
	left:-280px;
	height:calc(100% + 1px);
	width:280px;
	background-color:#f3f3f3;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	transition:transform .3s;
	-ms-transition:-ms-transform .3s;
	-webkit-transition:-webkit-transform .3s;
}
.hfc--menu-mob.isClose{
	transform:translate3d(0,0,0);
	-ms-transform:translate(0,0);
	-webkit-transform:translate3d(0,0,0);
}
.hfc--menu-mob.isOpen{
	transform:translate3d(280px,0,0);
	-ms-transform:translate(280px,0);
	-webkit-transform:translate3d(280px,0,0)
}
	.hfc--menu-mob .hcm--sousnav{display:block;padding:10px 0 5px;height:65px;width:100%;background-color:rgba(0, 157, 204, 0.1)}
		.hfc--menu-mob .hcm--sousnav article{float:left;width:calc(100% / 4)}
			.hfc--menu-mob .hcm--sousnav a{display:block;color:#0055a4;font-size:1rem;text-align:center;text-decoration:none}
				.hfc--menu-mob svg#assistance > .assistance-color,
				.hfc--menu-mob svg#localisation > .localisation-color,
				.hfc--menu-mob svg#panier > .panier-color,
				.hfc--menu-mob svg#compte > .compte-color{fill:#0055a4}
				.hfc--menu-mob .hcm--sousnav article div:nth-of-type(2){margin:5px 0 0}
	.hfc--menu-mob .hcm--search{height:auto}
		.hfc--menu-mob .hcm--search .hcm--searchbox{display:block;position:relative;padding:10px;height:auto;width:100%}
					.hfc--menu-mob .hcm--search .hcm--searchbox #q{display:inline-block;padding:0 10px;height:44px;width:calc(100% - 50px);border:none;font-size:1.6rem;vertical-align:top;outline:none}
					.hfc--menu-mob .hcm--search .hcm--searchbox #hc--search-btn{display:inline-block;height:44px;width:50px;border:none;background:#454545 url('../../img/icon-search-blanc.svg') center center no-repeat;background-size:20px 20px;cursor:pointer}
	.hfc--menu-mob .items{}
		.hfc--menu-mob .item-titre{padding:0 15px;height:40px;width:100%;background-color:#0055a4}
			.hfc--menu-mob .item-titre a{display:block;color:#fff;font-weight:700;line-height:40px;text-decoration:none}
		.hfc--menu-mob .item-group{padding:10px}
			.hfc--menu-mob .item-group ul{margin:0;padding:0}
				.hfc--menu-mob .item-group ul li{margin:0 0 3px;list-style:none}
					.hfc--menu-mob .item-group a{display:block;padding:10px 0 10px 8px;width:100%;border-radius:3px;color:#454545;font-size:1.5rem;text-decoration:none}
					.hfc--menu-mob .item-group a:hover,
					.hfc--menu-mob .item-group a:active{background-color:#b5b5b5;font-size:1.5rem;font-weight:bold}

		#js-items--ec .item-titre{padding:0 15px;height:40px;width:100%;background-color:#05d0a6}
		#js-items--ec .item-group:nth-child(3){display:none}
		#js-items--ec .item-group-deco{display:none;background-color:#05d0a6;border-top:1px solid #fff;text-align:center}
			#js-items--ec .item-group-deco a{display:block;padding:20px;color:#fff;font-size:1.6rem;text-decoration:none}
				#js-items--ec .item-group-deco a div{display:block;margin:0 auto;height:25px;width:125px}
					#js-items--ec .item-group-deco a span{display:block;float:left}
					#js-items--ec .item-group-deco a span:nth-of-type(1){padding:0 5px 0 0}
							#js-items--ec .item-group-deco a span:nth-of-type(1) svg#deconexion > .deconexion-color{fill:#ffffff}



.hfc--menu-mob-ec{
	position:fixed;
	top:0;
	right:-280px;
	height:calc(100% + 1px);
	width:280px;
	background-color:#f3f3f3;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	transition:transform .3s;
	-ms-transition:-ms-transform .3s;
	-webkit-transition:-webkit-transform .3s;
}
.hfc--menu-mob-ec.isClose{
	transform:translate3d(0,0,0);
	-ms-transform:translate(0,0);
	-webkit-transform:translate3d(0,0,0);
}
.hfc--menu-mob-ec.isOpen{
	transform:translate3d(-280px,0,0);
	-ms-transform:translate(-280px,0);
	-webkit-transform:translate3d(-280px,0,0)
}
	.hfc--menu-mob-ec .items{height:auto}
		.hfc--menu-mob-ec .item-titre{padding:0 15px 0 20px;height:40px;width:100%;background-color:#05d0a6}
			.hfc--menu-mob-ec .item-titre a{display:block;color:#fff;font-weight:700;line-height:40px;text-decoration:none}
		.hfc--menu-mob-ec .item-group{padding:10px 20px 10px 20px}
		.hfc--menu-mob-ec .item-group:nth-child(3){display:none}
			.hfc--menu-mob-ec .item-group ul{margin:0;padding:0}
				.hfc--menu-mob-ec .item-group ul li{margin:0 0 3px;list-style:none}
					.hfc--menu-mob-ec .item-group a{display:block;padding:10px 0 10px 8px;width:100%;border-radius:3px;color:#454545;font-size:1.5rem;text-decoration:none}
					.hfc--menu-mob-ec .item-group a:hover,
					.hfc--menu-mob-ec .item-group a:active{background-color:#b5b5b5;font-size:1.5rem;font-weight:bold}
		.hfc--menu-mob-ec .item-group-deco{display:none;background-color:#05d0a6;border-top:1px solid #fff;text-align:center}
			.hfc--menu-mob-ec .item-group-deco a{display:block;padding:20px;color:#fff;font-size:1.6rem;text-decoration:none}
				.hfc--menu-mob-ec .item-group-deco a div{display:block;margin:0 auto;height:25px;width:125px}
					.hfc--menu-mob-ec .item-group-deco a span{display:block;float:left}
					.hfc--menu-mob-ec .item-group-deco a span:nth-of-type(1){padding:0 5px 0 0}
							.hfc--menu-mob-ec .item-group-deco a span:nth-of-type(1) svg#deconexion > .deconexion-color{fill:#ffffff}



/* ! ##BOX COOKIE */
.hfc--nc{display:none;position:relative;padding:2px 0 3px;background-color:#454545;z-index:9996}
	.nc--wrapp{margin:0 auto;width:1272px}
		.nc--blk{padding:4px 5px;width:100%;color:#fff;font-size:1.2rem;text-align:center}
			.nc--br{display:inline-block}
				.nc--lnk{color:#fff}
				.nc--lnk:hover{text-decoration:none}
				.nc--btn-ok{display:inline-block;margin:0 0 0 15px;padding:0 4px 2px;color:#fff;font-size:1.5rem;text-decoration:none}
.hfc--nc.active{display:block}
/* ##BOX COOKIE */



/* ! ##HEADER */
.hfc--header{position:relative;background-color:#fff;z-index:9996}
.hfc--header.active{box-shadow:0 2px 10px rgba(0,0,0,.2)}
	.hc--wrapp{margin:0 auto;height:70px;width:1272px}
		.hc--menumob,
		.hc--logo,
		.hc--menu,
		.hc--srch,
		.hc--location,
		.hc--panier,
		.hc--blk-mcpt,
		.hc--mails,
		.hc--compte,
		.hc--compte-on{float:left;height:inherit}
		.hc--menumob{display:none;width:80px}
			.hc--menumob a{color:#454545;font-size:1.2rem;text-align:center;text-decoration:none}
			.hc--menumob a.hc--open{display:none}
					.hc--menumob a.hc--open svg#burger{height:24px}
						.hc--menumob a.hc--open svg#burger .burger-color{fill:#454545}
			.hc--menumob a.hc--close{display:none}
					.hc--menumob a.hc--close svg#close{height:40px}
						.hc--menumob a.hc--close svg#close .close-color{fill:#ffffff}

		.hc--logo{padding:9px 0 0 20px;width:180px}
			.hc--logo a{display:block}
				.hc--logo a img{width:100%;max-width:165px;border:0}

		.hc--menu{position:relative;width:calc(100% - 500px)}
			.hc--menu-item{height:inherit;width:100%;text-align:center}
				.hc--menu-item ul{display:inline-block;margin:0;padding:0;height:inherit}
					.hc--menu-item ul li{display:inline-block;margin:0;padding:0 0 0 15px;height:70px;border-bottom:5px solid #fff;cursor:pointer}
						.hc--menu-item ul li a{display:block;float:left;margin:0;padding:0 15px 0 0;color:#454545;font-size:1.4rem;line-height:70px;text-decoration:none}
						.hc--menu-item ul li span{display:block;float:right;height:18px;margin:27px 0 25px;border-right:1px solid #b5b5b5}
						.hc--menu-item ul li#js-hc-ddwn-pro span{border-right:1px solid #fff}
					.hc--menu-item ul li:hover{border-bottom:5px solid #009dcc}
					.hc--menu-item ul li.active{border-bottom:5px solid #009dcc}

			.hc--md-blks{display:none;position:absolute;top:70px;padding:20px;height:auto;width:1272px;border-top:1px solid #009dcc;border-bottom:1px solid #ececec;background-color:#fff;box-shadow:0 3px 10px rgba(0,0,0,.2);opacity:0;z-index:9997}
				.hc--md-blk{float:left;min-height:210px;width:calc( (100% - 2px) / 3);border-right:1px solid #b5b5b5}
				.hc--md-blk:nth-of-type(2){padding:0 0 0 20px}
				.hc--md-blk:nth-of-type(3){padding:0 0 0 20px;border-right:none;text-align:center}
						.hc--md-blk:nth-of-type(3) img{height:210px;width:390px;border:0}
					.hc--md-blk span{display:block;margin:0 0 10px;font-weight:bold}
						.hc--md-blk span a{display:block;text-decoration:none}
					.hc--md-blk ul{display:block;margin:0;padding:0}
						.hc--md-blk ul li{display:block;margin:10px 0 5px;padding:0;list-style:none}
						.hc--md-blk ul li:before{content: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iN3B4IiBoZWlnaHQ9IjEwcHgiIHZpZXdCb3g9IjAgMCA3IDEwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4gICAgICAgIDx0aXRsZT5hcnJvdy1kcm9wPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8cGF0aCBkPSJNNyw3Ljg4MjgxOTE4IEwwLDcuODgyODE5MTggTDMuNSwxLjg4MjgxOTE4IEw3LDcuODgyODE5MTggWiIgaWQ9IlRyaWFuZ2xlLTEiIGZpbGw9IiM0NTQ1NDUiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMuNTAwMDAwLCA0Ljg4MjgxOSkgcm90YXRlKC0yNzAuMDAwMDAwKSB0cmFuc2xhdGUoLTMuNTAwMDAwLCAtNC44ODI4MTkpICI+PC9wYXRoPiAgICA8L2c+PC9zdmc+');margin:0 10px 0 0;color:#454545}
						.hc--md-blk ul li.xtr-sp{margin:25px 0}
							.hc--md-blk ul li a{color:#454545;text-decoration:none}
							.hc--md-blk ul li a:hover{text-decoration:underline}
					#js-ddwn-fmo .hc--md-blk:nth-of-type(2) span,
					#js-ddwn-tel .hc--md-blk:nth-of-type(2) span,
					#js-ddwn-int .hc--md-blk:nth-of-type(2) span{color:#05d0a6}
					#js-ddwn-ass .hc--md-blk:nth-of-type(2) span{color:#ff9966}
					#js-ddwn-pro .hc--md-blk:nth-of-type(1) span a{color:#454545}
					#js-ddwn-pro .hc--md-blk:nth-of-type(2) span a{color:#0055a4}
			#js-ddwn-fmo.active,
			#js-ddwn-tel.active,
			#js-ddwn-int.active,
			#js-ddwn-ass.active,
			#js-ddwn-pro.active{opacity:1/* ;animation-duration:.3s;animation-name:slideInTop */}
			#js-ddwn-fmo.inactive,
			#js-ddwn-tel.inactive,
			#js-ddwn-int.inactive,
			#js-ddwn-ass.inactive,
			#js-ddwn-pro.inactive{/* animation-duration:.3s;animation-name:slideOutTop */}

		.hc--srch{position:relative;width:80px;border-right:1px solid #b5b5b5}
			.hc--search{}
				.hc--search a{display:block;padding:15px 0 12px;color:#454545;font-size:1.2rem;text-align:center;text-decoration:none}
						.hc--search svg{height:24px;width:24px}
							.hc--search svg#search .search-color{fill:#454545}
		.hc--srch.active,
		.hc--srch:hover{border-right:1px solid #009dcc;background-color:#009dcc}
			.hc--srch.active .hc--search a,
			.hc--srch:hover .hc--search a{color:#fff}
							.hc--srch.active .hc--search svg#search .search-color,
							.hc--srch:hover .hc--search svg#search .search-color{fill:#ffffff}

		.hc--location{width:80px;border-right:1px solid #b5b5b5}
			.hc--location a{display:block;padding:15px 0 12px;color:#454545;font-size:1.2rem;text-align:center;text-decoration:none}
					.hc--location svg#localisation{height:24px;width:24px}
						.hc--location svg#localisation > .localisation-color{fill:#454545}
		.hc--location:hover{border-right:1px solid #009dcc;background-color:#009dcc}
			.hc--location:hover a{color:#fff}
						.hc--location:hover svg#localisation > .localisation-color{fill:#ffffff}

		.hc--panier{width:80px}
			.hc--panier a{display:block;padding:15px 0 12px;color:#454545;font-size:1.2rem;text-align:center;text-decoration:none}
				.hc--panier div:nth-of-type(1){position:relative}
					.hc--panier svg#panier{height:24px;width:29px}
						.hc--panier svg#panier > .panier-color{fill:#454545}
					.hc--panier .bulp{display:none;position:absolute;top:-8px;right:13px;background-color:#009dcc;border-radius:50%;color:#fff;font-size:1rem;font-weight:600;text-align:center}
					#m1000.bulp{padding:5px 0 0;height:22px;width:22px}
					#p1000.bulp{padding:6px 0 0;height:25px;width:25px}
			.hc--panier:hover{background-color:#009dcc}
				.hc--panier:hover a{color:#fff}
					.hc--panier:hover svg#panier > .panier-color{fill:#ffffff}
					.hc--panier:hover .bulp{background-color:#fff;color:#009dcc}

		.hc--blk-mcpt{position:relative;background-color:#05d0a6}

			.hc--mails{display:none;width:80px;border-right:1px solid #fff}
				.hc--mails a{display:block;padding:19px 0 12px;color:#fff;font-size:1.2rem;text-align:center;text-decoration:none}
					.hc--mails div:nth-of-type(1){position:relative;margin:0 0 2px}
						.hc--mails svg#mails{height:18px}
							.hc--mails svg#mails > .mails-color{fill:#ffffff}
							.hc--mails .bulm{display:none;position:absolute;top:-12px;right:13px;background-color:#fff;border-radius:50%;color:#c8007b;font-size:1rem;font-weight:600;text-align:center}
							#m1000.bulm{padding:5px 0 0;height:22px;width:22px}
							#p1000.bulm{padding:6px 0 0;height:25px;width:25px}

			.hc--loading{width:80px}

			.hc--compte{width:80px}
				.hc--compte a{display:block;padding:15px 0 12px;color:#fff;font-size:1.2rem;text-align:center;text-decoration:none}
						.hc--compte svg#compte{height:24px}
							.hc--compte svg#compte > .compte-color{fill:#ffffff}

			.hc--compte-on{display:none;width:80px}
				.hc--compte-on a{display:block;padding:15px 0 12px;color:#fff;font-size:1.2rem;text-align:center;text-decoration:none}
						.hc--compte-on svg#compte-on{height:24px}
							.hc--compte-on svg#compte-on .compte-on-color{fill:#ffffff}
					.hc--compte-on .hc--compte-name{margin:0 5px;width:70px;overflow:hidden}
						.hc--compte-on .hc--compte-name-span{position:relative;margin:0;padding:0;min-width:100em;white-space:nowrap}


			#js-hc--mcpt-menu{display:none;position:absolute;top:70px;right:0;height:auto;width:250px;background-color:#05d0a6;z-index:9999;opacity:0}
				#js-hc--mcpt-menu .item-titre{display:none}
				#js-hc--mcpt-menu .item-group{padding:20px}
				#js-hc--mcpt-menu .item-group:nth-child(3){display:none}
					#js-hc--mcpt-menu .item-group ul{margin:0;padding:0}
						#js-hc--mcpt-menu .item-group ul li{margin:0 0 20px;list-style:none}
						#js-hc--mcpt-menu .item-group ul li:last-child{margin:0}
							#js-hc--mcpt-menu .item-group a{display:block;color:#fff;font-size:1.4rem;text-decoration:none}
							#js-hc--mcpt-menu .item-group a:hover{font-weight:bold;text-decoration:underline}
				#js-hc--mcpt-menu .item-group-deco{display:none;background-color:#05d0a6;border-top:1px solid #fff;text-align:center}
					#js-hc--mcpt-menu .item-group-deco a{display:block;padding:20px;color:#fff;font-size:1.6rem;text-decoration:none}
						#js-hc--mcpt-menu .item-group-deco a div{display:block;margin:0 auto;height:25px;width:140px}
							#js-hc--mcpt-menu .item-group-deco a span{display:block;float:left;font-weight:bold}
							#js-hc--mcpt-menu .item-group-deco a span:nth-of-type(1){padding:0 5px 0 0}
									#js-hc--mcpt-menu .item-group-deco a span:nth-of-type(1) svg#deconexion > .deconexion-color{fill:#ffffff}
			#js-hc--mcpt-menu.active{opacity:1/* ;animation-duration:.8s;animation-name:slideInTop */}
			#js-hc--mcpt-menu.inactive{/* animation-duration:.8s;animation-name:slideOutTop */}

		#js-hcd--search{display:block;position:absolute;top:70px;height:auto;width:1272px}
			#js-hc--searchbox{display:none;position:relative;left:calc(100% - 320px);padding:8px 10px;;height:60px;width:320px;background-color:#009dcc;opacity:0}
				#js-hc--searchbox input#q{display:inline-block;padding:0 10px;height:44px;width:calc(100% - 50px);border:none;font-size:1.6rem;vertical-align:top}
				#js-hc--searchbox input#hc--search-btn{display:inline-block;height:44px;width:50px;border:none;background:#454545 url('../../img/icon-search-blanc.svg') center center no-repeat;background-size:20px 20px;cursor:pointer}
			#js-hc--searchbox.active{opacity:1/*;animation-duration:.5s;animation-name:slideInRight*/}
			#js-hc--searchbox.inactive{/*animation-duration:.5s;animation-name:slideOutRight*/}


.overlay,
.overlay-a360{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:rgba(255, 255, 255, .7);
	visibility:hidden;
	opacity:0;
	z-index:1000;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	transition:opacity .3s 0s, visibility 0s .3s;
	-ms-transition:opacity .3s 0s, visibility 0s .3s;
	-webkit-transition:opacity .3s 0s, visibility 0s .3s;
}
.overlay.active,
.overlay-a360.active{
	visibility:visible;
	opacity:1;
	transition:opacity .3s 0s, visibility 0s 0s;
	-ms-transition:opacity .3s 0s, visibility 0s 0s;
	-webkit-transition:opacity .3s 0s, visibility 0s 0s;
}
.overlay,
.overlay-a360{position:relative\0}

.hfc--main{
	position:relative;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	transform:translate3d(0,0,0);
	-ms-transform:translate(0,0);
	-webkit-transform:translate3d(0,0,0);
	will-change: transform;
	transition:transform .3s;
	-ms-transition:-ms-transform .3s;
	-webkit-transition:-webkit-transform .3s;
}
.hfc--main.isOpenLeft{
	height:100%;
	transform:translate3d(280px,0,0);
	-ms-transform:translate(280px,0);
	-webkit-transform:translate3d(280px,0,0);
	-webkit-box-shadow: 0px 0px 35px 5px rgba(69, 69, 69, 0.8);
	box-shadow: 0px 0px 35px 5px rgba(69, 69, 69, 0.8);
}
.hfc--main.isOpenRight{
	height:100%;
	transform:translate3d(-280px,0,0);
	-ms-transform:translate(-280px,0);
	-webkit-transform:translate3d(-280px,0,0);
	-webkit-box-shadow: 0px 0px 35px 5px rgba(69, 69, 69, 0.8);
	box-shadow: 0px 0px 35px 5px rgba(69, 69, 69, 0.8);
}


/* ! ##FULLSIZE */
.full-screen .hc--wrapp{width:100%}
.full-screen .hc--md-blks{width:100%}
/* ##FULLSIZE */

/* ! ##SANS PANIER */
.ss-panier .hc--menu{width:calc(100% - 420px)}
.ss-panier .hc--location{border-right:none}
.ss-panier .hc--panier{display:none}
/* ##SANS PANIER */

/* ! ##LOGUER */
.log-on #js-items--ec .item-group:nth-child(2){display:none}
.log-on #js-items--ec .item-group:nth-child(3){display:block}
.log-on #js-items--ec .item-group-deco{display:block}
.log-on .hc--menu{width:calc(100% - 580px)}
.log-on .hc--menu-item ul li{padding:0 0 0 8px}
.log-on .hc--menu-item ul li a{padding:0 8px 0 0}
.log-on .hc--mails{display:block}
.log-on .hc--compte{display:none}
.log-on .hc--compte-on{display:block}
.log-on #js-hc--mcpt-menu .item-group:nth-child(2){display:none}
.log-on #js-hc--mcpt-menu .item-group:nth-child(3){display:block}
.log-on #js-hc--blk-mcpt .item-group-deco{display:block}
.log-on #js-hc--searchbox{left:calc(100% - 400px);width:400px}
.log-on #js-hc--searchbox.active{animation-name:slideInRightLog}
.log-on #js-hc--searchbox.inactive{animation-name:slideOutRightLog}
/* ##LOGUER */

/* ! ##LOGUER SANS MAILS */
.log-on-ss-mails #js-items--ec .item-group:nth-child(2){display:none}
.log-on-ss-mails #js-items--ec .item-group:nth-child(3){display:block}
.log-on-ss-mails #js-items--ec .item-group-deco{display:block}
.log-on-ss-mails .hc--menu{width:calc(100% - 500px)}
.log-on-ss-mails .hc--compte{display:none}
.log-on-ss-mails .hc--compte-on{display:block}
.log-on-ss-mails #js-hc--mcpt-menu .item-group:nth-child(2){display:none}
.log-on-ss-mails #js-hc--mcpt-menu .item-group:nth-child(3){display:block}
.log-on-ss-mails #js-hc--blk-mcpt .item-group-deco{display:block}
/* ##LOGUER SANS MAILS */

/* ! ##LOGUER SANS PANIER */
.log-on-ss-panier #js-items--ec .item-group:nth-child(2){display:none}
.log-on-ss-panier #js-items--ec .item-group:nth-child(3){display:block}
.log-on-ss-panier #js-items--ec .item-group-deco{display:block}
.log-on-ss-panier .hc--menu{width:calc(100% - 500px)}
.log-on-ss-panier .hc--location{border-right:none}
.log-on-ss-panier .hc--panier{display:none}
.log-on-ss-panier .hc--mails{display:block}
.log-on-ss-panier .hc--compte{display:none}
.log-on-ss-panier .hc--compte-on{display:block}
.log-on-ss-panier #js-hc--mcpt-menu .item-group:nth-child(2){display:none}
.log-on-ss-panier #js-hc--mcpt-menu .item-group:nth-child(3){display:block}
.log-on-ss-panier #js-hc--blk-mcpt .item-group-deco{display:block}
/* ##LOGUER SANS PANIER */

/* ! ##LOGUER SANS PANIER SANS MAILS */
.log-on-ss-mails-ss-panier #js-items--ec .item-group:nth-child(2){display:none}
.log-on-ss-mails-ss-panier #js-items--ec .item-group:nth-child(3){display:block}
.log-on-ss-mails-ss-panier #js-items--ec .item-group-deco{display:block}
.log-on-ss-mails-ss-panier .hc--menu{width:calc(100% - 420px)}
.log-on-ss-mails-ss-panier .hc--location{border-right:none}
.log-on-ss-mails-ss-panier .hc--panier{display:none}
.log-on-ss-mails-ss-panier .hc--compte{display:none}
.log-on-ss-mails-ss-panier .hc--compte-on{display:block}
.log-on-ss-mails-ss-panier #js-hc--mcpt-menu .item-group:nth-child(2){display:none}
.log-on-ss-mails-ss-panier #js-hc--mcpt-menu .item-group:nth-child(3){display:block}
.log-on-ss-mails-ss-panier #js-hc--blk-mcpt .item-group-deco{display:block}
/* ##LOGUER SANS PANIER SANS MAILS */


/* ! ##MEDIA QUERIES HEADER */
@media only screen
and (min-width:1167px)
and (max-width:1272px){

			.hc--md-blks{width:100%}
				.hc--md-blk{width:calc( (100% - 412px) / 2)}
				.hc--md-blk:nth-of-type(3){min-width:410px}



/* ! ##LOGUER */
.log-on .hc--menu-item ul li{padding:0 0 0 8px}
.log-on .hc--menu-item ul li a{padding:0 8px 0 0}
/* ##LOGUER */

}

@media only screen
and (min-width:320px)
and (max-width:1272px){

/* ! #MQ1272 BOX COOKIE */
	.nc--wrapp{width:100%}
/* #MQ1272 BOX COOKIE */

	.hc--wrapp{width:100%}
}

@media only screen
and (min-width:320px)
and (max-width:1166px){

	.hfc--menu-mob .hcm--sousnav{display:none}
	.hfc--menu-mob .hcm--search{display:none}

/* ! #MQ1166 BOX COOKIE */
		.nc--blk{font-family:Arial, Helvetica, sans-serif;font-size:1.2rem}
/* #MQ1166 BOX COOKIE */

		.hc--menumob{display:block}
			.hc--menumob a.hc--open{display:block;padding:15px 0 12px}
		.hc--menumob.active{background:#0055a4}
		.hc--menumob.active a.hc--open{display:none}
		.hc--menumob.active a.hc--close{display:block;padding:15px 0 11px}
		.hc--logo{width:calc(100% - 400px)}
		.hc--menu{display:none}

		#js-hcd--search{display:block;position:absolute;top:70px;height:auto;width:100%}
			#js-hc--searchbox{display:none;position:relative;left:calc(100% - 320px);height:60px;width:320px;background-color:#009dcc;opacity:0}
			#js-hc--searchbox.active{opacity:1;animation-duration:.8s;animation-name:slideInRight}
			#js-hc--searchbox.inactive{animation-duration:.8s;animation-name:slideOutRight}


/* ! ##SANS PANIER */
.ss-panier .hc--logo{width:calc(100% - 320px)}
/* ##SANS PANIER */

/* ! ##LOGUER */
.log-on .hc--logo{width:calc(100% - 480px)}
/* ##LOGUER */

/* ! ##LOGUER SANS PANIER SANS MAILS */
.log-on-ss-mails-ss-panier .hc--logo{width:calc(100% - 320px)}
/* ##LOGUER SANS PANIER SANS MAILS */

}

@media only screen
and (min-width:320px)
and (max-width:1024px){

/* ! #MQ1024 BOX COOKIE */
		.nc--blk{padding:9px 15px;text-align:left}
			.nc--br{display:block;float:right;margin:12px 0 0}
/* #MQ1024 BOX COOKIE */

}

@media only screen
and (min-width:320px)
and (max-width:600px){

.hfc--menu-mob{
	left:-100%;
	width:100%;
}
.hfc--menu-mob.isOpen{
	transform:translate3d(100%,0,0);
	-ms-transform:translate(100%,0);
	-webkit-transform:translate3d(100%,0,0)
}
	.hfc--menu-mob .hcm--sousnav{display:block}
	.hfc--menu-mob .hcm--search{display:block}
						.hfc--menu-mob .items:last-child .item-group ul li:last-child a{padding:10px 0 10px 8px}

.hfc--menu-mob-ec{display:none}

.hfc--main{
	-webkit-box-shadow:none;
	box-shadow:none;
}
.hfc--main.isOpenLeft{
	transform:translate3d(100%,0,0);
	-ms-transform:translate(100%,0);
	-webkit-transform:translate3d(100%,0,0);
}

/* ! #MQ600 BOX COOKIE */
		.nc--blk{font-size:1.1rem;text-align:justify}
/* #MQ600 BOX COOKIE */

	.hc--wrapp{height:50px}


		.hc--menumob{width:50px}
			.hc--menumob a.hc--open{padding:14px 0 11px}
					.hc--menumob a.hc--open svg#burger{height:22px}
				.hc--menumob a.hc--open div:nth-child(2){display:none}
					.hc--menumob a.hc--close svg#close{height:30px}
		.hc--menumob.active a.hc--open{display:none}
		.hc--menumob.active a.hc--close{display:block;padding:11px 0 6px}



		.hc--logo{padding:5px 0 0;width:calc(100% - 50px);text-align:center}
				.hc--logo a img{max-width:135px}


		.hc--srch,
		.hc--location,
		.hc--panier,
		.hc--compte,
		.hc--compte-on{display:none}



/* ! ##FULLSIZE */
.full-screen .hc--logo{padding:5px 0 0}
/* ##FULLSIZE */

/* ! ##LOGUER */
.log-on .hc--mails{display:none}
.log-on .hc--compte-on{display:none}
/* ##LOGUER */

/* ! ##SANS PANIER */
.ss-panier .hc--logo{width:calc(100% - 50px)}
/* ##SANS PANIER */

/* ! ##LOGUER */
.log-on .hc--logo{width:calc(100% - 50px)}
/* ##LOGUER */

/* ! ##LOGUER SANS PANIER */
.log-on-ss-panier .hc--logo{width:calc(100% - 50px)}
.log-on-ss-panier .hc--mails{display:none}
.log-on-ss-panier .hc--compte-on{display:none}
/* ##LOGUER SANS PANIER */

/* ! ##LOGUER SANS MAILS */
.log-on-ss-mails .hc--compte-on{display:none}
/* ! ##LOGUER SANS MAILS */

/* ! ##LOGUER SANS PANIER SANS MAILS */
.log-on-ss-mails-ss-panier .hc--logo{width:calc(100% - 50px)}
.log-on-ss-mails-ss-panier .hc--compte-on{display:none}
/* ##LOGUER SANS PANIER SANS MAILS */

}

@media only screen
and (max-width:320px){

/* ! #MQ320 BOX COOKIE */
		.nc--blk{padding:9px 10px;text-align:justify}
			.nc--br{float:none;text-align:center}
/* #MQ320 BOX COOKIE */

}



/*------------------------------------*\
	#FOOTER
\*------------------------------------*/
.hfc--footer{position:relative;margin:50px 0 0}

		.fc--wrapp{margin:0 auto;width:1272px}


	.fc--foot-top{height:auto;background-color:#fff}
		.fc--foot-top--blk{float:left;height:55px}
		.fc--foot-top--blk:nth-child(1){width:50px}
			.fc--foot-top--blk:nth-child(1) span{display:block;position:relative;margin:12px 10px 10px;height:30px;width:30px;border:1px solid #454545;border-radius:3px;cursor:pointer;transition:all .2s ease-out}
				.fc--foot-top--blk:nth-child(1) span svg{position:absolute;top:6px;left:5px;left:0\0;-ms-transform:rotate(0deg);transform:rotate(0deg)}
					.fc--foot-top--blk:nth-child(1) span #svgArrow{height:18px}
						.fc--foot-top--blk:nth-child(1) span .svgArrow--color{fill:#454545}
			.fc--foot-top--blk:nth-child(1) span:hover{background-color:#454545}
						.fc--foot-top--blk:nth-child(1) span:hover .svgArrow--color{fill:#ffffff}
				.fc--foot-top--blk:nth-child(1) span.inactive svg{-ms-transform:rotate(180deg);transform:rotate(180deg)}
						.fc--foot-top--blk:nth-child(1) span.inactive .svgArrow--color{fill:#454545}
			.fc--foot-top--blk:nth-child(1) span.active:hover{background-color:#454545}
						.fc--foot-top--blk:nth-child(1) span.inactive:hover .svgArrow--color{fill:#fff}
				#js-fc--foot-top.inactive .fc--foot-top--blk:nth-child(1) span svg{-ms-transform:rotate(0deg);transform:rotate(0deg)}
				#js-fc--foot-top.inactive .fc--foot-top--blk:nth-child(1) span.inactive svg{-ms-transform:rotate(180deg);transform:rotate(180deg)}
		.fc--foot-top--blk:nth-child(2){width:calc(100% - 50px)}
			.fc--foot-top--blk:nth-child(2) ul{margin:0;padding:0;height:inherit}
				.fc--foot-top--blk:nth-child(2) ul li{display:inline-block;margin:0;padding:0;height:inherit;list-style:none;text-align:center}
				.fc--foot-top--blk:nth-child(2) ul li:first-child{width:25%}
				.fc--foot-top--blk:nth-child(2) ul li:nth-child(2){width:12.5%}
				.fc--foot-top--blk:nth-child(2) ul li:nth-child(3){width:12.5%}
				.fc--foot-top--blk:nth-child(2) ul li:nth-child(4){width:20%}
				.fc--foot-top--blk:nth-child(2) ul li:nth-child(5){width:15%}
				.fc--foot-top--blk:nth-child(2) ul li:last-child{width:15%}
					.fc--foot-top--blk:nth-child(2) ul li a{display:block;height:inherit;color:#454545;font-size:15px;line-height:55px;text-decoration:none}
		.fc--foot-top--blk:nth-child(3){padding:25px 0 30px 7.86163522%;padding-left:5%\0;height:auto;width:100%;border-top:1px solid #b5b5b5}
			.fc--foot-top--blk:nth-child(3) ul{margin:0;padding:0;height:auto}
				.fc--foot-top--blk:nth-child(3) ul li{float:left;margin:0;padding:0;height:auto;width:calc(100% / 5);list-style:none}
					.fc--foot-top--blk:nth-child(3) ul li a{display:block;margin:0 0 5px;color:#454545;font-family:'OS-bold';font-size:13px;text-decoration:none}
					.fc--foot-top--blk:nth-child(3) ul li ul{display:block;margin:0;padding:0 0 0 15px;height:auto}
						.fc--foot-top--blk:nth-child(3) ul li ul>li{width:100%;list-style:disc}
							.fc--foot-top--blk:nth-child(3) ul li ul>li a{display:block;margin:10px 0 0;color:#454545;font-family:'OS-light';font-size:12px;text-decoration:none}



	.fc--foot-bas{height:40px;background-color:#009dcc}
		.fc--foot-bas--social{padding:5px 0;height:40px;}
			.fc--foot-bas ul{margin:0;padding:0;height:30px}
				.fc--foot-bas ul li{display:block;float:left;margin:0;padding:0}
				.fc--foot-bas ul li:first-child{padding:0 0 0 5px;min-width:120px;color:#fff;line-height:30px}
				.fc--foot-bas ul li:nth-child(2),
				.fc--foot-bas ul li:nth-child(3),
				.fc--foot-bas ul li:nth-child(4),
				.fc--foot-bas ul li:nth-child(5){height:30px;width:35px}
				.fc--foot-bas ul li:nth-child(6){height:30px;width:calc(100% - 615px)}
				.fc--foot-bas ul li:nth-child(7){padding:5px 0;height:30px;width:25px}
				.fc--foot-bas ul li:nth-child(8),
				.fc--foot-bas ul li:nth-child(9),
				.fc--foot-bas ul li:nth-child(10){padding:5px 0;height:30px;width:37px}
				.fc--foot-bas ul li:nth-child(11){margin:5px 5px 0 0;padding:2px 5px 0;height:20px;background-color:#fff}
				.fc--foot-bas ul li:nth-child(12){padding:5px 0;height:30px;width:25px}
				.fc--foot-bas ul li:nth-child(13){padding:5px 0;height:30px;width:85px}
				.fc--foot-bas ul li:last-child{padding:5px 0;height:30px;width:30px}
					.fc--foot-bas ul li a{display:block;height:30px}
						#svgFacebook,
						#svgTwitter,
						#svgGoogle,
						#svgYoutube{height:30px;width:30px}



	.fc--foot-mob{display:none;height:auto;background-color:#fff}
		.fc--foot-mob a{text-decoration:none}
		.fc--foot-mob--top{margin:0 auto;padding:15px 0 0;height:65px;width:270px;background-color:#fff;color:#454545}
			.fc--foot-mob--top span{display:block;float:left}
			.fc--foot-mob--top span:nth-child(2){width:235px;line-height:36px;text-align:right}
		.fc--foot-mob--bas{height:50px;background-color:#009dcc}
			.fc--foot-mob--bas span{display:block;float:left;width:calc(100% / 2);text-align:center}
			.fc--foot-mob--bas span:first-child{border-right:1px solid #1c889d}
				.fc--foot-mob--bas span a{display:block;color:#fff;line-height:50px}
/* # */



/* ! ##MEDIA QUERIES FOOTER */

@media only screen
and (min-width:320px)
and (max-width:1272px){

	.fc--wrapp{width:100%}

}

@media only screen
and (min-width:320px)
and (max-width:1023px){

		.fc--foot-top--blk:nth-child(1){display:none}
		.fc--foot-top--blk:nth-child(2){width:100%}
					.fc--foot-top--blk:nth-child(2) ul li a{font-size:11px}
		.fc--foot-top--blk:nth-child(3){display:none}

}

@media only screen
and (min-width:320px)
and (max-width:700px){

		.fc--foot-top,
		.fc--foot-bas{display:none}
		.fc--foot-mob{display:block}

}
/*----- FOOTER -----*/


/*----- Divers Fix -----*/
#header-warning{display:none}

.hd-loading{display:block;margin-top:15px;height:40px;color:#fff;text-align:center}
