.bio-sprite, .bio-alert-big, .bio-arrow-down, .bio-arrow-left, .bio-arrow-right, .bio-arrow-tip-down, .bio-arrow-up-green, .bio-arrow-up, .bio-bg-num, .bio-check-ball, .bio-check, .bio-chevron-right, .bio-co2, .bio-editar, .bio-editar2-close, .bio-editar2-off, .bio-editar2-on, .bio-escala-big, .bio-escala, .bio-generico-1, .bio-generico-2, .bio-generico-3, .bio-generico-4, .bio-generico-5, .bio-generico-6, .bio-generico-7, .bio-generico-8, .bio-ico-info-big, .bio-ico-info-grey, .bio-ico-info, .bio-kwh, .bio-resultado, .bio-top-pico, .bio-volver {
  background-image: url('/dam/templating-kit/themes/popLM/img/casaBioclimatica/bio-s745840e012.png');
  background-repeat: no-repeat;
}

.bio-alert-big {
  background-position: 0 0;
}

.bio-arrow-down {
  background-position: 0 -59px;
}

.bio-arrow-left {
  background-position: 0 -75px;
}

.bio-arrow-right {
  background-position: 0 -91px;
}

.bio-arrow-tip-down {
  background-position: 0 -107px;
}

.bio-arrow-up-green {
  background-position: 0 -118px;
}

.bio-arrow-up {
  background-position: 0 -131px;
}

.bio-bg-num {
  background-position: 0 -147px;
}

.bio-check-ball {
  background-position: 0 -199px;
}

.bio-check {
  background-position: 0 -228px;
}

.bio-chevron-right {
  background-position: 0 -257px;
}

.bio-co2 {
  background-position: 0 -285px;
}

.bio-editar {
  background-position: 0 -315px;
}

.bio-editar2-close {
  background-position: 0 -329px;
}

.bio-editar2-off {
  background-position: 0 -345px;
}

.bio-editar2-on {
  background-position: 0 -359px;
}

.bio-escala-big {
  background-position: 0 -373px;
}

.bio-escala {
  background-position: 0 -715px;
}

.bio-generico-1 {
  background-position: 0 -886px;
}

.bio-generico-2 {
  background-position: 0 -1000px;
}

.bio-generico-3 {
  background-position: 0 -1128px;
}

.bio-generico-4 {
  background-position: 0 -1229px;
}

.bio-generico-5 {
  background-position: 0 -1329px;
}

.bio-generico-6 {
  background-position: 0 -1427px;
}

.bio-generico-7 {
  background-position: 0 -1577px;
}

.bio-generico-8 {
  background-position: 0 -1729px;
}

.bio-ico-info-big {
  background-position: 0 -1816px;
}

.bio-ico-info-grey {
  background-position: 0 -1840px;
}

.bio-ico-info {
  background-position: 0 -1862px;
}

.bio-kwh {
  background-position: 0 -1881px;
}

.bio-resultado {
  background-position: 0 -1911px;
}

.bio-top-pico {
  background-position: 0 -1927px;
}

.bio-volver {
  background-position: 0 -1960px;
}

/*Overlay y alerta*/
#bioOverlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  z-index: 9999;
}

.wrap-bio-alerta {
  display: none;
  position: fixed;
  width: 650px;
  height: 300px;
  background-color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 999999;
}

#wrapper-3 #main #casa-bioclimatica {
  float: left;
  /*position: relative;*/
  left: -16px;
  width: 946px;
  margin: -120px 0 0 -16px;
  padding: 70px 16px 0 16px;
  background-color: #F8FCFD;
  background-image: url("/dam/templating-kit/themes/popLM/img/casaBioclimatica/bg-degradado-top.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  /*	.estadio-final .ui-tabs-nav li a {
  	font-size: 19px;
  	line-height: 18px;
  	color: rgb(3, 3, 3);
  	letter-spacing: -1px;
  	font-weight: 100;
  	}
  
  	.estadio-final .ui-tabs {
  	position: relative;
  	margin-left: 2px !important;
  	width: 874px;
  	top: 58px;
  	border-top-left-radius: 8px;
  	-moz-border-top-left-radius: 8px;
  	-webkit-border-top-left-radius: 8px;
  	margin-bottom: 140px;
  	}
  
  	.estadio-final .ui-tabs-panel {
  	float: left;
  	padding: 12px;
  	padding-bottom: 0;
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav {
  	margin: -36px -5px 0 0;
  	float: left;
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-hide {
  	display: none;
  	}
  
  	.estadio-final .ui-tabs .ui-widget-content {
  	width: 851px;
  	}
  
  	.estadio-final .li-tabs-resultado-final-1 a,
  	.estadio-final #tabs-resultado-final-1 {
  	background-color: rgb(250, 244, 206);
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav .li-tabs-resultado-final-1.ui-state-active {
  	border-bottom-color: rgb(250, 244, 206);
  	}
  
  	.estadio-final .li-tabs-resultado-final-2 a,
  	.estadio-final #tabs-resultado-final-2 {
  	background-color: rgb(236, 228, 245);
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav .li-tabs-resultado-final-2.ui-state-active {
  	border-bottom-color: rgb(236, 228, 245);
  	}
  
  	.estadio-final .li-tabs-resultado-final-3 a,
  	.estadio-final #tabs-resultado-final-3 {
  	background-color: rgb(236, 228, 245);
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav .li-tabs-resultado-final-3.ui-state-active {
  	border-bottom-color: rgb(236, 228, 245);
  	}
  
  	.estadio-final .li-tabs-resultado-final-4 a,
  	.estadio-final #tabs-resultado-final-4 {
  	background-color: rgb(249, 217, 231);
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav .li-tabs-resultado-final-4.ui-state-active {
  	border-bottom-color: rgb(249, 217, 231);
  	}
  
  	.estadio-final .li-tabs-resultado-final-5 a,
  	.estadio-final #tabs-resultado-final-5 {
  	background-color: rgb(212, 239, 251);
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav .li-tabs-resultado-final-5.ui-state-active {
  	border-bottom-color: rgb(212, 239, 251);
  	}
  
  	.estadio-final .li-tabs-resultado-final-6 a,
  	.estadio-final #tabs-resultado-final-6 {
  	background-color: rgb(210, 254, 245);
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav .li-tabs-resultado-final-6.ui-state-active {
  	border-bottom-color: rgb(210, 254, 245);
  	}
  
  	.estadio-final .li-tabs-resultado-final-7 a,
  	.estadio-final #tabs-resultado-final-7 {
  	background-color: rgb(249, 229, 205);
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav .li-tabs-resultado-final-7.ui-state-active {
  	border-bottom-color: rgb(249, 229, 205);
  	}
  
  	.estadio-final .li-tabs-resultado-final-8 a,
  	.estadio-final #tabs-resultado-final-8 {
  	background-color: rgb(226, 246, 205);
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav .li-tabs-resultado-final-8.ui-state-active {
  	border-bottom-color: rgb(226, 246, 205);
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav li {
  	list-style: none;
  	float: left;
  	position: relative;
  	top: 0;
  	margin: 0px 5px 0 0;
  	padding: 0;
  	white-space: nowrap;
  	border-bottom-color: transparent;
  	border-bottom-style: solid;
  	border-bottom-width: 1px;
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav .ui-state-default a {
  	float: left;
  	padding: 9px 11px 10px 10px;
  	text-decoration: none;
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav li.ui-state-active {
  	margin-bottom: 0px;
  	padding-bottom: 0px;
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav li.ui-state-active a {
  	font-weight: 600;
  	text-decoration: none !important;
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav li.ui-state-active a:focus,
  	.estadio-final .ui-tabs .ui-tabs-nav li.ui-state-focus a:focus {
  	outline: 0;
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-nav li.ui-state-active .ui-tabs-anchor,
  	.estadio-final .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
  	.estadio-final .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  	cursor: text;
  	}
  
  	.estadio-final .ui-tabs-collapsible .ui-tabs-nav li.ui-state-active .ui-tabs-anchor {
  	cursor: pointer;
  	}
  
  	.estadio-final .ui-tabs .ui-tabs-panel {
  	border-width: 0;
  	}
  
  
  	.estadio-final .ui-tabs-panel .contenido-tab {
  	background-color: #fff;
  	padding: 15px;
  	padding-bottom: 24px;
  	position: relative;
  	margin-bottom: 12px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab strong {
  	font-size: inherit;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .cajabicolor,
  	.estadio-final .ui-tabs-panel .contenido-tab .cajagris {
  	border-radius: 200px 200px 200px 200px;
  	-moz-border-radius: 200px 200px 200px 200px;
  	-webkit-border-radius: 200px 200px 200px 200px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .cajabicolor {
  	display: inline-block;
  	height: 30px;
  	overflow: hidden;
  	margin-bottom: 7px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .cajabicolor .cajabicolor-verde,
  	.estadio-final .ui-tabs-panel .contenido-tab .cajabicolor .cajabicolor-rombo,
  	.estadio-final .ui-tabs-panel .contenido-tab .cajabicolor .cajabicolor-amarillo {
  	font-size: 21px;
  	font-weight: bold;
  	letter-spacing: -1px;
  	line-height: 31px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .cajabicolor .cajabicolor-verde {
  	-moz-transform: rotate(0deg);
  	-o-transform: rotate(0deg);
  	-webkit-transform: rotate(0deg);
  	transform: rotate(0deg);
  	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
  	float: left;
  	background-color: rgb(123,196,42);
  	color: #fff;
  	padding: 0 0 0 14px;
  	margin-right: -18px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .cajabicolor .cajabicolor-amarillo {
  	float: right;
  	background-color: rgb(252,255,54);
  	color: rgb(245,0,28);
  	margin-left: -10px;
  	padding: 0 19px 0 26px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .cajabicolor .cajabicolor-rombo {
  	float: right;
  	background-color: rgb(123,196,42);
  	-moz-transform: rotate(45deg);
  	-o-transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
  	transform: rotate(45deg);
  	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";
  	height: 30px;
  	width: 30px;
  	}
  
  
  	.estadio-final .ui-tabs-panel .contenido-tab .cajagris {
  	position: relative;
  	color: rgb(85,85,85);
  	background-color: rgb(228,228,228);
  	font-size: 16px;
  	display: inline-block;
  	height: 24px;
  	overflow: hidden;
  	margin-bottom: 8px;
  	padding: 0 12px 0;
  	line-height: 26px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .contenido-tab-titular {
  	position: relative;
  	font-size: 28px;
  	letter-spacing: -1px;
  	margin-bottom: 13px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .contenido-tab-caracteristicas {
  	position: relative;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .contenido-tab-caracteristicas li {
  	background-image: url(/dam/templating-kit/themes/popLM/img/bullet-disc-green-8px.png);
  	background-repeat: no-repeat;
  	background-position: 1px 7px;
  	padding-left: 14px;
  	font-size: 21px;
  	letter-spacing: -1px;
  	line-height: 20px;
  	margin-bottom: 8px;
  	color: rgb(133,133,133);
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .contenido-tab-cajagris {
  	padding: 16px;
  	background-color: rgb(245,245,245);
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	margin: 24px 0 8px 0;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .contenido-tab-cajagris .contenido-tab-cajagris-titular {
  	color: rgb(85,85,85);
  	font-size: 25px;
  	letter-spacing: -1px;
  	line-height: 23px;
  	margin-bottom: 6px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .contenido-tab-cajagris .contenido-tab-cajagris-titular-texto {
  	color: rgb(133,133,133);
  	font-size: 21px;
  	letter-spacing: -1px;
  	line-height: 20px;
  	margin-bottom: 6px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .contenido-tab-cajagris .contenido-tab-cajagris-titular-texto-curs {
  	color: rgb(133,133,133);
  	font-size: 14px;
  	line-height: 14px;
  	margin-bottom: 6px;
  	margin-top: 6px;
  	font-style: italic;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .contenido-tab-cajagris .contenido-tab-cajagris-titular-texto sup {
  	font-size: 13px;
  	line-height: 2px;
  	}
  
  
  	.estadio-final .ui-tabs-panel .contenido-tab .casabio-col3 {
  	margin: 0 64px;
  	width: 686px;
  	padding-bottom: 30px;
  	overflow: hidden;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .eco-prev,
  	.estadio-final .ui-tabs-panel .contenido-tab .eco-next {
  	position: absolute;
  	top: 610px;
  	width: 18px;
  	height: 26px;
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .eco-prev {
  	left: 20px;
  	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/bg-eco-prev.png);
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .eco-next {
  	right: 20px;
  	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/bg-eco-next.png);
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .pagination {
  	position: relative;
  	float: left;
  	width: 100%;
  	margin: 0;
  	padding: 0;
  	text-align: center;
  	margin-top: -35px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .pagination a {
  	display: inline-block;
  	width: 16px;
  	height: 16px;
  	margin: 20px 2px 0px;
  	background-image: url(/dam/templating-kit/themes/popLM/img/bullet-green-13.png);
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	color: transparent;
  	filter: alpha(opacity=40);
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  	-moz-opacity: 0.4;
  	-khtml-opacity: 0.4;
  	opacity: 0.4;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .pagination a.selected {
  	filter: alpha(opacity=100);
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	-moz-opacity: 1;
  	-khtml-opacity: 1;
  	opacity: 1;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .casabio-col3 li {
  	width: 207px;
  	display: inline-block;
  	margin-right: 28px;
  	margin-bottom: 40px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .casabio-col3 > li .venta-seccion-img {
  	position: relative;
  	height: 207px;
  	overflow: hidden;
  	width: 100%;
  	margin-bottom: 8px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .casabio-col3 > li .venta-seccion-img img {
  	position: absolute;
  	height: inherit !important;
  	max-width: 207px;
  	width: inherit;
  	max-height: 207px;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	margin: auto;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .casabio-col3 > li .wrap-list-content h3 {
  	margin-left: 0px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .casabio-col3 > li .wrap-list-content h3 a {
  	font-size: 16px;
  	letter-spacing: -1px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .casabio-col3 > li .wrap-list-content .bio-green {
  	font-size: 17px;
  	letter-spacing: -1px;
  	margin-top: 9px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .casabio-col3 > li .wrap-list-content .bio-green span{
  	width: 15px;
  	height: 15px;
  	display: inline-block;
  	margin: 0 3px -2px 0;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .casabio-col3 > li .precio {
  	font-size: 22px !important;
  	margin-left: 0px !important;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .casabio-col3 > li .wrap-btn-content .btn {
  	padding: 5px 8px 3px;
  	margin: -2px 0 5px 1px;
  	float: none;
  	letter-spacing: -1px;
  	font-weight: 600;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .casabio-col3 > li .wrap-btn-content .btn:hover {
  	text-decoration: none !important;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .casabio-col3 > li .mas-info {
  	font-size: 13px;
  	margin-left: 1px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .bio-ico-info-grey {
  	width: 23px;
  	height: 23px;
  	margin-left: 6px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .contenido-tab-extra-titular {
  	margin-left: 6px;
  	font-size: 25px;
  	font-weight: bold;
  	letter-spacing: -1px;
  	color: rgb(133,133,133);
  	width: 620px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .contenido-tab-extra-texto {
  	margin-left: 6px;
  	font-size: 17px;
  	letter-spacing: -1px;
  	color: rgb(133,133,133);
  	line-height: 17px;
  	width: 620px;
  	}
  
  	.estadio-final #tabs-recomendaciones .caja-recomendacion.first {
  	margin-right:10px;
  	}
  
  	.estadio-final #tabs-recomendaciones .caja-recomendacion.last {
  	margin-left: 0px;
  	margin-right: 0;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .contenido-tab-extra-img {
  	position: absolute;
  	top: 10px;
  	right: 16px;
  	}
  
  	.estadio-final .ui-tabs-panel .contenido-tab .mas-info {
  	margin-left: 6px;
  	font-size: 15px;
  	}
  */
}
#wrapper-3 #main #casa-bioclimatica .bio-cuestionario-acordeon,
#wrapper-3 #main #casa-bioclimatica .bio-resultado-acordeon,
#wrapper-3 #main #casa-bioclimatica .bio-introduccion {
  float: left;
  width: 934px;
  margin-left: 5px;
}
#wrapper-3 #main #casa-bioclimatica .bio-cuestionario-acordeon,
#wrapper-3 #main #casa-bioclimatica .bio-resultado-acordeon {
  display: none;
}
#wrapper-3 #main #casa-bioclimatica h3 {
  color: #999;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 5px;
}
#wrapper-3 #main #casa-bioclimatica h1 {
  color: #000;
  font-weight: 500;
  font-size: 51px;
  height: auto;
  width: 700px;
  margin: 12px 0 0 40px;
  line-height: 58px;
}
#wrapper-3 #main #casa-bioclimatica .bio-escala {
  float: right;
  width: 172px;
  height: 171px;
  margin: 10px 27px 0 0;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion .wrap-calificacion {
  margin: 10px 0 5px 36px;
  color: #858585;
  letter-spacing: -1px;
  word-spacing: 1px;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion h2 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -1.3px;
  color: #79BE2C;
}
#wrapper-3 #main #casa-bioclimatica ul.home-list {
  margin: 25px 0;
  color: #858585;
}
#wrapper-3 #main #casa-bioclimatica ul.home-list li {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -1px;
}
#wrapper-3 #main #casa-bioclimatica ul.home-list li strong {
  color: #333;
  font-weight: 400;
  font-size: 32px;
}
#wrapper-3 #main #casa-bioclimatica ul.home-list li strong.lm-green {
  color: #79BE2C;
}
#wrapper-3 #main #casa-bioclimatica ul.home-list li strong span {
  text-transform: uppercase;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion p {
  font-size: 20px;
  line-height: 20px;
}
#wrapper-3 #main #casa-bioclimatica p.txt-medium {
  margin: 14px 21px 15px 0;
  font-size: 32px;
  line-height: 32px;
}
#wrapper-3 #main #casa-bioclimatica p.txt-big {
  color: #333;
  font-size: 41px;
  line-height: 49px;
  letter-spacing: 1px;
  word-spacing: -3px;
}
#wrapper-3 #main #casa-bioclimatica p.espTop {
  margin: 190px 0 0 0;
}
#wrapper-3 #main #casa-bioclimatica p.txt-res {
  font-size: 24px;
  color: #858585;
  margin: 20px 0 30px 0;
  line-height: 26px;
  letter-spacing: -1px;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion ul.home-ball {
  margin: 20px 26px;
  width: 823px;
  min-height: 120px;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion ul.home-ball li {
  margin: 0 3%;
  display: inline-block;
  width: 19%;
  float: left;
  text-align: center;
  font-size: 22px;
  font-style: italic;
  color: #989898;
  line-height: 23px;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion ul.tricol {
  margin: 21px auto;
  width: 644px;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion ul.tricol li {
  margin: 0 3%;
  width: 25%;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion ul.home-ball li .num-step {
  display: block;
  margin: 9px auto;
  width: 52px;
  height: 52px;
  font-size: 24px;
  line-height: 52px;
  font-weight: bold;
  color: #fff;
  font-style: normal;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion ul.home-ball li .num-step span {
  padding-right: 4px;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion .box-home-info {
  display: inline-block;
  width: 860px;
  height: 240px;
  margin: 10px 0 34px 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 3px solid #EDEDED;
  background-image: url(/dam/templating-kit/themes/popLM/img/casaBioclimatica/escala2.png);
  background-position: 39px 62px;
  background-repeat: no-repeat;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion .box-home-info .bio-top-pico {
  width: 70px;
  height: 33px;
  margin: -3px auto 0 auto;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion .box-home-info p {
  margin: 28px 10px 15px 252px;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion .box-home-info2 {
  width: 880px;
  height: 660px;
  margin: 11px 0 34px -11px;
  background-image: url(/dam/templating-kit/themes/popLM/img/casaBioclimatica/escala3.png);
  background-position: 56px 242px;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion .box-home-info2 p {
  margin: 8px 10px 15px 37px;
  color: #333;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion .box-home-info2 ul.home-list {
  margin: 14px 36px;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion .box-home-info2 ul.home-list li {
  font-size: 28px;
  line-height: 32px;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion .box-home-info2 ul.home-list li strong {
  font-size: 28px;
  line-height: 34px;
}
#wrapper-3 #main #casa-bioclimatica .bio-introduccion .box-home-info2 ul.home-list li strong.lm-green {
  color: #79BE2C;
}
#wrapper-3 #main #casa-bioclimatica .btn-bio {
  margin: 23px 5px;
  line-height: 56px;
  height: 54px;
  padding: 2px 23px;
  font-size: 36px;
  font-weight: 700;
}
#wrapper-3 #main #casa-bioclimatica .btn-bio:hover {
  text-decoration: none !important;
}
#wrapper-3 #main #casa-bioclimatica .btn-small {
  margin: 8px 253px;
  line-height: 25px;
  height: 25px;
  padding: 2px 13px;
  font-size: 15px;
  font-weight: 700;
}
#wrapper-3 #main #casa-bioclimatica .btn-bio2 {
  margin: 0 312px;
}
#wrapper-3 #main #casa-bioclimatica .btn-bio3 {
  margin: 23px 310px;
  padding: 9px 23px;
}
#wrapper-3 #main #casa-bioclimatica .bio-chevron-right {
  width: 16px;
  height: 28px;
  display: inline-block;
  margin-left: 16px;
}
#wrapper-3 #main #casa-bioclimatica ul.res-final {
  margin: 20px auto;
  width: 600px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step,
#wrapper-3 #main #casa-bioclimatica .wrap-step-no-item {
  position: relative;
  float: left;
  width: 100%;
  margin: 15px 0 0 0;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step.invisible,
#wrapper-3 #main #casa-bioclimatica .wrap-step-no-item.invisible,
#wrapper-3 #main #casa-bioclimatica .wrap-step.detail {
  display: none;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step .step-tit,
#wrapper-3 #main #casa-bioclimatica .wrap-step-no-item .step-tit {
  color: #999;
  font-size: 19px;
  margin: 0;
  padding: 8px 15px;
  background-color: #EEE;
  position: relative;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step .step-tit a,
#wrapper-3 #main #casa-bioclimatica .wrap-step-no-item .step-tit a {
  font-size: 19px;
  font-weight: normal;
  color: #999;
  text-decoration: underline;
  padding-right: 15px;
  border-right: 1px solid #d4d4d4;
  margin-right: 10px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step .step-tit a.last,
#wrapper-3 #main #casa-bioclimatica .wrap-step-no-item .step-tit a.last {
  border-right: none;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step .step-tit a:hover {
  text-decoration: none !important;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step.enabled .step-tit {
  color: #999;
  font-weight: 600;
  background-color: #ECECEC;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step.on .step-tit {
  padding: 8px 15px 15px;
}
#wrapper-3 #main #casa-bioclimatica .step-tit span {
  float: right;
  margin: 3px 0 0 0;
  width: 16px;
  height: 16px;
}
#wrapper-3 #main #casa-bioclimatica .step-tit span.icon-tit {
  float: inherit;
  display: inline-block;
  margin-right: 5px;
  width: 17px;
  height: 14px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step .step-cont {
  display: inline-block;
  width: 932px;
  position: relative;
  background-color: #FFF;
  border: 1px solid #ECECEC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: -7px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step.disabled,
#wrapper-3 #main #casa-bioclimatica .item-step.disabled {
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step.disabled span {
  display: none;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step.disabled .step-tit,
#wrapper-3 #main #casa-bioclimatica .wrap-step .item-step.disabled .step-tit {
  cursor: default;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step.disabled .step-tit span.icon-tit {
  display: inline-block;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step.enabled .item-step {
  margin: 0;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step.enabled .item-step .step-tit,
#wrapper-3 #main #casa-bioclimatica .wrap-resultado-step .resultado-step-tit {
  background-color: transparent;
  border-bottom: 1px solid #ECECEC;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 8px 0;
  margin: 0 27px;
  font-weight: 400;
  font-size: 18px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step.enabled .item-step .step-tit strong {
  font-weight: 400;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step.enabled .item-step:last-child .step-tit {
  border-bottom: none;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step.enabled .item-step .step-cont {
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 10px 15px;
  width: 902px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step.enabled .item-step .step-answer {
  display: inline-block;
  width: auto;
  float: right;
}
#wrapper-3 #main #casa-bioclimatica .wrap-step.enabled .item-step .step-answer a {
  font-size: 16px;
  color: #999;
  border: none;
}
#wrapper-3 #main #casa-bioclimatica .literal-resumen {
  height: 21px;
  line-height: 21px;
  font-weight: 400;
  font-size: 18px;
  color: #989898;
  margin: 10px 15px;
  padding: 0;
}
#wrapper-3 #main #casa-bioclimatica .literal-resumen a {
  line-height: 21px;
  font-weight: 400;
  font-size: 18px;
  color: #989898;
  text-decoration: underline;
}
#wrapper-3 #main #casa-bioclimatica .literal-resumen a:hover {
  text-decoration: none !important;
}
#wrapper-3 #main #casa-bioclimatica .left-side {
  float: left;
}
#wrapper-3 #main #casa-bioclimatica .right-side {
  float: right;
}
#wrapper-3 #main #casa-bioclimatica .wrap-resultado-step .resultado-step-tit {
  font-weight: bold;
  color: #666;
}
#wrapper-3 #main #casa-bioclimatica .wrap-resultado-step > ul {
  margin: 10px 50px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-resultado-step > ul li {
  width: 100%;
  display: inline-block;
  line-height: 19px;
  font-weight: 400;
  font-size: 18px;
  color: #666;
  margin: 0;
  padding: 0;
}
#wrapper-3 #main #casa-bioclimatica .wrap-resultado-step > ul li .text-item {
  width: auto;
  float: left;
  display: inline-block;
}
#wrapper-3 #main #casa-bioclimatica .wrap-resultado-step > ul li .answer-item {
  width: auto;
  float: right;
  display: inline-block;
}
#wrapper-3 #main #casa-bioclimatica .wrap-resultado-step > ul li .answer-item a {
  font-size: 16px;
  color: #999;
  width: 440px;
  display: inline-block;
  text-align: right;
}
#wrapper-3 #main #casa-bioclimatica .wrap-resultado-precarga {
  display: block;
  text-align: center;
  margin: 80px 0;
}
#wrapper-3 #main #casa-bioclimatica .wrap-resultado-precarga .pleload {
  display: block;
  text-align: center;
  margin: 80px 0;
}
#wrapper-3 #main #casa-bioclimatica .wrap-resultado-precarga .text-preload {
  font-size: 25px;
  font-style: oblique;
  color: #8CBF00;
}
#wrapper-3 #main #casa-bioclimatica .wrap-resultado-precarga .preload {
  width: 32px;
  height: 32px;
  margin: 15px auto;
}
#wrapper-3 #main #casa-bioclimatica .wrap-resultado-precarga .preload .loader {
  position: relative;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: url(/dam/templating-kit/themes/popLM/img/casaBioclimatica/preload-bio.gif) no-repeat top left;
}
#wrapper-3 #main #casa-bioclimatica .wrap-resultado-calificacion {
  display: none;
  margin: 20px 0 30px 0;
}
#wrapper-3 #main #casa-bioclimatica .wrap-resultado-calificacion .wrap-calificacion {
  margin: 20px 25px;
}
#wrapper-3 #main #casa-bioclimatica .txt-tit01 {
  display: inline-block;
  width: 100%;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: -1px;
  color: #000;
  margin: 0;
}
#wrapper-3 #main #casa-bioclimatica .txt-tit02 {
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -1px;
  color: #858585;
  margin: 10px 0 0 0;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-left,
#wrapper-3 #main #casa-bioclimatica .bio-clasif-right {
  position: relative;
  float: left;
  margin: 40px 0 60px 0;
  width: 420px;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-left {
  min-height: 350px;
  text-align: right;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-right {
  width: 400px;
  margin-left: 30px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-calificacion .xl-tit {
  display: inline-block;
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  letter-spacing: -2px;
  word-spacing: -3px;
  color: #79BE2C;
  margin: 0;
}
#wrapper-3 #main #casa-bioclimatica .wrap-calificacion .a {
  color: #1B9600;
}
#wrapper-3 #main #casa-bioclimatica .wrap-calificacion .b {
  color: #40BA00;
}
#wrapper-3 #main #casa-bioclimatica .wrap-calificacion .c {
  color: #B0DE00;
}
#wrapper-3 #main #casa-bioclimatica .wrap-calificacion .d {
  color: #FBE500;
}
#wrapper-3 #main #casa-bioclimatica .wrap-calificacion .e {
  color: #EDAE00;
}
#wrapper-3 #main #casa-bioclimatica .wrap-calificacion .f {
  color: #FE562A;
}
#wrapper-3 #main #casa-bioclimatica .wrap-calificacion .g {
  color: #FF2E00;
}
#wrapper-3 #main #casa-bioclimatica .wrap-calificacion .superindice {
  font-size: 40px;
  line-height: 40px;
  vertical-align: top;
}
#wrapper-3 #main #casa-bioclimatica #r-bio-letra,
#wrapper-3 #main #casa-bioclimatica #r2-bio-letra {
  text-transform: uppercase;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-left ul {
  margin: 10px 15px 10px 0;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-left ul li {
  width: 100%;
  display: inline-block;
  line-height: 23px;
  font-weight: 400;
  font-size: 21px;
  letter-spacing: -1px;
  color: #AAA;
  margin: 0;
  padding: 0;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-left ul li span.icons {
  width: 38px;
  height: 28px;
  display: inline-block;
  margin-right: 10px;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-left ul li span#r-bio-co2,
#wrapper-3 #main #casa-bioclimatica .bio-clasif-left ul li span#r2-bio-co2,
#wrapper-3 #main #casa-bioclimatica .bio-clasif-left ul li span#r-bio-letra,
#wrapper-3 #main #casa-bioclimatica .bio-clasif-left ul li span#r2-bio-letra {
  font-weight: bold;
}
#wrapper-3 #main #casa-bioclimatica .bio-well {
  display: inline-block;
  margin: 0 15px 0 0;
  width: 360px;
}
#wrapper-3 #main #casa-bioclimatica .bio-well p {
  color: #575746;
  line-height: 23px;
  font-weight: 100;
  font-size: 18px;
  margin: 0;
  letter-spacing: -1px;
}
#wrapper-3 #main #casa-bioclimatica .bio-well p a {
  color: #575746;
  line-height: 23px;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  letter-spacing: -1px;
  border-bottom: 1px solid #575746;
}
#wrapper-3 #main #casa-bioclimatica .bio-well p a:hover {
  border-bottom: none;
  text-decoration: none !important;
}
#wrapper-3 #main #casa-bioclimatica .bio-well p.bio-etiqueta {
  display: none;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-right .block-escala {
  float: left;
  width: 93px;
  height: 342px;
  margin: 0 8px 0 0;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-right .block-escala .block1,
#wrapper-3 #main #casa-bioclimatica .bio-clasif-right .block-escala .block2,
#wrapper-3 #main #casa-bioclimatica .bio-clasif-right .block-escala .block3 {
  float: left;
  width: 93px;
  height: 92px;
  margin: 4px 0 8px  0;
  background-color: #E8E8E8;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-right .block-escala p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: #AAA;
  width: 80px;
  text-align: center;
  margin: 34px auto;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-right .block-escala .block2 p {
  margin: 47px auto;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-right .block-escala .block2 {
  height: 142px;
  margin: 0 0 8px 0;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-right .block-escala .block3 {
  margin: 0;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-right ul {
  width: 281px;
  height: 342px;
  margin: 4px 0 4px 101px;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-right ul li {
  width: 281px;
  height: 42px;
  margin: 4px 0;
  float: left;
  line-height: 23px;
  font-weight: 400;
  font-size: 21px;
  letter-spacing: -1px;
  color: #AAA;
  padding: 0;
  filter: alpha(opacity=85);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
  background-color: #fff;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-right ul li.first {
  margin: 0 0 4px 0;
}
#wrapper-3 #main #casa-bioclimatica .bio-clasif-right ul li.active {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  background-color: taransparent;
}
#wrapper-3 #main #casa-bioclimatica ul.bio-redes {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 15px 4px 0;
}
#wrapper-3 #main #casa-bioclimatica ul.bio-redes > li {
  display: block;
  float: left;
  width: 31px;
  height: 28px;
  margin-right: 3px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#wrapper-3 #main #casa-bioclimatica ul.bio-redes > li.print {
  background: url("/dam/templating-kit/themes/popLM/img/ficha-logo-print.png") top left no-repeat;
}
#wrapper-3 #main #casa-bioclimatica ul.bio-redes > li.fb {
  background: url("/dam/templating-kit/themes/popLM/img/ficha-logo-fb.png") top left no-repeat;
}
#wrapper-3 #main #casa-bioclimatica ul.bio-redes > li.tt {
  background: url("/dam/templating-kit/themes/popLM/img/ficha-logo-tt.png") top left no-repeat;
}
#wrapper-3 #main #casa-bioclimatica ul.bio-redes > li.email {
  background: url("/dam/templating-kit/themes/popLM/img/ficha-logo-email.png") top left no-repeat;
}
#wrapper-3 #main #casa-bioclimatica ul.bio-redes > li.pinterest {
  background: url("/dam/templating-kit/themes/popLM/img/ficha-logo-pinterest.png") top left no-repeat;
}
#wrapper-3 #main #casa-bioclimatica ul.bio-redes > li.comunidad {
  background: url("/dam/templating-kit/themes/popLM/img/ficha-logo-comunidad.png") top left no-repeat;
}
#wrapper-3 #main #casa-bioclimatica ul.bio-redes > li.instagram {
  background: url("/dam/templating-kit/themes/popLM/img/ficha-logo-instagram.png") top left no-repeat;
}
#wrapper-3 #main #casa-bioclimatica ul.bio-redes > li a {
  display: block;
  width: 31px;
  height: 28px;
}
#wrapper-3 #main #casa-bioclimatica .well-detalle {
  margin: 30px 0 70px 0;
  padding: 15px 20px;
  -moz-border-radius: 46px;
  -webkit-border-radius: 46px;
  border-radius: 46px;
}
#wrapper-3 #main #casa-bioclimatica .well-detalle .block1 {
  float: left;
  width: 430px;
}
#wrapper-3 #main #casa-bioclimatica .well-detalle .block2 {
  float: right;
  width: 410px;
}
#wrapper-3 #main #casa-bioclimatica .well-detalle p {
  font-size: 16px;
  line-height: 18px;
  color: #7f7f7f;
}
#wrapper-3 #main #casa-bioclimatica .well-detalle p strong {
  font-size: 18px;
  width: 100%;
  display: block;
}
#wrapper-3 #main #casa-bioclimatica .well-detalle .block1 span {
  width: 24px;
  height: 24px;
  display: inline-block;
  float: left;
  margin: 13px 10px 13px 0;
}
#wrapper-3 #main #casa-bioclimatica .well-detalle .block3 {
  float: left;
  width: 600px;
}
#wrapper-3 #main #casa-bioclimatica .well-detalle .block3 ul {
  margin: 10px 20px;
}
#wrapper-3 #main #casa-bioclimatica .well-detalle .block3 ul li {
  margin: 10px 5px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 20px;
  color: #7f7f7f;
  background: url("/dam/templating-kit/themes/popLM/img/bg-ico_abierto.png") 0 4px no-repeat;
}
#wrapper-3 #main #casa-bioclimatica .well-detalle .block3 ul li strong {
  font-size: 18px;
  width: 100%;
  display: block;
}
#wrapper-3 #main #casa-bioclimatica .well-detalle .block4 {
  float: right;
  width: 230px;
  margin-top: 120px;
}
#wrapper-3 #main #casa-bioclimatica .btn-continuar {
  float: right;
  margin: 0;
  line-height: 56px;
  height: 54px;
  padding: 4px 25px;
  -moz-border-radius: 31px;
  -webkit-border-radius: 31px;
  border-radius: 31px;
  font-size: 40px;
  font-weight: bold;
}
#wrapper-3 #main #casa-bioclimatica .btn-continuar:hover {
  text-decoration: none !important;
}
#wrapper-3 #main #casa-bioclimatica .wrapper-menu-eco-fixed {
  display: block;
}
#wrapper-3 #main #casa-bioclimatica .menu-eco-fixed {
  display: block;
  top: 0;
}
#wrapper-3 #main #casa-bioclimatica .ecoblock.secciones {
  min-height: 160px;
  background-position: 0 -45px;
}
#wrapper-3 #main #casa-bioclimatica .ecoblock.secciones ul.ecoopciones-nav li {
  width: 209px;
  min-height: 65px;
}
#wrapper-3 #main #casa-bioclimatica .ecoblock ul.ecoopciones-nav li .logo {
  width: 209px;
  height: 65px;
  background-size: contain;
  background-position: center;
}
#wrapper-3 #main #casa-bioclimatica .ecoblock ul.ecoopciones-nav li .logo a {
  width: 209px;
  height: 75px;
}
#wrapper-3 #main #casa-bioclimatica .ecoblock ul.ecoopciones-nav li h3 {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 10px 5px 10px;
  display: inline-block;
  width: 100%;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
}
#wrapper-3 #main #casa-bioclimatica .ecoblock ul.ecoopciones-nav li .masinfo {
  color: #0099FF;
  font-size: 16px;
  margin: 0 0 5px 10px;
  display: inline-block;
  width: 100%;
  text-decoration: underline;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final {
  display: none;
}
#wrapper-3 #main #casa-bioclimatica .bio-detallado-acordeon,
#wrapper-3 #main #casa-bioclimatica .bio-resultado-final-acordeon {
  display: none;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont {
  width: 100%;
  text-align: center;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont.esp5b {
  float: left;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont .num-step {
  display: block;
  margin: 30px auto 0 auto;
  width: 52px;
  height: 52px;
  font-size: 24px;
  line-height: 52px;
  font-weight: bold;
  color: #fff;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont p,
#wrapper-3 #main #casa-bioclimatica .info-tooltip-tab {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 10px auto;
  padding: 0;
  width: auto;
  color: #79BE2C;
}
#wrapper-3 #main #casa-bioclimatica .content-quest {
  display: inline-block;
  width: 100%;
}
#wrapper-3 #main #casa-bioclimatica .esp5b .content-quest {
  float: left;
  width: 50%;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont p.txt-quest {
  display: inline-block;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont .mapa {
  display: inline-block;
  width: 730px;
  height: 450px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont .combos-provincias {
  height: 60px;
  display: block;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont .bio-select-provincia,
#wrapper-3 #main #casa-bioclimatica .wrap-cont .bio-select-municipio {
  width: 155px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  text-align: left;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont .bio-select-municipio {
  width: 235px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont .bio-select-provincia .sbHolder,
#wrapper-3 #main #casa-bioclimatica .wrap-cont .bio-select-provincia .sbOptions {
  width: 155px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont .bio-select-municipio .sbHolder,
#wrapper-3 #main #casa-bioclimatica .wrap-cont .bio-select-municipio .sbOptions {
  width: 235px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont .sbOptions {
  max-height: 500px;
  height: auto;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont a:hover,
#wrapper-3 #main #casa-bioclimatica .wrap-cont a:active,
#wrapper-3 #main #casa-bioclimatica .wrap-cont a:focus {
  text-decoration: none !important;
}
#wrapper-3 #main #casa-bioclimatica .btn-bio-next {
  float: inherit;
  margin: 40px 0;
  line-height: 40px;
  height: 40px;
  padding: 0 25px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: 25px;
}
#wrapper-3 #main #casa-bioclimatica .esp5b .btn-bio-next {
  margin-left: 375px;
}
#wrapper-3 #main #casa-bioclimatica .btn-bio-next.disabled {
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
  cursor: default;
}
#wrapper-3 #main #casa-bioclimatica .wrap-img-quest {
  display: inline-block;
  margin: 10px 4px;
  width: 290px;
}
#wrapper-3 #main #casa-bioclimatica .img-quest {
  display: inline-block;
  margin: 9px;
  width: 270px;
  height: 225px;
  background-color: #F9F9F9;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("/dam/templating-kit/themes/popLM/img/bio-ans/ans1-b-sprite.png");
}
#wrapper-3 #main #casa-bioclimatica .ans1-b-adosado {
  background-position: 0 0;
}
#wrapper-3 #main #casa-bioclimatica .selected .ans1-b-adosado {
  background-position: 0 -225px;
}
#wrapper-3 #main #casa-bioclimatica .ans1-b-atico {
  background-position: 0 -450px;
}
#wrapper-3 #main #casa-bioclimatica .selected .ans1-b-atico {
  background-position: 0 -675px;
}
#wrapper-3 #main #casa-bioclimatica .ans1-b-bajo {
  background-position: 0 -900px;
}
#wrapper-3 #main #casa-bioclimatica .selected .ans1-b-bajo {
  background-position: 0 -1125px;
}
#wrapper-3 #main #casa-bioclimatica .ans1-b-piso {
  background-position: 0 -1350px;
}
#wrapper-3 #main #casa-bioclimatica .selected .ans1-b-piso {
  background-position: 0 -1575px;
}
#wrapper-3 #main #casa-bioclimatica .ans1-b-unifamiliar {
  background-position: 0 -1800px;
}
#wrapper-3 #main #casa-bioclimatica .selected .ans1-b-unifamiliar {
  background-position: 0 -2025px;
}
#wrapper-3 #main #casa-bioclimatica .selected .img-quest {
  margin: 0;
  border-width: 10px;
  border-color: #79BE2C;
}
#wrapper-3 #main #casa-bioclimatica .wrap-img-quest p {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #7f7f7f;
}
#wrapper-3 #main #casa-bioclimatica .selected p {
  color: #79BE2C;
}
#wrapper-3 #main #casa-bioclimatica .wrap-img-quest a,
#wrapper-3 #main #casa-bioclimatica .more-info {
  width: 19px;
  height: 19px;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
#wrapper-3 #main #casa-bioclimatica .bio-ico-info-big {
  width: 22px;
  height: 24px;
}
#wrapper-3 #main #casa-bioclimatica .main-img-quest {
  margin: 20px 0;
}
#wrapper-3 #main #casa-bioclimatica .options-quest {
  display: inline-block;
  width: 100%;
  color: #7f7f7f;
  font-size: 18px;
}
#wrapper-3 #main #casa-bioclimatica .options-quest ul {
  display: inline-block;
  margin-top: 10px;
}
#wrapper-3 #main #casa-bioclimatica .options-quest ul li {
  position: relative;
  margin: 8px 0;
  height: 20px;
  text-align: left;
}
#wrapper-3 #main #casa-bioclimatica .options-quest ul li.tit {
  font-size: 18px;
  color: #666;
  font-weight: bold;
  margin-bottom: 10px;
}
#wrapper-3 #main #casa-bioclimatica .options-quest label {
  display: inline-block;
  width: 420px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DDD;
  text-align: left;
  color: #666;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-left: 15px;
}
#wrapper-3 #main #casa-bioclimatica .esp5b .options-quest {
  text-align: left;
}
#wrapper-3 #main #casa-bioclimatica .esp5b .options-quest ul {
  margin-left: 15px;
}
#wrapper-3 #main #casa-bioclimatica .options-quest .anexo-check {
  display: none;
  width: 100%;
  margin-left: 25px;
  margin-top: 5px;
}
#wrapper-3 #main #casa-bioclimatica .esp5b .options-quest .input-text {
  margin-top: 5px;
}
#wrapper-3 #main #casa-bioclimatica .options-quest .box-grey {
  display: inline-block;
  margin-left: 0;
  margin-top: 10px;
  padding: 15px 5px 5px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 370px;
  background-color: #f6f6f6;
  font-size: 17px;
}
#wrapper-3 #main #casa-bioclimatica .options-quest .box-grey strong {
  font-size: 17px;
}
#wrapper-3 #main #casa-bioclimatica .options-quest .box-grey ul {
  margin-left: 0;
}
#wrapper-3 #main #casa-bioclimatica .options-quest .box-grey ul li {
  display: inline-block;
  margin-right: 10px;
}
#wrapper-3 #main #casa-bioclimatica .bio-brujula {
  position: relative;
  margin-top: 30px;
  display: inline-block;
  width: 431px;
  height: 395px;
  background: url(/dam/templating-kit/themes/popLM/img/bio-ans/main-ans5-d1.png) no-repeat 0 0;
}
#wrapper-3 #main #casa-bioclimatica .link-brujula {
  position: absolute;
  width: 38px;
  height: 30px;
  border: 5px solid  #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #f9f9f9;
  text-align: center;
  line-height: 30px;
  font-size: 22px;
  color: #7f7f7f;
}
#wrapper-3 #main #casa-bioclimatica .link-brujula.selected,
#wrapper-3 #main #casa-bioclimatica .link-brujula:hover {
  border: 5px solid #79BE2C;
  -webkit-box-shadow: 0 0 5px transparent;
  -moz-box-shadow: 0 0 5px transparent;
  box-shadow: 0 0 5px transparent;
  color: #79BE2C;
}
#wrapper-3 #main #casa-bioclimatica .link-brujula.norte {
  top: 1px;
  left: 191px;
}
#wrapper-3 #main #casa-bioclimatica .link-brujula.noreste {
  top: 47px;
  left: 341px;
}
#wrapper-3 #main #casa-bioclimatica .link-brujula.este {
  top: 178px;
  left: 382px;
}
#wrapper-3 #main #casa-bioclimatica .link-brujula.sureste {
  top: 308px;
  left: 341px;
}
#wrapper-3 #main #casa-bioclimatica .link-brujula.sur {
  top: 354px;
  left: 191px;
}
#wrapper-3 #main #casa-bioclimatica .link-brujula.suroste {
  top: 308px;
  left: 41px;
}
#wrapper-3 #main #casa-bioclimatica .link-brujula.oeste {
  top: 178px;
  left: 1px;
}
#wrapper-3 #main #casa-bioclimatica .link-brujula.noroeste {
  top: 47px;
  left: 41px;
}
#wrapper-3 #main #casa-bioclimatica .aguja-brujula {
  position: absolute;
  width: 431px;
  height: 395px;
  background: url(/dam/templating-kit/themes/popLM/img/bio-ans/main-ans5-d2.png) no-repeat 0 0;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont-doble {
  display: inline-block;
  width: 50%;
  float: left;
  height: 395px;
  margin-top: 20px;
}
#wrapper-3 #main #casa-bioclimatica .esp6a .options-quest ul {
  display: block;
  margin-top: 10px;
  margin-left: 50px;
}
#wrapper-3 #main #casa-bioclimatica .esp6a p.txt-quest {
  width: 100%;
}
#wrapper-3 #main #casa-bioclimatica .esp6a .main-img-quest {
  margin: 0;
}
#wrapper-3 #main #casa-bioclimatica .esp6c .options-quest ul {
  width: 545px;
}
#wrapper-3 #main #casa-bioclimatica .esp7a p.txt-quest {
  width: 550px;
  margin: 10px 170px;
}
#wrapper-3 #main #casa-bioclimatica .esp7a .main-img-quest {
  margin: 20px 360px;
}
#wrapper-3 #main #casa-bioclimatica .esp7a .wrap-cont-doble {
  height: 435px;
  width: 290px;
}
#wrapper-3 #main #casa-bioclimatica .esp7a .wrap-cont-doble.left {
  width: 450px;
  margin-left: 120px;
}
#wrapper-3 #main #casa-bioclimatica .esp7a .options-quest ul {
  display: block;
  margin-top: 10px;
  margin-left: 50px;
}
#wrapper-3 #main #casa-bioclimatica .esp7a .options-quest ul li.tit {
  height: 24px;
  line-height: 24px;
}
#wrapper-3 #main #casa-bioclimatica .esp7a .options-quest ul li.tit span {
  height: 24px;
  vertical-align: top;
  margin-right: 10px;
}
#wrapper-3 #main #casa-bioclimatica .esp7a .options-quest ul li a.disabled {
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}
#wrapper-3 #main #casa-bioclimatica .esp5b .options-quest ul li {
  height: auto;
  display: inline-block;
  width: 100%;
  margin: 2px 0;
}
#wrapper-3 #main #casa-bioclimatica .esp5b .options-quest .box-grey ul li {
  width: auto;
}
#wrapper-3 #main #casa-bioclimatica div.yesno {
  position: relative;
  display: inline-block;
  width: 59px;
  height: 26px;
  background-image: url(/dam/templating-kit/themes/popLM/img/bio-ans/yesno-bg-off.png);
  background-repeat: no-repeat;
  background-position: 5px 1px;
}
#wrapper-3 #main #casa-bioclimatica div.yesno.selected {
  background-image: url(/dam/templating-kit/themes/popLM/img/bio-ans/yesno-bg.png);
}
#wrapper-3 #main #casa-bioclimatica div.yesno div {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 16px;
  height: 16px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #cc0000;
  background: -moz-linear-gradient(top, #cc0000 0%, #ff0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc0000), color-stop(100%, #ff0000));
  background: -webkit-linear-gradient(top, #cc0000 0%, #ff0000 100%);
  background: -o-linear-gradient(top, #cc0000 0%, #ff0000 100%);
  background: -ms-linear-gradient(top, #cc0000 0%, #ff0000 100%);
  background: linear-gradient(to bottom, #cc0000 0%, #ff0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#ff0000',GradientType=0 );
  -webkit-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  -ms-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}
#wrapper-3 #main #casa-bioclimatica div.yesno.selected div {
  left: 36px;
  background: #6fa932;
  background: -moz-linear-gradient(top, #6fa932 0%, #7dbc39 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6fa932), color-stop(100%, #7dbc39));
  background: -webkit-linear-gradient(top, #6fa932 0%, #7dbc39 100%);
  background: -o-linear-gradient(top, #6fa932 0%, #7dbc39 100%);
  background: -ms-linear-gradient(top, #6fa932 0%, #7dbc39 100%);
  background: linear-gradient(to bottom, #6fa932 0%, #7dbc39 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fa932', endColorstr='#7dbc39',GradientType=0 );
}
#wrapper-3 #main #casa-bioclimatica div.yesno a {
  position: absolute;
  top: 0;
  left: 1px;
  width: 26px;
  height: 26px;
  background: url(/dam/templating-kit/themes/popLM/img/bio-ans/yesno-drag.png) no-repeat top left;
  /*background-color: #cc0000;*/
  text-indent: -99999px;
  -webkit-transition: all ease-in-out 0.25s;
  -moz-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  -ms-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}
#wrapper-3 #main #casa-bioclimatica div.yesno.selected a {
  left: 31px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont .tiptip_content,
#wrapper-3 #main #casa-bioclimatica .wrap-cont .info-tooltip-main,
#wrapper-3 #main #casa-bioclimatica .wrap-step-no-item .info-tooltip-main {
  display: none;
}
#wrapper-3 #main #casa-bioclimatica a.simple-check {
  float: left;
  font-size: 18px;
  color: #7f7f7f;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#wrapper-3 #main #casa-bioclimatica a.simple-check:hover,
#wrapper-3 #main #casa-bioclimatica a.simple-check.selected {
  color: #79BE2C;
  text-decoration: none !important;
}
#wrapper-3 #main #casa-bioclimatica a.simple-check span {
  float: left;
  width: 21px;
  height: 19px;
  margin-right: 5px;
  color: #666;
  font-size: 15px;
  line-height: 23px;
  font-weight: 300;
  background: url(/dam/templating-kit/themes/popLM/img/casaBioclimatica/checkbox-large.png) no-repeat 0px -19px;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#wrapper-3 #main #casa-bioclimatica a.simple-check.selected span {
  background-position: 0 0;
}
#wrapper-3 #main #casa-bioclimatica a.simple-radio span {
  width: 26px;
  height: 26px;
  background: url(/dam/templating-kit/themes/popLM/img/casaBioclimatica/radiobutton-big.png) no-repeat 0 -2px;
}
#wrapper-3 #main #casa-bioclimatica a.simple-radio.selected span {
  background-position: 0 -29px;
}
#wrapper-3 #main #casa-bioclimatica .tiptip_folder,
#wrapper-3 #main #casa-bioclimatica .tiptip_tabla {
  position: absolute;
  z-index: 9998;
  display: none;
  margin-left: -62px;
  margin-top: -14px;
}
#wrapper-3 #main #casa-bioclimatica .tiptip_tabla {
  margin-left: -102px;
}
#wrapper-3 #main #casa-bioclimatica .tiptip_folder .tiptip_content,
#wrapper-3 #main #casa-bioclimatica .tiptip_tabla .tiptip_content {
  width: auto;
  min-height: 25px;
  height: auto;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: -0.5px;
  color: #666;
  padding: 15px;
  background-color: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 7px #888;
  -moz-box-shadow: 0 0 7px #888;
  box-shadow: 0 0 7px #888;
  text-align: justify;
}
#wrapper-3 #main #casa-bioclimatica .tiptip_tabla .tiptip_content {
  padding: 10px 15px 5px;
}
#wrapper-3 #main #casa-bioclimatica .tiptip_folder .tiptip_arrow,
#wrapper-3 #main #casa-bioclimatica .tiptip_folder .tiptip_arrow_inner,
#wrapper-3 #main #casa-bioclimatica .tiptip_tabla .tiptip_arrow,
#wrapper-3 #main #casa-bioclimatica .tiptip_tabla .tiptip_arrow_inner {
  border: none;
  height: 10px;
  width: 17px;
  left: 63px;
}
#wrapper-3 #main #casa-bioclimatica .tiptip_tabla .tiptip_arrow,
#wrapper-3 #main #casa-bioclimatica .tiptip_tabla .tiptip_arrow_inner {
  left: 103px;
}
#wrapper-3 #main #casa-bioclimatica .tiptip_folder .tiptip_arrow_inner,
#wrapper-3 #main #casa-bioclimatica .tiptip_tabla .tiptip_arrow_inner {
  background-image: url(/dam/templating-kit/themes/popLM/img/arrow-tiptip-bottom.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
  border: none;
  height: 10px;
  width: 17px;
  bottom: 0;
}
#wrapper-3 #main #casa-bioclimatica .tiptip_folder .tip-text {
  width: 200px;
}
#wrapper-3 #main #casa-bioclimatica .tiptip_close {
  position: absolute;
  top: -13px;
  right: 0px;
  margin-right: -13px;
  float: left;
  width: 26px;
  height: 26px;
  text-indent: -9999px;
  background: url(/dam/templating-kit/themes/popLM/img/casaBioclimatica/bt-close-blue.png) no-repeat;
  background-position: 0 0;
}
#wrapper-3 #main #casa-bioclimatica .tiptip_close:hover {
  background-position: 0 -26px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont .tiptip_content {
  display: none;
}
#wrapper-3 #main #casa-bioclimatica .info-tooltip-contenido {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: center;
}
#wrapper-3 #main #casa-bioclimatica .info-tooltip-contenido.pull-left {
  text-align: left;
}
#wrapper-3 #main #casa-bioclimatica .info-tooltip-tab {
  padding: 18px 16px 5px;
  margin: 0 0 -5px 0;
}
#wrapper-3 #main #casa-bioclimatica .info-tooltip-tab.hidden {
  display: none;
}
#wrapper-3 #main #casa-bioclimatica .info-tooltip-contenido.esp7b {
  text-align: left;
}
#wrapper-3 #main #casa-bioclimatica .info-tooltip-contenido.esp7b h3 {
  color: #666;
  font-weight: 700;
  font-size: 23px;
  text-align: left;
  letter-spacing: -1px;
  padding: 10px 20px;
  width: 95%;
}
#wrapper-3 #main #casa-bioclimatica .info-tooltip-contenido.esp7b p {
  color: #666;
  font-size: 16px;
  text-align: left;
  padding: 0 20px;
  width: 95%;
  font-weight: 200;
}
#wrapper-3 #main #casa-bioclimatica .info-tooltip-contenido.esp7b ul {
  float: left;
  text-align: left;
  padding: 10px 20px;
}
#wrapper-3 #main #casa-bioclimatica .info-tooltip-contenido.esp7b ul li {
  margin: 30px 10px 30px 0;
  display: inline-block;
}
#wrapper-3 #main #casa-bioclimatica .info-tooltip-contenido.esp7b ul li a {
  color: #999;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none !important;
  background-color: #ccc;
  padding: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#wrapper-3 #main #casa-bioclimatica .info-tooltip-contenido.esp7b ul li a.active,
#wrapper-3 #main #casa-bioclimatica .info-tooltip-contenido.esp7b ul li a.hover {
  background-color: #cbcbcb;
  text-decoration: none !important;
  color: #000;
}
#wrapper-3 #main #casa-bioclimatica .info-tooltip-contenido.esp7b img {
  display: none;
  width: auto;
  height: inherit;
  margin: 0 0 0 13px;
}
#wrapper-3 #main #casa-bioclimatica .info-tooltip-contenido.esp7b img.active {
  display: block;
}
#wrapper-3 #main #casa-bioclimatica .input-text {
  float: inherit;
  display: inline-block;
  width: 80px;
  padding: 5px 7px 6px 7px;
  color: #7f7f7f;
  text-align: right;
  margin-top: 15px;
}
#wrapper-3 #main #casa-bioclimatica .esp5c .input-text {
  width: 30px;
}
#wrapper-3 #main #casa-bioclimatica p.txt-explain {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  line-height: 16px;
  width: 540px;
  margin-top: 15px;
}
#wrapper-3 #main #casa-bioclimatica p.txt-explain2 {
  font-size: 18px;
  line-height: 20px;
  margin-top: 0;
}
#wrapper-3 #main #casa-bioclimatica p.full-width {
  width: 100%;
}
#wrapper-3 #main #casa-bioclimatica .bloque-doble {
  float: left;
  width: 50%;
}
#wrapper-3 #main #casa-bioclimatica .bio-green {
  color: #79BE2C;
}
#wrapper-3 #main #casa-bioclimatica .bio-select-number-fac {
  margin: 0 0 15px 27px;
  width: 180px;
  float: left;
  text-align: left;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont .bio-select-number-fac .sbHolder,
#wrapper-3 #main #casa-bioclimatica .wrap-cont .bio-select-number-fac .sbOptions {
  width: 180px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont .bio-select-number-fac .sbSelector {
  width: 150px;
}
#wrapper-3 #main #casa-bioclimatica .esp7b .txt-quest {
  width: 770px;
  margin: 10px 65px;
}
#wrapper-3 #main #casa-bioclimatica .esp7b h2 {
  text-align: left;
  margin: 0 15px;
  font-size: 18px;
  color: #666;
  border-bottom: 1px solid #ddd;
  padding: 7px 0;
}
#wrapper-3 #main #casa-bioclimatica .esp7b p.txt-quest2 {
  font-size: 18px;
  color: #666;
  text-align: left;
  width: auto;
  margin: 5px 15px;
  font-weight: normal;
}
#wrapper-3 #main #casa-bioclimatica .esp7b .content-quest {
  margin-top: 40px;
}
#wrapper-3 #main #casa-bioclimatica .bio-autocomplete {
  float: left;
  width: 50%;
  text-align: left;
  margin: 5px 27px;
}
#wrapper-3 #main #casa-bioclimatica .bio-complete-consum {
  float: right;
  width: 30%;
  text-align: right;
  margin: 5px 27px;
}
#wrapper-3 #main #casa-bioclimatica .btn-simple {
  display: inline-block;
  vertical-align: top;
  padding: 4px 12px;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  font-weight: 300;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background-color: #666;
}
#wrapper-3 #main #casa-bioclimatica .btn-simple:hover {
  background-color: #999;
}
#wrapper-3 #main #casa-bioclimatica .block-table {
  width: 848px;
  display: inline-block;
}
#wrapper-3 #main #casa-bioclimatica .title-table {
  width: 846px;
  background-color: #ececec;
  text-align: center;
  height: 37px;
  line-height: 37px;
  font-size: 18px;
  font-weight: bold;
  color: #666;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura {
  width: 846px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura th,
#wrapper-3 #main #casa-bioclimatica .tabla-factura td {
  display: none;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  height: 30px;
  font-size: 16px;
  font-weight: normal;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura th.f12 {
  font-size: 12px;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura th.first,
#wrapper-3 #main #casa-bioclimatica .tabla-factura td.first,
#wrapper-3 #main #casa-bioclimatica .f12 th.f12,
#wrapper-3 #main #casa-bioclimatica .f12 td.f12,
#wrapper-3 #main #casa-bioclimatica .f6 th.f6,
#wrapper-3 #main #casa-bioclimatica .f6 td.f6,
#wrapper-3 #main #casa-bioclimatica .f4 th.f4,
#wrapper-3 #main #casa-bioclimatica .f4 td.f4,
#wrapper-3 #main #casa-bioclimatica .f3 th.f3,
#wrapper-3 #main #casa-bioclimatica .f3 td.f3,
#wrapper-3 #main #casa-bioclimatica .f1 th.f1,
#wrapper-3 #main #casa-bioclimatica .f1 td.f1 {
  display: table-cell;
}
#wrapper-3 #main #casa-bioclimatica .f12 th.f12, #wrapper-3 #main #casa-bioclimatica .f12 td.f12 {
  width: 67px;
}
#wrapper-3 #main #casa-bioclimatica .f6 th.f6, #wrapper-3 #main #casa-bioclimatica .f6 td.f6 {
  width: 124px;
}
#wrapper-3 #main #casa-bioclimatica .f4 th.f4, #wrapper-3 #main #casa-bioclimatica .f4 td.f4 {
  width: 150px;
}
#wrapper-3 #main #casa-bioclimatica .f3 th.f3, #wrapper-3 #main #casa-bioclimatica .f3 td.f3 {
  width: 218px;
}
#wrapper-3 #main #casa-bioclimatica .f1 th.f1, #wrapper-3 #main #casa-bioclimatica .f1 td.f1 {
  width: 600px;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura .first {
  border-left: 1px solid #ddd;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura th {
  background-color: #f5f5f5;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura input {
  border: none;
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-weight: normal;
  font-family: "HelveticaNeue" , helvetica ,arial, sans-serif;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura input:focus {
  outline-width: 0;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura input.error {
  /*@include borde-interior( 1px, #f00);*/
  background-color: #D90000;
  color: #fff;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura.onlyprice {
  border-bottom: none;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura.onlyprice tr.biomedida td {
  border-right: none;
  border-left: none;
  font-style: italic;
  color: #AAA;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura tr.biomedida td.first {
  padding: 0 10px;
  min-width: 70px;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura tr.biomedida td.first a {
  display: inline-block;
  margin: 3px 0 0 5px;
  width: 14px;
  height: 14px;
  text-decoration: none;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura tr.biomedida td.first a.bio-editar2-close {
  display: inline-block;
  margin: 3px 0 0 5px;
  width: 16px;
  height: 16px;
}
#wrapper-3 #main #casa-bioclimatica .tabla-factura .hide {
  display: none;
}
#wrapper-3 #main #casa-bioclimatica .wrapper-info-tooltip.shadow {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 7px #888;
  -moz-box-shadow: 0 0 7px #888;
  box-shadow: 0 0 7px #888;
}
#wrapper-3 #main #casa-bioclimatica .wrapper-info-tooltip.shadow .info-tooltip-tab {
  height: 0;
}
#wrapper-3 #main #casa-bioclimatica .bio-arrow-tip-down {
  position: absolute;
  bottom: -11px;
  left: 332px;
  width: 16px;
  height: 11px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final .bio-well.quesitos {
  position: relative;
  display: inline-block;
  width: 420px;
  height: 160px;
  padding: 10px 0 0 0;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final .bio-well #bio-well-pie,
#wrapper-3 #main #casa-bioclimatica .estadio-final .bio-well #bio-well-pie2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 200px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final .bio-well .percent {
  position: relative;
  float: right;
  display: inline-block;
  margin-right: 200px;
  color: #aaaaaa;
  font-family: Helvetica,Arial,sans-serif !important;
  font-size: 14px;
  cursor: pointer;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final .bio-well .percent:first-child {
  margin-top: 10px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final .bio-well .percent strong {
  font-size: 14px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final .bio-well .percent div {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 6px 0 0px 7px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final .bio-clasif-right,
#wrapper-3 #main #casa-bioclimatica .estadio-final .bio-clasif-left {
  margin-bottom: 36px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final .txt-tit01 strong {
  font-size: 40px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final .txt-tit01.last {
  margin: -5px 0 -2px 0;
}
#wrapper-3 #main #casa-bioclimatica .bio-check {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 2px 6px 0px 1px;
  float: left;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final .esp-clase-a {
  width: 560px;
  margin: 30px auto 10px auto;
  text-align: center;
  font-size: 32px;
  color: #1B9600;
  line-height: 32px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final .ui-corner-top a {
  border-top-left-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}
#wrapper-3 #main #casa-bioclimatica .wrap-consejos-ahorro {
  position: relative;
  float: left;
  width: 870px;
  margin: 20px 0 60px 0;
}
#wrapper-3 #main #casa-bioclimatica .consejo-ahorro {
  position: relative;
  float: left;
  width: 864px;
  margin: 13px 0;
  border: 3px solid #79BE2C;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #79BE2C;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 50px;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-right {
  position: relative;
  float: right;
  width: 607px;
  margin: 0;
  padding: 30px;
  background-color: #FBFDF8;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom {
  position: relative;
  float: left;
  width: 100%;
  background-color: #FBFDF8;
}
#wrapper-3 #main #casa-bioclimatica #tabs-resultado-final-1 .ahorro-wrap {
  background-image: url(/dam/templating-kit/themes/popLM/img/bio-ans/ahorro-1.png);
  background-position-x: 33px;
}
#wrapper-3 #main #casa-bioclimatica #tabs-resultado-final-2 .ahorro-wrap {
  background-image: url(/dam/templating-kit/themes/popLM/img/bio-ans/ahorro-2.png);
}
#wrapper-3 #main #casa-bioclimatica #tabs-resultado-final-3 .ahorro-wrap {
  background-image: url(/dam/templating-kit/themes/popLM/img/bio-ans/ahorro-3.png);
}
#wrapper-3 #main #casa-bioclimatica #tabs-resultado-final-4 .ahorro-wrap {
  background-image: url(/dam/templating-kit/themes/popLM/img/bio-ans/ahorro-4.png);
}
#wrapper-3 #main #casa-bioclimatica #tabs-resultado-final-5 .ahorro-wrap {
  background-image: url(/dam/templating-kit/themes/popLM/img/bio-ans/ahorro-5.png);
}
#wrapper-3 #main #casa-bioclimatica #tabs-resultado-final-6 .ahorro-wrap {
  background-image: url(/dam/templating-kit/themes/popLM/img/bio-ans/ahorro-6.png);
  background-position-x: 18px;
}
#wrapper-3 #main #casa-bioclimatica #tabs-resultado-final-7 .ahorro-wrap {
  background-image: url(/dam/templating-kit/themes/popLM/img/bio-ans/ahorro-7.png);
}
#wrapper-3 #main #casa-bioclimatica #tabs-resultado-final-8 .ahorro-wrap {
  background-image: url(/dam/templating-kit/themes/popLM/img/bio-ans/ahorro-8.png);
  background-position-x: 28px;
}
#wrapper-3 #main #casa-bioclimatica .rombo-ahorro {
  position: absolute;
  background-color: #FBFDF8;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";
  height: 22px;
  width: 22px;
  top: 50%;
  margin-left: -41px;
  margin-top: -11px;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap p {
  width: 100%;
  margin: 0;
  font-size: 24px;
  color: #858585;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -0.5px;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap .titular {
  font-size: 32px;
  color: #000;
  line-height: 32px;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap .resaltado {
  margin-top: 5px;
  font-size: 16px;
  color: #77BC00;
  line-height: 18px;
  font-weight: 600;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap .offer {
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  color: #FF0000;
  line-height: 22px;
  font-weight: 600;
  background-color: #FFFA00;
  padding: 2px 4px;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap .gasto {
  display: inline-block;
  font-size: 13px;
  color: #FF0000;
  line-height: 13px;
  font-weight: 400;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap .entradilla {
  margin-top: 5px;
  font-size: 20px;
  line-height: 20px;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-pie {
  display: inline-block;
  margin: 10px 30px 30px 30px;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-pie p {
  font-size: 13px;
  line-height: 13px;
  color: #858585;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-pie p span {
  display: block;
  width: 100%;
  color: #333;
}
#wrapper-3 #main #casa-bioclimatica .btn-grey {
  float: left;
  margin: 20px 0 0 0;
  line-height: 32px;
  height: 32px;
  padding: 0 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #7D7E7C;
  text-decoration: none !important;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap .masinfo {
  color: #0099FF;
  font-size: 20px;
  line-height: 20px;
  text-decoration: underline;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap .masinfo:hover {
  text-decoration: none !important;
}
#wrapper-3 #main #casa-bioclimatica .btn-grey:hover {
  text-decoration: none;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .casabio-col3 {
  margin: 30px 64px 0 64px;
  width: 686px;
  padding-bottom: 30px;
  overflow: hidden;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .eco-prev,
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .eco-next {
  position: absolute;
  top: 150px;
  width: 18px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .eco-prev {
  left: 20px;
  background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/bg-eco-prev.png);
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .eco-next {
  right: 20px;
  background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/bg-eco-next.png);
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .pagination {
  position: relative;
  float: left;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  text-align: center;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .pagination a {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 20px 2px 0px;
  background-image: url(/dam/templating-kit/themes/popLM/img/bullet-green-13.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  color: transparent;
  filter: alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .pagination a.selected {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .casabio-col3 li {
  width: 207px;
  float: left;
  margin-right: 28px;
  margin-bottom: 40px;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .casabio-col3 > li .venta-seccion-img {
  position: relative;
  height: 207px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 8px;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .casabio-col3 > li .venta-seccion-img img {
  position: absolute;
  height: inherit !important;
  max-width: 205px;
  width: inherit;
  max-height: 205px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #ECECEC;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .casabio-col3 > li .wrap-list-content h3 {
  margin-left: 0px;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .casabio-col3 > li .wrap-list-content h3 a {
  font-size: 16px;
  letter-spacing: -1px;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .casabio-col3 > li .wrap-list-content .bio-green {
  font-size: 17px;
  letter-spacing: -1px;
  margin-top: 9px;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .casabio-col3 > li .wrap-list-content .bio-green span {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 3px -2px 0;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .casabio-col3 > li .wrap-list-content .entradilla {
  font-size: 13px;
  letter-spacing: -1px;
  margin: 9px 0;
  color: #858585;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .casabio-col3 > li .precio {
  font-size: 22px !important;
  margin-left: 0px !important;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .casabio-col3 > li .wrap-btn-content .btn {
  padding: 5px 8px 3px;
  margin: -2px 0 5px 1px;
  float: none;
  letter-spacing: -1px;
  font-weight: 600;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .casabio-col3 > li .wrap-btn-content .btn:hover {
  text-decoration: none !important;
}
#wrapper-3 #main #casa-bioclimatica .ahorro-wrap-bottom .casabio-col3 > li .mas-info {
  font-size: 13px;
  margin-left: 1px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones {
  margin: 20px 0 60px 12px;
  position: relative;
  background-color: #FFF;
  border: 0;
  width: 870px;
  border-top: 0;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final .txt-tit01.tabs-recomendaciones {
  line-height: 39px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion {
  width: 418px;
  float: left;
  border: 3px solid #EFEFEF;
  margin: 0px 10px 10px 0;
  min-height: 480px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .cajaicono {
  width: 418px;
  height: 200px;
  background-color: #f0f0f0;
  position: relative;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .cajaicono div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 15px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .cajaicono .bio-generico-1 {
  height: 114px;
  width: 114px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .cajaicono .bio-generico-2 {
  height: 128px;
  width: 139px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .cajaicono .bio-generico-3 {
  height: 101px;
  width: 100px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .cajaicono .bio-generico-4 {
  height: 100px;
  width: 115px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .cajaicono .bio-generico-5 {
  height: 98px;
  width: 113px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .cajaicono .bio-generico-6 {
  height: 150px;
  width: 60px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .cajaicono .bio-generico-7 {
  height: 150px;
  width: 107px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .cajaicono .bio-generico-8 {
  height: 88px;
  width: 76px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .cajaicono .rombogris {
  position: absolute;
  background-color: #fafafa;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";
  height: 22px;
  width: 22px;
  top: 200px;
  bottom: 0;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .caja-recomendacion-texto {
  padding: 15px 13px 5px 13px;
  background-color: #fff;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .caja-recomendacion-texto .caja-recomendacion-titular {
  color: #555555;
  font-size: 28px;
  letter-spacing: -1px;
  line-height: 23px;
  font-weight: bold;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .caja-recomendacion-texto .caja-recomendacion-pregunta {
  color: #AAA;
  font-size: 17px;
  letter-spacing: -1px;
  line-height: 17px;
}
#wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .caja-recomendacion-texto .caja-recomendacion-respuesta {
  color: #919191;
  font-size: 17px;
  letter-spacing: -1px;
  line-height: 16px;
}
#wrapper-3 #main #casa-bioclimatica .notapie {
  display: inline-block;
  padding: 37px 11px 20px 11px;
  width: 914px;
}
#wrapper-3 #main #casa-bioclimatica .notapie p {
  font-size: 14px;
  line-height: 16px;
  color: #999;
  word-spacing: -2px;
}
#wrapper-3 #main #casa-bioclimatica .notapie a {
  color: #0099FF;
  line-height: 25px;
  margin: 0 10px 0 0;
  text-decoration: underline;
}
#wrapper-3 #main #casa-bioclimatica .notapie a:hover {
  text-decoration: none !important;
}
#wrapper-3 #main #casa-bioclimatica .txt-sum-big {
  font-size: 18px;
  margin: 10px 0;
  padding: 0;
}
#wrapper-3 #main #casa-bioclimatica .txt-sum span {
  font-size: 16px;
  line-height: 18px;
  display: block;
}
#wrapper-3 #main #casa-bioclimatica .txt-sum-bold {
  font-size: 25px;
  font-weight: bold;
  color: #000;
  margin: 10px 0;
  padding: 0;
}
#wrapper-3 #main #casa-bioclimatica .mT60 {
  margin-top: 60px;
}

#wrapper-3 #main #casa-bioclimatica.inside {
  background-color: #fff;
  background-size: 100% 230px;
}

#wrapper-3 #main #casa-bioclimatica.inside h1 {
  font-weight: 500;
  font-size: 38px;
  width: 605px;
  margin: 0 0 0 10px;
  line-height: 43px;
  letter-spacing: -1px;
  word-spacing: -1px;
}

#wrapper-3 #main #casa-bioclimatica.inside .bio-escala {
  float: right;
  width: 139px;
  height: 137px;
  margin: -45px 0 0 0;
  background-image: url(/dam/templating-kit/themes/popLM/img/casaBioclimatica/escala-inside.png);
  background-position: 0 0;
  background-repeat: none;
}

body.casabioclimatica #breadcrumb {
  position: relative;
  z-index: 2;
}

body.casabioclimatica #breadcrumb li a {
  background-image: url("/dam/templating-kit/themes/popLM/img/casaBioclimatica/bckrastroli.png");
}

body.casabioclimatica #breadcrumb ol > li.home {
  background: url("/dam/templating-kit/themes/popLM/img/casaBioclimatica/bg-breadcrumb-home.png") no-repeat 0 0px;
}

body #alerta-tooltip-main {
  display: none;
}

body .wrap-bio-alerta #alerta-tooltip-main {
  display: block;
}

.alert-finish {
  text-align: center;
}

.bio-alerta {
  display: inline-block;
  padding: 30px 0;
  width: 100%;
}

.txt-alert {
  width: 100%;
  margin: 20px auto 0 auto !important;
  font-size: 18px !important;
  color: #666;
  padding: 0;
}

.txt-alert-bold {
  font-weight: bold;
  font-size: 20px !important;
}

.txt-alert-em {
  font-style: italic;
  font-size: 13px !important;
}

.bio-alert-big {
  display: inline-block;
  width: 62px;
  height: 59px;
}

.bio-alerta-close {
  position: absolute;
  top: -13px;
  right: 0px;
  margin-right: -13px;
  float: left;
  width: 26px;
  height: 26px;
  text-indent: -9999px;
  background: url(/dam/templating-kit/themes/popLM/img/casaBioclimatica/bt-close-blue.png) no-repeat;
  background-position: 0 0;
}

.btn-alerta {
  float: inherit;
  margin: 20px 10px;
  padding: 9px 15px 9px;
  font-size: 20px;
  font-weight: bold;
}

.btn-alerta:hover {
  text-decoration: none !important;
}

.wrap-bio-alerta #alerta-tooltip-main .alert-finish .txt-alert {
  margin: 15px auto 0 auto;
}

.wrap-bio-alerta #alerta-tooltip-main .alert-finish .txt-alert-bold {
  font-size: 36px;
  color: #000;
}

.btn-alerta-yellow {
  background: #DA0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FC0), to(#DA0));
  background: -moz-linear-gradient(top, #ffcc00, #ddaa00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc00', endColorstr='#ddaa00');
  -moz-user-select: none;
}

.btn-alerta-yellow:hover {
  background: #DA0;
  text-decoration: none !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#FC0), to(#DA0));
  background: -moz-linear-gradient(top, #ffcc00, #ddaa00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc00', endColorstr='#ddaa00');
  -moz-user-select: none;
}

.ie8 #wrapper-3 #main #casa-bioclimatica .tiptip_folder {
  bottom: 42px;
}

.ie8 #wrapper-3 #main #casa-bioclimatica .tiptip_folder .tiptip_content {
  border: 1px solid #d8d8d8;
}

.ie8 #wrapper-3 #main #casa-bioclimatica .tiptip_folder .tiptip_arrow_inner {
  bottom: 1px;
}

.ie8 #bioOverlay {
  background-color: #eee;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=70);
  zoom: 1;
}

.ie #wrapper-3 #main #casa-bioclimatica .estadio-final #tabs-recomendaciones .caja-recomendacion .cajaicono .rombogris {
  bottom: 10px;
  left: -10px;
}

.ie #wrapper-3 #main #casa-bioclimatica .estadio-final .ui-tabs-panel .contenido-tab .cajabicolor .cajabicolor-rombo {
  margin-top: -5px;
  margin-right: 5px !important;
}

.ie #wrapper-3 #main #casa-bioclimatica .estadio-final .ui-tabs-panel .contenido-tab .cajabicolor .cajabicolor-verde {
  line-height: 30px;
}

.ie9 #wrapper-3 #main #casa-bioclimatica .btn-bio-next,
.ie9 #wrapper-3 #main #casa-bioclimatica .btn-continuar {
  background: none;
  box-shadow: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #79BE2C;
}
.ie9 #wrapper-3 #main #casa-bioclimatica .btn-bio-next.disabled {
  background-color: #79BE2C;
}

.android #wrapper-3 #main #casa-bioclimatica .sbHolder,
.mobile #wrapper-3 #main #casa-bioclimatica .sbHolder,
.blackberry #wrapper-3 #main #casa-bioclimatica .sbHolder,
.linux.opera #wrapper-3 #main #casa-bioclimatica .sbHolder,
.OmniWeb #wrapper-3 #main #casa-bioclimatica .sbHolder,
.iphone #wrapper-3 #main #casa-bioclimatica .sbHolder,
.ipod #wrapper-3 #main #casa-bioclimatica .sbHolder,
.ipad #wrapper-3 #main #casa-bioclimatica .sbHolder,
.linux.opera.opera12 #wrapper-3 #main #casa-bioclimatica .sbHolder,
.webtv #wrapper-3 #main #casa-bioclimatica .sbHolder {
  display: block !important;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont .bio-select-provincia.dn, #wrapper-3 #main #casa-bioclimatica .wrap-cont .bio-select-municipio.dn{display:none;}
#wrapper-3 #main #casa-bioclimatica .wrap-img-quest .bio-ico-info,
#wrapper-3 #main #casa-bioclimatica .more-info{
	background-position:0 0;
	background-image: url("/dam/templating-kit/themes/popLM/img/info_logo");
	height: 23px;
	width: 23px;
}

#modal-amigo.modal-pop {
    width: 450px;
}

.modal-pop p strong {
    font-weight: 500;
}

.modal-pop .form-block {
  display: block;
  float: left;
  margin-top: 7px;
  width: 440px;
}

.modal-pop .wUno {
  display: block;
  float: left;
  margin-right: 20px;
  width: 170px;
}
.modal-pop label {
  color: #999999;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}

.wUno input, .wDos input, .wTres input, {
  background: #f1f1f1 none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.65) inset;
  box-sizing: border-box;
  clear: both;
  margin-left: 0;
  margin-right: 0;
  width: 100% !important;
}

.modal-pop .wDos {
  display: block;
  float: right;
  margin-right: 20px;
  width: 225px;
}

.modal-pop .form-block {
  display: block;
  float: left;
  margin-top: 7px;
  width: 440px;
}

.modal-pop .aRight {
  display: inline;
  float: right;
  margin-right: 10px;
}

#modal-amigo .form-block {
  width: 440px;
  margin-top: 7px;
}

.wUno input, .wDos input, .wTres input {
  background: #f1f1f1 none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.65) inset;
  box-sizing: border-box;
  clear: both;
  margin-left: 0;
  margin-right: 0;
  width: 100% !important;
}

.modal-pop .bt-grey {
  background: transparent -moz-linear-gradient(center top , #8d8d8d, #333333) repeat scroll 0 0;
}
.modal-pop .bt-pop {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 6px 30px 7px;
}
#homeCasaBioclimatica #colorbox.pf {
 	left: 30% !important;
    top: 30% !important;
}
#wrapper-3 #main #casa-bioclimatica .wrap-cont .bio-select-provincia .sbOptions {
	z-index: 9;
}
.boton-test {
	background-image: url(/dam/templating-kit/themes/popLM/img/casaBioclimatica/info.png);
}