@charset "utf-8";

html {
  -webkit-font-smoothing: antialiased;
}


/* ############################################################## */
/* Boton verde con contorno blanco y sombra */
.bt {
  display: inline-block;
  padding: 6px 10px 7px;
  border: 3px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5), 0 1px 2px rgba(0, 0, 0, .5);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5), 0 1px 2px rgba(0, 0, 0, .5);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5), 0 1px 2px rgba(0, 0, 0, .5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  font-size: 15px;
  color: white !important;
  background: #60A908;
  background: -webkit-gradient(linear, left top, left bottom, from(#79B932), to(#60A908));
  background: -moz-linear-gradient(top, #79B932, #60A908);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79B932', endColorstr='#60A908');
  -moz-user-select: none;
  -webkit-user-select: none;
}

.bt:hover {
  color: white;
  text-decoration: none;
  background-color: #4E731E;
  background: -webkit-gradient(linear, left top, left bottom, from(#79B932), to(#4E731E));
  background: -moz-linear-gradient(top, #79B932, #4E731E);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79B932', endColorstr='#4e731e');
}

.bt.no-shadow {
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5);
}



.bt-comprar{
  padding: 3px 3px 3px;
}

.bt-comprar strong {
  background-color: #62932D;
  font-weight: bold;
  font-size: 17px;
  padding: 0px 5px 0px 3px;
  height: 22px;
  line-height: 22px;
  margin-right: 0px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.bt-add-disabled{
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
}

.bt-add-disabled span {
padding-right: 20px;
font-size: 16px;
background-image: url(/dam/templating-kit/themes/popLM/img/bg-btn-add.png);
background-repeat: no-repeat;
background-position: 5px 2px;
}

.bt.bt-add-disabled:hover {
  color: transparent;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#79B932), to(#60A908));
  background: -moz-linear-gradient(top, #79B932, #60A908);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79B932', endColorstr='#60A908');
  cursor:default;
}

strong.precio-oferta {
  background-color: #FFE600;
}

strong.precio-oferta, strong.precio-oferta span {
  color: red !important;
}

.bt-comprar strong span {
  font-size: 11px;
  vertical-align: super;
  line-height: 11px;
}

.bt-comprar + .precio-viejo {
  font-size: 17px;
  font-weight: bold;
}

.precio-viejo {
  color: #666;
  position: relative;
}


.precio-viejo span {
  font-size: 11px;
  vertical-align: super;
  line-height: 11px;
}


.sbToggle {
  background-image: url("/dam/templating-kit/themes/popLM/img/buscador-ui.png");
  background-repeat: no-repeat;
  background-position: 0 0px;
  display: block;
  height: 16px;
  outline: medium none;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 16px;

  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -ms-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.sbToggle:hover {
  background-image: url("/dam/templating-kit/themes/popLM/img/buscador-ui.png");
  background-repeat: no-repeat;
  background-position: 0 -20px;
}


.checkbox {
  background-image: url(/dam/templating-kit/themes/popLM/img/checkbox-medium.png);
  background-position: 0px -16px;
  display: block;
  float: left;
  height: 16px;
  width: 17px;
  line-height: 16px;
  cursor: pointer;
  text-indent: -9999px;
  margin: 2px 8px 0 0;
}


.alert-green {
  color: #61922C;
  background-image: url(/dam/templating-kit/themes/popLM/img/icono-unidades-si.png);
  background-repeat: no-repeat;
  background-position: 2px 1px;
  padding-left: 14px;
  display: block;
  margin-bottom: 10px;
}

.alert-green-dias {
  color: #61922C;
  margin-left: 10px;
  padding-left: 15px;
  background-image: url(/dam/templating-kit/themes/popLM/img/icono-entregadia.png);
  background-repeat: no-repeat;
  background-position: top left;

}



/* ###################################################################### */


/* Boton gris redondeado de Cambiar de Tienda */
/* a.bt-simple,
#wrapper-3 #main a.bt-simple,*/ #wrapper-3 #main .servicios a.bt-simple {
  /* modificacion fusion R3 04/10/2013*/
  /* se descomenta 26/11/2013 */
  /*float: left;*/
  display: inline-block;
  clear: both;
  font-size: 13px;
  font-weight: normal;
  line-height: 13px;
  width: auto;
  color: #ffffff;
  border-bottom: 0px solid transparent;
  background-color: #7F7F7F;
/*  background-color: rgba(0,0,0,0.5); */
  padding: 1px 8px 2px 8px;
  margin-top: 2px;
  text-decoration: none;
  cursor: pointer;
  background-image:none;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;

  -webkit-transition: background-color ease-out 0.2s;
  -moz-transition: background-color ease-out 0.2s;
  -o-transition: background-color ease-out 0.2s;
  -ms-transition: background-color ease-out 0.2s;
  transition: background-color ease-out 0.2s;

}
a.bt-simple:hover,
#wrapper-3 #main a.bt-simple:hover, #wrapper-3 #main .servicios a.bt-simple:hover {
  color: #ffffff;
  border-bottom: 0px solid transparent;
  background-color: #000000 !important;
  opacity: 1!important;
  -moz-opacity: 1!important;
  filter: alpha(opacity=100)!important;
}






/* Botones Precio Oferta en Saldos (Amarillos) */
/* ########################################################### */
div.box-precio{
  clear:both;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.box-precio .precio {

	/* modificacion fusion R3 06/10/2013*/
  color: #000000; /* antes FFFFFF*/
  clear:both;
  font-size: 20px!important;
  line-height: 20px!important;
  font-weight: 700!important;
  margin-left: 3px!important;
}

div.box-precio .oferta-ecommerce {
  background-color: #FFE600;
  padding-top:2px;
  padding-bottom:2px;
  padding-right:4px;
  padding-left:4px;
	color: #FF0000!important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}

div.box-precio .viejo-ecommerce {
  color: #666;
  /*margin-left:10px;*/
  background-image: url('/dam/templating-kit/themes/popLM/img/del-preciounidadviejo.png');
  background-repeat: no-repeat;
  background-position: left 3px;
}

div.box-precio span.precio span {
  font-size: 12px;
  vertical-align: super;
  line-height: 12px;
}








/* Enlaces azules sencillos */
/* Habria que quitar el #wrapper-3 #main de la ruta pero hasta que se limpie Styles.css no se puede hacer */
#wrapper-3 #main a.mas-info {
  color: #0099FF;
  text-decoration: underline;
}
#wrapper-3 #main a.mas-info:hover {
  text-decoration: none;
}
#wrapper-3 #main a.mas-info:visited {
  color: #0099FF;
}




/* Botones de redes sociales con over mas oscuro */
ul.redes li {
  display: block;
  float: left;
  width: 31px;
  height: 28px;
  margin-right: 3px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

ul.redes li a {
  display: block;
  width: 31px;
  height: 28px;
  background-color: #000;
  padding-right: 0px;
  opacity: 0!important;
  -moz-opacity: 0!important;
  filter: alpha(opacity=0)!important;
  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -ms-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

ul.redes li a:hover {
  opacity: 0.2!important;
  -moz-opacity: 0.2!important;
  filter: alpha(opacity=20)!important;
}

ul.redes li.fb {
  background: url("/dam/templating-kit/themes/popLM/img/ficha-logo-fb.png") top left no-repeat;
}

ul.redes li.tt {
  background: url("/dam/templating-kit/themes/popLM/img/ficha-logo-tt.png") top left no-repeat;
}

ul.redes li.email {
  background: url("/dam/templating-kit/themes/popLM/img/ficha-logo-email.png") top left no-repeat;
}

ul.redes li.comunidad {
  background: url("/dam/templating-kit/themes/popLM/img/ficha-logo-comunidad.png") top left no-repeat;
}

ul.redes li.pinterest {
  background: url("/dam/templating-kit/themes/popLM/img/ficha-logo-pinterest.png") top left no-repeat;
}

ul.redes li.instagram {
  background: url("/dam/templating-kit/themes/popLM/img/ficha-logo-instagram.png") top left no-repeat;
}

/* ASSETS FORMULARIOS */
/* ##############################################################Â */

/* Boton Verde */
a.bt-green {
  padding: 5px 10px 6px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;

  -moz-box-shadow: inset 0 1px 2px #333333;
  -webkit-box-shadow: inset 0 1px 2px #333333;
  box-shadow: inset 0 1px 2px #333333;

  text-shadow: 0 -1px 1px #666666;

  position: relative;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  color: #fff;
  text-decoration:  none;
  background: #60A908;
  background: -webkit-gradient(linear, left top, left bottom, from(#79B932), to(#60A908));
  background: -moz-linear-gradient(top,#79B932,#60A908);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79B932', endColorstr='#60A908');

  -moz-user-select: none;
  -webkit-user-select: none;
}

a.bt-green:hover {

  color: #fff;
  text-decoration: none;

  background-color: #4e731e;
  background: -webkit-gradient(linear, left top, left bottom, from(#79B932), to(#4e731e));
  background: -moz-linear-gradient(top,#79B932,#4e731e);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79B932', endColorstr='#4e731e');
}





/* Boton Gris */
a.bt-grey {
  display: inline-block;
  padding: 5px 10px 6px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;

  -moz-box-shadow: inset 0 1px 2px #333333;
  -webkit-box-shadow: inset 0 1px 2px #333333;
  box-shadow: inset 0 1px 2px #333333;

  text-shadow: 0 -1px 1px #666666;

  position: relative;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  color: #fff;

  background: #60A908;
  background: -webkit-gradient(linear, left top, left bottom, from(#919191), to(#757575));
  background: -moz-linear-gradient(top,#919191,#757575);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#919191', endColorstr='#757575');

  -moz-user-select: none;
  -webkit-user-select: none;
}

a.bt-grey:hover {
  color: #fff;
  text-decoration: none;

  background-color: #4e731e;
  background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#5d5d5d));
  background: -moz-linear-gradient(top,#606060,#5d5d5d);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#5d5d5d');
}







/* Combo verde de los formularios */
div.select select{
  width: 190px;
  height: 25px;
  cursor: pointer;

  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}

div.select.disabled select{
  cursor: default;
}

div.select .customStyleSelectBox {
  position: relative;
  width: 160px;
  font-family: /*"HelveticaNeue",*/ Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-right: 4px;
  padding: 1px 7px 2px 7px;
  color: #666666;
  background: #EFEFEF url('/dam/templating-kit/themes/popLM/img/buscador-ui.png') no-repeat 154px 5px;

  border: 0px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;

  -moz-box-shadow: inset 0 1px 3px #333333;
  -webkit-box-shadow: inset 0 1px 3px #333333;
  -o-box-shadow: inset 0 1px 3px #333333;
  -ms-box-shadow: inset 0 1px 3px #333333;
  box-shadow: inset 0 1px 3px #333333;

  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -ms-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;

  cursor: pointer;
}
div.select.disabled .customStyleSelectBox {
  color: #999;
  background: url('/dam/templating-kit/themes/popLM/img/buscador-ui.png') no-repeat 202px -36px trasnparent;
  cursor: default;
}


div.select.disabled .customStyleSelectBox {
  color: #999;
  background-image: url('/dam/templating-kit/themes/popLM/img/buscador-ui.png');
  background-position: 202px -36px;
  background-repeat: no-repeat;
  cursor: default;
}

div.select .customStyleSelectBox.changed {}

div.select .customStyleSelectBoxInner {
  float: left;
  cursor: pointer;
  height: 22px;
}
div.select:hover .customStyleSelectBox {
  cursor: pointer;
  background-position: 154px -15px;
  color: #66AD13;
}

div.select.disabled:hover .customStyleSelectBox {
  color: #999;
  background-image: url('/dam/templating-kit/themes/popLM/img/buscador-ui.png');
  background-position: 202px -36px;
  background-repeat: no-repeat;
}


/*  INPUT TEXT  */
input.input-text {
  font-family: /*"HelveticaNeue",*/ Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 300;
  margin-right: 4px;
  padding: 3px 7px 4px 7px;

  background-color: #EFEFEF;
  background-image: none;

  border: 0;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;

  -moz-box-shadow: inset 0 1px 3px #333333;
  -webkit-box-shadow: inset 0 1px 3px #333333;
  -o-box-shadow: inset 0 1px 3px #333333;
  -ms-box-shadow: inset 0 1px 3px #333333;
  box-shadow: inset 0 1px 3px #333333;

  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -ms-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}
input.input-text:focus {
  outline: none;
  background-color: #F1F1F1;
}





/* Text Area */
textarea.input-text {
  width: 295px;
  height: 222px;
  font-family: /*"HelveticaNeue",*/ Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 300;
  margin-right: 4px;
  padding: 3px 7px 4px 7px;
  margin-bottom: 10px;
  background-color: #EFEFEF;
  background-image: none;

  border: 0px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;

  -moz-box-shadow: inset 0 1px 3px #333333;
  -webkit-box-shadow: inset 0 1px 3px #333333;
  -o-box-shadow: inset 0 1px 3px #333333;
  -ms-box-shadow: inset 0 1px 3px #333333;
  box-shadow: inset 0 1px 3px #333333;

  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -ms-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

textarea.input-text:focus {
  outline: none;
  background-color: #F1F1F1;
}






/* Checkbox */
label.buscador-check input {
  visibility: hidden;
}
label.buscador-check span {
  float: left;
  width: 17px;
  height: 16px;
  margin-right: 4px;
  margin-bottom: 10px;
  background: url('/dam/templating-kit/themes/popLM/img/buscador-ui.png') no-repeat -41px 0;

  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -ms-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;

  cursor: pointer;
}

label.buscador-check.selected span {
  background-position: -41px -20px;
}


/* anexo */
#listado-productos li .alert-green {position:absolute; bottom:0px;}
/* modificacion para listado de productos fusion */
/* #listado-productos li a.mas-info {position:absolute; bottom:30px;} */


/* modificacion fusion r3 12/09/2013 */
#linea-conjuntos .input-text, #compra-personalizar .input-text{float:none!important}



#linea-conjuntos .box-precio .precio, #compra-personalizar .box-precio .precio {

font-size: 14px;
font-weight: inherit;
text-align: right;
color: #666666;
line-height: inherit;
}



#linea-conjuntos div.box-precio span.precio span, #compra-personalizar div.box-precio span.precio span {
font-size: 14px;
vertical-align: inherit;
}