@charset "UTF-8";
/* CSS Document */


.richrelevance {
	float: left;
	position: static;
	margin-top:30px !important;
	height:500px !important;
}
#titulo-richrelevance {
	color: #333333;
	font-size: 22px;
	font-weight: bold !important;
	letter-spacing: -1px !important;
	margin-bottom: 17px;
	margin-left:7px;
}
.richrelevance .list_carousel li h2 {
	color: #888888 !important;
	font-size: 14px;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
	width: 160px !important;
}
.richrelevance .list_carousel li h2 a {
	/* color: #888888 !important; */
	/* font-weight: 100; */
	color: #000;
	font-weight: bold;	
	margin-left:0px;
	font-size: 14px;
}
.richrelevance .list_carousel li .ventas-modelo-recom {
	margin-bottom: 12px !important;
	width: 160px !important;
}
.richrelevance .list_carousel li .ventas-modelo-recom a {
	font-size: 14px;
	line-height: 16px;
	/* font-weight: bold; */
	color:#888;
	font-weight: normal;
}
.richrelevance .list_carousel {
	width: 100%;
	margin-left:-10px !important;
	
}
.richrelevance .list_carousel {
	margin-bottom:0px !important;
}
.richrelevance .list_carousel ul {
	margin: 0;
	margin-left:30px;
	padding: 0;
	list-style: none;
	display: block;
}
.richrelevance .list_carousel li {
	font-size: 12px;
	color: #000;
	text-align: left;
	background-color: #fff;
	width: 160px;
	padding: 0;
	margin:0  32px;
	
	
	
	display: block;
	float: left;
	height:430px !important;
}
.richrelevance .list_carousel li img {
	
	width: 160px;
	height:160px;
	margin-bottom:15px;
	border: 1px solid #ececec;
}
.richrelevance .list_carousel li .oferta {
	border-radius: 0px !important;
	box-shadow: none !important;
	display: block;
	font-size: 15px;
	font-weight: 300;
	line-height: 15px;
	padding: 1px 5px 4px 4px;
	width: 60px;
}
.richrelevance .list_carousel li .novedad-richrelevance {
	background-color: #cc3293;
	color: #ffffff;
	margin-top:-50px;
	position: absolute;
}
.clearfix {
	float: none;
	clear: both;
}
.richrelevance .list_carousel a.anterior, .list_carousel a.siguiente {
	background: url(/dam/templating-kit/themes/popLM/img/carrusel/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position:relative;
}
.richrelevance .list_carousel a.anterior {
	top:-300px;
	left: -5px;
	background-position: 0 0;
}

#tienda-listado .richrelevance .list_carousel > a.anterior {
  top:-480px;

}

#tienda-listado .richrelevance .list_carousel > a.siguiente {
  top:-530px;
}

.richrelevance .list_carousel a.anterior:hover {
	background-position: 0 -50px;
}
.richrelevance .list_carousel a.anterior.disabled {
	background-position: 0 -100px !important;
}
.richrelevance .list_carousel a.siguiente {
	top:-350px;
	right:-915px;
	background-position: -50px 0;
}
.richrelevance .list_carousel a.siguiente:hover {
	background-position: -50px -50px;
}
.richrelevance .list_carousel a.siguiente.disabled {
	background-position: -50px -100px !important;
}
.richrelevance .list_carousel a.anterior.disabled, a.siguiente.disabled {
	cursor: default;
}
.richrelevance .list_carousel .pager {
	text-align: center;
	display: block;
	position:relative;
	top:-100px;
}
.richrelevance .list_carousel .pager a {
	background: url(/dam/templating-kit/themes/popLM/img/carrusel/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 10px 5px 0 0;
	display: inline-block;
}
.richrelevance .list_carousel .pager a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.richrelevance .list_carousel .pager a span {
	display: none;
}
.preloader {
	position:absolute;
	width:205px;
	height:205px;
	background:url(/dam/templating-kit/themes/popLM/img/carrusel/loader.gif) center center no-repeat #ffffff;
}
.richrelevance .bt.bt-add-disabled:hover {
	background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #79b932, #60a908) repeat scroll 0 0;
	color: transparent;
	cursor: default;
	text-decoration: none !important;
}
.richrelevance .entrega.alerta {
	background-position: 0px 5px;
	padding-top: 5px;
	margin-top:10px;
}
.richrelevance .entrega {
	margin-left:0px;
	padding-left:15px;
}
.richrelevance .entrega.dia {
	background-position: 0px 0px;
}
.richrelevance .list_carousel .box-precio {
	margin-left:0px !important;
	clear: both;
	margin-bottom: 13px !important;
	margin-top: 10px;
}
.richrelevance .list_carousel .box-precio .precio {
	clear: both;
	font-size: 20px !important;
	font-weight: 700 !important;
	line-height: 20px !important;
	margin-left: 0px !important;
	margin-right: 5px !important;
}

.richrelevance .stiker-venta {
    height: 182px;
   /* position: absolute;*/
   position:relative;
   
	margin-left:80px !important;
    text-align: center;
    margin-top: -192px;
    width: 79px;
  /* z-index:9;*/
}
.richrelevance .stiker-top {
	/*z-index:9;*/
    background-image: url(/dam/templating-kit/themes/popLM/img/bg-listado-stiker-top.png);
	background-repeat:no-repeat;
    height: 109px;
   margin-top:10px;
    width: 69px;
}
.richrelevance .stiker-venta .ofer1 {
	text-align:center !important;
    color: #ffffff;
    font-size: 14px;
    padding-top: 10px;
	padding-right:5px;
}
.richrelevance .stiker-venta .ofer2 {
    color: #ebdf00;
    font-size: 18px;
    padding-top: 8px;
}


/*ADAPTACIÓN PARA EL BUSCADOR SIN RESULTADO HAY QUE ADAPTAR LOS ESTILOS AÑADIENDO EL ID #buscador-new */

 

#buscador-new .richrelevance {
	position: relative;
	margin-top:30px !important;
	height:500px !important;
}
#buscador-new #titulo-richrelevance {
	color: #333333;
	font-size: 22px;
	font-weight: bold !important;
	letter-spacing: -1px !important;
	margin-bottom: 17px;
	margin-left:7px;
	text-align:left !important;
}
#buscador-new .richrelevance .list_carousel li h2 {
	color: #888888 !important;
	font-size: 14px;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
	width: 160px !important;
}
#buscador-new .richrelevance .list_carousel li h2 a {
	color: #888888 !important;
	margin-left:0px;
	font-size: 14px;
	font-weight: 100;
}
#buscador-new .richrelevance .list_carousel li .ventas-modelo-recom {
	margin-bottom: 12px !important;
	width: 160px !important;
}
#buscador-new .richrelevance .list_carousel li .ventas-modelo-recom a {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	
}
#buscador-new .richrelevance .list_carousel {
	width: 100%;
	margin-left:-10px !important;
	
}
#buscador-new .richrelevance .list_carousel {
	margin-bottom:0px !important;
}
#buscador-new .richrelevance .list_carousel ul {
	margin: 0;
	margin-left:30px;
	padding: 0;
	list-style: none;
	display: block;
}
#buscador-new .richrelevance .list_carousel li {
	font-size: 12px;
	color: #000;
	text-align: left;
	background-color: #fff;
	width: 160px;
	padding: 0;
	margin:0  32px;
	
	
	
	display: block;
	float: left;
	height:430px !important;
}
#buscador-new .richrelevance .list_carousel li img {
	
	width: 160px;
	height:160px;
	margin-bottom:15px;
	border: 1px solid #ececec;
}
#buscador-new .richrelevance .list_carousel li .oferta {
	border-radius: 0px !important;
	box-shadow: none !important;
	display: block;
	font-size: 15px;
	font-weight: 300;
	line-height: 15px;
	padding: 1px 5px 4px 4px;
	width: 60px;
}
#buscador-new .richrelevance .list_carousel li .novedad-richrelevance {
	background-color: #cc3293;
	color: #ffffff;
	margin-top:-50px;
	position: absolute;
}

#buscador-new .richrelevance .list_carousel a.anterior, .list_carousel a.siguiente {
	background: url(/dam/templating-kit/themes/popLM/img/carrusel/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position:relative;
}
#buscador-new .richrelevance .list_carousel a.anterior {
	top:-300px;
	left: -5px;
	background-position: 0 0;
}
#buscador-new .richrelevance .list_carousel a.anterior:hover {
	background-position: 0 -50px;
}
#buscador-new .richrelevance .list_carousel a.anterior.disabled {
	background-position: 0 -100px !important;
}
#buscador-new .richrelevance .list_carousel a.siguiente {
	top:-350px;
	right:-915px;
	background-position: -50px 0;
}
#buscador-new .richrelevance .list_carousel a.siguiente:hover {
	background-position: -50px -50px;
}
#buscador-new .richrelevance .list_carousel a.siguiente.disabled {
	background-position: -50px -100px !important;
}
#buscador-new .richrelevance .list_carousel a.anterior.disabled, a.siguiente.disabled {
	cursor: default;
}
#buscador-new .richrelevance .list_carousel .pager {
	text-align: center;
	display: block;
	position:relative;
	top:-100px;
}
#buscador-new .richrelevance .list_carousel .pager a {
	background: url(/dam/templating-kit/themes/popLM/img/carrusel/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 10px 5px 0 0;
	display: inline-block;
}
#buscador-new .richrelevance .list_carousel .pager a.selected {
	background-position: -25px -300px;
	cursor: default;
}
#buscador-new .richrelevance .list_carousel .pager a span {
	display: none;
}

#buscador-new .richrelevance .bt.bt-add-disabled:hover {
	background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #79b932, #60a908) repeat scroll 0 0;
	color: transparent;
	cursor: default;
	text-decoration: none !important;
}
#buscador-new .richrelevance .entrega.alerta {
	background-position: 0px 5px;
	padding-top: 5px;
	margin-top:10px;
}
#buscador-new .richrelevance .entrega {
	margin-left:0px;
	padding-left:15px;
}
#buscador-new .richrelevance .entrega.dia {
	background-position: 0px 0px;
}
#buscador-new .richrelevance .list_carousel .box-precio {
	margin-left:0px !important;
	clear: both;
	margin-bottom: 13px !important;
	margin-top: 10px;
}
#buscador-new .richrelevance .list_carousel .box-precio .precio {
	clear: both;
	font-size: 20px !important;
	font-weight: 700 !important;
	line-height: 20px !important;
	margin-left: 0px !important;
	margin-right: 5px !important;
}

#buscador-new .richrelevance .stiker-venta {
    height: 182px;
   /* position: absolute;*/
   position:relative;
   
	margin-left:80px !important;
    text-align: center;
    margin-top: -192px;
    width: 79px;
  /* z-index:9;*/
}
#buscador-new .richrelevance .stiker-top {
	/*z-index:99999;*/
    background-image: url(/dam/templating-kit/themes/popLM/img/bg-listado-stiker-top.png);
	background-repeat:no-repeat;
    height: 109px;
   margin-top:10px;
    width: 69px;
}
#buscador-new .richrelevance .stiker-venta .ofer1 {
	text-align:center !important;
    color: #ffffff;
    font-size: 14px;
    padding-top: 10px;
	padding-right:5px;
}
#buscador-new .richrelevance .stiker-venta .ofer2 {
    color: #ebdf00;
    font-size: 18px;
    padding-top: 8px;
}


/*ADAPTACION PARA LA HOME*/
.list-modules-banner #titulo-richrelevance {
	text-align:left;
}

.list-modules-banner .richrelevance {
	
	margin-left:20px;
}

/*ADAPTACIÓN PARA LA TIENDA FÍSICA*/

#secciontienda  #titulo-richrelevance {
	color: #333333;
	font-size: 22px;
	font-weight: bold !important;
	letter-spacing: -1px !important;
	margin-bottom: 10px;
	margin-left:7px;
	 border-bottom-style: none;
    border-bottom-width: 0px;
	padding-bottom:0px !important;
   /* border-color: #dfdfdf;*/
}
#secciontienda .carrusel-precio > h2{
	
	 border-bottom-style: none;
    border-bottom-width: 0px;
}

.modulo-cargando {
 
    	z-index:99999999;
}

/*ADAPTACIÓN PARA LISTADO OUTLET*/


.richrelevance .list_carousel a.anterior_outlet, .list_carousel a.siguiente_outlet {
	background: url(/dam/templating-kit/themes/popLM/img/carrusel/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position:relative;
}
.richrelevance .list_carousel a.anterior_outlet {
	top:-500px;
	left: -5px;
	background-position: 0 0;
}
.richrelevance .list_carousel a.anterior_outlet:hover {
	background-position: 0 -50px;
}
.richrelevance .list_carousel a.anterior_outlet.disabled {
	background-position: 0 -100px !important;
}
.richrelevance .list_carousel a.siguiente_outlet {
	top:-550px;
	right:-915px;
	background-position: -50px 0;
}
.richrelevance .list_carousel a.siguiente_outlet:hover {
	background-position: -50px -50px;
}
.richrelevance .list_carousel a.siguiente_outlet.disabled {
	background-position: -50px -100px !important;
}
.richrelevance .list_carousel a.anterior_outlet.disabled, a.siguiente_outlet.disabled {
	cursor: default;
}

.homeCustomRichrelevance {
	margin-left: 10px;
}