@charset "utf-8";
/**************************************/
/*  Tooltip
*/
#tooltips-wrapper {display: none;}
#tooltip_holder {background-color: #FFF;border: 1px solid #989898;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;padding: 7px;-moz-box-shadow: 0px 0px 13px #666;-webkit-box-shadow: 0px 0px 13px #666;box-shadow: 0px 0px 13px #666;z-index: 10100;position: absolute;display: block;}
#tooltip_content {background-color: #6fb61d;}
#tooltip_arrow {background-image: url(/dam/templating-kit/themes/popLM/img/flecha_tooltip.png);background-repeat: no-repeat;height: 8px;width: 17px;display: block;position: absolute;left: 20px;bottom: -8px;}
/********************************************************/

body { /*font-family: /*"HelveticaNeue",*/ Helvetica, Arial, sans-serif;font-size: 13px; background-color: #778F31*/;color: #000000;/*   background-image: url("/dam/templating-kit/themes/popLM/img/bg_home.jpg"); */background-position: 0px 0px;background-attachment: scroll;}
.clearing-color {clear:both;border-top: solid 1px #e0e1de;margin-bottom: 31px!important;}
::selection {background: #72B526;color:#fff;}
::-moz-selection {background: #72B526;color:#fff;}
::-webkit-selection {background: #72B526;color:#fff;}
 /*a {text-decoration: none;color: #FFFFFF;-moz-transition: color 0.25s ease-in, background-color 0.25s ease-in;-webkit-transition: color 0.25s ease-in, background-color 0.25s ease-in;}
a:hover {text-decoration: none;color: #60A908;} */
#caracteristicas-compra a {color:#999999!important;}
label.clickeable {cursor: pointer;-moz-transition: color 0.25s ease-in, background-color 0.25s ease-in;-webkit-transition: color 0.25s ease-in, background-color 0.25s ease-in;}
label.clickeable:hover, label.clickeable.selected {color: #60A908;}
#ficha-tipo-cristal label.clickeable a:hover {color: #60A908;text-decoration: none!important;}
.bt-comprar {padding: 3px 5px 3px 3px !important;}
.bt-comprar strong, .bt-comprar strong span {color:#FFF !important;text-shadow: none !important;}
.bt-comprar strong {background-color:#62932d;font-weight:bold;font-size:17px;padding:0px 5px 0px 3px;height:22px;line-height:22px;margin-right:10px;display: inline-block;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.bt-comprar strong span {font-size:11px;vertical-align:super;line-height:11px;}
.bt-comprar + .precio-viejo {font-size:17px;font-weight:bold;}
strong.precio-normal,strong.precio-normal span {color:#fff !important;background-color:#7dbc39;}
strong.precio-oferta,strong.precio-oferta span {color:#ff0000 !important;}
strong.precio-oferta span {background-color: transparent;}
strong.precio-oferta {background-color:#ffe600;}
.precio-viejo {color:#666;position:relative;}
.precio-viejo span {font-size:11px;vertical-align:super;line-height:11px;}
.precio-tachado {background-image: url("/dam/templating-kit/themes/popLM/img/del-precioviejo.png");background-position: center center;background-repeat: no-repeat;bottom: 0;left: 0;position: absolute;right: 0;top: 0;}
.oferta {display:block;border-radius: 4px 0 4px 4px;-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);font-size: 15px;font-weight: 300;line-height: 15px;padding: 1px 5px 4px 4px;width: 60px;}
/* modificacion fusion 09/09/2013 */
.novedad {background-color: #CC3293;color: #FFFFFF;}
.nuevo {font-size:13px;background-color:#cc3293;padding:0px 3px 1px 3px;color: #FFF;margin-left:3px;-webkit-border-radius: 3px 0px 3px 3px;-moz-border-radius: 3px 0px 3px 3px;border-radius: 3px 0px 3px 3px;position:relative;top:-2px;}
.bt {display: inline-block;padding: 6px 10px 7px;border: 3px solid #fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5), 0 1px 2px rgba(0, 0, 0, .5);-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5), 0 1px 2px rgba(0, 0, 0, .5);box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5), 0 1px 2px rgba(0, 0, 0, .5);text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);position: relative;cursor: pointer;font-size: 15px;color: #fff;background: #60A908;background: -webkit-gradient(linear, left top, left bottom, from(#79B932), to(#60A908));background: -moz-linear-gradient(top, #79B932, #60A908);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79B932', endColorstr='#60A908');-moz-user-select: none;-webkit-user-select: none;}
.bt:hover {color: #fff;background-color: #4e731e;background: -webkit-gradient(linear, left top, left bottom, from(#79B932), to(#4e731e));background: -moz-linear-gradient(top, #79B932, #4e731e);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79B932', endColorstr='#4e731e');}
.bt span {color: #aae761;}
.bt.no-border {border:none;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.bt.no-shadow {-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5);-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5);box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5);}
.clearing {clear: both;}
.roundbt {background-color: #787878;padding-right: 15px;padding-left: 15px;padding-top: 1px;padding-bottom: 2px;color: #FFF;-moz-border-radius: 10px 10px 10px 10px;-webkit-border-radius: 10px 10px 10px 10px;border-radius: 10px 10px 10px 10px;line-height: 14px;font-size: 12px;display: inline-block;-moz-user-select: none;background-color: rgba(0, 0, 0, .5);}
.roundbt:hover {background-color: rgba(95, 168, 6, 0.8);}
.grey.bt {color: #fff;background: #727272;background: -webkit-gradient(linear, left top, left bottom, from(#9f9f9f), to(#727272));background: -moz-linear-gradient(top, #9f9f9f, #727272);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9f9f9f', endColorstr='#727272');}
.grey.bt:hover {color: #fff;background: #000;background: -webkit-gradient(linear, left top, left bottom, from(#919191), to(#000));background: -moz-linear-gradient(top, #919191, #000);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#919191', endColorstr='#000');}
.bt-simple {padding: 3px 12px 6px 12px;color: #fff;font-size: 15px;line-height: 15px;font-weight: 300;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;/* background-color: rgba(0, 0, 0, .5); */background-color: #000000!important;opacity: 0.5!important;-moz-opacity: 0.5!important;filter: alpha(opacity=50)!important;}
.bt-simple:hover {color: #fff;background-color: rgba(0, 0, 0, 1);-moz-box-shadow: 0 0 8px #fff;-webkit-box-shadow: 0 0 8px #fff;box-shadow: 0 0 8px #fff;}
.bt-simple-small {padding: 2px 8px 3px 8px;width: auto;color: #fff;font-size: 12px;line-height: 12px;}
.bt-simple-small:hover {-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}
.yellow.bt {color: #fff;background: #727272;background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#cc9900));background: -moz-linear-gradient(top, #ffcc00, #cc9900);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc00', endColorstr='#cc9900');}
.yellow.bt:hover {color: #fff;background: #000;background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#8a6800));background: -moz-linear-gradient(top, #ffcc00, #8a6800);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc00', endColorstr='#8a6800');}
.next-big {background-image: url(/dam/templating-kit/themes/popLM/img/bt-next-grey-big.png);width:45px;height:45px;display:block;text-indent:-5000px;}
a.disabled {opacity: 0.5;filter:alpha(opacity=50);cursor: default;}
a.disabled:hover {color: #fff;}
a.previous, a.next, a.previous.disabled:hover, a.next.disabled:hover {float: left;font-size: 20px;line-height: 36px;letter-spacing: -1px;text-shadow: 0 0 5px #333;background-position-y: 0px;}
a.previous {background: url(/dam/templating-kit/themes/popLM/img/bt-prev.png) no-repeat top left;padding-left: 40px;}
a.next {background: url(/dam/templating-kit/themes/popLM/img/bt-next.png) no-repeat top right;padding-right: 40px;}
a.previous:hover, a.next:hover {text-shadow: 0 0 2px #fff;}
a.previous:hover {background-position: left -36px;}
a.next:hover {background-position: right -36px;}
a.previous.grey {display: inline-block;position: relative;background: url(/dam/templating-kit/themes/popLM/img/bt-prev-grey.png) no-repeat top left;text-indent: -9999px;-moz-transition: none;-webkit-transition: none;}
a.next.grey {display: inline-block;position: relative;background: url(/dam/templating-kit/themes/popLM/img/bt-next-grey.png) no-repeat top right;text-indent: -9999px;-moz-transition: none;-webkit-transition: none;}
a.previous.grey span {position: absolute;top: 0;left: 0;bottom: 0;right: 0;background: url(/dam/templating-kit/themes/popLM/img/bt-prev-grey.png) no-repeat left -37px;opacity: 0;-webkit-transition: opacity 0.5s;-moz-transition: opacity 0.5s;-o-transition: opacity 0.5s;}
a.previous.grey:hover span {opacity: 1;}
a.next.grey span {position: absolute;top: 0;left: 0;bottom: 0;right: 0;background: url(/dam/templating-kit/themes/popLM/img/bt-next-grey.png) no-repeat right -37px;opacity: 0;-webkit-transition: opacity 0.5s;-moz-transition: opacity 0.5s;-o-transition: opacity 0.5s;}
a.next.grey:hover span {opacity: 1;}
a.grey.disabled {opacity: 0;}
label.clickeable {line-height: 18px;}
.checkbox {background-image: url(/dam/templating-kit/themes/popLM/img/checkbox-medium.png);background-position: 0px -16px;display: block;float: left;height: 16px;width: 17px;line-height: 16px;cursor: pointer;text-indent: -9999px;margin: 2px 8px 0 0;}
.checkbox.checked {background-position: 0px 0px;}
.checkbox-mini {background-image: url(/dam/templating-kit/themes/popLM/img/check-xs.png);background-position: 0px 0px;display: block;float: left;height: 15px;width: 15px;text-indent: -9999px;line-height: 15px;cursor: pointer;margin: 1px 6px 0 0;}
.checkbox-mini.checked {background-position: 0px -15px;}
.bt-comprar em {font-size:11px;font-weight:normal;margin-right:-2px;}
a.next-big {float:right;margin-top:-61px;margin-right:-2px;}
.bt-text {color:#26a8d4!important;text-decoration:underline;display:block;}
.bt-text:hover {text-decoration:underline;}
p .bt-text {display:inline;margin:0px;}
.entrega-dia {color:#61922c;background-image: url(/dam/templating-kit/themes/popLM/img/icono-entregadia.png);background-repeat:no-repeat;background-position:2px 1px;padding-left:14px;display:block;margin-bottom:10px;}
#content {width:914px;padding:0px 0px 0px 23px;}
#header {width:960px;min-height:175px; /*height, se pasa de height a min-height*/margin-right: auto;margin-left: auto;position: relative;background-image: url(/dam/templating-kit/themes/popLM/img/background-gral.jpg);background-repeat: repeat-x;background-position: 0px 56px;}
#wrapper {/*   width:960px;background-color:#FFF;-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .5);-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5);box-shadow: 0 3px 3px rgba(0, 0, 0, .8);margin-right: auto;margin-bottom: 0px;margin-left: auto;position: relative;z-index: 2;*/
 	background-color: #FFFFFF;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 986px;  /* correccion de ancho para sombra */
}
#leroymerlin-logo {width:136px;height:115px;text-indent:-5000px;background-image: url(/dam/templating-kit/themes/popLM/img/logo_lm.png);float:left;margin-left:21px;margin-top:17px;}
#header p.iralhome {color:#999;float:left;margin-left:12px;margin-top:31px;}
#header p a {color:#7dba39;}
/* modificacion fusion R3 12/09/2013*/
#mi-pedido  {/* width:230px; width: auto;height:38px;line-height:38px;padding-left:33px;margin-right:20px; padding-right: 20px; padding-right: 44px;background-color:#efefef;background-image:url(/dam/templating-kit/themes/popLM/img/mipedido-bg.png);background-repeat:no-repeat;background-position:11px 6px;-webkit-border-radius: 3px 3px 0px 0px;-moz-border-radius: 3px 3px 0px 0px;border-radius: 3px 3px 0px 0px;float: right;margin-top: 18px;position: relative;*/}
#mi-pedido p {color: #000000;
    display: inline;
    float: left;
    font-size: 13px;
    font-weight: bold;
    width: 100%;}
#mi-pedido p strong {font-size:17px;color:#7dbb39;min-width:30px;text-align:right;display:inline-block;margin-right:10px;}
#mi-pedido p strong span {vertical-align:super;line-height:11px;font-size:11px;}
#mi-pedido > span {color:#838383;}
#mi-pedido > a {width:28px;height:28px;position:absolute;right:8px;top:6px;display:inline-block;background-image:url(/dam/templating-kit/themes/popLM/img/bt-down-small-grey.png);background-position:top left;background-repeat:no-repeat;}
#mi-pedido > a:hover {background-position:bottom left;}
#mi-pedido-desplegado {display: block;width:230px;height:38px;padding-left:33px;margin-right:20px;background-color:#efefef;background-image:url(/dam/templating-kit/themes/popLM/img/mipedido-bg.png);background-repeat:no-repeat;background-position:11px 6px;-webkit-border-radius: 3px 3px 0px 0px;-moz-border-radius: 3px 3px 0px 0px;border-radius: 3px 3px 0px 0px;position:absolute;z-index:10000;right: 150px;top: 18px;-moz-opacity:0.01;filter:alpha(opacity=1);opacity:0.01;line-height: 38px;}
#mi-pedido-desplegado p {color: #000;font-size:13px;font-weight:bold;display: inline;}
#mi-pedido-desplegado p strong {font-size:17px;color:#7dbb39;min-width:30px;text-align:right;display:inline-block;margin-right:10px;}
#mi-pedido-desplegado p strong span {vertical-align:super;line-height:11px;font-size:11px;}
#mi-pedido-desplegado > span {color:#838383;}
#mi-pedido-desplegado > a {width:28px;height:28px;position:absolute;right:8px;top:6px;display:inline-block;background-image:url(/dam/templating-kit/themes/popLM/img/bt-down-small-grey.png);background-position:top left;background-repeat:no-repeat;}
#mi-pedido-desplegado > a:hover {background-position:bottom left;}
#mi-pedido-desplegable {background-color:#FFF;width:345px;-webkit-border-radius: 0px 0px 3px 3px;-moz-border-radius: 0px 0px 3px 3px;border-radius: 0px 0px 3px 3px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;border-top-width: 1px;border-top-style: solid;border-top-color: #000;}
#mi-pedido-desplegable > p{color:#838383;font-size:14px;font-weight:normal;padding-right: 17px;padding-left: 17px;padding-top: 12px;padding-bottom: 15px;}
#mi-pedido-desplegable ul {margin-top:0px;margin-bottom:21px;padding-right: 17px;padding-left: 17px;}
#mi-pedido-desplegable ul li {display:block;overflow:hidden;margin-bottom:3px;}
#mi-pedido-desplegable ul li img {float:left;margin-right:9px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
#mi-pedido-desplegable ul li h3 {font-size:14px;color:#666;/* width:170px; */width: 140px;float:left;line-height:14px;margin-top:7px;}
#mi-pedido-desplegable ul li h3 strong {font-size:16px;display:block;color:#7dba39;}
#mi-pedido-desplegable ul li > strong {color:#000;font-size:17px;float:right;margin-top:22px;margin-right:3px;}
#mi-pedido-desplegable ul li > strong span {font-size:11px;vertical-align:super;letter-spacing:-1px;}
#mi-pedido-desplegable-total {background-color:#7bbf2f;display:block;overflow:hidden;width:311px;border-top:solid 1px #000;-webkit-border-radius: 0px 0px 3px 3px;-moz-border-radius: 0px 0px 3px 3px;border-radius: 0px 0px 3px 3px;padding-top: 12px;padding-right: 17px;padding-bottom: 18px;padding-left: 17px;}
#mi-pedido-desplegable-total p {float:left;font-size:22px;color:#FFF;letter-spacing:-1px;margin-bottom: 7px;}
#mi-pedido-desplegable-total > strong {float:right;font-size:24px;margin-right:5px;margin-top:-3px;}
#mi-pedido-desplegable-total > strong span {font-size:14px;vertical-align:super;}
#mi-pedido-desplegable-total .bt {padding:7px;line-height:14px;display: inline-block;}
#mi-pedido-desplegable-total .bt + .bt {clear:none;margin-left:-7px;}
#menu-carrito-over {-moz-border-radius: 4px 4px 0 0;-webkit-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;}
#header ul.menu-principal {float:left;width:450px;height:36px;margin-left:10px;margin-top:22px;}
#header ul.menu-principal li{float:left;display: block;height: 36px;}
#header ul.menu-principal li + li{background-image:url(/dam/templating-kit/themes/popLM/img/header-menu-li-bg.png);background-repeat:no-repeat;background-position:0px 5px;margin-left:4px;padding-left:2px;}
#header ul.menu-principal li a{font-family: "HelveticaNeueCondensedBold", Helvetica, Arial, sans-serif;font-size:16px;color: #FFF;height:36px;line-height:36px;padding: 0px 8px;display:block;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;top: 0px;bottom: 0px;}
#menu-principal-over-name    {position: absolute;display: none;color: #FFF;font-size: 16px;line-height: 36px;font-family: "HelveticaNeueCondensedBold", Helvetica, Arial, sans-serif;background-color: #333;z-index: 10000;font-weight: 500;padding-top: 0px;padding-right: 8px;padding-bottom: 0px;padding-left: 8px;-webkit-border-radius: 3px 3px 0px 0px;-moz-border-radius: 3px 3px 0px 0px;border-radius: 3px 3px 0px 0px;}
#header ul.menu-principal li a:hover , #header ul.menu-principal li a.active{background-color:#62932d;}
#header h4 {color:#FFF;float:right;clear:right;font-size:12px;margin-top:13px;margin-right:13px;text-align: right;}
#header h4 span {font-size:18px;font-weight:bold;display:block;}
#nav {/*
  color:#666;margin-left:23px;display:block;overflow:hidden;
width: 914px;padding-top: 13px;margin-right: 23px;clear: both;float: none;*/}
/* #nav li {float:left;height: 20px !important;}
#nav li + li {margin-left:10px;padding-right:18px;background-image:url(/dam/templating-kit/themes/popLM/img/nav-li-bg.png);background-repeat:no-repeat;background-position: right 2px;}*/
/* #nav li:first-child {margin-right:8px;}
#nav li:last-child {background:none;}
#nav li a {color:#666;text-decoration:underline;}
#nav li:last-child a {text-decoration:none;font-weight:500;color:#000;}*/
#valores-anadidos {color:#FFF;width:916px;padding:25px 22px 31px 22px;background-color: #6aad1b;background-image: -webkit-gradient(linear, left top, left bottom, from(#7bbf2f), to(#5ea00e));background-image: -webkit-linear-gradient(top, #7bbf2f, #5ea00e);background-image:    -moz-linear-gradient(top, #7bbf2f, #5ea00e);background-image:     -ms-linear-gradient(top, #7bbf2f, #5ea00e);background-image:      -o-linear-gradient(top, #7bbf2f, #5ea00e);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bbf2f', endColorstr='#5ea00e');}
#valores-anadidos h4 {font-size:17px;margin-bottom:2px;}
#valores-anadidos h3 {font-size:34px;font-weight:500;letter-spacing:-2px;margin-bottom:7px;text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);}
#footer {color:#FFF;width:916px;padding:19px 22px;overflow:hidden;background-color: #3b3b3b;background-image: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#4b4b4b));background-image: -webkit-linear-gradient(top, #282828, #4b4b4b);background-image:    -moz-linear-gradient(top, #282828, #4b4b4b);background-image:     -ms-linear-gradient(top, #282828, #4b4b4b);background-image:      -o-linear-gradient(top, #282828, #4b4b4b);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828', endColorstr='#4b4b4b');}
#footer ul {float:left;display:block;overflow:hidden;line-height:17px;}
#footer ul + ul {margin-left:30px;border-left:solid 1px #4d4d4d;padding-left:23px;}
#footer div + ul {margin-left:22px;border-left:solid 1px #4d4d4d;padding-left:23px;}
#footer ul li {font-size:14px;}
#footer ul li:first-child {font-size:14px;margin-bottom:2px;}
#footer ul li a {color:#7dbb39;font-size:12px;text-decoration:underline;}
#footer ul li a:hover {text-decoration: none;}
#footer ul li.atencion-cliente {margin-top:20px;}
#footer ul li.atencion-cliente strong {font-size:28px;line-height:28px;font-weight:bold;display:block;margin-top:1px;}
#footer p {float:left;clear:left;font-size:11px;line-height:13px;color:#999;margin-top:38px;}
#footer p.footer-copy {float:right;margin-top:-14px;margin-right:14px;}
#zona-destacado {float:left;margin-left:51px;}
#zona-destacado a {width:292px;height:84px;margin-top:4px;margin-bottom:2px;display:block;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;overflow: hidden;}
#zona-destacado a img {border-style: none;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.compra-sumar, .compra-restar {width:25px;height:20px;display:inline-block;background-image:url(/dam/templating-kit/themes/popLM/img/compra-sumar-restar.png);margin-left:1px;position:relative;top:3px;margin-top:-5px;}
.compra-restar {background-position:left top;}
.compra-sumar {background-position:right top;}
.compra-restar.desactivado {background-position:left bottom;}
.compra-sumar.desactivado {background-position:right bottom;}
.compra-eliminar {width:26px;height:26px;display:inline-block;background-image:url(/dam/templating-kit/themes/popLM/img/bt-eliminar.png);background-position:left top;margin-left:1px;position:relative;top:6px;}
.unidades-disp-si {color:#61922c;background-image: url(/dam/templating-kit/themes/popLM/img/icono-unidades-si.png);background-repeat:no-repeat;background-position:2px 1px;padding-left:14px;display:block;}
.unidades-disp-no {color:#cc0000;background-image: url(/dam/templating-kit/themes/popLM/img/icono-unidades-no.png);background-repeat:no-repeat;background-position:2px 1px;padding-left:14px;display:block;}
.unidades-disp-no a {color:#61922c;text-decoration:underline;display:block;}
.sidebar {float:right!important;}
#plazo-entrga {padding:7px 12px 9px 7px;background-color:#efefef;background-image:url(/dam/templating-kit/themes/popLM/img/icono-entregadia-15.png);background-repeat:no-repeat;background-position:10px 8px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;margin-bottom:14px;margin-top:9px;}

/* desaparece este estilo por cambios de diseÃ±o*/
/*
body.tabs #wrapper {background-image:url(/dam/templating-kit/themes/popLM/img/tabs-bg.png);background-repeat:repeat-x;background-position:0px 89px;}*/
/*menu tabs*/
#tienda-tabs {
 /* background-color:#efefef; */
  width:100%;
  overflow:hidden;
  margin-bottom:25px;
  clear:both;
  border-bottom: 1px solid #E7E7E7;
}
#tienda-tabs li {
  float:left;
}
/* modificado fusion R3 09/2013 */
#tienda-tabs li a {
  color:#000;
  font-size:15px!important;
  display:block;
  line-height:44px;
  padding:0 15px 0 35px;
  background-image:url(/dam/templating-kit/themes/popLM/img/explicativo-nav.png);
  background-repeat:no-repeat;
}
#tienda-tabs li a:hover {text-decoration:none!important;}
#tienda-tabs li a.active {
  background-color:#fff;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
#tienda-tabs li a#tienda-tabs-productos {background-position:15px 13px;color:#6fb61d;}
#tienda-tabs li a#tienda-tabs-todosobre {background-position:19px -17px;}
#tienda-tabs li a#tienda-tabs-showroom {background-position:14px -47px;}
#tienda-tabs li a#tienda-tabs-disenia {background-position:13px -77px;}
#tienda-tabs li a#tienda-tabs-consulta {background-position:13px -107px;}

/* CPM Nuevos estilos para serie personalizable */

#tienda-tabs li a#tienda-tabs-home-familia {background-position:15px 13px;color:#6fb61d;}
#tienda-tabs li a#tienda-tabs-paso-1 {background-position:19px -17px;}
#tienda-tabs li a#tienda-tabs-paso-2 {background-position:19px -17px;}
#tienda-tabs li a#tienda-tabs-paso-3 {background-position:19px -17px;}
#tienda-tabs li a#tienda-tabs-paso-4 {background-position:19px -17px;}

#tienda-tabs li.selected a {
    background-color: white;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px;
    border-color: #E7E7E7 #E7E7E7 white;
}
/*CPM Boton para ir a remix desde ficha simple*/
.bt-configurador-personalizable {
    background: url("/dam/templating-kit/themes/popLM/img/explicativo-nav.png") no-repeat scroll 3px -89px transparent;
    color: #26a8d4 !important;
    display: inline-block;
    font-size: 15px;
    padding-left: 25px;
}

/*CPM capa para ir a remix desde ficha simple*/
.div-configurador-personalizable {
   margin-top: 20px;
   display: block;
   width: 330px;
   float: left;
}
/**************************************************
Actualización 21-12-2011 Parche

La regla #mi-pedido fue modificado
La regla .clearing-color fue modificado
La regla #mi-pedido-desplegable ul li h3  fue modificado
La regla body  fue modificado
La regla .bt-simple  fue modificado
La regla #wrapper  fue modificado

La regla .precio-viejo span:last-child fue reemplazado por .precio-tachado

A continuación las nuevas reglas

*/
.opacidad {opacity:0.6;}
/*  BackGround por home */
.banda_bg {/*  background-attachment: fixed;*/
background-color: transparent;background-image: url("/dam/templating-kit/themes/popLM/img/background-gral.jpg");background-position: 0 56px;background-repeat: repeat-x;display: block;height: 120px;position: absolute;width: 100%;z-index: 1;top: 0px;left:0px;}
.bg-calor {/*  background-attachment: fixed; */
background-image: url("/dam/templating-kit/themes/popLM/img/bg_home_calor.jpg");background-repeat: repeat;}
.bg-jardin {background-image:  url("/dam/templating-kit/themes/popLM/img/bg_home_jardin.png");background-repeat: repeat;}
.bg-herramientas {background-image:  url("/dam/templating-kit/themes/popLM/img/bg_home_herramientas.jpg");background-repeat: repeat;}
.bg-venta_flash_online {/*  background-image:  url("/dam/templating-kit/themes/popLM/img/bg_home_venta-flash-online.gif"); */
/* background-repeat: repeat;*/}
.bg-outlet {/* background-image: url("/dam/templating-kit/themes/popLM/img/bg_home_outlet.jpg");background-repeat: repeat;*/}
.fclear {clear: both;}
/* Actualización 22/03: precio por unidades*/
strong.precio-unidad,
del.precio-unidad {-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;padding:0 4px;display:inline-block;margin-bottom: 13px;/*  margin-top: 4px; */
}
strong.precio-unidad {color:#666;}
strong.precio-unidad span {font-weight:normal;}
del.precio-unidad {padding:0;margin-left:5px;}
del.precio-unidad span.precio-tachado {background-image:url("/dam/templating-kit/themes/popLM/img/del-preciounidadviejo.png");}


/* Estilos cronometro del Outlet */
.contenidoOutlet {background-color: #6AAD1B;border-radius: 5px 5px 5px 5px;float: right;height: 50px; clear: both;    margin-bottom: 20px;}
.finOutlet {-moz-linear-gradient(center top , #79B932, #60A908) repeat scroll 0 0 transparent;;border: 3px solid #FFFFFF;border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;color: #FFFFFF;float: left;font-size: 1.5em;margin-left: 5px;margin-right: 20px;margin-top: 6px;padding: 6px;margin-bottom: 20px;}
.openOutlet {background-color: #FFE600;border: 3px solid #FFFFFF;border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;color: #F60000;float: left;font-size: 1.5em;margin-left: 5px!important;margin-right: 20px;margin-top: 6px;padding: 6px;}
#timer.cronoOutlet {float:left;margin-right: 5px;margin-top: 5px;}
/* Estilos para documentos en la ficha simple 2-11-2012 */
#ficha-tecnica .documento-descarga {background: url("/dam/templating-kit/themes/popLM/img/doc-pdf.png") no-repeat scroll 0 0 transparent;clear: both;color: #999999;font-family: helvetica;font-size: 12px;margin-bottom: 10px;min-height: 31px;padding-left: 33px;}
/* OJO */
/* Nuevos estilos HACS .- boton de Configurar en ficha producto */
.bt-configurar {background: url("/dam/templating-kit/themes/popLM/img/explicativo-nav.png") no-repeat scroll 13px -89px transparent;color: #000000;display: inline-block;float: right;font-size: 15px;padding-left: 35px;}
#ficha-tecnica .documento-descarga a {background-image: none !important;color: #0099CC !important;display: block;float: left !important;font-size: 14px;height: auto !important;margin-top: 0 !important;}
#ficha-tecnica .documento-descarga a:hover {text-decoration: underline;}
#ficha-tecnica .documento-descarga span {clear: both;display: block;font-size: 12px;}
#ficha-tecnica .last {border-bottom: medium none;margin-right: 0;}

#ficha-tecnica .last {border-bottom: medium none;margin-right: 0;}

/* Posicion traductor */
#google_translate_element {float: left;left: 320px;position: absolute;top: 27px;}

/* modificacion telvent 2012-11-20 capa de cargando precios canarias */
.calculo-precios-canarias {z-index: 999999; width: 300px; background-color: white; margin-right: auto; margin-left: auto; position: absolute; border-radius: 10px 10px 10px 10px; padding: 20px; height: 100px;bottom: 0px;}
.calculo-precios-canarias span.img-cargando {background: url(/dam/templating-kit/themes/popLM/img/lbox_loading.gif) no-repeat scroll 0pt 0pt transparent; height: 32px; width: 32px; display: block; margin-right: auto; margin-left: auto; margin-bottom: 20px;}
.calculo-precios-canarias p {font-size: 18px; margin-right: auto; margin-left: auto; display: block; text-align: center; color: #4d4d4d;}
/* Banner home para edición */
#banner-destacados.editor{float: none!important;height: 329px!important;margin-bottom: 22px!important;width: 604px!important;}
#banner-destacados.editor .caroufredsel_wrapper {bottom: auto!important;float: left!important;height: auto!important;left: auto!important;margin: 0!important;overflow: visible!important;position: relative!important;right: auto!important;top: auto!important;width: 604px!important;}
#slider-destacados.editor {float: none !important;height: 329px!important;left: 0!important;margin: 0!important;overflow: inherit!important;position: relative!important;width: 604px !important;}
#slider-destacados.editor .banner-producto-destacado table {  position: absolute;z-index: 9999;}
/* Ficha producto .- calculo   2013/01/21 */
.contenedor-calculos {background-color: #FAFAFA;border: 1px solid #E1E1E1;border-radius: 10px 10px 10px 10px;margin-bottom: 10px;padding: 10px;}
table .contenedor-calculos {float: left;margin-top: 20px;}
/* modificado fusion R3 10/09/2013*/
/* Modificacion fusion R3 16/09/2013 */
/* modifucacion fusion R3 28/11/2013*/
.contenedor-calculos input, #ficha-producto-descripcion input , #tienda-listado input,
#tienda-ficha-producto input,
#fichabodegon input,
#fichavariante input,
#fichaoutlet input , #fichaventaflash input , #fichasimple input,
#fichauniversal input,
#folletos input,
	#modal-amigo input


	{
	/* mpodificacion fusion R3 05/10/2013 */
	 font-weight: bold; background-color: #F1F1F1;border: medium none;border-radius: 3px 3px 3px 3px;color: #666666;/*font-family: "HelveticaNeue";*/font-size: 14px;line-height: 24px;margin-bottom: 6px;margin-right: 5px;padding-left: 5px;padding-right: 5px;important;height: 24px;}

.precio input {width: 45px!important;}

.contenedor-calculos input:focus, #ficha-producto-descripcion input:focus {background: -moz-linear-gradient(center top, #79B932, #60A908) repeat  scroll 0 0 transparent;background-color: #60A908;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;color: #000000;}

/* ///////////////////////////////////////////////////////////////////// */
/*                                                                       */
/*        CALCULADORAS                                                   */
/*        (#listado-calculadora.caja, #listado-calculadora.corte,...)      
/*                                                                       */
/* ///////////////////////////////////////////////////////////////////// */

#listado-calculadora #ancho.input-text:focus, 
#listado-calculadora #longitud.input-text:focus{
	background-color: #60A908 !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
	color: #000000;
	}
#listado-calculadora #longitud + span::after{
	content:"X";
	font-size:16px;
	font-weight:bold;
	color:#000;
	margin-left:14px;
}
.wrap-calculadora-disponibildad #listado-calculadora #ancho.input-text{margin-left:2px;}
#listado-calculadora #ancho + span::after{
	content:"=";
	font-size:16px;
	font-weight:bold;
	margin-left:14px;
	color:#000;
}

#ficha-producto #ficha-producto-descripcion #listado-calculadora{
	
	background-image:url("/dam/templating-kit/themes/popLM/img/icono-calculadora.png");
	background-position:14px 14px;
	background-repeat:no-repeat;
	background-size:20px auto;
	
}

#ficha-producto-descripcion #listado-calculadora #numUnidades.input-text{
	width:72px !important;
	margin-left:-12px;
	margin-right:-4px;
	box-shadow:none;
	font-size:20px;
	font-weight:bold;
	text-align:right;
	}

#ficha-producto-descripcion #listado-calculadora #numUnidades.input-text.compra-cantidad {
     background:transparent;
	 background-color:transparent;
	 outline:none;
	 border-width:1px solid #000;
	 box-shadow: none;
	 cursor:none;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	box-shadow:none;
	
	 -webkit-user-select: none;
	 -khtml-user-select: none;
	 -moz-user-select: none;
	 -o-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	 
	 cursor:none;
	}
	

#ficha-producto #ficha-producto-descripcion #listado-calculadora a.bt-simple.bt-simple-small.calcular{
	position:relative;
	left:-290px;
	padding-bottom:8px;
	padding-left:18px;
	padding-top: 8px;
	width:63px;
	font-size:14px;
	font-weight:500px;
	top:-6px;
	
}
#ficha-producto #ficha-producto-descripcion #listado-calculadora a.bt-simple.bt-simple-small.borrar{
	position:relative;
	top:-44px;
	width:41px;
	left:126px;
	padding-bottom:8px;
	padding-left:15px;
	padding-right:6px;
	padding-top:8px;
	background-color:#353535 !important;
	
}

/* r2plus ancho largo (1 caja) */
#wrapper-2 #wrapper-3 #main #seccionhome #id-r2 #ficha-producto-descripcion #listado-calculadora{
  height:auto ;  
  width:auto;
  margin-right: 4px;
}

#id-r2 #ficha-producto-descripcion #listado-calculadora #numUnidades.input-text{
  background:#fff;
  box-shadow: 0 0 2px 2px #999 inset;  
  margin-left:30px;
  margin-right:8px;
  margin-top:10px;
  
 }
 #id-r2 #ficha-producto-descripcion #listado-calculadora span{
   line-height:3;  
   margin-right:22px;
 }
 
 #id-r2 #ficha-producto-descripcion #listado-calculadora a.bt-simple{
   position:static !important;  
   margin-top:-12px !important;
   margin-bottom:10px;
   
 }

#id-r2 #ficha-producto-descripcion #listado-calculadora a.bt-simple.bt-simple-small.calcular{
    margin-top: 0;
    margin-left: 2px;
}

 /* fin r2 */
 
/*  BEGIN especial para la calculadora de listado */
#tienda-listado #listado-calculadora{margin-top:12px;}

#tienda-listado #listado-calculadora p +  #numUnidades.input-text.compra-cantidad{
	background-color:#ffffff ;
	box-shadow: 0 0 2px 2px #999 inset;
	
	font-size:20px;
	margin-left:0;
	margin-top:12px;
	margin-left:35px;
	padding-top:4px;
	width:70px !important;
}
#tienda-listado #listado-calculadora p + #numUnidades.input-text.compra-cantidad:focus{
	background-color: #60A908;	
}
/* para calculadora listado con 3 campos */
#tienda-listado #listado-calculadora #numUnidades.input-text.compra-cantidad{
	box-shadow: none;
	font-size:22px;
	font-weight:bold;
	margin-top:14px;
	margin-left:0;
	width:72px !important;
}

#tienda-listado #listado-calculadora p + #numUnidades.input-text.compra-cantidad::-moz-selection,
#tienda-listado #listado-calculadora p + #numUnidades.input-text.compra-cantidad::selection {
   background: #ff0000;
   color: #F55B99;
}
#tienda-listado #listado-calculadora span{
	margin-top:16px;
}

#tienda-listado #listado-calculadora input#longitud.input-text,
#tienda-listado #listado-calculadora input#ancho.input-text{
	margin-top:10px;
	padding-top:4px;
}

#tienda-listado #listado-calculadora p{
	line-height:0;
	margin-bottom:10px;
}
#tienda-listado #listado-calculadora .bt-simple.bt-simple-small{
	float:left;
	margin-top:10px;
}
#tienda-listado #listado-calculadora .bt-simple.bt-simple-small.calcular{
	padding-left:20px;
	padding-right:20px;
	margin-right:10px;
}
#tienda-listado #listado-calculadora .bt-simple.bt-simple-small.borrar{
	background-color:#999999 !important;
}
#tienda-listado #listado-calculadora .bt-simple.bt-simple-small.borrar:hover{
	background-color:#000 !important;
}
/* CALCULADORA CORTE (3 input) en #TIENDA-LISTADO (ancho largo) */
#tienda-listado #listado-calculadora.corte input#longitud.input-text,
#tienda-listado #listado-calculadora.corte input#ancho.input-text{
	box-shadow:2px 2px 4px 0 #999 inset !important;
	background-color:#fff !important;
}
#tienda-listado #listado-calculadora.corte input#longitud.input-text:focus,
#tienda-listado #listado-calculadora.corte input#ancho.input-text:focus{
	background-color:#60A908 !important;
}

/* CALCULADORA CORTE (3 input) en #FICHA-PRODUCTO (ancho corto) */
#fichauniversal #ficha-producto-descripcion #listado-calculadora.corte input#longitud.input-text,
#fichauniversal #ficha-producto-descripcion #listado-calculadora.corte input#ancho.input-text{
	box-shadow:2px 2px 4px 0 #999 inset;
	background-color:#fff;
	margin-left:30px;
	margin-right:8px;
}
#fichauniversal #ficha-producto-descripcion #listado-calculadora.corte input#ancho.input-text{
	margin-left:4px;
}
#fichauniversal #ficha-producto-descripcion #listado-calculadora.corte input#numUnidades.input-text{
	
}

/* CALCULADORA CAJA (1 input) en #TIENDA-LISTADO (ancho largo) */
#tienda-listado #listado-calculadora.caja input#numUnidades.input-text.compra-cantidad{
	box-shadow:2px 2px 4px 0 #999 inset;
	background-color:#fff;
}

/* CALCULADORA CAJA (1 input) en #FICHA-PRODUCTO (ancho corto) */

#fichauniversal #ficha-producto-descripcion #listado-calculadora.caja input#numUnidades.input-text{
	box-shadow:2px 2px 4px 0 #999 inset;
	background-color:#fff;
	margin-left:30px;
	margin-right:8px;
  margin-top:-2px;
}

#fichauniversal #ficha-producto #ficha-producto-descripcion #listado-calculadora.caja > a.bt-simple.bt-simple-small{
	margin-top:0 !important;
	position:static;
}
#fichauniversal #ficha-producto #ficha-producto-descripcion #listado-calculadora.caja{
  height:90px;
  margin-right: 4px;
}

/* CALCULADORA METRO */
#fichauniversal #ficha-producto-descripcion #listado-calculadora.metro input#numUnidades.input-text{
	box-shadow:2px 2px 4px 0 #999 inset;
	background-color:#fff;
	margin-left:30px;
	margin-right:8px;
  margin-top:-2px;
}

#fichauniversal #ficha-producto #ficha-producto-descripcion #listado-calculadora.metro > a.bt-simple.bt-simple-small{
	margin-top:0 !important;
	position:static;
}
#fichauniversal #ficha-producto #ficha-producto-descripcion #listado-calculadora.metro{
  height:90px;
  margin-right: 4px;
}

/* **************************************************************************/
/*  FIN CSS CALCULADORAS ****************************************************/
/* **************************************************************************/

.contenedor-calculos p { color: #999999;font-size: 14px;line-height: 14px;margin-bottom: 10px;}
.contenedor-calculos p.negrita {font-weight: bold;}
.contenedor-calculos label  {color: #999999;font-size: 14px;float: left;}
.contenedor-calculos .aviso  {color: #61922C;display: block;font-size: 14px;margin-top: 10px;}
.contenedor-calculos .aviso .ico  {  background-color: #61922C;border-radius: 7px 7px 7px 7px;color: white;display: block;float: left;font-weight: bold;height: 14px;margin-right: 10px;text-align: center;width: 14px;}
td .resumen_datos_caja {color: #666666;float: left;font-size: 14px;margin-top: 5px;}
td .resumen_datos_caja div div.num-cajas {color: #61922C;font-size: 15px;font-weight: bold;margin-bottom: 5px;}
td .resumen_datos_caja div div.num-cajas span {color: #61922C;display: inline;margin-right: 5px;}
td .resumen_datos_caja span { color: #666666;display: block;margin-bottom: 7px;}
td .resumen_datos_caja strong {font-weight: normal!important;}
.resumen_datos_caja #tienda-carrito.pago-ok table td strong, #tienda-carrito.pago-ok table td div strong {font-size: 14px!important;}
/* 2013-01-28*/
/* resumen carrito */
.fleft {float:left}
.w390px {width: 390px;}
/* ficha variante */
#compra-personalizar th.titulo {width: 467px!important;}
#compra-personalizar th.tipo {width: 90px!important;}
#compra-personalizar tr td div.imagen {float:left;}
#compra-personalizar tr td div.datos {width: 260px; float:left}
#compra-personalizar tr td div.datos h3, #compra-personalizar tr td div.datos h5, #compra-personalizar tr td div.datos a, #compra-personalizar tr td div.datos span {margin-left: 0px!important;}
.w380px {width: 380px;}
/* 2013-01-29 */
/*
Estilos de capa, botones e input para los calculos
de precios/m2 y cajas/m2   - ficha variante - ficha simple - resumen carrito - listado productos
*/
/* botones comunes */
#tienda-ficha-producto.compuesto .bto_calculos .bto_calcular,
#fichabodegon.compuesto .bto_calculos .bto_calcular,
#fichavariante.compuesto .bto_calculos .bto_calcular,
#fichaoutlet.compuesto .bto_calculos .bto_calcular , #fichaventaflash.compuesto .bto_calculos .bto_calcular , #fichasimple.compuesto .bto_calculos .bto_calcular,
#fichauniversal.compuesto .bto_calculos .bto_calcular,
#tienda-ficha-producto.compuesto .bto_calculos .bto_borrar,
#fichabodegon.compuesto .bto_calculos .bto_borrar,
#fichavariante.compuesto .bto_calculos .bto_borrar,
#fichaoutlet.compuesto .bto_calculos .bto_borrar , #fichaventaflash.compuesto .bto_calculos .bto_borrar , #fichasimple.compuesto .bto_calculos .bto_borrar,
#fichauniversal.compuesto .bto_calculos .bto_borrar,
#tienda-listado.comparativa .bto_calculos .bto_calcular, #tienda-listado.comparativa .bto_calculos .bto_borrar,
#tienda-carrito.resumen .bto_calculos .bto_calcular, #tienda-carrito.resumen .bto_calculos .bto_borrar,
#tienda-ficha-producto .bto_calculos .bto_calcular,
#fichabodegon .bto_calculos .bto_calcular,
#fichavariante .bto_calculos .bto_calcular,
#fichaoutlet .bto_calculos .bto_calcular , #fichaventaflash .bto_calculos .bto_calcular , #fichasimple .bto_calculos .bto_calcular,
#fichauniversal .bto_calculos .bto_calcular,
#tienda-ficha-producto .bto_calculos  .bto_borrar,
#fichabodegon .bto_calculos  .bto_borrar,
#fichavariante .bto_calculos  .bto_borrar,
#fichaoutlet .bto_calculos  .bto_borrar , #fichaventaflash .bto_calculos  .bto_borrar , #fichasimple .bto_calculos  .bto_borrar,
#fichauniversal .bto_calculos  .bto_borrar
{border: 3px solid #FFFFFF;border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.5);height: auto;padding: 5px;width: auto;float: left;margin-left: 5px; font-size: 13px;line-height: 1em;}
#tienda-ficha-producto.compuesto .bto_calculos .bto_calcular,
#fichabodegon.compuesto .bto_calculos .bto_calcular,
#fichavariante.compuesto .bto_calculos .bto_calcular,
#fichaoutlet.compuesto .bto_calculos .bto_calcular , #fichaventaflash.compuesto .bto_calculos .bto_calcular , #fichasimple.compuesto .bto_calculos .bto_calcular,
#fichauniversal.compuesto .bto_calculos .bto_calcular,
#tienda-listado.comparativa .bto_calculos .bto_calcular,
#fichabodegon .bto_calculos .bto_calcular,
#fichavariante .bto_calculos .bto_calcular,
#fichaoutlet .bto_calculos .bto_calcular , #fichaventaflash .bto_calculos .bto_calcular , #fichasimple .bto_calculos .bto_calcular,
#fichauniversal .bto_calculos .bto_calcular,
#tienda-carrito.resumen .bto_calculos .bto_calcular,
#fichabodegon.resumen .bto_calculos .bto_calcular,
#fichavariante.resumen .bto_calculos .bto_calcular,
#fichaoutlet.resumen .bto_calculos .bto_calcular , #fichaventaflash.resumen .bto_calculos .bto_calcular , #fichasimple.resumen .bto_calculos .bto_calcular,
#fichauniversal.resumen .bto_calculos .bto_calcular,
#tienda-ficha-producto .bto_calculos .bto_calcular,
#fichabodegon .bto_calculos .bto_calcular,
#fichavariante .bto_calculos .bto_calcular,
#fichaoutlet .bto_calculos .bto_calcular , #fichaventaflash .bto_calculos .bto_calcular , #fichasimple .bto_calculos .bto_calcular,
#fichauniversal .bto_calculos .bto_calcular,
{color: #fff;background-color: #79B932;background: -webkit-gradient(linear, left top, left bottom, from(#79B932), to(#60A908));background: -moz-linear-gradient(center top , #79B932, #60A908) repeat scroll 0 0 transparent;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79B932', endColorstr='#60A908');}
#tienda-ficha-producto.compuesto .bto_calculos .bto_borrar,
#fichabodegon.compuesto .bto_calculos .bto_borrar,
#fichavariante.compuesto .bto_calculos .bto_borrar,
#fichaoutlet.compuesto .bto_calculos .bto_borrar , #fichaventaflash.compuesto .bto_calculos .bto_borrar , #fichasimple.compuesto .bto_calculos .bto_borrar,
#fichauniversal.compuesto .bto_calculos .bto_borrar,
#tienda-listado.comparativa .bto_calculos .bto_borrar,
#tienda-carrito.resumen .bto_calculos .bto_borrar,
#tienda-ficha-producto .bto_calculos  .bto_borrar,
#fichabodegon .bto_calculos  .bto_borrar,
#fichavariante .bto_calculos  .bto_borrar,
#fichaoutlet .bto_calculos  .bto_borrar , #fichaventaflash .bto_calculos  .bto_borrar , #fichasimple .bto_calculos  .bto_borrar,
#fichauniversal .bto_calculos  .bto_borrar
{color: #fff;background-color: #990000;background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#990000));background: -moz-linear-gradient(center top , #FF0000, #990000) repeat scroll 0 0 transparent;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#990000');}
#tienda-ficha-producto.compuesto .bto_calculos .bto_calcular:hover,
#fichabodegon.compuesto .bto_calculos .bto_calcular:hover,
#fichavariante.compuesto .bto_calculos .bto_calcular:hover,
#fichaoutlet.compuesto .bto_calculos .bto_calcular:hover , #fichaventaflash.compuesto .bto_calculos .bto_calcular:hover , #fichasimple.compuesto .bto_calculos .bto_calcular:hover,
#fichauniversal.compuesto .bto_calculos .bto_calcular:hover,
#tienda-listado.comparativa .bto_calculos .bto_calcular:hover,
#tienda-carrito.resumen .bto_calculos .bto_calcular:hover,
#tienda-ficha-producto .bto_calculos .bto_calcular:hover,
#fichabodegon .bto_calculos .bto_calcular:hover,
#fichavariante .bto_calculos .bto_calcular:hover,
#fichaoutlet .bto_calculos .bto_calcular:hover , #fichaventaflash .bto_calculos .bto_calcular:hover , #fichasimple .bto_calculos .bto_calcular:hover,
#fichauniversal .bto_calculos .bto_calcular:hover
{color: #fff;background-color: #4e731e;background: -webkit-gradient(linear, left top, left bottom, from(#79B932), to(#4e731e));background: -moz-linear-gradient(top, #79B932, #4e731e);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79B932', endColorstr='#4e731e');}
#tienda-ficha-producto.compuesto .bto_calculos .bto_borrar:hover,
#fichabodegon.compuesto .bto_calculos .bto_borrar:hover,
#fichavariante.compuesto .bto_calculos .bto_borrar:hover,
#fichaoutlet.compuesto .bto_calculos .bto_borrar:hover , #fichaventaflash.compuesto .bto_calculos .bto_borrar:hover , #fichasimple.compuesto .bto_calculos .bto_borrar:hover,
#fichauniversal.compuesto .bto_calculos .bto_borrar:hover,
#tienda-listado.comparativa .bto_calculos .bto_borrar:hover,
#tienda-carrito.resumen .bto_calculos .bto_borrar:hover,
#tienda-ficha-producto .bto_calculos  .bto_borrar:hover,
#fichabodegon .bto_calculos  .bto_borrar:hover,
#fichavariante .bto_calculos  .bto_borrar:hover,
#fichaoutlet .bto_calculos  .bto_borrar:hover , #fichaventaflash .bto_calculos  .bto_borrar:hover , #fichasimple .bto_calculos  .bto_borrar:hover,
#fichauniversal .bto_calculos  .bto_borrar:hover
{color: #fff;background-color: #660000;background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#660000));background: -moz-linear-gradient(top, #ff0000, #660000);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#660000');}
#listado-productos-contenedor .bto_calculos .bt-text { display: block;float: left;margin-left: 10px;margin-top: 6px;}
#contenedor-calculos-id .bto_calculos .bt-text { display: block;float: left;margin-left: 10px;margin-top: 6px;}
#ficha-producto-descripcion .bto_calculos .bt-text {   display: block;float: left;margin-left: 10px;margin-top: 4px;}
.resumen td .bto_calculos .bt-text  { display: block;float: left;margin-left: 10px;margin-top: 6px;}
/* ficha variante */
/* capa */
#tienda-ficha-producto.compuesto .bto_calculos,
#fichabodegon.compuesto .bto_calculos,
#fichavariante.compuesto .bto_calculos,
#fichaoutlet.compuesto .bto_calculos , #fichaventaflash.compuesto .bto_calculos , #fichasimple.compuesto .bto_calculos,
#fichauniversal.compuesto .bto_calculos
{float: right;}
/* listado de productos */
#tienda-listado.comparativa .bto_calculos {float: left;margin-bottom: 5px;width: 100%;}
/* Resumen del carrito */
#tienda-carrito.resumen .bto_calculos {float: left;margin-bottom: 10px;}
#tienda-carrito.resumen .bto_calculos input {float: left;margin-left: 10px;margin-right: 10px; margin-bottom: 10px;}
#tienda-carrito.resumen .bto_calculos_m {float: left;margin-bottom: 10px; clear:both;}
#tienda-carrito.resumen .bto_calculos_m input {float: left;margin-left: 10px;margin-right: 10px; margin-bottom: 10px;}
#tienda-carrito.resumen td span.apartado_cajas {display: block;float: left;font-weight: bold;margin-left: 10px;text-align: left;width: 140px;}
#tienda-carrito.resumen td span.apartado_metros {display: block;float: left;font-weight: bold;margin-left: 10px;text-align: left;width: 140px;}
#tienda-carrito.resumen input.metros {float: left;margin-left: 10px;margin-top: 8px}
/* Ficha de producto */
#tienda-ficha-producto .bto_calculos,
#fichabodegon .bto_calculos,
#fichavariante .bto_calculos,
#fichaoutlet .bto_calculos , #fichaventaflash .bto_calculos , #fichasimple .bto_calculos,
#fichauniversal .bto_calculos,
#tienda-ficha-producto .bto_calculos strong,
#fichabodegon .bto_calculos strong,
#fichavariante .bto_calculos strong,
#fichaoutlet .bto_calculos strong , #fichaventaflash .bto_calculos strong , #fichasimple .bto_calculos strong,
#fichauniversal .bto_calculos strong
{float: left}
#tienda-ficha-producto .bto_calculos,
#fichabodegon .bto_calculos,
#fichavariante .bto_calculos,
#fichaoutlet .bto_calculos , #fichaventaflash .bto_calculos , #fichasimple .bto_calculos,
#fichauniversal .bto_calculos
{margin-bottom: 10px;}
#tienda-ficha-producto .bto_calculos .cantidad-cajas,
#fichabodegon .bto_calculos .cantidad-cajas,
#fichavariante .bto_calculos .cantidad-cajas,
#fichaoutlet .bto_calculos .cantidad-cajas , #fichaventaflash .bto_calculos .cantidad-cajas , #fichasimple .bto_calculos .cantidad-cajas,
#fichauniversal .bto_calculos .cantidad-cajas
 {color: #61922C;margin-bottom: 0;margin-top: 4px;width: 114px;}
#tienda-ficha-producto .bto_calculos .metros-caja,
#fichabodegon .bto_calculos .metros-caja,
#fichavariante .bto_calculos .metros-caja,
#fichaoutlet .bto_calculos .metros-caja , #fichaventaflash .bto_calculos .metros-caja , #fichasimple .bto_calculos .metros-caja,
#fichauniversal .bto_calculos .metros-caja,
.bto_calculos .precio-caja{margin-bottom: 0px!important; margin-top: 4px;margin-right: 10px;}
/* Multicriterios 2013-01-31 */
#filtro-opciones ul li.li-oculto {display:none;}
#filtro-opciones .pie-MC {margin-top: 6px;width: 115px;margin-bottom: 10px;}
#filtro-opciones .enlace-a {color: #0099CC !important;cursor: pointer;display: block;font-family: helvetica;font-size: 13px;font-weight: normal;margin-right: 10px;margin-top: 6px;}
/* confirmación de newsletter */
.mensaje-mileroy {background-color: #F9F9F9;border: 1px solid #F0F0F0;border-radius: 15px 15px 15px 15px;margin-bottom: 20px;padding: 20px;}
.mensaje-mileroy p.titulo {display: block;font-size: 18px;margin-bottom: 10px;}
.mensaje-mileroy p.mail {color: #62BD19 !important;display: block;font-size: 14px;font-weight: bold;margin-bottom: 10px;}
.mensaje-mileroy p.info {color: #3F3F3F;font-size: 14px;font-weight: bold;}
/* boton de ancla & top */
.ancla_top {display:none;}
/* modificacio fusion R3*/
.top {
	position: fixed; width: 100px; right: 10px; bottom: 0px; height: 100px;
	/* modificacion fusion R3 28/11/2013*/
	z-index: 9
	; background-image: url("/dam/templating-kit/themes/popLM/img/top.png"); background-repeat: no-repeat;}
.top a {display: block; width: 100px; height: 100px; cursor: pointer;}




#capa-tiendas.combos.selector-tienda {float:left!important;}
#capa-tiendas.combos.selector-tienda #contacto-dire1,
#capa-tiendas.combos.selector-tienda #contacto-dire2 {margin-right: 5px;}

#capa-tiendas.combos.selector-tienda .botonAceptarSeleccionar input[type="submit"] {color: white !important;width: auto !important;}
#capa-tiendas.combos.selector-tienda .botonAceptarSeleccionar input[type="submit"] {
line-height: 24px;
margin-bottom: 15px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
padding-top: 2px;
vertical-align: top;
}
#capa-tiendas.combos.selector-tienda .botonAceptarSeleccionar input {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: #F1F1F1;
border-bottom-color: -moz-use-text-color;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: none;
border-bottom-width: medium;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color-ltr-source: physical;
border-left-color-rtl-source: physical;
border-left-color-value: -moz-use-text-color;
border-left-style-ltr-source: physical;
border-left-style-rtl-source: physical;
border-left-style-value: none;
border-left-width-ltr-source: physical;
border-left-width-rtl-source: physical;
border-left-width-value: medium;
border-right-color-ltr-source: physical;
border-right-color-rtl-source: physical;
border-right-color-value: -moz-use-text-color;
border-right-style-ltr-source: physical;
border-right-style-rtl-source: physical;
border-right-style-value: none;
border-right-width-ltr-source: physical;
border-right-width-rtl-source: physical;
border-right-width-value: medium;
border-top-color: -moz-use-text-color;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: none;
border-top-width: medium;
color: #666666;
/*font-family: "HelveticaNeue";*/
font-size: 14px;
height: 24px;
line-height: 24px;
margin-bottom: 6px;
margin-right: 5px;
padding-left: 5px;
padding-right: 5px;
width: 70px !important;
}

#formularioDevolucion .condiciones .sep .bt-text {
  display: inline-block;
  margin-bottom: 15px;
}
#imageProduct.mgnlDialogControlFile {
  background-color: transparent !important;
  padding-left: 0 !important;
}

.entrega.tienda {
background-image: url(/dam/templating-kit/themes/popLM/img/icono-entregatienda.png);
background-position: 4px 1px;
}

.entrega.tienda.simple {
background-image: url(/dam/templating-kit/themes/popLM/img/icono-entregatienda.png);
background-position: 3px 3px;
margin-left:0px;
color:#666;
display: none;
}


#fichauniversal .entrega.tienda.lineaConjunto{
  font-size:12px;
  background-image: url(/dam/templating-kit/themes/popLM/img/icono-entregatienda.png);
  background-position: 1px 3px;
  color:#61922c;
  margin-left:0px;
  display: none;
  
}

#fichauniversal .entrega.tienda.lineaVariante{
  font-size:12px;
  background-image: url(/dam/templating-kit/themes/popLM/img/icono-entregatienda.png);
  background-position: -1px 3px;
  color:#61922c;
  margin-left:0px;
  display: none;
  
}

.entrega.tienda.variante {
background-image: url(/dam/templating-kit/themes/popLM/img/icono-entregatienda.png);
background-position: 3px 3px;
color:#666;
margin-left:6px;
display: none;
}

#colorbox .entrega.tienda{
  font-size:15px;
  background-image: url(/dam/templating-kit/themes/popLM/img/icono-entregatienda.png);
  background-position: 1px 3px;
  color:#61922c;
  margin-left:0px;
  display: none;
}

.entrega.tienda.varianteR2 {
font-size:12px!important;  
background-image: url(/dam/templating-kit/themes/popLM/img/icono-entregatienda.png);
background-position: 3px 3px;
color:#666 !important;
margin-left:2px !important;
display: none;
}

