#divFlotante.movil.mobile {
top: inherit;
bottom: 0;
margin-bottom: 50px;
}

.movil.mobile #eltexto {
position: relative;
width: 85%;
-webkit-border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
border-radius: 20px 20px 20px 20px;
text-align: center;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
filter: alpha(opacity = 90);
-moz-opacity: 0.9;
-khtml-opacity: 0.9;
opacity: 0.9;
color: #000;
background-color: #FFF;
-webkit-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.5);
box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.5);;
height: auto;
margin-top: 30px;
}

.movil.mobile #bCerrarCookie {
text-indent: 0px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 2px solid #999;
float: none;
position: absolute;
}

.movil.mobile #eltexto #bCerrarCookie {
color: #FFFFFF;
text-align: left;
text-decoration: none;
}

.movil.mobile #eltexto h2 {

}

.movil.mobile #eltexto p {

}

.movil.mobile #eltexto a {
border-bottom: 2px solid #7DBC39;
}

@media (min-height: 801px) and (orientation: portrait) {
	.movil.mobile #bCerrarCookie {
	top: 21px;
	right: 20px;
	width: 252px;
	height: 70px;
	padding: 10px 20px 10px 20px;
	background: #999 url(/dam/templating-kit/themes/popLM/img/cookie/aspaCookieMobi50.png) no-repeat 220px 20px !important;
	}
	.movil.mobile #eltexto #bCerrarCookie {
	font-size: 64px;
	line-height: 75px;
	}
	.movil.mobile #eltexto h2 {
	font-size: 64px;
	padding-top: 130px;
	}
	.movil.mobile #eltexto p {
	font-size: 60px;
	line-height: 60px;
	padding: 0 20px 10px;
	}
	.movil.mobile #eltexto a {
	font-size: 60px;
	line-height: 60px;
	}
}

@media (max-height: 800px) and (orientation: portrait) {
	.movil.mobile #eltexto {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	}
	.movil.mobile #bCerrarCookie {
	top: 10px;
	right: 10px;
	width: 88px;
	height: 26px;
	padding: 5px 0px 0px 5px;
	background: #999 url(/dam/templating-kit/themes/popLM/img/cookie/aspaCookieMobi15.png) no-repeat 70px 8px !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	.movil.mobile #eltexto #bCerrarCookie {
	font-size: 21px;
	line-height: 22px;
	}
	.movil.mobile #eltexto h2 {
	font-size: 25px;
	padding-top: 40px;
	}
	.movil.mobile #eltexto p {
	font-size: 20px;
	line-height: 24px;
	padding: 0 20px 10px;
	}
	.movil.mobile #eltexto a {
	font-size: 20px;
	line-height: 24px;
	}
}

@media (min-height: 321px) and (orientation: landscape) {
	.movil.mobile #bCerrarCookie {
	top: 21px;
	right: 20px;
	width: 165px;
	height: 40px;
	padding: 10px 20px 10px 15px;
	background: #999 url(/dam/templating-kit/themes/popLM/img/cookie/aspaCookieMobi40.png) no-repeat 148px 10px !important;
	}
	.movil.mobile #eltexto #bCerrarCookie {
	font-size: 44px;
	line-height: 42px;
	}
	.movil.mobile #eltexto h2 {
	font-size: 44px;
	padding-top: 38px;
	line-height: 36px;
	}
	.movil.mobile #eltexto p {
	font-size: 33px;
	line-height: 40px;
	padding: 0 20px 10px;
	}
	.movil.mobile #eltexto a {
	font-size: 33px;
	line-height: 40px;
	}
}

@media (max-height: 320px) and (orientation: landscape) {
	.movil.mobile #eltexto {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	}
	.movil.mobile #bCerrarCookie {
	top: 10px;
	right: 10px;
	width: 70px;
	height: 21px;
	padding: 3px 0px 0px 5px;
	background: #999 url(/dam/templating-kit/themes/popLM/img/cookie/aspaCookieMobi10.png) no-repeat 58px 8px !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	.movil.mobile #eltexto #bCerrarCookie {
	font-size: 17px;
	line-height: 18px;
	}
	.movil.mobile #eltexto h2 {
	font-size: 22px;
	padding-top: 6px;
	}
	.movil.mobile #eltexto p {
	font-size: 16px;
	line-height: 18px;
	padding: 0 40px 20px;
	}
	.movil.mobile #eltexto a {
	font-size: 16px;
	line-height: 18px;
	}
}
#divFlotante.movil.mobile.oculto{display:none;}