/*****************************************
Estilos nuevos para Ideas y Conejos
*****************************************/

#wrapper-3 #main #seccionhome.ideasyconsejos-new {
width: 940px;
margin: 0 0 0 5px;
}

/***** Cabecera *****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new h1 {
float: left;
font-size: 35px;
font-weight: 400;
width: 700px;
margin: 0 0 10px 0;
height: auto; /* por si el titulo tiene 2 o mas lineas */
}

/**** Cabecera - Caja búsqueda ****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new #encabezado #search-ic-box {
position: relative;
float: right;
margin: 7px 0 0 0;
padding: 0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
-ms-border-radius: 3px;
border-radius: 3px;
overflow: hidden;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #encabezado #search-ic-box h6 {
display: none;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #encabezado #search-ic-box div, #wrapper-3 #main #seccionhome.ideasyconsejos-new input.newsletter {
position: relative;
float: left;
height: 24px;
width: 219px;
border: 1px solid #e5e5e5;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
-ms-border-radius: 3px;
border-radius: 3px;
background-color: #f1f1f1;
overflow: hidden;
-webkit-transition: all ease-in-out 0.15s;
-moz-transition: all ease-in-out 0.15s;
-o-transition: all ease-in-out 0.15s;
-ms-transition: all ease-in-out 0.15s;
transition: all ease-in-out 0.15s;
-moz-box-shadow: inset 0px 1px 2px #616161;
-webkit-box-shadow: inset 0px 1px 2px #616161;
box-shadow: inset 0px 1px 2px #616161;
width: 218px\9
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #encabezado #search-ic-box label {
display: none;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #encabezado #search-ic-box input.button {
position: relative;
float: right;
width: 30px;
height: 23px;
margin: 0;
padding: 0;
background: url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_bg_lupa.png') no-repeat center center	transparent !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #encabezado #search-ic-box input {
position: relative;
float: left;
width: 178px;
height: 23px;
padding: 0;
margin: 0 0 0 10px;
border: 0px solid transparent;
background: none !important;
outline: 0;
color: #838383;
font: 300 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 23px;
-webkit-transition: all ease-in-out 0.15s;
-moz-transition: all ease-in-out 0.15s;
-o-transition: all ease-in-out 0.15s;
-ms-transition: all ease-in-out 0.15s;
transition: all ease-in-out 0.15s;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #encabezado #search-ic-box .button {
border: medium none;
cursor: pointer;
float: right;
height: 20px;
margin: 0 0 0 4px;
width: 21px;
}

/***** Fin de Cabecera *****/

/***** Columna de contenido izquierda *****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic {
float: left;
width: 700px;
margin: 0 20px 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-izq {
float: left;
width: 220px;
margin: 0 20px 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der {
float: left;
width: 460px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .bg-col-cont {
position: relative;
}

/***** Columna de contenido izquierda - Caja verde *****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde {
padding: 22px 13px 8px 13px;
background:url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_bg_verde.png') repeat;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li {
display: inline;
float: left;
/* height: 90px; */
padding: 19px 0 30px 0;
width: 435px;
background:transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_separador_divverde.png') no-repeat 2px bottom;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li.last {
background: none;
padding: 19px 0 38px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li .img-mini-demo {
float: left;
text-align: center;
width: 85px;
height: 90px;
background-color: #fff;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li .img-mini-demo a img {
-webkit-transition: all ease-out 0.2s;
-moz-transition: all ease-out 0.2s;
-o-transition: all ease-out 0.2s;
-ms-transition: all ease-out 0.2s;
transition: all ease-out 0.2s;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li .img-mini-demo a:hover img {
opacity: 0.7;
-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
filter: alpha(opacity=70);
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li .img-mini-demo a div {
position: absolute;
width: 43px;
height: 43px;
top: 42px;
left: 22px;
background:transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_over_peq_play.png') no-repeat top left;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li .txt-mini-demo {
float: right;
text-align: left;
width: 334px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li .txt-mini-demo h6 {
margin: -3px 0 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li .txt-mini-demo p {
margin: 2px 0 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li .txt-mini-demo span {
/* position: absolute; */
bottom: 30px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li.last .txt-mini-demo span {
bottom: 38px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li .txt-mini-demo h6 a{
font: bold 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 21px;
color: #fff;
text-decoration: none;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li .txt-mini-demo h6 a:hover {
text-decoration: none !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li .txt-mini-demo p a {
font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #fff;
text-decoration: none;
margin: 0 0 5px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li .txt-mini-demo p a:hover {
text-decoration: none !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li .txt-mini-demo .mas-info a {
font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #333333;
text-decoration: none;
display: inline-block;
border-bottom: 2px solid;
border-bottom-color: rgba(51, 51, 51, .5);
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .videos_fondo_verde ul li .txt-mini-demo .mas-info a:hover {
text-decoration: none !important;
border-bottom: 2px solid transparent;
}

/***** Columna de contenido izquierda - Caja newsletter *****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-newsletter-box {
float: left;
width: 220px;
margin: 0 20px 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-newsletter-box .cabecera {
margin: 0 0 20px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-newsletter-box .title {
font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
letter-spacing: 0px;
color: #333333;
margin: 0 0 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-newsletter-box .entuemail-form {
margin-top: 12px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-newsletter-box #input_email {
width: 99px;
height: 21px;
margin-right: 7px;
color: #838383;
font: 300 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 23px;
margin-bottom: 26px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-newsletter-box #bt-buscar {
margin-top: 0px;
width: 82px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-newsletter-box .acepta-terms {
margin: 0 0 38px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-newsletter-box .acepta-terms label {
font-size: 10px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-newsletter-box .acepta-terms label .checkbox {
margin: 2px 5px 0 0;
}

/***** Columna de contenido izquierda - Caja guías de producto relacionadas *****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic .col-izq-guias-r-box {
position: relative;
float: left;
width: 460px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic .col-izq-guias-r-box .img-guias-r-box {
position: absolute;
width: 202px;
height: 109px;
top: 51px;
left: 12px;
-moz-box-shadow: -2px 4px 12px #111;
-webkit-box-shadow: -2px 4px 12px #111;
box-shadow: -2px 4px 12px #111;
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=225, Color="#111111");
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic .col-izq-guias-r-box .img-guias-r-box a img {
-webkit-transition: all ease-out 0.2s;
-moz-transition: all ease-out 0.2s;
-o-transition: all ease-out 0.2s;
-ms-transition: all ease-out 0.2s;
transition: all ease-out 0.2s;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic .col-izq-guias-r-box .img-guias-r-box a:hover img {
opacity: 0.7;
-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
filter: alpha(opacity=70);
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic .col-izq-guias-r-box .txt-guias-r-box {
float: right;
width: 222px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic .col-izq-guias-r-box .txt-guias-r-box h6 {
font: bold 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #333;
margin-bottom: 5px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic .col-izq-guias-r-box .txt-guias-r-box p {
font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #333;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic .col-izq-guias-r-box .txt-guias-r-box p a {
text-decoration: underline;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic .col-izq-guias-r-box .txt-guias-r-box p a:hover {
text-decoration: none !important;
}

/***** Fin de columna de contenido izquierda *****/


/***** Columna de contenido derecha *****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic {
float: left;
width: 220px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont {
padding: 2px 0 16px 0;
}

/**** Lista categorías ****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new .bg-col-cont ul.categorias li {
background: transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_cuadradito_li.png') no-repeat 0 8px;
/*list-style-type: square; para acortar distancia entre bullet y texto tenemos que poner imagen en vez de usar esto */
margin: 0 0 1px 0;
padding: 0 0 0 13px;
color: #333;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .bg-col-cont ul.categorias li.sel {
background: transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_cuadradito_li_sel.png') no-repeat 0 8px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .bg-col-cont ul.categorias li.video {
background: transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_video_mini_li.png') no-repeat 0 5px;
text-indent: 3px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .bg-col-cont ul.categorias li.doc {
background: transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_doc_mini_li.png') no-repeat 0 3px;
text-indent: 12px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .bg-col-cont ul.categorias li.video a {
padding: 0 0 0 19px;
margin: 0 0 0 -5px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .bg-col-cont ul.categorias li a {
font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #000;
line-height: 20px;
text-decoration: none;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .bg-col-cont ul.categorias li.sel a {
color: #62BD19;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .bg-col-cont ul.categorias li a:hover {
text-decoration: underline;
}

/***** Fin de columna de contenido derecha *****/

/***** Columna de contenido izquierda *****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-full-ic {
float: left;
width: 940px;
margin: 0 20px 0 0;
}


/***** Elementos comunes u otros elementos *****/

/**** Cabeceras negras texto blanco ****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new .cabecera {
position: relative;
min-height: 35px;
border-bottom: 1px solid #E7E7E7;
margin: 0 0 11px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .cabecera h6 {
position: relative;
height: 33px;
color: #83B817;
padding: 0 10px;
font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 35px;
letter-spacing: -0.2px;
display: inline-block;
vertical-align: top;
float: left;
border: 1px solid #E7E7E7;
border-bottom: 2px solid #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-o-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
-webkit-border-bottom-left-radius: 0;
-moz-border-bottom-left-radius: 0;
-o-border-bottom-left-radius: 0;
-ms-border-bottom-left-radius: 0;
border-bottom-left-radius: 0;
-webkit-border-bottom-right-radius: 0;
-moz-border-bottom-right-radius: 0;
-o-border-bottom-right-radius: 0;
-ms-border-bottom-right-radius: 0;
border-bottom-right-radius: 0;
background-color: #fff;
border-bottom-width: -1px;
margin-bottom: -1px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .cabecera h6 a {
color: #83B817;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .cabecera h6 a:hover {
text-decoration: underline;
color: #83B817;
}

/**** Vídeos en lista de categorías ****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new .img-vidli-demo {
position: relative;
text-align: center;
width: 220px;
margin: 3px 0 9px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .img-vidli-demo a img {
-webkit-transition: all ease-out 0.2s;
-moz-transition: all ease-out 0.2s;
-o-transition: all ease-out 0.2s;
-ms-transition: all ease-out 0.2s;
transition: all ease-out 0.2s;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .img-vidli-demo a:hover img {
opacity: 0.7;
-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
filter: alpha(opacity=70);
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .img-vidli-demo a div {
position: absolute;
width: 65px;
height: 65px;
top: 18px;
left: 78px;
background:transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_over_med_play.png') no-repeat top left;
}

/**** Vídeos en modo reproductor ****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidrep-demo {
margin: 14px 20px 42px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidrep-demo .img-vidrep-demo {
position: relative;
text-align: center;
width: 700px;
margin: 17px 0 20px 0;
background-color: #fff;
cursor: pointer;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidrep-demo .img-vidrep-demo img {
-webkit-transition: all ease-out 0.2s;
-moz-transition: all ease-out 0.2s;
-o-transition: all ease-out 0.2s;
-ms-transition: all ease-out 0.2s;
transition: all ease-out 0.2s;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidrep-demo .img-vidrep-demo:hover img {
opacity: 0.7;
-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
filter: alpha(opacity=70);
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidrep-demo .img-vidrep-demo .play-img-vidrep-demo {
position: absolute;
width: 65px;
height: 65px;
top: 167px;
left: 318px;
background:transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_over_med_play.png') no-repeat top left;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidrep-demo .img-vidrep-demo .time-img-vidrep-demo {
position: absolute;
top: 377px;
left: 0px;
background:transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_video_bg_time.png') repeat top left;
width: 700px;
height: 23px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidrep-demo .img-vidrep-demo .time-img-vidrep-demo span {
position: absolute;
height: 13px;
top: 5px;
right: 0px;
background:transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_video_clock_time.png') no-repeat 106px 0;
padding: 0 40px 0 0px;
font: bold 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #fff;
width: 100px;
text-align: right;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidrep-demo .vid-vidrep-demo {
display: none;
margin: 17px 0 20px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidrep-demo .txt-vidrep-demo {
width: 700px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidrep-demo .txt-vidrep-demo h6 {
font: bold 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 23px;
color: #333;
text-decoration: none;
margin: -3px 0 0 -1px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidrep-demo .txt-vidrep-demo p {
font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #333;
text-decoration: none;
margin: 15px 0 0px -1px;
}

/**** Vídeos en modo mediano ****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo {
margin: 0 20px 26px 0;
float: left;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo.first {
clear: both;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo.last {
margin: 0 0 26px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .img-vidmed-demo {
position: relative;
text-align: center;
width: 220px;
margin: 3px 0 9px 0;
clear: both;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .img-vidmed-demo a img {
-webkit-transition: all ease-out 0.2s;
-moz-transition: all ease-out 0.2s;
-o-transition: all ease-out 0.2s;
-ms-transition: all ease-out 0.2s;
transition: all ease-out 0.2s;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .img-vidmed-demo a:hover img {
opacity: 0.7;
-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
filter: alpha(opacity=70);
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .img-vidmed-demo a .play-img-vidmed-demo {
position: absolute;
width: 65px;
height: 65px;
top: 52px;
left: 77px;
background:transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_over_med_play.png') no-repeat top left;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .img-vidmed-demo a .time-img-vidmed-demo {
position: absolute;
top: 147px;
left: 0px;
background:transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_video_bg_time.png') repeat top left;
width: 220px;
height: 23px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .img-vidmed-demo a .time-img-vidmed-demo span {
position: absolute;
height: 13px;
top: 5px;
right: 0px;
background:transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_video_clock_time.png') no-repeat 106px 0;
padding: 0 26px 0 0px;
font: bold 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #fff;
width: 100px;
text-align: right;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .img-vidmed-demo .guia-img-demo {
padding-top: 3px;
position: absolute;
top: 147px;
left: 0px;
background: transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_video_bg_time.png') repeat top left;
width: 220px;
height: 20px;
color: #fff;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .img-vidmed-demo .guia-img-demo a {
font: bold 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #fff;
width: 100px;
letter-spacing: -1px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .txt-vidmed-demo {
width: 220px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .txt-vidmed-demo h6 a {
font: bold 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 23px;
color: #333;
text-decoration: none;
margin: -3px 0 0 -1px;
margin: -2px 0 0 -1px\9;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .txt-vidmed-demo h6 a:hover {
text-decoration: none !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .txt-vidmed-demo p {
margin: 12px 0 0px -1px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .txt-vidmed-demo p a {
font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #333;
text-decoration: none;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .txt-vidmed-demo p a:hover {
text-decoration: none !important;
}


/**** link "todo sobre..." ****/

.todosobre {
float: left;
margin: 11px 0 0px 0px;
padding: 0 0 0 12px;
}

.todosobre a:hover {
text-decoration: none !important;
}

/**** Social y tags - como hacerlo ****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #ideasyconsejos-social-tags {
padding: 14px 0 1px 2px;
float: left;
width: 100%;
margin-bottom: 10px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #ideasyconsejos-social-tags #ideasyconsejos-social-fb {
float: left;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #ideasyconsejos-social-tags #ideasyconsejos-social-tw {
float: left;
margin: 0 -20px 0 5px
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #ideasyconsejos-social-tags #ideasyconsejos-social-em {
float: left;
margin: 0 0 0 5px;
border-left: 1px solid #dddddd;
padding: 0 0 3px 8px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #ideasyconsejos-social-tags #ideasyconsejos-social-em a{
display: block;
width: 27px;
height: 20px;
background: transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_compartir-email.png') no-repeat 0 1px;
}

/**** Anuncio - Relacionados ****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont.anuncio-ic {
padding: 3px 0 24px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont.anuncio-ic img {
height: 290px;
width: 220px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont.anuncio-ic div {
position: absolute;
left: 17px;
top: 228px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont.anuncio-ic div a {
font-size: 11px;
padding: 5px 5px 5px;
margin: 0 0 2px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont.anuncio-ic div a:hover {
text-decoration: none !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont.anuncio-ic div p a {
font-size: 9px;
padding: 0 0 0 0;
text-decoration: underline;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont.anuncio-ic div p a:hover {
text-decoration: none !important;
}

/**** Productos relacionados ****/

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos >li{
margin: 3px 0 23px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li img {
height: 65px;
width: 65px;
float: left
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul {
float: left;
margin: 0 0 0 5px;
width: 150px;
}
#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont .documento-descarga {
  background: url("/dam/templating-kit/themes/popLM/img/doc-pdf.png") no-repeat scroll 0 0 transparent;
  clear: both;
  color: #999999;
  font-family: helvetica;
  font-size: 12px;
  margin: 6px;
  min-height: 31px;
  padding-left: 33px;
  
}  
#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.producto-rel {
color: #333;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.producto-rel a {
font-size: 13px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.nombre-rel {
color: #333;
font-weight: bold;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.nombre-rel a {
font-size: 13px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.precio-rel {
color: #333;
font-weight: bold;
font-size: 18px;
width: 153px;
float: left;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.precio-rel span{
float: left;
color: #333;
line-height: 22px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.precio-rel span.sup {
float: left;
color: #333;
font-size: 12px;
line-height: 11px;
margin: 4px 0 8px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.masinfo-rel {
width: 100px;
display: block;
float: left;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.masinfo-rel a {
font-size: 13px;
white-space: nowrap;
width: 153px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.precio-rel .ic-box-precio {
margin: 2px 0 0 0 ;
}


#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.precio-rel .ic-box-precio .oferta-ic-precio{
background-color: #FFE600;
padding-top: 2px;
padding-bottom: 2px;
padding-right: 4px;
padding-left: 4px;
color: #FF0000;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.precio-rel .ic-box-precio .oferta-ic-precio span{
float: left;
color: #FF0000;
}

.ie7 #wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.precio-rel .ic-box-precio span span.sup{
width: 41px;
height: 18px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.precio-rel .ic-box-precio span span .sup2,
#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.precio-rel span.sup .sup2{
float: right;
font-size: 7px;
line-height: 0px;
margin: 4px 0 0 0;
}

.ie7 #wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.precio-rel .ic-box-precio span span .sup2,
.ie7 #wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.precio-rel span.sup .sup2{
float: none;
font-size: 11px;
line-height: 0px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.precio-rel .ic-box-precio .viejo-ic-precio{
color: #666;
margin-left: 4px;
background-image: url(/dam/templating-kit/themes/popLM/img/del-preciounidadviejo.png);
background-repeat: no-repeat;
background-position: left 3px;
}

.ie7 #wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.precio-rel .ic-box-precio .viejo-ic-precio{
width: 150px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-der-ic .bg-col-cont ul.ic_productos li ul li.precio-rel .ic-box-precio .viejo-ic-precio span{
float: left;
color: #666;
}

/***** Fin de elementos comunes u otros elementos *****/



/* ####### Seccion especiales ###### */

/* tabs */
#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.tabs-categorias{
	float: left;
	width: 100%;
	margin: 0 0 13px 0;
	height: auto;
	border-bottom: 1px solid #E7E7E7;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.tabs-categorias li{
	float: left;
	display: inline;
	margin: 0;
	padding:0;
	height: 35px;
	font-size: 14px;
	line-height: 35px;
	font-weight: bold;
	color: #fff;
	padding:0 10px;
}


#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.tabs-categorias li a{
	display: block;
	font-size: 14px;
	line-height: 35px;
	font-weight: bold;
	color: #83B817;
	text-decoration: none;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.tabs-categorias li a:hover{
	text-decoration: underline;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.tabs-categorias li.active{
	position: relative;
	height: 33px;
	color: #83B817;
	padding: 0 10px;
	font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 35px;
	letter-spacing: -0.2px;
	display: inline-block;
	vertical-align: top;
	float: left;
	border: 1px solid #E7E7E7;
	border-bottom: 2px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	-o-border-bottom-left-radius: 0;
	-ms-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	-o-border-bottom-right-radius: 0;
	-ms-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	background-color: #fff;
	border-bottom-width: -1px;
	margin-bottom: -1px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.tabs-categorias li.active a{
	color: #fff;
}


/*contenido*/
#wrapper-3 #main #seccionhome.ideasyconsejos-new .cat-main-content{
	float: left;
	width: 100%;
	padding-top: 3px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .cat-main-content.mBot{
	margin-bottom: 30px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .cat-main-content .box-img{
	position: relative;
	float: left;
	width: 700px;
	height: 289px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .cat-main-content .box-img a:hover .box-img-info {
	text-decoration: none;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .cat-main-content .box-img .box-img-info{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-image: url(/dam/templating-kit/themes/popLM/img/bg-box-img.png);
	background-position: 0 0;
	background-repeat: repeat;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .cat-main-content .box-img .box-img-info h3{
	margin:10px 10px 0 10px;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #fff;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .cat-main-content .box-img .box-img-info p{
	margin: 10px 10px 15px 10px;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
}


#wrapper-3 #main #seccionhome.ideasyconsejos-new .dotted-line{
	float: left;
	width: 100%;
	height:1px;
	margin: 25px 0;
	background-image: url(/dam/templating-kit/themes/popLM/img/bg-dotted-line.png);
	background-position: 0 0;
	background-repeat: repeat;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.link-destacamos{
	float: left;
	width: 220px;
	margin: 0 20px 0 0;
	height: auto;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.link-destacamos.last{
	margin: 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.link-destacamos > li{
	float: left;
	margin: 0 0 10px 0;
	padding:0 0 0 13px;
	width: 207px;
	height: auto;
	background-image: url(/dam/templating-kit/themes/popLM/img/bg-box-link-tip.png);
	background-position: 0 2px;
	background-size:9px 13px;
	background-repeat: no-repeat;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.link-destacamos > li a{
	color: #414141;
	font-size: 14px;
	line-height: 13px;
	font-weight: bold;
	text-decoration: underline;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-cat-main-content {
	float: left;
	width: 100%;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-cat-main-content h2 {
	margin: 0 0 -2px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-cat-main-content > p {
	color: #333;
	font-size: 16px;
	line-height: 18px;
	margin: 0 0 20px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info {
	padding: 18px 0 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.listado-inspirate {
	float: left;
	width: 100%;
	margin: 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.listado-inspirate > li{
	position: relative;
	float: left;
	width: 220px;
	height:312px;
	margin: 20px 20px 0 0;
	overflow: hidden;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.listado-inspirate > li.last{
	margin: 20px 0 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.listado-inspirate > li .overlay-info{
	position: absolute;
	left: 0;
	bottom: inherit;
	top: 245px;
	width: 100%;
	height: auto;
	background-image: url(/dam/templating-kit/themes/popLM/img/bg-box-inspira-img.png);
	background-position: 0 0;
	background-repeat: repeat;

}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.listado-inspirate > li .overlay-info .overlay-info-precio{
	float: right;
	margin-top: -15px;
	margin-right: 12px;
	padding: 4px 10px;
	font-size: 22px;
	line-height: 20px;
	font-weight: bold;
	color: #333;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	background-image: url(/dam/templating-kit/themes/popLM/img/bg-box-inspira-precio.png);
	background-position: 0 0;
	background-repeat: repeat;
	height: 20px;
	display: inline-block;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.listado-inspirate > li .overlay-info .overlay-info-precio span{
	font-size: 12px;
	line-height: 14px;
	margin: 0px 0 0px 2px;
	position: relative;
	top: -7px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.listado-inspirate > li .overlay-info .overlay-info-title{
	float: left;
	margin: 20px 0 20px 13px;
	width: 207px;
	font-size: 14px;
	font-weight: bold;
	color:#fff;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.listado-inspirate > li .overlay-info .overlay-info-desc{
	float: left;
	margin: 0 0 10px 13px;
	width: 207px;
	height: 30px;
	font-size: 12px;
	line-height: 13px;
	color:#fff;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.listado-inspirate > li .overlay-info .overlay-info-detalles{
	float: left;
	padding: 0 0 20px 13px;
	width: 207px;
	font-size: 12px;
	color:#00bcdf;
	text-decoration: underline;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new ul.listado-inspirate > li .overlay-info .overlay-info-detalles:hover{
	text-decoration: none !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info img {
	float: left;
	margin: 0 20px 20px 0;
	padding-top: 20px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info img.icon-ic {
	height: 70px;
	width: 80px;
	margin: 0 90px 0 70px;
	padding: 10px 0 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info p {
	color: #333;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info p a {
	font-size: 12px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info p a:hover {
	text-decoration: none !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info p span {
	color:#7dbc39;
	font-weight: bold;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info .clearing {
	height: 18px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info.enmarcadas {
	width: 100%;
	height: 188px;
	float: left;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info.enmarcadas img{
	float: left;
	margin: 10px 26px 20px 31px;
	width: 150px;
	height: 150px;
	padding: 3px 3px 3px 3px;
	border: 1px solid #ddd;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info .box-extend-info-cita p {
	float: left;
	font: italic normal 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #7cbd39;
	width: 215px;
	margin: 0 20px 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info .box-extend-info-content {
	float: left;
	margin-top: 0;
	width: 460px;
	color: #333;
	padding-top: 20px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info .box-extend-info-content p {
	color: #333;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info .box-extend-info-content h2{
	font-size: 20px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info .box-extend-info-content p{
	font-size: 12px;
	color: #333;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .box-extend-info .box-extend-info-content p span{
	color:#7dbc39;
	font-weight: bold;
}

/* ####### Fin de seccion especiales ###### */


/* ####### PopIn enviar a un amigo ###### */

#cboxOverlay {
	background-color: #222;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #fichaenviaraunamigo {
	display: none;
}


#wrapper-3 #main #seccionhome.ideasyconsejos-new #fea_cabecera, #cboxContent #cboxLoadedContent #fea_cabecera {
	height: 50px;
	background-color: #f1f1f1;
	border-bottom: 1px solid #d2d2d0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #fea_cabecera p, #cboxContent #cboxLoadedContent #fea_cabecera p {
	padding: 15px 0 0 42px;
	background:transparent url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_enviaraunamigo.png') no-repeat 22px 16px;
	font: bold 18px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .fea_content, #cboxContent #cboxLoadedContent .fea_content {
	padding: 22px 22px 0 22px;
	font: normal 16px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .fea_content .input-text, #cboxContent #cboxLoadedContent .fea_content .input-text {
	height: 21px;
	width: 279px;
	margin: 20px 0px -6px 0px;
	font: normal 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-left: 8px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .fea_content .input-text.first, #cboxContent #cboxLoadedContent .fea_content .input-text.first {
	margin-right: 8px
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .fea_content .input-text.abajo, #cboxContent #cboxLoadedContent .fea_content .input-text.abajo {
	margin-bottom: 27px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .fea_content .formenviaraunamigo label.clickeable, #cboxContent #cboxLoadedContent .fea_content .formenviaraunamigo label.clickeable {
	font-size: 12px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .fea_content .formenviaraunamigo a.bt-green, #cboxContent #cboxLoadedContent .fea_content .formenviaraunamigo a.bt-green {
	padding: 5px 21px 6px;
	margin-left: 13px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .fea_content .formenviaraunamigo a.bt-green, #cboxContent #cboxLoadedContent .fea_content .formenviaraunamigo a:hover.bt-green {
	text-decoration: none !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .fea_content .formenviaraunamigo .checkbox , #cboxContent #cboxLoadedContent .fea_content .formenviaraunamigo .checkbox  {
	margin: 3px 6px 0 342px;
}

/* ####### Fin de popIn enviar a un amigo ###### */



/*  ###### Sección home #####  */
#wrapper-3 #main #seccionhome.ideasyconsejos-new .ideas-leer-mas{
	display: block;
	float: left;
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 12px;
	color: #00bcdf;
	text-decoration: underline;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .ideas-leer-mas:hover{
	text-decoration: none !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .fondo-gris-ideas {
	/*padding: 0 13px 0 13px;
	background: url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_bg_gris.gif') repeat;*/
	padding: 2px 13px 2px 13px;
	background:url('/dam/templating-kit/themes/popLM/img/ideasyconsejos_bg_gris.png') repeat;
}
#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .fondo-gris-ideas ul li {
	background: rgba(0, 0, 0, 0) url('/dam/templating-kit/themes/popLM/img/bg-dotted-line.png') repeat-x 2px bottom;
}
#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .fondo-gris-ideas ul li.last{
	background: none;
	padding: 19px 0 19px 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .fondo-gris-ideas ul li .txt-mini-demo h6 a {
color: #333;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .fondo-gris-ideas ul li .txt-mini-demo h6 a:hover {
text-decoration: none !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .fondo-gris-ideas ul li .txt-mini-demo p a {
color: #333;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .fondo-gris-ideas ul li .txt-mini-demo p a:hover {
text-decoration: none !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .fondo-gris-ideas ul li .txt-mini-demo .mas-info a {
color: #7dbc39;
border-bottom-color: rgba(125, 188, 57, 0.5);
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new #col-izq-ic #col-izq-ic-subc-der .fondo-gris-ideas ul li .txt-mini-demo .mas-info a {
text-decoration: none !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .home-img-thumb {
float: left;
position: relative;
width: 220px;
height: 138px;
margin: 16px 20px 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .home-img-thumb.last {
margin: 16px 0 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .home-img-thumb  a img, #wrapper-3 #main #seccionhome.ideasyconsejos-new .box-img  a img {
	-webkit-transition: all ease-out 0.2s;
	-moz-transition: all ease-out 0.2s;
	-o-transition: all ease-out 0.2s;
	-ms-transition: all ease-out 0.2s;
	transition: all ease-out 0.2s;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .home-img-thumb a:hover img, #wrapper-3 #main #seccionhome.ideasyconsejos-new .box-img a:hover img {
	opacity: 0.7;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
	filter: alpha(opacity=70);
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .home-img-thumb .overlay-home-img-thumb{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-image: url(/dam/templating-kit/themes/popLM/img/bg-box-img.png);
	background-position: 0 0;
	background-repeat: repeat;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .home-img-thumb .overlay-home-img-thumb span{
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	padding: 0 10px;
	color: #fff;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .home-img-thumb a:hover .overlay-home-img-thumb {
	text-decoration: none;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .cabecera a.vertodos{
	display: inline-block;
	float: right;
	line-height: 35px;
	font-size: 14px;
	padding-right: 20px;
	background-image: url(/dam/templating-kit/themes/popLM/img/bg-icono-listado.png);
	background-position: right;
	background-repeat: no-repeat;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .cabecera a.vacio{
	width: 15px;
	height: 35px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new input.newsletter{
	width: 93px;
	height: 28px;
	margin-right:5px;
	margin-bottom: 5px;
	padding: 0 0 0 7px;
	line-height: 28px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .ideas-newsletter{
	float: left;
	margin-bottom: 20px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .ideas-newsletter a:hover {
	text-decoration: none !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .ideas-newsletter p{
	font-size: 12px;
	font-weight: bold;
	color: #333;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .ideas-newsletter  label {
	clear: both;
	float: left;
	font-size: 10px;
	line-height: 20px;
	white-space: nowrap;
	width: 215px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .ideas-newsletter  label span.checkbox {
	margin: 2px 4px 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .ideas-newsletter  label a{
	color: #009acf;
	text-decoration: underline;
	font-size: 10px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo a.mas-consejos{
	float: left;
	font-weight: bold;
	font-size: 10px;
	color:#7dbc39;
	text-decoration: underline;
	margin-bottom: 10px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo ul.link-destacamos {
	margin: 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo ul.link-destacamos li{
	width: 160px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo.doble{
	width: 460px;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .box-largo{
	float: left;
	width: 100%;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .box-largo img{
	float: left;
	margin: 10px 20px 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .box-largo{
	margin: 10px 0 0 0;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .box-largo h6 a {
	font: bold 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
	color: #333;
	text-decoration: none;
	margin: 7px 0 5px 0;
	width: 220px;
	float: left;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .box-largo h6 a:hover {
	text-decoration: none !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .box-largo p a {
	font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	text-decoration: none;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .box-largo p a:hover {
	text-decoration: none !important;
}

#wrapper-3 #main #seccionhome.ideasyconsejos-new .vidmed-demo .box-largo a.mas-informacion {
	font-size: 12px;
	color: #7dbc39;
	text-decoration: underline;
}

/*  ######  FIN Sección home #####  */
/* por herencia de la separacion de css de seccion-tiendas.css*/
#main .text {
  overflow: visible !important;
}
/* predictivo del buscador de IYC R3 */
#search-ic-box {
  overflow: visible !important;
}
#search-ic-box div {
  overflow: visible !important;
}

/* Explicativo colocacion de 1 o 2 imagenes IYC R3 */
/* .box-extend-info.enmarcadas.img1 {margin: 0 0 0 33% !important;} */
/* .box-extend-info.enmarcadas.img2 > img:first-child {margin-left: 119px !important;} */
/* .box-extend-info.enmarcadas.img2 > img:last-child {margin-left: 92px !important;} */
.box-extend-info.enmarcadas.img2 > img {width: 285px !important;margin-left:21px !important;}
.box-extend-info.enmarcadas.img1 > img {width: 600px !important;}
/* Fin Explicativo colocacion de 1 o 2 imagenes IYC R3 */
#wrapper-3 #main #seccionhome.ideasyconsejos-new.contenedorAncho #col-izq-ic,
#wrapper-3 #main #seccionhome.ideasyconsejos-new.contenedorAncho .cat-main-content .box-img 
{width: 938px;}

