/* Google Maps Info Box */
  .infoBox, #wrapper-horarios #main-horarios .infoBox {
  /*margin-top: 150px;
  margin-left: 100px;*/
}

  .infoBox .IFcontainer, #wrapper-horarios #main-horarios .infoBox .IFcontainer {
  position: relative;
  width: 208px;
  padding: 10px;
  background-color: #ffffff;
  font-size: 13px;
  color: #999;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

  .infoBox .IFcontainer .IFclose, #wrapper-horarios #main-horarios .infoBox .IFcontainer .IFclose {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-image: url('/dam/templating-kit/themes/popLM/img/lbox_controls.png');
  background-repeat: no-repeat;
}

  .infoBox .IFcontainer .IFcorner, #wrapper-horarios #main-horarios .infoBox .IFcontainer .IFcorner {
  position: absolute;
  bottom: -18px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 18px;
  background-image: url('/dam/templating-kit/themes/popLM/img/info-box-pico.png');
  background-repeat: no-repeat;

}

  .infoBox .IFcontainer img.IFheader, #wrapper-horarios #main-horarios .infoBox .IFcontainer img.IFheader {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

  .infoBox .IFcontainer div#IFtitleBox, #wrapper-horarios #main-horarios .infoBox .IFcontainer div#IFtitleBox {
  margin: 5px 0 1px 0;
  font-size: 17px;
  color: #7DBA39;
  font-weight: 600;
  letter-spacing: -1px;
}

  .infoBox .IFcontainer .bt-simple, #wrapper-horarios #main-horarios .infoBox .IFcontainer .bt-simple {
  margin: 5px 0 1px 0;
}

  #wrapper-horarios #main-horarios .infoBox .IFcontainer .IFcontentBox, #buscadorMapaGoogle .infoBox .IFcontentBox {
  padding-bottom: 10px;
}

  .infoBox .IFcontainer .bt-simple, #wrapper-horarios #main-horarios .infoBox .IFcontainer .IFcontentBox > .bt-simple {
  font-size: 13px;
  padding: 1px 8px 2px;
  text-decoration: none !important;
}


