@charset "utf-8";

/* Parches css */

/**************************************/
/*  Servicios
*/
#tienda-servicios #content p a {color: #7DBB39;float: none !important;width: auto !important;}
#tienda-servicios #content a {display: inline;float: left;font-size: 14px;width: 600px;}
#tienda-servicios #content p a {display: inline;margin: 0;}
#tienda-servicios #content a {color: #26A8D4;display: block;text-decoration: underline;}
.servicio {overflow:hidden; padding-top: 2px;}

/**************************************/
/*  Home
*/

/* para poder tener los botones de edición de las características */
#caracteristicas-compra table span {position: relative!important;}

/* botones de productos */
#listado-productos table span {word-spacing: 0!important;letter-spacing:0!important;}

/* correción para 4 columnas */

#tienda-home #content #listado-productos {width: 100%;}
#tienda-home #content #listado-productos {width: 100%!important;}
#tienda-home #content #listado-productos li {width: 21%!important;}
#slider-destacados-controls {background-color: #000000;filter:alpha(opacity=50) !important;}
/* #banner-destacados #slider-destacados-controls {background-color: transparent !important;filter:alpha(opacity=0) !important;}*/

/**************************************/
/*  Datos Carrito - paso 2
*/

/* .checkbox {background-image: url("/dam/templating-kit/themes/popLM/img/checkbox-medium.png");background-position: 0 -16px;cursor: pointer;display: inline-block !important;height: 16px;line-height: 16px !important;padding-left: 0 !important;text-indent: -9999pt;vertical-align: text-top !important;width: 17px !important;} */
#tienda-carrito form label.clickeable {margin-left: 0px!important;}

/**************************************/
/*  Faq
*/
#tienda-faq #content ul {width: 100%;}
#tienda-faq #content ul li {background-image: url("/dam/templating-kit/themes/popLM/img/bullet-dic-grey.png");background-position: 0 6px;background-repeat: no-repeat;color: #719D41;display: inline-block;line-height: 19px;padding-left: 14px;padding-top: 0;vertical-align: top;width: 48%;}

/**************************************/
/*  Legal
*/

#tienda-legal #content ul {width: 100%;}
#tienda-legal #content ul li {background-image: url("/dam/templating-kit/themes/popLM/img/bullet-disc-green-8px.png");background-position: 0 2px;background-repeat: no-repeat;color: #666666;font-size: 12px;line-height: 14px;margin-bottom: 12px;padding-left: 14px;vertical-align: top;width: 48%;display: inline-block;list-style-image: url("/dam/templating-kit/themes/popLM/img/bullet-disc-green-8px.png");}
/* se elimina un span de número y se aplican los estilos al ol de las listas numeradas */

#tienda-legal #content ol {color: #83B817;font-size: 18px;font-weight: bold!important;list-style: decimal outside none;margin-left: 23px;margin-top: 2px !important;}
#tienda-legal #content ol li{padding-left: 0px!important;}
#tienda-legal #content ol li p{font-weight: normal;font-size:13px;color: #666666;line-height: 14px;margin-bottom: 14px;}
/* modificacion fusion R3 12/09/2013*/
#mi-pedido {/*padding-right: 44px;width: auto;*/}
/**************************************/
/*  ShowRoom
*/
.clearing-color {margin-bottom: 31px!important;}

/**************************************/
/*  Pago carrito
*/

#metodos-pago {display: block!important;float: left!important;margin-bottom: 23px!important;overflow: visible!important;padding-top: 10px!important;width: 440px!important;}

/**************************************/
/*  Datos facturacion / financiacion
*/

.data-carrito {display: block!important;margin-bottom: 0px!important;margin-right: 0px!important;width: 440px!important;}
.data-carrito #containerCompraP2CD2 {margin-top: 34px!important;}
.data-carrito .clickeable {margin-bottom: 16px!important;}
#form-financiacion.data-carrito input, #form-registration.data-carrito input {width: 300px !important;}
#form-financiacion.data-carrito .sbHolder {width: 310px !important;}
#form-financiacion.data-carrito textarea {width: 300px !important;}

/* #form-financiacion label {
*float:none!important;
}*/

/* error de validacion muestra * en rojo */
.err-val {color: red;font-size: 22px;font-weight: bold;margin-left: 4px;vertical-align: middle;}
.err-val-combo {margin-left: 0px!important;color: red;font-size: 22px;font-weight: bold;vertical-align: middle;}
/* modificacion fusion R3 11/09/2013*/
#form-financiacion .errorDiv {
    color: #FF0000;
/*font-family: "HelveticaNeue";*/
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    float: left;
}

/**************************************/
/*  Listado Compuesto y Listado simple
/*  centrado imagenes
/*  multicriterios
/*  boton restablecer
*/

#listado-productos li img {display: block!important;margin-left: auto!important;margin-right: auto!important;}
#tienda-listado #filtro-opciones form ul {border-left: 1px solid #DDDDDD;margin-left: 26px;padding-left: 24px;}
#tienda-listado #filtro-opciones a.restablecer {clear: both;color: #0099CC;display: block;float: none;margin-left: -2px;padding-top: 10px;text-decoration: underline;}

/**************************************/
/*  Precio oferta
*/

strong.precio-oferta span {background-color: transparent;}

#tienda-carrito table td > strong {padding: 3px 4px 1px 3px!important;}
#form-financiacion .sbOptions {width: 310px!important;}

/**************************************/
/*  Capa de Gastos de envio
*/

#containerGastosEnvio {background-color:white;/* position: absolute;width: 313px;z-index: 9999;-moz-border-radius: 5px 5px 5px 5px;-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.5);-moz-user-select: none;background: -moz-linear-gradient(center top , #ffffff, #f3f3f3) repeat scroll 0 0 transparent;*//* left: 475px;top: 160px;display: none;*/}
#containerFichaMasInfoData {overflow: hidden;position: relative;text-align: left;top: 10px;width: 260px;z-index: 10;margin-bottom: 2px;}
#tablaTarifaP1 tr td {color: #333333;font-size: 10px!important;padding: 3px!important;}
#tablaTarifaP1 tr td + td {color: #333333;font-size: 10px !important;vertical-align: middle;}
#containerGastosEnvio  p {border: 0 none;margin: 0 0 11px;padding: 0;color: #333333;font-size: 10px !important;}
strong.precio-normal span {background-color: transparent!important;}

/**************************************/
/*  Capa ajuste de descripcion mini carrito
*/

#mi-pedido-desplegable ul li h3 {width: 140px!important;}

/**************************************/
/*  Ajuste para 2 columnas en caracteristicas tecnicas
*/

#tienda-ficha-producto #ficha-tecnica ul li:last-child,
#fichabodegon #ficha-tecnica ul li:last-child,
#fichavariante #ficha-tecnica ul li:last-child,
#fichaoutlet  #ficha-tecnica ul li:last-child, #fichaventaflash  #ficha-tecnica ul li:last-child, #fichasimple #ficha-tecnica ul li:last-child,
#fichauniversal #ficha-tecnica ul li:last-child {border-bottom: 1px solid #CBDEB6!important;}
#tienda-ficha-producto #ficha-tecnica ul,
#fichabodegon #ficha-tecnica ul,
#fichavariante #ficha-tecnica ul,
#fichaoutlet #ficha-tecnica ul, #fichaventaflash #ficha-tecnica ul, #fichasimple #ficha-tecnica ul,
#fichauniversal #ficha-tecnica ul
	{width: 100%!important;}
#tienda-ficha-producto #ficha-tecnica ul li,
#fichabodegon #ficha-tecnica ul li,
#fichavariante #ficha-tecnica ul li,
#fichaoutlet #ficha-tecnica ul li, #fichaventaflash #ficha-tecnica ul li, #fichasimple #ficha-tecnica ul li,
#fichauniversal #ficha-tecnica ul li
	{border-bottom: 1px solid #CBDEB6;display: inline-block!important;width: 100%!important;}

/**************************************/
/*  Entrega dia
*/

#compra-personalizar .compra-personalizar {width: 78%!important;}
#tienda-ficha-producto #compra-personalizar img,
#fichabodegon #compra-personalizar img,
#fichavariante #compra-personalizar img,
#fichaoutlet #compra-personalizar img, #fichaventaflash #compra-personalizar img, #fichasimple #compra-personalizar img,
#fichauniversal #compra-personalizar img
{margin-bottom: 10px!important;}

/* ------------------------- */

.opacidad {opacity:0.6;}

/**************************************/
/*  BackGround por home
*/

body {background-attachment: fixed;
/* background-color: #778F31; */
background-color: #EEEEEE;
color: #000000;
/* font-family: /*"HelveticaNeue",*/Helvetica,Arial,sans-serif;
font-size: 13px;*/
background-attachment: scroll;}

/* modificación fusion R3 16/10/2013 */
.banda_bg {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/dam/templating-kit/themes/popLM/img/bg-body.gif");
    background-position: 0 center;
    background-repeat: repeat-x !important;
    display: block;
    height: 176px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
/*body {background-image: url("/dam/templating-kit/themes/popLM/img/bg_home.jpg");background-repeat: repeat;background-position: 0px 0px;}*/
body {
/* background-image: url("/dam/templating-kit/themes/popLM/img/bg_home_jardin.png"); background-repeat: repeat;*/
  background-position: 0px 0px;}
.bg-calor {/*  background-attachment: fixed; */background-image: url("/dam/templating-kit/themes/popLM/img/bg_home_calor.jpg")!important;background-repeat: repeat;}
.bg-jardin {background-image:  url("/dam/templating-kit/themes/popLM/img/bg_home_jardin.png")!important;background-repeat: repeat;}
.bg-herramientas {background-image:  url("/dam/templating-kit/themes/popLM/img/bg_home_herramientas.jpg")!important;background-repeat: repeat;}
.bg-mamparas_y_platos_de_ducha {background-image:  url("/dam/templating-kit/themes/popLM/img/bg_home_mamparas.jpg")!important;background-repeat: repeat;}
.bg-suelos_laminados_y_de_madera {background-image:  url("/dam/templating-kit/themes/popLM/img/bg_home_suelos.jpg")!important;background-repeat: repeat;}

#masInfoP4Data {height: 420px;overflow-x: hidden;overflow-y: auto;padding: 10px;text-align: left;width: 420px;color: #333333;font-size: 10px;}

/* varios */

.bt-simple {background-color: #000000!important;opacity: 0.5!important;-moz-opacity: 0.5!important;filter: alpha(opacity=50)!important;}
#wrapper {/*position: relative;z-index: 2;*/}

/**************************************/
/* Precios anterior
*/

/* banner de home */
.precioviejo-verde {background-image: url("/dam/templating-kit/themes/popLM/img/del-precioviejo-verde.png")!important;bottom: 0;left: 0;position: absolute;right: 0;top: 0;background-position: center center;background-repeat: no-repeat;}
.precioviejo-blanco {background-image: url("/dam/templating-kit/themes/popLM/img/del-precioviejo-blanco.png");bottom: 0;left: 0;position: absolute;right: 0;top: 0;background-position: center center;background-repeat: no-repeat;}

/* lista de productos */
.precio-tachado {background-image: url("/dam/templating-kit/themes/popLM/img/del-precioviejo.png");background-position: center center;background-repeat: no-repeat!important;bottom: 0;left: 0;position: absolute;right: 0;top: 0;}
#ficha-producto-descripcion span.precio-tachado { /*background-image: url("/dam/templating-kit/themes/popLM/img/del-precioviejo-horiz.png")!important;*/ background-position: center center;background-repeat: repeat-x;bottom: 0;left: 0;position: absolute;right: 0;top: 0;}

/* ficha de producto normal / variante / conjunto */
.precioviejo-rojo-h-principal {background-image: url("/dam/templating-kit/themes/popLM/img/del-precioviejo-horiz.png")!important;background-position: left 6px!important;background-repeat: repeat-x!important;}

/* para el listado de productos de variante o conjunto */
.precioviejo-rojo-h-variante {background-image: url("/dam/templating-kit/themes/popLM/img/del-precioviejo-horiz.png")!important;background-repeat: repeat-x!important;bottom: 0!important;left: 0!important;position: absolute!important;right: 0!important;top: 0!important;background-position: center center!important;}

#compra-personalizar span.precio-tachado {background-image: url("/dam/templating-kit/themes/popLM/img/del-precioviejo-horiz.png")!important;background-repeat: repeat-x!important;bottom: 0!important;left: 0!important;position: absolute!important;right: 0!important;top: 0!important;background-position: center center!important;}

#tienda-ficha-producto #compra-personalizar .precio-viejo,
#fichabodegon #compra-personalizar .precio-viejo,
#fichavariante #compra-personalizar .precio-viejo,
#fichaoutlet #compra-personalizar .precio-viejo, #fichaventaflash #compra-personalizar .precio-viejo, #fichasimple #compra-personalizar .precio-viejo,
#fichauniversal #compra-personalizar .precio-viejo
	{line-height: 20px;}

/* varios */
.fclear {clear: both;}
#tienda-listado.compuesto #listado-productos > li {width: 260px!important;}

/*
#colorbox, #cboxOverlay, #cboxWrapper {top: 102px;}
#cboxOverlay {top: 0px!important;}
*/

/* modificacion fusion 22-08-2013 */
#tienda-listado #filtro-opciones a.restablecer, #productoskk  #filtro-opciones a.restablecer
	{color: #63A90E;display:block; padding: 0; margin:15px 0px -20px;}
#tienda-listado #filtro-opciones a, #productoskk  #filtro-opciones a {font-size: 13px; font-family:/*"HelveticaNeue",*/Helvetica,Arial,sans-serif; }
#tienda-listado #filtro-opciones .bt-text, #productoskk .bt-text {font-size: 13px; font-family:/*"HelveticaNeue",*/Helvetica,Arial,sans-serif; }

/* desconocido */
/*	 {border-left: 1px solid #DDDDDD;float: left;margin-left: 8px;padding-left: 8px;} */

#tooltips-wrapper-volveratiendaonline {display: none;}
#listado-productos .grey {cursor: default;/*float:left;*/}

/* selecion de tienda en ficha producto */
#tienda-ficha-producto #div-tienda-no-seleccionada p,
#fichabodegon #div-tienda-no-seleccionada p,
#fichavariante #div-tienda-no-seleccionada p,
#fichaoutlet #div-tienda-no-seleccionada p, #fichaventaflash #div-tienda-no-seleccionada p, #fichasimple #div-tienda-no-seleccionada p,
#fichauniversal #div-tienda-no-seleccionada p,
#tienda-ficha-producto #div-tienda-seleccionada p,
#fichabodegon #div-tienda-seleccionada p,
#fichavariante #div-tienda-seleccionada p,
#fichaoutlet #div-tienda-seleccionada p, #fichaventaflash #div-tienda-seleccionada p, #fichasimple #div-tienda-seleccionada p,
#fichauniversal #div-tienda-seleccionada p
{color: #999999;font-size: 14px;line-height: 14px;margin-bottom: 10px;}
#tienda-ficha-producto #div-tienda-no-seleccionada .bt-text,
#fichabodegon #div-tienda-no-seleccionada .bt-text,
#fichavariante #div-tienda-no-seleccionada .bt-text,
#fichaoutlet #div-tienda-no-seleccionada .bt-text, #fichaventaflash #div-tienda-no-seleccionada .bt-text, #fichasimple #div-tienda-no-seleccionada .bt-text,
#fichauniversal #div-tienda-no-seleccionada .bt-text,
#tienda-ficha-producto #div-tienda-seleccionada .bt-text,
#fichabodegon #div-tienda-seleccionada .bt-text,
#fichavariante #div-tienda-seleccionada .bt-text,
#fichaoutlet #div-tienda-seleccionada .bt-text, #fichaventaflash #div-tienda-seleccionada .bt-text, #fichasimple #div-tienda-seleccionada .bt-text,
#fichauniversal #div-tienda-seleccionada .bt-text
{font-size: 14px;margin-bottom: 16px;}
#tienda-ficha-producto #div-tienda-no-seleccionada,
#fichabodegon #div-tienda-no-seleccionada,
#fichavariante #div-tienda-no-seleccionada,
#fichaoutlet #div-tienda-no-seleccionada, #fichaventaflash #div-tienda-no-seleccionada, #fichasimple #div-tienda-no-seleccionada,
#fichauniversal #div-tienda-no-seleccionada,
#tienda-ficha-producto #div-tienda-seleccionada,
#fichabodegon #div-tienda-seleccionada,
#fichavariante #div-tienda-seleccionada,
#fichaoutlet #div-tienda-seleccionada, #fichaventaflash #div-tienda-seleccionada, #fichasimple #div-tienda-seleccionada,
#fichauniversal #div-tienda-seleccionada
{float: left;margin-left: 20px;}

/* -------------------- */
#tienda-listado.compuesto #listado-productos li ul.listado-productos-opciones-precio li strong.precio-oferta { min-width: 0px;}

/* sin multicriterios */
#tienda-listado #filtro-opciones form ul.sin-multi-criterios {border-left: none!important;margin-left: 0px!important;padding-left: 0px!important;}
/* tootip ficha producto */
#tienda-ficha-producto .tooltip_comparativa,
#fichabodegon .tooltip_comparativa,
#fichavariante .tooltip_comparativa,
#fichaoutlet .tooltip_comparativa, #fichaventaflash .tooltip_comparativa, #fichasimple .tooltip_comparativa,
#fichauniversal .tooltip_comparativa
{color: #FFFFFF;height: 70px;padding: 10px 12px;width: 200px;}
#tienda-ficha-producto .tooltip_comparativa p,
#fichabodegon .tooltip_comparativa p,
#fichavariante .tooltip_comparativa p,
#fichaoutlet .tooltip_comparativa p, #fichaventaflash .tooltip_comparativa p, #fichasimple .tooltip_comparativa p,
#fichauniversal .tooltip_comparativa p
{margin-bottom: 15px;}

/* Pruebas lightbox con tiendas mas cercanas */

/* Pendiente de pruebas y aprobacion por cliente*/

.tiendas-cercanas{width: 465px;}
#seleccionar-tienda .listado-tiendas-disponibilidad,
#seleccionar-tienda1 .listado-tiendas-disponibilidad
{/*  border-right: 1px dotted #666666;   */float: left;padding-bottom: 20px;width: 234px;}
.tienda-cercana .img-producto {border-right: 1px dotted #666666;float: left;padding-left: 10px;width: 210px;}
.tienda-cercana h2.tit-inferior {font-size: 1.4em;letter-spacing: -1px;margin-bottom: 13px;}
.infoTienda .ico-rojo {background: url("/dam/templating-kit/themes/popLM/img/boton-x-nok.jpg") no-repeat scroll 0 2px transparent;display: block;padding-left: 19px;}
.colInfo h4 {margin-bottom: 10px;}
.listado-tiendas-disponibilidad dl dd {    margin-bottom: 5px;}

.seleccionar-tienda .colInfo .img-producto{float: left;padding-left: 10px;padding-bottom: 20px;border-left: 1px dotted #666666;}
.seleccionar-tienda .colInfo{ float: left;margin-bottom: 20px;border-bottom: 1px dotted #666666;}
.tienda-cercana h2 {font-size: 21px;}

/* Modificación 2013-02-13 - formulacio datos de envio */
#form1 #form-envio.columna .calle, #form1 #form-envio.columna .numero, #form1 #form-envio.columna .escalera, #form1 #form-envio.columna .piso, #form1 #form-envio.columna .cod-postal{clear: none !important;float: left !important;}

#form1 #form-envio.columna .calle {width: 334px;}
#form1 #form-envio.columna .calle span {}
#form1 #form-envio.columna .calle input {width: 194px !important;}
#form1 #form-envio.columna .calle span.err-val {}

#form1 #form-envio.columna .numero {float: right !important;
    width: 82px;}
#form1 #form-envio.columna .numero span {padding-left: 0;width: 20px!important;}
#form1 #form-envio.columna .numero input {width: 39px !important;}
#form1 #form-envio.columna .numero span.err-val {margin-left: 4px;margin-right: 0;}

#form1 #form-envio.columna .escalera {width: 165px;}
#form1 #form-envio.columna .escalera span{}
#form1 #form-envio.columna .escalera input{width: 25px !important;}
#form1 #form-envio.columna .escalera span.err-val {margin-left: 4px;margin-right: 0;}

#form1 #form-envio.columna .piso {width: 102px;}
#form1 #form-envio.columna .piso span{margin: 0 10px;width: 30px;padding-left: 0;}
#form1 #form-envio.columna .piso input{width: 25px !important;}
#form1 #form-envio.columna .piso span.err-val {margin-left: 4px;margin-right: 0;}

#form1 #form-envio.columna .cod-postal {float: right !important;
    width: 149px;}
#form1 #form-envio.columna .cod-postal span{margin: 0 10px;width: 76px;padding-left: 0;}
#form1 #form-envio.columna .cod-postal input{width: 50px !important;}
#form1 #form-envio.columna .cod-postal span.err-val {margin-left: 4px;margin-right: 0;}

#form1 #form-envio.columna .numero span, #form1 #form-envio.columna .piso span, #form1 #form-envio.columna .cod-postal span{margin-left: 10px; margin-right: 10px;}

/* ------ form-financiacion-2 --- */
#form-financiacion-2.data-carrito .sbHolder {width: 310px !important;}
#form-financiacion-2 .sbOptions {width: 310px!important;}
#form1 #form-financiacion-2 .calle, #form1 #form-financiacion-2 .numero, #form1 #form-financiacion-2 .escalera, #form1 #form-financiacion-2 .piso, #form1 #form-financiacion-2 .cod-postal{clear: none !important;float: left !important;}


#form1 #form-financiacion-2 .calle {width: 334px;}
#form1 #form-financiacion-2 .calle span {}
#form1 #form-financiacion-2 .calle input {width: 194px !important;}
#form1 #form-financiacion-2 .calle span.err-val {}
/* modificacion fusion R3 23/10/2013 */
#form1 #form-financiacion-2 .numero {float: right !important;
    width: 89px;}
#form1 #form-financiacion-2 .numero span {padding-left: 0;width: 20px!important;}
#form1 #form-financiacion-2 .numero input {width: 39px !important;}
#form1 #form-financiacion-2 .numero span.err-val {margin-left: 4px;margin-right: 0;}

#form1 #form-financiacion-2 .escalera {width: 165px;}
#form1 #form-financiacion-2 .escalera span{}
#form1 #form-financiacion-2 .escalera input{width: 25px !important;}
#form1 #form-financiacion-2 .escalera span.err-val {margin-left: 4px;margin-right: 0;}

#form1 #form-financiacion-2 .piso {width: 102px;}
#form1 #form-financiacion-2 .piso span{margin: 0 10px;width: 30px;padding-left: 0;}
#form1 #form-financiacion-2 .piso input{width: 25px !important;}
#form1 #form-financiacion-2 .piso span.err-val {margin-left: 4px;margin-right: 0;}
/* modificacion fusion R3 23/10/2013 */
#form1 #form-financiacion-2 .cod-postal {float: right !important;
    width: 156px;}
#form1 #form-financiacion-2 .cod-postal span{margin: 0 10px;width: 76px;padding-left: 0;}
#form1 #form-financiacion-2 .cod-postal input{width: 50px !important;}
#form1 #form-financiacion-2 .cod-postal span.err-val {margin-left: 4px;margin-right: 0;}

#form1 #form-financiacion-2 .numero span, #form1 #form-financiacion-2 .piso span, #form1 #form-financiacion-2 .cod-postal span{margin-left: 10px; margin-right: 10px;}


/*Anexo - R3 - Fuasion - 21/06/2013 */

/* modificacion fusion R3 19/09/2013 */
#tienda-ficha-producto #ficha-producto-descripcion,
#fichabodegon #ficha-producto-descripcion,
#fichavariante #ficha-producto-descripcion,
#fichaoutlet #ficha-producto-descripcion, #fichaventaflash #ficha-producto-descripcion, #fichasimple #ficha-producto-descripcion,
#fichauniversal #ficha-producto-descripcion
{
	/* 462 old */
    width: 450px !important;
}

.precio.calculadora-align .input-text {
    float: inherit;
    height: 21px !important;
}



/* ********************************************************** */
/* ParcheBuscador.css */

#search-box{overflow:visible!important;}
#search-box div{overflow:visible!important;}
#buscador .customStyleSelectBox {
  background: url("/dam/templating-kit/themes/popLM/img/buscador-ui.png") no-repeat scroll 124px 5px #EFEFEF;
  border: 0 none;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 3px #333333 inset;
  color: #666666;
  float: left;
  font-family: /*"HelveticaNeue",*/Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-right: 4px;
  padding: 1px 7px 2px;
  position: relative;
  transition: all 0.2s ease-out 0s;
  width: 130px;
}

/* Modificacion ficha universal 10/09/2013 */
.acepta-terms{     color: #666666;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
.acepta-terms a {
    color: #0099CC;
    text-decoration: underline;
}


/* Css para Edicción en Magnolia .- 20/09/2013 */

#seccionhome.edit li table , .oficinas-centrales div table{float:left;}