/* CGS CODE */

#wrapper-3 #main #seccionhome #ficha-producto #ficha-producto-descripcion p.serie-precio{
  color: #000;
  margin-top: 40px;
}



/** DESDE */
#ficha-producto div.box-precio span.precio span.sinceCGS,
#ficha-producto span.precio span.sinceCGS,
#listado-productos div.box-precio span.precio span.sinceCGS,
#wrapper-3 #main #seccionhome.r2plus #listado-productos li p.serie-precio span.precio span.sinceCGS,
#wrapper-3 #main #seccionhome.r2plus li div.box-precio span.precio span.sinceCGS,
#wrapper-3 #main #seccionhome #listado-productos li div.box-precio span.precio-uv span.sinceCGS,
#wrapper-3 #main #seccionhome div.productos #listado-productos-variantes li div.box-precio span.precio span.sinceCGS,
#wrapper-3 #main #seccionhome.r2plus #listado-productos li span.precio-uv span.sinceCGS,
#wrapper-3 #main #seccionhome.r2plus #listado-productos li span.precio span.sinceCGS,
#wrapper-3 #main #seccionhome.r2plus .contenido-comparativa .comparador-listado li div.box-precio span.precio-uv span.sinceCGS,
#wrapper-3 #main #seccionhome #ficha-producto #ficha-producto-descripcion p.serie-precio span.precio-uv span.sinceCGS,
#wrapper-3 #main #seccionhome #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio span.precio-uv span.sinceCGS,
#wrapper-3 #main #seccionhome #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio span.precio span.sinceCGS,
#wrapper-3 #main #seccionhome #id-r2 .wrap-content-tab .wrap-content-tab .productos #listado-productos-variantes #box-precio span.precio span.sinceCGS, 
#wrapper-3 #main #seccionhome #id-r2.variante #ficha-producto #ficha-producto-descripcion div.final span.precio span.sinceCGS,
#wrapper-3 #main #seccionhome .productos .wrap-list-content .box-precio span.precio-uv span.sinceCGS,
#wrapper-3 #main #seccionhome .productos .wrap-list-content .serie-precio span.precio-uv span.sinceCGS,
#wrapper-3 #main #seccionhome #listado-productos.flash > li div.box-precio span.precio span.sinceCGS,
#wrapper-3 #main #seccionhome #ficha-producto #ficha-flash-variante.box-precio span.sinceCGS,
#wrapper-3 #main #seccionhome #listado-productos #listado-flash-variante.box-precio span.sinceCGS,
#wrapper-3 #main #showroom-main .banner-producto-destacado-descripcion div.title-content div.precio-oferta span.sinceCGS,
#wrapper-3 #main #showroom-main .banner-producto-destacado-descripcion div.title-content .precio-white span.sinceCGS {
  vertical-align: baseline;
  font-size: 13px;
  line-height: 13px;
  padding-right: 2px;
  font-weight: 700;
/*   color:#a1a1a1; */
}


/** DECIMAL Y EURO (SUPERÍNDICE) */
#fichauniversal #seccionhome div.precio.calculadora-align #ficha-simpleR3.box-precio span.precio span.supCGS, 
#ficha-producto #ficha-simpleR3.box-precio span.supCGS,
#ficha-producto div.box-precio span.precio span.supCGS,
#ficha-producto span.precio span.supCGS ,
#listado-productos div.box-precio span.precio span.supCGS,
#wrapper-3 #main #seccionhome.r2plus #listado-productos li p.serie-precio span.precio span.supCGS,
#wrapper-3 #main #seccionhome.r2plus #listado-productos li span.precio-uv span.supCGS,
#wrapper-3 #main #seccionhome div.productos #listado-productos li div.box-precio span.precio-uv span.supCGS,
#wrapper-3 #main #seccionhome.r2plus #listado-productos li span.precio span.supCGS,
#wrapper-3 #main #seccionhome #listado-productos-variantes li div.box-precio span.precio span.supCGS,
#wrapper-3 #main #seccionhome.r2plus .contenido-comparativa .comparador-listado li div.box-precio span.precio-uv span.supCGS,
#wrapper-3 #main #seccionhome #ficha-producto #ficha-producto-descripcion p.serie-precio span.precio-uv span.supCGS,
#wrapper-3 #main #seccionhome #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio span.precio-uv span.supCGS,
#wrapper-3 #main #seccionhome #id-r2.variante #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 div.final span.precio span.supCGS,
#wrapper-3 #main #seccionhome.r2plus .comparador-listado .box-precio span.precio span.supCGS,
#wrapper-3 #main #seccionhome #listado-productos li .box-precio span.precio-uv span.supCGS,
#wrapper-3 #main #seccionhome .productos .wrap-list-content .box-precio span.precio-uv span.supCGS,
#wrapper-3 #main #seccionhome .productos .wrap-list-content .serie-precio span.precio-uv span.supCGS, 
#wrapper-3 #main #seccionhome #listado-productos.flash > li div.box-precio span.precio span.supCGS, 
#wrapper-3 #main #seccionhome #ficha-producto #ficha-flash-variante.box-precio span.supCGS,
#wrapper-3 #main #seccionhome #listado-productos #listado-flash-variante.box-precio span.supCGS, 
#wrapper-3 #main #showroom-main .banner-producto-destacado-descripcion div.title-content div.precio-oferta span.supCGS,
#wrapper-3 #main #showroom-main .banner-producto-destacado-descripcion div.title-content .precio-white span.supCGS{
    vertical-align: super;
    font-size: 14px;
    font-weight: 700;
}


#wrapper-3 #main #seccionhome.r2plus2 #listado-productos li p.serie-precio span.precio span {
    position: initial;
    top: 0px;
    left: 0px;
}

/* FICHA R2PLUS DECIMALES DE CAJA PRECIO CAMBIA POR CALCULADORA */
#wrapper-3 #main #seccionhome #id-r2 #ficha-producto div.final span.precio span.supCGS {
    vertical-align: super;
    font-size: 14px;
    font-weight: 700;
    top: 0px;
}

/*SHOWROOM  */
#wrapper-3 #main .text div #showroom-main .banner-producto-destacado-descripcion div.title-content div.precio-oferta {
    font-size: 28px;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 6px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    vertical-align: baseline;
}
/* FIN PRECIO DESDE EN BANNER SHOWROOM */


/** PRECIO ENTERO R2 */

#ficha-producto #ficha-simpleR3.box-precio #no-oferta-ecommerce{
	font-size: 28px!important;
  	font-weight: 700!important;
	
}

#ficha-producto #ficha-simpleR3.box-precio #no-oferta-ecommerce,
#wrapper-3 #main #seccionhome #listado-productos > li #listado-simpleR3 div.calculadora-precio, 
#ficha-producto #ficha-simpleR3.box-precio span.precio-uv,
#wrapper-3 #main #seccionhome.r2plus #listado-productos li p.serie-precio span.precio-sinpromoCGS,
#wrapper-3 #main #seccionhome.r2plus #listado-productos li span.precio-uv span.precio-sinpromoCGS,
#wrapper-3 #main #seccionhome #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 div.box-precio.final span#no-oferta-ecommerce,
#wrapper-3 #main #seccionhome.r2plus #listado-productos li span.precio-uv,
#wrapper-3 #main #seccionhome #ficha-producto p.serie-precio span.precio,
#wrapper-3 #main #seccionhome #listado-productos li div.box-precio span.precio-sinpromoCGS,
#wrapper-3 #main #seccionhome #listado-productos li div.box-precio span.precio-uv,
#wrapper-3 #main #seccionhome.r2plus .contenido-comparativa .comparador-listado li div.box-precio span.precio-uv,
#wrapper-3 #main #seccionhome #ficha-producto #ficha-producto-descripcion p.serie-precio span.precio-uv,
#wrapper-3 #main #seccionhome div.productos #listado-productos-variantes li div.box-precio span.precio,
#wrapper-3 #main #seccionhome #id-r2.presupuesto #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio span.precio-uv, 
#wrapper-3 #main #seccionhome.r2plus .comparador-listado .box-precio span.precio, 
#wrapper-3 #main #seccionhome .productos .wrap-list-content .box-precio span.precio-uv,
#wrapper-3 #main #seccionhome .productos .wrap-list-content .serie-precio span.precio-uv {
  font-size: 28px;
  font-weight: 700;
  color:#000000;
  padding-top: 6px;
  padding-left: 4px;
}

/* PRECIO UV DE:
 * FICHA R2PLUS SIN PRESUPUESTO
 * FICHA VARIANTE FLASH */
#wrapper-3 #main #seccionhome #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio span.precio-uv, 
#wrapper-3 #main #seccionhome #ficha-producto #ficha-flash-variante.box-precio span.precio{
  font-size: 28px;
  font-weight: 700;
  color:#000000;
  padding-top: 6px;
  padding-left: 4px;
}

#wrapper-3 #main #seccionhome #ficha-producto #ficha-flash-variante.box-precio {
	clear: both;
    margin-top: 75px; 
    margin-bottom: 8px;
}



/* FICHA FLASH */
#wrapper-3 #main #seccionhome #ficha-producto #ficha-flash-variante.box-precio span.precio,
#wrapper-3 #main #seccionhome #listado-productos #listado-flash-variante.box-precio span.precio {
  font-size: 28px!important;
  font-weight: 700!important;
  color:#000000;
  padding-top: 6px;
  padding-left: 4px;
}

#wrapper-3 #main #seccionhome #ficha-producto #ficha-flash-variante.box-precio span.precio span {
    position: initial;
    top: 0px;
}




/* CARRUSEL R2 PLUS DENTRO DE FICHA PRODUCTO*/
#wrapper-3 #main #seccionhome div.wrap-content-tab div.productos li.carruselR2Variante div.wrap-list-content p.serie-precio span.precio-uv,
#wrapper-3 #main #seccionhome div.wrap-content-tab div.productos li.carruselR2Variante div.wrap-list-content div.box-precio span.precio-uv {
	font-size: 22px!important;
}

#wrapper-3 #main #seccionhome.r2plus #listado-productos li p.serie-precio .euros-uv,
#wrapper-3 #main #seccionhome.r2plus-ficha #ficha-producto .box-precio .euros-uv,
#wrapper-3 #main #seccionhome #listado-productos li div.box-precio .euros-uv,
#wrapper-3 #main #seccionhome #ficha-producto #ficha-producto-descripcion p.serie-precio .euros-uv,
#wrapper-3 #main #seccionhome #id-r2.variante #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 div.final span.precio .euros-uv,
#wrapper-3 #main #seccionhome #id-r2.variante #ficha-producto #ficha-producto-descripcion div.final span.precio .euros-uv,
#wrapper-3 #main #seccionhome.r2plus .comparador-listado .box-precio span.precio .euros-uv,
#wrapper-3 #main #seccionhome .productos .wrap-list-content .box-precio span.precio-uv .euros-uv,
#wrapper-3 #main #seccionhome .productos .wrap-list-content .serie-precio span.precio-uv .euros-uv,
#wrapper-3 #main #seccionhome #ficha-producto #ficha-flash-variante.box-precio span.precio .euros-uv, 
#wrapper-3 #main #showroom-main .banner-producto-destacado-descripcion div.title-content div.precio-oferta .euros-uv,
#wrapper-3 #main #showroom-main .banner-producto-destacado-descripcion div.title-content .precio-white .euros-uv {
  font-size: 14px;
  margin-left:2px;
  vertical-align: baseline;
  font-weight: bold;
}

/* TACHADO EN:
 * SHOWROOM BANSHOWROOMR3 */
#wrapper-3 #main #showroom-main .banner-producto-destacado-descripcion div.title-content .precio-white.tachado {
    background-image: url(/dam/templating-kit/themes/popLM/img/bg-tachado-white.png);
    background-repeat: no-repeat;
    background-position: 5px 11px;
}

/*  DOS COLUMNAS R2PLUS */
#wrapper-3 #main #seccionhome.r2plus #listado-productos-contenedor #listado-productos.dos-columnas li .wrap-list-content p.serie-precio span.precio{
    float:left;
    font-size:28px;
    margin-bottom: 0;
}

 #wrapper-3 #main #seccionhome.r2plus ul#listado-productos.dos-columnas li p.serie-precio,
 #wrapper-3 #main #seccionhome.r2plus ul#listado-productos.col2 div.box-precio {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-top: 0;
 }

#wrapper-3 #main #seccionhome div.wrap-content-tab div.productos li.carruselR2Variante div.wrap-list-content p.serie-precio {
    clear:both;
    float:left;
    margin-bottom:14px;
    width: auto;
}

#wrapper-3 #main #seccionhome.r2plus ul#listado-productos.dos-columnas li .wrap-list-content p.serie-precio span.precio-uv.oferta-ecommerce,
#wrapper-3 #main #seccionhome.r2plus ul#listado-productos.dos-columnas li .wrap-list-content p.serie-precio span.precio-uv.precio-sinpromoCGS{
    clear: right;
    float:left;
    width:auto;
    margin-bottom: 0;
}

/* LISTADO R2PLUS 2 COLUMNAS MENSAJE PRECIO CAJA */
#wrapper-3 #main #seccionhome.r2plus ul#listado-productos.dos-columnas li .wrap-list-content p.serie-precio span.precio-caja{
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* LISTADO R2PLUS 3 COLUMNAS MENSAJE PRECIO CAJA */
#wrapper-3 #main #seccionhome.r2plus ul#listado-productos li .wrap-list-content p.serie-precio span.precio-caja{
	clear: both;
	float: left;
    margin-top: 10px;
}

/* CARRUSEL TAB VARIANTE R2PLUS (DENTRO DE FICHA R2PLUS) */
#wrapper-3 #main #seccionhome .productos .wrap-list-content .serie-precio span.precio-caja, 
#wrapper-3 #main #seccionhome .productos .wrap-list-content .box-precio span.precio-caja {
	clear: left;
    float: left;
    font-size: 11px;
    margin-top: 5px
}

/* FICHA R2PLUS COMUN MENSAJE PRECIO CAJA*/
#wrapper-3 #main #seccionhome #id-r2 #ficha-producto .box-precio span.precio-caja{
	clear: left;
    float: left;
    margin-top: 10px;
    font-size: 12px;
}

/* FICHA R2PLUS COMUN BOX PRECIO */
#wrapper-3 #main #seccionhome #id-r2.variante #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio,
#wrapper-3 #main #seccionhome #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio{
    margin: 0px 23px 10px 0;
    float: left;
    clear: none;
    width: auto;
}

/*FICHA R2PLUS COMUN / PRECIO POR TIPO DE ELEMENTO VENTA ..caja/rollo) */
#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio.final{
    margin: 0;
    margin-left: -5px;
    float:left;
    width:100%;
 }

/* LISTADO FLASH VARIANTE BOX PRICE*/
#wrapper-3 #main #seccionhome #listado-productos.flash > li div.box-precio{
	margin-top: 40px;
}
 
/* precio desde Ficha R2 */
#wrapper-3 #main #seccionhome #id-r2.variante #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio .precio-uv.oferta-ecommerce{
    clear: right;
    float:left;
    width:auto;
}
#wrapper-3 #main #seccionhome #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio span.precio-uv{
	clear: right;
    float:left;
    width:auto;
}


#wrapper-3 #main #seccionhome #id-r2.variante #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio .precio-caja{  
    clear:left;
    float:left;
}

#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2.variante #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 div.box-precio.final .box-precio.precio{
    float:left;
}
#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2.variante #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 div.box-precio.final .box-precio.precio span.precio-uv.oferta-ecommerce{
    margin-top: 0;
    float:right;
    width:auto;
}
#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2.variante #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 div.box-precio.final .box-precio.precio span.precio-caja{
    margin-top: 0;
    float:right;
    width:auto;
}
#wrapper-3 #main #seccionhome.r2plus-ficha div.text #id-r2.variante #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 a.btn.add{
    margin-top:14px;
    
}
/** OFERTA E-COMMERCE */
#wrapper-3 #main #seccionhome.r2plus2 #listado-productos li p.serie-precio span.oferta-ecommerce,
#wrapper-3 #main #seccionhome.r2plus #listado-productos li span.oferta-ecommerce,
#wrapper-3 #main #seccionhome #listado-productos li div.box-precio span.oferta-ecommerce,
#wrapper-3 #main #seccionhome.r2plus #listado-productos li  p.serie-precio span.oferta-ecommerce,
#wrapper-3 #main #seccionhome div.productos #listado-productos-variantes li div.box-precio span.precio span.oferta-ecommerce,
#wrapper-3 #main #seccionhome.r2plus .contenido-comparativa .comparador-listado li div.box-precio span.oferta-ecommerce,
#wrapper-3 #main #seccionhome #ficha-producto #ficha-producto-descripcion p.serie-precio span.oferta-ecommerce,
#wrapper-3 #main #seccionhome #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio.final .box-precio precio-uv.oferta-ecommerce,
#wrapper-3 #main #seccionhome #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio.final .box-precio.precio span.oferta-ecommerce,
#wrapper-3 #main #seccionhome #id-r2.variante #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio.final .box-precio.precio span.oferta-ecommerce,
#wrapper-3 #main #seccionhome div.wrap-content-tab div.productos li.carruselR2Variante div.wrap-list-content p.serie-precio span.precio-uv.oferta-ecommerce,
#wrapper-3 #main #seccionhome #ficha-producto #ficha-flash-variante.box-precio span.precio.oferta-ecommerce {
  background-color: #FFE600;
  padding-top: 6px;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-left: 8px;
  color: #FF0000!important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size:28px;
}
#wrapper-3 #main #seccionhome div.wrap-content-tab div.productos li.carruselR2Variante div.wrap-list-content p.serie-precio span.precio-uv.oferta-ecommerce {
	font-size:22px !important;
}


/** PRECIOS DE R2 SELECCIÓN */
#wrapper-3 #main #seccionhome.r2plus #listado-productos li span.precio-uv span.viejo-ecommerce {
    font-size: 20px;
    background-size: contain;
    color: #666;
    margin-left: 10px;
    background-image: url(../img/del-preciounidadviejo.png);
    background-repeat: repeat-x;
    background-repeat: no-repeat;
    background-position: left 3px;
}

#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2.variante #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio.precio #oferta-ecommerce .precio.oferta-ecommerce{
    margin-bottom: 16px;
}

#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2.variante #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio.precio #viejo-ecommerce.precio.viejo-ecommerce{
    margin-right: 4px;
    float:right;
}
#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2.variante #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio .precio-uv.precio-sinpromoCGS, 
#wrapper-3 #main #seccionhome .productos .wrap-list-content .serie-precio .precio-uv.precio-sinpromoCGS  {

     font-size: 28px;
     float:left;
}

#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2.presupuesto #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1.CssFormNew2015 .box-precio.final #no-oferta-ecommerce.precio.no-oferta-ecommerce{
    font-size: 28px !important;
}

/* PRECIO CAJA  */
   #ficha-producto #ficha-simpleR3.box-precio span.precio-caja{
   width:100%;
   }

   #ficha-producto #ficha-simpleR3.box-precio span.precio-caja,
   #wrapper-3 #main #seccionhome.r2plus #listado-productos li p.serie-precio span.precio-caja,
   #wrapper-3 #main #seccionhome #listado-productos li div.box-precio span.precio-caja,
   #wrapper-3 #main #seccionhome.r2plus .contenido-comparativa .comparador-listado li div.box-precio span.precio-caja,
   #wrapper-3 #main #seccionhome #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio span.precio-caja{
     float: left;
      color:#666666;
      font-weight:normal;
       margin-top:12px;
       clear:left;
   }
#wrapper-3 #main #seccionhome #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio span.precio-caja{
    margin-top:2px;
   }
   /* FICHA VARIANTE */
    #wrapper-3 #main #seccionhome #ficha-producto #ficha-producto-descripcion p.serie-precio span.precio-caja{
      float: left;
      padding-top: 15px;
      font-size: 13px;
      color: #000;
      width: 100%;
      margin-bottom: 5px;
    }
    #fichauniversal #wrapper-2 #seccionhome.r2plus-ficha #id-r2 #ficha-producto.variante #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .precio.calculadora-align{
    float:left;
    width: auto;
    margin-top: -5px;
    margin-bottom:-2px;
    }
    

  /* LISTADOS DOS COLUMNAS R2PLUS Y VARIANTE */
   #wrapper-3 #main #seccionhome #listado-productos.productos-relacionados a.bt-comprar span.precio-caja {
    float: left;
    padding-top: 10px;
    text-align: inherit;
    width: inherit;
    }
    #wrapper-3 #main #seccionhome.r2plus ul#listado-productos.dos-columnas li p.serie-precio span.precio-cajaa {
    float: left;
    padding-top: 10px;
    text-align: inherit;
    }
    
#wrapper-3 #main #seccionhome.r2plus ul#listado-productos.dos-columnas li .wrap-list-content p.serie-precio span.precio.oferta-ecommerce{
    float:left;
    clear:none;
}
#wrapper-3 #main #seccionhome.r2plus ul#listado-productos.dos-columnas li .wrap-list-content p.serie-precio .precio.viejo-ecommerce{
    float:left;
    margin-top:9px
    clear:none;
    margin-top:6px;
}
 
[id^='precio-unidad']{
    margin-bottom: 5px;
    width: auto;
    font-size: 13px;
    }
 
/* Ficha con presupuesto */
#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio.final .box-precio.precio span#no-oferta-ecommerce.precio.no-oferta-ecommerce,
#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio.final .box-precio.precio span#no-oferta-ecommerce.precio.no-oferta-ecommerce span.sinceCGS,
#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio.final span#no-oferta-ecommerce.precio.no-oferta-ecommerce span.sinceCGS
{
    font-size:28px !important;
}
#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2 #ficha-producto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio.final .box-precio.precio span#no-oferta-ecommerce.precio.no-oferta-ecommerce .supCGS{
    font-size: 14px;
    font-weight: 700;
    line-height: 4px;
}

 /* FIN PRECIO CAJA  */
 
#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2.presupuesto #ficha-producto.presupuesto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio span.precio-uv.oferta-ecommerce{
    font-size:20px;
}

#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2.presupuesto #ficha-producto.presupuesto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio span.precio-uv.oferta-ecommerce span.sinceCGS{
    font-size:11px;
    
}

#wrapper-3 #main #seccionhome.r2plus-ficha #id-r2.presupuesto #ficha-producto.presupuesto #ficha-producto-descripcion #ficha-producto-descripcion-caja1 #ficha-producto-descripcion-caja1-1 .box-precio.final .box-precio.precio span.precio.oferta-ecommerce span.sinceCGS{
    font-size:11px;
    
}

 
/* PRECIOS DEL SIDEBAR DE EXPLICATIVOS, EN ARTICULOS RELACIONADOS */

#tienda-explicativo.explicativo #sidebar ul#listado-productos li > div > h3 + a{

    background: none;
    border:none;
    box-shadow: none;
    text-shadow: none;
    cursor:text;
}



#tienda-explicativo.explicativo #sidebar ul#listado-productos > li > div > h3 + a span.precio-uv.precio-sinpromoCGS,
#tienda-explicativo.explicativo #sidebar ul#listado-productos > li > div > h3 + a span.precio-uv.oferta-ecommerce{
    color:#000;
    font-size:16px;
    font-weight: 600;
}

#tienda-explicativo.explicativo #sidebar ul#listado-productos > li > div > h3 + a span.precio-uv.precio-sinpromoCGS span.sinceCGS,
#tienda-explicativo.explicativo #sidebar ul#listado-productos > li > div > h3 + a span.precio-uv.oferta-ecommerce span.sinceCGS{
    color:#666666;
    font-size: 12px;
    font-weight: normal;
}

#tienda-explicativo.explicativo #sidebar ul#listado-productos li > div > h3 + a > span  span.supCGS{
    color:#000;
    font-size: 12px;
    vertical-align: super;
}

#tienda-explicativo.explicativo #sidebar ul#listado-productos li > div > h3 + a > span  span.euros-uv{
    color:#000;
    font-size: 12px;

}
#tienda-explicativo.explicativo #sidebar ul#listado-productos li > div > h3 + a > span.precio-caja{
    color:#666666;
    font-size: 12px;
    margin-top:-8px;
}













