/* Genericos */
.dnPrint{display:none!important;}
.dbPrint{display:block!important;}
.cb{clear: both;}

/* Estructura */
#homeCasaBioclimatica .mgnlMainbarPreview{display:none!important;}
#homeCasaBioclimatica .dnPrintEstructura{display:none!important;}
#homeCasaBioclimatica #list-modules{display: none;}
#homeCasaBioclimatica {background: transparent none repeat scroll 0 0;}
#homeCasaBioclimatica .banda_bg {background: transparent none repeat scroll 0 0;} 
#homeTiendaFisica .dnPrintEstructura{display:none!important;}
#homeTiendaFisica .mgnlMainbarPreview{display:none!important;}

/* Bioclimatica */
#homeCasaBioclimatica #casa-bioclimatica > img.logoLMBioclimatica {display: block!important; float: left;margin-top: 80px; margin-right: 40px;}
#homeCasaBioclimatica .titulo{display:none!important;}
#homeCasaBioclimatica #wrapper-3 #main #casa-bioclimatica h1{margin-top: 80px!important; margin-right: 45px; clear: none; float: left;}
#homeCasaBioclimatica #casa-bioclimatica .bio-escala{margin: -120px 0 0!important;}
#homeCasaBioclimatica #casa-bioclimatica .bio-escala {background-image: none !important;}
#homeCasaBioclimatica #casa-bioclimatica .bio-escala img {display: block !important;}
#homeCasaBioclimatica .right-side {display: none;}
#homeCasaBioclimatica .tiptip_folder.bio-modal .tiptip_close{display: none;}
#homeCasaBioclimatica  #wrapper-3 #main #casa-bioclimatica .notapie{clear: both; display: block;}
/* Fin Bioclimatica */



/* TIENDAS */
#homeTiendaFisica .logoPrintHomeTiendas, 
#actualidad .logoPrintActualidad,
#tiendasDireccionHorarios .logoPrintDireccionHorarios {float: left;margin-top: 0px;margin-right: 40px;display: block!important;width:100%;}
#homeTiendaFisica .eventosList .evento .print-style, 
#homeTiendaFisica .eventosList .apertura .print-style,
#homeTiendaFisica .eventosList .demo .print-style {
  background: transparent none repeat scroll 0 0 !important;
  border: 2px solid #EEEEEE;
  border-radius: 19px;
  padding: 10px;
  width: 500px;
}
#homeTiendaFisica .eventosList .demo .gris .infoEvtNot, 
#homeTiendaFisica .eventosList .evento .gris .infoEvtNot, 
#homeTiendaFisica .eventosList .apertura .gris .infoEvtNot  {width: 415px;}

#homeTiendaFisica .eventosList .demo, 
#homeTiendaFisica .eventosList .evento, 
#homeTiendaFisica .eventosList .apertura  {float: left;	margin-bottom: 10px;}
#homeTiendaFisica img.dbPrint{float: left!important;}

#tiendasDireccionHorarios .dnPrintEstructura{display:none!important;}
#tiendasDireccionHorarios .mgnlMainbarPreview{display:none!important;}

#actualidad .dnPrintEstructura{display:none!important;}
#actualidad .mgnlMainbarPreview{display:none!important;}

/* FIN TIENDAS */


