#wrapper-3 #main .text div.servicios {
	font-family: /*"HelveticaNeue",*/ Helvetica, Arial, sans-serif;
	width: 938px;
	-webkit-font-smoothing: antialiased;
}


#wrapper-3 #main .servicios h1,
#wrapper-3 #main .servicios .descripcion,
#wrapper-3 #main .servicios .destacado {
	/* margin-left: 20px; */
	/*modificacion fusion R3 19/11/2013 */
	 /*    width: auto; */
}


/* Clearfix para que los contenedores de objetos float left entiendan su altura */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
/* end clearfix */









#wrapper-3 #main .servicios .descripcion {
	font-size: 16px;
	color: #777;
	margin-bottom: 15px;
}

#wrapper-3 #main .servicios .descripcion .disponible {
	color: #5F922C;
	background-image: url('/dam/templating-kit/themes/popLM/img/icono-unidades-si-grande.png');
	background-repeat: no-repeat;
	background-position: 0 2px;
	padding-left: 15px;
	font-size: 16px;
}

#wrapper-3 #main .servicios .destacado {
	position: relative;
	top: 0;
	left: 0;

	width: 697px;
	height: 392px;
}

#wrapper-3 #main .servicios .destacado .sombra {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	/* Sombra interior: Desfase X, Desfase Y, Desenfoque, Color */
	-moz-box-shadow: inset 0 3px 9px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 3px 9px 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 3px 9px 0 rgba(0, 0, 0, 0.3);

}


#wrapper-3 #main .servicios .img-cabecera {
	position: absolute;
	top: 0;
	left: 0;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#wrapper-3 #main .servicios .bloque-izq {
	float: left;
	width: 700px;
}

#wrapper-3 #main .servicios .bloque-der {
	float: left;
	width: 200px;
}


#wrapper-3 #main .servicios div {
	font-size: 14px;
	color: #666;
}


#wrapper-3 #main .servicios .title {
	color: #000;
	font-size: 27px;
	font-weight: 500;
	margin: 10px 0 26px 40px ;
	line-height: 24px;
}
/* nueva clase fusion R3 26/11/2013 */
#wrapper-3 #main .servicios .title a {font-size: 27px!important;}

#wrapper-3 #main .servicios .subtitle {
	color: #000;
	margin-top: 5px;
	padding-bottom: 3px;
	font-size: 21px;
	line-height: 21px;
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-dot.png');
	background-repeat: no-repeat;
	display: block;
}

#wrapper-3 #main .servicios .servicio-title {
	display: block;
}



/* Generico de cada bloque */
#wrapper-3 #main .servicios .block-servicio>ul {
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-line.png');
	background-repeat: repeat-y;
}

#wrapper-3 #main .servicios .block-servicio>li {
	margin-bottom: 15px;
}

#wrapper-3 #main .servicios .block-servicio .padding {
	padding-left: 40px;
}

#wrapper-3 #main .servicios .block-servicio {
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-curva-bloque.png');
	background-repeat: no-repeat;
	background-position: 0 44px;
	margin: 25px 0 30px 0;
	/*padding: 75px 0 0 0;*/
}

#wrapper-3 #main .servicios .block-servicio .disponible {
	color: #5F922C;
	background-image: url('/dam/templating-kit/themes/popLM/img/icono-unidades-si.png');
	background-repeat: no-repeat;
	background-position: 41px 1px;
	padding-left: 52px;
	font-size: 11px;
}

#wrapper-3 #main .servicios .otras {
	display: block;
	margin-bottom: 2px;
	color: #5F922C;
	font-size: 11px;
	text-decoration: underline;
}

#wrapper-3 #main .servicios .otras:hover {
	color: #5F922C;
	font-size: 11px;
	text-decoration: none;
}

#wrapper-3 #main .servicios .mas-info {
	font-size: 13px;
}

#wrapper-3 #main .servicios a:focus {
	outline: 0 !important;
}

#wrapper-3 #main .servicios .block-servicio>ul li {
	margin-bottom: 30px;
}

#wrapper-3 #main .servicios .block-servicio>ul li.last {
	margin-bottom: 0;
	background-color: #fff;
}




/* Columna Izquierda */
#wrapper-3 #main .servicios .columna-1 {
	/*margin-left: 20px;*/
	width: 48%;
	float: left;
	clear: none;
	padding: 0 2% 0 0;
}


/* Columna Central */
#wrapper-3 #main .servicios .columna-2 {
	width: 48%;
	float: left;
	clear: none;
	padding: 0 2% 0 0;
}





/* Columna Derecha */
#wrapper-3 #main .servicios .block-destacados {
	background-color: #eee;
	margin-left: 16px;
	float: left;
	width: 222px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#wrapper-3 #main .servicios .block-destacados .padding {
	padding-left: 18px;
}

#wrapper-3 #main .servicios .block-destacados .disponible {
	color: #5F922C;
	background-image: url('/dam/templating-kit/themes/popLM/img/icono-unidades-si.png');
	background-repeat: no-repeat;
	background-position: 19px 2px;
	font-size: 12px;
	padding-left: 30px;
}


#wrapper-3 #main .servicios .block-destacados ul {
	background-image: none;
}

#wrapper-3 #main .servicios .block-destacados .title {
	color: #000;
	font-size: 27px;
	font-weight: 500;
	margin: 20px 0 18px 15px;
	line-height: 24px;
}

#wrapper-3 #main .servicios .block-destacados .subtitle {
	background-image: none;
	display: block;
}


#wrapper-3 #main .servicios .block-destacados .picto {
	margin-top: 10px;
}


/* Sombra */
#wrapper-3 #main .servicios .block-destacados li {
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-sombra.png');
	background-repeat: no-repeat;
	padding: 10px 0 0 0;
	margin: 0 10px 18px 0;
}



/* Destacados Varios */
#wrapper-3 #main .servicios .block-varios {
	margin-left: 16px;
	margin-top: 30px;
	float: left;
	width: 222px;
}

#wrapper-3 #main .servicios .block-varios li {
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-sombra.png');
	background-repeat: no-repeat;
	background-position: 0 bottom;
	padding: 0 0 55px 0;
}
#wrapper-3 #main .servicios .block-varios .caja.sombra-sup{
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-sombra.png');
	background-repeat: no-repeat;
	background-position: 0 bottom;
	padding: 0 0 55px 0;
}

#wrapper-3 #main .servicios .block-varios .caja.sombra-sup.last{
	background-image: none;
}

#wrapper-3 #main .servicios .block-varios li.last {
	background-image: none;
}

#wrapper-3 #main .servicios .block-varios .title {
	color: #000;
	font-size: 27px;
	font-weight: 400;
	margin: 0 0 10px 0;
	padding-right: 62px;
	line-height: 24px;
	letter-spacing: -1px;
	display: block;
}

#wrapper-3 #main .servicios .block-varios .mas-info {
	font-size: 15px;
	margin-top: 15px;
	display: block;
}

#wrapper-3 #main .servicios .block-varios .dudas {
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-interrogacion.png');
	background-repeat: no-repeat;
	background-position: right top;
}

#wrapper-3 #main .servicios .block-varios .contacta {
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-burbujas.png');
	background-repeat: no-repeat;
	background-position: right top;
}

#wrapper-3 #main .servicios .block-varios .ayudanos {
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-tic.png');
	background-repeat: no-repeat;
	background-position: right top;
}














/* Servicios Productos Bajo Pedido */
/* ########################################## */
#wrapper-3 #main .servicios .contenido {
	/*margin-top: 18px;*/
	padding-top: 18px;
	margin-bottom: 60px;
	padding-right: 20px;
}

#wrapper-3 #main .servicios .contenido>li {
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-curva-bloque.png');
	background-repeat: no-repeat;
	background-position: 23px 40px;
	margin-bottom: 20px;
}

#wrapper-3 #main .servicios .contenido>li.last {
	/*background-color: #fff;*/
	margin-bottom: 0;

	-webkit-transition: all ease-out 0.3s;
	-moz-transition: all ease-out 0.3s;
	-o-transition: all ease-out 0.3s;
	-ms-transition: all ease-out 0.3s;
	transition: all ease-out 0.3s;
}

#wrapper-3 #main .servicios .contenido>.last.desplegado {
	background-color: transparent;
}

#wrapper-3 #main .servicios .contenido .padding {
	padding-left: 65px;
}

#wrapper-3 #main .servicios .contenido .picto {
	/*margin-left: 99px !important;*/
	width: 84px;
	height: 80px;
}

#wrapper-3 #main .servicios .contenido .title {
	margin: 0;
	font-size: 28px;
	letter-spacing: -1px;
}

#wrapper-3 #main .servicios .contenido .subtitle {
	background-image: none;
	margin-top: 2px;
	padding-top: 5px;
	font-size: 22px;
	letter-spacing: -1px;
	font-weight: 400;
	display: block;
}

#wrapper-3 #main .servicios .contenido .content {
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-line.png');
	background-repeat: repeat-y;
	background-position: 23px 0;
	margin-top: 5px;
}

#wrapper-3 #main .servicios .contenido .exclusivo {
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-line.png');
	background-repeat: repeat-y;
	background-position: 23px 0;
	margin-top: 10px;
}

#wrapper-3 #main .servicios .contenido .exclusivo .title {

	font-size: 20px;
	font-weight: 400;
	color: #7DB839;
	letter-spacing: 0;
}

#wrapper-3 #main .servicios .contenido>li>.bt-wrapper {
	/* Modificacion 28/11/2013 circulos finales de servicios*/
	background-color:#FFFFFF;
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-dot.png');
	background-repeat: no-repeat;
	background-position: 23px 0;
	padding-bottom: 3px;
	padding-left: 66px;
	padding-top: 10px;
	display: block;
}

/*#wrapper-3 #main .servicios .contenido>li.desplegado>.bt-wrapper {
	background-image: none;
}*/

#wrapper-3 #main .servicios .contenido>li>.bt-wrapper .bt-simple {
	padding-left: 10px;
}




/* Desplegable */
#wrapper-3 #main .servicios .contenido .mascontent {
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-line.png');
	background-repeat: repeat-y;
	background-position: 23px 0;
	padding-left: 23px;
	padding-top: 30px;
	/*overflow: hidden;
	display: none;*/
}
/* Si tiene la clase desplegable lo oculto */
#wrapper-3 #main .servicios .contenido .desplegable {
	overflow: hidden;
	display: none;
}

#wrapper-3 #main .servicios .contenido .mascontent>li {
	padding-left: 42px;
	padding-bottom: 30px;
	background-image: url('/dam/templating-kit/themes/popLM/img/servicios-dot.png');
	background-repeat: no-repeat;
}
/* El ultimo tiene fondo blanco si NO es desplegable */
#wrapper-3 #main .servicios .contenido .mascontent>li.last {
	background-color: #fff;
}
/* El ultimo tiene la linea verde si ES desplegable */
#wrapper-3 #main .servicios .contenido .desplegable>li.last {
	background-color: transparent;
}

#wrapper-3 #main .servicios .contenido .mascontent .title {
	padding-top: 0;
	font-size: 22px;
	letter-spacing: 0;
	font-weight: 400;
	display: block;
}

/* Un poco de padding en los desplegables interiores */
#wrapper-3 #main .servicios .contenido p {
	padding-top: 10px;
}

/* wrapper del boton Mas info de los desplegables interiores */
#wrapper-3 #main .servicios .contenido .mascontent>li .bt-wrapper {
	padding-bottom: 3px;
	padding-top: 7px;
	display: block;
}



#wrapper-3 #main .servicios .contenido .mascontent .tarjetas>li {
	float: left;
	text-align: center;
	margin-right: 50px;
	margin-top: 10px;
}
#wrapper-3 #main .servicios .contenido .mascontent .tarjetas>li.last {
	margin-right: 0;
}

#wrapper-3 #main .servicios .contenido .mascontent .tarjeta-regalo>li {
	float: left;
	margin-right: 25px;
	margin-top: 5px;
}

#wrapper-3 #main .servicios .contenido .mascontent .tarjeta-regalo>li.last {
	margin-right: 0;
}




/* Bloque destacado gris*/
#wrapper-3 #main .servicios .contenido .bloque-destacado {
	margin-top: 20px;
	margin-bottom: 20px;
}

#wrapper-3 #main .servicios .contenido .bloque-destacado .bullets>li {
	background-image: url('/dam/templating-kit/themes/popLM/img/bullet-grande.png');
	background-repeat: no-repeat;
	background-position: 0 4px;

	padding-left: 20px;
	padding-bottom: 10px;
	line-height: 13px;
}

#wrapper-3 #main .servicios .contenido .bloque-destacado strong {
	font-weight: 500;
}

#wrapper-3 #main .servicios .contenido .bloque-destacado .peque {
	font-size: 10px;
	margin-bottom: 10px;
}


/* Bloque destacado NO gris */
#wrapper-3 #main .servicios .contenido .bloque-destacado.gris {
	background-color: #eee;
	padding: 10px 10px 15px 10px;
	margin-bottom: 0;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#wrapper-3 #main .servicios .contenido .bloque-destacado.gris .bullets {
	background-image: url('/dam/templating-kit/themes/popLM/img/sombra-destacado-gris.jpg');
	background-repeat: no-repeat;
	background-position: 20px bottom;
	padding-bottom: 30px;
}




/* Calculadora */
#wrapper-3 #main .servicios .contenido .contenedor-gris {
	background-color: #efefef;
	padding: 20px;
	margin-top: 15px;
	margin-bottom: 5px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#wrapper-3 #main .servicios .contenido .contenedor-gris .col-izq {
	float: left;
	border-right: 1px solid #ddd;
	margin-left: 0 !important;
	width: 240px;
	height: 213px;
}

#wrapper-3 #main .servicios .contenido .contenedor-gris form {
	margin-top: 15px;
}

#wrapper-3 #main .servicios .contenido .contenedor-gris input {
	float: right;
	width: 129px;
	height: 18px;
	margin-left: 8px;
	margin-right: 25px;
	font-size: 12px;
	color: #aaa;
}

#wrapper-3 #main .servicios .contenido .contenedor-gris .calculadora-euros input {
	float: right;
	width: 120px;
	height: 18px;
	margin-left: 8px;
	font-size: 12px;
	color: #aaa;
}

#wrapper-3 #main .servicios .contenido .contenedor-gris.euros .col-izq {
	width: 280px;
	height: auto;
}

#wrapper-3 #main .servicios .contenido .contenedor-gris.euros .col-der .mas-info {
	display: block;
	margin-bottom: 4px;
}

#wrapper-3 #main .servicios .contenido .contenedor-gris.euros .bt-green {
	float: right;
}

#wrapper-3 #main .servicios .contenido .contenedor-gris.euros input {
	width: 130px;
}

#wrapper-3 #main .servicios .contenido .contenedor-gris.euros .clearing {
	height: 8px;
}

#wrapper-3 #main .servicios .contenido .contenedor-gris label {
	float: right;
	padding-top: 4px;
	font-size: 13px;
}

#wrapper-3 #main .servicios .contenido .contenedor-gris .col-der {
	float: left;
	margin-left: 20px;
}

#wrapper-3 #main .servicios .contenido .contenedor-gris .bt-green {
	padding: 4px 12px;
	margin-left: 5px;
	margin-right: 25px;
}




/* Deslizador */
#wrapper-3 #main .servicios .contenido .deslizador {
	position: relative;
	top: 0;
	left: 0;
	width: 200px;
	height: 55px;
	margin-top: 10px;
	margin-bottom: 15px;
}

#wrapper-3 #main .servicios .contenido .deslizador .fondo {
	position: absolute;
	top: 35px;
	left: 15px;

	background-image: url('/dam/templating-kit/themes/popLM/img/bg-deslizador.png');

	background-repeat: no-repeat;
	width: 169px;
	height: 7px;
}

#wrapper-3 #main .servicios .contenido .deslizador .fondo.over {
	background-image: url('/dam/templating-kit/themes/popLM/img/bg-deslizador-over.png');
	width: 1px;
}

#wrapper-3 #main .servicios .contenido .deslizador .slider {
	top: 3px;
	left: 0;
	width: 164px;
}

#wrapper-3 #main .servicios .contenido .deslizador .valores {
	position: absolute;
	top: 44px;
	left: 10px;

}

#wrapper-3 #main .servicios .contenido .deslizador .valores>li {
	float: left;
	margin-right: 29px;
	font-size: 11px;
}

#wrapper-3 #main .servicios .contenido .deslizador .valores>li.last {
	margin-right: 0;
}



/* Slider */
#wrapper-3 #main .servicios .contenido .deslizador .ui-slider {
	position: relative;
	text-align: left;
}
#wrapper-3 #main .servicios .contenido .deslizador .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-image: url('/dam/templating-kit/themes/popLM/img/globo-deslizador.png');
	background-repeat: no-repeat;

	color: #fff;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	padding-top: 5px;
	text-decoration: none;
}
#wrapper-3 #main .servicios .contenido .deslizador .ui-slider .ui-slider-handle:hover {
	text-decoration: none;
}

/* For IE8 - See #6727 */
#wrapper-3 #main .servicios .contenido .deslizador .ui-slider.ui-state-disabled .ui-slider-handle,
#wrapper-3 #main .servicios .contenido .deslizador .ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

/* Component containers
----------------------------------*/
/*#wrapper-3 #main .servicios .contenido .deslizador .ui-widget-content {
	background-color: #fff;
	height: 10px;
}*/








#wrapper-3 #main .servicios .contenido .preguntas {
	margin-top: 10px;
}

#wrapper-3 #main .servicios .contenido .verde {
	color: #66AC13;
}




















/* Colorbox Mas Tiendas */
/* ########################################################################## */
.servicios-mas-tiendas {
	width: 942px;
	float: left;
	background-color: #fff;
	display: none;
border: 1px solid #C7C7C7;
 border-radius: 5px 5px 5px 5px;
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
-ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);


}
/* Cuando se carga en un Colorbox lo habo visible */
#colorbox .servicios-mas-tiendas {
	display: block;
}

.servicios-mas-tiendas .encabezado {
    background-position: 0 3px;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-top: 30px;
}
.servicios-mas-tiendas .encabezado img {display: block;
    float: left;
    margin-right: 10px;
}

.servicios-mas-tiendas .encabezado .title {
    color: #60922C;
    float: left;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 20px;
    width: 740px;
}

.servicios-mas-tiendas .encabezado .subtitle {
    color: #000000;
    float: left;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    width: 740px;
}



/* Listado de comunidades */
.servicios-mas-tiendas #comunidades-container {
	font-family: /*"HelveticaNeue",*/ Helvetica, Arial, sans-serif;
	margin-left: 30px;
	font-size: 14px;
}

.servicios-mas-tiendas #comunidades-container h1 {
	border-bottom: 1px solid #dfdfdf; width:100%;line-height: 38px; font-size:38px; font-weight: 500;
}

.servicios-mas-tiendas #comunidades-container .info {clear: both; padding: 20px 0 0 0; font-size:16px; color:#666; font-weight: 300;
}

.servicios-mas-tiendas #comunidades-container .columna {
	width: 28%;
	float:left;
	margin: 8px 44px 0 3px;
	line-height:16px;
}

.servicios-mas-tiendas #comunidades-container .columna.c1 {

}

.servicios-mas-tiendas #comunidades-container .columna.c2 {
	margin-left:0;
}

.servicios-mas-tiendas #comunidades-container .columna.c3 {
	margin: 8px 25px 0 3px;
}

.servicios-mas-tiendas #comunidades-container .columna.c4 {
	width: 160px; margin-right:0; margin-left:0;
}

.servicios-mas-tiendas #comunidades-container .columna .comunidad {
	float:left;
	margin: 0 0 30px 0;
}

.servicios-mas-tiendas #comunidades-container .columna .comunidad h5 {
	float:left;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

.servicios-mas-tiendas #comunidades-container .columna .comunidad .cabecera {
	float:right; width:60px; text-align:right; color:#c4c4c4;
}

.servicios-mas-tiendas #comunidades-container .columna .comunidad ul {
	border-top: 1px solid #f3f3f3;  width:100%; float:left; margin:6px 0 0 0; padding:5px 0 0 0;
}

.servicios-mas-tiendas #comunidades-container .columna .comunidad ul li {
	float:left; clear:both; margin:0 0 3px 0; width:100%;
}

.servicios-mas-tiendas #comunidades-container .columna .comunidad ul li h6 {
	float:left;  color:#666666;
	font-size: 14px; font-weight:400;
}

.servicios-mas-tiendas #comunidades-container .columna .comunidad ul li a {
	width: 173px;
	color:#7DB839;
	float: right;
}

.servicios-mas-tiendas #comunidades-container a:hover {
	text-decoration: underline;
}

/*.servicios-mas-tiendas #comunidades-container .columna.c2 .comunidad ul li a {
	width: 226px;
}

.servicios-mas-tiendas #comunidades-container .columna.c3 .comunidad ul li a {
	width: 155px;
}

.servicios-mas-tiendas #comunidades-container .columna.c4 .comunidad ul li a {
	width: 80px;
}*/


#wrapper-3 #main .servicios .block-varios .caja.sombra-sup img {
    display: block;
    float: right;
    margin-right: 20px;
}