@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//www.ouedkniss.com/fonts/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//www.ouedkniss.com/fonts/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'DroidArabicKufiBold';
        src: url('//www.ouedkniss.com/fonts/DroidArabicKufiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'DroidArabicKufiRegular';
        src: url('//www.ouedkniss.com/fonts/DroidArabicKufiRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      } 
body 
{
	font-size:12px;
	text-align:center;
	margin:0;
	padding:0;
	text-align:center;
	background:url(//www.ouedkniss.com/images/ouedkniss_bg.png) #fff;
}
body , input , select , textarea
{
   font-family: 'Open Sans', 'DroidArabicKufiRegular', Tahoma,sans-serif;
}
.arabic input ,.arabic select
{
	line-height:1.3em;
}
@media (min-width:1300px)
{
	body 
	{
		font-size:13px;
	}
}
@media (max-width:1300px) and (min-width:1220px)
{
	body 
	{
		font-size:12px;
	}
}
@media (max-width:1220px) and (min-width:900px)
{
	body 
	{
		font-size:11px;
	}
}
@media (max-width:1200px) and (min-width:950px)
{ 
	body 
	{
		font-size:11px;
	}
}
@media (max-width:950px)
{
	body 
	{
		font-size:10px;
	}
}
.arabic
{
	direction:rtl;
	line-height:1.7em;
}

.html
{
	position:relative;
	padding:2.6em 0 0 0;
	max-height: 999999px;
	margin:0 auto;
	background:url(//www.ouedkniss.com/images/ouedkniss_bg.png) #f5f5f5 ;
	background-size:70% auto;
	min-width:800px; 
}
.boxed
{
	margin:0 auto;
	max-width:1400px;
	width:97%;
}
#page
{
	position:relative;
	text-align:left;
	background:#fff;
	clear:both;
	z-index:3;
}
.arabic #page
{
	text-align:right;
}

#header
{
	position:relative;
	z-index:5;
}
#header_contenu
{
	position:relative;
}
#header_deuil
{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	height:110px;
	width:110px;
}
#header_pub
{ 
	text-align:center;
	overflow:hidden;
	padding:10px 0 10px;
	float:right; 
	width:82%;
} 
#header_pub_contenu
{
	margin:auto; 
	height:90px;
	overflow:hidden;
}
#header_logo
{
	float:left;
	width:18%;
	margin:10px 0 10px;
	height:90px;
	display: block;
	text-align:center;
}
.arabic #header_logo
{
	float:right;
}
#header_logo_a
{
	display:block;
	margin:25px auto 8px auto;
}
#header_logo_image
{
	display:block;
	height:37px;
	margin:0 auto;
	max-width:90%;
}
.arabic #header_logo_image
{
	height:44px;
}

@media (max-width:1200px)
{
	#header_logo
	{
		display:none;
	} 
	
	#header_pub
	{ 
		clear:both;
		width:100%;
	}
	#topbar a#topbar_logo
	{
		display:block!important;
	}
	#header_deuil
{	
	display:none; 
}
}


A {
text-decoration : none;

}

h3 {
color : black;
}
h5 {
margin : 0.5em;
}
div 
{
	color : black;
	border-style : none;
}
img {
border : none;
}

input
{
	background:white;
}
.validation
{
	color:Red;
}
.input {
    border: 1px solid #ccc;
    margin: 0.3em 0;
    padding: 0.4em 0.8em;
	border-radius:1px;
}
.input_error
{
	border-color:#D2000C!important;
	background:#FFCCCE!important;
	color:#D2000C!important;
}

.button_red , #ButtonRed
{
	background-color:#CF310A;
	border:1px solid #982407;
	font-size:1.2em;
	cursor:pointer;
	padding:0.2em 0.4em;
	display:inline-block;
	margin:0.3em 0px; 
	font-weight:bold;
	color:#fff;
	border-radius:2px;
}
.button_green ,#ButtonGreen
{
	background-color:#A2C567;
	border:1px solid #83a84b;
	font-size:1.2em;
	cursor:pointer;
	padding:0.2em 0.4em;
	display:inline-block;
	margin:0.3em 0px;
	font-weight:bold;
	color:#fff;
	border-radius:2px;
}
.button_blue ,#ButtonBlue
{
	background-color:#74B8F3;
	border:1px solid #6c8dbb;
	font-size:1.2em;
	cursor:pointer;
	padding:0.2em 0.4em;
	display:inline-block;
	margin:0.3em 0px;
	font-weight:bold;
	color:#fff;
	border-radius:2px;
}
.button_blue2 ,#ButtonBlue2
{
	background-color:#483D8B;
	border:1px solid #292351;
	font-size:1.2em;
	cursor:pointer;
	padding:0.2em 0.4em;
	display:inline-block;
	margin:0.3em 0px;
	font-weight:bold;
	color:#fff;
	border-radius:2px;
}
.button_yellow ,#ButtonYellow
{
	background-color:#fed061;
	border:1px solid #e09d35;
	font-size:1.2em;
	cursor:pointer;
	padding:0.2em 0.4em;
	display:inline-block;
	margin:0.3em 0px;
	font-weight:bold;
	color:#fff;
	border-radius:2px;
} 
.button_orange
{

	background-color:#FF7600;
	border:1px solid #E86F00;
	font-size:1.2em;
	cursor:pointer;
	padding:0.2em 0.4em; 
	display:inline-block;
	margin:0.3em 0px;
	font-weight:bold;
	color:#fff;
	border-radius:2px;
}
.button_dark
{
	background-color:#555;
	border:1px solid #111;
	font-size:1.2em;
	cursor:pointer;
	padding:0.2em 0.4em;
	display:inline-block;
	margin:0.3em 0px;
	font-weight:bold; 
	color:#fff;
	border-radius:2px;
}

.form_error , .error_key_up
{
	background:#ec3535;
	color:#fff; 
	display:table;
	padding:0.3em 0.4em;
	border:1px solid #DC1414;
	border-radius:2px;
	font-weight:bold;
	white-space:nowrap;
	margin:0 0 0.4em 0;
	font-size:1.1em!important;
}

.clear{
    clear:both;
	font-size:1px;
	display:block;
}
#Clear{
    clear:both;
	font-size:1px;
	display:block;
}
.block_titre
{
	font-size:1.5em;
	color:#333;
	text-align:left;
	margin:0.5em 0 0.5em 0;
	padding:0.7em 0 0.1em 0;
}
.arabic .block_titre
{
	text-align:right;
}
.block_titre a
{
	color:#fff;
	background:#ccc;
	padding:0.2em;
	margin-bottom:0.1em;
	display:inline-block;
	font-weight:400;
}
#topbar 
{  
	z-index:6;
	position:absolute; 
	border-bottom:1px solid #ddd;
	text-align:left;
	height:2.6em;
	top:0;
	left:0;
	right:0;
}
.arabic #topbar
{
	text-align:right;
}
#topbar a
{
	float:left;
	border-right:1px solid #d5d5d5;
	font-size:1.2em;
	color:#333;
	padding:0.5em 0.4em 0.3em;
	display:block;
	line-height:1.3em;
}
.arabic #topbar a
{
	float:right;
	border-right:none;
	border-left:1px solid #d5d5d5;
}
#topbar a img
{
	height:1.3em;
	display:block;
}
#topbar a#topbar_contact,#topbar a#topbar_publicite,#topbar a#topbar_language
{
	float:right;
	border-left:1px solid #d5d5d5;
	border-right:none;
}
.arabic #topbar a#topbar_contact,.arabic #topbar a#topbar_publicite,.arabic #topbar a#topbar_language
{
	border-left:none;
	border-right:1px solid #d5d5d5!important;
	float:left;
}
#topbar a#topbar_logo
{
	display:none; 
}

#menu
{ 
	border-bottom:1px solid #c5c5c5;  
	z-index:5;
	text-align:center;
	position:relative;
}
#menu_contenu
{
	text-align:left;
	position:relative;
	z-index:4;
	height:3.35em;
}
.arabic #menu_contenu
{
	text-align:right;
}
#menu_a_connexion 
{  
	color:#666;
	float:right; 
	width:300px;
	position:relative;
}
.arabic #menu_a_connexion
{
	float:left;
}
#menu_deposer
{
	color:#fff;
	background:#fff;
	border:1px solid #c2510e;
	padding:0.6em 0.3em 0.55em 2em;
	background:url(//www.ouedkniss.com/images/menu/deposer.png) no-repeat 0.2em center #f96913;
	background-size:1.6em auto;
	display:block;
	text-align:center; 
	float:right;
	font-size:1.2em; 
	height:1.6em;
	line-height:1.6em;
	margin-left:0.4em; 
	cursor:pointer;
	border-radius:3px 3px 0 0;
	letter-spacing:-0.8px;
	box-shadow:inset 0 0 10px #e95903;
}
.arabic #menu_deposer
{
	margin-left:0em;
	margin-right:0.4em;
	float:left;
}
#menu_seconnecter
{
	color:#fff;
	background:#57ADE0;
	border:1px solid #017ca5;
	padding:0.6em 0.3em 0.55em 2em;
	background:url(//www.ouedkniss.com/images/menu/login.png) no-repeat 0.2em center #57ADE0;
	background-size:1.6em auto;
	box-shadow:0 0 10px #3a97ec inset;
	display:block;
	text-align:center; 
	height:1.6em;
	float:right;
	font-size:1.2em; 
	line-height:1.6em; 
	cursor:pointer;
	border-radius:3px 3px 0 0;
	letter-spacing:-0.8px;
}
.arabic #menu_seconnecter
{
	float:left;
}
#menu_panel
{
	color:#fff;
	border:1px solid #017ca5;
	padding:0.6em 0.4em 0.55em 2.2em;
	background:url(//www.ouedkniss.com/images/menu/compte.png) no-repeat 0.3em center #57ADE0;
	background-size:1.6em auto;
	display:block;
	text-align:center; 
	height:1.6em;
	float:right;
	font-size:1.2em; 
	line-height:1.6em; 
	margin-left:2%;
	box-shadow:0 0 10px #3a97ec inset; 
	border-radius:3px 3px 0 0;
}
.arabic #menu_panel
{
	margin-right:2%;
	margin-left:0;
	float:left;
}
#menu_deconnexion
{
	color:#000;
	background:#f5f5f5;
	border:1px solid #bbb;
	padding:0.6em 0.4em 0.55em;
	display:block;
	text-align:center; 
	float:right;
	font-size:1.2em; 
	line-height:1.6em;
	margin-left:1%;
	height:1.6em;
	border-radius:3px 3px 0 0;
}
.arabic #menu_deconnexion
{
	margin-left:0;
	margin-right:1%;
}
#topbar_compte_sous_menu
{
	display:none;
}
#menu_connexion
{
	position:absolute; 
	text-align:left;
	padding:0 0.8em;
	top:3.3em;
	right:0;
	width:30em;  
	background:#fff;
	background:rgba(255,255,255,0.95);
	border:1px solid #b5b5b5;
	display:none;
	box-shadow:inset 0 0 10px #e5e5e5;
}
.arabic #menu_connexion
{
	text-align:right;
	right:auto;
	left:0;
}
#menu_connexion form
{
	border-bottom:2px solid #ddd; 
	padding:0 0 1em 0em;
	margin:1.2em 0 0 0;
}
#menu_username , #menu_password
{
	border:1px solid #ccc; 
	padding:0.3em 1% 0.3em 1%;
	width:32.5%;
	margin:0 1% 0 0;
	font-size:1.2em;
	float:left;
	border-radius:1px;
	background:#f5f5f5;
}
.arabic #menu_username ,.arabic #menu_password
{
	float:right;
	margin:0 0 0 1%;
}
#menu_connexion_submit
{
	background:#A2C567;
	border:1px solid #83a84b;
	color:#fff;
	font-size:1.2em;
	padding:0.25em 0% 0.23em 0%;
	cursor:pointer;
	border-radius:1px;
	width:27%;
	box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
}
#menu_connexion #lost_password
{
	display:block;
	margin:0.3em 0px 0 ;
	color:#0088B2;
	font-size:1.2em;
}
#menu_connexion #remember_me
{
	margin:10px 1% 0px 0px;
	padding:0;
	float:left;
	display:block;
}
.arabic #menu_connexion #remember_me
{
	float:right;
	margin:10px 0 0px 1%;
}
#menu_connexion #label_remember_me
{
	margin:7px 0px 0px 0px;
	padding:0;
	float:left;
	display:block;
	color:#888;
	font-size:14px;
}
.arabic #menu_connexion #label_remember_me
{
	float:right;
}
#menu_connexion p
{
	display:block;
	color:#444;
	font-size:1.4em;
	margin:0 0 0.2em;
}
#menu_connexion #connexion_inscrivez 
{
	background:url("//www.ouedkniss.com/images/membre/connexion/signup.png") no-repeat 0 center;
	background-size:3em auto;
	padding:1em 0 1em 4em;
	
}
#menu_connexion #devenir
{
	color:#52ADE1;
	display:block;
	font-size:1.4em;
}

#menu_connexion #connexion_store
{
	border-top:2px solid #ddd; 
	display:block;
	color:#33CC99;
	background:url("//www.ouedkniss.com/images/membre/connexion/store.png") no-repeat 0 center;
	background-size:3em auto;
	padding:1em 0 1em 4em;
}
#connexion_store a
{
	color:#2fa27d;
	font-size:1.35em;
}
#menu_connexion #menu_connexion_close {
   background: #f65d5d;
    border: 1px solid #ad1a1a;
    border-radius: 1px;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.3em;
    padding: 0 0.5em;
    position: absolute;
    right: 0.8em;
    top: 0.6em;
	cursor:pointer;
}	
#journal_count
{
	background: url("//www.ouedkniss.com/images/topbar/journal.png") no-repeat scroll center center #73CF63;
	background-size:auto 1.7em;   
	border:1px solid #6DB061;
	position:relative;
	width:3em;
	height:2.4em;
	margin:0.4em 0 0 0;
	float:right;
	display:block;
	cursor:pointer;
}
.arabic #journal_count
{
	float:left;
}
#favoris_count
{
	background: url("//www.ouedkniss.com/images/topbar/favoris.png") no-repeat scroll center center #F46916;
	background-size:auto 1.7em;   
	border:1px solid #e2661a;
	position:relative;
	width:3em;
	height:2.4em;
	float:right;
	margin:0.4em 0 0 0;
	display:block;
	cursor:pointer;
}
.arabic #favoris_count
{
	float:left;
}
#conversations_count
{
	background: url("//www.ouedkniss.com/images/topbar/messages.png") no-repeat center center  #FACD19;
	background-size:auto 1.8em;
    border:1px solid #DEB923;
	border-right:none;
	position:relative;
	width:3em;
	height:2.4em;
	float:right;
	margin:0.4em 0 0 0;
	display:block;
	cursor:pointer;
}
.arabic #conversations_count
{
	float:left;
}
.favoris_count_highlight
{
	background: url("//www.ouedkniss.com/images/topbar/favoris.png") no-repeat scroll center center #FF80FF;
}
#favoris_count span , #conversations_count span, #journal_count span
{
	border:3px solid #999;
	border-radius:20px;
    color: #666;
    font-size: 1.2em;
    line-height: 1.2em;
	position:absolute;
	top:-0.32em;
	left:56%;
	z-index:5;
	text-align:center;
	background:#fff;
	padding:0em 0.35em;
	font-weight:bold;
}
.arabic #favoris_count span ,.arabic #conversations_count span,.arabic #journal_count span
{
	right:56%;
	left:auto;
}
#favoris_window, #conversations_window
{ 
	
}

.window_favoris_supprimer
{
	background:#FF0404;
	border: 1px solid #cb0000;
    border-radius: 2px;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
   position:absolute;
   right:0;
   width:2em;
   top:0.5em;
}
.arabic .window_favoris_supprimer
{
	right:auto;
	left:0;
}
.window_no_result
{
	display:block;
	text-align:center;
	font-size:1.1em;
	padding:0.5em 0 0.5em 0;
	color:#444;
}

.window_journal
{
	border-bottom:1px solid #eee; 
	display:block;
	text-align:left;
	position:relative;
	margin:0 0 1em 0;
	padding:0 3em 0.5em 0em;
}
.arabic .window_journal
{
	text-align:right;
	padding:0 0 0.5em 3em;
}
.window_journal a
{
	color:#000;
}
.window_journal_delete
{
	background:#FF0404;
	border: 1px solid #cb0000;
    border-radius: 2px;
    color: #fff!important;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
   position:absolute;
   right:0;
   width:2em;
   top:0em;
}
.arabic .window_journal_delete
{
	right:auto;
	left:0;
}

.window_annonce 
{
	border-bottom:1px solid #eee; 
	display:block;
	text-align:left;
	position:relative;
	padding:0 3em 0 6.2em;
	height:4.9em;
}
.arabic .window_annonce
{
	text-align:right;
	padding:0 6.2em 0 3em;
	height:5.3em;
}
.window_annonce  .window_annonce_image
{
	position:absolute;
   left:0; 
   width:5.5em;
   top:0.35em;
   display:block;
}
.arabic .window_annonce .window_annonce_image
{
	left:auto;
	right:0;
}
.window_annonce  .window_annonce_image img
{
	width:100%; 
	height:4em;
	display:block;
}
.window_annonce  .window_annonce_titre
{
	margin:0.5em 0 0 0;
	color:#333;
	display:block;
}.window_annonce  .window_annonce_categorie
{
	display:block;
	color:#00AEEF;
}
.window_annonce  .window_annonce_prix
{
	display:block;
	color:#FF7A28;
}


#menu_left
{
	width:19em;
	float:left;
}
.arabic #menu_left
{
	float:right;
}
#menu_annonces
{
	float: left;
    width:18%;
	border: 1px solid #3287ba ;
	border-radius: 2px 2px 0 0;
} 
.arabic #menu_annonces
{
	float:right;
}
#menu_annonces_a
{
    
    height: 2em;
    color: #fff;
    font-size:1.3em; 
	line-height:2em;
	cursor: pointer;
	background: url("//www.ouedkniss.com/images/topbar/annonces_a_bg.png") no-repeat scroll 93% center #58ade0 ;
	background-size:auto 1.1em;
    padding: 0.25em 23% 0.25em 4%;
	display:block;
	position:relative;
	border-radius:2px 2px 0px 0; 
	letter-spacing:-0.8px;
	overflow:hidden;
	box-shadow:inset 0 0 10px #469bce;
	
}
#menu_annonces_a:focus {
    outline: none;
}
#menu_sousmenu_annonces_categories
{
	position:absolute;
	border:1px solid #c5c5c5;
	left:0; 
	margin:0 0 0 0;
	top:3.38em; 
	line-height: 1.4em;
	background:#eee;
	background:rgba(240,240,240,0.96);
	width:18%;
	display:none;
} 
.arabic #menu_sousmenu_annonces_categories
{
	left:auto;
	right:0;
}
#tbma_a_informatique
{
	color: #1a6891;
}
#tbma_a_telephones
{
	 color: #1a6891;
}
#tbma_a_electronique
{
	 color: #1a6891;
}
#tbma_a_emploi_demandes
{
	 color: #1a6891;
}
#tbma_a_loisirs_divertissements
{
	 color: #063c60;
}
#tbma_a_vetements
{
	 color: #480668;
}

#tbma_a_maison
{
	 color: #493a21;
}
#tbma_a_divers
{
	 color: #D16B34;
}
#tbma_a_plus
{
	 color: #000;
}
#tbma_a_services
{
	 color: #333;
}
#tbma_a_materiaux_equipement
{
	 color: #333;
}
#tbma_a_voyages
{
	 color: #d0a900;
}

#tbma_a_immobilier
{
	 color: #05580a;
}
#tbma_a_automobiles
{
	 color: #b6250c;	
}
#menu_sousmenu_annonces_categories  #menu_stores
{
	background:url(//www.ouedkniss.com/images/store_logo_min.png) no-repeat 0.4em center;
	color:#000;
}
#menu_sousmenu_annonces_categories  #menu_stores span
{ 
	font-weight:bold;
	display:inline-block;
	background:#39d412;
	padding:0.2em 0.3em 0.2em;
	border:1px solid #3daf20;
	color:#fff;
	letter-spacing:-0.2px;
}
#menu_sousmenu_annonces_categories .tbma_a
{   
	font-size:1.3em;
	padding:0.4em 0.5em 0.4em 2.1em;
	border-bottom:1px solid #d5d5d5; 
	letter-spacing:-0.9px;
	display:block;
	cursor:pointer;
	background-size:1.4em auto!important;
}
.arabic #menu_sousmenu_annonces_categories .tbma_a
{
	padding:0.4em 2.1em 0.4em 0.5em;
	background-position:98% center!important;
}
.tbascm
{
	position:absolute;
	left:100%;
	top:-1px; 
	border:1px solid #c5c5c5;
	width:56em;
	display:none;
	background:#f5f5f5;
	background:rgba(255,255,255,0.95);
	padding:1em 1em 1em 1em;	
	min-height:34.35em;
}
.arabic .tbascm
{
	left:auto;
	right:100%;
}
.tbascm a
{
	color:#387396; 
	font-size:1.2em;
	display:inline-block;
	margin:0.1em 0em 0.1em 2em;
}
.arabic .tbascm a
{
	margin:0.1em 2em 0.1em 0;
}
.tbascm a.tbascm_sc
{
	font-size:1.2em;
	color:#000;
	padding:0 0 0 1.7em;
	margin:0.4em 0em 0.2em 0;
	background-size:auto 1.3em!important;
	display:block;
	float:left; 
	width:45%;
}
.arabic .tbascm a.tbascm_sc
{
	float:right;
	padding:0 1.7em  0 0;
	background-position:right center!important;
}
.tbascm_sc2
{
	font-size:1.4em!important;
}
.sous_categories
{
	margin:0 0 1em 0;
}
#menu_recherche {
   position:absolute;
	left:19%;
	right:300px;
	top:0em;
	padding:0 0 0.8em; 
}		
.arabic #menu_recherche
{
	left:300px;
	right:19%;
}
#menu_recherche form
{
	margin:0px;
}
#menu_recherche_query{
	border:1px solid #ccc;
	color:#000;
	font-size:1.4em; 
	margin:0;
	background:#fff;
	height:2.1em;
	letter-spacing:-1px; 
	border-radius:3px 3px 0px 3px;
	box-shadow:inset 0 0 5px #f5f5f5;
	position:absolute;
	top:0;
	left:0;
	width:97.3%;
	box-sizing:border-box;
	padding:0.6em 5em 0.5em 0.3em;
}
.arabic #menu_recherche_query{
left:auto;
padding:0.6em 0.3em 0.5em 5em;
}

#menu_recherche_submit 
{ 
	background:url("//www.ouedkniss.com/images/menu/recherche_submit_bg.png") no-repeat center center #F96913;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:auto 1.3em;
    display: block;
	cursor:pointer;
	font-size:1.3em; 
	position:absolute;
	right:2.7%;
	border:1px solid #c2510e;
	width:8.5%; 
	margin:0;
	height:2.28em; 
	box-sizing:border-box;
	box-shadow:0 0 10px #e95903  inset;
	border-radius: 0 3px 3px 0;
}
.arabic #menu_recherche_submit 
{
	right:auto;
	left:2.7%;
	border-radius: 3px 0 0 3px;
}
#tbrss
{
	position:absolute;
	left:0;
	right:2.6%;
	top:3em;
	background:#f5f5f5;
	background:rgba(255,255,255,0.95);
	border:1px solid #c5c5c5;
	padding:0.9em 0 0 0;
	display:none;
}
.arabic #tbrss
{
	left:2.6%;
	right:0;
}



 
#tbrsc_label_informatique
{
	color: #1a6891!important;
	 background:url(//www.ouedkniss.com/images/categories/informatique_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
#tbrsc_label_telephones
{
	 color: #1a6891!important;
	 	 background:url(//www.ouedkniss.com/images/categories/telephones_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
#tbrsc_label_telephonie_accessoires
{
	 color: #1a6891!important;
	 	 background:url(//www.ouedkniss.com/images/categories/telephonie_accessoires_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
#tbrsc_label_electronique
{
	 color: #1a6891!important;
	 	 	 background:url(//www.ouedkniss.com/images/categories/electronique_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
#tbrsc_label_emploi_offres,#tbrsc_label_emploi_demandes
{
	 color: #1a6891!important;
	 	 	 background:url(//www.ouedkniss.com/images/categories/emploi_offres_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
#tbrsc_label_loisirs_divertissements
{
	 color: #063c60!important;
	 	 	 background:url(//www.ouedkniss.com/images/categories/loisirs_divertissements_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
#tbrsc_label_vetements
{
	 color: #480668!important;
	 	 	 background:url(//www.ouedkniss.com/images/categories/vetements_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}

#tbrsc_label_accessoires_mode
{
	 color: #480668!important;
	 	 	 background:url(//www.ouedkniss.com/images/categories/accessoires_mode_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
#tbrsc_label_cosmetiques
{
	 color: #480668!important;
	 	 	 background:url(//www.ouedkniss.com/images/categories/cosmetiques_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
#tbrsc_label_maison
{
	 color: #493a21!important;
	 	 	 background:url(//www.ouedkniss.com/images/categories/maison_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
#tbrsc_label_divers
{
	 color: #D16B34!important;
	 	 	 background:url(//www.ouedkniss.com/images/categories/divers_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
#tbrsc_label_services
{
	 color: #333!important;
	 	 background:url(//www.ouedkniss.com/images/categories/services_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
#tbrsc_label_materiaux_equipement
{
	 color: #333!important;
	 	 	 background:url(//www.ouedkniss.com/images/categories/materiaux_equipement_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
#tbrsc_label_voyages
{
	 color: #E7C000!important;
	 	 	 background:url(//www.ouedkniss.com/images/categories/voyages_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}

#tbrsc_label_immobilier
{
	 color: #05580a!important;
	 	 	 background:url(//www.ouedkniss.com/images/categories/immobilier_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
#tbrsc_label_automobiles,#tbrsc_label_auto
{
	 color: #b6250c!important;
	 	 background:url(//www.ouedkniss.com/images/categories/automobiles_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
#tbrsc_label_vehicules
{
	 color: #b6250c!important;
	 	 background:url(//www.ouedkniss.com/images/categories/vehicules_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important; 
}
#tbrsc_label_pieces_detachees
{
	 color: #b6250c!important;
	 	 background:url(//www.ouedkniss.com/images/categories/pieces_detachees_min.png) no-repeat left top !important;
	background-size:auto 1.6em!important;
}
.tbrsc
{
	display:block;
	margin:0em 0 0.2em 0.5em;
	font-size:1.2em;
	overflow:auto;
	width:14em;
	float:left;
	
} 
.arabic .tbrsc
{
	margin:0em 0.5em 0.5em 0;
	float:right;
}
.tbrsc input
{
	float:left;
	display:block;
	margin:0.5em 0em 0 0;
	width:2em;
}
.arabic .tbrsc input
{
	float:right;
}
.tbrsc label
{
	float:left;
	display:block;
	line-height:1.53em;
	padding:0.1em 0 0 1.9em;
	width:9.5em;
	height:1.6em;
	overflow:hidden;
}
.arabic #tbrss .tbrsc label
{
	float:right;
	padding:0 1.9em 0 0; 
	background-position:right top!important;
}
.tbrs
{
	display:block;
	margin:0em 0 0.5em 0.5em; 
	font-size:1.1em;
	overflow:auto;
}
.arabic .tbrs
{
	margin:0em 0.5em 0.5em 0;
}
.tbrs input
{
	float:left;
	display:block;
	margin:0.4em 0em 0 0;
	width:2em;
}
.arabic .tbrs input
{
	float:right;
}
.tbrs label
{
	float:left;
	display:block;
	line-height:1.53em;
	color:#222;
}
.arabic .tbrs label
{
	float:right;
}
#tbrs_0_label
{
	font-weight:bold;
}
@media (max-width:950px)
{
	.tbrsc input , .tbrs input
	{
		zoom:0.9;
	}
}
.menu_recherche_spacer
{
	margin:0.5em 1em;
	border-top:1px solid #d5d5d5;
	height:1px;
}
#footer {
	color:#aaa;
	text-align:left;
	background:rgba(100,100,100,0.1);
	padding:0em 0 0 0;
	border-top:1px solid #c5c5c5;
	position:relative;
}
.arabic #footer
{
	text-align:right;
}
.footer_block{
	float:left;
}
 .arabic .footer_block
{
	float:right;
}
#footer_informatique
{
background:url(//www.ouedkniss.com/images/categories/informatique_min.png) no-repeat left center !important;
}
#footer_telephones
{
	background:url(//www.ouedkniss.com/images/categories/telephones_min.png) no-repeat left center !important;
}
#footer_telephonie_accessoires
{
	background:url(//www.ouedkniss.com/images/categories/telephonie_accessoires_min.png) no-repeat left center !important;
}
#footer_electronique
{
	background:url(//www.ouedkniss.com/images/categories/electronique_min.png) no-repeat left center !important;
}
#footer_emploi_offres,#footer_emploi_demandes
{
	background:url(//www.ouedkniss.com/images/categories/emploi_offres_min.png) no-repeat left center !important;
	
}
#footer_loisirs_divertissements
{
	background:url(//www.ouedkniss.com/images/categories/loisirs_divertissements_min.png) no-repeat left center !important;
	
}
#footer_vetements
{
	background:url(//www.ouedkniss.com/images/categories/vetements_min.png) no-repeat left center !important;
	
}

#footer_accessoires_mode
{
	background:url(//www.ouedkniss.com/images/categories/accessoires_mode_min.png) no-repeat left center !important;
	
}
#footer_cosmetiques
{
	background:url(//www.ouedkniss.com/images/categories/cosmetiques_min.png) no-repeat left center !important;
	
}
#footer_maison
{
	background:url(//www.ouedkniss.com/images/categories/maison_min.png) no-repeat left center !important;
	
}
#footer_divers
{
	background:url(//www.ouedkniss.com/images/categories/divers_min.png) no-repeat left center !important;
	
}
#footer_services
{
	background:url(//www.ouedkniss.com/images/categories/services_min.png) no-repeat left center !important;
	
}
#footer_materiaux_equipement
{
	background:url(//www.ouedkniss.com/images/categories/materiaux_equipement_min.png) no-repeat left center !important;
	
}
#footer_voyages
{
	background:url(//www.ouedkniss.com/images/categories/voyages_min.png) no-repeat left center !important;
	
}

#footer_immobilier
{
	background:url(//www.ouedkniss.com/images/categories/immobilier_min.png) no-repeat left center !important;
	
}
#footer_automobiles
{
	background:url(//www.ouedkniss.com/images/categories/automobiles_min.png) no-repeat left center ;
	
}
#footer_vehicules
{
	background:url(//www.ouedkniss.com/images/categories/vehicules_min.png) no-repeat left center ;
	
}
#footer_pieces_detachees
{
	background:url(//www.ouedkniss.com/images/categories/pieces_detachees_min.png) no-repeat left center ;
	
}
#block_1 a ,  #block_2 a
{
	background-size: 1.4em auto !important;
	
    border-bottom: 1px solid #ddd;
    color: #000;
    display: block;
    font-size: 1.15em;
    margin: 0 2em 0 0;
    padding: 0.3em 0.2em 0.3em 1.8em;
}
.arabic #block_1 a , .arabic #block_2 a
{
	background-position: right center !important;
	  margin: 0 0 0 2em;
    padding: 0.3em 1.8em 0.3em 0.2em;
}
@media(max-width:1100px)
{
	#block_1 a ,  #block_2 a
	{
		padding:0.3em;
		margin:0;
		font-size: 1.1em;
		background:none!important;
	}
}
#block_3 a
{
	font-size: 1.15em;
	color: #333;
	margin:0px;
	padding:0px;
	line-height:1.7em;
	display:block;
}
#footer #block_1
{
	width:29%;
	border-right:2px solid #ccc;
	margin:2.5em 0;
}
.arabic #footer #block_1
{
	border-left:2px solid #ccc;
	border-right:none;
}
#footer #block_2 
{
	width:28%;
	border-right:2px solid #ccc;
	padding:0 0 0 1%;
	margin:2.5em 0;
} 
.arabic #footer #block_2
{
	border-left:2px solid #ccc;
	border-right:none;
	padding:0 1% 0 0;
}
#footer #block_3
{
	width:17%;
	border-right:2px solid #ccc;
	padding:0 0 0 1%;
	margin:2.5em 0;
}
.arabic #footer #block_3
{
	border-left:2px solid #ccc;
	border-right:none;
	padding:0 1% 0 0;
}
#footer #block_4
{
	width:22%;
	padding:0 0 0 1%;
	margin:2.5em 0;
}
.arabic #footer #block_4
{
	padding:0 1% 0 0;
}
#logo_footer{
    
    display: block;
}

#footer #logo_footer
{
	margin:0.5em 0;
}
#footer #logo_footer #footer_logo_image
{
	width:60%;
}
#footer  span
{
	text-align:left;
	font-size:1.1em;
}
.arabic #footer  span
{
	text-align:right;
}
#footer  span a
{
	font-weight:bold;
	color:#000;
}
#footer #footer_mobile
{
	font-weight:bold;
	display:none;
}
@media (max-width:1000px)
{
	#footer  #footer_mobile
	{
		display:block;
	}
	#footer  #google_plus
	{
		display:none;
	}
}
#footer_copyrights
{
	background:rgba(100,100,100,0.1);
	padding:2em 0 2em;
	text-align:center; 
	font-size:1.25em; 
	color:#444;
	border-top:1px solid #c5c5c5;
}
.dialog_box
{
	background:rgba(230,230,230,0.9);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:6;
	text-align:center;
	display:none;
}
.dialog_box_close
{
	 background: none repeat scroll 0 0 #CC3333;
    color:#fff;
    font-size: 1.3em;
    font-weight: bold;
    position:absolute;
	right:0.3em;
	top:0.3em;
    padding: 0em 0.5em;
	border:1px solid #9C2727;
	border-radius:1px;
}
.arabic .dialog_box_close
{
	left:0.3em;
	right:auto;
}
.dialog_box_contenu
{
	margin:120px auto;
	background:#fff;
	border:1px solid #aaa;
	padding:0 0 1em 0;
	min-width:40%;
	max-width:60%;
	position:relative;
	box-shadow:0 0 5px #ccc;
	border-radius:2px;
}
.dialog_box_contenu p
{
	border:1px solid #317ebb;
  font-weight:400;
  font-size:1.6em;
  border-radius:2px 2px 0 0 ;
  text-align:center;
  margin:-1px -1px 0.5em -1px;
  background:#30a8ff; 
  color:#fff;
  padding:0.6em 0.5em 0.5em 0.5em;
}
.error_box .dialog_box_contenu p
{
	background:#CF310A!important;
	border:1px solid #982407!important;
}

.dialog_box .input
{
	font-size:1em;
	padding:0.4em;
	border:1px solid #ccc;
	margin:0.2em 0px 0.4em;
}
.dialog_box_buttons
{
	margin:1em 0 0em 0;
	overflow:auto; 
}
.dialog_box_message
{
	font-size:1.3em;
	color:#000;
	padding:0.5em 1em 0;
	display:block;
}
.arabic .dialog_box_message
{
	line-height:1.7em;
}
.dialog_box_message .button_green ,.dialog_box_message .button_red
{
	font-size:1em;
	color:#fff!important; 
}
.informations_box
{
	width:22em;
	position:fixed;
	bottom:-15em;
	right:1em;
	z-index:6;
	text-align:center;
	display:none;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
	border-radius:1px 1px 0 0 ;
	border-top:3px solid #aaa;
	background:#fff;
}
.arabic .informations_box
{
	left:1em;
	right:auto;
}
.informations_box_close
{
	 background:#CC3333;
	 background:linear-gradient(#CC3333,#AA1111);
    color:#fff;
    font-size: 1.5em;
    font-weight: bold;
    position:absolute;
	right:0.3em;
	top:0.3em;
    padding: 0.1em 0.5em;
	z-index:2;
border-radius:1px;
}
.arabic .informations_box_close
{
	left:0.3em;
	right:auto;
}

.informations_box_contenu
{	
	padding:0 1em 2em;
	position:relative;
}
.informations_box_contenu p
{
  border-bottom:1px solid #ccc;
  font-size:1.4em;
  text-align:center;
}
.informations_box_buttons
{
	margin:0.7em 0 0.5em 0;
}
.informations_box_message
{
  font-size:1.2em;
  color:#111;
}
.informations_box_message a
{
  color:#111;
}
.hint 
{
	display:none;
	background: #008BC5;
	background: linear-gradient(#008BC5, #006EB4) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #007ACC;
    border-bottom: 3px solid #004B7C;
    border-radius: 4px;
    color: #fff;
	padding:0.2em 0.5em;
	position:absolute;
	z-index:2;
	line-height:1.4em;
	left:3px;
	white-space:nowrap;
	margin:0;
	text-shadow:none;
}
.arabic .hint
{
	left:auto;
	right:3px;
}
.hint:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #008BC5 transparent;
      top: -16px;
      left: 10%;
}
.arabic .hint:after {
	left: auto;
	right: 10%;
}
#alexa
{
	bottom: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
}


#login_form
{
	display:block;
	padding:0 0 0 1%;
	position:relative;
	width:47%;
	float:left;
	text-align:left;
	
}
.arabic #login_form
{
	float:right;
	padding:0 1% 0 0;
	text-align:right;
}
#login_form span
{
	display:block;
	margin:0.5em 0 0.2em 0;
}
#login_form #login_title
{
	padding:0;
	font-size:1.3em;
	color:#999;
}
#login_form label
{
	display:block;
}
.login_input
{
	background:#f5f5f5;
	border-radius:2px;
	width:90%;
	font-size:1em;
	padding:0.4em;
	border:1px solid #ccc;
	margin:0.2em 0px 0.4em;
}
.login_forgot
{
	color:#E03500;
	display:block;
	margin:1em 0px 0 0;
}
#login_submit
{
	font-size:1.1em;
	margin:1em 0 0 0;
}

#login_right
{
	float:right;
	width:49%;
	text-align:left;
	padding:0em 0 0 2%;
	margin-top:3.2em;
	border-left:2px solid #eee;
}
.arabic #login_right
{
	border-left:none;
	border-right:2px solid #eee;
	text-align:right;
	padding:0em 2% 0 0;
	float:left;
}
#login_right label
{
	display:block;
	color:#777;
	margin:0.2em 0px;
}
#login_right a
{
	display:block;
	
	color:#000;
}
#login_signup
{
	padding-left:4.2em;
	background:url("//www.ouedkniss.com/images/membre/connexion/signup.png") no-repeat 0px center / 3.5em;
}
.arabic #login_signup
{
	padding-left:0;
	padding-right:4.2em;
	background:url("//www.ouedkniss.com/images/membre/connexion/signup.png") no-repeat right center / 3.5em;
}
#login_signup a
{
	color:#52ADE1;
	margin:0px 0px 3em 0px;
}
#login_store
{
	padding-left:4.2em;
	background:url("//www.ouedkniss.com/images/membre/connexion/store.png") no-repeat 0px center / 3.5em;
}
.arabic #login_store
{
	padding-left:0;
	padding-right:4.2em;
	background:url("//www.ouedkniss.com/images/membre/connexion/store.png") no-repeat right center / 3.5em;
}
#login_store a
{
	color:#238B69;
	margin:0px 0px 3em 0px;
}
#login_help
{
	padding-left:4.2em;
	background:url("//www.ouedkniss.com/images/membre/connexion/help.png") no-repeat 0px center / 3.5em;
}
.arabic #login_help
{
	padding-left:0;
	padding-right:4.2em;
	background:url("//www.ouedkniss.com/images/membre/connexion/help.png") no-repeat right center / 3.5em;
}
#login_remember_me
{
	float:left;
	margin:0.45em 0.5em 0 0;
}
.arabic #login_remember_me
{
	float:right;
	margin:0.45em 0em 0 0.5em;
}
#login_label_remember_me
{
	float:left;
	margin:0px 0em 0px 0px;
	color:#444;
}
.arabic #login_label_remember_me
{
	float:right;
}
.menu_select
{
	display:inline-block;
	position:relative;
	font-size:1.2em;
}
.menu_select_a
{
	background:url("//www.ouedkniss.com/images/arrow_down.png") no-repeat scroll right center #f5f5f5;
	background-size:1em auto;
	padding:0.3em 1.4em 0.3em 0.3em;
	border:1px solid #ddd;
	color:#000;
	display:block;
	border-radius:1px;
}
.arabic .menu_select_a
{
	background:url("//www.ouedkniss.com/images/arrow_down.png") no-repeat scroll 0.3em center #f5f5f5;
	background-size:1em auto;
	padding:0.3em 0.3em 0.3em 1.4em;
}
.menu_select .hint
{
	margin:1em 0 0 0;
}
.menu_select_items 
{
	display:none;
	position:absolute;
	border:1px solid #ddd;
	background:#fff; 
	z-index:2;
	max-height:26em;
	overflow:auto;
	width:15em;
	top:2em;
	left:0; 
}
.arabic .menu_select_items
{
	right:0;
	left:auto;
}
.menu_select_items a
{
	border-bottom:1px solid #eee;
	padding:0.2em 0.4em;
	display:block;
	color:#000;
	font-weight:400;
}
.menu_select_items a.selected
{
	background:url(//www.ouedkniss.com/images/annonces/done_selected.png) no-repeat 5px center;
	padding-left:30px;
}
.arabic .menu_select_items a.selected
{
	background:url(//www.ouedkniss.com/images/annonces/done_selected.png) no-repeat 98% center;
	padding-right:30px;
	padding-left:0px;
}

#recherche_suggestions
{
	margin:0 1.5% 1em;
	padding:0 0em 1em 0;
	border-bottom:1px solid #eee; 
	display:none;
	height:1em;
	overflow:hidden; 
}
#recherche_suggestions a
{
	display:inline-block;
	margin:0 0.5em 0 0;
	color:#666;
	font-size:1.2em;
}
#recherche_suggestions a b
{
	color:#000;
}
.fr 
{
	text-align:left!important;
	direction:ltr!important;
}