#page
{
	text-align:left;	
}
.arabic #page
{
	text-align:right;
}
#page_top
{
	height:642px;
	background:#fff;
	padding:0.8em 0 0.4em 0;
	overflow:hidden;
}
#page_top_contenu
{
	position:relative;
}
#page_top_menu
{
	float:left;
	width:18%;
}
.arabic #page_top_menu
{
	float:right;
}
#page_top_right
{
	width:300px;
	text-align:center;
	position:absolute;
	top:0em;
	right:0;
	height:600px;
	overflow:hidden;
}
.arabic #page_top_right
{
	right:auto;
	left:0;
}
#page_top_left
{
	position:absolute;
	left:19%;
	right:300px;
}
.arabic #page_top_left
{
	right:19%;
	left:300px;
}
@media (min-width:1100px)
{
	#menu_sousmenu_annonces_categories
	{
		display:block;
	}
}
@media (max-width:1099px)
{
	#page_top_left
	{
		left:0;
	}
	.arabic #page_top_left
	{
		right:0;
	}
}
#page_bottom
{
	position:relative;
	border-top:1px solid #ccc;
	
}
#page_bottom_right
{
	
}
#page_bottom_left
{
	
}

#top_annonces
{	
	height:642px;
	position:relative;
} 
#pub_care
{
	text-align:center;
	margin:0 0 1em 0;
}
#adsense_300x250
{
	
}
#slides
{
	
}
.slide
{
	display:none;
}
#slide_1
{
	display:block;
}

#slide_goto
{
	position:absolute;
	bottom:0;
	height:28px;
	left:0;
	right:0;
	text-align:center;
}
.slide_goto
{
	display:inline-block;
	width:23px;
	height:23px;
	border-radius:20px;
	background:#f5f5f5;
	margin:0 5px 0 0;
	border:1px solid #aaa;
	cursor:pointer;
}
.arabic .slide_goto
{
	margin:0 0 0 5px;
}
.slide_goto_selected
{
	background:#317ECF!important;
	border-color:#226fc0!important;
}
#slide_container
{
	width:100%;
	
}
.tp { 
    display: block; 
    float: left;
    margin: 0 0.7% 4px 0;
    position: relative;
    width: 23.6%;
	background:#f5f5f5;
	height:146px;
	border:1px solid #ccc;
}
.arabic .tp { 
float:right;
margin: 0 0 4px 0.7%;
}
.tp_grand
{
	width:48.1%;
	height:297px;
	font-size:1.2em;
	

}
.tp_img {
  
display:block;
height:138px;
margin:4px;
}
.tp_grand .tp_img {

	height:290px;
}
.tp img
{
    width: 100%;
    height: 100%;
}
.tp_titre {
	background:#f5f5f5;
	background:rgba(255,255,255,0.9);
    bottom: 0;
    color: #000;
    display: block;
    font-size: 1.2em;
    left: 0em;
    padding: 0.2em 0.3em 0.2em;
    position: absolute;
    right: 0em;
	border-top:1px solid #ccc;
	line-height:1.1em;
	overflow:hidden;	
    min-height: 2.3em;
}
@media (min-width:1100px)
{
	.tp_titre 
	{
	max-height: 3.3em;
	}
}
.tp_prix {
    background: #EC0000;
    color: #fff;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.1em 0.3em;
    position: absolute;
    right: 4px;
    top: 4px;
	letter-spacing:-0.9px;
	max-width:88%;
}
.arabic .tp_prix {
right:auto;
left:4px;
padding:0.1em 0.1em 0.3em;
}
#plus_visitees
{
	min-height:145em;
}
#plus_visitees .spacer
{
	padding:1em 2.3% 1em 0;
}
.arabic #plus_visitees .spacer
{
	padding:1em 0 1em 2.3%;
}
#may_like
{
	background:#e5e5e5;
}
#may_like .spacer
{
	margin:1em 2.3% 1em 0; 
	border-color:#FFA700;
}
.arabic #may_like .spacer
{
	padding:1em 0 1em 2.3%;
}
.plus_visitees_sep
{
	padding:1em 0;
	clear:both;
}
.plus_visitees_block_titre
{
	position:relative;
	padding:1.5em 0 0 0;
	margin:0em 0.5% 0.5em;
	display:block;
}
.plus_visitees_block_titre p
{
	border-bottom:2px solid #ccc!important;
    font-size: 1.6em;
	margin:0;
	padding:0em 0 0.3em 0;
	color:#333;
	
}
.plus_visitees_block_titre span
{
	background: #FF7A28;
    border: 1px solid #f06b19;
    border-radius: 2px;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.1em 0.3em 0;
    position: absolute;
    right: 0;
    top: 1.4em;
}
.arabic .plus_visitees_block_titre span
{
	right:auto;
	left:0;
}
.plus_visitees_block_titre a:hover
{
	background:#FF7600;
}

#plus_visitees_categorie_informatique
{
	color:#1a6891;
	border-color:#1a6891;
}

#plus_visitees_categorie_electronique
{
	color:#1a6891;
	border-color:#1a6891;
}
#plus_visitees_categorie_telephones
{
	color:#1a6891;
	border-color:#1a6891;
}
#plus_visitees_categorie_telephonie_accessoires
{
	color:#1a6891;
	border-color:#1a6891;
}
#plus_visitees_categorie_loisirs_divertissements
{
	color:#063c60;
	border-color:#063c60;
}
#plus_visitees_categorie_vetements
{
	color:#480668;
	border-color:#480668;
}
#plus_visitees_categorie_accessoires_mode
{
	color:#480668;
	border-color:#480668;
}
#plus_visitees_categorie_cosmetiques
{
	color:#480668;
	border-color:#480668;
}
#plus_visitees_categorie_maison
{
	color:#493a21;
	border-color:#493a21;
}
#plus_visitees_categorie_divers
{
	color:#D46E37;
	border-color:#D46E37;
}
#plus_visitees_categorie_materiaux_equipement
{
	color:#333; 
	border-color:#333; 
}
#plus_visitees_categorie_services
{
	color:#333; 
	border-color:#333; 
}
#plus_visitees_categorie_voyages
{
	color:#ff9900;
	border-color:#ff9900;
}
#plus_visitees_categorie_emploi_demandes
{
	color:#003fa8;
	border-color:#003fa8;
}
#plus_visitees_categorie_emploi_offres
{
	color:#003fa8;
	border-color:#003fa8;
}
#plus_visitees_categorie_immobilier
{
	color:#97AC58;
	border-color:#97AC58;
}
#plus_visitees_categorie_vehicules
{
	color:#B14747;
	border-color:#B14747;
}
#plus_visitees_categorie_automobiles
{
	color:#B14747;
	border-color:#B14747;
}
#plus_visitees_categorie_pieces_detachees
{
	color:#B14747;
	border-color:#B14747;
}
.plus_visitees_annonce {
    display: block;
	background:#f5f5f5;
    float: left;
    height: 19.6em;
    margin: 0 0.5% 1em 0.5%;
    position: relative;
    width: 15.65%; 
	border:1px solid #bbb;
	box-sizing:border-box;
	height:15em;
	box-shadow:0 0 3px #d5d5d5;
}
.arabic .plus_visitees_annonce
{
	float:right;
}
.plus_visitees_img {
  
display:block;

}
.plus_visitees_img img
{
    width: 100%;
    height:13em;
	display:block;
}
.plus_visitees_bottom {
 
	bottom:0;
	left:0;
	right:0;
	position:absolute;
}
.plus_visitees_titre {
    color: #222;
    display: block;
    font-size: 1.3em;
	line-height:1.1em;
	padding:0.2em 0.4em 0.3em;
	background:#f5f5f5;
}
.plus_visitees_date {
    display: block;
    font-size: 1.2em;
	background:#e5e5e5;
	color:#333;
	padding:0.2em 0.4em 0.1em;
}
.plus_visitees_prix {
    background: #F9B006;
	font-weight:bold;
	color:#000;
    display: block;
    font-size: 1.3em;
	padding:0em 0.2em;
	position:absolute;
	top:0;
	right:0;
}
.arabic .plus_visitees_prix
{
	right:auto;
	left:0;
	padding:0em 0.2em 0.2em;
}

#categories {
	padding:1em 0.5% 2em 0.5%;
		border-top:1px solid #ccc;
}
#categories h1{
	margin:0 1% 0em 0;
	padding:0.4em 0em;
    font-size: 1.6em;
	font-weight:400;
	color:#333;
	border-bottom:2px solid #eee;
}
.arabic #categories h1
{
	margin:0 0 0 1%;
}
#categories .block_titre
{
	margin: 0;
}
#categories .block_titre span
{
	padding:0.1em 0.2em;
	margin:0.05em 0;
	color:#fff;
	background:#FF7600;
	background:linear-gradient(#FF941E, #F26900);
	font-weight:bold;
}

.block {
    width: 24%;
	margin:0px 1% 0 0;
    float: left;
}
.arabic .block 
{
	float:right;
	margin:0 0 0 1%;
}
#categories a  
{
    display: block;
	color: #333;
    display: block;
    font-size: 1.2em; 
    line-height: 1.8em;
	border-bottom:1px solid #f5f5f5;
	margin:0 0 0.2em 0;
	padding:0 0 0em 0;
}

#categories  .categorie_tout
{
	font-weight:bold;
	color:#000;
	font-size:1.05em;
	border-bottom:none!important;
}

#categorie-informatique a h2
{
	border-bottom:2px solid #1a6891;
	 color: #1a6891;
	 background:url(//www.ouedkniss.com/images/categories/informatique_min.png) no-repeat 5px center ;
}
#categorie-media a h2
{
	border-bottom:2px solid #1a6891;
	 color: #1a6891;
	 	 	 background:url(//www.ouedkniss.com/images/categories/media_min.png) no-repeat 5px center ;

}
#categorie-telephones a h2
{
	border-bottom:2px solid #1a6891;
	 color: #1a6891;
	 	 background:url(//www.ouedkniss.com/images/categories/telephones_min.png) no-repeat 5px center ;

}
#categorie-telephonie_accessoires a h2
{
	border-bottom:2px solid #1a6891;
	 color: #1a6891;
	 	 	 background:url(//www.ouedkniss.com/images/categories/telephonie_accessoires_min.png) no-repeat 5px center ;

}
#categorie-electronique a h2
{
	border-bottom:2px solid #1a6891;
	 color: #1a6891;
	 	 	 background:url(//www.ouedkniss.com/images/categories/electronique_min.png) no-repeat 5px center ;

}
#categorie-loisirs_divertissements a h2
{
	border-bottom:2px solid #063c60;
	 color: #063c60;
	 	 	 background:url(//www.ouedkniss.com/images/categories/loisirs_divertissements_min.png) no-repeat 5px center ;

}
#categorie-vetements a h2
{
	border-bottom:2px solid #480668;
	 color: #480668;
	 	 	 background:url(//www.ouedkniss.com/images/categories/vetements_min.png) no-repeat 5px center ;

}
#categorie-accessoires_mode a h2
{
	border-bottom:2px solid #480668;
	 color: #480668;
	 	 	 background:url(//www.ouedkniss.com/images/categories/accessoires_mode_min.png) no-repeat 5px center ;

}
#categorie-cosmetiques a h2
{
	border-bottom:2px solid #480668;
	 color: #480668;
	 	 	 background:url(//www.ouedkniss.com/images/categories/cosmetiques_min.png) no-repeat 5px center ;

}
#categorie-maison a h2
{
	border-bottom:2px solid #493a21;
	 color: #493a21;
	 	 	 background:url(//www.ouedkniss.com/images/categories/maison_min.png) no-repeat 5px center ;

}
#categorie-divers a h2
{
	border-bottom:2px solid #D16B34;
	 color: #D16B34;
	 	 	 background:url(//www.ouedkniss.com/images/categories/divers_min.png) no-repeat 5px center ;

}
#categorie-services a h2
{
	border-bottom:2px solid #333;
	 color: #333;
	 	 background:url(//www.ouedkniss.com/images/categories/services_min.png) no-repeat 5px center ;

}
#categorie-materiaux_equipement a h2
{
	border-bottom:2px solid #333;
	 color: #333;
	 	 	 background:url(//www.ouedkniss.com/images/categories/materiaux_equipement_min.png) no-repeat 5px center ;

}
#categorie-voyages a h2
{
	border-bottom:2px solid #E7C000;
	 color: #E7C000;
	 	 	 background:url(//www.ouedkniss.com/images/categories/voyages_min.png) no-repeat 5px center ;

}
#categorie-emploi_offres a h2
{
	border-bottom:2px solid #5B8B9C;
	 color: #5B8B9C;
	 	 	 background:url(//www.ouedkniss.com/images/categories/emploi_offres_min.png) no-repeat 5px center ;

}
#categorie-emploi_demandes a h2
{
	border-bottom:2px solid #5B8B9C;
	 color: #5B8B9C;
	 	 	 background:url(//www.ouedkniss.com/images/categories/emploi_demandes_min.png) no-repeat 5px center ;

}
#categorie-immobilier a h2
{
	border-bottom:2px solid #05580a;
	 color: #05580a;
	 	 	 background:url(//www.ouedkniss.com/images/categories/immobilier_min.png) no-repeat 5px center ;

}
#categorie-automobiles a h2
{
	border-bottom:2px solid #b6250c;
	 color: #b6250c;
	 	 background:url(//www.ouedkniss.com/images/categories/automobiles_min.png) no-repeat 5px center ;

}
#categorie-vehicules a h2
{
	border-bottom:2px solid #b6250c;
	 color: #b6250c;
	 	 	 background:url(//www.ouedkniss.com/images/categories/vehicules_min.png) no-repeat 5px center ;
}
#categorie-pieces_detachees a h2
{
	border-bottom:2px solid #b6250c;
	color: #b6250c;
	background:url(//www.ouedkniss.com/images/categories/pieces_detachees_min.png) no-repeat 5px center ;
}
#categories h2 {
  
    display: block;
    font-size: 1.1em;
    margin: 1em 0 0 ;
    padding:0.3em 0em 0.2em 40px;
	line-height:30px;
	font-weight:bold;
	background-color:#fafafa!important;
	border-bottom:2px solid #ddd;
	
}
.arabic #categories h2 
{
	 padding:0.3em 40px 0.2em 0;
	 background-position:98% center;
}
@media (max-width:1100px)
{
	#categories h2 
	{
		padding-left:0.5em;
		background-image:none!important;
	}
	.arabic #categories h2 
	{
		padding-right:0.5em;
	}
}
#list-last-stores
{
	padding:0.1em 0% 1.3em 0%;

	background:#e5e5e5;
}
.etqt {
  display:block;
  border:1px solid #bbb;
  margin:1em 0.5% 0 0.5%;
  float:left;
  width:19%;
  box-sizing:border-box;
} 
.arabic .etqt {
	float:right;
}
.last {
	 margin-right:0px;
} 
.arabic .last {
	 margin-left:0px;
	 margin-right:0.5%;
} 
.etqt img{  
  width:100%;
  display:block;
  height:7em;
   border-radius:1px;
}
.spacer
{
	border-bottom:2px solid #eee;
	padding-top:13px;  
	margin-bottom:13px;
}