.fullPage {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #B7B7B7;
	border-radius: 5px 5px 5px 5px;
	display: block;
	min-height: 600px;
	padding: 0 0 20px;
	position: relative;
	margin: 0 auto;
	width: 70%;
	margin-top: 20px;
}
.noCookiesError {
	margin: 59px 0 5px 42px;
}
.cookiesReq h2 {
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	font-family: "HPSimplifiedBold", arial, sans-serif;
	color: #d7410b;
}
.cookiesReq p {
	font-size: 12px;
	line-height: 28px;
	font-family: "HPSimplifiedW04Bold","HPSimplifiedBold", arial, sans-serif;
	color: #5D5D5C;
	font-weight: lighter;
}