.cntr-wrapper {
	background: #ffffff;
	position: relative;
}

.main-wrapper {
	padding: 0 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.stretch-wrapper {
    padding-top: 56px;
	position: relative;
	margin: 0 auto;
	min-width: 1000px;
	max-width: 1600px;
	background: #ffffff;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	-webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.stretch-wrapper_small {
    /*padding-top: 0;*/
    width: 1000px;
    max-width: none;
}

.rebrand-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 1000px;
	padding: 0 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 999;
}

.rebrand-header_home {
    position: static;
    padding: 0;
}

.rebrand-header__element {
	position: relative;
	background: #ffffff;
	color: #2d2d2d;
	margin: 0 auto;
	min-width: 1000px;
	max-width: 1600px;
	min-height: 55px;
	border: 1px solid #dcdcdc;
	border-top: none;
}

.rebrand-header__element:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: -1px;

}

.rebrand-header_home .rebrand-header__element,
.rebrand-header_section .rebrand-header__element {
    border:none;
    border-bottom: 2px solid #1c629c;
}

.rebrand-header__top {
    padding-bottom: 12px;
    border-bottom: 1px solid #d0d0d0;
    position: relative;
    text-align:center;
}

.rebrand-header-social {
    background: #fff;
    width: 245px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -14px;
    margin: auto;
    line-height:0;
    font-size:0;
    padding: 0 5px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    z-index: 2;
}
.rebrand-header-social__item {
    display: inline-block;
    padding: 5px 8px;
    vertical-align: middle;
}


.rebrand-header__bottom {
    padding: 20px 0 15px;
}

.rebrand-header__logo-caption {
    text-align:center;
    color: #7b7b7b;
    margin-top: -13px;
    padding: 0;
}

.rebrand-header__logo-caption:hover {
    color: #7b7b7b;
}

.rebrand-header_scrolled .rebrand-buttons {
	position: absolute;
	top: 110%;
}

.rebrand-header_scrolled .rebrand-button {
	float: none;
	display: block;
	margin-left: 0;
	margin-bottom: 15px;
}

.rebrand-header_scrolled .rebrand-inner-logo {
	opacity: 0;
	z-index: -1;
}

.rebrand-header_scrolled .rebrand-header__section {
	display: block;
}

.rebrand-inner-logo {
	width: 600px;
	position: absolute;
	left: 0;
	right: 0;
	top: 9px;
	bottom: 0;
	margin: auto;
	text-align: center;
	line-height: 0;
	-webkit-transition: opacity ease-in-out 0.1s;
	-moz-transition: opacity ease-in-out 0.1s;
	-ms-transition: opacity ease-in-out 0.1s;
	-o-transition: opacity ease-in-out 0.1s;
	transition: opacity ease-in-out 0.1s;
}

.rebrand-inner-logo__link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.inner-logo__img {
	height: 38px;
}

.rebrand-main-logo {
    width: 400px;
    display: block;
    margin: 0 auto -10px;
}

.rebrand-main-logo__img {
    max-width: 100%;
}

.rebrand-header__title {
	font: 18px/1.2 'Roboto', Arial, sans-serif;
	background: #ffffff;;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
}

.i-header__title {
    margin-left: 15px;    
}

.rebrand-header__title span:first-child {
	font: 25px Roboto, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.rebrand-inner__title {
    display: inline-block;
    vertical-align: middle;
    font: 25px/1em Roboto, Arial, sans-serif;
    display: inline-block;
    margin-right: 0;
    font-weight: 700;
    text-transform: uppercase
}

.rebrand-buttons {
	margin-left: -20px;
	padding-top: 11px;
	float: left;
}

.rebrand-button {
	font: bold normal 12px/1.4	 'Tahoma', 'Arial', sans-serif;
	position: relative;
	float: left;
	background: #ffffff;
	min-height: 32px;
	padding: 0 10px;
	border: 1px solid #dcdcdc;
	text-transform: uppercase;
	margin-left: 15px;
	vertical-align: middle;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background ease-in-out 0.1s, border-color ease-in-out 0.1s;
	-moz-transition: background ease-in-out 0.1s, border-color ease-in-out 0.1s;
	-ms-transition: background ease-in-out 0.1s, border-color ease-in-out 0.1s;
	-o-transition: background ease-in-out 0.1s, border-color ease-in-out 0.1s;
	transition: background ease-in-out 0.1s, border-color ease-in-out 0.1s;
	cursor: pointer;
}

.rebrand-button_light {
    border: none;
    padding: 0;
}

.rebrand-header_home .rebrand-header__element,
.rebrand-header_section .rebrand-header__element,
.rebrand-main-menu {
    min-width: initial;
    width: 960px;
}

.rebrand-header_home .rebrand-buttons,
.rebrand-header_section .rebrand-buttons {
    margin-left: 0;
}

.rebrand-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.rebrand-button:first-child {
	margin-left: 0;
}

.rebrand-button:hover {
	border-color: #CECECE;
}

.rebrand-button:active {
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}

.rebrand-button:focus {
	outline: none;
}

.rebrand-button__text {
	display: inline-block;
	vertical-align: middle;
}

.rebrand-button__counter {
	position: absolute;
	top: -10px;
	right: -8px;
	display: inline-block;
	background: #1c629c;
	color: #ffffff;
	font-weight: normal;
	font-size: 10px;
	line-height: 1;
	padding: 3px 4px 4px;
	min-width: 9px;
	letter-spacing: 0.05rem;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}

.rebrand-ico {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 30px;
	line-height: 0;
	font-size: 0;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: url('i/img/rebrand-icons.png');
	background-repeat: no-repeat;
}

.rebrand-ico_menu {
	background-position: 0 center;
}

.rebrand-ico_feed {
	background-position: -21px center;
}

.rebrand-ico + .rebrand-button__text {
	margin-left: 10px;
}

.rebrand-social {
	position: fixed;
	top: 160px;
	margin-left: -20px;
}

.rebrand-social-item {
	display: block;
	width: 36px;
	border: 1px solid #fff;
	margin-top: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all ease-in-out 0.1s;
	-moz-transition: all ease-in-out 0.1s;
	-ms-transition: all ease-in-out 0.1s;
	-o-transition: all ease-in-out 0.1s;
	transition: all ease-in-out 0.1s;
}

.rebrand-social-item:first-child {
	margin-top: 0;
}

.rebrand-social-item__icon {
	display: block;
	margin: 0 auto;
	height: 35px;
	background: url('i/img/rebrand-icons.png') no-repeat;
}

.rebrand-social-item__counter {
	text-align: center;
	font-size: 13px;
	line-height: 1;
	background: #ffffff;
	padding: 2px 0;
	display: block;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.rebrand-social-item_fb {
	background: #3b5998;
	border-color: #3b5998;
}

.rebrand-social-item_fb:hover {
	background: #3a4785;
	border-color:#3a4785;
}

.rebrand-social-item_fb .rebrand-social-item__icon {
	width: 9px;
	background-position: -198px center;
}

.rebrand-social-item_fb .rebrand-social-item__counter {
	color: #3b5998;
}

.rebrand-social-item_vk {
	background: #4c75a3;
	border-color: #4c75a3;
}

.rebrand-social-item_vk:hover {
	background: #486b92;
	border-color:#486b92;
}

.rebrand-social-item_vk .rebrand-social-item__icon {
	width: 17px;
	background-position: -212px center;
}

.rebrand-social-item_vk .rebrand-social-item__counter {
	color: #3b5998;
}

.rebrand-social-item_twitter {
	background: #56a3d9;
	border-color: #56a3d9;
}

.rebrand-social-item_twitter:hover {
	background: #589dcd;
	border-color:#589dcd;
}

.rebrand-social-item_twitter .rebrand-social-item__icon {
	width: 18px;
	background-position: -235px center;
}

.rebrand-social-item_twitter .rebrand-social-item__counter {
	color: #56a3d9;
}

.rebrand-social-item_ok {
	background: #f58220;
	border-color: #f58220;
}

.rebrand-social-item_ok:hover {
	background: #d77726;
	border-color:#d77726;
}

.rebrand-social-item_ok .rebrand-social-item__icon {
	width: 11px;
	background-position: -257px center;
}

.rebrand-social-item_ok .rebrand-social-item__counter {
	color: #f58220;
}

.rebrand-header__section {
	display: none;
	float: left;
	padding: 10px 25px 0;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.rebrand-header__section_center {
    display: block;
    width: 490px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    float: none;
    padding: 9px 0 0
}

.rebrand-small-logo {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
	line-height: 0;
    height: 38px;
}

.rebrand-small-logo img{
    max-height: 100%;
}

.rebrand-header-tools {
	background: #ffffff;
	position: absolute;
    top:0;
	right: 0;
	height: 100%;
}

.rebrand-header-tools:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 100%;
	left: -40px;
	top: 0;
	margin: auto 0;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 28%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,1) 90%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 28%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,1) 90%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 28%,rgba(255,255,255,0.9) 50%,rgba(255,255,255,1) 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );

}

.rebrand-header-tools__caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    color: #707070;
    padding-top:22px;
    text-transform: uppercase;
    margin-right: 8px;
    font: normal 10px/1.2em Arial, Helvetica, sans-serif;
}

.rebrand-languages {
	padding-top: 20px;
	float: left;
}

.rebrand-languages a {
	text-decoration: none;
	color: #acacac;
}

.rebrand-languages a:hover {
	color: #323232;
}

.rebrand-language {
	font: 10px/1.3 'Tahoma', 'Arial', sans-serif;
	color: #323232;
	display: inline-block;
	text-transform: uppercase;
	vertical-align: middle;
	margin-left: 5px;
}

.rebrand-language:first-child {
	margin-left: 0;
}

.rebrand-language_ukr:before {
	content: '';
	width: 14px;
	border-top: 6px solid #087bbc;
	border-bottom: 6px solid #ead573;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.rebrand-search {
	position: relative;
	margin-left: 10px;
	width: 50px;
	height: 100%;
	float: left;
}

.rebrand-search__input {
	width: 0;
	height: 55px;
	background: #ffffff;
	padding: 0 50px 0 0;
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: none;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-ms-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.rebrand-search__input_focus {
	width: 250px;
	padding-left: 25px;
	border-color: #dcdcdc;
}

.rebrand-search__input:focus {
	outline: none;
}

.rebrand-search__button {
	background: #fff;
	padding: 0;
	width: 50px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 1px;
	line-height: 0;
	border: none;
	cursor: pointer;
}

.rebrand-search__button:before {
	content: '';
	background: transparent url('i/img/rebrand-icons.png') no-repeat -42px 0;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.rebrand-search__button:hover:before {
	background-position: -67px 0;
}

.rebrand-search__button:focus {
	outline: none;
}

.rebrand-header__myoboz {
	float: left;
	width: 50px;
	height: 100%;
	position: relative;
}

.rebrand-header__myoboz:before {
	content: '';
	background: url('i/img/rebrand-icons.png') no-repeat -92px -2px;
	display: block;
	width: 13px;
	height: 15px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.rebrand-header__myoboz:hover:before {
	background-position: -109px -2px;
}

.rebrand-header__close {
	float: right;
	width: 50px;
	height: 100%;
	position: relative;
	margin-left: 20px;
}

.rebrand-header__close:before {
	content: '';
	background: url('i/img/rebrand-icons.png') no-repeat -147px -2px;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 15px;
	height: 15px;
}

.rebrand-header__close:hover:before {
	background-position: -167px -2px;
}

.rebrand-navigation {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    margin-left: -1px;
    background: #ffffff;
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    z-index: 1000;
    -moz-box-shadow: 25px 0 25px -25px rgba(64, 64, 64, 0.2);
    flex-flow: column wrap;
    max-height: 100vh;
    height: 100vh;
}

.rebrand-menu {
    padding: 15px 0;
    border-top: 1px solid #dcdcdc;
    background: #fff;
    flex-grow: 1;
    box-shadow: 25px 0 25px -25px rgba(64, 64, 64, 0.2);
}
.rebrand-menu:first-child {
	/*border-top: none;*/
    flex-grow: 0;
}


.rebrand-menu__item {
	padding: 0 10px;
	margin-bottom: 0;
	list-style: none;
	position: relative;
}

.rebrand-menu__item_title {
	color: #b8b8b8;
	text-transform: uppercase;
	padding: 6px 20px;
}

.rebrand-menu__link {
	color: #1f1f1f;
	font: 14px/1.2 'Roboto', Arial, sans-serif;
	text-decoration: none;
	color: #1f1f1f;
	display: block;
	padding: 6px 20px 6px 10px;
	text-transform: uppercase;
	-webkit-transition: all ease-in-out 0.1s;
	-moz-transition: all ease-in-out 0.1s;
	-ms-transition: all ease-in-out 0.1s;
	-o-transition: all ease-in-out 0.1s;
	transition: all ease-in-out 0.1s;
}

.rebrand-menu__link_parent:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 15px;
	margin: auto;
	width: 6px;
	height: 11px;
	background: url('i/img/rebrand-icons.png') no-repeat -187px -5px;
}

.rebrand-menu__link:hover,
.rebrand-menu__item:hover>.rebrand-menu__link {
	color: #1f1f1f;
	background: #e9ebf1;
}

.rebrand-menu__item:hover>.rebrand-submenu {
	display: block;
}

.rebrand-submenu {
	display: none;
	background: #ffffff;
	position: absolute;
	width: 190px;
	padding: 15px 0;
	border: 1px solid #dcdcdc;
	border-left: none;
	margin-top: -44px;
	right: -191px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 7px 0 25px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 7px 0 25px rgba(0, 0, 0, 0.2);
	box-shadow: 7px 0 25px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}
.rebrand-menu__item .long-bottom-subm {
    bottom: -18px;
}
.rebrand-submenu .rebrand-menu__link {
	text-transform: none;
}

.navigation-edge {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 25px;
	cursor: pointer;
	z-index: -1;
}

.rebrand-navigation_active .rebrand-navigation {
	display: flex;
}

.rebrand-navigation_active .rebrand-button_navi .rebrand-ico {
	z-index: 1001;
}

.stretch-wrapper_small .rebrand-button_navi .rebrand-ico {
	z-index: 0;
}

.stretch-wrapper_small .rebrand-social{
    display: none !important;
}

.rebrand-header-feed {
	display: none;
	background: #ffffff;
	position: fixed;
	top: 56px;
	bottom: 0;
	padding: 5px 0;
	width: 350px;
	margin-left: -1px;
	border-right: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 25px 0 25px -25px rgba(64, 64, 64, 0.2);
	-moz-box-shadow: 25px 0 25px -25px rgba(64, 64, 64, 0.2);
	box-shadow: 25px 0 25px -25px rgba(64, 64, 64, 0.2);
    z-index: 9999;
}



.stretch-wrapper_small  .rebrand-navigation {
    top:0;
    margin-left: -21px;

}
.main-wrapper_home .stretch-wrapper_small .rebrand-header-feed {
    margin-left: -1px;
     top: 0px;
}
.stretch-wrapper_small .rebrand-header-feed {
    top: 57px;
    margin-left: -21px;    
}
.stretch-wrapper_small .rebrand-header_scrolled ~.cntr-wrapper .rebrand-header-feed {
    top: 56px;
  
}
.stretch-wrapper_small .cnt-wrap  .rebrand-header-feed {
        margin-left: -1px;
}

.rebrand-header-feed__scroll {
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    background: #fff url('http://cdn.oboz.ua/css/i/loader.gif') no-repeat scroll center center;
}

.rebrand-header-feed__content {
	padding: 5px 20px;
}

.rebrand-header-feed .tab-cnt {
	padding: 0;
}

.rebrand-header-feed_active .rebrand-header-feed {
	display: block;
}

.rebrand-header-feed_active .rebrand-header-feed:before {
    content:"";
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    top: 15px;
    right: -42px;
    z-index: 999;
    border-right: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    box-shadow: 25px 0 25px -25px rgba(64, 64, 64, 0.2);
    background-image: url("i/feed-close.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.rebrand-header-feed_active .rebrand-header_scrolled .rebrand-button_feed .rebrand-ico {
	z-index: 1001;
}

.rebrand-main-menu {
    text-align: center;
    font-size: 0;
    line-height: 0;
    padding: 0;
    margin: 0 auto;
    border-bottom: 1px solid #d0d0d0;
}

.rebrand-main-menu__item {
    font-size: 12px;
    line-height: 1.2em;
    display: inline-block;
    position: relative;
    margin-bottom: -1px;
    vertical-align: bottom;
}

.rebrand-main-menu__item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 10px;
    margin: auto;
    width: 0; 
    border-left: 1px solid #d0d0d0;
}

.rebrand-main-menu__item:first-child:before {
    display: none;
}

.rebrand-main-menu__link {
    color: #3b3b3b;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    padding: 12px 10px 8px;
    min-height:18px;
    display: inline-block;
}

.rebrand-main-menu__item:first-child {
    border-left: none;
}

.rebrand-main-menu__link:hover {
    border-bottom: 1px solid #1c629c;
}

.rebrand-main-menu_small .rebrand-main-menu__link {
    text-transform: none;
}

/* START - scroll section */

.rebrand-header-feed_active .stretch-wrapper_small .rebrand-header_scrolled .rebrand-button_feed .rebrand-ico {
    z-index: 0
}

.stretch-wrapper_small .rebrand-header_scrolled .rebrand-button{
    display: inline-block;
    float: left;
    margin-left: 15px;
    margin-bottom: 0;
}
.stretch-wrapper_small .rebrand-header_scrolled .rebrand-button:first-child {
    margin-left: 0;    
}

.stretch-wrapper_small .rebrand-header_scrolled .rebrand-buttons {
    position: static
}

.stretch-wrapper_small .rebrand-header_scrolled .rebrand-button__text {
    display: inline-block
}

.brand-page .stretch-wrapper_small .rebrand-header{
    /*position: absolute;*/
}

.brand-page .stretch-wrapper_small .rebrand-header.rebrand-header_scrolled{
    position: fixed;
}

/* END - scroll section */

/* START - scroll mainpage */

.brand-page .main-wrapper_home .stretch-wrapper_small .rebrand-header {
    position: static
}
.brand-page .main-wrapper_home .stretch-wrapper_small .rebrand-header.rebrand-header_scrolled {
    position: fixed
}

.main-wrapper_home .stretch-wrapper_small {
    padding-top: 0
}
.main-wrapper_home .rebrand-header_scrolled + .rebrand-main-menu {
    padding-top: 208px;
}
.rebrand-header_home.rebrand-header_scrolled{
    position: fixed
}

.main-wrapper_home .rebrand-header__section_center,
.main-wrapper_home .rebrand-header_scrolled .rebrand-header__bottom,
.main-wrapper_home .rebrand-header_scrolled .rebrand-header-social,
.main-wrapper_home .rebrand-header_scrolled .rebrand-header-tools__caption,
.main-wrapper_home .rebrand-header_scrolled .rebrand-button:first-child .rebrand-button__text {
    display: none;
}

.main-wrapper_home .rebrand-header_scrolled .rebrand-header__top {
    border: none
}

.main-wrapper_home .rebrand-header_scrolled .rebrand-header__section_center{
    display: block
}

/* END - scroll mainpage */

@media screen and (max-width: 1600px) {
	.rebrand-header_scrolled .rebrand-button__text {
		display: none;
	}
}

@media screen and (max-width:1170px) {
    .stretch-wrapper .rebrand-header_scrolled .rebrand-buttons,
    .rebrand-social,
    .rebrand-button__text {
        display: none !important;
    }

    .stretch-wrapper_small .rebrand-header_scrolled .rebrand-buttons {
        display: block !important;
    }
    
    .rebrand-buttons{margin-left: 20px}
    
    .main-wrapper,
    .rebrand-header,
    .device-link .cntr{padding: 0}

    .main-wrapper {
        width: 1000px;
        overflow: hidden;
        margin:0 auto
    }
}

.rebrand-header__ads {
    margin-top: -5px;
    width: 160px;
    min-height: 90px;
    background: #f0f0f0;
}

    .rebrand-header__ads * {
        vertical-align: top
    }

.rebrand-header__ads_left {
    float: left;
}

.rebrand-header__ads_right {
    float: right;
}

.icon-rebrand {
  background-image: url(http://cdn.oboz.ua/css/i/rebrand-header-sprite.png);
  display: inline-block;
}

.icon-rebrand-Google:hover {
  background-position: -44px 0px;
}

.icon-rebrand-Google {
  background-position: -44px -24px;
  width: 15px;
  height: 12px;
}

.icon-rebrand-RSS:hover {
  background-position: -32px -16px;
}

.icon-rebrand-RSS {
  background-position: 0px -53px;
  width: 12px;
  height: 12px;
}

.icon-rebrand-facebook:hover {
  background-position: -68px 0px;
}

.icon-rebrand-facebook {
  background-position: -59px -32px;
  width: 8px;
  height: 14px;
}

.icon-rebrand-mobile:hover {
  background-position: -59px -16px;
}

.icon-rebrand-mobile {
  background-position: -59px 0px;
  width: 9px;
  height: 16px;
}

.icon-rebrand-photo {
  background-position: -16px -16px;
  width: 16px;
  height: 14px;
}

.icon-rebrand-pinterest:hover {
  background-position: 0px -30px;
}

.icon-rebrand-pinterest {
  background-position: -14px -30px;
  width: 14px;
  height: 14px;
}

.icon-rebrand-play {
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}

.icon-rebrand-twitter:hover {
  background-position: -28px -30px;
}

.icon-rebrand-twitter {
  background-position: -44px -12px;
  width: 15px;
  height: 12px;
}

.icon-rebrand-video {
  background-position: 0px -16px;
  width: 16px;
  height: 14px;
}

.icon-rebrand-vk:hover {
  background-position: 0px -44px;
}

.icon-rebrand-vk {
  background-position: -17px -44px;
  width: 17px;
  height: 9px;
}

.icon-rebrand-youtube:hover {
  background-position: -30px 0px;
}

.icon-rebrand-youtube {
  background-position: -16px 0px;
  width: 14px;
  height: 16px;
}




.city-main-menu {
    border-top: 1px solid #d0d0d0;
    font-size: 11px;
    line-height: 1.2em;
}
.city-main-menu ul {
    padding-left: 0;
}
.city-main-menu .city-list {
    float: left;
}
.city-main-menu .foto-radio-list {
    float: right;
}
.city-list__link,
.foto-radio__link {
    color: #3b3b3b;
    text-transform: uppercase;                        
    padding: 9px 9px 8px;                        
    display: inline-block;
    }                               
    .city-list__item, 
    .foto-radio__item {
    display: inline-block;
    position: relative;
    margin-bottom: -1px;
    vertical-align: bottom;
    }          
    .city-list__item:first-child:before,
    .foto-radio__item:first-child:before {
    border-left: none;
    }
    .city-list__item:before,
    .foto-radio__item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    width: 0;
    border-left: 1px solid #d0d0d0;
    bottom: 0;
    height: 12px;
}
    .ico-temp {
    background-image: url(http://cdn.oboz.ua/css/i/ico-menu-lite.png);
    background-repeat: no-repeat;
    overflow: hidden;
    }
    .foto-ico,
    .cam-ico,
    .radio-ico {
    display: inline-block;
    margin-left: 7px;
    position: relative;
    top: 2px;
    left: 5px;
    }
.foto-ico {
    background-position: 0px -3px;
    width: 16px;
    height: 14px;
}
.cam-ico {
    background-position: -18px -3px;
    width: 15px;
    height: 14px;
}
.radio-ico {
    background-position: -35px -3px;
    width: 15px;
    height: 15px;
}
.rebrand-header_scrolled .city-main-menu {
    display: none;
}

.oboz-tv-label, .oboz-tv-label:hover {
    color: #fff;
    background: #f00;
    padding: 3px;
}

/* New INNER NEWS */
        .news-inner .article-full {
            margin-bottom: 20px;
        }

        .news-inner .article-txt {
            text-align: center;
        }

        .news-inner .article-txt * {
            text-align: left;
        }

        .main-wrapper {
            overflow: hidden;
        }
     
        .rebrand-header-feed__content .b-news-large__item{
            padding: 0 !important;
            border: none !important
        }           
         
        @media screen and (max-width: 1400px) {
            .main-wrapper .rebrand-social {
                display: none;
            }
        }
       @media screen and (min-width: 1348px) {
            .news-inner .new-arr-blk {
                width: 1280px;
                margin-left: -640px;
                display:none;
            }
            .news-inner .rebrand-header-feed__scroll{
                height: auto !important;
                max-height: none !important
            }
            
            body .news-inner .brand-page .cnt-wrap:first-of-type {
                position: relative;
            }

            .news-inner .cnt-wrap,
            .news-inner .cnt-wrap-banner {
                padding-left: 330px;
                padding-right: 10px;
                width: 940px !important;
                background: #fff;
                margin: 0 auto;
            }

            .news-inner .cnt-wrap .cntr,
            .news-inner .cnt-wrap-banner-cntr {
                width: 940px !important;
                padding: 10px 0 0;
                margin: 0;
            }

            .news-inner .cnt-wrap-banner,
            .news-inner .cnt-wrap-banner-cntr {
                overflow: hidden
            }

            .news-inner .l-col {
                width: 620px;
            }

            .news-inner .rebrand-header-feed {
                display: block;
                position: absolute;
                top: 30px;
                padding: 0;
                width: 300px;
                border: none;
                box-shadow: none;
                z-index: 1;
                left: 50%;
                margin-left: -640px;
                padding-right: 10px;
                box-sizing: inherit;
                padding-left: 10px;
            }

            .news-inner .banner-wide-top-line {
                width: 1260px;
                padding-left: 10px;
                padding-right: 10px;
            }

            .news-inner .rebrand-header-feed__content {
                padding: 0; 
            }
            .rebrand-header-feed__content .tabs-news-wrap-2 .tab-news li{
               border-right: none;
                border-left: none;
            }
            .news-inner .rebrand-header-feed__content .tabs-news-wrap-2 .tab-news li{ 
                border-right: 1px solid #dcdcdc;
                border-left: 1px solid #dcdcdc;
            }
            
           .news-inner .rebrand-header-feed__content .b-news-large__item-content {
               border: none;
           }
           .news-inner .rebrand-header-feed__content  .tab-news li {
               padding: 12px 20px 14px;
               
           }
            .news-inner .rebrand-button_feed {
                display: none;
            }

            .news-inner .footer-new {
                width: 1280px;
            }

            .news-inner .footer-new .cntr {
                width: 1260px;
                box-sizing: border-box;
            }

            .news-inner .rebrand-header-feed .h3-ttl {
                display: block;
                 background-color: #fff;
            }


        }

        @media screen and (min-width: 1466px) {
            .news-inner .new-arr-blk {
                width: 1280px;
                margin-left: -640px;
                display: block;
            }
        }
        @media screen and (min-width: 1170px) {
            .news-inner .rebrand-social {
                z-index: 2;
                left: 10px;
                margin-left: 0;
            }
        }

        @media screen and (min-width: 1600px) {
            .news-inner .rebrand-social {
                z-index: 2;
                left: 50%;
                margin-left: -820px;
            }
        }

@media screen and (max-width: 1170px) {
    .stretch-wrapper {
        border: none;
    }

    .rebrand-navigation_active .rebrand-button_navi .rebrand-ico {
        z-index: 0;
    }
}
@media screen and (max-width: 1114px) {
    .news-inner .new-arr-blk {
        display: none;
    }
}
@media print {
    .tags-blk,
    .article-full .read-link,
    .scroll-to-news,
    .article-txt .italic {
        display: none!important;
    }
    .stretch-wrapper {
        padding-top: 10px;
        min-width: auto;
        max-width: none;
        border-left: none;
        border-right: none;
    }
    .l-col {
        width: auto;
    }
    .main-wrapper {
        padding: 0;
    }
    .cnt-wrap:not(:first-of-type) {
        display: none;
    }
    .article-full .article-full_big-photo img {
        width: auto;
        max-width: 100%
    }
    .article-full .article-full_big-photo {
        display:none;
    }    
}
