#wrapper {width:100%; background:url('/pb/img/main/bg_xmas_mid.png') no-repeat center 520px; }
/* header */
#wrapper #header {width:100%; border-bottom:1px solid #e9e9e9; }
#wrapper #header #top_menu {width:980px; height:20px; margin:0 auto; padding-top:10px; font-size:11px;}
#wrapper #header #top_menu ul li a { color:#111111;}
#wrapper #header #top_menu .left {float:left;}
#wrapper #header #top_menu .left ul li {float:left; padding:0 8px; background:url(/pb/img/main/line_top.gif) no-repeat right top;}
#wrapper #header #top_menu .left ul li.last {background:none;}
#wrapper #header #top_menu .right {float:right; position:relative;}
#wrapper #header #top_menu .right ul li {float:left; padding:0 8px;}
#wrapper #header #top_menu .right ul li.line {background:url('/pb/img/main/line_top.gif') no-repeat right top;}
#wrapper #header #top_menu .right ul li.line em {display:inline-block; font-weight:bold; font-family:'tahoma'}
#wrapper #header #top_menu .right ul li.line em a {color:#ef4123;}
#wrapper #header #top_menu .right ul li.btn img {position:relative; top:-4px;}
#wrapper #header #top_menu .right ul li.user_id {width:150px; text-align:right; }
#wrapper #header #top_menu .right ul li.user_id a {color:#010101;}
#wrapper #header #top_menu .right ul li.more {background:url('/pb/img/sub/arr_down.gif') no-repeat right 50%;}
#wrapper .newyear { /*height:340px;*/ }

/*
#wrapper #header_wrap {position: relative;z-index:99;z-index:99;  width:980px; margin:0 auto; padding-top:30px;}
#wrapper #header_wrap .top h1 { display: block; float: left; margin-left: 2px; }
#wrapper #header_wrap .top .hdsch-frm { float: left; position: relative; width: 328px; height: 32px; margin: 4px 0 0 30px; border: 2px solid #ef4123; }
#wrapper #header_wrap .top .hdsch-frm .key { width: 260px; height: 28px; line-height: 28px; padding-left: 14px; border: 0; color: #595959; font-weight: bold; }

#wrapper #header_wrap .top .count { float:left; padding:3px 0 0 42px; line-height: 41px; color: #000; font-size: 14px; font-weight: bold; background: url(/pb/img/main/bul_arr_h21.gif) no-repeat 15px 50%; }
#wrapper #header_wrap .top .btn_popcast {float:left; margin-left:70px;}
#wrapper #header_wrap #gnb {position:relative; width:849px; height:44px; margin-top:22px; padding-left:131px;background:url(/pb/img/main/gnb_h44.gif) no-repeat 0 0;}
#wrapper #header_wrap .bot {margin-top:10px; }

#wrapper #header_wrap .bot ul li.bot_con_1 { width: 222px; border: 1px solid #e1e1e1; border-right: 0; }
#wrapper #header_wrap .bot ul li.bot_con_1 ul li {float:none; position: relative; padding:0 15px 0 20px; background:url(/pb/img/main/bul_black.gif) no-repeat 10px 50%; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; letter-spacing:-0.01em; font-weight: bold; }
#wrapper #header_wrap .bot .bul-move { position: absolute; top: 150px; left: 0; border: 3px solid #ef4123; width: 216px; height: 27px; }
#wrapper #rank_container {width:100%; height:532px; margin-top:20px; background:url(/pb/img/main/bg_rank_h532.gif) repeat-x 0 top;}
.section_sponsor .top {position:absolute; left:0; top:-26px;width:300px;}
.section_sponsor .top p.tit {float:left;}
.section_sponsor .top p.mem {position:absolute;padding:33px 0 0 0;right:0;}
.section_sponsor .list {clear:both; margin-top:26px; border-top:2px solid #616161;}
.section_sponsor .list ul li {padding:10px; border-bottom:1px solid #dedede;}
.section_sponsor .list ul li dl dd {padding-bottom:5px;}
.section_sponsor .list ul li dl dd.last {padding-bottom:0;width:280px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.section_sponsor .list ul li dl dd span.id {padding-right:10px; font-weight:bold; color:#4a4a4a;}
#wrapper #radio_container {width:100%; height: 220px; margin-top: 30px; background-color: #30333b; }
#wrapper #radio_container .monthly_cast {position:absolute; left:680px; top:0; height:220px; background:#0b743d;}
#wrapper #radio_container .monthly_cast .inner-con {width:280px; padding:20px 0 0 20px;}
#wrapper #radio_container .monthly_cast .inner-con dl dd {padding-top:10px; font-size:18px; color:#d2ff00; font-weight:bold;width:140px;height:42px;overflow:hidden;}
#wrapper #main_container_2 { width: 980px; margin: 30px auto 0; }
#roll-pcast {overflow:hidden; width:980px; height:225px; margin:30px auto 0; background:#55575e;}
#roll-pcast .cont .inner-con ul li dl { width:150px;overflow:hidden;height:127px;float:left; padding:20px 0 0 10px; font-weight:bold; line-height:20px; }
#wrapper #footer_wrapper {width:980px; height:135px; margin:0 auto; padding-top:20px;}
*/
#wrapper #header_wrap .article { position: relative;z-index:99;z-index:99;  width:980px; margin:0 auto; padding-top:20px; }
#wrapper #header_wrap .top h1 { display: block; position:relative; width:140px; height:64px; float: left; margin-left: 2px; }
#wrapper #header_wrap .top h1 p { position:absolute; left:10px; top:10px; }
#wrapper #header_wrap .top h1 p.christmas{ top:10px; }
/* search_form */
#wrapper #header_wrap .top .hdsch-frm { float: left; position: relative; width: 364px; height: 32px; margin: 14px 0 0 0; border: 2px solid #443737; }
#wrapper #header_wrap .top .hdsch-frm label { display: none; }
#wrapper #header_wrap .top .hdsch-frm .key { width: 300px; height: 30px; line-height: 30px; padding-left: 14px; border: 0; color: #595959; font-weight: bold; }
#wrapper #header_wrap .top .hdsch-frm .btn { position: absolute; top: 0; right: 0; width: 50px; height: 32px; line-height: 32px; color: #fff; font-size: 14px; font-weight: bold; letter-spacing: -1px; background-color: #443737; }
/* count */
#wrapper #header_wrap .top .count { float:left; padding:13px 0 0 42px; line-height: 41px; color: #000; font-size: 14px; font-weight: bold; background: url(/pb/img/main/ico_arr_r_blk.gif) no-repeat 15px 23px; }
#wrapper #header_wrap .top .count strong { color: #f15622; }
#wrapper #header_wrap .top .btn_popcast {float:left; margin:12px 0 0 70px;}
#wrapper #header_wrap .top .btn_geesik {float:right; margin:12px 10px 0 0px;}
/* gnb */
#wrapper #header_wrap #gnb {position:relative; width:849px; height:44px; margin-top:12px; padding-left:131px;background:url(/pb/img/main/gnb_h44.jpg) no-repeat 0 0;}
#wrapper #header_wrap #gnb ul li {float:left; position:relative;}
#wrapper #header_wrap #gnb ul li a {display:block; height:44px; text-indent:-9999px; font-size:0; line-height:0;}
#wrapper #header_wrap #gnb ul li.menu_1 a {width:78px;}
#wrapper #header_wrap #gnb ul li.menu_2 a {width:76px;}
#wrapper #header_wrap #gnb ul li.menu_3 a {width:87px;}
#wrapper #header_wrap #gnb ul li.menu_4 a {width:181px;}
#wrapper #header_wrap #gnb ul li.menu_5 a {width:121px;}
#wrapper #header_wrap #gnb ul li.menu_6 a {width:183px;}
#wrapper #header_wrap #gnb ul li.menu_7 a {width:244px;}

/* gnb_new */
#wrapper #header_wrap #gnb_new {position:relative; width:980px; height:44px; margin-top:12px;}
#wrapper #header_wrap #gnb_new ul li {float:left; position:relative;}
/*#wrapper #header_wrap #gnb_new ul li a {display:block; height:44px; text-indent:-9999px; font-size:0; line-height:0;}
#wrapper #header_wrap #gnb_new ul li.menu_1 a {width:78px;}
#wrapper #header_wrap #gnb_new ul li.menu_2 a {width:76px;}
#wrapper #header_wrap #gnb_new ul li.menu_3 a {width:87px;}
#wrapper #header_wrap #gnb_new ul li.menu_4 a {width:181px;}
#wrapper #header_wrap #gnb_new ul li.menu_5 a {width:121px;}
#wrapper #header_wrap #gnb_new ul li.menu_6 a {width:183px;}
#wrapper #header_wrap #gnb_new ul li.menu_7 a {width:244px;}*/
/* header_wrap */
#wrapper #header_wrap .bot { overflow:hidden; margin-top:10px; }
#wrapper #header_wrap .bot ul li {float:left;}
#wrapper #header_wrap .bot ul li.bot_con_1 { width: 222px; border: 1px solid #aeaeae; border-right: 0; background:white; }
#wrapper #header_wrap .bot ul li.bot_con_1 ul li {float:none; position: relative; padding:0 15px 0 20px; background:url(/pb/img/main/bul_black.gif) no-repeat 10px 50%; border-right:1px solid #aeaeae; border-bottom:1px solid #e4e3e3; letter-spacing:-0.01em; }
#wrapper #header_wrap .bot ul li.bot_con_1 ul li.last { border-bottom:0;}
#wrapper #header_wrap .bot ul li.bot_con_1 ul li a {display:block; width:195px; height:31px; line-height:31px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;color:#111111;}
#wrapper #header_wrap .bot .bul-move { position: absolute; top: 150px; left: 0; border: 3px solid #ef4123; width: 216px; height: 27px; }
#wrapper #header_wrap .bot .bul-move .bul { position: absolute; top: -3px; right: -19px; display: block; width: 17px; height: 33px; background: url(/pb/img/main/bul_h33.gif) no-repeat 0 0; }
#wrapper #header_wrap .bot ul li.bot_con_2 { border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; }
#wrapper #header_wrap .bot .bot_con_3 { position: relative; width: 228px; padding: 4px 0 0 10px; background-color:transparent; }
#wrapper #header_wrap .bot .bot_con_3 h2 { font-size: 0; line-height: 0; }
#wrapper #header_wrap .bot .bot_con_3 .sns-lst { position: absolute; top: 0; right: -4px; }
#wrapper #header_wrap .bot .bot_con_3 .sns-lst li { float: left; margin-right: 4px; }
#wrapper #header_wrap .bot .bot_con_3 .log-frm { position: relative; margin-top: 9px; }
#wrapper #header_wrap .bot .bot_con_3 .log-frm .txt-input { width: 170px; height: 23px; line-height: 23px; margin-bottom: 4px; padding-left: 6px; border: 1px solid #c3c3c3; }
#wrapper #header_wrap .bot .bot_con_3 .log-frm .bt-submit { position: absolute; top: 0; right: 0; }
#wrapper #header_wrap .bot .bot_con_3 .log-lnk { margin-top: 8px; zoom: 1; }
#wrapper #header_wrap .bot .bot_con_3 .log-lnk:after { content: ""; display: block; clear: both; }
#wrapper #header_wrap .bot .bot_con_3 .log-lnk li { float: left; color; #767676; font-size: 11px; letter-spacing: -1px; }
#wrapper #header_wrap .bot .bot_con_3 .log-lnk li.first { position: relative; padding-left: 16px; }
#wrapper #header_wrap .bot .bot_con_3 .log-lnk li.first .ez-checkbox { position: absolute; top: -2px; left: 0; }
#wrapper #header_wrap .bot .bot_con_3 .log-lnk li.last { letter-spacing: 0; }
#wrapper #header_wrap .bot .bot_con_3 .log-lnk a { display: inline-block; margin-left: 4px; padding-left: 6px; background: url(/pb/img/main/line_top.gif) no-repeat 0 45%; }
#wrapper #header_wrap .bot .bot_con_3 .log-lnk em { color: #ef4123; font-weight: bold; letter-spacing: -1px; }
#wrapper #header_wrap .bot .bot_con_3 .log-btn { margin-top: 8px; }
/* rank_container */
#wrapper #rank_container {width:100%; /* height:512px; */ /*margin-top:20px;*/}
#wrapper #rank_container .bg {height:493px; background:url(/pb/img/main/bg_rank.gif) no-repeat 793px top;}
#wrapper #rank_container .bg .element {height:493px; background:url(/pb/img/main/bg_element.png) no-repeat 43% top; }
#wrapper #rank_container .rank_wrap {position:relative; width:980px; margin:0 auto; padding-top:2px;}
/* Layer Video AD */
.layer_vd {z-index:9999; position:absolute; left:0; top:0; width:980px; height:512px; background:#4b4b4b;}
.layer_vd .inner-con {position:relative;}
.layer_vd .btn {position:absolute; right:0; top:0;}
.layer_vd .vd {margin:0 auto; padding-top:25px; text-align:center;}
.layer_vd .vd .tit {padding-top:15px; font-size:14px; color:white; font-weight:bold;}
/* 팟캐스트 순위 / 카테고리 순위 */
#wrapper #rank_container .rank_wrap .rank_list { border-left:1px solid #aeaeae; border-top:1px solid #aeaeae; border-right:1px solid #aeaeae; }
#wrapper #rank_container .rank_wrap .rank_list .cate_list {display:inline-block; float:right; margin:10px 10px 0 0; }
#wrapper #rank_container .rank_wrap .rank_list .cate_list span {display:inline-block; padding:0 5px; color:#fff; font-size:11px; letter-spacing:-1px;}
#wrapper #rank_container .rank_wrap .rank_list .cate_list img {vertical-align:top; padding-top:2px;}
#wrapper #rank_container .rank_wrap .rank_list .top {position:relative; clear:both;  padding-left:20px;}
#wrapper #rank_container .rank_wrap .rank_list .top p {float:left;}
#wrapper #rank_container .rank_wrap .rank_list .top p img {border:1px solid #3f251c;}
#wrapper #rank_container .rank_wrap .rank_list .top dl {float:left; width:192px; padding-left:10px;}
#wrapper #rank_container .rank_wrap .rank_list .top dl dt {overflow:hidden; height: 33px; font-weight:bold; color:white; line-height:16px;}
#wrapper #rank_container .rank_wrap .rank_list .top dl dt a {color:#fff;}
#wrapper #rank_container .rank_wrap .rank_list .top dl dd {padding:10px 0 0 0; color:white;}
#wrapper #rank_container .rank_wrap .rank_list .top dl dd span.first {padding-right:10px;}
#wrapper #rank_container .rank_wrap .rank_list .top dl dd span.last {padding-left:12px; font-weight:bold;}
#wrapper #rank_container .rank_wrap .rank_list .top p.rank {position:absolute; right:15px; bottom:0; width:49px; height:49px; background:url(/pb/img/main/bg_ranking_star.png) no-repeat 0 0; color:#3c2413; font-size:14px; font-weight:bold; line-height:49px; text-align:center;}
#wrapper #rank_container .rank_wrap .rank_list .top .right {float:left; width:192px; padding-left:10px; color:white;}
#wrapper #rank_container .rank_wrap .rank_list .top .right p.icon span {display:inline-block; margin-right:5px;}
#wrapper #rank_container .rank_wrap .rank_list .top .right p.tit {width:130px;height:33px;overflow:hidden;margin-top:10px; line-height:16px;}
#wrapper #rank_container .rank_wrap .rank_list .top .right p.date {margin-top:10px;}
#wrapper #rank_container .rank_wrap .rank_list ol {margin-top:22px; width:320px; height:260px;}
#wrapper #rank_container .rank_wrap .rank_list ol li {float:none; position:relative; padding:7px 0 6px 15px; color:white;}
#wrapper #rank_container .rank_wrap .rank_list ol li.on { padding: 6px 0 6px 12px; border:3px solid #e69478;}
#wrapper #rank_container .rank_wrap .rank_list ol li span a {color:white;}
#wrapper #rank_container .rank_wrap .rank_list ol li span.rank_num {display: inline-block; width:20px; height:15px; background:url(/pb/img/main/bg_chart.gif) no-repeat 0 0; line-height:15px; text-align:center;}
#wrapper #rank_container .rank_wrap .rank_list ol li span.title {padding-left:5px;}
#wrapper #rank_container .rank_wrap .rank_list ol li p.rank_chg {position:absolute; right:20px; top:8px; font-family:"tahoma"; font-size:10px;}
#wrapper #rank_container .rank_wrap .rank_list .sort { zoom: 1; overflow: hidden; margin: 39px 0 0 34px; position:absolute; }
#wrapper #rank_container .rank_wrap .rank_list .sort li { float: left; width: 54px; height: 17px; line-height: 17px; margin-right: 10px; }
#wrapper #rank_container .rank_wrap .rank_list .sort li.on { background: url(/pb/img/main/bg_sort.png) no-repeat 0 0; }
#wrapper #rank_container .rank_wrap .rank_list .sort a { display: block; color: #fff; font-weight: bold; letter-spacing: -1px; text-align: center; }
/* 팟캐스트 순위 */
.rank_wrap .rank_cast {float:left; position:relative; width:318px; /* height:530px; */ /* padding-right:10px; */ }
.rank_wrap .rank_list .cont { position:relative; /* border:1px solid #e3e3e3; */ }
.rank_wrap .rank_list .cont > p.tit { padding:14px 10px 14px 15px; border-bottom:1px solid #aeaeae; }
.rank_wrap .rank_list .cont p.cate { position:absolute; right:10px; top:15px; font-size:11px; color:#ef4123; }
.rank_wrap .rank_list .thumb-area { position:relative; padding:13px 0 13px 15px; border-bottom:1px solid #aeaeae; background:#f6f6f6; }
.rank_wrap .rank_list .thumb-area p.rank { position:absolute; right:10px; bottom:10px; width:39px; height:39px; line-height:39px; text-align:center; font-weight:bold; background:url('/pb/img/main/bg_rank_orange.png') no-repeat 0 0; color:white; vertical-align:middle; }
.rank_wrap .rank_list .thumb-area p.thumb { position:absolute; left:15px; top:13px; }
.rank_wrap .rank_list .thumb-area dl { margin-left:91px; }
.rank_wrap .rank_list .thumb-area dl dt { font-weight:bold; height:28px; max-height:28px; display:block; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;
}
.rank_wrap .rank_list .tab-cont ul li:first-child { border-top:none; }
.rank_wrap .rank_list .tab-cont ul li { position:relative; border-top:1px solid #f6f6f6; padding:8px 12px; height:17px; overflow:hidden;}
.rank_wrap .rank_list .tab-cont ul li a { display:block; }
.rank_wrap .rank_list .tab-cont ul li a.on p.num,
.rank_wrap .rank_list .tab-cont ul li a.on p.tit { font-weight:bold; color:#ef4123; }
.rank_wrap .rank_list .tab-cont ul li p { float:left; }
.rank_wrap .rank_list .tab-cont ul li p.num { width:18px; height:15px; line-height:15px; border:1px solid #d1d1d1; background:#f6f6f6; font-weight:bold; color:#666; text-align:center; font-family:'tahoma'; font-size:11px; }
.rank_wrap .rank_list .tab-cont ul li p.tit { overflow:hidden; width:230px; text-overflow:ellipsis; white-space:nowrap; word-wrap: normal !important; padding:3px 0 0 8px;color:#111111; }
.rank_wrap .rank_list .tab-cont ul li p.stats { position:absolute; right:15px; top:9px; font-family:'tahoma'; font-size:11px; }
.rank_wrap .rank_list .tab-cont ul li p.stats img { vertical-align:1px; }
.rank_wrap .rank_list .tab-cont ul li p.stats > span { text-transform:lowercase; font-size:11px; }
#wrapper #rank_container .rank_wrap { letter-spacing:0; }
#wrapper #rank_container .rank_wrap .rank_list .thumb-area dl dd { margin-top:10px; font-size:11px; }
#wrapper #rank_container .rank_wrap .rank_list .thumb-area dl dd+dd { margin-left:1px; font-size:12px; }
#wrapper #rank_container .rank_wrap .rank_list .thumb-area dl dd > ul li { float:left; margin-left:12px; }
#wrapper #rank_container .rank_wrap .rank_list .thumb-area dl dd span img { vertical-align:-3px; }
#wrapper #rank_container .rank_wrap .rank_list .thumb-area dl dd > ul li img { vertical-align:-1px; }
#wrapper #rank_container .rank_wrap > .banner-n { position:absolute; right:0; top:476px; }

ul.tab-menu li { float:left; width:25%; border-top:1px solid #aeaeae; border-bottom:1px solid #aeaeae;background:#f6f6f6; font-weight:bold; text-align:center; }
ul.tab-menu li:first-child a { border-left:none; }
ul.tab-menu li a { display:block;  padding:10px 0; border-left:1px solid #aeaeae; color:#888; font-weight:bold; font-size:11px; }
ul.tab-menu li.on { position:relative; top:1px; border-top:none; }
ul.tab-menu li.on a { background:white; color:#333; }

#wrapper #rank_container .rank_wrap .rank_cast h2 {float:left; padding:10px 0 0 18px; height: 35px; color:#e69478; font-size:14px; font-weight:bold;}
#wrapper #rank_container .rank_wrap .rank_cast h2 .bul {float: right;font-size: 11px; margin-top: 1px;}
#wrapper #rank_container .rank_wrap .rank_cast h2 a {color: #e69478;}
#wrapper #rank_container .rank_wrap .rank_cast #cast_bar {display: block;position:absolute; border: 3px #e69478 solid; width: 314px; height: 26px; top: 149px; left:0;}
    /* 카테고리 순위 */
#wrapper #rank_container .rank_wrap .rank_cate { float:left; position:relative; width:318px;  margin-left:10px;/*  padding-right:10px; */ /* background:url(/pb/img/main/bg_ranking_2.gif) no-repeat 0 0; */}
#wrapper #rank_container .rank_wrap .rank_cate h2 {float:left; padding:10px 0 0 18px; height: 35px; color:#fdcc47; font-size:14px; font-weight:bold;}
#wrapper #rank_container .rank_wrap .rank_cate h2 .bul {float: right;font-size: 11px; margin-top: 1px;}
#wrapper #rank_container .rank_wrap .rank_cate h2 a {color: #fdcc47;}
#wrapper #rank_container .rank_wrap .rank_cate #cate_bar {display: block;position:absolute; border: 3px #fdcc47 solid; width: 314px; height: 26px; top: 149px; left:0;}
    /* 에피소드 순위 */
#wrapper #rank_container .rank_wrap .rank_epi {float:left; position:relative; width:320px; height:336px; /* background:url(/pb/img/main/bg_epi_2.png) no-repeat 0 0; */}
#wrapper #rank_container .rank_wrap .rank_epi h2 {float:left; padding:10px 0 0 18px; height: 35px; color:#fdcc47; font-size:14px; font-weight:bold;}
#wrapper #rank_container .rank_wrap .rank_epi h2 .bul {float: right;font-size: 11px; margin-top: 1px;}
#wrapper #rank_container .rank_wrap .rank_epi h2 a {color: #90aade;}
#wrapper #rank_container .rank_wrap .rank_epi #epi_bar {display: block;position:absolute; border: 3px #7088b8 solid; width: 314px; height: 26px; top: 149px; left:0;}
    /* 추천 팟캐스트 */
#wrapper #rank_container .rank_wrap .recmd_cast {float:left; width:320px; height:476px; }
#wrapper #rank_container .rank_wrap .recmd_cast h2 {padding-left:18px; height:34px; background:url(/pb/img/main/bg_bner.png) no-repeat 0 0;}
#wrapper #rank_container .rank_wrap .recmd_cast h2 a {color: #6dd1f6; font-size:14px; font-weight:bold; line-height:34px;}

/* Video AD */
.section_vd {position:absolute; left:660px; bottom:0; width:320px; height:130px; background:url('/pb/img/main/bg_ad.png') no-repeat 0 0; }
.section_vd .inner-con {position:relative;}
.section_vd p.thum {padding:8px 0 0 10px;}
.section_vd p.tit {position:absolute; left:176px; top:21px; font-weight:bold; color:#333; font-size:14px; }
.section_vd .desc {position:absolute; left:167px; top:50px; color:white; line-height:18px;cursor:pointer;}
.section_vd .desc p.name {margin-top:5px; color:#00d2ff; font-weight:bold;}
/* 데일리팟 / 팟툰 */
#wrapper #main_container_1 { width: 980px; margin: 30px auto 0; }
#wrapper #main_container_1 .dailypod-w, 
#wrapper #main_container_1 .podtoon-w { float: left; }
#wrapper #main_container_1 .hd { position: relative; padding-bottom: 8px; border-bottom: 2px solid #616161; }
#wrapper #main_container_1 .hd h2 { font-size: 0; line-height: 0; }
#wrapper #main_container_1 .hd .more { position: absolute; top: 5px; right: 0; }
#wrapper #main_container_1 .hd .snb { position: absolute; top: 2px; left: 100px; width: 213px; height: 14px; background: url(/pb/img/main/tit_sub.gif) no-repeat 0 0; }
#wrapper #main_container_1 .hd .snb ul { zoom: 1; overflow: hidden; }
#wrapper #main_container_1 .hd .snb li { float: left; }
#wrapper #main_container_1 .hd .snb li a { display: block; text-indent: -9999px; }
.daily_menu {overflow:hidden; position:absolute; left:80px; top:2px;}
.daily_menu ul { padding:0; }
.daily_menu ul li { float:left; padding-left:15px; background: url('/pb/img/main/line_gray.gif') no-repeat 4px 50%;}
.daily_menu ul li.first {background:none; padding:0;}
/* 추천 팟캐스트 */
.section_podcast {clear:both; float:left; width: 650px; margin-right: 30px;}
.section_podcast .tit { position: relative; padding-bottom: 8px; border-bottom: 2px solid #616161; }
.section_podcast .tit h2 { font-size: 0; line-height: 0; }
.section_podcast .tit .more { position: absolute; top: 5px; right: 0; }
.section_podcast ul {margin-top:10px;}
.section_podcast ul li {float:left; width:159px; margin-right:4px;}
.section_podcast ul li.last {margin-right:0;}
.section_podcast ul li dl dt { width: 100%; height:35px; overflow:hidden; margin-top: 6px; text-align: left; line-height:17px; font-weight:bold; }
.section_podcast ul li dl dd {padding-top:3px;}
.section_podcast ul li dl dd span.date {color:#8f8f8f;}
/* 데일리팟 */
#wrapper #main_container_1 .dailypod-w { width: 650px; margin-right: 30px; }
#wrapper #main_container_1 .nl, 
#wrapper #main_container_1 .nr { float: left; width:320px;}
#wrapper #main_container_1 .nl { margin-right:10px; }
#wrapper #main_container_1 .nr { /*padding-left: 18px;*/ }
#wrapper #main_container_1 span.count { color:#dd3e67; }
#wrapper #main_container_1 .hd-news { zoom: 1; overflow: hidden; padding-top:10px; }
#wrapper #main_container_1 .hd-news li { float: left; width: 155px; margin-right:10px; }
#wrapper #main_container_1 .hd-news li.last { margin-right: 0; }
#wrapper #main_container_1 .hd-news li .thumb img { width: 155px; height: 113px; }
#wrapper #main_container_1 .hd-news li .tit { width: 100%; height:35px; overflow:hidden; margin-top: 6px; text-align: center; line-height:17px; color:#078ad2; font-weight:bold; }
#wrapper #main_container_1 .hd-news li a { display:block; }
#wrapper #main_container_1 .news { margin-top: 15px; }
#wrapper #main_container_1 .news li { width:300px; padding-left:10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 1.75; background: url(/pb/img/main/bul_quad_gray.gif) no-repeat left 50%;}
#wrapper #main_container_1 .news li.now { }
#wrapper #main_container_1 .news li a { display:block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/* 팟방앗간 */
#wrapper #main_container_1 .mill-area { margin-top:50px; }
#wrapper #main_container_1 .mill-area .tit { position:relative; padding-bottom:5px; border-bottom:2px solid #616161 }
#wrapper #main_container_1 .mill-area .tit p.btn-more { position:absolute; right:0; top:5px; }
#wrapper #main_container_1 .mill-area .count{font-weight:700;}
/* 팥후원 */
.section_sponsor { float:left; position:relative; width:318px; height:390px; margin-left:10px; border:1px solid #aeaeae; /* border-top:1px solid #e3e3e3; */ }
.section_sponsor .top {position:relative; border-bottom:1px solid #b8aeae; /*border-right:1px solid #e3e3e3; */ }
.section_sponsor .top p.tit {float:left; padding: 14px 10px 13px 15px; }
@media screen and (-webkit-min-device-pixel-ratio:0) { .section_sponsor .top p.tit {float:left; padding: 14px 10px 14px 15px; }}
.section_sponsor .top p.mem {position:absolute; padding:12px 0 0 0;right:12px;}
.section_sponsor .top p.mem span.txt-orange { display:inline-block; overflow:hidden; position:relative; top:3px; /* width:34px; text-overflow:ellipsis; white-space:nowrap; word-wrap: normal !important;  */color:#ef4123; font-weight:bold; text-align:right; }
.section_sponsor .list {clear:both;  /* background: url('/pb/img/main/bg_sponsor_lst.gif') no-repeat left top; */ }
.section_sponsor .list ul { height:385px; border:1px solid #dedede;}
.section_sponsor .list ul li { /* height: 70px; */ overflow: hidden; height:85px; padding:0 10px 0 15px; border-bottom:1px solid #e4e3e3; }
.section_sponsor .list ul li.last {border-bottom:0;}
.section_sponsor .list ul li dl { padding:14px 0 7px; line-height:14px; }
.section_sponsor .list ul li dl dt {padding-bottom:5px;width:280px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#111111;}
.section_sponsor .list ul li dl dt a{ color:#286ac4;}
.section_sponsor .list ul li dl dd a{ color:#286ac4;}
.section_sponsor .list ul li dl dd { width:280px; padding-bottom:0;}
.section_sponsor .list ul li dl dd+dd { margin-top:8px; /* padding-bottom:5px; */ }
.section_sponsor .list ul li dl dd.last {padding-bottom:0; width:280px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.section_sponsor .list ul li dl dd strong a {display:inline-block;width:280px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; color:#333; }
.section_sponsor .list ul li dl dd span.id { padding-right:10px; font-weight:bold; color:#835143;}
.section_sponsor .list ul li dl dd span.count {color:#ef4123; font:11px 'tahoma'; font-weight:bold;}
/* 팟툰 */
#wrapper #main_container_1 .podtoon-w { float:right; width: 300px; }
#wrapper #main_container_1 .podtoon { margin-top: 10px; }
#wrapper #main_container_1 .podtoon li { margin-bottom: 2px; text-align: center; }
#wrapper #main_container_1 .podtoon li img { border: 1px solid #dedede; }
/* 포토팟 */
#wrapper #main_container_1 .section-photo {float:left; width: 300px;}
#wrapper #main_container_1 .section-photo .list {margin-top:10px;}
#wrapper #main_container_1 .section-photo .list ul li {position:relative; height:66px; margin-bottom:7px;}
#wrapper #main_container_1 .section-photo .list ul li.last {margin-bottom:0;}
#wrapper #main_container_1 .section-photo .list ul li p.thum {position:absolute; left:0; top:0;}
#wrapper #main_container_1 .section-photo .list ul li dl {margin-left:120px;}
#wrapper #main_container_1 .section-photo .list ul li dl dt {font-weight:bold;}
#wrapper #main_container_1 .section-photo .list ul li dl dd {margin-top:7px;}
/* 라디오 */
#wrapper #radio_container {width:100%; height: 207px; margin-top: 20px; background: url('/pb/img/main/bg_m_pcast.gif') repeat-x 50% top;  }
#wrapper #radio_container .inner-con {position:relative; width:980px; margin:0 auto;}
#wrapper #radio_container .monthly_cast {position:absolute; left:680px; top:0; height:207px; background:#0b743d;}
#wrapper #radio_container .monthly_cast .inner-con {width:280px; padding:17px 0 0 20px;}
#wrapper #radio_container .monthly_cast .inner-con p.thum {position:relative; margin-top:15px;}
#wrapper #radio_container .monthly_cast .inner-con dl {position:absolute;top:80px;left:155px;letter-spacing:-0.07em;}
#wrapper #radio_container .monthly_cast .inner-con dl dt {color:white; font-size:14px; font-weight:bold;width:140px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#wrapper #radio_container .monthly_cast .inner-con dl dd {padding-top:10px; font-size:16px; color:#d2ff00; font-weight:bold;width:130px;height:42px;overflow:hidden;}
#wrapper #radio_container .radio-w { position:absolute; left:0; top:0; width: 640px;}
#wrapper #radio_container .radio-w .btn-abs { position: absolute; top: 0; right: 0; }
#wrapper #radio_container .radio-w h2 { padding-top: 15px; }
#wrapper #radio_container .radio-w .broad-lst { zoom: 1; overflow: hidden; margin-top: 25px; }
#wrapper #radio_container .radio-w .broad-lst li { float: left; width: 313px; height: 127px; margin-right: 20px; background: url(/pb/img/main/bul_vline_h127.gif) no-repeat 100% 0; }
#wrapper #radio_container .radio-w .broad-lst li.last { margin-right: 0; background: 0 none; }
#wrapper #radio_container .radio-w .broad-lst dl { zoom: 1; overflow: hidden; }
#wrapper #radio_container .radio-w .broad-lst dt img { width: 127px; height: 127px; }
#wrapper #radio_container .radio-w .broad-lst dt, 
#wrapper #radio_container .radio-w .broad-lst dd { float: left; }
#wrapper #radio_container .radio-w .broad-lst dt { width: 127px; margin-right: 20px; }
#wrapper #radio_container .radio-w .broad-lst dd { width: 164px; }
#wrapper #radio_container .radio-w .broad-lst dd .b-title { width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: 25px; color: #92daff; font-size: 18px; font-weight: bold; letter-spacing: -1px; }
#wrapper #radio_container .radio-w .broad-lst dd .b-name { width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: 5px; color: #fff; font-size: 14px; font-weight: bold; letter-spacing: -1px; }
#wrapper #radio_container .radio-w .broad-lst dd .b-date { margin-top: 18px; color: #fff; font-weight: bold; }
#wrapper #radio_container .radio-w .broad-lst dd button { width: 35px; height: 15px; line-height: 17px; border: 0; color: #fff; font-weight: bold; text-align: center; }
#wrapper #radio_container .radio-w .broad-lst dd button.live { background-color: #ef4123; }
#wrapper #radio_container .radio-w .broad-lst dd button.next { background-color: #898989; }
#wrapper #radio_container .radio-w .toggle-lst {position:absolute; right:0; top:25px; font-size: 0; line-height: 0; text-align: center; }
#wrapper #radio_container .radio-w .toggle-lst img { padding: 0 5px; }
#wrapper #radio_container .radio-w .toggle-lst a { display: inline-block; width: 20px; height: 10px; text-indent: -9999px; background: url(/pb/img/main/btn_radio_h10_off.png) no-repeat 0 0; }
#wrapper #radio_container .radio-w .toggle-lst a.now { background: url(/pb/img/main/btn_radio_h10_on.png) no-repeat 0 0; }
/* 라디오 (14/08/05) 수정 */
#wrapper #radio_container .inner-con-2 {position:relative; width:980px; margin:0 auto;}
#wrapper #radio_container .inner-con-2 p.tit { padding:20px 0 0 0; }
#wrapper #radio_container .inner-con-2 .lists {}
#wrapper #radio_container .inner-con-2 .lists ul li { float:left; position:relative; width:320px; margin-right:10px; padding:20px 0 0 0; letter-spacing:-1px; }
#wrapper #radio_container .inner-con-2 .lists ul li img {width:120px; height:120px;}
#wrapper #radio_container .inner-con-2 .lists ul li.last { margin-right:0; }
#wrapper #radio_container .inner-con-2 .lists dl { position:absolute; left:140px; top:40px; }
#wrapper #radio_container .inner-con-2 .lists dl dt { font-size:16px; font-weight:bold; }
#wrapper #radio_container .inner-con-2 .lists dl dd { padding-top:20px; font-size:12px; color:#afcaff; }
#wrapper #radio_container .inner-con-2 .lists a { display:block; color:white; }
/* LIVE 후기 / Weekly 인기방송 / 내팟소 / 팟빵 공지사항 / 팟빵 스튜디오 / 팟빵 고객센터 */
#wrapper #main_container_2 { width: 980px; position:relative; margin: 32px auto 0; }
#wrapper #main_container_2 .hd { position: relative; height: 22px; border-bottom: 2px solid #616161; }
#wrapper #main_container_2 .hd h2 { font-size: 0; line-height: 0; }
#wrapper #main_container_2 .hd .more { position: absolute; top: 5px; right: 0; }
#wrapper #main_container_2 .live-w, 
#wrapper #main_container_2 .side-w { float: left; position:relative;}
#wrapper #main_container_2 .live-w { width: 650px; margin-right:30px; }
#wrapper #main_container_2 .live-w .hd .cnt{position:absolute; left:70px;top:6px;}
#wrapper #main_container_2 .live-w .hd .cnt strong{color:black;}
#wrapper #main_container_2 .side-w { width: 299px; }
/* LIVE 후기 */
#wrapper #main_container_2 .live .review {position:relative; margin-top:15px; padding-bottom:15px; border-bottom:1px solid #e3e3e3;}
#wrapper #main_container_2 .live .review.last {border-bottom:0;}
#wrapper #main_container_2 .live .review p {float:left;}
#wrapper #main_container_2 .live .review p img {border:1px solid #e3e3e3;}
#wrapper #main_container_2 .live .review dl {float:left; width:440px; padding:3px 0 0 10px; }
#wrapper #main_container_2 .live .review dl dt { max-height:30px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word;}
#wrapper #main_container_2 .live .review dl dt a {color:#8a8a8a;}
#wrapper #main_container_2 .live .review dl dt strong {font-size:14px; font-weight:bold; color:#292828;}
#wrapper #main_container_2 .live .review dl dt strong a { color:#292828;}
#wrapper #main_container_2 .live .review dl dd {overflow:hidden; height:36px; padding-top:8px; line-height:18px;}
#wrapper #main_container_2 .live .review .user_info {position:absolute; right:20px; top:20px;}
#wrapper #main_container_2 .live .review .user_info ul li {text-align:center; font-size:11px;}
#wrapper #main_container_2 .live .review .user_info ul li.id {width:66px; height:25px; padding-top:5px; color:#6298e8; overflow:hidden;}
#wrapper #main_container_2 .live .bner { margin-top: 10px; }
/* Weekly 인기방송 */
#wrapper #main_container_2 .weekly ul { height: 218px; padding: 8px 10px 0; background: url(/pb/img/main/bg_popular_broad.gif) no-repeat 0 0; }
#wrapper #main_container_2 .weekly li { position: relative; height: 41px; line-height: 41px; border-bottom: 1px solid #e4d090; }
#wrapper #main_container_2 .weekly li.last { border-bottom: 0; }
#wrapper #main_container_2 .weekly li a { display: inline-block; margin-left: 30px; width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #222; font-weight: bold; letter-spacing: -1px; }
#wrapper #main_container_2 .weekly li .num { position: absolute; top: 12px; left: 2px; width: 17px; height: 17px; line-height: 17px; background-color: #30333b; color: #fff; font-family: Tahoma; font-weight: bold; letter-spacing: -1px; text-align: center; }
#wrapper #main_container_2 .weekly li .num.top { background-color: #872b26; }
#wrapper #main_container_2 .weekly li .medal { position: absolute; top: 8px; left: 236px; width: 20px; height: 25px; background: url(/pb/img/main/ico_pod.png) no-repeat 0 0; }
#wrapper #main_container_2 .weekly li .medal.gold, 
#wrapper #main_container_2 .weekly li .medal.silver,
#wrapper #main_container_2 .weekly li .medal.copper { width: 33px; height: 26px; }
#wrapper #main_container_2 .weekly li .medal.gold { background: url(/pb/img/main/ico_pod_gold.png) no-repeat 0 0; }
#wrapper #main_container_2 .weekly li .medal.silver { background: url(/pb/img/main/ico_pod_silver.png) no-repeat 0 0; }
#wrapper #main_container_2 .weekly li .medal.copper { background: url(/pb/img/main/ico_pod_copper.png) no-repeat 0 0; }
/* 내팟소 */
#wrapper #main_container_2 .introduce { margin-top: 28px; }
#wrapper #main_container_2 .introduce ul { padding: 14px 14px 8px; border: 1px solid #e1e1e1; border-top: 0; }
#wrapper #main_container_2 .introduce li { margin-bottom: 5px; }
#wrapper #main_container_2 .introduce .pod-info { zoom: 1; overflow: hidden; }
#wrapper #main_container_2 .introduce .pod-info dt, 
#wrapper #main_container_2 .introduce .pod-info dd { float: left; }
#wrapper #main_container_2 .introduce .pod-info dt { width: 60px; margin-right: 10px; }
#wrapper #main_container_2 .introduce .pod-info dt img { width: 58px; height: 58px; border: 1px solid #e3e3e3; }
#wrapper #main_container_2 .introduce .pod-info dd { width: 198px; }
#wrapper #main_container_2 .introduce .pod-info dd .tit { display: block; height: 28px; overflow: hidden; margin: 4px 0 10px; }
#wrapper #main_container_2 .introduce .pod-info dd .date, 
#wrapper #main_container_2 .introduce .pod-info dd .hits { display: inline-block; margin-right: 15px; padding-left: 14px; color: #875a03; font-size: 11px; }
#wrapper #main_container_2 .introduce .pod-info dd .date { background: url(/pb/img/main/icon_date.gif) no-repeat 0 0; }
#wrapper #main_container_2 .introduce .pod-info dd .hits { background: url(/pb/img/main/icon_hit.gif) no-repeat 0 0; }
/* 팟빵 공지사항 */
#wrapper #main_container_2 .notice { margin-top: 17px; }
#wrapper #main_container_2 .notice .list { padding: 8px 0 4px; border: 1px solid #e1e1e1; border-top: 0; background-color: #f5f5f5; }
#wrapper #main_container_2 .notice .list li { width: 280px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 12px; line-height: 1.75; }
#wrapper #main_container_2 .notice .bner { margin-top: 6px; }
/* 팟빵에게 한마디 */
#wrapper #main_container_2 .qna { margin-top:5px; }
/* 팟빵 자주 묻는 질문 */
#wrapper #main_container_2 .faq { margin-top:17px; }
#wrapper #main_container_2 .faq .list { padding: 8px 0 4px; border: 1px solid #e1e1e1; border-top: 0; background-color: #f5f5f5; }
#wrapper #main_container_2 .faq .list li { width: 280px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 12px; line-height: 1.75; }
#wrapper #main_container_2 .faq .bner { margin-top: 6px; }
/* 팟빵 스튜디오 */
#wrapper #main_container_2 .studio { margin-top: 5px;}
/*#wrapper #main_container_2 .studio .bg { position: relative; height: 159px; background: url(/pb/img/main/bg_studio.jpg) no-repeat 0 0; }*/
/*#wrapper #main_container_2 .studio .bg a { position: absolute; left: 156px; width: 127px; height: 41px; text-indent: -9999px; }*/
#wrapper #main_container_2 .studio .bg a.about { top: 56px; }
#wrapper #main_container_2 .studio .bg a.reserve { top: 104px; }
/* 팟빵 고객센터 */
#wrapper #main_container_2 .cs { margin-top: 17px; }
/*#wrapper #main_container_2 .cs .bg { position: relative; height: 179px; background: url(/pb/img/main/bg_cscenter.jpg) no-repeat 0 0; }*/
/*#wrapper #main_container_2 .cs .bg a { position: absolute; left: 156px; width: 127px; height: 41px; text-indent: -9999px; }*/
#wrapper #main_container_2 .cs .bg a.podcast { top: 76px; }
#wrapper #main_container_2 .cs .bg a.podhost { top: 124px; }
/* */
#wrapper #main_container_4 { width: 980px; margin: 0 auto; }
/* 추천 팟캐스트 */
#roll-pcast {overflow:hidden; width:980px; height:200px; margin:30px auto 0; background:#55575e;}
#roll-pcast .cont { margin:0 auto; padding:12px 0 0;}
#roll-pcast .cont p.tit { padding:0 0 0 20px; }
#roll-pcast .cont .inner-con { padding:20px 0 0 20px; }
#roll-pcast .cont .inner-con ul li { float:left; margin-right:30px; }
#roll-pcast .cont .inner-con ul li.last { margin-right:0; }
#roll-pcast .cont .inner-con ul li p.thumb { float:left; }
#roll-pcast .cont .inner-con ul li dl { width:150px;overflow:hidden; /*height:127px;*/ float:left; padding:20px 0 0 10px; font-weight:bold; line-height:20px; }
#roll-pcast .cont .inner-con ul li dl dt { padding-bottom:10px; font-size:14px; color:white; height:15px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#roll-pcast .cont .inner-con ul li dl dd { font-size:18px; color:#fff600;height:38px;overflow:hidden;}
#roll-pcast .cont .roll {margin-top:5px; width:10000%; height:147px;}
#roll-pcast .cont .roll a {float:left; width:277px; padding-right:30px;}
#roll-pcast .cont .roll a dl {display:inline-block; padding:45px 0 0 10px; letter-spacing:-0.07em;}
#roll-pcast .cont .roll a dl dt {display:block;width:150px;overflow:hidden; text-overflow:ellipsis;white-space:nowrap;color:white; font-size:14px; font-weight:bold;}
#roll-pcast .cont .roll a dl dd {display:block;white-space:normal;padding-top:10px; font-size:18px; color:#d2ff00; font-weight:bold;width:150px;height:42px;overflow:hidden;}
#roll-pcast .cont .roll a .thum {float:left; margin-top:15px;}
/* 라디오 14/08/05 */
#radio-wrap { overflow:hidden; width:980px; margin:30px auto 0; }
#radio-wrap .cont { margin:0 auto; padding:2px 0 0; }
#radio-wrap .cont p.tit { padding:0 0 10px 0; }
#radio-wrap .cont .lists { position:relative; width:930px!important; padding:20px 25px 0; border-top:3px solid #ef4123; border-bottom:3px solid #ef4123; }
#radio-wrap .cont .lists div { overflow:hidden; }
#radio-wrap .cont .lists p.thumb img { border:1px solid #dbdbdb; width:118px;height:118px;}
#radio-wrap .cont .lists ul li { float:left; position:relative; width:280px; margin-right:45px; letter-spacing:-0.5px; }
#radio-wrap .cont .lists ul li.last { margin-right:0; }
#radio-wrap .cont .lists ul li a { color:black; }
#radio-wrap .cont .lists ul li dl { position:absolute; left:130px; top:20px; }
#radio-wrap .cont .lists ul li dl dt { font-size:18px; font-weight:bold; width:160px; overflow:hidden; text-overflow:ellipsis;white-space:nowrap; }
#radio-wrap .cont .lists ul li dl dd { font-size:14px; font-weight:bold; padding-top:5px; width:160px; overflow:hidden; text-overflow:ellipsis;white-space:nowrap;}
#radio-wrap .cont .lists ul li p.times { position:absolute; left:135px; top:85px; }
#radio-wrap .cont .lists ul li p.live { color:#ef4123; }
#radio-wrap .cont .lists ul li p.next { color:#348ecd; }
/* footer */
#wrapper #footer {clear:both; width:100%; margin-top:30px; border-top:2px solid #90312c;}
#wrapper #footer_main {clear:both; width:100%; margin-top:15px;}
#wrapper #footer_wrapper { position:relative; width:980px; height:135px; margin:0 auto; padding-top:25px; }
#wrapper #footer_wrapper ul li {float:left;}
#wrapper #footer_wrapper ul li img { padding-top:20px; }
#wrapper #footer_wrapper .right { float:right; }
.bot_menu .copy-info { zoom: 1; overflow: hidden; margin-bottom: 10px; padding-bottom:10px; border-bottom:1px solid #e3e3e3; }
.bot_menu .copy-info li { float: left; background: url(/pb/img/main/line_top.gif) no-repeat right center;  }
.bot_menu .copy-info li a { font-weight: bold; color: #676767; display: inline; padding: 0 10px 0 7px; }
.bot_menu .copy-info li a.first {padding:0 10px 0 0;}
.bot_menu .copy-info li.last { background: none; }
.bot_menu .copy-info li.last2 a { color:#3a8aed; }
.bot_menu .copy-info .txt-color { color:#676767; }
.bot_menu .copy-logo { position: absolute; right: 10px; top: 15px; }
#wrapper #footer_wrapper .right p {color:#878787; font-size:11px; line-height:16px;}
#wrapper #footer_wrapper .right p a {color:#878787;}
#wrapper #footer_wrapper .right p.warning { padding:5px 0 0 0; color:#895653;}
#wrapper #footer_wrapper #marketing {position:absolute;left:132px;top:-400px;width:715px;height:361px;background:url(/pb/img/main/bnr_marketing.png) no-repeat;display:none;z-index:700;}
#wrapper #footer_wrapper #marketing dl{position:relative;}
#wrapper #footer_wrapper #marketing dl dt {position:absolute;left:290px;top:44px;color:#FFFFFF;font-size:20px;font-weight:700;}
#wrapper #footer_wrapper #marketing dl dd.title {position:absolute;left:80px;top:110px;color:#434c5d;font-size:14px;font-weight:700;}
#wrapper #footer_wrapper #marketing dl dd.info {position:absolute;left:80px;top:190px;color:#f25623;font-size:14px;font-weight:700;}
#wrapper #footer_wrapper #marketing dl dd.info a {color:#f25623;}
#wrapper #footer_wrapper #marketing .close{position:absolute;left:305px;top:257px;font-size:16px;color:#FFFFFF;font-weight:700;width:100px;height:45px;line-height:50px;text-align:center;}
#overlay { display: none; overflow: hidden; z-index: 2; position: absolute; left: 0px; top: 0px; width: 100%; background: #000; opacity: 0.5; filter: alpha(opacity=50); }
/* Season Winter Decoration */
.deco-w-1 { z-index:99; position:absolute; right:5px; top:-27px; }
.deco-w-2 {  position:absolute; left:-160px; top:443px; }
.deco-w-3 { z-index:99; position:absolute; left:360px; top:-27px; }
.deco-w-4 { z-index:99; position:absolute; right:-150px; top:-10px; }
/* christmas decoration */
/*#wrapper #header_wrap .christmas { height:350px; background:url('/pb/img/main/bg_season_w_1.jpg') repeat-x 50% top; }
#wrapper #header_wrap .article {padding-top:0 !important;}
#wrapper #header_wrap .article .top {padding-top:30px; background:url('/pb/img/main/bg_christmas_header.gif') repeat-x 50% top; padding-bottom:12px;}
#wrapper #header_wrap #gnb_new { margin-top:0 !important; }
#wrapper #rank_container { background:url('/pb/img/main/bg_christmas_rank.gif') repeat-x 50% top !important;}
#wrapper #header_wrap .top h1 p { top:5px !important;}*/
#wrapper #rank_container.season { background:url('/pb/img/main/bg_rank_special.png') repeat-x 50% top !important;}
#wrapper #rank_container.newyear { background:url('/pb/img/main/bg_new_year.png') repeat-x 50% top !important;}
#gnb_new .newyear{position:absolute;right:145px;top:-39px;}
/* 16/11/28 s */
#wrapper > .col2 { width:980px; margin:30px auto 0; }
#wrapper > .col2 .left-con { float:left; width:655px; }
#wrapper > .col2 .left-con ul { margin-top:20px; }
#wrapper > .col2 .left-con ul li { float:left; }
#wrapper > .col2 .left-con ul li:nth-child(even) { margin-left:20px; }
#wrapper > .col2 .left-con ul li:nth-child(3),
#wrapper > .col2 .left-con ul li:nth-child(4){ margin-top:20px; }
#wrapper > .col2 .left-con ul li p { float:left; }
#wrapper > .col2 .left-con ul li p img{ border:1px solid #dbdbdb; }
#wrapper > .col2 .left-con ul li .group { float:left; }
#wrapper > .col2 .left-con ul li a { display:block; }
#wrapper > .col2 .left-con ul li p.exp { float:left; width:180px; max-height:28px; padding:20px 0 0 15px; display:block; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; }
#wrapper > .col2 .left-con dl { padding:10px 0 0 15px; }
#wrapper > .col2 .left-con dl dt { overflow:hidden; width:180px; text-overflow:ellipsis; white-space:nowrap; word-wrap: normal !important; font-size:14px; color:#333; font-weight:bold; }
#wrapper > .col2 .left-con dl dd { overflow:hidden; width:180px; text-overflow:ellipsis; white-space:nowrap; word-wrap: normal !important; margin-top:5px; color:#999; font-size:11px; }
#wrapper > .col2 p.tit { position:relative; padding-bottom:10px; border-bottom:2px solid #616161; }
#wrapper > .col2 p.tit a.more { position:absolute; right:0; top:5px; }
#wrapper > .col2 .right-con { float:right; width:300px; }
#wrapper > .col2 .right-con p.tit { padding-bottom:11px; margin-bottom:13px; }
#wrapper > .col2 .right-con a.btn-q { position:absolute; right:0; top:-3px; }
#wrapper > .col2 .right-con > ul { margin-top:10px; }
#wrapper > .col2 .right-con > ul li:first-child { padding-top:5px; }
#wrapper > .col2 .right-con > ul li { padding:15px 0 12px; border-bottom:1px solid #e3e3e3; }
#wrapper > .col2 .right-con > ul li p.thumb { float:right; }
#wrapper > .col2 .right-con > ul li p.circle img { display: block; width: 60px; height: 60px; margin:1px auto 0; border-radius: 50%; border:1px solid #e3e3e3; }
#wrapper > .col2 .right-con > ul li .group { float:left; }
#wrapper > .col2 .right-con > ul li .group > p { margin-top:5px; overflow:hidden; width:230px; text-overflow:ellipsis; white-space:nowrap; word-wrap: normal !important;width:185px;display:inline-block; }
#wrapper > .col2 .right-con > ul li .group > p > span+span { color:#888; }
/* #wrapper > .col2 .right-con > ul li dl dt { width:180px; height:28px; display:block; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; } */
#wrapper > .col2 .right-con > ul li dl dt { width:230px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap: normal !important; }


#wrapper > .col2 .right-con > ul li dl dd { margin-top:7px; padding-bottom:4px; color:#6298e8; font-size:11px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap: normal !important;width:200px;  }
#radio_container2 {width:100%; height: 207px; margin-top:40px; background: url('/pb/img/main/bg_m_pcast.gif') repeat-x 50% top;  }
#radio_container2 .inner-con-2 {position:relative; width:980px; margin:0 auto;}
#radio_container2 .inner-con-2 p.tit { padding:20px 0 0 0; }
#radio_container2 .inner-con-2 .lists { position:relative; }
#radio_container2 .inner-con-2 .lists ul li { float:left; position:relative; width:320px; margin-right:15px; padding:15px 0 0 0; letter-spacing:-1px; }
#radio_container2 .inner-con-2 .lists ul > li > a > p > img { width:120px; height:120px; margin: 0 auto 0; border-radius: 50%;}
#radio_container2 .inner-con-2 .lists ul li.last { width:309px; margin-right:0; }
#radio_container2 .inner-con-2 .lists dl { position:absolute; left:130px; top:25px; }
#radio_container2 .inner-con-2 .lists dl dt { width:180px; max-height:33px;display:block; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; font-size:14px; font-weight:bold;  }
#radio_container2 .inner-con-2 .lists dl dd { max-height:46px; display:block; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; padding-top:10px; font-size:12px; color:#afcaff; line-height:16px; }
#radio_container2 .inner-con-2 .lists a { display:block; color:white; }
#radio_container2 .inner-con-2 .lists p.date { position:absolute; left:132px; bottom:0; letter-spacing:0.03em; }
/* 16/11/28 e */
.banner_log_click2 { top:322px!important; }
@media screen and (-webkit-min-device-pixel-ratio:0) { .banner_log_click2 { top:321px!important; }}
.xmas { /* width:980px; height:106px; */ background: url('/pb/img/main/bg_xmas_top.jpg') no-repeat center top; }