.progressbar-outer {
	width: 600px;
	height: 20px;
	background: #f2f2f2;
	border: #e4e4e4 1px solid;
}
.progressbar-inner {
	width: 0px;
	height: 20px;
	background: #229ec9;
}
.xfname {
	font-weight: bold;
}
.xfsize {
	font-style: italic;
}
.xrow td {
	text-align: left;
}
.fdescr {
	width: 330px;
}
.del_btn {
	float: right;
}
.xrow td {
	background: #f2f2f2;
}
