/* var */
/* mobile hidden default */
#rs_mobile_tagline {
    display: none;
    position: absolute;
    right: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

#rs_header_top {
    width: 100%;
    display: block;
}

#rs_header_top .rs_b_left {
    float: left;
    width: 50%;
    min-width: 230px;
}

#rs_header_top .rs_b_left img {
    width: 100%;
    max-width: 273px;
}

#rs_header_top .rs_b_right {
    float: right;
    width: 50%;
    min-width: 185px;
}

div#banner .item p.bodytext {
    width: auto;
}

/* default desktop */
#navigation-searchbox-moodimage {
    clear: both;
}

#wrapper {
    width: 935px;
}

#footerrow {
    height: auto;
}

/* slide 2 */
.news-carousel-inner-content,
.news-carousel-item {
    width: 527px;
}

header {
    margin: 0px;
    padding: 0px;
}

header nav#mobile {
    text-align: center;
    background: #efefef;
}

header nav#mobile ul {
    margin: 0;
    padding: 1em;
    list-style-type: none;
}

header nav#mobile ul li {
    display: inline;
    margin-left: 1em;
}

header nav#mobile ul li:first-child {
    margin-left: 0;
}

header nav#mobile ul li ul {
    display: none;
}

#footercontent .rs_footer_left {
    width: 35%;
    float: left;
}

#footercontent .rs_footer_right {
    width: 55%;
    float: right;
}

.hp-sm-text .hp-sm-follow {
    float: left;
    margin-top: 4px;
}

.hp-sm-text .hp-sm-icone {
    margin-bottom: 8px;
}

#bgimgwrapper img {
    width: 100%;
    height: 100%;
}

/*fixed content overflow issue*/
/*#content div.contact ul.contact-further-options li.contact-email.txtwidth,
div.contact,
div.related {
    width: 100%;
}*/
div.related {
    width: 100%;
}

.conimgno {
    max-width: 100%;
}

.contains_5col {
    width: 100%;
}

/* tablette & mobile
*/
@media only screen and (max-width: 947px) {
    body {
        background: none repeat scroll 0 0 #FFFFFF;
        width: auto !important;
    }

    table,
    td,
    blockquote,
    object,
    embed,
    input,
    code,
    pre,
    textarea,
    #page #notif {
        max-width: 100% !important;
    }

    code,
    pre,
    textarea {
        white-space: pre-wrap !important;
        word-wrap: break-word !important;
    }

    td,
    th {
        word-wrap: break-word !important;
    }

    #bgimgwrapper {
        display: none;
    }

    form.search input.searchinput {
        width: 155px;
    }

    /* header */
    .banner-img {
        width: 100%;
    }

    /* tops nav languages */
    #rs_header_top .rs_b_left img {
        max-width: 273px;
    }

    #rs_header_top .rs_b_right {
        width: 50%;
    }

    #headerrow #logosearch #country-language-switch {
        width: auto;
    }

    /* gestion des col */
    #content {
        width: 95% !important;
        padding: 0;
        clear: both;
    }

    #content .share-this-content {
        /*display: none;*/
    }

    #content h2 {
        /*padding-top: 14px;*/
    }

    #content h1,
    #content h2,
    #content h3,
    #content h4,
    #content h5 {
        font-size: 18px;
    }

    #headerrow #moodimage,
    #wrapper,
    #navigation-searchbox-moodimage,
    #pagetitle-div,
    #content,
    #footer,
    #pagebanner_div {
        width: 100%;
    }

    /* content */
    .content_4col_wide,
    .contains_4col {
        width: 70%;
    }

    .content_3col_wide,
    .contains_3col {
        width: 70%;
    }

    .content_2col_wide,
    .contains_2col {
        width: 35%;
    }

    .content_1col_wide,
    .contains_1col {
        min-height: 10px !important;
    }

    /* page de contenu n2 */
    #rs_col3 {
        width: 25%;
    }

    .rs_footer_bloc {
        border-bottom: 1px dotted #ccc;
        margin: 10px auto 0 auto;
        padding-bottom: 10px;
        width: 95%;
    }

    .rs_footer_bloc_top {
        border-top: 1px dotted #ccc;
        margin: 10px auto -5px auto;
        padding-top: 10px;
        width: 95%;
    }

    .rs_footer_bloc_top_global {
        border-top: 1px dotted #ccc;
        margin: 10px auto 5px auto;
        padding-top: 10px;
        width: 94%;
    }

    /* page de contenu n2 */
    #rs_col1 {
        display: none;
    }

    .hp-sm-text .hp-sm-follow {
        float: left;
        margin-top: 4px;
    }

    .hp-sm-text .hp-sm-icone {
        margin-bottom: 8px;
    }

    #copyright-legal {
        margin: 0;
    }

    #breadcrumbrow,
    #wrapper #footerrow {
        margin: 0 auto;
        width: 95%;
    }

    #breadcrumbrow {
        height: auto;
        border-top: 1px solid #B2B2B2;
        margin-top: 10px;
        padding-top: 14px;
        padding-bottom: 30px;
    }

    #breadcrumbrow div.youarehere {
        margin: 0 5px 0 0;
    }

    #breadcrumbrow div.breadcrumb {
        margin: 0;
        padding-left: 12px;
        width: auto;
    }

    ul#investorlinks-careers li a.clicktoopen,
    ul#investorlinks-careers li a.clicktoopennew,
    ul#investorlinks-careers li a.donotopenmdd,
    ul#investorlinks-careers li a.donotopenmddchild,
    ul#main-navigation-ul li a.clicktoopen,
    ul#main-navigation-ul li a.clicktoopennew,
    ul#main-navigation-ul li a.donotopenmdd,
    ul#main-navigation-ul li a.donotopenmddchild {
        padding: 0px;
    }

    #pagetitle {
        background-repeat: repeat;
    }

    .banner-img img {
        width: 100%;

    }

}

/* ipad land */
@media only screen and (max-width: 768px) {
    #rs_mobile_tagline {
        display: block;
    }

    /* content */
    .content_3col_wide,
    .contains_3col,
    .content_2col_wide,
    .contains_2col,
    .content_4col_wide,
    .contains_4col {
        width: 100%;
    }

    /* page de contenu n2 */
    #rs_col3 {
        display: none;
    }

    #footercontent .rs_footer_left {
        width: 90%;
        float: none;
        margin-bottom: 10px;
        clear: both;
    }

    #footercontent .rs_footer_right {
        width: 90%;
        float: none;
    }

    #footercontent .rs_footer_right ul#footerlinks {
        float: none;
    }

    /*    #rs_country-select-li_mobile { display:none;}*/
}

@media only screen and (max-width: 480px) {
    /* top */
    #navigation-searchbox-moodimage #logosearch ul#country-language-switch {
        margin-top: 4px;
    }

    /* tops nav languages */
    #rs_header_top .rs_b_left img {
        max-width: 170px;
    }

    #rs_header_top .rs_b_right {
        min-width: 50px;
        width: 15%;
        margin-top: 10px;
    }

    #navigation-searchbox-moodimage #logosearch {
        height: 68px;
    }

    #headerrow #logosearch #country-language-switch ul.toplist {
        left: -100px;
        top: 20px;
    }

    /* sub col */
    #wrapper #content #rs_col2 .parsys_column .cq-colctrl-lt0-c0,
    #wrapper #content #rs_col2 .parsys_column .cq-colctrl-lt0-c1 {
        width: 100%;
        margin-top: 10px;
    }

    /* search bloc */
    .rs_b_right_col2 {
        display: none;
    }

    ul#footerlinks {
        float: left;
        /*margin-left: 17px;*/
        margin-top: 8px;
    }

    #slide_1 {
        display: none;
    }

    #wrapper #contentrow {
        clear: both;
    }

    #breadcrumbrow {
        padding-bottom: 50px;
    }

    #breadcrumbrow div.breadcrumb {
        padding: 0px;
    }
}

/* mobile  350 */
@media only screen and (max-width: 350px) {
    .hp-sm-text .hp-sm-follow {
        display: none;
    }
}

/* mobile iphone 320 */
@media only screen and (max-width: 320px) {
    #rs_header_top .rs_b_left {
        min-width: 210px;
    }
}

/* print */
@media print {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

/*
 * objets specifiques
 *
 */
/* slide 2 */
#slide_2.rsDefaultInv {
    width: 100%;
}

#slide_2.rsDefaultInv h3 {
    font-size: 2em;
    font-weight: normal;
}

#slide_2.rsDefaultInv h3 a {
    color: #000000;
}

#slide_2.rsDefaultInv p {
    line-height: 1.4em;
    font-size: 1.2em;
    color: #333333;
}

#slide_2.rsDefaultInv .rsBullets {
    position: relative;
    z-index: 35;
    padding-top: 14px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: left;
    line-height: 5px;
    overflow: hidden;
    background: url("../../asset_responsive/img/rs_slide_2_filet.gif") 1px 14px repeat-x;
}

#slide_2.rsDefaultInv .rsBullets .rsBullets_txt {
    float: right;
    background-color: white;
    height: 12px;
    margin-top: 6px;
    padding-left: 6px;
    color: #0066a1;
    font-size: 12px;
    font-weight: bold;
}

#slide_2.rsDefaultInv .rsBullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px;
    background-color: white;
}

#slide_2.rsDefaultInv .rsBullet.rsNavSelected span {
    background-color: #0066a1;
}

#slide_2.rsDefaultInv .rsBullet span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #BBB;
}

/* slide 1 */
#slide_1_mobile {
    margin: 10px 0;
}

.royalSlider .rsOverflow {
    margin-bottom: -4px;
}

#slide_hidden {
    height: 100px;
}

#slide_1 {
    width: 100%;
}

#slide_1 div.rsNav div.rsThumbsArrow {
    display: none;
}

#slide_1 .rsThumbsHor {
    height: 44px;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #777;
    background-image: url("../../images/bg_title-bar-wl.jpg");
}

#slide_1 img {
    width: 100%;
    height: auto;
}

#slide_1 .rsContent {
    background-color: rgba(205, 205, 205, 0.8);
    font-family: Stag-Medium, Helvetica, Verdana, sans-serif;
    color: #000000;
    width: 100%;
}

#slide_1 .rsContent .rs_bg {
    padding: 1% 2% 2% 2%;
    width: 92%;
}

#slide_1 .rsContent .rs_bg h1 {
    font-size: 36px;
    line-height: 38px;
}

#slide_1 .rsContent .rs_bg h3 {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 12px;
}

#slide_1 .rsContent .rs_bg a {
    text-decoration: none;
    color: #0066a1;
    font-size: 16px;
    font-family: Verdana, Helvetica, sans-serif;
    background-image: url("../../images/sprite-transparent.png");
    background-position: -240px -654px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

#slide_1 .rsContent .rs_bg_img {
    /*
                      img {
                          width:100%;
                          height: 100%;
                          }
                      */

}

#slide_1 .rsContent .rs_bg_img a.bottom_link {
    position: absolute;
    bottom: 10%;
    left: 20%;
    text-decoration: none;
    color: #0066a1;
    font-size: 16px;
    font-family: Verdana, Helvetica, sans-serif;
    background-image: url("../../images/sprite-transparent.png");
    background-position: -240px -654px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

#slide_1 .rsThumbsContainer {
    background-color: #aaaaaa;
}

#slide_1 .rsThumb {
    height: 44px;
    cursor: pointer;
    color: #FFFFFF;
    width: 187px;
    background-color: #9D9D9D;
    background-image: url("../../images/ul-banner-navigation-li-inactive-item-wl.jpg");
}

#slide_1 .rsThumb:hover,
#slide_1 .rsThumb.rsNavSelected {
    color: #000000;
    background-color: #565656;
    background-image: url("../../images/ul-banner-navigation-li-current-item-wl.jpg");
}

#slide_1 i.rsTmb {
    text-align: center;
    margin-top: 11px;
    font-style: normal;
    font-size: 14px;
    font-family: Stag-Medium, Helvetica, Verdana, sans-serif;
}

#slide_1 i.rsTmb span.raquo {
    margin-left: 5px;
}

#slide_1 > .rsContent {
    height: auto;
}

@media screen and (max-width: 979px) {
    #slide_1 div.rsNav div.rsThumbsArrow {
        display: block;
    }

    #slide_1 .rsContent {
        background: none repeat scroll 0 0 #EEEEEE;
    }

    #slide_1 .rsContent .rs_bg h1 {
        font-size: 30px;
        line-height: 32px;
    }

    #slide_1 .rsContent .rs_bg h3 {
        font-size: 16px;
        line-height: 19px;
    }

    #slide_1 .rsContent .rs_bg a {
        font-size: 12px;
    }

    #slide_1 .rsThumb {
        font-size: 12px;
        height: 44px;
        cursor: pointer;
    }

    #slide_1 .rsTmb {
        margin-top: 12px;
    }
}

@media screen and (max-device-width: 479px) {

}

/*  sub nav bottom - mobile */
#rs_mobile_position_subnav {
    font-family: "Stag-Medium";
    font-size: 1.2em;
}

#rs_mobile_position_subnav ul {
    margin-top: 0 !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

#rs_mobile_position_subnav ul .leftnavul {
    margin-bottom: -2px !important;
    padding-bottom: 0 !important;
    margin-top: 10px;
}

#rs_mobile_position_subnav ul li {
    background: none;
    background-image: url("../../images/sprite-transparent_rs.png");
    background-position: -8px -5px;
    background-repeat: no-repeat;
}

#rs_mobile_position_subnav ul li:hover,
#rs_mobile_position_subnav ul li.hovered {
    background-position: -8px -32px;
}

#rs_mobile_position_subnav ul li a {
    color: #000000;
    padding: 2px 4px 2px 2px;
    transition: all 0.2s ease-in 0s;
}

#rs_mobile_position_subnav ul li a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

#rs_mobile_position_subnav .backarrow {
    background-position: -8px -32px;
    background-repeat: no-repeat;
}

/*  contact - mobile */
#rs_mobile_contact {
    font-family: "Stag-Medium";
    font-size: 1.2em;
}

#rs_mobile_contact .emailbot,
#rs_mobile_contact .related {
    padding-bottom: -5px;
}

#rs_mobile_contact .conimgno {
    display: none;
}

#rs_mobile_contact .vcard {
    border: none;
}

#rs_mobile_contact .contact {
    padding-bottom: -5px;
}

#rs_mobile_contact .contact ul.contact-further-options {
    margin-top: -8px;
}

#rs_mobile_contact .contact ul.contact-further-options li.contact-email {
    background-image: url("../../images/contect_arrow.gif");
    background-position: 0 -2px;
    background-repeat: no-repeat;
    margin-bottom: 1px;
    margin-top: 9px;
    overflow: hidden;
    padding-bottom: 4px;
    padding-left: 25px;
    padding-top: 0px;
}

#rs_mobile_contact .contact ul.contact-further-options li.contact-email a {
    display: block;
    font-size: 16px;
    word-wrap: break-word;
    color: #A626AA;
    padding: 2px 4px 1px 4px;
    transition: all 0.2s ease-in 0s;
}

#rs_mobile_contact .contact ul.contact-further-options li.contact-email a:hover {
    color: #FFFFFF;
    background-color: #A626AA;
}

#rs_mobile_contact .contact ul.contact-further-options li.contact-email:hover {
    background-position: -179px -2px;
}

/*  country select = Menu : Atos global - mobile */
#rs_country-select-li_mobile {
    padding-left: 10px;
}

#rs_country-select-li_mobile ul.countrylist {
    margin-left: -4px;
    float: left;
    width: 46%;
    margin-right: 16px;
}

#rs_country-select-li_mobile ul.countrylist.nomarginright {
    margin-right: 0px;
}

#rs_country-select-li_mobile ul.countrylist li {
    width: 100%;
    background-image: none;
}

#rs_country-select-li_mobile ul.countrylist li a span {
    background-image: url("../../images/country-images.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 4px;
    padding-left: 18px;
}

#rs_country-select-li_mobile ul.countrylist #asia-pacific a span {
    background-position: -720px -75px;
}

#rs_country-select-li_mobile ul.countrylist #argentina a span {
    background-position: -760px -35px;
}

#rs_country-select-li_mobile ul.countrylist #austria a span {
    background-position: -680px -115px;
}

#rs_country-select-li_mobile ul.countrylist #belgium a span {
    background-position: -640px -155px;
}

#rs_country-select-li_mobile ul.countrylist #bulgaria a span {
    background-position: -80px -755px;
}

#rs_country-select-li_mobile ul.countrylist #brazil a span {
    background-position: -600px -195px;
}

#rs_country-select-li_mobile ul.countrylist #canada a span {
    background-position: -482px -355px;
}

#rs_country-select-li_mobile ul.countrylist #china a span {
    background-position: -520px -275px;
}

#rs_country-select-li_mobile ul.countrylist #croatia a span {
    background-position: -120px -715px;
}

#rs_country-select-li_mobile ul.countrylist #czechrepublic a span {
    background-position: -160px -674px;
}

#rs_country-select-li_mobile ul.countrylist #denmark a span {
    background-position: -200px -634px;
}

#rs_country-select-li_mobile ul.countrylist #finland a span {
    background-position: -240px -595px;
}

#rs_country-select-li_mobile ul.countrylist #france a span {
    background-position: -480px -315px;
}

#rs_country-select-li_mobile ul.countrylist #germany a span {
    background-position: -440px -355px;
}

#rs_country-select-li_mobile ul.countrylist #india a span {
    background-position: -400px -395px;
}

#rs_country-select-li_mobile ul.countrylist #italy a span {
    background-position: -280px -555px;
}

#rs_country-select-li_mobile ul.countrylist #middle-east-and-africa a span {
    background-position: -320px -514px;
}

#rs_country-select-li_mobile ul.countrylist #japan a span {
    background-position: -360px -435px;
}

#rs_country-select-li_mobile ul.countrylist #luxembourg a span {
    background-position: -320px -475px;
}

#rs_country-select-li_mobile ul.countrylist #netherlands a span {
    background-position: -280px -515px;
}

#rs_country-select-li_mobile ul.countrylist #north-america a span {
    background-position: -240px -555px;
}

#rs_country-select-li_mobile ul.countrylist #poland a span {
    background-position: -200px -595px;
}

#rs_country-select-li_mobile ul.countrylist #romania a span {
    background-position: -360px -474px;
}

#rs_country-select-li_mobile ul.countrylist #serbia a span {
    background-position: -400px -434px;
}

#rs_country-select-li_mobile ul.countrylist #slovakia a span {
    background-position: -440px -396px;
}

#rs_country-select-li_mobile ul.countrylist #portugal a span {
    background-position: -160px -635px;
}

#rs_country-select-li_mobile ul.countrylist #south-africa a span {
    background-position: -120px -675px;
}

#rs_country-select-li_mobile ul.countrylist #spain a span {
    background-position: -80px -715px;
}

#rs_country-select-li_mobile ul.countrylist #switzerland a span {
    background-position: -40px -755px;
}

#rs_country-select-li_mobile ul.countrylist #united-kingdom a span {
    background-position: 0 -795px;
}

#rs_mobile_tagline {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
}

/* info */
section#info {
    margin: 0 auto;
    width: 450px;
}

section#info #rs_info_css,
section#info #rs_info_js {
    width: 200px;
    float: left;
    font-size: 12px;
    margin: 4px;
}

section#info #rs_info_css span,
section#info #rs_info_js span {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
}

section#info #rs_info_css div.border,
section#info #rs_info_js div.border {
    background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    padding-top: 4px;
    width: 100%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}

section#info #rs_info_css div.active,
section#info #rs_info_js div.active {
    background-color: #CCCCCC;
    border: 2px solid #666666;
}

@-ms-viewport {
    width: device-width;
}

.hidden {
    display: none;
    visibility: hidden;
}

.visible-phone {
    display: none !important;
}

.visible-tablet {
    display: none !important;
}

.hidden-desktop {
    display: none !important;
}

.visible-desktop {
    display: inherit !important;
}

@media (min-width: 481px) and (max-width: 947px) {
    .hidden-desktop {
        display: inherit !important;
    }

    .visible-desktop {
        display: none !important;
    }

    .visible-tablet {
        display: inherit !important;
    }

    .hidden-tablet {
        display: none !important;
    }
}

@media (max-device-width: 481px) {
    .hidden-desktop {
        display: inherit !important;
    }

    .visible-desktop {
        display: none !important;
    }

    .visible-phone {
        display: inherit !important;
    }

    .hidden-phone {
        display: none !important;
    }
}

.visible-print {
    display: none !important;
}

@media print {
    .visible-print {
        display: inherit !important;
    }

    .hidden-print {
        display: none !important;
    }
}