/* <EGS> */
/* for scrollbar in IE */
@-ms-viewport {
    width: auto !important;
}
body ul#footerlinks{/*float:left*/}
.cookieinfo-wrapper{display:inline-table;padding:0 20px}
#mainrow #countryrow ul#country-language-switch{display:none}
#headerrow #logosearch #country-language-switch li a.clicktoopen:hover,#mainrow #country-language-switch li a.clicktoopen:hover,#headerrow #logosearch #register-login li a.clicktoopen:hover{color:#FFF;background-color:#0066A1;text-decoration:none}
#mainrow #country-language-switch{display:block;margin-right:2px;margin-left:0;padding-left:0;white-space:nowrap;width:200px;height:24px;z-index:8006!important}
#mainrow #country-language-switch a.clicktoopen,#mainrow #country-language-switch a.clicktoopen:visited{color:#505050}
#mainrow #country-language-switch li a.clicktoopen span{background-position:-133px -1591px}
#mainrow #country-language-switch ul.toplist{width:330px}
#mainrow #country-language-switch{position:relative;z-index:18006!important}
.viewSwitcher{text-align:right;float:right}
#wrapper .viewSwitcher a.switcher{display:none;}
#wrapper .viewSwitcher a.switcher#mobileView{margin-right:10px}
#tagline.footer_tabline,#mainrow #countryrow ul#country-language-switch{display:none}
#footerlinksWrapper{float:right}
#footerlinks li#footerlink-switcher{background:none;padding-right:0}
#footerlinksWrapper #footerlinks li#footerlink-email-this-link{background:url(../../images/grey-footer-links-right-border.gif) right top no-repeat;padding-right:4px}
.viewSwitcher a.switcher{cursor:pointer;}
#leftpane-copy1, #leftpane-copy2 {display:none;}
#footerlinksWrapper #footerlinks li:last{background:none}
#footerlinksWrapper.hide #footerlinks li#footerlink-email-this-link{background:none}
#footerlinksWrapper.hide #footerlink-switcher{display:none}
