#wrapper #logolink #logoimage {
margin-top: 10px;
}
div#top-navigation {
background-color: #0066A1;
}
ul#main-navigation-ul li a.clicktoopen:hover, ul#main-navigation-ul li a.clicktoopennew:hover, ul#main-navigation-ul li a.donotopenmdd:hover, ul#main-navigation-ul li a.donotopenmddchild:hover, ul#investorlinks-careers li a.clicktoopen:hover, ul#investorlinks-careers li a.clicktoopennew:hover, ul#investorlinks-careers li a.donotopenmdd:hover, ul#investorlinks-careers li a.donotopenmddchild:hover {
color: rgb(255, 255, 255);
background-color: #808080;
}
.clicktoopennew {
color : #000000 !important;
}
.donotopenmddchild {
color : #000000 !important;
}
#pagetitle {
background-image: url("../images/images-wl/bg_title-bar-wl.jpg");
}
#pagetitle-div ul.banner-navigation li.currentslide, 
#pagetitle-div ul.banner-navigation li.currentslide.no-border-right, 
#pagetitle-div ul.banner-navigation li.currentslide.no-border-right:hover {
background-image: url("../images/images-wl/ul-banner-navigation-li-current-item-wl.jpg");
}
#pagetitle-div ul.banner-navigation li.currentslide a {
color: #000000;
}
#pagetitle-div ul.banner-navigation li {
background-image: url("../images/images-wl/ul-banner-navigation-li-inactive-item-wl.jpg");
}
#wrapper #tagline a#taglinelink {
background-image: url("../images/images-wl/worldline-endorsement.gif");
}
.leftNavLineheight {
margin-bottom : 8px;
}
#content ul .leftnavul {
padding-top: 8px !important;
}
.subnavigation {
font-family: "Stag-Medium";
font-size : 1.2em;
}
.linkdisable {
font-size : 1.1em;
}
#content .subnavigation a, #content .subnavigation a:link, #content .subnavigation a:active, #content .subnavigation a:visited {
color : #000000;
}
#content .subnavigation a:hover {
color : #FFFFFF !important;
background-color: #000000;
}

/* 
changes for dotted lines  
*/
.contentcarouselnew H2 {
    /*border-bottom: 6px dotted #000000 !important;*/
    border-bottom: none !important;
}
#content div.profile-selector p.branding {  
    height: 122px;
    overflow: hidden;
    width: 346px;
    overflow: hidden;
    border-bottom: 4px dotted #0066A1;
    background: url(../images/career-switch-image-standaard.jpg) no-repeat 72px 0 #fff;
} 

#content h1.red, #content h2.red, #package-popup h2, #package-popup-download h2, #sendtocolleague-popup h2 {
    border-bottom-color: #000000;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: none;
   margin-left:1px;
}
.subnavigation hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
   /* border-image: none;
  border-style: dotted none none;
      border-width: medium 0 0;
    height: 4px;*/ 
    height: 4px;
    border-bottom: none !important;
    background-image: url("/etc/designs/neoweb/images/images-wl/new-carousal-dot-small.jpg"); 
    background-position: right bottom;
    background-repeat: repeat-x;
    background-size: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-bottom: 6px;
    }
 
#content h1, #content h2, #package-popup h2, #package-popup-download h2, #sendtocolleague-popup h2, #content div.important-post h3 {
    /*border-bottom: 4px dotted #000000;*/
   
    background-image: url("/etc/designs/neoweb/images/images-wl/new-carousal-dot-small.jpg"); 
    background-position:right bottom; 
    background-repeat: repeat-x; 
    background-size: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-bottom: 10px; 
    border-bottom: none !important;
    margin-left:5px;
}
h2.nobottomborder {
    background-image: none !important;
}
#content div.profile-selector p.branding {  
    height: 122px;
    overflow: hidden;
    width: 346px;
    overflow: hidden;
  /*  border-bottom: 4px dotted #0066A1;
  */
    background: url(../images/career-switch-image-standaard.jpg) no-repeat 72px 0 #fff;
} 

/*  
=================================================================================================   
News Carousel (home page)   
=================================================================================================   
*/  
    
#content div.news-carousel h3 { 
    margin-top: 0 !important;
    font-size: 2em !important;
    margin-bottom: 1px !important;
    min-height: 50px;
    font-weight: normal !important;
}   
#content div.news-carousel div.news-carousel-next,
#content div.news-carousel div.news-carousel-previous,
#content div.news-carousel div.news-carousel-next a,
#content div.news-carousel div.news-carousel-previous a,
#content div.news-carousel div.news-carousel-inner {    
    overflow: hidden; 
    display: block;
    float: left;
}   
#content div.news-carousel div.news-carousel-next {
    float: right;
}

#content #landing-page-carousel {
    height: 250px;
    margin-top: 7px;

}

#content div.news-carousel div.news-carousel-next,
#content div.news-carousel div.news-carousel-previous,
#content div.news-carousel div.news-carousel-next a,
#content div.news-carousel div.news-carousel-previous a {   
    width: 22px;
    background: #ffffff;
    height: 137px;
}   
#content div.news-carousel div.news-carousel-inner {    
}

body #content div.sidebar div + div {  
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#content div.news-carousel { 
    width: auto; /* p.38 style guide: (346-(2*22px))-12 */
    margin-right: 0px;
    margin-bottom: 12px;
    display: block;
    overflow: hidden;
    clear: right !important;
}
#content div.news-carousel-item { 
    width: 527px; 
    margin-right: 12px;
    margin-bottom: 12px;
    display: block;
    overflow: hidden;
    clear: right !important;
}
div.news-carousel-item a, div.news-carousel-item a:link, div.news-carousel-item a:active, div.news-carousel-item a:visited { 
   color: #000000;
}
div.news-carousel-item a:hover { 
   color: #FFFFFF;
   background-color: #000000
}    
#content .tabbed_area div.news-carousel div.news-carousel-item {    
    width : 468px;
    height: auto;
}
#content .tabbed_area div.news-carousel div.news-carousel-top { 
    display: block;
    float: none;
    clear: both;
}
#content div.news-carousel div.news-carousel-item span.introduction-image-span {
    margin-right: 4px;
    margin-bottom: 0;
}
#content div.news-carousel div.news-carousel-top {  
    height: 136px;
}   
#content div.news-carousel div.news-carousel-previous a, #content div.news-carousel div.news-carousel-next a {  
    background-image: url(../images/sprite-transparent.png);
    background-repeat:no-repeat;
}   
#content div.news-carousel div.news-carousel-previous a {   
    background-position: -1417px -895px;
}   
#content div.news-carousel div.news-carousel-previous a:hover { 
    background-position: -1387px -895px;
}   
#content div.news-carousel div.news-carousel-previous a:active, #content div.news-carousel div.news-carousel-previous a.active {    
    background-position: -1357px -895px;
}   
#content div.news-carousel div.news-carousel-next a {   
    background-position: -1527px -895px;
}   
#content div.news-carousel div.news-carousel-next a:hover { 
    background-position: -1497px -895px;
}   
#content div.news-carousel div.news-carousel-next a:active, #content div.news-carousel div.news-carousel-next a.active {    
    background-position: -1467px -895px;
}   
#content div.news-carousel-paging  { 
    height: 25px;
    padding: 0px 0px 0px 0px; 
    clear: left;
    background-color: #B2B2B2;
    background-image: url(../images/sprite-trans-line-horizontal.png);
    background-position: 1px -20px;
    background-repeat: repeat-x;
}
#content div.news-carousel-paging ul.news-carousel-paging-ul li {   
    display: inline;
    float: left;
    background-image: none;
    background: #ffffff;
    padding-left: 0;
    margin-left: 0;
}   
#content div.news-carousel-paging ul.news-carousel-paging-ul li a,
#content div.news-carousel-paging a.news-carousel-paging-toggle-pause span.square,
#content div.news-carousel-paging a.news-carousel-paging-toggle-play span.square {  
    display: block;
    width: 17px !important;
    height: 17px !important;
    margin-right: 3px;
    background-color: #FFF; 
    background-image: url(../images/news-carousel-normal.png); 
    background-repeat: no-repeat;
}   
.news-carousel-desc {font-size: 1.2em; line-height: 2em}
#content div.news-carousel-paging a.news-carousel-paging-toggle-play
{
    visibility: hidden;
}
.news-carousel-pgleft {float: left; padding-left: 5px; background-color: #FFFFFF; border: 0px solid red}
.news-carousel-pgright {float: right; padding-right: 5px; background-color: #FFFFFF; padding-left: 10px; border: 0px solid yellow}
.news-carousel-pgright a, .news-carousel-pgright a:link, .news-carousel-pgright a:active, .news-carousel-pgright a:visited {color: #0066A1 !important} 
.news-carousel-pgright a:hover {color: #FFFFFF !important; background-color: #0066A1 !important}  
#content div.news-carousel-paging a.news-carousel-paging-toggle-pause span.square, #content div.news-carousel-paging a.news-carousel-paging-toggle-play span.square {   
    background-image: url(../images/sprite-transparent.png);
    background-repeat:no-repeat;
    background-position: -607px -609px;
}   
#content div.news-carousel-paging a.news-carousel-paging-toggle-pause:hover span.square {   
    background-position: -587px -609px;
}   
#content div.news-carousel-paging a.news-carousel-paging-toggle-play span.square {  
    background-position: -607px -629px;
}   
#content div.news-carousel-paging a.news-carousel-paging-toggle-play:hover span.square {    
    background-position: -587px -629px;
}   
#content div.news-carousel-paging ul.news-carousel-paging-ul li a:hover, #content div.news-carousel-paging a.news-carousel-paging-toggle-pause:hover, #content div.news-carousel-paging a.news-carousel-paging-toggle-play:hover {  
    text-decoration: none;
}   
#content div.news-carousel-paging ul.news-carousel-paging-ul li a:hover, #content div.news-carousel-paging ul.news-carousel-paging-ul li.currentslide a:hover, #content div.news-carousel-paging a.news-carousel-paging-toggle-pause:hover span.square, #content div.news-carousel-paging a.news-carousel-paging-toggle-play:hover span.square {    
    background-image: url(../images/news-carousel-hover.png); 
    background-repeat: no-repeat;
}   
#content div.news-carousel-paging ul.news-carousel-paging-ul li.currentslide a {    
    background-color: #FFFFFF;
    background-image: url(../images/news-carousel-hover.png); 
    background-repeat: no-repeat;
}   
#content div.news-carousel-paging a.news-carousel-paging-toggle-pause span, #content div.news-carousel-paging a.news-carousel-paging-toggle-play span { 
    float: left;
    color: #CDCDCD;
}   
#content div.news-carousel-paging a.news-carousel-paging-toggle-pause span:hover, #content div.news-carousel-paging a.news-carousel-paging-toggle-play:hover span { 
    color: #0066A1;
}   
#content div.news-carousel-paging .news-carousel-paging-ul {    
    display: block;
    float: left;
    overflow: hidden;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0px;
    height: 20px; 
}   
#content div.news-carousel-paging .news-carousel-paging-ul li { 
    height: 12px;
    width: 14px;
}   
#content div.news-carousel-paging a.news-carousel-more-news, a.more-news {  
    display: inline;
    float: right;
    clear: right;
}   
#content div.news-carousel div.news-carousel-next a span, #content div.news-carousel div.news-carousel-previous a span, #content div.news-carousel-paging ul.news-carousel-paging-ul li a span {    
    display: none;
    visibility: hidden;
}
#content div.news-carousel-paging a.news-carousel-paging-toggle-pause span,
#content div.news-carousel-paging a.news-carousel-paging-toggle-play span,
#content div.news-carousel-paging ul.news-carousel-paging-ul li {   
}
#content div.news-carousel-paging a.news-carousel-paging-toggle-pause span.square,
#content div.news-carousel-paging a.news-carousel-paging-toggle-play span.square,
#content div.news-carousel-paging ul.news-carousel-paging-ul li {   
    margin-top: 5px !important; 
}

body #content div.news-carousel div.news-carousel-inner {  
    width: auto !important; 
} 
#content p, #content blockquote, #content form legend, #content dl, #content h1, #content h2, #content h3, #content h4, #content h5, #content ul, #content ol {
    margin-left:6px; 
} 
#content .sidebar h2.back, #content .back {
    padding-left: 0px;
    padding-top: 1px;
    margin-left: 1px;
}

#content h2.nexte {
    margin-left: 1px;
}
 

