@charset "utf-8";

/* Atos Web 2010: Print Stylesheet */
/*
=================================================================================================
    Versie          :   print.css 1
    Date            :   2010 Oct 21
    Description     :   exceptions for print output
    Author          :   Paul van Buuren (nl1145), paul.vanbuuren@atosorigin.com
=================================================================================================
*/


.noprint, #bg, .share-this-content {
    display: none !important;
    visibility: hidden;
}
#content {
    height: auto;
    overflow-y: auto;
    padding-bottom: 10px;
}
ul#toplist, ul.toplist {
    display: none !important; 
    visibility: hidden !important;
    left: 0px; 
    top: 25px;
}   
.footer, #copyright-legal {
    bottom: 3px;
    position: fixed;
    font-family: verdana !important;
}
#breadcrumbcontent {
    bottom: 25px;
    position: fixed;
    font-family: verdana !important;
    font-size: 11px !important;
}
#pagetitle-div ul.banner-navigation li {
    margin-top: -10px;
}
form#sitesearch {
    border: 2px solid #CFCFCF;
}
.firstslide, .currentslide {
    margin-left: -40px !important;
    position: fixed;
}
.table_type_03 {
    border: 2px solid #DFDFDF;
}
div#banner .item .button {
    margin-top: -15px !important;
}
