nav#mobile_position {
    display: none;
}

#top-navigation .mainMenuMobile {
    padding: 7px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    text-transform: capitalize;
}

body div#banner,
body div#banner div.item,
body div#banner div.txt,
div#banner .item .button,
div#banner .item p {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

#content div.news-carousel-paging {
    background-clip: padding-box;
}

#mobile_position a {
    outline: none;
}

.news-carousel-item p, .news-carousel-item a.news-carousel-item h3 {
    box-sizing: border-box;
    max-width: 100%;
}

.mean-container .mean-nav ul li a.mean-expand{
    padding:10px!important;
    height:18px;
}

#leftpane-copy1, #leftpane-copy2, #contactpane-wrapper, #contactpane-wrapper-copy {
    float: left;
}

.rightpar #contactpane-wrapper{
	float:none;
}

#mean-pagetitle {
    color: #FFF;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 50px;
    text-align: left;
    font-size: 21px;
    line-height: 110%;
    display: block;
    font-weight: normal;
    min-height: 20px;
    display: block;
}

#mobile_position #mean-pagetitle{
	font-size:1.4em;
    line-height:140%;
}

.contact h2.conthead {
	padding-right: 0;
}

#leftpane-copy1 .subnavigation, #leftpane-copy2 .subnavigation {
	width: 100%;
}

#content #leftpane-copy1 ul li,
#content #leftpane-copy2 ul li{
	background:none!important;
    display:block;
    position: relative;
}

#content #leftpane-copy1 ul li:before,
#content #leftpane-copy2 ul li:before{
	background:url(../images/sprite-transparent.png) no-repeat -9px -1695px;
    width:8px;
    height:16px;
    content:' ';
    position: absolute;
    top: 0;
    left:0;
}

#content #leftpane-copy1 .backarrow:before,
#content #leftpane-copy2 .backarrow:before{
	background-position: -663px -1020px !important;
}

#content #leftpane-copy1 ul li:hover:before, #content #leftpane-copy1 ul li.hovered:before, #content #leftpane-copy1 dl dd a:hover:before,
#content #leftpane-copy2 ul li:hover:before, #content #leftpane-copy2 ul li.hovered:before, #content #leftpane-copy2 dl dd a:hover:before{
    background-position: -999px -1695px; 
}

@media only screen and (min-width: 560px) and (max-width: 947px) {
    .par .article .section p a img {
        display: block;
        margin: auto auto;

    }

    .par .article .section p img {
        display: block;
        margin: auto auto;
    }

    .par .article .section div img {
        display: block;
        margin: auto auto;
    }
}

/* for mobile phones (not for tablets) */
@media only screen and (min-width: 150px) and (max-width: 767px) {

    div#top-navigation {
        display: none;
    }
}

@media only screen and (max-width: 947px) {

    body {
        font-family: Verdana, Helvetica, sans-serif !important;
    }

    .section p a img {
        max-width: 100% !important;

    }

    .section p > img, #content div img {
        max-width: 100% !important;
        height: auto !important;
    }

    #content div [id$="_jwplayer_controlbar_background"] {
        height: 24px !important;
    }

    .cq-dd-flash, .cq-dd-flash div {
        max-width: 100% !important;
        margin-bottom: 4px;
        background-size: 100% !important;
    }

    .conimgno, div.stock-height .content_1col_wide {
        width: 100%
    }

    #content {
        margin-top: 15px;
    }

    div#banner div.item {
        width: 100% !important;
    }

    #breadcrumbrow div.breadcrumb {
        margin: 2px 0 15px 5px;
        line-height: normal;
        padding-left: 0;

    }

    #breadcrumbrow, #wrapper #footerrow {
        width: 95%;
        margin-top: 5px;
    }

    #content ul, #content ol {
        margin-top: -2px !important;
    }

    .contact-further-options {
        /*float: right;*/
    }

    #wrapper #footerrow #footerrow {
        width: 100%
    }

    #player1, [id$="_wrapper"], .mediaplayer > div {
        margin: auto;
    }

    #wrapper #mainrow .parbase #contentrow {
        display: block
    }

    .two-col-title, div.two-col-title p {
        width: 80%;
    }

    .three-col-date {
        width: 12%;
    }

    .two-col-date {
        width: 20%
    }

    .even, .one-col-title, div.one-col-title p{
        float:none;
    }

    .contains_3col .overview-content-table, .contains_3col .overview-content-table tr,
    div.three-col-title p {
        width: 100%;
    }

    .three-col-title {
        width: 75%;
    }

    div.connectwithus {
        min-height: 60px;
    }

    ul.contact-further-options, .contact .marleft {
        max-width: 280px;
    }

    .iframe iframe {
        width: 98% !important;
    }

    #breadcrumbrow {
        padding-bottom: 0
    }

    #breadcrumbrow div.breadcrumb {
        margin: 0 0 8px 0;
        line-height: 16px;
    }

    .cq-dd-paragraph div.article_3 div {
        margin: 0 auto;
        padding-left: 0 !important;
        width: 100% !important;
    }

    #threecolumnpage #content div.contact ul.contact-further-options li.contact-email.txtwidth, div.contact, div.related {
        clear: both;
    }

    .article div {
        max-width: 100%;
    }

    #headerrow #logolink {
        max-width: 50%;
    }

    #fullwidthpage div.parbase.article > div {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #content div.news-carousel-item {
        width: 100% !important;
        height: 100% !important;
    }

    /* sitemap */
    div.link3, div.link3nonfirstchild, div.link3abovegreyborder {
        margin-left: 10%;
        clear: both;
    }

    div.linkfirstchild, div.link2nonfirstchild, div.link3nonfirstchild, div.link4nonfirstchild, div.link5nonfirstchild {
        clear: left;
    }

    .level3Font.linkfirstchild {
        margin-left: 10%;
    }

    div.link4, div.link4nonfirstchild, div.link4abovegreyborder {
        margin-left: 20%;
        clear: both;
    }

    .level4Font.linkfirstchild {
        margin-left: 20%;
    }

    div.link5, div.link5nonfirstchild, div.link5abovegreyborder {
        clear: both;
        margin-left: 30%;
    }

    .level5Font.linkfirstchild {
        margin-left: 30%;
    }

    /* end sitemap */
    .hp-sm-icons {
        width: 180px;
        text-align: right;
    }

    /* style for banner for IE8 */
    body div#banner div.banner-img {
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)" !important;
    }

    body div#banner div.banner-img .hidden {
        display: block \9 !important;
        visibility: visible \9 !important;
    }

    /* end style for banner for IE8 */
    div.cq-colctrl-lt0 img,
    div.cq-colctrl-lt1 img,
    div.cq-colctrl-lt2 img,
    div.cq-colctrl-lt3 img,
    div.cq-colctrl-lt4 img,
    div.cq-colctrl-lt5 img,
    div.cq-colctrl-lt6 img,
    div.cq-colctrl-lt7 img,
    div.cq-colctrl-lt8 img,
    div.cq-colctrl-lt9 img,
    div.cq-colctrl-lt10 img {
        margin: 0 !important,
    }

    .responsive_content, .responsive_content * {
        max-width: 100% !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 !important;
        padding: 0 !important;
    }

    #leftpane-wrapper {
        display: none;
    }

    #pagetitle {
        display: block;
    }

    .content_4col_wide, .contains_4col {
        min-height: 308px;
    }

    td.overview-td-title.two-col-title {
        width: 100%;
    }

	#leftpane-copy2, 
	#contactpane-wrapper-copy, 
	#leftpane-copy2 .content_1col_wide, 
	#leftpane-copy2 .contains_1col {
		width:100%;
	}
	
	#leftpane-copy2 .subnavigation hr{
		margin-left:0;
	   /* width:163px;
    	display:inline-block;*/
	}
	
	#leftpane-copy1 .contains_1col{
		width:100%;
	}

	
	#leftpane-copy1 .backarrow, #leftpane-copy2 .backarrow {
	   display: inline-block;
	}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

    body {
        font-family: Verdana, Helvetica, sans-serif !important;
    }

    [id$="_displayarea"], [id$="_jwplayer_display"] {
        width: 100% !important;
    }

    div#pagebanner, div#pagetitle {
        display: none;
    }

    #breadcrumbrow {
        display: block;
    }

}

@media only screen and (max-width: 400px) {
    #sitesearch {
        display: none !important;
    }

    #player1, #player1_wrapper {
        height: 169px !important;
    }

}

@media only screen and (max-device-width: 600px) and (orientation: landscape) {
    #player1_wrapper {
        height: 384px !important;
    }

}

@media only screen and (min-width: 768px) and (max-width: 947px) {

    #content {
        margin-bottom: 10px;
    }

    .content_3col_wide, .contains_3col, .content_4col_wide, .contains_4col {
        width: 74%;
    }

    .content_4col_wide .contains_4col {
        width: 100%
    }

    .hide-level-3 {
        display: none;
    }

    .show-level-3 {
        display: block;
    }

    .show-level-1, .show-level-2, .show-level-4 {
        display: none;
    }


    /* banner item text style */
    body div#banner .item .moodimageheader {
        margin-bottom: 4px;
    }

    body div#banner .item p.bodytext {
        line-height: 20px;
    }

    #_contact_us_form_ div.form_captcha_input,
    #_neo_form_ div.form_captcha_input,
    #_visitor_form_ div.form_captcha_input,
    #_download_form_ div.form_captcha_input,
    #_vm_registration_form_ div.form_captcha_input {

        width: 365px;
    }

    form.search, form.search fieldset {
        width: 246px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {

    #wrapper #mainrow {
        width: 100%;
    }

    div#top-navigation {
        display: none;
    }

    #content div ul.liststyle {
        float: right;
    }

    #content div.news-carousel {
        width: 100%;
    }

    .hide-level-2 {
        display: none;
    }

    .show-level-2 {
        display: block;
    }

    .show-level-1, .show-level-3, .show-level-4 {
        display: none;
    }

    /* banner item text style */
    body div#banner .item .moodimageheader {
        margin-bottom: 0;
        line-height: 20px;
    }

    body div#banner .item p.bodytext {
        line-height: 20px;
    }

    div#banner .item .button p span {
        display: inline-block;
        height: 18px;
    }

    #_contact_us_form_ div.form_captcha_input,
    #_neo_form_ div.form_captcha_input,
    #_visitor_form_ div.form_captcha_input,
    #_download_form_ div.form_captcha_input,
    #_vm_registration_form_ div.form_captcha_input {

        width: 365px;
    }

}

@media only screen and (min-width: 460px) and (max-width: 639px) {

    .two-col-thumbnail, .three-col-thumbnail {
        margin-left: 5px;
    }

    div#top-navigation, div#pagebanner, div#pagetitle {
        display: none;
    }

    #content div ul.liststyle {
        float: right;
    }

    /* country switcher in bottom of site */
    .header .topnav #country-language-switch #country-select-li {
        display: none;
    }

    #mainrow ul#country-language-switch {
        float: left;
    }

    #headerrow #logosearch #country-language-switch ul.toplist {
        width: 177px;
        left: -87px !important;
    }

    #player1, [id$="_wrapper"], .mediaplayer > div, #player1, [id$="_wrapper"] iframe {
        max-width: 440px;
    }

    #player1, [id$="_wrapper"], .mediaplayer > div, [id$="_displayarea"] {
        height: 247px !important;
    }

    #content div.news-carousel {
        width: 100%;
    }

    #_contact_us_form_ .form_field_text,
    #_neo_form_ .form_field_text,
    #_visitor_form_ .form_field_text,
    #_download_form_ .form_field_text {
        width: 266px !important;
    }

    #_contact_us_form_ .form_field_select,
    #_neo_form_ .form_field_select,
    #_visitor_form_ .form_field_select,
    #_download_form_ .form_field_select {
        width: 272px !important;
    }

    #_contact_us_form_ .form_field_textarea,
    #_neo_form_ .form_field_textarea,
    #_visitor_form_ .form_field_textarea,
    #_download_form_ .form_field_textarea {
        width: 270px !important;
    }

    .mylist {
        width: 60%;
    }

    .contains_3col #navigationgallery div.incontentcolum_right {
        margin-left: 0;
    }

    .overview-head-table {
        width: 100%;
    }

    div.parbase.article > div, div.parbase.stringplaceholder > div {
        width: 97% !important;
    }

    ul.contact-further-options, .contact .marleft {
        max-width: 210px;
    }

    .form_rightcol, .form_rightcol div.form_rightcol_wrapper {
        display: block;
        width: 100%;
        height: auto !important;
        margin: 0;
    }

    #tagline.footer_tabline img {
        max-width: 100%;
        height: auto;
    }

    #wrapper #tagline a#taglinelink {
        max-width: 100%;
        background-image: none !important;
        height: auto;
    }

    #footerlinks li, #footercontent span {
        line-height: 20px;
    }

    #wrapper #logolink #logoimage {
        max-width: 90%;
    }
}

@media only screen and (min-width: 150px) and (max-width: 459px) {

    div#top-navigation, #pagebanner, div#pagetitle{
        display: none;
    }

    #content div ul.liststyle {
        width: 100%;
    }

    #sitesearch.search {
        display: none;
    }

    #mainrow ul#country-language-switch,
    #mainrow #country-language-switch ul.toplist,
    #country-language-switch div.greyline-div,
    #country-language-switch div.navig-linkblock {

        width: 100%;
    }

    div.red-mdd-border {
        padding: 2px 5px 9px 5px;
    }

    #headerrow #logosearch #country-language-switch ul.toplist {
        width: 177px;
        left: -87px !important;
    }

    #content div.contact ul.contact-further-options li.contact-email:hover {
        background-position: 0 -2px;
    }

    #wrapper #headerrow {
        display: inline-block;
    }

    #player1, [id$="_wrapper"], .mediaplayer > div {
        max-width: 300px;

    }

    #player1, [id$="_wrapper"], .mediaplayer > div, [id$="_displayarea"] {
        height: 169px !important;
    }

    #content div.news-carousel {
        width: 100%;
    }

    #content h2, #content {
        /*margin-top: 0*/
    }

    .two-col-title, div.two-col-title p {
        width: 97%;
    }

    .two-col-thumbnail, .three-col-thumbnail {
        margin-left: 5px;
    }

    .two-col-title .two-col-title {
        width: 100%;
    }

    .three-col-date, .two-col-date {
        width: 28%;
    }

    .contains_3col .overview-content-table, .contains_3col .overview-content-table tr,
    div.three-col-title p, div.two-col-title p {
        width: 100%;
    }

    .three-col-title {
        width: 100%;
    }

    #_contact_us_form_ .form_rightcol,
    #_neo_form_ .form_rightcol,
    #_visitor_form_ .form_rightcol,
    #_download_form_ .form_rightcol {
        margin-left: 0;
    }

    .form_rightcol, .form_rightcol div.form_rightcol_wrapper, #_neo_form_ .form_rightcol div {
        display: block;
        width: 100%;
        height: auto !important;
        margin: 0;
    }

    #_neo_form_ .form_rightcol div.form_captcha_img,
    #_contact_us_form_ .form_rightcol div.form_captcha_img,
    #_contact_us_form_ .form_rightcol div.form_captcha_refresh {
        width: auto;
        margin-left: 5px;
        padding-left: 0 !important;
    }

    #_neo_form_ .form_leftcollabel, #_contact_us_form_ .form_leftcollabel, #_contact_us_form_ .form_leftcol {
        width: auto;
        padding-right: 5px;
    }

    #_neo_form_ .form_row div.form_captcha_input, #_contact_us_form_ .form_row div.form_captcha_input {
        margin-left: 0;
        width: 100% !important;
    }

    #_contact_us_form_ .form_field_text,
    #_neo_form_ .form_field_text,
    #_visitor_form_ .form_field_text,
    #_download_form_ .form_field_text,
    #_contact_us_form_ div.form_captcha_input,
    #_neo_form_ div.form_captcha_input,
    #_visitor_form_ div.form_captcha_input,
    #_download_form_ div.form_captcha_input,
    #_vm_registration_form_ div.form_captcha_input,
    #sendtocolleague-popup form .input-type-text,
    #sendtocolleague-popup input[type="text"],
    #package-popup form .input-type-text,
    #package-popup-download input[type="text"],
    #package-popup input[type="text"],
    #content form .input-type-text,
    #content input[type="text"] {
        width: 90% !important;
        margin-left: 5px;
    }

    #_contact_us_form_ .form_field_select,
    #_neo_form_ .form_field_select,
    #_visitor_form_ .form_field_select,
    #_download_form_ .form_field_select {
        width: 92% !important;
        margin-left: 5px;
    }

    #_contact_us_form_ .form_field_textarea,
    #_neo_form_ .form_field_textarea,
    #_visitor_form_ .form_field_textarea,
    #_download_form_ .form_field_textarea,
    #content textarea,
    #content form .textarea,
    #package-popup textarea,
    #package-popup form .textarea,
    #sendtocolleague-popup textarea,
    #sendtocolleague-popup form .textarea {
        width: 92% !important;
        margin-left: 5px;
    }

    #_contact_us_form_ div.form_captcha_input {
        width: 99% !important;
        margin-left: 5px;
    }

    #_contact_us_form_ div.form_captcha_input input {
        width: 97%;
    }

    #_neo_form_ .form_rightcol, #_contact_us_form_ .form_rightcol {
        max-width: 300px;
    }

    #_neo_form_ .form_rightcol div.form_captchatimer,
    #_neo_form_ .form_rightcol div.form_captchatimer div {
        min-height: 10px;
    }

    #_neo_form_ .form_rightcol div.form_captchatimer,
    #_neo_form_ .form_button_submit {
        float: left;
        margin-left: -145px;
    }

    #_contact_us_form_ .form_rightcol div.form_captchatimer,
    #_contact_us_form_ .form_button_submit {
        margin-left: -15px;
    }

    #_neo_form_ .form_captcha_refresh {
        padding-left: 5px !important;
    }

    .mylist {
        width: 90%;
    }

    .contains_3col #navigationgallery div.incontentcolum_right {
        margin-left: 0;
    }

    .overview-head-table {
        width: 100%;
    }

    div.parbase.article > div, div.parbase.stringplaceholder > div {
        width: 95% !important;
    }

    ul.contact-further-options, .contact .marleft {
        max-width: 100%;
    }

    #tagline.footer_tabline img {
        max-width: 100%;
        height: auto;
    }

    #wrapper #tagline a#taglinelink {
        max-width: 100%;
        background-image: none !important;
        height: auto;
    }

    #footerlinks li, #footercontent span {
        line-height: 20px;
    }

    #wrapper #logolink #logoimage {
        max-width: 90%;
    }

    .cq-dd-paragraph div img {
        max-width: 100%;
    }

    .rssovermargin {
        width: 100%;
        float: left;
    }

    #_contact_us_form_ .checkbox.section .form_row,
	#_neo_form_ .checkbox.section .form_row,
	#_visitor_form_ .checkbox.section .form_row,
	#_download_form .checkbox.section .form_row{
        margin-left:2em;
        text-indent:-2em;
        width:calc(100% - 2em);
    }

    div.breadcrumb a, 
    div.breadcrumb a:link, 
    div.breadcrumb a:visited, 
    div.breadcrumb a:active, 
    span.breaddelim{
        display:inline-block;
    }

    #contactpane-wrapper-copy{
        margin-top:12px;
    }

    #content div.news-carousel h3{
        font-size: 1.6em !important;
    }
}

@media only screen and (min-width: 150px) and (max-width: 947px) {
    #wrapper #footerrow #footerrow {
        width: 100%
    }

    .hp-sm-icons {
        margin-bottom: 5px;
        margin-right: 5px;
    }

    #content .featureitem {
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }

    #content .featureitem ul {
        float: left
    }

    .marleft {
        margin-top: 0;
    }

    #player1, [id$="_wrapper"], .mediaplayer > div {
        margin: auto;
    }

    .containercolumn > div {
        width: 100%;
    }

    /* banner navigation */
    #pagetitle-div.banner-carousel ul.banner-navigation {
        position: absolute;
        left: 0;

    }

    #pagetitle-div.banner-carousel {
        width: 100%;
        position: relative;
        height: 50px;

    }

    .banner-carousel .nextSl, .banner-carousel .prevSl {
        position: absolute;
        background: rgba(255, 255, 255, 0.75);
        /* IE 8 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BFFFFFFF', endColorstr='#BFFFFFFF', GradientType=0);
        width: 20px;
        height: 100%;
        cursor: pointer;
    }

    .banner-carousel .nextSl:hover, .banner-carousel .prevSl:hover {
        background: rgba(255, 255, 255, 0.9);
        /* IE 8 */
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#E6ffffff', endColorstr='#E6ffffff');
    }

    .banner-carousel .nextSl {
        right: 0;
    }

    .banner-carousel .prevSl {
        left: 0;
    }

    .banner-carousel .nextSl span, .banner-carousel .prevSl span {
        display: block;
        width: 13px;
        height: 15px;
        margin: 18px auto 0;
    }

    .banner-carousel .nextSl span {
        background: url(images/banner-navigation.png) no-repeat 0 -32px;
    }

    .banner-carousel .prevSl span {
        background: url(images/banner-navigation.png) no-repeat;
    }

    #_contact_us_form_ div.form_captcha_input {
        width: 365px;
    }

    .scrollable table, .scrollable table td {
        max-width: none !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 947px) {

    /* style for submenus */
    .dropdownmenu ul.toplist {
        width: 98.5%;
    }

    .dropdownmenu ul li div.greyline-div, .dropdownmenu ul.toplist li, .dropdownmenu ul li div.col4wide {
        width: 100%;
    }

    #top-navigation .dropdownmenu .red-mdd-border {
        width: 97.5%;
    }

    .mddSplitLevel2ItemsLeft, .mddSplitLevel2ItemsRight {
        width: 45%;
    }

    div.navig-linkblock .navig-title {
        background-position: left bottom;
    }

    #leftpane-copy1, #contactpane-wrapper {
        display: block;
    }

    #leftpane-copy1 .contains_1col, #leftpane-copy1 .contains_1col .parbase {
        display: block!important;
    }

    #leftpane-copy2, #contactpane-wrapper-copy {
        display: none;
    }
}

@media only screen and (min-width: 150px) and (max-width: 639px) {

	.parsys.rightpar {
    	padding-top: 8px;
	}

    [id$="_displayarea"] {
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
        position: absolute 100%!important;

    }

    [id$="_display_image"] {
        display: block !important;
        position: absolute !important;
        cursor: pointer !important;
        left: 0 !important;
        top: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        text-decoration: none !important;
        z-index: 1 !important;
        width: 100% !important;
        height: 100% !important;
        opacity: 1 !important;

    }

    video[id$="_video"] {
        height: 100% !important;
        width: 100% !important;
        top: 0 !important
    }

    #content .content_4col_wide, #content .contains_3col {
        margin-top: 10px;
    }

    #sitesearch {
        margin-bottom: 10px;
    }

    .hide-level-1 {
        display: none;
    }

    .show-level-1 {
        display: block;
    }

    .show-level-2, .show-level-3, .show-level-4 {
        display: none;
    }

    #navigation-searchbox-moodimage #logosearch {
        height: auto;
        margin-bottom: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        display: inline-block;
    }

    .two-col-thumbnail {
        width: 20%;
    }

    span.rss-link a {
        margin-left: 0!important;
    }

    .table_type_01 .t_head_1, 
    .table_type_02 .t_head_1, 
    .table_type_03 .t_head_1, 
    .table_type_04 .t_head_1{
        padding-left:4px;
    }
}

@media only screen and (min-width: 150px) and (max-width: 767px) {
    #tagline.footer_tabline {
        margin: 0 auto;
        text-align: right;
        width: 95%;
        display: block;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    #headerrow #tagline {
        display: none
    }

    body ul#footerlinks {
        float: left;
    }

    #footerlinks .rss-link a{
        -webkit-margin-start:0;
    }

    /*@-moz-document url-prefix() {
        #footerlinks .rss-link a{
            margin-left:0;
        }
    }*/

    #footercontent span#copyright-legal{
        margin-right:3px;
    }

    nav#mobile_position {
        display: block !important;
    }

    /* country switcher in bottom of site */
    .header .topnav #country-language-switch #country-select-li {
        display: none;
    }

    #mainrow ul#country-language-switch {
        float: left;
    }

    #countryrow {
        border-top: 1px solid #b2b2b2;
        display: table;
        float: none;
        margin: 10px auto;
        width: 95%;
    }

    #homepage .contains_1col, #twocolumnpage .contains_1col {
        width: 100% !important;
        min-height: 100% !important;
    }

    #threecolumnpage .contains_1col .parbase {
        display: block;
    }

    /*.contains_1col .parbase.contactpane, */#tagline.footer_tabline, #mainrow #countryrow ul#country-language-switch {
                                                 display: block;
                                             }

    #content div ul.liststyle {
        float: left;
        border-bottom: 0;
        margin-bottom: 0;
    }

    #mainrow #countryrow ul#country-language-switch {
        margin-top: 8px;
    }

    #content .cq-dd-image {
        max-width: 100%;
        height: auto!imporatnt;

    }

    .mean-container .mean-bar {
        padding: 4px 0 0 0;
    }

    body #footerlinksWrapper {
        float: left;
        width: 101%;
        margin-left: -4px;
    }

    #content div.contact ul.contact-further-options {
        max-width: 173px;
    }

    form.search, form.search fieldset {
        width: 175px;
    }

    .parsys_column.cq-colctrl-lt9-c0,
    .parsys_column.cq-colctrl-lt9-c1,
    .parsys_column.cq-colctrl-lt9-c2,
    .parsys_column.cq-colctrl-lt9-c3 {
        width: 100%;
    }

    #leftpane-copy2, #contactpane-wrapper-copy {
        display: block;
    }

    #leftpane-copy2 .contains_1col, #leftpane-copy2 .contains_1col .parbase {
        display: block!important;
    }

    #leftpane-copy1, #contactpane-wrapper {
        display: none;
    }

    .even, .one-col-title, div.one-col-title p{
        width: auto;
    }
}

@media only screen and (max-width: 320px) {
    #player1, [id$="_wrapper"], .mediaplayer > div {
        max-width: 100%;
    }

    .contains_3col #navigationgallery div.incontentcolum_left,
    .contains_3col #navigationgallery div.incontentcolum_right,
    #content form .formselectbox {
        max-width: 90%;
    }

    div.parbase.article > div, div.parbase.stringplaceholder > div {
        width: 94% !important;
    }

    #content h1,
    #content h2,
    #content h3,
    #content h4,
    #content h5 {
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 948px) {
    #leftpane-copy1, #leftpane-copy2, #contactpane-wrapper-copy {
        display: none;
    }

    #contactpane-wrapper {
        display: block;
    }

    .hide-level-4 {
        display: none;
    }

    .show-level-4 {
        display: block;
    }

    .show-level-1, .show-level-2, .show-level-3 {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 790px) {
    .three-col-thumbnail {
        margin-left:25px;
    }
}