/*
 * Dynamic News Pro CSS
 * http://themezee.com/themes/dynamicnews/#PROVersion-1
 *
 * Copyright(C) 2015, ThemeZee.com - support@themezee.com
 * License: GPL v3
 * License URI: http://www.gnu.org/licenses/gpl-3.0.html
 *
 */
 
#logo .site-logo {
	border: 0;
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

/* Footer Widget Area
-------------------------------------------------------------- */
#footer-widgets-bg {
	background: #333;
}
#footer-widgets {
	padding-top: 1.5em;
	padding-left: 1.5em;
}
.footer-widget-column {
	float: left;
	width: 25%;
	padding-right: 1.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Footer Widget Styling */
#footer-widgets .widget {
	box-shadow: none;
	border: none;
	background: rgba(255, 255, 255, 0.05);
}
#footer-widgets .widgettitle {
	color: #fff;
	background: rgba(255, 255, 255, 0.1);
}
#footer-widgets .widget ul, #footer-widgets .widget div{
	color: #fff;
}
#footer-widgets .widget a:link, #footer-widgets .widget a:visited  {
	color: #ccc;
}
#footer-widgets .widget a:hover, #footer-widgets .widget a:active {
	text-decoration: underline;
}

/* Custom Widget Styling */
#footer-widgets #wp-calendar {
	color: #fff;
}


/*============================ MEDIA QUERIES ============================*/

/* Small screens | <1120px */
@media only screen and (max-width: 70em) {
	.footer-widget-column {
		width: 50%;
	}
}
@media only screen and (max-width: 65em) {
	#footer-widgets .widget {
		padding: 1.5em;
	}
	#footer-widgets .widgettitle {
		margin: -0.5em -0.5em 1.5em -0.5em;
	}
}

/* Tablets (landscape) | <960px */
@media only screen and (max-width: 60em) {
	#footer-widgets {
		margin-right: 0;
	}
	.footer-widget-column {
		float: none;
		width: 100%;
	}
	
}
@media only screen and (max-width: 50em) {
	#footer-widgets .widget {
		padding: 1.5em;
	}
	#footer-widgets .widgettitle {
		margin: -0.5em -0.5em 1.5em -0.5em;
	}
}
