a#scroll-to-top {
	
	/* Background image, replace in images folder */
	background: url(http://www.dumpaday.com/wp-content/uploads/2015/05/up-arrow.gif) no-repeat center center;
	
	/* Match to background image size */
	width: 85px;
	height: 85px;
	
	/* Postion on the page */
	position: fixed;	
	right: 30px;
	bottom: 30px;
	
	/* Hide link text */
	text-indent: -9999px;
	font-size: 0;
	
	/* Other */
	cursor: pointer;	
	outline: 0;
	
}