a {
  color: inherit;
  text-decoration: none !important;
}
a:link {
  text-decoration: none !important;
}
a:visited {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
a:active {
  text-decoration: none !important;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mar_t_0 {
  margin-top: 0;
}
.mar_t_25 {
  margin-top: 25px;
}
.nor_gray_tit {
  color: #4A4A4A;
  font-size: 19px;
}
p.nor_gray_tit {
  margin: 35px 0 10px 0;
}
.haslabel .label {
  background-color: rgba(0, 0, 0, 0.24);
  padding: 10px;
  position: absolute;
  margin-left: 10px;
  border-radius: 6px;
  margin-top: 10px;
  z-index: 10;
}
.article-list.padd_t_no .article-item:first-child {
  padding-top: 0;
  border-top: none !important;
}
.special-page img.mobile {
  display: none !important;
}
.special-page img.pc {
  display: block !important;
}
@media screen and (max-width: 1000px) {
  .special-page .main-content-wrap {
    max-width: 100%;
    padding: 0 18px;
  }
  .special-page .box {
    width: 100% !important;
  }
  .special-page .banner {
    overflow: hidden;
    position: relative;
    height: 240px;
  }
  .special-page .banner div {
    margin-left: 0px !important;
    left: 2% !important;
  }
  .special-page .banner img {
    width: 100% !important;
    height: 100%;
    margin-top: 0 !important;
  }
  .special-page .banner img.pc {
    display: none !important;
  }
  .special-page .banner img.mobile {
    display: block !important;
  }
}
#slider-banner .slides:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.personal-change {
  background: #666666;
}
.personal-change .nav-container {
  text-align: center;
  font-size: 0;
  padding: 0 20% 50px;
  border-bottom: 1px dotted #666;
}
.personal-change .nav-container li {
  font-size: 16px;
  font-weight: bold;
  width: 50%;
  display: inline-block;
}
.personal-change .nav-container li.active a {
  color: #337ab7;
}
.personal-change .operate-container {
  width: 70%;
  margin: auto;
  background-color: white;
  padding: 20px 100px 100px;
}
.personal-change .control-label {
  text-align: left;
}
.personal-change .change-btn {
  background-color: #1579E1;
}
.personal-change .change-btn:hover {
  background-color: #155ab5;
}
.personal-change #headFile {
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  left: 0;
  top: 0;
}
.personal-change .description-upload {
  margin-bottom: 60px;
}
.personal-change .description-upload span {
  color: #666666;
}
.personal-change .view-box-circle {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 800px) {
  .personal-change .view-box-circle {
    width: 100%;
    margin-top: 20px;
  }
}
.personal-change .view-box {
  vertical-align: top;
  text-align: center;
  padding-right: 30px;
  border-right: 2px solid #a4a4a4;
  margin-right: 40px;
  display: inline-block;
}
@media (max-width: 800px) {
  .personal-change .view-box {
    width: 100%;
    text-align: center;
    border-right: none;
    margin-right: 0;
    padding-right: 0;
  }
}
.personal-change .view-box .btn-box {
  margin-top: 30px;
}
.personal-change .view-box #uploadHead {
  margin-right: 40px;
}
.personal-change .choose-btn {
  position: relative;
  margin-right: 40px;
}
.personal-change .choose-btn:hover {
  background-color: white;
}
.personal-change .choose-btn-img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.personal-change #rectangle {
  width: 280px;
  height: 280px;
}
.personal-change #circle {
  margin-bottom: 40px;
  width: 240px;
  height: 240px;
  border-radius: 100%;
}
.my-nav .option-box .person-info {
  display: inline;
}
.my-nav .option-box .has-login-wrapper:hover .person-menu {
  height: auto;
  border: 1px solid #666;
  border-top: none;
}
.my-nav .option-box .has-login-wrapper .person-menu {
  overflow: hidden;
  background-color: white;
  position: absolute;
  top: 64px;
  height: 0;
  line-height: 2.5;
  left: 0;
  z-index: 999;
}
.my-nav .option-box .has-login-wrapper .person-menu li {
  padding: 0 10px;
}
.my-nav .option-box .has-login-wrapper .person-menu li:hover {
  background-color: #eee;
}
.my-nav .option-box .has-login-wrapper .person-menu a {
  display: block;
  width: 100%;
  padding: 0 20px;
  border-bottom: 1px dashed #eee;
}
.row_left_fill .videobox.has-abs-info .mark__ {
  z-index: 7 !important;
}
.forget-wrapper {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);
}
.forget-wrapper .tabs li {
  cursor: pointer;
  float: left;
  width: 50%;
  color: #B3B3B3;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 4px solid #B3B3B3;
}
.forget-wrapper .tabs li.on {
  color: #101010;
  border-bottom: 4px solid #1679e2;
}
.forget-wrapper .forget-top {
  text-align: center;
  margin-bottom: 30px;
}
.forget-wrapper .input1 {
  box-sizing: border-box;
  display: block;
  border: 1px solid #eaeaea;
  width: 100%;
  padding: 10px;
  color: #565656;
  font-size: 1.4rem;
}
.forget-wrapper .input1:focus {
  outline: none;
  box-shadow: 0 1px 2px #eaeaea;
}
.forget-wrapper .input2 {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px;
  border: 0;
  color: white;
  background-color: #1679e2;
  font-size: 1.4rem;
  margin-top: 50px;
}
.forget-wrapper .input2:focus {
  outline: none;
  box-shadow: 0 1px 2px #eaeaea;
}
.forget-wrapper .input2:hover {
  background-color: #338EEF;
}
.forget-wrapper .email-forget {
  display: none;
}
.forget-wrapper .code {
  position: relative;
}
.forget-wrapper .code a {
  position: absolute;
  right: 5px;
  top: 7px;
  padding: 5px 10px;
  font-size: 1.2rem;
  color: white;
  background-color: #1679e2;
  border-radius: 2px;
}
.forget-wrapper .code a.disabled {
  color: #b3b3b3;
  background-color: #cecece;
}
.forget-wrapper .forget-pass-box {
  position: relative;
  width: 30%;
  margin: 0 35%;
  padding: 40px 60px 50px;
  background-color: white;
}
@media screen and (max-width: 1000px) {
  .forget-wrapper .forget-pass-box {
    width: 100%;
    margin: 0;
    padding: 50px 10px 20px;
  }
}
.forget-wrapper .label {
  display: block;
  text-align: left;
  position: relative;
  font-size: 1.5rem;
  color: #b3b3b3;
  padding: 20px 0 10px;
}
.forget-wrapper .search-close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  background: url('../images/pc-search-close.png') no-repeat center center transparent;
  background-size: 100% 100%;
}
@media screen and (max-width: 1000px) {
  .forget-wrapper .search-close {
    top: 5px;
    right: 5px;
  }
}
.forget-wrapper .has {
  text-align: right;
  padding-top: 10px;
  color: #b3b3b3;
}
.forget-wrapper .has a {
  color: #101010;
}
.check-email-wrapper {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);
}
.check-email-wrapper .title {
  font-weight: bold;
  font-size: 3rem;
  color: #4C4C4C;
}
.check-email-wrapper .desc {
  color: #7F7F7F;
}
.check-email-wrapper .input2 {
  text-align: center;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px;
  border: 0;
  color: white;
  background-color: #1679e2;
  font-size: 2rem;
  margin-top: 50px;
}
.check-email-wrapper .input2:focus {
  outline: none;
  box-shadow: 0 1px 2px #eaeaea;
}
.check-email-wrapper .input2:hover {
  background-color: #338EEF;
}
.check-email-wrapper .has {
  text-align: right;
  padding-top: 10px;
  color: #b3b3b3;
}
.check-email-wrapper .has a {
  color: #101010;
}
.check-email-wrapper .check-email-box {
  position: relative;
  width: 30%;
  margin: 0 35%;
  padding: 40px 60px 50px;
  background-color: white;
}
@media screen and (max-width: 1000px) {
  .check-email-wrapper .check-email-box {
    width: 100%;
    margin: 0;
    padding: 50px 10px 20px;
  }
}
.check-email-wrapper .search-close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  background: url('../images/pc-search-close.png') no-repeat center center transparent;
  background-size: 100% 100%;
}
@media screen and (max-width: 1000px) {
  .check-email-wrapper .search-close {
    top: 5px;
    right: 5px;
  }
}
.search-result {
  margin-top: 100px;
}
.search-result .search-tab li {
  cursor: pointer;
  float: left;
  width: 33.33333333333333333%;
  color: #B3B3B3;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 4px solid #B3B3B3;
}
.search-result .search-tab li.on {
  color: #101010;
  border-bottom: 4px solid #1679e2;
}
.search-result .search-input {
  position: relative;
  margin-bottom: 40px;
}
.search-result .search-input input {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  box-sizing: border-box;
  padding: 10px 40px 10px 10px;
  border: 1px solid #B3B3B3;
  border-top: 0;
  outline: none;
}
.search-result .search-input input:focus {
  outline: none;
  box-shadow: 0 1px 2px #eaeaea;
}
.search-result .search-input a {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 42px;
  background: url('../images/pc-search-icon.png') no-repeat left center transparent;
  background-size: 25px 25px;
}
.search-result .search-sub-nav {
  width: 40%;
}
.search-result .search-sub-nav-box {
  border-bottom: 1px solid #cecece;
}
.search-result .search-result-list {
  text-align: center;
  font-size: 0;
}
.search-result .search-result-list .user-item {
  font-size: 1rem;
  width: 49%;
  display: inline-block;
  margin-bottom: 5%;
  background-color: #f2f2f2;
  padding: 30px 0;
  position: relative;
}
.search-result .search-result-list .user-item:nth-child(2n) {
  margin-right: 2%;
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .user-item {
    width: 100%;
    float: none;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid #D8D8D8;
    padding: 20px 0;
  }
  .search-result .search-result-list .user-item:first-child {
    padding-top: 0;
  }
  .search-result .search-result-list .user-item:first-child .follow {
    margin-top: -32px !important;
  }
  .search-result .search-result-list .user-item:nth-child(2n) {
    margin-left: 0;
  }
}
.search-result .search-result-list .user-item .title {
  font-size: 2rem;
}
.search-result .search-result-list .user-item .sub-title {
  font-size: 1.5rem;
  color: #616161;
  margin: 10px 0;
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .user-item .sub-title {
    display: none;
  }
}
.search-result .search-result-list .user-item .middle-head {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .user-item .middle-head {
    width: 15%;
  }
}
.search-result .search-result-list .user-item .middle-head img {
  width: 100%;
  padding: 0 15%;
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .user-item .middle-head img {
    padding: 0 5% 0 0;
  }
}
.search-result .search-result-list .user-item .info {
  width: 64%;
  padding-left: 6%;
  display: inline-block;
  vertical-align: middle;
  border-left: 2px solid #D8D8D8;
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .user-item .info {
    padding: 0;
    border: 0;
  }
}
.search-result .search-result-list .user-item .info .quote-box {
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .user-item .info .quote-box {
    margin-bottom: 0;
  }
}
.search-result .search-result-list .user-item .info .icon-quote-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background: url("../images/person-icon-quote-left.png") no-repeat center center transparent;
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .user-item .info .icon-quote-left {
    display: none;
  }
}
.search-result .search-result-list .user-item .info .icon-quote-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background: url("../images/person-icon-quote-right.png") no-repeat center center transparent;
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .user-item .info .icon-quote-right {
    display: none;
  }
}
.search-result .search-result-list .user-item .info .quote-text {
  padding: 0 24px;
  text-align: center;
  color: #252525;
  font-size: 1.7rem;
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .user-item .info .quote-text {
    padding: 0;
  }
}
.search-result .search-result-list .user-item .info .follow {
  display: block;
  width: 130px;
  box-shadow: 0 0 2px #D8D8D8;
  background-color: #ffffff;
  text-align: center;
  padding: 4px 0;
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .user-item .info .follow {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -16px;
    width: 100px;
  }
}
.search-result .search-result-list .user-item .info .follow span {
  color: #252525;
  font-size: 1.6rem;
  padding-left: 10px;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
}
.search-result .search-result-list .user-item .info .follow .follow-icon {
  background-repeat: no-repeat;
  background-position: center center;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}
.search-result .search-result-list .user-item .info .follow .add-icon {
  background-image: url("../images/person-icon-add.png");
}
.search-result .search-result-list .user-item .info .follow .added-icon {
  background-image: url("../images/person-icon-added.png");
}
.search-result .search-result-list .user-item .info .follow .change-icon {
  background-image: url("../images/person-icon-change.png");
}
.search-result .search-result-list .item {
  text-align: left;
  position: relative;
  font-size: 2rem;
  border-bottom: 1px solid #D8D8D8;
  padding: 50px 0;
}
.search-result .search-result-list .item:hover .edit-btn,
.search-result .search-result-list .item:hover .delete-btn {
  display: block;
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .item:hover .edit-btn,
  .search-result .search-result-list .item:hover .delete-btn {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .item {
    padding: 20px 0;
  }
}
.search-result .search-result-list .item .figure {
  float: left;
  width: 43.7%;
  position: relative;
}
@media screen and (max-width: 800px) {
}
.search-result .search-result-list .item .figure img {
  width: 100%;
}
.search-result .search-result-list .item .figure .link {
  position: absolute;
  left: 15px;
  top: 15px;
  display: inline-block;
  padding: 5px 5px 5px 10px;
  color: white;
  border-radius: 3px;
  font-size: 1.3rem;
  opacity: 0.5;
  letter-spacing: 5px;
  background-color: #000000;
}
.search-result .search-result-list .item .figure .link:hover {
  opacity: 0.9;
}
.search-result .search-result-list .item .figure .link:active {
  opacity: 1;
}
.search-result .search-result-list .item .info {
  width: 45%;
  float: right;
  margin-right: 5%;
}
@media screen and (max-width: 800px) {
}
.search-result .search-result-list .item .title {
  max-height: 56px;
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .search-result .search-result-list .item .title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .item .title {
    display: block;
  }
}
.search-result .search-result-list .item .sub-title {
  font-size: 1.8rem;
  max-height: 150px;
  line-height: 2.2rem;
  margin-top: 7%;
  color: #5F5F5F;
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .search-result .search-result-list .item .sub-title {
    font-size: 1.6rem;
    max-height: 150px;
    margin-top: 3%;
  }
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .item .sub-title {
    display: none;
    margin-top: 5px;
  }
}
.search-result .search-result-list .item .mobile-head {
  font-size: 2rem;
  color: #101010;
  vertical-align: middle;
  float: left;
  display: block;
}
.search-result .search-result-list .item .mobile-head img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.search-result .search-result-list .item .mobile-head span {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .item .mobile-head span {
    display: none;
  }
}
.search-result .search-result-list .item .time {
  font-size: 1.5rem;
  color: #B1B1B1;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 6px;
}
@media screen and (max-width: 1130px) {
  .search-result .search-result-list .item .time {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .item .time {
    margin-left: 2px;
    font-size: 1.5rem;
    margin-right: 5px;
    margin-top: 3px;
  }
}
.search-result .search-result-list .item .edit-btn {
  display: none;
  color: #7b9bc6;
  font-size: 1.5rem;
  float: left;
  margin-right: 10px;
}
.search-result .search-result-list .item .edit-btn:hover {
  color: #4D7FC3;
}
@media screen and (max-width: 1130px) {
  .search-result .search-result-list .item .edit-btn {
    font-size: 1.4rem;
  }
}
.search-result .search-result-list .item .delete-btn {
  display: none;
  color: #c67b7b;
  font-size: 1.5rem;
  float: left;
}
.search-result .search-result-list .item .delete-btn:hover {
  color: #C55A5A;
}
@media screen and (max-width: 1130px) {
  .search-result .search-result-list .item .delete-btn {
    font-size: 1.4rem;
  }
}
.search-result .search-result-list .item .extra {
  width: 45%;
  position: absolute;
  right: 5%;
  bottom: 15%;
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .item .extra {
    margin-top: 10px;
    bottom: 25px;
  }
}
.search-result .search-result-list .item .comment {
  font-size: 1.5rem;
  float: right;
}
.search-result .search-result-list .item .comment .comment-btn {
  display: inline-block;
  padding-left: 26px;
  height: 23px;
  color: #B1B1B1;
  line-height: 23px;
  background-repeat: no-repeat;
  background-position: left center;
}
.search-result .search-result-list .item .comment .comment-icon {
  margin-right: 20px;
  background-image: url("../images/person-comment.png");
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .item .comment .comment-icon {
    margin-right: 0px;
  }
}
.search-result .search-result-list .item .comment .love-icon {
  background-image: url("../images/person-love.png");
}
@media screen and (max-width: 800px) {
  .search-result .search-result-list .item .comment .love-icon {
    display: none;
  }
}
html {
  font-size: 8.2px;
  min-width: 320px;
  font-family: "苹方", "冬青黑体", "微软雅黑", "黑体", sans-serif;
}
@media screen and (max-width: 800px) {
  html {
    font-size: 8px;
  }
}
body {
  position: relative;
}
/* 返回顶部 */
@media screen and (max-width: 800px) {
  #topcontrol {
    right: 20px !important;
    bottom: 100px !important;
    z-index: 1001;
  }
}
@media screen and (max-width: 800px) {
  #topcontrol img {
    width: 36px !important;
    height: 36px !important;
  }
}
/* 注册框 start */
.registerWrap {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);
}

@-moz-document url-prefix() {
	.registerWrap {position: fixed;}
}





.registerWrap .label {
  display: block;
  text-align: left;
  position: relative;
  font-size: 1.5rem;
  color: #b3b3b3;
  padding: 20px 0 10px;
}
.registerWrap .input1 {
  box-sizing: border-box;
  display: block;
  border: 1px solid #eaeaea;
  width: 100%;
  padding: 10px;
  color: #565656;
  font-size: 1.4rem;
}
.registerWrap .input1:focus {
  outline: none;
  box-shadow: 0 1px 2px #eaeaea;
}
.registerWrap .input2 {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px;
  border: 0;
  color: white;
  background-color: #1679e2;
  font-size: 1.4rem;
}
.registerWrap .input2:focus {
  outline: none;
  box-shadow: 0 1px 2px #eaeaea;
}
.registerWrap .input2:hover {
  background-color: #338EEF;
}
.registerWrap .tabs li {
  cursor: pointer;
  float: left;
  width: 50%;
  color: #B3B3B3;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 4px solid #B3B3B3;
}
.registerWrap .tabs li.on {
  color: #101010;
  border-bottom: 4px solid #1679e2;
}
.registerWrap .code {
  position: relative;
}
.registerWrap .code a {
  position: absolute;
  right: 5px;
  top: 7px;
  padding: 5px 10px;
  font-size: 1.2rem;
  color: white;
  background-color: #1679e2;
  border-radius: 2px;
}
.registerWrap .code a.disabled {
  color: #b3b3b3;
  background-color: #cecece;
}
.registerWrap .xieyi {
  color: #b3b3b3;
  padding: 20px 0;
}
.registerWrap .has {
  padding-top: 10px;
  color: #b3b3b3;
}
.registerWrap .has a {
  color: #101010;
}
.registerWrap .email-register {
  display: none;
}
.registerWrap .register-box {
  position: relative;
  width: 40%;
  margin: 0 30%;
  padding: 40px 60px 50px;
  background-color: white;
}
@media screen and (max-width: 1000px) {
  .registerWrap .register-box {
    width: 100%;
    margin: 0;
    padding: 0px 10px 20px;
  }
}
.registerWrap .register-box .register-top {
  text-align: center;
  margin-bottom: 30px;
}
.registerWrap .search-close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  background: url('../images/pc-search-close.png') no-repeat center center transparent;
  background-size: 100% 100%;
}
@media screen and (max-width: 1000px) {
  .registerWrap .search-close {
    top: 5px;
    right: 5px;
  }
}
/* 注册框 end */
/* 登录框 start */
.loginWrap {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);
}

@-moz-document url-prefix() {
	.loginWrap {position: fixed;}
}






.loginWrap .login-box {
  position: relative;
  width: 40%;
  margin: 0 30%;
  padding: 40px 60px 50px;
  background-color: white;
}
@media screen and (max-width: 1000px) {
  .loginWrap .login-box {
    width: 100%;
    margin: 0;
    padding: 0px 10px 20px;
  }
}
.loginWrap .fl {
  float: left;
}
.loginWrap .fr {
  float: right;
}
.loginWrap .label {
  display: block;
  text-align: left;
  position: relative;
  font-size: 1.5rem;
  color: #b3b3b3;
  padding: 20px 0 10px;
}
.loginWrap .input1 {
  box-sizing: border-box;
  display: block;
  border: 1px solid #eaeaea;
  width: 100%;
  padding: 10px;
  color: #565656;
  font-size: 1.4rem;
}
.loginWrap .input1:focus {
  outline: none;
  box-shadow: 0 1px 2px #eaeaea;
}
.loginWrap .input2 {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px;
  border: 0;
  color: white;
  background-color: #1679e2;
  font-size: 1.4rem;
}
.loginWrap .input2:focus {
  outline: none;
  box-shadow: 0 1px 2px #eaeaea;
}
.loginWrap .input2:hover {
  background-color: #338EEF;
}
.loginWrap .short-login {
  display: none;
}
.loginWrap .code {
  position: relative;
}
.loginWrap .code a {
  position: absolute;
  right: 5px;
  top: 7px;
  padding: 5px 10px;
  color: #b3b3b3;
  font-size: 1.2rem;
  background-color: #f5f5f5;
  border-radius: 2px;
}
.loginWrap .div-checkbox {
  margin: 10px 0 20px;
  color: #b3b3b3;
}
.loginWrap .div-checkbox .forget {
  color: #101010;
}
.loginWrap .short {
  margin-top: 10px;
  color: #b3b3b3;
}
.loginWrap .short a {
  color: #101010;
}
.loginWrap .method-box {
  position: relative;
  text-align: center;
  margin-top: 20px;
}
.loginWrap .method-box .line {
  height: 1px;
  width: 100%;
  background-color: #eaeaea;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}
.loginWrap .method-box .title {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0 20px;
  background-color: white;
}
.loginWrap .method {
  text-align: center;
  margin-top: 20px;
}
.loginWrap .method a {
  margin: 0 25px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
}
.loginWrap .method a:nth-child(1) {
  background-image: url("../images/short1.png");
}
.loginWrap .method a:nth-child(1):hover {
  background-image: url("../images/short1-hover.png");
}
.loginWrap .method a:nth-child(2) {
  background-image: url("../images/short2.png");
}
.loginWrap .method a:nth-child(2):hover {
  background-image: url("../images/short2-hover.png");
}
.loginWrap .method a:nth-child(3) {
  background-image: url("../images/short3.png");
}
.loginWrap .method a:nth-child(3):hover {
  background-image: url("../images/short3-hover.png");
}
.loginWrap .login-top {
  text-align: center;
  margin-bottom: 30px;
}
.loginWrap .search-close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  background: url('../images/pc-search-close.png') no-repeat center center transparent;
  background-size: 100% 100%;
}
@media screen and (max-width: 1000px) {
  .loginWrap .search-close {
    top: 5px;
    right: 5px;
  }
}
/* 登录框 end */
/* 头部pc端搜索弹窗 start */
.pcSearch {
  cursor: pointer;
}
.pc-search-wrap {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);
}
.pc-search-wrap .pc-search-box {
  position: relative;
  width: 40%;
  margin: 0 30%;
  padding: 80px 60px 100px;
  background-color: white;
}
@media screen and (max-width: 1000px) {
  .pc-search-wrap .pc-search-box {
    width: 100%;
    margin: 0;
    padding: 50px 10px 20px;
  }
}
.pc-search-wrap .search-close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  background: url('../images/pc-search-close.png') no-repeat center center transparent;
  background-size: 100% 100%;
}
@media screen and (max-width: 1000px) {
  .pc-search-wrap .search-close {
    top: 5px;
    right: 5px;
  }
}
.pc-search-wrap .search-tab li {
  cursor: pointer;
  float: left;
  width: 33.33333333333333333%;
  color: #B3B3B3;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 4px solid #B3B3B3;
}
.pc-search-wrap .search-tab li.on {
  color: #101010;
  border-bottom: 4px solid #1679e2;
}
.pc-search-wrap .search-input {
  position: relative;
}
.pc-search-wrap .search-input input {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  box-sizing: border-box;
  padding: 10px 40px 10px 10px;
  border: 1px solid #B3B3B3;
  border-top: 0;
  outline: none;
}
.pc-search-wrap .search-input input:focus {
  outline: none;
  box-shadow: 0 1px 2px #eaeaea;
}
.pc-search-wrap .search-input a {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 42px;
  background: url('../images/pc-search-icon.png') no-repeat left center transparent;
  background-size: 25px 25px;
}
.pc-search-wrap .hot-search {
  font-size: 1.8rem;
  margin: 50px 0 20px;
}
.pc-search-wrap .hot-label a {
  display: block;
  margin-right: 30px;
  margin-bottom: 10px;
  color: #B3B3B3;
  float: left;
}
/* 头部pc端搜索弹窗 end */
.original-submission .main-content {
  color: #5F5F5F;
}
.original-submission .main-content .line {
  width: 100%;
  height: 1px;
  background-color: #D8D8D8;
  margin: 15px 0;
}
.original-submission .main-content .button-add {
  cursor: pointer;
  width: 26px;
  height: 26px;
  text-align: center;
  border: 1px solid #D8D8D8;
  border-radius: 3px;
}
.original-submission .main-content .button-add.special {
  margin-bottom: 80px;
}
.original-submission .main-content .button-add:hover {
  color: white;
  background-color: #378EEA;
  box-shadow: 0 2px 5px #B9B9B9;
  border-color: transparent !important;
}
.original-submission .main-content .button-add:active {
  color: white;
  background-color: #1679e2;
  box-shadow: 0 2px 5px #B9B9B9;
  border-color: transparent !important;
}
.original-submission .main-content .button-btn {
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #D8D8D8;
  padding: 2px 0;
  width: 100px;
  background-color: white;
  position: relative;
}
.original-submission .main-content .button-btn:hover {
  color: white;
  background-color: #378EEA;
  box-shadow: 0 2px 5px #B9B9B9;
  border-color: transparent !important;
}
.original-submission .main-content .button-btn:active {
  color: white;
  background-color: #1679e2;
  box-shadow: 0 2px 5px #B9B9B9;
  border-color: transparent !important;
}
.original-submission .main-content .button-btn input {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
}
.original-submission .main-content .textarea-input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  min-height: 100px;
  width: 80%;
  border: 1px solid #D8D8D8;
  font-size: 1.3rem;
}
.original-submission .main-content .original-from {
  font-size: 1.6rem;
  margin: 0;
}
.original-submission .main-content .cate-label {
  margin-left: 15px;
  margin-right: 5px;
}
.original-submission .main-content .cate-select {
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  width: 100px;
  font-size: 1.5rem;
}
.original-submission .main-content .cate-select option {
  font-size: 1.5rem;
}
.original-submission .main-content .title {
  margin: 20px 0 10px;
}
.original-submission .main-content .title-input {
  width: 80%;
  padding: 2px 10px;
  border: 1px solid #D8D8D8;
}
.original-submission .main-content .autor-box {
  display: inline-block;
  padding-left: 45px;
  width: 26%;
  position: relative;
}
.original-submission .main-content .autor {
  position: absolute;
  left: 0;
  top: 3px;
}
.original-submission .main-content .hidden-box {
  display: inline-block;
  width: 10%;
  margin: 0 2%;
}
@media screen and (max-width: 1160px) {
  .original-submission .main-content .hidden-box {
    margin: 0 1%;
    width: 11%;
  }
}
.original-submission .main-content .email-box {
  position: relative;
  display: inline-block;
  width: 40%;
  padding-left: 77px;
}
.original-submission .main-content .autor-input {
  border: 1px solid #D8D8D8;
  padding: 2px 10px;
  display: block;
  width: 100%;
}
.original-submission .main-content .hidden-input {
  margin-left: 15px;
}
.original-submission .main-content .email {
  position: absolute;
  left: 0;
  top: 3px;
}
.original-submission .main-content .email-input {
  display: block;
  width: 100%;
  border: 1px solid #D8D8D8;
  padding: 2px 10px;
}
.original-submission .original-banner {
  background: url("../images/person-banner.jpg") no-repeat center center transparent;
}
.original-submission .original-banner .banner-text {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 2rem;
  color: white;
  padding: 40px 20px;
}
.person .banner {
  height: 286px;
  padding-top: 70px;
  background: url("../images/person-banner.jpg") no-repeat center center transparent;
}
@media screen and (max-width: 800px) {
  .person .banner {
    height: auto;
    padding: 10px;
  }
}
.person .banner .banner-content {
  max-width: 1000px;
  padding: 10px 20px;
  margin: 0 auto;
}
.person .banner .banner-content .left-content {
  float: left;
  position: relative;
  padding-left: 160px;
  font-size: 2rem;
}
@media screen and (max-width: 800px) {
  .person .banner .banner-content .left-content {
    float: none;
    text-align: center;
    padding-left: 0;
  }
}
.person .banner .banner-content .left-content .head {
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (max-width: 800px) {
  .person .banner .banner-content .left-content .head {
    position: relative;
    width: 50px;
    height: 50px;
  }
}
.person .banner .banner-content .left-content .sex {
  margin-left: 10px;
}
@media screen and (max-width: 800px) {
  .person .banner .banner-content .left-content .sex {
    margin-left: 5px;
    width: 20px;
    height: 20px;
  }
}
.person .banner .banner-content .left-content .my-name {
  margin-top: 15px;
  color: white;
  font-size: 3rem;
  vertical-align: middle;
}
.person .banner .banner-content .left-content .name-text:hover {
  color: white;
}
.person .banner .banner-content .left-content .name {
  color: white;
  font-size: 3rem;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  .person .banner .banner-content .left-content .name {
    margin-top: 10px;
  }
}
.person .banner .banner-content .left-content .info {
  color: white;
  margin-top: 15px;
}
@media screen and (max-width: 800px) {
  .person .banner .banner-content .left-content .info {
    margin-top: 5px;
  }
}
.person .banner .banner-content .left-content .mobile-quote {
  display: none;
}
@media screen and (max-width: 800px) {
  .person .banner .banner-content .left-content .mobile-quote {
    display: block;
    color: #ffffff;
    margin-top: 5px;
    font-size: 1.9rem;
  }
}
.person .banner .banner-content .follow {
  margin-top: 15px;
  font-size: 2rem;
}
@media screen and (max-width: 800px) {
  .person .banner .banner-content .follow {
    margin-top: 10px;
  }
}
.person .banner .banner-content .follow .f-btn {
  cursor: pointer;
  display: inline-block;
  padding: 0px 24px;
  border-radius: 5px;
  background-color: white;
  color: #101010;
}
@media screen and (max-width: 800px) {
  .person .banner .banner-content .follow .f-btn {
    padding: 2px 24px;
  }
}
.person .banner .banner-content .follow .follow-btn {
  margin-right: 20px;
}
@media screen and (max-width: 800px) {
  .person .banner .banner-content .follow #sendMessageBtn {
    display: none;
  }
}
.person .banner .banner-content .my-follow {
  margin-top: 30px;
  text-align: center;
}
.person .banner .banner-content .right-content {
  width: 30%;
  float: right;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .person .banner .banner-content .right-content {
    display: none;
  }
}
.person .banner .banner-content .right-content .right-quote-box {
  text-align: center;
  display: inline-block;
  margin: 30px auto 0;
  position: relative;
}
.person .banner .banner-content .right-content .my-right-quote-box {
  margin-top: 0;
}
.person .banner .banner-content .right-content .icon-quote-left {
  position: absolute;
  left: -45px;
  top: 0;
  width: 24px;
  height: 16px;
  background: url("../images/person-icon-left.png") no-repeat center center transparent;
}
.person .banner .banner-content .right-content .icon-quote-right {
  position: absolute;
  right: -45px;
  top: 0;
  width: 24px;
  height: 16px;
  background: url("../images/person-icon-right.png") no-repeat center center transparent;
}
.person .banner .banner-content .right-content .quote {
  color: white;
  font-size: 2rem;
}
.person .banner .banner-content .right-content .score {
  font-size: 1.8rem;
  color: #B1B1B1;
  margin-top: 15px;
}
.person .main-content {
  max-width: 1000px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  font-size: 2rem;
}
.person .main-content .main-content-top {
  background-color: #ffffff;
}
.person .main-content .main-content-top .person-tab-mobile {
  display: none;
  color: #B1B1B1;
  margin-bottom: 20px;
  border-bottom: 1px solid #D8D8D8;
}
@media screen and (max-width: 800px) {
  .person .main-content .main-content-top .person-tab-mobile {
    display: block;
  }
}
.person .main-content .main-content-top .person-tab-left {
  float: left;
  width: 65%;
  margin-bottom: 40px;
  border-bottom: 1px solid #D8D8D8;
}
@media screen and (max-width: 800px) {
  .person .main-content .main-content-top .person-tab-left {
    display: none;
  }
}
.person .main-content .main-content-top .person-tab-left .tab-box {
  margin-left: 5%;
}
.person .main-content .main-content-top .person-tab-left .tab-box:nth-child(1) {
  margin-left: 0;
}
.person .main-content .main-content-top .person-tab-right {
  float: right;
  width: 30%;
  margin-bottom: 40px;
  border-bottom: 1px solid #D8D8D8;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .person .main-content .main-content-top .person-tab-right {
    display: none;
  }
}
.person .main-content .main-content-top .person-tab-right .tab-box {
  margin: 0 10%;
}
.person .main-content .main-content-top .tab-box {
  display: inline-block;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 3px solid transparent;
}
@media screen and (max-width: 800px) {
  .person .main-content .main-content-top .tab-box {
    margin: 0 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
  }
}
.person .main-content .main-content-top .tab-box .tab-name {
  color: #B1B1B1;
  margin-top: 5px;
}
.person .main-content .main-content-top .tab-box .tab-name:hover {
  color: #101010;
}
@media screen and (max-width: 800px) {
  .person .main-content .main-content-top .tab-box .tab-name {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  .person .main-content .main-content-top .tab-box .tab-name span {
    display: none;
  }
}
.person .main-content .main-content-top .tab-box .tab-number {
  position: relative;
  display: inline-block;
}
.person .main-content .main-content-top .tab-box .tab-new-number {
  position: absolute;
  right: -22px;
  top: -2px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  z-index: 1;
  color: white;
  font-size: 1rem;
  border-radius: 50%;
  background-color: #b61b21;
}
.person .main-content .main-content-top .selected {
  border-bottom: 3px solid #2c87e2;
}
@media screen and (max-width: 800px) {
  .person .main-content .main-content-top .selected {
    color: #101010;
    border-bottom: 3px solid #2c87e2;
  }
}
.person .main-content .main-content-top .selected .tab-name {
  color: #101010;
}
.person .main-content .left-content {
  float: left;
  width: 65%;
}
@media screen and (max-width: 800px) {
  .person .main-content .left-content {
    width: 100%;
  }
}
.person .main-content .left-content .item {
  position: relative;
  font-size: 2rem;
  border-bottom: 1px solid #D8D8D8;
  padding: 50px 0;
}
.person .main-content .left-content .item:hover .edit-btn,
.person .main-content .left-content .item:hover .delete-btn {
  display: block;
}
@media screen and (max-width: 800px) {
  .person .main-content .left-content .item:hover .edit-btn,
  .person .main-content .left-content .item:hover .delete-btn {
    display: none;
  }
}
.person .main-content .left-content .item:nth-child(1) {
  padding-top: 0;
}
.person .main-content .left-content .item:nth-child(1) .extra {
  bottom: 17%;
}
@media screen and (max-width: 800px) {
  .person .main-content .left-content .item {
    padding: 20px 0;
  }
}
.person .main-content .left-content .item .figure {
  float: left;
  width: 43.7%;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .person .main-content .left-content .item .figure {
    float: none;
    width: 100%;
  }
}
.person .main-content .left-content .item .figure img {
  width: 100%;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.person .main-content .left-content .item .figure:hover img {
  -ms-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
}
.person .main-content .left-content .item .figure .link {
  position: absolute;
  left: 15px;
  top: 15px;
  display: inline-block;
  padding: 5px 5px 5px 10px;
  color: white;
  border-radius: 3px;
  font-size: 1.3rem;
  opacity: 0.5;
  letter-spacing: 5px;
  background-color: #000000;
}
.person .main-content .left-content .item .figure .link:hover {
  opacity: 0.9;
}
.person .main-content .left-content .item .figure .link:active {
  opacity: 1;
}
.person .main-content .left-content .item .info {
  width: 45%;
  float: right;
  margin-right: 5%;
}
@media screen and (max-width: 800px) {
  .person .main-content .left-content .item .info {
    float: none;
    width: 100%;
  }
}
.person .main-content .left-content .item .title {
  max-height: 56px;
  color: #101010;
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .person .main-content .left-content .item .title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 800px) {
  .person .main-content .left-content .item .title {
    display: block;
    padding-top: 10px;
  }
}
.person .main-content .left-content .item .sub-title {
  font-size: 1.8rem;
  max-height: 100px;
  line-height: 2.2rem;
  margin-top: 7%;
  color: #5F5F5F;
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .person .main-content .left-content .item .sub-title {
    font-size: 1.6rem;
    max-height: 110px;
    margin-top: 3%;
  }
}
@media screen and (max-width: 800px) {
  .person .main-content .left-content .item .sub-title {
    display: none;
    margin-top: 5px;
  }
}
.person .main-content .left-content .item .mobile-head {
  display: none;
  font-size: 2rem;
  color: #101010;
}
.person .main-content .left-content .item .mobile-head img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.person .main-content .left-content .item .mobile-head span {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  .person .main-content .left-content .item .mobile-head {
    display: inline-block;
  }
}
.person .main-content .left-content .item .time {
  font-size: 1.5rem;
  color: #B1B1B1;
  float: left;
  margin-right: 15px;
}
@media screen and (max-width: 1130px) {
  .person .main-content .left-content .item .time {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 800px) {
  .person .main-content .left-content .item .time {
    font-size: 1.5rem;
    padding-top: 5px;
    float: none;
    display: inline-block;
  }
}
.person .main-content .left-content .item .edit-btn {
  display: none;
  color: #7b9bc6;
  font-size: 1.5rem;
  float: left;
  margin-right: 10px;
}
.person .main-content .left-content .item .edit-btn:hover {
  color: #4D7FC3;
}
@media screen and (max-width: 1130px) {
  .person .main-content .left-content .item .edit-btn {
    font-size: 1.4rem;
  }
}
.person .main-content .left-content .item .delete-btn {
  display: none;
  color: #c67b7b;
  font-size: 1.5rem;
  float: left;
}
.person .main-content .left-content .item .delete-btn:hover {
  color: #C55A5A;
}
@media screen and (max-width: 1130px) {
  .person .main-content .left-content .item .delete-btn {
    font-size: 1.4rem;
  }
}
.person .main-content .left-content .item .extra {
  width: 45%;
  position: absolute;
  right: 5%;
  bottom: 15%;
}
@media screen and (max-width: 800px) {
  .person .main-content .left-content .item .extra {
    margin-top: 10px;
    width: 100%;
    position: static;
    right: 0;
    bottom: 0;
  }
}
.person .main-content .left-content .item .comment {
  font-size: 1.5rem;
  float: right;
  margin-top: 1px;
}
.person .main-content .left-content .item .comment .comment-btn {
  display: inline-block;
  padding-left: 26px;
  height: 23px;
  color: #B1B1B1;
  line-height: 23px;
  background-repeat: no-repeat;
  background-position: left center;
}
.person .main-content .left-content .item .comment .comment-icon {
  margin-right: 20px;
  background-image: url("../images/person-comment.png");
}
.person .main-content .left-content .item .comment .love-icon {
  background-image: url("../images/person-love.png");
}
.person .main-content .right-content {
  float: right;
  width: 30%;
}
@media screen and (max-width: 800px) {
  .person .main-content .right-content {
    display: none;
  }
}
.person .main-content .banner-right img {
  width: 100%;
}
.person .main-content .right-title {
  color: #101010;
  margin: 55px 0;
  font-size: 2rem;
}
.person .main-content .carousel .carousel-box {
  overflow: hidden;
  width: 100%;
}
.person .main-content .carousel .carousel-box .carousel-content {
  width: 2000px;
  position: relative;
  left: 0;
  top: 0;
}
.person .main-content .carousel .carousel-box .carousel-content a.box {
  float: left;
  display: block;
}
.person .main-content .carousel .carousel-box .carousel-content a.box img {
  display: block;
  width: 100%;
}
.person .main-content .carousel .carousel-controller {
  text-align: center;
  margin-top: 10px;
}
.person .main-content .carousel .carousel-controller .control-btn.selected {
  border: 1px solid #101010;
}
.person .main-content .carousel .carousel-controller .control-btn {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid #D8D8D8;
}
.person .main-content .rank {
  background-color: #f2f2f2;
  position: relative;
  padding: 12px;
}
.person .main-content .rank .sign {
  width: 29px;
  height: 33px;
  position: absolute;
  right: 10px;
  top: 0;
  background: url("../images/person-sign.png") no-repeat center center transparent;
}
.person .main-content .rank .items:last-child {
  border: 0;
}
.person .main-content .rank .items {
  display: block;
  padding: 15px 0;
  background-repeat: no-repeat;
  background-position: left center;
  border-bottom: 1px solid #D8D8D8;
}
.person .main-content .rank .items:hover {
  background-color: #E2E1E1;
}
.person .main-content .rank .items .little-head {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2% 0 22%;
}
@media screen and (max-width: 1130px) {
  .person .main-content .rank .items .little-head {
    margin: 0 6% 0 22%;
    width: 60px;
    height: 60px;
  }
}
.person .main-content .rank .items .info {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8rem;
}
@media screen and (max-width: 1130px) {
  .person .main-content .rank .items .info {
    font-size: 1.5rem;
  }
}
.person .main-content .rank .items .info .name {
  color: #101010;
}
.person .main-content .rank .items .like {
  color: #909090;
  margin-top: 5px;
}
.person .main-content .rank .items .like .icon-like {
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 19px;
  padding-left: 22px;
  display: inline-block;
  font-size: 1.4rem;
}
.person .main-content .rank .items .like .like-btn {
  background-image: url("../images/person-like.png");
}
.person .main-content .rank .items .like .collect-btn {
  margin-left: 7px;
  background-image: url("../images/person-collect.png");
}
.person .main-content .rank .items:nth-child(2) {
  background-image: url("../images/person-one.png");
}
.person .main-content .rank .items:nth-child(3) {
  background-image: url("../images/person-two.png");
}
.person .main-content .rank .items:nth-child(4) {
  background-image: url("../images/person-three.png");
}
.person .main-content .rank .items:nth-child(5) {
  background-image: url("../images/person-four.png");
}
.person .main-content .rank .items:nth-child(6) {
  background-image: url("../images/person-five.png");
}
.person .show-more-btn {
  display: block;
  font-size: 1.6rem;
  color: #5F5F5F;
  text-align: center;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #D8D8D8;
  padding: 15px 0;
  margin: 40px 0;
  letter-spacing: 0.2rem;
}
.person .show-more-btn:hover {
  color: white;
  background-color: #378EEA;
  box-shadow: 0 2px 5px #B9B9B9;
  border-color: transparent !important;
}
.person .show-more-btn:active {
  color: white;
  background-color: #1679e2;
  box-shadow: 0 2px 5px #B9B9B9;
  border-color: transparent !important;
}
@media screen and (max-width: 1130px) {
  .person .show-more-btn {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 800px) {
  .person .show-more-btn {
    margin: 20px 0;
  }
}
.person .card-content .card-box {
  width: 47.5%;
  float: left;
  margin-bottom: 5%;
  background-color: #f2f2f2;
  padding: 30px 0;
  position: relative;
}
.person .card-content .card-box:nth-child(2n) {
  margin-left: 5%;
}
@media screen and (max-width: 800px) {
  .person .card-content .card-box {
    width: 100%;
    float: none;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid #D8D8D8;
    padding: 20px 0;
  }
  .person .card-content .card-box:first-child {
    padding-top: 0;
  }
  .person .card-content .card-box:first-child .follow {
    margin-top: -32px !important;
  }
  .person .card-content .card-box:nth-child(2n) {
    margin-left: 0;
  }
}
.person .card-content .card-box .title {
  font-size: 2rem;
}
.person .card-content .card-box .sub-title {
  font-size: 1.5rem;
  color: #616161;
  margin: 10px 0;
}
@media screen and (max-width: 800px) {
  .person .card-content .card-box .sub-title {
    display: none;
  }
}
.person .card-content .card-box .middle-head {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
@media screen and (max-width: 800px) {
  .person .card-content .card-box .middle-head {
    width: 25%;
  }
}
.person .card-content .card-box .middle-head img {
  width: 100%;
  padding: 0 15%;
}
@media screen and (max-width: 800px) {
  .person .card-content .card-box .middle-head img {
    padding: 0 5% 0 0;
  }
}
.person .card-content .card-box .info {
  width: 64%;
  padding-left: 6%;
  display: inline-block;
  vertical-align: middle;
  border-left: 2px solid #D8D8D8;
}
@media screen and (max-width: 800px) {
  .person .card-content .card-box .info {
    padding: 0;
    border: 0;
  }
}
.person .card-content .card-box .info .quote-box {
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 800px) {
  .person .card-content .card-box .info .quote-box {
    margin-bottom: 0;
  }
}
.person .card-content .card-box .info .icon-quote-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background: url("../images/person-icon-quote-left.png") no-repeat center center transparent;
}
@media screen and (max-width: 800px) {
  .person .card-content .card-box .info .icon-quote-left {
    display: none;
  }
}
.person .card-content .card-box .info .icon-quote-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background: url("../images/person-icon-quote-right.png") no-repeat center center transparent;
}
@media screen and (max-width: 800px) {
  .person .card-content .card-box .info .icon-quote-right {
    display: none;
  }
}
.person .card-content .card-box .info .quote-text {
  padding: 0 24px;
  text-align: center;
  color: #252525;
  font-size: 1.7rem;
}
@media screen and (max-width: 800px) {
  .person .card-content .card-box .info .quote-text {
    padding: 0;
  }
}
.person .card-content .card-box .info .follow {
  display: block;
  width: 130px;
  box-shadow: 0 0 2px #D8D8D8;
  background-color: #ffffff;
  text-align: center;
  padding: 4px 0;
}
@media screen and (max-width: 800px) {
  .person .card-content .card-box .info .follow {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -16px;
    width: 100px;
  }
}
.person .card-content .card-box .info .follow span {
  color: #252525;
  font-size: 1.6rem;
  padding-left: 10px;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
}
.person .card-content .card-box .info .follow .follow-icon {
  background-repeat: no-repeat;
  background-position: center center;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}
.person .card-content .card-box .info .follow .add-icon {
  background-image: url("../images/person-icon-add.png");
}
.person .card-content .card-box .info .follow .added-icon {
  background-image: url("../images/person-icon-added.png");
}
.person .card-content .card-box .info .follow .change-icon {
  background-image: url("../images/person-icon-change.png");
}
.person .letter-content .letter-item {
  padding: 25px 0;
  border-bottom: 1px solid #D8D8D8;
}
.person .letter-content .letter-item:nth-child(1) {
  padding-top: 0;
}
.person .letter-content .letter-item .letter-head {
  width: 10%;
  float: left;
  text-align: center;
}
.person .letter-content .letter-item .letter-head img {
  display: inline-block;
  width: 90%;
}
.person .letter-content .letter-item .title {
  font-size: 1.8rem;
}
.person .letter-content .letter-item .sub-title {
  padding: 15px 0 20px;
  font-size: 1.7rem;
  color: #616161;
}
.person .letter-content .letter-item .letter-control-box {
  font-size: 1.5rem;
}
.person .letter-content .letter-item .letter-control-box .reply {
  display: inline-block;
  cursor: pointer;
  color: #B1B1B1;
}
.person .letter-content .letter-item .letter-control-box .reply span {
  vertical-align: middle;
}
.person .letter-content .letter-item .letter-control-box .reply .reply-btn {
  vertical-align: middle;
  display: inline-block;
  width: 28px;
  height: 19px;
  opacity: 0.4;
  background: url("../images/person-reply.png") no-repeat center center transparent;
}
.person .letter-content .letter-item .letter-control-box .reply-btn-selected {
  color: #636363;
}
.person .letter-content .letter-item .letter-control-box .reply-btn-selected .reply-btn {
  opacity: 1;
}
.person .letter-content .letter-item .letter-control-box .letter-clear {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
  color: #B1B1B1;
}
.person .letter-content .letter-item .letter-control-box .letter-readed {
  display: inline-block;
  vertical-align: middle;
  color: #B1B1B1;
}
.person .letter-content .letter-item .letter-control-box .letter-time {
  font-size: 1.6rem;
  float: right;
  display: inline-block;
  vertical-align: middle;
  color: #B1B1B1;
}
.person .letter-content .letter-item .reply-box {
  display: none;
  font-size: 1.6rem;
  position: relative;
  margin-top: 15px;
}
.person .letter-content .letter-item .reply-box textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #9b9b9b;
  min-height: 120px;
  display: block;
}
.person .letter-content .letter-item .reply-box .reply-submit {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 3px 15px;
  color: white;
  background-color: #9b9b9b;
}
.person .letter-content .letter-item .letter-info {
  width: 87%;
  margin-left: 2%;
  float: left;
}
.person .letter-content .time-comment {
  font-size: 1.6rem;
  text-align: right;
  color: #B1B1B1;
  padding-top: 15px;
}
@media screen and (max-width: 1130px) {
  .person .letter-content .time-comment {
    font-size: 1.4rem;
  }
}
.person .letter-content .letter-comment-item {
  background-color: #E0DFE0;
  padding: 15px 0;
  font-size: 1.7rem;
  position: relative;
}
.person .letter-content .letter-comment-item .figure {
  float: left;
  width: 25%;
  position: relative;
  margin-left: 5%;
}
.person .letter-content .letter-comment-item .figure img {
  width: 100%;
}
.person .letter-content .letter-comment-item .info {
  width: 60%;
  float: right;
  margin-right: 5%;
}
.person .letter-content .letter-comment-item .title-comment {
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .person .letter-content .letter-comment-item .title-comment {
    font-size: 1.8rem;
  }
}
.person .letter-content .letter-comment-item .sub-title-comment {
  font-size: 1.8rem;
  max-height: 125px;
  margin-top: 7%;
  color: #5F5F5F;
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .person .letter-content .letter-comment-item .sub-title-comment {
    font-size: 1.6rem;
    max-height: 110px;
    margin-top: 3%;
  }
}
.person .letter-content .letter-comment-item .extra {
  width: 45%;
  position: absolute;
  right: 5%;
  bottom: 15%;
}
.person .letter-content .letter-comment-item .comment {
  font-size: 1.5rem;
  float: right;
  background-color: #E0DFE0;
}
@media screen and (max-width: 800px) {
  .person .letter-content .letter-comment-item .comment {
    display: none;
  }
}
.person .letter-content .letter-comment-item .comment .comment-btn {
  display: inline-block;
  padding-left: 26px;
  height: 23px;
  color: white;
  line-height: 23px;
  background-repeat: no-repeat;
  background-position: left center;
}
.person .letter-content .letter-comment-item .comment .comment-icon {
  margin-right: 20px;
  background-image: url("../images/person-comment-white.png");
}
.person .letter-content .letter-comment-item .comment .love-icon {
  background-image: url("../images/person-love-white.png");
}
.person #messageWrap {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
}
.person #messageWrap .placeholder {
  float: left;
  font-size: 1.6rem;
  color: #B1B1B1;
  margin-left: 2px;
}
.person #messageWrap .close {
  cursor: pointer;
  float: right;
  font-size: 2rem;
}
.person #messageWrap .white-box {
  padding: 0.6rem 1rem;
  background-color: white;
}
.person #messageWrap .box {
  width: 700px;
  margin: 0 auto;
}
.person #messageWrap .message-box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.person #messageWrap textarea {
  resize: vertical;
  margin-top: 5px;
  font-size: 1.8rem;
  color: #101010;
  width: 100%;
  min-height: 200px;
  display: block;
  border: none;
}
.person #messageWrap textarea:focus {
  outline: none;
}
.person #messageWrap .register {
  text-align: right;
  font-size: 1.8rem;
  color: #D0D0D0;
  letter-spacing: 0.18rem;
  margin-top: 10px;
}
.person #messageWrap .register-btn {
  color: white;
  margin: 0 20px 0 5px;
}
.person #messageWrap .register-btn:hover {
  color: #378EEA;
}
.person #messageWrap .send-message-btn {
  color: white;
  background-color: #378EEA;
  padding: 2px 20px;
  border: none;
}
.person #messageWrap .send-message-btn:hover {
  background-color: #1679e2;
}
.videoList_tit {
  margin: 30px 0 -30px 0;
  font-size: 19px;
  color: #4a4a4a;
}
.has-abs-info {
  position: relative;
}
.has-abs-info .ins {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.3);
}
.has-abs-info .content {
  overflow: hidden;
  padding: 16px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.has-abs-info .avatar {
  float: left;
  color: #fff;
}
.has-abs-info .info {
  padding-top: 5px;
  float: right;
  color: #fff;
}
.has-abs-info .info a {
  color: #fff;
}
.has-abs-info .info img {
  width: 16px;
  margin: 0 4px;
  position: relative;
  margin-top: -2px;
}
.has-abs-info .title {
  margin-bottom: 16px;
  height: 62px;
  overflow: hidden;
  font-size: 22px;
  color: #fff;
}
@media screen and (max-width: 800px) {
  .has-abs-info .title {
    font-size: 14px;
  }
}
.has-abs-info .time {
  color: #fff;
  font-size: 13px;
}
.has-abs-info:hover .ins {
  display: block;
}
.md .title a {
  height: 40px!important;
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.md .avatar {
  display: none;
}
.row_left_fill {
  float: left;
  width: 667px;
  height: 375px;
  background: none;
}
.row_left_fill img {
  height: 100%;
  width: 100%;
}
.row_left_fill .swiper-xj1 {
  height: 251px;
}
.row_left_fill .swiper-xj1 .has-abs-info .ins {
  display: block;
}
.row_left_fill .swiper-xj1 .has-abs-info .ins .title a {
  display: block;
  height: 22px;
  overflow: hidden;
}
.row_left_fill .swiper-xj1 .content {
  left: 10%;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.row_left_fill .swiper-xj1 .content .title {
  margin-bottom: 4px;
}
.row_right_fill {
  float: left;
  width: 333px;
  height: 375px;
  background: none;
  overflow: hidden;
}
.row_right_fill img {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .row_right_fill {
    height: auto !important;
  }
}
.txt_lists {
  padding: 0 15px;
}
.txt_lists.bg_black {
  background-color: #181818;
  color: #fff;
}
.txt_lists .list {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.txt_lists .list a {
  display: block;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
}
.txt_lists .list .tit {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 0;
  height: 34px;
  text-align: left;
}
.txt_lists .list .time {
  float: right;
  margin-top: 3px;
  color: white;
}
.txt_lists .list a:hover {
  opacity: 1;
}
.txt_lists .list:last-child {
  border-bottom: 0;
}
.mdi-play:before {
  content: "\F40A";
}
.videobox.lg {
  height: 100%;
}
.videobox.lg .image {
  height: 100%;
}
@media screen and (max-width: 800px) {
  .videobox.lg .title {
    margin-bottom: 0;
  }
  .videobox.lg .title a {
    height: 40px!important;
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .videobox.lg .content {
    padding: 5px 16px;
  }
}
.videobox.md .content {
  padding: 5px 16px;
}
.videobox.md .title {
  margin-bottom: 0;
  font-size: 14px;
}
.videobox.md .mdi {
  display: none;
}
.videobox .image {
  position: relative;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.videobox .image i {
  font-size: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  line-height: 46px;
  margin: auto;
  cursor: pointer;
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -69.5px;
}
@media screen and (max-width: 800px) {
  .videobox .image i {
    display: none !important;
    margin-top: -25px;
  }
}
.videobox .image:hover .zt_img img {
  -ms-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
}
.zt_img {
  position: relative;
  height: 100%;
}
.zt_img img {
  display: block;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
/*图片点击放大*/
.fix-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.fix-cover .lgimgbox {
  text-align: center;
}
.fix-cover .lgimgbox .imgbox {
  display: inline-block;
  width: 70%;
  margin-top: 100px;
  position: relative;
}
.fix-cover .lgimgbox .imgbox img {
  width: 100%;
}
.fix-cover .lgimgbox .imgbox .imgnote {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 4px;
  right: 4px;
  width: 40px;
  padding: 3px 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}
.fix-cover .lgimgbox .imgbox .imgnote .mdi {
  font-size: 13px;
  margin-left: 3px;
}
.icon-close-circle-outline .icon-close-circle-outline:before {
  content: "\f15a";
}
.contentbox {
  overflow: hidden;
  background-color: #fafafa;
}
.contentbox .my-container {
  position: relative;
}
.contentbox .fix-ad-left {
  position: absolute;
  top: 0;
  left: -200px;
  text-align: right;
}
.contentbox .fix-ad-left img {
  width: 200px;
}
.contentbox .fix-ad-right {
  position: absolute;
  top: 0;
  right: -200px;
}
.contentbox .fix-ad-right img {
  width: 200px;
}
.indexnewlists .news-list {
  margin: 0 -20px;
}
.indexnewlists .news-list .maskimg2 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
}
@media screen and (max-width: 1000px) {
  .my-container {
    box-sizing: border-box;
  }
  .my-container table {
    width: 100% !important;
  }
  .search-result {
    padding: 0 18px;
  }
  .row_left_fill {
    float: none;
    display: block;
    width: 100%;
    background: none;
    height: auto !important;
  }
  .row_right_fill {
    float: none;
    width: 100%;
    background: none;
    height: auto !important;
  }
  .row_right_fill .videobox.md {
    width: 50%;
    float: left;
  }
}
@media screen and (max-width: 767px) {
  .news-list .news-item {
    padding: 0 10px;
    width: 100%;
  }
  .news-list .news-item-inner {
    height: auto !important;
  }
  .zt_img2 img {
    height: 100%;
  }
}
.special-page .banner {
  font-size: 3rem;
  color: white;
  text-shadow: 1px 2px 5px black;
  position: relative;
}
.special-page .banner img {
  width: 100%;
}
.special-page .banner div {
  position: absolute;
  left: 50%;
  top: 48%;
  width: 1000px;
  margin-left: -500px;
  margin-top: -35px;
  z-index: 2;
  font-size: 50px;
}
@media screen and (max-width: 800px) {
  .special-page .banner div {
    margin-top: -10px;
    font-size: 25px;
  }
}
.special-page .main-content-wrap {
  width: 1000px;
  margin: 0 auto;
}
.special-page .main-content-box .box {
  float: left;
  width: 47.5%;
  margin-right: 5%;
  margin-top: 80px;
}
.special-page .main-content-box .box:nth-child(2n) {
  margin-right: 0;
}
.special-page .main-content-box .box img {
  width: 100%;
}
.special-page .main-content-box .box h1 {
  color: #101010;
  font-size: 2rem;
  margin: 20px 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.special-page .main-content-box .box .des {
  color: #6F6F6F;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 10px;
  height: 50px;
  overflow: hidden;
}
.special-page .main-content-box .box .time {
  color: #969696;
  font-size: 1.4rem;
}
.foot-bar .mobile-footer {
  padding: 20px 0;
  text-align: center;
  color: #BDBDBD;
  font-size: 1.2rem;
}
@media screen and (max-width: 800px) {
  .foot-bar .mobile-footer {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .foot-bar .inner-box {
    display: none;
  }
}
/*XJ*/
.picBtnTop .has-abs-info .content {
  left: 10%;
  right: 10%;
  bottom: auto;
  top: 56%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.picBtnTop .has-abs-info .title {
  margin-bottom: 15px;
}
.picBtnTop .has-abs-info .title a {
  height: 60px;
  overflow: hidden;
  display: block;
  line-height: 30px;
}
.xbox {
  position: relative;
}
.xbox .row_right_fill {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.xbox .row_right_fill .videobox.md {
  height: 50%;
}
.xbox .row_right_fill .videobox.md .image,
.xbox .row_right_fill .videobox.md .zt_img {
  height: 100%;
}
.xbox .row_right_fill .videobox.md .image a,
.xbox .row_right_fill .videobox.md .zt_img a,
.xbox .row_right_fill .videobox.md .image img,
.xbox .row_right_fill .videobox.md .zt_img img {
  height: 100%;
  display: block;
}
/* 焦点图效果 */
.picBtnTop {
  height: 251px;
  position: relative;
  overflow: hidden;
  zoom: 1;
}
.picBtnTop .hd {
  width: 28.99%;
  height: 251px;
  position: absolute;
  right: 0;
  overflow: hidden;
}
.picBtnTop .hd ul li {
  width: 100%;
  text-align: center;
  height: 83px;
  font-size: 13px;
}
.picBtnTop .hd ul li.on {
  color: #fff;
}
.picBtnTop .hd ul li.on img {
  border-color: #f60;
}
.picBtnTop .bd {
  width: 71%;
  height: 251px;
  position: relative;
}
.picBtnTop .tempWrap,
.picBtnTop .tempWrap ul,
.picBtnTop .tempWrap ul li,
.picBtnTop .bd li .pic {
  height: 100%;
}
.picBtnTop .bd li {
  position: relative;
  zoom: 1;
  vertical-align: middle;
}
.picBtnTop .bd li .pic {
  position: relative;
  z-index: 0;
}
.picBtnTop .bd li .pic img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
@media screen and (max-width: 640px) {
  .fix-cover .lgimgbox .imgbox {
    width: 96%;
  }
  .swiper-xj2 .swiper-button-next,
  .swiper-xj2 .swiper-button-prev {
    display: none;
  }
  .swiper-xj2 .swiper-pagination {
    bottom: 0;
  }
  .swiper-xj2 .swiper-pagination .swiper-pagination-bullet {
    background-color: #fff;
  }
  .swiper-xj2 .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
  }
  .xbox,
  .xbox .row_right_fill {
    position: inherit;
  }
  .xbox .row_right_fill .videobox.md {
    width: 100%;
    height: inherit;
  }
  .videobox.lg,
  .videobox.md:first-child {
    margin-bottom: 20px;
  }
  .videobox.lg .avatar,
  .videobox.md:first-child .avatar {
    display: none;
  }
  #demo12 {
    display: none;
  }
  p.nor_gray_tit,
  .videoList_tit {
    text-align: center;
    position: relative;
  }
  p.nor_gray_tit:before,
  .videoList_tit:before {
    content: "";
    display: block;
    overflow: hidden;
    width: 34%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
  }
  p.nor_gray_tit:after,
  .videoList_tit:after {
    content: "";
    display: block;
    overflow: hidden;
    width: 34%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    right: 0;
  }
}
@media screen and (min-width: 640px) {
  .swiper-xj3 {
    display: none;
  }
}
.person.original-submission .thumbnail-article {
  margin-top: 15px;
  padding: 5px 10px;
}
.person.original-submission .thumbnail-article .thumbnail-btn {
  position: relative;
}
.person.original-submission .thumbnail-article input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}
.person.original-submission .content-hidden {
  opacity: 0;
  height: 0;
}
.person.original-submission .form-group {
  margin-bottom: 10px;
  *zoom: 1;
}
.person.original-submission .form-group:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
.person.original-submission .bottom-row {
  border-bottom: 1px dashed #eee;
  margin-bottom: 20px;
}
body {
  padding-top: 65px !important;
}
@media screen and (max-width: 1130px) {
  body {
    padding-top: 0 !important;
  }
}
._index-swiper .swiper-slide-prev .title,
._index-swiper .swiper-slide-next .title {
  font-size: 0;
}
._index-swiper .swiper-slide-prev .avatar,
._index-swiper .swiper-slide-next .avatar {
  display: none;
}
.mark__ {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: #000;
  z-index: 9;
  left: 0;
  top: 0;
}
@media screen and (max-width: 800px) {
  .mark__ {
    z-index: 7;
  }
}
@media screen and (max-width: 800px) {
  .swiper-xj2 .has-abs-info {
    height: 200px;
  }
}

/*# sourceMappingURL=../sourcemaps/css/index.css.map */
