@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}
.gallery-caption {
  display: block;
}
.site-header {
  text-align: center;
  background-color: #FFF;
  padding-top: 0px;
  padding-bottom: 0px;
}
.site-header > .site-logo {
  position: relative;
  top: 0;
  height: 100px;
}
.site-header .site-logo > a > img {
  position: absolute;
  top: 41px;
  left: 50%;
  margin-left: -65px;
}
.site-menu.container {
  z-index: 99999;
  margin: 0 auto;
  height: 50px;
  width: 100%;
  padding-top: 15px;
  background-color: #FFF;
}
.site-menu.container.absolute {
  position: absolute;
  top: auto;
}
.site-menu.container.fixed {
  position: fixed;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.98);
}
#site-navigation {
  position: relative;
  margin: 0 auto;
  width: 570px;
}
.site-navigation-mobile {
  position: absolute;
  height: 0%;
  overflow: hidden;
  display: none;
}
.site-menu-mobile {
  display: none;
}
.site-header > .container > .search-area {
  position: absolute;
  top: 12px;
  left: 80px;
  width: 176px;
  height: 24px;
}
.site-header > .container > .search-area > .bg-search {
  width: 176px;
  height: 24px;
  border: 0px solid #979797;
  box-shadow: 0px 0px 12px 0px rgba(216, 216, 216, 0.3);
  border-radius: 40px;
  display: none;
}
.site-header > .container > .search-area > .icon-search {
  position: absolute;
  top: 3px;
  left: 9px;
  height: 18px;
  width: 18px;
  background-image: url(../../images/icon_header_search@2x.png);
  background-size: contain;
  z-index: 1;
}
.site-header > .container > .search-area > .mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
}
#searchform {
  width: 150px;
}
#searchform > #searchsubmit {
  float: left;
}
#searchform > input[type="text"] {
  float: left;
  width: 900px;
  margin-left: 20px;
  margin-top: -2px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
  color: #D8D8D8;
  border: none;
  outline: none;
  display: none;
}
#searchform > input[type="text"]:focus,
#searchform > input[type="text"].focus {
  font-size: 24px;
  margin-top: -9px;
  color: #3C3A4A;
  font-style: normal;
  border: none;
  outline: none;
}
.site-header > .container > .btn-search {
  background: #76E6FF;
  border-radius: 40px;
  font-size: 14px;
  color: #3C3A4A;
  line-height: 24px;
  position: absolute;
  top: 13px;
  right: 90px;
  height: 24px;
  width: 128px;
  cursor: pointer;
  text-align: center;
  display: none;
}
.site-header > .container > .btn-followus {
  background: rgba(248, 231, 28, 0.6);
  border-radius: 40px;
  font-size: 14px;
  color: #3C3A4A;
  line-height: 24px;
  position: absolute;
  top: 13px;
  right: 90px;
  height: 24px;
  width: 128px;
  cursor: pointer;
  text-align: right;
}
.site-header > .container > .btn-followus:hover {
  background: #F8E71C;
  color: #3C3A4A;
}
.site-header > .container > .btn-followus:active {
  background: #E4BF57;
  color: #3C3A4A;
}
.site-header > .container > .btn-followus span.text:after {
  font-family: FontAwesome;
  content: '\f0d7';
  margin-left: 23px;
  margin-right: 15px;
  opacity: 0.4;
  color: #B65915;
}
.site-header > .container > .btn-followus span.text {
  display: block;
}
.site-header > .container > .btn-followus span.close {
  display: none;
}
.site-header > .container > .btn-followus.on {
  background: #DA4343;
  color: #FFF;
}
.site-header > .container > .btn-followus.on:hover {
  background: #FF5353;
  color: #FFF;
}
.site-header > .container > .btn-followus.on:active {
  background: #9A3131;
  color: #FFF;
}
.site-header > .container > .btn-followus.on span.close:after {
  font-family: FontAwesome;
  content: '\f0d8';
  margin-left: 29px;
  margin-right: 15px;
  opacity: 0.4;
  color: #FFF;
}
.site-header > .container > .btn-followus.on span.text {
  display: none;
}
.site-header > .container > .btn-followus.on span.close {
  display: block;
}
.site-followus {
  position: fixed;
  height: 0px;
  width: 100%;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 9999;
}
.site-followus-title {
  position: relative;
  text-align: center;
  top: 23px;
  font-style: italic;
  font-size: 28px;
  line-height: 36px;
  color: #F8F8F8;
}
.site-sns-icons {
  position: relative;
  margin: 0px auto;
  margin: 100px auto 0 auto;
}
.site-sns-icons > a,
.site-sns-icons > div {
  float: left;
  height: 210px;
  width: 210px;
  text-align: center;
  cursor: pointer;
}
.site-sns-icons .icon {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
  height: 113px;
  width: 113px;
  border-radius: 0%;
  border: 5px solid rgba(0, 0, 0, 0);
}
.site-sns-icons > a:hover .icon,
.site-sns-icons > div:hover .icon {
  background-color: #DEF7FC;
}
.site-sns-icons .btn-wechat .icon {
  background-image: url(../../images/wxicon.png);
}
.site-sns-icons .btn-facebook .icon {
  background-image: url(../../images/weiboicon.png);
}
.site-sns-icons .btn-weibo .icon {
  background-image: url(../../images/imageicon.png);
}
.site-sns-icons .btn-instagram .icon {
  background-image: url(../../images/mailicon.png);
}
.site-sns-icons .btn-email .icon {
  background-image: url(../../images/rrsicon.png);
}
.site-sns-icons .btn-rss .icon {
  background-image: url(../../images/icon_sns_rss.png);
}
.site-sns-icons .btn-wechat .qrcode {
  position: absolute;
  top: 0;
  left: 42px;
  width: 129px;
  height: 129px;
  background: url(../../images/wxqrcode.png);
  background-size: contain;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  display: none;
}
.site-sns-icons .btn-wechat.on .qrcode {
  display: block;
  opacity: 1;
}
.site-sns-icons .btn-wechat .qrcode img {
  display: none;
}
.site-sns-icons .btn-wechat .btn-qrcode {
  position: relative;
  margin: 15px auto 0px auto;
  width: 80px;
  height: 24px;
  background: rgba(238, 237, 237, 0.3) url(../../images/btn_header_wechat_qrcode@2x.png) no-repeat center;
  background-size: 16px 16px;
  border-radius: 40px;
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.site-sns-icons .btn-wechat.on .btn-qrcode {
  background-color: #FFF;
}
.site-sns-icons .title {
  position: relative;
  margin-top: 22px;
  font-size: 16px;
  color: #F2F2F2;
}
.site-sns-icons .sub-title {
  position: relative;
  font-size: 14px;
  font-weight: lighter;
  line-height: 16px;
  color: #999;
}
.site-followus .btn-close {
  position: absolute;
  top: 30px;
  right: 145px;
  height: 21px;
  width: 21px;
  cursor: pointer;
}
.site-followus .btn-close:before,
.site-followus .btn-close:after {
  position: absolute;
  left: 11px;
  content: ' ';
  height: 21px;
  width: 3px;
  background-color: #201E2B;
}
.site-followus .btn-close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.site-followus .btn-close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#featuredGallery {
  position: relative;
}
#featuredGallery .container {
  position: relative;
  width: 100%;
  height: 430px;
  overflow-x: scroll;
  overflow-y: hidden;
}
@media only screen and (min-width: 1024px) and (max-width: 1260px) {
  #searchform > input[type="text"] {
    width: 700px;
  }
  .site-header > .container > .search-area {
    left: 50%;
    margin-left: -475px;
  }
  .site-header > .container > .btn-followus {
    right: 50%;
    margin-right: -475px;
  }
  .site-sns-icons > a,
  .site-sns-icons > div {
    width: 157px;
  }
  .site-sns-icons .btn-wechat .qrcode {
    left: 16px;
  }
  .span1 {
    width: 950px;
  }
  .sectionAds .span1,
  .span1.sectionPost {
    width: 980px;
    left: 15px;
  }
  .span2 {
    width: 460px;
  }
  .span3 {
    width: 296px;
  }
  .span4 {
    width: 214px;
  }
  .span6 {
    width: 214px;
  }
  .adsItem,
  .postItem {
    margin-right: 30px;
  }
  .postItem {
    margin-bottom: 65px;
  }
  .postItem .postTitle {
    margin-top: 20px;
  }
  .postItem.span2 {
    min-height: 470px;
  }
  .postItem.span3 {
    min-height: 360px;
  }
  .postItem.span4 {
    min-height: 170px;
    margin-right: 31px;
  }
  .postItem.span2 .postImg {
    height: 296px;
  }
  .postItem.span3 .postImg {
    height: 192px;
  }
  .postItem.span4 .postImg {
    height: 144px;
  }
  .postItem.span6 .postImg {
    display: block;
    float: none;
    height: 144px;
  }
  #monthlyPopular .postItem.span6:nth-child(4) {
    margin-right: 0px;
  }
  #monthlyPopular .postItem.span6:nth-child(n+5) {
    display: none;
  }
  .sectionAds {
    padding: 30px 0px;
  }
  .postAds .adsImg {
    width: 296px;
    height: 242px;
  }
  .single-post .entry-header .lazyBG,
  .single-post .entry-header .featured-image,
  .single-post .entry-content {
    width: 952px;
  }
  .single-post .entry-content > p {
    width: 790px;
  }
  .text-layout-1:before,
  .text-layout-2:before,
  .text-layout-3:before,
  .text-layout-4:before,
  .text-layout-5:before,
  .text-layout-6:before,
  .text-layout-7:before,
  .text-layout-8:before,
  .text-layout-9:before,
  .text-layout-10:before {
    margin-left: -104px;
  }
  .text-layout-0,
  .text-layout-1,
  .text-layout-2,
  .text-layout-3,
  .text-layout-4,
  .text-layout-5,
  .text-layout-6,
  .text-layout-7,
  .text-layout-8,
  .text-layout-9,
  .text-layout-10,
  .single-post .entry-header > .entry-meta,
  .single-post .entry-footer > .tags-links {
    width: 790px;
  }
  .single-post .entry-header > .entry-meta {
    margin: 21px auto 40px auto;
  }
  .single-post .entry-meta > .tags-links {
    margin-top: 30px;
  }
  .quota-layout .quote {
    width: 900px;
  }
  .quota-layout .quote .text {
    padding: 0 20px;
  }
  .entry-footer > .footer-share {
    margin: 14px auto 4px auto;
  }
  #dailyQuote {
    margin: 75px auto;
  }
  #dailyQuote .quote {
    width: 706px;
    left: 83px;
    margin-top: 19px;
  }
  #dailyQuote .quote .text {
    padding: 0 32px;
    font-size: 24px;
  }
  #dailyQuote .calendar {
    width: 81px;
    height: 115px;
    margin-right: 25px;
  }
  #dailyQuote .calendar .month {
    font-size: 18px;
    letter-spacing: 0.9px;
    line-height: 22px;
  }
  #dailyQuote .calendar .day {
    font-size: 40px;
    line-height: 48px;
  }
  #videoPosts {
    padding: 26px 0 50px 0;
  }
  #videoPosts > .sectionHeader {
    padding-bottom: 8px;
  }
  #videoPosts .cycle-slideshow {
    width: 624px;
  }
  #videoPosts .videoItem {
    height: 405px;
  }
  #videoPosts .videoList {
    width: 296px;
    max-height: 405px;
    overflow: scroll;
    margin-right: 28px;
  }
  #videoPosts .videoItem .overlay .videoTitle {
    color: #F8F8F8;
    font-size: 18px;
    width: 440px;
  }
  #videoPosts .videoItem .overlay {
    height: 44px;
    padding: 14px 7px 9px 12px;
  }
  #videoPosts .videoItem .overlay .btnShare {
    margin-top: -4px;
  }
  #videoPosts .videoItem .overlay .videoShare {
    margin-top: -3px;
    left: 235px;
  }
  #videoPosts .videoItem .overlay .videoShare .btn-facebook,
  #videoPosts .videoItem .overlay .videoShare .btn-weibo,
  #videoPosts .videoItem .overlay .videoShare .btn-pinterest,
  #videoPosts .videoItem .overlay .videoShare .btn-email {
    width: 25px;
    height: 25px;
  }
  .videoListItem {
    padding: 18px 20px;
  }
  .videoListItem > .videoTitle {
    width: 225px;
    line-height: 21px;
  }
  .videoListItem > .icon-play {
    margin-top: 16px;
  }
  .sectionHeader {
    padding-bottom: 7px;
  }
  #voicerTeam {
    margin-top: 22px;
  }
  .memberItem {
    margin-right: 30px;
  }
}
@media only screen and (max-width: 1023px) {
  .site-header {
    padding-top: 0px;
    padding-bottom: 0;
  }
  .site-header .site-logo {
    display: none;
  }
  .site-menu {
    display: none;
  }
  .site-menu-mobile {
    position: fixed;
    display: block;
    top: 10px;
    height: 60px;
    width: 100%;
    background-color: #FFF;
    z-index: 999;
  }
  .site-menu-mobile > .site-logo {
    margin-left: -23px;
    display: block;
  }
  .site-navigation-mobile > .navigation-bar > .site-logo > a > img,
  .site-menu-mobile > .site-logo > a > img {
    margin-left: -54px;
    top: 11px;
  }
  .site-menu-mobile > .btn-menu {
    position: absolute;
    top: 17px;
    left: 28px;
    height: 22px;
    width: 22px;
    cursor: pointer;
    z-index: 9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .site-menu-mobile > .btn-menu > span {
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: block;
    margin: 4px 0;
    height: 3px;
    background: #3C3A4A;
  }
  .site-menu-mobile > .btn-menu > span:nth-child(3) {
    margin-top: -7px;
  }
  .site-menu-mobile > .btn-menu.on > span:nth-child(1) {
    -webkit-transform: scale(0) translateY(7px);
    -ms-transform: scale(0) translateY(7px);
    -o-transform: scale(0) translateY(7px);
    transform: scale(0) translateY(7px);
  }
  .site-menu-mobile > .btn-menu.on > span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .site-menu-mobile > .btn-menu.on > span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .site-menu-mobile > .btn-menu.on > span:nth-child(4) {
    -webkit-transform: scale(0) translateY(-7px);
    -ms-transform: scale(0) translateY(-7px);
    -o-transform: scale(0) translateY(-7px);
    transform: scale(0) translateY(-7px);
  }
  .site-navigation-mobile {
    position: fixed;
    top: 10px;
    height: 100%;
    width: 100%;
    background-color: #D8E8E8;
    z-index: 9999;
    padding: 0 28px;
    text-align: left;
  }
  .site-navigation-mobile .popup-search {
    position: absolute;
    background-color: #FEFEFE;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 28px;
    z-index: 10;
    display: none;
  }
  .site-navigation-mobile > .popup-search > .navigation-bar,
  .site-navigation-mobile > .navigation-bar {
    position: relative;
    height: 60px;
    width: 100%;
    border-bottom: 1px dashed #979797;
  }
  .site-navigation-mobile > .popup-search > .navigation-bar {
    border-bottom: 0;
  }
  .site-navigation-mobile .navigation-bar .site-logo {
    display: block;
  }
  .site-navigation-mobile .popup-search .btn-close,
  .site-navigation-mobile > .navigation-bar > .btn-close {
    position: absolute;
    top: 17px;
    left: 10px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 10;
  }
  .site-navigation-mobile .popup-search .btn-close:before,
  .site-navigation-mobile .popup-search .btn-close:after,
  .site-navigation-mobile > .navigation-bar > .btn-close:before,
  .site-navigation-mobile > .navigation-bar > .btn-close:after {
    position: absolute;
    content: ' ';
    height: 24px;
    width: 3px;
    background-color: #3C3A4A;
  }
  .site-navigation-mobile .popup-search .btn-close:before,
  .site-navigation-mobile > .navigation-bar > .btn-close:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .site-navigation-mobile .popup-search .btn-close:after,
  .site-navigation-mobile > .navigation-bar > .btn-close:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .site-navigation-mobile > .navigation-bar > .icon-search {
    background: url(../../images/icon_header_search.png) no-repeat;
    position: absolute;
    top: 21px;
    right: 0px;
    height: 18px;
    width: 18px;
    cursor: pointer;
  }
  .site-navigation-mobile #searchform-mobile {
    width: 92%;
    height: 66px;
    top: 42%;
    position: absolute;
  }
  .site-navigation-mobile #searchform-mobile > input[type="text"] {
    float: left;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-style: italic;
    color: #D8D8D8;
    border: none;
    border-radius: 0;
    border-bottom: 1px #979797 solid;
    outline: none;
    display: block;
    font-size: 28px;
    color: #B7BFBF;
    padding-bottom: 16px;
  }
  .site-navigation-mobile #searchform-mobile > .icon-search {
    background: url(../../images/icon_header_search@2x.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 14px;
    right: 0px;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }
  .site-navigation-mobile ul,
  .site-navigation-mobile li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .site-navigation-mobile > div > ul > li {
    margin-top: 55px;
    font-size: 18px;
    clear: both;
  }
  .site-navigation-mobile > div > ul > li > a {
    margin-left: 60px;
  }
  .site-navigation-mobile .sub-menu {
    display: inline-block;
    padding-bottom: 64px;
    width: 100%;
    border-bottom: 1px dashed #979797;
  }
  .site-navigation-mobile .other {
    margin-top: 55px;
    border-top: 1px dashed #979797;
  }
  .site-navigation-mobile .other > .menu-other {
    margin-top: 20px;
  }
  .site-navigation-mobile ul > li > ul > li > a {
    float: left;
    width: 175px;
    margin-left: 60px;
    margin-top: 38px;
    font-weight: lighter;
    font-size: 14px;
    color: #87868F;
  }
  .site-navigation-mobile ul > ul {
    margin: 0;
    padding: 0;
  }
  .site-navigation-mobile > .footer {
    position: fixed;
    bottom: 0;
    padding: 23px 0;
    border-top: 1px dashed #979797;
    width: 92%;
  }
  .site-navigation-mobile > .footer .icp {
    margin-left: 60px;
    font-size: 12px;
    color: #878788;
    line-height: 20px;
    font-family: "SF UI Text", Helvetica, Arial, "PingFang SC", "Source Han Sans SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  }
  .site-followus {
    height: 10px !important;
  }
  .site-menu-mobile > .btn-followus {
    position: absolute;
    top: 16px;
    right: 28px;
    height: 28px;
    width: 92px;
    cursor: pointer;
    z-index: 9;
    background: #F8E71C;
    border-radius: 40px;
    font-size: 14px;
    color: #3C3A4A;
    line-height: 28px;
  }
  .site-menu-mobile > .btn-followus:hover {
    background: #F8E71C;
    color: #3C3A4A;
  }
  .site-menu-mobile > .btn-followus:active {
    background: #E4BF57;
    color: #3C3A4A;
  }
  .site-followus .btn-close {
    position: absolute;
    top: 27px;
    right: 28px;
    height: 25px;
    width: 25px;
  }
  .site-followus .btn-close:before,
  .site-followus .btn-close:after {
    left: 10px;
    height: 28px;
    width: 4px;
  }
  .site-followus.popup {
    height: 100% !important;
    width: 100%;
    z-index: 9999;
  }
  .site-sns-icons {
    margin-top: 150px;
    padding-left: 40px;
  }
  .site-sns-icons > a,
  .site-sns-icons > div {
    height: 310px;
    width: 212px;
  }
  .site-sns-icons .btn-wechat .btn-qrcode {
    height: 44px;
    margin-top: 30px;
    opacity: 0.3;
    border-radius: 40px;
    background-size: 27px 28px;
  }
  .site-sns-icons .btn-wechat .qrcode {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.82);
    background-size: 390px 411px;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  .site-sns-icons .btn-wechat .qrcode img {
    position: absolute;
    width: 390px;
    height: 411px;
    top: 50%;
    left: 50%;
    margin-top: -205px;
    margin-left: -195px;
    display: block;
  }
  .span1 {
    width: 712px;
  }
  .sectionAds .span1,
  .span1.sectionPost {
    width: 732px;
    left: 5px;
  }
  .span2,
  .span3 {
    width: 346px;
  }
  .span2:nth-child(2n),
  .span3:nth-child(2n) {
    margin-right: 0;
  }
  .span3:nth-child(n+5) {
    display: none;
  }
  #moreInspiration .span3:nth-child(n+5) {
    display: block;
  }
  .span4 {
    width: 224px;
  }
  .adsItem,
  .postItem {
    margin-right: 30px;
  }
  .postItem {
    margin-bottom: 65px;
  }
  .postItem .postTitle {
    margin-top: 15px;
  }
  .postItem .postDescription {
    margin-top: 8px;
    margin-bottom: 0px;
  }
  .postItem.span2,
  .postItem.span3 {
    min-height: 380px;
  }
  .postItem.span4 {
    margin-right: 20px;
    min-height: 180px;
  }
  .postItem.span2 .postImg,
  .postItem.span3 .postImg {
    height: 230px;
  }
  .postItem.span4 .postImg {
    height: 150px;
  }
  .postItem.span6 {
    width: 224px;
  }
  .postItem.span6 .postImg {
    height: 150px;
  }
  .postItem.span6 .postTitle {
    margin-top: 15px;
    font-size: 14px;
  }
  #monthlyPopular .postItem.span6 {
    margin-bottom: 50px;
  }
  #monthlyPopular .postItem.span6:nth-child(3n) {
    margin-right: 0px;
  }
  .sectionAds {
    padding: 30px 0px;
  }
  .postAds .adsImg {
    width: 342px;
    height: 270px;
  }
  .single-post .entry-header .featured-image {
    width: 100%;
  }
  .text-layout-0,
  .text-layout-1,
  .text-layout-2,
  .text-layout-3,
  .text-layout-4,
  .text-layout-5,
  .text-layout-6,
  .text-layout-7,
  .text-layout-8,
  .text-layout-9,
  .text-layout-10,
  .single-post .entry-header > .entry-meta,
  .single-post .entry-content,
  .single-post .entry-content > p,
  .single-post .entry-footer > .tags-links {
    width: 710px;
  }
  .text-layout-1:before,
  .text-layout-2:before,
  .text-layout-3:before,
  .text-layout-4:before,
  .text-layout-5:before,
  .text-layout-6:before,
  .text-layout-7:before,
  .text-layout-8:before,
  .text-layout-9:before,
  .text-layout-10:before {
    margin-top: -70px;
    margin-left: 45%;
    width: 50px;
    height: 26px;
  }
  .text-layout-1,
  .text-layout-2,
  .text-layout-3,
  .text-layout-4,
  .text-layout-5,
  .text-layout-6,
  .text-layout-7,
  .text-layout-8,
  .text-layout-9,
  .text-layout-10 {
    margin-top: 92px;
    border-top: 1px dashed #979797;
    padding-top: 15px;
  }
  .single-post .entry-header > .entry-meta {
    position: relative;
    width: 710px;
    margin: 29px auto;
  }
  .single-post .entry-header > .entry-bg {
    height: 0;
    width: 0;
  }
  .single-post .entry-meta > .tags-links {
    margin-top: 32px;
  }
  .single-post .entry-content p {
    font-size: 16px;
  }
  .quota-layout {
    margin-bottom: 20px;
  }
  .quota-layout .quote {
    width: 680px;
  }
  .quota-layout .quote .text {
    font-size: 24px;
    padding: 0 30px;
  }
  .single-post .entry-footer > #moreInspiration > .postItem:nth-child(4n+0) {
    display: block;
  }
  .entry-footer > .footer-share {
    margin: 23px auto 18px auto;
  }
  .single-post .entry-content #videoPosts .sectionPost {
    width: 590px;
  }
  .single-post .entry-content #videoPosts .mobileTitle {
    margin-top: 32px;
    font-size: 18px;
    color: #F8F8F8;
    line-height: 18px;
    display: block;
  }
  .sectionHeader {
    padding-bottom: 0px;
  }
  #editorPick .row:nth-child(n+2) {
    display: none;
  }
  #dailyQuote {
    margin: 50px auto 72px auto;
  }
  #dailyQuote .calendar {
    float: none;
    margin: 0 auto;
    width: 106px;
    height: 120px;
  }
  #dailyQuote .calendar .month {
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 24px;
  }
  #dailyQuote .calendar .day {
    font-size: 48px;
    line-height: 58px;
  }
  #dailyQuote .quote {
    float: none;
    width: 720px;
    margin-top: 45px;
    left: 0;
  }
  #dailyQuote .quote .text {
    padding: 0px 30px;
    font-size: 22px;
    margin-top: 5px;
  }
  #videoPosts {
    padding: 26px 0 40px 0;
  }
  #videoPosts > .sectionHeader {
    padding-bottom: 9px;
  }
  #videoPosts .cycle-slideshow {
    width: 590px;
    float: none;
    margin: 0 auto;
  }
  #videoPosts > .sectionHeader {
    padding-bottom: 5px;
  }
  #videoPosts .videoItem {
    height: 380px;
  }
  #videoPosts .videoItem .btnPlay {
    background-position: 39% 50%;
  }
  #videoPosts .videoItem .btnShare {
    position: absolute;
    top: 41%;
    left: 53%;
    width: 11.040134%;
    height: 20%;
    background: url(/wp-content/themes/voicer3/images/btn_video_play_ipad.png) no-repeat;
    background-size: contain;
    z-index: 66;
  }
  #videoPosts .videoList {
    width: 718px;
    margin-top: 28px;
    float: none;
  }
  #videoPosts .videoItem .overlay {
    display: none;
  }
  .videoListItem {
    height: 60px;
    padding: 16px 21px 19px 24px;
  }
  .videoListItem > .videoTitle {
    width: 640px;
  }
  .videoListItem > .icon-play {
    margin-top: 4px;
  }
  .btnGetMeMore {
    margin-top: 24px;
  }
  #videoPosts .videoItem .videoShare {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.69);
    z-index: 67;
    display: none;
  }
  #videoPosts .videoItem .videoShare .container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    top: 41%;
    left: 5.5%;
  }
  #videoPosts .videoItem .videoShare .btn-facebook,
  #videoPosts .videoItem .videoShare .btn-weibo,
  #videoPosts .videoItem .videoShare .btn-pinterest,
  #videoPosts .videoItem .videoShare .btn-email,
  #videoPosts .videoItem .videoShare .btn-close {
    width: 12.040134%;
    height: 20%;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-right: 7.190635%;
    cursor: pointer;
  }
  #videoPosts .videoItem .videoShare .btn-facebook {
    background-image: url(/wp-content/themes/voicer3/images/icon_video_share_facebook@2x.png);
  }
  #videoPosts .videoItem .videoShare .btn-weibo {
    background-image: url(/wp-content/themes/voicer3/images/icon_video_share_sina@2x.png);
  }
  #videoPosts .videoItem .videoShare .btn-pinterest {
    background-image: url(/wp-content/themes/voicer3/images/icon_video_share_pinterest@2x.png);
  }
  #videoPosts .videoItem .videoShare .btn-email {
    background-image: url(/wp-content/themes/voicer3/images/icon_video_share_email@2x.png);
  }
  #videoPosts .videoItem .videoShare .btn-close {
    background-image: url(/wp-content/themes/voicer3/images/icon_video_share_close@2x.png);
    margin-right: 0px;
  }
  #page {
    margin-top: 0 !important;
  }
  .site-content {
    padding-top: 60px;
  }
  .memberItem {
    margin-right: 30px;
  }
  .memberItem.span4 {
    width: 214px;
  }
  .archive .page-header > .container > .page-search-query,
  .search .page-header > .container > .page-search-query {
    top: 20px;
  }
  .my-nav {
    background-color: #fff;
    position: relative;
    z-index: 9;
    height: 65px;
    border-bottom: 1px solid #e4e4e4;
    display: none;
  }
  .site-followus {
    position: fixed;
    height: 0px;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: #3C3A4A;
    z-index: 9999;
  }
  .logo-head {
    display: none;
  }
  .wpp-list li {
    overflow: hidden;
    float: none;
    clear: both;
  }
  .wpp-thumbnail {
    display: inline;
    float: left;
    margin: 0 5px 0 0;
    border: none;
  }
  .post-stats {
    display: block;
    font-size: 9px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 1023px) and only screen and (max-width: 767px) {
  .site-navigation-mobile > .navigation-bar > .site-logo > a > img,
  .site-menu-mobile > .site-logo > a > img {
    top: 12px;
    margin-left: -32px;
    width: 64px;
    height: 18px;
  }
  .site-menu-mobile {
    position: fixed;
    height: 47px;
    top: 5px;
    background-color: #fff;
  }
  .site-menu-mobile > .btn-followus {
    top: 14px;
    right: 3%;
    width: 48px;
    height: 20px;
    font-size: 9px;
    cursor: pointer;
    line-height: 20px;
    overflow: hidden;
    text-overflow: clip;
    padding: 0 5px;
  }
  .site-navigation-mobile {
    top: 5px;
    padding: 0px 4%;
  }
  .site-navigation-mobile .popup-search {
    padding: 0px 4%;
  }
  .site-navigation-mobile > .navigation-bar {
    height: 50px;
    border-bottom: 1px dotted #979797;
  }
  .site-navigation-mobile > .navigation-bar > .btn_close {
    top: 18px;
    width: 15px;
    height: 15px;
    background-size: cover;
  }
  .site-navigation-mobile > .navigation-bar > .icon-search {
    top: 19px;
    width: 16px;
    height: 16px;
    background-size: cover;
  }
  .site-navigation-mobile > div > ul > li > a {
    margin-left: 8%;
    font-size: 14px;
    line-height: 6px;
  }
  .site-navigation-mobile ul > li > ul > li > a {
    margin-left: 8%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 120px;
    line-height: 11px;
  }
  .site-navigation-mobile .sub-menu {
    margin-top: 10px;
    padding-bottom: 23px;
    border-bottom: 1px dotted #979797;
  }
  .site-navigation-mobile > div > ul > li {
    margin-top: 15px;
  }
  .site-navigation-mobile .other {
    margin-top: 30px;
    border-top: 1px dotted #979797;
  }
  .site-menu-mobile > .btn-menu {
    position: absolute;
    top: 11px;
    left: 3%;
    height: 17px;
    width: 17px;
    cursor: pointer;
    z-index: 9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .site-menu-mobile > .btn-menu > span {
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: block;
    margin: 4px 0;
    height: 3px;
    background: #3C3A4A;
  }
  .site-menu-mobile > .btn-menu > span:nth-child(3) {
    margin-top: -7px;
  }
  .site-menu-mobile > .btn-menu > span:nth-child(1) {
    width: 14px;
  }
  .site-menu-mobile > .btn-menu > span:nth-child(4) {
    width: 12px;
  }
  .site-navigation-mobile #searchform-mobile {
    height: 33px;
  }
  .site-navigation-mobile #searchform-mobile > input[type="text"] {
    float: left;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-style: italic;
    color: #D8D8D8;
    border: none;
    border-bottom: 1px #979797 solid;
    outline: none;
    display: block;
    font-size: 14px;
    color: #B7BFBF;
    padding-bottom: 8px;
  }
  .site-navigation-mobile #searchform-mobile > .icon-search {
    background: url(../../images/icon_header_search@2x.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 7px;
    right: 0px;
    height: 17px;
    width: 17px;
    cursor: pointer;
  }
  .site-navigation-mobile > .footer {
    padding: 11px 0;
  }
  .site-navigation-mobile > .footer .icp {
    margin-left: 8%;
    font-size: 11px;
  }
  .site-followus-title {
    margin-left: 3%;
    border-bottom: 1px dotted #979797;
    padding-left: 8%;
    padding-bottom: 8px;
    width: 94%;
    font-size: 11px;
    text-align: left;
    top: 12px;
  }
  .site-followus {
    height: 5px !important;
  }
  .site-followus .btn-close {
    top: 24px;
    right: 3%;
    height: 15px;
    width: 15px;
  }
  .site-followus .btn-close:before,
  .site-followus .btn-close:after {
    left: 6px;
    height: 16px;
    width: 3px;
  }
  .site-navigation-mobile .popup-search .btn-close,
  .site-navigation-mobile > .navigation-bar > .btn-close {
    top: 15px;
    left: 4px;
    width: 17px;
    height: 17px;
  }
  .site-navigation-mobile .popup-search .btn-close:before,
  .site-navigation-mobile .popup-search .btn-close:after,
  .site-navigation-mobile > .navigation-bar > .btn-close:before,
  .site-navigation-mobile > .navigation-bar > .btn-close:after {
    height: 17px;
    width: 3px;
  }
  #followus {
    margin-top: -5px;
  }
  .site-sns-icons {
    margin-top: 35px;
    padding-left: 8%;
  }
  .site-sns-icons > a,
  .site-sns-icons > div {
    position: relative;
    text-align: left;
    margin-bottom: 22px;
    height: 54px;
    width: 92%;
  }
  .site-sns-icons .icon {
    height: 54px;
    width: 54px;
    margin-right: 20px;
    float: left;
  }
  .site-sns-icons .title {
    font-size: 14px;
    margin-top: 10px;
  }
  .site-sns-icons .sub-title {
    font-size: 10px;
    line-height: 11px;
  }
  .site-sns-icons .btn-wechat .btn-qrcode {
    position: absolute;
    top: 15px;
    right: 5%;
    width: 22px;
    height: 22px;
    margin-top: 0px;
    border-radius: 20px;
    background: rgba(238, 237, 237, 0.3) url(/wp-content/themes/voicer3/images/btn_header_wechat_qrcode_iphone.png) no-repeat center;
    background-size: 55%;
  }
  .site-sns-icons .icon_arrow {
    position: absolute;
    top: 15px;
    right: 5%;
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: rgba(238, 237, 237, 0.3) url(../../images/icon_followus_arrow.png) no-repeat center;
  }
  .site-footer .site-footer-info {
    float: left;
    margin-left: 3%;
    font-size: 12px;
  }
  .site-footer .site-footer-icp {
    display: none;
  }
  .site-footer-logo,
  .site-footer-about,
  .site-footer-contact {
    display: none;
  }
  .span1,
  .span2,
  .span3,
  .span6 {
    width: 100%;
  }
  .span4 {
    width: 47%;
  }
  .sectionHeader,
  .sectionAds .span1,
  .sectionPost.span1 {
    width: 94%;
    left: 0px;
  }
  .sectionHeader {
    height: 22px;
  }
  .sectionHeader hr {
    border-bottom: 1px dotted #979797;
  }
  .sectionHeader .sectionTitle {
    font-size: 8px;
    line-height: 8px;
    letter-spacing: 2.8px;
  }
  .postItem {
    margin-bottom: 45px;
  }
  .postItem.span2,
  .postItem.span3 {
    min-height: 100px;
    height: auto !important;
  }
  .postItem.span4 {
    min-height: 155px;
    margin-bottom: 35px;
    margin-right: 6%;
  }
  .postItem.span4:nth-child(even) {
    margin-right: 0;
  }
  #moreInspiration .postItem.span3,
  .postItem.span6 {
    width: 47%;
    margin-right: 6%;
  }
  #moreInspiration .postItem.span3:nth-child(even) {
    margin-right: 0;
  }
  #moreInspiration .postItem.span3 {
    margin-bottom: 25px;
  }
  .postItem .postTitle {
    font-size: 14px;
    margin-top: 16px;
  }
  .postItem .postDescription {
    font-size: 12px;
    width: 96%;
    margin-top: 5px;
    margin-bottom: 32px;
    line-height: 17px;
  }
  .postItem .postFooter {
    font-size: 10px;
  }
  .postItem.span4 .postImg {
    height: 115px;
  }
  .postItem.span2 .postImg,
  .postItem.span3 .postImg,
  .postItem.span6 .postImg,
  .postItem .postImg {
    height: auto;
    padding-bottom: 66%;
  }
  .postItem.span6 {
    min-height: auto;
  }
  .postItem.span6 .postTitle {
    margin-top: 7px;
    font-size: 12px;
    line-height: 17px;
  }
  #moreInspiration .postItem.span3 .postDescription,
  #moreInspiration .postItem.span3 .postFooter,
  .archive .postItem.span4 .postDescription,
  .archive .postItem.span4 .postFooter,
  .search .postItem.span4 .postDescription,
  .search .postItem.span4 .postFooter,
  .postItem.span6 .postFooter,
  .postItem.span6 .postDescription {
    display: none;
  }
  #moreInspiration .postItem.span3 .postTitle,
  .archive .postItem.span4 .postTitle,
  .search .postItem.span4 .postTitle {
    margin-top: 10px;
    font-size: 12px;
    line-height: 17px;
  }
  #monthlyPopular {
    margin-bottom: 30px;
  }
  #monthlyPopular .postItem.span6 {
    margin-bottom: 9px;
  }
  #monthlyPopular .postItem.span6:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  #monthlyPopular .postItem.span6:nth-child(n+5) {
    display: none;
  }
  .postAds {
    background-color: #EAF1F1;
    text-align: center;
    padding: 15px 0 13px 0;
    left: -3%;
    width: 106%;
    min-height: 0 !important;
    margin-bottom: 55px;
  }
  .postAds .adsImg {
    width: 100%;
    height: 250px;
  }
  .postAds .adsTitle {
    margin-top: 9px;
    font-size: 9px;
    line-height: 9px;
  }
  .sectionAds {
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 50px;
  }
  .sectionAds .adsItem {
    margin-bottom: 10px;
  }
  #moreInspiration .postAds {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    left: 0;
  }
  #moreInspiration .postAds .adsImg {
    width: 100%;
    height: auto;
    padding-bottom: 79%;
  }
  #featuredGallery,
  #featuredGallery .container {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  #featuredGallery .wrapper {
    width: 1000%;
    height: 300px;
  }
  #featuredGallery .galleryItem {
    height: 300px;
    width: 10%;
  }
  #featuredGallery .galleryItem .overlay {
    height: 45px !important;
  }
  #featuredGallery .galleryItem .articleDate {
    top: 7px;
    left: 10px;
    font-size: 10px;
  }
  #featuredGallery .galleryItem .articleTitle {
    top: 20px;
    left: 10px;
    font-size: 14px;
    line-height: 18px;
    width: 97%;
  }
  .navGallery {
    display: none;
  }
  .single-post .entry-header .lazyBG {
    position: relative;
    width: 100%;
    height: 375px;
    overflow: hidden;
  }
  .single-post .entry-header .featured-image {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
       transform: translate(-50%, -50%);
  }
  .single-post .entry-header > .entry-meta,
  .single-post .entry-content,
  .single-post .entry-footer > .tags-links {
    width: 94%;
    margin-left: 3%;
  }
  .single-post .entry-header > .entry-meta {
    margin: 22px auto 30px auto;
  }
  .single-post .entry-meta > .tags-links {
    margin-top: 25px;
  }
  .single-post .entry-meta > .entry-date {
    font-size: 10px;
  }
  .single-post .entry-meta > .entry-title {
    font-size: 20px;
    line-height: 27px;
    margin-top: 2px;
  }
  .single-post .entry-meta > .entry-subtitle {
    font-size: 9px;
    color: #999;
  }
  .single-post .entry-content > p {
    width: 100%;
  }
  .single-post .entry-content p {
    font-size: 13px;
    line-height: 24px;
  }
  .single-post .entry-content #videoPosts .sectionPost {
    width: 33.3%;
  }
  .quota-layout {
    padding: 20px 0;
  }
  .quota-layout img {
    width: 30%;
    height: auto;
  }
  .quota-layout .quote {
    width: 35%;
  }
  .quota-layout .quote .openQuotation,
  .quota-layout .quote .closeQuotation {
    width: 15px;
    height: 8px;
  }
  .quota-layout .quote .text {
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    width: 80%;
  }
  .ol-layout hr {
    width: 80%;
  }
  .ol-layout,
  .ol-layout p {
    margin-top: -20px;
    font-size: 10px;
  }
  .ol-layout .caption {
    line-height: 14px;
    margin-bottom: 2px;
  }
  .text-layout-0,
  .text-layout-1,
  .text-layout-2,
  .text-layout-3,
  .text-layout-4,
  .text-layout-5,
  .text-layout-6,
  .text-layout-7,
  .text-layout-8,
  .text-layout-9,
  .text-layout-10 {
    width: 100%;
  }
  .text-layout-0 {
    margin-top: 0;
  }
  .text-layout-1:before,
  .text-layout-2:before,
  .text-layout-3:before,
  .text-layout-4:before,
  .text-layout-5:before,
  .text-layout-6:before,
  .text-layout-7:before,
  .text-layout-8:before,
  .text-layout-9:before,
  .text-layout-10:before {
    width: 40px;
    height: 21px;
    margin-left: 43%;
  }
  .panel-grid-cell,
  .panel-grid-cell .so-panel,
  .panel-grid {
    margin-bottom: 20.25px !important;
  }
  .entry-footer {
    margin-top: 52px;
  }
  .entry-footer .footer-share {
    margin: 0px auto 20px auto;
    height: 60px;
  }
  .entry-footer .btn-backtotop {
    display: none;
  }
  .entry-footer > .footer-share > .container > .btn-facebook,
  .entry-footer > .footer-share > .container > .btn-weibo,
  .entry-footer > .footer-share > .container > .btn-pinterest,
  .entry-footer > .footer-share > .container > .btn-email {
    width: 40px;
    height: 40px;
  }
  .entry-footer > .footer-share > .container {
    width: 240px;
    margin: 5px auto 50px auto;
  }
  .single-post .entry-content #videoPosts {
    padding: 20px 0;
  }
  .single-post .entry-content #videoPosts .mobileTitle {
    font-size: 9px;
    margin-top: 16px;
    line-height: 9px;
  }
  .site-content {
    padding-top: 50px;
  }
  #dailyQuote {
    margin-top: 25px;
    margin-bottom: 29px;
  }
  #dailyQuote .quote {
    margin-top: 20px;
    width: 100%;
  }
  #dailyQuote .quote .text {
    max-width: 80%;
    font-size: 14px;
    line-height: 18px;
    padding: 0px 14px;
    margin-top: -4px;
  }
  #dailyQuote .quote .text .author:before {
    width: 11px;
    margin-left: -15px;
  }
  #dailyQuote .quote .text .author {
    font-size: 10px;
    margin-top: 17px;
  }
  #dailyQuote .calendar {
    width: 53px;
    height: 60px;
  }
  #dailyQuote .calendar .week {
    height: 5px;
  }
  #dailyQuote .calendar .month {
    line-height: 12px;
    margin-top: 9px;
    font-size: 10px;
    letter-spacing: 2.5px;
  }
  #dailyQuote .calendar .day {
    font-size: 24px;
    line-height: 29px;
  }
  #dailyQuote .quote .openQuotation {
    width: 15px;
    height: 8px;
  }
  #dailyQuote .quote .closeQuotation {
    width: 15px;
    height: 8px;
  }
  #videoPosts {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  #videoPosts > .sectionHeader {
    padding-bottom: 0px;
    height: 18px;
  }
  #videoPosts .cycle-slideshow {
    width: 100%;
  }
  #videoPosts .videoItem {
    height: auto;
    padding-bottom: 66%;
  }
  #videoPosts .videoItem .btnPlay {
    background-position: 39% 49%;
    background-size: 11%;
  }
  #videoPosts .videoList {
    width: 100%;
    margin-top: 10px;
  }
  .videoListItem {
    padding: 16px 8px 16px 12px;
    height: 44px;
  }
  .videoListItem > .videoTitle {
    width: 90%;
    font-size: 10px;
    line-height: 15px;
    height: 15px;
    overflow: hidden;
  }
  .videoListItem > .icon-play {
    margin-top: 1px;
    width: 10px;
    height: 10px;
  }
  .page .entry-header {
    height: 300px;
  }
  .page .entry-content {
    margin-top: 12px;
  }
  .page .page-title {
    padding-top: 47px;
    font-size: 18px;
  }
  .page .page-subtitle {
    width: 90%;
    font-size: 11px;
    margin-top: 30px;
  }
  .page .page-subtitle > .chs {
    line-height: 16px;
  }
  .page .page-subtitle > .eng {
    width: 80%;
    margin: 10px auto 0 auto;
    line-height: 15px;
  }
  .aboutus-page .page-title {
    font-size: 18px;
  }
  .page .page-icon-voicerme {
    height: 30px;
    width: 38px;
    margin-top: 29px;
  }
  #voicerTeam {
    margin-top: 10px;
    text-align: center;
  }
  .memberItem {
    margin-bottom: 30px;
    min-height: auto;
  }
  .memberItem > .memberSNS {
    margin: 30px auto 0 auto;
    display: inline-block;
  }
  .memberItem.span4 {
    margin-right: 0;
    width: 100%;
  }
  .memberItem > .memberName {
    font-size: 18px;
  }
  .memberItem > .memberTitle {
    font-size: 9px;
    line-height: 10px;
    margin-top: 9px;
  }
  .memberItem > .memberDescription {
    font-size: 11px;
    line-height: 16px;
    width: 90%;
    margin: 5px auto 0 auto;
  }
  .memberSNS > .profolio {
    padding: 8px 15px;
  }
  .memberSNS > .facebook {
    width: 30px;
    height: 30px;
  }
  .memberSNS > .weibo {
    width: 30px;
    height: 30px;
  }
  .contactus-page .page-title {
    font-size: 24px;
  }
  .page .page-icon-envelope {
    height: 24px;
    width: 32px;
    margin: 32px auto 0 auto;
  }
  .archive .page-header,
  .search .page-header {
    margin-bottom: 22px;
    background-color: #fff;
  }
  .archive .page-header > .container,
  .search .page-header > .container {
    height: 85px;
  }
  .archive .page-header > .container,
  .search .page-header > .container {
    width: 94%;
    margin: 0 auto;
  }
  .archive .page-header > .container > .page-title,
  .archive .page-header > .container > .page-total-results,
  .search .page-header > .container > .page-title,
  .search .page-header > .container > .page-total-results {
    font-size: 10px;
  }
  .archive .page-header > .container > .page-search-query,
  .search .page-header > .container > .page-search-query {
    font-size: 18px;
    line-height: 18px;
    top: -1px;
  }
}

/*# sourceMappingURL=../../sourcemaps/css/common/min.css.map */
