/* CSS стили для универсального скрипта закладок */
#favourites_el {
	/*float: right;
	margin-right: 70px;*/
	display: inline-block;
	margin-left: 6px;
}
.favTd {
 padding:4px;
 border: 1px solid #CBEFB3;
 color: #0B1C55;
 background: rgba(248, 255, 247, 0.6); /* Вид ячейки с закладкой */
 }
 
 .favTd:hover {
 background:#EFFAEB; /* Вид ячейки с закладкой при наведении курсора */ 
 }
 .f_number {
color: #0b1c55;
font-weight:bold /* Порядковый номер закладки */
}

 .f_link a, .f_moder a { 
 text-decoration:none !important;
 font-size:11px;
 color: #444; /* Оформление ссылок */
 }
 .f_link a:hover, .f_moder a:hover {
 color: #444;
 border-bottom:1px dashed #777; /* Оформление ссылок при наведении курсора */
 }
 .f_date {
 color: #777; /* Дата добавления закладки */
 }
.f_module {
 color: #9b1b24; /* Название модуля, к которому принадлежит закладка */
 }
.f_but {background: url(../images/fn_torr_favourites.png) no-repeat;width: 86px;height: 29px;display: inline-block; vertical-align:middle;}
.f_but a {background: url(../images/fn_torr_favourites.png) no-repeat 0 -29px; width: 86px; height: 29px; display: inline-block; overflow: hidden; line-height: 90px; opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0); -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.f_but a:hover {opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}

/* ajax */
.xw-plain, .xw-resize, .xw-active {color:#e5e5e5;padding:0;position:absolute;background-color:none;box-shadow:0 0 0 5px rgba(0, 0, 0, 0.5);border-radius: 1px;} 
.xw-plain .xw-hdr {text-align: left !important;white-space: nowrap !important;padding: 1px 0 0 0 !important;white-space: nowrap !important;zoom: 1 !important;height: 43px !important;} 
.xw-plain .xw-hdr-text {padding-left: 5px;vertical-align: 3px!important;cursor: default!important;font: inherit!important;color: #fff!important;font-size: 13px!important;text-shadow:0 1px 0 #4b8b1d!important;line-height: 35px!important;} 
.xw-plain .xw-sps, .xw-plain .xw-tc, .xw-plain .xw-tr{border-bottom:0px solid #eee;color:#000 !important;font-size:1.2em !important} 
.xw-plain .xw-bc, .xw-plain .xw-mr, .xw-plain .xw-bl, .xw-plain .xw-br, .xw-plain .xw-ml, .xw-plain .xw-mc{background:#F6F9FB !important;border:0 !important;border-radius:0px;moz-border-radius:0px;webkit-border-radius:3px;padding:0!important;} 
.xw-plain .xw-body{border:0 !important;} 
.xw-plain .xw-tl, .xw-plain .xw-tr, .xw-plain .xw-tc {background: #fff url(../images/ajax/ui-bg_gloss-wave.png) repeat-x!important;} 
.xw-plain .xw-sps {display:none !important;}
.xw-plain .myWinCont {font-size: 11px!important;}
.xw-plain .myWinPollTd {padding-right: 15px;padding-bottom: 13px;background: white!important;border: 1px solid #E7E7E7;padding: 7px;}
.xw-plain .xt-mini{background:url('../images/ajax/ui-mini.png') no-repeat!important; width:17px !important; height:18px !important;top: 10%!important;}
.xw-plain .xt-maxi{background:url('../images/ajax/ui-max.png')no-repeat!important; width:17px !important;height:18px !important;top: 10%!important;}
.xw-plain .xt-rest {background:url('../images/ajax/ui-rest.png')no-repeat!important; width:17px !important;height:18px !important;top: 10%!important;}
.xw-plain .xt-rest-over {background:url('../images/ajax/ui-rest.png') -17px 0 no-repeat!important;}
.xw-plain .xt-reset {width:17px !important;height:18px !important;top: 10%!important;background:url('../images/ajax/ui-mini.png') no-repeat!important;float:right !important;border:0 !important;text-decoration:none !important;}
.xw-plain .xt-mini {background:url('../images/ajax/ui-mini.png') no-repeat!important; width:17px !important; height:18px !important;top: 10%!important;}
.xw-plain .xt-mini-over {background:url('../images/ajax/ui-mini.png') -17px 0 no-repeat!important;}
.xw-plain .xt-close {background:url('../images/ajax/ui-close.png') no-repeat!important; width:17px !important;height:18px !important;top: 10%!important;}
.xw-plain .xt-close:hover {padding: 0!important;border:none!important;}
.xw-plain .xt-close-over {background:url('../images/ajax/ui-close.png') -17px 0 no-repeat!important;}
.xw-plain .xt-maxi {background:url('../images/ajax/ui-max.png')no-repeat!important; width:17px !important;height:18px !important;top: 10%!important;}
.xw-plain .xt-maxi:hover {padding: 0!important;border:none!important;}
.xw-plain .xt-maxi-over {background:url('../images/ajax/ui-max.png') -17px 0 no-repeat!important;}
.xw-plain .xstl, .xw-plain .xstr, .xw-plain .x-sh {display:none !important;}
.xw-plain .myWinCont legend {color: #1C7918!important;}
.xw-plain .myWinCont fieldset {border: 1px solid #68BB39!important;padding: 2px 5px!important;margin-bottom: 3px!important;}
.xw-plain .myBtnLeft, .xw-plain .myBtnRight, .xw-plain .myBtnLeftA, .xw-plain .myBtnRightA {display: none !important;}
.xw-plain .myBtnCenter, .xw-plain .myBtnCenterA {background: none !important;}
.xw-plain .myBtnCont a:link{background: url(../images/bbcodes.png) repeat-x!important;text-shadow: 1px 1px 0 #A26732!important;font-size: 15px!important;border: 0!important;outline: none!important;color: #FFF!important;padding: 1px 19px 2px 19px!important;height: 31px!important;font-weight: bold!important;cursor: pointer!important;-webkit-border-radius: 15px!important;-moz-border-radius: 15px!important;border-radius: 15px!important;/*float:right!important;*/}
.xw-plain .myBtnCont a:hover {background-position: 0 -31px!important;text-shadow: 1px 1px 0 #387D2C;!important;}
.xw-plain .myWinTD1 {background:none;}
.xw-plain .myWinTD2 {background: #EDF6DF;}
.myWinLoad {background: url('../images/ajax/loading.gif') no-repeat 0 0!important;}

/* Uved */
.LsMesWrappp {position: fixed; bottom:0px; left:17px; padding:10px; color:#fff;}
.LsMesWrapp {cursor:pointer;opacity: 0.9;width: 300px;background:#F6F9FB url(../images/ajax/ui-bg_gloss-wave.png) repeat-x 0 -12px;padding: 7px;color: #505050;border: #FFEBCD;margin-bottom: 17px;box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);border-radius: 1px; transition:all 0.2s;}
.LsMesWrapp:hover {opacity: 1;}
.LsMesWrapp img {width:50px;min-height:50px;border: 1px rgba(0, 0, 0, 0.1) solid;}
.LsMesName {margin-bottom:15px;text-align:center;padding-bottom: 3px;text-shadow: 0 1px 0 #4B8B1D;color:#FFF;}
.LsMesClose {float: right;margin-top: -3px;margin-right: -3px;background: url('../images/ajax/ui-close.png') no-repeat;width: 17px;height: 18px;}
.LsMesWrap a:hover {text-decoration: none;}

/* slider [dop] */
.single_items {position: relative;}
.single_items .caption {transition: all 0.3s;-o-transition: all 0.3s;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;opacity: 0;position: absolute;left: 0;overflow: hidden;width: 100%;height: 100%;text-align: center;background: url(../images/related.png) repeat;padding-top: 10px;font: 13px/12px 'Ubuntu Condensed', Arial, Helvetica, sans-serif;color: #FFF;line-height: 15px;vertical-align: middle;}
.single_items a:hover .caption {opacity:1;}

/* похожий материал */
.uRelatedEntries {padding: 0 20px;margin:0;}
.uRelatedEntries li {list-style-type:none;background: url(../images/topusers5.png) center top;-webkit-background-size: 200% 53px;-o-background-size: 200% 53px;-moz-background-size: 200% 53px;background-size: 200% 53px;opacity: 0.8;}
.uRelatedEntries li a {display:block;padding: 5px;margin: 3px 0;border-radius: 3px;text-decoration: none;color: #282828;border: 1px #CDD9E0 solid;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.uRelatedEntries li:hover {-webkit-background-size: 200% 53px;-o-background-size: 200% 53px;-moz-background-size: 200% 53px;background-size: 200% 53px;opacity: 1;}
.uRelatedEntries li a:before {content: "> ";color: #2e6993;font-weight: bold;}
.uRelatedEntries li:hover a:before {color: #87C95B;}

/* ПОИСК С ПОДСКАЗКАМИ */ 

.search .searchCont a:hover {background: #57A80D;color: #FFF;} 
.search .searchCont a:last-child {border-bottom: 0px solid;} 

.search .searchCont { 
background: #FFF; 
box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
border-radius: 1px;
position: absolute; 
margin-left: 4px; 
margin-top: 45px; 
display: none; 
width: 378px;
z-index: 100;
} 

.search .searchCont::after {  
border-bottom: 8px solid transparent; 
border-left: 0px solid transparent; 
border-right: 8px solid rgba(0, 0, 0, 0.5); 
border-top: 8px solid transparent; 
content: ""; 
left: 20px; 
position: absolute; 
top: -17px; 
transform: rotate(90deg); 
writing-mode: tb-rl;
} 

.search .searchCont span { 
display: block; 
padding: 8px;
} 

.search .searchCont span em {
cursor:pointer;
color:#57A80D;
}

.search .searchCont input { 
height: 30px;
width: 100%;
margin: 0px;
border-radius: 0;
} 

.search .searchCont a { 
border-bottom: 1px solid #DDD;
text-decoration:none; 
white-space: normal; 
display:block; 
padding: 8px; 
height: auto;
position:relative;
}

.search .searchCont a img {
width: 100px;
position: absolute;
top: 0;
left: -115px;
box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
border-radius: 1px;
}

.search .searchCont a:hover img {
	display:block!important;	
}

/* календарь новостей */
.calTable {
	
}
.calTable td {
	padding: 7px;
	border-radius: 5px;
}
.calTable .calMdayIsA, .calTable .calMdayA {
	background: #418bbc;
	color:#FFF;
}
.calTable .calMdayIsA a {
	color:#FFF;
}
.calTable .calMdayIs {
	background: #d9edf6;
}
.calTable .calMdayIs:hover {
	background:#C3E1EF;
}
.calTable .calMdayIs a {
	display: block;
	text-decoration: none;
}
.calTable .calMday {
	background: #F2FBFF
}
.calTable .calWday {
	background: #AACF33;
	color: #FFF;
}
.calTable .calWdaySe, .calTable .calWdaySu {
	background: #CF3333;
	color: #FFF;
}
.uz {
	margin:0;
}
.archiveDateTitleLink {
	font-weight: bold;
	font-size: 16px;
}

.u-mpanel {
	z-index:1!important;
}

/*Переключатели топа*/
.top_tabs_but input {cursor: pointer;}
.top_tabs_but input:nth-of-type(1) {border-radius: 15px 0 0 15px;border-right: 1px solid #65A333;}
.top_tabs_but input:nth-of-type(2) {border-radius: 0 15px 15px 0;}
.top_tabs_but .active {background-position: 0 -31px;text-shadow: 1px 1px 0 #387d2c;}