 
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic-ext,greek,cyrillic,latin-ext,greek-ext);
html, body {margin: 0; height: 100%; background: #dee9ef url(../images/container.png) repeat-y center; font: 14px/12px 'PT Sans', Arial, Helvetica, sans-serif; color: #474747;}
#wrapper {height: auto !important; background: url(../images/f.jpg) no-repeat center bottom;}
#header {background: url(../images/h.jpg) no-repeat center 0;}
#container {background: #eaf2f5 url(../images/wr.jpg) no-repeat center -17px; margin-top: -89px;}
#container1 {background: url(../images/container1.png) no-repeat center 0; padding-top: 89px;}
#container2 {margin: 0 auto; width: 1098px;}
#container3 {width: 1098px; float: left; margin-top: -57px; margin-left: -1px;}
#left {float: left; width: 239px;}
#right {float: right; width: 236px;}
#center {margin: 0 236px 0 239px;}
.center_body {padding:0 20px;}
.center_body_wrap {background: #FFF;border-radius: 15px;border-bottom: 4px solid #DDE5EA;padding: 10px;box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);-o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);-html-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);}
#spacer {height: 184px;}
#footer {margin-top: -184px;}
.clear {clear: both;}
#puzadpn{display:none;}

img, input, textarea {outline: none; border: none; font: 13px/11px 'PT Sans', Arial, Helvetica, sans-serif;}
textarea {font: 13px/*/11px*/ 'PT Sans', Arial, Helvetica, sans-serif!important;}
.reset, .reset li {list-style: none; padding: 0; margin: 0;font-size:14px!important;}
button {font: 15px/13px 'PT Sans', Arial, Helvetica, sans-serif;}

a {text-decoration: none;color: #57A80D;}
a:hover {text-decoration: underline;}

input[type="button"], input[type="submit"], input[type="reset"], button {background: url(../images/bbcodes.png) repeat-x; text-shadow: 1px 1px 0 #a26732; font-size: 15px; border: 0; outline: none; color: #FFF!important; padding: 1px 10px 2px 10px; height: 22px; font-weight: bold; cursor: pointer; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover {background-position: 0 -31px; text-shadow: 1px 1px 0 #387d2c;}

textarea {border: 1px solid #baccd9; color: #444647;padding: 5px;/*max-width: 96%;*/}
input[type="text"], input[type="password"] {border: 1px solid #baccd9; color: #444647; font-size: 12px; padding: 5px;max-width: 96%;}

hr {color: #CDD9E0;height: 1px;border: none;background: #CDD9E0;}
fieldset {border:1px #CDD9E0 solid;}

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover,.group3,.group3:hover {color:blue;}
a.groupOther2:link,a.groupOther2:visited,a.groupOther2:hover,.group6,.group6:hover {color:#8E00FF;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover,.group4,.group4:hover {color:red;}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover,.group2,.group2:hover {color:#A8A60D;}
a.groupOther3:link,a.groupOther3:visited,a.groupOther3:hover,.group7,.group7:hover {color:#1D4F91;}
a.groupFriends:link,a.groupFriends:visited,a.groupFriends:hover,.group251,.group251:hover {color:goldenrod;}
a.groupOther1:link,a.groupOther1:visited,a.groupOther1:hover,.group5,.group5:hover {color:orange;}
/* --- */

/* HEADER */
.h1 {background: url(../images/h1.jpg) no-repeat center 100px;}
.h2 {background: url(../images/h2.jpg) no-repeat center 200px;}
.h3 {background: url(../images/h3.jpg) no-repeat center 300px;}
.h4 {background: url(../images/h4.jpg) no-repeat center 400px;}
.h5 {background: url(../images/h5.jpg) no-repeat center 500px;height: 532px;}
.h6 {margin: 0 auto; width: 998px; height: 532px;}
.h7 {width: 998px; height: 532px; margin-left: -1px;}

.rss {background: url(../images/rss.jpg) no-repeat; width: 128px; height: 64px; position: absolute; margin-left: 258px;}
.rss a {background: url(../images/rss1.jpg) no-repeat; width: 43px; height: 44px; display: block; overflow: hidden; line-height: 200px; position: absolute; margin: 26px 0 0 20px; opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0); -moz-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; -o-transition: all 0.4s ease;}
.rss a:hover {opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}

.logo {width: 166px; height: 45px; display: block; overflow: hidden; line-height: 200px; position: absolute; margin: 60px 0 0 93px;}

.search {background: url(../images/search.png) no-repeat; width: 387px; height: 37px; position: absolute; margin: 69px 0 0 366px;}
.search1 {width: 333px; position: absolute; margin: 10px 0 0 16px; background-color: transparent; font-size: 13px!important; font-style: italic; color: #2d64a1!important;border: none!important;padding: 0!important;max-width:none!important;}
.search2 {background: url(../images/search1.png) no-repeat; width: 26px; height: 25px; position: absolute; margin: 6px 0 0 350px; opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0); -moz-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; -o-transition: all 0.4s ease;}
.search2:hover {opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}
.search3 {background: url(../images/search2.png) no-repeat 0 2px; font-size: 11px; color: #777777; font-style: italic; padding-left: 6px; position: absolute; margin: 47px 0 0 17px;}
.search3:hover {text-decoration: none;}

.profile {width: 229px; height: 169px; position: absolute; margin-left: 774px;}
.profile1 {width: 68px; height: 56px; display: block; overflow: hidden; position: absolute; margin: 15px 0 0 28px;}
.profile1 img {width: 68px; min-height: 56px;}
.profile1 i {background: url(../images/profile.png) no-repeat; width: 68px; height: 56px; display: block; position: absolute;}
.profile2 {position: absolute; margin: 22px 0 0 95px; display: block; overflow: hidden; width: 160px; height: 45px;}
.profile2 b {margin-left: 10px; position: absolute;}
.profile2 b a {font-size: 15px; font-weight: bold; color: #3c3c3c; font-style: italic;}
.profile2 b a:hover {text-decoration: none;}
.profile2 span {background: url(../images/profile1.png) no-repeat; height: 23px; display: block; float: left; padding-left: 37px; position: absolute; margin-top: 22px;cursor:pointer;}
.profile2 span i {background: url(../images/profile1.png) no-repeat right; padding-right: 7px; font-size: 13px; color: #FFF; font-style: normal; height: 23px; display: block; line-height: 23px;}
.profile2 span i a {height: 23px; display: block; line-height: 23px; color: #FFF; text-decoration: none;}
.profile3 {position: absolute; margin: 79px 0 0 38px;}
.profile3 li {width: 166px; height: 20px; background: url(../images/profile2.png) repeat-x 0 bottom;}
.profile3 li a {color: #3b3b3b;    border-bottom: 1px dotted black; text-decoration: none; font-size: 13px; font-style: italic; height: 20px; display: block; line-height: 20px; margin-left: -7px; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.profile3 li a:hover {color: #ce4d4e;}
.profile3 li a:before {content: ''; position: absolute; width: 0; height: 0; border: 4px solid #f1f6f5; border-left-color: #4b555a; margin: 5px 0 0 -9px; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.profile3 li:hover a:before {border-left-color: #ce4d4e;}

.authoriz {position: absolute; margin-left: 774px; background: url(../images/authoriz.jpg) no-repeat 17px 0; width: 229px; height: 169px;}
.authoriz1 {width: 167px; font-size: 11px!important; font-style: italic; color: #778f8a!important; position: absolute; margin: 64px 0 0 47px; background-color: transparent;border:none!important;padding:0!important;}
.authoriz2 {width: 126px; font-size: 11px!important; font-style: italic; color: #778f8a!important; position: absolute; margin: 100px 0 0 32px; background-color: transparent;border:none!important;padding:0!important;}
.authoriz3 {background: url(../images/authoriz.png) no-repeat; width: 39px; height: 27px; position: absolute; margin: 94px 0 0 178px; opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0); -moz-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; -o-transition: all 0.4s ease;}
.authoriz3:hover {opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}
.authoriz4 {position: absolute; margin: 133px 0 0 9px;}
.authoriz4 a {background: url(../images/authoriz1.png) no-repeat 0 3px; padding-left: 13px; font-size: 12px; color: #595959; font-style: italic; margin-right: 11px;}
.authoriz4 a:hover {background-position: 0 -36px; color: #cd4b4d;}

.topmenu {position: absolute; background: url(../images/topmenu1.png) no-repeat; margin: 198px 0 0 108px; padding-left: 2px;min-width: 900px;}
.topmenu li {background: url(../images/topmenu1.png) no-repeat right; height: 42px; float: left; margin-left: 18px;}
.topmenu li span {background: url(../images/topmenu.png) no-repeat right 42px; height: 42px; display: block; padding-right: 18px; margin: 0 -2px 0 -3px;}
.topmenu li span:hover {background-position: right 0;}
.topmenu li span i {background: url(../images/topmenu.png) no-repeat 0 42px; height: 42px; display: block; margin-left: -18px;}
.topmenu li span i:hover {background-position: 0 0;}
.topmenu li span i a {height: 42px; display: block; margin: 0 -18px 0 0; padding: 0 18px 0 17px; font: 15px/14px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; color: #FFF; text-shadow: 1px 1px 0 #1b5572; line-height: 30px; text-decoration: none;}
.topmenu li span i a:hover {color: #4a4a4a; text-shadow: none;}

.horizontal {width: 824px; height: 128px; position: absolute; margin: 254px 0 0 117px;} 
.horizontal .carousel {width: 824px; height: 128px; position: absolute;} 
.horizontal .carousel_container {width: 824px; height: 128px; overflow: hidden; position: relative;}
.horizontal ul {width: 832px; height: 128px; margin: 0; padding: 0; border: 0; outline: 0;} 
.horizontal ul li {width: 98px; height: 128px; display: block; overflow: hidden; float: left; margin-right: 6px !important; position: relative; margin: 0; padding: 0; outline: 0;}
.horizontal ul li img {width: 90px; min-height: 122px; position: absolute;}
.horizontal ul li a {width: 90x; height: 122px; display: block; color: #fff;} 
.horizontal ul li .inner {width: 90px; height: 122px; display: block; overflow: hidden; border: 3px solid #8dbc29; border-radius: 3px;} 
.horizontal ul li .caption {position: absolute; left: 0; width: 70px; height: 78px; display: none; overflow: hidden; background: url(../images/related.png) repeat; margin: 0 3px; padding: 24px 10px 20px 10px; font: 13px/12px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; color: #FFF; line-height: 15px; text-align: center;}
.carousel_right, .carousel_left {position: absolute; z-index: 10; width: 61px; height: 69px; display: block; text-indent: -9999px; opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0); -moz-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; -o-transition: all 0.4s ease;} 
.carousel_left {top: 44px; left: -79px; background: url(../images/related1.png) top left;}
.carousel_right {top: 11px; right: -75px; background: url(../images/related1.png) top right;}
.carousel_left:hover {background-position: bottom left; opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);} 
.carousel_right:hover {background-position: bottom right; opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}

/* LEFT */
.bloc {background: url(../images/bloc.png) no-repeat; width: 255px; margin-left: -11px; padding-bottom: 12px;}
.bloc1 {font-size: 17px; font-weight: bold; color: #FFF; padding: 37px 0 0 40px; height: 50px;}

/* left menu */
.left_menu {padding: 4px 0 0 16px;}
.bnavi ul, .bnavi ul li {margin: 0; padding: 0; list-style: none; width: 217px;}
.but2 a {color: #696969; text-decoration: none; background: url(../images/but2.png) no-repeat 19px 0; display: block; width: 217px; height: 28px; line-height: 28px; text-indent: 35px; font-size: 13px; font-style: italic; margin-bottom: -1px;}
.but2 a:hover {color: #FFF; text-indent: 39px; background-position: 19px -28px;}
.bnavi ul b a, .bnavi ul b span {background: url(../images/sublinks.png) no-repeat; width: 213px; height: 29px; text-decoration: none; color: #383838; text-indent: 24px; display: block; line-height: 29px; cursor: pointer; margin-bottom: -1px;}
.bnavi ul b a:hover, .bnavi ul b span:hover, .bnavi ul b a.active {color: #25598b; margin-bottom: -1px;}
.bnavi ul b span.closed {background-position: 0 0;}
.bnavi ul b span.closed:hover {background-position: 0 -29px;}
.bnavi ul b span.opened {background-position: 0 -58px; margin: 0; color: #25598b;}
.bnavi_out {list-style: none; margin: 0;}
.submenu {background: url(../images/bnavi.png) no-repeat bottom; padding: 0 0 8px 0;}
.but {margin: 0;}
.but a {background: url(../images/but.png) no-repeat; display: block; width: 213px; height: 29px; margin-bottom: -1px; font-size: 14px; font-weight: bold; color: #383838; text-decoration: none; text-indent: 24px; line-height: 29px;}
.but a:hover{background-position: 0 -29px; color: #25598b;}

/* vote */
.vtitle {width: 183px; font-size: 17px; color: #cb612d; font-weight: bold; background: #ffeee4; -webkit-border-radius: 11px; -moz-border-radius: 11px; border-radius: 11px; padding: 15px 11px 13px 11px;}
.vote {color: #313131; font-size: 13px; line-height: 20px; width: 193px; padding: 14px 0 5px 12px;}
.vote label { height: 26px;}
.radio {width: 24px; height: 25px; padding: 0; margin: 0 0 -6px -3px; background: url(../images/radio.png) no-repeat; display: block; clear: left; float: left;}
.votefoot {width: 211px; height: 37px; background: #ecf3f6; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; margin-left: -6px; padding: 7px 0 0 7px;}
.answer2 {background: url(../images/bbcodes.png) repeat-x; text-shadow: 1px 1px 0 #a26732; font-size: 15px; border: 0; outline: none; color: #FFF!important; padding: 1px 19px 2px 19px; height: 31px; font-weight: bold; cursor: pointer; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;}
.answer2:hover {background-position: 0 -31px; text-shadow: 1px 1px 0 #387d2c;}
.results {border: 0; outline: none; border-bottom: 1px dotted #585858; background: none; font-size: 14px; color: #585858; font-style: italic; padding: 1px 0 0 0; height: 16px; cursor: pointer;}
.results:hover {color: #3b8db2;border-bottom: 1px dotted #ecf3f6;}


/* RIGHT */
.projects {width: 207px; display: block; margin-bottom: 7px;}
.projects img {width: 207px;border-radius:15px;}
.projects1 {width: 193px; height: 23px; background: #d9edf6; margin: 8px 0 10px 3px; -webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px; padding: 9px 0 0 11px; color: #2e6d9e; font-size: 13px;}
.projects1 span {height: 15px; display: block; float: left; background: url(../images/projects.png) no-repeat; padding: 0 7px 0 19px; line-height: 15px;}
.projects1 i {font-style: normal; height: 15px; display: block; float: left; background: url(../images/projects1.png) no-repeat; padding-left: 20px; line-height: 15px;}
.projects1 a {float: right; width: 100px; height: 29px; display: block; overflow: hidden; line-height: 90px; background: url(../images/projects2.png) no-repeat; margin: -7px 1px 0 0;}
.projects1 a:hover {background-position: 0 -29px;}


.topusers {background: #fde9d7; width: 217px; height: 99px; overflow: hidden; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; margin-left: -8px; padding: 16px 0 0 4px;}
.topusers a, .topusers2 a {color: #2a2a2a;}
.topusers1 {margin-right: -10px;}
.topusers span {width: 50px; height: 50px; display: block; float: left; padding: 0 5px; margin: 0 14px 0 0; font-size: 13px; color: #2a2a2a; font-weight: bold;}
.topusers span i {width: 50px; height: 50px; display: block; overflow: hidden; margin-bottom: 7px; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px;}
.topusers span i img {width: 50px; min-height: 50px; border-radius: 9px;}
.topusers span .place1 {background: url(../images/topusers.png) no-repeat; width: 31px; height: 28px; display: block; position: absolute; margin: -13px 0 0 28px;}
.topusers span .place2 {background: url(../images/topusers1.png) no-repeat; width: 31px; height: 28px; display: block; position: absolute; margin: -13px 0 0 28px;}
.topusers span .place3 {background: url(../images/topusers2.png) no-repeat; width: 31px; height: 28px; display: block; position: absolute; margin: -13px 0 0 28px;}
.topusers span b {height: 18px; padding: 1px 7px 2px 7px; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; color: #FFF; font-size: 12px;}
.topusers span u {display: block; overflow: hidden; text-decoration: none; width: 70px; text-align: center; margin: 0 0 7px -10px;}
.topusers span u s {float: right; margin-bottom: -18px; position: relative; width: 17px; height: 18px; display: block; background: url(../images/topusers3.png) no-repeat;}
.topusers2 {width: 211px; background: url(../images/topusers4.png) no-repeat bottom; margin-left: 20px; padding-bottom: 9px; margin-bottom: 6px; overflow: hidden;}
.topusers2 span {width: 35px; height: 35px; display: block; overflow: hidden; float: left; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.topusers2 span img {width: 35px; min-height: 35px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.topusers3 {background: url(../images/topusers5.png) no-repeat right -34px; height: 34px; float: right; padding-right: 11px; margin: 2px -2px 0 0;}
.topusers3 b {background: url(../images/topusers5.png) no-repeat; height: 34px; display: block; padding-left: 9px; line-height: 30px;}
.topusers4 {font-size: 13px; color: #2a2a2a; font-weight: bold; line-height: 20px; float: left; margin: 9px 0 0 -8px;}
.topusers4 b {color: #FFF; background: #62a53a; height: 20px; display: block; float: left; margin-right: 6px; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; padding: 0 6px;}

.tophanding {padding: 16px 0 0 19px;}
.tophanding1 {display: block; overflow: hidden; border-bottom: 1px dashed #c7c7c7; width: 218px; padding-bottom: 13px; font-size: 13px; font-weight: bold; color: #2a2a2a; text-align: left; line-height: 16px; margin-bottom: 16px;}
.tophanding1 a {font-size: 13px; font-weight: bold; color: #2a2a2a; line-height: 16px; margin-bottom: 16px; text-decoration: none;}
.tophanding1 a:hover {text-decoration: underline;}
.tophanding2 {width: 81px; height: 111px; display: block; overflow: hidden; -webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px; float: left;}
.tophanding2 img {width: 81px; min-height: 111px; -webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px;}
.tophanding1 b {font-size: 14px; color: #FFF; height: 29px; line-height: 29px; display: block; background: #e38149 url(../images/tophanding.png) no-repeat 6px 6px; float: left; -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; padding: 0 11px 0 31px; margin: 3px 0 0 10px;}

/* CENTER */
/* 1 */
.cn_home {margin-left: 2px; display: block; overflow: hidden; padding-bottom: 7px;}
.cn_home1 {background: url(../images/cn_home.png) no-repeat; width: 619px;}
.cn_home2 {background: url(../images/cn_home1.png) no-repeat 16px 15px; height: 53px; font-size: 23px; font-weight: bold; font-style: italic; color: #FFF; text-shadow: 1px 1px 0 #478722; padding: 20px 0 0 43px;}
.cn_home2 a {float: right; background: url(../images/cn_home2.png) no-repeat; width: 53px; height: 30px; display: block; overflow: hidden; line-height: 90px; margin: -8px 19px 0 0;}
.cn_home2 a:hover {background-position: 0 -30px;}
.cn_home3 {width: 205px; height: 151px; display: block; overflow: hidden; -webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px; float: left; margin-left: 23px; margin-bottom: 10px;}
.cn_home3 img {width: 205px; min-height: 151px; -webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px;}
.cn_home4 {color: #474747; line-height: 16px; margin: 0 23px 10px 248px;}
.cn_home4 b {display: block; color: #1b1b1b; font-size: 16px; margin-bottom: 4px; line-height: 20px;}
.cn_home4 b a {color: #1b1b1b; text-decoration: none;}
.cn_home4 b a:hover {text-decoration: underline;}
.cn_home5 {height: 30px; background: #FFF; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px; clear: left; margin: 10px 18px 0 13px; padding: 9px 0 0 9px;}
.cn_home6 {background: url(../images/cn_home3.png) no-repeat 0 2px; height: 23px; display: block; float: left; color: #5f9436; font-size: 13px; font-weight: bold; line-height: 23px; padding: 0 14px 0 20px;}
.cn_home6 a {color: #5f9436;}
.cn_home6 a:hover {text-decoration: none;}
.cn_home7 {background: url(../images/cn_home4.png) no-repeat 0 1px; height: 23px; display: block; float: left; color: #666d70; font-size: 13px; line-height: 23px; padding: 0 10px 0 26px;}
.cn_home8 {background: url(../images/cn_home5.png) no-repeat 0 2px; height: 23px; display: block; float: left; color: #2f6c9f; font-size: 13px; font-weight: bold; line-height: 23px; padding: 0 11px 0 31px;}
.cn_home8 a {color: #2f6c9f;}
.cn_home8 a:hover {text-decoration: none;}
.cn_home9 {background: url(../images/cn_home6.png) no-repeat; height: 23px; display: block; float: left; color: #666d70; font-size: 13px; line-height: 23px; padding: 0 10px 0 25px;}
.cn_home10 {float: right; width: 100px; height: 31px; display: block; overflow: hidden; line-height: 90px; background: url(../images/cn_home7.png) no-repeat; margin: -5px 4px 0 0;}
.cn_home10:hover {background-position: 0 -31px;}
.cn_home10 a {width: 100px; height: 31px; display: block;}

.cn_homemin {float: left; margin: 0 4px 6px 0;}
.cn_homemin a {width: 282px; height: 124px; display: block; overflow: hidden; padding: 5px 10px 4px 5px; font-weight: bold; line-height: 16px; -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px; color: #333333; text-decoration: none; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.cn_homemin a:hover {background: #dae8f0; color: #307eb1; text-decoration: underline;}
.cn_homemin1 {width: 121px; height: 118px; display: block; overflow: hidden; float: left; -webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px; border: 3px solid #e0e6e9;}
.cn_homemin1 img {width: 121px; min-height: 118px; -webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px;}
.cn_homemin2 {height: 66px; display: block; overflow: hidden; margin-left: 133px; padding-top: 5px; text-overflow: ellipsis;}
.cn_homemin3 {padding: 0 0 22px 18px; display: block; overflow: hidden;}

/* info btn */
#info {position: absolute; z-index: 2; margin: 12px 0 0 103px;}
#info .sublnk {width: 22px; height: 22px;}
#info .sublnk a {background: url(../images/info.png) no-repeat; width: 22px; height: 22px; display: block; overflow: hidden; line-height: 90px; border-radius: 0; padding: 0; position: relative; z-index: 10;}
#info .sublnk a:hover, #info .sublnk.selected a {}
#info .sublnk {position: relative;}
#info li.sublnk ul {background-color: #337aa7; font-size: 12px; font-style: italic; color: #FFF; width: 111px; margin: 0; padding: 12px 10px 10px 17px; top: 8px; left: 7px; position: absolute; z-index: 1 !important; display: none; overflow: hidden; opacity: 0.85; -moz-opacity: 0.85; filter: alpha(opacity=85); -webkit-border-radius: 13px; -moz-border-radius: 13px; border-radius: 13px;}
#info li.sublnk ul li a, #info li.sublnk ul li {background: none;}
#info li.sublnk ul li {padding: 0; width: 111px; height: 19px; line-height: 17px; display: block; padding-left: 21px !important;}
#info li.sublnk ul li a {height: 17px; line-height: 17px; display: block; overflow: hidden; color: #FFF; padding: 0; width: 100px; font-weight: normal; text-decoration: underline;}
#info li.sublnk ul li a:hover {text-decoration: none;}
.cn_homemin4 {background: url(../images/cn_homemin.png) no-repeat 2px 2px !important;}
.cn_homemin5 {background: url(../images/cn_homemin1.png) no-repeat 1px 3px !important;}
.cn_homemin6 {background: url(../images/cn_homemin2.png) no-repeat 0 3px !important;}
.cn_homemin7 {background: url(../images/cn_homemin3.png) no-repeat 0 1px !important;}
.cn_homemin8 {background: url(../images/cn_homemin4.png) no-repeat 0 4px !important;}
.cn_homemin8 a {color: #caff6d !important;}

.cn_home11 {background: url(../images/cn_home8.png) no-repeat 17px 13px; height: 53px; font-size: 23px; font-weight: bold; font-style: italic; color: #FFF; text-shadow: 1px 1px 0 #478722; padding: 20px 0 0 51px;}
.cn_home11 a {float: right; background: url(../images/cn_home2.png) no-repeat; width: 53px; height: 30px; display: block; overflow: hidden; line-height: 90px; margin: -8px 19px 0 0;}
.cn_home11 a:hover {background-position: 0 -30px;}
.cn_home12 {width: 137px; height: 242px; display: block; overflow: hidden; float: left; margin-right: 10px;}
.cn_home12 a {position: relative;width: 137px; height: 198px; display: block; overflow: hidden; -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;}
.cn_home12 a img {width: 137px; min-height: 198px; -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;}
.cn_home12 a span {position: absolute; width: 117px; max-height: 45px; display: block; overflow: hidden; background: #000; opacity: 0.83; -moz-opacity: 0.83; filter: alpha(opacity=83); color: #FFF; font-size: 12px; font-weight: bold; padding: 5px 7px 5px 7px; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px; /*margin: -75px 0 0 3px;*/bottom: 3px;right: 3px;line-height: 16px;}
.cn_home12 a:hover span {max-height: 100%;}
.cn_home13 {display: block; overflow: hidden; margin-right: -14px; padding: 0 0 7px 22px;}
.color2 a {color: #32546b;}

.cn_homecomm {background: url(../images/cn_homecomm.png) no-repeat; width: 308px; float: left; margin: 0 -6px 0 5px;}
.cn_homecomm1 a {float: right; width: 53px; height: 30px; background: url(../images/cn_homecomm2.png) no-repeat; display: block; overflow: hidden; line-height: 90px; margin: 12px 18px 0 0;}
.cn_homecomm1 a:hover {background-position: 0 -30px;}
.cn_homecomm1 {background: url(../images/cn_homecomm1.png) no-repeat 17px 15px; height: 23px; font-size: 18px; color: #FFF; font-weight: bold; font-style: italic; text-shadow: 1px 1px 0 #225b87; height: 72px; padding-left: 45px; line-height: 54px;}
.cn_homecomm2 {font-size: 12px; color: #4c4c4c; font-style: italic; line-height: 14px; background: url(../images/cn_homecomm3.png) no-repeat bottom; padding-bottom: 11px; padding-left: 22px; margin-bottom: 10px;}
.cn_homecomm2 img {max-width: 100%;}
.cn_homecomm2 span {width: 44px; height: 44px; display: block; overflow: hidden; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; float: left; margin: 0 9px 0px 0;}
.cn_homecomm2 span img {width: 44px; min-height: 44px;}
.cn_homecomm2 b {font-size:14px;color:#ea994a;font-style:normal;display: block;margin-bottom:3px;}
.cn_homecomm2 b a {color:#ea994a;}
.cn_homecomm2 b a:hover {text-decoration:none;}
.cn_homecomm2 i {font-size:11px;color:#a0a4a6;display:block;margin-bottom:2px;}
.msgcom {width: 270px;}
.msgcom span, .msgcom b {float:none;width:auto;height:auto;color:#4C4C4C;font-size:12px!important;}

.cn_homeforum a {float: right; width: 53px; height: 30px; background: url(../images/cn_homecomm2.png) no-repeat; display: block; overflow: hidden; line-height: 90px; margin: 12px 18px 0 0;}
.cn_homeforum a:hover {background-position: 0 -30px;}
.cn_homeforum {background: url(../images/cn_homeforum.png) no-repeat 17px 14px; height: 23px; font-size: 18px; color: #FFF; font-weight: bold; font-style: italic; text-shadow: 1px 1px 0 #225b87; height: 72px; padding-left: 46px; line-height: 54px;}
.cn_homeforum1 {width: 279px; height: 47px; display: block; overflow: hidden; margin-bottom: 7px; margin-left: 12px;}
.cn_homeforum1 a {background: url(../images/cn_homeforum1.png) no-repeat; height: 40px; display: block; overflow: hidden; font-size: 12px; color: #1c1c1c; text-decoration: none; font-style: italic; padding: 7px 13px 0 43px; line-height: 14px;}
.cn_homeforum1 a:hover {background-position: 0 -47px; color: #4f9213;}
.cn_homeforum1 a span {height: 30px; display: block; overflow: hidden; text-overflow: ellipsis;}

/* 2 */
.sort {height: 39px; background: #dee9ef; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; margin: -13px 13px 11px 13px; font-size: 13px; color: #798489; line-height: 39px; padding-left: 11px;}
.sort a {margin-right: 7px; color: #3c3c3c; text-decoration: none;}
.sort a:hover {color: #3c3c3c; text-decoration: underline;}
.sort .asc {color: #2d78b6; font-weight: bold; padding-left: 12px;}
.sort .asc:before {content: ''; position: absolute; width: 0; height: 0; border: 4px solid #dee9ef; border-top-color: #4b555a; margin: 17px 0 0 -12px;}
.sort .desc {color: #2d78b6; font-weight: bold; padding-left: 12px;}
.sort .desc:before {content: ''; position: absolute; width: 0; height: 0; border: 5px solid #dee9ef; border-bottom-color: #4b555a; margin: 12px 0 0 -12px;}

.cn2_pl {background: url(../images/cn2_pl.png) no-repeat bottom; display: block; overflow: hidden; margin: 0 24px 16px 24px; padding: 0 0 14px 0;}
.cn2_pl .cat {background: url(../images/cn2_pl1.png) no-repeat 0 0; font-size: 24px; font-weight: bold; color: #2e546a; padding: 0 0 3px 18px; margin: 10px 0 0 0; display: block; float: left;}
.cn2_pl1 {float: right; font-size: 13px; color: #508098; line-height: 16px; text-align: right;}

.cn2_cat {background: url(../images/cn2_cat.png) no-repeat bottom; display: block; overflow: hidden; width: 188px; height: 320px; float: left; margin: 0 0 0 11px;}
.cn2_cat1 {width: 178px; height: 207px; display: block; overflow: hidden; position: absolute; margin: 40px 0 0 5px;background: #FFF;}
.cn2_cat1 img {width: 178px; min-height: 207px;}
.cn2_cat1 i {width: 178px; height: 207px; background: url(../images/cn2_cat.png) no-repeat -5px -40px; position: absolute;}
.cn2_cat1 i b {width: 148px; display: block; background: #000; opacity: 0.83; -moz-opacity: 0.83; filter: alpha(opacity=83); color: #FFF; font-size: 12px; font-weight: bold; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px; font-style: normal; padding: 10px 10px 10px 13px; line-height: 14px;position: absolute;left: 3px;bottom: 3px;}
.cn2_cat1 i b em {max-height: 40px; display: block; overflow: hidden; font-style: normal;}
.cn2_cat1:hover em {max-height: 100%;}
.cn2_cat2 {display: block; position: absolute; margin-top: 252px; width: 178px; text-align: center; font-size: 12px; font-weight: bold; color: #b3d26f; text-shadow: 1px 1px 0 #307325;}
.cn2_cat2 {display: block; position: absolute; margin-top: 252px; width: 178px; text-align: center; font-size: 12px; font-weight: bold; color: #b3d26f; text-shadow: 1px 1px 0 #307325;}
.cn2_cat2 a {color:#fff;}
.cn2_cat2 b {font-size: 13px; color: #e4eee0;}
.cn2_cat3 {padding-left: 7px; display: block; overflow: hidden;}

.rating_outer
{height: 24px; position: absolute; margin: 11px 0 0 39px;
}
.pagesBlockuz1 span{


font-weight: bold;
    color: #FFF;
    background: #cc5665;
    padding: 3px 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;


}
 
/*#pagesBlock1, #pagesBlock2, .pagesBlock2, .pagesBlockuz1, .pagesBlockuz2 {display:block;width: 591px; height: 61px; background: url(../images/nav.png) no-repeat; margin: -7px 0 0 17px; text-align: center; font-size: 20px; color: #3d3d3d; padding-top: 38px;}
.swchItem i, .swchItem1 i, .switchNext, .switchBack {font-size: 13px; color: #8291a2; font-weight: normal !important; padding: 0 14px;}
.swchItem i, .swchItem1 i, .switchNext, .switchBack {font-size: 13px;color: #5b7fa6; font-weight: normal !important; text-decoration: underline;}
.swchItem i:hover, .swchItem1 i:hover, .switchNext:hover, .switchBack:hover {text-decoration: none; background: none; color: #5b7fa6;}
.swchItemA, .swchItemA1, .switchActive {font-weight: bold; color: #FFF; background: #cc5665; padding: 3px 5px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;}
.swchItem, .swchItem1, .switchDigit {font-weight: bold; color: #3d3d3d; text-decoration: none; padding: 3px 5px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.swchItem:hover, .swchItem1:hover, .switchDigit:hover {color: #37627f; background: #b9d4e4;}*/

.nav { width: 591px; height: 61px; background: url(../images/nav.png) no-repeat; margin: -7px 0 0 17px; text-align: center; font-size: 20px; color: #3d3d3d; padding-top: 38px; }
.nav i { font-size: 13px; color: #8291a2; font-weight: normal !important; padding: 0 14px; }
.nav a i, .nav span:first-child {background: initial;color: #5b7fa6; font-weight: normal !important; text-decoration: underline; }
.nav a i:hover { text-decoration: none; background: none; color: #5b7fa6; }
.nav span { font-weight: bold; color: #FFF; background: #cc5665; padding: 3px 5px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }
.nav a { font-weight: bold; color: #3d3d3d; text-decoration: none; padding: 3px 5px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.nav a:hover { color: #37627f; background: #b9d4e4; }

/* 3 */
.fn_torr {height: 34px; font-size: 12px; color: #282828; line-height: 34px; margin: -13px 33px 13px 23px; display: block; overflow: hidden;}
.fn_torr a {color: #282828;}
.fn_torr a:hover {text-decoration: none;}
.fn_torr b {height: 34px; display: block; float: left; background: #d3dee4; padding: 0 30px 0 15px; -webkit-border-radius: 11px; -moz-border-radius: 11px; border-radius: 11px;}
.fn_torr span {height: 34px; display: block; float: left; background: #47749e url(../images/fn_torr.png) no-repeat; color: #FFF; padding: 0 15px 0 18px; -webkit-border-radius: 11px; -moz-border-radius: 11px; border-radius: 11px; margin-left: -15px; font-weight: bold;}
.fn_torr span a {color: #FFF;}

.fn_torr0 {margin: 0 24px 0 24px;}
.fn_torr1 {background: url(../images/fn_torr1.png) no-repeat 0 4px; font-size: 21px; color: #414141; font-weight: bold; border-bottom: 1px dotted #a4a7a9; line-height: 26px; text-indent: 25px; padding-bottom: 11px; margin-bottom: 13px;}
.fn_torr1 a {color: #414141;}
.fn_torr2 {height: 25px; font-size: 12px; color: #FFF; line-height: 25px; font-style: italic;}
.fn_torr2 b {background: #83b147 url(../images/fn_torr2.png) no-repeat 7px 6px; height: 25px; display: block; float: left; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #FFF; padding: 0 8px 0 23px; text-shadow: 1px 1px 0 #608b29; font-weight: normal;}
.fn_torr2 b a {color: #FFF;}
.fn_torr2 b a:hover {text-decoration: none;}

.fn_torr3 {height: 25px; display: block; float: left; background: #295d8e url(../images/fn_torr3.png) no-repeat 13px 7px; margin-left: -5px; padding: 0 8px 0 30px;}
.fn_torr4 {height: 25px; display: block; float: left; background: #295d8e url(../images/fn_torr4.png) no-repeat 0 5px; -webkit-border-top-right-radius: 5px; -moz-border-top-right-radius: 5px; border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; padding: 0 7px 0 30px;}

.fn_torr5 {float: right; background: url(../images/fn_torr5.png) no-repeat; font-size: 12px; color: #373737; font-style: italic; padding: 0 1px 0 20px; margin-top: 7px;}
.fn_torr6 {background: url(../images/cn2_pl.png) no-repeat bottom; padding-bottom: 25px; margin-bottom: 16px;}

.fn_torr7 {line-height: 16px;}
.fn_torr7 embed, .fn_torr7 object, .fn_torr7 iframe, .fn_torr7 video {max-width:559px!important;}
.fn_torr7 iframe[allowfullscreen] {max-width: inherit!important;width: 559px;}
.fn_torr7 img {border: 3px solid #d0d8de; border-radius: 3px; margin: 0 5px 10px 5px;max-width:559px!important;}
.fn_torr7 .mainPoster {height: 250px;}
.fn_torr7_wrap {overflow: hidden;}
.quoteMessage {border: 1px solid #acc7d6!important; border-radius: 3px; color: #2d6792; background: #cde2ee; font-size: 13px; font-style: italic; padding: 5px 9px 4px 9px; margin: 5px 0;}
.bbQuoteBlock .bbQuoteName {font-size: 13px!important;}
.uSpoilerButton {text-align: left;width: 100%; cursor:pointer;border: 1px solid #6b9a2d!important; border-radius: 3px!important; color: #FFF!important; text-shadow: 1px 1px 0 #568519!important; background: #6b9a2d!important; font-size: 13px!important; font-style: italic!important; padding: 5px 9px 4px 9px!important; margin: 5px 0 2px 0!important;height: auto!important;transition: background 0.3s;}
.uSpoilerButton:hover {background: #77A935!important;}
.title_spoiler img {margin: 0 3px 0 -5px;}
.title_spoiler a {color: #FFF; text-decoration: none;}

.uSpoilerText {border: 1px solid #acc7d6; border-radius: 3px; color: #2d6792; background: #cde2ee; font-size: 13px; font-style: italic; padding: 5px 9px 4px 9px;}
.fn_torr8 {background: url(../images/fn_torr6.png) no-repeat; width: 118px; height: 29px; margin: 7px 13px 0 -1px; float: left;}
.fn_torr8 a {background: url(../images/fn_torr6.png) no-repeat 0 -29px; width: 118px; height: 29px; display: block; overflow: hidden; line-height: 90px; opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0); -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.fn_torr8 a:hover {opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}

.fn_torr9 {margin-top: 7px;}
.fn_torr9 .fn_minus {background: url(../images/fn_minus.png) no-repeat; width: 25px; height: 28px; display: block; float: left;}
.fn_torr9 .fn_minus a {background: url(../images/fn_minus.png) no-repeat -25px 0; width: 25px; height: 28px; display: block; overflow: hidden; line-height: 90px; float: left; opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0); -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.fn_torr9 .fn_minus a:hover {opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}

.fn_torr9 .fn_plus {background: url(../images/fn_plus.png) no-repeat; width: 25px; height: 28px; display: block; float: left;}
.fn_torr9 .fn_plus a {background: url(../images/fn_plus.png) no-repeat -25px 0; width: 25px; height: 28px; display: block; overflow: hidden; line-height: 90px; float: left; opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0); -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.fn_torr9 .fn_plus a:hover {opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}

.fn_torr9 .fn_repa {height: 21px; display: block; float: left; background: #dae4e9; font-size: 10px; text-transform: uppercase; color: #316d95; font-weight: bold; border-radius: 5px; margin: 3px 2px 0 2px; line-height: 21px; padding: 0 6px;}

.fn_torr10 {/*width: 600px;*/display: inline-block;overflow: hidden; margin: 8px 0 15px -6px;}
.fn_torr10 img {border: none;}
.fn_torr11 {border-bottom: 2px solid #cdd9e0; padding-bottom: 2px; margin-bottom: 16px; display: block; overflow: hidden; padding-left: 2px; margin-left: -2px;}

.rating1 {width: 160px; height: 26px; float: right; margin: 8px 0 0 0; font-size: 12px; color: #6d7980; /*line-height: 26px;*/}

.fn_torr12 {background: url(../images/fn_torr7.png) no-repeat; width: 582px; height: 107px; margin: 0 0 0 -3px;position: relative;}
.fn_torr13 {background: url(../images/fn_torr8.png) no-repeat; width: 122px; height: 41px; display: block; overflow: hidden; line-height: 200px; float: left; margin: 9px 9px 0 10px;}
.fn_torr13 a {background: url(../images/fn_torr8.png) no-repeat 0 -41px; width: 122px; height: 41px; display: block; overflow: hidden; opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0); -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.fn_torr13 a:hover {opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}

.fn_torr14 {background: url(../images/fn_torr9.png) no-repeat; height: 33px; display: block; float: left; padding-left: 14px; margin: 16px 4px 0 0;}
.fn_torr14 b {background: url(../images/fn_torr9.png) no-repeat right 0; height: 33px; display: block; font-size: 13px; padding-right: 14px; line-height: 30px; color: #717171;}
.fn_torr14 b i {font-style: normal; color: #3b3b3b;}
.fn_torr15 {height: 33px; display: block; float: left; line-height: 30px; margin-top: 16px; padding-left: 10px; font-size: 13px; color: #5b5b5b; font-style: italic;}
.fn_torr15 a {color: #5b5b5b;}
.fn_torr15 a:hover {text-decoration: none;}
.fn_torr16 {display: block; overflow: hidden; width: 582px; font-size: 14px; color: #3186b2; font-weight: bold; text-align: center; padding-top: 12px;}
.fn_torr16 a {color: #3186b2;}
.fn_torr16 a:hover {text-decoration: none;}

/* slider */
.fn_torr17 {padding: 17px 0 21px 0;}
.fn_torr18 {font-size: 17px; color: #282828; font-weight: bold; background: url(../images/fn_torr10.png) no-repeat; height: 32px; padding: 2px 0 0 30px; margin-left: 25px;}
.my_carousel_items {padding: 0 20px; position: relative;}
.caroufredsel_wrapper {width: 575px !important;}
.single_items {width: 104px; height: 134px; display: block; float: left; margin: 0 6px 0 0; overflow: hidden; border: 3px solid #c1dc6b; border-radius: 3px;}
.single_items img {width: 104px; min-height: 134px; border: 0; border-radius: 0; margin: 0;}
.arrow_buttons {left: 0; margin-top: -92px; position: absolute; top: 40%; width: 100%;}
div.arrow_buttons a.prev, div.arrow_buttons a.next {background: url(../images/nav1.png) no-repeat scroll ; display: block; height: 21px; opacity: 1; position: absolute; text-indent: -99999px; top: 0; width: 15px; opacity: .65;}
div.arrow_buttons a.prev {left: 557px;}
div.arrow_buttons a.next {right: 32px; background-position: -15px 0;}
div.arrow_buttons a.prev:hover, div.arrow_buttons a.next:hover {opacity: 1.0;}

.info {background: #a22b2b url(../images/info.jpg) no-repeat; width: 578px; margin: 0 0 0 23px;}
.info a {color:#F5CBCB;}
.info1 {background: url(../images/info1.jpg) no-repeat bottom;}
.info2 {background: url(../images/info1.png) no-repeat 17px 16px; font-size: 12px; color: #FFF; text-shadow: 1px 1px 0 #981615; line-height: 16px; padding: 16px 0 41px 64px;}
.info2 b {font-size: 14px;}

.fn_torr19 {margin: 0 22px 19px 23px; border-bottom: 1px dotted #bcc0c2;}
.fn_torr20 {background: url(../images/fn_torr11.png) no-repeat; height: 31px; font-size: 22px; color: #464646; font-weight: bold; padding: 2px 0 0 33px;}

.fn_torr21 {background: url(../images/fn_torr12.png) no-repeat; width: 27px; height: 27px; float: right; overflow: hidden; line-height: 90px; margin: -2px -2px 0 0;}
.fn_torr21 a {background: url(../images/fn_torr12.png) no-repeat 0 -27px; width: 27px; height: 27px; display: block; opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0); -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.fn_torr21 a:hover {opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}

.fn_comm {margin: 0 22px 20px 23px; border-bottom: 3px solid #cdd9e0; display: block; overflow: hidden; padding-bottom: 10px;}
.fn_comm1 {width: 50px; height: 50px; display: block; overflow: hidden; border: 3px solid #d0d6d9; border-radius: 3px; margin-bottom: 7px;}
.fn_comm1 img {width: 50px; min-height: 50px;}
.fn_comm2 {position: absolute; height: 21px; background: #3a3a3a; color: #FFF; font-size: 14px; font-weight: bold; line-height: 21px; padding: 0 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin: -5px 0 0 -4px;}
.fn_comm3 {background: url(../images/fn_comm1.png) no-repeat; width: 16px; height: 16px; overflow: hidden; line-height: 90px; float: left; margin-left: 5px;}
.fn_comm3 a {background: url(../images/fn_comm1.png) no-repeat 0 -16px; width: 16px; height: 16px; display: block; overflow: hidden; opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0); -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.fn_comm3 a:hover {opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}
.fn_comm4 {background: url(../images/fn_comm.png) no-repeat; width: 18px; height: 13px; overflow: hidden; line-height: 90px; float: left; margin: 3px 0 0 9px;}
.fn_comm4 a {background: url(../images/fn_comm.png) no-repeat 0 -13px; width: 18px; height: 13px; display: block; overflow: hidden; opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0); -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.fn_comm4 a:hover {opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}
.fn_comm5 {float: left;}
.fn_comm6 {margin: 0 0 0 65px;}
.fn_comm7 {font-size: 13px; color: #303335; margin: 5px 0 0 4px;}
.fn_comm7 i {font-style: normal; color: #838383;}
.fn_comm7 a {font-weight: bold; color: #4476ac;}
.fn_comm7 a:hover {text-decoration: none;}
.fn_comm8 {float: right;}
.fn_commplus {background: url(../images/fn_comm2.png) no-repeat; width: 16px; height: 16px; display: block; overflow: hidden; line-height: 60px; float: left;}
.fn_commplus:hover {background-position: 0 -16px;}
.fn_commminus {background: url(../images/fn_comm3.png) no-repeat; width: 16px; height: 16px; display: block; overflow: hidden; line-height: 60px; float: left; margin-top: -3px;}
.fn_commminus:hover {background-position: 0 -16px;}
.fn_comm8 i {height: 16px; display: block; float: left; padding: 0 5px; font-size: 11px; font-weight: bold; font-style: normal; color: #303030;}
.fn_comm9 {background: #FFF url(../images/fn_comm4.png) no-repeat; widthOFF: 414px; margin-top: 4px;}
.fn_comm10 {background: url(../images/fn_comm5.png) no-repeat bottom; line-height: 15px; font-size: 13px; color: #464646; padding: 17px 11px 29px 11px;}
.fn_comm10 img {max-width: 100%;}
.fn_comm11 {float: right; font-size: 12px; margin-top: -7px;}
.fn_comm11 a {color: #4b555a; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.fn_comm11 a:hover {color: #5398cd;}

/* 4 */
.fn_torrlink {font-size: 12px; color: #444647; line-height: 12px; border-bottom: 2px solid #cdd9e0; margin-top: -7px; padding-bottom: 19px;}
.fn_torrlink input {width: 367px; height: 29px; float: right; border: 1px solid #baccd9; margin-top: -16px; color: #444647; font-size: 12px; padding: 0 7px;}
.fn_torrlink1 {display: block; overflow: hidden; padding-top: 10px;}

/* 5 */
.fn_comm12 {width: 450px; background: #d4e7f4; border-radius: 9px; margin: 10px 0 5px 0; padding: 9px 14px 10px 14px; line-height: 16px; color: #356d96; font-size: 13px; font-style: italic;}
.fn_comm12 b {font-style: normal; font-size: 14px;}
.fn_comm13 {background: url(../images/fn_comm6.png) no-repeat; width: 19px; height: 13px; display: block; overflow: hidden; position: absolute; margin: -22px 0 0 3px;}

/* 6 */
.sn_short {width: 184px; display: block; float: left; margin: 0 18px 0 0;}
.sn_short img {width: 184px; margin: 0;}
.sn_short1 {background: url(../images/fn_torr5.png) no-repeat; font-size: 12px; color: #373737; font-style: italic; padding: 0 9px 0 20px; float: left;}
.sn_short2 {background: url(../images/sn_short.png) no-repeat 0 1px; font-size: 12px; color: #373737; font-style: italic; padding: 0 0 0 35px; float: left;}
.sn_short2 a {color: #373737;}
.sn_short2 a:hover {text-decoration: none;}
.sn_short3 {border-bottom: 2px solid #cdd9e0; padding-bottom: 2px; margin-bottom: 16px; display: block; overflow: hidden; padding: 14px 0 14px 2px; margin-left: -2px;}
.sn_short4 {background: url(../images/sn_short1.png) no-repeat; width: 103px; height: 33px; float: right; overflow: hidden; line-height: 200px; margin: -12px 0 -2px 0;}
.sn_short4 a {background: url(../images/sn_short1.png) no-repeat 0 -33px; width: 103px; height: 33px; display: block; overflow: hidden; opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0); -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease;}
.sn_short4 a:hover {opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}

/* FOOTER */
.f {margin: 0 auto; width: 998px; height: 184px;}
.f1 {width: 998px; height: 184px; margin-left: -1px;}
.f2 {width: 998px; position: absolute; text-align: center; color: #FFF; font-size: 13px; margin-top: 102px; line-height: 15px;}
.f2 b {font-size: 14px;}

.copy {width: 125px; height: 35px; display: block; overflow: hidden; line-height: 200px; position: absolute; margin: 112px 0 0 43px;}

.fmenu {position: absolute; margin: 15px 0 0 221px;}
.fmenu li {height: 35px; display: block; float: left; margin-right: 10px;}
.fmenu li a {height: 35px; display: block; background: #1f6591; font-size: 13px; color: #FFF; text-decoration: none; font-style: italic; line-height: 35px; padding: 0 12px 0 11px; -webkit-border-radius: 17px; -moz-border-radius: 17px; border-radius: 17px; -moz-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; -o-transition: all 0.4s ease;}
.fmenu li a:hover {color: #3d6614; background: #a1cf33;}

#up {background: url(../images/up.png) no-repeat; width: 60px; height: 60px; display: block; overflow: hidden; position: absolute; margin: -11px 0 0 977px; line-height: 200px; opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0); -moz-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; -o-transition: all 0.4s ease;}
#up:hover {opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}

.counts {width: 182px; float: right; margin: 91px 20px 0 0;}
.counts ul li {float: left; width: 88px; height: 31px; margin-right: 3px; margin-bottom: 3px; opacity: 0.1; -moz-opacity: 0.1; filter: alpha(opacity=10); -moz-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; -o-transition: all 0.4s ease;}
.counts ul li:hover {opacity: 1.0; -moz-opacity: 1.0; filter: alpha(opacity=100);}

.wbb-list {width: 260px!important;}

/* Chrome */
@media all and (-webkit-min-device-pixel-ratio:0) {
 .h7,#container3,.f1 {margin-left: -2px;}
}
/* Opera */
noindex:-o-prefocus,.h7,#container3,.f1 {margin-left: 0px;}
noindex:-o-prefocus,.cn_home12:after {position: absolute; content: ''; width: 136px; height: 165px; box-shadow: 0 0 0 1px #f1f6f9, 0 0 0 8px #f1f6f9; border-radius: 22px; margin-top: -165px;}
noindex:-o-prefocus,.cn_home3:after {position: absolute; content: ''; width: 175px; height: 151px; box-shadow: 0 0 0 1px #f1f6f9, 0 0 0 6px #f1f6f9; border-radius: 14px; margin-left: -175px;}
noindex:-o-prefocus,.cn_homemin1:after {position: absolute; content: ''; width: 71px; height: 68px; box-shadow: 0 0 0 3px #e0e6e9, 0 0 0 6px #f1f6f9; border-radius: 14px; margin-left: -71px;}
noindex:-o-prefocus,.tophanding2:after {position: absolute; content: ''; width: 81px; height: 111px; box-shadow: 0 0 0 1px #FFF, 0 0 0 6px #FFF; border-radius: 14px; margin-left: -81px;}
noindex:-o-prefocus,.cn_homecomm2 span:after {position: absolute; content: ''; width: 44px; height: 44px; box-shadow: 0 0 0 1px #f1f6f9, 0 0 0 4px #f1f6f9; border-radius: 9px; margin-left: -44px;}

#repa_ava {float:left;padding-right:10px;width:80px;height:80px;}
#repa_info {float:left;padding-right:10px;height:80px;}



.grey{

    font-size: 14px;
}

.berrors{
    color: red;
}

.reset li,.rate{
    font-size: 16px;
}