@charset "utf-8";
*{margin:0;padding:0;}
body{font-family:"Microsoft YaHei",微软雅黑;color:#333;font-size:12px;}
ul,li{list-style:none;}
img,input{border:none;vertical-align:middle;}
a{text-decoration:none;outline:none;}
select,input,button,label{vertical-align:middle;outline:none;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
em,h1,h2,h3,h4,h5,h6{font-weight:normal;font-style:normal;}
input,textarea{border:none;outline:none;}
/*顶部通栏*/
.wrap{width:100%;background:#f5f5f5;border-bottom:1px solid #eee;font-family:"simsun";}
.header{width:99rem;width:990px;margin:0 auto;line-height:3.5rem;height:3.5rem;height:35px;line-height:35px;}
.topNav{float:left;}
.nav_login{float:right;}
.nav_login em{color:#999;margin-right:10px;}
.topNav a{float:left;display:inline-block;color:#999;}
.topNav a:hover{color:#666;}
.topNav span{padding:0 5px;display:inline-block;float:left;color:#999;}
.header_con{margin:0 auto;width:990px;height:65px;padding:30px 0;}
.header_con img{width:360px;height:38px;}
.nav_login a,.nav_login span{color:#999;}
.nav_login a:hover{color:#666;}
/*logo*/
.logo_wrap{height:100px;}
.logo{padding:26px 0;width:1000px;margin:0 auto;}
.search_box{float:right;position:relative;margin-top:6px;}
.search_box input{border:1px solid #e0e0e0;width:288px;height:34px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;line-height:36px;padding:0 5px;color:#ddd;}
.search_box input.current{border:1px solid #25AC5D;}
.search_btn{display:block;width:18px;height:18px;background:url(/images/2016www/searchBtn.png) left top no-repeat;position:absolute;right:9px;top:9px;}
.search_btn:hover{background:url(/images/2016www/searchBtn_ing.png) left top no-repeat;}
/*导航*/
.nav_wrap{width:100%;height:40px;line-height:40px;background:#25ac5d;margin-bottom:8px;}
.nav{width:1000px;margin:0 auto;}
.nav_item{float:left;text-align:center;font-size:16px;}
.nav_item a:link,.nav_item a:visited{color:#fff;display:block;padding:0 20px;}
.nav_item a:hover{color:#71fbaa;}
.nav_item a.current{background:#1c8347;color:#fff;}
/*banner*/
.banner_wrap{width:100%;margin-bottom:35px;}
.banner{width:1000px;height:450px;overflow:hidden;position:relative;margin:0 auto;}
.banner_img{width:6000px;position:relative;left:0px;}
.banner_scroll,.banner_scroll_copy{float:left;}
.banner_img img{width:1000px;height:450px;}
.banner_img li{float:left;position:relative;}
.banner_explain{height:42px;line-height:42px;width:620px;position:absolute;left:0px;bottom:30px;background:url(/images/2016www/black_60.png) left top repeat;padding:0 20px;overflow:hidden;}
.banner_dot{position:absolute;left:0px;bottom:5px;width:1000px;text-align:center;height:16px;line-height:16px;}
.banner_dot span{display:inline-block;width:16px;height:16px;background:url(/images/2016www/dot.png) left top no-repeat;margin:0 2px;cursor:pointer;}
.banner_dot span.current{background:url(/images/2016www/dot_current.png) left top no-repeat;}
.control_btn{width:80px;height:80px;display:none;position:absolute;top:50%;margin-top:-40px;}
.prev{left:0px;background:url(/images/2016www/prev.png) left top no-repeat;}
.next{right:0px;background:url(/images/2016www/next.png) left top no-repeat;}
.prev:hover{background:url(/images/2016www/prev_hover.png) left top no-repeat;}
.next:hover{background:url(/images/2016www/next_hover.png) left top no-repeat;}
.banner_img div{float:left;}
/*主体布局*/
.content_wrap{width:100%;margin-bottom:28px;}
.content{width:1000px;margin:0 auto;}
.ctnL,.ctnR{float:left;}
.ctnL{width:660px;margin-right:40px;}
.ctnR{width:300px;padding-top:5px;}
/*资讯模块*/
.zixun_moduel{margin-bottom:38px;}
.zixun_logo{position:relative;z-index:99;height:40px;background:url(/images/2016www/logo_lv2.png) -60px -142px no-repeat;}
.zixun_cont{width:660px;height:428px;border:2px solid #a8ddc7;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;position:relative;top:-2px;}
.zixun_cont .picNews_box .news_item{width:210px;height:139px;position:relative;float:left;margin-right:15px;}
.zixun_cont .picNews_box .news_item img{width:210px;height:139px;}
.picNews_box{width:676px;padding-top:15px;margin-bottom:32px;}
.zixun_cont .picNews_box .news_item span{position:absolute;left:0;bottom:0;width:190px;padding:0 10px;height:29px;line-height:29px;color:#fff;background:url(/images/2016www/black_60.png) left top repeat;}
/*资讯模块切换区*/
.zixun_cont .tab_sel{width:165px;float:left;text-align:center;border-bottom:4px solid #A8DDC7;padding-bottom:12px;}
.tab_sel span{font-size:18px;color:#46a87f;cursor:pointer;font-weight:bold;}
.tab_sel span a:link,.tab_sel span a:hover,.tab_sel span a:visited{color:#46a87f;}
.zixun_cont .tab_sel.cur{background:url(/images/2016www/tab_cur.png) center bottom no-repeat;border-bottom:4px solid #46a87f;}
.tab_sel.cur span a:link,.tab_sel.cur span a:hover,.tab_sel.cur span a:visited{color:#92d5ae;}
.tabL .news_item{width:210px;height:139px;position:relative;}
.tabL .news_item img{width:210px;height:139px;}
.tabL .news_item span{position:absolute;left:0;bottom:0;width:190px;padding:0 10px;height:29px;line-height:29px;color:#fff;background:url(/images/2016www/black_60.png) left top repeat;}
.tabL,.tabR{float:left;}
.tabR{width:430px;}
.tabL{margin-right:20px;}
.tab_cont{zoom:1;padding-top:25px;position:absolute;left:0;top:0;width:660px;background:#fff;display:none;}
.tab_cont.cur{display:block;}
.tab_cont:after{content:"";display:block;clear:both;}
.news_rule{font-size:16px;margin-bottom:15px;line-height:16px;}
.news_rule span{color:#46A87F;border-right:1px solid #ccc;padding-right:10px;margin-right:10px;}
.news_rule a:link,.news_rule a:visited{color:#444;}
.news_rule a:hover{color:#46A87F;}
.tab_body{position:relative;}
/*广告*/
.ads_01{height:125px;width:660px;margin-bottom:40px;}
.ads_01 img{height:125px;width:660px;}
/*服务模块*/
.serve_moduel{margin-bottom:38px;}
.serve_logo{position:relative;z-index:99;height:40px;background:url(/images/2016www/logo_lv2.png) -60px -239px no-repeat;}
.serve_cont{position:relative;top:-2px;width:660px;height:475px;border:2px solid #a8ddc7;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.serve_cont .picNews_box .news_item{width:322px;height:185px;position:relative;float:left;margin-right:16px;}
.serve_cont .picNews_box .news_item img{width:322px;height:185px;}
.serve_cont .picNews_box .news_item span{position:absolute;left:0;bottom:0;width:302px;padding:0 10px;height:29px;line-height:29px;color:#fff;background:url(/images/2016www/black_60.png) left top repeat;}
.serve_cont .tab_sel{width:330px;float:left;text-align:center;border-bottom:4px solid #A8DDC7;padding-bottom:12px;}
.serve_cont .tab_sel.cur{background:url(/images/2016www/tab_cur.png) center bottom no-repeat;border-bottom:4px solid #46a87f;}
.job_cont{padding:0 15px;position:relative;top:-10px;}
.job_item{zoom:1;height:35px;line-height:35px;}
.job_item:after{content:'';display:block;clear:both;}
.job_item span,.job_item a{display:inline-block;float:left;}
.job_name{width:126px;}
.job_exp{width:96px;}
.job_item .job_money{width:49px;color:#eb4c36;}
.job_company{width:114px;}
.job_item .job_add{71px;margin-right:22px;width:74px;}
.job_item a{width:68px;text-align:center;height:23px;background:#25ac5d;border-bottom:1px solid #008e54;color:#fff;margin-top:6px;line-height:24px;}
.job_item a:hover{background:#008E54;}
.job_item span{font-size:14px;color:#444;margin-right:17px;}
/*品牌模块*/
.pinpai_logo{position:relative;z-index:99;height:40px;background:url(/images/2016www/logo_lv2.png) -60px -45px no-repeat;}
.pinpai_cont{position:relative;top:-2px;width:660px;height:426px;border:2px solid #a8ddc7;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.pinpai_cont .picNews_box .news_item{width:210px;height:139px;position:relative;float:left;margin-right:15px;overflow:hidden;}
.pinpai_cont .picNews_box .news_item img{width:210px;height:139px;}
.pinpai_cont .picNews_box .news_item span{position:absolute;left:0;bottom:0;width:190px;padding:0 10px;height:29px;line-height:29px;color:#fff;background:url(/images/2016www/black_60.png) left top repeat;}
.pinpai_cont .picNews_box .news_item .play_icon{display: block;height: 34px;width: 33px;background: url(/images/2016www/play_ico_13.png) left top no-repeat;position: absolute;left:96px;top:47px;}
.pinpai_cont .picNews_box .news_item a:hover .play_icon{background:url(/images/2016www/play_ico_10.png) left top no-repeat;}
.pinpai_cont .tab_sel{width:165px;float:left;text-align:center;border-bottom:4px solid #A8DDC7;padding-bottom:12px;}
.pinpai_cont .tab_sel.cur{background:url(/images/2016www/tab_cur.png) center bottom no-repeat;border-bottom:4px solid #46a87f;}
.pinpai_cont .shade_box .news_item{width:210px;height:139px;position:relative;float:left;margin-right:15px;}
.pinpai_cont .shade_box .news_item img{width:210px;height:139px;}
.shade_box{width:676px;padding-top:15px;margin-bottom:32px;}
.pinpai_cont .shade_box .news_item .news_txt{position:absolute;left:0;top:0;width:210px;height:139px;color:#fff;}
.news_txt .default_txt{position:absolute;left:0;bottom:0;padding:0 10px;height:29px;line-height:29px;background:url(/images/2016www/black_60.png) left top repeat;width:190px;}
.news_txt .hover_txt{background:url(/images/2016www/black_70.png) left top repeat;padding:0 10px;line-height:18px;height:139px;display:none;}
.news_txt .hover_txt .prd_name{padding-top:39px;}
.news_txt .hover_txt .sup_name{padding-top:22px;}
.corner{position: absolute;width: 58px;height: 28px;display: block;left: -6px;top: 0px;background: url(/images/2016www/corner_mark.png) left top no-repeat;z-index: 90;}
.pinpai_cont .shade_box .news_item span{position:absolute;left:0;bottom:0;padding:0 10px;height:29px;line-height:29px;background:url(/images/2016www/black_60.png) left top repeat;width:190px;color:#fff;}
/*吾谷会展*/
.exhibition_box{height:464px;position:relative;margin-bottom:40px;}
.exhibition_tit{height:44px;background:url(/images/2016www/titBG.png) left top repeat-x;line-height:44px;padding:0 20px;}
.exhibition_tit span{color:#fff;font-size:22px;}
.exhibition_tit a{float:right;padding-right:16px;background:url(/images/2016www/more_icon.png) right center no-repeat;color:#fff;font-size:14px;}
.exhibition_cala{position:relative;z-index:600;}
/*日历选择*/
.datebox{height:40px;background:#32ab76;padding-left:20px;position:relative;z-index:99;}
.year_box,.month_box,.class_box{float:left;height:27px;border:1px solid #128252;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;position:relative;margin-top:6px;background:#fff;}
.month_show,.year_show,.class_show{position:relative;overflow:hidden;height:27px;}
.month_show input,.year_show input,.class_show input{padding-left:8px;font-size:14px;color:#666;height:27px;background:transparent;width:60px;line-height:27px;cursor:pointer;}
.year_box{width:92px;margin-right:18px;}
.month_box{width:53px;margin-right:18px;}
.class_box{width:74px;}
.month_sel,.year_sel,.class_sel{display:none;background:#fff;border:1px solid #128252;line-height:20px;}
.month_sel li,.year_sel li,.class_sel li{padding-left:8px;cursor:pointer;}
.month_sel li:hover,.year_sel li:hover,.class_sel li:hover{background:#f0f0f0;}
.control{position:absolute;right:0px;top:0px;width:24px;height:29px;background:#128252;}
.control span{display:block;width:8px;height:8px;}
.control .minus{background:url(/images/2016www/minus.png) left top no-repeat;position:absolute;left:9px;top:6px;}
.control .add{background:url(/images/2016www/add.png) left top no-repeat;position:absolute;left:9px;top:15px;}
.control .minus.dis{background:url(/images/2016www/minus_dis.png) left top no-repeat;}
.control .add.dis{background:url(/images/2016www/add_dis.png) left top no-repeat;}
.control .cont_down{background:url(/images/2016www/add.png) left top no-repeat;position:absolute;left:9px;top:11px;}
/*表格样式*/
.jcalendar{border-bottom:1px solid #E0E0E0;}
.calandar_style{border-collapse:collapse;width:300px;background:#fff;}
.calandar_style thead tr{height:24px;}
.calandar_style tr{height:36px;}
.calandar_style thead{width:300px;}
.calandar_style thead th{font-size:14px;border:1px solid #3cbc83;}
.calandar_style tbody td{border:1px solid #E0E0E0;text-align:center;font-size:16px;cursor:pointer;position:relative;}
.calandar_style tbody td a{color:#666;display:block;}
/*弹层部分*/
.dayDesc{display:none;}
.recTag{position:absolute;right:0;bottom:0;background:url(/images/2016www/tuijian_07.png) left top no-repeat;width:5px;height:5px;}
.dayDesc_copy{border-top:4px solid #419764;height:129px;background:#51bd7d;box-shadow:0px 1px 8px #b0b0b0;position:relative;display:none;}
.list_title{font-size:14px;color:#fff;font-weight:bold;padding-top:6px;margin-bottom:8px;padding-left:10px;}
.pop_item{text-indent:-6px;font-size:12px;height:38px;}
.pop_item a:link,.pop_item a:visited{color:#fff;display:block;padding-left:10px;height:30px;padding:2px 0 6px 10px;}
.pop_item a:hover{background:#74ca97;color:#1c8347;}
.expoCity{margin-right:14px;float:left;}
.expoCity,.expoName{display:inline-block;}
.expoName{width:226px;}
.see_more{position:absolute;width:300px;text-align:center;bottom:4px;left:0px;}
.see_more a{background:url(/images/2016www/more_icon.png) right center no-repeat;padding-right:16px;color:#fff;}
/*推荐会展样式*/
.expo_tuijian{position:absolute;width:300px;left:0;bottom:-8px;}
.expoT_item{text-indent:-5px;margin-bottom:14px;font-size:14px;}
.expoT_class{color:#46a87f;}
.expoT_title:link,.expoT_title:visited{color:#666;}
.expoT_title:hover{color:#46A87F;}
/*右侧广告位*/
.ads_02{margin-bottom:38px;}
.ads_02 img{width:300px;height:250px;}
/*今日推荐作者*/
.various_title{background:url(/images/2016www/top_line_arrow_03.png) left bottom no-repeat;padding-bottom:14px;font-size:24px;color:#46A87F;}
.author_contain{padding-top:20px;position:relative;overflow:hidden;height:318px;margin-bottom:40px;}
.author_list{margin-bottom:3px;height:104px;overflow:hidden;position:relative;}
.author_list a:link,.author_list a:visited{display:block;color:#fff;background:#92d5ae;overflow:hidden;position:relative;}
.author_list a:hover{background:#51bd7d;}
.author_img,.author_info{float:left;}
.author_img img{width:104px;height:104px;}
.author_info{width:164px;padding:16px;overflow:hidden;position:relative;}
.author_name{display:block;font-size:20px;color:#fff;font-weight:bold;margin-bottom:6px;}
.author_explain{font-size:14px;line-height:20px;}
/*政策热词*/
.hot_words{margin-bottom:37px;}
.words_cont{padding-top:20px;}
.words_cont a:link,.words_cont a:visited{padding:0px 9px;height:22px;line-height:22px;background:#dcf2e5;font-size:14px;color:#46A87F;display:block;float:left;margin-right:6px;margin-bottom:8px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
.words_cont a:hover{background:#51BD7D;color:#fff;}
/*广告位*/
.ads_03{margin-bottom:40px;}
.ads_03 img{width:300px;height:100px;}
/*大宗产品数据*/
.article_contain{padding-top:10px;}
.aritcle_item{background:url(/images/2016www/circle_icon.png) 0 18px no-repeat;padding:10px 0px 10px 10px;border-top:1px solid #F0F0F0;}
.aritcle_item.first{border-top:0px;}
.aritcle_item a:link,.aritcle_item a:visited{color:#444;font-size:14px;line-height:20px;}
.aritcle_item a:hover{color:#46A87F;}
/*底部广告*/
.endAds_wrap{width:100%;margin-bottom:40px;}
.end_ads{width:1000px;margin:0 auto;}
.end_ads img{width:1000px;height:auto;}
/*链接部分*/
.link_wrap{width:100%;background:#25ac5d;margin-bottom:15px;}
.link_cont{width:1000px;margin:0 auto;padding-top:10px;padding-bottom:18px;}
.link_moudle{padding-top:10px;}
.link_tit{color:#fff;font-size:14px;line-height:14px;}
.link_tit span{margin-right:10px;}
.link_list{padding-top:13px;}
.link_list a:link,.link_list a:visited{color:#fff;margin-bottom:10px;display:inline-block;}
.link_list a:hover{color:#1a7e46;}
.link_list span{color:#fff;padding:0 3px;}
/*底部*/
.foot_wrap{width:100%;}
.foot{width:1000px;margin:0 auto;padding-bottom:12px;}
.contact_us{line-height:12px;}
.contact_us a:link,.contact_us a:visited{color:#666;}
.contact_us a:hover{color:#444;}
.contact_us span{padding: 0 8px;color:#bbb;font-size:10px;}
.contact_info{border-bottom:1px solid #e0e0e0;padding-bottom:20px;margin-bottom:14px;}
.contact_method{float:left;margin-right:42px;padding-top:50px;}
.contM_titl{font-size:14px;color:#666;margin-bottom:5px;}
.contact_method .tel{background:url(/images/2016www/tel_icon.png) left center no-repeat;padding-left:20px;margin-right:14px;font-size:14px;color:#888;}
.contact_method .mail{background:url(/images/2016www/mail_icon.png) left center no-repeat;padding-left:16px;font-size:14px;}
.contact_method .mail a:link,.contact_method a:visited{color:#888;}
.contact_method .mail a:hover{color:#444;}
.wx_code{float:right;margin-top:-5px;}
.wx_code p{text-align:center;color:#666;padding-top:6px;}
.wugu_wx,.senmeng_wx{float:left;}
.wugu_wx{margin-right:63px;}
.blame_img{text-align:center;margin-bottom:12px;}
.blame_img span{padding:0 4px;}
.blame_txt{text-align:center;color:#999;}
.blame_txt span{padding:0 6px;}
.blame_txt p{margin-bottom:4px;}
/*视频样式*/
.play_video img{transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;}
.pinpai_cont .picNews_box .news_item.play_video:hover img{width:230px;height:159px;transform:translate(-10px,-10px);-ms-transform:translate(-10px,-10px); /* IE 9 */-moz-transform:translate(-10px,-10px); /* Firefox */-webkit-transform:translate(-10px,-10px); /* Safari and Chrome */-o-transform:translate(-10px,-10px); /* Opera */
