 /*全局变量*/
* {
  -webkit-text-size-adjust: none
}
html {
  overflow-y: scroll
}
html, body {
  text-align: left
}
body, input, textarea, select, button {
  font: 12px "Microsoft YaHei", Verdana, arial, sans-serif;
  line-height: 22px
}
input, textarea, select, button {
  vertical-align: middle
}
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, table {
  margin: 0;
  padding: 0
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
img {
  vertical-align: middle;
  border: 0
}
h1, h2, h3, h4, h5, h6 {
  font-size: 1em
}
ul, dl {
  list-style: none
}
a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: #3278e6;
  blur:expression(this.blur())
}
a:hover {
  outline: none;
  color: #78aaf0;
  text-decoration: none;
}
.w990 {
  clear: both;
  margin: auto;
  width: 990px
}
.w960 {
  clear: both;
  margin: auto;
  width: 960px
}
.w920 {
  clear: both;
  margin: auto;
  width: 920px
}
.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 10px
}
.box {
  clear: both;
  height: 0px
}
*html .box {
  display: inline;
  clear: both
}
.fontwhite {
  color: #FFF !important
}
.fontblue {
  color: #3278e6 !important
}
.fontred {
  color: #F00 !important
}
.fontorange {
  color: #ff7800 !important
}
a.fontwhite:hover {
  color: #d2d2d2 !important
}
.relative {
  position: relative;
}
/*常用样式简写*/
.fl {
  float: left
}
.fr {
  float: right
}
.hide {
  display: none
}
.mt5px_ie6 {
  _margin-top: 5px
}
.mt6px_ie6 {
  _margin-top: 6px
}
.mt10px {
  margin-top: 10px
}
 .mt20px{
   margin-top: 20px;
 }
.mb10px {
  margin-bottom: 10px
}
.mr10px {
  margin-right: 10px
}
.p5px {
  padding: 5px
}
.p10px {
  padding: 10px
}
.pt10px {
  padding-top: 10px
}
.p20px {
  padding: 20px
}
.pl10px {
  padding-left: 10px
}
.pl40px {
  padding-left: 40px
}
.pl5em {
  padding-left: 5em
}
.t2em {
  text-indent: 2em
}
.hidden {
  display: none
}
.hide_word {
  text-indent: -65535px;
  overflow: hidden
}
.pointer {
  cursor: pointer
}
.yahei {
  font-family: "Microsoft YaHei", arial, sans-serif
}
/*字体样式*/
.font12px {
  font-size: 12px
}
.font14px {
  font-size: 14px
}
.font16px {
  font-size: 16px
}
.fontnormal {
  font-weight: normal
}
/*头部*/
.header {
  position: relative;
  height: 80px;
  padding-bottom: 10px;
  background-color: #3278e6;
  z-index: 99;
  min-width: 990px;
}
.logo {
  float: left;
  margin: 14px 0 0 10px;
}
.logo a {
  display: inline-block;
  height: 70px;
  width: 160px;
  margin-top: 5px
}
/*菜单*/
.head-nav {
  text-align: center;
  font-size: 16px;
  height: 80px;
  float: left;
  z-index: 4;
  position: relative;
}
.head-nav ul ul {
  display: none;
}
.head-nav ul li:hover > ul {
  display: block;
}
.head-nav ul {
  list-style: none;
  position: relative;
  display: inline-table;
}
.head-nav ul:after {
  content: "";
  clear: both;
  display: block;
}
.head-nav ul li {
  float: left;
  border-top: 1px solid #3278e6;
  border-left: 1px solid #3278e6;
  border-right: 1px solid #3278e6;
}
.head-nav ul li:hover {
  border-top: 1px solid #ff7800;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  background: #ffffff;
}
.head-nav ul li:hover a {
  color: #aaaaaa;
  text-decoration: none;
}
.head-nav ul li a {
  display: block;
  padding: 30px 0 10px 0;
  width: 116px;
  text-decoration: none;
  position: relative;
  color: #b4d2ff;
}
.head-nav ul li:hover a.head-nav-select {
  color: #2864c8;
}
.head-nav ul li a.head-nav-select {
  color: #fff;
}
.head-nav ul li .ico_select {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: absolute;
  left: 56px;
  top: 57px;
}
.head-nav ul li .ico_triangle {
  position: absolute;
  width: 20px;
  height: 5px;
  bottom: 17px;
  background: url("/images/spider_base_v4.png") 5px -370px no-repeat;
}
.head-nav ul li:hover .ico_triangle {
  background-position: 5px -400px;
}
.head-nav ul ul {
  padding: 0;
  position: relative;
  /*border: 1px solid #d2d2d2;*/
  border-top: none;
  border-bottom: none;
  background: #ffffff;
  /*filter:progid:DXImageTransform.Microsoft.Shadow(color=#828282, direction=120, strength=3);-moz-box-shadow: 1px 3px 10px #828282; -webkit-box-shadow: 1px 3px 10px #828282; box-shadow: 1px 3px 10px #828282;*/
}
.head-nav ul ul li, .head-nav ul ul li:hover {
  float: none;
  border: none;
  border-bottom: 1px solid #d2d2d2;
  position: relative;
}
.head-nav ul ul li a {
  padding: 14px 0px;
  color: #FFFFFF;
}
.head-nav ul ul li a:hover {
  color: #3278e6;
}
.head-nav ul li:hover a:hover {
  color: #3278e6;
}
.head-nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
/*通用按钮*/
a.btn-default {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
a.btn-yellow {
  display: inline-block;
  text-align: center;
  color: #FFF;
  border: none;
  background-color: #ff7800;
}
a.btn-yellow:hover {
  background-color: #ff961e;
  color: #FFF;
  text-decoration: none;
}
a.btn-yellow:focus, a.btn-yellow:active {
  background-color: #e66414;
}
a.btn-blue {
  display: inline-block;
  text-align: center;
  color: #FFF;
  border: none;
  background-color: #3278e6;
}
a.btn-blue:hover {
  background-color: #78aaf0;
  color: #FFF;
  text-decoration: none;
}
a.btn-blue:focus, a.btn-blue:active {
  background-color: #2864c8;
}
/*通用输入框*/
.inp-default {
  border: 1px solid #d2d2d2;
  vertical-align: middle;
  outline: none;
}
.inp-default:focus {
  -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.15);
}
/*关闭按钮*/
.close {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}
.close:hover::before, .close:hover::after {
  background: #ff961e;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 60%;
  top: 50%;
  left: 20%;
  margin-top: -1px;
  background: #FFF;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/*登录*/
.user-box {
  float: right;
  position: relative;
  z-index: 99;
}
.user-info li {
  width: 200px
}
.user-info ul li a {
  width: 160px;
  padding-left: 20px;
  *padding-left: 0px;
}
.user-info ul li:hover {
  border-top: 1px solid #ff7800;
}
.user-info ul ul li a {
  color: #000;
  float: none;
  padding-right: 0px;
  width:100%;
  text-align: center;
}
.user-info .user-img {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 22px 5px 0px 5px;
  padding-bottom: 15px;
  bottom: 3px;
  *padding-bottom: 0px;
  *bottom: 0px;
}
.user-img img {
  border-radius: 50%;
  width: 35px;
  /*height: 35px;*/
  overflow: hidden
}
.user-info ul .user-name {
  overflow: hidden;
  width: 135px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
a.btn-login:hover {
  text-decoration: none;
  background-color: #78aaf0;
  border: 1px solid #a2bbda;
}
a.btn-login:active, a.btn-login:focus {
  text-decoration: none;
  background-color: #2864c8;
}
a.btn-login, a.btn-reg {
  line-height: 35px;
  height: 35px;
  width: 60px;
  font-size: 14px;
}
a.btn-reg {
  border: 1px solid #78aaf0;
  background-color: #3278e6;
  color: #b4d2ff;
}
a.btn-reg:hover {
  text-decoration: none;
  background-color: #78aaf0;
  border: 1px solid #a2bbda;
}
a.btn-reg:active, a.btn-reg:focus {
  text-decoration: none;
  background-color: #2864c8;
}
a.btn-login {
  margin-left: 5px;
  border: 1px solid #78aaf0;
  background-color: #3278e6;
  color:#b4d2ff;
}
#welcome {
  position: relative;
  top: 25px;
}
/*头部提醒*/
.head-tip {
  min-width: 990px;
  width: 100%;
  height: 50px;
  background: center center no-repeat;
}
.head-tip-btn {
  vertical-align: middle;
  line-height: 35px;
  height: 35px;
  width: 100px;
  font-size: 14px;
  border-radius: 3px;
  position: absolute;
  right: 55px;
  top: 8px;
  z-index: 3;
}
.head-tip-close {
  position: absolute;
  right: 10px;
  top: 10px;
}
/*提示信息*/
.tips {
  padding: 8px;
  line-height: 24px;
  background-color: #f5f5f5;
  border: 1px solid #d2d2d2;
  text-align: left;
}
.tips-close {
  display: block;
  float: right;
  z-index: 2;
  height: 22px;
  width: 22px;
  margin-top: 4px!important;
  background: url("/images/spider_search_v4.png") no-repeat 3px -1283px;
  cursor: pointer;
}
.tips-close:hover {
  background: url("/images/spider_search_v4.png") no-repeat -33px -1283px;
}
.tips dl {
  margin-left: 36px
}
.tips dt {
  font-weight: bold
}
.tips dd {
  font-family: "宋体"
}
.tips p {
  line-height: 30px;
  padding-left: 35px;
  font-size: 14px;
  background: url("https://cdn.kuaidi100.com/images/spider_search_v4.png") 10px -199px no-repeat;
  color: #ff7800
}
/*尾部菜单*/
.foot-follow {
  padding: 20px 0;
  height: 30px;
}
.ft-info-social {
  float: left;
  width: 500px;
}
.ft-info-social dt {
  display: inline-block;
  float: left;
  line-height: 32px;
  font-size: 16px;
  color: #828282;
}
.ft-info-social dd a {
  display: inline-block;
  margin: 0 6px;
  /*position: relative;*/
}
.ft-social-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("/images/spider_base_v4.png") no-repeat 0 -50px;
  overflow: hidden;
}
.ft-social-weibo .ft-social-icon {
  background-position: -50px -50px;
}
.ft-wx-code {
  display: none;
  position: absolute;
  width: 150px;
  height: 174px;
  background: url("/images/spider_base_v4.png") no-repeat 0px -160px;
  top: -170px;
  left: -60px;
}
.ft-social-wx:hover div {
  display: block
}
.ft-social-qq .ft-social-icon {
  background-position: -100px -50px;
}
.ft-select-lang {
  float: right;
  font-size: 16px
}
/*尾部*/
.footer {
  background: #f5faff;
}
.foot-link {
  padding: 20px 0;
  border-bottom: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2;
}
.foot-link, .foot-link a {
  color: #828282;
  font-size: 14px;
  line-height: 25px;
}
.foot-link, .foot-link a:hover {
  color: #3278e6;
}
.foot-link dt {
  line-height: 35px;
  font-size: 14px;
  color: #323232;
}
.foot-link dl {
  float: left;
  width: 25%;
}
.footCpoyright {
  width: 660px;
  margin: 10px auto;
}
.footCpoyright li {
  margin-left: 8px;
  line-height: 30px;
  white-space: nowrap;
  float: left;
  color: #aaaaaa;
}
.footCpoyright a {
  color: #aaaaaa;
}
.footCpoyright a:hover {
  color: #3278e6;
}
.ft-kingde-log {
  display: block;
  width: 67px;
  height: 30px;
  background: url("/images/spider_base_v4.png") 0px -330px;
}
.valid {
  margin: auto;
  width: 212px;
  clear: both;
}
.valid li {
  display: inline-block;
  float:left;
}
.valid li a {
  display: block;
  width: 50px;
  height: 50px;
}
.valid .sznet01 {
  background: url("/images/spider_base_v4.png") 6px -98px
}
.valid .sznet02 {
  background: url("/images/spider_base_v4.png") -43px -98px
}
.valid .sznet03 {
  background: url("/images/spider_base_v4.png") -92px -98px
}
.valid .sznet04 {
  background: url("/images/spider_base_v4.png") -145px -98px
}
/*转发*/
.send-box {
  padding: 8px;
  line-height: 40px;
  border: 1px solid #d2d2d2;
}
.send-box .send-title{
  font-size:16px;
  text-align:center;
}
.send-box div {
  line-height: 36px
}
.send-box hr {
  border: 1px dotted #d2d2d2
}
.inp-send {
  padding: 5px 4px;
  height: 18px;
  line-height: 18px;
  font: 12px Verdana;
  border: 1px solid #d2d2d2
}
.inp-send2 {
  width: 424px;
  height: 80px;
  padding: 5px 4px;
  font: 12px Verdana;
  resize: none;
  line-height: 20px;
  border: 1px solid #d2d2d2
}
.btn-copy {
  width: 56px;
  height: 30px;
  line-height: 30px;
 *line-height:26px;
  _line-height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  overflow: hidden;
  border: 0px;
  color: #FFF;
  background-color: #3278e6;
}
.send-box .hover {
  background-color: #78aaf0;
}
.inp-send, .inp-send2 {
  width: 454px;
  outline:none;
}
/*浮动*/
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  _position: absolute;
 _top:expression(eval(document.documentElement.scrollTop));
}
.fullscreen .full-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  _display: none;
}
.fullscreen .full-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fullscreen .send-box {
  margin: 450px auto 0;
  width: 592px;
  background-color: #fff;
}
/*投影*/
.box-shadow {
 filter:progid:DXImageTransform.Microsoft.Shadow(color=#828282, direction=120, strength=3);
  -moz-box-shadow: 1px 10px 20px #828282;
  -webkit-box-shadow: 1px 10px 20px #828282;
  box-shadow: 1px 10px 20px #828282;
}
/*nav-crumbs*/
.nav-crumbs {
  line-height: 50px;
  font-size: 14px;
  color: #828282;
  height: 50px;
}
.nav-crumbs a {
  display:inline-block;
  padding:0 5px;
  color: #828282;
}
.nav-crumbs a:hover {
  color: #3278e6;
}
.animation_paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
/*feedback*/
.fix-box-middle{
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 500;
}
.fix-box-middle .ctrl-btn-1{
  display: block;
  margin-bottom: 5px;
  width: 48px;
  height: 58px;
  background: url("/images/index/spider_index_v4.png") 0px -942px no-repeat;
  cursor:pointer;
}
.fix-box-middle .ctrl-btn-1:hover{
  background-position:-140px -942px
 }
.fix-box-middle .ctrl-btn-2{
  display: block;
  margin-bottom: 18px;
  width: 48px;
  height: 40px;
  background-color: #2864c8;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
.fix-box-middle .ctrl-btn-2:hover{
  background-color: #78aaf0;
}
 .btn-ok {
   display: inline-block;
   margin-right: 10px;
   width: 56px;
   height: 28px;
   line-height: 28px;
   text-align: center;
   color: #FFF;
   border: none;
   background-color: #289646;
 }
 .btn-cancel {
   display: inline-block;
   width: 56px;
   height: 28px;
   line-height: 28px;
   text-align: center;
   color: #fff;
   border: none;
   background-color: #289646;
 }