/*section*/
.blue-section, .white-section {
  min-height: 400px;
  position: relative;
  min-width: 990px;
}
.blue-section table, .white-section table {
  margin: auto;
  width: 920px;
}
.blue-section {
  background-color: #3278e6;
}
.white-section {
  background-color: #f5faff;
}
.section-down {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  background: url("/images/index/spider_index_v4.png") 0px -80px no-repeat;
  width: 35px;
  height: 35px;
  top: -20px;
  left: 48%;
  -webkit-transition: color .5s, background .5s, height .5s;
  -moz-transition: color .5s, background .5s, height .5s;
  -o-transition: color .5s, background .5s, height .5s;
  -ms-transition: color .5s, background .5s, height .5s;
  transition: color .5s, background .5s, height .5s;
}
.section-up {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.section-down:hover {
  background: url("/images/index/spider_index_v4.png") 0px -75px no-repeat;
}
.section-font {
  line-height: 30px;
  font-size: 14px
}
.section-font h3 {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 10px;
}
.section-color ul li{
  color: #787878;
}
a.btn-index-sec {
  position: relative;
  width: 300px;
  line-height: 45px;
  margin: 10px 0;
  font-size: 18px;
  top:30px;
}
.index-section-list {
  color: #b4d2ff;
  line-height: 36px;
  /*list-style: outside;
  margin-left: 20px;*/
}
.index-cloud {
  position: absolute;
  background: url("/images/index/spider_index_v4.png") 0px -310px no-repeat;
  width: 75px;
  height: 55px;
  opacity: 0.8;
}
/*surprise*/
.surprise-bigbox{
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 210px;
  background: url(/images/index/surprise/bigbox.png) 0px 0px no-repeat;
  right: 20px;
  z-index: 100;
  top: 160px;
  transition:all 5s linear 1s;
  -moz-transition:all 5s linear 1s ; /* Firefox 4 */
  -webkit-transition:all 5s linear 1s; /* Safari and Chrome */
  -o-transition:all 5s linear 1s; /* Opera */
}
.surprise-smallbox{
  position: absolute;
  width: 200px;
  height: 210px;
  background: url(/images/index/surprise/smallbox.png) 0px 0px no-repeat;
  left: 230px;
  z-index: 2;
  top: -58px;
}
.surprise-mountain{
  position: absolute;
  width: 350px;
  height: 210px;
  background: url(/images/index/surprise/mountain.png) 0px 0px no-repeat;
  right: 280px;
  z-index: 2;
  top: 245px;
}
.surprise-snow{
  position: absolute;
  width: 920px;
  height: 48px;
  background: url(/images/index/surprise/snow.png) 0px 0px no-repeat;
  z-index: 11;
  top: 37px;
}
.surprise-goosesm{
  position: absolute;
  background: url(/images/index/surprise/wildgoose.png) 0px 0px no-repeat;
  width: 20px;
  height: 25px;
  opacity: 0.8;
}
.surprise-goosesm-one{
  left: 330px;
  top: 200px;
}
.surprise-goosesm-two{
  left: 450px;
  top: 220px;
}
.surprise-goosesm-three{
  left: 500px;
  top: 190px;
}
.surprise-goosebg{
  position: absolute;
  background: url(/images/index/surprise/wildgoose.png) 0px -35px no-repeat;
  width: 30px;
  height: 30px;
  opacity: 0.8;
}
.surprise-goosebg-one{
  left: 380px;
  top: 230px;
}
.surprise-goosebg-two{
  left: 535px;
  top: 215px;
}
.surprise-goosebger{
  position: absolute;
  background: url(/images/index/surprise/wildgoose.png) 0px -80px no-repeat;
  width: 40px;
  height:40px;
  opacity: 0.8;
  left: 550px;
  top: 170px;
}
.surprise-goosebgest{
  position: absolute;
  background: url(/images/index/surprise/wildgoose.png) 0px -120px no-repeat;
  width: 50px;
  height: 50px;
  opacity: 0.8;
  right: 300px;
  top: 230px;
}
.surprise-snowdotsm{
  position: absolute;
  background: url(/images/index/surprise/wildgoose.png) 0px -260px no-repeat;
  width: 10px;
  height: 15px;
}
.surprise-snowdotsm-one{
  left: -80px;
  top: 110px;
}
.surprise-snowdotsm-two{
  top: 300px;
  left: 180px;
}
.surprise-snowdotsm-three{
  left: 50px;
  top: 20px;
}
.surprise-snowdotsm-four{
  right: 260px;
  top: -30px;
}
.surprise-snowdotsm-five{
  left: 320px;
  top: 140px;
}
.surprise-snowdotsm-six{
  right: 320px;
  top: 140px;
}
.surprise-snowdotsm-seven{
  right: 100px;
  top: 150px;
}
.surprise-snowdotbg{
  position: absolute;
  background: url(/images/index/surprise/wildgoose.png) 0px -300px no-repeat;
  width: 20px;
  height: 25px;
}
.surprise-snowdotbg-one{
  right: 230px;
  top: -60px;
}
.surprise-snowdotbg-two{
  top: 180px;
  left: 20px;
}
.surprise-snowdotbg-three{
  right: -50px;
  top: -20px;
}
.cloud {
  transition: all 0.1s linear;
}
.cloud-01 {
  top: 35%;
  left: 40%;
}
.cloud-02 {
  top: -380px;
  left: 35%;
}
.cloud-03 {
  background: url("/images/index/spider_index_v4.png") -75px -320px no-repeat;
  top: -240px;
  left: 48%;
}
.cloud-04 {
  background: url("/images/index/spider_index_v4.png") 0px -440px no-repeat;
  width: 160px;
  height: 70px;
  left: 20%;
  bottom: -10px;
}
.cloud-05{
  position: absolute;
  width: 140px;
  height: 210px;
  background: url("/images/index/spider_index_v4.png") 0px -724px no-repeat;
  right: 165px;
  z-index: 2;
  top: 185px;
}
.cloud-06{
  position: absolute;
  left: 5%;
  top: 250px;
  background: url("/images/index/spider_index_v4.png") 0px -440px no-repeat;
  width: 160px;
  height: 70px;
  opacity: 0.3;
  z-index: 1;
}
.cloud-07{
  left: 130px;
  top: -40px;
}
.cloud-08{
  left: 524px;
  top: 170px;
}
.cloud-09{
  left: 880px;
  top:-60px;
}
.cloud-fly{
  top: -105px;
}
.cloud-hide{
  top: -500px;
  opacity: 0;
}
/*app*/
a.btn-app {
  display: inline-block;
  width: 145px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  margin-left: 76px;
  text-align: left;
  background-color: #ff7800;
}
a.btn-app:hover {
  text-decoration: none;
  background-color: #ff961e;
}
a.btn-app:active, a.btn-app:focus {
  background-color: #e66414;
}
a.btn-app span{
  margin-left: 10px;
  margin-right: 5px;
}
a.btn-app label{
  font-size: 12px;
}
a.btn-ios, .btn-andriod {
  padding-left: 45px;
}
a.btn-ios {
  background: url("/images/index/spider_index_v4.png") 15px -200px no-repeat;
  background-color: #ff7800;
}
a.btn-andriod {
  background: url("/images/index/spider_index_v4.png") 15px -148px no-repeat;
  background-color: #ff7800;
}
a.btn-api {
  width: 310px;
  text-align: center;
  position: relative;
  top: 40px;
}
.index-api-list{
  position: relative;
  top: 40px;
}
.index-down-img {
  background: url("/images/index/spider_index_v4.png") 0px -535px no-repeat;
  width: 127px;
  padding-top: 127px;
  color: #d2d2d2;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 20px;
}
/*api*/
.index-api-list li {
  padding-left: 20px;
  display: inline-block;
  background: url("/images/index/spider_index_v4.png") 0px -273px no-repeat;
  float:right;
  margin-left: 10px;
}
/*partner*/
.partner-box {
  background: url("/images/index/index_partner_v4.jpg") 0px 38px no-repeat;
  position: relative;
  height: 230px;
  margin: 40px auto;
  width: 920px;
}
.partner-box h4 {
  font-size: 16px;
  color: #828282;
  font-weight: normal;
}
.partner-box a {
  font-size: 14px;
  margin-top: 68px;
}
.partner-box .partner-h4 {
  border-top: 1px solid #f5f5f5;
  margin-top: 120px;
  padding-top: 15px;
}
.index_img_print {
  margin-bottom: -138px;
  position: absolute;
  top: 60px;
  z-index: 10;
  left: 484px;
}
.index_dev_txt {
  line-height: 20px;
  color: #787878;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #2a72d0; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #2a72d0;opacity:1;
}

input:-ms-input-placeholder{
  color: #2a72d0;opacity:1;
}

input::-webkit-input-placeholder{
  color: #2a72d0;opacity:1;
}
