/*search*/
.search-section {
  min-width: 990px;
  padding-top: 60px;
  min-height: 350px;
  margin-top: -1px;
  background-color: #3278e6;
}
.search-box {
  width: 920px;
  margin: auto;
  position: relative;
  z-index: 2;
}
.search-absolute {
  /*margin-bottom: 20px;*/
}
.search-title {
  font-size: 26px;
  padding: 0 0 20px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  line-height: 30px;
}
.search-box .com-logo {
  background: #fff;
  line-height: 42px;
  padding: 0;
  cursor: pointer;
  border: 1px solid #d2d2d2;
  border-right: 0px;
}
.search-box .com-logo i {
  display: block;
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 10px;
  height: 10px;
  background: url("/images/spider_search_v4.png") 0px -650px no-repeat;
}
.search-box .com-logo:hover i {
  background-position: -49px -650px;
}
.com-logo img {
  width: 56px;
  height: 56px;
}
.logo-model {
  width: 56px;
  height: 54px;
  line-height: 42px;
  border: none;
  padding: 0;
  opacity: 0;
  position: absolute;
}
.search-box .input-box {
  position: relative;
  box-shadow: 0px 0px 20px 3px #2864c8;
  z-index: 10;
}
.search-box .inp-search {
  padding: 9px 10px;
  width: 655px;
  height: 38px;
  line-height: 36px;
  font-size: 16px;
}
/*.search-box .inp-search:focus {
border: 1px solid #2864c8;
}*/
.search-box .btn-search {
  padding: 0;
  width: 186px;
  height: 58px;
  line-height: 54px;
  font-size: 18px;
  color: #fff;
  background: url("/images/spider_search_v4.png") 84px -576px no-repeat #ff7800;
}
.search-box .btn-search:hover {
  background: url("/images/spider_search_v4.png") 84px -576px no-repeat #ff961e;
}
.search-box .btn-search:focus, .search-box .btn-search:active {
  background: url("/images/spider_search_v4.png") 84px -576px no-repeat #e66414;
}
.search-box .btn-location {
  position: absolute;
  top: 12px;
  left: 692px;
  display: block;
  width: 35px;
  height: 35px;
  background: url("/images/spider_search_v4.png") 8px -30px no-repeat #fff;
}
.search-box .btn-location:hover {
  background-position:-28px -30px
}
/*input-tips */
.input-tips {
  position: absolute;
  z-index: 4;
  top: 58px;
  padding: 1px;
  width: 673px;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  margin: -1px 0 0 57px;
}
.input-tips li.selection {
  line-height: 2em;
  font-size: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.2s linear, background-color 0.2s linear;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
}
.input-tips li.selection span {
  display: inline-block;
  margin: 0 10px;
}
.input-tips li.selection span img {
  margin-bottom: 4px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
}
.input-tips li.selection0 {
  color: #323232;
}
.input-tips li.selection1 {
  color: #323232;
}
.input-tips li.selection2 {
  color: #5a5a5a;
}
.input-tips li.selection3 {
  color: #5a5a5a;
}
.input-tips li.selection4 {
  color: #828282;
}
.input-tips li.selection5 {
  color: #828282;
}
.input-tips li.selection6 {
  color: #aaaaaa;
}
.input-tips li.selection7 {
  color: #aaaaaa;
}
.input-tips li.selection8 {
  color: #d2d2d2;
}
.input-tips li.selection9 {
  color: #d2d2d2;
}
.input-tips li.hover {
  background-color: #d2e6ff;
}
.input-tips li.tips_bottom {
  padding: 2px 5px;
  text-align: right;
  color: #d2d2d2;
}
.input-tips li.histips_bottom{
  padding: 5px 5px;
  color: #d2d2d2;
  padding-left: 10px;
}
.input-tips li.histips_bottom .del-list{
  background: url("/images/spider_search_v4.png?version=201611221800") 0px -1351px no-repeat;
  color: #d2d2d2;
  padding-left: 15px;
  float: right;
}
.input-example {
  padding-left: 64px;
  background-color: #3278e6;
  color: #b4d2ff;
}
.input-example a {
  color: #b4d2ff;
}
.delhistory{
  position: relative;
  display: inline-block;
  background: url("/images/spider_search_v4.png") 8px -1277px no-repeat;
  width: 30px;
  height: 28px;
  vertical-align: middle;
  margin: 0 5px;
  cursor: pointer;
  float: right;
}
.delhistory:hover {
  background: url("/images/spider_search_v4.png") -28px -1277px no-repeat;
}
/*valicode*/
.serch-valicode {
  padding: 5px 0;
  font-size: 14px;
  color: #5a5a5a;
}
.inp-valicode {
  width: 160px;
  height: 24px;
  padding: 4px;
  font-size: 14px;
}
/*result*/
#queryContext {
  z-index: 3
}
.query-box {
  float: left;
  margin-bottom:10px;
}
.result-top {
  width: 918px;
  height: 43px;
  background-color: #ffffff;
  /*border: 1px solid #a2bbda;*/
  border-bottom: none;
}
.result-top span, .result-top a {
  display: inline-block;
  height: 43px;
  line-height: 43px;
  vertical-align: middle;
  font-size: 14px;
}
.result-top a {
  padding-left: 23px;
  width: 37px;
  font-weight: bold;
  color: #3278e6;
}
.result-top .a-rss {
  background: url("/images/spider_search_v4.png") 3px -312px no-repeat;
}
.result-top .a-share {
  background: url("/images/spider_search_v4.png") 8px -342px no-repeat;
}
.result-top .col1 {
  background: url("/images/spider_search_v4.png") 80px -900px no-repeat;
  width: 90px;
  text-align: center;
  color: #323232;
  cursor: pointer;
  padding-left: 14px;
  font-size:16px;
}
.result-top .col1-down {
  background: url("/images/spider_search_v4.png") 80px -941px no-repeat;
  width: 90px;
  text-align: center;
  font-size: 16px;
  color: #5a5a5a;
  cursor: pointer;
  padding-left: 14px;
}
.result-top .col2 {
  width: 303px;
  text-align: left;
  font-size: 16px;
  color: #5a5a5a;
  padding-left: 50px;
}
/*result-info*/
.result-info {
  width: 600px;
  float: left;
}
.queryRight {
  float: right;
  margin-right: 10px;
}
.result-info td {
  padding: 7px;
  color: #828282;/*border-bottom: 1px solid #d2d2d2;
  background-color: #f5f5f5*/
}
.result-info .status {
  width: 30px;
  background: url("/images/spider_search_v4.png") 13px -764px no-repeat;
}
.result-info-down .status {
  width: 30px;
  background: url("/images/spider_search_v4.png") -30px -764px no-repeat;
}
.result-info .status-first {
  background: url("/images/spider_search_v4.png") 13px -804px no-repeat;
}
.result-info .status-check {
  background: url("/images/spider_search_v4.png") 10px -717px no-repeat;
}
.result-info .status-wait {
  background: url("/images/spider_search_v4.png") -30px -802px no-repeat;
}
.status .col2 {
  position: relative;
  z-index:-1;
}
.status .line1 {
  position: absolute;
  left: 6.4px;
  width: 0.57em;
  height: 5em;
  border-right: 0.08em solid #d2d2d2;
  top: -5px;
  z-index: -1;
}
.day {
  display:block;
}
.time {
  font-size: 16px;
}
.result-info .last td,  .result-info .last td a{
  color: #ff7800;
  border-bottom: none;
}
.result-info td a:hover {
  color: #3278e6;
}
.result-info .row1 {
  width: 105px;
  text-align: center;
  padding-left: 14px;
  padding-right: 0;
}
.result-companyurl {
  border-left: 1px solid #aaaaaa;
  background: url("/images/spider_search_v4.png") 10px -993px no-repeat;
  color: #828282;
  font-size: 14px;
  padding-left: 28px;
  font-weight: normal;
}
.context {
  font-size: 14px;
  padding-left: 0px !important;
}
.context a {
  color: #828282;
}
.context a:hover {
  color: #3278e6;
}
/*result-qr*/
.qr-l {
  position: absolute;
  top: 0;
  left: -102px;
  width: 90px;
  height: 150px;
  text-align: center;
}
.qr-box {
  padding: 6px 20px;
  text-align: center;
  font-size: 14px;
  color: #828282;
  background-color: #fff;
}
.query-imgcode{
  margin: -30px 0 10px 0;
  width: 300px;
  height: 125px;
  background-color: #ffecde;
  border-radius: 5px;
  border: 1px solid #695649;
 }
.query-imgcode img{
  padding: 10px;
}
.query-imgcode li {
  display:inline-block;
  text-align:center;
 }
 .query-imgcode li span{
  display:block;
   position: relative;
   bottom: 10px;
 }
 .open-app img{
   width: 160px;
   height: 71px;
   padding-top: 0px;
 }
 .open-preview{
   position: absolute;
   top:-35px;
   margin-left: 290px;
   cursor: pointer;
 }
 #barCodeNum{
   display: block;
   font-size: 16px;
   letter-spacing: 3px;
 }
 .clo-preCode{
   width: 25px;
   height: 25px;
   display: inline-block;
   position: absolute;
   bottom: 315px;
   left: 292px;
   cursor: pointer;
 }
/*notfind*/
.notfind {
  padding: 10px 20px;
  border: 1px solid #d2d2d2;
  background-color: #f5f5f5;
}
.notfind-body {
  background: url("/images/spider_search_v4.png") 0px -100px no-repeat;
}
.notfind-icon {
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 1.8em;
  text-align: center;
  color: #ff7800;
  border-bottom: 1px dashed #d2d2d2;
  background: url("/images/spider_search_v4.png") 336px -197px no-repeat;
}
.notfind-ul {
  padding-top: 15px;
  /*padding-left: 200px;*/
}
.notfind-ul li {
  float: left;
  padding-left: 50px;
  color: #323232;
  margin-right: 50px;
}
.notfind-taobao {
  margin: 20px auto 10px;
  padding-left: 50px;
  width: 230px;
  background: url("/images/spider_search_v4.png") 6px -555px no-repeat;
}
.ico_wrong {
  background: url("/images/spider_search_v4.png") 18px -275px no-repeat
}
.ico_right {
  background: url("/images/spider_search_v4.png") 13px -234px no-repeat
}
/*select*/
.select-com {
  background: url("/images/spider_search_v4.png") 0px -1161px repeat-x;
  background-color: #fff;
  padding-left: 7px;
  height: 52px;
  line-height: 52px;
  font-size: 14px;
  font-weight: bold;
}
.select-com a#selectComBtn {
  width: 56px;
  display: inline-block;
  text-align: center;
  padding-right: 24px;
  cursor: pointer;
  background: url("/images/spider_search_v4.png") 62px -71px no-repeat #fff;
}
.select-com span {
  margin-right: 10px;
  padding: 2px 0px 2px 24px;
  color: #828282;
  font-weight: normal;
}
.select-com .ico-tel {
  background: url("/images/spider_search_v4.png") 4px -868px no-repeat;
  color: #828282;
}
.select-com .ico-clock {
  background: url("/images/spider_search_v4.png") 6px -487px no-repeat;
}
.select-com .ico-date {
  background: url("/images/spider_search_v4.png") 6px -520px no-repeat;
}
.select-com .a-bindtel {
  background: url("/images/spider_search_v4.png") 0px -674px no-repeat;
  float: right;
  margin-right: 20px;
  padding-left: 15px;
}
.select-com .a-share {
  background: url("/images/spider_search_v4.png") 0px -357px no-repeat;
  float: right;
  margin-right: 20px;
  padding-left: 18px;
}
.select-com .a-rss {
  background: url("/images/spider_search_v4.png") 0px -320px no-repeat;
  float: right;
  margin-right: 20px;
  padding-left: 15px;
}
.select-com .a-print {
  background: url("https://cdn.kuaidi100.com/images/spider_search_v4.png?version=201611181600") 0px -1301px no-repeat;
  float: right;
  margin-right: 20px;
  padding-left: 15px;
}
/*com-list*/
.select-box {
  position: relative;
  padding: 1px;
  background-color: #fff;
  _zoom: 1;
}
.other-com {
  position: absolute;
  top: -35px;
  left: -1px;
  display: block;
  height: 27px;
  padding: 3px 30px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #a2bbda;
  border-bottom: 1px solid #fff;
  background: url("/images/spider_search_v4.png") 92px -68px no-repeat #fff;
}
.com-list .suggest {
  font-size: 14px;
  background-color: #f5f5f5;
  margin-bottom: 1px;
}
.com-list .suggest .li-title {
  display: inline-block;
  margin-right: 1px;
  width: 26px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #ff7800;
  padding: 4px 0;
}
.com-list .suggest a {
  display: inline-block;
  height: 36px;
  padding: 0 10px;
  line-height: 36px;
  vertical-align: middle;
  color: #323232;
  cursor: pointer;
}
.com-list .suggest a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #78aaf0;
}
.com-list .common {
  font-size: 14px;
  background-color: #d2e6ff;
}
.com-list .common .li-title {
  display: inline-block;
  margin-right: 1px;
  width: 26px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #3278e6;
  padding: 4px 0;
}
.com-list .common a {
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
  color: #323232;
  cursor: pointer;
}
.com-list .common a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #78aaf0;
  line-height: 36px;
}
.com-list .all-list {
  padding: 1px 0;
  _zoom: 1;
}
.com-list .all-list li {
  height: 27px;
}
.com-list .all-list li.dl-bg {
  background-color: #f5f5f5;
}
.com-list .all-list li:hover, .com-list li.dl-bg:hover {
  background-color: #d2e6ff;
}
.com-list .all-list .li-title {
  display: inline-block;
  width: 30px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  color: #3278e6;
}
.com-list .all-list li a {
  display: inline-block;
  height: 27px;
  width: 84px;
  padding: 0 4px;
  line-height: 27px;
  vertical-align: middle;
  color: #323232;
  cursor: pointer;
}
.com-list .all-list li a:hover {
  text-decoration: none;
  color: #3278e6;
}
.com-list .other {
  padding: 5px 0;
  text-align: center;
  border-top: 1px solid #d2d2d2;
}
/*loading-01*/
.loader-box {
  text-align: center;
  font-size: 14px;
  line-height: 35px;
  color: #d2d2d2;
  margin: 50px;
  color: #3278e6;
}
.loader-box img {
  width:87px;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  margin: auto;
  border-top: 0.625em solid rgba(50, 120, 230, 0.2);
  border-right: 0.625em solid rgba(50, 120, 230, 0.2);
  border-bottom: 0.625em solid rgba(50, 120, 230, 0.2);
  border-left: 0.625em solid #3278e6;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader, .loader:after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
@-webkit-keyframes load8 {
 0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
 100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@keyframes load8 {
 0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
 100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
