@import url('http://fonts.googleapis.com/css?family=Raleway:100,300,400,700');

@import 'https://fonts.googleapis.com/css?family=Dosis:400,600';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}

body
{
    line-height: 1;
}

ol,
ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

*,
*::before,
*::before
{
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body
{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
}

::-moz-selection
{
    color: white;
    background: #f1955c;
}

::selection
{
    color: white;
    background: #f1955c;
}

img
{
    max-width: 100%;
}

.is-hidden
{
    position: absolute;

    visibility: hidden;

    width: 0;
    height: 0;
}

.icon
{
    display: block;

    width: 100%;
    margin: 0 auto;

    fill: currentColor;
    stroke: currentColor;
}

.container
{
    position: relative;

    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;

    *zoom: 1;
}

.container:before,
.container:after
{
    display: table;

    content: '';
}

.container:after
{
    clear: both;
}

.row
{
    *zoom: 1;
}

.row:before,
.row:after
{
    display: table;

    content: '';
}

.row:after
{
    clear: both;
}

.row--flex
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    max-width: 100%;

    text-align: center;

    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.vertical
{
        flex-direction: column !important;

    -ms-flex-direction: column !important;
}

.horizontal
{
        flex-direction: row !important;

    -ms-flex-direction: row !important;
}

.dc-container
{
    font-family: 'Dosis', sans-serif;

    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.dc-header
{
    padding: 5px 0;

    text-align: center;

    background-color: #ec6c55;
}

.dc-header h3
{
    font-size: 22px;
    font-weight: 600;

    letter-spacing: .3px;

    color: #fff;
}

.dc-section
{
    overflow: hidden;

    padding: 6px 0;

    border: 1px solid #f2f2f2;
    border-top: 0 none;
}

.dc-section ul
{
    overflow: hidden;

    margin-bottom: 20px;
}

.dc-section ul:last-of-type
{
    margin-bottom: 0;
}

.dc-section li
{
    float: left;

    width: 33.333%;
    padding: 8px;
}

.dc-section img
{
    display: block;

    max-width: 44px;
    margin: 0 auto;

    border: 1px solid #f2f2f2;
}

.dc-section a
{
    transition: color .225s ease;
    text-decoration: none;

    color: #222;
}

.dc-section a:hover h4
{
    color: #ec6c55;
}

.dc-section h4
{
    font-size: 18px;
    font-weight: 600;

    margin-bottom: 2px;

    transition: color .225s ease;
}

.dc-section p
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.dc-section_info
{
    margin-top: 16px;

    text-align: center;
}

@media (min-width: 768px)
{
    .dc-header
    {
        padding: 10px 40px;

        text-align: left;
    }

    .dc-header h3
    {
        font-size: 24px;
    }

    .dc-section
    {
        padding: 15px 0;
    }

    .dc-section li
    {
        width: 16.66%;
    }

    .dc-section img
    {
        max-width: 56px;
    }

    .dc-section h4
    {
        font-size: 20px;
    }
}

/*# sourceMappingURL=styles.css.map */
