@charset "utf-8";
/* CSS Document */

body{
	width:100%;
	height:100%;
	background-image:url('bg01.jpg');
	background-position: center center;
	background-repeat: no-repeat;
  	background-attachment: fixed;
	background-size: cover;
}

#wrapper01{
	width:100%;
	height:100%;
}

#wrapper02{
	width:800px;
	height:1200px;
	background:url('bg02.jpg') center center no-repeat;
	position:relative;
	margin: 0px 0px 0px -400px;
	left:50%;
}

#wrapper03{
	width:800px;
	height:1200px;
	background:url('bg03.jpg') center center no-repeat;
	position:relative;
	margin: 0px 0px 0px -400px;
	left:50%;
}

.bar{
	width:100%;
	height:15px;
	background-color:#ff8200;
}

.logo{
	width:100%;
	text-align:center;
	margin:50px 0px 0px 0px;
}

.buttons{
	margin:250px 0px 0px 0px;
	text-align:center;
}

.btn{
	width:100%;
	height:130px;
	margin:0px 0px 20px 0px;
}