@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*Imports*/
@font-face {
  font-family: 'icomoon';
  src:url('../_fonts/icomoon.eot?d76k8y');
  src:url('../_fonts/icomoon.eot?#iefixd76k8y') format('embedded-opentype'),
    url('../_fonts/icomoon.woff?d76k8y') format('woff'),
    url('../_fonts/icomoon.ttf?d76k8y') format('truetype'),
    url('../_fonts/icomoon.svg?d76k8y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-swipe:before {
  content: "\e602";
}
.icon-talk:before {
  content: "\e600";
}
.icon-cfl:before {
  content: "\e601";
}




/*****************************************************
CHANGE HOMEPAGE HERO IMAGE HERE |||||||||||||||||||||
******************************************************/

/*This is the hero image at the top of the homepage*/
.hero-bg1 {
	background: #003366 url(../_images/homehero/hero1.jpg) no-repeat fixed center -40px;	
}
/*This is the hero image at the top of the homepage on iPad*/
.ipad .hero-bg1 {
	background: #003366 url(../_images/homehero/hero1.jpg);
	background-attachment: scroll;
	background-position: center -175px;
}
/*This is the blurred background in the text box in the top hero panel*/
.hero-title {
	background: #003366 url(../_images/homehero/hero1blur.jpg) no-repeat fixed center -70px;
}
/*This is the blurred background in the distinguished academics panel. */
/*.hero-bg2 {
	background: #003366 url(../_images/homehero/hero1blur.jpg) no-repeat fixed center 0;
}*/




/********
MODS TO MAIN
********/
p{font-family: 'Lato', sans-serif;
	}
h2{
  font-family: 'Lato', sans-serif;
	
	}
  #side-content h3,#side-content h4 {
    font-family: open_sanslight;
  }
.hero-title {
	color: #fff;
	display: block;
	position: relative;
	margin-top: 240px;
	padding: 20px 40px;
}

.hero-title h2{
	text-transform: uppercase;
  font-family: lato;
	margin-bottom: 0.25em;
	text-align: left;
	font-size: 1.96em;
	padding-top: 0px;
	margin-top: 25px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.hero-title p{
  font-family: lato;
	font-size: 1.3em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.hero-title a:link, .hero-title a:active, .hero-title a:hover, .hero-title a:visited{
	color: #FFFFFF;
		}


		/*Section Styles*/
		section {
			border-bottom: 1px dotted rgba(200,200,200,.5);
		}
    section h2 {
  font-family: open_sanslight;
}
img + h4 {
  padding-top: 0;
  margin-top: 0;
}
 
.homeherocaption{
	font: .8em Verdana, Geneva, sans-serif;
	color: #FFFFFF;
	display: block;
	position: absolute;
	bottom: 0px;
	background-color: rgba(0, 1, 0, 0.2);
	background: rgba(0, 1, 0, 0.2);
	text-align: left;
	padding: 3px;
	float: right;
}

/*BEGIN HOMEPAGE SOCIAL ICONS*/

/*********
SOCIAL ICONS
*********/
#homesocial #social {
	text-align: center;
	margin-left: 0;
	margin-top: 0px;
}

#homesocial #social li {
	display: inline-block;
	margin-left: 0px;
	margin-right: 20px;
}
#homesocial #social li a {
	color: #fff;
}
#homesocial #social .fa {
	background: #999999;
	text-align: center;
	font-size: 19px;
	border-radius: 100%;
}

#homesocial #social .fa-twitter {
	padding: 7px 8px;
}
#homesocial #social .fa-facebook {
	padding: 7px .6em;
}
#homesocial #social .fa-instagram {
	padding: 7px 9px;
}
#homesocial #social .fa-google-plus {
	padding: 7px 9px;
}
#homesocial #social .fa-linkedin {
	padding: 7px 9px;
}
#homesocial #social .fa-youtube {
	padding: 7px 9px;
}

#homesocial #social .fa-twitter:hover {
	background: #4099ff;
	padding: 7px 8px;
	transition: all .5s ease-in-out;
}

#homesocial #social .fa-facebook:hover {
	background: #3b5998;
	padding: 7px .6em;
	transition: all .5s ease-in-out;

}
#homesocial #social .fa-instagram:hover {
	background: brown;
	padding: 7px 9px;
	transition: all .5s ease-in-out;

}
#homesocial #social .fa-google-plus:hover {
	background-color: #d34836;
	padding: 7px 9px;
	transition: all .5s ease-in-out;
}
#homesocial #social .fa-linkedin:hover {
	padding: 7px 9px;
	transition: all .5s ease-in-out;
	background: #0099CC;
}
#homesocial #social .fa-youtube:hover {
	padding: 7px 9px;
	transition: all .5s ease-in-out;
	background: #FF0000;
}
/*********
//END SOCIAL ICONS
*********/




/*****************************************************
CHANGE HOMEPAGE CALLOUT HERE |||||||||||||||||||||
******************************************************/

.callout-container {
padding: 40px 0px; border-bottom: 1px dotted #999999; color: #666666;
}

.callout-container p {
	padding:20px 0px;
}
.module-image-left {
    float: left;
/*    margin-right: 40px;*/
    margin-top: 0px;
}
.callout-header {
	font-size: 1.2em;
	line-height: 1.1em;
	font-family: Lato, sans-serif;
	font-weight: bold;
	text-transform: none;
	color: #666666;
	margin: 0px;
	/*border-bottom: 1px dotted #999999;*/
}


/*********
//END HOMEPAGE CALLOUT
*********/



#rice-mission {
	/*background: #F3F3F3 url(../_images/tabbedback.jpg) no-repeat center top;
background: rgb(255,255,255); /* Old browsers */

	min-height: 365px;
	margin-top: -85px;
	background: none;
	border-bottom: 1px solid #D1D1D1;
}

#rice-mission #tabs-1 h2 {
	padding-top: 30px;
	padding-bottom: 5px;
}

#rice-mission #tabs-2 h2 {
	padding-top: 30px;
	padding-bottom: 5px;
} 
 

#rice-mission #tabs-3 h2 {
	padding-top: 30px;
	padding-bottom: 5px;
} 


#rice-mission h2 {
	text-align: center;
	color: #595959;
	text-shadow: 0px 1px 1px #FFF;
	margin-bottom: 0px;
	font: bold 2.2em 'Lato', sans-serif;
	padding: 15px 0px 0px;
}


#rice-mission p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: justify;
	color: #666666;
	text-shadow: 0px 1px 1px #FFF;
}
#rice-mission #tabs-2 li {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	text-align: left;
	color: #666666;
	text-shadow: 0px 1px 1px #FFF;
}

#rice-news {
	min-height: 450px;
/*	padding-top: 30px;
	padding-bottom: 30px;*/
	background: #E0E0E0;/*	border-bottom: 1px solid #AED9FF;*/
	background: rgb(242,242,242); /* Old browsers */
	border-bottom: 1px solid #D1D1D1;
}
.news-item h3{
	display: block;
	min-height: 45px;
	line-height: 1.4em;
	font-size: 1.1em;
	padding: 9px 0px 0px;
	font-weight: normal;
	color: #003366;
}

.col_3 .news-item h3{
	display: block;
	min-height: 45px;
	line-height: 1.1em;
	font-size: .9em;
	padding: 9px 0px 0px;
	font-weight: normal;
	color: #003366;
}

.col_6 .news-item h3{
	display: block;
	min-height: 45px;
	line-height: 1.4em;
	font-size: 1.5em;
	padding: 9px 0px 0px;
	font-weight: bold;
	color: #003366;
}

.col_8 .news-item h3{
	display: block;
	min-height: 45px;
	line-height: 1.4em;
	font-size: 1.7em;
	padding: 9px 0px 0px;
	font-weight: bold;
	color: #003366;
}

/*Customize news items if they are presented in a carousel*/

/*.owl-carousel .news-item{
	padding: 25px;
}*/



#rice-events {
	background: rgb(232,244,255);
}

	/*Important Dates index page*/
.date-capsule {
	text-align: left;
	color: #fff;
	background: #FFFFFF;
	margin-bottom: 25px;
	font-size: .9em;
	padding: 0px;
	margin-top: 5px;
}
.important-date {
	text-transform: uppercase;
	background: #0076EC;
	font-size: 2em;
	padding: 15px;
	text-align: center;
	font-weight: bold;

}
.important-event {
	background: #FFFFFF;
	padding: 20px;
	color: #666666;
	line-height: 1.3em;
}
.rice-events {
	/*background: #efefef;*/
	/*	padding-top: 12px;
	padding-left: 12px;*/
	/*margin-left: -20px;*/
	padding-bottom: 12px;
	padding-top: 5px;
}

.rice-events ul{
	margin: 0px;
	padding: 0px;
	text-indent: none;
}
.rice-events ul li{
	font-size: 0.9em;
	line-height: normal;
	padding-bottom: 9px;
	min-height: 55px;
	border-bottom: 1px dotted #CCCCCC;
	padding-top: 0px;
	margin-top: 9px;
}
.rice-events h2 {
}
.rice-events .fa-calendar {

}
.rice-events li a:link, .rice-events li a:visited  {
	font-size: 1em;
	display: block;
	color: #003366;
}
.rice-events li a:hover{
	text-decoration: underline;
}

.event-dates{
	font-size: 1.3em;
	font-weight: bold;
	color: #1560BD;
}

/*End Important Dates*/

#rice-academics {
	min-height: 400px;
}

#rice-academics h2 {
	text-transform: uppercase;
	margin-bottom: 0.25em;
	text-align: left;
	font-size: 1.96em;
	padding-top: 0px;
	margin-top: 25px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	color: #FFFFFF;
}

#rice-academics p {
	font-size: 1.4em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	color: #FFFFFF;
}

#academics-links{
	padding-top: 35px;
}

.boxhighlight{
	margin-top: 15px;
}

/*Academic link box styles*/

/*End Academic Link box styles*/


#rice-research {
	background: rgb(255,255,255);
}

#research-feed-burn {
  display: none;
}
#sidenav #research-feed-burn li a:link {
  min-height: 22px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
  padding: 8px 0;  
}

#sidenav a{
	padding-left: 9px;
	padding-right: 9px;
}


.devad{
	/*display: none;*/
	padding-top: 25px;
	padding-bottom: 25px;
}

#rice-fact {
	background: rgb(239,239,239);
	}
.fa-chevron-left, .fa-chevron-right {
  display: none;
  color: rgb(78,116,173);
  text-shadow: 1px 1px 1px #000;
}
.owl-prev.fa.fa-chevron-left {
  position: absolute;
  top: 41%;
  font-size: 300%;
  left: 0px;
  opacity: .5;
} 

.owl-next.fa.fa-chevron-right {
  position: absolute;
  top: 41%;
  font-size: 300%;
  right: 0px;
  opacity: .75;

} 



.owl-carouselTop .owl-prev.fa.fa-chevron-left {
	position: absolute;
	top: 25%;
	font-size: 300%;
	left: 0px;
	opacity: .9;
	padding-top: 25px;
	padding-bottom: 25px;
} 

.owl-carouselTop .owl-next.fa.fa-chevron-right {
  position: absolute;
  top: 25%;
  font-size: 300%;
  right: 0px;
  opacity: .9;

}

.owl-carouselTop{
	/*overflow: hidden;*/
	/*animation: fadeinOwl 4s;*/
	/*-moz-animation: fadeinOwl 4s;*/ /* Firefox */
	/*-webkit-animation: fadeinOwl 4s;*/ /* Safari and Chrome */
	/*-o-animation: fadeinOwl 4s;*/ /* Opera */
	padding-right: 10px;
	padding-left: 10px;
}


@keyframes fadeinOwl {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadeinOwl { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadeinOwl { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeinOwl { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



/*.owl-carouselTop .item img{
  display: block;
  width: 100%;
  height: auto;
}*/

.owl-carouselTop .news-item{
	padding-right: 10px;
	padding-left: 10px;
}



/*Styles for the faculty and staff section*/
.announcement{
	background: #E6F2FF;
	display: block;
	margin: 0px;
	padding: 25px 25px 5px;
	border: 1px solid #B7DBFF;
	color: #003366;
}
.announcement h2{
	color: #003366;
}
.announcement p{
	color: #003366;
	font-size: 1em !important;
}
.announcement a{
	font-size: 1em !important;
	}
/*Styles for the campus-life section panels*/

 #intro-panel h1 {
	color: #993300;
  }
  #clubs-panel {
	background: #D5D0C0;
  }
  
      #clubs-panel h2{
	color: #FFFFFF;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	font-size: 1.9em;
}
 section ul li {
  margin-bottom: 12px;
  }
  #intro-panel h2 {
    text-align: center;
  }
  #intro-panel h5 {
    display: inline-block;
    padding-right: 1%;
  }
  #residential-colleges-panel {
	background: rgb(224,209,158);
	min-height:360px;
  }
    #residential-colleges-panel h2{
	color: #FFFFFF;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	font-size: 1.9em;
}

  #arts-panel {
	background: rgb(236,255,232);
	color: #006600;
  }
    #arts-panel p{
	color: #004800;
  }
  
   #arts-panel a {
	color: #004800;
	text-decoration: underline;
  }
  #public-art-panel {
	background: #FFE888 url(../_images/owlart.jpg) no-repeat fixed center;
	min-height: 450px;
  }
  
  .ipad #public-art-panel {
	background: #FFE888 url(../_images/owlart.jpg)no-repeat scroll center center;}
  
  .iphone #public-art-panel {
	background: #FFE888 url(../_images/owlart.jpg)no-repeat scroll center center;}
	
  #public-art-panel h2 {
	  	color: #FFFFFF;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	font-size: 1.9em;}
	
#public-art-panel a {
	  	color: #FFFFFF;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);}
/*End styles for the campus-life section panels*/

/*Inside Nav Panel Styles*/
#inside-nav-panel {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  border-bottom: none;
  background-color: rgb(245,245,245);
}
#inside-nav-panel h4, #inside-nav-panel h5{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
#inside-nav-panel h4 {
  
  font-size: 1.25em;
}
#inside-nav-panel h5 {
  margin-bottom: 6px;
  font-size: 1.125em;
  text-indent: 12px;
}
#inside-nav-panel h5 a {
  border-left: 2px solid #000;
  padding-left: 12px;
}
#inside-nav-panel a:hover {
  text-decoration: underline;
  padding-bottom: 2px;
}
#inside-nav-panel .well-group {
  border-bottom: 1px solid #afafaf;
  padding: 6px 18px;
}
#inside-nav-panel a.selected {
  font-weight: bold;
}
/*End Inside Nav Panel Styles*/

/*Calendar List*/
.well {
  padding: 10px;
  border-radius: 0;
  background-color: #efefef;
}
.calendar-heading {
  border-bottom: 1px solid black;
}

.calendar-heading h3 {
  padding: 6px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #2a3a49;
}
.calendar-heading p {
  font-size: 14px;
  padding: 6px;
  padding-top: 0;
}
.calendar-item {
  padding: 12px 6px;
}
.calendar-item h5 {
  margin: 0;
  padding: 0;
  font-size: .88em;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 6px;
}
.calendar-item h4 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.25em;
}
#program-list h3 {
  margin-bottom: 0;
  border-bottom: none;
}
.link-ender {
  display: block;
  margin-top: 40px;
  margin-bottom: 12px;
  text-decoration: underline;
}
/*End Calendar List*/

/*Contact*/
.content-item .contact {
  margin-top:32px;
}
.content-item .contact h4 {
  font-size: 18px;
}
.content-item .contact p {
  font-size: 16px;
}
/*End Conatct*/

/********
END MODS
*********/


/*******
CALLS TO BACKGROUND IMAGES
********/
.hero-bg-campus-life {
  background:url(../_images/that-sandwich-shop.jpg);
  background-position: center 520px;
  background-repeat: no-repeat;
}
.touch .hero-bg-campus-life {
  background-position: center center;
  height: 200px;
}

/********
END CALLS
*********/







/********
END DEPARTMENT SPECIFIC STYLES
*********/




/*ADDED FEATURES FOR NEW WEBSITE*/

.list-group {
    padding-left: 0;
    margin-bottom: 20px
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

a.list-group-item {
    color: #555
}

a.list-group-item .list-group-item-heading {
    color: #333
}

a.list-group-item:hover,a.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #003366;
    color: #fff;
}



.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px
}

.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05)
    box-sizing: border-box;
}

.panel-body {
    padding: 15px
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel-heading>.dropdown .dropdown-toggle {
    color: inherit
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.panel-title>a {
    color: inherit
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden
}

.embed-responsive .embed-responsive-item,.embed-responsive iframe,.embed-responsive embed,.embed-responsive object,.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%
}

.embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05)
    box-sizing: border-box;
}

.well blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15)
}

.well-lg {
    padding: 24px;
    border-radius: 6px
}

.well-sm {
    padding: 9px;
    border-radius: 3px
}



#twitter-widget-0 {
	width: 100%!important;
}

	/*Button Styles*/
	.button {
    /* Structure */
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*csslint outline-none:false*/
a.button {
	color: #fff;
	text-shadow: 0px 0px 0px #2a3a49;
	font-size: 1em;
	margin: 6px;
	text-align: left;
}
.button {
    font-family: inherit;
    font-size: 100%;
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    *color: #444; /* IE 6 & 7 */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}
button:hover {
	cursor: pointer;
}
.button-hover,
.button:hover,
.button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    cursor: pointer;
}
.button:focus {
    outline: 0;
}
.button-active,
.button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

.button[disabled],
.button-disabled,
.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.button-hidden {
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.button-primary,
.button-selected,
a.button-primary,
a.button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }
        .button-bama {
        	/*Crimson Tide!*/
						background: rgb(69,0,16);
        }
         .blue-yonder {
						background: #1560BD;
        }
        .blue-yonder:hover, .blue-younder:focus, .blue-younder:active {
		background: #123456;
		color: #FFFFFF;
        }
        .tan {
            background: none repeat scroll 0% 0% rgb(113, 108, 92);
        }
        .tan:hover {
            background: rgb(13,08,02);
        }


.button>.fa {
  padding-right: 8px;
}
	/*End Button Styles*/





.feature-panel {
	background-image: url("../_images/twilight1024x576.jpg");
	background-position: center center;
	min-height: 200px;
	text-shadow: 0px 0px 0px #000;
	color: #fff;
	padding: 12px;
	border: 2px solid #efefef;
}

.feature-panel p {
	background: rgba(0,0,0,.55);
	padding: 12px;
	position: absolute;
	right: 0;
	width: 70%;
	font-size: 14px;
}


/*button colors*/

/***
GENERAL STYLES FOR HERO SITE PAGES
*/
small {
  font-size: 80%;
}
#breadcrumbs {
  border: none;
}
.no-hero-header + #breadcrumbs {
  background: #efefef;
  padding-top: 12px;
  padding-bottom: 12px;
}



.content-item p {
  line-height: 150%;
  font-size: 1.125em;
}
#main a {
  font-family: 'open_sansregular';
}
.inside-header-bg {
  min-height: 300px;
}

 .inside-title h2 {
	margin-top: 84px;
	color: #fff;
	font: bold 2.2em 'Lato', sans-serif;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	text-transform: uppercase;
	text-align: center;
   }
 
   /*Applicaiton and Admission Buttons*/
  .application-buttons a{
    display: block;
    /*min-width: 240px;*/
    margin: 16px 0px;
    padding: 14px;
    padding-left: 10px;
    font-size: 1em;
  }
  @media(max-width: 900px) {
   .application-buttons a{
    font-size: .8em;

  }
  }
    @media(max-width: 768px) {
   .application-buttons a{
    font-size: 18px;

  }
  }

  .application-buttons .fa {
    text-align: center;
  }
/*End Application and Admission Buttons*/

/***
STYLES FOR SPECIFIC MODULES CREATED FOR HERO SITE
*/
/*Important Dates Table Styles*/
.important {
      display: table;
      font-family: 'source sans pro';
      border-radius: 2px;
      width: 100%;  
      margin-bottom: 24px;
    }
    .important-dates * {
      margin: 0;
      padding: 0;
    }
    .dates-row {
      display: table-row;
      height: 65px;      
    }
    .event-date, .event-details {
      display: table-cell;
      color: #2a3a49;
      box-sizing: border-box;
    }
    .event-date {
      text-align: center;
      /*border-bottom: 1px solid #fff;*/
      vertical-align: top;
      text-transform: uppercase;
      padding-right: 0;
    }
    .event-date h2 {
      font-size: 20px;
      padding-right: 0px;
      color: darkred;
      display: inline;
    }
    
    .event-details {
      vertical-align: top;
      /*border-bottom: 1px solid #fff;*/
    }

    .event-details h4 {
      font-size: 18px;
      margin-bottom: .25em;
      color: #003366;
    }
    .event-details label {
      display: inline;
    }
    
    .event-details p,#side-content .event-details p, #featured-content .event-details p {
      font-size: 14px;
      margin: 0;
      padding: 0;
      line-height: 120%;
    }

 a.link-ender{
  font-size: 1.2em;
  }
/*End Important Dates Table Styles*/

/* Module Image and Info */
.info-section {
  clear: both;
  display: table;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}
.module-image {
	width: 250px;
	float: right;
	margin-left: 12px;
	margin-top: 10px;
}
.module-info {
  display: table-cell;
  vertical-align: top;
  padding-top: 10px;
  padding-left:20px;
 width: auto;
/* overflow: auto;*/
}
.module-info h3 {
    border-bottom: 1px dotted #2a3a49;
    padding-bottom: 12px;
}
.info-section .button {
    clear: both;
}

/* End Model Image and Info */
#featured-content a:hover {
    text-decoration: underline;
}
#featured-content li {
    margin-bottom: 12px;
}

/*Image and Caption Styles*/
figure {
position: relative;
margin-bottom: 23px;
}
figure img {
margin-bottom: -3px;
}
figure .image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
  font-size: 16px;
  background: rgba(0,0,0,.6);
  width: 100%;
}
.image-caption p {
  color: #efefef;
}
.image-caption a {
  color: #fff;
  font-weight: bold;
  font-style: oblique; 
}
.image-caption a:hover {
  text-decoration: underline;
}
/*End Image and Caption Styles*/

/*Calendar Items*/
/*Calendar List*/
.well {
  padding: 10px;
  border-radius: 0;
  background-color: #efefef;
}
.calendar-heading {
  border-bottom: 1px solid black;
}

.calendar-heading h3 {
  padding: 6px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #2a3a49;
}
.calendar-heading p {
  font-size: 14px;
  padding: 6px;
  padding-top: 0;
}
.calendar-item {
  padding: 12px 6px;
}
.calendar-item h5 {
  margin: 0;
  padding: 0;
  font-size: .88em;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 6px;
}
.calendar-item h4 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.25em;
}
 .link-ender {
  display: block;
  margin-top: 40px;
  margin-bottom: 12px;
  text-decoration: underline;
  
}
/*End Calendar Items*/

/*Tabbed Panel Styles*/
.ui-tabs .ui-tabs-nav li {
	background: #E0E0E0;
}
.ui-tabs .ui-tabs-nav li a {
	color: #333;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background: #FFFFFF;
	border-top: 1px solid #D1D1D1;
	border-right: 1px solid #D1D1D1;
	border-left: 1px solid #D1D1D1;
	border-bottom-width: 1px;
	border-bottom-color: #D1D1D1;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  color: #003366;
}
#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5, #tabs-6{
}
/*End Tabbed Panel Styles*/
/*Accordion Styles*/
.ui-accordion .ui-accordion-header {
  background: #003366;
}
.ui-accordion .ui-accordion-header a {
  color: #fff;
}

/*End Accordion Styles*/

/*Program Group*/
 .program-group h4 {
	border-bottom: 1px solid #bfbfbf;
	padding-bottom: 6px;
	margin-bottom: 9px;
}


.program-group {
margin-bottom: 12px;
}
.program-group h5 {
  margin-bottom: 6px;
}
.porgram-gorup h5 a {
  color: #003366;
}

/*End Program Group*/


/*News Feed*/

.ACdate{
	background: #00FF33;
	display: block;
	clear: both;
}
#academic-calendar sub i{
	display: none;
}
#academic-calendar a:link{
	text-decoration: none;
	display: block;
	padding-bottom: 15px;
	border-bottom: 1px dotted #666666;
	margin-bottom: 10px;
	font-weight: bold;
}
#academic-calendar a:visited{}
#academic-calendar a:hover, #academic-calendar a:focus {
	color: #0033FF;
	text-decoration: underline;
}
#academic-calendar a:active{}

#academic-calendar h3{
	font: bold 1.5em 'Lato', sans-serif;
	color: #993300;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
}
#academic-calendar ul li span.headline {
	display: none;
	margin: 0px;
	padding: 0px;
}
#academic-calendar div.feedburnerFeedBlock {
	font: 0.9em/normal Verdana, Geneva, sans-serif;
	margin: 0px;
	padding: 0px;
}
#academic-calendar div.feedburnerFeedBlock li {
	margin: 0px;
	padding: 0px;
}
#academic-calendar div.feedburnerFeedBlock li p {
	margin: 0px;
	padding: 0px;
	background: #CCCCCC;
}

#creditfooter  {
	display: none;
}

footer h4{
	font-size: 1em;
	font-weight: normal;
}
footer ul li{
  padding: 4px 0;
} 
/*End News Feed*/

/*Academic Calendar News Feed*/



/*#academic-calendar div.feedburnerFeedBlock ul li span.headline {
	font-weight: bold;
	display: block;
	font-size: 18px;
	list-style-type: none;
	padding: 0px;
	margin: 14px 0 0;
	float: none;
	width: 100%;
}*/


/*#academic-calendar ul li  {
	font-size: 14px;
	line-height: 2em;
	padding: 0px;
	color: #F00;
}*/

/*#academic-calendar ul li br{
	display: none;
}*/
/*#academic-calendar li div {
	display: block;
	position: relative;
	clip: rect(55px,auto,auto,55px);
	overflow: hidden;
	height: 25px;
	left: -155px;
	color: #003399;
	width: 300px;
}*/
/*#academic-calendar ul p  {
	font-size: 14px;
	line-height: 2em;
	padding: 0px;
	color: #00F;
	display: none;
}*/
/*#academic-calendar ul br  {
	padding: 0px;
	display: none;
}*/


#creditfooter  {
	display: none;
}





/*End Academic Calendar News Feed*/




/*
END STYLES FOR SPECIFIC MODULES CREATED FOR HERO SITE
***/

.inside-header-bg {
    margin-bottom: 12px;
}

.info-section .fa-ul {
 overflow: auto;
}


#photogcorner{
	background: #000000;
	width: 100%;
}
#photoginner{
	padding-top: 25px;
	padding-bottom: 9px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	min-height: 450px;
	background: url(../_images/load.gif) no-repeat center center;
	}
	
/*button[type="submit"]{
    line-height:normal !important;
}*/

/********
MEDIA QUERIES
*********/


/******************************************************

ACCESSIBILITY ITEMS

******************************************************/

/*Give links bright blue color and underline on focus*/
a:focus{ 
	color: #003399;
	text-decoration: underline;
}

a.button:focus {
  color: #fff;
  outline: 2px solid gold;
}

a:focus img {
	outline: 2px solid gold;
}

a:hover, a:active { outline: none; }

.storify{
	height: 370px;
	top: -150px;
	display: block;
}
#social{
	/*min-height: 500px;*/
	margin: 0px;
	padding: 0px;
}

.hypeTemplate {
	width: 310px;
	margin-top: 20px;
	margin-left: 20px;
	box-shadow: none !important;
	background: rgb(255,255,255) !important;
	border: 1px solid #CCCCCC;
}
.collections-search-item-input{
	color: #003366!important;
}


.mejs-container:focus{
	outline: 2px solid gold;}
	
.accessheader{
	display: block;
	position: absolute;
	left: -9999px;
}
/*Allows for text in social media icons without showing for sighted users*/	
.icontext{
	display: block;
	position: absolute;
	top: -9999px;
}
/*Allows for highliting on focus of social media icons*/	
 #homesocial li a:focus,
 #social li a:focus
  {
   outline: 2px solid rgb(255, 215, 0);
    
  }	
	
/*Begin longdesc formatting - This hides the long descirtion divs from sighted users while allowing screenreaders to see the text*/	

#desc1, #desc2, #desc3, #desc4, #desc5, #desc6, #desc7, #desc8, #desc9, #desc10, #desc11, #desc12, #desc13, #desc14, #desc15, #desc16, #desc17, #desc18, #desc19, #desc20 {
	position: absolute;
	left: -9999px;
}

.post-image{
	display: block;
	height: 200px;
	width: 100%;
	overflow: hidden;
}

.post-holder{
	min-height: 400px !important;
	}



/*Begin longdesc formatting*/

@media(min-width:1920px){
  .hero-bg-campus-life {
    background-size: cover;
  }

      .inside-header-bg {
      background-size: cover;
    }
}


@media(max-width:1024px){
.hero-title h2{
	font-size: 1.58em;
	padding-top: 0px;
	margin-top: 0px;
	}
.hero-title p{
	font-size: 1.1em;
}
}

@media(max-width:768px){
/*Wraps col_4 so that they don't break to one column at 768px*/
.small {
   width: 100%;
  clear: both;
  float: left;
  box-sizing: border-box;
  }

  .small .col_4 {
    clear: none;   
    width: 45%;
    float: left;
    } 
 #side-content .small .col_3 {
    clear: none;
    width: 30%;
    float: left;
    box-sizing: border-box;
    margin: 0;
    margin-left: 12px;

  }
  #rice-facts .content-item {
    padding-bottom: 0;
  }
  #rice-facts div {
    border-bottom: 2px solid white;
    padding-top: 12px;
    min-height: 210px;
  }
  #rice-facts div:last-child {
    border-bottom: 0;
  }
    .module-image {
    display: none;
  }


      .important-dates-table, .dates-row,.event-date,
      .event-details {
        display: block;
        border-bottom: none;
      } 

       .dates-row {
      display:block;
      height: auto;
    }
      .event-date h2 {
        border-right: none;
        margin: 0;
        padding: 0;
      }
      .event-date {
        margin-top: 24px;
      }
      .event-details {
        border-bottom: 1px dotted #2a3a49;
        text-align: center;
        padding-bottom: 24px;
      }
     .event-details p {
      text-align: center;
      font-size: 1em;
      }
	  
	#photoginner{
	padding-top: 25px;
	padding-bottom: 9px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;	
	}

/*	#link-row{
	display: none;
}*/
.accessheader{
	display: block;
	position: absolute;
	left: -9999px;
}
    #residential-colleges-panel h2{
	padding: 0px 0px 0px 25px;
	margin: 0px;
}

    #residential-colleges-panel h4{
	font-size: 1.4em;
	padding: 25px;
	text-align: center;
	border-radius: 4px;
	display: block;
	border: 1px solid #AB9136;
	margin-right: 50px;
	margin-left: 50px;
	background: #F4EFDD;
}

#dining-panel .undergrad-list img{
	padding-bottom: 25px;
}

  #public-art-panel {
	background: #FF9900 url(../_images/publicartmobile.jpg) no-repeat;
	min-height: 450px;
  }
    #public-art-panel h4{
	font-size: 1.4em;
	padding: 25px;
	text-align: center;
	border-radius: 4px;
	display: block;
	border: 1px solid #FFFFFF;
	margin-right: 50px;
	margin-left: 50px;
	background: #FFA66A;
	background: rgba(54, 25, 25, .5);
	
}

    }
	
@media(max-width: 540px) {
   .small .col_4 {
    clear: both;
    width: 100%;
    float: none;
    }
#side-content .small .col_3 {
    clear: both;
    width: 100%;
    float: none;
    }
}
	
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
.hero-title h2{
  text-transform: uppercase;
  margin-bottom: 9px;
  text-align: center;
  font-size: 1.3em;
  padding-top: 0px;
  margin-top: 3px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.hero-title p{
  font-size: 1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  text-align: center;
}
.accessheader{
	display: block;
	position: absolute;
	left: -9999px;
}

}
	
	
	
	
@media(max-width: 480px) {

.hero-title {
  color: #fff;
  display: block;
  position: relative;
  margin-top: 250px;
  padding: 9px;
  text-align: center;
}

.hero-title h2{
  text-transform: uppercase;
  margin-bottom: 9px;
  text-align: center;
  font-size: 1.4em;
  padding-top: 0px;
  margin-top: 9px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.hero-title p{
  font-size: 1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  text-align: center;
}

.hero-title h2 a:link{
	color: #FFFFFF;
	text-decoration: none;
	background: #0066CC;
	margin: 9px auto;
	padding: 9px;
	display: block;
	text-align: center;
}

/*FIXES FOR TABS ON MOBILE*/

#rice-mission {
  /*background: #F3F3F3 url(../_images/tabbedback.jpg) no-repeat center top;
background: rgb(255,255,255); /* Old browsers */
  min-height: 100px;
  margin-top: -45px;}

/*Tabbed Panel Styles*/
.ui-tabs .ui-tabs-nav li {
  background: #DFF0FF;
}
.ui-tabs .ui-tabs-nav li a {
  color: #039;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background: #FFFFFF; 
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  color: #003366;
}
#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5, #tabs-6{
  margin: 0px;
  padding: 0px;
}
#rice-mission h2{
  margin: 9px 0px 0px;
  padding: 0px;
}

#rice-mission p {
  font-size: .9em;
  line-height: 1.5em;
  text-align: left;
}
 .ui-accordion .ui-accordion-content {
	margin: 0px !important;
	padding: 1.9em 10px 0px !important;
}



/*End Tabbed Panel Styles*/
/*Accordion Styles*/
.ui-accordion .ui-accordion-header {
  background: #003366;
}
.ui-accordion .ui-accordion-header a {
  color: #fff;
}


/*End Accordion Styles*/

#rice-academics {
  min-height: 400px;

}

#rice-academics h2 {
  margin-bottom: 0.25em;
  text-align: center;
  font-size: 1.7em;
  padding-top: 0px;
  margin-top: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  color: #FFFFFF;
}

#rice-academics p {
  font-size: .9em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  color: #FFFFFF;
}
/*Remove TINT controls on mobile*/
#collectionHolder{display: none !important;}
.router_edit #collectionHolder{display: block !important;}	

    #residential-colleges-panel h4{
	font-size: 1.4em;
	padding: 25px;
	text-align: center;
	border-radius: 4px;
	display: block;
	border: 1px solid #AB9136;
	margin-right: 9px;
	margin-left: 9px;
	background: #F4EFDD;
}

    #public-art-panel h4{
	font-size: 1.4em;
	padding: 25px;
	text-align: center;
	border-radius: 4px;
	display: block;
	border: 1px solid #FFFFFF;
	margin-right: 9px;
	margin-left: 9px;
	background: #FFA66A;
	background: rgba(54, 25, 25, .5);
}


#homesocial #social li {
	display: inline-block;
	margin-left: 0px;
	margin-right: 10px;
}

#intro-panel h1{
	font-size: 1.6em;
}
#residential-colleges-panel h2, #clubs-panel h2, #public-art-panel h2{
	font-size: 1.5em;
}



}

  @media (max-width: 540px) {
     .small .col_4 {
    clear: both;
    width: 100%;
    float: none;
    }
     .small .col_3 {
      clear: all;
      width: 100%;
    }
     
  }

  @media(max-width: 768px) {
.col_sm_6 {
 width: 50%;
 float: left;
 box-sizing: border-box;
 clear: none;
}
}
@media(max-width: 540px) {
.col_sm_6 {
 width: 100%;
 box-sizing: border-box;
  clear: both;
}
}
/*********
END MEDIA QUERIES
********/
