/*** Slick Carousel ***/

/* Slick Carousel generics */
.slick {
  visibility: hidden; /* Hide carousel until loaded */ }
  .slick.slick-initialized {
    visibility: visible; /* Show once loaded */ }
    .slick-prev, .slick-next {
      top: 30%; }
    .slick-prev {
      left: -14px; }
    .slick-next {
      right: -14px; }
    .slick-prev:before,
    .slick-next:before {
      color: #004488;
      font: normal normal normal 28px/1 FontAwesome; }
    .slick-prev:before {
      content: "\f053"; }
    .slick-next:before {
    content: "\f054"; }

/* Hero */
.heroslider {
  position: relative;
  visibility: visible; /* Show carousel so that first item can be shown before loaded */
  max-height: inherit;
  font-family: "Helvetica", sans-serif;
  height: 56.25vw;
  max-height: 56.25vw;
  overflow: hidden; }
  .heroslider .slick-list {
    height: inherit;
    max-height: inherit; }
  .heroslider .slick-track {
    height: inherit;
    max-height: inherit;
    overflow: hidden; }
  .heroslider > li,
  .heroslider .slick-slide {
    position:relative;
    left: 0;
    top: 0;
    z-index: 800;
    height: inherit;
    max-height: inherit;
    max-width: 100%;
    overflow: hidden; }
    .heroslider > li { /* Slider list items - before load */
      visibility: hidden; /* Hide content items until load */ }
    .heroslider > li:first-child { /* First slider list item - before load */
      visibility: visible; /* Show first slide though, during load and in case of load failure */ }
      .heroslider li:first-of-type > .overlay {
      background: none; /* Until loaded, we need to be able to see the slide content underneath this overlay */ }
    .heroslider.slick-initialized .slick-slide {
      visibility: visible; /* Show other content once loaded */}
  .heroslider > li,
  .heroslider .slick-slide,
  .heroslider .bgimg {
    width: 100%;
    margin: 0; }
  .heroslider .bgimg,
  .heroslider .vimeoplayer {
    position: absolute;
    left: 0;
    top: 50%;
    -ms-transform: translate(-50%); /* IE9 */
    transform: translateY(-50%); /* IE10+ */ }
  .heroslider .bgimg {
    z-index: 0; }
  .heroslider .vimeoplayer {
    z-index: 1;
    /* FitVids fallback */
    width: 100%;
    max-width:100%;
    height: calc((9 / 16) * 100vw); }
  .heroslider .overlay {
    height: inherit;
    max-height: inherit;
    /* background: #000000; Start black for Transitions while loading */
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
    .overlay.container {
      padding:0; }
    .overlay .headline {
      box-sizing: border-box;
      font-family: "Helvetica", "Arial", sans-serif;
      font-size: 26px;
      line-height: 1.2em;
      padding: 0.25em 0.5em;
      margin: 0 auto;
      color: #ffffff;
      background: #004488;
      background: rgba(0,36,105,0.7);
      position: absolute;
      bottom: 0.25em;
      overflow: hidden;
      z-index: 10000;
	    max-width: calc( (1140px - 150px) - 80px); /* Media Query for under 1140px */
      max-height: 25vw;
      display: block;
      clear: both;
      text-shadow:  1px 1px 1px rgba( 98, 100, 102, 0.9 ),
                    2px 2px 1px rgba( 0, 36, 105, 0.9 ),
                    0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
    /*background: rgba(0, 36, 105, 0.7); */ }
      .overlay .headline > a {
        color: #ffffff; }
       /* .js .overlay .headline {
        bottom: -100vh;  Start below for jQueryUI effects  } */
    .overlay .heroinforow {
      display: block;
      overflow: hidden;
      position: absolute;
      right: 0; }
     /* .js .overlay .heroinforow {
        top: -100vh;  Start above for jQueryUI effects } */
      .heroinforow .heroinfo {
        /* display: none; */
        font-size: 1.1em;
        position: relative;
        right: -2000px; /* Start off-screen for jQueryUI effects */
        z-index: 1;
        /* left: -9999px; */
        float: right;
        color: #FFF;
        text-align: right;
        overflow: hidden; }
        .heroinfo a {
          color: #FFF;
          text-decoration: underline; }
        .heroinfo p {
          background: #004488;
          background: rgba(0,36,105,0.7);
          padding: 0px 9px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
          line-height: 40px;
          font-size: .9em; }
      .heroinforow .heroicon {
        line-height: 40px;
        min-width: 40px;
        text-align: center;
        display: block;
        float: right;
        position: relative;
        z-index: 2;
        cursor: pointer;
        color: #FFF;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        font-size: 24px;
        padding-left: 9px; }

  .heroslider .slick-next,
  .heroslider .slick-prev,
  .heroslider .slick-autoplay {
    top: auto;
    height: 44px;
    width: 44px;
    bottom: calc(44px + 10px);
    background: transparent;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  .heroslider .slick-next:before,
  .heroslider .slick-prev:before,
  .heroslider .slick-autoplay:before {
    color: #ffffff;
    font: normal normal normal 28px/1 FontAwesome;
    padding: 0;
    background: none;
    top: auto;
    text-shadow:  1px 1px 1px rgba( 98, 100, 102, 0.9 ),
                  2px 2px 1px rgba( 0, 36, 105, 0.9 ),
                  0px 4px 3px rgba(0,0,0,0.4),
                  0px 8px 13px rgba(0,0,0,0.1),
                  0px 18px 23px rgba(0,0,0,0.1); }

    .heroslider .slick-prev {
      left: auto;
      right: calc(20px + 44px); }
    .heroslider .slick-next {
      right: calc(20px); }

    .heroslider .slick-autoplay {
      box-sizing: border-box;
      cursor: pointer;
      text-align: right;
      width: 44px;
      bottom: calc(20px - ( 22px / 2 ) ); /* Align with dots: Subtract half of the difference in font-sizes */
      color: #ffffff;
      font-size: 0;
      line-height: 0;
      position: absolute;
      z-index: 4;
      padding: 0;
      border: none;
      outline: none;
      display: block;
      right: calc(20px); }
      .heroslider .slick-autoplay:before {
        padding:0;
        left: auto;
        content: '\f04b'; }
        .heroslider .slick-autoplay.playing:before {
          content: '\f04c'; }


  .heroslider .slick-dots { /* Dot track */
    text-align: right;
    bottom: 20px;
    z-index: 3; }
    .heroslider .slick-dots li:last-of-type {
      margin-right: calc(20px + 44px); }
    .heroslider .slick-dots li button:before { /* All dots */
      color: #ffffff;
      opacity: .4;
      font-size: 20px; }
      .heroslider .slick-dots li button:before:hover {
        opacity: 1; }
      .heroslider .slick-dots li.slick-active button:before { /* Active dot */
        color: #ffffff;
        opacity: 1;
        text-shadow:  1px 1px 1px rgba( 98, 100, 102, 0.9 ),
                      2px 2px 1px rgba( 0, 36, 105, 0.9 ),
                      0px 4px 3px rgba(0,0,0,0.4),
                      0px 8px 13px rgba(0,0,0,0.1),
                      0px 18px 23px rgba(0,0,0,0.1); }

/* Vimeo Wrapper */
.fluid-width-video-wrapper {
  padding-top: 0 !important;
  padding-bottom: 56.25%; }

.vimeoplayer { /* Start invisible and wait for onReady callback */
  visibility: hidden; }

@media (max-width: 1140px) { /* Less than main column width... */
  .overlay .headline {
    max-width: calc( (100% - 150px) - 80px);
  }
}/* End <1140px  */

/* Tablets */
@media (max-width:768px) {

  .slick-prev {
    left: 28px; }
  .slick-next {
    right: 28px; }
  .slick-prev:before,
  .slick-next:before {
    color: #ffffff;
    text-shadow:  1px 1px 1px rgba( 98, 100, 102, 0.9 ),
                  2px 2px 1px rgba( 0, 36, 105, 0.9 ),
                  0px 4px 3px rgba(0,0,0,0.4),
                  0px 8px 13px rgba(0,0,0,0.1),
                  0px 18px 23px rgba(0,0,0,0.1); }

  .overlay .headline {
    left: 0.5em;
    bottom: 0.5em;
    font-size: 1em;
    line-height: 1.2em;
    padding: 0.5em 0.75em;
    max-width: calc(100% - 1em); }
  .overlay .heroinforow .heroinfo p {
    padding: 0.3em;
    line-height: 1.2em;
    background: #004488;
    background: rgba(0, 68, 136, 0.7); }

  /* Hide overlay buttons on small screens */
  .overlay .heroinforow,
  .heroslider .slick-autoplay,
  .heroslider .slick-dots,
  .heroslider .slick-prev,
  .heroslider .slick-next {
    display: none !important; /* Override Slick JS element style */ }
  .heroslider .slick-autoplay {
      text-align: center;
      bottom: 0;
      padding-bottom: 10px;
      right: 0;
      padding-right: 10px; }

/* iPhone 4 */
@media (max-width: 320px) {
  .overlay .headline > a {
    line-height: 0.5em;
    font-size: 0.4em;
  }
}

} /* End @media 768px */

/* Desktop */
@media (min-width: 1080px) {
  .heroslider {
    max-height: 600px;
  }
}

/* Retina / 4K */
@media (min-width: 1920px) {
  .heroslider {
    max-height: 700px;
  }
}
