@charset "utf-8";
/* CSS Document */

/*****************************************************
CHANGE HOMEPAGE HERO IMAGE HERE |||||||||||||||||||||
******************************************************/
/*This is the hero image at the top of the homepage*/
.hero-bg1 {
	background: #003366 url(../_images/homehero/hero1graduates2015.jpg) no-repeat fixed center -40px;	
}


/*This is the hero image at the top of the homepage on iPad*/
.ipad .hero-bg1 {
	background: #003366 url(../_images/homehero/hero1graduates2015.jpg);
	background-attachment: scroll;
	background-position: center -175px;
}
/*This is the blurred background in the text box in the top hero panel*/
.hero-title {
	background: #003366 url(../_images/homehero/blur/hero1graduates2015blur.jpg) no-repeat fixed center -70px;
}
/*This is the blurred background in the distinguished academics panel. */
.hero-bg2 {
	background: #003366 url(../_images/homehero/blur/hero1graduates2015blur.jpg) no-repeat fixed center 0;
}
/*This is the blurred background in the distinguished academics panel for iPad. */
.ipad .hero-bg2 {
	background: #003366 url(../_images/homehero/blur/hero1graduates2015blur.jpg) no-repeat fixed;
	background-attachment: scroll;
	background-position: center /*-175px*/;
}


.hero-title {
	color: #fff;
	display: block;
	position: relative;
	margin-top: 175px;
	padding-top: 5px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-left: 25px;
}


.hero-title h2{
	text-transform: uppercase;
	font-family: lato;
	margin-bottom: 0.5em;
	text-align: left;
	font-size: 1.4em;
	padding-top: 0px;
	margin-top: 20px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	word-spacing: .3em;
}
.hero-title p{
  font-family: lato;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.hero-title a:link, .hero-title a:active, .hero-title a:hover, .hero-title a:visited{
	color: #FFFFFF;
		}



/*This modifies the image caption*/

/*To hide image caption simple set this  display: none;*/
#heroinforow{
	min-height: 75px;
	display: block;
	position: absolute;
	bottom: 0px;
}

#heroinfo{
	/*cursor: pointer;*/
	color: #FFF;
	text-align: left;
}
#heroinfo a{
	color: #FFF;
	text-decoration: underline;
}
#heroicon{
	cursor: pointer;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	font-size: .9em;
	}
#heroinfo p{
	display: none;
	margin: 0px;
	padding: 9px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	background-color: rgba(0, 48, 96, 0.7);
	font-size: .9em;
	width: 100%;
}



@media(min-width:1921px){
	.hero-bg1 {	
	background-size: cover;	
	background: #003366 url(../_images/homehero/hero1graduates2015.jpg) no-repeat fixed cover -40px;
}

.hero-bg2 {
	background-size: cover;	
	background: #003366 url(../_images/homehero/blur/hero1graduates2015blur.jpg) no-repeat fixed cover 0;
}

.hero {
	min-height:800px;}
}



@media(max-width:1024px){
	
.hero-title h2{
	text-transform: uppercase;
  font-family: lato;
	margin-bottom: 0.25em;
	text-align: left;
	font-size: 1em;
	padding-top: 0px;
	margin-top: 350px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.hero-title {
	padding: 5px 15px 15px;
}
}
	
		
@media(max-width:780px){
	
.hero-title h2{
	text-transform: uppercase;
  font-family: lato;
	margin-bottom: 0.25em;
	text-align: left;
	font-size: 1.2em;
	padding-top: 0px;
	margin-top: 15px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.hero-title {
	color: #fff;
	display: block;
	position: relative;
	margin-top: 325px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
}
}
@media(max-width:400px){
	


.hero-title h2{
	font-size: 1em;
	margin-top: 10px;

}

.hero-title p{
  font-family: lato;
	font-size: .9em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.hero-title {
	color: #fff;
	display: block;
	position: relative;
	margin-top: 340px; /*This determines how far from the top the blurred block sits*/
	padding: 5px 9px 9px;
}



/*This modifies the image caption*/

/*To hide image caption simple set this  display: none;*/
#heroinforow{
	min-height: 75px;
	display: none;
	position: absolute;
	bottom: 0px;
}

#heroinfo{
	/*cursor: pointer;*/
	color: #FFF;
	text-align: left;
}
#heroinfo a{
	color: #FFF;
	text-decoration: underline;
}
#heroicon{
	cursor: pointer;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	font-size: .9em;
	}
#heroinfo p{
	display: none;
	margin: 0px;
	padding: 9px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	background-color: rgba(0, 48, 96, 0.7);
	font-size: .9em;
	width: 100%;
}

}