/**
  File: main.css

  This file is for main styles of the Rice main web theme 2015.
*/

/*||||||||||||||||||
**||  0. IMPORTS  ||
**||||||||||||||||||
*//*

  GOOGLE FONTS
  font-family: 'Marcellus', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300);
@import url(http://fonts.googleapis.com/css?family=Marcellus|Open+Sans|Lato);
@import url(../_fonts/open_sans/regular/stylesheet.css);


/*||||||||||||||||
**||  1. RESET  ||
**||||||||||||||||
*//*

  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)

  Reset browser defaults to a clean state to avoid styling issues and provide a unified experience across browsers.
*/

html {
  overflow-y: scroll; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hg.roup, menu, nav, section {
  display: block; }
body {
  line-height: 1; }
ol, ul {
  list-style: none; }
blockquote, q {
  quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*||||||||||||||||||||
**||  2. STRUCTURE  ||
**||||||||||||||||||||
*/


/*|||||||||||||||||||||||||
**||  2.1 COLUMNAL CORE  ||
**|||||||||||||||||||||||||
*//*

  Column code based on work from cssgrid.net:
  The 1140px Grid by Andy Taylor – http://cssgrid.net – http://www.twitter.com/andytlr – http://www.catchingzebra.com
*/

.container {
  padding-left: 20px;
  padding-right: 20px; }
.row {
  clear: both;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden; }

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11 {
  float: left;
  margin-right: 3.8%;
  position: relative; }
.col_1  { width: 4.85%;  }  /* ie - 4.7% */
.col_2  { width: 13.5%;  }  /* ie - 13.2% */
.col_3  { width: 22.15%; }  /* ie - 22.05% */
.col_4  { width: 30.8%;  }  /* ie - 30.6% */
.col_5  { width: 39.45%; }  /* ie - 39% */
.col_6  { width: 48.1%;  }  /* ie - 48% */
.col_7  { width: 56.75%; }  /* ie - 56.75% */
.col_8  { width: 65.4%;  }  /* ie - 61.6% */
.col_9  { width: 74.05%; }  /* ie - 74.05% */
.col_10 { width: 82.7%;  }  /* ie - 82.7% */
.col_11 { width: 91.35%; }  /* ie - 91.35% */
.col_12 {
  clear: both;
  width: 100%;
  float: left; }

.last, .omega { margin-right: 0 !important; }
img, object, embed { max-width: 100%; }

/* Columnal - sub-columns */

.col_2 .col_1 { margin-right:28.62%; width:35.69%; }
.col_2 .pre_1 { padding-left:35.69%; }
.col_2 .suf_1 { padding-right:35.69%; }

/* */

.col_3 .col_2, .col_3 .col_1 { margin-right:17.45%; }
.col_3 .col_1 { width:21.7%; }
.col_3 .col_2 { width:60.86%; }

.col_3 .pre_1 { padding-left:21.7%; }
.col_3 .pre_2 { padding-left:60.86%; }

.col_3 .suf_1 { padding-right:21.7%; }
.col_3 .suf_2 { padding-right:60.86%; }

/* */

.col_4 .col_3, .col_4 .col_2, .col_4 .col_1 { margin-right:12.36%; }
.col_4 .col_1 { width:15.73%; }
.col_4 .col_2 { width:43.82%; }
.col_4 .col_3 { width:71.91%; }

.col_4 .pre_1 { padding-left:28.09%; }
.col_4 .pre_2 { padding-left:56.18%; }
.col_4 .pre_3 { padding-left:84.27%; }

.col_4 .suf_1 { padding-right:28.09%; }
.col_4 .suf_2 { padding-right:56.18%; }
.col_4 .suf_3 { padding-right:84.27%; }

/* */

.col_5 .col_4, .col_5 .col_3, .col_5 .col_2, .col_5 .col_1 { margin-right:9.7%; }
.col_5 .col_1 { width:12.24%; }
.col_5 .col_2 { width:34%; }
.col_5 .col_3 { width:56.28%; }
.col_5 .col_4 { width:78%; }

.col_5 .pre_1 { padding-left:21.94%; }
.col_5 .pre_2 { padding-left:43.7%; }
.col_5 .pre_3 { padding-left:65.98%; }
.col_5 .pre_4 { padding-left:87.7%; }

.col_5 .suf_1 { padding-right:21.94%; }
.col_5 .suf_2 { padding-right:43.7%; }
.col_5 .suf_3 { padding-right:65.98%; }
.col_5 .suf_4 { padding-right:87.7%; }

/* */

.col_6 .col_5, .col_6 .col_4, .col_6 .col_3, .col_6 .col_2, .col_6 .col_1 { margin-right:7.77% }
.col_6 .col_1 { width:10.19%; }
.col_6 .col_2 { width: 28.13%; }
.col_6 .col_3 { width: 46.11%; }
.col_6 .col_4 { width: 64.1%; }
.col_6 .col_5 { width: 82%; }

.col_6 .pre_1 { padding-left:89.77%; }
.col_6 .pre_2 { padding-left:71.87%; }
.col_6 .pre_3 { padding-left:53.88%; }
.col_6 .pre_4 { padding-left:35.9%; }
.col_6 .pre_5 { padding-left:17.96%; }

.col_6 .suf_1 { padding-right:89.77%; }
.col_6 .suf_2 { padding-right:71.87%; }
.col_6 .suf_3 { padding-right:53.88%; }
.col_6 .suf_4 { padding-right:35.9%; }
.col_6 .suf_5 { padding-right:17.96%; }

/* */

.col_7 .col_6, .col_7 .col_5, .col_7 .col_4, .col_7 .col_3, .col_7 .col_2, .col_7 .col_1 { margin-right: 6.56%;}
.col_7 .col_1 { width:8.66%; }
.col_7 .col_2 { width:23.88%; }
.col_7 .col_3 { width:39.11%; }
.col_7 .col_4 { width:54.33%; }
.col_7 .col_5 { width:69.56%; }
.col_7 .col_6 { width:84.78%; }

.col_7 .pre_1 { padding-left:15.22%; }
.col_7 .pre_2 { padding-left:30.44%; }
.col_7 .pre_3 { padding-left:45.67%; }
.col_7 .pre_4 { padding-left:60.89%; }
.col_7 .pre_5 { padding-left:76.12%; }
.col_7 .pre_6 { padding-left:91.34%; }

.col_7 .suf_1 { padding-right:15.22%; }
.col_7 .suf_2 { padding-right:30.44%; }
.col_7 .suf_3 { padding-right:45.67%; }
.col_7 .suf_4 { padding-right:60.89%; }
.col_7 .suf_5 { padding-right:76.12%; }
.col_7 .suf_6 { padding-right:91.34%; }

/* */

.col_8 .col_7, .col_8 .col_6, .col_8 .col_5, .col_8 .col_4, .col_8  .col_3, .col_8 .col_2, .col_8 .col_1 { margin-right:5.78%; }
.col_8 .col_1 { width:7.44%; }
.col_8 .col_2 { width:20.66%; }
.col_8 .col_3 { width:33.89%; }
.col_8 .col_4 { width:47.11%; }
.col_8 .col_5 { width:60.33%; }
.col_8 .col_6 { width:73.56%; }
.col_8 .col_7 { width:86.78%; }

.col_8 .pre_1 { padding-left:13.22%; }
.col_8 .pre_2 { padding-left:26.44%; }
.col_8 .pre_3 { padding-left:39.67%; }
.col_8 .pre_4 { padding-left:52.89%; }
.col_8 .pre_5 { padding-left:66.11%; }
.col_8 .pre_6 { padding-left:79.34%; }
.col_8 .pre_7 { padding-left:92.56%; }

.col_8 .suf_1 { padding-right:13.22%; }
.col_8 .suf_2 { padding-right:26.44%; }
.col_8 .suf_3 { padding-right:39.67%; }
.col_8 .suf_4 { padding-right:52.89%; }
.col_8 .suf_5 { padding-right:66.11%; }
.col_8 .suf_6 { padding-right:79.34%; }
.col_8 .suf_7 { padding-right:92.56%; }

/* */

.col_9 .col_1, .col_9 .col_2, .col_9 .col_3, .col_9 .col_4, .col_9 .col_5, .col_9 .col_6, .col_9 .col_6, .col_9 .col_7, .col_9 .col_8 { margin-right:5.1%; }
.col_9 .col_1 { width:6.57%; }
.col_9 .col_2 { width:18.25%; }
.col_9 .col_3 { width:29.93%; }
.col_9 .col_4 { width:41.61%; }
.col_9 .col_5 { width:53.25% }
.col_9 .col_6 { width:64.97%; }
.col_9 .col_7 { width:76.65%; }
.col_9 .col_8 { width:88.33%; }

.col_9 .pre_1 { padding-left:11.67%; }
.col_9 .pre_2 { padding-left:23.35%; }
.col_9 .pre_3 { padding-left:35.03%; }
.col_9 .pre_4 { padding-left:46.71%; }
.col_9 .pre_5 { padding-left:58.35% }
.col_9 .pre_6 { padding-left:70.07%; }
.col_9 .pre_7 { padding-left:81.75%; }
.col_9 .pre_8 { padding-left:93.43%; }

.col_9 .suf_1 { padding-right:11.67%; }
.col_9 .suf_2 { padding-right:23.35%; }
.col_9 .suf_3 { padding-right:35.03%; }
.col_9 .suf_4 { padding-right:46.71%; }
.col_9 .suf_5 { padding-right:58.35% }
.col_9 .suf_6 { padding-right:70.07%; }
.col_9 .suf_7 { padding-right:81.75%; }
.col_9 .suf_8 { padding-right:93.43%; }

/* */

.col_10 .col_9, .col_10 .col_8, .col_10 .col_7, .col_10 .col_6, .col_10 .col_5, .col_10 .col_4, .col_10 .col_3, .col_10 .col_2, .col_10 .col_1 { margin-right:4.61%; }
.col_10 .col_1 { width:5.85%; }
.col_10 .col_2 { width:16.31%; }
.col_10 .col_3 { width:26.77%; }
.col_10 .col_4 { width:37.23%; }
.col_10 .col_5 { width:47.69%; }
.col_10 .col_6 { width:58.16%; }
.col_10 .col_7 { width:68.62%; }
.col_10 .col_8 { width:79.08%; }
.col_10 .col_9 { width:89.54%; }

.col_10 .pre_1 { padding-left:10.46%; }
.col_10 .pre_2 { padding-left:20.92%; }
.col_10 .pre_3 { padding-left:31.38%; }
.col_10 .pre_4 { padding-left:41.84%; }
.col_10 .pre_5 { padding-left:52.3%; }
.col_10 .pre_6 { padding-left:62.77%; }
.col_10 .pre_7 { padding-left:73.23%; }
.col_10 .pre_8 { padding-left:83.69%; }
.col_10 .pre_9 { padding-left:94.06%; }

.col_10 .suf_1 { padding-right:10.46%; }
.col_10 .suf_2 { padding-right:20.92%; }
.col_10 .suf_3 { padding-right:31.38%; }
.col_10 .suf_4 { padding-right:41.84%; }
.col_10 .suf_5 { padding-right:52.3%; }
.col_10 .suf_6 { padding-right:62.77%; }
.col_10 .suf_7 { padding-right:73.23%; }
.col_10 .suf_8 { padding-right:83.69%; }
.col_10 .suf_9 { padding-right:94.06%; }

/* */

.col_11 .col_10, .col_11 .col_9, .col_11 .col_8, .col_11 .col_7, .col_11 .col_6, .col_11 .col_5, .col_11 .col_4, .col_11 .col_3, .col_11 .col_2, .col_11 .col_1 { margin-right:4.14%; }
.col_11 .col_1  { width:5.32%; }
.col_11 .col_2  { width:14.79%; }
.col_11 .col_3  { width:24.26%; }
.col_11 .col_4  { width:33.73%; }
.col_11 .col_5  { width:43.2%; }
.col_11 .col_6  { width:52.66%; }
.col_11 .col_7  { width:62.1%; }
.col_11 .col_8  { width:71.6%; }
.col_11 .col_9  { width:81.07%; }
.col_11 .col_10 { width:90.54%; }

.col_11 .pre_1  { padding-left:9.46%; }
.col_11 .pre_2  { padding-left:18.93%; }
.col_11 .pre_3  { padding-left:28.4%; }
.col_11 .pre_4  { padding-left:37.87%; }
.col_11 .pre_5  { padding-left:47.34%; }
.col_11 .pre_6  { padding-left:56.8%; }
.col_11 .pre_7  { padding-left:66.24%; }
.col_11 .pre_8  { padding-left:75.74%; }
.col_11 .pre_9  { padding-left:85.21%; }
.col_11 .pre_10 { padding-left:94.68%; }

.col_11 .suf_1  { padding-right:9.46%; }
.col_11 .suf_2  { padding-right:18.93%; }
.col_11 .suf_3  { padding-right:28.4%; }
.col_11 .suf_4  { padding-right:37.87%; }
.col_11 .suf_5  { padding-right:47.34%; }
.col_11 .suf_6  { padding-right:56.8%; }
.col_11 .suf_7  { padding-right:66.24%; }
.col_11 .suf_8  { padding-right:75.74%; }
.col_11 .suf_9  { padding-right:85.21%; }
.col_11 .suf_10 { padding-right:94.68%; }

/* Columnal - prefix and suffix columns for horizontal spacing options */
/* spacing for before column */
.pre_1  { padding-left: 8.65%; } /* 4.85 + 3.8 */
.pre_2  { padding-left: 17.3%; } /* 13.5 + 3.8 */
.pre_3  { padding-left: 25.95%; }/* 22.15 + 3.8 */
.pre_4  { padding-left: 34.6%; } /* 30.8 + 3.8 */
.pre_5  { padding-left: 43.25%; }/* 39.45 + 3.8 */
.pre_6  { padding-left: 51.9%; } /* 48.1 + 3.8 */
.pre_7  { padding-left: 60.55%; }/* 56.75 + 3.8 */
.pre_8  { padding-left: 69.2%; } /* 65.4 + 3.8 */
.pre_9  { padding-left: 77.85%; }/* 74.05 + 3.8 */
.pre_10 { padding-left: 86.5%; } /* 82.7 + 3.8 */
.pre_11 { padding-left: 95.15%; }/* 91.35 + 3.8 */
/* spacing for after column */
.suf_1  { padding-right: 8.65%; }
.suf_2  { padding-right: 17.3%; }
.suf_3  { padding-right: 25.95% }
.suf_4  { padding-right: 34.6%; }
.suf_5  { padding-right: 43.25%; }
.suf_6  { padding-right: 51.9%; }
.suf_7  { padding-right: 60.55%; }
.suf_8  { padding-right: 69.2%; }
.suf_9  { padding-right: 77.85%; }
.suf_10 { padding-right: 86.5%; }
.suf_11 { padding-right: 95.15%; }

/* Columnal - vertical spacing options */
.margin_top_5   { margin-top: 5px !important; }
.margin_top_15  { margin-top: 15px !important; }
.margin_top_25  { margin-top: 25px !important; }
.margin_top_30  { margin-top: 30px !important; }
.margin_top_35  { margin-top: 35px !important; }
.margin_top_45  { margin-top: 45px !important; }
.margin_top_60  { margin-top: 60px !important; }
.margin_top_90  { margin-top: 90px !important; }
.margin_top_120 { margin-top: 120px !important; }

.margin_bottom_5   { margin-bottom: 5px !important; }
.margin_bottom_15  { margin-bottom: 15px !important; }
.margin_bottom_25  { margin-bottom: 25px !important; }
.margin_bottom_30  { margin-bottom: 30px !important; }
.margin_bottom_35  { margin-bottom: 35px !important; }
.margin_bottom_45  { margin-bottom: 45px !important; }
.margin_bottom_60  { margin-bottom: 60px !important; }
.margin_bottom_90  { margin-bottom: 90px !important; }
.margin_bottom_120 { margin-bottom: 120px !important; }

.padding_top_15  { padding-top:15px !important; }
.padding_top_30  { padding-top:30px !important; }
.padding_top_45  { padding-top:45px !important; }
.padding_top_60  { padding-top:60px !important; }
.padding_top_90  { padding-top:90px !important; }
.padding_top_120 { padding-top:120px !important; }
.padding_top_130 { padding-top:130px !important; }

.padding_bottom_15  { padding-bottom:15px !important; }
.padding_bottom_30  { padding-bottom:30px !important; }
.padding_bottom_45  { padding-bottom:45px !important; }
.padding_bottom_60  { padding-bottom:60px !important; }
.padding_bottom_90  { padding-bottom:90px !important; }
.padding_bottom_120 { padding-bottom:120px !important; }
.padding_bottom_130 { padding-bottom:130px !important; }

/* Columnal - extras */
.clear, .clearboth { clear:both !important; }
.clearleft { clear:left !important; }
.clearright { clear:right !important; }

.textcenter { text-align:center; }
.textright { text-align:right; }
.textleft { text-align:left; }

/* this will insert a pseduo element clears floats for an element containing floated content */
.selfclear:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }

.mobile-only { display: none; }


/*|||||||||||||||||||||||||||
**||  2.2 COLUMNAL MOBILE  ||
**|||||||||||||||||||||||||||
*/

@media handheld, only screen and (max-width: 768px) {

  .row, .body, .container {
  width: 100%;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0; }

  /* kill prefixes and suffixes, otherwise 1-column version breaks */
  .pre_1, .pre_2, .pre_3, .pre_4, .pre_5, .pre_6, .pre_7, .pre_8, .pre_9, .pre_10, .pre_11 { padding-left: 0; }
  .suf_1, .suf_2, .suf_3, .suf_4, .suf_5, .suf_6, .suf_7, .suf_8, .suf_9, .suf_10, .suf_11 { padding-right: 0; }

  /* cssgrid.net - mobile presets */
  .col_1, .col_2, .col_3, .col_4, .col_5, .col_6,
  .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
    clear: both;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    width: -moz-available; }

  /* Columnal - sub columns */
  .col_2 .col_1,
  .col_3 .col_2, .col_3 .col_1,
  .col_4 .col_3, .col_4 .col_2, .col_4 .col_1,
  .col_5 .col_4, .col_5 .col_3, .col_5 .col_2, .col_5 .col_1,
  .col_6 .col_5, .col_6 .col_4, .col_6 .col_3, .col_6 .col_2, .col_6 .col_1,
  .col_7 .col_6, .col_7 .col_5, .col_7 .col_4, .col_7 .col_3, .col_7 .col_2, .col_7 .col_1,
  .col_8 .col_7, .col_8 .col_6, .col_8 .col_5, .col_8 .col_4, .col_8 .col_3, .col_8 .col_2, .col_8 .col_1,
  .col_9 .col_1, .col_9 .col_2, .col_9 .col_3, .col_9 .col_4, .col_9 .col_5, .col_9 .col_6, .col_9 .col_7, .col_9 .col_8,
  .col_10 .col_9, .col_10 .col_8, .col_10 .col_7, .col_10 .col_6, .col_10 .col_5, .col_10 .col_4, .col_10 .col_3, .col_10 .col_2, .col_10 .col_1,
  .col_11 .col_10, .col_11 .col_9, .col_11 .col_8, .col_11 .col_7, .col_11 .col_6, .col_11 .col_5, .col_11 .col_4, .col_11 .col_3, .col_11 .col_2, .col_11 .col_1,
  .col_12 .col_11, .col_12 .col_10, .col_12 .col_9, .col_12 .col_8, .col_12 .col_7, .col_12 .col_6, .col_12 .col_5, .col_12 .col_4, .col_12 .col_3, .col_12 .col_2, .col_12 .col_1 {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }

  /* .row { width: 100%; } */

  /* Type presets */
  .container h1 { margin:.5em 0 .5em; }
  .container h2 { margin:.5em 0 .535em; }
  .container h3 { margin:.5em 0 .57em; }
  .container h4 { margin:.5em 0 .615em; }
  .container h5 { margin:.5em 0 .67em; }
  .container h6 { margin:.5em 0 .8em; }

  /* .reverse { padding-top: 1em; margin-bottom: 1em; } */

  /* Columnal content control - use on any elements to show/hide content on mobile */
  .mobile-hide { display: none; }
  .mobile-only { display: block; }

} /* End @media <= 768px


/*||||||||||||||||||||||||||||||||||||||||||||||||||||
**||  3.3 CUSTOM ADDITIONS FOR MOBILE SITE LAYOUT   ||
**||||||||||||||||||||||||||||||||||||||||||||||||||||
*//*

  Push styles to allow left content to stack on type of right content
*/

.push_1  { left: 8.85%; }  /* ie - 4.7% */
.push_2  { left: 17.5%; }  /* ie - 13.2% */
.push_3  { left: 26.15%; } /* ie - 22.05% */
.push_4  { left: 34.8%; }  /* ie - 30.6% */
.push_5  { left: 43.45%; } /* ie - 39% */
.push_6  { left: 52.1%; }  /* ie - 48% */
.push_7  { left: 60.75%; } /* ie - 56.75% */
.push_8  { left: 69.4%; }  /* ie - 61.6% */
.push_9  { left: 78.05%; } /* ie - 74.05% */
.push_10 { left: 86.7%; }  /* ie - 82.7% */
.push_11 { left: 95.35%; } /* ie - 91.35% */

.pull_1  { right: 4.85%;} /* ie - 4.7% */
.pull_2  { right: 13.5%;} /* ie - 13.2% */
.pull_3  { right: 22.15%;}/* ie - 22.05% */
.pull_4  { right: 30.8%;} /* ie - 30.6% */
.pull_5  { right: 39.45%;}/* ie - 39% */
.pull_6  { right: 48.1%;} /* ie - 48% */
.pull_7  { right: 56.75%;}/* ie - 56.75% */
.pull_8  { right: 65.4%;} /* ie - 61.6% */
.pull_9  { right: 74.05%;}/* ie - 74.05% */
.pull_10 { right: 82.7%;} /* ie - 82.7% */
.pull_11 { right: 91.35%;}/* ie - 91.35% */

@media (max-width: 768px) {

  .push_1 { left: 0; } /* ie - 4.7% */
  .push_2 { left: 0; } /* ie - 13.2% */
  .push_3 { left: 0; } /* ie - 22.05% */
  .push_4 { left: 0; } /* ie - 30.6% */
  .push_5 { left: 0; } /* ie - 39% */
  .push_6 { left: 0; } /* ie - 48% */
  .push_7 { left: 0; } /* ie - 56.75% */
  .push_8 { left: 0; } /* ie - 61.6% */
  .push_9 { left: 0; } /* ie - 74.05% */
  .push_10 { left: 0; }/* ie - 82.7% */
  .push_11 { left: 0; }/* ie - 91.35% */

  .pull_1 { right:0; }  /* ie - 4.7% */
  .pull_2 { right:0; }  /* ie - 13.2% */
  .pull_3 { right: 0; } /* ie - 22.05% */
  .pull_4 { right:0; }  /* ie - 30.6% */
  .pull_5 { right: 0; } /* ie - 39% */
  .pull_6 { right:0; }  /* ie - 48% */
  .pull_7 { right: 0; } /* ie - 56.75% */
  .pull_8 { right:0; }  /* ie - 61.6% */
  .pull_9 { right: 0; } /* ie - 74.05% */
  .pull_10 { right:0; } /* ie - 82.7% */
  .pull_11 { right: 0; }/* ie - 91.35% */

} /* End @media <= 768px */

/*||||||||||||||||
**||  2.2 TYPE  ||
**||||||||||||||||
*/

body {
  /*color: #000;*/
  /* line-height: 1.6em; (cssgrid.net) */
  /* Prevent iPhone from scaling type up (cssgrid.net) */
  -webkit-text-size-adjust: none;
  font: inherit;
  font-family: Helvetica;
  font-size: 100%;
  background: #FFF; }

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  line-height: normal; }

/* h1, h2, h3, h4, h5, h6 { letter-spacing: 1px; } */

/* h1, h2, h3, h4, h5, h6, p, dl, hr, ol, ul, pre, table, address, fieldset { margin-bottom: 1.6em;} */

/* Define basic text markup (after removal by reset) */
strong {
  font-weight: bold; }
em {
  font-style:italic; }
pre {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight:bold; }

/*||||||||||||||||
**||  2.2 LINKS ||
**||||||||||||||||
*/

/* Links */
a, a:link {
  color: #036;
  text-decoration: none; }
  a:visited {
    color: #002469; }
  a:hover {
    color: #003399;
    text-decoration: underline; }

/* .row hr, .row p, .row ul, .row ol, .row dl, .row pre, .row address, .row table, .row form {margin-bottom: 1.6em;} */

/* Headings */
h1 {
  font-size: 2em;
  line-height:1.2em;
  font-weight:normal;
  margin:1em 0 .5em; }
  p + h1 {
    margin-top:.5em; }
h2, h3, h4, h5, h6 {
  font-weight: bold; }
  h1 + p,h2 + p,h3 + p,h4 + p,h5 + p,h6 + p { margin-top: 0;} /* fix for Chrome collapse bug */
h2 { font-size:1.7em; line-height:1.3em; margin:1em 0; }
h3 { font-size:1.3em; margin:0 0 .57em 0; }
h4 { font-size:1.25em; margin:0; }
h5, h6 { font-size: 1em; margin:1em 0 .25em 0; }

/* Paragraphs */
p {
  margin-bottom: 24px; }
p + p,
p + ul {
  margin-top: -.8em; }

/* Lists */
ol {
  margin-left: 0;
  padding-left: 20px;
  text-indent: 0; }
ul {
  list-style: disc outside; }
  li {
    font-size: 15px;
    margin-bottom: 2px;
    margin-left: 20px; }

/* Quotes */
blockquote { font-family: Georgia, "Times New Roman", Times, sans-serif; font-size:18px; line-height: 24px; font-style:italic; padding-left:35px; color: #999; margin: .5em 0 .5em 0; }

/* Forms & Input */
input, textarea {
  font: .75em  Arial, "Helvetica Neue", Helvetica, sans-serif; }

dt {
  font-weight: bold; }

hr {
  background:black;
  border:none;
  color:white;
  display:block;
  height:1px;
  margin-top: 20px;
  width:100%; }

/* IMAGE basics */

/*img, object, embed {margin-bottom: 20px;}
img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
}*/

/* Prevent image links getting text link styles */
a img { display: inline-block; }

/* Custom Type */
#main ul {
  list-style-type: none; }
#main ol {
  list-style-type: decimal-leading-zero;
  margin: 0;
  padding: 0; }
  #main li {
    font-size: 1em; }


/*||||||||||||||||||||
**||  2. STRUCTURE  ||
**||||||||||||||||||||
*//*

  This section defines custom generic styles that could be applied to any element.
  Examples: Color, spacing, fonts, appended content, custom structured elements, etc...
*/

/*||||||||||||||||||
**||  2.1 HEADER  ||
**||||||||||||||||||
*/

/* Skip link styling starts here. */

/* First, the positioning CSS for the skip link and the skip target. Changing any of this will most likely break the skip link in one browser or another, so if you change it then TEST IT */
#skiplinkholder a,
#skiplinkholder a:link,
#skiplinkholder a:visited {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: -999999px;
  z-index: 2; }
  #skiplinkholder a:focus,
  #skiplinkholder a:active {
    display: block;
    position: relative;
    clear: both;
    left: 0;
    top: 0;
    z-index: 100;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;}
#skiptargetholder {
  position: absolute;
  left: -200%; }
/* You may find on certain page layouts that the skip link is appearing underneath other elements on the page in IE7 and below. If this is the case then try uncommenting the two statements below, and if that does not work then try increasing the z-index value above as well */
/*
*+html #skiplinkholder a:focus, *+html #skip a:active {position: relative}
* html #skiplinkholder a:active {position: relative}
/* Now, the visual styling. Change this as desired */
#skiplinkholder {
  width: 100%;
  display: inline; }
  #skiplinkholder a,
  #skiplinkholder a:link,
  #skiplinkholder a:visited {
    color: #FFF;
    background: #336;
    text-decoration: none;
    border-bottom: solid #CCC 2px;
    padding: 5px; }

/* Accessibility validator fix */
#skiplinkholder a:link,
#skiplinkholder a:visited,
#skiplinkholder a:hover,
#skiplinkholder a:active {
  color: #FFFFFF !important; }

header h1 {
  /*
  position: relative;
  left: 0;
  */
  position: absolute;
  left: -9999px; }

.logo {
  padding-bottom: 0;
  display: block;
  height: 100px;
  padding-left: 2px;
  width: 425px; }
  .logo .logo-text h1 {
    /*
    position: absolute;
    left: -9999px;
    */
    color: #666;
    font: bold 16px Arial, Helvetica, sans-serif;
    text-shadow: none;
    float: left;
    margin-top: 34px;
    margin-bottom: 0;
    background: #FFF; }
  .logo-img {
    float: left;
    width: 180px;
    padding-top: 10px; }

.hidden {
  display: block;
  position: absolute;
  left: -9999px;
  background: #FFF; }

.search {
  text-align: right;
  display: block;
  /*width: 350px;*/
  float: right;
  border-top-color: #CCC;
  margin-top: 15px;
  padding: 20px 20px 0 0; }
  .search input[type="submit"] {
    display: inline-block;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #EDEDED),
      color-stop(1, #DFDFDF) );
    background: -moz-linear-gradient(
      center top,
      #EDEDED 5%,
      #DFDFDF 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#DFDFDF');
    background-color: #EDEDED;
    border: 1px solid #DCDCDC;
    color: #777;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 20px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #FFF;
       -moz-box-shadow: inset 0px 1px 0px 0px #FFF;
    -webkit-box-shadow: inset 0px 1px 0px 0px #FFF;
            box-shadow: inset 0px 1px 0px 0px #FFF;
       -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
  .search input[type="text"] {
    color: #002469;
    font-size: 14px;
    padding: 6px 4px 4px; }
      .search input[type="text"]:focus,
      .search input[type="submit"]:focus {
        outline: 1px solid #f2bf49; }

address h3,
address h4 {
  margin-bottom: 0; }
address p {
  line-height: 1.125em;
  margin: inherit; }


/*||||||||||||||||||||||
**||  2.2 NAVIGATION  ||
**||||||||||||||||||||||
*/

/* MAIN NAV */
#topnav {
  background: #004080;
  /*
  background-image: -webkit-gradient(linear, left top, left bottom, from(#006699), to(#002469));
  background-image: -moz-linear-gradient(top, #006699, #002469);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
     -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
          box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  */
  list-style: none;
  width: 100%;
  display: block;
  clear: both; }
  #topnav .nav {
    display: table;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    height: 34px; }
    #topnav .nav li {
      display: table-cell;
      font: 1em/normal Arial, Helvetica, sans-serif;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-left: 0;
      padding-left: 0;
      padding: 0;
      margin: 0; }
      #topnav .nav li:hover {
        background: #114679; }
      #topnav .nav li > a {
        color: #FFF;
        font-size: 1em;
        letter-spacing: .035em;
        /*text-shadow: 0 1px 0 rgba(0,0,0,0.4), 0 -1px 0 rgba(0,0,0,0.2);*/
        display: block;
        padding: 0;
        margin: 0;
        padding: 8px 35px;
        font-weight: bold;
        line-height: 18px; }
      #topnav .nav li.nav-item > a.open {
        background: #efefef;
        color: #002469; }
      #topnav ul li a.nav-active {
        background: #F3F3F3;
        color: #002469;
        text-decoration: underline; }

.nav-container {
  position: relative;
  z-index: 998; }
.navrow {
  max-width: 1140px;
  margin: auto; }
.dropdown-menu li {
  display: block; }

.mobilenav, .mobilenavouter {
  display: none; }
.mobnav {
  list-style: none !important;
  margin: 0px;
  padding: 0px;
  text-indent: 0px;
  width: 95%; }
  .mobnav li {
    list-style-type: none; }
  /*
  .mobnav a:link {
    font-size: 1.6em;
    display: block;
    padding: 9px 9px 9px 0px; }
  */

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888; }
.navbar-toggle {
  border-color: #ddd;
  position: relative;
  float: left;
  margin-left: 0px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
     -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-left: 10px; }
  .navbar-toggle .icon-bar {
    background-color: #fff;
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 1px; }
    .navbar-toggle .icon-bar:nth-child(2) {
      margin: 4px 0; }

    .toggleaccess {
      display: block;
      position: absolute;
      left: -9999px; }

#admission .first a {
  font-weight: bold; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0; }

.f-nav, .f-nav2 { /* Fixed-to-top menu */
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; }
  #resource-bar.f-nav {
	background: #FFF !important; }
.f-nav2 { /* Fixed-top-menu 2: Below Resource Bar */
  top: 33px; }

@media(max-width: 900px) { /* Snaps resource-bar back to top on mobile breakpoint */

  .f-nav{
    top: 0; }

} /* End @media <=900px */

/* This is for the search bar in the #topnav on mobile */
.adj {
  display: block;
  padding-top: 0px; }

/* Trying to fix pixel offset on mobile search */
.ipad .adj {
  padding-top: .15em; }
.iphone .adj {
  padding-top: .15em; }
html.gecko.win .adj, html.ie .adj {
  padding-top: 3px; }
html.chrome .adj {
   padding-top: 2px; }
.touch .adj {
  padding-top: 2px; }

/* Dropdown Panels */
#topnav .dropdown {
  position: absolute;
  z-index: 99999;
  display: none;
  width: 100%;
  left: 0 !important; }
  #topnav .dropdown .dropdown-menu,
  #topnav .dropdown .dropdown-panel {
    /*min-width: 160px;*/
    /*max-width: 360px;*/
    list-style: none;
    background: #F3F3F3;
    border: solid 1px #DDD;
    border: solid 1px rgba(0, 0, 0, .2);
    right: 200px;
    border: none;
    overflow: visible;
    padding: 25px 0 4px;
    margin: 0;
    min-height: 200px; }
  #topnav .dropdown .dropdown-panel {
    padding: 10px;
    padding-top: 30px;
    -webkit-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75);
            box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.75); }
#topnav .dropdown.dropdown-tip {
  margin-top: 8px; }
  #topnav .dropdown.dropdown-tip:before {
    position: absolute;
    top: -6px;
    left: 9px;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    display: inline-block; }
    #topnav .dropdown.dropdown-tip.dropdown-anchor-right:before {
      left: auto;
      right: 9px; }
  #topnav .dropdown.dropdown-tip:after {
    position: absolute;
    top: -5px;
    left: 10px;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #FFF;
    display: inline-block; }
    #topnav .dropdown.dropdown-tip.dropdown-anchor-right:after {
      left: auto;
      right: 10px; }
#topnav .dropdown.dropdown-scroll .dropdown-menu,
#topnav .dropdown.dropdown-scroll .dropdown-panel {
  max-height: 358px;
  overflow: auto; }

#topnav .dropdown .dropdown-menu {
  padding-top: 0;
  text-align: left; }
  #topnav .dropdown .dropdown-menu li {
    list-style: none;
    /*
    line-height: 18px;
    */
    line-height: normal;
    display: block;
    margin-bottom: 10px; }
    #topnav .dropdown .dropdown-menu li:hover {
      background: none; }
    #topnav .dropdown .dropdown-menu li > a {
      color: #002469;
      font-weight: lighter;
      padding: 0;
      padding-bottom: 10px;
      font-size: .9em;
      line-height: 22px; }
      #topnav .dropdown .dropdown-menu li.first > a {
        font-weight: bold;
        padding: 15px 0 0;
        min-height: 35px;
        border-bottom: 1px dotted #999999;
        /*letter-spacing: .009em;*/
        margin-bottom: 15px;
        font-size: 0.9em; }

      #topnav .dropdown .dropdown-menu li > a:hover,
      #topnav .dropdown .dropdown-menu label:hover {
        background: none;
        cursor: pointer;
        text-decoration: underline; }
      #topnav .dropdown .dropdown-menu .dropdown-divider {
        font-size: 1px;
        border-top: solid 1px #E5E5E5;
        padding: 0;
        margin: 5px 0; }

#topnav .dropdown .dropdown-panel {
  background: #F3F3F3;
  padding-top: 32px;
  min-height: 240px; }
  #topnav .dropdown-panel h4, .dropdown-panel h5{
    text-align: left;
    line-height: .7em;
    padding: 8px 0px; }
  #topnav .dropdown-panel p {
    text-align: left;
    display: block;
    /*padding-top: 25px;*/
    line-height: 1.3em;
    color: #4F4F4F;
    font-size: 0.94em; }
  #topnav .dropdown-panel h2 {
    text-align: left;
    display: block;
    padding-top: 0px;
    line-height: 1.4em;
    color: #002469;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    margin: 0px; }
  #topnav .dropdown-panel img {
    display: block;
    /* padding-top: 20px;*/
    box-shadow: 2px 2px 15px #fff; }

#admissions .dropdown-panel .col_2 {
  margin: 0;
  padding: 0 2% 0 0;
  width: 14%; }
#admissions .dropdown-panel .adm {
  padding-top: 15px; }
#admissions h4 a{
  font-weight: bold;
  line-height: normal; }

.academics-panel .col_2 ul.dropdown-menu:first-of-type {
  border-right: 1px inset #666666;
  box-sizing: border-box;
}

.slidingDiv {
  display: none;
  margin: 0px;
  padding: 0px;
  /*clear: both;*/
  width: 100%;
  background: #EDF5FC;
  background: none;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-right-color: #002469;
  border-left-color: #002469; }
  .slidingDiv #mainnav {
    float: left;
    width: 100%;
    border-style: none;
    text-align: center;
    box-sizing: border-box; }
  .slidingDiv #resourcenav {
    float: left;
    width: 50%;
    box-sizing: border-box;}

.mobilenavouter ul {
  background: none; }

/* Secondary Nav */
#resource-bar {
  height: 32px!important;
  font-family: Lato;
  background: #9F9F9F;
  background: #F2F2F2;
  color: #333333;
  border-bottom: 1px solid #D1D1D1;
  font-weight: bold; }
  #resource-bar:hover{
    background: #EAF7FD; }
  #resource-bar .give{
    position: relative;
    top: 1px;
    color: #039;
    background: #FFF;
    padding-right: 9px;
    padding-left: 9px;
    -webkit-box-shadow: 0px -4px 9px -7px rgba(0,0,0,1);
       -moz-box-shadow: 0px -4px 9px -7px rgba(0,0,0,1);
            box-shadow: 0px -4px 9px -7px rgba(0,0,0,1); }
    #resource-bar .give a:link{
      color: #039; }
    #resource-bar .give .fa-gift{
      color: #039 !important;
      font-size: 0.9em !important; }
  #resource-bar .title {
    line-height: 32px;
    width: auto;
    display: inline-block;
    margin-left: 20px;
    color: #002469;
    text-shadow: 0px 0px 1px rgb(255,255,255);
    letter-spacing: .05em;
    font-family: 'Source Sans pro', sans-serif;
    font-weight: bold;
    margin: 0;
    margin-left: 20px;
    padding: 0; }
  #resource-bar ul {
    display: inline-block; }
    #resource-bar ul li {
      display: inline-block;
      padding: 0;
      width: auto; }
      #resource-bar ul li a {
        color: #036;
        padding: 0;
        font: 400 16px 'Source Sans pro', sans-serif; }
        #resource-bar ul li a:hover {
          text-decoration: underline;
          text-shadow: 0px 0px .25px #fff; }
  #resource-bar #more-gateways {
    line-height: 32px;
    float: right;
    margin-right: 20px; }

/* Note: People are missing the resource bar. This is an attempt to call attention to it with a simple fade in on new browsers */
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadein { /* Standard */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* Side Nav */
#sidenav {
  display: block;
  margin: 0px;
  padding: 0px;
  text-indent: 0px; }
  #sidenav ul {
    margin: 0px;
    padding: 0px; }
  #sidenav li {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    #sidenav li a:link,
    #sidenav li a:visited {
      font-size: 1em;
      padding-top: 9px;
      padding-bottom: 8px;
      display: block;
      border-top: 1px dotted #CCC;
      border-right-color: #CCC;
      border-bottom-color: #CCC;
      border-left-color: #CCC;
      color: #004A95;
      text-decoration: none;
      padding-left: 9px; }
    #sidenav li a:link{
      line-height: 18px;
      min-height: 67px; }
      #sidenav li a:hover {
        background: #E1EFFD;
        text-decoration: underline; }
  #sidenav .thumb img{
    display: block;
    height: 67px;
    width: 101px;
    float: right;
    padding-left: 9px;
    padding-top: 9px;
    padding-right: 9px; }
  #side-content #sidenav .thumb img{
    display: block;
    height: 67px;
    width: 101px;
    float: left;
    padding-right: 12px;
    padding-top: 0; }


/*||||||||||||||||||
**||  3.5 FOOTER  ||
**||||||||||||||||||
*/

footer p {
  margin: 0;
  padding: 0;
  line-height: normal; }
footer .footerleft {
  font-size: 12px;
  color: #666; }
footer #link-row {
  background-color: rgb(230,230,230); }
footer ul li {
  list-style-type: none; }
footer #footer-logo img {
  padding: 12px;
  padding-bottom: 0; }
footer #footer-logo .address {
  font-size: .7em;
  padding: 12px;
  padding-top: 0; }
footer .address {
  font-size: .7em !important;
  padding-bottom: 25px !important;
  display: block; }


/*|||||||||||||||||||||||
**||  3.6 HERO PANELS  ||
**|||||||||||||||||||||||
*/

.hero {
  position: relative;
  height: 520px;
  padding-top: 40px;
  padding-bottom: 40px; }
  .hero .header-title {
    /*Featured heading to a hero block. Probably an Image but can also be
    text, <h1> preferably.*/
    display: block;
    margin: auto;
    padding-top: 10%; }

.hero-title {
  color: #FFF;
  display: block;
  position: relative;
  margin-top: 250px;
  padding: 20px 40px; }
  .hero-title h1 {
    text-transform: uppercase;
    margin-bottom: .25em;
    text-align: center; }
  .hero-title p {
    font-size: 1.0em; }

 /* Homepage Hero Title*/
.hero-title-large {
  position: absolute;
  top: 240px;
  right: 0;
  background: rgba(55,55,55,.9);
  width: 350px;
  color: #FFF;
  padding-top: 12px;
  padding-bottom: 24px;
  padding-left: 24px;
  text-shadow: 1px 1px 0px rgba(0,0,0,.75); }
  .hero-title-large h2 {
    margin-bottom: 15px; }
  .hero-title-large p {
    line-height: normal;
    margin-bottom: 4px; }
  .hero-title-large a {
    text-decoration: underline;
    color: #FFF; }
    .hero-title-large a:hover {
      text-shadow: 0px 0px 1px #FFF; }

.no-hero-header {
  border: none;
  background-color: #0071E1; }
  .no-hero-header h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2.0em;
    color: #FFF; }
  .no-hero-header + #skiptargetholder + #breadcrumbs {
    border: none;
    background: #efefef;
    padding-top: 12px;
    padding-bottom: 12px; }

.hero-bg2 {
  background: #002469 url(../_images/hero1blur.jpg) no-repeat fixed center 0; }
  .ipad .hero-bg2 {
    background: #002469 url(../_images/hero1blur.jpg) no-repeat scroll center center; }
  .iphone .hero-bg2 {
    background: #002469 url(../_images/hero1blur.jpg) no-repeat scroll center center; }
  .touch .hero-bg2 {
    background-attachment: scroll;
    background-position: center -175px; }

.hero-bg3 {
  background: #002469 url(../_images/tabor.jpg) no-repeat fixed center -67px; }

.wtf {
  background: url("../_images/tabor.jpg"); }

.inside-header-bg {
  background-position: center -200px;
  background-repeat: no-repeat;
  background-attachment: fixed; }

/*Specific Styles for the mobile images for the gateway pages*/
#academics-page .inside-header-bg {
  background-position: center -300px !important; }

.touch #about-page .inside-header-bg {
  background-position: center -150px; }
.touch #academics-page .inside-header-bg {
  background-position: center -450px; }
.touch #athletics-page .inside-header-bg {
  background-position: center -150px; }
.touch #leadership-page .inside-header-bg {
  background-position: center -175px; }
.touch #community-page .inside-header-bg {
  background-position: center -165px; }

.iphone #about-page .inside-header-bg,
.ipad #about-page .inside-header-bg {
  background-position: center -50px; }
.iphone #academics-page .inside-header-bg,
.ipad #academics-page .inside-header-bg {
  background-position: center -350px; }
.iphone #research-page .inside-header-bg,
.ipad #research-page .inside-header-bg {
  background-position: center -100px; }
.iphone #athletics-page .inside-header-bg,
.ipad #athletics-page .inside-header-bg {
  background-position: center -75px; }
.iphone #leadership-page .inside-header-bg,
.ipad #leadership-page .inside-header-bg {
  background-position: center -75px; }
.iphone #community-page .inside-header-bg,
.ipad #community-page .inside-header-bg {
  background-position: center -75px; }

.inside-title{
  color: #2a3a49;
  padding: 50px 0;
   /*background: rgba(0,0,0,0.0) url(/FE&P2/_images/greenblur.jpg) fixed 0 0px;*/
  position: relative;
  text-align: left;
  margin-top: 10px;
  /*min-width: 351px;*/ }
  .inside-title h2 {
    text-align: left; }

.hero .caption,
.content-item .caption {
  /* Caption area for the bottom of a Hero panel */
  position: absolute;
  /*width: 100%;*/
  display: inline;
  font-size:125%;
  letter-spacing: .025em;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 20px;
  height: auto;
  color: #2a3a49;
  background: #fff;
  background: rgba(200,200,200,0.7);
  filter: alpha(opacity=70); /* IE8 and earlier */ }

.caption h1,
.caption h2,
.caption h3,
.caption h4,
.caption h5,
.caption h6,
.caption p,
.caption li {
  margin: 0;
  padding: 0;
  color: #2a3a49 !important; }

/*|||||||||||||||||||||||||
**||  3.7 CONTENT ITEMS  ||
**|||||||||||||||||||||||||
*/

.content-item {
  /* Default top and bottom padding for items in the non-hero content areas. */
  padding-top: 43px;
  padding-bottom: 43px; }
  .content-item h2 {
    color: #666;
    font-size: 1.3em;
    font-family: lato;
    margin-top: 0;
    padding-bottom: 5px;
    margin-bottom: 12px; }
  .content-item h3 {
    color: #666;
    display: block;
    line-height: 20px; }
  .content-item p {
    /*font-size: 1em;*/
    text-align: left;
    /*color: #666;*/
    padding: 0px 0px 25px;
    margin: 0px;
    display: block; }
  .content-item img + p {
    margin-top: 20px; }

.ie8 button span {
  height: 2px;
  margin: 4px; }


/*||||||||||||||||||||||||||||||||||
**||  3.8 ICON LIST ITEM BUTTONS  ||
**||||||||||||||||||||||||||||||||||
*/

.actionitem,
.event-detail {
  margin: 0 0 20px 0;
  text-align: left;
  font-size: 100%;
  height: auto;
  padding: 10px;
  padding-right: 0; }
  .actionitem a, .event-detail a {
    color: #fff; }
    .actionitem a:hover, .event-detail a:hover {
      text-decoration: none !important; }
  .actionitem .fa-container {
    display: table-cell;
    font-size: 400%;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 10px;
    vertical-align: middle; }
.event-detail {
  margin-bottom: 0; }
  .event-detail .fa-container {
    display: table-cell;
    font-size: 175%;
    padding: 10px;
    vertical-align: middle;
    background: #002469;
    width: 96px;
    text-align: center;
    border-radius: 2px 0 0 2px;
    color: #fff; }

.fa-container .fa {
  font-size: 75%;
  padding: 8px 0; }
.fa-container .date {
  font-size: 18px; }
.actionitem .link-text,
.event-detail .link-text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  line-height: normal;
  font-size: 21px;
  color: #fff; }
  .event-detail .link-text {
    background: #008844;
    font-size: 18px; }

/* Scroll to top icon */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background:
    rgba(0, 64, 128, 0.8)
    url(http://www.rice.edu/_css/cd-top-arrow.svg)
    no-repeat
    center
    50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }
.no-touch .cd-top:hover {
  background-color: #002469;
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px; }
} /* End @media 768px+ */

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px; }
} /* End @media 1024px+ */


/*|||||||||||||||||
**||  3.9 FORMS  ||
**|||||||||||||||||
*/

.form form{
  width: 100%;
  margin: 0%;
  padding: 0px;
  font-size: 1em; }
.form header{
  padding-top: 12px;
  padding-bottom: 8px; }
/* Responsive fields. Sets size and field alignment.*/
.form input[type=text],
.form input[type=checkbox],
.form input[type=radio],
.form select,
.form textarea,
.form input[type=submit] {
  margin-bottom: 20px;
  margin-top:10px;
  padding: 15px;
  width: 100%;
  border: 1px solid #7ac9b7;
  font-size: 1em;
     -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
.form input[type=checkbox], .form input[type=radio]{
  width: auto;
  display: block; }
.form select{
  display: block; }
.form input[type=submit] {
  margin-top: 0;
  background-color: #4180C5;
  color: aliceblue;
  font-size:15px;
  cursor:pointer; }
.form #submit:hover {
  background-color: black; }
.form textarea{
  resize:none; }
  .form input[type=text]:focus,
  .form textarea:focus {
    border-color: #4697e4; }


/*|||||||||||||||||||
**||  3.10 ALERTS  ||
**|||||||||||||||||||
*/

#campusalert {
  color: #000;
  padding-top: 10px;
  text-align: center;
  display: block;
  padding-bottom: 10px;
  border: 1px solid #F00; }
  #campusalert h2 {
    font-size: 1.3em;
    font-weight: bold; }
  #campusalert p {
    font-size: 1.1em; }
  #campusalert a:link {
    color: #000;
    text-decoration: underline; }


/*|||||||||||||||||||||||||
**||  3.11  ICONS  ||
**|||||||||||||||||||||||||
*/

#social {
  text-align: center;
  margin-left: 0;
  margin-top: 25px; }
  #social li {
    display: inline-block;
    margin-left: 0px;
    margin-right: 10px; }
    #homesocial #social li:nth-child(-n+5):last-of-type { /* If this is last and not more than 5  */
      margin-right: 0px; }
    #social li a {
      color: #fff; }
#social .fa {
  background: lightgray;
  text-align: center;
  font-size: 24px;
  border-radius: 100%; }
#social .fa-twitter,
#social .fa-instagram,
#social .fa-google-plus,
#social .fa-linkedin,
#social .fa-youtube {
  padding: 8px 9px; }
#social .fa-facebook {
  padding: 8px 13px; }
#social .fa-twitter:hover,
#social .fa-facebook:hover,
#social .fa-instagram:hover,
#social .fa-google-plus:hover,
#social .fa-linkedin:hover,
#social .fa-youtube:hover {
  transition: all .5s ease-in-out;
  padding: 8px 9px; }
#social .fa-twitter:hover {
  background: #4099ff; }
#social .fa-facebook:hover {
  background: #3b5998;
  padding: 8px 13px; }
#social .fa-instagram:hover {
  background: brown; }
#social .fa-google-plus:hover {
  background-color: #d34836; }
#social .fa-linkedin:hover {
  background: #0099CC; }
#social .fa-youtube:hover {
  background: #F00; }

/*|||||||||||||||||||||
**||  4. RESPONSIVE  ||
**|||||||||||||||||||||
*/

@media (min-width: 1920px) { /* Retina Screens */

  /* Causes the background on the hero panels to expand proportionally
  on screens beyond 1920px wide but keeps the ratio fixed at smaller widths */
  .hero { background-size: cover; }

} /* End @media <=1920px */

/* Resource Bar */
@media (max-width: 1024px){
  #resource-bar ul li {
    margin-left: 10px; }
  #resource-bar ul li a {
     font-size: 13px; }

/* Remove Vertical Border due to crowding at 1024 */
.academics-panel .col_2 ul.dropdown-menu:first-of-type {
  border-right: none;
  box-sizing: content-box; }

#topnav .dropdown .dropdown-menu li > a {
  color: #002469;
  font-weight: lighter;
  padding: 0;
  padding-bottom: 10px;
  /*font-size: .8em;*/
  line-height: 22px; }
  #topnav .dropdown .dropdown-menu li.first > a {
    font-weight: bold;
    padding: 15px 0 0;
    min-height: 25px;
    border-bottom: none;
    margin-bottom: 15px;
    /*font-size: .8em;*/ }

} /* End @media <=1024px */

@media (max-width: 1085px) { /* Top Nav */

  #topnav .nav li > a {
    padding: 8px 20px; }

} /* End @media <=1085px */

@media (max-width: 900px) {

  #resource-bar {
    display: none; }
    #resource-bar ul li {
      margin-left: 0; }

  #topnav {
    z-index: 9999; }
    #topnav .nav {
      display: none; }
    #topnav ul li a.nav-active {
      background: none;
      color: #002469;
      text-decoration: none; }

  .dropdown {
    /* This media-query is the simplest way that I could find to override the dropdown on hover function for the mobile nav items. */
    display: none !important; }
  .mobilenav {
    display: block;
    list-style: none;
    margin: 0px 0px 9px;
    padding: 5px 0px !important;
    clear: both;
    width: 100%;
    text-indent: 0px;
    overflow: auto; }
    .mobilenav ul{
      margin: 0px;
      padding: 0px;
      text-indent: 0px;
      display: block;
      clear: both;
      width: auto; }
    /*.mobilenav ul li a {
      display: block;
      background: #00458A;
      width: 18.6%;
      color: #FFF;
      padding: 15px 0px;
      font-size: 16px;
      font-weight: bold;
      float: left;
      margin: 9px 9px 9px 5px;
      text-align: center;
         -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
       -khtml-border-radius: 8px;
              border-radius: 8px;
         -moz-box-shadow: 0 0 5px #888;
      -webkit-box-shadow: 0 0 5px #888;
              box-shadow: 0 0 5px #888; } */
  .mobilenavouter {
    display: block;
    clear: both;
    width: 100%;
    background: #EEE url(../images/mobnavouter.jpg) repeat-x;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.61);
       -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.61);
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.61); }
    .mobilenavouter .search {
      padding: 0;
      margin: 0;
      position: absolute;
      right: 20px;
      float: right;
      width: 85%; }
      .mobilenavouter .search form {
        float: right; }
        .mobilenavouter .search input[type="text"] {
          margin: 0;
          padding: 2px;
          margin-top:.22em; }
        .mobilenavouter .search button[type="submit"] {
          margin: 2px 0 2px;
          border: none;
          padding: 6px 4px 4px;
          vertical-align: middle;
          -moz-box-shadow: inset 0px 1px 0px 0px #FFF;
          -webkit-box-shadow: inset 0px 1px 0px 0px #FFF;
          box-shadow: inset 0px 1px 0px 0px #FFF;
          background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EDEDED), color-stop(1, #DFDFDF) );
          background: -moz-linear-gradient( center top, #EDEDED 5%, #DFDFDF 100% );
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#DFDFDF');
          background-color: #EDEDED;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          border: 1px solid #DCDCDC;
          border-top: none;
          color: #777;
          font-family: arial;
          font-weight: bold;
          text-decoration: none;
          text-shadow: 1px 1px 0px #FFF;
          line-height: normal !important; }
          .ie .mobilenavouter .search button[type="submit"] {
            /* padding: 0; */
            margin-top: 1px; }
          .gecko .mobilenavouter .search button[type="submit"] {
            margin-top: 0px; }

  .slidingDiv {
    border-bottom: none;
    display: none;
    clear: both;
    width: 99.7%;
    border-right: none;
    border-left: none;
    min-height: 270px;
    /* background: #F2F2F2; */
    margin-top: 0px;
    margin-right: 0px;
    /* margin-bottom: 6px; */
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    /* padding-bottom: 15px; */
    padding-left: 0px; }

  .mobnav .li.expanded,
  .li.collapsed,
  .li.leaf{
    margin: 0px !important;
    padding: 0px !important; }

  #mainnav{
    margin-top: 15px; }
    #mainnav.mobnav a:link {
      margin-right: 25px;
      font-size: 1.4em;
      text-align: center;
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom-width: 1px;
      border-bottom-style: dotted;
      border-bottom-color: #999;
      margin-left: 25px; }

  #resourcenav {
    border-left: 1px solid #999;
    margin-top: 15px; }
    #resourcenav.mobnav a:link {
      margin-right: 20px;
      margin-left: 10px;
      text-decoration: underline;
      display: block;
      padding-top: 10px;
      padding-bottom: 5px; }

} /* End @media <=900px */

@media (min-width: 769px) {

  .visible-sm {
    display: none;
  }

} /* End @media 769px+ */


/*||||||||||||||||||
**||  4.2 TABLETS ||
**||||||||||||||||||
*/

@media(max-width: 768px) {

  .hidden-sm {
     display: none; }

  footer #link-row h4 {
    margin-bottom: 14px; }

  .inside-title h2 {
    font-size:1.7em;
    line-height:1.3em;
    margin:1.07em 0 .535em;
    text-align: center; }

  .actionitem .link-text {
    font-size: 200%;
    line-height: normal;
    text-align: center; }

  .slidingDiv {
    min-height: 330px; }

  #mainnav.mobnav a:link {
    margin-right: 25px;
    font-size: 1.4em;
    text-align: center;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #999;
    margin-left: 25px; }
  #resourcenav.mobnav a:link {
    margin-right: 20px;
    margin-left: 10px;
    text-decoration: underline;
    display: block;
    padding-top: 13px;
    padding-bottom: 6px; }

} /* End @media <=768px */


/*|||||||||||||||||
**||  4.3 PHONES ||
**|||||||||||||||||
*/

@media (max-width: 500px) {

  .actionitem .link-text {
    font-size: 125%;
    line-height: normal;
    text-align: center; }

} /* End @media <=500px */

@media (max-width: 480px) {

  .logo {
    width: 100%; }
    .logo .logo-text h1{
      width: 40%;
      margin-top: 24px; }

  .mobilenavouter .search {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 12px; }

  #mainnav.mobnav a:link {
    margin-right: 20px;
    font-size: 1.3em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 16px;
    padding-bottom: 15px; }

  #resourcenav .mobnav a:link {
    margin-right: 20px;
    margin-left: 5px;
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px; }

} /* End @media <=480px */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 900px)
and (orientation : landscape) {
/* Landscape Phones */

#mainnav a:link {
  text-decoration: underline;
  margin: 0px !important;
  padding: 4px 30px 4px 0px !important; }
#resourcenav a:link {
  text-decoration: underline;
  margin: 0px !important;
  padding: 4px 0px 4px 10px !important; }

.slidingDiv {
  min-height: 240px; }

} /* End @media LANDSCAPE 320px-900px */

@media (max-width:360px) {

  #topnav #mobnavcontainer {
    height: auto; }

  .mobnav a:link {
    font-size: 1.25em; }
  #resourcenav.mobnav a:link {
    font-size: .75em; }

  .slidingDiv {
     min-height: 320px; }

} /* End @media <=360px */


/*||||||||||||||||||||||||||
**||  5. GENERIC CLASSES  ||
**||||||||||||||||||||||||||
*//*

  This section defines custom generic styles that could be applied to any element.
  Examples: Color, spacing, fonts, appended content, custom structured elements, etc...
*/

/*||||||||||||||||||
**||  5.1 COLORS  ||
**||||||||||||||||||
*/

/* Text Colors */
.teal {            color: #155F62; }
.color-rice-blue { color: #002469; }
.color-rice-gray { color: #5E6062; }
/* <<<<< ADD CUSTOM COLOR CLASSES HERE TO MATCH YOUR SITE >>>>>
.color-name { color: #rrggbb; } */

/* Overlay Colors */
/* Reverse type (for text on dark backgrounds) */
.reverse h1,.reverse h2,.reverse h3,
.reverse h4,.reverse h5,.reverse h6 {
  color: white; }
.reverse p, .reverse ul {
  color: #AAA; }

/*||||||||||||||||||||||||
**||  5.4 PAGE ELEMENTS ||
**||||||||||||||||||||||||
*/

/* Link Lists */
.link-list {
  padding-left: 0;
  margin-left: 2em;
  list-style-type: none; }
  .link-list li {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 10px; }
  .link-list li:before {
    content: "\f101";
    padding-right: 7px;
    font-size: 1.125em; }
    .link-list li a {
    font-size: 1.125em; }

/* Fluid YouTube videos */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;}
  .video-container iframe,
  .video-container object,
  .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;}

.valid {
  text-align: right;
  font-size: 12px;
  color: #666; }
  .valid img {
    float: right; }
  .valid p {
    clear: right;
    text-align: right;
    font-size: 11px;
    display: block;
    padding-right:9px; }


/*|||||||||||||||||||||||
**||  6. MISCELLANEOUS ||
**|||||||||||||||||||||||
*/

/* Tim's extra styels */
#old-browser {
  background: #f2bf49;
  color: #2a3a49;
  padding: 12px; }
figcaption {
  margin: 6px;
  margin-left: 0; }
#sidenav {
  margin-bottom: 24px;
  margin-top: 24px; }
.video-container {
  margin: 24px 0; }
.well {
  margin-bottom: 24px;
  margin-top: 24px; }
