

/* HTML RESET
///////////////////////////////////////////// */
/******************
BEGIN GOOGLE FONTS
******************/
/* AVAILABLE FONTS
font-family: 'Marcellus', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300);
@import url(http://fonts.googleapis.com/css?family=Marcellus|Open+Sans:400,700|Lato);
@import url(/_fonts/open_sans/regular/stylesheet.css);
/******************
END GOOGLE FONTS
******************/
/*
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  overflow-y: scroll;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {border-collapse: collapse;border-spacing: 0;}

/* END HTML RESET
///////////////////////////////////////////// */

/* TYPE PRESETS
///////////////////////////////////////////// */
/*
_______________________________
Columnal - TYPE (basic settings to make type look nice) */

body {
	color: #000;
	/*	line-height: 1.6em;  from cssgrid.net */
	-webkit-text-size-adjust: none;		/* from cssgrid.net */ /* Stops the iPhone scalling type up - from cssgrid.net */
	font: 100% inherit;
	background: #FFFFFF;
	}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
}
/* h1, h2, h3, h4, h5, h6 { letter-spacing: 1px; } */

/*h1, h2, h3, h4, h5, h6, p, dl, hr, ol, ul, pre, table, address, fieldset {margin-bottom: 1.6em;}*/

/* Add back in basic text markup (after removal by reset) */
strong { font-weight: bold; }
em { font-style:italic; }
pre { font-family: "Courier New", Courier, monospace; font-size: 13px; font-weight:bold; }


/* text colors, add custom colors here to match your site */
.teal { color: #155f62; }



/* link colors */
a {
	color: #036;
	text-decoration: none;
}
a:visited {
	color: #003366;
}
a:hover {
	color: #003399;
	text-decoration: underline;
}

/* .row hr, .row p, .row ul, .row ol, .row dl, .row pre, .row address, .row table, .row form {margin-bottom: 1.6em;} */

dt { font-weight: bold; }
p { font-size: 1em; margin-bottom: 24px;}
p + p, p + ul {margin-top: -.8em;}
h1 { font-size: 2em; line-height:1.2em; font-weight:normal; margin:1em 0 .5em; }
p + h1 { margin-top:.5em; }
h2, h3, h4, h5, h6 { font-weight: bold; }
	h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p { margin-top: 0;} /* fix for weird Chrome collapse bug */
h2 { font-size:1.7em; line-height:1.3em; margin:1.07em 0 .535em; }
h3 { font-size:1.3em; margin:0 0 .57em 0; }
h4 { font-size:1.25em; margin:0; }
h5, h6 { font-size: 1em; margin:1em 0 .25em 0; }

ol { margin-left: 0; padding-left: 20px; text-indent: 0; }
ul {list-style:disc outside;}
li { font-size: 15px; margin-bottom: 2px; margin-left: 20px; }
blockquote { font-family: Georgia, "Times New Roman", Times, sans-serif; font-size:18px; line-height: 24px; font-style:italic; padding-left:35px; color: #999; margin: .5em 0 .5em 0; }

input, textarea { font: .75em  Arial, "Helvetica Neue", Helvetica, sans-serif; }

hr { background:black; border:none; color:black; display:block; height:1px; margin-top: 20px; width:100%;}


/*
_______________________________
Columnal - reverse type presets (for text on dark backgrounds) */
.reverse h1, .reverse h2, .reverse h3, .reverse h4, .reverse h5, .reverse h6 {color: white;}
.reverse p, .reverse ul {color: #aaa;}


/*
_______________________________
IMAGE basics */
/*img, object, embed {margin-bottom: 20px;}
img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
}*/
a img {display: inline-block;		/* Stops image links getting text link styles */}

	/*Custom Type Presets*/
#main ul {
	list-style-type: none;
}

#main ol {
	list-style-type: decimal-leading-zero;
	margin: 0;
	padding: 0;
}

#main li {
	font-size: 1em;
}

	/*End Custom Type Presets*/

/* END TYPE PRESETS
///////////////////////////////////////////// */


/* COLUMNAL - CORE
///////////////////////////////////////////// */

/* Column code based on work from cssgrid.net: 
The 1140px Grid by Andy Taylor – http://cssgrid.net – http://www.twitter.com/andytlr – http://www.catchingzebra.com */
.container {padding-left: 20px; padding-right: 20px;}
.row {clear: both; width: 100%; max-width: 1140px; margin: 0 auto;overflow: hidden;}

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11 {float: left; margin-right: 3.8%; position: relative;}

.col_1 {width: 4.85%;}  /* ie - 4.7% */
.col_2 {width: 13.5%;}  /* ie - 13.2% */
.col_3 {width: 22.15%;} /* ie - 22.05% */
.col_4 {width: 30.8%;} 	/* ie - 30.6% */
.col_5 {width: 39.45%;} /* ie - 39% */
.col_6 {width: 48.1%;} 	/* ie - 48% */
.col_7 {width: 56.75%;} /* ie - 56.75% */
.col_8 {width: 65.4%;} 	/* ie - 61.6% */
.col_9 {width: 74.05%;} /* ie - 74.05% */
.col_10 {width: 82.7%;} /* ie - 82.7% */
.col_11 {width: 91.35%;}/* ie - 91.35% */
.col_12 {clear: both; width: 100%; float: left;}


.last, .omega {margin-right: 0 !important;}
img, object, embed {max-width: 100%;}

/*
_______________________________
Columnal - sub-columns */

.col_2 .col_1 {margin-right:28.62%; width:35.69%;}
.col_2 .pre_1 {padding-left:35.69%;}
.col_2 .suf_1 {padding-right:35.69%;}

/* */

.col_3 .col_2, .col_3 .col_1 {margin-right:17.45%;}
.col_3 .col_1 {width:21.7%;}
.col_3 .col_2 {width:60.86%;}

.col_3 .pre_1 {padding-left:21.7%;}
.col_3 .pre_2 {padding-left:60.86%;}

.col_3 .suf_1 {padding-right:21.7%;}
.col_3 .suf_2 {padding-right:60.86%;}

/* */

.col_4 .col_3, .col_4 .col_2, .col_4 .col_1 {margin-right:12.36%;}
.col_4 .col_1 {width:15.73%;}
.col_4 .col_2 {width:43.82%;}
.col_4 .col_3 {width:71.91%;}

.col_4 .pre_1 {padding-left:28.09%;}
.col_4 .pre_2 {padding-left:56.18%;}
.col_4 .pre_3 {padding-left:84.27%;}

.col_4 .suf_1 {padding-right:28.09%;}
.col_4 .suf_2 {padding-right:56.18%;}
.col_4 .suf_3 {padding-right:84.27%;}

/* */

.col_5 .col_4, .col_5 .col_3, .col_5 .col_2, .col_5 .col_1 {margin-right:9.7%;} 
.col_5 .col_1 {width:12.24%;}
.col_5 .col_2 {width:34%;}
.col_5 .col_3 {width:56.28%;}
.col_5 .col_4 {width:78%;}

.col_5 .pre_1 {padding-left:21.94%;}
.col_5 .pre_2 {padding-left:43.7%;}
.col_5 .pre_3 {padding-left:65.98%;}
.col_5 .pre_4 {padding-left:87.7%;}

.col_5 .suf_1 {padding-right:21.94%;}
.col_5 .suf_2 {padding-right:43.7%;}
.col_5 .suf_3 {padding-right:65.98%;}
.col_5 .suf_4 {padding-right:87.7%;}

/* */

.col_6 .col_5, .col_6 .col_4, .col_6 .col_3, .col_6 .col_2, .col_6 .col_1 {margin-right:7.77%}
.col_6 .col_1 {width:10.19%;}
.col_6 .col_2 {width: 28.13%;}
.col_6 .col_3 {width: 46.11%;}
.col_6 .col_4 {width: 64.1%;}
.col_6 .col_5 {width: 82%;}

.col_6 .pre_1 {padding-left:89.77%;}
.col_6 .pre_2 {padding-left:71.87%;}
.col_6 .pre_3 {padding-left:53.88%;}
.col_6 .pre_4 {padding-left:35.9%;}
.col_6 .pre_5 {padding-left:17.96%;}

.col_6 .suf_1 {padding-right:89.77%;}
.col_6 .suf_2 {padding-right:71.87%;}
.col_6 .suf_3 {padding-right:53.88%;}
.col_6 .suf_4 {padding-right:35.9%;}
.col_6 .suf_5 {padding-right:17.96%;}

/* */

.col_7 .col_6, .col_7 .col_5, .col_7 .col_4, .col_7 .col_3, .col_7 .col_2, .col_7 .col_1 {margin-right: 6.56%;}
.col_7 .col_1 {width:8.66%;}
.col_7 .col_2 {width:23.88%;}
.col_7 .col_3 {width:39.11%;}
.col_7 .col_4 {width:54.33%;}
.col_7 .col_5 {width:69.56%;}
.col_7 .col_6 {width:84.78%;}

.col_7 .pre_1 {padding-left:15.22%;}
.col_7 .pre_2 {padding-left:30.44%;}
.col_7 .pre_3 {padding-left:45.67%;}
.col_7 .pre_4 {padding-left:60.89%;}
.col_7 .pre_5 {padding-left:76.12%;}
.col_7 .pre_6 {padding-left:91.34%;}

.col_7 .suf_1 {padding-right:15.22%;}
.col_7 .suf_2 {padding-right:30.44%;}
.col_7 .suf_3 {padding-right:45.67%;}
.col_7 .suf_4 {padding-right:60.89%;}
.col_7 .suf_5 {padding-right:76.12%;}
.col_7 .suf_6 {padding-right:91.34%;}

/* */

.col_8 .col_7, .col_8 .col_6, .col_8 .col_5, .col_8 .col_4, .col_8  .col_3, .col_8 .col_2, .col_8 .col_1 {margin-right:5.78%;}
.col_8 .col_1 {width:7.44%;}
.col_8 .col_2 {width:20.66%;}
.col_8 .col_3 {width:33.89%;}
.col_8 .col_4 {width:47.11%;}
.col_8 .col_5 {width:60.33%;}
.col_8 .col_6 {width:73.56%;}
.col_8 .col_7 {width:86.78%;}

.col_8 .pre_1 {padding-left:13.22%;}
.col_8 .pre_2 {padding-left:26.44%;}
.col_8 .pre_3 {padding-left:39.67%;}
.col_8 .pre_4 {padding-left:52.89%;}
.col_8 .pre_5 {padding-left:66.11%;}
.col_8 .pre_6 {padding-left:79.34%;}
.col_8 .pre_7 {padding-left:92.56%;}

.col_8 .suf_1 {padding-right:13.22%;}
.col_8 .suf_2 {padding-right:26.44%;}
.col_8 .suf_3 {padding-right:39.67%;}
.col_8 .suf_4 {padding-right:52.89%;}
.col_8 .suf_5 {padding-right:66.11%;}
.col_8 .suf_6 {padding-right:79.34%;}
.col_8 .suf_7 {padding-right:92.56%;}

/* */

.col_9 .col_1, .col_9 .col_2, .col_9 .col_3, .col_9 .col_4, .col_9 .col_5, .col_9 .col_6, .col_9 .col_6, .col_9 .col_7, .col_9 .col_8 {margin-right:5.1%;}
.col_9 .col_1 {width:6.57%;}
.col_9 .col_2 {width:18.25%;}
.col_9 .col_3 {width:29.93%;}
.col_9 .col_4 {width:41.61%;}
.col_9 .col_5 {width:53.25%}
.col_9 .col_6 {width:64.97%;}
.col_9 .col_7 {width:76.65%;}
.col_9 .col_8 {width:88.33%;}

.col_9 .pre_1 {padding-left:11.67%;}
.col_9 .pre_2 {padding-left:23.35%;}
.col_9 .pre_3 {padding-left:35.03%;}
.col_9 .pre_4 {padding-left:46.71%;}
.col_9 .pre_5 {padding-left:58.35%}
.col_9 .pre_6 {padding-left:70.07%;}
.col_9 .pre_7 {padding-left:81.75%;}
.col_9 .pre_8 {padding-left:93.43%;}

.col_9 .suf_1 {padding-right:11.67%;}
.col_9 .suf_2 {padding-right:23.35%;}
.col_9 .suf_3 {padding-right:35.03%;}
.col_9 .suf_4 {padding-right:46.71%;}
.col_9 .suf_5 {padding-right:58.35%}
.col_9 .suf_6 {padding-right:70.07%;}
.col_9 .suf_7 {padding-right:81.75%;}
.col_9 .suf_8 {padding-right:93.43%;}

/* */

.col_10 .col_9, .col_10 .col_8, .col_10 .col_7, .col_10 .col_6, .col_10 .col_5, .col_10 .col_4, .col_10 .col_3, .col_10 .col_2, .col_10 .col_1 {margin-right:4.61%;}
.col_10 .col_1 {width:5.85%;}
.col_10 .col_2 {width:16.31%;}
.col_10 .col_3 {width:26.77%;}
.col_10 .col_4 {width:37.23%;}
.col_10 .col_5 {width:47.69%;}
.col_10 .col_6 {width:58.16%;}
.col_10 .col_7 {width:68.62%;}
.col_10 .col_8 {width:79.08%;}
.col_10 .col_9 {width:89.54%;}

.col_10 .pre_1 {padding-left:10.46%;}
.col_10 .pre_2 {padding-left:20.92%;}
.col_10 .pre_3 {padding-left:31.38%;}
.col_10 .pre_4 {padding-left:41.84%;}
.col_10 .pre_5 {padding-left:52.3%;}
.col_10 .pre_6 {padding-left:62.77%;}
.col_10 .pre_7 {padding-left:73.23%;}
.col_10 .pre_8 {padding-left:83.69%;}
.col_10 .pre_9 {padding-left:94.06%;}

.col_10 .suf_1 {padding-right:10.46%;}
.col_10 .suf_2 {padding-right:20.92%;}
.col_10 .suf_3 {padding-right:31.38%;}
.col_10 .suf_4 {padding-right:41.84%;}
.col_10 .suf_5 {padding-right:52.3%;}
.col_10 .suf_6 {padding-right:62.77%;}
.col_10 .suf_7 {padding-right:73.23%;}
.col_10 .suf_8 {padding-right:83.69%;}
.col_10 .suf_9 {padding-right:94.06%;}

/* */

.col_11 .col_10, .col_11 .col_9, .col_11 .col_8, .col_11 .col_7, .col_11 .col_6, .col_11 .col_5, .col_11 .col_4, .col_11 .col_3, .col_11 .col_2, .col_11 .col_1 {margin-right:4.14%;}
.col_11 .col_1 {width:5.32%;}
.col_11 .col_2 {width:14.79%;}
.col_11 .col_3 {width:24.26%;}
.col_11 .col_4 {width:33.73%;}
.col_11 .col_5 {width:43.2%;}
.col_11 .col_6 {width:52.66%;}
.col_11 .col_7 {width:62.1%;}
.col_11 .col_8 {width:71.6%;}
.col_11 .col_9 {width:81.07%;}
.col_11 .col_10 {width:90.54%;}

.col_11 .pre_1 {padding-left:9.46%;}
.col_11 .pre_2 {padding-left:18.93%;}
.col_11 .pre_3 {padding-left:28.4%;}
.col_11 .pre_4 {padding-left:37.87%;}
.col_11 .pre_5 {padding-left:47.34%;}
.col_11 .pre_6 {padding-left:56.8%;}
.col_11 .pre_7 {padding-left:66.24%;}
.col_11 .pre_8 {padding-left:75.74%;}
.col_11 .pre_9 {padding-left:85.21%;}
.col_11 .pre_10 {padding-left:94.68%;}

.col_11 .suf_1 {padding-right:9.46%;}
.col_11 .suf_2 {padding-right:18.93%;}
.col_11 .suf_3 {padding-right:28.4%;}
.col_11 .suf_4 {padding-right:37.87%;}
.col_11 .suf_5 {padding-right:47.34%;}
.col_11 .suf_6 {padding-right:56.8%;}
.col_11 .suf_7 {padding-right:66.24%;}
.col_11 .suf_8 {padding-right:75.74%;}
.col_11 .suf_9 {padding-right:85.21%;}
.col_11 .suf_10 {padding-right:94.68%;}

/*
_______________________________
Columnal - prefix and suffix columns for horizontal spacing options */

/* spacing for before column */
.pre_1 {padding-left: 8.65%;} /* 4.85 + 3.8 */
.pre_2 {padding-left: 17.3%;} /* 13.5 + 3.8 */
.pre_3 {padding-left: 25.95%;} /* 22.15 + 3.8 */
.pre_4 {padding-left: 34.6%;} /* 30.8 + 3.8 */
.pre_5 {padding-left: 43.25%;} /* 39.45 + 3.8 */
.pre_6 {padding-left: 51.9%;} /* 48.1 + 3.8 */
.pre_7 {padding-left: 60.55%;} /* 56.75 + 3.8 */
.pre_8 {padding-left: 69.2%;} /* 65.4 + 3.8 */
.pre_9 {padding-left: 77.85%;} /* 74.05 + 3.8 */
.pre_10 {padding-left: 86.5%;} /* 82.7 + 3.8 */
.pre_11 {padding-left: 95.15%;} /* 91.35 + 3.8 */

/* spacing for after column */
.suf_1 {padding-right: 8.65%;}
.suf_2 {padding-right: 17.3%;}
.suf_3 {padding-right: 25.95%}
.suf_4 {padding-right: 34.6%;}
.suf_5 {padding-right: 43.25%;}
.suf_6 {padding-right: 51.9%;}
.suf_7 {padding-right: 60.55%;}
.suf_8 {padding-right: 69.2%;}
.suf_9 {padding-right: 77.85%;}
.suf_10 {padding-right: 86.5%;}
.suf_11 {padding-right: 95.15%;}

/*
_______________________________
Columnal - vertical spacing options */

.margin_top_5 {margin-top: 5px !important;}
.margin_top_15 {margin-top: 15px !important;}
.margin_top_25 {margin-top: 25px !important;}
.margin_top_30 {margin-top: 30px !important;}
.margin_top_35 {margin-top: 35px !important;}
.margin_top_45 {margin-top: 45px !important;}
.margin_top_60 {margin-top: 60px !important;}
.margin_top_90 {margin-top: 90px !important;}
.margin_top_120 {margin-top: 120px !important;}

.margin_bottom_5 {margin-bottom: 5px !important;}
.margin_bottom_15 {margin-bottom: 15px !important;}
.margin_bottom_25 {margin-bottom: 25px !important;}
.margin_bottom_30 {margin-bottom: 30px !important;}
.margin_bottom_35 {margin-bottom: 35px !important;}
.margin_bottom_45 {margin-bottom: 45px !important;}
.margin_bottom_60 {margin-bottom: 60px !important;}
.margin_bottom_90 {margin-bottom: 90px !important;}
.margin_bottom_120 {margin-bottom: 120px !important;}

.padding_top_15 {padding-top:15px !important;}
.padding_top_30 {padding-top:30px !important;}
.padding_top_45 {padding-top:45px !important;}
.padding_top_60 {padding-top:60px !important;}
.padding_top_90 {padding-top:90px !important;}
.padding_top_120 {padding-top:120px !important;}
.padding_top_130 {padding-top:130px !important;}

.padding_bottom_15 {padding-bottom:15px !important;}
.padding_bottom_30 {padding-bottom:30px !important;}
.padding_bottom_45 {padding-bottom:45px !important;}
.padding_bottom_60 {padding-bottom:60px !important;}
.padding_bottom_90 {padding-bottom:90px !important;}
.padding_bottom_120 {padding-bottom:120px !important;}
.padding_bottom_130 {padding-bottom:130px !important;}



/*
_______________________________
Columnal - extras */

.clear, .clearboth {clear:both !important;}
.clearleft {clear:left !important;}
.clearright {clear:right !important;}

.textcenter {text-align:center;}
.textright {text-align:right;}
.textleft {text-align:left;}

/* this will insert a pseduo element clears floats for an element containing floated content */
.selfclear:after {clear:both; content:"."; display:block; height:0; visibility:hidden;}

.mobile-only {display: none;}


/* END COLUMNAL - CORE CODE
///////////////////////////////////////////// */












/* COLUMNAL - MOBILE
///////////////////////////////////////////// */

@media handheld, only screen and (max-width: 768px) {
	.row, .body, .container {
	width: 100%;
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
	}
	/* kill prefixes and suffixes, otherwise 1-column version breaks */
	.pre_1, .pre_2, .pre_3, .pre_4, .pre_5, .pre_6, .pre_7, .pre_8, .pre_9, .pre_10, .pre_11 {padding-left: 0;}
	.suf_1, .suf_2, .suf_3, .suf_4, .suf_5, .suf_6, .suf_7, .suf_8, .suf_9, .suf_10, .suf_11 {padding-right: 0;}

	/************************************************************************/

	/* cssgrid.net - mobile presets */
	.col_1, .col_2, .col_3, .col_4, .col_5, .col_6,
	.col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
		clear: both;
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
		width: -moz-available;
	}


	/* Columnal - sub columns */
	.col_2 .col_1, 
	.col_3 .col_2, .col_3 .col_1,
	.col_4 .col_3, .col_4 .col_2, .col_4 .col_1,
	.col_5 .col_4, .col_5 .col_3, .col_5 .col_2, .col_5 .col_1,
	.col_6 .col_5, .col_6 .col_4, .col_6 .col_3, .col_6 .col_2, .col_6 .col_1,
	.col_7 .col_6, .col_7 .col_5, .col_7 .col_4, .col_7 .col_3, .col_7 .col_2, .col_7 .col_1,
	.col_8 .col_7, .col_8 .col_6, .col_8 .col_5, .col_8 .col_4, .col_8 .col_3, .col_8 .col_2, .col_8 .col_1,
	.col_9 .col_1, .col_9 .col_2, .col_9 .col_3, .col_9 .col_4, .col_9 .col_5, .col_9 .col_6, .col_9 .col_7, .col_9 .col_8,
	.col_10 .col_9, .col_10 .col_8, .col_10 .col_7, .col_10 .col_6, .col_10 .col_5, .col_10 .col_4, .col_10 .col_3, .col_10 .col_2, .col_10 .col_1,
	.col_11 .col_10, .col_11 .col_9, .col_11 .col_8, .col_11 .col_7, .col_11 .col_6, .col_11 .col_5, .col_11 .col_4, .col_11 .col_3, .col_11 .col_2, .col_11 .col_1,
	.col_12 .col_11, .col_12 .col_10, .col_12 .col_9, .col_12 .col_8, .col_12 .col_7, .col_12 .col_6, .col_12 .col_5, .col_12 .col_4, .col_12 .col_3, .col_12 .col_2, .col_12 .col_1 {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	/* .row {width: 100%;} */
	/* Type presets */
	.container h1 {margin:.5em 0 .5em;}
	.container h2 {margin:.5em 0 .535em;}
	.container h3 {margin:.5em 0 .57em;}
	.container h4 {margin:.5em 0 .615em;}
	.container h5 {margin:.5em 0 .67em;}
	.container h6 {margin:.5em 0 .8em;}

	/* .reverse {padding-top: 1em; margin-bottom: 1em;} */

	/* Columnal content control - use on any elements to show/hide content on mobile */
	.mobile-hide {display: none;}
	.mobile-only {display: block;}

}


	/*****************************************
	   CUSTOM ADDITIONS FOR MOBILE SITE LAYOUT 
	*****************************************/


	/*Push styles to allow left content to stack on type of right content*/


.push_1 {left: 8.85%;}  /* ie - 4.7% */
.push_2 {left: 17.5%;}  /* ie - 13.2% */
.push_3 {left: 26.15%;} /* ie - 22.05% */
.push_4 {left: 34.8%;} 	/* ie - 30.6% */
.push_5 {left: 43.45%;} /* ie - 39% */
.push_6 {left: 52.1%;} 	/* ie - 48% */
.push_7 {left: 60.75%;} /* ie - 56.75% */
.push_8 {left: 69.4%;} 	/* ie - 61.6% */
.push_9 {left: 78.05%;} /* ie - 74.05% */
.push_10 {left: 86.7%;} /* ie - 82.7% */
.push_11 {left: 95.35%;}/* ie - 91.35% */

.pull_1 {right: 4.85%;}  /* ie - 4.7% */
.pull_2 {right: 13.5%;}  /* ie - 13.2% */
.pull_3 {right: 22.15%;} /* ie - 22.05% */
.pull_4 {right: 30.8%;} 	/* ie - 30.6% */
.pull_5 {right: 39.45%;} /* ie - 39% */
.pull_6 {right: 48.1%;} 	/* ie - 48% */
.pull_7 {right: 56.75%;} /* ie - 56.75% */
.pull_8 {right: 65.4%;} 	/* ie - 61.6% */
.pull_9 {right: 74.05%;} /* ie - 74.05% */
.pull_10 {right: 82.7%;} /* ie - 82.7% */
.pull_11 {right: 91.35%;}/* ie - 91.35% */

@media(max-width:768px) {
.push_1 {left: 0;}  /* ie - 4.7% */
.push_2 {left: 0;}  /* ie - 13.2% */
.push_3 {left: 0;} /* ie - 22.05% */
.push_4 {left: 0;} 	/* ie - 30.6% */
.push_5 {left: 0;} /* ie - 39% */
.push_6 {left: 0;} 	/* ie - 48% */
.push_7 {left: 0;} /* ie - 56.75% */
.push_8 {left: 0;} 	/* ie - 61.6% */
.push_9 {left: 0;} /* ie - 74.05% */
.push_10 {left: 0;} /* ie - 82.7% */
.push_11 {left: 0;}/* ie - 91.35% */
.pull_1 {right:0;}  /* ie - 4.7% */
.pull_2 {right:0;}  /* ie - 13.2% */
.pull_3 {right: 0;} /* ie - 22.05% */
.pull_4 {right:0;} 	/* ie - 30.6% */
.pull_5 {right: 0;} /* ie - 39% */
.pull_6 {right:0;} 	/* ie - 48% */
.pull_7 {right: 0;} /* ie - 56.75% */
.pull_8 {right:0;} 	/* ie - 61.6% */
.pull_9 {right: 0;} /* ie - 74.05% */
.pull_10 {right:0;} /* ie - 82.7% */
.pull_11 {right: 0;}/* ie - 91.35% */
}
	/*End Push Styles*/


body {
	font-family: Helvetica;
}
/* END COLUMNAL - MOBILE
///////////////////////////////////////////// */
/*
@media only screen and (-webkit-min-device-pixel-ratio: 2) {   An example of
how to override an image with one twice the size for an iphone 4. Specify the
original pixel size with background-size .
		.download {
			background: url(path/to/downarrow@2x.png) no-repeat;
			background-size: 27px 28px;
		}
 
}*/





/*********
HEADER
**********/
/* Skip link styling starts here. */
/* First, the positioning CSS for the skip link and the skip target. Changing any of this will most likely break the skip link in one browser or another, so if you change it then TEST IT */
#skiplinkholder a, #skiplinkholder a:link, #skiplinkholder a:visited {display: block; width: 100%; position: absolute; top: 0; left: -999999px; z-index: 2;}
#skiplinkholder a:focus, #skiplinkholder a:active { left: 0;	top: 0;	z-index: 100;	text-align: center;	padding-top: 0px;	padding-bottom: 0px;	display: block; position: relative;clear: both;}
#skiptargetholder {position: absolute; left: -200%}
/* You may find on certain page layouts that the skip link is appearing underneath other elements on the page in IE7 and below. If this is the case then try uncommenting the two statements below, and if that does not work then try increasing the z-index value above as well */
/*
*+html #skiplinkholder a:focus, *+html #skip a:active {position: relative}
* html #skiplinkholder a:active {position: relative}	
/* Now, the visual styling. Change this as desired */
#skiplinkhoder {width: 100%; display: inline;}
#skiplinkholder a, #skiplinkholder a:link, #skiplinkholder a:visited {color: #fff; background: #336; text-decoration: none; border-bottom: solid #ccc 2px; padding: 5px}


/* accessibility validator fix */
#skiplinkholder a:link,#skiplinkholder a:visited, #skiplinkholder a:hover, #skiplinkholder a:active,{
	color: #FFFFFF !important;
}

/* End of skip link styling */



header h1 {
	position: absolute;
	left: -9999px;
}
.logo {
	padding-bottom: 0;
	display: block;
	height: 100px;
	padding-left: 2px;
}


/*header h1 {
  position: relative;
  left: 0;
}*/
.logo {
  width: 425px;
}
.logo-img {
  float: left;
  width: 180px;
  padding-top: 10px;
}
.logo .logo-text h1 {
	/*  position: absolute;
  left: -9999px;*/
	color: #666666;
	font: bold 16px Arial, Helvetica, sans-serif;
	text-shadow: none;
	float: left;
	margin-top: 34px;
	margin-bottom: 0;
	background: #FFFFFF;
}
.hidden{
	display: block;
	position: absolute;
	left: -9999px;
	background: #FFFFFF;
}
.search {
	text-align: right;
	display: block;
	/*width: 350px;*/
	float: right;
	border-top-color: #ccc;
	margin-top: 15px;
	padding: 20px 20px 0 0;
}
.search input[type="text"] {
	color: #003366;
	font-size: 14px;
	padding: 6px 4px 4px;
}
.search input[type="text"]:focus, .search input[type="submit"]:focus {
	outline: 1px solid #f2bf49;
}

.search input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color: #ededed;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 3px 20px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}

address h3, address h4 {
	margin-bottom: 0;
}
address p {
	line-height: 1.125em;
	margin: inherit;
}
/**********
END HEADER
**********/

/********
RESOURCE BAR
********/
#resource-bar {
	height: 32px!important;
	font-family: Lato;
	background: #9f9f9f;
	background: #F2F2F2;
	color: #333333;
	border-bottom: 1px solid #D1D1D1;
	font-weight: bold;
/*People are missing the resource bar. This is an attempt to call attention to it with a simple fade in on new browsers*/	
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
	
}

/*#resource-bar:hover{
	background: #EAF7FD;
}*/

/*People are missing the resource bar. This is an attempt to call attention to it with a simple fade in on new browsers*/

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


#resource-bar .give{
	color: #FFFFFF;
	background: #FFFFFF;
	padding-right: 9px;
	padding-left: 9px;
	-webkit-box-shadow: 0px -4px 9px -7px rgba(0,0,0,1);
	-moz-box-shadow: 0px -4px 9px -7px rgba(0,0,0,1);
	box-shadow: 0px -4px 9px -7px rgba(0,0,0,1);
	position: relative;
	top: 1px;
}

#resource-bar .give a:link{
	color: #003399;
}

#resource-bar .give .fa-gift{
	color: #003399 !important;
	font-size: 0.9em !important;
}

#resource-bar .title {
	line-height: 32px;
	width: auto;
	display: inline-block;
	margin-left: 20px;
	color: #003366;
	text-shadow: 0px 0px 1px rgb(255,255,255);
	letter-spacing: .05em;
	font-family: 'Source Sans pro', sans-serif;
	font-weight: bold;
	margin: 0;
	margin-left: 20px;
	padding: 0;
}

#resource-bar ul {
	display: inline-block;
}
#resource-bar ul li {
	display: inline-block;
	padding: 0;
	width: auto;
}
#resource-bar ul li a {
	color: #036;
	padding: 0;
	font: 400 16px 'Source Sans pro', sans-serif;
}
#resource-bar ul li a:hover {
	text-decoration: underline;
	text-shadow: 0px 0px .25px #fff;
}
#resource-bar #more-gateways {
	line-height: 32px;
	float: right;
	margin-right: 20px;
}
/********
END RESOURCE BAR
********/


/**********
TOPNAV
**********/
#topnav {
	background: #004080;
/*	background-image: -webkit-gradient(linear, left top, left bottom, from(#006699), to(#003366));
	background-image: -moz-linear-gradient(top, #006699, #003366);*/
/*	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);*/
	list-style: none;
	width: 100%;
	display: block;
	clear: both;
}

.nav-container {
	position: absolute;
	z-index: 9999;
}

#topnav .nav {
	display: table;
	width: 100%;
	text-align: center;
	margin: 0 0;
	padding: 0;
	list-style: none;
	height: 34px;
}

.navrow {
	max-width: 1140px;
	margin: auto;
}


#topnav .nav li {
	display: table-cell;
	font: 1em/normal Arial, Helvetica, sans-serif;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 0;
	padding-left: 0;
	padding: 0;
	margin: 0;
}

#topnav .nav li>a {
	color: #FFF;
	font-size: 1em;
	letter-spacing: .035em;
	/*text-shadow: 0 1px 0 rgba(0,0,0,0.4), 0 -1px 0 rgba(0,0,0,0.2);*/
	display: block;
	padding: 0;
	margin: 0;
	padding: 8px 35px;
	font-weight: bold;
	line-height: 18px;
}
#topnav .nav li.nav-item>a.open {
	background: #efefef;	
	color: #003366;
}


.dropdown-menu li {
	display: block;
}

#admission .first a {
	font-weight: bold;
}


#topnav .nav li:hover {
	background: #114679;
}

.mobilenav, .mobilenavouter {
	display: none;
}

.mobnav {
list-style: none !important;
margin: 0px;
padding: 0px;
text-indent: 0px;
width: 95%;
}

.mobnav li {
	list-style-type: none;
}

/*.mobnav a:link {
	font-size: 1.6em;
	display: block;
	padding: 9px 9px 9px 0px;
	}*/
.navbar-toggle {
border-color: #ddd;
position: relative;
float: left;
margin-left: 0px;
height: 34px;
background-color: transparent;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
margin-left: 10px;
}

.toggleaccess{
	display: block;
	position: absolute;
	left: -9999px;
}

.sr-only {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
clip: rect(0,0,0,0);
border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #888;
}

.navbar-toggle .icon-bar {
background-color: #fff;
display: block;
width: 22px;
height: 3px;
border-radius: 1px;
}

.navbar-toggle .icon-bar:nth-child(2) {
	margin: 4px 0;
}

.f-nav{ z-index: 9999; position: fixed; left: 0; top: 0; width: 100%;} /* this make our menu fixed top */

/*This is for the search bar in the #topnav on mobile*/
.adj{
	display: block;
	padding-top: 0px;
	}/*Trying to fix pixel offset on mobile search*/
html.gecko.win .adj, html.ie .adj {
	padding-top: 3px;
}
 html.chrome .adj {
 	padding-top: 2px;
 }
.touch .adj {
	padding-top: 2px;
}

#topnav ul li a.nav-active {
	background: #F3F3F3;
	color: #003366;
	text-decoration: underline;
}

 /*Styles for the Dropdown Panels*/
.dropdown {
	position: absolute;
	z-index: 9999999;
	display: none;
	width: 100%;
	left: 0!important;
	top: 32px!important;
}

.dropdown .dropdown-menu,
.dropdown .dropdown-panel {
	/*min-width: 160px;*/
	/*max-width: 360px;*/
	list-style: none;
	background: #F3F3F3;
	border: solid 1px #DDD;
	border: solid 1px rgba(0, 0, 0, .2);
	right: 200px;
	border: none;
	overflow: visible;
	padding: 25px 0 4px;
	margin: 0;
	min-height: 200px;
}

.dropdown .dropdown-panel {
	padding: 10px;
	padding-top: 30px;
}

.dropdown.dropdown-tip {
	margin-top: 8px;
}

.dropdown.dropdown-tip:before {
  position: absolute;
  top: -6px;
  left: 9px;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.dropdown.dropdown-tip.dropdown-anchor-right:before {
	left: auto;
	right: 9px;
}

.dropdown.dropdown-tip:after {
  position: absolute;
  top: -5px;
  left: 10px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  display: inline-block;
}

.dropdown.dropdown-tip.dropdown-anchor-right:after {
	left: auto;
	right: 10px;
}


.dropdown.dropdown-scroll .dropdown-menu,
.dropdown.dropdown-scroll .dropdown-panel {
	max-height: 358px;
	overflow: auto;
}




#topnav .dropdown-menu {
	padding-top: 0;
	text-align: left;
}

#topnav .dropdown .dropdown-menu LI {
	list-style: none;
	/*line-height: 18px;*/
	line-height: normal;
	display: block;
	margin-bottom: 10px;
}

#topnav .dropdown .dropdown-menu li:hover {
	background: none;
}

#topnav .dropdown .dropdown-menu LI > A {
	color: #003366;
	font-weight: lighter;
	padding: 0;
	padding-bottom: 10px;
	font-size: .9em;
	line-height: 22px;
}
#topnav .dropdown .dropdown-menu LI.first > A {
	font-weight: bold;
	padding: 15px 0 0;
	min-height: 35px;
	border-bottom: 1px dotted #999999;
	/*letter-spacing: .009em;*/
	margin-bottom: 15px;

	font-size: 0.9em;
}
.dropdown .dropdown-menu LI > A:hover,
.dropdown .dropdown-menu LABEL:hover {
	background: none;
	cursor: pointer;
	text-decoration: underline;
}
.dropdown .dropdown-menu .dropdown-divider {
	font-size: 1px;
	border-top: solid 1px #E5E5E5;
	padding: 0;
	margin: 5px 0;
}

.dropdown .dropdown-panel {
	background: #F3F3F3;
	padding-top: 32px;
	min-height: 240px;
}
.dropdown-panel h4, .dropdown-panel h5{
	text-align: left;
	line-height: .7em;
	padding: 8px 0px;
}

.dropdown-panel p {
	text-align: left;
	display: block;
	/*padding-top: 25px;*/
	line-height: 1.3em;
	color: #4F4F4F;
	font-size: 0.94em;
}
.dropdown-panel h2 {
	text-align: left;
	display: block;
	padding-top: 0px;
	line-height: 1.4em;
	color: #003366;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	margin: 0px;
}
.dropdown-panel img {
	box-shadow: 2px 2px 15px #fff;
	display: block;
	/*padding-top: 20px;*/
}
#admissions .dropdown-panel .col_2 {
	margin: 0;
	padding: 0 2% 0 0;
	width: 14%;
}
#admissions .dropdown-panel .adm {
	padding-top: 15px;
}
#admissions h4 a{
	font-weight: bold;
	line-height: normal;
}
#academics-panel .dropdown-panel p {
	text-align: left;
}
.academics-panel .col_2 ul.dropdown-menu:first-of-type {
	border-right: 1px inset #666666;
	box-sizing: border-box;
}

/*End Styles for the Dropdown Panels*/
.slidingDiv #mainnav {
	float: left;
	width: 50%;
	border-style: none;
}
.slidingDiv #resourcenav {
	float: left;
	width: 50%;
}

/*#mainnav.mobnav a:link {
	margin-right: 10px;
	font-size: 1.7em;
	margin-top: 5px;
}

#resourcenav.mobnav a:link {
	text-decoration: underline;
	margin: 5px 20px 5px 10px;
	text-align: right;
}*/

.slidingDiv {
	/*border-bottom: 9px solid #003366;*/
	border: none;
	display: none;
	margin: 0px;
	padding: 0px;
	clear: both;
	width: 100%;
	background: #EDF5FC;
	background: none;
	/*border-right: 1px solid #003366;*/
	/*border-left: 1px solid #003366;*/
}

.slidingDiv #mainnav {
	float: left;
	width: 50%;
	box-sizing: border-box;

}
.slidingDiv #resourcenav {
	float: left;
	width: 50%;
	box-sizing: border-box;
}
/*#resourcenav.mobnav a:link {
	margin-right: 20px;
	font-size: 1em;
	padding: 7px 5px;
}*/
#resourcenav.mobnav li:nth-child(1) a:link {

}
.mobilenavouter ul {
	background: none;
}

/**********
END TOPNAV
**********/


/**********
STYLES FOR SIDENAV
**********/
#sidenav{
	display: block;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
}
#sidenav ul{
	margin: 0px;
	padding: 0px;
}
#sidenav li{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#side-content #sidenav a {
	padding-left: 0!important;
}
#sidenav li a:link {
	font-size: 1em;
	padding-top: 9px;
	padding-bottom: 8px;
	display: block;
	border-top: 1px dotted #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	color: #004A95;
	text-decoration: none;
	padding-left: 0px;
	min-height: 67px;
}

#sidenav li a:visited {
	font-size: 1em;
	padding-top: 9px;
	padding-bottom: 8px;
	display: block;
	border-top: 1px dotted #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	color: #004A95;
	text-decoration: none;
	padding-left: 0;
}
#sidenav li a:hover {
	background: #E1EFFD;
	text-decoration: underline;
}
#sidenav li a:active {
	font-size: 1em;
	padding-top: 9px;
	padding-bottom: 8px;
	display: block;
	border-top: 1px dotted #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	color: #004A95;
	text-decoration: none;
	padding-left: 0px;
}
#sidenav .thumb img{
	display: block;
	height: 67px;
	width: 101px;
	float: right;
	padding-left: 9px;
	padding-top: 9px;
	padding-right: 9px;
}

#side-content #sidenav .thumb img{
	display: block;
	height: 67px;
	width: 101px;
	float: left;
	padding-right: 12px;
	padding-top: 0;
}

/**********
END SIDENAV
**********/

/**********
FOOTER
**********/

footer p {
	margin: 0;
	padding: 0;
	line-height: normal;
}
footer .footerleft {
	font-size: 12px;
	color: #666;
}
.valid {
	text-align: right;
	font size: 12px;
	color: #666;
}
.valid img {
	float: right;
}
.valid p {
	clear: right;
	text-align: right;
	font-size: 11px;
	display: block;
	padding-right:9px;
}

	/*New HomePage footer*/
	footer #link-row {
		background-color: rgb(230,230,230);
	}	
footer ul li {
	list-style-type: none;
}

	footer #footer-logo img {
		padding: 12px;
		padding-bottom: 0;
	}
	footer #footer-logo .address {
		font-size: .7em;
		padding: 12px;
		padding-top: 0;
	}

footer .address{
	font-size: .7em !important;
	padding-bottom: 25px !important;
	display: block;
}
	/*End New HomePage footer*/

/**********
END FOOTER
***********/


/*********
HERO PANEL STYLES
**********/

.hero {
	position: relative;
	height: 420px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.hero .header-title {
	/*Featured heading to a hero block. Probably an Image but can also be 
	text, <h1> preferably.*/
	display: block;
	margin: auto;
	padding-top: 10%;
}

.hero-title {
	color: #fff;
	display: block;
	position: relative;
	margin-top: 250px;
	padding: 20px 40px;
}

.hero-title h1{
	text-transform: uppercase;
	margin-bottom: .25em;
	text-align: center;
}
.hero-title p{
	font-size: 1.0em;
}

 /*HomePage Hero Title*/
.hero-title-large {
	position: absolute;
	top: 240px;
	right: 0;
	background: rgba(55,55,55,.9);
	width: 350px;
	color: #fff;
	padding-top: 12px;
	padding-bottom: 24px;
	padding-left: 24px;
	text-shadow: 1px 1px 0px rgba(0,0,0,.75);
}
.hero-title-large h2 {
	margin-bottom: 15px;
}
.hero-title-large p {
	line-height: normal;
	margin-bottom: 4px;
}
.hero-title-large a {
	text-decoration: underline;
	color: #fff;
}
.hero-title-large a:hover {
	text-shadow: 0px 0px 1px #fff;
}

 /*End Homepage Hero Title*/
.hero-bg1 {
	background: #003366 url(../_images/hero1.jpg) no-repeat fixed center -40px;	
}
.ipad .hero-bg1 {
	background: #003366 url(../_images/hero1.jpg);
	background-attachment: scroll;
	background-position: center -175px;
}

.touch .hero-bg1 {
	background-attachment: scroll;
	background-position: center -175px;
}
.hero-title {
	background: #003366 url(../_images/hero1blur.jpg) no-repeat fixed center -70px;
}

.no-hero-header {
  margin-top: 34px;
  border: none;
  background: #efefef;
}
.no-hero-header  h2 {
  margin-top: 0;
  font-family: 'Lato', sans-serif;
}
.no-hero-header+ #skiptargetholder + #breadcrumbs {
  border: none;
  background: #efefef;
  padding-top: 12px;
  padding-bottom: 12px;

}

.touch .hero-title {
	background-attachment: fixed;
	background-position: center 0px;
}

.hero-bg2 {
	background: #003366 url(/site-redesign/_images/hero1blur.jpg) no-repeat fixed center 0;
}
.ipad .hero-bg2 {

}
.touch .hero-bg2 {
	background-attachment: scroll;
	background-position: center -175px;
}

.hero-bg3 {
	background: #003366 url(../_images/tabor.jpg) no-repeat fixed center -67px;
}

.wtf {
	background: url("../_images/tabor.jpg");
}
.inside-header-bg {
  background-position: center -200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*Specific Styles for the mobile images for the gateway pages*/
#academics-page .inside-header-bg {
	background-position: center -300px!important;
}

.touch #about-page .inside-header-bg {
background-position: center -150px;
}
.touch #academics-page .inside-header-bg {
background-position: center -450px;
}
.touch #athletics-page .inside-header-bg {
background-position: center -150px;
}
.touch #leadership-page .inside-header-bg {
background-position: center -175px;
}
.touch #community-page .inside-header-bg {
background-position: center -165px;
}

.iphone #about-page .inside-header-bg, .ipad #about-page .inside-header-bg {
 background-position: center -50px;
}
.iphone #academics-page .inside-header-bg, .ipad #academics-page .inside-header-bg {
 background-position: center -350px;
}
.iphone #research-page .inside-header-bg, .ipad #research-page .inside-header-bg {
 background-position: center -100px;
}
.iphone #athletics-page .inside-header-bg, .ipad #athletics-page .inside-header-bg {
 background-position: center -75px;
}
.iphone #leadership-page .inside-header-bg, .ipad #leadership-page .inside-header-bg {
 background-position: center -75px;
}
.iphone #community-page .inside-header-bg, .ipad #community-page .inside-header-bg {
 background-position: center -75px;
}
/*End specfic styles for the mobile images for the gateway pages*/
.inside-title{
  color: #2a3a49;
  padding: 50px 0;
   /*background: rgba(0,0,0,0.0) url(/FE&P2/_images/greenblur.jpg) fixed 0 0px;*/
  position: relative;
  text-align: left;
  margin-top: 10px;
  /*min-width: 351px;*/
}
.inside-title h2 {
	text-align: left;
}
.hero .caption, .content-item .caption {
	/*Adds a caption area to the bottom of a Hero panel*/
	position: absolute;
	/*width: 100%;*/
	display: inline;
	font-size:125%;
	letter-spacing: .025em;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 12px 20px;
	height: auto;
	color: #2a3a49;
	background: #fff;
	background: rgba(200,200,200,0.7);
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

.caption h1,
.caption h2,
.caption h3,
.caption h4,
.caption h5,
.caption h6,
.caption p,
.caption li {
	margin: 0;
	padding: 0;
	color: #2a3a49!IMPORTANT;
}


/*********
END HERO PANEL STYLES
*********/


/**********
CONTENT ITEM STYLES
**********/
.content-item { 
	/* Creates default top and bottom padding for items in the non-hero content areas. */
	padding-top: 43px;
	padding-bottom: 43px;
	}

.content-item h2 {
	color: #666666;
	font: 1.3em;
	font-family: lato;
	margin-top: 0;
	padding-bottom: 5px;
	margin-bottom: 12px;
}
.content-item h3 {
	color: #666666;
	display: block;
	line-height: 20px;
}
.content-item p{
	font-size: 1em;
	text-align: left;
	color: #666;
	padding: 0px 0px 25px;
	margin: 0px;
	display: block;
}
.content-item img + p {
	margin-top: 20px;
}

.ie8 button span {
	height: 2px;
	margin: 4px;
}
/**********
END CONTENT ITEM STYLES
**********/





/**********
STYLES FOR ICON LIST ITEM BUTTONS
**********/

.actionitem, .event-detail {
	margin: 0 0 20px 0;
	text-align: left;
	font-size: 100%;
	height: auto;
}
.event-detail {
	margin-bottom: 0;
}
.actionitem, .event-detail {
	padding: 10px;
	padding-right: 0;
}
.actionitem a, .event-detail a {
	color: #fff;
}
.actionitem a:hover, event-detail a:hover {
	text-decoration: none!important;
}
.actionitem .fa-container {
display: table-cell;
font-size: 400%;
border: 1px solid #fff;
border-radius: 100%;
padding: 10px;
vertical-align: middle;
}
.event-detail .fa-container {
display: table-cell;
font-size: 175%;
padding: 10px;
vertical-align: middle;
background: #003366;
width: 96px;
text-align: center;
border-radius: 2px 0 0 2px;
color: #fff;
}

.fa-container .fa {
	font-size: 75%;
	padding: 8px 0;
}
.fa-container .date {
	font-size: 18px;
}
.actionitem .link-text, .event-detail .link-text {
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	line-height: normal;
	font-size: 21px;
	color: #fff;
}
.event-detail .link-text {
	background: #008844;
	font-size: 18px;
}

/*Styles for scroll to top icon*/

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0, 64, 128, 0.8) url(cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #004466;
  opacity: 1;
}



/*********
//BEGIN RESPONSIVE FORMS
*********/



.form form{
	width: 100%;
	margin: 0%;
	padding: 0px;
	font-size: 1em;
}
.form header{
padding-top: 12px;
padding-bottom: 8px;

}

/* Makes responsive fields. Sets size and field alignment.*/
.form input[type=text]{
margin-bottom: 20px;
margin-top: 10px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
font-size: 1em;
}

.form input[type=checkbox]{
	margin-bottom: 20px;
	margin-top: 10px;
	width: auto;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #7ac9b7;
	display: block;
	font-size: 1em;
}

.form input[type=radio]{
	margin-bottom: 20px;
	margin-top: 10px;
	width: auto;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #7ac9b7;
	display: block;
	font-size: 1em;
}

.form select{
	margin-bottom: 20px;
	margin-top: 10px;
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #7ac9b7;
	display: block;
	font-size: 1em;
}

.form input[type=submit]
{
margin-bottom: 20px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
background-color: #4180C5;
color: aliceblue;
font-size:15px;
cursor:pointer;

}
.form #submit:hover
{
background-color: black;
}
.form textarea{
width:100%;
padding: 15px;
margin-top: 10px;
border:1px solid #7ac9b7;
border-radius:5px;
margin-bottom: 20px;
resize:none;
font-size: 1em;
}
.form input[type=text]:focus,textarea:focus {
border-color: #4697e4;
}



/*********
//END RESPONSIVE FORMS
*********/

/*********
//BEGIN CAMPUS ALERTS
*********/

#campusalert{
	color: #FFFFFF;
	background: #FF0000;
	padding-top: 10px;
}
#campusalert h2{
	font-size: 1.3em;
	font-weight: bold;		
}
#campusalert p{
	font-size: 1.1em;
}
#campusalert a:link{
	color: #FFFFFF;
	text-decoration: underline;
}
/*********
//END CAMPUS ALERTS
*********/


@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
/**********
END STYLES FOR LIST ICON BUTTONS
**********/

/*********
SOCIAL ICONS
*********/
#social {
	text-align: center;
	margin-left: 0;
	margin-top: 25px;
}

#social li {
	display: inline-block;
	margin-left: 0px;
	margin-right: 10px;
}
#social li a {
	color: #fff;
}
#social .fa {
	background: lightgray;
	text-align: center;
	font-size: 24px;
	border-radius: 100%;
}

#social .fa-twitter {
	padding: 8px 9px;
}
#social .fa-facebook {
	padding: 8px 13px;
}
#social .fa-instagram {
	padding: 8px 9px;
}
#social .fa-google-plus {
	padding: 8px 9px;
}
#social .fa-linkedin {
	padding: 8px 9px;
}
#social .fa-youtube {
	padding: 8px 9px;
}

#social .fa-twitter:hover {
	background: #4099ff;
	padding: 8px 9px;
	transition: all .5s ease-in-out;
}
#social .fa-facebook:hover {
	background: #3b5998;
	padding: 8px 13px;
	transition: all .5s ease-in-out;

}
#social .fa-instagram:hover {
	background: brown;
	padding: 8px 9px;
	transition: all .5s ease-in-out;

}
#social .fa-google-plus:hover {
	background-color: #d34836;
	padding: 8px 9px;
	transition: all .5s ease-in-out;
}
#social .fa-linkedin:hover {
	padding: 8px 9px;
	transition: all .5s ease-in-out;
	background: #0099CC;
}
#social .fa-youtube:hover {
	padding: 8px 9px;
	transition: all .5s ease-in-out;
	background: #FF0000;
}
/*********
//END SOCIAL ICONS
*********/


/******
Media Queries
*******/

/*Media Queries for Hero Panels*/

@media(min-width:1920px) {
	/*Causes the background on the hero panels to expand proportionally 
	on screens beyond 1920px wide but keeps the ratio fixed at smaller widths*/
	.hero {background-size: cover;}
}

/*Queries for resource bar*/
@media(max-width: 1024px){
	#resource-bar ul li {
		margin-left: 10px;
	}
	#resource-bar ul li a {
	font-size: 13px;
}
/*Remove Vertical Border due to crowding at 1024*/
.academics-panel .col_2 ul.dropdown-menu:first-of-type {
	border-right: none;
	box-sizing: none;
}

#topnav .dropdown .dropdown-menu LI.first > A {
	font-weight: bold;
	padding: 15px 0 0;
	min-height: 25px;
	border-bottom: none;
	margin-bottom: 15px;
	/*font-size: .8em;*/
}

#topnav .dropdown .dropdown-menu LI > A {
	color: #003366;
	font-weight: lighter;
	padding: 0;
	padding-bottom: 10px;
	/*font-size: .8em;*/
	line-height: 22px;
}

}


/*Media Queries for Topnav*/
@media (max-width: 1085px) {
	#topnav .nav li > a {
		padding: 8px 20px;
	}
}

@media (max-width: 900px) {
		#resource-bar {
		display: none;
	}

	#resource-bar ul li {
		margin-left: 0;
	}
	#topnav .nav {
		display: none;
	}

	#topnav ul li a.nav-active {
	background: none;
	color: #003366;
	text-decoration: none;
}
	.dropdown {
	/*This media-query is the simplest way that I could find to override the dropdown on hover function for the mobile nav items.*/
		display: none!important;
	}
	.mobilenav {
	display: block;
	list-style: none;
	margin: 0px 0px 9px;
	padding: 5px 0px !important;
	clear: both;
	width: 100%;
	text-indent: 0px;
	overflow: auto;
	}
.mobilenavouter{
	display: block;
	clear: both;
	width: 100%;
	background: #EEEEEE url(../_images/mobnavouter.jpg) repeat-x;
	}
	
.mobilenav ul{
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	display: block;
	clear: both;
	width: auto;
	}
/*.mobilenav li a{
	display: block;
	background: #00458A;
	width: 18.6%;
	color: #FFFFFF;
	padding: 15px 0px;
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin: 9px 9px 9px 5px;
	text-align: center;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	}*/

.slidingDiv {
	border-bottom: none;
	display: none;
	margin: 0px;
	padding: 0px;
	clear: both;
	width: 99.7%;
	border-right: 1px solid #003366;
	border-left: 1px solid #003366;
	min-height: 350px;
}
.mobilenavouter .search {
	padding: 0;
	margin: 0;
	position: absolute;
	right: 20px;
	float: right;
	width: 85%;
}
.mobilenavouter .search form {
	float: right;
}
.mobilenavouter .search input[type="text"] {
	margin: 0;
	padding: 0;
	padding: 2px;
	margin-top:.22em;
}
.mobilenavouter .search button[type="submit"] {
	margin: 2 0 2px;
	padding: 0;
	border: none;
	padding: 6px 4px 4px;
	vertical-align: middle;
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color: #ededed;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #dcdcdc;
	border-top: none;
	color: #777777;
	font-family: arial;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
	line-height: normal !important;
}

#mainnav.mobnav a:link {
	margin-right: 25px;
	font-size: 1.3em;
	text-align: right;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

#resourcenav.mobnav a:link {
	margin-right: 20px;
	margin-left: 10px;
	text-decoration: underline;
	display: block;
	padding-top: 10px;
	padding-bottom: 5px;
}

#resourcenav{
	border-left: 1px solid #999999;
	margin-top: 15px;
}
#mainnav{
	margin-top: 15px;
}




.ie .mobilenavouter .search button[type="submit"] {
	margin-top: 1px;
	/*padding: 0;*/
}
}
.gecko .mobilenavouter .search button[type="submit"] {
	margin-top: 0px;
}

@media (min-width: 769px) {
	.visible-sm {
		display: none;
	}
}
@media(max-width: 768px) {
 .hidden-sm {
 	display: none;
 }
		footer #link-row h4 {
			margin-bottom: 14px;
		}
.inside-title h2 { font-size:1.7em; line-height:1.3em; margin:1.07em 0 .535em; text-align: center;}
.actionitem .link-text {
		font-size: 200%;
		line-height: normal;
		text-align: center;
	}
	
#resourcenav.mobnav a:link {
	margin-right: 20px;
	margin-left: 10px;
	text-decoration: underline;
	display: block;
	padding-top: 13px;
	padding-bottom: 6px;
}

.slidingDiv {
	min-height: 330px;
}

}

@media (max-width: 500px) {
	.actionitem .link-text {
		font-size: 125%;
		line-height: normal;
		text-align: center;
	}
}

@media (max-width: 480px) {
  .logo {
    width: 100%;
  }
  .logo .logo-text h1{
    width: 40%;
    margin-top: 24px;
  }

  .mobilenavouter .search {
	padding: 0;
	margin: 0;
	position: absolute;
	right: 12px;
	}

#mainnav.mobnav a:link {
	margin-right: 20px;
	font-size: 1.0em;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#resourcenav .mobnav a:link {
	margin-right: 20px;
	margin-left: 5px;
	text-decoration: underline;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 900px) 
and (orientation : landscape) { 

#resourcenav a:link {
	text-decoration: underline;
	margin: 0px !important;
	padding: 4px 0px 4px 10px !important;
}
#mainnav a:link {
	text-decoration: underline;
	margin: 0px !important;
	padding: 4px 30px 4px 0px !important;
}

.slidingDiv {
	min-height: 240px;
}


}




@media (max-width:360px) {
	#topnav #mobnavcontainer {
		height: auto;
	}
	.mobnav a:link {
		font-size: 1.25em;
	}
	#resourcenav.mobnav a:link {
		font-size: .75em;
	}
	.slidingDiv {
	min-height: 300px;
}

}



/*|||||||||||||||||||||||||||BEGIN CUSTOM||||||||||||||||||||||||||||||||||||||||||||||||||||*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*Imports*/
@font-face {
  font-family: 'icomoon';
  src:url('../_fonts/icomoon.eot?d76k8y');
  src:url('../_fonts/icomoon.eot?#iefixd76k8y') format('embedded-opentype'),
    url('../_fonts/icomoon.woff?d76k8y') format('woff'),
    url('../_fonts/icomoon.ttf?d76k8y') format('truetype'),
    url('../_fonts/icomoon.svg?d76k8y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-swipe:before {
  content: "\e602";
}
.icon-talk:before {
  content: "\e600";
}
.icon-cfl:before {
  content: "\e601";
}

/********
MODS TO MAIN
********/
p{font-family: 'Lato', sans-serif;
	}
h2{
  font-family: 'Lato', sans-serif;
	
	}
  #side-content h3,#side-content h4 {
    font-family: open_sanslight;
  }
.hero-title {
	color: #fff;
	display: block;
	position: relative;
	margin-top: 240px;
	padding: 20px 40px;
}

.hero-title h2{
	text-transform: uppercase;
  font-family: lato;
	margin-bottom: 0.25em;
	text-align: left;
	font-size: 1.96em;
	padding-top: 0px;
	margin-top: 25px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.hero-title p{
  font-family: lato;
	font-size: 1.3em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.hero-title a:link, .hero-title a:active, .hero-title a:hover, .hero-title a:visited{
	color: #FFFFFF;
		}


		/*Section Styles*/
		section {
			border-bottom: 1px dotted rgba(200,200,200,.5);
		}
    section h2 {
  font-family: open_sanslight;
}
img + h4 {
  padding-top: 0;
  margin-top: 0;
}
 
#rice-mission {
	/*background: #F3F3F3 url(../_images/tabbedback.jpg) no-repeat center top;
background: rgb(255,255,255); /* Old browsers */

	min-height: 365px;
	margin-top: -85px;
	background: none;
	border-bottom: 1px solid #D1D1D1;
}

#rice-mission #tabs-1 h2 {
	padding-top: 30px;
	padding-bottom: 5px;
}

#rice-mission #tabs-2 h2 {
	padding-top: 30px;
	padding-bottom: 5px;
} 
 

#rice-mission #tabs-3 h2 {
	padding-top: 30px;
	padding-bottom: 5px;
} 


#rice-mission h2 {
	text-align: center;
	color: #595959;
	text-shadow: 0px 1px 1px #FFF;
	margin-bottom: 0px;
	font: bold 2.2em 'Lato', sans-serif;
	padding: 15px 0px 0px;
}


#rice-mission p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: justify;
	color: #666666;
	text-shadow: 0px 1px 1px #FFF;
}
#rice-mission #tabs-2 li {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	text-align: left;
	color: #666666;
	text-shadow: 0px 1px 1px #FFF;
}

#rice-news {
	min-height: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #E0E0E0;/*	border-bottom: 1px solid #AED9FF;*/
	background: rgb(242,242,242); /* Old browsers */
	border-bottom: 1px solid #D1D1D1;
}
.news-item h3{
	display: block;
	min-height: 45px;
	line-height: 1.4em;
	font-size: 1.2em;
	padding: 9px 0px 0px;
	font-weight: normal;
}

.col_3 .news-item h3{
	display: block;
	min-height: 45px;
	line-height: 1.1em;
	font-size: .9em;
	padding: 9px 0px 0px;
	font-weight: normal;
}

.col_6 .news-item h3{
	display: block;
	min-height: 45px;
	line-height: 1.4em;
	font-size: 1.5em;
	padding: 9px 0px 0px;
	font-weight: bold;
}

.col_8 .news-item h3{
	display: block;
	min-height: 45px;
	line-height: 1.4em;
	font-size: 1.7em;
	padding: 9px 0px 0px;
	font-weight: bold;
}



#rice-events {
	background: rgb(232,244,255);
}

	/*Important Dates index page*/
.date-capsule {
	text-align: left;
	color: #fff;
	background: #FFFFFF;
	margin-bottom: 25px;
	font-size: .9em;
	padding: 0px;
	margin-top: 5px;
}
.important-date {
	text-transform: uppercase;
	background: #0076EC;
	font-size: 2em;
	padding: 15px;
	text-align: center;
	font-weight: bold;

}
.important-event {
	background: #FFFFFF;
	padding: 20px;
	color: #666666;
	line-height: 1.3em;
}
.rice-events {
	/*background: #efefef;*/
	/*	padding-top: 12px;
	padding-left: 12px;*/
	/*margin-left: -20px;*/
	padding-bottom: 12px;
	padding-top: 5px;
}

.rice-events ul{
	margin: 0px;
	padding: 0px;
	text-indent: none;
}
.rice-events ul li{
	font-size: 0.9em;
	line-height: normal;
	padding-bottom: 9px;
	min-height: 55px;
	border-bottom: 1px dotted #CCCCCC;
	padding-top: 0px;
	margin-top: 9px;
}
.rice-events h2 {
}
.rice-events .fa-calendar {

}
.rice-events li a:link, .rice-events li a:visited  {
	font-size: 1em;
	display: block;
	color: #003366;
}
.rice-events li a:hover{
	text-decoration: underline;
}

.event-dates{
	font-size: 1.3em;
	font-weight: bold;
	color: #1560BD;
}

/*End Important Dates*/

#rice-academics {
	min-height: 400px;
}

#rice-academics h2 {
	text-transform: uppercase;
	margin-bottom: 0.25em;
	text-align: left;
	font-size: 1.96em;
	padding-top: 0px;
	margin-top: 25px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	color: #FFFFFF;
}

#rice-academics p {
	font-size: 1.4em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	color: #FFFFFF;
}

#academics-links{
	padding-top: 35px;
}

.boxhighlight{
	margin-top: 15px;
}

/*Academic link box styles*/

/*End Academic Link box styles*/


#rice-research {
	background: rgb(255,255,255);
}

#rice-studies{}
#sidenav a{
	padding-left: 9px !important;
	padding-right: 9px;
}

.devad{
	display: block;
	padding-top: 25px;
	padding-bottom: 25px;
}

#rice-fact {
	background: rgb(239,239,239);
	}
.fa-chevron-left, .fa-chevron-right {
  display: none;
  color: rgb(78,116,173);
  text-shadow: 1px 1px 1px #000;
}
.owl-prev.fa.fa-chevron-left {
  position: absolute;
  top: 41%;
  font-size: 300%;
  left: 0px;
  opacity: .5;
} 

.owl-next.fa.fa-chevron-right {
  position: absolute;
  top: 41%;
  font-size: 300%;
  right: 0px;
  opacity: .75;

} 
.touch .owl-prev {
  display: none!important;
}
.owl-next.icon-swipe {
  position: absolute;
  top: 50%;
  left: 47.25%;
  font-size: 300%;
  color: rgba(0,0,0,.5);
  /*border: 1px solid rgb(78,116,164);*/
  background: rgba(78,116,164,.35);
  border-radius: 100%;
  padding: 1%;
}

/*Styles for the campus-life section panels*/

 #intro-panel {

  }
  #clubs-panel {
	background: #D5D0C0;
  }
  
      #clubs-panel h2{
	color: #FFFFFF;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	font-size: 1.9em;
}
 section ul li {
  margin-bottom: 12px;
  }
  #intro-panel h2 {
    text-align: center;
  }
  #intro-panel h5 {
    display: inline-block;
    padding-right: 1%;
  }
  #residential-colleges-panel {
	background: rgb(224,209,158);
	min-height:360px;
  }
    #residential-colleges-panel h2{
	color: #FFFFFF;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	font-size: 1.9em;
}

  #arts-panel {
    background: rgb(220,220,220);
  }
  #public-art-panel {
	background: #D5D0C0 url(../_images/owlart.jpg) no-repeat fixed center;
	min-height: 450px;
  }
  #public-art-panel h2 {
	  	color: #FFFFFF;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	font-size: 1.9em;}
	
#public-art-panel a {
	  	color: #FFFFFF;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);}
/*End styles for the campus-life section panels*/

/*Inside Nav Panel Styles*/
#inside-nav-panel {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  border-bottom: none;
  background-color: rgb(245,245,245);
}
#inside-nav-panel h4, #inside-nav-panel h5{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
#inside-nav-panel h4 {
  
  font-size: 1.25em;
}
#inside-nav-panel h5 {
  margin-bottom: 6px;
  font-size: 1.125em;
  text-indent: 12px;
}
#inside-nav-panel h5 a {
  border-left: 2px solid #000;
  padding-left: 12px;
}
#inside-nav-panel a:hover {
  text-decoration: underline;
  padding-bottom: 2px;
}
#inside-nav-panel .well-group {
  border-bottom: 1px solid #afafaf;
  padding: 6px 18px;
}
#inside-nav-panel a.selected {
  font-weight: bold;
}
/*End Inside Nav Panel Styles*/

/*Calendar List*/
.well {
  padding: 10px;
  border-radius: 0;
  background-color: #efefef;
}
.calendar-heading {
  border-bottom: 1px solid black;
}

.calendar-heading h3 {
  padding: 6px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #2a3a49;
}
.calendar-heading p {
  font-size: 14px;
  padding: 6px;
  padding-top: 0;
}
.calendar-item {
  padding: 12px 6px;
}
.calendar-item h5 {
  margin: 0;
  padding: 0;
  font-size: .88em;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 6px;
}
.calendar-item h4 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.25em;
}
#program-list h3 {
  margin-bottom: 0;
  border-bottom: none;
}
.link-ender {
  display: block;
  margin-top: 40px;
  margin-bottom: 12px;
  text-decoration: underline;
}
/*End Calendar List*/

/*Contact*/
.content-item .contact {
  margin-top:32px;
}
.content-item .contact h4 {
  font-size: 18px;
}
.content-item .contact p {
  font-size: 16px;
}
/*End Conatct*/

/********
END MODS
*********/


/*******
CALLS TO BACKGROUND IMAGES
********/
.hero-bg-campus-life {
  background:url(../_images/that-sandwich-shop.jpg);
  background-position: center 520px;
  background-repeat: no-repeat;
}
.touch .hero-bg-campus-life {
  background-position: center center;
  height: 200px;
}

/********
END CALLS
*********/







/********
END DEPARTMENT SPECIFIC STYLES
*********/




/*ADDED FEATURES FOR NEW WEBSITE*/

.list-group {
    padding-left: 0;
    margin-bottom: 20px
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

a.list-group-item {
    color: #555
}

a.list-group-item .list-group-item-heading {
    color: #333
}

a.list-group-item:hover,a.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #003366;
    color: #fff;
}



.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px
}

.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05)
    box-sizing: border-box;
}

.panel-body {
    padding: 15px
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel-heading>.dropdown .dropdown-toggle {
    color: inherit
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.panel-title>a {
    color: inherit
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden
}

.embed-responsive .embed-responsive-item,.embed-responsive iframe,.embed-responsive embed,.embed-responsive object,.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%
}

.embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05)
    box-sizing: border-box;
}

.well blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15)
}

.well-lg {
    padding: 24px;
    border-radius: 6px
}

.well-sm {
    padding: 9px;
    border-radius: 3px
}



#twitter-widget-0 {
	width: 100%!important;
}

	/*Button Styles*/
	.button {
    /* Structure */
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*csslint outline-none:false*/
a.button {
	color: #fff;
	text-shadow: 0px 0px 0px #2a3a49;
	font-size: 1em;
	margin: 6px;
	text-align: left;
}
.button {
    font-family: inherit;
    font-size: 100%;
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    *color: #444; /* IE 6 & 7 */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}
button:hover {
	cursor: pointer;
}
.button-hover,
.button:hover,
.button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    cursor: pointer;
}
.button:focus {
    outline: 0;
}
.button-active,
.button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

.button[disabled],
.button-disabled,
.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.button-hidden {
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.button-primary,
.button-selected,
a.button-primary,
a.button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }
        .button-bama {
        	/*Crimson Tide!*/
						background: rgb(69,0,16);
        }
         .blue-yonder {
						background: #1560BD;
        }
        .blue-yonder:hover, .blue-younder:focus, .blue-younder:active {
		background: #123456;
		color: #FFFFFF;
        }
        .tan {
            background: none repeat scroll 0% 0% rgb(113, 108, 92);
        }
        .tan:hover {
            background: rgb(13,08,02);
        }


.button>.fa {
  padding-right: 8px;
}
	/*End Button Styles*/





.feature-panel {
	background-image: url("../_images/twilight1024x576.jpg");
	background-position: center center;
	min-height: 200px;
	text-shadow: 0px 0px 0px #000;
	color: #fff;
	padding: 12px;
	border: 2px solid #efefef;
}

.feature-panel p {
	background: rgba(0,0,0,.55);
	padding: 12px;
	position: absolute;
	right: 0;
	width: 70%;
	font-size: 14px;
}


/*button colors*/

/***
GENERAL STYLES FOR HERO SITE PAGES
*/
small {
  font-size: 80%;
}
#breadcrumbs {
  border: none;
}
.no-hero-header + #breadcrumbs {
  background: #efefef;
  padding-top: 12px;
  padding-bottom: 12px;
}



.content-item p {
  line-height: 150%;
  font-size: 1.125em;
}
#main a {
  font-family: 'open_sansregular';
}
.inside-header-bg {
  min-height: 300px;
}

 .inside-title h2 {
	margin-top: 84px;
	color: #fff;
	font: bold 2.2em 'Lato', sans-serif;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	text-transform: uppercase;
	text-align: center;
   }
 
   /*Applicaiton and Admission Buttons*/
  .application-buttons a{
    display: block;
    min-width: 240px;
    margin: 16px 0px;
    padding: 14px;
    padding-left: 10px;
  }
  .application-buttons .fa {
    text-align: center;
  }
/*End Application and Admission Buttons*/

/***
STYLES FOR SPECIFIC MODULES CREATED FOR HERO SITE
*/
/*Important Dates Table Styles*/
.important {
      display: table;
      font-family: 'source sans pro';
      border-radius: 2px;
      width: 100%;  
      margin-bottom: 24px;
    }
    .important-dates * {
      margin: 0;
      padding: 0;
    }
    .dates-row {
      display: table-row;
      height: 65px;      
    }
    .event-date, .event-details {
      display: table-cell;
      color: #2a3a49;
      box-sizing: border-box;
    }
    .event-date {
      text-align: center;
      /*border-bottom: 1px solid #fff;*/
      vertical-align: top;
      text-transform: uppercase;
      padding-right: 0;
    }
    .event-date h2 {
      font-size: 20px;
      padding-right: 0px;
      color: darkred;
      display: inline;
    }
    
    .event-details {
      vertical-align: top;
      /*border-bottom: 1px solid #fff;*/
    }

    .event-details h4 {
      font-size: 18px;
      margin-bottom: .25em;
      color: #003366;
    }
    .event-details label {
      display: inline;
    }
    
    .event-details p,#side-content .event-details p, #featured-content .event-details p {
      font-size: 14px;
      margin: 0;
      padding: 0;
      line-height: 120%;
    }

 a.link-ender{
  font-size: 1.2em;
  }
/*End Important Dates Table Styles*/

/* Module Image and Info */
.info-section {
  clear: both;
  display: table;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}
.module-image {
	width: 250px;
	float: right;
	margin-left: 12px;
	margin-top: 10px;
}
.module-info {
  display: table-cell;
  vertical-align: top;
  padding-top: 10px;
  padding-left:20px;
 width: auto;
/* overflow: auto;*/
}
.module-info h3 {
    border-bottom: 1px dotted #2a3a49;
    padding-bottom: 12px;
}
.info-section .button {
    clear: both;
}

/* End Model Image and Info */
#featured-content a:hover {
    text-decoration: underline;
}
#featured-content li {
    margin-bottom: 12px;
}

/*Image and Caption Styles*/
figure {
position: relative;
margin-bottom: 23px;
}
figure img {
margin-bottom: -3px;
}
figure .image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
  font-size: 16px;
  background: rgba(0,0,0,.6);
  width: 100%;
}
.image-caption p {
  color: #efefef;
}
.image-caption a {
  color: #fff;
  font-weight: bold;
  font-style: oblique; 
}
.image-caption a:hover {
  text-decoration: underline;
}
/*End Image and Caption Styles*/


/*Calendar Items*/
/*Calendar List*/
.well {
  padding: 10px;
  border-radius: 0;
  background-color: #efefef;
}
.calendar-heading {
  border-bottom: 1px solid black;
}

.calendar-heading h3 {
  padding: 6px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #2a3a49;
}
.calendar-heading p {
  font-size: 14px;
  padding: 6px;
  padding-top: 0;
}
.calendar-item {
  padding: 12px 6px;
}
.calendar-item h5 {
  margin: 0;
  padding: 0;
  font-size: .88em;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 6px;
}
.calendar-item h4 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.25em;
}
 .link-ender {
  display: block;
  margin-top: 40px;
  margin-bottom: 12px;
  text-decoration: underline;
  
}
/*End Calendar Items*/

/*Tabbed Panel Styles*/
.ui-tabs .ui-tabs-nav li {
	background: #E0E0E0;
}
.ui-tabs .ui-tabs-nav li a {
	color: #333;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background: #FFFFFF;
	border-top: 1px solid #D1D1D1;
	border-right: 1px solid #D1D1D1;
	border-left: 1px solid #D1D1D1;
	border-bottom-width: 1px;
	border-bottom-color: #D1D1D1;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  color: #003366;
}
#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5, #tabs-6{
}
/*End Tabbed Panel Styles*/
/*Accordion Styles*/
.ui-accordion .ui-accordion-header {
  background: #003366;
}
.ui-accordion .ui-accordion-header a {
  color: #fff;
}

/*End Accordion Styles*/

/*Program Group*/
 .program-group h4 {
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 6px;
}


.program-group {
margin-bottom: 12px;
}
.program-group h5 {
  margin-bottom: 6px;
}
.porgram-gorup h5 a {
  color: #003366;
}

/*End Program Group*/


/*News Feed*/

.ACdate{
	background: #00FF33;
	display: block;
	clear: both;
}
#academic-calendar sub i{
	display: none;
}
#academic-calendar a:link{
	text-decoration: none;
	display: block;
	padding-bottom: 15px;
	border-bottom: 1px dotted #666666;
	margin-bottom: 10px;
	font-weight: bold;
}
#academic-calendar a:visited{}
#academic-calendar a:hover, #academic-calendar a:focus {
	color: #0033FF;
	text-decoration: underline;
}
#academic-calendar a:active{}

#academic-calendar h3{
	font: bold 1.5em 'Lato', sans-serif;
	color: #993300;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
}
#academic-calendar ul li span.headline {
	display: none;
	margin: 0px;
	padding: 0px;
}
#academic-calendar div.feedburnerFeedBlock {
	font: 0.9em/normal Verdana, Geneva, sans-serif;
	margin: 0px;
	padding: 0px;
}
#academic-calendar div.feedburnerFeedBlock li {
	margin: 0px;
	padding: 0px;
}
#academic-calendar div.feedburnerFeedBlock li p {
	margin: 0px;
	padding: 0px;
	background: #CCCCCC;
}

#creditfooter  {
	display: none;
}

footer h4{
	font-size: 1em;
	font-weight: normal;
}

/*End News Feed*/

/*Academic Calendar News Feed*/



/*#academic-calendar div.feedburnerFeedBlock ul li span.headline {
	font-weight: bold;
	display: block;
	font-size: 18px;
	list-style-type: none;
	padding: 0px;
	margin: 14px 0 0;
	float: none;
	width: 100%;
}*/


/*#academic-calendar ul li  {
	font-size: 14px;
	line-height: 2em;
	padding: 0px;
	color: #F00;
}*/

/*#academic-calendar ul li br{
	display: none;
}*/
/*#academic-calendar li div {
	display: block;
	position: relative;
	clip: rect(55px,auto,auto,55px);
	overflow: hidden;
	height: 25px;
	left: -155px;
	color: #003399;
	width: 300px;
}*/
/*#academic-calendar ul p  {
	font-size: 14px;
	line-height: 2em;
	padding: 0px;
	color: #00F;
	display: none;
}*/
/*#academic-calendar ul br  {
	padding: 0px;
	display: none;
}*/


#creditfooter  {
	display: none;
}





/*End Academic Calendar News Feed*/




/*
END STYLES FOR SPECIFIC MODULES CREATED FOR HERO SITE
***/

.inside-header-bg {
    margin-bottom: 12px;
}

.info-section .fa-ul {
 overflow: auto;
}


#photogcorner{
	background: #000000;
	width: 100%;
}
#photoginner{
	padding-top: 25px;
	padding-bottom: 9px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;	
	}
	
/*button[type="submit"]{
    line-height:normal !important;
}*/

/********
MEDIA QUERIES
*********/


/******************************************************

ACCESSIBILITY ITEMS

******************************************************/

/*Give links bright blue color and underline on focus*/
a:focus{ 
	color: #003399;
	text-decoration: underline;
}

a.button:focus {
  color: #fff;
  outline: 2px solid gold;
}

a:focus img {
	outline: 2px solid gold;
}

a:hover, a:active { outline: none; }

.storify{
	height: 370px;
	top: -150px;
	display: block;
}
#social{
	/*min-height: 500px;*/
	margin: 0px;
	padding: 0px;
}


.hypeTemplate {
	width: 310px;
	margin-top: 20px;
	margin-left: 20px;
	box-shadow: none !important;
	background: rgb(255,255,255) !important;
	border: 1px solid #CCCCCC;
}
.collections-search-item-input{
	color: #003366!important;
}


.mejs-container:focus{
	outline: 2px solid gold;}
	
.accessheader{
	display: block;
	position: absolute;
	left: -9999px;
}
	
	
	
/*Begin longdesc formatting - This hides the long descirtion divs from sighted users while allowing screenreaders to see the text*/	

#desc1, #desc2, #desc3, #desc4, #desc5, #desc6, #desc7, #desc8, #desc9, #desc10, #desc11, #desc12, #desc13, #desc14, #desc15, #desc16, #desc17, #desc18, #desc19, #desc20 {
	position: absolute;
	left: -9999px;
}

/*Begin longdesc formatting*/

@media(min-width:1920px){
  .hero-bg-campus-life {
    background-size: cover;
  }

      .inside-header-bg {
      background-size: cover;
    }
}


@media(max-width:1024px){
.hero-title h2{
	font-size: 1.58em;
	padding-top: 0px;
	margin-top: 0px;
	}
.hero-title p{
	font-size: 1.1em;
}
}

@media(max-width:768px){
  #rice-facts .content-item {
    padding-bottom: 0;
  }
  #rice-facts div {
    border-bottom: 2px solid white;
    padding-top: 12px;
    min-height: 210px;
  }
  #rice-facts div:last-child {
    border-bottom: 0;
  }
    .module-image {
    display: none;
  }


      .important-dates-table, .dates-row,.event-date,
      .event-details {
        display: block;
        border-bottom: none;
      } 

       .dates-row {
      display:block;
      height: auto;
    }
      .event-date h2 {
        border-right: none;
        margin: 0;
        padding: 0;
      }
      .event-date {
        margin-top: 24px;
      }
      .event-details {
        border-bottom: 1px dotted #2a3a49;
        text-align: center;
        padding-bottom: 24px;
      }
     .event-details p {
      text-align: center;
      font-size: 1em;
      }
	  
	#photoginner{
	padding-top: 25px;
	padding-bottom: 9px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;	
	}
	

.accessheader{
	display: block;
	position: absolute;
	left: -9999px;
}
    }
	
	
	
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
.hero-title h2{
  text-transform: uppercase;
  margin-bottom: 9px;
  text-align: center;
  font-size: 1.3em;
  padding-top: 0px;
  margin-top: 3px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.hero-title p{
  font-size: 1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  text-align: center;
}
.accessheader{
	display: block;
	position: absolute;
	left: -9999px;
}

}
	
	
	
	
@media(max-width: 480px) {

.hero-title {
  color: #fff;
  display: block;
  position: relative;
  margin-top: 250px;
  padding: 9px;
  text-align: center;
}

.hero-title h2{
  text-transform: uppercase;
  margin-bottom: 9px;
  text-align: center;
  font-size: 1.4em;
  padding-top: 0px;
  margin-top: 9px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.hero-title p{
  font-size: 1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  text-align: center;
}

.hero-title a:link{
  color: #FFFFFF;
  text-decoration: none;

  background: #0066CC;
  margin: 9px auto;
  padding: 9px;
  display: block;
}

/*FIXES FOR TABS ON MOBILE*/

#rice-mission {
  /*background: #F3F3F3 url(../_images/tabbedback.jpg) no-repeat center top;
background: rgb(255,255,255); /* Old browsers */
  /*min-height: 100px;*/
  margin-top: -45px;}

/*Tabbed Panel Styles*/
.ui-tabs .ui-tabs-nav li {
  background: #DFF0FF;
}
.ui-tabs .ui-tabs-nav li a {
  color: #039;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background: #FFFFFF; 
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  color: #003366;
}
#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5, #tabs-6{
  margin: 0px;
  padding: 0px;
}
#rice-mission h2{
  margin: 9px 0px 0px;
  padding: 0px;
}

#rice-mission p {
  font-size: .9em;
  line-height: 1.5em;
  text-align: left;
}
 .ui-accordion .ui-accordion-content {
	margin: 0px !important;
	padding: 1.9em 10px 0px !important;
}



/*End Tabbed Panel Styles*/
/*Accordion Styles*/
.ui-accordion .ui-accordion-header {
  background: #003366;
}
.ui-accordion .ui-accordion-header a {
  color: #fff;
}


/*End Accordion Styles*/

#rice-academics {
  /*min-height: 400px;*/

}

#rice-academics h2 {
  margin-bottom: 0.25em;
  text-align: center;
  font-size: 1.7em;
  padding-top: 0px;
  margin-top: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  color: #FFFFFF;
}

#rice-academics p {
  font-size: .9em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  color: #FFFFFF;
}
/*Remove TINT controls on mobile*/
#collectionHolder{display: none !important;}
.router_edit #collectionHolder{display: block !important;}	



}
/*********
END MEDIA QUERIES
********/


.mejs-container{
	display: none !important;
	clear: both;
}
#social-media{
	display: none;
}

	#link-row{
	display: none;
	clear: both;
}

#side-content{
	display: none;
}

#footer-logo{
	display: none;
}