body{font-family:arial,sans-serif;font-size:12px;color:#000;margin:0;padding:0;background-color:#efeeea}
.main{width:1010px;margin:0 auto}
a,img{text-decoration:none;color:#000;border:0;outline:none}
header{background-color:#2F2F2F;width:100%;float:left;border-bottom:1px solid #D6D6D4;box-shadow:0 5px 15px #9C9C9A;-webkit-box-shadow:0 5px 15px #9C9C9A;-moz-box-shadow:0 5px 15px #9C9C9A}
ul{margin:0;padding:0}
nav{width:80%;float:left}
nav ul{width:100%;list-style-type:none;margin:0;padding:5px 0 0}
nav ul li{float:Left;margin:0;cursor:pointer;color:#fff;font-size:13px;padding:5px 20px 5px 0}
nav ul li a{color:#fff}
nav ul li a img{float:left;padding:0 5px 0 0}
nav ul li a span{line-height:35px}
.search{width:15%;float:left;margin:10px 0 0;position:relative;padding:6px 15px 6px 35px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;text-shadow:0 2px 2px rgba(0,0,0,0.3);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.1),0 1px 3px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.1),0 1px 3px rgba(0,0,0,0.2) inset;box-shadow:0 1px 0 rgba(255,255,255,0.1),0 1px 3px rgba(0,0,0,0.2) inset;-webkit-transition:all .7s ease 0;-moz-transition:all .7s ease 0;-o-transition:all .7s ease 0;transition:all .7s ease 0;background-color:#525252}
#search input[type="text"]{border:0 none;font:bold 12px Arial,Helvetica,Sans-serif;color:#fff;width:150px;background-color:#525252}
input.search-bx:focus{border:0;outline:none}
.search-bx:-webkit-autofill{-webkit-box-shadow:0 0 0 50px #525252 inset;-webkit-text-fill-color:#fff}
.search-bx:-webkit-autofill:focus{-webkit-box-shadow:,0 0 0 50px #fff inset;-webkit-text-fill-color:#fff}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #525252 inset;outline:none;border:0}
.google_search_button{background:url(images/icon-search.png) no-repeat 3px 2px;height:30px;width:30px;border:0;outline:none;position:absolute;top:0;cursor:pointer;left:0}
.search:focus{width:150px}
figure{margin:0;padding:0}
.logosec{width:100%;float:left;margin:20px 0}
.logo{width: 280px;float:left;padding-top:15px;text-align: center;padding-bottom:15px;}
.top-add{width:728px;float:left;height:90px}
.map-sec{width:100%;float:left}
.map-img{position:relative;width:100%;float:left;margin:-3px 0 0}
.flag{position:absolute;right:90px;top:110px}
.main-map{width:775px;float:left;text-align:left}
.thumbs-sec{margin:0;width:20%;float:right}
.thumbs-sec ul{list-style:none}
span.map-thmb{width:100%;height:auto;float:left;padding-top:5px;background-color:#fff}
span.thmb-name{width:100%;float:left;padding:5px 0 8px;text-align:center;color:#000;font-size:15px;background-color:#fff}
.thumbs-sec ul li{display:block;width:100%;float:left;background-color:#fff;text-align:center;margin-bottom:30px;background:url(images/thumb-shadow.png) bottom center no-repeat;height:165px}
.thumbs-sec ul li:nth-last-child(1){margin-bottom:0}
.thumbs-sec ul li:nth-last-child(4){height:163px}
.thumbs-sec ul li:nth-last-child(5){height:170px}
.down-map{width:100%;float:left;background-color:#4ab4e8}
.large_view{width:265px;float:left;background:url(images/icon-expand.png) 2px 4px no-repeat;padding:11px 0 10px 50px;font-size:14px;font-weight:600;color:#fff}
.large_view a{color:#fff}
.downld{width:100px;float:right;background:url(images/icon-download.png) 2px 4px no-repeat;padding:11px 0 10px 50px;font-size:14px;font-weight:600;color:#fff}
.ind-geo{width:100%;float:left;border:1px solid #9E9D9B;background-color:#fff;margin:10px 0}
.geo-sec{width:660px;float:left;padding:0 10px 15px 15px}
.geo-sec .hd-main{padding:18px 5px 10px;width:80%;float:left}
.geo-sec .hd-main a{color:#4183C0;font-size:23px;float:left;font-weight:600}
.txt{font-size:13px;font-weight:400;color:#272727;padding:10px 0 10px 5px;text-align:left;display:block;width:100%;line-height:18px}
.geo-left{width:375px;float:left}
.geo-right{width:285px;float:left}
.read-more{color:#14487A!important}
.more{color:#2E98EC!important}
.indiastate{width:140px;height:auto;float:left;margin:0 0 0 5px;padding:0;border:0}
.list_heading{border:0;float:left;font-weight:700;text-align:left;font-size:12px;color:#960200;text-decoration:none;margin:0 0 5px;width:100%}
.list_heading a{color:#2F98DC;font-size:14px}
.whatsnew_list ul{margin:0;padding:0;float:left}
.whatsnew_list{height:auto;border:0;text-align:left;padding:0;float:left}
.whatsnew_list a{font-size:13px;color:#272727}
.whatsnew_list a:hover{text-decoration:underline;}
.whatsnew_list ul li{background:url(http://www.mapsofindia.com/new-home-page-images/square-bullet.gif) no-repeat 5px 5px;padding:0 0 0 15px;list-style:none;line-height:18px}
.padding-tp{float:right;width:125px}
.padding-tp2{padding-top:35px}
.indiastate .whatsnew_list ul li:nth-last-child(1){list-style:none;background:none}
.google-ads-box{width:320px;float:left;padding:10px 0 0 5px}
#div-gpt-ad-1398849471834-0{width:300px;height:250px;background:url(http://www.mapsofindia.com/advertisement1.png) 0 0 no-repeat transparent;padding:7px 0 0}
.ind-geo2{width:1010px;float:left;padding:15px 0;}
.ind-geo2 .list_heading a{color:#3D79BF}

.ind-sec{width:770px;float:left;}
.new-main{  width: 220px;
  float: right;
  background: #33304D;
  color: #fff;
  padding: 45px 0 0 20px;
  min-height: 275px;}
.new-main .whatsnew_list a {
  color: #FFFFFF;
}
.ind-geo2 .new-main .list_heading a {
  color: #F8EB5E;
}
.new-main .whatsnew_list ul li{background:none;}

.new-main .whatsnew_list ul li::before {content: "";
  display: inline-block;
  margin-left: -1em;
  background: yellow;
  width: 5px;
  height: 5px;
  position: relative;
  left: -5px;
  top: -1px;}
.new-main .whats-new-sec{width:205px;}
.bx-add{width:300px;height:250px;float:right;}
.ad-bg{background: url(http://www.mapsofindia.com/advertisement1.png) 0 0 no-repeat transparent;padding: 10px 0;}
.pd-top{padding-top:20px;}
.whats-new-sec{width:200px;float:left;background:url(images/shadow-seprator.png) center right no-repeat;padding-right:15px;background-size:9px 100%;min-height:230px}
.whats-new-sec .whatsnew_list ul li{line-height:20px}
.my-india{width:330px;float:left;padding:0 20px 0 15px;background:url(images/shadow-seprator.png) center right no-repeat;background-size:9px 100%;min-height:230px}
.my-india .list_heading{margin-bottom:20px}
.my_post{font-size:13px;color:#272727;padding:5px;border-top:1px dotted;width:97%;float:left}
.my_post:nth-last-child(1){border-bottom:1px dotted}
.my_post a{color:#272727}
.abt-ind{width:180px;float:left;padding:0 0 0 15px;background:url(images/shadow-seprator.png) center right no-repeat;background-size:9px 100%;min-height:230px}
.ind-geo2 .whatsnew_list{padding-top:10px}
.travel-guide-sec{width:100%;float:left;margin:10px 0}
.travel-fst{border:1px solid #9E9D9B;background-color:#fff;width:565px;height:auto;padding:0 0 15px 15px;float:left}
.top-travel{width:100%;float:left}
.travel-fst .hd-main{padding:18px 5px 10px;width:36%;float:left}
.travel-fst .hd-main a{color:#4183C0;font-size:23px;float:left;font-weight:600}
.txt-travel{width:50%;float:left;font-size:15px;padding:15px 0 0 25px}
.taj{width:100%;float:left;padding:10px 0 0}
.taj .taj-img{width:230px;float:left}
.taj .trv-links{width:300px;padding:0 0 0 20px;float:left}
.taj .trv-links .whatsnew_list:nth-last-child(1){margin:0 0 0 50px}
.cust-sec{width:412px;float:left;margin:0 0 0 10px}
.cust-ban{width:405px;float:left;box-shadow:0 0 5px #D8D8D6;-webkit-box-shadow:0 0 5px #D8D8D6;-moz-box-shadow:0 0 5px #D8D8D6;border:3px solid #fff}
.new_custom_ban{width:405px;float:left}
.cust_hd{width:100%;background:url(../images1/black-gradient.jpg)repeat-x;color:#fff;text-align:center;font-weight:600;font-size:17px;padding:6px 0}
.cust_hd a{color:#fff;text-decoration:none}
.cust_hd2{width:100%;background:#79B4EC;color:#083962;text-align:center;font-weight:600;font-size:15px;padding:6px 0}
.cust-sect-main{background:#EFEFEF;width:100%;float:left;padding:10px 0}
.cust-sect-main .cust-sect{width:45%;float:left;padding:0 0 0 5%}
.cust-sect-main .cust-sect ul{list-style-image:url(../images1/plush-sign.png);padding-left:20px;font-size:12px;font-family:arial}
.cust-sect-main .cust-sect ul li{margin:2px 0}
.cust-sect-main .cust-sect ul li a{color:#283032;text-decoration:none;font-size:13px}
.know-india{width:260px;float:left;padding:12px;background-color:#F5F5F5;border:2px solid #fff;outline:1px solid #CFCFCF;margin:15px 0 0 15px}
.knowmore{font-size:13px;margin:0 0 5px}
.know_list{width:100%;float:left;position:relative;margin-right:1%}
.know_list label{position:absolute;background:#fff url(images/select-arrow.jpg) no-repeat 96% 9px;width:75%;top:0;left:0;padding:5px 0 8px 5%;color:#272727;font-size:14px;font-family:helvetica;cursor:pointer;border:1px solid #C2C2C2;border-right:none}
.know_list select{padding:7px 2px 7px 3%;float:left;width:80%;border:0;opacity:0;z-index:99}
.taj-cont{width:100%;float:left;padding:10px 0 0 10px}
.taj-cont span{width:100%;display:block;text-align:left;font-weight:600;font-size:14px}
.taj-cont .txt{font-size:14px;font-weight:400;color:#272727;padding:10px 0;text-align:left;display:block;width:100%}
.taj .butt{list-style:none;display:inline}
.taj .butt li{width:135px;float:left;margin:0 0 0 5px}
.short-path{width:412px;margin:0;float:left}
.ind-geo3{width:1010px;float:left;margin:10px 0 0}
.ind-geo3 .whats-new-sec2{width:19%;float:left;background:url(images/shadow-seprator.png) center right no-repeat;padding:0 5px;background-size:9px 100%;min-height:230px}
.ind-geo3 .whats-new-sec2 ul li{line-height:20px}
.ind-geo3 .whats-new-sec2 ul li:nth-last-child(1){background:none}
.history .whats-new-sec2{background:none;width:20%;padding:0}
.on-this-day{width:27%;float:right;}
.whats-new-sec2 .list_heading a,.on-this-day .list_heading a,.current-eve .list_heading a{color:#407EB9}
.on-this-day .date{background:url(images/calander-icon.png) top left no-repeat;width:100%;float:left;height: 50px;background-size: 50px 50px;}
.on-this-day .date b{padding:15px 0 0 60px;display:block;font-size:20px}
.cl{clear:both}
.current-eve{width:36%;float:left;padding:0 1% 0 2%}
.current-eve .my_post{width:92%}
.current-eve .list_heading{margin:0 0 25px}
.utilities{width:48%;float:left;margin:0 1%}
.utilities.whatsnew_list{width:100%}
.utilities .whatsnew_list ul{width:100%;margin:20px 0 0}
.utilities .whatsnew_list ul li{width:45%;float:left;line-height:20px}
.ikailand{background:url(images/ikaailand-icon.png) top left no-repeat;width:47%;float:left;padding:0 0 0 13%}
.ikailand span.hd{font-size:16px;color:#000;font-weight:600}
.ims-sec{width:40%;float:left;text-align:center}
.ind-states{width:100%;float:left;border-top:1px solid #fff;height:auto;-webkit-box-shadow:0 -1px 5px #D7D7D5;-moz-box-shadow:0 -1px 5px #D7D7D5;box-shadow:0 -3px 5px #D7D7D5;margin:30px 0;background-color:#eee}
.states-sec{width:100%;float:left;margin:30px 0 0 10px}
.stateslisting{width:165px;float:left}
.states-sec .list_heading{margin-bottom:25px}
footer{width:100%;float:left;background-color:#111305;height:300px;padding:70px 0 0}
.footer-links{width:100%;float:left;margin-bottom:30px}
.footer-links .whats-new-sec2{width:18%;float:left}
.footer-links .compare{width:28%;float:left}
.footer-links .list_heading a,.footer-links .whatsnew_list ul li a{color:#fff}
.footer-links .compare span{color:#fff;line-height:20px}
.footer-links .whats-new-sec2 .list_heading{margin-bottom:30px}
.footer-links .whatsnew_list ul li{line-height:20px}
.history{background-color:#fff;padding:30px 20px 70px 20px;width:635px;margin:0;float:left;border:1px solid #D2D2D2}
.states-sec .list_heading a{color:#407EB9}
.ind-geo3 .whats-new-sec2 .list_heading{margin-bottom:20px}
.my_post:hover{background:#fff}
.social{width:260px;margin:0 auto;color:#7E8073;font-size:13px}
.copy{width:305px;margin:0 auto;color:#7E8073;font-size:13px}
.copy1{width:420px;margin:5px auto;color:#7E8073;font-size:13px}
.copy1 a{color:#7E8073;text-decoration:underline}
.social-fb{background-image:url(images/social-icon-sprite.jpg);height:28px;width:30px;margin:10px;float:left;-webkit-transition:all ease .3s;-moz-transition:all ease .3s;-o-transition:all ease .3s;-ms-transition:all ease .3s;transition:all ease .3s}
.social-fb:hover{background-position:0 -30px;box-shadow:0 0 4px 1px rgba(0,0,0,0.8)}
.tw{background-position:-53px 0}
.in{background-position:-105px 0}
.pt{background-position:-155px 0}
.rss{background-position:-260px 0}
.tw:hover{background-position:-53px -30px;box-shadow:0 0 4px 1px rgba(0,0,0,0.8)}
.in:hover{background-position:-105px -30px;box-shadow:0 0 4px 1px rgba(0,0,0,0.8)}
.pt:hover{background-position:-155px -30px;box-shadow:0 0 4px 1px rgba(0,0,0,0.8)}
.rss:hover{background-position:-260px -30px;box-shadow:0 0 4px 1px rgba(0,0,0,0.8)}
.no-bg,.ind-geo3 .no-bg{background:none}
.netgains{text-align:center;margin:5px 0;background:url(http://www.mapsofindia.com/advertisement1.png) 0 0 no-repeat transparent;padding:7px 0 0;float:left}
.btn_wrp{margin:0 auto;width:775px}
.btn_wrp .btn-box {width:auto;float:left;margin-right:27px}
.btn_wrp .btn-box:last-child{margin-right:0}
.btn_wrp img{width:auto;padding-right:5px}
span.img-bt{float:left}
.btn_wrp small{font-weight:600;margin-right:0;font-family:arial;display:block;float:left;line-height:35px!important;font-size:13px}
@media screen and (max-width:768px){.copy1{width:100%;text-align:center}
body{background-color:#fff}
.new-main{padding: 0;min-height: initial;background: none;}
.ind-geo2 .new-main .list_heading a {color: #3D79BF;}
.new-main .whatsnew_list a {color: #272727;}
.new-main .whatsnew_list ul li::before {background: #0D71AD;}
.bx-add{width: 100%;text-align: center;}
  .ad-bg{margin:0 auto;}
.new-main .whats-new-sec {width: 96%;}
.btn_wrp .btn-box{margin-right:0}
span.img-bt{float:none;text-align:center}
.btn_wrp .btn-box{width:25%;text-align:center}
.main{width:96%;margin:0 auto;background:#fff;padding:2%}
header{background-color:#fff;border:0;box-shadow:none}
.top-add,.nav-mob,.logosec,nav,.flag,.btn_wrp small{display:none}
.search{width:70%;float:right;margin:10px 0 5px;position:relative;padding:6px 25px 6px 10px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:2px;text-shadow:0 2px 2px rgba(0,0,0,0.3);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.1),0 1px 3px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.1),0 1px 3px rgba(0,0,0,0.2) inset;box-shadow:0 1px 0 rgba(255,255,255,0.1),0 1px 3px rgba(0,0,0,0.2) inset;-webkit-transition:all .7s ease 0;-moz-transition:all .7s ease 0;-o-transition:all .7s ease 0;transition:all .7s ease 0;background-color:#FFF;border:1px solid #C3C3C3}
.google_search_button{background:url(images/iconsearch.jpg) no-repeat 3px 2px;top:3px;left:initial;right:0}
#search input[type="text"]{border:0 none;font:bold 12px Arial,Helvetica,Sans-serif;color:#000;width:90%;background-color:#FFF}
.navbar-toggle{position:relative;padding:9px 10px;margin-top:8px;margin-right:0;margin-bottom:8px;background-color:#1986C7;background-image:none;border:1px solid transparent;width:52px;float:left}
.navbar-toggle .icon-bar{display:block;width:30px;height:3px;border-radius:1px;background:#fff}
.navbar-toggle .icon-bar+.icon-bar{margin-top:4px}
.navbar-toggle:focus{outline:0}
.mob-logo{width:94%;text-align:center;padding:3%}
.mob-logo img{width:85%;max-width:400px}
.mob-nav{position:relative}
.nav-mob{position:absolute;top:45px;width:80%;background-color:#000;color:#fff;z-index:999}
.nav-mob ul li{border-bottom:1px dotted}
.nav-mob ul li a{color:#fff;display:block;padding:10px 0 5px 15px;font-weight:600;font-size:13px}
.map-sec,.main-map,.btn_wrp,.ind-sec,.new-main{width:100%}
.ind-geo,.ind-geo2,.travel-guide-sec,.ind-geo3,.history{width:100%;margin:0;padding:0}
.map-img img{width:100%}
.large_view{width:260px}
.down_strip_mob{width:100%;float:left;background:#1E8FD1;display:block}
.down_strip_mob ul{padding:0;margin:0}
.down_strip_mob ul li{display:inline;float:left;color:#fff;padding-top:2.5%;width:33%;height:24px;font-weight:700;font-size:14px;border-right:1px solid #fff;text-align:center}
.down_strip_mob ul li a{color:#fff;text-decoration:none;font-size:13px}
.down_strip_mob ul li:nth-last-child(1){border-right:none}
.thumbs-sec{width:100%;float:right;overflow-x:scroll}
.thumbs-sec ul{width:1010px}
.thumbs-sec ul li{height:150px;background:none;width:202px}
.mob-none{display:none!important}
.geo-sec{width:96%;float:left;padding:2%;margin:0}
.whatsnew_list,.whatsnew_list ul{width:100%;margin:10px 0 0}
.geo-right,.indiastate{width:100%;margin:0}
.whatsnew_list ul li{width:41%;float:left;line-height:25px;padding:0 0 0 25px;background:url(http://www.mapsofindia.com/stylenew-2016/images/arrow.png) no-repeat 0 2px}
.whats-new-sec,.my-india,.abt-ind,.travel-fst,.ind-geo3 .whats-new-sec2,.on-this-day,.current-eve,.utilities,.top-travel,.know-india{width:96%;float:left;padding:2%;border:1px solid #a9a9a9;background:none;margin:5px 0;min-height:initial}
.travel-fst .hd-main,.txt-travel,.taj .trv-links,.taj .trv-links .whatsnew_list:nth-last-child(1),.know-india{width:100%;margin:0;padding:0}
.taj .butt li{width:23%}
.taj .butt li a img{width:100%;max-width:136px}
.history{background-color:#fff}
.utilities .whatsnew_list ul li{width:41%;float:left;line-height:25px}
footer{background-color:#F6F6F6;width:100%;margin:0;padding:0}
.footer-links .whats-new-sec2{width:100%;float:left}
.footer-links .whats-new-sec2 .list_heading{margin:1%;width:94%;padding:2%;background-color:#B5B5B5;position:relative}
.footer-links .list_heading a,.footer-links .whatsnew_list ul li a{color:#020202}
.footer-links{border:1px solid #a9a9a9}
.hd{position:relative}
.current-eve .hd_show,.my-india .hd_show{margin:15px 0;width:100%;float:left}
.social-cont{width:100%;float:left;background-color:#111305;padding-bottom:60px}
.current-eve .list_heading,.ind-geo3 .whats-new-sec2 .list_heading,.my-india .list_heading{margin:0;padding:0}
.ind-geo3 .whats-new-sec2 ul li,.footer-links .whatsnew_list ul li{line-height:25px}
.travel-fst{width:100%;float:left;padding:0;border:none;background:none;margin:5px 0}
.top-travel .whatsnew_list{margin:0}
.travel-fst .hd-main a{font-size:16px}
.know-india{outline:none}
.knowmore{font-size:14px;margin:10px 0 5px 10px}
.taj-mob{display:block;width:100%;float:left;text-align:center;margin:5px 0}
.taj-mob img{width:90%}
.know_list label{left:15px;width:85%;top:13px}
.know_list select{padding:7px 2px 7px 7%;float:left;width:93%;position:relative}
.drop-dn{width:96%;padding:10px 7px;float:left}
.go-but{position:absolute!important;top:11px!important;right:initial!important}
.taj .butt{list-style:none;display:inline;margin:0 0 0 35px;width:94%;float:left}
.whatsnew_list a{font-size:12px}
.footer_heading{background:#707070;padding:5px;color:#fff;font-weight:700;display:block}
.footer-links .whats-new-sec2 .whatsnew_list{width:98%;margin:5px 1%}
.whats-new-sec .whatsnew_list ul li{line-height:25px}
.thumbs-sec ul li:nth-last-child(3),.thumbs-sec ul li:nth-last-child(4){width:110px}
.kartik-banner{width:100%;float:left;margin:10px 0}
.kartik-banner img{width:100%}
#div-gpt-ad-1418896175571-0{width:100%;height:250px;float:left;text-align:center;margin:5px 0}
.mobileads{position:fixed;bottom:0;z-index:99999;background:#5A5A5A;width:100%;text-align:center}
}
@media screen and (max-width:600px){.know_list label{left:15px;width:78%;top:13px}
.know_list select{padding:7px 2px 7px 7%;float:left;width:85%;position:relative}
.taj .butt{margin:0}
}