/* font-family: "LatoLight"; */
@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html { 
	position: relative;
	height: 100%; 
	min-width: 320px;
}
body { 
	position: relative;
	font-family: sans-serif;
	min-width: 320px;
	font-size: 16px;
	min-height: 100%;
	font-family: "LatoLight", sans-serif;
}
header {
	border-top: 1px solid transparent;
	border-bottom: 1px solid #b8b8b8;
	-moz-box-shadow: 0 0 10px 0 #b8b8b8;
	-webkit-box-shadow: 0 0 10px 0 #b8b8b8;
	box-shadow: 0 0 10px 0 #b8b8b8;
}
header h1 {
	margin: 0;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 150px;
	color: #fff;
	background: url(../img/bg-block-simple.jpg) no-repeat;
	background-color: #100103;
	background-position: center;
	border-top: 1px solid transparent;
	padding-top: 50px;
}
.footer-text {
	display: inline-block;
	margin-left: 30px;
	color: #fff;
}
.block-conacts {
	text-align: right;
}
footer a, footer a:hover, footer a:focus {
	color: #fff;
}
.footer-text a {
	text-decoration: none;
	border-bottom: 1px dashed #fff;
}
.footer-text a:hover {
	text-decoration: none;
	border-bottom: 1px solid #fff;
}
.footerempty {
	height: 200px;
}
.logo-fix {
	display: inline-block;
	width: 100px;
	height: 46px;
	margin-top: -10px;
	background: url(../img/logo-fix.png) no-repeat; 
	background-size: 100%;
}
.logotype {
	background: url(../img/ecomm_logo.svg) no-repeat;
	background-size: 100%;
	width: 230px;
	height: 51px;
	display: block;
	background-size: 100%;
	margin: 10px 0;
}
.logotype:hover {
	text-decoration: none;
}
.text-top-slide{
	font-family: "OpenSansRegular";
	position: relative;
	font-size: 32px;
	text-align: center;
}
.text-top-slide::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	height: 1px;
	background: #aa0f2b;
}
.wr-lang {
	display: inline-block;
	vertical-align: top;
	margin-top: 28px;
	margin-right:5px;
	font-size: 12px;
}
.wr-lang a {
	display: inline-block;
	vertical-align: top;
	color: #444;
	text-decoration: none;
	border-bottom: 1px dashed #444;	
}
.wr-lang a:hover {
	color: #222;
	text-decoration: none;
	border-bottom: 1px solid #222;	
}

.text-desc {
	font-size: 16px;
	margin-top: 38px;
	text-align: center;
}
.text-trans {
	text-transform: uppercase;
}
.block-main {
	position: relative;
	padding: 0;
	background: url(../img/bg14.jpg) no-repeat;
	background-color: rgba(16,1,3,.9);
	background-position: center;
	color: #f5f5f5;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.btn-login, .btn-signup {
	margin-top: 20px;
	height: 30px;
	border: 1px solid #aa0f2b;
	font-size: 16px;
	line-height: 16px;
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: top;
}
.btn-login {
	color: #aa0f2b;
	background: #fff;
}
.btn-login:hover {
	border: 1px solid #be0426;
	color: #be0426;
}
.btn-login:focus {
	border: 1px solid #a4021f;
	color: #a4021f;
}
.btn-signup {
	margin-left: 10px;
	background: #aa0f2b;
	color: #fff;
}
.btn-signup:hover {
	background: #be0426;
	color: #fff;
}
.btn-signup:focus {
	background: #a4021f;
	color: #fff;
}
.wr-advantages {
	width: 450px;
	margin: 50px auto;
}
.carousel-inner{
	position: relative;
	min-height: 530px;
	margin: 70px auto 30px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.carousel-inner .item {
	min-height: 540px;
}
.carousel-indicators .active {
	background-color: #aa0f2b;
	border-color: #aa0f2b;
}
.wr-adv {
	vertical-align: middle;
	margin-bottom: 8px;
}
.icon-slide1 {
	position: relative;
	display: inline-block;
	width: 47px;
	height: 47px;
	margin-right: 10px;
	background: url(../img/icon-slide1.png) no-repeat;
}
.wr-adv .text {
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
}
.btn-join {
	display: block;
	width: 200px;
	margin: 5px auto;
	background: #aa0f2b;
	color: #fff;
	font-size: 16px;
}
.btn-join:hover, .btn-join:focus {
	color: #fff;
}
.btn-join:hover {
	background: #be0426;
}
.btn-join:focus {
	background: #a4021f;
}
.btn-join.terms {
	width: 300px;
}
.btn-join-bottom, .btn-join-bottom.start {
	display: block;
	width: 280px;
	height: 40px;
	margin: 5px auto;
	background: #aa0f2b;
	color: #fff;
	font-size: 18px;
}
.btn-join-bottom.start {
	margin-top: 30px;
}
.btn-join-bottom:hover {
	background: #be0426;
	color: #fff;
}
.btn-join-bottom:focus {
	background: #a4021f;
	color: #fff;
}

.text-slide2 {
	position: relative;
	display: inline-block;
	margin-left: 30px;
}
.text-slide2:first-child {
	margin-left: 57px;
}
.text-slide2::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -40px;
	width: 80px;
	height: 1px;
	background: #aa0f2b;
}
.btn-advantages-ali {
	display: block;
	width: 250px;
	margin: 5px auto;
	background: #aa0f2b;
	color: #fff;
}
.btn-advantages-ali:hover, .btn-advantages-ali:focus {
	color: #fff;
}
.wr-slide3 {
	width: 890px;
	margin: 60px auto 40px;
}
.epayments-card {
	display: inline-block;
	margin-right: 30px;
	margin-top: 10px;
	width: 236px;
	height: 148px;
	background: url(../img/epayments-card.png) no-repeat;
	background-size: 100%;
	vertical-align: top;
	-webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.epayments-card:hover {
	width: 250px;
	height: 158px;
	margin-left: -10px;
	margin-top: 4px;
	margin-right: 26px;
}
.wr-list-slide3 {
	display: inline-block;
	width: 600px;
	vertical-align: top;
}
.wr-list-slide3 a, .wr-list-slide3 a:hover, .wr-list-slide3 a:focus {
	color: #fff;
	text-decoration: underline;
}
.list-slide3 {
	padding-left: 0;
	margin: 0 0 65px;
}
.list-advantages li {
	margin-left: 0;
	margin-bottom: 5px;
	list-style-type: none;
	vertical-align: middle;
}
.list-slide3 li, .list-advantages.type-slide2 li {
	list-style-type: none;
	margin-bottom: 6px;
	position: relative;
	margin-left: 20px;
}
.list-advantages.type-slide2 li i {
	position: absolute;
	top: 5px;
	left: -20px;
	display: block;
	background: #aa0f2b;
	width: 10px;
	height: 10px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	margin-right: 8px;
}
.list-slide3 li i {
	position: absolute;
	top: 5px;
	left: -20px;
	display: block;
	background: #aa0f2b;
	width: 10px;
	height: 10px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	margin-right: 8px;
}
.list-advantages {
	display: inline-block;
	text-align: left;
}
.list-advantages.type-slide3 {
	max-width: 400px;
	vertical-align: top;
}
.wr-advantages-slide1{
	text-align: center;
	margin: 70px auto 66px;
}
.wr-advantages-slide2 {
	text-align: center;
	margin: 20px auto 10px;
}
.ali-advantages {
	position: relative;
	display: inline-block;
	min-width: 300px;
	margin-bottom: 5px;
	margin-top: 0;
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	vertical-align: bottom;
}
.ali-advantages .wr-text {
	display: inline-block;
	max-height: 40px;
	line-height: 40px;
	vertical-align: middle;
}
.ali-advantages .wr-text span {
	display: inline-block;
	line-height: 18px;
}

.wr-advantages-slide3 {
	text-align: center;
	margin: 100px auto 74px;
}
.wr-fast-payments {
	width: 810px;
	margin: 88px auto 80px;
	vertical-align: middle;
}
.red {
	color: #aa0f2b;
}
.bold {
	font-weight: bold;
}
.font-16 {
	font-size: 16px;
}
/*все иконки для галвной страницы тут*/
.icon-icon1, .icon-icon2, .icon-icon3, .icon-icon4, .icon-icon5, .icon-icon6,
.percent.icon1, .percent.icon2, .percent.icon3, .percent.icon4,
.icon-fast-payments, .icon-Stats, .icon-api, .icon-cms, .icon-promo,
.icon-reduce, .icon-smart_banner, .icon-sourceTech, .icon-tracking,
.icon-ic1, .icon-ic2, .icon-ic3, .icon-ic4, .icon-ic5, .icon-ic6 {
  background-image: url(../img/sprite-icons4.png);
}
/*Иконки для первого слайда*/
.icon-icon1 {
	background-position: -160px -128px;
	width: 80px;
	height: 80px;
	position: relative;
}
.icon-icon2 {
  background-position: -80px -208px;
  width: 80px;
  height: 80px;
}
.icon-icon3 {
  background-position: 0px -128px;
  width: 80px;
  height: 80px;
}
.icon-icon4 {
  background-position: -80px -128px;
  width: 80px;
  height: 80px;
}
.icon-icon5 {
  background-position: -160px -208px;
  width: 80px;
  height: 80px;
}
.icon-icon6 {
  background-position: 0px -208px;
  width: 80px;
  height: 80px;
}
.icon-icon1, .icon-icon2, .icon-icon3, .icon-icon4, .icon-icon5, .icon-icon6{
	display: inline-block;
	margin: 0 auto;
	-webkit-transition: all 0.3s ease-in-out 0;
    transition: all 0.3s ease-in-out 0;
}
.icon-icon1:hover .pulse, .icon-icon2:hover .pulse,
.icon-icon3:hover .pulse, .icon-icon4:hover .pulse,
.icon-icon5:hover .pulse, .icon-icon6:hover .pulse{
	display: block;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: transparent;
    -webkit-animation: scaleout .7s 1 ease-in-out;
    animation: scaleout .7s 1 ease-in-out;
}

@-webkit-keyframes scaleout{
	0%{background-color: #aa0f2b;-webkit-transform:scale(0)}
	100%{background-color: #aa0f2b;-webkit-transform:scale(1);opacity:0}
}
@keyframes scaleout{
	0%{background-color: #aa0f2b;-webkit-transform:scale(0);transform:scale(0)}
	100%{background-color: #aa0f2b;-webkit-transform:scale(1);transform:scale(1);opacity:0}
}
/*иконки для блока "сколько я на этом заработаю"*/ 
.percent.icon1 {
  background-position: 0px -288px;
  width: 101px;
  height: 59px;
}
.percent.icon2 {
  background-position: -128px 0px;
  width: 165px;
  height: 69px;
}
.percent.icon3 {
  background-position: -128px -69px;
  width: 141px;
  height: 59px;
}
.percent.icon4 {
  background-position: -293px 0px;
  width: 85px;
  height: 71px;
}
.percent.icon1, .percent.icon2, .percent.icon3, .percent.icon4 {
	display: block;
	margin: 5px auto;
}
/*иконки для блока "наши инструменты"*/
.icon-Stats {
  background-position: -378px 0px;
  width: 60px;
  height: 60px;
}
.icon-api {
  background-position: -293px -131px;
  width: 60px;
  height: 60px;
}
.icon-cms {
  background-position: -378px -60px;
  width: 60px;
  height: 60px;
}
.icon-promo {
  background-position: -293px -191px;
  width: 60px;
  height: 60px;
}
.icon-reduce {
  background-position: -293px -71px;
  width: 60px;
  height: 60px;
}
.icon-smart_banner {
  background-position: -378px -180px;
  width: 60px;
  height: 60px;
}
.icon-sourceTech {
  background-position: -378px -120px;
  width: 60px;
  height: 60px;
}
.icon-tracking {
  background-position: -378px -240px;
  width: 60px;
  height: 60px;
}
.icon-Stats, .icon-api, .icon-cms, .icon-promo,
.icon-reduce, .icon-smart_banner, .icon-sourceTech, .icon-tracking {
	display: inline-block;
}
/*иконка для четвертого слайда*/
.icon-icon_fast_payments {
  background-position: 0px 0px;
  width: 128px;
  height: 128px;
}
/*иконки для третьего слайда*/
.wr-icon-adv .icon-ic1, .wr-icon-adv .icon-ic2, .wr-icon-adv .icon-ic3, .wr-icon-adv .icon-ic4, .wr-icon-adv .icon-ic5, .icon-ic6 {
	display: inline-block;
	margin-top: 2px;
}
.wr-icon-adv .icon-ic1 {
  background-position: -101px -288px;
  width: 40px;
  height: 40px;
}
.wr-icon-adv .icon-ic2 {
  background-position: -240px -248px;
  width: 40px;
  height: 40px;
}
.wr-icon-adv .icon-ic3 {
  background-position: -240px -128px;
  width: 44px;
  height: 44px;
}
.wr-icon-adv .icon-ic4 {
  background-position: -240px -208px;
  width: 40px;
  height: 40px;
}
.wr-icon-adv .icon-ic5 {
  background-position: -378px -300px;
  width: 44px;
  height: 44px;
}
.wr-icon-adv .icon-ic6 {
  background-position: -142px -288px;
  width: 40px;
  height: 40px;
  margin-top: 0;
}

.wr-icon-adv {
	display: inline-block;
	width: 50px;
	height: 45px;
	text-align: center;
	margin-right: 10px;
	vertical-align: middle;
}
.text-list-adv {
	display: inline-block;
	width: 300px;
	vertical-align: middle;
}
.icon-fast-payments {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	background-position: 0px 0px;
	width: 128px;
	height: 128px;
}
.text-fast-payments {
	display: inline-block;
	vertical-align: middle;
}
.block-profit {
	background: #fff;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.head-block-profit {
	font-family: "OpenSansRegular";
	position: relative;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 60px;
	margin-bottom: 30px;
}
.text-head-profit {
	text-align: center;
	position: relative;
	font-size: 17px;
}
.text-head-profit::after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	height: 1px;
	background: #dd9faa;
}
.wr-percent {
	margin: 70px 50px 40px;
	text-align: center;
}
.column-percent {
	width: 260px;
	display: inline-block;
	margin-left: 50px;
	margin-bottom: 30px;
	border-bottom: 1px solid #dd9faa;
}
.column-percent:first-child, .column-percent:nth-child(4) {
	margin-left: 0;
}
.percent {
	font-family: "OpenSansRegular";
	font-weight: bold;
	color: #7f0f22;
	text-align: center;
	font-size: 80px;
}
.carousel-control {
	height: 118%;
	top: -70px;
}
.arrow-right, .arrow-left  {
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width: 22px;
	height: 60px;
	background: url(../img/arrows.png) no-repeat;
	vertical-align: middle;
}
.arrow-left {
	background-position: -23px 0;
	margin-left: -22px;
	right: 0;
}
.arrow-right {
	left: 0;
}
.sp-orders {
	display: block;
	text-transform: uppercase;
	font-family: "OpenSansRegular";
	text-align: center;
	margin: 10px 0;
}
.text-column {
	display: inline-block;
	margin-bottom: 20px;
}
.sp-pink {
	color: #c15165;
	font-family: "OpenSansRegular";
	font-weight: bold;
}
.block-profit .text-bottom {
	font-size: 15px;
	margin: 30px 50px 50px;
}
.block-profit .text-bottom a {
	color: #aa0f2b;
	font-weight: bold;
}
.block-simple {
	background: url(../img/bg-block-simple.jpg) no-repeat;
	background-color: #100103;
	background-position: center;
	min-height: 660px;
	padding-bottom: 40px;
}
.head-block-simple {
	font-family: "OpenSansRegular";
	position: relative;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 60px;
	color: #fff;
}
.wr-columns-step {
	margin: 70px 0;
	text-align: center;
}
.column-step {
	position: relative;
	min-width: 160px;
	display: inline-block;
	margin-left: 40px;
	margin-bottom: 30px;
	text-align: left;
	-webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.column-step:hover {
	-webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.column-step:first-child {
	margin-left: 50px;
}
.column-step::after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 80px;
	height: 1px;
	background: #aa0f2b;
	-webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.column-step .number {
	font-family: "OpenSansRegular";
	font-weight: bold;
	font-size: 150px;
	color: #aa0f2b;
	opacity: .3;
	cursor: default;
	-webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.column-step:hover .number{
	opacity: .7;
}
.column-step:hover::after{
	content: '';
	width: 100%;
	-webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.text-step {
	display: block;
	margin-bottom: 20px;
	color: #fff;
	font-size: 18px;
}
.head-tools {
    position: relative;
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: "OpenSansRegular";
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #aa0f2b;
}
.wr-tools {
	width: 750px;
	margin: 70px auto 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.line-tool {
	min-height: 100px;
	max-height: 120px;
	margin-bottom: 45px;
}
.line-tool.type2 {
	margin-bottom: 20px;
}
.wr-icon-tool {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-right: 35px;
	vertical-align: middle;
}
.icon-circles{
	position: absolute;
	bottom: -40px;
	left: 50%;
	margin-left: -3px;
	width: 6px;
	height: 6px;
}
.icon-circles.type-mob {
	display: none;
}
.icon-circles .circle, .icon-circles .circle::before, .icon-circles .circle::after {
	position: absolute;
    display: block;
    background: #aa0f2b;
    width: 6px;
    height: 6px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.icon-circles .circle {
	top: 0;
}
.icon-circles .circle::before {
	content: '';
	top: -17px;
}
.icon-circles .circle::after {
	content: '';
	bottom: -17px;
}



.wr-text-tool {
	display: inline-block;
	width: 650px;
	vertical-align: middle;
}
.head-text-tool {
	text-transform: uppercase;
	display: inline-block;
	font-size: 17px;
	margin-bottom: 7px;
}





/*--------Страница старта---------*/
.modal-footer {
	text-align: left;
}
.modal-dialog {
	margin-top: 120px;
}
.block-top-start {
	border-top: 1px solid transparent;
}
.block-top-start .container {
	position: relative;
}
.head-start {
	position: relative;
	font-family: "OpenSansRegular";
	position: relative;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 10px;
}
.link-back {
	position: absolute;
	display: block;
	left: 20px;
	top: 20px;
	color: #a3a3a3;
}
.link-back:hover, .link-back:focus {
	color: #444;
	text-decoration: none;
}
.wr-menu {
	margin: 30px auto 0;
	text-align: center;
}
.link-menu {
	display: inline-block;
	text-transform: uppercase;
	color: #333;
	font-size: 15px;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	cursor: pointer;
	font-family: "OpenSansRegular";
	text-decoration: none;
	border-bottom: 1px solid transparent;
	padding-bottom: 15px;
	-webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.link-menu:focus {
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.link-menu:hover, .link-menu.active {
	color: #aa0f2b;
	text-decoration: none;
	border-bottom: 1px solid #aa0f2b;
}

.block-start-step {
	cursor: default;
	min-height: 70px;
}
.block-start-step:hover, .block-start-step.active {
	background: #e8e8e8;
}
.wr-strat-step {
	position: relative;
	width: 730px;
	padding: 15px;
	margin: 0 auto;
	vertical-align: top;
}
.number-step {
	position: relative;
	display: block;
	float: left;
	color: #aa0f2b;	
	margin: 0;
	margin-bottom: 30px;
	font-family: "OpenSansRegular";
	font-weight: bold;
	font-size: 26px;
	line-height: 20px;
	width: 25px;
	vertical-align: top;
	height: 100%;

}
.text-start-step {
	position: relative;
	display: block;
	margin: 0;
	vertical-align: top;
	padding-left: 60px;
}
.block-material {
	width: 180px;
	float: left;
	margin: 30px 0;
	margin-right: 40px;
	text-align: center;
	font-family: "OpenSansRegular";
}
.block-material.type-last {
	margin-right: 0;
}
.icon-banners, .icon-deeplink, .icon-partnerlink {
  background: url(../img/sprite-start.png);
  background-position: 0px 0px;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.icon-deeplink {
  background-position: -50px 0px;
  width: 50px;
  height: 50px;
}
.icon-partnerlink {
  background-position: 0px -50px;
  width: 50px;
  height: 50px;
}
.wr-text-material {
	display: block;
	font-size: 14px;
}
.name-material{
	text-transform: uppercase;
}
.block-menu {
	
}
.block-menu-scroll {
	display: none;
	height: 78px;
}
.block-menu-scroll.active {
	display: block;
	height: 78px;
}
#block_menu {
	-webkit-transition: background linear .5s;
    -moz-transition: background linear .5s;
    -o-transition: background linear .5s;
    transition: background linear .5s;
}
#block_menu.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	background: #e8e8e8;
	border-bottom: 1px solid #c8c8c8;
	z-index: 100;
	-webkit-transition: background linear .5s;
    -moz-transition: background linear .5s;
    -o-transition: background linear .5s;
    transition: background linear .5s;
}
.modal-big {
	width: 1032px;
}
.start-screen1, .start-screen2, .start-screen3, .start-screen4,
.start-screen5, .start-screen6, .start-screen7, .start-screen8{
	background: url(../img/screnshots-epn2.jpg) no-repeat;
	background-size: 100%;
	width: 1000px;
	height: 487px;
	margin: 0 auto;
}
.start-screen2 {background-position: 0 -487px;}
.start-screen3 {background-position: 0 -973px;}
.start-screen4 {background-position: 0 -1461px;}
.start-screen5 {background-position: 0 -1948px;}
.start-screen6 {background-position: 0 -2435px; height: 460px;}
.start-screen7 {background-position: 0 -2897px;}
.start-screen8 {background-position: 0 -3385px;}


.start-screen-eng1, .start-screen-eng2, .start-screen-eng3, .start-screen-eng4,
.start-screen-eng5, .start-screen-eng6, .start-screen-eng7, .start-screen-eng8{
	background: url(../img/screnshots-epn-eng.jpg) no-repeat;
	background-size: 100%;
	width: 1000px;
	height: 487px;
	margin: 0 auto;
}
.start-screen-eng2 {background-position: 0 -487px;}
.start-screen-eng3 {background-position: 0 -973px;}
.start-screen-eng4 {background-position: 0 -1461px;}
.start-screen-eng5 {background-position: 0 -1948px;}
.start-screen-eng6 {background-position: 0 -2435px; height: 460px;}
.start-screen-eng7 {background-position: 0 -2897px;}
.start-screen-eng8 {background-position: 0 -3385px;}




/*--------Страница старта end---------*/
/*--------Страница правил---------*/
.head-rules {
	position: relative;
	margin: 40px auto;
	font-family: "OpenSansRegular";
	text-transform: uppercase;
	text-align: center;
	font-size: 32px;
}
.head-rules::after {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	height: 1px;
	background: #aa0f2b;
}
.table.table-top tr, .table.table-top tr td,
.table.table-top th{
	border: 1px solid transparent;
}
.table.table-top {
	font-size: 15px;
	margin: 30px auto;
}
.table.table-top tr:nth-child(odd) {
	background: #e8e8e8;
}
.table-top tr td:nth-child(1) {
	padding-left: 100px;
	text-transform: uppercase;
	max-width: 210px;
	font-weight: bold;
}
.head-requirements {
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	font-family: "OpenSansRegular";
}
.head-requirements::after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	height: 1px;
	background: #aa0f2b;
}
.head-rules-type1 {
	border-bottom: 1px solid #b8b8b8;
	padding-left: 100px;
	margin-top: 30px;
	text-transform: uppercase;
}
.wr-rules-items {
	padding-left: 100px;
}
.rules-list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.rules-list li {
	margin-top: 5px;
}
.disclaimer-rules-list {
	list-style: none;
	padding-left: 0;
}
.disclaimer-rules-list li {
	margin-top: 20px;
}
.wr-text-stars {
	padding: 0 100px;
	font-size: 14px;
	margin-top: 60px;
}

/*--------Страница правил end---------*/


/*Internet Explorer 10 на Windows 8 и Windows Phone 8*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

@media (max-width: 1400px) {
	.modal-dialog{ margin-top: 20px;}
	.modal-big {width: 900px;}
	.start-screen1, .start-screen2, .start-screen3, .start-screen4,
	.start-screen5, .start-screen6, .start-screen7, .start-screen8{
		width: 868px;
		height: 420px;
	}
	.start-screen2 {background-position: 0 -422px;}
	.start-screen3 {background-position: 0 -845px;}
	.start-screen4 {background-position: 0 -1268px;}
	.start-screen5 {background-position: 0 -1691px;}
	.start-screen6 {background-position: 0 -2114px; height: 400px;}
	.start-screen7 {background-position: 0 -2515px;}
	.start-screen8 {background-position: 0 -2938px; height: 400px;}
	.arrow-left {right: auto;}
	.arrow-right {left: auto;}
}

@media (max-width: 1200px) {
	.carousel-control {width: 7%;}
	.wr-slide3 {width: 850px;}
	.ali-advantages {min-width: 285px;}
	.wr-list-slide3 {width: 570px;}
	.list-slide3 {margin: 0 0 28px;}
	.wr-percent {margin: 70px 0;}
	.link-menu {margin-left: 10px; margin-right: 10px;}
	.head-rules, .head-start {margin-top: 55px;}
}
@media (max-width: 991px) {
	.text-top-slide, .head-rules {font-size: 30px;}
	.column-percent:nth-child(3) {margin-left: 0;}
	.column-percent:nth-child(4) {margin-left: 50px;}
	.column-step {min-width: 200px; margin-left: 70px; margin-bottom: 10px;}
	.column-step:first-child, .column-step:nth-child(3) {margin-left: 120px;}
	.carousel-inner {min-height: 580px; margin: 30px auto 10px;}
	.wr-advantages-slide1 {margin: 40px auto 27px;}
	.wr-advantages-slide2 {margin-bottom: 30px;}
	.wr-advantages-slide3 {margin: 60px auto 43px;}
	.list-advantages {display: block; margin: 0px auto; max-width: 510px;}
	.list-advantages.type-slide3 {margin-bottom: 0;}
	.ali-advantages {min-width: 220px; width: 220px; margin-bottom: 10px;}
	.carousel-control {height: 107%; top: -31px;}
	.wr-fast-payments{width: 640px; margin: 95px auto 100px;}
	.text-fast-payments {max-width: 470px;}
	.wr-slide3 {width: 685px;margin: 60px auto 10px;}
	.wr-list-slide3 {width: 420px;}
	.epayments-card {margin-right: 15px;}
	.epayments-card:hover {
		margin-right: 15px;
		margin-top: 10px;
		width: 236px;
		height: 148px;
	}
	.wr-tools {width: 680px;}
	.wr-icon-tool {margin-right: 20px;}
	.wr-text-tool { width: 590px; font-size: 15px;}
	.head-text-tool {font-size: 16px;}
	.list-advantages li {margin-bottom: 3px;}
	.table-top tr td:nth-child(1) {padding: 8px;}
	.head-rules-type1, .wr-rules-items, .wr-text-stars { padding: 0;}
	.block-menu-scroll.active {display: none;}
	
}
@media (max-width: 767px) {
	body {font-size: 15px;}
	.carousel-inner {margin: 0 auto; min-height: 680px; font-size: 14px;}
	.carousel-control {height: 100%;top: 0;}
	.text-top-slide, .head-block-profit, .head-block-simple, .head-start, .head-tools, .head-rules {font-size: 26px;}
	.wr-list-slide3 {display: block; width: 80%; margin: 0 auto;}
	.epayments-card {display: block; margin: 15px auto;}
	.epayments-card:hover {
		margin: 15px auto;
		width: 236px;
		height: 148px;
	}
	.wr-slide3 {max-width: 100%; margin: 0 auto;}
	.wr-fast-payments {width: 90%; margin: 40px auto;}
	.text-fast-payments {display: block; max-width: 450px; width: auto; margin: 0 auto; text-align: center;}
	.text-desc {font-size: 15px;}
	.wr-advantages-slide2 {margin-bottom: 30px;}
	.ali-advantages {min-width: 190px; width: 190px; margin-bottom: 0; margin-right: 30px; margin-left: 30px;}
	.ali-advantages .wr-text span {font-size: 14px;}
	.ali-advantages .wr-text {max-height: 55px;}
	.icon-fast-payments {display: block; margin: 10px auto;}
	.column-percent {width: 278px;}
	.head-block-profit {margin: 30px auto;}
	.wr-tools {width: 100%;}
	.head-text-tool {margin-bottom: 4px;}
	.wr-text-tool {width: 80%;}
	.line-tool {max-height: 100%;}
	footer {padding-top: 20px; height: 220px;}
	.footerempty {height: 270px;}
	.logo-fix {margin-top: 15px;}
	.footer-text {display: block; margin-top: 10px; margin-left: 0;}
	.block-conacts, .wr-linl-top {text-align: right;}
	.wr-strat-step {width: 100%;}
	.link-menu {margin-right: 5px; margin-left: 5px; padding-bottom: 12px; font-size: 14px;}
	.block-material {width: 170px; margin-right: 25px; font-size: 14px;}
}
@media (max-width: 640px) {
	.column-percent {width: 310px;}
	.column-percent, .column-percent:nth-child(4) {margin-left: 0;}
	.head-block-profit {margin: 30px auto;}
	.wr-percent {margin: 30px 0;}
	.block-profit .text-bottom {margin: 30px auto;}
	.wr-columns-step {margin: 35px auto;}
	.column-step {width: 300px; margin-left: 0;}
	.column-step:first-child, .column-step:nth-child(3) {margin-left: 0;}
	.head-block-simple {margin: 30px auto;}
	.column-step .number {font-size: 100px; line-height: 100px; display: block; float: left;}
	.text-step {float: left; margin-top: 33px; margin-bottom: 0; padding-left: 10px; font-size: 17px;}
	.column-step::after {width: 100px;}
	.line-tool {text-align: center; margin-bottom: 25px;}
	.wr-text-tool {width: 100%;}
	.wr-icon-tool {margin-bottom: 35px; margin-right: 0;}
	.icon-circles.type-mob {display: block;}
	.icon-circles {bottom: -20px;}
	.icon-circles .circle::before, .icon-circles .circle::after {top: 0;}
	.icon-circles .circle::before {left: -17px;}
	.icon-circles .circle::after {right: -17px;}
	.arrow-right {right: 0;}
	.text-start-step {padding-left: 30px;}
	.wr-menu{ margin: 20px 0;}
	.block-material, .block-material.type-last {width: 100%; text-align: left; margin-bottom: 20px; margin-right: 0;}
	.wr-text-material {display: inline-block; width: 400px;}
	.icon-banners, .icon-deeplink, .icon-partnerlink {margin-right: 10px;}
	.text-column {font-size: 14px;}
}
@media (max-width: 535px) {
	header .col-xs-6 {width: 100%; text-align: center;}
	.carousel-inner {min-height: 630px;}
	.btn-login, .btn-signup {margin-bottom: 10px; margin-top: 10px;}
	.logotype {margin: 10px auto 0;}
	.ali-advantages {min-width: 195px; width: 195px; margin-bottom: 0; margin-right: 30px; margin-left: 30px; text-align: center;}
	.ali-advantages > br {display: none;}
	.icon-icon1, .icon-icon2, .icon-icon3, .icon-icon4, .icon-icon5, .icon-icon6 {display: none;}
	.arrow-left {left: 22px;}
	.arrow-right {left: auto; right: 0;}
	.wr-advantages-slide2 {margin-bottom: 30px; margin-top: 40px;}
	.list-advantages {max-width: 310px; padding-left: 20px;}
	.list-advantages.type-slide3 {max-width: 310px;}
	.text-fast-payments {max-width: 310px;}
	.wr-slide3 {width: 100%;}
	.text-top-slide, .head-block-profit, .head-block-simple, .head-start, .head-tools, .head-rules {font-size: 22px;}
	.text-top-slide::after {bottom: -15px;}
	.text-desc {margin-top: 28px;}
	.epayments-card {display: none;}
	.list-slide3 {margin: 35px 0;}
	.wr-advantages-slide3 {margin: 25px auto;}
	.wr-advantages-slide1 {margin: 30px auto;}
	footer {height: 230px;}
	.footerempty {height: 270px;}
	.text-list-adv {width: 215px;}
	.link-menu {padding-bottom: 5px;}
	.block-material, .block-material.type-last {width: 100%;}
	.wr-text-material {width: 235px;}
}
@media (max-width: 360px) {
	.carousel-inner {min-height: 660px;}
	.list-advantages{max-width: 270px;}
	.text-fast-payments {max-width: 270px;}
	.list-slide3 {margin: 20px 0 15px;}
	.btn-join.terms {width: 270px;}
	.column-percent {width: 100%;}
	.text-list-adv {width: 195px;}
	.wr-text-material {width: 195px;}
	.icon-banners, .icon-deeplink, .icon-partnerlink {margin-right: 5px;}
	
}
