body, td, p, input, button, textarea, select, .c1 { font-family:Tahoma,굴림; font-size:9pt; color:#222222; }

h1 {color:gray;text-align:center;width:683px;font-size:18px;display:block;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
form { margin:0px; }

/* img {border:0px;} */

a:link, a:visited, a:active { text-decoration:none; color:#466C8A; }
a:hover { text-decoration:underline; }

a.menu:link, a.menu:visited, a.menu:active { text-decoration:none; color:#454545; }
a.menu:hover { text-decoration:none; }

.member {font-weight:bold;color:#888888;}
.guest  {font-weight:normal;color:#888888;}

.lh { line-height: 150%; }
.jt { text-align:justify; }

.li { font-weight:bold; font-size:18px; vertical-align:-4px; color:#66AEAD; }

.ul { list-style-type:square; color:#66AEAD; }

.ct { font-family: Verdana, 굴림; color:#222222; } 

.ed { border:1px solid #CCCCCC; } 
.tx { border:1px solid #CCCCCC; } 

.small { font-size:8pt; font-family:돋움; }
.cloudy, a.cloudy {color:#888888;} /* 흐림 */

input.ed { height:20px; border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:3px 2px 0 2px; }
input.ed_password { height:20px; border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:3px 2px 0 2px; font:10px Tahoma; }
textarea.tx { border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:2px; }
fieldset{border:1px solid gray;margin-top:10px;} 
legend{padding:0.2em 0.5em;border:1px solid gray;color:gray;font-size:90%;text-align:left;}

.board_top { clear:both; }

.board_list { clear:both; width:100%; table-layout:fixed; margin:5px 0 0 0; }
.board_list th { font-weight:bold; font-size:12px; } 
.board_list th { background:url(../skin/board/torrent/img/title_bg.gif) repeat-x; } 
.board_list th { white-space:nowrap; height:34px; overflow:hidden; text-align:center; } 
.board_list th { border-top:1px solid #ddd; border-bottom:1px solid #ddd; } 

.board_list tr.bg0 { background-color:#fafafa; } 
.board_list tr.bg1 { background-color:#ffffff; } 

.board_list td { padding:.5em; }
.board_list td { border-bottom:1px solid #ddd; } 
.board_list td.num { color:#999999; text-align:center; }
.board_list td.checkbox { text-align:center; }
.board_list td.subject { overflow:hidden; }
.thumb_up { content:url(/img/thumb_up.png); }
.board_list td.name { padding:0 0 0 10px; }
.board_list td.datetime { font:normal 11px tahoma; color:#BABABA; text-align:center; }
.board_list td.hit { font:normal 11px tahoma; color:#BABABA; text-align:center; }
.board_list td.good { font:normal 11px tahoma; color:#BABABA; text-align:center; }
.board_list td.nogood { font:normal 11px tahoma; color:#BABABA; text-align:center; }

.board_list .notice { font-weight:normal; }
.board_list .current { font:bold 11px tahoma; color:#E15916; }
.board_list .comment { font-family:Tahoma; font-size:10px; color:#EE5A00; }

.board_button { clear:both; margin:10px 0 0 0; }

.board_page { clear:both; text-align:center; margin:3px 0 0 0; }
.board_page a:link { color:#777; }

.board_search { text-align:center; margin:10px 0 0 0; }
.board_search .stx { height:21px; border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; }
.thumb_up {
  background: no-repeat url("/img/search_button.gif") 0 0;
  width: 48px;
  height:25px;
  border: 0;
  cursor: pointer;
}
div.ui-datepicker{
 font-size:12px;
}
#skey ul{
  list-style:none;
  margin-left:0;
  padding:0;
  margin-top:0;
}

#skey ul li{
  padding:10px;
  border-bottom:1px solid #dfdfdf;
  border-right:1px solid #dfdfdf;
  border-left:1px solid #dfdfdf;
}

#divRss ul{width:200px; background-color:#FFFFFF; border:1px solid #D3CAD7; padding:4px 6px; color:#3E3E3E;list-style:none outside none;}
#divRss li{border-bottom:1px solid #D3CAD7; padding:3px;
text-overflow: ellipsis;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
}


#searchbox
{
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    width: 500px;
    height: 35px;
    padding: 10px;
    margin: 1px auto 1px;
    overflow: hidden; /* Clear floats */
}
#search, 
#submit {
    float: left;
}

#search {
    padding: 5px 9px;
    height: 23px;
    width: 380px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{       
    background-color: #6cbb6b;
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-radius: 3px 50px 50px 3px;    
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 35px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}   

#submit:active {       
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}
#search::-webkit-input-placeholder {
   color: #9c9c9c;
   font-style: italic;
}

#search:-moz-placeholder {
   color: #9c9c9c;
   font-style: italic;
}  

#search:-ms-placeholder {
   color: #9c9c9c;
   font-style: italic;
}

	#demo-table {
  font: 100%;
  background-color: #dfd;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #7a7;
  width: 210px;
}

#demo-table > caption {
  text-align: left;
  font-weight: bold;
  font-size: 200%;
  border-bottom: .2em solid #4ca;
  margin-bottom: .5em;
}
/* body */
#demo-table td {
  background-color: #e1e1e1;
  padding:5px;
  width:80px
}

h2,h3 {
    margin-top: 0px;
    padding-top: 0px;
}
div#wrapper {

    position:relative;

    margin-left:auto;

    margin-right:auto;

    top: 0px;

    width:1023px;


}
div#head {
    position:fixed; _position:absolute;border-bottom: thin solid #bcbcbc;padding:2px;top:0px;width:100%;background-color:#f3f3f3;width:1010px;z-index:1000;
}
div#columns {
    position: relative;
    width: 1004px;
    top: 0px;
}
div#side1 {
    position:absolute;
    width:220px;
    top: 0px;
    left:0px;
	z-index:900;
}
div#content {
    position: relative;
    width: 684px;
    top: 0px;
    left: 225px;
}
div#side2 {
    position:absolute;
    width:100px;
    top: 0px;
    left: 910px;
}
div#foot {
    position: relative;
    width: 600px;
    clear: both;
    margin-top: 50px;
	margin-left: 250px;
	z-index:1;
	padding-top: 10px;
	background:url(/img/copyright.gif) repeat-x;
}

#fieldset_list fieldset{border:1px solid green;margin-top:10px;}#fieldset_list legend{padding:0.2em 0.5em;border:1px solid green;color:green;font-size:90%;text-align:left;}