

h1.ct_name {
    color: #1a1a1a;
    font-family: NOA;
    font-weight: 300;
    font-size: 70px;
    line-height: 1.06;
    padding: 10px 0;
    max-width: 1155px;
    margin: 0;
}

.category_name {
    width: 100%;
    position: relative;
}

.meteoalb {
    position: relative;
    bottom: 20px;
    font-family: sans-serif;
    font-weight: 600;
    color: #777;
    height: 20px;
}

.ct_spacer {
    height: 110px;
}


.headlineCategory {
    max-width: 1155px;
    margin: 0 auto;
    padding-left: 130px;
    margin-top: 18px;
}

ul.listTclose1 {
    margin-top: -4px;
}

.threeBoxs {
    width: 100%;
}

.threeB1 {
    width: 60%;
    float: left;
}

.threeB2 {
    width: 40%;
    float: left;
    padding-left: 20px;
}

.threeB3 {
    width: 100%;
    float: left;
}


.imgTcloseEdit {
    height: 250px;
    overflow: hidden;
}

.imgTclose1 img {
    height: 100%;
    width: 100%;
}

.imgTclose1 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}


.imgTclose2 img {
    height: 100%;
    width: 100%;
}

.imgTclose2 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.textImg {
    background-color: #e6e6e6!important;
    position: relative;
    padding: 8px;
    width: 80%;
    margin: 0 auto;
    margin-top: -19px;
    text-align: center;
    line-height: 1.2!important;
    font-size: 1.6125rem!important;
    font-family: am-thin;
}

.PhotosGalery {
    width: 100%;
}

.imgTclose3 {
    width: 33.3%;
    float: left;
    padding-right: 14px;
    position: relative;
    clear: left;
    height: auto;
    margin-bottom: 20px;
}

.imgTclose4 {
    width: 33.3%;
    float: left;
    clear: none;
    height: auto;
    margin-bottom: 20px;
    padding: 0 7px;
}

.imgTclose5 {
    width: 33.3%;
    float: left;
    padding-left: 14px;
    clear: right;
    height: auto;
    margin-bottom: 20px;
}

.testet {
    font-size: 20px;
    height: 25px;
}


.headlineInNewes {
    max-width: 1475px;
    margin: 0 auto;
    margin-top: 18px;
    padding: 0px 160px;
}



.videoInNews {
    max-height: 480px;
    max-width: 840px;
    overflow: hidden;
}

.mostRead {
    width: 300px;
    height: 50px;
    margin: 0 0 5px;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    color: #fff;
    background: rgba(255,41,3,1);
    background: -moz-linear-gradient(left, rgba(255,41,3,1) 0%, rgba(241,111,92,1) 0%, rgba(39,55,230,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,41,3,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(100%, rgba(39,55,230,1)));
    background: -webkit-linear-gradient(left, rgba(255,41,3,1) 0%, rgba(241,111,92,1) 0%, rgba(39,55,230,1) 100%);
    background: -o-linear-gradient(left, rgba(255,41,3,1) 0%, rgba(241,111,92,1) 0%, rgba(39,55,230,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,41,3,1) 0%, rgba(241,111,92,1) 0%, rgba(39,55,230,1) 100%);
    background: linear-gradient(to right, rgba(255,41,3,1) 0%, rgba(241,111,92,1) 0%, rgba(39,55,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2903', endColorstr='#2737e6', GradientType=1 );
}

.today_news {
    line-height: 55px;
    padding-left: 15px;
    transition: padding-left, 0.5s;
    font-family: "bold-noa";
}

.mostRead.todayNews:hover .today_news {
    padding-left: 20px;
}

.paragrafs {
    width: 100%;
}

.hightlights {
    width: 330px;
    float: left;
    margin-right: 20px;
}

.hightlights h2 {
    font-family: NOA;
}

ul.listHightlights {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li.listHightlights {
    border-top: 1px solid #d9d9d9;
    padding: 12px;
    padding-left: 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    font-family: NOA;
}

li.listHightlights a {
    font-size: 16px;
}

.listHightlights .linked_photo {
    background-size: 14px !important;
    background-position: 4px 3px !important;
}

.listHightlights .linked_video {
    background-size: 13px !important;
    background-position: 4px 3px !important;
}

p {
    font-size: 18px;
    line-height: 28px;
}

.load_rightblock {
    width: 300px;
    min-height: 1000px;
}

ul.ListHightlights {
    list-style-type: none;
    padding: 0px;
    margin: 0 0 10px;
}


li.ListHightlights {
    border-top: 1px solid #d9d9d9;
    padding: 12px;
    padding-left: 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    font-family: am-light;
}

.paragrafsVideos {
    width: 100%;
    padding-bottom: 30px;
}

.VideostextParagraf {
    width: 330px;
    height: 311px;
    float: left;
    margin-right: 20px;
    position: relative;
}

.VideostextParagraf img {
    width: 100%;
    height: 185px;
    overflow: hidden;
}

.titlePvideo {
    width: 100%;
    height: auto;
    font-size: 17px;
    padding-top: 35px;
    padding-bottom: 25px;
}

.imgVideoP {
    position: relative;
    height: 185px;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.videoIconP {
    font-size: 60px !important;
    left: 50%;
    top: 50%;
    color: #fff;
    position: absolute;
    margin-left: -36px !important;
    margin-top: -11px !important;

}

p.paragEdit {
    color: #006598;
    font-size: 20px;
    font-weight: 400;
}

.bordertop2 {
    border-top: 1px solid #d9d9d9;
    width: 70px;
    padding-top: 10px;
}

p.paragEdit:hover {
    color: #c00;
}


.tabola {
    width: 300px;
    height: auto;
}

.tabola img{
    width: 100%;
}


.columnleft1 {
    margin-top: 0px !important;
    overflow: hidden !important;
}


.VideostextParagraf:hover .videoIconP {

    color: #c00;

}

.textList1 {
    width: 100%;
}

.boxAktualitet22 {
    width: 50%;
    height: auto;
    background: none !important;
    float:left;
    padding-right: 10px;
}


.boxAktualitet33 {
    width: 100%;
    padding-right: 0px;
    height: auto;
    background: none !important;
    float: none;
}

.photoList2 {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.imgTcloseedit1 {
    height: 100%;
    width: 100%;
}

.takeClose3 {
    width: 100% !important;
    padding: 10px 0 !important;
}


.columnleftEdit {
    width: 100%!important;
    float: right !important;
    padding: 10px 0 !important;
}

.headlineNewsText {
    width: 100%;
    color: #595959;
    font-size: 15px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 40px;
}

span.headlineNewsTextTime {
    font-size: 17px;
    color: #595959;
    font-weight: 300;
}

.videoInNews img {
    width: 100%;
    height: auto;
}

.listTcloseEdit {
    line-height: 24px !important;
    font-size: 18px !important;
}


.takeCloseEdit {
    margin-bottom: 30px;
}

.videos-contentEdit {
    margin-bottom: 15px;
}

.imageHeadline img {

}

.photoShouldEdit{

    width: 100%;
    height: 100%;
    position: relative;

}

i.photo.icon.photoicon.photoiconEdit {
    bottom: 4px;
}


.inNewsTittle{
    font-size: 55.95092px;
    font-family: NOA,'Helvetica Neue',Verdana,Helvetica,Arial,Utkal,sans-serif;
    margin: 0 0 10px;
    padding-bottom: 0;
    word-spacing: -.05em;
    font-weight: 300;
    line-height: 1.11111;
}

.menu_content {
    width: 100%;
    height: 100%;
}



.testet i {
    width: 30px !important;
    height: 26px !important;
    background-size: 22px !important;
    left: calc(50% - 15px) !important;
}

.standartMod img {
    max-height: 270px;
    overflow: hidden;
}








/* Category New Template */

.category_info {
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
    background: hsla(0,0%,98%,.85);
}

.category_Title {
    font-family: noa-light,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 36px;
    line-height: 1;
}

.category_desc p{
    font-size: 20px;
    line-height: 1.2;
}

.category_desc{
    margin: 5px 0 0;
    padding-bottom: 7px;
    font-family: noa-light,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    -webkit-font-smoothing: antialiased;
    max-height: 72px;
    overflow: hidden;
    font-size: 20px;
    line-height: 1.2;
}

.container-sys49{
    max-width: 1100px;
    margin:0 auto;
}

.box-template-sys49 {
    width: 100%;
    border-top: 1px solid #DDD;
    padding-top: 0px;
    padding-bottom: 10px;
}

.box-temp-photo-sys49 {
    width: 40%;
    float: left;
    position: relative;
}

.box-temp-text-sys49 {
    font-size: 30px;
}

.box-temp-text-sys49 a{
    text-decoration: none;
    font-family: noa-light;
    line-height: 1.1;
    font-weight: 400;
}

.box-temp-text-sys49 a:hover{
    color: #c00;
    text-decoration: none;
}

.box-temp-photo-sys49 img {
    width: 100%;
    height: auto;
}

.clear {

    clear: both;
}

.box-info-sys49 {
    width: 60%;
    float: left;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 12px;
}

.date-sys49 {
    margin-top: 15px;
}

.dec-sys49 {
    margin-top: 15px;
    height: 56px;
    overflow: hidden;
    font-size: 17px;
}

.date-sys49 {
    margin-top: 15px;
    color: #c3c3c3;
    font-size: 13px;
}

.ssm-image img {
    height: auto;
    width: 100%;
}

.ssm-image {
    display: block;
    overflow: hidden;
    position: relative;
}

.category_headline {
    float: left;
    width: calc(100% - 360px);
    overflow: hidden;
    margin-bottom: 20px;
}

.catModule_wrapper {
    width: 340px;
    float: right;
    overflow: hidden;
}

.ssm-wrapper {
    margin-bottom: 10px;
}

.ssm-title {
    position: relative;
    font-family: noa-light;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    line-height: 1.2;
    /*max-height: 50px;
    overflow: hidden;*/
}

.newsCat_wrapper {
    margin-top: 20px;
}

.ssm-date {
    margin-top: 15px;
    color: #c3c3c3;
    font-size: 13px;
    display: none;
}


@media screen and (max-width: 990px) {

    .ssm-date {
        display: block;
    }

    .newsCat_wrapper {
        margin-top: 0;
    }
    .box-temp-text-sys49 {
        font-size: 20px;
    }
    .category_info {
        position: absolute;
    }
    .category_headline {
        width: 100%;
        max-height: 100%;
    }
    .catModule_wrapper {
        width: 100%;
    }
    .ssm-image {
        display: block;
        overflow: hidden;
        position: relative;
        width: 40%;
        float: left;
    }
    .ssm-title {
        width: 60%;
        float: left;
        box-sizing: border-box;
        padding: 5px;
        padding-left: 12px;
    }
    .ssm-wrapper {
        margin-bottom: 10px;
        border-top: 1px solid #DDD;
    }
    h1.ct_name {
        font-size: 50px;
        margin-top: -5px;
    }


}

@media screen and (max-width: 768px) {
    h1.ct_name {
        margin-top: -10px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 600px) {

    .category_info {
        position: relative;
    }
    .category_headline {
        margin-bottom: 15px;
    }
    h1.ct_name {
        font-size: 42px;
    }

}

@media screen and (max-width: 500px) {

    .category_info {
        padding: 5px;
    }
    .category_Title {
        font-size: 25px;
    }
    .category_desc p {
        font-size: 16px;
    }
    .ssm-title {
        font-size: 18px;
    }
    .box-temp-text-sys49 {
        font-size: 18px;
    }
    h1.ct_name {
        font-size: 38px;
    }
    .ssm-date {
        margin-top: 5px;
    }
    .date-sys49 {
        margin-top: 5px;
    }

    .ssm-titleOnly {
        font-size: 16px;
        overflow: hidden;
    }
    .box-temp-text-sys49 {
        font-size: 16px;
        overflow: hidden;
    } 

}

@media screen and (max-width: 400px) {

    .category_Title {
        font-size: 22px;
    }
    .category_desc {
        display: none;
    }
    .ssm-title {
        font-size: 16px;
    }
    .box-temp-text-sys49 {
        font-size: 16px;
    }
    h1.ct_name {
        font-size: 33px;
    }
    .ssm-titleOnly {
        overflow: hidden;
        font-size: 15px;
    }
    .box-temp-text-sys49 {
        overflow: hidden;
        font-size: 15px;
    }

}















/* Lajme dite template */


.black_bg_todayNews {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 190px;
    left: 0;
    z-index: -1;
    top: 0;
}

.search_title {
    margin: 25px 15px 25px 0;
    font-family: noa-light;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 45px;
    line-height: 1.0769230769;
    color: #000;
}

.simpleTpl_title1 {
    margin: 25px 15px 50px;
    font-family: NOA,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 52px;
    line-height: 1.0769230769;
    color: #fff;
}

.box-template1 {
    padding-bottom: 10px;
    border-top: 1px solid #d9d9d9;
    position: relative;
}

.box-temp-photo1 {
    position: relative;
    float: left;
    width: 40%;
    overflow: hidden;
}

.box-temp-text1 {
    float: left;
    padding: 7px 0 7px 10px;
    width: 60%;
}

.cnt_title {
    font-family: NOA,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    line-height: 1.1333333333;
}

.cnt_desc {
    margin-top: 20px;
    padding-bottom: 7px;
    font-family: NOA,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.375;
}

span.date_post_tdn {
    position: absolute;
    bottom: 10px;
    font-size: 23px;
    color: #c00;
    right: 0;
}

.box-temp-photo1 img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 990px) {
    .black_bg_todayNews {
        display: none;
    }
    .simpleTpl_title1 {
        display: none;
    }
    .cnt_title {
        font-size: 23px;
        font-weight: 400;
    }
    span.date_post_tdn {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .cnt_desc {
        display: none;
    }
    .cnt_title {
        font-size: 20px;
        font-weight: 500;
    }
}

@media screen and (max-width: 550px) {
    .cnt_title {
        font-size: 18px;
        font-weight: 300;
        max-height: 90px;
        overflow: hidden;
    }
    .box-temp-photo1 .icon_photo {
        background-size: 28px;
        width: 40px;
        height: 40px;
        left: calc(50% - 20px);
        bottom: auto;
        top: calc(50% - 20px);
        border-radius: 50%;
        background-position: 6px 6px;
    }

    .box-temp-photo1 .icon_play {
        background-size: 28px;
        width: 38px;
        height: 38px;
        left: calc(50% - 19px);
        bottom: auto;
        top: calc(50% - 19px);
        border-radius: 5px;
        background-position: 5px 5px;
    }

    span.date_post_tdn {
        font-size: 16px;
    }
}

@media screen and (max-width: 550px) {
    .cnt_title {
        font-size: 16px;
        max-height: 70px;
        overflow: hidden;
    }
}














/*---------Fake Loading Content ----------*/

._2iwq {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 400px;
    height: 400px;
    position: relative;
}

._2rtk ._2iwq {
  -webkit-animation-name: prideShimmer;
  background-image: linear-gradient(135deg, red 0%, orange 15%, yellow 30%, green 45%, blue 60%, indigo 75%, violet 80%, red 100%);
  background-repeat: repeat;
  background-size: 50% auto
}

.fakeImage {
    width: 80%;
    height: 300px;
    background: #fff;
    position: relative;
    left: 10%;
    top: 10px;
}

.fakeContent {
    width: 80%;
    height: 20px;
    position: absolute;
    background: #fff;
    bottom: 20px;
    left: 10%;
}

.fakeContent1 {
    bottom: 60px;
    width: 75%;
}

.fakeContent2 {
    bottom: 35px;
    width: 56%;
}

.fakeContent3 {
    bottom: 9px;
    width: 75%;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

@-webkit-keyframes prideShimmer {
  from {
    background-position: top left
  }
  to {
    background-position: top right
  }
}




/* SOCIAL SHARES FINAL */

.shares1 {
    float: right;
    margin-top: 0px;
    padding-top: 2px;
    position: relative;
    height: 40px;
    bottom: 7px;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img {
    width: 38px;
}

.shares1 li {
    margin: 0 3px;
}

.shares1.mainShare li{
    margin: 0 6px;
}


  


