@font-face {
    font-family: "Am-Black";
    src: url('../fonts/Am-Black.eot');
    src: url('../fonts/Am-Black.otf'),
    url('../fonts/Am-Black.woff') format('woff'),
    url('../fonts/Am-Black.ttf') format('truetype'),
    url('../fonts/Am-Black.svg') format('svg');
}
@font-face {
    font-family: "Am-Bold";
    src: url('../fonts/Am-Bold.eot');
    src: url('../fonts/Am-Bold.otf'),
    url('../fonts/Am-Bold.woff') format('woff'),
    url('../fonts/Am-Bold.ttf') format('truetype'),
    url('../fonts/Am-Bold.svg') format('svg');
}
@font-face {
    font-family: "Am-Heavy";
    src: url('../fonts/Am-Heavy.eot');
    src: url('../fonts/Am-Heavy.otf'),
    url('../fonts/Am-Heavy.woff') format('woff'),
    url('../fonts/Am-Heavy.ttf') format('truetype'),
    url('../fonts/Am-Heavy.svg') format('svg');
}
@font-face {
    font-family: "Am-Light";
    src: url('../fonts/Am-Light.eot');
    src: url('../fonts/Am-Light.otf'),
    url('../fonts/Am-Light.woff') format('woff'),
    url('../fonts/Am-Light.ttf') format('truetype'),
    url('../fonts/Am-Light.svg') format('svg');
}
@font-face {
    font-family: "Am-Medium";
    src: url('../fonts/Am-Medium.eot');
    src: url('../fonts/Am-Medium.otf'),
    url('../fonts/Am-Medium.woff') format('woff'),
    url('../fonts/Am-Medium.ttf') format('truetype'),
    url('../fonts/Am-Medium.svg') format('svg');
}
@font-face {
    font-family: "Am-Regular";
    src: url('../fonts/Am-Regular.eot');
    src: url('../fonts/Am-Regular.otf'),
    url('../fonts/Am-Regular.woff') format('woff'),
    url('../fonts/Am-Regular.ttf') format('truetype'),
    url('../fonts/Am-Regular.svg') format('svg');
}
@font-face {
    font-family: "Am-Semibold";
    src: url('../fonts/Am-Semibold.eot');
    src: url('../fonts/Am-Semibold.otf'),
    url('../fonts/Am-Semibold.woff') format('woff'),
    url('../fonts/Am-Semibold.ttf') format('truetype'),
    url('../fonts/Am-Semibold.svg') format('svg');
}
@font-face {
    font-family: "Am-Thin";
    src: url('../fonts/Am-Thin.eot');
    src: url('../fonts/Am-Thin.otf'),
    url('../fonts/Am-Thin.woff') format('woff'),
    url('../fonts/Am-Thin.ttf') format('truetype'),
    url('../fonts/Am-Thin.svg') format('svg');
}
@font-face {
    font-family: "Am-Ultralight";
    src: url('../fonts/Am-Ultralight.eot');
    src: url('../fonts/Am-Ultralight.otf'),
    url('../fonts/Am-Ultralight.woff') format('woff'),
    url('../fonts/Am-Ultralight.ttf') format('truetype'),
    url('../fonts/Am-Ultralight.svg') format('svg');
}
@font-face {
    font-family: NOA;
    src: url('../fonts/NOA-300.eot');
    src: url('../fonts/NOA-300fix.eot') format("embedded-opentype"),
    url('../fonts/NOA-300.woff') format('woff'),
    url('../fonts/NOA-300.ttf') format('truetype'),
    url('../fonts/NOA-300.svg') format('svg');
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-family: NOA;
    src: url('../fonts/NOA-400.eot');
    src: url('../fonts/NOA-400fix.eot') format("embedded-opentype"),
    url('../fonts/NOA-400.woff') format('woff'),
    url('../fonts/NOA-400.ttf') format('truetype'),
    url('../fonts/NOA-400.svg') format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: NOA;
    src: url('../fonts/NOA-500.eot');
    src: url('../fonts/NOA-500fix.eot') format("embedded-opentype"),
    url('../fonts/NOA-500.woff') format('woff'),
    url('../fonts/NOA-500.ttf') format('truetype'),
    url('../fonts/NOA-500.svg') format('svg');
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: NOA;
    src: url('../fonts/NOA-700.eot');
    src: url('../fonts/NOA-700fix.eot') format("embedded-opentype"),
    url('../fonts/NOA-700.woff') format('woff'),
    url('../fonts/NOA-700.ttf') format('truetype'),
    url('../fonts/NOA-700.svg') format('svg');
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: NOA;
    src: url('../fonts/NOAit-300.eot');
    src: url('../fonts/NOAit-300fix.eot') format("embedded-opentype"),
    url('../fonts/NOAit-300.woff') format('woff'),
    url('../fonts/NOAit-300.ttf') format('truetype'),
    url('../fonts/NOAit-300.svg') format('svg');
    font-weight: 300;
    font-style: italic
}
@font-face {
    font-family: NOA;
    src: url('../fonts/NOAit-400.eot');
    src: url('../fonts/NOAit-400fix.eot') format("embedded-opentype"),
    url('../fonts/NOAit-400.woff') format('woff'),
    url('../fonts/NOAit-400.ttf') format('truetype'),
    url('../fonts/NOAit-400.svg') format('svg');
    font-weight: 400;
    font-style: italic
}
@font-face {
    font-family: NOA;
    src: url('../fonts/NOAit-500.eot');
    src: url('../fonts/NOAit-500fix.eot') format("embedded-opentype"),
    url('../fonts/NOAit-500.woff') format('woff'),
    url('../fonts/NOAit-500.ttf') format('truetype'),
    url('../fonts/NOAit-500.svg') format('svg');
    font-weight: 500;
    font-style: italic
}
@font-face {
    font-family: NOA;
    src: url('../fonts/NOAit-700.eot');
    src: url('../fonts/NOAit-700fix.eot') format("embedded-opentype"),
    url('../fonts/NOAit-700.woff') format('woff'),
    url('../fonts/NOAit-700.ttf') format('truetype'),
    url('../fonts/NOAit-700.svg') format('svg');
    font-weight: 700;
    font-style: italic
}
@font-face {
    font-family: NOA-STYLE;
    src: url('../fonts/NOAstyle-400.eot');
    src: url('../fonts/NOAstyle-400fix.eot') format("embedded-opentype"),
    url('../fonts/NOAstyle-400.woff') format('woff'),
    url('../fonts/NOAstyle-400.ttf') format('truetype'),
    url('../fonts/NOAstyle-400.svg') format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: NOA-ICONS;
    src: url('../fonts/NOA-icons.eot');
    src: url('../fonts/NOA-iconsfix.eot') format("embedded-opentype"),
    url('../fonts/NOA-icons.woff') format('woff'),
    url('../fonts/NOA-icons.ttf') format('truetype'),
    url('../fonts/NOA-icons.svg') format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: noa-light;
    src: url('../fonts/noa-light.eot');
    src: url('../fonts/noa-lightfix.eot') format("embedded-opentype"),
    url('../fonts/noa-light.woff2') format('woff2'),
    url('../fonts/noa-light.ttf') format('truetype'),
    url('../fonts/noa-light.svg') format('svg');
}
@font-face {
    font-family:'regular-noa';
    src: url('../fonts/regular-noa.eot');
    src: url('../fonts/regular-noa.eot?#iefix') format('embedded-opentype'),
        url('../fonts/regular-noa.woff2') format('woff2'),
        url('../fonts/regular-noa.woff') format('woff'),
        url('../fonts/regular-noa.svg#regular-noa') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-FEFF;
}
@font-face {
    font-family:'light-noa';
    src: url('../fonts/light-noa.eot');
    src: url('../fonts/light-noa.eot?#iefix') format('embedded-opentype'),
        url('../fonts/light-noa.woff2') format('woff2'),
        url('../fonts/light-noa.woff') format('woff'),
        url('../fonts/light-noa.svg#light-noa') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-FEFF;
}
@font-face {
    font-family:'bold-noa';
    src: url('../fonts/bold-noa.eot');
    src: url('../fonts/bold-noa.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bold-noa.woff2') format('woff2'),
        url('../fonts/bold-noa.woff') format('woff'),
        url('../fonts/bold-noa.svg#bold-noa') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-FEFF;
}





.info {
	height: 0;
}

.menu_spacer {
    height: 75px;
    width: 100%;
}

.ui.item.menu, .ui.item.menu .item{
    font-family: NOA,'Helvetica Neue',Verdana,Helvetica,Arial,Utkal,sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 400;
}

html, body {
    font-size: 16px;
    -webkit-font-smoothing: antialiased !important;
    font-family: "light-noa";
}

.top_banner {
    background-color: #00719b;
    width: 950px !important;
    margin: 20px auto;
}
.under_menu_banner{
    width: 730px;
    margin-top: 5px;
    position: relative;
    top: 0px;
    float: left;
    left: calc(50% - 375px - 145px); 
}
.under_menu_banner_extra{
    margin: 10px 0;
}
.under_menu_banner1{
    width: 730px;
    margin: 10px 0;
}
.moti {
    width: 300px;
    height: 87px;
    margin: 5px 0;
    position: relative;
    top: 0px;
    overflow: hidden;
    display: inline-flex;
}
.moti_extra{
    margin: 10px 0;
    float: right;
}
.moti_in {
    background-color: #005f81;
    width: 300px;
    height: 90px;
    display: none;
    margin-bottom: 10px;
}
.moti1 {
    background-color: #005f81;
    width: 300px;
    height: 90px;
    margin: 10px 0;
}

.ui.container {
    width: 1155px !important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.ui.tab.active, .ui.tab.open {
    display: block;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

a.item.latest_tab.active {
    float: left;
    width: 50%;
    font-family: NOA;
    color: #fff !important;
    border-color: transparent !important;
    font-weight: 400 !important;
    background-color: #c00 !important;
}

a.item.latest_tab {
    float: left;
    width: 50%;
    font-family: NOA;
}

a.item.mr_tab.active {
    float: left;
    width: 50%;
    font-family: NOA;
    color: #fff !important;
    border-color: transparent !important;
    font-weight: 400 !important;
    background-color: #c00 !important;
}

a.item.mr_tab {
    float: left;
    width: 50%;
    font-family: NOA;
}

a.item.active.main_tab {
    width: auto;
    font-family: NOA;
    color: #fff !important;
    border: none !important;
    float: left;
    font-weight: 400 !important;
    background-color: #c00 !important;
    line-height: 8px;
}

a.item.main_tab {
    float: left;
    width: auto;
    color: #262626;
}

a.item.politics_tab {
    float: left;
    width: auto;
    color: #262626;
}

a.item.active.politics_tab {
    width: auto;
    font-family: NOA;
    color: #fff !important;
    border: none !important;
    float: left;
    font-weight: 400 !important;
    background-color: #c00 !important;
    line-height: 8px;
}

a.item.chronicle_tab {
    float: left;
    width: auto;
    color: #262626;
}

a.item.active.chronicle_tab {
    width: auto;
    font-family: NOA;
    color: #fff !important;
    border: none !important;
    float: left;
    font-weight: 400 !important;
    background-color: #c00 !important;
    line-height: 8px;
}

.ui.tab.active, .ui.tab.open {
    display: block;
    background: transparent;
    border: none;
    padding: 0;
    margin-top: -15px
}


#noalogo {
    background: transparent url("../images/NOA-LOGO-3.jpg") no-repeat scroll 0px 0px / 75px auto;
    height: 75px;
    width: 75px;
    z-index: 103;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    box-shadow: 0 2px 2px -2px #dadada;
}

.fixed_menu{
    margin: 0!important;
    padding: 0 !important;
    border-radius: 0 !important;
    width: auto!important;
}
.fixed_menu1{
    margin: 20px 0!important;
    padding: 0 0 0 10px !important;
    border-radius: 0 !important;
    width: auto!important;
}
.fixed-menu {
    width: 100%;
    background-color: black;
    z-index: 100;
    height: 75px;
    position: fixed;
    top: 0;
    transition: all .5s;
}
.fixed-menu-extra{
    top: 102px !important;
    position: absolute !important;
}
.ui.menu {
    background: #dadada;
    border-radius: 0 !important;
    color: #131313;
    border: none !important;
    min-height: 0 !important;
}
.ui.menu .item {
    position: inherit;
    color: #131313;
    font-size: 16px;
    line-height: 0.4;
}
.ui.menu a.item:hover {
    background: whitesmoke;
}
.upper_menu {
    height: 42px;
    background-color: black;
    z-index: 100;
    padding: 0 !important;
    margin: 0 !important;
    z-index: 100;
}
.lower_menu {
    height: 35px;
    background-color: black;
    padding: 0 !important;
    margin: 0 !important;
    z-index: 99;
    bottom: 2px;
    overflow: hidden;
}
.upper_menu1 {
    height: 40px;
    background-color: black;
    z-index: 100;
    padding: 0  !important;
    margin: 0 0 !important;
}
.upper_menu11 {
    height: 40px;
    background-color: black;
    z-index: 100;
    padding: 0  !important;
    margin: 0 0 !important;
}
.upper_menu2 {
    height: 40px;
    padding: 0 0 0 80px !important;
    margin: 0 0 !important;
    background-color: #000 !important;
    font-weight: 300 !important;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif !important;
    -webkit-font-smoothing: antialiased;
}
.upper_menu3 {
    height: 40px;
    background-color: #dadada;
    z-index: 100;
    padding: 0  !important;
    margin: 0 !important;
    font-family: Am-Light !important;
}
.item_upper_menu2 {
    color: #d9d9d9 !important;
    font-size: 20px !important;
}
.ui.menu a.item_upper_menu2:hover {
    color: white !important;
    background: none;
}
.main_menu {
    height: 35px;
    background-color: black;
    z-index: 100;
    padding: 0 0 0 0px !important;
}
.main_menu1 {
    height: 35px;
    background-color: #dadada;
    padding: 0px !important;
    z-index: auto;
    margin: 0 !important;
    right: -1px;
}
.main_menu2 {
    height: 35px;
    background-color: #ed0000;
    padding: 0px !important;
    z-index: auto;
    margin: 0px -9px !important;
}
.main_menu3 {;
    height: 35px;
    background-color: #dadada;
    padding: 0px 80px !important;
    z-index: auto;
    margin: 0px 0px !important;
    font-weight: 300 !important;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif !important;
    -webkit-font-smoothing: antialiased;
}
.main_menu3 a {;
    border-radius: 0px !important;
}
.main_menu3 a:hover {;
    color: #000000 !important;
}
.video_menu {
    height: 35px;
    background-color: #c00;
    text-align: center !important;
    padding-top: 9px !important;
    z-index: auto;
    margin: 0 !important;
    font-size: 20px;
}
.video_menu1 {
    color: white;
    position: relative;
    bottom: 1px;
}
.big_category_tablet {
    margin: -12px 0px 0px 90px;
    font-size: 35px;
    color: #131313;
}
.big_category_mobile {
    margin: -12px 0px 0px 90px;
    font-size: 28px;
    color: #131313;
}

.vertical_menu {
    width: 83px;
    color: #d9d9d9;
    font-size: 15px;
    float: right;
    margin: 2px 0;
}
.vertical_menu1 {
    width: auto !important;
    text-align: left;
    padding: 0.1rem 0 0.1rem 0 !important;
}
.item_vertical_menu {
    color: #d9d9d9 !important;
    line-height: 1.5;
    font-weight: 300;
    display: block;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    padding: 0 0;
}
.first_item_vertical_menu a{
    margin: -2px -14px ;
    display: block ;
    font-size: 26px;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    padding: 0.8em 0.5em 0.7em 0.5em;
    color: #FFFFFF !important;
}
.first_item_vertical_menu:hover a{
    background: none;
    color: #FFFFFF !important;
}

.item_vertical_menu:hover {
    background: none;
    color: #FFFFFF !important;
}
.menu_margin_container{
    margin-top: 30px;
}
.vertical_menu .icon-bars{
    font-size: 12px;
}
.vertical_menu:hover{
    color: #FFFFFF;
}
.menu-toggle {
    display: block;
    height: 40px;
    padding: 15px 12px 15px 55px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    outline: medium none;
    overflow: visible;
    text-align: center;
    vertical-align: middle;
    width: 99px;
}

.menu-toggle:before {
    content: attr(data-label);
    display: block;
    padding: 12px 2px;
    position: absolute;
    top: -2px;
    transition: color 0.2s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
    right: 50px;
    font-size: 15px;
}

.menu--is-revealed .menu-toggle:before {
    opacity: 0;
    visibility: hidden;
}

.menu-toggle .icon-bars,
.menu-toggle .icon-bars:before,
.menu-toggle .icon-bars:after {
    transition: background-color 0.2s ease;
}
.menu-toggle:hover .icon-bars,
.menu-toggle:hover .icon-bars:before,
.menu-toggle:hover .icon-bars:after {
    background-color: #FFFFFF;
}
.menu-toggle:focus .icon-bars,
.menu-toggle:focus .icon-bars:before,
.menu-toggle:focus .icon-bars:after{
    background-color: red;
}

.menu-toggle .icon-bars {
    transition: transform 0.3s ease-in, background-color 0.2s ease;
}
.menu-toggle .icon-bars:before,
.menu-toggle .icon-bars:after {
    transition: top 0.3s 0.3s ease-in, transform 0.3s ease-in, background-color 0.2s ease;
}

.menu-toggle:active .icon-bars,
.menu--is-revealed .menu-toggle .icon-bars {
    transition: transform 0.3s 0.2s ease-in, background-color 0.2s ease;
    transform: rotate3d(0, 0, 1, 135deg);
}
.menu-toggle:active .icon-bars:before,
.menu-toggle:active .icon-bars:after,
.menu--is-revealed .menu-toggle .icon-bars:before,
.menu--is-revealed .menu-toggle .icon-bars:after {
    transition: top 0.2s ease-in, transform 0.3s 0.2s ease-in, background-color 0.2s ease;
    transform: rotate3d(0, 0, 1, 90deg);
    top: 0;
}

.icon-bars {
    position: relative;
}
.icon-bars, .icon-bars:before, .icon-bars:after {
    display: block;
    width: 21px;
    height: 2px;
    background-color: currentColor;
}
.icon-bars, .icon-bars:before, .icon-bars:after {
    background-color: #d9d9d9;
}
.icon-bars:before, .icon-bars:after {
    content: "";
    position: absolute;
    left: 0;
}
.icon-bars:before {
    top: 0.5em;
}
.icon-bars:after {
    top: -0.5em;
}
i.plus.icon{
    font-size: 10px;
    transition: color .3s,color .2s,opacity .3s;
}
.noa_plus{
    float: right;
    width: 60px;
    color: #d9d9d9;
    font-size: 15px;
    font-family: Am-Regular !important;
}
.noa_plus:hover {
    color: #fff;
}
.plus_toggle{
    display: block;
    height: 40px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    outline: medium none;
    overflow: visible;
    text-align: left;
    vertical-align: middle;
    width: 99px;
    color: #d9d9d9;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
.plus_toggle:hover i{
    color: #FFFFFF;
}
.noa_plus_menu{
    background: rgba(0,0,0,.9);
    font-size: 1em;
    padding: 0 1rem;
    position: absolute;
    right: -73px;
    text-align: right;
    top: 42px;
    width: 300px;
    z-index: 99;
    height: auto;
    display: none;
}
ul.plus_ul {
    padding: 5px 10px 35px;
    margin: 0;
    border-bottom: 1px solid #d9d9d9;
}
li.plus_list.om_horizontal_list {
    float: left;
}
.plus_list {
    color: #d9d9d9 !important;
    list-style-type: none;
    padding: 8px 20px;
    margin: 0;
    text-align: right;
    font-family: NOA;
    font-weight: 300;
    font-size: 17px;
}
.plus_list:hover{
    color: #fff !important;
}
.confirm {
    padding: 7px;
    border: 1px solid #d9d9d9;
    text-align: center;
    width: 85px;
    height: 35px;
    line-height: 17px;
    float: right;
    margin-bottom: 15px;
    margin-right: 13px;
    font-size: 16px;
    font-family: NOA;
    font-weight: 500;
}
.confirm:hover{
    border-color: #fff;
    color: #fff;
    cursor: pointer;
}
.customize {
    font-family: NOA;
    vertical-align: middle !important;
    color: #d9d9d9 !important;
    font-size: 18px !important;
    max-width: 400px;
    font-weight: 300;
}
.wid1 {
    padding: 10px 20px 10px 0;
    font-size: 18px;
}
.customize label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 38px;
    margin-right: 20px;
    font-size: 17px;
    padding-top: 30px;
    bottom: 20px;
    font-family: NOA;
}
.customize label:hover{
    color: #fff;
}
.customize label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 10px;
    bottom: -1px;
    border-radius: 100%;
    border: 2px solid #d9d9d9;
}
.customize input[type=radio]:checked + label:before {
    content: "\2022";
    color: #fff;
    font-size: 34px;
    text-align: center;
    line-height: 15px;
}
.customize input[type="radio"] {
    display: none;
}
.red_icon{
    position: relative;
    top: 1px;
    left: 2px;
    color: #c00 !important;
    transition: color .3s,color .2s,opacity .3s;
}
.plus_toggle:hover {
    color: #FFFFFF;
}
.plus_toggle:focus {
    color: #FFFFFF;
}
.noa_content{
    float: left;
    position: relative;
    margin: 0 -5px 0 -20px;
    font-size: 15px;
}


.container_search {
    float: right;
    margin: 15px 20px 0 10px;
    color: #b3b3b3;
    padding: 0 10px;
}
.search {
    height: 30px;
    font-size: 15px;
    display: inline-block;
    font-weight: 100;
    border: none;
    outline: none;
    color: white;
    padding: 8px 8px 0 0;
    width: 40px;
    position: absolute;
    top: 5px;
    right: 15px;
    background: none;
    z-index: 101;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
    opacity: 0;
}

.search:hover ~ .search_submit {
    background: url("../images/search1.png") left center no-repeat;
}
.search:focus ~ .search_submit {
    background: url("../images/search1.png") left center no-repeat;
}
.search:focus {
    width: 250px;
    cursor: text;
    background: #FFF none repeat scroll 0 0;
    right: 55px;
    opacity: 1;
    color: #a5a5a5;
    padding: 1px 5px 2px 5px;
    margin-right: 10px;
}
.search_submit {
    height: 40px;
    width: 40px;
    display: inline-block;
    color:#a5a5a5;
    float: right;
    background: url("../images/search.png") left center no-repeat;
    border: none;
    z-index: 102;
    opacity: 1;
    transition: opacity .4s ease;
    margin: -14px -16px 0 0;
}
.noa_logo {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 25px 0 25px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
.opened_menu{
    width: 100%;
    height: 100%;
    position: fixed;
    top:75px;
    left: 0;
    background: rgba(0,0,0,.93);
    display: none;
    z-index: 106;
}
.opened_menu_extra{
    top: 177px;
    position: absolute !important;
}
.fixed {
    position: fixed !important;
    top:0px !important;
}
.container1 {
    margin-top: 19px !important;
}







.search1 {
    width: 100%;
    height: 40px;
    background: rgba(0,0,0,.2);
    border-radius:  3px;
    border: 1px solid #404040;
}

.search1 input {
    width: calc(100% - 140px);
    padding: 8px 5px;
    float: left;
    color: #ccc;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
}

.search1 input:focus {
    outline: 0;
    background:transparent;
}

.search1 button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 38px;
    width: 120px;
    color: #d9d9d9;
    background: transparent;
    border-left: 1px solid #404040;
    border-radius: 0 3px 3px 0;
    top: -38px;
    right: 0px;
}

.search1 button:hover {
    background: #fff;
    color:#444;
}
.search1 button:active {
    box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.search1 button:focus {
    outline: 0;
}

.ui.text.loader {
    display: block !important;
    position: relative;
    right: 0;
    top: 80px;
    font-size: 40px;
    z-index: 90 !important;
}

h2.tittlesBox .iconRight {
    padding: 0px 0px 0px 5px !important;
    margin: 0;
    top: -2px;
}







/*----------------- NOA RESTYLE -----------------*/

.quick_links2 {
    padding: 7px 0 0;
    width: 71%;
    float: left;
}

ul.left_category_block {
    margin: 0;
    padding: 0;
}

img.cat_image {
    padding: 0 5px;
}

.cat_tittle {
    padding: 5px;
}

.buzz_wrapper.sport_buzz1 {
    float: right;
    width: calc(100% - 320px);
    padding-top: 10px;
}

.fcb_link {
    background-image: url("/assets/images/icons/noa_socials.svg");
    width: 50px;
    height: 40px;
    background-size: 145px;
    background-repeat: no-repeat;
    float: left;
}

.tweet_link {
    background-image: url("/assets/images/icons/noa_socials.svg");
    width: 50px;
    height: 40px;
    background-size: 145px;
    background-repeat: no-repeat;
    float: left;
    background-position: -50px 0px;
}

.insta_link {
    background-image: url("/assets/images/icons/noa_socials.svg");
    width: 50px;
    height: 40px;
    background-size: 145px;
    background-repeat: no-repeat;
    float: left;
    background-position: -100px 0px;
}

.headline_news_wrapper {
    position: relative;
}

.desc_linked_wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 7px 0 7px 7px;
    background: hsla(0,0%,98%,.85);
    overflow: hidden;
}

.desc_linked_wrapper h3 {
    font-size: 28px;
    font-weight: 500;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    padding-bottom: 2px;
}

.linked_news ul {
    padding: 0;
    margin: 0;
}

.linked_news {
    line-height: 1.2;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: transparent;
    overflow: hidden;
    font-family: "light-noa","Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.linked_news li {
    margin: 0;
    line-height: 1;
    display: inline;
}

.linked_news li a {
    color: #006598 !important;
    cursor: pointer;
}

.linked_news li a:hover {
    color: #c00 !important;
}

.linked_news span.vertical_divider:last-of-type
{
    display: none;
}

.linked_photo {
    width: 24px !important;
    height: 18px !important;
    background-position: 4px 2px !important;
    background-image: url(/assets/images/icons/blue_photo_icon.svg) !important;
    background-size: 16px !important;
    bottom: auto !important;
}

.inNews_banner {
    width: 300px;
    margin: -8px auto 8px;
    position: relative;
}

span.vertical_divider {
    padding: 0 7px;
    background-image: url(/assets/images/icons/vertical-line.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: -2px 6px;
}

.linked_video {
    width: 24px !important;
    height: 18px !important;
    background-position: 4px 3px !important;
    background-image: url(/assets/images/icons/blue_play_icon.svg) !important;
    background-size: 14px !important;
    bottom: auto !important;
}

.linked_news li:hover .linked_photo{
    background-image: url(/assets/images/icons/red_photo_icon.svg) !important;
}

.linked_news li:hover .linked_video{
    background-image: url(/assets/images/icons/red_play_icon.svg) !important;
}

.imageHeadline .icon_photo {
    top: 0;
    background-size: 33px;
    width: 45px;
    height: 38px;
    background-position-x: 5px;
    background-position-y: 1px;
}

.imageHeadline .icon_play {
    top: 0;
    left: auto;
    background-size: 30px;
    width: 45px;
    height: 38px;
    background-position-x: 7px;
    background-position-y: 3px;
}

.ui.tab.segment.active h3 {
    margin: 0px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-family: "light-noa","Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    padding: 5px 7px;
    background: hsla(0,0%,98%,.85);
    position: absolute;
    bottom: 0px;
    line-height: 1.133333333331;
    width: 100%;
    z-index: 2;
}

/*********** Top Big Banner *************/
.top-bigBanner {
    width: 1155px;
    height: auto;
    margin: 5px auto;
    opacity: 0;
    transition: opacity 1s;
}

.underMenu-bigBanner {
    /*background-image: url('/assets/images/1155-bg.jpg');*/
    background-color: #fff;
}

.underMenu-bigBanner img {
    width: 100%;
    height: auto;
}

.mainTitle_banner {
    /*background-image: url('/assets/images/835-bg.jpg');*/
}

.mainTitle_banner img {
    width: 100%;
    height: auto;
}

.ad-title {
    text-align: center;
    color: #969696;
    font-size: 12px;
    font-family: regular-noa;
    line-height: 1.1;
}

/************ NOA INTRO *************/
.banner_intro {
    position:fixed;
    left:0;
    top:0;
    background:#fff;
    width:100%;
    height:100%;
    z-index:999;
    padding: 10px;
    display: none;
}
span.intro_link {
    color: #006598 !important;
    padding: 10px;
    text-decoration: underline;
    font-family: NOA;
}
span.intro_link:hover {
    color: #c00 !important; 
}

/* ------------------------------- Kryesore Carousel -----------------------*/

.owl-image img {
    width: 100%;
    min-height: 146px;
    height: auto;
}

.owl-date {
    color: #cc0000;
    font-size: 11px;
    min-height: 15px;
    margin-top: 10px;
}

.owl-image {
    position: relative;
}

.owl-title {
    padding: 5px 10px;
    margin: 0px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-family: "light-noa","Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-size: 14px;
    line-height: 1.3;
    height: 80px;
    overflow: hidden;
    background: #e6e6e6;
}

.owl-titleOnly {
    font-family: NOA;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    height: 70px;
    overflow: hidden;
}

.owl-description {
    font-size: 13px;
    max-height: 48px;
    overflow: hidden;
    font-family: NOA;
}

.owl-image i.icon_photo {
    background-size: 28px;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    bottom: auto;
    top: calc(50% - 20px);
    border-radius: 50%;
    background-position: 6px 6px;
}

.owl-image i.icon_play {
    background-size: 28px;
    width: 38px;
    height: 38px;
    left: calc(50% - 19px);
    bottom: auto;
    top: calc(50% - 19px);
    border-radius: 5px;
    background-position: 5px 5px;
}

.kryesore_carousel .owl-stage-outer {
    margin-bottom: 7px;
}

.kryesore_carousel .owl-prev {
    height: 100%;
    width: 40px;
    top: 0;
    left: 0;
    position: absolute;
}

.kryesore_carousel .owl-next {
    height: 100%;
    width: 40px;
    top: 0;
    right: 0;
    position: absolute;
}

.kryesore_carousel .owl-prev img {
    position: relative;
    width: 25px;
    left: 2px;
    top: 70px;
}

.owl-mainTitle {
    position: absolute;
    bottom: 23px;
    z-index: 2;
    font-size: 21px;
    font-weight: 700;
    font-family: NOA;
    left: calc(50% - 85px);
    width: 170px;
    height: 24px;
    overflow: hidden;
}

.owl-prev i.angle.left.icon {
    font-size: 49px;
    color: #fff;
    top: calc(50% - 60px);
    left: -10px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
}

.owl-next i.angle.right.icon {
    font-size: 49px;
    color: #fff;
    top: calc(50% - 60px);
    right: -10px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
}

.kryesore_carousel .owl-next img {
    position: relative;
    width: 25px;
    right: 2px;
    top: 70px;
    -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);        /* FF */
    -o-transform: rotate(180deg);          /* Opera */
    -ms-transform: rotate(180deg);         /* IE9 */
    transform: rotate(180deg);             /* W3C compliant browsers */
}

.kryesore_carousel .owl-dots {
    display: none !important;
    position: relative;
    margin: 0 auto;
    width: 130px;
    padding: 15px 0;
    height: 46px;
}

.kryesore_carousel .owl-dot {
    background: none repeat scroll 0 0 #818181;
    border-radius: 20px;
    height: 12px;
    margin: 5px 7px;
    width: 12px;
    display: inline-flex;
}

.kryesore_carousel .owl-dot.active {
	background: none repeat scroll 0 0 #c22;
}

.related_banner-wrapper {
    max-width: 330px;
    margin-right: 20px;
    overflow: hidden;
    float: left;
}

.flash_news {
    position: fixed;
    width: 100%;
    height: 0;
    top: 75px;
    margin: 0;
    overflow: hidden;
    /*transition: all 1s;*/
    z-index: 98;
}

.flash_news .headline {
    background: #c00;
    position: relative;
}

@media screen and (min-width: 768px) {
    .flash_news .headline {
        border-top: 2px solid #000;
    }
}

.flashNews_spacer {
    position: relative;
    width: 100%;
    height: 0;
    /*transition: all 1s;*/
}

.flash_title {
    color: #fff !important;
    font-size: 20px;
    font-family: NOA;
    font-weight: 500;
    line-height: 38px;
    padding: 0 10px;
    height: 40px;
}

.flash_title:hover {
    color: #fff !important;
}

span.flash_rss {
    padding: 0 10px 0 5px;
}

span.flash_rss img {
    width: 28px;
    position: relative;
    top: 4px;
    -webkit-animation: opacity_pulse 4s ease-out infinite; /* Safari 4+ */
    -moz-animation:    opacity_pulse 4s ease-out infinite; /* Fx 5+ */
    -o-animation:      opacity_pulse 4s ease-out infinite; /* Opera 12+ */
    animation:         opacity_pulse 4s ease-out infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes opacity_pulse {
    0% {-webkit-transform: scale(0.5, 0.5);opacity: 0.2;}
    25% {-webkit-transform: scale(1, 1);opacity: 0.99;}
    85% {opacity: 1;}
    100% {opacity: 0.1;} 
}

@-moz-keyframes opacity_pulse {
    0% {-webkit-transform: scale(0.5, 0.5);opacity: 0.2;}
    25% {-webkit-transform: scale(1, 1);opacity: 0.99;}
    85% {opacity: 1;}
    100% {opacity: 0.1;} 
}

@-o-keyframes opacity_pulse {
    0% {-webkit-transform: scale(0.5, 0.5);opacity: 0.2;}
    25% {-webkit-transform: scale(1, 1);opacity: 0.99;}
    85% {opacity: 1;}
    100% {opacity: 0.1;} 
}

@keyframes opacity_pulse {
    0% {-webkit-transform: scale(0.5, 0.5);opacity: 0.2;}
    25% {-webkit-transform: scale(1, 1);opacity: 0.99;}
    85% {opacity: 1;}
    100% {opacity: 0.1;} 
}

span.remove_flashNews:hover {
    cursor: pointer;
}

.flash_text {
    display: inline;
    position: relative;
    bottom: 3px;
}

span.remove_flashNews {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 40px;
    padding: 0;
    background-color: #c00;
}

span.remove_flashNews img {
    width: 16px;
    position: relative;
    left: 19px;
    top: 10px;
}






/* --------------- Mobile Search ---------------- */

#toggle-search {
    float: right;
    background-position: -60px 0;
    position: relative;
    right: 60px;
    bottom: 4px;
}
#toggle-search.open:after {
  top: 41px;
}
#toggle-search:after {
  -moz-transition: top, 0.5s;
  -o-transition: top, 0.5s;
  -webkit-transition: top, 0.5s;
  transition: top, 0.5s;
  position: absolute;
  top: 52px;
  left: 50%;
  margin-left: -8px;
  content: "";
  border-color: transparent transparent #fff;
  border-style: solid;
  border-width: 8px 8px 12px;
}

#toggle-basket {
  position: relative;
  float: right;
  background-position: -120px 0;
}
#toggle-basket:before {
  position: absolute;
  top: 5px;
  left: 0;
  width: 2px;
  height: 50px;
  content: "";
  background-color: #000;
}

#search-form {
  -moz-transition: max-height, 0.5s;
  -o-transition: max-height, 0.5s;
  -webkit-transition: max-height, 0.5s;
  transition: max-height, 0.5s;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
}
#search-form.open {
  max-height: 60px;
  border-bottom: 2px solid #c00;
}
#search-form fieldset {
  position: relative;
  margin: 0 60px 0 0;
  padding: 0;
  border: none;
}
#search-form input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 60px;
  border-radius: 0;
}
#search-form input[type="search"] {
  width: 100%;
  padding: 0 5px 0 22px;
  background: transparent;
  border: none;
  font-family: noa-light;
  font-size: 15px;
  border-radius: 0;
}
#search-form input[type="submit"] {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
  background: #d9d9d9;
  border: none;
  cursor: pointer;
  border-radius: 0;
}

.header-button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  display: block;
  width: 60px;
  height: 57px;
  margin: 0;
  padding: 0;
  outline: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALQAAAA8CAQAAABlJ1gMAAABfElEQVR42u3ZsU7CUBhA4U6Iib5IITigOzMzzwUMmNA3MRofwMSRCDB1MPIAOoDBHAch0VhUCb2Ecr4uBJb23Oa/FKJIkiRJkiRJkiRJygENElJSEhpEmxz6W+Z7Vu43S71PlxvTZsiMGQ+0iTe7szY6EuCOmJg7IClwaEr0eOOzN/ocBwqdwnJhYyAtbGhK3ACQcEGZMhckANxSChIayHxduNCXwISzL6deYQT0Chma3+RzmRUWQO3b+2fAgkrOgbd0vfsQurN2A0qATgFD72hwDIHzzNM/B4YBRkbW6Chg6DlwlHn6R8Dc0PmHPgWeA22C//lsT2f0+tFRBwaGDrMZdgsYekejo7rm610NWFA1dIgHlqtgDyoHEXr1CN6nTokT6vQBgAktZ/Q2j6wfla6ZAOMcUx9g6I9h0WXEKy8M6FIlosU419SHNjp+WPp8Uxs6UGpDZ6Y2dJDUedzRTz/uSFP/nN3WAjaZrs38SNPQkiRJkiRJkiRJKoB36w+U2Cj/A/EAAAAASUVORK5CYII=");
  border: none;
  cursor: pointer;
}

/* Disqus */
.disqus_wrapper {
    width: 80%;
    left: 10%;
    position: relative;
    top: 100px !important;
    background-color: #fff;
    padding: 20px;
    border-radius: 0;
    margin: 0 !important;
}

.disqus_wrapper i.remove.icon {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}


@media screen and (max-width: 768px) {
    .disqus_wrapper {
        width: 100%;
        left: 0;
        top: 0 !important;
    }
    .disqus_wrapper i.remove.icon {
        display: block;
    }
}

.headlineLastnews {
    position: relative;
}


/* Mobile photogallery */
.back_photoButton {
    position: relative;
    left: 0px;
    top: 0px;
    width: 80px;
    float: left;
    text-align: center;
    background-color: transparent;
    padding: 7px;
    font-family: NOA;
    font-size: 15px;
    color: #d9d9d9;
    font-weight: 500;
    margin: 3px;
}
.back_photoButton img {
    position: absolute;
    left: 18px;
    width: 17px;
    bottom: 7px;
}
.fwd_photoButton {
    position: relative;
    right: 0px;
    top: 0px;
    width: 80px;
    float: right;
    text-align: center;
    background-color: transparent;
    padding: 7px;
    font-family: NOA;
    font-size: 15px;
    color: #d9d9d9;
    font-weight: 500;
    margin: 3px;
}
.fwd_photoButton img {
    position: absolute;
    right: 15px;
    width: 17px;
    bottom: 7px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}
.desc_wrapper {
    width: 100%;
    height: 43px;
    position: relative;
    bottom: 1px;
}
.photogallery_button {
    background-color: #000;
    font-family: noa-light;
    font-size: 15px;
    position: relative;
    bottom: 6px;
    width: 100%;
    padding: 10px 7px;
    color: #d9d9d9;
}
.photogallery_button .angle.right.icon.iconRight2.tdn {
    background-color: transparent;
    color: #d9d9d9;
    transition: right, 0.5s;
    padding-top: 6px !important;
    font-size: 26px !important;
}
.kryesore_counter {
    position: absolute;
    right: 0;
    bottom: 80px;
    color: #fff;
    background-color: rgba(12, 12, 12, .3);
    padding: 2px 7px 1px 0;
    width: 40px;
    text-align: right;
}
.kryesore_number {
    position: absolute;
    bottom: 0px;
    color: #fff;
    right: 40px;
    background-color: rgba(12, 12, 12, .3);
    text-align: right;
    padding: 2px 0 1px 7px;
}
.image_gallery img {
    width: 100%;
    height: auto;
    position: relative;
}
.gallery_title a {
    text-decoration: none;
}
.gallery_title {
    background: #000;
    padding: 10px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 20px;
}
.gallery_wrapper {
    position: relative;
    top: 45px;
}
.image_gallery {
    min-height: 180px;
    margin-bottom: -5px;
}
.backToNews_icon {
    width: 18px;
    padding-right: 7px;
    float: left;
    position: relative;
    top: 2px;
}
.backToNews_icon img{
    width: 100%;
    height: auto;
}
.back_to_news {
    color: #d9d9d9;
}
.image_counter {
    position: absolute;
    width: auto;
    left: calc(50% - 40px);
    padding-top: 5px;
    font-family: NOA;
    font-size: 15px;
    color: #000;
    top: 4px;
}
.fwd_photoButton a {
    color: #d9d9d9;
    text-decoration: none;
    padding: 8px 30px 8px 12px;
    background: #000;
    border-radius: 5px;
}
.back_photoButton a {
    color: #d9d9d9;
    text-decoration: none;
    padding: 8px 15px 8px 32px;
    background: #000;
    border-radius: 5px;
}
.fotogallery_text {
    background-color: #000;
    font-weight: 700;
    font-family: NOA;
    font-size: 1.2rem;
    width: 100%;
    padding: 7px;
    color: #f2f2f2;
}


/* Intro Banner */

.pageIntro_wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 202;
    left: 0;
    top: 0;
    display: none;
}

div#skipIntro {
    padding: 10px;
    font-family: light-noa;
    cursor: pointer;
    font-size: 15px;
    color: #006598;
    text-decoration: underline;
}

.confirm a {
    color: #d9d9d9!important;
}

.confirm a:hover {
    color: #fff !important;
}




