

.mobile-menu {
    display: none;
}

.video_mobile_icon {
    display: none;
}

.move_lastTab {
    width: 100%;
}

.mobile_only {
    display: none !important;
}

.news_only {
    display: none;
}

.opinion_photo img{
    width: 100%;
}

.dark-color{
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.containerHeadline {
    max-width: 1480px;
    margin: 0 auto;
    margin-top: 15px;
}

a.kryesore_button {
    display: none;
    width: 100%;
    position: relative;
    margin: 5px 0 0;
}

a.kryesore_button .angle.right.icon.iconRight2.tdn {
    margin: 0 !important;
    position: absolute;
    right: 5px;
    top: 2px;
    height: 45px !important;
    width: 45px !important;
    font-size: 36px !important;
    padding-top: 12px !important;
    background-color: transparent;
    color: #fff;
    transition: right, 0.5s;
}

.gjirafa_banner {
    width: 300px;
}

.headline {
    max-width: 1155px;
    margin: 0 auto;
    min-width: 1048px;
}

div#mainContainer {
    background-color: #fff;
}

.headlineNews {
    width: calc(100% - 300px);
    float: none;
    overflow: hidden;
    padding-right: 20px;
    position: relative;
    padding-top: 5px;
    background: #fff;
}

.headlineNews1 {
    width: auto;
    float: none;
    overflow: hidden;
    padding-right: 20px;
}

.headlineNews2 {
    width: auto;
    float: none;
    overflow: hidden;
    padding-right: 20px;
}

.headlineLastnews {
    width: 300px;
    float: right;
    overflow: hidden;
    padding-top: 5px;
}

.headlineLastnews1 {
    width: 300px;
    float: right;
    overflow: hidden;
}

.headlineLastnews2 {
    width: 300px;
    float: right;
    overflow: hidden;
}


.headlineTittle {
    font-size: 40px;
    font-family: NOA,'Helvetica Neue',Verdana,Helvetica,Arial,Utkal,sans-serif;
    margin: 0 0 10px;
    padding-bottom: 0;
    word-spacing: -.05em;
    font-weight: 500;
    line-height: 1.11111;
}

.imageHeadline {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 438px;
}

.category_headline .imageHeadline {
    max-height: 800px;
}

.imageHeadline img{
    width: 100%;
    height: auto;
    min-height: 400px;
    overflow: hidden;
}

.imageMainNews {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

.imageMainNews img{
    width: 100%;
}


.imageMainNews h3 {
    font-size: 1.2rem;
    line-height: 1.1;
    padding: 2px 10px;
}

.leftMainNews {
    width: 300px;
    float: left;
    overflow: hidden;
    padding: 10px 0 0;
}

.rightMainNews {
    padding: 10px 0 0 20px;
    min-height: 400px;
    float: none;
    overflow: hidden;
}

.mainNews {
    width: 100%;
}

.banner {
    margin: 0 0 10px;
}


.newsandBuzz {
    width: 100%;
    padding: 10px 0;
    position: relative;
}

.newsandBuzz img{
    width: 100%;
    height: auto;
}

.newsBuzzTittle {
    font-size: 1.2rem;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    background: #F2F2F2;
    width: 100%;
    padding: 7px;
    font-weight: 700;
}

.newsBuzzTittle.tab_buzz, .tittleImageHeadline {
    padding: 0;
}

.ui.menu .item {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.newsandBuzz h2:hover{
    color: #c00;
    transition: color .2s;
    cursor: pointer;
}

h2 {
    margin: 0px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-family: "light-noa","Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    padding: 5px 0;
    font-size: 1.3333333333rem;
    line-height: 1.2;
}

ul.listNewsBuzz {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


li.listNewsBuzz {
    padding: 7px 0;
    border-top: 1px solid #D9D9D9;
    width: 100%;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    letter-spacing: 0.7px;
    position: relative;
    font-size: 1.07rem;
    line-height: 1.3333333333;
}
li.listNewsBuzz:hover {
    color: #c00;
    transition: color .2s;
    cursor: pointer;
}

.tittleImageHeadline {
    background: #F2F2F2;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    color: rgba(0,0,0,.87);
    width: 100%;
    position: relative;
}

.newsBuzzTittle.padding_buzz {
    padding: 7px;
}

.tittleImageHeadline:hover {
    background: #e6e6e6 !important;
    color: #000000 !important;
    transition: background .2s;
}

.tittleImageHeadline:hover .iconRight{
    background: #bfbfbf !important;
    color: black;
    transition: background .2s;
}

.news1 {
    width: 100%;
    border-top: 1px solid #d9d9d9;
    overflow: hidden;
    position: relative;
}

.imageMainNews i {
    top: 0;
}

.news2 {
    width: 100%;
    margin-top: 9px;
    border-top: 1px solid #d9d9d9;
    overflow: hidden;
}

.news3 {
    width: 100%;
    margin-top: 9px;
    border-top: 1px solid #d9d9d9;
    overflow: hidden;
}

.news4 {
    width: 100%;
    margin-top: 9px;
    border-top: 1px solid #d9d9d9;
    overflow: hidden;
}

.news1 img{
    float: left;
    width: 180px;
    height: 105px;
    padding-bottom: 5px;
    overflow: hidden;
}

.news2 img{
    float: left;
    width: 180px;
    height: 105px;
    overflow: hidden;
}

.news3 img{
    float: left;
    width: 180px;
    height: 105px;
    overflow: hidden;
}

.news4 img{
    float: left;
    width: 180px;
    height: 105px;
    overflow: hidden;
}

.newsTitle{
    padding-top: 10px;
    padding-right: 20px;
    position: relative;
    left: 10px;
    font-weight: 300;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.3333333333rem;
    line-height: 1.2;
}

.newsTitle:hover{
    color: #c00;
}


.banner_wrapper {
    margin: 0 0 5px;
}

.magazine_list {
    margin: 0 0 5px;
}

.clear {

    clear: both;

}

a {
    text-decoration: none;
    color: #a2a2a2 !important;
}

a:hover {
    color: #c00 !important;
}

.eagleBanner {
    padding: 10px 0;
    width: 660px;
    display: block;
    margin: 0 auto;
}

.eagleBanner1 {
    padding: 10px 0;
    width: 660px;
    display: none;
}

.value {
    width: 100%;
    height: 137px;
    background: #222;
}

.left_fixed {
    position: fixed;
    margin-left: -130px;
    top: 80px;
    z-index: 0;
}

a {
    color: #262626 !important;
}

.left_fixed1 {
    position: fixed !important;
    margin-left: -130px;
    top: 85px !important;
    z-index: 0;
}

.left_fixed2 {
    top: 187px;
}

.right_fixed {
    position: fixed;
    margin-left: 1165px;
    top: 80px;
    z-index: 0;
}


.right_fixed1 {
    position: fixed !important;
    margin-left: 1165px;
    top: 85px !important;
    z-index: 0;
}

.right_fixed2 {
    top: 187px;
}

.img1 {
    float: left;
    padding-right: 10px;
}

.img1 img{
    float: none;
}

.img2 {
    float: right;
    width: 130px;
    padding-left: 20px;
}

.img2 img{

    float: left;
}


.nenheadline {
    width: 100%;
}

.videoTittle {
    width: 100%;
    background: #F2F2F2;
    padding: 7px;
    font-size: 17px;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #404040;
    position: relative;
}

.videoTittle:hover {
    background: #e6e6e6 !important;
    color: #000000 !important;
    transition: background .2s;
}

.videoTittle:hover .iconRight{
    background: #bfbfbf !important;
    color: black;
    transition: background .2s;
}

.videos-content {
    width: 100%;
}





.videosBoxs1 {
    width: 33.33%;
    height: 190px;
    float: left;
    margin-top: 10px;
    padding-right: 14px;
}

.videosBoxs2 {
    width: 33.33%;
    height: 190px;
    float: left;
    margin-top: 10px;
    padding: 0 7px;
}

.videosBoxs3 {
    width: 33.33%;
    height: 190px;
    float: left;
    margin-top: 10px;
    padding-left: 14px;
}

.videos {
    width: 100%;
}



.tittlePshould {
    width: 100%;
    background: #F2F2F2;
    padding: 7px;
    font-size: 17px;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #404040;
}

ul.columnleft {
    margin: 0px;
    padding: 0px;
    width: 100%;
    list-style-type: none;
}

.photoShould {
    width: 300px;
    height: 175px;
    overflow: hidden;
    position: relative;
}

.photoShould.photoShouldEdit i {
    bottom: 0px;
}

.photoShould:hover i.photo.icon.photoicon{
    color: #c00;
}

.photoShould1 {
    width: 88px;
    height: 78px;
    overflow: hidden;
    float: left;
    padding-right: 10px;
    position: relative;
}

.photoShould1:hover i.photo.icon.photoicon1{
    color: #c00;
}

.photoShould img{
    height: 100%;
    width: 100%;
}

.photoShould1 img{
    height: 100%;
    width: 100%;
}

.textShould {
    padding: 7px 0;
    font-size: 16px;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 22px;
    height: 75px;
    overflow: hidden;
}

.description {
    font-size: 23px;
    padding-top: 5px;
    padding-bottom: 8px;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 28px;
}

li.columnleft {
    width: 100%;
    height: 79px;
    margin-top: 5px;
    padding-right: 7px;
    border-top: 1px solid #d9d9d9;
}

.nenvideos {
    width: 100%;
    background: #584646;
}

.takeClose {
    width: 40%;
    float: left;
    padding-right: 10px;
}

.araundTheworld {
    width: 60%;
    margin: 0 auto;
    float: left;
    padding-left: 10px;
    margin-bottom: 10px;
}

.mostPopular {
    width: 100%;
}

h2.tittlesBox {
    width: 100%;
    background: #F2F2F2;
    padding: 7px;
    font-size: 17px;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #404040;
    position: relative;
}

h2.tittlesBox:hover {
    background: #e6e6e6 !important;
    color: #000000 !important;
    transition: background .2s;
}

h2.tittlesBox:hover .iconRight2{
    background: #bfbfbf !important;
    color: #000000 !important;
    transition: background .2s;
}

ul.listTclose {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li.listTclose {
    padding: 7px 0;
    border-top: 1px solid #D9D9D9;
    font-size: 16px;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 18px;
    letter-spacing: 0.9px;
    position: relative;
}

span.tittle4Boxes {
    margin: 0px;
    line-height: 1.16667;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    padding: 5px 0;
    font-size: 18px;
    height: 35px;
    overflow: hidden;
}

.boxes1 {
    width: 50%;
    float: left;
    padding: 7px 7px 7px 0;
    height: 190px;
    overflow: hidden;
    margin-bottom: 10px;
}

.boxes2 {
    width: 50%;
    float: left;
    padding: 7px 0px 0px 7px;
    height: 190px;
    overflow: hidden;
    margin-bottom: 10px;
}

.boxes3 {
    width: 50%;
    float: left;
    padding: 7px 7px 7px 0;
    height: 190px;
    overflow: hidden;
    margin-bottom: 10px;
}

.boxes4 {
    width: 50%;
    float: left;
    padding: 7px 0px 0px 7px;
    height: 190px;
    overflow: hidden;
    margin-bottom: 10px;
}

.boxes5 {
    width: 50%;
    float: left;
    padding: 7px 7px 7px 0;
    height: 190px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.boxes6 {
    width: 50%;
    float: left;
    padding: 7px 0px 0px 7px;
    height: 190px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}    


.imgBoxes1 {
    overflow: hidden;
    height: 135px;
    position: relative;
}

.imgBoxes1 img{
    height: 100%;
    width: 100%;
}

.imgBoxes3 {
    overflow: hidden;
    position: relative;
}

.imgBoxes3 img {
    height: auto;
    width: 100%;
}

span.tittle4Boxes1 {
    font-size: 17px;
    padding: 5px 10px 0 0;
    float: left;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    height: 45px;
    overflow: hidden;
    line-height: 1.25;
}

span.tittle4Boxes3 {
    font-size: 17px;
    padding: 0 10px 0 0;
    float: left;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    height: 45px;
    overflow: hidden;
    line-height: 1.25;
}

.mainImgTclose {
    max-height: 190px;
    overflow: hidden;
    position: relative;
}

.mainImgTclose i {
    bottom: 0px;
}

.mainImgTclose img{
    width: 100%;
}

.imgTclose img{
    width: 100%;
}

.lifeStyle {
    width: 100%;
}

.lifestyleblock {
    max-height: 600px;
    overflow: hidden;
}

.categoryLifestyle1 {
    width: 33.3%;
    float: left;
    padding: 0px 14px 20px 0;
}

.categoryLifestyle2 {
    width: 33.3%;
    float: left;
    padding: 0px 7px 20px 7px;
}

.categoryLifestyle3 {
    width: 33.3%;
    float: left;
    padding: 0px 0px 20px 14px;
}


.Play {
    background-image: url('/assets/images/icons/play-button-normal12.svg');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    float: left;
    background-size: 22px;
    margin-right: 5px;
}


span.time {
    color: #fff;
    font-family: CNN,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-size: 12px;
    position: relative;
    top: 1px;
}

.Play:hover{
    background-image: url('/assets/images/icons/play-button-red-hover.svg');
    background-repeat: no-repeat;
}

.imgVBoxs {
    width: 100%;
    height: 130px;
    overflow: hidden;
    position: relative;
}

.imgVBoxs:hover .Play{
    background-image: url('/assets/images/icons/play-button-red-hover.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

h2.textVbox {
    font-size: 19px;
    height: 50px;
    overflow: hidden;
}

.PlayTime {
    background: rgba(12,12,12,.3);
    position: absolute;
    bottom: 0;
    padding: 4px;
}

.aktualitet {
    width: 100%;
}


.boxAktualitet1 {
    width: 33.3%;
    float: left;
    padding-right: 14px;
}

.boxAktualitet2 {
    width: 33.3%;
    float: left;
    padding: 0 7px;
}

.boxAktualitet3 {
    width: 33.3%;
    float: left;
    padding-left: 14px;
}

.topFooter {
    width: 100%;
    background: #1A1A1A;
    padding: 0px 0 30px 0;
    position: relative;
}

.footer {
    width: 100%;
    background: #0c0c0c;
    position: relative;
}

.gallery {
    max-width: 1155px;
    margin: 0 auto;
}

.columnsFooter {
    max-width: 1155px;
    margin: 0 auto;
}

.missedNews {
    width: 100%;
}

.missedPhoto {
    width: 56%;
    height: 400px;
    float: left;
    position: relative;
    overflow: hidden;
}

.missedList {
    width: 44%;
    float: right;
}

h2.missedTittletop {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    font-size: 17px;
    color: #fff;
    padding: 8px;
}

h2.missedTittlebottom {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    font-size: 30px;
    color: #fff;
    background: rgba(29, 29, 29, 0.76);
    padding: 0px;
    font-weight: 100;
    cursor: pointer;
    padding: 5px 10px;
}

ul.listimg {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
}

li.listimg {
    padding-left: 0px;
    font-size: 15px;
    color: #fefefe;
    cursor: pointer;
    padding-top: 7px;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    position: relative;
    border-top: 1px solid #404040;
    padding-bottom: 7px;
}

.borderTop {

}



li.listimg:hover {
    color: #c00;
    transition: color .2s;
}

li.listimg:hover i.icon_photo {
    background-image: url(/assets/images/icons/red_photo_icon.svg);
    transition: color .2s;
}

li.listimg:hover i.icon_play {
    background-image: url(/assets/images/icons/red_play_icon.svg);
    transition: color .2s;
}

li.listimg i {
    background-position: 5px 2px;
}

h2.missedTittlebottom:hover {

    color: #c00;
    transition: color .2s;
}

h1.tittleimgGalery {
    font-size: 24px;
    padding-top: 8px;
    display: inline-block;
    padding-right: 5px;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

h1.tittleimgGalery1 {
    font-size: 24px;
    padding-top: 8px;
    display: inline-block;
    padding-right: 5px;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

span.theLine {
    position: absolute;
    height: 0px;
    width: 100%;
    background: transparent;
    top: 21px;
    border-top: 4px solid #d9d9d9;
    border-bottom: 4px solid #d9d9d9;
    padding-top: 1px;
}

.footerBox {
    width: 100%;
    background: #0c0c0c;
}

ul.listFooter {
    color: #bfbfbf;
    list-style-type: none;
    padding: 0px;
    float: left;
    padding-right: 20px;
    font-size: 12px;
    line-height: 23px;
    font-weight: 100;
    height: 200px
}

.listFooter {
    width: 170px;
    cursor: pointer;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.listFooter1 {
    font-size: 17px;
    font-weight: bold;
    color: #fff !important;
    padding-bottom: 5px;
    cursor: pointer;
    font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}


.listFooter1:hover{
    color: #c00 !important;
    transition: color .2s;
}


.listFooter:hover{
    color: #c00 !important;
    transition: color .2s;
}

.footer_column{
    max-height: 500px;
    overflow: hidden;
}

.footer_column1{
    max-height: 500px;
    overflow: hidden;
    padding-bottom: 50px;
}

.spacingFooter {
    width: 100%;
    background: #0c0c0c;
    padding-top: 90px;
}


.height {
    height: 1px;
    background: transparent;
    border-bottom: 4px solid #262626;
    border-top: 4px solid #262626;
    padding-top: 1px;
    width: 100%;
}

.galleryTittle {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.next_news{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 30px 0 10px;
}

span.heightTittle {
    position: absolute;
    height: 0px;
    width: 100%;
    background: transparent;
    top: 21px;
    border-top: 4px solid #c00;
    border-bottom: 4px solid #c00;
    padding-top: 1px;

}

.heightTittleEdit {
    position: absolute;
    height: 0px;
    width: 100%;
    background: transparent;
    top: 21px;
    border-top: 4px solid #d9d9d9 !important;
    border-bottom: 4px solid #d9d9d9 !important;
    padding-top: 1px;
}

.iconRight {
    font-size: 33px!important;
    padding: 8px 0px 0px 6px !important;
    background-color: #d9d9d9;
    width: 34px !important;
    height: 34px!important;
    position: absolute;
    right: -2px;
    top: 0px;
}


i.photo.icon.photoicon {
    position: absolute;
    bottom: 0px;
    color: #fff;
    left: 0px;
    font-size: 20px;
    width: 44px;
    background: rgba(12,12,12,.3);
    height: 26px;
    padding-top: 5px;
    padding-right: 1px;
}

i.photo.icon.photoicon1 {
    position: absolute;
    bottom: 0px;
    color: #fff;
    left: 0px;
    font-size: 16px;
    background: rgba(12,12,12,.3);
    width: 29px;
    height: 21px;
    padding-top: 2px;
    padding-right: 1px;
}

i.angle.right.icon.iconRight2 {
    font-size: 30px !important;
    padding: 0px 0px 0px 4px !important;
    margin: -7px -7px 0px !important;
    background-color: #d9d9d9;
    width: 36px !important;
    height: 36px !important;
    float: right;
}


ul.listFooter a li.listFooter{

    color: #bfbfbf !important;
}

ul.listFooter a li.listFooter:hover {

    color: #fff !important;
}

ul.listFooter a li.listFooter1:hover {

    color: #ffffff !important;
}

.footerBox1{
    display: none;
}

.borderRight4 {
    border-right: 1px solid #404040;
    height: 20px;
    margin-top: 10px;
}

.video_icon {
    display: none;
}


.Play-Top {
    background-image: url("../images/TwoPlay.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 4px;
    display: none;
}

.listFooter11{
    color: #d9d9d9 !important;
    font-family: NOA, 'Helvetica Neue', Verdana, Helvetica, Arial, Utkal, sans-serif;
    font-size: 22px;
    display: inline-block;
    padding: 30px 20px;
    font-weight: 400;
}

.listFooter11:hover{
    color: #FFF !important;
}

.horizontal_menu{
    width: 100% !important;
    height: auto;
    display: block;
    padding-top: 45px !important;
}

.wrap_under_category {
    padding: 10px 10px 25px 10px;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    display: none;
    position: relative;
    top: -4px;
    z-index: 98;
}

.category-reveal {
    display: block !important;
}

.text_ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@-webkit-keyframes move_cat {
    0% {
        display: none;
        opacity: 0;
        left: -10px;
    }

    1% {
        display: block;
        opacity: 0;
        left: -10px;
    }

    100% {
        display: block;
        opacity: 1;
        left: 0px;
    }
}

@-moz-keyframes move_cat {
    0% {
        display: none;
        opacity: 0;
        left: -10px;
    }

    1% {
        display: block;
        opacity: 0;
        left: -10px;
    }

    100% {
        display: block;
        opacity: 1;
        left: 0px;
    }
}

@-o-keyframes move_cat {
    0% {
        display: none;
        opacity: 0;
        left: -10px;
    }

    1% {
        display: block;
        opacity: 0;
        left: -10px;
    }

    100% {
        display: block;
        opacity: 1;
        left: 0px;
    }
}

@keyframes move_cat {
    0% {
        display: none;
        opacity: 0;
        left: -10px;
    }

    1% {
        display: block;
        opacity: 0;
        left: -10px;
    }

    100% {
        display: block;
        opacity: 1;
        left: 0px;
    }
}

@-webkit-keyframes move_cat1 {
    0% {
        display: none;
        opacity: 0;
        right: -7px;
    }

    1% {
        display: block;
        opacity: 0;
        right: -7px;
    }

    100% {
        display: block;
        opacity: 1;
        right: 0px;
    }
}

@-moz-keyframes move_cat1 {
    0% {
        display: none;
        opacity: 0;
        right: -7px;
    }

    1% {
        display: block;
        opacity: 0;
        right: -7px;
    }

    100% {
        display: block;
        opacity: 1;
        right: 0px;
    }
}

@-o-keyframes move_cat1 {
    0% {
        display: none;
        opacity: 0;
        right: -7px;
    }

    1% {
        display: block;
        opacity: 0;
        right: -7px;
    }

    100% {
        display: block;
        opacity: 1;
        right: 0px;
    }
}

@keyframes move_cat1 {
    0% {
        display: none;
        opacity: 0;
        right: -7px;
    }

    1% {
        display: block;
        opacity: 0;
        right: -7px;
    }

    100% {
        display: block;
        opacity: 1;
        right: 0px;
    }
}

.menu_content {

}

.open_category{
    width: 100%;
    position: relative;
    display: none;
}

.sub_category_reveal {
    display: block;
}

.sub_category_reveal1 {
    display: block;
    background: whitesmoke;
}


.quick_links1 {
    font-family: NOA;
    font-size: 20px;
    padding: 7px;
    color: #dadada;
    font-weight: 500;
}

ul.mid_category_block:hover .quick_links1{
    background: #dadada ;
    color: #000000 ;
    transition: background .2s;
}

.quick_links2 {
    font-family: NOA;
    font-size: 23px;
    padding: 10px 3px;
    color: #ffffff;
    font-weight: 500;
}

ul.right_category_block:hover .quick_links2{
    background: #dadada;
    color: #000000 ;
    transition: background .2s;
}

li.catagory_links {
    list-style: none;
    font-family: NOA;
    font-weight: 500;
    padding: 6px 0px;
    font-size: 17px;
}

ul.mid_category_block {
    float: left;
    height: auto;
    max-height: 225px;
    overflow: hidden;
    padding: 0;
    margin: 10px 0 0;
    display: block;
    position: relative;
    opacity: 1;
    animation: move_cat 0.6s ease-in;
    -webkit-animation: move_cat 0.6s ease-in;
    -moz-animation: move_cat 0.6s ease-in;
    -o-animation: move_cat 0.6s ease-in;
    width: 100%;
}

.cat_wrapper {
    width: calc(25% - 10px);
    float: left;
    position: relative;
    margin-right: 10px;
}

.cat_wrapper a {
    position: relative;
}

.cat_wrapper_left {
    padding-right: 10px;
}

.cat_wrapper_mid {
    padding: 0 5px;
}

.cat_wrapper_right {
    padding-left: 10px;
}

.cat_wrapper i {
    left: 5px;
    bottom: 3px;
}

img.cat_image {
    width: 100%;
    max-height: 121px;
    min-height: 100px;
    overflow: hidden;
    height: auto;
    -webkit-filter: grayscale(50%);
    filter: grayscale(30%);
    transition: all .3s;
}

.cat_wrapper:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.cat_tittle {
    font-family: NOA;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 0;
    line-height: 1;
    max-height: 47px;
    overflow: hidden;
}

ul.right_category_block {
    float: right;
    height: 225px;
    padding-left: 10px;
    width: 30%;
    margin-top: 10px;
    display: block;
    position: relative;
    opacity: 1;
    animation: move_cat1 0.6s ease-in;
    -webkit-animation: move_cat1 0.6s ease-in;
    -moz-animation: move_cat1 0.6s ease-in;
    -o-animation: move_cat1 0.6s ease-in;
}

li.category_links.rlinks {
    list-style: none;
    font-family: NOA;
    font-size: 18px;
    padding: 10px 5px;
    border-top: 1px solid #373737;
    font-weight: 300;
    line-height: 24px;
}

.cat_wrapper:hover .cat_tittle a {
    color: #fff !important;
}



/** added by ramms **/

.videoInNews img {
    width: 100%;
    height: auto !important;
}

.newsText {
    margin-top: 10px;
    overflow: hidden;
    font-family: 'light-noa';
    color: #262626;
    font-size: 18px;
    line-height: 150%;
}

.newsText p { 
    font-family: 'light-noa';
    color: #262626;
    font-size: 18px;
    line-height: 1.6666666667;
    margin-bottom: 15px;
}

.newsText a:hover {
    color: #c00 !important;
}
.newsText a {
    color: #006598 !important;
}

.photGalleryLoad {
    height: 532px;width: 100%;
    margin-bottom: 25px;
}

.fotorama__stage{
    background: #1a1a1a;
}

.myIconV {
    font-size: 21px !important;
    position: absolute;
    bottom: 0;
    color: #fff;
}

.my_fullWidth {
    width: 100%;
    margin-top: 25px;
}

.my_left{
    float: left;
}

.my_right{
    float: right;
}

.my_w48
{
    width: 48%;
}


.infiniteCat{
    text-transform: capitalize;
}

.infinitePushTop{
    margin-top: 25px;
}

.icon_photo {
    background-image: url('/assets/images/icons/photo_icon.svg');
    width: 36px;
    height: 28px;
    position: absolute;
    color: #000;
    background-size: 24px;
    background-color: rgba(12, 12, 12, .3);
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 2px;
}


.icon_play {
    background-image: url('/assets/images/icons/play_icon.svg');
    width: 36px;
    height: 28px;
    position: absolute;
    color: #000;
    background-size: 24px;
    background-color: rgba(12, 12, 12, .3);
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 2px;
}

a:hover .icon_play {
    background-image: url('/assets/images/icons/red_play_icon.svg');
}

.text_icon_play {
    background-image: url('/assets/images/icons/grey_play_icon.svg');
    width: 36px;
    height: 28px;
    position: absolute;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 2px;
}

.text_icon_photo {
    background-image: url('/assets/images/icons/grey_photo_icon.svg');
    width: 36px;
    height: 28px;
    position: absolute;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 2px;
}

.mid_icon_photo {
    background-image: url('/assets/images/icons/black_photo_icon.svg');
    width: 36px;
    height: 28px;
    position: absolute;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 2px;
}

.mid_icon_play {
    background-image: url('/assets/images/icons/black_play_icon.svg');
    width: 36px;
    height: 28px;
    position: absolute;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 2px;
}

.top_center_icon_24 {
    top: 2px;
    left: calc(50% - 15px);
}

.top_center_icon_28 {
    top: 2px;
    left: calc(50% - 16px);
}

.top_center_icon_32 {
    top: 2px;
    left: calc(50% - 23px);
}

a:hover .text_icon_play {
    background-image: url('/assets/images/icons/red_play_icon.svg');
}

a:hover .text_icon_photo {
    background-image: url('/assets/images/icons/red_photo_icon.svg');
}

.bottom_icon {
    bottom: 4px;
    margin-left: 2px;
}

.topLeft_icon {
    top: 0px;
    left: 0px;
}

.topRight_icon {
    top: 0px;
    right: 0px;
}

.bottomLeft_icon {
    bottom: 0px;
    left: 0px;
}

.bottomRight_icon {
    bottom: 0px;
    right: 0px;
}

.center_icon_24 {
    top: calc(50% - 12px);
    left: calc(50% - 15px);
}

.center_icon_40 {
    top: calc(50% - 22px);
    left: calc(50% - 26px);
}

.center_icon_50 {
    top: calc(50% - 30px);
    left: calc(50% - 57px);
}

a:hover .icon_photo {
    background-image: url('/assets/images/icons/red_photo_icon.svg');
}

a:hover .mid_icon_photo {
    background-image: url('/assets/images/icons/red_photo_icon.svg');
}

a:hover .mid_icon_play {
    background-image: url('/assets/images/icons/red_play_icon.svg');
}

.icon_size_24 {
    width: 30px;
    height: 24px;
    background-size: 20px;
}

.icon_size_28 {
    width: 32px;
    height: 28px;
    background-size: 24px;
    bottom: 6px;
}

.icon_size_32 {
    width: 46px;
    height: 36px;
    background-size: 32px;
}

.icon_size_40 {
    width: 52px;
    height: 44px;
    background-size: 40px;
}

.icon_size_50 {
    width: 60px;
    height: 54px;
    background-size: 50px;
}


button.ui.primary.button.comments_button {
    width: 70%;
    height: 60px;
    border-radius: 0;
    padding: 0px;
    position: relative;
    left: 15%;
    margin: 10px 0 30px;
    font-size: 16px;
}

i.comments.outline.icon.comment_icon {
    color: #fff;
    font-size: 24px;
}

.makeUpper {
    text-transform: capitalize;
}






.stButton .stButton_gradient {
    background: #fff !important;
    height: 22px !important;
}

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
    height: 22px !important;
}



.shares {
    z-index: 110;
}

.socialShares {
    float: right;
    margin-top: 0px;
    width: 300px;
    padding-top: 2px;
    position: relative;
    height: 30px;
}

.date_post {
    color: #737373;
    font-size: 16px;
    padding: 5px 0;
    width: calc(100% - 320px);
    height: 30px;
    float: left;
}

span.stButton_gradient.stHBubble {
    color: #737373;
}

.stButton {
    margin: 0 !important;
}

span.stArrow {
    position: absolute;
    left: 60px;
    top: 0;
}

.socialShares_fb {
    position: absolute;
    padding-right: 45px;
    left: 0px;
    padding-top: 2px;
}

.socialShares_tw {
    position: absolute;
    padding-right: 45px;
    left: 105px;
    padding-top: 2px;
}

.socialShares_in {
    position: absolute;
    padding-right: 45px;
    left: 210px;
    padding-top: 2px;
}

.socialShares_fb:hover .st_facebook_hcount .stButton_gradient{
    color: #c00 !important;
}

.socialShares_tw:hover .st_twitter_hcount .stButton_gradient{
    color: #c00 !important;
}

.socialShares_in:hover .st_linkedin_hcount .stButton_gradient{
    color: #c00 !important;
}




.newsandBuzz.buzfix {
    padding: 0;
}

i.angle.right.icon.iconRight2{
   padding-top: 7px !important;
}
/** end my changes **/

.h_container {
    margin: 0 auto !important;
}

.standartMod {
    position: relative;
}

.standartMod:hover i.icon_photo {
    background-image: url("/assets/images/icons/red_photo_icon.svg");
}

.standartMod:hover i.icon_play {
    background-image: url("/assets/images/icons/red_play_icon.svg");
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    opacity: 0;
    width: 50px;
    height: 50px;
}

#back-to-top.show {
    opacity: 1;
}

.back-to-top1 {
    font-size: 40px !important;
    background-color: rgb(217, 217, 217);
    color: #fff;
    width: 50px !important;
    height: 50px !important;
    border-radius: 100%;
}

.back-to-top1:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

i.icon.angle.up:before {
    content: "\f106";
    position: relative;
    top: calc(50% - 19px);
    font-size: 42px;
}

.icon_img {
    position: relative;
}

.iconRightFix {
    padding: 0px 0px 0px 4px !important;
    position: absolute;
    top: -1px;
    right: -3px;
}

.myLoading {
    min-height: 240px;
}

.myLoading img {
    position: relative;
    left: calc(50% - 60px);
    width: 120px;
    top: 50px;
}


.spacingFooter.spacingFooter-bot {
    padding-bottom: 20px;
    padding-top: 0px;
}

.imgMissed i.icon_photo.bottomLeft_icon.icon_size_28 {
    top: 0;
    background-size: 33px;
    width: 45px;
    height: 38px;
    background-position-x: 5px;
    background-position-y: 1px;
}

.imgMissed i.icon_play.bottomLeft_icon.icon_size_28 {
    top: 0;
    background-size: 33px;
    width: 45px;
    height: 38px;
    background-position-x: 5px;
    background-position-y: 2px;
}

.tittleImageHeadline i.angle.right.icon.iconRight {
    display: none;
}

.infonoa {
    color: #a0a0a0 !important;
    font-weight: 400;
    text-decoration: none;
    font-size: 13px;
    padding: 10px;
    padding-top: 0px;
    text-align: center;
}

.infonoa a{
 
    color: #ccc !important;
}

.date_post_tdn {
    color: #ccc;
    font-size: 15px;
    padding-top: 8px;
}

.fotogallery_wrapper {
    display: none;
}

.fotogallery_wrapper1 {
    margin-bottom: 7px;
}
































            /*5/9/2016 style*/


.boxes4{
    position: relative;
}

.boxes3 {
    position: relative;
}

.boxes2 {
    position: relative;
}

.boxes1 {
    position: relative;
}

/*text-icon new class*/
ul li .icon_size_28.icon_photo {
    width: 32px;
    height: 28px;
    background-size: 18px;
    background-color: transparent;
    left: auto;
    bottom: 0px;
    background-image: url('/assets/images/icons/grey_photo_icon.svg');
}


li.listNewsBuzz a:hover .icon_size_28.icon_photo{

    background-image: url('/assets/images/icons/red_photo_icon.svg') !important; 
}

li.listNewsBuzz:hover .icon_size_28.icon_photo{

    background-image: url('/assets/images/icons/red_photo_icon.svg') !important; 
}

/*text-icon new class*/
ul li .icon_size_28.icon_play {
    width: 32px;
    height: 28px;
    background-size: 17px;
    background-color: transparent;
    left: auto;
    bottom: -1px;
    background-image: url('/assets/images/icons/grey_play_icon.svg');
}

li.listNewsBuzz a:hover .icon_size_28.icon_play{

    background-image: url('/assets/images/icons/red_play_icon.svg') !important; 
}

li.listNewsBuzz:hover .icon_size_28.icon_play{

    background-image: url('/assets/images/icons/red_play_icon.svg') !important; 
}

.boxAktualitet1{
    margin-bottom: 14px;
}

.search1 button{
    top: -1px;
}

.height{
     margin-top: 45px;
}

.spacingFooter{
    padding-top: 45px;
}

.photoShould1 .icon_photo {
    background-image: url('/assets/images/icons/photo_icon.svg') !important;
    background-size: 20px !important;
    height: 22px !important;
    width: 28px !important;
    background-color: rgba(12, 12, 12, .3) !important;
}


.photoShould1 .icon_play {
    background-image: url('/assets/images/icons/play_icon.svg') !important;
    background-size: 18px !important;
    height: 22px !important;
    width: 28px !important;
    background-color: rgba(12, 12, 12, .3) !important;
    bottom: 2px !important;
}

.photoShould1:hover .icon_photo{

    background-image: url('/assets/images/icons/red_photo_icon.svg') !important;
}


.photoShould1:hover .icon_play{

    background-image: url('/assets/images/icons/red_play_icon.svg') !important;
}

.mostRead .angle.right.icon.iconRight2.tdn {
    margin: 0 !important;
    position: absolute;
    right: 5px;
    top: 2px;
    height: 45px !important;
    width: 45px !important;
    font-size: 36px !important;
    padding-top: 12px !important;
    background-color: transparent;
    color: #fff;
    transition: right, 0.5s;
}

.mostRead:hover .angle.right.icon.iconRight2.tdn{
    right: 0px;
}

.testet .icon_photo {
    top: 5px;
    background-color: transparent;
    background-image: url('/assets/images/icons/black_photo_icon.svg');
}

.testet .icon_play {
    top: 5px;
    background-color: transparent;
    background-image: url('/assets/images/icons/black_play_icon.svg');
}


.makeTab.newsandBuzz.top_stories{
    padding: 0px;
    min-height: 400px;
}

.makeTab.newsandBuzz.top_stories h2 {
    font-size: 1.3333333333rem;
}

.makeTab.newsandBuzz.top_stories .date_post_tab {
    color: #b33131;
}

.cat_tittle a {
    color: #dadada !important;
}

li.category_links.rlinks a {
    color: #dadada !important;
}

.cat_tittle a:hover {
    color: #ffffff !important;
}

li.category_links.rlinks a:hover {
    color: #fff !important;
}

ul.share-buttons li.mobileShares {
    display: none;
}


p {
    margin: 0 0 0.6em;
    line-height: 1.4285em;
}

.newsText img {
    max-width: 100% !important;
    height: auto;
}


































@media screen and (max-width: 1340px) and (min-width: 1199px){

    .twoHeadlines, .galleryTittle, .twoHeadlines1, .twoHeadlines2, .aktualitet,
    .lifestyleblock, .headlineNews2, .category_name, .headlines_wrapper, .newsCat_wrapper {
        padding: 0;
    }
}

@media screen and (max-width: 1420px) and (min-width: 1330px){

    .newsTitle {
        font-size: 1.25rem;
        line-height: 1.2;
        padding-right: 5px;
    }

    .news1 img {
        width: 130px;
        height: 75px;
        padding-bottom: 5px;
        position: relative;
        top: 10px;
    }
    .news1 {
        min-height: 90px;
    }

}

@media screen and (max-width: 1330px) and (min-width: 1250px){
    .newsTitle {
        font-size: 1.2rem;
        line-height: 1.2;
        padding-right: 5px;
        max-height: 80px;
        overflow: hidden;
    }

    .news1 img {
        width: 110px;
        height: 65px;
        padding-bottom: 5px;
        position: relative;
        top: 10px;
    }
    .news1 {
        min-height: 90px;
    }
}

@media screen and (max-width: 1307px) and (min-width: 1250px){
    .under_menu_banner {
        left: calc(50% - 365px);
    }
}


@media screen and (max-width: 1420px) and (min-width: 1310px){
    .total_container {
        width: calc(100% - 260px);
        padding: 0;
    }
    .right_fixed {
        right: -10px;
        margin: auto;
    }
    .img1 {
        float: right;
        padding-right: 0; 
    }
    .left_fixed {
        left: 0;
        margin: 0;
    }

    .columnsFooter {
        margin: 0 auto;
        width: calc(100% - 260px);
        padding: 0;
    }
}




@media screen and (max-width: 1420px) and (min-width: 1250px){

    .inNewsTittle{
        font-size: 50px;
    }

    .boxes1 {
        height: 170px;
    }

    .boxes2 {
        height: 170px;
    }

    .boxes3 {
        height: 170px;
    }

    .boxes4 {
        height: 170px;
    }

    .imageHeadline h3 {
        bottom: 0px;
    }

    .inNewsTittle.infTitle {
        font-size: 40px;
    }


}



@media screen and (max-width: 1310px){

    .right_fixed, .left_fixed {
        display: none;
    }

    h1.ct_name {
        width: 100% !important;
    }

    .news3  img{
        display: block;
    }

    .news4 img {
        display: block;
    }

    .container{
        width: 100% !important;
    }
    .ui.grid.container{
        width: 100% !important;
        margin-left: 0!important;
        margin-right: 0!important;
    }

    .gallery {
        padding: 10px;
        padding-top: 0px;
    }

    .footerBox {
        padding: 10px;
    }

    .imageHeadline {
        height: auto;
    }

    .imageMainNews {
        height: auto;
    }

    .boxes1 {
        height: 170px;
    }

    .boxes2 {
        height: 170px;
    }

    .boxes3 {
        height: 170px;
    }

    .boxes4 {
        height: 170px;
    }

    .h_container {
        top: -1px !important;
        padding: 0 !important;
    }

    .columnsFooter {
        max-width: 1155px;
        margin: 0 auto;
        padding: 0px 10px;
    }
}


@media screen and (max-width: 1045px) and (min-width: 990px){
    .newsTitle {
        font-size: 1.2rem;
        line-height: 1.2;
        padding-right: 5px;
        max-height: 80px;
        overflow: hidden;
    }

    .news1 img {
        width: 110px;
        height: 65px;
        padding-bottom: 5px;
        position: relative;
        top: 10px;
    }
    .news1 {
        min-height: 90px;
    }
    .under_menu_banner {
        left: calc(50% - 375px);
    }
}

@media screen and (max-width: 990px){

    .headline {
        margin-top: 0;
        max-width: 100% !important;
    }

    .buzz_wrapper.sport_buzz1 {
        display: none;
    }

    .menu_spacer {
        height: 50px;
        width: 100%;
    }

    .mainImgTclose.opinion_photo {
        height: 220px;
        max-height: 300px;
    }

    h2 {
        font-size: 1.414rem;
    }

    .menu_margin_container {
        margin-top: 10px;
    }

    .banner {
        width: 300px;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .leftMainNews {
        width: 100%;
    }

    .fixed-menu{
        position: fixed;
        top: 0 !important;
        height: 0px;
    }

    .under_menu_banner {
        left: calc(50% - 375px);

    }

    .main_menu{
        height: 0px;
    }

    .upper_menu{
        height: 50px;
    }

    .lower_menu {
        height: 0px;
    }

    #noalogo {
        background: transparent url("../images/NOA-LOGO-3.jpg") no-repeat scroll 0px 0px / 60px auto;
        height: 60px;
        width: 60px;
        left: 0px;
        top: 0px;
    }

    .opened_menu {
        top: 47px;
        height: 70%;
    }

    .eagleBanner{
        display: none;
    }

    .eagleBanner1{
        display: block;
    }

    .headlineTittle {
        font-size: 35px !important;
        line-height: 1;
    }

    .vertical_menu{
        margin: 5px;
        top: 0;
    }

    .videosBoxs1 {
        width: 50%;
        height: 180px;
        float: left;
        margin-top: 10px;
        padding-right: 10px;
    }

    .videosBoxs2 {
        width: 50%;
        height: 180px;
        float: left;
        padding: 0;
        margin-top: 10px;
        padding-left: 10px;
    }

    .videosBoxs3 {
        display: none;
    }

    .takeClose {
        width: 50%;
        padding-right: 10px;
    }

    .araundTheworld {
        width: 50%;
    }

    span.tittle4Boxes1 {
        font-size: 17px;
    }

    span.tittle4Boxes3 {
        font-size: 17px;
    }

    .boxes3{
        display: none;
        height: auto;
    }

    .boxes4{
        display: none;
        height: auto;
    }

    .boxes1{
        width: 100%;
        padding: 0;
        height: auto;
    }

    .boxes2{
        width: 100%;
        padding: 0;
        height: auto;
    }

    .mobile-menu {
        position: absolute;
        top: 0px;
        left: 75px;
        z-index: 200;
        color: #d9d9d9;
        cursor: pointer;
        display: inline-block;
        line-height: 50px;
        font-size: 20px;
        text-transform: capitalize;
        font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        max-width: 120px;
        max-height: 50px;
        overflow: hidden;
    }

    .mobile-menu:hover{
        color: #fff;
    }

    h2.missedTittlebottom {
        position: absolute;
    }

    .gallery {
        padding: 10px;
        padding-top: 0px;
    }

    .footerBox {
        padding: 10px;
    }

    .newsandBuzz {
        padding: 10px 0;
    }

    .rightMainNews{
        padding: 10px 1px 0 0px;
    }

    .footerBox{
        display: none;
    }

    .footerBox1 {
        display: block;
        padding: 0px;
    }

    .ui.menu.three.item .item {
        color: #d9d9d9 !important;
    }

    .menu-toggle:before {
        display: none;
    }

    .video_icon {
        display: block;
    }

    .video_mobile_icon {
        display: block;
        position: absolute;
        top: 12px;
        right: 50px;
        z-index: 101;
        color: #d9d9d9;
        border: 1px solid #d9d9d9;
        width: 30px;
        height: 22px;;
    }

    .video_mobile_icon i{
        position: relative;
        bottom: 1px;
        left: 8px;
        color: #d9d9d9;
        font-size: 12px;
    }

    .video_mobile_border {
        position: relative;
        border-bottom: 1px solid #d9d9d9;
        top: 5px;
        width: 14px;
        left: 7px;
    }

    .video_mobile_icon:hover{
        border-color: #fff;
    }

    .video_mobile_icon:hover i{
        color: #fff;
    }

    .video_mobile_icon:hover .video_mobile_border{
        border-color: #fff;
    }

    .search1 button {
        top: -1px;
    }

    .threeB1 {
        width: 60%;
        float: left;
        padding: 10px 10px 10px 0;
    }

    .threeB2 {
        display: none;
    }

    .threeB3 {
        width: 40%;
        float: left;
        padding: 10px 0 10px 10px;
    }

    .inNewsTittle {
        font-size: 50px;
    }

    .imgTclose3 {
        width: 50%;
        padding: 0 10px 10px 0px;
    }

    .imgTclose4 {
        width: 50%;
        padding: 0 0 10px 10px;
    }

    .imgTclose5 {
        display: none;
    }

    .hightlights {
        width: 100%;
    }

    .boxAktualitet22{
        width: 100%;
        padding: 10px 0;
    }

    .boxAktualitet33{
        width: 100%;
        padding: 10px 0;
    }

    .VideostextParagraf {
        width: 100%;
        height: auto;
    }

    .imgVideoP {
        height: auto;
        width: 100%;
    }

    .VideostextParagraf img {
        width: 100%;
        height: 100%;
    }

    .bannerMobile{
        margin: 0;
    }

    .mainImgTclose {
        height: 135px;
        overflow: hidden;
    }

    .h_container {
        padding: 0 !important;
    }

    .imgVBoxs img {
        width: 100% !important;
    }

    .boxes5{
        width: 100%;
    }

    .boxes6 {
        display: none;
    }

    .horizontal_menu {
        padding-top: 0px !important;
    }

    .inNewsTittle.infTitle {
        font-size: 40px;
    }

    .date_post{
        width: auto;
    }

}

ul.listNewsBuzz hr {
    display: none;
}


/*Remove last 5 news of TAB LAST NEWS  */
@media screen and (min-width: 768px) {

    .tab li.listNewsBuzz:nth-child(10) {
        display: none;
    }
    .tab li.listNewsBuzz:nth-child(11) {
        display: none;
    }
    .tab li.listNewsBuzz:nth-child(12) {
        display: none;
    }
    .tab li.listNewsBuzz:nth-child(13) {
        display: none;
    }
    .tab li.listNewsBuzz:nth-child(14) {
        display: none;
    }
    .tab li.listNewsBuzz:nth-child(15) {
        display: none;
    }
    .tab li.listNewsBuzz:nth-child(16) {
        display: none;
    }
    .tab li.listNewsBuzz:nth-child(17) {
        display: none;
    }
    .tab li.listNewsBuzz:nth-child(18) {
        display: none;
    }

}


@media screen and (max-width: 768px) {

    .imageHeadline{
        max-height: 250px;
    }

    .videoInNews {
        max-height: 250px;
        margin-bottom: 5px;
    }

    .mobileInNews {
        margin-bottom: 0;
    }

    .afterComment_MOB-banner {
        width: 300px;
        margin: -7px auto 7px;
    }

    .paragrafs {
        margin-top: -10px;
    }

    .move_lastTab { 
        min-height: 300px;
    }

    .exchange_dropdown-wrapper {
        display: block !important;
    }

    .ui.selection.dropdown {
        width: 100% !important;
    }

    .exchange_dropdown-value {
        margin: 0 !important;
        width: 100% !important;
        min-height: 45px;
    }

    .headline {
        min-width: 320px;
    }

    .flash_title {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        height: 60px;
        padding-top: 10px;
    }

    .flash_news {
        top: 50px;
    }

    span.flash_rss {
        padding: 0;
        position: absolute;
        top: 18px;
        left: 7px;
    }

    span.flash_rss img{
        width: 26px;
        top: 0;
        left: 0;
    }

    span.remove_flashNews {
        height: 40px;
        width: 45px;
        background: #cc0000;
        border-left: 1px solid #d1d1d1;
        bottom: 10px;
    }

    span.remove_flashNews img {
        top: 12px;
        left: 15px;
        width: 16px;
    }

    .linked_photo {
        background-image: url(/assets/images/icons/grey_photo_icon.svg) !important;
    }

    .linked_video {
        background-image: url(/assets/images/icons/grey_play_icon.svg) !important;
    }

    .flash_text {
        position: relative;
        left: 30px;
        padding: 0 5px;
        display: block;
        bottom: 1px;
        width: calc(100% - 65px);
        line-height: 1.3;
    }

    .hightlights {
        float: none;
    }

    .desc_linked_wrapper {
        background-color: transparent;
    }

    .hightlights h2 {
        background: #F2F2F2;
        width: 100%;
        padding: 7px;
        font-size: 1.2rem;
        font-family: "light-noa","Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
    }

    .hightlights strong {
        font-weight: 300;
    }

    li.listHightlights a {
        color: #737373 !important;
    }

    ul.listHightlights li:before { 
        background-color: #c00;
        content: " ";
        display: inline;
        height: 15px;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 9px;
        width: 2px;
    }

    li.listHightlights {
        border: none;
        position: relative;
        padding: 7px;
    }

    ul.listHightlights {
        margin-bottom: 10px;
        padding: 0 10px;
    }

    .headlineTittle a {
        font-size: 50px !important;
        line-height: 1.2;
    }

    .linked_news li {
        display: block;
        font-size: 16px;
        line-height: 1.2;
        position: relative;
        padding: 5px;
    }

    .linked_news li:before {
        background-color: #c00;
        content: " ";
        display: inline;
        height: 15px;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 7px;
        width: 2px;
    }

    .linked_news li a {
        color: #737373 !important;
        font-family: NOA;
    }

    span.vertical_divider {
        display: none;
    }

    .pc_only {
        display: none !important;
    }

    .desc_linked_wrapper {
        bottom: 0px;
    }

    .newsBuzzTittle.tab_buzz, .tittleImageHeadline {
        height: 39px;
    }

    
    .newsBuzzTittle.tab_buzz a.item, .tittleImageHeadline a.item{
        padding-bottom: 16px !important;
        padding-top: 16px !important;
    }

    div#mainContainer {
        max-width: 100%;
        overflow: hidden;
    }

    .today_news-wrapper {
        width: 320px;
        margin: 0 auto;
        position: relative;
    }

    .imageHeadline img{
        width: 100%;
        height: auto;
        min-height: 140px;
        overflow: hidden;
    }

    .headlineTittle {
        padding: 0 10px;
    }

    .makeTab.newsandBuzz.top_stories h2 {
        padding: 7px 10px;
        font-size: 1.07rem;
        font-family: NOA;
        letter-spacing: 0.7px;
        line-height: 1.3333333333;
    }

    li.listNewsBuzz {
        border: none;
    }

    ul.listNewsBuzz hr {
        display: block;
        margin-left: -10px;
        width: calc(100% + 20px);
        margin-top: 0;
        margin-bottom: 0;
        border: none;
        border-top: 1px solid #ddd;
    }

    ul.listNewsBuzz {
        padding: 0 10px;
    }

    .newsandBuzz.buzfix h2 {
        padding: 3px 10px 7px;
    }

    .description {
        padding: 5px 10px 8px;
    }

    h2.textVbox, span.tittle4Boxes3 {
        padding: 0 5px;
    }

    .columnsFooter {
        padding: 0;
    }

    .search-wrapper {
        padding: 0 10px;
    }

    .desc_linked_wrapper {
        position: relative;
        margin-bottom: 3px;
        margin-top: -5px;
        padding: 5px 10px;
    }
/*
    .imageHeadline .icon_photo {
        top: calc(50% - 19px);
        left: calc(50% - 23px);
        border-radius: 50%;
        background-size: 35px;
        width: 48px;
        height: 48px;
        background-position-x: 6px;
        background-position-y: 6px;
    }

    .imageHeadline .icon_play {
        top: calc(50% - 19px);
        left: calc(50% - 23px);
        border-radius: 5px;
    }
*/
    .rightMainNews {
        display: none;
    }

    ul.share-buttons li.mobileShares {
        display: inline;
    }

    a.kryesore_button {
        display: block;
    }

    .mobile_only {
        display: block !important;
    }

    .gjirafa_banner {
        background-image: url(http://noaweb.am-st.net/banners/gjirafaTest.gif);
    }

    .fcb_banner {
        width: 300px;
        margin: 0 auto;

    }

    .lupon_criteo {
        width: 300px;
        margin: 3px auto 0;
    }

    .fcb_footer_banner {
        width: 320px;
        margin: 0 auto;
        position: fixed;
        bottom: 0;
        left: calc(50% - 160px);
        z-index: 98;
    }

    .fixed-menu{
        position: relative;
        height: 50px;
    }

    .shares {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 50px;
        float: none;
        padding: 0;
        background: whitesmoke;
    }

    .socialShares_fb {
        width: 25%;
        float: left;
        position: relative;
        padding: 10px 0;
        left: 0;
    }

    .socialShares_tw {
        position: relative;
        width: 25%;
        float: left;
        padding: 10px 0;
        left: 0;
    }

    .socialShares_in {
        position: relative;
        width: 25%;
        float: left;
        padding: 10px 0;
        left: 0;
    }

    .socialShares_wp {
        position: relative;
        width: 25%;
        float: left;
        padding: 10px 0;
        left: 0;
    }

    .stButton .stArrow {
        padding-left: 0px !important;
        margin-left: -7px !important;
    }

    .st_whatsapp_hcount span.stArrow {
        margin-left: -3px !important;
    }

    #back-to-top {
        bottom: 55px;
        right: 5px;
    }

    .socialShares {
        float: none;
        width: 98%;
        left: 2%;
        padding: 5px 0;
        height: 50px;
    }

    .ct_spacer {
        height: 75px;
    }

    .category_name {
        margin-top: 7px;
        display: none;
    }


    .value{
        display: none;
    }

    span.tittle4Boxes1 {
        font-size: 15px;
        padding-top: 0px;
    }

    span.tittle4Boxes3 {
        font-size: 15px;
        padding-top: 0px;
    }

    .opened_menu{
        background: rgba(0,0,0,.88);
        height: 100%;
    }

    .headline {
        position: relative;
    }

    .under_menu_banner{
        display: none;
    }

    .moti{
        display: none;
    }

    .bannerMobile{
        display: none;
    }

    .eagleBanner1{
        display: none;
        margin: 0 auto;
    }

    .banner{
        display: none;
    }

    .headlineLastnews {
        width: 100%;
    }

    .leftMainNews {
        width: 100%;
    }

    .news1 img{
        float: left;
        width: 185px;
        height: auto;
    }

    .news2 img{
        float: left;
        width: 185px;
        height: auto;
    }

    .news3 img{
        float: left;
        width: 185px;
        height: auto;
    }

    .news4 img{
        float: left;
        width: 185px;
        height: auto;
    }

    .newsTitle{
        font-size: 20px;
        font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        line-height: 22px;
        position: relative;
        left: 15px;
        bottom: auto;
        width: 100%;
        background: none;
        padding: 10px 30px 0 0;
        max-height: 60px;
        overflow: inherit;
    }

    .newsTitle {
        font-size: 1.2rem;
        line-height: 1.2;
        padding-right: 5px;
        max-height: 70px;
        overflow: hidden;
        width: auto;
    }

    .twoHeadlines {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        padding-bottom: 10px;
    }

    .headlineLastnews {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }

    .headlineNews {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        padding-right: 0;
        width: 100%;
        overflow: hidden;
    }

    .rightMainNews {
        padding-left: 0px;
        float: none;
        overflow: visible;
    }

    .mainNews{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .leftMainNews{
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        padding: 10px 0 0 0;
    }

    .rightMainNews{
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        width: 100%;
    }

    .photoShould{
        max-height: 300px;
        height: auto;
        overflow: hidden;
        width: 100%;
    }

    .imgTclose{
        height: auto;
    }

    .headlineNews2 {
        overflow: visible;
        padding-right: 0px;
    }

    .imgBoxes1 {
        width: 100%;
    }

    .imgBoxes3 {
        width: 100%;
    }

    .boxes1 {
        width: 50%;
        padding-right: 10px;
        float: left;
    }

    .boxes2 {
        width: 50%;
        padding-left: 10px;
        float: left;
    }

    .boxes3 {
        width: 50%;
        padding-right: 10px;
        float: left;
        display: block;
    }

    .boxes4 {
        width: 50%;
        padding-left: 10px;
        float: left;
        display: block;
    } 

    .boxes5 {
        display: none;
    }

    .headlineLastnews1 {
        width: 100%;
        float: none;
    }

    .headlineLastnews2 {
        width: 100%;
        padding-top: 20px;
    }

    .takeClose {
        width: 100%;
        padding-right: 0px;
        padding-top: 20px;
    }

    .araundTheworld {
        width: 100%;
        padding: 20px 0;
    }

    i.photo.icon.photoicon{
        bottom: 4px;
    }

    .headlineNews1 {
        padding-right: 1px;
    }

    .nenheadline{
        padding-top: 20px;
    }

    .categoryLifestyle1{
        width: 100%;
        padding: 10px 0 0 0;
        float: none;
    }

    .categoryLifestyle2{
        width: 100%;
        padding: 20px 0 0 0;
        float: none;
    }

    .categoryLifestyle3{
        width: 100%;
        padding: 20px 0 0 0;
        float: none;
    }

    .lifestyleblock{
        overflow: visible;
        max-height: 100%;
    }

    .aktualitet {
        width: 100%;
        padding: 20px 0 0 0;
    }

    .boxAktualitet1 {
        width: 100%;
        float: none; 
        padding: 20px 0 0 0;
    }

    .boxAktualitet2 {
        width: 100%;
        float: none;
        padding: 20px 0 0 0;
    }

    .boxAktualitet3 {
        width: 100%;
        float: none;
        padding: 20px 0 0 0;
    }

    li.listimg {
        padding-left: 0px;
    }

    .missedList {
        float: right;
        width: 100%;
    }

    .missedPhoto {
        width: 100%;
        height: auto;
    }


    h2.missedTittlebottom {
        font-size: 18px;
        position: absolute;
    }

    .imageHeadline h3 {
        position: absolute;
        bottom: 0px;
        background: rgba(250,250,250,.85);
        font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        padding: 0 0 10px 0;
        line-height: 28px;
    }

    .gallery {
        padding: 10px;
        padding-top: 0px;
    }

    .borderTop {
        padding-top: 10px;
    }

    li.listimg {
        padding-top: 10px;
        margin-top: 5px;
    }

    .mobile-menu:hover{
        color: #fff;
    }

    .search1 button {
        top: 0px;
        right: 0px;
    }

    .Play-Top{
        display: block;
    }

    .search1 button {
        top: -1px;
    }

    .listFooter11 {
        color: #ffffff !important;
        font-family: NOA, 'Helvetica Neue', Verdana, Helvetica, Arial, Utkal, sans-serif;
        font-size: 18px;
        padding: 10px;
        font-weight: 300;
        display: block;
        margin-bottom: 19px;
    }

    .threeB1 {
        width: 100%;
        float: none;
        padding: 10px 0;
    }

    .threeB2 {
        display: block;
        width: 50%;
        padding: 10px 10px 10px 0;
    }

    .threeB3 {
        width: 50%;
        float: right;
        padding: 10px 0 10px 10px;
    }

    .inNewsTittle {
        font-size: 40px;
        padding: 0 10px;
    }

    .columnleftEdit {
        width: 100% !important;
        padding: 20px 0 0px !important;
    }

    .tabola {
        width: 50%;
        float: left;
        padding: 10px 10px 10px 0;
    }

    .magazine_list {
        width: 50%;
        float: right;
        padding: 10px 0 10px 10px;
    }

    .missedPhoto {
        width: 100%;
        height: 400px;
    }

    .imgMissed img{
        width: 100%;
        height: auto;
    }

    .mainImgTclose {
        max-height: 270px;
        height: auto;
        overflow: hidden;
    }

    .imgBoxes1 {
        width: 100%;;
        max-height: 200px;
    }

    .imgBoxes3 {
        width: 100%;
        max-height: 200px;
    }

    span.tittle4Boxes1 {
        font-size: 22px;
        height: 55px;
    }

    span.tittle4Boxes3 {
        font-size: 22px;
        height: 55px;
    }

    .h_container {
        top: -1px !important;
        padding: 0 !important;
        width: 100%  !important;
    }

    .h_container1 {
        top: -1px !important;
        padding: 0 !important;
    }

    .opened_menu{
        z-index: 99;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .horizontal_menu {
        padding-top: 0px !important;
    }

    .footerBox1 {
        padding: 0px 10px;
    }

    .banner_wrapper {
        margin: 0 0 5px;
    }

    .shares1.mainShare {
        float: left;
        margin: 5px 0;
    }

    .shares1.mainShare li {
        margin: 0 3px;
    }

    .headlineNews.openedNews {
        padding-top: 0;
    }

    .inNewsTittle.infTitle {
        margin-top: 0;
    }

    h2.tittlesBox .iconRight {
        top: 0px;
        line-height: 2.4rem;
    }

    .date_post{
        font-size: 14px;
        padding: 0 10px;
    }

    .newsText {
        padding: 0 10px;
    }
    
    .shares1{
        float: left;
        margin: 5px 0;
    }

    .height {
        margin-top: 10px;
    }

    .opened_menu .listFooter11 {
        background-color: transparent;
        margin: 0px;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .fotorama_wrapper {
        display: none;
    }

    .fotogallery_wrapper {
        display: block;
    }

}

@media screen and (max-width: 540px) {

    .imageHeadline .icon_photo, .standartMod .icon_photo, .photoShould .icon_photo, .imgMissed .icon_photo{
        background-size: 34px;
        width: 50px;
        height: 50px;
        left: calc(50% - 25px);
        bottom: auto;
        top: calc(50% - 25px);
        border-radius: 50%;
        background-position: 8px 8px;
    }

    .imageHeadline .icon_play, .standartMod .icon_play, .photoShould .icon_play, .imgMissed .icon_play {
        background-size: 34px;
        width: 48px;
        height: 48px;
        left: calc(50% - 24px);
        bottom: auto;
        top: calc(50% - 24px);
        border-radius: 5px;
        background-position: 7px 7px;
    }

    .imgMissed i.icon_photo.bottomLeft_icon.icon_size_28{
        background-size: 34px;
        width: 50px;
        height: 50px;
        left: calc(50% - 25px);
        bottom: auto;
        top: calc(50% - 50px);
        border-radius: 50%;
        background-position: 8px 8px;
    }

    .imgMissed i.icon_play.bottomLeft_icon.icon_size_28{
        background-size: 34px;
        width: 48px;
        height: 48px;
        left: calc(50% - 24px);
        bottom: auto;
        top: calc(50% - 50px);
        border-radius: 5px;
        background-position: 7px 7px;
    }

    .headlineTittle a {
        font-size: 40px !important;
    }

    .search1 button {
        top: 0px;
    }
    .inNewsTittle {
        font-size: 30px;
    }

    .threeB2 {
        width: 100%;
    }

    .threeB3 {
        width: 100%;
    }

    .imgTclose3 {
        width: 100%;
        padding: 0;
    }

    .imgTclose4 {
        display: none;
    }

    .tabola {
        width: 100%;
    }

    .magazine_list {
        width: 100%;
    }

    span.tittle4Boxes1 {
        font-size: 17px;
        height: 44px;
    }

    span.tittle4Boxes2 {
        font-size: 17px;
        height: 44px;
    }

    span.tittle4Boxes3 {
        font-size: 17px;
        height: 41px;
        padding-top: 0px;
        line-height: 21px;
    }

    span.tittle4Boxes4 {
        font-size: 17px;
        height: 44px;
    }

    .mainImgTclose {
        max-height: 220px;
    }
    .h_container {
        padding: 0 !important;
    }

    li.listimg{
        padding-top: 0px;
        margin-top: 0px;
    }

    .missedList {
        float: right;
        width: 100%;
        margin-top: 5px;
    }

    .headlineLastnews2 {

        padding-top: 0px;
    }

    .araundTheworld {
        padding: 0px;
        margin-top: 10px;
    }

    .aktualitet {
        padding: 5px 0 0 0;
    }

    .boxAktualitet1 {
        padding: 5px 0 0 0;
    }

    .topFooter {
        padding: 0px 0 0px 0;
    }

    .boxAktualitet2 {
        width: 100%;
        float: none;
        padding: 0px 0 0 0;
    }

    ul li .photoShould1 .icon_size_28.icon_photo {
        left: 0px;
    }

    ul li .photoShould1 .icon_size_28.icon_play {
        left: 0px;
    }

    .spacingFooter {
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .categoryLifestyle1 {
        padding: 0px 0 0 0;
    }

    .missedPhoto {
        width: 100%;
        height: 200px;
    }

    ul.listimg {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        margin-left: 0px;
    }

    h3.mainNewsTitle {
        position: relative !important;
        background-color: transparent;
        padding-left: 0px !important;
    }

    h2.textVbox{
        margin-top: 3px;
    }

    .inNewsTittle.infTitle {
        font-size: 30px;
        margin-top: 0;
    }

    .makeTab.newsandBuzz.top_stories {
        margin-top: 10px;
    }

    button.ui.primary.button.comments_button {
        width: 300px;
        left: calc(50% - 150px);
        margin: 0px 0 20px;
        height: 50px;
    }

    .boxAktualitet3 {
        padding: 10px 0 0 0;
    }

    .box-temp-text1 {
        padding: 3px 0 0px 8px;
    }

    .date_post_tdn {
        color: #ccc;
        font-size: 13px;
        padding-top: 7px;
    }

    .date_post{
        padding: 1px 10px;
    }

    .photoShould.photoShouldEdit i {
        bottom: 4px;
    }


}


@media screen and (max-width: 400px) {

    .headlineTittle a {
        font-size: 33px !important;
        line-height: 1;
    }

    .headlineTittle {
        padding-top: 5px;
    }

    .desc_linked_wrapper h3 {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 400;
    }

    .imageHeadline h3 {
        line-height: 23px;
        height: 50px;
        font-size: 20px;
        padding: 0 10px 0 0;
    }

    .imageMainNews h3 {
        line-height: 23px;
        height: 50px;
        font-size: 20px;
        padding: 0 10px 0 0;
    }

    .headlineTittle {
        font-size: 30px  !important;
        font-weight: 500;
    }

    .video_icon{
        display: block;
    }

    .videosBoxs1 {
        width: 50%;
        float: left;
        margin: 5px 0;
        padding: 0 10px 0 0;
        height: 130px;
    }

    .videosBoxs2 {
        width: 50%;
        float: left;
        margin: 5px 0;
        padding: 0 0 0 10px;
        height: 130px;
    }

    .imgVBoxs {
        width: 100%;
        height: 95px;
        overflow: hidden;
    }

    .imgVBoxs img {
        width: 100% !important;
        height: 95px !important;
    }

    h2.textVbox{
        font-size: 15px;
        height: 35px;
        overflow: hidden;
        margin-top: 3px;
    }

    .newsTitle {
        padding-top: 10px;
        padding-right: 20px;
        position: relative;
        left: 10px;
        font-size: 1.2rem;
        line-height: 1.16667;
        font-weight: 300;
        font-family: NOA,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    .news1 img{
        float: left;
        width: 100px;
        height: 80px;
        overflow: hidden;
    }

    .news2 img{
        float: left;
        width: 100px;
        height: 80px;
        overflow: hidden;
    }

    .news3 img{
        float: left;
        width: 100px;
        height: 80px;
        overflow: hidden;
    }

    .news4 img{
        float: left;
        width: 100px;
        height: 80px;
        overflow: hidden;
    }

    .news1{
        width: 100%;
        margin-top: 0px;
        border-top: 1px solid #d9d9d9;
        overflow: hidden;
    }

    .news2{
        width: 100%;
        margin-top: 9px;
        border-top: 1px solid #d9d9d9;
        overflow: hidden;
    }

    .news3 {
        width: 100%;
        margin-top: 9px;
        border-top: 1px solid #d9d9d9;
        overflow: hidden;
    }

    .news4 {
        width: 100%;
        margin-top: 9px;
        border-top: 1px solid #d9d9d9;
        overflow: hidden;
    }

    .topFooter {
        margin-top: 0px;
    }
    .h_container {
        padding: 0 !important;
    }

    .inNewsTittle {
        font-size: 27px;
    }

    .inNewsTittle.infTitle {
        font-size: 27px;
    }
    
    ul.share-buttons img {
        width: 33px;
        bottom: -5px;
        position: relative;
    }

    .cnt_title {
        font-size: 16px;
        overflow: hidden;
    }

}


@media screen and (max-width: 340px){
    .cnt_title {
        font-size: 16px;
        overflow: hidden;
    }
}








    .mobFix{
        overflow: hidden;
        width: 100%;
    }

    .ui.menu.main_menu3 a {
        position: relative;
    }

    .ui.menu.main_menu3 a:before {
        width: 0;
    }




























































