/*hide segmentation by default*/
main {
  visibility:hidden;
}
.hero-media {

}
.smb-segment,
.ent-mid-segment,
.real-estate-segment,
.smb-real-estate-segment,
.ent-mid-real-estate-segment {
  display: none;
}

/*default */
main.default .default-segment {
  display:block;
}
main.default .smb-segment,
main.default .ent-mid-segment {
  display:none;
}

/*real estate segment */
main.real-estate .real-estate-segment {
  display:block;
}
main.real-estate .smb-segment,
main.real-estate .paragraphs-item-secondary-module-wrapper.default-segment,
main.real-estate .ent-mid-segment {
  display:none;
}
/*SMB segment */
main.smb .smb-segment
 {
  display:block;
}
main.smb .default-segment,
main.smb .paragraphs-item-secondary-module-wrapper.default-segment,
main.smb .ent-mid-segment {
  display:none;
}
/*SMB + Real Estate segment */
main.smb.real-estate .smb-segment,
main.smb.real-estate .smb-real-estate-segment {
  display:block;
}
main.smb.real-estate .default-segment,
main.smb.real-estate .paragraphs-item-secondary-module-wrapper.smb-segment,
main.smb.real-estate .paragraphs-item-secondary-module-wrapper.real-estate-segment,
main.smb.real-estate .paragraphs-item-secondary-module-wrapper.default-segment,
main.smb.real-estate .paragraphs-item-secondary-module-wrapper.ent-mid-segment,
main.smb.real-estate .ent-mid-segment {
  display:none;
}

/*enterprise mid market segment */
main.ent-mid .ent-mid-segment {
  display:block;
}
main.ent-mid .default-segment,
main.ent-mid .smb-segment {
  display:none;
}

/*ent-mid + Real Estate segment */
main.ent-mid.real-estate .ent-mid-segment,
main.ent-mid.real-estate .ent-mid-real-estate-segment {
  display:block;
}
main.ent-mid.real-estate .default-segment,
main.ent-mid.real-estate .smb-segment,
main.ent-mid.real-estate .paragraphs-item-secondary-module-wrapper.smb-segment,
main.ent-mid.real-estate .paragraphs-item-secondary-module-wrapper.real-estate-segment,
main.ent-mid.real-estate .paragraphs-item-secondary-module-wrapper.smb-real-estate-segment,
main.ent-mid.real-estate .paragraphs-item-secondary-module-wrapper.default-segment,
main.ent-mid.real-estate .paragraphs-item-secondary-module-wrapper.ent-mid-segment {
  display:none;
}

/*Layout bugs issues */
.homepage-footnotes{
margin-bottom: -2rem;
}

@media screen and (max-width: 47.9375em) {
   .cta-media--inline .cta-media__player__icon::before {font-size: 1.25rem;height: 2.5rem;line-height: 195%;width: 2.5rem;}
}

.pane-content .fieldable-panels-pane .btn-white.btn.btn-small {
    border: 2px solid #000;
    padding-top: .5rem;
}
.pane-content .fieldable-panels-pane .btn-white.btn.btn-small:hover {
    background-color: #fff;
}


#fancybox-item--2.cta-media__player__icon.icon-player::before {
    font-size: 100px;
    text-indent: -0.9rem;
    line-height: 75px;
}

#fancybox-item.cta-media__player__icon.icon-player::before {
    font-size: 50px;
    text-indent: 0rem;
    line-height: 50px;
}

@media screen and (max-width: 47.9375em) {
#fancybox-item--2.cta-media__player__icon.icon-player::before {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 50px;
    text-indent: -0.25rem;
    line-height: 40px;
}
}