@charset "UTF-8";
/**
 * Convert pixels to rem units.
 *
 * @param {string}  $pxValues                          Unit values. Can be single, mix, or group of 3 or 4.
 * @param {tone}    ($baseSize|'$font-size-rem-base')  Set unit base, or defaults to defined value in settings.
 *
 * @return {string} converted rem units.
 */
.checkout-header__chat a span, .sprint-footer-social span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0); }

/**
 * Returns a url to an asset
 *
 * @param {string}  $name  Additional path and file name of the asset.
 * @param {string}  $dir   Path to an assets directory.
 *
 * @return {string} A url string to an asset. e.g., url("dir/image.png")
 */
/**
 * Returns a color with an optional tone from the map
 *
 * @param {string}  $colorName     The base name of the color
 * @param {tone}    ($tone|'base')  The tone of that color or 'base'
 *
 * @return {string} The matching color's value from the map
 */
.ico::before, .ico--accessories::before, .ico--account-preferences::before, .ico--add-line-upgrade::before, .ico--add-line::before, .ico--add-payment-method::before, .ico--alert::before, .ico--arrow-down::before, .ico--arrow-left::before, .ico--arrow-right::before, .ico--arrow-up::before, .ico--arrow-upright::before, .ico--autopay::before, .ico--billing-notification::before, .ico--billingnotification::before, .ico--calendar::before, .ico--call::before, .ico--caret-down::before, .ico--caret-left::before, .ico--caret-right::before, .ico--caret-up::before, .ico--cart::before, .ico--cart2::before, .ico--chat::before, .ico--checking::before, .ico--checkmark-fill::before, .ico--checkmark::before, .ico--chevron-down::before, .ico--chevron-left::before, .ico--chevron-right::before, .ico--chevron-up::before, .ico--clock::before, .ico--close-circle-fill::before, .ico--close-circle::before, .ico--close-thick::before, .ico--close::before, .ico--collapse::before, .ico--community::before, .ico--connectivity::before, .ico--contact-us::before, .ico--customer::before, .ico--data::before, .ico--device-phone-tablet::before, .ico--device-single::before, .ico--device-support::before, .ico--device::before, .ico--download-csv::before, .ico--download-pdf::before, .ico--download::before, .ico--edit::before, .ico--envelope::before, .ico--expand::before, .ico--facebook::before, .ico--faqs::before, .ico--funnel::before, .ico--heart::before, .ico--incorrect::before, .ico--info::before, .ico--instagram::before, .ico--international::before, .ico--link-off::before, .ico--list::before, .ico--lock::before, .ico--lost-stolen::before, .ico--magnifying-glass::before, .ico--menu::before, .ico--messenger::before, .ico--minus::before, .ico--pay-bill::before, .ico--payment-activity::before, .ico--plans-services::before, .ico--plans::before, .ico--plus::before, .ico--print::before, .ico--promotion::before, .ico--report-issue::before, .ico--ribbon-empty::before, .ico--ribbon-filled::before, .ico--shipping::before, .ico--snapchat::before, .ico--sort::before, .ico--sprint-logo::before, .ico--star-rounded::before, .ico--star::before, .ico--starburst::before, .ico--status-hidden::before, .ico--status-visible::before, .ico--tablet::before, .ico--talk::before, .ico--tep-apple::before, .ico--tep-basic::before, .ico--tep-plus::before, .ico--text::before, .ico--thumbs-down::before, .ico--thumbs-up::before, .ico--trashcan::before, .ico--twitter::before, .ico--usage::before, .ico--valid::before, .ico--view-bill::before, .ico--warning::before, .ico--youtube::before, .sprint-header-caret::after, .sprint-header-caret.is-active::after, .checkout-header__telesales a::before, .checkout-header__chat a::before, .sprint-menu__root::after, .sprint-menu__submenu.has-children > a::after, .sprint-menu__back-button button::before, .sprint-header-hamburger::before, .sprint-header-hamburger.is-open::before, .sprint-header-actions__button.is-toggled:not(.is-disabled)::before, .button--mail::before, .button--cart::before, .sprint-header-search__label::before, .sprint-header-search__close::before, .sprint-header-search__toggle::before, .has__active-search .sprint-header-search__toggle::before, .sprint-footer__legal-button::after, .is-toggled .sprint-footer__legal-button::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: 'iconfont';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  text-decoration: none;
  color: inherit;
  vertical-align: middle; }

/**
 * Convert pixels to rem units.
 *
 * @param {string}  $pxValues                          Unit values. Can be single, mix, or group of 3 or 4.
 * @param {tone}    ($baseSize|'$font-size-rem-base')  Set unit base, or defaults to defined value in settings.
 *
 * @return {string} converted rem units.
 */
@font-face {
  font-family: SprintSansWeb;
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Light.eot");
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Light.woff") format("woff"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Light.ttf") format("truetype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Light.svg#Sprint-Sans-Web") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: SprintSansWeb;
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Light-Italic.eot");
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Light-Italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Light-Italic.woff") format("woff"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Light-Italic.ttf") format("truetype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Light-Italic.svg#Sprint-Sans-Web") format("svg");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: SprintSansWeb;
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Regular.eot");
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Regular.woff") format("woff"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Regular.ttf") format("truetype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Regular.svg#Sprint-Sans-Web") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: SprintSansWeb;
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Regular-Italic.eot");
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Regular-Italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Regular-Italic.woff") format("woff"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Regular-Italic.ttf") format("truetype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Regular-Italic.svg#Sprint-Sans-Web") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: SprintSansWeb;
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Medium.eot");
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Medium.woff") format("woff"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Medium.ttf") format("truetype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Medium.svg#Sprint-Sans-Web") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: SprintSansWeb;
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Medium-Italic.eot");
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Medium-Italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Medium-Italic.woff") format("woff"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Medium-Italic.ttf") format("truetype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Medium-Italic.svg#Sprint-Sans-Web") format("svg");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: SprintSansWeb;
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Bold.eot");
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Bold.woff") format("woff"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Bold.ttf") format("truetype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Bold.svg#Sprint-Sans-Web") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: SprintSansWeb;
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Bold-Italic.eot");
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Bold-Italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Bold-Italic.woff") format("woff"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Bold-Italic.ttf") format("truetype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Bold-Italic.svg#Sprint-Sans-Web") format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: SprintSansWeb;
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Black-Italic.eot");
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Black-Italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Black-Italic.woff") format("woff"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Black-Italic.ttf") format("truetype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Black-Italic.svg#Sprint-Sans-Web") format("svg");
  font-weight: 800;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: SprintSansWeb;
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Black.eot");
  src: url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Black.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Black.woff") format("woff"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Black.ttf") format("truetype"), url("../../assets/fonts/sprint-sans/Sprint-Sans-Web-Black.svg#Sprint-Sans-Web") format("svg");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'iconfont';
  src: url("../../assets/fonts/iconfont/iconfont.woff2") format("woff2"), url("../../assets/fonts/iconfont/iconfont.woff") format("woff"), url("../../assets/fonts/iconfont/iconfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.ico::before {
  content: ""; }

.ico--accessories::before {
  content: ""; }

.ico--account-preferences::before {
  content: ""; }

.ico--add-line-upgrade::before {
  content: ""; }

.ico--add-line::before {
  content: ""; }

.ico--add-payment-method::before {
  content: ""; }

.ico--alert::before {
  content: ""; }

.ico--arrow-down::before {
  content: ""; }

.ico--arrow-left::before {
  content: ""; }

.ico--arrow-right::before {
  content: ""; }

.ico--arrow-up::before {
  content: ""; }

.ico--arrow-upright::before {
  content: ""; }

.ico--autopay::before {
  content: ""; }

.ico--billing-notification::before {
  content: ""; }

.ico--billingnotification::before {
  content: ""; }

.ico--calendar::before {
  content: ""; }

.ico--call::before {
  content: ""; }

.ico--caret-down::before {
  content: ""; }

.ico--caret-left::before {
  content: ""; }

.ico--caret-right::before {
  content: ""; }

.ico--caret-up::before {
  content: ""; }

.ico--cart::before {
  content: ""; }

.ico--cart2::before {
  content: ""; }

.ico--chat::before {
  content: ""; }

.ico--checking::before {
  content: ""; }

.ico--checkmark-fill::before {
  content: ""; }

.ico--checkmark::before {
  content: ""; }

.ico--chevron-down::before {
  content: ""; }

.ico--chevron-left::before {
  content: ""; }

.ico--chevron-right::before {
  content: ""; }

.ico--chevron-up::before {
  content: ""; }

.ico--clock::before {
  content: ""; }

.ico--close-circle-fill::before {
  content: ""; }

.ico--close-circle::before {
  content: ""; }

.ico--close-thick::before {
  content: ""; }

.ico--close::before {
  content: ""; }

.ico--collapse::before {
  content: ""; }

.ico--community::before {
  content: ""; }

.ico--connectivity::before {
  content: ""; }

.ico--contact-us::before {
  content: ""; }

.ico--customer::before {
  content: ""; }

.ico--data::before {
  content: ""; }

.ico--device-phone-tablet::before {
  content: ""; }

.ico--device-single::before {
  content: ""; }

.ico--device-support::before {
  content: ""; }

.ico--device::before {
  content: ""; }

.ico--download-csv::before {
  content: ""; }

.ico--download-pdf::before {
  content: ""; }

.ico--download::before {
  content: ""; }

.ico--edit::before {
  content: ""; }

.ico--envelope::before {
  content: ""; }

.ico--expand::before {
  content: ""; }

.ico--facebook::before {
  content: ""; }

.ico--faqs::before {
  content: ""; }

.ico--funnel::before {
  content: ""; }

.ico--heart::before {
  content: ""; }

.ico--incorrect::before {
  content: ""; }

.ico--info::before {
  content: ""; }

.ico--instagram::before {
  content: ""; }

.ico--international::before {
  content: ""; }

.ico--link-off::before {
  content: ""; }

.ico--list::before {
  content: ""; }

.ico--lock::before {
  content: ""; }

.ico--lost-stolen::before {
  content: ""; }

.ico--magnifying-glass::before {
  content: ""; }

.ico--menu::before {
  content: ""; }

.ico--messenger::before {
  content: ""; }

.ico--minus::before {
  content: ""; }

.ico--pay-bill::before {
  content: ""; }

.ico--payment-activity::before {
  content: ""; }

.ico--plans-services::before {
  content: ""; }

.ico--plans::before {
  content: ""; }

.ico--play::before {
  content: ""; }

.ico--plus::before {
  content: "+"; }

.ico--print::before {
  content: ""; }

.ico--promotion::before {
  content: ""; }

.ico--report-issue::before {
  content: ""; }

.ico--ribbon-empty::before {
  content: ""; }

.ico--ribbon-filled::before {
  content: ""; }

.ico--shipping::before {
  content: ""; }

.ico--snapchat::before {
  content: ""; }

.ico--sort::before {
  content: ""; }

.ico--sprint-logo::before {
  content: ""; }

.ico--star-rounded::before {
  content: ""; }

.ico--star::before {
  content: ""; }

.ico--starburst::before {
  content: ""; }

.ico--status-hidden::before {
  content: ""; }

.ico--status-visible::before {
  content: ""; }

.ico--tablet::before {
  content: ""; }

.ico--talk::before {
  content: ""; }

.ico--tep-apple::before {
  content: ""; }

.ico--tep-basic::before {
  content: ""; }

.ico--tep-plus::before {
  content: ""; }

.ico--text::before {
  content: ""; }

.ico--thumbs-down::before {
  content: ""; }

.ico--thumbs-up::before {
  content: ""; }

.ico--trashcan::before {
  content: ""; }

.ico--twitter::before {
  content: ""; }

.ico--usage::before {
  content: ""; }

.ico--valid::before {
  content: ""; }

.ico--view-bill::before {
  content: ""; }

.ico--warning::before {
  content: ""; }

.ico--youtube::before {
  content: ""; }

.ico--sm {
  font-size: 1.45em; }

.ico--md {
  font-size: 1.9em; }

.ico--lg {
  font-size: 2.35em; }

.ico--fw {
  width: 1.2857em;
  text-align: center; }

.ico--yellow {
  color: #ffce0a; }

.ico--black {
  color: #000000; }

.ico--white {
  color: #ffffff; }

.ico--purple {
  color: #7d4eff; }

.ico--red {
  color: #d8111b; }

.ico--blue {
  color: #0668e8; }

.ico--green {
  color: #7ed321; }

.ico--gray {
  color: #666666; }

.ico--gray-light {
  color: #818181; }

.sprint-app {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 100vh;
  overflow: hidden; }
  @media (min-width: 64em) {
    .sprint-app {
      min-height: calc(100vh - 130px); } }
  .sprint-app main {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }

.layout-header {
  position: fixed;
  width: 100%;
  font-family: "SprintSansWeb", "Helvetica", "Arial Unicode MS", sans-serif;
  z-index: 101;
  top: 0;
  left: 0;
  transition: transform 350ms cubic-bezier(0.63, 0.64, 0.3, 1); }
.layout-header * {
  box-sizing: border-box; }
@media (min-width: 64em) {
  .layout-header.is-scrolled {
    -ms-transform: translateY(-50px);
    transform: translateY(-50px); } }


.sprint-header-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto; }
  @media (min-width: 64em) {
    .sprint-header-inner {
      padding: 0 40px; } }
  @media (min-width: 64em) {
    .sprint-header-inner {
      position: relative; } }
  .sprint-header-inner a {
    text-decoration: none;
  }
  .sprint-header-inner a:hover {
    text-decoration: underline;
  }

@media (max-width: 47.99em) {
  .sprint-header-hide-mobile {
    display: none; } }

.sprint-header-caret::after {
  font-size: .8em;
  padding-left: 5px; }

.sprint-header-caret::after {
  content: "";
  display: inline-block; }

.sprint-header-caret.is-active::after {
  content: "";
  display: inline-block; }

.sprint-header-caret:hover::after {
  text-decoration: underline; }

.sprint-header-caret:hover::after {
  text-decoration: none; }

.sprint-header-top {
  position: relative;
  background-color: #373737;
  color: #ffffff;
  z-index: 10; }
  .sprint-header-top .sprint-header-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.sprint-header-top__permalink {
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  line-height: 1; }
  .sprint-header-top__permalink:focus, .sprint-header-top__permalink:hover {
    color: #ffffff; }
  .sprint-header-top__permalink + .sprint-header-top__permalink {
    margin-left: 20px; }

.sprint-header-options,
.sprint-header-transfer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.sprint-header-redirect {
  line-height: 0; }
  @media (max-width: 47.99em) {
    .sprint-header-redirect {
      display: none; } }

.sprint-header-options {
  height: 45px; }
  @media (max-width: 47.99em) {
    .sprint-header-options {
      width: 100%;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (min-width: 64em) {
    .sprint-header-options {
      height: 50px; } }

.sprint-header-transfer__col {
  height: 50px;
  padding-left: 20px;
  line-height: 0; }

.sprint-header-transfer__permalink {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  line-height: 1;
  color: #ffffff; }
  .sprint-header-transfer__permalink:hover, .sprint-header-transfer__permalink:focus {
    color: #ffffff; }

.sprint-header-telesales__permalink {
  font-size: 14px;
  color: #ffffff; }
  @media (min-width: 48em) {
    .sprint-header-telesales__permalink {
      font-size: 20px; } }
  .sprint-header-telesales__permalink:hover, .sprint-header-telesales__permalink:focus {
    color: #ffffff; }

.sprint-header-bottom {
  position: relative;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transition: top 0.3s ease-in-out;
  top: 0; }

.sprint-header-meta,
.sprint-header-tools {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media (min-width: 64em) {
  .sprint-header-meta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 4; } }

.sprint-header-logo {
  position: relative;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 15px;
  z-index: 5; }
  .sprint-header-logo img {
    width: 45px;
    height: 45px;
    fill: #ffce0a;
    transition: fill 250ms ease; }
  .sprint-header-logo:hover svg, .sprint-header-logo:focus svg {
    fill: #373737; }

.sprint-header-auth-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  width: 100%;
  max-width: 950px;
  background-color: #ffffff;
  border-width: 0 0 1px 0px;
  text-align: left;
  color: #373737;
  line-height: 1;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  transition: opacity 200ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1);
  transition: transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 200ms cubic-bezier(0.63, 0.64, 0.3, 1);
  transition: transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 200ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1);
  opacity: 0;
  box-shadow: 0 6px 6px 4px rgba(0, 0, 0, 0.07), 5px 0px 5px -3px rgba(255, 255, 255, 0), -5px 0px 5px -3px rgba(255, 255, 255, 0);
  pointer-events: none;
  z-index: 150; }
  @media (min-width: 64em) {
    .sprint-header-auth-dropdown {
      top: 50px; } }
  @media (min-width: 950px) {
    .sprint-header-auth-dropdown {
      border-width: 0 1px 1px 1px; } }
  .sprint-header-auth-dropdown::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 45px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #ffffff; }
    @media (min-width: 48em) {
      .sprint-header-auth-dropdown::before {
        right: 105px; } }
    @media (min-width: 64em) {
      .sprint-header-auth-dropdown::before {
        right: 125px; } }
  .sprint-header-auth-dropdown a:not(.nav-button-secondary) {
    color: #0668e8;
    margin: 0; }
  .sprint-header-auth-dropdown .sprint-picker__label {
    font-size: 14px;
    line-height: 1.3; }

.is-active ~ .sprint-header-auth-dropdown {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: all; }
  @media (max-width: 35.49em) {
    .is-active ~ .sprint-header-auth-dropdown {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      height: calc(100vh - 45px); } }

.layout-header-simple {
  position: relative;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff; }
  @media (min-width: 64em) {
    .layout-header-simple .sprint-header-logo {
      margin-right: 40px; } }
  .layout-header-simple nav {
    line-height: 1; }
    .layout-header-simple nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
    .layout-header-simple nav li {
      float: left;
      display: inline-block; }
    .layout-header-simple nav li + li {
      margin-left: 20px; }
      @media (min-width: 64em) {
        .layout-header-simple nav li + li {
          margin-left: 50px; } }
    .layout-header-simple nav a {
      position: relative;
      display: block;
      height: 60px;
      padding: 0;
      font-size: 36px;
      color: #000000;
      border-bottom: 1px solid #cecfcf;
      outline: none !important;
      text-decoration: none;
      border-bottom: 0;
      font-size: 16px;
      outline: none; }
      @media (min-width: 64em) {
        .layout-header-simple nav a {
          height: 80px;
          font-size: 20px; } }
      .layout-header-simple nav a:hover span::before, .layout-header-simple nav a:focus span::before {
        border-color: #ffce0a;
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
        transition: -webkit-transform 150ms 50ms ease;
        transition: transform 150ms 50ms ease;
        transition: transform 150ms 50ms ease, -webkit-transform 150ms 50ms ease; }
      .layout-header-simple nav a span {
        position: relative;
        display: block;
        height: inherit;
        line-height: 60px;
        overflow: hidden; }
        @media (min-width: 64em) {
          .layout-header-simple nav a span {
            line-height: 80px; } }
        .layout-header-simple nav a span::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          border-top: 7px solid #ffce0a;
          -webkit-transform: translateY(-7px);
              -ms-transform: translateY(-7px);
                  transform: translateY(-7px);
          transition: -webkit-transform 150ms 150ms ease;
          transition: transform 150ms 150ms ease;
          transition: transform 150ms 150ms ease, -webkit-transform 150ms 150ms ease; }

.sprint-header-simple .sprint-header-inner {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.checkout-header {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #cecfcf;
  height: 60px;
  z-index: 100; }
  @media (min-width: 64em) {
    .checkout-header {
      height: 80px; } }
  .checkout-header .sprint-header__logo {
    margin-right: 0; }

.checkout-header__container {
  background: #ffffff;
  position: relative; }

@media (max-width: 35.49em) {
  .checkout-header__headline,
  .checkout-header__continue {
    display: none; } }

.checkout-header__headline h1 {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin: 0; }
  @media (min-width: 48em) {
    .checkout-header__headline h1 {
      font-size: 24px; } }

.checkout-header__continue {
  font-size: 14px;
  font-weight: 500; }

.checkout-header__telesales a {
  font-size: 20px;
  color: #000000; }
  .checkout-header__telesales a::before {
    content: "";
    display: inline-block;
    font-size: 25px;
    text-decoration: none; }
  @media (min-width: 64em) {
    .checkout-header__telesales a::before {
      display: none; } }
  .checkout-header__telesales a:focus, .checkout-header__telesales a:hover {
    color: #004198;
    text-decoration: underline; }
  @media (max-width: 63.99em) {
    .checkout-header__telesales a span {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0 0 0 0);
      clip: rect(0, 0, 0, 0); } }

.checkout-header__chat a {
  color: #000000; }
  .checkout-header__chat a::before {
    content: "";
    display: inline-block;
    font-size: 25px;
    text-decoration: none; }
  .checkout-header__chat a:focus, .checkout-header__chat a:hover {
    color: #004198;
    text-decoration: underline; }

.checkout-header__cart {
  height: 60px; }
  @media (min-width: 64em) {
    .checkout-header__cart {
      height: 80px; } }

.sprint-header-nav {
  line-height: 1;
  opacity: 0;
  visibility: hidden; }
  @media (max-width: 63.99em) {
    .sprint-header-nav {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-top: 1px solid #cecfcf;
      box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.07), 5px 0px 5px -3px rgba(255, 255, 255, 0), -5px 0px 5px -3px rgba(255, 255, 255, 0);
      -webkit-transform: translateY(150%);
          -ms-transform: translateY(150%);
              transform: translateY(150%);
      transition: opacity 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 450ms cubic-bezier(0.63, 0.64, 0.3, 1);
      transition: transform 450ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1);
      transition: transform 450ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 450ms cubic-bezier(0.63, 0.64, 0.3, 1);
      opacity: 0;
      visibility: hidden;
      pointer-events: none; } }
  @media (min-width: 64em) {
    .sprint-header-nav {
      background-color: transparent;
      opacity: 1;
      visibility: visible; } }
  @media (max-width: 63.99em) {
    .sprint-header-nav.is-open {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transition: opacity 250ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 250ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1);
      transition: transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 250ms cubic-bezier(0.63, 0.64, 0.3, 1);
      transition: transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 250ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1); } }
  .sprint-header-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }

@media (max-width: 63.99em) {
  .sprint-header-nav::before, .sprint-header-nav::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0; } }

@media (max-width: 63.99em) {
  .sprint-header-nav::before {
    border-bottom-color: #cecfcf;
    border-width: 12px;
    left: 20px; } }

@media (max-width: 63.99em) {
  .sprint-header-nav::after {
    border-bottom-color: #ffffff;
    border-width: 11px;
    left: 21px;
    z-index: 3; } }

.sprint-menu {
  position: relative;
  -webkit-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
          transform: translateX(0vw);
  transition: -webkit-transform 350ms cubic-bezier(0.63, 0.64, 0.3, 1);
  transition: transform 350ms cubic-bezier(0.63, 0.64, 0.3, 1);
  transition: transform 350ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 350ms cubic-bezier(0.63, 0.64, 0.3, 1);
  background-color: #ffffff; }
  @media (min-width: 64em) {
    .sprint-menu {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-transform: none !important;
          -ms-transform: none !important;
              transform: none !important;
      transition: none; } }
  .sprint-menu > li {
    outline: none; }
    @media (max-width: 63.99em) {
      .sprint-menu > li {
        width: 100%;
        padding: 0;
        margin: 0; } }
    @media (min-width: 64em) {
      .sprint-menu > li:hover .sprint-menu__root-content, .sprint-menu > li:focus .sprint-menu__root-content {
        visibility: visible;
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
        transition: visibility 50ms cubic-bezier(0.63, 0.64, 0.3, 1), border-top 50ms 750ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 550ms 300ms cubic-bezier(0.63, 0.64, 0.3, 1);
        transition: transform 550ms 300ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 50ms cubic-bezier(0.63, 0.64, 0.3, 1), border-top 50ms 750ms cubic-bezier(0.63, 0.64, 0.3, 1);
        transition: transform 550ms 300ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 50ms cubic-bezier(0.63, 0.64, 0.3, 1), border-top 50ms 750ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 550ms 300ms cubic-bezier(0.63, 0.64, 0.3, 1); } }
    @media (min-width: 64em) {
      .sprint-menu > li:hover .sprint-menu__root, .sprint-menu > li:focus .sprint-menu__root {
        text-decoration: none;
        outline: none;
        color: #000000; } }
    @media (min-width: 64em) {
      .sprint-menu > li:hover .sprint-menu__root::before, .sprint-menu > li:hover .sprint-menu__root::after, .sprint-menu > li:focus .sprint-menu__root::before, .sprint-menu > li:focus .sprint-menu__root::after {
        opacity: 1;
        -webkit-transform: translateY(1px);
            -ms-transform: translateY(1px);
                transform: translateY(1px);
        transition: opacity 100ms 850ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 100ms 850ms cubic-bezier(0.63, 0.64, 0.3, 1);
        transition: transform 100ms 850ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 100ms 850ms cubic-bezier(0.63, 0.64, 0.3, 1);
        transition: transform 100ms 850ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 100ms 850ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 100ms 850ms cubic-bezier(0.63, 0.64, 0.3, 1); } }
    .sprint-menu > li:hover .sprint-menu__root span::before, .sprint-menu > li:focus .sprint-menu__root span::before {
      border-color: #ffce0a;
      width: 100%;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      transition: -webkit-transform 350ms 150ms ease;
      transition: transform 350ms 150ms ease;
      transition: transform 350ms 150ms ease, -webkit-transform 350ms 150ms ease; }

.sprint-menu__root {
  position: relative;
  display: block;
  padding: 40px 20px;
  font-size: 36px;
  color: #000000;
  border-bottom: 1px solid #cecfcf;
  outline: none !important;
  z-index: 5; }
  @media (min-width: 64em) {
    .sprint-menu__root {
      height: 80px;
      padding: 0 25px;
      border-bottom: 0;
      font-size: 20px; } }
  .sprint-menu__root::after {
    content: ""; }
    @media (max-width: 63.99em) {
      .sprint-menu__root::after {
        position: absolute;
        top: 50%;
        right: 20px;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        font-size: 20px;
        color: #0668e8; } }
  @media (min-width: 64em) {
    .sprint-menu__root::before, .sprint-menu__root::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      margin: 0 auto;
      border-style: solid;
      border-color: transparent;
      border-top: 0;
      opacity: 0;
      -webkit-transform: translateY(5px);
          -ms-transform: translateY(5px);
              transform: translateY(5px); } }
  @media (min-width: 64em) {
    .sprint-menu__root::before {
      border-bottom-color: #cecfcf;
      border-width: 15px; } }
  @media (min-width: 64em) {
    .sprint-menu__root::after {
      border-bottom-color: #ffffff;
      border-width: 14px;
      z-index: 3; } }
  @media (min-width: 64em) {
    .sprint-menu__root span {
      position: relative;
      display: block;
      height: inherit;
      padding: 30px 0;
      overflow: hidden; } }
  @media (min-width: 64em) {
    .sprint-menu__root span::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-top: 7px solid #ffce0a;
      -webkit-transform: translateY(-7px);
          -ms-transform: translateY(-7px);
              transform: translateY(-7px);
      transition: -webkit-transform 350ms 50ms ease;
      transition: transform 350ms 50ms ease;
      transition: transform 350ms 50ms ease, -webkit-transform 350ms 50ms ease; } }

@media (max-width: 63.99em) {
  .sprint-menu__root-content {
    display: none; } }

@media (min-width: 64em) {
  .sprint-menu__root-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: absolute;
    top: 100%;
    left: -10px;
    width: 945px;
    background-color: #ffffff;
    padding: 45px 35px;
    border-top: 1px solid rgba(206, 207, 207, 0.6);
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.07), 5px 0px 5px -3px rgba(0, 0, 0, 0.07), -5px 0px 5px -3px rgba(0, 0, 0, 0.07);
    visibility: hidden;
    -webkit-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
            transform: translateY(-500px);
    transition: visibility 50ms 600ms ease, -webkit-transform 500ms cubic-bezier(0.63, 0.64, 0.3, 1);
    transition: transform 500ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 50ms 600ms ease;
    transition: transform 500ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 50ms 600ms ease, -webkit-transform 500ms cubic-bezier(0.63, 0.64, 0.3, 1);
    z-index: 1; } }

.sprint-menu__root-content a {
  font-size: 16px;
  color: #0668e8;
  text-decoration: none; }
  .sprint-menu__root-content a:focus, .sprint-menu__root-content a:hover {
    color: #004198;
    text-decoration: underline; }

@media (max-width: 63.99em) {
  .is-open + .sprint-menu__root-content {
    display: block; } }

.sprint-menu__extra,
.sprint-menu__submenu-container {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

@media (max-width: 63.99em) {
  .sprint-menu__submenu-container {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 100vw;
    background-color: #ffffff;
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.07), 5px 0px 5px -3px rgba(255, 255, 255, 0), -5px 0px 5px -3px rgba(255, 255, 255, 0); } }

@media (min-width: 64em) {
  .sprint-menu__submenu-container {
    width: 100%;
    box-shadow: none; } }

.sprint-menu__extra {
  display: none;
  width: 30%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }
  @media (min-width: 64em) {
    .sprint-menu__extra {
      display: block; } }

.sprint-menu__submenu {
  width: 100%; }
  @media (min-width: 64em) {
    .sprint-menu__submenu {
      float: left;
      width: 25%;
      padding-right: 35px; } }
  .sprint-menu__submenu > a,
  .sprint-menu__submenu.has-grouping .sprint-menu__submenu-children a {
    font-weight: 500; }
    @media (max-width: 63.99em) {
      .sprint-menu__submenu > a,
      .sprint-menu__submenu.has-grouping .sprint-menu__submenu-children a {
        display: block;
        padding: 25px 20px;
        border-bottom: 1px solid #cecfcf; } }
    @media (min-width: 64em) {
      .sprint-menu__submenu > a,
      .sprint-menu__submenu.has-grouping .sprint-menu__submenu-children a {
        display: block;
        padding-bottom: 18px;
        margin-bottom: 18px;
        border-bottom: 1px solid #e2e2e2; } }
  .sprint-menu__submenu:last-of-type > span {
    margin-bottom: 0; }
  @media (max-width: 63.99em) {
    .sprint-menu__submenu.has-children > a::after {
      content: "";
      position: absolute;
      right: 20px; } }
  .sprint-menu__submenu.has-grouping > a {
    display: none; }
  .sprint-menu__submenu.has-grouping .sprint-menu__back-button + li {
    margin-top: 0; }
  .sprint-menu__submenu.has-grouping .sprint-menu__back-button {
    display: none; }

@media (max-width: 63.99em) {
  .sprint-menu__submenu-children {
    display: none;
    position: absolute;
    top: 0;
    left: 100vw;
    width: 100vw;
    background-color: #ffffff;
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.07), 5px 0px 5px -3px rgba(255, 255, 255, 0), -5px 0px 5px -3px rgba(255, 255, 255, 0); } }

@media (max-width: 63.99em) {
  .has-grouping .sprint-menu__submenu-children {
    display: block;
    position: static; } }

@media (max-width: 63.99em) {
  .sprint-menu__submenu-children a {
    display: block;
    padding: 25px 20px;
    border-bottom: 1px solid #cecfcf; } }

@media (min-width: 64em) {
  .sprint-menu__submenu-children li + li {
    margin-top: 20px; } }

@media (max-width: 63.99em) {
  .is-open + .sprint-menu__submenu-children {
    display: block; } }

.sprint-menu__extra {
  padding-left: 35px;
  border-left: 1px solid #e2e2e2; }
  .sprint-menu__extra h1,
  .sprint-menu__extra h2,
  .sprint-menu__extra h3,
  .sprint-menu__extra h4,
  .sprint-menu__extra h5,
  .sprint-menu__extra h6 {
    font-size: 30px;
    margin-top: 0;
    line-height: 1; }
  .sprint-menu__extra p,
  .sprint-menu__extra ul,
  .sprint-menu__extra ol {
    line-height: 24px;
    letter-spacing: -.02em; }
  .sprint-menu__extra ul {
    list-style: disc; }
  .sprint-menu__extra ul, .sprint-menu__extra ol {
    padding-left: 20px; }

@media (min-width: 64em) {
  .sprint-menu__extra + .sprint-menu__submenu-container {
    width: 70%; } }

@media (min-width: 64em) {
  .sprint-menu__extra + .sprint-menu__submenu-container .sprint-menu__submenu {
    width: 33.333%; } }

@media (min-width: 64em) {
  .sprint-menu__back-button {
    display: none;
    visibility: hidden; } }

.sprint-menu__back-button button {
  position: relative;
  display: block;
  width: 100%;
  background-color: #ffffff;
  padding: 20px 20px;
  border: none;
  border-bottom: 1px solid #cecfcf;
  font-size: 20px;
  text-align: center;
  outline: none;
  cursor: pointer; }
  .sprint-menu__back-button button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #0668e8; }

@media (max-width: 63.99em) {
  .has__active-nav main::before {
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); } }

.sprint-header-mobile-support {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 20px !important; }
  @media (min-width: 48em) {
    .sprint-header-mobile-support {
      display: none; } }
  .sprint-header-mobile-support a {
    display: inline-block; }
  .sprint-header-mobile-support a + a {
    margin-left: 20px; }

.sprint-header-mobile-support__redirect a {
  font-size: 12px; }

.sprint-header-mobile-support__stores a {
  font-size: 14px; }

.sprint-header-hamburger {
  border: 0;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  background-color: transparent;
  outline: none; }
  @media (min-width: 64em) {
    .sprint-header-hamburger {
      display: none; } }
  .sprint-header-hamburger::before {
    content: ""; }
  .sprint-header-hamburger::before {
    font-size: 24px; }
  .sprint-header-hamburger:hover, .sprint-header-hamburger:focus {
    background-color: transparent; }
  .sprint-header-hamburger.is-open::before {
    content: ""; }

.sprint-header-tools {
  position: relative; }

.sprint-header-actions {
  position: relative; }
  .sprint-header-actions::before {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 20px);
    top: 10px;
    left: 0;
    border-left: 1px solid #e2e2e2;
    z-index: 5; }

.sprint-header-actions__col {
  height: 60px;
  margin-left: 20px; }
  @media (min-width: 48em) {
    .sprint-header-actions__col {
      position: relative;
      height: 80px; } }

.sprint-header-actions__button {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 30px;
  color: #000000;
  line-height: 1;
  vertical-align: middle;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-decoration: none;
  text-align: center;
  z-index: 5; }
  .sprint-header-actions__button:hover, .sprint-header-actions__button:focus {
    background-color: transparent;
    color: #004198;
    outline: none; }
    .sprint-header-actions__button:hover::before, .sprint-header-actions__button:focus::before {
      text-decoration: underline; }
    .sprint-header-actions__button:hover::before, .sprint-header-actions__button:focus::before {
      text-decoration: none; }
  .sprint-header-actions__button::before {
    position: absolute;
    display: block !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .sprint-header-actions__button::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 50%;
    width: 0;
    height: 0;
    -webkit-transform: translate(-50%, 100%);
        -ms-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #373737;
    opacity: 0;
    visibility: hidden;
    transition: opacity 100ms 50ms linear, visibility 100ms 50ms linear, -webkit-transform 300ms linear;
    transition: transform 300ms linear, opacity 100ms 50ms linear, visibility 100ms 50ms linear;
    transition: transform 300ms linear, opacity 100ms 50ms linear, visibility 100ms 50ms linear, -webkit-transform 300ms linear; }
    @media (min-width: 48em) {
      .sprint-header-actions__button::after {
        top: 45px; } }
    @media (min-width: 64em) {
      .sprint-header-actions__button::after {
        right: 45px; } }
  .sprint-header-actions__button.is-toggled::after, .sprint-header-actions__button.is-disabled::after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    transition: opacity 100ms linear, visibility 100ms linear, -webkit-transform 300ms linear;
    transition: transform 300ms linear, opacity 100ms linear, visibility 100ms linear;
    transition: transform 300ms linear, opacity 100ms linear, visibility 100ms linear, -webkit-transform 300ms linear; }
    @media (min-width: 64em) {
      .sprint-header-actions__button.is-toggled::after, .sprint-header-actions__button.is-disabled::after {
        right: 45px; } }
  .sprint-header-actions__button.is-toggled:not(.is-disabled)::before {
    content: "";
    font-size: 22px; }
  .sprint-header-actions__button.is-toggled:not(.is-disabled) .sprint-header-actions__dot {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    transition: opacity 100ms linear, -webkit-transform 100ms linear;
    transition: transform 100ms linear, opacity 100ms linear;
    transition: transform 100ms linear, opacity 100ms linear, -webkit-transform 100ms linear; }

.button--mail::before {
  content: ""; }

.button--mail.has-notification .sprint-header-actions__dot {
  background-color: #0668e8;
  color: #fff; }

.button--cart::before {
  content: ""; }

.button--cart.has-notification .sprint-header-actions__dot {
  background-color: #7d4eff;
  color: #fff;
  opacity: 1; }

.sprint-header-actions__dot {
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: #e2e2e2;
  font-size: 8px;
  line-height: 15px;
  border-radius: 50%;
  text-align: center;
  opacity: 0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  transition: opacity 250ms 100ms linear, -webkit-transform 250ms 100ms linear;
  transition: transform 250ms 100ms linear, opacity 250ms 100ms linear;
  transition: transform 250ms 100ms linear, opacity 250ms 100ms linear, -webkit-transform 250ms 100ms linear; }
  .button--cart .sprint-header-actions__dot {
    top: 3px;
    left: 12px; }
  .button--mail .sprint-header-actions__dot {
    top: 0px;
    right: -5px; }

.sprint-header-actions__dot--hide {
  display: none; }

.sprint-header-actions__dropdown {
  position: absolute;
  top: 100%;
  right: -20px;
  width: 100vw;
  height: calc(100vh - 105px);
  background-color: #373737;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: visibility 50ms 300ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 300ms cubic-bezier(0.63, 0.64, 0.3, 1);
  transition: transform 300ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 50ms 300ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1);
  transition: transform 300ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 50ms 300ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 300ms cubic-bezier(0.63, 0.64, 0.3, 1);
  z-index: -1;
  overflow: hidden; }
  @media (min-width: 48em) {
    .sprint-header-actions__dropdown {
      width: 27.5rem; } }
  @media (min-width: 64em) {
    .sprint-header-actions__dropdown {
      right: -30px;
      height: calc(100vh - 130px); } }

.is-toggled:not(.is-disabled) + .sprint-header-actions__dropdown {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  transition: opacity 250ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 300ms cubic-bezier(0.63, 0.64, 0.3, 1);
  transition: transform 300ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms cubic-bezier(0.63, 0.64, 0.3, 1);
  transition: transform 300ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 300ms cubic-bezier(0.63, 0.64, 0.3, 1); }

@media (min-width: 64em) {
  .node-cart-persist .sprint-header-actions__dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    transition: opacity 250ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 300ms cubic-bezier(0.63, 0.64, 0.3, 1);
    transition: transform 300ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms cubic-bezier(0.63, 0.64, 0.3, 1);
    transition: transform 300ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 300ms cubic-bezier(0.63, 0.64, 0.3, 1); } }

.sprint-header-search {
  position: relative;
  z-index: 5; }
  @media (max-width: 47.99em) {
    .sprint-header-search {
      position: absolute;
      top: 100%;
      right: -20px;
      width: 100vw;
      background-color: #ffffff;
      border-top: 1px solid #cecfcf;
      padding: 10px 20px;
      box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.07), 5px 0px 5px -3px rgba(255, 255, 255, 0), -5px 0px 5px -3px rgba(255, 255, 255, 0);
      -webkit-transform: translateY(250%);
          -ms-transform: translateY(250%);
              transform: translateY(250%);
      transition: opacity 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1);
      transition: transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1);
      transition: transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 250ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1);
      opacity: 0;
      visibility: hidden;
      pointer-events: none; } }
  @media (min-width: 48em) {
    .sprint-header-search {
      padding: 10px 0; } }
  @media (max-width: 47.99em) {
    .has__active-search .sprint-header-search {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transition: opacity 250ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 250ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1);
      transition: transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 250ms cubic-bezier(0.63, 0.64, 0.3, 1);
      transition: transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1), opacity 250ms cubic-bezier(0.63, 0.64, 0.3, 1), visibility 250ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 250ms cubic-bezier(0.63, 0.64, 0.3, 1); } }

@media (max-width: 47.99em) {
  .sprint-header-search::before, .sprint-header-search::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0; } }

@media (max-width: 47.99em) {
  .sprint-header-search::before {
    border-bottom-color: #cecfcf;
    border-width: 12px;
    right: 88px; } }

@media (max-width: 47.99em) {
  .sprint-header-search::after {
    border-bottom-color: #ffffff;
    border-width: 11px;
    right: 89px;
    z-index: 3; } }

.sprint-header-search__slide {
  position: relative;
  z-index: 1; }
  @media (min-width: 48em) {
    .sprint-header-search__slide {
      width: 300px;
      height: 60px;
      -webkit-transform: translateX(40px);
          -ms-transform: translateX(40px);
              transform: translateX(40px);
      transition: width 300ms 200ms ease, -webkit-transform 300ms 200ms ease;
      transition: transform 300ms 200ms ease, width 300ms 200ms ease;
      transition: transform 300ms 200ms ease, width 300ms 200ms ease, -webkit-transform 300ms 200ms ease; } }
  @media (min-width: 48em) {
    .has__active-search .sprint-header-search__slide {
      width: 450px;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); } }

.sprint-header-search__input-wrap {
  position: relative; }
  @media (min-width: 48em) {
    .sprint-header-search__input-wrap {
      width: calc(100% - 60px);
      height: inherit; } }
  .has__active-search .sprint-header-search__input-wrap {
    border-color: transparent; }

.sprint-header-search__input[type="search"] {
  width: 100%;
  font-size: 20px;
  line-height: 1;
  outline: none;
  box-sizing: border-box; }
  @media (max-width: 47.99em) {
    .sprint-header-search__input[type="search"] {
      border-left: 1px solid #e2e2e2;
      border-width: 0 0 0 1px;
      padding: 20px 0px 20px 40px; } }
  @media (min-width: 48em) {
    .sprint-header-search__input[type="search"] {
      height: inherit;
      padding: 20px 20px;
      border: 0;
      border-bottom: 2px solid #e2e2e2;
      transition: width 500ms 350ms ease; } }
  @media (min-width: 48em) {
    .has__active-search .sprint-header-search__input[type="search"] {
      border: 2px solid #e2e2e2;
      padding: 10px 20px 10px 35px; } }
  .sprint-header-search__input[type="search"]::-webkit-input-placeholder {
    color: #000000;
    opacity: 1; }
  .sprint-header-search__input[type="search"]::-moz-placeholder {
    color: #000000;
    opacity: 1; }
  .sprint-header-search__input[type="search"]:-ms-input-placeholder {
    color: #000000;
    opacity: 1; }
  .sprint-header-search__input[type="search"]::placeholder {
    color: #000000;
    opacity: 1; }
    @media (min-width: 48em) {
      .sprint-header-search__input[type="search"]::-webkit-input-placeholder {
        color: transparent; }
      .sprint-header-search__input[type="search"]::-moz-placeholder {
        color: transparent; }
      .sprint-header-search__input[type="search"]:-ms-input-placeholder {
        color: transparent; }
      .sprint-header-search__input[type="search"]::placeholder {
        color: transparent; } }
  .sprint-header-search__input[type="search"]:focus::-webkit-input-placeholder {
    opacity: .5; }
  .sprint-header-search__input[type="search"]:focus::-moz-placeholder {
    opacity: .5; }
  .sprint-header-search__input[type="search"]:focus:-ms-input-placeholder {
    opacity: .5; }
  .sprint-header-search__input[type="search"]:focus::placeholder {
    opacity: .5; }
    @media (min-width: 48em) {
      .sprint-header-search__input[type="search"]:focus::-webkit-input-placeholder {
        color: transparent; }
      .sprint-header-search__input[type="search"]:focus::-moz-placeholder {
        color: transparent; }
      .sprint-header-search__input[type="search"]:focus:-ms-input-placeholder {
        color: transparent; }
      .sprint-header-search__input[type="search"]:focus::placeholder {
        color: transparent; } }
  .sprint-header-search__input[type="search"]::-ms-clear {
    display: none; }

.sprint-header-search__label {
  position: absolute;
  font-size: 20px;
  z-index: 2;
  cursor: text; }
  @media (max-width: 47.99em) {
    .sprint-header-search__label {
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 15px; } }
  @media (min-width: 48em) {
    .sprint-header-search__label {
      bottom: 10px;
      left: 0; } }
  .sprint-header-search__label::before {
    content: "";
    font-size: 15px;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
    margin-right: 8px; }
  @media (min-width: 48em) {
    .has__active-search .sprint-header-search__label {
      bottom: auto;
      top: 55%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 15px; } }
  .sprint-header-search__label span {
    opacity: 0;
    visibility: hidden; }
    @media (min-width: 48em) {
      .sprint-header-search__label span {
        opacity: 1;
        visibility: visible;
        transition: 200ms 600ms cubic-bezier(0.63, 0.64, 0.3, 1); } }
    @media (min-width: 48em) {
      .has__active-search .sprint-header-search__label span {
        opacity: 0;
        visibility: hidden;
        transition: 10ms cubic-bezier(0.63, 0.64, 0.3, 1); } }

.sprint-header-search__clear,
.sprint-header-search__close {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 150ms 100ms ease;
  display: none; }
  @media (min-width: 48em) {
    .sprint-header-search__clear,
    .sprint-header-search__close {
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }
  .has__active-search .sprint-header-search__clear, .has__active-search
  .sprint-header-search__close {
    opacity: 1;
    visibility: visible;
    pointer-events: all; }
  .has__active-search .sprint-header-search__clear::before, .has__active-search
  .sprint-header-search__close::before {
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    transition: -webkit-transform 250ms 450ms cubic-bezier(0.63, 0.64, 0.3, 1);
    transition: transform 250ms 450ms cubic-bezier(0.63, 0.64, 0.3, 1);
    transition: transform 250ms 450ms cubic-bezier(0.63, 0.64, 0.3, 1), -webkit-transform 250ms 450ms cubic-bezier(0.63, 0.64, 0.3, 1); }
  .sprint-header-search__clear:hover,
  .sprint-header-search__close:hover {
    background-color: transparent; }

.sprint-header-search__clear {
  right: 80px;
  font-size: 12px;
  color: #0668e8; }

.sprint-header-search__close {
  width: 60px;
  height: inherit;
  right: 0;
  font-size: 22px;
  opacity: 0; }
  .sprint-header-search__close::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0); }

.sprint-header-search__toggle {
  position: relative;
  padding: 10px 20px;
  margin: 0;
  border: 0;
  background-color: transparent;
  outline: none; }
  @media (min-width: 48em) {
    .sprint-header-search__toggle {
      display: none; } }
  .sprint-header-search__toggle::before {
    content: ""; }
  .sprint-header-search__toggle::before {
    font-size: 22px; }
  .has__active-search .sprint-header-search__toggle::before {
    content: ""; }
  .sprint-header-search__toggle:hover {
    background-color: transparent; }

.sprint-footer {
  background-color: #000000;
  padding: 30px 0 0;
  color: #e2e2e2;
  position: relative;
  z-index: 99;
  font-family: "SprintSansWeb", "Helvetica", "Arial Unicode MS", sans-serif; }
.sprint-footer * {
  box-sizing: border-box; }

.sprint-footer__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto; }
@media (min-width: 64em) {
  .sprint-footer__inner {
    padding: 0 40px;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media (min-width: 35.5em) {
  .sprint-footer-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none; } }

.sprint-footer-social {
  width: 280px;
  list-style-type: none;
  padding: 0;
  margin: 0; }
@media (min-width: 35.5em) {
  .sprint-footer-social {
    width: 100%;
    text-align: center;
    margin: 0 auto; } }
@media (min-width: 64em) {
  .sprint-footer-social {
    width: 280px;
    margin: 0;
    text-align: left; } }
@media (max-width: 64em) {
  .sprint-footer-social {
    width: inherit; } } 

.sprint-footer-social__item {
  display: inline-block;
  width: auto; }
.sprint-footer-social__item + .sprint-footer-social__item {
  margin-left: 10px; }

.sprint-footer-social__icon {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: #666666;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none; }
.sprint-footer-social__icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: currentColor; }
.sprint-footer-social__icon:hover, .sprint-footer-social__icon:focus {
  background-color: #ffffff;
  color: #666666; }

.sprint-footer-sitemap {
  width: 100%;
  padding-top: 20px; }
@media (min-width: 64em) {
  .sprint-footer-sitemap {
    width: calc(100% - 280px);
    max-width: calc(100% - 280px);
    padding-top: 10px; } }

.sprint-footer-nav__main,
.sprint-footer-nav__sub {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px; }
  .sprint-footer-nav__main li,
  .sprint-footer-nav__sub li {
    padding-right: 15px; }
    @media (max-width: 35.49em) {
      .sprint-footer-nav__main li,
      .sprint-footer-nav__sub li {
        width: 50%;
        max-width: 50%; } }
    @media (min-width: 35.5em) {
      .sprint-footer-nav__main li,
      .sprint-footer-nav__sub li {
        padding-right: 0; } }
  @media (min-width: 35.5em) {
    .sprint-footer-nav__main,
    .sprint-footer-nav__sub {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (min-width: 64em) {
    .sprint-footer-nav__main,
    .sprint-footer-nav__sub {
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }

    .sprint-footer-nav__main li a,
    .sprint-footer-nav__sub li a {
      text-decoration: none;
    }

    .sprint-footer-nav__main li a:hover,
    .sprint-footer-nav__sub li a:hover {
      text-decoration: underline;
    }

  .sprint-footer-nav__main a,
  .sprint-footer-nav__sub a {
    color: #ffffff;
    line-height: 1; }

.sprint-footer-nav__main li {
  margin-bottom: 5px; }

.sprint-footer-nav__main li + li {
  margin-bottom: 0; }
@media (min-width: 35.5em) {
  .sprint-footer-nav__main li + li {
    margin-left: 30px; } }

@media (min-width: 35.5em) {
  .sprint-footer-nav__sub li + li {
    margin-left: 20px; } }

.sprint-footer-nav__sub a {
  font-size: 12px; }
@media (min-width: 35.5em) {
  .sprint-footer-nav__sub a {
    font-size: 14px; } }

.sprint-footer-copyright {
  font-size: 11px;
  color: #cecfcf;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.004);
  text-align: center;
  margin-bottom: 30px; }
@media (min-width: 64em) {
  .sprint-footer-copyright {
    text-align: right; } }

.sprint-footer__legal-toggle {
  text-align: right;
  padding: 10px 0;
  border-bottom: 1px solid rgba(151, 151, 151, 0);
  transition: border-bottom 350ms cubic-bezier(0.63, 0.64, 0.3, 1); }
.sprint-footer__legal-toggle.is-toggled {
  border-bottom-color: #979797; }

.sprint-footer__legal-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 12px; }
.sprint-footer__legal-button:hover, .sprint-footer__legal-button:focus {
  background-color: transparent; }
/*.sprint-footer__legal-button::after {*/
  /*content: "";*/
  /*top: -2px;*/
  /*color: #ffce0a; }*/
.is-toggled .sprint-footer__legal-button::after {
  content: "";
  top: -1px;
  color: #ffce0a; }
.sprint-footer__legal-button::after {
  position: relative;
  margin-left: 7px;
  font-size: 10px; }

.svg-ui-plus-dims-legal {
  width: 9px;
  height: 9px;
  fill: #ffce0a;
}

.is-toggled .svg-ui-plus-dims-legal {
  display:none;
}

.sprint-footer__legal {
  background-color: #373737; }

.sprint-footer__legal-copy {
  background-color: #373737; }
.sprint-footer__legal-copy p {
  font-size: 12px;
  line-height: 18px; }
.sprint-footer__legal-copy a {
  color: #ffce0a; }

.sprint-footer__legal-copy-inner {
  display: none; }
@media (min-width: 48em) {
  .sprint-footer__legal-copy-inner {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms cubic-bezier(0.63, 0.64, 0.3, 1); } }
.sprint-footer__legal-copy-inner .container-xl {
  padding-top: 30px;
  padding-bottom: 30px; }
.is-toggled .sprint-footer__legal-copy-inner {
  display: block; }
@media (min-width: 48em) {
  .is-toggled .sprint-footer__legal-copy-inner {
    max-height: 312.5rem;
    transition: max-height 1s cubic-bezier(0.63, 0.64, 0.3, 1); } }

/*Log-in styles*/

.ico::before, .ico--accessories::before, .ico--account-preferences::before, .ico--add-line-upgrade::before, .ico--add-line::before, .ico--add-payment-method::before, .ico--alert::before, .ico--arrow-down::before, .ico--arrow-left::before, .ico--arrow-right::before, .ico--arrow-up::before, .ico--arrow-upright::before, .ico--autopay::before, .ico--billing-notification::before, .ico--billingnotification::before, .ico--calendar::before, .ico--call::before, .ico--caret-down::before, .ico--caret-left::before, .ico--caret-right::before, .ico--caret-up::before, .ico--cart::before, .ico--cart2::before, .ico--chat::before, .ico--checking::before, .ico--checkmark-fill::before, .ico--checkmark::before, .ico--chevron-down::before, .ico--chevron-left::before, .ico--chevron-right::before, .ico--chevron-up::before, .ico--clock::before, .ico--close-circle-fill::before, .ico--close-circle::before, .ico--close-thick::before, .ico--close::before, .ico--collapse::before, .ico--community::before, .ico--connectivity::before, .ico--contact-us::before, .ico--customer::before, .ico--data::before, .ico--device-phone-tablet::before, .ico--device-single::before, .ico--device-support::before, .ico--device::before, .ico--download-csv::before, .ico--download-pdf::before, .ico--download::before, .ico--edit::before, .ico--envelope::before, .ico--expand::before, .ico--facebook::before, .ico--faqs::before, .ico--funnel::before, .ico--heart::before, .ico--incorrect::before, .ico--info::before, .ico--instagram::before, .ico--international::before, .ico--link-off::before, .ico--list::before, .ico--lock::before, .ico--lost-stolen::before, .ico--magnifying-glass::before, .ico--menu::before, .ico--messenger::before, .ico--minus::before, .ico--pay-bill::before, .ico--payment-activity::before, .ico--plans-services::before, .ico--plans::before, .ico--plus::before, .ico--print::before, .ico--promotion::before, .ico--report-issue::before, .ico--ribbon-empty::before, .ico--ribbon-filled::before, .ico--shipping::before, .ico--snapchat::before, .ico--sort::before, .ico--sprint-logo::before, .ico--star-rounded::before, .ico--star::before, .ico--starburst::before, .ico--status-hidden::before, .ico--status-visible::before, .ico--tablet::before, .ico--talk::before, .ico--tep-apple::before, .ico--tep-basic::before, .ico--tep-plus::before, .ico--text::before, .ico--thumbs-down::before, .ico--thumbs-up::before, .ico--trashcan::before, .ico--twitter::before, .ico--usage::before, .ico--valid::before, .ico--view-bill::before, .ico--warning::before, .ico--youtube::before, .sprint-modal__close::before, .button--return:not(:disabled):not(.disabled):not(.button--disabled):not(.button--action):not(.button--link)::before, .button:not(:disabled):not(.disabled):not(.button--disabled):not(.button--action):not(.button--link):not(.button--return)::before, .sprint-input > input:valid:not(:disabled):not(.spa) ~ label::before, .sprint-input > input.ng-valid:not(:disabled):not(.ng-pristine) ~ label::before, .sprint-input > input.ng-invalid:not(.ng-untouched):not(.ng-pristine) ~ label::before, .sprint-input [role="tooltip"]::before, .sprint-input__hints .requirement-invalid::before, .sprint-input__hints .requirement-valid::before, .sprint-input-cc__visual::after, .sprint-select .selectize-input::after, .sprint-select .selectize-input.input-active::after, .sprint-picker input[type="checkbox"] + .sprint-picker__label::after, .sprint-picker--small input[type="checkbox"] + .sprint-picker__label::after, .sprint-selection label::after, .spr-listing__button--authorized::after, .spr-listing__button--pending::after, .spr-listing__button--remove::after, .sprint-input-calendar__icon::before, .pika-prev::before, .pika-next::before, .sprint-search__input::before, .sprint-search--invalid .sprint-search__validity::after, .sprint-search--valid .sprint-search__validity::after, .trigger-close::before, .trigger-close:hover::before, .trigger-close:focus::before, .notification-bar__close::before, .notification-bar__close:hover::before, .notification-bar__close:focus::before, .sprint-accordion__tab::before, .sprint-accordion__tab[aria-expanded="true"]::before, .sprint-banner__message li::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: 'iconfont';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  text-decoration: none;
  color: inherit;
  vertical-align: middle; }


/*auth contained*/

@media (min-width: 48em) {
  .auth-contained .auth-container--page {
    padding: 0; } }

.auth-contained .auth-heading {
  font-size: 2.625rem;
  font-weight: 300;
  margin: 0 0 1.25rem;
}

.auth-contained .auth-sidebar {
  width: 100%;
  padding: 2.5rem 0; }
@media (min-width: 48em) {
  .auth-contained .auth-sidebar {
    width: 21.875rem;
    padding: 2.5rem 1.25rem;
    border-top: 0;
    border-left: 0.0625rem solid #cecfcf; } }
@media (min-width: 64em) {
  .auth-contained .auth-sidebar {
    padding: 2.5rem; } }

.auth-contained .auth-content {
  width: 100%;
  padding: 2.5rem 0; }
@media (min-width: 48em) {
  .auth-contained .auth-content {
    width: calc(100% - 21.875rem);
    padding: 2.5rem 1.25rem; } }
@media (min-width: 64em) {
  .auth-contained .auth-content {
    padding: 2.5rem; } }

.auth-contained .auth-container--page .nav-button:not(.nav-button--lg) {
  border-radius: 6.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem 3.75rem; }

.auth-container .auth-submit {
  margin-top: 2.5rem; }

.auth-container--page.auth-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0 1.25rem; }
@media (min-width: 64em) {
  .auth-container--page.auth-container {
    padding: 0; } }

/*auth container*/
.auth-container .auth-heading {
  margin: 0 0 1.25rem;
  font-size: 2.25rem;
  line-height: 1.2; }
@media (min-width: 64em) {
  .auth-container .auth-heading {
    font-size: 2.75rem; } }

.auth-container .auth-form {
  height: 100%; }

@media (min-width: 80em) {
  .auth-container p,
  .auth-container li {
    font-size: 1.125rem; } }

.auth-container p:last-of-type,
.auth-container ul:last-of-type {
  margin-bottom: 0; }

.auth-container li {
  line-height: 1.875rem; }

.auth-container .auth-vcenter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

@media (min-width: 35.5em) {
  .auth-container .auth-submit .nav-button {
    min-width: 17.5rem; } }

.auth-container--page .auth-sidebar {
  border-top: 0.0625rem solid #cecfcf;
}

.sprint-input {
  position: relative;
  margin-bottom: 1.875rem;  }
.sprint-input > input {
  width: 100%;
  height: 3.75rem;
  padding: 1.5625rem 2.5rem 0.625rem 0;
  border: 0;
  border-bottom: 0.125rem solid #cecfcf;
  font-size: 1.125rem;
  line-height: 1;
  transition: padding 350ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1), border 350ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1);
  outline: none; }
@media (min-width: 64em) {
  .sprint-input > input {
    padding: 1.5625rem 2.5rem 0.625rem 0;
    font-size: 1.5rem; } }
.sprint-input > input:required {
  box-shadow: none; }
.sprint-input > input:focus ~ label, .sprint-input > input:disabled.ng-dirty ~ label, .sprint-input > input:valid:not(.spa) ~ label, .sprint-input > input.has-value ~ label, .sprint-input > input.ng-valid:not(.ng-pristine) ~ label, .sprint-input > input.ng-invalid.ng-touched:not(.ng-pristine) ~ label {
  top: 0.125rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  transition: top 400ms cubic-bezier(0.63, 0.64, 0.3, 1), font-size 400ms cubic-bezier(0.63, 0.64, 0.3, 1); }
.sprint-input > input:focus ~ label::before, .sprint-input > input:disabled.ng-dirty ~ label::before, .sprint-input > input:valid:not(.spa) ~ label::before, .sprint-input > input.has-value ~ label::before, .sprint-input > input.ng-valid:not(.ng-pristine) ~ label::before, .sprint-input > input.ng-invalid.ng-touched:not(.ng-pristine) ~ label::before {
  bottom: -1.5625rem; }
.sprint-input > input:valid:not(:disabled):not(.spa) ~ label::before, .sprint-input > input.ng-valid:not(:disabled):not(.ng-pristine) ~ label::before {
  content: "";
  color: #7ed321; }
.sprint-input > input.has-value, .sprint-input > input:valid:not(.spa):not(:focus):not(:disabled), .sprint-input > input.ng-valid:not(:focus):not(:disabled):not(.ng-pristine) {
  border-color: #666666;
  color: #000000; }
.sprint-input > input.has-value ~ label, .sprint-input > input:valid:not(.spa):not(:focus):not(:disabled) ~ label, .sprint-input > input.ng-valid:not(:focus):not(:disabled):not(.ng-pristine) ~ label {
  color: #0668e8;
  text-transform: uppercase; }
.sprint-input > input.has-value ~ label::before, .sprint-input > input:valid:not(.spa):not(:focus):not(:disabled) ~ label::before, .sprint-input > input.ng-valid:not(:focus):not(:disabled):not(.ng-pristine) ~ label::before {
  color: #7ed321; }
.sprint-input > input:disabled {
  background-color: #ffffff;
  border-color: #cecfcf;
  color: #cecfcf; }
.sprint-input > input:disabled ~ label {
  text-transform: uppercase;
  color: #cecfcf; }
.sprint-input > input:focus {
  border-color: #0668e8; }
.sprint-input > input.ng-invalid:not(.ng-untouched.ng-pristine) ~ label {
  text-transform: uppercase; }
.sprint-input > input.ng-invalid:not(.ng-untouched):not(.ng-pristine) ~ label::before {
  content: "";
  color: #d8111b; }
.sprint-input > input.ng-invalid.ng-touched ~ label .errors {
  visibility: visible; }
.sprint-input > input.ng-invalid:not(:disabled):not(.ng-untouched) {
  border-color: #d8111b;
  color: #d8111b; }
.sprint-input > input.ng-invalid:not(:disabled):not(.ng-untouched) ~ label {
  color: #d8111b; }
.sprint-input > input:-webkit-autofill {
  outline: none; }
.sprint-input > input:-webkit-autofill ~ label {
  text-transform: uppercase; }
.sprint-input > label {
  display: block;
  position: absolute;
  left: 0;
  top: 1.375rem;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-weight: 400;
  color: #818181;
  line-height: 1;
  transition: top 400ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1), font-size 400ms 50ms cubic-bezier(0.63, 0.64, 0.3, 1);
  pointer-events: none;
  white-space: nowrap;
  text-overflow: ellipsis; }
@media (min-width: 64em) {
  .sprint-input > label {
    top: 1.5625rem;
    font-size: 1.5rem; } }
.sprint-input > label::before {
  position: absolute;
  bottom: 0.3125rem;
  right: 0;
  font-size: 1.5rem !important;
  transition: 200ms ease;
  color: inherit; }
.sprint-input > label .tooltip + .errors {
  margin-left: 0; }

.sprint-picker {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
.sprint-picker + .sprint-picker {
  margin-top: 0.9375rem; }
.sprint-picker input[type="radio"],
.sprint-picker input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  margin-right: 10px;
  opacity: 0; }
.sprint-picker label {
  cursor: pointer;
  min-height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
.sprint-picker .sprint-picker__label {
  position: relative;
  display: inline-block;
  box-sizing: border-box; }
.sprint-picker .sprint-picker__label:not(.sprint-picker__label--hidden) {
  padding-left: 3.75rem; }
.sprint-picker .sprint-picker__label--small {
  font-size: 0.8125rem; }
.sprint-picker input[type="radio"] + .sprint-picker__label:before, .sprint-picker input[type="radio"] + .sprint-picker__label:after,
.sprint-picker input[type="checkbox"] + .sprint-picker__label:before,
.sprint-picker input[type="checkbox"] + .sprint-picker__label:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  box-sizing: inherit;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
.sprint-picker input[type="radio"] + .sprint-picker__label:before,
.sprint-picker input[type="checkbox"] + .sprint-picker__label:before {
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.125rem solid #666666; }
.sprint-picker input[type="radio"] + .sprint-picker__label:after,
.sprint-picker input[type="checkbox"] + .sprint-picker__label:after {
  opacity: 0; }
.sprint-picker input[type="radio"]:hover + .sprint-picker__label:before,
.sprint-picker input[type="checkbox"]:hover + .sprint-picker__label:before {
  border-color: #0668e8; }
.sprint-picker input[type="radio"]:focus + .sprint-picker__label:before,
.sprint-picker input[type="checkbox"]:focus + .sprint-picker__label:before {
  border-color: #0668e8; }
.sprint-picker input[type="radio"]:checked + .sprint-picker__label:before,
.sprint-picker input[type="checkbox"]:checked + .sprint-picker__label:before {
  border-color: #7ed321; }
.sprint-picker input[type="radio"]:checked + .sprint-picker__label:after,
.sprint-picker input[type="checkbox"]:checked + .sprint-picker__label:after {
  opacity: 1;
  color: #7ed321; }
.sprint-picker input[type="radio"] + .sprint-picker__label:before, .sprint-picker input[type="radio"] + .sprint-picker__label:after {
  border-radius: 100%; }
.sprint-picker input[type="radio"] + .sprint-picker__label:after {
  left: 0.5rem;
  width: calc(40px - 15px);
  height: calc(40px - 15px);
  background-color: #7ed321; }
.sprint-picker input[type="checkbox"] + .sprint-picker__label::after {
  content: "";
  color: #7ed321;
  font-size: 1.25rem;
  left: 0.625rem; }
.sprint-picker input[type="radio"]:disabled + .sprint-picker__label,
.sprint-picker input[type="checkbox"]:disabled + .sprint-picker__label {
  cursor: not-allowed;
  color: #cecfcf; }
.sprint-picker input[type="radio"]:disabled + .sprint-picker__label:before,
.sprint-picker input[type="checkbox"]:disabled + .sprint-picker__label:before {
  border-color: #cecfcf; }
.sprint-picker input[type="radio"]:disabled:checked + .sprint-picker__label:after,
.sprint-picker input[type="checkbox"]:disabled:checked + .sprint-picker__label:after {
  opacity: 1; }
.sprint-picker input[type="radio"]:disabled:checked + .sprint-picker__label:after {
  background-color: #cecfcf; }
.sprint-picker input[type="checkbox"]:disabled:checked + .sprint-picker__label:after {
  color: #cecfcf; }

.sprint-picker--small label {
  min-height: 26px; }

.sprint-picker--small input[type="radio"] + .sprint-picker__label:before,
.sprint-picker--small input[type="checkbox"] + .sprint-picker__label:before {
  width: 1.625rem;
  height: 1.625rem; }

.sprint-picker--small .sprint-picker__label {
  font-size: 1rem;
  padding-left: 2.5rem !important;
  padding-top: 0.1875rem; }

.sprint-picker--small input[type="radio"] + .sprint-picker__label:after {
  left: 0.3125rem;
  width: calc(26px - 10px);
  height: calc(26px - 10px); }

.sprint-picker--small input[type="checkbox"] + .sprint-picker__label::after {
  content: "";
  color: #7ed321;
  left: 0.3125rem;
  font-size: 1rem; }

.sprint-picker-alternate-rows {
  border-top: 0.0625rem solid #cecfcf; }
.sprint-picker-alternate-rows .sprint-picker {
  padding: 1.25rem 1.25rem;
  border-bottom: 0.0625rem solid #cecfcf; }
@media (min-width: 48em) {
  .sprint-picker-alternate-rows .sprint-picker {
    padding: 1.875rem 2.5rem; } }
.sprint-picker-alternate-rows .sprint-picker--disabled {
  cursor: not-allowed;
  background-color: #cecfcf; }
.sprint-picker-alternate-rows .sprint-picker--disabled label {
  cursor: inherit; }
.sprint-picker-alternate-rows .sprint-picker--disabled input[type="radio"]:disabled + .sprint-picker__label,
.sprint-picker-alternate-rows .sprint-picker--disabled input[type="checkbox"]:disabled + .sprint-picker__label {
  cursor: not-allowed;
  color: #666666; }
.sprint-picker-alternate-rows .sprint-picker--disabled input[type="radio"]:disabled + .sprint-picker__label:before,
.sprint-picker-alternate-rows .sprint-picker--disabled input[type="checkbox"]:disabled + .sprint-picker__label:before {
  border-color: #666666; }
.sprint-picker-alternate-rows .sprint-picker:not(:nth-child(even)):not(.sprint-picker--disabled) {
  background-color: #f4f4f4; }
.sprint-picker-alternate-rows .sprint-picker + .sprint-picker {
  margin-top: 0; }

.nav-button, .nav-button-secondary {
  background: none;
  border: 2px solid transparent;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  padding: 25px 80px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  transition: all 0.3s;
  background-color: #ffce0a;
  border-color: #ffce0a;
  color: #000000;
  border-radius: 6.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem 3.75rem; }
.nav-button-secondary {
  background-color: #ffffff;
  border-color: #ffce0a;
}
.nav-button:focus, .nav-button:active, .nav-button:hover {
  background-color: #ffce0a;
  border-color: #ffce0a;
  color: #000000; }
.nav-button:hover, .nav-button:focus, .nav-button.focus {
  text-decoration: none; }
.nav-button:focus, .nav-button.focus, .nav-button:active, .nav-button.active {
  outline: none; }
@media (max-width: 47.99em) {
  .nav-button + .nav-button {
    margin-top: 1.25rem; } }
@media (min-width: 48em) {
  .nav-button + .nav-button {
    margin-left: 1.25rem; } }

@media (max-width: 35.49em) {
  .button--full-on-mobile {
    width: 100%; } }

.has-content-overlay, .has__active-nav {
  position: relative; }
.has-content-overlay::before, .has__active-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 90; }
.has-content-overlay .hide-with-overlay {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 250ms ease; }

@media (max-width: 64em) {
  .nav-up {
    top: -110px; } }

.button-brand-blue {
  background-color: #0668e8;
  border-color: #0668e8; }

.newsletter {
  margin: -1em auto 1em 0;
  width: 90%;
  padding-bottom: 0.5em;
  display: inline-flex; }
@media(min-width: 64em) {
  .newsletter {
    width: 50%; } }
@media(max-width: 64em) {
  .newsletter {
    width: 100%; } }

.field-error-display {
  display: none;
  width: 230px;
  margin: 0 auto; }

.sprint-footer_left {
  float: left;
  width: 280px;
  padding: 1.4em 0 1.9em 0; }

@media(max-width: 64em){
  .sprint-footer_left {
    width: 100%;
    text-align: center;
    float: none; } }

.sprint-footer-sitemap {
  float: right; }

.newsletter .newsletter__legend {
  border: 0;
  line-height: 1.25;
  margin: 0;
  padding: 1.5em 0.5em 1.25em; }
.newsletter__inputs{
  display: inline-flex;
  width: 100%; }
.newsletter .newsletter__inputs > input {
  flex: 3 0 auto;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0.85em 0.8em;
  border: 2px solid #cecfcf;
  border-right: none;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 0.875rem; 
  color: #000000; }

.newsletter .newsletter__inputs > input:focus {
  border-color: #0668e8; }

.newsletter .newsletter__button[type="submit"] {
  flex: 1 0 auto;
  margin: 0;
  border-radius: 0 2em 2em 0;
  line-height: 1;
  font-size: rem(14);
  padding: 0.85em; }

@media(min-width:48em) {
  .newsletter .newsletter__button[type="submit"]{
    font-size: 0.9em;
    padding: 0.85em; } }

.ico--arrow-right::before {
  content: ""; }

.nav-button:not(:disabled):not(.disabled):not(.button--disabled):not(.nav-button--action):not(.nav-button--link):not(.nav-button--return):focus::before, .nav-button:not(:disabled):not(.disabled):not(.nav-button--disabled):not(.nav-button--action):not(.nav-button--link):not(.nav-button--return):hover::before {
  right: 20px;
  opacity: 1;
}
.nav-button-secondary:not(:disabled):not(.disabled):not(.button--disabled):not(.nav-button-secondary--action):not(.nav-button-secondary--link):not(.nav-button-secondary--return):focus::before, .nav-button-secondary:not(:disabled):not(.disabled):not(.nav-button-secondary--disabled):not(.nav-button-secondary--action):not(.nav-button-secondary--link):not(.nav-button-secondary--return):hover::before {
  right: 20px;
  opacity: 1;
}

.nav-button-secondary:hover {
  box-shadow: inset 0 0 0 3px #ffce0a;
}

.nav-button:not(:disabled):not(.disabled):not(.nav-button--disabled):not(.nav-button--action):not(.nav-button--link):not(.nav-button--return)::before {
  content: "";
  right: 40px;
  font-weight: 700;
  color: inherit;
  font-size: 80%;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.3s;
}

.nav-button-secondary:not(:disabled):not(.disabled):not(.nav-button-secondary--disabled):not(.nav-button-secondary--action):not(.nav-button-secondary--link):not(.nav-button-secondary--return)::before {
  content: "";
  right: 40px;
  font-weight: 700;
  color: inherit;
  font-size: 80%;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.3s;
}
