.top-visual, .top-visual .mypage-box .open .def-btn ul, .top.tab-frame .tab-list, .top-campaign-box .title, .top-category-box ul, .top-topics-box > .frame {
  zoom: 1;
}
.top-visual:after, .top-visual .mypage-box .open .def-btn ul:after, .top.tab-frame .tab-list:after, .top-campaign-box .title:after, .top-category-box ul:after, .top-topics-box > .frame:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
}

/*-----------------------------------------
	top
-----------------------------------------*/
/*	top-visual
-----------------------------------------*/
.top-visual {
  background-color: #ebebeb;
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 1000px;
}
.top-visual.jsTopRandam.pattern1 {
  background-image: url(/images/top-visual_01.png);
}
.top-visual.jsTopRandam.pattern2 {
  background-image: url(/images/top-visual_02.png);
}
.top-visual.jsTopRandam.pattern3 {
  background-image: url(/images/top-visual_03.png);
}
.top-visual.jsTopRandam.pattern4 {
  background-image: url(/images/top-visual_04.png);
}
.top-visual.jsTopRandam.pattern5 {
  background-image: url(/images/top-visual_05.png);
}
.top-visual.jsTopRandam.pattern6 {
  background-image: url(/images/top-visual_06.png);
}
.top-visual .frame {
  padding: 25px 0;
}
.top-visual .top-main-carousel {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 666px;
  height: 276px;
  background-color: rgba(255, 255, 255, 0.9);
  float: left;
  position: relative;
  padding: 6px;
}
.top-visual .top-main-carousel .content {
  width: 666px;
  height: 276px;
  position: relative;
  margin-top: 0 !important;
}
.top-visual .top-main-carousel .content .item {
  position: absolute;
  z-index: 2;
}
.top-visual .top-main-carousel .content .item.current {
  z-index: 3;
}
.top-visual .top-main-carousel .content .item a {
  display: block;
}
.top-visual .top-main-carousel .content .item a img {
  opacity: 1;
  transition: .3s;
}
.top-visual .top-main-carousel .content .item a:hover img {
  opacity: .7;
}
.top-visual .top-main-carousel .ui .indicator {
  position: absolute;
  left: 6px;
  right: 14px;
  bottom: 14px;
  height: 12px;
  line-height: 1;
  text-align: center;
}
.top-visual .top-main-carousel .ui .indicator > li {
  display: inline-block;
  margin: 0 8px 0 0;
}
.top-visual .top-main-carousel .ui .indicator > li a {
  position: relative;
  display: block;
  width: 52px;
  height: 12px;
  border-radius: 6px;
  background-color: #dadada;
}
.top-visual .top-main-carousel .ui .indicator > li a span {
  position: absolute;
}
.top-visual .top-main-carousel .ui .indicator > li a .label {
  top: -999em;
  left: -999em;
}
.top-visual .top-main-carousel .ui .indicator > li a .balloon {
  left: 50%;
  bottom: 16px;
  z-index: 5;
  display: none;
  width: 128px;
  line-height: 1.25;
  margin: 0 0 0 -70px;
  border-radius: 4px;
  padding: 6px;
  background-color: #555;
  background-color: rgba(88, 88, 88, 0.95);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 85.71429%;
  line-height: 1.33333;
}
.top-visual .top-main-carousel .ui .indicator > li a .balloon:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 0;
  height: 0;
  margin: 0 0 0 -5px;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: rgba(88, 88, 88, 0.95) transparent transparent transparent;
}
.top-visual .top-main-carousel .ui .indicator > li.current a {
  background-color: #fcc9cf;
  background-image: url(/images/waiting.gif);
  background-position: -52px 0;
  background-repeat: no-repeat;
}
.top-visual .top-main-carousel .ui .loop {
  position: absolute;
  right: 6px;
  bottom: 12px;
  width: 16px;
  height: 16px;
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
}
.top-visual .top-main-carousel .ui .loop:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  opacity: 1;
  transition: .3s;
}
.top-visual .top-main-carousel .ui .loop.resume:before {
  background-image: url(/common/css/images/ico-start_01.png);
}
.top-visual .top-main-carousel .ui .loop.pause:before {
  background-image: url(/common/css/images/ico-stop_01.png);
}
.top-visual .top-main-carousel .ui .loop:hover:before, .top-visual .top-main-carousel .ui .loop:active:before, .top-visual .top-main-carousel .ui .loop:focus:before {
  opacity: .7;
}
.top-visual .top-main-carousel .ui .loop span {
  position: absolute;
  top: -999em;
  left: -999em;
}
.top-visual .top-main-carousel .loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  text-align: center;
  font-size: 85.71429%;
  line-height: 1.33333;
  color: #ccc;
  margin: 0;
  padding-top: 132px;
  background: #fff;
}
.top-visual .top-main-carousel .loading:before {
  content: "";
  position: absolute;
  top: 156px;
  left: 50%;
  z-index: 9;
  display: block;
  width: 52px;
  height: 12px;
  margin-left: -26px;
  border-radius: 6px;
  background: url(/images/waiting.gif);
}
.top-visual .mypage-box {
  float: right;
  width: 310px;
  position: relative;
  text-align: center;
}
.top-visual .mypage-box .none {
  display: none;
}
.top-visual .mypage-box .check-box {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  background-position: center 14px;
  background-repeat: no-repeat;
  height: 187px;
  padding: 20px 24px 10px;
  text-align: center;
  position: relative;
}
.top-visual .mypage-box .check-box .inner {
  position: absolute;
  bottom: 12px;
  left: 24px;
  width: 262px;
}
.top-visual .mypage-box .check-box .btn-01 {
  width: 262px;
}
.top-visual .mypage-box .check-box .btn-01 > span {
  padding: 7px 0 6px 0 !important;
}
.top-visual .mypage-box .check-box .btn-01 > span > span {
  padding: 0 36px 0 24px !important;
  background-position: 234px center;
}
.top-visual .mypage-box .check-box p + p {
  margin-top: 14px !important;
}
.top-visual .mypage-box .check-box.pattern1 {
  background-image: url(/images/top-icon_01.gif);
}
.top-visual .mypage-box .check-box.pattern2 {
  background-image: url(/images/top-icon_02.gif);
}
.top-visual .mypage-box .check-box.pattern3 {
  background-image: url(/images/top-icon_03.gif);
}
.top-visual .mypage-box .check-box.pattern4 {
  background-image: url(/images/top-icon_04.gif);
}
.top-visual .mypage-box .close {
  -moz-box-shadow: 0 2px 2px #d3d3d3;
  -webkit-box-shadow: 0 2px 2px #d3d3d3;
  box-shadow: 0 2px 2px #d3d3d3;
  font-size: 128.57143%;
  line-height: 1.33333;
  transition: .3s;
  color: #fff;
  background: #ca018f;
  font-weight: bold;
  padding: 15px 36px 14px 24px;
  display: block;
  text-align: center;
  border: #ca018f 4px solid;
  width: 310px;
  position: relative;
  overflow: hidden;
}
.top-visual .mypage-box .close i {
  position: absolute;
  right: -51px;
  top: 50%;
}
.top-visual .mypage-box .close i:after {
  content: "";
  display: block;
  background: url(/images/top-login_close_o.png);
  position: absolute;
  top: 0;
  margin-top: -9px;
  right: 58px;
  height: 18px;
  width: 18px;
}
.top-visual .mypage-box .close:hover {
  background: #fff;
  color: #ca018f;
}
.top-visual .mypage-box .close:hover i:after {
  background: url(/images/top-login_close_h.png);
}
.top-visual .mypage-box .open {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
/*  padding: 15px 0 0; 2015.12 acs modify */
  padding:15px 0;
  position: absolute;
  top: 0;
  z-index: 5;
}
.top-visual .mypage-box .open .btn {
  transition: .3s;
  background: #f2f2f2;
  margin-top: 6px !important;
  padding: 10px 0;
  line-height: 1;
  font-weight: bold;
  color: #5c5c5c;
  margin: 0;
  border: 0;
  width: 100%;
}
.top-visual .mypage-box .open .btn:hover {
  background: #e0e0e0;
}
.top-visual .mypage-box .open .btn i {
  font-style: normal;
  padding: 1px 30px 1px 0;
  background: url(/images/top-login_open.png) no-repeat center right;
}
.top-visual .mypage-box .open .def-btn {
  margin-top: 0 !important;
  padding: 0 20px;
}
.top-visual .mypage-box .open .def-btn dd + dd {
  margin-top: 8px;
}
.top-visual .mypage-box .open .def-btn + .def-btn {
  border-top: #ccc 1px solid;
/*  padding-top: 12px; 2015.12 acs modify */
  padding-top: 15px;
  margin-top: 12px !important;
}
.top-visual .mypage-box .open .def-btn + .def-btn dt {
  font-size: 100%;
  line-height: 1.57143;
  color: #444;
  font-weight: normal;
}
.top-visual .mypage-box .open .def-btn + .def-btn dd .btn-03.str-02 {
  font-size: 100%;
  line-height: 1.92857;
  width: auto;
}
.top-visual .mypage-box .open .def-btn + .def-btn dd .btn-03.str-02 > span {
  padding: 9px 10px;
}
.top-visual .mypage-box .open .def-btn dt {
  font-size: 114.28571%;
  line-height: 1.25;
  color: #ca018f;
  font-weight: bold;
}
.top-visual .mypage-box .open .def-btn ul {
  margin-top: 5px;
}
.top-visual .mypage-box .open .def-btn ul li {
  margin-left: 9px;
  float: left;
  width: 84px;
}
.top-visual .mypage-box .open .def-btn ul li:first-child {
  margin-left: 0;
}
.top-visual .mypage-box .open .def-btn ul li .btn-01 {
  font-size: 100%;
  line-height: 0.11071;
  line-height: 1.2 !important;
}
.top-visual .mypage-box .open .def-btn ul li .btn-01 > span {
  display: table-cell;
  vertical-align: middle;
  height: 38px;
  padding: 4px 12px 2px;
}
.top-visual .mypage-box .open .def-btn ul li .btn-01 > span > span {
  line-height: 1.2 !important;
  display: inline-block;
  color: #5c5c5c;
  background: none;
  padding: 0;
}
.top-visual .mypage-box .open .link-01 {
  margin-top: 8px !important;
}

/*	top tab-frame
-----------------------------------------*/
.top.tab-frame .none {
  display: none;
}
.top.tab-frame .tab-list {
  text-align: center;
  margin-top: 0 !important;
}
.top.tab-frame .tab-list li {
  float: left;
  margin-left: 8px;
}
.top.tab-frame .tab-list li:first-child {
  margin-left: 0;
}
.top.tab-frame .tab-list li a {
  font-size: 114.28571%;
  line-height: 1.5625;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  padding: 4px 16px;
  display: inline-block;
  color: #7a7a7a;
  background: #ebebeb;
  transition: .3s;
}
.top.tab-frame .tab-list li a:hover, .top.tab-frame .tab-list li a:focus, .top.tab-frame .tab-list li a:active {
  text-decoration: none !important;
  color: #78b82a;
}
.top.tab-frame .tab-list li.current {
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 8px;
  background-image: url(/common/css/images/top-tab-campaing.png);
}
.top.tab-frame .tab-list li.current a {
  color: #fff;
  background: #78b82a;
}
.top.tab-frame .tab-list li.current a:hover, .top.tab-frame .tab-list li.current a:focus, .top.tab-frame .tab-list li.current a:active {
  color: #fff !important;
}
.top.tab-frame .tab-list li.current a:after {
  border-top: #78b82a 10px solid;
}

/*	top-campaign-box
-----------------------------------------*/
.top-campaign-box {
  background: #fcf7e3;
  -webkit-box-shadow: 0 5px 3px 0 rgba(202, 198, 182, 0.4) inset;
  -moz-box-shadow: 0 5px 3px 0 rgba(202, 198, 182, 0.4) inset;
  box-shadow: 0 5px 3px 0 rgba(202, 198, 182, 0.4) inset;
}
.top-campaign-box .title {
  padding-top: 40px;
}
.top-campaign-box .title .hdg {
  font-size: 214.28571%;
  line-height: 0.83333;
  float: left;
  margin-right: 21px;
  padding-top: 6px;
  color: #5b5b5b;
  font-weight: normal;
}
.top-campaign-box .inner {
  position: relative;
  padding: 15px 0 40px;
}
.top-campaign-box .inner .content .btn-02 {
  position: absolute;
  top: -57px;
  right: 0;
}
.top-campaign-box .inner .lyt-image.col3 > li {
  margin-right: 20px;
  width: 235px;
  background: #fff;
}
.top-campaign-box .inner .lyt-image.col3 > li a {
  transition: .3s;
}
.top-campaign-box .inner .lyt-image.col3 > li a:hover {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
.top-campaign-box .inner .lyt-image.col3 > li a img {
  height: 118px;
  width: 235px;
}

/*	top-category-box
-----------------------------------------*/
.top-category-box {
  margin: 40px 0;
}
.top-category-box ul li {
  float: left;
  margin-left: 20px;
  width: 320px;
}
.top-category-box ul li:first-child {
  margin-left: 0;
}
.top-category-box ul li a {
  position: relative;
  display: block;
  max-height: 213px;
  width: 320px;
}
.top-category-box ul li a:hover, .top-category-box ul li a:focus, .top-category-box ul li a:active {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  transition: .3s;
}
.top-category-box ul li a img {
  z-index: -1;
}
.top-category-box ul li a .label {
  font-size: 85.71429%;
  line-height: 1.66667;
  display: block;
  color: #fff;
  position: absolute;
  top: 0;
  left: -4px;
  background: #ccc;
  padding: 3px 12px 3px 9px;
  z-index: 2;
}
.top-category-box ul li a .label:before {
  content: "";
  display: block;
  border-color: transparent #7d90a3 transparent transparent;
  border-style: solid;
  border-width: 0px 4px 4px 0;
  height: 0px;
  width: 0px;
  top: 26px;
  position: absolute;
  left: 0;
  z-index: -1px;
}
.top-category-box ul li a .label.credit {
  background: #f8596b;
}
.top-category-box ul li a .label.credit:after {
  background: #f8596b;
}
.top-category-box ul li a .label.credit:before {
  border-color: transparent #e14358 transparent transparent;
}
.top-category-box ul li a .label.point {
  background: #ff8d35;
}
.top-category-box ul li a .label.point:after {
  background: #ff8d35;
}
.top-category-box ul li a .label.point:before {
  border-color: transparent #e5741e transparent transparent;
}
.top-category-box ul li a .label.bank {
  background: #42bde3;
}
.top-category-box ul li a .label.bank:after {
  background: #42bde3;
}
.top-category-box ul li a .label.bank:before {
  border-color: transparent #3baacc transparent transparent;
}
.top-category-box ul li a .label.campaign {
  background: #78b82a;
}
.top-category-box ul li a .label.campaign:after {
  background: #78b82a;
}
.top-category-box ul li a .label.campaign:before {
  border-color: transparent #6ca526 transparent transparent;
}
.top-category-box ul li a .label.life {
  background: #27bc95;
}
.top-category-box ul li a .label.life:after {
  background: #27bc95;
}
.top-category-box ul li a .label.life:before {
  border-color: transparent #0ea37b transparent transparent;
}
.top-category-box ul li a .title {
  background: -moz-linear-gradient(top, rgba(65, 65, 65, 0), rgba(0, 0, 0, 0.75));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(65, 65, 65, 0)), to(rgba(0, 0, 0, 0.75)));
  background: linear-gradient(to bottom, rgba(65, 65, 65, 0), rgba(0, 0, 0, 0.75));
  background: linear-gradient(to bottom, rgba(65, 65, 65, 0), rgba(0, 0, 0, 0.75));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00eeeeee', endColorstr='#ff000000', GradientType=0)";
  font-size: 114.28571%;
  line-height: 1.5;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  left: 0;
  min-height: 50px;
  font-weight: bold;
  padding: 56px 12px 2px 12px;
  position: absolute;
  display: block;
  bottom: 0;
  vertical-align: bottom;
  width: 295px;
}

/*	top-credit-box
-----------------------------------------*/
.top-credit-box {
  border-bottom: #dadada 1px solid;
  border-top: #dadada 1px solid;
}
.top-credit-box .col {
  padding-top: 156px;
  background-position: top center;
  background-repeat: no-repeat;
  margin-right: 0;
  margin-left: 40px;
  width: 220px;
}
.top-credit-box .col:first-child {
  margin-left: 0;
}
.top-credit-box .col.make {
  background-image: url(/images/top-img_04.gif);
}
.top-credit-box .col.use {
  background-image: url(/images/top-img_05.gif);
}
.top-credit-box .col.borrow {
  background-image: url(/images/top-img_06.gif);
}
.top-credit-box .col.provide {
  background-image: url(/images/top-img_07.gif);
}
.top-credit-box .hdg {
  font-size: 171.42857%;
  line-height: 1.33333;
  color: #fa4b62;
  text-align: center;
  margin: 24px 0 0;
}
.top-credit-box .link-01 {
  border-top: #bfbfbf 1px dotted;
  margin-top: 12px !important;
}
.top-credit-box .link-01 li {
  border-bottom: #bfbfbf 1px dotted;
  overflow: hidden;
  margin-top: 0 !important;
}
.top-credit-box .link-01 li a {
  padding: 10px 0 6px;
  padding-left: 24px !important;
  background-position: 12px center !important;
  display: block;
  width: 100%;
}
.top-credit-box .link-01 li a:hover, .top-credit-box .link-01 li a:focus, .top-credit-box .link-01 li a:active {
  transition: .3s;
  background-color: #f2f2f2 !important;
}

/*	area
-----------------------------------------*/
.area {
  padding: 40px 0;
}

/*	top-topics-box
-----------------------------------------*/
.top-topics-box {
  border-top: #dadada 1px solid;
}

/*	top-news-box
-----------------------------------------*/
.top-news-box {
  float: left;
  width: 660px;
}
.top-news-box .tab-frame.top .inner {
  padding: 12px 0 47px;
}
.top-news-box .tab-frame.top .inner .content {
  position: relative;
}
.top-news-box .tab-frame.top .inner .content .btn-02 {
  position: absolute;
  right: 0;
}
.top-news-box .tab-frame.top .inner .content .topics-01 .data {
  padding-right: 0;
  width: 10em;
}
.top-news-box .tab-frame.top .inner .content .topics-01 .txt {
  padding-left: .6em;
}

/*	top-right-box -- add : acs 2016.01
-----------------------------------------*/
.top-right-box {
	width:320px;
	float:right;
}

/*	top-movie-box
-----------------------------------------*/
.top-movie-box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
/* delete : acs 2016.01 
  float: right;
  width: 316px;
*/
  border: #c29f0d 2px solid;
  padding: 15px 0 20px;
}
.top-movie-box .hdg {
  font-size: 128.57143%;
  line-height: 1.38889;
  margin-bottom: 16px;
}
.top-movie-box .caption {
  font-size: 100%;
  line-height: 1.78571;
  margin-top: 6px;
  display: block;
}
.top-movie-box .btn-02 {
  margin-top: 11px !important;
}

/*	top-banner-box
-----------------------------------------*/
.top-banner-box {
  margin-top: 36px;
}
.top-banner-box .lyt-image {
  margin-top: 0;
}
.top-banner-box .lyt-image li {
  margin-top: 0;
  width: 235px;
  margin-right: 20px;
}
.top-banner-box .lyt-image li a {
  transition: .3s;
}
.top-banner-box .lyt-image li a:hover {
  opacity: .7;
}

/*	top-bank-box
-----------------------------------------*/
.top-bank-box {
  background: #fcf7e3;
}
.top-bank-box .col {
  margin-right: 0;
  margin-left: 20px;
  width: 320px;
}
.top-bank-box .col:first-child {
  margin-left: 0;
}
.top-bank-box .col .lead {
  text-align: center;
  margin-top: 24px;
  letter-spacing: -.5px;
}
.top-bank-box .col .lead dt {
  font-size: 171.42857%;
  line-height: 1.33333;
  color: #42bde3;
  font-weight: bold;
}
.top-bank-box .col .lead dd {
  margin: 0;
  margin-top: 7px;
}

.key-visual-02.top {
  border: 0;
  background: none;
  width: 320px;
  padding: 0;
}
.key-visual-02.top .carousel-content {
  background: #fff;
  height: 213px;
}
.key-visual-02.top .carousel-frame .carousel-ui {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 256px;
  margin-top: -5px;
}
.key-visual-02.top .carousel-frame .carousel-ui > ul > li a {
  background-color: #ccc;
  box-shadow: none;
}
.key-visual-02.top .carousel-frame .carousel-ui > ul > li a.current {
  background: none;
}
.key-visual-02.top .carousel-frame .carousel-ui > ul > li a:hover {
  background-color: #c6ebf7;
}
.key-visual-02.top .carousel-frame .carousel-ui .next {
  right: 16px;
}
.key-visual-02.top .carousel-frame .carousel-ui .next:before {
  background: url(/common/css/images/top-ui_next.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
}
.key-visual-02.top .carousel-frame .carousel-ui .prev:before {
  background: url(/common/css/images/top-ui_prev.png) no-repeat 0 0;
  width: 24px;
  height: 24px;
}
.carousel-frame {
  overflow:visible;
}