

/************************** BLUE THEME ************************************************/

#head{
	
	display: block;
	margin: 0 auto;
	padding: 0;
	z-index: 100;
}
/*######################################## FONTS #####################################*/
.font_theme{
	color:#660000;
}

a.link_theme{
	color:#003333;
	font-weight:bold;
	font-size:9pt;
	text-decoration:none;
}

.link_theme:hover{
	padding-top:10px;
	color:#006666;
	font-weight:bold;
	font-size:9pt;
	text-decoration:none;
}

/*######################################## BACKGROUNDS #####################################*/
.bg_theme{
	background:#F1F8FC;
}

/*######################################## BANNER #####################################*/
.banner_table_h{
	width:100%;
	height:50px;
	margin-top: 10px;
	border-top:3px solid #000;
}

.banner_cont_h{
	height:90px;
	/*background:url('../images/m_h.png') no-repeat;*/
}

.banner_cont_right{
	background:url('../images/m_h_rep_blue.png') no-repeat;
	width:10px;
}

.banner_cont_left{
	background:url('../images/m_h_l_blue.png') no-repeat;
	width:250px;
}

.banner_cont_rep{
	background:url('../images/m_h_rep_blue.png');
}

/*######################################## DEP MENU #####################################*/
.dep_menu{
	width:100%;
	float:center;
	height:45px;
}

.dep_menu_rep{
	background:url('../images/dep_m_blue.png') repeat-x;
	border:0;
}

.dep_menu_r{
	width:54px;
	background:url('../images/dep_m_r_blue.png') no-repeat;
	border:0;
}

.dep_menu_l{
	width:54px;
	background:url('../images/dep_m_l_blue.png') no-repeat;
	border:0;
}

/*######################################## FOOTER #####################################*/
.footer_table_h{
	width:100%;
	height:70px;
	background:url('../images/f_rep.png') repeat-x;	
}

.footer_cont_h{
	height:70px;
	background:url('../images/f_h.png') no-repeat;
}

.footer_left{
	width:100px;
}

.footer_right{
	width:100px;
}
/*######################################## COPYRIGHTS #####################################*/
.copyrights{
	color:#fff;
	padding-bottom:11px;
	font-size:13px;
}

div .copyrights a{
	color:#ffff00;
	text-decoration:none;
	font-size:13px;
}

div .copyrights a:hover{
	color:#ffcc00;
	font-size:13px;
}
/*####################################### DOCK MENU STYLE ############################*/
/* dock - top */
.dock {
	position: relative; 
	height: 80px;
	background: url(../images/site_menu.png) no-repeat;
	width:600px;
	text-align: center;
}
.dock-container {
	position: absolute;
	height: 60px;
	text-align: center;
	float:center;
}
a.dock-item {
	display: block;
	width: 67px;
	color: #000;
	position: absolute;
	text-align: center;
	text-decoration: none;
	font: bold 12px tahoma;
}
.dock-item img {
	border: none;
	margin: 5px 0px 0px 0px;
	width: 100%;
	z-index:-1;
}
.dock-item span {
	display: none; 
	padding-left: 0px;
	margin-top:-25px;
	color: darkblue;
	font: bold 12px tahoma;
}

/*####################################### DROPDOWN MENU STYLE PART ############################*/
.dropdown a,.dropdown_vert a {
	display: block;
	padding: 4px 6px 4px 6px;
	margin: 0px 0px 0px 0px;
	font-size:13pt;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: transparent;
	color: #220000;
	text-decoration: none;
}

.dropdown a:hover{
	background: url('../images/dep_on_horz.jpg') repeat-x;
	color:#002000;
}

.dropdown_anakb a,.dropdown_vert a {
	
	padding: 8px 6px 11px 6px;
	margin: 0px 0px 0px 0px;
	font-size:13pt;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: transparent;
	color: #220000;
	text-decoration: none;
}

.dropdown_anakb a:hover{
	background: url('../images/dep_on_horz.jpg') repeat-x;
	color:#002000;
}

.dropdown_vert li:hover{
	background: url('../images/dep_on_vert.jpg') repeat-x;
	color:darkblue;
}

.dropdown_vert a:hover{
	color:darkblue;
}

/*## .dropdown_vert .drop_li a:hover{
	background: url('../images/dep_on.jpg') repeat-x;
	color:darkblue;
} ##*/

/*####################################### ARTICLES STYLE ############################*/

/************************* HORIZONTAL ARTICLE THEME 1 ************/

.art_h_bg{
	color:white;
	font-weight:bold;
	font-size:9pt;
	background:url('../images/art_h_blue.png') no-repeat;
}

.art_img_bg{
	background:url('../images/art_img_bg.png');
}

.art_dwn_bg{
	background:url('../images/art_h_blue2.png') no-repeat;
}

.art_dwn_bg_cnt{
	background:url('../images/art_f_blue.png') no-repeat;
	height:17px;
	width:135px;
}

.absolute_style{
	color:#f2f2f2;
	font-weight:bold;
}

.img_subj{
	border:0px;
	width:200px;
	#border:1px solid #A08001;
}

/************************* VERTICAL ARTICLE THEME 2 ***********************/

.img_subj_2{
	border:2px solid #1D5285;
	padding:1px 1px 1px 1px;
	background:#fff;
}

.art_header2{
	height:30px;
	padding-top:2px;
}

.art_header2 a{
	color:#1D5285;
	font-size:8pt;
	text-decoration:none;
	font-weight:bold;
	height:30px;
}
/*
.subject_2{
	background:#FAFAFA;
	height:132px;
	width:auto;
	text-align:right;
	padding:0px 5px 0px 5px;
	font-family:tahoma;
	font-size:10pt;
	font-weight:bold;
	color:#000099;
	overflow:auto;
}
*/
/*** HEADER *****************/

.art_header_cell_left{
	width:20px;
	height:40px;
	background:#1D5285;
}

.art_header_cell_right{
	width:20px;
	height:40px;
	background:#1D5285;
}

.art_header_cell_repeat{
	text-align:center;
	width:auto;
	height:40px;
	background:#1D5285;
}

/*** FOOTER *****************/

.art_footer_cell{

	width:250px;
	height:40px;
	background:#1D5285;
}

.art_footer_cell_left{
	width:20px;
	height:40px;
	background:#1D5285;
}

.art_footer_cell_right{

	width:20px;
	height:40px;
	background:#1D5285;
}

.art_footer_cell_repeat{

	width:auto;
	height:40px;
	background:#1D5285;
}

/*** LINKS *********************************************************/

a.title_a{
	font-family:Arial;
	font-size:12pt;
	font-weight:bold;
	color:#003333;
	text-decoration:none;
}

.title_a:hover{
	font-family:Arial;
	font-size:12pt;
	font-weight:bold;
	color:#330000;
}

a.dep_a{
	font-family:Arial;
	font-size:13pt;
	font-weight:bold;
	color:#003333;
	text-decoration:none;
	
}

.dep_a:hover{
	font-family:Arial;
	font-size:13pt;
	font-weight:bold;
	color:#330000;
}

a.dwn_a{
	font-family:tahoma;
	font-size:8pt;
	font-weight:normal;
	color:#000000;
	text-decoration:none;
}

.dwn_a:hover{
	font-family:tahoma;
	font-size:8pt;
	font-weight:normal;
}

a.dwn_a2{
	font-family:tahoma;
	font-size:8pt;
	font-weight:normal;
	color:#990000;
	text-decoration:none;
}

.dwn_a2:hover{
	font-family:tahoma;
	font-size:8pt;
	font-weight:normal;
}

.art_skipped_a{
	font-family: tahoma;
	font-size: 9pt;
	font-weight: bold;
	color:#1D5285;
	text-decoration:none;
	cursor:pointer;
}

.art_skipped_a:hover{
	font-family: tahoma;
	font-size: 9pt;
	font-weight: bold;
	color:#5295D8;
	text-decoration:none;
}
/************************* SHADOWS ***********************/
.shadow_title{
	#text-shadow:#333333 1px 1px 2px;
	#display: block;
	#width: 100%;
	#filter: glow(color=#333333,strength=2);
}

.shadow_dwn{
	text-shadow:#BFCF7C 1px 1px 2px;
	display: block;
	width: 100%;
	filter: glow(color=#BFCF7C,strength=2);
}
/*######################################## PAGE NUMBERS ############################*/
	
a.page_a{
	font-weight:bold;
	text-decoration:none;
	font-family:tahoma;
	font-size:13pt;
	color:#003366;
	text-align:center;
	border: 1px solid #CC9900;
	padding: 2px;
	background-color: #F9F7F7;
}
		
.page_a:hover{
	font-weight:bold;
	text-decoration:none;
	font-family:tahoma;
	font-size:13pt;
	color:#990000;
	text-align:center;
	border: 1px solid #003300;
	padding: 2px;
	background-color: #EBEBEB;
}

.page_on{
	font-family:tahoma;
	font-size:14pt;
	font-weight:bold;
	text-align:center;
	color:#006600;
	display:inline-table;
	border: 1px solid #B37800;
	padding: 1px;
	background-color: #F9F7F7;
}

.page_i{
	font-weight:bold;
	text-decoration:none;
	font-family:tahoma;
	font-size:10pt;
	color:#fafafa;
}

.page_txt{
	font-weight:bold;
	text-decoration:none;
	font-family:tahoma;
	font-size:10pt;
	color:#ffff00;
}

.page_box{
	height:30px;
	padding:0px 10px 0px 10px;
	border:1px solid #333333;
	background:url('../images/m_rep.jpg');
}

/*######################################## SITE VERTICAL MENU ######################*/

.vert_menu_header{
	background:url('../images/vert_menu_blue.png') top;
	height:40px;
	color:#ffffff;
	font-weight:bold;
	font-size:10pt;
	font-family:tahoma;
}

.vert_menu_footer{
	background:url('../images/vert_menu_footer_blue.png') top;
	height:20px;	
}

/*** SITE LOGO ***/
.header_logo{
	font-weight:bold;
	color:#ffffff;
	width:200px;
	text-align:center;
	margin-top:45px;
	margin-left:15px;
}

.header_logo span{
	color:#ffff00;
}

/*######################################## SEARCH ######################*/

.search_submit{
	height:28px;
	width:30px;
	border:0;
	background:url('../images/icon_search_blue.png') no-repeat;
	cursor:pointer;
}

.search_input{
	height:22px;
	width:243px;
	border:0px;
	padding-right:5px;
	color:#fff;
	padding-top: 2%;
	background:url('../images/search_in_blue.png') right no-repeat;
}

.search_submitanakb{
	height:28px;
	width:30px;
	border:0;
	background:url('../images/icon_search_blue.png') no-repeat;
	cursor:pointer;
}

.search_inputanakb{
	height:22px;
	width:130px;
	border:0px;
	padding-right:5px;
	color:#fff;
	padding-top: 2%;
	background-color: #333333;
}

.footer_anakb{
	text-align: right;
	width: 100%;
	color: #CCCCCC;
}

.footer_anakb  a{
	font-family: tahoma;
	font-size: 10pt;
	color: #FFFFFF;
	text-decoration: none;
}

.footer_anakb  a:hover{
	font-family: tahoma;
	font-size: 10pt;
	color: #FFFFFF;
	text-decoration: underline;
}

.footer_anakb_t{
	padding: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	font-family: tahoma;
	font-size: 10pt;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	background-color: #333333;
}

.footer_anakb_t2{
	padding: 5px;
	border: 1px solid #999999;
	font-family: tahoma;
	font-size: 10pt;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	background-color: #333333;
}

.footer_anakb_b{
	padding: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #585858;
	border-bottom-color: #585858;
	background-color: #3C3C3C;
}

.footer_anakb_b2{
	padding: 5px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #585858;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #585858;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #585858;
	background-color: #3C3C3C;
}