/**************************** COMMON STYLE *************************************/
/*html{ 
direction:rtl; 
}*/
* {
	margin: 0;
	padding: 0;	
	font-family: tahoma,verdana,sans-serif;
}

body{
	width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #5a5a4e;
	background: url('../images/bgs2.png') no-repeat fixed center top #5a5a4e;
	/*background: #5a5a4e;*/
}

img{
	border:0px;
}

#foot{

	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	z-index: 100;

}

/*########################### MISC #######################################*/

.mouse_cursor{
	cursor:pointer;
}

.float_left{
	float:left
}

.float_right{
	float:right
}

.div_tip{
	background:#FFF9C6;
	border:1px solid #D6CC66;
	padding:5px 5px 5px 5px;
	text-align:right;
	max-width:320px;
	color:#000;
	line-height:20px;
	text-align:justify;
}
/*########################### BANNERS #######################################*/
.banner_left{
	width:100px;
}

.banner_right{
	width:120px;
	padding-top:7px;
}

.banner_search{
	width:220px;
	padding-top:1px;
	padding-right:10px;
}
/*######################################## SITE MENU AND STYLE SWITCH #####################################*/

.site_menu{
	width:100%;
}

.choosed_article{
	width:100%;
}

.menu_ico{
	line-height:50px;
}
/********* FOR VERTICAL MENU *********/
.vert_menu_container{
	width:170px;
}

.vert_menu_inside{
	width:100%;
}

.vert_menu_elem{
	background:url('../images/vert_menu_elem.jpg') repeat-x;
	height:35px;
}

/*########################### CONTROLBOX #######################################*/
.controlbox{
	width:95%;
	border-top:3px solid #2B2822;
}

.cb_rep{
	background:#4B493D;
	height:35px;
	color:#fff;
	font-size:10pt;
	font-family:tahoma;
	width:100%;
}

.cb_l{
	background:url('../images/cb_left.png') left;
	width:5px;
}

.cb_r{
	background:url('../images/cb_right.png') right;
	width:5px;
	
}

.cb_b{
	width:60px;
	height:12px;
}

.cb_delim{
	font-size:8pt;
	color:#A7A394;
	font-weight:bold;
}

a.controlbox_link{
	font-size:8pt;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
}

.controlbox_link:hover{
	font-size:8pt;
	color:#ffcc00;
	font-weight:bold;
	text-decoration:none;
}


a.controlbox_link2{
	font-size:8pt;
	color:#ffcc00;
	font-weight:bold;
	text-decoration:none;
}

.controlbox_link2:hover{
	font-size:8pt;
	color:#ffff00;
	font-weight:bold;
	text-decoration:none;
}

.controlbox_select{
	border:1px solid #302F27;
	font-weight:bold;
	font-size:8pt;
	color:#fff;
	background:#636159;
	width:200px;
	height:25px;
	padding:3px 3px 3px 3px;
}

.controlbox_select option{
	font-weight:bold;
	font-size:8pt;
	color:#fff;
	line-height:10px;
	padding:2px 3px 2px 3px;
}

/********* FOR VERTICAL MENU *********/
a.controlbox_link_vert{
	font-size:8pt;
	color:#000;
	font-weight:bold;
	text-decoration:none;
}

.controlbox_link_vert:hover{
	font-size:8pt;
	color:#663300;
	font-weight:bold;
	text-decoration:none;
}


a.controlbox_link2_vert{
	font-size:8pt;
	color:#663300;
	font-weight:bold;
	text-decoration:none;
}

.controlbox_link2_vert:hover{
	font-size:8pt;
	color:#cc0000;
	font-weight:bold;
	text-decoration:none;
}

.controlbox_select_vert{
	border:0px solid #000000;
	font-weight:bold;
	font-size:8pt;
	color:#000;
	background:transparent;
	width:162px;
	max-width:162px;
	height:23px;
	padding:3px 0px 3px 3px;
}

.controlbox_select_vert option{
	font-weight:bold;
	font-size:8pt;
	color:#000;
	line-height:10px;
	padding:2px 3px 2px 3px;
}

/*############################# ALERT MENU #######################################*/

.alert_table{
	margin-top:10px;
	margin-bottom:10px;
	border-top:1px solid #CC9F9D;
	border-bottom:1px solid #CC9F9D;
	width:100%;
	height:auto;
	background:#F2DFDE;
}

.alert_subj{
	padding: 10px 5px 10px 5px;
	font-family:tahoma;
	font-size:10pt;
	font-weight:bold;
	text-align:justify;
	color:#990000;
}

.alert_img{
	width:50px;
	height:46px;
	text-align:center;
	background:url(../images/alert.png) center no-repeat;
	
}
/*########################################## ADS TABLE #################*/
.ads_table{
	margin-top:10px;
	width:100%;
	height:auto;
}

/*######################################## CHOOSED MENU ######################*/

.choosed_tbl{
	position:absolute;
	border:0px solid red;
	width:40px;
	height:150px;
	z-index:1;
	margin-top:10px;
}

.choosed_img{
	width:220px;
	height:128px;
	background: #000;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}

.choosed_txt{
	padding-bottom:3px;
	color:#ffffff;
	font-size:8pt;
	background: #000;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}

.choosed_arrow{
	width:40px;
	height:100px;
}

.rand_img{
	width:200px;
	height:120px;
	border:0px;
}

/*######################################## MAIN MENU ####################################*/

.menu_item{
	width:92px;
	height:129px;
	text-align:center;
	font-weight:bold;
	font-size:9pt;
	line-height:195px;
	margin-left:5px;
	display:inline-block;
}

.menu_item_large{
	width:78px;
	height:64px;
	text-align:center;
	font-weight:bold;
	font-size:13pt;
	line-height:135px;
	display:inline-block;
	font-family: Arial, Helvetica, sans-serif;
}

.menu_item_anakb{
	width:78px;
	height:64px;
	text-align:center;
	font-weight:bold;
	font-size:13pt;
	line-height:150px;
	display:inline-block;
	margin-left:5px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 22px;
}

.menu_item_anakbbg{
	background:url('../images/4icon.png') no-repeat;
}

.menu_item_1{
	background:url('../images/iconhome.png') no-repeat;
}

.menu_item_2{
	background:url('../images/iconforum.png') no-repeat;
}

.menu_item_3{
	background:url('../images/icononline.png') no-repeat;
}

.menu_item_4{
	background:url('../images/icondown.png') no-repeat;
}

.menu_item_5{
	background:url('../images/icontv.png') no-repeat;
}

.menu_item_6{
	background:url('../images/icongames.png') no-repeat;
}

.menu_item_7{
	background:url('../images/iconfeed.png') no-repeat;
}

.main_menu_rep{
	background:url('../images/main_menu_rep.png') repeat-x;
	width:80px;
	height:50px;
}

/*######################################## MARGINS & PADDINGS ###########################*/
.padding_l_100{
	padding-left:100px;
}

.padding_l_17{
	padding-left:17px;
}

.padding_l_10{
	padding-left:10px;
}

.paddinganakb_l_10{
	padding-top: 55px;
	padding-right: 5px;
}

.padding_r_5{
	padding-right:5px;
}

.padding_r_10{
	padding-right:10px;
}

.padding_r_20{
	padding-right:20px;
}

.padding_r_2{
	padding-right:2px;
}

.padding_t_5{
	padding-top:5px;	
}

.padding_t_10{
	padding-top:10px;
}

.padding_b_5{
	padding-bottom:5px;	
}

.margin_b-2{
	margin-bottom:-6px;
}

.margin_t_5{
	margin-top:5px;
}

.margin_t_10{
	margin-top:10px;
}

.margin_t_2{
	margin-top:2px;
}

.margin_r_5{
	margin-right:5px;
}

.margin_b_2{
	margin-bottom:2px;
}

/*######################################## HEIGHTS #####################################*/

.height_5{
	height:5px;
}

.height_40{
	height:40px;
}

/*######################################## WIDTHS #####################################*/

.width_150{
	width:150px;
}

/*######################################## FONTS #####################################*/
.font_1b{
	font-family: tahoma;
	font-size: 10pt;
	font-weight: bold;
	background: transparent;
	color: #333333;
}

.font_2b{
	font-family: tahoma;
	font-size: 10pt;
	font-weight: bold;
	background: transparent;
	color: #990000;	
}

.font_3b{
	font-family: tahoma;
	font-size: 13pt;
	font-weight: bold;
}

.font_4b{
	font-family: tahoma;
	font-size: 10pt;
	font-weight: bold;
	background: transparent;
	color: #cc0000;
}

.font_5b{
	font-family: tahoma;
	font-size: 8pt;
	font-weight: bold;
	color: #ffffff;
}

.font_6b{
	font-family: tahoma;
	font-size: 8pt;
	font-weight: bold;
	color: #ffcc00;
}

.font_7b{
	font-family: tahoma;
	font-size: 10pt;
	font-weight: bold;
	color: #333333;	
}

.font_8b{
	font-family: tahoma;
	font-size: 8pt;
	font-weight: bold;
	color: #ffff00;
}

.font_9b{
	font-family: tahoma;
	font-size: 8pt;
	font-weight: bold;
	color: #666666;
}

.font_1n{
	font-family: tahoma;
	font-size: 12pt;
	font-weight: normal;
	color: #888;
}

.font_bold{
	font-weight:bold;
	font-size:10pt;
}
/*######################################## ARTICLES ############################*/
.main_table_menu{
	margin-top:5px;
	width:100%;
}

.main_table{
	width:100%;
}

.art_table_horiz{
	width:auto;
}

.art_table_vert{
	width:97%;
}

/*###### HORIZONTAL ARTICLE THEME 1  ###########*/

.art_bar{
	width:100%;
	height:20px;
	text-align:right;
}

.art_header{
	width:100%;
	height:44px;
	text-align:center;
	padding:0px 5px 0px 5px;
}

.art_hdr_cont{
	overflow:hidden;
	width:200px;
	max-height:44px;
	text-align:center;
	float:center;
}

/* this class found in variable.css 
.art_image_1{
	width:200px;
	height:250px;
}
*/

.art_dwn_1{
	width:214px;
	height:32px;
}

.art_dwn_bg_right{
	width:79px;
}
/*###### VERTICAL ARTICLE THEME 2  ###########*/

.art_bar_2{
	width:100%;
	height:20px;
	text-align:right;
}

/* this class found in variable.css 
.art_image_2{
	width:180px;
	height:250px;
}
*/

/*###### ART ICONS BAR  ###########*/

.art_icon_bar_mouse{
	cursor:pointer;
}
/*###### SKIPPED ART  ###########*/
.art_content_skip{
	border:1px solid #AAA;
	background:#CACACA;
	padding-top:20px;
	padding-bottom:30px;
	width:214px;
	height:214px;
}

.font_art_title_skip{
	background:#CCCCCC;
	font-size:8pt;
	font-weight:normal;
	height:40px;
	#border-bottom:1px solid #666666;
}

.art_content_skip2{
	border:1px solid #AAA;
	background:#CACACA;
	padding-top:10px;
	padding-bottom:20px;
	text-align:center;
	width:185px;
	height:180px;
}

.font_art_title_skip2{
	background:#CCCCCC;
	font-size:8pt;
	font-weight:normal;
	width:100%;
	height:40px;
	#border-bottom:1px solid #666666;
}

/*###### ARTICLES RESULTS DIV  ###########*/
.reslts_div{
	background:#FCFCFC;
	border:2px solid #EAEAEA;
	margin:10px 0px 10px 0px;
	padding:20px 0px 20px 0px;
	width:600px;
}

.results_tbl{
	width:800px;
}

.results_td_top{
	background:url('../images/rapid_up.png') no-repeat;
	height:20px;
}

.results_td_bottom{
	background:url('../images/rapid_down.png') no-repeat;
	height:20px;
}

.results_td_repeat{
	background:url('../images/rapid_rep.png') repeat-y;
	height:20px;
}

.results_title{
	width:790px;
	margin-top:10px;
	padding:7px 0px 7px 0px;
	font-size:15pt;
	font-weight:bold;
	color:#666666;
}

.results_subj{
	margin:20px 5px 20px 5px;
	padding-left: 3px;
	padding-right: 3px;
	font-size:15pt;
	font-weight:bold;
	color:#663300;
}

a.results_link{
	font-size:15pt;
	color:#333333;
	font-weight:bold;
	text-decoration:none;
}

.results_link:hover{
	font-size:15pt;
	color:#ff6600;
	font-weight:bold;
	text-decoration:none;
}

.resuts_wys_subj{
	padding:20px 10px 20px 10px;
}

.resuts_wys_subj a{
	text-decoration:none;
}

.resuts_wys_subj a:hover{
	text-decoration:underline;
}

.results_img{
	overflow:hidden;
	width:790px;
}

.results_div_img{
	border:2px solid #AAAAAA;
	width:auto;
	display:table;
	margin:0px;
	padding:0px;
}

a.results_dep{
	font-size:15pt;
	font-weight:bold;
	text-decoration:none;	
}

.results_dep:hover{
	font-size:15pt;
	font-weight:bold;
	text-decoration:underline;
}


.noresults_tbl{
	width:800px;
}

.noresults_td_top{
	background:url('../images/rapid_up.png') no-repeat;
	height:20px;
}

.noresults_td_bottom{
	background:url('../images/rapid_down.png') no-repeat;
	height:20px;
}

.noresults_td_repeat{
	background:url('../images/rapid_rep.png') repeat-y;
	height:20px;
}

.art_img{
	max-width:750px;
}

.art_share_infos{
	height:30px;
}

.art_share_count{
	font-size:13pt;
	font-weight:bold;
}

/*###### SIMILAR ARTICLES  ###########*/

.simi_art_title{
	width:790px;
	margin-top:10px;
	padding:7px 0px 7px 0px;
	font-size:15pt;
	font-weight:bold;
	text-align:right;
}


.simi_art_div{
	margin-right:25px;
	margin-top:10px;
	text-align:right;
}

.simi_art_title_mod{
	width:790px;
	margin-top:10px;
	padding:7px 0px 7px 0px;
	font-size:15pt;
	font-weight:bold;
}

.simi_art_div_mod{
	margin-top:10px;
}

a.simi_art_link{
	font-size:10pt;
	color:#565656;
	font-weight:bold;
	text-decoration:none;
}

.simi_art_link:hover{
	font-size:10pt;
	color:#ff6600;
	font-weight:bold;
	text-decoration:none;
}

/*###### ABSOLUTE IMAGE MOUSEOVER  ###########*/

.horiz_absolute_window{
	border-bottom:5px solid #333333;
	position:absolute;
	width:200px;
	height:250px;
	z-index:100;
}

.vert_absolute_window{
	border-bottom:5px solid #333333;
	position:absolute;
	width:180px;
	height:132px;
}

.absolute_div1{
	background:#993300;
	width:55px;
	padding-top:4px;
	padding-bottom:4px;
}

.absolute_div2{
	background:#1E4E95;
	width:55px;
	padding-top:4px;
	padding-bottom:4px;
}

.absolute_delim{
	width:3px;
}

a.absolute_link{
	color:#ffffff;
	font-weight:bold;
	font-size:8pt;
	text-decoration:none;
}

.absolute_link:hover{
	color:#ffcc00;
	font-weight:bold;
	font-size:8pt;
	text-decoration:none;	
}

/*
.img_tbl{
	background:black;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
*/

/*########################################### NEWS #########################*/

.news_table_class{
	padding:5px 5px 5px 5px;
	width:100%;
}

.news_main_title{
	height:40px;
	margin-top:20px;
	margin-bottom:20px;
	font-size:18pt;
	font-weight:bold;
	width:200px;
	padding-bottom:0px;
	border-bottom:10px solid #d0d0d0;
	background:url('../images/news_2.png') no-repeat;
}

.news_title{
	font-size:11pt;
	font-weight:bold;
}

.news_img{
	padding:0px 5px 0px 5px;
	height:32px;
}

.news_rep{
	width:100%;
	height:40px;
	text-align:right;
	background:url(../images/news_rep.png) repeat-x;
}

.news_r{
	height:40px;
	width:0px;
	background:url(../images/news_r.png) no-repeat right;
}

.news_l{
	height:40px;
	width:0px;
	background:url(../images/news_l.png) no-repeat left;
}

.news_subj{
	font-family:tahoma;
	font-size:10pt;
	text-align:justify;
	padding:10px 10px 20px 10px;
	color:#000;
	#background:#FCFCFC;
}

.news_links{
	padding-top:5px;
}

.news_link_dis{
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}	

.news_date{
	background:url(../images/date.png) no-repeat;
	width:100px;
	height:21px;
	vertical-align:middle;
	text-align:center;
	padding-bottom:3px;
}

.news_selected{
	background:#FFF7EE;
}

/*########################################### DEPARTMENTS IN FOOTER #########################*/
.dep_footer{
	padding:0px 0px 0px 0px;
	vertical-align:middle;
}

.dep_footer img{
	line-height:37px;
	vertical-align:middle;
}

a.dep_footer_link{
	text-decoration:none;
	font-weight:normal;
	font-size:9pt;
	line-height:37px;
	padding:0px 5px 0px 5px;
}

.dep_footer_link:hover{
	text-decoration:none;
	font-weight:normal;
	font-size:9pt;
	color:#000000;
}

/*########################################### REDIRECTING #########################*/

a.redirect_link{
	font-size:10pt;
	color:#cc0000;
	font-weight:bold;
	text-decoration:none;
}

.redirect_link:hover{
	font-size:10pt;
	color:#ff6600;
	font-weight:bold;
	text-decoration:none;
}

.redirect_div{
	border:2px solid #AAAAAA;
	background:url('../images/redirect_bg.jpg');
	padding:10px 0px 10px 0px;
	width:600px;
}


/*########################################### BORDERS #########################*/
.border_1{
	border:1px solid #AAAAAA;
}

.border_2{
	border:1px solid #CCCCCC;
}

.border_b_1{
	border-bottom:2px solid #c2c2c2;
}

/*########################################### DISPLAYS #########################*/
.display_table{
	display:table;
}

.display_table_cell{
	display:table-cell;
}

.valign_middle{
	vertical-align:middle;
}

/*** SITE LOGO ***/
.header_logo_font{
	font-size:14pt;
}

/*######################################## AUTO EXPLORE #########################*/

.start_auto_explore{
	text-align:right;
	float:left;
	background:url('../images/auto_explore.png') no-repeat;
	width:161px;
	height:25px;
	font-size:9pt;
	font-weight:bold;
	color:#fff;
	padding-top:5px;
	text-indent:30px;
}

.stop_auto_explore{
	text-align:right;
	float:left;
	background:url('../images/auto_explore_end.png') no-repeat;
	width:161px;
	height:25px;
	font-size:9pt;
	font-weight:bold;
	color:#fff;
	padding-top:5px;
	text-indent:30px;
}

/*################################ NOTIFY ##############*/
.notify_table{
	color:#fff;
	margin-bottom:1px;
}

a.notify_link{
	color:#fff;
	background:#EE0000;
	font-size:11pt;
	font-weight:bold;
	text-decoration:none;
	padding:1px 3px 1px 3px;
	cursor:pointer;
}

.notify_div{
	position:absolute;
	z-index:200;
	border-left:1px solid #333;
	float:right;
	display:block;
}

.notify_div ul{
	list-style: none;
	background:#FAFAFA;
	width:320px;
	max-height:425px;
	overflow-x:hidden;
	overflow-y:auto;
}

.notify_div li {
	float: none;
	position: relative;
	display:block;
	width:320px;
	border-bottom:1px solid #CACACA;
}

.notify_div li .notify_hdr{
	color:#202020;
	font-size:9pt;
	font-weight:bold;
	display:block;
	padding:10px 1px 10px 1px;
}

.notify_div li .li_cont{
	padding:3px 3px 3px 3px;
	height:44px;
}

.notify_div li .li_img img{
	width:50px;
	height:40px;
	border:1px solid #888;
	padding:1px 1px 1px 1px;
}

.notify_div li .li_img{
	display:inline-block;
	vertical-align:middle;
}

.notify_div li .li_txt{
	display:inline-block;
	vertical-align:middle;
	width:255px;
	overflow:hidden;
	padding-left:2px;
	padding-right:2px;
	font-size:9pt;
}

.notify_div li a{
	font-size:9pt;
	font-weight:normal;
	display:block;
	text-decoration:none;
}

.notify_div li a:hover {
	background:#E2E2E2;
}

.notify_close{
	background:#555;
	line-height:20px;
	display:block;
	float:none;
}

.notify_close a{
	color:#fff;
	font-size:8pt;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;
}

.notify_close a:hover{
	color:#ffcc00;
}

/*#################### STYLE BG ########*/
.style_bg{
	background:url('../images/style_bg.png') no-repeat right;
	padding-right:20px;
	height:35px;
	width:170px;
	line-height:43px;
	vertical-align:middle;
}

/* this class found in variable.css 
.subject_1{
	position:absolute;
	width:196px;
	background:#000;
	margin-top:175px;
	height:75px;
	text-align:center;
	font-family:tahoma;
	font-size:9pt;
	font-weight:normal;
	color:#fff;
	overflow:auto;
	padding-left:2px;
	padding-right:2px;
	z-index:100;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.subj_button_clpse_1{
	position:absolute;
	margin-top:163px;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.subj_button_expnd_1{
	position:absolute;
	margin-top:236px;
}

.subj_arrow_1{
	position:absolute;
	width:200px;
	background:url('../images/fly_arrow.png') no-repeat center;
	text-align:center;
	margin-top:158px;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}
*/
/******************************/

/* this class found in variable.css 
.fly_subject_1{
	position:absolute;
	width:196px;
	background:#000;
	margin-top:7px;
	text-align:center;
	font-family:tahoma;
	font-size:9pt;
	max-height:230px;
	font-weight:normal;
	color:#fff;
	overflow:auto;
	padding:5px 2px 10px 2px;
	z-index:100;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}
*/

.fly_subject_1 a{
	color:#fff;
	text-decoration:none;
	font-size:9pt;
}

.fly_subj_arrow_1{
	position:absolute;
	width:200px;
	background:url('../images/fly_arrow.png') no-repeat center;
	text-align:center;
	margin-top:-10px;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.fly_down_1{
	margin-top:10px;
}

.fly_down_right_1{
	float:right;
	width:97px;
	text-align:center;
	background:#202020;
	line-height:20px;
}

.fly_down_left_1{
	float:left;
	width:99px;
	text-align:center;
	background:url('../images/fly_dwn_sep.png') center right no-repeat #202020;
	line-height:20px;
}

.fly_down_left_1 a{
	color:#F2A31A;
	text-decoration:none;
	font-size:8pt;
	font-weight:bold;
}

.fly_down_left_1 a:hover{
	color:#ffcc00;
}

.fly_down_right_1 a{
	color:#CACACA;
	text-decoration:none;
	font-size:8pt;
	font-weight:bold;
}

.fly_down_right_1 a:hover{
	color:#fff;
}

/********  VIDEO **************/

.play_video_1{
	position:absolute;
	text-align:center;
	float:center;
	margin-top:105px;
	width:200px;
	z-index:50;
	filter:alpha(opacity=80);
	-moz-opacity:0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
}

/*********************** ART THEME 2  *******************************/

/* this class found in variable.css 
.fly_down_dep{
	background:#000;
	width:180px;
	position:absolute;
	margin-top:230px;
	line-height:20px;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}
*/

.fly_down_dep a{
	color:#fff;
	font-size:8pt;
	text-decoration:none;
}

.fly_down_dep .right{
}

.fly_down_dep .left{
	background:url('../images/dwn_icon.png') no-repeat;
}

.fly_down_dep .left a{
	color:#fff;
	font-weight:bold;
	font-size:8pt;
}
/******************************/

.art_hdr_cont_2{
	max-height:30px;
	width:180px;
	overflow:hidden;
}

.subject_2{
	position:absolute;
	width:176px;
	background:#000;
	margin-top:165px;
	height:65px;
	text-align:center;
	font-family:tahoma;
	font-size:8pt;
	font-weight:normal;
	color:#fff;
	overflow:auto;
	padding-left:2px;
	padding-right:2px;
	z-index:100;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

/* this class found in variable.css 
.subj_button_clpse_2{
	position:absolute;
	margin-top:153px;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.subj_button_expnd_2{
	position:absolute;
	margin-top:216px;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.subj_arrow_2{
	position:absolute;
	width:180px;
	background:url('../images/fly_arrow.png') no-repeat center;
	text-align:center;
	margin-top:148px;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}
*/
/******************************/

/* this class found in variable.css 
.fly_subject_2{
	position:absolute;
	width:176px;
	background:#000;
	margin-top:15px;
	text-align:center;
	font-family:tahoma;
	font-size:9pt;
	max-height:200px;
	font-weight:normal;
	color:#fff;
	overflow:auto;
	padding:5px 2px 10px 2px;
	z-index:100;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}
*/

.fly_subject_2 a{
	color:#fff;
	text-decoration:none;
	font-size:9pt;
}

.fly_subj_arrow_2{
	position:absolute;
	width:176px;
	background:url('../images/fly_arrow.png') no-repeat center;
	text-align:center;
	margin-top:-2px;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.fly_down_2{
	margin-top:10px;
}

.fly_down_right_2{
	float:right;
	width:87px;
	text-align:center;
	background:#202020;
	line-height:20px;
}

.fly_down_left_2{
	float:left;
	width:89px;
	text-align:center;
	background:url('../images/fly_dwn_sep.png') center right no-repeat #202020;
	line-height:20px;
}

.fly_down_left_2 a{
	color:#F2A31A;
	text-decoration:none;
	font-size:8pt;
	font-weight:bold;
}

.fly_down_left_2 a:hover{
	color:#ffcc00;
}

.fly_down_right_2 a{
	color:#CACACA;
	text-decoration:none;
	font-size:8pt;
	font-weight:bold;
}

.fly_down_right_2 a:hover{
	color:#fff;
}

/********  VIDEO **************/

/* this class found in variable.css 
.play_video_2{
	position:absolute;
	text-align:center;
	float:center;
	width:180px;
	margin-top:100px;
	z-index:50;
	filter:alpha(opacity=80);
	-moz-opacity:0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
}
*/
/************** FACEBOOK & LIKE ***********/
a.fb_logout{
	color:#666;
	font-size:8pt;
	font-weight:bold;
	text-decoration:none;
}

.fb_logout:hover{
	color:#cc0000;
}

.login_td{
	padding-left:10px;
	padding-top:10px;
	height:65px;
	float:left;
	text-align:left;
}

.login_frame{
	height:140px;
	padding:0px !important;
	margin:0px !important;
	float:left;
	background:transparent !important;
	overflow:hidden;
}

.like_frame{
	height:23px;
	padding:0px !important;
	margin:0px !important;
	float:right;
	background:transparent !important;
	overflow:hidden;
	position:absolute;
}

.like_td{
	height:65px;
	padding-top:10px;
}

.like_div_1{
	position:absolute;
	width:196px;
	background:#000;
	color:#fff;
	font-size:8pt;
	padding:3px 2px 5px 2px;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.like_div_1 .like_cnt{
	font-weight:bold;
}

/**********************/
.like_div_2{
	position:absolute;
	width:176px;
	background:#000;
	color:#fff;
	font-size:8pt;
	padding:3px 2px 5px 2px;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.like_div_2 .like_cnt{
	font-weight:bold;
}


/***************** LANGUAGES**********/
.lang_table{
	margin-right:2px;
}
