/********************************* HORIZONTAL DROP DOWN MENU **************************************/

ul.dropdown {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
	height:33px;
}

.dropdown li {
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
	line-height:30px;
}

.dropdown li .drop_img{
	float: left !important;
	margin-right:5px;
	margin-top:2px;
}

.dropdown ul {
	display: none;
	float: none;
	margin: 0;
	padding: 0;
	list-style: none;
}

.dropdown li li {
	float: none;
	display: inline;
	white-space: nowrap;
	/*text-align:right;    /***drop down txt direction**/
}

.dropdown li:hover ul, .dropdown li.lihover ul {
	position: absolute;
	display: block;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	z-index:1000;
	padding:1px 1px 1px 1px;
	margin-top:0px;
	min-width:100px;
	background-color: #4E4030;
	border: 1px solid #333333;
}

.dropdown ul li{
	line-height:20px;
}

.dropdown ul li a{
	color:#FFFFFF;
	font-size:13pt;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.dropdown a{
	display: block;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 0px 0px;
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	background: transparent;
	color: #fafafa;
	text-decoration: none;
}

.dropdown a:hover{
	/*background: url('../../images/drop_down_on.png') repeat-x;*/
	background:#000;
}

/********************************* VERTICAL DROP DOWN MENU **************************************/


ul.dropdown_vert {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}
.dropdown_vert li {
	margin: 0;
	padding: 0;
	position: relative;
	line-height:23px;
}
.dropdown_vert ul {
	display: none;
	float: none;
	margin-top: -34px;
	padding: 0;
	list-style: none;
}
.dropdown_vert li li {
	float: none;
	display: inline;
	white-space: nowrap;
}

.dropdown_vert li:hover ul, .dropdown_vert li.lihover ul {
	position: absolute;
	display: block;
	background: #000;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	z-index:1000;
	padding:5px 10px 5px 10px;
	min-width:100px;
}

.dropdown_vert ul li a{
	color:#fff;
	font-size:12px;
	font-family:tahoma;
}

/* there is another part that changed with the style switcher in 1.css 2.css ,.. (DROPDOWN MENU STYLE PART) */