.sc_menu_main{
	width:100%;
	margin-top:10px;
	overflow:hidden;
}

.sc_menu_header{
	color:#333;
	font-weight:bold;
	font-size:10pt;
	padding:5px 5px 5px 5px;
	width:150px;
	text-align:center;
}

.sc_menu_body{
	
}

div.sc_menu {
	position: relative;
	height: auto;
	width: 100%;
	overflow:hidden;
	direction:ltr;
}
ul.sc_menu {
	display: block;
	height: 105px;
	width: 2500px;
	padding: 5px 0 0 0px; 
	margin: 0;
	list-style: none;
}
.sc_menu li {
	display: block;
	float: left;	
	padding: 0 5px 0 5px;
}
.sc_menu a {
	display: block;
	text-decoration: none;
}
.sc_menu div{
	display: none;
	margin-top: 3px;
	text-align: center;
	font-size: 8pt;	
	color: #000;
	width:115px;
	overflow:hidden;
}
.sc_menu a:hover div  {
	display: block;
}
.sc_menu img {
	width:110px;
	height:65px;
	border: 3px #fff solid;	
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.sc_menu a:hover img {
	filter:alpha(opacity=50);	
	opacity: 0.5;
	-moz-opacity:0.50;
	-khtml-opacity: 0.50;
}