
/*** GENERAL **************/


.main_article_table{
	background:#EAEAEA;
	background:url('../images/bg1.png');
	border-top:1px solid #CACACA;
	border-bottom:1px solid #CACACA;
}

.slider_menu_hdr{
	background:#EAEAEA;
}

.slider_menu_bdy{
	background:#EAEAEA;
	border-bottom:1px solid #CACACA;
}

/*** THEME 1 **************/

.art_image_1{
	width:200px;
	height:220px !important;
}

.subject_1{
	position:absolute;
	width:196px;
	background:#000;
	margin-top:137px;
	height:80px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11pt;
	font-weight:bold;
	color:#fff;
	overflow:auto;
	padding-left:2px;
	padding-right:2px;
	z-index:100;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
	padding-top: 3px;
}

.subj_button_clpse_1{
	position:absolute;
	margin-top:133px !important;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.subj_button_expnd_1{
	position:absolute;
	margin-top:206px !important;
}

.subj_arrow_1{
	position:absolute;
	width:200px;
	background:url('../images/fly_arrow.png') no-repeat center;
	text-align:center;
	margin-top:128px !important;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.fly_subject_1{
	position:absolute;
	width:196px;
	background:#000;
	margin-top:7px;
	text-align:center;
	font-family:tahoma;
	font-size:9pt;
	max-height:200px !important;
	font-weight:normal;
	color:#fff;
	overflow:auto;
	padding:5px 2px 10px 2px;
	z-index:100;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.play_video_1{
	position:absolute;
	text-align:center;
	float:center;
	margin-top:90px !important;
	width:200px;
	z-index:50;
	filter:alpha(opacity=80);
	-moz-opacity:0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
}

/*** THEME 2 **************/

.art_image_2{
	width:180px;
	height:220px;
}

.subject_2{
	position:absolute;
	width:176px;
	background:#000;
	margin-top:135px;
	height:65px;
	text-align:center;
	font-family:tahoma;
	font-size:8pt;
	font-weight:normal;
	color:#fff;
	overflow:auto;
	padding-left:2px;
	padding-right:2px;
	z-index:100;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.subj_button_clpse_2{
	position:absolute;
	margin-top:123px !important;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.subj_button_expnd_2{
	position:absolute;
	margin-top:186px !important;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.subj_arrow_2{
	position:absolute;
	width:180px;
	background:url('../images/fly_arrow.png') no-repeat center;
	text-align:center;
	margin-top:118px !important;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.fly_subject_2{
	position:absolute;
	width:176px;
	background:#000;
	margin-top:15px;
	text-align:center;
	font-family:tahoma;
	font-size:9pt;
	max-height:170px !important;
	font-weight:normal;
	color:#fff;
	overflow:auto;
	padding:5px 2px 10px 2px;
	z-index:100;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.fly_down_dep{
	background:#000;
	width:180px;
	position:absolute;
	margin-top:200px !important;
	line-height:20px;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.play_video_2{
	position:absolute;
	text-align:center;
	float:center;
	width:180px;
	margin-top:90px !important;
	z-index:50;
	filter:alpha(opacity=80);
	-moz-opacity:0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
}