/*#autocomplete_block {
	display: none;
	font: 12px/normal Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	color: #838074;
	position: absolute;
	right: 0;
	top: 52px;
	width: 360px;
	max-width: 360px;
	z-index: 32000;
	overflow: visible;
}

#autocomplete_top {
	font-size: 0;
	line-height: 0;
	width: 100%;
	height: 5px;
	z-index: 150;
}

#autocomplete_top img {
	width: 9px;
	height: 5px;
}

#autocomplete_content {
	width: 100%;
	height: 382px;
	background-color: #f5f5f5;
	box-shadow: 0 0 16px rgba(0,0,0,0.5);
	z-index: 100;
	overflow: hidden;
}

#autocomplete_block b {
	color: black;
	font-weight: normal;
	font-style: normal;
}

#autocomplete_block ul {
	width: 100%;
	padding: 0;
	margin: 5px 0;
	list-style: none;
	overflow: hidden;
}

#autocomplete_block ul li {
	line-height: 25px;
	height: 25px;
	overflow: hidden;
}

#autocomplete_block ul li:hover, #autocomplete_block ul.active .active{
	background-color: #e6e3e0;
}

#autocomplete_block ul li a {
	display: block;
	line-height: 25px;
	color: #838074;
	text-decoration: none;
	outline: none;
	border: none;
	padding: 0;
	margin: 0 12px;
	vertical-align: middle;
}

.acInput {
	width: 200px;
}

.acResults {
	font: 12px/normal Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	color: #838074;
	padding: 0px;
	background-color: #f5f5f5;
	box-shadow: 0 3px 8px rgba(0,0,0,0.5);
	overflow: hidden;
	z-index: 32000;

}

.acResults ul {
	margin: 0px;
	padding: 0px;
	list-style-position: outside;
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 5px 0;
	list-style: none;
	overflow: hidden;
}

.acResults ul li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	font: menu;
	font-size: 12px;
	overflow: hidden;
	line-height: 25px;
	height: 25px;
	overflow: hidden;
}

.acLoading {
	background : url('/image/search/indicator.gif') right center no-repeat;
}

.acSelect {
	background-color: #e6e3e0;
	color: #838074;
}*/
.autocomplete-w1 {
	/*background:url(/images/shadow.png) no-repeat bottom right;*/
	position:absolute;
	top:0px;
	left:0px;
	margin: 10px 0 0 7px;
	/* IE6 fix: */
	_background:none;
	_margin:0; }
.autocomplete {
	font: 12px/normal Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	color: #838074;
	/*border:1px solid #999;*/
	background:#f5f5f5;
	box-shadow: 0 0 16px rgba(0,0,0,0.5);
	cursor:default;
	text-align:left;
	max-height:350px;
	overflow:hidden;
	margin:-6px 6px 6px -6px;
	/* IE6 specific: */
	_height:350px;
	_margin:0;
	_overflow-x:hidden;
}
.autocomplete .selected {
	background-color: #e6e3e0;
	color: #838074;
	cursor: pointer;
}
.autocomplete div {
	padding:5px 5px;
	white-space:nowrap;
}
.autocomplete strong { }
