div.datepicker {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 338px;
	height: 147px;
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	display: none;
	z-index: 32000;
}
.datepickerContainer {
	/* background: #121212; */
	background: #FFFFFF;
	position: absolute;
	top: 10px;
	left: 10px;
}
.datepickerBorderT {
	position: absolute;
	left: 10px;
	top: 0;
	right: 10px;
	height: 10px;
	width: 318px;
	background: url(/images/datepicker/custom_t.png);
}
.datepickerBorderB {
	position: absolute;
	left: 10px;
	bottom: 0;
	right: 10px;
	height: 10px;
	width: 318px;
	background: url(/images/datepicker/custom_b.png);
}
.datepickerBorderL {
	position: absolute;
	left: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
height: 156px;
	background: url(/images/datepicker/custom_l.png);
}
.datepickerBorderR {
	position: absolute;
	right: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
height: 156px;
	background: url(/images/datepicker/custom_r.png);
}
.datepickerBorderTL {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: transparent url(/images/datepicker/custom_tl.png) 0 0 no-repeat;
}
.datepickerBorderTR {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: transparent url(/images/datepicker/custom_tr.png) 0 0 no-repeat;
}
.datepickerBorderBL {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: transparent url(/images/datepicker/custom_bl.png) 0 0 no-repeat;
}
.datepickerBorderBR {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: transparent url(/images/datepicker/custom_br.png) 0 0 no-repeat;
}
.datepickerHidden {
	display: none;
}
div.datepicker table {
	border-collapse:collapse;
}
div.datepicker a {
	/* color: #eee; */
	color: #666;
	text-decoration: none;
	cursor: default;
	outline: none;
}
div.datepicker table td {
/*	text-align: right;*/
	text-align: left;
	padding: 0;
	margin: 0;
}
div.datepicker th {
	text-align: center;
	color: #999;
	font-weight: normal;
}
div.datepicker tbody a {
	display: block;
}
.datepickerDays a {
	width: 20px;
text-align: right;
	line-height: 16px;
	height: 16px;
	padding-right: 2px;
}
.datepickerYears a,
.datepickerMonths a{
	width: 44px;
	line-height: 36px;
	height: 36px;
	text-align: center;
}
td.datepickerNotInMonth a {
	/* color: #666; */
	color: #999;
}

tbody.datepickerDays td.datepickerSelected{
	background: #ccc;
}
tbody.datepickerDays td.datepickerSelected a:hover{
	color: #000 !important;
	font-weight:bold;
}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
	background: #ccc;
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
	background: #ccc;
}
div.datepicker a:hover {
	color: #000;
	font-weight:bold;
}
div.datepicker td.datepickerNotInMonth a:hover {
	color: #000;
	font-weight:bold;
}
.datepickerSpace div {
	width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
	text-align: center;
	height: 20px;
	line-height: 20px;
}
.datepickerGoNext a {
	float: right;
	width: 20px;
}
.datepickerGoPrev a {
	float: left;
	width: 20px;
}
.datepickerDoW th {
	padding-bottom:2px;
}
table.datepickerViewDays {
	width:100%;
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}
table.datepickerViewMonths {
	width: 100%;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
	color: #333;
}
td.datepickerDisabled a:hover {
	color: #333;
}
td.datepickerSpecial a {
	background: #700;
}/*
td.datepickerSpecial.datepickerSelected a {
	background: #a00;
}*/


#widget {
	position: relative;
}
#widgetField {
	width: 290px;
	height: 26px;
	background: url(/images/datepicker/field.png);
	overflow: hidden;
	position: relative;
}
#widgetField a 	{
	display: block;
	position: absolute;
	width: 26px;
	height: 26px;
	top: 0;
	right: 0;
	text-decoration: none;
	text-indent: -3000px;
}
#widgetField span	{
	font-size: 12px;
	font-weight: bold;
	color: #000;
	position: absolute;
	top: 0;
	height: 26px;
	line-height: 26px;
	left: 5px;
	width: 250px;
	text-align: center;
}
#widget_calendar {
	position: absolute;
	top: 28px;
	left: 0;
	height: 0;
	overflow: hidden;
	width: 338px;
 	/* background: #B9B9B9; */
	z-index: 32000;
}
#widget_calendar .datepicker {
	position: absolute;
	bottom: 0;
	top: auto;
}

#date_range_close {
	margin-top: 5px;
	background: #666;
	color: #FFF;
	padding: 1px 4px;
	font-weight: bold;
}
#date_range_close:hover {
	cursor: pointer;
}