html {
	/* background: #6e6e6d url(../images/body_bg.gif) repeat 0 0; */
	min-height: 100%;
}

body {
	background: #1a1c1d url(../images/wrap_bg.png) repeat-y center 0;
	min-width: 990px;
	min-height: 100%;
	font: 10px Arial;
	color: #000;
	position: relative;
}

p {
	margin-bottom: 7px;
	/* text-indent: 1.2em; */
}

a {
	color: #093d72;
	text-decoration: none;
}
a:hover {
	color: #e36627;
	text-decoration: none;
}
body a.more {
	background: transparent url(../images/more_bg.gif) repeat-x 0 0;
	font: bold 12px Arial;
	/*color: #fff;*/
	color: #093d72;
	padding: 2px 4px;
	height: 18px;
	overflow: hidden;
}
body a.more:hover {
	color: #333;
}

h1 {
	font-size: 28px;
	font-family: Georgia;
	color: #000;
}
h2 {
	font-size: 16px;
	font-family: Georgia;
	font-weight: bold;
	color: #536068;
}
h3 {
	font-size: 20px;
	font-family: Georgia;
	color: #536068;
}
h4 {
	/*border-top: 3px solid #70787d;*/
	border-top: 3px solid #70787c;
	border-bottom: 1px dotted #ccc;
	/*color: #70787d;*/
	color: #333;
	/*font: 18px Arial;*/
	/*font: 20px Georgia;*/
	font: bold 16px Arial, Helvetica;
	line-height: 18px;
	padding: 4px 7px 4px 7px;
	/*margin-bottom: 8px;*/
	margin-bottom: 6px;
}
h4 a {
/*	color: #333;*/
}
h5 {
	font-size: 15px;
	font-family: Arial;
	font-weight: bold;
	color: #536068;
	margin: 6px 0;
}


big, .big {
	font-size: 1.2em !important;
}
small, .small {
	font-size: .8em !important;
}

.clear {
	clear: both !important;
	padding: 0 !important;
	margin: 0 !important;
	height: 0px !important;
	font-size: 0px !important;
	border: none !important;
	float: none !important;
	width: auto !important;
	background: none !important;
}

.hr {
	/*background: #d4d6d8 !important;*/
	background: transparent !important;
	padding: 0 !important;
	margin: 0 !important;
	/*height: 1px !important;*/
	height: 0 !important;
	overflow: hidden !important;
	border: none !important;
	border-top: 1px dotted #ccc !important;
	float: none !important;
	width: auto !important;
}

.hrbold {
	/*background: #d4d6d8 !important;*/
	background: transparent !important;
	padding: 0 !important;
	margin: 0 !important;
	/*height: 1px !important;*/
	height: 0 !important;
	overflow: hidden !important;
	border: none !important;
	border-top: 3px solid #70787c !important;
	float: none !important;
	width: auto !important;
}

.disabled {
	cursor: default !important;
}
.busy, .busy a {
	cursor:progress !important;
}

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.unselectable { /* for IE6-9 and Opera use unselectable="on" tag attribute */
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   -ms-user-select: none; /* Introduced in IE 10. See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/ */

   user-select: none;
}

.hint-link {
	position: relative;
	font: normal 10px/12px Arial, sans-serif;
	vertical-align: top;
}
.hint-link .hint {
	display: none;
	position: absolute;
	top: 15px;
	left: 15px;

	width: 400px;
	padding: 10px;
	font: 12px/14px Arial, sans-serif;
	color: #fff;
	background-color: #333;
	border-radius: 3px;

	-webkit-box-shadow: 2px 2px 3px 0px #000;
	   -moz-box-shadow: 2px 2px 3px 0px #000;
	        box-shadow: 2px 2px 3px 0px #000;
}
.hint-link:hover .hint {
	display: block;
}

.monospace {
	font-family: monospace;
}

.border-box {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.img-link {
	font-size: 0;
}
