html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: none;
	font-size: 100%;
	/* font-style: inherit; */
	font-weight: inherit;
	margin: 0;
	padding: 0;
	/* text-align: left; */
}
a img, :link img, :visited img {
	border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style-position: outside;
}
ul {
	padding-left: 0;
	margin-left: 0;
}
input, textarea, input:focus, textarea:focus, input:active, textarea:active {
	outline: none;
}
