/******** ALL PAGE ********/
.wrap {
  background: #fff;
  width: 990px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.top_banner {
  display: none;
}
.tooltip_bubble {
  background: transparent url(../images/tooltip_bg.gif) repeat-x 0 100%;
  padding-bottom: 1px;
  color: #000;
  cursor: pointer;
}
.tooltip_block {
  position: absolute;
  width: 220px;
  top: 10px;
  left: 190px;
  display: none;
  z-index: 999;
}
.tooltip_block .tooltip_link {
  position: absolute;
  top: 2px;
  left: -85px;
}
.tooltip_block h1 {
  font-size: 1em;
  color: #999;
}
.tooltip_block .tooltip_top, .tooltip_block .tooltip_bot {
  background: transparent url(../images/tt_tl.png) no-repeat 0 0;
  display: block;
  padding-left: 4px;
  font-size: 0;
}
.tooltip_top span, .tooltip_bot span {
  background: transparent url(../images/tt_tr.png) no-repeat 100% 0;
  display: block;
  padding-right: 4px;
  font-size: 0;
}
.tooltip_top span span, .tooltip_bot span span {
  background: #555a5c;
  display: block;
  padding: 0;
  height: 4px;
}
.tooltip_block .tooltip_bot {
  background-image: url(../images/tt_bl.png);
}
.tooltip_bot span {
  background-image: url(../images/tt_br.png);
}
.tooltip_mid {
  background: #fff;
  display: block;
  border-left: 4px solid #555a5c;
  border-right: 4px solid #555a5c;
  padding: 11px;
}
.get_html_block {
  width: 580px;
  top: 0;
  left: 25px;
  z-index: 99;
}
.fullsize .get_html_block {
  width: 710px;
  left: 196px;
}
.get_html_block .tooltip_link {
  left: 545px;
  bottom: -12px;
  right: auto;
  top: auto;
  z-index: 99;
}
.get_html_block textarea {
  width: 476px;
  height: 100px;
  font-size: 11px;
}
.get_html_block .tooltip_mid {
  padding-top: 18px;
}
.get_html_block .tooltip_mid div {
  margin: 0 !important;
}
.tooltip_block_close {
  background: transparent url(/images/icon_x.gif) no-repeat 0 0;
  border: none !important;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  top: 6px;
  right: 6px;
}
.content_info_block {
  font-size: 12px;
  color: #999;
  margin-bottom: 3px;
  clear: both;
}
.content_info_block .info_block_rubric {
  font: 12px Arial;
  color: #70787d;
  background: transparent url(../images/icon_rubric.png) no-repeat 0 center;
  padding-left: 14px;
}
.content_info_block .info_block_date {
  font-size: 12px;
  background: transparent url(../images/icon_date.png) no-repeat 0 center;
  padding-left: 14px;
}
.content_info_block .info_block_comments {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  background: transparent url(../images/icon_comments.png) no-repeat 0 center;
  padding-left: 20px;
  float: right;
}
.content_info_block .info_block_count {
  font-size: 10px;
  color: #70787d;
}
.content_info_block .info_block_updates {
  background: transparent url(../images/icon_updates.png) no-repeat 0 center;
  padding-left: 14px;
  font-size: 12px;
  color: #999;
}
.content_info_block .info_block_updates label {
  font-size: 12px;
  color: #70787d;
}
.more_news {
  border-top: 1px dotted #d4d6d8;
  display: block;
  margin-top: 5px;
  padding: 5px 9px 3px 9px;
  text-align: right;
  font-size: 12px;
}
/******** ~ALL PAGE ********/

/******** HEADER ********/
.header {
  background: #474646;
  height: 100px;
  position: relative;
}
.header .logo_block {
  float: left;
  width: 410px;
  height: 72px;
  margin-top: 13px;
  position: relative;
}
.header .logo_block h6 {
  float: left;
  color: #ddd;
  font: 1.3em Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: 0;
  left: 255px;
  width: 90px;
  height: 72px;
  background: url(/images/16plus.png) no-repeat bottom left;
  line-height: 1.2;
}
.header .logo_block img {
  float: left;
  margin-left: 22px;
}
.header .promo_block {
  float: left;
  width: 291px;
  height: 90px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  margin-top: 10px;
}
.header .search_block {
  position: relative;
  float: right;
  width: 360px;
  height: 71px;
  margin: 29px 5px 0 0;
}
.header .social_but {
  position: absolute;
  width: 165px;
  height: 19px;
  right: 6px;
  top: 6px;
}
.header .social_but a {
  display: block;
  float: left;
  margin-right: 10px;
  width: 19px;
  height: 19px;
}
.header .social_but a.fb_but {
  background: transparent url(/images/social_but.png) no-repeat 0 0;
}
.header .social_but a.fb_but:hover {
  background: transparent url(/images/social_but.png) no-repeat 0 -19px;
}
.header .social_but a.tw_but {
  background: transparent url(/images/social_but.png) no-repeat -19px 0;
}
.header .social_but a.tw_but:hover {
  background: transparent url(/images/social_but.png) no-repeat -19px -19px;
}
.header .social_but a.vk_but {
  background: transparent url(/images/social_but.png) no-repeat -38px 0;
}
.header .social_but a.vk_but:hover {
  background: transparent url(/images/social_but.png) no-repeat -38px -19px;
}
.header .social_but a.gplus_but {
  background: transparent url(/images/social_but.png) no-repeat -57px 0;
}
.header .social_but a.gplus_but:hover {
  background: transparent url(/images/social_but.png) no-repeat -57px -19px;
}
.header .social_but a.inst_but {
  background: transparent url(/images/social_but.png) no-repeat -76px 0;
}
.header .social_but a.inst_but:hover {
  background: transparent url(/images/social_but.png) no-repeat -76px -19px;
}
.header .social_but a.odnokl_but {
  margin-right: 0;
  background: transparent url(/images/social_but.png) no-repeat -95px 0;
}
.header .social_but a.odnokl_but:hover {
  background: transparent url(/images/social_but.png) no-repeat -95px -19px;
}
.search_block .search_form {
  background: transparent url(../images/search_bg.png) no-repeat 0 0;
  width: 360px;
  height: 30px;
  overflow: hidden;
  margin-bottom: 13px;
}
.search_form input.text {
  float: left;
  border: none;
  background: none;
  margin: 2px 0 0 8px;
  padding: 0;
  width: 326px;
  height: 27px;
  font-size: 14px;
  color: #c1c1bf;
}
.search_form input.text:focus {
  color: #000;
}
.search_form input.btn {
  float: left;
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  margin: 5px 0 0 2px;
  cursor: pointer;
}
.search_block .links_block {
  position: relative;
  color: #c8c8c8;
}
.search_block .links_block a {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  font: bold 12px/21px Arial, sans-serif;
  color: #c8c8c8;
  text-decoration: none;
  background: no-repeat 0 3px;
  margin-right: 5px;
  vertical-align: top;
}
.search_block .links_block .login {
  padding-left: 17px;
  background-image: url(/images/btn_icon_submit_dark.gif);
}
.search_block .links_block .register {
  padding-left: 17px;
}
.search_block .links_block .profile {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 195px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.search_block .links_block .logout {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 16px;
  height: 21px;
  background: url(/images/btn_icon_exit_dark.png) no-repeat 1px 3px;
}
.search_block .links_block .register {
  padding-left: 17px;
  background: url(/images/btn_icon_register_dark.gif) 0 4px;
}
.search_block .links_block a:hover {
  text-decoration: underline;
}
.search_block .links_block .specprojects_link {
  float: right;
  background: url('/images/btn_specprojects_bg.gif') no-repeat;
  width: 101px;
  height: 17px;
  padding: 2px 7px;
  color: #c8c8c8 !important;
  font: bold 12px Arial, sans-serif !important;
  text-align: center;
  margin-right: 0;
  text-decoration: none !important;
}
.search_block .links_block .specprojects_link.active {
  background-image: url('/images/btn_specprojects_bg_active.gif');
}
/******** ~HEADER ********/

/******** TOP MENU ********/
.top_menu, .bottom_menu {
  background: #f6f3f1;
  height: 25px;
  border-top: 1px solid #555a5c;
  border-bottom: 2px solid #cdcdcd;
}
.bottom_menu {
  border-bottom: none;
  border-bottom: 1px solid #555a5c;
  border-top: 2px solid #cdcdcd;
}
.top_menu ul, .bottom_menu ul {
  margin: 0;
  list-style: none;
}
.top_menu li, .bottom_menu li {
  float: left;
  margin-left: -1px;
  height: 25px;
  border-left: 1px solid #cdcdcd;
  position: relative;
  z-index: 5;
}
.top_menu a, .bottom_menu a {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #0b3d78;
  height: 20px;
  padding: 5px 7px 0 7px;
}
.top_menu li:hover a, .top_menu a:hover, .bottom_menu a:hover {
  background: #fff;
  color: #e36627;
}
.top_menu li.active a, .bottom_menu li.active a {
  color: #e36627;
}
.top_menu ul ul {
  background: #fff;
  position: absolute;
  top: 25px;
  left: 0;
  padding: 0 7px 7px 7px;
  border: 1px solid #cdcdcd;
  border-top-width: 2px;
  margin-left: -1px;
  overflow: hidden;
  display: none;
}
.top_menu li:hover ul {
  display: block;
}
.top_menu li.last_child ul {
  left: auto;
  right: 0;
}
.top_menu ul ul li {
  float: none;
  color: #666;
  height: auto;
  border-left: none;
  border-top: 1px dotted #b7bbbe;
  margin: -1px 0 0 0;
  font-size: 12px;
  padding: 4px 7px;
  max-width: 280px;
  min-width: 250px;
}
.menu_auth_block li {
  max-width: 200px !important;
  min-width: 150px !important;
}
.top_menu ul ul a {
  color: #0b3d78;
  font-size: 12px;
  font-weight: normal;
  height: auto;
  display: block;
  padding: 4px 7px;
  margin: -4px -7px;
}
.top_menu ul li:hover ul a, .top_menu ul ul a:hover {
  background: none !important;
  color: #0b3d78 !important;
}
.top_menu ul li ul a:hover {
  background: #edf0f5 !important;
  color: #e36627 !important;
}
/* SEO */
.top_menu h1 {
  font: bold 12px Arial;
  color: inherit;
}
/******** ~TOP MENU ********/

/******** TOP HOTS ********/
.hots_block {
  height: 27px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px dotted #d4d6d8;
  margin: 0 14px 0 15px;
}
.hots_block h2 {
  position: absolute;
  top: 7px;
  left: 8px;
  font: bold 10px Arial;
  color: #444;
  text-transform: uppercase;
}
.hots_block div {
  position: absolute;
  width: 730px;
  height: 19px;
  top: 5px;
  left: 161px;
  font-size: 12px;
  color: #0b3d78;
  overflow: hidden;
}
.hots_block div a {
  color: #0b3d78;
}
.hots_block div a:hover {
  color: #e36627;
}
.hots_block div ul {
  width: 9999em;
  list-style: none;
  margin: 0;
}
.hots_block div li {
  float: left;
  width: 440px;
  overflow: hidden;
}
.hots_block .prev_hot, .hots_block .noprev_hot, .hots_block .next_hot, .hots_block .nonext_hot {
  background: transparent url(../images/hots_nav.png) no-repeat 0 0;
  width: 14px;
  height: 14px;
  position: absolute;
  display: block;
  top: 6px;
  left: 122px;
}
.hots_block .noprev_hot {
  background-position: 0 -14px;
}
.hots_block .next_hot {
  left: 138px;
  background-position: -14px 0;
}
.hots_block .nonext_hot {
  left: 138px;
  background-position: -14px -14px;
}
.inner_hots_block {
  overflow: hidden;
  background: #f2f2f2;
  border-bottom: 1px solid #d4d6d8;
  position: relative;
}
.inner_hots_block .inner_hots_title {
  background: transparent url(../images/inner_hots_title_bg.png) no-repeat 100% 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 53px;
  font-size: 10px;
  color: #fff;
  padding: 39px 0 0 10px;
  z-index: 4;
}
.inner_hots_block .inner_hots_fade {
  background: transparent url(../images/inner_hots_fade.png) no-repeat 0 0;
  position: absolute;
  top: 0;
  right: 36px;
  width: 50px;
  height: 92px;
  z-index: 4;
}
.inner_hots_block .inner_hots_slider {
  margin-left: 120px;
}
.inner_hots_block ul {
  list-style: none;
  margin: 0 0 0 -1px;
  padding-top: 0;
  overflow: hidden;
  width: 9999em;
  height: 92px;
}
.inner_hots_block li {
  border-left: 1px solid #c7c7c7;
  width: 250px;
  padding: 8px;
  float: left;
}
.inner_hots_block li div {
  margin-right: 9px;
  float: left;
}
.inner_hots_block li a {
  font-size: 1.3em;
  line-height: 14px;
  color: #0b3d78;
  float: left;
  width: 126px;
  letter-spacing: 0;
}
.inner_hots_block li div a {
  margin-top: 0;
  float: none;
}
.inner_hots_block li a:hover {
  color: #c74b15;
}
.inner_hots_block .inner_hots_prev_btn, .inner_hots_block .inner_hots_next_btn {
  background: #245689 url(../images/inner_hots_right.gif) no-repeat center center;
  border-left: 1px solid #577da4;
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 92px;
  z-index: 9;
}
.inner_hots_block .inner_hots_next_btn {
  background-image: url(../images/inner_hots_left.gif);
  right: 18px;
}
.inner_hots_block .inner_hots_prev_btn:hover, .inner_hots_block .inner_hots_next_btn:hover {
  background-color: #5591cf;
}
/******** ~TOP HOTS ********/

/******** MAIN CONTAINER ********/
.main_container {
  overflow: hidden;
  position: relative;
  padding-bottom: 25px;
}
.main_container .show_all {
  border-top: 1px solid #70787d;
  font: 1.8em Georgia, 'Times New Roman', Times, serif;
  color: #70787d;
  padding: 3px 0 7px 0;
}
.main_container .show_all a {
  color: #70787d;
}
.columned {
  padding-right: 361px;
  background: transparent url(../images/right_col_border.gif) repeat-y 629px 0;
}
.columned .center_column {
  position: relative;
  float: left;
  width: 100%;
}
.columned .right_column {
  position: relative;
  float: left;
  width: 359px;
  margin-right: -361px;
  margin-left: 2px;
  overflow: hidden;
}
.main_container .comments_link {
  font-size: 2em;
  color: #70787d;
  margin: 10px 0;
  clear: both;
  height: 38px;
  display: inline-block;
  width: 230px;
  text-align: left;
}
.main_container .comments_link a {
  background: transparent url(../images/comments_link_bg.gif) repeat-x 0 20px;
  color: #70787d;
}
.main_container .comments_link a:hover {
  background: none;
}
.main_container .comments_link span {
  color: #a9aeb1;
}
.ya-share2__container_size_m .ya-share2__counter {
  padding: 8px 8px 0 8px !important;
}
.ya-share2__container_size_m .ya-share2__badge {
  border-radius: 8px !important;
}
.ya-share2__container_size_m .ya-share2__icon {
  height: 32px !important;
  width: 32px !important;
  background-size: 32px 32px !important;
}
.main_container .soc_btns {
  border-top: 1px solid #d4d6d8;
  padding: 2px 0 2px 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}
.main_container .soc_btns li {
  float: left;
  overflow: hidden;
  margin-right: 7px;
}
.main_container .soc_btns_bottom {
  border-bottom: 1px solid #d4d6d8;
  margin-top: -50px;
  padding: 9px 0 2px 0;
  list-style: none;
  overflow: hidden;
  text-align:right;
}
/******** ~MAIN CONTAINER ********/

/******** INDEX HOTS ********/
.center_column .hots_content {
  padding: 6px 14px 9px 15px;
  position: relative;
  overflow: hidden;
}
.hots_content .read_more {
  position: absolute;
  top: 12px;
  right: 30px;
  font: italic 2em Georgia, 'Times New Roman', Times, serif;
  color: #c6c9cb;
}
.center_column .hots_content_first {
  overflow: hidden;
  padding: 0 0 5px 8px;
}
.center_column .hots_content_first_video {
  float: left;
  width: 314px;
  height: 169px;
}
.center_column .hots_content_first_img {
  float: left;
}
.center_column .hots_content_first_text {
  width: 345px;
  float: right;
}
.center_column .hots_content_first_text h2 {
  color: #0b3d78;
  font-size: 2em;
  line-height: 20px;
  font-weight: bold;
  margin: -1px 0 7px;
}
.center_column .hots_content_first_text h2 a {
  color: #0b3d78;
}
.center_column .hots_content_first_text h2 a:hover {
  color: #e36627;
}
.center_column .hots_content_first_text p {
  color: #333;
  font-size: 1.3em;
  line-height: 15px;
  margin: 0;
}
.center_column .hots_content_first_text p a {
  color: #333;
}
.afisha_hots .hots_content_first {
  position: relative;
}
.afisha_hots .hots_content_first_img {
  width: 580px;
  height: 326px;
  overflow: hidden;
}
.afisha_hots .hots_content_first_text {
  background: transparent url(../images/afisha_h2bg.png) repeat 0 0;
  position: absolute;
  bottom: 5px;
  left: 8px;
  padding: 10px;
  width: 560px;
}
.afisha_hots .hots_content_first_text h2 {
  color: #fff;
  font-size: 2.4em;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 10px;
}
.afisha_hots .hots_content_first_text h2 a, .afisha_hots .hots_content_first_text h2 a:hover {
  color: #fff;
}
.afisha_hots .hots_content_first_text p {
  color: #fff;
  font-size: 1.4em;
}
.afisha_hots .hots_content_first_text p a, .afisha_hots .hots_content_first_text p a:hover {
  color: #fff;
}
.hots_content .hots_content_second {
  border-top: 1px dotted #ccc;
  background: transparent url(../images/light_sep_bg.gif) repeat-y /*center*/ 300px 0;
  overflow: hidden;
}
.hots_content .hots_content_left, .hots_content .hots_content_right {
  float: left;
  width: 292px;
  padding: 5px 0;
  overflow: hidden;
}
.hots_content .hots_content_right {
  float: right;
}
.hots_content .hots_content_img {
  float: left;
  margin: 3px 7px 0 8px;
}
.hots_content_left p, .hots_content_right p {
  color: #464545;
  font-size: 1.3em;
  line-height: 15px;
  margin: 0 8px 0 0;
}
.hots_content_left p a, .hots_content_right p a {
  color: #464545;
}
.hots_content_left h2, .hots_content_right h2 {
  font-size: 1.6em;
  line-height: 16px;
  font-weight: bold;
  color: #0b3d78;
  margin: 0 8px 6px 8px;
}
.hots_content_left h2 a, .hots_content_right h2 a {
  color: #0b3d78;
}
.hots_content_left h2 a:hover, .hots_content_right h2 a:hover {
  color: #e36627;
}
.hots_content .hots_content_left2, .hots_content .hots_content_right2 {
  border-top: 1px dotted #ccc;
  padding: 5px 8px 0 8px;
  margin-top: 5px;
  font-size: 1.3em;
  font-weight: bold;
}
.hots_content .hots_content_left2 a, .hots_content .hots_content_right2 a {
  color: #0b3d78;
}
.hots_content .hots_content_left2 a:hover, .hots_content .hots_content_right2 a:hover {
  color: #e36627;
}
.subrubrics_container {
  padding: 0 14px 9px 15px;
  position: relative;
  overflow: hidden;
}
.hots_content .hots_content_third,
.subrubrics_container ul {
  background: #f4efe8 url(../images/hots_third_bg.gif) repeat 0 0;
  border: 1px solid #dedede;
  height: 31px;
  overflow: hidden;
  margin: 9px 0 0 0;
  padding: 0 0 0 15px;
  list-style: none;
}
.subrubrics_container ul {
  margin: 0;
  padding: 0 0 0 5px;
}
.hots_content .hots_content_third li,
.subrubrics_container li {
  font: 10px Arial;
  color: #333;
  float: left;
  margin: 5px 5px 0 0;
}
.subrubrics_container li {
  margin-right: 3px;
}
div.subrubrics_container li a {
  padding: 3px 7px 0 7px;
}
.hots_content .hots_content_third li.title {
  padding-top: 4px;
}
.hots_content .hots_content_third li a,
.subrubrics_container li a {
  background: #fff url(../images/hots_third_item_bg.gif) repeat-x 0 100%;
  border: 1px solid #fff;
  font: bold 11px Arial;
  display: block;
  padding: 3px 8px 0 8px;
  height: 17px;
  overflow: hidden;
}
.hots_content .hots_content_third li a:hover,
.subrubrics_container li a:hover,
.subrubrics_container li a.active {
  background: #e36627 url(../images/hots_third_itema_bg.gif) repeat-x 0 100%;
  color: #fff;
}
.hots_content .hots_content_third li.rss_link {
  float: right;
}
.hots_content .hots_content_third li.rss_link a {
  background: #fff;
  padding: 0;
  height: 20px;
}
.hots_content .hots_content_third li.rss_link a:hover {
  background: none;
}
.afisha_hots .hots_content_second .hots_content_img {
  width: 240px;
  margin: 0 auto 5px auto;
  float: none;
}
.afisha_hots .hots_content_second h2 {
  width: 240px;
  margin: 0 auto;
  font-size: 1.4em;
}
.specproj_container {
  padding: 0 14px 15px 15px;
  position: relative;
  overflow: hidden;
}
.specproj_container ul {
  overflow: hidden;
  list-style: none;
  margin: 9px 0 0 -21px;
}
.specproj_container li {
  width: 176px;
  height: 22px;
  padding: 8px 0 0 10px;
  border-bottom: 1px solid #cdcdcd;
  margin-left: 21px;
  float: left;
}
.specproj_container li.active {
  background: #f2f2f2;
}
.specproj_container a {
  color: #093d72;
  font-size: 13px;
}
/******** ~INDEX HOTS ********/

/******** EDITOR BLOCK WIDGET ********/
.center_column .editor_content {
  border-top: 2px solid #d4d6d8;
  padding: 9px 14px 0 15px;
}
.editor_content .hots_content_first_text h2 {
  color: #0b3d78;
  font-size: 1.5em;
  font-weight: bold;
}
.editor_content .hots_content_first_text h2 a {
  color: #0b3d78;
}
.editor_content .hots_content_first_text h2 a:hover {
  color: #e36627;
}
.editor_content .hots_content_first_text h3 {
  color: #333;
  font-size: 1.3em;
  margin-bottom: 5px;
}
.editor_content .hots_content_first_text h3 a {
  color: #333;
}
/******** ~EDITOR BLOCK WIDGET ********/

/******** AFISHA BLOCK WIDGET ********/
.center_column .afisha_content {
  border-top: 2px solid #d4d6d8;
  padding: 9px 14px 10px 15px;
}
.center_column .afisha_content h4 {
  margin-bottom: 0;
}
.afisha_content_wrap {
  overflow: hidden;
  background: transparent url(../images/light_sep_bg.gif) repeat-y /*center*/ 260px 0;
}
.afisha_content .afisha_left {
  float: left;
  width: 240px;
  padding: 10px;
}
.afisha_content .afisha_left .afisha_left_img {
  position: relative;
  width: 240px;
  height: 140px;
  overflow: hidden;
  margin-bottom: 7px;
}
.afisha_content .afisha_left h2 {
  background: transparent url(../images/afisha_h2bg.png) repeat 0 0;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  padding: 5px;
  width: 230px;
}
.afisha_content .afisha_left h2 a {
  color: #fff;
}
.afisha_content .afisha_left h2 a:hover {
  color: #fff;
}
.afisha_content .afisha_left p {
  color: #000;
  font-size: 1.2em;
}
.afisha_content .afisha_left p a {
  color: #000;
}
.afisha_content .afisha_right {
  border-top: 1px dotted #ccc;
  margin-top: -1px;
  float: right;
  width: 329px;
  padding-top: 10px;
  overflow: hidden;
}
.afisha_content .afisha_right .afisha_right_img {
  float: left;
}
.afisha_content .afisha_right h2 {
  float: right;
  width: 200px;
  font-size: 1.4em;
  margin-top: -4px;
  font-weight: bold;
}
.afisha_content .afisha_right p {
  float: right;
  width: 200px;
  font-size: 1.2em;
  color: #000;
}
.afisha_content .afisha_right p a {
  color: #000;
}
/******** ~AFISHA BLOCK WIDGET ********/

/******** MEDIA BLOCK WIDGET ********/
.center_column .media_content {
  background: #f4f1e9;
  border-top: 2px solid #d4d6d8;
  padding: 9px 0;
  position: relative;
  overflow: hidden;
}
.media_content .media_content_wrap {
  background: transparent url(../images/light_sep_bg.gif) repeat-y /*center*/ 315px 0;
  overflow: hidden;
  padding: 0 14px 0 15px;
}
.media_content .media_content_left, .media_content .media_content_right, .media_content .media_content_left2, .media_content .media_content_right2 {
  float: left;
  width: 280px;
}
.media_content .media_content_right, .media_content .media_content_right2 {
  float: right;
}
.media_content h3 {
  font-weight: bold;
  font-size: 1.5em;
  color: #0b3d78;
  margin-bottom: 5px;
}
.media_content h3 a {
  color: #0b3d78;
}
.media_content h3 a:hover {
  color: #e36627;
}
.media_content .media_content_video {
  float: left;
  margin: 0 0 5px 0;
  position: relative;
}
.media_content_video .video_sign {
  position: absolute;
  top: 48px;
  left: 98px;
  opacity: .7;
}
.media_content_video a:hover .video_sign {
  opacity: .9;
}
.media_content p {
  font-size: 1.4em;
  color: #333;
  margin-top: 3px;
}
.media_content p a {
  color: #333;
}
.media_content_left .show_all {
  font-style: italic;
}
.media_content_gallery {
  position: relative;
  margin: 0 -7px 10px -7px;
  width: 294px;
  height: 115px;
}
.media_content_gallery .media_gallery_1, .media_content_gallery .media_gallery_2 {
  width: 120px;
  height: 80px;
  position: absolute;
  top: 12px;
  left: 0;
  z-index: 1;
}
.media_content_gallery .media_gallery_2 {
  left: auto;
  right: 0;
}
.media_content_gallery .media_gallery_3 {
  width: 160px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 60px;
  z-index: 2;
}
/******** ~MEDIA BLOCK WIDGET ********/

/******** NEWS BLOCK WIDGET ********/
.center_column .news_content {
  border-top: 2px solid #d4d6d8;
  padding: 9px 0;
  position: relative;
  overflow: hidden;
}
.news_content .news_content_wrap, .news_content .news_content_wrap2 {
  background: transparent url(../images/light_sep_bg.gif) repeat-y /*center*/ 315px 0;
  overflow: hidden;
  padding: 0 14px 0 15px;
}
.news_content .news_content_wrap2 {
  background: none;
}
.news_content .news_content_left, .news_content .news_content_right, .news_content .news_content_left2, .news_content .news_content_right2 {
  float: left;
  width: 290px;
}
.news_content_left2 .more_news {
  margin-left: -8px;
  margin-right: -8px;
  border: none;
}
.news_content .news_content_left, .news_content .news_content_right {
  padding: 0 8px 5px 8px;
  width: 274px;
}
.news_content h3 {
  color: #0b3d78;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}
.news_content h3 a {
  color: #0b3d78;
}
.news_content h3 a:hover {
  color: #e36627;
}
.news_content .news_content_img {
  float: left;
  margin: 0 5px 0 0;
}
.news_content .news_content_bigimg {
  margin: 0 5px 5px 5px;
}
.news_content p {
  color: #333;
  font-size: 1.3em;
  line-height: 15px;
  margin: 0;
}
.news_content p a {
  color: #333;
}
.news_content .more_theme_news, .hots_content .more_theme_news {
  margin: 5px 0 0 0;
  list-style: none;
}
.news_content .more_theme_news li, .hots_content .more_theme_news li {
  background: transparent url(../images/theme_news_marker.gif) no-repeat 0 8px;
  border-bottom: 1px dotted #ccc;
  font-size: 11px;
  padding: 3px 8px;
}
.news_content .more_theme_news li a, .hots_content .more_theme_news li a {
  font: bold 12px Georgia, 'Times New Roman', Times, serif;
}
.news_content .more_theme_news li.label, .hots_content .more_theme_news li.label {
  background: none;
  font-style: italic;
  color: #70787d;
}
.news_content .news_content_left2 {
  padding: 0 8px 5px 8px;
  margin: 0;
  width: 274px;
}
.news_content .news_content_left2 .hrbold,
.news_content .news_content_left2 h4,
.news_content .news_content_left2 h1 {
  margin: 0 -8px !important;
}
.news_content_left2 .news_single {
  background: #f2f2f2;
  margin: -4px -8px 3px -8px;
  padding: 0 8px;
}
.news_content_left2 .news_single h3 {
  margin-bottom: 5px;
}
.news_content_left2 .news_single .more_theme_news {
  margin: 5px 0 0 0;
}
.news_content .news_content_left2 h1 {
  border-top: 3px solid #70787c;
  border-bottom: 1px dotted #ccc;
  color: #333;
  font: bold 16px Arial, Helvetica;
  line-height: 18px;
  padding: 4px 7px 4px 7px;
  margin: 0 -8px;
}
.news_content .news_content_right, .news_content .news_content_right2 {
  float: right;
}
.news_content .news_content_right2 {
  float: right;
  padding: 0 8px 5px 8px;
  width: 274px;
}
.news_content_right2 .more_news {
  margin-left: -8px;
  margin-right: -8px;
}
.news_content .news_content_right2 h4, .news_content .news_content_right h4, .news_content .news_content_left h4, .news_content_left2 .news_single h4 {
  margin: 0 -8px;
}
.news_content_right2 .hrbold, .news_content_right .hrbold, .news_content_left .hrbold, .news_content_left2 .news_single .hrbold {
  margin: 0 -8px 3px -8px !important;
}
/* SEO*/
.news_content .news_content_right2 h1 {
  border-top: 3px solid #70787c;
  border-bottom: 1px dotted #ccc;
  color: #333;
  font: bold 16px Arial, Helvetica;
  line-height: 18px;
  padding: 4px 7px 4px 7px;
  margin: 0 -8px;
}
.news_content_left2 .content_info_block .info_block_date {
  font-size: 10px;
  font-style: italic;
}
.news_content_left2 h3 {
  font-size: 1.5em;
  margin-bottom: 1px;
}
.news_content_left2 h3.first_child {
  font-size: 2em;
}
.news_content_left2 p {
  margin-bottom: 5px;
}
.news_content_left2 .more_theme_news {
  margin: 0;
}
.news_content_left2 .more_theme_news li {
  background: transparent url(../images/theme_news_marker.gif) no-repeat 0 6px;
  font-size: 11px;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.news_content_left2 .hr {
  margin: 5px -8px 3px -8px !important;
}
.main_container .news_content_left2 .show_all {
  border-color: #d4d6d8;
  font-style: italic;
  margin-top: 10px;
  padding: 0 0 4px 0;
}
/******** ~NEWS BLOCK WIDGET ********/

/******** TEXT CONTAINER ********/
.text_page {
  position: relative;
  padding: 15px 24px 15px 25px;
  overflow: hidden;
}
.text_page .info_block_rubric {
  background: none;
  padding-left: 0;
  font-size: 12px;
}
.text_page .title_info_block {
  border-top: 1px solid #ecebe6;
  border-bottom: 1px solid #ecebe6;
  font-size: 1.6em;
  font-style: italic;
  color: #666;
  padding: 5px 0 7px 0;
  margin: 8px 0;
}
.text_page .title_info_block a {
  color: #666;
}
.text_page .content_info_block {
  padding-bottom: 5px;
}
.text_page h1 {
  margin-bottom: 10px;
}
.text_page h2 {
  margin: 10px 0;
}
.text_page h3 {
  margin-bottom: 10px;
}
.text_page .text_block {
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.text_page .text_block p {
  margin-bottom: 1em;
}
.text_page .text_block ul {
  list-style: none;
  margin: 10px 0;
}
.text_page .text_block img {
  max-width: 580px;
}
.text_page .img_block img {
  display: block;
  margin: 0 auto;
  max-width: 580px;
}
.text_page .img_left {
  float: left;
  margin-right: 10px;
}
.text_page .img_right {
  float: right;
  margin-left: 10px;
}
.text_page .img_block a {
  color: #999;
}
.text_page .img_block p.comment {
  background: #70787d;
  padding: 5px 10px;
  font-size: 14px;
  color: #dfe8ed;
  margin-bottom: 0;
}
.text_page .img_block p.comment em {
  font-style: normal;
}
.text_page .img_block p.copy {
  font-size: 10px;
  color: #999;
}
.text_page .text_block a {
  color: rgb(0, 24, 171);
  font-weight: bold;
}
.text_page .subtitle {
  font-size: 18px;
  line-height: 20px;
  color: #000;
  font-weight: bold;
  font-family: Arial;
  margin-bottom: 1em;
}
.text_page table, .text_page td {
  border: 1px solid #d4d6d8;
}
.text_page td {
  padding: 3px 5px;
}
.text_page .slide_block {
  font-size: 12px;
  margin: 10px 0;
  background: #f2f2f2;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.slide_block .title {
  display: block;
  padding: 10px 8px;
}
.slide_block .title .action_name {
  float: right;
  color: #333;
  position: relative;
  padding-left: 15px;
  background: url('/images/btn_icon_arrow_sprite.png') no-repeat 0 -9px;
}
.slide_block.active .title .action_name {
  background-position: 0 5px;
}
.slide_block .content {
  display: none;
  border: none;
  border-top: 1px solid #b3b3b3;
  padding: 8px 10px;
  margin: 0;
}
.slide_block .content form {
  padding: 0;
  margin: 0;
}
/******** ~TEXT CONTAINER ********/

/******** GALLERY CONTAINER ********/
.gallery_image {
  font-size: 10px;
  position: relative;
}
.gallery_image .gallery_image_block {
  position: relative;
  overflow: hidden;
}
.gallery_image .gallery_img_prev_btn, .gallery_image .gallery_img_next_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 29;
}
.gallery_image .gallery_img_prev_btn div, .gallery_image .gallery_img_next_btn div {
  background: transparent url(../images/interactive_nav.png) no-repeat -21px 0;
  width: 21px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -20px;
}
.gallery_image .gallery_img_next_btn {
  left: auto;
  right: 0;
}
.gallery_image .gallery_img_next_btn div {
  background-position: 0 0;
  left: auto;
  right: 0;
}
.gallery_image .gallery_image_img {
  cursor: pointer;
  text-align: center;
  background-size: cover !important;
}
.gallery_image .gallery_image_img img {
  display: block;
  margin: 0 auto;
}
.gallery_image .gallery_image_text {
  background: #70787d;
  padding: 7px 10px;
  color: #dfe8ed;
}
.gallery_image_text label {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  float: left;
}
.gallery_image_text h2 {
  margin: 0;
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
}
.gallery_image_text p {
  font-size: 1.5em;
}
.gallery_image .gallery_image_copy {
  font-size: 10px;
  color: #999;
}
.gallery_image_copy a {
  color: #999;
}
.gallery_image_copy a:hover {
  text-decoration: underline;
}
.gallery_images_list {
  background: #f4f1e9;
  border-top: 2px solid #d4d4d4;
  border-bottom: 2px solid #d4d4d4;
  margin: 0 -24px 0 -25px;
  padding: 22px 24px 22px 25px;
  overflow: hidden;
  position: relative;
}
.gallery_images_list .gallery_images_slider_block {
  width: 580px;
  margin: 0 auto;
  overflow: hidden;
}
.gallery_images_list ul {
  list-style: none;
  overflow: hidden;
  width: 9999em;
  position: relative;
}
.gallery_images_list li {
  background: transparent url(../images/gallery_list_item.png) no-repeat 0 0;
  width: 170px;
  height: 170px;
  padding: 7px;
  margin-right: 15px;
  float: left;
}
.gallery_images_list li:hover {
  background-position: 0 -184px
}
.gallery_images_list li.active {
  background-position: 0 -368px;
}
.gallery_images_list li a {
  width: 170px;
  height: 170px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
.gallery_images_list .gallery_images_prev_btn, .gallery_images_list .gallery_images_next_btn {
  background: transparent url(../images/interactive_nav.png) no-repeat -21px 0;
  position: absolute;
  top: 104px;
  left: 0;
  width: 21px;
  height: 40px;
}
.gallery_images_list .disabled {
  background-image: none;
}
.gallery_images_list .gallery_images_next_btn {
  background-position: 0 0;
  left: auto;
  right: 0;
}
.gallery_images_list .gallery_images_prev_btn:hover {
  background-position: -21px -40px;
}
.gallery_images_list .gallery_images_next_btn:hover {
  background-position: 0 -40px;
}
/******** ~GALLERY CONTAINER ********/

/******** RIGHT COLUMN MAIN ********/
.right_column .right_block {
  padding: 4px 10px 4px 9px;
  border-top: 2px solid #d4d6d8;
}
.right_column .right_banner_block {
  background: #f2f2f2;
  border-bottom: 2px solid #d4d6d8;
  padding: 18px 10px 19px 9px;
  position: relative;
}
.right_column .banner {
  margin: 0 auto;
}
.right_column .right_banner_block h6 {
  color: #444;
  position: absolute;
  top: 0;
  left: 2px;
}
/******** ~RIGHT COLUMN MAIN ********/

/******** RATES BLOCK WIDGET ********/
.right_column .rates_block {
  background: #f0ebe4;
  padding: 0 10px;
  margin: 8px 0;
  overflow: hidden;
}
.rates_block h4 {
  margin: 0 -10px 8px;
}
.rates_block .rates_tabs {
  color: #093d72;
  font: 1.6em Georgia, 'Times New Roman', Times, serif;
  list-style: none;
  overflow: hidden;
  border-bottom: 2px solid #606665;
  padding: 0 10px;
  margin: 5px 10px;
}
.rates_block .rates_tabs li {
  float: left;
  padding: 1px 5px 0 5px;
  margin-left: 6px;
}
.rates_block .rates_tabs li.active {
  background: transparent url(../images/rates_tabs_active.gif) repeat 0 0;
  color: #fff;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.rates_block .rates_tabs li a {
  color: #093d72;
}
.rates_block .rates_tabs li.active a {
  color: #fff;
}
.rates_block .rates_plot_container {
  width: 294px;
  height: 158px;
  padding: 7px 10px 9px 10px;
  margin: 0 auto;
  background: transparent url(../images/rates_plot_bg.png) no-repeat;
}
.rates_block .rates_plot {
  width: 294px;
  height: 158px;
}
.rates_block .rates_data {
  width: 300px;
  margin: 10px auto;
}
.rates_block .rates_data td {
  background: transparent url(../images/0.gif) no-repeat center center;
  font-size: 1.1em;
  color: #333;
  padding: 3px 9px;
  white-space: nowrap;
}
.rates_block td.rate_title {
  color: #093d72;
}
.rates_block td.rate_delta_vis {
  padding: 0;
  width: 12px;
}
.rates_block td.rate_delta_sum {
  padding: 0;
  text-align: right;
}
.rates_block .rate_up td.rate_delta_vis {
  background-image: url(../images/rate_up.gif);
}
.rates_block .rate_up td.rate_delta_sum {
  color: #360;
}
.rates_block .rate_down td.rate_delta_vis {
  background-image: url(../images/rate_down.gif);
}
.rates_block .rate_down td.rate_delta_sum {
  color: #c00;
}
.rates_block td.rate_delta_date {
  font-size: 1em;
  color: #666;
}
.rates_block .rate_title {
  width: 110px;
  cursor: pointer;
}
.rates_block .rate_row_active {
  background-color: #ddd5c7;
}
.rates_block .show_all {
  width: 300px;
  margin: 0 auto;
}
/******** ~RATES BLOCK WIDGET ********/

/******** INTERVIEW BLOCK WIDGET ********/
.right_column .infographics_block {
  margin: 8px 0;
  overflow: hidden;
}
.infographics_block .infographics_img {
  background: transparent url(../images/img_bg_314.png) no-repeat 0 0;
  padding: 7px;
  width: 300px;
  margin: 0 auto 10px auto;
}
.infographics_block h3 {
  font: bold 1.5em Georgia, 'Times New Roman', Times, serif;
  color: #4d4937;
  margin-bottom: 7px;
}
/******** ~INTERVIEW BLOCK WIDGET ********/

/******** INTERVIEW BLOCK WIDGET ********/
.right_column .interview_block {
  margin: 8px 0;
  overflow: hidden;
}
.interview_block .interview_quote {
  background: transparent url(../images/0.gif) no-repeat 0 100%;
  min-height: 120px;
  overflow: hidden;
  font: 1.7em Georgia, 'Times New Roman', Times, serif;
  color: #536069;
}
.interview_block .interview_quote div {
  background: transparent url(../images/interview_quote_top.png) no-repeat 100% 0;
  width: 269px;
  min-height: 70px;
  float: right;
  padding-top: 11px;
}
.interview_block .interview_quote div div {
  background: transparent url(../images/interview_quote_bot.png) no-repeat 100% 100%;
  width: auto;
  float: none;
  padding: 0 7px 7px 22px;
}
.interview_block .interview_quote div div div {
  background: transparent url(../images/interview_quote_bg.gif) repeat-x 100% 100%;
  padding: 0 7px 5px 25px;
  position: relative;
}
.interview_block .interview_quote div div div span {
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: .9em;
}
.interview_block h3 {
  font: 1.7em Georgia, 'Times New Roman', Times, serif;
  color: #4d4937;
}
.interview_block p {
  font: 1.3em Arial;
  color: #838074;
  margin-bottom: 9px;
}
/******** ~INTERVIEW BLOCK WIDGET ********/

/******** INTERACTIVE BLOCK WIDGET ********/
.right_column .interactive_block {
  background: #f0ebe4;
  padding: 0 10px;
  margin: 8px 0;
  overflow: hidden;
  position: relative;
}
.right_column .interactive_block h4 {
  margin: 0 -10px;
}
.interactive_block .interactive_slide_block {
  overflow: hidden;
  width: 284px;
  margin: 0 auto;
}
.interactive_block .interactive_slide_block ul {
  list-style: none;
  overflow: hidden;
  margin: 7px 0;
  width: 2000px;
}
.interactive_block .interactive_slide_block ul li {
  float: left;
  width: 284px;
}
.interactive_block .interactive_slide_block ul div {
  background: transparent url(../images/img_bg_254.png) no-repeat 0 0;
  padding: 7px;
  width: 240px;
  margin: 0 auto 7px auto;
}
.interactive_block .interactive_slide_block ul p {
  font-size: 1.3em;
  font-weight: bold;
  color: #666;
  margin: 0;
}
.interactive_block .interactive_prev_btn, .interactive_block .interactive_next_btn {
  background: transparent url(../images/interactive_nav.png) no-repeat -21px 0;
  position: absolute;
  top: 94px;
  left: 0;
  width: 21px;
  height: 40px;
}
.interactive_block .interactive_next_btn {
  background-position: 0 0;
  left: auto;
  right: 0;
}
.interactive_block .interactive_prev_btn:hover {
  background-position: -21px -40px;
}
.interactive_block .interactive_next_btn:hover {
  background-position: 0 -40px;
}
/******** ~INTERACTIVE BLOCK WIDGET ********/

/******** POLL BLOCK WIDGET ********/
.right_column .poll_block {
  margin: 8px 0;
  overflow: hidden;
}
.poll_block h5 {
  font-size: 1.5em;
  font-weight: bold;
  color: #4d4937;
  margin: 7px 0;
}
.poll_block li {
  font-size: 1.6em;
  color: #636154;
  margin-bottom: 7px;
  list-style: none;
}
.poll_block li a {
  color: #636154;
}
.poll_block li img {
  background: transparent url(../images/poll_marks.gif) no-repeat 0 0;
  margin-right: 10px;
  cursor: pointer;
}
.poll_block li.poll_checked img {
  background-position: 0 -18px;
}
.poll_block .poll_btn {
  display: block;
  background: transparent url(../images/poll_btn.gif) repeat-x 0 0;
  font-size: 1.8em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 4px;
  height: 26px;
  margin-bottom: 9px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/******** ~POLL BLOCK WIDGET ********/

/******** POPULAR BLOCK WIDGET ********/
.right_column .popular_block {
  overflow: hidden;
  margin-left: -7px;
  padding: 8px 0 8px 7px;
}
.popular_block ul {
  margin: -8px 0 0 -7px;
  padding-left: 7px;
  list-style: none;
  overflow: hidden;
}
.popular_block li {
  padding: 8px 0 6px 0;
  border-top: 1px dotted #ccc;
  margin-top: -1px;
}
.right_column .popular_block li div {
  float: left;
  margin: 0 5px 0 0;
}
.right_column .popular_block li p {
  font-size: 1.4em;
  font-weight: bold;
  color: #666;
}
.right_column .popular_block li p a {
  color: #666;
}
.right_column .popular_block li p a:hover {
  text-decoration: underline;
}
.right_column .popular_block li.advert b {
  color: #909090;
  font-style: italic;
  float: right;
  margin-bottom: 3px;
}
.right_column .popular_block li.advert p {
  clear: right;
}
/******** ~POPULAR BLOCK WIDGET ********/

/******** SOC BLOCK WIDGET ********/
.right_column .soc_block {
  margin: 8px 0;
  overflow: hidden;
}
.right_column .soc_block_btns {
  margin: 8px 0;
  overflow: hidden;
}
.right_column .soc_block_btns div {
  margin: 8px 0;
}
/******** ~SOC BLOCK WIDGET ********/

/******** ARCHIVE BLOCK WIDGET ********/
.right_column .archive_block {
  margin: 8px 0;
  overflow: hidden;
  height: 300px;
}
.archive_block ul {
  font: italic 1.6em Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  list-style: none;
  margin: 12px 0 12px -12px;
  overflow: hidden;
}
.archive_block ul li {
  float: left;
  margin-left: 12px;
  padding-bottom: 3px;
}
.archive_block ul li a {
  background: #d4d6d8;
  padding: 2px 11px;
  color: #fff;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.archive_block ul li.active {
  background: transparent url(../images/archive_btn_active_img.gif) no-repeat center 100%;
}
.archive_block ul li.active a {
  background: #3a4248 url(../images/archive_btn_active.gif) repeat-x 0 0;
}
.archive_block label {
  color: #c0c0c0;
}
.archive_block .date_selector {
  height: 21px;
  background: #f5f5f5 url(../images/date_selector_bg.gif) no-repeat 308px center;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 7px;
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
}
.date_selector #date_range {
  font: italic 1.8em Georgia, 'Times New Roman', Times, serif;
  color: #666;
}
.clear_filter {
  background: transparent url(../images/icon_clear_filter.gif) no-repeat 0 center;
  font: italic 1.2em Georgia, 'Times New Roman', Times, serif;
  color: #666;
  padding-left: 16px;
}
/******** ~ARCHIVE BLOCK WIDGET ********/

/******** SEARCH CONTAINER ********/
.search_results {
  overflow: hidden;
}
.search_results li {
  overflow: hidden;
  padding: 7px;
  margin-top: -1px;
  list-style: none;
  border-top: 1px dotted #ccc;
}
.search_results li div.item_img {
  float: left;
  margin: 0 7px 0 0;
}
.search_results .content_info_block {
  margin: 3px 0 5px 0;
}
/******** ~SEARCH CONTAINER ********/

/******** COMMENST LIST ********/
.comments_list {
  margin: 0;
  list-style: none;
}
.comments_list li {
  background: transparent url(../images/comments_item_bg.gif) repeat-x 0 100%;
  border: 1px solid #ccc;
  padding: 7px 9px;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}
.comments_list li div {
  border-top: 1px dotted #ccc;
  color: #999;
  font: italic 14px Georgia, 'Times New Roman', Times, serif;
  padding-top: 3px;
}
.comments_list li div.comments_form {
  padding-top: 0;
}
.comments_list li div span {
  color: #333;
}
.comments_list li a {
  background: transparent url(../images/comments_link_bg.gif) repeat-x 0 13px;
  float: right;
  margin-top: 6px;
  color: #333;
  font-size: 12px;
}
.comments_list li a:hover {
  background: none;
}
.comments_list .lvl2 {
  margin-left: 20px;
}
.comments_list .lvl3 {
  margin-left: 40px;
}
.comments_list .lvl4 {
  margin-left: 60px;
}
.comments_list .lvl5 {
  margin-left: 80px;
}
.comments_list .lvl6 {
  margin-left: 100px;
}
.comments_list .lvl7 {
  margin-left: 120px;
}
/******** ~COMMENST LIST ********/

/******** COMMENST TABS ********/
.coments_tabs .coments_tab {
  z-index: 10;
  background: white;
  display: none;
}
.coments_tabs div.coments_tab_active {
  z-index: 20;
  display: block;
}
.coments_tab_controls {
  color: #093d72;
  font: 1.6em Georgia, 'Times New Roman', Times, serif;
  list-style: none;
  overflow: hidden;
  border-bottom: 2px solid #70787c;
  padding: 0 10px;
  margin: 5px 10px;
}
.coments_tab_controls li {
  float: left;
  padding: 1px 5px 0 5px;
  margin-left: 6px;
}
.coments_tab_controls li.active {
  background: transparent url(../images/rates_tabs_active.gif) repeat 0 0;
  color: #fff;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.coments_tab_controls li a {
  color: #093d72;
}
.coments_tab_controls li.active a {
  color: #fff;
}
/******** ~COMMENST TABS ********/

/******** NEWS ITEMS LIST ********/
.items_list ul {
  list-style: none;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  font-size: 10px;
}
.items_list li {
  border-top: 1px dotted #ccc;
  margin-top: -1px;
  padding: 5px 0;
  overflow: hidden;
}
.items_list_image {
  float: left;
}
.items_list_text {
  float: right !important;
  width: 310px;
}
.items_list .content_info_block {
  padding-bottom: 0;
  border: none;
}
.items_list_text h3, .items_list_text_full h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  color: #333;
  margin-top: 0;
}
.items_list_text p, .items_list_text_full p {
  font-size: 1.2em;
  color: #666;
}
.items_list_text p a, .items_list_text p a:hover, .items_list_text_full p a, .items_list_text_full p a:hover {
  color: #666;
  text-decoration: none;
}
/******** ~NEWS ITEMS LIST ********/

/******** PAGER ********/
.pager {
  text-align: center;
}
.pager ul {
  list-style: none;
  padding-top: 3px;
  display: inline-block;
}
.pager li {
  width: 40px;
  height: 33px;
  vertical-align: bottom;
  font: italic 17px/30px Georgia, 'Times New Roman', Times, serif;
  float: left;
  margin: 0 5px;
  color: #fff;
}
.pager li.dots {
  color: #666;
}
.pager li a {
  width: 40px;
  height: 33px;
  display: block;
  color: #fff;
  background: transparent url(../images/page.png) no-repeat;
}
.pager li.active {
  margin-top: -3px;
  color: #666;
  background: url(../images/page_active.png) no-repeat;
}
.pager li a:hover {
  background: url(../images/page_hover.png) no-repeat;
}
.pager-comments {
  margin-bottom: 1em;
}
.pager-comments a {
  font-size: 1.4em;
}
/******** ~PAGER ********/

/******** FORMS ********/
.form_block {
  font: italic 17px/28px Georgia, 'Times New Roman', Times, serif;
  color: #333;
  background: #f0f1f2;
  border: 1px solid #ccc;
  border-top: none;
}
.form_block h4 {
  margin: 0 -1px;
  border-bottom: none;
}
.form_block form {
  padding: 20px 19px;
}
.form_block label {
  padding: 6px 0;
}
.form_block input, .form_block textarea, .form_block img {
  border: 1px solid #ccc;
}
.form_block fieldset {
  margin-bottom: 20px;
  overflow: hidden;
}
.form_block fieldset.errors {
  color: #e36627;
}
.form_block input {
  font: 14px/16px Arial, Helvetica, sans-serif;
  padding: 6px;
}
.form_block textarea {
  font: normal 12px/normal Arial, Helvetica, sans-serif;
  padding: 8px;
  resize: vertical;
  overflow: auto;
}
.form_block a.submit,
.form_block button {
  float: right;
  width: 150px;
  height: 30px;
  background: transparent url(../images/submit_btn.png) no-repeat !important;
  font: bold 17px/30px Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #fff;
  margin-top: 0;
  border: 0;
}
.form_block a.submit:focus {
  outline: 1px dotted #666;
}
.form_block fieldset.name input,
.form_block fieldset.mail input {
  float: right;
  width: 310px;
}
.form_block fieldset.text textarea {
  width: 522px;
  height: 98px;
}
#feedback_form textarea {
  width: 522px;
}
.form_block fieldset.captcha {
  overflow: hidden;
}
.form_block fieldset.captcha label {
  margin-top: -6px;
  float: left;
}
.form_block fieldset.captcha img {
  width: 68px;
  height: 28px;
  float: left;
}
.form_block fieldset.captcha input {
  width: 56px;
  margin: 0 0 0 -1px;
  float: left;
}
.comments_form textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100% !important;
}
form .message_ok {
  color: #060;
}
form .message_error {
  color: #c00;
}
/******** ~FORMS ********/

/******** FOOTER BLOCK ********/
.fake_footer {
  height: 161px;
}
.footer {
  background: #2a2929;
  position: relative;
  height: 190px;
  overflow: hidden;
  width: 990px;
  margin: -190px auto 0 auto;
  padding: 0;
}
.footer .logo_block {
  background: #474646;
  padding: 15px 22px;
}
.footer .logo_block .anc_top {
  float: right;
  font: 14px Arial;
  color: #fff;
}
.footer .logo_block .anc_top img {
  margin-top: 5px;
}
.footer .qrcode {
  position: absolute;
  bottom: 7px;
  right: 7px;
}
.footer .bottom_links {
  border-bottom: 1px dotted #7f7f7f;
  padding: 8px 0 8px 1px;
  margin: 0 10px 0 22px;
  font-size: 10px;
  color: #fff;
}
.footer .bottom_links a {
  font-size: 11px;
  color: #fff;
}
.footer .bottom_links a:hover {
  color: #fff;
}
.footer .bottom_links span {
  margin: 0 10px;
}
.footer .copyright {
  margin: 6px 10px 0 22px;
  font-size: 11px;
  color: #fff;
}
.footer .copyright a {
  color: #fff;
  text-decoration: underline;
}
.footer .copyright a:hover {
  text-decoration: none;
}
/******** ~FOOTER BLOCK ********/

/******** VOTES BLOCK  *********/
.votes_block {
  margin: 0 0 12px 0;
}
.votes_block h5 {
  font-size: 16px;
  font-weight: bold;
  color: #536068;
}
.votes_block p {
  font-size: 16px;
  color: #536068;
  margin: 12px 0 2px 0;
}
.votes_block label {
  font-size: 16px;
  color: #536068;
  white-space: nowrap;
  position: absolute;
  top: 1px;
  left: 7px;
}
.votes_block label b {
  font-weight: bold;
}
.votes_block .votes_bar {
  height: 20px;
  background: url(../images/votes-bar_bg.png) repeat-x;
  position: relative;
  margin-bottom: 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.votes_block .votes_count {
  height: 20px;
  background: url(../images/votes-bar_bg.png) repeat-x 0 -30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.right_block .poll_block p {
  font: bold 12px Arial, sans-serif;
  color: #536068;
  margin-bottom: 12px;
}
.right_block .votes_block p {
  font-weight: normal;
  font-size: 13px;
  margin: 7px 0 0 0;
}
.right_block .votes_block label {
  font-size: 12px;
  top: 0;
  left: 5px;
}
.right_block .votes_block label b {
  font-weight: bold;
}
.right_block .votes_block .votes_bar {
  height: 16px;
  background: url(../images/votes-bar-right-col_bg.png) repeat-x;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.right_block .votes_block .votes_count {
  height: 16px;
  background: url(../images/votes-bar-right-col_bg.png) repeat-x 0 -20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/******** ~VOTES BLOCK  *********/

/******* RSS LIST  *********/
.rss_list li {
  list-style: none;
  background: url(../images/list-image.png) no-repeat 1px 9px;
  padding-left: 11px;
  line-height: 22px;
}
/******* ~RSS LIST  *********/

/******* LAST stories  *********/
.last_stories {
  margin: 8px 0 4px;
}
.last_stories h5 {
  color: #0b3d78;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 7px;
  margin-bottom: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.last_stories h5 a {
  color: #0b3d78;
}
.last_stories h5 a:hover {
  color: #e36627;
}
.last_stories .last_stories_news {
  margin: 5px 0 15px 7px;
  list-style: none;
}
.last_stories .last_stories_news li {
  background: transparent url(../images/theme_news_marker.gif) no-repeat 0 8px;
  border-bottom: 1px dotted #ccc;
  font-size: 11px;
  padding: 3px 8px;
}
.last_stories .last_stories_news li a {
  font: bold 11px Georgia, 'Times New Roman', Times, serif;
}
/******* ~LAST stories  *********/

/******* SUBS *********/
.subs_lists {
  overflow: hidden;
  margin-bottom: 20px;
}
.subs_lists ul {
  list-style: none;
  margin: 0 !important;
}
.subs_lists li {
  margin: 0 30px 0 0 !important;
  padding: 3px 0;
  width: 27%;
  display: inline-block;
  vertical-align: top;
}
.subs_lists input {
  float: left;
  margin: 8px 7px 0 0;
}
.subs_lists_sep {
  clear: both;
  border-top: 1px solid #ccc;
  height: 1px;
  overflow: hidden;
  margin: -10px 0 10px 0;
}
/******* ~SUBS *********/

.text_page h1.adv {
  margin: 0 -10px 10px -10px;
  background: #f2f2f2;
  padding: 15px 10px 10px 10px;
  position: relative;
}
.text_page h1.adv .adv_sign {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 11px;
  color: #333333;
}
.adv_sign2 {
  font-size: 11px;
  color: #333333;
  font-weight: bold;
  position: absolute;
  top: 100%;
  right: -90px;
  -moz-transform: rotate(-90deg); /* Для Firefox */
  -ms-transform: rotate(-90deg); /* Для IE */
  -webkit-transform: rotate(-90deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-90deg); /* Для Opera */
  transform: rotate(-90deg);
  padding: 15px 0 0 10px;
}
div.adv_label {
  margin: 6px 14px 9px 15px;
  font-size: 28px;
  font-family: Georgia;
  color: #000;
  background: #f2f2f2;
  padding: 15px 8px 9px 8px;
  position: relative;
}

.subscribe_block {
  font-size: 14px;
}
.subscribe_block ul {
  margin: 0 0 0 15px !important;
  list-style: disc !important;
}
.subscribe_block .contents {
  list-style: none !important;
  margin-left: 0 !important;
}
.subscribe_block .contents li {
  background: transparent url(../images/bord3x1.gif) repeat-x 0 13px;
  overflow: hidden;
}
.subscribe_block .contents .contents_title {
  float: left;
  background: #fff;
  padding-right: 5px;
}
.subscribe_block .contents .contents_page {
  float: right;
  background: #fff;
  padding-left: 5px;
}
.print .header, .print .top_menu, .print .hots_block, .print .footer, .print .right_column, .print .inner_hots_block, .print .top_banner_block, .print .fake_footer {
  display: none !important;
}
.print, .print .wrap {
  width: 600px !important;
  min-width: 600px !important;
}
.print .columned {
  padding: 0 !important;
  background: none !important;
}
/******* REGION SELECTOR *********/
.region_selector {
  position: absolute;
  left: 255px;
  bottom: 0;
  font: 1.3em Georgia, 'Times New Roman', Times, serif !important;
  color: #484848;
}
.region_selector .fake_input {
  padding: 2px 20px 2px 5px;
  background: #e8eeed;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
}
.region_selector .fake_input:after {
  content: url(../images/region_selector_bg.png);
  display: block;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 20px;
  text-align: center;
}
.region_selector ul {
  position: absolute;
  width: 100%;
  background-color: #e8eeed;
  margin: 0;
  padding: 5px 0;
  border: 1px solid #464646;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 10;
  list-style: none;
}
.region_selector li {
  padding: 2px 5px;
}
.region_selector li:hover {
  background-color: #464646;
  color: #e8eeed;
}
.region_selector li a {
  display: block;
  width: 100%;
  font-family: inherit;
  color: inherit;
}
/******* ~REGION SELECTOR *********/

/******* PAGE OVERLAY *********/
#page_overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  background: #50575a !important;
  opacity: .8;
}
/******* ~PAGE OVERLAY *********/

/******* POPUPS *********/
.popup_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 1000;
  text-align: center;
}
.popup_wrapper .popup {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  background: #fff;
  text-align: left;
  overflow: hidden;
}
.popup_wrapper .helper {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  height: 100%;
  width: 0;
}
.popup .message {
  display: none;
  color: #c00;
}
.popup fieldset {
  margin-bottom: 20px;
}
.popup p {
  margin: 1em 0 .5em 0;
}
.popup .legend {
  width: 100%;
  padding: 0 0 20px 0;
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px dotted #ccc;
  font: 28px Georgia, serif;
  color: #000;
}
.popup .row p {
  margin: 0 0 0 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.popup .row p:first-child {
  margin-left: 0;
}
.popup label,
.popup input,
.popup button {
  font-family: Arial, sans-serif;
  color: #666;
}
.popup label {
  display: block;
  margin-bottom: 10px;
  font: 14px/16px;
}
.popup input {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.popup input.text,
.popup button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.popup input.text {
  width: 238px;
  height: 30px;
  padding: 0.2em 0.5em;
  font-size: 14px;
  -webkit-box-shadow: inset 0 0 5px #ccc;
  -moz-box-shadow: inset 0 0 5px #ccc;
  box-shadow: inset 0 0 2px #ccc;
}
.popup input[type="checkbox"] {
  margin: 0 7px 0 0;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.popup button {
  background: url(/images/btn_form_btn_bg.gif) repeat-x;
  border: 1px solid #d0ccc9;
  height: 30px;
  font-size: inherit;
  line-height: 28px;
  padding-left: 30px;
  position: relative;
}
.popup button:before {
  content: url(/images/btn_icon_submit.gif);
  position: absolute;
  left: 10px;
  top: 3px;
}
.popup input:focus,
.popup button:focus {
  border-color: #a5c6ee;
}
#login_popup {
  width: 630px;
  height: 410px;
}
.popup .tab-handle-container {
  background-color: #e9e9e9;
}
.popup .tab-handle-list {
  margin: 0;
  overflow: hidden;
  list-style: none;
}
.popup .tab-handle-list li {
  float: left;
  border: solid #fff;
  border-width: 0 1px 0 1px;
  margin-left: -1px;
}
.popup .tab-handle-list li a {
  display: block;
  padding: 7px 14px;
  font: normal 11px/16px Verdana, Arial, sans-serif;
  color: #5d5d5d;
}
.popup .tab-handle-list li.active {
  background-color: #fff;
}
.popup .tab-handle-list li.active a {
  color: #666;
  font-weight: bold;
}
.popup .close_btn {
  float: right;
  padding: 7px;
  border: solid #fff;
  border-width: 0 0 0 1px;
}
.popup .tab-content {
  display: none;
  padding: 20px 20px 0 20px;
  font: 11px Arial, sans-serif;
  color: #666;
}
.popup .tab-content.active {
  display: block;
}
.popup .tab-content .social-login a {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 180px;
  height: 27px;
  padding: 8px 0 8px 36px;
  font: 11px/11px Verdana, sans-serif;
  color: #ced5e5;
  background-repeat: no-repeat;
}
.popup .tab-content .social-login a.fb {
  background-image: url(/images/btn_login_fb.gif);
}
.popup .tab-content .social-login a.tw {
  background-image: url(/images/btn_login_tw.gif);
}
.popup .tab-content .social-login a.vk {
  background-image: url(/images/btn_login_vk.gif);
}
#email_popup {
  width: 440px;
  padding-bottom: 20px;
}
/******* ~POPUPS *********/

/******* PROFILE PAGES *********/
.profile_page {
  font-size: 12px;
}
.profile_page .tabs {
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #ddd;
}
.profile_page .tabs li {
  float: left;
  margin-bottom: -1px;
  padding: 6px 12px;
}
.profile_page .tabs li.active {
  border: 1px solid #ddd;
  border-bottom-color: #fff;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.profile_page .section {
  border-top: 1px dotted #d6d6d6;
}
.profile_page h5 {
  margin: 1em 0;
  color: #000;
}
.profile_edit_page fieldset {
  margin: 10px 0;
}
.profile_edit_page fieldset input,
.profile_edit_page fieldset .value,
.profile_edit_page .row label {
  font: normal 16px/25px Arial, Helvetica, sans-serif;
}
.profile_edit_page fieldset input {
  padding: 3px 4px;
  border: none;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .26);
}
.profile_edit_page fieldset .value {
  color: #666;
}
.profile_edit_page fieldset label {
  display: block;
  color: #666;
  margin-bottom: 7px;
}
.profile_edit_page fieldset .message {
  float: left;
  color: #666;
}
.profile_edit_page fieldset .ok {
  color: #060;
}
.profile_edit_page fieldset .error {
  color: #c00;
}
.profile_edit_page fieldset .btn {
  float: left;
  margin: 5px 10px 0 0;
}
.profile_edit_page fieldset .btn img {
  display: block;
}
.profile_edit_page fieldset.disabled .btn_save {
  display: none;
}
.profile_edit_page fieldset .btn_edit {
  display: block;
}
/* visibility */
.profile_edit_page fieldset .message {
  display: none;
}
.profile_edit_page fieldset .error,
.profile_edit_page fieldset .ok {
  display: block;
}
.profile_edit_page fieldset .value {
  display: none;
}
.profile_edit_page fieldset.disabled .value {
  display: block;
}
.profile_edit_page fieldset.disabled input,
.profile_edit_page fieldset.disabled label {
  display: none;
}
/* row layout */
.profile_edit_page .row {
  line-height: 25px;
}
.profile_edit_page .row input,
.profile_edit_page .row .value,
.profile_edit_page .row label {
  float: left;
  line-height: inherit;
  margin-right: 10px;
}
.profile_edit_page .row label input {
  float: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-right: 5px;
}
/* social profiles activity status */
.social_profiles_status,
.social_profiles_status td {
  border: none !important;
}
.profile_page button,
.socactions_edit_page .btn,
.social_profile .btn {
  float: left;
  width: 150px;
  height: 30px;
  font: bold 16px/30px Georgia, Times New Roman, Times, serif;
  text-align: center;
  color: #fff;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #6f777a; /* Old browsers */
  background: -moz-linear-gradient(top, #6f777a 0%, #3d4447 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #6f777a 0%, #3d4447 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #6f777a 0%, #3d4447 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #6f777a 0%, #3d4447 100%); /* IE10+ */
  background: linear-gradient(top, #6f777a 0%, #3d4447 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6f777a', endColorstr='#3d4447', GradientType=0); /* IE6-9 */
}
.inactive .btn {
  background: #b6babb; /* Old browsers */
  background: -moz-linear-gradient(top, #b6babb 0%, #9ca0a4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b6babb), color-stop(100%, #9ca0a4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b6babb 0%, #9ca0a4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b6babb 0%, #9ca0a4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b6babb 0%, #9ca0a4 100%); /* IE10+ */
  background: linear-gradient(top, #b6babb 0%, #9ca0a4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6babb', endColorstr='#9ca0a4', GradientType=0); /* IE6-9 */
}
.subscribe_edit_page fieldset {
  width: 580px;
  margin: 10px 0;
  overflow: hidden;
}
.subscription_rubrics_list {
  width: 600px;
}
.subscription_rubrics_list label {
  float: left;
  display: block;
  padding: 4px 6px;
  width: 268px;
  background: #f2f2f2;
  margin: 3px 20px 3px 0;
  font: 14px/16px Georgia, Times, serif;
}
.subscription_rubrics_list input {
  margin: 0 4px 0 0;
}
.subscribe_edit_page fieldset button {
  float: right;
}
/******* ~PROFILE PAGES *********/

/******* ~SOCACTIONS *********/
.socaction_list_item .content_info_block .info_block_date {
  background: url(../images/socactions-list-date.png) no-repeat 0;
}
.socaction_list_item-active .socaction-header,
.right_block .socaction-header {
  background: url(../images/socactions-list-header.png) no-repeat 3px 6px;
  padding-left: 20px;
  font-size: 20px !important;
}
.socaction_list_item {
  border-top: 1px dotted #ccc;
  padding: 5px 0;
  overflow: hidden;
}
.socaction_update .content_info_block .info_block_date {
  background: none;
  padding-left: 0;
}
.socaction_update {
  background: #f2f2f2;
  padding: 8px 8px 1px;
  margin: 7px 0;
}
.text_page .socaction_update .content_info_block {
  padding-bottom: 2px;
}
.text_page .text_block .socaction_update p {
  margin-bottom: 2px;
}
.text_page .text_block .socaction_update p.more {
  text-align: right;
}
div.socaction_list_item-first {
  border-top: none;
}
.socactions-vote_buttons {
  margin: 25px 0;
  text-align: center;
}
.socaction_info {
  background: #f2f2f2;
  color: #808080;
  padding: 5px;
  margin: 7px 0;
  overflow: hidden;
}
.socactions-voices_count {
  float: left;
}
.socactions-days_left {
  float: right;
}
.socactions-vote_button {
  display: inline-block;
  width: 166px;
  height: 24px;
  padding-top: 4px;
  background: url(../images/socactions-button-bg.png) repeat-x;
  vertical-align: middle;
  color: #fff;
  font: 16px Georgia, 'Times New Roman', Times, serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 3px;
}
.socactions-vote_button:hover {
  color: #fff;
}
.socactions-vote_button-posititve {
  background-position: 0 0;
}
.socactions-vote_button-negative {
  background-position: 0 -28px;
}
.socactions-vote_button.socactions-vote_button-disabled {
  background: #adaeb1;
}
.socactions-vote_buttons_right .socactions-vote_button {
  color: #093d72;
  font-weight: bold;
  padding-top: 0;
  height: 27px;
  line-height: 27px;
  background: url(../images/socactions-button-bg2.png) repeat-x;
  border: 1px solid #d0ccc9;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 131px;
}
.socactions_bar-labels {
  overflow: hidden;
  font-size: 16px;
  color: #333;
  margin: 4px 10px;
}
.socactions_bar-l-positive, .socactions_bar-l-negative {
  color: #808080;
}
.socactions_bar-l-positive, .socactions_bar-r-positive {
  float: left;
}
.socactions_bar-l-negative, .socactions_bar-r-negative {
  float: right;
}
.socactions_bar-container {
  height: 38px;
  padding: 6px 5px;
  background: url(../images/socactions-bar-bg.png);
  overflow: hidden;
  color: #fff;
  font-size: 18px;
}
.socactions_bar-positive, .socactions_bar-negative {
  height: 31px;
  padding-top: 7px;
  float: left;
  background: url(../images/socactions-bars-bg.png) repeat-x;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
div.socactions_bar-positive {
  background-position: 0 0;
  text-align: right;
}
div.socactions_bar-negative {
  background-position: 0 -38px;
}
.socactions_bar-positive span, .socactions_bar-negative span {
  margin: 0 7px;
}
.socactions_circle-container {
  height: 210px;
  position: relative;
}
.socactions_circle-positive, .socactions_circle-negative {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  opacity: 0.95;
  color: #fff;
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
div.socactions_circle-positive {
  background: url(../images/socactions-circles-positive-bg.png) repeat-x 0 0;
  left: 200px;
}
div.socactions_circle-negative {
  background: url(../images/socactions-circles-negative-bg.png) repeat-x 0 0;
  right: 200px;
}
div.socactions_circle-positive span, div.socactions_circle-negative span {
  display: block;
  width: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -17px;
}
.socactions_circle-lable-positive, .socactions_circle-lable-negative {
  position: absolute;
  font-size: 13px;
  top: 20px;
}
.socactions_circle-lable-positive b, .socactions_circle-lable-negative b {
  font-size: 28px;
}
.socactions_circle-lable-positive {
  left: 470px;
}
.socactions_circle-lable-negative {
  text-align: right;
  right: 470px;
}
.socaction-waitresult {
  font-size: 15px;
  background: url(/images/socactions_waitresult_bg.png) repeat-x;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  width: 440px;
  height: 19px;
  text-align: center;
}
.socaction-action_approved {
  margin: 10px 0;
  overflow: hidden;
}
.socaction-action_approved-positive, .socaction-action_approved-negative {
  float: left;
  font: bold 16px Arial, sans-serif;
  color: #000;
  padding-left: 24px;
  margin-right: 10px;
}
.socaction-action_approved-positive {
  background: url(/images/socactions-action_approved-positive.png) no-repeat 0 2px;
}
.socaction-action_approved-negative {
  background: url(/images/socactions-action_approved-negative.png) no-repeat 0 2px;
}
a.socaction_infolink {
  float: right;
  font-size: 0;
  margin-top: 5px;
}
a.socaction_add_button {
  float: right;
  width: 142px;
  height: 26px;
  text-align: center;
  background: url(/images/socactions-add-button-bg.png) no-repeat;
  font: 16px/26px Arial, sans-serif;
  color: #000;
}
.socaction_list_item .badge {
  display: inline-block;
  height: 10px;
  padding: 1px 5px;
  vertical-align: top;
  margin: 2px 0 0 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font: 10px/9px Arial, sans-serif;
  color: #fff;
}
.socaction_list_item .badge_red {
  background-color: #e91d2c;
}
.socaction_list_item .badge_green {
  background-color: #149148;
}
.socaction_list_item .badge_blue {
  background-color: #0c3d78;
}
.socaction_list_item .badge_gray {
  background-color: #808080;
}
.socaction_list_item_finished {
  padding: 10px;
  background-color: #f2f2f2;
  overflow: hidden;
}
.socaction_list_item_finished-first {
  border-top: 3px solid #70787c;
}
.socaction_list_item_finished .info_block_date {
  float: right;
}
.socaction_list_item_finished h3 a {
  color: #000;
}
.socaction_list_item_finished .badge, .socaction_list_item_finished .content_info_block .info_block_date {
  margin-top: 5px;
}
.right_block .socaction_block {
  margin: 8px 0;
  overflow: hidden;
}
.right_block .socaction_block h3 {
  margin-bottom: 10px;
}
.right_block .socactions-vote_buttons {
  margin: 20px 0 25px 0;
}
.right_block .socaction_block .content {
  font-size: 13px;
}
/******* ~SOCACTIONS *********/

/* print-version of subscription form */
.subscribe_block {
  font-size: 12px;
}
.subscribe_block .subsform_error {
  margin: 3px 0;
  display: none;
  color: red;
}
/******* NEWSPAPER SUBSCRIPTION FORM *********/
#sform_steps_block {
  margin-top: 10px;
  display: none;
  padding: 20px 19px;
  border-top: 3px solid #70787c;
}
#sform_steps_block input.text {
  width: 300px;
  margin: 2px 0;
}
.subscribe_text {
  display: none;
  font-size: 18px;
  line-height: 22px;
}
.subscribe_text span {
  display: none;
}
.subscribe_text a {
  border-bottom: 2px dotted #093d72;
}
.subscribe_text a:hover {
  border-bottom-color: #e36627;
}
#subscribe_form .placeholder {
  color: #808080 !important;
}
#subscribe_form:invalid {
  box-shadow: 0 0 1px 1px red;
}
#subscribe_form fieldset {
  overflow: visible;
}
#subscribe_form .tel {
  padding-left: 26px;
  background: url(../images/input-tel-helper.png) no-repeat 4px 7px #fff;
}
#subscribe_form .footnote {
  margin-top: 20px;
  line-height: 1.4em;
}
#subscribe_form .footnote,
#subscribe_form sub {
  font-size: 11px;
}
.period-available {
  display: none;
}
.period-available.active {
  display: block;
}
.invisible-checkbox {
  display: inline-block;
  width: 0;
  height: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.swap-periods-btn {
  text-align: right;
}
.swap-periods-btn label {
  padding: 3px 0;
  border-bottom: 1px dotted;
  cursor: pointer;
}
.swap-periods-btn label:hover {
  border-bottom: none;
}
/******* ~NEWSPAPER SUBSCRIPTION FORM *********/

/******* INTERACTIVES SLIDER *********/
.interactive_wrap {
  position: relative;
  height: 251px;
  overflow: hidden;
}
.interactive_wrap .interactive_cnt_prev_btn {
  background: transparent url('/images/interactive_cnt_lft_nav.png') no-repeat;
  position: absolute;
  top: 68px;
  left: 15px;
  width: 21px;
  height: 40px;
  display: none;
}
.interactive_wrap .interactive_cnt_next_btn {
  background: transparent url('/images/interactive_cnt_rgt_nav.png') no-repeat;
  position: absolute;
  top: 68px;
  left: 245px;
  width: 21px;
  height: 40px;
}
.interactive_wrap ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/******* ~INTERACTIVES SLIDER *********/

.more_results {
  display: block;
  color: black;
  font-size: 11px;
  line-height: 37px;
  text-align: center;
  width: 595px;
  height: 37px;
  margin: 0 auto;
  background: transparent url("/images/search/btn_bg.png") repeat-x 0 -52px;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
/******* FULL SCREEN BANNER *********/
.bfullscreen {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;;
  display: none;
}
.bfullscreen-header {
  height: 60px;
  border-bottom: 1px solid #5c5c5c;
  background: #474646;
}
.bfullscreen-header-content,
.bfullscreen-text {
  width: 800px;
  margin: 0 auto;
}
.bfullscreen-header-content {
  height: 60px;
  background: url(/images/bfullscreen-logo.png) no-repeat 0 50%;
}
.bfullscreen-header-close {
  margin-top: 23px;
  float: right;
  color: #ccc;
  font-size: 13px;
  text-decoration: underline;
}
.bfullscreen-header-close:hover {
  color: #ccc;
  text-decoration: underline;
}
.bfullscreen-content {
  padding: 10px 0;
}
.bfullscreen-content .banner {
  margin: 0 auto;
}
.bfullscreen-text {
  text-align: center;
  color: #ccc;
}
.bfullscreen-text, .bfullscreen-text a {
  font-size: 13px;
  color: #ccc;
}
.bfullscreen-text a {
  text-decoration: underline;
}
.bfullscreen-text a:hover {
  text-decoration: underline;
}
/******* ~FULL SCREEN BANNER *********/

.social-connect {
  width: 580px;
}
.social-connect .social {
  width: 180px;
  float: left;
  border-left: 1px dotted #d6d6d6;
  padding: 9px;
  height: 200px;
}
.social-connect .social:first-child {
  border-left: 0;
  padding-left: 0;
}
.social-connect .social:last-child {
  padding-right: 0;
}
.social-connect .social .icon {
  background: url(/images/social/sprite.png) 0 0 no-repeat;
}
.social-connect .social.Facebook .icon {
  width: 29px;
  height: 30px;
  background-position: 0 0;
}
.social-connect .social.Twitter .icon {
  width: 49px;
  height: 34px;
  background-position: -29px 0;
}
.social-connect .social.VK .icon {
  width: 45px;
  height: 34px;
  background-position: -78px 0;
}
.social-connect .social .name {
  font: bold 14px Georgia, "Nimbus Roman No9 L", serif;
  margin: 5px 0;
}
.social-connect .social a {
  font: 12px Georgia, "Nimbus Roman No9 L", serif;
  color: black;
  text-decoration: underline;
  margin: 5px 0;
  display: block;
}
.social-connect .social .media-reader {
  margin-top: 15px;
}
.social-connect .social .media-reader a {
  font: bold 9px Georgia, "Nimbus Roman No9 L", serif;
  text-decoration: none;
  display: inline;
  border-bottom: 2px solid #bfbfbf;
  margin-left: 5px;
}
.social-connect .social .media-reader .feed {
  float: left;
  margin: 0 0 0 7px;
}
.social-connect .social .media-reader .about {
  background: #e8e8e8;
  border-radius: 6px;
  padding: 6px;
  position: relative;
  margin-top: 15px;
  float: left;
}
.social-connect .social .media-reader .about:after {
  content: "";
  position: absolute;
  top: -6px;
  left: 10px;
  border-style: solid;
  border-width: 0 7px 8px;
  border-color: #e8e8e8 transparent;
  display: block;
  width: 0;
  z-index: 1;
}
.george_ribbon {
  position: absolute;
  height: 157px;
  width: 1229px;
  left: -121px;
  background: url(/images/lenta_all.png);
}
#ad_ph_1 {
  text-align: center;
}

/******* MOBILE DEVICES *********/
@media screen and (max-width: 480px) {
  .text_page .text_block {
    font-size: 18px;
    line-height: 21px;
  }
  .text_page .subtitle {
    font-size: 20px;
    line-height: 22px;
  }
}
/******* ~MOBILE DEVICES *********/


form.tab-content.active.proofreading {
  padding-bottom: 20px;
}

/******* Proofreading *********/
.proof_link {
  margin-top: 23px;
  clear: both;
  display: block;
  float: right;
  font: 12px Arial;
  color: #fff;
}
#proofreading button {
  cursor: pointer;
}
#proofreading {
  width: 630px;
}
#proofreading span {
  font-size: 14px;
}
#proofreading .notice span {
  font-size: 16px;
  color: red;
}
#proofreading p.notice {
  font-size: 16px;
}
#proofreading textarea {
  resize: none;
  width: 100%;
  height: 100px;
  margin: 10px 0;
  border-color: #e5e5e5;
}


/****** ~Pre popup NoticeProof *************/

#noticeProof, #preProof {
  position: relative;
  width: 574px;
  height: 59px;
}
#noticeProof .b-text-actions, #preProof .b-text-actions {
  width: 500px;
  height: 50px;
}
div#preProof {
  display: none;
  z-index: 2;
  position: absolute;
}
#noticeProof, #preProof {
  position: fixed;
  text-align: center;
}
#noticeProof p.message {
  text-align: center;
  font-size: 18px;
}
.inline {
  font-size: 14px;
  display: inline-block;
  width: 30%;
  text-align: center;
  vertical-align: middle;
}
#my-share3 {
  width:34%;
}
.inline.left, .inline.right {
  font: 15px Arial;
  color: gray;
  position: relative;
}
div#preProof {
  padding: 4px 6px 4px 6px;
  text-align: center;
  color: #1f77bb;
  background: #fff;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
}
div#preProof::after {
  content: '';
  position: absolute;
  left: 293px;
  top: -18px;
  border: 8px solid transparent;
  border-bottom: 12px solid #fff;
}
.text_page p::selection, .text_page a::selection, .text_page span::selection {
  background: rgba(176,216,252,0.9);
}
.text_page p::-moz-selection, .text_page a::-moz-selection, .text_page span::-moz-selection{
  background: rgba(176,216,252,0.9);
}
#preProof li.ya-share2__item {
  padding: 0 1px;
}
.inline a {
  vertical-align: middle;
}
a#proofreading_popup_close_btn {
  position: absolute;
  right: 4px;
}
a#proofreading_popup_close_btn {
  top: 4px;
}
div#proofreading {
  position: relative;
}
.inline.left.comments a {
  cursor:pointer;
}
.footer-share {
  float: right;
  text-align: right;
}
/****** ~Proofreading *************/

/*** hide block read more news ***/
.news_content .more_theme_news {
  display: none !important;
}
/*** ~hide block read more news ***/

/*** Banner under text font ***/
.video_under_text_block a {
  color: rgb(0, 24, 171);
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}
.coments_tabs + ul {
  list-style: none;
  margin: 10px 0;
}
/*** Banner under text font ***/



/******* MOBILE DEVICES *********/
@media screen and (max-width: 480px) {

  .text_page .img_block img {
    width: 100%;
    max-width: 100%;
  }
  .text_page h1 {
    font-size: 46px;
  }
  .text_page .text_block {
    font-size: 32px;
    line-height: 36px;
  }
  .text_page .subtitle {
    font-size: 28px;
    line-height: 30px;
  }
  .main_container.columned.inner_news {
    padding-right: 0;
    background: none;
  }
  .inner_news .right_column, .commercial_block, .hide_mobile {
    display: none !important;
  }
  .relap-default-wrapper {
    display: none;
  }
}
/******* ~MOBILE DEVICES *********/

/******* ~background header *********/
/*euro*/
.wrap .header.bg_img_euro {
  background: url(/images/euro2016.png);
}

/*pmef*/
.wrap .header.bg_img_pmef:before {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}
.wrap .header.bg_img_pmef:after {
  background: rgba(0, 0, 0, 0) url("/images/pmef_2_2016.png") no-repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 332px;
  position: absolute;
  width: 100%;
}
.wrap .header.bg_img_pmef {
  background: rgba(0, 0, 0, 0) url("/images/pmef_1_2016.png") repeat scroll 0 0;
}
/*elections_2016*/
.wrap .header.bg_img_elections_2016:after {
  background: rgba(0, 0, 0, 0) url("/images/banners/elections_2016_text.png") no-repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 414px;
  position: absolute;
  width: 152px;
}
.wrap .header.bg_img_elections_2016 {
  background: rgba(0, 0, 0, 0) url("/images/banners/elections_2016.png") repeat scroll 0 0;
}
.wrap .header.bg_img_elections_2016 .logo_block h6, .header.bg_img_rio .search_block .links_block a {
  color: #474646;
  font-weight: bold;
}
.header.bg_img_elections_2016 .logo_block img {
  content:url(/images/banners/elections_2016_logo.png);
}

/*rio*/
.wrap .header.bg_img_rio:after {
  background: rgba(0, 0, 0, 0) url("/images/banners/rio_1.png") no-repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 400px;
  position: absolute;
  width: 152px;
}
.wrap .header.bg_img_rio {
  background: rgba(0, 0, 0, 0) url("/images/banners/rio.png") repeat scroll 0 0;
}
.wrap .header.bg_img_rio .logo_block h6, .header.bg_img_rio .search_block .links_block a {
  color: #474646;
  font-weight: bold;
}

/******* <-- // ~background header *********/
.translations .description{
  word-wrap: break-word;
}
.sk_head_85921 {
  border-top: 3px solid #70787c;
}

/**** Olimpiada ***/

table.listing_olimp.banner {
  font-size: 9px;
  width: 100%;
  border-collapse: collapse;
}
table.listing_olimp.banner th {
  text-align: left;
  background: #ccc;
  border: 1px solid #d6e3ea;
}
table.listing_olimp.banner td {
  border: 2px solid #d6e3ea;
}
.listing_olimp.banner .t_center {
  text-align: center;
}
.listing_olimp.banner .num {
  text-align: right;
}
.olimpiada table {
  width: 100%;
  border-collapse: collapse;
}
.olimpiada th {
  text-align: left;
  background: #ccc;
  padding: 5px;
  border: 1px solid #d6e3ea;
}
.olimpiada td {
  border: 2px solid #d6e3ea;
}
.olimpiada {
  font-size: 16px;
}
.olimpiada td.t_left {
  font-size: 16px;
}
.olimpiada .listing_olimp_item input {
  width: 50px;
}
.olimpiada input.text_land {
  width: 200px;
}
.olimpiada .listing_olimp .pref td {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.olimpiada .listing_olimp_item .num {
  text-align: right;
}
.olimpiada .listing_olimp .pref .t_left {
  text-align: left;
}
.olimpiada .listing_olimp .t_center {
  text-align: center;
}
.olimpiada_title {
  letter-spacing: 0;
  line-height: 37px;
}
.olimpiada_banner_top_1 {
  width: 359px;
}
.right_banner_olimpiada {
  padding-bottom: 2px;
  margin-bottom: 2px;
}
/**** end Olimpiada ***/

/* Slider
http://www.freshdesignweb.com/fashion-responsive-slider-tutorial.html
/*-----------------------------------------------------------------------------------*/
.slider_container{ width:100%; margin:auto; clear:both; background:url(images/shadow_top.png) no-repeat top center; padding:30px 0 0 0;}
.flex-caption{left:0px; bottom:0; background: #70787d; padding: 7px 10px; color: #dfe8ed; display: flex;}
.caption_title_line{ width:450px; padding:5px 15px 10px 15px;}
.flex-caption h2{ color:#303030;font-size:20px; padding:5px 0 5px 0; margin:0px;font-family: 'Ovo', serif;}

.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {width: 100%; margin: 0; padding: 0 0 0 0;background:url(images/shadow_bottom.png) no-repeat center bottom;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative;}

/* Direction Nav */
.flex-direction-nav li a {width:45px;height:42px;margin:0;display: block;position: absolute;cursor: pointer;text-indent: -9999px;}
.flex-direction-nav li a.prev {background: transparent url(../images/interactive_nav.png) no-repeat -21px 0;bottom:60%;width: 22px;height: 40px;}
.flex-direction-nav li a.next {background: transparent url(../images/interactive_nav.png) no-repeat 0 0;right: 0;bottom: 60%;width: 22px;height: 40px;}
.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30);cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}

