.social-share_small {
    display: block;
    float: right;
}

.social-share_small a {
    display: block;
    float: right;
    width: 18px;
    height: 18px;
    margin-left: 3px;
    background: url(../images/social/share-small-sprite.png) no-repeat 0 0;
}

.social-share_small .social-share_small-facebook {

}

.social-share_small .social-share_small-twitter {
    background-position: -20px;
}

.social-share_small .social-share_small-vkontakte {
    background-position: -40px;
}

.social-share_small .social-share_small-livejournal {
    background-position: -63px;
}

.social-share_small .social-share_small-google {
    width: 27px;
    background-position: -84px;
}

.social-share-livejournal {
    display: block;
    width: 23px;
    height: 22px;
    background: url(../images/social/lj2.png) no-repeat;
}

.content_info_block_undertitle {
    border-bottom: 1px dotted #ccc;
}

.content_info_block_undertitle a.info_link_comments {
    margin-top: 12px;
    margin-right: 10px;
    font-size: 12px;
    font-weight: bold;
    float: left;
    color: #999;
}
.content_info_block_undertitle span.info_block_comments {
    color: #999;
    float: none;
}
