.b-spotlight__content_ads-right .b-spotlight__item {
    display: block;
    float: none;
    margin-right: 0;
}
.b-spotlight__content_ads-right .b-spotlight__list {
    width: auto;
}

.b-spotlight__content_ads-right .b-news-item__media img {
    width: 128px;
    height: 87px;
}
.b-spotlight__content_ads-right .b-news-item__media {
    display: none;
    margin-bottom: 0;
    margin-right: 16px;
}
.b-spotlight__content_ads-right .b-news-item__media,
.b-spotlight__content_ads-right .b-news-item__text {
    float: left;
}
.b-spotlight__content_ads-right .b-news-item__text {
    width: 336px;
}
.b-spotlight__content_ads-right .b-news-item__content {
    zoom: 1;
    margin-bottom: 0;
}
.b-spotlight__content_ads-right .b-news-item__content:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.b-spotlight__content_ads-right .b-spotlight__item:first-child .b-news-item__media,
.b-spotlight__content_ads-right .b-spotlight__item:nth-child(2) .b-news-item__media {
    display: block;
}
.b-spotlight__content_ads-right .b-news-item__title {
    margin-bottom: 5px;
}
.b-spotlight__content_ads-right .b-spotlight__item:first-child .b-news-item__title {
    margin-bottom: 10px;
}
.b-spotlight__content_ads-right .b-news-item_size_m {
    width: 496px;
}

.b-spotlight__list.b-spotlight__list_3cols {
    margin-right: 0;
    width: 496px;
    float: left;
}
.b-spotlight__list_3cols .b-news-item_size_m {
    width: 154px;
}
.b-spotlight__list_3cols .b-spotlight__item {
    float: left;
    margin: 0 16px 0 0;
}
.b-spotlight__list_3cols .b-spotlight__item:nth-child(3n+1) {
    margin-right: 16px;
}
.b-spotlight__list_3cols .b-spotlight__item:nth-child(3n) {
    margin-right: 0;
}
.b-spotlight__list_3cols .b-news-item_size_m img {
    width: 154px;
    height: 104px;
}
.b-spotlight__list_3cols .b-news-item__media {
    margin-right: 0;
}
.b-spotlight__list_3cols .b-news-item__text {
    padding-right: 0;
}
.b-news-item_priority{
    width: 496px;
}
.b-news-item_priority .b-news-item__media {
    /*min-height: 337px;*/
}
.b-main-slider-items .b-spotlight__l,
#news-section .b-spotlight__l,
.b-spotlight__content_ads-right {
    width: 496px;
    float: left;
}




.b-spotlight__list_with-ads .b-spotlight__item:nth-child(-n+6) {
    width: 496px;
    margin-bottom: 0;
}
.b-spotlight__list_with-ads .b-spotlight__item:nth-child(-n+6) .b-news-item {
    width: auto;
}
.b-spotlight__list_with-ads .b-spotlight__item:nth-child(-n+6) .b-news-item__content {
    overflow: hidden;
}
.b-spotlight__list_with-ads .b-spotlight__item:nth-child(-n+6) .b-news-item__media {
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
    width: 128px;
    height: 88px;
}
.b-spotlight__list_with-ads .b-spotlight__item:nth-child(-n+6) .b-news-item__media img {
    width: 128px;
    height: 88px;
}
.b-spotlight__list_with-ads .b-spotlight__item:nth-child(-n+6) .b-news-item__text {
    float: left;
    width: 358px;
    padding-right: 0;
    min-height: 68px;
}
.b-spotlight__list_with-ads .b-spotlight__item:nth-child(6) {
    margin-bottom: 9px;
}
.b-spotlight__list_with-ads .b-spotlight__item:nth-child(n+7) {
    margin-right: 12px;
}
@media screen and (min-width: 768px) {
    .DFPbanner.tableSection.active{
        display: block;
        float:right;
        margin-bottom:20px;
    }
    .b-spotlight__list_with-ads .dinamikDFPRub{
        display: block;
        float:right;
        margin-bottom:20px;
        margin-right:16px;
    }
    .slug240_400_tablet_1,.b-spotlight__list_with-ads .slug240_400_tablet_2{
        display: block;
    }
    .visibleCheck-240_400_tablet_2,
    .visibleCheck-tgb_vertical,
    .visibleCheck-240_400_tablet_1{
        display: block;
    }
    
    .b-content_layout_2 .visibleCheck-240_400_1,
    .b-content_layout_2 .visibleCheck-240_400_2,
    .b-content_layout_2 .visibleCheck-240_400_3{
        display: block;
    }
}

@media screen and (min-width: 1000px){
    .DFPbanner.slugbranding_top_110_1 {
        min-width: 1000px;
    }
}

@media screen and (min-width: 1666px){
    .DFPbanner.slugbranding_top_110_1 {
        min-width: 1280px;
    }
}
