/* мобильный адаптив теперь подключается в head'е */

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .b-lenta-time-line__time
    {
        line-height: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    /* New styles */
        .b-category {
            margin-bottom: -36px !important;
        }

        /* 
        .b-content__content {
            padding: 52px 0 0;
        }
        */
    /* --- */
	.b-logo-title {
		display: none;
	}
    .b-nav-search__input
    {
        width: 40px !important;
    }
    .b-nav-search {
        width: 78px;
        overflow: hidden;
    }
    .new-site-button {
        display: none;
    }

    .b-nav__content,
    .b-header__content,
    .b-category__content,
    .b-subcategory__content,
    .b-content__content,
    .b-autor__content,
    .b-media-top__content,
    .b-media-bottom__content,
    .b-footer__content,
    .b-infocenter-widget,
    .b-infocenter__content,
    .b-opinions-widget__content,
    .b-opinions-widget .b-spotlight-header,
    .b-infocenter-widget,
    .b-rate__content,
    .b-opinions-widget-header,
    .b-section__content_opinions-widget,
    .b-section__content_press-releases
    {
        width: 752px !important;
    }

    .b-header__l
    {
        /*width: 380px;*/
        width: 140px;
    }

    .b-autor__view
    {
        width: 640px;
    }

    .b-media-top__l,
    .b-content__r_size_2
    {
        width: 100%;
    }
    .b-content__r_size_2
    {
        margin-left: 0;
    }

    .b-nav__r
    {
        width: auto;
    }

    .b-category__lenta-btn,
    .b-content_layout_2 .b-content__l
    {
        display: block;
    }

    .b-logo-title,
    .b-lenta-container,
    .b-lenta-top,
    .b-profile-edit__l,
    .b-media-top__r,
    .b-content_layout_2 .b-content__r,
    .b-lenta,
    .b-content__l,
    .tgb_vertical
    {
        display: none;
    }

    .view_special .b-content_layout_2 .b-content__r,
    .view_main .b-content_layout_2 .b-content__r,
    .view_stretched .b-content_layout_2 .b-content__r {
        display: block;
    }

	.b-content__l_lenta {
		position: absolute;
		display: block;
        top: 0;
	}
    .b-lenta-container.b-lenta_minified-opened,
    .b-lenta_minified-opened
    {
        display: block;
    }

    .b-category__lenta-btn {
        width: 230px;
        border-left: 1px solid #3d3a85;
        border-right: 1px solid #3d3a85;
    }
    .b-category__lenta-btn .b-lenta-top {
        display: block;
        cursor: pointer;
    }

    .b-lenta_minified-opened .b-lenta-top
    {
        display: block;
        padding: 0;
    }

	.b-lenta {
        position: absolute;
		top: -52px;
	}

    .ads-place_2.ads_branding.ads_active ~ .b-content__l .b-lenta,
    .b-content_layout_2.b-content_lenta-minified .b-lenta,
    .b-content_layout_2 .ads-place_2.ads_active ~ .b-content__l .b-lenta
    {
        top: 0px;
    }

    .b-content_lenta-minified .ads-place_2.ads_active ~ .b-content__content .b-lenta,
    .ads-place_2.ads_active ~ .b-content__l .b-lenta,
    .b-page_inner .ads-place_2.ads_active ~ .b-content__content .b-lenta
    {
        top: 0px;
    }
    .b-content_lenta-minified .ads-place_2.ads_active.ads_temp_hidden ~ .b-content__content .b-lenta,
	.ads-place_2.ads_active.ads_temp_hidden ~ .b-content__l .b-lenta,
    .b-page_inner .ads-place_2.ads_active.ads_temp_hidden ~ .b-content__content .b-lenta
    {
        top: 0;
    }
	.b-content__header + .b-content__l_lenta .b-lenta {
		top: 0px;
	}
	.b-opinions-widget-header + .b-content__l_lenta .b-lenta {
		top: 0px;
	}
    .b-content_lenta-minified .b-lenta_fixed,
    .b-content_lenta-minified .b-lenta_stuck-to-bottom,
    .b-lenta_fixed,
    .b-lenta_stuck-to-bottom {
        position: fixed;
        top: 0 !important;
        bottom: 0;
    }

    .b-lenta_minified-opened .b-lenta-filter
    {
        height: 32px;
    }
    .b-lenta_minified-opened .b-lenta-filter__text
    {
        padding-left: 12px;
        line-height: 35px;
    }
    .b-lenta_minified-opened .b-lenta-filter .b-sep
    {
        top: 8px;
        height: 18px;
    }
    .b-lenta_minified-opened .b-lenta-filter__clear
    {
        width: 38px;
        height: 32px;
        line-height: 35px;
    }
    .b-category__lenta-btn .b-lenta-top__text
    {
        display: block;
        height: 36px;
        color: #fff;
        line-height: 37px;
    }
    .b-lenta_minified-opened .b-lenta-top__text
    {
        font-size: 15px;
    }

    .b-category
    {
        height: 36px;
        z-index: 6000;
    }

    .b-content__r
    {
        float: left;
        height: auto !important;
    }


    .b-footer-l
    {
        width: 710px;
        margin-bottom: 20px;
    }
    .b-footer-l__content,
    .b-footer-r__content
    {
        width: auto;
    }
    .b-footer__logo-desc
    {
        padding-top: 0;
        margin-top: -2px;
        width: 280px;
    }
    #categoryHelper {
        height: 0;
    }
    .b-footer-l .b-footer-nav__list
    {
        margin-top: -4px;
    }
    .b-footer-search
    {
        margin-bottom: 41px;
    }
    .b-footer-nav__list_3rd,
    .b-footer-nav__list_4th,
    .b-footer-nav_r .b-footer-nav__list
    {
        width: 125px;
    }
    .b-footer-nav_r
    {
        clear: both;
        position: relative;
        padding-top: 26px;
    }
    .b-footer-top__r
    {
        margin-right: 0px;
    }
    .b-footer-soc
    {
        margin-left: 47px;
        padding-top: 2px;
    }

    .b-expert .b-spotlight-slider
    {
        width: 640px;
    }

    .b-nav__content
    {
        background-image: none;
    }

    .b-media-view
    {
        margin-top: 20px;
    }

    /* Menu on 768 */
    .b-category-btn
    {
        display: block;
    }
    .b-page_menu_default .b-category
    {
        padding-bottom: 0;
    }
    .b-page_menu_default .b-category_fixed .b-category__bg:before
    {
        top: 0;
    }
    .b-category__list
    {
        visibility: hidden;
        display: none;
        position: absolute;
        top: 35px;
        width: 265px;
        height: auto;
        margin-left: 231px;
        padding: 0;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        -webkit-box-shadow: 0 3px 9px rgba(7,7,7,.3);
        -moz-box-shadow: 0 3px 9px rgba(7,7,7,.3);
        box-shadow: 0 3px 9px rgba(7,7,7,.3);
    }
    .b-category_no_lenta .b-category__list {
        padding-left: 0;
    }
    .b-category__item
    {
        clear: both;
        width: 100%;
        min-height: 43px;
        height: auto;
        background-color: #fff;
        border-top: 1px solid #dadada;
    }
    .b-category__item_active,
    .b-category__item:hover
    {
        min-height: 44px;
    }
    .b-category__item:hover + .b-category__item
    {
        border-top: none;
    }
    .b-category__item_more
    {
        display: none !important;
    }
    .b-category__link
    {
        display: block;
        width: 100%;
        padding: 0 17px;
        color: #3d3c3c;
        line-height: 43px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .b-category__list .b-category__item_active .b-category__link,
    .b-category__list .b-category__item:hover .b-category__link
    {
        background-color: transparent;
    }
    .b-category__item_active .b-category__link,
    .b-category__item:hover .b-category__link
    {
        height: auto;
        color: inherit;
        background-color: transparent;
        border-bottom: 3px solid;
    }
    /*
    .b-category__list:hover .b-category__item_active .b-category__link
    {
        background-color: #f1f1f1;
    }
    */

    .b-subcategory
    {
        display: none;
        position: relative;
        right: 0;
        left: 0;
        height: auto;
    }
    .b-category__list_opened .b-category__item_active .b-subcategory,
    .b-category__list_opened .b-category__item:hover .b-subcategory
    {
        display: block;
        top: 0;
    }
    .b-page_menu_slide .b-category__item:hover .b-subcategory
    {
        z-index: 1;
    }
    .b-page_menu_slide .b-subcategory
    {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .b-subcategory__list
    {
        float: left;
        position: relative;
        width: 252px;
        left: 0 !important;
        padding: 8px 4px 8px 9px !important;
    }
    .b-category__item:hover .b-subcategory__list
    {
        border-bottom: 1px solid #dadada;
    }
    .b-content_layout_2.b-content_lenta-minified .b-subcategory__list
    {
        margin: 0 2px;
    }


    .b-subcategory__item
    {
        padding: 0 17px 0 8px;
        border-bottom: 2px solid transparent;
    }
    .b-subcategory__item:hover
    {
        border-bottom-color: transparent;
    }


    /* Categories color set */
    .b-category__link:hover,
    .b-category__item:hover .b-category__link,
    .b-category__list .b-category__item_active .b-category__link.b-category__link,
    .b-category__list:hover .b-category__item_active .b-category__link.b-category__link
    {
        color: #4e97cc !important;
    }
    .b-category__link_color_1:hover,
    .b-category__link_color_1.b-category__link_active,
    .b-category__item:hover .b-category__link_color_1,
    .b-subcategory__list_color_1 .b-subcategory__item,
    .b-category__list .b-category__item_active .b-category__link.b-category__link_color_1,
    .b-category__list:hover .b-category__item_active .b-category__link.b-category__link_color_1
    {
        color: #ea4254 !important;
    }
    .b-category__link_color_2:hover,
    .b-category__link_color_2.b-category__link_active,
    .b-category__item:hover .b-category__link_color_2,
    .b-subcategory__list_color_2 .b-subcategory__item,
    .b-category__list .b-category__item_active .b-category__link.b-category__link_color_2,
    .b-category__list:hover .b-category__item_active .b-category__link.b-category__link_color_2
    {
        color: #009a5a !important;
    }
    .b-category__link_color_3:hover,
    .b-category__link_color_3.b-category__link_active,
    .b-category__item:hover .b-category__link_color_3,
    .b-subcategory__list_color_3 .b-subcategory__item,
    .b-category__list .b-category__item_active .b-category__link.b-category__link_color_3,
    .b-category__list:hover .b-category__item_active .b-category__link.b-category__link_color_3
    {
        color: #2ab1a7 !important;
    }
    .b-category__link_color_4:hover,
    .b-category__link_color_4.b-category__link_active,
    .b-category__item:hover .b-category__link_color_4,
    .b-subcategory__list_color_4 .b-subcategory__item,
    .b-category__list .b-category__item_active .b-category__link.b-category__link_color_4,
    .b-category__list:hover .b-category__item_active .b-category__link.b-category__link_color_4
    {
        color: #f06d1a !important;
    }
    .b-category__link_color_5:hover,
    .b-category__link_color_5.b-category__link_active,
    .b-category__item:hover .b-category__link_color_5,
    .b-subcategory__list_color_5 .b-subcategory__item,
    .b-category__list .b-category__item_active .b-category__link.b-category__link_color_5,
    .b-category__list:hover .b-category__item_active .b-category__link.b-category__link_color_5
    {
        color: #7bbf40 !important;
    }
    .b-category__link_color_6:hover,
    .b-category__link_color_6.b-category__link_active,
    .b-category__item:hover .b-category__link_color_6,
    .b-subcategory__list_color_6 .b-subcategory__item,
    .b-category__list .b-category__item_active .b-category__link.b-category__link_color_6,
    .b-category__list:hover .b-category__item_active .b-category__link.b-category__link_color_6
    {
        color: #fdb710 !important;
    }
    .b-category__link_color_7:hover,
    .b-category__link_color_7.b-category__link_active,
    .b-category__item:hover .b-category__link_color_7,
    .b-subcategory__list_color_7 .b-subcategory__item,
    .b-category__list .b-category__item_active .b-category__link.b-category__link_color_7,
    .b-category__list:hover .b-category__item_active .b-category__link.b-category__link_color_7
    {
        color: #0086d1 !important;
    }
    .b-category__link_color_8:hover,
    .b-category__link_color_8.b-category__link_active,
    .b-category__item:hover .b-category__link_color_8,
    .b-subcategory__list_color_8 .b-subcategory__item,
    .b-category__list .b-category__item_active .b-category__link.b-category__link_color_8,
    .b-category__list:hover .b-category__item_active .b-category__link.b-category__link_color_8
    {
        color: #8e3c8f !important;
    }
    .b-category__link_color_9:hover,
    .b-category__link_color_9.b-category__link_active,
    .b-category__item:hover .b-category__link_color_9,
    .b-subcategory__list_color_9 .b-subcategory__item,
    .b-category__list .b-category__item_active .b-category__link.b-category__link_color_9,
    .b-category__list:hover .b-category__item_active .b-category__link.b-category__link_color_9
    {
        color: #a27f00 !important;
    }

    /* Subcategories color set */
    .b-subcategory__list_color_1 .b-subcategory__item:hover,
    .b-subcategory__list_color_1 .b-subcategory__item_active
    {
        color: #ea4254 !important;
    }
    .b-subcategory__list_color_2 .b-subcategory__item:hover,
    .b-subcategory__list_color_2 .b-subcategory__item_active
    {
        color: #009a5a !important;
    }
    .b-subcategory__list_color_3 .b-subcategory__item:hover,
    .b-subcategory__list_color_3 .b-subcategory__item_active
    {
        color: #2ab1a7 !important;
    }
    .b-subcategory__list_color_4 .b-subcategory__item:hover,
    .b-subcategory__list_color_4 .b-subcategory__item_active
    {
        color: #f06d1a !important;
    }
    .b-subcategory__list_color_5 .b-subcategory__item:hover,
    .b-subcategory__list_color_5 .b-subcategory__item_active
    {
        color: #7bbf40 !important;
    }
    .b-subcategory__list_color_6 .b-subcategory__item:hover,
    .b-subcategory__list_color_6 .b-subcategory__item_active
    {
        color: #fdb710 !important;
    }
    .b-subcategory__list_color_7 .b-subcategory__item:hover,
    .b-subcategory__list_color_7 .b-subcategory__item_active
    {
        color: #0086d1 !important;
    }
    .b-subcategory__list_color_8 .b-subcategory__item:hover,
    .b-subcategory__list_color_8 .b-subcategory__item_active
    {
        color: #8e3c8f !important;
    }
    .b-subcategory__list_color_9 .b-subcategory__item:hover,
    .b-subcategory__list_color_9 .b-subcategory__item_active
    {
        color: #a27f00 !important;
    }

    .b-subcategory__list_color_1 .b-subcategory__item_active
    {
        border-bottom-color: #3e0b04;
    }
    .b-subcategory__list_color_2 .b-subcategory__item_active
    {
        border-bottom-color: #0d4506;
    }
    .b-subcategory__list_color_3 .b-subcategory__item_active
    {
        border-bottom-color: #0e4b4f;
    }
    .b-subcategory__list_color_4 .b-subcategory__item_active
    {
        border-bottom-color: #792504;
    }
    .b-subcategory__list_color_5 .b-subcategory__item_active
    {
        border-bottom-color: #230419;
    }
    .b-subcategory__list_color_6 .b-subcategory__item_active
    {
        border-bottom-color: #6c330b;
    }
    .b-subcategory__list_color_7 .b-subcategory__item_active
    {
        border-bottom-color: #052440;
    }
    .b-subcategory__list_color_8 .b-subcategory__item_active
    {
        border-bottom-color: #363636;
    }
    .b-subcategory__list_color_9 .b-subcategory__item_active
    {
        border-bottom-color: #a27f00;
    }


    .b-profile__l
    {
        width: 540px;
    }

    .b-profile-edit__c
    {
        padding-left: 0;
        width: 536px;
    }

    .b-profile-edit__c .b-profile-editer__textarea-wrp,
    .b-profile-edit__c .b-profile-editer__textarea
    {
        width: 506px;
    }

    .b-content__header .b-spotlight-header
    {
        overflow: hidden;
    }
    .b-content__header .b-spotlight-menu
    {
        /* width: 460px; */
    }

    .b-events-item__r
    {
        width: 552px;
    }



    .b-opinions-widget-item_priority
    {
        width: 176px;
    }

    .b-infocenter-widget-subheader__title
    {
        width: 320px;
    }

    .b-media-slider_min .b-media-item, .b-media-red .b-media-item
    {
        margin-right: 28px;
    }

    .b-media-top__top
    {
        width: 100%;
    }

    .b-media-item
    {
        margin-right: 16px;
    }

    .b-rate-list
    {
        width: 190px;
        margin-right: 70px;
    }

    .b-rate-item
    {
        margin-right: 20px;
    }

    .b-rate-items .b-rate-item:nth-child(n+4)
    {
        display: none !important;
    }

    .b-rate-items .b-rate-item:nth-child(3)
    {
        margin-right: 0;
    }

    .b-rate__shadow
    {
        bottom: -8px;
        width: 282px;
        height: 24px;
        background-image: url(/i/b-rate__shadow_768.png);
    }

    /* Experts Opinion on 768 */
    .b-expert-opinion_flag
    {
        width: 176px;
    }
    .b-expert-opinion_flag .b-expert-opinion-people__r
    {
        width: 100px;
    }
    .b-expert-opinion_flag .b-expert-opinion__desc
    {
        max-height: 113px;
        font-size: 13px;
    }
    .b-expert-opinion_flag .b-expert-opinion__header
    {
        height: 80px;
    }
    .b-expert-opinion_flag .b-expert-opinion-people__l,
    .b-expert-opinion_flag .b-expert-opinion-people__r
    {
        margin-left: 10px;
        line-height: 80px;
    }
    .b-expert-opinion_flag .b-expert-opinion-people__pic,
    .b-expert-opinion_flag .b-expert-opinion-people__pic img
    {
        width: 46px;
        height: 46px;
    }
    .b-expert-opinion_flag .b-expert-opinion__footer
    {
        height: 170px;
        padding: 10px;
    }
    .b-expert-opinion_flag .b-expert-opinion-people__first-name,
    .b-expert-opinion_flag .b-expert-opinion-people__last-name
    {
        font-size: 11px;
    }
    .b-expert-opinion_flag .b-news-item__category
    {
        display: block;
    }


    .b-gallery_fullscreen .b-gallery-panel__l
    {
        width: 47%;
    }

    .b-opinions-widget-list_main-page .b-opinions-widget-item_priority_interview
    {
        width: 176px;
    }

    .b-nav .b-nav-language-selector .jq-selectbox__dropdown li.b-nav-language-selector__rus,
    .b-nav .b-nav-language-selector .jq-selectbox__dropdown li.b-nav-language-selector__eng
    {
        background-position: 98px 7px;
        text-indent: 10px;
    }
    .b-nav .b-nav-language-selector .jq-selectbox__dropdown
    {
        left: -98px !important;
    }

    .b-page_eng .b-footer__logo-desc
    {
        width: 110px;
    }

    .b-press-releases_widget .b-news-item_size_m
    {
        width: 176px;
    }

    .b-infocenter-widget .b-spotlight-header-control-nav
    {
        margin-right: -15px;
    }

    .b-content_lenta-minified .b-category__list {
        padding-left: 0;
    }

    .b-city-selector-popup
    {
        right: 20px;
    }

    .b-infocenter-about-item__content
    {
        margin-right: 0;
        margin-bottom: 18px;
    }
    .b-infocenter-about-item-info
    {
        width: 100%;
    }
    .b-infocenter-about-item-info-address,
    .b-infocenter-about-item-info-person,
    .b-infocenter-about-item-info-tel,
    .b-infocenter-about-item-info-email
    {
        display: inline-block;
        vertical-align: top;
        width: 46%;
        margin-right: 3%;
    }
    .b-infocenter-about-item-info-person__desc
    {
        margin-bottom: 9px;
    }

    .i-events-item_ease .b-events-item__text
    {
        width: 405px;
    }
    .b-infocenter__list .b-spotlight__item {
        margin-right: 18px;
    }

    .ads-place_13,
    .ads-place_14
    {
        display: none;
    }

}

@media screen and (width: 1000px) {
	.b-lenta {
		top: -52px;
	}
}

@media screen and (max-width: 1024px) {

    /*.b-photostream-set_size_m{
        width: 66.5%;
    }
    .b-photostream-set_size_s{
        width: 33.5%;
    }*/
    .b-photostream-slider .b-photostream-item{
        width: 3.33%;
    }

    .back-top-wrapper,
    #back-to-top {
        display: none !important;
    }
}


@media screen and (min-width: 580px) and (max-width: 768px) {

    .b-gallery_fullscreen .b-gallery-panel__l
    {
        width: 36%;
    }
    .b-city-selector-popup
    {
        right: 0;
    }
}

@media screen and (max-width: 400px) {
    .b-lenta-header__title {
        font-size: 18px;
    }
}



@media screen and (min-width: 1000px) and (max-width: 1280px) {

    .b-content__header .b-spotlight-header
    {
        overflow: hidden;
    }
    .b-infographics-widget__pic {
        display: inline-block;
        position:relative;
    }
    .b-nav-search__input
    {
        width: 180px;
    }
}



@media screen and (min-width: 1280px) {
    .b-photostream-slider .b-photostream-item
    {
        width: 2%;
    }
    .b-photostream nav
    {
        display: none;
    }
}



/* min-width: 1280px вынесены в widescreen.css */



@media screen and (max-width: 1340px) {
    .b-expend:before,
    .b-star:before {
        right: 0;
        left: auto;
        margin-left: 0;
    }
    .b-rate__shadow {
        display: none !important;
    }
    .b-rate-items .b-rate-item:nth-child(5)
    {
        display: none !important;
    }
}


@media screen and (min-width: 1900px) {
    .b-photostream-item_size_s
    {
        height: 250px !important;
    }
    .b-photostream-item_size_l
    {
        height: 500px !important;
    }
}
@media screen and (max-width: 1000px) {
    .b-content__l_lenta .tgb_vertical {
        display: none;
	}
    .b-currency-popup,
    .b-header__currency-button,
    .b-currency-popup_overlay {
		display: none !important;
    }
}

@media screen and (max-width: 767px) {
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .mobile-lenta-more {
        display: none !important;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (min--moz-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5)

{

    .b-logo,
    .b-logo_rus
    {
        background-image: url(/i/logo_big_x2_rus.png);
    }
    .b-logo_eng
    {
        background-image: url(/i/logo_big_x2_eng.png);
    }
    .b-logo
    {
        -webkit-background-size: 138px 67px;
        -moz-background-size: 138px 67px;
        -o-background-size: 138px 67px;
        background-size: 138px 67px;
    }
    .b-logo .b-logo__pic
    {
        display: none;
    }

    .b-nav-mobile-search-btn.b-nav-mobile-search_active,
    .b-nav-mobile-search-btn {
        -webkit-background-size: 19px 19px;
        -moz-background-size: 19px 19px;
        -o-background-size: 19px 19px;
        background-size: 19px 19px;
    }

    .b-nav-mobile-search-btn.b-nav-mobile-search_active {
        background-image: url(/i/mobile-search2x.png);
    }

    .b-nav-mobile-search-btn {
        background-image: url(/i/mobile-search-header2x.png);
    }

    .b-search-panel__input-clear {
        -webkit-background-size: 18px 18px;
        -moz-background-size: 18px 18px;
        -o-background-size: 18px 18px;
        background-size: 18px 18px;
    }
    .b-search-panel__input-clear {
        background-image: url(/i/b-search-panel__input-clear2x.png);
    }

    .b-footer__logo,
    .b-footer__logo_rus
    {
        background-image: url(/i/logo_small_x2_rus.png);

    }
    .b-footer__logo_eng
    {
        background-image: url(/i/logo_small_x2_en.png);
    }

    .b-404 .b-footer__logo,
    .b-404 .b-footer__logo_rus {
        background-image: none;
    }

    .b-footer__logo
    {
        -webkit-background-size: 77px 38px;
        -moz-background-size: 77px 38px;
        -o-background-size: 77px 38px;
        background-size: 77px 38px;
    }

    .b-footer__logo-pic {
        display: none !important;
    }

    .b-news-item__media img {
        width: 176px;
        height: 120px;
    }
}
/* removing horizontal scroll */
@media screen and (min-width: 768px) and (max-width: 769px) {
    .b-nav__content,
    .b-header__content,
    .b-category__content,
    .b-subcategory__content,
    .b-content__content,
    .b-autor__content,
    .b-media-top__content,
    .b-media-bottom__content,
    .b-footer__content,
    .b-infocenter-widget,
    .b-infocenter__content,
    .b-opinions-widget__content,
    .b-opinions-widget .b-spotlight-header,
    .b-infocenter-widget,
    .b-rate__content,
    .b-opinions-widget-header,
    .b-section__content_opinions-widget,
    .b-section__content_press-releases
    {
        width: 751px !important;
    }
}

@media screen and (max-width: 767px) {
.b-spotlight__r {
    display: none !important;
}
.b-material-text__l .ads-place_110 {
    display: none !important;
}
.press-center-main {
    display: none;
}
.pressCalendar-suphead .jq-selectbox__select {
    width: auto !important;
}
.pressdayContent-dayList .item .table .image img{
    display: none;
}

.pressCalendar .pressCalendar-head {
    height: auto;
}
.b-infocenter_page .b-spotlight-menu__item:last-child {
    display: none;
}
.b-spotlight-header__content_color_0
{
    background: #a0bbc9;
    background: -moz-repeating-linear-gradient(top,  #abc5d2 0, #99b4c2 48px);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#abc5d2), color-stop(48px,#99b4c2));
    background: -webkit-repeating-linear-gradient(top,  #abc5d2 0,#99b4c2 48px);
    background: -o-repeating-linear-gradient(top,  #abc5d2 0,#99b4c2 48px);
    background: -ms-repeating-linear-gradient(top,  #abc5d2 0,#99b4c2 48px);
    background: repeating-linear-gradient(to bottom,  #abc5d2 0, #99b4c2 48px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#dcdcdc',GradientType=0 );
}

}

@media screen and (min-width: 768px) {
    .ads_mobile1 {
        display: none;
    }
    .ads-place_121 {
        display: none;
    }
    .b-page__content {
        left: 0 !important;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1390px) {
    #back-to-top {
        display: none !important;
    }
}
@media screen and (max-width: 1139px) {
    #back-to-top {
        display: none !important;
    }
}

@media screen and (min-width: 1290px) and (max-width: 1420px) {
    .body_press #back-to-top {
        display: none !important;
    }
}
@media screen and (max-width: 1170px) {
    .body_press #back-to-top {
        display: none !important;
    }
}
@media screen and (max-width: 767px) {
    #spotlightHeaderTopBar .b-spotlight-menu__list {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #spotlightHeaderTopBar .icon-combo_open,
    #spotlightHeaderTopBar .icon-combo_close {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .b-video-widget.b-video-widget_max {
       margin-top: 5px;
       margin-bottom: 30px;
       width: 100%;
       margin-left: 0px;
       clear: both;
    }
    .b-material_event .b-video-widget {
        margin-left: 0px;
        width: 100%;
    }
    .b-material_event .b-video-widget.b-video-widget_max {
        margin-left: 0px;
        width: 100%;
    }
    .b-material_event .b-video-widget.b-video-widget_right {
        float: right;
        clear: right;
        margin-right: 0px;
    }
}
