.b-page,
.b-content__content
{
    min-width:0;
    width: auto;
}
.b-lenta-container,
.slimScrollDiv,
.b-lenta__content
{
    width: auto !important;
    height: auto !important;
}
.b-content__l,
.b-lenta,
.b-lenta__content,
.b-lenta-top,
.b-lenta-item,
.b-lenta-set,
.b-lenta-set__content,
.b-lenta-set-top,
.b-lenta-set__section,
.b-lenta-switch__tab,
.b-lenta-auth,
.b-content_layout_2 .b-content__l,
.b-material_ver_2 .b-material-text__l,
.b-other-news-item,
.b-other-news-item__r,
.b-lenta-filter
{
    width: 100%;
}
.b-social-widgets > .b-social-reddit > a > img,
.b-content__header_mobile {
    display: block !important;
}
.b-photostream,
.b-header,
.b-category,
#categoryHelper,
.b-media,
.media-query-hide_1280,
.b-rate,
.ads-place_23,
.b-other-news-item__l,
.b-lenta-top,
.b-lenta-add-topic,
.b-lenta-filter__text-hidden,
.b-lenta-filter__r,
.b-share,
.b-material__mail,
.b-video-widget__title i,
.ads,
.b-infocenter_widget,
.b-material-text img,
.b-content_layout_2 .b-content__r,
#main-feature .b-site-switch,
.b-spotlight-slider_feature .b-news-item__category,
.b-section_opinions-widget,
.b-page_inner #news-section .b-spotlight__content_sections,
.b-page_inner #news-section .b-spotlight__content_all,
.b-page_inner #news-section .b-spotlight__content_all ~ .b-spotlight__list,
.b-lenta-filter,
.b-news-item_ficher .b-news-item__desc,
.b-content__l_lenta,
.b-footer__logo-desc,
.b-section_press-releases,
.b-spotlight-header__sep,
.b-spotlight-header_material,
.b-spotlight-slider_feature .b-news-item__date,
.b-material-text .b-news-item__video,
.b-page_rus .b-video-soc__item_ok,
.b-page_rus .b-video-soc__item_mailru,
.b-page_rus .b-video-soc__item_gplus,
.b-page_rus .b-video-soc__item_lj,
.b-page_rus .b-video-soc__item_reddit,
.materialFirstPerson-imgLine,
.dynamicInfographics,
.b-infografic-widget,
#back-to-top,
#news-section .b-spotlight__content .b-spotlight__content,
.b-spotlight__content,
.b-content__header_desktop,
#news-section .b-spotlight__content .b-comment,
.b-infocenter-about:after,
.pressCalendar-slider,
.pressCalendar-head .b-city-selector,
.b-option-other-menu,
.b-enc-widget__pic-title,
.b-enc-widget__copyright,
.b-gallery-widget_photo_photobase,
.b-gallery-widget_news-photo .copyright_gallery,
.extra-content .poll_box
{
    display: none !important;
}

.view_special .b-content_layout_2 .b-content__r,
.view_main .b-content_layout_2 .b-content__r,
.view_stretched .b-content_layout_2 .b-content__r {
    display: block!important;
}

.b-material-text .live_video_publications img{
    display: inline-block !important;
}

.b-lenta-news,
.b-lenta-header,
.b-material-pic img,
#main-feature .b-spotlight__content,
#news-section .b-spotlight__content,
#search .b-spotlight__content,
.b-news-item_priority,
.b-spotlight-slider_feature,
.b-spotlight-header_topbar .b-spotlight-header__content .b-title,
.b-spotlight__content_main-in-section,
#news-section .b-spotlight__content.b-spotlight__content_main-in-section,
.b-share_mobile,
.b-page_main .b-content__l_lenta,
.b-page_section .b-content__l_lenta,
.ads.ads-place_121, .ads.ads-place_122,
.ads.ads-place_121 img, .ads.ads-place_122 img,
.b-spotlight__content_search,
.b-comment_more.b-more-announcementevents,
.b-comment_more.b-more-prevevents,
.pressCalendar-suphead
#news-section .b-spotlight__content_main-in-section.b-spotlight__content_noads,
#news-section .b-spotlight__content .b-spotlight__content_main-in-section,
#news-section .b-spotlight__content .b-spotlight__content.b-spotlight__press-content,
.b-spotlight__content.b-spotlight__press-content,
.tassPrimaryGallery
{
    display: block !important;
}
.b-lenta-header{
float:none;
}

.b-gallery-widget-max .b-gallery-widget__title {
    margin-left: 12px;
}
.b-gallery-widget-max .b-gallery-widget__count {
    margin-right: 16px;
}
.b-gallery-widget_mini .b-gallery-widget__count {
    display: block !important;
}

.b-spotlight__content_search {
    padding: 0 20px;
}
.b-spotlight__content_search .b-news-item {
    width: 100% !important;
    display: block;
}
.b-spotlight__content_search .b-news-item__text {
    min-height: 1px !important;
}
.b-spotlight__content_search .b-spotlight__item {
    margin-bottom: 0;
    border-bottom: 1px solid #dfdfdf;
}
.b-spotlight__content_search .b-news-item__media {
    float: left;
    margin-right: 20px;
    max-width: 105px;
    max-height: 70px;
}
.b-spotlight__content_search .b-news-item__media img {
    max-width: 105px;
    max-height: 70px;
}
.b-spotlight__content_search .b-news-item__content,
.b-spotlight__content_search .b-news-item__text {
    overflow: hidden;
}
.b-spotlight__content_search .b-spotlight__item {
    display: block;
}
.b-infocenter-about__title,
.b-infocenter-about-item__title {
    font-size: 22px;
}
.b-infocenter-about-item__pic {
    margin: 0 0 50px;
    width: 100%;
    height: auto;
}
.b-infocenter-about-item__content {
    margin: 0;
}

.b-spotlight-header__content,
.b-news_set_list .b-spotlight-header__l
{
    height: 32px;
}
#main-feature .b-title,
.b-spotlight-header__content .b-title
{
    line-height: 30px;
}
#main-feature .b-spotlight-menu__item,
.b-opinions-widget-header .b-opinions-widget-menu__item,
.b-spotlight-header__content .b-spotlight-menu__item
{
    line-height: 33px !important;
    height: 29px;
}
.b-opinions-widget-header .b-opinions-widget-menu__item:hover {
    line-height: 33px !important;
    height: 29px;
}

.b-infocenter_page .b-spotlight-header_infocenter,
.pressCenter-page .pressMain-slider
{
    margin-bottom: 20px !important;
}

.b-spotlight-header_infocenter .b-spotlight-header__content
{
    margin: 0;
    padding: 0;
}
.b-material-panel {
    margin: -16px -14px 15px -58px;
}
.b-material-pic__pic img {
    width: 100%;
}
.b-material-pic__text_events{
    width: 100%;
}
.pressCenter-page,
.pressCalendar
{
    padding: 0 17px;
}

.pressCalendar-dayContent
{
    margin: 0 -17px;
}

.pressdayContent-dayList .item
{
    padding-left: 17px;
    padding-right: 17px;
}

.pressCenter-page .pressMain-list
{
    white-space: nowrap;
    width: 100% !important;
}

.pressCenter-page .pressMain-list li
{
    white-space: normal;
    width: 100%;
}

.pressCenter-page .pressMain-img img
{
    width: 100%;
}

.pressCalendar-suphead
{
    background: #042745;
    width: 100%;
    margin-left: -17px;
    padding: 12px 17px;
}
.pressCalendar-suphead .b-city-selector .jq-selectbox__select-text
{
    margin-right: 25px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
}

.pressCalendar-suphead .b-city-selector
{
    margin-left: -3px;
}
.b-opinions-widget-header .b-opinions-widget-menu__item:hover,
.b-opinions-widget-header .b-opinions-widget-menu__item_active {
    line-height: 35px;
    height: 30px;
    color: #fff;
    border-bottom: 3px solid #fff;
}

.b-opinions-widget-header .b-opinions-widget__title,
.b-opinions-widget-header .b-title {
    line-height: 35px;
    height: 33px;
}

.b-opinions-widget-header .b-title {
    margin: 0;
}
.b-opinions-widget__title .blockName {
    margin: 0;
}
.b-opinions-widget-header {
    margin-bottom: 0;
}

.b-opinions-page .b-opinions-widget-list,
.b-opinions-page .b-popular__list {
    margin-right: 0 !important;
    width: auto !important;
}
.b-opinions-widget_all .b-opinions-widget-list {
    width: 100%;
}

.b-opinions-widget_page.b-opinions-widget_all .b-opinions-widget-list {
    margin-right: 0 !important;
}
.b-opinions-page .b-popular-item__l {
    margin-bottom: 0;
    display: none;
}
.b-opinions-page .b-opinions-widget-header .b-opinions-widget-header__l {
    margin-left: 0;
}
.b-opinions-page .b-opinions-widget-header .b-title {
    display: inline-block;
}
.b-opinions-widget-header .b-title {
    display: none;
}
.b-opinions-widget-header__l {
    margin-left: 11px;
}

.b-opinions-widget-header__l .b-opinions-widget-menu__item {
    display: none;
}

.b-opinions-widget-header__l .b-opinions-widget-menu__item.menu-item_mobile {
    display: inline-block !important;
}


.b-opinions-widget-header .b-opinions-widget-menu__item {
    padding: 0 6px;
}

.b-opinions-widget-header {
    height: 33px;
}

.b-opinions-widget-list .b-spotlight__item {
    margin: 0;
    width: 100%;
}
.b-opinions-widget-list .b-expert-opinion {
    width: 100%;
}
.b-opinions-widget-list .b-expert-opinion__footer {
    overflow: hidden;
}

.b-opinions-widget-list .b-opinions-widget-item {
    display: block;
    width: auto;
    margin: 0;
    padding: 10px 17px;
    float: none;
    border-bottom: 1px solid #dfdfdf;
}
span.b-opinions-widget-item__quote {
    color: #787777;
    font-size: 11px !important;
}
.b-opinions-widget-item__desc {
    margin-bottom: 0;
    color: #000;
    font-size: 13px;
    font-weight: normal;
}
.b-opinions-widget-list .b-opinions-widget-item__text {
    display: block;
    overflow: hidden;
}
.b-opinions-widget-list {
    width: 100%;
}
.b-opinions-widget-item__pic {
    display: none;
}
.b-news-item__media .b-opinions-widget-item__pic {
    display: block;
}
.b-opinions-widget-item__pic-mask {
    display: none;
}
.b-opinions-widget-list .b-opinions-widget-item__pic-mask {
    display: none;
}
.b-option-other-menu__content {
    width: 100%;
    background: #f0f0f0;
    margin-bottom: 20px;
}
.b-option-other {
    padding: 0 17px;
}
.b-option-other-menu__item,
.b-option-other-menu__all {
    line-height: 32px;
    height: 32px;
}
.b-option-other-menu,
.b-option-other-menu__list {
    overflow: visible;
    height: auto;
    float: none;
}
.b-option-other-menu__all {
    border-right: 0;
}

.b-popular__list .b-popular-item {
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 0;
    padding: 10px 17px;
}
.b-popular-item__title {
    font-weight: normal;
}
.b-expert-profile {
    padding: 0 17px;
}
.b-expert-profile__label,
.b-expert-profile__count {
    display: none;
}
.b-expert-profile__list {
    margin: 0 -17px;
}
.b-expert-profile__title {
    font-size: 14px;
    font-weight: bold;
}
.b-expert-profile__title span {
    display: block;
    font-size: 16px;
    padding-top: 3px;
}
.b-expert-profile__header {
    padding-left: 117px;
    padding-right: 17px;
    position: relative;
    border-bottom: 1px solid #dfdfdf;
    margin: 0 -17px;
}
.b-expert-opinion__header {
    border-top: 0px;
}
.b-expert-profile__r {
    float: none;
    position: absolute;
    left: 17px;
    top: 12px;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    background: transparent;
}
.b-expert-profile__r img {
    max-width: 80px;
}
.b-expert-profile__l {
    width: auto;
    margin-bottom: 20px;
}
.b-expert-profile__desc {
    font-size: 11px;
    font-weight: bold;
}
.b-expert-profile-item__title {
    font-weight: normal;
    font-size: 13px;
}
.b-expert-profile-item {
    margin: 0;
    padding: 10px 17px;
    border-bottom: 1px solid #dfdfdf;
    background: #fff;
    width: auto !important;
    height: auto;
    min-height: 10px !important;
    float: none;
}
.b-option-other {
    display: none;
}
.b-opinions-widget .b-comment.b-comment_more {
    display: block !important;
}
.b-popular__header {
    margin-bottom: 0;
}
.b-nav-language-selector
{
    position: absolute;
    top: 20px;
    right: 85px;
}
.b-nav-mobile-search-btn {
    background-image: url(/i/mobile-search-header.png);
}
.b-nav-mobile-search-btn.b-nav-mobile-search_active {
    background-image: url(/i/mobile-search.png);
    right: 20px;
}

.b-spotlight-header_topbar .b-title {
    height: auto !important
}

.b-content__r
{
    clear: both;
    width: 100%;
}
#main-feature,
#news-section
{
    background-color: #f0f0f0;
    width: 100%;
}
#news-section .b-spotlight,
.b-news_set_list .b-spotlight {
    width: 100%;
}
.b-spotlight-header .b-title,
.b-opinions-widget-header .b-opinions-widget__title
{
    margin: 0 12px;
    font-size: 14px;
}
.b-title .icon-combo_close, .b-title .icon-combo_open {
    margin-left: 5px;
    color: #fff !important;
    cursor: pointer;
}
.b-spotlight-menu__item, .b-opinions-widget-menu__item {
    padding: 0 17px;
}
.b-spotlight-slider_feature .b-spotlight__item
{
    display: block;
}
.b-spotlight__content
{
    background-color: transparent;
}

.b-search-panel .b-spotlight-header,
.b-search-panel .b-search-panel__set {
    display: none !important;
}
.b-search-panel__form {
    float: none;
    display: block;
    overflow: hidden;
    padding: 0 20px;
}
.b-search-panel__top {
    padding: 30px 0;
    border-top: 0;
    border-bottom: 5px solid #131313;
}
.b-search-panel__input-wrp {
    float: none;
    overflow: hidden;
}
.b-search-panel .b-search-panel__input {
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.b-nav-search__input {
    padding: 2px 30px 0 22px;
}
.b-search-panel .b-search-panel__btn {
    float: right;
    font-size: 16px;
    text-transform: uppercase;
    height: 36px;
    font-weight: normal;
    line-height: 36px;
    padding: 0 13px;
    margin: 0 0 0 12px;
    background: #F0F0F0;
    border: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.b-nav-mobile-search .b-nav-search__input {
    height: 35px;
}
.b-nav-mobile-search {
    padding: 30px 21px 30px;
}
.b-search-panel .b-search-panel__input-clear {
    top: 10px;
}

#main-feature .b-spotlight__item,
#news-section .b-spotlight__item,
.b-main-slider-items .b-spotlight__l,
#news-section .b-spotlight__l,
.b-spotlight__content_ads-right,
.b-spotlight__list,
.b-news-item_priority,
#main-feature .b-news-item_size_l,
#news-section .b-news-item_size_l
{
    width: 100% !important;
}

.b-lenta-header__l {
    position: relative;
}

.b-lenta-header__l .isRegion {
    position: absolute;
    left: 100%;
    top: 28px;
    margin-left: 10px;
    white-space: nowrap;
}
.b-lenta-header__l .isRegion a {
    font-size: 10px;
    color: #96b2c0;
    text-decoration: none;
    text-transform: uppercase;
}


.b-news
{
    width: 100%;
}
.b-news-item__content
{
    position: relative;
    min-height: 71px;
}
.b-news-item_priority .b-news-item__content
{
    margin: 18px 17px 15px !important;
}
.b-news-item_ficher .b-news-item__content
{
    margin: 16px 17px 18px !important;
}

.b-news-item_priority .b-news-item__media
{
    width: auto;
    height: auto;
}
.b-main-slider-item_noads .b-spotlight__list,
.b-main-slider-items .b-main-slider-item_noads .b-spotlight__l,
.b-main-slider-item_noads .b-news-item_priority,
.b-main-slider-item_noads .b-news-item_priority .b-news-item__media,
#news-section .b-spotlight__content_noads .b-spotlight__l,
.b-spotlight__content_noads .b-news-item_priority,
.b-spotlight__content_noads .b-news-item_priority .b-news-item__media
{
    width: auto;
}
.b-news-item_priority .b-news-item__media img
{
    width: 100%;
    height: auto;
}
.b-page_main #main-feature .b-spotlight-header,
.b-spotlight-header_topbar
{
    margin-bottom: 0;
}
.b-news-item_priority .b-news-item__title span,
.mainNewsItemTitle
{
    padding-top: 0;
    font-size: 14px !important;
    line-height: 1.4;
}
.b-news-item_priority .b-news-item__desc
{
    font-size: 13px !important;
}
#main-feature .b-news-item_size_l,
#news-section .b-news-item_size_l
{
    border-top: 1px solid #cbcbcb;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}
.b-news-item_size_l .b-news-item__media,
.b-news-item_size_l .b-news-item__media img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 104px;
    height: 71px;
}
.b-spotlight-slider_feature .b-news-item__title,
.b-spotlight-slider_feature .b-news-item__title span,
.b-news-item_ficher .b-news-item__date
{
    font-size: 12px;
}
.b-spotlight-slider_feature .b-news-item__title span
{
    margin-bottom: 0;
}
#main-feature .b-spotlight__item,
#news-section .b-spotlight__item
{
    clear: both;
}

.b-lenta-time-line
{
    margin-left: 0;
}
.b-lenta-item__category
{
    width: auto;
}

.b-material-text__r,
.b-material_ver_2 .b-material-text__r
{
    float: none;
    width: 100%;
}

.b-material
{
    clear: both;
}
.b-page__content.b-page_menu {
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.b-page__content
{
    position: relative;
    top: 0;
    padding-top: 0;
    clear: both;
}

.b-material__content
{
    border: 0;
    padding: 16px 15px 0px 15px !important;
    border-bottom: 2px solid #f2f2f2 !important;
}
.b-material__print
{
    right: 0;
}
.b-material__mail
{
    right: 25px;
}
.b-material_ver_2 .b-material-pic__pic,
.b-material_ver_2 .b-material-pic__text
{
    margin-left: -16px;
    margin-right: -16px;
}
.b-material_ver_2 .b-material-pic__pic.live_video_publications
{
    margin-left: 0px;
    margin-right: 0px;
}
.b-material
{
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-bottom: 0;
}
.b-material_ver_2 .b-material-pic__pic img
{
    width: 100%;
}
.b-material_ver_2 .b-material-pic__text
{
    width: auto;
    padding: 20px 16px 20px 16px;
}
.b-material__title
{
    font-size: 22px;
}
.b-lenta-item,
.b-lenta-item:hover
{
    background: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.b-lenta-filter__text
{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px;
}


/*Врезки*/
.b-links,
.b-vrez,
.b-material-autor,
.b-gallery-widget-item__pic img,
.b-text-media,
.b-text-media__pic img,
.b-gallery-widget,
.b-material_event .b-gallery-widget,
.b-quote-widget,
.b-enc-widget__pic img,
.b-enc-widget_max,
.b-enc-widget,
.b-video-widget,
.b-video-widget iframe,
.b-material-pic__title,
.b-infografic-widget,
.b-material .b-gallery,
.b-gallery-slider,
.b-gallery-slider__item,
.b-gallery-slider__list,
.b-gallery-item img,
.b-enc-widget__pic,
.b-enc-widget__pic img,
.b-enc-widget_half .b-enc-widget__r,
.b-text-media_video_max .b-text-media__pic,
.b-text-media_video_max .b-text-media__text,
.b-themes-widget
.quotes .topDate,
.b-enc-widget__r
{
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.quotes .topDate,
.event-quotes .quotes .topDate,
.b-material_event .b-gallery-widget-max .b-gallery-widget-item__pic img {
    margin-left: 0;
    width: 100%;
}


.box .b-gallery-widget-max,
.box .b-enc-widget_max,
.box .b-video-widget_max,
.box .b-text-media_video_max,
.box .b-infografic-widget_100,
.box .poll_box.poll_box_whole,
.box .b-special-project-widget.fullMode,
.box .expert_opinion.expert_opinion_large,
.box .b-gallery-widget,
.box .b-text-media,
.box .box_interview_in_article,
.box .b-themes-widget,
.box .b-video-widget.b-video-widget_half,
.box .b-vrez, .box .b-vrez.b-vrez_half,
.box .poll_box.poll_box_large,
.box .b-special-project-widget.half,
.box .expert_opinion.expert_opinion_average,
.box .b-enc-widget_half,
.box .b-links_mini,
.box .b-vrez_infografic_small,
.box .poll_box,
.box .expert_opinion.expert_opinion_small,
.box .b-enc-widget_quarter {
    width: 100%!important;
    margin-left: 0!important;
    margin-right: 0!important;
}



.quotes .box .text img,
.b-material_event .b-text-media_video_max .b-text-media__pic,
.b-material_event .b-text-media_video_max .b-text-media__pic img,
.b-video_sd,
.box .b-vrez.b-vrez_half,
.box .b-video-widget_max iframe,
.b-text-media_video_max .b-text-media__pic {
    max-width: none !important;
    min-width: 200px !important;
}
.event-quotes .quotes {
    margin: 50px -15px 0 -15px;
    padding-right: 0;
    width: auto !important;
}
.event-quotes .quotes .box {
    width: auto !important;
}
.box .b-text-media_video_max .b-text-media__text {
    max-width: 700px !important
}
.b-material_event .b-video-widget.b-video-widget_max,
.b-material_event .b-gallery-widget-max {
    margin-left: 0;
    width: auto;
}
.b-material_event .b-text-media_video_max .b-text-media__pic,
.b-material_event .b-text-media_video_max .b-text-media__pic img {
    width: 100%;
}
.b-gallery-widget-item__pic img,
.b-gallery-item img,
.b-enc-widget__pic img
{
    height: auto;
}
.b-vrez,
.b-material-autor__content,
.b-quote-widget__people,
.b-enc-widget,
.b-video-widget,
.b-quote-widget_right
{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.b-material_event .b-vrez {
    margin-left: 0;
    margin-right: 0;
}

.b-vrez,
.b-material-autor
{
    background: none;
}
.b-vrez {
    max-width: none;
}

.b-links,
.b-gallery-widget_right,
.b-material-autor,
.b-text-media,
.b-gallery-widget_left,
.b-quote-widget_left,
.b-enc-widget__pic,
.b-infografic-widget_left,
.b-gallery-widget-max,
.b-material_event .b-gallery-widget-max,
.b-gallery,
.b-text-media_video_max .b-text-media__pic,
.b-text-media_video_max .b-text-media__text,
.b-themes-widget
{
    margin-left: 0;
    margin-right: 0;
}
.b-material-autor,
.b-vrez,
.b-themes-widget
{
    float: none;
    clear: both;
}
.b-material-autor__pic
{
    margin-left: 0;
}
.b-material-autor
{
    border-bottom: 3px solid #F2F2F2;
    margin-bottom: 20px;
    padding: 0 0 18px;
}
.b-material-autor__name span,
.b-material-autor__title,
.b-material-autor__name,
.b-material-autor a
 {
    display: inline;
    float: none;
    width: auto;
}
.b-material-autor__name,
.b-material-autor__name span,
.b-material-autor__title {
    font-size: 14px;
    text-transform: uppercase;
}
.b-material-autor__title:after {
    content: ':';
}
.b-material-autor__desc {
    margin-bottom: 5px;
}
.b-material-autor .b-material-autor__pic {
    display: none;
}
.b-material-autor__pic, .b-material-autor__pic img
{
    width: 120px;
    height: auto;
}
.b-links__title
{
    padding-left: 16px;
}
.b-links__list
{
    padding: 0 16px;
}

.b-gallery-widget-item__text,
.b-gallery-widget-max .b-gallery-widget-item__text
{
    padding: 10px 16px;
}
.b-enc-widget__l,
.b-enc-widget__r,
.b-enc-widget_quarter .b-enc-widget__r,
.b-enc-widget_quarter .b-enc-widget__l
{
    width: 100%;
    clear: both;
    float: left;
}
.b-enc-widget__l
{
    margin-bottom: 10px;
}
.b-enc-widget__pic
{
    margin-top: 0;
}
.b-enc-widget__content
{
    padding-left: 16px;
    padding-right: 16px;
}
.b-enc-widget__title,
.b-enc-widget__pic-title
{
    padding-left: 0;
    padding-right: 0;
}
.b-enc-widget .b-enc-widget__title,
.b-enc-widget_quarter .b-enc-widget__r {
    padding-left: 16px;
    padding-right: 16px;
}
.b-quote-widget__comma,
.b-quote-widget_mini .b-quote-widget__comma
{
    margin-left: 0;
}

.b-video-widget_max .b-video-widget__text,
.b-text-media_video_max .b-text-media__text,
.b-text-media__text
{
    padding: 12px 16px;
}
.b-video-widget__title i
{
    display: none;
}
.b-video-widget iframe
{
    max-height: 250px;
}
.b-material-pic__desc
{
    text-align: left;
}
.b-material_ver_2 .b-material__bay
{
    float: left;
    margin-left: 0;
}
.b-material_ver_2 .b-material-pic__text
{
    padding: 18px 16px;
}

.b-material__info
{
    line-height: 1.3;
}
.b-gallery-item,
.b-gallery-slider__item
{
    height: 330px;
}
.b-video-like__list,
.b-gallery
{
    display: none;
}
.b-tags {
    width:100%;
    padding-left: 65px;
}
.b-tags__r
{
    float: left;
    width: auto;
}
a.b-tags__item_title {
    float: none;
    padding-left: 0px;
}
.b-tags__l.mobile {
    display: inline-block;
    width: auto;
}
a.b-tags__item {
    height: auto;
}
.b-news-item_ficher .b-news-item__text
{
    position: relative;
    top: -2px;
    margin-left: 124px;
}
.b-main-slider-item .b-spotlight__item,
.b-spotlight-slider_feature .b-spotlight__item,
.b-spotlight__content_main-in-section .b-spotlight__item
{
    margin-right: 0;
    margin-bottom: 0;
}
#lentaFixControl
{
    height: auto !important;
}
#news-section,
.b-lenta-container
{
    width: 100%;
    margin-bottom: 0;
    border-bottom: 1px solid #d3d3d3;
}
.b-content
{
    padding-bottom: 0;
}
.b-content_lenta-minified .b-lenta,
.b-lenta_fixed,
.b-lenta_stuck-to-bottom
{
    display: block !important;
    position: relative !important;
    top: 0 !important;
    bottom: auto !important;
}
.b-content__l
{
    clear: both;
}
.b-news-item_priority .b-news-item__text
{
    padding: 0;
}
.b-page_main .b-news_set_list .b-spotlight-header__l
{
    float: left
}

.b-spotlight-menu__item, .b-opinions-widget-menu__item {
    padding: 0 6px
}

.b-paginator
{
    margin: 10px 0 30px;
}
a.b-paginator-nav
{
    width: auto;
    padding: 6px 0;
    border: none;
}
.b-paginator__list
{
    padding: 0;
    text-align: center;
    border: none;
}
.b-paginator-nav__text
{
    display: none;
}
a.b-paginator-nav_active
{
    background-color: transparent;
}
a.b-paginator-nav_active .b-paginator-nav__icon
{
    color: #2f6d98;
}
.b-paginator-nav__icon
{
    font-size: 13px;
}
.b-paginator__item
{
    margin: 0 1px 0 0;
    padding: 0 10px 3px;
    font-size: 14px;
}

.b-about
{
    width: 100%;
}
.b-spotlight-header_about_mobile
{
    display: block;
    margin-bottom: 0;
}
.b-about-team-heads
{
    margin-bottom: 10px;
    border-bottom: none;
}
.b-about-team-heads__l,
.b-about-team-heads__r
{
    float: left;
    clear: both;
    width: 100%;
    border-bottom: 1px solid #cbcbcb;
}
.b-about-team-heads__l
{
    margin-bottom: 20px;
}
.b-about-team-extra-info
{
    position: relative !important;
    top: 0 !important;
    margin-left: 0;
    padding: 40px 0 37px 20px;
}
.b-about-team-list
{
    width: auto;
    padding-right: 20px;
}
.b-about-team-list_last
{
    border-bottom: 1px solid #cbcbcb;
}

.b-opinions-widget__title .newTass-icons.opinion {
    display: none !important;
}

.b-opinions-widget-header {
    clear: both;
}

.opera-mini .b-lenta-header__title
{
    font-size: 40px !important;
}
.opera-mini .b-lenta-header__title:before
{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 62px;
}


.b-social-widgets
{
    display: block;
    float: left;
    padding: 0;
    line-height: 0;
    text-align: left;
    background-color: #fff;
}

.b-social-widgets .b-social-fb,
.b-social-widgets .b-social-vk,
.b-social-widgets .b-social-tw,
.b-social-widgets .b-social-reddit
{
    display: block;
    float: none;
    margin: 0 0 20px 0;
}


.b-video_sd .b-video-soc
{
    width: 134px;
}

.mobileFooterLinks{
    padding-left: 13px;
    padding-right: 13px;
}
.mobileFooterLinks .newTass-footerListScale{
    text-align: center;
}
.mobileFooterLinks .b-footer-nav__list{
    display: inline-block !important;
    width: 40%!important;
    margin-right: 5%;
    text-align: left;
}
.mobileFooterLinks .b-footer-nav__list .b-footer-nav__title{
    float: none;
    margin-bottom: 10px;
    line-height: 150%;
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    color:#000;
}
.mobileFooterLinks .b-footer-nav__list .b-footer-nav__title a{
    color:inherit;
    text-decoration: none;
}
.mobileFooterLinks .coll1,.mobileFooterLinks .coll2{
    display: none!important;
}
.newTass-footerList-coll.coll3{
    width: 30%;
    margin-right: 0px;
}
.newTass-footerList-coll.coll4{
    width: 30%;
    margin-left: 66.6%;
}
.newTass-footerList-coll .b-footer-nav__item{
    line-height: 150%;
    margin-bottom: 10px;
}
.b-spotlight-header_topbar .b-title{
    height: auto;
    float:none;
}

.b-expert-opinion {
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 0;
}
.b-expert-opinion__header {
    height: auto;
}
.b-expert-opinion-people__l {
    display: none;
}
.b-expert-opinion .b-expert-opinion-people__r {
    width: auto;
}
span.b-expert-opinion-people__r {
    height: auto;
    line-height: 1;
    margin-left: 17px;
}
.b-expert-opinion__footer {
    min-height: 10px !important;
    background: #fff;
    font-weight: normal;
    height: auto;
    padding: 10px 17px;
}
.b-expert-opinion__desc {
    margin-bottom: 0;
}
.b-expert-opinion-people__name {
    padding: 10px 0 0;
}
.b-expert-opinion-people__name span {
    display: inline;
    color: #787777;
}
.b-expert-opinion__header {
    float: none;
    width: 100%;
}
#spotlightHeaderTopBar .b-spotlight-header__content,
#spotlightHeaderTopBar .b-spotlight-header__content_color_main
{
    background: -webkit-repeating-linear-gradient(top,  #4e97cc 0,#3173a3 32.5px);
    background: -moz-repeating-linear-gradient(top,  #4e97cc 0, #3173a3 32.5px);
    background: -ms-repeating-linear-gradient(top,  #4e97cc 0,#3173a3 32.5px);
    background: -o-repeating-linear-gradient(top,  #4e97cc 0,#3173a3 32.5px);
    background: repeating-linear-gradient(to bottom,  #4e97cc 0,#3173a3 32.5px);
}
#spotlightHeaderTopBar .b-spotlight-header__content_color_1
{
    background: -webkit-repeating-linear-gradient(top,  #c9351f 0,#b01c07 32.5px);
    background: -moz-repeating-linear-gradient(top,  #c9351f 0, #b01c07 32.5px);
    background: -ms-repeating-linear-gradient(top,  #c9351f 0,#b01c07 32.5px);
    background: -o-repeating-linear-gradient(top,  #c9351f 0,#b01c07 32.5px);
    background: repeating-linear-gradient(to bottom,  #c9351f 0,#b01c07 32.5px);
}
#spotlightHeaderTopBar .b-spotlight-header__content_color_2
{
    background: -webkit-repeating-linear-gradient(top,  #36aa28 0,#1d9210 32.5px);
    background: -moz-repeating-linear-gradient(top,  #36aa28 0, #1d9210 32.5px);
    background: -ms-repeating-linear-gradient(top,  #36aa28 0,#1d9210 32.5px);
    background: -o-repeating-linear-gradient(top,  #36aa28 0,#1d9210 32.5px);
    background: repeating-linear-gradient(to bottom,  #36aa28 0,#1d9210 32.5px);
}
#spotlightHeaderTopBar .b-spotlight-header__content_color_3
{
    background: -webkit-repeating-linear-gradient(top,  #1fa2aa 0,#078992 32.5px);
    background: -moz-repeating-linear-gradient(top,  #1fa2aa 0, #078992 32.5px);
    background: -ms-repeating-linear-gradient(top,  #1fa2aa 0,#078992 32.5px);
    background: -o-repeating-linear-gradient(top,  #1fa2aa 0,#078992 32.5px);
    background: repeating-linear-gradient(to bottom,  #1fa2aa 0,#078992 32.5px);
}
#spotlightHeaderTopBar .b-spotlight-header__content_color_4
{
    background: -webkit-repeating-linear-gradient(top,  #fa662c 0,#e24d13 32.5px);
    background: -moz-repeating-linear-gradient(top,  #fa662c 0, #e24d13 32.5px);
    background: -ms-repeating-linear-gradient(top,  #fa662c 0,#e24d13 32.5px);
    background: -o-repeating-linear-gradient(top,  #fa662c 0,#e24d13 32.5px);
    background: repeating-linear-gradient(to bottom,  #fa662c 0,#e24d13 32.5px);
}
#spotlightHeaderTopBar .b-spotlight-header__content_color_5
{
    background: -webkit-repeating-linear-gradient(top,  #aa3596 0,#921c7e 32.5px);
    background: -moz-repeating-linear-gradient(top,  #aa3596 0, #921c7e 32.5px);
    background: -ms-repeating-linear-gradient(top,  #aa3596 0,#921c7e 32.5px);
    background: -o-repeating-linear-gradient(top,  #aa3596 0,#921c7e 32.5px);
    background: repeating-linear-gradient(to bottom,  #aa3596 0,#921c7e 32.5px);
}
#spotlightHeaderTopBar .b-spotlight-header__content_color_6
{
    background: -webkit-repeating-linear-gradient(top,  #fac216 0,#f0b70b 32.5px);
    background: -moz-repeating-linear-gradient(top,  #fac216 0, #f0b70b 32.5px);
    background: -ms-repeating-linear-gradient(top,  #fac216 0,#f0b70b 32.5px);
    background: -o-repeating-linear-gradient(top,  #fac216 0,#f0b70b 32.5px);
    background: repeating-linear-gradient(to bottom,  #fac216 0,#f0b70b 32.5px);
}
#spotlightHeaderTopBar .b-spotlight-header__content_color_7
{
    background: -webkit-repeating-linear-gradient(top,  #1e7cce 0,#0664b6 32.5px);
    background: -moz-repeating-linear-gradient(top,  #1e7cce 0, #0664b6 32.5px);
    background: -ms-repeating-linear-gradient(top,  #1e7cce 0,#0664b6 32.5px);
    background: -o-repeating-linear-gradient(top,  #1e7cce 0,#0664b6 32.5px);
    background: repeating-linear-gradient(to bottom,  #1e7cce 0,#0664b6 32.5px);
}
#spotlightHeaderTopBar .b-spotlight-header__content_color_8
{
    background: -webkit-repeating-linear-gradient(top,  #959496 0,#7d7b7e 32.5px);
    background: -moz-repeating-linear-gradient(top,  #959496 0, #7d7b7e 32.5px);
    background: -ms-repeating-linear-gradient(top,  #959496 0,#7d7b7e 32.5px);
    background: -o-repeating-linear-gradient(top,  #959496 0,#7d7b7e 32.5px);
    background: repeating-linear-gradient(to bottom,  #959496 0,#7d7b7e 32.5px);
}
#spotlightHeaderTopBar .b-spotlight-header__content_color_9
{
    background: -webkit-repeating-linear-gradient(top,  #ac890a 0,#987500 32.5px);
    background: -moz-repeating-linear-gradient(top,  #ac890a 0, #987500 32.5px);
    background: -ms-repeating-linear-gradient(top,  #ac890a 0,#987500 32.5px);
    background: -o-repeating-linear-gradient(top,  #ac890a 0,#987500 32.5px);
    background: repeating-linear-gradient(to bottom,  #ac890a 0,#987500 32.5px);
}
 #spotlightHeaderTopBar .b-spotlight-header__content_color_0
{
    background: -webkit-repeating-linear-gradient(top,  rgba(244,244,244,1) 0,rgba(220,220,220,1) 32.5px);
    background: -moz-repeating-linear-gradient(top,  rgba(244,244,244,1) 0, rgba(220,220,220,1) 32.5px);
    background: -ms-repeating-linear-gradient(top,  rgba(244,244,244,1) 0,rgba(220,220,220,1) 32.5px);
    background: -o-repeating-linear-gradient(top,  rgba(244,244,244,1) 0,rgba(220,220,220,1) 32.5px);
    background: repeating-linear-gradient(to bottom,  rgba(244,244,244,1) 0, rgba(220,220,220,1) 32.5px);
}

.b-spotlight-header_topbar .b-title {
    line-height: 33px;
    margin: 0 17px;
    padding: 0;
    margin-bottom: -1px;
}
.b-spotlight-header_topbar .b-spotlight-menu__list {
    padding-right: 0;
}
.b-spotlight-header_topbar .b-spotlight-menu__item, .b-opinions-widget-menu__item,
.b-spotlight-header_topbar .b-spotlight-menu__item:hover, .b-opinions-widget-menu__item:hover {
    height: auto;
    line-height: 32px;
}
.b-lenta-header__title {
    margin-left: 56px;
}

.b-lenta-header__menu {
    display: block;
    width: 20px;
    height: 17px;
    background: url(/i/b-header__menu.png) 0 0 no-repeat;
    position: absolute;
    left: 17px;
    top: 22px;
    cursor: pointer;
    z-index: 10;
}

body.regional-menu-opened {
    overflow: hidden;
}

.b-page__regional-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 90;
    cursor: pointer;
}

.b-page__regional-menu {
    position: fixed;
    left: -270px;
    top: 0;
    bottom: 0;
    width: 270px;
    z-index: 100;
    display: block;
    background: #fff;
    overflow-y: auto;
}

.b-page__regional-menu-header {
    border-bottom: 1px solid #cbcbcb;
    padding: 21px 20px;
    height: 18px;
}

.b-page__regional-menu-title {
    display: inline-block;
    margin-right: 8px;
    font-size: 13px;
    font-weight: bold;
}

.b-page__regional-selector {
    display: inline-block;
    padding: 0;
}
    .b-page__regional-selector .city-selector {
        width: 135px;
        font-size: 12px;
    }
    .b-page__regional-selector .icon-combo_open {
        font-size: 15px;
        vertical-align: middle;
        margin-left: 5px;
    }
    .b-page__regional-selector-menu {
        position: absolute;
        left: 0;
        top: 100%;
        width: 120px;
        padding: 6px 15px;
        background: #f1f1f1;
    }
        .b-page__regional-selector-menu a {
            color: #5d5c5c;
            text-decoration: none;
            display: block;
            font-size: 13px;
            line-height: 20px;
            padding: 5px 10px;
            font-weight: bold;
        }
        .b-page__regional-selector-menu a:hover {
            color: #000;
        }

.b-page__regional-menu-item {
    background: #eaeaea;
    font-size: 13px;
    text-transform: uppercase;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #cbcbcb;
}

.b-page__regional-menu-item a {
    padding: 13px 20px;
    display: block;
    color: #727272;
    text-decoration: none;
    font-weight: bold;
}

.b-page__regional-menu-item a:hover {
    text-decoration: underline;
}

.b-page__regional-menu-footer {
    padding: 19px 20px;
    font-size: 13px;
}
.b-page__regional-menu-footer a {
    color: #255f85;
    text-decoration: none;
}
.b-page__regional-menu-footer a:hover {
    text-decoration: underline;
}
.b-opinions-widget-item__pic-mask:after {
    width: 67px !important;
}

.b-expert-item {
    width: 100%;
    margin-bottom: 15px;
}

.b-expert-opinion__header {
    border: 0;
}
.b-expert-opinion-people__r {
    width: 100%;
}
.b-expert-opinion__header,
.b-expert-opinion__footer {
    height: auto;
}
.b-expert-opinion__footer {
    background: #fff;
}
.b-expert-opinion__info,
.b-expert-opinion-people__name{
    font-weight: normal;
}
.b-expert-opinion-people__l, .b-expert-opinion-people__r {
    line-height: 1;
}
.b-expert-opinion-people__first-name,
.b-expert-opinion-people__last-name {
    display: inline-block;
}
.b-expert-opinion-people__pic {
    display: none;
}

.b-spotlight__item {
    margin-right: 0;
}
#content_poll_boxes .box_poll .image {
    display: none;
}

.b-spotlight-header__l .b-title {
    line-height: 31px;
}

.formTest.balls .content_question_two .row .subtitle_image .subtitle_test {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
}

.formTest .row label {
    width: 90%;
}

.formTest.balls .row .imagePoll,
.formTest.balls .row .imagePoll_block {
    width: 100%;
    float: none;
    height: auto;
    font-size: 0;
    line-height: 0;
}
.formTest.balls .row .imagePoll img {
    width: 100%;
    height: auto;
    position: static;
}

.formTest.balls .row .imagePoll_block {
    margin-bottom: 15px;
}
.poll_box .content .image_poll img {
    display: block !important;
}
.poll_box {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.b-spotlight-header h1.b-title.inBlackColor {
    height: 32px;
    line-height: 32px;
}
.b-infocenter_page .b-spotlight-menu__item:last-child {
    display: block !important;
}
.newTass-icons.pressCenter {
    display: none !important;
}
.b-spotlight-menu__item, .b-opinions-widget-menu__item {
    padding: 0 5px;
}
.b-spotlight-header .b-title {
    letter-spacing: 0;
}
.pressCalendar-head h2 {
    font-size: 14px;
}
.pressCalendar-head .presscalendar-menu {
    margin-left: 10px;
}
.pressCalendar-head .presscalendar-menu li {
    padding: 0 10px;
}
.pressdayContent-dayList .item table td.image {
    width: 0;
    padding: 0 0.5em;
}
.pressdayContent-dayList .item table td.date {
    width: 120px;
}

.pressCalendar .pressCalendar-head {
    height: 45px !important;
}

.b-material-panel__place {
    width: auto !important;
    padding-top: 20px;
    padding-left: 0;
    border: 0;
}
/* Interview and opinions */
.box_interview_in_article, .expert_opinion { width: 100%; float: none; clear: both; margin: 10px 0; }

.firstPersonPre h3.blockFP-title,
.box_interview_in_article .title h4 {
    line-height: 16px;
}

.box_interview_in_article div.image,
.b-gallery-widget-item a.b-gallery-widget-item__pic,
.b-gallery-widget-item div.materialFirstPerson-imgLine
{ display: none; }
.box_interview_in_article div.content { margin: 0; padding: 10px;}

.box_interview_in_article div.content p { margin-bottom: 0; padding-bottom: 0; }

.firstPersonPre .b-gallery-widget-item__text { margin: 0; }

.firstPersonPre,
.expert_opinion,
.box_interview_in_article {
    float: none !important;
    width: 100% !important;
    margin: 10px 0 !important;
}

.expert_opinion .content .go_section { margin: 0;}
.expert_opinion .persone { padding: 5px 10px; }
.expert_opinion .persone span { position: relative; top: auto; left: auto; }

.expert_opinion .persone span.desktop { display: none; }
.expert_opinion .persone span.mobile { display: inline-block; }

.b-content__r .mobile-version{
    display: block;
    background: #dae1e5;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 0px 1px 0px 0px #fbfbfb;
    padding-bottom: 30px;
    text-align: center;
}
.b-content__r .desktop-version{
    display: none;
}
.mobile-version h2{
    background: #313082;
    line-height: 130%;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    padding: 8px;
    padding-left: 20px;
}
.mobile-version p{
    color: #595959;
    font-size: 18px;
    line-height: 130%;
    margin: 20px 20px;
}
.mobile-version a{
    cursor: pointer;
    font-size: 15px;
    margin: 0px 20px;
    text-decoration: none;
    display: inline-block;
    line-height: 120%;
    border: 1px solid #8197ab;
    background: #95abbe;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}
.mobile-version .arrow{
    background: url('/images/arrow.png') no-repeat center right;
    height: 18px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 11px;
}
.ads_mobile1{
    display: block;
}
.b-opinions-widget-header {
    display: none;
}
#lentaFixControl>#main-feature {
    display: none !important;
}
.b-content__content .b-content__header{
    display: none;
}
.b-history-overlay, .b-event-popup {
    display: none !important;
}

/* Qoutes */
#block_material_text_broadcast.quotes {
    width: auto;
    display: block;
    margin: 0px -15px 0 -15px;
    padding: 0;
}
.quotes .box {
    width: auto;
    display: block;
    margin: 20px 0 10px;
}

.quotes .box .date {
    margin-left: 15px;
    margin-top: 4px;
    float: none;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    max-width: none;
}
.quotes .box .date br {
    display: none;
}

.quotes .box .text {
    width: auto;
    display: block;
    margin: 0 15px 0 15px;
}
.b-gallery-widget-max .b-gallery-widget__title {
    margin-left: 12px;
}
.b-gallery-widget-max .b-gallery-widget__count {
    margin-right: 16px;
}

.box .b-gallery-widget-max, .box .b-enc-widget_max, .box .b-video-widget_max, .box .b-text-media_video_max, .box .b-infografic-widget_100,
.b-video-widget.b-video-widget_half, .b-material_event .b-video-widget.b-video-widget_half {
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
}

.expert_opinion.expert_opinion_small .content p,
.expert_opinion.expert_opinion_small .content p a {
    font-size: 14px;
}
.expert_opinion.expert_opinion_small .title h4 {
    font-size: 14px;
}

.box_interview_small .content p a {
    font-size: 14px;
}
.box_interview_small .title h4 {
    font-size: 14px;
}

.desktop-version .b-material-autor__content .hideMobileImportant{
display: none !important;
}
.desktop-version .b-material-autor__content .b-material-autor__link{
display: none;
}
.b-material-autor__name.showMobileImportant{
display: inline-block;
text-decoration: none !important;
}

.b-media-tabs-item {
    display: inline-block;
}

.b-media-tabs-item span {
    display: none;
}
.b-media-tabs-item-mobile {
    display: inline-block !important;
}

.b-themes-widget {
    width: 290px;
}
.b-themes-widget-item {
    margin: 0;
    padding: 12px 14px 15px;
}

.b-themes-widget-item.b-themes-widget-item_current .b-themes-widget-txt {
    font-size: 13px;
    line-height: 1.3em;
    padding: 11px 14px 16px;
}

.b-themes-widget-head {
    padding: 17px 14px 9px;
}
.broadcast-table .event-content .event-image img{
    display: block !important;
}


/* press-page */
.b-press-review_page {
    padding-top: 0;
}

.b-press-review_page .b-press-review-item {
    display: block;
    width: auto;
    margin-bottom: 0;
    padding: 16px;
    border-top: 1px solid #cbcbcb;
    box-shadow: inset 0 1px 0 #fff;
}
.b-press-review_page .b-press-review-item:first-child {
    border-top: 0 none;
    box-shadow: 0 none;
}