/*first person*/

.show-content{
visibility: hidden;
}
.show-content.true{
visibility: visible;
}
/*main page*/
.firstPerson-scale{
	position: relative;
	margin-bottom: 40px;
	min-width: 768px;
}
.firstPerson-list{
	position: relative;
}
.firstPerson-list .firstPerson-item{
	width: 237px;
	border: 1px solid #dfdfdf;
	vertical-align: top;
}
.firstPerson-list .firstPerson-item.last{
	margin-right:0px;
}
.firstPerson-list .firstPerson-item img{
	width: 239px;
	margin-left: -1px;
	margin-top: -1px;
}
.firstPerson-list .firstPerson-title{
	color: #000;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
}
.firstPerson-list .firstPerson-infoItem{
	padding: 15px;
	padding-bottom: 26px;
}
.firstPerson-list .firstPerson-title{
	color: #000;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
}
.firstPerson-list .firstPerson-text{
	margin-bottom: 20px;
}
.firstPerson-list .firstPerson-text p{
	font-size: 13px;
	color: #000;
	font-weight: normal;
	line-height: 130%;
}
.firstPerson-list .firstPerson-author{
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	position: absolute;
	bottom: 15px;
}
.firstPerson-list .firstPerson-author span{
	margin-right:5px;
}
.firstPerson-list .firstPerson-author a{
	color: #221f74;
	cursor: pointer;
}
.firstPerson-list td.space{
	width: 16px;
}
.firstPerson-topLine{
	background: url("../img/top_sub_bg.png") no-repeat top left;
	height: 21px;
	margin-top: -21px;
	position: relative;
	z-index: 10;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	margin-left: -1px;
	width: 100%;
}
@media screen and (min-width: 1001px){
	.firstPerson-item.first{
		width: 488px;
	}
	.firstPerson-item.first .firstPerson-infoItem{
		background: #f2f2f2;
	}
	.firstPerson-item.first .firstPerson-title{
		font-size: 21px;
		line-height: 120%;
	}
	.firstPerson-item.first .firstPerson-text{
		display: none;
	}
	.firstPerson-list .firstPerson-item.first img{
		width:490px;
	}
	.firstPerson-item.first .firstPerson-topLine{
		background: url("../img/top_main_bg.png") no-repeat top left;
	}
}
@media screen and (max-width: 1279px){
	.firstPerson-list .firstPerson-item.last,.firstPerson-list .space.last{
		display: none;
	}
}
/*main page end*/



/*opinion include start*/
.firstPersonBlock-list{
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.firstPersonBlock-item{
	display: block;
	list-style: none;
	margin-bottom: 15px;
}
.FPBimage-scale{
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.FPBimage-scale img{
	width:367px;
}
.FPBimage-scale .rightBord{
	background: url("../img/left_main_bg.png") no-repeat top right;
	position: absolute;
	right: 0px;
	width: 20px;
	height: 100%;
	z-index: 5;
	top: 0px;
}
.FPBinfo-scale{
	width: 365px;
	display: inline-block;
	vertical-align: top;
}
.FPBinfo-scale .firstPersonPage-links{
text-decoration: none;
color:#000;
}
.FPB-title{
	font-size: 18px;
	line-height: 130%;
	margin-bottom: 15px;
	font-weight: bold;
	color: #000;
}
a:hover .FPB-title{
text-decoration: underline;
}
.FPB-title:hover{
text-decoration: underline;
}

.FPB-content{
	margin-bottom: 20px;
}
.FPB-content p{
	font-size: 13px;
	line-height: 130%;
	font-weight: normal;
	color: #000;
}
.FBP-author{
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}
.FBP-author span{
	margin-right:5px;
}
.FBP-author span.breakLine{
	margin-left:10px;
	margin-right:10px;
	display: inline-block;
	vertical-align: middle;
	height: 25px;
	border-left:1px solid #000;
}
.FBP-author a{
	color: #221f74;
	cursor: pointer;
}
/*opinion include end*/



/*first Person one style*/
.fpOnemess{
font-size: 0px;
background: #f2f2f2;
border-top: 1px solid #dfdfdf;
border-right: 1px solid #dfdfdf;
border-bottom: 1px solid #dfdfdf;
}
.fpOnemessImg{
	display: inline-block;
	vertical-align: top;
	width: 506px;
	height: 325px;
	overflow: hidden;
}
.fpOnemessImg a{
position: relative;
display: block;
}
.fpOnemessImg img{
	height: 100%;
	width: 100%;
}
.fpOnemess-infoScale{
font-size: 12px;
display: inline-block;
vertical-align: top;
width: 748px;
height: 324px;
position: relative;
}
.fpOnemess-leftBord{
background-image: url("../img/left_main_bg2.png");
background-position: right -1px;
background-repeat: no-repeat;
position: absolute;
right: 0px;
height: 100%;
width: 15px;
z-index: 8;
top: 0px;
}
.fpOnemess-content{
	padding: 20px;
	padding-left: 10px;
}
.fpOnemess-content .firstPersonPage-links{
color:#000;
text-decoration: none;
}
.fpOnemess-title .firstPersonPage-links:hover{
text-decoration: underline;
}
.fpOnemess-title{
	font-size: 27px;
	line-height: 130%;
	color: #000;
	margin-bottom: 15px;
	font-weight: bold;
}
.fpOnemess-text{
	margin-bottom: 20px;
}
.fpOnemess-text p{
	font-size: 15px;
	line-height: 130%;
	color: #000;
	font-weight: normal;
}
.fpOnemess-author-scale{

}
.fpOnemess-author-Image{
	background: url("../img/vandenko.png") no-repeat center;
	display: inline-block;
	vertical-align: middle;
	height: 33px;
	width: 33px;
	margin-right: 10px;

}
.fpOnemess-authorLinks{
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	font-size: 11px;
}
.fpOnemess-authorLinks .fptitle{
	margin-right:5px;
}
.fpOnemess-authorLinks .breakLine{
	display: inline-block;
	vertical-align: middle;
	height: 25px;
	border-left:1px solid #000;
	margin-left:10px;
	margin-right: 10px;
}
.fpOnemess-authorLinks a{
	color: #221f74;
}



.firstPersonPage-mainNews{
margin-bottom: 40px;
}
.firstPersonPage-mainNews .firstPersonPage-links{
color:#000;
text-decoration: none;
}
.firstPersonPage-image-scale{
position: relative;
margin-bottom: 10px;
}
.firstPersonPage-image{
width:100%;
}

.firstPersonPage-image-bottom{
position: absolute;
bottom: 0px;
width: 100%;
height: 20px;
background: url('../img/top_sub_bg.png') no-repeat bottom left;
}
.firstPersonPage-title{
font-size: 27px;
font-weight: bold;
line-height: 130%;
margin-bottom: 15px;
}
a:hover .firstPersonPage-title{
text-decoration: underline;
}
.firstPersonPage-text{
margin-bottom:20px;
}
.firstPersonPage-text p{
font-size: 13px;
line-height: 130%;
font-weight: bold;
}
.firstPersonPageOther-head{
height: 9px;
background: #f2f2f2;
margin-bottom: 30px;
position: relative;
}
.firstPersonPageOther-head span{
background: url("../img/files.png") no-repeat left center #FFF;
color: #1e1e1e;
font-size: 16px;
padding-left: 27px;
height: 20px;
line-height: 20px;
display: inline-block;
position: absolute;
top: -10px;
font-weight: bold;
padding-right: 15px;
}


.b-material__preview.isBold{
font-weight: bold;
}
.firstPersonBranding .fpOnemess-infoScale{
width: 492px;
height: 324px;
}
@media screen and (max-width: 1279px) and (min-width:1001px){
	.fpOnemess-infoScale{
		width: 492px;
		height: 324px;
	}
}

@media screen and (max-width: 1000px) {
	.firstPerson-scale{
	min-width: 752px;
	}
	.fpOnemessImg {
		width: 253px;
		height: 163px;
	}
	.fpOnemess .fpOnemess-infoScale {
		width: 498px;
		height: 161px;
	}
	.fpOnemess-title{
		font-size: 15px;
	}
	.fpOnemess-text p{
		font-size: 13px;
	}
	.fpOnemess-text{
		margin-bottom: 10px;
	}
	.fpOnemess-author-scale .fpOnemess-author-Image{
		display: none;
	}
	.fpOnemess-content{
		padding: 10px;
	}
}





/*popup style*/
.firstPerson-popup{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top:0px;
	left:0px;
	z-index: 9999999;
	text-align: center;
}
.firstPerson-popup.true{
	display: block;
}

.firstPersonPopup-close{
	position: absolute;
	height: 100%;
	z-index: 1;
	width: 100%;
	background: #000;
	opacity: 0.8;
}
.firstPersonPopup-center{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.firstPersonPopup-content{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	position: relative;
	background: #FFF;
	z-index: 2;
	border: 5px solid #e0e0e0;
	width: 560px;
	text-align: left;
}
.firstPersonPopup-content-incl{
	padding: 30px;
	padding-left: 155px;
}
.firstPersonPopup-title{
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
	display: block;
}
.firstPersonPopup-text p{
	font-size: 14px;
	line-height: 130%;
	color: #000;
}
.firstPersonPopup-ico.info{
	background: url("../img/popupInfoIco.png") no-repeat;
	height: 106px;
	width: 106px;
	position: absolute;
	left: 30px;
	top: 30px;
}
.firstPersonPopup-ico.vandenko{
	background: url("../img/vandenkoBIG.png") no-repeat;
	height: 106px;
	width: 106px;
	position: absolute;
	left: 30px;
	top: 30px;
}
.firstPersonPopup-author{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: -10px;
}
.firstPersonPopup-close-ico{
	background: url('/images/closeIco.png') no-repeat;
	height: 24px;
	width: 24px;
	top: -30px;
	right: -30px;
	position: absolute;
	cursor: pointer;
	z-index: 15;
}
@media screen and (max-width: 767px){
	.blockFirstPerson,.firstPersonPopup-content .firstPersonPopup-info .firstPersonPopup-title.mobile_hidden,.firstPersonPopup-close-ico{
		display: none;
	}
	.firstPersonPopup-content .firstPersonPopup-info .firstPersonPopup-title{
	font-size: 16px;
	margin-bottom:10px;
	}
	.firstPersonPopup-content{
	width: 70%;
	max-height: 80%;
	overflow-y: auto;
	overflow-x: hidden;
	}
	.firstPersonPopup-content .firstPersonPopup-content-incl{
		padding: 10px;
	}
	.firstPersonPopup-content .firstPersonPopup-ico{
		display: none;
	}
	.firstPersonPopup-content .firstPersonPopup-author{
	margin-top:0px;
	}
}
@media screen and (min-width:1666px){
	.fpOnemess .fpOnemess-infoScale{
		width: 740px;
		height: 324px;
	}
}
.overHidden{
overflow: hidden !important;
}

.four-interviews {
	font-size: 0;
	margin-bottom: 35px;
	font-family: Arial, sans-serif;
}

.four-interviews .item {
	display: inline-block;
	width: 176px;
	font-size: 12px;
	vertical-align: top;
	margin-right: 16px;
}

.four-interviews .item:last-child {
	margin-right: 0;
}

.four-interviews .item .foto {
	height: 120px;
	position: relative;
	margin-bottom: 15px;
	background-size: cover;
	background-position: center;
}

.four-interviews .item .foto>img {
	width: 100%;
}

.four-interviews .foto:before {
	content: ' ';
	position: absolute;
	width: 20px;
	left: 0;
	bottom: 0;
	height: 0;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #ffffff;
}

.four-interviews .foto:after {
	content: ' ';
	position: absolute;
	bottom: 0;
	left: 29px;
	right: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-bottom: 9px solid #ffffff;
}

.four-interviews .item .title {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	font-weight: bold;
	margin-bottom: 15px;
}

.four-interviews .item .text {
	font-size: 10px;
	line-height: 18px;
	font-weight: bold;
	color: #808080;
}
