.overHidden{overflow: hidden;}
.active .dontShow{display: none;}
.topMainSlider-list.transitionTrue{
-webkit-transition: margin 0.5s;
-moz-transition: margin 0.5s;
-ms-transition: margin 0.5s;
-o-transition: margin 0.5s;
transition: margin 0.5s;
}
/*основные настройки*/
.header-scale{
height: 0;
-webkit-transition:height linear 0.4s;
transition:height linear 0.4s;
background: #000;
}
.header-scale.active{
height: 100%;
}
.photoModeScale{
-webkit-transition:height linear 0.4s,z-index linear 0.4s;
transition:height linear 0.4s,z-index linear 0.4s;
position: relative;
height:400px;
overflow: hidden;
}
.photoModeScale.active{
width: 100%;
height: 100%;
position: fixed;
top: 0px;
z-index: 500;
}
/*Кнопка закрыть и панелька с низу фоторежима*/
.PMbottomBar{
position: absolute;
bottom:0px;
height: 43px;
text-align: right;
width: 100%;
background: #19105f;
box-shadow: inset 0 -1px 0 rgb(11,55,85), inset 0 1px 0 rgb(34,85,117);
z-index: 15;
}
.PMclose{
display: inline-block;
vertical-align: top;
height: 30px;
margin-right:40px;
cursor: pointer;
padding-right: 40px;
background: url(/i/b-btn-photostream-close.png) right center no-repeat;
font-size: 18px;
font-weight: bold;
color:#FFF;
line-height: 30px;
margin-top:5px;
}
.PMtopCloseButton{
display: none;
position: absolute;
top: 60px;
right: 45px;
z-index: 10;
background: url(/i/b-close.png) no-repeat right center;
padding-right: 40px;
color: #FFF;
font-size: 13px;
height: 25px;
line-height: 25px;
cursor: pointer;
}
.header-scale.active .PMtopCloseButton{
display: block;
}
.PMtopCloseButton span{
display: none;
color: #fff;
font-size: 12px;
font-weight: bold;
text-shadow: 0 2px 3px rgba(0,0,0,.75);
}
.PMtopCloseButton:hover span{
display: block;
}
/*Слайдер топ 5 в шапочке*/
.top-five-block{
transition:height linear 0.4s,opacity 0.4s;
-webkit-transition:height linear 0.4s,opacity 0.4s;
height:190px;
position: relative;
background: #000;
overflow: hidden;
opacity: 1;
}
.photoModeScale.active .top-five-block{
height:0px;
overflow: hidden;
opacity: 0;
}



/*Фото режим*/
.photoModeBlock{
background: #000;
height: 100%;
width:100%;
position: relative;
display: none;
}
.photoModeBlock.true{
display: block;
}
.PMstream{
height: 100%;
width:100%;
overflow:hidden;
}
.photoModeScale.active .PMstream{
overflow: scroll;
}
.PHblock{
font-size: 0px;
position: relative;
margin-top: -1px;
}
.PHblock.first-true{
margin-top:0px;
}
.photoModeScale .item-block{
width:25%;
height: 250px;
display: inline-block;
vertical-align: top;
position: relative;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.photoModeScale .item-block.elemNum4{
display: block;
float: left;
}
.photoModeScale .item-block.elemNum5{
width:50%;
height: 500px;
}
.photoModeScale .item-block.elemNum6{
display: block;
float: right;
background-size: cover;
}
.photoModeScale .item-block.elemNum7{
position: absolute;
top:66.6%;
left: 0;
}
.photoModeScale .item-block.elemNum8{
position: absolute;
top:66.6%;
right: 0;
}
.photoModeScale .item-block img{
min-height: 100%;
min-width: 100px;
width: 100%;
height: auto;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 10%,rgba(0,0,0,0.05) 20%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0.8) 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(10%,rgba(0,0,0,0.02)),color-stop(20%,rgba(0,0,0,0.05)),color-stop(50%,rgba(0,0,0,0.4)),color-stop(70%,rgba(0,0,0,0.6)),color-stop(100%,rgba(0,0,0,0.8)));
background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 10%,rgba(0,0,0,0.05) 20%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0.8) 100%);
background: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 10%,rgba(0,0,0,0.05) 20%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0.8) 100%);
background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 10%,rgba(0,0,0,0.05) 20%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0.8) 100%);
background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 10%,rgba(0,0,0,0.05) 20%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#cc000000',GradientType=0);
}
.photoModeScale .item-discr{
display: none;
padding: 20px 0px;
position: absolute;
bottom: 0px;
color: #FFF;
z-index: 10;
width:100%;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 10%,rgba(0,0,0,0.05) 20%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0.8) 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(10%,rgba(0,0,0,0.02)),color-stop(20%,rgba(0,0,0,0.05)),color-stop(50%,rgba(0,0,0,0.4)),color-stop(70%,rgba(0,0,0,0.6)),color-stop(100%,rgba(0,0,0,0.8)));
background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 10%,rgba(0,0,0,0.05) 20%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0.8) 100%);
background: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 10%,rgba(0,0,0,0.05) 20%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0.8) 100%);
background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 10%,rgba(0,0,0,0.05) 20%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0.8) 100%);
background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.02) 10%,rgba(0,0,0,0.05) 20%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.6) 70%,rgba(0,0,0,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#cc000000',GradientType=0);
}
.photoModeScale.active .item-discr{
display: block;
}
.photoModeScale .item-title{
margin-right:20px;
margin-left:20px;
display: block;
color: #fff;
font-size: 13px;
margin-bottom: 8px;
}
.photoModeScale .item-heading{
color: #959395;
text-transform: uppercase;
font-size: 10px;
margin-right: 10px;
text-decoration: none;
display: inline-block;
vertical-align: top;
margin-bottom: 3px;
margin-left: 20px
}
.photoModeScale .item-date{
font-size: 10px;
color: #FFF;
display: inline-block;
vertical-align: top;
}
.photoModeScale .item-block:after{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,.5);
-webkit-transition: all .25s ease-in-out;
-moz-transition: all .25s ease-in-out;
-o-transition: all .25s ease-in-out;
transition: all .25s ease-in-out;	
}
.photoModeScale .item-block:hover:after {
background: 0;
}
/*убиваем на мобильной (актуально на пока)*/
@media screen and (max-width: 767px) {
.header-scale{
display: none;
}
}

/*нужно пока что*/
.b-page__content{
position: relative;
top:0px;
}