.b-photostream,
.b-nav,
.b-header__r,
.b-category,
.b-media,
.b-media+.b-content,
.b-expert,
.b-autor,
.b-rate,
.b-material__print,
.b-material__mail,
.b-material-more,
.b-material-footer,
.b-comment,
.b-section-more,
.b-spotlight,
.b-footer-search,
.b-footer-nav,
.b-footer-r,
.b-header:before,
.b-header:after,
.b-material-read .b-lenta,
.b-nav:before,
.b-logo-desc,
.footer form,
.b-material-text__baner,
.b-footer-search__input,
.b-infocenter,
.b-material-agregator,
.b-audio-player,
.b-video,
.b-video ~ .b-material-pic__desc,
.b-enc-text .b-spotlight-header,
.b-events__content .b-spotlight-header,
.b-content__l_lenta,
.b-content__r .b-news-widget,
.b-tags,
.b-material__bay,
#other-news,
.b-social-buttons,
.ads,
.b-material__print,
.header-scale,
.b-footer-counter,
.b-gallery-panel,
.b-gallery__control,
.b-news-item__video,
.b-video-widget,
.b-text-media,
.printHidden,
.video-block,
.photo-block,
.newTass-header,
.newTass-footerContent,
.newTass-footerLogo,
.b-other-news,
.tassGallery-prev,
.tassGallery-next,
.b-widget_most-popular,
.b-mediametrics,
#unit_87181
{
	display: none!important;
}
.printVersionHead-footer{
display: block !important;
margin-left:20px;
margin-bottom:10px;
}
.printVersionHead{
display: block !important;
margin-top:40px;
}
.b-material .b-gallery{
width: auto;
margin: 0;
}
.b-gallery-slider{
width:auto;
text-align: left;
}
.b-gallery-slider__item{
width:583px;
}
.b-gallery-item{
text-align: left;
}
a {
	color: #000!important;
	text-decoration: none!important;
}

.b-content__content {
    width: auto;
}

.b-content__l_content {
	width: 100%!important;
	float: left;
	clear: both;
}

/*.b-material-pic__pic,
.b-material-pic__pic img,
.b-material_ver_2 .b-material-pic__text
{
	margin-left: 0 !important;
}*/
.b-material_ver_2 .b-material-pic__text
{
    background: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 0px;
}
.b-material_ver_2 .b-material-pic__pic{
margin-left:-63px;
}
.b-material_ver_2 .b-material-pic__pic img{
width:670px !important;
}
.b-material_ver_2 .b-material-pic__text{
margin: 0 0 0 -63px;
width: 555px;
}
.b-page__content {
	top: 0 !important;
}
.b-gallery-widget.b-gallery-widget_right{
margin-right:-5px !important;
}

.b-header {
    height: 130px;
	background: #fff;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.b-logo-title__title {
	color: #222;
    font-size: 25px;
    text-shadow: none;
}

.b-header__content {
	margin: auto;
	width: 99%;
}

.b-content {
	padding-bottom: 10px;
}

.b-content__l,.b-content__r {
	margin-top: 0!important;
}

.b-content__r {
	margin: auto;
	width: 99%;
	float: none;
}

.b-material {
    margin-bottom: 15px;
	border-top: 1px solid #e1e1e1;
}

.b-material-text__l {
	float: none;
	width: auto;
}

.b-quote {
	padding-right: 64px;
	width: 100%;
}

.quotes,
.quotes .box,
.quotes .box .text {
    width: 100%;
    box-sizing: border-box;
}

.b-header__l {
	margin-top: 20px;
	float: none;
}

.b-logo {
	position: relative;
	top: 7px;
}

.b-logo__pic_rus,
.b-logo__pic_eng {
	display: none;
}
.b-logo__pic_print {
	display: block;
}

.b-footer-l {
	width: 100%;
    margin-bottom: 15px;
	background-color: #fff;
}

.b-footer-l__content {
	margin: auto;
	width: 818px;
	float: none;
}

.b-footer-l__top {
	padding-top: 0;
	padding-bottom: 0;
}

.b-footer__logo {
	margin-bottom: 0;
	float: none;
}

.b-footer__logo-desc {
	width: 100%;
	margin-bottom: 0;
	text-align: center;
	clear: both;
	display: none;
}

.b-footer-copy {
	text-align: left;
	font-size: 11px;
}

.b-footer-copy__l,.b-footer-copy__r {
	width: 100%;
	float: none;
	clear: both;
}

.b-footer-top__l
{
    margin-bottom: 0;
}

.b-footer__content
{
    padding-top: 0;
}

.DFPbanner {
	display: none;
}

.b-footer {
	display: none;
}

.b-footer_print {
	display: block;
	border-top: 0;
	margin-top: 0;
}

.b-footer_print .b-footer__content {
	width: auto;
	font-size: 10px;
	font-weight: bold;
}

.b-footer_print .copyright__title {	
	max-width: 150px;
}
.b-footer_print .b-footer__logo.b-footer__logo_rus, .b-footer_print .b-footer__logo.b-footer__logo_eng  {
	display: inline-block;
	line-height: 0;
	width: auto;
	height: auto;
	background: none;	
	margin-bottom: 10px;
}
.b-quote-widget__comma {
	background-image: none;
}
.b-quote-widget__comma::before {
    content: "\201d";
    font-size: 132px;
    color: #1d1d1d;
    position: absolute;
    top: -55px;
    left: -10px;
}
.extra-content .poll_box,
.extra-content .dublePhotoGrandScale,
.extra-content .b-special-project-widget,
.extra-content .dynamicInfographics,
.extra-content .b-themes-widget,
.extra-content .tassPrimaryGallery,
.extra-content .audio-widget__wrap,
.extra-content .b-infografic-widget {
	display: none;
}