/* Стили >1280 для задания брэйкпойнтов через атрибут медиа в подключении */

.b-nav__content,
.b-header__content,
.b-category__content,
.back-inner,
.b-subcategory__list,
.b-content__content,
.b-autor__content,
.b-infocenter__content,
.b-infocenter-widget,
.b-section__content_opinions-widget,
.b-rate__content,
.b-section__content_press-releases
{
    width: 1256px !important;
}

.media-query-hide_1280,
.b-spotlight__r,
.b-media-top,
.b-media-bottom,
.b-spotlight__content_ads-right + .ads
{
    display: none;
}

.b-aside,
.b-media_page,
.b-media_page .b-media-top,
.b-media_page .b-media-bottom
{
    display: block;
}

.b-aside,
.b-content_layout_2 .b-aside
{
    margin-left: 16px;
}


.b-autor__view,
.b-spotlight__l
{
    width: 768px;
}



.b-profile__l
{
    width: 1046px;
}
.b-profile-edit__c
{
    width: 824px;
}

.b-events-list
{
    /*width: 1000px;*/
}
.b-events-item__r
{
    width: 1060px;
}



.b-news-item_priority
{
    width: 752px;
}
.b-news-item_priority .b-news-item__media
{
    width: 100%;
    max-height: 483px;
}
.b-news-item_priority .b-news-item__media img
{
    width: 100%;
    height: auto;
}

.b-opinions-widget-list_main-page .b-opinions-widget-item_priority_interview,
.b-expert-opinion_flag
{
    width: 296px;
}
.b-expert-opinion_flag .b-expert-opinion-people__r
{
    width: 181px;
}

.b-infocenter-widget-subheader__logo
{
    width: 245px;
}

.b-infocenter-widget-subheader__photo
{
    right: 200px;
}

.b-infocenter-widget-subheader__title
{
    width: 680px;
}

.b-rate-list
{
    width: 375px;
    margin-right: 65px;
}

.b-rate-item
{
    margin-right: 15px;
}

.b-announcing__text
{
    position: absolute;
    left: 240px;
}

.b-infographics-widget
{
    width: 100%;
}

.b-infographics-widget__content
{
    margin-right: 17px;
    margin-left: 15px;
}

.b-infographics-widget__link
{
    float: none;
    margin-top: 0;
}

.b-infographics-widget__header
{
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 20px;
}
.b-infographics-widget__header .newTass-icons{
vertical-align: middle;
}
.b-infographics-widget__header .blockName{
line-height: 20px;
display: inline-block;
vertical-align: middle;
margin-top: 2px;
margin-left:10px;
}
.b-infographics-widget__inner
{
    width: 480px;

}

.b-news-item_priority .b-news-item__title
{
    /*font-size: 24px;*/
}

.b-spotlight__content .ads-place_17 {
    display: none;
}
.b-gallery_fullscreen .b-gallery-panel__l
{
    width: 66%;
}

.b-press-releases_widget .b-news-item_size_m
{
    width: 200px;
}

.b-infocenter-about-item-info
{
    width: 420px;
}

.i-events-item_ease .b-events-item__text
{
    width: 825px;
}

.b-nav-search__input {
    width: 250px;
}
.bannerDFP110{
    display: none;
}
.DFP-dynamic-wrapper .DFPbanner.tableSection{
    display: none;
}
.desctopOnly{
    display: block;
}
.b-news_set_list .b-spotlight__content_ads-right .b-spotlight-header__l {
    width: 712px !important;
}

/*Банеры общее*/
.visibleCheck-tgb_vertical,
.visibleCheck-240_400_1,
.visibleCheck-240_400_2,
.visibleCheck-240_400_3 {
    display: block;
}

.b-widget_most-popular.isTopLine {
    padding-top: 20px;
    border-top: 2px solid #221f74;
}
}

/*Для статических страниц*/
.view_special .b-content__r,
.view_main .b-content__r{
    width: 1256px !important;
}
.view_special.show_left_column .b-content__r,
.view_main.show_left_column .b-content__r{
    width: 1000px !important;
}
.view_special.show_right_column .b-content__r,
.view_main.show_right_column .b-content__r{
    width: 1000px !important;
    float: right;
}
.view_special.show_left_column.show_right_column .b-content__r,
.view_main.show_left_column.show_right_column .b-content__r{
    width: 752px !important;
    float: right;
}
