/*modal styles*/
a.modalVideoLink {
	color: #ffffff;
}
a.modalVideoLink:after {
	content: "";
	background: url("/www-content/_shared/_images/playthinline-sprite-20x50.png") 0 -30px no-repeat;
	position: relative;
	top: 6px;
	left: 5px;
	width: 20px;
	height: 20px;
	display: inline-block;
}
a:hover.modalVideoLink:after {
	content: "";
	background: url("/www-content/_shared/_images/playthinline-sprite-20x50.png") 0 0 no-repeat;
}

#vidModal{
	top: 0 !important;
	left: 0;
	margin: 0;
	padding-left: 15%;
	padding-top: 5%;
	padding-right: 100%;
	padding-bottom: 100%;
}
#vidModal > .modal-body{
	padding: 0;
	max-height: none;
}
.modal#vidModal{
	width: 70%;
	border: none !important;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.video-body {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
iframe.youtubeEmbed {
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#vidModal > button.close{
	position: relative;
	top: -50px;
	right: -10px;
	font-size: 60px;
	line-height: 50px;
	text-shadow: none;
}
#vidModal > button.close:hover{
	color: inherit;
}
@media (max-width: 767px) {
	.vidBanner > div {
		height: 270px;
		text-align: left;
		padding-left: 25px;
	}
	.bannerCopy {
		padding-top: 90px;
	}
	#vidModal{
		padding-top: 50px;
		padding-left: 0;
	}
	.modal#vidModal{
		width: 100% !important;
		padding-left: 0 !important;
	}
	#vidModal > button.close{
		top: initial;
		left: initial;
		margin-top: -50px;
	}
}
#vidModal.modal{
	box-sizing: content-box;
	background-color: initial !important;
	position: fixed !important;
}

.modal-backdrop {
	background-color: #dddddd !important;
	opacity: .8 !important;
}
.modal {
	background-color: inherit;
}
