	input 	{	font-family: arial;
				font-size: 8pt;
				float: left;
			}
			
	.mainpage {	float: left;
				border: none;
				border-bottom: 1px solid #FFFFFF;
				border-right: 1px solid #FFFFFF;
				width: 120px;
				height: 120px;	
					}

	.n
	{
		background-color: #AAAAAA;
		opacity: 0.75;
	}
	
	.h
	{
		background-color: #FFFFFF;
		opacity: 1.0;
	}


	.productlogo		{	float: left;
							width: 131px;
							margin-right: 40px;
							box-shadow: 8px 8px 12px #AAAAAA;
						}

	.productlogoextra	{	display: none;}
						
	.productlogotop		{	float: left;
							width: 129px;
							height: 114px;
							border: 1px solid #999999;
							border-bottom: none;
							border-top-left-radius: 2px;
							border-top-right-radius: 2px;
						}
						
	.productlogotop img	{	float: left;
							width: 129px;
							height: 114px;
							border: none;
						}

	.productlogobottom	{	float: left;
							width: 129px;
							border: 1px solid #999999;
							background-color: #333333;
						}	

	.productlogobottom	p	{	float: left;
								width: 100%;
								padding-top: 5px;
								padding-bottom: 5px;
								font: 8pt arial;
								text-align: center;
							}
							
	.productlogobottom	a	{	font: 8pt arial;
								color: #FFFFFF;
								text-decoration: none;
							}
							
	#artistlogocontainerdiv
	{
		float: left;
		width: 100%;
		text-align: justify;		
	}
						
	.artistlogo		{	display: inline-block;
							width: 122px;
							margin-bottom: 50px;
							padding-left: 10px;
							padding-right: 10px;
						}

	.artistlogo>div:first-child	{	float: left;
									width: 120px;
									border-top: 1px solid #DDDDDD;
									box-shadow: 0px 5px 20px #EEEEEE;
								}
						
	.artistlogotop		{	float: left;
							width: 120px;
							height: 120px;
							border-bottom: none;
							border-top-left-radius: 0px;
							border-top-right-radius: 0px;
							//box-shadow: 8px 8px 12px #DDDDDD;
						}
												
	.artistlogotop img	{	float: left;
							width: 120px;
							height: 120px;
							border: none;
						}
						
	.artistlogotop div	{	position: absolute; 
							bottom: 0px; 
							left: 0px; 
							width: 100%; 
							height: 3px;
							background: linear-gradient(transparent, #222222); 
							background: -webkit-linear-gradient(transparent, #222222); 
							background: -o-linear-gradient(transparent, #222222); 
							background: -moz-linear-gradient(transparent, #222222);
						}							

	.artistlogobottom	{	float: left;
							width: 120px;
							border: none;
							background-color: #222222;
						}	

	.artistlogobottom	p	{	float: left;
								width: 100%;
								padding-top: 5px;
								padding-bottom: 5px;
								font: 9pt arial;
								text-align: center;
							}
							
	.artistlogobottom	a	{	font: inherit;
								color: #FFFFFF;
								text-decoration: none;
								text-shadow: 1px 1px 2px #000000;
							}	
								
	#slideshowparentcontainer
	{
		padding-top: 15px;
		text-align: center;
	}
	
	#slideshowparent
	{
		display: inline-block;
		position: relative;
		width: 100%;
		width: calc(100% - 2px);
		width: -webkit-calc(100% - 2px);
		width: 100%;
		height: 0px;
		padding-bottom: 42%;
		border: 1px solid #CCCCCC;
		border:  none;
		border-radius: 0px;
		overflow: hidden;
		box-shadow: none;
	}
	
	.slideDiv
	{
		z-index: 0;
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0%;
		width: 100%;
		background-color: #444444;
		background-image: none;
		background-position: center;
		background-size: cover;
		background-repeat: repeat-y;
	}
	
	.slideDivImageAnnotationDiv
	{
		position: absolute;
		bottom: 0px;
		right: 0px;
		padding-bottom: 15px;
	}
	
	.slideDivImageAnnotationDiv p
	{
		float: right;
		padding-right: 18px;
		font-size: 10pt;
		font-family: arial;
		color: #FFFFFF;
		text-shadow: 1px 1px 2px #000000;
	}
	
	.slideDivImageAnnotationDiv a, .slideDivImageAnnotationDiv a:active, .slideDivImageAnnotationDiv a:link, .slideDivImageAnnotationDiv a:visited
	{
		font-size: inherit;
		font-family: inherit;
		color: inherit;
		text-decoration: none;
	}
	
	.slideDivImageAnnotationDiv a:hover
	{
		text-decoration: underline;
	}
								
								
	.imagelicensingdiv	
	{	
		z-index: 0;
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0%;
		width: 100%;
		background-color: #444444;
		background-image: none;
		background-position: center;
		background-size: cover;
		background-repeat: repeat-y;
	}

	.imagelicensingdiv > div:nth-child(1)
	{
		display: inline-block;
		width: 40%;
		padding-top: 11%;
		overflow: visible;
		vertical-align: top;
	}
	
	.imagelicensingdiv > div:nth-child(1) > p:nth-child(1)
	{
		display: inline-block;
		width: 100%;
		font-size: 36pt;
		font-family: oswald;
		font-weight: normal;
		color: #FFFFFF;
		text-shadow: 2px 2px 15px #222222;
		letter-spacing: 1px;
		line-height: 100%;
	}
	
	.imagelicensingdiv > div:nth-child(1) > p:nth-child(2)
	{
		display: inline-block;
		width: 100%;
		padding-top: 5px;
		font: 14pt arial;
		font-weight: normal;
		color: #FFFFFF;
		text-shadow: 2px 2px 5px #000000;
		line-height: 140%;
		letter-spacing: 0px;	
	}
	
	.imagelicensingdiv > div:nth-child(1) > p:nth-child(4)
	{
		display: inline-block;
		width: 100%;
		padding-top: 0px;
		font: 12pt arial;
		color: #FFFFFF;
		text-shadow: 1px 1px 2px #000000;
		line-height: 140%;	
	}
	
	.imagelicensingdiv > div:nth-child(2)
	{
		display: inline-block;
		width: 30%;
		padding-left: 5%;
		padding-top: 9%;
		height: 50px;	
	}
	
	.slideshowheadshot img
	{
		float: left;
		width: 19%;
		margin-right: 1%;
		margin-bottom: 1%;
		border: none;
		border-radius: 0px;
		box-shadow: 2px 2px 8px #000000;	
	}

	#slideshowarrowleft
	{
		position: absolute;
		left: 0px;
		top: 50%;
		top: calc(50% - 35px);
		padding: 20px;
		opacity: 0.65;
		border: none;	
	}
	
	#slideshowarrowleft:hover
	{
		opacity: 1;
	}
	
	#slideshowarrowright
	{
		position: absolute;
		right: 0px;
		top: 50%;
		top: calc(50% - 35px);
		padding: 20px;
		opacity: 0.65;
		border: none;	
	}
	
	#slideshowarrowright:hover
	{
		opacity: 1;
	}

	.buttonslideshow
	{
		display: inline-block; 
		width: 90%;
		max-width: 300px;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-top: 25px;
		margin-bottom: 25px;
		vertical-align: middle; 
		font-size: 14pt;
		font-family: oswald, arial; 
		font-weight: normal; 
		color: #FFFFFF; 
		text-shadow: 2px 2px 5px #222222;
		border-radius: 0px;
		background-color: rgba(40,40,40,0.50);
		border: 1px solid #FFFFFF;		
	}
											
	.buttonslideshow span
	{
		width: 90%;
		font-size: 14pt;
		font-family: arial; 
		font-weight: normal; 
		color: #FFFFFF; 
		text-shadow: 2px 2px 5px #444444;
		display: inline-block;
		text-transform: uppercase;
	}
		
	.slideshowApparel p
	{
		font-family: manus;
		font-size: 36pt;
	}
		
	.slideshowApparel .buttonslideshow	
	{	
		background-color: rgba(46,52,60,0.50);
		border: 2px solid #FFFFFF;
		box-shadow: 2px 2px 12px 0px #444444; 
	}
	
	.slideshowApparel .buttonslideshow:hover
	{	
		background-color: #222222;	
		border: 2px solid #222222; 
	}
		
	.slideshowfineartprints .buttonslideshow	
	{	
		background-color: rgba(46,52,60,0.50);
		border: 1px solid #FFFFFF;
		box-shadow: 2px 2px 12px 0px #444444; 
	}
	
	.slideshowfineartprints .buttonslideshow:hover
	{	
		background-color: #222222;	
		border: 1px solid #222222; 
	}
	
	.slideshowtotebags .buttonslideshow	
	{	
		background-color: rgba(46,52,60,0.50);
		border: 1px solid #FFFFFF;
		box-shadow: none;
	}
	
	.slideshowtotebags .buttonslideshow:hover
	{	
		background-color: #222222;	
		border: 1px solid #222222; 
	}	
	

	.slideshowgreetingcards .buttonslideshow, .slideshowphonecases .buttonslideshow	
	{	
		background-color: #A34D0C;
		background-color: rgba(163,77,12,0.50);
		border: 1px solid #FFFFFF; 
		box-shadow: none; 

	}
	
	.slideshowgreetingcards .buttonslideshow:hover, .slideshowphonecases .buttonslideshow:hover	
	{	
		background-color: #732D00;	
		border: 1px solid #432D0C; 
	}	
										
										
												
	.slideshowstartselling .buttonslideshow	
	{	
		background-color: rgba(62,64,22,0.50); 
		border: 1px solid #2E3006;
		border: 1px solid #FFFFFF;	
		box-shadow: none;
	}
	
	.slideshowstartselling .buttonslideshow:hover	
	{	
		background-color: #1E2006;	
		border: 1px solid #0E1006; 
	}

	.slideshowuploadandcreate .buttonslideshow	
	{		
		background-color: #334466;
		background-color: rgba(51,68,102,0.50);
		border: 1px solid #FFFFFF;
		box-shadow: none;
	}
								
	.slideshowuploadandcreate .buttonslideshow:hover		
	{	
		background-color: #112244;	
		border: 1px solid #001133; 
	}

	.slideshowmeetthemembers .buttonslideshow
	{	
		background-color: #2E343C;
		background-color: rgba(46,52,60,0.50);
		border: 1px solid #FFFFFF; 
		box-shadow: none; 
	}
								
	.slideshowmeetthemembers .buttonslideshow:hover
	{	
		background-color: #112244;	
		border: 1px solid #001133; 
	}
	
	.slideshowtshirts .buttonslideshow
	{
		background-color: #2E343C;
		border: 1px solid #1E242C;
		box-shadow: none;
	}

	.slideshowtshirts > div:nth-child(1) > p:nth-child(1)
	{
		font-size: 48pt;
		font-family: cheddarjack;
	}
	
	.slideshowtshirts .buttonslideshow:hover
	{
		background-color: #112244;
		border: 1px solid #001133;
	}
	
	.slideshowtshirts > div:nth-child(1) > p:nth-child(2)
	{
		font-size: 24pt;
	}	
	
	
	@media screen and (max-width: 1200px)
	{
		#headernavigationcontainerdiv
		{
			margin-bottom: 0px !important;
		}
		
		#slideshowparentcontainer
		{
			width: 100%;
			padding: 0px;
			border: none;
			box-shadow: none;
		}	
		
		#slideshowparent
		{
			width: 100%;
			border: none;
		}
	
		.imagelicensingdiv > div:nth-child(1)
		{	

		}
	
		.imagelicensingdiv > div:nth-child(1) > p:nth-child(1)
		{
			font-size: 28pt;
		}
		
		.imagelicensingdiv > div:nth-child(1) > p:nth-child(2)
		{
			padding-top: 0px;
			font-size: 12pt;
		}
		
		.imagelicensingdiv > div:nth-child(1) > p:nth-child(4)
		{
			padding-top: 0px;
			font-size: 10pt;
		}

		.buttonslideshow
		{
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 15px;
			margin-bottom: 15px; 
			font-size: 12pt; 	
		}
												
		.buttonslideshow span
		{
			font-size: 12pt; 
		}

		
	}
	
	
	@media screen and (max-width: 840px)
	{	
		.slideDivImageAnnotationDiv
		{
			display: none;
		}
	
		.imagelicensingdiv > div:nth-child(1)
		{
			width: 35%;
			padding-top: 15%;
		}
	
		.imagelicensingdiv > div:nth-child(1) > p:nth-child(1)
		{
			font-size: 20pt;
			letter-spacing: normal;			
		}
		
		.imagelicensingdiv > div:nth-child(1) > p:nth-child(2)
		{
			padding-top: 0px;
			font-size: 10pt;
		}
		
		.imagelicensingdiv > div:nth-child(1) > p:nth-child(4)
		{
			padding-top: 0px;
			font-size: 9pt;
			display: none;
		}

		.buttonslideshow
		{
			padding-top: 5px;
			padding-bottom: 5px;
			margin-top: 5px;
			margin-bottom: 5px; 
			font-size: 9pt;
			border-radius: 2px;
		}
												
		.buttonslideshow span
		{
			font-size: 9pt;
			text-transform: none;	
		}

		
	}	
	
	
	@media screen and (max-width: 640px)
	{		
		
		#slideshowparent
		{
			width: 100%;
			padding-bottom: 60%;
			border: none;
		}

		.imagelicensingdiv > div:nth-child(1)
		{
			display: inline-block;
			width: 100%;
			height: 100%;
			overflow: visible;
			vertical-align: top;
			background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.40), rgba(0,0,0,0.50),rgba(0,0,0,0.60),rgba(0,0,0,0.60),rgba(0,0,0,0.50),rgba(0,0,0,0.40),rgba(0,0,0,0));			
		}
		
		.imagelicensingdiv > div:nth-child(1) > p:nth-child(n+1)
		{
			width: 70%;
		}
	
		.imagelicensingdiv > div:nth-child(1) > p:nth-child(1)
		{
			font-size: 28pt;
			line-height: 100%;
		}
		
		.imagelicensingdiv > div:nth-child(1) > p:nth-child(2)
		{
			padding-top: 10px;
			font-size: 12pt;
		}
		
		.imagelicensingdiv > div:nth-child(1) > p:nth-child(4)
		{
			display: none;
		}

		.imagelicensingdiv > div:nth-child(2)
		{
			display: none;
		}		
		
		.buttonslideshow
		{
			width: 50%;
			padding-top: 15px;
			padding-bottom: 15px;
			margin-top: 15px;
			margin-bottom: 10px; 
			font-size: 14pt;
			border-radius: 2px;
			box-shadow: 0px 0px 10px -5px #222222 !important;
		}
												
		.buttonslideshow span
		{
			font-size: 14pt; 
		}
		
		#slideshowsquares
		{
			visibility: hidden;
		}
		
		.imagelicensingdiv > div:nth-child(3)
		{	
			visibility: hidden;
		}
		
		#slideshowarrowleft
		{
			padding-left: 5px;
		}

		#slideshowarrowright
		{
			padding-right: 5px;
		}

		.slideshowheadshot img
		{
			float: left;
			width: 28%;
			margin-right: 0%;
			margin-bottom: 0%;
			border: none;
			border-radius: 0px;
			box-shadow: 2px 2px 8px #000000;	
		}

		.slideshowheadshot:nth-child(1n+10) img
		{
			display: none;
		}
		
	}


	@media screen and (max-width: 480px)
	{		
		#slideshowparent
		{
			padding-bottom: 75%;	
		}

		
		.imagelicensingdiv > div:nth-child(1) > p:nth-child(1)
		{
			font-size: 20pt;
		}

		.imagelicensingdiv > div:nth-child(1) > p:nth-child(2)
		{
			padding-top: 10px;
			font-size: 10pt;
		}	
		
		.imagelicensingdiv > div:nth-child(2)
		{

		}		
		
		.buttonslideshow
		{
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 15px;
			margin-bottom: 5px; 
			font-size: 12pt;
			border-radius: 2px;
		}
												
		.buttonslideshow span
		{
			font-size: 12pt; 
		}
		
		#slideshowsquares
		{
			visibility: hidden;
		}
		
		.imagelicensingdiv > div:nth-child(3)
		{	
			visibility: hidden;
		}
		
		#slideshowarrowleft
		{
			padding-left: 5px;
		}

		#slideshowarrowright
		{
			padding-right: 5px;
		}

		#topproductcontainerdiv
		{
			margin: 0px;
			padding-top: 5px;
			padding-bottom: 5px;
		}		
		
	}
	
	 
								

	.youtubeparentdiv > div {
	  position: relative;
	  padding-bottom: 56.25%;
	  height: 0px;
	}

	.youtubeparentdiv iframe {
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  width: 100%;
	  height: 100%;
	}
				
		
	#youtubevideo	{	display: inline-block;
						width: 100%;
						border: 1px solid #999999;
						border: none;
						box-shadow: 0px 0px 20px #AAAAAA;
						box-shadow: none;
					}					

	#leftdiv	{	float: left;
					width: 240px;
					text-align: left;
				}
				
	#rightdiv	{	float: right;
					width: 300px;
					width: calc(100% - 250px);
				}

	#featuredimagesparentdiv {	float: right;
							width: 100%;
							border: none;
							box-shadow: none;
							text-align: center;
							overflow: hidden;
						}
	
	.featuredimagesdiv {	float: left;
							width: 20%; 
							overflow: hidden; 
							margin-right: 0px;
							margin-bottom: 0px;
							border: none;
						}
						


	@media screen and (max-width: 900px)
	{
		.featuredimagesdiv
		{
			width: 25%;
		}
		
		.featuredimagesdiv:nth-child(n+21)
		{
			display: none;
		}
	}
	
	@media screen and (max-width: 640px)
	{
		#leftdiv
		{
			display: none;
		}
		
		#rightdiv
		{
			width: 100%;
		}
		
		.featuredimagesdiv:nth-child(n+13)
		{
			display: none;
		}			

	}

	@media screen and (max-width: 400px)
	{
		.featuredimagesdiv
		{
			width: 50%;
		}
	
	}

	
	@media screen and (max-width: 640px)
	{

		#artistlogocontainerdiv
		{
			text-align: center;
		}

		.buttonbottom:nth-child(2)
		{
			margin-top: 25px;
		}
	}
	
	.sidebarheader			
	{	
		float: left;
		width: 100%;
		border-top: 1px solid #999999;
		border-bottom: 1px solid #999999;
		border-top: none;
		border-bottom: 1px solid #DDDDDD;
		background-color: #EEEEEE;
		background-image: url('BackgroundTextureDark.gif');
		background-image: none;
		margin-top: 0px;
		margin-bottom: 10px;
		box-shadow: 0px 8px 8px -5px #EEEEEE;
		box-shadow: none;
	}
							
	.sidebarheader p		{	float: left;
								font-size: 12pt;
								font-family: oswald, arial;
								font-weight: normal;
								color: #444444;
								text-shadow: 1px 1px 2px #BBBBBB;
								text-shadow: none;
								padding-left: 20px;
								padding-top: 7px;
								padding-bottom: 7px;
							}

	.sidebarheader a:link 	{	font-size: 12pt;
								font-family: oswald, arial;
								font-weight: normal;
								color: #222222;
								text-shadow: 1px 1px 2px #BBBBBB;
								text-shadow: none;
								text-decoration: none;
							}							

	.sidebarheader a:visited 	{	font-size: 12pt;
								font-family: oswald, arial;
								font-weight: normal;
								color: #222222;
								text-shadow: 1px 1px 2px #BBBBBB;
								text-decoration: none;
							}

	.sidebarheader a:hover 	{	font-size: 12pt;
								font-family: oswald, arial;
								font-weight: normal;
								color: #222222;
								text-shadow: 1px 1px 2px #BBBBBB;
								text-decoration: none;
							}	


	.sidebar a {font: 9pt arial; font-weight: normal; color: #000080;}

	.sidebarleft {	float: left;
					width: 100px;
					overflow: hidden;
				}
				
	.sidebarright {	float: left;
					width: 110px;
					overflow: hidden;
				}
				
	.sidebarleft img {border: 1px solid #666666; background-color: #FFFFFF;}							

	#topproductcontainerdiv
	{
		float: left;
		width: 100%;
		padding-top: 35px;
		padding-bottom: 20px;
		text-align: center;
		vertical-align: top;	
	}
	
	.topproductdiv	{	display: inline-block; 
						text-align: center;
						vertical-align: top;
						padding-left: 20px;
						padding-right: 20px;
						padding-bottom: 35px;
					}
	

	
	.topproductdiv p:nth-child(1)	{	width: 100%;
										font-size: 14pt;
										font-family: oswald, arial; 
										font-weight: normal; 
										color: #222222; 
										text-shadow: none; 
										letter-spacing: 0px;
									}
									
	.topproductdiv p:nth-child(2)	{	
										font: 9pt arial;
									}
									
	.topproductdiv p:nth-child(1) a	{	font: inherit;
										font-weight: inherit; 
										color: inherit;
										text-decoration: inherit;
										text-shadow: inherit;
									}

	.topproductdiv p:nth-child(2) a	{	font: inherit;
										font-weight: inherit; 
										color: inherit;
										text-decoration: inherit;
										text-shadow: inherit;
									}

	.topproductdiv p:nth-child(1) a:hover	{	color: #000000;
												text-shadow: 1px 1px 2px #CCCCCC;
											}									

	.topproductdiv p:nth-child(2) a:hover	{	color: #000000;
												text-shadow: 1px 1px 2px #CCCCCC;
											}				

	

	.newproductdiv	{	display: inline-block;
						width: 138px; 
						margin-left: 15px; 
						margin-right: 15px;
						margin-bottom: 40px;
						text-align: center;
						border: none;
					}
	
	.newproductdiv div:nth-child(1)	{	float: left;
										width: 100%;
										height: 100px;
									}
									
	.newproductdiv div:nth-child(2)	{	float: left;
										width: 100%;
									}	

	.newproductdiv img	{	max-width: 125px;
							max-height: 95%;
							border: none;
						}
						
	.newproductdivshadow img	{	box-shadow: 5px 5px 8px #CCCCCC;
								}						
									
	.newproductdiv p	{	font-size: 12pt; 
							font-family: oswald, arial;
						}
						
	.newproductdiv a, .newproductdiv a:link, .newproductdiv a:active	{	font-size: 12pt; 
																			font-family: oswald, arial;
																			letter-spacing: 0px;
																			color: #444444;
																			text-shadow: none;
																		}

	.newproductdiv a:hover	{	color: #335599;
							}

	.buttonbottom, .buttonbottom:active, .buttonbottom:link, .buttonbottom:visited	{		display: inline-block; 
										width: 90%;
										max-width: 300px; 
										height: 50px;
										margin-left: 15px;
										margin-right: 15px;
										border-radius: 0px; 
										box-shadow: none; 
										vertical-align: middle; 
										font-size: 14pt;
										font-family: oswald, arial; 
										font-weight: normal;
										letter-spacing: 2px;
										color: #FFFFFF; 
										text-shadow: none;
										background-color: rgba(0,134,179,0.70);	
										border: 1px solid #444444; 
		
								}							
								
	.buttonbottom:hover		{	background-color: #51C782; 
								border: 1px solid #3E791B; 
							}	

	@media screen and (max-width: 840px)
	{

		#slideshowparent2	{	width: 800px;
								height: 400px;
							}
					
		.imagelicensingdiv2	{	width: 800px;
								height: 400px;
							}
		
		.topproductdiv
		{
			padding-bottom: 15px;
			padding-left: 10px;
			padding-right: 10px;
		}
		
		.topproductdiv p:nth-child(1)
		{	
			font-size: 12pt; 
		}
										
		.topproductdiv p:nth-child(2)
		{	
			font: 9pt arial;
		}

	}
	

	@media screen and (min-width: 1199px)
	{

		#slideshowparent2	{	width: 1140px;
							}
					
		.imagelicensingdiv2	{	width: 1140px;
							}

		.newproductdiv	{	display: inline-block;
							width: 148px; 
							margin-left: 15px; 
							margin-right: 15px;
							margin-bottom: 40px;
							text-align: center;
							border: none;
						}
							
	}