	
	*
	{
		margin: 0px;
		padding: 0px;
	}
		
	html
	{
		overflow-x: hidden;
	}
		
	body 
	{
		width: 100%;
		min-width: 310px;
		margin: 0px;
		background-color: #000000;
		background-image: url('/BackgroundBlackWeaveSmall.jpg'); 
		background-position: top left;
		overflow-x: hidden;
	}
	
	h1
	{
		float: left;
		font-family: oswald, arial;
		font-size: 28pt;
		font-weight: normal;
		letter-spacing: 0px;
		word-spacing: 0px;
		color: #444444;
		text-shadow: 2px 2px 4px #BBBBBB;
		text-shadow: none;
		line-height: 110%;
	}
	
	h2
	{
		font-family: oswald, arial;
		font-size: 20pt;
		font-weight: normal;
		letter-spacing: 0px;
		word-spacing: 0px;
		color: #444444;
		line-height: 110%;
	}
	
	p
	{
		font: 8pt arial;
	}
	
	a, a:link , a:active, a:visited, a:hover
	{
		font: 8pt arial;
		color: #445577;
		text-decoration: none;
	}
	
	a:hover
	{
		color: #AD9AFF;
	}	
	
	select
	{
		background-color: #FFFFFF;
	}
	
	
	/* Buttons: Standard */
	a.button, a.button:link, a.button:active, a.button:visited, a.button:hover
	{
		float: none;
		display: inline-block;
		height: auto;
		background-image: none;
		background-color: #DDDDDD;
		background: -webkit-linear-gradient(#FFFFFF,#EEEEEE);
		background: -moz-linear-gradient(#FFFFFF,#EEEEEE);
		background: linear-gradient(#FFFFFF,#EEEEEE);
		font: 9pt arial;
		color: #444444;
		text-align: center;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		box-shadow: none;
		padding: 0px;
		padding-top: 4px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 2px;
		margin-right: 2px;
		cursor: pointer;
		cursor: hand;
	}
	
	a.button:hover
	{
		background: none;
		background-color: #EEEEEE;
		border: 1px solid #999999;
		box-shadow: 0px 6px 5px -5px #CCCCCC;
	}
	
	a.button:active
	{

	}
	
	a.button:first-child
	{
		margin-left: none;
	}
	
	a.button:last-child
	{
		margin-right: none;
	}
	
	a.button span, a.button:link span, a.button:active span, a.button:visited span, a.button:active span
	{
		display: inline-block;
		vertical-align: middle;
		padding: 0px;
		margin: 0px;
		background-image: none;
		background-color: transparent;
		color: inherit;
		border: none;
	}
		
			
	/* Buttons: Small */
	a.buttonsmall {
		float: left;
		display: block;
		color: #444444;	
		background: transparent url('ButtonASmall.gif') no-repeat scroll top right;
		font: 9pt arial;
		text-decoration: none;
		height: 19px;
		margin-right: 5px;
		padding-right: 14px; /* sliding doors padding */
		text-decoration: none;
		outline: none;
		cursor: pointer;
		cursor: hand;	
	}

	a.buttonsmall:link {font: 9pt arial; color: #000000; text-decoration: none;}
	a.buttonsmall:hover {font: 9pt arial; color: #000000; text-decoration: none;}
	a.buttonsmall:visited {font: 9pt arial; color: #000000; text-decoration: none;}

	a.buttonsmall span {
		text-align: center;
		background: transparent url('ButtonSpanSmall.gif') no-repeat top left;
		display: block;
		line-height: 14px;
		padding-left: 16px;
		padding-right: 4px;
		padding-top: 2px;
		padding-bottom: 3px;
		cursor: pointer;
		cursor: hand;
	} 

	a.buttonsmall:active {
		background-position: bottom right;
		color: #000000;
		outline: none; /* hide dotted outline in Firefox */
	}

	a.buttonsmall:active span {
		background-position: bottom left;
		
		/* push text down 1px */
		padding-left: 16px;
		padding-right: 4px;
		padding-top: 1px;
		padding-bottom: 4px	
	}

	.buttonbottomprevious, .buttonbottomprevious:link, .buttonbottomprevious:active, .buttonbottomprevious:hover, .buttonbottomprevious:visited, .buttonbottomnext, .buttonbottomnext:link, .buttonbottomnext:active, .buttonbottomnext:hover, .buttonbottomnext:visited
	{
		float: none;
		display: inline-block;
		min-width: 100px;
		padding-top: 8px;
		padding-bottom: 8px;
		margin-left: 5px;
		margin-right: 5px;
		font-size: 12pt;
		font-family: oswald, arial;
		color: #FFFFFF;
		background-color: #444444;
		border: none;
		border-radius: 2px;
		letter-spacing: 1px;
		text-transform: none;
	}

	.buttonbottomprevious
	{
		padding-left: 15px;
		background-image: url('images/HomePageSlideshowArrowLeft.gif');
		background-position: 10% center;
		background-repeat: no-repeat;
		background-size: 15px 15px;	
	}
	
	.buttonbottomnext
	{
		padding-right: 15px;
		background-image: url('images/HomePageSlideshowArrowRight.gif');
		background-position: 90% center;
		background-repeat: no-repeat;
		background-size: 15px 15px;	
	}

	.buttonbottomprevious:hover, .buttonbottomnext:hover
	{
		background-color: #222222;
	}	
	
	.container
	{
		display: inline-block;
		width: 95%;
		width: -ms-calc(100% - 50px);
		width: -webkit-calc(100% - 50px);
		width: calc(100% - 50px);
		min-width: 220px;
		max-width: 1150px;
		margin: auto;
		overflow: visible;
	}
		

	/* Header Sections */
	
	#headerAnnouncementDiv
	{
		min-width: 100%;
		background-color: #283038;
	}
	
	#headerAnnouncementDiv .container
	{
		padding-top: 8px;
		padding-bottom: 8px;
		text-align: center;
	}
	
	#headerAnnouncementDiv p
	{
		font-size: 10pt;
		font-family: cabin, oswald, arial;
		color: #999999;
		letter-spacing: 0.5px;
		word-spacing: 1px;
	}
	
	#headerAnnouncementDiv a, #headerAnnouncementDiv a:link
	{
		font-size: inherit;
		font-family: inherit;
		color: #EEEEEE;
		text-decoration: none;	
	}
	
	#headerAnnouncementDiv a:hover
	{
		text-decoration: underline;
	}
	
	#headercontainerdiv
	{
		min-width: 100%; 
		background-color: #F7F7F7;
		background-image: none;
		background-repeat: repeat;
		background-size: auto;
		line-height: 0px;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 0px;		
	}	
		
	#headerwidgetcontainerdiv
	{
		min-width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: #FFFFFF;
		background-repeat: repeat-x;
		line-height: 0px;
		text-align: center;
		border-bottom: 1px solid #AAAAAA;
		box-shadow: none;
		margin-bottom: 15px;
	}	
	
						
	#header
	{
		min-width: 100%;
		position: relative;
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: justify;
		line-height: 0px;
		vertical-align: top;
	}
	
	#headerwidget
	{
		min-width: 100%;
		padding-top: 8px;
		padding-bottom: 8px;
		text-align: justify;
		line-height: 0px;
	}	

	#headerlogodivnew
	{
		display: inline-block;
		vertical-align: middle;
		order: 1;
		-webkit-order: 1;
		max-width: 225px;
	}
					
	#headerlogodivnew > img
	{
		float: left;
		max-height: 64px;
		padding-top: 0px;
		border: none;
	}
				
	#headerextraspacedivnew
	{	
		display: inline-block;
		width: 200px;
		text-align: center;
		vertical-align: middle;
		order: 2;
		-webkit-order: 2;
	}
	
	.outerdiv #headerextraspacedivnew
	{
		display: none;
	}
				
	#headersearchdivnew
	{
		display: inline-block;
		width: 232px;
		vertical-align: middle;
		order: 3;
		-webkit-order: 3;
	}
			
	#headerwidgetsearchdivnew
	{
		display: inline-block;
		width: 232px;
		margin-right: 120px;
		vertical-align: middle;
		order: 3;
		-webkit-order: 3;
	}
			
	#headermainlinksdivnew
	{
		display: inline-block;
		width: 330px;
		text-align: center;
		vertical-align: middle;
		order: 4;
		-webkit-order: 4;
	}	
						
	#headermainlinksdivnew p
	{
		display: inline-block;
	}
	
	#headersearchicondivnew
	{
		display: none;
		width: 22px;
		vertical-align: middle;
		text-align: center;
		order: 5;
		-webkit-order: 5;
	}	
	
	#headershoppingcartdivnew
	{	
		display: inline-block;
		width: 86px;
		text-align: center;
		vertical-align: middle;
		margin-top: 0px;
		order: 6;
		-webkit-order: 6;
	}
	
	#headerwidgetclosediv
	{
		display: inline-block;
		vertical-align: middle;
		order: 7;
		-webkit-order: 7;		
	}
	
	#headershoppingcartdivnew > div:nth-child(1)
	{	
		display: inline-block;
		width: 100%;
	}
											
	#headershoppingcartdivnew > div:nth-child(1) > p
	{	
		display: inline-block;
		font: 14pt arial; 
		font-weight: bold;
		vertical-align: middle;
	}
																
	#headershoppingcartdivnew #currencydivlink > p
	{	
		padding-left: 25px;
	}
	
	
	/* Header Navigation Links */
	
	.headerlargenavigationlinks, .headerlargenavigationlinks:active, .headerlargenavigationlinks:link, .headerlargenavigationlinks:visited, .headerlargenavigationlinks:hover
	{
		display: inline-block;
		font-size: 16pt;
		font-family: montserratregular, oswald, arial;
		font-weight: normal;
		letter-spacing: 0.5px;
		text-decoration: none;
		color: #555555;
		text-shadow: none;
		margin-left: 8px;
		margin-right: 8px;
		line-height: 100%;
		vertical-align: middle;
	}
	
	.headerlargenavigationlinks:hover
	{
		padding-top: 7px;
		padding-bottom: 5px;
		border-bottom: 2px solid #666666;
		color: #222222;
		box-shadow: 0px 8px 8px -6px #777777;
		box-shadow: none;
	}
	
	.headerlargenavigationlinks:first-child
	{
		margin-left: 0px;
	}
	
	.headerlargenavigationlinks:last-child
	{
		margin-right: 0px;
	}
	
	a.headernavigationlink:link {padding-left: 2px; padding-right: 2px; letter-spacing: 2px; font: 14pt arial; font-weight: bold; color: #444444; text-decoration: none; text-shadow: 2px 2px 4px #AAAAAA; padding-bottom: 5px;}
	a.headernavigationlink:visited {padding-left: 2px; padding-right: 2px; letter-spacing: 2px; font: 14pt arial; font-weight: bold; color: #444444; text-decoration: none; text-shadow: 2px 2px 4px #AAAAAA; padding-bottom: 5px;}
	a.headernavigationlink:hover {padding-left: 2px; padding-right: 2px; letter-spacing: 2px; font: 14pt arial; font-weight: bold; color: #000000; text-decoration: none; text-shadow: 2px 2px 4px #888888; padding-bottom: 5px; border-bottom: 2px solid #666666; box-shadow: 0px 8px 8px -6px #777777;}
			

			
	/* Staff Member Div */									
	#headerstaffmemberdynamicdiv	
	{
		display: inline-block;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 15px;
		background-color: #EEEEEE;
		background-image: url('https://fineartamerica.com/BackgroundTextureGray.gif');
		background-color: #FFFFFF;
		background-image: none;
		border-bottom: 1px solid #BBBBBB;
		border-radius: 0px;
		box-shadow: none;
		line-height: 20px;
		text-align: center;
		vertical-align: middle;
	}
	
	#headerstaffmemberdynamicdiv > div
	{
		display: inline-block;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;
		overflow: hidden;
		vertical-align: top;
		text-align: left;
		border: none;
	}
	
	#headerstaffmemberdynamicdiv > div > p, #headerstaffmemberdynamicdiv > div > div
	{
		float: left;
		width: 100%;
		padding-top: 2px;
		font-size: 8pt;
		font-family: arial;
		text-decoration: none;
		color: #444444;
	}
	
	#headerstaffmemberdynamicdiv > div > p:nth-child(1)
	{
		padding-bottom: 5px;
		margin-bottom: 10px;
		font-family: oswald, arial;
		font-size: 11pt;
		font-weight: normal;
		color: #444444; 
		text-decoration: none;
		letter-spacing: 0.5px;
		border-bottom: 1px solid #AAAAAA;
	}
		
	#headerstaffmemberdynamicdiv > div > div
	{	
		float: left;
		width: 100%;
	}
	
	#headerstaffmemberdynamicdiv > div > div > p
	{
		float: left;
		width: auto;
		font-size: 8pt;
		font-family: arial;
		font-weight: normal;
		text-decoration: none;
	}
	
	#headerstaffmemberdynamicdiv > div > div > p:nth-child(2)
	{
		padding-left: 8px;
		color: #999999;
		text-decoration: none;
	}	
	
	#headerstaffmemberdynamicdiv a:link, #headerstaffmemberdynamicdiv a:visited 
	{
		font-size: inherit;
		font-family: inherit;
		font-weight: inherit;
		color: inherit;
		text-decoration: inherit;
	}
	
	#headerstaffmemberdynamicdiv a:hover
	{
		text-decoration: underline;
	}

	
	/* Header Menu Bar */	
	#headernavigationcontainerdiv
	{
		min-width: 100%; 
		height: 34px; 
		margin-bottom: 15px;
		background-color: #FFFFFF;
		border-top: 1px solid #D5D5D5;
		border-bottom: none;
		padding-top: 0px;
		padding-bottom: 0px;
		box-shadow: none;
		text-align: center;
	}	
	
							
	#headernavigationdiv
	{
		display: inline-block;
		position: relative;
		width: 100%;
		z-index: 1000;
	}	
	
									
	#headernavigationmenuleftdiv
	{
		float: left;
	}
					
	#headernavigationmenurightdiv
	{
		float: right;
		padding-right: 0px;
	}


	/* Header Products (Shop Dropdown) */
	.headerproductdiv
	{
		display: inline-block;
		width: 5%;
		min-width: 75px;
		margin-left: 15px; 
		margin-right: 15px;
		margin-top: 5px;
		margin-bottom: 20px;
		text-align: center;
		border: none;
		overflow: visible;
		vertical-align: top;
	}
	
	.headerproductdiv div:nth-child(1)
	{
		display: inline-block;
		width: 100%;
		height: 58px;
		vertical-align: top;
	}
									
	.headerproductdiv div:nth-child(2)
	{
		float: left;
		width: 100%;
	}	

	.headerproductdiv img
	{
		max-width: 90%;
		max-height: 50px;
		border: none;
	}
						
	.headerproductdivshadow img
	{
		box-shadow: 5px 5px 8px #CCCCCC;
	}						
									
	.headerproductdiv p
	{
		font-size: 9pt; 
		font-family: arial;
		color: #666666;
		letter-spacing: 0px;
		text-transform: none;
	}
						
	.headerproductdiv a, .headerproductdiv a:link, .headerproductdiv a:active, .headerproductdiv a:hover
	{
		font-size: inherit;
		font-family: inherit;
		color: inherit;
		letter-spacing: inherit;
	}

	.headerproductdiv:hover a
	{
		color: #335599;
	}		
							
	
	/* Header Shop Dropdown Text */				
	.headershoptextdiv
	{
		display: inline-block;
		width: 18%;
		min-width: 180px; 
		vertical-align: top;
		padding-top: 30px;
	}
						
	.headershoptextdiv > div:nth-child(1)
	{
		float: left; 
		width: 100%;
		padding-top: 0px;
		padding-bottom: 5px;
		border-bottom: 1px solid #999999;
	}
											
	.headershoptextdiv > div:nth-child(1) > p:nth-child(1)
	{
		float: left;
		font-size: 14pt;
		font-family: oswald, arial;
		letter-spacing: 0.5px;
		color: #222222;
		text-shadow: 1px 1px 2px #BBBBBB;
	}
															
	.headershoptextdiv > div:nth-child(1) > p:nth-child(2)
	{
		float: right;
		padding-top: 8px; 
		font: 9pt arial;
	}

	.headershoptextdiv > div:nth-child(1) > p:nth-child(2) a, .headershoptextdiv > div:nth-child(1) > p:nth-child(2) a:link
	{
		font: 9pt arial; 
		color: #335599;
		text-decoration: none;
	}										
																								
	.headershoptextdiv > div:nth-child(2)
	{
		float: left; 
		width: 100%;
		padding-top: 15px;
	}	

	.headershoptextdiv > div:nth-child(2) > p
	{
		float: left;
		width: 100%;
		padding-top: 5px;
		font: 9pt arial;
	}
												
	.headershoptextdiv > div:nth-child(2) > p:nth-child(1)
	{
		padding-top: 0px;
	}

	.headershoptextdiv > div:nth-child(2) > p a, .headershoptextdiv > div:nth-child(2) > p a:link	
	{
		font: 9pt arial; 
		font-weight: normal; 
		text-decoration: underline; 
		color: #335599;
	}																	

	.headershoptextdiv > div:nth-child(2) > p a:hover
	{
		color: #000000;
	}


	/* Help Dropdown Text Items */
	.headerHelpDiv
	{
		display: inline-block;
		vertical-align: top;
		width: 100%;
		max-width: 225px;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 40px;
		text-align: left;	
	}
	
	.headerHelpDiv p
	{
		display: inline-block;
		width: 100%;
		padding-top: 15px;
		font-size: 10pt;
		font-family: arial;
		line-height: normal;
		color: #666666;
		text-transform: none;
	}
	
	.headerHelpDiv p:nth-child(1)
	{
		padding-top: 0px;
		padding-bottom: 5px;
		border-bottom: 1px solid #999999;
		font-size: 12pt;
		font-family: oswald, arial;
		color: #444444;	
	}	
	
	#dropDownSearchContainerDiv
	{
		display: inline-block;
		width: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	#searchFormDropDownMenu
	{
		display: inline-block;
		width: 75%;
		max-width: 500px;		
	}
	
	#dropDownSearchTypeDiv
	{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 100px;
		height: 40px;
		background-color: #FFFFFF;
		border: 1px solid #DDDDDD;
		text-align: center;
		cursor: pointer;
		cursor: hand;	
	}	
	
	#dropDownSearchInputDiv
	{
		display: inline-block;
		vertical-align: middle;
		width: 75%;
		height: 40px;
		overflow: hidden;
		border: 1px solid #DDDDDD;
	}	
	
	
	#searchFormCustomInput
	{
		position: relative;
		display: inline-block;
		height: 50px;
		width: 75%;
		max-width: 500px;
		border: 1px solid #CCCCCC;
		text-align: left;	
	}	
	
	
	/* Footer */
	#footer	
	{
		display: inline-block;
		width: 100%;
		text-align: justify;
		text-justify: distribute-all-lines;
	}
	
	#footer div:first-child > div
	{
		display: inline-block;
		width: 20%;
		min-width: 210px;
		padding-top: 25px;
		text-align: left;
		vertical-align: top;
	}
																
																		
	#footer div:first-child > div h3
	{
		float: left; 
		width: 100%; 
		padding: 0px;
		padding-bottom: 7px;
		margin: 0px;
		border-bottom: 1px solid #999999; 
		font-size: 10pt; 
		font-family: montserratregular, oswald, arial;
		font-weight: normal;
		letter-spacing: 1px;
		color: #FFFFFF;
		text-transform: uppercase;
	}

	#footer div:first-child > div p
	{
		float: left; 
		width: 100%; 
		font-size: 11pt; 
		font-family: arial;
		font-weight: normal;
		color: #646B75;
		padding-top: 5px;
	}

	#footer div:first-child > div p:nth-child(2)
	{
		padding-top: 10px;
	}

	#footer div:first-child > div a:link, #footer div:first-child > div a:active, #footer div:first-child > div a:hover, #footer div:first-child > div a:visited
	{
		font: 11pt arial;
		color: #646B75;
		color: #888888;
	}									

	#footer div:first-child > div a:hover
	{
		color: #FFFFFF;
	}

	.titlebar
	{
		background-color: #445577;
		border: 1px solid #444444;
	}
									
	.bullet img
	{
		float: left;
		margin-top: 2px;
		margin-right: 5px;
		clear: left;
		border: none;
	}
	
	.bullet	p 
	{
		float: left;
		display: block;
		width: 95%;
	}

	.bullet2 img
	{
		float: left;
		margin-top: 7px;
		margin-right: 5px;
		clear: left;
		border: none;
	}
	
	.bullet2 p 
	{
		float: left;
		margin-top: 5px;
		display: block; 
		width: 96%;
	}

	.menuclass 
	{
		background-position: top left;
		background-repeat: repeat-y;
	}

		
	

	.searchtypeoptionlink a:link, .searchtypeoptionlink a:visited
	{
		color: #444444;
	}
	
	.searchtypeoptionlink a:hover
	{
		color: #FFFFFF !important;
		background-color: #999999;
	}


	.searchTypeOptionsContainer a:link, .searchTypeOptionsContainer a:visited
	{
		color: #444444;
	}
	
	.searchTypeOptionsContainer a:hover
	{
		color: #FFFFFF;
		background-color: #445577;
	}	

	.outerdiv
	{
		width: 970px;
		min-height: 1000px;
		margin: auto;
		padding: 0px;
		overflow: hidden;
		background-color: #FFFFFF;
		border: 1px solid #000000;
		border-top: none;
	}

	
	#headerextraspacediv
	{	
		width: 1px;
		overflow: hidden;
		visibility: hidden;
		display: none;
		font: 9pt arial;
	}

	#headerstaffmemberdiv
	{	
		width: 675px;
	}


	
									
	.searchtypeoptionsheader
	{	
		background-color: #EFEFEF;
	} 

	.searchtypeoptionsheader a:link, .searchtypeoptionsheader a:visited, .searchtypeoptionsheader a:hover	
	{
		color: #444444;
	}

	.searchtypeoptionsheader:hover
	{
		background-color: #445577;
	}

	.searchtypeoptionsheader:hover a:link, .searchtypeoptionsheader:hover a:visited, .searchtypeoptionsheader:hover a:hover
	{
		color: #FFFFFF;
	}


	#pixelslicensingheadersearchdiv
	{
		padding-left: 0px;
	}

	@font-face
	{
		font-family: avenir;
		src: url('font/avenir.ttf');
	}	
	
	@font-face
	{
		font-family: bebas;
		src: url('font/bebas.ttf');
	}

	@font-face
	{	
		font-family: cabin;
		src: url('font/cabinregular.otf');
	}	
	
	@font-face
	{
		font-family: centurygothic;
		src: url('font/centurygothic.ttf');
	}	
				
	@font-face
	{
		font-family: cheddarjack;
		src: url('font/cheddarjack.ttf');
	}

	@font-face
	{
		font-family: didot;
		src: url('font/didot.ttc');
	}	

	@font-face
	{
		font-family: futura;
		src: url('font/futura.ttf');
	}
	
	@font-face
	{	
		font-family: franchisebold;
		src: url('font/franchise-bold.ttf');
	}
	
	@font-face
	{
		font-family: gotham;
		src: url('font/gotham.ttf');
	}

	@font-face
	{
		font-family: gothamBold;
		src: url('font/gothamBold.ttf');
	}	

	@font-face
	{
		font-family: gothamMedium;
		src: url('font/gothamMedium.ttf');
	}
	
	@font-face
	{	
		font-family: knockout47;
		src: url('font/knockout47.otf');
		font-weight: normal;
		font-style: normal;				
	}	
			
	@font-face
	{	
		font-family: lanenar;
		src: url('font/lanenar.ttf');
	}
			
	@font-face
	{	
		font-family: leaguegothic;
		src: url('font/leaguegothic-regular-webfont.ttf');
	}
	
	@font-face
	{
		font-family: manus;
		src: url('font/manus.otf');
	}	
	
	@font-face
	{
		font-family: montserratlight;
		src: url('font/montserrat-light.otf');
	}

	@font-face
	{
		font-family: montserratregular;
		src: url('font/montserrat-regular.otf');
	}		
				
	@font-face
	{
		font-family: nevis;
		src: url('font/nevis.ttf');
	}

	@font-face
	{
		font-family: neosansmedium;
		src: url('font/neosansmedium.otf');
	}	
	
	@font-face
	{
		font-family: neosanslight;
		src: url('font/neosanslight.otf');
	}	
				
	@font-face
	{	
		font-family: oswald;
		src: url('font/oswaldregular.otf');
		src: url('font/oswaldregular.eot?#iefix') format('embedded-opentype'),
			 url('font/oswaldregular.woff') format('woff'),
			 url('font/oswaldregular.ttf') format('truetype'),
			 url('font/oswaldregular.svg#oswaldbook') format('svg');
		font-weight: normal;
		font-style: normal;				
	}
	
	@font-face
	{
		font-family: sunshine;
		src: url('font/sunshineInMySoul.ttf');
	}	
	
	@font-face
	{
		font-family: telegrafico;
		src: url('font/telegrafico.ttf');
	}
				
				
	/* New Navigation Styles */
	.navigationmenu
	{
		margin: 0px;
		padding: 0px;
		z-index: 50000;
	}

	.navigationmenu > li
	{
		float: left;
		padding: 0px;
		margin: 0px;
		list-style: none;
		font: 10pt arial;	
	}
		
	.navigationmenu > li > a
	{
		display: inline-block;
		overflow: hidden;
		height: 20px;
		margin: 0px;
		padding: 0px;
		padding-top: 9px;
		padding-bottom: 5px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: none;
		color: #555555;
		text-align: center;
		text-decoration: none;
		font-family: montserratlight, cabin, oswald, arial;
		font-size: 10pt;
		font-weight: normal;
		letter-spacing: 0px;
		text-shadow: none;
		background-image: none;
		background-position: top left;
		background-repeat: repeat-y;
		opacity: 1.00;
		transition: background-color 0s;
		border-left: none;
		line-height: 100%;
		vertical-align: middle;
		text-transform: none;
	}

	.navigationmenu > li:hover > a
	{
		color: #FFFFFF;
		background-color: #374353;
		opacity: 1.0;
		text-shadow: none;
		margin-top: 0px;
		transition: background-color 0.250s;
	}	
		
	.navigationmenuright > li:first-child > a
	{
	
	}
	
	.navigationmenuright > li:last-child > a
	{

	}	


		
	#mtopproducts > a
	{
		padding-left: 0px;
		padding-right: 15px;
		transition: padding 0.1s;
	}
	
	#mtopproducts:hover > a
	{
		padding-left: 8px;
		padding-right: 7px;
	}	
	
	.navigationmenudropdown
	{
		position: absolute;
		left: 0px;
		top: 34px;
		z-index: 5000;
		width: 95%;
		width: calc(100% - 50px);
		width: -webkit-calc(100% - 50px);
		width: -moz-calc(100% - 50px);
		padding: 25px;
		padding-bottom: 0px;
		visibility: hidden;
		background-color: #FFFFFF;
		border: 1px solid #DDDDDD;
		box-shadow: 0px 5px 25px -15px #EEEEEE;	

	}
	
	.buttonheadernavigationmenuclose:link, .buttonheadernavigationmenuclose:active, .buttonheadernavigationmenuclose:visited, .buttonheadernavigationmenuclose:hover   
	{
		float: right;
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		font: 9pt arial;
		text-decoration: none;
		background-color: #6A7476;
		border-radius: 2px;
		color: #FFFFFF;
	}
	
	.buttonheadernavigationmenuclose:hover
	{
		background-color: #374353;
	}
	
	.headernavigationmenutextdiv
	{	
		display: inline-block;
		width: 15%;
		padding-left: 1%;
		padding-right: 1%;
		min-width: 180px;
		vertical-align: top;
		padding-bottom: 30px;
	}
						
	.headernavigationmenutextdiv > div:nth-child(1)
	{	
		float: left; 
		width: 100%;
		padding-top: 0px;
		padding-bottom: 5px;
		border-bottom: 1px solid #CCCCCC;
		box-shadow: none;
		text-align: left;

	}
											
	.headernavigationmenutextdiv > div:nth-child(1) > p:nth-child(1)
	{	
		float: left;
		font-size: 12pt;
		font-family: cabin, oswald, arial;
		letter-spacing: 0.5px;
		color: #444444;
		text-shadow: none;
		text-decoration: none;
	}
	
	.headernavigationmenutextdiv > div:nth-child(1) > p:nth-child(1) a, .headernavigationmenutextdiv > div:nth-child(1) > p:nth-child(1) a:link
	{
		font-size: inherit;
		font-family: inherit;
		font-weight: inherit;
		color: inherit;
		text-shadow: inherit;
		text-decoration: inherit;
	}
	
	.headernavigationmenutextdiv > div:nth-child(1) > p:nth-child(1) a:hover
	{
		color: #000000;
		text-shadow: 1px 1px 2px #CCCCCC;
	}	
															
	.headernavigationmenutextdiv > div:nth-child(1) > p:nth-child(2)
	{
		float: right;
		padding-top: 8px; 
		font: 9pt arial;
	}

	.headernavigationmenutextdiv > div:nth-child(1) > p:nth-child(2) a, .headernavigationmenutextdiv > div:nth-child(1) > p:nth-child(2) a:link
	{
		font: 9pt arial; 
		color: #444444;
		text-decoration: underline;
	}		
	

	.headernavigationmenutextlist
	{
		display: inline-block;
		width: 100%;
		padding-top: 10px;
	}
	
	.headernavigationmenutextlist > li
	{
		display: inline-block;
		width: 100%;
		/*		
		background-image: url('HeaderNavigationArrowRight.png');
		background-position: 0px 5px;
		background-repeat: no-repeat;
		*/
		padding-top: 1px;
		padding-bottom: 1px;
		transition: background-position 0.250s;
		text-align: left;
	}
	
	.headernavigationmenutextlistsubjects > li
	{
		padding-top: 0px;
		padding-bottom: 0px;
	}
		
	.headernavigationmenutextlist > li:hover > a
	{
		/*
		background-color: #EEEEEE;
		background-position: 4px 5px;
		border-radius: 2px;
		*/
	
		text-decoration: underline;
	}
	
	.headernavigationmenutextlist > li > a
	{
		display: inline-block;
		width: calc(100% - 18px);
		width: -webkit-calc(100% - 18px);
		width: -moz-calc(100% - 18px);
		/*padding-left: 18px;*/
		font-size: 10pt;
		font-family: arial;
		font-weight: normal;
		color: #444444;
		text-decoration: none;
	}
	
	.headernavigationmenutextlist sup
	{
		padding-left: 5px;
		font: 7pt arial;
		color: #58DBD7;
		text-decoration: none;
	}
	
	.headernavigationmenutextlistsubjects > li:last-child > a
	{

	}	
	
	.headernavigationmenutextlist > li:last-child > a
	{
		
	}	
		
	.headercollectionsearchformdiv
	{
		display: inline-block;
		width: 90%;
		width: calc(100% - 2px);
		width: -webkit-calc(100% - 2px);
		height: 30px;
		margin-top: 25px;
		overflow: hidden;
		background-color: #FFFFFF;
		border: 1px solid #AAAAAA;
		border-radius: 2px;
		box-shadow: 5px 5px 8px #DDDDDD;
		overflow: hidden;
		vertical-align: middle;	
	}
	
	.headercollectionsearchformdiv > form
	{
		float: left;
		width: 100%;
		height: 100%;
	}
	
	.headercollectionsearchformdiv > form > input
	{
		float: left;
		width: 50%;
		width: calc(100% - 50px);
		width: -webkit-calc(100% - 50px);
		padding-top: 7px;
		padding-bottom: 8px;
		padding-left: 10px;
		background-color: #FFFFFF;
		border: none;
		box-shadow: none;
		outline: none;
		font: 9pt arial;
		color: #000000;	
	}
	
	.headercollectionsearchformdiv > form > div
	{
		float: right;
		width: 30px;
		height: 100%;
		border-left: 1px solid #999999;
		text-align: center;
		overflow: hidden;'	
	}
	
	.headercollectionsearchformdiv > form > div img
	{
		display: inline-block;
		width: 22px;
		height: 21px;
		padding-top: 4px;
		vertical-align: middle;
		border: none;	
	}
	
	
	#mobileNavigationDiv
	{
		display: none;
		position: absolute;
		z-index: 10001;
		left: 0px;
		top: 0px;
		width: 100px;
		height: 0%;
		min-height: 500px;
		background-color: #FFFFFF;
		border-right: 1px solid #444444;
		transition: width 0.125s;
		text-align: center;
	}
	
	#mobileNavigationBackgroundDiv
	{
		display: none;
		position: fixed;
		z-index: 10000;
		left: 0px;
		top: 0px;
		width: 0%;
		height: 0%;
		background-color: rgba(0,0,0,0.50);
	}
	
	#mobileNavigationInnerDiv
	{
		display: inline-block;
		width: 90%;
		margin-top: 5px;
		position: relative;
	}	

	.mobileNavigationListContainer
	{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		display: none;
		transition: all 0.5s ease-in-out;
	}
	
	.mobileNavigationMenuTopList
	{
		width: 100%;
	}
	
	.mobileNavigationMenuTopList > li
	{
		display: inline-block;
		width: 100%;
		border-top: 1px solid #CCCCCC;
		font-size: 14pt;
		font-family: oswald, arial;
		color: #444444;
		list-style: none;
		text-align: left;
	}
	
	.mobileNavigationMenuTopList > li:last-child
	{
		border-bottom: 1px solid #CCCCCC;
	}

	.mobileNavigationMenuTopList > li a, .mobileNavigationMenuTopList > li a:link, .mobileNavigationMenuTopList > li a:active, .mobileNavigationMenuTopList > li a:visited, .mobileNavigationMenuTopList > li a:hover
	{
		display: inline-block;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;		
		font-size: inherit;
		font-family: inherit;
		color: inherit;
	}
	
	.mobileNavigationMenuSubList
	{
		display: none;
		width: 100%;
		padding-top: 0px;
		padding-bottom: 15px;
	}
	
	.mobileNavigationMenuSubList > li
	{
		display: inline-block;
		width: 100%;
		border: none;
		font-size: 10pt;
		font-family: oswald, arial;
		color: #666666;
		list-style: none;
		text-align: left;	
	}
	
	.mobileNavigationMenuSubList > li:last-child
	{
		border-bottom: none;
	}

	.mobileNavigationMenuSubList > li > a
	{
		display: inline-block;
		width: 100%;
		font-size: inherit;
		font-family: inherit;
		color: inherit;
		padding-left: 0px;
	}
	
	.mobileNavigationLinkDownArrow
	{
		background-image: url('/images/iconDownArrowMobileNavigation.jpg');
		background-size: auto 35%;
		background-position: 100% center;
		background-repeat: no-repeat;	
	}	
	
	.mobileNavigationLinkRightArrow
	{
		background-image: url('/images/iconRightArrowMobileNavigation.jpg');
		background-size: auto 50%;
		background-position: 100% center;
		background-repeat: no-repeat;	
	}
	
	.mobileNavigationLinkLeftArrow, .mobileNavigationLinkLeftArrow:link, .mobileNavigationLinkLeftArrow:active, .mobileNavigationLinkLeftArrow:visited, .mobileNavigationLinkLeftArrow:hover
	{
		float: left;
		font-size: 12pt;
		font-family: oswald, arial;
		color: #6666666;
		margin-top: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 25px;
		background-image: url('/images/iconLeftArrowMobileNavigation.jpg');
		background-size: auto 70%;
		background-position: 0% center;
		background-repeat: no-repeat;	
	}	
	
	.mobileNavigationBackDiv
	{
		display: inline-block;
		width: 100%;
		height: 25px;
		padding-bottom: 15px;
		overflow: hidden;
	}
	
	.mobileNavigationBackDiv img
	{
		float: right;
		padding-top: 10px;
	}
	
	.fullWidthDropDownMenu
	{
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 2000;
		width: 100%;
		width: calc(100% - 52px);
		width: -webkit-calc(100% - 52px);
		padding: 25px;
		margin-top: -1px;
		visibility: hidden;
		border: 1px solid #AAAAAA;
		background-color: #FFFFFF;
	}
	
	.fullWidthDropDownMenu.menuVerticalOffset
	{
		top: 34px;
		margin-top: 0px;
		border: 1px solid #AAAAAA;
		border-top: 1px solid #AAAAAA;
		box-shadow: 0px 5px 25px -15px #EEEEEE;			
	}

	.arrowdown
	{
		display: inline-block;
		vertical-align: top;
		width: 0px; 
		height: 0px; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #FFFFFF;
	}				
				
				
	.navigationmenu .mshowmobile
	{
		display: none;
	}
				
				
	#mtopthreelines
	{
		display: none;
	}
	
	#mtopthreelines > a	
	{
		padding-left: 5px;
		padding-right: 5px;
	}	
	
	#mtopthreelines > a > div
	{
		background-color: #444444 !important;
	}
	
	#mtopthreelines:hover > a > div
	{
		background-color: #FFFFFF !important;
	}	
	
	
	
	
	.breadcrumblist
	{
		display: inline-block;
		width: 100%;
		text-align: left;
		font: 9pt arial;
		color: #999999;
	}
	
	.breadcrumblist li
	{
		display: inline-block;
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: middle;
		list-style: none;
		font: inherit;
		color: inherit;
		text-transform: none;
	}
	
	.breadcrumblist a, .breadcrumblist a:link, .breadcrumblist a:visited, .breadcrumblist a:hover, .breadcrumblist a:active
	{
		font: inherit;
		color: #777777;
		font-weight: normal;
	}
	
	.breadcrumblist a:hover
	{
		color: #222222;
		text-decoration: underline;
	}	
	
	
	/* New Header */
	
	#headerMainLinksContainer
	{
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		order: 2;
		-webkit-order: 2;
	}	
	
	
	.headerNavigationLinks, .headerNavigationLinks:active, .headerNavigationLinks:link, .headerNavigationLinks:visited, .headerNavigationLinks:hover
	{
		display: inline-block;
		vertical-align: middle;	
		padding-bottom: 2px;
		padding-left: 8px;
		padding-right: 8px;
		border: 2px solid transparent;	
		font-family: montserratregular, cabin;
		font-size: 12.5pt;
		letter-spacing: 0.5px;
		text-decoration: none;
		color: #444444;
	}
	
	.headerNavigationLinks:hover
	{
		border: 2px solid rgba(0,0,0,0.15);
	}	
	
	#headerNavigationShopLink
	{
		display: none;
	}
	
	#headerNavigationContainerSearch
	{
		display: none;
		vertical-align: middle;
	}
	
	#searchFormHeader
	{	
		position: relative;
		display: inline-block;
		vertical-align: middle;
		height: 30px;
		background-color: #FFFFFF;
		border: 1px solid #BBBBBB;
		text-align: left;
		margin-left: 25px;
		margin-right: 25px;
	}
	
	#headerSearchTypeDiv
	{
		float: left;
		width: 85px;
		height: 100%;
		background-color: #FFFFFF;
		border-right: 1px solid #DDDDDD;
		text-align: center;
		cursor: pointer;
		cursor: hand;
		display: none;
	}
	
	#headerNavigationSearchIcon
	{
		display: inline-block;
		vertical-align: middle;
		max-height: 16px;
		margin-left: -7px;
		margin-top: -2px;
	}
		
	@media screen and (max-width: 1250px)
	{
		#headerNavigationDiscoverLink
		{
			display: none;
		}
		
	}
	
	@media screen and (max-width: 1100px)
	{
		#headerNavigationArtLink, #headerNavigationHomeDecorLink, #headerNavigationTechLink, #headerNavigationApparelLink, #headerNavigationMenLink, #headerNavigationWomenLink
		{
			display: none;
		}
		
		#searchFormHeader
		{
			margin-left: 0px;
		}
				
		#headerNavigationShopLink
		{
			display: inline-block;
		}
	
	}	

	@media screen and (max-width: 840px)
	{	
		#headerNavigationCreateLink
		{
			display: none;
		}

		#searchFormHeader
		{
			display: none;
		}
		
		#headerNavigationContainerSearch
		{
			display: inline-block;
		}
		
		#dropDownSearchContainerDiv
		{
			padding-top: 20px;
			padding-bottom: 20px;
		}
		
		#searchFormDropDownMenu
		{
			width: 100%;
		}
		
	}

	@media screen and (max-width: 600px)
	{
		#headerAnnouncementDiv
		{
			display: none;
		}
		
		#headerNavigationSearchLink
		{
			display: none;
		}
		
		#headerNavigationSearchIcon
		{
			max-height: 20px;
			margin-left: 15px;
			margin-top: -2px;
		}
		
		#dropDownSearchInputDiv
		{
			width: 90%;
			margin-top: 20px;
		}
		
		#searchFormCustomInput
		{
			width: 90%;
		}		

	}

	@media screen and (max-width: 440px)
	{
		#headerlogodivnew
		{
			max-width: 150px;
		}
		
		#headerNavigationSellLink
		{
			display: none;
		}
	}	
	
	
						
	/* Media Queries */
	

	@media screen and (max-width: 1250px)
	{
		#headerextraspacedivnew
		{
			display: none;
		}
		
		#headerNavigationDiscoverLink
		{
			display: none;
		}
		
	}
	
	@media screen and (max-width: 1100px)
	{
		#headerNavigationArtLink, #headerNavigationHomeDecorLink, #headerNavigationTechLink, #headerNavigationApparelLink, #headerNavigationMenLink, #headerNavigationWomenLink
		{
			display: none;
		}
				
		#headerNavigationShopLink
		{
			display: inline-block;
		}
	
	}
	
	
	@media screen and (max-width: 980px)
	{		
		#headerstaffmemberdynamicdiv > div
		{
			margin-left: 2px;
			margin-right: 2px;
		}
	}	
		
	@media screen and (max-width: 968px)
	{
		#headermainlinksdivnew	{	width: 140px;	}
		#headermainlinksdivnew > *:nth-child(3)	{	display: none;}
		#headermainlinksdivnew > *:nth-child(4)	{	display: none;}
	
		#mtopmemberactivity, #mtopmemberinbox
		{
			display: none;
		}

		#mtopmember > a > img
		{
			display: none !important;
		}
		
	}					
		
	@media screen and (max-width: 760px)
	{	
		#headermainlinksdivnew
		{
			display: none;	
		}
		
		.breadcrumblist
		{
			text-align: center;
		}
		
		#footer div:first-child > div
		{	
			display: inline-block;
			width: 45%;
			min-width: 210px;
			padding-top: 25px;
			text-align: left;
			vertical-align: top;
		}				
		
		#headerwidgetsearchdivnew
		{
			margin-right: 50px;
		}
		
		#mtophome
		{
			display: none;
		}
		
		#mtopedit > a > span
		{
			display: none;
		}
		
	}
	
	@media screen and (max-width: 640px)
	{
		#header
		{	
			padding-top: 0px;
			padding-bottom: 0px;
		}
									
		#headershoppingcartdivnew
		{
			width: 23px;
			text-align: right;
			margin-top: 0px;
		}
				
		#headerwidgetsearchdivnew
		{
			margin-right: 0px;
		}
				
		#headershoppingcartdivnew > div:nth-child(1) > p
		{
			display: none;
		}
											
									
		#headershoppingcartdivnew #currencydivlink 
		{	
			display: none !important;
		}			
		
		/* Navigation Menu */
		
		#mtopthreelines
		{
			display: inline-block;
		}
		
		#mtopshop, #mtopproducts, #mtopcollections, #mtopsubjects, #mtopcommunity, #mtopabout, #mtopsell, #menuTopHelp
		{
			display: none;
		}
		
		/* Artist Websites */
		#mtophome, #mtopimages, #mtopgalleries, #mtopsocial, #mtopcontact
		{
			display: none;
		}
		
		#headernavigationdiv
		{
			/* display: none; */
		}
		
		#breadcrumbContainer
		{
			display: none;
		}
		
		.breadcrumblist
		{
			display: none;		
		}
		
		#footer
		{
			text-align: center;
			width: 100%;
		}				
		
		#footer div:first-child > div
		{
			width: 100%;
		}				
		
	}

	@media screen and (max-width: 560px)
	{

		#headercontainerdiv .container
		{
			width: 95%;
		}
		
		#headernavigationcontainerdiv .container
		{
			width: 100%;
		}
		
		#mtopthreelines
		{
			margin-left: 5px;
		}
						
		#header
		{
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			-webkit-flex-direction: row;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			justify-content: space-between;
			-webkit-justify-content: space-between;
			align-items: center;
			-webkit-align-items: center;		
		}
			
		#headerwidget
		{
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			-webkit-flex-direction: row;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			justify-content: space-between;
			-webkit-justify-content: space-between;
			align-items: center;
			-webkit-align-items: center;		
		}
			
		#headerbackgrounddiv
		{
			display: none;
		}
		
		#headersearchdivnew
		{
			display: none;
			order: 10;
			-webkit-order: 10;
			margin: auto;
			margin-bottom: 25px;
		}
		
		#headerwidgetsearchdivnew
		{
			display: none;
			order: 10;
			-webkit-order: 10;
			margin: auto;
			margin-top: 15px;
			margin-bottom: 15px;
		}		
		
		#headersearchicondivnew
		{
			display: inline-block;
		}
		
		
		.headernavigationmenutextdiv
		{
			width: 40%;
			min-width: 120px;
		}
	
	}

	@media screen and (max-width: 480px)
	{

	}
	
	
	
	/*  This is code for the Ecommerce Configurator widget.  */
	#headerWidget
	{
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		align-items: center;
		-webkit-align-items: center;		
	}	
	
	#headerWidgetBackDiv
	{
		display: inline-block;
		vertical-align: middle;
		order: 1;
		-webkit-order: 1;
		font: 9pt arial;
		text-align: left;
		overflow: hidden;
	}
	
	
	#headerWidgetUploadImageDiv
	{
		display: inline-block;
		vertical-align: middle;
		order: 2;
		-webkit-order: 2;
		font-family: oswald, arial;
		font-size: 12pt;
		font-weight: normal;
		letter-spacing: 0px;
		color: #555555;
		text-shadow: none;
		vertical-align: middle;'	
	}
	
	#headerWidgetSearchDiv
	{
		display: inline-block;
		vertical-align: middle;
		order: 3;
		-webkit-order: 3;
	}
	
	#headerWidgetSearchIconDiv
	{
		display: none;
		vertical-align: middle;
		order: 4;
		-webkit-order: 4;
	}
	
	#headerWidgetUserDiv
	{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		max-width: 150px;
		text-align: right;
		order: 6;
		-webkit-order: 6;
	}
	
	#headerWidgetUserDropdownDiv
	{
		position: absolute;
		left: auto;
		right: 0px;
		top: 35px;
		z-index: 5000;
		width: 150px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #FFFFFF;
		border: 1px solid #999999;
		text-align: left;
		visibility: hidden;
		overflow: hidden;
	}
	
	#headerWidgetUserDropdownDiv a, #headerWidgetUserDropdownDiv a:active, #headerWidgetUserDropdownDiv a:link, #headerWidgetUserDropdownDiv a:hover, #headerWidgetUserDropdownDiv a:visited
	{
		display: inline-block;
		width: 100%;
		width: calc(100% - 30px);
		width: -webkit-calc(100% - 30px);
		font-size: 10pt;
		font-family: arial;
		color: #444444;
		padding: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	#headerWidgetUserDropdownDiv a:hover
	{
		color: #000000;
		background-color: #EEEEEE;
	}
	
	#headerWidgetuserQuickLinksDiv
	{
		display: inline-block;
		display: none;
		width: 100%;
		font: 9pt arial;
	}
	
	#headerWidgetUserQuickLinksDiv a, #headerWidgetUserQuickLinksDiv a:active, #headerWidgetUserQuickLinksDiv a:link, #headerWidgetUserQuickLinksDiv a:hover, #headerWidgetUserQuickLinksDiv a:visited
	{
		font: inherit;
		color: #444444;
		text-decoration: underline;
	}
	
	#headerWidgetUserQuickLinksDiv a:hover
	{
		text-decoration: underline;
	}
	
	#headerWidgetIconGear
	{
		display: inline-block;
		vertical-align: middle;
		max-width: 20px;
		padding-right: 5px;
	}
	
	#headerWidgetUserName
	{
		display: inline-block;
		vertical-align: middle;
		font-family: oswald, arial;
		font-size: 12pt;
		font-weight: normal;
		letter-spacing: 0px;
		color: #555555;
		text-shadow: none;
		vertical-align: middle;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	.ecommerceContainerDiv
	{
		display: inline-block;
		width: 100%;
		border: none;
		padding-top: 10px;
		padding-bottom: 40px;
		text-align: center;
	}

	.ecommerceButton, .ecommerceButton:active, .ecommerceButton:link, .ecommerceButton:visited, .ecommerceButton:hover
	{
		display: inline-block;
		vertical-align: top;
		width: 30%;
		max-width: 200px;
		padding: 5px;
		border: 2px solid #CCCCCC;
		border-radius: 0px;
		text-align: center;
		font-size: 12pt;
		font-family: avenir, arial;
		color: #444444;
		text-decoration: none;
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: 10px;
	}

	.ecommerceButton.ecommerceButtonAdd, .ecommerceButton.ecommerceButtonDelete
	{
		width: 50%;
		width: calc(80% - 14px);
		width: -webkit-calc(80% - 14px);
	}
	
	.ecommerceButton:hover
	{
		border: 2px solid #999999;
		background-color: #F5F5F5;
	}

	@media screen and (max-width: 900px)
	{		
		#headerWidgetSearchDiv
		{
			display: none;
			order: 10;
			-webkit-order: 10;
			margin: auto;
			margin-top: 15px;
			margin-bottom: 15px;
		}		
		
		#headerWidgetSearchIconDiv
		{
			display: inline-block;
		}
		
		#headerWidgetuserQuickLinksDiv
		{
			display: none;
		}

	}
	
	@media screen and (max-width: 640px)
	{
		#headerWidgetUploadImageDiv
		{
			display: none;
		}
		
		#headerWidgetUserName
		{
			display: none;
		}
	}	
	
				
