.color-pronote-a {
	color: #148440;
}
.bgcolor-pronote-a {
	background-color: #148440;
}

.color-pronote-b {
	color: #087c33;
}
.bgcolor-pronote-b {
	background-color: #087c33;
}

.color-pronote-c {
	color: #008d66;
}
.bgcolor-pronote-c {
	background-color: #008d66;
}

.color-pronote-d {
	color: #01694c;
}
.bgcolor-pronote-d {
	background-color: #01694c;
}

.color-pronote-e {
	color: #017857;
}
.bgcolor-pronote-e {
	background-color: #017857;
}

.color-pronote-f {
	color: #017d5a;
}
.bgcolor-pronote-f {
	background-color: #017d5a;
}

.color-pronote-g {
	color: #008d66;
}
.bgcolor-pronote-g {
	background-color: #008d66;
}

.color-pronote-h {
	color: #012d21;
}
.bgcolor-pronote-h {
	background-color: #012d21;
}

.color-pronote-i {
	color: #014e38;
}
.bgcolor-pronote-i {
	background-color: #014e38;
}

.color-pronote-j {
	color: #017252;
}
.bgcolor-pronote-j {
	background-color: #017252;
}


.btn-pronote {
  background-color:#148440;
  border-color: #087c33;
  color:white;
}

.btn-pronote:hover {
  background-color:#087c33;
  color:#eee;
}

.navbar-nav > li.open > .dropdown-toggle-pronote,
#main-menu > li.open > .dropdown-toggle-pronote,
.navbar-nav > li.open.active > .dropdown-toggle-pronote,
#main-menu > li.open.active > .dropdown-toggle-pronote {
  background: #292929;
  color : #148440;
}

@media (min-width: 992px) {
    /* CSS MODIF COULEUR NAVBAR PRONOTE */
  .navbar-nav > li.open > .dropdown-toggle-pronote,
  #main-menu > li.open > .dropdown-toggle-pronote,
  .navbar-nav > li.open.active > .dropdown-toggle-pronote,
  #main-menu > li.open.active > .dropdown-toggle-pronote,
  .navbar-nav > li.open > .dropdown-toggle-pronote,
  #main-menu > li.open > .dropdown-toggle-pronote,
  .navbar-nav > li.open.active > .dropdown-toggle-pronote,
  #main-menu > li.open.active > .dropdown-toggle-pronote {
    border-top-color: tranparent!important;
	background:#f1f1ef;
	color : #72256c;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
	border-bottom:transparent;
    /* pronote colour */
  }
 }
 

  .navbar-nav > li > .dropdown-toggle-pronote,
  #main-menu > li > .dropdown-toggle-pronote  {
    border-top-color: transparent !important;
	color : #148440;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
	border-bottom:transparent;
    /* pronote colour */
  }
  
    .navbar-nav > li > .dropdown-toggle-pronote a,
  #main-menu > li > .dropdown-toggle-pronote a  {
border:1px solid red !important;
color:red !important;
    /* pronote colour */
  }
 
  #jPanelMenu-menu .dropdown-toggle-pronote span {
  border-radius:0px; 
  border:0px solid #0182b8 !important;
  background:none;
  padding:0
  }
  
  #jPanelMenu-menu .dropdown-toggle-pronote span:hover {
  border-radius:0px; 
  border:0px solid transparent !important;
  background:transparent;
  padding:0
  } 
  .dropdown-toggle-pronote span:hover {
  border-radius:4px; 
  border:1px solid #148440 !important;
  background:#148440;
  color:white; 
  padding:0.5em 0.9em
  }
  
    .dropdown-toggle-pronote span {
  border-radius:4px; 
  border:1px solid #148440 !important;
  background:#148440;
  color:white; 
  padding:0.5em 0.9em;
  font-size:0.9em
  }
  

  .pronote .menu-titre {
    color :  #148440;
	border-bottom:1px solid #148440;
 }
 
 .navbar-collapse .pronote .dropdown-menu .dropdown-header {
	color:#148440;
}

/* --------------------------------------------------
 * Sidemenu
 *-------------------------------------------------- */

.section-menu.pronote ul.nav-list li a {
  color: #148440;
}

.section-menu.pronote ul.nav-list li.active > a,
.section-menu.pronote ul.nav-list li.active > a:hover {
  color: #148440;
 }

.section-menu.pronote ul.nav-list li a:hover i {
  color: #008d66;
  }
  
.section-menu.pronote ul.nav-list li.active > a:hover i {
  color: #008d66;
  }
  
.section-menu.pronote ul.nav-list li.active > a i {
  color: #008d66;
  }
  
.section-menu.pronote .sidebar-ss-menu a.active {
	color:#148440 !important;
 }
 
 
 .list-group-item.titre-presentation-pronote, .list-group-item.titre-presentation-pronote:focus, .list-group-item.titre-presentation-pronote:hover {
    background-color: #148440;
	font-family:"Dancing Script", cursive;
	font-size:1.5em;
	color:#fff
}

/*////////////////////TARIFS FORMULES////////////////////////////////*/
.tarifs-pronote {
background-color:#148440;
padding:2%
}

/*////////////////////blockquote////////////////////////////////*/
.blockquote-pn p {
    background: none repeat scroll 0 0 #148440;
    border-radius: 3px;
    padding: 15px;
    position: relative;
	color:white;
}
.blockquote-pn p:after, blockquote p:before {
    border: medium solid transparent;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
}
.blockquote-pn p:after {
    border-top-color: #148440;
    border-width: 10px;
    left: 10%;
    margin-left: -10px;
}
.blockquote-pn p:before {
    border-top-color: rgba(0, 0, 0, 0.01);
    border-width: 11px;
    left: 10%;
    margin-left: -11px;
}


/*////////////////////panel////////////////////////////////*/

.panel-pronote {
  border-color: #148440;
}
.panel-pronote > .panel-heading {
  color: #333;
  background-color: #148440;
  border-color: #148440;
}
.panel-pronote > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #148440;
}
.panel-pronote > .panel-heading {
  color: #fff !important;
  background-color: #148440;
}
.panel-pronote > .panel-heading > .open.active a {
color:#fff !important

}
.panel-pronote > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #148440;
}

.panel-pronote > ul.nav-tabs li.active a, ul.nav-tabs li.open.active a, ul.nav-tabs li.active, ul.nav-tabs li.open.active {
    color: red !important;
}
 