/*/////////////////////////////////////////////////////////////////////
//
// Custom theme code styles
// Written by Themelize.me (http://themelize.me)
//
// This is an empty starter template for overriding styles
// set by Bootstrap & the theme
//
// ----------------------------------------------------
//
// Remove unused code for better performances
//
// ----------------------------------------------------
//
// @see - Usefuls tools online for editing
// 1. http://charliepark.org/bootstrap_buttons/ - Button style generator
// 2. http://www.colorzilla.com/gradient-editor/ - CSS3 gradient maker
//
// @note
// To ensure custom styles are picked up
// wrap definitions in body tag
// ie.
// body .navbar-inner {
//   background: #ff0000;
// }
//
/////////////////////////////////////////////////////////////////////*/
/*
 * --------------------------------------------------
 * 1. General Elements
 *--------------------------------------------------
 */
body {
font-size:1.3em !important;
line-height:auto
}

body a {
line-height:auto
}




.main-container, .main-container-edt, .main-container-pn, .main-container-hp, .main-container-espaceclient{
	background: url("../img/commun/bg.png") repeat fixed left top;
}


.main-container-espaceclient {
	background-image: url('../img/commun/bg-espaceclient.png');
	background-color:#f9f9f9;
}

.main-container-edt {
	background-image: url('../img/commun/bg-edt.png');
	background-color:#f9f9f9;
}

.main-container-us {
	background: rgba(0, 0, 0, 0) url('../img/photos/test-us.jpg') no-repeat scroll center center / cover;
	background-repeat:no-repeat;
	background-color:#f9f9f9;

}

.main-container-pn {
	background-image: url('../img/commun/bg-pronote.png');
	background-color:#f9f9f9;
}

.main-container-hp {
	background-image: url('../img/commun/bg-hp.png');
	background-color:#f9f9f9;
}


@media (min-width: 368px) {
	.container {
		width: 360px;
	}
}

@media (min-width: 468px) {
	.container {
		width: 450px;
	}
}

@media (min-width: 568px) {
	.container {
		width: 558px;
	}
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

ol, ul {
padding-left:1.5em;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	margin-bottom: 0.8em;
}

.pull-bottom {
	display: inline-block;
	vertical-align: bottom;
	float: none;
}

.popover {
	z-index: 100000 !important; /* A value higher than 1010 that solves the problem */
}

.scrollup {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 80px;
	right: 3%;
	overflow: hidden;
	width:60px;
	height:60px;
	text-indent: 100%;
	background: url(../img/commun/top.png) no-repeat 0px 0px;
	background-size:100%;
	z-index:99999999;
	opacity:0.8
}

@media (max-width: 700px) {
	.scrollup {
		bottom: 15px;
	}
}

.disabledText {
	color: #aaaaaa;
	font-style: italic;
}


/*
 * --------------------------------------------------
 * Propriétés d'image
 *--------------------------------------------------
 */

.img-center {margin:0 auto;}

.img-rounded {
	border-radius: 4px;
}

.img-mg-05 {
	margin:0.5em
}

/*
 * --------------------------------------------------
 * Ajout alignement text selon la taille
 *--------------------------------------------------
 */

@media (max-width: 500px) {
	.text-left-xs {
	text-align: left;
	}
	.text-right-xs {
	text-align: right;
	}
	.text-center-xs {
	text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.text-left-sm {
	text-align: left;
	}
	.text-right-sm {
	text-align: right;
	}
	.text-center-sm {
	text-align: center;
	}
}

@media (min-width: 992px) and (max-width: 1198px) {
	.text-left-md {
	text-align: left;
	}
	.text-right-md {
	text-align: right;
	}
	.text-center-md {
	text-align: center;
	}
}

@media (min-width: 1200px) {
	.text-left-lg {
	text-align: left;
	}
	.text-right-lg {
	text-align: right;
	}
	.text-center-lg {
	text-align: center;
	}
}



#navigation {
/* 1. Navigation wrapper */
}
#highlighted {
/* 2. Highlighted (below header) wrapper */
}
#content {
/* 3. Content wrapper */
	padding: 5px 0px 15px 0px;
}

.jPanelMenu-panel {
background:none !important;
}

#jPanelMenu-menu .pull-right {
float:left !important;
min-width:280px;
}

#post_content {
	padding-bottom:5px;
	min-height:2em;
	display:block;
}

.well {
background-color:#f1f1ef;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}

.well-white {
background-color:white;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}

#slider {
padding:0px;
margin-right: auto;
margin-left: auto;
margin-bottom:15px
}
@media (min-width: 768px) {
#slider {
	width: 750px;
}
}
@media (min-width: 992px) {
#slider  {
	width: 970px;
}
}
@media (min-width: 1200px) {
#slider  {
	width: 1170px;
}
}

#content-below {
/* 4. Content Below wrapper */
min-height:600px;
padding: 20px;
border-top: none;
background: #fff;
-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.43);
-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.43);
box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.43);
}
#footer {
/* 5. Footer wrapper */
}

.home {
background:#f1f1ef;
-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.43);
-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.43);
box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.43);
margin-top:0px;
padding:20px 20px 20px 20px;
}

.encadre {
	background-color: #ddd;
	border-radius: 4px;
	border: 1px solid #444;
}



/*
 * --------------------------------------------------
 *   Classes no Padding
 *--------------------------------------------------
 */

.no-margin {
margin:0 !important;
}

.no-margin-right {
margin-right:0 !important;
}

.no-margin-left {
margin-left:0 !important;
}


.no-padding {
padding:0 !important;
}

.no-padding-right {
padding-right:0 !important;
}

.no-padding-left {
padding-left:0 !important;
}

.no-puce {
list-style-type:none !important;
padding-left:1em !important;
}

.width-5 {
max-width:5%
}

.width-8 {
max-width:8%
}

.width-10 {
max-width:10%
}

.width-15 {
max-width:15%
}

.width-20 {
max-width:20%
}

.width-30 {
max-width:30%
}

.width-40 {
max-width:40%
}

.width-50 {
max-width:50%
}

.width-60 {
max-width:60%
}

.width-70 {
max-width:70%
}


/*
 * --------------------------------------------------
 *   Liens
 *--------------------------------------------------
 */

.lien-xs:before {
font-size:1.2em !important;
padding: 1px 0px 0px 0px !important;
}

.lien-pdf:hover {
text-decoration:none !important;
}

.lien-pdf:before {
	font-family: FontAwesome;
	font-size: 1.5em;
	content: "\f1c1";
	padding: 0 5px 0 0;
	text-decoration:none;
	font-weight:200;
	color:#e54c50;
}

.lien-pdf-big {
font-size:1.7em
}

.lien-pdf-big:hover {
text-decoration:none !important;
}

.lien-pdf-big:before {
	font-family: FontAwesome;
	font-size: 1.4em;
	content: "\f1c1";
	padding: 0 5px 0 0;
	text-decoration:none;
	font-weight:200;
	color:#e54c50;
}

.lien-tuto:hover {
text-decoration:none !important;
}

.lien-tuto:before  {
	font-family: FontAwesome;
	font-size: 1.6em;
	content: "\f144";
	padding: 0px 5px 0px 0px;
	text-decoration:none;
	font-weight:200;
	color:#17cb8e;
	vertical-align:middle;
}

.lien-faq:hover {
text-decoration:none !important;
}

.lien-faq:before  {
	font-family: FontAwesome;
	font-size: 1.5em;
	content: "\f059";
	padding: 0px 5px 0px 0px;
	text-decoration:none;
	font-weight:200;
	color:#b6a5de;
	vertical-align:middle;
}

.lien-tarifs:hover {
text-decoration:none !important;
}

.lien-tarifs:before  {
	font-family: FontAwesome;
	font-size: 1.5em;
	content: "\f02b";
	padding: 0px 5px 0px 0px;
	text-decoration:none;
	font-weight:200;
	color:#f5aa51;
	vertical-align:middle;
}

.lien-plus:hover {
text-decoration:none !important;
}

.lien-plus:before  {
	font-family: FontAwesome;
	font-size: 1.5em;
	content: "\f055";
	padding: 0px 5px 0px 0px;
	text-decoration:none;
	font-weight:200;
	color:#566085;
	vertical-align:middle;
}

.lien-check:hover {
text-decoration:none !important;
}

.lien-check:before  {
	font-family: FontAwesome;
	font-size: 1.5em;
	content: "\f14a";
	padding: 0px 5px 0px 0px;
	text-decoration:none;
	font-weight:200;
	color:#89ba44;
	vertical-align:middle;
}

.lien-mail:hover,
.lien-mail a:hover {
text-decoration:none !important;
}
.lien-mail:before
{
	font-family: FontAwesome;
	font-size: 1.5em;
	content: "\f0e0";
	padding: 1px 5px 0px 0px;
	text-decoration:none;
	font-weight:200;
	color:#f7cb23;
	vertical-align:-4%;
}

.lien-calendrier:hover,
.lien-calendrier a:hover {
text-decoration:none !important;
}
.lien-calendrier:before
{
	font-family: FontAwesome;
	font-size: 1.5em;
	content: "\f073";
	padding: 1px 4px 0px 0px;
	text-decoration:none;
	font-weight:200;
	color:#e44d4d;
	vertical-align:-4%;
}

.lien-xls:hover,
.lien-xls a:hover {
text-decoration:none !important;
}
.lien-xls:before
{
	font-family: FontAwesome;
	font-size: 1.5em;
	content: "\f1c3";
	padding: 1px 4px 0px 0px;
	text-decoration:none;
	font-weight:200;
	color:#169d2f;
	vertical-align:-4%;
}

.lien-telech:hover,
.lien-telech a:hover {
text-decoration:none !important;
}
.lien-telech:before
{
	font-family: FontAwesome;
	font-size: 1em;
	content: "\f0a9";
	padding: 1px 1px 0px 0px;
	text-decoration:none;
	font-weight:200;
	color:#b9ccf5;
	vertical-align:-4%;
}


/*
 * --------------------------------------------------
 *   Titres
 *--------------------------------------------------
 */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
font-family: inherit;
font-weight: 700;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
font-weight: normal;
line-height: 1;
color: rgba(27, 27, 27, 0.8);
}
h1 {
font-size: 2em;
margin-top:0px;
text-align:center;
padding-bottom:7px;
margin-bottom:15px;
border-bottom:1px solid #e6e6e6;
}
h2 {
font-size: 1.7em;
margin-bottom:5px;
}
h3 {
font-size: 1.1em;
}
h4 {
font-size: 1.3em;
font-weight:bold;
line-height:1.3em
}
h5 {
font-size: 1.3em;
line-height: 1.2;
border-bottom:1px solid #ddd;
padding-bottom:0.5em
}
h6 {
font-size: 1.2em;
margin-bottom:0.1em
}
h1 small {
font-size: 21.7px;
}
h2 small {
}
h3 small {
font-size: 11px;
}
h4 small {
font-size: 12px;
}

.text-italic {
	font-family:"Dancing Script", cursive;
	font-size:1.8em;
}

p {margin-bottom:10px}

/*
 * --------------------------------------------------
 * Séparateurs
 *--------------------------------------------------
 */

hr {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e6e6e6 -moz-use-text-color -moz-use-text-color;
	border-image: none;
	border-right: 0 none;
	border-style: solid none none;
	border-width: 1px 0 0;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow : 1px 1px 1px #fff;
	}

/*
 * --------------------------------------------------
 * Couleurs
 *--------------------------------------------------
 */

.primary-colour {
	color: #566085!important;
/* primary colour */
}


/*
 * --------------------------------------------------
 * Boutons
 *--------------------------------------------------
 */

.btn {
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
		touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
	color: #333;
	text-decoration: none;
}
.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
			box-shadow: none;
	opacity: .65;
}


.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	font-weight:bold
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
	background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #fff;
	border-color: #ccc;
}
.btn-default .badge {
	color: #fff;
	background-color: #333;
}

.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #337ab7;
	border-color: #2e6da4;
}
.btn-primary .badge {
	color: #337ab7;
	background-color: #fff;
}

.btn-qcm {
	color: #fff;
	background-color: #058058;
	border-color: #046747;
}
.btn-qcm:hover,
.btn-qcm:focus,
.btn-qcm.focus,
.btn-qcm:active,
.btn-qcm.active,
.open > .dropdown-toggle.btn-qcm {
	color: #fff;
	background-color: #046747;
	border-color: #03543a;
}
.btn-qcm:active,
.btn-qcm.active,
.open > .dropdown-toggle.btn-qcm {
	background-image: none;
}
.btn-qcm.disabled,
.btn-qcm[disabled],
fieldset[disabled] .btn-qcm,
.btn-qcm.disabled:hover,
.btn-qcm[disabled]:hover,
fieldset[disabled] .btn-qcm:hover,
.btn-qcm.disabled:focus,
.btn-qcm[disabled]:focus,
fieldset[disabled] .btn-qcm:focus,
.btn-qcm.disabled.focus,
.btn-qcm[disabled].focus,
fieldset[disabled] .btn-qcm.focus,
.btn-qcm.disabled:active,
.btn-qcm[disabled]:active,
fieldset[disabled] .btn-qcm:active,
.btn-qcm.disabled.active,
.btn-qcm[disabled].active,
fieldset[disabled] .btn-qcm.active {
	background-color: #337ab7;
	border-color: #2e6da4;
}
.btn-qcm .badge {
	color: #337ab7;
	background-color: #fff;
}


/*
 * --------------------------------------------------
 * Panels
 *--------------------------------------------------
 */
.panel-primary {
	border-color: #4b557a;
}

.panel-title {
	color: inherit;
	margin-bottom: 0;
	margin-top: 0;
	font-size:initial;
	font-weight:bold;
}

.panel-primary > .panel-heading {
	background-color: #566085;
	border-color: #4b557a;
	color: #fff;
}

.panel-primary a, .panel-default a {
	color:#566085 ;
}

.panel-primary a:hover, .panel-default a:hover {
	color:#6179ab ;
}

.panel-video {
	border-color: #969696;
	background-color:#2d2d2d;
}

.panel-video a:hover {
	text-decoration:none !important;
}

.panel-video > .panel-heading {
	background:#454545;
	border-color: #797979;
	color: #fff;
}

.panel-video > .panel-heading h2 {
	color: #fff;
	font-size:1.8em;
	font-family: 'Dancing Script', cursive;
}

.panel-video > .panel-heading h3 {
	color: #fff;
	font-size:1.8em;
}


/*
 * --------------------------------------------------
 * 3. Responsiveness/media queries
 *--------------------------------------------------
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 768px) {
/* Small devices (tablets, 768px and up) */
}
@media (min-width: 992px) {
/* Medium devices (desktops, 992px and up) */
}
@media (min-width: 1200px) {
/* Large devices (large desktops, 1200px and up) */
}
/*
 * --------------------------------------------------
 * 4. Misc
 * Other stuff
 *--------------------------------------------------
 */

/* --------------------------------------------------
 * header
 *-------------------------------------------------- */
.header-upper {
	background: none repeat scroll 0 0 #566085;
	padding: 0px 0;
	position: relative;
}

.header {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
	color: #1b1b1b;
	height: auto;
	padding: 0;
}

/* --------------------------------------------------
 * Menu navigation top
 *-------------------------------------------------- */

.has-navbar-fixed-top #content {
padding-top:90px
}

@media (min-width: 992px) {
.has-navbar-fixed-top #content {
	padding-top:90px;
}
}

@media (min-width: 1199px) {
.header .navbar-collapse {
	margin-left:4.5em; width:76%
}
}

@media (width: 1199px) {
.header .navbar-collapse {
	margin-left:1em; width:60%
}
}

@media (max-width: 1199px) {
.header .navbar-collapse {
	margin-left:1em; width:76%
}
}





.header .navbar-brand {
	margin-top:9px;
	height: auto;
	line-height: 1.5;
	margin: 5px 0 0;
}

@media (min-width: 992px) {
.header .navbar-brand {
	margin-top:12px;
	height: auto;
	line-height: 1.5;
	margin: 9px 0 0;
}
}




.dropdown-toggle-recrutement span:hover {
background:#fa8c17;
color:white;
}

.dropdown-toggle-recrutement span {
border-radius:4px;
background:#ffa341;
color:white;
padding:0.7em 0.8em;
font-size:0.9em;
}

.icon-assistance {
	color: #fff !important;
	padding:0 !important;
	margin:0 !important;
}

.icon-assistance-us {
	color: #0182b8 !important;
	padding: 5px 7px 18px 7px!important;
	margin:0 !important;
}

.icon-assistance-bg {
	color:#ffa341;
}

.navbar-collapse .dropdown-menu {

}


#jPanelMenu-menu .navbar-nav > li > a {padding:10px 10px}

.navbar-nav > li > a {padding:18px 7px}


.navbar .dropdown-menu {
	border: none;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.32);
	-moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.32);
	box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.32);
	padding:5px;
	background-color:#f1f1ef;
}


.navbar-collapse .dropdown-menu li {
	box-shadow:none;
	background:none;

}


.navbar-collapse .dropdown-menu ul {
	box-shadow:none;
	background:none;

}

.navbar-nav > li > .dropdown-toggle,
.navbar-nav > li > .dropdown-toggle-edt,
.navbar-nav > li > .dropdown-toggle-pronote,
.navbar-nav > li > .dropdown-toggle-hyperplanning,
#main-menu > li > .dropdown-toggle  {
font-size:1.1em;
}

.navbar-nav > li > .dropdown-toggle:before,
.navbar-nav > li > .dropdown-toggle-edt:before,
.navbar-nav > li > .dropdown-toggle-pronote:before,
.navbar-nav > li > .dropdown-toggle-hyperplanning:before,
#main-menu > li > .dropdown-toggle:before  {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 0.6em;
	padding-right: 0.5em;
}

.navbar-collapse .dropdown-menu li a span {
font-size:inherit
}

.navbar-collapse .dropdown-menu li a:before,
.navbar-collapse .dropdown-menu li a.menu-item:before {
	content: none;
	padding: 0 10px 0 0;
	font-weight:bold!important;
}


.navbar-collapse .dropdown-menu li a.menu-item:before {
	font-family: FontAwesome;
	font-size:2em;
	width: 30px;
	height: 30px;
	content: "\f105";
	padding: 0 3px 0 0;
}


.navbar-collapse .dropdown-menu li a.menu-item {
	padding: 0px 5px !important;
	line-height: 16px;
	margin: 2px 0px 2px 0px;
	border-radius: 4px;
}

.navbar-collapse .dropdown-menu .menu-title,
.navbar-collapse .dropdown-menu .dropdown-header,
.navbar-collapse .dropdown-menu .dropdown-footer {
	padding: 0px 0px;
}

.menu-title,
.dropdown-header,
.dropdown-menu li.menu-title,
.dropdown-menu li.dropdown-header,
.dropdown-footer,
.dropdown-menu li.dropdown-footer {
	padding: 3px 2px;
	margin-top: 0px;
	margin-bottom: 5px;
	display: block;
	float: none;
	border-bottom: none !important;
}


.navbar-collapse .dropdown-menu .dropdown-header {
	font-size:2em;
	font-family: 'Dancing Script', cursive;
	font-weight:400;
	color:#444;
}

.navbar-collapse .dropdown-menu .dropdown-header img {
	max-height:50px;
	margin-right:0.5em;
	vertical-align:middle;
}

.navbar-collapse .dropdown-menu li a:hover {
}

.navbar-collapse .dropdown-menu li a.menu-item {
padding:0.5em !important
}

.navbar-collapse .dropdown-menu > .open > a::before, .navbar-collapse .dropdown-menu .open > a::before, .navbar-collapse .dropdown-menu > .open > a:focus > a:hover::before, .navbar-collapse .dropdown-menu .open > a:focus > a:hover::before {
	color: #fff;
	margin-left: -12px;
	font-weight:bold
}



#jPanelMenu-menu {
background:#484642
}


#jPanelMenu-menu.navbar-collapse, #jPanelMenu-menu.navbar-collapse.collapse, #jPanelMenu-menu.navbar-collapse.in {
	padding: 0px;
	margin: 0px 0px 0px 0px;
	height: 100% !important;
	display: block !important;
	visibility: visible !important;
}


#jPanelMenu-menu.navbar-collapse li, #jPanelMenu-menu.navbar-collapse.collapse li, #jPanelMenu-menu.navbar-collapse.in li .menu-titre {

	}

#jPanelMenu-menu.navbar-collapse li, #jPanelMenu-menu.navbar-collapse.collapse li, #jPanelMenu-menu.navbar-collapse.in li {
	}

#jPanelMenu-menu .navbar-nav > li > .dropdown-toggle, #jPanelMenu-menu .navbar-nav > li > .dropdown-toggle-hyperplanning, #jPanelMenu-menu .navbar-nav > li > .dropdown-toggle-edt, #jPanelMenu-menu .navbar-nav > li > .dropdown-toggle-pronote {
border:1px solid transparent !important;
}

/*ICONES DANS LE MENU MOBILE*/

#jPanelMenu-menu .navbar-nav > li > .dropdown-toggle {
background:url('../img/commun/logo-index-menu.png') center left no-repeat;
background-size:32px 32px;
padding-left:40px;
margin-left:0.5em;
color:#fff
}

#jPanelMenu-menu .navbar-nav > li > .dropdown-toggle-hyperplanning {
background:url('../img/commun/logo-hyperplanning-menu.png') center left no-repeat;
background-size:32px 32px;
padding-left:40px;
margin-left:0.5em;
color:#fff
}

#jPanelMenu-menu .navbar-nav > li > .dropdown-toggle-edt {
background:url('../img/commun/logo-edt-menu.png') center left no-repeat;
background-size:32px 32px;
padding-left:40px;
margin-left:0.5em;
color:#fff
}

#jPanelMenu-menu .navbar-nav > li > .dropdown-toggle-pronote {
background:url('../img/commun/logo-pronote-menu.png') center left no-repeat;
background-size:32px 32px;
padding-left:40px;
margin-left:0.5em;
color:#fff
}

#jPanelMenu-menu .navbar-nav > li:hover {
background: #282828 none repeat scroll 0% 0%;
color: #FFF;
}

.dropdown-menu li.menu-title {
	font-weight: bold;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 5px;
	display: block;
	float: none;
	color: #444;
}


#dropdownEspaceClient {
	color:#fff;
}

#OpenModalEspaceClient {
	color:#fff
}

.header-upper .btn-group .dropdown-menu, .language-menu .dropdown-menu {
	z-index:1031;
	margin-top: 1px !important;
}

/*a voir si on prefixe par #proforma_clients*/
.prix-barres {
	color: #939066;
	background-color: #DDDDDD;
	text-decoration: line-through;
	padding: 3px;
}
.prix-barres + .asterisque {
	color: #939066;
	background-color: #DDDDDD;
	padding: 3px 0;
}


/*intertitres menu*/
.navbar-collapse .dropdown-menu .menu-titre {
	font-size:2em;
	font-family: 'Dancing Script', cursive;
	font-weight:400;
	padding: 2px 5px 2px 0px;
	border-bottom:none !important;
}

.navbar-collapse .dropdown-menu .menu-titre span {
	font-size:0em;
	font-weight:100;
	padding: 0px 0px 0px 0px;
	text-decoration:none !important;
	display:inline !important;
	vertical-align:middle;
}

.btn-navbar,
.navbar-btn {
margin-top: 10px;
}

/* --------------------------------------------------
 * Sidemenu
 *-------------------------------------------------- */

.section-menu ul.nav-list {
padding-top:0em;
margin-top:0em
}

@media (min-width: 992px) {
.section-menu ul.nav-list {
padding-top:0em;
margin-top:0.5em
}
}

.section-menu ul.nav-list li.nav-header {
	padding-left: 5px;
	margin: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #999999;
	font-weight: bold;
	font-size: 11px;
}
.section-menu ul.nav-list li a {
	color: #494949;
	color: rgba(27, 27, 27, 0.7);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 1em;
	border: 1px solid #e6e6e6;
	margin: -1px -1px 0 0px !important;
	-webkit-box-shadow: 0px 0px 0px #ffffff;
	box-shadow: 0px 0px 0px #ffffff;
	background: #f1f1ef;
	text-shadow: none;
	padding: 8px 15px;
	position: relative;
}



.section-menu ul.nav-list li a.first {
	border-top: 1px solid #e6e6e6;
}
.section-menu ul.nav-list li a:hover {
	background: #fff;
	text-decoration:none;
}
.section-menu ul.nav-list li a:hover i {
	color: #566085;
}

.section-menu ul.nav-list li a i {
	font-size: 22px;
	position: absolute;
	top: 10px;
	right: 20px;
}


.section-menu ul.nav-list li a small {
	display: block;
	font-weight: normal;
	color: rgba(27, 27, 27, 0.5);
}
.section-menu ul.nav-list li.active > a,
.section-menu ul.nav-list li.active > a:hover {
	margin: 0 -1px 0 0;
	background: #fff;
	color: #566085;
	border:1px solid #e6e6e6;
}
.section-menu ul.nav-list li.active > a i,
.section-menu ul.nav-list li.active > a:hover i {
	color: #566085;
	right: 10px;
}

.section-menu ul.nav-list li a .twitter:after {
	font-family: FontAwesome;
	font-size: 1.5em;
	content: "\f099";
	padding: 0 0px 0 5px;
	text-decoration:none;
	font-weight:200;
	color:#55acee;
	line-height:0px
}




.sidebar {
	margin-top: 0;
}

@media (min-width: 992px) {
.sidebar {
	margin: 0;
	padding-right:0 !important;
}
.sidebar.sidebar-right .inner,
.sidebar.sidebar-right .divider {
	border-left: 1px solid #e6e6e6;
	padding-left: 20px;
}
.sidebar.sidebar-left .inner,
.sidebar.sidebar-left .divider {
	border-right: 1px solid #e6e6e6;
	padding-right: 20px;
}
.sidebar .section-menu ul.nav-list {
	border-right: none !important;
}
.section-menu ul.nav-list {
	border-right: 1px solid red;
}

.section-menu ul.nav-list li a {
	font-size:1.2em;
	vertical-align:middle;
}
.section-menu ul.nav-list li a i {
	right: 10px;
}

.section-menu ul.nav-list li .flag-icon {
	width:0.8em;
	top:0px;
	display:inline-block;
	float:left;
	position:relative
}

.section-menu ul.nav-list li.active > a,
.section-menu ul.nav-list li.active > a:hover {
	border-right-color: #ffffff;
}
}

.section-menu .sidebar-ss-menu {
	padding:5px 10px 5px 10px;
	background:#f1f1ef;
	border-left:1px solid #e6e6e6;
}

.section-menu .sidebar-ss-menu a {
	font-size:12px !important;
	padding:4px !important;
	border: none !important;
	display:block;
	color:#444 !important;
}

.section-menu .sidebar-ss-menu a:hover {
	color:#909090 !important;
	background:none !important;
}

.section-menu .sidebar-ss-menu a.active {
	background:none !important;
}


.section-menu .sidebar-ss-menu li a i:before {
	content: none;
	padding: 0 10px 0 0;

}

.section-menu .sidebar-ss-menu a:before {
	font-family: FontAwesome;
	font-size: 12px;
	width: 30px;
	height: 30px;
	content: "\f105";
	padding: 0 5px 0 0;
}


.sidebar-index {
}


.sidebar-edt {
	background-image: url('../img/fr/logo-edt.png');
	background-size:100%;
	background-repeat:no-repeat;
	width:90px;
	height:50px
}
.sidebar-pronote {
	background-image: url('../img/fr/logo-pronote.png');
	background-size:100%;
	background-repeat:no-repeat;
	width:250px;
	height:83px
}

.sidebar-hp {
	background-image: url('../img/fr/logo-hyperplanning.png');
	background-size:100%;
	background-repeat:no-repeat;
	width:60px;
	height:60px
}

@media (max-width: 992px) {
.sidebar-edt {
margin-bottom:0.5em
}


.sidebar-pronote {
	margin-bottom:0.5em
}

.sidebar-hp {
	margin-bottom:0.5em
}
}

.navbar-collapse .dropdown-menu li a:before,
.navbar-collapse .dropdown-menu li a.menu-item:before {
	content: none;
	padding: 0 10px 0 0;
}

.navbar-collapse .dropdown-menu li a .twitter:after {
	font-family: FontAwesome;
	font-size: 1.5em;
	content: "\f099";
	padding: 0 0px 0 5px;
	text-decoration:none;
	font-weight:200;
	color:#55acee;
}


/* --------------------------------------------------
 * Titres
 *-------------------------------------------------- */
.title-divider {
	background: transparent !important;
	margin-bottom: 0.6em;
	margin-top:0em;
	padding: 0 0 0.2em 0;
	text-align: left;
	border-bottom:1px solid #adadad;
}

.title-divider span {
	padding-right: 0.2em;
	background: transparent !important;
}
.title-divider small {
	color: rgba(51, 51, 51, 0.6);
	display: block;
	line-height:1.1em;
}

/* --------------------------------------------------
 * Page d'accueil
 *-------------------------------------------------- */




/* --------------------------------------------------
 * dropdown personnalisé
 *-------------------------------------------------- */
.dropdown-video {
	background:#2d2d2d;
	border-bottom:1px solid #fff !important;
}

.dropdown-video > li > a {
	white-space:normal !important;
	font-size:1.1em;
	line-height:1.2em;
	padding-left:0.2em !important;
}


.dropdown-video > li > a:hover {
	background:#454545;
}

.dropdown-video > .theme-dropdown {
	display:block;
	padding:0.2em;
	font-size:1.5em;
	font-weight:bold;
	line-height:1.5em
}

.dropdown-titre-categorie {
	color:#444;
	font-size:1em !important;
	white-space:normal !important;
	font-weight:bold ;
}

.dropdown-video > a {
	color:#fff;
	font-size:1.2em;
	font-weight:normal;
}

.dropdown-video > a:hover {
	color:#fff;
}


/* --------------------------------------------------
 * Footer
 *-------------------------------------------------- */
#footer ul {
	padding-left:0px;
	list-style-type:none;
}

#footer ul a {
	font-size:0.9em;
	font-weight:normal !important;
}

#footer a { font-weight:normal}


#footer .contact-block {
	background-color: #6e6c69;
	border: 1px solid #918f8c;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 15px;
}

#footer #toplink {
margin-bottom:0px;
}

#footer h3 {
	border:none;
	padding:0;
	font-family:"Opensans", sans-serif;
}

/* --------------------------------------------------
 * Divers
 *-------------------------------------------------- */

.media-bottom-important {
	vertical-align: bottom !important;
}

.media-border {
	border: 1px solid #000000;
	font-weight: bold;
	margin: 0.1em;
	padding: 0 0.5em;
}

input[type=checkbox][disabled] + label {
	color: #ccc;
	font-weight: normal !important;
}

.presentation .fa {
font-size:28px;
padding-right:0.2em

}
.list-group-item.titre-presentation, .list-group-item.titre-presentation:focus, .list-group-item.titre-presentation:hover {
	background-color: #f1f1ef;
	font-family:"Dancing Script", cursive;
	font-size:1.5em;
}

.list-group-item {
padding: 10px 12px
}

.panel-fat-icon .fa {
font-size:26px;
margin-right:0.2em
}

.fa-fat {
	font-size: 3.2em !important;
	line-height: 2em;
}

.panel.with-nav-tabs .panel-heading {
	padding: 6px 6px 0 6px;
}

.with-nav-tabs.panel-default .nav-tabs > li.active > a, .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover, .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	background-color: #fff;
	border-color: #ddd #ddd transparent;
}

/* alignement vertical : à placer dans le row qui contient deux col */

.vertical-align {
	display: flex;
	align-items: center;
}



.bandeau-pronote {
background:url('../img/commun/bandeau-pronote.jpg') center left no-repeat;
}



.btn-tarifs-lg {
	padding: 20%;
	border-radius:4px;
	font-size:1.5em !important;

}

.google-maps {
	position: relative;
	padding-bottom: 75%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

/* --------------------------------------------------
 * Page de contact ITALIEN
 *-------------------------------------------------- */

.contattare {
	padding-left: 5px;
}

/* --------------------------------------------------
 * ModeListeActu
 *-------------------------------------------------- */

.actuliste {
	background:#fff;
	border-radius:4px;
}
.actuliste ul{
	padding: 0;
	list-style: none;
	margin-bottom:0;
}
.actuliste li{
	padding: 8px;
	border-bottom: 3px solid #f1f1ef;
}
.actuliste li.odd{
	background: #fafafa;
}
.actuliste li:after {
	content: '';
	display: block;
	clear: both;
}

.actuliste li:last-child{
	border-bottom: none;
}
.et-run{
	background-color: #0cf;
	color: white;
	border: 1px solid black;
}

/* --------------------------------------------------
 * surcharge blockquote
 *-------------------------------------------------- */
blockquote {
	border: medium none;
	padding: 0;
	font-size:inherit;
}
blockquote p {
	background: none repeat scroll 0 0 #f1f1ef;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	border-radius: 3px;
	padding: 15px;
	position: relative;
}
blockquote p:after, blockquote p:before {
	border: medium solid transparent;
	content: " ";
	height: 0;
	pointer-events: none;
	position: absolute;
	top: 100%;
	width: 0;
}
blockquote p:after {
	border-top-color: #f1f1ef;
	border-width: 10px;
	left: 10%;
	margin-left: -10px;
}
blockquote p:before {
	border-top-color: rgba(0, 0, 0, 0.01);
	border-width: 11px;
	left: 10%;
	margin-left: -11px;
	border: 1px solid #e3e3e3;
}


/*//////////PAGE ACCUEIL/////////*/
.accueil-pronoteit2015 {
background-image: url('../img/commun/bg-pronote2015/pn2015_photo-opacity.png');
background-repeat:no-repeat;
background-size: cover;
background-position: center center;
}

.accueil-pronoteit2015 img {
vertical-align:middle;
padding-right:1em;
}

.accueil-pronoteit2015ul {
background-color:white;
opacity: 0.6;
filter: alpha(opacity=60); /* For IE8 and earlier */
}

.intro-content {
padding-left:0;
margin-bottom:1.5em;
}

.intro-content:first-child {

}

@media (max-width: 991px) {
.intro-content {
margin-bottom:1em;
padding-left:1em;
}
.intro-content:last-child {
}
}
.intro-content .wrap {
	background: none repeat scroll 0 0 #fff;
	padding: 0px ;
	position: relative;
	border-radius:4px;
	margin:0em 0em 0em 1.9em;
}

.intro-content .wrap2 {
	background: none repeat scroll 0 0 #fff;
	padding: 15px 15px 15px 35px ;
	position: relative;
	border-radius:4px;
	margin:0em 0em 0em 1.9em;
}

.intro-content .wrap2 .media-body {
font-size:12px
}

.intro-content .wrap .icon-block {
	background: none repeat scroll 0 0 #white;
	border: 3px solid #fff;
	border-radius: 60%;
	box-sizing: content-box;
	color: #fff;
	font-size: 23px;
	height: 2em;
	width:2em;
	left: -1em;
	top:4%;
	line-height: 1.4em;
	position: absolute;
	text-align: center;
	transition: all 0.4s ease 0s;
}


.intro-content .wrap .wrap-caption {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.50);
	padding: 8px 12px;
	position: relative;
	text-align: left;
	top: -34px;
	width: 100%;
	z-index: 2;
	color:white;
	margin-bottom:-34px;
}

.intro-content .wrap .wrap-text {
	padding: 10px 12px 15px 12px;
	text-align: left;
}

.intro-content .wrap .wrap-lien-tuto {
	padding:3px 4px 3px 4px;
	border:1px solid #000;
	font-size:11px;
	color:#000;
}


.intro-content .wrap2 .icon-block {
	background: repeat scroll 0 0 #F1F1EF;
	border: 3px solid #fff;
	border-radius: 60%;
	box-sizing: content-box;
	color: #fff;
	font-size: 23px;
	height: 2em;
	width:2em;
	left: -1em;
	top:4%;
	line-height: 1.4em;
	position: absolute;
	text-align: center;
	transition: all 0.4s ease 0s;
}

.intro-content .wrap .icon-block img {
	max-width:49px;
	margin-top:-1px;
	margin-left:-1px;
}

.intro-content .wrap2 .icon-block img {
	max-width:49px;
	margin-top:-1px;
}


.intro-content .wrap .icon-block-assistance {
	background: none repeat scroll 0 0 white;
	border: 3px solid #eee;
	border-radius: 50%;
	box-sizing: content-box;
	font-size: 21px;
	height: 1.8em;
	line-height: 2em;
	text-align: center;
	transition: all 0.3s ease 0s;
	width: 1.8em;
}

.intro-content .wrap2 .icon-block-assistance {
	background: none repeat scroll 0 0 white;
	border-radius: 50%;
	box-sizing: content-box;
	font-size: 18px;
	height: 1.6em;
	line-height: 2em;
	text-align: center;
	transition: all 0.3s ease 0s;
	width: 1.6em;
}

.reason-content {
}

.reason-content .collapse {

}
.reason-content h4 {
	margin-bottom: 10px;
	font-size:1.1em;
}
.reason-content p {
	margin-bottom: 0;
}

.reason-content a {
	color: #000;
}
.intro-content .wrap li:hover .icon-block {
	color: #566085;
}

.intro-content .wrap .icon-block-wrapper {
	float: left;
	margin-right: 1%;
	vertical-align: middle;
}

.intro-content .wrap2 .icon-block-wrapper {
	float: left;
	margin-right: 1%;
	vertical-align: middle;
}


.intro-content .wrap li .icon-block-wrapper .fa {
	font-size:1.2em;
	margin-top:-0.2em !important;
}

@media (max-width: 768px) {
.intro-content .wrap li .icon-block-wrapper .icon-block {
	margin-top: 3px;
}
}
.intro-content .wrap li .reason-content {
	float: left;
	width: 78%;
}


.intro-content .wrap2 h6 {
	font-weight: 700;
	margin-top:10px;
	margin-bottom: 14px;
	position: relative;
	line-height:1.4em;
}


.intro2 {
	padding: 0em 0em 1em 1em;
}

.intro2 .intro2-content .wrap {
	background: none repeat scroll 0 0 #fff;
	padding-left: 30px;
	position: relative;
	border-radius:4px;
	min-height:60px;
}
.intro2 .intro2-content .wrap .icon-block {
	background: none repeat scroll 0 0 white;
	border: 3px solid #eee;
	border-radius: 50%;
	box-sizing: content-box;
	color: #fff;
	font-size: 21px;
	height: 2.6em;
	left: -1.8em;
	line-height: 2.5em;
	position: absolute;
	text-align: center;
	top: 0%;
	transition: all 0.3s ease 0s;
	width: 2.6em;
}





/*
.intro .intro-content .wrap:hover .icon-block {
	background: none repeat scroll 0 0 #3baafe;
}
*/



/****************************** Loader *******************************************/
.boxLoadingContainer {
	width: 100%;
	height: 100%;
	z-index: 1000;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display:none;
}
.boxLoadingBack {
	background-color: #fff;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: 1000;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1001;
}

.boxLoading {
	width: 50px;
	height: 50px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1002;
}
.boxLoading:before {
	content: '';
	width: 50px;
	height: 5px;
	background: #000;
	opacity: 0.1;
	position: absolute;
	top: 80px;
	left: 0;
	border-radius: 50%;
	animation: shadow 1.5s linear infinite;
}
.boxLoading:after {
	content: '';
	width: 50px;
	height: 50px;
	background: url("../img/commun/logo-index-50.png");
	animation: animate 1.5s linear infinite;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 3px;
}

@keyframes animate {
	25% {
		transform: translateY(9px) rotate(90deg);
	}
	50% {
		transform: translateY(18px) rotate(180deg);
	}
	75% {
		transform: translateY(9px) rotate(270deg);
	}
	100% {
		transform: translateY(0) rotate(360deg);
	}
}
@keyframes shadow {
	0%, 100% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.2, 1);
	}
}

.carousel-fade .carousel-inner .item {
opacity: 0;
-webkit-transition-property: opacity;
-moz-transition-property: opacity;
-o-transition-property: opacity;
transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
left: 0;
opacity: 0;
z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
opacity: 1;
}
.carousel-fade .carousel-control {
z-index: 2;
}

.page-contact h6 {font-size:1.1em}

.formule-active {
opacity:1
}

.formule-active a {
padding:0.5em
}


.formule-inactive {
opacity:0.3;
filter:grayscale(1);
}



/* --------------------------------------------------
 * SITE ITALIEN - Page scaricare-pronote.php
 *-------------------------------------------------- */
.panel-pronote > .panel-body .col-md-8 h3 {
	border-bottom: 1px solid #039069;
	color: #039069;
	float: left;
	clear: both;
	display: inline-block;
	margin: 10px 0 5px;
}

.panel-pronote > .panel-body .col-md-8 a {
	clear: both;
	float: left;
	display: inline-block;
}

/* --------------------------------------------------
 * SITE ITALIEN - Page scaricare-documentazione-pronote.php
 *-------------------------------------------------- */

#docPro {
	padding-top: 15px;
}
#docPro2 {
	padding-top: 25px;
}

/* Surchage slider Appstrap */
.slider-boxed .slider-wrapper, .slider-boxed .flexslider-wrapper {
	border: 0px solid rgba(27, 27, 27, 0.15);
	border-radius: 0;
	box-shadow: 0px 0px 0px rgba(27, 27, 27, 0.2);
	margin-top: 10px;
}

.slider-appstrap-theme .tp-bullets li a, .slider-appstrap-theme .tp-bullets.round li a, .slider-appstrap-theme .tp-bullets.simplebullets.round li a, .flex-control-nav li a, .slider-appstrap-theme .tp-bullets .bullet, .slider-appstrap-theme .tp-bullets.round .bullet, .slider-appstrap-theme .tp-bullets.simplebullets.round .bullet, .flex-control-nav .bullet {
	background: #bbb none repeat scroll 0 0;
	border-radius: 10px;
	height: 10px;
	margin: 0 3px;
	width: 10px;
}

.slider-appstrap-theme .tparrows::before, .flex-direction-nav a::before {
	font-size: 40px;
	font-weight: bold;
}

.slider-appstrap-theme .tparrows, .flex-direction-nav a {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-radius: 0;
	bottom: 0;
	color: transparent;
	font-size: 0;
	font-weight: 100;
	height: 50px;
	line-height: 100px;
	margin-top: -50px;
	opacity: 0;
	right: 0;
	text-align: center;
	text-indent: 0;
	top: 50%;
	transition: all 0.2s ease-out 0s;
	width: 10px;
}

/* -------------Ajout formatage texte--------------*/
.text-valid {
color:#6ebb45
}


.well-dwnl-edt {
	border:1px solid #bce8f1;
	background-color:#d9edf7;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 19px;
	border-radius:5px;
}

.menu-us-edt a span {font-size:1.1em; color:#0182b8; padding-bottom:0.5em; text-decoration:none; text-shadow:1px 1px 1px white}

.banner {
	background: rgba(0, 0, 0, 0) url("../img/us/try-EDT-timetable.jpg") no-repeat scroll center center / cover ;
	color: #f8f8f8;
	padding:30px;
	border-radius:5px 5px 5px 5px;
}
.banner h2 {
	font-size: 2.4em;
	margin: 0;
	line-height:1.3em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.content-bottom {
	padding:1em;
	background:#fff;
}


/********************************* Dropdown Button **************************************/
.language-menu .dropbtn {
	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.language-menu .dropdown {
	position: relative;
	display: block;
	float: left;
	padding:5px 5px 5px 7px !important;
	margin:-5px 0;
}
.language-menu .dropdown:hover {
	background-color: #f5f5f5;
}

/* Dropdown Content (Hidden by Default) */
.language-menu .dropdown-content {
	margin-top: -1px !important;
	z-index: 1031;
	right: 0;
	padding: 10px;
	display: none;
	position: absolute;
	background-color: #f5f5f5;
	color:#000;
	min-width: 360px;
	box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.language-menu .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.language-menu .dropdown-content a:hover {
	/*background-color: #0000FF;*/
}
/* Show the dropdown menu on hover */
.language-menu .dropdown:hover .dropdown-content {
	display: block;
}


.opacite {
	opacity: 0.4;
	-khtml-opacity: 0.4;
	filter: alpha(opacity=40);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.language-menu .dropdown:hover .opacite {
	opacity: 1.0;
	-khtml-opacity: 1.0;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

}

/********************************* fin Dropdown Button **************************************/