@font-face {
  font-family: iran;
  src: url(../fonts/IRANSans-UltraLight-web.eot);
  src: url(../fonts/IRANSans-UltraLight-web.eot?#iefix) format("eot"), url(../fonts/IRANSans-UltraLight-web.woff2) format("woff2"), url(../fonts/IRANSans-UltraLight-web.woff) format("woff"), url(../fonts/IRANSans-UltraLight-web.ttf) format("ttf");
  font-weight: 200;
}
@font-face {
  font-family: iran;
  src: url(../fonts/IRANSans-Light-web.eot);
  src: url(../fonts/IRANSans-Light-web.eot?#iefix) format("eot"), url(../fonts/IRANSans-Light-web.woff2) format("woff2"), url(../fonts/IRANSans-Light-web.woff) format("woff"), url(../fonts/IRANSans-Light-web.ttf) format("ttf");
  font-weight: 300;
}
@font-face {
  font-family: iran;
  src: url(../fonts/IRANSans-Medium-web.eot);
  src: url(../fonts/IRANSans-Medium-web.eot?#iefix) format("eot"), url(../fonts/IRANSans-Medium-web.woff2) format("woff2"), url(../fonts/IRANSans-Medium-web.woff) format("woff"), url(../fonts/IRANSans-Medium-web.ttf) format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: 'Yekan';
  src: url(../fonts/web_Yekan.woff);
  src: url(../fonts/web_Yekan.eot?#iefix) format("embedded-opentype"), url(../fonts/web_Yekan.woff) format("woff"), url(../fonts/web_Yekan.ttf) format("truetype"), url(../fonts/web_Yekan.svg#BYekan) format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
}
@font-face {
  font-family: 'parsianweb';
  src: url('../fonts/parsianweb.eot?3gj4r1');
  src: url('../fonts/parsianweb.eot?3gj4r1#iefix') format('embedded-opentype'), url('../fonts/parsianweb.ttf?3gj4r1') format('truetype'), url('../fonts/parsianweb.woff?3gj4r1') format('woff'), url('../fonts/parsianweb.svg?3gj4r1#parsianweb') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"],
.wicon:before,
.wicon:after {
  font-family: 'parsianweb' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-documents:before {
  content: "\e900";
}
.icon-popout:before {
  content: "\e901";
}
.icon-files:before {
  content: "\e902";
}
.icon-document-edit:before {
  content: "\e903";
}
.icon-world:before {
  content: "\e904";
}
.icon-cloud-upload:before {
  content: "\e905";
}
.icon-error_outline:before {
  content: "\e001";
}
.icon-people:before {
  content: "\e7fb";
}
.icon-sync:before {
  content: "\e627";
}
.icon-movie_creation:before {
  content: "\e404";
}
.icon-person_outline:before {
  content: "\e7ff";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-speaker_notes_off:before {
  content: "\e92a";
}
.icon-touch_app:before {
  content: "\e913";
}
.icon-view_column:before {
  content: "\e8ec";
}
.icon-wifi:before {
  content: "\e63e";
}
.icon-help:before {
  content: "\e906";
}
.icon-help_outline:before {
  content: "\e907";
}
.icon-live_help:before {
  content: "\e908";
}
.icon-subject:before {
  content: "\e909";
}
.icon-person_add2:before {
  content: "\e90a";
}
.icon-social-facebook-circular:before {
  content: "\e90b";
}
.icon-social-twitter-circular:before {
  content: "\e90c";
}
.icon-social-linkedin:before {
  content: "\e90d";
}
.icon-social-tumbler:before {
  content: "\e90e";
}
.icon-social-facebook:before {
  content: "\e90f";
}
.icon-social-twitter:before {
  content: "\e910";
}
.icon-edit:before {
  content: "\e911";
}
.icon-tooltip:before {
  content: "\e912";
}
.icon-warning:before {
  content: "\e914";
}
.icon-gallery:before {
  content: "\e915";
}
.icon-instagram:before {
  content: "\e916";
}
.icon-question:before {
  content: "\e917";
}
.icon-users:before {
  content: "\e918";
}
.icon-user-plus:before {
  content: "\e919";
}
.icon-page-break:before {
  content: "\e91a";
}
.icon-copy:before {
  content: "\e91b";
}
.icon-files-empty:before {
  content: "\e91c";
}
.icon-upload:before {
  content: "\e91d";
}
.icon-write:before {
  content: "\e91e";
}
.icon-film:before {
  content: "\e91f";
}
.icon-angle-left:before {
  content: "\e920";
}
.icon-angle-double-left:before {
  content: "\e921";
}
.icon-flag-o:before {
  content: "\e922";
}
/*
GLOBAL
*/
body {
  font: 13px 'iran', Roboto, sans-serif;
  color: #282f35;
  font-weight: 300;
  direction: rtl;
}
.right-fl {
  float: right;
}
.left-fl {
  float: left;
}
.right-alg {
  text-align: right;
}
.left-alg {
  text-align: left;
}
.right-dir {
  direction: rtl;
}
.left-dir {
  direction: ltr;
}
.en {
  font-family: 'Roboto', sans-serif;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
ul li {
  list-style: none;
}
a {
  color: #0870b8;
}
a:hover {
  color: #0870b8;
}
.desc {
  font-family: iran;
}
.img {
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.section {
  margin-top: 1.5em;
}
.section .container {
  position: relative;
}
.advertising {
  position: relative;
}
.advertising a {
  display: block;
}
.para-end {
  background-image: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0), #f6f6f6);
  background-image: -o-linear-gradient(to left, rgba(255, 255, 255, 0), #f6f6f6);
  background-image: -ms-linear-gradient(to left, rgba(255, 255, 255, 0), #f6f6f6);
  background-image: -moz-linear-gradient(to left, rgba(255, 255, 255, 0), #f6f6f6);
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #f6f6f6);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#00ffffff', EndColorStr='#f6f6f6');
  bottom: 0;
  height: 25px;
  max-height: 100%;
  position: absolute;
  left: 0;
  width: 60px;
}
/*
COMPONENT
*/
/* BUTTONS */
.button {
  position: relative;
  display: block;
  text-align: center;
  border: 0px none;
}
.btn-type-1 {
  font-size: 12px;
  background-color: #42a2ce;
  color: #FFF;
  height: 36px;
  width: 140px;
  line-height: 34px;
  border-radius: 3px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3) inset;
  overflow: hidden;
}
.btn-type-1:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.07);
  width: 30px;
  height: 46px;
  position: absolute;
  top: -4px;
  left: -60px;
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
  -moz-transition: all 0s ease-in-out 0s;
  -webkit-transition: all 0s ease-in-out 0s;
  -ms-transition: all 0s ease-in-out 0s;
  -o-transition: all 0s ease-in-out 0s;
  transition: all 0s ease-in-out 0s;
}

.btn-type-2
{
  width: 100px;
}

.btn-type-1:hover {
  color: #FFF;
}
.btn-type-1:hover:before {
  left: 200px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
/* HEADING */
.heading {
  position: relative;
  margin: 0px;
  padding: 0px;
}
.heading:before,
.heading:after {
  content: "";
  position: absolute;
  right: 0px;
}
.heading-type-1 {
  color: #4f505d;
  font-size: 17px;
  font-family: 'Yekan', 'Roboto', sans-serif;
  margin-bottom: 40px;
}
.heading-type-1:after {
  bottom: -19px;
  width: 85px;
  height: 1px;
  background-color: #404048;
}
/* FORM ACTIONS */
.form-act {
  cursor: pointer;
}
.form-act:before {
  font-size: 19px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.pass-visible:before {
  content: "\e8f4";
  color: #495575;
}
.pass-visible:hover:before {
  color: #21252F;
}
.mobile-notice:before {
  content: "\e907";
  color: #495575;
}
.mobile-notice:hover:before {
  color: #ff7e7e;
}
.verify-notice:before {
  content: "\e001";
  color: #495575;
}
.verify-notice:hover:before {
  color: #ffa14e;
}
/* TOOLTIP */
.tooltip {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: 0px;
  padding: 8px 9px;
  color: #FFF;
  font-size: 12px;
  text-align: justify;
  line-height: 21px;
  border-radius: 3px;
  width: 274px;
}
.tooltip.visible {
  opacity: 1;
  visibility: visible;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.tooltip:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px;
  bottom: -20px;
  left: 11px;
}
.tooltip-type-1 {
  background-color: rgba(252, 93, 93, 0.8);
  top: -86px;
  height: 80px;
}
.tooltip-type-1:after {
  border-color: #ff7e7e transparent transparent;
}
.tooltip-type-2 {
  background-color: rgba(255, 157, 73, 0.9);
  top: -75px;
  height: 62px;
}
.tooltip-type-2:after {
  border-color: #ffc796 transparent transparent;
}
/*
• HEADER
*/
#header .top-header {
  background-color: #f6f6f6;
  height: 52px;
  margin-top: 2px;
}
#header .top-header .top-navbar {
  margin-top: 6px;
}
#header .top-header .top-navbar .nav-item {
  display: inline-block;
  margin-right: 0px;
}
#header .top-header .top-navbar .nav-item > a {
	display: block;
	font-size: 13px;
	color: #282f35;
	padding:8px 13px;
	border-radius: 3px;
	transition: all 0.1s ease-in-out 0s;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5) inset;
}

#header .top-header .top-navbar .nav-item > a:hover {
  background: #42A2CE;
  color: #FFF;
}

#header .top-header:before {
  content: "";
  background: url('../images/top-ribbon.png') repeat-x scroll 0% 0% transparent;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 2px;
  width: 100%;
}
#header .top-header .user-btn .item {
  float: right;
}
#header .top-header .user-btn .item > a {
  margin: 8px 5px 0 0;
}
#header .top-header .user-btn .item.login > .button {
  background-color: #34495e;
}
#header .top-header .user-btn .item.create > .button {
  background-color: #9b59b6;
}
#header .top-header .user-btn .item.create > .button_1 {
  background-color: #e74c3c;
}
#header .main-header {
  height: 150px;
  background: #42a2ce;
}
#header .main-header #brand {
  margin-top: 0.80em;
}
#header .main-header #brand .main-logo {
  float: right;
}
#header .main-header #brand .main-heading {
  float: right;
  margin: 35px 14px 0 0;
  color: #FFF;
}
#header .main-header #brand .main-heading > .title {
  font-size: 32px;
  font-weight: 300;
  font-family: 'Yekan', 'Roboto', sans-serif;
  margin: 0px;
}
#header .main-header #brand .main-heading > .desc {
  font-size: 14px;
  font-weight: 200;
  float: right;
  position: relative;
  margin: 8px 13px 0 0;
}
#header .main-header #brand .main-heading > .desc:before,
#header .main-header #brand .main-heading > .desc:after {
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  font-size: 15px;
  top: 1px;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
#header .main-header #brand .main-heading > .desc:before {
  content: "{";
  right: -13px;
}
#header .main-header #brand .main-heading > .desc:after {
  content: "}";
  left: -13px;
}
#header .main-header #brand .main-heading:hover .desc:before,
#header .main-header #brand .main-heading:hover .desc:after {
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
#header .main-header #brand .main-heading:hover .desc:before {
  right: -10px;
}
#header .main-header #brand .main-heading:hover .desc:after {
  left: -10px;
}
#header .main-header #header-ads {
  margin-top: 2.65555em;
}
#header .main-header #header-ads .ads-place {
  display: block;
  background-color: rgba(255, 255, 255, 0.09);
  height: 21px;
  color: #FFF;
  font-size: 11px;
  font-weight: 200;
  line-height: 21px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#header .main-header #header-ads .ads-place > .icon {
  font-size: 13px;
  float: right;
  margin: 3px 8px 0 5px;
}
#header .main-header #header-ads .ads-place:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/*
• INTRO
*/
#intro #intro-ads {
  background-color: #d4daec;
  padding: 5px;
  border-radius: 3px;
}
#intro #intro-ads > a {
  margin-bottom: 5px;
}
#intro #intro-ads > a:last-child {
  margin-bottom: 0;
}
#intro .about {
  text-align: justify;
  margin-left: 510px;
  font-weight: 200;
  font-size: 14px;
  line-height: 2.344444em;
}
/*
• USER AREA
*/
#user-area {
  background-color: #f2f9fb;
  padding: 3em 0px;
}
#user-area .col-item > .col-container .col-row .form-element {
  float: right;
  position: relative;
  margin: 5px 0 0 10px;
}
#user-area .col-item > .col-container .col-row .form-element input[type="text"],
#user-area .col-item > .col-container .col-row .form-element input[type="password"] {
  border: 1px solid #e8eced;
  padding: 0px 7px 0px 40px;
  height: 40px;
  width: 245px;
  float: right;
  font-size: 13px;
  background: #FFF;
}
#user-area .col-item > .col-container .col-row .form-element .form-act {
  position: absolute;
  top: 11px;
  left: 12px;
}
#user-area .col-item > .col-container .col-row .button {
  font-size: 13px;
  width: 120px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#user-area .col-item > .col-container .col-row .button:hover {
  background-color: #48aedd;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
#user-area .col-item > .col-container .col-row .button.login {
  margin-top: 1em;
}
#user-area .col-item > .col-container .col-row .button.login {
  margin-top: 1em;
}
#user-area .col-item > .col-container .col-row .button.create {
  margin-top: 7px;
  display: inline-block;
}
#user-area .col-item > .col-container .col-row.form-opt {
  margin-top: 2em;
}
#user-area .col-item > .col-container .col-row.form-opt .opt-item {
  display: block;
  font-size: 12px;
  margin-top: 11px;
  color: #39444d;
}
#user-area .col-item > .col-container .col-row.form-opt .opt-item > .icon {
  font-size: 17px;
  float: right;
  margin: 2px 0 0 7px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#user-area .col-item > .col-container .col-row.form-opt .opt-item:hover > .icon {
  color: #0870b8;
}
/* MAIN NAVBAR */
#main-navbar {
    background: #e8eff1;
    text-align: center;
    padding: 12px 0px;
}

#main-navbar .nav-item {
    display: inline-block;
}

#main-navbar .nav-item > a {
    display: block;
    width: 175px;
    height: 45px;
    background-color: #1fa6d5;
    position: relative;
    color: #fff;
    line-height: 44px;
    font-weight: 500;
    font-size: 13px;
    margin-left: 5px;
    padding-right: 32px;
    border-radius: 2px;
}

#main-navbar #nav-upload.nav-item > a {
    background-color: #1fa6d5;
}

#main-navbar #nav-posts.nav-item > a {
    background-color: #ff5353;
}

#main-navbar #nav-video.nav-item > a {
    background-color: #2ecc71;
}

#main-navbar #nav-popup.nav-item > a {
    background-color: #fcc44c;
}

#main-navbar .nav-item > a:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 32px;
    height: 45px;
    background-color: rgba(0,0,0,.06);
    transition:  all .4s ease 0s;
}

#main-navbar .nav-item > a:hover:after {
    width: 35px;
}

#main-navbar .nav-item > a > .icon:before {
    content: "\e902";
    position: absolute;
    top: 8px;
    right: 17px;
    background-color: #FFF;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    z-index: 9;
    color: #1b95bf;
    font-size: 16px;
    line-height: 28px;
    transition:  all .4s ease 0s;
}

#main-navbar .nav-item > a:hover > .icon:before {
    transform: rotate(360deg);
    right: 20px;
}

#main-navbar #nav-upload.nav-item > a > .icon:before {
    content: "\e91d";
    font-size: 18px;
}

#main-navbar #nav-posts.nav-item > a > .icon:before {
    content: "\e909";
    font-size: 22px;
    color: #E54A4A;
}

#main-navbar #nav-video.nav-item > a > .icon:before {
    content: "\e91f";
    line-height: 27px;
    color: #29B765;
}

#main-navbar #nav-popup.nav-item > a > .icon:before {
    content: "\e915";
    color: #E2B044;
}



/*
• MIDDLE ADVERTISING
*/
#middle-ads .external-links > ul {
  display: block;
}
#middle-ads .external-links > ul > li {
  float: right;
  margin-bottom: 4px;
}

#middle-ads .external-links
{
	width:40%;
	float:right;
}

#middle-ads .banner-ads
{
	width:60%;
	float:left;
}
#middle-ads .external-links > ul > li
{
	width: 50%;
}
.pic_slide
{
	min-width:100%;
	max-width:100%;
}
#middle-ads .external-links > ul > li > a {
  display: block;
  text-align: center;
  background: #eee;
  height: 32px;
  width: 100%;
  padding:10px;
  color: #FFF;
  font-weight: 500;
  font-size: 12px;
  line-height:1.1em;
  box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.1) inset;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#middle-ads .external-links > ul > li > a:hover {
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.1) inset;
}
#middle-ads .external-links > ul:nth-child(1) li:nth-child(1) a {
  background-color: #3498db;
}
#middle-ads .external-links > ul:nth-child(1) li:nth-child(2) a {
  background-color: #34495e;
}
#middle-ads .external-links > ul:nth-child(1) li:nth-child(3) a {
  background-color: #1abc9c;
}
#middle-ads .external-links > ul:nth-child(1) li:nth-child(4) a {
  background-color: #d55d51;
}
#middle-ads .external-links > ul:nth-child(1) li:nth-child(5) a {
  background-color: #7e00a7;
}
#middle-ads .external-links > ul:nth-child(1) li:nth-child(6) a {
  background-color: #3542a6;
}
#middle-ads .external-links > ul:nth-child(1) li:nth-child(7) a {
  background-color: #d55d51;
}
#middle-ads .external-links > ul:nth-child(1) li:nth-child(8) a {
  background-color: #3498db;
}
#middle-ads .external-links > ul:nth-child(1) li:nth-child(9) a {
  background-color: #e315e1;
}
#middle-ads .external-links > ul:nth-child(1) li:nth-child(10) a {
  background-color: #269d56;
}
#middle-ads .external-links > ul:nth-child(1) li:nth-child(11) a {
  background-color: #356ea6;
}
#middle-ads .external-links > ul:nth-child(1) li:nth-child(12) a {
  background-color: #f39c12;
}
#middle-ads .banner-ads > ul > li > a {
  margin-bottom: 10px;
  display: block;
}
/*
• LAST POSTS
*/
#last-posts {
  background-color: #f6f6f6;
  padding: 2em 0px;
}
#last-posts .col-container .post {
  font-weight: 200;
}
#last-posts .col-container .post .post-title {
  position: relative;
  height: 25px;
  overflow: hidden;
  display: block;
  margin-bottom: 8px;
  white-space: nowrap;
}
#last-posts .col-container .post .post-entry {
  height: 85px;
  text-align: justify;
  font-size: 12px;
  color: #444;
  overflow: hidden;
  margin-bottom: 2em;
  position: relative;
}
#last-posts .col-container .post .post-entry .post-thumbnail {
  float: right;
  margin-left: 8px;
  width: 85px;
  height: 85px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
#last-posts .col-container .post .post-entry .post-thumbnail:hover {
  opacity: .8;
}
#last-posts .col-container .post .post-entry .post-thumbnail > a {
  display: block;
}
#last-posts .col-container .post .post-entry .post-thumbnail > a > img {
  width: 100%;
  height: 100%;
}
#last-posts .col-container .more {
  text-align: center;
  margin-top: 1em;
}
#last-posts .col-container .more .button {
  display: inline-block;
  width: auto;
  padding: 0px 42px 0px 45px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
#last-posts .col-container .more .button > .icon {
  font-size: 17px;
  position: relative;
  top: 4px;
  right: 7px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
#last-posts .col-container .more .button:hover {
  background-color: #3e98c1;
}
#last-posts .col-container .more .button:hover > .icon {
  right: 9px;
}
#last-posts .col-container .more .button:hover:before {
  display: none;
}
/*
• FOOTER
*/
#footer {
  background-color: #141519;
  min-height: 185px;
  padding: 32px;
}
#footer .caption {
  font-size: 14px;
  color: #FFF;
  font-weight: 300;
}
#footer .footer-nav {
  margin-bottom: 1.2em;
}
#footer .footer-nav nav > ul > li {
  display: inline-block;
  margin-left: 25px;
}
#footer .footer-nav nav > ul > li > a {
  display: block;
  padding-right: 20px;
  position: relative;
}
#footer .footer-nav nav > ul > li > a:before,
#footer .footer-nav nav > ul > li > a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
#footer .footer-nav nav > ul > li > a:before {
  top: 7px;
  right: 0px;
  width: 10px;
  height: 10px;
  border: 1px solid #FFF;
}
#footer .footer-nav nav > ul > li > a:after {
  top: 11px;
  right: -2px;
  width: 2px;
  height: 2px;
  background-color: #FFF;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#footer .footer-nav nav > ul > li.selected a:after {
  right: 4px;
}
#footer .footer-nav nav > ul > li:hover a:after {
  right: 4px;
}
#footer .copyright > p {
  color: #FFF;
  margin-bottom: 10px;
}
#footer .copyright > p > small {
  font-size: 12px;
}
#footer .copyright > p > small > a {
  color: #FFF;
  border-bottom: 1px dotted #374351;
  padding-bottom: 4px;
}
#footer .socials {
  position: relative;
  height: 24px;
  overflow: hidden;
  margin-top: 17px;
}
#footer .socials .social {
  display: inline-block;
}
#footer .socials .social > a {
  display: block;
  width: 24px;
  height: 24px;
}
#footer .socials .social > a#s_fb {
  background-position: -15px -15px;
}
#footer .socials .social > a#s_gp {
  background-position: -47px -15px;
}
#footer .socials .social > a#s_in {
  background-position: -79px -15px;
}
#footer .socials .social > a#s_tw {
  background-position: -111px -15px;
}
#footer .socials .social > a#s_insta {
  background-position: -143px -15px;
}
#footer .last-news {
  float: right;
}
#footer .last-news .caption {
  margin: 0px;
  padding: 0px;
  margin-bottom: 1.7em;
}
#footer .last-news > ul > li {
  margin-top: 4px;
}
#footer .last-news > ul > li > a {
  font-size: 13px;
  font-weight: 200;
  color: #728ba1;
  position: relative;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding-right: 15px;
  overflow: hidden;
  display: block;
}
#footer .last-news > ul > li > a:before {
  content: "\e920";
  color: #ccc;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  position: absolute;
  top: 3px;
  right: 0px;
}
#footer .last-news > ul > li > a:after {
  content: "\e920";
  color: #42a2ce;
  margin-right: 5px;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  position: absolute;
  top: 3px;
  right: -10px;
}
#footer .last-news > ul > li > a:hover {
  color: #42a2ce;
}
#footer .last-news > ul > li > a:hover:before {
  opacity: 0;
  right: 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
}
#footer .last-news > ul > li > a:hover:after {
  right: -3px;
}
#footer .telegram-robot {
  float: left;
  position: relative;
  top: 14px;
}
#footer .telegram-robot > .img {
  width: 94px;
  height: 122px;
  background-position: -15px -50px;
  display: inline-block;
}


#intro-ads .items
{
  margin:0 auto;
  width:468px;
}
  
  
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}
	
#header .main-header #header-ads {
    line-height: 0px !important;
}
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

nav a:hover,
nav a:focus {
	outline: none;
}

.ij-effect-1 a::before,
.ij-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.ij-effect-1 a::before {
	padding-right: 0px;
	content: '[';
	-webkit-transform: translateX(15px);
	-moz-transform: translateX(15px);
	transform: translateX(15px);
}

.ij-effect-1 a::after {
	padding-left: 0px;
	content: ']';
	-webkit-transform: translateX(-15px);
	-moz-transform: translateX(-15px);
	transform: translateX(-15px);
}

.ij-effect-1 a:hover::before,
.ij-effect-1 a:hover::after,
.ij-effect-1 a:focus::before,
.ij-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


/************SLIDER**************/
#main-slide_s{
    height:215px;
    margin:0 auto;
    position: relative;
    padding: 0px;
}
#slide2{
    background: none;
	max-width:550px;
	width:100%;
    height:215px;
    position: absolute;
    top: 0;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
#slide2 ul{
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#slide2 ul li{
    width: 100%;
    height:215px;
    margin: 0px;
    padding: 0px;
    text-align: right;
    position: relative;
    margin: 0px;
    padding: 0px;
}
#slide2 ul lu div{
    width: 100%;
    height:215px;
    background: #3FED66;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
}
#slide2 ul li div p{
    height:215px;
    background: #FFF;
    text-align: right;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    font: 13px tahoma;
    overflow: hidden;
}
#slide2 ul li div p a{
    background-color: #333333;
    font: 15px 'BYekan';
    color: #FFF;
    text-decoration: none;
    line-height: 1.7em;
    border-radius: 5px;
    padding: 2px 5px;
}
#slide2 ul li div p a:hover{
    background-color: #d3046e;
}
#nav_s { z-index: 50; position: absolute; bottom: 5px; left: 10px }
#nav_s a { margin: 0 2px; padding: 2px 4px;font: 7px tahoma; background: #c9c9c9;color:#c9c9c9; text-decoration: none;border-radius: 50%; }
#nav_s a.activeSlide {color:#555555;  background: #555555; }
#nav_s a:focus { outline: none; }








.p_login{
	margin:0 auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#f9f9f9;
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.10);
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.10);
	border:1px solid #CCC;
	width:97%;
	text-align:center;
	margin-bottom:15px;
}

#inputs input
{
    background: #f1f1f1 url(/theme/rozblog_v4/images/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 250px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#username_1
{
    background-position: 5px -2px !important;
}

#password_1
{
    background-position: 5px -52px !important;
}

#inputs input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}


.p_login h1
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 'BYekan';
    position: relative;
	margin-top:15px;
}

.update-mid .p_login h1:after, .update-mid h1:before
{
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 45%;   
}

.update-mid .p_login h1:after
{ 
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);      
    right: 0;
}

.update-mid .p_login h1:before
{
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}



#submit
{		
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
	margin-top:15px;
}

#submit:hover,#submit:focus
{		
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}	

#submit:active
{		
    outline: none;
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#submit::-moz-focus-inner
{
  border: none;
}

#actions a
{
    color: #3151A2;    
    line-height: 35px;
    margin-left: 10px;
}



.error1{
	width:100%;
    min-height: 47px;
    background: -webkit-linear-gradient(top , #96dfe8 , #88dae4);
    background: -moz-linear-gradient(top , #96dfe8 , #88dae4);
    background: -ms-linear-gradient(top , #96dfe8 , #88dae4);
    background: -o-linear-gradient(top , #96dfe8 , #88dae4);
    background: linear-gradient(top , #96dfe8 , #88dae4);
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid #78c4ce;
}
.error2{
	width:100%;
   min-height: 47px;
    background: -webkit-linear-gradient(top , #f07c7c , #ed6d6d);
    background: -moz-linear-gradient(top , #f07c7c , #ed6d6d);
    background: -ms-linear-gradient(top , #f07c7c , #ed6d6d);
    background: -o-linear-gradient(top , #f07c7c , #ed6d6d);
    background: linear-gradient(top , #f07c7c , #ed6d6d);
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid #db5252;
}
.error3{
	width:100%;
    min-height: 47px;
    background: -webkit-linear-gradient(top , #66e1a3 , #58dc97);
    background: -moz-linear-gradient(top , #66e1a3 , #58dc97);
    background: -ms-linear-gradient(top , #66e1a3 , #58dc97);
    background: -o-linear-gradient(top , #66e1a3 , #58dc97);
    background: linear-gradient(top , #66e1a3 , #58dc97);
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid #49cf8b;
}
.error1 p , .error2 p , .error3 p{
    text-align: right;
    font: 18px arial;
    margin: 12px 20px 0 0;
	font:16px 'BYekan';
}
.error1 p{
    text-shadow:2px 0 1px #D0F1F4;
    color:#479099;
}
.error2 p{
    text-shadow:2px 0 1px #F9BDBD;
    color:#a93b3b;
}
.error3 p{
    text-shadow:2px 0 1px #D2F7E4;
    color:#299a60;
}

.minfo .messs, .msuccess .messs, .mwarning .messs, .merror .messs
{
	padding:15px 37px 15px 10px;
}

.minfo, .msuccess, .mwarning, .merror {
    border: 1px solid;
    margin: 10px 0px;

    background-repeat: no-repeat;
	background-position:center right;
	-moz-border-radius:.5em;
	-webkit-border-radius:.5em;
	border-radius:.5em;
	direction:rtl;
	text-align:right;
	width:100%;
	font:9pt tahoma;
}
.minfo {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/theme/minfo.png');
}
.msuccess {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/theme/msuccess.png');
}
.mwarning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/theme/mwarning.png');
}
.merror {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/theme/merror.png');
}


.input_5{
    border: 0px none;
    padding: 0px 7px 0px 40px;
    height: 40px;
    width: 245px;
	margin-bottom:15px;
    font-size: 13px;
    background: #FFF none repeat scroll 0% 0%;
}
.input_5 {
    background: #F9F9F9 none repeat scroll 0% 0%;
    border: 1px solid #BDBDBD;
    padding: 6px;
    color: #333;
    border-radius: 5px;
}




.login_link a
{
	margin-right:30px;
}



















.alert-message p {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px;
}
.alert-message p small {
  font-size: 11px;
  color: #bfbfbf;
}

.alert-message {
	margin:10px;
  position: relative;
  padding: 7px 15px;
  margin-bottom: 18px;
  color: #404040;
  background-color: #eedc94;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.alert-message div {
  margin-top: 5px;
  margin-bottom: 2px;
  line-height: 28px;
}



.alert-message .close {
  margin-top: 1px;
  *margin-top: 0;
}
.alert-message a {
  font-weight: bold;
  color: #404040;
}
.alert-message.danger p a,
.alert-message.error p a,
.alert-message.success p a,
.alert-message.info p a {
  color: #ffffff;
}
.alert-message h5 {
  line-height: 18px;
}
.alert-message p {
  margin-bottom: 0;
}

.alert-message.block-message {
  background-image: none;
  background-color: #fdf5d9;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  padding: 14px;
  border-color: #fceec1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


.alert-message .btn {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.alert-message.block-message {
  background-image: none;
  background-color: #fdf5d9;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  padding: 14px;
  border-color: #fceec1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.alert-message.block-message ul, .alert-message.block-message p {
  margin-right: 30px;
}
.alert-message.block-message ul {
  margin-bottom: 0;
}
.alert-message.block-message li {
  color: #404040;
}
.alert-message.block-message .alert-actions {
  margin-top: 5px;
}
.alert-message.block-message.error, .alert-message.block-message.success, .alert-message.block-message.info {
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-message.block-message.error {
  background-color: #fddfde;
  border-color: #fbc7c6;
}
.alert-message.block-message.success {
  background-color: #d1eed1;
  border-color: #bfe7bf;
}
.alert-message.block-message.info {
  background-color: #ddf4fb;
  border-color: #c6edf9;
}
.alert-message.block-message.danger p a,
.alert-message.block-message.error p a,
.alert-message.block-message.success p a,
.alert-message.block-message.info p a {
  color: #404040;
}



.btn.danger,
.alert-message.danger,
.btn.error,
.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.success, .alert-message.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.info, .alert-message.info {
  background-color: #339bb9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.alert-message.block-message.error, .alert-message.block-message.success, .alert-message.block-message.info {
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}











.btn,
.btn.danger,
.btn.ok,
.alert-message.danger,
.btn.danger:hover,
.alert-message.danger:hover,
.btn.error,
.alert-message.error,
.btn.error:hover,
.alert-message.error:hover,
.btn.success,
.alert-message.success,
.btn.success:hover,
.alert-message.success:hover,
.btn.info,
.alert-message.info,
.btn.info:hover,
.alert-message.info:hover {
  color: #ffffff;
  font-family:tahoma;
  font-size:12px;

}


.alert-message .close {
  margin-top: 1px;
  *margin-top: 0;
}
.alert-message a {
  font-weight: bold;
  color: #404040;
}
.alert-message.danger p a,
.alert-message.error p a,
.alert-message.success p a,
.alert-message.info p a {
  color: #ffffff;
}
.alert-message h5 {
  line-height: 18px;
}
.alert-message p {
  margin-bottom: 0;
}
.alert-message div {
  margin-top: 5px;
  margin-bottom: 2px;
  line-height: 28px;
}



.btn.info {
  background-color: #339bb9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


.info a {
  color: #fff;
  text-decoration: none;

}

.btn a {
  color: #fff;
  text-decoration: none;

}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #000;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.btn:hover {
  background-position: 0 -15px;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn.primary {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn.active, .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    text-decoration: none;
}
.btn.disabled {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn[disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.large {
  font-size: 12px;
  line-height: normal;
  padding: 9px 14px 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}


.btn.danger,
.alert-message.danger,
.btn.error,
.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.success, .btn.ok {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);+
  color:#FFF;
}













.box-top {
	margin:3px;
	background:#FFF;
	background:-moz-linear-gradient(top, #FFFFFF 0%, #e1e1e1 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #e1e1e1));
	background:-webkit-linear-gradient(top, #FFFFFF 0%, #e1e1e1 100%);
	background:-o-linear-gradient(top, #FFFFFF 0%, #e1e1e1 100%);
	background:-ms-linear-gradient(top, #FFFFFF 0%, #e1e1e1 100%);
	background:linear-gradient(top, #FFFFFF 0%, #e1e1e1 100%);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	border:1px #d1d1d1 solid
}
.box-title {
	height:35px;
	line-height:33px;
	background:url(images/ball.png) no-repeat right center;
	text-align:right;
	direction:rtl;
	margin:0 10px;
	padding-right:20px;
	color:#343535;
	font-family:'BYekan', 'B Yekan', 'Yekan';
	font-size:18px
}

.table_2{
	margin-left:10px;
	margin-top:15px;
	background:#FBFBFB;
	-webkit-box-shadow:0 0 5px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 5px 1px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 5px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	padding-top:1px;
}

.content_tbl{
	padding:10px;	
	line-height:1.7em;
	margin:0 auto;
	width:100%;
}


.ggh1
{
	margin-right:15px;
}
.ggh2
{
	margin-left:15px;
}

.ggs{display: inline-block;vertical-align: middle;}
.ggh1,.ggh2 {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: transform;transition-property: transform;}
.ggh1:before {position: absolute;z-index: -1;content: '';top: calc(50% - 10px);left: 0;border-style: solid;border-width: 10px 10px 10px 0;border-color: transparent #42a2ce transparent transparent;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: transform;transition-property: transform;}
.ggh1:hover, .ggh1:focus, .ggh1:active {-webkit-transform: translateX(10px);transform: translateX(10px);}
.ggh1:hover:before, .ggh1:focus:before, .ggh1:active:before {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
.ggh2:before {position: absolute;z-index: -1;top: calc(50% - 10px);right: 0;content: '';border-style: solid;border-width: 10px 0 10px 10px;border-color: transparent transparent transparent #42a2ce;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: transform;transition-property: transform;}
.ggh2:hover, .ggh2:focus, .ggh2:active {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
.ggh2:hover:before, .ggh2:focus:before, .ggh2:active:before {-webkit-transform: translateX(10px);transform: translateX(10px);}




.ex_link{
    width: 160px;
    height: 35px;
    margin: 5px 0px;
    color: #FFF;
    line-height:2.5em;
    background: #42a2ce;
	border:1px solid #42a2ce;
    display: inline-block;
    text-align: center;
	border-radius: 3px;
}
.ex_link:hover{
    background: #3e98c1;
    color: #F5F5F5;
}





/*
MEDIA QUERY
*/


  
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (max-width: 992px) {
  #footer .container-col:first-child {
    margin-bottom: 3em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 3em;
  }
}
@media (max-width: 992px) {

	#main-slide_s{
		width:550px;
	}
	#middle-ads .external-links > ul > li
	{
		width: 25%;
	}
	
	#middle-ads .external-links
	{
		width:100%;
	}
	
	#middle-ads .banner-ads{
		width: 100%;
		height: 100%;
		margin-top: 1em;
		background:none;
	}
	
	.container
	{
		width:98%;
	}
	
	#header-ads
	{
		width:100%;
		margin:0 auto;
	}
	
	#header .main-header #header-ads .items
	{
		width:468px;
		margin:0 auto;
	}
	
	#header .main-header #header-ads .ads-place
	{
		height:0px;
		margin:0px;
		padding:0px;
		display:none;
		visibility:hidden;
	}
	
  #intro .about {
    margin: 0px !important;
	width:100%;
  }

  #intro #intro-ads
  {
	width:100%;
	background:none;
	padding: 0px;
	border-radius: 0px;
	border-bottom:1px solid #c2c7c9;
	padding-bottom:10px;
  }
  
  #intro-ads .items
  {
	  margin:0 auto;
  }
  
  #user-area .col-item:last-child {
    margin-top: 3em;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 3em;
  }
  #middle-ads .banner-ads {
    text-align: center;
    border-radius: 3px;
    padding: 0px;
  }
}
@media (max-width: 767px) {
	.container
	{
		width:100%;
		margin:0px;
		padding:0px;
	}
	
  .top-header {
    text-align: center;
    height: auto !important;
  }
  .top-header .user-btn {
    margin-top: 1em;
    border-top: 1px solid #dadada;
  }
  #intro-ads
  {
	  width:100%;
  }
  #header .top-header .user-btn .item a
  {
	margin:0 auto;
  }
  #header .top-header .user-btn .item
  {
	margin:10px 0;
  }
  #header .top-header .user-btn .item {
    display: inline-block;
    float: none;
	width:45%;
	border:0px solid red;
	vertical-align:middle;
  }
  .top-header .left-fl,
  .top-header .right-fl {
    float: none;
  }
  
#middle-ads .external-links
{
	width:100%;
	float:none;
	clear:both;
}

  #middle-ads .banner-ads{
    width: 100%;
    height: 100%;
  }
  #middle-ads .banner-ads .col-container > ul > li > a > img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 555px)
{
	#main-slide_s{
		min-width:250px;
		max-width:100%;
	}
}
@media (max-width: 460px)
{
	.container-fluid {
		padding-right: 0px;
		padding-left: 0px;
		margin-right: auto;
		margin-left: auto;
	}
	#header .main-header #brand .main-heading > .desc {
	  display:none;
	  visibility:hidden;
	  height:0px;
	  margin:0px;
	}

}

@media (max-width: 400px)
{
  #header .top-header .user-btn
  {
	text-align:center;
	margin-bottom:1em;
	margin:0 auto;
  }
  #header .top-header .user-btn .item {
    display: block;
    float: none;
	width:100%;
	
  }
  
}