
.icon-bobi-web {
	background-image: url('png/bobi-web.png');
	background-repeat: no-repeat;
}

.icon-header-logo, .home-vs_logo {
	background-image: url('png/header-logo.png');
	background-repeat: no-repeat;
}

.icon-power-t {
	background-image: url('png/power-t.png');
	background-repeat: no-repeat;
}
.icon-header-left {
	background-image: url('png/header-left.png');
	background-repeat: no-repeat;
}