





#testimo-demo .carousel, #aboutIon-demo .carousel, #resource-demo .carousel, banner-demo {
   
    float: left;
    margin:0;

    /* Needed for rendering without flicker */
    position: relative;
    visibility: hidden;
    left: -5000px;
}
    /* Styling for image based carousel content. Only width and height are mandatory */
    #testimo-demo .carousel>ul>li, banner-demo .carousel>ul>li {
       
        vertical-align:middle;

        /* optional */
        margin: 10px 30px 10px 0;
       
    }
	
	 #aboutIon-demo .carousel>ul>li{  vertical-align:middle;  margin: 10px 0px 10px 0;}

#testimo-demo{ }
#testimo-demo .carousel>ul>li{
	margin:0;
}
a.prev i, a.next i { position:absolute;}
    /* Styling for text based carousel content. Only width and height are mandatory */
    #testimo-demo .carousel>ul>li>p, #aboutIon-demo .carousel>ul>li>p, #resource-demo .carousel>ul>li>p {
        width: 130px;
        height: 98px;

        margin: 10px 10px 10px 0;
        border: 1px solid #808080;
        border-radius: 5px;
        line-height: normal;
        background-color: #fff;
        padding: 10px;
    }

/* Styles for PREV and NEXT anchor buttons */
#testimo-demo a.prev, #testimo-demo a.next, #testimo-demo a.go,  #aboutIon-demo a.prev, #aboutIon-demo a.next, #aboutIon-demo a.go,  #resource-demo a.prev, #resource-demo a.next, #resource-demo a.go{
    display: block;
   
    height: 30px;
    line-height: 1;
    text-decoration: none;
    font-size: 43px;	
    float: left;
}
    #testimo-demo a.prev.disabled, #testimo-demo a.next.disabled,
    #testimo-demo a.prev.disabled:hover, #testimo-demo a.next.disabled:hover, #resource-demo a.prev.disabled, #resource-demo a.next.disabled,
    #resource-demo a.prev.disabled:hover, #resource-demo a.next.disabled:hover {
       
        cursor: auto;
		color:#ebebeb;
    }
    #testimo-demo a.go.highlight i,  #aboutIon-demo a.go.highlight i, #resource-demo a.go.highlight i{
        
        
    }
	
	#aboutIon-demo a.prev.disabled, #aboutIon-demo a.next.disabled,
    #aboutIon-demo a.prev.disabled:hover, #aboutIon-demo a.next.disabled:hover{cursor: auto;
		color:#6a7589;}
	
	 #aboutIon-demo a.prev, #aboutIon-demo a.next{ 
        margin: 20px 0px 0 0;
color: #ebebeb;
       
    }
   #testimo-demo a.prev{

color: #6a7589;
position:absolute;
left:10%;
z-index:1000;
 
   }
    #testimo-demo a.next{
	          
color: #6a7589;
position:absolute;
right:12%;
z-index:1000;
 
   }
	
   #resource-demo a.prev,  #resource-demo a.next {
        margin: 80px 0px 0 0;
color: #6a7589;
       
    }
   
       

/* Additional carousel styles for external controls, slider, widget, mid etc. */

#resource-demo .externalControl button,
#resource-demo .resourceSliderExt button {
    margin: 5px 5px 0 0;
}
#resource-demo .externalControl a.next, #resource-demo .externalControl a.prev, #resource-demo .externalControl a.go,
#resource-demo .resourceSliderExt a.next, #resource-demo .resourceSliderExt a.prev, #resource-demo .resourceSliderExt a.go
{
    margin: 0 5px 0 0;
    padding: 7px 5px 0 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
}

#resource-demo .widget img {
    cursor: pointer;
}
#resource-demo .mid {
    margin-left: 50px;
    width: 400px;
    height: 300px;
}
#resource-demo .vertical {
    margin-left: 170px;
}

#resource-demo .resourceSlider .carousel>ul>li>img,
#testimo-demo .resourceSliderExt .carousel>ul>li>img {
    width: 400px;
    height: 300px;
}
#resource-demo .resourceSlider .carousel>ul>li>p,
#resource-demo .resourceSliderExt .carousel>ul>li>p {
    width: 380px;
    height: 280px;
}

/* Other common styles */

.clear {
    clear: both;
}

@charset "utf-8";
.rslides {
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
   /* width: 100%;*/
}
.rslides li {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
   /* width: 100%;
	height:553px;*/
}
.rslides li:first-child {
    display: block;
    float: left;
    position: relative;
}
.rslides img {
    border: 0 none;
    display: block;
    float: left;
    /*height: 553px;
    width: 100%;*/
	
}
.rslides1_nav {
    background: url("../images/themes.png") no-repeat scroll 4px 166px transparent;
    height: 185px;
    left: 2px;
    margin-top: -87px;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    text-indent: -9999px;
    top: 50%;
    width: 25px;
    z-index: 99;
}
.rslides1_nav.next {
    background-position: -20px 166px;
    left: auto;
    right: 2px;
}
.rslides1_nav:hover {
    background: url("../images/themes1.png") no-repeat scroll 4px 166px transparent;
    height: 185px;
    left: 2px;
    margin-top: -87px;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    text-indent: -9999px;
    top: 50%;
    width: 25px;
    z-index: 99;
}
.rslides1_nav.next:hover {
    background-position: -20px 166px;
    left: auto;
    right: 2px;
}
.rslides_tabs {
    position: absolute;
    top: 100%;
    z-index: 100;
	left:1%;
	width:100%
}
.rslides_tabs li {
    display: inline-block;
	margin:5px
    
}
/*.rslides_tabs li a {
    background: url("../images/dot-banner.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    display: block;
    font-size: 0;
    height: 11px;
    width: 11px;
}
.rslides_here a {
    background: url("../images/current-dot-banner.png") no-repeat scroll right top rgba(0, 0, 0, 0) !important;
}
*/
.carousel label {
    display: block;
    text-align: center;
	margin-top:20px
}