@charset "utf-8";

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svgfooter .footercols#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
 
 
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg#Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

* {
	margin: 0;
	padding: 0;
}
a {
	outline: none;
	text-decoration: none;
	color: inherit;
	height: inherit;
}
html {
	overflow-x: hidden;
}
body {
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #363636;
}
.Clear {
	clear: both;
}
.fltleft {
	float: left;
}
.fltrght {
	float: right;
}
.hei-gap {
	height: 40px;
}
.posRel {
	position: relative;
}
.scroll-container {
	width: 100%;
	float: left;
}
.bookdemo_livechat {
	position: fixed;
	top: 46%;
	right: -35px;
	z-index: 110;
	opacity: 0;
	transition: .7s ease-in-out;
}
.educationInfographic {
	width: 500px;
}
.dvbookdemo a, .dvlivechat a {
	-webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
	transition: width 0.5s;
	display: block;
	background: #FE8100;
	width: 40px;
	height: 40px;
	overflow: hidden;
}
.dvbookdemo a:hover, .dvlivechat a:hover {
	width: 110px
}
.dvlivechat a {
	background: #2d70b6;
}
.dvbookdemo a > i, .dvlivechat a > i {
	font-size: 1.6em;
	color: #ffffff;
	line-height: 40px;
	margin-left: 7px;
	display: block;
	width: 20px
}
.dvbookdemo:hover a > i, .dvlivechat:hover a > i {
	vertical-align: 1px;
}
.dvbillpay a > i {
	margin-left: 34%;
}
.dvrefer a > img {
	margin: 12px 0 0 18px;
}
.dvbookdemo a > span, .dvlivechat a > span {
	color: #fff;
	font-size: 0.9em;
	line-height: 40px;
	display: inline-block;
	vertical-align: 5px;
	padding-left: 5px
}
.bookdemo_livechat_parallax {
	opacity: 1;
	right: 5px;
	transition: .7s ease-in-out;
}
.bookdemo_livechat_parallax_back {
	opacity: 0;
	right: -35px;
	transition: .7s ease-in-out;
}
.inner_videoshow1 .edu_videoshow {
	width: 72%;
}
button {
	background: none;
	border: 0;
	outline: none;
}
.btn-menu {
	right: 7px;
	cursor: pointer;
	z-index: 400;
	padding: 0;
	border: 0;
}
.btn-menu span {
	position: absolute;
	width: 28px;
	left: 6px;
	right: 10px;
	display: block;
	height: 4px;
	margin-top: -2px;
	background-color: #F37234;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
	border: 0;
}
.btn-menu span:before, .btn-menu span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #F37234;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	border: 0;
}
.btn-menu span:before {
	-webkit-transform: translateY(-220%);
	transform: translateY(-220%);
	border: 0;
 
}
.btn-menu span:after {
	-webkit-transform: translateY(220%);
	transform: translateY(220%)
}
.btn-menu.white span {
	background-color: #fff;
	border: 0;
}
.btn-menu.white span:after, .btn-menu.white span:before {
	background: #fff;
	border: 0;
}
.btn-menu.btn-menu-open span {
	background-color: transparent;
	border: 0;
}
.btn-menu.btn-menu-open span:before {
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg)
}
.btn-menu.btn-menu-open span:after {
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}
header {
	transition: all 1s ease 0s;
	top: -135px;
	position: fixed;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 130;
	height: 120px;/* border-bottom:1px solid #7F7F7F;*/
}
.headerUpper {
	width: 100%;
	background: #2d3540;
	height: 35px;
}
.headerUpperLft {
	padding: 12px 10px 0;
	width: 200px;
}
.headerUpperRght {
	padding: 10px 10px 0px 10px;
	width: 75px
}
.dvlogo {
	margin: 8px 0 0 1%;
	float: left;
	transition: all 1s ease 0s;
	min-width: 115px;
	width: 115px;
}
.collapse .dvlogo {
	min-width: 80px;
	margin: 3px 0 0 1%;
	width: 80px;
}
.searchicon {
	height: 20px;
}
.head_rght_cont {
	float: right;
	margin-right: 10px;
	position: relative;
	min-width: 450px;
}
header ul {
	margin: 31px 0px 0 0;
	float: left;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
}
header li {
	display: inline-block;
	font-size: 0.9em;
	float:left;
	margin: 0 7px;
}
.dvsearch {
	float: right;
	margin: 3px 0 0 0;
}
input.txtsearchbox {
	border: 0px solid #fbac87;
	color: #363636;
	width: 0;
	position: absolute;
	height: 33px;
	top: 27px;
	right: 28px;
	opacity: 0;
	padding: 5px;
	-webkit-transition: width 0.5s ease 0s, border 0.5s ease 0s, opacity 0.5s ease 0s;transition: width 0.5s ease 0s, border 0.5s ease 0s, opacity 0.5s ease 0s;
	z-index: 170;
}
.collapse input.txtsearchbox {
	top: 10px
}


.abtionicon {
    float: left;
    margin: 27px 15px 0;
    width: 9%;
}
input.txtsearchbox_big {
	width: 85%;
	/*margin-right: -1%;*/
	border: 1px solid #fbac87;
	opacity: 1;
	-webkit-transition: width 0.5s ease 0s, border 0.5s ease 0s, opacity 0.5s ease 0s;transition: width 0.5s ease 0s, border 0.5s ease 0s, opacity 0.5s ease 0s;
	border-radius: 3px
}
.searchicon a {
	float: left;
	margin: 0px 3px 0 5px;
	-webkit-transition: all 1s ease 0s;transition: all 1s ease 0s;
	cursor:pointer;
}
.searchicon i {
	font-size: 1.4em;
	color: #ccc;
}
.burger_menu {
	cursor: pointer;
	display: none;
	margin-top: 20px;
	-webkit-transition: all 1s ease 0s;transition: all 1s ease 0s;
	position: absolute;
	right: 12px;
}
.burger_menu:hover {
	background-image: #666;
}
.burger_menu i {
	font-size: 1.6em;
	color: #f37234;
}
.burger_menu button {
	width: 40px;
	height: 40px;
	border: 1px solid #666;
	border-radius: 3px;
	transition: all 1s ease 0s;
}
.burMenubuttons .dvheadbookdemo span:before, .burMenubuttons .dvheadsignin span:before {
	color: #fff;
}
.dvheadbookdemo, .dvheadsignin, .dvbann_readmore {
	border: 1px solid #f26522;
	border-radius: 20px;
	width: 135px; /*height:40px;*/
	float: left;
	margin: 5%;
}
.dvbann_readmore {
	border: 1px solid #ffffff;
	display: none;
	opacity: 0;
	overflow: hidden;
	margin-top: -20px;
}
.dvvideomore, .dvvideobookdemo, .dvrescdownload, .dvfooterbookdemo {
	background: #fdc61e;
	border-radius: 20px;
	width: 146px; /*height:40px;*/
	float: left;
	margin: 27px 9px 0 0;
}
.dvvideobookdemo {
	background: #f26522;
}
.dvrescdownload {
	background: #e3eb98;
	margin-top: 35px;
	margin-bottom: 17px;
	margin-right: 0;
	margin-left: calc((100% - 135px) /2);
}
header li a {
	color: #fff;
	text-decoration: none;
	
	position: relative;
	white-space: nowrap;
	
}
/*header li a:hover::before, header li a:focus::before {
	max-width: 100%;
}*/
header li a:hover::before {
	max-width: 100%;
}
header li a::before {
	border-bottom: 2px solid #FE8100;
	color: #fff/*#FE8100*/;
	content: attr(data-hover);
	max-width: 0;
	overflow: hidden;
	position: absolute;
	-webkit-transition: max-width 0.5s ease 0s;
	transition: max-width 0.5s ease 0s;
}
.nav_selected {
	border-bottom: 2px solid #FE8100;
	/*color: #FE8100;*/
	content: attr(data-hover);
	max-width: 100%;
	overflow: hidden;
	transition: max-width 0.5s ease 0s;
	-webkit-transition: max-width 0.5s ease 0s;
}
.header-bprDiv {
	float: left;
	margin: 24px 0 0 0;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
}
.header-bprDiv a, .header-bprDiv a:hover {
	background-color: rgba(1, 1, 1, 0.7);
}
.ipay {
	background: url(../images/SVG/billpay.svg) no-repeat center 10px;
	width: 16px;
	height: 23px; /*border:1px solid #cd8b33;*/
	border-radius: 50%;
	float: left;
	padding: 7px 10px;
	margin: -2px 5px 0 0;
	position: relative;
}
.ipay:hover {
	background: url(../images/SVG/billpay-hover.svg) no-repeat center 10px;
}
.irefer {
	background: url(../images/SVG/refer-cus-hover.svg) no-repeat scroll -16px -14px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	float: left;
	padding: 6px;
	margin: -2px 5px 0 0;
	position: relative;
}
.irefer:hover {
	background: url(../images/SVG/refer-cus.svg) no-repeat scroll -16px -14px;
}
.header-label {
	color: #FE8100;
	float: left;
	font-size: 40px;
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	margin: 0 10px 0 16px;
	;
}
.dvheadbookdemo a, .dvheadsignin a, .dvbann_readmore a, .dvvideomore a, .dvvideobookdemo a, .dvrescdownload a, .dvfooterbookdemo a {
	color: #fda22d;
	text-decoration: none; /*line-height:40px;*/
	margin: 10px 0;
	text-align: center;
	display: block;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	z-index: 140;
}
.dvheadsignin a {
	color: #f26522;
}
.dvbann_readmore a, .dvvideobookdemo a, .dvfooterbookdemo a {
	color: #ffffff;
}
.dvvideomore a, .dvrescdownload a {
	color: #363636;
}
.dvfooterbookdemo a {
	z-index: 90;
	float: none !important;
}
.dvheadbookdemo a span, .dvheadsignin a span, .dvbann_readmore a span, .dvvideomore a span, .dvvideobookdemo a span, .dvrescdownload a span, .dvfooterbookdemo a span {
	display: inline-block;
	position: relative;
	-webkit-transition: transform 0.3s ease 0s;transition: transform 0.3s ease 0s;
}
.dvheadbookdemo a span::before, .dvheadsignin a span::before, .dvbann_readmore a span::before, .dvvideomore a span::before, .dvvideobookdemo a span::before, .dvrescdownload a span::before, .dvfooterbookdemo a span::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	top: 100%;
	-webkit-transform: translate3d(0px, 0px, 0px);transform: translate3d(0px, 0px, 0px);
}

.dvbann_readmore a span::before {
	color: #fff;
}
.hm_videointro a span::before, .inner_showbtns a span::before, .btnbookdemoCenter a span::before, .dvfooterbookdemo a span::before {
	color: #fff;
}
.dvheadbookdemo a:hover span, .dvheadbookdemo a:focus span, .dvheadsignin a:hover span, .dvheadsignin a:focus span, .dvbann_readmore a:hover span, .dvbann_readmore a:focus span, .dvvideomore a:hover span, .dvvideomore a:focus span, .dvvideobookdemo a:hover span, .dvvideobookdemo a:focus span, .dvrescdownload a:hover span, .dvrescdownload a:focus span, .dvfooterbookdemo a:hover span, .dvfooterbookdemo a:focus span {
	-webkit-transform: translateY(-100%);transform: translateY(-100%);
}
.dvrescdownload:hover, .dvrescdownload:focus {
/*background:#fdc61e;*/
}
.home_banner, .inner_banner {
	/*height: 100%;
	left:-5%;*/
	position: fixed;
	margin: 0 auto 0 auto;
	top: 0px; /* header height */
	z-index: 10;
	width: 100%;
}
.imgbanner {
	width: 100%;
	position: relative;
}
.home_banner img, .inner_banner img {/*width:100%; height:100%;*/
	opacity: 1;
}
.home_banner .lftcont {
	width: 0px;
	position: absolute;
	top: 60%; /*left:2%;*/
	z-index: 100;
	opacity: 1;
}
ul.lftcont li {/*background: rgba(0, 0, 0, 0.5);*/
	padding: 5px;
	width: 100%;
}
.home_banner .lftcont_width {
	width: 490px;
	padding: 15px 20px;
	transition: width 1s ease-in-out;
	list-style-type: none
}
.bann_heading {
	color: #ffffff;
	font-weight: bold;
	font-size: 2em;
	padding: 10px 0;
	display: block;
	opacity: 1;
	overflow: hidden;
	width: 500px;
}
.banneranim {
	margin-top: 0px;
	opacity: 1;
	transition: margin-top 0.5s ease, opacity 0.5s ease;
}
.btn_bann_scroll {
	width: 76px;
	height: 76px;
	border: 4px solid #f26522;/* border-radius:50px;*/
	background: rgba(255, 255, 255, 0.7);
	left: 50%;
	position: absolute;
	text-align: center;
	display: none;
}
.btn_bann_scroll a {
	color: #f26522;
	text-decoration: none;
	display: block; /*border-radius:50px*/
	;
	height: 76px;
}
.btn_bann_scroll a > span {
	display: block;
	padding-top: 20px;
}
.btn_bann_scroll a > i {
	font-size: 1.3em;
}
.btn_bann_scroll a:hover {/*box-shadow: 0px 12px 9px rgba(243, 115, 55, 0.8);*/
	box-shadow: 0px -11px 0px rgba(243, 115, 55, 1);
}
 @keyframes bounce {
0%, 20%, 50%, 80%, 100% {
-webkit-transform: translateY(0);transform: translateY(0);
}
40% {
-webkit-transform: translateY(-20px);transform: translateY(-20px);
}
60% {
-webkit-transform: translateY(-20px);transform: translateY(-20px);
}
}
.bounce {
	animation: bounce 1s ease-in-out infinite;
}
.prev_nxt_arr {
	margin: 3% 0 0 0;
	padding: 0 25px;
	float: left;
}
ul.rslides_tabs {
	list-style: none;
}
.rght_bann_btn {
	position: absolute;
	top: 42%;
	width: 23px;
	margin-right: 0px;
	z-index: 102;
}
.rght_bann_btn .black_circle, .rght_bann_btn .white_circle, .banButtons a {
	width: 10px;
	height: 10px;
	border-radius: 15px;
	border: 2px solid #000000;
	margin: 10px 0;
	cursor: pointer;
	font-size: 0;
	display: block;
}
.rght_bann_btn .white_circle, .rslides_tabs li a {
	border: 2px solid #ffffff;
}
.rght_bann_btn .black_circle > span, .rslides_here a {
	width: 9px;
	height: 9px;
	border-radius: 10px;
	background: #fcb034;
	display: block;
	margin: 6px;
}
.rght_bann_btn .white_circle:hover, .rslides_tabs li a:hover {
	-webkit-transform: scale(1.3);transform: scale(1.3);
}
.banner_bullet_animate {
	margin-right: 0px;
	opacity: 1;
	-webkit-transition: margin-right 1s ease-in-out, opacity 1s ease-in-out;transition: margin-right 1s ease-in-out, opacity 1s ease-in-out;
}
.Scrolling_content, .Scrolling_content_inner {
	background: #ffffff;
	position: relative;
	z-index: 10;
}
/*.Scrolling_content_inner{ margin-top:335px;}*/

.prod_info {
	opacity: 0;
	margin: 40px 65px;
	/*margin: 0px auto;*/
}
.home_prod_info {
	position: relative;
}
.home_prod_info .ion_prod_bg {
	background: url(../images/sectors-products-img.png) no-repeat;
	width: 100%;
	height: 100%;
	float: left;
	background-size: cover;
}
.home_prod_info .ion_prod_bg > span {
	color: #ffffff;
	text-align: center;
	display: block;
	margin-top: 19%;
}
.hm_orange_box {
	width: 33.32%;
	height: 242px;
	float: left;
	border-top: 0;
	border-right: 0; /*box-shadow: 0px 0px 1px 2px #000;*/
}
.hm_orange_box_cont > span {
	text-align: center;
	display: block;
	padding: 0 25px;
}
.hm_orange_box .heading {
	font-size: 1.3em;
	font-weight: bold;
	display: block;
	text-align: center;
	padding: 14px 10px 5px;
	color: #fff
}
.hm_orange_box .sub_heading {
	font-size: 1em;
	display: block;
	text-align: center
}
.hm_orange_box .content {
	font-size: 0.8em;
	margin-top: 6px;
	line-height: 18px;
	padding: 3px 10px 15px 10px;
	display: none;
	text-align: center
}
.hm_orange_box .lnk {
	color: #fcb034;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	display: block;
	padding-top: 10px;
	font-weight: bold;
}
.hm_orange_box_cont, .edu_orange_box_cont {
	height: 0;
	transition: all 0.3s ease 0s;
	color: #586171;
	cursor: pointer;
}
.hm_orange_box_cont_hover, .edu_orange_box_cont_hover {
	background: #3d86c6;
	height: 100%;
	color: #ffffff;
}
.hm_prod_imgs {
	background-image: url(../images/sprite_hm_prod.png);
	background-repeat: no-repeat;
	background-position: -9999px -9999px;
	padding: 12px 0 0 0;
}
.hm_prod_imgs > span {
	background-image: inherit;
	background-repeat: inherit;
	display: block;
}
.hm_prod_imgs .education {
	width: 20%;
	height: 75px;
	background-position: 0px 0px;
	margin: 0 auto;
}
.hm_prod_imgs .manufact {
	width: 20%;
	height: 75px;
	background-position: -201px 0px;
	margin: 0 auto;
}
.hm_prod_imgs .hcm {
	width: 20%;
	height: 75px;
	background-position: 0 -101px;
	margin: 0 auto;
}
.hm_prod_imgs .css {
	width: 20%;
	height: 75px;
	background-position: -201px -101px;
	margin: 0 auto;
}
.hm_prod_imgs .exboa {
	width: 20%;
	height: 75px;
	background-position: 0 -218px;
	margin: 0 auto;
}
#testimo-demo .carousel li {
	min-height : 150px;/*border-bottom : 1px #6F3 solid;*/
}
.youtubeicon_image {
	background: url("../images/play-icon.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	height: 64px;
	left: 45%;
	position: absolute;
	top: 40%;
	width: 64px;
	z-index: 100;
	cursor: pointer;
}
/*education page starts*/

.edu_prod_info {
	height: 242px;
	background: #e0e0e0;
	margin: 0 46px;
}
.edu_prod_info .ion_prod_bg {
	background: url(../images/sprite_edu_prod.png) no-repeat left -82px;
	width: 33.33%;
	height: 242px;
	float: left;
}
.edu_prod_info .ion_prod_bg > span {
	color: #ffffff;
	font-size: 2.5em;
	text-align: center;
	display: block;
	margin-top: 10%;
	line-height: 40px;
}
.edu_prod_info .ion_prod_bg span.sub_heading {
	font-size: 1.2em;
	margin: 5% 2% 0 2%;
}
.edu_orange_box {
	width: 33.33%;
	height: 242px;
	float: left;
	border: 0;
	border-top: 0;
	border-right: 0;
	background-color: #E0E0E0;
	cursor: pointer;
}
.edu_orange_box_cont > span {
	text-align: center;
	display: block;
	padding: 0 30px;
}
.edu_orange_box .heading {
	font-size: 1.1em;
}
.edu_orange_box .sub_heading {
	font-size: 1em;
}
.edu_orange_box .content {
	font-size: 0.9em;
	margin-top: 9px;
	line-height: 18px;
	padding: 0 30px 60px 30px;
}
.edu_orange_box .lnk {
	color: #fcb034;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	display: block;
	padding-top: 10px;
	font-weight: bold;
}
.edu_orange_box_cont {
	height: 100%;
	transition: all 0.3s ease 0s;
	color: #586171;
	cursor: pointer;
}
.edu_orange_box_cont_hover {
	background: #3d86c6;
	height: 100%;
	color: #ffffff;
	cursor: default;
}
.edu_prod_imgs {
	background-image: url(../images/sprite_edu_prod.png);
	background-repeat: no-repeat;
	background-position: -9999px -9999px;
	padding: 65px 0 0 0;
}
.edu_prod_imgs > span {
	background-image: inherit;
	background-repeat: inherit;
	display: block;
}
.edu_prod_imgs .sectors {
	width: 55px;
	height: 75px;
	background-position: -99px 0px;
	margin: 0 auto;
}
.edu_prod_imgs .products {
	width: 55px;
	height: 75px;
	background-position: -212px 0px;
	margin: 0 auto;
}
.edu_prod_imgs .vocation {
	width: 55px;
	height: 75px;
	background-position: -187px 0px;
	margin: 0 auto;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #3d86c6;
	margin: 0 auto;
}
/*education page ends*/

/*manufacturing page starts*/

.manu_prod_info {
	height: 478px;
	background: #e0e0e0;
	width: 752px;
	margin:0 auto;
}
.manu_prod_info .ion_prod_bg {
	background: url(../images/sprite_manu_prod.png) no-repeat left -180px;/* width:374px;*/
	height: 237px;
	float: left;
}
.manu_prod_info .ion_prod_bg > span {
	color: #ffffff;
	font-size: 2.5em;
	text-align: center;
	display: block;
	margin-top: 10%;
}
.manu_prod_info .ion_prod_bg span.sub_heading {
	font-size: 1.2em;
	margin: 5% 2% 0 2%;
}
.manu_orange_box {
	width: 374px;
	height: 237px;
	float: left;
	border: 2px solid #ffffff;
	border-top: 0;
	border-right: 0;
}
.manu_orange_box_cont > span {
	text-align: center;
	display: block;
	padding: 0 30px;
}
.manu_orange_box .heading {
	font-size: 1.1em;
}
.manu_orange_box .sub_heading {
	font-size: 1em;
}
.manu_orange_box .content {
	font-size: 0.9em;
	margin-top: 9px;
	line-height: 18px;
}
.manu_orange_box .lnk {
	color: #fcb034;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	display: block;
	padding-top: 10px;
	font-weight: bold;
}
.manu_orange_box_cont {
	height: 0;
	transition: all 0.3s ease 0s;
	color: #586171;
	cursor: pointer;
}
.manu_orange_box_cont_hover {
	background: #3d86c6;
	height: 100%;
	color: #ffffff;
}
.manu_prod_imgs {
	background-image: url(../images/sprite_manu_prod.png);




	background-repeat: no-repeat;
	background-position: -9999px -9999px;
	padding: 12px 0 0 0;
}
.manu_prod_imgs > span {
	background-image: inherit;
	background-repeat: inherit;
	display: block;
}
.manu_prod_imgs .auto {
	width: 15%;
	height: 75px;
	background-position: 0px 0px;
	margin: 0 auto;
}
.manu_prod_imgs .pharma {
	width: 15%;
	height: 75px;
	background-position: -182px 0px;
	margin: 0 auto;
}
.manu_prod_imgs .process {
	width: 15%;
	height: 75px;
	background-position: 0px -92px;
	margin: 0 auto;
}
/*manufacturing page ends*/





.hm_prodimg_hover, .edu_prodimg_hover {
	transition: all 0.3s ease 0s;
}
.common_abtion {
	margin-top: 50px;
	opacity: 0;
}
.hm_aboution {
	background: #f3f3f3; /*height:836px;*/
	height: auto;
	float: left;
	padding: 40px 65px;
	display: block;
}
.hm_aboution .leftcont {
	width: 51%;
	float: left;
	margin-bottom: 10px !important;
}
.hm_aboution span, .hm_aboution p {
	padding: 7px 0;
}
.hm_aboution .purple_json_content {
	padding: 0 10px;
	width: 100%;
}
.hm_aboution .purple_json_content img {
	float: left;
	margin: 0px 10px 0px 0px;
}
.hm_aboution .heading, .edu_aboution .heading {
	font-size: 2em;
	color: #033155;
	display: block;
}
.hm_aboution .sub_heading {
	color: #363636;
	font-size: 1.3em;
	display: block;
}
.hm_aboution p, .edu_aboution p {
	color: #363636;
	font-size: 0.9em;
	display: block;
}
.hm_aboution li {
	color: #FE8100;
	list-style: disc;
	margin: 12px 0 0 13px;
}
.hm_aboution li > span {
	color: #363636;
	font-size: 0.9em;
}
#hm_tohide {
	display: block;
	background: #ffffff;
	height: 185px;
}
#edu_tohide, #manu_tohide {
	background: #ffffff;
	display: block;
	height: inherit;
	width: 100%;
}
.aboutiONanim_hide {
	margin-bottom: -5px;
	opacity: 0;
	overflow: hidden;
}
.aboutiONanim_show {
	margin-bottom: 0px;
	opacity: 1;
	transition: margin-bottom 0.5s ease, opacity 1s ease;
}
/*.hm_aboution_parallax, .edu_aboution_parallax,.common_abtion_parallax{opacity:1; margin-top:20px;  transition:opacity 1s ease-in-out, margin-top 1s ease-in-out;} */


#hm_desktop_hide {
	display: block;
}
.hm_aboution .rghtcont {
	width: 45%;
	opacity: 1;
	float: right;
}
.hm_purplebox {
	width: 100%;
	height: 185px;
	background: #9776bd;
	padding: 20px;
	border-radius: 22px;
	box-shadow: 0 0 14px 7px #ccc; /*padding:40px 65px 10px 65px;*/
}
.hm_purplebox .heading {
	font-size: 1.7em;
	color: #ffffff;
	text-indent: 8%;
}
.hm_purplebox .sub_heading {
	font-size: 1.4em;
	color: #ffffff;
	line-height: 13px;
}
.hm_purplebox .content {
	font-size: 1em;
	color: #ffffff;
	float: left;
	width: 100%;
}
.hm_videoshow {
	margin-top: 20px;
	position: relative;
}
.hm_videointro {
	margin-top: 30%;
}
.hm_videointro .heading {
	color: #363636;
	font-size: 1.3em;
	display: block;
}
.dvvideomore span, .dvvideobookdemo span {
	padding: 0;
}
.edu_aboution {
	background: #d2f1fa url(../images/edu_hm_videobg.jpg) no-repeat right top;
	/*height: 714px;*/
	float: left;
	display: block;
	width: 100%;
}
.edu_aboution .leftcont {
	padding: 1% 4% 0 4%;
}
.edu_aboutionNew {
	height: 900px;
}
.common_abtion table tr {
}
.common_abtion table td {
	vertical-align: top;
}
.common_abtion table tr.numbers td {
	color: #FE8100;
	font-size: 2em;
	width: 33.33%;
}
.common_abtion table td:nth-child(1), .common_abtion table td:nth-child(2), .edu_aboution table td:nth-child(2) {
	border-right: 1px solid #2d70b6;
}
.common_abtion table td:nth-child(1), .common_abtion table td:nth-child(2), .common_abtion table td:nth-child(3) {
	padding: 0 10px 0 0px;
}
.common_abtion table td:nth-child(2), .common_abtion table td:nth-child(3), .edu_aboution table td:nth-child(3) {
	padding: 0 10px 0 20px;
}
.edu_videoshow {
	float: left;
	width: 500px;	
	position: relative;
}
.edu_aboution .rghtcont {
	float: left;
	width: 48%;
	padding: 0 0 0 26px;
}
.edu_videoshow iframe, .hm_videoshow iframe {
	width: 94%;
}
.testimonials {
	width: 75%;
	margin: 0 auto;
	opacity: 0;
	/*border: 1px solid #f00;*/
	vertical-align: middle;
	height: auto;
}
.testimonials .content {
	width: auto;
	text-align: center;
	margin: 0 10%;
	/*border:1px solid #333;*/
	display: table-cell;
	vertical-align : middle;
	padding: 0 20px;
}
.testimonials span {
	color: #4c688a;
	/*font-style: italic;*/
	font-size: 1.2em;
	text-align: center;
	display: inline-block;
	font-weight:100;
}
.testimonials label {
	color: #4c688a;
	font-style: normal;
	font-size: 1em;
	display: block;
	margin-top: 0px;
}
.testimonials label span {
	color: #2d3540;
	font-style: normal;
	font-size: inherit;
}
.testimonials label div {
	text-indent: 0px;
	display: inline-block;
	opacity: 0.7;
	font-weight: bold;
	font-size:.8em;
}
.testimonials a {
	display: block;
}
.testimonials a.left_last i, .testimonials a.rght_last i {
	color: #ebebeb;
	font-size: 2.8em;
}
.testimonials a.left i, .testimonials a.rght i {
	color: #6a7589;
	font-size: 2.8em;
}
.uppercase {
	text-transform: uppercase;
}
/*.testimonials_parallax{opacity:1; margin-top:100px;  transition:opacity 1s ease-in-out, margin-top 1s ease-in-out;}*/



.resources {
	opacity: 0;
	float: left;
	width: 100%;
	background: #f3f3f3
}
.resources .heading, .customer_logos .heading {
	color: #033155;
	font-size: 2em;
	text-align: center;
	margin-bottom: 10px;
}
.resources .res_nav {
	height: 67px;
	border: 1px solid #d7d7d7;
	border-left: 0;
	border-right: 0;
	margin-bottom: 30px
}
#resource-demo {
	clear: both;
}
.resources ul {
	display: block;
	text-align: center;
}
.resources ul li {
	display: inline;
	line-height: 60px;
}
.resources ul li a {
	padding: 0 23px;
	text-decoration: none;
	color: #3a2e4a;
	font-size: 1em;
	position: relative;
}
#resource-demo .carousel ul {
	text-align: left;
}
#resource-demo .carousel ul li {
	line-height: normal;
	margin: 0 5px;
}
.resources ul.topnav li a {
	display: inline-block;
	color: #9f9f9f
}
.resources ul.topnav li a::after {
	background: none repeat scroll 0 0 #FE8100;
	content: "";
	height: 1px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 100%;
	-webkit-transform: translateY(-5px);transform: translateY(-5px);
	-webkit-transition: height 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.3s ease 0s;transition: height 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.3s ease 0s;
	width: 100%;
}
.resources ul.topnav li.res_selected a {
	color: #676767
}
.resources ul.topnav li.res_selected a::after {
	background: none repeat scroll 0 0 #FE8100;
	content: "";
	height: 7px;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 100%;
	-webkit-transform: translateY(0px);transform: translateY(0px);
	-webkit-transition: height 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.3s ease 0s;transition: height 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.3s ease 0s;
	width: 100%;
}
.resources ul.topnav li a:hover::after, .resources ul.topnav li a:focus::after {
	height: 7px;
	opacity: 1;
	-webkit-transform: translateY(0px);transform: translateY(0px);
}
.resources .imgtextcont {
	width: auto;
	float: left;
	height: 392px;
	margin: 47px 0px;
}
.resources .eachresc { /*width:198px;*/
	float: left;
}
.imgcont {
	padding: 0!important;
	width: 132px;
	height: 132px;
	display: block;
	border-radius: 80px;
	margin: 0 auto;/*-webkit-transition: all .4s ease-in-out;;
-moz-transition: all .4s ease-in-out;;
-ms-transition: all .4s ease-in-out;;
-o-transition: all .4s ease-in-out;;
transition: all .4s ease-in-out;;*/
}
.rReadMore {
	background: #D38BBD;
	color: #fff!important
}
.rReadMore:hover {
	background: #f5b8e2;
	color: #fff!important
}
.imgcont.rReadMore span {
	display: block;
	line-height: 125px;
	text-align: center;
}
#resource-demo .carousel .bg_brochure {
	background: #FCBA1B url(../images/SVG/brochure.svg) no-repeat center;
	background-size: 50px;
}
#resource-demo .carousel .bg_factsheet {
	border: 2px solid #784B2A;
	background: #784B2A url(../images/SVG/factsheet.svg) no-repeat center;
	background-size: 50px;
}
#resource-demo .carousel .bg_solscope {
	border: 2px solid #F26C53;
	background: #F26C53 url(../images/SVG/digital-evaluation.svg) no-repeat center;
	background-size: 50px;
}
.bg_whitepaper {
	background: #FBA51A url(../images/SVG/whitepaper.svg) no-repeat center;
	background-size: 50px;
}
.bg_casestudy {
	background: #8EC63F url(../images/SVG/casestudy.svg) no-repeat center;
	background-size: 50px;
}
.bg_reports {
	background: #F26829 url(../images/SVG/factsheet.svg) no-repeat center;
	background-size: 50px;
}
.bg_info {
	background: #1CA8DD url(../images/SVG/infographic.svg) no-repeat center;
	background-size: 50px;
}
.bg_leaflet {
	background: #D38BBD url(../images/SVG/leaflet.svg) no-repeat center;
	background-size: 50px;
}
.bg_brochure {
	background: #FCBA1B url(../images/SVG/brochure.svg) no-repeat center;
	background-size: 50px;
}
.more_link {
	background: #516d8e url(../images/SVG/more-link.svg) no-repeat center;
	background-size: 50px;
}
.bg_info:hover, .bg_brochure:hover, .bg_whitepaper:hover, .bg_casestudy:hover, .bg_reports:hover, .bg_flyer:hover{
	background: #fff url(../images/SVG/download-arrow.svg) no-repeat center;
	background-size: 150px;
}
.bg_info::before {
	border: 3px solid #1CA8DD !important;
}
.bg_brochure::before {
	border: 3px solid #FCBA1B !important;
}
.bg_whitepaper::before {
	border: 3px solid #FBA51A !important;
}
.bg_casestudy::before {
	border: 3px solid #8EC63F !important;
}
.bg_reports::before {
	border: 3px solid #F26829 !important;
}
.bg_flyer::before {
	border: 3px solid #D38BBD !important;
}
.more_link::before {
	border: 3px solid #516d8e !important;
}
#resource-demo .carousel .bg_infographic {
	border: 2px solid #17BAB5;
	background: #17BAB5 url(../images/SVG/infographic.svg) no-repeat center;
	background-size: 50px;
}
.resCir .imgcont {
	border-radius: 80px;
	display: block;
	height: 132px;
	margin: 0 auto;
	padding: 0 !important; /*transition: all 0.4s ease-in-out 0s;*/
	width: 132px;
	float: none;
	text-align: center;
	font-size: 0.8em;
	color: #5190ca;
	line-height: 40px
}
.resCir .imgcont svg {
	width: 50%;
	height: 100%;
	margin: 0 auto
}
.resCir .imgcont svg path {
	fill: #fff
}
.resCir .imgcont::before {
	animation-duration: 1s;
	/*  border: 3px solid #0495CE;*/
	bottom: -3px;
	content: "";
	left: -3px;
	position: absolute;
	right: -3px;
	top: -3px;
	border-radius: 80px;
	display: none;
}
.resCir .imgcont:hover::before {
	display: block;
}
.resCir .imgcont {
	-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	display: inline-block;
	position: relative;
	transform: translateZ(0px);
	vertical-align: middle;
}
.resCir .imgcont:hover::before, .resCir .imgcont:focus::before, .resCir .imgcont:active::before {
	animation-name: hvr-ripple-out;
}
/*#resource-demo .carousel .bg_brochure:hover, 
#resource-demo .carousel .bg_factsheet:hover,  
#resource-demo .carousel .bg_solscope:hover, 
#resource-demo .carousel .bg_whitepaper:hover, 
#resource-demo .carousel .bg_casestudy:hover, 
#resource-demo .carousel .bg_reports:hover, 
#resource-demo .carousel .bg_flyer:hover, 
#resource-demo .carousel .bg_infographic:hover{ background:#FFF url(../images/SVG/download-arrow-new.svg)  no-repeat center; background-size: 50px;
 }
*/

.resources .iconpdf {
	background: #ea4c3a;
	color: #ffffff;
	font-size: 2em;
	height: 36px;
	margin: 154px 0 0 154px;
	padding-top: 8px;
	text-align: center;
	width: 44px;
	display: none;
}
.resources .iconfactsheet {
	background: #ea4c3a;
	color: #ffffff;
	font-size: 2em;
	height: 36px;
	margin: 154px 0 0 154px;
	padding-top: 8px;
	text-align: center;
	width: 44px;
	display: none;
}
#resource-demo .carousel span.text label {
	color: #FE8100;
	display: block;
	font-size: 1.5em;
	padding: 0 0 5px;
	height: 53px;
}
#resource-demo .carousel span.text {
	width: 200px;
	color: #48525c;
	display: block;
	font-size: 0.9em;
	padding: 5px;
	height: 100px;
	text-align: center;
}
.resources a {
	display: block;
}
/*.customer_logos{margin-top:50px; opacity:0; float:left; width:100%;}*/
.customer_logos {
	margin-top: 0px;
	opacity: 1;
	float: left;
	width: 100%;
}
.logo_container {
	width: 820px;
	margin: 0 auto;
}
.logo_container div {
	width: 159px;
	border: 1px solid #f0f0f0;
	margin: 0;
	border-radious: 2px;
	background: url(../images/sprite_logos.jpg) no-repeat left top;
	height: 106px;
	float: left;
	border-top: none;
	border-right: none;
	-webkit-transform: scale(0.5);transform: scale(0.5);
	-webkit-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;
	opacity: 0.4
}
.animatesize {
	-webkit-transform: scale(1) !important;
	transform: scale(1) !important;
	opacity: 1!important;
	
}
.logo_container div:nth-child(1) {
	-webkit-transition-delay: 0s;transition-delay: 0s;
	background-position: 0px 32px;
	border-left: none
}
.logo_container div:nth-child(2) {
	-webkit-transition-delay: 0.1s;transition-delay: 0.1s;
	background-position: -160px 25px;
}
.logo_container div:nth-child(3) {
	-webkit-transition-delay: 0.2s;transition-delay: 0.2s;
	background-position: -320px 31px;
}
.logo_container div:nth-child(4) {
	-webkit-transition-delay: 0.3s;transition-delay: 0.3s;
	background-position: -480px 25px;
}
.logo_container div:nth-child(5) {
	-webkit-transition-delay: 0.4s;transition-delay: 0.4s;
	background-position: -635px 0;
}
.logo_container div:nth-child(6) {
	-webkit-transition-delay: 0.5s;transition-delay: 0.5s;
	background-position: -805px 3px;
	clear: left;
	border-left: none;
	border-bottom: none
}
.logo_container div:nth-child(7) {
	-webkit-transition-delay: 0.6s;transition-delay: 0.6s;
	background-position: -959px 8px;
	border-bottom: none
}
.logo_container div:nth-child(8) {
	-webkit-transition-delay: 0.7s;transition-delay: 0.7s;
	background-position: -1116px 2px;
	border-bottom: none
}
.logo_container div:nth-child(9) {
	-webkit-transition-delay: 0.8s;transition-delay: 0.8s;
	background-position: -1760px 37px;
	border-bottom: none
}
.logo_container div:nth-child(10) {
	-webkit-transition-delay: 0.9s;transition-delay: 0.9s;
	background-position: -1437px 7px;
	border-bottom: none
}
.resources_parallax, .customer_logos_parallax {
	opacity: 1;
	margin-top: 0px;
	-webkit-transition: opacity 1s ease-in-out, margin-top 1s ease-in-out;transition: opacity 1s ease-in-out, margin-top 1s ease-in-out;
}
/*.opacity_parallax{opacity:1; transition:opacity 1s ease-in-out;}*/

.socialmedia {
	min-width: 180px;
	float: right;
	margin: 20px auto;
	width: 180px;
}
.socialmedia a {
	text-decoration: none;
	position: relative;
	float: left;
}
.socialmedia .heading {
	font-size: 1em;
	color: #033155;
	text-align: center;
	margin-bottom: 20px;
}
.socialmedia .content {
	width: inherit;
	margin: 0 14%;
	float: left;
}
.socialmedia .circle, .socialmedia .circle_hover {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #00aade;
	margin-right: 5px;
	float: left;
}
.socialmedia .circle {
	position: absolute;
	transform-origin: 50% 0 0;
	transition: all 0.4s linear 0s;
}
.socialmedia .circle_hover {
	background: #fe8100;
}
.socialmedia a:hover .circle {
	opacity: 0;
	transform: translate3d(0px, 0px, -220px) rotate3d(1, 0, 0, 90deg);
}
.socialmedia .whitetext {
	color: #ffffff;
	display: block;
	line-height: 25px;
	text-align: center;
}
footer span.copyrght {
	clear: both;
	color: #ffffff;
	display: block;
	font-size: 0.8em;
	margin: 0 auto;
	width: 50%;
	padding-bottom: 10px;
	text-align: center;
}
.dvfooterbookdemo {
	background: #fe8100;
	float: right;
}
footer {
	background: #033155;
	padding: 0px 40px 0px 40px;
}
footer .footercols span a {
	color: #ffffff;
	margin-bottom: 10px;
	display: block;
	padding: 20px 5px 5px 10px;
	font-size: 0.9em;
	font-weight: bold;
}
footer .footercols span a:hover {
	background: #000000;
}
footer .footercols {
	width: 185px;
	float: left;
	height: 280px;
}
footer ul.accord li a {
	background: #022948;
	display: block;
	padding:2px 5px 2px 10px;
}
footer ul.accord li a:hover {
	text-decoration: none;
	color: #ffffff;
}
footer ul li {
	list-style: none;
}
footer li a {
	color: #ffffff;
	background: none;
	font-size: 0.8em;
	padding-left: 10px;
}
footer li a:hover {
	color: #f39c11;
	text-decoration: underline;
}
footer ul li ul {
	margin-left: 10px;
}
footer ul.accord {
	width: 85%;
}
footer ul.accord li {
	margin-bottom: 4px;
}
footer ul.accord li i {
	color: #f39c11;
	float: right;
	font-size: 1em;
	line-height: 18px;
}
footer ul.accord li ul li a {
	color: #f39c11;
	background: none;
	font-size: 0.7em;
}
footer ul li ul li a:hover {
	color: #ffffff;
	text-decoration: underline !important;
}
footer ul.accord li ul {
	display: none;
}
footer .links > a, footer .contactinfo > span a {
	color: #ffffff;
	font-size: 0.7em;
	text-decoration: none;
}
footer .links > a {
	margin: 0 7px;
	display: inline-block;
	padding: 5px;
}
footer .links > a:hover {
	margin: 0 7px;
	display: inline-block;
	background-color: #02223b;
}
footer .contactinfo > span a {
	font-size: 1em;
}
footer .links, footer .contactinfo {
	width: 985px;
	margin: 0 auto;
	color: #ffffff;
}
footer .contactinfo {
	margin-top: 22px;
	padding: 0 0 0 20px;
}
footer .contactinfo span {
	display: inline-block;
	color: #ffffff;
	font-size: 0.9em;
}
.fa-envelope + a:hover {
	text-decoration: underline;
}
.mobile_prod_heading {
	display: none;
}
.inner_content_nav {
	/*padding: 15px 70px 0 70px;*/
	padding: 0px 70px 0 70px;
	border-bottom: 1px solid #d7d7d7;
	height:0;/* 55px;*/
}
.inner_content_nav i {
	color: #f26522;
	font-size: 2em;
	margin: 0 10px;
	float: left;
}
.inner_content_nav .lftarrow div, .inner_content_nav .lftarrow a {
	float: left;
}
.inner_content_nav .lftarrow span {
	float: left;
	line-height: 35px;
}
.inner_content_nav .rghtarrow div, .inner_content_nav .rghtarrow a {
	float: right;
}
.inner_content_nav .rghtarrow span {
	float: right;
	line-height: 35px;
}
.inner_content {
	padding: 15px 70px;
}
.inner_content img:nth-of-type(1) {
	width: 7%;
	float: left;
}
.inner_content h1.inner_heading {
	font-size: 2.8em;
	color: #033155;
	display: block;
	float: left;
	margin-left: 20px;
	padding-top: 13px;
}
.inner_content h1.inner_heading label {
	font-size: 0.25em;
	color: #98aac2;
	display: block;
}
.inner_content p {
	font-size: 0.9em;
	clear: both;
}
.inner_videoshow, .inner_videoshow1 {
	float: left;
	width: 50%;
	height: 320px;
}
.inner_showbtns {
	float: right;
	padding-top: 54px;
}
.inner_showbtns .dvvideomore, .inner_showbtns .dvvideobookdemo {
	margin-top: 10px;
}
.inner_side_testimo { /*background:#f0f1f3;*/
	color: #67809f;
	float: left;
	width: 40%;
	height: auto;
	margin: 2% 0 0 5%;
	text-align: center;
}
.inner_side_testimo span {
	padding: 40px;
	display: inline-block;
	font-size: 0.9em;
}
/*.inner_side_testimo label{opacity:0.5;}*/

#edu_pro_list, #edu_sec_list {
	float: left;
	clear: both;
	width: 100%;
}
.moreproducts {
	margin: 40px auto 0 auto;
	clear: both;
	max-width: 960px;
	/*border:1px solid #0F0;*/
}
.moreproducts .heading, .cms_features .heading, .cms_features .sub_heading, .cms_keyoffer .heading {
	font-size: 2em;
	display: block;
	text-align: center;
	margin-bottom: 20px;
	font-weight: 100;
}
.cms_features .sub_heading {
	font-size: 1.5em;
	margin-bottom: 10px;
	clear: both;
}
.inner_pro_box {
	float: left;
	width: 25%;
	height: 185px;
	color: #4c688a;
	padding: 10px 15px;
	margin: 20px;
	position: relative;
	z-index: 2;
	/*border:1px solid #f00;*/
}
.inner_pro_box a {
	display: block;
	height: inherit;
}
.inner_pro_box .proimg {
	width: 28%;
	height: 45%;
	float: left;
	background-image: url(../images/sprite_products_sectors.png);
	background-repeat: no-repeat;
}
.inner_pro_box #campmgmt {
	background-position: 0 0;
}
.inner_pro_box #bizapp {
	background-position: -174px 0;
}
.inner_pro_box #lx {
	background-position: -336px 0;
}
.inner_pro_box #exammgmt {
	background-position: -510px 0;
}
.inner_pro_box #incoumgmt {
	background-position: -668px 0;
}
.inner_pro_box #demat {
	background-position: -826px 0;
}
.inner_pro_box #digieva {
	background-position: -986px 0;
}
.inner_pro_box #preptest {
	background-position: -1306px 0;
}
.inner_pro_box #communi {
	background-position: -1150px 0;
}
.inner_pro_box #schools {
	background-position: -317px -84px;
}
.inner_pro_box #highedu {
	background-position: 0px -84px;
}
.inner_pro_box #vocation {
	background-position: -158px -84px;
}
.inner_pro_box #exambodies {
	background-position: -506px -84px;
}
.prod_page_info {
	float: left;
	margin-bottom: 30px;
	width: 100%;
}
.product_page_icons {
	height: 80px;
	width: 80px;
	display: inline-block;
	margin: 0 10px 10px 0;
	float: left;
}
.product_page_icons .cms1 {
	background-image: url(../images/icon_tickorange.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: inherit;
	height: inherit;
	display: block;
}
.prod_page_info .heading {
	font-size: 1.6em;
	display: inline-block;
	margin-bottom: 5px;
	vertical-align: top;
}
.prod_page_info span.content {
	vertical-align: top;
	display: inline-block;
	float: left;
	width: 90%;
	padding: 0;
}
.inner_pro_box .sub_heading {
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	padding-bottom: 4px;
	text-decoration: underline;
}
.inner_pro_box .content {
	font-size: 0.9em;
	display: inline;
	width: 72%;
	float: left;
}
.inner_pro_box_hover {
	 background-color: #fcba1b;
    color: #ffffff;
    top: 0;
    width: 100%;
    height:inherit;
    left: 0px;
    position: absolute;
    z-index: -1;
    transition: height 0.3s ease-in-out, color 5s ease-in-out;
}
.inner_pro_box_hover_out {
	background-color: #fcba1b;
	color: #4c688a;
	top: 0;
	 width: 100%;
	height: 0;
	position: absolute;
	left: 0px;
	z-index: -1;
	transition: height 0.3s ease-in-out, color 5s ease-in-out;
}
.spninnerknow {
	display: inline-block;
	text-align: right;
	color: #acacac;
	font-size: 0.7em;
	width: 47%;
	float: left;
}
.innerknow_bookdemo {
	float: left;
	margin: -15px 0 0 80px;
}
.innerknow_bookdemo div {
	margin-top: 0;
}
.dvcompati {
	background: #f8fbfa;
	float: left;
	width: 100%;
	color: #033155;
}
.dvcompati section.moreproducts {
	margin-top: 10px;
}
.dvcompati_inn {
	width: 100%;
	text-align: center;
}
.dvcompati label {
	font-size: 1em;
	display: block;
	padding: 20px 0 0 0;
	text-align: center;
}
.dvcompati_inn span {
	display: inline-block;
	width: 15%;
	font-size: 0.9em;
	text-align: center;
}
.dvcompati_inn .ico_k12, .dvcompati_inn .ico_highedu {
	background-image: url(../images/sprite_products_sectors.png);
	float: left;
	height: 50px;
	display: inline-block;
	transform: scale(0.6);
}
.dvcompati_inn .ico_k12 {
	background-position: -317px -84px;
	width: 55px;
}
.dvcompati_inn .ico_highedu {
	background-position: 0px -84px;
	width: 40px;
}
.dvcompati_inn label {
	display: inline-block;
	float: left;
	line-height: 58px;
	padding: 0;
}
.dvcompati_inn div {
	display: inline-block;
	margin-right: 35px;
}
.moreinfo_pro_sec {
	background: #ffffff;
	border-radius: 0px;
	text-align: center;
	margin: 0 auto;
	line-height: 45px;
	clear: both;
	color: #f26522;
}
.cms_features {
	width: 1123px;
	margin: 0 auto;
}
.cms_fea_bne {
	width: 357px;
	float: left;
	margin-bottom: 40px;
}
.cms_fea_bne > div.cms {
	width: inherit;
	background-image: url(../images/sprite_cms.jpg);
	background-repeat: no-repeat;
}
.cms_fea_bne > div.lx {
	width: inherit;
	background-image: url(../images/sprite_lx.jpg);
	background-repeat: no-repeat;
}
.cms_fea_bne > div.exammgmt {
	width: inherit;
	background-image: url(../images/sprite_exammgmt.jpg);
	background-repeat: no-repeat;
}
.cms_fea_bne > div.demat {
	width: inherit;
	background-image: url(../images/sprite_demat.jpg);
	background-repeat: no-repeat;
}
.cms_fea_bne > div.digital {
	width: inherit;
	background-image: url(../images/sprite_digital.jpg);
	background-repeat: no-repeat;
}
.cms_fea_bne > div.hcm {
	width: inherit;
	background-image: url(../images/sprite_hcm.jpg);
	background-repeat: no-repeat;
}
.cms_fea_bne > div.assessment {
	width: inherit;
	background-image: url(../images/sprite_alm.jpg);
	background-repeat: no-repeat;
}
.cms_fea_bne > div.incourse {
	width: inherit;
	background-image: url(../images/sprite_incourse.jpg);
	background-repeat: no-repeat;
}
.cms_fea_bne:nth-of-type(1), .cms_fea_bne:nth-of-type(2), .cms_fea_bne:nth-of-type(4), .cms_fea_bne:nth-of-type(5) {
	margin-right: 25px;
}
.cms_fea_bne .stu_lifecycle {
	width: 357px;
	height: 156px;
	background-position: 0 0;
}
.cms_fea_bne .inst_admi {
	width: 357px;
	height: 156px;
	background-position: 0 -156px;
}
.cms_fea_bne .self_ser {
	width: 357px;
	height: 156px;
	background-position: 0 -312px;
}
.cms_fea_bne .integriti {
	width: 357px;
	height: 156px;
	background-position: 0 -468px;
}
.cms_fea_bne .complian {
	width: 357px;
	height: 156px;
	background-position: 0 -624px;
}
.cms_fea_bne .economi {
	width: 357px;
	height: 156px;
	background-position: 0 -780px;
}
.cms_fea_bne .heading {
	font-size: 1.3em;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}
.cms_fea_bne .content, .cms_fea_bne .content1 {
	background: #2371af;
	color: #ffffff;
	border-top: 3px solid #ffffff;
	height: 215px;
	width: 333px;
	padding: 12px;
	font-size: 0.8em;
}
.cms_fea_bne .content1 {
	background: #f4a13b;
}
.cms_fea_bne ul {
	margin-left: 12px;
}
.cms_fea_bne li {
	margin: 15px 0;
}
.cms_fea_bne ul.show-inline li {
	margin: 5px 0 0 0;
}
.extra_bullets {
	margin-left: 25px !important;
}
.extra_bullets li {
	margin: 4px 0 !important;
}
.cms_keyoffer {
	background: #f8f8f8;
	clear: both;
	/*float: left;*/
	width: 100%;
}
.cms_keyoffer .content {
	font-size: 0.9em;
	padding: 10px 65px 30px 65px;
}
.cms_keyoffer ul li { /*color:#f4a13b;*/
	margin-bottom: 25px;
	font-weight: bold;
}
.cms_keyoffer ul {
	margin-left: 17px;
	clear: both;
}
.cms_keyoffer ul li span, .ul_hcm li span {
	color: #363636;
	font-size: 0.9em
}
.cms_keyoffer ul li span {
	display: block;
	font-weight: normal;
}
/*.btnbookdemoCenter{width:15%; /*margin:0 auto 20px auto;*/ height:70px;
margin-left:calc((100% - 135px) /2);
margin-top:0;
}
*/ .btnbookdemoCenter .dvvideobookdemo {
margin-bottom:20px;
}
.ul_hcm {
	margin-left: 40px;
}
.ul_hcm li {
	margin: 10px;
	color: #FE8100;
}
ol.ul_hcm li {
	font-size: 0.9em
}
.sitemapTXT {
	font-size: 1em;
	font-weight: 700;
	padding: 0 0 0 14px;
}
ol.ul_hcm li span {
	font-weight: normal;
}
.mobile_sel_pro_sec {
	display: none;
}
.mainDropDown {
	border: 1px solid #bbb !important;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none;  /*Removes default style Firefox*/
	background: #ffffff url(../images/selectbox_arr.gif) no-repeat 98% center;
	font-size: 0.9em;
	height: 35px;
	line-height: 35px;
	margin: 15px;
	width: 260px;
	padding: 0 0 0 6px;
	position: relative;
}
.btmDropdown {
	border: 1px solid #bbb !important;
	margin: 15px;
	width: 266px;
	position: absolute;
	z-index:20;
	top: 37px;
	display: none;
}
.btmDropdown ul {
	list-style: none;
}
.btmDropdown ul li {
	line-height: 35px;
	border-bottom: 1px solid #bbb;
	cursor: pointer;
	background: #fff;
}
.btmDropdown ul li:hover {
	background: #3399ff;
	color: #fff;
}
.btmDropdown li a {
	font-size: 0.9em;
	color: #000;
	width: 260px;
	display: inline-block;
	padding: 0 0 0 6px;
}
.btmDropdown li a:hover {
	font-size: 0.9em;
	color: #fff;
}
select.mainDropDown:focus {
	outline-style: none;
	box-shadow: none;
	border-color: transparent;
}
.mainDropDown::-ms-expand {
display: none;
}
select.mainDropDown option {
	border-bottom: 1px solid #ccc;
	padding: 10px;
	/*border-left:0px;*/
	border-right: 1px;
}
select.lastDropDown option {
	border-bottom: 0px solid #ccc;
	padding: 9px;
}
_:-ms-fullscreen, :root .lastDropDown {
padding: 9px 7px;
}
.lastDropDown {
	margin: 6px 15px;
	padding: 0px 7px;
	padding: 9px 7px\9;
	width: 80%;
	-webkit-padding-before: 10px;
	-webkit-padding-after: 10px;
}
.common_parallax {
	opacity: 1;
	/*	margin-top: 0px;*/
	transition: opacity 1s ease-in-out, margin-top 1s ease-in-out;
}
/* burger menu style starts*/

.dvBurCont, .dvBurCont_parallax {
	width: 100%;
	height: 100%;
	background: #212627;
	opacity: 0;
	top: 0px;
	right: 0%;
	transform: scale(0);
	position: fixed;
	z-index: -150;
	visibility: visible;
}
.dvBurCont_parallax {
	opacity: 1;
	transform: scale(1);
	z-index: 125;
	transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.dvBurCont_parallax_back {
	opacity: 0;
	transform: scale(0);
	z-index: -150;
	transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.burMenubuttons {
	margin-top: -5px;
}
.dvBurCont .cont {
	padding: 10px 0px 20px 0px;
	float: left;
	width: inherit;
}
.lnkBurBack {
	background: #f1611c;
	border-radius: 35px;
	width: 43px;
	height: 43px;
	display: block;
	margin: 2% 5%;
}
.lnkBurBack i {
	color: #ffffff;
	font-size: 1.7em;
	font-weight: normal;
	line-height: 43px;
	text-indent: 11px;
}
.dvBurCont ul {
	list-style: none;
}
.dvBurCont ul li { /*margin:10px 0;*/
}
.dvBurCont ul.level0 li a {
	color: #878267;
	text-transform: capitalize;
	font-weight: bold;
	line-height: 33px;
	display: block;
	text-indent: 5%;
}
.dvBurCont ul.level1 { /*margin-left: 15px;*/
}
.dvBurCont ul.level1 li a {
	color: #c2c2c2;
	text-transform: capitalize;
	line-height: 33px;
	display: block;
	text-indent: 10%;
}
.dvBurCont ul.level0 > li:nth-child(1) a, .dvBurCont ul.level0 > li:nth-child(1) a:hover, .dvBurCont ul.level0 > li:nth-child(1) a:focus {
	color: #f4834d;
}
.dvBurCont ul.level0 li a:hover, .dvBurCont ul.level0 li a:focus, .dvBurCont ul.level1 li a:hover, .dvBurCont ul.level1 li a:focus {
	color: #fdc61e;
	background: #000000;
}
.dvBurCont .unfill_circle {
	border: 2px solid #878267;
	border-radius: 20px;
	width: 32px;
	height: 32px;
	float: left;
}
.dvBurCont .burMenubuttons .socialmediaicons {
	border-top: 1px solid #878267;
	float: left;
	width: 100%;
}
.dvBurCont .burMenubuttons .socialmediaicons label {
	color: #878267;
	display: block;
	margin-left: 5%;
	font-weight: bold;
	margin-top: 10px;
}
.dvBurCont .burMenubuttons .socialmediaicons a {
	margin: 10px 5px 0 5%;
	display: inline-block;
}
.dvBurCont .unfill_circle i {
	color: #878267;
	line-height: 32px;
	text-align: center;
	font-size: 1.3em;
	display: block;
}
/* burger menu style ends*/

.resources .mob_res_nav {
	display: none;
}
.height400 {
	height: 400px;
	padding: 2% 3% 0 3%;
}
.searchpage input[type=text] {
	border: 1px solid #cac9c9;
	padding: 0px 12px;
	width: 96%;
	height: 45px;
	color: #cac9c9;
}
.searchpgicon {
	background-color: #3d86c6;
	border: 0;
	width: 45px;
	height: 45px;
	float: right;
	display: inline-block;
}
.searchpgicon i {
	color: #ffffff;
	font-size: 1.6em;
	line-height: 45px;
	text-indent: 10px;
}
.serachpghead {
	line-height: 52px;
	background: #f6f6f6;
	padding: 0 30px;
}
.searchrescount {
	color: #898989;
	font-size: 0.9em;
	border-bottom: 1px solid #898989;
	margin-bottom: 20px;
}
.searchrescount span {
	display: inline-block;
	width: 77%;
}
.searchrescount .mainDropDown {
	margin-right: 0px;
	margin-left: 10px;
	width: 215px;
}
.showsearchresults span, .searchpagi span {
	font-size: 0.9em;
}
.showsearchresults a, .searchpagi a {
	color: #3d86c6;
	display: block;
	font-size: 1em;
}
.searchpagi a, .searchpagi span {
	display: inline-block;
}
.inputbox {/*transform:translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1);*/
	width: 60%;
	display: inline-block;
	position: relative;
	vertical-align: top;

	z-index: 1;
	margin: 30px 0;
	clear: both;
	float: left;
	color: #898989;
}
.inputbox input[type=text] {
	width: 100%;
	height: 53px;
	border: 1px solid #cac9c9;
	padding: 5px 12px;
	font-size: 1em;
}
.inputbox span {
	bottom: 0;
	position: absolute;
	transform: translate3d(100%, 0px, 0px);
	transition: transform 0.2s ease 0s;
	height: 100%;
	left: -98%;
	top: 15px;
	width: 100%;
	display: block;
	background-color: transparent;
	-webkit-transform: translate3d(100%, 0, 0);
	-webkit-transition: -webkit-transform 0.2s;
}
.inputbox label {
	display: inline-block;
	font-size: 1em;
	padding: 0; /*transform: translate3d(0px, 50px, 0px); transform-origin: 0 0 0; transition: transform 0.3s ease 0s;*/
	vertical-align: bottom; /*position:relative;*/
}
.inputbox .mainDropDown {
	color: #898989;
	font-size: 1em;
	height: 53px;
	margin: 0px;
	width: 100%;
}
.filled {
	transform: translate3d(0px, -40px, 0px);
	transform-origin: 0 0 0;
	transition: transform 0.2s ease 0s;
	-webkit-transform-origin: 0 0;
	-webkit-transform: translate3d(0, -40px, 0);
	-webkit-transition: -webkit-transform 0.2s;/* transform: translate3d(6px, -11px, 0px) scale3d(0.7, 0.7, 1);
transform-origin: 0 0 0;	
transition: transform 0.2s ease 0s; 	
-webkit-transform-origin: 0 0;
-webkit-transform: translate3d(6px, -11px, 0) scale3d(0.7, 0.7, 1);
-webkit-transition: -webkit-transform 0.2s;*/
}
.filled_out {
	transform: translate3d(0px, 0px, 0px);
	transform-origin: 0 0 0;
	transition: transform 0.2s ease 0s;
}
.inputbox input[type=text]::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.edu_aboution .leftcont {
	float: left;
	padding: 1% 2% 0 4%;
}


 @media only screen and (min-width: 320px) and (max-width: 1024px) {
.cms_keyoffer .content {
    float: left;
   padding: 10px 10px 30px;
    width: 100%;
}

.product_page_icons {
    display: inline;
    float: left;   
    margin: -25px 0px 10px -15px;
    transform: scale(0.4);
   }
   
   .prod_page_info span.content{width:72%;}
   
.prod_page_info .heading {
    display: inline;
    font-size: 1.1em;

}

.inner_pro_box .content { font-size:0.8em;}


.inner_videoshow, .inner_videoshow1 {
    float: none;
    width: 100%;
}

.inner_showbtns {
    clear: both;
    float: none;
    padding: 0;
}

.inner_side_testimo {
    margin: 40px 0 0;
    width: 100%;
}

.edu_aboution {
    background-color: #d2f1fa;
    background-image: none;
    float: left;
    height: auto;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    width: inherit;
}

.inner_showbtns br {
    display: none;
}

.moreproducts {
    width: 89%;
}

.mainDropDown{ width:220px;}
.btmDropdown{width:226px;}

.inner_content {
    padding: 10px;
	clear:both;
}

.edu_prod_info {
	margin: 0 3%;
}



}


 @media only screen and (max-device-width: 768px) {
.cms_features {
	width: 97%;
}
.cms_fea_bne {
	margin-bottom: 15px;
	margin-left: 9px;
	margin-right: 0 !important;
}

.inner_content h1.inner_heading{ font-size:1.2em;}

.edu_aboution .leftcont{ float:none;}
.edu_videoshow{ width:100%;}

/*.mobile_sel_pro_sec{ display:block;}
.inner_content .fltrght{ display:none;}*/

}



 @media only screen and (min-width: 380px) and (max-width: 400px) {
.inner_content_nav {
	padding: 7px 0px 0;
}
}
 @media only screen and (min-width: 340px) and (max-width: 380px) {
.btmDropdownM {
	width: 92.9%;
}
.head_rght_cont ul, .head_rght_cont .dvheadbookdemo, .head_rght_cont .dvheadsignin, .header-bprDiv {
	display: none;
}
.head_rght_cont {
	width: 55%;
}

.hm_aboution{padding:40px;}
.edu_orange_box {
	width: 49.85%;
	height: 184px;
	float: left;
}
.moreinfo_pro_sec {
	width: 92%;
}
.logo_container {
	width: 93%;
}
/*.logo_container div {
	width: 44%;
}*/
.logo_container div:nth-child(6) {
	clear: none;
}
/*.btnbookdemoCenter{width:50%;}
.edu_prod_imgs .sectors, .edu_prod_imgs .products {
	width: 30%;
}*/
.hm_prod_imgs .education, .hm_prod_imgs .manufact, .hm_prod_imgs .css, .hm_prod_imgs .exboa {
	width: 40%;
}
.hm_prod_imgs .hcm {
	width: 33%;
}
.edu_prod_imgs {
	padding: 30% 0 0;
}
.manu_prod_imgs {
	padding: 23% 0 0;
}
.inner_content_nav {
	padding: 7px 0px 0;
}
.inner_content h1.inner_heading {
	font-size: 1.5em;
	vertical-align: top;
	margin-top: 8%;
}
.moreproducts {
	width: 100%;
	/*border:1px solid #0F0;*/
}
.mainDropDown {
	width: 100%;
}
.cms_features {
	width: 99%;
}
.cms_fea_bne {
	margin-bottom: 15px;
	margin-left: 7px;
	margin-right: 0 !important;
}
.dvcompati_inn span {
	width: 27%;
}
footer span.copyrght {
	float: none;
	width: auto;
}
.inner_content img:nth-of-type(1) {
	width: 18%;
	float: left;
}
.inputbox {
	width: 80%;
}
.inner_content_nav {
	padding: 7px 0px 0;
}
}
 @media only screen and (min-width: 300px) and (max-width:330px) {
.btmDropdownM {
	width: 92.9%;
}
.header-bprDiv {
	display: none;
}
.resources .imgtextcont {
	margin: 47px 0;
}
.imgtextcont .eachresc {
	margin-right: 1%;
}
.inner_content_nav {
	padding: 7px 0px 0;
}
.inner_content h1.inner_heading {
	font-size: 1.3em;
	vertical-align: top;
	margin-top: 8%;
}
.moreproducts {
	width: 90%;
}
.moreproducts .inner_pro_box {
	margin-left: 0;
}
.moreproducts .spninnerknow {
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
}
.mainDropDown {
	width: 91%;
}
.moreproducts .heading, .cms_features .heading, .cms_features .sub_heading, .cms_keyoffer .heading {
	margin: 20px 0 0 0;
}
.dvcompati {
	height: auto;
}
.dvcompati_inn span {
	display: block;
	width: 100%;
	padding: 5px 0;
}
.inner_side_testimo span {
	padding: 20px;
}
.hm_prod_imgs .education, .hm_prod_imgs .manufact, .hm_prod_imgs .css {
	width: 40%;
}
.hm_prod_imgs .hcm {
	width: 34%;
}
.hm_prod_imgs .exboa {
	width: 45%;
}
/*.edu_prod_imgs .sectors, .edu_prod_imgs .products {
	width: 37%;
}*/
.edu_orange_box .heading {
	height: 55px;
}
.moreinfo_pro_sec {
	width: 92%;
}
.cms_features {
	width: 100%;
}
.cms_fea_bne {
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0 !important;
}
.logo_container div {
	margin: 0 auto;
	width: 48%;
	float: none;
}
.edu_prod_imgs {
	padding: 30% 0 0;
}
footer span.copyrght {
	float: none;
	width: auto;
}
.manu_prod_info .ion_prod_bg > span {
	font-size: 1.4em;
	margin-top: 30%;
}
.inner_content img:nth-of-type(1) {
	width: 18%;
	float: left;
}
.inputbox {
	width: 80%;
}
}





 @media only screen and (min-width: 460px) and (max-width: 490px) {
.header-bprDiv {
	display: none;
}
.edu_prod_imgs, .manu_prod_imgs {
	padding: 20% 0 0;
}
.hm_prod_imgs .education, .hm_prod_imgs .manufact, .hm_prod_imgs .hcm, .hm_prod_imgs .css, .hm_prod_imgs .exboa {
	width: 30%;
}
/*.edu_prod_imgs .products, .edu_prod_imgs .sectors {
	width: 24%;
}*/
.logo_container div {
	width: 33%;
}
.logo_container div:nth-child(6) {
	clear: none;
}
footer span.copyrght {
	float: none;
	width: auto;
}
/*.btnbookdemoCenter{width:30%;}*/
.cms_features {
	width: 75%;
}
.inner_content img:nth-of-type(1) {
	width: 18%;
	float: left;
}
.manu_prod_info .ion_prod_bg > span {
	margin-top: 24%;
}
.manu_prod_imgs .process {
	width: 27%;
}
.manu_prod_imgs .auto, .manu_prod_imgs .pharma {
	width: 23%;
}
}
 @media only screen and (min-width: 400px) and (max-width: 450px) {
.header-bprDiv {
	display: none;
}
.logo_container {
	width: 75%;
}
/*.logo_container div {
	width: 50%;
}*/
.logo_container div:nth-child(6) {
	clear: none;
}
/*.edu_prod_imgs .sectors, .edu_prod_imgs .products {
	width: 28%;
}*/
.edu_prod_imgs {
	padding: 21% 0 0;
}
.manu_prod_imgs {
	padding: 11% 0 0;
}
.hm_prod_imgs .education, .hm_prod_imgs .manufact, .hm_prod_imgs .hcm, .hm_prod_imgs .css {
	width: 32%;
}
.hm_prod_imgs .exboa {
	width: 35%;
}
.cms_features {
	width: 90%;
}
.dvcompati_inn span {
	width: 27%;
}
.inner_content_nav {
	padding: 7px 0 0;
}
footer span.copyrght {
	float: none;
}
.manu_prod_imgs .auto, .manu_prod_imgs .pharma {
	width: 25%;
}
.manu_prod_imgs .process {
	width: 33%;
}
.inner_content img:nth-of-type(1) {
	width: 18%;
	float: left;
}
.inputbox {
	width: 80%;
}
/*.logo_container div:nth-child(2), .logo_container div:nth-child(3),.logo_container div:nth-child(4), .logo_container div:nth-child(6),.logo_container div:nth-child(7), .logo_container div:nth-child(8){ display:none;}
.logo_container { transform:scale(1)}*/ 
}
 @media only screen and (min-width: 620px) and (max-width: 650px) {
.header-bprDiv {
	display: none;
}
/*.edu_prod_imgs .products, .edu_prod_imgs .sectors {
	width: 17%;
}*/
.edu_prod_imgs {
	padding: 15% 0 0;
}
.hm_prod_imgs {
	padding: 6% 0 0;
}
.moreinfo_pro_sec {
	width: 49%;
}
.moreproducts {
	width: 100%;
}
.logo_container div {
	width: 32%;
}
.inner_content img:nth-of-type(1) {
	width: 18%;
	float: left;
}
input.txtsearchbox {
	right: 23%;
}
.logo_container div:nth-child(6) {
	clear: none;
}
.manu_prod_imgs .auto, .manu_prod_imgs .pharma {
	width: 17%;
}
.manu_prod_imgs .process {
	width: 20%;
}
.manu_prod_imgs {
	padding: 15% 0 0 0;
}
.hm_prod_imgs .education, .hm_prod_imgs .manufact, .hm_prod_imgs .hcm, .hm_prod_imgs .css, .hm_prod_imgs .exboa {
	width: 22%;
}
}
 @media only screen and (min-width: 660px) and (max-device-width: 740px) {
.header-bprDiv {
	display: none;
}
.hm_prod_imgs, .edu_prod_imgs, .manu_prod_imgs {
	padding: 6% 0 0;
}
.hm_prod_imgs .education, .hm_prod_imgs .manufact, .hm_prod_imgs .hcm, .hm_prod_imgs .css, .hm_prod_imgs .exboa {
	width: 19%;
}
/*.edu_prod_imgs .sectors, .edu_prod_imgs .products {
	width: 17%;
}*/
.hm_prod_imgs, .edu_prod_imgs, .manu_prod_imgs {
	padding: 13% 0 0;
}
.moreproducts {
	width: 97%;
}
.moreinfo_pro_sec {
	width: 49%;
}
.logo_container {
	width: 92%;
}
/*.logo_container div {
	width: 24%;
}*/
.logo_container div:nth-child(6) {
	clear: none;
}
footer span.copyrght {
	width: 53%;
}
.manu_prod_imgs .auto, .manu_prod_imgs .pharma {
	width: 17%;
}
.manu_prod_imgs .process {
	width: 20%;
}
.manu_prod_info .ion_prod_bg > span {
	margin-top: 22%;
}
}
 @media only screen and (min-width: 750px) and (max-device-width: 780px) {
.header-bprDiv {
	display: none;
}
.hm_prod_imgs, .manu_prod_imgs {
	padding: 3% 0 0;
}
.manu_prod_imgs .auto, .manu_prod_imgs .pharma, .manu_prod_imgs .process {
	width: 15%;
}
/*.edu_prod_imgs .products, .edu_prod_imgs .sectors {
	width: 15%;
}*/
.moreinfo_pro_sec {
	width: 49%;
}
.logo_container {
	width: 95%;
}
.searchpage input[type="text"] {
	width: 93%;
}
footer span.copyrght {
	width: 100%;
}
.copyrght img {
	/*float: right;*/
	margin: 0;
}
}

/*@media only screen and (min-width: 790px) and (max-width: 1000px){
.header-bprDiv{display:none;}

.hm_prod_imgs{padding: 10% 0 0;}
.manu_prod_imgs {padding: 15% 0 0;}
.manu_prod_imgs .auto, .manu_prod_imgs .pharma, .manu_prod_imgs .process{width:10%; }
.edu_prod_imgs .products, .edu_prod_imgs .sectors{width:14%;}	
.moreinfo_pro_sec{width:49%;}

.hm_aboution .leftcont {
width: 96%;
}
.searchpage input[type="text"]{width:93%;}

}*/


/*@media only screen and (min-width: 1000px) and (max-width: 1140px){


.edu_prod_imgs .products, .edu_prod_imgs .sectors{width:11%;}	
.hm_aboution .leftcont {
width: 96%;
}

.edu_prod_imgs {
padding: 10% 0 0;
}
.manu_prod_imgs {
padding: 9% 0 0;
}
.manu_prod_imgs .auto, .manu_prod_imgs .pharma, .manu_prod_imgs .process {
width: 12%;
}
.moreinfo_pro_sec{width:30%;}
.logo_container{width:92%; }
.logo_container div{width:16%;}
.hm_prod_imgs {   padding: 8% 0 0;	}

.logo_container{width:77%;}
.logo_container div {width: 20%;}

.hm_prod_imgs .education, .hm_prod_imgs .manufact, .hm_prod_imgs .hcm, .hm_prod_imgs .css, .hm_prod_imgs .exboa{width:14%;}

footer span.copyrght{width:100%;}
.copyrght img{float:right; margin:0;}

}
*/


/*@media only screen and (min-width: 320px) and (max-width: 480px) {	

.header-bprDiv{display:none;}
.common_abtion .edu_videoshow{margin-top:20px;}
.moreinfo_pro_sec{width:92%;}
.common_abtion .leftcont p, .common_abtion .edu_videoshow p{width:78%;}
.hm_videoshow iframe , .edu_videoshow iframe {width:300px; height:auto;}
.common_abtion table tr.numbers td {font-size:1.2em}
.product_page_icons {display: block; float:none;  margin: 0 auto 10px auto;   }
.prod_page_info{margin-top:30px;}
.prod_page_info span.content{vertical-align: top; display: inline-block; float: left; width:100%; text-align:justify; padding:0;}
.prod_page_info .heading{ margin-bottom:10px;}

}
*/
@media only screen and (max-width: 360px) {
header.collapse {/* background:#96C!important;*/
}
.headerUpperLft {
	display: none;
}
.header-bprDiv {
	display: none;
}
.inner_content h1.inner_heading {
	font-size: 1.2em;
	margin-top: 0%;
	vertical-align: top;
	margin-left: 2%;
	padding-top: 0;
}
}

/*@media only screen and (min-width: 370px) and (max-width: 700px) {
.header-bprDiv{display:none;}
.inner_content h1.inner_heading{ font-size: 1.2em; margin-top:5%; vertical-align: top; margin-left:2%; padding-top:0;}

}*/
@media only screen and (max-width: 1020px) {
.header-bprDiv, .head_rght_cont ul {
	display: none;
}
header.collapse { /*background:#f00!important;*/
} /* Red */
.burger_menu {
	display: block;
}
.collapse .burger_menu button {
	margin-top: -13px;
}
.head_rght_cont {
	margin-right: 65px;
}
.hm_orange_box, .manu_orange_box {
	width: 49.7%;
	float: left;
}
.prod_info, .hm_aboution {
	margin: 0px 3%;
	/*margin: 1%;*/
}
.manu_prod_info{margin: 1%;}
.hm_aboution .leftcont, .hm_aboution .rghtcont {
	width: 100%;
	margin: 0px 3%;
}
.ResBlockC .resCir:nth-child(1), .ResBlockC .resCir:nth-child(2) {
	/*display: none;*/
}
.ResBlockC {
	width: 500px;
}
.dvvideomore, .dvvideobookdemo {
	margin-bottom: 20px;
}
.small-box .hm_orange_box {
    max-width: 100%!important;
    
}


}


@media only screen and (max-width: 1024px) {
	.cms_features{width:100%;}
	.cms_fea_bne{ width:30%;}
	.cms_fea_bne > div:nth-of-type(1){width:100%;}
	.cms_fea_bne .content, .cms_fea_bne .content1{ width:92%;}
	footer .footercols{width:160px;}
	
}


/*@media only screen and (min-width: 1900px) and (max-width: 2000px) {
.logo_container{ width:63%; margin:0 30%;}
}*/
 
@media only screen and (max-width:  800px) {
	
	.inner_pro_box {
		
		color: #4c688a;
    float: left;
    height: 150px;
    margin: 20px 0 0 30px;
    padding: 10px 20px;
    position: relative;
    width: 250px;
    z-index: 2;
    
   /* width: 75% !important;
	    height: 100px;*/
	}
	 .inner_pro_box_hover{  height: 100%}
	.inner_pro_box .proimg {
    width: 26%;
	}
	
	
ul.lftcont li {
	top: 35% !important
}
.bann_heading {
	font-size: 3em !important
}
.bann_text {
	font-size: 1.3em !important
}
ul.topnav li {
	font-size: 1.3em!important
}
.resources ul li a {
	padding: 0 20px!important;
}
.logo_container div:nth-child(3), .logo_container div:nth-child(8) {
	display: none;
}
.logo_container {
	width: 640px;
}
.dvvideomore, .dvvideobookdemo {
	margin-bottom: 20px;
}
}
 @media only screen and (max-width:  700px) {
	 
.abtionicon{width:21%;}	 
.head_rght_cont {
	display: none;
}
ul.lftcont li {
	top: 30% !important
}
.bann_heading {
	font-size: 2em !important
}
.bann_text {
	font-size: 1.2em !important
}
/*header.collapse{ background:#f00!important; }  Red */ 
.hm_orange_box, .manu_orange_box {
	width: 100%;
	float: left;
}
.prod_info, .hm_aboution {
	margin: 0px 3%;
}
.logo_container div:nth-child(2), .logo_container div:nth-child(7) {
	display: none;
}
.logo_container {
	width: 480px;
}
.edu_prod_info .ion_prod_bg {
	background: #576071 url(../images/sprite_edu_prod.png) no-repeat center -83px;
	width: 100%;
	height: 242px;
	float: left;
}
.edu_orange_box {
	width: 50%;
	height: 242px;
	float: left;
	border: 0;
	border-top: 0;
	border-right: 0;
}
.educationInfographic {
	width: 100%;
}
.edu_aboution .rghtcont {
	float: left;
	width: 95%;
	padding: 0 0 0 26px;
}
.dvvideomore, .dvvideobookdemo {
	margin-bottom: 20px;
}
.footercols {
	display: none;
}
.socialmedia {
	width: 100%;
	float: right;
	margin-top: 20px;
}
.socialmedia .content {
	width: initial;
	margin: 0 auto;
	float: none;
	display: table;
}
.dvfooterbookdemo {
	background: #fe8100;
	margin: 20px auto;
	width: initial;
	float: none;
	display: table;
	padding: 0 25px;
}

.home_prod_info .ion_prod_bg > span {
		margin-top: 10%;
}

}
 @media only screen and (max-width:  600px) {
ul.lftcont li {
	top: 20% !important
}
.bann_heading {
	font-size: 1.5em !important
}
.bann_text {
	display: none !important;
}
.banButtons, .playPause {
	transform: scale(.8);
}
.gainFromImg1, .gainFromImg2, .gainFromImg3, .gainFromImg4, .gainFromImg5 {
	zoom: 0.7!important;
}
.innerSubGain h5 {
	font-size: .7em!important;
	padding-top: 20px;
}
.GainFrom {
	transform: scale(1.2);
	margin-top: 50px;
}
.prod_info, .hm_aboution {
	margin: 0px 0%!important;
}
.hm_aboution .leftcont, .hm_aboution .rghtcont {
	margin: 0px 0%;
}
.hei-gap {
	height: 5px!important;
}
.GainFrom .subGain {
	width: 23% !important
}
ul.topnav li {
	font-size: 1em!important;
}
.resources ul li a {
	padding: 0 10px!important;
}
.ResBlockC .resCir:nth-child(3) {
	display: none;
}
.ResBlockC {
	width: 315px;
}
.logo_container {
	width: 480px;
	margin-left:-25px;
}
}
 @media only screen and (max-width:  500px) {
.logo_container {
	transform: scale(0.8)
	
}


.manu_prod_info{ width:100%;}
	 .manu_orange_box{ width:49%;}
	 .manu_orange_box a{ display:block}
	 .manu_prod_info .ion_prod_bg span.sub_heading, .manu_orange_box .content{ display:none;}
	 .manu_prod_info .ion_prod_bg > span{ font-size:1.3em; height:inherit; margin-top:33%;}
	 .manu_prod_imgs{padding: 25% 0 0;}
	 .manu_prod_imgs > span{ width:35% !important;}
	 .manu_orange_box .heading{ font-size:0.9em;}


}
@media only screen and (max-width:  400px) {
ul.lftcont li {
	top: 15% !important
}
.bann_heading {
	font-size: 1.3em !important
}
.bann_text {
	display: none!important
}
.level0 {
	margin-top: -60px;
}
.banButtons, .playPause {
	transform: scale(.6);
	margin-right: -6%;
}
/*.gainFromImg1, .gainFromImg2, .gainFromImg3, .gainFromImg4, .gainFromImg5 {
	zoom: 1.4!important;
}*/
.innerSubGain h5 {
	font-size: .6em!important;
}
ul.topnav li {
	font-size: .8em!important;
}
.resources ul li a {
	padding: 0 3px!important;
}
.logo_container {
	transform: scale(0.6);
	margin: 0px -60px;
}
}
ul.rslides li {
	height: 400px
}
.flip {
	perspective: 800px;
	-webkit-perspective: 800px;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	/*-webkit-transform-style: preserve-3d;*/
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.heading u {
	font-weight: 200;
	text-decoration: none;
}
.flip .fFace {
}
.flip .BFace {
	text-align: center;
	background: #2D3540;
	color: #fff;
	display: block
}
.flip .fFace, .flip .BFace {
	transition-delay: 0.1s!important;
	-webkit-transition-delay: 0.1s!important;
	transition: transform 0.8s ease 0s;
	-webkit-transition: -webkit-transform 0.8s ease 0s;
	-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;
	width: 100%;
	height: 242px;
	position: absolute;
	top: 0;
	left: 0
}
.flip:hover .fFace, .flip:hover .BFace {
	transition-delay: 0.5s!important;
	-webkit-transition-delay: 0.5s!important;
}
.flip {
	transform: rotateY(0deg) rotateX(0deg);
	-webkit-transform: rotateY(0deg) rotateX(0deg);
}
.flip1 .BFace {
	transform: rotateX(180deg);
	-webkit-transform: rotateX( 180deg );
}
.flip1:hover .fFace {
	transform: rotateX(-180deg);
	-webkit-transform: rotateX(-180deg)
}
.flip1:hover .BFace {
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg)
}
.flip2 .BFace {
	transform: rotateY(180deg);

	-webkit-transform: rotateY( 180deg );
}
.flip2:hover .fFace {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg)
}
.flip2:hover .BFace {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg)
}
.flip3 .BFace {
	transform: rotateY(180deg);
	-webkit-transform: rotateY( 180deg );
}
.flip3:hover .fFace  {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg)
}
.flip3:hover .BFace {
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg)
}
.flip4 .BFace {
	transform: rotateX(-180deg);
	-webkit-transform: rotateX(-180deg );
}
.flip4:hover .fFace {
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg)
}
.flip4:hover .BFace {
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg)
}
.flip5 .BFace {
	transform: rotateY(180deg);
	-webkit-transform: rotateY( 180deg );
}
.flip5:hover .fFace {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg)
}
.flip5:hover .BFace {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg)
}
.BFace .heading {
	padding: 60px 10px 5px;
}
.BFace .sub_heading {
	margin-bottom: 20px
}
.BFace span.bfsvm {
	border: 1px solid #fff;
	border-radius: 16px;
	font-size: 1em;
	padding: 5px 20px;
	color: #FDC61E
}
.BFace span.bfsvm:hover {
	border-color: #FDC61E;
	color: #fff
}
.icons1 {
	width: 30%;
	margin: 0 auto;
	min-height: 142px;
	position: relative
}
.icons1 img {
	width: 100%;
	height: 46%;
}
header.collapse {
	top: -34px!important;
	height: 90px;
	background: rgba(0, 0, 0, 0.95)
}
body header.collapse .header-bprDiv {
	margin: 7px 0 0;
}
body header.collapse ul {
	margin: 13px 0 0;
}
body header.collapse .searchicon a {
	margin: 0px 3px 0 5px;
}
ul.topnav li {
	font-size: 1.5em
}
.hm_orange_box {
	opacity: 0;
	transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	opacity: 0;
}
.hm_orange_box:nth-child(1) {
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
}
.hm_orange_box:nth-child(2) {
	transition-delay: 0.4s; -webkit-transition-delay: 0.4s; 
}
.hm_orange_box:nth-child(3) {
	transition-delay: 0.6s; -webkit-transition-delay: 0.6s;
}
.hm_orange_box:nth-child(4) {
	transition-delay: 0.8s; -webkit-transition-delay: 0.8s;
}
.hm_orange_box:nth-child(5) {
	transition-delay: 1s;
	-webkit-transition-delay: 1s;
}
.hm_orange_box:nth-child(6) {
	transition-delay: 1.2s;
	-webkit-transition-delay: 1.2s;
}
.showBox1 {
	opacity: 1
}
ul.lftcont li {
	position: fixed;
	top: 45%;
	left: 10;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease;
}
/*ul.lftcont li:nth-child(1) {
	display: list-item;
}*/
.x .bann_heading, .x .bann_text {
	display: none !important;
	width: 0% !important;
}
.bann_heading {
	display: block;
	font-size: 4em;
	margin-left: 5px;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	opacity: 0;
	font-weight: 600;
	text-shadow: 0px 0px 10px #676767;/* animation-name:type;
animation-duration:6s;
animation-timing-function:ease;*/
 
}
.bann_text {
	color: #ffffff;
	font-size: 1.1em;
	display: block;
	opacity: 0;
	overflow: hidden;
	/*width: 500px;*/
	padding-bottom: 15px;
	display: block;
	font-size: 1.5em;
	margin-left: 9px;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	text-shadow: 0px 0px 10px #676767;/*animation-name:type2;
animation-duration:9s;
animation-timing-function:ease;
animation-delay:2s;
animation-iteration-count:infinite;
animation-direction:normal;
animation-fill-mode:;
animation-play-state:running;*/

}
.type {
	animation-name: type;
	animation-duration: 6s;
	animation-timing-function: ease;
	opacity: 1;
}
.type2 {
	animation-name: type2;
	animation-duration: 9s;
	animation-timing-function: ease;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode:;
	animation-play-state: running;
	opacity: 0;
}
blink {
	animation: blink .9s infinite;

	margin-top: -5px;
	margin-left: 5px;
}
/*
p:nth-child(2){
animation: type2 8s steps(60, end);
}

p a{
color: lime;
text-decoration: none;
}

*/

@keyframes type {
0% {
width: 0%; /*margin-left: 40px; */
}
}
 @keyframes type2 {
0% {
width: 0;
opacity:1; /* margin-left: 10px;*/
}
1% {
width: 0;
opacity:1; /* margin-left: 10px;*/
}
 100% {
width: 100%;
opacity:1; /* margin-left: 30px;*/
}
}
@-moz-keyframes type2 {
0% {
width: 0;
opacity:1; /* margin-left: 10px;*/
}
1% {
width: 0;
opacity:1; /* margin-left: 10px;*/
}
 100% {
width: 100%;
opacity:1; /* margin-left: 30px;*/
}
}
 @-ms-keyframes type2 {
0% {
width: 0;
opacity:1; /* margin-left: 10px;*/
}
1% {
width: 0;
opacity:1; /* margin-left: 10px;*/
}
 100% {
width: 100%;
opacity:1; /* margin-left: 30px;*/
}
}
 @keyframes type3 {
0% {
width: 0;
}
50% {
width: 0;
}
100% {
width: 100;
}
}
 @keyframes blink {
to {
opacity: .0;
}
}

.banButtons {
	position: absolute;
	z-index: 5;
	width: 100px;
	text-align: right;
	right: 80px;
	bottom: 48px
}
.banButtons a {
	display: inline-block;
	border-color: #fff;
	margin: 5px
}
.banButtons a.slctBtn1 {
	background: #FCB034
}
.flexi {
	width: 100%;
	height: auto
}
.playPause {
	position: absolute;
	right: 30px;
	bottom: 40px;
	width: 40px;
	height: 40px;
	cursor: pointer
}
.leftbt {
	float: left
}
.navi1 {
	width: 40px;
	background: #0FF;
	height: 50px
}
.rightbt {
	float: right
}
.ScrlArea1 {
	float: left;
	background: #CCC;
	height: 50px;
	overflow: hidden
}
.scrlPan {
	position: relative;
}
.scrlCNT {
	height: 50px;
	float: left
}
.dis {
	background: #fff!important
}
.videoPattern {
	min-height: 100%;
	background-image: url(../images/pattern-tile2.png);
	position: fixed;
	z-index: 100;
	width: 100%;
	opacity: 0.1
}
#vid1 {/*filter: blur(0px) grayscale(0%) sepia(0%) saturate(0%) brightness(50%) contrast(100%)  hue-rotate(90deg*/
)
}
.bookdemo_livechat > a {
	background: #990000 none repeat scroll 0 0;
	border-radius: 22px;
	display: block;
	height: 15px;
	margin: 5px 0;
	padding: 8px 10px 12px;
	text-align: center;
	width: 15px;
}
.read-more {
	cursor: pointer;
	font-weight: 600;
	color: #3d86c6 !important
}
.read-more-section {
	display: none;
}
.GainFrom {
	width: 100%;
	overflow: hidden;
	min-width: 300px;
	margin-top:48px;
}
.GainFrom .subGain:first-child {
	border-left: 1px solid #c4c1c1;
}
.GainFrom .subGain {
	border-right: 1px solid #c4c1c1;
	height: 300px;
	width: 24.6%;
	float: left;
}
.innerSubGain {
	color: #828b91;
	width: 100%;
	height: 150px;
	display: table;/* -webkit-transform: translate(0%,-50%);
-ms-transform: translate(0%,-50%);
-o-transform: translate(0%,-50%);
transform: translate(0%,-50%);
-webkit-transition: all .25s ease;
-moz-transition: all .25s ease;
-ms-transition: all .25s ease;
-o-transition: all .25s ease;
transition: all .25s ease;*/
}
.subGain .innerSubGain:hover {
	background-color: #796f6b;
	color: #FFF;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
.subGain:last-child .innerSubGain:hover {
	background-color: #796f6b;
	color: #FFF;
	box-shadow: -10px 0 25px rgba(0, 0, 0, 0.1);
}
.innerSubGain p {
	width: 100%;
	border-bottom: 1px solid #c4c1c1;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.innerSubGain:hover p {
	border-bottom: 1px solid #796f6b;
	opacity: 0;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}
.innerSubGain:hover i {
}
.mt1 {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.mt2, .mt3 {
	-webkit-transition: all 1.4s ease;
	-moz-transition: all 1.4s ease;
	-ms-transition: all 1.4s ease;
	-o-transition: all 1.4s ease;
	transition: all 1.4s ease;
}

.mt0 {
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease;
}
.gainFromImg1 {
	background: url(../images/SVG/integrated-solution2.svg) no-repeat center;
}
.innerSubGain:hover .gainFromImg1 {
	background: url(../images/SVG/integrated-solution1.svg) no-repeat center;
}
.gainFromImg2 {
	background: url(../images/SVG/increased-agility2.svg) no-repeat center;
}
.innerSubGain:hover .gainFromImg2 {
	background: url(../images/SVG/increased-agility1.svg) no-repeat center;
}
.gainFromImg3 {
	background: url(../images/SVG/payasyouuse-2.svg) no-repeat center;
}
.innerSubGain:hover .gainFromImg3 {
	background: url(../images/SVG/payasyouuse-1.svg) no-repeat center;
}
.gainFromImg4 {
	background: url(../images/SVG/personalized-solu-2.svg) no-repeat center;
}

.innerSubGain:hover .gainFromImg4 {
	background: url(../images/SVG/personalized-solu-1.svg) no-repeat center;
}
.gainFromImg5 {
	background: url(../images/SVG/automatic-upgrad-2.svg) no-repeat center;
}
.innerSubGain:hover .gainFromImg5 {
	background: url(../images/SVG/automatic-upgrad-1.svg) no-repeat center;
}

.gainFromImg6 {
	background: url(../images/SVG/Business_Grey.png) no-repeat center;
	background-size:2em;
}
.innerSubGain:hover .gainFromImg6 {
	background: url(../images/SVG//Business_white.png) no-repeat center;
		background-size:2em;
	
}

.gainFromImg1, .gainFromImg2, .gainFromImg3, .gainFromImg4, .gainFromImg5 , .gainFromImg6{
	display: block;
	height: 50px;
	margin: 20px;
	transform: scale(2);
}
.innerSubGain h5 {
	text-align: center;
	font-style: normal;
	margin-top: -20px;
}
/*hide multiple objects in Resources section*/
body #resource-demo a.prev {
	display: none!important
}
body #resource-demo a.next {
	display: none!important
}
.eachresc1 {
	text-align: center;
	padding-bottom: 30px;
}
.eachresc1 span {
	display: block;
	padding: 20px 0;
	font-size: 0.8em;
}
.ResBlockDiv {
	overflow: hidden;
	height: 300px;
}
.ResBlockC {
	margin: 0 auto;
	width: 90%;
}
.resCir {
	overflow: hidden;
	float: left;
	width: 18%;
	padding-top: 15px;
	margin: 0 1%;
	min-width: 150px;
}
.resCir label {
	text-align: center;
	display: block;
	margin: 16px 0;
	color: #676767
}

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
 75% {
 top: -12px;
 right: -12px;
 bottom: -12px;
 left: -12px;
 opacity: 0;
}
}
 @keyframes hvr-ripple-out {
 75% {
 top: -12px;
 right: -12px;
 bottom: -12px;
 left: -12px;
 opacity: 0;
 box-shadow:0px 0px 0px 0px #000;
}
}
.tooltip {
	display: none;
	position: absolute;
	border: 1px solid #666;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	padding: 0px 4px;
	color: #fff;
	font-size: 14px;
	z-index: 10000;
}
.header-bprDiv a .h-tooltip {
	position: absolute;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 3px 10px;
	color: #fff;
	width: auto;
	white-space: pre;
	opacity: 0;
	top: 43px;
	left:-15px;
	font-size: 14px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.header-bprDiv a .h-tooltip1 {
	position: absolute;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 3px 10px;
	color: #fff;
	width: auto;
	white-space: pre;
	opacity: 0;
	top: 43px;
	left:-50px;
	font-size: 14px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.arrow-down_H, .arrow-down_H1 {
	width: 0;
height: 0; 
   border-style: solid;
border-width: 0 5px 8.7px 5px;
border-color: transparent transparent #000000 transparent;
position: absolute;
	display: inline;
	margin: -11px -30px;
}

.arrow-down_H1 {margin: -11px -66px;}

.header-bprDiv a:hover .h-tooltip , .header-bprDiv a:hover .h-tooltip1{
	opacity: 1;
	visibility: visible;
}
.ResBlock .resCir, .ResBlock1 .resCir, .ResBlock2 .resCir {
	margin-top: 30px;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.ResBlock .resCir:nth-child(1), .ResBlock1 .resCir:nth-child(1), .ResBlock2 .resCir:nth-child(1) {
	transition-delay: 0.0s;-webkit-transition-delay: 0.0s;
}
.ResBlock .resCir:nth-child(2), .ResBlock1 .resCir:nth-child(2), .ResBlock2 .resCir:nth-child(2) {
	transition-delay: 0.2s;-webkit-transition-delay: 0.2s;
}
.ResBlock .resCir:nth-child(3), .ResBlock1 .resCir:nth-child(3), .ResBlock2 .resCir:nth-child(3) {
	transition-delay: 0.6s;-webkit-transition-delay: 0.6s;
}
.ResBlock .resCir:nth-child(4), .ResBlock1 .resCir:nth-child(4), .ResBlock2 .resCir:nth-child(4) {
	transition-delay: 0.8s;-webkit-transition-delay: 0.8s;
}
.ResBlock .resCir:nth-child(5), .ResBlock1 .resCir:nth-child(5), .ResBlock2 .resCir:nth-child(5) {
	transition-delay: 1.0s;-webkit-transition-delay: 1.0s;
}
.animateUp .resCir {
	margin-top: 0px;
	opacity: 1;
}
.min-950 {
	width: 90%;
	backgroung: #333;
	margin: 10px auto
}
.breadCurm {
	color: #8B8B8B;
	font-size: 0.76em;
}
.tabsNav0 {
	position: relative;
	margin-top: 10px;
	height: 45px
}
.ResLinks {
	position: relative;
	z-index: 1
}
.ResLinks a {
	display: block;
	float: left;
	height: 42px;
	line-height: 42px;
	padding: 0 24px 0 15px;
	border: 1px solid #D6D8DC;
	border-bottom: none;
	border-left: none;
	color: #9DB7CC;
	margin: 0
}
.ResLinks a:first-child {
	border-left: 1px solid #D6D8DC;
}
.ResLinks a svg {
	margin-right: 10px;
	vertical-align: -9px;
}
.ResLinks a.slct1 {
	color: #FE8100;
	border-top: 1px solid #FE8100;
	line-height: 45px;
	background-color: #fff;
	box-shadow: inset 0px 3px 0px 0px;
}
.ResLinks a.slct1 svg path {
	fill: currentcolor
}
.selectHighlight {
	border-top: 1px solid #D6D8DC;
	height: 25px;
	position: relative;
	top: 42px;
	z-index: 0;
}
.resFilter {
	text-align: right;
	padding: 25px 0;
	color: #45474D;
	font-size: 1.1em;
	border-bottom: 1px solid #CCCCCC
}
select.resSelect {
	border: 1px solid #BDBDBD;
	width: 335px;
	height: 40px;
	color: #BDBDBD;
	font-size: 0.9em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../images/selectbox_arr.gif) no-repeat 304px 13px;
	padding: 0 10px
}
select.resSelect option {
	height: 20px;
	line-height: 15px 10px;
	padding: 10px
}
.resDet {
	width: 49.9%;
	min-height: 175px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	float: left
}
 .resDet:nth-child(odd){
	border-right: 1px solid #CCCCCC;
} 
.hidden{ display:none;}


.resLogo {
	width: 105px;
	height: 105px;
	float: left;
	margin: 20px
}
.resIcon {
	background: #fe8100;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	text-align: center
}
.leaflet1 {
	background: #d18abc;
}
.infographic1 {
	background: #29bec4
}
.casestudy1 {
	background: #b7c429
}
.factsheet1 {
	background: #c44a29
}
.resIcon > img {
	height: auto;
	margin: 14% 26%;
	width: 45%;
}
.resDisc {
	float: left;
	width: -moz-calc(100% - 165px);
	width: -webkit-calc(100% - 165px);
	width: -o-calc(100% - 165px);
	width: calc(100% - 165px);
}
.resDisc span {
	clear: both;
	display: block
}
.RsType {
	color: #636d7f;
	margin-top: 20px;
	font-size: 0.95em;
	line-height: 0.95em
}
.RsTitle {
	color: #061112;
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 7px 0 5px 0;/* height:1.5em; white-space:nowrap; overflow:hidden; text-overflow:ellipsis*/
}
.RsDisc {
	color: #636d7f;
	font-size: 0.75em;
	line-height: 1.4em
}
.resDisc a {
	color: #3e86c7;
	font-size: 0.9em;
	background: url(../images/download.gif) no-repeat 2px 3px;
	padding-left: 17px;
	display: inline-block;
	margin: 10px 0
}
.resDisc a.rView {
	background: url(../images/view.gif) no-repeat 2px 3px;
}

.rresTabDet {
	display: none
}
.current {
}
.goto:hover {
	color: #3d86c6;
	text-decoration: underline;
}
.inner_videoshow iframe {
	height: 350px;
	width: 420px;
}
.adj {
	position: absolute;
	margin-top: -115px;
}
/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;
	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 90%;
	margin-top: 2%;
	border:4px solid #ccc;
}

/*.lightbox img::before{    position: absolute;
    right: 11%;
    top: 6%;
    background-image: url(../images/close.png);
    height: 15px;
    width: 15px; }
.closeButton{    position: absolute;
    right: 11%;
    top: 6%;
    background-image: url(../images/close.png);
    height: 15px;
    width: 15px; }*/
.lightbox:target {
	/** Remove default browser outline */
	outline: none;
	/** Unhide lightbox **/
	display: block;
}

.edu_aboution .rghtcont {
	float: left;
	padding-top: 10px;
}
.cd-top.cd-is-visible {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
}
.cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
}
#scroll {
	position: fixed;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background-color: #FFF;
	border:1px solid #ccc;
	text-indent: -9999px;
	display: none;
	 
	/*-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px*/
}
#scroll span {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -8px;
	margin-top: -13px;
	height: 0;
	width: 0;
	border: 8px solid transparent;
	border-bottom-color: #CCC
}
#scroll:hover {
	background-color: #666;
	opacity: 1;
	filter: "alpha(opacity=100)";
	-ms-filter: "alpha(opacity=100)";
}
.selected-tab::before {
	border-bottom: 2px solid #FE8100;
	color: #fff/*#FE8100*/;
	content: attr(data-hover);
	max-width: 100%;
	overflow: hidden;
	position: absolute;
	transition: max-width 0.5s ease 0s;
}
.imgbanner video {
	/*position: fixed;*/
	opacity: 0.75;
	/*z-index: 0;*/
	width: 100%;
	top: 0;
	right: 0;
	background-size: cover;
	
	/*	 
    position: fixed;
    top: 50%;
    left: 50%;
	width: 100%;
   
    width: auto;
    height: auto;
    opacity: 0.75;
	z-index: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('videos/video-bg-1.png') no-repeat;
    background-size: cover;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
*/
}

.imgbanner img {
	/*position: fixed;*/
	opacity: 0.75;
	/*z-index: 0;*/
	width: 100%;
	top: 0;
	right: 0;
	background-size: cover;
	
	/*	 
    position: fixed;
    top: 50%;
    left: 50%;
	width: 100%;
   
    width: auto;
    height: auto;
    opacity: 0.75;
	z-index: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('videos/video-bg-1.png') no-repeat;
    background-size: cover;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
*/
}
	
	
 
 video::-webkit-media-controls {
 display:none !important;
}
 video::-webkit-media-controls-start-playback-button {
 display: none !important;
 -webkit-appearance: none;
}
video::media-controls {
 display:none !important;
}
 video::media-controls-start-playback-button {
 display: none !important;
 -webkit-appearance: none;
}
 
/*.imgbanner video,
.imgbanner canvas {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
 }
video {
    height: 100% !important;
    position: absolute;
}*/



.small-box .hm_orange_box{     
    max-width: 33%;
    margin: 1px;}
	
.small-box .BFace .heading{ padding-top: 10px !important;padding-bottom: 0px; margin-bottom: 25px;}
.small-box  .heading{padding-top:0px;}

 
.small-box .proimg {
   
    height: 40%;
  	margin: 40px auto -10px; 
 background-image: url(../images/sprite_products_sectors.png);
    background-repeat: no-repeat;
  
}


.small-box #campmgmt {  background-image: url(../images/SVG/campus-management.svg);  width: 86px;}
.small-box #bizapp {}
.small-box #lx { background-image: url(../images/SVG/learning-exchange.svg); width: 85px;
}
.small-box #exammgmt { background-image: url(../images/SVG/exam-management.svg); width: 85px;
}
.small-box #incoumgmt {	background-image: url(../images/SVG/incourse-management.svg);  width: 85px;}
.small-box #demat {	background-image: url(../images/SVG/demat-services.svg);  width: 85px;}
.small-box #digieva {	 background-image: url(../images/SVG/digital-evaluation.svg); width: 85px;}
.small-box #preptest { background-image: url(../images/SVG/prep-test.svg); width: 85px;}
.small-box #communi {background-image: url(../images/SVG/communicator.svg);  width: 85px;}
.small-box #schools { background-image: url(../images/SVG/K12.svg); width: 65px;   }
.small-box #highedu {    background-image: url(../images/SVG/HigherEducation.svg); width: 65px;}
.small-box #vocation {    background-image: url(../images/SVG/vocational.svg); width: 85px;  }
.small-box #exambodies {   background-image: url(../images/SVG/exam-management.svg); width: 65px;}
.small-box #assess {background-image: url(../images/SVG/assessment-management.svg);  width: 85px;}

.small-box .hm_orange_box {
     
    height: 180px;
}

.small-box .sub_heading {
    font-size: .8em;
  /* height:40%;
   border:1px solid #f00;*/
   display:table;
         width: 90%;
    padding: 0px 5%;
}

.small-box .sub_heading p{ display: table-cell;
    text-align: center;
    vertical-align: middle;}

.small-box .heading{
   font-size: 1.2em;
    font-weight: 100;
    color: #586171;padding-top: 10px;}
		
 
	
.small-box  .BFace .heading{ color: #FFF; }	

.small-box .flip .fFace, .small-box .flip .BFace{height: 180px;     border-radius:0px; display: table;}

.small-box .bfsvm{ margin:10px;}

.edu_videoshow.abt_us{margin-top:0px !important;width:100%;}

.abtion_sections{width:100%;
height:auto;
overflow:hidden
}

.tab1_abtion{ 
	float: left;
    line-height: 1.5em;
    padding: 15px 0 30px;
    width: 100%;
	}
	


.dvabtion {
    display: inline-block;
    float: left;
    margin-bottom: 30px;
    width: 85%;
	font-size:13px;
}

#tab1_abtion{
 float: left;
    line-height: 1.5em;
    padding: 15px 0 30px;
    width: 100%;
}

.dvabtion h2{margin-bottom:10px}
.dvabtion p{font-size:13px;}

.abtion_sections span.dvabtion:first-child{width:100%} 
.readMore{color:#0077B5 !important}
.Y .resIcon { background:#fff;}
body .ui-dialog{top:115px!important; position:fixed!important}

.inner_content_rest{ padding: 15px 70px;}

.btnbookdemoCenter{ height: 70px;
    margin-left: calc((100% - 135px) / 2);
    margin-top: 0;
    width: 42%;
	 overflow: hidden;
	}
.dvBurCont ul.level0 a.nav_selected{border-bottom:none !important}

.dvlivechat_new {
	bottom: 2px;
	height: 30px;
	right: 2px;
	width: auto;
	position: fixed;
	z-index: 100;
}
.dvlivechat_new a {
	background: #131d26 url(https://www.tcsion.com/dotcom/TCSSMB/images/ico-livechat.png) no-repeat 10px center;
	color: #ffffff;
	text-indent: 40px;
	line-height: 30px;
	text-decoration: none;
	border: 1px solid #000000;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-radius: 5px 5px 0px 0px;
	behavior: url(PIE.htc);
	display: block;
}

.ShowLiveChat {
	background: rgba(0, 0, 0, 0) url(https://www.tcsion.com/dotcom/TCSSMB/images/bg-shwlivechat.png) repeat-x scroll left top;
	color: #000000;
	height: 87px;
	margin-top: -80px;
	position: absolute;
	right: 50px;
	width: 231px;
	z-index: 100;
	display: none;
}
.ShowLiveChat label {
	display: inline-block;
	font-size: 19px;
	font-weight: bold;
	text-indent: 46px;
	padding-top:6px;
}
.ShowLiveChat span {
	display: inline-block;
	font-size: 12px;
	text-indent: 48px;
}
.dvlivechat_new:hover .ShowLiveChat {
	display: block;
}

/* Down Time CSS 

.dvlivechat_new{display: none !important;}
.dvvideobookdemo{display: none !important;}
.dvvideomore{display: none !important;}
.dvfooterbookdemo{display: none !important;}
*/