/* ҳṹͷҳStart */

body{
	font-family:"Microsoft Yahei","";
	color:#383838;
}

a{
	color:#383838;
}

.w1000{
	width:1000px;
	margin:0px auto;
}

#footer{
	text-align:center;
	line-height:24px;
	padding:15px 0px;
}

#top{
	width:100%;
	min-width:1000px;
	
	border-bottom:1px solid #ddd;
	background:#f4f4f4;
	color:#6c6c6c;
}

#top .w1000{
	height:42px;
	line-height:42px;
	position:relative;
}

#top a{
	color:#6c6c6c;
}

#top .right{
	_padding-top:12px;
}

#top .left a,#top .left span{
	margin-right:30px;
}

#top .right a,#top .right span{
	margin-left:15px;
}

#top .btn1{
	background:url(http://www.dzwww.com/tpl/v2015/images/top-btn1.gif) center center;
	border:1px solid #e1e1e1;
	padding:2px 3px 3px 2px;
}

#top .btn1 img{
	vertical-align:middle;
}

#top .arrow{
	background:url(http://www.dzwww.com/tpl/v2015/images/top-arrow.gif) no-repeat right center;
	padding-right:12px;
}

#top .drop{
	position:absolute;
	top:42px;
	border:1px solid #ddd;
	background:#fcfcfc;
	line-height:20px;
	padding:5px 10px;
	display:none;
}

#top .drop a{
	color:#296388;
}

#top-drop1{ left:165px; }
#top-drop2{ left:515px; }

#wrapper{
	background:#fff;
}

#wrapper img{
	display:block;
}

#header{
	height:65px;
	padding:5px 2px 0px 2px;
	border-bottom:1px solid #ededed;
}

#header .left,#header .right{
	margin-top:5px;
	width:300px;
	height:50px;
	overflow:hidden;
}

#header .logo{
	float:left;
	display:inline;
	margin-left:121px;
}

#nav{
	height:52px;
	position:relative;
}

#nav .block{
	float:left;
	display:inline;
}

#nav .line{
	float:left;
	display:inline;
	width:1px;
	height:40px;
	background:#ededed;
	margin:6px 25px 0px 8px;
}

#nav .strong{
	font-weight:bold;
}

#nav p{
	line-height:26px;
}

#nav p a{
	margin-right:18px;
}

#nav .arrow{
	padding-right:17px;
	background:url(http://www.dzwww.com/tpl/v2015/images/nav-type.gif) no-repeat right center;
}

#nav .drop{
	position:absolute;
	border:1px solid #e0e0e0;
	background:#fff;
	padding:5px 10px;
	line-height:22px;
	display:none;
	z-index:9999;
}

#nav .drop a{
	color:#296388;
}

#nav-drop1{
	right:85px;
	top:26px;
	width:90px;
}

#nav-drop1 a{
	float:left;
	display:inline;
	margin-right:10px;
	white-space:nowrap;
}

#nav-drop2{
	right:0px;
	top:26px;
	width:70px;
}

#nav-drop2 li{
	float:left;
	width:35px;
	text-align:center;
}

#nav-drop3{
	right:85px;
	top:52px;
}

#linkbox{
	border:1px solid #e0e0e0;
	padding:10px 10px 5px 10px;
	zoom:1;
}

#linkbox .left,#linkbox .right{
	width:135px;
}

#linkbox a{
	color:#32688d;
}

#linkbox ul li{
	height:24px;
	line-height:24px;
	overflow:hidden;
}

#linkbox .middle{
	float:left;
	display:inline;
	margin-left:14px;
	width:680px;
}

#linkbox .middle .ad{
	width:680px;
	height:70px;
	overflow:hidden;
}

#linkbox .middle p{
	height:30px;
	line-height:30px;
	overflow:hidden;
	text-align:center;
}

#linkbox .middle p a{
	margin:0px 4px;
}

/* ҳṹͷҳStart */





/* ݹøʽStart */
.main1{
	float:left;
	width:610px;
}

.side1{
	float:right;
	width:360px;
}

.main2{
	float:left;
	width:655px;
}

.main2 .left,.main2 .right{
	width:315px;
}

.side2{
	float:right;
	width:320px;
}

h1,h2,h3,h4,h5{
	font-family:"Microsoft Yahei","";
	overflow:hidden;
}

h2,h3{
	font-weight:normal;
}

h1 a,h2 a,h3 a,h4 a{
	color:#053a67;
}

h2{
	font-size:22px;
}

h3{
	line-height:27px;
	font-size:17px;
}

h4{
	font-size:14px;
}

.strong{
	font-weight:bold;
}

.title1{
	height:18px;
	line-height:18px;
	overflow:hidden;
	background:url(http://www.dzwww.com/tpl/v2015/images/title1.gif) repeat-x left 9px;
}

.title1 a{
	float:left;
	display:inline;
	margin-left:10px;
	background:#fff;
	color:#b64d4a;
	padding:0px 5px;
}

.title2{
	border-bottom:1px solid #e0e0e0;
	padding:7px 0px;
	height:20px;
	line-height:20px;
	overflow:hidden;
}

.title2 span{
	float:left;
	border-left:3px solid #b64d4a;
	font-size:16px;
	padding-left:8px;
	font-family:"Microsoft Yahei","";
}

.title2 label{
	float:left;
	display:inline;
	margin-left:12px;
	color:#f77b26;
}

.title2 label a{
	color:#f77b26;
}


.title2 .more{
	float:right;
	color:#aeaeae;
}

.title3{
	height:36px;
	line-height:36px;
	overflow:hidden;
	border-top:1px solid #b64d4a;
	padding:0px 10px 0px 5px;
}

.title3 span{
	float:left;
	font-size:16px;
	font-family:"Microsoft Yahei","";
}

.title3 span,.title3 span a{
	color:#b64d4a;
}

.title3 .more{
	float:right;
	display:inline;
}

.title3 p{
	margin-right:-5px;
}

.title3 p a{
	margin:0px 5px;
}

.title-nav{
	height:34px;
	border:1px solid #e0e0e0;
	border-right:none;
	background:#f4f4f4;
	margin-bottom:12px;
	font-family:"Microsoft Yahei","";
}

.title-nav ul{
	zoom:1;
}

.title-nav li{
	float:left;
	display:inline;
	margin-left:-1px;
	height:34px;
	line-height:34px;
	overflow:hidden;
	text-align:center;
	font-size:16px;
	cursor:pointer;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
}

.title-nav li a:hover{
	color:#b64d4a;
}

.title-nav .current{
	background:#fff;
	height:35px;
}

.list-pic{
	background:url(http://www.dzwww.com/tpl/v2015/images/list-pic.gif) no-repeat left center;
	_background:url(http://www.dzwww.com/tpl/v2015/images/list-pic.gif) no-repeat left 5px;
	padding-left:25px;
}

.list-video{
	background:url(http://www.dzwww.com/tpl/v2015/images/list-video.gif) no-repeat left center;
	_background:url(http://www.dzwww.com/tpl/v2015/images/list-video.gif) no-repeat left 5px;
	padding-left:20px;
}

.list-video2{
	background:url(http://www.dzwww.com/tpl/v2015/images/list-video2.gif) no-repeat left center;
	_background:url(http://www.dzwww.com/tpl/v2015/images/list-video2.gif) no-repeat left 5px;
	padding-left:18px;
}

.list14-30a li{
	height:30px;
	line-height:30px;
	overflow:hidden;
	font-size:14px;
	padding-left:14px;
	background:url(http://www.dzwww.com/tpl/v2015/images/list-point4.gif) no-repeat left 14px;
}

.list14-30a li span{
	margin-left:-10px;
}

.list14-30b li{
	height:30px;
	line-height:30px;
	overflow:hidden;
	font-size:14px;
	padding-left:14px;
	background:url(http://www.dzwww.com/tpl/v2015/images/list-point5.gif) no-repeat left 14px;
}

.list14-30c li{
	height:30px;
	line-height:30px;
	overflow:hidden;
	font-size:14px;
}

.list14-30c li span,.list14-30c li span a{
	color:#053a67;
}

.list14-30c li i{
	font-style:normal;
	margin:0px 5px;
}

.list14-30d li{
	height:30px;
	line-height:30px;
	overflow:hidden;
	font-size:14px;
}

.list14-30d li span{
	margin-right:5px;
}

.list14-30d li span,.list14-30d li span a{
	color:#b64d4a;
}

.list12-30 li{
	height:30px;
	line-height:30px;
	overflow:hidden;
	padding-left:13px;
	background:url(http://www.dzwww.com/tpl/v2015/images/list-point4.gif) no-repeat left 13px;
}

.list12-21 li{
	height:21px;
	line-height:21px;
	overflow:hidden;
	padding-left:6px;
	background:url(http://www.dzwww.com/tpl/v2015/images/list-point6.gif) no-repeat left 9px;
}

.list12-21 li a{
	color:#7d7d7d;
}

.textbg1{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:26px;
	background:#000;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
}

.img-title1{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:26px;
	line-height:26px;
	overflow:hidden;
	text-align:center;
}

.img-title1 a{
	color:#fff;
}

.textbg2{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:18px;
	background:#000;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
}

.img-title2{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:18px;
	line-height:18px;
	overflow:hidden;
	text-align:center;
}

.img-title2 a{
	color:#d4d4d4;
}

.pic-news1{
	zoom:1;
}

.pic-news1 img{
	float:left;
	display:inline;
	width:90px;
	height:70px;
	margin-right:15px;
}

.pic-news2{
	zoom:1;
	margin-top:15px;
}

.pic-news2 h3{
	height:27px;
	text-align:center;
	margin-bottom:10px;
}

.pic-news2 img{
	float:left;
	display:inline;
	margin-right:20px;
	height:68px;
	width:68px;
	border:2px solid #b9d3e9;
	border-radius:36px;
}

.pic-news2 p{
	height:75px;
	overflow:hidden;
	line-height:24px;
	color:#8c8c8c;
}

.pic-news2 p a{
	color:#8c8c8c;
}

.pic-news3{
	margin:19px 0px 8px 0px;
}

.pic-news3 .photo{
	float:left;
	display:inline;
	margin:0px 8px;
	width:140px;
	height:110px;
	position:relative;
	overflow:hidden;
}

.pic-news3 .photo img{
	width:140px;
	height:110px;
}

.pic-news4{
	position:relative;
	width:295px;
	height:110px;
	overflow:hidden;
	margin:19px auto 8px auto;
}

.pic-news4 img{
	width:295px;
	height:110px;
}

.pic-news4 p{
	left:12px;
	width:271px;
	text-align:left;
}

.pic-news5{
	zoom:1;
	margin:19px 0px 16px -15px;
}

.pic-news5 .photo{
	float:left;
	display:inline;
	margin-left:15px;
	width:95px;
}

.pic-news5 .photo img{
	width:95px;
	height:140px;
}

.pic-news5 .photo p{
	text-align:center;
	line-height:18px;
	height:18px;
	overflow:hidden;
	margin-top:5px;
}

.pic-news5 .photo p a{
	color:#053a67;
}
/* ݹøʽEnd */



/* ͼStart */
#slides{
	width:360px;
	overflow:hidden;
	position:relative;

}



#slides img{
	width:360px;
	height:210px;
}

#slides p{
	font-size:16px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	margin-top:10px;
}

#slides p a:hover{
	text-decoration:none;
	color:#053a67;
}

#slides ul{
	margin-left:-1px;
}

#slides li{
	float:left;
	display:inline;
	height:10px;
	width:70px;
	border-bottom:2px solid #c0bec1;
	text-indent:-9999px;
	overflow:hidden;
	margin-left:2px;
	cursor:pointer;
}

#slides .point .current{
	border-bottom:2px solid #b64d4a;
}
#slides .arrow1 ,#slides .arrow2 {
	position:absolute;
	top:85px;
	width:35px;
	height:35px;
	cursor:pointer;
}

#slides .arrow1 {
	left:6px;
	background:url(http://www.dzwww.com/tpl/v2015/images/focus1-arrow1.png) no-repeat;
}

#slides .arrow2 {
	right:6px;
	background:url(http://www.dzwww.com/tpl/v2015/images/focus1-arrow2.png) no-repeat;
}
/* ͼEnd */


/* ҳStart */
#layout1 .main{
	float:left;
	width:700px;
	height:80px;
	overflow:hidden;
	padding-right:42px;
	position:relative;
	text-align:center;
}

#layout1 .main h1{
	height:46px;
	line-height:46px;
	font-size:33px;
}

#layout1 .main p{
	font-size:14px;
	height:18px;
	line-height:18px;
	overflow:hidden;
	margin-top:10px;
}

#layout1 .main p a{
	margin:0px 5px;
}

#layout1 .main .more1{
	position:absolute;
	right:0px;
	top:0px;
	height:78px;
	width:23px;
	border:1px solid #d1d1d1;
	text-align:center;
	line-height:16px;
}

#layout1 .main .more1 a{
	color:#666;
	display:block;
	width:100%;
	padding-top:12px;
	height:66px;
	background:url(http://www.dzwww.com/tpl/v2015/images/ly1-more.gif) no-repeat center 52px;
}

#layout1 .main .more1 a:hover{
	text-decoration:none;
	color:#333;
	background:url(http://www.dzwww.com/tpl/v2015/images/ly1-more2.gif) no-repeat center 52px;
}

#layout1 .scroll{
	float:right;
	width:202px;
	height:72px;
	border:1px solid #ededed;
	position:relative;
	padding:3px 10px 3px 18px;
}

#layout1 .scroll .title{
	position:absolute;
	width:16px;
	text-align:center;
	line-height:14px;
	height:60px;
	padding:2px 0px;
	overflow:hidden;
	top:9px;
	left:-8px;
	background:#fff;
}

#layout1 .scroll .title,#layout1 .scroll .title a{
	color:#c87a77;
}

#layout1 .scroll .title a:hover{
	text-decoration:none;
	color:#e60012;
}

#layout1 .scroll li{
	height:24px;
	line-height:24px;
	overflow:hidden;
	padding-left:7px;
	background:url(http://www.dzwww.com/tpl/v2015/images/list-point1.gif) no-repeat left 11px;
}

#layout1 .scroll li a{
	color:#7294ac;
}

#layout2{
	height:33px;
	line-height:33px;
	overflow:hidden;
	border-top:1px solid #ececec;
	border-bottom:1px solid #ececec;
}

#layout2 .title{
	float:left;
	width:86px;
	text-align:center;
	border-right:1px solid #ececec;
	color:#c3474b;
	font-weight:bold;
	position:relative;
}

#layout2 .title span{
	position:absolute;
	right:-5px;
	top:11px;
	width:0; 
    height:0; 
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #ececec;
	_display:none;
}


#layout2 .content{
	float:right;
	width:895px;
}

#layout2 .content li{
	float:left;
	display:inline;
	padding-left:8px;
	background:url(http://www.dzwww.com/tpl/v2015/images/list-point2.gif) no-repeat left 14px;
	margin-right:25px;
}

#layout2 .content li a{
	color:#5a5a5a;
}

#search1{
	position:relative;
	height:50px;
	width:360px;
	font-size:14px;
	color:#619ccc;
}

#search1 .title{
	float:left;
	width:70px;
	height:33px;
	line-height:33px;
	border:1px solid #a2c5ea;
	border-right:none;
	background:url(http://www.dzwww.com/tpl/v2015/images/search1-arrow.gif) no-repeat 79px center;
	cursor:pointer;
	padding:0px 25px 0px 9px;
	border-radius:2px 0px 0px 2px;
	text-align:center;
}

#search1 .line{
	position:absolute;
	left:104px;
	top:3px;
	height:29px;
	width:1px;
	background:#a2c5ea;
}

#search1 .drop{
	position:absolute;
	left:0px;
	top:35px;
	width:69px;
	line-height:33px;
	border:1px solid #a2c5ea;
	border-top:none;
	cursor:pointer;
	padding:0px 25px 0px 9px;
	text-align:center;
	background:#fff;
	display:none;
	z-index:10;
}

#search1 .inp1{
	float:left;
	width:165px;
	padding:0px 12px;
	height:33px;
	line-height:33px;
	overflow:hidden;
	border-bottom:1px solid #a2c5ea;
	border-top:1px solid #a2c5ea;
	border-right:none;
	border-left:none;
	font-size:14px;
	color:#6c6c6c;
	font-family:"Microsoft Yahei";
}

#search1 .sub{
	float:left;
	height:35px;
	width:66px;
	border:none;
	background:#619ccc url(http://www.dzwww.com/tpl/v2015/images/search1-sub.gif) no-repeat center center;
	cursor:pointer;
}
/*add by ssq chinaso*/
#chinaso_hotkeyword {padding-top: 5px;clear: both;}
#chinaso_hotkeyword span {color: #cc0033;}
#chinaso_hotkeyword a {text-decoration: none;color: #666666;padding-right: 5px;}
/*add by ssq chinaso*/

#layout3 .main1 h2{
	height:30px;
	line-height:30px;
	overflow:hidden;
	margin-bottom:10px;
}

#layout3 .main1 h2 a{
	float:left;
}

#layout3 .main1 h2 span{
	float:left;
	display:inline;
	background:#db4141;
/*	background:#000000;*/
	color:#fff;
	font-size:12px;
	height:18px;
	line-height:18px;
	margin:6px 0px 0px 15px;
	padding:0px 6px;
	border-radius:2px;
	position:relative;
}

#layout3 .main1 h2 span i{
	position:absolute;
	left:-3px;
	top:6px;
	border-top:3px solid transparent;
    border-bottom:3px solid transparent;
    border-right:3px solid #db4141;
	_display:none;
}

#layout3 .main1 h2 label{
	float:right;
}
.bdsharebuttonbox{
	height:18px;
	line-height:18px;
}


#layout3 .main1 ul{
	margin-left:-30px;
	zoom:1;
	margin-bottom:20px;
}

#layout3 .main1 ul li{
	float:left;
	display:inline;
	margin-left:35px;
	font-size:14px;
	line-height:18px;
	height:18px;
	overflow:hidden;
	padding-left:11px;
	background:url(images/list-point3.gif) no-repeat left 9px;
}

#layout3 .main1 ol li{
	font-size:16px;
	height:32px;
	line-height:32px;
	overflow:hidden;
	padding-left:11px;
	background:url(images/list-point3.gif) no-repeat left 15px;
}

#layout3 .main1 ol li a{
	color:#053a67;
}

#layout3 .main1 .long{
	float:left;
	width:365px;
}

#layout3 .main1 .short{
	float:right;
	width:220px;
}

#layout4 .main1 .left{
	width:355px;
}

#layout4 .main1 .left .title1{
	margin-bottom:5px;
}

#layout4 .main1 .left ul{
}

#layout4 .main1 .left .pic-news1{
	margin-top:18px;
	margin-bottom:15px;
}

#layout4 .main1 .left .pic-news1 img{
	width:85px;
	height:55px;
}

#layout4 .main1 .right{
	width:230px;
	border:1px solid #ededed;
	border-top:none;
}

#layout4 .main1 .right .video-btn{
	padding:7px 0px 15px 10px;
	zoom:1;
}

#layout4 .main1 .right .video-btn img{
	float:left;
	display:inline;
	margin-left:5px;
}
#layout4 .main1 .right .block{
	border-top:1px solid #ededed;
	padding:3px 15px 15px 15px;
}


#layout4 .main1 .right .block .photo{
	position:relative;
	width:200px;
	height:110px;
	margin-top:20px;
}

#layout4 .main1 .right .block .photo img{
	width:100%;
	height:100%;
}

#layout4 .main1 .right .block .photo .play{
	position:absolute;
	left:82px;
	top:29px;
	width:36px;
	height:36px;
	background:url(http://www.dzwww.com/tpl/v2015/images/play1.png) no-repeat;
	opacity:1;
	-moz-transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-o-transform:scale(1,1);
	-ms-transform:scale(1,1);
	transform:scale(1,1);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	_display:none;
}

#layout4 .main1 .right .block .photo .play a{
	display:block;
	width:100%;
	height:100%;
}

#layout4 .main1 .right .block .photo .play:hover{
	opacity:0.9;
	-moz-transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1);
	transform:scale(1.1,1.1);
}

#layout4 .main1 .right .block h4{
	line-height:24px;
	margin-top:10px;
	margin-left:3px;
}

#layout4 .main1 .right .block .list-video2{
	height:24px;
}

#layout4 .main1 .right .block .list12-30{
	margin-top:5px;
}

#layout4 .side1 .title3{
	border-bottom:1px solid #ededed;
}

#layout4 .side1 .title3 .more{
	color:#aeaeae;
}

#layout4 .side1 .block .pic-news2 h3{
	margin-bottom:15px;
}

#layout4 .side1 .block .list14-30b{
	margin-top:10px;
}

#layout4 .side1 .block2{
	border:1px solid #ededed;
	height:208px;
	padding-top:20px;
	position:relative;
}

#layout4 .side1 .block2 .title{
	position:absolute;
	left:102px;
	top:-9px;
	width:155px;
	height:16px;
	line-height:16px;
	overflow:hidden;
	background:#fff;
	color:#b64d4a;
	letter-spacing:5px;
	text-align:center;
}

#layout4 .side1 .block2 .title a{
	color:#b64d4a;
}

#layout4 .side1 .block2 .content{
	width:328px;
	height:191px;
	margin:0px auto;
	overflow:hidden;
}

#layout4 .side1 .block2 table{
	width:364px;
	margin:-1px 0px 0px -19px;
}

#layout4 .side1 .block2 table td{
	height:75px;
	width:144px;
	border:1px solid #ededed;
	padding:10px 18px;
	vertical-align:top;
}

#layout4 .side1 .block2 h5{
	font-size:14px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	margin-bottom:5px;
	font-weight:normal;
}

#layout4 .side1 .block2 h5 a{
	color:#32688d
}

#layout4 .side1 .block2 p{
	height:24px;
	line-height:24px;
	overflow:hidden;
}

#layout4 .side1 .block2 p a{
	color:#8c8c8c;
}

#layout4 .side1 .block3{
	height:73px;
}

#layout4 .side1 .block3 .title{
	float:left;
	width:23px;
	text-align:center;
	background:#b64d4a;
	color:#fff;
	font-family:"";
	line-height:13px;
	padding:4px 0px;
}

#layout4 .side1 .block3 .content{
	float:right;
	height:71px;
	width:336px;
	border:1px solid #ededed;
	border-left:none;
}

#layout4 .side1 .block3 table{
	width:320px;
	margin:10px auto 0px auto;
}

#layout4 .side1 .block3 table td{
	height:26px;
}

#layout4 .side1 .block3 select{
	width:147px;
	border:1px solid #a9a9a9;
	border-radius:2px;
}

#layout5 .title3{
	padding:0px 25px 0px 5px;
}


#layout5 .title3 .more2{
	background:url(http://www.dzwww.com/tpl/v2015/images/ly5-plus.gif) no-repeat left center;
	padding-left:23px;
	float:right;
}


#layout5 .title3 .select{
	float:right;
	width:885px;
}

#layout5 .title3 .select .btn2{
		float:left;
	padding:10px;
	width:15px;
	height:15px;
	background:#f4f4f4 url(http://www.dzwww.com/tpl/v2015/images/ly5-minus.gif) no-repeat center center;
	border:1px solid #e0e0e0;
	border-top:none;
	cursor:pointer;
	overflow:hidden;
}

#layout5 .title3 .select .list{
	float:right;
	width:833px;
	_padding-top:9px;
}

#layout5 .title3 .select .list li{
	float:left;
	width:49px;
	color:#a8a8a8;
}

#layout5 .title3 .select .list li input{
	vertical-align:middle;
	margin-top:-2px;
}

#layout5 .content{
	zoom:1;
	margin:0px 0px 0px -35px;
}

#layout5 .content .pic-news1{
	float:left;
	display:inline;
	margin:18px 0px 0px 35px;
	width:310px;
	height:80px;
	overflow:hidden;
}

#layout5 .content .pic-news1 img{
	height:80px;
}

#layout5 .content .pic-news1 p{
	color:#8c8c8c;
	line-height:18px;
	margin-top:5px;
}

#layout6{
	background:#f4f4f4;
	height:480px;
	position:relative;
}

#layout6 .title{
	position:absolute;
	left:-5px;
	top:24px;
	width:74px;
	padding-right:8px;
	height:32px;
	background:url(http://www.dzwww.com/tpl/v2015/images/ly6-title.gif) no-repeat;
	overflow:hidden;
	font-size:14px;
	font-family:"Microsoft Yahei","";
	color:#fff;
	line-height:28px;
	text-align:center;
}

#layout6 .nav{
	float:left;
	width:67px;
	height:478px;
	border:1px solid #ededed;
	background:#fff;
}

#layout6 .nav ul{
	width:69px;
	padding-top:72px;
	margin-left:-1px;
}

#layout6 .nav li{
	margin-bottom:10px;
	padding:6px 3px 6px 3px;
	text-align:center;
	font-size:14px;
	line-height:19px;
	color:#888;
}

#layout6 .nav li,#layout6 .nav li a{
	color:#888;
}

#layout6 .nav .current{
	padding:5px 3px 5px 0px;
	background:#f4f4f4;
	border-top:1px solid #ededed;
	border-bottom:1px solid #ededed;
	border-left:3px solid #b64d4a;
}

#layout6 .nav .current,#layout6 .nav .current a{
	color:#383838;
}

#layout6 .content{
	float:right;
	width:905px;
}

#layout6 .content li{
	float:left;
	display:inline;
	width:160px;
	height:204px;
	margin:23px 20px 0px 0px;
	background:#fff;
}

#layout6 .content li img{
	width:160px;
	height:120px;
}

#layout6 .content li h4{
	height:36px;
	line-height:18px;
	margin:12px 10px 0px 10px;
}

#layout6 .content li h4 a{
	color:#1e4d76;
}

#layout6 .content li .text{
	margin:10px 10px 18px 10px;
	line-height:25px;
	height:100px;
	overflow:hidden;
	color:#8c8c8c;
}

#layout6 .content li .text a{
	color:#8c8c8c;
}

#layout6 .content li .bot1,#layout6 .content li .bot2{
	height:14px;
	line-height:14px;
	overflow:hidden;
	margin:10px 10px 0px 10px;
	color:#666;
}

#layout6 .content li .bot1 a{
	color:#666;
}

#layout6 .content li .bot1 span{
	float:left;
	background:url(http://www.dzwww.com/tpl/v2015/images/ly6-type1.gif) no-repeat left 2px;
	padding-left:15px;
}

#layout6 .content li .bot1 label{
	float:right;
	background:url(http://www.dzwww.com/tpl/v2015/images/ly6-type2.gif) no-repeat left 2px;
	padding-left:15px;
}

#layout6 .content li .bot2 span{
	float:left;
}

#layout6 .content li .bot2 label{
	float:right;
	color:#e4393c;
}

#layout8 .title3 .nav{
	float:right;
	margin-top:13px;
}

#layout8 .title3 .nav li{
	float:left;
	display:inline;
	margin-right:5px;
	width:6px;
	height:6px;
	background:#d1d1d1;
	cursor:pointer;
	text-indent:-9999px;
	border-radius:3px;
	overflow:hidden;
}

#layout8 .title3 .nav .current{
	background:#b64d4a;
}

#layout8 .content{
	margin-top:5px;
}

#layout8 .content ul{
	margin-left:-10px;
	zoom:1;
}

#layout8 .content li{
	float:left;
	display:inline;
	margin:10px 0px 0px 10px;
	width:158px;
	height:110px;
	position:relative;
	overflow:hidden;
}
#layout8 .content li img{
	width:158px;
	height:110px;
}
#layout8 .title3 .spanturn{
	height:34px;
	margin-right:30px;
}
#layout8 .title3 .curspanturn{
	background:url('http://www.dzwww.com/tpl/v2015/images/xsj.gif') no-repeat  bottom center;
}
#layout8 .title3 .spanturn a{
	color:#818181;
}
#layout8 .title3 .curspanturn a{
	color:#b64d4a;
}
#layout7 .side2 .title3,#layout9 .side2 .title3{
	border-bottom:1px solid #ededed;
}

.news-category{
	zoom:1;
}

.news-category .pic-news1{
	margin:19px 0px 19px 0px;
}

.news-category .pic-news2{
	margin-bottom:10px;
}

.news-category .list12-21{
	zoom:1;
	margin-top:12px;
	border:1px solid #e0e0e0;
	padding:4px 0px 4px 0px;
}

.news-category .list12-21 li{
	float:left;
	display:inline;
	width:133px;
	margin:0px 0px 0px 14px;
}

#layout16 .main2 .right .pic-news4{
	width:315px;
	height:125px;
	margin-bottom:0px;
}

#layout16 .main2 .right .pic-news4 img{
	width:315px;
	height:125px;
}

#layout16 .main2 .right .pic-news4 p{
	width:291px;
}

#layout16 .side2 .block1 .title-nav li{ width:105px; }
#layout16 .side2 .block2 .title-nav li{ width:158px; }

#layout16 .side2 .rank{
	background:url(http://www.dzwww.com/tpl/v2015/images/rank.gif) no-repeat left 6px;
	padding:0px 0px 0px 21px;
	margin:0px 5px 0px 15px;
}

#layout16 .side2 .rank li{
	height:25px;
	line-height:25px;
	overflow:hidden;
}

#layout17 .title-nav li{
	width:110px;
}

#layout17 .content li{
	float:left;
	display:inline;
	margin-right:10px;
	line-height:30px;
	white-space:nowrap;
	font-size:14px;
}
/* ҳEnd */