﻿/* ===============================================================*/
/* START COMMON STYLES											  */
/* ===============================================================*/
body
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
h2, h3, h4, h5, h6, h7, div, span, p, img, td, th, a, li, form, select, input, textarea 
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
h1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
}

h2
{
	font-size: 1.2em;
}

h3
{
	font-size: 1em;
}
Input
{
	font-size : 1.0em;
}
textarea
{
    font-size : 1.0em;
}

Select
{
	font-size : 1.0em;
}
/* ===============================================================*/
/* END COMMON STYLES											  */
/* ===============================================================*/
/* ===============================================================*/
/* START STRUCTURE RELEVANT STYLES								*/
/* ===============================================================*/
.nav a
{	
	border-left:2;
	border-left-style: solid;
}
.TextArea
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

/* ======================= */
/* S E C T I O N   M E N U 
/* ========================*/
div#SectionMenu {
	font-size: 0.85em;
	float: right;
	text-align:right;	
}
div#SectionMenu {
	 margin-bottom: 5;
}

div#SectionMenu ul,
div#SectionMenu li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

div#SectionMenu li {
	padding: 2px 0px 2px 0px;
}

div#SectionMenu ul li a:link,
div#SectionMenu ul li a:visited {
	display: block;
	text-decoration: none;
}

/* second level */
div#SectionMenu ul li a:link,
div#SectionMenu ul li a:visited
{
	padding: 0px 1.3em 2px 1px;
	border-bottom: 1px solid #CCCCCC;	
}
div#SectionMenu ul li a:hover
{
	padding: 0px 1.3em 2px 1px;
	border-bottom: 1px solid #CCCCCC;
	text-decoration: underline;
	color: #330066;
}
div#SectionMenu a:link.minus,
div#SectionMenu a:visited.minus,
div#SectionMenu a:active.minus,
div#SectionMenu a:hover.minus,
div#SectionMenu a:focus.minus {
	background-image: url(/Images/icon_minus.gif);
	background-repeat: no-repeat;
	background-position: right top;
	color: Gray;
	font-weight: bold;
}

div#SectionMenu a:link.plus,
div#SectionMenu a:visited.plus,
div#SectionMenu a:active.plus,
div#SectionMenu a:hover.plus,
div#SectionMenu a:focus.plus {
	/*background-image: url(/Images/icon_plus.gif);*/
	background-repeat: no-repeat;
	background-position: right top;
}


div#SectionMenu li a:link.back,
div#SectionMenu li a:visited.back,
div#SectionMenu li a:active.back,
div#SectionMenu li a:hover.back,
div#SectionMenu li a:focus.back {
	font-weight: bold;
	background-image: url(/Images/icon_goright.gif);
	background-repeat: no-repeat;
	background-position: right;
	display: block;
}

#PrintArea
{
	font-size : 0.85em;
}
#PrintArea td
{
	font-size : 0.70em;
}

/* ===============================================================*/
/* END STRUCTURE RELEVANT STYLES								*/
/* ===============================================================*/
/* ===============================================================*/
/* START CONTENT RELEVANT STYLES								*/
/* ===============================================================*/
div.pageTemplate
{
	direction: rtl;
}
div.Pager  {
	float: right;
}

table.po
{
	font-size: 1.0em;
}

table.bc td .Separator
{
	font-size : 1em;
}

table.MainContent td, table.MainContent th
{
	font-size: 0.8em;
}
table.PrintContent td, table.PrintContent th
{
	font-size: 0.8em;
}
table.mainPageModule th
{
	font-weight: bold;
    font-size: 15px;
    font-family: 'Times New Roman' , Arial, Verdana;
	
	text-align: right;
	
	margin-right: 5px;
	padding-right:5;
}
table.Normal th
{
	font-size : 0.85em;
	text-align:right;
}
table.Normal td
{
	font-size : 0.7em;
}
table.Modules th
{
	font-size : 0.85em;
	text-align:right;
}
table.Modules td
{
	font-size : 0.7em;
}
table.RELinksModules th
{
	font-size : 0.85em;
	text-align:right;
}
table.RELinksModules td
{
	font-size : 0.7em;
}
table.Normal2 th
{
	font-size : 0.85em;
	text-align:right;
}
table.Normal2 td
{
	font-size : 0.7em;
}
td.ModuleFooter
{
	font-size: 0.8em;
	text-align:Left;
}
.footer
{
	font-size: 11px;
}
.Header-Logo
{	
	padding-left: 5px;
}
.Header-Top-Links
{
	padding-right: 5px;
}
table.tableblue td
{
	font-size: 11px;
}

.SiteMap ul
{
	margin-top: 0.1em;
	margin-right: 0.1em;
	padding-bottom: 0.4em;
}

.SiteMapLevel2 li
{
	font-weight: bold;
	list-style-type: none;
}
.SiteMapLevel3 li
{
	margin-right: 0.0em;
	list-style-type: none;
}
.SiteMapLevel4 li
{
	padding-right: 0px;
	margin-right: 2em;
	list-style-type: disc;
}
.SiteMapLevel5 li
{
	margin-right: 3em;
	list-style-type: circle;
}
.SiteMapLevel6 li
{
	margin-right: 4em;
	list-style-type: square;
}
.SiteMapLevel7 li
{
	list-style-image: url(/Images/bullet_level7.gif);
	margin-right: 5em;
}
.Textbox
{
	font-family: Tahoma , Arial, Helvetica, sans-serif;
	font-size : 1.0em;
}
.TextArea
{
	font-family: Tahoma , Arial, Helvetica, sans-serif;
	font-size : 1.0em;
}
.QuickSearchTextbox
{
	font-family: Tahoma , Arial, Helvetica, sans-serif;
	font-size : 1.0em;
}
.CBImage
{
    margin: 5px;
    border: solid 1px #000000;
}

.Titr1
{
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Times New Roman' , Arial, Verdana;
    display: block;
    margin-top: 5px;    
    margin-bottom: 5px;
}
.Content-Module-Titr
{
    font-weight: bold;
    font-size: 15px;
    font-family: 'Times New Roman' , Arial, Verdana;
	
	text-align: right;
	
	margin-right: 5px;
	padding-right:5;
}
.Titr2
{
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Times New Roman' , Arial, Verdana;
    margin-top: 5px;
    display: block;
}

.Titr3
{
	font-size : 1em;
}

.SecTitle
{
	padding:2px 10px 4px 10px;
	font-family: Arial, Tahoma, Helvetica, sans-serif; 
	font-weight: bold; 
	font-size : 1.3em;
}
.inlinetext
{
	padding-right: 5px;
	padding-left: 7px;
	font-weight: bold;
	float: left;
	padding-bottom: 8px;
	width: 200px;
	margin-right: 4px;
	padding-top: 5px;
	background-color: #e3edf7;
}
.euro
{
	background-position: right top;
	background-image: url(/Images/EuroSign.gif);
	background-repeat: no-repeat;
	padding-right: 15px !important;
	margin-right: 15px;
}
.HeadlineImage
{
    float: left;
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid;
}
.CaptchaTextBox
{
	font-family: Tahoma , Arial, Helvetica, sans-serif;
	font-size : 1.1em;
	direction:ltr;
}


/* ===============================================================*/
/* END CONTENT RELEVANT STYLES								*/
/* ===============================================================*/

ul.AspNet-Menu 
{
    position: relative;
}


ul.AspNet-Menu, 
ul.AspNet-Menu ul
{
    margin: 0;
    padding: 0;
    display: block;

}

ul.AspNet-Menu li
{
    position: relative;
    list-style: none;
}

ul.AspNet-Menu li a,
ul.AspNet-Menu li span
{
    display: block;
    text-decoration: none;
}

ul.AspNet-Menu ul
{
    position: absolute;
    display: none;    
}

ul.AspNet-Menu li:hover ul ul,
ul.AspNet-Menu li:hover ul ul ul,
ul.AspNet-Menu li.AspNet-Menu-Hover ul ul,
ul.AspNet-Menu li.AspNet-Menu-Hover ul ul ul
{
    display: none;
}

ul.AspNet-Menu li:hover ul,
ul.AspNet-Menu li li:hover ul,
ul.AspNet-Menu li li li:hover ul,
ul.AspNet-Menu li.AspNet-Menu-Hover ul,
ul.AspNet-Menu li li.AspNet-Menu-Hover ul,
ul.AspNet-Menu li li li.AspNet-Menu-Hover ul
{
    display: block;
}


.AspNet-Menu-Horizontal ul.AspNet-Menu li
{
    /*float: left;*/
    float: right;
}

.AspNet-Menu-Horizontal ul.AspNet-Menu li li
{
    float: none;
}
/*
.CBIFriendlyMenu .AspNet-Menu-Vertical
{
    position:relative;
    top: 30px;
    left: 0;
    z-index: 300;
}
*/
.CBIFriendlyMenu ul.AspNet-Menu, 
.CBIFriendlyMenu ul.AspNet-Menu ul
{
    width: 150px;
    font-family: Tahoma;
    font-size: 8pt;
}

.CBIFriendlyMenu ul.AspNet-Menu ul
{
    left: 148px;
    top: 3px;
    background:#E1ECF7;
}

.CBIFriendlyMenu ul.AspNet-Menu li
{
    /*margin:0 2px 2px 0;*/
}

.CBIFriendlyMenu ul.AspNet-Menu li a, .CBIFriendlyMenu ul.AspNet-Menu li span
{
	color: black;
	border-top: #e7e7e7 0px solid;
	border-right: #d2d2d2 0px solid;
	border-bottom: #d2d2d2 0px solid;
	border-left: #d2d2d2 1px solid;
	
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.CBIFriendlyMenu ul.AspNet-Menu li.AspNet-Menu-Leaf a,
.CBIFriendlyMenu ul.AspNet-Menu li.AspNet-Menu-Leaf span
{
    background-image: none;
}

.CBIFriendlyMenu ul.AspNet-Menu li a img
{
    border-style: none;
    vertical-align: middle;
}

.CBIFriendlyMenu ul.AspNet-Menu li:hover, 
.CBIFriendlyMenu ul.AspNet-Menu li.AspNet-Menu-Hover
{
    background:#FFC125;
    text-decoration: none;
}

.CBIFriendlyMenu ul.AspNet-Menu li a:hover,
.CBIFriendlyMenu ul.AspNet-Menu li span.Asp-Menu-Hover
{
    color:#000;
    text-decoration: none;
}

.CBIFriendlyMenu ul.AspNet-Menu li.AspNet-Menu-Leaf a:hover
{
    background-image: none;
}

.CBIFriendlyMenu .AspNet-Menu-Horizontal
{
    width:100%;
    height:22px;
    background: url(../../../images/menu.gif) repeat-x;
}

.CBIFriendlyMenu .AspNet-Menu-Horizontal ul.AspNet-Menu
{
    width:100%;
    direction:rtl;
}

.CBIFriendlyMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul
{
    width: 150px;
    /*left: -3px;*/
    right: 3px;
    top: 1.8em;

	border-top: #d2d2d2 1px solid;
	border-right: #d2d2d2 1px solid;
	border-bottom: #d2d2d2 1px solid;
	border-left: #d2d2d2 1px solid; 


}

/* Main Manu Items */
.CBIFriendlyMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li
{
    /*text-align:left;*/
    text-align:right;
}

/* Sub Manu Items */
.CBIFriendlyMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li li
{
    /*text-align:left;*/
    text-align:right;
}

/* Sub Manu Box */
.CBIFriendlyMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul li
{
    width:150px;
	border-top: #d2d2d2 0px solid;
	border-right: #d2d2d2 0px solid;
	border-bottom: #d2d2d2 1px solid;
	border-left: #d2d2d2 0px solid; 
}

.CBIFriendlyMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li ul li ul
{
	margin: -1.8em 0 0 146px;
}

a.Button:link,
a.Button:visited {
	float: center;
	padding: 2px 8px;
	background: #6B86B3;
	border: 1px solid #333333;
	/*text-transform: uppercase;*/
	margin-right: 8px;
	color: #FFFFFF;
	font-size: 1.1em;
	font-weight:normal;
	/*width: 150px;*/
	text-align: center;
}

a.Button:hover {
	color: #CC0066;
	text-decoration: underline;
	background: #FFFFFF;
}

/* RelatedLink Table added by naderi on 06/21/2010 */
table.RelatedLink
{
    border: solid 1px #cccccc;
	border-collapse:collapse;
	
}

table.RelatedLink td
{
    padding: 5px 4px 2px 2px;
	font-size:11px;
}

table.RelatedLink td a
{
    font-weight:bold;
}

table.RelatedLink th
{
    padding: 4px 4px 6px 4px;
    font-weight: bold;
    background: #C0C4CB;
    color: #F8F8FF;
    font-size: 11px;
}

table.RelatedLink tr
{
	color: inherit;
	background: #ffffff;
}

table.RelatedLink td.Separator
{
    border-bottom:dashed 1px #cccccc;
    padding:0 0 0 0;
}
/* End of RelatedLink Table */
.Content
{
    font-size:13px;
}
.Content td
{
    font-size:13px !important;
}
.ContentDate
{
    font-size:12px !important;
}

.table_padding5, .table_padding5 td 
{
    padding:5px;
}

.SuccessfulMessage
{
    color:#1e8f11; 
    font-weight:bold;
}

.darkRed{
    color:#d00000;
}