/* ===============================================================*/
/* START COMMON STYLES											  */
/* ===============================================================*/
html body
{
	line-height: 160%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-image: url(../../images/bkg.gif);
}

a:link, a:visited
{
	color: #5304A3;
	text-decoration: none;
}
a:hover 
{ 
	
	text-decoration: none;
}
h1
{
	margin-bottom: 1.6em;
	color: #104e8b;
}

h2
{
	margin-bottom: 1.2em;
	margin-top: 2em;
}

h3
{
	margin-bottom: 0.1em;
	margin-top: 1.2em;
}

P
{
	margin-top: 0.5em;
	margin-bottom: 1em;
	line-height: 160%;
}
ul
{
	padding-left: 0px;
	margin-top: 1.0em;
	margin-bottom: 1.0em;
	line-height: 1.5em;
}
li
{
	line-height: 1.5em;
}
hr
{
	height				: 1px;
	border				: 0px solid #C6CBCE;
	background-color 	: #C6CBCE;
	color 				: #C6CBCE;
	margin				: 1px 0px 1px 0px;
}
/* ===============================================================*/
/* END COMMON STYLES											*/
/* ===============================================================*/

/* ===============================================================*/
/* START STRUCTURE RELEVANT STYLES								*/
/* ===============================================================*/

#mainbody { background-color:#ffffff;}
div#footer 
{
	padding-top:5;	
	/*padding-bottom:5;	*/
}
/* main menu */
.Pad-Bottom
{	
	padding-bottom:5;
}

.nav
{
	height: 10;
	border-color: #F3F6FA;
	text-align: center;
	font-size: 0.7em;
	background: url(   '/images/menu.gif' );
	background-repeat: repeat-x;
}
.nav a
{
	color: #FFFFFF;
	height:24;
	text-decoration: none; 
	display: block; 
	padding-left:7px; 
	padding-right:7px; 
	padding-top:5px;
}
.nav a:link, .nav a:visited { color: #FFFFFF;	text-decoration: none; }
.nav a:hover
{
	background: url(/images/menu-hover.gif);
	border-color: #F3F6FA;
	color: #5304A3;
	height: 24;
	text-decoration: none;
	display: block;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	background-repeat: repeat-x;
}

/* Search */
div#Search
{
}

div#Search ul
{
	margin-top: 0.1em;
	padding-bottom: 0.4em;
}
div#Search li
{
	padding-top: 0.3em;
	padding-bottom: 1.0em;
	margin-left: 0.4em;
}
div#Search .link
{
	color: gray;
}

div#Search .info
{
	color: green;
}
/* ===============================================================*/
/* END STRUCTURE RELEVANT STYLES								*/
/* ===============================================================*/

/* ===============================================================*/
/* START CONTENT RELEVANT STYLES								*/
/* ===============================================================*/
.RTL
{
	direction : rtl;
}
.LTR
{
	direction : ltr;
}
div#SectionMenu
{	
	width: 153;
	
}
table.SectionMenu-pad 
{
	text-align:center;
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: #C1BEF5;
	width: 175;
	background-color: #FFFFFF;
	
	padding-bottom: 10;
}
table.SectionMenu-pad td
{
	
	padding-right: 10;
	padding-left: 10;
	
}
table.LeftMenu td a:link, table.LeftMenu td a:visited
{
	text-decoration: none;
	color: #5304A3;
}
table.LeftMenu td a:hover
{
	text-decoration: none;
	color: #0000CD;
}
.BodySection
{
	 padding-top:5; 
	 background-color:#F3F6FA;
}
table.PrintContent
{
	background-color: #FFFFFF;
}
table.PrintContent td a:link, table.PrintContent td a:visited
{
	text-decoration: none;
}
table.PrintContent td a:hover 
{ 
	text-decoration: underline;
}
table.MainContent td a:link, table.MainContent td a:visited
{
	text-decoration: none;
}
table.MainContent td a:hover 
{ 
	text-decoration: underline;
}
.CenterSection
{
	background-color: #FFFFFF;
}
.CenterBkg
{
	background-color:#FFFFFF
}
table.footer
{	
	background-color: #A2B5CD;	
}
table.footer td
{
	padding-bottom: 0;	
	padding-top:0;
}
table.footer td a:hover
{	
	text-decoration: underline;
}
table.footer a:link, table.footer a:visited
{
	color: #5304A3;
	text-decoration: none;
}
.VerticalBlueLineLeft
{
	background-image: url(/Images/VerticalBlueLineLeft.gif);
	background-repeat: repeat;
}
.VerticalBlueLineRight
{
	background-image: url(/Images/VerticalBlueLineRight.gif);
	background-repeat: repeat;
}
/* logo */
.Header-Logo
{
	width:775;
	vertical-align:middle;	
	padding-bottom:5;	
}
/*Header-Top-Links*/
.Header-Top-Links
{
	width:185;
	vertical-align:middle;
	padding-bottom:5;
	height:127;
}
/* tableblue */
table.tableblue
{
	height: 127;
	width: 175;
	/* background-color: #A2B5CD; */
	background-color: #94b6d9;
}
table.tableblue td
{
	color: #f8f8ff;	
}
table.tableblue td a:hover
{
	text-decoration: underline;
}
.Titr2 :link, :visited
{
	color: #FF00FF;
}
/* Header-Search */
table.Header-Search
{
	
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
}
table.Header-Search 
{
	color: #000000;
	padding-left:1;
	padding-right:1;
}
table.Header-Search a:link, table.Header-Search a:visited
{
	color: #5304A3;
	text-decoration: none;
}
/* Header-Links */
td.Header-Links
{
	color: #f8f8ff;
	height: 17;
	
}
td.Header-Links a:link, td.Header-Links a:visited
{
	color: #f8f8ff;
	text-decoration: none;
}
/* Header-LanguageLink */
td.Header-LanguageLink
{
	color: #000000;
}
td.Header-LanguageLink A:link, td.Header-LanguageLink a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}
/* START pageTemplate   */
div.pageTemplate
{
	padding: 10 10 10 10;
	width: 980px;
	display: inline-table;
}
div.pageTemplate2
{
	padding: 10;
	background-color: #F3F6FA;
	height: 100%
}
/* START BREADCRUMP   */

table.bc
{
	padding: 10;
	height: 22;
	font-size: 0.70em;
	background-image: url(/images/bg-bc.gif);
	padding-bottom: 0px;
	padding-top: 0px;
	white-space: nowrap;
	border-collapse: collapse;
	background-color: #F3F6FA;
	display:inline-table;
}
table.bc td
{
	color: #333;
}
table.bc td a:link, table.bc td a:visited
{
	color: #5304A3
	
}
table.bc td a:hover
{	
	text-decoration: underline;
}
/*mainPageModule*/
table.mainPageModule
{
	background-image: url(/images/mainPageModulebg.gif);
	height: 159px
}
table.mainPageBanner
{
	padding-bottom: 0px;
	
}

/*Mainpage-Left-Pane*/

table.Mainpage-Left-Pane td
{
	padding-bottom:8;
}
table.Left-Right-Pane td
{
	padding-bottom:5;
}
/*More*/
td.MoreTreasury
{
	background-color:White; border: 1px solid #7E97B7;
}
td.MoreTreasury a:link, td.MoreTreasury a:visited
{
	
	
}
td.MoreTreasury a:hover
{
	
	text-decoration: underline;
}
td.MoreTd
{
	 padding-left: 5px; 
	 padding-right: 5px;
	 padding-top:8px;
	 vertical-align: top;
}
td.MoreTd a:link, td.MoreTd a:visited
{
		
}
td.MoreTd a:hover
{
	text-decoration: underline;
}
/* END BREADCRUMP   */

table.headline td
{
	line-height: 1.3em;
}
/* START PAGE OPTIONS */
table.po
{
	white-space: nowrap;
	border-collapse: collapse;
}
table.po td a:link, table.po td a:visited
{
	text-decoration: none;
}
table.po td a:hover
{
	text-decoration: underline;
}

/* END PAGE OPTIONS */

/* Search Textbox */
.QuickSearchTextbox
{
	padding-bottom: 2px;
	width: 151px;
	color: #000000;
	padding-top: 2px;
	border-bottom: #104e8b 1px solid;
	height: 18px;
	background-color: #FFFFFF;
	border: 1px solid #7E97B7;
}

.SearchResult
{
	padding-right: 5px;
	border-top: #7d9ec0 1px solid;
	padding-left: 5px;
	padding-bottom: 2px;
	margin: 0px 2px;
	padding-top: 2px;
	border-bottom: #7d9ec0 1px solid;
	background-color: #EEF3FA;
	border-top-color: #C1BEF5;
	border-bottom-color: #C1BEF5;
}

/* Pager */
div.Pager  {
	padding-bottom: 4px;
	margin-bottom: 8px;
}

div.Pager div {
	float: left;
	margin: 1px 2px 1px 2px;
}

div.Pager a:link, 
div.Pager a:visited  {
	font-weight: normal;
	padding: 0px 2px 0px 2px;
	margin: 1px 2px 1px 2px;
	float: left;
	display: block;
	clear: none;
}

div.Pager a.Current:link, 
div.Pager a.Current:visited  {
	font-weight: bold;
	border-top: 1px solid #7D9EC0;
	border-bottom: 1px solid #7D9EC0;
	margin: 0px 2px 0px 2px;
	background-color : #f0f8ff;
}

br.Clear {
	clear: both;
}

/* Normal2 Table */
table.Normal2
{
	border: 1px solid #9BAFC8;
	background-color: #FFFFFF;
}

table.Normal2 td
{
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	display:table-cell
}
table.Normal2 tr a:hover
{
	color: #0000CD;
}

table.Normal2 a:Link,table.Normal2 a:visited
{
	color: #000000;
}


table.Normal2 td.Header, table.Normal2 tr.Header td
{
	background: #104e8b;
	color: #F8F8FF;
}
table.Normal2 tr.NewsAlter
{
	background-color: #F0E8EB;	
}
table.Normal2 tr.NewsAlter a:hover
{
	text-decoration: underline;
}
table.Normal2 tr.NewsItem a:hover
{
	text-decoration: underline;
}
table.Normal2 tr.ExRate-TR
{
	background-image: url(/images/rate-bkg.gif);
	height:22;
}
table.Normal2 tr.Footer
{
	background-image: url(/images/ModuleFooter.gif);
	height: 22;
	color: #FFFFFF;
	font-weight: bold;
}
table.Normal2 tr.Selected
{
	color: inherit;
	background: #ffffcc;
}
table.Normal2 th  
{
	font-family: Arial, Tahoma, Helvetica, sans-serif; 
	font-weight: bold; 
	font-size : 0.8em;
	background-image: url(/images/ModuleHeader.gif); 
	height:22; 
	color: #FFFFFF;
}
table.Normal2 th.Farsi  
{	
	text-align:right;
}


/* Normal Table */
table.Normal
{
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #9BAFC8;
	background-color: #FFFFFF;
}
table.Normal p
{
	margin-top: 0em;
	margin-bottom: 0em;
	line-height: 1.5em;
}
table.Normal td, table.Normal th, table.Normal caption
{
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #9BAFC8;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #9BAFC8;
}
table.Normal tr
{
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}
table.Normal tr a:hover
{
	
}

table.Normal a:Link,table.Normal a:visited
{
	
}


table.Normal td.Header, table.Normal tr.Header td
{
	background: #104e8b;
	color: #F8F8FF;
}
table.Normal tr.NewsAlter
{
	background-color: #F0E8EB;	
}
table.Normal tr.NewsAlter a:hover
{
	text-decoration: underline;
}
table.Normal tr.NewsItem a:hover
{
	text-decoration: underline;
}
table.Normal tr.ExRate-TR
{
	background-image: url(/images/rate-bkg.gif);
	height:22;
}
table.Normal tr.Footer
{
	background-image: url(/images/ModuleFooter.gif);
	height: 22;
	color: #FFFFFF;
	font-weight: bold;
}

table.Normal tr.Selected
{
	color: inherit;
	background: #ffffcc;
}

table.Normal td.Farsi {
	text-align: right;
	direction : rtl;
}
table.Normal td.English {
	text-align: left;
	direction : ltr;
}
table.Normal th  
{
	font-family: Arial, Tahoma, Helvetica, sans-serif; 
	font-weight: bold; 
	font-size : 0.8em;
	background-image: url(/images/ModuleHeader.gif); 
	height:22; 
	color: #FFFFFF;
}
table.Normal th.Farsi  
{	
	text-align:right;
}


/* Normal Table */
/* Modules Table */
table.Modules
{
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-color: #9BAFC8;
	background-color: #FFFFFF;
}
table.Modules p
{
	margin-top: 0em;
	margin-bottom: 0em;
	line-height: 1.5em;
}
table.Modules td, table.Modules th, table.Modules caption
{
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #9BAFC8;
}
table.Modules tr
{
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}
table.Modules tr a:hover
{
	
}

table.Modules a:Link,table.Modules a:visited
{
	
}


table.Modules td.Header, table.Modules tr.Header td
{
	background: #104e8b;
	color: #F8F8FF;
}
table.Modules tr.NewsAlter
{
	background-color: #F0E8EB;	
}
table.Modules tr.NewsAlter a:hover
{
	text-decoration: underline;
}
table.Modules tr.NewsItem a:hover
{
	text-decoration: underline;
}
table.Modules tr.ExRate-TR
{
	background-image: url(/images/rate-bkg.gif);
	height:22;
}
table.Modules tr.Footer
{
	background-image: url(/images/ModuleFooter.gif);
	height: 22;
	color: #FFFFFF;
	font-weight: bold;
}

table.Modules tr.Selected
{
	color: inherit;
	background: #ffffcc;
}

table.Modules td.Farsi {
	text-align: right;
	direction : rtl;
}
table.Modules td.English {
	text-align: left;
	direction : ltr;
}
table.Modules th  
{
	font-family: Arial, Tahoma, Helvetica, sans-serif; 
	font-weight: bold; 
	font-size : 0.8em;
	background-image: url(/images/ModuleHeader.gif); 
	height:22; 
	color: #FFFFFF;
}
table.Modules th.Farsi  
{	
	text-align:right;
}


/* Modules Table */
/* RELinksModules Table */
table.RELinksModules
{
	border: 1px dashed #C1BEF5;
	background-color: #FFFFFF;
}
table.RELinksModules p
{
	margin-top: 0em;
	margin-bottom: 0em;
	line-height: 1.5em;
}
table.RELinksModules td, table.RELinksModules th, table.RELinksModules caption
{
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 12px;
}
table.RELinksModules tr
{
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}
table.RELinksModules tr a:hover
{
	
}

table.RELinksModules a:Link,table.RELinksModules a:visited
{
	
}


table.RELinksModules td.Header, table.RELinksModules tr.Header td
{	
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
}
table.RELinksModules tr.NewsAlter
{
	background-color: #F0E8EB;	
}
table.RELinksModules tr.NewsAlter a:hover
{
	text-decoration: underline;
}
table.RELinksModules tr.NewsItem a:hover
{
	text-decoration: underline;
}
table.RELinksModules tr.ExRate-TR
{
	background-image: url(/images/rate-bkg.gif);
	height:22;
}
table.RELinksModules tr.Footer
{
	background-image: url(/images/ModuleFooter.gif);
	height: 22;
	color: #FFFFFF;
	font-weight: bold;
}

table.RELinksModules tr.Selected
{
	color: inherit;
	background: #ffffcc;
}

table.RELinksModules td.Farsi {
	text-align: right;
	direction : rtl;
}
table.RELinksModules td.English {
	text-align: left;
	direction : ltr;
}
table.RELinksModules th
{
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	height: 22;
	color: #000000;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #C0C0C0;
}
table.RELinksModules th.Farsi  
{	
	text-align:right;
}


/* RELinksModules Table */

td.ModuleFooter
{
	color: #000000;
	background-image: url(/images/ModuleFooter.gif);
	height: 22;
	color: #FFFFFF;
}
td.ModuleFooter a:link, td.ModuleFooter a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}

.textGray
{
	color: gray;
}
.textRed
{
	color: #A33D62;
}

.SecTitle
{
	border-right: #a1a5a9 1px solid;
	border-top: #a1a5a9 1px solid;
	font-weight: bold;
	background-image: url(/images/Highlights.gif);
	margin: 0px 0px 10px;
	border-left: #a1a5a9 1px solid;
	border-bottom: #a1a5a9 1px solid;
	white-space: nowrap;
	color: #FFFFFF;
}
td.Highlights-Link
{
}
td.Highlights-Link a:link, td.Highlights-Link a:visited
{
	
	text-decoration: none;
}
td.Highlights-Link a:hover
{
	
}

/* RSS Feed Button */
A.RSSButton
{
	border-right: #7d3302 1px solid;
	padding-right: 3px;
	border-top: #ffc8a4 1px solid;
	padding-left: 3px;
	padding-bottom: 0px;
	margin: 0px;
	font: bold 10px verdana,sans-serif;
	vertical-align: middle;
	border-left: #ff9a57 1px solid;
	color: #ffffff;
	padding-top: 0px;
	border-bottom: #3f1a01 1px solid;
	background-color: #ff6600;
	text-decoration: none;
}
A.RSSButton:active
{
}
A.RSSButton:hover
{
}
A.RSSButton:link
{
    color:#FFFFFF; 
}
A.RSSButton:visited
{
    color:#FFFFFF; 
}

.NewsSubTitle
{
	color: gray;
}
.CurrencyHeader td
{
	font-weight: bold;
	background-color: #C7C8DD;
}
.CurrencySummary td
{
	background-color: #E8E8F5;
}

/* ===============================================================*/
/* END CONTENT RELEVANT STYLES								*/
/* ===============================================================*/

/* ===============================================================*/
/* START COLOR SETTINGS											*/
/* ===============================================================*/
h1.cbi0
{
	color: #566A82;
	margin-bottom: 15px;
	margin-top: 10px;
}
h1.cbi0MainPage
{
	color: #566A82;
	margin-bottom: 0;
	margin-top: 0;
}
/* ===============================================================*/
/* END COLOR SETTINGS											*/
/* ===============================================================*/

/* ===============================================================*/
/* IBAN Module Styles											*/
/* ===============================================================*/
.IBANResult
{
    text-align:center;
    font-size:medium;
}
.DivIBANResult
{
    color:Purple; 
    font-weight:bold;
}

table.Modules td.NewsItem
{
     height: 49px;	
}

.Mainpage-Right-Pane-td
{
    padding-bottom:6px;
}

/* ===============================================================*/
/* Hit Counter Styles											*/
/* ===============================================================*/
table.hitcounter
{
    font-weight: bold;
    color: #333333;
    cursor: pointer;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #9BAFC8;
    background-color: #A2B5CD;
}
table.hitcounter td
{
	font-size : 0.7em;
}
.footerMenu
{
     line-height:20px; 
     padding:0 0 0 0;
}
table.Normal3
{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #9BAFC8;
    background-color: #CEE7FF;
}
table.hitcounter td, table.hitcounter th, table.hitcounter caption
{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #C0CDDC;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

table.Links td{
    vertical-align:top;
}

table.Links div ul li
{
    list-style-type:none;
}

table.Links div ul li li
{
    list-style-type:circle;
}