/*
	jQuery Coda-Slider v2.0 - http://www.ndoherty.biz/coda-slider
	Copyright (c) 2009 Niall Doherty
	This plugin available for use in all personal or commercial projects under both MIT and GPL licenses.
*/

/* Insignificant stuff, for demo purposes */

	body { padding: 20px }
	.panel h2.title { margin-bottom: 10px }
	noscript div { background: #ccc; border: 1px solid #900; margin: 20px 0; padding: 15px }

/* Most common stuff you'll need to change */

	/**.coda-slider-wrapper { padding: 0 0 }**/
	.coda-slider
{
    background: #E4EBFC; /*background: #e7edfc*/
}
	
	/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
	.coda-slider-no-js .coda-slider { height: 200px; overflow: auto !important; padding-right: 20px }
	
	/* Change the width of the entire slider (without dynamic arrows) */
	.coda-slider, .coda-slider .panel { width: 513px } 
	
	/* Change margin and width of the slider (with dynamic arrows) */
	.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width: 513px }
	/**.coda-slider-wrapper.arrows .coda-slider { margin: 0 0px }**/
	
	/* Arrow styling */
	.coda-nav-left a, .coda-nav-right a { background: #000; color: #fff; padding: 5px; width: 100px }
	
	/* Tab nav */
	.coda-nav ul li a.current div{ background-color: #515f70; color: #FFFFFF;}
	/*.coda-nav ul li a.current {background: transparent url(/Images/uparrow.png) top center no-repeat;}*/
	/* Panel padding */
	/*.coda-slider .panel-wrapper { padding: 5px }*/
	
	/* Preloader */
	.coda-slider p.loading { padding: 20px; text-align: center }

/* Don't change anything below here unless you know what you're doing */

	/* Tabbed nav */
	.coda-nav { clear: both; padding:0px 0px 0px 0px;}
	.coda-nav ul { display: block; margin: auto 0 0 0; overflow: hidden; padding:0 0 0 0; position: relative;}
	.coda-nav ul li { display: inline; }
	.coda-nav ul li a{ text-decoration:none;}
	.coda-nav ul li a div{ background: #E4EBFC; color: #333333; display: block; /*float: left;*/ text-align: center; overflow:hidden;}
    .coda-nav ul li a:hover {text-decoration:none;}
    .coda-nav ul li a:hover div {background: #97B9FF; cursor:pointer;}
	.coda-nav-list { overflow:hidden; margin-top: -12px; position:relative; z-index:99999;}
	
	/* Miscellaneous */
	.coda-slider-wrapper
{
    clear: both; /*overflow: auto*/
}
	.coda-slider
{
    /*float: left;*/
    overflow: hidden;
    position: relative;
    background: #ffffff;
}
	.coda-slider .panel { display: block; /*float: left*/  overflow:hidden; padding:0px;}
	.coda-slider .panel div {padding:0px;}
	.coda-slider .panel-container { position: relative; }
	.coda-nav-left { float: left }
	.coda-nav-right { float: right }
	.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none }
	.floatLeft, .floatLeft .panel, .floatLeft ul li a { float:left}
	.floatRight, .floatRight .panel, .floatRight ul li a { float: right}
	
	/*#page-wrap 									{ width: 500px; margin: 0px auto; position: relative; top: 40px; left: 30px; background: url(images/bg.png) top center; height:400px;}*/
    #page-wrap
    {
        border: 0px solid #808080;
        position: relative;
        width: 513px;
    } 
    .stripViewer								{ position: relative; overflow: hidden; width: 513px; height: 300px;}
    .slider-wrap								{ width: 513px; position:relative;}
    .nav-buttons-panel	{float:right; width:100%; background: url(images/transpBlack.png); position: relative; margin-top: -40px; z-index: 9999;}
    .nav-buttons-panel	div						{   padding: 5px; height: 20px; color: white;}
    .cross-link									{ display: block; position: relative; padding:12px 0px 0px 0px; z-index: 9999;}
    .cross-link	div { padding:0px 0px 0px 0px;}
    .cross-link	div div{ padding:3px 1px 3px 1px; line-height: 1.3em;}
    .link div
    {
       /*background-color: #F2F0D9; */
       background-color: #E4EBFC;
       height:66px;
       width:19px;
    }
    .link div:hover { cursor: pointer; background-color:#97B9FF;}
    .link div div img { margin: 18px 1px 0 1px}
    .imgnav:hover { cursor: pointer; }
    .slidefooter { background-color: #E4EBFC; text-align:center;}
    .slidefooter div{ display:inline;}
    div.sliderBody {border:1px solid #9BAFC8; margin: 0 5px 5px 5px;}
    div.pageNavigator {border-bottom:1px solid #9BAFC8; border-top:1px solid #9BAFC8;}
    div.coda-nav-subContainer {float:right;display:inline; border-bottom: 1px solid #9BAFC8; border-top:1px solid #9BAFC8; background: #E4EBFC; z-index:9999; position:relative;}