div.toolbox_v2 {
	clear: both;
	height: 40px;
	_height:45px;
	/* padding-left: 5px; */
	margin: 0 0 6px 0;
	width: 940px;
	overflow: hidden;
/*	margin-top: -8px;*/
}
div.toolbox_v2 ul.nav {
	padding: 8px 8px 2px;
	height: 35px;
	display: block;
	float: left;
}
div.toolbox_v2 ul.interna {
/*	border-left: 1px solid #CCC;*/
}
div.toolbox_v2 ul.externa {
	border: 1px solid #CCC;
	background: #EEE url(../img/toolbox-externa_bg.png) repeat-x;
	float: right;
}
div.toolbox_v2 ul.nav li {
	float: left;
	font-size: 1.1em;
}
div.toolbox_v2 ul.nav li a {
	display: block;
	padding: 0 11px 0 20px;
	background: url(../img/ico/default.png) no-repeat left center;
	line-height: 20px;
	text-decoration: none;
	color: #999;
}
div.toolbox_v2 ul.externa li a {
	color: #666;
	/* line-height: 30px; */
}
div.toolbox_v2 ul.nav li a.print {
	display: none;
	cursor: pointer;
}
div.toolbox_v2 ul.nav li a.mail		{ background-image: url(../img/ico/mail.png); }
div.toolbox_v2 ul.nav li a.print		{ background-image: url(../img/ico/print.png); }
div.toolbox_v2 ul.nav li a.error 		{ background-image: url(../img/ico/error.png); }
div.toolbox_v2 ul.nav li a.newsletter 	{ background-image: url(../img/ico/newsletter.png); }
div.toolbox_v2 ul.nav li a.rss		 	{ background-image: url(../img/ico/rss_color.png); }
div.toolbox_v2 ul.nav li a.contraste	{ background-image: url(../img/ico/contraste.png); cursor: pointer; }
div.toolbox_v2 ul.nav li a.mapa 		{ background-image: url(../img/ico/sitemap.png); }
div.toolbox_v2 ul.nav li a.fale 		{ background-image: url(../img/ico/fale.png); }
div.toolbox_v2 ul.nav li a.social		{ background-image: url(../img/ico/share.png); }
div.toolbox_v2 ul.nav li a.facebook		{ background-image: url(../img/ico/facebook.png); }
div.toolbox_v2 ul.nav li a.youtube		{ background-image: url(../img/ico/youtube.png); }
div.toolbox_v2 ul.nav li a.twitter		{ background-image: url(../img/ico/twitter.png); }
div.toolbox_v2 ul.nav li a.flickr		{ background-image: url(../img/ico/flickr.png); }
div.toolbox_v2 ul.nav li a.orkut			{ background-image: url(../img/ico/orkut.png); display: none;}
div.toolbox_v2 ul.nav li a.slideshare	{ background-image: url(../img/ico/slideshare.png); display: none;}
div.toolbox_v2 ul.nav li a.formspring	{ background-image: url(../img/ico/formspring.png); }

/* Tamanho da Letra */
div.toolbox_v2 ul.nav li.item02	{ margin: 0 18px 0 0; line-height: 20px; color: #999; }
div.toolbox_v2 ul.nav li.item02 a	{
	display: block;
	width: 22px;
	overflow: hiddden;
	text-indent: -9999px;
	float: left;
	padding:0 0 0 0;
	cursor: pointer;
}
div.toolbox_v2 ul.nav li.item02 a.decrease	{ background-image: url(../img/ico/fontsize_decrease.png);	 }
div.toolbox_v2 ul.nav li.item02 a.increase	{ background-image: url(../img/ico/fontsize_increase.png);	 }

/* Redes Sociais */
div.toolbox_v2 ul.nav li.item06 a {
	padding: 0 11px 10px 21px;
	background-position: 0 2px;
}
div.toolbox_v2 ul.nav li.item06 ul {
	display: none;
	position: absolute;
	background: #666;
	margin-top: -3px;
	margin-left: -10px;
	margin-bottom: 5px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 5px 10px;
	z-index:2;
}
div.toolbox_v2 ul.nav li.item06 ul li a {
	color: #CCC;
	font-size: 0.9em;
	padding: 0 11px 0 20px;
	margin-bottom: 5px;
}
div.toolbox_v2 ul.nav li.item06 ul a:hover {
	text-decoration: underline;
}

/* Mapa do Site */
#navMapa {
	float: right;
	padding-right: 90px;
	padding-top: 20px;
	font-size:11px;
	padding-bottom: 0px;
	line-height: 22px;
}
#navMapa ul.nav li a {
	padding: 0 0 0 20px;
	background: url(../img/ico/sitemap.png) no-repeat left center;
	line-height: 20px;
	text-decoration: none;
	color: #333;
}

#navMapa ul.nav li a:hover {text-decoration:underline;}

#header #navLanguage_v2 {
	float: right;
	padding-right: 7px;
	padding-top: 20px;
	padding-bottom: 0px;
	font-size: 11px;
	text-align: right;
	line-height: 22px;
}
#header #navLanguage_v2 ul li {
	display: inline;
	color: #999;
	border-right: 1px solid #666;
	padding: 0 5px;
}
#header #navLanguage_v2 ul li a {
	color: #333;
	text-decoration: none;
}
#header #navLanguage_v2 ul li a:hover 	{ text-decoration: underline; }
#header #navLanguage_v2 ul li.item03 	{ border-right: none; }



