@-webkit-keyframes fadeOut {
  /* line 4, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  0% {
    opacity: 1; }

  /* line 7, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  99% {
    opacity: 0; }

  /* line 10, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  100% {
    opacity: 0;
    display: none;
    visibility: hidden; } }

@-moz-keyframes fadeOut {
  /* line 4, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  0% {
    opacity: 1; }

  /* line 7, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  99% {
    opacity: 0; }

  /* line 10, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  100% {
    opacity: 0;
    display: none;
    visibility: hidden; } }

@keyframes fadeOut {
  /* line 4, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  0% {
    opacity: 1; }

  /* line 7, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  99% {
    opacity: 0; }

  /* line 10, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  100% {
    opacity: 0;
    display: none;
    visibility: hidden; } }

@-webkit-keyframes fadeIn {
  /* line 19, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  from {
    max-height: initial;
    display: block;
    opacity: 0; }

  /* line 24, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  /* line 19, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  from {
    max-height: initial;
    display: block;
    opacity: 0; }

  /* line 24, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  to {
    opacity: 1; } }

@keyframes fadeIn {
  /* line 19, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  from {
    max-height: initial;
    display: block;
    opacity: 0; }

  /* line 24, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  to {
    opacity: 1; } }

@-webkit-keyframes rotate {
  /* line 30, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  from {
    -webkit-transform: rotate(0); }

  /* line 33, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotate {
  /* line 30, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  from {
    -moz-transform: rotate(0); }

  /* line 33, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  to {
    -moz-transform: rotate(360deg); } }

@keyframes rotate {
  /* line 30, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }

  /* line 33, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes pulse {
  /* line 39, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  from {
    -webkit-transform: scale(1); }

  /* line 42, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  to {
    -webkit-transform: scale(1.05); } }

@-moz-keyframes pulse {
  /* line 39, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  from {
    -moz-transform: scale(1); }

  /* line 42, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  to {
    -moz-transform: scale(1.05); } }

@keyframes pulse {
  /* line 39, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  /* line 42, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  to {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); } }

@-webkit-keyframes leftRight {
  /* line 48, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  from {
    left: -200%; }

  /* line 51, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  to {
    left: 100%; } }

@-moz-keyframes leftRight {
  /* line 48, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  from {
    left: -200%; }

  /* line 51, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  to {
    left: 100%; } }

@keyframes leftRight {
  /* line 48, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  from {
    left: -200%; }

  /* line 51, /Users/bdowling/Work/Find A Grave/static/./compile/scss/partials/keyframes */
  to {
    left: 100%; } }

/* line 55, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
.fade-in {
  -webkit-animation: fadeIn 400ms ease forwards;
  -moz-animation: fadeIn 400ms ease forwards;
  animation: fadeIn 400ms ease forwards; }

/* line 59, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
.fade-out {
  -webkit-animation: fadeOut 400ms ease forwards;
  -moz-animation: fadeOut 400ms ease forwards;
  animation: fadeOut 400ms ease forwards; }

/* line 63, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
.initial {
  border: none;
  max-height: 0;
  overflow: hidden; }

/* line 69, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
iframe {
  border: none;
  overflow: hidden; }

/* line 74, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: none;
  z-index: 100;
  background: #5c60a3;
  /* The Fallback */
  background: rgba(92, 96, 163, 0.95);
  width: 100%;
  margin: 0;
  overflow: hidden; }
  /* line 84, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
  .modal.fade-in, .modal.fade-out {
    display: block;
    visibility: visible; }

/* line 94, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
.modal-inner {
  position: relative;
  height: 100%;
  background-color: white; }

/* line 100, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
.modal-close {
  position: absolute;
  top: 0.625rem;
  left: auto;
  right: 1.5rem;
  z-index: 2; }

/* line 109, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
.full-screen .modal-close, .full-screen .modal, #transcription-index .modal-close {
  top: 7px; }

/* line 114, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
button, .button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: 'SourceSans', sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 0.875rem;
  background-color: #5c60a3;
  border-color: #4a4d82;
  color: #fff;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 0.875rem;
  box-sizing: border-box; }

/* line 145, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
.button, button {
  height: 2rem;
  padding: 0 0.625rem;
  border-radius: 0.25rem;
  background-color: #7d81c8;
  font-size: 1.125rem;
  line-height: 2.0625rem; }
  /* line 152, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
  .button.hide, button.hide {
    display: none; }

/* line 157, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
.hollow-button {
  padding: 0 0.625rem;
  border: 1px solid #FFFFFF;
  border-radius: 0.5rem;
  line-height: 1.875rem;
  background-position: 0.5rem center;
  background-size: remc-calc(18);
  background-repeat: no-repeat;
  cursor: pointer; }
  /* line 166, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
  .hollow-button a {
    color: white; }
    /* line 168, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
    .hollow-button a:hover {
      color: white; }

/* line 174, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
.icon-x {
  padding-right: 8px; }

@media screen and (min-width: 37.5em) {
  /* line 180, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
  body.iframed {
    height: auto; }
  /* line 184, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
  .modal {
    padding: 0; }
    /* line 186, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
    .modal iframe {
      padding-top: 0; }
    /* line 189, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
    .modal:not(.full-screen) {
      padding: 1.5rem 0; }
      /* line 191, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
      .modal:not(.full-screen) iframe {
        padding-top: 1.25rem; }
  /* line 197, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
  .modal-inner {
    width: 90%;
    margin: 0 auto;
    border-radius: 0.5rem;
    background-color: transparent;
    overflow: hidden; }
    /* line 203, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
    .modal-inner header {
      position: absolute;
      top: 0;
      width: 100%;
      height: 3.75rem;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      background-color: white; }
  /* line 214, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
  .modal-close {
    top: 0.9375rem;
    right: 1.125rem; }
  /* line 219, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
  button, .button {
    display: inline-block; } }

@media screen and (min-width: 63.75em) {
  /* line 227, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
  .modal-close {
    right: 3rem; }
  /* line 231, /Users/bdowling/Work/Find A Grave/static/./compile/scss/legacy.scss */
  .modal-inner {
    width: 930px; } }
