A:link {color:#000088;}
A:visited {color:#552255;}
A:hover {color:#006eee;}

.editButton {
	font-size: 11px;
	color: #000088;
}

.editButtonBig {
	font-size: 13px;
	margin: 0px 3px 0px 3px;
	color: #000088;
}

.editButtonBigDisabled {
	font-size: 13px;
	margin: 0px 3px 0px 3px;
	color: #666666;
	text-decoration: underline;
}

.scoamiEditButton {
	font-size: 11px;
	color: #000088;
	background-color: 99ff99;
#	border: 1px solid blue;
#	border: ridge;
	padding: 1px;
}

.fakeLink{
	color:#000088;
	text-decoration: underline;
}

.adminButtons{
	color:#336666;
	font-size: 10px;
}

.adminButtons:hover{
	color:#003333;
	font-size: 10px;
}

ul.faq {
	margin-left: 17px;
	padding-left: 17px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	padding-top: 0px;
}

ul.editTab {
	list-style-type: disc;
	margin-left: 17px;
	padding-left: 17px;
	margin-bottom: 1px;
	padding-bottom: 5px;
	margin-top: 0px;
	padding-top: 0px;
}


.thumb img{
	border: 2px solid #DCD0CF; /* if you change the width or margin here, be sure to change it in pi.pm, too */
	margin: 2px;
}

.thumbSel img{
	border: 2px solid #0000ff;
	margin: 2px;
}

.thumbDel img{
	border: 2px solid red;
	margin: 2px;
}

.thumbPend img{
	border: 2px dotted #ff9999;
	margin: 2px;
}

.thumbSelPend img{
	border: 2px dotted red;
	margin: 2px;
}

.thumbDelSel img{
	border: 2px;
	border-style: solid;
	border-color: red #0000ff red #0000ff;
	margin: 2px;
}


.thumb:hover img{
	border: 2px solid navy;
	margin: 2px;
}

.thumb:hover{
color: red; /* irrelevant definition to overcome IE bug */
}

body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;
color: #000000;
}
td {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;
color: #000000;
}


.minus1 {
font-size: 11px;
}

.NoUnderline12point {
text-decoration: none;
font-size: 12px;
}

.minus2 {
font-size: 10px;
}

.minus3 {
font-size: 9px;
}

.plus1 {
font-size: 14px;
}

.plus2 {
font-size: 20px;
}

.plus3 {
font-size: 22px;
}

td.gr{
	padding:4px;
	background:#DCD0CF;
}

td.mr{
	padding:4px;
	background:#F3E8D6;
}


td.grTabs{
	padding:0px;
	#I think this color is not actually visible...
	background:#DCD0CF;
}

td.mrTabs{
	padding:0px;
	#I think this color is not actually visible...
	background:#F3E8D6;
}

td.grAdBar{
	padding:4px;
	background:#f4dede;
}

#fgTab {
  float:left;
  width:100%;
  background:#DCD0CF url("/icons2/tabs/bg.gif") repeat-x bottom;
  font-size:83%;
  line-height:normal;
  }
#fgTab ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#fgTab li {
  float:left;
  background:url("/icons2/tabs/left_both.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }
#fgTab a {
  float:left;
  display:block;
  width:.1em;
  background:url("/icons2/tabs/right_both.gif") no-repeat right top;
  padding:3px 15px 2px 6px;
  text-decoration:none;
  color:#765;
  }
#fgTab > ul a {width:auto;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#fgTab a {float:none;}
/* End IE5-Mac hack */
#fgTab a:hover {
  color:#333;
  }
#fgTab #current {
  background-position:0 -150px;
  border-width:0;
  }
#fgTab #current a {
  background-position:100% -150px;
  padding-bottom:3px;
  color:#333;
  }
#fgTab li:hover, #fgTab li:hover a {
  background-position:0% -150px;
  color:#333;
  }
#fgTab li:hover a {
  background-position:100% -150px;
  }



#tinybox {position:absolute; display:none; padding:10px; background:#fff url(/icons2/preload.gif) no-repeat 50% 50%; border:10px solid #e3e3e3; z-index:2000}
#tinymask {position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000; z-index:1500}
#tinycontent {background:#fff}





#grTab {
  float:left;
  width:100%;
  background:#DCD0CF url("/icons2/tabs/bg.gif") repeat-x bottom;
  font-size:83%;
  line-height:normal;
  }
#grTab ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#grTab li {
  float:left;
  background:url("/icons2/tabs/left_both.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }
#grTab a {
  float:left;
  display:block;
  width:.1em;
  background:url("/icons2/tabs/right_both.gif") no-repeat right top;
  padding:3px 15px 2px 6px;
  text-decoration:none;
  color:#765;
  }
#grTab > ul a {width:auto;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#grTab a {float:none;}
/* End IE5-Mac hack */
#grTab a:hover {
  color:#333;
  }
#grTab #current {
  background-position:0 -150px;
  border-width:0;
  }
#grTab #current a {
  background-position:100% -150px;
  padding-bottom:3px;
  color:#333;
  }
#grTab li:hover, #grTab li:hover a {
  background-position:0% -150px;
  color:#333;
  }
#grTab li:hover a {
  background-position:100% -150px;
  }






#mrTab {
  float:left;
  width:100%;
  background:#F3E8D6 url("/icons2/tabs/bg.gif") repeat-x bottom;
  font-size:83%;
  line-height:normal;
  }
#mrTab ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#mrTab li {
  float:left;
  background:url("/icons2/tabs/left_bothMR.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }
#mrTab a {
  float:left;
  display:block;
  width:.1em;
  background:url("/icons2/tabs/right_bothMR.gif") no-repeat right top;
  padding:3px 15px 2px 6px;
  text-decoration:none;
  color:#765;
  }
#mrTab > ul a {width:auto;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#mrTab a {float:none;}
/* End IE5-Mac hack */
#mrTab a:hover {
  color:#333;
  }
#mrTab #current {
  background-position:0 -150px;
  border-width:0;
  }
#mrTab #current a {
  background-position:100% -150px;
  padding-bottom:3px;
  color:#333;
  }
#mrTab li:hover, #mrTab li:hover a {
  background-position:0% -150px;
  color:#333;
  }
#mrTab li:hover a {
  background-position:100% -150px;
  }

