.o-cover {
  background: rgba(30, 35, 50, 0.2);
  position: absolute;
  z-index: 501; }

.o-cover.o-cover-bottom {
  background-color: transparent;
  display: block;
  position: static;
  height: 1px;
  overflow: hidden;
  -webkit-transition: height 0.2s,-webkit-transform 0.2s;
  transition: height 0.2s,transform 0.2s; }

.o-cover.o-cover-bottom.o-cover-bottom-appended {
  height: 40px; }

.o-cover.o-cover-bottom.o-cover-bottom-appended > .spinner {
  top: 50% !important; }

.bm-cookies {
  background: #e4e6eb;
  width: 100%;
  z-index: 99; }

.bm-cookies .cookies__buttons {
  padding-top: 1.875em;
  padding-bottom: 1.25em; }

.bm-cookies a {
  display: inline-block; }

.bm-mask {
  z-index: 100;
  -moz-opacity: 0.5;
  opacity: .50;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  width: 100%;
  height: 100%;
  zoom: 1; }

.bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special > span > a.nav__toggle {
  min-height: 0; }

@media only screen and (min-width: 961px) {
  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special > span > a.nav__toggle {
    min-height: 32px; } }
.bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special > span > a.nav__toggle:focus {
  outline: 2px #0064bb solid !important;
  outline-offset: -2px !important; }

@media only screen and (min-width: 961px) {
  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special > span > a.nav__toggle:focus {
    outline-offset: 5px !important; } }
.bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special > span > a.nav__toggle:after {
  padding-left: 3px;
  color: #fff !important; }

.bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special > span > a.nav__login-link > span {
  color: #fff !important; }

.bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special > span > a:focus {
  outline: none;
  color: #fff !important; }

.bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special > span > a:first-child:focus {
  outline: 0px !important; }

.bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .h2 {
  display: block;
  padding-top: 25px; }

.bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .light-text a {
  color: #fff; }

.bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child a {
  margin-bottom: 10px;
  display: inline-block; }

.bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .b-column.darkblue-bg .h2 {
  border-color: #5a95d2; }

.bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .b-column.darkblue-bg input:focus {
  outline: 2px #c82059 solid !important;
  outline-offset: -2px !important; }

.bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .b-column.darkblue-bg .o-btn {
  margin: 12px 0 25px;
  width: 100%; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .b-column.darkblue-bg .o-btn {
    margin: 0; } }
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .fs-text {
    font-size: 14px; }

  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .b-column.medium-end {
    padding-bottom: 20px; }

  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .b-column.six .h2 {
    margin-bottom: 15px !important; }

  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .b-column .link-bottom {
    margin-top: 20px; }

  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .b-column .bm-cms + .link-bottom {
    margin-top: 10px; } }
@media only screen and (min-width: 801px) {
  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .l-row {
    position: static; }

  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .l-row:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    background: #0367c0; }

  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .l-row > .b-row {
    padding-bottom: 30px; }

  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .b-row {
    position: relative; }

  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .b-column {
    position: static; }

  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .b-column:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #eff1f5; }

  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .b-column.six:before {
    left: 0;
    right: 50%; }

  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .b-column.three:before {
    left: 50%;
    right: 25%; }

  .bm .portlet-custom.bm-nav-main .bm-nav .nav__li--special .nav__child .b-column.darkblue-bg:before {
    left: 75%;
    right: 0;
    background: #0367c0; } }
.bm .login-form {
  position: relative; }

.bm .login-form .o-cover.o-cover-bottom {
  position: absolute;
  top: 84px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: #0367c0; }

html .bm .login-form .o-cover.o-cover-bottom {
  min-height: 174px; }

.bm .login-form .o-cover.o-cover-bottom .light-text {
  left: 7px;
  position: relative;
  top: 47%; }

.bm .login-form .o-cover.o-cover-bottom .spinner {
  top: 30% !important; }

.bm .bm-login-section .l-row {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-login-section .o-btn {
    margin-top: 20px;
    float: right; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-login-section .o-btn {
    margin-top: 10px; } }
.bm .bm-login-section .o-cover.o-cover-bottom {
  background-color: rgba(239, 241, 245, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

html .bm .bm-login-section .o-cover.o-cover-bottom {
  min-height: 92px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  html .bm .bm-login-section .o-cover.o-cover-bottom {
    min-height: 170px; } }
.bm .bm-login-section .o-cover.o-cover-bottom .light-text {
  position: absolute;
  width: 100%;
  top: 56%;
  padding-left: 7px;
  text-align: center; }

.bm .bm-login-section .o-cover.o-cover-bottom .spinner {
  top: 36% !important; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .portlet-custom .o-btn {
    width: 100%;
    float: left !important; } }
.bm .bm-banner-product .link-show-all {
  display: block;
  float: right;
  margin-top: 75px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product .link-show-all {
    margin: -10px 0 20px;
    float: none;
    font-size: 16px; } }
.bm .bm-banner-product .bproduct__inner {
  position: relative;
  overflow: hidden;
  height: 474px; }

@media only screen and (max-width: 800px) {
  .bm .bm-banner-product .bproduct__inner {
    background: transparent !important; } }
.bm .bm-banner-product .bproduct__inner .pbanner__bg-wrapper {
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 100%; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__bg-wrapper {
    height: 500px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__bg-wrapper {
    height: 350px; } }
.bm .bm-banner-product .bproduct__inner .pbanner__bg {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 3000px;
  height: 100%;
  left: 50%;
  margin-left: -1500px; }

.bm .bm-banner-product .bproduct__inner .pbanner__bg img {
  display: block;
  max-width: none;
  width: auto;
  margin: 0 auto; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__bg {
    height: 500px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__bg {
    height: 350px; } }
.bm .bm-banner-product .bproduct__inner .l-row {
  position: relative;
  height: 100%; }

.bm .bm-banner-product .bproduct__inner .b-row {
  padding-top: 40px;
  position: absolute;
  width: 100% !important;
  max-height: 100%; }

@media only screen and (max-width: 800px) {
  .bm .bm-banner-product .bproduct__inner .b-row {
    padding: 0; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product .bproduct__inner .b-row {
    bottom: 0;
    height: 100%; }

  .ie8 .bm .bm-banner-product .bproduct__inner .b-row {
    margin-top: -63px; } }
@media only screen and (max-width: 800px) {
  .bm .bm-banner-product .bproduct__inner, .bm .bm-banner-product .bproduct__inner .l-row, .bm .bm-banner-product .bproduct__inner .b-row {
    overflow: visible !important;
    max-height: none !important;
    height: auto !important;
    position: relative !important; } }
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__content-wrapper {
    padding: 30px 0 0;
    height: 500px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__content-wrapper {
    padding: 0 10px;
    height: 394px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__content-wrapper-inner {
    height: 350px;
    position: relative; } }
@media only screen and (max-width: 800px) {
  .bm .bm-banner-product .bproduct__inner .bm-box {
    padding: 0; } }
.bm .bm-banner-product .bproduct__inner .bm-box .h1 {
  padding: 0;
  line-height: 1.2em; }

.bm .bm-banner-product .bproduct__inner .bm-box .h2 {
  display: block;
  padding: 0;
  margin-top: 30px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product .bproduct__inner .bm-box .h2 {
    line-height: 1.2em;
    margin-top: 15px; } }
.bm .bm-banner-product .bproduct__inner .bm-box .h2:first-child {
  margin-top: 0; }

.bm .bm-banner-product .bproduct__inner .bm-box .link-more {
  display: inline-block;
  margin-top: 38px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product .bproduct__inner .bm-box .link-more {
    margin-top: 23px; } }
.bm .bm-banner-product .bproduct__inner .bm-box .link-more:first-child {
  margin-top: 0; }

.bm .bm-banner-product .bproduct__inner .pbanner__slide {
  margin-bottom: 84px;
  padding: 30px; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__slide {
    padding: 20px 20px 20px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__slide {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: rgba(200, 32, 89, 0.9); } }
.bm .bm-banner-product .bproduct__inner .pbanner__slide .pbanner__content {
  overflow: hidden;
  max-height: 230px; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__slide .pbanner__content {
    max-height: 336px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__slide .pbanner__content {
    max-height: 310px;
    padding: 20px; } }
.bm .bm-banner-product .bproduct__inner .pbanner__button {
  position: absolute;
  left: 60px;
  right: 0;
  bottom: 0; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__button {
    left: 20px;
    bottom: auto;
    top: 436px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__button {
    top: 350px;
    bottom: auto;
    left: 0;
    width: 100%;
    padding: 0 10px;
    border-top: 1px #da4684 solid; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product .bproduct__inner .bm-button.o-btn {
    float: none;
    width: 100%; } }
@media only screen and (min-width: 801px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__aside {
    min-width: 260px; } }
@media only screen and (max-width: 800px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__aside {
    padding: 0 20px;
    position: static;
    float: none;
    clear: both;
    width: 100%;
    margin-top: 20px; }

  .bm .bm-banner-product .bproduct__inner .pbanner__aside .pbanner__aside-inner {
    background: #1e2332; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__aside {
    padding: 0 10px;
    margin-top: 10px; } }
@media only screen and (min-width: 801px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__aside .links-list__toggler {
    padding-top: 20px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product .bproduct__inner .pbanner__content-wrapper + .pbanner__aside {
    margin-top: -34px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner-product.banner-product-text-only .bproduct__inner .pbanner__content-wrapper {
    height: 350px; } }
.bm--banner-product {
  position: relative; }

.bm--banner-product .banner-product__wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 396px; }

.bm--banner-product .banner-product__wrapper.banner-product--email {
  height: 450px; }

.bm--banner-product .banner-product__wrapper.banner-product--agreement {
  height: 430px; }

.bm--banner-product .banner-product__wrapper.banner-product--email.banner-product--agreement {
  height: 485px; }

.bm--banner-product .banner-product__wrapper.banner-product--video video {
  width: 100%;
  min-width: 1600px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); }

@media only screen and (max-width: 800px) {
  .bm--banner-product .banner-product__wrapper.banner-product--video video {
    display: none; } }
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm--banner-product .banner-product__wrapper {
    height: 480px; } }
@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm--banner-product .banner-product__wrapper {
    background: none !important;
    height: auto !important; } }
.bm--banner-product .banner-product__bg--pre, .bm--banner-product .banner-product__bg--next {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0; }

@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm--banner-product .banner-product__bg--pre, .bm--banner-product .banner-product__bg--next {
    display: none; } }
.bm--banner-product .banner-product__bg--next {
  right: 0;
  left: auto; }

.bm--banner-product .banner-product__bg {
  overflow: hidden;
  height: auto;
  max-height: 230px;
  min-height: 230px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(0%);
  -moz-transform: translateX(-50%) translateY(0%);
  -ms-transform: translateX(-50%) translateY(0%);
  -o-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%); }

@media only screen and (min-width: 621px) {
  .bm--banner-product .banner-product__bg {
    max-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 1600px; } }
.bm--banner-product .banner-product__bg img {
  position: relative;
  left: 50%;
  max-width: 3000px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  min-height: 100%; }

.bm--banner-product .banner-product__con {
  height: 100%;
  width: auto;
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
  text-align: right; }

@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm--banner-product .banner-product__con {
    text-align: left !important; }

  .bm--banner-product .banner-product__con .o-btn {
    float: left !important;
    margin-left: 0 !important; } }
@media only screen and (min-width: 621px) {
  .bm--banner-product .banner-product__con {
    margin: 0 10px;
    max-width: 1220px; }

  .bm--banner-product .banner-product__con .o-btn {
    float: right;
    margin-right: 0 !important; }

  .bm--banner-product .banner-product__con.banner-product--alignLeft {
    text-align: left; }

  .bm--banner-product .banner-product__con.banner-product--alignLeft .o-btn {
    float: left;
    margin-left: 0 !important; } }
@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm--banner-product .banner-product__con {
    text-align: left; }

  .bm--banner-product .banner-product__con .o-btn {
    float: left; } }
@media only screen and (min-width: 801px) {
  .bm--banner-product .banner-product__con {
    margin: 0 20px;
    max-width: 1200px; } }
@media only screen and (min-width: 1241px) {
  .bm--banner-product .banner-product__con {
    margin: 0 auto; } }
.bm--banner-product .banner-product__content {
  padding: 10px;
  padding-top: 240px; }

@media only screen and (min-width: 621px) {
  .bm--banner-product .banner-product__content {
    padding: 0; } }
@media only screen and (min-width: 621px) {
  .bm--banner-product .banner-product__content {
    max-width: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }

  .bm--banner-product .banner-product__content.mw420 {
    max-width: 50%; } }
.bm--banner-product .banner-product__content .h2 {
  padding: 0; }

@media only screen and (max-width: 620px) {
  .bm--banner-product .banner-product__content .h2 {
    padding: 10px 0;
    font-family: Lato;
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
    color: #c82059 !important;
    display: block; } }
@media only screen and (min-width: 621px) {
  .bm--banner-product .banner-product__content .h2 {
    font-size: 40px;
    font-family: Lato;
    font-weight: 400;
    line-height: 1em; } }
.bm--banner-product .banner-product__content .cms {
  font-size: 17px;
  padding-top: 0;
  margin-top: -9px;
  max-height: 196px;
  overflow: hidden;
  color: white; }

@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm--banner-product .banner-product__content .cms {
    padding: 20px 0 0;
    color: #1f2332 !important; }

  .bm--banner-product .banner-product__content .cms, .bm--banner-product .banner-product__content .cms p {
    font-family: Lato;
    font-size: 17px;
    line-height: 19px; } }
@media only screen and (min-width: 801px) {
  .bm--banner-product .banner-product__content .cms {
    margin-top: -6px; }

  .bm--banner-product .banner-product__content .cms, .bm--banner-product .banner-product__content .cms p {
    font-size: 30px;
    line-height: 1em;
    font-family: Lato;
    font-weight: 300; } }
.bm--banner-product .banner-product__content .h2 + .cms {
  padding-top: 30px;
  margin-top: -9px; }

@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm--banner-product .banner-product__content .banner-product__content--apla {
    background: transparent !important; } }
@media only screen and (min-width: 621px) {
  .bm--banner-product .banner-product__content .banner-product__content--apla {
    padding: 20px;
    margin-left: 0; }

  .bm--banner-product .banner-product__content .banner-product__content--apla .h2, .bm--banner-product .banner-product__content .banner-product__content--apla .cms {
    color: white !important; } }
.bm--banner-product .banner-product__content .o-btn {
  margin: 30px 20px 0 20px;
  line-height: 1.5em;
  font-size: 18px; }

@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm--banner-product .banner-product__content .o-btn {
    margin: 20px 0;
    width: 100%; } }
@media only screen and (min-width: 801px) {
  .bm--banner-product .banner-product__content .o-btn {
    margin: 30px 20px 0 20px; } }
.bm--banner-product .banner-product__content .banner-product--alignLeft {
  text-align: left; }

.bm--banner-product .banner-product__content .banner-product__link {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 15px;
  line-height: 17px; }

@media only screen and (min-width: 621px) {
  .bm--banner-product .banner-product__content .banner-product__link {
    text-align: left;
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px; } }
@media only screen and (min-width: 621px) {
  .bm--banner-product .banner-product__content .banner-product__link {
    margin: 42px 20px 0;
    width: auto; } }
@media only screen and (min-width: 801px) {
  .bm--banner-product .banner-product__content .banner-product__link {
    margin-top: 42px; } }
@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm--banner-product .banner-product__content .banner-product__link {
    margin: 10px 0;
    width: 100%;
    float: none; } }
.bm--banner-product .banner-product__content--link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 230px; }

.bm--banner-product .banner-product__content--link:focus {
  background: none !important; }

@media only screen and (min-width: 621px) {
  .bm--banner-product .banner-product__content--link {
    height: 0;
    display: none; } }
@media only screen and (min-width: 621px) {
  .bm--banner-product .banner-product__con--left .banner-product__content {
    left: 0; } }
.bm--banner-product .banner-product__aside {
  text-align: left;
  padding: 20px 0; }

.bm--banner-product .banner-product__aside.banner-product__aside--form {
  max-height: 395px;
  height: 100%;
  overflow: visible !important;
  top: initial;
  bottom: 0; }

.bm--banner-product .banner-product__aside.banner-product__aside--form.form--email {
  max-height: 450px; }

.bm--banner-product .banner-product__aside.banner-product__aside--form.form--agreement {
  max-height: 430px; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm--banner-product .banner-product__aside.banner-product__aside--form.form--agreement .o-btn {
    margin-top: 70px !important; } }
.bm--banner-product .banner-product__aside.banner-product__aside--form.form--email.form--agreement {
  max-height: 485px; }

.bm--banner-product .banner-product__aside.banner-product__aside--form > div {
  height: 100%; }

.bm--banner-product .banner-product__aside.banner-product__aside--form > div input.margin-top {
  margin-top: 10px; }

.bm--banner-product .banner-product__aside.banner-product__aside--form > div .margin-bottom {
  margin-bottom: 20px; }

.bm--banner-product .banner-product__aside.banner-product__aside--form > div .bm-cms {
  font-family: Lato;
  font-size: 11px;
  line-height: 13px; }

.bm--banner-product .banner-product__aside.banner-product__aside--form > div .o-btn {
  width: 100%;
  margin-top: 32px; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm--banner-product .banner-product__aside.banner-product__aside--form > div .form__content {
    padding: 20px; }

  .bm--banner-product .banner-product__aside.banner-product__aside--form > div .margin-bottom input {
    width: calc(50% - 10px ); }

  .bm--banner-product .banner-product__aside.banner-product__aside--form > div .margin-bottom input:nth-child(2n+1) {
    margin-top: 0;
    margin-left: 16px; }

  .bm--banner-product .banner-product__aside.banner-product__aside--form > div #lcf-agreements {
    float: left;
    width: 59%;
    margin-top: 8px;
    margin-right: 1%; }

  .bm--banner-product .banner-product__aside.banner-product__aside--form > div .o-btn {
    width: 40%;
    margin-top: 0 !important; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm--banner-product .banner-product__aside.banner-product__aside--form > div .margin-bottom {
    margin-bottom: 10px; }

  .bm--banner-product .banner-product__aside.banner-product__aside--form > div .o-btn {
    margin-top: 10px !important; } }
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm--banner-product .banner-product__aside {
    padding: 20px 10px 10px; } }
@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm--banner-product .banner-product__aside {
    padding: 0 10px 10px; } }
@media only screen and (min-width: 801px) {
  .bm--banner-product .banner-product__aside {
    max-width: 350px;
    width: 100%;
    position: absolute;
    top: 96px;
    left: 10px; }

  .bm--banner-product .banner-product__aside.banner-product__aside--right {
    left: auto;
    right: 10px;
    max-height: 376px;
    overflow: hidden; }

  .bm--banner-product .banner-product__aside.noHeader {
    top: 0; } }
@media only screen and (min-width: 1241px) {
  .bm--banner-product .banner-product__aside {
    left: 50%;
    margin-left: -600px; }

  .bm--banner-product .banner-product__aside.banner-product__aside--right {
    left: auto;
    margin-left: auto;
    right: 50%;
    margin-right: -600px; } }
.bm--banner-product .banner-product__aside .form__toggler {
  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  padding: 18px 20px;
  white-space: nowrap; }

.bm--banner-product .banner-product__aside .form__toggler p {
  font-family: Lato;
  font-size: 12px;
  line-height: 14px;
  padding: 0;
  margin: 3px 0 0;
  white-space: normal; }

.bm--banner-product .banner-product__aside .form__toggler::before {
  right: 20px;
  top: 28px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm--banner-product .banner-product__aside .form__toggler {
    padding: 18px 40px 18px 20px; } }
@media only screen and (min-width: 801px) {
  .bm--banner-product .banner-product__aside .form__toggler {
    font-size: 30px;
    line-height: 31px;
    padding: 15px 20px 13px; }

  .bm--banner-product .banner-product__aside .form__toggler p {
    max-height: 30px;
    height: 30px;
    margin: 9px 0 0; } }
.bm--banner-product .banner-product__aside li, .bm--banner-product .banner-product__aside p {
  font-size: 16px;
  line-height: 22px; }

.bm--banner-product .banner-product__aside p {
  font-family: Lato;
  margin-bottom: 9px; }

.bm .bm-banner .feature__content {
  padding-top: 0; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner .feature__content {
    min-height: 0 !important; } }
.bm .bm-banner .feature__content.with-dark-bg {
  background-color: rgba(31, 35, 50, 0.85); }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner .feature__content.with-dark-bg {
    background: none; } }
.bm .bm-banner .feature__content .feature__content-inner {
  padding-top: 25px;
  padding-bottom: 25px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner .feature__content .feature__content-inner {
    padding-top: 12px;
    padding-bottom: 20px; } }
.bm .bm-banner .more {
  color: #fff; }

.bm .bm-banner .feature__box.feature__box--banner .l-row {
  padding-bottom: 0; }

.bm .bm-banner .feature__box.feature__box--banner.feature-box--has-link-more .l-row {
  padding-bottom: 0; }

.bm .bm-banner .feature__box.feature__box--banner.feature-box--has-link-more .feature__content {
  padding-bottom: 45px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-banner .feature__box.feature__box--banner.feature-box--has-link-more .feature__content {
    padding-bottom: 30px; } }
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-linkbox .bm-linkbox-content .b-column:last-child:nth-child(odd) {
    width: 100%; } }
.bm .bm-linkbox .bm-linkbox-content .b-column:last-child {
  float: left; }

.bm .bm-linkbox .bm-linkbox-more {
  padding: 30px 0px 0px 0px; }

@media only screen and (max-width: 800px) {
  .bm .bm-linkbox .bm-linkbox-more {
    padding: 20px 0px 0px 0px; } }
@media only screen and (max-width: 480px) {
  .bm .bm-linkbox .bm-linkbox-more {
    padding: 15px 0px 0px 0px; } }
.bm .bm-linkbox .bm-linkbox-more .b-column {
  vertical-align: middle; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-linkbox .bm-linkbox-more.b-row {
    display: block; }

  .bm .bm-linkbox .bm-linkbox-more.b-row .b-column {
    display: block; }

  .bm .bm-linkbox .bm-linkbox-more.b-row .b-column:first-child {
    padding-bottom: 15px; } }
.bm .bm-linkbox .item {
  display: block;
  max-width: 100%;
  height: 227px;
  padding: 15px 20px 10px;
  border-bottom: 4px solid #c82059;
  position: relative;
  overflow: hidden; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-linkbox .item {
    height: 130px;
    padding: 15px 10px 10px; } }
.bm .bm-linkbox .item p, .bm .bm-linkbox .item span, .bm .bm-linkbox .item h1, .bm .bm-linkbox .item h2, .bm .bm-linkbox .item h3, .bm .bm-linkbox .item h4, .bm .bm-linkbox .item h5, .bm .bm-linkbox .item h6, .bm .bm-linkbox .item .h1, .bm .bm-linkbox .item .h2, .bm .bm-linkbox .item .h3, .bm .bm-linkbox .item .h4, .bm .bm-linkbox .item .h5, .bm .bm-linkbox .item .h6, .bm .bm-linkbox .item ul, .bm .bm-linkbox .item ol, .bm .bm-linkbox .item li, .bm .bm-linkbox .item div, .bm .bm-linkbox .item th, .bm .bm-linkbox .item td, .bm .bm-linkbox .item label {
  color: #fff; }

.bm .bm-linkbox .item a {
  color: #fff; }

.bm .bm-linkbox .item a:hover {
  color: #fff;
  text-decoration: underline; }

.bm .bm-linkbox .item > img, .bm .bm-linkbox .item > span img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 999em; }

.bm .bm-linkbox .item > .sprite > span {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0; }

.bm .bm-linkbox .item:focus > img {
  outline: none !important; }

.bm .bm-linkbox .item .h2 {
  padding: 0;
  margin-top: -8px;
  max-height: 80px;
  overflow: hidden;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  position: relative;
  z-index: 3;
  line-height: 1.2; }

.ie .bm .bm-linkbox .item .h2 {
  margin-top: -6px; }

.bm .bm-linkbox .item .h2.dark-text {
  color: #1f2332; }

.bm .bm-linkbox .item [class*="b-icon"] {
  position: absolute;
  bottom: 3px;
  left: 20px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  z-index: 3;
  width: 100%;
  display: block;
  line-height: 33px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-linkbox .item [class*="b-icon"] {
    left: 10px; } }
.bm .bm-linkbox .item [class*="b-icon"]:before {
  line-height: 0; }

.bm .bm-linkbox .item .text {
  height: 100%; }

.bm .bm-linkbox .item .text span[class*="b-icon"] {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.bm .bm-linkbox .item .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 90px 20px 10px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-linkbox .item .content {
    padding: 44px 10px 10px; } }
.bm .bm-linkbox .item .content .strong {
  display: inline-block;
  text-shadow: none; }

.bm .bm-linkbox .item .content span[class*="b-icon"] {
  -webkit-transform: translate3d(120%, 0, 0);
  -moz-transform: translate3d(120%, 0, 0);
  -ms-transform: translate3d(120%, 0, 0);
  -o-transform: translate3d(120%, 0, 0);
  transform: translate3d(120%, 0, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  -webkit-transition-delay: 0.2s;
  -moz-transition: -moz-transform 0.2s ease 0.2s;
  -o-transition: -o-transform 0.2s ease 0.2s;
  transition: transform 0.2s ease 0.2s; }

.bm .bm-linkbox .item .content .content-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(200, 32, 89, 0.85);
  height: 100%;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease; }

.bm .bm-linkbox .item .content .bm-cms {
  line-height: 1.4;
  height: 92px;
  overflow: hidden;
  position: relative;
  z-index: 3;
  -webkit-transform: translate3d(120%, 0, 0);
  -moz-transform: translate3d(120%, 0, 0);
  -ms-transform: translate3d(120%, 0, 0);
  -o-transform: translate3d(120%, 0, 0);
  transform: translate3d(120%, 0, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease;
  -o-transition: -o-transform 0.2s ease;
  transition: transform 0.2s ease; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-linkbox .item .content .bm-cms {
    height: 40px; } }
.no-csstransforms3d .bm .bm-linkbox .item .content {
  display: none; }

.no-csstransforms3d .bm .bm-linkbox .item .content .content-bg {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background: #c82059; }

.bm .bm-linkbox .item.hover .dark-text, .bm .bm-linkbox .item:hover .dark-text, .bm .bm-linkbox .item:focus .dark-text {
  color: #fff; }

.bm .bm-linkbox .item.hover .text span[class*="b-icon"], .bm .bm-linkbox .item:hover .text span[class*="b-icon"], .bm .bm-linkbox .item:focus .text span[class*="b-icon"] {
  -webkit-transform: translate3d(-120%, 0, 0);
  -moz-transform: translate3d(-120%, 0, 0);
  -ms-transform: translate3d(-120%, 0, 0);
  -o-transform: translate3d(-120%, 0, 0);
  transform: translate3d(-120%, 0, 0); }

.bm .bm-linkbox .item.hover .content .bm-cms, .bm .bm-linkbox .item:hover .content .bm-cms, .bm .bm-linkbox .item:focus .content .bm-cms {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.bm .bm-linkbox .item.hover .content span[class*="b-icon"], .bm .bm-linkbox .item:hover .content span[class*="b-icon"], .bm .bm-linkbox .item:focus .content span[class*="b-icon"] {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  line-height: 33px; }

.bm .bm-linkbox .item.hover .content .content-bg, .bm .bm-linkbox .item:hover .content .content-bg, .bm .bm-linkbox .item:focus .content .content-bg {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.no-csstransforms3d .bm .bm-linkbox .item.hover .content, .no-csstransforms3d .bm .bm-linkbox .item:hover .content, .no-csstransforms3d .bm .bm-linkbox .item:focus .content {
  display: block; }

.no-csstransforms3d .bm .bm-linkbox .item.hover .content .content-bg, .no-csstransforms3d .bm .bm-linkbox .item:hover .content .content-bg, .no-csstransforms3d .bm .bm-linkbox .item:focus .content .content-bg {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9; }

.bm .bm-linkbox .item .linkbox-sprites span {
  overflow: hidden;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0; }

.bm .bm-linkbox a.item.hover, .bm .bm-linkbox a.item:hover, .bm .bm-linkbox a.item:focus {
  outline: none !important;
  outline-offset: 0 !important;
  text-decoration: none; }

.bm .bm-article .bm-article-wrapper {
  padding: 1.875em 0em 1.875em 0em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-article .bm-article-wrapper {
    padding: 1.25em 0em 1.25em 0em; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-article .article__content-row .b-column:first-child {
    padding-bottom: 30px; } }
.bm .bm-article .article__content-row + .article__content-row {
  padding-top: 60px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-article .article__content-row + .article__content-row {
    padding: 0 0 30px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-article .article__content-row:last-child {
    padding: 0; }

  .bm .bm-article .article__content-row:last-child .b-column {
    padding-bottom: 30px; } }
.bm .bm-article.bm-article-border .article__content-row {
  padding-top: 0; }

.bm .bm-article .article__content {
  padding: 30px 0; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-article .article__image-column {
    padding: 0; } }
.bm .bm-article .article__buttons-row {
  margin-top: 40px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-article .article__buttons-row {
    margin-top: 30px;
    margin-bottom: 30px; } }
.bm .bm-article .bm-cms h1:first-child, .bm .bm-article .bm-cms .h1:first-child, .bm .bm-article .bm-cms h2:first-child, .bm .bm-article .bm-cms .h2:first-child, .bm .bm-article .bm-cms h3:first-child, .bm .bm-article .bm-cms .h3:first-child, .bm .bm-article .bm-cms h4:first-child, .bm .bm-article .bm-cms .h4:first-child, .bm .bm-article .bm-cms h5:first-child, .bm .bm-article .bm-cms .h5:first-child, .bm .bm-article .bm-cms h6:first-child, .bm .bm-article .bm-cms .h6:first-child {
  padding-top: 0; }

.bm .bm-article.article__new > .lightgrey2-bg {
  border-top: 1px solid #e2e2e5; }

.bm .bm-article.article__new .article__content {
  padding: 50px 0; }

.bm .bm-article.article__new .article__content img {
  max-width: 100%; }

@media only screen and (min-width: 621px) and (max-width: 800px) {
  .bm .bm-article.article__new .article__content > .text-center {
    text-align: center; } }
@media only screen and (max-width: 800px) {
  .bm .bm-article.article__new .article__content {
    padding: 30px 0 0; }

  .bm .bm-article.article__new .article__content .img--onLeft .mq-medium img, .bm .bm-article.article__new .article__content .img--onLeft .mq-small img, .bm .bm-article.article__new .article__content .img--onLeft .mq-small-big img {
    margin-bottom: 10px;
    margin-top: 40px; }

  .bm .bm-article.article__new .article__content .img--onRight .mq-medium img, .bm .bm-article.article__new .article__content .img--onRight .mq-small img, .bm .bm-article.article__new .article__content .img--onRight .mq-small-big img {
    margin-bottom: 10px;
    margin-top: 10px; }

  .bm .bm-article.article__new .article__content .o-btn {
    margin-bottom: 30px; } }
.bm .bm-article.article__new .cms {
  margin: 25px 0 15px; }

.bm .bm-article.article__new .cms > p {
  margin: 0 0 10px; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-article.article__new .cms {
    margin: 25px 0 5px; } }
.bm .bm-article.article__new .bm-list-separated-clean li {
  font-size: 19px;
  line-height: 23px;
  color: #333; }

.bm .bm-article.article__new .bm-list-separated-clean li .fs-bigger {
  font-size: 24px;
  line-height: 24px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-article.article__new .bm-list-separated-clean li {
    font-size: 16px;
    line-height: 18px;
    padding: 20px 0; }

  .bm .bm-article.article__new .bm-list-separated-clean li .fs-bigger {
    font-size: 18px;
    line-height: 18px; } }
.bm .bm-article.article__new .article__storeLinks {
  padding-top: 50px; }

.bm .bm-article.article__new .article__storeLinks a {
  margin-right: 7px;
  margin-bottom: 8px;
  display: inline-block;
  width: 137px;
  height: 47px; }

.bm .bm-article.article__new .article__storeLinks a:last-child {
  margin-right: 0; }

@media only screen and (max-width: 1240px) {
  .bm .bm-article.article__new .article__storeLinks {
    max-width: 300px;
    margin: auto; }

  .bm .bm-article.article__new .article__storeLinks a {
    margin-right: 5px;
    margin-left: 5px; } }
@media only screen and (min-width: 621px) and (max-width: 800px) {
  .bm .bm-article.article__new .article__storeLinks {
    max-width: 600px;
    margin: auto; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-article.article__new .article__storeLinks {
    padding-top: 10px;
    max-width: 300px;
    margin: auto; } }
.bm .bm-article.article__new .article__legal-bottom {
  padding: 20px;
  border-top: 1px dotted #d3d3d3; }

.bm .bm-article.article__new .article__legal-bottom.small p {
  font-size: 11px; }

.bm .bm-article.article__new .article__legal-bottom p {
  font-size: 14px;
  line-height: 16px;
  color: #606060; }

.bm .bm-article.article__new .article__legal-bottom a {
  color: #c82059; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-article.article__new .article__legal-bottom {
    padding: 10px; } }
.bm .bm-news-list .bm-article-list {
  padding: 2.5em 0em 0.9375em 0em; }

.bm .bm-news-list .bm-article-list .article-list__title {
  padding: 0; }

.bm .bm-news-list .bm-article-list .article-list__date {
  display: block;
  padding: 0.75em 0em 0em 0em; }

.bm .bm-news-list .bm-article-list .article-list__item {
  *zoom: 1; }

.bm .bm-news-list .bm-article-list .article-list__item:before, .bm .bm-news-list .bm-article-list .article-list__item:after {
  content: " ";
  display: table; }

.bm .bm-news-list .bm-article-list .article-list__item:after {
  clear: both; }

.bm .bm-news-list .bm-article-list .bm-cms {
  margin: 0.75em 0em 0em 0em; }

.bm .bm-news-list .bm-article-list .link-more {
  margin: 1.25em 0em 0em 0em;
  display: inline-block; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-news-list .bm-article-list .article-list__thumb {
    margin-top: 20px; } }
.bm .bm-news-list .bm-article-list .article-list__thumb img {
  display: block;
  float: right;
  margin: 0 0 10px 2em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-news-list .bm-article-list .article-list__thumb img {
    float: none;
    margin: 0 auto; } }
.js .bm .bm-news-list .bm-article-list .article-list__item--extra {
  display: none; }

.bm .bm-news-list .bm-article-list a.article-list__show-more[class*=b-icon] {
  display: block;
  margin-top: -10px; }

.bm .bm-article-single .article-date {
  display: block;
  margin: -0.625em 0em 0.625em 0em; }

.bm .bm-article-single .article__link-back {
  display: inline-block;
  margin: 1.25em 0em 1.25em 0em; }

.bm .bm-cms {
  line-height: 1.4em; }

.bm .bm-cms h2, .bm .bm-cms .h2, .bm .bm-cms h3, .bm .bm-cms .h3, .bm .bm-cms h4, .bm .bm-cms .h4, .bm .bm-cms h5, .bm .bm-cms .h5, .bm .bm-cms p {
  padding: 0;
  margin: 0; }

.bm .bm-cms li {
  line-height: 1.25em; }

.bm .bm-cms ol {
  margin: 0 0 0 1.3125em;
  list-style: outside decimal; }

.bm .bm-cms ol li + li {
  margin-top: 0.3125em; }

.bm .bm-cms ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.bm .bm-cms ul li {
  padding-left: 16px;
  position: relative; }

.bm .bm-cms ul li + li {
  margin-top: 0.3125em; }

.bm .bm-cms ul ol, .bm .bm-cms ol ul {
  margin: 0.625em 0em 0.9375em 0em; }

.bm .bm-cms ul ul, .bm .bm-cms ol ul {
  padding-left: 1em; }

.bm .bm-cms ul ol, .bm .bm-cms ol ol {
  padding-left: 2em; }

.bm .bm-cms div + * {
  margin-top: 0.9375em; }

.bm .bm-cms .h3 + *, .bm .bm-cms h3 + *, .bm .bm-cms h4 + *, .bm .bm-cms .h4 + *, .bm .bm-cms p + *, .bm .bm-cms ul + *, .bm .bm-cms ol + * {
  margin-top: 0.9375em; }

.bm .bm-cms img, .bm .bm-cms span[data-picture] {
  display: inline-block; }

.bm .bm-cms img + *, .bm .bm-cms span[data-picture] + * {
  margin-top: 0.9375em; }

.bm .bm-cms * + .h2, .bm .bm-cms * + h2 {
  margin-top: 2.5em; }

.bm .bm-cms .h2 + *, .bm .bm-cms h2 + * {
  margin-top: 1.875em; }

.bm .bm-cms * + .h3, .bm .bm-cms * + h3 {
  margin-top: 2.5em; }

.bm .bm-cms .h3 + *, .bm .bm-cms h3 + * {
  margin-top: 1.5625em; }

.bm .bm-cms * + .h4, .bm .bm-cms * + h4 {
  margin-top: 1.875em; }

.bm .bm-cms .h4 + *, .bm .bm-cms h4 + * {
  margin-top: 0.625em; }

.bm .bm-cms .h4 + ul, .bm .bm-cms h4 + ul, .bm .bm-cms .h4 + ol, .bm .bm-cms h4 + ol {
  margin-top: 0.9375em; }

.bm .bm-cms .h3 + .h4, .bm .bm-cms h3 + h4 {
  margin-top: 1.25em; }

.bm .bm-product-boxes .l-row {
  padding: 20px 0; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-product-boxes .l-row {
    padding: 20px 0 0; } }
.bm .bm-product-boxes .b-row {
  height: 100%;
  padding-bottom: 20px; }

@media only screen and (max-width: 800px) {
  .bm .bm-product-boxes .b-row {
    padding-bottom: 0; } }
@media only screen and (max-width: 800px) {
  .bm .bm-product-boxes .b-row .b-column {
    padding-bottom: 10px; } }
.bm .bm-product-boxes .product-box {
  background-color: white;
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15); }

.bm .bm-product-boxes .product-box > div {
  padding: 30px 30px 28px; }

.bm .bm-product-boxes .product-box h3 {
  color: #c82059;
  font-size: 20px;
  line-height: 22px; }

.bm .bm-product-boxes .product-box p {
  margin-top: 20px;
  margin-bottom: 23px;
  font-size: 16px;
  overflow: hidden; }

.bm .bm-product-boxes .product-box a {
  font-size: 16px;
  line-height: 16px; }

.bm .bm-product-boxes .product-box a:hover {
  text-decoration: underline; }

@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm .bm-product-boxes .b-column {
    width: 100%;
    display: block !important;
    clear: both; }

  .bm .bm-product-boxes .product-box > div {
    padding: 20px 20px 18px; }

  .bm .bm-product-boxes .product-box h3 {
    font-size: 18px; }

  .bm .bm-product-boxes .product-box p {
    margin-top: 10px;
    margin-bottom: 13px;
    font-size: 14px;
    max-height: 58px; }

  .bm .bm-product-boxes .product-box a {
    font-size: 14px;
    line-height: 14px; } }
.bm .bm-product-boxes .product-box__container {
  padding: 20px 0; }

.bm .bm-product-boxes .product-box__summary {
  margin-bottom: 20px; }

.bm .bm-product-boxes .product-box__content {
  margin: 20px 0;
  padding-top: 10px;
  padding-bottom: 10px; }

.bm .bm-product-boxes .product-box__title {
  margin-bottom: 20px; }

.bm .bm-product-boxes .product-box__description {
  margin-bottom: 40px; }

.bm .bm-product-boxes .product-box__description p + p {
  margin-top: 10px; }

.bm .bm-product-boxes .product-box__description a {
  text-decoration: underline;
  font-weight: 700; }

.bm .bm-text-info-box .tinfobox__heading {
  display: block;
  margin-top: 25px;
  font-size: 1.0em;
  padding: 0; }

.bm .bm-text-info-box .tinfobox__content {
  margin-top: 11px; }

.bm .bm-text-info-box .tinfobox__content:first-child {
  margin-top: 55px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-text-info-box .tinfobox__content:first-child {
    margin-top: 25px; } }
.bm .bm-text-info-box .tinfobox__link {
  margin-top: 22px;
  display: inline-block; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-text-info-box .tinfobox__link {
    margin-top: 12px;
    display: block; }

  .bm .bm-text-info-box .tinfobox__link:not(.o-btn) {
    font-size: 16px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-text-info-box .b-row:first-child .b-column:first-child .tinfobox__heading {
    margin-top: 15px; } }
.bm .bm-text-info-box.text-info-box__new .l-row.img-normal .b-column {
  vertical-align: middle; }

.bm .bm-text-info-box.text-info-box__new .l-row.img-raised {
  margin-top: 30px;
  margin-bottom: 30px; }

.bm .bm-text-info-box.text-info-box__new .l-row.img-raised img {
  margin: -30px 0; }

.bm .bm-text-info-box.text-info-box__new .l-row.img-raised-up {
  margin-top: 30px;
  margin-bottom: 0; }

.bm .bm-text-info-box.text-info-box__new .l-row.img-raised-up img {
  margin: -30px 0 0; }

.bm .bm-text-info-box.text-info-box__new .b-column.g-text-middle h3.g-no-padding {
  margin-bottom: 25px; }

.bm .bm-text-info-box.text-info-box__new .b-column.g-text-middle .h2.cf {
  font-size: 35px;
  line-height: 35px; }

.bm .bm-text-info-box.text-info-box__new .b-column.g-text-middle .o-btn {
  margin-top: 12px; }

@media only screen and (min-width: 621px) and (max-width: 800px) {
  .bm .bm-text-info-box.text-info-box__new .b-column.g-text-middle {
    vertical-align: top !important;
    padding-left: calc(8.33333% + 10px ); }

  .bm .bm-text-info-box.text-info-box__new .b-column.g-text-middle:last-child {
    padding-right: calc(8.33333% + 10px );
    padding-left: 10px; }

  .bm .bm-text-info-box.text-info-box__new .l-row.img-raised-up, .bm .bm-text-info-box.text-info-box__new .l-row.img-raised, .bm .bm-text-info-box.text-info-box__new .l-row.img-normal {
    margin: 0;
    padding: 30px 0; } }
@media only screen and (max-width: 620px) {
  .bm .bm-text-info-box.text-info-box__new .l-row.img-raised-up, .bm .bm-text-info-box.text-info-box__new .l-row.img-raised, .bm .bm-text-info-box.text-info-box__new .l-row.img-normal {
    margin: 0;
    padding: 20px 0; }

  .bm .bm-text-info-box.text-info-box__new .b-column.g-text-middle h3.g-no-padding, .bm .bm-text-info-box.text-info-box__new .b-column.g-text-middle .o-btn {
    margin-bottom: 20px; } }
.bm .bm-extended-boxes .extended-box__container {
  padding: 30px 0; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-extended-boxes .extended-box__container {
    padding: 15px 0 20px; } }
.bm .bm-extended-boxes .extended-boxes__header + .extended-boxes__subheader h3 {
  padding-top: 0; }

.bm .bm-extended-boxes .extended-box__description {
  margin-top: 30px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-extended-boxes .extended-box__description {
    margin-top: 0; } }
.bm .bm-extended-boxes .left .extended-box__title h3 {
  padding-bottom: 0.6875em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-extended-boxes .left .extended-box__title h3 {
    padding: 20px 0;
    font-size: 14px; } }
.bm .bm-extended-boxes .bm-linkbox-content {
  padding: 0; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-extended-boxes .extended-box__details {
    margin-top: 25px; } }
.bm .bm-extended-boxes .extended-box__details span {
  display: inline-block; }

.bm .bm-extended-boxes .extended-box__details .name {
  width: 70%;
  font-weight: 700; }

.bm .bm-extended-boxes .extended-box__details .value {
  width: 30%;
  text-align: right;
  font-style: italic; }

.bm .bm-extended-boxes .extended-box__details .b-column:last-child {
  float: left; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-extended-boxes .extended-box__details .b-column {
    margin-bottom: 20px; } }
.bm .bm-extended-boxes .extended-box__details .b-row:first-child ~ .b-row .b-column {
  margin-top: 1.25em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-extended-boxes .extended-box__details .b-row:first-child ~ .b-row .b-column {
    margin-top: 0; } }
.bm .bm-extended-boxes .extended-box__details-text {
  padding-left: 1.875em; }

.bm .bm-extended-boxes .extended-box__buttons-row {
  padding-top: 30px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-extended-boxes .extended-box__buttons-row {
    padding-top: 10px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-extended-boxes .extended-box__link {
    padding-bottom: 15px; } }
.bm .autocomplete-list {
  border: 1px solid #cbccd1;
  border-top: none;
  list-style: none;
  position: absolute;
  z-index: 9;
  background: #fff;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.bm .autocomplete-list li {
  font-size: 14px;
  padding: 8px; }

.bm .autocomplete-list li.marked {
  cursor: pointer;
  text-decoration: underline; }

.bm .bm-form-filter {
  position: relative;
  padding: 30px 0 30px !important; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-form-filter {
    padding: 20px 0; } }
.bm .bm-form-filter fieldset {
  margin: 0; }

.bm .bm-form-filter .form-filter__field {
  position: relative; }

.bm .bm-form-filter .form-filter__field label {
  font-size: 1em;
  margin: 0em 0em 0.375em 0em;
  display: block; }

.bm .bm-form-filter .form-filter__field label.radio-label, .bm .bm-form-filter .form-filter__field label.checkbox-label {
  display: inline-block; }

.bm .bm-form-filter .form-filter__field label.radio-label .bm-ci-label, .bm .bm-form-filter .form-filter__field label.checkbox-label .bm-ci-label {
  font-size: 0.875em; }

.bm .bm-form-filter .form-filter__button .checkbox-label {
  padding-top: 0.625em; }

.bm .bm-form-filter .checkbox-label, .bm .bm-form-filter .radio-label {
  display: inline-block; }

@media only screen and (min-width: 801px) {
  .bm .bm-form-filter.form-filter--horizontal .form-filter__field:nth-child(n+5) {
    padding-top: 0.625em; }

  .bm .bm-form-filter.form-filter--horizontal .form-filter__button:nth-child(-n+4) {
    padding-top: 1.625em; }

  .bm .bm-form-filter.form-filter--horizontal .form-filter__button:nth-child(5n) {
    padding-top: 1.25em; }

  .bm .bm-form-filter.form-filter--horizontal .form-filter__button:nth-child(n+6) {
    padding-top: 2.125em; } }
@media only screen and (max-width: 800px) {
  .bm .bm-form-filter.form-filter--horizontal .form-filter__field {
    padding-bottom: 1.5625em; }

  .bm .bm-form-filter.form-filter--horizontal fieldset legend {
    margin-bottom: 0.625em; }

  .bm .bm-form-filter.form-filter--horizontal fieldset .b-column:last-child .radio-label, .bm .bm-form-filter.form-filter--horizontal fieldset .b-column:last-child .checkbox-label {
    margin-bottom: 0; } }
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-form-filter.form-filter--horizontal .b-block-medium-six .b-column:last-child {
    float: left; }

  .bm .bm-form-filter.form-filter--horizontal .form-filter__button:nth-child(even) {
    padding-top: 30px; } }
.bm .bm-form-filter.form-filter--horizontal .form-filter__button.with-checkbox {
  padding-bottom: 20px; }

@media (min-width: 800px) and (max-width: 1024px) {
  .bm .bm-form-filter.form-filter--horizontal .form-filter__button.with-checkbox {
    padding-bottom: 50px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-form-filter.form-filter--horizontal .form-filter__button.with-checkbox {
    padding-bottom: 0; } }
.bm .bm-form-filter.form-filter--horizontal .form-filter__button.with-checkbox .checkbox-label.checkbox-label {
  position: absolute;
  padding-right: 20px;
  bottom: -20px; }

.bm .bm-form-filter.form-filter--horizontal .form-filter__button.with-checkbox .checkbox-label.checkbox-label .bm-ci {
  top: 2px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-form-filter.form-filter--horizontal .form-filter__button.with-checkbox .checkbox-label.checkbox-label {
    position: static;
    margin: 0 0 20px; } }
.bm .bm-form-filter.form-filter--vertical .form-filter__field {
  padding-bottom: 1.5625em; }

.bm .bm-form-filter.form-filter--vertical fieldset legend {
  margin-bottom: 0.625em; }

.bm .bm-form-filter.form-filter--vertical fieldset .b-column:last-child .radio-label, .bm .bm-form-filter.form-filter--vertical fieldset .b-column:last-child .checkbox-label {
  margin-bottom: 0; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-form-filter.form-filter--vertical .form-filter__pair-left {
    padding-right: 10px; }

  .bm .bm-form-filter.form-filter--vertical .form-filter__pair-right {
    padding-left: 10px; } }
.bm .bm-form.bm-form-simple fieldset, .bm .bm-form.bm-form-simple .fieldset {
  padding-bottom: 0; }

.bm .bm-form.bm-form-simple fieldset + fieldset, .bm .bm-form.bm-form-simple fieldset + .fieldset, .bm .bm-form.bm-form-simple .fieldset + fieldset, .bm .bm-form.bm-form-simple .fieldset + .fieldset {
  border: none;
  padding-top: 0.9375em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-form.bm-form-simple fieldset:first-of-type {
    padding-top: 0; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-form.bm-form-simple h3.p-top, .bm .bm-form.bm-form-simple .h3.p-top {
    padding-top: 15px; } }
.bm .bm-form.bm-form-simple .f-buttons {
  line-height: 44px;
  padding: 0.625em 0em 0.625em 0em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-form.bm-form-simple .b-sep-last {
    margin-top: 0 !important; } }
.chart-wrapper {
  background-color: #fff;
  padding: 30px;
  height: 500px;
  width: 100%; }

.asset-entries-group-label + .asset-full-content.no-title .extended-boxes__header .h2, .asset-entries-group-label + .asset-full-content.no-title .extended-boxes__header h2 {
  padding-top: 0px; }

.bm .bm-job-offers .bm-job-offer-single {
  padding: 1.875em 0em 1.875em 0em; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-job-offers .bm-job-offer-single {
    padding: 20px 0px 20px 0px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-job-offers .bm-job-offer-single {
    padding: 5px 0px 20px 0px; } }
.bm .bm-job-offers .bm-job-offer-single .job-offer__subheading {
  padding-bottom: 0.9em; }

.bm .bm-job-offers .job-offer__contract-type p {
  margin: 0 0 5px; }

.bm .bm-job-offers .button-row {
  padding: 30px 0px 30px 0px; }

@media only screen and (max-width: 800px) {
  .bm .bm-job-offers .button-row {
    padding: 20px 0px 20px 0px; } }
.bm .bm-job-offers .button-row .o-tbtn {
  min-height: 2.7em;
  line-height: 2.7em; }

.bm .bm-auctions .auction__heading {
  padding: 0em 0em 1.125em 0em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-auctions .auction__heading {
    padding-top: 0.5em; } }
.bm .bm-auctions .auction__side-image {
  margin-top: 3em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-auctions .auction__side-image {
    margin-top: 2em; } }
.bm .bm-logout-survey .logout-survey__options {
  padding-bottom: 25px; }

.bm .bm-logout-survey .logout-survey__options li {
  margin-left: 10px; }

.bm .bm-logout-survey .logout-survey__options li:first-child {
  margin-left: 0; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-logout-survey .logout-survey__options li {
    width: 100%;
    margin: 10px 0 0 0; }

  .bm .bm-logout-survey .logout-survey__options li:first-child {
    margin-top: 0; } }
.bm .bm-logout-survey .logout-survey__iframe {
  border: none; }

.bm .bm-inspirations {
  padding-bottom: 0.625em; }

.bm .bm-inspirations .bm-form-filter .form-filter__button {
  padding-top: 1.625em !important;
  color: lime; }

.bm .bm-inspirations .bm-form-filter .form-filter__field.insp__adv-field:nth-child(n+4) {
  padding-top: 0.625em; }

@media only screen and (max-width: 800px) {
  .bm .bm-inspirations .bm-form-filter .form-filter__field.insp__adv-field:nth-child(n+4) {
    padding-top: 0px; } }
.bm .bm-inspirations .bm-form-filter.form-filter--expanded .form-filter__button {
  padding-top: 2.125em !important; }

@media only screen and (max-width: 800px) {
  .bm .bm-inspirations .bm-form-filter.form-filter--expanded .form-filter__button {
    padding-top: 1.625em !important; } }
.bm .bm-inspirations .link-padded {
  margin-top: 1.875em;
  margin-bottom: 1.875em;
  display: inline-block; }

.bm .bm-inspirations-item .bm-section-padded {
  padding: 1.875em 0em 1.875em 0em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-inspirations-item .bm-section-padded {
    padding: 20px 0; } }
.bm .bm-inspirations-item .bm-list-separated {
  margin-top: 1.875em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-inspirations-item .bm-list-separated {
    margin-top: 15px; } }
.bm .bm-inspirations-item .bm-list-separated li:first-child {
  border-top: none; }

.bm .bm-inspirations-item .insp__url {
  margin-top: 1.6875em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-inspirations-item .insp__url {
    margin-top: 20px; } }
.bm .bm-inspirations-item .insp__addresses {
  margin-top: 1.875em; }

.bm .bm-inspirations-item .insp__addresses ul {
  margin-top: 0.9375em; }

.bm .bm-inspirations-item .insp__details {
  padding-top: 1.25em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-inspirations-item .b-column + .b-column {
    margin-top: 30px; } }
.bm .bm-films .player-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  margin-bottom: 60px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-films .player-wrapper {
    margin-bottom: 30px; } }
.bm .bm-films .player-wrapper .player-wrapper__inner {
  width: 100%;
  height: 100%;
  position: absolute; }

.bm .bm-films-list {
  padding: 40px 0 50px; }

.bm .bm-films-list .b-row + .b-row {
  margin-top: 30px; }

.bm .bm-films-list .b-column:last-child {
  float: left; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-films-list .b-column + .b-column {
    margin-top: 35px; } }
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-films-list .b-column + .b-column + .b-column {
    margin-top: 35px; } }
@media only screen and (min-width: 801px) {
  .bm .bm-films-list .b-column + .b-column + .b-column + .b-column {
    margin-top: 35px; } }
@media only screen and (min-width: 801px) {
  .bm .bm-films-list .films-list__nr {
    clear: both; } }
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-films-list .b-column:nth-child(2n+1) {
    clear: both; } }
.bm .bm-films-list .film__link {
  display: block; }

.bm .bm-films-list .film__link:hover, .bm .bm-films-list .film__link:focus {
  background: none !important;
  outline: none; }

.bm .bm-films-list .film__link:hover .film__thumb:before, .bm .bm-films-list .film__link:focus .film__thumb:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(200, 32, 89, 0.9); }

.bm .bm-films-list .film__link:hover .film__link-text, .bm .bm-films-list .film__link:focus .film__link-text {
  color: #c82059 !important; }

.bm .bm-films-list .film__link.current .film__thumb {
  border: 5px #fff solid; }

.bm .bm-films-list .film__link.current .film__thumb:before, .bm .bm-films-list .film__link.current .film__thumb:after {
  display: none; }

.bm .bm-films-list .film__thumb {
  display: block;
  position: relative;
  margin-bottom: 1.25em;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease; }

.bm .bm-films-list .film__thumb:after {
  content: '\e816';
  font-family: "fontello";
  font-size: 70px;
  color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35px;
  margin-top: -42px; }

.bm .bm-films-list .film__thumb img {
  width: 100%; }

.bm .bm-history .bm-section-padded {
  padding: 36px 0 42px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-history .bm-section-padded {
    padding: 36px 0 32px; } }
.bm .bm-history .history__item {
  position: relative; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-history .history__item .history__desc {
    margin-bottom: 15px; } }
@media only screen and (min-width: 801px) and (max-width: 1240px) {
  .bm .bm-history .history__item .history__image {
    padding-right: 20px !important; } }
@media only screen and (max-width: 800px) {
  .bm .bm-history .history__item .history__image {
    text-align: center;
    padding-bottom: 20px !important; } }
.bm .bm-history .history__heading-wrapper {
  position: static; }

.bm .bm-history .history__heading-wrapper:before, .bm .bm-history .history__heading-wrapper:after {
  content: '';
  display: block;
  position: absolute;
  left: 16%; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-history .history__heading-wrapper:before, .bm .bm-history .history__heading-wrapper:after {
    left: 25%; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-history .history__heading-wrapper:before, .bm .bm-history .history__heading-wrapper:after {
    display: none; } }
.bm .bm-history .history__heading-wrapper:before {
  top: 12px;
  width: 16px;
  height: 16px;
  background: #d7d8dc;
  border-radius: 20px; }

.bm .bm-history .history__heading-wrapper:after {
  top: 40px;
  bottom: 0;
  width: 9px;
  border-right: 2px #d7d8dc solid; }

.bm .bm-history .history__desc {
  margin: 0 0 40px 50px;
  padding: 15px 20px;
  background: #fff;
  border: 1px #d7d8dc solid;
  position: relative; }

.bm .bm-history .history__desc:before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: -8px;
  width: 16px;
  height: 16px;
  background: #c9c9c9;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }

.bm .bm-history .history__desc:after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: -7px;
  width: 16px;
  height: 16px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-history .history__desc {
    margin-left: 0; }

  .bm .bm-history .history__desc:before, .bm .bm-history .history__desc:after {
    display: none; } }
.bm .bm-advisors .advisor__item {
  padding: 45px 0px 35px 0px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-advisors .advisor__item {
    padding: 30px 0 25px; } }
.bm .bm-advisors .advisor__item .h2 {
  padding: 0.7em 0 0.2em; }

.bm .bm-advisors .advisor__item .b-transparent-list li + li {
  margin-top: 1em; }

.bm .bm-advisors .advisor__separator {
  width: 100%; }

.bm .bm-advisors .advisors-list {
  position: relative; }

@media only screen and (min-width: 801px) {
  .bm .bm-advisors .advisors-list .b-column {
    width: 25%; }

  .bm .bm-advisors .advisors-list .b-column:nth-child(4n+1) {
    clear: both; }

  .bm .bm-advisors .advisors-list .b-column:last-child {
    float: left; } }
.bm .bm-advisors .advisors-list .with-separator {
  position: static; }

.bm .bm-advisors .advisors-list .with-separator:before {
  background: #d7d8dc;
  content: '';
  display: block;
  height: 1px;
  left: 20px;
  position: absolute;
  right: 20px;
  width: auto; }

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-advisors .advisors-list > li:nth-child(2n+1):not(:first-child) {
    position: static; }

  .bm .bm-advisors .advisors-list > li:nth-child(2n+1):not(:first-child):before {
    background: #d7d8dc;
    content: '';
    display: block;
    height: 1px;
    left: 10px;
    position: absolute;
    right: 10px;
    width: auto; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-advisors .advisors-list > li:not(:first-child) {
    position: static; }

  .bm .bm-advisors .advisors-list > li:not(:first-child):before {
    background: #d7d8dc;
    content: '';
    display: block;
    height: 1px;
    left: 10px;
    position: absolute;
    right: 10px;
    width: auto; } }
.bm .bm-restricted-area .restricted-area__form {
  padding: 1.875em 0em 1.5625em 0em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-restricted-area .restricted-area__form {
    padding: 10px 0 15px; } }
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-restricted-area .restricted-area__form .o-btn {
    margin-top: 15px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-restricted-area .restricted-area__form .o-btn {
    margin-top: 25px; } }
.bm .bm-restricted-area .restricted-area__article-top + .restricted-area__form {
  margin-top: 2.5em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-restricted-area .restricted-area__article-top + .restricted-area__form {
    margin-top: 20px; } }
.bm .bm-restricted-area .restricted-area__article-bottom {
  margin-top: 2.5em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-restricted-area .restricted-area__article-bottom {
    margin-top: 20px; } }
.bm .bm-cards .bm-card-single {
  padding: 2.5em 0em 1.875em 0em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-cards .bm-card-single {
    padding: 30px 0 20px; } }
.bm .bm-cards .bm-card-single .card__params + .card__desc {
  margin-top: 1.875em; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-cards .bm-card-single .card__params + .card__desc {
    margin-top: 20px; } }
#lpAgreementLayer {
  z-index: 10000;
  position: fixed;
  left: 50%;
  top: 18%;
  margin-left: -390px;
  width: 780px; }

.bm-mask {
  z-index: 100;
  -moz-opacity: 0.5;
  opacity: .50;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  width: 100%;
  height: 100%;
  zoom: 1; }

#lpAgreement {
  border-left: medium none;
  border-right: medium none;
  background: white;
  background-size: cover !important;
  height: 353px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  padding-left: 340px; }

#lpAgreement h1 {
  padding: 0.4em 0px;
  font-family: Lato;
  font-size: 35px;
  line-height: 1.07143em;
  font-weight: 300;
  color: #1f2332;
  text-transform: none;
  margin: 0px; }

#lpAgreement h3 {
  font-family: Lato;
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 300;
  color: #1f2332;
  text-transform: none;
  margin: 0;
  padding: 0 60px 0 0; }

#lpAgreement div.info {
  height: 135px;
  overflow-y: auto;
  margin: 10px 20px 10px 0px;
  font-size: 14px;
  text-align: justify;
  padding-right: 5px;
  line-height: 16px; }

#lpAgreement div.info p {
  margin-bottom: 10px;
  padding-right: 20px; }

#lpAgreement div.info p:last-child {
  margin-bottom: 0px; }

#lpAgreement hr {
  margin: 10px 20px 10px 0px; }

#lpAgreement a, #lpAgreement a:active, #lpAgreement a:hover {
  text-decoration: none;
  background: transparent; }

#lpAgreement a.closeAgreementButton {
  height: 38px;
  width: 38px;
  position: absolute;
  top: 0px;
  right: 0px;
  background: url("../img/chat/modal_x.gif") !important; }

#lpAgreement label {
  margin: 28px 10px 5px 0px;
  color: #999;
  width: 280px;
  height: 20px; }

#lpAgreement label.error .bm-ci:before {
  border: 1px solid #df0024 !important; }

#lpAgreement label.checkbox-label [type=checkbox] {
  position: absolute;
  left: -9999px; }

#lpAgreement label.checkbox-label [type=checkbox] ~ .bm-ci {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  padding-left: 36px; }

#lpAgreement label.checkbox-label [type=checkbox] ~ .bm-ci:before {
  content: "";
  left: 0px;
  top: 2px;
  position: absolute;
  border: 1px solid #d7d8dc;
  background: #eff1f5;
  height: 20px;
  width: 20px; }

#lpAgreement label.checkbox-label [type=checkbox] ~ .bm-ci:after {
  content: "";
  left: 1px;
  top: 3px;
  position: absolute;
  opacity: 0;
  content: '';
  font-size: 19px;
  line-height: 1em;
  color: #c82059;
  font-family: "fontello"; }

#lpAgreement label.checkbox-label [type=checkbox]:checked ~ .bm-ci:before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }

#lpAgreement label.checkbox-label [type=checkbox]:checked ~ .bm-ci:after {
  opacity: 1;
  content: "\E813"; }

#lpAgreement label.checkbox-label [type=checkbox]:focus ~ .bm-ci:before {
  border-color: #cbccd1; }

#lpAgreement p.agreementError {
  font-size: 0.8em;
  line-height: 1.1em;
  color: #dc0303;
  clear: both;
  padding: 0;
  margin: 5px 120px 0 30px; }

#lpAgreement p.agreementError::before {
  font-family: "fontello";
  content: "\E829";
  font-style: normal;
  margin-left: -26px;
  font-size: 20px;
  position: absolute;
  margin-top: 5px; }

#lpAgreement a.acceptAgreementButton {
  height: 46px;
  display: block;
  position: absolute;
  bottom: 20px;
  width: 100px;
  right: 20px;
  background: url("../img/chat/modal_button.gif") !important; }

#lpAgreement .agreementLoading {
  height: 46px;
  position: absolute;
  bottom: 20px;
  width: 100px;
  right: 20px;
  background-image: url("../img/chat/modal_loading.gif") !important;
  background-position: center;
  background-repeat: no-repeat;
  display: none; }

.bm .bm-block-banner .block-list--title {
  padding-top: 60px !important;
  padding-bottom: 40px;
  line-height: 45px; }

@media only screen and (min-width: 621px) and (max-width: 800px) {
  .bm .bm-block-banner .block-list--title {
    padding-top: 50px !important; } }
@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm .bm-block-banner .block-list--title {
    padding-bottom: 30px; } }
.bm .bm-block-banner .block-list--contact-trigger {
  padding-top: 65px;
  text-align: right; }

.bm .bm-block-banner .b-column.g-text-right > span[data-picture] {
  padding-right: 50px; }

.bm .bm-block-banner .tni {
  font: normal 700 170px/170px Lato;
  color: #c82059;
  display: block;
  width: 420px;
  margin: 0 auto;
  text-align: left; }

.bm .bm-block-banner .tni .tni--before {
  font: normal 300 42px/42px Lato;
  display: block;
  margin-bottom: -52px;
  margin-left: 105px; }

.bm .bm-block-banner .tni .tni--after {
  font: normal 700 120px/120px Lato; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-block-banner .tni {
    width: 250px;
    font-size: 120px;
    line-height: 120px; }

  .bm .bm-block-banner .tni .tni--before {
    font-size: 25px;
    margin-bottom: -45px;
    margin-left: 72px; }

  .bm .bm-block-banner .tni .tni--after {
    font-size: 80px; } }
.bm .bm-block-banner h3 {
  font: normal 300 35px/37px Lato;
  margin-bottom: 10px;
  padding: 0; }

.bm .bm-block-banner p {
  font: normal 400 16px/18px Lato;
  margin-bottom: 30px; }

.bm .bm-block-banner p strong, .bm .bm-block-banner p b {
  font-family: Lato;
  font-weight: 700; }

.bm .bm-block-banner li {
  font: normal 300 16px/18px Lato;
  margin-bottom: 20px; }

.bm .bm-block-banner li.dot {
  color: #c82059;
  height: 20px; }

.bm .bm-block-banner li.dot::after {
  content: "•";
  line-height: 19px; }

.bm .bm-block-banner li.tick + li.dot {
  display: none; }

@media only screen and (max-width: 800px) {
  .bm .bm-block-banner li.tick span[class*="b-icon-"] {
    display: none; }

  .bm .bm-block-banner li.tick + li.dot {
    display: inherit; } }
.bm .bm-block-banner li strong, .bm .bm-block-banner li b {
  font-family: Lato;
  font-weight: 700; }

.bm .bm-block-banner li span[class*=b-icon]:before {
  font-size: 22px;
  padding-right: 15px; }

.bm .bm-block-banner .l-row .o-btn {
  margin-top: 40px;
  margin-bottom: 30px; }

@media only screen and (max-width: 480px) {
  .bm .bm-block-banner .l-row .o-btn {
    width: 100%;
    float: none !important; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-block-banner .l-row .o-btn {
    margin: 30px 0; } }
.bm .bm-block-banner .b-row.b-table-row > .b-column h4 {
  font: normal 700 18px/20px Lato;
  padding: 0;
  margin: 0; }

.bm .bm-block-banner .b-row.b-table-row > .b-column h4.partners {
  position: relative;
  margin: 0; }

.bm .bm-block-banner .b-row.b-table-row > .b-column h4.partners + span[data-picture] img {
  max-height: 60px;
  max-width: 100%;
  width: 500px;
  margin: 0 auto 20px;
  padding: 0; }

@media only screen and (max-width: 800px) {
  .bm .bm-block-banner .b-row.b-table-row > .b-column {
    display: table;
    width: 100%;
    text-align: center; }

  .bm .bm-block-banner .b-row.b-table-row > .b-column span[data-picture] {
    width: 100%;
    padding: 0 10px;
    display: block; }

  .bm .bm-block-banner h3 {
    margin-top: 30px;
    text-align: center; }

  .bm .bm-block-banner li {
    text-align: center;
    margin-bottom: 10px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-block-banner h3 {
    margin-top: 20px;
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 10px; }

  .bm .bm-block-banner p {
    margin-bottom: 30px;
    font-size: 14px; } }
@media only screen and (min-width: 801px) {
  .bm .bm-block-banner .block-banner--dual {
    margin-bottom: 40px; }

  .bm .bm-block-banner .block-banner--dual .b-column > span img {
    padding: 0; }

  .bm .bm-block-banner .block-banner--dual .b-column:last-child:before {
    content: "";
    width: 1px;
    height: 100%;
    background: #ededed;
    position: absolute;
    left: 0;
    top: 0; }

  .bm .bm-block-banner .block-banner--dual .tni {
    font: normal 700 130px/130px Lato;
    width: 270px;
    margin: 30px auto 60px; }

  .bm .bm-block-banner .block-banner--dual .tni .tni--before {
    font: normal 300 35px/35px Lato;
    margin-bottom: -42px;
    margin-left: 80px; }

  .bm .bm-block-banner .block-banner--dual .tni .tni--after {
    font: normal 700 90px/90px Lato; }

  .bm .bm-block-banner .block-banner--dual h3 {
    margin-top: 30px; }

  .bm .bm-block-banner .block-banner--dual li {
    text-align: center;
    margin-bottom: 10px; }

  .bm .bm-block-banner .block-banner--dual p {
    width: 75%;
    margin: 0 auto 30px; }

  .bm .bm-block-banner .block-banner--dual p + ul {
    margin-top: 50px; } }
@media only screen and (max-width: 800px) {
  .bm .bm-block-banner .block-banner--dual .b-column:first-child {
    border-bottom: 1px solid #ededed;
    margin-bottom: 40px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-block-banner .block-banner--dual .b-column:first-child {
    margin-bottom: 30px; } }
.bm .bm-block-list > .lightgrey-bg {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 10px 20px; }

@media only screen and (max-width: 800px) {
  .bm .bm-block-list > .lightgrey-bg {
    padding: 10px; } }
.bm .bm-block-list > .lightgrey-bg h3 {
  font: normal 300 42px/45px Lato;
  padding-top: 20px;
  padding-bottom: 20px; }

@media only screen and (min-width: 621px) and (max-width: 800px) {
  .bm .bm-block-list > .lightgrey-bg h3 {
    padding-top: 30px;
    padding-bottom: 20px; } }
.bm .bm-block-list .white-bg {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 20px; }

.bm .bm-block-list .white-bg.img-bg .l-row {
  background: transparent no-repeat 0 50%; }

.bm .bm-block-list .white-bg.img-raised:last-child {
  margin-bottom: 20px; }

.bm .bm-block-list .white-bg:last-child:not(img-raised) {
  margin-bottom: 0; }

.bm .bm-block-list .white-bg .b-column {
  padding: 20px; }

@media only screen and (max-width: 800px) {
  .bm .bm-block-list .white-bg {
    margin-bottom: 10px; }

  .bm .bm-block-list .white-bg h4 {
    padding-top: 10px; } }
@media only screen and (min-width: 621px) and (max-width: 800px) {
  .bm .bm-block-list .white-bg .seven span[data-picture] {
    padding-right: 15px;
    margin-bottom: 20px;
    float: left; }

  .bm .bm-block-list .white-bg .seven span[data-picture] + h4 {
    display: table-cell;
    height: 145px;
    padding: 0;
    vertical-align: middle; } }
@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm .bm-block-list .white-bg {
    margin-bottom: 30px; }

  .bm .bm-block-list .white-bg .b-row.b-table-row > .b-column {
    display: table;
    width: 100%;
    padding: 10px; }

  .bm .bm-block-list .white-bg.img-bg .l-row {
    background: transparent no-repeat 50% 0; }

  .bm .bm-block-list .white-bg.img-bg .l-row .b-column:first-child {
    padding-bottom: 255px; }

  .bm .bm-block-list .white-bg .seven span[data-picture] {
    margin: 0 10px;
    text-align: center;
    display: block;
    float: none !important; }

  .bm .bm-block-list .white-bg .seven span[data-picture] + h4 {
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    padding-top: 20px; }

  .bm .bm-block-list .white-bg label.hide-for-small {
    display: none;
    position: absolute;
    top: -1000px; } }
.bm .bm-block-list .white-bg .b-table-row .left--col {
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0; }

.bm .bm-block-list .white-bg .b-table-row .left--col span[data-picture] {
  display: block;
  overflow: hidden;
  text-align: center;
  width: 100%;
  max-width: calc(100% - 20px );
  max-height: 100%; }

.bm .bm-block-list .white-bg .b-table-row .left--col .tni {
  font: normal 700 150px/150px Lato;
  color: #c82059;
  position: relative;
  display: block;
  width: 310px;
  margin: 0 auto; }

.bm .bm-block-list .white-bg .b-table-row .left--col .tni .tni--before {
  font: normal 300 40px/40px Lato;
  position: absolute;
  top: 7px;
  left: 88px; }

.bm .bm-block-list .white-bg .b-table-row .left--col .tni .tni--after {
  font: normal 700 100px/100px Lato; }

@media only screen and (max-width: 800px) {
  .bm .bm-block-list .white-bg .b-table-row .left--col .tni {
    width: 190px;
    font-size: 90px;
    line-height: 90px;
    height: 80px; }

  .bm .bm-block-list .white-bg .b-table-row .left--col .tni .tni--before {
    font-size: 27px;
    top: -3px;
    left: 52px; }

  .bm .bm-block-list .white-bg .b-table-row .left--col .tni .tni--after {
    font-size: 60px; } }
.bm .bm-block-list .white-bg .b-table-row .hide-for-medium-down {
  display: none; }

.bm .bm-block-list .white-bg .b-table-row .hide-for-medium-down + .b-column {
  padding-top: 20px; }

@media only screen and (min-width: 801px) {
  .bm .bm-block-list .white-bg .b-table-row .hide-for-medium-down {
    display: table-cell !important; }

  .bm .bm-block-list .white-bg span[data-picture] {
    position: absolute; }

  .bm .bm-block-list .white-bg.img-normal {
    margin-top: 10px;
    margin-bottom: 10px; }

  .bm .bm-block-list .white-bg.img-normal span[data-picture] {
    position: relative; }

  .bm .bm-block-list .white-bg.img-raised {
    margin-top: 30px;
    margin-bottom: 40px; }

  .bm .bm-block-list .white-bg.img-raised .left--col {
    vertical-align: top; }

  .bm .bm-block-list .white-bg.img-raised span[data-picture] {
    margin-top: -30px;
    margin-bottom: -30px;
    min-height: calc(100% + 60px); }

  .bm .bm-block-list .white-bg.img-raised-up {
    margin-top: 40px;
    margin-bottom: 10px; }

  .bm .bm-block-list .white-bg.img-raised-up .left--col {
    vertical-align: top; }

  .bm .bm-block-list .white-bg.img-raised-up span[data-picture] {
    margin-top: -30px;
    min-height: calc(100% + 30px); } }
.bm .bm-block-list .white-bg h4 {
  font: normal 300 35px/37px Lato;
  padding: 20px 0; }

.bm .bm-block-list .white-bg p, .bm .bm-block-list .white-bg li {
  font: normal 300 16px/19px Lato;
  margin-bottom: 20px; }

.bm .bm-block-list .white-bg p strong, .bm .bm-block-list .white-bg p b, .bm .bm-block-list .white-bg li strong, .bm .bm-block-list .white-bg li b {
  font-family: Lato Bold;
  font-weight: normal; }

@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm .bm-block-list .white-bg p, .bm .bm-block-list .white-bg li {
    font: normal 400 14px/19.6px Lato; } }
.bm .bm-block-list .white-bg li {
  clear: both;
  position: relative;
  padding-left: 37px; }

.bm .bm-block-list .white-bg li span[class*=b-icon] {
  position: absolute;
  left: 0; }

.bm .bm-block-list .white-bg li span[class*=b-icon]:before {
  font-size: 22px;
  padding-right: 15px; }

.bm .bm-block-list .white-bg input:checked + .cms {
  height: auto; }

.bm .bm-block-list .white-bg input:checked + .cms + .o-btn + .o-link > .show-label {
  display: none; }

.bm .bm-block-list .white-bg input:checked + .cms + .o-btn + .o-link > .hide-label {
  display: block; }

.bm .bm-block-list .white-bg .cms {
  overflow: hidden;
  clear: both;
  height: 0;
  -webkit-transition: height 0.8s,-webkit-transform 0.8s;
  transition: height 0.8s,transform 0.8s; }

.bm .bm-block-list .white-bg .cms + .o-btn + .o-link > .hide-label {
  display: none; }

.bm .bm-block-list .white-bg .cms + .o-btn + .o-link > .show-label {
  display: block; }

.bm .bm-block-list .white-bg .cms h5 {
  font: normal 300 25px/27px Lato;
  padding-top: 20px;
  padding-bottom: 30px; }

.bm .bm-block-list .white-bg .cms p {
  font: normal 300 16px/20px Lato;
  margin-bottom: 10px; }

.bm .bm-block-list .white-bg .o-btn, .bm .bm-block-list .white-bg .o-link {
  margin-top: 20px;
  margin-bottom: 0; }

@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm .bm-block-list .white-bg .o-btn, .bm .bm-block-list .white-bg .o-link {
    margin-top: 10px;
    width: 100%; } }
.bm .bm-block-list .white-bg .o-link {
  font: normal 700 16px/42px Lato;
  padding-right: 20px;
  vertical-align: middle;
  color: #c82059; }

@media only screen and (max-width: 321px) {
  .bm .bm-block-list .white-bg .o-link {
    display: none; } }
.bm .bm-block-list .white-bg .o-link:hover {
  text-decoration: underline; }

.bm .bm-block-list__simple .b-row {
  margin: 10px 0 0;
  padding: 25px 0 50px; }

.bm .bm-block-list__simple .shadow-top .b-row {
  background: url("../img/shadow.png") no-repeat top center; }

.bm .bm-block-list__simple .g-left::before {
  color: #b6bbc2;
  font-size: 70px;
  line-height: 47px;
  width: 60px;
  top: -2px;
  margin-right: 10px; }

.bm .bm-block-list__simple .b-icon-laptop::before {
  font-size: 62px; }

@media only screen and (min-width: 801px) {
  .bm .bm-block-list__simple .b-column {
    width: 415px; } }
@media only screen and (min-width: 801px) and (max-width: 1240px) {
  .bm .bm-block-list__simple .g-left::before {
    position: absolute;
    top: 50%;
    margin-top: -24px;
    left: 10px; }

  .bm .bm-block-list__simple .b-column {
    padding-left: 85px !important;
    vertical-align: middle; } }
@media only screen and (max-width: 800px) {
  .bm .bm-block-list__simple .b-row {
    margin: 10px 0 0;
    background: none;
    padding-top: 0; }

  .bm .bm-block-list__simple .b-row .b-column {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 33.33333%;
    width: 100%; }

  .bm .bm-block-list__simple .g-left::before {
    margin-left: -75px; }

  .bm .bm-block-list__simple .shadow-top .b-row .b-column {
    background: url("../img/shadow.png") no-repeat top center; } }
@media only screen and (max-width: 620px) {
  .bm .bm-block-list__simple .b-row .b-column {
    padding-left: 80px; }

  .bm .bm-block-list__simple h4 {
    margin-bottom: 5px; }

  .bm .bm-block-list__simple .g-left {
    float: left; }

  .bm .bm-block-list__simple .g-left::before {
    position: absolute;
    top: 50%;
    margin-top: -23px; } }
.bm .bm-simple-box-slider {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-simple-box-slider {
    padding-top: 20px;
    padding-bottom: 30px; } }
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-simple-box-slider {
    padding-bottom: 45px; } }
@media only screen and (max-width: 800px) {
  .bm .bm-simple-box-slider .b-column {
    float: none !important;
    margin-left: auto;
    margin-right: auto; } }
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-simple-box-slider .box {
    padding-bottom: 25px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-simple-box-slider .b-column {
    width: 100%; }

  .bm .bm-simple-box-slider .box {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px; } }
.bm .bm-simple-box-slider .box {
  padding-left: 15px;
  padding-right: 15px; }

.bm .bm-simple-box-slider .box .box__image {
  height: 80px; }

.bm .bm-simple-box-slider .box h3 {
  line-height: 22px;
  color: #333;
  font-size: 20px;
  font-family: Lato;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-simple-box-slider .box h3 {
    font-size: 18px;
    line-height: 20px; } }
.bm .bm-simple-box-slider .box .box__content {
  line-height: 19px;
  color: #333;
  font-size: 16px;
  font-family: Lato; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-simple-box-slider .box .box__content {
    font-size: 14px;
    line-height: 17px; } }
.bm .bm-simple-box-slider .box .box__content p:last-child {
  margin-bottom: 0; }

.bm .bm-box-slider .l-row {
  overflow: hidden; }

.bm .bm-box-slider .lightgrey2-bg {
  border-top: 1px solid #e2e2e5; }

.bm .bm-box-slider .box-slider__navi {
  height: 28px;
  margin-bottom: 40px; }

.bm .bm-box-slider .box-slider__navi li {
  line-height: 18px; }

.bm .bm-box-slider .box-slider__navi li.disabled a, .bm .bm-box-slider .box-slider__navi li.disabled a:hover, .bm .bm-box-slider .box-slider__navi li.disabled a:active, .bm .bm-box-slider .box-slider__navi li.disabled a:focus {
  color: #eff1f5;
  cursor: default; }

.bm .bm-box-slider .box-slider__navi li.item {
  padding-left: 8px; }

.bm .bm-box-slider .box-slider__navi li.prev + li.item {
  padding-left: 0; }

.bm .bm-box-slider .box-slider__navi a {
  color: #d3d3d3; }

.bm .bm-box-slider .box-slider__navi a.b-icon-pagination-visual {
  width: 5px;
  height: 5px; }

.bm .bm-box-slider .box-slider__navi a.b-icon-pagination-visual::before {
  font-size: 10px;
  line-height: 10px;
  top: -2px; }

.bm .bm-box-slider .box-slider__navi a:hover, .bm .bm-box-slider .box-slider__navi a.active {
  color: #c82059; }

.bm .bm-box-slider .box-slider__navi a:focus {
  outline: none !important;
  outline-offset: 0 !important;
  color: #0064bb; }

.bm .bm-box-slider .b-row {
  height: 100%;
  margin: 40px 0;
  -webkit-transition: margin 0.4s,-webkit-transform 0.4s;
  transition: margin 0.4s,transform 0.4s; }

.bm .bm-box-slider .b-row.noTransition {
  -webkit-transition: margin 0s;
  -moz-transition: margin 0s;
  -o-transition: margin 0s;
  transition: margin 0s; }

@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm .bm-box-slider .b-row {
    margin: 20px 0 20px; } }
.bm .bm-box-slider .b-row .b-column {
  height: 100%; }

.bm .bm-box-slider .b-column:not(.hide-for-large) > div, .bm .bm-box-slider .b-column:not(.hide-for-large) > a {
  height: 100%;
  display: block;
  color: #1f2332;
  text-align: center; }

.bm .bm-box-slider .b-column > a, .bm .bm-box-slider .b-column > a:hover, .bm .bm-box-slider .b-column > a:focus, .bm .bm-box-slider .b-column > a:active, .bm .bm-box-slider .b-column > a:visited {
  text-decoration: none; }

.bm .bm-box-slider .b-column > a:focus {
  color: #1f2332 !important;
  background-color: inherit;
  outline: 2px #0064bb solid !important; }

.bm .bm-box-slider .b-column > a.box:focus, .bm .bm-box-slider .b-column > a.box:hover {
  background-color: white;
  -webkit-box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.22); }

@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm .bm-box-slider .b-column > a.box:focus, .bm .bm-box-slider .b-column > a.box:hover {
    -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.22); } }
.bm .bm-box-slider .b-column > a.box__framed:hover {
  outline: none !important;
  border-color: #cdcdd2; }

.bm .bm-box-slider .b-column > a.box__framed:focus {
  outline: none !important;
  border: 8px solid #649BD4; }

.bm .bm-box-slider .b-column > .box {
  background-color: white;
  padding: 0 20px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: box-shadow 0.8s,-webkit-transform 0.8s;
  transition: box-shadow 0.8s,transform 0.8s; }

.bm .bm-box-slider .b-column > .box .box__image {
  margin: 0 -20px;
  position: relative;
  height: 180px;
  line-height: 180px;
  overflow: hidden; }

.bm .bm-box-slider .b-column > .box .box__image > .pos__abs {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: none; }

.bm .bm-box-slider .b-column > .box h3 {
  height: 45px;
  font-size: 20px;
  line-height: 22px; }

@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm .bm-box-slider .b-column > .box h3 {
    font-size: 18px; } }
.bm .bm-box-slider .b-column.bf__padding {
  padding-top: 41px; }

.bm .bm-box-slider .b-column > .box__framed {
  text-align: center;
  border: 8px solid #e8e8ea;
  padding: 0 20px;
  -webkit-transition: border 0.8s,-webkit-transform 0.8s;
  transition: border 0.8s,transform 0.8s; }

.bm .bm-box-slider .b-column > .box__framed .box__image {
  margin-top: -49px;
  margin-bottom: 13px; }

.bm .bm-box-slider .b-column > .box__framed h3 {
  height: 50px;
  font-size: 22px;
  line-height: 25px; }

@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm .bm-box-slider .b-column > .box__framed h3 {
    height: 45px;
    line-height: 22px;
    font-size: 18px; } }
.bm .bm-box-slider .b-column > .box__framed .cms {
  margin: 14px 0 20px; }

.bm .bm-box-slider h3 {
  display: table;
  width: 100%; }

.bm .bm-box-slider h3 > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.bm .bm-box-slider .cms {
  margin: 10px 0 20px; }

.bm .bm-box-slider .cms p {
  font-size: 16px;
  overflow: hidden; }

@media only screen and (min-width: 0) and (max-width: 620px) {
  .bm .bm-box-slider .cms p {
    font-size: 14px; } }
.bm .block-list--contact-trigger .tri-top {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px;
  border-color: rgba(30, 35, 50, 0) rgba(30, 35, 50, 0) #1e2332 rgba(30, 35, 50, 0);
  position: absolute;
  bottom: -5px;
  right: 90px; }

@media only screen and (max-width: 620px) {
  .bm .block-list--contact-trigger {
    display: none !important; } }
.bm .tf--fixed {
  position: fixed !important;
  top: 0 !important;
  margin-top: 0 !important; }

.bm .bm-title-form {
  background: #1e2332;
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease; }

.bm .bm-title-form.tf--closed {
  overflow: hidden;
  height: 70px !important; }

@media only screen and (max-width: 620px) {
  .bm .bm-title-form.tf--closed {
    height: 64px !important; } }
.bm .bm-title-form.tf--hide {
  height: 0 !important; }

.bm .bm-title-form.tf--hide .hideTrigger {
  display: none; }

.bm .bm-title-form.tf--ofHidden {
  overflow: hidden; }

.bm .bm-title-form .b-sep-bottom {
  border-bottom: 1px solid #252a3a; }

.bm .bm-title-form .b-sep-bottom .b-column {
  height: 70px;
  vertical-align: middle; }

.bm .bm-title-form .b-sep-bottom .b-column:last-child {
  text-align: right; }

.bm .bm-title-form .b-sep-bottom .b-column:last-child a.hideTrigger {
  background-color: transparent !important;
  white-space: nowrap; }

.bm .bm-title-form h4 {
  font-family: Lato Light;
  padding: 0;
  font-size: 18px;
  line-height: 19px; }

.bm .bm-title-form h4 strong {
  margin-right: 0.5em; }

.bm .bm-title-form .b-row.f-row[class] {
  margin: 0 !important;
  padding-top: 10px; }

.bm .bm-title-form .b-row.f-row[class] input {
  margin: 10px 0; }

.bm .bm-title-form .b-pt10b20 {
  padding-top: 10px;
  padding-bottom: 20px; }

.bm .bm-title-form .b-fh-46 {
  height: 46px; }

.bm .bm-title-form .checkbox-label {
  top: 50%;
  margin-top: -1em; }

.bm .bm-title-form .checkbox-label .bm-cms {
  font-family: Ariel;
  font-size: 11px;
  line-height: 12px; }

@media only screen and (max-width: 800px) {
  .bm .bm-title-form h4 {
    font-size: 16px;
    line-height: 19px; } }
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .bm .bm-title-form .b-sep-bottom .b-column {
    height: 65px; }

  .bm .bm-title-form .b-row.f-row[class] .b-column:last-child {
    float: none;
    clear: both; }

  .bm .bm-title-form .b-fh-46 {
    padding-right: 2em; }

  .bm .bm-title-form .o-btn.g-right {
    margin-top: -10px; } }
@media only screen and (min-width: 0) and (max-width: 480px) {
  .bm .bm-title-form .o-btn.g-right, .bm .bm-title-form .hideTrigger {
    float: right !important;
    width: auto; }

  .bm .bm-title-form .b-row.f-row[class] {
    padding-top: 5px; }

  .bm .bm-title-form .b-row.f-row[class] input {
    margin: 5px 0; }

  .bm .bm-title-form .b-row.f-row[class] .b-pt10b20 {
    padding-top: 5px;
    padding-bottom: 10px; } }
@media only screen and (max-width: 620px) {
  .bm .bm-title-form h4 > .hide-for-small {
    display: inline; }

  .bm .bm-title-form .b-fh-46 {
    height: 30px;
    margin: 5px 0; } }
@media only screen and (max-width: 320px) {
  .bm .bm-title-form .tooltip__dispatcher {
    display: none; }

  .bm .bm-title-form .o-btn.g-right {
    margin-top: 20px;
    width: 100%; } }