@charset "euc-kr";

/* Reset import */
@import url("s16_reset.css");

/*---------- LEFT -----------*/

.changeTop{width:1000px !important;}
.changeTop li.ov {display:block !important;}

/*---------- 탑기사 -----------*/
/*
.top_article {float:left; clear:both; width:630px; text-align:left;}
.top_article h2{font-size:31px; letter-spacing:-3px;}
.top_article img {width:630px; padding-bottom:10px;}
*/

.top_article {float:left; clear:both; width:630px; text-align:left; margin-top:-3px;}
.top_article h2{display:inline-block; font-size:31px; letter-spacing:-3px; line-height:36px;}
.top_article img {width:630px; padding-top:17px;}

/*----------.thumb_list {overflow:hidden;margin-bottom:13px;}
.thumb_list li {float:left;margin-left:10px;}
.thumb_list li:first-child {margin-left:0;}
.thumb_list li a {display:block;width:140px;}
.thumb_list li a span {display:block;height:25px;line-height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:center;color:#666;} -----------*/

/*---------- 관련기사 -----------*/
.inx_listA {width:630px; float:left; display:inline-block; margin:10px 0 0 5px;}
.inx_listA ul li {float:left; text-align:left; line-height:20px; display:inline-block; width:280px; margin:0 20px 4px 0; padding:0 0 0 15px; background:url('http://img.seoul.co.kr/img/16_listbul.gif') no-repeat left center; overflow:hidden;white-space:nowrap;text-overflow:ellipsis; letter-spacing:-1px;}
.inx_listA ul li a {color:#666;}
.inx_listA ul li a:hover{color:#f54c49;text-decoration:underline;}

.inx_listA .t.left {float:left;}
.inx_listA .t.right {float:right;}

.inx_listB {width:310px; float:left; display:inline-block; margin:20px 0 0 5px;}
.inx_listB h5 {text-align:left; font-size:16px; color:#f54c49; letter-spacing:-1px; margin-bottom:8px;}
.inx_listB ul li {/*border:1px solid #000;*/ float:left; display:inline-block; width:280px; text-align:left; font-size:14px; letter-spacing:-1px; line-height:24px; padding:0 0 0 15px; background:url('http://img.seoul.co.kr/img/16_listbul.gif') no-repeat left center; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.inx_listB ul li a {color:#666; }
.inx_listB ul li a:hover{color:#f54c49;text-decoration:underline;}

/*-- 라인 --*/
.list_mline {float:left; display:inline-block; width:630px; height:3px; margin-top:24px; background:#e9e9e9;}
.list_mline2 {float:left; display:inline-block; width:630px; height:1px; margin-top:17px; background:#e9e9e9;}
.listT_mline {float:left; display:inline-block; width:630px; height:2px; margin-top:17px; background:#d0d5d9;}
.listS_mline {float:left; display:inline-block; width:630px; height:3px; margin-top:24px; background:#555;}
.listS_mlineR {float:left; display:inline-block; width:330px; height:3px; margin-top:29px; background:#555;}
/*----------  주요기사 탑 -----------*/
/*.mNews_t1 .t ul li {border:1px solid #000; float:left; display:inline-block; text-align:left; font-size:14px; letter-spacing:-1px; line-height:24px; padding:0 0 0 15px; background:url('http://img.seoul.co.kr/img/16_listbul.gif') no-repeat left center; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}*/
/*
.mNews_t1 {clear:both; width:630px; float:left; overflow:hidden; border-bottom:1px solid #f54c49; padding-bottom:15px; margin-top:20px;}
.mNews_t1 .p {position:relative;float:left;width:195px;margin-right:13px;}
.mNews_t1 .p img {width:195px;}
.mNews_t1 .t {float:right;width:422px;}
.mNews_t1 .t h5 {text-align:left; font-size:20px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; letter-spacing:-2px; padding:10px 0 10px 0;}
.mNews_t1 .t p {overflow:hidden; text-align:left; font-size:14px; color:#666; line-height:22px; letter-spacing:-1px;}
.mNews_t1 .t ul li {text-align:left; line-height:20px; overflow:hidden; text-overflow:ellipsis;white-space:nowrap; margin:0 0px 4px 0; padding:0 0 0 15px; background:url('http://img.seoul.co.kr/img/16_listbul.gif') no-repeat left center;}
.mNews_t1 .t ul li a {color:#666;}
.mNews_t1 .t ul li a:hover{color:#f54c49;text-decoration:underline;}
*/

.mNews_t1 {clear:both; width:630px; float:left; overflow:hidden; border-bottom:1px solid #f54c49; padding-bottom:15px; margin-top:30px;}
.mNews_t1 .photo {position:relative;float:left;width:195px;margin-right:13px;}
.mNews_t1 .photo img {width:195px;}
.mNews_t1 .t {float:left; width:422px; padding-top:10px;}
.mNews_t1 .t h5 {text-align:left; font-size:20px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; letter-spacing:-2px; padding:0 0 9px 0; /*padding:10px 0 9px 0;*/}
.mNews_t1 .t p {overflow:hidden; text-align:left; font-size:14px; color:#666; line-height:22px; letter-spacing:-1px;}
.mNews_t1 .txt {float:left; overflow:hidden; text-align:left; font-size:14px; color:#666; line-height:22px; letter-spacing:-1px;}
.mNews_t1 .t ul li {text-align:left; line-height:20px; overflow:hidden; text-overflow:ellipsis;white-space:nowrap; margin:0 0px 4px 0; padding:0 0 0 15px; background:url('http://img.seoul.co.kr/img/16_listbul.gif') no-repeat left center;}
.mNews_t1 .t ul li a {color:#666;}
.mNews_t1 .t ul li a:hover{color:#f54c49;text-decoration:underline;}
.NAtitletop {float:left; width:422px; padding-bottom:4px;}
.NAtitletop2 {font-size:19px; font-weight:bold; overflow:hidden;white-space:nowrap;text-overflow:ellipsis; padding-bottom:3px;}

/*---------- 주요기사 탑2 -----------*/
.mNews_t2 {float:left; clear:both; width:630px; text-align:left;}
.mNews_t2 h5 {font-size:28px; line-height:38px; letter-spacing:-2px; padding-bottom:5px;}


/*----------  주요기사 리스트 -----------*/
/*.inx_liststB li {text-align:left; width:490px; font-size:14px;  font-weight:normal; padding:0 0 0 15px; background:url('http://img.seoul.co.kr/img/16_listbul.gif') no-repeat left center; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}*/
/*
.inx_Alist {clear:both; float:left; width:630px; text-align:left; padding-top:25px;}
.inx_Alist ul.alllist_part > li {clear:both; padding-bottom:16px; font-size:19px;  letter-spacing:-1px; font-weight:bold; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.Rarticle {width:630px; /border:1px solid #E0E0E0;8/ /border-bottom:#e9e9e9 1px solid; margin-bottom:25px;/}
.inx_Alist ul.alllist_part .alllist_txtA {margin-top:10px;}
.inx_Alist ul.alllist_part .alllist_txt {margin-top:8px;}
.inx_Alist ul.alllist_part .alllist_txt img {float:left; display:inline-block; width:110px;height:73px; padding-right:13px;}
.inx_liststA li {clear:both; text-align:left; width:615px; font-size:14px; line-height:19px; font-weight:normal; margin:0 0px 5px 0; padding:0 0 0 15px; background:url('http://img.seoul.co.kr/img/16_listbul.gif') no-repeat left center; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.inx_liststA li a {color:#666;}
.inx_liststA li a:hover{color:#f54c49;text-decoration:underline;}
.inx_liststB li {/border:1px solid #e9e9e9;/ float:left; display:inline-block;  width:490px; text-align:left; padding-left:15px; font-size:14px; font-weight:normal; height:22px;_height:20px; margin-bottom:1px;*margin-bottom:0; background:url('http://img.seoul.co.kr/img/16_listbul.gif') no-repeat left center;}
.inx_liststB li a {color:#666;}
.inx_liststB li a:hover{color:#f54c49;text-decoration:underline;}
*/

.inx_Alist {clear:both; float:left; width:630px; text-align:left; padding-top:25px;}
.inx_Alist ul.alllist_part > li {clear:both; width:630px; padding-bottom:17px; font-size:19px; letter-spacing:-1px; font-weight:bold; overflow:hidden; /*white-space:nowrap;text-overflow:ellipsis;*/}
.Rarticle {float:left; width:630px;}
.Rarticle p {flote:left; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.inx_Alist ul.alllist_part .alllist_txtA {margin-top:10px;}
.inx_Alist ul.alllist_part .alllist_txt {margin-top:17px;}
.inx_Alist ul.alllist_part .alllist_txt img {float:left; display:inline-block; width:110px;height:73px; padding-right:13px;}

.inx_Alist ul.alllist_part .alllist_txt2 {margin-top:6px;}

.Nphoto {float:left; display:inline-block; width:125px;}
.Nphoto img {width:110px;height:73px;}

.Narticle {float:left; display: inline-block; width:505px;}
.NAtitle {float:left; width:500px; padding-bottom:4px;}
.NAtitle2 {float:left; width:500px; padding-bottom:4px;font-size:19px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;} /*leejy*/
.Nlead {width:470px; font-size:14px; color:#666; font-weight:normal; line-height:21px;}

.inx_liststA li {text-align:left; width:615px; font-size:14px; line-height:19px; font-weight:normal; margin:5px 0px 5px 0; padding:0 0 0 15px; background:url('http://img.seoul.co.kr/img/16_listbul.gif') no-repeat left center; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.inx_liststA li a {color:#666;}
.inx_liststA li a:hover{color:#f54c49;text-decoration:underline;}

/*.inx_liststB li {text-align:left; width:490px; font-size:14px;  font-weight:normal; padding:0 0 0 15px; background:url('http://img.seoul.co.kr/img/16_listbul.gif') no-repeat left center; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}*/
.inx_liststB li {/*border:1px solid #e9e9e9;*/ float:left; display:inline-block;  width:490px; text-align:left; padding-left:15px; font-size:14px; font-weight:normal; height:22px;_height:20px; margin-bottom:1px;*margin-bottom:0; background:url('http://img.seoul.co.kr/img/16_listbul.gif') no-repeat left center; overflow:hidden; white-space:nowrap;text-overflow:ellipsis;}
.inx_liststB li a {color:#666;}
.inx_liststB li a:hover{color:#f54c49;text-decoration:underline;}

/* cju
.labelnews_NF {display:inline;vertical-align:bottom; margin-right:7px; padding:1px 5px 1px 5px; background:#f54c49; text-align:center; font-size:13px; color:#fff; font-weight:normal;}
.labelnews_EA {display:inline;vertical-align:bottom; margin-right:7px; padding:1px 5px 1px 5px; background:#6049f5; text-align:center; font-size:13px; color:#fff; font-weight:normal;}
.labelnews_S {display:inline;vertical-align:bottom; margin-right:7px; padding:0px 5px 0px 5px; border:1px solid #f54c49;  text-align:center; font-size:13px; color:#f54c49; font-weight:normal;}
*/
/*
.labelnews_NF {display: inline-block; height:20px; vertical-align:top; margin-top:4px; margin-right:7px; padding:0px 5px 1px 5px; background:#f54c49; line-height: normal; text-align:center; font-size:13px; color:#fff; font-weight:normal;}
.labelnews_EA {display: inline-block; height:20px; vertical-align:top; margin-top:4px; margin-right:7px; padding:0 5px 1px 5px; background:#6049f5; line-height: normal; text-align:center; font-size:13px; color:#fff; font-weight:normal;}
.labelnews_S {display: inline-block; height:20px; vertical-align:top; margin-top:4px; margin-right:7px; padding:0px 5px 1px 5px; border:1px solid #f54c49; line-height: normal; text-align:center; font-size:14px; color:#f54c49; font-weight:normal;}
*/

.labelnews_NF {clear:both; float:left; display: inline-block; height:20px; padding:0 5px; margin-right:5px; margin-top:4px; background:#f54c49;  text-align:center; font-size:13px; color:#fff; font-weight:normal; /*border:1px solid #000; */}
.labelnews_txt {float:left;  display:inline-block; /*border:1px solid #000;*/ margin:0;padding:0; line-height:18px;}
.labelnews_EA {clear:both; float:left; display: inline-block; height:20px; margin-right:5px; margin-top:4px; padding:0 5px; background:#6049f5; text-align:center; font-size:13px; color:#fff; font-weight:normal;}
.labelnews_S {clear:both; float:left; display: inline-block; height:20px;  margin-top:4px; margin-right:5px; padding:0 5px; border:1px solid #f54c49; text-align:center; font-size:13px; color:#f54c49; font-weight:normal;}
 
.labelnews_NF_B {clear:both; float:left; display: inline-block; height:25px; padding:0 8px; margin-right:5px; margin-top:7px; background:#f54c49;  text-align:center; font-size:16px; color:#fff; font-weight:bold; /*border:1px solid #000; */}
.labelnews_txt_B {float:left;  display:inline-block; /*border:1px solid #000;*/ margin:0;padding:0; line-height:20px;}
.labelnews_txt_B a:hover{text-decoration:none;}
.labelnews_EA_B {clear:both; float:left; display: inline-block; height:25px; margin-right:5px; margin-top:7px; padding:0 8px; background:#6049f5; text-align:center; font-size:16px; color:#fff; font-weight:normal;}
.labelnews_S_B {clear:both; float:left; display: inline-block; height:25px;  margin-top:7px; margin-right:5px; padding:0 8px; border:1px solid #f54c49; text-align:center; font-size:16px; color:#f54c49; font-weight:normal;}

/*--- 라벨 칼라만 지정---*/
.newlabel_NF{color:#f53633;display:inline-block;}
.newlabel_EA{color:#3c2cf2;display:inline-block;}
.newlabel_S{color:#368d27;display:inline-block;}


/*---------- RIGHT -----------*/

/*---------- 가장 많이 본 뉴스 -----------*/

.best_view {clear:both; float:left; width:328px; border:1px solid #d0d5d9; text-align:left; position:relative;}
.best_view .bvtit {width:313px; height:31px; background-color:#f4f4f4; border-bottom:1px solid #d0d5d9; font-size:16px; color:#000; font-weight:bold; padding:7px 0 0 15px;}
.best_view ul {float:left; margin:18px 0 12px;}
.best_view li {float:left; font-size:14px; letter-spacing:-1px; height:30px; width:315px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.best_view li img {float:left; padding:5px 7px 0 8px;}
.bv_i {position:absolute; bottom:0; right:0;}

/*-- 나우뉴스 최신 뉴스 추가 2016.1130 --*/
.best_view li.now {float:left; font-size:14px; letter-spacing:-1px; height:30px; width:315px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis; padding-left:13px;}
.best_view li.now img {float:left; padding:9px 7px 0 8px;}


/*서울EYE - 포토*/

.seouleye {clear:both; float:left; display:inline-block; width:330px; text-align:left; font-size:16px; /*border:1px solid #000;*/}
.inseouleye {display:inline-block; width:300px; background-color:#d9d9d9; padding:14px 15px; text-align:center;}
.bigphoto {}
.bigphoto img {margin-bottom:3px;}
.bigphoto span {font-size:16px; font-weight:bold; letter-spacing:-1px;}
.seouleye ul {}
.seouleye li {float:left; margin-right:2px; margin-top:7px;}
.seouleye li img {width:58px; height:39px;}

/*나우뉴스 - nownews */

.nownews {clear:both; float:left; display:inline-block; width:330px; text-align:left; font-size:16px; /*border:1px solid #000;*/}
.nownews_txtlist {width:320px; display:inline-block; border-top:1px solid #e9e9e9; margin:0 5px; padding:10px 0 0;}


/*서울En - 방송·연예*/
.en {clear:both; float:left; display:inline-block; width:330px; text-align:left; font-size:16px; /*border:1px solid #000;*/}

/*서울신문이 만난 사람들*/
.svt {clear:both; float:left; display:inline-block; width:330px; text-align:left; font-size:16px; padding-top:10px;/*border:1px solid #000;*/}

/*정치/경제/사회*/
.PnEnS {clear:both; float:left; display:inline-block; width:330px; font-size:16px;}

/*서울Pn*/
.pn {clear:both; float:left; display:inline-block; width:330px; text-align:left; font-size:16px; /*border:1px solid #000;*/}


/*스포츠/연애*/
.SnE {clear:both; float:left; display:inline-block; width:330px; font-size:16px; /*border:1px solid #000;*/}

/*국제/문화*/
.inc {clear:both; float:left; display:inline-block; width:330px; font-size:16px; /*border:1px solid #000;*/}

/*웰메이드*/
.wellmade {clear:both; float:left; display:inline-block; width:330px; text-align:left; font-size:16px; /*border:1px solid #000;*/}


/*알려드립니다*/
.notice {clear:both; float:left; display:inline-block; width:330px; text-align:left; font-size:16px; /*border:1px solid #000;*/}



/*---MIDDLE--*/

/*사설/오피니언*/
.LAnOP {float:left; width:308px; /*border:1px solid #000;*/ margin:18px 0 0 25px; text-align:left;}
.lotit {font-size:16px; color:#f54c49; font-weight:bold; letter-spacing:-1px; margin-bottom:6px;}
.lotit img{margin-left:8px;margin-top:8px;}

/*디지털뉴스*/
.Dnews {float:left; width:610px;/*border:1px solid #000;*/ margin:18px 25px 0 32px; text-align:left;}
.Dntit {font-size:16px; color:#f54c49; font-weight:bold; letter-spacing:-1px; margin-bottom:16px;}
.Dntit img{margin-left:8px;margin-top:8px;}


/*디지털뉴스*/

.DGNews{float:left; margin:0 auto; position:relative;}
.DGNews ul{/* padding: 1px; */}
.DGNews ul:after{content:""; display:block; clear:both;}
.DGNews ul > li{position:relative; float:left;/*margin:0 1px 1px 0;*/ width:300px; height:200px; cursor:pointer; background:black;}


.DGNews ul > li .overBg{background:rgba(20,50,45,0); position:absolute; left:0; top:0; width:100%; height:100%; z-index:10; text-indent:-9999px;}
.DGNews ul > li:hover .overBg{background: rgba(221,80,2,0.2);}
/*.photoNews ul > li:first-child{width: 435px; height:291px; overflow:hidden;}
.photoNews ul > li:first-child img{width:435px; height:291px;}*/
.DGNews ul > li img{/*width:300px; height:200px;*/}
.DGNews_play {clear:both; position:absolute; top:13px; right:15px;}
.DGNews_play img {clear:both; width:39px; height:39px;}



.DGNews ul > li .txt{
	position: absolute;
	z-index:11;
	left: 0;
	bottom: 0;
	color: #fff;
	font-family: '맑은 고딕','Malgun Gothic',나눔고딕,돋움,Dotum,굴림,Gulim,sans-serif;
	font-size: 15px;
    letter-spacing:-1px;
	padding: 30px 0px 10px 5px;
	width: 300px;
	box-sizing:border-box;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;
    background: -moz-linear-gradient(top, transparent 30%, #000 90%);
    background: -webkit-gradient(linear, left 30%, left 90%, from(transparent), to(#000));
    background: -o-linear-gradient(top, transparent 30%, #000 90%);
	background: -ms-linear-gradient(top, transparent 30%, #000 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#fa000000',GradientType=0 ); /* IE6-8 */
	text-shadow: 0 1px 1px #000;
}




/*.Rhit{width:300px; height:435px; float:right; margin:35px 0 35px; /*border:1px solid #cccccc;*/



/*리스트 타입*/
/*
.photo_list {clear:both; float:left; display:inline-block; width:330px; margin-bottom:10px;/*border:1px solid #000;}
.photo_list li {float:left; display:inline-block; width:157px; margin-top:13px;}
.photo_list li img {width:157px; height:105px; margin-bottom:6px;}
.pltit {clear:both; width:149px; font-size:13px; /*border:1px solid #000; margin-left:4px; letter-spacing:-1px;}
*/

.photo_list {clear:both; float:left; display:inline-block; width:330px; margin-bottom:10px;/*border:1px solid #000;*/}
.photo_list li {position:relative;float:left; display:inline-block; width:157px; margin-top:13px;}
.photo_list li img {width:157px; height:105px; margin-bottom:6px;}
.photo_list p img {width:30px; height:30px;}
.pltit {clear:both; width:149px; font-size:13px; /*border:1px solid #000;*/ margin-left:4px; letter-spacing:-1px;}
.PL_play {display:inline-block; position:absolute; top:8px; right:8px;}
.PL_play img {width:30px; height:30px;}


.photo_list2 {clear:both; float:left; margin-top:13px;}
.photo_list2 li {clear:both; width:330px; height:70px; margin-bottom:10px;}
.photo_list2 li img {float:left; width:70px; height:70px; /*border-radius:40px;*/ margin-right:10px;}
.pltit2 {float:left; width:250px; font-size:14px; /*border:1px solid #000;*/ line-height:22px; letter-spacing:-1px; margin-top:9px;}

/*사설 오피니언용 리스트*/
.photo_list3 {clear:both; float:left; display:inline-block; margin-top:13px;}
.photo_list3 li {clear:both; position:relative; float:left; display:inline-block; width:295px;height:92px;background:url('http://img.seoul.co.kr/img/16_simbol.gif') no-repeat; padding:7px 8px 0 13px; margin-bottom:8px;}
.photo_list3 li img {float:left; margin-right:17px; margin-bottom:10px;}
.test {width:75px; height:75px;}
.pltit3 {float:left; width:200px; font-size:15px; font-weight:bold;/*border:1px solid #000;*/ line-height:24px; letter-spacing:-1px; margin-top:14px;}
.pltit3noimg {float:left; width:295px; font-size:15px; font-weight:bold; /*border:1px solid #000;*/ line-height:24px; letter-spacing:-1px; margin-top:14px;}
.plmask {position:absolute; top:0; left:0;}

.photo_list4 {clear:both; float:left; display:inline-block; width:330px; margin-bottom:10px;/*border:1px solid #000;*/}
.photo_list4 li {float:left; display:inline-block; width:105px; margin-top:13px; margin-right:7px;}
.photo_list4 li img {width:105px; height:70px; margin-bottom:8px;}
.pltit4 {clear:both; width:105px; font-size:12px; letter-spacing:-1px; text-align:left;}

.photo_list5 {clear:both; float:left; /*display:inline-block;*/ width:630px; margin-bottom:10px;/*border:1px solid #000;*/ text-align:left;}
.photo_list5 li {float:left; /*display:inline-block;*/ width:150px; margin:20px 10px 6px 0;}
.photo_list5 li img {width:150px; height:100px; margin-bottom:8px;}
.pltit5 {clear:both; width:140px; font-size:13px; /*border:1px solid #000;*/ margin-left:4px; letter-spacing:-1px;}


.photo_list6 {clear:both; float:left; margin-top:13px;}
.photo_list6 li {clear:both; width:330px; height:70px; margin-bottom:10px;}
.photo_list6 li img {float:left; width:105px; height:70px; /*border-radius:40px;*/ margin-right:10px;}
.pltit6 {float:left; width:215px; font-size:14px; /*border:1px solid #000;*/ line-height:22px; letter-spacing:-1px; margin-top:9px;}


.photo_list7 {clear:both; float:left; /*display:inline-block;*/ width:630px; margin-bottom:10px;/*border:1px solid #000;*/ text-align:left;}
.photo_list7 li {float:left; /*display:inline-block;*/ width:195px; margin:20px 22px 6px 0;}
.photo_list7 li img {width:195px; margin-bottom:8px;}
.pltit7 {clear:both; width:185px; font-size:13px; /*border:1px solid #000;*/ margin-left:4px; letter-spacing:-1px;}


.txt_list {clear:both; width:100%;}
.txt_list li {font-size:14px; line-height:27px; text-align:left; letter-spacing:-1px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.first {font-weight:bold;}


.txt_list2 {clear:both; display:inline-block; width:100%; margin-top:9px;}
.txt_list2 li {background:url('http://img.seoul.co.kr/img/16_arrow_i.gif') 5px 11px no-repeat; padding-left:15px; font-size:14px; line-height:27px; font-weight:bold; text-align:left; letter-spacing:-1px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.txt_list3 {clear:both; display:inline-block; width:100%; margin-top:9px;}
.txt_list3 li {/*background:url('../img/16_arrow_i.gif') 5px 11px no-repeat;*/ padding-left:10px; font-size:14px; line-height:27px; /*font-weight:bold;*/ text-align:left; letter-spacing:-1px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}


.Photo_hl {float:left; width:105px; text-align:left; font-size:12px; margin-top:17px;}
.Photo_hl img {width:105px; height:70px; margin-bottom:6px;}
.txtlist_w210 {float:left; width:210px;  margin-top:15px; margin-left:15px; text-align:left;}







/*기타*/
.space {clear:both; display:block; height:35px;}

.box_tit {float:left; width:330px; height:27px; letter-spacing:-1px;}
.box_tit_S {float:left; width:330px; height:36px; letter-spacing:-1px; background-color:#f54c49;}
.box_tit2 {float:left; width:330px; height:27px; letter-spacing:-1px; border-bottom:1px solid #d0d5d9;}
.box_tit3 {float:left; width:630px; height:30px; letter-spacing:-1px; border-bottom:1px solid #d0d5d9;}
.box_tit4 {float:left; width:330px; height:36px; letter-spacing:-1px; background:#f54c49;}

/*
.box_tabtit {float:left; width:330px; height:31px; font-size:16px; font-weight:bold; border-bottom:1px solid #d0d5d9; padding-bottom:8px;}
.box_tabtit li {float:left; width:109px; border-right:1px solid #d0d5d9; height:28px; padding-top:3px;}
.box_tabtit li a {text-decoration:none;}
.tabtit_s {float:left; width:110px; height:28px; padding-top:3px; background:#f54c49; color:#fff; font-weight:normal;}
.tabtit_s a {text-decoration:none;color:#fff;}
.tabtit_s a:hover {text-decoration:none;color:#fff;}
*/

.box_tabtit {float:left; width:330px; background:url(/img/16_Rtab_bg.gif) right top repeat-y; height:31px; font-size:16px; font-weight:bold; margin-bottom:8px;/* border-bottom:1px solid #d0d5d9;margin-bottom:8px;*/}
.box_tabtit ul {display:inline-block; border-bottom:1px solid #d0d5d9; padding-bottom:8px; }
.box_tabtit li {float:left; width:109px; border-left:1px solid #d0d5d9; height:28px; padding-top:3px;}
.box_tabtit li a {text-decoration:none;}
.tabtit_s {float:left; width:110px; height:28px; padding-top:3px; background:#f54c49; color:#fff; font-weight:normal;}
.tabtit_s a {text-decoration:none;color:#fff;} /*leejy*/
.tabtit_s a:hover {text-decoration:none;color:#fff;} /*leejy*/



/*
.box_tabtit2 {float:left; width:330px; height:31px; font-size:16px; font-weight:bold; border-bottom:1px solid #d0d5d9; padding-bottom:8px;}
.box_tabtit2 li {float:left; width:164px; border-right:1px solid #d0d5d9; height:28px; padding-top:3px;}
.box_tabtit2 li a {text-decoration:none;}
.tabtit2_s {float:left; width:165px; height:28px; padding-top:3px; background:#f54c49; color:#fff; font-weight:normal;}
.tabtit2_s a {text-decoration:none;color:#fff;}
.tabtit2_s a:hover {text-decoration:none;color:#fff;}
*/

.box_tabtit2 {float:left; width:330px; background:url(http://img.seoul.co.kr/img/16_Rtab_bg.gif) right top repeat-y; height:31px; font-size:16px; font-weight:bold; margin-bottom:8px;/*border-bottom:1px solid #d0d5d9; padding-bottom:8px;*/}
.box_tabtit2 ul {display:inline-block; border-bottom:1px solid #d0d5d9; padding-bottom:8px; }
.box_tabtit2 li {float:left; width:164px; border-left:1px solid #d0d5d9; height:28px; padding-top:3px;}
.box_tabtit2 li a {text-decoration:none;}
.tabtit2_s {float:left; width:165px; height:28px; padding-top:3px; background:#f54c49; color:#fff; font-weight:normal;}
.tabtit2_s a {text-decoration:none;color:#fff;} /*leejy*/
.tabtit2_s a:hover {text-decoration:none;color:#fff;} /*leejy*/



.box_sectit {float:left; margin-left:7px; margin-top:-5px; color:#000;}
.box_sectit_S {float:left; margin-left:9px; margin-top:5px; color:#fff;}
.box_more {float:right; margin-right:12px; margin-top:2px; height:25px;}
.box_more2 {float:right; margin-right:12px; margin-top:12px; height:36px;}


.noneAstyle{text-decoration:none;}
.noneAstyle:hover{text-decoration:none;color:#222;}
.noneAstyle:visited{text-decoration:none;}
.noneAstyle:visited{text-decoration:none;}
