
.title{/*background-color:#fff;*/}
.title_inner_art{/*background-color:#dadaed; border-bottom:1px solid #d9d9d9;*/ margin-bottom:13px; display:inline-block;}  /*기사제목영역*/
.title_inner2{/*background-color:#dadaed;*/height:304px; margin-top:27px; margin-bottom:35px; display:inline-block;}
.title_inner{/*background-color:#dadaed;*/height:150px; /*border-bottom:1px solid #d9d9d9; margin-top:27px;*/ margin-bottom:8px;}  /*상단광고영역*/
.title_fixed {clear:both; display:inline; background:url('http://img.seoul.co.kr/img/16_mhide_bg.png') repeat-x 0 bottom; height:60px; /*margin-bottom:14px;*/ width:100%;position:fixed;top:0px;left:0px;}


/*----------VIEW-----------*/

/*기사 제목*/
.article_tit {clear:both; float:left; display:inline-block; padding-top:8px; padding-bottom:8px; border-bottom:1px solid #d9d9d9; letter-spacing:-1px;}
.article_tit .sction {float:left; display:inline-block; width:165px; padding:12px 10px 0; /*height:111px;*/ text-align:center; font-size:27px; letter-spacing:-2px; word-break:keep-all;}
.article_tit .atit {float:left; /*min-height:110px;*/ display:inline-block; width:744px; font-size:33px; /*font-weight:bold;*/  padding:10px 30px 0 40px; text-align:left; line-height:40px; border-left:1px solid #d9d9d9;}
.stit {padding-top:7px; font-size:19px; line-height:25px; color:#999;}
.date {/*padding-top:15px;*/ margin-right:-10px; font-size:12px; color:#999; text-align:right; line-height:21px;}


/*기사 본문위 SNS&글짜크기&프린터*/
.v_snt {float:left; display:inline-block; width:630px; /*margin-top:32px;*/ padding-bottom:25px; /*border:1px solid #000;*/}
.v_sns {float:left; width:400px; font-size:18px; color:#f54c49; font-weight:bold; text-align:left;}
.v_sns img {margin-right:4px;}
.v_reply {display:inline-block; margin-top:6px; margin-left:5px; /*border:1px solid #000;*/}
.v_txtnprint {float:left; width:230px; text-align:right; margin-top:11px;} 
.v_txtnprint img {margin-left:10px;}

/*기사본문*/
.v_article {clear:both; float:left; display:block; width:630px; text-align:left; font-size:18px; line-height:1.95; letter-spacing:-1px;}

/*기사본문내 date*/
.VCdate {width:630px; float:left; padding-top:20px; text-align:right; font-size:18px;}

/*기사본문내 관련 키워드*/
.VCkeyword {width:630px; float:left; padding-top:10px; text-align:left; font-weight:bold; letter-spacing:-1px;}

.keywordView { clear:both; display:inline-block; width:630px; float:left; margin-top:20px; margin-bottom:34px;}
.keywordView > img, #keyword > strong, #keyword > span { display:none; }
.keywordView dl { display:inline;}
.keywordView dl dd { display:inline; float:left; margin-bottom:10px;}
.keywordView dl dd a { margin-right:6px; padding:2px 5px; background:#f6e2d6; border-radius:2px; font-size:15px; line-height:1; }


/*기사본문내 사진 
.v_photoarea_table {margin:0 auto;text-align:left;max-width:630px; border:1px solid #000;}
.v_photoarea {float:none;text-align:center; max-width:630px; margin-bottom:51px;}
.v_photoarea_L {float:left;text-align:center; max-width:630px; margin-bottom:51px; margin-right:20px;}
.v_photoarea_R {float:right;text-align:center; max-width:630px; margin-bottom:51px; margin-left:20px;}
.v_photo_caption {font-size:12px; color:#777; line-height:1.4; padding-top:11px;}
.v_photo {position:relative;}
.v_photo img {}
.expand {height:0px;text-align:right;padding:0px;margin:0px;border:0px;line-height:0px;}
.expand img {position:absolute;cursor:hand;bottom:8px;right:8px}*/


/*기사본문내 사진*/
.v_photoarea {float:none;text-align:center; max-width:630px; margin-bottom:20px;}
.v_photoarea_L {float:left;text-align:center; max-width:630px; margin-bottom:20px; margin-right:20px;}
.v_photoarea_R {float:right;text-align:center; max-width:630px; margin-bottom:20px; margin-left:20px;}
.v_photo_caption {text-align:left; font-size:12px; color:#777; line-height:1.4; padding-top:11px;}
.v_photo {/*position:relative;*/ margin:0 auto;}
.v_photo img {margin:0 auto;}	
/*.expand {height:0px;text-align:right;padding:0px;margin:0px;border:0px;line-height:0px;}*/
/*.expand img {position:absolute;cursor:hand;bottom:8px;right:8px}*/



/*관련기사*/
/*
.v_relative_a {clear:both; float:left; display:inline-block; width:630px; background:#e9e9e9; font-size:18px; text-align:left;}
.v_relative_a .rtit {display:inline-block; width:630px; height:51px; border-bottom:1px solid #fff;}
.v_relative_a .rtit span {display:block; color:#f54c49; font-weight:bold; margin:16px 0 0 21px;}
.v_relative_a ul {margin:15px 0;}
.v_relative_a li {padding-left:40px; height:38px; font-weight:bold; background:url('http://img.seoul.co.kr/img/16_listbul.gif') 24px 10px no-repeat;}
*/


/*관련기사*/
.v_relative_a {clear:both; float:left; display:inline-block; width:630px; background:#e9e9e9; font-size:18px; text-align:left;}
.v_relative_a .rtit {display:inline-block; width:630px; height:51px; border-bottom:1px solid #fff;}
.v_relative_a .rtit span {display:block; color:#f54c49; font-weight:bold; margin:16px 0 0 21px;}
.v_relative_a ul {margin:15px 0;}
.v_relative_a li {width: 580px; padding-left:40px; margin-right:10px; height:38px; font-weight:bold; background:url('http://img.seoul.co.kr/img/16_listbul.gif') 24px 10px no-repeat; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}


/*추천기사*/
.v_rectit {float:left; height:33px; width:630px; border-bottom:1px solid #d9d9d9; font-size:18px; font-weight:bold; text-align:left;}
.v_recom {clear:both; float:left; display:inline-block; width:350px;/*border-bottom:1px solid #f54c49;*/ font-size:17px; text-align:left; letter-spacing:-1px;}
.v_recom ul {margin:21px 0;}
.v_recom li {width:320px; height:38px; padding-left:11px; background:url('http://img.seoul.co.kr/img/16_arrow_i.gif') 1px 10px no-repeat; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.v_recline {float:left; height:1px; width:630px; background:#f54c49;} 

.recom_first a {color:#f54c49; font-weight:bold;}



/*추천기사_포토*/

.rec_photo {float:left; margin-top:20px; position:relative; color:#fff;}
.rec_photo {position:relative; float:left;/*margin:0 1px 1px 0;*/ width:280px; height:187px; cursor:pointer; background:black;}
.rec_photo a:hover {color:#fff; text-decoration:underline;}

.rec_photo .overBg {background:rgba(20,50,45,0); position:absolute; left:0; top:0; width:280px; height:187px; z-index:10; text-indent:-9999px;}
.rec_photo img{width:280px; height:187px; }



.rec_photo .txt{
	position: absolute;
	z-index:11;
	left: 0;
	bottom: 0;
	color: #fff;
	font-family: '맑은 고딕','Malgun Gothic',나눔고딕,돋움,Dotum,굴림,Gulim,sans-serif;
	font-size: 15px;
	text-align:left;
    letter-spacing:-1px;
	padding: 30px 5px 10px 5px;
	width: 270px;
	box-sizing:border-box;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space:nowrap;
    background: -moz-linear-gradient(top, transparent 30%, #000 90%);
    background: -webkit-gradient(linear, left 30%, left 90%, from(transparent), to(#000));
    background: -o-linear-gradient(top, transparent 30%, #000 90%);
	background: -ms-linear-gradient(top, transparent 30%, #000 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#fa000000',GradientType=0 ); /* IE6-8 */
	text-shadow: 0 1px 1px #000;
}

.rec_photo .txt a{color:#fff;}




.v_hotphoto {clear:both; float:left; width:630px; font-size:18px;}

/*메뉴 감추기_주요뉴스*/
.v_hide_mnews {float:left; width:530px; text-align:left; font-size:17px; margin-top:8px; font-weight:bold; letter-spacing:-1px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.v_hide_ci {float:left; width:283px; background:#fff; margin-top:7px; /*border:1px solid #000;*/font-size:20px; font-weight:bold; text-align:left; letter-spacing:-1px;}

/*메뉴 감추기_sns*/
.v_hide_sns {float:left; width:187px; text-align:right; margin-top:14px;}
.v_hide_sns img {margin-left:10px;}



/*포토 리스트*/
.Particle_v {float:left;width:630px;}
.Particle_v .list {clear:both;display:inline-block;margin-top:15px;}
.Particle_v .list li {float:left;width:195px;margin:20px 0 25px 22px;}
.Particle_v .list li.FF {float:left;width:195px;margin:20px 0 25px 0;}
.Particle_v .list li .p {display:block;width:195px;height:130px; background:#202022;text-align:center;}
.Particle_v .list li .p img {vertical-align:middle; height:130px;}
.Particle_v .list li .p span {display:inline-block;width:0;height:100%;overflow:hidden;vertical-align:middle;}
.Particle_v .list li .t {display:block;margin-top:10px; height:20px; letter-spacing:-1px; text-align:center;}



/*---------- SECTION -----------*/

/* 리스트상단광고 */
.sec_ADL {float:left;}
.sec_ADR {float:right;}

/* 카테고리 */
.s_tit {clear:both; float:left; padding:13px 0 39px 0}
.s_tit h3 {display:block;  text-align:left; font-size:22px; font-weight:normal; padding-bottom:27px;}
.s_tit h5 {clear:both; display:block;  text-align:left; font-size:22px;}

/* 데이트tab */
.s_date {float:left; width:630px; letter-spacing:-1px; background:#e9e9e9; border-bottom:1px solid #f54c49;}
.s_date ul {float:left; /*position:relative;*/}
.s_date ul li {float:left; display:block; padding:11px 15px 15px 15px;}
.s_date ul li:first-child {color:#f14922;}
.s_date ul li:first-child a {color:#f14922;}

.s_date p {float:right; width:88px; margin-top:11px; padding:0 0 3px 12px; /*background:url('http://img.seoul.co.kr/img/16_calendar.gif') no-repeat left center;*/}
.s_date p a {text-decoration:none;}

/*리스트*/
#list_area {/*border:1px solid #d8d9d9;*/ clear:both; width:630px; /*margin:20px 0 18px;_margin-bottom:16px;*/ float:left; text-align:left; border-bottom:1px solid #ececec; padding-bottom:25px;}

.s_article {float:left; width:630px; padding-bottom:35px;}
.s_article img {margin:0;padding:0;text-align:center; vertical-align:middle;}

.s_article dt {margin-bottom:3px; padding:0 3px 0 0;overflow: hidden; zoom:1}
.s_article dd.thumb {float:left; position: relative; margin-right:12px; display:block; width:195px; height:130px; background:#e3e3e3; text-align:center;}
.s_article dd.thumb span {display:inline-block;width:0;height:100%;overflow:hidden;vertical-align:middle;}
.s_article #tit {/*border:1px solid #d8d9d9;*/ width:100%; display:block; line-height:130%; font-size:20px; font-weight:bold; letter-spacing:-1px;}
.s_article #tit_noimg {margin-top:-6px; width:100%; display:block; line-height:130%; font-size:20px; font-weight:bold; letter-spacing:-1px;}
.s_article #date {/*border:1px solid #d8d9d9;*/ display:block; padding-top:9px; line-height:100%; font-size:12px; color:#888; }
.s_article dd.sub {display:block; text-align:left; color:#888; line-height:130%; padding-top:3px;}

/*페이징 */
.paginate {padding:30px 0 30px; text-align:center;} 
.paginate a{display: inline-block; position: relative;padding:4px 8px 5px 8px; line-height:100%; border: 1px solid #fff;font-size: 12px; font-weight:bold;font-family: Verdana;color: #666;line-height: normal;text-decoration: none;vertical-align: top;}
.paginate a:hover {color:#e43812;border:1px solid #e7e7e7; text-decoration:none;}
.paginate a.selected {background-color:#de4a39; color:#fff;}
.paginate strong {display: inline-block; position: relative;padding:4px 8px 5px 8px; line-height:100%; /*border: 1px solid #fff;*/ background-color:#de4a39; font-size: 12px; font-weight:bold;font-family: Verdana;color: #fff;line-height: normal;text-decoration: none;vertical-align: top;}
.paginate a.next{font-family: 굴림; border:1px solid #e7e7e7; padding: 8px 8px 4px 10px; line-height:100%; font-weight:normal; margin-left:10px;}
.paginate a.prev{font-family: 굴림; border:1px solid #e7e7e7; padding: 8px 10px 4px 8px; line-height:100%; font-weight:normal; margin-right:10px;}

/*기획/연재*/
.plan {clear:both; float:left; width:621px; text-align:left; color:#777; letter-spacing:-1px; padding:8px 0 13px 9px; margin-top:-41px; border-top:1px solid #e9e9e9; border-bottom:1px solid #f54c49;}
.plan strong {font-size:16px; color:#f54c49; padding-right:7px;}

.plan2 {clear:both; float:left; width:621px; text-align:left; color:#777; letter-spacing:-1px; padding:8px 0 13px 9px; margin-top:37px; border-bottom:1px solid #f54c49;}
.plan2 strong {font-size:16px; color:#000; padding-right:7px;}

.plan_list {width:630px; float:left; display:inline-block; margin:20px 0 0 5px;}
.plan_list ul li {float:left; width:285px; text-align:left; font-size:16px;  letter-spacing:-1px; line-height:21px; display:inline-block; margin:0 15px 6px 0; background:url('http://img.seoul.co.kr/img/16_arrow_i.gif') 5px 11px no-repeat; padding-left:15px;}

.plan_mline {float:left; display:inline-block; width:630px; height:1px; margin-top:24px; background:#e9e9e9;}


/*  메뉴관련  */
/* 템플릿으로 이동/수정
li{list-style:none;}
#sidMenuArea{position:fixed;float:left;height:100%;top:0;left:0;width:500px;}
.sideMenuBar {float:left;width:180px;padding:60px 0px 0px 0px;margin:0;background-color:#cdcdcd;overflow:hidden;}
.sideMenuBar ul {width:200px;padding:0;margin:0;overflow-y:scroll;}
.sideMenuBar ul li {display:inline-block; width:150px; padding:9px 0 13px 31px; text-align:left; font-size:17px;background:url('http://img.seoul.co.kr/img/16_allm_a.gif') 22px 19px no-repeat;}
.sideMenuBar ul li.ss {background-color:#ececec;}
.sideMenuBar ul li.welmade {color:#f54c49; background:url('http://img.seoul.co.kr/img/16_allm_a2.gif') 22px 40px no-repeat; padding-top:30px; border-top:1px solid #f54c49; margin-top:20px;}
.sideMenuBar ul li.welmade a {color:#f54c49;}
.sideMenuBar ul li.cardnews {color:#f54c49; background:url('http://img.seoul.co.kr/img/16_allm_a2.gif') 22px 16px no-repeat; padding-bottom:20px; border-bottom:1px solid #fff; margin-bottom:20px;}
.sideMenuBar ul li.cardnews a {color:#f54c49;}
.sideMenuBarSub_back {display:none;float:left;width:160px;padding:0;margin:0;background:url('http://img.seoul.co.kr/img/16_allm_bg2.png') repeat-y; position:relative;}
.sideMenuBarSub{display:none;position:absolute;width:160px;left:200px; padding:0;margin:0;z-index:100;overflow:hidden;}
.sideMenuBarSub ul {padding-top:6px; margin:0;}
.sideMenuBarSub ul li {clear:both; width:125px; margin:0; padding:7px 0; font-size:16px; letter-spacing:-1px; background:url('img/16_allm_a.gif');}
.sidemenu_subselect {color:#f54c49; font-weight:bold;}
.side_all {display:block; float:left; width:180px; height:32px; padding-top:3px; margin-top:-60px; padding-left:17px; background:#5e666d; text-align:left; font-size:17px; color:#fff;}
.side_all span {position:absolute; top:10px; left:158px;}
*/
/*  메뉴관련  
li{list-style:none;}
#sidMenuArea{position:fixed;float:left;height:100%;top:0;left:-200px;width:500px;}
.sideMenuBar {float:left;width:200px;padding:60px 0px 0px 0px;margin:0;background-color:#b6dada;overflow:hidden;}
.sideMenuBar ul {width:220px;padding:0;margin:0;overflow-y:scroll;}
.sideMenuBar ul li {height:30px;}
.sideMenuBarSub_back {display:none;float:left;width:200px;padding:0;margin:0;background-color:#00a6aa;position:relative;}
.sideMenuBarSub{display:none;position:absolute;width:200px;left:200px;padding:0;margin:0;z-index:100;overflow:hidden;}
.sideMenuBarSub ul {padding:0;margin:0;}




/********* 웰메이드 *********/
.WM_top {text-align:center;}

.content {float:left;width:630px; min-height:900px;  _height:900px;}

/*연재리스트*/
.WM_con{background-color:#fff; width:589px; height:193px; float:left; text-align:left; padding:20px; /*margin-right:15px;*/ margin-bottom:37px; border:1px solid #e1e1e1; border-radius:6px 6px 6px 6px;}
.WM_con div{display:inline-block;}
.WM_con .con_left{ float:left; width:309px;}
.WM_con .con_left img {/*border:1px solid #000;*/ width:290px;}
.WM_con .con_right{/*border:1px solid #000;*/ width:280px;}
.WM_con .con_right .title01 a{font-family: '나눔고딕','Nanum Gothic','맑은 고딕','Malgun Gothic',돋움,Dotum,굴림,Gulim,sans-serif; font-size:22px; color:#111; font-weight:bold;  letter-spacing:-1px; line-height:26px;}  
.WM_con .con_right .title02{text-align:justify; font-family: '나눔고딕','Nanum Gothic','맑은 고딕','Malgun Gothic',돋움,Dotum,굴림,Gulim,sans-serif; font-size:14px; color:#3f3f3f; letter-spacing:-1px; line-height:20px; margin-top:10px;}

.WM_con .title {clear:both; float:left; display:inline; width:280px; margin-top:15px;}
.WM_con .title .pleft{float:left; width:82px;}
.WM_con .title .pright a{float:left; font-family: '나눔고딕','Nanum Gothic','맑은 고딕','Malgun Gothic',돋움,Dotum,굴림,Gulim,sans-serif; font-size:15px; font-weight:bold; color:#111; text-decoration:none; line-height:22px; padding-top:10px;}   
.WM_con .title .pright strong{float:left; font-family: '나눔고딕','Nanum Gothic','맑은 고딕','Malgun Gothic',돋움,Dotum,굴림,Gulim,sans-serif; font-size:15px; font-weight:bold; color:#e43812;}



/********* 카드뉴스 *********/

#cn_content {/*clear:both;*/ float:left; display:inline-block; width:630px; padding:0 0 61px 0; margin-bottom:30px; border-bottom:1px solid #e5e5e5;}
.cn_contentsbox {float:left; width:190px; margin-right:25px;}
.cn_contentsboxR {float:left; width:190px;}

.cn_type {clear:both; margin-bottom:25px;}
.cn_type h3 {clear:both; display:inline-block; width: 190px; font-size:13px; font-weight:normal; line-height:17px; letter-spacing:-1px; text-align:left; padding:12px 0 5px 3px;}
.cn_type img {width:190px;}
.cn_type ul {margin-top:4px;}
.cn_type li {float:left; display:inline; }

.cn_box {display:inline-block; float:right; width:545px;border-bottom:3px solid #efefeb;margin:5px 0 30px 0;}
.cn_box h4 {float:left;padding-bottom:7px;}
.cn_box p {float:right;font-size:11px;color:#333;letter-spacing:-1px;font-weight:bold;padding:4px 9px 0 0;background :url('http://img.seoul.co.kr/img/13_todayfocus_a.gif') no-repeat; background-position: right;}

.cn_boxb {display:inline-block;width:100%;border-bottom:1px solid #d5d4cc;}
.cn_boxb li {float:left;width:169px;height:148px;padding:0 19px 10px 0;font-size:12px;line-height:14px;letter-spacing:-1px;text-align:left;}
.cn_boxb li.last {float:left;height:148px;width:169px;padding:0 0 10px 0;font-size:12px;line-height:14px;letter-spacing:-1px;text-align:left;}
.cn_boxb li img {width:167px;height:111px;margin-bottom:7px;border:1px solid #e6e5df;}
.cn_boxb a {color:#666;}
.cn_boxb a:hover {color:#e43812;}




/********* 조기영 대추씨 *********/
/*.atic_cnt {clear:both; float:left; padding-top:25px;}*/
/*
.dachou {clear:both; float:left; width:630px;}
.dachou_tit {width:604; height:23px; background:#ca4b1f;  padding:5px 13px; margin-bottom:20px; font-size:15px; color:#fff; text-align:left;}
.dachou_tit p {font-size:12px; text-align:right; margin-top:-16px;}
.dachou_v {float:left; width:570px; background:#eeeeee; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; padding:30px; text-align:center; margin-bottom:20px;}
.dachou_v_bmh {float:left; width:610px; background:#eeeeee; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; padding:30px 10px; text-align:center; margin-bottom:20px;}
.dachou_l {float:left; width:600px; border:8px solid #dcdcdc; padding:20px 7px;}
.dachou_l li {float:left; width:130px; text-align:center; color:#f54c49; font-weight:bold;}
.dachou_l li .listimg {width:130px; height:75px; overflow:hidden; margin-bottom:15px;}
.dachou_l li .listimg img {width:130px;}

.dachou_l li .listimg_bmh {width:130px;margin-bottom:15px;}
.dachou_l li .listimg_bmh img {width:110px;}
*/

.dachou {clear:both; float:left; width:630px;}
.dachou_tit {width:604; height:23px; background:#ca4b1f;  padding:5px 13px; margin-bottom:20px; font-size:15px; color:#fff; text-align:left;}
.dachou_tit p {font-size:12px; text-align:right; margin-top:-16px;}

.dachou_v {float:left; display:inline-block; height:100%; width:630px; background:#eeeeee; padding:50px 0; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; text-align:center; margin-bottom:20px;}
.dachou_v_bmh {float:left; width:610px; background:#eeeeee; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; padding:30px 10px; text-align:center; margin-bottom:20px;}
.dachou_l {float:left; width:600px; border:8px solid #dcdcdc; padding:20px 7px;}
.dachou_l li {float:left; width:130px; text-align:center; color:#f54c49; font-weight:bold;}
.dachou_l li .listimg {width:130px; height:82px; overflow:hidden; margin-bottom:15px;}
.dachou_l li .listimg img {width:130px;}

.dachou_l li .listimg_bmh {width:130px;margin-bottom:15px;}
.dachou_l li .listimg_bmh img {width:110px;}

.dachou_v .lefta {width:70px; height:100%;}
.dachou_v .imga {width:490px; height:100%;}
.dachou_v .imga img {max-width:490px;}




/********* 포토 확대보기 *********/
#jquery-overlay {position: absolute;top: 0;left: 0;z-index: 90;width: 100%;height: 500px;}
#jquery-lightbox {position: absolute;top: 0;left: 0;width: 100%;z-index: 100;text-align: center;line-height: 0;}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {	position: relative;background-color: #fff;width: 250px;height: 250px;margin: 0 auto;}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {position: absolute;top: 40%;left: 0%;height: 25%;width: 100%;text-align: center;line-height: 0;}
#lightbox-nav {position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;}
#lightbox-container-image-box > #lightbox-nav {left: 0;}
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {width: 49%;height: 100%;zoom: 1;display: block;}
#lightbox-nav-btnPrev {left: 0;float: left;}
#lightbox-nav-btnNext {right: 0;float: right;}
#lightbox-container-image-data-box {/* font: 10px Verdana, Helvetica, sans-serif; */font: 11px;background-color: #fff;margin: 0 auto;line-height: 1.4em;overflow: auto;width: 100%;padding: 0 10px 0;}
#lightbox-container-image-data {padding: 0 10px;color: #666;}
#lightbox-container-image-data #lightbox-image-details {width: 70%;float: left;text-align: left;}	
/*#lightbox-image-details-caption { font-weight: bold; }*/
#lightbox-image-details-currentNumber {display: block;clear: left;padding-bottom: 1.0em;}			
#lightbox-secNav-btnClose {width: 66px;float: right;padding-bottom: 0.7em;}



/*무료만화박스_new  <--2015년 4월 추가*/
.cartoon {clear:both; display:inline-block; float:left; width:596px; height:172px; background-color:#fff; border:1px solid #e0e0e0; padding:10px 17px 15px;/*margin-bottom:30px;*/}
.cartoon h4 {float:left;padding-bottom:10px; font-size:16px; color:#000;}
.cartoon p {float:right;} 
.cartoon_b {float:left; display:inline-block;width:100%;} 
.cartoon_b1 {float:left;width:186px; height:140px; background-color:#ccc; margin-right:18px;}
.cartoon_b2 {float:right; width:186px; height:140px; background-color:#ccc;}



/*무료만화박스_수정  <--2015년 10월 추가*/
.cartoonphoto {float:right; position:relative; width:186	px;height:140px;}
.cartoonphoto img {width:186px;height:140px;}
.cartoonphoto p.eptitlebg {position:absolute;left:0px;top:112px;width:186px;height:28px;background-color:#000;opacity:0.7;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;/*ie6~8, ff 등*/}
.cartoonphoto p.eptitletx {position:absolute;left:0px;top:110px;width:176px;height:25px;padding:5px;font-size:14px;color:#fff;text-align:center;letter-spacing:-1px;line-height:18px;}
.cartoonphoto p.eptitletx a {color:#fff; text-decoration:none;}
.cartoonphoto p.eptitletx a:hover {color:#fff; text-decoration:underline;}


/*기자칼럼리스트tab*/
.OJ_date {float:left; width:630px; height:220px; background:#e9e9e9; border-bottom:1px solid #f54c49;}
.OJ_date h3 {text-align:left; font-size:14px; color:#5d5d5d; letter-spacing:-1px; font-weight:normal; padding:20px 15px;}
.OJ_date h3 img {padding-right:8px;}
.OJ_date p {float:left; width:40px; padding:50px 0; text-align:center;}
.OJ_date ul {float:left;}
.OJ_date ul li {float:left; display:block; padding:12px 21px 0 21px;}

/*기자칼럼리스트*/
.OJ_list {width:630px; float:left; display:inline-block; margin:20px 0 0 5px;}
.OJ_list ul li {float:left; width:180px; text-align:left; font-size:16px;  letter-spacing:-2px; line-height:21px; display:inline-block; margin:0 15px 9px 0; background:url('http://img.seoul.co.kr/img/16_arrow_i.gif') 5px 11px no-repeat; padding-left:15px;}

/*전문가칼럼리스트tab*/
.OS_date {float:left; width:630px; height:236px; background:#e9e9e9; border-bottom:1px solid #f54c49;}
.OS_date h3 {text-align:left; font-size:14px; color:#5d5d5d; letter-spacing:-1px; font-weight:normal; padding:20px 15px;}
.OS_date h3 img {padding-right:8px;}
.OS_date p {float:left; width:40px; padding:50px 0; text-align:center;}
.OS_date ul {float:left;}
.OS_date ul li {float:left; display:block; padding:12px 21px 0 21px;}

/*과학&Bio*/
.SB_date {float:left; width:630px; border-top:4px solid #f54c49;}
.SB_date h3 {text-align:left; font-size:14px; color:#5d5d5d; letter-spacing:-1px; font-weight:normal; padding:19px 11px 7px;}
.SB_date h3 img {padding-right:8px;}
