@charset "UTF-8";

@font-face {
  font-family: "towleroad";
  src:url("fonts/towleroad.eot");
  src:url("fonts/towleroad.eot?#iefix") format("embedded-opentype"),
    url("fonts/towleroad.woff") format("woff"),
    url("fonts/towleroad.ttf") format("truetype"),
    url("fonts/towleroad.svg#towleroad") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "towleroad" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "towleroad" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "a";
}
.icon-search:before {
  content: "b";
}
.icon-social-facebook:before {
  content: "c";
}
.icon-instagram:before {
  content: "d";
}
.icon-arrow-right:before {
  content: "e";
}
.icon-arrow-left:before {
  content: "f";
}
.icon-play:before {
  content: "g";
}
.icon-arrow-down:before {
  content: "h";
}
.icon-comment:before {
  content: "i";
}
.icon-star:before {
  content: "j";
}
