/* themes css for tn.gov.in*/
body{
font-family:Arial,Helvetica,sans-serif;
overflow-x: hidden !important;
font-size:12px;
/*background-color:red;*/
/*background:url(images/front/bodyBg.jpg);*/
}
.front{
font-size:11px;
}

.front.i18n-ta{
font-size:10px;
}

.i18n-ta .view-footer4{
margin-top: -23px;
}

.i18n-ta .page-footer-top1 {
height: 33px
}


.i18n-ta #block-menu-menu-grievances .view-footer{
margin-top: -21px  !important;
}

.safari #front_maincontainer1 {
margin-left:-1px !important;
}

.safari #front_maincontainer {
margin-left:-1px !important;
}

.wrap{
	/*width:996px !important;*/
	/*margin:0 auto ;*/
/* stpi*/
	margin:-2px auto ;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}

.wrap-box{
	background: url(../images/strip.png);
	padding:2px;
}

.header{
margin:0 auto !important;
overflow-x: hidden !important;
/*width:996px;
*/}

.header_color_icon{
margin-left:40px;
overflow-x: hidden !important;
margin:0 auto  !important;
width:996px;


}
/*
.chrome .header_color_icon{
margin-left:40px;
overflow-x: hidden !important;
margin:0 auto  !important;
width:996px;
}
*/


.icon1{
float:right;
height:14px !important;
width:14px !important;
}
.icon2{
float:right;
padding-right:2px;
height:14px !important;
width:14px !important;
}
.icon3{
float:right;
padding-right:2px;
height:14px !important;
width:14px !important;
}
.icon4{
padding-right:2px;
float:right;
height:14px !important;
width:14px !important;

}
.icon5{
float:right;
padding-right:2px;
height:14px !important;
width:14px !important;

}
.icon6{
float:right;
padding-right: 6px;
margin-right:268px;
margin-top:-14px;
}
.icon7{
float:right;
padding-right:2px;
margin-right:288px;
margin-top:-14px;
}
.icon8{
float:right;
padding-right:2px;
margin-right:304px;
margin-top:-14px;
}
.header_img{
	margin: 0 auto;
	/*background-color:green;*/
 	width:996px;
	}
	
#header_logo{
background:url(../images/top_banner.jpg) no-repeat;
height:100px;width:996px;
/*background-color:orange !important;*/
}
	
#front_maincontainer{
/*float:left;*/
margin:0 auto;
overflow-x: hidden !important;
border-top:1px solid white;
background-color:#c7e3f8 ;
width:996px;
}

#sizer{
float:right;
padding-right:2px;
margin-right:288px;
margin-top:-14px;
}
.chrome .front #front_maincontainer{
float:left;
/*margin:0 auto;*/
/* stpi*/
margin:5px auto;
overflow-x: hidden !important;
border-top:1px solid white;
background-color:#c7e3f8 ;
width:996px;
}

.chrome .front #front_maincontainer1{
width:100%;
height: 609px;
}

.firefox .front #front_maincontainer1{
width:100%;
height: 618px;
}

#front_maincontainer1{
/*margin:0 auto;*/
/* stpi*/
margin:5px auto;
/*overflow:hidden;
overflow-x: hidden !important;*/
border-top:1px solid white;
background-color:#c7e3f8;
/*background:url(../images/content_bg.jpg) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
}

.header-top {
    margin:0 auto;
	background-image:url(images/top_banner.jpg);
	height:40px;
	/*width: 996px;*/
	/*background: #ffd133;*/
	background: -moz-linear-gradient(top,  #ffd133 0%, #ffa503 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd133), color-stop(99%,#ffa503));
	background: -webkit-linear-gradient(top,  #ffd133 0%,#ffa503 99%);
	background: -o-linear-gradient(top,  #ffd133 0%,#ffa503 99%);
	background: -ms-linear-gradient(top,  #ffd133 0%,#ffa503 99%);
	background: linear-gradient(to bottom,  #ffd133 0%,#ffa503 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd133', endColorstr='#ffa503',GradientType=0 );
	
}

.main {
	margin:0 auto;
	/*background: #c7e3f9;*/
	/*background: url("../images/content_bg.jpg") repeat scroll 0 0;*/
	/*width:996px;*/
	min-height:550px;
}

.clr{ clear:both;}
.hgt12{ height:7px;}
.hgt20{height:20px;}
	
.nav_menu{
color:#FFFFFF;
/*font-family:Arial,Helvetica,sans-serif;
font-size:12px;*/
font-weight:bold;3#
text-decoration:none;
padding-top:8px;
width:75%;
}
.nav_menu span a {
color:#FFFFFF;
/*font-family:Arial,Helvetica,sans-serif;
font-size:12px;*/
font-weight:bold;
text-decoration:none;
padding-left:8px;
}

.view-footer {/*font-size: 11px;*/ margin-top:10px;margin-left: 142px; }

.view-footer a{
color:#0066CC;
font-weight:bold;
text-decoration:none;
}
.view-footer1 {/*font-size: 13px;*/margin-top:10px;margin-left: 142px; }

.view-footer1 a{
text-align:right;
color:#0066CC;
font-family:Arial,Helvetica,sans-serif;
/*font-size:80%;*/
font-weight:bold;
text-decoration:none;

}

.view-footer3 {  /*font-size: 11px;*/ margin-top:-22px; margin-right: 22px; }

.view-footer3 a{
color:#0066CC;
font-weight:bold;
text-decoration:none;
float:right;

}
/*
.chrome .view-footer4 { float:right!important margin-top:-32px !important; margin-right: 2px!important; }

.chrome  .view-footer4 a{
color:#0066CC !important;
font-weight:bold !important;
text-decoration:none !important;
float:right !important;
}
*/
.view-footer4 { float:right; /*font-size: 11px;*/ margin-top:-32px; margin-right: 13px; }

.view-footer4 a{
color:#0066CC;
font-weight:bold;
text-decoration:none;
float:right;
}


#block-menu-menu-topmenus{
color:#FFFFFF;
font-family:Arial,Helvetica,sans-serif;
/*font-size:100%;*/
font-weight:bold;-decoration:none;
width:75%;float:left;}
#block-menu-menu-topmenus h2,#block-menu-menu-footermenus h2{display:none;}



#front_left,#front_center{ float:left;}
#front_left { padding-left:10px; padding-right:10px; padding-top:10px;}
#front_center {padding-left:5px; padding-right:7px; padding-top:10px;}
#front_right{padding-top:10px;float:right; border:0px solid red;  margin-right: 8px;}

.service_back_image{background:url(../images/service_tab_bg.jpg) no-repeat #FFFFFF; }

#block-views-Services-block_1 {background:url(../images/service_tab_bg.jpg) no-repeat #FFFFFF;border:1px solid #0066CC; width:208px; height:171px;}
#block-views-documents-block_1 {background:url(../images/document_tab_bg.jpg) no-repeat #FFFFFF;border:1px solid #0066CC; width:208px;/*height:177px;*/}
/*#block-menu-menu-government {background:url(../images/govt_tab_bg.jpg) no-repeat #FFFFFF;border:1px solid #0066CC;  }*/
#block-views-Forms-block_1 {background:url(../images/forms_tab_bg.jpg) no-repeat #FFFFFF;border:1px solid #0066CC;/*height:177px;*/}
#block-menu-menu-scheme{background:url(../images/schemes_tab_bg.jpg) no-repeat #FFFFFF;border:1px solid #0066CC;/*height:177px;*/}
#block-views-last-dateupdated-block_1 {}
/*#block-menu-menu-services {background:url(images/service_tab_bg.jpg) no-repeat #FFFFFF;}*/

#block-views-Grievances-block_1{background:url(../images/grievance_tab_bg.jpg) no-repeat #FFFFFF;border:1px solid #0066CC; width:208px; margin-top:8px;/*height:177px;*/}
#block-menu-menu-grievancesredressal,#block-menu-menu-grievances{background:url(../images/grievance_tab_bg.jpg) no-repeat;border:1px solid #0066CC; /*height:177px;*/}

/*#block-views-Services-block_1 ul,*/
#block-views-documents-block_1 ul,
#block-menu-menu-government ul,
#block-menu-menu-services ul,
#block-views-Forms-block_1 ul,
#block-menu-menu-grievancesredressal ul,
#block-menu-menu-grievances ul,
#block-views-Schemes-block_1 ul,
#block-views-Grievances-block_1 ul,
#block-menu-menu-scheme
 {
 	line-height: 20px;
    list-style: none outside none;
  	padding-top:14px;
 }

#block-views-Services-block_1 ul li a,
#block-views-documents-block_1 ul li a,
#block-menu-menu-government ul li a,
#block-menu-menu-services ul li a,
#block-menu-menu-scheme ul li a,
#block-views-Forms-block_1 ul li a,
#block-menu-menu-grievancesredressal ul li a,
#block-menu-menu-grievances ul li a,
#block-views-Schemes-block_1 ul li a,
#block-views-Grievances-block_1 ul li a{
color:#585857;
/*font-family:Arial,Helvetica,sans-serif;
font-size:90%;*/
font-weight:normal;
text-decoration:none;
background-color:white;
line-height:10px;
/*font-size:10px !important;*/
padding-right:10px;

}

#block-views-Services-block_1 .views-field-title,
#block-views-documents-block_1 .views-field-title,
#block-views-Forms-block_1 .views-field-title,
#block-views-Schemes-block_1 .views-field-title,
#block-views-Grievances-block_1 .views-field-title{ border-bottom:1px dotted #0066CC;width:170px;}

#block-views-Services-block_1 .view-footer a,
#block-views-documents-block_1 .view-footer a,
#block-menu-menu-services .view-footer a,
#block-views-Forms-block_1 .view-footer a,
#block-views-Schemes-block_1 .view-footer a,
#block-views-Grievances-block_1 .view-footer a{
color:#0066CC;
/*font-family:Arial,Helvetica,sans-serif;
font-size:80%;*/
font-weight:bold;
text-decoration:none;}

/* Last update CSS */
#block-views-last-dateupdated-block_1 span{color:#137CB6;
/*font-family:Arial,Helvetica,sans-serif;
font-size:12px;*/

font-weight:bold;
text-decoration:none;
margin-left:54px;
}

/*#block-views-Services-block_1 h2,*/
#block-views-documents-block_1 h2,
#block-menu-menu-government h2,
#block-menu-menu-services h2,
#block-views-Forms-block_1 h2,
#block-menu-menu-grievancesredressal h2,
#block-menu-menu-grievances h2,
#block-menu-menu-scheme h2,

#block-views-Grievances-block_1 h2{
color:#137CB6;
/*font-family:Arial,Helvetica,sans-serif;
font-size:100%;*/
font-weight:bold;
text-decoration:none;
padding-top:8px;
display:block !important;
}

#thiru_valu{background:url(../images/thiruvalluvar-bkgr.gif); height: 175px; width:433px; margin-top:5px; border:#137cb6 solid 1px;
 margin-left: 10px;
}
.links_part{margin-left:18px;}
#press_relase_news {
background:transparent url(../images/press_release_bg.png) no-repeat scroll 0 0;
height:179px;
width:300px;
/*font-family:Arial,Helvetica,sans-serif;
font-size:96%;*/
color:#000000;
margin-left: 19px;
}
#press_slideshow {
background:transparent url(../images/press_release_bg.png) no-repeat scroll 0 0;
height:179px;
width:300px;
/*font-family:Arial,Helvetica,sans-serif;
font-size:96%;*/
color:#000000;
}
.latest_news{padding-left:25px;padding-top:20px;}
.latest_news .pr_home{padding-bottom:10px; font-weight:bold;/*font-size:12px;*/ color:#137CB6;}
.wht_home{padding-top:10px; font-weight:bold;/*font-size:12px;*/ color:#137CB6; padding-left:17px;}
.what_news{padding-left:25px;padding-top:20px;}
.wht_home a{
margin-left:203px;
top:91% !important;
position:absolute;
color:#ad302f !important;
}

#whats_new {
    background: url("../images/whats_new_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	/*border:1px solid #137CB6;*/
    color: #000000;
  /*  font-family: Arial,Helvetica,sans-serif;
    font-size: 96%;*/
    height: 175px;
    width: 300px;
	margin-left: -36px;
	margin-top: 3px;
}

.msie8 #whats_new {
    background: url("../images/whats_new_bg.png") ;

}
.msie7 #whats_new {
    background: url("../images/whats_new_bg.png") ;
}
	
	
#temple_cnt{
background:url(../images/img1.jpg) no-repeat scroll 0 0;
height:156px;
width:298px;
}

.footerleft{float:left;padding-left:20px;}
.footerright{ float:right; padding-right:20px;}

/* css for front page css    15.6.10*/
/*top menus*/
.menu_handler {/*width:750px;*/width:660px;}
.menu_handler ul {
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
width:113%;
}
#menubar ul li.first {
color:#FFFFFF;
display:block;
float:left;
/*font-family:Arial,Helvetica,sans-serif;
font-size:100%;*/
font-weight:bold;
height:28px;
text-align:center;

/*width:100px;*/
}
.menu_handler ul li .menu2, .menu_handler ul li {
color:#FFFFFF;
display:block;
float:left;
/*font-family:Arial,Helvetica,sans-serif;
font-size:100%;*/
font-weight:bold;
height:28px;
text-align:center;
/*width:90px;*/
}
.menu_handler li, #menubar ul li.last {
display:block;
float:left;
height:28px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;

}
.menu_handler li{ border-right:1px solid #FFFFFF;}#menubar ul li.last{ border:none;}
.menu_handler ul li a.menu2, .menu_handler ul li a {
background-repeat:no-repeat;
/* color:#FFFFFF; */
display:block;
/*font-family:"Trebuchet MS",arial;
font-size:100%;*/
font-weight:bold;
height:28px;
text-align:center;
text-decoration:none;
padding:5px 18px 0;
}
.menu_handler a {
color:#FFFFFF;
}
/*top menu end*/
/*footer menus*/
.footer_menu_data { background-color:#FFFFFF; border-top:1px solid #137CB6; width: 996px;}
.footer_menu_data ul {
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
/*margin:0;
*/
width:73%;
padding:0;
}
.footer_menu_data ul li.first {
color:#000000;
display:block;
float:left;
/*font-family:Arial,Helvetica,sans-serif;
font-size:95%;
height:28px; */
font-weight:bold;
height:17px;
text-align:center;
 width: 15%;
 border-right:1px solid #000;
/*width:100px;*/
}
.footer_menu_data ul li .menu2, .footer_menu_data ul li {
color:#000000;
display:block;
float:left;
/*font-family:Arial,Helvetica,sans-serif;
font-size:95%;
height:17px;
font-weight:bold;
text-align:justify;
width:14%;
/*text-align:center;
width:90px;*/
border-right:1px solid #000;
}
.footer_menu_data li, .footer_menu_data ul li.last {
display:block;
float:left;
/* height:28px; */
height:17px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
.footer_menu_data li{ border-right:1px solid #FFFFFF; /* width: 140px; */}
.footer_menu_data ul li.last{ border:none;}
.footer_menu_data ul li a.menu2, .footer_menu_data ul li a {
background-repeat:no-repeat;
color:#000000;
display:block;
/*font-family:Arial,Helvetica,sans-serif;
font-size:100%;*/
font-weight:bold;
 text-align:center;
text-decoration:none;
width:100%;
}
.footer_menu_data a {
color:#000000;
}

/*footer menu end*/

#block-menu-menu-government ul li,
#block-menu-menu-services ul li,
#block-menu-menu-grievancesredressal ul li,
#block-menu-menu-grievances ul li,
#block-views-Forms-block_1 ul li,
#block-menu-menu-scheme ul li
 {
 border-bottom:1px dotted #0066CC !important; width:170px !important; }


#edit-search-block-form-1 {width:121px; margin-top:3px;}
.what_news a {text-decoration:none; color:#333333;}
#edit-search-theme-form-1-
wrapper label{display:none;}

#login_link { 
float:right;
font-weight:bold;
/*margin-right:25px;*/margin-right:2px;
padding-top:3px;}
#login_link a{text-decoration:none; color:#FFFFFF;}
#login_link a:hover{text-decoration:none; color:#FFFFFF;}

#block-search-0 h2{display:none;}
.search_submit_btn {
background:transparent url(../images/searchIcon.png) no-repeat scroll 0 0;
border:0 none;
cursor:pointer;
height:20px;
width:20px;
}
.container-inline div, .container-inline label {
display:inline;
}

/*textsize changes*/
.txt_size_serv h2{display:none;}
#block-textsize-0 {float:right;}
#block-pagestyle-0 {float:right;/*margin-top:9px;*/}
#block-pagestyle-0 .content ul {
margin:0;
padding:0 0 0.25em 1em;
}

#block-menu-menu-emenus h2,#block-menu-menu-tmenu h2{display:none;}
#block-menu-menu-emenus { float:left; border-right:1px solid #FFFFFF; width:107px;}
#block-menu-menu-tmenu { float:left; border-right:1px solid #FFFFFF; width:120px;}
#block-locale-0{float:left;/*width:117px;*/border-right:1px solid #FFFFFF; width:20%;}
#block-locale-0 li{border:none;}
#block-locale-0 h2 {display:none;}


.kural {  
	color: #AD302F;
    /*font-size: 12px;*/
    font-weight: bold;
    padding-left: 98px;
    padding-top: 19px;
	width: 282px;
	font-size:12px;
	}
#amma_unavagam {
	/*background: url("../images/amma-unavagam.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    height: 89px;
    margin-left: 5px;
    margin-top: 20px;
   	width: 426px;
}

#kur_gallery a{text-decoration:none;}

#block-menu-menu-subhome{display:none;}

.clear {clear:both}
#gallery,#kur_gallery {/*position:relative;*/}
#gallery a,#kur_gallery a{float:left;position:absolute;}
#gallery a img {border:1px solid #0A86DE;  
    	margin-top: 22px;
	  	margin-left: 7px;
	}
#gallery a.show,#kur_gallery a.show{z-index:500;}
#gallery .caption ,#kur_gallery .kur_caption{z-index:600; position:absolute;bottom:0;}
#gallery .caption .content,#kur_gallery .kur_caption .kur_content {margin:5px;}
#gallery .caption .content h3,#kur_gallery .kur_caption .kur_content h3 {margin:0;padding:0;color:#1DCCEF;}

/*For home page Navigation images*/

.cssnav_doc a:hover{background-image: url('../images/documents_button_mo.png');}

.cssnav_ten a:hover{background-image: url('../images/rules_regulations_hover.png');}
/*.cssnav_ten_ta{background-image: url('images/front/tamilimages/tender_button_mo.png');}
*/
.cssnav_citi a:hover{background-image: url('../images/rticontact_button_mo.png');}
.cssnav_char a:hover{background-image: url('../images/charter_button_mo.png');}

.cssnav_act a:hover{background-image: url('../images/acts_notification_mo.png');}
.cssnav_act_ta a:hover{background-image: url('images/acts_notification.gif');}

.cssnav_link a:hover{background-image: url('../images/links_button_mo.png');}

.cssnav_doc,.cssnav_citi,.cssnav_char,.cssnav_act,.cssnav_link, .cssnav {
position:relative;background-repeat: no-repeat;display: block;width: 191px;height: 54px;margin: 0;margin-bottom:0px;padding: 0;
}

.cssnav_doc1,.cssnav_citi1,.cssnav_char1,.cssnav_act1,.cssnav_link1, .cssnav {
position:relative;background-repeat: no-repeat;display: block;width: 191px;height: 54px;margin: 0;margin-bottom:0px;padding: 0;
}
/*.cssnav_ten1 {margin-top: 10px;}*/
.cssnav_ten{background-repeat: no-repeat;display: block;width: 191px;height: 54px;
margin: 0;margin-bottom:0px;
/*margin-top: 10px;*/
padding: 0;}
.cssnav_ten a{display:block;width: 191px;height: 54px;float: right;margin: 0;padding: 0;}
.cssnav_doc a,.cssnav_citi a,.cssnav_char a,.cssnav_act a,.cssnav_link a{display:block;width: 191px;height: 54px;float: left;margin: 0;padding: 0;}
.cssnav_doc img,.cssnav_ten img,.cssnav_citi img,.cssnav_char img,.cssnav_act img,.cssnav_link img{width: 100%; height: 100%; border: 0; }
.cssnav_doc a:hover img,.cssnav_ten a:hover img,.cssnav_citi a:hover img,.cssnav_char a:hover img,.cssnav_act a:hover img,.cssnav_link a:hover img{visibility:hidden}
.cssnav_doc span,.cssnav_ten span,.cssnav_citi span,.cssnav_char span,.cssnav_act span,.cssnav_link span {
position:absolute;left:5px;top:3px;margin:0;cursor: pointer;}
/*For home page Navigation images*/


.whats_main {	/*width:100px;	border:1px solid red;*/	overflow: hidden;		height: 100px;	cursor:pointer; margin-top:10px;}
#whats_inner_cnt {	margin-top:100px;}

/* Sign in Design*/
 .home_sign
   {    
/*width:100%;*/
float:left;
/*margin-left: -20%;font-size: 14px;*/
/*font-family: Arial,Helvetica,sans-serif;
font-size: 12px;*/
font-weight: 600;
display: block;
padding-top: 4%;
width: 76px;
width:79px\0/;
    }

#block-textsize-0 .textsize_list, #block-textsize-0 .textsize_current_list{ margin:0;}


#edit-search-block-form-1-wrapper{margin-left:30px;}
#edit-search-block-form-1-wrapper{ *margin-left:20px!important; margin-left:25px\9!important;}
.last_update {float:right;margin-right:16px;}

.service_back_image .hgt12{display:none;}
.service_back_image .view-footer{margin-top:-3px;}
.forms_front_block{padding-right: 8px; text-align: right; padding-bottom: 11px; padding-bottom: 10px\0/;}
.dipr{
    float: right;
    margin-right: 20px;
	font-size:12px;
}
.dipr a{
 color: brown;
    text-decoration: none;
}
.morepr
{float:right;margin-top:102px;padding-right:16px;text-align:right;width:30px;}
.morepr a
{color:#0000FF ;text-decoration:none;
font-size:12px;}
.morepr1
{
text-decoration:none;
text-align:right;
padding-right: 13px;
/*font-size:12px;*/}
.morepr1 a
{
color:#b03837 ;
text-decoration:none;
text-align:right;
padding-right: 13px;
padding-top:50px;
/*font-size:12px;*/}
.what_news {
    padding-left: 25px;
    padding-top: 20px;
}
.marqueecontainer {
	margin-bottom:30px;
    height: 140px;
    overflow: hidden;
    padding: 10px 2px 2px 4px;
    position: relative;
}
.marqueecontainer p {
    color: black;
    /*font-size: 0.8125em;*/
    line-height: 1.5em;
	padding-left: 10px;
	width: 200px;
    
}
.marqueecontainer a {
    color: #333333;
    text-decoration: none;
}
.style10 {
    color: #CC3333;
   /* font-size: 10px;*/
	padding-left:20px;
}




.job {
    float: left;
    margin-bottom: 15px;
    margin-left: 17px;
    margin-top: -80px;
 //   padding-top: 19px;
}
/*
.chrome .job{
	float: left;
    margin-bottom: 15px;
    margin-left: -32px;
    margin-top: -100px;
    padding-top: 19px;
}
*/



.job:hover{
/*box-shadow: 0 0 10px #555;*/
}
/*

.msie8  .mapf{
margin-left: 694px;
 }
.msie7  .mapf{
margin-left: 694px;
 }
*/
.mapf{
float:left; 
margin-left: 644px;
margin-top: -48px;
padding-left: 5%;

}

.govtb{
float:left;
margin-left: 790px;
margin-top: -48px;
padding-left: 5%;

}
/*
.msie8 .govtb{
float:left;
margin-left: 842px;
}

.msie7 .govtb{
float:left;
margin-left: 842px;
}
*/
.slide{
height:150px;
width:297px;
}

/*.msie8 #block-locale-language, #block-menu-menu-topmenu, #block-block-2 {
    float: left;
    margin-left: 24px;
}
.msie7 #block-locale-language, #block-menu-menu-topmenu, #block-block-2 {
    float: left;
    margin-left: 24px;
}*/

.header-bottom{
    margin:0 auto;
	background: url("../images/menu_bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 29px;
	/*font-family: "Trebuchet MS",arial;
	border-bottom:1px solid white;
	background: #2D2D2D;
	height:40px;
	*/
	margin-top:2px;
	margin-left:0px;
	width: 996px;
}

.msie8 .header-bottom{
    margin:0 auto;
	background: url("../images/menu_bg.jpg") ;
	background-repeat:repeat-x;
	
}

.msie7 .header-bottom{
margin:0 auto;
background: url("../images/menu_bg.jpg") ;
background-repeat:repeat-x;/*background-color:#0c93ca !important;*/
}

.msie8 .sectiongroup1{
    border-top: 1px solid #FFFFFF;
    width: 100% ;
	margin-left: 0px !important;
}

.msie7 .sectiongroup1{
    border-top: 1px solid #FFFFFF;
    width: 100% ;
	margin-left: 0px !important;
}

.sectiongroup1{
	/*background-color: #A52A2A;*/
    border-top: 0px solid #FFFFFF;
    margin-left: -49px;
float:left;
    width: 100% ;
}
.msie8  .sectiongroup2{
/*background-color:yellow;*/
margin-left: 0px !important;
padding-top: 4px;
}
.msie7  .sectiongroup2{
/*background-color:yellow;*/
margin-left: 0px !important;
padding-top: 4px;
}

.sectiongroup2{
/*background-color:yellow;*/
margin-left: -49px;
padding-top: 4px;
}

.msie8  .sectiongroup3{
margin-left: 0px !important;
padding-top: 4px;
 width:111%;
}
.msie7  .sectiongroup3{
margin-left: 0px !important;
padding-top: 4px;
 width:111%;
}

.sectiongroup3{
 margin-left: -49px;
padding-top: 4px;
 width:111%;
 }

#block-menu-menu-government {
    background: url("../images/govt_tab_bg.jpg") no-repeat scroll 0 0 #FFFFFF;
    border: 1px solid #0066CC;
    width: 194px;
	min-height: 185px;
	/*font-family:Arial, Helvetica, sans-serif;
	font-size:12px;*/
	padding-left:15px;
}

#block-menu-menu-services {
    background: url("../images/service_tab_bg.jpg") no-repeat scroll 0 0 #FFFFFF;
    border: 1px solid #0066CC;
    width: 194px;
	min-height:185px;
	/*font-family:Arial, Helvetica, sans-serif;
	font-size:12px;*/
	padding-left:15px;
	margin-left: 8px;
}
#block-menu-menu-scheme {
    background: url("../images/grievance_tab_bg.jpg") no-repeat scroll 0 0 #FFFFFF;
    border: 1px solid #0066CC;
    width: 194px;
	min-height: 56px;
	/*font-family:Arial, Helvetica, sans-serif;
	font-size:12px;*/
	padding-left:15px;
	margin-top:5px;
}
#block-menu-menu-grievances {
    background: url("../images/grievance_tab_bg.jpg") no-repeat scroll 0 0 #FFFFFF;
    border: 1px solid #0066CC;
    width: 194px;
	min-height:184px;
	/*font-family:Arial, Helvetica, sans-serif;
	font-size:12px;*/
	padding-left:15px;
	margin-top:-77px;
}
#block-views-Forms-block_1{
    background: url("../images/forms_tab_bg.jpg") no-repeat scroll 0 0 #FFFFFF;
    border: 1px solid #0066CC;
    width: 194px;
	min-height:184px;
	/*font-family:Arial, Helvetica, sans-serif;
	font-size:12px;*/
	padding-left:15px;
	margin-left: 16px;
}

#block-menu-menu-whats-new {
    background: url("images/whats_new_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
    /*font-family: Arial,Helvetica,sans-serif;
    font-size: 96%;*/
    height: 175px;
    width: 300px;
	padding-left:225px;
}

#thiru_valu_old {
    background: url("images/thiruvalluvar-bkgr.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #B34103;
    height: 172px;
    margin-top: 5px;
    width: 433px;
}

.links_part{
float:left;
width:430px;
padding-left:20px;
padding-top:10px;
}
.links_part1{
float:left;

}
.footer_bot {
	display:block ;
	/*margin-top: 10px;*/
	padding-left:20px;
	padding-right:15px;
	background: url("../images/bottom_bg.jpg") repeat-x scroll 0 0 ;
	/*background-color:#38a7d2;*/
    height: 70px;
	width:100%;
	margin-left:-48px;
	width:112%;
}
.footer_bot a{
color:white;
}

.footerleft{
float:left;
width:650px;
}


.footer_text{
line-height:18px ; 
color:white;
font-size:10px;

float:left;
width: 307px;
padding-top:10px;

}
.footerright{
float:left;
}
/*
.chrome .footer_text1 { 
font-size: 10px !important;
}*/

.footer_text1{
line-height:18px ; 
color:white;
font-size:10px;
float:left;
/*width:315px;
*/padding-top:10px;
padding-left:21px;

}

.footer-top {
	padding-top: 2%;
	padding-left:20px;
	padding-right:15px;
	/*background-color:green !important;*/
}
.footer-top1{
	margin:0 auto;
	border-top: 1px solid #137CB6;
	height:30px;
	padding-top:10px;
	padding-left:10px;
	padding-right:14px;
	background-color:white ;
	margin-left:-49px;
	width:109%;
}
.footer-top1 ul li {
	margin:0 auto;
	float:left;
    color: #000000;
    display: block;
    /*font-family: Arial,Helvetica,sans-serif;*/
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 109px;
	border-right: 1px solid black !important;
}
.footer-top1 li{
width:130px;
float:left;
}
.footer-top1 a{
margin:0 auto;
width:80px;
/*font-size:11px;*/
color:black;
/*font-weight:bold;*/
}

.leaflast1 {
border-right:0px solid green !important;
}

/*--menu--*/
.top-nav {
	float: left;
	margin-left: -48px;
	font-size:12px;
	font-weight:bold;
}

.msie8 .top-nav {
margin-left:2px;}

.msie7 .top-nav {
margin-left:2px;}

.top-nav ul li {
	display: inline-block;
	float: left;
	padding: 6px 30px 5px 13px;
	border-right: 1px solid white ;
}
.top-nav ul li a {
	color: #fff;
	display: block;
	position: relative;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	/*font-size: 0.875em;*/
	position: relative;
	
}
.leaflast {
/*background-color:red;*/
border-right:0px solid #0a91c8 !important;
}
.top-nav li a:hover {
	color:#ffa503;
	
}

/*.top-nav li.active a{
color:red;
}*/

/*-- Footer menu--*/
.top-nav1 {
	float: left;
	width:996px;
}

.top-nav1 ul li {
	display: inline-block;
	float: left;
	padding: 10px 30px 0 13px;
	/*width: 10.99%;*/
	/*border-right:1px solid #137cb6;*/
}
.top-nav1 ul li a {
	color: black;
	display: block;
	position: relative;
	/*text-transform: uppercase;*/
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	/*font-size: 0.875em;*/
	position: relative;
	border-right:1px solid red;
}
.top-nav1 li.active a, .top-nav1 li a:hover {
	color:black;
}

#wrapper #container .sidebar {
    margin: 0px 0px 5em;
    width: 210px;
    float: left;
    z-index: 2;
    position: relative;
    padding-top: 10px;
}

/*--------inner page Start --------------*/
.leftmenu{
float:left;
width:150px;
background-color:white;
margin-top:13px;
margin-left:10px;
/*border:1px solid #0a86de;*/
}

.pagecontent{
overflow:hidden;
float: left;
width: 595px;
min-height: 700px;
background-color: white;
margin-top: 13px;
margin-left: 35px;
padding-bottom: 15px;
}

.page-government .pagecontent {
/*min-height:730px ;*/
width: 584px;
}

.rightmenu {
    border: 1px solid rgb(213, 175, 74);
    padding-left: 7px;
    width: 178px;
    background: url("../images/sidemenu_bg.png") repeat scroll 0% 0% transparent;	
	float:left;
	margin-left:10px;	
	margin-top:13px;
	/*height:240px;*/
	padding-bottom:5px;
}

.i18n-ta .li .last leaf {
background-color: white !important;
width: 178px !important;
height: 37px !important;
margin-left: -6px !important;
padding-left: 6px !important;
}

.i18n-ta .rightmenu {
height:267px;
background: url("../images/1sidemenu_bg.png") repeat scroll 0% 0% transparent !important;	
 }


/*--------inner page Footer--------------*/
/*
.chrome  .page-footer-top1 ul li {  
 width: 100px;
}

.chrome .front .page-footer-top1 {
margin:0 auto !important;	
float:left;
    border-top: 1px solid #137CB6;
    height: 25px;
    padding-left: 10px;
    padding-right: 14px;
    padding-top: 10px;
	background-color:white;

}*/

.page-footer-top1 {
margin:0 auto !important;
	/*float:left;*/
    border-top: 1px solid #137CB6;
    height: 25px;
    padding-left: 10px;
    padding-right: 14px;
    padding-top: 10px;
	background-color:white;
	font-size:11px;
  
}

.page-footer-top1 ul li {
	margin:0 auto;
	float:left;
    color: #000000;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 108px;
	border-right: 1px solid black !important;
}

.page-footer-top1 li{
width:130px;
float:left;
}
.page-footer-top1 a{
margin:0 auto;
width: 123px;
/*font-size:11px;*/
color:black;
}
/*
.chrome .front .page-footer_bot{
float:left !important;
margin:0 auto !important;
width:961px !important;
}*/
.page-footer_bot {
	display:block ;
	padding-left:12px;
	padding-right:15px;
	/*background: url("../images/bottom_bg.jpg") repeat-x scroll 0 0 ;*/
	background-color:#0f7cb7;
    height: 70px;
	/*float:left;*/
	margin:0 auto;
}

.page-footer_bot a{
color:white;
}

.rightsidebar  li  {
	color: #654102 !important;
	display: block;
	line-height:25px;
	text-decoration:none;
}

.rightsidebar  li a  {
	color: #654102;
	display: block;
	line-height:18px;
	/*font-size:12px !important;*/
	text-decoration:none;
	padding-top:10px;
	padding-left:5px;
}

.rightsidebar a.active  {
  color: #C8430A; 
  font-weight: bold;
}

.rightsidebar ul li a {
	color: #654102; ;
	display: block;
	position: relative;
	/*text-transform: uppercase;*/
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	/*font-size: 0.875em;*/
	position: relative;
	line-height:16px;
	/*font-size:12px !important;*/
	text-decoration:none;
}

.rightsidebar ul li a:active {
  color: #C8430A; 
  font-weight: bold;
}
.leftsidebar  li  {
	color: black !important;
	display: block;
	line-height:25px;
	text-decoration:none;
	border:1px solid #0a86de;
	height:30px;
}

.leftsidebar  li a  {
	color: #0a86de ;
	font-weight:bold;
	display: block;
	line-height:18px;
	/*font-size:12px;*/
	text-decoration:none;
	padding-top:3px;
	padding-left:40px;
}

.leftsidebar  li a:active  {
	color: #c8430a;
	display: block;
	line-height:18px;
	/*font-size:12px;*/
	text-decoration:none;
	padding-top:10px;
	padding-left:5px;
}

.leftsidebar ul li a {
	color: black ;
	display: block;
	position: relative;
	/*text-transform: uppercase;*/
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	/*font-size: 0.875em;*/
	position: relative;
	border-right:1px solid red;
	line-height:25px;
	text-decoration:none;
}
.imgli{
margin-left:-30px;
}
.left-corner {
background: url("../images/content_corner.jpg") no-repeat scroll right top transparent;
position: relative;
height: 191px;

}

.profile_form {
    float: left;
    width: 153px;
    margin-top: 2px;
	width:800px;
    font-weight: bold;
	/*font-size:12px;*/
	margin-left:1px;
	color:#494949;
	
}

p#profile_form {
  /*  width: 375px;*/
    float: left;
    margin-top: 0px;
	/*font-size:12px;*/
	line-height:25px;
	margin-left:15px;
	margin-bottom:15px;
	color:#494949;
	width: 559px;
}

.profile_info{
font-weight:bold; 
margin-left: 205px;
padding-top: 63px;
color:#494949;
/*font-size:12px;*/
}

.breadcrumb2 {
	/*font-size:11px;*/
    position: absolute;
	top: 22px;
    left: 6px;
    z-index: 3;
	color: rgb(82, 154, 214);
}
.breadcrumb2 a{
	/*font-size:11px;*/
    left: 20px;
    z-index: 3;
	color: rgb(82, 154, 214);
}
.breadcrumb1 {
	color: #529AD6;
    /*font-size: 11px;*/
    left: 25px;
    position: relative;
    top: -183px;
    z-index: 3;
}
.breadcrumb1 a{
	/*font-size:11px;*/
    left: 20px;
    z-index: 3;
	color: rgb(82, 154, 214);
}
.profile_form_div {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.profileimg{
margin-top:20px; 
margin-left:15px;
}
.blueboldmenu {
border:1px solid #0A86DE;
color:#136CA6;
font-family:Arial,Helvetica,sans-serif;
font-weight:bold;
padding-left:42px;
text-decoration:none;
height:27px;
width:120px;
padding-top:6px;
text-align:justify;background-color:#FFFFFF;
}

.blueboldmenu a {
	color: #0a86de ;
	font-weight:bold;
	display: block;
	line-height:18px;
	/*font-size:12px;*/
	text-decoration:none;
	padding-top:3px;
}
.blueboldmenu a:hover {
text-decoration:underline;

}

.result_inner {
background-color: rgb(239, 247, 253);
border-bottom: 1px solid rgb(4, 123, 191);
border-left: 1px solid rgb(4, 123, 191);
border-right: 1px solid rgb(4, 123, 191);
/*min-height: 260px;*/
padding-left: 15px;
padding-top: 15px;
width: 537px;
word-wrap: break-word;
margin-left: 5px ;
margin-top: 40px;
margin-bottom: 15px;
position: absolute;

}

/*#viewmod_addnewform {
    background: url("../images/forms_tab.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 77px;
}	

.viewmod_addnewformss {
background: url("../images/forms_tab.jpg") no-repeat scroll 0px 0px transparent;
height: 77px;
margin-left: 5px;
position: relative;
top: 40px;
}*/	

.result_inner_search {background-color: #EFF7FD; padding-bottom:3px; border-left: 1px solid #047BBF;
    border-right: 1px solid #047BBF;border-bottom: 1px solid #047BBF;width:498px;padding-top: 15px;padding-left: 15px;}
.result_inner_atoz{  background-color: #EFF7FD;
    border-left: 1px solid #047BBF;
    border-right: 1px solid #047BBF;
    padding-left: 29px;
    padding-top: 10px;
    width: 484px;
	}
	
	/*document page by rafi*/
.document_head_list .first_clm{float:left;width: 52%; height:55px;}
.document_head_list .second_clm{	 height:55px;}
.document_head_list li {margin-bottom: 3px; padding-left: 3px;  margin-right:20px; padding-top:2px; padding-bottom:2px;}
.document_head_list li a{ /*font-size:12px;*/ color:black; }

/*.document_head_list li a {color:#000000;}*/
.document_head_list li a:hover{ color:#C11803;text-decoration:underline;}
.document_head_list .d29,.document_head_list .d30{ height:60px;}
.first_clm a,.second_clm a{color:#000000;}

.inner_tab_content {padding-top:50px; padding-left: 8px;}
.inner_tab_content .inner_li{float:left;padding-left:10px;padding-right:10px; padding-top:4px; background:none !important;}
.inner_tab_content .inner_li a{ /*font-size:12px;*/  padding:5px 5px 5px 5px;}
.inner_tab_content .inner_li a:hover{ /*font-size:12px;*/ color:white; background-color:#047bbf; padding:5px 5px 5px 5px;}
.inner_tab_content .inner_li .active{ color:white; background-color:#047bbf; padding:5px 5px 5px 5px;}
.inner_tab_content .inner_li a:active{ color:white; background-color:#047bbf; padding:5px 5px 5px 5px;}

.about-services {
	width: 100%;
	float: left;
	margin-left: 3%;
	/*height: 500px;
	overflow-y: auto;*/
	
}
.about-services h3 {
	color:#FFA503;
	margin-bottom:20px;
	/*font-size: 1.2em;*/
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: 0px;
	text-transform: uppercase;	
}
.questions {
	margin: 45px 0 3px 0;
	
}
.questions h4 {
	color: #333;
	font-weight: bold;
	/*font-size: 12px;*/
	margin-bottom: 5px;
	
}

.page-tamilnadustate .about_tamil { font-weight: bold;}
.i18n-ta .page-tamilnadustate .about_tamil { font-weight: bold;}
.questions p {
	/*font-size: 12px;*/
	color: #494949;
	line-height: 2.0em;
	padding: 4px 0px 0px 0px;
	/*padding: 4px 0px 8px 0px;
	padding: 0px 0px 0px 0px;*/
	margin-left:15px;
	text-align:left;
	width:552px;
	/*margin-right:38px;
	border-bottom:1px solid #dddddd;*/
}
.page-disclaimer .tagimg {
margin-left: 220px;
}

.m{
text-decoration: none;
margin-top:-7px;
color: rgb(255, 255, 255);
/*font-size: 0.65em;*/
padding: 0.4em 0.7em;
border: 1px solid white !important;
}
.estat{
margin-left:677px;
color:#137cc3;
font-weight:bold;
width:200px;
height:25px;
margin-top: -16px;
}
.i18n-ta .estat{ 
 margin-top: -29px;
}

.estat a{
color:#137cc3;
text-decoration:none;

margin-top:35px;
}
.not-front .last_updated{
margin-top: -15px;
}
.last_updated{
margin-left:806px;
color:#137cc3;
font-weight:bold;
width:200px;
height:25px;
margin-top: -25px;

}
/*
.chrome .front .last_updated .estat{
margin-top: 35px;
}*/

.last_updated a{
text-decoration:none;
color:#137cc3;
}
.first leaf active ul li {

	margin:0 auto;
	float:left;
    color: #000000;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 109px;
	border-right: 1px solid black !important;
}

/*breadcrumb*/
.breadcrumb {
margin-left:12px;
margin-top: -8px;
}
#breadcrumbhome {
    background: url("../images/home.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 20px;
	margin-top:5px;
}
.breadcrumb a:hover {
    text-decoration:underline;
}
.block-breadcrumb {
    display:none;
}
.panel .help-block {
    display: none;
}

#block-locale-language ,#block-menu-menu-topmenu ,#block-block-2{
float:left;
}
.about{
text-align:center;
font-size:19px;
}
.innovationsong{
text-align:center;
padding-top:5px;
}
.innovationsong a{
text-align:center;
padding-top:5px;
font-size:13px;
text-decoration:underline;
color:black;
}

.csclogin1{
color:white;
margin-left:10px;
font-size:12px !important;
}

.chrome .csclogin1 a {
font-size: 11px !important;
margin-top: -11px;
}

.chrome .csclogin1 a{
font-size:11px !important;
}
.csclogin1 a{
color:white;
font-size:12px !important;

font-weight:bold;
padding-top:6px;
float:left;
margin-left:25px;
}


.msie .csclogin1 a{
margin-top:-14px !important;
}

.chrome .csclogin1 a{
margin-top:0px !important;
}

.opera .csclogin1 a{
margin-top:-14px !important;
}
.safari .csclogin1 a{
margin-top:-14px !important;
}
.search_menu_top{
float:left;
color:white;
font-size:12px;
font-weight:bold;
width:70px;
margin-left: -40px;
}
.search_menu_top a{
float:left;
color:white;
font-size:12px;
font-weight:bold;
width:45px;
margin-left:80px;
padding-top:6px;

}
.search_menu_top a:hover{
text-decoration:underline;
}
.txttop {
margin-left:56px;
float:left;
margin-top:4px;
}
.form-submit {
    background: url('../images/icon/submit_btn.png') repeat scroll 0% 0% transparent;
    border: 0px none;
    height: 22px;
    color: #FFF;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
}
.contactmenu {
background: url("../images/sidemenu_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 1px solid #D5AF4A;
float: left;
height: 95px;
margin-left: 10px;
margin-top: 13px;
padding-bottom: 5px;
padding-left: 7px;
width: 178px;
}

.i18n-ta .grv {
background: url('../images/grie_menu.jpg') no-repeat scroll 0% 0% white !important;
padding-bottom:15px !important;
padding-top:10px !important;
}
.i18n-ta .menu nav {margin-top: -8px;}

.user_login_btn {
    background: url('../images/icon/loginbuttonbg.jpg') repeat-x scroll 0px 0px transparent;
    border: 0px none;
    cursor: pointer;
    height: 24px;
}



/* Added by lakshmi narayanan */


#sizer {
    display: inline-flex !important;
    float: left;
    margin-left: 54% !important;
}

a.increase {
    margin: 1px;
}

a.reset {
    margin: 5px;
}

.header {
overflow-x: unset !important;
}

.chrome .header {
overflow-x: unset !important;
}

@media (min-width: 320px) and (max-width: 480px) { 

#front_maincontainer1 {
height: 100% !important;
}

#press_relase_news {
margin-left: -13px !important;
}

.col_1_of_30.span_1_of_30 {
    margin-left: 12px !important;
}

.kural {
    width: 57% !important;
}

#amma_unavagam {
    display: -moz-deck;
}

#amma_unavagam {
    margin-top: 40px !important;
}

#whats_new {
  margin-left: -7% !important;
}

div#gallery {
    margin-bottom: 27%;
    margin-top: 2% !important;
}

.job {
    margin-top: -30% !important;
    margin-left: 18% !important;
}

.mg {
margin-bottom: 25%;
}

.mapf {
    margin-left: -3% !important;
    margin-top: -1% !important;
}
 
.govtb {
   margin-right: -35% !important;
    margin-top: -19% !important;
    margin-left: 59% !important;
}

.page-footer_bot {
    height: 200px !important;
    line-height: 25px;
    text-align: center !important;
}

.footer_text1 {
    text-align: center;
}

.page-footer-top2 {
   display: none !important;
}

#sizer {
  display: none !important;
}

}


@media (min-width: 768px) and (max-width: 992px) { 

#front_maincontainer1 {
    height: 100% !important;
}

.kural {
    width: 57% !important;
}

#amma_unavagam a {
width: 98%;
margin-top: 15px;
}

.col_1_of_30.span_1_of_30 {
    width: 45%;
}

div#whats_new {
    margin-left: 132% !important;
}

#block-menu-menu-grievances {
    margin-top: -92% !important;
}

div#block-menu-menu-scheme {
    margin-top: 35px;
}


div#block-views-Forms-block_1 {
    margin-top: 35px;
}

div#gallery {
    margin-bottom: 65px !important;
    margin-left: 50% !important;
}

.job {
    margin-top: -10% !important;
}

.mapf img {
    margin-top: -41px !important;
    margin-left: -25px !important;
}

.govtb img {
    margin-left: 89% !important;
    float: left !important;
    margin-top: -5% !important;
}

.chrome .govtb img {
   margin-top: -10% !important;
}

.page-footer-top2 div>ul>li {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

}


