/* CSS Document */
.clr{clear:both;}
#wrapper #container #center .right-corner .left-corner {
background:transparent url(images/content_corner.jpg) no-repeat scroll right top;
left:-10px;
margin-left:-2px;
min-height:400px;
/*padding:60px 25px 5em 35px;*/
padding:40px 25px 5em 35px;
position:relative;
/*border:1px solid #B5B5B4;*/
}

.blueboldmenu_mo {
border:1px solid #0A86DE;
color:#993300;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
padding-left:50px;
text-decoration:underline;
height:27px;
width:100px;
padding-top:6px;
text-align:justify;
}
.blueboldmenu_mo a {
color:#993300;
}

.blueboldmenu {
border:1px solid #0A86DE;
color:#136CA6;
font-family:Arial,Helvetica,sans-serif;
font-size:100%;
font-weight:bold;
/*padding-left:50px;*/ padding-left:42px;
text-decoration:none;
height:27px;
/*width:104px;*/width:120px;
padding-top:6px;
text-align:justify;background-color:#FFFFFF;
}

.blueboldmenu .active {color:#c8430a;}
#block-menu-menu-rightblock .menu .active,#block-menu-menu-contactdirectory .menu .active{color:#c8430a; font-weight:bold;}
#block-menu-menu-topmenus .menu .active-trail .active{ font-size:14px;font-weight:bold;
/*background:transparent url(images/menu_bg_sel.jpg) repeat;*/
 }

.sidemenu {
border:1px solid #D5AF4A;
background:url(images/sidemenu_bg.png);
color:#654102;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:normal;
text-decoration:none;
width:162px;
}

.sidemenu li {
/*background:transparent url(images/bullet.png) no-repeat scroll 1px 0.79em;*/
padding-bottom:6px;
}
.sidemenu a.active, .sidemenu a{
color:#654102;
}

.sidemenu a:hover {
background-color:#0066FF;
color:#FFFFFF;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:normal;
text-decoration:none;
}



#front_menu{ background:url(images/menu_bg.jpg) repeat-x; height:31px; }
#front_menu{width:996px;}
.menu_handler {/*width:750px;*/ width:100%;}
.menu_handler ul {
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
width:100%;
}
#menubar ul li.first leaf active {
color:#FFFFFF;
display:block;
float:left;
font-family:Arial,Helvetica,sans-serif;
font-size:100%;
font-weight:bold;
height:28px;
text-align:center;
/*width:100px;*/
}
.menu_handler ul li .menu2, .menu_handler ul li {
color:#FFFFFF;
display:block;
float:left;
font-family:Arial,Helvetica,sans-serif;
font-size:100%;
font-weight:bold;
height:28px;
text-align:center;
/*width:90px;*/
}
.menu_handler li, #menubar ul li.last {
display:block;
float:left;
height:28px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
.menu_handler li{ border-right:1px solid #FFFFFF;}
.menu_handler ul li a {
background-repeat:no-repeat;
color:#137CB6; 
display:block;
font-family:arial;
font-size:100%;
font-weight:bold;
height:28px;

text-align:center;
text-decoration:none;
/*width:90px;*/
padding:5px 18px 0;

}
.menu_handler a {
color:#FFFFFF;
}

.block-title {display:none;}
#block-menu-menu-topmenus{
color:#FFFFFF;
font-family:Arial,Helvetica,sans-serif;
font-size:100%;
font-weight:bold;
text-decoration:none;
/*width:75%;*/ width:70%;float:left;}

#block-locale-0{float:left;/*width:117px;*/border-right:1px solid #FFFFFF; width:18%;}
#block-locale-0 li{border:none;}
#block-locale-0 h2 {display:none;}

#block-menu-menu-topmenus h2,#block-menu-menu-subhome h2,#block-menu-menu-emenus h2,#block-menu-menu-tmenu h2{display:none;}
#block-menu-menu-subhome { float:left; border-right:1px solid #FFFFFF; width:80px;}

#block-menu-menu-emenus { float:left; border-right:1px solid #FFFFFF; width:107px;}
#block-menu-menu-tmenu { float:left; border-right:1px solid #FFFFFF; width:120px;}

#menubar ul.menu li{}
#menubar ol li, ul li, ul.menu li, .item-list ul li, li.leaf{margin:0em 0 0em 0em;}

#front_menu .form-button,#front_menu .form-submit{margin:0;}
/*search this side hide*/
#edit-search-theme-form-1-wrapper label{display:none;}

/* last update date */

#block-views-last-dateupdated-block_1 {margin-top:-25px;float:right;}
#block-views-last-dateupdated-block_1 span{color:#137CB6;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
text-decoration:none;

}

/*footer menus*/
#block-menu-menu-footermenus h2{display:none;}
.footer_menu_data {background-color:#FFFFFF; border-top:1px solid #137CB6;}
.footer_menu_data ul {
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
//margin-left:20%;
width:95%;
padding:0;
}
.footer_menu_data ul li.first {
color:#000000;
display:block;
float:left;
font-family:Arial,Helvetica,sans-serif;
font-size:100%;
font-weight:bold;
height:28px;
text-align:justify;
 width: 15%;
 border-right:1px solid #000;
/*width:100px;*/
}
.footer_menu_data ul li .menu2, .footer_menu_data ul li {
color:#000000;
display:block;
float:left;
font-family:Arial,Helvetica,sans-serif;
font-size:100%;
font-weight:bold;
height:28px;
text-align:justify;
width:14%;
/*padding-left:1%;
padding-right:1%;*/
border-right:1px solid #000;

/*width:90px;*/
}
.footer_menu_data li, .footer_menu_data ul li.last {
display:block;
float:left;
height:28px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
/*padding-left:1%;*/
}
.footer_menu_data li{ border-right:1px solid #FFFFFF;width: 140px;}
.footer_menu_data ul li.last{ border:none;}
.footer_menu_data ul li a.menu2, .footer_menu_data ul li a {
background-repeat:no-repeat;
color:#000000;
display:block;
font-family: Arial,Helvetica,sans-serif;
font-size:100%;
font-weight:bold;
/* float:left;*/
/*height:28px;*/
 text-align:center;
text-decoration:none;
/* padding:5px 18px 0; */
width:110%;

}
.footer_menu_data a {
color:#000000;
}
/*footer menu end*/

.lohk_title{color:#990000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-style:normal;
font-weight:bold;
text-decoration:none;}

.lohk_table {background-color:White;
border:1px none #E7E7FF;
border-collapse:collapse;
height:2px;}

.lohk_field{
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:10px;
font-style:normal;
font-weight:bold;width:150px;}

.lohk_fir_row{background-color:#FFFFFF;}
.lohk_sec_row{background-color:#ECE9D8;}

.imagecontentbox{float:left;
margin-bottom:5px;
margin-right:15px;
text-align:center;}

.state_profile{float:left;width:140px; border:1px solid #FFFFFF;background-color:#F4F4F4; padding-left:5px; }
.state_profile_heading{float:left; width:120px;background-color:#D6D6D6; border:1px solid #FFFFFF;padding-left:25px;}
.state_profile_heading1{float:left; width:140px;background-color:#D6D6D6; border:1px solid #FFFFFF;padding-left:5px;}
.img_class{float:left;width:20px;}
.blueboldmenu a{color: #027AC6;}



.mps_list li{padding-bottom:0px;}
/*Government*/
.contentarial_grey {
color:#49494A;
font-family:Arial,Helvetica,sans-serif;
font-size:100%;
font-weight:normal;
line-height:18px;
text-decoration:none;
text-align:justify;
width: 558px !important;
}
.style2 {
font-size:18px;
}

.cm_link a,#abt_tn a{color:#654102;}
#abt_tn a{ font-weight:bold;}

.title15_blue {
color:#137CB6;
font-family:Arial,Helvetica,sans-serif;
font-size:14px;
font-weight:bold;
text-decoration:none;
}
.submenu_selected {
color:#654102;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
text-decoration:underline;
}
.profile_form1{
float:left;
width:200px;
margin-top:0;
font-weight:bold;
}

/*.view-loksabha-view,.view-rajyasabha-view,.view-viewmapusers,.view-DistrictList,.view-lokshabalist {border:1px solid #FAE3C3;}
.view-loksabha-view th,.view-rajyasabha-view th,.view-viewmapusers th,.view-DistrictList th,.view-lokshabalist th{background-color:#FAE3C3;color:#800000;font-weight:bold;}
.view-loksabha-view th a,.view-rajyasabha-view th a,.view-viewmapusers th a,.view-DistrictList th a,.view-lokshabalist th a{color:#800000;font-weight:bold;}
.view-loksabha-view .odd,.view-rajyasabha-view .odd ,.view-viewmapusers .odd,.view-DistrictList .odd,.view-lokshabalist .odd{background-color:#FFFFFF;border-color:#FAE3C3;border-style:solid;}
.view-loksabha-view .even,.view-rajyasabha-view .even ,.view-viewmapusers .even,.view-DistrictList .even,.view-lokshabalist .even{background-color:#ECE9D8;border-color:#FAE3C3;border-style:solid;}
.view-loksabha-view .odd .active,.view-rajyasabha-view .odd .active,.view-viewmapusers .odd .active,.view-DistrictList .odd .active,.view-lokshabalist .odd .active{background-color:#FFFFFF;}
.view-loksabha-view .even .active,.view-rajyasabha-view .even .active,.view-viewmapusers .even .active,.view-DistrictList .even .active,.view-lokshabalist .even .active{background-color:#ECE9D8;}*/

.view-loksabha-view,.view-rajyasabha-view,.view-viewmapusers,.view-DistrictList,.view-lokshabalist,.view-view-profile-MLA-endusers,.view-view-profile-MLA-endusers-all {border:1px solid #ADDBF3;}
.view-loksabha-view th,.view-rajyasabha-view th,.view-viewmapusers th,.view-DistrictList th,.view-lokshabalist th{background-color:#ADDBF3;color:#0A4565;font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.view-loksabha-view th a,.view-rajyasabha-view th a,.view-viewmapusers th a,.view-DistrictList th a,.view-lokshabalist th a{color: #0A4565;font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.view-loksabha-view .odd,.view-rajyasabha-view .odd ,.view-viewmapusers .odd,.view-DistrictList .odd,.view-lokshabalist .odd{background-color:#FFFFFF;border-color:#ADDBF3;border-style:solid; font-family:Arial, Helvetica, sans-serif;}
.view-loksabha-view .even,.view-rajyasabha-view .even ,.view-viewmapusers .even,.view-DistrictList .even,.view-lokshabalist .even{background-color:#EFEFEF;border-color:#ADDBF3;border-style:solid; font-family:Arial, Helvetica, sans-serif;}
.view-loksabha-view .odd .active,.view-rajyasabha-view .odd .active,.view-viewmapusers .odd .active,.view-DistrictList .odd .active,.view-lokshabalist .odd .active{background-color:#FFFFFF;}
.view-loksabha-view .even .active,.view-rajyasabha-view .even .active,.view-viewmapusers .even .active,.view-DistrictList .even .active,.view-lokshabalist .even .active{background-color:#EFEFEF;}




.inner_div p span{ font-size:12px;}







/*new css for view content types 28-07-2010 starts here*/
.node_view_heading {
    height:60px;   
    background-color:#106AC0;
}
.node_view_bottom {
    height:17px;   
    background-color:#106AC0;
}
.node_view_head_content {
    background : url(images/rightcurve.jpg) no-repeat scroll right top transparent;
	/*padding-top:15px;*/
}
.node_view_bottom_content {
    background : url(images/bottomright.jpg) no-repeat scroll right top transparent;
    height:17px;
}
img.node_view_top_corner {
    border:medium none;
    display:block !important;
    float:left;
    height:49px;
    width:12px;
}
img.node_view_bottom_corner {
    border:medium none;
    display:block !important;
    float:left;
    height:17px;
    width:12px;
}
.node_view_head_title {
    font-weight:bold;
    color:#FFFFFF;
    font-size:100%;
}
.node_viewlist_odd {
    border-left:1px solid #106AC0;
    border-right:1px solid #106AC0;
    background-color:#FFFFFF;
    padding:2px;
    /*height:30px;*/
}
.node_viewlist_even {
    border-left:1px solid #106AC0;
    border-right:1px solid #106AC0;
    background-color:#E5E5E5;
    padding:2px;
   /* height:30px;*/
}
.left_column, .middle_column, .right_column {
    float:left;
    padding:2px 2px 2px 6px;
    margin-top:0.3em;
	word-wrap: break-word;	
}
.left_column {
    width:33%;
}
.left_column, .middle_column {   
    font-weight:bold;
}
.right_column {
    padding-left:10px;
	text-align:justify;
	width:58%;
	word-wrap:break-word;
}
.whitespace
{ margin-left:40px;
}
.whitespace1
{
 margin-left:20px;
}
.wid_max .left_column{ width:29%;}
/*new css for view content types 28-07-2010 ends here*/

/*custom module user_view*/

#viewmod_documents{background:transparent url(images/content_tabs/documents_tab.jpg) no-repeat;height:77px;}
#viewmod_documents_ta{background:transparent url(images/content_tabs/documents_tab_ta.jpg) no-repeat;height:77px;}


#viewmod_service_registration{background:transparent url(images/content_tabs/services_tab.jpg) no-repeat;height:77px;}
#viewmod_service_registration_ta{background:transparent url(images/content_tabs/services_tab_ta.jpg) no-repeat;height:77px;}

#viewmod_addnewform{background:transparent url(images/content_tabs/forms_tab.jpg) no-repeat;height:77px;}
#viewmod_addnewform_ta{background:transparent url(images/content_tabs/forms_tab_ta.jpg) no-repeat;height:77px;}

/*#viewmod_schemes_tab{background:transparent url(../images/schemes_tab.jpg) no-repeat;height:77px;padding-left:10px; width:530px;}
#viewmod_schemes_tab_ta{background:transparent url(../images/schemes_tab_ta.jpg) no-repeat;height:77px;padding-left:10px;}*/

#viewmod_announcements{background:transparent url(images/content_tabs/announcement_tab.jpg) no-repeat;height:77px;}
#viewmod_announcements_ta{background:transparent url(images/content_tabs/announcement_tab_ta.jpg) no-repeat;height:77px;}

/*#viewmod_govtinterest{background:transparent url(../images/government_tab.jpg) no-repeat;height:77px;}
#viewmod_govtinterest_ta{background:transparent url(../images/government_tab_ta.jpg) no-repeat;height:77px;}


.grievances_viewlist_recard{background:url(images/content_tabs/grievances.jpg) no-repeat;height:100px;padding-top:15px;}
.grievances_viewlist_recard_ta{background:url(images/content_tabs/grievances_ta.jpg) no-repeat;height:100px;padding-top:15px;}

#viewmod_rules{background:transparent url(images/content_tabs/rulesandregulation.jpg) no-repeat;height:77px;}
#viewmod_rules_ta{background:transparent url(images/content_tabs/rulesandregulation_ta.jpg) no-repeat;height:77px;}


#viewmod_acts{background:transparent url(images/content_tabs/actsandordinance.jpg) no-repeat;height:77px;}
#viewmod_acts_ta{background:transparent url(images/content_tabs/actsandordinance_ta.jpg) no-repeat;height:77px;}

#viewmod_circulars{background:transparent url(images/content_tabs/circularsNotifiations.jpg) no-repeat;height:77px;}
#viewmod_circulars_ta{background:transparent url(images/content_tabs/circularsNotifiations_ta.jpg) no-repeat;height:75px;}


#viewmod_whatsnew{background:transparent url(images/content_tabs/WhatsNewTab1.jpg) no-repeat;height:77px;}
#viewmod_rti{background:transparent url(images/content_tabs/rti_tab.jpg) no-repeat;height:77px;}
#viewmod_rti_ta{background:transparent url(images/content_tabs/rti_tab_ta.jpg) no-repeat;height:77px;}
#viewmod_citizenchar{background:transparent url(images/content_tabs/citizencharter_tab.jpg) no-repeat;height:77px;}


.inner_tab_content {padding-top:50px; padding-left: 8px;}
.inner_tab_content .inner_li{float:left;padding-left:10px;padding-right:10px;}
/*.result_inner {background:transparent url(images/content_tabs/content_repeat.jpg) repeat-y; padding-left:30px; min-height:260px; padding-top:1px;}*/

.result_inner { background-color: #EFF7FD;
    border-bottom: 1px solid #047BBF;
    border-left: 1px solid #047BBF;
    border-right: 1px solid #047BBF;
    min-height: 260px;
    padding-left: 15px;
    padding-top: 15px;
	width:498px;
	word-wrap: break-word;
	}
	

.result_inner_search {background-color: #EFF7FD; padding-bottom:3px; border-left: 1px solid #047BBF;
    border-right: 1px solid #047BBF;border-bottom: 1px solid #047BBF;width:498px;padding-top: 15px;padding-left: 15px;}
.result_inner_atoz{  background-color: #EFF7FD;
    border-left: 1px solid #047BBF;
    border-right: 1px solid #047BBF;
    padding-left: 29px;
    padding-top: 10px;
    width: 484px;
	}

/*for tab */
.inner_tab_content .inner_li:hover { color:#FFFFFF; background-color:#047bbf;}
.inner_tab_content .inner_li a{  text-decoration:none;}
.inner_tab_content .inner_li a:hover{text-decoration:none; color:#FFFFFF;}
/*.inner_tab_content .inner_li{color:#993300;}*/


.result_inner_search .form-submit{margin:0px;}

.result_inner_search #edit-doc-cont-search-wrapper label,
.result_inner_search #edit-serv-cont-search-wrapper label
{width:120px;}


#edit-doc-cont-search-wrapper .description,
#edit-form-cont-search-wrapper .description,
#edit-rti-search-wrapper .description,
 #edit-citcher-cont-search-wrapper .description,
#edit-anno-search-wrapper .description{padding-left:120px; color:#000000;}



.result_inner_search #edit-doc-cont-search-wrapper,
.result_inner_search #edit-serv-cont-search-wrapper {float:left;padding-right:10px;}
.sea_go_but { /*padding-top:10px;*/}
.record_found{ font-weight:bold; color:#BA1803; font-size:12px; padding-left:5px;}
.result_inner_search .res_title_ch{padding-left:20px;}

.result_inner_search #edit-cont-search-wrapper label{width:100px;}
.result_inner_search #edit-cont-search-wrapper{float:left;padding-right:10px;}
.no_record { color:#FF0000; font-size:12px; font-weight:bold; padding:5px 0px 0px 15px; clear:both;}


.grey_bord_line {border:1px solid #B1B3B2;margin-top:5px;width:460px;}
/*custom module user_view end */

/*for views design  Services*/
.view-view-dept .view-header, 
.view-view-category .view-header
{background:transparent url(images/content_tabs/services_tab_citi.jpg);height:104px;}
.view-listatoz .view-header{background:transparent url(images/content_tabs/service_citi_atoz.jpg);height:150px;}


.view-view-dept .view-content,
.view-view-category .view-content
{background:transparent url(images/content_tabs/citi_tab_bg.png) repeat-y; padding-left:30px; min-height:260px;}
.view-listatoz .view-content{background:transparent url(images/content_tabs/atoz_repeat_citi.jpg) repeat-y; padding-left:30px; min-height:260px;}

.view-view-profile-MLA-endusers-all .view-content
{    background-color: #EFF7FD;
    border-bottom: 1px solid #047BBF;
    border-left: 1px solid #047BBF;
    border-right: 1px solid #047BBF;
    min-height:270px;
    padding-top:1px;
	width:534px;
  }
.view-lokshabalist .view-content
{    background-color: #EFF7FD;
    border-bottom: 1px solid #047BBF;
    border-left: 1px solid #047BBF;
    border-right: 1px solid #047BBF;
    min-height:270px;
    padding-top:1px;
	width:516px;
  }

.view-view-dept .view-header .tab_links,
.view-view-category .view-header .tab_links,
.view-listatoz .view-header .tab_links
{padding-left:27px;padding-top:57px;}


.grey_line {border:1px solid #b1b3b2;margin-left:25px;margin-top:5px;width:373px;}
.grey_line_atoz{border:1px solid #b1b3b2;margin-left:25px;margin-top:5px;width:430px;}
.tab_atoz{padding-left:28px;padding-top:20px;}
/*End views for the Services*/


/*sankar left menu*/
#block-menu-menu-rightblock {
color:#654102;
font-family:Arial,Helvetica,sans-serif;
font-size:100%;
font-weight:normal;
text-decoration:none;
/*width:162px;
margin-left:50px;*/
}
#block-menu-menu-rightblock .content{background:url(images/sidemenu_bg.png);border:1px solid #D5AF4A;padding-left:7px;
width:178px;}

#block-menu-menu-rightblock a {
color:#654102;

}

#block-menu-menu-rightblock h2{
display:none;
}
#block-menu-menu-rightblock a:active{
text-decoration: none
}
#block-menu-menu-rightblock a:link {
text-decoration: none
}
#block-menu-menu-rightblock li {
/*background:transparent url(images/bullet.png) no-repeat scroll 1px 0.79em;*/
padding-bottom:6px;
}




/*textsize changes*/
.txt_size_serv h2{display:none;}
/*.txt_size_serv ul {list-style:none;}
.txt_size_serv ul li{float:left;}
.txt_size_serv{margin-left:-29px;margin-top:-4px;}
.txt_size_serv ul li a img{border:0px;padding-left:1px;padding-right:1px;}*/
/*text change end*/
#block-textsize-0 {float:left;}
#block-pagestyle-0 {float:right;}
ul.pagestyle_list li a img{padding-right:2px;}

.result_inner_form {background:transparent url(images/content_tabs/content_repeat.jpg) repeat-y; padding-left:30px; height:80px;padding-top:20px;}
.res_dept .dept_link{color:#BA1803;}
/*.res_dept {
width:500px;margin-top:10px;margin-bottom:10px;float:left
}*/


/* Imartant website view css start old
 
  .cck_view_heading {
    height:20px;  
    background-color:#106AC0;
}
.cck_view_head_content {
    background : url(images/rightcurve.jpg) no-repeat scroll right top transparent;
}
.cck_view_bottom {
    height:17px;  
    background-color:#106AC0;
}
.cck_view_bottom_content {
    background : url(images/bottomright.jpg) no-repeat scroll right top transparent;
    height:17px;
}
  .cck_viewlist_recard {
    border-left:1px solid #106AC0;
    border-right:1px solid #106AC0;
	border-bottom:1px solid #106AC0;
}
.cck_head_title {
   background-color:#106AC0;
   color:#FFFFFF; 
   text-align:left; 
}
.cck_head_title h3 { margin-left:20px; padding-bottom:3px;
 }
.view-importantwebsites .field-content a{ margin-left:-8px;}

.view-importantwebsites .pager{ padding-top:20px;}
.view-importantwebsites .pager .pager-current {border:none;background:transparent url(images/icon/circle.png) no-repeat; padding-top:2px; color:#FFFFFF; }

*/


/*------- Imartant website view css start ---------*/
 
  .view-importantwebsites  .cck_view_heading {
    height:20px; 
    background-color:#106AC0;
}
 .view-importantwebsites .cck_view_head_content {
    background : url(images/rightcurve.jpg) no-repeat scroll right top transparent;
}
 .view-importantwebsites .cck_view_bottom {
    height:17px; 
    background-color:#106AC0;
}
 .view-importantwebsites .cck_view_bottom_content {
   background : url(images/bottomright.jpg) no-repeat scroll right top transparent;
    height:17px;
}
 .view-importantwebsites .cck_viewlist_recard {
   border-left:1px solid #106AC0;
    border-right:1px solid #106AC0;
 border-bottom:1px solid #106AC0;
 

}
.view-importantwebsites .cck_head_title {
   background-color:#106AC0;
   color:#FFFFFF;
   text-align:left;
}
.cck_head_title h3 { margin-left:20px; padding-bottom:3px;
 }
.view-importantwebsites .field-content a{ margin-left:-8px;}

.view-importantwebsites .pager{ padding-top:20px;}
.view-importantwebsites .pager .pager-current {border:none;background:transparent url(images/icon/circle.png) no-repeat; padding-top:2px; color:#FFFFFF; }
/*------- Imartant website view css End---------*/
 
/* Grievences Start */

.view-grievances-view .cck_viewlist_recard
 {
   background:url(images/content_tabs/grievances.jpg) no-repeat;
   height:100px;
   padding-top:15px;
 }

.view-grievances-view .view-content
  {
    background-color: #EFF7FD;
    border-bottom: 1px solid #047BBF;
    border-left: 1px solid #047BBF;
    border-right: 1px solid #047BBF;
    min-height:220px;
    padding-top:1px;
	width:514px;
  }
 .view-grievances-view .field-content a
 {
    margin-left:-8px;
    color:#000000;
    font-family:Arial,Helvetica,sans-serif;
    padding-left:10px;
 }
 
 .view-grievances-view .field-content a:hover {
 	color: #C11803;
}
 .view-grievances-view  .views-row
 {
 padding-left:8px;
  padding-top:8px;
 }


/* Grievences End */







/* MAP CSS starts here.... Suresh*/
#block-menu-menu-map,#block-menu-menu-actsrulescircular,#block-menu-menu-contactdirectory {
color:#654102;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:normal;
text-decoration:none;
}
#block-menu-menu-map .content,#block-menu-menu-actsrulescircular .content,
#block-menu-menu-contactdirectory .content{background:url(images/sidemenu_bg.png);border:1px solid #D5AF4A;padding-left:7px;
width:177px;}

#block-menu-menu-map a,#block-menu-menu-actsrulescircular a,#block-menu-menu-contactdirectory a{
color:#654102;
}
#block-menu-menu-map h2,#block-menu-menu-actsrulescircular h2,#block-menu-menu-contactdirectory h2{
color:#654102; display:none;
}
/* MAP CSS Ends here....*/

.view-faqview .field-content a{ margin-left:10px;}
.view-faqview .views-row-odd,.view-faqview .views-row-even{padding-top:5px; padding-bottom:5px;}


.result_inner_search #edit-rti-search-wrapper label{width:120px;}
.result_inner_search #edit-rti-search-wrapper{float:left;padding-right:10px;}
#edit-rti-search-wrapper{margin-top:0em;padding-left:12px;}

.result_inner_search #edit-anno-search-wrapper label{width:120px;}
.result_inner_search #edit-anno-search-wrapper{float:left;padding-right:10px;}

.result_inner_search #edit-cir-search-wrapper label{width:120px;}
.result_inner_search #edit-cir-search-wrapper{float:left;padding-right:10px; margin-top:0px;}

.result_inner_search #edit-rul-search-wrapper label{width:120px;}
.result_inner_search #edit-rul-search-wrapper{padding-right:10px; display:inline;}

.result_inner_search #edit-rul-category-wrapper label{width:100px;}
.result_inner_search #edit-rul-category-wrapper{float:left;}
#edit-rul-category-wrapper {padding-left:12px; padding-right:12px;margin-top:2px;}


#edit-rul-search-wrapper{margin-top:0em;padding-left:12px;}
.result_inner_search #edit-form-cont-search-wrapper label{width:120px;}
.result_inner_search #edit-form-cont-search-wrapper{float:left;padding-right:10px;}
#edit-form-cont-search-wrapper{margin-top:0em;padding-left:12px;}


/*search results page*/
.res_pa_title{background:url(images/search_res_titlebg.jpg); height:auto;color: #065bdb;}
.res_pa_title a{color: #065bdb; font-weight:bold;}
.res_pa_img{background:url(images/res_icon_mo.png) no-repeat; width:20px; height:20px; padding-right:9px; }
.res_pa_data p{color: #3b3b3b;}
.serach_page_pager .item-list .pager {
background-color:#F8E5AD;
clear:both;
text-align:center;
height:30px;
margin-bottom:0;
padding-top:10px;
}

.left_sear{background:url(../images/icon/search_leftCurve.png); height:56px; width:11px;}
.inn_sear{background:url(../images/icon/search_middle.png) repeat-x;height:56px; width:95%;float:left;}
.rght_sear{background:url(../images/icon/search_rightCurve.png); height:56px; width:11px; float:left;}
.inn_sear .form-item label {width:140px;color:#FFFFFF;padding-left:10px;}
.inn_sear  .form-text{border:1px solid #219ece;width:220px; height:17px;}
.inn_sear .form-submit {	background:url("../images/icon/search_btn.png") repeat scroll 0 0 transparent;color: #02749f;}


.serach_page_pager .item-list .pager .pager-current{ color:#FFFFFF;border:none;
background:transparent url(images/icon/circle_paging.png) no-repeat;padding-top:2px;}


/*search results end*/

/*--acts custom css--*/
/*#edit-search-year-wrapper {clear:both;padding-left:20%;}
#edit-search-year-wrapper label{width:100px;}
#edit-rad-act-act-title-wrapper {padding-left:20%; clear:left;}

#edit-rad-act-act-number-wrapper label{width:125px;}*/

/* paging style starts for view */
.view-lokshabalist .item-list .pager .pager-current{ color:#FFFFFF;border:none;
background:transparent url(images/icon/circle.png) no-repeat;padding-top:2px;}

.view-rajyasabha-view .item-list .pager .pager-current{ color:#FFFFFF;border:none;
background:transparent url(images/icon/circle.png) no-repeat;padding-top:2px;}

.view-view-profile-MLA-endusers .item-list .pager .pager-current,
#mla_pager .item-list .pager .pager-current { color:#FFFFFF;border:none;
background:transparent url(images/icon/circle.png) no-repeat;padding-top:2px;}



#edit-search-year-wrapper label {width:65px; }
#acts-depart-list-form .form-submit {float:left;height:22px;margin-left:63%;margin-top:-33px;;}
#depart_wise-wrapper label{width:100px;}
#edit-rad-act-act-title-wrapper label{width:165px;}
#edit-search-year-wrapper{margin:0px;}
 #edit-rad-act-act-title-wrapper label
{
padding-left:20%;
width:101px
}
/*--acts custom end --*/
/*--circulars/notification custom css--*/

/*--circulars/notification custom end --*/

.result_inner_search #edit-citcher-cont-search-wrapper label{width:100px;}
.result_inner_search #edit-citcher-cont-search-wrapper{float:left;padding-right:10px;}

/** advance search ***/
#edit-txt-keyword-wrapper{float:left;width:49%;margin-top:0%;}

/*#edit-txt-dist-wrapper{    float:right;    margin-top:0;    width:50%;}*/
#edit-txt-num-wrapper{float:left;width:49%;margin-top:0%;}
#edit-txt-year-wrapper{float:left;width:49%;margin-top:0%;margin-left:3px;}

/*#edit-department-wrapper{float:right;width:45%;margin-top:0%;}*/
#edit-department-wrapper
    { 
    float: left;
    margin-left: 10px;
    margin-top: 2px;
    width: 45%;

	}
	#edit-txt-dist-wrapper
	{  
	float: left;
    margin-left: 1px;
    margin-top: 2px;
    width: 50%;
    }
  #edit-txt-cat-wrapper
   { 
    float: left;
    margin-left: 10px;
    margin-top: 0;
    width: 46%;
	}
#edit-txt-fromdate-wrapper{width:50%;margin-top:0%;}
#edit-txt-keyword-wrapper label{float:left;width:35%;}
#edit-txt-dist-wrapper label{float:left;width:35%;}
#edit-txt-num-wrapper label{float:left;width:35%;}
#edit-txt-year-wrapper label{float:left;width:35%;}
#edit-department-wrapper label{float:left;width:35%;}
#edit-txt-cat-wrapper label{float:left;width:33%;}
#edit-txt-fromdate-wrapper label{float:left;width:35%;}
#edit-txt-keyword,#edit-txt-dist,#edit-txt-num,#edit-txt-year,#edit-department,#edit-txt-cat,#edit-txt-fromdate,#edit-txt-cat,#edit-txt-fromdate{width:62%;}
.profile-border .profile-left-content-text {font-size:12px;font-weight:normal;margin-left:20px;text-align:justify;width:90%;}

/** advance search ***/


#page_butt .item-list .pager {clear:both;text-align:center;height:30px;margin-bottom:0;padding-top:10px;}
#page_butt .pager{ padding-top:20px;}
#page_butt .pager .pager-current {border:none;background:transparent url(images/icon/circle.png) no-repeat; padding-top:2px; color:#FFFFFF; }



/*document page by rafi*/
.document_head_list .first_clm{float:left;width: 49%; height:55px;}
.document_head_list .second_clm{	 height:55px;}
.document_head_list li {margin-bottom: 3px; padding-left: 3px;  margin-right:20px; padding-top:2px; padding-bottom:2px;}
/*.document_head_list li a {color:#000000;}*/
.document_head_list li a:hover{ color:#C11803;}
.document_head_list .d29,.document_head_list .d30{ height:60px;}
.first_clm a,.second_clm a{color:#000000;}


/* Modified Grievance page */


.views-rows
{
padding-left:8px;
padding-top:8px;
}
.grievances_head_title {
   background-color:#106AC0;
   color:#FFFFFF;
   text-align:left;
}
.view-content
  {
    background-color: #EFF7FD;
    border-bottom: 1px solid #047BBF;
    border-left: 1px solid #047BBF;
    border-right: 1px solid #047BBF;
    min-height:270px;
    padding-top:1px;
	width:514px;
  }
.grievances_viewlist_recard .field-content a:hover
{
color:#C11803;
}
.grievances_viewlist_recard .field-content a
{
color:#000000;
}


/*Area of interest Style*/

#block-user_interested_area-1 .content{ background-color:#FFFFFF;border:1px solid #0B86C1;width:184px;}

.Aoititle { color: #C8430A;
    font-size: 100%;
    font-weight: bold;
    padding: 5px;}
.AoiSector { color:#FF0000;}
.Aoidept { color:#0000FF;}
.editaccount {padding-top:20px;text-align:right; padding-right:5px; color:#0066CC;}
.editaccount a{color:#C8430A;}



.treeview {background-color:;}
.treeview ul{ margin: 0;padding: 0;}
.treeview ul li{ background: url(images/icon/icon.png) no-repeat left center;list-style-type: none;margin-left:14px;
padding-left:15px;margin-bottom: 3px;}
.treeview li.submenu{background: url(images/icon/icon_main.png) no-repeat left 1px;cursor: hand !important;cursor: pointer !important; padding-bottom:5px; }
.treeview li.submenu ul{ display: none;}
.treeview .submenu ul li{cursor: default; color:#137CB6;}

#docArchive .active {color:#BA1803; font-weight:bold;}

.subrow{padding-left:20px;}
.searchsubrow{padding-left:40px;}

.rsslogo { padding-bottom:4px; padding-right:4px; text-align:right;}
.page-scheme .scheme_list_category p {width:42%; float:left;}


/* rti contacts */

.result_inner_rti_search { background-color: #EFF7FD;
 
    min-height: 260px;
 
    padding-top: 15px;
    width:498px;
    }

.contentarial_grey1 {
color:#137CB6;
font-family:Arial,Helvetica,sans-serif;
font-size:100%;
font-weight:normal;
line-height:18px;
text-decoration:none;
}

.contentarial_grey1 a{
color:#137CB6;
font-family:Arial,Helvetica,sans-serif;
font-size:100%;
font-weight:normal;
line-height:18px;
text-decoration:none;
}
.arcyear{
color: #0000FF;
margin-left: 10px;
}


.welcome
{
color: #2a4601;
font-family: Arial;
font-size: 18px;
padding-top: 4px;
text-align: center;
}
.wlc a {
color:brown;
}
.wlcimg{
text-align:center;
padding-top:5px;
padding-bottom:5px;
}
.wlclink a{font-weight:bold;color:brown}

.about_welcome p a{font-weight:bold;color:brown;}

.back_btn {
float: right !important;
margin-right: 6px !important;
}
.back_btn a{
float: right !important;
margin-right: 6px !important;
}
.res_dept{
margin-top: 0px; 
}

.go_box {
   /* border-bottom: 1px solid #999;*/
}