@font-face {
	font-family: "Flaticon";
	src: url("/system/modules/it.mef/resources/_dev/font/flaticon/flaticon.eot");
	src: url("/system/modules/it.mef/resources/_dev/font/flaticon/flaticon.eot#iefix") format("embedded-opentype"),
	url("/system/modules/it.mef/resources/_dev/font/flaticon/flaticon.woff") format("woff"),
	url("/system/modules/it.mef/resources/_dev/font/flaticon/flaticon.ttf") format("truetype"),
	url("/system/modules/it.mef/resources/_dev/font/flaticon/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        /*font-size: 30px;*/
font-style: normal;
margin-left: 20px;

top: 1px;
display: inline-block;
font-weight: normal;
line-height: 1;
}

.flaticon-arrow103:before {
	content: "\e001";
}
.flaticon-arrow208:before {
	content: "\e002";
}
.flaticon-arrow241:before {
	content: "\e003";
}
.flaticon-arrow270:before {
	content: "\e004";
}
.flaticon-arrow277:before {
	content: "\e005";
}
.flaticon-arrow367:before {
	content: "\e006";
}
.flaticon-arrow395:before {
	content: "\e007";
}
.flaticon-arrow414:before {
	content: "\e008";
}
.flaticon-arrow483:before {
	content: "\e009";
}
.flaticon-arrow486:before {
	content: "\e00a";
}
.flaticon-arrow487:before {
	content: "\e00b";
}
.flaticon-arrow621:before {
	content: "\e00c";
}
.flaticon-arrow73:before {
	content: "\e00d";
}
.flaticon-back28:before {
	content: "\e00e";
}
.flaticon-back36:before {
	content: "\e00f";
}
.flaticon-back57:before {
	content: "\e010";
}
.flaticon-bottom4:before {
	content: "\e011";
}
.flaticon-chevron9:before {
	content: "\e012";
}
.flaticon-collapse3:before {
	content: "\e013";
}
.flaticon-counterclockwise6:before {
	content: "\e014";
}
.flaticon-down13:before {
	content: "\e015";
}
.flaticon-down51:before {
	content: "\e016";
}
.flaticon-down67:before {
	content: "\e017";
}
.flaticon-expand22:before {
	content: "\e018";
}
.flaticon-facebook31:before {
	content: "\e019";
}
.flaticon-history1:before {
	content: "\e01a";
}
.flaticon-keyboard53:before {
	content: "\e01b";
}
.flaticon-left164:before {
	content: "\e01c";
}
.flaticon-left207:before {
	content: "\e01d";
}
.flaticon-left37:before {
	content: "\e01e";
}
.flaticon-next15:before {
	content: "\e01f";
}
.flaticon-previous11:before {
	content: "\e020";
}
.flaticon-right106:before {
	content: "\e021";
}
.flaticon-right127:before {
	content: "\e022";
}
.flaticon-right133:before {
	content: "\e023";
}
.flaticon-right207:before {
	content: "\e024";
}
.flaticon-small68:before {
	content: "\e025";
}
.flaticon-social19:before {
	content: "\e026";
}
.flaticon-three60:before {
	content: "\e027";
}
.flaticon-up21:before {
	content: "\e028";
}

@font-face {
    font-family: 'icon';
    src:    url('/system/modules/it.mef/resources/_dev/font/flaticon/icon.eot?9ec6et');
    src:    url('/system/modules/it.mef/resources/_dev/font/flaticon/icon.eot?9ec6et#iefix') format('embedded-opentype'),
        url('/system/modules/it.mef/resources/_dev/font/flaticon/icon.ttf?9ec6et') format('truetype'),
        url('/system/modules/it.mef/resources/_dev/font/flaticon/icon.woff?9ec6et') format('woff'),
        url('/system/modules/it.mef/resources/_dev/font/flaticon/icon.svg?9ec6et#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
    content: "\e900";
}

