@media (max-width: 600px){

    .site-logo{
        background-image: url(/system/modules/it.mef/resources/immagini/logo_mef_new.svg) !important;
        min-width: 250px;
        float: none!important;
        /*width: 100%!important;*/
		width: 250px;
        background-size: contain !important;
		margin-top: 15px;
    }
    
    #cal-tabs{
        display: none;
    }
    
    #carousel-lavorando .thumbMef{
        height: auto;
    }
    
    .carousel-lavorando-content{
        height: auto;
    }
    
    #carousel-evidenza .img-container{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    
    #carousel-evidenza .img-container img{
        float: none;
        width: 100%;
    }
    
    .txEv{
        width: 100%;
        padding: 0;
    }
    
    .carousel-caption .carousel-caption-content{
        height: auto;
        max-height: none;
    }
    
    .evTitle{
        height: auto;
        font-size: 1.2em;
    }
    
    .evShare{
        display: none;
    }
    
    .wEv{
        padding-bottom: 15px;
        margin-bottom: 65px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .wPc{
        padding-left: 0;
        padding-right: 0;
    }
    
    .tabs-top li a{
        font-size: .65em;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .PC2,
    #carousel-presscenter,
    .RS2,
    .interviste{
        height: auto;
        max-height: none;
    }
    
    .min-txt{
        width: 80%;
    }
    
    .box a span{
        font-size: 16px;
        margin-top: 30px;
    }
    
    .lavorando-hot-tag{
        font-size: 1em;
    }
    
    #hot-tag a{
        white-space: nowrap;
        line-height: 3em;
    }
    
    .tabs-style-linebox .nav-tabs ul li{
        width: 100%;
        padding: 0;
    }
    
    #carousel-lavorando ul li{
        padding: 0;
    }
    
    .wrapper .row h2,
    .flaticon span.sec-close{
        font-size: 20px;
    }
    
    #ev-car-ind,
    #carousel-evidenza .pause-play{
        display: none;
    }
    
    .contact{
        height: auto;
    }
    
    .contact .glyphicon-map-marker{
        float: left;
        margin-right: 5px;
    }
    
    .contact a{
        display: block;
    }
    
    .contact a span{
        clear: both;
        display: block;
        margin-left: 17px;
    }
    
    .appr-image{
        padding-left: 0;
        padding-right: 0;
        float: none;
    }
    
    .appr-text{
        padding-left: 0;
        padding-right: 0;
        float: none;
        font-size: .8em;
    }
    
    .ticker-title,
    .nt-nav{
        display: none;
    }
    
    .site-roll{
        float: none!important;
        width: 100%;
        margin: 0;
        height: auto;
        
    }
    
    #nt-mef {
        padding: 0;
        text-align: left;
        width: 100%;
        float: none;
        height: 130px!important;
    }
    
    #hup{
        height: auto;
        max-height: none;
    }
    
    #nt-mef li{
        height: 130px;
    }
    
    #nt-mef .tw-wrapper span{
        font-size: 12px;
    }
    
    #carousel-evidenza .carousel-caption .carousel-caption-content{
        font-size: 1em;
    }
    
    h4.tb-interv{
        font-size: .8em!important;
    }
    
    .carousel-caption h4{
        font-size: 1.2em!important;
    }
    
    .caption p{
        font-size: .8em;
    }
    
    .diretta .col-md-2.col-sm-3.col-xs-4{
        float: none;
        width: 100%;
        padding: 0;
    }
    
    .dip-nav{
        border: medium none;
        padding: 0;
        text-align: left;
    }
    
    ul#dirdip li{
        width: 100%;
    }
    
    .dip-style ul{
        padding: 0!important;
        margin: 0;
        margin-top: 15px;
        min-height: 0!important;
        font-size: .8em;
    }
    
    .footer{
        padding: 0;
    }
    
    .col-footer{
        width: 100%;
        padding: 0;
        float: none;
    }
    
    #social-foot-col{
        border: medium none !important;
        padding: 0 !important;
    }
    
    .col-footer li p span.no-link,
    .col-footer li p span a{
        font-size: .8em!important;
    }
    
    .col-footer li p{
        margin-bottom: 0;
    }
    
    #calendario .share-group,
    #calendario .cal-week,
    #cal-tb-which{
        display: none;
    }
    
    .cal-last{
        margin-left: 0;
    }
    
    .BandiAnteprLI,
    .ConcorsiAnteprLI{
        margin-left: 0;
    }
    
    .title-bandi-format,
    .DocPub li .title-format,
    .title-concorsi-format{
        width: 100%;
        margin-bottom: 5px;
        font-size: .9em;
    }
    
    .cal-agenda p.date{
        width: auto;    
    }
    
    .cal-agenda{
        width: 12%;    
    }
    
    .cal-txt{    
        margin-left: 5%;
            width: 80%;
            font-size: .9em;
        }
        

	#agenda .drpdw,
	#tab_df .share-group,
	.diretta .share-group,
	.contact .social,
	#Documenti-pubblicazioni .share-group,
	#carousel-lavorando .pcShare,
	#mv-viewed,
	#mv-shared{
	    display: none;
	}
	
	.DocPub{
	    padding-left: 0;
	}
	
	.contact .glyphicon-earphone{
	    margin-left: 17px;
	}
	
	ul.indiceAreeTem li{
	    height: auto;
	}
	
	.tabs-style-iconbox .nav-tabs li{
	    flex: none;
	    padding: 0;
	}
	
	.tabs-style-iconbox .nav-tabs li .glyphicon{
	    display: none;
	}
	
	.tabs-style-iconbox .nav-tabs a{
	    font-size: 18px;
	}
	
	.tabs-style-iconbox .nav-tabs{
	    display: block;
	}
	
	#Documenti-pubblicazioni #tab-docs a{
	    border-radius: 0;
	    display: block;
	    padding-left: 0;
	    padding-right: 0;
	    text-align: center;
	}
	
	#tab-docs li{
	    width: 100%;
	    border-radius: 0;
	    border: none;
	}
	
	#tab-docs li.active{
	    background-color: #eee;
	}
	
	#tab-docs li a{
	    font-size: .9em;
	    
	}
	
	#tab-docs li a:hover{
	    background-color: #efefef;
	    
	}
	
	#tab-docs li.active a{
	    color: #252525;
	    background-color: #ddd;
	    border: none;
	}
	
	#doc-AmmTrap ul{
	    padding: 0;
	    margin: 0;
	    font-size: .8em;
	}
	
	#mobile-search .yamm-content{
	    padding: 15px 10px!important
	}
        
	#mstrinput {
		font-size: 1em;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 80% !important;
	}
	
	#mobile-search .iconclose {
		margin: 0 5px 5px 0;
	}
	
	#tocCont{
		display: none;
	}
	
	.inner-share p,
	.inner-share span.txt{
		display: none;
	}
	
	.inner-share li{
		text-align: center;
		float: left;
		margin: 0;
		padding: 0;
	}
	
	.inner-share a{
		margin: 0;
		padding: 0;
	}
	
	.share-group.inner-share a{
		font-size: 25px;
	}
	
	.emblema{
		left: 50%;
		margin: 0 auto 10px -25px;
		position: relative!important;
		text-align: center;
		width: 60px;
	}
	
	.table-responsive > .table > tbody > tr > td {
		white-space: pre-wrap !important;
	}
	
	#tb1_wrapper table {
		width: auto!important;
	}
	
	.cal-line .cal-agenda{
		clear: both;
	}
	
	.cal-line .no-list{
		clear: right;
	}
	
	#cookiesdirective .fr{
		float: none;
		margin-top: 13px;    
	}    
	
	.agenda-ministro-inner div.cal-last .cal-txt{
		width: 75%;
	}
	
	.ip-content.page-content .banner-sm-right{
		float: none;
		margin: 0 auto;
		margin-bottom: 1em;
	}
	
	li.li-whatsapp{ 
		display:inline!important;
	}
}

@media (min-width: 600px) and (max-width: 767px){
    
    /* HEADER */
    
    .site-logo{
        background-image: url(/system/modules/it.mef/resources/immagini/logo_mef_new.svg) !important;
        min-width: 250px;
        float: none!important;
        /*width: 100%!important;*/
		width: 250px;
        background-size: contain !important;
		margin-top: 15px;
    }
    
    .site-roll{
        float: none!important;
        width: 100%;
        margin: 0;
        
    }
    
    #hup{
        height: auto;
        max-height: none;
    }
    
    .ticker-title{
        display: none;
    }
    
    .nt-nav{
        display: none;
    }
    
    #nt-mef-prev{
        margin-right: 0!important;
    }
    
    #nt-mef-next{
        margin-right: 1px!important;
    }
    
    #nt-mef{
        padding: 0;
        width: 100%;
        text-align: left;
    }
    
    /* IN  EVIDENZA */
    #carousel-evidenza .img-container{
        height: auto;
    }
    
    .txEv{
        padding-left: 0;
    }
    
    .carousel-caption p{
        font-size: .8em;
    }
    
    #carousel-evidenza .img-container{
        padding-left: 0;
    }
    
    #carousel-evidenza .txEv{
        padding-left: 0;
        padding-right: 0;
    }
    
    .tabs-top li a{
        font-size: 1em;
        padding-left: 20px;
        padding-right: 20px;
    }
    
        
    /* CONDIVISIONE */
    

    
    .tag-inner{
        font-size: 1.5em;
    }
    
    .inner-share p{
        font-size: .6em;
        top: 12px;
    }
    
    .wPc{
        padding: 0;
    }
    
    .wEv{
        padding: 0;
        padding-bottom: 35px;
        margin-bottom: 50px;
    }
    
    .carousel-lavorando-content{
        height: 200px;
    }
    
    #carousel-lavorando .proTitle{
        font-size: 1.6em;
    }
    
    .appr-image{
        text-align: center;
    }
    
    .dip-style ul{
        padding-left: 180px;
    }
    
    .dip-style ul li{
        font-size: .9em;
    }
    
    #Documenti-pubblicazioni #tab-docs a{
        padding-left: 20px;
        padding-right: 20px;
        font-size: .75em;
    }
    
    .cal-style-bar ul.tab-focus li a{
        width: 100%;
    }
    
    .cal-month{
        font-size: .6em;
        padding-top: 0;
    }
    
    .cal-day{
        font-size: .7em;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .cal-event,
    #ref-current_event a{
        font-size: .6em;
    }
    
    .cal-txt{
        width: 87%;
        font-size: .9em;
    }
    
    .cal-last{
        margin-left: 0;
    }
    
    #cal-tb-which{
        display: none;
    }
    
    #social-foot-col{
        padding-left:0!important;
        border: none!important;
    }
    
    .inner-share p{
        display: none;
    }
    
    .inner-share a{
        font-size: 18px;
    }
    
    .inner-share li{padding: 0;}
    
    #social-foot-col{
        padding-right: 15px!important;
        padding-left: 15px!important;
    }
    
    .col-footer li.social-link{
        float: left;
        margin-top: 0!important;
        margin-right: 13px;
    }
    
    .col-footer li p span.no-link,
    .col-footer li p span a{
        font-size: .8em!important;
    }
    
    #social-foot-col ul{
        overflow: hidden;
    }
    
    #social-foot-col li .fa{
        margin-right: 5px;
    }

    
    .cal-style-bar ul.tab-focus li{
        width: 11.5%;
        margin-right: 1%;
    }
    
    #carousel-lavorando .thumbMef{
        height: auto;
    }
    
    #cal-tabs{
        display: block;
    }
    
    #carousel-lavorando ul li{
        padding-left: 0;
        padding-right: 0;
    }
    
    #mstrinput {
        width: 90% !important;
    }
    
    .emblema{
        left: 50%;
        margin: 0 auto 10px -25px;
        position: relative!important;
        text-align: center;
        width: 60px;
    }
    
    .table-responsive > .table > tbody > tr > td {
        white-space: pre-wrap !important;
    }
    
    #tb1_wrapper table {
        width: auto!important;
    }
    
    .cal-line .cal-agenda{
        clear: both;
    }
    
    .cal-line .no-list{
        clear: right;
    }
    
	

    
}

@media (max-width: 767px) {
	
	
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
        
        #timeline-filter,
        .timeline-txt,
        .timeline-badge,
        .timeline::before,
        .timeline > li > .timeline-panel::before,
        .timeline > li > .timeline-panel::after{
            display: none!important;
        }
        
        #timeline .PD_tre{
            padding: 0;
        }
        
        ul.timeline > li > .timeline-panel{
            width : 100%;
        }
        
        ul.timeline > li > .timeline-panel{
            float: none;
        }
        
        .timeline > li.timeline-inverted + li:not(.timeline-inverted),
        .timeline > li:not(.timeline-inverted) + li.timeline-inverted{
            margin-top: 21px;
        }
        
        .timeline-panel .row span{
            top: 0;
            line-height: 1em;
        }
        
            /* FAQ */
    
    .faq .dip-nav ul.nav li{
    	clear: none;
    }
    
    .faq .faq-cat-content{ width: 100%;}
		
	.li-whatsapp{ display:none!important;}	
}

@media (min-width: 768px) and (max-width: 991px){
    
    .site-logo{
        background-image: url(/system/modules/it.mef/resources/immagini/logo_mef_new.svg) !important;
        background-repeat: no-repeat!important;
        background-position: left 8px!important;
        min-width: 250px;
        width: 250px;
        background-size: contain !important;

    }
    
    .site-roll{
        width: 62%;
    }
    
    #nt-mef{
        width: 91%;
        padding-left: 0;
    }
    
    #nt-mef li{
        font-size: 0.867em;
        line-height: 1.467em;
    }
    
    #nt-mef-prev{
        margin-right: 1px!important;
    }
    
    #nt-mef-next{
        margin-right: 2px!important;
    }
    
    .nt-nav{
        width: 40px;
    }
        
    .RS2{
        height: auto;
    }
    
    .wEv{
        padding-bottom: 35px;
        margin-bottom: 50px;
    }
    
    .wPc .tabs-top li a{
        font-size: 1.267em;
        padding: 10px 25px;
    }
    
    .ticker-title{
        display: none;
    }
    
    #nt-mef .tw-wrapper span{
        font-size: 1em;
    }
    
    .dip-style ul{
        padding-left: 150px;
    }
    
    .bb1{
        font-size: .9em;
    }
    
    .min-txt{
        width: 600px;
    }
    
    .col100 .col33{
        width: 100%;
        padding: 0;
    }
    
    .lavorando-hot-tag{
        font-size: 1em;
    }
    
    .carousel-lavorando-content{
        height: 330px;
    }
    
    .tabs .nav-tabs a span{
        font-size: .6em;
    }
    
    .pad-brand{
        width: 250px;
    }
    
    /* PODCAST */
    
    #podcast-description .more-description{
        font-size: 1.313em;
    }
    
    #podcast-description {
        margin-bottom: 40px;
    }
    
    /* CALENDARIO */
    .cal-style-bar ul.tab-focus li{
        width: 82px;
        }
        
    .cal-style-bar ul.tab-focus li a{
        width: 100%;
        }
        
    .cal-month{
        font-size: 9px;
        }
        
    .cal-day{
        font-size: 12px;
        }
        
    #calWeek{
        width: 35%;
    }
    
    #calPrec, #calSucc{
        font-size: 2em;
        line-height: 1em;
        top: 0;
    }
    
    .cal-week{
        height: auto;
    }
    
    .cal-txt{
        width: 88%;
    }
    
    .agenda-ministro-inner div.cal-last .cal-txt{
        width: 88%;
    }
    
    /* CONDIVISIONE */
    
    .tag-inner{
        font-size: 1.5em;
    }
    
    .inner-share p{
        font-size: .6em;
        top: 12px;
    }
    
    #tocCont{
        width: 720px;
    }
    
    #carousel-evidenza .img-container{
        padding-left: 0;
    }
    
    #carousel-evidenza .txEv{
        padding-left: 0;
        padding-right: 0;
    }
    
    #carousel-lavorando .thumbMef{
        height: auto;
    }
    
    
    #mstrinput {
        width: 90% !important;
    }
    
    #carousel-lavorando ul li{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #carousel-lavorando .proTitle{
        font-size: 1.25em;
    }
    
    .emblema{
        position: absolute;
    }
    
	/* TIMELINE */
	
	#timeline-filter ul{
        padding-left:10px;
    }

    #timeline-filter li{
        margin-left: -15px;
    }
    
	.li-whatsapp{ display:none!important;}

}

@media (max-width: 1023px){
    /* NAVIGAZIONE */
    .inner-share .col-md-2{display: none;}
    ul.nav.msmart{
        display: none;
    }
    
    #slide-nav.affix #logo-small{
        position: absolute;
        left: 50%;
        margin: 0;
        margin-left: -25px;
    }
    
    .nav.navbar-nav{
        padding: 0;
        margin: 0;
    }
    
    #news-one .title .fa-angle-right{
        display: none;
    }
    
}

/*NAV prob
@media (min-width: 1199px) and (max-width: 1240px){
	.msmart{
		font-size:0.813em;
	}
}
*/


@media (min-width: 992px) and (max-width: 1199px){
	   
    /* NAVIGAZIONE */
    
	.navbar-default .navbar-collapse{
		max-width: 970px;
		margin:0 auto;
	}
	
    #menPrinc li.yamm-fullwidth a{
        font-size: 0.867em;
    }
    
    .msmart li a.dropdown-toggle,
    .msmart li a.menu-smart{
        font-size: 0.8em;
    }
    
    #navbar-collapse-1 ul.msmart li a.dropdown-toggle,
    #navbar-collapse-1 ul.msmart li a.menu-smart{
        padding-bottom: 13px;
        padding-top: 17px;
    }
    
    #notifier .label-danger{
        right: -4px;
    }
    
    #nt-mef{
        padding-left: 0;
        width: 79%;
    }
    
    #impostazioni-i{
        margin-left: -150px;
    }
    
    #nt-mef .tw-wrapper span{
        font-size: 14px;
    }
    
    .nt-nav{
        width: 50px;
    }
    
    #nt-mef-next{
        margin-right: 7px!important;
    }
    
    #nt-mef-prev{
        margin-right: 6px!important;
    }
    
    /* IN EVIDENZA */
    #tab-pc li a{
        font-size:.733em;
    }
    
    .proTitle{
        min-height: 150px;
    }
    
    .RS2{
        height: 315px;
    }
    
    #carousel-evidenza .img-container{
        padding-left: 0;
    }
    
    #carousel-evidenza .txEv{
        padding-left: 0;
        padding-right: 0;
    }
    
    
    /* CALENDARIO */
    .cal-style-bar ul.tab-focus li{
        width: 110px;
    }
    
    .cal-style-bar ul.tab-focus li a{
        width: 110px;
    }
    
    .cal-event{
        font-size: 10px;
    }
    
    .cal-txt{
        margin-left: 1.5%;
        width: 90%;
    }
    
    /* DAI DIPARTIMENTI */
    #dirdip li{
        width: auto;
    }
    
    .dip-nav ul li a{
        font-size: 11px;
    }
    
    .dip-style ul{
        padding-left: 140px;
    }
    
    /* FOCUS */
    .carousel-lavorando-content{
        height: 292px;
    }
    
    .lavorando-hot-tag{
        font-size: 1.4em;
    }
    
    /* AGENDA */
    .min-txt{
        width: 290px;
        font-size: 12px;
    }
    
    /* RASSEGNA STAMPA */
    
    .box{
        width: 164px;
    }
    
    .box a span{
        font-size: 20px;
    }
    
    /* FOOTER */
    
    .col-footer li p span.no-link,
    .col-footer li p span a,
    .col-footer li a{
        font-size: .867em!important;
    }
    
    /* PODCAST */
    
    #podcast-description .more-description{
        font-size: 1.313em;
    }
    
    #tocCont{
        width: 940px;
    }
    
    
    #mstrinput {
        width: 90% !important;
    }
    
    .emblema{
        position: absolute;
		    width: 125px;
    }
    /* EVIDENZA HP */
    .evTitle {
        font-size: 1.288em; 
        line-height:1.1em;
        }    
    .li-whatsapp{ display:none!important;}
}



@media (max-width: 1024px) {
    
    /* NAVIGAZIONE */
    
    #navbar-collapse-1 .navbar-collapse{
        position: relative;
        z-index: 100;
    }
    
    a.no-toggle{
        padding: 15px 10px!important;
    }
    
    #mobile-search ul.mega-menu{
        margin: 0;
        width: 100%;
    }
    
    #msearch{
            margin-bottom: 13px;
            box-shadow: none;
            border: none;
    }
    
    #mstrinput{
        width: 92%;
    }
    
    
    #mobile-search-button{
        float: right;
        padding: 9px 20px;
        color: #525A60;
        font-size: 1.5em;
    }
    
    #mobile-search-submit{
        background-color: transparent;
        background-image: none;
        border: medium none;
        color: #fff;
        font-size: 1.5em;
        position: relative;
        top: -3px;
    }
    
    
    #mobile-search-button:hover{
        background-color: #525a60;
    }
    
    #mobile-search-button:hover .glyphicon{
        color: #fff;
    }
    
    /* CONDIVISIONE */
    
    .inner-share{
        
        margin-top: .5em!important;
    }
    
    .inner-share .col-md-2{display: none;}
    .tag-inner{
        font-size: 1.5em;
    }
    
    .inner-share p{
        font-size: .6em;
        top: 12px;
    }
    
    .glyphicon-eye-open{
        visibility: hidden;    
    }
    
    .emblema{
        position: absolute;
    }
    
    #network-menu{
        display: none;
    }
    
    #hot-tag a{
    	line-height: 3em;
    }
        
}

@media (min-width: 1024px) {
    
    /* NAVIGAZIONE */
    
    #mobile-search{
        display: none;
    }
    
    .li-whatsapp{ display:none!important;}
    
}

@media (min-width: 1200px) {

    /* NAVIGAZIONE */
    
    #navbar-collapse-1 ul li.yamm-fullwidth a.dropdown-toggle,
    #navbar-collapse-1 ul li.yamm-fullwidth a.no-toggle{
        font-size: 1.1em;
    }
    
    #navbar-collapse-1 ul.msmart li a.dropdown-toggle,
    #navbar-collapse-1 ul.msmart li a.menu-smart{
        font-size: 1em;
        padding: 17px 7px 13px 7px;
    }
    
    /* IN EVIDENZA */
    #tab-pc li a{
        font-size: .933em;
    }
    
    /* IN EVIDENZA */
    
    .wEv{
        padding-left: 0;
    }
    
    .wPc{
        padding-right: 0;
    }
    
    #tocCont{
        width: 1140px;
    }
    
    #carousel-evidenza .img-container{
        padding-left: 0;
    }
    
    #carousel-evidenza .txEv{
        padding-left: 0;
        padding-right: 0;
    }
    
	.emblema {
    margin: 0 0 0 60px;
    position: absolute;
    width: 125px;
	}
    
    
}

@media (min-width: 1366px){
	/* Dimensione Container */
	
	.inner-page .container,
	.inner-page .cantainer-center{
		width: 1280px;
		max-width: 1280px;
	}
	
	#tocCont,.navbar-lower{
		width: 1250px;
		max-width: 1250px;
	}
}

@media (min-width: 1600px){
	/* Dimensione Container */
	
	.inner-page .container,
	.inner-page .cantainer-center{
		width: 1400px;
		max-width: 1400px;
	}
	
	#tocCont,.navbar-lower{
		width: 1370px;
		max-width: 1370px;
	}
}

@media (min-width: 1820px){
	/* Dimensione Container */
	
	.inner-page .container,
	.inner-page .cantainer-center
	{
		width: 1600px;
		max-width: 1600px;
	}
	
	#tocCont,.navbar-lower{
		width: 1570px;
		max-width: 1570px;
	}
}

@media (min-resolution: 72dpi) and (min-width: 1280px) {
    
    .page-content p {
        padding: 15px 0;
        line-height: 2em;
    }
    
    .page-content h3 {
        padding: 50px 0 10px 0;
    }
    
    
    
}