@media print {
	@page { size: auto; margin: 0mm; padding: 0mm;}
	html{
		margin: 0;
		padding: 0;
	}
	
	body{
		margin:10mm 20mm!important; 
		background:#ffffff; 
		color:#000000; 
		font-size:10pt; 
		font-family:'open_sans', arial, sans-serif;
		}
	
	body:after {
		content: "Ministero dell'Economia e delle Finanze via XX Settembre, 97 - 00187 - +39 06.476111";
		position: relative;
		top: 10pt;
	}
	/*body:after{content:"\00a9 \00a0 MEF - Ministero dell'Economia e delle Finanze";font-size:1.1em;display:block;font-weight:normal;padding-top: 2em;margin-top: 2em;border-top:1px dotted black;width:80%;}*/
	/*a {color:#000; font-weight:bolder; text-decoration;none!important;}*/
	a {color:#000; font-weight:bolder;}
	a[href^="http"]:after{content:" " attr(href);font-size:0.8em;font-weight:normal;}
	a[href^="/"]:after{content: " (" "http://www.mef.gov.it"attr(href) ")";font-size:0.8em;font-weight:normal;}
	
	.inner-share,
	#epd,
	#sr-ticker,
	#slide-nav,
	#breadcrumb,
	.sr-only,
	nav,
	header, 
	header *{display:none!important;}

	a:link{text-decoration:none!important;}
	

	
	
	 
	video,audio,img {display:none;}
	.modal{display:none/*!important*/;}
	.sb-right{display:none!important;}
	.paginaz_desc {display:none!important;}
	.pagination {display:none!important;}
	.NavigazioneAccessibile {display:none!important;}
	#editor-tool{display:none!important;}
	#tocCont{display:none!important;}
	.add-to-calendar {display:none!important;}
	.share-group {display:none!important;}
	.hidden {display:none!important;}
	.hidden-print {display:none!important;}
	#network-menu, .pad-brand,.site-roll{display: none!important;}
	
	p{
		margin: 0;
		padding: 0;
		margin-bottom: 10pt;
	}
	
	/* Home page*/
	ul[role=menu]{display:none;}
	*[data-toggle=buttons]{display:none;}
	ul.indiceAreeTem ~ p{display:none;} /*forse INUTILE*/
	.carousel-indicators{display:none;}
	.pcShare{display:none;}
	/*Fine Home page*/
	.print-visible {display:block!important;}
	/*div, p {border: 1px dotted black;}
	.row{border: 1px dotted black;}*/
	/* PERFECT SCROLLBAR */
	.ps-scrollbar-x-rail,
	.ps-scrollbar-y-rail{
		display: none;
	}
	
	.logo-print{
		display: block!important;
		width: 33%;
		}
	
	.read-more,
	.ocms_de_bt{display: none;}
	
	h2,
	h2.sr-only{
		display: block!important;
		font-size: 20pt;
		margin: 0 0 10pt 0;
		padding: 0pt;
		line-height: 20pt;
	}
	.wEv h2.sr-only{display: none!important;}
	
	h3{
		font-size: 15pt;
		margin: 0 0 5pt 0;
		padding: 0pt;
		line-height: 15pt;
	}
	
	/* IN EVIDENZA */
	#wrap-top{margin-top:20pt;}
	#carousel-evidenza{margin-bottom: 30pt;}
	#carousel-evidenza .col-md-12{
		margin-bottom: 10pt;
	}
	
	#carousel-evidenza .img-container,
	#carousel-evidenza .carousel-caption-content{
		display: none;
	}
	
	.wEv .btn.btn-default.btn-sm.btn-bk{
		display: none!important;
	}
	
	/* EVIDENZA TAB */
	#tab-pc{
		display: none;
	}
	
	.wPc .tab-content h3.sr-only{
		display: block!important;
		font-size: 20pt;
		line-height: 20pt;
		margin: 0 0 10pt 0;
		padding: 0;
	}
	
	
	/* COMUNICATI */
	#comunicati{margin-bottom: 30pt;}
	
	#carousel-presscenter .CP3{
		margin-bottom: 10pt;
	}

	#carousel-presscenter h4{
		margin: 0;
		padding: 0;
		font-size: 10pt;
		font-weight: normal;
	}
	
	.row.comunicati img{
		display: block;
		margin: 0 auto;
		max-width: 100%;
		margin-top: 3pt;
		margin-bottom: 3pt;
	}
	
	h3.CommStampa {
		margin-top: 3pt;
		margin-bottom: 3pt;
	}
	
	/* AGENDA */
	#agenda{margin-bottom: 30pt;}
	
	.evento-agenda .date{display:inline; margin-right: 3pt; font-weight: bold;}
	.evento-agenda .month{display:inline; font-weight: bold; text-transform: uppercase;}
	.evento-agenda .agenda-icon{display: none;}
	.evento-agenda .share-group{display: none;}
	.evento-agenda .min-txt{font-weight: lighter; margin-bottom: 10pt;}
	.evento-agenda .ocms_de_norm{margin-bottom: 5pt;}
	
	/* INTERVISTE */
	#interviste{margin-bottom: 30pt;}
	
	#interviste h4.tb-interv{
		margin: 0;
	}
	
	/* INTERVENTI */
	#interventi{margin-bottom: 30pt;}
	
	/* RASSEGNA STAMPA */
	#rassegna{display: none;}
	
	/* FOCUS */
	#hot-tag{display: none;}
	#stiamolavorando{margin-bottom: 30pt;}
	
	#stiamolavorando .btn.btn-default.btn-sm.btn-sc{display: none;}
	
	#carousel-lavorando ul{
		list-style-type: none;
		padding: 0;		
		margin: 0;		
	}
	
	#carousel-lavorando li{
		margin-bottom: 20pt;
	}
	
	#stiamolavorando h3{
		font-size: 10pt;
		line-height: 10pt;
		padding: 0;
		margin: 0;
	}
	
	#stiamolavorando .date-share{
		margin: 5pt 0 3pt 0;
	}
	
	
	
	/* ATTIVITA DEL MINISTERO */
	
	#approfondimenti{margin-bottom: 30pt;}
	
	#tab-lavorando,
	#approfondimenti br{display: none;}
	
	#approfondimenti h3.sr-only{
		display: block!important;
		font-size: 10pt;
		line-height: 10pt;
		padding: 0;
		margin: 0;
	}
	
	#approfondimenti .tab-pane{
		margin-bottom: 20pt;
	}
	
	.appr-image{display: none;}
	
	#approfondimenti .btn.btn-default.btn-sm.btn-bk{display: none;}
	
	/* DIPARTIMENTI */
	
	#News-Dipartimenti{margin-bottom: 30pt;}
	
	#News-Dipartimenti .fr{display:none;}
	
	#News-Dipartimenti h3.sr-only{
		display: block!important;
		font-size: 15pt;
		margin: 0 0 5pt 0;
		padding: 0pt;
		line-height: 15pt;
	}
	
	#News-Dipartimenti ul{
		
	} 
		
	#News-Dipartimenti li{
		margin-bottom: 10pt;
	}
	
	#News-Dipartimenti .dip-style{
		margin-bottom: 30pt;
	}
	
	#dirdip{display:none;}
	
	/* COSA C'E' DI NUOVO */
	
	#tab-docs{display: none;}
	#Documenti-pubblicazioni{margin-bottom: 30pt;}
	#Documenti-pubblicazioni .tab-pane .sr-only .sr-only{display: none!important;}
	
	
	#Documenti-pubblicazioni .tab-pane .sr-only h3.sr-only{
		display: block!important;
		font-size: 15pt;
		margin: 0 0 5pt 0;
		padding: 0pt;
		line-height: 15pt;
	}
	
	#Documenti-pubblicazioni .tab-pane .sr-only{
		display: block!important;
	}
	
	#Documenti-pubblicazioni .tab-pane{
		margin-bottom: 30pt;
	}
	
	#Documenti-pubblicazioni li{
		margin-bottom: 10pt;
	}
	
	#Documenti-pubblicazioni .btn.btn-default.btn-sm.btn-bk{display: none!important;}
	
	#Documenti-pubblicazioni .fr .sr-only{display: none!important;}
	#Documenti-pubblicazioni .doc-list .sr-only{display: none!important;}
	
	/* CALENDARIO */
	
	#cal-tabs{display: none;}
	
	#cal-tb .tab-pane{display: none;}
	#cal-tb #current_event.tab-pane{display: block;}
	#cal-tb .cal-week{display: none;}
	
	#cal-events,
	.cal-icon{display: none!important;}
	#cal-tb-which{display: none;}
	
	.cal-agenda .date{display:inline; margin-right: 3pt; font-weight: bold;}
	.cal-agenda .month{display:inline; font-weight: bold; text-transform: uppercase;}
	.cal-last .cal-agenda{margin-bottom: 5pt!important;}
	.cal-txt .min{margin-bottom: 10pt!important;}
	.cal-tabs .cal-last{margin-bottom: 30pt;}

	/* SOTTO LA LENTE */
	#most{display: none;}
	
	/* FOOTER */
	footer {display: none;}
	
		
	/* DETTAGLIO */
	
	h2#fContent{
		margin-top: 20pt;
	}
	
	.ip-content h3{
		margin-top: 15pt;
	}
	
	img.printable{
		display: block!important;
		max-width: 100%;
		float:left;
	}
	
	img.banner-com{
		display: block!important;
		max-width: 100%;
	}
	
	.print-inline{
		display: inline-block;
		width: 45%;
		vertical-align: middle;
		
	}
	
}