
/* MODIFICHE PER STILE E POSIZIONE NOTIFICHE */

#notifier{
	position: relative;
	}


div.sticky-queue {
	position: absolute;
	/*height: 500px;*/
	top: 50px;
	right: 0;
	background-color: #525a60;
	z-index: 999;	
	font-size: 0.933em;
	}
	
.sticky-queue .sticky{
	padding: 20px 15px 0px 15px;
	width: 350px;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    0 3px 3px rgba(0, 0, 0, 0.25);
	box-shadow:         0 3px 3px rgba(0, 0, 0, 0.25);
	/* border: 1px solid rgba(100, 100, 100, 0.4); */

	}
	
.sticky-queue h3{
	color: #fff;
	font-size: 1.188em;
	margin-bottom: 10px;
	margin-top: 15px;
	margin-right:  15px;
	}	
	
.sticky-queue .sticky-close{
	position: absolute;
	color: white;
	top: auto;
	right: 19px;
	bottom: 13px;
	cursor: pointer;
	}
	
.sticky-queue ul{
	padding: 0;
	list-style-type: none;
	margin-right:  15px;
	}
	
.sticky-queue li{
	margin-bottom: 8px;
	}	
	
.sticky-queue a{
	color: #fff;
	font-size: 1em;
	border-left: 1px solid transparent;
    display: block;
    padding: 5px 5px 5px 5px;
	}	
	
.sticky-queue a:hover,
.sticky-queue a:focus{
	color:#fff!important;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.1);
	}	
	
.sticky-queue .arrow{
	background-color: transparent;
	border-top: 10px solid #fff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	position: absolute;
	right: 15px;
	top: 0px;
	width: 0;	
	}
	

#notifier .title{
	color: #fff;
	position: relative;
	font-size: 13px;
	border-bottom: 1px solid #eee;
	}
	

#notifier .number{
	background-color: red;
	color: #fff;
	font-size: 0.6em;
	font-weight: bold;
	left: 30px;
	padding: 0 4px;
	position: absolute;
	top: 5px;
	}

.sticky-more {
	padding-right: 11%;
	border-top: 1px solid #eee;
}