﻿/* Default tab style */


.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: normal;
	font-size: 1.475em;
}

/* Nav */
.tabs .nav-tabs {
	text-align: center;
	margin:15px 0;
}

.tabs .nav-tabs ul {
	position: relative;
	/*display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;*/
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	/*-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;*/
}

.tabs .nav-tabs ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	/*-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;*/
}

.tabs .nav-tabs a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}

.tabs .nav-tabs a span {
	vertical-align: middle;
	font-size: 0.75em;
}
.tabs li a:hover {color: #606060 !important}
.tabs .nav-tabs li a span:hover {/*color: #fff;*/} /* colore sull'hover */
.tabs-style-linebox .nav-tabs li.active a { font-family: open_sansregular;}
.tabs-style-linebox .nav-tabs li.active a:hover {color: #fff !important;}

.tabs .nav-tabs li.active a 
 {
	color: #606060;
}

.tabs .nav-tabs a:focus {
	outline: none;
}

/* Icons */
.icon::before {
	z-index: 10;
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.3em;
	font-family: 'stroke7pixeden';
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-upload::before {
	content: "\e68a";
}
.icon-tools::before {
	content: "\e60a";
}
.icon-plane::before {
	content: "\e625";
}
.icon-joy::before {
	content: "\e6a4";
}
.icon-plug::before {
	content: "\e69a";
}
.icon-home::before {
	content: "\e648";
}
.icon-gift::before {
	content: "\e652";
}
.icon-display::before {
	content: "\e65e";
}
.icon-date::before {
	content: "\e660";
}
.icon-config::before {
	content: "\e666";
}
.icon-coffee::before {
	content: "\e669";
}
.icon-camera::before {
	content: "\e66f";
}
.icon-box::before {
	content: "\e674";
}

/* Content */
.content-wrap {
	position: relative;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 1em;
	max-width: 1170px;
	text-align: center;
}

.content-wrap section.content-current {
	display: block;
}

.content-wrap section p {
	margin: 0;
	padding: 0.75em 0;
	color: rgba(40,44,42,0.05);
	font-weight: normal;
	font-size: 4em;
	line-height: 1;
}

/* Fallback */
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox .nav-tabs ul {
	display: block;
}

.no-flexbox .nav-tabs ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	.tabs .nav-tabs a.icon span {
		display: none;
	}
	.tabs .nav-tabs a:before {
		margin-right: 0;
	}
}

/*****************************/
/* Line Box */
/*****************************/

.tabs-style-linebox .nav-tabs ul li {
	margin: 0 /*0.5em*/;
	/* -webkit-flex: none;
	flex: none; */
}

.tabs-style-linebox .nav-tabs a {
	padding: 0 .5em;
	color: #606060;
	font-weight: normal;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	text-decoration: none;
}

.tabs-style-linebox .nav-tabs a:hover,
.tabs-style-linebox .nav-tabs a:focus {
	color:  #606060/*#2CC185 !important */;
}

.tabs-style-linebox .nav-tabs li.active a {
	color: #fff;
}

.tabs-style-linebox .nav-tabs a::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #d2d8d6;
	content: '';
	-webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
	transition: background-color 0.3s, transform 0.3s;
	-webkit-transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,100%,0) translate3d(0,-3px,0);
	transform: translate3d(0,100%,0) translate3d(0,-3px,0);
}

.tabs-style-linebox .nav-tabs li.active a::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.tabs-style-linebox .nav-tabs a:hover::after,
.tabs-style-linebox .nav-tabs a:focus::after,
.tabs-style-linebox .nav-tabs li.active a::after {
	background: #2A7247 /*brown;#606060;#2CC185*/;
}

@media screen and (max-width: 58em) {
	.tabs-style-linebox .nav-tabs ul {
		display: block;
		box-shadow: none;
	}
	.tabs-style-linebox .nav-tabs ul li {
		display: block;
		-webkit-flex: none;
		flex: none;
	}
}


/*****************************/
/* Bar */
/*****************************/

.tabs-style-bar {
	width: 100%; height: 120px; border-bottom: 8px solid #555;
}

.tabs-style-bar ul {display: flex; margin: 0 auto; padding: 0;
max-width: 1170px; list-style: none;}

.tabs-style-bar ul li {width: 120px; height: 100px; margin-right:15px;
padding:40px 20px; text-align: center; background: #D7D7D7;font-size:12px;}

.tabs-style-bar ul li a {
	/*margin: 0 2px;
	background-color: #f7f7f7;*/
	color: red;
	transition: background-color 0.2s, color 0.2s;
}


/*.tabs-style-bar ul li a span {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 0.6em;
}*/

/*.tabs-style-bar ul li.tab-current a {
	background: #2CC185;
	color: #fff;
}*/


/*****************************/
/* Icon box */
/*****************************/
.tabs-style-iconbox {
	height: 100px;
}

.tabs-style-iconbox .nav-tabs {
	text-align: center;
	margin:0;
	height: 100px;
	padding: 0;
}

.tabs-style-iconbox .nav-tabs {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1170px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.tabs-style-iconbox .nav-tabs  li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs-style-iconbox .nav-tabs a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#252525 !important;
}

.tabs-style-iconbox .nav-tabs a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs-style-iconbox li a {
	overflow: visible;
	padding: 1em 0;
	line-height: 1;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-decoration:none;
}
.tabs-style-iconbox .nav-tabs li a i{
	font-size: 1em;
	padding: 10px;
	margin-left: -10px;
}

.tabs-style-iconbox  ul li a span {
	font-size: 0.7em;
}

.tabs-style-iconbox ul li.active a {
	border-radius: 0;
	border: 0;
	background: none;
	font-weight: normal;
	font-family: 'open_sansregular', Arial, sans-serif;
}
.tabs-style-iconbox ul li.active a:hover {
	border-radius: 0;
	border: 0;
	background: none;
	color:#252525 !important;
	text-decoration:none;
}
.tabs-style-iconbox ul li.active a:focus  {
	border-radius: 0;
	border: 0;
	background: none;
	
}
.tabs-style-iconbox ul li a:hover  {
	border-color: transparent;
	text-decoration: underline;
}

.tabs-style-iconbox ul li.active a::after {
	position: absolute;
	top: 70px;
	left: 55%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 7px;
	border-top-color: #252525;
	content: '';
	/*pointer-events: none;*/
}
