/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,.yamm .collapse,.yamm .dropup,.yamm .dropdown { position: static;}
.yamm .container { position: relative;}
.yamm .dropdown-menu { left: auto;}

.yamm .yamm-content { padding: 23px 30px 15px 30px;}

.yamm .dropdown.yamm-fw .dropdown-menu { left: 0; right: 0;}


.yamm .dropdown.yamm-fullwidth .dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
}

  
  