.sprite_homepage_header_home_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -3px;
}

.sprite_homepage_facebook_sharing_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -16px;
}

.sprite_homepage_header_facebook_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -27px -16px;
}

.sprite_homepage_header_logo_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -39px;
}

.sprite_homepage_calcalist_ticker_downn {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -147px -39px;
}

.sprite_homepage_footer_background {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -111px;
}

.sprite_homepage_homepagevideo1024new_bigplay {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -986px -111px;
}

.sprite_homepage_galleries_play_big {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1101px -111px;
}

.sprite_homepage_homevideox6_play_big {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1216px -111px;
}

.sprite_homepage_yediot_america_logo_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1309px -111px;
}

.sprite_homepage_homevideox6_play_small {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1455px -111px;
}

.sprite_homepage_malc_video_play_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1502px -111px;
}

.sprite_homepage_footer_tali_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1549px -111px;
}

.sprite_homepage_footer_ynet_shops_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1616px -111px;
}

.sprite_homepage_hmv_tab_hinuhit {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1735px -111px;
}

.sprite_homepage_footer_net_games_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1815px -111px;
}

.sprite_homepage_footer_winwin_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1903px -111px;
}

.sprite_homepage_footer_insurance_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2010px -111px;
}

.sprite_homepage_multi_galleries_arrow_left {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2124px -111px;
}

.sprite_homepage_hmv_tab_pini {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2159px -111px;
}

.sprite_homepage_multi_galleries_arrow_right {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2239px -111px;
}

.sprite_homepage_hmv_footer_sep {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2274px -111px;
}

.sprite_homepage_footer_activetrail_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2280px -111px;
}

.sprite_homepage_homepagevideo1024new_vod_logo {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2389px -111px;
}

.sprite_homepage_winwin_logo_v2 {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2475px -111px;
}

.sprite_homepage_header_search_bgr {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2598px -111px;
}

.sprite_homepage_header_weather_bgr {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2887px -111px;
}

.sprite_homepage_header_sep {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2967px -111px;
}

.sprite_homepage_hmv_play_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2972px -111px;
}

.sprite_homepage_homepagelitevideo_arrow_right {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2994px -111px;
}

.sprite_homepage_galleries_send_to_friend {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3007px -111px;
}

.sprite_homepage_homepagelitevideo_arrow_left {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3077px -111px;
}

.sprite_homepage_galleries_facebook {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3090px -111px;
}

.sprite_homepage_multi_galleries_not_active {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3157px -111px;
}

.sprite_homepage_homepagelitevideo_bullet {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3174px -111px;
}

.sprite_homepage_multiquotes_quote {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3189px -111px;
}

.sprite_homepage_homevideox6_video_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3205px -111px;
}

.sprite_homepage_malc_opinion_arrow {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3222px -111px;
}

.sprite_homepage_ticker_double_arrow_left {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3241px -111px;
}

.sprite_homepage_multi_articles_title_arrow {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3251px -111px;
}

.sprite_homepage_header_radio {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -639px;
}

.sprite_homepage_gen_inf_label {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -672px;
}

.sprite_homepage_hmv_tab_cinema_on {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -156px -672px;
}

.sprite_homepage_hmv_tab_channel_8_on {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -236px -672px;
}

.sprite_homepage_hmv_tab_pini_on {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -316px -672px;
}

.sprite_homepage_hmv_tab_hot_bidur_on {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -396px -672px;
}

.sprite_homepage_hmv_tab_hot_items_on {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -476px -672px;
}

.sprite_homepage_hmv_tab_kids_on {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -556px -672px;
}

.sprite_homepage_hmv_tab_hinuhit_on {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -636px -672px;
}

.sprite_homepage_hmv_tab_bg_on {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -716px -672px;
}

.sprite_homepage_hmv_tab_hot_on {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -796px -672px;
}

.sprite_homepage_header_red_background {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -876px -672px;
}

.sprite_homepage_multi_images_border_center {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -726px;
}

.sprite_homepage_homepagevideo1024new_smallpic_side_shade_l {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -7px -726px;
}

.sprite_homepage_homepagevideo1024new_smallpic_side_shade_r {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -57px -726px;
}

.sprite_homepage_homepagevideo1024new_big_vid_shade {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -107px -726px;
}

.sprite_homepage_homepagevideo1024new_big_vod_shade {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -111px -726px;
}

.sprite_homepage_calcalist_logo_hp {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -774px -726px;
}

.sprite_homepage_footer_professional_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -938px -726px;
}

.sprite_homepage_footer_radware_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1039px -726px;
}

.sprite_homepage_footer_akamai_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1122px -726px;
}

.sprite_homepage_footer_total_media_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1185px -726px;
}

.sprite_homepage_footer_acum_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1281px -726px;
}

.sprite_homepage_footer_realcommerce_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1360px -726px;
}

.sprite_homepage_calcalist_bg_ticker {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1476px -726px;
}

.sprite_homepage_footer_channels_title {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1568px -726px;
}

.sprite_homepage_footer_about_title {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -1880px -726px;
}

.sprite_homepage_hmv_ticker_channel8 {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2192px -726px;
}

.sprite_homepage_hmv_ticker_bidur_news {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2237px -726px;
}

.sprite_homepage_footer_all_rights {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2282px -726px;
}

.sprite_homepage_teaser_quote_right {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2486px -726px;
}

.sprite_homepage_footer_tools_title {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -2512px -726px;
}

.sprite_homepage_footer_network_title {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3053px -726px;
}

.sprite_homepage_homepagelitevideo_sep {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3132px -726px;
}

.sprite_homepage_shimushon_arrow_left {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3136px -726px;
}

.sprite_homepage_shimushon_arrow_right {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3144px -726px;
}

.sprite_homepage_footer_yit_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -875px;
}

.sprite_homepage_teaser_quote_left {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -71px -875px;
}

.sprite_homepage_malc_quote_left {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -909px;
}

.sprite_homepage_malc_quote_right {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -21px -909px;
}

.sprite_homepage_hmv_ticker_trace {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -924px;
}

.sprite_homepage_winwin_sep {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -48px -924px;
}

.sprite_homepage_winwin_sep_v2 {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -946px;
}

.sprite_homepage_winwin_logo {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -956px;
}

.sprite_homepage_winwin_single_arrow_left {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -51px -956px;
}

.sprite_homepage_homevideox6_footer_back {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -976px;
}

.sprite_homepage_footer_ynet_tours_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -15px -976px;
}

.sprite_homepage_hmv_tab_cinema {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -140px -976px;
}

.sprite_homepage_hmv_tab_channel_8 {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -220px -976px;
}

.sprite_homepage_hmv_tab_hot_bidur {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -300px -976px;
}

.sprite_homepage_hmv_tab_hot {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -380px -976px;
}

.sprite_homepage_hmv_tab_bg {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -460px -976px;
}

.sprite_homepage_hmv_tab_kids {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -540px -976px;
}

.sprite_homepage_homevideox6_footer_delimeter {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -620px -976px;
}

.sprite_homepage_hmv_ticker_zoom {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -625px -976px;
}

.sprite_homepage_mynet_double_arrow_left {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -670px -976px;
}

.sprite_homepage_marketing_recommended_sep {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -682px -976px;
}

.sprite_homepage_footer_cisco_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1014px;
}

.sprite_homepage_mynet_mynet_logo {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -46px -1014px;
}

.sprite_homepage_hmv_back {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1048px;
}

.sprite_homepage_bigdeal_btn_bg_gray {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -726px -1048px;
}

.sprite_homepage_facebook_like_count_bg {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -817px -1048px;
}

.sprite_homepage_bigdeal_price_bg {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1451px;
}

.sprite_homepage_bigdeal_btn_bg_blue {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -215px -1451px;
}

.sprite_homepage_bigdeal_logo {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1487px;
}

.sprite_homepage_bigdeal_white_bg {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1524px;
}

.sprite_homepage_footer_big_deal_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1551px;
}

.sprite_homepage_hmv_ticker_hinuchit23 {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -94px -1551px;
}

.sprite_homepage_bigdeal_separator {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -139px -1551px;
}

.sprite_homepage_homepagevideo1024new_logo_mafrid_top {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -143px -1551px;
}

.sprite_homepage_homepagevideo1024new_next {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1589px;
}

.sprite_homepage_galleries_black_arrow_left {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -54px -1589px;
}

.sprite_homepage_galleries_black_arrow_right {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -89px -1589px;
}

.sprite_homepage_bigdeal_arrow_left {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -124px -1589px;
}

.sprite_homepage_bigdeal_arrow_right {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -159px -1589px;
}

.sprite_homepage_calcalist_ticker_upn {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1645px;
}

.sprite_homepage_multi_galleries_active {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1658px;
}

.sprite_homepage_multi_galleries_play_big {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1674px;
}

.sprite_homepage_multi_galleries_play_small {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -86px -1674px;
}

.sprite_homepage_galleries_play_small {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -129px -1674px;
}

.sprite_homepage_homepagevideo1024new_sm_play {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -171px -1674px;
}

.sprite_homepage_gallery_camera_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -213px -1674px;
}

.sprite_homepage_footer_channel_separator {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1757px;
}

.sprite_homepage_footer_ynet_studio_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1761px;
}

.sprite_homepage_twitter_sharing_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1793px;
}

.sprite_homepage_footer_tweeter_icon {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -27px -1793px;
}

.sprite_homepage_hmv_tab_hot_items {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1816px;
}

.sprite_homepage_hmv_ticker_ynet {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1853px;
}

.sprite_homepage_hmv_ticker_young {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1875px;
}

.sprite_homepage_hmv_ticker_hot3 {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -48px -1875px;
}

.sprite_homepage_hmv_ticker_good_life {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -93px -1875px;
}

.sprite_homepage_hmv_ticker_hot_bidur {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -138px -1875px;
}

.sprite_homepage_hmv_ticker_comedy_central {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -183px -1875px;
}

.sprite_homepage_hmv_ticker_ego {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -228px -1875px;
}

.sprite_homepage_hmv_ticker_hot {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -273px -1875px;
}

.sprite_homepage_hmv_ticker_reshet {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1897px;
}

.sprite_homepage_hmv_ticker_channel1 {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1919px;
}

.sprite_homepage_hmv_ticker_cinema {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1941px;
}

.sprite_homepage_hmv_ticker_safari {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1963px;
}

.sprite_homepage_hmv_ticker_safari_kids {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -48px -1963px;
}

.sprite_homepage_hmv_ticker_fashion {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -1985px;
}

.sprite_homepage_homepagevideo1024new_priv {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -2007px;
}

.sprite_homepage_hmv_ticker_frogi {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -54px -2007px;
}

.sprite_homepage_hor_separator {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -2063px;
}

.sprite_homepage_article_tags_arrow_left {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -2067px;
}

.sprite_homepage_homepagelitevideo_play_big {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -2096px;
}

.sprite_homepage_homepagelitevideo_play_small {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -89px -2096px;
}

.sprite_homepage_homepagelitevideo_play_over_big {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -2182px;
}

.sprite_homepage_homepagelitevideo_play_over_small {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -2268px;
}

.sprite_homepage_homepagevideo1024new_logo_hot3 {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -2319px;
}

.sprite_homepage_homepagevideo1024new_logo_big_ynet {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -2395px;
}

.sprite_homepage_homepagevideo1024new_logo_sm_ynet {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -146px -2395px;
}

.sprite_homepage_homepagevideo1024new_logo_sm_hot3 {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -220px -2395px;
}

.sprite_homepage_homepagevideo1024new_logo_mafrid_bottom {
    background: transparent url( 'http://www.ynet.co.il/PicServer4/2016/04/18/sprites/homepage_v36.png' ) -3px -2471px;
}

