.ynet_lightbox_floatr {float: right; display:block;}
.ynet_lightbox_floatl {float: left;  display:block;}
.hp_player_clear {clear: both;}
.ynet_lightbox_pointer {cursor: pointer;}

#ynet_lightbox_overlay, #ynet_lightbox_content {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

#ynet_lightbox_overlay {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background: black;
	z-index: 10001;
	overflow: hidden;
}

#ynet_lightbox_content {
	width: 640px;
	direction: rtl;
	text-align: right;
	z-index: 10001;
}

#ynet_lightbox_content a, .ynet_lightbox_content a:hover, .ynet_lightbox_content a:visited {
	color: white;
}

/*================= Light Box Header ====================*/
	
#ynet_lightbox_video_header {
	height: 21px;
	background: black;
	color: white;
	font-size: 13px;
	line-height: 16px;
	overflow: hidden;
}

.ynet_lightbox_video_header_p {
	padding: 0 7px 0 3px;
}

.ynet_lightbox_video_header_title_wrap {
	margin-top: 2px;
	width: 80%;
}

#ynet_lightbox_video_header img {
	margin: 3px 3px 0 0;
}

.ynet_lightbox_video_header_title {
	font-weight: bold !important;
}
		
.ynet_lightbox_full_article a {
	text-decoration: underline !important;
}

.ynet_lightbox_lightbox_samsung #ynet_lightbox_video_top a {
	display:block;
	width:640px;
	height:112px;
	background:url(/images/hp_player_lightbox_samsung_top_1024.png) no-repeat top left
}

/*================= Light Box Content ====================*/

#ynet_lightbox_video_container_wrap {
	width: 640px;
	background: black;
	text-align: center;
	overflow: hidden;
	direction: ltr;
}
	
#ynet_lightbox_video_container {
	width:  640px;
	margin: -1px 0 0 -1px;
	overflow: hidden;
}

#ynet_lightbox_external_video_container {
	width:  640px;
	margin: -1px 0 0 -1px;
	overflow: hidden;
}

#ynet_lightbox_iframe {
	width:  640px;
	overflow: hidden;
}
	
/*================= Light Box Footer ====================*/

#ynet_lightbox_video_footer {
	height: 98px;
}

#ynet_lightbox_video_footer_inner {
}
	
#ynet_lightbox_thumbnails {
	padding: 5px 0;
	background: #141414;
	direction: ltr;
}
		
.ynet_lightbox_thumbnail {
	width: 87px;
	height: 65px;
	position: relative;
	z-index: 1;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
}

.ynet_lightbox_thumbnail_img {
	width: 87px;
	height: 65px;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	z-index: 2;
}
				
.ynet_lightbox_thumbnail_img img {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
}

.ynet_lightbox_thumbnail_overlay {
	position: relative;
	top: 0px;
	height: 20px;
	padding-right: 5px;
	line-height: 20px;
	background: black;
	color: white;
	direction: rtl;
	overflow: hidden;
}

.ynet_lightbox_thumbnail_enlarged {
	border: 1px solid #a5a5a5 !important;
}

.ynet_lightbox_thumbnail_shade_on {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: -85px;
	right: 0px;
	background: black;
	opacity: 0.7;
	filter: alpha(opacity = 70);
	z-index: 2;
}

.ynet_lightbox_thumbnail_separator {
	width: 5px;
	height: 1px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	overflow: hidden;
	vertical-align: top;
}

.ynet_lightbox_thumbnail_separator_first {
	width: 6px;
}

.ynet_lightbox_thumbnail_mr {
	margin-right: 5px;
}

.ynet_lightbox_thumbnail_ml {
	margin-left: 1px;
}
	
#ynet_lightbox_sharing {
	height: 23px;
	background: #404040;
	direction: ltr;
	text-align: left;
	display: none;
}
	
.ynet_lightbox_lightbox_motorolla #ynet_lightbox_sharing {
	background: url('/images/hp_player_lightbox_bottom.png');
}
	
.ynet_lightbox_sharing_fb {
	display: block;
	width: 77px;
	height: 23px;
	background: url('/images/video/sharingfooter/sf_facebook.jpg') no-repeat;
}

.ynet_lightbox_lightbox_motorolla .ynet_lightbox_sharing_fb {
	background: none;
}

.ynet_lightbox_lightbox_samsung #ynet_lightbox_sharing {
	display:block;
	background: white;
}

.ynet_lightbox_lightbox_samsung .ynet_lightbox_sharing_fb {
	background: url('/images/video/sharingfooter/sf_samsung_facebook_1024.png') no-repeat;
}


