/* ######### CSS for top level tabs ######### */

.tabsmenuclass ul{
overflow: hidden;
width: auto;
margin: 0;
padding: 0;
list-style-type: none;
}

.tabsmenuclass li{
float: left;
}

.tabsmenuclass a{
display: block;
padding: 0px 0px;
background: white;
color: black;
margin-right: 0px;
text-decoration: none;
font: bold 13px Arial;
}

.tabsmenuclass a:hover, .tabsmenuclass a.selected{
/*background: black; */
color: white;
}

/* ######### CSS for sub menu container below ######### */

.tabsmenucontentclass{
clear: left;
background: white;
width: 900px;
height: 24px;
padding: 2px;
border: 0px solid silver;
}

.tabsmenucontentclass a{
font-family:"Franklin Gothic Book"; 
font-size:12px;  
color:#00529c; 
text-align:center; 
clear: left;
font-weight:bold; 
width: 800px;
height: 10px;
vertical-align:middle;
padding-right:3px;
text-decoration:none;
}

.tabsmenucontentclass ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.tabsmenucontentclass li{
float: left;
font-size:12px;
margin-right: 0.6em;
}