@media all {
	.container2 {
   		width: 100%;
		padding: 0;
		margin: 0;
	}
}
@media (min-width: 1200px) and (max-width: 1600px)  {
		.txt-begin>div>img:first-child {
			width: 50px;
		}
		.txt-begin>div>img:last-child {
			width: 15px;
		}
		.txt-begin>div>p{
			width: 65%;
		}
}
@media (min-width: 1600px)  {
		.txt-begin>div>img:first-child {
			width: 50px;
		}
		.txt-begin>div>img:last-child {
			width: 15px;
		}
		.txt-begin>div>p{
			width: 65%;
		}
	.preim-txt {
		margin: -20px 0 0 0;
	}
}

/*.top-img div:nth-child(2) {*/
	/*display: none;*/
/*}*/


@media (max-width: 768px) {
	.navbar-toggle .icon-bar {
		background: #ff0056;
	}
	.toggle-btn {
		display: block;
	}
	.navbar-btn {
		display: none;
	}
	.lang-toggle {
		display: block;
	}
	.lang-nav {
		display: none;
	}
	.jumbotron {
		min-height: 400px;	
	}
	.preim-wrap {
		margin-top: -37px;	
	}
	.preim-txt {
		margin: 0 0 0 0;
		background: url(../images/preim-bg.png) no-repeat top;
	}
	.navbar-nav {
		background: #473e5e;
	}
	.ar {
		display: none;
	}
}
@media (min-width: 768px) {
	.navbar-brand {
		display: none;
	}
	.toggle-btn {
		display: none;
	}
	.lang-toggle {
		display: none;
	}
	.lang-nav {
		display: block;
	}
}



@media (min-width: 768px) and (max-width: 1200px) {
	.preim-txt {
		margin: 0 0 0 0;
		background: url(../images/preim-bg.png) no-repeat top;
	}
	.ar {
		display: none;
	}

}