body {
	margin: 0;
	padding: 0;
        font-family: 'P22UndergroundCYPro-Thin';
	background: #000000;
}
.main-nav {
	border-top: 5px #000000 solid;
	position: absolute;
	width: 100%;
	z-index: 999;
        font-family: Tahoma;
}
.navbar-toggle {
	border-color: #b2003c;
}
.navbar-toggle .icon-bar {
	background: #ff0056;
}
.navbar-nav {
	margin: auto;
	text-align: center;
}
.navbar-nav>li>a {
	color: #ffffff;
	text-transform: uppercase;
}
.navbar-nav>li>a:hover {
	background: #000000;
	color: #ffffff;
}
.navbar-nav>li>a:focus {
	background: #000000;
}
.navbar-nav>li>a:active {
	background: #000000;
}
.btn-login {
	background: url(../images/login.png) #000000 no-repeat left;
	background-position: left 10px center;
	color: #ffffff;
	text-transform: uppercase;
	padding: 5px 25px;
	border-radius: 20px;
	text-align: right;
	float: left;
}
.btn-reg {
	background: url(../images/login.png) #000000 no-repeat left;
	background-position: left 10px center;
	color: #ffffff;
	text-transform: uppercase;
	padding: 5px 25px;
	border-radius: 20px;
	text-align: right;
	float: left;
}
.btn-home {
	background: url(../images/login.png) #000000 no-repeat left;
	background-position: left 10px center;
	color: #ffffff;
	text-transform: uppercase;
	padding: 5px 25px;
	border-radius: 20px;
	text-align: right;
	float: left;
	text-decoration: none;
}
.btn-top {
	margin: 10px 15px;
	border: none;
}
.btn:hover {
	color: #ff0056;
}
.lang {
	background: #000000;
	color: #ffffff;
	text-transform: uppercase;
	padding: 5px 15px;
	border-radius: 20px;
	text-align: right;
	float: left;
	margin: 10px 15px;
	position: relative;
	z-index: 10;
}
.lang a:hover {
	color: #ffffff;
	text-decoration: none;
}
.lang a {
	color: #ffffff;
}
.top {
	background: url(../images/top-bg-2.jpg) #483f5e no-repeat top;
	background-size: cover;
	min-height: 670px;
	padding: 120px 0 0 0;
	margin: 0;
}
.top-img {
	text-align: center;
}
.top-img div:nth-child(2) {
	text-align: center;
	position: relative;
	bottom: -70px;
}
.header {
	font-family: 'aero_matics_bold_italic';
	text-transform: uppercase;
	text-shadow: 1px 1px 2px black;
}
.header-left {
	text-align: left;
}
.header-left p {
	text-align: left;
	color: #ffffff;
}
.header-left p span {
	color: #ff0056;
}
.header-right {
	text-align: right;
}
.header-right p {
	text-align: right;
	color: #ffffff;
}
.header-right p span {
	color: #ff0056;
}
.preim-wrap {
	margin-top: -69px;
	background: #ffffff;
	width: 100%;
	padding: 0 0 50px 0;
}
.preim {
	background-size: cover;
	position: relative;
	z-index: 999;
}
.preim-txt {
	/*background: url(../images/preim-bg.png) no-repeat top;*/
	background-size: cover;
	float: left;
	padding: 20px 0 0 0;
	color: #000000;
	font-size: 32px;
	text-align: center;
        font-family: 'P22UndergroundCYPro-Thin';
	position: relative;
	top: -76px;
	margin: 0;
}
.preim-txt-heavy {
	color: #000000;
	font-size: 32px;
        font-family: 'P22UndergroundCYPro-Heavy';
}
.preim-txt-book {
	color: #000000;
	font-size: 16px;
        font-family: 'P22UndergroundCYPro-Book';
}
.txt>div {
	width: 80%;
	margin: 0 auto 50px;
}
.txt {
	margin: 0px 0 0 0;
	font-size: 16px;
	margin: auto;
}
.txt>div>h2 {
	font-size: 120px;
	margin: 0;
	padding: 0;
}
.txt>div>span {
	font-size: 42px;
	display: block;
	color: #ffffff;
}
.out-network {
	background: url(../images/bg3.png) #473e5e no-repeat center center;
	background-size: cover;
	width: 100%;
	margin: 0;
	padding: 80px 0 80px 0;
	position: relative;
	z-index: 5;
	text-align: center;
	color: #9a92af;
}
.popunder {
	background: url(../images/bg2.png) #473e5e no-repeat center center;
	background-size: cover;
	width: 100%;
	margin: 0;
	padding: 0 0 80px 0;
	position: relative;
	z-index: 5;
	text-align: center;
	color: #9a92af;
}
.popunder-top {
	position: relative;
	top: 1px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 250px;
}
.rich {
	background: url(../images/bg3.png) #000000 no-repeat center center;
	background-size: cover;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 10;
	text-align: center;
	color: #9a92af;
	padding: 0 0 0px 0;
}
.rich-top {
	margin: 0;
	padding: 0;
	text-align: center;
}
#ex3, #ex4 {
	margin: -100px 0 0 0;
	position: relative;
	z-index: 10;
}
#ex5 {
	margin: 0 0 0 0;
	position: relative;
	z-index: 10;
}
#ex2 {
	padding-top: 80px;
	margin-bottom: 150px;
}

body {
	background-color: #FFFFFF
}

.txt-left>span {
	text-align: left;
}
.txt-begin {
	width: 85%;
	margin: auto;
}
.txt-begin>div {
	display: block;
	float: left;
}
.txt-begin>div>img {
	float: left;
	margin: 0 10px;
	text-align: center;
}
.txt-begin>div>p{
	text-transform: uppercase;
	color: #ffffff;
	text-align: 18px;
	text-align: left;
	float: left;
}
.txt-begin>div>p>span{
	text-transform: none;
	text-align: 14px;
}
.btn-begin {
	border-radius: 20px;
	box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
        background-image: linear-gradient(180deg, #fe0056, #c50042);
	border: none;
	width: 100%;
	padding: 10px 0;
	margin: 20px 0;
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
}
.btn-begin:hover {
	color: #9a92af;
}
.contact {
	background: #292437;
	text-align: center;
	padding: 0 0 120px 0;
	margin: 0;
	position: relative;
	z-index: 15;
	font-size: 16px;
}
.contact input {
	width: 100%;
}
.shape {
	margin: 10px 0 0 0;
	color: #9a92af;
}
.shape img{
	margin: 5px 0;
}
.shape a {
	margin: 10px 0 0 0;
	color: #fc0055;
}
.contact-block {
	padding: 40px 0 0 0;
}
.contact-block p {
	color: #ffffff;
	font-size: 32px;
}
.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}
.form-control {
	border-radius: 20px;
	background: #292437;
	text-align: center;
	color: #9a92af;
	border: #9a92af 1px solid;
	padding: 20px 0;
	font-size: 16px;
}
.btn-success {
	border-radius: 20px;
	box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
        background-image: linear-gradient(180deg, #fe0056, #c50042);
	border: none;
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	float: right;
}

.btn-demo {
	border-radius: 20px;
	box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
	background-image: linear-gradient(180deg, #fe0056, #c50042);
	border: none;
	width: 50%;
	padding: 10px 0;
	font-size: 16px;
	float: none;
	color: white;
	font-weight: 600;
	margin: 50px;
}

.btn-success:hover, .btn-demo:hover {
	color: #9a92af;
}
.footer {
	background: #000000;
	position: relative;
	z-index: 20;
	text-align: center;
	color: #ffffff;
	padding: 0 0 50px 0;
	margin: 0px 0 0 0;
	/*margin-top: 200px;*/
}
.footer-top {
	margin: -76px 0 0 0;
	text-align: center;
}
.logo-footer {
	margin: -76px 0 0 0;
}
.footer a {
	color: #ffffff;
}
.dropdown-menu-lang {
	background: #000000;
	text-transform: none;
	list-style-type: none;
	width: 320px;
	border-radius: 20px;
	padding: 50px 0 0 0;
	position: absolute;
	left: -250px;
	top: -10px;
	z-index: -1;

}
.dropdown-menu-lang ul {
	float: left;
	padding: 0 20px;
}
.dropdown-menu-lang ul li {
	list-style-type: none;
	text-align: left;
	border-top: #9a92af 1px solid;
	padding: 10px;
}
.dropdown.lang.lang-nav.open {
	background: #ffffff;
	color: #000000;
}
.dropdown-menu-lang ul li a {
	color: #9a92af;
}
.hidden{
	opacity:0;
}
.visible{
	opacity:1;
}




.modal-header {
	background: url(../images/modal.jpg) no-repeat center center;
	background-size: cover;
	margin: 0;
	width: 100%;
	padding: 60px;
}
.modal-body {
	width: 80%;
}
.login {
	overflow: auto;
	padding: 0 0 20px 0;
}
.login-title {
	text-align: center;
	color: #533758;
	font-family: 'P22UndergroundCYPro-Book';
}
.form-control-login1 {
	border-radius: 5px;
	border: 2px #aeb0b3 solid;
	background: #ffffff;
	text-align: left;
	color: #aeb0b3;
	font-family: 'P22UndergroundCYPro-Book';
	padding: 10px 10px;
	font-size: 16px;
}
.form-control-login1::-webkit-input-placeholder {
	color: #aeb0b3;
}
.form-control-login1::-moz-placeholder {
	color: #aeb0b3;
}
.form-control-login1:-moz-placeholder {
	color: #aeb0b3;
}
.form-control-login1:-ms-input-placeholder {
	color: #aeb0b3;
}
.form-control-login1:focus {
	border: 2px #735d77 solid;
	color: #e9004e;
}
.form-control-login1-warning {
	border-radius: 5px;
	border: 2px #e9004e solid;
	background: #ffffff;
	text-align: left;
	color: #e9004e;
	font-family: 'P22UndergroundCYPro-Book';
	padding: 10px 10px;
	font-size: 16px;
}
.form-control-password1-warning {
	border-radius: 5px;
	border: 2px #e9004e solid;
	background: #ffffff;
	color: #e9004e;
	font-family: 'P22UndergroundCYPro-Book';
	padding: 10px 10px;
	font-size: 16px;
}
.form-control-login1-warning::-webkit-input-placeholder {
	color: #e9004e;
	text-align: right;
}
.form-control-login1-warning::-moz-placeholder {
	color: #e9004e;
	text-align: right;
}
.form-control-login1-warning:-moz-placeholder {
	color: #e9004e;
	text-align: right;
}
.form-control-login1-warning:-ms-input-placeholder {
	color: #e9004e;
	text-align: right;
}
.password-lost {
	text-decoration: none;
	color: #533758;
	margin: 0 10px;
	font-family: 'P22UndergroundCYPro-Book';
	font-size: 16px;
}
.password-remember {
	text-decoration: none;
	margin: 0 10px;
	font-family: 'P22UndergroundCYPro-Book';
	font-size: 16px;
	color: #e9004e;
}
.btn-enter {
	font-family: 'P22UndergroundCYPro-Book';
	border-radius: 20px;
	box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
        background: #533758;
	border: none;
	padding: 7px 20px;
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
}
.anon {
	border-top: 2px #735d77 solid;
	padding: 20px 0 30px 0;
}
.anon p {
	text-decoration: none;
	color: #533758;
	font-family: 'P22UndergroundCYPro-Book';
	font-size: 16px;
}
.btn-register {
	font-family: 'P22UndergroundCYPro-Book';
	border-radius: 20px;
	box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
        background: #e9004e;
	border: none;
	padding: 7px 20px;
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
}
.btn-register:hover {
	color: #533758;
}
.btn-partner {
        border-top:2px #735d77 solid;
        border-left:1px #735d77 solid;
        border-bottom:2px #735d77 solid;
        border-right:2px #735d77 solid;
	color: #533758;
	font-size: 16px;
	font-family: 'P22UndergroundCYPro-Book';
	text-transform: uppercase;
}
.btn-partner:focus {
        border-top:2px #533758 solid;
        border-left:1px #533758 solid;
        border-bottom:2px #533758 solid;
        border-right:2px #533758 solid;
	color: #ffffff;
	background: #735d77;
	font-size: 16px;
	font-family: 'P22UndergroundCYPro-Book';
	text-transform: uppercase;
}
.btn-advertiser {
        border-top:2px #735d77 solid;
        border-left:2px #735d77 solid;
        border-bottom:2px #735d77 solid;
        border-right:1px #735d77 solid;
	color: #533758;
	font-size: 16px;
	font-family: 'P22UndergroundCYPro-Book';
	text-transform: uppercase;
}
.btn-advertiser:focus {
        border-top:2px #533758 solid;
        border-left:2px #533758 solid;
        border-bottom:2px #533758 solid;
        border-right:1px #533758 solid;
	color: #ffffff;
	background: #735d77;
	font-size: 16px;
	font-family: 'P22UndergroundCYPro-Book';
	text-transform: uppercase;
}
table {
        width:100%;
        text-align:center;
        border-bottom:2px #735d77 solid;
        border-top:2px #735d77 solid;
        margin-bottom:20px;
	border-radius: 2px;
	color: #533758;
	font-size: 16px;
	font-family: 'P22UndergroundCYPro-Book';
	text-transform: uppercase;
}
table td {
        padding:8px 10px;
        border-right:2px #735d77 solid;
	width: 50%;
	border-radius: 2px;
}
table td:hover {
        background-color:#E6E5FF;
}
table th {
        padding: 8px 5px;
        color: #1f1f1f;
        text-align: left;
        border-right: 2px #735d77 solid;
        font-weight: normal;
        background: #efefef;
	border-radius: 2px;
}
table tr {
        border-left:2px #735d77 solid;
        border-top:2px #735d77 solid;
	border-radius: 2px;
}

.b1 {
    background: url(../images/b1.png) no-repeat left;
}
.b2 {
    background: url(../images/b2.png) no-repeat left;
}
.b3 {
    background: url(../images/b3.png) no-repeat left;
}
.b4 {
    background: url(../images/b4.png) no-repeat left;
}
.b5 {
    background: url(../images/b5.png) no-repeat left;
}
.b6 {
    background: url(../images/b6.png) no-repeat left;
}
.b7 {
    background: url(../images/b7.png) no-repeat left;
}
.block {
	color: #ffffff;
	font-size: 20px;
	margin-right: 50px;
	margin-bottom: 10px;
	margin-top: 0px;
	text-shadow: 1px 1px 0px rgba(0,0,0, 0.3);
	padding: 10px 0 10px 55px;
	text-align: left;
}
.block2 {
	color: #ffffff;
	font-size: 20px;
	margin-right: 50px;
	margin-bottom: 10px;
	margin-top: 0px;
	text-shadow: 1px 1px 0px rgba(0,0,0, 0.3);
	padding: 10px 0 10px 55px;
	text-align: center;
}
.block3 {
	color: #ffffff;
	font-size: 20px;
	margin-right: 50px;
	margin-bottom: 10px;
	margin-top: 0px;
	text-shadow: 1px 1px 0px rgba(0,0,0, 0.3);
	padding: 20px 0 20px 75px;
	text-align: left;
}


.c1 {
    background: url(../images/c1.png) no-repeat left;
}
.c2 {
    background: url(../images/c2.png) no-repeat left;
}
.c3 {
    background: url(../images/c3.png) no-repeat left;
}
.c4 {
    background: url(../images/c4.png) no-repeat left;
}
.c5 {
    background: url(../images/c5.png) no-repeat left;
}

.sign_up_label {color: white}

.errorRePassword {display: none; }

.white_text {
	color: white;
	font-size: 13pt !important;
}

.demo-block p {
	color: #ffffff;
	font-size: 25px;
}

.statistic {
	max-width: 800px;
	margin: auto;
	/* overflow: auto; */
}
.statistic > div {
	background: url(../images/grid.png) no-repeat;
	background-size: contain;
	margin: auto;
	text-align: center;
	height: 237px;
	width: 200px;
	float: left;
}
.statistic > div .dial1 {
	z-index: -1;
}
.statistic > div > img {
	margin: auto;
	display: block;
	position: relative;
	top: -211px;
	left: 0px;
	z-index: 99999;
}
.statistic > div > div.dial {
	position: relative;
	top: -315px !important;
}
.statistic > div > div.target {
	position: relative;
	top: -200px !important;
	color: #000;
	font-size: 22px;
	font-family: 'P22UndergroundCYPro-Medium';
}
.statistic > div > div.target > p {
	margin: 0;
}
.statistic > div > div.target > span {
	font-family: 'P22UndergroundCYPro-Thin';
}
.statistic > div > img.dial-white {
	margin: auto;
	display: block;
	position: relative;
	top: -212px;
	left: 1.5px;
	z-index: 99999;
}
.statistic > div > div.dial2 {
	position: relative;
	top: -312px !important;
}
.statistic > div > div.target2 {
	top: -410px !important;
}

form .form-control.not-filled { background: #f5d7d8 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><text x="73%" y="55%" font-family="pf_din_text_cond_pro_light" font-size="12" fill="#d6575a">Field not filled!</text></svg>') no-repeat center right; border: 1px solid #d6575a; color: #d6575a;}
form .form-control.not-filled::-webkit-input-placeholder {color:#d6575a;}
form .form-control.not-filled::-moz-placeholder          {color:#d6575a;}/* Firefox 19+ */
form .form-control.not-filled:-moz-placeholder           {color:#d6575a;}/* Firefox 18- */
form .form-control.not-filled:-ms-input-placeholder      {color:#d6575a;}
form .form-control.not-filled:focus {outline: none; box-shadow: none; border: 1px solid #d6575a; background-image: none}

.form-errors
{
	display: none;
	/*float: right;*/
	color: #d6575a;
	border: 0px solid red;
	/*padding-top: 3px;*/
	font-weight: bold;
}

.partners {
	background: #ffffff;
	position: relative;
	z-index: 20;
	text-align: center;
	color: #ffffff;
	padding: 80px 0 50px 0;
}
.partners-top {
	margin: -76px 0 0 0;
	text-align: center;
}
.partners-content {
	padding: 20px 0;
}
.partners-content div {
	text-align: center;
	line-height: 150px;
}
.partners-content img {
	margin: auto;
}

.footer-info {
	background: url(../images/bg3.png) no-repeat top center;
	background-size: cover;
	position: relative;
	z-index: 20;
	text-align: center;
	color: #ffffff;
	padding: 50px 0 50px 0;
}
.footer-info-top {
	margin: -125px 0 50px 0;
	text-align: center;
}
.footer-info-title {
	font-family: 'P22UndergroundCYPro-Book';
	font-size: 24px;
	text-align: left;
	margin-bottom: 20px;
	color: #fff;
}
.footer-info-content {
	overflow: auto;
	font-family: 'PFSQUARESANSPRO-THIN.TTF';
	text-align: left;
	font-size: 18px;
	color: #959494;
	margin-bottom: 50px;
}
.footer-info-content>div {
	min-height: 40px;
	margin-bottom: 30px;
	width: 50%;
}
.footer-info-content>div>i {
	color: #fe0056;
	font-size: 30px;
	float: left;
	margin-right: 20px;
	min-height: 40px;
	display: block;
}
.footer-info-news {
	color: #959595;
	font-size: 14px;
	min-height: 50px;
}
.footer-info-news>i {
	color: #fe0056;
	display: block;
	float: left;
	min-height: 50px;
	margin-right: 10px;
}
.footer-info-news>p {
	color: #515050;
}
