@charset "utf-8";
/* CSS Document */
/*---------------------------------
Site:u17.com
nameAuthor:zhyy
Updated:2014/4/11
Updated by:Name
---------------------------------*/
/*主内容*/
.main{width:960px; float:left}
/*动画推荐*/
.main .recommend .auto_tab{position:absolute; bottom:10px; right:8px}
.main .recommend .auto_tab a{float:left; width:12px; height:12px; background:#bbb; margin:12px 0 0 8px}
.main .recommend .auto_tab .curr{background:#9cd12c}
.main .recommend{width:956px; height:405px; overflow:hidden;padding:1px 1px 0; border:1px solid #b9b9b9; position:relative; margin-bottom:10px}
.main .recommend .auto_content_wrap{height:370px; overflow:hidden}
.main .recommend .bot{background:url(../images/index/bg_auto_tab.png) repeat-x; height:35px; line-height:38px; padding:0 12px 0 15px}
.main .recommend .bot .fl a{background:url(../images/index/cs_ico.png) no-repeat 0 12px; padding-left:20px; float:left}
.main .recommend .bot .fl a:hover{color: #6dad14;}
.main .recommend .bot .fl q{float:left; margin:0 15px}
.main .recommend .bot .more{background:url(../images/index/cs_ico.png) no-repeat 0 -120px; width:25px; height:11px; float:right; margin:14px 0 0 20px}
/*
@-webkit-keyframes move_a{
0% {transform: translateY(0px);}
100%{transform: translateY(-3px);}
}
@-moz-keyframes move_a{
0% {transform: translateY(0px);}
100%{transform: translateY(-3px);}
}
@-ms-keyframes move_a{
0% {transform: translateY(0px);}
100%{transform: translateY(-3px);}
}
@keyframes move_a{
0% {transform: translateY(0px);}
100%{transform: translateY(-3px);}
}*/


/*s级作品*/
.main .bg_comic{display:block; background:url(../images/index/bg_cover.png) no-repeat; width:104px; height:137px; padding:5px 5px 1px 1px; margin: 0 auto; position: relative;}
.main .bg_comic .bg00{width: 104px; height: 26px; position: absolute; left: 0; bottom: 0; background: #000; opacity: .7; filter: alpha(opacity:70);}
.main .bg_comic .total{height: 26px; position: absolute; left: 0; bottom: 0; line-height: 26px; color: #fff; text-align: center; width: 104px;}
.main .zhanwei_yg{background: url(../images/index/zhanwei_yg.png) no-repeat center 30px #ededed; display: block; height:47px; padding-top:90px;}
.main .zhanwei_yqn{background: url(../images/index/zhanwei_yqn.png) no-repeat center 15px #ededed; display: block; height:47px; padding-top:90px;}
.main .bg_comic:hover{background-position:-110px 0; text-decoration:none}
.main h2.title{background:url(../images/index/main_tit.png) no-repeat; height:58px; line-height:58px; padding-right:15px; overflow:hidden;font-family: "microsoft yahei"}
.main .a_level h2.title{background-position:0 -60px}
.main .subscribe h2.title{background-position:0 -470px}
.main h2.title p{float:left; color:#888; padding-left:160px}
.main h2.title a{color:#888}
.main h2.title span{padding-left: 20px;}
.main h2.title span a{color: #ccc; padding-right: 24px; font-size: 14px; font-weight: bold;}
.main h2.title span a:hover,.main h2.title span a.cur{color: #f8bb3a; text-decoration: none;}
/* .main h2.title .more{float:right; width:50px; height:20px; margin-top:23px; background:url(../images/index/main_pic.png) no-repeat -150px -20px; overflow:hidden}  */
.simsun{font-family: simsun; font-size: 15px; padding-left: 3px;}
.main .scroll_wrap h2.title .more{background-position:-150px -100px}
.main h2.title .more{float: right; margin-top: 2px; font-size: 14px; font-weight: bold;color: #ccc;}
.main h2.title .more:hover{text-decoration: none;}
.main .scroll_wrap h2.title a:hover{color: #f8bb3a;}
.main .a_level h2.title a:hover,.main .a_level h2.title a.cur{color: #b5cd22;}
.main .subscribe h2.title a:hover,.main .subscribe h2.title a.cur{color: #c46fe0;}
.main .scroll_wrap .content{position:relative; padding:15px 0 15px 18px; width:942px; overflow:hidden}
.main .scroll_wrap .prev,.main .scroll_wrap .next{position:absolute; width:40px; height:40px; right:0; top:75px; z-index:10; display:none}
.main .scroll_wrap .prev{left:0}
.main .scroll_wrap .prev span,.main .scroll_wrap .next span{display:block; width:40px; height:40px; background:#000; opacity:0.5; filter:Alpha(opacity=50); cursor:pointer}
.main .scroll_wrap .prev i,.main .scroll_wrap .next i{position:absolute; width:15px; height:23px; left:12px; top:8px; background:url(../images/index/cs_ico.png) no-repeat 0 -180px; cursor:pointer}
.main .scroll_wrap .prev i{background-position:0 -205px}
.main .scroll_wrap .prev:hover span,.main .scroll_wrap .next:hover span{opacity:0.8; filter:Alpha(opacity=80)}
.main .scroll_wrap .scroll_comic{position:relative; width:952px; height:190px; overflow:hidden}
.main .scroll_wrap ul{position:absolute; left:0; top:0; width:9999px;}
.main .scroll_wrap li{float:left; width:115px; margin-right:21px; position: relative; height: 192px;}
.main .comic_name,.main .scroll_wrap span,.main .comic_channel .left span{display:block; text-align:center; color:#999}

.main .scroll_wrap_qiangtui h2.title .more{background-position:-150px -100px}
.main .scroll_wrap_qiangtui .content{position:relative; padding:15px 0 15px 18px; width:942px; overflow:hidden}
.main .scroll_wrap_qiangtui .prev,.main .scroll_wrap_qiangtui .next{position:absolute; width:40px; height:40px; right:0; top:75px; z-index:10; display:none}
.main .scroll_wrap_qiangtui .prev{left:0}
.main .scroll_wrap_qiangtui .prev span,.main .scroll_wrap_qiangtui .next span{display:block; width:40px; height:40px; background:#000; opacity:0.5; filter:Alpha(opacity=50); cursor:pointer}
.main .scroll_wrap_qiangtui .prev i,.main .scroll_wrap_qiangtui .next i{position:absolute; width:15px; height:23px; left:12px; top:8px; background:url(../images/index/cs_ico.png) no-repeat 0 -180px; cursor:pointer}
.main .scroll_wrap_qiangtui .prev i{background-position:0 -205px}
.main .scroll_wrap_qiangtui .prev:hover span,.main .scroll_wrap_qiangtui .next:hover span{opacity:0.8; filter:Alpha(opacity=80)}
.main .scroll_wrap_qiangtui .scroll_comic{position:relative; width:952px; height:190px; overflow:hidden}
.main .scroll_wrap_qiangtui ul{position:absolute; left:0; top:0; width:9999px;}
.main .scroll_wrap_qiangtui li{float:left; width:115px; margin-right:21px; position: relative; height: 192px;}
.main .comic_name,.main .scroll_wrap_qiangtui span,.main .comic_channel .left span{display:block; text-align:center; color:#999}

.main .comic_name{color:#333; font-size:14px; margin-top:5px; height: 22px; overflow: hidden;}
.main .comic_name:hover{color:#6dad14}
.main .comic_name .ico_rec{display:inline-block; width:14px; height:14px; background:url(../images/index/cs_ico.png) no-repeat 0 -465px; position: relative; top:2px; *top:0px; margin-right:3px}
/*强推作品*/
.main .qiangtui h2.title{background-position:0 -532px;  position: relative;}
.main .qiangtui h2.title .more:hover{color: #50cbe5;}
.main .qiangtui li{width: 219px; height: 180px; margin-right: 18px;}
.main .qiangtui .bg_comic{width: 210px; height: 129px; background-position: 0 -155px;}
.main .qiangtui .bg_comic:hover{background-position: -217px -156px;}
.main .qiangtui .bg_comic img{width: 209px; height: 128px;}
.main .qiangtui .mask_bg,.main .qiangtui .mask{position: absolute; height: 22px; position: absolute; left: 2px; bottom: 47px; right: 8px; color: #fff; text-align: center;display: none;}
.main .qiangtui .mask_bg.cur,.main .qiangtui .mask.cur{display: block;}
.main .qiangtui .mask_bg{background: #000; opacity: .6; filter: alpha(opacity:60);}
.main .qiangtui h2.title p{padding-left: 185px; color: #ddd; line-height: 53px;}
.main .qiangtui h2.title p a{color: #ddd; text-align: center;  position: relative; display: inline-block; width: 45px; height: 20px; line-height: 20px; float: left; top: 16px; background: url(../images/index/r_line.png) right center no-repeat; }
.main .qiangtui h2.title p a:hover,.main .qiangtui h2.title p a.cur{color:#fff; background: #50cbe5; text-decoration: none; position: relative; top: 16px;}

/* .main .qiangtui h2.title p a b{width: 1px; height: 18px; background: url(../images/index/r_line.png); display: inline-block; margin-left: 12px; position: relative; top: -2px; vertical-align: middle;} 
.main .qiangtui h2.title p a:hover b,.main .qiangtui h2.title p a.cur b{display: -none;} */
/* .main .qiangtui h2.title font{position: absolute; right: 80px; top: 5px; color: #fff;} */
/*专题*/
.zt_wrap{background:url(../images/index/bg_zt.png); height:92px; padding:22px 0 0 20px; margin-bottom:34px; width:940px; overflow:hidden}
.zt_wrap li{float:left; width:210px; height:70px; margin-right:25px; position:relative;-webkit-transition-duration: 0.5s;-moz-transition-duration: 0.5s;-o-transition-duration: 0.5s; margin-bottom: 10px;}
.zt_wrap img{display:block; width:210px; height:70px}
.zt_wrap em{position:absolute; background:url(../images/index/cs_ico.png) no-repeat 0 -230px; width:14px; height:14px; right:-7px; top:-7px; display: none;}
.zt_wrap .zt_ad_mask,.zt_wrap span{position:absolute; width:210px; height:70px; background:#fff; opacity:0; filter:Alpha(opacity=0); left:0; top:0; cursor:pointer; }
/*.zt_wrap span{opacity:0.5; filter:Alpha(opacity=50);-webkit-transition-duration: 0.5s;-moz-transition-duration: 0.5s;-o-transition-duration:0.5s; height: 0; margin-top: 35px;}
.zt_wrap li:hover span{height:100%; margin-top:0px}*/
/*.zt_wrap li:hover em{display: block;}*/
.zt_wrap .visited span,.zt_wrap .visited em{display:block;}
.zt_wrap .visited span{height: 100%; margin-top: 0;}
/*少年*/
.comic_channel{margin-bottom:10px; height:480px; overflow:hidden}
.comic_channel h2.title{height:46px; margin-bottom:20px}
.shaonian h2.title{background-position:0 -120px}
.comic_channel h2.title ul{float:left; margin:20px 0 0 158px; display:inline}
.comic_channel h2.title li{background:url(../images/index/cs_ico.png) no-repeat right -245px; float:left; width:102px; height:18px; text-align:center; line-height:18px; margin-left:-17px}
.comic_channel h2.title ul a{color:#333; display:block}
.comic_channel h2.title ul a:hover,.comic_channel h2.title ul a.curr{background:url(../images/index/main_pic.png) no-repeat -75px 0; color:#fff; text-decoration:none}
.comic_channel h2.title .first{width:72px; margin-left:0}
.comic_channel h2.title .first a:hover,.comic_channel h2.title .first a.curr{background-position:0 0}
.comic_channel h2.title .last{background:none}
.comic_channel h2.title .more{background:url(../images/index/main_pic.png) no-repeat; margin-top: 18px; height: 20px;}
.shaonian h2.title .more{width:150px; background-position:0 -20px;}
.shaonv h2.title .more{width:150px; background-position:0 -328px;}

.comic_channel h2.title .more_show{ background: none; width:50px!important; display: none; font-size: 14px;}
.comic_channel h2.title .more_show:hover{text-decoration: none;}

.shaonian h2.title .more_show:hover{color: #ff4849;}
.shaonv h2.title .more_show:hover{color: #fa4f7c;}
.danmei h2.title .more_show:hover{color: #a799ef;}
.sige h2.title .more_show:hover{color: #50adff;}

.comic_channel h2.title .fr strong{font:16px/46px "Microsoft Yahei"; color:#333; float:right; width:165px; margin:5px 0 0 25px}
.comic_channel .left{float:left; width:770px; padding-left:7px; overflow:hidden}
.comic_channel .left li{float:left; width:115px; margin:0 13px 15px 0; position:relative; height: 192px;}
.comic_channel .ico_update,.comic_channel .ico_week,.scroll_comic .ico_update,.scroll_comic .ico_week,.comic_channel .ico_dasai,.scroll_comic .ico_dasai,.comic_channel .ico_qiangtui,.scroll_comic .ico_qiangtui,.comic_channel .ico_xianmian,.scroll_comic .ico_xianmian,.scroll_comic .ico_tiaoman,.comic_channel .ico_tiaoman{position:absolute; width:42px; height:42px; background:url(../images/index/main_pic.png) no-repeat -110px -180px; right:4px; top:0; z-index: 2;}
.comic_channel .ico_xianmian,.scroll_comic .ico_xianmian{background-position: -155px -230px;}
.comic_channel .ico_week,.scroll_comic .ico_week{background-position:-155px -180px}
.scroll_comic .ico_tiaoman,.comic_channel .ico_tiaoman{background-position: 0 -351px;}
/*大赛图标因为需要全部去掉,所以暂时全部替换成更新.如有新一轮的漫画大赛则还原成background-position: -110px -230px;*/
.scroll_comic .ico_dasai,.comic_channel .ico_dasai{background-position: -110px -180px;}
.comic_channel .ico_qiangtui,.scroll_comic .ico_qiangtui{background-position: 0 -230px; width:46px; height: 44px; right: 3px;}
.comic_channel .right{float:right; width:180px}
.comic_channel .right p{height:28px; width:174px; float:left; background:url(../../common/images/bg_line.png) repeat-x left bottom; line-height:28px; padding-right:6px; cursor:pointer}
.comic_channel .right p span{float:left; background:url(../images/index/cs_ico.png) no-repeat 3px -277px; padding-left:15px; color:#333}
.comic_channel .right p i{float:right; color:#999; font-family:"Arial"}
.comic_channel .right .open{background:url(../images/index/bg_channel_rt.png); padding:6px 5px; height:107px; width:170px; float:left; display:none}
.comic_channel .right .open img{display:block; width:79px; height:105px; border:1px solid #c0c0c0}
.comic_channel .right .open .fr{width:80px}
.comic_channel .right .open .fr a{display:block; color:#333; line-height:26px}
.comic_channel .right .open .fr a:hover{color:#6dad14; }
.comic_channel .right .open .fr span{background:url(../images/index/cs_ico.png) no-repeat right -267px #ff4849; height:16px; padding:0 16px 0 6px; font:italic 600 12px/16px "Arial"; color:#fff}
.comic_channel .right li{*display:inline-block;*zoom:1; *float:left}
.comic_channel .right li:after{content:"";display:block;height:0;clear:both;visibility:hidden}
ul{*display:inline-block;*zoom:1}
ul:after{content:"";display:block;height:0;clear:both;visibility:hidden}
/*少女*/
.shaonv h2.title{background-position:0 -170px}
.shaonv h2.title ul a:hover,.shaonv h2.title ul a.curr{background:url(../images/index/main_pic.png) no-repeat -75px -40px; color:#fff; text-decoration:none}
.shaonv h2.title .first a:hover,.shaonv h2.title .first a.curr{background-position:0 -40px}
.shaonv .right .open .fr span{background-color:#f1668b}
.shaonv .right p span{background-position:3px -297px}
/*耽美*/
.danmei h2.title{background-position:0 -220px}
.danmei h2.title ul a:hover,.danmei h2.title ul a.curr{background:url(../images/index/main_pic.png) no-repeat -75px -60px; color:#fff; text-decoration:none}
.danmei h2.title .first a:hover,.danmei h2.title .first a.curr{background-position:0 -60px}
.danmei .right .open .fr span{background-color:#7f6dde}
.danmei .right p span{background-position:3px -317px}
.danmei h2.title .more{background-position:0 -100px;width: 150px;}
/*四格绘本*/
.sige h2.title{background-position:0 -270px}
.sige h2.title ul a:hover,.sige h2.title ul a.curr{background:url(../images/index/main_pic.png) no-repeat -75px -80px; color:#fff; text-decoration:none}
.sige h2.title .first a:hover,.sige h2.title .first a.curr{background-position:0 -80px}
.sige .right .open .fr span{background-color:#4692d6}
.sige .right p span{background-position:3px -337px}
.sige h2.title .more{background-position:0 -120px; width:185px}
/*完结漫画*/
.endcomic,.publish{margin-top:-10px; height:273px; overflow:hidden}
.endcomic h2.title{background-position:0 -320px}
.endcomic .right .open .fr span{background:#8abf32; padding-right:6px}
.endcomic .right .open .fr span i{font-family:"宋体"; font-weight:normal}
.endcomic .right p span{background-position:3px -357px}
.endcomic h2.title .more,.publish h2.title .more,.zahui h2.title .more{background: none; width:50px; margin-top: 0; }
/*出版专题*/
.publish h2.title{background-position:0 -370px}
.publish .right .open img{width:177px; height:60px}
.publish .right p span{background-position:3px -377px}
.publish .right .open{width:179px; height:62px; padding:0}
/*杂烩*/
.zahui{width:960px; height:180px; overflow:hidden}
.zahui h2.title{background-position:0 -420px}
.zahui li{float:left; width:134px; margin-right:27px}
.zahui .bg_comic,.zahui .bg_comic:hover{background-position:-220px 0; width:126px; height:80px; padding:4px}
.zahui img{width:126px; height:80px; display:block}
.zahui ul{padding-left:7px; width:966px; height:160px}
/*.zahui{width:960px; height:337px; overflow:hidden}
.zahui h2.title{background-position:0 -420px}
.zahui h2.title .fr{position: relative;bottom: 10px;}
.zahui .left li{float:left; width:134px; height: 115px; margin-right: 20px;}
.zahui .bg_comic,.zahui .bg_comic:hover{background-position:-220px 0; width:126px; height:80px; padding:4px}
.zahui img{width:126px; height:80px; display:block}
.zahui ul{padding-left:7px; width:966px;}
.zahui .right{position: relative; height: 237px;}
.zahui .silderList{}
.zahui .silderList ul{width: 180px; height: 221px; padding-left: 0;}
.zahui .silderList ul li{width:180px ; height: 221px; position: absolute; left: 0; top: 0; z-index: 2; opacity: 0; filter:alpha(opacity:0);}
.zahui .silderList ul li.cur{z-index: 4;opacity: 1; filter:alpha(opacity:100);}
.zahui .silderList ul img{width: 176px; height: 219px; border: 1px solid #bebebe;}
.zahui .silderList ol{position: absolute; left: 0; bottom: 0; z-index: 5;}
.zahui .silderList ol li{width: 26px; height: 8px; overflow: hidden; background: #94949e; float: left; margin-right: 4px; cursor: pointer;}
.zahui .silderList ol li.last{margin-right: 0;}
.zahui .silderList ol li.cur{background: #f4614d;}*/
/*右侧*/
.side{width:220px; float:right}
.side img{display:block}
.side_border{border:1px solid #e2e2e2; border-top:none}
.side .side_top_ad{display:block; margin:0 auto 10px; width:220px; height:70px}
.side h2.title{background:url(../images/index/bg_side.png) no-repeat; width:218px; height:42px; margin-top:10px; text-align:center; font:18px/42px "Microsoft Yahei"; color:#fff;}

.tab_scroll div{position:absolute; left:0; top:0; width:109px; height:42px; z-index:2; cursor:pointer}
.tab_scroll a{color:#333; font-size:16px;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-o-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in; display:block; width:109px; height:42px}
.tab_scroll{position:relative}
.tab_scroll span{background:url(../images/index/bg_side.png) no-repeat 0 -45px; position:absolute; left:0; top:0; width:109px; height:42px}
.side_con3 li,.side_con4 li,.side_con5 li,.side_con6 li,.side_con7 li,.side_con8 li,.side_con8 .bot,.side_con9 li,.side_con10 li{background:url(../../common/images/bg_line.png) repeat-x left bottom; height:28px; line-height:28px; color:#999; width:200px; padding:0 5px; margin-left:4px; float:left; display:inline; overflow:hidden}
.side_con10 li a{color:#333; padding-left:5px}
.side li a:hover{color:#6dad14; text-decoration:none}
.side .more{float:right; font:10px/28px "Arial"; margin-right:8px; -webkit-transform:scale(0.81)}
/*作者福利*/
.side .side_con1{background:url(../images/index/bg_side.png) no-repeat 0 -530px; padding:52px 0 0 4px; height:88px}
.side .side_con1 a{float:left; width:60px; padding-top:55px; font:12px/28px "Microsoft Yahei"; color:#333; text-align:center; margin-right:16px; font-weight:lighter;}
.side .side_con1 a:hover{color: #6dad14;}
/*音乐盛典*/
.side .side_con2{border:1px solid #e2e2e2; border-radius:2px; background:#fffff5; padding:8px 0; height:216px; overflow:hidden; position:relative; margin-bottom:18px}
.side .side_con2 h3{font:20px/38px "Microsoft Yahei"; color:#f23939; border-bottom:1px solid #b29a9a; margin:0 auto; text-align:center; }
.side .linkTop{display: block; height: 130px;background:url(../images/index/line_dott_blue.png) repeat-x left bottom; margin: 0 5px;}
.side .linkTop img{width:110px; height:68px; margin:11px 0;}
.side .linkTop .fr{width: 90px;line-height:19px; padding-top:6px;}
.side .linkTop:hover{color:#6dad14; text-decoration: underline;}
.side .linkTop:hover span{text-decoration: underline;}
.side .linkTop:hover h3{text-decoration: none; color: #67a414;}
.side .side_con2 dl{padding:0 6px}
/*.side .side_con2 dt a.fl img{}*/
/*.side .side_con2 dt .fr{width:90px; line-height:19px; padding-top:6px}*/
.side .side_con2 dt,.side .side_con2 dd{background:url(../images/index/line_dott_blue.png) repeat-x left bottom}
.side .side_con2 a{color:#000}
.side .side_con2 dd a{height:28px; line-height:28px; background:url(../images/index/cs_ico.png) no-repeat 0 -437px; padding-left:12px; display:block}
.side .side_con2 a:hover{color: #6dad14;}
.side .side_con2 .more{position:absolute; bottom:10px; right:5px; color:#107cc8}
/*广告*/
.side_ad_box{display:block; border:1px solid #e2e2e2; width:218px; height:208px; overflow:hidden;}
.side_ad_box a{ width:100%; height:100%;}
.side_ad_100{ height:100px;}
.side_ad_70{height:70px; display:block}
/*con3*/
.side_con3 h2.title{height:82px; background-position:0 -670px}
.side_con3 ul,.side_con3 .bot{border:1px solid #e2e2e2; border-width:0 1px}
.side_con3 li{padding:0 2px; width:202px; margin-left:7px; white-space:nowrap}
.side_con3 .tx img{width:50px; height:50px; border:1px solid #cbcbcb; border-radius:2px}
.side_con3 .top{height:66px; padding-top:12px}
.side_con3 .top .fr{width:145px; color:#40b3e6}
.side_con3 .top .fr a{color:#666}
.side_con3 .top .fr a:hover{color: #6dad14;}
.side_con3 .top .user_info{border-bottom:1px solid #ebe6c9; height:26px; line-height:26px}
.side_con3 .top .user_info .ico_viplev{position: relative; top: -5px;}
.side_con3 .name{color:#333; font-weight:bold}
.side_con3 .top .fr .name{font-size:14px; color:#333}
.side_con3 .top .fr .name:hover{color: #6dad14;}
.side_con3 .top .fr p{height:26px; line-height:26px; overflow:hidden}
.side_con3 li a{color:#40b3e6}
.side_con3 .bot{height:40px; line-height:40px; padding:0 5px; color:#999}
/*商业榜*/
.side_con4 h2.title{background-position:0 -360px; position:relative;text-shadow:1px 1px 1px #005173}
.side_con4 h2 .time{position:absolute; width:38px; border:1px solid #039fe0; background:#fff; right:6px; top:13px; font:12px/18px "宋体"; text-shadow: none;}
.side_con4 h2 .time a,.side_con4 h2 .time span{display:block; height:18px}
.side_con4 h2 .time span{color:#039fe0; padding-right:8px; position:relative; cursor:pointer}
.side_con4 h2 .time span em{position:absolute;z-index:10;right:2px;top:8px;border-color:#039fe0 transparent transparent;border-style:solid dashed dashed;border-width:3px 3px 0;font-size:0;height:0;width:0;line-height:0;}
.side_con4 h2 .time:hover em{-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); -webkit-transition: all .25s ease 0s; -moz-transition: all .25s ease 0s; -o-transition: all .25s ease 0s; transition: all .25s ease 0s;}
.side_con4 h2 .time a:hover{text-decoration:none; background:#cef0ff}
.side_con4 .top{height:80px; padding-top:10px}
.side_con4 .top .fl img{width:75px; height:75px; border-radius:2px}
.side_con4 .top .fr{width:98px; color:#666; margin-right:5px; line-height:18px; _margin-right:0px; padding-top: 5px;}
.side_con4 .comic_name{color:#333}
.side_con4 .top a:hover,.side_con3 .top .fr a:hover{text-decoration:underline}
.side_con4 li{position:relative; white-space:nowrap; text-overflow:ellipsis; width:190px; padding-right:15px; *width:185px; *padding-right:20px}
.side_con4 q{position:absolute; font:16px "Leelawadee"; color:#d9d9d9; bottom:5px; right:4px; *right:-2px; font-style:italic}
.side_con4 .top q{font-size:30px; color:#cbcbcb}
.side_con4 .bot{height:40px; line-height:40px; color:#999; padding:0 0 0 10px}
.side_con4 .bot .more{line-height:40px}
/*签约作品*/
.side_con5{position: relative; padding-bottom: 16px;}
.side_con5 h2.title{background-position:0 -225px;text-shadow:1px 1px 1px #586b0e}
.side_con5 ul{display: none;}
.side_con5 ul.cur{display: block;}
.side_con5 ul li a{float:left; width:100px; color:#333;overflow:hidden; _margin-top:7px}
.side_con5 ol{position: absolute; left:10px; bottom: 3px;}
.side_con5 ol li{width:8px; height: 8px; overflow: hidden; background: #bcbcbc; margin-right: 5px; padding: 0px; cursor: pointer;}
.side_con5 ol li.cur{background: #9cd12c;}
.side_con5 .more_box{position:absolute; right:5px; bottom:-4px; _bottom:-5px; width:85px; height:18px; text-align: right;}
.side_con5 .more_box a.a1{font: 10px/28px "Arial"; -webkit-transform: scale(0.81); display: inline-block;}
/*有妖气动画*/
.side_con6 h2.title{background-position:0 -270px; margin-bottom:10px;text-shadow:1px 1px 1px #721212}
.side_con6 img{display:block; width:88px; height:60px; border:1px solid #c1c1c1}
.side_con6 li{height:80px; padding-top:7px}
.side_con6 .fr{width:100px; color:#666; line-height:20px}
.side_con6 .fr a{color:#333}
.side_con6 .fr .btn{display:block; height:22px; padding:0 10px; background:#dca336; color:#fff; font-size:14px; float:left; margin-top:5px}
.side_con6 .fr .btn2{background:#4fc2e8}

.banner_tonglan{height: 90px; background: #fff; width: 1200px; margin: 10px auto; overflow: hidden;}
.banner_left{height: 90px; margin-bottom: 20px; overflow: hidden;}
/*电影计划*/
.side_con7 h2{margin:14px 0 3px 0; background:url(../../common/images/bg_line.png) repeat-x left 20px}
.side_con7 h2 strong{display:block; width:89px; height:21px; text-align:center; color:#fff; font:14px/21px "Microsoft Yahei"; background:#ea5a5a;-webkit-box-shadow:2px 1px #cbcbcb;box-shadow:2px 1px #cbcbcb}
.side_con7 span,.side_con7 i{display:inline-block; width:60px; overflow:hidden; color:#666; float:left}
.side_con7 i{color:#76990b}
.side_con7 li a{display:inline-block; width:72px; color:#333; float:left}
.side_con7 .come{background:url(../images/index/bg_side.png) no-repeat 0 -405px; display:block; width:205px; height:53px; margin:0 auto}
/*品牌馆*/
.side_con8 h2.title{background-position:0 -315px;text-shadow:1px 1px 1px #586b0e}
.side_con4 .tab_rank,.side_con8 .tab,.side_con10 .tab{padding:5px 0 0 1px; height:30px}
.side_con4 .tab_rank a,.side_con8 .tab a,.side_con10 .tab a{float:left; width:50px; height:20px; line-height:20px; text-align:center; background:#bebebe; color:#fff; margin:0 2px}
.side_con4 .tab_rank a.curr,.side_con8 .tab a.curr,.side_con10 .tab a.curr{text-decoration:none; background:#9cc421; height:25px; background:url(../images/index/bg_side.png) no-repeat 0 -505px}
.side_con8 li p{height:28px}
.side_con8 li p a{color:#333}
.side_con8 li .bg_comic{background:url(../images/index/bg_cover.png) no-repeat -355px 0; width:81px; height:107px; padding:4px; float:left}
.side_con8 li .bg_comic img{display:block; width:79px; height:105px; border:1px solid #bfbfbf}
.side_con8 .open{display:none; height:122px; padding-top:5px}
.side_con8 .open .fr{width:105px; color:#666; line-height:22px}
.side_con8 .open .fr span{display: block; height: 74px; overflow: hidden;}
.side_con8 .open .comic_name{display:block; font-size:14px; color:#333}
.side_con8 .open .section_title{display: block;font-size:13px; color:#333}
.side_con8 .open .comic_name:hover,.side_con8 .open .section_title:hover{color:#6dad14;}
.side_con8 li{height:auto}
.side_con8 ul{display:none}
.side_con8 .bot{height:46px; padding-top:12px}
.side_con8 .bot a{float:left; width:90px; height:35px; border:1px solid #cdcdcd}
.side_con8 .bot img{display:block; width:90px; height:35px}
/*熊出没*/
.side_con9 h2.title{background-position:0 -760px; padding-top:8px; text-shadow:1px 1px 1px #6b420e}
.side_con9 img{border:1px solid #bebebe}
.side_con9 li{height:auto;min-height:90px;_height:90px; padding:10px 5px; line-height:20px; position:relative}
.side_con9 li .name{float:left; margin-left:8px; width:90px}
.side_con9 li i{background:url(../images/index/bg_side.png) no-repeat 0 -460px; width:46px; height:45px; position:absolute; right:0; bottom:10px}
.side_con9 li i.second{background-position:-50px -460px}
.side_con9 li i.third{background-position:-100px -460px}
.side_con9 p span,.side_con10 p span{line-height:28px; color:#999; padding-left:5px; float:left}
/*轻小说*/
.side_con10 h2.title{background-position:0 -360px}
.side_con4 .tab_rank a,.side_con10 .tab a{width:105px; margin:0 0 0 1px}
.side_con4 .tab_rank a.curr,.side_con10 .tab a.curr{background-position:-50px -505px}
.side_con4 .conBox{display: none;}
/*最新作品  新作周榜*/
.side_con11{margin-top: 20px;}
.side_con11 .tabTitle{position: relative;font-family: "microsoft yahei";line-height: 40px;font-size: 16px; border-top: 2px solid #535352;}
.side_con11 .tabTitle a{width: 109px; height: 40px; background: url(../images/index/bg_side.png) no-repeat 0 0; display: inline-block;  text-align: center;  color: #333;  float:left;}
.side_con11 .tabTitle span{display: inline-block; width: 109px; height: 40px; background: url(../images/index/bg_side.png) no-repeat 0 -812px; position: absolute; left: 0; top: 0; text-align: center; color: #fff; }
.side_con11 .tabTitle a:hover{text-decoration: none;}
.side_con11 .conBox{display: none; height: 429px; *height: 450px;}
.side_con11 li{padding: 5px; height: 24px; width: 200px; margin-left: 4px; background: url(../../common/images/bg_line.png) repeat-x left bottom;}
.side_con11 li.no1{height: 113px;}
.side_con11 li a{float: left; color: #333; font-size: 13px;}
.side_con11 li span{float: right;}
.side_con11 li i.num{width: 12px; height: 12px; overflow: hidden; text-align: center; background: #b8b8b8; border: 1px solid #939393; display: inline-block; float: left; margin-right: 5px; position: relative; top: 3px;}
.side_con11 li i b{display:inline-block;width: 10px; height: 10px; overflow: hidden; background: url(../images/index/num.png) no-repeat; position: absolute; left:2px; top: 3px;}
.side_con11 li i.bgor{background: #ff7200; border: 1px solid #c94200;}
.side_con11 li i .b2{background-position: -6px -3px;}
.side_con11 li i .b3{background-position: -6px -13px;}
.side_con11 li i .b4{background-position: -6px -23px;}
.side_con11 li i .b5{background-position: -6px -34px;}
.side_con11 li i .b6{background-position: -6px -45px;}
.side_con11 li i .b7{background-position: -6px -55px;}
.side_con11 li i .b8{background-position: -6px -66px;}
.side_con11 li i .b9{background-position: -6px -77px;}
.side_con11 li i .b10{background-position: -7px -88px; left: 1px;}
.side_con11 .no1 .imgBox{display: inline-block; width: 81px; height: 107px; padding: 2px; background: #fff; border:1px solid#eaeaea; box-shadow: 0 0 2px #f5f5f5; position: relative;}
.side_con11 .no1 .imgBox i{display: block; width: 45px; height: 25px; background: url(../images/index/main_pic.png) no-repeat 0 -295px; position: absolute; top: 0; left: -3px;}
.side_con11 .no1 .imgBox img{width: 79px; height: 105px; border: 1px solid #bfbfbf;}
.side_con11 .fr{width: 105px;}
.side_con11 .fr h3{font-size: 14px; color: #333; height: 30px; line-height: 30px;}
.side_con11 .fr p{font-size: 13px; color: #666; line-height: 24px;}
/*排行榜*/
#week_rank{background:url(../images/index/bg_rank.png) no-repeat; width:1200px; margin:10px auto 0}
#week_rank .top_link{display:block; width:236px; height:48px}
#week_rank .rank_box{width:236px; margin-right:5px; _margin-right:4px; float:left}
#week_rank ul{width:210px; padding:10px 10px 12px; border:1px solid #ddd}
#week_rank li{background:url(../../common/images/bg_line.png) repeat-x left bottom; height:28px; line-height:28px}
#week_rank .this_week ul{padding:4px 6px 0;width: 218px;}
#week_rank .this_week ul:hover{border:1px solid #72940b;}
#week_rank .this_week li{height:24px; line-height:24px; padding:5px 0 6px}
#week_rank i{background:url(../../common/images/cs_ico.png) no-repeat 0 -225px; float:left; vertical-align:middle; width:18px; padding-right:3px; height:17px; margin:5px 10px 0 7px; font:italic 12px/17px "Arial"; color:#ff4849; text-align:center}
#week_rank .this_week i{margin-top:3px; color: #6dad15;}
#week_rank .tx img{display:block; width:20px; height:20px; border:1px solid #cbcbcb}
#week_rank .tx{float:left; margin-right:5px}
#week_rank .name{float:left}
#week_rank em{float:right; color:#666; font-family:"Arial"}
#week_rank .q{height:30px; line-height:30px; padding:5px 0}
#week_rank .q i{background:url(../images/index/main_pic.png) no-repeat -120px -145px; width:25px; height:30px; float:left; padding:0; margin-top:0}
#week_rank .second i{background-position:-145px -145px}
#week_rank .third i{background-position:-170px -145px}
#week_rank .q .name{font-size:14px; color:#72940b}
#week_rank .first .name{font-weight:bold}
#week_rank .this_week .q{height:42px; line-height:42px}
#week_rank .this_week .q i{width:40px; height:35px; background-position:-40px -145px; margin-top:5px; margin-right: 2px; margin-left: 0;}
#week_rank .this_week .q .tx img{width:40px; height:40px}
#week_rank .this_week .first .name{color:#72940b}
#week_rank .this_week .last{background:none; text-align:right; color:#999; position: relative;}
#week_rank .this_week .last a{display: inline-block; position: absolute; left: 0;color: #bb8522; top:5px}
#week_rank .shaonian_rank .q .name{color:#e53435}
#week_rank .shaonian_rank ul:hover{border:1px solid #e53435;}
#week_rank .shaonian_rank .first .name{color:#e53435}
#week_rank .this_week .first i{background-position:0 -145px}
#week_rank .this_week .third i{background-position:-80px -145px}
#week_rank .sige_rank .q .name{color:#358ed3}
#week_rank .sige_rank .first .name{color:#358ed3}
#week_rank .sige_rank i{color:#429ce2}
#week_rank .sige_rank ul:hover{border:1px solid #3186c8;}
#week_rank .shaonv_rank .q .name{color:#fa4f7c}
#week_rank .shaonv_rank .first .name.#week_rank .shaonv_rank i{color:#fa4f7c}
#week_rank .shaonv_rank ul:hover{border: 1px solid #d8305c;}
#week_rank .danmei_rank{margin-right:0}
#week_rank .danmei_rank .q .name{color:#9578f4}
#week_rank .danmei_rank ul:hover{border: 1px solid #4e2cba;}
#week_rank .danmei_rank .first .name,#week_rank .danmei_rank i{color:#9578f4}
/*首页底部*/
#i_footer{height:598px;padding-top:30px;position:relative; margin-top:5px}
#i_footer .flash{background:url(../images/index/i_footer.jpg) no-repeat;position:absolute;top:0;left:-20px;height:628px;width:466px;z-index:1}
#i_footer #v3footer{padding-top:15px;position:relative;z-index:100}
#i_footer #v3footer{cursor:move}
#i_footer .block{float:right;height:393px;width:540px;float:right}
#i_footer .win8{width:301px;height:378px;float:left;overflow:hidden}
#i_footer .win8 a{background:url(../images/index/bg_win8.png) no-repeat;display:block;width:150px;height:86px;float:left; -webkit-transition: all .25s ease 0s; -moz-transition: all .25s ease 0s; -o-transition: all .25s ease 0s; transition: all .25s ease 0s;}
#i_footer .win8 a:hover{opacity:0.8; filter:alpha(opacity=80)}
#i_footer .win8 a.r{width:143px;float:right}
#i_footer .win8 a.no1{width:300px;height:96px}
#i_footer .win8 a.no2{background-position:0 -104px}
#i_footer .win8 a.no3{background-position:-158px -104px}
#i_footer .win8 a.no4{background-position:0 -198px}
#i_footer .win8 a.no5{background-position:-158px -198px}
#i_footer .win8 a.no6{background-position:0 -292px}
#i_footer .win8 a.no7{ width: 300px; height: 85px; background: url(../images/index/bg_win8_service.jpg);}
#i_footer .win8 .sp{height:8px;overflow:hidden;clear:both}
#i_footer .sidebar{width:220px; float:right}
/*手机系统切换*/
#phone_os{text-align:center;border:1px solid #d3d3d3;background:#fff}
#phone_os .tab{height:49px}
#phone_os .tab a{font:16px/41px "verdana";color:#9c9c9c;display:block;float:left;height:49px;width:108px}
#phone_os .tab a.curr{color:#fff; text-decoration:none}
#phone_os .container{height:327px;overflow:hidden;clear:both}
#phone_os .container a{font-weight:bold;display:block}
#phone_os .container img{vertical-align:top}
#phone_os .tab_scroll div{height:49px}
#phone_os .tab_scroll span{background:url(../images/index/main_pic.png) no-repeat 0 -180px; height:49px}

.lazyload{}

#v4footer {top:408px;position:absolute;z-index: 100;cursor:move;}

/*宽1000*/
.v4_w1000 .main{width:760px; overflow: hidden;}
.v4_w1000 .main .recommend {width: 756px;height: 405px;}
.v4_w1000 .main .recommend .bot{padding: 0 12px 0 5px;}
.v4_w1000 .main .recommend .bot .fl q{margin: 0 4px;}
.v4_w1000 .main .recommend .bot .fl a{padding-left: 17px;}
.v4_w1000 .comic_channel .right{display: none;}
.v4_w1000 .main h2.title{background: url(../images/index/main_tit_1000.png) no-repeat; padding-right: 0;}
.v4_w1000 .main .a_level h2.title {background-position: 0 -60px;}
.v4_w1000 .main .subscribe h2.title {background-position: 0 -470px;}
.v4_w1000 .main .qiangtui h2.title{background-position: 0 -534px;}
.v4_w1000 .shaonian h2.title {background-position: 0 -120px;}
.v4_w1000 .shaonv h2.title {background-position: 0 -170px;}
.v4_w1000 .danmei h2.title {background-position: 0 -220px;}
.v4_w1000 .sige h2.title {background-position: 0 -270px;}
.v4_w1000 .endcomic h2.title {background-position: 0 -320px;}
.v4_w1000 .publish h2.title {background-position: 0 -370px;}
.v4_w1000 .zahui h2.title {background-position: 0 -420px;}
.v4_w1000 .main h2.title .more{width:150px}
.v4_w1000 .main .scroll_wrap h2.title .more{width:49px}
.v4_w1000 .main .scroll_wrap_qiangtui h2.title .more{width:49px}
.v4_w1000 .main .sige h2.title .more{width: 174px;}
.v4_w1000 .main .publish h2.title .more,.v4_w1000 .main .endcomic h2.title .more{width: 49px;}
.v4_w1000 .main .scroll_wrap .content {width: 742px;}
.v4_w1000 .main .scroll_wrap .scroll_comic{width: 742px;}
.v4_w1000 .main .scroll_wrap li{margin-right: 9px;}

.v4_w1000 .main .scroll_wrap_qiangtui .content {width: 742px;}
.v4_w1000 .main .scroll_wrap_qiangtui .scroll_comic{width: 742px;}
.v4_w1000 .main .scroll_wrap_qiangtui li{margin-right: 9px;}

.v4_w1000 .main .qiangtui li{margin-right: 28px;}
.v4_w1000 .zt_wrap{width:740px;padding: 22px 0 0 28px;}
.v4_w1000 .zt_wrap ul{height: 70px; overflow: hidden; padding-top: 7px; margin-top: -7px;}
.v4_w1000 .zt_wrap li{margin-right: 36px;}
.v4_w1000 .zahui li{margin-right: 20px;}
.v4_w1000 .banner_tonglan{width:990px}
.v4_w1000 #week_rank{width:990px;background: url(../images/index/bg_rank_1000.png) no-repeat;  }
.v4_w1000 #week_rank .rank_box{margin-right: 15px;}
.v4_w1000 #week_rank .danmei_rank{margin-right: 0;}
.main .recommend .curr_con .fl{width: 658px;}
.v4_w1000 .main .recommend .curr_con .fl{width:456px ; _width:458px; overflow:hidden;}
.main .recommend .curr_con .fl .img1,.main .recommend .curr_con .fl .img1 img{width: 402px; height: 198px;}
.v4_w1000 .main .recommend .curr_con .fl .img1,.v4_w1000 .main .recommend .curr_con .fl .img1 img{width: 438px; height: 198px;}
.main .recommend .curr_con .fl .img1{margin:0 4px 4px 0;}
.main .recommend .curr_con .fl .img2,.main .recommend .curr_con .fl .img2 img{width: 252px; height: 198px;}
.main .recommend .curr_con .fl .img2{margin:0 0 4px 0;}
.main .recommend .curr_con .fl .img3,.main .recommend .curr_con .fl .img3 img{width: 200px; height: 168px;}
.v4_w1000 .main .recommend .curr_con .fl .img3,.v4_w1000 .main .recommend .curr_con .fl .img3 img{width: 218px; height: 168px;}
.main .recommend .curr_con .fl .img4,.main .recommend .curr_con .fl .img4 img{width: 198px; height: 168px;}
.v4_w1000 .main .recommend .curr_con .fl .img4,.v4_w1000 .main .recommend .curr_con .fl .img4 img{width: 216px; height: 168px;}
.main .recommend .curr_con .fl .img4{margin:0 4px;}
.main .recommend .curr_con .fl .img5,.main .recommend .curr_con .fl .img5 img{width: 252px; height: 168px;}
.main .recommend .curr_con .img6,.main .recommend .curr_con .img6 img{width: 290px; height: 370px;}
.v4_w1000 .main .recommend .curr_con .img6,.v4_w1000 .main .recommend .curr_con .img6 img{width: 310px; height: 370px;}
.v4_w1000 .main .recommend .curr_con .fl .img2{display: none;}
.v4_w1000 .main .recommend .curr_con .fl .img5{display: none;}
.v4_w1000 .banner_left img{margin-left: -100px;}
.v4_w1000 .banner_tonglan img{margin-left: -105px;}
.v4_w1000 #week_rank .this_week{display: none;}
.v4_w1000 .comic_channel .fr strong{display: none;}


/*图片展示*/
.main .recommend .auto_content{position:absolute; left:3px; top:1px; opacity:0; filter:alpha(opacity=0)}
.main .recommend .curr_con{opacity:1; filter:alpha(opacity=100); z-index:5}
.main .recommend .anime_box{position:relative; float:left; overflow:hidden;border:3px solid #fff;}

.main .recommend .anime_box i{position:absolute; left:0; bottom:0; height:29px; font:18px/28px "Microsoft Yahei"; background:#000; color:#fff; padding:0 20px; opacity:0.8; filter:Alpha(opacity=80)}
.main .recommend .anime_box img{position:absolute; left:0; top:0; display:block}

.anime_box.ab1{ width:400px; height: 198px;}
.anime_box.ab2{ width: 246px; height: 198px;}
.anime_box.ab3{ width: 197px; height: 162px;}
.anime_box.ab4{ width: 197px; height: 162px;}
.anime_box.ab5{ width: 246px; height: 164px;}
.anime_box.ab6{ width: 288px; height: 368px;}

.anime_box a{ display:block;}

.anime_box img{ width:100%; height:100%;}
.v4_w1000 .anime_box.ab1{ width:450px; height: 202px;  }
.v4_w1000 .anime_box.ab2{ display:none;}
.v4_w1000 .anime_box.ab3{ width: 222px; _width:222px; height: 162px;}
.v4_w1000 .anime_box.ab4{ display:none;}
.v4_w1000 .anime_box.ab5{ width: 222px; _width:221px; height: 162px;}
.v4_w1000 .anime_box.ab6{ width: 292px; _width:288px; height: 370px;}

/* 图片翻页图标 */
.quickFlipCta{ position:absolute; z-index:2; bottom:0; right:0; width:30px; height:30px; background:url(../../common/images/ab_next.png) center center no-repeat; display:none; cursor:pointer;}
.an_hide{ display:none;}
/*--专题--*/
.v4_w1000 .zt_last{ display:none;}
.zt_wrap{ position:relative;}
.zt_book{ position:absolute; right:0; top:0; width:18px; height:18px; overflow:hidden; z-index:2;}
.zt_book img{ position:absolute; right:0; top:0;}
.zt_book .zt_book_bg{ width:57px; height:57px; z-index:1;}
.zt_book .zt_book_add{ width:9px; height:9px; right:2px; top:2px; z-index:2;}
.zt_book .zt_book_wrapper{ width:18px; height:18px; z-index:3;}