@charset "utf-8";
/* CSS Document */

/* Flash Banner */
.flash{
	position:relative;
	overflow:hidden;
}
.flash .mainpart{position:relative;}
.flash .fixedbox{
	position:absolute;
	z-index:1;
	top:20%;
	right:0;
	left:0;
	text-align:center;
}
.flash .fixedbox h1{padding:10px; font-size:30px;}
.flash .fixedbox h2{padding:10px; font-size:20px;}
/* End */

/* 幻灯片 */
.slides{
	position:relative;
	height:400px;
	overflow:hidden;
	position:relative;
}
.picbox{padding:20px 0; overflow:hidden;}
.picbox h1{
	padding:10% 10px 0 10px;
	font-size:30px;
	text-align:center;
}
.picbox p{
    font-size: 18px;
    line-height: 2em;
    text-align: center;
}
.picbox h1 a{text-decoration:none;}
.picbox li{	
	display:none;
	height:400px;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.picbox li.current{display:block;}
.picbox li.fbgrw{background-image:url(../images/banner/flash/flash-bg-task.jpg);}
.picbox li.fbg1{background-image:url(../images/banner/flash/flash-bg-01.jpg);}
.picbox li.fbg2{background-image:url(../images/banner/flash/flash-bg-02.jpg);}
.picbox li.fbg3{background-image:url(../images/banner/flash/flash-bg-03.jpg);}
.picbox li.fbg4{background-image:url(../images/banner/flash/flash-bg-04.jpg);}
.picbox li.fbg5{background-image:url(../images/banner/flash/flash-bg-05.jpg);}
.picbox li.fbgky{background-image:url(../images/banner/flash/flash-bg-ky.jpg);}
/* 特殊活动添加 */
.picbox li.fbg429{background-image:url(../images/banner/flash/flash-bg-429.jpg);}
.picbox li.fbg429 h1{font-size:40px; color:#999}



.switch{
	display:block;
	position:absolute;
	left:50%;
	bottom:10px;
	margin-left: -56px;
}
.switch li{
	float:left;
	width:16px;
	height:16px;
	filter:alpha(opacity=100);
	opacity:1;
	/*overflow:hidden;*/
	background:#ccc;
	border-radius: 50%;
	margin-right: 10px;
}
.switch li.current{background-color: #00a1e9;}
.switch a{
	/*display:block;*/
	/*width:200px;
	height:10px;*/
}
.switch a:hover{text-decoration:none;}
.switch li.current a{background:red;}