@charset "UTF-8";
/* =========================================================
 * @class Gig5
 * @charset "UTF-8";
** ====================================================== */

/* =========================================================
 * @class Gig5: Import
** ====================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(./lib/normalize.css);

/* =========================================================
 * @class Gig5: Define
** ====================================================== */
@font-face {
	font-family: FujitsuSans;
	src: url("//www.fujitsu.com/incv4/common/fonts/FujitsuSansRegular.eot");
	src: url("//www.fujitsu.com/incv4/common/fonts/FujitsuSansRegular.eot") format("embedded-opentype"), url("//www.fujitsu.com/incv4/common/fonts/FujitsuSansRegular.woff") format("woff"), url("//www.fujitsu.com/incv4/common/fonts/FujitsuSansRegular.ttf") format("truetype");
}
@font-face {
	font-family: FujitsuSansBold;
	src: url("//www.fujitsu.com/incv4/common/fonts/FujitsuSansMedium.eot");
	src: url("//www.fujitsu.com/incv4/common/fonts/FujitsuSansMedium.eot") format("embedded-opentype"), url("//www.fujitsu.com/incv4/common/fonts/FujitsuSansMedium.woff") format("woff"), url("//www.fujitsu.com/incv4/common/fonts/FujitsuSansMedium.ttf") format("truetype");
}


html {
	font-size: .625em;
}
body {
	font-family: "Roboto", Arial, Verdana, "Lucida Grande", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", sans-serif;
	font-size: 1.3rem;
	line-height: 1.5;
	word-break: break-word;
	color: #444;
	background: #fff;
	position: relative;
	min-width: 320px;
}

/*
 * @class Gig5: Define: Elements: *
** ------------------------------------------------------ */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*
 * @class Gig5: Define: Elements: Block
** ------------------------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
	margin: 0;
}
p {
	margin: 0;
}
ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
dl,
dt,
dd {
	margin: 0;
	padding: 0;
}
table {
	width: 100%;
}
th,
td {
	text-align: left;
	vertical-align: middle;
}
iframe {
	background: #fff;
	border: 0;
}

/*
 * @class Gig5: Define: Elements: Inline
** ------------------------------------------------------ */
a {
	text-decoration: none;
	color: #444;
}
a:link {
	color: #039;
}
a:visited {
	color: #609;
}
a:hover,
a:focus {
	text-decoration: underline;
}
a:active {
	color: #c30;
}
small {
	font-size: 1.2rem;
}
b {
	font-weight: bold;
}
i {
	font-style: italic;
}
em {
	font-style: italic;
}
strong {
	font-weight: normal;
}
img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

/*
 * @class Gig5: Define: Elements: Form
** ------------------------------------------------------ */
form {
	margin: 0;
	padding: 0;
}
input,
select,
textarea {
	font-family: "Roboto", Arial, Verdana, "Lucida Grande", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", sans-serif;
	word-break: break-all;
}
input[type="reset"],
input[type="image"],
input[type="submit"],
input[type="button"],
button {
	cursor: pointer;
}

/*
 * @class Gig5: Define: Shared
** ------------------------------------------------------ */
.clearfix:after {
	display: block;
	clear: both;
	content: "";
}


/* =========================================================
 * @class Gig5: Structure
** ====================================================== */
/*
 * @class Gig5: Structure: Container
** ------------------------------------------------------ */
#container {
	overflow: hidden;
}

/*
 * @class Gig5: Structure: Blockskip
** ------------------------------------------------------ */
#blockskip {
	overflow: hidden;
}
#blockskip a {
	text-align: center;
	color: #fff;
	background: #666;
	display: block;
	overflow: hidden;
	height: 0;
	padding: 0 8px;
}
#blockskip a:focus {
	height: auto;
}

/*
 * @class Gig5: Structure: Cookie Allowance
** ------------------------------------------------------ */
#cookie-allowance {
	font-size: 1.3rem;
	color: #fff;
	background: #666;
	position: relative;
	display: none;
	-webkit-flex-direction: row-reverse;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	max-width: 1296px;
	margin: 0 auto;
	padding: 8px;
}
#cookie-allowance:before {
	background: #666;
	position: absolute;
	top: 0;
	left: -100%;
	width: 300%;
	height: 100%;
	content: "";
}
#cookie-allowance a {
	color: #fff;
}
#cookie-allowance a:hover {
	text-decoration: none;
}
#cookie-allowance #cookie-container-button {
	text-align: right;
	position: relative;
	z-index: 1;
	min-width: 132px;
}
#cookie-allowance #cookie-container-button .cookie-button-accept {
	background: #ae1515;
	position: relative;
	padding: 2px 6px 3px;
}
#cookie-allowance #cookie-container-button .cookie-button-more-info {
	position: relative;
	padding: 0 14px 0 8px;
}
#cookie-allowance #cookie-container-button .cookie-button-more-info:before,
#cookie-allowance #cookie-container-button .cookie-button-more-info:after {
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	width: 5px;
	height: 5px;
	margin: -2px 0 0;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border: 2px solid #fff;
	border-bottom: 0;
	border-left: 0;
}
#cookie-allowance #cookie-container-button .cookie-button-more-info:after {
	right: 4px;
}
#cookie-allowance #cookie-allowance-inside {
	text-align: center;
	color: #fff;
	position: relative;
	z-index: 1;
	-ms-flex: 1 1 auto;
	-webkit-box-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
}
#cookie-allowance #cookie-allowance-inside p {
	display: inline-block;
	margin: 0 16px;
}

[data-script-enabled="true"] #cookie-allowance {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

/* ---------------------------------------------------------
 * @class Gig5: Header: Root
** ------------------------------------------------------ */
#header {
	margin: 0 auto;
	padding: 16px 8px;
	max-width: 1296px;
}


/*
 * @class Gig5: Header: Layout
** ------------------------------------------------------ */
#header {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
#header #corporatesymbol {
	-ms-flex: 1 1 auto;
	-webkit-box-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-webkit-order: 1;
	order: 1;
}
#header #headnavi {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 2;
	-webkit-order: 2;
	order: 2;
}
#header #headsearch {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 3;
	-webkit-order: 3;
	order: 3;
}
#header #globalnavigation {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 4;
	-webkit-order: 4;
	order: 4;
}
#header .navigation-btn-group {
	display: none;
}
#header #headnavi {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}

@media screen and (max-width: 768px) {
	#header .navigation-btn-group {
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 3;
		-webkit-order: 3;
		order: 3;
	}
	#header #headsearch {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 4;
		-webkit-order: 4;
		order: 4;
	}
	[data-script-enabled="true"] #header #headsearch {
		display: none;
	}
	#header #headsearch.is-open {
		display: block;
	}
	[data-script-enabled="true"] #header #globalnavigation {
		display: none;
	}
	#header #globalnavigation {
		position: static;
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 5;
		-webkit-order: 5;
		order: 5;
	}
}
@media screen and (max-width: 480px) {
	[data-script-enabled="true"] #header #headnavi {
		display: none;
	}
	#header #headnavi.is-open {
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
	}
	#header #globalnavigation.is-open + #headnavi {
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
	}
	#header .navigation-btn-group {
		-webkit-box-align: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}
	#header #headsearch {
		-ms-flex-grow: 1;
		-webkit-box-grow: 1;
		-webkit-flex-grow: 1;
		flex-grow: 1;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 3;
		-webkit-order: 3;
		order: 3;
	}
	#header #headnavi {
		-ms-flex-direction: row;
		-webkit-box-direction: row;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 4;
		-webkit-order: 4;
		order: 4;
	}
	#header #globalnavigation {
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 5;
		-webkit-order: 5;
		order: 5;
	}
	#header #globalnavigation.is-open + * + #headsearch {
		display: block;
	}
}


/* ---------------------------------------------------------
 * @class Gig5: Header: Corporatesymbol
** ------------------------------------------------------ */
#header #corporatesymbol {
	margin: 0;
}

/*
 * @class Gig5: Header: .navigation-btn-group
** ------------------------------------------------------ */
#header .navigation-btn-group {
	padding: 0 8px 0 0;
}
#header .navigation-btn-group .country-clone {
	font-size: 1.2rem;
	margin: 0 8px 0 0;
}
#header .navigation-btn-group a {
	display: block;
	-ms-flex: 1 1 auto;
	-webkit-box-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 64px;
	min-height: 60px;
	margin: 0 0 0 8px;
	padding: 8px;
	border: 1px solid transparent;
	text-align: center;
}
#header .navigation-btn-group a img {
	width: 22px;
}
#header .navigation-btn-group a span {
	display: block;
	font-size: 1.2rem;
	line-height: 1.2;
	margin: 4px 0 0 0;
}
#header .navigation-btn-group button:first-child {
	margin: 0;
}
#header .navigation-btn-group a.is-active {
	background: #f7f7f7;
	border: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
	#header .navigation-btn-group {
		margin: 0 0 8px auto;
	}
}

/*
 * @class Gig5: Header: #globalnavigation
** ------------------------------------------------------ */
#header #globalnavigation {
	font-size: 1.4rem;
	width: 100%;
	margin: 16px auto 0 0;
}
#header #globalnavigation > ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	padding: 0 8px;
}
#header #globalnavigation > ul > .glbnavlist {
	text-align: center;
	border-right: 1px solid #ccc;
}
#header #globalnavigation > ul > .glbnavlist:first-child {
	border-left: 1px solid #ccc;
}
#header #globalnavigation > ul > .glbnavlist > a {
	color: #555;
	position: relative;
	display: block;
	padding: 8px 16px;
}
#header #globalnavigation > ul > .glbnavlist > a:before {
	position: absolute;
	top: 50%;
	right: 8px;
	display: none;
	width: 6px;
	height: 6px;
	margin: -.286em 0 0;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border: 2px solid #666;
	border-top: 0;
	border-left: 0;
}
#header #globalnavigation > ul > .glbnavlist > a span {
	position: relative;
	display: inline-block;
	padding: 0 16px 0 0;
}
#header #globalnavigation > ul > .glbnavlist > a span:before {
	position: absolute;
	top: 50%;
	right: 0;
	display: none;
	width: 6px;
	height: 6px;
	margin: -.286em 0 0;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border: 2px solid #666;
	border-top: 0;
	border-left: 0;
}
[data-script-enabled="true"] #header #globalnavigation > ul > .glbnavlist > a span:before {
	display: block;
}
#header #globalnavigation .hidemenu {
	text-align: left;
	background: #fff;
	position: absolute;
	z-index: 1000;
	left: 0;
	display: none;
	width: 100%;
}
#header #globalnavigation .hidemenu:before {
	background: #fff;
	position: absolute;
	left: -100%;
	display: block;
	width: 300%;
	height: 100%;
	content: "";
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#header #globalnavigation .hidemenu_mousearea {
	padding: 48px 8px;
}
#header #globalnavigation .hidemenubg {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
#header #globalnavigation .megaclosebtn {
	background: #f00;
	position: absolute;
	top: -39px;
	right: 0;
	width: 35px;
	height: 42px;
	cursor: pointer;
	border: 0;
}
#header #globalnavigation .megaclosebtn:active,
#header #globalnavigation .megaclosebtn:hover {
	background: #d00;
}
#header #globalnavigation .megaclosebtn:before,
#header #globalnavigation .megaclosebtn:after {
	background: #fff;
	position: absolute;
	top: 20px;
	left: 8px;
	display: block;
	width: 20px;
	height: 4px;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
#header #globalnavigation .megaclosebtn:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#header #globalnavigation .megaclosebtn span {
	display: block;
	overflow: hidden;
	height: 0;
}
#header #globalnavigation .hidemenubg .grid3span,
#header #globalnavigation .hidemenubg .grid4span,
#header #globalnavigation .hidemenubg .grid5span {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
}
#header #globalnavigation .hidemenubg .col1span {
	width: 180px;
	margin: 0 24px 0 0;
}
#header #globalnavigation .hidemenubg a {
	display: block;
}
#header #globalnavigation .hidemenubg .mdtitle a {
	color: #a30b1a;
	border-bottom: 1px solid #a30b1a;
	padding: 0 0 8px;
}
#header #globalnavigation .hidemenubg .mdtitle a img {
	margin: 0 0 8px;
}
#header #globalnavigation .col1span.lastcol {
	margin: 0;
}
#header #globalnavigation .col1span .dropdown-box li {
	position: relative;
	border-bottom: 1px solid #e8e8e8;
}
#header #globalnavigation .col1span .dropdown-box li a {
	display: block;
	padding: 4px 16px 4px 0;
}
#header #globalnavigation .col1span .dropdown-box .dropdown.has-child > a {
	position: relative;
}
#header #globalnavigation .col1span .dropdown-box .dropdown.has-child > a:before {
	position: absolute;
	top: 50%;
	right: 8px;
	display: block;
	width: 6px;
	height: 6px;
	margin: -4px 0 0;
	content: "";
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border: 2px solid #666;
	border-top: 0;
	border-left: 0;
}
#header #globalnavigation .col1span .dropdown-hidebox {
	position: absolute;
	top: 0;
	left: 100%;
	display: none;
	width: 180px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
#header #globalnavigation .col1span .dropdown-hidebox li {
	background-color: #f3f3f3;
	z-index: 1000;
	border: 1px solid #aaa;
	border-top: 0;
}
#header #globalnavigation .col1span .dropdown-hidebox li a {
	padding: 2px 16px 2px 4px;
}
#header #globalnavigation .col1span .dropdown-hidebox li:last-child {
	border-bottom: 0;
}

/*
 * @class Gig5: Header: #headnavi
** ------------------------------------------------------ */
#header #headnavi {
	width: auto;
	height: 32px;
	padding: 0 8px;
	border-left: 0;
}
#header #headnavi .lang-selector {
	font-size: 1.2rem;
	margin: 0 16px 0;
}
#header #headnavi .lang-selector ul {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
#header #headnavi .lang-selector ul li {
	margin: 0 8px 0 0;
	padding: 0 8px 0 0;
	border-right: 1px solid #c2c2c2;
}
#header #headnavi .lang-selector ul li:last-child {
	margin: 0;
	padding: 0;
	border-right: 0;
}
#header #headnavi .country {
	font-size: 1.2rem;
	color: #444;
}
#header #headnavi .dd-country-selector {
	position: relative;
}
#header #headnavi .lang {
	font-size: 1.2rem;
	margin: 0 0 0 8px;
	padding: 0 0 0 8px;
	border-left: 1px solid #c2c2c2;
}
#header #headnavi .lang a {
	display: block;
}
#header #headnavi .lang img {
	vertical-align: middle;
	display: none;
}
[data-script-enabled="true"] #header #headnavi .lang img {
	display: inline;
}
#header #headnavi .dropdown-box {
	font-size: 1.2rem;
	text-align: left;
	position: absolute;
	z-index: 2;
	top: 16px;
	left: 8px;
	display: none;
	width: 140px;
	border-bottom: 1px solid #aaa;
}
#header #headnavi .dropdown-box > li {
	background-color: #f3f3f3;
	background-image: url(//www.fujitsu.com/jp/resources/design/stylesheets/images/css_images/arrows/dropdown-list-arrow.gif);
	background-repeat: no-repeat;
	background-position: 94% 50%;
}
#header #headnavi .dropdown-box > li:hover {
	color: #fff;
	background-color: #555;
}
#header #headnavi .dropdown-box li {
	line-height: 1.2;
	color: #000;
	background-color: #f3f3f3;
	position: relative;
	display: block;
	margin: 0;
	padding: 8px 24px 8px 8px;
	border: 1px solid #aaa;
	border-bottom: 0;
}
#header #headnavi .dropdown-box li:last-child {
	background: #f3f3f3;
}
#header #headnavi .dropdown-box > li > .dropdown-hidebox {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 124px;
	display: none;
	width: 140px;
	border-bottom: 1px solid #aaa;
}
#header #headnavi .dropdown-box > li > .dropdown-hidebox > li {
	padding: 0;
	border-top: 0;
	border-bottom: 0;
}
#header #headnavi .dropdown-box > li > .dropdown-hidebox > li a {
	display: block;
	padding: 8px 16px 8px 8px;
	border-top: 1px solid #aaa;
}

@media screen and (max-width: 768px) {
	#header #headnavi {
		padding-top: 16px;
	}
	[data-script-enabled="true"] #header #headnavi .lang {
		display: none;
	}
}
@media screen and (max-width: 480px) {
	#header #headnavi {
		width: 100%;
		height: auto;
		border-top: 1px solid #ccc;
		min-height: 32px;
		padding: 8px;
	}
	[data-script-enabled="true"] #header #headnavi .lang {
		display: block;
	}
	#header #headnavi .lang-selector ul {
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
		-webkit-justify-content: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	#header #headnavi .lang-selector {
		font-size: 1.2rem;
		-ms-flex-grow: 2;
		-webkit-box-grow: 2;
		-webkit-flex-grow: 2;
		flex-grow: 2;
		margin: 0;
		border-right: 1px solid #ccc;
	}
	#header #headnavi .country {
		text-align: right;
		-ms-flex-grow: 1;
		-webkit-box-grow: 1;
		-webkit-flex-grow: 1;
		flex-grow: 1;
	}
	#header #headnavi .dd-country-selector {
		-ms-flex-grow: 1;
		-webkit-box-grow: 1;
		-webkit-flex-grow: 1;
		flex-grow: 1;
	}
	#header #headnavi .lang img {
		display: none;
	}
	[data-script-enabled="true"] #header #headnavi .lang img {
		display: none;
	}
}

/*
 * @class Gig5: Header: #headsearch
** ------------------------------------------------------ */
#header #headsearch {
	z-index: 1;
	padding: 0 0 0 8px;
}
#header #headsearch form {
	position: relative;
	display: block;
	width: 100%;
}
#header #headsearch input#Search {
	font-size: 1.6rem;
	vertical-align: top;
	color: #333;
	background: #fff;
	overflow: hidden;
	width: 240px;
	height: 32px;
	padding: 2px 3px 2px 3px;
	border: 1px solid #c2c2c2;
	box-shadow: 0;
}
#header #headsearch #submit {
	vertical-align: top;
	background: #fff;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 28px;
	height: 28px;
	padding: 1px;
}

@media screen and (max-width: 768px) {
	#cookie-allowance {
		-ms-flex-direction: column-reverse;
		-webkit-box-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	#cookie-container-button {
		text-align: center;
		margin: 0;
		padding: 8px 16px 0 16px;
	}
	#cookie-allowance-inside {
		font-size: 1.2rem;
		margin: 0 auto;
	}

	#header {
		padding: 16px 0 0;
		border-bottom: 1px solid #ccc;
	}

	#header #corporatesymbol {
		padding: 0 0 8px 8px;
	}

	#header #globalnavigation {
		border-top: 1px solid #ccc;
		margin-top: 0;
	}
	#header #globalnavigation.is-open {
		display: block;
	}
	#header #globalnavigation > ul {
		background: #f7f7f7;
		-ms-flex-direction: column;
		-webkit-box-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;
		padding: 0;
	}
	#header #globalnavigation > ul > .glbnavlist:first-child {
		border-left: 0;
	}
	#header #globalnavigation > ul > .glbnavlist:last-child {
		border-bottom: 0;
	}
	#header #globalnavigation > ul > .glbnavlist {
		text-align: left;
		border-right: 0;
		border-left: 0;
	}
	#header #globalnavigation > ul > .glbnavlist > a {
		color: #555;
		padding: 8px 42px 8px 16px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #ccc;
	}
	[data-script-enabled="true"] #header #globalnavigation > ul > .glbnavlist > a:before {
		display: block;
	}
	#header #globalnavigation > ul > .glbnavlist.is-open > a:before {
		-webkit-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	#header #globalnavigation > ul > .glbnavlist > a span {
		display: inline;
	}
	[data-script-enabled="true"] #header #globalnavigation > ul > .glbnavlist > a span:before {
		display: none;
	}
	#header #globalnavigation > ul > .glbnavlist:last-child > a {
		border-bottom: 0;
	}
	#header #globalnavigation > ul > .glbnavlist.is-open:last-child > a {
		border-bottom: 1px solid #ccc;
	}
	#header #globalnavigation > ul > .glbnavlist.is-open:last-child .hidemenubg .col1span:last-child .mdtitle a {
		border-bottom: 0;
	}
	#header #globalnavigation .hidemenu {
		position: static;
		display: none;
	}
	#header #globalnavigation .hidemenu:before {
		display: none;
	}
	#header #globalnavigation .hidemenu_mousearea {
		padding: 0;
	}
	#header #globalnavigation .megaclosebtn {
		display: none;
	}
	#header #globalnavigation .hidemenubg .grid3span,
	#header #globalnavigation .hidemenubg .grid4span,
	#header #globalnavigation .hidemenubg .grid5span {
		-ms-flex-direction: column;
		-webkit-box-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	#header #globalnavigation .hidemenubg .col1span {
		width: 100%;
		margin: 0;
	}
	#header #globalnavigation .hidemenubg .mdtitle a,
	#header #globalnavigation .col1span .dropdown-box li a {
		font-size: 1.3rem;
		text-decoration: none;
		color: #555;
		padding: 8px 42px 8px 16px;
		background: #e8e8e8;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #aaa;
	}
	#header #globalnavigation .col1span.has-child .mdtitle a {
		position: relative;
	}
	#header #globalnavigation .col1span.has-child .mdtitle a:before {
		position: absolute;
		top: 50%;
		right: 8px;
		display: block;
		width: 6px;
		height: 6px;
		margin: -6px 0 0;
		content: "";
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		border: 2px solid #666;
		border-top: 0;
		border-left: 0;
	}
	#header #globalnavigation .col1span.has-child.is-open .mdtitle a:before {
		-webkit-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	#header #globalnavigation .col1span .dropdown-box li {
		border: 0;
	}
	#header #globalnavigation .col1span .dropdown-box li a {
		background: #d2d2d2;
	}
	#header #globalnavigation .col1span .dropdown-box .dropdown.has-child > a:before {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#header #globalnavigation .col1span .dropdown-box .dropdown.has-child.is-open > a:before {
		-webkit-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	#header #globalnavigation .col1span .dropdown-hidebox {
		position: static;
		width: 100%;
		border: 0;
	}
	#header #globalnavigation .col1span .dropdown-box.has-child li.has-child a:before {
		position: absolute;
		top: 50%;
		right: 8px;
		display: block;
		width: 6px;
		height: 6px;
		margin: -6px 0 0;
		content: "";
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		border: 2px solid #666;
		border-top: 0;
		border-left: 0;
	}
	#header #globalnavigation .col1span .dropdown-hidebox li a {
		background: #c2c2c2;
	}
	#header #globalnavigation .grid1span {
		width: 100%;
	}
	#header #globalnavigation .col1span .mdtitle img {
		display: none;
	}
	#header #globalnavigation .col1span .dropdown-box {
		display: block;
	}
	#header #headsearch {
		background: #f2f2f2;
		padding: 0 8px;
		padding-top: 16px;
		padding-bottom: 16px;
		border-top: 1px solid #ccc;
		width: 100%;
	}
	#header #headsearch input#Search {
		width: 100%;
	}

	[data-script-enabled="true"] #header #globalnavigation .accordionContent {
		display: none;
	}
	[data-script-enabled="true"] #header #globalnavigation .glbnavlist.is-open .hidemenu,
	[data-script-enabled="true"] #header #globalnavigation .col1span.is-open .dropdown-box,
	[data-script-enabled="true"] #header #globalnavigation .dropdown.is-open .dropdown-hidebox {
		display: block;
	}
}

@media screen and (max-width: 480px) {
	#header #globalnavigation {
		background: #fff;
	}
	#header #corporatesymbol {
		padding: 0 0 8px 8px;
	}
	#header .navigation-btn-group .searchmenu,
	#header .navigation-btn-group .regionmenu {
		display: none;
	}
}


/* ---------------------------------------------------------
 * @class Gig5: Content: Root
** ------------------------------------------------------ */
/*
 * @class Gig5: Content: Content area Layout
** ------------------------------------------------------ */
#bodyarea .maincontents {
	padding: 16px 0 0 0;
}

/*
 * @class Gig5: Content: Section
** ------------------------------------------------------ */
#bodyarea .section-inside {
	display: block;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 40px 0 40px 0;
}
#bodyarea .maincontents > *:first-child.section:not([class*="tile-"]) .section-inside {
	padding-top: 0;
}
#bodyarea .maincontents .section:not([class*="tile-"]) + .section:not([class*="tile-"]) .section-inside,
#bodyarea .maincontents .section-news + .sub-featurestories > .sub-featurestories-inside {
	padding-top: 0;
}

@media screen and (max-width: 1280px) {
	#bodyarea .section-inside {
		padding-left: 8px;
		padding-right: 8px;
	}
}

#bodyarea .section-inside > h1:first-child,
#bodyarea .section-inside > h2:first-child,
#bodyarea .section-inside > h3:first-child,
#bodyarea .section-inside > h4:first-child,
#bodyarea .section-inside > h5:first-child,
#bodyarea .section-inside > h6:first-child {
	margin-top: 0;
}
#bodyarea .section-inside > *:last-child {
	margin-bottom: 0;
}

/* Section color */
#bodyarea .section.tile-plain-1 {
	background-color: #f3f3f3;
}
#bodyarea .section.tile-plain-1 + .section.tile-plain-1 .section-inside {
	padding-top: 0;
}
#bodyarea .section.tile-plain-2 {
	background-color: #dad9d6;
}
#bodyarea .section.tile-plain-2 + .section.tile-plain-2 .section-inside {
	padding-top: 0;
}
#bodyarea .section.tile-plain-3 {
	color: #fff;
	background-color: #595959;
}
#bodyarea .section.tile-plain-3 + .section.tile-plain-3 .section-inside {
	padding-top: 0;
}

/*
 * @class Gig5: Content: .gig5-scrolltop
** ------------------------------------------------------ */
.gig5-scrolltop {
	position: fixed;
	right: 0;
	bottom: 10%;
	z-index: 1000;
	opacity: .7;
}
.gig5-scrolltop:hover {
	opacity: 1;
}
@media screen and (max-width: 768px) {
	.gig5-scrolltop {
		display: none;
	}
}


/* ---------------------------------------------------------
 * @class Gig5: Footer: Root: Footer
** ------------------------------------------------------ */
#footer .footer-inside,
#footer .footer-socialmediaicon {
	display: block;
	width: 100%;
	max-width: 1312px;
	margin: 0 auto;
	padding: 0 16px 0 16px;
}
#footer {
	font-size: 1.2rem;
	color: #fff;
	background: #666;
	padding: 16px 0 24px 0;
}
#footer .footer-inside,
#footer .footer-socialmediaicon {
	margin-bottom: 24px;
}
#footer .footer-inside:last-child,
#footer .footer-socialmediaicon:last-child {
	margin-bottom: 0;
}
#footer .footer-inside > *:last-child,
#footer .footer-socialmediaicon > *:last-child {
	margin-bottom: 0;
}
#footer a {
	text-decoration: none;
	color: #fff;
}
#footer a:hover,
#footer a:focus,
#footer a:active {
	text-decoration: underline;
}
#footer #permanentmenu ul {
	margin: -8px -8px 16px -8px;
}
#footer #permanentmenu ul > li {
	display: inline-block;
	margin: 8px 8px 0 8px;
}
#footer .footer-socialmediaicon > *:last-child {
	margin-bottom: 0;
}
#footer .footer-socialmediaicon ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: -8px;
	margin-top: -8px;
	width: 100%;
}
#footer .footer-socialmediaicon ul > li {
	display: block;
	margin: 8px 8px 0 8px;
}
#footer .footer-socialmediaicon ul img {
	width: 32px;
	height: 32px;
}
#footer .footer-inside,
#footer .footer-socialmediaicon {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
#footer #permanentmenu {
	margin: 0;
}
#footer #permanentmenu > *:last-child {
	margin-bottom: 0;
}
#footer #creditline {
	margin: 0 0 0 auto;
}
#footer #creditline > *:last-child {
	margin-bottom: 0;
}
#footer #creditline > p {
	text-align: right;
	white-space: nowrap;
	margin: 0 0 8px 0;
}
#footer #creditline .footer-legalinformation {
	text-align: right;
	white-space: nowrap;
	margin: 0;
}

#footer #creditline .footer-legalinformation ul {
	margin: -4px -4px 0 -4px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
}
#footer #creditline .footer-legalinformation ul li {
	white-space: nowrap;
	margin: 4px 4px 0 4px;
}

@media screen and (max-width: 768px) {
	#footer .footer-inside,
	#footer .footer-socialmediaicon {
		-ms-flex-direction: row;
		-webkit-box-direction: row;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap:wrap;
		flex-wrap: wrap;
		padding-left: 8px;
		padding-right: 8px;
	}
	#footer #permanentmenu {
		width: 100%;
		margin-bottom: 16px;
	}
	#footer #permanentmenu ul > li {
		position: relative;
	}
	#footer #permanentmenu ul > li:after {
		content: "";
		display: inline-block;
		background: #fff;
		width: 1px;
		height: 1.2rem;
		vertical-align: middle;
		position: absolute;
		top: 50%;
		right: -10px;
		margin: -.6rem 0 0 0;
	}
	#footer #permanentmenu ul > li:last-child:after {
		display: none;
	}
	#footer .footer-socialmediaicon,
	#footer #creditline .footer-legalinformation ul {
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
		-webkit-box-pack: start;
		-webkit-flex-pack: start;
		-ms-flex-pack: start;
	}
	#footer .footer-socialmediaicon ul {
		margin-left: -8px;
		margin-right: 0;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	#footer #creditline {
		margin: 0;
	}
	#footer #creditline .footer-legalinformation ul li,
	#footer #creditline > p {
		text-align: left;
		white-space: normal;
	}
}
