@charset "UTF-8";
/* =========================================================
 * @class Gig5
 * @charset "UTF-8";
** ====================================================== */

/* =========================================================
 * @class Gig5: Module: Important Notice
** ====================================================== */
#important-notice {
	margin: 0 0 32px 0;
}
#important-notice #important-notice-inside {
	display: block;
	width: 100%;
	padding: 0 8px 0 8px;
	max-width: calc(980px + 16px); /* content-width + padding-left + padding-right */
	margin: 0 auto;
}
#important-notice h2 {
	font-size: 1.6rem;
	font-weight: 700;
	display: inline-block;
	margin: 0;
	padding: 4px 24px 0 24px;
	color: #fff;
	background-color: #841718;
}
#important-notice h2 a {
	color: #fff;
}
#important-notice ul {
	font-size: 1.4rem;
	padding: 0;
	border: 1px solid #841718;
}
#important-notice li {
	margin: 0;
}
#important-notice li:last-child {
	margin-bottom: 0;
}
#important-notice ul a {
	position: relative;
	display: block;
	padding: 8px;
	text-decoration: none;
	color: #841718;
}
#important-notice ul a:hover,
#important-notice ul a:focus,
#important-notice ul a:active {
	text-decoration: underline;
}
#important-notice .important-notice-icon {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 20px;
}
#important-notice .important-notice-icon + span {
	display: block;
	padding-left: 32px;
}
#important-notice + .section-news > .section-inside,
#important-notice + .section > .section-inside {
	padding-top: 0;
}
#important-notice + .section.tile-plain-1 > .section-inside,
#important-notice + .section.tile-plain-2 > .section-inside,
#important-notice + .section.tile-plain-3 > .section-inside {
	padding-top: 40px;
}
.featurestory + #important-notice {
	margin: 40px 0 0;
}
.sub-featurestories + #important-notice {
	margin: 0 0 40px;
}
.section + #important-notice {
	margin: 0 0 40px;
}
.section.tile-plain-1 + #important-notice,
.section.tile-plain-2 + #important-notice,
.section.tile-plain-3 + #important-notice {
	margin: 40px 0;
}
.section-news +  #important-notice {
	margin: 0 0 40px;
}
@media screen and (max-width: 480px) {
	#important-notice h2 {
		display: block;
		padding: 4px 16px 0 16px;
	}
}


/* =========================================================
 * @class Gig5: Module: FeatureStory
** ====================================================== */
@-webkit-keyframes animg {
	0% {
		-webkit-transform: scale(1.25);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@keyframes animg {
	0% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1);
	}
}
.featurestory {
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
}
[data-script-enabled="true"] .featurestory {
	height: 427px;
}
.featurestory a {
	display: block;
}
.featurestory.img-load-done .mainvisual {
	-webkit-animation: animg 1.5s ease-in-out forwards;
	animation: animg 1.5s ease-in-out forwards;
}
.featurestory .mainvisual a:focus,
.featurestory .mainvisual a:active,
.featurestory .mainvisual a:hover {
	display: block;
	opacity: .7;
}
.featurestory #featurestory-img {
	display: none;
}
[data-script-enabled="true"] .featurestory #featurestory-img {
	display: inline-block;
}
.featurestory.img-load-done .mainvisual img {
	position: absolute;
	top: 0;
	left: 50%;
	max-width: none;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

@media screen and (max-width: 980px) {
	.featurestory.img-load-done {
		height: auto;
	}
	.featurestory.img-load-done .mainvisual a {
		position: relative;
		padding: 43.573% 0 0;
		display: block;
		width: 100%;
	}
	.featurestory.img-load-done .mainvisual img {
		height: 100%;
		width: auto;
		min-height: 0;
	}
}
@media screen and (max-width: 480px) {
	.featurestory.img-load-done .mainvisual a {
		position: static;
		padding: 0;
	}
	.featurestory.img-load-done .mainvisual img {
		position: static;
		height: auto;
		width: auto;
		min-height: none;
		max-width: 100%;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}


/* =========================================================
 * @class Gig5: Module: NewsTicker
** ====================================================== */
.news-tck-box {
	position: relative;
	margin: 0 0 32px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
[data-script-enabled="true"] .news-tck-box {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	-webkit-align-items: center;
	align-items: center;
	min-height: 40px;
}
.news-tck-box a {
	text-decoration: none;
}
.news-tck-box a:hover,
.news-tck-box a:focus,
.news-tck-box a:active {
	text-decoration: underline;
}
.news-tck-box .news-tck-icon-pdf {
	display: inline-block;
	width: 16px;
}
.stage .maincontents .news-tck-box .news-tck-title {
	font-size: 1.6rem;
	font-weight: 700;
	margin: 0 8px 0 0;
	white-space: nowrap;
	color: #953735;
	background-color: #fff;
	font-family: "Roboto", Arial, Verdana, "Lucida Grande", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", sans-serif;
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-webkit-order: 1;
	order: 1;
	-webkit-flex-basis: 1;
	-ms-flex-basis: 1;
	flex-basis: 1;
}
.news-tck-box .news-tck-area {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 2;
	-webkit-order: 2;
	order: 2;
	-webkit-flex-basis: 100%;
	-ms-flex-basis: 100%;
	flex-basis: 100%;
	margin: 0 0 0 8px;
}
.news-tck-box .news-rss-icon {
	z-index: 2;
	background: #fff;
	margin: 0;
	padding: 0 0 0 8px;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 3;
	-webkit-order: 3;
	order: 3;
	-webkit-flex-basis: 26px;
	-ms-flex-basis: 26px;
	flex-basis: 26px;
}
.news-tck-box .news-tck-title a {
	color: #953735;
}
.news-tck-box .news-rss-icon a {
	width: 18px;
	height: 18px;
	background-color: #fff;
	display: block;
}
.news-tck-box ul {
	font-size: 1.4rem;
	width: 100%;
	margin: -5px 0 0 0;
	display: table;
}
.news-tck-box li {
	position: relative;
	display: table-row;
	right: 0;
}
.news-tck-box .news-tck-date,
.news-tck-box .news-tck-content {
	padding: 8px 8px 8px 8px;
	vertical-align: top;
	display: table-cell;
	min-width: 9em;
}
.news-tck-box .news-tck-date {
	white-space: nowrap;
}
.news-tck-box .news-tck-content a {
	color: #444;
	padding: 0;
}
.news-tck-box .news-stop-btn,
.news-tck-box .news-back-btn,
.news-tck-box .news-next-btn {
	width: 16px;
	height: 16px;
	margin: 0 8px 0;
	display: none;
}
.news-tck-box .news-stop-btn button,
.news-tck-box .news-back-btn button,
.news-tck-box .news-next-btn button {
	position: relative;
	overflow: hidden;
	width: 16px;
	height: 16px;
	padding: 0;
	cursor: pointer;
	border: solid 1px #7f7f7f;
	background: none;
}
.news-tck-box .news-stop-btn button span,
.news-tck-box .news-back-btn button span,
.news-tck-box .news-next-btn button span {
	width: 100%;
	height: 100%;
	display: block;
}
.news-tck-box .news-stop-btn button + button,
.news-tck-box .news-stop-btn.replay button {
	display: none;
}
.news-tck-box .news-stop-btn.replay button + button {
	display: block;
}
.news-tck-box .news-stop-btn button:before,
.news-tck-box .news-back-btn button:before,
.news-tck-box .news-next-btn button:before,
.news-tck-box .news-stop-btn button span:before,
.news-tck-box .news-back-btn button span:before,
.news-tck-box .news-next-btn button span:before,
.news-tck-box .news-stop-btn button span:after,
.news-tck-box .news-back-btn button span:after,
.news-tck-box .news-next-btn button span:after {
	position: absolute;
	content: "";
}
.news-tck-box .news-stop-btn button:before,
.news-tck-box .news-back-btn button:before,
.news-tck-box .news-next-btn button:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
}
.news-tck-box .news-stop-btn button span:before {
	top: 2px;
	left: 3px;
	width: 3px;
	height: 10px;
	background-color: #7f7f7f;
}
.news-tck-box .news-stop-btn button span:after {
	top: 2px;
	right: 3px;
	width: 3px;
	height: 10px;
	background-color: #7f7f7f;
}
.news-tck-box .news-stop-btn.replay button span:before {
	width: 0;
	height: 0;
	background-color: transparent;
	border-top: solid 5px transparent;
	border-bottom: solid 5px transparent;
	border-right: solid 10px transparent;
	border-left: solid 10px #7f7f7f;
}
.news-tck-box .news-stop-btn.replay button span:after {
	display: none;
}
.news-tck-box .news-back-btn button span:before {
	top: 1px;
	left: 1px;
	width: 0;
	height: 0;
	border-top: solid 6px transparent;
	border-right: solid 10px #7f7f7f;
	border-bottom: solid 6px transparent;
	border-left: solid 0 transparent;
	background-color: transparent;
}
.news-tck-box .news-back-btn button span:after {
	top: 1px;
	left: 4px;
	width: 0;
	height: 0;
	border-top: solid 6px transparent;
	border-right: solid 10px #fff;
	border-bottom: solid 6px transparent;
	border-left: solid 0 transparent;
	background-color: transparent;
}
.news-tck-box .news-next-btn button span:before {
	top: 1px;
	left: 3px;
	width: 0;
	height: 0;
	border-top: solid 6px transparent;
	border-right: solid 0 transparent;
	border-bottom: solid 6px transparent;
	border-left: solid 10px #7f7f7f;
	background-color: transparent;
}
.news-tck-box .news-next-btn button span:after {
	top: 1px;
	left: 0;
	width: 0;
	height: 0;
	border-top: solid 6px transparent;
	border-right: solid 0 transparent;
	border-bottom: solid 6px transparent;
	border-left: solid 10px #fff;
	background-color: transparent;
}
.news-tck-box .news-stop-btn button:hover,
.news-tck-box .news-back-btn button:hover,
.news-tck-box .news-next-btn button:hover,
.news-tck-box .news-stop-btn button:focus,
.news-tck-box .news-back-btn button:focus,
.news-tck-box .news-next-btn button:focus,
.news-tck-box .news-stop-btn button:active,
.news-tck-box .news-back-btn button:active,
.news-tck-box .news-next-btn button:active {
	opacity: .7;
}

[data-script-enabled="true"] .news-tck-box .news-stop-btn,
[data-script-enabled="true"] .news-tck-box .news-back-btn,
[data-script-enabled="true"] .news-tck-box .news-next-btn {
	display: block;
}
[data-script-enabled="true"] .news-tck-box .news-tck-title {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-webkit-flex-order: 1;
	order: 1;
	-webkit-flex-basis: auto;
	-ms-flex-basis: auto;
	flex-basis: auto;
}
[data-script-enabled="true"] .news-tck-box .news-stop-btn {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 2;
	-webkit-flex-order: 2;
	order: 2;
}
[data-script-enabled="true"] .news-tck-box .news-back-btn {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 3;
	-webkit-order: 3;
	order: 3;
}
[data-script-enabled="true"] .news-tck-box .news-next-btn {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 4;
	-webkit-oredr: 4;
	order: 4;
}
[data-script-enabled="true"] .news-tck-box .news-tck-area {
	-webkit-box-ordinal-group: 5;
	-ms-flex-order: 5;
	-webkit-order: 5;
	order: 5;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-flex-basis: auto;
	-ms-flex-basis: auto;
	flex-basis: auto;
	margin: 8px 0 0;
}
[data-script-enabled="true"] .news-tck-box .news-rss-icon {
	-webkit-box-ordinal-group: 6;
	-ms-flex-order: 6;
	-webkit-order: 6;
	order: 6;
	-webkit-flex-basis: auto;
	-ms-flex-basis: auto;
	flex-basis: auto;
}
[data-script-enabled="true"] .news-tck-box li {
		margin-bottom: 0;
		display: block;
}
[data-script-enabled="true"] .news-tck-box .news-tck-date,
[data-script-enabled="true"] .news-tck-box .news-tck-content {
	white-space: nowrap;
	min-width: auto;
}
[data-script-enabled="true"] .news-tck-box .news-stop-btn.clone,
[data-script-enabled="true"] .news-tck-box .news-back-btn.clone,
[data-script-enabled="true"] .news-tck-box .news-next-btn.clone,
[data-script-enabled="true"] .news-tck-box .news-rss-icon.clone {
	display: none;
}

@media screen and (max-width: 768px) {
	[data-script-enabled="true"] .news-tck-box {
		min-height: 80px;
	}
	.news-tck-box {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		-webkit-justify-content: flex-start;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.news-tck-box .news-tck-title {
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
		-webkit-flex-basis: auto;
		-ms-flex-basis: auto;
		flex-basis: auto;
	}
	.news-tck-box .news-stop-btn,
	.news-tck-box .news-back-btn,
	.news-tck-box .news-next-btn {
		margin-top: 8px;
	}
	.news-tck-box .news-tck-area {
		width: 100%;
		margin-bottom: 16px;
		padding: 16px 0 0 0;
		margin: 0;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 3;
		-webkit-order: 3;
		order: 3;
		-webkit-flex-basis: auto;
		-ms-flex-basis: auto;
		flex-basis: auto;
	}
	.news-tck-box .news-rss-icon {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		order: 2;
		position: absolute;
		top: 0;
		right: 0;
		-webkit-flex-basis: auto;
		flex-basis: auto;
	}
	.news-tck-box .news-stop-btn {
		margin-left: 0;
	}
	.news-tck-box ul {
		display: block;
	}
	.news-tck-box li {
		margin: 0 0 16px 0;
		display: block;
		width: auto;
	}
	.news-tck-box li:last-child {
		margin-bottom: 0;
	}
	.news-tck-box .news-tck-date,
	.news-tck-box .news-tck-content {
		padding: 0;
		display: block;
	}
	.news-tck-box .news-tck-date {
		margin: 0 0 4px 0;
	}

	[data-script-enabled="true"] .news-tck-box .news-tck-title {
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
	}
	[data-script-enabled="true"] .news-tck-box .news-rss-icon {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}
	[data-script-enabled="true"] .news-tck-box .news-tck-area {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 3;
		-webkit-order: 3;
		order: 3;
		width: 100%;
		margin-top: 0;
	}
	[data-script-enabled="true"] .news-tck-box .news-stop-btn {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 4;
		-webkit-order: 4;
		order: 4;
	}
	[data-script-enabled="true"] .news-tck-box .news-back-btn {
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 5;
		-webkit-order: 5;
		order: 5;
	}
	[data-script-enabled="true"] .news-tck-box .news-next-btn {
		-webkit-box-ordinal-group: 6;
		-ms-flex-order: 6;
		-webkit-order: 6;
		order: 6;
	}
	[data-script-enabled="true"] .news-tck-box .news-tck-date,
	[data-script-enabled="true"] .news-tck-box .news-tck-content {
		display: table-cell;
	}
	[data-script-enabled="true"] .news-tck-box .news-tck-date {
		padding-right: 8px;
	}
	[data-script-enabled="true"] .news-tck-box .news-tck-content {
		padding-left: 8px;
	}
	[data-script-enabled="true"] .news-tck-box .news-stop-btn,
	[data-script-enabled="true"] .news-tck-box .news-back-btn,
	[data-script-enabled="true"] .news-tck-box .news-next-btn,
	[data-script-enabled="true"] .news-tck-box .news-rss-icon {
		display: none;
	}
	[data-script-enabled="true"] .news-tck-box .news-stop-btn.clone,
	[data-script-enabled="true"] .news-tck-box .news-back-btn.clone,
	[data-script-enabled="true"] .news-tck-box .news-next-btn.clone,
	[data-script-enabled="true"] .news-tck-box .news-rss-icon.clone {
		display: block;
	}
}

/* =========================================================
 * @class Gig5: Module: SubFeature
** ====================================================== */
.sub-featurestories {
	max-width: 1280px;
	margin: 0 auto;
}
.sub-featurestories-inside {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 0 -40px -40px;
	padding: 40px 0 40px 0;
}
.sub-featurestory {
	width: 33.33333%;
	padding: 0 0 40px 40px;
}
.sub-featurestory a {
	text-decoration: none;
	color: #444;
	display: block;
}
.sub-featurestory a:hover,
.sub-featurestory a:focus {
	opacity: .7;
}
.sub-featurestory a > p {
	line-height: 1.4;
	margin: 0 0 8px;
}
.sub-featurestory a > p:nth-of-type(1) {
	margin: 0 0 16px;
	text-align: center;
}
.sub-featurestory a > p:nth-of-type(2) {
	font-size: 2rem;
	font-family: FujitsuSans, Arial, Verdana, "Lucida Grande", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", sans-serif;
}
.sub-featurestory a > p:last-of-type {
	font-size: 1.36rem;
}
.sub-featurestory a > p img {
	padding: 0;
	width: 100%;
	max-width: 400px;
}
.sub-featurestory .moreinfo {
	font-size: 1.2rem;
	color: #841718;
}
.sub-featurestory .moreinfo p {
	text-align: center;
	display: inline-block;
	padding: 2px 14px;
	border: 1px solid #841718;
}
@media screen and (max-width: 1280px) {
	.sub-featurestories {
		padding-left: 8px;
		padding-right: 8px;
	}
}
@media screen and (max-width: 768px) {
	.sub-featurestories {
		padding: 0;
	}
	.sub-featurestories-inside {
		margin: 0 0 -40px -16px;
		padding-left: 8px;
		padding-right: 8px;
	}
	.sub-featurestory {
		padding: 0 0 40px 16px;
	}
}
@media screen and (max-width: 480px) {
	.sub-featurestories-inside {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		margin: 0;
		padding-left: 40px;
		padding-right: 40px;
	}
	.sub-featurestory {
		padding: 0 0 40px;
		width: 100%;
		max-width: none;
		-webkit-flex-basis: auto;
		-ms-flex-basis: auto;
		flex-basis: auto;
	}
	.sub-featurestory:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.sub-featurestory a > p img {
		width: 100%;
		max-width: 688px;
	}
	.sub-featurestory .moreinfo {
		text-align: center;
	}
	.sub-featurestory .moreinfo > p {
		width: 70%;
		padding: 8px;
	}
}


/* =========================================================
 * @class Gig5: Module: Attention Contents
** ====================================================== */
.section-promotion-outside h2 {
	text-align: center;
}
.section-promotion-outside h3 {
	text-align: left;
}
.section-promotion-outside h2 + p {
	text-align: left;
	margin: 0 0 32px 0;
	font-size: 1.6rem;
	color: #666;
}
.section-promotion-outside a {
	display: block;
}
.section-promotion-outside a:hover,
.section-promotion-outside a:focus {
	text-decoration: none;
	opacity: .7;
}
.section-promotion {
	background-color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.section-promotion p {
	margin: 0 0 16px 0;
}
.section-promotion .section-promotion-content {
	font-size: 1.6rem;
	line-height: 1.4;
	color: #444;
	width: 50%;
	padding: 24px;
}
.section-promotion .section-promotion-content .section-promotion-headline {
	font-size: 2.4rem;
	line-height: 1.4;
	color: #444;
	margin-bottom: 32px;
}
.section-promotion .section-promotion-content .moreinfo {
	margin: 0;
	font-size: 1.2rem;
}
.section-promotion .section-promotion-content .moreinfo p {
	display: inline-block;
	color: #841718;
	border: 1px solid #841718;
	padding: 3px 14px;
	margin: 0;
}
.section-promotion .section-promotion-image {
	width: 50%;
	text-align: center;
}
.section-promotion .section-promotion-image p {
	margin-bottom: 0;
}
.section-promotion .section-promotion-image img {
	width: 100%;
}

@media screen and (max-width: 768px) {
	.section-promotion-outside h2 + p {
		text-align: center;
	}
	.section-promotion {
		-webkit-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#bodyarea .section-promotion-outside .section-inside {
		width: 100%;
		max-width: 656px;
		margin: 0 auto;
	}
	.section-promotion .section-promotion-content,
	.section-promotion .section-promotion-image {
		width: 100%;
	}
	.section-promotion .section-promotion-content {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
		padding-left: 24px;
		padding-right: 24px;
		padding-bottom: 16px;
	}
	.section-promotion .section-promotion-image {
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
		flex: 0 0 auto; /* IE11 bug */
	}
	.section-promotion .section-promotion-image > *{
		margin-bottom: 0;
	}
	.section-promotion .section-promotion-content .moreinfo {
		text-align: center;
		margin-left: -24px;
		margin-right: -24px;
	}
	.section-promotion .section-promotion-content .moreinfo p {
		width: 70%;
		padding: 8px;
	}
}


/* =========================================================
 * @class Gig5: Module: Carousel
** ====================================================== */
.carousel-box {
	position: relative;
	width: 100%;
	margin: 0 auto 48px;
	max-width: 1280px;
}
.carousel-box.js-ui-disable {
	margin-bottom: 0;
}
.carousel-box img {
	max-width: none;
}
.carousel-box .carousel-box-inside {
	margin: 0 auto;
	overflow-x: scroll;
	overflow-y: hidden;
	position: relative;
	z-index: 1;
	max-width: 960px;
}
.carousel-box ul {
	font-size: 1.4rem;
	display: table;
	vertical-align: top;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.carousel-box ul li {
	display: table-cell;
	width: 328px;
	vertical-align: top;
	margin: 0;
	padding: 0 24px 32px 0;
	height: 100%;
}
.carousel-box ul li:last-child {
	padding-right: 0;
}
.carousel-box ul li > a > img {
	width: 304px;
}
.carousel-box ul li a {
	text-decoration: none;
	color: #444;
}
.carousel-box ul li a:hover {
	opacity: .7;
}
.carousel-box ul li .textsmall {
	display: block;
	margin: 8px 0 0 0;
}
.carousel-box .nev-prev-btn,
.carousel-box .nev-next-btn {
	display: none;
	z-index: 100;
}
[data-script-enabled="true"] .carousel-box .nev-prev-btn,
[data-script-enabled="true"] .carousel-box .nev-next-btn {
	display: block;
}
.carousel-box .nev-prev-btn button,
.carousel-box .nev-next-btn button {
	background: none;
	border: 0;
	padding: 0;
}
.carousel-box .nev-prev-btn {
	position: absolute;
	top: 48px;
	cursor: pointer;
	left: 0;
}
.carousel-box .nev-next-btn {
	position: absolute;
	top: 48px;
	cursor: pointer;
	right: 0;
}
[data-script-enabled="true"] .carousel-box {
	overflow: hidden;
}
[data-script-enabled="true"] .carousel-box:before {
	content: "";
	position: absolute;
	bottom: 9px;
	left: 50%;
	background-color: #ccc;
	display: block;
	max-width: 960px;
	width: 100%;
	height: 1px;
	z-index: 160;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.carousel-scl-line-wrap {
	margin: 0 auto;
	max-width: 960px;
	position: absolute;
	width: 100%;
	left: 50%;
	bottom: 0;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	z-index: 200;
}
.carousel-scl-line {
	position: absolute;
	bottom: 0;
	width: 100px;
	height: 32px;
	left: 0;
	z-index: 210;
}
.carousel-scl-line:before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 9px;
	background: #999;
	left: 0;
	top: 18px;
	z-index: 220;
}
.js-ui-disable.carousel-box:before,
.js-ui-disable .carousel-scl-line,
.js-ui-disable.carousel-box .nev-prev-btn,
.js-ui-disable.carousel-box .nev-next-btn {
	visibility: hidden;
}
.carousel-box + .moreinfo.textcenter {
	text-align: center;
}
.carousel-box + .moreinfo.textcenter p {
	display: inline-block;
	padding: 2px 14px;
	border: 1px solid #841718;
}
.carousel-box + .moreinfo.textcenter p a {
	color: #841718;
}
.carousel-box + .moreinfo.textcenter p a:hover {
	text-decoration: none;
}

@media screen and (max-width:480px) {
	.carousel-box {
		margin-bottom: 24px;
		width: auto;
	}
	.carousel-box ul li {
		padding-bottom: 16px;
	}
	.carousel-box + .moreinfo.textcenter {
		margin-left: -8px;
		margin-right: -8px;
	}
	.carousel-box + .moreinfo.textcenter p {
		width: 70%;
		background: #fff;
		padding: 8px;
	}
}


/* =========================================================
 * @class Gig5: Module: OfferingMenu
** ====================================================== */
.hoverbox-inside {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 1280px;
	margin: 0 auto;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.hoverbox-content .figure {
	position: relative;
	overflow: hidden;
}
.hoverbox-content .figure img {
	display: block;
	width: 100%;
}
.hoverbox-content .figure a {
	text-decoration: none;
	background: rgba(0, 0, 0, .7);
	position: absolute;
	z-index: 2;
	bottom: -83%;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	padding: .9881vw;
	transition: bottom .3s, background .3s;
}
.hoverbox-content .figure h3 {
	font-weight: normal;
	text-align: center;
	color: #fff;
	margin-bottom: .8088em;
}
.hoverbox-content .figure a:focus h3,
.hoverbox-content .figure:hover a h3 {
	padding: 0 1vw;
}
.stage #bodyarea.home .maincontents .hoverbox-content .figure a:focus h3,
.stage #bodyarea.home .maincontents .hoverbox-content .figure:hover a h3 {
	text-align: left;
}
.hoverbox-content .figure a p {
	font-size: 1.57791vw;
	color: #fff;
}
.hoverbox-content .figure a:focus p,
.hoverbox-content .figure:hover a p {
	margin-top: 1.57791vw;
	padding: 0 1vw;
}
.hoverbox-content .figure a:focus,
.hoverbox-content .figure:hover a {
	text-decoration: none;
	background: rgba(175,39,46,.7);
	bottom: 0;
}
.hoverbox .hoverbox-inside .hoverbox-content:first-child {
	font-size: 1.6rem;
	height: auto;
	-ms-flex-preferred-size: auto;
	-webkit-flex-basis: auto;
	-ms-flex-basis: auto;
	flex-basis: auto;
}

@media only screen and (min-width: 1013px) {
	.hoverbox-content .figure a {
		padding: 10px;
	}
	.hoverbox-content .figure h3 {
		margin-bottom: 1.6rem;
	}
	.hoverbox-content .figure a p {
		font-size: 1.6rem;
	}
	.hoverbox-content .figure a:focus h3,
	.hoverbox-content .figure:hover a h3 {
		padding: 0 14px;
	}
	.hoverbox-content .figure a:focus p,
	.hoverbox-content .figure:hover a p {
		margin-top: 16px;
		padding: 0 14px;
	}
}
@media only screen and (max-width: 768px) {
	.hoverbox-content .figure img {
		width: 120px;
	}
	.hoverbox .hoverbox-inside .hoverbox-content:first-child > p {
		padding-bottom: 8px;
	}
}


/*
 * @class Gig5: Module: Offering menu : .hover-3col
** ------------------------------------------------------ */
.hover-3col {
	padding: 0;
}
.hover-3col .hoverbox-content {
	margin: 0 0 24px 0;
}
.hover-3col .hoverbox-content .figure h3 {
	font-size: 2.3692vw;
}
.hover-3col .hoverbox-content {
	width: 33.3333%;
}
.hover-3col .hoverbox-content {
	max-width: 100%;
}

@media only screen and (min-width: 1013px) {
	.hover-3col .hoverbox-content .figure h3 {
		margin-top: 0.8rem;
	}
}

@media only screen and (min-width: 769px) {
	.hoverbox.hover-3col .hoverbox-inside .hoverbox-content {
		padding: 4.8rem 2.4rem 0 2.4rem;
	}
	.hoverbox.hover-3col .hoverbox-inside .hoverbox-content:first-child {
		background-color: #3f3f3f;
	}
	.hoverbox.hover-3col .hoverbox-inside .hoverbox-content .figure {
		margin: -4.8rem -2.4rem 0 -2.4rem;
	}
	.hover-3col .hoverbox-content {
		max-width: 33.3333%;
	}
	.hover-3col .hoverbox-content .figure h3 {
		font-size: 2.4rem;
	}
	.hover-3col .hoverbox-content .figure a:focus h3,
	.hover-3col .hoverbox-content .figure:hover a h3 {
		margin: 40px 0 16px;
	}
	.hover-3col .hoverbox-content {
		margin: 0;
	}
}
@media only screen and (max-width: 768px) {
	.hover-3col .hoverbox-content {
		width: 100%;
	}
}


/*
 * @class Gig5: Module: Offering menu : .hover-4col
 ** ------------------------------------------------------ */
.hover-4col .hoverbox-content .figure h3 {
	font-size: 1.9762799vw;
}
.hover-4col .hoverbox-content {
	-webkit-box-flex: 1 25%;
	-webkit-flex: 1 25%;
	-ms-flex: 1 25%;
	flex: 1 25%;
	display: block;
	width: 100%;
}
.hover-4col .hoverbox-content {
	margin: 0;
}
.hoverbox.hover-4col .hoverbox-inside .hoverbox-content:first-child > p {
	padding: 0	0 8px 0;
}
.hover-4col .hoverbox-content:not(:first-child) {
	max-width: 25%;
}

@media only screen and (min-width: 1013px) {
	.hover-4col .hoverbox-content .figure h3 {
		font-size: 2rem;
	}
	.hover-4col .hoverbox-content .figure a:focus h3,
	.hover-4col .hoverbox-content .figure:hover a h3 {
		margin: 48px 0 16px;
	}
}
@media screen and (max-width:768px) {
	.hover-3col {
		padding: 0 0.4rem;
	}
	.hover-4col .hoverbox-content {
		margin: 0 0 24px 0;
	}
	.hoverbox .hoverbox-inside {
		display: block;
	}
	.hoverbox .hoverbox-inside .hoverbox-content:not(:first-child) {
		overflow: hidden;
		max-width: 100%;
		margin: 0 0 24px;
	}
	.hoverbox-inside .hoverbox-content .figure {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.hoverbox-content img {
		width: 120px;
		min-width: 120px;/* IE11 */
		height: 120px;
	}
	.hoverbox-inside .hoverbox-content .figure a {
		background: transparent;
		position: static;
		min-height: 120px;
		padding: 0 0 0 8px;
	}
	.hoverbox-inside .hoverbox-content .figure a * {
	}
	.hoverbox-inside .hoverbox-content .figure:hover a,
	.hoverbox-inside .hoverbox-content .figure a:focus {
		background: transparent;
	}
	.hoverbox-inside .hoverbox-content .figure a h3 {
		font-size: 2.0rem;
		margin: 0;
	}
	.stage #bodyarea.home .maincontents .hoverbox-inside .hoverbox-content .figure a h3 {
		text-align: left;
	}
	.hoverbox-inside .hoverbox-content .figure a p {
		font-size: 1.6rem;
	}
	.hoverbox .hoverbox-inside .hoverbox-content .figure:hover a h3,
	.hoverbox .hoverbox-inside .hoverbox-content .figure a:focus h3,
	.hoverbox .hoverbox-inside .hoverbox-content .figure:hover a p,
	.hoverbox .hoverbox-inside .hoverbox-content .figure a:focus p {
		margin: 0;
		padding: 0;
	}
}


/* =========================================================
 * @class Gig5: Module: ContactPoint
** ====================================================== */
.contact-points {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}
.contact-points > a {
	display: block;
	position: relative;
	-webkit-flex-basis: calc(50% - 8px);
	-ms-flex-basis: calc(50% - 8px);
	flex-basis: calc(50% - 8px);
	max-width: 632px;
	color: #444444;
	text-decoration: none;
	margin: 0;
}
.contact-points > a:focus,
.contact-points > a:hover {
	opacity: .5;
}
.contact-points > a .contact-banner > img {
	display: block;
	width: 100%;
	margin: 0 auto;
}
.contact-points > a .contact-banner-content {
	padding: 32px 24px 0 24px;
	font-size: 1.6rem;
	width: 100%;
	max-width: 632px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
}
.stage #bodyarea.home .maincontents .contact-points > a .contact-banner-content h3 {
	text-align: left;
	word-break: break-all;
	margin-bottom: 8px;
	font-size: 2rem;
}
.contact-points > a .contact-banner-content > p {
	margin: 0 0 8px 0;
}
.contact-points > a .contact-banner-content .moreinfo p {
	font-size: 1.2rem;
	color: #841718;
	border: 1px solid #841718;
	display: inline-block;
	padding: 4px 16px;
	text-align: center;
}

@media screen and (max-width:768px) {
	.contact-points {
		display: block;
	}
	.contact-points > a {
		max-width: 480px;
		width: 100%;
		margin: 0 auto 16px auto;
	}
	.contact-points > a .contact-banner-content {
		position: static;
		top: auto;
		left: auto;
		padding: 0;
	}
	.stage #bodyarea.home .maincontents .contact-points > a .contact-banner-content h3 {
		text-align: center;
	}
	.contact-points > a .contact-banner-content > p {
		min-width: 100%;
		margin-bottom: 16px;
		text-align: center;
	}
	.contact-points > a .contact-banner-content .moreinfo p {
		font-size: 1.92rem;
		padding: 16px 4px;
		max-width: 70%;
		margin: 0 auto;
		display: block;
	}
}


/* =========================================================
 * @class Gig5: Module: AnnouncePoint
** ====================================================== */
.announce-point {
	margin: 0 auto;
}
.announce-point > ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: -16px 0 0 -16px;
}
.announce-point > ul > li {
	width: 308px;
	margin: 16px 0 0 16px;
}
.announce-point > ul > li img {
	display: block;
	width: 100%;
	border: 1px solid #cccccc;
	margin: 0 0 8px 0;
}
.announce-point > ul > li img + br {
	display: none;
}
.announce-point > ul > li > a {
	display: block;
	color: #444444;
	width: 100%;
	max-width: 308px;
	margin: 0 auto;
}
.announce-point > ul > li > a:focus,
.announce-point > ul > li > a:hover {
	text-decoration: none;
}
.announce-point > ul > li > a:focus img,
.announce-point > ul > li > a:hover img {
	opacity: .7;
}
@media screen and (max-width:768px) {
	.announce-point > ul {
		-webkit-justify-content: flex-start;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		margin: -16px 0 0 -16px;
	}
	.announce-point > ul > li {
		-webkit-flex-basis: calc(50% - 16px);
		-ms-flex-basis: calc(50% - 16px);
		flex-basis: calc(50% - 16px);
	}
	.announce-point > ul > li img {
		width: 100%;
		margin: 0 auto 8px auto;
	}
}


/* =========================================================
 * @class Gig5: Module: MoreHelp
** ====================================================== */
#morehelp .textcenter {
	text-align: center;
	font-size: 16px;
	font-size: 1.6rem;
	margin: -32px 0 32px 0;
}
#morehelp .box.box-2col,
#morehelp .box .box-inside .box-child::after {
	display: block;
	clear: both;
	content: '';
}
#morehelp .box .box-inside > a {
	display: block;
}
#morehelp .box .box-inside > a:focus,
#morehelp .box .box-inside > a:hover {
	opacity: .7;
	text-decoration: none;
}
#morehelp .box .box-inside > a:focus h3,
#morehelp .box .box-inside > a:hover h3 {
	text-decoration: underline;
}
#morehelp .box.box-2col .box-inside {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content:flex-start;
	-webkit-box-pack:start;
	-ms-flex-pack:start;
	justify-content:flex-start;
	max-width: 976px;
	margin: -32px auto 0;
}
#morehelp .box.box-2col .box-inside > a {
	width: calc(50% - 16px);
	margin: 32px 32px 0 0;
	display: block;
}
#morehelp .box.box-2col .box-inside > a:nth-child(even) {
	margin-right: 0;
}
#morehelp .box .box-inside .box-child {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	-ms-grid-row-align: flex-start;
	align-items: flex-start;
}
#morehelp .box .box-inside .box-child > img {
	display: block;
	width: 48px;
	height: auto;
}
#morehelp .box .box-inside .box-child .box-child-content {
	margin: 0 0 0 16px;
	width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
#morehelp .box .box-inside .box-child .box-child-content > p,
#morehelp .box .box-inside .box-child .box-child-content > h3 {
	color: #444444;
	text-align: left;
	font-size: 16px;
	font-size: 1.6rem;
}
#morehelp .box .box-inside .box-child .box-child-content > h3 {
	font-size: 24px;
	font-size: 2.4rem;
	margin: 0;
	word-break: break-all;
}

@media screen and (max-width: 768px) {
	#morehelp .box.box-2col .box-inside {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 0;
	}
	#morehelp .box.box-2col .box-inside > a {
		width: 100%;
		margin: 0 0 32px 0;
	}
}


/* =========================================================
 * @class Gig5: Module: Deep Footer
** ====================================================== */
#deepfooter {
	background: #f5f5f5;
	padding: 40px 0 40px 0;
}
#deepfooter .deepfooter-inside {
	margin-bottom: 16px;
	display: block;
	width: 100%;
	max-width: 1296px;
	margin: 0 auto;
	padding: 0 8px 0 8px;
}
#deepfooter .deepfooter-inside:last-child {
	margin-bottom: 0;
}
#deepfooter .deepfooter-inside > *:last-child {
	margin-bottom: 0;
}

/* Element */
#deepfooter a {
	text-decoration: none;
}
#deepfooter a:hover,
#deepfooter a:focus,
#deepfooter a:active {
	text-decoration: underline;
}

/* Module */
#deepfooter .dfooter-title {
	font-size: 1.4rem;
	font-weight: 700;
	margin: 0 0 8px 0;
	padding: 0 0 4px 8px;
	border-bottom: 1px solid #bbb;
}
#deepfooter .dfooter-list {
	font-size: 1.3rem;
	margin: 0 0 16px 0;
	padding: 0 0 0 8px;
}
#deepfooter .dfooter-list > li {
	margin: 0 0 8px 0;
}
#deepfooter .dfooter-list > li:last-child {
	margin-bottom: 0;
}
#deepfooter .country {
	font-size: 1.2rem;
	color: #444;
	display: inline-block;
	margin: 0 0 16px 0;
	padding: 0 8px 0 8px;
}
#deepfooter .lang {
	font-size: 1.2rem;
	display: inline-block;
	margin: 0 0 16px 0;
	padding: 0 8px 0 8px;
	border-left: 1px solid #c2c2c2;
}
#deepfooter .country-select {
	display: block;
	margin: 0 0 16px 0;
}
#deepfooter #country-select img {
	max-width: 175px; /* WorldMap width */
	width: 100%;
	padding: 0 8px 0 8px;
	border: 0;
}
#deepfooter .grid5span {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: -16px 0 32px 0;
}
#deepfooter .grid5span.has-country {
	width: 100%;
}
#deepfooter .grid5span > .col1span {
	display: block;
	margin: 16px 16px 0 0;
	max-width: 240px;
	width: 20%;
}
#deepfooter .grid5span > .col1span > *:last-child {
	margin-bottom: 0;
}
#deepfooter .grid5span.has-country > .col1span.lastcol {
	margin-right: 0;
	margin-left: auto;
}
@media screen and (max-width: 768px) {
	#deepfooter .deepfooter-inside {
		padding-left: 0;
		padding-right: 0;
	}
	#deepfooter .grid5span {
		-webkit-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin: 0;
	}
	#deepfooter .grid5span > .col1span {
		max-width: none;
		margin: 0 0 32px 0;
		width: auto;
	}
	#deepfooter .dfooter-title {
		text-align: center;
		border-bottom: 0;
		padding-left: 0;
	}
	#deepfooter .dfooter-list {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		-ms-grid-row-align: stretch;
		align-items:  stretch;
		padding: 0;
		border-top: 1px solid #ccc;
		position: relative;
	}
	#deepfooter .dfooter-list:before,
	#deepfooter .dfooter-list:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		position: absolute;
		bottom: 1px;
		left: 0;
	}
	#deepfooter .dfooter-list:before {
		background: #ccc;
	}
	#deepfooter .dfooter-list:after {
		background: #fff;
		bottom: 0;
	}
	#deepfooter .dfooter-list > li {
		margin: 0;
		width: 50%;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #ccc;
	}
	#deepfooter .dfooter-list > li:nth-child(odd) {
		border-right: 1px solid #ccc;
	}
	#deepfooter .dfooter-list > li a {
		color: #555;
		display: block;
		padding: 8px 16px;
	}
	#deepfooter .grid5span.has-country > .col1span.lastcol {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0;
	}
	#deepfooter .grid5span.has-country > .col1span.lastcol .dfooter-title {
		width: 100%;
	}
	#deepfooter .lang,
	#deepfooter .country {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		width: 50%;
		text-align: center;
		padding: 8px 16px;
		margin: 0;
		position: relative;
	}
	#deepfooter .lang:before,
	#deepfooter .country:before {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		top: 0;
		background: #fff;
	}
	#deepfooter .lang a {
		display: block;
	}
	#deepfooter #country-select {
		border-top: 1px solid #fff;
		padding-top: 24px;
		width: 100%;
		text-align: center;
	}
	#deepfooter #country-select img {
		padding: 0;
		max-width: 232px;
		width: 100%;
	}
}
@media screen and (max-width:480px) {
	#deepfooter {
		display: none;
	}
}


/* =========================================================
 * @class Gig5: Module: Heading
** ====================================================== */
/* http://www.fujitsu.com/global/Images/provisional-common_tcm100-2553806.css */
.stage .maincontents h1 {
	font-size: 3.2rem;
	margin-bottom: 1.6rem;
	font-weight: normal;
	font-family: FujitsuSans, Arial, Verdana, "Lucida Grande", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", sans-serif;
}
.stage .maincontents h2 {
	font-size: 3.2rem;
	margin-bottom: 32px;
	font-weight: normal;
	font-family: FujitsuSans, Arial, Verdana, "Lucida Grande", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", sans-serif;
}
.stage .maincontents h3 {
	font-size: 2rem;
	margin-bottom: 1.6rem;
	font-weight: normal;
	font-family: FujitsuSans, Arial, Verdana, "Lucida Grande", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", sans-serif;
}
.stage .maincontents h4 {
	font-size: 1.8rem;
	margin-bottom: 1.6rem;
	font-weight: normal;
	font-family: FujitsuSans, Arial, Verdana, "Lucida Grande", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", sans-serif;
}
.stage .maincontents h5 {
	font-size: 1.6rem;
	margin-bottom: 1.6rem;
	font-weight: normal;
	font-family: FujitsuSans, Arial, Verdana, "Lucida Grande", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", sans-serif;
}
.stage .maincontents h6 {
	font-size: 1.6rem;
	margin-bottom: 1.6rem;
	font-weight: normal;
	font-family: FujitsuSans, Arial, Verdana, "Lucida Grande", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", sans-serif;
}
.stage #bodyarea.home .maincontents h1 {
	text-align: center;
}
.stage #bodyarea.home .maincontents h2 {
	text-align: center;
}
.stage #bodyarea.home .maincontents h4 {
	text-align: center;
}
.stage #bodyarea.home .maincontents h5 {
	text-align: center;
}
.stage #bodyarea.home .maincontents h6 {
	text-align: center;
}
