﻿
body {
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}

.pagewrap {
    width: 970px;
    margin: 0 auto;
}

#wotd {
    min-height: 315px;
    padding: 0px;
}

#contentSection {
    min-height: 370px;
}

#translate {
    min-height: 450px;
}

#translate section {
    display: inline-block;
}

#apps {
    min-height: 400px;
    padding: 24px 24px 24px 10px;
}

#irl {
    float: left;
    margin: 0 5px 5px;
    padding: 25px 5px 0;
}

#bloglist {
    float: left;
    height: 250px;
    width: 300px;
    padding: 5px;
}

.box {
    height: 250px;
    width: 300px;
    text-align: center;
}

.rect {
    float: right;
    position: relative;
    height: 290px;
    width: 300px;
    margin-right: 18px;
    margin-top: 60px;
    text-align: center;
    background: #f7f6f4;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.featureImagecontent {
    display: block;
    height: 102px;
    margin: 0 auto;
    padding: 0px;
}
#heroimage{
    position:relative;
    height:284px;
  box-shadow: inset 0 0.5px 10px 0 rgba(0, 0, 0, 0.25);
}
.heroimage {
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#3c7bbe;
    z-index:-1;
    background-position:50% 60%;
    border: 4px solid #3c7bbe;
    border-left: none;
    border-right: none;
}

.translateImage {
    margin-left: 40px;
    margin-top: 22px;
}

h1,
p,
h3 {
    margin: 0;
    padding: 0;
}

#wotdhdrtxt, #wotdhdrtxt-past {
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 30px;
}

.headertext {
    padding: 10px 20px 8px 10px;
    color: #3c7bbe;
    font-size: 30px;
    font-family: Helvetica;
}

.headertexttrans {
    padding-bottom: 0;
    padding-top: 55px;
}

.subhdrtrans {
    margin-left: 15px;
    color: #3c7bbe;
    font-size: 15px;
    font-family: verdana;
    line-height: 20px;
}

.editorpicktext {
    padding-bottom: 0;
}

.subhdr {
    display: block;
    color: #999;
    font-size: 15px;
    text-align: center;
    font-family: verdana;
    padding: 10px;
}

.headertextcrwd {
    padding-bottom: 0;
    padding-left: 0;
    font-size: 30px;
}

.blghdr {
    display: block;
    padding: 15px 10px 5px 10px;
    color: #999;
    font-size: 12px;
    text-align: left;
    font-family: verdana;
}

.headertextapps {
    padding-bottom: 5px;
    padding-left: 0;
    font-size: 30px;
}

.appssubhdr {
    width: 490px;
    padding-left: 0;
    color: #555;
    font-size: 17px;
    font-family: verdana;
    line-height: 20px;
}

.mobileappimg {
    margin-top: 15px;
}

.featurecontent {
    display: block;
    color: #555;
    font-size: 19px;
    text-align: center;
    font-family: verdana;
    line-height: 24px;
    padding:3px;
}

.content-full-width {
    width: 100%;
    border-bottom: solid 1px #ccc;
    background: #f7f6f4;
}
.apps-full{
    background: rgba(60,123,190,1);
    background: -moz-linear-gradient(top, rgba(60,123,190,1) 0%, rgba(101,205,246,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(60,123,190,1)), color-stop(100%, rgba(101,205,246,1)));
    background: -webkit-linear-gradient(top, rgba(60,123,190,1) 0%, rgba(101,205,246,1) 100%);
    background: -o-linear-gradient(top, rgba(60,123,190,1) 0%, rgba(101,205,246,1) 100%);
    background: -ms-linear-gradient(top, rgba(60,123,190,1) 0%, rgba(101,205,246,1) 100%);
    background: linear-gradient(to bottom, rgba(60,123,190,1) 0%, rgba(101,205,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c7bbe', endColorstr='#65cdf6', GradientType=0 );
}

.translate-full-width {
    width: 100%;
    border-bottom: solid 1px #ccc;
    background: url(../img/home/bg-small.png) no-repeat left top;
}

    .crossword-full-width {
        width: 100%;
        background: url(../img/home/bg-big.png) no-repeat right bottom #f7f6f4;
    }

    .wotd-full-width {
        width: 100%;
        border-bottom: solid 1px #ccc;
    }

.appscontent {
    display: inline-block;
    padding-left: 100px;
    padding-top: 15px;
    position:relative;
}

    .appscontent div,
    .srcval,
    .tgtval,
    .def {
        float: left;
    }

.sms {
    position: relative;
    min-height: 200px;
    min-width: 310px;
    width: 370px;
    margin: 15px 0 10px;
    background: #F7F6F4;
    border: solid 1px #ccc;
    border-radius: 5px;
}


.appbanner {
    padding: 20px;
    width:100%;
}

.nav {
    margin-top: 13px;
}

.bnrtxt {
    float: right;
    position: relative;
    left: -10px;
    color: #555;
    font-size: 12px;
    font-family: verdana;
    line-height: 17px;
}

.dotted {
    display: block;
    width: 30px;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 2px dotted #979797;
    text-align: center;
}
.grammar-tips .blog-dotted:not(:nth-child(2)){
        border-top:1px solid #e2e2e2;
}
.blog-dotted {
    width: 250px;
    margin-left: 10px;
    line-height: 40px;
}

.headerlinks {
    padding-top:15px;
    color: #3c7bbe;
    font-size: 11px;
    font-family: verdana;
}

.or {
    color: #999;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    font-family: verdana;
}

.readall {
    padding-right: 25px;
    padding-top: 11px;
    color: #3c7bbe;
    font-size: 11px;
    text-align: right;
    font-family: verdana;
}

.definition {
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica;
    position: relative;
    padding: 0px 22px 10px 10px;
    line-height: 21px;
    color: rgb(85, 85, 85);
}

.email-subscribe {
    width: 560px;
    padding-left: 8px;
    padding-top: 10px;
    color: #555;
    font-size: 16px;
    font-family: verdana;
}

.subscribetxt {
    padding: 5px;
    color: #999;
    font-size: 15px;
    text-align: center;
    font-family: verdana;
    line-height: 25px;
}
.emailboxdiv{
     display: inline-block;
}
.signup {
    display: inline-block;
    color: #ffffff;
    font-size: 11px;
    text-align: center;
    line-height: 32px;
    font-family: Helvetica;
    width:530px;
    height: 33px;
    cursor: pointer;
    background-color: #3c7bbe;
    text-align: center;
    vertical-align: middle;
    margin-top: 1px;
}

#dictionary-email-box-error {
    color: red;
    font-family: Verdana;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    padding-left: 14px;
}
.dictionary-email-box-successful{
    color:#6cb746 !important;
}

.boxad {
    float: right;
    position: relative;
    height: 250px;
    width: 300px;
    z-index: 1;
    right:-20px;
  width: 320px;
}

.grammarTips {
    margin-bottom: 21px;
    width: 300px;
    float: right;
    border-radius: 2px;
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    font-family: Roboto-Medium;
}

.grammarTips_header {
  padding-bottom: 10px;
  font-size: 22px;
  color: #4a90e2;
  text-align: center;
  padding-top: 10px;
}

a.grammarTips_link { 
    text-decoration: none; 
    text-align: center; 
    display: flex; 
    border-top: solid 0.5px #ededed; 
    font-size: 14px; 
    color: #4a90e2; 
    height: 46px; 
    width: 50%; 
    float: left; 
    border-right: solid 0.5px #ededed; 
    justify-content: center; 
    align-items: center; 
} 

.leaderboard {
    text-align: center;
    padding-top: 21px;
    padding-bottom: 21px;
}

.emailbox {
    width: 420px;
    margin: 4px;
    text-align: left;
    background: #f7f6f4;
    border: 1px solid #3c7bbe;
    height: 33px;
    padding-left: 10px;
    font-size: 12px;
    font-family: Helvetica;
    line-height: 25px;
    color: #3c7bbe;
}

.transform {
    display: flex;
}

.transrow {
    position: relative;
    margin-left: 0px !important;
    height: 55px;
}

.transtext {
    padding-left: 15px;
    padding-top: 26px;
    color: #555;
    font-size: 18px;
    font-family: verdana;
}

.swap-button {
    height: 46px;
    width: 40px;
    margin: auto;
    background: url(../img/home/Sprite-Sheet.png) no-repeat scroll -95px 7px;
    cursor: pointer;
}

    .swap-button .button {
        height: 46px;
    }

.translatearea-row {
    width: 410px;
    margin-top: 5px;
    padding-bottom: 15px;
}

.source-container button,
.target-container button {
    width: 180px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.source-container {
        position: absolute;
    width: 180px;
}
.swap-button {
    position: absolute;
    left: 185px;
}
.target-container {
        position: absolute;
    left: 230px;
}
.submit-container input {
    width: 141px;
    margin-top: 1px;
    background: #6cb746;
    border-radius: 0;
    font-family: Verdana;
    font-size: 11px;
    color:#ffffff;
}

.sourceArea {
    background-color: rgb(255, 255, 255);
    border-radius: 0;
}

.transimgtext {
    position: absolute;
    left: 25px;
    top: 125px;
    color: #3c7bbe;
    font-size: 28px;
    font-family: verdana;
}

.popularphrasetext {
    margin: 23px 18px 10px 18px;
    font-size: 16px;
    text-align: center;
    width: 200px;
    line-height: 22px;
}

.transmore {
    font-size: 12px;
    line-height: 3em;
}

    .crossword input {
        height: 30px;
        width: 300px;
        margin: 10px;
        color: #555;
        font-size: 11px;
        border: 0;
        box-shadow: inset 0 1px 3px 0 rgba(192,193,188,1);
        font-family: verdana;
    }

.crwdsearch {
    margin: 10px;
}

.crwddropdown {
    display: inline-block;
    border-radius: 0;
}

    .crwddropdown button {
        width: 90px;
        border-radius: 0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        text-align: left;
        height: 35px;
        position: relative;
        top: -3px;
    }

.crwdsearch-submit-button {
    height: 35px;
    width: 200px;
    color: #FFF;
    background: #3c7bbe;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    position: relative;
    top: -1px;
}

.sms-submit-button {
    height: 35px;
    width: 335px;
    color: #FFF;
    background: #3c7bbe;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.sms-submit-button-tick:before {
    content: '\2713';
    display: inline-block;
    color: #fff;
    padding: 0 6px 0 0;
}
.sendsms {
    width: 335px;
    padding-left: 15px;
    padding-bottom:5px;
}

.ipadapp {
        position: absolute;
    top: -35px;
    padding-left: 25px;
    right: -300px;
}

.audio-wrapper, .speaker {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 26px;
    background: url(../img/responsive/audio.png) no-repeat scroll 0 0;
    cursor: pointer;
}

.audiodata {
    position: relative;
    left: 20px;
    top: 5px;
}

.smsnumber {
    padding: 0 10px 10px 15px;
}

    .smsnumber input {
        display: inline-block;
        width: 280px;
    }

#userpincode {
    width: 50px;
}

.wotd-full-width,
.translate-full-width,
.content-full-width,
.apps-full-width,
.crossword-full-width {
    position: relative;
}
.apps-full-width{
    background: rgba(60,123,190,1);
    background: -moz-linear-gradient(top, rgba(60,123,190,1) 0%, rgba(101,205,246,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(60,123,190,1)), color-stop(100%, rgba(101,205,246,1)));
    background: -webkit-linear-gradient(top, rgba(60,123,190,1) 0%, rgba(101,205,246,1) 100%);
    background: -o-linear-gradient(top, rgba(60,123,190,1) 0%, rgba(101,205,246,1) 100%);
    background: -ms-linear-gradient(top, rgba(60,123,190,1) 0%, rgba(101,205,246,1) 100%);
    background: linear-gradient(to bottom, rgba(60,123,190,1) 0%, rgba(101,205,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c7bbe', endColorstr='#65cdf6', GradientType=0 );
    height: 164px;

}
q {
    quotes: \201C \201D \2018 \2019;
}

.dropdown-menu {
    overflow-y: scroll;
    max-height: 300px;
}

.transcaret {
    float: right;
    margin-top: 5px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px dashed;
}

.crwdcaret {
    margin: 5px 0px 0px 5px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px dashed;
    display: inline;
    /* left: 6px; */
    position: absolute;
    top: 8px;
    float: right;
    right: 5px;
}

.wotdmore {
background: url(../img/responsive/calendar.png) no-repeat scroll 0 0;
    height: 25px;
    display: inline-block;
    position: relative;
    left: 0px;
    top: 8px;
    width: 30px;
    margin-left: 5px;
}

.wotdfb {
    background-position: -20px -3px;
}

.wotdtwt {
    background-position: -40px -3px;
}

.dicticon-headerlink {
    font-family: verdana !important;
    padding-right: 10px;
    font-size: 13px;
    display:inline-block;
    margin-right:29px;
}

.blg-arrow {
    background: url(../img/home/Sprite-Sheet.png) no-repeat scroll -80px -3px;
    height: 13px;
    display: inline-block;
    position: relative;
    top: 12px;
    width: 20px;
    float: right;
}

.wotd-tabs {
    position: absolute;
    top: -17px;
}

ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    ul.tabs li {
        border-bottom: medium none;
        float: left;
        height: 50px;
        margin: 0;
        padding: 0.25em 0.4em;
        width: 40px;
    }
.wotd-title-tab{
        margin-left: 20px;
        display: inline-block;
        margin-top:17px;
}
.wotd-month{
    margin: auto;
    text-align: center;
    display: inline-block;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 11px;
}
.actual-wotd-day{
    display:inline-block;
    margin: 0 0 0 18px;
    vertical-align: middle;
}
.wotd-day{
    margin: auto;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
}
.wotd-prev{
    background: url(../img/responsive/prev.png) repeat scroll 0 0;
}
.wotd-prev:hover{
    background: url(../img/responsive/prevhover.PNG) repeat scroll 0 0;
}
.wotd-prev.disabled{
    background: url(../img/responsive/prevdisabled.png) repeat scroll 0 0;
}
.wotd-next{
    background: url(../img/responsive/next.png) repeat scroll 0 0;
}
.wotd-next:hover{
    background: url(../img/responsive/nexthover.png) repeat scroll 0 0;
}
.wotd-next.disabled{
    background: url(../img/responsive/nextdisabled.png) repeat scroll 0 0;
}
.separator-left{
    display:inline-block;
    margin-left: 0;
        margin-top: 8px;
    height:30px;
    border-left:1px solid rgba(255, 255, 255, 0.25);
}
.separator-right{
    display:inline-block;
    margin-right: 0;
        margin-top: 8px;
    height:30px;
    border-right:1px solid rgba(255, 255, 255, 0.25);
}
.tab-yst, .tab-quiz, .tab-wotd {
    background-color: #3c7bbe;
    color:white;
    filter: alpha(opacity=80);
}

    .tab-yst a, .tab-wotd a {
        padding-left: 3px;
    }
    .tab-wotd-main{
            width:227px !important;
            font-family: Verdana;
            font-size: 12px;
    }
    .tab-wotd {
    background-color: #3c7bbe;
    color:white;

    filter: alpha(opacity=80);
}
ul.tabs li a {
    color: #555555;
    font-family: Helvetica;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}

ul.tabs li.active {
    background-color: white;
    opacity: 1;
    filter: alpha(opacity=100);
    -o-transition: 0.6s;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

    ul.tabs li.active a {
        color: #555555;
    }

ul.tabs a {
    position: relative;
    top: 8px;
    left: 1px;
    outline: 0;
    z-index: 5;
}

.past-wotddef, .pastwotd {
    display: none;
}

.tab-quiz a {
    display: table-cell;
    height: 38px;
    top: -2px !important;
    vertical-align: middle;
    left: 3px !important;
    text-align: left;
    padding-left: 18px;
    width:70px;
}

@media screen and (max-width: 1150px) {

    #heroimage {
        padding-top: 0px;
    }
}

#fav, #like, #tweet, #archive {
    cursor: pointer;
}

.header-search-row {
    position: absolute;
    left: 0;
    right: 0;
    top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background: none;
}

.appssubhdr a {
    color: #428bca !important;
}

.sms-sent {
    font-family: verdana;
    position: relative;
    border: 1px solid red;
    padding: 10px;
    top: -5px;
    width: 335px;
    text-align: center;
    left: 4%;
    color:#ff0000;
    background-color:rgba(255, 0, 0, 0.09);
    display:none;
}

.back-to-top {
                                                                                                                                                 background: url(../img/home/Sprite-Sheet.png) no-repeat scroll top left;
    background-position: -137px 0px;
    height: 35px;
    width: 35px;
    position: fixed;
    bottom: -5px;
    right: 10%;
    display: none;
    z-index: 100;
}
.header-wrapper-row{
    width:auto;
}
.source-area-container{
    border:1px solid #6cb746;
}
.source-area-container textarea{
    min-height:96px;
    resize: none;
    background: rgb(248,252,246);
}

.source-area-container textarea::-webkit-input-placeholder {
    color: black;
}
.source-area-container textarea:-moz-placeholder {
    /* FF 4-18 */
    color: black;
}
.source-area-container textarea::-moz-placeholder {
    /* FF 19+ */
    color: black;
}
.source-area-container textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: black;
}

button:hover,input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{
    background-color:#6cb746;
}

.leaderboard-ad {
  width: 100%;
  color: #fff;
  font-size: 2em;
  text-align: center;
  min-height: 105px;
  padding: 0.5ex;
  top: 210px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

#dcomHomeTop-728x90.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1200px) {
    .dicticon-hamburger-menu.slide-element {
        position: absolute;
        top:inherit;
    }
    .dictionary-header, .thesaurus-header{
        position:relative;
    }
}
.morewotd{
        position: relative;
    top: 15px;
}
.def a{
    text-decoration: none;
}
.wotd-learn-more {
    color: #3c7bbe;
    position: absolute;
    float: left;
    padding-top: 40px;
    font-size: 12px;
    font-family: verdana;
    left: 10px;
}
/* Required for Down Triangle */
.wotd-full-width:before, .wotd-full-width:after,
.translate-full-width:before,.translate-full-width:after,
.content-full-width::before,.content-full-width:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
    z-index: 1;
  }

/* Stroke */
 .wotd-full-width:before,
 .translate-full-width:before,
 .content-full-width::before {
    bottom: -16px;
    left: 30%;/* If 1px darken stroke slightly */
    border-top-color: #ccc;
    border-width: 16px;
  }

  /* Fill */
.wotd-full-width:after,
.translate-full-width:after,
.content-full-width:after {
  bottom: -15px;
  left: 30%;
  border-top-color: #fff;
  border-width: 16px;
}
.content-full-width:after{
  bottom:;order-top-color:#f7f6f4;
}
.rect:after, .rect:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
}

.rect:after {
        border-color: rgba(0, 0, 0, 0);
        border-right-color: #f7f6f4;
        border-width: 20px;
        margin-top: -20px;
}
.rect:before {
        border-color: rgba(204, 204, 204, 0);
        border-right-color: #ccc;
        border-width: 21px;
        margin-top: -21px;
}
.sms:after, .sms:before {
        bottom: 100%;
        left: 10%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
}

.sms:after {
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: #f7f6f4;
        border-width: 20px;
        margin-top: -20px;
}
.sms:before {
        border-color: rgba(204, 204, 204, 0);
        border-bottom-color: #ccc;
           border-width: 22px;
    margin-top: -21px;
    margin-left: -2px;
}
.wotdfav{
    background: url(../img/responsive/star-grey.png) no-repeat scroll top left;
    height: 13px;
    width: 12px;
    }
.wotdfav:hover{
    background: url(../img/responsive/star.png) no-repeat scroll top left;
    height: 13px;
    width: 12px;
}

.on-fav-list{
    background: url(../img/responsive/star.png) no-repeat scroll top left !important;
}
.wotdfb {
    background: url(../img/responsive/facebook-grey.png) no-repeat scroll top left;
    height: 13px;
    width: 12px;
}

.wotdfb:hover {
    background: url(../img/responsive/facebook.png) no-repeat scroll top left;
    height: 13px;
    width: 12px;
}

.wotdgplus {
    background: url(../img/responsive/google-grey.png) no-repeat scroll top left;
    height: 13px;
    cursor: pointer;
    width: 20px;
}
.wotdgplus:hover {
    background: url(../img/responsive/google.png) no-repeat scroll top left;
    height: 13px;
    width: 20px;
}
.wotdtwt {
    background: url(../img/responsive/tweet-grey.png) no-repeat scroll top left;
    height: 13px;
    width: 15px;
}
.wotdtwt:hover {
    background: url(../img/responsive/tweet.png) no-repeat scroll top left;
    height: 13px;
    width: 15px;
}

/************************************************************************************
NEW HOMEPAGE
*************************************************************************************/
.large-article-image{
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-position: 50%;
}
.large-article-text{
    height: 80px;
}
.large-article-description{
    width:88%;
    margin:auto;
    font-family:Helvetica;
    font-size: 12px;
    line-height:20px;
    color: #555555;
}
.large-article-description .large-article-title{
    margin-top: 15px;
    font-family:Helvetica;
    font-size: 20px;
    margin-bottom:20px;
    font-weight: bold;
    color: #444444;
    height: 40px;
}

.large-article-description .large-article-read-more{
    color: #3c7bbe;
    margin-top: 20px;
}

.small-article-description{
  width: 100%;
  height: 220.5px;
  border-radius: 1px;
  background-color: #fafafa;
  box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0.3px;
  border-image-source: linear-gradient(NaNdeg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) 80%, rgba(0, 0, 0, 0.0) 95%, rgba(0, 0, 0, 0.0));
  border-image-slice: 1;
  margin-bottom:10px;
}

.small-article-text {
        width: 95%;
         font-family: Roboto-Regular;
        font-size: 8.3px;
        line-height: 1.9;
        color: rgba(0, 0, 0, 0.9);
        height: 40px;
        margin-left:5px;
        margin-top:3px;
    }


.small-article-description .small-article-title {
    font-family: Roboto-Regular;
    font-size: 12.8px;
    background-color:transparent;
    color: #FFFFFF;
    border:none;
    margin-left:5px;
}

.small-article-description .small-article-read-more{
    color: #3c7bbe;
    font-family: Roboto-Medium;
    font-size: 10.3px;
    color: #4a90e2;
    margin-top: 5px;
    margin-left:5px;
}

.small-article-image{
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-position: 50%;
}

.form-control{
    height:30px;
    padding:5px 12px;
    border: 1px solid #6cb746;
    color: #555555;
}

.grammar-tips{
    font-family: Helvetica, sans-serif;
    font-size:12px;
    color:#3c7bbe;
}
.grammar-tips p{
    font-family: Helvetica, sans-serif;
    font-weight:bold;
    font-size:20px;
    color:#444444;
}
.crosswordImage {
    float: right;
    height: auto;
    width: auto;
    margin-top: 20px;
}
.crossword{
    background-color: rgba(60, 123, 190, 0.2);
    border-top:4px solid #3c7bbe;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position: 240px 30px;
    background-position-y: 19%;
    z-index: -1;
    height:347px;
    font-family:Helvetica;
    font-size:12px;
    color:#3c7bbe;
}
.crossword-text{
    margin-left:20px;
    margin-right:20px;
}

.crossword-header{
    margin-top:25px;
    font-size:20px;
}
.crossword-description{
    line-height:19px;
    padding-top:43px;
}
.crossword-link{
font-family: Verdana;
    font-size: 11px;
    margin-top: 11px;
    line-height: 12px;
    display: inline-block;
    padding: 9px 20px;
    color: white;
    background-color: #3c7bbe;
    width: auto;
    margin-bottom: 20px;
    cursor: pointer;
}
a .crossword-link {
    text-decoration:none;
}
.crossword-down-text{
    margin-top:17px;
    line-height:19px;
    margin-bottom:12px;
}
.crossword-separation-line{
    height:1px;
    margin-top:51px;
    background-color:#3c7bbe;
}

.translateImage {
    float: right;
    height: auto;
    width: auto;
    margin-top: 20px;
}
.translate{
    background-color: rgba(108, 182, 69, 0.25);
    border-top:4px solid #6cb746;
    background-repeat: no-repeat;
    background-position: 170px 22px;
    background-position-x: 115%;
    background-position-y: 31%;
    z-index: -1;
    height:347px;
    font-family:Helvetica;
    font-size:12px;
    color:#6cb746;
}
.translate-header{
    margin-top:25px;
    font-size:20px;
}
.translate-description{
    line-height:19px;
    padding-top:43px;
    font-style: oblique;
}
.translate-link{
    font-family:Verdana;
    font-size:11px;
    margin-top:15px;
    display:inline-block;
    padding:8px 20px;
    color:white;
    text-decoration:none;
    margin-bottom:71px;
    background-color:#6cb746;
    width:auto;
    margin-bottom:20px;
}
.translate-text-container{
    margin-left:20px;
    margin-right:20px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
    padding-left: 10px;
    padding-right:10px;
}
.header-search-wrapper .dicticon-search-submit{
    color: white !important;
    background-color: #3c7bbe !important;;
}
.search-filter-nav .filter-item-active{
    color: white !important;
    background-color:#3c7bbe !important;
}

.search-filter-nav .dicticon-filter{
    color: white !important;
    background-color:#3c7bbe !important;
}
.header-search-wrapper{
  color: white !important;
  background: none;
}

.filter-list > li:hover {
    background: #3C7BBE !important;
    color:#ffffff !important;
}

.three-apps-image{
  height: 164px;
  margin: 0;
  padding: 0;
  display:table-cell;
  width: 339px;
  position: relative;
}

.three-apps-inner-conatiner{
  float: right;
  padding-top: 40px;
}

.app-appstore, .app-googlestore{
  display:inline;
  margin-right:10px;
}
.app-text{
  display:inline-block;
  width:455px;
  height:60px;
  font-family: VistaSlabOT-Light;
  font-size:24px;
  color:white;
  margin-bottom: 20px;
}
.apps-container{
  display:table-row;
}
.app-text-and-icons{
  display:table-cell;
  vertical-align: middle;
}

.app-text-and-icons .icons {
    display: inline-block;
}

.apps-container-upper{
  display: table;
  width: 920px;
  margin: 0 auto;
}

.dicticon-hp {
  max-width: 920px;
  width: 920px;
}
.mobile-product-store-apple {
    background-image: url('../img/responsive/appstore.png');
}
.mobile-product-button {
    width: 135px;
    height: 39px;
}
.mobile-product-button, .mobile-product-app-image {
    display: inline-block;
    background-repeat: no-repeat;
}

.mobile-product-store-android {
        background-image: url('../img/responsive/gplay.png');
}

.tab-word-main-link{
    top:0 !important;
}

.dictionary-app-icon {
  /*background: url("../../img/icon_dictionary.png") no-repeat center;*/
  height:72px;
  width:72px;
  border-radius: 10px;
  float: left;
  box-shadow: 0 2px 7.5px 0 rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}

.dynamo-app-icon {
  /*background: url("../../img/icon_word_dynamo.png") no-repeat center;*/
  height:72px;
  width:72px;
  border-radius: 10px;
  float: left;
  box-shadow: 0 2px 7.5px 0 rgba(0, 0, 0, 0.5);
}

.t-app-icon {
  /*background: url("../../img/icon_thesaurus_rex.png") no-repeat center;*/
  height:72px;
  width:72px;
  border-radius: 10px;
  float: left;
  box-shadow: 0 2px 7.5px 0 rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}
.emailbox-description{
    font-size: 12px;
    font-family: Helvetica;
    line-height: 25px;
    padding-left:4px;
    color: #3c7bbe;
}

@media (max-width: 769px) {
    .xs-hide {
        display: none;
    }

    .dicticon-hp {
        width: 750px !important;
    }

    .header-search-row, .apps-container-upper {
        width: 100% !important;
    }

    .apps-container-upper {
        padding-left: 34px !important;
    }

    .emailboxdiv {
        width: 71%;
    }

    .signup {
        display: block !important;
        margin-left: 4px;
    }

    .emailbox {
        width: 100%;
    }

    .crossword {
        background-size: 45%;
        background-position-x: 100%;
        background-position: 201px 15px;
        background-position-y: 26%;
    }

    .translatearea-row {
        width: 321px;
    }

    .source-container button, .target-container button {
        width: 137px;
    }

    .swap-button {
        left: 141px;
    }

    .target-container {
        left: 183px;
    }

    .app-text-and-icons {
        padding-left: 0;
    }

    .app-text {
        width: 404px;
    }
}
    /*TODO NEW JLG*/

.promo-article-row-title {
  text-align: center;
  height: 13.9px;
  font-family: Lato;
  font-size: 23px;
  color: #565656;
  margin-bottom: 11px;
}
.promo-article-row-underline {
  margin-bottom: 22px;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  border-bottom: solid 0.5px #979797;
}

.promo-article-row-underline span{
  z-index: 2;
  background-color: #f5f5f5;
  padding-left: 5px;
  padding-right: 5px;
}

.promo-article-row-title {
  margin-left:10px;
  width: 692px;
  text-align:center;
  height: 13.9px;
  font-family: Lato-Light;
  font-size: 11.5px;
  color: #565656;
  margin-bottom:5px;
}

/* new home page - font faces */
/* ARCHER */
@font-face {
  font-family: Archer-Bold-Pro;
  src: url("../../fonts/Archer/Archer-Bold-Pro.otf");
}

@font-face {
  font-family: Archer-BoldItal-Pro;
  src: url("../../fonts/Archer/Archer-BoldItal-Pro.otf");
}

@font-face {
  font-family: Archer-Book-Pro;
  src: url("../../fonts/Archer/Archer-Book-Pro.otf");
}

@font-face {
  font-family: Archer-BookItal-Pro;
  src: url("../../fonts/Archer/Archer-BookItal-Pro.otf");
}

@font-face {
  font-family: Archer-Hairline-Pro;
  src: url("../../fonts/Archer/Archer-Hairline-Pro.otf");
}

@font-face {
  font-family: Archer-HairlineItal-Pro;
  src: url("../../fonts/Archer/Archer-HairlineItal-Pro.otf");
}

@font-face {
  font-family: Archer-Light-Pro;
  src: url("../../fonts/Archer/Archer-Light-Pro.otf");
}

@font-face {
  font-family: Archer-LightItal-Pro;
  src: url("../../fonts/Archer/Archer-LightItal-Pro.otf");
}

@font-face {
  font-family: Archer-Medium-Pro;
  src: url("../../fonts/Archer/Archer-Medium-Pro.otf");
}

@font-face {
  font-family: Archer-MediumItal-Pro;
  src: url("../../fonts/Archer/Archer-MediumItal-Pro.otf");
}

@font-face {
  font-family: Archer-SembdItal-Pro;
  src: url("../../fonts/Archer/Archer-SembdItal-Pro.otf");
}

@font-face {
  font-family: Archer-Semibold-Pro;
  src: url("../../fonts/Archer/Archer-Semibold-Pro.otf");
}

@font-face {
  font-family: Archer-Thin-Pro;
  src: url("../../fonts/Archer/Archer-Thin-Pro.otf");
}

@font-face {
  font-family: Archer-ThinItal-Pro;
  src: url("../../fonts/Archer/Archer-ThinItal-Pro.otf");
}

@font-face {
  font-family: Archer-XLight-Pro;
  src: url("../../fonts/Archer/Archer-XLight-Pro.otf");
}

@font-face {
  font-family: Archer-XLightItal-Pro;
  src: url("../../fonts/Archer/Archer-XLightItal-Pro.otf");
}

/* LATO */
@font-face {
  font-family: Lato-Black;
  src: url("../../fonts/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: Lato-BlackItalic;
  src: url("../../fonts/Lato/Lato-BlackItalic.ttf");
}

@font-face {
  font-family: Lato-Bold;
  src: url("../../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: Lato-BoldItalic;
  src: url("../../fonts/Lato/Lato-BoldItalic.ttf");
}

@font-face {
  font-family: Lato-Hairline;
  src: url("../../fonts/Lato/Lato-Hairline.ttf");
}

@font-face {
  font-family: Lato-HairlineItalic;
  src: url("../../fonts/Lato/Lato-HairlineItalic.ttf");
}

@font-face {
  font-family: Lato-Italic;
  src: url("../../fonts/Lato/Lato-Italic.ttf");
}

@font-face {
  font-family: Lato-Light;
  src: url("../../fonts/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: Lato-LightItalic;
  src: url("../../fonts/Lato/Lato-LightItalic.ttf");
}

@font-face {
  font-family: Lato-Regular;
  src: url("../../fonts/Lato/Lato-Regular.ttf");
}

/* ROBOTO */
@font-face {
  font-family: Roboto-Black;
  src: url("../../fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: Roboto-BlackItalic;
  src: url("../../fonts/Roboto/Roboto-BlackItalic.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto-BoldItalic;
  src: url("../../fonts/Roboto/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: Roboto-Italic;
  src: url("../../fonts/Roboto/Roboto-Italic.ttf");
}

@font-face {
  font-family: Roboto-Light;
  src: url("../../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto-LightItalic;
  src: url("../../fonts/Roboto/Roboto-LightItalic.ttf");
}

@font-face {
  font-weight: normal;;
  font-family: Roboto-Medium;
  src: url("../../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-MediumItalic;
  src: url("../../fonts/Roboto/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url("../../fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-ThinItalic;
  src: url("../../fonts/Roboto/Roboto-ThinItalic.ttf");
}

/* ROBOTO-Condensed */
@font-face {
  font-family: RobotoCondensed-Bold;
  src: url("../../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}

@font-face {
  font-family: RobotoCondensed-BoldItalic;
  src: url("../../fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf");
}

@font-face {
  font-family: RobotoCondensed-Italic;
  src: url("../../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf");
}

@font-face {
  font-family: RobotoCondensed-Light;
  src: url("../../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf");
}

@font-face {
  font-family: RobotoCondensed-LightItalic;
  src: url("../../fonts/Roboto_Condensed/RobotoCondensed-LightItalic.ttf");
}

@font-face {
  font-family: RobotoCondensed-Regular;
  src: url("../../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

/* ROBOTO-Slab */
@font-face {
  font-family: RobotoSlab-Bold;
  src: url("../../fonts/Roboto_Slab/RobotoSlab-Bold.ttf");
}

@font-face {
  font-family: RobotoSlab-Light;
  src: url("../../fonts/Roboto_Slab/RobotoSlab-Light.ttf");
}

@font-face {
  font-family: RobotoSlab-Regular;
  src: url("../../fonts/Roboto_Slab/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family: RobotoSlab-Thin;
  src: url("../../fonts/Roboto_Slab/RobotoSlab-Thin.ttf");
}

/* VISTA Sans */
@font-face {
  font-family: VistaSansOT-Black;
  src: url("../../fonts/Vista Sans/VistaSansOT-Black.otf");
}

@font-face {
  font-family: VistaSansOT-Bold;
  src: url("../../fonts/Vista Sans/VistaSansOT-Bold.otf");
}

@font-face {
  font-family: VistaSansOT-BoldItalic;
  src: url("../../fonts/Vista Sans/VistaSansOT-BoldItalic.otf");
}

@font-face {
  font-family: VistaSansOT-Light;
  src: url("../../fonts/Vista Sans/VistaSansOT-Light.otf");
}

@font-face {
  font-family: VistaSansOT-LightItalic;
  src: url("../../fonts/Vista Sans/VistaSansOT-LightItalic.otf");
}

@font-face {
  font-family: VistaSansOT-Medium;
  src: url("../../fonts/Vista Sans/VistaSansOT-Medium.otf");
}

@font-face {
  font-family: VistaSansOT-Reg;
  src: url("../../fonts/Vista Sans/VistaSansOT-Reg.otf");
}

@font-face {
  font-family: VistaSansOT-RegItalic;
  src: url("../../fonts/Vista Sans/VistaSansOT-RegItalic.otf");
}

/* VISTA Slab */
@font-face {
  font-family: VistaSlabOT-Bold;
  src: url("../../fonts/Vista Slab/VistaSlabOT-Bold.otf");
}

@font-face {
  font-family: VistaSlabOT-Light;
  src: url("../../fonts/Vista Slab/VistaSlabOT-Light.otf");
}

@font-face {
  font-family: VistaSlabOT-Reg;
  src: url("../../fonts/Vista Slab/VistaSlabOT-Reg.otf");
}

/* new home css parts */
.logo {
  background: url("../../images/DCom-Background-Logo@2x.png") no-repeat right;
  background-size: contain;
  width: 440px;
  height: 240px;
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  right: 0;
}

.article-promo {
  text-align: center;
  height: 12.9px;
  font-family: Lato;
  font-size: 20px;
  color: #565656;
  margin-bottom: 25px;
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 10px;
  border-bottom: solid 0.5px #979797;
}

.article-promo span {
  z-index: 2;
  background-color: #f5f5f5;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Lato-Light;
  color: #565656;
}

.article-card {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
  display: block;
  border: 0.6px solid;
  border-image-source: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
  border-image-slice: 1;
}

.article-card:hover {
  text-decoration: none;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border-image-source: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
}

.article-card:focus {
  text-decoration: none;
}

.article-img {
  width: 100%;
  height: 240px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.article-title {
  position: absolute;
  top: 0;
  font-family: Roboto-Regular;
  font-size: 20px;
  line-height: 1.1;
  color: #ffffff;
}

.article-title-wrapper {
  display: table-cell;
  vertical-align: bottom;
  height: 241px;
  width: 285px;
}

.article-title-wrapper > span {
  height: 70px;
  display: table-cell;
  width: 287px;
  vertical-align: bottom;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #323232);
  padding-bottom: 10px;
  padding-left: 10px;
}

.article-description {
  background-color: #fafafa;
  padding: 10px;
  font-family: Roboto-Regular;
  font-size: 12px;
  line-height: 1.9;
  color: rgba(0, 0, 0, 0.9);
  height: 64px;
}

.article-read-more {
  background-color: #fafafa;
  border-top: solid 0.5px rgba(0, 0, 0, 0.1);
  font-family: Roboto-Medium;
  font-size: 12px;
  color: #4a90e2;
  padding-left: 10px;
  text-align: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.article-read-more > span {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 8px;
  font-size: 12px;
  text-transform: uppercase;
}

html, body {
  background-color: #f5f5f5;

}

.header-wrapper-row {
  text-align: center;
}

.header-search-wrapper {
  float: none;
}

.home-header-searchbox-wrapper {
  width: 470px;
  height: 55px;
}

.home-header-searchbox-wrapper .search-input {
  width: 390px;
  height: 55px;
  margin: 0px;
  border-radius: 3px 0 0 3px;
  border: 0px;
  font-family: Roboto-Light;
  color: #6d6d6d;
  padding: 0 16px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 0.5px 1px 0 rgba(0, 0, 0, 0.2);
}

.home-header-searchbox-wrapper .dicticon-search-submit {
  width: 80px;
  height: 55px;
  background: url("../../images/search-icon@2x.png") no-repeat center;
  background-color: #E6E6E6 !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-header-searchbox-wrapper .dicticon-search-submit:before {
  content: normal;
}

.home-header-search-options {
  font-size: 20px;
  text-align: left;
  position: relative;
  font-family: Roboto-Light;
}

.home-header-search-options .filter-item {
  margin-left: 90px;
  position: relative;
  padding-top: 20px;
  float: left;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.home-header-search-options .filter-item-active {
  margin-left: 90px;
  position: relative;
  padding-top: 20px;
  float: left;
  cursor: pointer;
}

.home-header-search-options:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 115px;
  top: -1px;
  border-top: solid 18px white;
  border-left: solid 18px transparent;
  border-right: solid 18px transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home-header-search-options.slide:before {
  left: 305px;
}

.wotd-subscribe-modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 110px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.wotd-subscribe-modal-content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  width: 400px;
  border-radius: 5px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -500px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -500px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.wotd-subscribe-close {
  background: url("../../images/combined-shape-copy@2x.png") no-repeat center;
  float: left;
  opacity: 0.8;
  margin: 14px;
  font-weight: normal;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.wotd-subscribe-envelope {
  height: 260px;
  width: 100%;
  background: #5f92ca url("../../images/group-2-copy-2@2x.png") no-repeat center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wotd-subscribe-content-text {
  padding: 25px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wotd-subscribe-content-text .title {
  font-family: VistaSlabOT-Reg;
  font-size: 26px;
  margin-bottom: 15px;
  text-align: center;
  color: #5e5e5e;
}

.wotd-subscribe-content-text .title.subscribed {
  display: none;
}

.wotd-subscribe-content-text .subscription-text {
  font-family: Lato-Regular;
  margin-bottom: 15px;
  font-size: 15px;
  color: #686868;
}

.wotd-subscribe-content-text .subscription-text.subscribed {
  display: none;
}

.wotd-error-text {
  font-family: Roboto-Regular;
  text-align: center;
  font-size: 12px;
  color: #d32f2f;
  display: none;
}

.wotd-subscribe-form .subscribe-input {
  width: 100%;
  background-color: #eeeeee;
  border: 0px;
  border-bottom: 3px #d0d0d0 solid;
  margin-bottom: 15px;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  color: #5e5e5e;
}

.wotd-subscribe-form .subscribe-input:focus {
  outline: none;
  border-bottom: 3px #5f92ca solid;
}

.wotd-subscribe-form .buttons {
  font-family: Roboto-Medium;
  font-size: 15px;
}

.wotd-subscribe-form .buttons .done {
  margin-left: 16px;
  background-color: #d3d3d3;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  width: 320px;
  height: 40px;
  padding: 0px;
  border: 0px;
  border-radius: 3px;
  display: none;
}

.wotd-subscribe-form .buttons .submit {
  margin-left: 16px;
  background-color: #5f92ca;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  width: 320px;
  height: 40px;
  padding: 0px;
  border: 0px;
  border-radius: 3px;
}

.wotdHolder {
  margin-right: 27px;
  height: 405px;
  font-family: Roboto-Regular;
}

.wotdHolder_box {
  border-radius: 2px;
  background-color: white;
  height: 320px;
  margin-bottom: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), -2px -2px 15px 0 rgba(0, 0, 0, 0.1);
}

.wotdHolder_content {
  height: 320px;
  overflow: hidden;
  float: left;
  margin-left: 25px;
  width: 55%;
}

.wotdHolder_word:hover {
  text-decoration: none;
}
.wotdHolder_word {
  font-family: VistaSlabOT-Reg;
  height: 73px;
  color: #3a76b6;
  padding-top: 27px;
  text-decoration: none;
  display: inline-block;
}

.wotdHolder_word-big {
  font-size: 50px;
}

.wotdHolder_word-medium {
  font-size: 41px;
}

.wotdHolder_word-small {
  font-size: 27px;
  line-height: 41px;
}

.wotdHolder_audio {
  background: #6a97c7 url("../../images/sound-icon@2x.png") no-repeat center;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  display: block;
  float: right;
  margin-top: 27px;
}

.wotdHolder_extra {
  font-size: 18px;
  height: 20px;
  font-family: Roboto-Medium;
  color: #6395cb;
  margin-top: 14px;
  margin-bottom: 24px;
}

.wotdHolder_extra-big {
  /*font-size: 16px;*/
}

.wotdHolder_extra-medium {
  /*font-size: 15px;*/
}

.wotdHolder_extra-small {
  /*font-size: 12px;*/
}

.wotdHolder_extra span:first-child:after {
  content: '|';
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.wotdHolder_definitions {
  font-family: VistaSlabOT-Light;
  font-size: 14px;
  color: #222222;
  line-height: 1.4;
}

.wotdHolder_more{
  color: #222222;
  text-decoration: underline;
  font-weight: normal;
  font-style: normal;
}

.wotdHolder_definitions span {
  display: inline-block;
  width: 90%;
  margin-bottom: 10px;
}

.wotdHolder_definitions span:first-child {
  font-weight: bold;
  width: 8%;
  vertical-align: top;
}

.wotdHolder_days {
  float: left;
  list-style: none;
  padding: 0;
  width: 160px;
  height: 330px;
  margin-bottom: 0;
}

.wotdHolder_date {
  font-size: 22px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 13px;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 1px 2.5px 0 rgba(0, 0, 0, 0.11);
}

[data-wotd="0"] {
  border-bottom-left-radius: 2px;
}

[data-wotd="4"] {
  border-top-left-radius: 2px;
}

.wotdHolder_date .wotdHolder_day {
  -webkit-transition: font-size 0.2s linear;
  -moz-transition: font-size 0.2s linear;
  -o-transition: font-size 0.2s linear;
  -ms-transition: font-size 0.2s linear;
  transition: font-size 0.2s linear;
}

.wotdHolder_date .wotdHolder_month {
  -webkit-transition: font-size 0.2s linear;
  -moz-transition: font-size 0.2s linear;
  -o-transition: font-size 0.2s linear;
  -ms-transition: font-size 0.2s linear;
  transition: font-size 0.2s linear;
}

.wotdHolder_day {
  display: block
}

.wotdHolder_month {
  display: none;
}

.wotdHolder_day-0 {
  color: #3a76b6;
  background-color: white;
  box-shadow: none;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;

}

.wotdHolder_day-0 .wotdHolder_month {
  display: block;
  font-size: 18px;
  padding-bottom: 14px;
  padding-top: 10px;
  text-transform: uppercase;
}

.wotdHolder_day-0 .wotdHolder_day {
  font-size: 50px;
  margin-top: 15px;
}

.wotdHolder_day-1 {
  background-color: #b1cae5;
}

.wotdHolder_day-2 {
  background-color: #8ab0d8;
}

.wotdHolder_day-3 {
  background-color: #6395cb;
}

.wotdHolder_day-4 {
  background-color: #3a76b6;
}

.wotdHolder_subscribe {
  height: 61px;
  border-radius: 3px;
  background-color: #5f92ca;
  box-shadow: 0 5px 10px 0.5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-align: center;
  line-height: 61px;
  cursor: pointer;
}

.wotdHolder_sharing {
  float: right;
  width: 62px;
  height: 100%;
  border-radius: 2px;
  background-color: #f5f5f5;
  box-shadow: inset 6px 0px 13px -5px rgba(0, 0, 0, 0.11);
}

.wotdHolder_share_email {
  background: url("../../images/shape-copy-8@2x.png") no-repeat center;
  height: 80px;
  width: 62px;
  border-bottom: solid 1px #e0e0e0;
  display: block;
}

.wotdHolder_share_email:hover {
  background: #dd4b39 url("../../images/shape-copy-8@2x copy.png") no-repeat center;
}

.wotdHolder_share_twitter {
  background: url("../../images/shape-copy-6@2x.png") no-repeat center;
  height: 80px;
  width: 62px;
  border-bottom: solid 1px #e0e0e0;
  display: block;
}

.wotdHolder_share_twitter:hover {
  background: #55acee url("../../images/shape-copy-6@2x copy.png") no-repeat center;
}

.wotdHolder_share_facebook {
  background: url("../../images/shape-copy-7@2x.png") no-repeat center;
  height: 80px;
  width: 62px;
  border-bottom: solid 1px #e0e0e0;
  display: block;
}

.wotdHolder_share_facebook:hover {
  background: #3b5998 url("../../images/shape-copy-7@2x copy.png") no-repeat center;
}

.wotdHolder_share_instagram {
  background: url("../../images/shape-copy-5@2x copy.png") no-repeat center;
  height: 80px;
  width: 62px;
  display: block;
  text-indent: -9999px;
  cursor: pointer;
}

.wotdHolder_share_instagram:hover {
  background: #3f729b url("../../images/shape-copy-5@2x.png") no-repeat center;
}

.baz-navigation {
  height: 35px;
  list-style: none;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.baz-navigation ol {
  display: inline-block;
}

.baz-navigation li {
  width: 25px;
  height: 25px;
  background:  #5f92ca;
  border-radius: 50%;
  float: left;
  margin: 5px 7px 0 0;
  font-family: Lato-Bold;
  font-size: 13.6px;
  text-align: center;
  line-height: 25px; 
}

.baz-navigation li:hover {
  font-size: 16px;
  line-height: 35px;
  width: 35px;
  height: 35px;
  margin: 0 2px 0 -5px;
}

.baz-navigation li a {
  color: #ffffff;
  display: block;
}

.baz-navigation li a:hover, .baz-navigation li a:focus {
  text-decoration: none;
}

.mobile-product-button-ios {
    background: url("../../images/btn_app_store.png") no-repeat center;
    width: 153px;
    height: 50px;
    float: left;
}

.mobile-product-button-android {
    background: url("../../images/btn_google_play.png") no-repeat center;
    width: 153px;
    height: 50px;
    float: left;
    margin-left: 50px;
}

.animation_wrapper {
  height: 960px;
  top: -320px;
  position: relative;

  /*-webkit-transition: all 0.2s linear;*/
  /*-moz-transition: all 0.2s linear;*/
  /*-o-transition: all 0.2s linear;*/
  /*-ms-transition: all 0.2s linear;*/
  /*transition: all 0.2s linear;*/
}

.animation_element-top {
  height: 320px;
  overflow: hidden;
}

.animation_element-middle {
  height: 320px;
  overflow: hidden;
}

.animation_element-bottom {
  height: 320px;
  overflow: hidden;
}

.header-nav-row {
  overflow: visible;
}

.header-main-nav .nav-active {
    position: relative;
    height: 50px;
    z-index: 3;
}

.meta-description {
    text-align: center;
    margin: auto auto 50px auto;
    width: 920px;
    height: 44px;
    font-family: Roboto-Regular;
    font-size: 12px;
    line-height: 1.57;
    color: #000000;
    padding: 0px 15px;
}