@charset "euc-jp";

/*-------------------------------------------------------------------
 *
 * File Name   : base.css
 *
-------------------------------------------------------------------*/

/* Table Of Contents
------------------------------------------
HTML
Hyperlink
form
Header Area
SearchBox
Module
Global Footer Area
Clearfix
------------------------------------------ */

/* =================================================================

	Html

================================================================= */
html{
	height:100%;
	overflow-y:scroll;
}

/* =================================================================

	Body

================================================================= */
body{
	min-width:980px;
	height:100%;
	background:#FFF;
	color:#333;
	font-size:12px;
	line-height:1.6;
	-webkit-font-smoothing:subpixel-antialiased;
	-webkit-text-size-adjust:100%;
}
#frame {
    position: relative;
    z-index: 0;
}

/* =================================================================

	Hyperlink

================================================================= */
a:link,
a:visited{
	color:#006AD6;
	text-decoration:none;
}
a:hover,
a:active{
	color:#FF9600;
	text-decoration:underline;
}

/* =================================================================

	form

================================================================= */
input,
textarea{
	color:#333;
}
::-webkit-input-placeholder{
	color: #BBB;
}
::-moz-placeholder{
	color: #888;
}
:-moz-placeholder{
	color: #888;
}
:-ms-input-placeholder{
	color: #BBB;
}
input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0px 1000px #F3F3F3 inset;
}

/* =================================================================

	Header Area

================================================================= */
#headrArea{
	position:relative;
	z-index:1;
	width:100%;
	margin-bottom:20px;
}

/* headProfBox */
#headrArea .headProfBox{
	overflow:hidden;
	width:980px;
	height:32px;
	margin:0 auto;
}
#headrArea .headProfBox .profInfo{
	float:left;
	width:auto;
	height:28px;
	border:2px solid #FEB803;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) #FEB803 no-repeat 6px 4px;
}
#headrArea .headProfBox .profInfo p{
	position:relative;
	height:23px;
	margin-left:38px;
	padding:5px 40px 0 20px;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) #FFF no-repeat 0 -42px;
}
#headrArea .headProfBox .profInfo p a{
	height:28px;
	padding:0;
}
#headrArea .headProfBox .profInfo p .naviCount{
	position:absolute;
	top:4px;
	right:15px;
	display:block;
	width:13px;
	height:18px;
	padding:1px 0 0 6px;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 0 -95px;
	color:#FFF;
}

/* profInfoBox */
#headrArea .profInfo .profInfoBox{
	display:none;
	position:absolute;
	top:30px;
	left:20%;
	padding:3px;
	background:url(http://x1.afimg.jp/image/contents/infobox_bg.png) repeat 0 0;
	border-radius:4px;
	z-index:100;
}
#headrArea .profInfo:hover .profInfoBox{
	display:inherit;
}
#headrArea .profInfo .profInfoBox ul li{
	background:#FFF;
	border-radius:4px;
}
#headrArea .profInfo .profInfoBox ul li a{
	display:block;
	margin-top:2px;
	padding:5px 20px;
}
#headrArea .profInfo .profInfoBox ul li:first-child a{
	margin-top:0;
}
#headrArea .headProfBox .userName{
	float:right;
	width:300px;
	height:26px;
	padding:6px 0 0 0;
	color:#333;
	text-align:right;
}

/* headSummaryBox */
#headrArea .headSummaryBox{
	overflow:hidden;
	height:32px;
	background:#98CF36;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}
#headrArea .headSummaryBox .headSummaryBoxInner{
	width:980px;
	margin:0 auto;
}
#headrArea .headSummaryBox p.summaryTxt{
	float:left;
	width:510px;
	padding-top:8px;
	color:#FFF;
}
#headrArea .headSummaryBox ul.loginBlock{
	float:right;
	padding:3px 0;
	height:26px;
}
#headrArea .headSummaryBox ul.loginBlock li{
	display:inline-block;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 0 -141px;
}
#headrArea .headSummaryBox ul.loginBlock li a{
	display:block;
	height:22px;
	padding:4px 15px 0 10px;
}
#headrArea .headSummaryBox ul.loginBlock li a,
#headrArea .headSummaryBox ul.loginBlock li a:visited{
	color:#FFF;
	text-decoration:underline;
}
#headrArea .headSummaryBox ul.loginBlock li a:hover{
	text-decoration:none;
}
#headrArea .headSummaryBox ul.loginBlock li.atentTxt{
	height:26px;
	padding-right:15px;
}
#headrArea .headSummaryBox ul.loginBlock li.atentTxt a{
	height:22px;
	padding:4px 15px 0 15px;
	background:#E72E3B;
	border-radius:4px;
	font-weight:bold;
}
#headrArea .headSummaryBox ul.loginBlock li.atentTxt a:hover{
	background:#FEB803;
}

/* headNaviBox */
#headrArea .headNaviBox{
	width:980px;
	margin:15px auto 0 auto;
}
#headrArea .headNaviBox ul{
	text-align:right;
}
#headrArea .headNaviBox li:before{
    color: #DDD;
    content: "|";
    margin: 0 0.8em 0 0.5em;
}
#headrArea .headNaviBox li:first-child:before{
    content: "";
	margin:0;
}
#headrArea .headNaviBox li{
	display:inline;
	font-size:11px;
}
#headrArea .headNaviBox li a{
	color:#666;
	text-decoration:underline;
}
#headrArea .headNaviBox li a:hover{
	color:#FF9600;
	text-decoration:none;
}


/* =================================================================

	SearchBox

================================================================= */
#searchBox{
	position:relative;
	width:980px;
	margin:0 auto;
}
#searchBox h1{
	margin-top:10px;
}

/* -----------------------------------------------------------------
	selectTabBlock
----------------------------------------------------------------- */
#searchBox #selectTabBlock{
	position:absolute;
	top:22px;
	left:280px;
}
#searchBox #selectTabBlock ul{
	display:table;
	width:570px;
}
#searchBox #selectTabBlock li{
	display:table-cell;
	font-size:14px;
}
#searchBox #selectTabBlock li a{
	position:absolute;
	display:block;
	height:33px;
	padding:10px 0 0 40px;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
}
#searchBox #selectTabBlock li a#alias1{
	width:160px;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 0 -194px;
}
#searchBox #selectTabBlock li a#alias2{
	left:200px;
	width:155px;
	margin-left:10px;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 0 -267px;
}
#searchBox #selectTabBlock li a#alias3{
	left:405px;
	width:115px;
	margin-left:10px;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 0 -340px;
}
#searchBox #selectTabBlock li a#alias1.on,
#searchBox #selectTabBlock li a#alias2.on,
#searchBox #selectTabBlock li a#alias3.on,
#searchBox #selectTabBlock li a#alias1:hover,
#searchBox #selectTabBlock li a#alias2:hover,
#searchBox #selectTabBlock li a#alias3:hover{
	top:-6px;
}
/* -----------------------------------------------------------------
	headSearchBox
----------------------------------------------------------------- */
#headSearchBox{
	display:;
	position:fixed;
	top:0;
	width:100%;
	height:70px;
	z-index:100;
	background:url(http://x1.afimg.jp/image/common/topsearch_bg.png) repeat 0 0;
}
#headSearchBox .headSearchBoxInner{
	width:980px;
	margin:0 auto;
	padding:15px 0;
}
/* siteLogo */
#headSearchBox .headSearchBoxInner .siteLogo{
	display:inline-block;
	margin-right:30px;
	vertical-align:middle;
}

/* selectable */
#headSearchBox #selectable{
	position:relative;
	display:inline-block;
	width:190px;
	height:36px;
	margin-right:8px;
	border:1px solid #AAA;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) #FFF no-repeat 175px -458px;
	vertical-align:top;
}
#headSearchBox #selectable select{
	position:relative;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
#headSearchBox #selectable .selectAlt{
	position:absolute;
	top:0;
	left:0;
	width:180px;
	height:26px;
	padding:10px 0 0 10px;
	font-size:11px;
	z-index:50;
	cursor:pointer;
}
#headSearchBox #selectable ul.selectList{
	position:absolute;
	top:40px;
	left:0;
	width:180px;
	padding:5px;
	background:#FFF;
	border:1px solid #EEE\9; /* IE8???*/
	box-shadow:1px 2px 4px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow:1px 2px 4px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:1px 2px 4px 1px rgba(0,0,0,0.1);
	border-radius:5px;
	font-size:11px;
	z-index:50;
}
#headSearchBox #selectable ul.selectList li a{
	display:block;
	padding:0 0 0 20px;
	border-radius:2px;
	line-height:2;
	text-decoration:none;
}
#headSearchBox #selectable ul.selectList li a.selected{
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 5px -892px;
}
#headSearchBox #selectable ul.selectList li a.selected:hover{
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) #FEC966 no-repeat -180px -892px;
	color:#FFF;
}
#headSearchBox #selectable ul.selectList li a:hover{
	background:#FEC966;
	color:#FFF;
}

/* searchFrame */
#headSearchBox #searchFrame{
	display:inline-block;
	width:438px;
	height:32px;
	margin-right:15px;
	padding:2px 1px 2px 2px;
	background:#FFF;
}

/* searchInput */
#headSearchBox #searchFrame input.searchInput{
	width:353px;
	height:22px;
	padding:5px 10px;
	border:0;
	font-size:14px;
	vertical-align:top;
}

/* searchButton */
#headSearchBox #searchFrame button.searchButton{
	width:60px;
	height:32px;
	border:0;
	cursor:pointer;
}
#headSearchBox #searchFrame button.searchButton{
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 0 -413px;
}
#headSearchBox #searchFrame button.searchButton span{
	visibility:hidden;
}

/* detailSearch */
#headSearchBox .detailSearch{
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
}
#headSearchBox .detailSearch a{
	padding-left:20px;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 0 -546px;
	color:#FFF;
	text-decoration:underline;
	width:135px;
	height:38px;
}
#headSearchBox .detailSearch a:hover{
	text-decoration:none;
}

/* -----------------------------------------------------------------
	formBlock
----------------------------------------------------------------- */
#formBlock{
	margin-top:20px;
	padding:15px 100px;
	background:#FBFFF3;
	position:relative;
	z-index:2;
}
#formBlock.alias1{
	background:#FBFFF3;
	border:1px solid #A5DB46;
}
#formBlock.alias2{
	background:#FFFFF3;
	border:1px solid #FEB803;
}
#formBlock.alias3{
	background:#FFFFF3;
	border:1px solid #68BAFA;
}

/* selectable */
#formBlock #selectable{
	position:relative;
	display:inline-block;
	width:165px;
	height:38px;
	margin-right:8px;
	border:1px solid #AAA;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) #FFF no-repeat 152px -458px;
	vertical-align:top;
}
#formBlock #selectable select{
	position:relative;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
#formBlock #selectable .selectAlt{
	position:absolute;
	top:0;
	left:0;
	width:155px;
	height:28px;
	padding:10px 0 0 10px;
	font-size:11px;
	z-index:50;
	cursor:pointer;
}
#formBlock #selectable ul.selectList{
	overflow-y: scroll;
	position:absolute;
	top:42px;
	left:0;
	width:170px;
	height: 285px;
	padding:5px;
	background:#FFF;
	border:1px solid #EEE\9; /* IE8*/
	box-shadow:1px 2px 4px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow:1px 2px 4px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:1px 2px 4px 1px rgba(0,0,0,0.1);
	border-radius:5px;
	font-size:11px;
	z-index:50;
}
#formBlock #selectable ul.selectList li a{
	display:block;
	padding:0 0 0 20px;
	border-radius:2px;
	line-height:2;
	text-decoration:none;
	width:135px;
}
#formBlock #selectable ul.selectList li a.selected{
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 5px -892px;
}
#formBlock #selectable ul.selectList li a.selected:hover{
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) #FEC966 no-repeat -180px -892px;
	color:#FFF;
}
#formBlock #selectable ul.selectList li a:hover{
	background:#FEC966;
	color:#FFF;
}

/* searchFrame */
#formBlock.alias1 #searchFrame{
	display:inline-block;
	width:590px;
	height:32px;
	padding:1px 0 1px 1px;
	background:#FFF;
	border:3px solid #70C328;
}
#formBlock.alias2 #searchFrame{
	display:inline-block;
	width:590px;
	height:32px;
	padding:1px 0 1px 1px;
	background:#FFF;
	border:3px solid #FEB803;
}
#formBlock.alias3 #searchFrame{
	display:inline-block;
	width:590px;
	height:32px;
	padding:1px 0 1px 1px;
	background:#FFF;
	border:3px solid #68BAFA;
}

/* searchInput */
#formBlock #searchFrame input.searchInput{
	width:505px;
	height:22px;
	padding:5px 10px;
	border:0;
	font-size:14px;
	vertical-align:top;
}

/* searchButton */
#searchFrame button.searchButton{
	width:60px;
	height:32px;
	border:0;
	cursor:pointer;
}
#formBlock.alias1 #searchFrame button.searchButton{
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 0 -413px;
}
#formBlock.alias2 #searchFrame button.searchButton{
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat -60px -413px;
}
#formBlock.alias3 #searchFrame button.searchButton{
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat -120px -413px;
}
#searchFrame button.searchButton span{
	visibility:hidden;
}


/* -----------------------------------------------------------------
	searchOption
----------------------------------------------------------------- */
#searchOption{
	position: relative;
	width: 100%;
	margin-top:10px;
	text-align:right;
}
#searchOption .colKeywords{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 640px;
	text-align: left;
	white-space: nowrap;
}
#searchOption .colKeywords .colKeywordsHd,
#searchOption .colKeywords .colKeywordsList,
#searchOption .colKeywords .colKeywordsList > li{
	display: inline-block;
}
#searchOption .colKeywords .colKeywordsList > li{
	display: inline-block;
	margin-left: 12px;
}
#searchOption .colKeywords .colKeywordsList > li a{
	display: inline-block;
	font-weight: bold;
}
#searchOption .colKeywords .colKeywordsList > li:first-child{
	margin-left: 0;
}
#searchOption .colCombined{
	display:inline-block;
}
#searchOption .colCombined dl dt,
#searchOption .colCombined dl dd{
	display:inline-block;
}
#searchOption .colCombined dl dd:before{
    color: #CCC;
    content: "|";
    margin: 0 0.5em 0 0.4em;
}
#searchOption .colCombined dl dd:first-child:before{
    content: "";
	margin:0;
}
#searchOption .colCombined dl dd a{
	color:#666;
	text-decoration:underline;
}
#searchOption .colCombined dl dd a:hover{
	color:#FF9600;
	text-decoration:none;
}
#searchOption .colCombined dl dd a.selected{
	padding:0 5px;
	background:#BBB;
	border-radius:2px;
	color:#FFF;
	text-decoration:none;
}
#searchOption .colDetailed{
	display:inline-block;
	margin-left:20px;
}
#searchOption .colDetailed a{
	display:block;
	padding-left:17px;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 0 -507px;
	color:#333;
	text-decoration:underline;
}
#searchOption .colDetailed a:hover{
	color:#FF9600;
	text-decoration:none;
}


/* =================================================================

	Module

================================================================= */

/* -----------------------------------------------------------------
	#recServiceBox
----------------------------------------------------------------- */
#recServiceBox{
	clear:both;
	padding:20px 0;
	border-top:1px solid #EEE;
}
#recServiceBox .recServiceBoxInner{
	width:980px;
	margin:0 auto;
}
#recServiceBox .recServiceBoxInner h3{
	margin-bottom:20px;
	font-size:16px;
	font-weight:bold;
}
#recServiceBox .recServiceBoxInner .listBlock{
	overflow:hidden;
	margin-bottom:10px;
}
#recServiceBox .recServiceBoxInner .listBlock li{
	float:left;
	overflow:hidden;
	width:310px;
	margin-left:25px;
}
#recServiceBox .recServiceBoxInner .listBlock li:first-child{
	margin-left:0;
}
#recServiceBox .recServiceBoxInner .listBlock li p{
	float:left;
}
#recServiceBox .recServiceBoxInner .listBlock li dl{
	float:left;
	width:190px;
	margin-left:10px;
}
#recServiceBox .recServiceBoxInner .listBlock li dl dt a{
	display:block;
	margin-bottom:5px;
	font-weight:bold;
	line-height:1.3;
}
#recServiceBox .recServiceBoxInner .listBlock li dl dd{
	font-size:11px;
	line-height:1.4;
}
#recServiceBox .recServiceBoxInner .listBlock li dl dd a{
	color:#666;
}
#recServiceBox .recServiceBoxInner .listBlock li dl dd a:hover{
	color:#FF9600;
}


/* =================================================================

	Global Footer Area

================================================================= */
#globalFooterArea{
	clear:both;
	width:100%;
	font-size:12px;
}
/* footNaviBox */
#globalFooterArea .footNaviBox{
	padding:20px 0;
	background:#70C328;
}
#globalFooterArea .footNaviBox .footNaviBoxInner{
	display:table;
	width:980px;
	margin:0 auto;
}
#globalFooterArea .footNaviBox .footNaviBoxInner div{
	display:table-cell;
	width:225px;
	padding-right:20px;
}
#globalFooterArea .footNaviBox .footNaviBoxInner div h4{
	margin:15px 0 10px 0;
	padding-left:10px;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 0 -675px;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
}
#globalFooterArea .footNaviBox .footNaviBoxInner div h4:first-child{
	margin:0 0 10px 0;
}
#globalFooterArea .footNaviBox .footNaviBoxInner ul li{
	font-size:11px;
	line-height:2;
	text-indent:1em;
}
#globalFooterArea .footNaviBox a{
	color:#FFF;
}

/* footNotesBox */
#globalFooterArea .footNotesBox{
	padding:20px 0;
	background:#222;
	text-align:center;
}
#globalFooterArea .footNotesBox ul{
	margin-bottom:10px;
	text-align:center;
	background:#222;
}
#globalFooterArea .footNotesBox li:before{
	content:"|";
	margin:0 0.5em 0 0.2em;
	color:#444;
}
#globalFooterArea .footNotesBox li:first-child:before{
	content:"";
}
#globalFooterArea .footNotesBox li{
	display:inline;
	font-size:11px;
}
#globalFooterArea .footNotesBox li a{
	color:#CCC;
}
#globalFooterArea .footNotesBox .copyright{
	font-size:11px;
	color:#CCC;
}
#globalFooterArea .footPcOrSmBox{
	text-align:center;
	color:#ccc;
	margin-top:10px;
}
#globalFooterArea .footPcOrSmBox a{
	font-weight:bold;
	color:#ccc;
}
#globalFooterArea .footPcOrSmBox span{
	margin-right:10px;
}
/* =================================================================

	Clearfix

================================================================= */
.clearfix::after{
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	content:".";
}
.clearfix{
	zoom:1;
}
