@charset "euc-jp";

/*-------------------------------------------------------------------
 *
 * File Name   : top.css
 *
-------------------------------------------------------------------*/

/* Table Of Contents
------------------------------------------
CategoryNavi
PickupAdTxt
Contents Area
------------------------------------------ */

/* =================================================================

	CategoryNavi

================================================================= */
#categoryNavi{
	width:978px;
	height:35px;
	margin-bottom:20px;
	border:1px solid #BBB;
}
#categoryNavi h1,
#categoryNavi ul{
	float:left;
}
#categoryNavi h1{
	width:168px;
	height:25px;
	padding:7px 0 3px 45px;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) #98CF36 no-repeat 0 -195px;
	border-right:1px solid #BBB;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	vertical-align:top;
}
#categoryNavi ul{
	position:relative;
}
#categoryNavi ul li.mainCtYahoo,
#categoryNavi ul li.mainCtRakuoku,
#categoryNavi ul li.mainCtMbok,
#categoryNavi ul li.mainCtAucfan{
	float:left;
	width:191px;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 0 -710px;
}
#categoryNavi ul li:first-child{
	background:none;
}
#categoryNavi ul li a{
	display:block;
	color:#333;
	text-decoration:none;
}

/* subCate */
#categoryNavi ul li .subCate,
#categoryNavi ul li .subCate ul{
	background:#FFF;
}
#categoryNavi ul li .subCate{
	display:none;
	position:absolute;
	z-index:25;
}
#categoryNavi ul li.mainCtYahoo .subCate{
	top:35px;
	left:-1px;
	width:573px;
	border-width:0 1px 1px 1px;
	border-style:solid;
	border-color:#BBB;
}
#categoryNavi ul li.mainCtRakuoku .subCate{
	top:35px;
	left:191px;
	width:572px;
	border-width:0 1px 1px 1px;
	border-style:solid;
	border-color:#BBB;
}
#categoryNavi ul li.mainCtMbok .subCate{
	top:35px;
	left:191px;
	width:572px;
	border-width:0 1px 1px 1px;
	border-style:solid;
	border-color:#BBB;
}
#categoryNavi ul li.mainCtAucfan .subCate{
	top:35px;
	left:191px;
	width:572px;
	border-width:0 1px 1px 1px;
	border-style:solid;
	border-color:#BBB;
}
#categoryNavi ul li:hover .subCate{
	display:inherit;
}
#categoryNavi ul li .subCate h2{
	padding:10px 20px 15px 20px;
}
#categoryNavi ul li .subCate h2 span{
	margin-right:5px;
	font-size:14px;
	font-weight:bold;
}
#categoryNavi ul li .subCate ul{
	padding:0 20px;
}
#categoryNavi ul li .subCate li{
	float:left;
	width:30.3%;
	margin-bottom:15px;
	padding-left:15px;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 0 -638px;
}
#categoryNavi ul li .subCate li a{
	display:inline-block;
	color:#333;
	font-size:1em;
}
#categoryNavi ul li .subCate li a:hover{
	color:#FF9600;
	text-decoration:underline;
}
#categoryNavi ul li .subCate li span{
	margin:0 0.5em;
	color:#BBB;
	font-size:10px;
}
#categoryNavi ul li .subCate p{
	clear:both;
	padding:10px 0;
	border-top:1px solid #BBB;
	text-align:center;
}
#categoryNavi ul li .subCate p a{
	font-size:14px;
	font-weight:bold;
}
#categoryNavi ul li .subCate p a:hover{
	color:#FF9600;
	text-decoration:underline;
}

/* category icon */
#categoryNavi ul li.mainCtYahoo a.icon{
	width:106px;
	height:27px;
	padding:8px 0 0 85px;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 62px -755px;
}
#categoryNavi ul li.mainCtRakuoku a.icon{
	width:132px;
	height:27px;
	padding:8px 0 0 58px;
}
#categoryNavi ul li.mainCtMbok a.icon{
	width:106px;
	height:27px;
	padding:8px 0 0 85px;
}
#categoryNavi ul li.mainCtAucfan a.icon{
	width:158px;
	height:27px;
	padding:8px 0 0 32px;
}
#categoryNavi ul li.mainCtYahoo a.icon{
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 62px -755px;
}
#categoryNavi ul li.mainCtRakuoku a.icon{
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 35px -798px;
}
#categoryNavi ul li.mainCtMbok a.icon{
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 62px -844px;
}


/* =================================================================

	pickupAdTxt

================================================================= */
#pickupAdTxt{
	margin-bottom:15px;
}
#pickupAdTxt li{
	display:inline-block;
	width:33%;
	text-align:center;
	text-overflow:ellipsis;
}
#pickupAdTxt li a{
	padding-left:20px;
	background:url(http://x1.afimg.jp/image/contents/short_icon_sprite.png) no-repeat 0 0;
}


/* =================================================================

	Contents Area

================================================================= */
#contentsArea{
	padding:20px 0;
	border-top:1px solid #EEE;
}
#contentsArea .contentsAreaInner{
	clear:both;
	width:980px;
	margin:0 auto;
}
#contentsArea .contentsAreaInner .mainSection{
	clear:both;
	padding-bottom:60px;
	background:url(http://x1.afimg.jp/image/contents/contents_bg_shadow.png) no-repeat 50% 100%;
}


/* -----------------------------------------------------------------
	mainContents
----------------------------------------------------------------- */
#mainContents{
	float:left;
	width:660px;
}


/* -----------------------------------------------------------------
	hd
----------------------------------------------------------------- */
/* mainHd */
.mainHd{
	position:relative;
	margin-bottom:20px;
}
.mainHd h1{
	font-size:22px;
	font-weight:bold;
	color:#98CF36;
}
.mainHd span.leadTxt{
	display:block;
}
.mainHd .lastDate{
	position:absolute;
	top:35px;
	right:0;
	font-size:13px;
	color:#999;
}

/* mainHd icon */
.mainHd.icGraph{
	padding:0 0 0 65px;
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat -300px 4px;
}
.mainHd.icTrophy{
	padding:0 0 0 65px;
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat -300px -70px;
}
.mainHd.icCheck{
	min-height:36px;
	padding:3px 0 0 65px;
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat -300px -153px;
}
.mainHd.icSearch{
	padding:0 0 0 65px;
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat -300px -220px;
}
.mainHd.icReport{
	min-height:37px;
	padding:5px 0 0 65px;
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat -300px -303px;
}
.mainHd.icCart{
	min-height:38px;
	padding:10px 0 0 65px;
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat -300px -375px;
}
.mainHd.icBag{
	min-height:36px;
	padding:3px 0 0 65px;
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat -300px -453px;
}
.mainHd.icBalance{
	min-height:40px;
	padding:10px 0 0 65px;
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat -300px -522px;
}


/* -----------------------------------------------------------------
	mainSliderBunner
----------------------------------------------------------------- */
#mainSliderBunner{
	width:646px;
	margin-bottom:25px;
	padding:7px;
	background:#EFE3BA;
}
#mainSliderBunner ul.bxslider li img{
	width:640px;
	height:240px;
	border:3px solid #FFF;
}
.bx-wrapper{
	margin:0 !important;
}
.bx-wrapper .bx-viewport{
	background:none !important;
	border:none !important;
	box-shadow:none !important;
	left:inherit !important;
}
#bx-pager{
	height:72px;
}
#bx-pager ul{
	display:inline-table;
	height:62px;
	width:100%;
}
#bx-pager ul li{
	display:table-cell;
	list-style:none;
	width:160px;
	height:62px;
}
#mainSliderBunner #bx-pager a{
	display:inline-block;
	vertical-align:top;
	width:160px;
	height:62px;
	margin-top:10px;
	background:#000;
}
#mainSliderBunner #bx-pager li a:hover,
#mainSliderBunner #bx-pager li a:active,
#mainSliderBunner #bx-pager li a.active {
	width:160px;
	height:62px;
	margin-top:0;
	padding-top:10px;
	background:url(http://x1.aucfan.com/image/js_images/controls.png) no-repeat 70px -70px !important;
}
#bx-pager a img{
	width:156px;
	height:58px;
	padding:0 !important;
	border:2px solid #efe3ba !important;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
#mainSliderBunner #bx-pager li a:hover img,
#mainSliderBunner #bx-pager li a:active img,
#mainSliderBunner #bx-pager li a.active img {
	width:156px !important;
	height:58px !important;
	margin:0 !important;
	padding:0;
	background:none;
    border:2px solid #FFF !important;
	filter:inherit  !important;
	-moz-opacity:inherit !important;
	opacity:inherit !important;
}
/* margin Set */
#mainSliderBunner #bx-pager a.thum2,
#mainSliderBunner #bx-pager a.thum3,
#mainSliderBunner #bx-pager a.thum4{
	margin-left:2px;
}
/* bx-controls-direction */
.bx-wrapper .bx-controls-direction a{
	position:absolute;
    text-indent:-9999px;
    top:50%;
    z-index:99;
	outline:0 none;
    width:32px;
	height:31px !important;
    margin-top:-16px;
}
.bx-wrapper .bx-prev{
	background:url("http://x1.aucfan.com/image/js_images/controls.png") no-repeat scroll 0 -32px !important;
	left:0 !important;
}
.bx-wrapper .bx-prev:hover{
	background:url("http://x1.aucfan.com/image/js_images/controls.png") no-repeat scroll 0 0 !important;
}
.bx-wrapper .bx-next{
	background:url("http://x1.aucfan.com/image/js_images/controls.png") no-repeat scroll -43px -32px !important;
	right:0 !important;
}
.bx-wrapper .bx-next:hover{
	background:url("http://x1.aucfan.com/image/js_images/controls.png") no-repeat scroll -43px 0 !important;
}


/* -----------------------------------------------------------------
	largeRankBox popularRankBox checkHistoryBox
----------------------------------------------------------------- */
#mainContents .largeRankBox,
#mainContents .popularRankBox{
	position:relative;
}

/* usuallyList */
#mainContents #usuallyList{
	width:660px;
}
#mainContents #usuallyList li.itemBlock{
	display:inline-block;
	width:157px;
	margin:0 0 10px 3px;
	min-height:202px;
	border:1px solid #EEE;
	vertical-align:top;
}
#mainContents #usuallyList li.itemBlock:first-child{
	margin:0 0 10px 0;
}

/* addList */
#mainContents #addList{
	width:660px;
}
#mainContents #addList li.itemBlock{
	display:inline-block;
	width:157px;
	min-height:200px;
	margin:0 3px 10px 0;
	border:1px solid #EEE;
	vertical-align:top;
}
#mainContents #addList li.itemBlock.colPause{
	margin:0 0 10px 0;
}

/* best1 */
li.itemBlock.best1{
	background:#F9F3DB;
}
li.itemBlock.best1 .itemName{
	background:#EFC31D;
}
/* best2 */
li.itemBlock.best2{
	background:#F4F4F4;
}
li.itemBlock.best2 .itemName{
	background:#999;
}
/* best3 */
li.itemBlock.best3{
	background:#F3E7DE;
}
li.itemBlock.best3 .itemName{
	background:#C97554;
}

li.itemBlock.best1,
li.itemBlock.best2,
li.itemBlock.best3{
	width:159px !important;
	height:202px !important;
	border:0 !important;
}
li.itemBlock.best1 .itemName,
li.itemBlock.best2 .itemName,
li.itemBlock.best3 .itemName{
	min-height:45px;
	padding:5px 8px;
	font-size:11px;
	line-height:1.3;
}
li.itemBlock.best1 .itemName a,
li.itemBlock.best2 .itemName a,
li.itemBlock.best3 .itemName a{
	color:#FFF;
}

/* rankIcon */
.rankIcon{
	position:absolute;
	top:-15px;
	width:72px;
	height:40px;
}
li.itemBlock.best1 .rankIcon{
	left:90px;
	background:url(http://x1.afimg.jp/image/contents/rank_icon_sprite.png) no-repeat 0 0;
}
li.itemBlock.best2 .rankIcon{
	left:255px;
	background:url(http://x1.afimg.jp/image/contents/rank_icon_sprite.png) no-repeat -124px 0;
}
li.itemBlock.best3 .rankIcon{
	left:420px;
	background:url(http://x1.afimg.jp/image/contents/rank_icon_sprite.png) no-repeat -245px 0;
}
.rankIcon span{
	visibility:hidden;
}
li.itemBlock div{
	width:143px;
	min-height:100px;
	margin:6px 7px 0 7px;
	background:#FFF;
}
li.itemBlock div a{
	display:block;
	text-align:center;
}
li.itemBlock div a img{
	max-width:143px;
	max-height:95px;
}
.itemPrice{
	display:block;
	margin:8px 0;
	color:#F00;
	font-size:14px;
	text-align:center;
}
.itemPrice span{
	margin-right:0.2em;
	font-size:16px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
}
.bidNum{
	display:block;
	margin-bottom:5px;
	font-size:12px;
	text-align:center;
}
.itemName{
	min-height:43px;
	padding:5px 8px;
	background:#EEE;
	font-size:11px;
	line-height:1.3;
}
.itemName a{
	color:#333;
}

/* btnMore */
.btnMore{
	clear:both;
	margin-top:5px;
}
.btnMore a{
	display:block;
#	height:19px;
	padding:6px 0 5px 0;
	background:#F1F1F1;
	border:1px solid #DDD;
	border-radius:5px;
	color:#333;
	font-size:14px;
	text-align:center;
	text-decoration:none;
}
.btnMore a span{
	padding:0 0 0 25px;
	background:url(http://x1.afimg.jp/image/contents/short_icon_sprite.png) no-repeat 0 -140px;
}
.btnMore a:hover{
	background:#FF9600;
	border:1px solid #FF9600;
	border-radius:5px;
	color:#FFF;
}
.btnMore a:hover span{
	padding:0 0 0 25px;
	background:url(http://x1.afimg.jp/image/contents/short_icon_sprite.png) no-repeat 0 -189px;
}


/* -----------------------------------------------------------------
	atentWordBox
----------------------------------------------------------------- */
#mainContents .atentWordBox{
	overflow:hidden;
}
#mainContents .atentWordBox ul{
	float:left;
	width:210px;
}
#mainContents .atentWordBox ul li{
	overflow:hidden;
	height:20px;
	margin-top:15px;
	padding-right:5px;
}
#mainContents .atentWordBox ul li:first-child{
	margin-top:0;
}
#mainContents .atentWordBox ul li span{
	display:inline-block;
	width:25px;
	height:20px;
	margin-right:10px;
	padding-right:10px;
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat 0 -325px;
	color:#FFF;
	text-align:center;
}


/* -----------------------------------------------------------------
	topicReportBox
----------------------------------------------------------------- */
#mainContents .topicReportBox{
	overflow:hidden;
}
#mainContents .topicReportBox .newPostBlock{
	float:left;
	width:390px;
}
#mainContents .newPostBlock .colThumb{
	float:left;
	width:180px;
	padding:4px;
	border:1px solid #BBB;
	border-radius:3px;
}
#mainContents .newPostBlock .colThumb img{
	max-width:180px;
}
#mainContents .newPostBlock .colTxt{
	float:left;
	width:180px;
	margin-left:15px;
}
#mainContents .newPostBlock .colTxt .tag{
	display:inline-block;
	width:80px;
	margin-bottom:15px;
	padding:2px 0;
	background:#F00;
	color:#FFF;
	text-align:center;
}
#mainContents .newPostBlock .colTxt .lead{
	color:#333;
	font-size:14px;
}
#mainContents .newPostBlock .colTxt .leadLink{
	font-size:13px;
}
#mainContents .newPostBlock .colTxt .date {
	margin-bottom:15px;
	padding-left:25px;
	background:url(http://x1.afimg.jp/image/contents/short_icon_sprite.png) no-repeat 0 -93px;
	font-size:14px;
}
.listPosBlock{
	float:right;
	width:260px;
}
.listPosBlock li{
	margin-bottom:10px;
	line-height:1.4;
}
.listPosBlock li a{
	display:block;
	min-height:22px;
	padding-left:25px;
	background:url(http://x1.afimg.jp/image/contents/short_icon_sprite.png) no-repeat 0 -46px;
	font-size:11px;
}


/* -----------------------------------------------------------------
	stockInfoBox
----------------------------------------------------------------- */
#mainContents .stockInfoBox{
	overflow:hidden;
}
.stockInfoBox .thumbPosBlock {
	float:right;
	width:270px;
}
.thumbPosBlock ul {
	overflow:hidden;
}
.thumbPosBlock li {
	float:left;
	width:125px;
	margin-left:10px;
}
.thumbPosBlock li img{
	width:82px;
	padding:3px;
	border:1px solid #BBB;
	border-radius:3px;
	text-align:center;
}
.thumbPosBlock li .thumbnail {
	width:90px;
	min-height:90px;
	margin:0 auto;
}
.thumbPosBlock li .thumbnail a {
	display:block;
	width:90px;
	background:#FFF;
	text-align:center;
}
.thumbPosBlock li .thumbTxt {
	margin-top:10px;
	font-size:11px;
	line-height:1.3;
}
.logoTxtBox{
	clear:both;
	margin-top:20px;
	text-align:right;
}
.logoTxtBox img{
	margin-left:15px;
	vertical-align:middle;
}


/* -----------------------------------------------------------------
	freeMarketBox
----------------------------------------------------------------- */
.freeMarketBox{
	overflow:hidden;
}
.thumbPosBlock.furima li img{
	width:102px;
	padding:3px;
	border:1px solid #BBB;
	border-radius:3px;
	text-align:center;
}
.thumbPosBlock.furima li .thumbnail {
	width:110px;
	min-height:100px;
	margin:0 auto;
}
.thumbPosBlock.furima li .thumbnail a {
	display:block;
	width:110px;
	background:#FFF;
	text-align:center;
}
.thumbPosBlock.furima li .date {
	padding-left:25px;
	background:url(http://x1.afimg.jp/image/contents/short_icon_sprite.png) no-repeat 0 -93px;
}
.thumbPosBlock.furima li .thumbTxt {
	margin-top:10px;
	font-size:11px;
	line-height:1.3;
}


/* -----------------------------------------------------------------
	itemCompareBox
----------------------------------------------------------------- */
.itemCompareBox ul li{
	margin-bottom:15px;
}

/* categoryHd */
.itemCompareBox .categoryHd{
	position:relative;
	margin-bottom:5px;
}
.itemCompareBox .categoryHd .aboutScore{
	position:absolute;
	top:7px;
	right:0;
	height:20px;
}
.itemCompareBox .categoryHd .aboutScore a{
	padding-left:25px;
	background:url(http://x1.afimg.jp/image/contents/short_icon_sprite.png) no-repeat 0 -239px;
}
.itemCompareBox .categoryHd h2{
	padding-left:45px;
	color:#333;
	font-size:16px;
	font-weight:bold;
	line-height:35px;
}
.itemCompareBox .categoryHd.ctCamera h2{
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat 0 -630px;
}
.itemCompareBox .categoryHd.ctSmartPhone h2{
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat 0 -695px;
}

/* cateItemBlock */
.itemCompareBox .cateItemBlock{
	overflow:hidden;
	position:relative;
	height:140px;
	padding:10px 30px;
	background:url(http://x1.afimg.jp/image/contents/compare_icon_off.png) no-repeat 50% 50%;
	border:1px solid #eeeeee;
}
.itemCompareBox .cateItemBlock .colItem{
	display:inline-block;
	width:200px;
	text-align:center;
}
.itemCompareBox .cateItemBlock .colItem.posLeft{
	float:left;
}
.itemCompareBox .cateItemBlock .colItem.posRight{
	float:right;
}
.itemCompareBox .cateItemBlock .colItem .cateItemName{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	width:200px;
	margin:10px 0 5px 0;
	font-size:13px;
}
.itemCompareBox .cateItemBlock .colItem .cateNewPrice{
	font-size:14px;
}
.itemCompareBox .cateItemBlock .colItem .cateNewPrice span{
	font-weight:bold;
	color:#fe0000;
}
.itemCompareBox .cateItemBlock .colItem img{
	max-width:100px;
}

/* clickableArea */
.itemCompareBox .cateItemBlock .clickableArea{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:0;
	background:url(http://x1.afimg.jp/image/contents/compare_bg.png) repeat 0 0;
}
.itemCompareBox .cateItemBlock .clickableArea a{
	display:block;
	width:100%;
	height:100%;
	background:url(http://x1.afimg.jp/image/contents/compare_icon_on.png) no-repeat 50% 50%;
}
.itemCompareBox .cateItemBlock .clickableArea a span{
	visibility:hidden;
}
/* compareMore */
.itemCompareBox .compareMore{
	margin-top:10px;
	text-align:right;
}
.itemCompareBox .compareMore a{
	font-size:13px;
}


/* -----------------------------------------------------------------
	subContents
----------------------------------------------------------------- */
#subContents{
	float:right;
	width:300px;
}
.subNaviSec{
	margin-bottom:20px;
}

/* subHd */
.subHd{
	margin-bottom:15px;
	padding:7px 0 0 45px;
	min-height:28px;
	/height:28px;
	color:#333;
	font-size:16px;
	font-weight:bold;
}

/* subHd icon */
.subHd.icMonitor{
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat 0 0;
}
.subHd.icComment{
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat 0 -65px;
}
.subHd.icReuse{
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat 0 -130px;
}
.subHd.icSupport{
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat 0 -195px;
}

/* newsReportBox */
.subNaviSec .newsReportBox{
	padding:5px 2px 2px;
	background:#98CF36;
}
.subNaviSec .newsReportBox h2{
	margin:0 5px 5px 8px;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
}
.subNaviSec .newsReportBox .reportList{
	background:#FFF;
}
.subNaviSec .newsReportBox .reportList li{
	overflow:hidden;
	padding:10px 8px;
	border-top:1px dotted #70C328;
}
.subNaviSec .newsReportBox .reportList li:first-child{
	border-top:none;
}
.subNaviSec .newsReportBox .reportList li span{
	display:block;
	float:left;
	width:60px;
	height:18px;
	margin-right:10px;
	padding:2px 0 0 0;
	background:#FFD800;
	color:#333;
	font-size:11px;
	text-align:center;
}
.subNaviSec .newsReportBox .reportList li p{
	float:left;
	width:208px;
	font-size:11px;
	line-height:1.4;
}

/* forumReportBox */
.subNaviSec .forumReportBox{
	padding:5px 2px 2px;
	background:#98CF36;
}
.subNaviSec .forumReportBox h2{
	margin:0 5px 5px 8px;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
}
.subNaviSec .forumReportBox .reportList{
	background:#FFF;
}
.subNaviSec .forumReportBox .reportList li{
	overflow:hidden;
	line-height: 2.4;
	padding:8px;
	border-top:1px dotted #70C328;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.subNaviSec .forumReportBox .reportList li:first-child{
	border-top:none;
}
.subNaviSec .forumReportBox .reportList li:last-child{
	line-height: 1.8;
	text-align: right;
}
.subNaviSec .forumReportBox .reportList li img {
	padding-right: 4px;
	vertical-align: middle;
}
.subNaviSec .forumReportBox .reportList li span{
	height:18px;
	margin-right:10px;
	padding:2px 14px 0;
	background:#f0f2f8;
	color:#333;
	font-size:11px;
	text-align:center;
}
.subNaviSec .forumReportBox .reportList li p{
	float:left;
	width:208px;
	font-size:11px;
	line-height:1.4;
}

/* riseWordBox */
.subNaviSec .riseWordBox{
	padding:5px 2px 2px;
	background:#98CF36;
}
.subNaviSec .riseWordBox h2{
	margin:0 5px 5px 8px;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
}
.subNaviSec .riseWordBox .wordtList{
	background:#FFF;
}
.subNaviSec .riseWordBox .wordtList li {
    border-top:1px dotted #70c328;
}
.subNaviSec .riseWordBox .wordtList li:first-child {
    border-top:none;
}
.subNaviSec .riseWordBox .wordtList li.listBlock a{
	display:block;
	width:auto;
	padding: 10px 8px;
	text-decoration:none;
}
.subNaviSec .riseWordBox .wordtList li.listBlock a:hover{
	background:#fff5ee;
}
.subNaviSec .riseWordBox .wordtList li .colNum,
.subNaviSec .riseWordBox .wordtList li .colThumb,
.subNaviSec .riseWordBox .wordtList li .colDetail{
	display:inline-block;
	vertical-align:top;
}
.subNaviSec .riseWordBox .wordtList li .colNum{
	width:20px;
	height:18px;
	padding-top:2px;
	background:#e83d45;
	color:#FFF;
	text-align:center;
}
.subNaviSec .riseWordBox .wordtList li .colThumb{
	overflow:hidden;
	width:90px;
	height:65px;
	margin-left:5px;
}
.subNaviSec .riseWordBox .wordtList li .colDetail{
	width:145px;
	margin-left:5px;
	padding-top:10px;
}
.subNaviSec .riseWordBox .wordtList li .colDetail dt{
	font-size:13px;
	color:#333;
	width:155px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.subNaviSec .riseWordBox .wordtList li .colDetail dd{
	font-size:12px;
	color:#333;
}
.subNaviSec .riseWordBox .wordtList li .colDetail dd span{
	margin-right:5px;
	font-size:20px;
	color:#fe0000;
}
.subNaviSec .riseWordBox .wordtList img{
	max-width:90px;
}
.subNaviSec .riseWordBox .wordtList li.trendWordMore{
	padding:8px 15px;
	text-align:right;
}
.subNaviSec .riseWordBox .wordtList li.trendWordMore a{
	padding-left:10px;
	background:url(http://x1.afimg.jp/image/common/global_icon_sprite.png) no-repeat 0 -640px;
	font-size:11px;
}

/* bnrBox */
.subNaviSec .bnrBox li{
	margin:15px 0 0 10px;
}
.subNaviSec .bnrBox li:first-child{
	margin:0 0 0 10px;
}

/* formalAccountBox */
.subNaviSec .formalAccountBox{
	overflow:hidden;
	padding:0 10px;
}
.subNaviSec .formalAccountBox li{
	float:left;
	width:105px;
	min-height:21px;
	/height:21px;
	padding:4px 0 0 35px;
}

/* formalAccountBox icon */
.subNaviSec .formalAccountBox li.icFacebook{
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat 0 -375px;
}
.subNaviSec .formalAccountBox li.icTwitter{
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat 0 -425px;
}
.subNaviSec .formalAccountBox li.icGoogle{
	margin-top:10px;
	background:url(http://x1.afimg.jp/image/contents/main_icon_sprite.png) no-repeat 0 -475px;
}

/* subNaviPrBox */
.subNaviPrBox{
	margin-bottom:20px;
}
.subNaviPrBox h2{
	width:60px;
	height:23px;
	padding:2px 0 0 0;
	background:#999;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
}
.subNaviPrBox ul{
	display:table;
	padding:10px;
	border:1px solid #999;
	background:#FFF;
}
.subNaviPrBox ul li{
	line-height:2.2;
}
.subNaviPrBox ul li span{
	display:table-cell;
	width:1.2em;
}
.subNaviPrBox ul li a{
	display:table-cell;
	line-height:1.4;
}

/* reuseLogoBox */
.subNaviSec .reuseLogoBox{
	overflow:hidden;
	padding:0 10px;
}
.subNaviSec .reuseLogoBox li{
	float:left;
	width:86px;
	margin-left:11px;
}
.subNaviSec .reuseLogoBox li:first-child{
	margin-left:0;
}
.subNaviSec .reuseLogoBox li div{
	width:84px;
	height:84px;
	border:1px solid #CCC;
	border-radius:5px;
}
.subNaviSec .reuseLogoBox li a.siteLogo{
	display:table-cell;
	width:84px;
	height:84px;
	text-align:center;
	vertical-align:middle;
}
.subNaviSec .reuseLogoBox li a.siteLogo img{
	width:80px;
}
.subNaviSec .reuseLogoBox li span{
	display:block;
	margin-top:5px;
	text-align:center;
}

/* siteLogoBox */
.subNaviSec .siteLogoBox{
	display:table;
	overflow:hidden;
	margin-top:-10px;
}
.subNaviSec .siteLogoBox li{
	float:left;
	display:table-cell;
	width:150px;
	margin-top:10px;
}
.subNaviSec .siteLogoBox li img{
	width:135px;
}

/* prdListBox */
.prdListBox.KnowHow{
	border:1px solid #DAC265;
}
.prdListBox.college,
.prdListBox.school{
	border:1px solid #68C8F4;
}
.prdListBox.semi{
	border:1px solid #579AE5;
}

.prdListBox.KnowHow .prdListBoxInner{
	padding:5px;
	background:#FAF3D8;
}
.prdListBox.college .prdListBoxInner,
.prdListBox.school .prdListBoxInner,
.prdListBox.semi .prdListBoxInner{
	padding:5px;
	background:#E5F6FE;
}
/* ul */
.prdListBox.KnowHow .prdListBoxInner ul,
.prdListBox.college .prdListBoxInner ul{
	display:table;
	width:94.5%;
	padding:8px;
	background:#FFF;
	border-radius:4px;
}
/* li */
.prdListBox.KnowHow .prdListBoxInner li,
.prdListBox.college .prdListBoxInner li{
	line-height:1.8;
}
.prdListBox.KnowHow .prdListBoxInner li span,
.prdListBox.college .prdListBoxInner li span{
	display:table-cell;
	width:1.2em;
	color:#006AD6;
}
.prdListBox.KnowHow .prdListBoxInner li a,
.prdListBox.college .prdListBoxInner li a{
	display:table-cell;
	line-height:1.3;
}
/* dl */
.prdListBox.school .prdListBoxInner dl,
.prdListBox.semi .prdListBoxInner dl{
	padding:8px;
	background:#FFF;
	border-radius:4px;
}
.prdListBox.school .prdListBoxInner dt a,
.prdListBox.semi .prdListBoxInner dt a{
	margin-bottom:5px;
	font-size:14px;
	font-weight:bold;
}


/* -----------------------------------------------------------------
	IMG Alpha-80
----------------------------------------------------------------- */
.largeRankBox a:hover img,
.popularRankBox a:hover img,
.checkHistoryBox a:hover img,
.topicReportBox a:hover img,
.stockInfoBox a:hover img,
.freeMarketBox a:hover img,
.itemCompareBox a:hover img{
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

/* -----------------------------------------------------------------
	autocomplete
----------------------------------------------------------------- */
.ui-autocomplete{
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) !important;
    background: #ffffff !important;
    border: 1px solid #cccccc !important;
    color: #333333 !important;
    font-size: 15px !important;
}
.ui-autocomplete .ui-menu-item{
    padding: 5px 10px !important;
    border: 1px solid #ffffff !important;
}
.ui-autocomplete .ui-state-hover,
.ui-autocomplete .ui-state-focus{
    margin: 0 !important;
    background: #eeeeee !important;
    border: 1px solid #ffffff !important;
    color: #333333 !important;
    font-weight: normal !important;
}
