@charset "utf-8";
/* CSS Document */
img{ border:0;}
ul{ list-style:none;}
.header-zh{width:100%; height:115px; background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.zh-bg.png) repeat-x;font-family: "宋体", simsun, sans-serif;}
.header-zh img{ border:0 none;}
.header-zh a{ text-decoration:none;}
.header-zh a:hover{ text-decoration:underline;}
.header-zh-02{ width:980px; margin:0 auto; text-align:left;}
.header-zh-logo {float:left; width:180px; margin-top:20px}
.header-zh-nav{width:800px; float:left;}
.header-zh-function {height:27px; margin-top:21px; margin-bottom:10px;}
.zh-lang {float:left; width:423px}
.head13_search {float:left; width:200px; margin-left:6px; display:inline}
.head13_search1 {float:left; width:86px; height:18px; background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.zh-bg.png) 0 -163px;}
.head13_search1 input {border:0; margin:0 0 0 4px; padding:0; width:82px; height:14px; font-size:12px; line-height:14px; color:#999}
.head13_search3 {float:left; width:23px; height:18px;margin-top:-1px;*margin-top:0;_margin-top:0;}
.head13_search2 {float:left; width:86px; height:18px; background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.zh-bg.png) 0 -203px; font-size:12px; line-height:18px; color:#9B9B9B; text-indent:9px; margin-left:5px; display:inline; cursor:pointer}
.input_box{ border:0;}
#engine {display:none; position:absolute; width:60px; height:106px; padding:2px; background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.head13_pop3.gif) no-repeat left bottom; left:0; top:0}
#engine a {display:block; width:60px; height:25px; font-size:12px; line-height:25px; text-align:center; color:#848484; letter-spacing:2px; margin-top:1px}
#engine a:hover {text-decoration:none; background-color:#F2F2F2; color:#587cab; font-weight:bold}




.zh-mylikes {float:left; width:100px; margin-left:15px;font-size:12px; line-height:30px; letter-spacing:2px}
.zh-mylikes,.zh-mylikes a:link,.zh-mylikes a:visited {color:#587cab}
.header-zh-links{width:800px; clear:both; overflow:hidden;}
.header-zh-links,.header-zh-links a{ font-size:12px; line-height:18px;color:#555e67;}
.header-zh-links p{ margin:0;padding:0;}
.header-zh-links a{ margin-right:10px;}
.header-zh-links ul{ clear:both; overflow:hidden;}
.header-zh-links .zh-links-01 li {border-left:1px solid #fff; border-right:1px solid #d3d3d3;}
.header-zh-links .zh-links-02 li {border-left:1px solid #f2f2f2; border-right:1px solid #f2f2f2;}
.header-zh-links li { float:left; padding:0 10px 0 20px;}
.header-zh-links li.first{ border-left:0; padding-left:0;}
.header-zh-links li.last{ border-right:0;}
.header-zh-links li a.first{margin-right:20px;}
.header-zh-links li a.bold{font-weight:bold; margin-right:8px;}
.header-zh-links li a.first.bold{margin-right:18px;}
.header-zh-links li a.red{color:#ff0000;}

.header-zh-links li.w1{width:112px;}
.header-zh-links li.w2{width:78px;}
.header-zh-links li.w3{width:70px}
.header-zh-links li.w4{width:92px;}
.header-zh-links li.w5{width:100px;}
.zh-line{border-top:1px solid #d3d3d3;border-bottom:1px solid #fff; margin:12px 0 8px 0;}
.header-zh-links .zh-links-02 li.w3{width:47px;}
.header-zh-links .zh-links-02 li.w9{width:40px;}
.header-zh-links li.w9{ padding:0 10px 0 9px}
.header-zh-links li.w10{ padding:0}
.header-zh-links li.w5 a.bold{ margin-right:0 !important;}
































