@charset "utf-8";
/* CSS Document */
.footer{width:100%; clear:both; overflow:hidden; padding-top:20px; background:#fff;}
.footer-con{width:980px; margin:0 auto; text-align:center; font-size:12px; line-height:25px;}
.footer-con .text1{ font-weight:bold;}