@charset "utf-8";
/* CSS Document */
a{color:#000;}
.container{ width:1200px; margin: 10px auto;}
.content{width:1200px; clear: both; overflow: hidden; margin-top:20px;}
.con-left { width:510px; float: left;}
.con-right { width:660px; float: right;}
.con-left1 { width: 75px; float: left;}
.con-right1 { width: 900px; float: right;}
.con-left2 { width: 375px; float: left;}
.con-right2 { width: 580px; float: right;}
.jdtbot-l{ width:325px; float:left;}
.jdtbot-r{ width:300px; float:right;}
.con-l{ width:410px; float:left;}
.mid-l{ float:left; width:410px; margin-left:40px;}
.con-r{ width:298px; float:right;}
.clear{ clear:both;}
.pic-w200{ padding-top:6px;}
.pic-w200 .item-con{width:200px;}
/*要闻toplist*/
.top-list li{ margin-bottom:30px;}
.top-list .top-tit,.top-list .top-tit a{font-size:24px;line-height:33px;color:#000;}
.top-list .top-sub{ font-size:14px; line-height:25px; margin:0 0 0 5px;*margin:7px 0 11px 5px;}
.top-list .top-sub a{ color:#444; margin-right:10px;}
/*要闻list*/
.yaowenlist li{ font-size:16px; line-height:28px; margin-left:3px;}
/*标题*/
.tit-gy {color:#103560;height:30px;border-bottom:3px #013564 solid;_position:relative; margin:8px 0 10px 0; line-height:30px;}
.tit-gy span {display:inline-block;*display:inline;*zoom:1;border-bottom:3px #ae191b solid;height:30px; line-height:30px; white-space:nowrap;_position:absolute;_top:0;_left:0;position: relative;text-indent:0;}
.tit-gy span a {position: absolute;top:-4px;left:10px;display:inline-block;height:30px;line-height: 30px;color:#103560;}
.tit-clo132{ width:132px;}
.tit-clo152{ width:152px;}
.tit-clo300{ width:495px;position:absolute;left:38%;}
.tit-yqlj{position:absolute;left:45%; text-align:center; text-indent:0;}
.tit-text1 a{ margin-right:70px; color:#103560; font-size:20px;text-align:center;margin-left: 34px;}
.tit-font{font-family: "宋体"; font-weight:bolder;word-spacing:0; letter-spacing:0;font-size:26px;}
.tit-font a{ text-decoration:none;}
.tit-indent span{text-indent:inherit;}
.pd{ float:left; width:325px;background:url(http://f2.cri.cn/M00/7D/52/CqgNOlfoeD-AStGBAAAAAAAAAAA6667906.title2016.png) no-repeat; margin-bottom:12px;}
.pd_nav{ float:left; width:820px;padding-right:55px;background:#013564 repeat-x; text-align:right; font-size:14px; line-height:33px; margin-top:4px; color:#fff;}
.pd_nav a{ color:#fff;}
/*热点专题*/
.rdzt{ margin-top:25px;}
.rdzt-pic-list{background:url(http://f2.cri.cn/M00/7D/52/CqgNOlfoeD-AStGBAAAAAAAAAAA6667906.index-icon.png) left 9px no-repeat;padding-left:12px;}
.rdzt-pic-list a{font-size:16px;margin-left:3px;color:#003665; font-weight:bold;}
.rdzt-list{ clear:both; overflow:hidden; margin-top:7px;}
.rdzt-list li{ line-height:25px; color:#444; font-size:14px;background:url(http://f2.cri.cn/M00/7D/52/CqgNOlfoeD-AStGBAAAAAAAAAAA6667906.index-icon.png) left 10px no-repeat; padding-left:12px;}
.rdzt-list li a{ color:#444;}
/*环球资讯*/
.hqzx2016{background-position:0 -161px; height:53px;}
/*环球娱乐*/
.hqyl2016{background-position:0 -76px; height:53px;}
.gy-list li{ font-size:16px; line-height:28px; margin-left:5px; color:#2a2a2a;}
.gy-list li a{ color:#2a2a2a;word-wrap: break-word;white-space: pre-wrap;}
.gy-list-tit li{ word-break:keep-all; line-height:24px;}
.tit-hong{ color:#ae191b;font-weight:bold; margin:2px 0 6px; line-height:30px;}
.tit-hong a{color:#ae191b;}
.banner05-hqyl a img{ text-align:center; width:240px;display: block; margin: 0 auto;}
.banner06-hqyl .item-con{ width:240px; text-align:center; margin-top:8px;}
/***环球城市***/
.hqcs2016{background-position:0 -239px; height:53px;}
/***环球产业***/
.hqcy2016{background-position:0 -319px; height:53px;}
/***环球体坛***/
.hqtt2016{background-position:0 0; height:53px;}
/***环球教育***/
.hqjy2016{background-position:0 -402px; height:53px;}
/***媒体专区***/
.box-line{ width:105px; height:8px; background:#AD1818;border-right:220px solid #FFF}
.mtzq-l{ float:left; width:410px;}
.mtzq-r{ float:right; width:750px;}
.mtzq-list{ margin-top:6px;}
.mtzq-r .pic-list{ width:800px;_width:750px;margin-top: 15px;}
.mtzq-r li {float:left;width:240px;margin:5px 0px 5px 10px;_margin:5px 2px 5px 0px;text-align:center;}
.mtzq-r img {display:block;width:240px;height:80px;}
/***品牌媒体***/
.brand-con1 ul{ width:1200px; overflow:hidden; margin-top:13px; padding: 6px 60px;}
.brand-con1 li{ font-size:18px; font-weight:bold; color:#003566; float:left; margin-right:58px; margin-left:6px; width:136px;}
.brand .tit-gy{ text-align:center;}
/***友情链接***/
.yqlj{ margin-top:30px;}
.yqlj-txt1{padding:20px 40px;}
.yqlj-txt1 a{ padding:0 5px; display:inline-block; color:#013564; font-size:15px; line-height:25px;}
.yqlj-more{text-align:right;margin-right:47px;}
.yqlj-more a{ font-size:15px;}
/*slideBox1*/
.slideBox1 {position: relative;float: right;width:660px;height:330px;overflow: hidden;}
.slideBox1 .con {width: 100%;height: 100%;overflow: hidden;}
.slideBox1 .infinity {width: 98000px;} 
.slideBox1 .pic {float: left;}
.slideBox1 .pic li {float: left;position: relative;}
.slideBox1 .pic img {display: block;width:660px;height: 330px;}
.slideBox1 .pic .layer {position: absolute;left: 0;bottom:0; width: 100%;height: 38px; background: url(http://f2.cri.cn/M00/7D/52/CqgNOlfoeD-AStGBAAAAAAAAAAA6667906.black60.png) repeat;}
.slideBox1 .title {float: left;width: 61.5%;padding-left: 2.5%;color: #FFF;font-size: 14px;line-height: 38px;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.slideBox1 .title a {color: #FFF;}
.slideBox1 .title a:hover {text-decoration: underline;}
.slideBox1 .menu {position: absolute;right: 0;bottom: 12px;width: 31.5%;height: 12px;padding-right: 2.5%;text-align: right;line-height: 0;overflow: hidden;}
.slideBox1 .menu a {display: inline-block; *display: inline;zoom: 1;width: 11px;height: 11px;margin: 0 4px;background: url(http://f2.cri.cn/M00/7D/52/CqgNOlfoeD-AStGBAAAAAAAAAAA6667906.slideBox16.png) 0 -460px no-repeat;_background: #999;text-decoration: none;
  text-indent: -999px;white-space: nowrap;overflow: hidden; cursor: pointer;outline: none;}
.slideBox1 .menu a:hover,.slideBox1 .menu a.current { background-position: -21px -460px;}
.slideBox1 .arrow {position: absolute;z-index: 5;left: 0;top: 50%;width: 50px;height: 50px;margin-top: -25px;background: url(http://f2.cri.cn/M00/7D/52/CqgNOlfoeD-AStGBAAAAAAAAAAA6667906.slideBox16.png) 0 0 no-repeat;text-indent: -999px;white-space: nowrap;
  overflow: hidden;cursor: pointer;outline: none;}
.slideBox1 .arrow-prev:hover {background-position: 0 -100px;}
.slideBox1 .arrow-next {left: auto;right: 0;background-position: -100px 0;}
.slideBox1 .arrow-next:hover {background-position: -100px -100px;}
.slideBox1 .arrow.disabled,.slideBox1 .menu.disabled { display: none;}
/* 特别推荐 */
.wx_ul {width:300px;}
.wx_ul li {width:300px;height:225px;position:relative;font-size:14px; margin-bottom:15px;}
.wx_ul li a {color:#fff;}
.wx_ul li h2 {width:100%;height:100%;}
.wx_ul li h2 a {display:block;width:100%;height:100%;}
.wx_ul li img {width:100%;height:100%;}
.wx_ul li i {font-style:normal;position:absolute;top:0;left:0;}
.wx_ul li i span {display:block;background-color:#236bb7;line-height:24px;height:24px;padding:5px 18px; color:#fff;}
.wx_ul li p {position:absolute;bottom:0;left:0;width:100%;background:url(http://f2.cri.cn/M00/7D/52/CqgNOlfoeD-AStGBAAAAAAAAAAA6667906.all_bg.png);padding:4px 0;}
.wx_ul li p a {line-height:22px;margin:0 10px;display:block;}
.wx_ul li p a:hover {text-decoration:underline;}
/* TAB切换 */
.tabWrap{ margin-top:18px;}
.tabWrap ul{ width:400px;_width:300px; overflow:hidden;}
.tabWrap .tabbtn{width:148px;_width:128px;height:35px;float:left;margin-right:5px; color:#013564; line-height:35px; text-align:center; cursor:pointer;}
.tabWrap .line-red{ border-bottom:3px solid #ae191b; margin-top:1px;}
.tabWrap .default{background:#013564; color:#fff;}
.tabWrap .default a{ color:#fff;}
.CRIdt-img li{ float:left; width:140px; margin-right:20px;_margin-right:10px;}
.CRIdt-list{ margin:9px 0}
.CRIdt-list li{ font-size:14px; color:#444; line-height:25px; width:300px;}
.CRIdt-list li a{color:#444;}
.tab001{display:none;}
.show01{display:block;}
/*列表样式*/
.bn-a { margin-bottom:40px;}
.list-a {width:850px;overflow:hidden;}
.list-a ul {width:1100px;}
.list-a li {width:240px;float:left;position:relative;margin-right:65px;margin-bottom:45px;height:276px;_overflow:hidden;}
.list-a li .aImg {width:240px;height:180px;display:block;}
.list-a li a img {width:240px;height:180px;}
.list-a li p {font-size:16px;line-height:24px;height:48px;padding-top:8px;margin-bottom:18px;overflow:hidden;}
.list-a li h6 a {float:right;background-color:#103560;color:#fff;font-size:14px;line-height:22px;padding:0 7px;margin-top:-5px;margin-left:5px;}
.list-a li b {display:inline-block;*display:inline;*zoom:1;position:absolute;top:0;left:0;background-color:#ae191b;line-height:26px;padding:0 7px;color:#fff;font-size:16px; display:none;}
.btn-a a {display:block;line-height:54px;height:54px;background-color:#e6e6e6;color:#9c9b9b;font-size:18px;text-align:center;}
.btn-a a:hover {color:#2a2a2a;}
.font14 {font-size:14px;}
.font16 {font-size:16px;}
.font18 {font-size:18px;}
.w1200 {width:1200px;margin:auto;}
.w850 {width:850px;margin:auto; margin-top:8px;}
.w300 {width:300px;margin:auto; overflow:hidden;}
.w132 {width:132px;}
.w152 {width:152px;}
.w158 {width:158px;}
.w68 {width:68px;}
.w139 {width:139px;}
.bd_1 {border:1px #ddd solid;}
.bd_2 {border:1px #ddd solid;}
.bd_3 {border:1px #ddd solid;}
.bg_1 {background-color:#00b1f7;}
.bg_2 {background-color:#236bb7;}
.bg_3 {background-color:#023b76;}
.shadow_1 {box-shadow:0 1px 2px 0 rgba(187, 187, 187, 0.4);}
.shadow_2 {box-shadow:0px 0px 10px 0px rgba(187,187,187,0.8);}
.a_1 {color:#333;}
.a_1:hover {color:#666;}
.a_2 {color:#333;}
.a_2:hover {color:#666;}
.a_3 {color:#333;}
.a_3:hover {color:#666;}
.rightBox-a {width:300px;_overflow:hidden; margin-top:5px;}
.rightBox-a ul {width:303px;}
.rightBox-a li {height:68px;text-align:center;float:left;margin:0 3px 3px 0;}
.rightBox-a li a {color:#fff;display:block;padding:0 5px;}
.rightBox-a li a:hover {opacity:0.8;filter:alpha(opacity=80);color:#fff;}
.rightBox-b li {margin-bottom:20px;}
.rightBox-c a {display:block;background-color:#013564;font-size:30px;line-height:100px;text-align:center;color:#fff;}
.textwrap {display:table;width:100%;height:68px;*position:relative;overflow:hidden; }
.textsubwrap {vertical-align:middle;display:table-cell;*position:absolute;*top:50%;*left:0;*width:100%;*display:block;} 
.textcontent {*position:relative;*top:-50%;*left:0;*cursor:pointer;} 
.left{ float:left;}
.right{ float:right;}
.list-wrap .setDate{ font-size:12px; color:#6e6e6e;}
.rightBox-tj-eff {position:fixed;bottom:0;left:50%;margin-left:300px;}
.rightBox-tj-eff-2 {position:absolute;bottom:0;right:0;}
.banner01-hqcs,.banner02-hqcy,.banner03-dbd{ margin:0 auto; text-align:center;}
.rightBox-tj,.yl-omh,.yl-yrf,.yl-hyzx,.yl-gyt,.cs-cjpd,.cs-shpd,.cy-jqpd,.cy-if,.cy-lcpd,.if-dt,.banner03-dbd{ margin-top:25px;}
.banner-hqyl{ margin-top:18px;}
.banner01-hqcs li img,.banner03-dbd li img,.banner02-hqcy li img{ margin-top:6px;}
.list-item{ margin-bottom:8px;}
.banner02-hqcy{ margin:12px 0;}
.if-dt-con .gy-list li,.lcpd-con .gy-list li{ line-height:26px;}
.ch-con{ text-align:center}
.brand,.cy-qypd{ margin-top:20px;}
.banner01-hqcs{ margin-top:10px;}
.cs-cszt,.cs-stzg{ margin-top:15px;}
.hqzx-con{margin-bottom:10px;}
.cs-dflm{ margin-top:0;}
.header-zh-all{ position:relative; z-index:99;}


