
.channel-nav{width:100%; height:55px; background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.header.png) 0 -160px repeat-x;}
.channel-nav-con{width:980px; margin:0 auto;}
.channel-nav .channel-logo{width:190px; float:left; margin-right:20px; margin-top:6px;}
.channel-nav .channel-link{ float:left;}
.channel-nav .channel-link p{ line-height:55px; font-size:14px;}
.channel-nav .channel-link p a{ margin:0 5px;}



.article-nav{width:100%; min-height:38px;}
.article-nav01{width:100%;height:38px; background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.article-nav.png) 0 -112px repeat-x;}
.article-nav-con{width:980px; margin:0 auto;}
.article-nav01 ul li{ float:left; line-height:38px; padding:0 10px; font-size:16px;}
.article-nav01 ul li a{color:#fff;}

.article-nav01 .search {width:168px;height:25px;float:right;margin-top:6px;background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.article-nav.png) 0 -35px no-repeat;}
.article-nav01 .search .text {width:130px; height:18px;float:left;margin:3px 0 0 10px;color:#333;font-size:14px; line-height:18px;}
.article-nav01 .search .btn {width:12px;height:12px;float:right;margin:6px 10px 0 0;background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.article-nav.png) 0 0 no-repeat;cursor:pointer;}

.article-nav02{width:100%;padding-top:5px; clear:both; overflow:hidden; background:#fff;}
.article-nav02 .article-nav-con{padding-bottom:5px;border-bottom:1px solid #d9d9d9; clear:both; overflow:hidden;}
.article-nav02 .channel-logo{width:190px; float:left; margin-right:15px; margin-top:6px;}
.article-nav02 .channel-link{ float:left; height:20px; margin:30px 0 0 0;padding-left:25px;border-left:1px solid #d9d9d9; color:#333;font-size:12px; line-height:20px;}
.article-nav02 .channel-link p a{ margin:0 3px;color:#333;}






.tit-brief-list02 .list-item .tit{ background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.icon-list.png) 0 -3px no-repeat; padding-left:1em;}
.tit-brief-list02 p.info{ text-indent:2em; display:block;}

.pic-list{width:100%;}

.list-more01{ float:right;}

.list-col01,.list-col02,.list-col03,.list-col04,.list-col05,.list-col06,.list-col07{ margin-right:0;}
.list-col02,.list-col03,.list-col04,.list-col05,.list-col06,.list-col07{ font-size:0; }
.list-col02 .list-item,.list-col03 .list-item,.list-col04 .list-item,.list-col05 .list-item,.list-col06 .list-item,.list-col07 .list-item{display:inline-block;*display:inline; letter-spacing:0; zoom:1;vertical-align:top; margin-right:0; }

.list-item{ margin-bottom:15px;}
.tit-list .list-item{ margin-bottom:5px;}

.list-col01 .list-item{width:100%;}
.list-col02 .list-item{width:50%;}
.list-col03 .list-item{width:33.3%;}
.list-col04 .list-item{width:25%;}
.list-col05 .list-item{width:20%;}
.list-col06 .list-item{width:16.666%;}
.list-col07 .list-item{width:14.2%;}

.list-item .tit{ font-size:14px;font-weight:normal;table-layout:fixed; word-break:break-all;overflow:hidden; line-height:24px;}
.list-item .info{ font-size:12px; color:#333;display:inline; line-height:25px;}
.list-item .tit i{float:right; color:#828282; margin-left:20px; margin-top:0px; font-weight:normal!important;}
.list-item .tit a,.list-item p.info{word-wrap:break-word;white-space:pre-wrap;}

.list-item .pic-area a{ display:block;}
.list-item .pic-area img{ display:inline; vertical-align:top;}

.item-con{ margin:0 auto; overflow:hidden;}


.pic-tit-brief-list .list-item .tit, .tit-brief-list .list-item .tit{ line-height:1.5em; font-weight:bold;}


.tit-list .text,.tit-brief-list .text,.pic-tit-brief-list .item-con{margin-right:15px;}

.list-col01 .item-con,.list-col01 .text{margin:0 auto;}


.tit-list02 .list-item .tit{ background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.icon-list.png) 0 0 no-repeat; padding-left:1em;}


.pic-tit-list01 .tit{ text-align:center;}
.pic-tit-list02 .item-con{ position:relative;}
.pic-tit-list02 .txt-area{ position:absolute; left:0; bottom:0; width:100%;background:rgba(0,0,0,0.6);background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.opacity.png) repeat\9; display:none;}
.pic-tit-list02 .tit{ padding:2px 9px; line-height:20px;}
.pic-tit-list02 .tit a{ color:#fff;}
.pic-tit-list02 .item-con:hover .txt-area,.pic-list02 li.current .txt-area{ display:block;}



.pic-tit-brief-list .txt-area{ overflow:hidden;}
.pic-tit-brief-list01 .pic-area{ position:relative; z-index:10;}

.pic-tit-brief-list01 .pic-area,.pic-tit-brief-list03 .pic-area{float:left; margin-right:10px;}
.pic-tit-brief-list02 .pic-area{float:right; margin-left:10px;}

.pic-tit-brief-list03 .tit{ clear:both; overflow:hidden; margin-bottom:10px;}
.pic-tit-brief-list03 .pic-area a{ text-align:center;} 
.pic-tit-brief-list03 .related-list01 a{ background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.icon-list.png) 0 0 no-repeat;padding-left:1em;}

.pic-tit-brief-list04 .pic-area,.pic-tit-brief-list05 .pic-area{ float:left; margin-right:10px;}
.pic-tit-brief-list05 .tit{ clear:both; margin-bottom:5px;}


.pic-w80 .item-con{width:80px;}
.pic-w100 .item-con{width:100px;}
.pic-w120 .item-con{width:120px;}
.pic-w125 .item-con{width:125px;}
.pic-w135 .item-con{width:135px;}
.pic-w140 .item-con{width:140px;}
.pic-w145 .item-con{width:145px;}
.pic-w146 .item-con{width:146px;}
.pic-w150 .item-con{width:150px;}
.pic-w160 .item-con{width:160px;}
.pic-w175 .item-con{width:175px;}
.pic-w185 .item-con{width:185px;}
.pic-w200 .item-con{width:200px;}
.pic-w240 .item-con{width:240px;}
.pic-w280 .item-con{width:280px;}
.pic-w300 .item-con{width:300px;}
.pic-w320 .item-con{width:320px;}
.pic-w360 .item-con{width:360px;}
.pic-w380 .item-con{width:380px;}
.pic-w600 .item-con{width:600px;}



.bottom-more {clear: both;float: right;color: #333;font-size: 14px; letter-spacing:0;}


.float-box1 {
  position:fixed;
  _position:absolute;
  z-index:999;
  right:0;
  bottom:300px;
  _top:expression(eval(document.documentElement.scrollTop+140));
  width:105px;
}
.float-box1 .qr {
  width:100%;
  margin-bottom:10px;
  padding-bottom:6px;
  border-bottom:1px dashed #999;
  color:#333;
  text-align:center;
}
.float-box1 .qr p {
  font-size:12px;
  line-height:14px;
}
.float-box1 .qr img {
  display:block;
  width:95px;
  height:95px;
  margin:4px auto 0;
}
.float-box1 .go-top {
  display:block;
  width:54px;
  height:54px;
  margin:0 auto;
  background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.goTop1.png) 0 0 no-repeat;
  text-indent:-999px;
  white-space:nowrap;
  overflow:hidden;
  cursor:pointer;
}
.float-box1 .go-top:hover {
  background-position:0 -54px;
}


.related-list01{clear:both; overflow:hidden;}
.related-list01 a{clear:both; font-size:14px; line-height:25px; display:block;}



.related-list02 a {
  float:left;
  clear:both;
  padding-left:18px;
  background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.li1.png) 5px 9px no-repeat;
  font-size:14px;
  line-height:24px;
}



.ad-full,
.ad-main,
.ad-side,
.ad-float {
  float:left;
  width:100%;

}

.ad-full iframe,
.ad-main iframe,
.ad-side iframe,
.ad-float iframe {
  float:left !important;
  margin-bottom:10px !important;
  border:none !important;
}




.ybl .ad-full1 {
  margin-top:10px;
}



.wbl .ad-full1 {
  margin:10px 0 0;
}


.commentBox{ display:none;}


.page-nav { float: left; width: 100%; margin-top: 20px; text-align: center; font-size: 0; line-height: 0; }
.page-nav ul li { display:inline-block; *display:inline; zoom:1; margin: 0 6px 10px; font-size: 12px; line-height: 14px; }
.page-nav a { display: inline-block; *display:inline; zoom:1; padding: 2px 5px; border: 1px solid #e8e8e8; text-decoration: none; transition: all 0.8s ease; }
.page-nav a:hover { background: #000; border-color: #000; color: #FFF; text-decoration:none; transition: all 0.4s ease; }
.page-nav .current a { background: #000; border-color: #000; color: #FFF; font-weight: bold; }
.page-nav .total b { margin: 0 3px; color: #900; letter-spacing: 1px; }




.slideBox {
  position:relative;
  float:left;
  width:580px;
  height:290px;
  overflow:hidden;
}

.slideBox-pic {
  width:100%;
  height:100%;
  overflow:hidden;
}

.slideBox-pic li {
  position:absolute;
  display:none;
}
.slideBox-pic li:first-child {
  display:block;
}
.slideBox-pic li a {
  display:block;
}
.slideBox-pic img {
  display:block;
  width:100%;
  height:100%;
}

.slideBox-layer {
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  height:38px;
  background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.opacity.png) repeat;
}

.slideBox-title {
  float:left;
  width:61.5%;
  padding-left:2.5%;
  color:#FFF;
  font-size:14px;
  line-height:38px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.slideBox-title a {
  color:#FFF;
}
.slideBox-title a:hover {
  color:#F30;
  text-decoration:underline;
}


.slideBox-menu {
  float:right;
  width:31.5%;
  height:12px;
  margin-top:14px;
  padding-right:2.5%;
  text-align:right;
  line-height:0;
  overflow:hidden;
}
.slideBox-menu a {
  display:inline-block;
  *display:inline;
  zoom:1;
  width:10px;
  height:10px;
  margin:0 4px;
  background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.slideBox.png) -10px -96px no-repeat;
  _background:#999;
  text-decoration:none;
  text-indent:-999px;
  white-space:nowrap;
  overflow:hidden;
  cursor:pointer;
  outline:none;
}
.slideBox-menu a:hover,
.slideBox-menu a.current {
  background-position:0 -96px;
  _background:#FFF;
}

.slideBox-arrow {
  position:absolute;
  z-index:5;
  left:15px;
  top:50%;
  width:18px;
  height:48px;
  margin-top:-24px;
  background:url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.slideBox.png) 0 0 no-repeat;
  text-indent:-999px;
  white-space:nowrap;
  overflow:hidden;
  cursor:pointer;
  outline:none;
}
.slideBox-arrow-prev:hover {
  background-position:0 -48px;
}

.slideBox-arrow-next {
  left:auto;
  right:15px;
  background-position:-18px 0;
}
.slideBox-arrow-next:hover {
  background-position:-18px -48px;
}











.index-more .container{width:980px; margin: 40px auto; _text-align:left;}
.index-more .imgContent{ border:1px solid #b4b4b4; padding:30px 0; clear:both; overflow:hidden; font-size:12px; line-height:21px;}
.index-more .imgLeft{width:640px; float:left; margin-left:5px;}
.index-more .imgRight{width:310px; float:right; margin-right:10px;}
.index-more .imgContent h3{ font-size:18px; color:#146ac1; padding-left:10px; margin:0 0 20px 0;}
.index-more .btn{text-align:center; margin-top:70px; margin-bottom:10px;}
.index-more .btn img{ margin-bottom:20px;}


.footer-count{ display:none;}