@charset "utf-8";

.list-box{ margin-top:15px; clear:both; overflow:hidden;}
.list-box .tit-list .list-space5{ margin-bottom:15px;}
.list-box .list-item .tit{font-size:12px; line-height:21px;}
/* wrap */
.wrap {
  width:980px;
  margin:0 auto;
  overflow:hidden;
}

/* main */
.main {
  float:left;
  width:620px;
  overflow:hidden;
}
.wbl .main {
  width:100%;
}

/* sidebar */
.sidebar {
  float:right;
  width:300px;
  margin-top:20px;
  overflow:hidden;
}
.ybl-ad .sidebar {
  margin-top:0;
}


/* section部分 Start */
/* section */
.section {
  float:left;
  width:100%;
  margin-bottom:20px;
}

.sidebar .pic-tit-list01 .tit {
  font-size:12px;
}
.sidebar .pic-w145 img {
  width:145px;
  height:110px;
}

.ybl-ad .main .section1,
.ybl-ad .main .section2 {
  margin-bottom:0;
}
.ybl-ad .sidebar .section1,
.ybl-ad .sidebar .section2 {
  margin-bottom:10px;
}


/* section-top1 */
.section-top1 { position: relative; float: left; width: 100%; height: 24px; border-bottom: 1px solid #CCC; }
.section-top1 h3 { position: absolute; left: 0; bottom: -1px; height: 23px; padding: 0 2px; border-bottom: 1px solid #1e66ae; color: #1e66ae; font-size: 16px; line-height: 20px; font-weight: normal; }
.section-top1 .more { float: right; height: 24px; padding-right: 3px; font-size: 14px; line-height: 22px; }
/* section-con1 */
.section-con1 { float: left; width: 100%; margin-top: 10px; }
/* section部分 End */


/* article-list */
.article-list {
  float:left;
  width:100%;
  margin-top:20px;
}
.article-list ul {
  float:left;
  margin-top:15px;
  padding-top:15px;
  border-top:1px dashed #CCC;
  font-size:14px;
  line-height:20px;
}
.article-list ul.first {
  margin-top:0;
  padding-top:0;
  border-top:none;
}


/* slidebar tab-box1 侧边栏标签切换 */
.sidebar .tab-box1 {
  float:left;
  width:300px;
  margin-bottom:20px;
}
.sidebar .tab-box1 .tab-menu {
  float:left;
  width:300px;
  border-top:2px solid #1e66ae;
  color:#1e66ae;
  cursor:default;
}
.sidebar .tab-box1 .tab-menu h3 {
  float:left;
  width:58px;
  height:30px;
  background:#f7f7f7;
  border:1px solid #DDD;
  border-top:none;
  font-size:16px;
  line-height:30px;
  text-align:center;
}
.sidebar .tab-box1 .tab-menu ul {
  float:left;
}
.sidebar .tab-box1 .tab-menu ul li {
  float:left;
  width:59px;
  height:30px;
  background:#f7f7f7;
  border-right:1px solid #DDD;
  border-bottom:1px solid #DDD;
  font-size:14px;
  line-height:30px;
  text-align:center;
  cursor:pointer;
}
.sidebar .tab-box1 .tab-menu ul li:hover {
  background:#FFF;
}
.sidebar .tab-box1 .tab-menu ul li.current {
  background:#FFF;
  border-bottom-color:#FFF;
  color:#900;
  font-weight:bold;
}

.sidebar .tab-box1 .tab-main {
  float:left;
  width:100%;
  margin-top:5px;
  height:200px;/* 25px(行高) x 8(行) */
  font-size:14px;
  overflow:hidden;
}
.sidebar .tab-box1 .tab-con {
  display:none;
  float:left;
  width:100%;
}
.sidebar .tab-box1 .tab-con1 {
  display:block;
}
.sidebar .tab-box1 iframe {
  width:100%;
  height:200px;
  border:none;
  overflow:hidden;
}


