@charset "utf-8";
/* 
CSS Document 
*/
img {
  border: 0;
}
ul {
  list-style: none;
}
.header-zh-01 {
  width: 100%;
  background: url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.zh-bg-topbj.png) repeat-x;
  height: 37px;
  font-family: "宋体", simsun, sans-serif;
}
.header-zh-01, .header-zh-01 a {
  color: #f2f2f2;
  font-weight: bold;
  font-size: 12px;
}
.header-zh-01-con {
  width: 980px;
  margin: 0 auto;
  text-align: left;
}
.header-zh-01-con ul li {
  float: left;
  height: 12px;
  line-height: 16px;
  margin-top: 12px;
  padding: 0 8px;
}
.header-zh-01-con ul li.last {
  border-right: 0;
}
.header-zh-01-con ul li.criOline {
  border: 0;
}
.header-zh-01-con ul li.criOline img {
  position: relative;
  top: -12px;
}

/*
华语广播网
*/
.hygbw-area {
  width: 100px;
  position: relative;
}
.hygbw-area a {
  text-decoration: none;
}
.hygbw-area span {
  display: block;
  width: 100px;
  height: 25px;
  line-height: 25px;
  margin-left: 1px;
  margin-top: -3px;
}
.hygbw-area span a {
  color: #fff;
  display: block;
  width: 86px;
  margin-left: 5px;
  height: 25px;
  line-height: 25px;
  background: url(http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.header.png) 100% -45px no-repeat;
}
.hygbw-area-current span {
  border: 1px solid #dbdbdb;
  border-bottom: 0;
  background: #fff;
  margin-left: 0;
}
.hygbw-area-current span a {
  color: #000;
  background-position: 100% -78px;
}
.hygbw-area-current .area-select {
  display: block;
}
.hygbw-area-select {
  width: 86px;
  border: 1px solid #dbdbdb;
  border-top: 0;
  background: #fff;
  position: absolute;
  left: 0;
  top: 28px;
  z-index: 99999;
  height: 112px;
  display: none;
}
.hygbw-area-select ul {
  padding-top: 10px;
}
.hygbw-area-select ul li {
  display: block;
  height:auto;
  *margin-top:6px;
  text-align:center;
  overflow: hidden;
}
.hygbw-area-select ul li a {
  display:block;
  padding:0 5px;
  color: #000;
}
.header-zh-01 ul li.yesline {
  border-left: 1px solid #313131;
  border-right: 1px solid #646464;
  padding: 0;
  margin-top: 14px;
}
.hygbw-area span a:hover {
  text-decoration: none;
}
.hygbw-area-select ul li a:hover {
  text-decoration: underline;
}
/*
小语种浮层
*/
.divCeng {
  width: 658px;
  position: relative;
  top: -12px;
  right: 0;
  z-index: 2;
}
.divCeng-bot {
  position: absolute;
  top: 37px;
  right: 12px;
  width: 653px;
  height:330px;
  z-index: 999;
  display: none;
}
.divCeng:hover .divCeng-bot {
  display: block
}
.header-zh-01 ul li.noline {
  border-left: 0;
  border-right: 0
}
