	
	/* FONTS */
	.dcg,
	.dcg p,
	.dcg aside.top-services .tservice h2,
	.dcg header .service h4,
	.dcg aside.social-group .social a
	{font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif; font-weight: 400; font-style: normal;}
	.dcg h1,
	.dcg header .wswy h2,
	.dcg header .service h3,
	.dcg section.inspiration .ins h2,
	.dcg section.knowhow .kh h2,
	.dcg .services .service h4
	{font-family: 'Gotham A', 'Gotham B', sans-serif; font-weight: 400; font-style: normal;}
	.dcg h2, .dcg h3,
	.dcg header .wswy h1,
	.dcg section.products .product p.price span,
	.dcg section.products .product6 p.price span
	{font-family: 'Gotham A', 'Gotham B', sans-serif; font-weight: 300; font-style: normal;}
	.dcg aside.top-services .tservice h1,
	.dcg section.deals .deal h2,
	.dcg section.products .product h1 a,
	.dcg section.products .product p.price,
	.dcg section.products .product6 h1 a,
	.dcg section.products .product6 p.price,
	.dcg .services .service h3,
	.dcg .carphone_warehouse
	{font-family: 'Gotham A', 'Gotham B', sans-serif; font-weight: 500; font-style: normal;}



	/* COLOURS - CORE*/
	/*Press Grey*/
	.dcg,
	.dcg aside.top-services .tservice h2,
	.dcg header .service h4,
	.dcg section h1,
	.dcg section.knowhow .intro-text p a,
	.dcg section.knowhow .kh h2,
	.dcg section.knowhow .kh p a,
	.dcg .services .service h4,
	.dcg aside.social-group .social a {color: #231f20;}
	.dcg section.products .product p.price {border-color: #231f20;}
	.dcg section.products .product6 p.price {border-color: #231f20;}
	/*Dark grey*/
	.dcg section.deals .deal h2,
	.dcg section.products .product p.price span {color: #5a5858;}
	.dcg section.products .product6 p.price span {color: #5a5858;}
	/*Core blue*/
	.dcg h1, .dcg h2, .dcg h3,
	.dcg a,
	.dcg a:active,
	.dcg header .wswy a:hover {color: #0076a3;}
	/*Planet blue*/
	.dcg aside.top-services .tservice h1,
	.dcg header .service h3,
	.dcg .services .service h3,
	.dcg aside.social-group .social i {color: #09347b;}
	/*Adaptive core blue */
    .dcg header .wswy {background-color: #f6f6f6;}
	.dcg header .service,
	.dcg section.products .bg,
	.dcg section.latest-tech img,
	.dcg .carphone_warehouse,
	.dcg section.knowhow .bg {background-color: #f6f6f6}	
	.dcg section.products .bg.mega-deals {background-color: #ebe9e9;}
	@media only screen and (min-width: 0) and (max-width:1024px) {
		.dcg section.products .product {background-color: #f6f6f6;}
		.dcg section.products .product6 {background-color: #f6f6f6;}
	}
	/*Adaptive core blue alternate */
	.dcg section.latest-tech img:hover {background-color: #ebf3f8;}
	/*Carphone blue*/
	.dcg .carphone_warehouse a {color: #012351}
	/*Border grey*/
	.dcg section h1,
	.dcg aside.top-services .tservice,
	.dcg section.deals .deal,
	.dcg section.inspiration .ins,
	.dcg section.inspiration .ins h2,
	.dcg section.deals .deal h2,
	.dcg section.knowhow .intro-text,
	.dcg section.knowhow .kh,
	.dcg aside.services .service {border-color: #e3e3e3;}
	/*Product blue*/
	.dcg section.products .product h1 a {color: #161b7a;}
	.dcg section.products .product6 h1 a {color: #161b7a;}
	/*Price red*/
	.dcg section.products .product p.price {color: #cb003a;}
	.dcg section.products .product6 p.price {color: #cb003a;}
	/*White*/
	.dcg section.knowhow .intro-text,
	.dcg section.knowhow .kh {background-color: white}
	/* #### PCW COLOUR OVERRIDES #### */
	.dcg.pcwld aside.top-services .tservice h1,
	.dcg.pcwld .services .service h3,
	.dcg.pcwld section.products .product h1 a,
	.dcg.pcwld aside.social-group .social i {color: #72226d;}
	.dcg.pcwld section.products .product6 h1 a {color: #72226d;}


	/* XMAS - Include the class 'xmas' alongside 'dcg' in the html to invoke xmas styles */
	/* Xmas red */
	.dcg.xmas section h1, .dcg.xmas section.deals .deal li a,
	.dcg.xmas section.deals .deal .icon-li,
	.dcg.xmas section.deals .deal ul li a,
	.dcg.xmas section.products .product6 h1, 
	.dcg.xmas section.products .product6 p.cta, 
	.dcg.xmas section.products .product6 p.price {color: #cb3b32;}
	.dcg.xmas section h1 {text-align: center; padding-bottom: 0px}/*move to default styles once live*/
	/* Xmas dark grey */
	.dcg.xmas section.inspiration h2, .dcg.xmas section.inspiration p, .dcg.xmas section.products .product6 p {color:#5a5858}
	.dcg.xmas section.latest-tech img:hover {background-color: #ffd8d9}
	/* Keep default styles */
	.dcg.xmas .carphone_warehouse a {color: #012351}

	/* SALE - Include the class 'sale' alongside 'dcg' in the html to invoke sale styles */
	/* Sale red */
	.dcg.sale section.deals h1,
	.dcg.sale section.products h1,
	.dcg.sale section.deals .deal ul li a,
	.dcg.sale section.products .product a,
	.dcg.sale section.products .product p.price {color: #E2001A;}
	.dcg.sale section.products .product6 a,
	.dcg.sale section.products .product6 p.price {color: #E2001A;}
	.dcg.sale section.deals h1,
	.dcg.sale section.products h1 {font-weight: 500;}
	.dcg.sale section.inspiration .ins h2,
	.dcg.sale section.inspiration .ins p a {color: #555555;}
    .dcg section.latest-tech img:hover {background-color: #ffd8d9;}

	/* Keep default styles */
	.dcg.sale section.products .product p.price span {color:#5a5858;}
	.dcg.sale section.products .product6 p.price span {color:#5a5858;}
	
	
	/* SPRING 2016 - Include the class 'spring' alongside 'dcg' in the html to invoke Spring styles */
	/* Spring blue */
	.dcg.spring section h1, .dcg.spring section.deals .deal li a,
	.dcg.spring section.deals .deal .icon-li,
	.dcg.spring section.deals .deal ul li a,
	.dcg.spring section.products .product6 h1, 
	.dcg.spring section.products .product6 p.noMobile,	
	.dcg.spring section.products .product6 p.cta, 
	.dcg.spring section.products {color: #555;}
	.dcg.spring section h1 {text-align: center; padding-bottom: 0px}/*move to default styles once live*/
	/* Spring dark grey */
	.dcg.spring section.inspiration h2, .dcg.spring section.inspiration p {color:#5a5858}
	.dcg.spring section.latest-tech img:hover {background-color: #ccc/*HC changed#c7eafb*/;}
	/* Keep default styles */
	.dcg.spring .carphone_warehouse a {color: #012351}
	
	.dcg.spring section.products .product p.price span {color:#5a5858;}
	.dcg.spring section.products .product6 p.price span {color:#5a5858;}	
	
	
	/* EASTER - Include the class 'easter' alongside 'dcg' in the html to invoke sale styles */
	/* Easter blue */
	.dcg.easter section.latest-tech img:hover {background-color: #d1effa;}
	.dcg.easter section.deals h1,
	.dcg.easter section.products h1,
	.dcg.easter section.inspiration h1,
	.dcg.easter section.latest-tech h1,
	.dcg.easter section.deals .deal ul li a,
	.dcg.easter section.products .product a {color: #1aaee6;}
	.dcg.easter section.products .product6 a {color: #1aaee6;}
	.dcg.easter section.inspiration .ins h2,
	.dcg.easter section.inspiration .ins p a {color: #555555;}

	/* Keep default styles */
	.dcg.easter section.products .product p.price span {color:#5a5858;}
	.dcg.easter section.products .product6 p.price span {color:#5a5858;}


	/* SUMMER - Include the class 'summer' alongside 'dcg' in the html to invoke sale styles */
	/* Summer orange */
	.dcg.summer section.latest-tech img:hover {background-color: #f8c2ad;}
	.dcg.summer section.inspiration .ins,
	.dcg.summer section.inspiration .ins h2,
	.dcg.summer h2, .dcg.summer h3,
	.dcg.summer a,
	.dcg.summer a:active,
	.dcg.summer section.deals .deal .icon-li,
	.dcg.summer section.deals h1,
	.dcg.summer section.products h1,
	.dcg.summer section.inspiration h1,
	.dcg.summer section.latest-tech h1, 
	.dcg.summer section.products .product6 a,
	.dcg.summer section.inspiration .ins h2,
	.dcg.summer section.inspiration .ins a {color: #da521f;}
	

	/* Keep default styles */
	.dcg.summer section.products .product p.price span {color:#5a5858;}
	.dcg.summer section.products .product6 p.price span {color:#5a5858;}
	.dcg.summer section.inspiration .ins p {color: #555555;}


/* NEW TERM - Include the class 'new-term' alongside 'dcg' in the html to invoke sale styles */
	/* New Term green */
	.dcg.new-term section.latest-tech img:hover {background-color: #d0edef;}
	.dcg.new-term section.inspiration .ins,
	.dcg.new-term section.inspiration .ins h2,
	.dcg.new-term h2, .dcg.summer h3,
	.dcg.new-term a,
	.dcg.new-term a:active,
	.dcg.new-term section.deals .deal .icon-li,
	.dcg.new-term section.deals h1,
	.dcg.new-term section.products h1,
	.dcg.new-term section.inspiration h1,
	.dcg.new-term section.latest-tech h1, 
	.dcg.new-term section.products .product6 a,
	.dcg.new-term section.inspiration .ins h2,
	.dcg.new-term section.inspiration .ins a {color: #036d72;}

	/* Keep default styles */
	.dcg.new-term section.products .product p.price span {color:#5a5858;}
	.dcg.new-term section.products .product6 p.price span {color:#5a5858;}
	.dcg.new-term section.inspiration .ins p {color: #555555;}


	/* #################### DO NOT ADD IN COLORS BELOW #################### */

	/* Defaults */
	.breadcrumb {display: none;}
	.dcg {padding: 0;}
	.dcg p {font-size: 13px;}
	.dcg a,
	.dcg section.inspiration .ins h2 {text-decoration: none;-webkit-transition: color 750ms ease; transition: color 750ms ease; cursor: pointer;}
	.dcg p a {font-size: 14px;cursor: pointer; }
	.dcg p a:hover {text-decoration: underline}
	.dcg p a i {font-size: 80%;}
	.dcg *, .dcg *:after, .dcg *:before {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
	.dcg .group:before, .dcg .group:after {content: "";display: table;} 
	.dcg .group:after {clear: both;}
	.dcg .group {zoom: 1;}
	.dcg img {max-width: 100%;}
	
	/*Display table*/
	.dcg aside.top-services .tservices-block,
	.dcg section.inspiration .ins-block,
	.dcg section.deals .deal-block,
	.dcg section.knowhow .knowhow-block
	{
	  height: 100%;
	  display: table;
	  table-layout: fixed;
	  width: 101.5%;
	  margin-left: -0.7%;
	  border-spacing: 10px;
	}


	.dcg section.products .product-block { 
	  height: 100%;
	  display: table;
	  table-layout: fixed;
	  width: 102%;
	  margin-left: -1%;
	  border-spacing: 10px;}

	.dcg section.inspiration .ins-block,
	.dcg section.deals .deal-block,
	.dcg section.knowhow .knowhow-block {cell-spacing: 1%;}
	

	/* Top services */
	.dcg aside.top-services {padding-top: 15px;}
	.dcg aside.top-services .tservice {float:left;width: 24%;padding: 0 5px 0 15px; margin-left: 1%;border-left-style: solid; border-left-width: 1px}
	
	.dcg aside.top-services .tservice:first-child {border-left-width: 0px}
	.dcg aside.top-services .tservice img {float: left; margin-right: 8px;width: 100%; max-width: 40px; max-height: 40px;}
	.dcg aside.top-services .service-detail {overflow: hidden; text-align: center}
	.dcg aside.top-services .tservice h1 {font-size: 1.2em;margin-bottom: 2px; overflow: hidden;}
	.dcg aside.top-services .tservice h2 {font-size: 0.9em; overflow: hidden;}
	
	/* Top services for xmas*/
	.dcg.xmas aside.top-services .tservices-block {width: 102.4%!important;}
	.dcg.xmas aside.top-services {padding-top: 0px; padding-bottom: 0px; margin-bottom: 10px;}
	.dcg.xmas aside.top-services .tservice {float:left; width: 19.1%; padding: 2px 5px 0 15px; margin-left: 0; margin-right: 0.9%;border: solid 1px #ccc; background: #efefef; min-height: 43px;}
	/*.dcg.xmas aside.top-services .tservice:first-child {border-left-width: 0px}*/
	.dcg.xmas aside.top-services .tservice img {float: left; margin-right: 8px;width: 100%; max-width: 40px; max-height: 40px;}
	.dcg.xmas aside.top-services .service-detail {overflow: hidden; text-align: center}
	.dcg.xmas aside.top-services .tservice h1 {font-size: 1.3em;margin-bottom: 2px; overflow: hidden; color: #c23a31}
	.dcg.xmas aside.top-services .tservice h2 {font-size: 0.77em; overflow: hidden;}
	
	
	/* Top services x5 with default dark blue */
	.dcg.generic aside.top-services .tservices-block {width: 102.4%!important;}
	.dcg.generic aside.top-services {padding-top: 0px; padding-bottom: 0px; margin-bottom: 10px;}
	.dcg.generic aside.top-services .tservice {float:left; width: 19.1%; padding: 2px 5px 0 15px; margin-left: 0; margin-right: 0.9%;border: solid 1px #ccc; background: #efefef; min-height: 43px;}
	.dcg.generic aside.top-services .tservice img {float: left; margin-right: 8px;width: 100%; max-width: 40px; max-height: 40px;}
	.dcg.generic aside.top-services .service-detail {overflow: hidden; text-align: center}
	.dcg.generic aside.top-services .tservice h1 {font-size: 1.3em;margin-bottom: 2px; overflow: hidden; color: #011e62;}
	.dcg.pcwld.generic aside.top-services .tservice h1 {color: #75206e;}
	.dcg.generic aside.top-services .tservice h2 {font-size: 0.77em; overflow: hidden;}
	.dcg.pcwld.generic aside.top-services .tservice {width: 24.1%;}
	

	/* Header */
	.dcg header {margin-bottom: 0px; /*padding-bottom: 15px!important;*/}
	.dcg header .wswy {float:left; width: 66%;height: 215px;-webkit-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transform-style: preserve-3d;}
	.dcg header .wswy a {display: block; height: 100%;}
	.dcg header .wswy .header_img {float: left; width: 46%;}
	.dcg header .wswy .header_img img {width: 100%; max-width: 375px;}
	.dcg header .wswy .links {float: left; width: 54%; padding: 10px 15px; text-align: center; position: relative;top: 50%;transform: translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);}
	.dcg header .wswy h1 {font-size: 2.6em; margin-bottom: 0px; line-height: 1.1; letter-spacing: -0.0625em;}
	.dcg header .wswy h2 {font-size: 3.7em; letter-spacing: -0.0625em;}
	.dcg header .wswy ul {margin-top: 30px; padding-left: 0;list-style-type: none; padding-left: 25px; padding-right: 25px; text-align: center;}
	.dcg header .wswy ul li {padding-bottom: 5px;font-size: 20px;}
	.dcg header .wswy ul li i {font-size: 80%;}
	.dcg header .wswy a img.main-img {width: 100%;}
	/*.dcg header .wswy ul li a { text-decoration: none; font-size: 14px;}*/

/* Header - Services on the right */
	.dcg header .services {float:left; width: 33%; margin-left: 1%;}
    .dcg header .service.grid-right {margin-right: 0px; margin-left: 16px; margin-top: 0;}
    .dcg header .service.grid-top {margin-bottom: 10px;}
	.dcg header .service {width: 48%; height: 105px;margin-top: 0px;-webkit-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transform-style: preserve-3d; float: left;}/*changed to accommodate 4x blocks*/
	.dcg header .service:first-child {margin-top: 0px;}
	.dcg header .service a {height: 100%; display: block}
	.dcg header .service .headings {position: relative;top: 50%;transform: translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);}
	.dcg header .service img {float: left; margin-right: -20px;overflow: hidden; width: 45%;}/*changed margin-right to move text left*/
	.dcg header .service h3 {font-size: 1.1em; margin-bottom: 0; padding-right: 15px;overflow:hidden; padding-left: 5px;}/*changed font-size*/
	.dcg header .service h4 {font-size: 0.9em; padding-top: 0px; padding-right: 12px;overflow:hidden; clear: both; padding-left: 11px;}
	.dcg header .service h4 i {font-size: 0.750em;}
	.dcg aside.services {display:none !important;}
	
	/*shop all offers ticker*/
	.dcg.spring section.shop-offers-ticker {background-color: #0080ba; padding: 0px}	
	.dcg.spring section.shop-offers-ticker h3 {color: #fff!important; font-weight: 500!important; padding: 5px; text-align: center}
	.dcg.spring section.shop-offers-ticker i.icon-chevron-right {font-size: 65%;}
	
	/*super skinny ticker*/
	.flash-super-skinny {margin-bottom: 10px;}
	.flash-super-skinny img {max-width: 100%;}
	
	/* All sections */
	.dcg section, .dcg aside {padding: 10px 0;} /*HC reduced padding from 20px to 10px 10/09/2015 */
	.dcg section h1 {font-size: 1.6em; margin-bottom: 0;} /*padding-bottom: 5px; border-bottom-style: solid; border-bottom-width: 1px;} HC reduced padding-bottom from 10px to 5px 10/09/2015 */
	
	/*Fancy title*/
.dcg .fancy {position: relative; text-align: center; font-size: 1.6em;}
.dcg .fancy span {background: #fff; padding: 0 15px; position: relative; z-index: 1;}
.dcg .fancy:before {background: #ccc;/*HC changed from #0d72a6*/ content: ""; display: block; height: 1px; position: absolute; top: 55%; width: 100%;}
.dcg .fancy:before {left: 0;}
	

	/* Inspiration */
	.dcg section.inspiration .ins {position: relative; width: 24%;border-width: 1px; border-style: solid; padding: 0px; margin-left: 1%; display: table-cell; position: relative; padding: 9px 9px 5px;}
	.dcg section.inspiration .ins img {display: block; width: 100%; max-width: 281px; margin: 0 auto;opacity: 1;-webkit-transform: scale(1,1);-ms-transform: scale(1,1);transform: scale(1,1);-webkit-transition: all 300ms ease-out;transition: all 300ms ease-out;}
	.dcg section.inspiration .ins img:hover {position: relative;z-index: 99;opacity: .8;-webkit-transform: scale(1.04, 1.04);-ms-transform: scale(1.04, 1.04);transform: scale(1.04, 1.04);-webkit-transition: all 300ms ease-out;transition: all 300ms ease-out;}
	.dcg section.inspiration .ins h2 {padding: 5px 10px; /*border-bottom-width: 1px; border-bottom-style: solid;*/ min-height: 70px; letter-spacing: -1px;}
	.dcg section.inspiration .ins p {padding-left: 10px; padding-right: 10px;}
	.dcg section.inspiration .ins p a {position: absolute; bottom: 15px;left: 18px;right: 18px;}
	.dcg section.inspiration figure {padding-top: 10px;}

	/* Half width banner */
    .dcg.half-width { max-width: 100%; height: 130px; margin-top: 40px;}
    .dcg.half-width a { width: 49%; float: left; padding: 0px;}
	.dcg.half-width a img {float: left; width: 100%; max-width: 100%;}
	.dcg.half-width a:first-child {margin-right: 2%;}

	/* Deals */
	.dcg section.deals .deal {width: 32.33%; margin-left: 1%; padding: 0px;/*HC changed from 9px*/border-width: 1px; border-style: none;/*HC removed*/ display: table-cell;}
	.dcg section.deals .deal h2 {font-size: 1.3em;border-bottom-width: 0px; border-bottom-style: solid;padding: 10px 5px 5px 10px; margin-bottom: 5px;}
	.dcg section.deals .deal img  {width: 100%; max-width: 405px;}
	.dcg section.deals .deal ul {overflow: hidden;padding: 0 25px;list-style-type: none; margin: 0 5px;}
	/*.dcg section.deals .deal ul li {margin: 10px 0; min-height: 35px; font-weight: bold; text-transform: uppercase;}/*to change all lis to all caps*/
	.dcg section.deals .deal ul li:first-child {font-weight: bold; text-transform: uppercase; /*min-height: 72px!important; /*to accommodate 3 lines of text*/}
	/*.dcg.pcwld section.deals .deal ul li:first-child {min-height: 55px!important;}/*to leave PCW with default*/
	.dcg section.deals .deal ul li a {font-size: 12.3px;/*FW reduced from 13px for whites message */ position: relative;/*added 22july to fix chevron issue*/}
	.dcg section.deals .deal ul li a:hover {text-decoration: underline;}
	
	/*text links as bars styles */
	.dcg section.deals .deal.bars ul {margin: 0px; padding: 0px} 
	.dcg section.deals .deal.bars ul li {background-color: #f6f6f6; min-height: 52px; padding: 10px; width: 100%}/* FW changed min-height: 52px; to 68px; because of whites 3 line shout. 7th Apr */
	.dcg section.deals .deal.bars ul li:hover {background-color: #ccc;/*HC changed from #0d72a6*/ transition: 1s}
	.dcg section.deals .deal.bars ul li:hover a {/*color: #fff;HC removed*/ text-decoration: none!important;}

    /* Deals 2 */
	.dcg section.deals2 .deal {width: 32.33%;margin-left: 1%;padding: 9px;border-width: 0px;border-style: solid; display: table-cell; background-color: #F1F1F1;}
	.dcg section.deals2 .deal img  {width: 100%; max-width: 405px;}    

	/* Products */
	.dcg section.products .bg {padding: 10px 20px 0px; margin-top: 10px;} /*HC added margin-top 10/09/2015 */
	.dcg section.products .product {width: 19%; margin-left: 1%; display: table-cell; position: relative; padding-bottom: 35px;}
	/* ----class below added to allow for 6 products---- */
	.dcg section.products .product6 {width: 15%; margin-left: 1%; display: table-cell; position: relative; padding-bottom: 0px;}
	.dcg section.products .product6 img {width: 100%; max-width: 230px;}
	.dcg section.products .product6 h1 {font-weight: 500; font-size: 1.2em; margin-top: 10px; border:0; padding-bottom:0; text-align: left!important;}
	.dcg section.products.multi-line {padding-bottom: 15px!important;}
	.dcg section.products.multi-line .product h1 {min-height: 40px;}
	/*.dcg.pcwld section.products.multi-line .product6 h1 {min-height: 42px;}*/
	.dcg section.products.multi-line .product6 h1 {min-height: 57px;}
	
	.dcg section.products.multi-line .bg.mega-deals .product6 h1 {min-height: 40px;}
	
	.dcg section.products .product6 p.price {line-height: 1;margin: 12px 0;font-size: 1.3em; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; padding: 5px 0; cursor: text; min-height: 50px;}
	/*.dcg.pcwld section.products .product6 p.price {min-height: 63px;}*/
	.dcg section.products .product6 p.price span {font-size: 12px; } /*HC changed from 13px to 12px to accommodate longer message*/
	.dcg section.products .product6 p a {position: absolute; bottom: 10px;}
	.dcg section.products .product6 .icon-chevron-right {font-size: 80%}
	.dcg section.products .product6 .product-desc {cursor: text}
	.dcg section.products .product6 p.cta {cursor: pointer}
	.dcg section.products .product img {width: 100%; max-width: 230px;}
	.dcg section.products .product h1 {font-size: 1.3em; margin-top: 10px; border:0; padding-bottom:0;}
	.dcg section.products.multi-line .product h1 {min-height: 40px;}
	.dcg section.products .product p.price {line-height: 1;margin: 12px 0;font-size: 1.3em; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; padding: 5px 0;}
	.dcg section.products .product p.price span {font-size: 13px; }
	.dcg section.products .product p a {position: absolute; bottom: 10px;}
	.dcg section.products .prod-banner {margin-top: 15px;}
	.dcg section.products .prod-banner img {width: 100%; max-width: 1200px;}

	/* Latest tech */
	.dcg section.latest-tech img {padding: 10px;width: 100%; margin: 10px 0;-webkit-transition: all 400ms ease-out;transition: all 400ms ease-out;}
	/*.dcg section.latest-tech img:hover {position: relative;}*/
	.dcg section.latest-tech .half a img {float: left; width: 49%;max-width: 608px;}
	.dcg section.latest-tech .half a:first-child img {margin-right: 2%;}
	.dcg section.latest-tech-ticker {background: url("http://currys.cdn.dixons.com/css/themes/Homepage/img/latest-tech-ticker-bg.jpg");background-color: #f6f6f6; padding: 0px}
	.dcg section.latest-tech-ticker h3 {color: #cb3b32!important; font-weight: 500!important; padding: 5px; text-align: center}
	.dcg.spring section.latest-tech-ticker h3 {color: #333333!important; font-weight: 500!important; padding: 5px; text-align: center; text-shadow: 2px 2px 0 rgba(150, 150, 150, 0.6); text-transform: uppercase;}
	.dcg.spring section.latest-tech-ticker h3:hover {text-shadow: none;}
	.dcg section.latest-tech-ticker i.icon-chevron-right {font-size: 80%}

	/* Carphone */
	.dcg section.cpwh .carphone_warehouse {position: relative;font-size: 20px; min-height: 62px}
	.dcg section.cpwh .carphone_warehouse i {font-size: 80%}
	.dcg section.cpwh .carphone_warehouse a {display: block; padding: 18px 252px 10px 15px;}
	.dcg section.cpwh .carphone_warehouse img {position: absolute; top: 10px; right: 10px;}

	/* Knowhow */
	.dcg section.knowhow .bg {padding: 0 10px;}
	.dcg section.knowhow .intro-text {width: 28.33%;margin-left: 1%;padding: 25px 20px 15px 20px; border-width: 1px; border-style: solid; display: table-cell;}
	.dcg section.knowhow .intro-text p {font-size: 14px;}
	.dcg section.knowhow .intro-text img.knowhow-logo {width:80px; height: 80px; margin: -25px 20px 15px 0;}
	.dcg section.knowhow .kh {width: 16.667%;margin-left: 1%;border-width: 1px; border-style: solid; display: table-cell;}
	.dcg section.knowhow .kh img {width: 100%; max-width: 222px;}
	.dcg section.knowhow .kh h2 {font-size: 1.2em; padding: 0 15px;}
	.dcg section.knowhow .kh p {padding: 0 15px}

	/* Social */
	.dcg aside.social-group .social {text-align: center; float: left; width: 16.667%; padding: 5px;vertical-align: bottom;}
	.dcg aside.social-group .social span {font-size: 13px;}
	.dcg aside.social-group .social i, .dcg aside.social-group .social img {display: block; margin-bottom: 5px;}
	.dcg aside.social-group .social img {vertical-align: bottom;margin-left: auto; margin-right: auto;}
	.dcg aside.social-group .social i {font-size: 2em; margin-right: 5px;}
	.dcg aside.social-group .social i.icon-facebook-sign {color: #3B5998}
	.dcg aside.social-group .social i.icon-twitter {color: #55ACEE}
	.dcg aside.social-group .social i.icon-pinterest {color: #CC2127}
	.dcg aside.social-group .social i.icon-google-plus-sign {color: #dd4b39}
	.dcg aside.social-group .social i.icon-youtube-play {color: #cd201f}

	/* TEMP STYLES */
	/* Black Friday */
	.dcg aside.black_friday {text-align: center; padding: 10px 0 6px 0; border-top: 1px solid #ccc;}
	.dcg aside.black_friday h1 {font-size: 1.2em;}
	.dcg aside.black_friday h1 i {font-size: 80%;}
	.dcg aside.black_friday h1 a {color: #231f20;}
	
	/* Black Friday ticker */
	.dcg section.black-friday-ticker {background-color: #000; padding: 0px}
	.dcg section.black-friday-ticker h3 {color: #fff!important; font-weight: 500!important; padding: 5px; text-align: center; font-size: 1em}
	.dcg section.black-friday-ticker i.icon-chevron-right {font-size: 80%}
	
	/* Christmas delivery */
 .dcg header .delivery-banner {margin-top: 0;}
	.dcg header .xmas-del1 {height: 45px;}
	.dcg header .xmas-del2, .dcg header .xmas-del3 {height: 120px; position: relative;}
		.dcg header .xmas-del2 img.sflake, .dcg header .xmas-del3 img.sflake {position: absolute; bottom: 0; right: 0; float: none; margin: 0;}
 .dcg header .xmas-del {
 	padding: 0 15px;
		background: #680001; /* Old browsers */
		background: -moz-linear-gradient(top,  #680001 0%, #b51118 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#680001), color-stop(100%,#b51118)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #680001 0%,#b51118 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #680001 0%,#b51118 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #680001 0%,#b51118 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #680001 0%,#b51118 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#680001', endColorstr='#b51118',GradientType=0 ); /* IE6-9 */
 }
 .dcg header .xmas-del .headings h2,	
 .dcg header .xmas-del .headings h3,
 .dcg.pcwld .xmas-del .headings h3, 	
 .dcg header .xmas-del .headings h4,	
 .dcg header .xmas-del .headings p {color: #fff;}
 .dcg header .xmas-del .headings p a {color: #fff;font-weight: bold; font-size: 14px;transition: none;}
 .dcg header .xmas-del .headings p i {font-size: 80%;}
 .dcg header .xmas-del .headings h3 {font-size: 1.5em;}

	/* Christmas delivery - 23 dec */
	.dcg header .xmas-del1.weds {height: 80px;}
	.dcg header .xmas-del3.weds {height: 215px;}

	.dcg header .xmas-del1.weds h2 {text-align: center;}
	.dcg.header .xmas-del3.weds .headings h3, .dcg header .xmas-del3.weds .headings h4, .dcg header .xmas-del3.weds .headings p {text-align: center;}
	
	
	/* Christmas delivery - changes to sale 24 dec */
	.dcg header .xmas-del1.thurs {height: 305px; background: none repeat scroll 0% 0% rgb(179, 13, 17);}
	.dcg header .xmas-del1.thurs .headings h2 {text-align: center; font-size: 3.5em; font-weight: 600; color: rgb(255, 255, 255);}
	.dcg header .xmas-del1.thurs .headings h3 {text-align: center; font-size: 1.6em; font-weight: 600; color: rgb(255, 255, 255);}
	.dcg header .xmas-del1.thurs .headings h3 a {color: rgb(255, 255, 255); transition: none;}
	
	/* QUERIES */

	/* Small Desktop */
	@media only screen and (min-width: 0) and (max-width:1239px) {
	  .dcg header .wswy {height: 175px;}
	  .dcg header .wswy h1 {font-size: 1.8em;}
	  .dcg header .wswy h2 {font-size: 2.5em;}
	  .dcg header .wswy ul {margin-top: 20px;}
	  .dcg header .service {height: 82px; width: 47%}/*changed height for grid*/
	  .dcg header .service img {max-height: 65px;margin-right: -15px; width: 45%;}/*changed max-height and margin-rightfor grid*/
	  .dcg header .service h3 {font-size: 1em; padding-top: 20px; min-height: 68px;}/*changed font size*/
	  .dcg header .service h4 {font-size: .75em; padding-top: 5px; min-height: 50px}/*added min-height and removed padding-top*/
	  .dcg.generic aside.top-services .tservice h1 {font-size: 1em}
	  .dcg.generic aside.top-services .tservice h2 {font-size: 0.7em}
	  /*.dcg.generic aside.top-services .tservice {min-height: 65px;}*/
	  .dcg section, .dcg aside {padding: 5px 0;}
	  .dcg section.deals .deal.bars ul li {min-height: 72px}
      .dcg section.deals .deal h2 {min-height: 56px;} /* Min height added to align on small desktop */  
	  .dcg section.inspiration .ins h2 {font-size: 1.4em}
	  .dcg section.products .bg {padding: 8px 15px 15px;}	
	  .dcg section.products .product6 p.price {font-size: 1em; min-height: 55px;}
	  .dcg section.products .product6 p.price span {font-size: 12px; }
	  .dcg section.products .product6 h1 {font-size:1.1em; min-height: 53px;}
	  .dcg section.products .product6 .product-desc p {font-size: 1em;}
	  .dcg section.cpwh .carphone_warehouse a {padding-top: 10px;font-size: 18px;}

	  	/* Christmas delivery */
			.dcg header .xmas-del1 {height: 32px;}
			.dcg header .xmas-del2, .dcg header .xmas-del3 {height: 95px;}
			
  	/* Christmas delivery - 23 dec */
	  .dcg header .xmas-del1.weds {height: 65px;}
	  .dcg header .xmas-del3.weds {height: 166px;}			

	/* Christmas delivery - changes to sale 24 dec */
	.dcg header .xmas-del1.thurs {height: 241px; background: none repeat scroll 0% 0% rgb(179, 13, 17);}
	
	.dcg header .xmas-del1.thurs .headings h2 {font-size: 2em; }			

	}

	/* Tablet */
	@media only screen and (min-width: 0) and (max-width:1024px) {
    .col12 { margin-bottom: 0em;}
    .row { padding: 0px 0px 0px 0px; }    
	.dcg aside.top-services .tservices-block,
	.dcg section.inspiration .ins-block,
	.dcg section.inspiration .ins-block,
	.dcg section.deals .deal-block,
	.dcg section.products .product-block,
	.dcg section.knowhow .knowhow-block,
	.dcg header .services-block {
	  display: -webkit-box;      
	  display: -moz-box;         
	  display: -ms-flexbox;      
	  display: -webkit-flex;     
	  display: flex;   
	  -webkit-flex-wrap:wrap;
	  -ms-flex-wrap: wrap;
	  flex-wrap:wrap;
	  margin: 0;}
	  
	  .dcg aside.top-services .tservice {width: 32.33%;}
	  .dcg aside.top-services .tservice h1 {font-size: 0.9em}
	  .dcg.xmas aside.top-services .tservice h2 {font-size: 0.8em}
	  /*.dcg aside.top-services .tservice.ts4 {display: none;}*/
	  	.dcg.xmas aside.top-services .tservice {width: 18.8%;}
	  .dcg header .wswy {float: none; width: 100%;min-height: 0px;height:auto; margin-bottom: 10px; text-align:center;}
	  .dcg header .services {display: none}
	  .dcg.xmas header .wswy,
	  .dcg.sale header .wswy,
	  .dcg.peak header .wswy {min-height: inherit;}
	  .dcg header .wswy img {width: 100%}
	  .dcg header .wswy .header_img {width: 40%;}
	  .dcg header .wswy .header_img img {max-width: 320px;}
	  .dcg header .wswy .links {width: 60%;padding-top: 35px; top: auto; transform: translateY(0%);-webkit-transform:translateY(0%);-ms-transform:translateY(0%);}
	  /*.dcg header .services {float: none;width: 100%; margin-left: 0; margin-top: 10px;}*/
	  .dcg header .service {float: left;width: 49%;margin-left: 0px;margin-top: 0; padding: 0 5px 5px 0;min-height: 65px; height: 65px;}/*changed for grid/4th block*/
	  .dcg header .service .headings {position: relative;top: auto;transform: translateY(0%);-webkit-transform:translateY(0%);-ms-transform:translateY(0%);}
	  .dcg header .service h3 {padding-top: 5px; padding-left: 11px; min-height: 25px;}/*changed for grid/4th block*/
	  .dcg header .service h4 {font-size: 0.9em; padding-top: 10px; clear: none;}/*changed for grid/4th block*/
	  .dcg header .service img {width: auto;}
	  .dcg section h1 {font-size: 1.5em;}
	  /*.dcg section.inspiration .ins {width: 48%; margin-bottom: 10px; display: block; margin-left: 0;  margin-right: 2%; }*/
	  .dcg section.inspiration .ins h2 {font-size: 1.6em;}
	  .dcg section.inspiration .ins img:hover {opacity: 1;-webkit-transform: scale(1, 1);-ms-transform: scale(1, 1);transform: scale(1, 1);}
	  .dcg section.products .bg {padding: 0px; background-color: transparent;}
	  .dcg section.products .product {width: 48%;margin-bottom: 10px;padding: 10px; display: block; margin-left: 0; margin-right: 2%; }
	  .dcg section.products .product6 {width: 48%;margin-bottom: 10px;padding: 10px; display: block; margin-left: 0; margin-right: 2%; }/*additional style for 6 blocks*/
	  .dcg section.products.multi-line .product h1 {min-height: inherit}
	  .dcg section.products .noTab {display: none}
	  .dcg section.products .product img {float: right;}
	  .dcg section.products .product .product-detail,
	  .dcg section.products .product .product-desc {overflow: hidden;padding-right:10px;}
	  .dcg section.products .product6 .product-desc > p, 
	  .dcg section.products .product6 p.price {cursor: text!important}
	  .dcg section.products .product p a {position: static}
	  .dcg section.products .product6 img {float: right;}/*additional style for 6 blocks*/
	  .dcg section.products .product6 .product-detail,
	  .dcg section.products .product6 .product-desc {overflow: hidden;padding-right:10px;}/*additional style for 6 blocks*/
	  .dcg section.products .product6 p a {position: static}/*additional style for 6 blocks*/
	  .dcg section.deals .deal-block {margin-left: 0%; padding-top: 10px;}
	  .dcg section.deals .deal {width: 100%;margin-left: 0%; margin-bottom: 10px;padding:0; border-width: 0px; display: block;}
      .dcg section.deals .deal.no-text-link {width: 42%;margin-left: 5%; margin-bottom: 10px;padding:0; border-width: 0px; display: block;}
	  .dcg section.deals .deal.bars ul li {min-height: 42px}
	  .dcg section.deals .deal h2 {overflow: hidden; padding-left: 0;}
	  .dcg section.deals .deal img {float: left; margin-right: 20px;}
	  .dcg section.latest-tech img:hover {-webkit-transform: scale(1, 1);-ms-transform: scale(1, 1);transform: scale(1, 1);}
	  .dcg section.knowhow .intro-text {float:none; width: 99%;margin-bottom: 10px; display: block;  margin-left: 0; margin-top: 10px;}
	  .dcg section.knowhow .kh {width: 24%; display: block;  margin-left: 0; margin-right: 1%;  margin-bottom: 10px;}
	  .dcg aside.social-group .social img {margin-bottom: 8px;}

	  /* Christmas delivery */
	  .dcg header .xmas-del {padding: 10px 15px;}
			.dcg header .xmas-del1 {display: none}
			.dcg header .xmas-del2, .dcg header .xmas-del3 {width: 49%;}

  	/* Christmas delivery - 23 dec */
	  .dcg header .xmas-del3.weds {height: 130px; width: 100%; margin-left: 0; padding: 0 15px;}	
	  
	  	/* Christmas delivery - changes to sale 24 dec */
	.dcg header .xmas-del1.thurs {display:inline; height: 110px; width: 100%; margin-left: 0;}
	.dcg header .xmas-del1.thurs h2 {color: rgb(255, 255, 255); font-weight: 500; text-align: center; font-size: 1.3em; padding: 5px;}
	.dcg header .xmas-del1.thurs h3 {margin-top: -35px;}
	
	}

	/* < 870 */
	@media only screen and (max-width: 869px) {
	  .dcg aside.top-services {margin-top: 0;padding-top: 5px;}
	  .dcg aside.top-services .tservice {float: none; width: 100%;border-left: 0;border-bottom-style: solid; border-bottom-width: 1px; padding: 8px 5px 0 15px;}
	  .dcg aside.top-services .tservice.ts3 {border-bottom-width: 0;}
	  .dcg aside.top-services .tservice h1 {font-size: 1.1em;}
	  .dcg aside.top-services .tservice h2 {font-size: 0.938em;}
	  .dcg aside.top-services .tservice img {display: none;}
	  .dcg header .service {width: 100%;margin-left: 1%; margin-top: 5px; text-align: center}
	  .dcg section.deals .deal img {max-width: 330px;}
	  .dcg section.products .product img {max-width: 140px;}
	  .dcg section.products .product .product-desc {clear:both; padding-right: 0;}
	  .dcg section.products .product6 img {max-width: 140px;}/*additional style for 6 blocks*/
	  .dcg section.products .product6 .product-desc {clear:both; padding-right: 0;}/*additional style for 6 blocks*/
	  .dcg header .services {display: none;}
	  .dcg section.inspiration .ins {width: 48%; margin-bottom: 10px; display: block; margin-left: 0;  margin-right: 2%; }
	  .dcg aside.services {display: block !important;padding: 10px 0;}
	  .dcg aside.services .service {text-align: center; padding: 8px 5px 3px 5px;border-bottom-style: solid;border-bottom-width: 1px;}
	  .dcg aside.services .service:last-child {border-bottom-width: 0px;}
	  .dcg aside.services .service h3 {font-size: 1.1em; margin-bottom: 0}
	  .dcg aside.services .service h4 {font-size: 0.938em;}
	  .dcg section.cpwh .carphone_warehouse a {font-size: 16px; padding-right: 200px;}
	  .dcg section.cpwh .carphone_warehouse img {width: 180px;}
	  .dcg aside.social-group .social {float: left; width: 33.33%;}
	  /*.dcg section.knowhow .kh {height: 115px; padding-top: 10px}
	  .dcg section.knowhow .kh h2 {font-size: 1em}
	  .dcg section.knowhow p a {font-size: 13px}*/

	  /* Christmas delivery */
			.dcg header .services.xmas-del-block {display: block;}
			.dcg header .xmas-del2, .dcg header .xmas-del3 {width: 49%; float: left}
			
			
	/* Christmas delivery - changes to sale 24 dec */
	.dcg header .xmas-del1.thurs h2 {font-size: 2.5em;}
			
	}

	/* Mobile */
	@media only screen and (max-width: 599px) {
	  .dcg p a i {font-size: 11px;}
	  .dcg aside.top-services .tservice.ts5, .dcg aside.top-services .tservice.ts4, .dcg aside.top-services .tservice.ts3 {display: none;}
	  .dcg.xmas aside.top-services .tservice {width: 48%}
	  .dcg aside.top-services .tservice h1 {margin-bottom: 0px;}
	  .dcg.generic aside.top-services .tservice {width: 48%; padding: 2px 0px 0px;}
	  .dcg header {margin-bottom: 0px; /*padding-bottom: 5px;*/}
	  .dcg header .wswy {height: auto; padding-left: 0; text-align: center; margin-bottom: 3px; min-height: 0px;}
	/*  .dcg header .wswy h1 {font-size: 2.1em;}*/
	  .dcg.pcwld.generic aside.top-services .tservice {width: 48%;}
	  .dcg header .wswy .header_img,
	  .dcg header .wswy .links {float: none; width: 100%;}
	  .dcg header .wswy .header_img img {padding: 0px 10px}
	  .dcg header .wswy .links {padding: 20px 10px 10px 10px}
	  .dcg section, .dcg aside {padding: 10px 0;}
	  .dcg section h1 {font-size: 1.3em; padding-bottom: 5px!important;}
	  .dcg section.inspiration .ins-block {margin-left: 0;}
	  .dcg section.inspiration .ins {width: 100%; margin-left: 0; margin-bottom: 10px;padding: 9px;}
	  .dcg section.inspiration .ins h2 {font-size: 1.4em;}
	  .dcg section.inspiration .ins p a {position: static;}
	  .dcg section.deals .deal {margin-bottom: 15px;}
      .dcg section.deals .deal.no-text-link {width: 100%;margin-left: 0%; margin-bottom: 10px;padding:0; border-width: 0px; display: block;}    
	  .dcg section.deals .deal h2 {font-size: 1.2em;}
	  .dcg section.deals .deal img {max-width: 100%;float: none; display: block; margin: 0 auto; }
	  .dcg section.deals .deal ul {overflow: visible; list-style-type: none; padding: 0 0 0 25px;}
	  .dcg section.deals .deal ul li a {font-size: 14px;}
	  .dcg section.products .product-block {margin-left: 0;}
	  .dcg section.products .product {width: 100%; margin-left: 0; margin-bottom: 10px;}
	  .dcg section.products .product .product-desc {clear: none; overflow: hidden; padding-right: 10px;}
	  .dcg section.products .product6 {width: 100%; margin-left: 0; margin-bottom: 10px;}/*additional style for 6 blocks*/
	  .dcg section.products .product6 .product-desc {clear: none; overflow: hidden; padding-right: 10px;}/*additional style for 6 blocks*/
	  .dcg section.products.multi-line .product6 h1 {min-height: 0px;}
	  .dcg section.products .prod-banner {margin-top: 0px;}
	  .dcg section.latest-tech img {width: 100%; margin: 5px 0;padding: 5px;}
	  .dcg section.latest-tech .half a img {float: none; width: 100%;}
	  .dcg section.latest-tech .half a:first-child img {margin-right: 0;}
	  .dcg section.cpwh .carphone_warehouse {min-height: inherit}
	  .dcg section.cpwh .carphone_warehouse a {font-size: 14px; padding-right: 10px; padding-left: 10px;}
	  .dcg section.cpwh .carphone_warehouse img {width: 120px;position: static; float: right; margin: 0 0 5px 10px;}
	  .dcg section.knowhow .bg {padding: 0; background: transparent;}
	  .dcg section.knowhow .intro-text {padding: 10px 10px 5px 10px;margin-bottom: 10px; border:0;}
	  .dcg section.knowhow .intro-text img.knowhow-logo {margin-top: 0;float: left}
	  .dcg section.knowhow .kh {width: 100%; margin-bottom: 5px;}
	  .dcg aside.social-group .social {float: left; width: 50%;}
	  .dcg aside.social-group .social i {font-size: 1.25em; display: inline;}

	 .dcg section.inspiration .ins-block,
	 .dcg section.deals .deal-block,
	 .dcg section.products .product-block,
	 .dcg section.knowhow .knowhow-block{display: block; width: 100%;}

	 .dcg section.inspiration .ins, 
	 .dcg section.deals .deal, 
	 .dcg section.products .product,
	 .dcg section.knowhow .intro-text,
	 .dcg section.knowhow .kh {display: inline-block; vertical-align: top;}
	 .dcg section.products .product6 {display: inline-block; vertical-align: top;}/*additional style for 6 blocks*/
    
    /* Half width banner */
    .dcg.half-width { max-width: 100%; width: 100%; height: 135px; margin-top:-10px;}
    .dcg.half-width a { width: 100%;}
	.dcg.half-width a img {float: left; width: 100%; max-width: 608px; padding-bottom: 10px;}
	.dcg.half-width a:first-child {margin-right: 2%;}
        
	 /* Christmas delivery */
			.dcg header .xmas-del2, .dcg header .xmas-del3 {width: 100%; float: none; height: inherit;}

	/* Christmas delivery - 23 dec */
	  .dcg header .xmas-del3.weds {height: 150px;}
	  
	  	/* Christmas delivery - changes to sale 24 dec */
	.dcg header .xmas-del1.thurs h2 {font-size: 2em;}
}

    /* <499 */
    @media only screen and (max-width: 499px) {
      .dcg section.deals2 .deal-block { width: 100%;}    
      .dcg section.deals2 .deal { Width: 100%; float: left;}
	  .dcg .fancy {font-size: 1.1em;}
	  .dcg section.products .product6 h1 {font-size:1em;}
	  .dcg section.products .product6 p.price {font-size: 1em; min-height: 40px;}
	  .dcg.generic aside.top-services .tservice h2 {font-size: 0.6em}
	  .dcg.generic aside.top-services .service-detail {padding-top: 4px;}
    }
	/* <415 */
	@media only screen and (max-width: 414px) {
	  .dcg aside.social-group .social {width: 16.667%; text-align: center}
	  .dcg aside.social-group .social span {display: none}
	  .dcg section.knowhow .intro-text p {padding-left: 0px;}
	  .dcg section.knowhow .intro-text img.knowhow-logo {width: 60px; height: 60px; margin: 5px 10px 8px 0;}
	}

	/* <350 */
	@media only screen and (max-width: 349px) {
      .dcg.generic aside.top-services .tservice h1 {font-size: 0.8em;}    
	  .dcg section.products .product .product-desc {clear:both; padding-right: 0;}
	  .dcg section.products .product img {max-width: 120px;}
	  .dcg section.products .product p.price span {display: block;clear:both; padding-top: 5px;}
	  .dcg section.products .product6 .product-desc {clear:both; padding-right: 0;}/*additional style for 6 blocks*/
	  .dcg section.products .product6 img {max-width: 120px;}/*additional style for 6 blocks*/
	  .dcg section.products .product6 p.price span {display: block;clear:both; padding-top: 5px;}/*additional style for 6 blocks*/
	}


	/* IE9 FIXES */

	/*Flexbox*/
	.ie9 .dcg aside.top-services .tservices-block,
	.ie9 .dcg section.inspiration .ins-block,
	.ie9 .dcg section.deals .deal-block,
	.ie9 .dcg section.products .product-block,
	.ie9 .dcg section.knowhow .knowhow-block,
	.ie9 .dcg header .services-block {display: block; height: auto;}

	.ie9 .dcg aside.top-services .tservice,
	.ie9 .dcg section.inspiration .ins,
	.ie9 .dcg section.deals .deal,
	.ie9 .dcg section.products .product,
	.ie9 .dcg section.knowhow .intro-text,
	.ie9 .dcg section.knowhow .kh {float: left;}
	.ie9 .dcg section.products .product6 {float: left;}/*additional style for 6 blocks*/

	@media (min-width: 0) and (max-width:1024px) {
	  .ie9 .dcg section.inspiration .ins:nth-child(odd),
	  .ie9 .dcg section.products .product:nth-child(odd) {clear: left;}
	  .ie9 .dcg section.products .product6:nth-child(odd) {clear: left;}/*additional style for 6 blocks*/
	  .ie9 .dcg header .service {float: left;}
	}

	@media (max-width:599px) {
	  .ie9 .dcg section.knowhow .kh:nth-child(even) {clear: left;}
	}

	.ie9 .dcg .iegroup:before,
	.ie9 .dcg .iegroup:after {content: "";display: table;} 
	.ie9 .dcg .iegroup:after {clear: both;}
	.ie9 .dcg .iegroup {zoom: 1; /* For IE 6/7 (trigger hasLayout) */}


	/* IE7 AND IE8 FIXES */

	.ie8 .dcg .iegroup:before,
	.ie8 .dcg .iegroup:after {content: "";display: table;} 
	.ie8 .dcg .iegroup:after {clear: both;}
	.ie8 .dcg .iegroup {zoom: 1; /* For IE 6/7 (trigger hasLayout) */}

	.ie7 .dcg .iegroup:before,
	.ie7 .dcg .iegroup:after {content: "";display: table;} 
	.ie7 .dcg .iegroup:after {clear: both;}
	.ie7 .dcg .iegroup {zoom: 1; /* For IE 6/7 (trigger hasLayout) */}

	/*Flexbox*/
	.ie8 .dcg aside.top-services .tservices-block,
	.ie8 .dcg section.inspiration .ins-block,
	.ie8 .dcg section.deals .deal-block,
	.ie8 .dcg section.products .product-block,
	.ie8 .dcg section.knowhow .knowhow-block,
	.ie8 .dcg header .services-block {display: block; height: auto;}

	.ie8 .dcg aside.top-services .tservice,
	.ie8 .dcg section.inspiration .ins,
	.ie8 .dcg section.deals .deal,
	.ie8 .dcg section.products .product,
	.ie8 .dcg section.knowhow .intro-text,
	.ie8 .dcg section.knowhow .kh {float: left;}
	.ie8 .dcg section.products .product6 {float: left;}/*additional style for 6 blocks*/

	.ie7 .dcg aside.top-services .tservices-block,
	.ie7 .dcg section.inspiration .ins-block,
	.ie7 .dcg section.deals .deal-block,
	.ie7 .dcg section.products .product-block,
	.ie7 .dcg section.knowhow .knowhow-block,
	.ie7 .dcg header .services-block {display: block; height: auto;}

	.ie7 .dcg aside.top-services .tservice,
	.ie7 .dcg section.inspiration .ins,
	.ie7 .dcg section.deals .deal,
	.ie7 .dcg section.products .product,
	.ie7 .dcg section.knowhow .intro-text,
	.ie7 .dcg section.knowhow .kh {float: left;}
	.ie7 .dcg section.products .product6 {float: left;}/*additional style for 6 blocks*/


	.ie8 .dcg header .wswy .links,
	.ie7 .dcg header .wswy .links,
	.ie8 .dcg header .service .headings,
	.ie7 .dcg header .service .headings {top: auto;}

	.ie8 .dcg header .wswy .links,
	.ie7 .dcg header .wswy .links {padding-top: 40px;}

	.ie8 .dcg header .wswy .links h1,
	.ie7 .dcg header .wswy .links h1 {padding-top: 7px; font-size: 2.2em;}

	.ie8 .dcg header .wswy .links h2,
	.ie7 .dcg header .wswy .links h2 {padding-top: 7px; font-size: 3em;}
	.ie7 .dcg header .wswy .links h2 {font-size: 2.9em;}

	.ie8 .dcg header .service h3,
	.ie7 .dcg header .service h3 {padding-top: 7px;}

	.ie7 .dcg aside.top-services .tservice {width:21%;}
	.ie7 .dcg section.inspiration .ins {width:22%;}
	.ie7 .dcg header .wswy .links {width:48%;}
	.ie7 .dcg section ul.icons-ul {margin-left: 0;}
	.ie7 .dcg section.knowhow .kh {width:15%; padding-bottom: 10px;}
	.ie7 .dcg aside.social-group .social {width:15%;}
	.ie7 .dcg section.latest-tech .half a img {width: 48%;}


/* Homepage slider styles */

/*.slider, .slider .slide {height: 215px!important;} **keep this in */

/*.slider-pagination {background: #dad9d5!important; border: 0 none!important;}*/
/*.slider-pagination .btn, .slider-pagination .btn:active {background: #dad9d5!important; border: 0 none!important; top: -2px!important;}*/

/*keep the following styles in
.slider-pagination .btn, .slider-pagination .btn:active {display: none;}
.slider-pagination span {color: #e74e10; border-radius: 0px;box-shadow: none; font-size: 14px; height: auto; padding: 5px; margin: 3px; width: auto;}
.slider-pagination span.swiper-pagination-switch:first-child {background-image: url(http://currys.cdn.dixons.com/css/themes/Homepage/wk27-2015_homepage/img/slider-nav-1.png;}
.slider-pagination span.swiper-pagination-switch:second-child {background-image: url(http://currys.cdn.dixons.com/css/themes/Homepage/wk27-2015_homepage/img/slider-nav-2.png;}
.slider-pagination span.swiper-pagination-switch:third-child {background-image: url(http://currys.cdn.dixons.com/css/themes/Homepage/wk27-2015_homepage/img/slider-nav-3.png;}
.slider-pagination .swiper-active-switch {background: #c5071a!important; color: #fff;}
.btn, .btn[type="button"] {box-shadow: none!important;}
.slider-pagination .next, .slider-pagination .next:active {display: none;} end keep these styles in */
/*.slider-pagination .next, .slider-pagination .next:active {top: -2px!important; right: 0px!important;}*/


/* Change bg colour */

/*
body {background: #d1d0cc ;}
#page {padding-top: 0;}
#wrapper {padding: 10px;}

@media only screen and (max-width: 1024px) and (min-width: 600px){
    body {background: #fff;}
    #wrapper {padding: 0px;}
} */