/*XFS 2.1*/

body{margin:0;height:auto;color:#666666;background:#FFFFFF;text-align:center; background-image:url(images_mega/bg.png); background-position:top left; background-repeat:no-repeat;}
body * {margin:auto;}
img{border: 0;}
a, a:visited {color: #2c6eaa;}
p {margin-top:4px;}
strong {font-size:15px;}
table {text-align:left;}
small a {font-size:11px;color: #227;text-decoration:none;}
small a:hover {color: #119;text-decoration:underline;}

.paging {margin:10px 0 5px 0;}
.paging a, .paging a:visited {border: 1px solid #9aafe5;margin-right:3px;padding:1px 7px;text-decoration: none;color: #2e6ab1;border-radius:3px;}
.paging a:hover {border: 1px solid #9aafe5;text-decoration:none;}
.paging b {margin-right:3px;padding:1px 7px;font-weight: normal;color: #FFF;background-color: #da2017;border: 1px solid #da2017;border-radius:3px;}
.paging small {font:11px Tahoma;color:#777;line-height:18px;}

.result_slot {background: #F3F6FB; border:1px solid #c3d3dc;text-align:left;color:#111;padding:3px;border-radius: 3px 3px 3px 3px;}
.result_slot input, .result_slot textarea {border:1px solid #AAA;color:#444;}
.file_slot {background:#ECF3F9;border:1px solid #CAD6E6; border-radius: 3px 3px 3px 3px;}
.captcha_code {border: 1px solid #777;font: 19px Tahoma;width:50px;text-align:center;}
.pic {border:1px solid #909090;}

form {margin:0;}
.txt12 {font: 12px Arial;}
.div1, .file_list {text-align: left; font-size: 13px;}
.div1 {width: 752px; padding: 5px; top:-9999px;}
.div1main{background-image: url("images_mega/shadow.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 140px;
    text-align: center;}
.upload_input input {font: 12px Tahoma; border: 1px solid #636363; margin-top: 1px; width:100%;}
.myForm {font: 12px Tahoma; border: 1px solid #636363; margin-top: 1px;}
.xrow {background:#ffffff;border:1px solid #b3b3b3;padding:2px;margin-top:2px;border-radius: 3px 3px 3px 3px;}
.xrow input {border: 1px solid #c3c3c3; margin-top: 1px;}
.xrow input.input_url {border: 1px solid #636363; margin-top: 1px; width: 90%;}
.xrow a img {border:none;float:right;width:16px;height:16px;}
.xfname  {color: #333;font-weight:bold;float:left;height:16px;}
.xfsize  {color: #555;font-weight:normal;float:left;margin-left:10px;font-style:italic;}
.xdescr  {color: #999;}
.fdescr {width: 325px;}
.optidiv {position:absolute;top:-9999px;margin-top:2px;padding:3px;}
#div_file{position:static;top:-9999px;}
#div_url, #div_rs, #div_tt, #div_ff, #div_copy {position:absolute;top:-9999px;}
.ok {font:bold 13px Arial;color:#1b1;}
.err {font:bold 13px Arial;color: #911;}
#news {font-family: Arial, Tahoma, Verdana; font-size:13px;}
#news a.title {font-family:'Calibri';color:#da2017;font-size:20px;text-decoration:none;}
#news_last {margin:7px auto;width:550px;text-align:left;}
#news_last a {color:#447;}
a.cmt_link {background: url(images/comments.gif) no-repeat left center; padding-left: 16px;color:#336699;}
.cmt_hdr {background-color:#c7cfd4;padding:4px;font-size:11px;}
.cmt_hdr a {text-decoration:none;}
.cmt_hdr b, .cmt_hdr b a {font-size:13px;color: #202020;}
.cmt_txt {padding: 5px;margin-bottom:10px;}
.sinput input, .sinput textarea {font:12px Arial;border:1px solid #707070;margin:2px;}

#lang{ background-image:url(images_mega/lang_bk.png); background-repeat:no-repeat; height:29px; width:133px;} 
#lang ul {
    float: left;
    list-style: none outside none;
    margin: 0px 0px 0px 10px;
    padding: 0;
    position: relative;
    top: 4px;
    width: 120px;
}
#lang ul li {text-align:left;padding:3px;margin-right:10px;white-space:nowrap; height:auto;}
#lang ul li a{color:#bbbcb8;text-decoration:none;display:block; line-height:normal; text-align:left;}
#lang ul li.top a{color:#bbbcb8}
#lang .dropdown {position: relative; width:120px; background-color:#2d2c2a;}
#lang img{border:none;margin-right:3px;}
#lang ul li {display:none;background:#2d2c2a;border:1px solid transparent;}
#lang ul .top {display:block;background:none;border:none;}
#lang ul li:hover{color:#fff;}
#lang ul:hover li {display:block;}

/* CSS below required for Inline3 mode */
.data {border-collapse:collapse; background-color: #e9e9e9; width: 400px; margin-bottom: 3px;}
.data TR TD {border: 1px solid #a3a3a3; font: 12px Arial;}
.bar1 {border: 1px solid #a3a3a3; background-color: #f6f6f6; text-align: left; vertical-align: middle; height: 20px; width: 98%;}
.bar2 {width: 1%; background-color: #c9c9c9; height: 20px; text-align: left;}
.message {width: 400px; border: 1px solid #909090; font: 11px Arial; margin-top: 5px; text-align: left; padding-left: 3px; background-color: #f9f9f9;}
.myLink  {font: bold 13px Arial; color: #303030; text-decoration: none;}
.myForm {font: 12px Tahoma; border: 1px solid #636363;margin-right:2px;}
.btn     {font: 15px Tahoma; margin-top: 3px; margin-bottom: 5px; width:200px;}
.btndiv {font: 12px Tahoma;border:1px solid #909090;background:#e9e9e9;}
.btndiv  {width:120px;height:16px;text-align:center;padding:1px 4px 0px 4px;margin:auto;margin-top:1px;}
div.tabbertab div.hover { background-color:#e9f3e9; }

.tbl1 {text-align:left;*border-collapse:collapse;border-spacing: 0; padding-top: 5px; padding-bottom: 5px;}
.tbl1 tr td, .tbl1 tr th {border:1px rgba(0,0,0,.06); border-left-style: solid; border-top-style: solid;}
.tbl1 tr td:last-child, .tbl1 tr th:last-child {border-right-style: solid; padding:3px;}
.tbl1 tr:last-child td, .tbl1 tr:last-child th {border-bottom-style: solid;}
.tbl1 tr td {background-color: #f5f5f5; font-size: 14px; height:35px;}
.tbl1 tr td a{color:#da2017;}
.tbl1 tr.hi td {background-color: #fafafa;}
.tbl1 tr:hover td {background-color: #eeeff3;}
.tbl1 tr.hdr td, .tbl1 th, .hdr {background-color:#686868; font-weight: bold; text-align:center;color:#e5e5e5;}
.tbl1 tr.hdr td a{color:#e5e5e5;}

tr:only-child td:only-child {-moz-border-radius: 4px 4px 4px 4px;-webkit-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;}
tr:first-child td:only-child {-moz-border-radius: 4px 4px 0 0;-webkit-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;}
tr:last-child td:last-child {-moz-border-radius: 0 0 4px 0;-webkit-border-radius: 0 0 4px 0;border-radius: 0 0 4px 0; }
tr:first-child td:last-child {-moz-border-radius: 0 4px 0 0;-webkit-border-radius: 0 4px 0 0;border-radius: 0 4px 0 0;}
tr:last-child td:first-child {-moz-border-radius: 0 0 0 4px;-webkit-border-radius: 0 0 0 4px;border-radius: 0 0 0 4px;}
tr:first-child td:first-child {-moz-border-radius: 4px 0 0 0;-webkit-border-radius: 4px 0 0 0;border-radius: 4px 0 0 0;}
tr:last-child td:only-child {-moz-border-radius: 0 0 4px 4px;-webkit-border-radius: 0 0 4px 4px;border-radius: 0 0 4px 4px;}
.rrd {-moz-border-radius: 4px 4px 4px 4px;-webkit-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;}
td { border: 0px; }

.tbl1 tr.hi2 td {background-color: #D9ECFF;}

.rrd {width:400px;background:#fafafa;border:1px solid rgba(0,0,0,.06);padding:5px;margin:5px auto 5px auto;}

.tabberlive .tabbertabhide {display:none;}
.tabber {}
.tabberlive {margin-top:1px;}
ul.tabbernav{margin:0;padding: 3px 0;border-bottom: 1px solid rgba(0,0,0,.06);}
ul.tabbernav li{list-style: none;margin: 0;display: inline;}
ul.tabbernav li a {background: #F3F6FB; border: 1px solid rgba(0,0,0,.06); padding: 3px 3px;margin-left: 3px;border-bottom: none;text-decoration: none;border-radius: 3px 3px 0 0;}
ul.tabbernav li a:link { color: #66A; border: 1px solid rgba(0,0,0,.06); padding: 3px 3px;margin-left: 3px;border-bottom: none;text-decoration: none;border-radius: 3px 3px 0 0;}
ul.tabbernav li a:visited { color: #667; }
ul.tabbernav li a:hover{color: #000;background: #AAE;border-color: rgba(0,0,0,.06);}
ul.tabbernav li.tabberactive a{background-color: #fff;border-bottom: 1px solid #fff;color: #448;}
ul.tabbernav li.tabberactive a:hover{color: #000;background: white;border-bottom: 1px solid white;}
.tabberlive .tabbertab {padding:5px;border-top:0;background-color:#FFF;text-align:center;border-radius: 3px 3px 3px 3px;}
.tabberlive .tabbertab h2 {display:none;}
h2 { margin-bottom: 3px; }
#utmodes{padding-bottom:30px; text-align:center;}
#utmodes input {border:1px solid #da2017;background:transparent;margin-right:8px;color:black; cursor:pointer; font-family:'Calibri'; font-size:14px; text-transform:uppercase;}
#utmodes input.active {border:1px solid #7e7e7e;background:#7e7e7e; color:#fff;}

#upload_div {width:750px;margin-top:100px;}
.upload_block {height:280px;min-height:280px;margin-top:5px;}
html>body .upload_block {height:auto}
#progress_div {position:absolute;top:-9999px;}
.file_block {margin-top:5px;width:100%;}
.file_block TR TD {padding:3px;border:1px dotted #999;}
.file_block div.link {width:200px;overflow:hidden;}
.file_block div.link a {font-weight:bold;text-decoration:none;}
img.cat_img {border:1px solid #b3b3b3;padding:26px;background:#edf3fa;}
.url2 {font-size:12px;color:#227;text-decoration:none;}

.uploadv {text-align: center; overflow: hidden; width: 400px; height: 30px; background:url(btn2.gif) no-repeat;color: #444; font: bold 20px Arial; line-height:30px; background-color: #a3a3a3;}
.uploadv input {margin-top: -50px; margin-left:-410px;  -moz-opacity: 0;  filter: alpha(opacity=0);   opacity: 0;  font-size: 140px; height: 100px;}

.trf{background-image:url(images/flags.png);height:11px;width:16px;background-repeat:no-repeat;overflow:hidden;display:inline-block;margin-right:3px;}
.trf-za{background-position:-24px 0;}
.trf-al{background-position:-48px 0;}
.trf-arabic{background-position:-72px 0;}
.trf-by{background-position:-96px 0;}
.trf-bg{background-position:-120px 0;}
.trf-catalonia{background-position:-144px 0;}
.trf-cn{background-position:-168px 0;}
.trf-tw{background-position:-192px 0;}
.trf-hr{background-position:-216px 0;}
.trf-cz{background-position:-240px 0;}
.trf-dk{background-position:-264px 0;}
.trf-dutch{background-position:-288px 0;}
.trf-ee{background-position:-312px 0;}
.trf-fi{background-position:-336px 0;}
.trf-french{background-position:-360px 0;}
.trf-galicia{background-position:-384px 0;}
.trf-german{background-position:-408px 0;}
.trf-gr{background-position:-432px 0;}
.trf-hebrew{background-position:-456px 0;}
.trf-in{background-position:-480px 0;}
.trf-hungary{background-position:-504px 0;}
.trf-indonesia{background-position:-528px 0;}
.trf-it{background-position:-552px 0;}
.trf-is{background-position:-576px 0;}
.trf-ie{background-position:-600px 0;}
.trf-japan{background-position:-624px 0;}
.trf-kr{background-position:-648px 0;}
.trf-lv{background-position:-672px 0;}
.trf-lt{background-position:-696px 0;}
.trf-mk{background-position:-720px 0;}
.trf-my{background-position:-744px 0;}
.trf-mt{background-position:-768px 0;}
.trf-no{background-position:-792px 0;}
.trf-ir{background-position:-816px 0;}
.trf-polish{background-position:-840px 0;}
.trf-pt{background-position:-864px 0;}
.trf-ro{background-position:-888px 0;}
.trf-russian{background-position:-912px 0;}
.trf-rs{background-position:-936px 0;}
.trf-sk{background-position:-960px 0;}
.trf-sl{background-position:-984px 0;}
.trf-spanish{background-position:-1008px 0;}
.trf-ke{background-position:-1032px 0;}
.trf-se{background-position:-1056px 0;}
.trf-ph{background-position:-1080px 0;}
.trf-thai{background-position:-1104px 0;}
.trf-turkish{background-position:-1128px 0;}
.trf-ua{background-position:-1152px 0;}
.trf-vn{background-position:-1176px 0;}
.trf-wales{background-position:-1200px 0;}
.trf-europeanunion{background-position:-1224px 0;}

.icon {width:100px; height:90px; border:solid 1px #C3C3C3;position:relative;background:#FFFFFF;padding:1px;text-align:left}
.icon a:link, .icon a:visited {height:90px;width:100%;display:block;}
.icon a:hover {display:block;position:absolute;z-index:999;left:-40px;top:-28px;width:160px;height:140px;border:solid 1px #C3C3C3;}

.uploadifyQueueItem {
	background-color: #F5F5F5;
	border: 2px solid #E5E5E5;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	padding: 10px;
	width: 350px;
	text-align:left;
}
.uploadifyError {
	background-color: #FDE5DD !important;
	border: 2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyQueue .completed {
	background-color: #E5E5E5;
}
.uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
	float:left;
}

#fileQueue{
	margin-top: 5px;
	padding: 3px;
	background-color: white;
	border: 1px solid #cecece;
	overflow: auto;
	height: 170px;
	width: 400px;
}

#recaptcha_response_field {border: 1px solid #444;}

@font-face{font-family:'gotham_lightregular';src:url("/font/gotham-light-webfont.eot");src:url("/font/gotham-light-webfont.eot?#iefix") format("embedded-opentype"),url("/font/gotham-light-webfont.woff") format("woff"),url("/font/gotham-light-webfont.ttf") format("truetype"),url("/font/gotham-light-webfont.svg#gotham_lightregular") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'gotham_bookregular';src:url("/font/gotham-book-webfont.eot");src:url("/font/gotham-book-webfont.eot?#iefix") format("embedded-opentype"),url("/font/gotham-book-webfont.woff") format("woff"),url("/font/gotham-book-webfont.ttf") format("truetype"),url("/font/gotham-book-webfont.svg#gotham_bookregular") format("svg");font-weight:normal;font-style:normal}
body{font-family:Verdana, Arial, Helvetica;letter-spacing:0px;font-size:13px;float:left;min-width:100%;display:absolute}
a{color:#0088cc;text-decoration:none}
a:visited{color:#0088cc;text-decoration:none}
.btn_blue, input[type="button"], input[type="submit"]{font-family:gotham_lightregular, Arial, Helvetica;display:inline;margin-left:3px;margin-top:5px;margin-bottom:5px;}
.btn_blue, input[type="button"], input[type="submit"]{border:0px;display:inline;background-color:#da2017;padding:4px 7px;-webkit-border-radius:3px;border-radius:3px;color:#fff;-webkit-appearance: none; cursor:pointer;}
.btn_blue, input[type="button"], input[type="submit"]:hover{background-color:#da2017;text-decoration:none;color:#fff}
.fileinput-button {font-size:23px;direction:ltr;cursor:pointer;width:200px;font-color:black;float: none; display: inline-block; overflow: hidden; position: relative;line-height: 50px;}
.btn_blue { height:50px; }
.fileinput-button, #files_container { float: none; display: inline-block; overflow: hidden; position: relative; text-align: center; line-height: 50px; }
#files_container { width: 117px; height: 40px; }
#drag_container { display: none; width: 646px; height: 69px; margin-bottom: 15px; padding-top: 15px; border-radius: 6px; background-image: url('/images/drag-n-drop.png'); font-color: #aaa; }
#drag_container input[type="file"] { position: fixed; left: 0; top: 0; width: 100%; height: 100%; margin: 0 auto; z-index: 9999;}
.upload_block input[type="file"], #files_container input[type="file"] { font-size: 140px;
    height: 130px;
    margin-left: -10px;
    margin-top: -93px;
    opacity: 0;
    width: 520px; }
a:hover{border-color:#ddd transparent #ddd #ddd;*border-right-color:#ffffff;text-decoration:underline;}
select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{display:inline-block;font-size:14px;color:#555555;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
textarea{height:auto}
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{background-color:#ffffff;border:1px solid #cccccc;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s;padding-left:2px;}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{border-color:rgba(82,168,236,0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}

.navbar-inner{background-image:url(images_mega/header_bk.png); height:55px;}
.container{ margin-right: auto; margin-left: auto; vertical-align: center; width: auto; height: 100%;}
.nav>.pull-right{float:right; margin-right:20px;}
.logo{display:block;float:left;padding:10px;position:absolute;left:15px;}
.logo img{border: 0}
[class*="span"].pull-right,.row-fluid [class*="span"].pull-right{float:right}
.navbar .pull-right>li>.dropdown-menu .dropdown-menu,.navbar .nav>li>.dropdown-menu.pull-right .dropdown-menu{right:100%;left:auto;margin-right:-1px;margin-left:0;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px}
.pull-right>li{display: inline; float:left}
.nav-menu ul { margin: 15px 0px; font-family: 'gotham_bookregular'; display: inline-block; }
.nav-menu ul li{display:inline;margin-left:10px}
input[type="file"] { font-family: 'gotham_bookregular'; }
.nav li{background-image:url(images_mega/menu_bk.png); height:29px; background-repeat:no-repeat; width:91px;}
.nav li a { color: #bbbcb8;line-height: 29px;
    text-align: center; text-align:center; display:block;}
.nav li a:visited { color: #bbbcb8; }
.nav li a:hover { color: #f3f3f3; text-decoration: none; }
.nav li .btn_blue { padding: 8px; }

#upload_controls .btn_white { background-color: #7e7e7e; color: #fff; border: 1px #7e7e7e solid; cursor:pointer;}
#upload_controls input { margin: 0; }
#upload_controls { width: 100%; }
.share img { width: 24px; height: 24x; }
#document_viewer { border: 0; width: 928px; height: 663px; }
.selectable td { user-select: none; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; }
.footer{background-image:url(images_mega/footer_bk.png); background-repeat:repeat-x; height:159px; padding-top:20px;}
.admin{background:#da2017; height:30px;}
.admin a{color:#fff; text-decoration:none;}
.footer ul{
float:left;
padding:0px;
margin:0px;
width:150px;
}
.footer ul li{
float:left;
padding:0px;
margin:0px;
list-style:none;
width:100%;
text-align:left;
line-height:20px;
}
.footer ul li a{
color:#848484;
text-decoration:none;
}
.footer ul li.head{
text-transform:uppercase;
color:#373330;
font-size:14px;
padding-bottom:15px;
padding-top:5px;
}
.btn_Big{
background-image: url("images_mega/btn_browse.png");
background-repeat: no-repeat;
color: #ffffff;
font-family: 'calibri';
font-size: 30px;
height: 96px;
line-height: 35px;
padding-top: 24px;
text-transform: uppercase;
width: 514px;
cursor:pointer;
}
.tag{
font-family: 'calibri';
font-size: 50px;
color:#da2017;
text-align:center;
text-transform:uppercase;
padding-bottom:30px;
}
.tag small{
font-size:30px;
color:#7e7e7e;
}
.inner{
width:1038px;
padding-top:70px;
}
.banner{
min-height:500px;
}
.form{
padding-top:30px;
width:100%;
text-align:left;
font-family:'Calibri';
font-size:18px;
}
.form td{
text-align:left;
}
.form a{
color:#da2017;
}
.form input[type=text],.form input[type=password],.form textarea{
border:2px solid #7e7e7e;
border-radius:3px;
padding:7px;
width:300px;
}
.form select{
border:2px solid #7e7e7e;
border-radius:3px;
padding:6px;
}
.form input[type=submit]{
width:315px;
padding:7px;
font-size:16px;
cursor:pointer;
}
h3,h1,h2{
color:#7e7e7e;
font-size:30px;
font-weight:normal;
padding-bottom:10px !important;
font-family:'Calibri';
}
#news{width:100% !important;}
@font-face{font-family:'calibri';src:url("/mega_fonts/calibri.eot");src:url("/mega_fonts/calibri.eot?#iefix") format("embedded-opentype"),url("/mega_fonts/calibri.woff") format("woff"),url("/mega_fonts/calibri.ttf") format("truetype"),url("/mega_fonts/calibri.svg#calibri") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'calibrib';src:url("/mega_fonts/calibrib.eot");src:url("/mega_fonts/calibrib.eot?#iefix") format("embedded-opentype"),url("/mega_fonts/calibrib.woff") format("woff"),url("/mega_fonts/calibrib.ttf") format("truetype"),url("/mega_fonts/calibrib.svg#calibrib") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'calibrii';src:url("/mega_fonts/calibrii.eot");src:url("/mega_fonts/calibrii.eot?#iefix") format("embedded-opentype"),url("/mega_fonts/calibrii.woff") format("woff"),url("/mega_fonts/calibrii.ttf") format("truetype"),url("/mega_fonts/calibrii.svg#calibrii") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'calibriz';src:url("/mega_fonts/calibriz.eot");src:url("/mega_fonts/calibriz.eot?#iefix") format("embedded-opentype"),url("/mega_fonts/calibriz.woff") format("woff"),url("/mega_fonts/calibriz.ttf") format("truetype"),url("/mega_fonts/calibriz.svg#calibriz") format("svg");font-weight:normal;font-style:normal}
.plan_top{
background-image: url("images_mega/plan_top.png");
background-repeat: no-repeat;
font-family:'Calibri';
font-size:27px;
text-align:center;
height:76px;
line-height:76px;
color:#40403f;
text-transform:uppercase;
}
.plan_btm{
background-image: url("images_mega/plan_btm.png");
background-repeat: no-repeat;
height:10px;
}
.plan_mdl{
background-image: url("images_mega/plan_mdl.png");
background-repeat:repeat-y;
padding-top:20px;
padding-bottom:40px;
font-family:'Calibri'; font-size:40px; text-align:center
}
.prem_list{
float: left;
margin-bottom: 20px;
margin-left: 5px;
margin-right: 5px;
width:249px;
height:auto !important;
padding:0px !important;
background:transparent !important;
border-top:0px solid #bdbdbd !important;
}
.down_btn{
background-image: url("images_mega/down_btn.png");
background-repeat: no-repeat;
height:50px;
width:444px;
float:left;
line-height:50px;
}
input.download_button,input.download_button:hover{
background:transparent;
font-size:18px;
font-weight:normal;
}
.list{
margin:0px;
padding:0px;
padding-top:30px;
}
.list li{
padding:0px;
margin:0px;
list-style:none;
}
.list li b, .list li a{color:#da2017;}


.money {
    float: left;
    margin: 20px 0 0;
    padding: 0;
    width: 100%;
}
.money li.rowAlt {
    background: url("/images/affiliate_rowAlt.png") repeat-x scroll left center rgba(0, 0, 0, 0);
	padding-right:10px;
}
.money li {
    color: #353535;
    float: left;
    font-family: 'Calibri';
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    list-style: none outside none;
    margin: 0;
    padding: 5px 0px;
    text-transform: none;
    vertical-align: middle;
    width: 100%;
}

.money li div {
    background: url("/images/earn_tick.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    float: left;
    height: 30px;
    margin-left: 11px;
    padding-left: 20px;
}
.makemoney{
text-align:left;
width:100%;
}
.makemoney_text{
color:#111111; 
font-family:Arial, Helvetica, sans-serif; 
font-size:14px; 
text-transform:uppercase; 
font-weight:bold; 
margin-top:10px; 
float:left; 
width:100%; 
padding-top:25px; 
padding-bottom:25px;
}
.sec_left{
width:28%; 
float:left;
}
.sec_right{
float:right; 
text-align:center; 
width:70%;
}
.text_red{
color:#da2017; 
font-family:'Calibri'; 
font-size:16px; 
font-weight:bold;
}
.pay_sec{
border: 1px solid #CACACA;
float: left;
margin: 0 0 0 5px;
min-height: 275px;
padding: 0;
width: 32%;
}
.pay_hd{
background-color:#666666; 
height:50px; 
line-height:50px; 
text-align:center; 
color:#FFFFFF; 
font-weight:normal; 
font-size:16px;
font-family:'Calibri'; 
}
.rewards_money{
text-align:center; 
padding-top:20px; 
padding-bottom:25px;
}
.rewards_money span{
font-size:18px; 
color:#da2017;
}
.pay_text{
color: #333333;
font-size: 12px;
font-weight: normal;
padding: 10px;
text-align: left;
text-transform: none;
}
.money_reg{
float: left;
padding-top: 20px;
text-align: center;
width: 100%;
}
.rewards_table{
padding-top:20px; 
float:left;
width:100%;
}
.rewards_table tr td{
color:#434343;
height:20px;
}
.rewards_table_text tr.hdr td{
text-align:center;
color:#ffffff;
background:#da2017;
}
.rewards_table_text{
color:#052842; 
font-size:11px; 
font-weight:bold; 
text-transform:uppercase; 
font-family:Arial, Helvetica, sans-serif; 
padding-top:20px;
}
.pay_down{
color:#da2017; 
font-size:11px; 
text-transform:uppercase; 
font-family:Arial, Helvetica, sans-serif;
}
.group_text{
color:#5b5b5b; 
font-size:12px; 
font-family:Arial, Helvetica, sans-serif; 
padding-top:20px;
}
.group_text span{
color:#323232; 
font-weight:bold; 
text-transform:uppercase;
}

#recaptcha_widget{float:left}
