﻿@charset "UTF-8";
body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#barraRai.opened.raissoOpen{
  overflow:visible;
  height:auto;
}
#main-menu h1 {
    margin: 0;
    width: 80px;
    height: 80px;
}
.logoRai {
    height: 80px;
}

.menu-container{
    background: #2E3B42;
}

.container-2 {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input#search-barra{
  width: 0px;
  height: 30px;
  background: #2e3b42;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 45px;
  padding-right: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
  box-shadow: none;
}

.container-2 .clear_input{
    display: none;
}

.container-2 input#search-barra::-webkit-input-placeholder {
   color: #FFF;
}
 
.container-2 input#search-barra:-moz-placeholder { /* Firefox 18- */
   color: #FFF;  
}
 
.container-2 input#search-barra::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;  
}
 
.container-2 input#search-barra:-ms-input-placeholder {  
   color: #FFF;  
}

.container-2 .icon{
  position: absolute;
  top: 50%;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 1;
}

.container-2 input#search-barra:focus, .container-2 input#search-barra:active{
  outline:none;
  width: 200px;
  padding-right: 20px;
  background: #3e4a50;
  border: 0;
  box-shadow:none;
}
 
.container-2:hover input#search-barra{
  width: 200px;
  padding-right: 20px;
  background: rgba(0,0,0,0.15);
}

.clear_input {
    left: 242px !important;
    font-size: 25px;
    top: 2px !important;
}




.row {
    max-width: 100%;
    margin: 0 auto;
}

    .row.top_row {
        background-color: #2e3b42;
        max-width: 100%;
    }
    
    .row.top_row > .columns {
        padding: 0;
    }

    .row.top_row .row {
        margin: 0 auto;
        padding: 0;
    }
    
    #main-menu {
        height: 80px;
    }

    .row .nav {
        background-color: #2e3b42;
        max-width: 40rem;
        margin: 0 auto;
        text-align: left;
    }

        .row .nav ul li a {
            color: #fff;
            margin-right: 7px;
        }

            .row .nav ul li a:after {
                color: #666;
            }

        .row .nav ul li ul li a {
            color: #000;
        }

    .row .nav_left {
        float: left;
    }

        .row .nav_left .columns {
            padding: 1rem 0;
        }

    .row .nav_right {
        float: right;
    }

        .row .nav_right ul {
            float: right;
        }

        .row .nav_right a {
            float: right;
        }

        .row .nav_right .columns {
            padding: 1rem 0;
            height: 85px;
        }

        .row .nav_right img {
            height: 28px;
        }

.title-bar {
    background: transparent;
    padding: 0.9rem;
}

    .title-bar.small {
        height: 40px;
    }

.top-bar {
    background: transparent;
    height: 90px;
    margin: 0;
    padding: 0;
}

    .top-bar div {
        padding: 0;
    }

    .top-bar ul {
        background: transparent;
    }

        .top-bar ul li {
            background: transparent;
        }

            .top-bar ul li a {
                color: #fff;
            }

    .top-bar .top-bar-right {
        float: right;
    }

.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after,#login-raisso .raissoOpen::after{
    content: url(/dl/components/img/icon-arrow-down.png);
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    right: 12px;
    margin-top: 0px;
}
    

@media only screen and (max-width: 40em) {
    .top-bar .top-bar-right {
        display: none !important;
    }
}

.top-bar .logo {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: auto;
    width: auto;
    max-width: 100%;
}

@media only screen and (max-width: 40em) {
    .top-bar .logo {
        display: none !important;
    }
}

.menu-text {
    color: #fff;
}

@media only screen and (max-width: 40em) {
    .menu-text {
        display: none !important;
    }
}

.icon_login {
    width: 25px;
    margin-right: 20px;
}

.only_read {
    display: none;
}

#barraRaiNetworkDiv {
    display: none;
    color: #FFF;
    background: #212f36;
}

    #barraRaiNetworkDiv h4 {
        color: #FFF;
        font-size: 1rem;
    }

    #barraRaiNetworkDiv .col ul {
        list-style: none;
        font-size: 0.8rem;
        margin: 0;
    }

        #barraRaiNetworkDiv .col ul span {
            margin-right: 0.5rem;
        }

        #barraRaiNetworkDiv .col ul a {
            color: #646e73;
        }

.dropdown.menu {
    position: relative;
    font-size: 14px;
}
.guida ul.menu {
    display: none;
}

#raissoBox {
    display: none;
}

.footer {
    background-color: #2e3b42;
    color: #7c8589;
    font-size: 12px;
    padding: 2rem 0;
    min-width: 100%;
}
.footer .inner-footer {
    max-width: 1000px;
    margin: 0 auto !important;
}
.footer .inner-footer .logoRai {
    float: left;
    width: 56px;
    height: 56px;
    margin-right: 20px;
}
.footer .inner-footer .links a {
    color: #7c8589;
}

@media screen and (max-width: 64em){
    .footer .inner-footer .links {  padding-bottom: 20px; }    
}
    
/* RAISSO */
#login-raisso {
    display: none;
} 
#loggedin-raisso {
    display: none;
    position: relative;
}
#loggedin-raisso > a {
    position: relative;
    padding: 0px 20px;
    z-index: 1;
}
#loggedin-raisso > a .nickname {
    line-height: 40px;
}
#loggedin-raisso > a .image {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 18px 0 8px;
    background: #38444a;
}
#loggedin-raisso > a .image img {
    display: block;
    width: 40px;
    height: 40px;
}
#loggedin-raisso > a .image img.default {
    width: 20px;
    height: 20px;
    margin: 10px;
}
#loggedin-raisso > a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 10px;
    height: 6px;
    margin-top: -3px;
    border: none;
    background: url(/dl/components/img/icon-arrow-down.png);
}
#loggedin-raisso ul.submenu {
    position: absolute;
    width: calc(100% - 30px);
    top: 50px;
    right: 20px;
    padding: 10px 0;
    background: #3e4a50;
    border-radius: 5px;
}
#loggedin-raisso ul.submenu li {
    background: transparent;
}
#loggedin-raisso ul.submenu li a {
    padding: 0 16px;
    font-size: 14px;
    line-height: 30px;
}
.maskOverlay{
    display: none;
}

@media screen and (max-width: 40em){
    #barraRai.opened .title-bar {display: block;padding: 0;height: 60px;}
    #barraRai.opened .top-bar {
        display: block !important;
        width: calc(100% - 60px);
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
    }
    #barraRai.opened .top-bar .logo { display: none !important; }
    #barraRai.opened .top-bar .top-bar-left {height: 60px;overflow: hidden;}
    #barraRai.opened .top-bar .top-bar-left:before,
    #barraRai.opened .top-bar .top-bar-left:after {content: '';display: block;width: 30px; height: 60px; position: absolute;top: 0;z-index: 10;}
    #barraRai.opened .top-bar .top-bar-left:before {left: 0;background: -moz-linear-gradient(left,  rgba(71,83,88,1) 0%, rgba(71,83,88,0) 100%);background: -webkit-linear-gradient(left,  rgba(71,83,88,1) 0%,rgba(71,83,88,0) 100%);background: linear-gradient(to right,  rgba(71,83,88,1) 0%,rgba(71,83,88,0) 100%);height: 50px;}
    #barraRai.opened .top-bar .top-bar-left:after { right: 0; background: -moz-linear-gradient(left,  rgba(71,83,88,0) 0%, rgba(71,83,88,1) 100%); background: -webkit-linear-gradient(left,  rgba(71,83,88,0) 0%,rgba(71,83,88,1) 100%); background: linear-gradient(to right,  rgba(71,83,88,0) 0%,rgba(71,83,88,1) 100%); }
    #barraRai.opened .top-bar .top-bar-left ul {display: block;white-space: nowrap;overflow-y: hidden;overflow-x: auto;flex-wrap: initial;height: 80px;padding: 0;}
    #barraRai.opened .top-bar .top-bar-left ul li { display: inline-block; width: auto; flex: initial; }
    #barraRai.opened .top-bar .top-bar-left ul li a {padding: 0 1rem;line-height: 60px;}
    #barraRai #main-menu > a {display: none;}
    li#logoEditoreBarra {height: 34px;}
    div#barraRai {height: 60px;}
    div#barraRai .logoRai { height:60px; width: 60px; }
}