﻿@charset "UTF-8";

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
body.raiplay {
    background-color: #14232a;
}

body.rai-it #focus {
	background-color: #14232a;
	padding-top: 60px;
}
/*body.rai-it #focus:before {
    content: '';
    display: block;
    margin-left: 50px;
    width: 115px;
    height: 50px;
    background: url("http://www.rai.it/dl/components/img/nuovoLogoRaiPlayTrasparent.png");
}*/
body.rai-it #focus #logoRaiPlayLink a {
    display: block;
}  
body.rai-it #focus .focus {
    margin: 0;
    padding: 60px 0;
}
body.rai-it #focus .slick-next {
    right: 0
}
body.rai-it #focus .slick-prev {
    left: 0
}
:focus {
	outline: thin rgba(255,255,255,.3) dotted !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.row.title h2 {
	font-weight: lighter;
}

.medium-uncollapse>.column, .medium-uncollapse>.columns {
	padding-left: 0.625rem;
	padding-right: 0.625rem;
}

.row .title {
	padding: 0 0rem 2.5rem 0;
}

.row .title a {
	color: #595959;
	font-size: .8rem;
}

.row .title h1, .row .title h2, .row .title h3, .row .title h4, .row .title h5,
	.row .title h6, .blocco.white .row .title h2 {
	color: #626c71;
}
#nielsen{
	display:block;
	width:0;
	height:0;
	position:absolute;
	z-index:-1;
}
#bannerRaiPlay {
	background: url(../img/back_banner_raiplay.png) no-repeat center right;
	height: 365px;
	background-size: cover;
	position: relative;
}

#bannerRaiPlay .container-banner {
	max-width: 80rem;
	margin: 0 auto;
}

.header-raiplay{
	padding:15px 0;
}

.raiplay .menu-icon{
	width: 28px;
    height: 24px;
}

.raiplay .menu-icon::after {
    background: #fefefe;
    box-shadow: 0 9px 0 #fefefe, 0 18px 0 #fefefe;
}

.raiplay .menu-icon:hover::after {
    background: #cacaca;
    box-shadow: 0 9px 0 #cacaca, 0 18px 0 #cacaca;
}



/*Search bar*/
#main-menu-raiplay .rightItemMenu>div {
	float: right;
}

.raiplay .container-2 input#search-barra {
	margin-left: 15px;
	background: transparent;
	margin-bottom: 0;
}

.raiplay #cerca-barra .container-2 .icon {
	margin-top: 2px;
	right: 30px;
}

.raiplay #cerca-barra .container-2 .icon img {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.raiplay #cerca-barra .container-2 input#search-barra:focus, .raiplay #cerca-barra .container-2 input#search-barra:active
	{
	width: 105px;
	padding-left: 12px;
	padding-right: 50px;
	border-bottom: 1px solid #00a1fc;
	border-radius: 0;
}

.raiplay #cerca-barra .container-2:hover input#search-barra {
	width: 105px;
	padding-left: 12px !important;
	padding-right: 50px;
}

/*Menu a comparsa*/
body.raiplay.menu-comparsa-push-toright .upToBody {
    display: block;
    background-color: #000000;
    width: 100%;
    height: 100%;
    opacity: .56;
    position: absolute;
    z-index: 9999;
}
body.raiplay.guidaTv.menu-comparsa-push-toright .upToBody {
    position: fixed;
    left: 350px;
    right: 0;
    top: 0;
    bottom: 0;
}
/* General styles for all menus */
.menu-comparsa {
	background: #212F36;
	position: fixed;
	overflow-y: auto;
}

.menu-comparsa h3 {
	color: #ffffff;
	font-size: 1.9em;
	padding: 23px;
	margin: 0;
	font-weight: 300;
	background: #00A0FA;
}

.menu-comparsa a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.menu-comparsa a:hover {
	background: #258ecd;
}

.menu-comparsa a:active {
	background: #afdefa;
	color: #47a3da;
}

.menu-comparsa-left::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,.1);
}

/* Orientation-dependent styles for the content of the menu */

.raiplay .menu-comparsa-vertical {
	width: 350px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.raiplay .menu-comparsa-vertical a {
	padding: 13px 0px;
    margin: 0 40px;
    border-bottom: 2px solid #25333b;
}

.raiplay .menu-comparsa-vertical a:before{
	width: 26px;
    height: 26px;
    margin-right: 1rem;
    vertical-align: -30%;
    display: inline-block;
    opacity: .6;
}

.raiplay .menu-comparsa-vertical a:first-child{
	margin-top:45px;
}

.raiplay .menu-comparsa-vertical a.Home:before{
	content: url(http://www.rai.it/resizegd/26X26/dl/components/img/euro2016/home.png);
}

.raiplay .menu-comparsa-vertical a.Guida.TV:before{
	content: url(http://www.rai.it/resizegd/26x26/dl/img/2016/06/10/1465551560724_icon_guida.png);
}

.raiplay .menu-comparsa-vertical a.Dirette:before{
	content: url(http://www.rai.it/resizegd/26x26/dl/img/2016/06/10/1465549191335_icon_live.png);
}

.raiplay .menu-comparsa-vertical a.Programmi:before{
	content: url(http://www.rai.it/resizegd/26x26/dl/img/2016/06/10/1465550368797_icon_program.png);
}

.raiplay .menu-comparsa-vertical a.Serie.e.Fiction:before{
	content: url(http://www.rai.it/resizegd/26x26/dl/img/2016/06/10/1465550398128_icon_fiction.png);
}

.raiplay .menu-comparsa-vertical a.Tutorial:before{
	content: url(http://www.rai.it/resizegd/26x26/dl/img/2016/06/10/1465550411403_icon_tutorial.png);
}

.raiplay .menu-comparsa-vertical a.Privacy.Policy:before{
	content: url(http://www.rai.it/resizegd/26x26/dl/img/2016/06/10/1465550420547_icon_privacy.png);
}

.raiplay .menu-comparsa-vertical a.Accedi.Registrati:before{
	content: url(http://www.rai.it/resizegd/26x26/dl/img/2016/06/10/1465550437394_icon_accedi.png);
}

.raiplay .menu-comparsa-vertical a.Ultimi.visti:before{
	content: url(http://www.rai.it/resizegd/26x26/dl/img/2016/06/10/1465550453092_icon_ultimi_visti.png);
}

.menu-comparsa-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.menu-comparsa-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.menu-comparsa-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}
/* Vertical menu that slides from the left or right */

.menu-comparsa-left {
	left: -350px;
}

.menu-comparsa-right {
	right: -350px;
}

.menu-comparsa-left.menu-comparsa-open {
	left: 0px;
}

.menu-comparsa-right.menu-comparsa-open {
	right: 0px;
}
/* Push classes applied to the body */

.menu-comparsa-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.menu-comparsa-push-toright {
	left: 350px;
}

.menu-comparsa-push-toleft {
	left: -350px;
}

/* Transitions */

.menu-comparsa,
.menu-comparsa-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/*Divisore Menu*/
.menu-comparsa .divisory {
    display: block;
    height: 20px;
    background: #1C272D;
    border-bottom: 1px solid #00A0FA;
}
/* Menu media queries */

@media screen and (max-width: 55.1875em){

	.menu-comparsa-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.menu-comparsa-top {
		top: -110px;
	}

	.menu-comparsa-bottom {
		bottom: -110px;
	}

}
@media only screen and (max-width: 40em){
	.top-bar .logo {
	    display: block !important;
	}
	.rai-it .top-bar .logo {
	    display: none !important;
	}
	.rai-it .logoRai {
    	height: 40px;
	}


}
@media screen and (max-height: 26.375em){

	.menu-comparsa-vertical {
		font-size: 90%;
		width: 350px;
	}

	.menu-comparsa-left,
	.menu-comparsa-push-toleft {
		left: -350px;
	}

	.menu-comparsa-right {
		right: -350px;
	}

	.menu-comparsa-push-toright {
		left: 350px;
	}
}
/*Fine Menu a comparsa*/
.row a.register {
	background-color: transparent;
	border: 1px solid #fff;
	position: absolute;
	top: 9rem;
	left: 3rem;
}

.blocco {
	padding: 60px 0;
}

.no-padding {
	padding: 0;
}

.blocco.dark {
	background-color: #14232a;
}

.blocco.darklight {
	background-color: #202e36;
}

.raiplay.home .blocco.dark:first-of-type {
    padding: 5rem 0 2rem;
}

.raiplay.home .blocco.darklight {
    padding: 3.875rem 0 2.5rem;
}

.raiplay.home .blocco.darklight+.blocco.dark {
    padding: 5.125rem 0 2rem;
}

.raiplay.home .blocco.darklight+.blocco.dark+.blocco.dark {
    padding: 2rem 0 3.125rem;
}

.raiplay.home .blocco.dark+.blocco.dark+.blocco.dark+.blocco.dark {
    padding: 2rem 0 5rem;
}

.blocco.dark .title h1, .blocco.dark .title h2, .blocco.dark .title h3,
	.blocco.dark .title h4, .blocco.dark .title h5, .blocco.dark .title h6,
	.blocco.darklight .title h1, .blocco.darklight .title h2, .blocco.darklight .title h3,
	.blocco.darklight .title h4, .blocco.darklight .title h5, .blocco.darklight .title h6
	{
	color: #f5f5f5;
}

.blocco.dark .title a, .blocco.darklight .title a {
	color: #f5f5f5;
	font-size: .8rem;
}

.blocco.dark .title h5, .blocco.darklight .title h5 {
	font-weight: 600;
}

.raiplay .title.row.align-middle.with-link {
    position: relative;
}

.raiplay .columns.with-link a {
    position: absolute;
    bottom: 1.875rem;
    right: 8.75rem;
}

.blocco.grey {
	background-color: #f0f0f0;
}

.blocco.grey .title h1, .blocco.grey .title h2, .blocco.grey .title h3,
	.blocco.grey .title h4, .blocco.grey .title h5, .blocco.grey .title h6
	{
	color: #595959;
}

.blocco.grey .title a {
	color: #595959;
	font-size: .8rem;
	/* color:#FFF; */
}

.blocco.grey .title a:hover {
	color: #FFF;
	font-size: .8rem;
}

.blocco.grey .title h5 {
	font-weight: 600;
}

.blocco.white {
	background-color: #fff;
}

.blocco.greyDark {
	background-color: #626c71;
}

.blocco.greyDark h3 {
	color: #fff;
}

.mainTitleCont.text-center {
    color: #fff;
    padding: 2.188rem 0;
    background-color: #27343b;
}

.mainTitleCont.text-center > h1 {
    margin: 0;
    font-size: 3.125rem;
    font-weight: 100;
}

.tipologiaItem a {
    position: relative;
    display: block;
}

.tipologiaItem .img {
	position:relative;
}

.tipologiaItem .img:before {
	content: "";
	display: block;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
	background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(24,56,88,0) 35%, rgba(20,35,42,0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(24,56,88,0) 35%,rgba(20,35,42,0.8) 100%);
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(24,56,88,0) 35%,rgba(20,35,42,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#cc14232a',GradientType=0 );
}

.tipologiaItem .img img {
	display: block;
}

.tipologiaItem .info {
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 2rem;
}

.tipologiaItem .info .itemTitle {
    color: #fff;
    font-size: 2.5vw;
    line-height: 2.5vw;
    font-weight: 100;
    margin-bottom: 0;
    /*temp*/
    margin-bottom: 2.5rem;
}

.tipologiaItem .info .itemSubTitle {
    color: #969d9f;
    font-size: 2.125rem;
    /*temp*/
    display: none;
}

@media screen and (min-width: 40em) and (max-width: 64em) {
	.tipologiaItem .info .itemTitle {
	    font-size: 4vw;
	    line-height: 4vw;
	}
}

@media screen and (max-width: 40em) {
	.tipologiaItem .info .itemTitle {
	    font-size: 8vw;
	    line-height: 8vw;
	}
}

.row .circle img {
	position: absolute;
	z-index: 999;
	border: 15px solid transparent;
	border-radius: 1000px;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	top: 0px;
	position: relative;
	background: transparent;
	overflow: hidden;
	text-align: center;
}

.row .circle .circleTitle {
	font-size: 1.3rem;
	color: #4b4b4b;
	font-weight: bolder;
	margin: .4rem 0;
	line-height: 1.2;
}

.row .circle p {
	font-size: 0.875rem;
}

.slick-row {
	background: transparent;
}

.slick-row .row {
	opacity: 0;
	position: absolute;
}
.rai-it .slick-row{
	opacity:0;
}

.slick-row.slick-initialized {
	background: none;
}

.slick-row.slick-initialized .row, .rai-it .slick-row.slick-initialized{
	opacity: 1;
	position: relative;
	transition: opacity 1s ease-in;
}

.raiplay .slick-row, .guidaTv .slick-row{
	opacity: 0;
}

.raiplay .slick-row.slick-initialized, .guidaTv .slick-row.slick-initialized{
	opacity:1;
	transition: opacity 1s ease-in;
}

.slick-row.slick-initialized .row {
	-webkit-animation: fadein 1s;
	-moz-animation: fadein 1s;
	-ms-animation: fadein 1s;
	-o-animation: fadein 1s;
	animation: fadein 1s;
}

@keyframes fadein {
	from { opacity:0;}
	to {opacity: 1;}
}
.slick-prev, .slick-next {
	z-index: 998;
	top: 50%;
	width:40px;
	/*display: none!important;*/
	clip: rect(1px 1px 1px 1px);/* il solito IE */
    clip: rect(1px, 1px, 1px, 1px);
}

.slick-prev:before, .slick-next:before {
	content: url(/dl/components/img/arrow_dx.png);
	width: 40px;
	height: 40px;
	background-color: #cbced0;
	display: block;
	font-size: 40px;
}

.slick-prev:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.slick-slider:hover .slick-prev, .slick-slider:hover .slick-next, .slick-slider:hover .slick-dots {
    /*display: block !important;*/
	clip: auto;
}

.blocco.dark .slick-prev:before, .blocco.dark .slick-next:before,
	.blocco.darklight .slick-prev:before, .blocco.darklight .slick-next:before
	{
	content: url(/dl/components/img/arrow_dx_dark.png);
	background-color: #626c71;
}

.blocco.white .slick-prev:before, .blocco.white .slick-next:before {
	content: url(/dl/components/img/arrow_dx.png);
}

.rai-it .blocco.grey .slick-prev:before, .rai-it .blocco.grey .slick-next:before{
	background-color: #979da0;
	content: url(/dl/components/img/arrow_dx.png);
}

.row .row {
	margin-left: calc(-0.625rem + 40px);
	margin-right: calc(-0.625rem + 40px);
}

.slick-row .row {
	margin: 0;
}

.slick-row .pubDate {
	position: absolute;
	top: 1rem;
	left: 1rem;
	color: #fff;
	font-size: .8rem;
	z-index: 99;
}

.slick-row .pubDate:before {
	content: url('/dl/components/img/ico-hour.png');
	padding-right: .3rem;
	display: block;
	float: left;
	margin-top: 0.3rem;
}

.slick-row a {
	display: block;
	position: relative;
	width: 100%;
	color: #7c8589;
}

.slick-row .slick-large-2 .label {
	margin-left: 1rem;
	text-transform: uppercase;
}

.slick-row .slick-large-2 .description {
	display: none;
}

.slick-large-2 .img:before, .slick-large-4 .img:before {
	content: "";
	/*background: url('/dl/components/img/shadow.png');*/
	background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(24,56,88,0) 59%, rgba(20,35,42,0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(24,56,88,0) 59%,rgba(20,35,42,0.8) 100%);
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(24,56,88,0) 59%,rgba(20,35,42,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#cc14232a',GradientType=0 );
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
}

.slick-large-2 .img, .slick-large-4 .img {
	position: relative;
}

.slick-row .slick-large-2 img {
	height: 100%;
}

.slick-row .slick-large-2 .titolo {
	position: relative;
	padding: .5rem 1rem 1rem;
	color: #fff;
	font-weight: 100;
}

.slick-row .slick-large-2 .info {
	position: absolute;
	bottom: 0;
}

.raiplay.home .slick-row .slick-slide .info .titolo{
	font-size:  1.375rem;
}

.slick-row .slick-large-3 a {
	float: left;
}

.slick-row .slick-large-3 .label {
	position: absolute;
	top: 45%;
	left: 1rem;
	text-transform: uppercase;
}

.slick-row .slick-large-3 .description {
	display: block;
	color: #4b4b4b;
	padding-left: 1.25rem;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 2.125rem;
}

.slick-row .slick-large-3 .testo {
	color: #4b4b4b;
	padding: 1.25rem 0 0 1.25rem;
	padding-right: 1.25rem;
	font-weight: 300;
	font-size: .9375rem;
}

.slick-row .slick-large-3 .img {
	height: 100%;
	width: 75%;
	float: left;
}

.slick-row .slick-large-3 .titolo {
	position: absolute;
	top: 50%;
	left: 1rem;
	color: #fff;
	font-weight: 900;
	font-size: 3rem;
	width: calc(75% - 1rem);
}

.slick-row .slick-large-3 .info {
	height: 100%;
	width: 25%;
	float: left;
}

.slick-row .slick-large-4 .label {
	margin-left: 1rem;
	text-transform: uppercase;
}

.slick-row .slick-large-4 .description {
	padding: .5rem 1rem 1rem;
	color: #fff;
	font-size: 0.9375rem;
	width: 80%;
}

.slick-row .slick-large-4 img {
	height: 100%;
}

.slick-row .slick-large-4 .titolo {
	padding: .5rem 1rem 1rem;
	color: #fff;
	font-size: 2.5rem;
	width: 80%;
	font-weight: 900;
}

.rai-it .slick-row .slick-large-4 .titolo {
 width: 100%;
 font-weight: 900;
 padding:0 14px;
}

.slick-row .slick-large-4 .info {
	position: absolute;
	bottom: 0;
}

.slick-row .slick-large-1 .img, .program-list .slick-large-1 .img {
	position: relative;
}

.slick-row .slick-large-1 .img:before, .program-list .slick-large-1 .img:before, .puntate .puntateItem .img:before {
	content: "";
	background: url('/dl/components/img/shadow-up.png');
	background-size: cover;
	display: block;
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;
}
.raiplay .slick-row .slick-large-1 .img:before, .raiplay .program-list .slick-large-1 .img:before, .guidaTv .slick-row .slick-large-1 .img:before, .puntate .puntateItem .img:before{
    background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(24,56,88,0) 59%, rgba(20,35,42,0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(24,56,88,0) 59%,rgba(20,35,42,0.8) 100%);
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(24,56,88,0) 59%,rgba(20,35,42,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#cc14232a',GradientType=0 );
}
.slick-row .video .img:after {
	content: url('/dl/components/img/ico-play.png');
	display: block;
	position: absolute;
	z-index: 99;
	width: 3rem;
	height: 3rem;
	top: calc(50% - 1.5rem);
	left: calc(50% - 1.5rem);
}

.video .info .subtitle-spacing{
	margin-right:0.3125rem;
}

.slick-row .foto .img:after {
	content: url('/dl/components/img/ico-foto.png');
	display: block;
	position: absolute;
	z-index: 99;
	width: 3rem;
	height: 3rem;
	top: calc(50% - 1.5rem);
	left: calc(50% - 1.5rem);
}

.slick-row.palinsesto .slick-large-1 .img:before {
	content: "";
	background: url('/dl/components/img/shadow-corner.png');
	background-size: cover;
}
.raiplay.canale .brandcolor img {
    width: 100%;
}
.slick-row .slick-large-1 .info {
	position: relative;
}

.slick-row .titolo, .slick-row .label {
	font-weight: bolder;
	line-height: 1.2;
}

.label {
	border-radius: 0;
	font-size: .6rem;
	line-height: 0.7;
}

.label-invisible {
	height: 1rem;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
	display: none;
}

.slick-row .slick-large-1 .info {
	margin-top: -1rem;
}

.slick-row .label {
	text-transform: uppercase;
	background-color: #7c8589;
}

.slick-row .slick-large-1 .titolo {
	color: #4b4b4b;
	margin: 2rem 0 1rem;
}

.raiplay .blocco.white .slick-row .slick-large-1 .titolo {
	color: #fff;
	margin: .4rem 0;
	font-weight: bolder;
}

.raiplay.canale .blocco.white .slick-row .slick-large-1 .titolo {
    color: #fff;
    font-weight: 100;
    margin-bottom: 0;
}

.raiplay.canale .brandcolor a {
    color: #fff;
}

.raiplay .blocco.white .slick-row .slick-large-1 .description {
	color: rgba(255,255,255,.75);
	font-size: .8rem;
}

.raiplay.canale .blocco.white .slick-row .slick-large-1 .description {
    color: #ffffff;
}

.slick-row .slick-large-1 .description {
	color: #7c8589;
	font-size: .8rem;
	font-weight: 500;
	max-height: 6.25rem;
	overflow-y: hidden;
}
.slick-row .slick-list.draggable{
	z-index: 1;
}
.slick-row .slick-dots {
	position: absolute;
	top: -45px;
	right: -5px;
	width: auto;
	z-index: 0;
}

.slick-row .slick-dots li.slick-active button:before, .raiplay .blocco .slick-row .slick-dots li.slick-active button:before, .raiPlayVideoFoto .slick-dots li.slick-active button:before {
	opacity: 1;
    content: " ";
    border-radius: 100%;
    background: transparent;
    margin-top: 5px;
    border:2px solid;
    
}
.slick-row .slick-dots li.slick-active button:before{
    border-color: #505B60;
}
.raiplay .blocco .slick-row .slick-dots li.slick-active button:before, .guidaTv .blocco .slick-row .slick-dots li.slick-active button:before, .raiPlayVideoFoto .slick-dots li.slick-active button:before{
	border-color: #00A0FA;
}
.raiplay .blocco .slick-row .slick-dots.purple li.slick-active button:before{
	 color: #FFFFFF;
    border: 2px solid #AB1678;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin-top: 6px;
    content: ""!important;
}
.slick-row .slick-dots li.slick-active button:before, .raiPlayVideoFoto .slick-dots li.slick-active button:before{
	width: 10px;
	height: 10px;
	content: url("RaiPlay/images/current_page.png");
	opacity: .75;
}
.slick-row.palinsesto .slick-dots li.slick-active button:before {
	content: url("/dl/components/img/current_page_white.png");
}

.slick-row .slick-dots li button:before, .raiPlayVideoFoto .slick-dots li button:before{
	width: 6px;
	height: 6px;
	content: " ";
	background-color: #C0C0C0;
	border-radius: 100%;
	margin: 7px;
}

.slick-row.slick-initialized .slick-slide {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.tabs-content {
	background: transparent;
	border: 0;
	/* padding-bottom: 3rem; */
}

.tabs {
	display: flex;
	background: transparent;
	border-radius: .5rem;
	border: none;
	margin: 0 2rem;
}

.tabs-title {
	flex-basis: 100%;
	text-align: center;
}
.tabs-title a {
	border: 1px solid #626c71;
	border-right: none;
}
.tabs-title:fist-child a {
    border-radius: 0.5rem 0 0 0.5rem;
}
.tabs-title:last-child a {
    border-right: 1px solid #626c71;
    border-radius: 0 0.5rem 0.5rem 0;
}
.tabs-panel {
	padding: 0;
}

.fasciaTabs{
	margin-bottom:1.5rem;	
}

.fasciaTabs li{
	overflow:hidden;
	border-radius: 0;
   border-right: 1px solid #626C71;
}
.fasciaTabs .tabs-title:last-child {
    border-right: 0;
}

.fasciaTabs li a{
	text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   color:#ffffff;
}

.lineCont{
	margin-bottom: 2rem;
}

.tabs-title>a {
	padding: .8rem 1rem;
}

.tabs-title>a:focus, .tabs-title>a[aria-selected='true'] {
	background: #626c71 !important;
    border-color: #626c71;
}

.guidaTv .tabs-title>a:focus, .tabs-title>a[aria-selected='true'] {
    background: #00A0FA !important;
    border-color: #00A0FA;
}

.tabs-title:first-child>a {
	border-radius: .4rem 0 0 .4rem;
}

.tabs-title:last-child>a {
	border-radius: 0 .4rem .4rem 0;
}

.tabs-title>a:hover {
	background: #626c71;
	color: #FFF;
}

.row .grey .tabs-title>a:hover {
	background: #979da0;
	color: #FFF;
}

.slick-row.palinsesto .slick-large-1 .info {
	margin: 0;
	position: relative;
}

.loghetto {
	position: absolute;
	top: -65px;
	width: 50px;
	height: 42px;
	padding: 11px 7px 11px 6px;
	z-index: 99;
}

.loghetto img {
	width: 37px;
}

.loghetto svg {
	fill: #FFF;
}

.rai1 .loghetto {
	background: #4144c5;
}

.rai2 .loghetto {
	background: #e61c23;
}

.rai3 .loghetto {
	background: #00b46e;
}

.rai4 .loghetto {
	background: #9d2fe5;
}

.durata {
	position: absolute;
	top: -40px;
	color: #fff;
	left: 6px;
	font-size: .9rem;
	font-weight: 600;
	z-index: 99;
	/* text-transform: capitalize; */
}

.loghetto+.durata {
    top: -20px;
    left: 7px;
    font-weight: normal;
    font-size: 12px;
}

.slick-row.palinsesto .slick-large-1 .titolo {
	font-size: 1rem;
	color: #fff;
	margin: .8rem 0 0;
	font-weight: 600;
}
body.rai-it .slick-row.palinsesto .slick-large-1 .titolo {
    height: 40px;
    overflow: hidden;
}
body.rai-it .slick-row.palinsesto .slick-large-1 .description {
    max-height: 19px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
body.rai-it .slick-row.palinsesto .slick-large-1 .next-titolo {
	margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.guidaTv .slick-large-1 .titolo {
    max-height: 40px;
    overflow: hidden;
}

.rai-it .blocco-diretta a[href="/raiplay/dirette/"] {
    display: none;
}
.rai-it .blocco-diretta div[class^='row tabBlock'] {
    margin-top: 3.75rem;
}
.slick-row.palinsesto .slick-large-1 .description, .slick-row.palinsesto .slick-large-1 .time,
	.slick-row.palinsesto .slick-large-1 .next, .slick-row.palinsesto .slick-large-1 .next-time
	{
	font-size: .8125rem;
	color: #7c8589;
}
.slick-row.palinsesto .slick-large-1[id$="Rai1"] .next {
    color: #4144c5;
}
.slick-row.palinsesto .slick-large-1[id$="Rai1"] .loghetto {
    background: #4144c5;
}
.slick-row.palinsesto .slick-large-1[id$="Rai2"] .next {
    color: #e61c23;
}
.slick-row.palinsesto .slick-large-1[id$="Rai2"] .loghetto {
    background: #e61c23;
}
.slick-row.palinsesto .slick-large-1[id$="Rai3"] .next {
    color: #00b46e;
}
.slick-row.palinsesto .slick-large-1[id$="Rai3"] .loghetto {
    background: #00b46e;
}
.slick-row.palinsesto .slick-large-1[id$="Rai4"] .next {
    color: #9d2fe5;
}
.slick-row.palinsesto .slick-large-1[id$="Rai4"] .loghetto {
    background: #9d2fe5;
}
.slick-row.palinsesto .slick-large-1[id$="Rai5"] .next {
    color: #FB6600;
}
.slick-row.palinsesto .slick-large-1[id$="Rai5"] .loghetto {
    background: #FB6600;
}
.slick-row.palinsesto .slick-large-1[id$="RaiMovie"] .next {
    color: #990000;
}
.slick-row.palinsesto .slick-large-1[id$="RaiMovie"] .loghetto {
    background: #990000;
}
.slick-row.palinsesto .slick-large-1[id$="RaiNews24"] .next {
    color: #3b6ae4;
}
.slick-row.palinsesto .slick-large-1[id$="RaiNews24"] .loghetto {
    background: #3b6ae4;
}
.slick-row.palinsesto .slick-large-1[id$="RaiStoria"] .next {
    color: #CCCC00;
}
.slick-row.palinsesto .slick-large-1[id$="RaiStoria"] .loghetto {
    background: #CCCC00;
}
.slick-row.palinsesto .slick-large-1[id$="RaiScuola"] .next {
    color: #767C87;
}
.slick-row.palinsesto .slick-large-1[id$="RaiScuola"] .loghetto {
    background: #767C87;
}
.slick-row.palinsesto .slick-large-1[id$="RaiSport1"] .next,
.slick-row.palinsesto .slick-large-1[id$="RaiSport2"] .next {
    color: #ffcc00;
}
.slick-row.palinsesto .slick-large-1[id$="RaiSport1"] .loghetto,
.slick-row.palinsesto .slick-large-1[id$="RaiSport2"] .loghetto {
    background: #ffcc00;
}
.slick-row.palinsesto .slick-large-1[id$="RaiPremium"] .next {
    color: #2a3484;
}
.slick-row.palinsesto .slick-large-1[id$="RaiPremium"] .loghetto {
    background: #2a3484;
}
.slick-row.palinsesto .slick-large-1[id$="RaiYoyo"] .next {
    color: #009933;
}
.slick-row.palinsesto .slick-large-1[id$="RaiYoyo"] .loghetto {
    background: #009933;
}
.slick-row.palinsesto .slick-large-1[id$="RaiGulp"] .next {
    color: #00ccff;
}
.slick-row.palinsesto .slick-large-1[id$="RaiGulp"] .loghetto {
    background: #00ccff;
}


.next-titolo {
	font-size: .875rem;
	color: #fff;
	margin: 0 5px;
}

.blocco.white .next-titolo {
	color: #7c8589;
}

.slick-row.palinsesto .slick-large-1 .next {
	margin-top: 1rem;
	font-weight: 800;
}

.progresso {
	height: 4px;
	margin-top: -4px;
	max-width: 100%;
}

.rai1 .progresso {
	background: #4144c5;
}

.rai2 .progresso {
	background: #e61c23;
}

.rai3 .progresso {
	background: #00b46e;
}

.rai4 .progresso {
	background: #9d2fe5;
}

.slick-programmi-online.programmi a, .slick-programmi-online.programmi p,
.slick-programmi-offline.programmi a, .slick-programmi-offline.programmi p{
	display: block;
	font-size: 0.875rem;
	color: #595959;
	line-height: 1.875rem;
	margin-bottom: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 240px;
	white-space: nowrap;
}

.slick-programmi-online.programmi p, .slick-programmi-offline.programmi p{
	font-weight: bolder;
}

.slick-programmi-online.programmi .slide,
	.slick-programmi-offline.programmi .slide {
	margin-left: 1.875rem;
}

.slick-programmi-offline, #tv-programmi-offline, #radio-programmi-offline {
	display: none;
}

.lettera_programma button {
	min-width: 26px; width: auto; height: 26px; padding: 0 6px; margin-right: 10px; line-height: 26px; color: #595959;
}

.lettera_programma button {
	position: relative;
}

.lettera_programma button.select {
	background-color: #979da0;
	-webkit-border-radius: 1.25rem;
	-moz-border-radius: 1.25rem;
	border-radius: 1.25rem;
	color: #FFF;
}

.lettera_programma button.disabled {
    color: #c9c9c9;
    background: transparent !important;
}
.lettera_programma button.disabled span {
    display: none;
}

.lettera_programma button span {
	position: absolute;
	top: -30px;
	font-size: 0.7rem;
	color: #595959;
	width: 2rem;
	height: 1.3rem;
	background-color: #ddd;
	line-height: 1.3rem;
	border-radius: 0.5rem;
	display: none;
	left: 50%; margin-left: -16px;
}

.lettera_programma button span:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 3px 0 3px;
	border-color: #dddddd transparent transparent transparent;
	display: block;
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -3px;
}

.lettera_programma button.select span {
	display: block;
	font-size: 0.8125rem;
	font-weight: bolder;
}

.lettera_programma button[disabled] {
	color: #cbced0;
}

.blocco.listaProgrammi .switch input, #bannerSinistra .switch input, #panel-tv-programmi .switch input, #panel-radio-programmi .switch input .switch input{
	width: 3.25rem;
	height: 2rem;
	margin: 0;
	z-index: 10;
}

.blocco.listaProgrammi .switch input+.switch-paddle, #bannerSinistra .switch input+.switch-paddle, #panel-tv-programmi .switch input+.switch-paddle, #panel-radio-programmi .switch input+.switch-paddle{
	float: left;
	border-radius: 1rem;
	height: 1.125rem;
	width: 3.25rem;
	margin: 0.1875rem 1rem 0.1875rem 0;
}

.blocco.listaProgrammi .switch input+.switch-paddle:after, #bannerSinistra .switch input+.switch-paddle:after, #panel-tv-programmi .switch input+.switch-paddle:after, #panel-radio-programmi .switch input+.switch-paddle:after{
	border-radius: 1rem;
	top: .125rem;
	left: .125rem;
	height: .9rem;
	width: .9rem;
}

.blocco.listaProgrammi .switch input+.switch-paddle .show-for-off, #bannerSinistra .switch input+.switch-paddle .show-for-off, #panel-tv-programmi .switch input+.switch-paddle .show-for-off, #panel-radio-programmi .switch input+.switch-paddle .show-for-off{
	display: inline;
	position: absolute;
	left: 1.225rem;
	bottom: -.1875rem;
}

.blocco.listaProgrammi .switch input+.switch-paddle .show-for-on, #bannerSinistra .switch input+.switch-paddle .show-for-on, #panel-tv-programmi .switch input+.switch-paddle .show-for-on, #panel-radio-programmi .switch input+.switch-paddle .show-for-on{
	display: none;
}

.blocco.listaProgrammi .switch input:checked+.switch-paddle {
	background-color: #979da0;
}

.blocco.listaProgrammi .switch input:checked+.switch-paddle .show-for-off, #bannerSinistra .switch input:checked+.switch-paddle .show-for-off, #panel-tv-programmi .switch input:checked+.switch-paddle .show-for-off, #panel-radio-programmi .switch input:checked+.switch-paddle .show-for-off{
	display: none;
}

.blocco.listaProgrammi .switch input:checked+.switch-paddle .show-for-on, #bannerSinistra .switch input:checked+.switch-paddle .show-for-on, #panel-tv-programmi .switch input:checked+.switch-paddle .show-for-on, #panel-radio-programmi .switch input:checked+.switch-paddle .show-for-on{
	display: inline;
	position: absolute;
	left: 0.625rem;
	bottom: -.1875rem;
}

.blocco.listaProgrammi .switch input:checked+.switch-paddle:after, #bannerSinistra .switch input:checked+.switch-paddle:after, #panel-tv-programmi .switch input:checked+.switch-paddle:after, #panel-radio-programmi .switch input:checked+.switch-paddle:after{
	left: 2.25rem;
}

.blocco.listaProgrammi .switch div, #bannerSinistra .switch div, #panel-tv-programmi .switch input:checked+.switch-paddle:after, #panel-radio-programmi .switch input:checked+.switch-paddle:after{
	font-size: 0.875rem;
	color: #595959;
	line-height: 1.875rem;
}

.blocco.listaProgrammi .switch div span {
	position: absolute;
   padding: 0 0.35rem;
   font-size: 0.7rem;
   color: #595959;
   height: 1.3rem;
   background-color: #ddd;
   line-height: 1.4rem;
   top: 0.3rem;
   margin-left: 0.3rem;
   border-radius: 0.5rem;
}
.searchAZCont {
	margin-bottom: 40px;
	position: relative;
}
.searchAZCont:before {
	content: "";
	float: right;
	width: 70px;
	height: 40px;
	background-image: url("/dl/components/img/search_button_grey.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #28353c;
	background-size: 18px;
	border-radius: 0 5px 5px 0;
}

.blocco.grey .searchAZCont:before {
	background-color: #979DA0;
	background-image: url("/dl/components/img/search_button.png");
}

input.searchAZ {
	display: block;
	padding: 12px;
	width: calc(100% - 70px);
	height: 40px;
	border: none;
	background: #616d74;
	border-radius: 5px 0 0 5px;
	font-size: 0.8rem;
	color: #ffffff;
}

.blocco.grey input.searchAZ {
	background: #ffffff;
	color: #979DA0;
}

.searchAZCont .ui-noresults {
    display: none;
    background: #fff;
    width: 190px;
    position: absolute;
    right: 40px;
    top: 41px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #979DA0;
    line-height: 16px;
}
.searchAZCont .ui-noresults strong {
    color: #595959;
    font-weight: 600;
}

#panel-tv-programmi .slick-prev, #panel-radio-programmi .slick-prev {
    left: -30px;
}
#panel-tv-programmi .slick-next, #panel-radio-programmi .slick-next {
    right: -30px;
}
@media screen and (max-width: 40em) {
    .lettera_programma {
        margin: 2rem 0 1rem;
    }
    .rai-it .searchAZCont {
        margin-bottom: 2rem !important;
    }
    .rai-it .ui-menu.ui-autocomplete {
        width: calc(100% - 100px) !important;
    }
    .rai-it .searchAZCont .ui-noresults {
        width: calc(100% - 40px);
    }
}

/* SEARCH OVERRIDE */
.rai-it .searchAZCont { position: relative; height: 40px; margin: 0; padding-right: 40px; }
.rai-it .searchAZCont:before { display: none; }
.rai-it .searchAZCont input { position: absolute; width: 0; padding: 0; right: 40px; text-indent: 10px; border-radius: 5px; -webkit-transition: all 300ms; transition: all 300ms; }
.rai-it .searchAZCont input.error { background: #ff3d3d !important; color: #fff !important; }
.rai-it .searchAZCont button { position: absolute; right: 0; width: 40px; height: 40px; font-size: 0; background: url("http://rai.it/dl/components/img/search_button_grey.png") center / 16px auto no-repeat transparent; }
.rai-it .searchAZCont:hover input,
.rai-it .searchAZCont input:focus { width: 190px; box-shadow: none;}

.raiplay #focusLoading { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #14232a; z-index: 1; }
.raiplay #focusLoading img { position: absolute; top: 50%; left: 50%; margin: -32px 0 0 -32px; }
.rai-it #focusLoading { display: none !important; }
.raiplay #focus, .rai-it #focus, .raiplay .slick-row .articolo, .raiplay .program-list .articolo, .guidaTv .slick-row .articolo{
    position: relative;
    display: block;
}
.raiplay #focus .focus {
	padding: 0;
}
.raiplay #focus, .rai-it #focus {
	display: none;	
}
.raiplay #focus .slick-slide, .rai-it #focus .slick-slide {
    margin: 0 10px;
    position: relative;
}

.raiplay #focus .info, .rai-it #focus .info{
    position: absolute;
    bottom: -2px;
    margin: 0;
    width: 100%;
    padding: 120px 20px 20px 20px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#14232a+1,14232a+100&0+0,0.75+48,0.9+75 */
    background: -moz-linear-gradient(top,  rgba(20,35,42,0) 0%, rgba(20,35,42,0.02) 1%, rgba(20,35,42,0.75) 48%, rgba(20,35,42,0.9) 75%, rgba(20,35,42,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(20,35,42,0) 0%,rgba(20,35,42,0.02) 1%,rgba(20,35,42,0.75) 48%,rgba(20,35,42,0.9) 75%,rgba(20,35,42,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(20,35,42,0) 0%,rgba(20,35,42,0.02) 1%,rgba(20,35,42,0.75) 48%,rgba(20,35,42,0.9) 75%,rgba(20,35,42,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0014232a', endColorstr='#e614232a',GradientType=0 ); /* IE6-9 */
}

.raiplay .slick-row .articolo .info, .guidaTv .slick-row .articolo .info, .raiplay .program-list .articolo .info, .puntate .puntateItem .info{
	position: absolute;
	bottom: 0.6875rem;
	margin-left: 0.6875rem;
	z-index: 9;


}

.raiplay #focus .titolo, .rai-it #focus .titolo{
    color: #ffffff;
    font-size: 1.813rem;
    line-height: 2rem;
    font-weight: 200;
}
.raiplay #focus .titolo, .rai-it #focus .description {
	color: rgba(255,255,255,1);
}
.raiplay.programmi-az .program-list {
    position: relative;
    padding-top: 52px;
}
.raiplay header .az-selector,
.raiplay .program-list .az-selector {
    position: relative;
    top: -54;
    width: 100%;
    padding-bottom: 2rem;
    margin-bottom: -54px;
    text-align: center;
    background: #14232a;
    white-space: nowrap;
    overflow: auto;
    cursor: default;
}
.raiplay header .az-selector {
    top: 0;
    left: 0;
    width: calc(100% - 4rem);
    padding-top: 1.925rem;
    z-index: 10;
    margin: 0 2rem;
}
.raiplay header .az-selector div,
.raiplay .program-list .az-selector div {
    display: inline-block;
    margin: 0 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.raiplay header .az-selector div.active,
.raiplay .program-list .az-selector div.active {
    background: #00a0fa;
}
.raiplay header .az-selector div.disabled,
.raiplay .program-list .az-selector div.disabled {
    background: transparent;
    color: #616c70;
    cursor: default;
}
.raiplay .program-list .az-selector div {
    display: inline-block;
    margin: 0 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.raiplay .program-list .az-selector div.active {
    background: #00a0fa;
}
.raiplay .program-list .az-selector div.disabled {
    background: transparent;
    color: #616c70;
    cursor: default;
}
.raiplay .program-list .articolo .img img {
    width: 100%;
}
.raiplay .program-list .articolo .info .useraction {
	margin: 0;
}
.raiplay .program-list .articolo .info .useraction a {
    font-size: 0;
}
.raiplay .program-list .articolo .info .useraction a.watchlater-button {
	display: none !important;
}
.raiplay .program-list .articolo .info .bookmarks-button:hover svg path, .raiplay .program-list .articolo .info .bookmarks-button.active svg path,
.raiplay .program-list .articolo .info .bookmarks-button:hover svg use, .raiplay .program-list .articolo .info .bookmarks-button.active svg use {
    fill: #00A0FA;
}
.raiplay .program-list .articolo .info .label-invisible {
    display: none;
}

.raiplay .slick-row .articolo .info .label, .raiplay .program-list .articolo .info .label, .guidaTv .slick-row .articolo .info .label{
	display:none;
}

.raiplay .slick-row .articolo .info .titolo, .raiplay .program-list .articolo .info .titolo, .guidaTv .slick-row .articolo .info .titolo, .puntate .puntateItem .info .titolo{
	color: #ffffff;
	font-size: 1rem;
	font-weight: 400;
	margin: 0.3125rem 0;
}

.raiplay #focus .description, .rai-it #focus .description, .raiplay .slick-row .articolo .info .description, .raiplay .program-list .articolo .info .description, .guidaTv .slick-row .articolo .info .description, .puntate .puntateItem .info .description{
   color: rgba(255,255,255,.75);
   font-weight: 100;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 1.2rem;        /* fallback */
   max-height: 48px;       /* fallback */
   font-size: 0.8125rem;
}

/*autocomplete*/
.rai-it .ui-autocomplete {
    background: #fff;
    width: 190px !important;
    margin-top: 5px;
    border-radius: 5px;
    list-style: none;
    max-height: 200px;
    overflow: auto;
    border-top: 1px solid #f0f0f0;
}
.rai-it .ui-menu.ui-autocomplete li {
    font-size: 14px;
    line-height: 16px;
    padding: 5px;
    color: #979DA0;
    margin: 5px;
}
.rai-it .ui-menu.ui-autocomplete li.ui-state-focus {
    color: #595959;
    background: rgba(0,0,0,0.05);
    border-radius: 5px;
    cursor: pointer;
}
.rai-it .ui-menu.ui-autocomplete li .ui-highlight {
    color: #595959;
    font-weight: 600;
}
/*fine autocolplete*/
.grey .tabs {
	border: 1px solid #979da0;
}
.rai-it .grey .tabs { border: none; }
.grey .tabs-title>a[aria-selected='true'] {
	background: #979da0;
	color: #FFF;
}

#bannerRaiPlay .title {
	color: #FFF;
	font-size: 2.5rem;
	padding-left: 3rem;
}

#bannerRaiPlay .content {
	color: #FFF;
	padding-left: 3rem;
	position: relative;
}

.row #bannerRaiPlay {
	padding-left: 4rem;
}

.row.nolimits, .prefooter {
	max-width: 100%;
}

.bannerTvRadio {
	padding: 0 !important;
	position: relative;
	background-position: right top;
	background-size: cover;
}

.bannerTvRadio.tv {
	background-image: url(/dl/components/img/bannertvradio-tv.jpg);
}

.bannerTvRadio.radio {
	background-image: url(/dl/components/img/bannertvradio-radio.jpg);
}

.bannerTvRadio .shadow {
	width: 100%;
	display: block;
}

.bannerTvRadio .lifebelt {
	position: absolute;
	height: 100%;
	width: 100%;
}

.bannerTvRadio.tv .lifebelt {
	right: 0;
}

.bannerTvRadio.radio .lifebelt {
	left: 0;
}

.bannerTvRadio .lifebelt .entry {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2.5em 0 2.5em 3.125em;
	font-weight: 300;
	color: #fff;
}

.bannerTvRadio .lifebelt .entry .title {
	padding: 1rem 0;
	font-size: 1.875rem;
	line-height: 1.875rem;
}

.bannerTvRadio .lifebelt .entry .p {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.bannerTvRadio .lifebelt .entry .action .button {
	background: transparent;
	border-radius: 0.3125rem;
	border: 1px solid #fff;
	font-size: 0.875rem;
	font-weight: 400;
	margin: 0 0.625rem 0 0;
}

.bannerTvRadio.tv .lifebelt .entry .action .button.colorized {
	background: #00a0fa;
	border-color: #00a0fa;
}

.bannerTvRadio.radio .lifebelt .entry .action .button.colorized {
	background: #00d2b9;
	border-color: #00d2b9;
}
/* IUBENDA */
.iubenda-cs-rationale {
	background: #49545a;
	color: #FFF;
	text-align: center;
	padding: 1.250rem;
	font-size: 0.875rem;
	line-height: 1.563rem;
}

.iubenda-cs-close-btn {
	text-indent: -9999px;
	background: url(/dl/components/img/ico-chiudi.svg) no-repeat;
	white-space: nowrap;
	width: 2.5rem;
	height: 2.5rem;
	position: absolute;
	right: 0.625rem;
	top: 1.563rem;
}

.row.menu {
	border-top: 1px solid #e4e8ea;
	font-size: 0.875rem;
	padding: 1.25rem 0;
}

.row.menu a {
 color: #7c8589;
 font-weight: bold;
 font-size: 1rem;
}

.row .circle .panel img {
	width: 140px;
	height: auto;
	max-height: 140px;
}

.rai-it .darklight .slick-row .slick-large-1 .titolo, .rai-it .dark .slick-row .slick-large-1 .titolo {
	/*font-size: 1.375rem;*/
	color: #fff;
	font-weight: 400;
	margin-top: 1rem;
}

.rai-it .darklight .slick-row .slick-large-1 .description, .rai-it .dark .slick-row .slick-large-1 .description {
	font-size: .8125rem;
	color: #7c8589;
}

.rai-it .darklight .row .info .time {
	font-size: .8125rem;
	color: #7c8589;
}

.rai-it .darklight .slick-row .slick-large-1 .info {
	margin: 0;
	display: block;
	width: 100%;
	padding: 0 0.6875rem;
}

.rai-it .darklight .slick-row .slick-large-1 .info .titolo {
	margin:0;
}

.rai-it .darklight .slick-row .slick-dots li.slick-active button:before {
	content: url("/dl/components/img/current_page_white.png");
}

.guidaTv .darklight .slick-row .slick-dots li.slick-active button:before {
	content:"";
}

.guidaTv #nielsen, .raiPlayVideoFoto #nielsen{
	display:none;
}
.row .circle p {
	font-size: 0.875rem;
	color: #7c8589;
}

.white .tabs-title>a:focus, .white .tabs-title>a[aria-selected='true'] {
	background: #979da0;
	color: #FFF !important;
}

.white .tabs {
	border: 1px solid #979da0;
}

.white .tabs-title>a:hover {
	color: #FFF !important;
}

.slick-prev:before.slick-next:before {
	content: url(/dl/components/img/arrow_dx.png);
	width: 40px;
	height: 40px;
	background-color: #00a0fa;
	display: block;
	font-size: 40px;
}

.slick.row {
	width: 100% !important;
}

.marginrow {
	margin-bottom: 4%;
}

.pubDateRaiPlay {
	position: absolute;
	top: -5rem;
	left: 1rem;
	color: #fff;
	font-size: .8rem;
	z-index: 99;
}

.img_app {
	width: 70px;
}

.img_prefoot {
	float: none !important;
}

.dName {
	margin: 0px auto;
	padding: 5px;
	padding-bottom: 0px;
	width: 100px;
	font-size: 13px;
	font-weight: bold;
	color: #75797B;
}

.dNumber {
	margin: 0px auto;
	width: 100px;
	font-size: 20px;
	color: #75797B;
}

.canale {
/* 	text-transform: uppercase; */
/* 	font-weight: bold; */
/* 	font-size: 9px; */
/* 	color: #00a0fa; */
}

.paddingSociale {
	padding: 2.5rem 0!important;
    color: #FFF;
}

.info1 {
	margin-top: -74px;
	position: relative;
	margin-left: 5%;
}

.info2 {
	margin-top: 6%;
}

h6 {
	font-size: 3.125rem;
	color: #485459;
	width: 100%;
	text-align: center;
	font-weight: 200;
	font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
	margin: 0.67em 0;
}

.containercalendar {
	text-align: center;
	cursor: pointer;
	border-right: 1px solid #dadada;
	margin: 15px 0px;
	display: inline-block;
	width: 140px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

.raiplay #calendario {
    padding-bottom: 3%;
    text-align: center;
}

.raiplay .slick-row.palinsesto .next {
    display: none;
}

.raiIndiretta {
	color: rgb(72, 84, 89) !important;
}

.footterline {
	border-top: 0.5px solid #ddd;
	margin: 0 auto;
}

.cerca {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 21px;
	display: inline-block;
	margin-top: 2%;
}

.buttoncerc {
	background-color: rgb(40, 53, 60);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-top: 9px;
	padding-bottom: 8px;
	padding-left: 2%;
	right: 2%;
	position: relative;
}

#rightbut {
	float: right;
	display: block;
	/*right: 35px !important;*/
	top: 245px;
	position: relative !important;
}

#iso-container::-webkit-scrollbar {
	display: none;
}

#leftbut {
	display: block;
	/*left: 35px !important;*/
	top: 245px;
	position: relative !important;
}

.line {
	border-bottom: 1px solid #2e3c42;
	margin: 0 auto;
}

.colorQuestaSera {
	color: #ffffff !important;
}

.fontQuestaSEra {
	font-size: 8px !important;
}

.app {
	background-image: url(/dl/components/img/sfondoBannerApp.jpg);
	background-size: cover;
	padding-bottom: 90px;
}

.raiplay .appBanner {
    margin-top: 10%;
	 color: #ffffff;
}

.raiplay .appBanner .title {
    color: white;
    margin: 0.67em 0;
    margin-bottom: 3%;
    text-align: center;
    font-size: 3.125rem;
    font-weight: 200;
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    padding: 0;
}

.raiplay .appBanner .appBannerItem{
	display: inline-block;
	margin: 3%;
}

.raiplay .appBanner .smallText{
	font-size: 0.625rem;
}

#iso-container::-webkit-scrollbar {
	display: none;
}

.slide {
	margin-top: 0;
}

.element {
	width: 230px;
	overflow: hidden;
	margin: 5px;
	float: left;
	position: relative;
	background: #111;
	color: #222;
	box-shadow: 0 1px 3px #111;
	-moz-box-shadow: 0 1px 2px #111;
	-webkit-box-shadow: 0 1px 3px #111;
}

.element.one {
	height: 150px;
}

.element.two {
	height: 175px;
}

.element.three {
	height: 200px;
}

.grid {
	height: 450px;
}

.grid-item {
	float: left;
	overflow: hidden;
}

.grid-item-s {
	width: 200px;
	height: 150px;
}

.grid-item-b {
	width: 400px;
	height: 300px;
}

.grid-item-v {
	width: 200px;
	height: 300px;
}

.grid-item-h {
	width: 400px;
	height: 150px;
}

.container {
	width: 1200px;
	overflow: scroll;
	margin: 0 auto;
}

.prefooter {
	background-color: rgb(46, 59, 66);
}
.prefooter-fixed {
	max-width: 1000px;
}
.prefooter .social{
	text-align: center;
	font-weight: 300;	
}
.prefooter .social a {
	color: #fff;
}
.prefooter .social a:hover {
	color: #82898e;
}
.prefooter .social a img {
	margin-right: 1.25rem;
}
.prefooter .extension{
	margin-top: 1.875rem;
	padding-top: 1.875rem;
	border-top: 1px solid #434f55;
}
.prefooter .extension .row {
	margin: 0;
}
.prefooter .extension .row .columns{
	border-right: 1px solid #434f55;
}
.prefooter .extension .row .columns:last-of-type{
	border: none;
}
.prefooter .extension .row .columns .item{
	margin: 0 0.625rem;
	text-align: center;
}
.prefooter .extension .row .columns .item .title{
	margin: 1rem 0;
    padding: 0;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}
.prefooter .extension .row .columns .item p{
	margin: 0 0 1rem;
	line-height: 20px;
	font-size: 12px;
	color: #cbced0;
}
.prefooter .extension .row .columns .item p a{
	font-weight: 400;
	color: #fff;
}
.prefooter .extension .row .columns .item button{
    padding: 0.625rem 1.625rem;
	font-size: 12px;
    line-height: 12px;
    color: #fff;
    background: #434f55;
    border-radius: 5px;
}
/**REVISIONE ATTILIO 26/04**/
.raiplay .slick-row {
	margin-left: 0% !important;
	margin-right: 0% !important;
}

.raiplay .slick-large-1 {
	padding: 10px;
}

.raiplay .slick-prev:before, .raiplay .slick-next:before, .raiplay .blocco.dark .slick-prev:before, .raiplay .blocco.dark .slick-next:before, .raiplay .blocco.darklight .slick-prev:before, .raiplay .blocco.darklight .slick-next:before, .guidaTv .slick-prev:before, .guidaTv .slick-next:before, .guidaTv .blocco.dark .slick-prev:before, .guidaTv .blocco.dark .slick-next:before, .guidaTv .blocco.darklight .slick-prev:before, .guidaTv .blocco.darklight .slick-next:before {
	content: url(/dl/components/img/arrow_dx.png);
	width: 40px;
	height: 40px;
	background-color: #00a0fa;
	display: block;
	font-size: 40px;
}

.raiplay .slick-list.slick-prev:before, .raiplay .slick-next:before {
	content: url(/dl/components/img/arrow_dx.png);
	width: 40px;
	height: 40px;
	background-color: #00A0FA;
	display: block;
	font-size: 40px;
}

.raiplay .slick-inline.slick-prev:before, .raiplay .slick-next:before {
	content: url(/dl/components/img/arrow_dx.png);
	width: 40px;
	height: 40px;
	background-color: #00a0fa !important;
	display: block;
	font-size: 40px;
}



.raiplay .slick-next {
	right: 0px !important;
}

.raiplay .slick-prev {
	left: 0px !important;
}

/*.raiplay .titolo {
	color: white;
	font-size: 16px;
	font-weight: 100;
}*/

/*.raiplay .description {
	color: white !important;
	font-size: 9px !important;
}*/

.rai-it .dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after{
	margin-top: -5px !important;
}

.blocco.white .row .title h2 {
	color: #626c71;
}

.blocco.white .row .title a {
	color: #595959;
}

.rai-it .row.menu.fascia {
	margin: 0 !important;
}

.guidaTv h2 {
    text-align: center;
}

.raiplay .blocco .row .title h2{
	text-align: center;
	margin-bottom: 1.25rem;
	font-size: 3.125rem;
	white-space: nowrap;
}

.raiplay .containercalendar.is-active p {
	color: #fff;
}

.raiplay .containercalendar.is-active {
	background-size: 63% 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url("/dl/components/img/seleceted_data.png");
}

.slick-row .slick-large-1 .label+.titolo {
	margin: 1rem 0;
}

.raiplay .imagetematica {
	position: relative;
}

.raiplay .tematica-odd {
	padding-right: 0;
}

.raiplay .tematica-even {
	padding-left: 0;
}

.raiplay h3.titletematiche {
	font-size: 2.5rem;
	color: #FFF;
	width: 100%;
	text-align: center;
	font-weight: 200;
	font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
	margin: 0.67em 0;
	position: absolute;
	top: 0;
}

.raiplay .paddingSociale img {
	margin-right: 1rem;
}
/*Social Footer*/
#socialFooter {
	max-width: 100%;
	background-color: #2e3b42;
	padding: 50px 0;
}

#socialFooter span {
	display: block;
}

.row .socialFootItem .title {
	padding: 0;
	font-size: 1.1rem;
	padding-top: 6px;
	color: #ffffff;
}

.socialFootItem p {
	margin: 0;
}

.socialFootImg {
	float: left;
	width: 40px;
	height: 40px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.socialFootImg.facebook {
	background-image: url(/dl/test/footFacebook.jpg);
}

.socialFootImg.twitter {
	background-image: url(/dl/test/footTwitter.jpg);
}

.socialFootImg.google {
	background-image: url(/dl/test/footGoogle.jpg);
}

.socialFootImg.blog {
	width: 43px;
	background-image: url(/dl/test/footBlog.jpg);
}

#mobileLastFooter {
	background-color: #14232a;
}

#mobileLastFooter>div {
	text-align: center;
	padding: 25px 0;
}

#mobileLastFooter a {
	font-size: 1.563rem;
	color: #485459;
}


.prefooter .columns {
    text-align: center;
}
.prefooter .columns a span { color: #fff }
.prefooter .columns span {
    line-height: 42px;
}

.prefooter .paddingSociale svg,
.prefooter .paddingSociale img {
    width: 42px;
    margin-right: 10px;
    height: 42px;
    float: left;
}

#prefooterBlockCont{
	border-top: 0.5px solid #ddd;
}
#prefooterBlock {
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
    padding: 2.5rem 0;
}
#prefooterBlock > div{
	border-right: 0.5px solid #ddd;
	position: relative;
}
#prefooterBlock > div.noBorder{
	border-right:none;
}
.buttonfootCont {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.buttonfoot {
	background-color: rgb(67, 79, 85);
	border-radius: 4px;
	width: 100px;
	height: 30px;
	padding: 0px;
	font-size: 10px;
	color: #FFF;
}
/*================================modifiche sara=====================================*/
body.rai-it .slick-row .slick-dots li.slick-active button:before {
    border: 2px solid #297dff;
	width: 10px;
    height: 10px;
}
body.rai-it .blocco.dark .slick-row .slick-dots li.slick-active button:before {
	border: 2px solid #fff;
	content: "";
}
body.rai-it .blocco.dark .titolo {
	color: #fff;
}
label.switch-paddle {
	    border-radius: 15px 15px 15px 15px;
    padding: 0px 5px;
    background: #979da0 !important;
    display: inline-block;
    float: left;
    margin-right: 20px;
}
label.switch-paddle::after {
	border-radius: 50%;
}
.switch .programmi-tv-on-line, .switch .programmi-radio-on-line {
	color: #595959;
}
.programmi-tv-on-line span, .programmi-radio-on-line span  {
    margin-left: 10px;
    padding: 1px 6px;
    background-color: #979DA0;
    border-radius: 10px;
    color: #ffffff;
}
#panel-tv-programmi .slick-dots { display: none !important; }
#panel-radio-programmi .slick-dots { display: none !important; }

/*fine Social Footer*/

/*Media Query*/
@media screen and (min-width: 64.06rem) {
	.large-uncollapse>.column, .large-uncollapse>.columns {
		padding-left: 0.625rem;
		padding-right: 0.625rem;
	}
	.bannerTvRadio .lifebelt {
		max-width: 40em;
	}

}

@media screen and (min-width: 40em) {
	.row .row {
		margin-left: -0.625rem;
		margin-right: -0.625rem;
	}
	.column, .columns {
		padding-left: 0.625rem;
		padding-right: 0.625rem;
	}
	.rai-it .row.menu.fascia .columns {
		padding-left: 0.2rem;
	}
}

@media screen and (min-width: 40em) {
	.row .row {
		margin-left: calc(-0.625rem + 40px);
		margin-right: calc(-0.625rem + 40px);
	}
	
}

@media screen and (max-width: 64em){
	.facebook img, .twitter img, .google img, .tv-blog img{
		display:block;
		float: none;
		margin-right: auto!important;
		margin-left:auto;
	}
}

@media screen and (max-width: 845px) {
	.row .socialFootItem .title {
		font-size: 0.668rem;
		padding-top: 9px;
	}
	.socialFootImg {
		float: left;
		width: 40px;
		height: 40px;
		background-size: 100% auto;
	}
}


/* media query smartphone*/

@media screen and (max-width: 40em) {
	.socialFootImg {
		background-size: auto 100%;
	}
	#socialFooter span {
		text-align: center;
	}
	.fasciaTabs{
		margin: 0 0 1.5rem 0;
	}
	
	.raiplay #focus .titolo, .rai-it #focus .titolo{
    	font-size: 1.438rem;
    	line-height: 1.875rem;
	}
	
	.raiplay #focus .description, .rai-it #focus .description{
		font-size: 0.6875rem;
	}
	
	.raiplay .slick-row .slick-slide .info .titolo, .raiplay .slick-row .slick-slider .info .titolo{
		font-size:  0.9375rem;
	}
	
	.raiplay .slick-row .slick-slide .info .description, .raiplay .slick-row .slick-slider .info .description{
		font-size:  0.625rem;
	}
	
	body.rai-it .blocco > .row > .columns,
	body.rai-it .row.title,
	body.rai-it .row.title > .columns {
		padding: 0;
	}
	.row .title a {
		display: none;
	}
	.row .title .tabs-title a {
		display: block;
	}
	
	.rai-it .row .title .tabs {
	    margin: 1rem 0;
	}
	.slick-row {
		margin-bottom: 55px;
	}
	.raiplay .slick-row {
		margin-bottom: 0;
	}
	.slick-large-1 img {
		width: 100%;
		float: none;
	}
	.raiplay .slick-large-1 img, #slickTab .slick-large-1 img,  .guidaTv .slick-large-1 img{
		width: 100%;
		float: none;
	}

	.raiplay .focus {
    	margin:0;
    	padding:0
	}
	
	.rai-it .slick-row {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.rai-it .slick-row.palinsesto {
	    margin-left: 20px;
	    margin-right: 20px;
	}
	.rai-it .slick-row.palinsesto .slick-large-1 {
		margin-bottom: 0;
	}
	.rai-it .slick-row.palinsesto .slick-large-1 .titolo {
		height: 1rem !important;
		font-size: 1rem;
		white-space: nowrap;
		text-overflow: ellipsis;
	} 
	.rai-it .row.slick-row.palinsesto.slick-initialized.slick-slider .slick-dots {
	    display: none !important;
	}
	
	.slick-row .slick-large-1 .pubDate {
		top: 0;
		right: 0;
		color: #4b4b4b;
		text-align: right;
		padding: .5rem 0;
		/* font-size: 1rem; */
	}
	.slick-row .slick-large-1 .label {
		color: #7c8589;
		background-color: transparent;
		font-size: 1rem;
		padding: 0;
		width: 75%;
		/* font-size: 1rem; */
		white-space: inherit;
	}
	.slick-row .slick-large-1 .titolo {
		font-weight: 500;
		/* font-size: 1.2rem; */
	}
	.rai-it .slick-row .slick-large-1 .titolo {
		font-weight: 500;
		font-size: 1.2rem;
		margin:.5rem 0;
	}
	.slick-row .columns {
		margin-bottom: 2rem;
		padding: 0;
	}
	.slick-row .slick-dots {
		position: relative;
		top: auto;
		right: auto;
		width: 100%;
		margin-left: 0;
	}
	.slick-row .slick-next {
		right: -20px;
		top: 50%;
	}
	.slick-row .slick-prev {
		left: -20px;
		top: 50%;
	}
	.raiplay .slick-row .slick-next, .raiplay .slick-row .slick-prev{
		top: 50%;
	}
	.blocco {
		 padding: 20px 0;
	}
	body.rai-it #focus {
	    padding-top: 30px
	}
	body.rai-it #focus:before {
        margin-left: 30px
	}
	body.rai-it #focus .focus {
	    padding: 30px 0 20px;
	}
	.raiplay .blocco .row .title h2{
		text-align: center;
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
	}	

	.slick-row.slick-initialized .slick-slide{
		padding: 0 10px;
	}

	.raiplay #focus .slick-slide, .rai-it #focus .slick-slide {
		position: relative;
  		width: 100%;
  		margin:0;
	}

	.rai-it .circle .columns {
 	   flex: initial;
    	width: 50%;
	}

	.rai-it .blocco h2{
		font-size:2rem;
	}
	.rai-it #main-menu {
    height: 100%;
    padding-top: 0;
	}
	
	.rai-it .row .circle,
	.rai-it .row .circle .panel {
		margin-bottom: 20px;
	}
	.rai-it .row .circle .panel img {
		border-top: 0;
		border-bottom: 0;
	}
	.rai-it .row .circle .panel .circleTitle {
	    margin: 0;
    	font-size: 1rem;
	}
	
	.rai-it .row.menu.fascia .columns {
	    flex: initial;
	    padding: 5px 0;
	    width: 50%;
	}
	.rai-it .row.menu.fascia .columns a {
		font-size: 0.875rem;
	}
	.rai-it .row.network > .column {
	    padding: 20px 0;
	    border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	.rai-it .row.network > .column:last-of-type {
		border-bottom: none
	}
	.rai-it .row.network ul {
		margin: 0;
	}
	.rai-it .row.network ul li {
		line-height: 30px;
	}
	.rai-it .row.network ul li a {
		font-size: 0.875rem; 
	}
	.searchAZCont { margin-top: 40px; }
    .searchAZCont input { width: calc(100% - 40px) !important; }
}
/***CSS PER NUOVA BARRA***/
body {
    padding-top: 80px;
}
body.iframe{
	padding:0;
}
body.iframe .Player{
	margin-bottom:0;
}
/*div#menuDedicato:after {
    transition: all 400ms ease;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 115px;
    height: 50px;
    display: block;
    text-align: center;
    top: 19px;
    background-image: url("/dl/components/img/nuovoLogoRaiPlayTrasparent.png");
    }*/
header .opened + div#menuDedicato:after{
    top: 99px
}
#site-menu .menuTitle {
    /* visibility: hidden; */
}
.mainMenuContainer ul {
    /*background: -moz-linear-gradient(to right,  rgb(37, 61, 90) 0%,rgb(45, 68, 95) 20%,rgba(60, 72, 86, 0.29) 100%) !important;
    background: -webkit-linear-gradient(to right,  rgb(37, 61, 90) 0%,rgb(45, 68, 95) 20%,rgba(60, 72, 86, 0.29) 100%) !important;
    background: linear-gradient(to right,  rgb(37, 61, 90) 0%,rgb(45, 68, 95) 20%,rgba(60, 72, 86, 0.29) 100%) !important;*/
    background: #202e36 !important;
}

.mainMenuContainer .closeMainMenu{
    /*background: -moz-linear-gradient(to right,  rgb(37, 61, 90) 0%,rgb(45, 68, 95) 20%,rgba(60, 72, 86, 0.29) 100%) !important;
    background: -webkit-linear-gradient(to right,  rgb(37, 61, 90) 0%,rgb(45, 68, 95) 20%,rgba(60, 72, 86, 0.29) 100%) !important;
    background: linear-gradient(to right,  rgb(37, 61, 90) 0%,rgb(45, 68, 95) 20%,rgba(60, 72, 86, 0.29) 100%) !important;*/
    background: #202e36 !important;
}

/**CSS RAI.IT e euro2016**/
body.rai-it, body.cbp-spmenu-push {
    padding-top: 0;
}

.rai-it div#iubenda-cs-banner {
    padding-bottom: 0;
    margin-top: 0;
}
.rai-it div#iubenda-cs-banner .iubenda-cs-rationale {
	padding: 1.250rem 3.50rem 1.250rem  1.250rem;
}
.rai-it div#iubenda-cs-banner .iubenda-cs-close-btn {
	top: 10px; 
	right: 10px;
}

div#iubenda-cs-banner {
    padding-bottom: 80px;
    margin-top: -80px;
}
/*pagina puntate*/
.puntate #mainContainer{
	max-width: 60rem;
	margin-bottom: 4rem;
}
.puntate .mainTitle h1{
	color:#ffffff;
	font-weight:100;
	font-size: 3.125rem;
	text-align:center;
	margin: 2.5rem auto 3.75rem;
}
.puntate .puntateItem{
    position: relative;
}
.puntate .puntateItem .info{
    margin-right: 0.6875rem;
}
.puntate .puntateItem .favourites{
	width: 1.75rem;
    margin-right: 0.6875rem;
}
.puntate .puntateItem .favourites .st0,
.puntate .puntateItem .favourites use {
	stroke: #666666;
	fill: #666666;
}
.puntate .puntateItem .info .description, .puntate .puntateItem .info .titolo{
	-webkit-line-clamp: 1;
}
.puntate .puntateItem .info .titolo{
	overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    max-height: 23px;
    margin-top: -5px;
}
/*pagina puntate*/

.homepagedirette .info {
    position: relative;
    margin-bottom: 80px;
    margin-top: -4px;
}

.homepagedirette .info .loghetto {
    display: none;
}

.homepagedirette .loghetto.logoOtherOut {
    position: initial;
    padding: 0;
    margin-left: -5px;
    margin-bottom: 15px;
}

.homepagedirette .loghetto.logoOtherOut svg {
	height: 100%;
	margin: 0;
}

.homepagedirette .progresso {
    z-index: 999;
    max-width: 100%;
    width: 100%;
    margin: 0;
}

.homepagedirette .info .titolo {
    color: #fff;
    font-weight: normal;
    margin: 20px 5px 15px;
    font-size: 1.125rem;
}

.homepagedirette .info .time,
.homepagedirette .info .description,
.homepagedirette .info .next,
.homepagedirette .info .next-time {
    color: #979da0;
    font-size: .9rem;
    margin: 0 5px;
}

.homepagedirette .info .next {
    margin-top: 20px;
    font-size: 1rem;
}

.homepagedirette .img {
    overflow: hidden;
}

.homepagedirette img { margin: auto; max-width: none; }

.homepagedirette img {
    margin: 0;
    display: block;
    z-index: 0;
    width: 100%;
    transform: scale(1.05);
}

/* PLR PROGRAMMA *//* PLR PROGRAMMA */
.plr-programma .wrapper {
    position: relative;
    top: -80px;
    margin-bottom: -80px;
    padding: 80px 0 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 100vh;
}
.plr-programma .wrapper .row {
	margin-left: 0;
	margin-right: 0;
}
.plr-programma .wrapper .mask {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /*
    -webkit-transition: background 1;
	-moz-transition: background 1;
	transition: background 1s;
	*/
}
.plr-programma .wrapper .mask.matt {
    background: rgba(20,35,42,0.8);
}
.plr-programma .wrapper > .row {
    position: relative;
    z-index: 1;
}
.plr-programma .wrapper .program-title {
	color: #fff;
	text-align: center;
	font-weight: 200;
    font-size: 2.25rem;
    line-height: 2.25rem;
}
.plr-programma .wrapper .program-nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 30vh;
}
.plr-programma .wrapper .program-nav.liquid {
    min-height: initial;
}
.plr-programma .wrapper .program-nav ul {
    margin: 0;
    list-style: none;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.plr-programma .wrapper .program-nav ul a,
.plr-programma .wrapper .program-nav ul li.opened > a.active,
.plr-programma .wrapper .program-nav ul li.opened > a:hover {
    color: #7b8588 !important;
    display: block;
    padding: 0.5rem 0;
}
.plr-programma .wrapper .program-nav ul a.active,
.plr-programma .wrapper .program-nav ul a:hover {
    color: #fff !important;
}
.plr-programma .wrapper .program-nav ul li ul {
    display: none;
    margin-left: 1.25rem;
    font-size: 1.125rem;
}
.plr-programma .wrapper .program-nav ul li ul a {
    padding: 0.25rem 0;
}
.plr-programma .wrapper .program-nav ul li.opened ul {
    display: block;
}
.plr-programma .wrapper a.singleVodUrl {
    display: block;
    width: 100%;
    height: 40vh;
    background: url(/dl/components/img/play-movie-icon.png) center / 80px no-repeat transparent;
    text-indent: -10000px;
}
.plr-programma .wrapper .scroll-down {
    height: 60px;
    width: 33px;
    margin: 0 auto 2rem;
    position: relative
}
.plr-programma .wrapper .scroll-down img {
    height: 30px;
    width: 33px;
    position: absolute;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.6 ease;
   	-moz-transition: all 0.6 ease;
   	transition: all 0.6s ease;
}
.plr-programma .wrapper .scroll-down img.loaded {
    top: 30px;
    opacity: 1;
    cursor: pointer;
}
.plr-programma .wrapper .scroll-down img.scrolled {
    opacity: 0;
    cursor: default !important;
}
.plr-programma .wrapper article {
    color: #fff;
}
.plr-programma .wrapper article .website {
    background: transparent;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 5px;
    font-size: 0.8125rem;
    font-weight: bold;
}
.plr-programma .wrapper article ul.movie-info {
    list-style: none;
    margin: 0 0 0.5rem;
    font-size: 1rem;
}
.plr-programma .wrapper article ul.movie-info li {
    display: inline-block;
    margin-right: 1.125rem;
}
.plr-programma .wrapper article .description {
    margin-bottom: 1rem;
    font-size: 1rem
}
.plr-programma .wrapper article .info {
    margin: 0;
    list-style: none;
    font-size: 1rem
}
.plr-programma .wrapper article .info strong {
    display: inline-block;
    margin-right: 5px;
}
.plr-programma .wrapper .useraction .watchlater-button {
	display: none !important;
}
.plr-programma .wrapper .row .title .title-border-bottom {
    margin: 0;
    color: #fff;
    font-size: 2rem;
    line-height: 2.25rem;
}
.plr-programma .wrapper .row .title .title-border-bottom:after {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    margin: 2.5rem auto 0;
    background: #485459;
}
.plr-programma .wrapper #slickContainer {
	padding: 2rem 0;
}
.plr-programma .wrapper #slickContainer .h6 {
    color: #fff;
    margin: 0 0 2.5rem 0;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.25rem;
    text-align: center;
}
.plr-programma .wrapper #slickContainer .h6:after {
	content: '';
    display: block;
    width: 60px;
    height: 1px;
    margin: 2.5rem auto 0;
    background: #485459;
}
.plr-programma .wrapper .slick-row .slick-slide {
    height: auto !important;
}
.plr-programma .wrapper .slick-row .slick-slide a .img:after {
	display: none;
}
.plr-programma .wrapper .slick-row .slick-slide a .info,
.plr-programma .wrapper .list-row .puntateItem a .info {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 6px 10px;
    z-index: 10;
}
.plr-programma .wrapper .slick-row .slick-slide a .info .label-invisible {
    display: none;
}
.plr-programma .wrapper .slick-row .slick-slide a .info .titolo,
.plr-programma .wrapper .list-row .puntateItem a .info .titolo {
    margin: 3px 0;
    font-weight: 600;
    font-size: 0.925rem;
    color: #fff;
}
.plr-programma .wrapper .slick-row .slick-slide a .info .description,
.plr-programma .wrapper .list-row .puntateItem a .info .description {
    font-size: 12px;
    color: rgba(255,255,255,0.75);    
}

.slick-row .slick-slide.linkToSet a.link {
    vertical-align: middle;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: -webkit-center;
    color: #fff;
    font-size: 18px;
    background: #29A2FF;
    line-height: 330px;
}
.slick-row .slick-slide.linkToSet a.link:after {
    content: "";
    background:url('/dl/components/img/infografica/right-arrow-white.png');
    width: 23px;
    height: 23px;
    display: inline-block;
    margin-left: 0.5rem;
    top: 0.4rem;
    position: relative;
    background-size: 23px 23px;
    background-repeat: no-repeat;
}
.plr-programma .wrapper .list-row {
    margin: 1.5rem 0;
}
.plr-programma .wrapper .list-row .puntateItem {
    margin-bottom: 2.25rem;
}
.plr-programma .wrapper .list-row .puntateItem a {
    position: relative;
    display: block;
    width: 100%;
    min-height: 100px;
}
.plr-programma .wrapper .list-row .puntateItem a .img {
    position: relative;
}
.plr-programma .wrapper .list-row .puntateItem a .img:before {
    content: "";
    background-size: cover;
    display: block;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(24,56,88,0) 59%, rgba(20,35,42,0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(24,56,88,0) 59%,rgba(20,35,42,0.8) 100%);
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(24,56,88,0) 59%,rgba(20,35,42,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#cc14232a',GradientType=0 );
}
.plr-programma .wrapper .list-row .puntateItem a .img img {
	width: 100%;
	display: none;
}
.plr-programma .wrapper #slickContainer .slick-slide a .img:before {
	content: "";
    background-size: cover;
    display: block;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
	background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(24,56,88,0) 59%, rgba(20,35,42,0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(24,56,88,0) 59%,rgba(20,35,42,0.8) 100%);
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(24,56,88,0) 59%,rgba(20,35,42,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#cc14232a',GradientType=0 );
}

.plr-programma .wrapper #slickContainer .slick-slide a .duration,
.plr-programma .wrapper #slickContainer .slick-slide a .info .description {
	display: none;
}
.useraction {
	margin: 2rem 0;
}
.useraction a {
    display: inline-block;
    text-align: center;
    font-size: 0.75rem;
    color: #7c8589;
    margin-right: 2rem;
}
.useraction a:last-of-type{
	margin-right:0;
}
.useraction a span {
	display: block;
	width: 36px;
	height: 40px;
	margin: 0 auto;
}
.useraction span svg .st0,
.useraction span svg use {		
    fill: #7c8688;		
    stroke: transparent;		
}
.useraction a.active {
	color: #009ff9;
}
.useraction a.active span {
	background-position: center -30px;
}
#socialShareCont {
    margin: 2rem 0;
}
#socialShareCont a {
    display: inline-block;
    text-align: center;
    font-size: 0.75rem;
    color: #7c8589;
}
#socialShareCont a {
    margin-left: 2rem;
}
#socialShareCont a svg {
    display: block;
    margin: 0 auto 5px;
    width: 30px;
    height: 30px;
}
#actionButtons a.active svg path,
#actionButtons a.active svg use {
    fill: rgb(41, 162, 255);
}
@media screen and (min-width: 40em) {
	#socialShareCont .shareButtons {
		display: block !important;
	}
}
@media screen and (max-width: 40em) {
	.raiPlayVideoFoto .row .row{
		margin-left: 0.9375rem;
		margin-right: 0.9375rem;
	}
	
    .plr-programma .wrapper .program-nav {
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
    }
    .plr-programma .wrapper .program-nav ul li ul {
        margin-left: 0.725rem;
        font-size: 1.075rem;
        line-height: 2.225rem;
    }
    .plr-programma .wrapper article h1 {
        font-size: 1.925rem;
    }
	.useraction {
		margin: 2.313rem 0 !important;
	}
	.plr-programma .useraction {
		margin: 2rem 0 !important;
	}
    #socialShareCont {
        position: relative;
    }
    #socialShareCont a.showShareButtons {
        position: relative;
        padding: 45px 10px 10px;
        margin: -10px -10px 0 0;
        border-radius: 0 5px 5px 0;
        -webkit-transition: background 0.3;
    	-moz-transition: background 0.3;
    	transition: background 0.3s;
    }
    #socialShareCont a.showShareButtons.active {
        background: #202e36;
    }
    #socialShareCont a.showShareButtons svg {
        height: 40px;
        width: 50px;
        position: absolute;
        top: 4px;
    }
    #socialShareCont a.showShareButtons svg * {
        fill: #70797d;
        stroke: transparent;
    }
    #socialShareCont .shareButtons {
        display: none;
        white-space: nowrap;
        position: absolute;
        top: -10px;
        right: 62px;
        background: #202e36;
        border-radius: 5px 0 0 5px;
    }
    #socialShareCont .shareButtons a {
        margin: 10px 12px;
    }
}

body.rai-it .columns.line { display: none; }

body.rai-it .direttaRadio .loghetto {
    height: auto;
    padding: 8px;
    width: 53px;
    top: -76px;
}

/* FABRIZIO */
.row.network {
    margin:0;
    padding:0;
    text-align: left;
}

.row.network li {
    list-style: none;
}

.row.network li a{
    color:#7c8589;
}

/* Feed esterno nuovo */
.feed-esterno .columns {
    padding: 0;
}
.feed-esterno .feed-slick {
	display: none;
    margin: 0 20px 30px;
}
.feed-esterno .articolo {
    position: relative;
    width: calc(25vw - 10px);
    padding: 10px;
}
.feed-esterno .articolo.size-6 {
    width: calc(50vw - 20px);
}
.feed-esterno .articolo.size-12 {
    width: calc(100vw - 40px);
}
    
.feed-esterno .articolo .img {
    position: relative;
}
.feed-esterno .articolo .img:before {
    content: "";
    background: url('http://rai.it/dl/components/img/shadow-up.png');
    background-size: cover;
    display: block;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
}
.feed-esterno .articolo .pubDate {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    font-size: .8rem;
    z-index: 99;
}
.feed-esterno .articolo .pubDate:before {
    content: url('http://rai.it/dl/components/img/ico-hour.png');
    padding-right: .3rem;
    display: block;
    float: left;
    margin: 0.25rem 0.1rem;
}
.feed-esterno .articolo .info {
    position: relative;
}
.feed-esterno .articolo .info .label {
    position: absolute;
    top: -.6rem;
    line-height: .6rem;
    font-size: .6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: #7c8589;
}
.feed-esterno .articolo .info .titolo {
    padding: 1rem 0;
    font-weight: bold;
    line-height: 1.2;
    color: #4b4b4b;
}
.feed-esterno .articolo .info .description {
    max-height: 6rem;
    font-size: .8rem;
    line-height: 1rem;
    font-weight: 500;
    color: #7c8589;
    overflow-y: hidden;
}
.feed-esterno .slick-disabled {
    display: none !important;
    z-index: -1;
}
.feed-esterno .slick-prev {
    left: -20px;
}
.feed-esterno .slick-next {
    right: -20px;
}
.feed-esterno .slick-dots {
    margin: 0;
}
.feed-esterno .slick-dots li button:before {
    content: '';
    width: 6px;
    height: 6px;
    left: 50%;
    top: 50%;
    margin: -3px;
    background: #c0c0c0;
    border-radius: 50%;
}
.feed-esterno .slick-dots li.slick-active button:before {
    width: 10px;
    height: 10px;
    margin: -5px;
    border: 2px solid #297dff;
    background: #fff !important;
}
@media screen and (min-width: 40em) {
	.feed-esterno .feed-slick {
	    margin-bottom: 0;
	}
    .feed-esterno .articolo.size-6 .img:before,
    .feed-esterno .articolo.size-12 .img:before {
        background: linear-gradient(rgba(30, 87, 153, 0) 0%, rgba(24, 56, 88, 0) 59%, rgba(20, 35, 42, 0.8) 100%) 0% 0% / cover;
    }
    .feed-esterno .articolo.size-6 .info,
    .feed-esterno .articolo.size-12 .info {
        position: absolute;
        bottom: 24px;
        left: 25px;
        width: calc(100% - 50px);
        z-index: 10;
    }
    .feed-esterno .articolo.size-6 .info .label,
    .feed-esterno .articolo.size-12 .info .label {
        position: relative;
    }
    .feed-esterno .articolo.size-6 .info .titolo,
    .feed-esterno .articolo.size-12 .info .titolo {
        width: 80%;
        padding: 0;
        color: #fff;
    }
    .feed-esterno .articolo.size-6 .info .titolo {
        font-weight: 600;
        font-size: 1.125rem;
    }
    .feed-esterno .articolo.size-12 .info .titolo {
        font-weight: 800;
        font-size: 2.5rem
    }
    .feed-esterno .articolo.size-6 .info .description {
        display: none;
    }
    .feed-esterno .articolo.size-12 .info .description {
        width: 80%;
        margin-top: 10px;
        font-size: 0.9375rem
        line-height: 1.375rem;
        color: #fff;
    }
    .feed-esterno .slick-dots {
        position: absolute;
        top: -30px;
        right: 5px;
        width: auto;
        height: 20px;
    }
}