.raisso-container { background: #212f36; }
.raisso-container > .row { padding: 0 !important; }
#raissoBox { position: relative; }
#raissoBox .raissoClose { position: absolute; top: 20px; right: 10px; width: 23px; height: 23px; font-size: 40px; line-height: 20px; text-align: center; color: #7c8589; cursor: pointer; }
#raissoBox .row.no-padding{ padding-top: 0 !important; padding-bottom: 0 !important; }
#raissoBox form * { -webkit-appearance:none; }
#raissoBox form .h4,
#raissoBox .step .h4 { margin: 50px 0 10px; font-size: 28px; text-align: center; color: #fff; }
#raissoBox form p { font-size: 14px; color: #fff; }
#raissoBox form p.separator { text-align: center; font-size: 12px; color: #7c8589; line-height: 40px; }
#raissoBox form a:not(.button) { display: inline-block; margin-right: 5px; font-size: 12px; color: #7c8589; }
#raissoBox form label { height: 15px; font-size: 12px; line-height: 12px; color: #7c8589; }
#raissoBox form label.checkbox-label,
#raissoBox form label.radio-label { height: auto; line-height: 16px; margin: 0; } 
#raissoBox form label.checkbox-label span,
#raissoBox form label.radio-label span { display: block; float: left; height: 20px; width: 20px; margin: -2px 5px 5px 0; background-image: url(http://rai.it/dl/components/img/form_sprite.png); background-size: auto 40px; background-repeat: no-repeat; cursor: pointer; } 
#raissoBox form input[type=text], 
#raissoBox form input[type=password] { height: 40px; line-height: 40px; color: #fff; font-size: 14px; background: #38444a; border: none; border-radius: 5px; }
#raissoBox form input[type=text]:focus, #raissoBox input[type=password]:focus { box-shadow: 0 0 5px rgba(0,0,0,0.5); }
#raissoBox form input[type=checkbox],
#raissoBox form input[type=radio] { position: absolute; height: 20px; width: 20px; margin: -2px 0 0; background: transparent; cursor: pointer; }
#raissoBox form input[type="checkbox"] + label span { background-position: 0 0; }
#raissoBox form input[type="checkbox"]:checked + label span { background-position: 0 -20px; }
#raissoBox form input[type="radio"] + label span { background-position: 20px 0; }
#raissoBox form input[type="radio"]:checked + label span { background-position: 20px -20px; }
#raissoBox form input[type=submit],
#raissoBox form a.btn-facebook,
#raissoBox form a.btn-twitter { display: block; width: 100%; height: 40px; padding: 0; line-height: 40px; text-align: center; font-size: 14px; border: none; border-radius: 5px; }
#raissoBox form input[type=submit] { background: rgba(0,160,250,1); }
#raissoBox form input[type=submit]:hover { background: rgba(0,160,250,0.8); }
#raissoBox form a.btn-facebook { background: rgba(59,87,157,1); }
#raissoBox form a.btn-facebook:hover { background: rgba(59,87,157,0.8); }
#raissoBox form a.btn-twitter { background: rgba(101,170,237,1); }
#raissoBox form a.btn-twitter:hover { background: rgba(101,170,237,0.8); }
#raissoBox .step.loading { padding: 60px 0; }
#raissoBox .step.loading img { width: 50px; -webkit-animation:spin 4s linear infinite; -moz-animation:spin 4s linear infinite; animation:spin 4s linear infinite;}
#raissoBox .step.loading .h3 { margin-top: 16px; font-size: 12px; text-transform: uppercase; font-weight: 600; color: #7c8589; }
#raissoBox .step p { margin: 20px 0; color:#7c8589 }
#raissoBox .step p a { color:#7c8589; text-decoration: underline; }
#raissoBox .step p a:hover { color:#fff }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@media only screen and (min-width: 40.063em){
    #raissoBox .columns.bordered { border-left: 1px solid #344047; }    
}
.user-logged-item {
	height: 40px;
	margin: 10px 0;
}

.user-logged-item .info {
    width: 50%;
    color: #fff;
    float: left;
    margin: 7px 0;
}

.user-logged-item img.avatar {
    margin-left: 2.188rem;
    width: 1.688rem;
    height: 1.688rem;
    border-radius: 50%;
}

.user-logged-item .name {
    margin-left: 0.9375rem;
    color: #b2bcbf;
}

.user-logged-item a.profile, .user-logged-item a.logout {
    width: auto;
    display: inline-block;
    padding: 0 10px;
    line-height: 26px;
    margin-left: 5px;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
}

.user-logged-item .actions {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 15px;
    height: 26px;
    margin: 7px 0;
}

.user-logged-item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
@media only screen and (max-width: 40.063em){
    #raissoBox .columns.bordered { margin-top: 20px; padding-top: 20px; border-top: 1px solid #344047; }
    .user-logged-item img.avatar{margin-left:0.9375rem;}
    .mainMenuContainer ul li a.profile, .mainMenuContainer ul li a.logout{padding:0 10px!important;}
    .user-logged-item .name {margin-left:0.75rem;}
}