/*Start new one page mobile section*/

/*MENU*/

.mobile_submenu {
    position: relative;
    background: #bf0030 url("../img/megamenu.jpg") no-repeat center;
    background-size: cover;
}

.mobile_submenu .hgroup {
    position: absolute;
    top: 50px;
    left: 60px;
    width: 480px;
}

.mobile_submenu h1 {
    color: #fff;
    font-size: 32px;
    line-height: 42px;
}

.mobile_submenu h1 img {
    position: relative;
    top: 10px;
    margin: 0 10px;
    width: 140px;
}

.mobile_container.wrapper {
    padding-bottom: 0;
}

.mobile_container #side {
    position: relative;
    z-index: 99;
    height: 46px;
}

.mobile_container .relative {
    position: relative;
}

.mobile_container .download_table {
    font-size: 16px;
    color: #5d5d5d;
}

.mobile_container p {
    color: #5d5d5d;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 24px;
}

.mobile_container .section_divider{
    display:block;
    height:3px;
    width: 100%;
    background: radial-gradient(circle, #b2b2b2 0%, #ffffff 80%);
    clear: both;
}

.mobile_container .overview_section {
    position: relative;
    height: 400px;
    background: #bf0030 url("../img/sport_bckgr.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

.mobile_container .overview_section p {
    margin-bottom: 45px;
    color: #fff;
}

.mobile_container .overview_section .hgroup {
    padding-top: 20px;
    text-align: center;
}

.mobile_container .overview_section .hgroup h1 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
}

.mobile_container .overview_section .arrow-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -26px;
    cursor: pointer;
}

.mobile_container .overview_section div {
    text-align: center;
}

.mobile_container .overview_section .header-image {
    position: relative;
    left: 61px;
}

.mobile_container .overview_section .header-block {
    display: inline-block;
    margin: 25px;
    width: 25%;
}

.mobile_container .overview_section .header-block-right {
    text-align: left;
    margin-left: 0px;
}

.mobile_container .overview_section .header-block img{
    margin: 0px auto;
    vertical-align: middle;
}

.mobile_container .betting_overview {
    padding-top: 70px;
}

.mobile_container .casino_section .betting_overview {
    height: 550px;
}

.mobile_container .betting_overview .betting_information {
    width: 450px;
}

.mobile_container .betting_overview h2 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 28px;
}

.mobile_container .betting_overview table {
    margin: 15px 0;
}

.mobile_container .betting_overview table td {
    padding: 5px 10px 5px 0;
}

.mobile_container .betting_overview table td img {
    cursor: pointer;
}

.mobile_container .android_overview {
    padding-top: 25px;
}

.mobile_container .android_overview .android_information, .mobile_container .android_overview .casino_android_information  {
    text-align: center;
}

.mobile_container .android_overview .android_information h2, .mobile_container .android_overview .casino_android_information h2 {
    margin-bottom: 5px;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 28px;
}

.mobile_container .android_overview .android_information img, .mobile_container .android_overview .casino_android_information img {
    width: 62px;
    height: 62px;
}

.mobile_container .android_overview .android_animation {
    margin-top: 25px;
    width: 100%;
}

.mobile_container .android_overview .android_animation p {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: -0.3px;
}

.mobile_container .android_overview .android_animation p.small {
    font-size: 12px;
    text-transform: none;
    line-height: 16px;
}

.mobile_container .android_overview .android_animation img.left {
    margin-left: 65px;
}

.mobile_container .android_overview .android_animation .step_indicator {
    border: 2px solid #a4a4a4;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    color: #a4a4a4;
    margin-bottom: 15px;
    display: inline-block;
    transition: border-color 0.4s linear, color 0.4s linear;
    -ms-transition: border-color 0.4s linear, color 0.4s linear;
    -moz-transition: border-color 0.4s linear, color 0.4s linear;
    -webkit-transition: border-color 0.4s linear, color 0.4s linear;
}

.mobile_container .android_overview .android_animation .step_indicator.active {
    color: #c8102e;
    border: 2px solid #c8102e;
}

.mobile_container .android_overview .android_animation td {
    padding: 15px;
    vertical-align: top;
    position: relative;
}

.mobile_container .android_overview .android_animation td.image_td {
    text-align: center;
    width: 36%;
}

.mobile_container .android_overview .android_animation td.first_column {
    width: 32%;
}

.mobile_container .android_overview .android_animation td.third_column {
    width: 32%;
}

.mobile_container .android_overview .android_animation .step {
    opacity: 0;
    position: relative;
}

.mobile_container .android_overview .android_animation .step.first_step {
    opacity: 1;
}

.mobile_container .android_overview .android_animation .first_step, .mobile_container .android_overview .android_animation .second_step {
    text-align: right;
}

.mobile_container .android_overview .android_animation .first_step > div, .mobile_container .android_overview .android_animation .second_step > div {
    text-align: right;
}

.mobile_container .android_overview .android_animation .first_step_arrow {
    top: -55px;
    right: -75px;
    position: absolute;
}

.mobile_container .android_overview .android_animation .second_step_arrow {
    top: -145px;
    right: -75px;
    position: absolute;
    opacity: 0;
}

.mobile_container .android_overview .android_animation .third_step_arrow {
    top: -50px;
    left: -80px;
    position: absolute;
    opacity: 0;
}

.mobile_container .android_overview .android_animation .fourth_step_arrow {
    top: -105px;
    left: -80px;
    position: absolute;
    opacity: 0;
}

.mobile_container .android_overview .android_animation .show {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
    -ms-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -webkit-transition: opacity 0.8s ease-in-out;
}

.mobile_container .android_overview .android_mailto {
    font-size: 12px;
    text-align: center;
    margin: 10px 0 40px 0;
}

/*.mobile_container .casino_section {*/
    /*background: #ccc url("../img/casino_bckgr.jpg") no-repeat center;*/
    /*background-size: cover;*/
/*}*/

.mobile_container .tippn_section .center_section  {
    position: relative;
    height: 550px;
}

.mobile_container .tippn_section .center_section div.left{
    width: 450px;
}

.mobile_container .casino_section h2, .mobile_container .tippn_section h2 {
    margin-bottom: 15px;
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 28px;
}

.mobile_container .casino_section h3, .mobile_container .tippn_section h3 {
    margin-bottom: 35px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
}

.mobile_container .casino_section div.right, .mobile_container .tippn_section div.right {
    width: 450px;
}

.mobile_container .casino_section div.left p, .mobile_container .tippn_section div.left p {
    margin-bottom: 15px;
}

.mobile_container .casino_section div.left .download_casino p, .mobile_container .tippn_section div.left .download_casino p {
    margin: 0;
}

.mobile_container .casino_section div.left .download_casino img, .mobile_container .tippn_section div.left .download_casino img {
    margin-bottom: 15px;
}

.mobile_container .casino_section .casino_device {
    position: relative;
    top : 50px;
    left: 0;
    width: 367px;
}

.mobile_container .casino_section .android_link {
    display: block;
    margin: 10px 0px;
}

.mobile .casino_section .android_link:hover {
    cursor: pointer;
}

.mobile_container .casino_section .casino_device .darken_layer {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 98%;
    width: 367px;
    z-index: 9;
    opacity: 0;
    background-image: url("../img/mobile-v2/casinodevices_shadow.png");
    border-radius: 45px 45px;
}

.mobile_container .casino_section .casino_device:hover .darken_layer {

    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
}

.mobile_container .casino_section .casino_device .play-video {
    position: absolute;
    top: 50%;
    left: 35%;
    margin-left: -54px;
    margin-top: -54px;
    cursor: pointer;
    z-index: 99;
}

.mobile_container .casino_section .casino_device .play-video:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.mobile_container .anchor_scroller {
    position: fixed;
    right: 120px;
    top: 45%;
    z-index: 99;
}

.mobile_container .anchor_scroller ul li {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.mobile_container .anchor_scroller ul li.active {
    background-color: #dd2a47;
}

.mobile_container .scroll_up {
    cursor: pointer;
    position: fixed;
    right: 100px;
    bottom: 20px;
    display: none;
}

.mobile_container .betting_section {
    overflow: hidden;
    max-height: 490px;
    width: 100%;
}

.mobile_container .casino_section {
    overflow: hidden;
    max-height: 660px;
    width: 100%;
}

.mobile_container #section-tippn{
    max-height: 460px;
    padding-top: 70px;
}

.mobile_container .betting_section.open, .mobile_container .casino_section.open {
    max-height: 2000px;
    transition: max-height 0.4s ease-in-out;
    -ms-transition: max-height 0.4s ease-in-out;
    -moz-transition: max-height 0.4s ease-in-out;
    -webkit-transition: max-height 0.4s ease-in-out;
}

/* SEO text InfoBox */

.mobile_container .seotext_section .info_box {
    color: #848484;;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding : 15px 10px;
}

.mobile_container .seotext_section .winner-icon {
    background: url("../img/mobile-v2/icon_winner.png") no-repeat 10px 17px;
    display: inline-block;
    width: 4%;
}

.mobile_container .seotext_section .info_box_text {
    max-height: 50px;
    color:#666666;
    padding-left: 40px;
    overflow: hidden;
}

.mobile_container .seotext_section .info_box_text p {
    font-size: 11px;
    line-height: 14px;
    text-align: justify;
    padding-right: 20px;
}

.mobile_container .seotext_section .info_box_text p.seoTitle {
    text-transform: capitalize;
    font-weight: bold;
}

.mobile_container .seotext_section a.readmore-js-toggle {
    padding:10px 0 0 30px;
    color:inherit;
    text-align: center;
    display:block;
}

.readmore-open {
    height: 200px;
    overflow-y: scroll !important;
}

.mobile_container .seotext_section .container {
    padding-bottom: 30px;
}
