.left {
  float: left; }

.right {
  float: right; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

#fly_warning_layer_container .responsive-width {
  margin: 0 auto;
  width: 996px; }

#responsive-header {
  background-color: #c8102e;
  z-index: 1000;
  width: 100%;
  font-size: 13px; }

#main-header {
  box-sizing: border-box;
  background-color: #c8102e;
  margin: 0 auto;
  width: 1024px;
  position: relative;
  z-index: 100;
  text-align: center; }
  #main-header .input-container {
    height: 24px;
    border-radius: 5px;
    -webkit-transform: skew(-12.5deg);
    -ms-transform: skew(-12.5deg);
    -moz-transform: skew(-12.5deg);
    -o-transform: skew(-12.5deg);
    transform: skew(-12.5deg);
    background-color: #fff;
    position: relative;
    padding: 3px 5px; }
    #main-header .input-container ::-webkit-input-placeholder {
      color: #ccc; }
    #main-header .input-container :-moz-placeholder {
      color: #ccc;
      opacity: 1; }
    #main-header .input-container ::-moz-placeholder {
      color: #ccc;
      opacity: 1; }
    #main-header .input-container :-ms-input-placeholder {
      color: #ccc; }
  #main-header * {
    box-sizing: border-box; }

.main-header-content, #sub-menu-bar nav {
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  padding: 0px 14px;
  min-width: 768px;
  text-align: center;
  width: 100%; }

#sub-menu-bar nav {
  width: 1024px; }

.main-header-content > div {
  height: 48px; }

#main-search-area {
  padding: 12px 10px 0 10px;
  position: relative;
  width: 199px;
  float: left;
  z-index: 10; }
  #main-search-area .logo-t {
    position: absolute;
    left: 2px;
    top: 0px;
    width: 17px; }
  #main-search-area .main-search {
    position: absolute;
    right: 10px; }
  #main-search-area .input-container {
    margin-left: 10px; }
    #main-search-area .input-container .after-gfx {
      cursor: pointer;
      background: url("/img/responsive-header/search.png") 0 0 no-repeat;
      width: 16px;
      height: 16px;
      position: absolute;
      right: 5px;
      top: 6px;
      -webkit-transform: skew(12.5deg);
      -ms-transform: skew(12.5deg);
      -moz-transform: skew(12.5deg);
      -o-transform: skew(12.5deg);
      transform: skew(12.5deg); }
    #main-search-area .input-container input[type=text], #main-search-area .input-container input[type=password], #main-search-area .input-container input[type=search] {
      width: 67px; }
    #main-search-area .input-container input#searchField {
      width: 60px;
      padding-right: 14px;
      height: 20px;
      border: 0;
      line-height: 20px\9; }
    #main-search-area .input-container input:not([type=submit]):not([type=file]):not([type=image]) {
      -webkit-appearance: none;
      -ms-appearnace: none;
      outline: none;
      box-shadow: none !important;
      border: 0;
      padding: 0;
      -webkit-transform: skew(12.5deg);
      -ms-transform: skew(12.5deg);
      -moz-transform: skew(12.5deg);
      -o-transform: skew(12.5deg);
      transform: skew(12.5deg);
      vertical-align: top;
      height: 20px;
      color: #333;
      padding: 0 5px;
      width: 67px;
      font-size: 10px;
      margin-top: -1px;
      padding-right: 20px; }
      #main-search-area .input-container input:not([type=submit]):not([type=file]):not([type=image]):-webkit-autofill {
        background-color: #fff;
        color: #fff !important; }
  #main-search-area .main-logo {
    position: relative;
    margin-right: 10px;
    top: -4px;
    display: block;
    float: left; }
    #main-search-area .main-logo img {
      height: 30px; }
  #main-search-area #comp-suggestion {
    position: absolute;
    width: 200px;
    left: -5px;
    list-style: none;
    z-index: 60;
    display: block;
    top: 39px;
    background: #fff;
    font-size: 11px;
    -webkit-transform: skew(12.5deg);
    -ms-transform: skew(12.5deg);
    -moz-transform: skew(12.5deg);
    -o-transform: skew(12.5deg);
    transform: skew(12.5deg);
    -moz-box-shadow: inset 0 7px 5px -5px rgba(0, 0, 0, 0.25), 0 2px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 7px 5px -5px rgba(0, 0, 0, 0.25), 0 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 7px 5px -5px rgba(0, 0, 0, 0.25), 0 2px 5px rgba(0, 0, 0, 0.25); }
    #main-search-area #comp-suggestion > li {
      background: #ffffff;
      color: #333333;
      text-transform: uppercase;
      font-size: 10px;
      padding: 1px 7px; }
      #main-search-area #comp-suggestion > li.all_results {
        padding: 0; }
    #main-search-area #comp-suggestion .num {
      padding: 0px 4px;
      border-radius: 10px;
      border: 1px solid #333333;
      float: right;
      line-height: 14px !important; }
    #main-search-area #comp-suggestion a {
      background: #c7c7c7;
      color: #333333;
      display: block;
      padding: 7px;
      text-decoration: none;
      width: 100%;
      border-bottom: 1px solid #fff; }
      #main-search-area #comp-suggestion a > div {
        line-height: 16px; }

#main-menu {
  display: inline;
  text-align: center;
  position: relative; }
  #main-menu > span:last-of-type {
    border-right: 1px solid #961820; }
  #main-menu a.my-account {
    color: #fff;
    outline: none; }
    #main-menu a.my-account .value {
      font-size: 13px; }
  #main-menu .user-section {
    display: inline-block;
    float: right;
    font-size: 0;
    position: relative; }
    #main-menu .user-section .nav-button {
      border-right: 1px solid #961820; }
  #main-menu .nav-button {
    display: inline-block;
    padding: 0 15px;
    height: 48px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-transform: skew(-12.5deg);
    -ms-transform: skew(-12.5deg);
    -moz-transform: skew(-12.5deg);
    -o-transform: skew(-12.5deg);
    transform: skew(-12.5deg);
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    line-height: 48px;
    outline: none;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out; }
    #main-menu .nav-button.important {
      background: #333333; }
      #main-menu .nav-button.important:hover {
        background: #000; }
    #main-menu .nav-button:hover {
      background: #a61127; }
    #main-menu .nav-button span {
      -webkit-transform: skew(12.5deg);
      -ms-transform: skew(12.5deg);
      -moz-transform: skew(12.5deg);
      -o-transform: skew(12.5deg);
      transform: skew(12.5deg);
      display: block; }
  #main-menu > .nav-button {
    padding: 0 15px; }
  #main-menu .credit-balance-wrapper {
    color: #fff;
    padding: 0;
    position: relative; }
    #main-menu .credit-balance-wrapper .nav-button {
      border-right-width: 0;
      -webkit-transform: unset;
      -ms-transform: unset;
      -moz-transform: unset;
      -o-transform: unset;
      transform: unset; }
    #main-menu .credit-balance-wrapper .value {
      padding: 0 7px; }
    #main-menu .credit-balance-wrapper:hover {
      background-color: transparent; }
  #main-menu .credit-balance span {
    -webkit-backface-visibility: hidden; }
  #main-menu .refresh-balance-wrapper {
    bottom: 3px;
    position: absolute;
    right: 8px;
    -webkit-transform: skew(12.5deg);
    -ms-transform: skew(12.5deg);
    -moz-transform: skew(12.5deg);
    -o-transform: skew(12.5deg);
    transform: skew(12.5deg); }
  #main-menu .refresh-balance {
    position: relative;
    margin-left: 5px;
    width: 12px;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -ms-transition: -ms-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out; }
    #main-menu .refresh-balance:hover {
      -webkit-transform: rotate(180deg) skew(0deg);
      -ms-transform: rotate(180deg) skew(0deg);
      transform: rotate(180deg) skew(0deg); }
  #main-menu .login-button {
    position: relative;
    z-index: 100; }
    #main-menu .login-button span {
      -webkit-backface-visibility: hidden; }
  #main-menu .language-button {
    position: relative;
    height: 46px;
    padding: 13px 15px;
    z-index: 16; }
    #main-menu .language-button .new_language-selector-box {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      -webkit-backface-visibility: hidden; }
  #main-menu .login-box {
    background: #fff;
    position: absolute;
    top: 48px;
    border: 1px solid #ccc;
    width: 216px;
    padding: 10px;
    right: 57px;
    z-index: 99; }
    #main-menu .login-box input[type="text"], #main-menu .login-box input[type="password"] {
      -webkit-appearance: none;
      -ms-appearnace: none;
      outline: none;
      box-shadow: none !important;
      border: 1px solid #f2f2f2;
      height: 29px;
      color: #000;
      font-size: 12px;
      padding: 0 7px;
      display: block;
      margin-bottom: 7px;
      width: 100%;
      border-radius: 3px; }
      #main-menu .login-box input[type="text"]:-webkit-autofill, #main-menu .login-box input[type="password"]:-webkit-autofill {
        background-color: #fff;
        color: #fff !important; }
      #main-menu .login-box input[type="text"].placeholder, #main-menu .login-box input[type="password"].placeholder {
        color: #a9a9a9; }
    #main-menu .login-box input[type="submit"] {
      font-family: 'NeoSansStd-Regular', Arial, Helvetica, sans-serif;
      font-weight: bold;
      display: block;
      width: 100%;
      padding: 7px;
      color: #fff;
      background: #08b110;
      border: 0;
      outline: 0;
      height: 29px;
      margin-bottom: 8px;
      cursor: pointer;
      font-size: 13px;
      -webkit-transition: background-color 0.3s ease-out;
      -moz-transition: background-color 0.3s ease-out;
      -o-transition: background-color 0.3s ease-out;
      transition: background-color 0.3s ease-out; }
      #main-menu .login-box input[type="submit"]:hover {
        background: #1f7c09; }
    #main-menu .login-box .login-container a {
      text-align: left;
      font-size: 10px; }
    #main-menu .login-box .login-container p {
      padding-bottom: 0;
      line-height: auto; }
  #main-menu .b_top:before, #main-menu .b_top:after {
    right: 50%;
    left: auto;
    top: auto;
    bottom: -3px;
    position: absolute;
    margin-right: -8px;
    border-bottom-color: #fff;
    border-width: 0 5px 5px;
    -webkit-transform: skew(12.5deg);
    -ms-transform: skew(12.5deg);
    -moz-transform: skew(12.5deg);
    -o-transform: skew(12.5deg);
    transform: skew(12.5deg); }
  #main-menu .b_top.login-button:before, #main-menu .b_top.login-button:after {
    border-width: 0 8px 9px;
    bottom: -1px; }
  #main-menu .my-account {
    padding-top: 8px;
    padding-bottom: 5px;
    line-height: 17px; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #main-menu .b_top.login-button:before, #main-menu .b_top.login-button:after {
    bottom: -2px; } }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #main-menu .login-button {
    top: -1px; } }

#sub-menu-bar {
  background-color: #b7b7b7;
  color: #525252;
  list-style: none;
  display: inline-block;
  font-size: 12px;
  padding: 5px 0;
  box-sizing: border-box;
  width: 100%; }
  #sub-menu-bar .date {
    padding-left: 10px; }
    #sub-menu-bar .date .day {
      padding-right: 7px; }
  #sub-menu-bar li {
    float: left;
    vertical-align: baseline;
    list-style: none; }
    #sub-menu-bar li a {
      display: inline-block;
      padding: 0 10px;
      text-decoration: none;
      color: #474747;
      -webkit-transition: color 0.3s ease-out;
      -moz-transition: color 0.3s ease-out;
      -o-transition: color 0.3s ease-out;
      transition: color 0.3s ease-out; }
      #sub-menu-bar li a:hover {
        color: #000; }
  #sub-menu-bar .user-info {
    padding: 0 10px;
    text-decoration: none;
    color: #474747; }
    #sub-menu-bar .user-info span {
      color: #000; }

.responsive-header-casino #sub-menu-bar #sub_nav_time {
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-right: 1px solid #666666; }
