/** Style guide CSS for tipico component goes here **/

.CTAButton {
    display:block;
    padding: 20px;
    border-radius: 3px;
    background-color: #08b110;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    margin: 20px;
    line-height: 0;
}

.CTAButton:hover {
    background-color: #03953f;
}
