@charset "UTF-8";
/* CSS Document */

.fixed {
    position: fixed;
    top: 0px;
}
.zone-user-wrapper#zone-user-wrapper/*, .zone-user#zone-user*/{background-color: #eee;border:none!important;height: 42px;}

/*.responsive-layout-wide .zone-branding-wrapper .logo-img, .responsive-layout-narrow .zone-branding-wrapper .logo-img,.responsive-layout-normal .zone-branding-wrapper .logo-img {padding-top: 5px!important;}*/
.zone-branding-wrapper .logo-img img, .login-block#block-block-1 ul#int {vertical-align: middle}

.zone-branding-wrapper {border-bottom: 1px solid #ccc !important;height:70px; z-index: 502;background-color:#fff; width:100%}

.login-block#block-block-1 ul li a {color: #333;font-family: 'Gibson-Light';font-size: 8pt;}

.login-block#block-block-1 .content {padding: 0px;}

#block-block-1 .target .container .forgot {padding: 0px;margin: 0px;font-size: 12px;}

#block-block-1.login-block ul li a.members {font-family: 'Gibson-Regular';font-size: 12px;color: #00AF66;}

#int ul {top: 20px!important}



/* Advertiser Prequal */

.page-node-644 label {
	display: inline-block;
	margin-right: 1em;
	text-align: right;
	width: 270px;
}
.page-node-644 .form-item .description {
	text-aligh: left!important;
	margin-left: 290px
}
.page-node-644 label.option {
	text-align: left;
	width: auto;
}

.page-node-644 .webform-component-fieldset .fieldset-legend {
	line-height: 60px;
}



/* Landing Page with Sidebar */

.page-node-630 .lnd-bg {
	margin-top: 0px!important
}

body.page-node-165 .sharethis-buttons, body.page-node-137 .sharethis-buttons, body.page-node-137 .print-page {
	display: none;
}
#node-page-165 {
	font-size: 12px;
	color: #333333;
}

/* Responsive */

.responsive-layout-mobile #zone-user-wrapper.zone-user-wrapper {display:none}

/*adjust menu for narrow */
.responsive-layout-narrow #block-system-main-menu ul.menu li a, .responsive-layout-narrow #block-system-main-menu ul.menu li span {padding-right: 10px}