@charset "UTF-8";

/* CJ US */
/* June 11, 2015 SEK */

/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

body {
	font-size: 14px;
	background-color: transparent;
	text-shadow: none;
}


.frontfixed-item.item1 img, .frontfixed-item.item2 img {
	display: block
}
sup {
	top: -0.5em;
}
sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}
.text-lowercase {
	text-transform: lowercase
}
.text-uppercase {
	text-transform: uppercase
}
.text-capitalize {
	text-transform: capitalize
}
.hide {
	display: none
}

/**************BLUE TABS***************/

.disabled {
	-webkit-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(252, 223, 107, 1);
	box-shadow: inset 0px 1px 0px 0px rgba(252, 223, 107, 1);
	border: solid #a9a9ab 1px;
	background: #a9a9ab; /* Old browsers */
	display: none!important;
}
.rotate {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);

/* Internet Explorer */
-ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* Landing Page Block Styling */

.landing-page .top-block h1 {
	padding-top: 40px
}
.top-block h1 {
	font-size: 42px;
	line-height: 1em;/*color: #00af66;text-transform: uppercase;
	font-family: 'Gibson-SemiBold'!important;*/}
/* .landing-page h4 {text-transform: uppercase;}*/
	
.landing-page h2, h2 {
	font-family: 'Gibson-Light';
	font-size: 36px;
}
.landing-page h3, h3 {
	font-family: 'Gibson-Regular';
	font-size: 22px;
}
.landing-page h4, h4 {
	font-family: 'Gibson-Regular';
	font-size: 18px
}
.landing-page p {
	font-size: 18px;
	line-height: 30px
}
.green-block a, .green-block a:visited, .black-block a, .black-block a:visited, .white-block a, .white-block a:visited, .teal-block a, .teal-block a:visited, .grey-block a, .grey-block a:visited {
	text-decoration: none;
	font-family: 'Gibson-Light';
}
/* color fonts .green-block, .black-block p, .black-block li, .black-block h3, .top-block h3, .green-block h2, .black-block h2, .black-block h4, .green-block a, .green-block a:visited, .black-block a, .black-block a:visited {color: #fff!important}
.white-block p, .white-block h4, .white-block h2, .white-block h2.block-title, .teal-block, .white-block a, .white-block a:visited, .teal-block a, .teal-block a:visited {color:#101820}
.grey-block h2, .grey-block h3 {color: #00af66}*/


/* black bg with green text */
.black-block h2.rules, .black-block h2 span.rules {
	border-top: 1px solid #00af66;
	border-bottom: 1px solid #00af66;
	padding: 10px 0px;
	color: #00af66!important;
	width: auto;
}
h2.rules, h2 .boxed, h2 span.boxed, h2 span.rules {
	font-family: 'Gibson-Regular';
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center
}
/* black & green bg with white text */
.black-block .boxed, .green-block .boxed {
	border: 1px solid #fff;
	color: #fff!important;
}
.white-block h3 .panel, .grey-block h3 .panel, .panel h3 {
	color: #00af66;
	font-size: 18pt;
	font-family: 'Gibson-SemiBold';
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
}
/* white bg with green text */
.white-block span.boxed {
	border: 1px solid #00AF66;
	color: #00AF66!important;
}
.boxed {
	padding: 10px;
	line-height: 35px;
}
ul.ulGreenChks li {
	font-family: 'Gibson-Light';
	font-size: 22px;
	list-style:none;
}
/* Numbered list - inside a circle  */

.rounded-list #number {
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
 *padding: .4em;
	margin: .5em 0;
	text-decoration: none;
	border-radius: .3em;
}
.rounded-list #number:hover:before {
}
.rounded-list #number:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -.9em;
	background: none;
	height: 1.5em;
	width: 1.5em;
	line-height: 1.5em;
	text-align: center;
	border-radius: 2em;
	font-family: 'Gibson-Light';
	border: 1px solid white;
	color: #00AF66;
}
ol.rounded-list {
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
 *list-style: decimal; /* Keep using default numbering for IE6/7 */
	font-size: 22px;
	padding-left: 35px;/*text-shadow: 0 1px 0 rgba(102,102,102,.5);*/
}
ol.rounded-list li {
	padding-bottom: 4px;
	color: #FFFFFF;
	font-family: 'Gibson-Light';
	line-height: 1.2em;
	list-style:none;
}
ol.rounded-list li span {
	color: #00af66;
}
/* left border */

ul.border li {
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding-left: 30px;
	margin-bottom: 30px;
	list-style: none;
}
.black-block ul.border li {
	border-left: 4px solid rgb(0, 175, 102);
} /*green*/
.green-block ul.border li {
	border-left: 4px solid rgb(255, 255, 255);
	border-left: 4px solid rgba(255, 255, 255, .3);
} /*white transparent*/
.teal-block ul.border li {
	border-left: 4px solid rgb(255, 255, 255);
} /* white*/
/* end fancy styling */


/* Advertiser Lead Form */

.context-form input[type=submit] {margin-left: -10px}

#webform-component-advertiser-fieldset--contact-info .fieldset-wrapper, #webform-component-advertiser-fieldset--company-info .fieldset-wrapper, #webform-component-advertiser-fieldset--general-marketing-info .fieldset-wrapper {
	border-top: 1px solid #ececec
}
#webform-component-step2--us-fieldset, #webform-component-step2--canada-fieldset {
	clear: both
}
/* stepped form prequal 04-02-14 */

/*#section-content .zone-wrapper, #section-content .zone-content {
padding: 20px;}*/

.selector-container {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #f4f4f4;
}
ul#qual-questions {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul#qual-questions li {
	display: block;
	line-height: normal;
	margin: 0;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #eee;
	padding: 35px 0 45px 0px;
 text-shadow: 0px 1px 0 #fff
}
ul#qual-questions li:first-child {
	border-top: none !important;
}
ul#qual-questions li:last-child {
	border-bottom: none !important;
}
ul#qual-questions li .question {
	font-weight: 800;
	padding-left: 20px;
}
ul#qual-questions li .yes-icon {
	width: 48px;
	height: 48px;
	background: url('/sites/default/files/images/leadform/yes-icon.png') bottom center;
	cursor: pointer !important;
	margin-top: -15px
}
ul#qual-questions li .no-icon {
	width: 48px;
	height: 48px;
	background: url('/sites/default/files/images/leadform/no-icon.png') bottom center;
	margin-top: -15px;
}
ul#qual-questions li .yes-icon:hover, ul#qual-questions li .no-icon:hover {
	background-position: top center;
}
.activate-icon {
	background-position: top center !important;
}
.darken {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 999;
	display: none;
}
div.qual-takeover {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	display: none;
	position: fixed;
	z-index: 999999999;
	width: 650px;
	height: 300px;
	padding: 10px;
	margin-top: -350px;
	top: 50%;
	margin-left: -375px;
	left: 50%;
	background: #fff;
	border: 10px solid #eee;
}
.qual-takeover div.close {
	cursor: pointer !important;
}
/* stepped form 02-05-15 SEK */

/* #section-content .zone-wrapper, #section-content .zone-content {
	padding: 20px;
}*/
.node-unpublished {
	background: none !important
}
ul#step-list {
	/* margin: 10px 0; */
    padding: 0;
    list-style: none;
    /* float: left; */
    width: 100%;
    /* min-height: 65px; */
    /* border-bottom: 1px solid #00AF66; */
    /* display: none; */
    display: table;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; 
	margin-bottom:20px;
}
ul#step-list li {
	width: 25%;
	float: left;
	padding: 10px 0;
	text-align: left;
	color: #ccc;
	list-style:none;
	
}
ul#step-list li#step1 {
	padding-left: 0;
	-webkit-border-radius: 6px 0px 0px 6px;
	border-radius: 6px 0px 0px 6px;
}
ul#step-list li#step2 {
	-webkit-border-radius: 6px 0px 0px 6px;
	border-radius: 6px 0px 0px 6px;
}
ul#step-list li#step3 {
	-webkit-border-radius: 0px 6px 6px 0px;
	border-radius: 0px 6px 6px 0px;
}
ul#step-list li#step4 {
	-webkit-border-radius: 0px 6px 6px 0px;
	border-radius: 0px 6px 6px 0px;
}
ul#step-list li.highlighted {
	color: #00AF66;
	font-weight: bold
}
.markup-sidebar {
	position: absolute !important;
	display: none;
}
.markup-top {
	position: absolute !important;
	display: none;
}
#markup-top-container h2 {
	text-transform: none
}
/* drupal form styles that need to be implemented into marketo */


.webform-client-form, .mktoForm {
	font-size: 14px !important;
	font-family: Arial, Helvetica, sans-serif !important;
}
.mktoForm.mktoHasWidth {
	width: 90%!important;
}
.mktoLayoutLeft label.mktoLabel.mktoHasWidth {
	width: 220px!important;
}
.mktoButtonWrap {
	margin-left: 0px!important;
}
.mktoButtonRow {
	padding-top: 20px!important;
	display: block!important;
}
.mktoForm .mktoGutter {
	width: 20px!important;
}
#webform-component-step0 .webform-client-form div.form-item {
	padding: 3px 0px !important;
	height: 40px;
	position: relative !important;
}
.webform-client-form div.form-item, div.mktoFieldWrap {
	clear: both;
	position: relative;
}
.webform-client-form fieldset, .mktoForm fieldset {
	border: 0 !important;
}
 input:-webkit-input-placeholder {
 color:    #777 !important;
}
input:-moz-placeholder {
 color:    #777 !important;
}
input:-ms-input-placeholder {
 color:    #777 !important;
}
.mktoForm input.mktoTextField, .mktoForm input.mktoNumberField, .mktoForm select {
	border: 1px solid #f8f8f8 !important;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bbb, 0px 1px 0px 0px #ffffff !important;
	box-shadow: inset 0px 1px 0px 0px #bbb, 0px 1px 0px 0px #ffffff !important;
	background: #f1f1f1 !important; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eee 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 100%) !important; /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0 ) !important; /* IE6-9 */
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
	text-shadow: -1px -1px 0px #ffffff !important;
	float: left !important;
	padding: 10px 10px 10px 10px !important;
	outline: 0 !important;
	font: normal 13px/100% Arial, Helvetica, sans-serif !important;
	color: #333 !important;
	margin: 0px !important;
	height: auto !important;/*width: 40% !important;	width: 90% !important;*/
}
.mktoForm fieldset legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

.mktoForm.mktoLayoutLeft {
	float: left;
	width: 10%;
	padding: 10px 0;
	text-align: right;
	font-weight: normal !important
}
.mktoForm fieldset input:hover, .mktoForm fieldset input:focus {
	border: 1px solid #ffffff !important;
}
.mktoForm fieldset input:focus {
	background: #eee !important;
	color: #333 !important
}
.mktoForm fieldset div input.error, .mktoForm fieldset div select.error {
	border: 1px solid #F00 !important;
	background: #FFFFFF url('https://jqueryunique.s3.amazonaws.com/input_repeater_invalid.jpg') left top repeat-x !important;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #ffb3b3), to(#FFFFFF)) !important;
	background: -moz-linear-gradient(top, #FFFFFF, #ffb3b3 1px, #FFFFFF 25px) !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px !important;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px !important;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px !important;
}
inout.form-text {
	padding: 3px 5px !important;
	color: #999
}
.description {
	display: none;
}
/*sidebar content*/



.description {
	position: absolute !important;
	top: 0px;
	right: 0px;
	padding: 20px;
	display: none;
	width: 300px;
	background: #EEE!important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.description:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-right: 26px solid #EEE;
	border-bottom: 13px solid transparent;
	margin-left: -40px;
}
span.field-suffix {
	font-style: oblique;
	line-height: 40px;
	padding-left: 10px;/*position: absolute !important;
top: 00px;
right: 30px;
padding: 20px;
display: none;
width: 150px;
background: #EEE!important;*/
}
/* end marketo form styles */

/****** Buttons ******/


#edit-previous.form-submit {
	margin-right: 10px !important;
}
.button, .form-submit, button, input[type="reset"], input[type="submit"], input[type="button"], .mktoButton {
	width: auto;
	color: #fff!important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 14px;
	font-family: 'Gibson-Regular'!important;
	line-height: 1;
	margin: 0;
	padding: 10px 20px 11px!important;
	position: relative;
	text-align: center;
	text-decoration: none;
	font-weight: normal !important;
	background: #00AF66;
	text-shadow: none;
	letter-spacing: .1em;
	text-transform: uppercase;
}
a .grey, #edit-previous.form-submit {
	width: auto;
	color: #555!important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
	background: #f8f8f8; /* Old browsers */
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 10px 20px 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
}
.button.orange {
	text-decoration: none;
	-webkit-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
	border: solid #ff9900 1px;
	background: #ff9900; /* Old browsers */
}
.button.orange:hover {
	background: #e57e00; /* Old browsers */
}
.button.small {
	font-size: 12px;
	padding: 7px 14px 8px;
}
.button.medium {
	font-size: 14px;
}
.button.large, #webform-client-form-629 .form-submit, .mktoButton {
	font-size: 16px!important;
	padding: 15px 30px 16px!important;
}
.button:active, .form-submit:active, .mktoButton:active {
 cursor:pointer;
}
.button:hover, .form-submit:hover, .form-actions input:hover, .mktoButton:hover {
	background: #49C5B1; /* Old browsers */
	cursor: pointer;
	color: #ffffff!important;
}
a .grey:hover, #edit-previous.form-submit:hover {
	background: #dddddd; /* Old browsers */
}
.circle {
	position: relative;
	border-radius: 50%;
	width: 100%;
	height: auto;
	padding-top: 100%;
	/*background: white;*/
	background-color: none;
	border: 1px solid #FFFFFF;
	padding:10px;
}
.landing-page .circle {
	border-radius: 50%;
	behavior: url(PIE.htc);
	width: 18px;
	height: 18px;
	padding: 4px;
	background: transparent;
	border: 2px solid #FFF;
	color: #00AF66;
	text-align: center;
	font-size: 18px;
	line-height: 19px;
	float: right;
}

.section-footer .circle {width: 15px;
  height: 15px;
  line-height: -1;
  font-size: 20px;
  padding: 5px 10px 15px 10px;
  float: left;
}

#admin-menu {
	text-shadow: 0 0 0;
}
h1, h2, h3, h4, h5, h6, .fieldset-legend, legend, .mktoForm fieldset legend {
	font-family: 'Gibson-Regular';
	letter-spacing: normal;
	font-weight: normal;
	line-height: 1.1em;
}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, .fieldset-legend, legend, .mktoForm fieldset legend {
	letter-spacing: normal;
}
h2, h2.headCentered, h2.manaTeam {
	font-style: normal;
	font-weight: normal;
	padding-bottom: 15px;  /*rm top padding 50px */
	text-decoration: none;
	font-family: 'Gibson-Regular';
	font-size:24px;
}
h2.block-title {
	font-size: 40px;
}
h3, .fieldset-legend, legend, .mktoForm fieldset legend {
	color: #40464D;
	font-size: 22px;
	font-style: normal;
	font-weight: normal;
	padding: 0;
	text-decoration: none;
	margin: 15px 0;
	font-family: 'Gibson-Light';
}
h4 {
}
b, strong {
	font-family: 'Gibson-SemiBold';
	font-weight: normal;
}
em {
	font-family: 'Gibson-LightIt';
	font-weight: normal;
	font-style: normal;
}
/* Top-Right Nav */

#block-block-1 {
	float: right
}
#block-block-1 ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
	padding-top: 35px;
}
#block-block-1 ul li {
	float: left;
	padding: 0 8px;
}
#block-block-1 ul li a {
	color: #444444;
	font-family: 'Gibson-Regular';
	font-size:10pt;
}
#block-block-1 .content {
	/*padding: 38px 0 0 0;*/
	padding: 10px 0 0 0;
}

ul.countries {margin-top:15px}

/* end new */

	
#block-block-1 .fire a {
	color: #98CA3E
}

.fixed {
    position: fixed;
    top: 0px;
}

.zone-branding-wrapper,.zone-menu-wrapper {border-bottom: 1px solid #ccc !important;z-index: 502;background-color:#fff; width:100%}
/*US*/
.zone-branding-wrapper{height:70px}
/*EU*/
.zone-menu-wrapper {}

/* US Login */
.grid-12 .login-block {margin:10px 0}

.login-block#block-block-1 ul li a {color: #333;font-family: 'Gibson-Light';font-size: 8pt;}

.login-block#block-block-1 .content {padding: 0px;}

#block-block-1 .target .container .forgot {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}
#block-block-1.login-block ul li a.members {
    font-family: 'Gibson-Regular';
    font-size: 12px;
	color: #00AF66;}

#int ul {top: 20px!important}


/* US Logo */
.zone-branding-wrapper .region-branding .logo-img img {margin-top: 4px;padding:0px;max-height: 60px;}
.zone-branding-wrapper .logo-img img, .login-block#block-block-1 ul#int {vertical-align: middle}

/* EU Logo */
.zone-user-wrapper .region-branding .logo-img {
  padding-top: 10px;
}
.zone-user-wrapper .logo-img img{max-height: 50px;}

#block-block-1 .target {
	display: none;
	background: #f8f8f8;
	position: absolute;
	top: 40px;
	right: 0;
	width: 490px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px !important;
	border-radius: 8px !important;
	border: 1px solid #eee;
	z-index: 510;
	-webkit-box-shadow: 0px 0px 15px 0px #000000;
	box-shadow: 0px 0px 15px 0px #ccc;
}
#block-block-1 .target .container {
	padding: 15px;
	position: relative
}
#block-block-1 .target .container input.input {
	border: 1px solid #eee;
	padding: 0px 6px;
	width: 175px;
	margin-right: 3px;
}
#block-block-1 .target .container .forgot {
	padding: 0;
	margin: 0;
	font-size: 12px;
}
#block-block-1 .target .container .client-hdr {
	display: block;
	width: 100px;
	padding: 3px 0px;
}
#block-block-1 .target .container .login {
	color: #fff;
	padding: 4px 6px 4px 6px;
	/*width:60px;*/
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px !important;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(171, 213, 255, 1);
	box-shadow: inset 0px 1px 0px 0px rgba(171, 213, 255, 1);
	border: solid #2e89ff 1px;
	display: inline-block; /* IE is so silly */
}
#block-block-1 .target .container .login:hover {
	padding: 4px 6px 4px 6px;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(171, 213, 255, 1);
	box-shadow: inset 0px 1px 0px 0px rgba(171, 213, 255, 1);
	border: solid #2e89ff 1px !important;
}
#block-block-1 .target .container .close_login {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer
}
/* end top-right nav */

/* Top logo, login, menu */

ul#int {
	padding: 0;
	margin: 0;
	padding-top: 1px; /*width:115px !important;*/
}
#int ul {
	list-style-type: none;
	width: 110px !important;
	background: #ffffff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: none;
	margin-left: -19px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	position: absolute;
	text-align: center;
	/*top: 56px;*/
	top: 30px;
	z-index: 999;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
#int ul li {
	clear: both;
	margin: 0
}
#int li#first:hover {
	background-attachment: scroll;
	background-clip: border-box;
	/*background-color: #FFFFFF;*/
	background-image: none;
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
}

#int li a {
	display: inline-block;
}
#int ul li {
	width: 100%;
	text-align: left;
}
#int ul li:hover {
	background: #eee
}
#int li:last-child a {
	margin-right: 0;
}
#block-block-1 ul li a.fcgreen {
	font-family: 'Gibson-SemiBold';
	color: #00AF66;
}
#block-block-1 .forgot a {
	text-decoration: none;
}
/* not using #userbar */
#userbar-links a {
	color: #444444;
	font-family: 'Gibson-SemiBold';
}
#userbar-links a.fcgreen {
	font-family: 'Gibson-SemiBold';
}
#userbar-fbtw {
	float: right;
	background: url('../img/menu-fb-tw.png') 0 0 no-repeat;
	width: 53px;
}
#userbar-fbtw a {
	text-indent: -9999px;
	width: 26px;
	height: 23px;
	text-decoration: none;
	display: block;
	float: left;
}
#userbar-links {
	float: right;
	margin: 0 15px 0 0;
}
#userbar-links a {
	margin: 0 5px;
}
/* end not using */

#zone-user {
/*	height: 87px;
	overflow: visible;*/
	font-size: 14px
}
.menu-region {
	padding-top: 40px
}

#zone-menu {
	max-width: 1600px;
}

/* US Menu */
.grid-9 #block-system-main-menu ul.menu {  float: right; padding-top: 26px;}
/*.grid-9 #block-system-main-menu ul.menu > li {float: right;}*/

.grid-9 #block-system-main-menu ul.menu li ul.menu {
	margin-top: 2px;
	padding-top: 0px;width: 250px;
}

/* EU Menu */

.grid-12 #block-system-main-menu ul.menu li ul.menu {padding-top: 0px;width: 350px;  margin-left: -25px;}
.grid-12 #block-system-main-menu ul.menu li {float: left;}


.sidr ul li:hover > a {color:white}

#block-system-main-menu ul.menu {
	padding-bottom: 0;
	margin-bottom: 0;
	/*height: 43px;*/
	display: block;
	clear: both;
	vertical-align: top;
	font-family: 'Gibson-Regular';
	z-index: 99999!important;
	
}
/*#block-system-main-menu ul.menu li ul.menu {
	padding-top: 40px;
	padding-bottom: 0;
	margin-bottom: 0;
}*/
#block-system-main-menu ul.menu li {
	/*height: 42px;*/
	display: inline-block;
	vertical-align: top;
	list-style:none;
	float:left;
	/*margin: -2px 0 0 0;*/
/*	background: url('../img/menuhover02.png') 0 0 repeat-x;*/
}
#block-system-main-menu ul.menu li:hover, #block-system-main-menu ul.menu li.active-trail, #block-system-main-menu ul.menu li.active-trail:hover {
	display: block;
	float: left;
	vertical-align: top;
	

/*	background: url('../img/menuhover02.png') 0 -52px no-repeat;*/
}

/*.front .grid-9 #block-system-main-menu ul.menu li > span, .front .grid-9 #block-system-main-menu ul.menu li > span.tab {margin-right: 20px;}

.front .grid-9 #block-system-main-menu ul.menu > li {margin-left:60px;padding: 6px 0px 0px 0px;}*/



#block-system-main-menu ul.menu li a, #block-system-main-menu ul.menu li span {
	display: block;
	position: relative;
	color: #101820;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	/*padding: 6px 30px 0px 0px;
	height: 32px;*/
	font-family: Gibson-Regular;
	text-transform: none;
	text-align: left;
	line-height:40px
}

/* new to affiliate */
.front #block-system-main-menu ul.menu li span.tab {
	/*background: #f1f1f1;*/
	padding: 0px 15px;
	/*border-radius: 3px;
margin-top: -5px;*/
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	margin-bottom: -1px;
}

.page-home li#affiliate-menu.expanded.top-menu-first ul.menu {
	margin-top: -1px;
}

/*.page-home #block-system-main-menu ul.menu li.first.expanded.top-menu-first {
	margin-top: -3px
}

.page-home #block-system-main-menu ul.menu li.first.expanded:hover.top-menu-first > ul.menu {
	margin-top: -1px
}*/

.mobile-wrapper {
	border-bottom: 1px solid #ccc
}
#block-system-main-menu ul.menu li a:hover, #block-system-main-menu ul.menu li a.active-trail, #block-system-main-menu ul.menu li a.active-trail:hover {
	display: block;/*	background: url('../img/menuhover02.png') 100% -104px no-repeat;*/
}
#block-system-main-menu ul.menu li.expanded a:hover ul, #block-system-main-menu ul.menu li.expanded ul:hover {
	display: block
}
#block-system-main-menu ul.menu li.last.expanded a {
	margin-right: 0;
	padding-right: 0
}
#block-system-main-menu ul.menu li a span.arr01 {
	text-indent: -9999px;
	position: absolute;
	display: block;
	height: 10px;
	top: 42px;
	width: 100%;
	left: 46%;
	z-index: 550;
	background: transparent none;
}
#block-system-main-menu ul.menu li a.active-trail span.arr01 {
	position: absolute;
	display: block;
	height: 10px;
	top: 42px;
	width: 100%;
	left: 44%;
	z-index: 550;/*	background: url('../img/menuhover02.png') 0px -198px no-repeat;*/
}
/* selected top nav */


#block-system-main-menu ul.menu > li.top-menu-first > a.active {
	color: #00AF66
}
#block-system-main-menu ul.menu li ul li.leaf {/*float:right;*/
}
/* split into 2 equal cols */
#block-system-main-menu ul.menu > li.expanded:hover > ul.menu > li.leaf {/*width:50%;*/
}
/* last one 1 col */
#block-system-main-menu ul.menu > li.last.expanded:hover > ul.menu > li.leaf {/*width:100%;*/
}
#block-system-main-menu ul.menu li ul, #block-system-main-menu ul.menu li ul:link {
	display: none;
	position: absolute; /*min-width: 50%;*/
}
#block-system-main-menu ul.menu li ul:hover, #block-system-main-menu ul.menu li.expanded ul:hover, #block-system-main-menu ul.menu li:hover ul, #block-system-main-menu ul.menu li.expanded li:hover ul, #block-system-main-menu ul.menu li.expanded li li:hover ul, #block-system-main-menu ul.menu li.expanded li li li:hover ul, #block-system-main-menu ul.menu li.expanded.iehover ul, #block-system-main-menu ul.menu li.expanded li.iehover ul, #block-system-main-menu ul.menu li.expanded li li.iehover ul, #block-system-main-menu ul.menu li.expanded li li li.iehover ul {
	display: block;
	z-index: 2
}
#block-system-main-menu ul.menu li.expanded ul li a {
	font-family: 'Gibson-Regular';
	font-size: 16px;
	line-height: 40px;
	text-align: left;
}
#block-system-main-menu ul.menu li {
}

.grid-9 #block-system-main-menu ul.menu > li.expanded:hover > ul.menu {margin-top:-2px;margin-left:-25px}
.grid-9 #block-system-main-menu ul.menu > li.expanded:hover > .tab ul.menu {margin-left:-10px}

.grid-9 #block-system-main-menu ul.menu > li {padding-right:30px}

#block-system-main-menu ul.menu > li.expanded:hover > ul.menu {
	/*height: auto; 
	border-top: 1px solid #E8E8EC;*/
	border-bottom: 1px solid #E8E8EC;
	border-right: 1px solid #E8E8EC;
	border-left: 1px solid #E8E8EC;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background-color: rgb(255, 255, 255);
	/*background-color: rgba(255, 255, 255, .95); white transparent*/
	float: left;
	display: block;/*margin-top:3px;
	margin-left: -25px;*/
}


.grid-12 #block-system-main-menu ul.menu > li.expanded:hover > ul.menu {padding-right:25px}
.grid-12 #block-system-main-menu ul.menu > li {padding-right:30px}


#block-system-main-menu ul.menu li ul li {
	list-style: inside;
	float: left;
	padding: 5px 7px 5px 20px;
	margin: 5px;
	color: black;
	height: 30px;
	display: block;
	width: 100%
}


/*************************Omega Theme***************************/
hr {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	margin: 35px 0 35px 0!important;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #efefef;
	clear: both;
	padding: 0;
	height: 0;
}
hr.no-border {
	border: 0
}
hr.hrLine {
	background: url('../img/dottedRule.png') no-repeat scroll center center transparent;
	background-position: center center !important;
	border: 0;
	padding: 20px
}
/************* Expand Your Reach // Publisher Affiliate // Tools Icons  **************/

ul.ulTools {
	color: #333333;
	font-size: 18px;
	list-style-type: none;
}

ul.ulTools li {list-style:none}

ul.greypanel.ulTools li {
	background: none;
	padding: 0!important;
}
.ulTools .listimg {
	margin-right: 20px!important;
	margin-top: 0!important
}
.ulTools p {
	margin-top: 20px;
}
.listimg.ix1, li.ix1 .listimg {
	background-position: 0 0;
}       /* Blockquote */
.listimg.ix2, li.ix2 .listimg {
	background-position: -35px 0;
}   /* Checkmark */
.listimg.ix3, li.ix3 .listimg {
	background-position: -70px 0;
}   /* Publisher Search, Affiliate Links Search */
.listimg.ix4, li.ix4 .listimg {
	background-position: -105px 0;
}   /* Bulk Uploads */
.listimg.ix5, li.ix5 .listimg {
	background-position: -140px 0;
}   /* Create Links */
.listimg.ix6, li.ix6 .listimg {
	background-position: -175px 0;
}   /* Deep Link Generator */
.listimg.ix7, li.ix7 .listimg {
	background-position: -210px 0;
}   /* Link Scheduling */
.listimg.ix8, li.ix8 .listimg {
	background-position: -245px 0;
}   /* Real-time Transaction Monitoring */
.listimg.ix9, li.ix9 .listimg {
	background-position: -280px 0;
}   /* Report Options*/
.listimg.ix10, li.ix10 .listimg {
	background-position: -315px 0;
}  /* Product Catalog Data Feed */
.listimg.ix11, li.ix11 .listimg {
	background-position: -350px 0;
}  /* APIs */
.listimg.ix12, li.ix12 .listimg {
	background-position: -385px 0;
} /* Links Search */
.listimg.ix13, li.ix13 .listimg {
	background-position: -420px 0;
}  /* Get Code */
.listimg.ix14, li.ix14 .listimg {
	background-position: -455px 0;
}  /* CJ Product Widgets */
.listimg.ix15, li.ix15 .listimg {
	background-position: -490px 0;
}  /*  */
.listimg.ix16, li.ix16 .listimg {
	background-position: -525px 0;
}  /*  */
.listimg.ix17, li.ix17 .listimg {
	background-position: -560px 0;
}  /* Email */
.listimg.ix18, li.ix18 .listimg {
	background-position: -595px 0;
}  /*  */
.listimg.ix19, li.ix19 .listimg {
	background-position: -630px 0;
}  /* Lead Gen */
.listimg.ix20, li.ix20 .listimg {
	background-position: -665px 0;
}  /* Pay Per Call */
.listimg.ix21, li.ix21 .listimg {
	background-position: -700px 0;
}  /* International */
.listimg.ix22, li.ix22 .listimg {
	background-position: -735px 0;
}  /* Personalized Media */
.listimg.ix23, li.ix23 .listimg {
	background-position: -770px 0;
}  /* Partner Tracking */
.listimg.ix24, li.ix24 .listimg {
	background-position: -805px 0;
}  /* Product Catalog Optimization  */
.listimg.ix25, li.ix25 .listimg {
	background-position: -840px 0;
}  /* ViewThrough */
.listimg.ix26, li.ix26 .listimg {
	background-position: -875px 0;
}  /* Content Solutions */
.listimg.ix27, li.ix27 .listimg {
	background-position: -910px 0;
}  /* Mobile Solutions */
.listimg.ix28, li.ix28 .listimg {
	background-position: -945px 0;
}  /* App Engagement */
.listimg.ix29, li.ix29 .listimg {
	background-position: -980px 0;
}  /* Site to Store */
.listimg.ix30, li.ix30 .listimg {
	background-position: -1015px 0;
}  /* App Engagement  */
.listimg {
	background-image: url("../img/blockquote_li.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	float: left;
	height: 35px;
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 35px;
}
/* privacy pages blockquote */
.node-type-privacy blockquote {
	background-image: none;
	border: none;
	font-size: inherit;
	margin: inherit;
	font-family: inherit;
}
blockquote {
	background: url('../img/quote.png') no-repeat scroll 0 15px transparent;
	border-bottom: 1px dashed #B3B3B3;
	border-top: 1px dashed #B3B3B3;
	font-size: 16px;
	line-height: 30px;
	margin: 30px 0;
	padding: 15px 0 15px 60px;
	font-family: "Gibson-Regular";
}
blockquote p {
	/* margin-bottom: 5px;
    margin-top: 15px;
    text-align: right;*/
	margin-bottom: 5px;
	margin-top: 9px;
	text-align: left;
}
blockquote.email {
	background: url('../img/email.png') no-repeat scroll 0 15px transparent;
}
/****** Front Block 3 (Get Started) ******

.block-block-3 {
	clear: both;
	display: block;
	margin-top: 500px!important
}*/
/*************Publisher Promotional Methods**************/

.pubPromoMethods {
	background-image: url("../img/vertical_pubPromoMethods.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	float: left;
	height: 60px;
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 60px;
}
.pubPromoMethods.bullet1 {
	background-position: 0 0;
} /*Content and Community*/
.pubPromoMethods.bullet2 {
	background-position: 0 -60px
} /*Incentives, Loyalty and Rewards*/
.pubPromoMethods.bullet3 {
	background-position: 0 -120px
} /*Search*/
.pubPromoMethods.bullet4 {
	background-position: 0 -180px
} /*Shopping, Coupons and Deals*/
.pubPromoMethods.bullet5 {
	background-position: 0 -240px
} /*Software & Technology*/
.pubPromoMethods.bullet6 {
	background-position: 0 -300px
} /*Ad Networks*/
.pubPromoMethods.bullet7 {
	background-position: 0 -360px
} /*Email*/
/*************************Global Zones*************************/

.panel {
	margin: 0;
	padding: 20px;
}
.rounded-corners {
	-webkit-border-radius: 12px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
#zone-user-wrapper {
	background: #ffffff
}
#section-content .zone-wrapper/* , #section-content .zone-content*/ {
	padding: 50px 0;
}
.block-inner #wrapper-inner {
	margin: 0 auto;
}
.container-12 {
	width: 980px
}
.container-12 .grid-12 {
	width: 960px
}
.greypanel {
	background: rgba(204, 204, 204, 0.2);
	background: #f7f7f7\9; /* IE 8 and below */
}
/*.wrapper-inner {padding: 50px 0;}
.wrapper-inner {margin:0 auto; }*/


.whitepanel {
	background: rgba(255, 255, 255, 0.8);
	background-image: rgba(255, 255, 255, 0.8)
}
/*.zone-grey-1-wrapper p, .zone-grey-2-wrapper p, .zone-grey-3-wrapper p{margin-bottom:0}*/


/* Front Slider Zone */

.zone-front-slider-wrapper {
  width: 100%;
  background-color: #101820;
}

.zone-front-slider-wrapper.flexslider {
	height: 100%;
	background-size: cover;
	background-position: center;
	background-image: url('../img/front/CJ_homepage_slider_bg.png')!important;
	background-color: #101820!important;
}
.zone-front-slider-wrapper .whitepanel {
	background: rgba(255, 255, 255, 0.8);
	background-image: rgba(255, 255, 255, 0.9)
}
.view-homepage-flexslider .grid-5 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 325px;
	/*resize: vertical;*/
	overflow: auto;
}
.block-homepage-flexslider-block img {
	vertical-align: middle;
	max-width: 100%!important;
	max-height: 100%!important;
}
.block-homepage-flexslider-block h1 {
	padding-top: 50px;
	font-size: 36px
}
.block-homepage-flexslider-block h3 {
	font-size: 20px
}
/*************************End Global Zones*************************/


/* Flex Slider */

.block-advertiser-network-values-block ul.slides, .block-publisher-network-values-block ul.slides {padding-bottom: 20px;}
.block-advertiser-network-values-block .flex-control-nav, .block-publisher-network-values-block .flex-control-nav {margin-top:30px}	
.block-advertiser-network-values-block .flex-control-paging li a.flex-active, .block-publisher-network-values-block .flex-control-paging li a.flex-active {background: #fff;}
.block-advertiser-network-values-block .flex-control-paging li a, .block-publisher-network-values-block .flex-control-paging li a {background: #333;}

.view-homepage-flexslider ul.slides {height: 325px;
	overflow: hidden;
}

li.flex-active-slide {
}
.flex-caption {
	position: absolute;
	top: 5%
}
.flexslider {
	margin: 0;
	border: none;
	position: relative;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	zoom: 1;
}
.flex-direction-nav a:before {
	margin-top: 11px;
}
.flex-direction-nav a {
	text-shadow: none;
}

.flexslider .flex-direction-nav a, .flexslider .flex-direction-nav a {
	display: block
}
.view-flexslider-advertiser .flex-direction-nav .flex-prev {
	left: 10px!important
}
.view-flexslider-advertiser .flex-direction-nav .flex-next {
	right: 10px!important;
}
.view-flexslider-advertiser .flexslider:hover .flex-prev {
	left: 30px!important;
}
.view-flexslider-advertiser .flexslider:hover .flex-next {
	right: 30px!important;
}
/*

FRONT PAGE GOES HERE 

*/

/* 
Front :: slider
*/

.block-front-slider h2 {
	margin-bottom: 3px
}
.block-front-slider h1 {
	margin: 0 0 20px 0
}
.page-home #zone-front-slider.container-12 {
	/*width: 100%;
	height: 350px;
	max-height: 323px;
	overflow: hidden;*/
}
/* Video Testimonial Landing Pages */



#zone-front-slider.container-12 #region-front-slider.grid-12 {
/*width: 100%;*/
}
#region-front-slider.grid-12 {
	margin: 0;/*position: relative;
	width: 1600px;
	height: 350px;*/
}
/*#region-front-slider.grid-12 .region-inner {
	position: relative;
	width:100%;
	height:650px;
	border: 1px solid green;
}*/

#block-front-slider-front-slider {
/*position: relative;
	width: 100%;*/
	
}
/*#block-block-2 .content {
    overflow: hidden;
    text-align: center;
	position:relative;
} rm block styles*/
#frontsliderul {
	position: relative;
	overflow: hidden;/*height: 770px;*/
}
#frontsliderul ul {
	/*
 images count X image width plus some extra pixels
 */
	width: 5000px;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
}
#frontsliderul li {
	float: left;
}
/*
Front :: 2 fixed divs in front of slider
*/
#frontfixed-outer {
	position: relative;
	z-index: 22 !important;
	width: 960px;
	margin: 0 auto;
	margin-top: -40px;
	text-align: center;
}
.frontfixed-item {
	float: left;
	width: 430px;
	height: 290px;
	/*background:rgb(255,255,255);
	background:rgba(255,255,255,0.6);*/
	background: rgb(255,255,255);
	background: rgba(255, 255, 255, 0.8);
	padding: 20px;
	position: relative;
	-webkit-border-radius: 12px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.frontfixed-item > p > span.fs24 a {
	font-family: 'Gibson-Regular', Helvetica, Arial;
	font-weight: normal;
}
.frontfixed-item > p > span.fs18 {
	color: #555;
	font-family: 'Gibson-Light', Helvetica, Arial;
	font-size: 13px;
}
.frontfixed-item img {
	position: absolute;
	top: 114px;
	width: auto;
	height: auto;
}
.frontfixed-item.item2 {
	margin-left: 20px;
}
.frontfixed-item p {
	/*  background: url('../img/whatsnewitem.png') 0 0 no-repeat;*/
	color: #fff;
}
.frontfixed-item p .fs24 {
}
.frontfixed-item p a {
	text-decoration: none;
}
/****** Front Adv and Pub Block **********/
.vert-rule {
	border: 1px solid #e5e4e4;
	width: 0;
	display: block;
	margin: auto;
	height: 450px;
}
/********************* What's New ***********************/

.wn-lm {
	color: #ECECEC;
	display: inline !important;
	font-size: 14px !important;
	height: auto !important;
	left: 0;
	padding: 0 0 0 4px !important;
	position: relative !important;
	text-decoration: none;
	top: 0;
	display: compact
}
/*.transbg {font-size:14px !important;
background-image: none !important;
}*/

.whatsnew-elem .item {
	width: 300px;
	height: 175px;
	position: relative;
	margin: 0 0 20px 0;
	overflow: hidden;
}
.whatsnew-elem .item.i01 {
	background: url("../img/whatsnew01.jpg") 0 0 no-repeat;
}
.whatsnew-elem .item.i02 {
	background: url("../img/whatsnew02.jpg") 0 0 no-repeat;
}
.whatsnew-elem .item.i03 {
	background: url("../img/whatsnew03.jpg") 0 0 no-repeat;
}
.whatsnew-elem .item.i04 {
	background: url("../img/whatsnew04.jpg") 0 0 no-repeat;
}
.whatsnew-elem .item.i05 {
	background: url("../img/whatsnew05.jpg") 0 0 no-repeat;
}
.whatsnew-elem .item.i06 {
	background: url("../img/whatsnew06.jpg") 0 0 no-repeat;
}
.whatsnew-elem .item a {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 26px;
	display: block;
	padding: 149px 0 0 4px;
	color: #ececec;
	text-decoration: none;
	font-size: 12px;
}
.whatsnew-elem .item .rel {
	position: relative;
}
.whatsnew-outer .item div.content-elem {
	position: absolute;
	left: 0px;
	top: 175px;
	padding: 10px 20px 20px 20px;
	color: #ffffff;/* #ececec;*/
	text-decoration: none;
	font-size: 12px;
	height: 150px;
	width: 250px;
}
.whatsnew-outer .item div.content-elem span.transbg {
	width: 250px;
}
.whatsnew-elem .item span.transbg {
	display: block;
	position: absoulute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 350px;
}
.whatsnew-elem .item img {
	position: absolute;
	z-index: 0;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 175px;
}
.i33 {
	float: left;
	width: 33%;
	margin-top: 20px;
}
.i49 {
	float: left;
	width: 49.8%;
}
ul.nobullets, ul.nobullets li {
	list-style-type: none;
	list-style-image: none;
	list-style: none outside none;
}
.plainlinks a {
	color: #444444;
	text-decoration: none;
}
ul.bulletplus {
	list-style-image: url('../img/bulletplus.png');
	list-style-position: outside;
	margin-left: 20px;
}
/* Advertiser::Slider */

ul#adv_why_menu {
	margin: 20px 0 0 0;
	background-color: #555555;
	padding-bottom: 0;
	width: 100%;
	height: 43px;
	display: block;
	clear: both;
	vertical-align: top;
}
ul#adv_why_menu li {
	height: 42px;
	display: block;
	float: left;
	vertical-align: top;
	margin: 1px 0 0 0;
	background: url('../img/menuhover02.png') 0 0 repeat-x;
	padding: 0;
}
ul#adv_why_menu li:hover, ul#adv_why_menu li.active-trail, ul#adv_why_menu li.active-trail:hover {
	height: 42px;
	display: block;
	float: left;
	vertical-align: top;
	margin: 1px 0 0 0;
	background: url('../img/menuhover02.png') 0 -52px no-repeat;
}
ul#adv_why_menu li a {
	display: block;
	position: relative;
	color: #FFFFFF;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	padding: 10px 28px 6px 28px;
	letter-spacing: 0px;
	height: 26px;
}
ul#adv_why_menu li a:hover, ul#adv_why_menu li a.active-trail, ul#adv_why_menu li a.active-trail:hover {
	background: url('../img/menuhover02.png') 100% -104px no-repeat;
}
ul#adv_why_menu li a span.arr01 {
	text-indent: -9999px;
	position: absolute;
	display: block;
	height: 10px;
	top: 42px;
	width: 100%;
	left: 46%;
	z-index: 550;
	background: transparent none;
}
ul#adv_why_menu li a.active-trail span.arr01 {
	position: absolute;
	display: block;
	height: 10px;
	top: 42px;
	width: 100%;
	left: 44%;
	z-index: 550;
	background: url('../img/menuhover02.png') 0px -198px no-repeat;
}
.roundabout-holder {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 500px;
	width: 100%;
	max-width: 900px;
}
.roundabout-moveable-item {
	height: 284px;
	width: 426px;
	cursor: pointer;
	background-color: #ccc;
	border: 1px solid #999;
}
.roundabout-in-focus {
	cursor: auto;
}
#adv_why_slider {
	margin: 10px 0 0 30px;
}
#adv_why_slider .item .wrapper {
	position: relative;
}
#adv_why_slider .item .desc {
	position: absolute;
	left: -200px;
	top: -80px;
	width: 860px;
	height: 80px;
	display: none;
	text-align: center;
}
#adv_why_slider .item.roundabout-in-focus .desc {
	display: block;
}
#adv_why_slider li .img {
	width: 100%;
	height: 100%;
}
#adv_why_slider li img {
	width: 100% !important;
	height: 100% !important;
}
#adv_prevnext {
	position: relative;
	width: 100%;
}
#adv_slider_prev {
	position: absolute;
	left: -50px;
	top: 110px;
	width: 311px;
	height: 284px;
	background: url('../img/Left.png') 0 0 no-repeat;
	z-index: 500;
	text-indent: -9999px;
}
#adv_slider_next {
	position: absolute;
	right: -50px;
	top: 110px;
	width: 311px;
	height: 284px;
	background: url('../img/Right.png') 0 0 no-repeat;
	z-index: 500;
	text-indent: -9999px;
}
/************** Advertiser :: Affiliate Management zone ***********/


#adv-tbl-service {
	text-align: center;
	width: 934px;
}
#adv-tbl-service thead tr {
	background: url('../img/advar_tbl.png') 0 0 repeat;
}
#adv-tbl-service thead th {
	border-bottom: transparent none;
	color: #333333;
	text-align: center;
	background: transparent none;
	height: 210px;
}
#adv-tbl-service thead th.col01 {
	background: transparent none;
	width: 233px;
}
#adv-tbl-service tbody tr {
	background: url('../img/advar_tbl.png') -934px 0 repeat;
	border-bottom: transparent none;
}
#adv-tbl-service tbody tr.odd {
	background: url('../img/advar_tbl.png') -1868px 0 repeat-y;
}
#adv-tbl-service tbody tr td {
	background: transparent;
	padding: 4px;
}
#adv-tbl-service tbody th {
	border-bottom: transparent none;
	text-align: right;
	background: transparent none;
	padding: 10px 15px;
}
#adv-tbl-service thead th.col02 {
	width: 234px;
	text-indent: -9999px;
}
#adv-tbl-service thead th.col03 {
	width: 233px;
	text-indent: -9999px;
}
#adv-tbl-service thead th.col04 {
	width: 234px;
	text-indent: -9999px;
}

/*
Webkit hack: to avoid TR background bug we need to specify backgrounds for every TD
That's why we also use JS to specify column classes (zzcol02, zzcol03 etc) to every TD
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
#adv-tbl-service thead th.col02 {
	background: url(../img/advar_tbl.png) -233px 0 no-repeat;
}
#adv-tbl-service thead th.col03 {
	background: url(../img/advar_tbl.png) -467px 0 no-repeat;
}
#adv-tbl-service thead th.col04 {
	background: url(../img/advar_tbl.png) -701px 0 no-repeat;
}
#adv-tbl-service tbody tr th {
	background: url(../img/advar_tbl.png) -934px 0 no-repeat;
}
#adv-tbl-service tbody tr.odd th {
	background: url(../img/advar_tbl.png) -1868px 0 no-repeat;
}
#adv-tbl-service tbody tr td.zzcol02 {
	background: url(../img/advar_tbl.png) -1167px 0 no-repeat;
}
#adv-tbl-service tbody tr.odd td.zzcol02 {
	background: url(../img/advar_tbl.png) -2101px 0 no-repeat;
}
#adv-tbl-service tbody tr td.zzcol03 {
	background: url(../img/advar_tbl.png) -1401px 0 no-repeat;
}
#adv-tbl-service tbody tr.odd td.zzcol03 {
	background: url(../img/advar_tbl.png) -2334px 0 no-repeat;
}
#adv-tbl-service tbody tr td.zzcol04 {
	background: url(../img/advar_tbl.png) -1635px 0 no-repeat;
}
#adv-tbl-service tbody tr.odd td.zzcol04 {
	background: url(../img/advar_tbl.png) -2568px 0 no-repeat;
}
}
/************ Publisher & Advertiser Sliders *************/

ul#pub_why_menu {
	margin: 20px 0 0 0;
	background-color: #555555;
	padding-bottom: 0;
	width: 100%;
	height: 43px;
	display: block;
	clear: both;
	vertical-align: top;
}
ul#pub_why_menu li {
	height: 42px;
	display: block;
	float: left;
	vertical-align: top;
	margin: 1px 15px 0;
	background: url('../img/menuhover02.png') 0 0 repeat-x;
	padding: 0;
}
ul#pub_why_menu li:hover, ul#pub_why_menu li.active-trail, ul#pub_why_menu li.active-trail:hover {
	height: 42px;
	display: block;
	float: left;
	vertical-align: top;
	margin: 1px 15px 0;
	background: url('../img/menuhover02.png') 0 -52px no-repeat;
}
/*Advertiser slider has fewer items */

/*div#region-advertiser-whychoose*/ ul#pub_why_menu li, /*div#region-advertiser-whychoose*/ ul#pub_why_menu li:hover, /*div#region-advertiser-whychoose*/ ul#pub_why_menu li.active-trail, /*div#region-advertiser-whychoose*/ ul#pub_why_menu li.active-trail:hover {
	margin-bottom: 0;
	margin-left: 15px;
	margin-right: 20px;
	margin-top: 1px;
}
ul#pub_why_menu li a {
	display: block;
	position: relative;
	color: #FFFFFF;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	padding: 10px 12px 6px 12px;
	letter-spacing: 0px;
	height: 26px;
}
ul#pub_why_menu li a:hover, ul#pub_why_menu li a.active-trail, ul#pub_why_menu li a.active-trail:hover {
	background: url('../img/menuhover02.png') 100% -104px no-repeat;
}
ul#pub_why_menu li a span.arr01 {
	text-indent: -9999px;
	position: absolute;
	display: block;
	height: 10px;
	top: 42px;
	width: 100%;
	left: 46%;
	z-index: 550;
	background: transparent none;
}
ul#pub_why_menu li a.active-trail span.arr01 {
	position: absolute;
	display: block;
	height: 10px;
	top: 42px;
	width: 100%;
	left: 44%;
	z-index: 550;
	background: url('../img/menuhover02.png') 0px -198px no-repeat;
}
#pub_why_slider {
	margin: 10px 0 0 30px;
	overflow: hidden;
}
#pub_why_slider .item .wrapper {
	position: relative;
}
#pub_why_slider .item .desc {
	position: absolute;
	left: -200px;
	top: -80px;
	width: 860px;
	height: 80px;
	display: none;
	text-align: center;
}
#pub_why_slider .item.roundabout-in-focus .desc {
	display: block;
}
#pub_why_slider li .img {
	width: 100%;
	height: 100%;
}
#pub_why_slider li img {
	width: 100% !important;
	height: 100% !important;
}
#pub_prevnext {
	position: relative;
	width: 100%;
}
#pub_slider_prev {
	position: absolute;
	left: -50px;
	top: 110px;
	width: 311px;
	height: 284px;
	background: url('../img/Left.png') 0 0 no-repeat;
	z-index: 500;
	text-indent: -9999px;
}
#pub_slider_next {
	position: absolute;
	right: -50px;
	top: 110px;
	width: 311px;
	height: 284px;
	background: url('../img/Right.png') 0 0 no-repeat;
	z-index: 500;
	text-indent: -9999px;
}
/************** LANDING PAGE ******************/

/* New Sidebar */

.lnd-abs {
	/* old styles 
    left:625px;
	position:absolute;*/
	top: 20px;
	width: 300px;
/* height: 740px;*/}
.lnd-bg a#cSales {
	margin: 30px 0 30px 0;
	padding: 20px 0px 20px 0px;
	width: 300px !important;
	font-size: 22px;
	height: auto !important;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px !important;
	border-radius: 8px !important;
	border: solid #2E89FF 1px;
	display: inline-block;
	color: white;
	letter-spacing: normal !important;
	text-align: center;
}
.lnd-bg { /*position:relative;*/
	margin-top: 50px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 30px 0;
	background: rgba(255,255,255, 0.9);
	background-image: rgba(255,255,255, 0.9);
	width: 270px;
	min-height: 350px;
	height: auto;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .5);/* old styles 
background: url('../img/landing-right-bg.png') 0 0 no-repeat;
height: 740px;*/
}
.lnd-rel {
	margin-left: 15px;
}
.lnd-abs-item {
	vertical-align: baseline;
	font: inherit;
}
.lnd-abs-item h4 {
	font-size: 22pt;
	color: #fff;
	text-align: left;
	margin-left: 30px;
	padding-top: 17px
}
.lnd-abs-item h3 {
	font-size: 18pt;
	/*color: #101820;*/
	text-align: left;
	padding-top: 20px
}
.lnd-abs-item h3, .lnd-abs-item p, .lnd-abs-item .view-content, .lnd-abs-item ul, .lnd-abs-item form {
	padding: 0 20px
}
.lnd-abs-item form {
	width: 230px
}
.lnd-abs-item hr.hrLine {
	text-align: left;
	margin: 0 20px;
	width: 230px
}
.lnd-abs-item ul {
	list-style: none
}
/* ribbon style */

/* front ribbon*/
.front .ribbon-front {
	width: 450px!important;
	left: -35px!important;
}
.front .ribbon-edge-bottomleft {
	left: -35px!important;
}
.front .ribbon-edge-bottomright {
	left: 400px!important;
}
.front .ribbon-wrapper h4 {
	font-size: 20px;
	margin: 0;
	padding: 20px;
	color: #fff
}
/* end front ribbon */


.ribbon-wrapper {
	position: relative;
}
.ribbon-front {
	background-color: #444444;
	height: 65px;
	width: 300px;
	position: relative;
	left: -15px;
	z-index: 2;
}
.ribbon-front, .ribbon-back-left, .ribbon-back-right {
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}
.ribbon-edge-topleft, .ribbon-edge-topright, .ribbon-edge-bottomleft, .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style: solid;
	height: 0px;
	width: 0px;
}
.ribbon-edge-topleft, .ribbon-edge-topright {
}
.ribbon-edge-bottomleft, .ribbon-edge-bottomright {
	top: 65px;
}
.ribbon-edge-topleft, .ribbon-edge-bottomleft {
	left: -15px;
	border-color: transparent #333333 transparent transparent;
}
.ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 15px 0 0;
}
.ribbon-edge-bottomleft {
	border-width: 0 15px 10px 0;
}
.ribbon-edge-topright, .ribbon-edge-bottomright {
	left: 270px;
	border-color: transparent transparent transparent #333333;
}
.ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 15px;
}
.ribbon-edge-bottomright {
	border-width: 0 0 10px 15px;
}
.ribbon-back-left {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 0px;
	height: 65px;
	z-index: 0;
}
.ribbon-back-right {
	position: absolute;
	top: 10px;
	right: 0px;
	width: 0px;
	height: 65px;
	z-index: 0;
}
/* end new sidebar */

.lnd-bg h2 {
	color: #ffffff;
	text-align: center;
	font-size: 40px;
	padding: 20px 0 0 0;
	height: 90px;
}
.node-type-landing-page .grid-8 h2, .node-type-landing-alternate-format .grid-8 h2 {
	color: #666;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 6px;
}
.node-type-landing-page h1, .node-type-landing-alternate-format h1 {
	font-weight: normal;
	padding-right: 10px;
	font-size: 32px;
	color: #333;
	margin: 30px 0;
}
.lnd-greyboxh2 {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #808080;
	background-image: none;
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
	height: 2px;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 400px;
}
/* White Cross Bullet List */
ul.greypanel, ul#tools {
	list-style-image: none;
	list-style-type: none;
}
ul.greypanel li, .content-lnd-bottom ul li {
	background: url('../img/greenplus.png') 0 0 no-repeat;
	padding-left: 30px !important;
	margin-bottom: 10px !important;
	list-style:none;
}
.cj-search .search-by-page-form {
	width: 660px;
	position: relative;
	margin: auto;
	margin-top: 17px;
}
.cj-search .search-by-page-form label {
	display: none;
}
.cj-search .search-by-page-form input {
	border: none;
}
.cj-search .search-by-page-form .form-item-keys input {
	border: 2px solid #BBB;
	width: 100%;
	height: 60px;
	padding-left: 20px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #FFFFFF;
	color: #BBB;
	font-size: 2em;
	outline: none;
}
.cj-search .search-by-page-form .form-item-keys input:focus {
	background-color: #FFFFFF;
	color: #999;
}
.cj-search .search-by-page-form .form-submit {
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 100%;
	cursor: pointer;
	background: url(../img/search.png) 50% no-repeat !important;
	opacity: 0.5;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	filter: none !important;
}
.cj-search .search-by-page-form .form-submit:hover {
	opacity: 0.8;
}
.cj-search .search-by-page-form .form-submit:focus {
	border: none;
}
/* Chrome & Safari */
.cj-search .search-by-page-form .form-item-keys input[type="search"] {
	-webkit-appearance: none;
}
 .cj-search .search-by-page-form .form-item-keys input::-webkit-input-placeholder {
 color:#BBB;
}

/* стили для mozilla */
.cj-search .search-by-page-form .form-item-keys input:-moz-placeholder {
 color:#BBB;
}
#slider {
	margin-bottom: 40px;
	margin-top: 40px;
}
#slider .slides_container {
	height: 560px;
}
#slider .prev {
	background-image: url('../img/carousel-allow-left.png');
	width: 40px;
	height: 70px;
	text-decoration: none;
	position: absolute;
	left: 20px;
	bottom: 175px;
	z-index: 100;
	opacity: 0.6;
}
#slider .next {
	background-image: url('../img/carousel-allow-right.png');
	width: 40px;
	height: 70px;
	text-decoration: none;
	position: absolute;
	right: 20px;
	bottom: 175px;
	z-index: 100;
	opacity: 0.6;
}
#slider .next:hover, #slider .prev:hover {
	opacity: 0.8;
}
#slider .slides_container {
	background: green; /* ie */
	-webkit-box-shadow: 0px 0px 15px #222;
	-moz-box-shadow: 0px 0px 15px #222;
	box-shadow: 0px 0px 15px #222;
}
#slider ul {
	height: 67px;
	text-align: justify;
	text-decoration: none;
}
#slider ul li.current {
	background-image: url('../img/carousel-button-middle.png');
	background-repeat: no-repeat;
	background-position: 50%;
}
#sidebar {
	/*background-attachment: scroll;*/
    /*background-color: #F6F6F6;*/
	background-image: url('../img/int-right.png');
	background-repeat: no-repeat;
	display: inline-block;
	float: right;
	padding: 30px;
	position: relative;
	width: 284px;
	height: 788px;
}
.roundedBox.sbcallout {
	padding: 15px;
	width: 200px;
}
.roundedBox {
	float: left;
	margin: 10px;
	overflow: visible;
	padding: 10px;
	position: relative;
	z-index: 1;
}
#slider ul li a {
	font-family: 'Gibson-Regular';
	color: #808080;
	font-size: 13px;
	display: block;
	height: 18px;
	padding: 20px;
	padding-top: 16px!important;
}
#slider ul li.current a {
	color: #FFFFFF;
	background: #555555;
	font-size: 14px;
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
#slider .slides_container:hover div.tooltip {
	display: block;
}
#slider .slides_container div.tooltip {
	display: none;
	position: absolute;
	top: 300px;
	left: 500px;
	width: 305px;
	font-family: 'Gibson-Light';
	font-size: 13px;
	color: #FFFFFF;
}
#slider .slides_container div.tooltip div.t-content {
	background-image: url("../img/tooltip.png");
	background-repeat: no-repeat;
	padding: 35px 20px 20px 50px;
}
#slider .slides_container div.tooltip div.t-help {
	background-image: url("../img/tooltip-bottom.png");
	background-repeat: no-repeat;
	width: 305px;
	height: 30px;
}
#slider ul li {
	width: auto;
	padding: 0;
	height: 67px;
	display: inline-block;
	text-align: left;
	text-decoration: none;/* inline-block for IE6-7*//*display : inline;
    zoom : 1;*/
}
#slider ul li a {
	text-decoration: none;
	padding-top: 10px;
}
#slider ul li a:hover {
}
#slider ul li.helper {
	width: 100%;
	height: 0;
	visibility: hidden;
}
#block-megamenu-main-menu ul.megamenu-menu {
	padding-bottom: 0;
	margin-bottom: 0;
	height: 43px;
	display: block;
	clear: both;
	vertical-align: top;
}
#block-megamenu-main-menu ul.megamenu-menu li {
	height: 42px;
	display: block;
	float: left;
	vertical-align: top;
	margin: 1px 0 0 0;
	background: url('../img/menuhover02.png') 0 0 repeat-x;
	padding: 0;
}
#block-megamenu-main-menu ul.megamenu-menu li:hover, #block-megamenu-main-menu ul.megamenu-menu li.active, #block-megamenu-main-menu ul.megamenu-menu li.active:hover {
	height: 42px;
	display: block;
	float: left;
	vertical-align: top;
	margin: 1px 0 0 0;
	background: url('../img/menuhover02.png') 0 -52px no-repeat;
}
#block-megamenu-main-menu ul.megamenu-menu li a {
	display: block;
	position: relative;
	color: #FFFFFF;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	padding: 5px 28px 6px 28px;
	letter-spacing: 0px;
	height: 32px;
}
#block-megamenu-main-menu ul.megamenu-menu li a:hover, #block-megamenu-main-menu ul.megamenu-menu li a.active, #block-megamenu-main-menu ul.megamenu-menu li a.active:hover {
	background: url('../img/menuhover02.png') 100% -104px no-repeat;
}
#block-megamenu-main-menu ul.megamenu-menu li a span.arr01 {
	text-indent: -9999px;
	position: absolute;
	display: block;
	height: 10px;
	top: 42px;
	width: 100%;
	left: 46%;
	z-index: 550;
	background: transparent none;
}
#block-megamenu-main-menu ul.megamenu-menu li a.active span.arr01 {
	position: absolute;
	display: block;
	height: 10px;
	top: 42px;
	width: 100%;
	left: 44%;
	z-index: 550;
	background: url('../img/menuhover02.png') 0px -198px no-repeat;
}

/* Old sticky nav */
#zone-menu-wrapper {
	/*height: 53px;*/
	width: 100%;
	background-color: #ffffff;
	z-index: 501;
}
#zone-menu-wrapper, #menu {
	background: #ffffff; /* Old browsers */
}

/* New (2015) sticky nav */

#zone-user-wrapper {
	width: 100%;
	background-color: #ffffff;
	font-size: 14px;
	z-index: 501;
}


/* all this is also in global.css */
#menu {
	display: block;
	list-style: none;
	width: 980px;
	margin: 0 auto;
	height: 43px;/* Background colors 
	background:#555;/* Borders */
}
select.mobile-menu {
	display: none
}
#menu li {
	float: left;
	display: block;
	text-align: center;
	position: relative;
	padding: 4px 5px 4px 10px;
	margin-right: 30px;
	margin-top: 7px;
	border: none;
}
#menu li:hover {
	border: 1px solid #ccc;
	padding: 4px 9px 4px 4px;
	background: #f8f8f8;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}
#menu li a {
	font-family: 'Gibson-Light', Helvetica, Arial, sans-serif;
	font-size: 17px;
	color: #444444;
	display: block;
	outline: 0;
	line-height: 16px;
	padding-bottom: 8px;
}
#menu li a.drop {
	font-family: 'Gibson-Regular';
}
#menu li:hover a {
	color: #161616;
}
#menu li.new-to-affiliate {
	height: 31px;
	float: right;
	background: #f1f1f1;
	padding: 2px 15px 2px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
	margin-top: 4px;
}
#menu li.new-to-affiliate img {
	padding-top: 7px;
	float: left
}
#menu li.new-to-affiliate span {
	display: block;
	width: 250px;
	padding-top: 6px;
	font-size: 16px;
}
#menu li.new-to-affiliate:hover {
	display: inline-block; /* IE is so silly */
	border: none;
}
#menu li.new-to-affiliate a:link {
	font-family: 'Gibson-Regular';
	color: #444444;
	z-index: 999;
}
/*#menu li.new-to-affiliate a:hover {
	font-size: 17px;
	display: block;
	outline: 0;
	text-decoration: none; 
}*/

#menu li .drop {
	padding-right: 21px;
	background: url("../img/drop.png") no-repeat right 8px;
}
#menu li:hover .drop {
	background: url("../img/drop.png") no-repeat right 7px;
}
/* above is in global.css */


.dropdown_1column, .dropdown_2columns, .dropdown_3columns, .dropdown_4columns, .dropdown_5columns {
	display: block;
	margin: 4px auto;
	float: left;
	position: absolute;
	left: -999em; /* Hides the drop down */
	text-align: left;
	padding: 10px 5px 10px 5px;
	border: 1px solid #efefef;
	border-top: none;
	background: #f8f8f8;
	-moz-border-radius: 0px 8px 8px 8px;
	-webkit-border-radius: 0px 8px 8px 8px;
	border-radius: 0px 8px 8px 8px;
	z-index: 999999
}
.dropdown_1column {
	width: 140px;
}
.dropdown_2columns {
	width: 280px;
}
.dropdown_3columns {
	width: 440px;
}
.dropdown_4columns {
	width: 560px;
}
.dropdown_5columns {
	width: 730px;
}
#menu li:hover .dropdown_1column, #menu li:hover .dropdown_2columns, #menu li:hover .dropdown_3columns, #menu li:hover .dropdown_4columns, #menu li:hover .dropdown_5columns {
	left: -1px;
	top: auto;
}
.col_1, .col_2, .col_3, .col_4, .col_5 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {
	width: 130px;
}
.col_2 {
	width: 290px;
}
.col_3 {
	width: 410px;
}
.col_4 {
	width: 550px;
}
.col_5 {
	width: 720px;
}
#menu .menu_right {
	float: right;
	margin-right: 0px;
}
#menu li .align_right {
	-moz-border-radius: 5px 0px 5px 5px;
	-webkit-border-radius: 5px 0px 5px 5px;
	border-radius: 5px 0px 5px 5px;
}
#menu li:hover .align_right {
	left: auto;
	right: -1px;
	top: auto;
}
#menu p, #menu h3, #menu ul li {
	line-height: 21px;
	font-size: 12px;
	text-align: left;
}
#menu .nav-title, #menu h2 {
	font-size: 21px!important;
	font-weight: 400;
	letter-spacing: -1px;
	margin: 7px 0 14px 0;
	padding-bottom: 14px;
	border-bottom: 1px solid #efefef;
	text-align: left;
	font-family: 'Gibson-Light', Helvetica, Arial, sans-serif;
}
#menu li h2:hover div a {
	font-size: 21px;
}
#menu h3 {
	font-size: 14px;
	margin: 7px 0 14px 0;
	padding-bottom: 7px;
	border-bottom: 1px solid #efefef;
}
#menu h4 {
	font-size: 18px;
	margin: 7px 0 1px 0;
	padding-bottom: 3px;
}
#menu h4 a {
	font-size: 18px !important;
	font-family: 'Gibson-Regular' !important;
}
#menu p {
	line-height: 18px;
	margin: 0 0 10px 0;
}
#menu li:hover div a {
	font-size: 12px;
	color: #444444;
}
#menu li:hover div a:hover {
}
.strong {
	font-family: 'Gibson-SemiBold';
}
.italic {
	font-style: italic;
}
.imgshadow { /* Better style on light background */
	padding: 4px;
	margin-top: 5px;
}
.img_left { /* Image sticks to the left */
	width: auto;
	float: left;
	margin: 5px 15px 5px 5px;
}
#menu li .black_box {
	background-color: #333333;
	color: #eeeeee;
	padding: 4px 6px 4px 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#menu li ul {
	list-style: none;
	padding: 0;
	margin: 0 0 12px 0;
}
#menu li ul li {
	font-size: 12px;
	line-height: 24px;
	position: relative;
	padding: 0;
	margin: 0;
	float: none;
	text-align: left;
	width: 130px;
}
#menu li ul li:hover {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}
#menu li .greybox li {
	margin: 0px 0px 4px 0px;
	padding: 4px 6px 4px 6px;
	width: 116px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px !important;
	border-radius: 8px !important;
	border: solid #2e89ff 1px;
	display: inline-block; /* IE is so silly */
}
#menu li .greybox li:hover {
	padding: 4px 6px 4px 6px;
	margin: 0px 0px 4px 0px;
	border: solid #2e89ff 1px !important;
}
#menu li .greybox li a {
	color: #fff !important;
	font-weight: bold !important;
	font-size: 14px;
}
/* end menu */


#frontsliderul .overlay-text {
	padding: 25px;
	position: relative;
	top: -800px;
	left: -200px;
	width: 500px;
	margin: 0 auto 0 auto;
}
#frontsliderul ul li p img {
	width: 100%
}
/* Legal Pages View */


.view-legal-pages .item-list {
	border: 1px solid #ccc;
	margin: 20px 0;
}
.view-legal-pages .item-list h3 {
	border-bottom: 1px solid #ccc
}
/* Popular Topics */

#block-views-popular-topics-block-1 span.ui-icon {
	display: none;
}
#block-views-popular-topics-block-1 .ui-state-default, #block-views-popular-topics-block-1 .ui-widget-content .ui-state-default, #block-views-popular-topics-block-1 .ui-widget-header .ui-state-default {
	border: none;
	background: none;
	font-weight: normal;
	color: #555;
}
#block-views-popular-topics-block-1 .views-row-odd, #block-views-popular-topics-block-1 .views-row-odd .ui-accordion-header, #block-views-popular-topics-block-1 .views-row-odd .ui-accordion-content {
	background: #fafafa;
}
#block-views-popular-topics-block-1 .views-accordion-header, #block-views-popular-topics-block-1 .ui-accordion-content {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: none;
}
#block-views-popular-topics-block-1 .views-accordion-header {
	padding: 10px 10px 10px 20px;
}

#block-views-popular-topics-block-1 .views-accordion-header a {padding-right: 30px;
	font-size:15pt;display: inline;color: #333333;}

#block-views-popular-topics-block-1 .views-accordion-header a {
	background: url('../img/item-closed.png') no-repeat right;
	}
#block-views-popular-topics-block-1 .ui-accordion-content {
	height: auto!important;
}
#block-views-popular-topics-block-1 .ui-state-active a {
	background: url('../img/item-opened.png') no-repeat right;
	
}
.roundedBox.sbcallout {
	padding: 15px;
	width: 200px;
}
#sidebar #greenbg h4 {
	border-bottom: 1px solid #efefef!important;
	color: #00AF66;
	padding: 0 0 5px;
	margin-bottom: 10px;
}
#sidebar #greenbg p {
	padding: 0;
}
#sidebar #greenbg a {
	line-height: 16px;
	padding-bottom: 3px;
}
#sidebar #greenbg a:hover {
	text-decoration: underline;
}
#sidebar #greenbg a#pdf, #sidebar #greenbg a#email {
	color: #00AF66;
	padding-left: 40px;
	min-height: 45px;
	display: block;
	min-width: 150px;
}
.view-glossary .attachment-before .view-content {
	overflow: hidden;
	height: 45px;
	margin-top: 0px;
}
.view-glossary .attachment-before .view-content .ajax-progress {
	display: none;
}
.view-glossary .attachment-before .view-content span.views-summary {
	display: inline-block;
	padding: 12px;
	padding-left: 17px;
	padding-right: 16px;
	padding-bottom: 0px;
	height: 34px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #555;
	font-size: 14px;
}
.view-glossary .attachment-before .view-content span.views-summary a {
	color: #ffffff;
	text-decoration: none;
	text-transform: lowercase;
	height: 34px;
	width: 9px;
	display: block;
	text-align: center;
}
.view-glossary .attachment-before .view-content span.views-summary a.active {
	background: url("../img/literal-active.png") no-repeat bottom;
}
.view-glossary .view-content {
	font-family: 'Gibson-Regular';
	font-size: 14px;
	color: #333333;
}
.view-glossary .view-header {
	position: relative;
	top: 150px;
}
.view-glossary .attachment-before .view-header {
	top: 0px;
}
.view-glossary .attachment-before {
	position: relative;
	top: -30px;
	margin-top: 0px;
}
.view-glossary .attachment-before .view-content {
	overflow: hidden;
	height: 45px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #555;
}
.view-glossary .attachment-before .view-content .ajax-progress {
	display: none;
}
.view-glossary .attachment-before .view-content span.views-summary {
	display: inline-block;
	padding: 12px;
	padding-left: 15px;
	padding-right: 16px;
	padding-bottom: 0px;
	height: 34px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #555;
	font-size: 14px;
}
.view-glossary .attachment-before .view-content span.views-summary a {
	color: #ffffff;
	text-decoration: none;
	text-transform: lowercase;
	height: 34px;
	width: 9px;
	display: block;
	text-align: center;
}
.view-glossary .attachment-before .view-content span.views-summary a.active {
	background: url("../img/literal-active.png") no-repeat bottom;
}
.view-glossary .view-content {
	font-family: 'Gibson-Regular';
	font-size: 14px;
	color: #333333;
	margin-top: 50px;
}
body.page-node-165 .sharethis-buttons, body.page-node-137 .sharethis-buttons, body.page-node-137 .print-page {
	display: none;
}
#node-page-165 {
	font-size: 12px;
	color: #333333;
}
#block-block-53 .column {
	float: left;
	width: 250px;
	padding: 20px;
	margin: 20px 10px 20px 10px;
	background: #FAFAFA;
	height: 180px;
	font-size: 12px;
	color: #333333;
}
#block-block-53 .column h3 {
/*color: #323232;*/
}
.view-glossary .view-content .item-list ul li {
	display: block;
	margin: 20px 0px 40px 0px;
}
.view-glossary .view-content .views-row .views-field-title {
	float: left;
	width: 170px;
	font-family: 'Gibson-Light';
	color: #333333;
}
.view-glossary .view-content .views-row .views-field-body {
	margin-left: 180px;
	font-family: 'Gibson-Light';
	/*font-size: 12px;*/
	color: #333333;
}
.view-glossary .view-footer a {
	float: right;
	margin-bottom: 20px;
}
/*Footer*/

.zone-footer-wide-wrapper p {font-size: 13px;}

.footer-nav {
	display: block
}
.zone-footer-wide-wrapper {
	color: #7D7D7D;
	font-size: 12px;
}

.fs24 {
	font-size: 22px;
}
.fs18, .block-front-slider p {
	font-size: 16px;
	line-height: 18px;
}
.fwbold {
	font-family: 'Gibson-SemiBold';
}


.zone-footer-wide-wrapper ul {
	list-style-type: none;
}
.zone-footer-wide-wrapper div.ftBkgrd {
	margin-top: 36px;
}
.zone-footer-wide-wrapper ul.genList li {
	background: none;
}
.footer-nav a:link, .footer-nav a:visited, .footer-nav a:active, .zone-footer-wide a:visited, .zone-footer-wide a, .zone-footer-wide a:active, .footer-nav a.active, .zone-footer-wide .expanded .leaf a.active {
	color: #7D7D7D;
}
.block-menu-block-1, .block-block-57, .copyright {
	padding-top: 30px;
}
#footer-links ul li.parent, #footer-links div.block-menu, #block-jquerymenu-1 {
	/*margin: 0px 0px 0 10px;
	width: 150px;*/
	display: inline;
	float: left;
	list-style: none;
}
.zone-footer-wide ul.menu li/*,.zone-footer-wide li.collapsed*/, .zone-footer-wide li.leaf {
	margin: 0;
	padding: 0
}
.zone-footer-wide .menu .expanded {
	margin-left: 10px;
	margin-right: 10px;
}
.zone-footer-wide .expanded ul.menu li.leaf {
	padding-bottom: 10px
}
.menu-mlid-3278, .menu-mlid-3289, .menu-mlid-3301, .menu-mlid-3310 {
	/*margin: 0px 0px 0 10px;*/
	display: inline;
	float: left;
	list-style: none;
}
.menu-mlid-3278 {
/*width: 350px*/
}
.zone-footer-wide .menu li.menu-mlid-3278 .menu li {
	list-style-type: none;
	float: left;
	width: 50%;/*padding-right: 20px;*/
}
/* footer headers */

.zone-footer-wide .menu .expanded, .zone-footer-wide .menu .first.expanded {
	font-size: 22px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-family: 'Gibson-Regular';
	list-style-image: none;
	list-style-type: none;
	/*padding-right: 20px;*/
	color: #b0b0b0!important;
}
.zone-footer-wide h3, .zone-footer-wide h3 a title, li.expanded:nth-child(1) > a:nth-child(1), li.expanded:nth-child(2) > a:nth-child(1), li.expanded:nth-child(3) > a:nth-child(1), li.expanded:nth-child(4) > a:nth-child(1) {
	margin-top: 0;
	color: #b0b0b0
}
.block-menu-block {
	border-bottom: 1px solid #00AF66;
	padding-bottom: 30px
}
.zone-footer-wide .menu .last.expanded {
	margin: 0/*	padding-right: 0!important*/
}
.zone-footer-wide ul.menu ul.menu {
	padding-top: 10px
}
/* footer links */

.zone-footer-wide .expanded .menu .leaf {
	font-size: 12px;
	font-family: 'Gibson-Light';
	list-style-image: none;
	list-style-type: none;
	text-transform: none;
	line-height: 14px;
	padding-bottom: 9px;
	margin: 0;
}
/* social icons */


a#ftL1, a#ftL2, a#ftL3, a#ftL4, a#ftL5, a#ftL6, a#ftL7, a#ftL8 {
	display: inline-block;
	margin: 0 15px 0 0;
	background: url("../img/footer_socialBadges.png") no-repeat transparent;
	padding: 30px 30px 0 0;
}
a#ftL1 {
	background-position: 1px 0;
}
a#ftL2 {
	background-position: -30px 0;
}
a#ftL3 {
	background-position: -61px 0;
}
a#ftL4 {
	background-position: -95px 0;
}
a#ftL5 {
	background-position: -127px 0;
}
a#ftL6 {
	background-position: -158px 0;
}
a#ftL7 {
	background-position: -189px 0;
}
a#ftL8 {
	background-position: -221px 0;
}
#zone-footer-wide-wrapper {
	font-size: 12px;
	padding: 0 0 40px;
	background: #101820;
}
.leftFloatBoxft {
	float: left;
	margin: 0;
	padding: 0;
}
.ftB1 {
	width: 128px;
	margin-top: 36px;
}
.ftB2 {
	width: 340px;
	margin: 36px;
	font-size: 11px
}
.ftB3 {
	margin-top: 15px;
}
.ftB4 {
	margin: 15px 0 0 36px;
}
.ftB4 p {
	margin-bottom: 0;
}
/* Footer menus Adv, Publisher, About CJ etc. */
.ftBox {
	float: left;
	padding: 0;
	margin: 0;
}
.ftBox a {
	color: #FFFFFF;
}
.ftBox ul {
	font-size: 9px;
	padding: 0;
	margin: 0;
}
.ftMenuAdv {
	float: left;
	margin-right: 18px;
}
.ftBoxa {
	width: 300px;
	padding-right: 16px;
}
.ftBoxb {
	width: 180px;
	padding-right: 18px;
	padding-left: 18px;
}
.ftBoxc {
	width: 125px;
	margin-top: 36px;
	padding-left: 18px;
}
/*Landing Page Alternate Format */
.lnd-bg2 {
	background: url(../img/bkgrd_landAltFormat.png) 0 0 no-repeat;
	width: 342px;
	height: 620px;
}
.lnd-bg2 h2 {
	color: #444444;
	text-align: center;
	font-size: 40px;
	padding: 20px 0 0 0;
	height: 90px;
}
.lnd-greyboxh2a {
	width: 400px;
	height: 4px;
	background: #999999;
	overflow: hidden;
	margin-bottom: 72px;
}
/*Confirmation Page */
a#confirmLink {
	background: url("../img/button_visitHomePage.png") no-repeat scroll 0 0 transparent;
	display: block;
	margin-top: 72px;
	padding: 50px 254px 0 0;
	text-decoration: none;
}
/* A generic float class */

h2.block-title {
	text-align: center;
}
.largeBold {
	font-size: 18px;
	font-family: 'Gibson-SemiBold';
}
.greyedBox { /*generic grey colour */
	background-color: #EEEEEE;
	padding: 15px;
}
ul.ntaUlList {
	list-style-type: none;
	padding: 0px;
	margin: 0 0 0 18px;
}
ul.ntaUlList li {
	background: url(../img/greenplus.png) no-repeat;
	background-position: 0px 5px;
	padding-left: 50px;
	margin-bottom: 25px;
}
.centeredImg {
	padding-bottom: 36px;
}
.dottedLine { /*just adds a dotted line to the bottom of a div */
	background: url(../img/dottedRule.png) center bottom no-repeat;
}
ul.ulGreenChks {
	list-style-type: none;
	width: auto;
}
ul.ulGreenChks li { /*adds pretty green ckeckmarks to list items */
	background: url(../img/greenCheckMark.png) no-repeat;
	background-position: 0px 5px;
	padding-left: 50px;
	margin-bottom: 25px;
}

.block-block-49 h2.block-title {
	text-align: left;
}
.block-block-49 div.floatWrapper, .block-block-50 div.floatWrapper, .block-block-49 p.pX {
	width: 725px;
}
/* block 50 = 'Contact Us :: Our Offices Second Region' */
/* block 49 = 'Contact Us :: Our Offices First Region' */

.landing-page h3.quote {
	font-size: 28px;
	margin: 25px 0;
	line-height: 36px;
	font-family: 'Gibson-LightIt';
}
/* Next Steps */

.landing-page .block-main h2, .block-main h2.block-title, .nextsteps h2 {
	font-family: 'Gibson-Regular';
	letter-spacing: .1em;
	font-size: 34px;
	text-transform: uppercase;
}
.node-type-landing-page .block-main h2 {
	padding-bottom: 0
}
.landing-page .block-main h4, .nextsteps h3, .nextsteps h4 {
	font-family: 'Gibson-Light';
	text-transform: none!important
}
.nextsteps {
	width: 100%;
	height: auto;
	padding: 0;
}
.nextsteps ul {
	margin: 0 auto;
	list-style: none;
}
.nextsteps .panel {
	margin: 0 auto
}
.nextsteps li {
	display: inline-block;
	text-align: left;
	margin-right: 20px;
	position: relative;
	list-style: none
}
.nextsteps span.ctaOR {
	display: inline-block;
	padding: 16px 0;
	text-align: center;
	width: 50px
} /* new */
.nextsteps p {
	margin-bottom: 15px;
	font-family: Gibson-Light;
}
.nextsteps a.button:link {
/*background: #57616c*/
}

/*Press Releases */
table.view-press-release {
	border: 0 none
}

.node-type-press-release h2 {padding-top: 20px;}

/*Management Team */


span.lightGrey {
	color: #999999 !important;
}
h4 span.lightGrey {
	font-size: 14px !important;
	font-weight: normal;
	text-transform:uppercase;
}



/*Views Block Logo Grid Advertiser Clients*/

tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
	background: none; /*omega line 183*/
}
.block-advertiser-clients-list-block table.views-view-grid {
	margin-top: 72px;
	background: none;
	border: none;
}
.block-advertiser-clients-list-block table.views-view-grid tr {
	height: 300px;
	margin-bottom: 32px;
}
.block-advertiser-clients-list-block table.views-view-grid td div.views-field-field-industry-vertical-image {
	height: 200px;
	margin: 0;
}
.block-advertiser-clients-list-block table.views-view-grid span.field-content {
	border-top: thin dashed #000000;
	display: block;
	margin: 0 auto;
	text-align: center;
	height: 45px;
}
.block-advertiser-clients-list-block table.views-view-grid span.field-content a {
	color: #000000;
	font-family: 'Gibson-SemiBold';
	padding-top: 32px;
	display: block;
}
td.rw-advClients {
	height: 200px;
	margin-bottom: 6px;
	background-color: #FFFFFF;
	width: 200px;
}
.rw-advClients .views-field-field-industry-vertical-image .field-content img {
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	position: relative;
	top: 50%;
	width: 200px;
}
.rw-advClients .views-field-field-industry-vertical-image .field-content {
	height: 200px;
}
ul.adv-box {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.adv-box li {
	float: left;
	width: 200px;
	height: 200px;
	text-align: center;
	background: #ffffff;
	margin: 15px;
	position: relative;
	font-family: 'Gibson-Light', Helvetica, Arial;
	color: #bbbbbb;
	font-size: 12px;
	list-style:none;
	list-style-image:none;
}
ul.adv-box li div.views-field-field-industry-vertical-image {
	height: 170px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 15px;
	height: 170px;
}
ul.adv-box li img {
	width: 170px;
	height: auto
}
ul.adv-box li:hover {
	-webkit-box-shadow: 0px 0px 10px 0px #cccccc;
	-moz-box-shadow: 0px 0px 10px 0px #cccccc;
	box-shadow: 0px 0px 10px 0px #cccccc;
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-kthtml-transition: all .5s linear;
	transition: all .5s linear;
}
/* Power of Affiliate */

.pwr-box {
	min-height: 430px;
	border-bottom: 1px solid #ccc;
}
.pwr-box h2 {
	font-size: 24px;
	padding-top: 0
}
.pwr-img1 {
	background-image: url(../img/power_of_affiliate/pwr-affiliate-1.png);
	display: block;
	background-repeat: no-repeat;
	background-size: 960px 345px;
	background-position: left bottom
}
.pwr-img2 {
	background-image: url(../img/power_of_affiliate/pwr-affiliate-2.png);
	display: block;
	background-repeat: no-repeat;
	background-size: 960px 345px;
	background-position: right bottom
}
.pwr-img3 {
	background-image: url(../img/power_of_affiliate/pwr-affiliate-3.png);
	display: block;
	background-repeat: no-repeat;
	background-size: 960px 345px;
	background-position: left bottom
}
.pwr-img4 {
	background-image: url(../img/power_of_affiliate/pwr-affiliate-4.png);
	display: block;
	background-repeat: no-repeat;
	background-size: 960px 345px;
	background-position: right bottom
}
.pwr-img5 {
	background-image: url(../img/power_of_affiliate/pwr-affiliate-5.png);
	display: block;
	background-repeat: no-repeat;
	background-size: 960px 345px;
	background-position: left bottom
}
/**************** Why CJ ****************/

/* Advertiser Verticals Region */

ul#adVerticalsList li {
	background: url(../img/30x30-advertiser-vertical-icons.png) no-repeat transparent scroll;
	margin-bottom: 18px;
	padding-left: 36px;
	height: 31px;
	list-style:none;
}
ul#adVerticalsList li#avList1 {
	background-position: 0 0;
}
ul#adVerticalsList li#avList2 {
	background-position: 0 -30px;
}
ul#adVerticalsList li#avList3 {
	background-position: 0 -60px;
}
ul#adVerticalsList li#avList4 {
	background-position: 0 -90px;
}
ul#adVerticalsList li#avList5 {
	background-position: 0 -120px;
}
ul#adVerticalsList li#avList6 {
	background-position: 0 -150px;
}
ul#adVerticalsList li#avList7 {
	background-position: 0 -180px;
}
ul#adVerticalsList li#avList8 {
	background-position: 0 -210px;
}
ul#adVerticalsList li#avList9 {
	background-position: 0 -240px;
}
ul#adVerticalsList li#avList10 {
	background-position: 0 -270px;
}
ul#adVerticalsList li#avList11 {
	background-position: 0 -300px;
}
ul#adVerticalsList li#avList12 {
	background-position: 0 -330px;
}
ul#adVerticalsList li#avList13 {
	background-position: 0 -360px;
}
ul#adVerticalsList li#avList14 {
	background-position: 0 -390px;
}
ul#adVerticalsList li#avList15 {
	background-position: 0 -420px;
}
ul#adVerticalsList li#avList16 {
	background-position: 0 -450px;
}
ul#adVerticalsList li#avList17 {
	background-position: 0 -480px;
}
ul#adVerticalsList li#avList18 {
	background-position: 0 -510px;
}
ul#adVerticalsList li#avList19 {
	background-position: 0 -540px;
}
ul#adVerticalsList li#avList20 {
	background-position: 0 -570px;
}
ul#adVerticalsList li#avList21 {
	background-position: 0 -600px;
}
ul#adVerticalsList li#avList22 {
	background-position: 0 -630px;
}
ul#adVerticalsList li#avList23 {
	background-position: 0 -660px;
}
ul#adVerticalsList li#avList24 {
	background-position: 0 -690px;
}
ul#adVerticalsList li#avList25 {
	background-position: 0 -720px;
}
ul#adVerticalsList li#avList26 {
	background-position: 0 -750px;
}
ul#adVerticalsList li#avList27 {
	background-position: 0 -780px;
}
ul#adVerticalsList li#avList28 {
	background-position: 0 -810px;
}
ul#adVerticalsList li#avList29 {
	background-position: 0 -840px;
}
ul#adVerticalsList li#avList30 {
	background-position: 0 -870px;
}
ul#adVerticalsList li#avList31 {
	background-position: 0 -900px;
}
ul#adVerticalsList li#avList32 {
	background-position: 0 -930px;
}
ul#adVerticalsList li#avList33 {
	background-position: 0 -960px;
}
ul#adVerticalsList li#avList34 {
	background-position: 0 -990px;
}
ul#adVerticalsList li#avList35 {
	background-position: 0 -1020px;
}
ul#adVerticalsList li#avList36 {
	background-position: 0 -1050px;
}
ul#adVerticalsList li#avList37 {
	background-position: 0 -1080px;
}
ul#adVerticalsList li#avList1 {
	background-position: 0px 0px;
}
ul#adVerticalsList {
	list-style-type: none;
	width: 760px;
	margin-bottom: 20px;
	overflow: hidden;
}
.view-id-glossary .view-header .glossary-item {
	display: block;
	width: 30px;
	height: 30px;
	background-image: url('../img/glossary-items.png');
}
.view-id-glossary .view-header #gitem-a {
	background-position: 0px 0px;
}
.view-id-glossary .view-header #gitem-b {
	background-position: 0px -36px;
}
.view-id-glossary .view-header #gitem-c {
	background-position: 0px -69px;
}
.view-id-glossary .view-header #gitem-d {
	background-position: 0px -103px;
}
.view-id-glossary .view-header #gitem-e {
	background-position: 0px -136px;
}
.view-id-glossary .view-header #gitem-f {
	background-position: 0px -170px;
}
.view-id-glossary .view-header #gitem-g {
	background-position: 0px -203px;
}
.view-id-glossary .view-header #gitem-h {
	background-position: 0px -237px;
}
.view-id-glossary .view-header #gitem-i {
	background-position: 0px -270px;
}
.view-id-glossary .view-header #gitem-j {
	background-position: -44px 0px;
}
.view-id-glossary .view-header #gitem-k {
	background-position: -44px -36px;
}
.view-id-glossary .view-header #gitem-l {
	background-position: -44px -69px;
}
.view-id-glossary .view-header #gitem-m {
	background-position: -44px -103px;
}
.view-id-glossary .view-header #gitem-n {
	background-position: -44px -136px;
}
.view-id-glossary .view-header #gitem-o {
	background-position: -44px -170px;
}
.view-id-glossary .view-header #gitem-p {
	background-position: -44px -203px;
}
.view-id-glossary .view-header #gitem-q {
	background-position: -44px -237px;
}
.view-id-glossary .view-header #gitem-r {
	background-position: -44px -270px;
}
.view-id-glossary .view-header #gitem-s {
	background-position: -88px 0px;
}
.view-id-glossary .view-header #gitem-t {
	background-position: -88px -36px;
}
.view-id-glossary .view-header #gitem-u {
	background-position: -88px -69px;
}
.view-id-glossary .view-header #gitem-v {
	background-position: -88px -103px;
}
.view-id-glossary .view-header #gitem-w {
	background-position: -88px -136px;
}
.view-id-glossary .view-header #gitem-x {
	background-position: -88px -170px;
}
.view-id-glossary .view-header #gitem-y {
	background-position: -88px -203px;
}
.view-id-glossary .view-header #gitem-z {
	background-position: -88px -237px;
}
/*About Timeline*/

#zone-about-timeline {
	margin: 0;
	width: 100%;
}
.context-about-cj .zone-white-1-wrapper .region-white-1, .context-about-cj .zone-white-1-wrapper .container-12 {
	margin: 0;
	width: 100%!important;
}
#region-about-timeline {
	margin: 0;
	width: 100%;
}
#zone-about-timeline-wrapper {
	overflow: hidden;
	width: 100%;
}
#zone-about-timeline-wrapper .wrapper-inner {
	margin: 0 auto;
}
/*new from Gavin */
.storyjs-embed.sized-embed {
	overflow: hidden;
	border: none !important;
	padding-top: 7px;
	padding-bottom: 7px;
	margin: 0 !important;
	clear: both;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none !important;
	box-shadow: none!important;
}
.storyjs-embed {
	border: none !important
}

@media only screen and (max-width: 480px) {
.logo {
	width: 30%;
margin::0 auto;
}
div.nav {
	height: auto;
	background: none;
}
.fullwidthbanner-container {
	display: none
}
.dropdown_5columns {
	display: none;
}
ul#menu {
	background: #333;
	-webkit-border-radius: 3px !important;
	overflow: hidden;
	border-radius: 3px !important;
	margin-bottom: 10px !important;
	height: auto !important;
	width: 80%
}
ul#menu li {
	text-align: left;
	background: #333;
	float: none;
	padding: 5px 0 !important;
	width: 100%;
	border-top: 1px solid #555;
	border-bottom: 1px solid #111;
	padding-left: 10px !important;
	background-image: none !important;
	border-radius: 3px !important;
	list-style:none;
}
ul#menu li a {
	color: #fff !important;
	border-radius: 0 !important;
	display: compact
}
ul#menu li a.drop {
	background: none !important;
	padding: 0;
	margin: 0;
}
ul#menu li:hover {
	background: #444;
	border: solid 1px #555555
}
ul#menu li.new-to-affiliate {
	float: right;
	background: #669900; /* Old browsers */
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	padding-top: 3px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-bottom: none;
}
ul#menu li.new a.fire {
	font-size: 14px !important;
	font-weight: 600
}
.gallery {
	display: none
}
}
/***** Lead Form *******/
   
.form-id-button {width: 45%;}

/******* RESPONSIVE SLIDER **********/
 
 
.fullwidthbanner-container {/*fixed width option*/
/*width:100% !important;
		position:relative;
		padding:0;
		max-height:550px !important;
		overflow:hidden;
		margin: 0 auto;
		display:block!important;*/
}
/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

  /*********************************************************************************************
		-	SET THE SCREEN SIZES FOR THE BANNER IF YOU WISH TO MAKE THE BANNER RESOPONSIVE 	-
  **********************************************************************************************/

  /*	-	THE BANNER CONTAINER (Padding, Shadow, Border etc. )	-	*/
  
  
.banner_container {
	/* padding:5px;
    background-color:#fff;*/
	width: 1280px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow-y: hidden;
	display: block;
}
.banner {
	width: 1280px;
// MUST BE THE SAME AS IN THE cj.js OPTIONS <strong>startwidth</strong> height:550px;
// MUST BE THE SAME AS IN THE cj.js OPTIONS <strong>startheight</strong> position:relative;
	overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
.banner, .banner_container {
	width: 1024px;
	height: 412px;
}
/* .bannershadow {width:750px;}*/
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.banner, .banner_container {
	width: 480px;
	height: 250px;
}
/*.bannershadow {width:470px;}*/
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
.banner, .banner_container {
	width: 320px;
	height: 166px;
}
/*.bannershadow {width:300px; margin-top:-5px;}*/
}

/****************** Kill IE *******************/

body {
	z-index: 0 !important
}
.darken {
/*	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	display: none;
	z-index: 1000000000*/
}
div.takeover, div.killIE7 {
	-webkit-box-shadow: 0px 0px 35px 0px #333333;
	box-shadow: 0px 0px 35px 0px #333333;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	opacity: 0;
	display: none;
	position: fixed;
	z-index: 10000000001;
	width: 350px;
	height: 200px;
	padding: 20px;
	margin-top: -130px;
	top: 50%;
	margin-left: -205px;
	left: 50%;
	background: #eee;
	border: 1px solid #ccc;
}
div.killIE7 {
	font-size: 14px;
	width: 500px;
	height: 350px;
}
div.killIE7 a {
	font-size: 14px;
}
.blue-cta {
	padding: 10px 15px;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(171, 213, 255, 1);
	box-shadow: inset 0px 1px 0px 0px rgba(171, 213, 255, 1);
	border: solid #2e89ff 1px;
	background: #0b67b3;
	color: #fff;
}
a.green_links {
	color: #333333 !important;
	text-decoration: underline !important;
	font-weight: 600 !important
}
.ftBox ul a, .ftB2 a {
	font-size: 12px;
	font-family: 'Gibson-Light', Helvetica, Arial
}
.ftB2 a {
	color: #fff
}
/* #search-by-page-form {
	margin-top: 0 !important
}
#search-by-page-form #edit-submit {
	padding-top: 35px !important;
}
#search-by-page-form input {
	padding: 15px 0px 15px 20px !important;
	height: auto !important
}*/


/** End Kill IE **/


/* Landing Page CSS */

/*white button */

.button2 {
	background-color: #999;
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
	background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
	background-image: -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
	background-image: -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
	background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
	border: none;
	border-radius: .5em;
	box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2), inset 0 2px 0 hsla(0,0%,100%,.1), inset 0 1.2em 0 hsla(0,0%,100%,0.1), inset 0 -.2em 0 hsla(0,0%,100%,.1), inset 0 -.25em 0 hsla(0,0%,0%,.25), 0 .25em .25em hsla(0,0%,0%,.05);
	color: #00AF66;
	cursor: pointer;
	display: inline-block;
	font-size: 1.2em;
	line-height: 1.5;
	margin: 0 .5em 1em;
	padding: 15px 60px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
	vertical-align: middle;
	font-family: 'Gibson-Bold', Helvetica, Arial, sans-serif;
}
.button2:hover {
	outline: none;
}
.button2:hover, .button2:focus {
	box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2), inset 0 2px 0 hsla(0,0%,100%,.1), inset 0 1.2em 0 hsla(0,0%,100%,.1), inset 0 -.2em 0 hsla(0,0%,100%,.1), inset 0 -.25em 0 hsla(0,0%,0%,.25), inset 0 0 0 3em hsla(0,0%,100%,.2), 0 .25em .25em hsla(0,0%,0%,.05);
}
.button2:active {
	box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2), inset 0 2px 0 hsla(0,0%,100%,.1), inset 0 1.2em 0 hsla(0,0%,100%,.1), inset 0 0 0 3em hsla(0,0%,100%,.2), inset 0 .25em .5em hsla(0,0%,0%,.05), 0 -1px 1px hsla(0,0%,0%,.1), 0 1px 1px hsla(0,0%,100%,.25);
	margin-top: .25em;
	outline: none;
	padding-bottom: .5em;
}
/* Large */
.large {
	font-size: 1.7em;
}
/* Square */
.square {
	border-radius: .25em;
}
/* White */
.white {
	background-color: #fff;
}

/* Publisher Classification */


.pub-classification .container-12 {padding-bottom:50px}
