/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */



.node-type-landing-page .grid-8 h2, .node-type-landing-alternate-format .grid-8 h2 {
    color: #666;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 6px;
}

/*
Front :: 2 fixed divs in front of slider
*/
#frontfixed-outer {
	position:relative;
	
	z-index:22 !important;
	width:960px;
	margin:0 auto;
	margin-top:-100px 
	
}

/*
Front :: 2 fixed divs in front of slider
*/
#frontfixed-outer {
	position:relative;
	
	z-index:22 !important;
	width:960px;
	margin:0 auto;
	margin-top:-150px 
	
}

.frontfixed-item {
	float:left;
	width:330px;
	height:290px;
	/*background:rgb(255,255,255);
	background:rgba(255,255,255,0.6);*/
	background:rgb(255,255,255);
	background:rgba(255, 255, 255, 0.8);
	padding:20px;
	position:relative;
	-webkit-border-radius:12px;
	border-radius:8px;
	-webkit-box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.2);
     overflow:hidden;   
        box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.2);

}

.frontfixed-item > p > span.fs24 a {font-family:'futura_std_bookregular', Arial, Helvetica !important; font-weight:normal; text-shadow:0 1px 0 #fff}
.frontfixed-item > p > span.fs18  {color:#555; font-family:'helveticaneuelt_std_ltregular', Arial; font-size:13px;text-shadow:0 1px 0 #fff}
.frontfixed-item > img {
	position:relative;
	top:114px;
	max-width:100%
}
.frontfixed-item.item2 {
	margin-left:20px;
	
}

.frontfixed-item p {
  /*  background: url('../img/whatsnewitem.png') 0 0 no-repeat;*/
  color: #fff;
}

.frontfixed-item p .fs24 {
	color: #6C9200;
	text-shadow: 0px 1px 1px #333;
	
}

.frontfixed-item p a {
		color: #6C9200;
		text-decoration: none;
}

/* Social Icons */

a#ftL1, a#ftL2, a#ftL3, a#ftL4, a#ftL5, a#ftL6, a#ftL7, a#ftL8 {    margin: 0px 2px 0px 0px;}

