/* @license
 * MyFonts Webfont Build ID 2691808, 2013-11-19T16:06:51-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Gibson Light by Canada Type
 * URL: http://www.myfonts.com/fonts/canadatype/gibson/light/
 * 
 * Webfont: Gibson Light Italic by Canada Type
 * URL: http://www.myfonts.com/fonts/canadatype/gibson/light-italic/
 * 
 * Webfont: Gibson Bold Italic by Canada Type
 * URL: http://www.myfonts.com/fonts/canadatype/gibson/bold-italic/
 * 
 * Webfont: Gibson Semi Bold Italic by Canada Type
 * URL: http://www.myfonts.com/fonts/canadatype/gibson/semi-bold-italic/
 * 
 * Webfont: Gibson Bold by Canada Type
 * URL: http://www.myfonts.com/fonts/canadatype/gibson/bold/
 * 
 * Webfont: Gibson by Canada Type
 * URL: http://www.myfonts.com/fonts/canadatype/gibson/regular/
 * 
 * Webfont: Gibson Semi Bold by Canada Type
 * URL: http://www.myfonts.com/fonts/canadatype/gibson/semi-bold/
 * 
 * Webfont: Gibson Italic by Canada Type
 * URL: http://www.myfonts.com/fonts/canadatype/gibson/italic/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2691808
 * Licensed pageviews: 250,000
 * Webfonts copyright: Copyright &#x00A9; 2011 Rod McDonald. Published by Canada Type. All rights reserved.
 * 
 * Â© 2013 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2912e0");

@font-face {
		font-family:'Gibson-Light';
		src:url('../fonts/2912E0_0.svg#Gibson-Light') format('svg');
		src: url('../fonts/2912E0_0.eot');
        src: url('../fonts/2912E0_0.eot?#iefix') format('embedded-opentype'),
			url('../fonts/2912E0_0.woff') format('woff'),
			url('../fonts/2912E0_0.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	.webfont_0 {
		font-family: Gibson-Light;
	}
		
	@font-face {
		font-family:'Gibson-LightIt';
		src:url('../fonts/2912E0_1.svg#Gibson-LightIt') format('svg');
		src: url('../fonts/2912E0_1.eot');
        src: url('../fonts/2912E0_1.eot?#iefix') format('embedded-opentype'),
			url('../fonts/2912E0_1.woff') format('woff'),
			url('../fonts/2912E0_1.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	.webfont_1 {
		font-family: Gibson-LightIt;
	}
		
	@font-face {
		font-family:'Gibson-BoldItalic';
		src:url('../fonts/2912E0_2.svg#Gibson-BoldItalic') format('svg');
		src: url('../fonts/2912E0_2.eot');
        src: url('../fonts/2912E0_2.eot?#iefix') format('embedded-opentype'),
			url('../fonts/2912E0_2.woff') format('woff'),
			url('../fonts/2912E0_2.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	.webfont_2 {
		font-family: Gibson-BoldItalic;
	}
		
	@font-face {
		font-family:'Gibson-SemiboldIt';
		src:url('../fonts/2912E0_3.svg#Gibson-SemiboldIt') format('svg');
		src: url('../fonts/2912E0_3.eot');
        src: url('../fonts/2912E0_3.eot?#iefix') format('embedded-opentype'),
			url('../fonts/2912E0_3.woff') format('woff'),
			url('../fonts/2912E0_3.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	.webfont_3 {
		font-family: Gibson-SemiboldIt;
	}
		
	@font-face {
		font-family:'Gibson-Bold';
		src:url('../fonts/2912E0_4.svg#Gibson-Bold') format('svg');
		src: url('../fonts/2912E0_4.eot');
        src: url('../fonts/2912E0_4.eot?#iefix') format('embedded-opentype'),
			url('../fonts/2912E0_4.woff') format('woff'),
			url('../fonts/2912E0_4.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	.webfont_4 {
		font-family: Gibson-Bold;
	}
		
	@font-face {
		font-family:'Gibson-Regular';
		src: url('../fonts/2912E0_5.svg#Gibson-Regular') format('svg');
		src: url('../fonts/2912E0_5.eot');
        src: url('../fonts/2912E0_5.eot?#iefix') format('embedded-opentype'),
			url('../fonts/2912E0_5.woff') format('woff'),
			url('../fonts/2912E0_5.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	.webfont_5 {
		font-family: Gibson-Regular;
	}
		
	@font-face {
		font-family:'Gibson-SemiBold';
		src:url('../fonts/2912E0_6.svg#Gibson-SemiBold') format('svg');
		src: url('../fonts/2912E0_6.eot');
        src: url('../fonts/2912E0_6.eot?#iefix') format('embedded-opentype'),
			url('../fonts/2912E0_6.woff') format('woff'),
			url('../fonts/2912E0_6.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	.webfont_6 {
		font-family: Gibson-SemiBold;
	}
		
/*	@font-face {
		font-family:'Gibson-Italic';
		src: url('../fonts/2912E0_7.svg#Gibson-Italic') format('svg');
		src: url('../fonts/2912E0_7.eot');
        src: url('../fonts/2912E0_7.eot?#iefix') format('embedded-opentype'),
			url('../fonts/2912E0_7.woff') format('woff') format('woff'),
			url('../fonts/2912E0_7.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}*/
	

@font-face {font-family: 'Gibson-Italic';
src: url('../fonts/2912E0_7_0.eot');
src: url('../fonts/2912E0_7_0.eot?#iefix') format('embedded-opentype'),
url('../fonts/2912E0_7_0.woff') format('woff'),
url('../fonts/2912E0_7_0.ttf') format('truetype'),
url('../fonts/2912E0_7_0.svg#wf') format('svg');
		font-weight: normal;
		font-style: normal;}

	
	
	.webfont_7 {
		font-family: Gibson-Italic;
	}
	



/* Icons */
@font-face {
	font-family: 'uicons__controls_and_navigaRg';
	src: url('../fonts/uicons_controls_and_navigation-webfont.eot');
	src: url('../fonts/uicons_controls_and_navigation-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/uicons_controls_and_navigation-webfont.woff') format('woff'),  url('../fonts/uicons_controls_and_navigation-webfont.ttf') format('truetype'),  url('uicons_controls_and_navigation-webfont.svg#uicons__controls_and_navigaRg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'uicons_general_pictogramsRg';
	src: url('../fonts/uicons_general_pictograms_i-webfont.eot');
	src: url('../fonts/uicons_general_pictograms_i-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/uicons_general_pictograms_i-webfont.woff') format('woff'),  url('../fonts/uicons_general_pictograms_i-webfont.ttf') format('truetype'),  url('../fonts/uicons_general_pictograms_i-webfont.svg#uicons_general_pictogramsRg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'uicons_general_pictograms_iRg';
	src: url('../fonts/uicons_general_pictograms_ii-webfont.eot');
	src: url('../fonts/uicons_general_pictograms_ii-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/uicons_general_pictograms_ii-webfont.woff') format('woff'),  url('../fonts/uicons_general_pictograms_ii-webfont.ttf') format('truetype'),  url('../fonts/uicons_general_pictograms_ii-webfont.svg#uicons_general_pictograms_iRg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'uicons_business_and_financeRg';
	src: url('../fonts/uicons_business_and_finance-webfont.eot');
	src: url('../fonts/uicons_business_and_finance-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/uicons_business_and_finance-webfont.woff') format('woff'),  url('../fonts/uicons_business_and_finance-webfont.ttf') format('truetype'),  url('../fonts/uicons_business_and_finance-webfont.svg#uicons_business_and_financeRg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'uicons__social_mediaregular';
	src: url('../fonts/uicons_social_media-webfont.eot');
	src: url('../fonts/uicons_social_media-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/uicons_social_media-webfont.woff') format('woff'),  url('../fonts/uicons_social_media-webfont.ttf') format('truetype'),  url('../fonts/uicons_social_media-webfont.svg#uicons__social_mediaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'uicons__communications_and_Rg';
	src: url('../fonts/uicons_communications_tech-webfont.eot');
	src: url('../fonts/uicons_communications_tech-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/uicons_communications_tech-webfont.woff') format('woff'),  url('../fonts/uicons_communications_tech-webfont.ttf') format('truetype'),  url('../fonts/uicons_communications_tech-webfont.svg#uicons__communications_and_Rg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'uicons__tools_and_gadgetsRg';
	src: url('../fonts/uicons_tools_gadgets_transport-webfont.eot');
	src: url('../fonts/uicons_tools_gadgets_transport-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/uicons_tools_gadgets_transport-webfont.woff') format('woff'),  url('../fonts/uicons_tools_gadgets_transport-webfont.ttf') format('truetype'),  url('../fonts/uicons_tools_gadgets_transport-webfont.svg#uicons__tools_and_gadgetsRg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'uicons__toys_and_sportregular';
	src: url('../fonts/uicons_toys_and_sport-webfont.eot');
	src: url('../fonts/uicons_toys_and_sport-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/uicons_toys_and_sport-webfont.woff') format('woff'),  url('../fonts/uicons_toys_and_sport-webfont.ttf') format('truetype'),  url('../fonts/uicons_toys_and_sport-webfont.svg#uicons__toys_and_sportregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.toys-sports-icon {
	font-family: 'uicons__toys_and_sportregular';
}
.tools-icon {
	font-family: 'uicons__tools_and_gadgetsRg';
}
.com-icons {
	font-family: 'uicons__communications_and_Rg';
}
.social-icon {
	font-family: 'uicons__social_mediaregular';
}
.biz-icon {
	font-family: 'uicons_business_and_financeRg';
}
.gen-icon {
	font-family: 'uicons_general_pictogramsRg';
}
.gen-icons2 {
	font-family: 'uicons_general_pictograms_iRg';
}
.control-icon {
	font-family: 'uicons__controls_and_navigaRg';
}

@font-face {
  font-family: 'flexslider-icon';
  src: url('/sites/all/libraries/flexslider/fonts/flexslider-icon.eot');
  src: url('/sites/all/libraries/flexslider/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('/sites/all/libraries/flexslider/fonts/flexslider-icon.woff') format('woff'), url('/sites/all/libraries/flexslider/fonts/flexslider-icon.ttf') format('truetype'), url('/sites/all/libraries/flexslider/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*  END FONTS */



body {	
	font: 1em 'Gibson-Light', Helvetica, Arial, sans-serif;
	letter-spacing:normal;
	color:#333333;
	line-height:1.6em;
	background-color:#f8f8f8;
	height: 100%;
	position:relative;
}
p, li {font-family: 'Gibson-Light'; font-size: 16px; line-height: 24px;}

h1,h2,h3,h4,h5,h6,h7,h8{
	font-family:'Gibson-Regular', Helvetica, Helvetica, Arial;
	font-weight:normal;	
	}

h1 {font-size: 2em;line-height: 1.2em;}
h2.block-title {font-size: 1.6em; line-height: 1.4em}
h2 {font-size: 1.2em; line-height: 1.1em}
h4 {font-size: .8em;line-height: 1.3em;}

a:link, a:visited {color: #00AF66;text-decoration:none;}

a:hover {color: #49C5B1!important;}

hr {background: #00AF66}

h4 a:link, h4 a:visited {color:#444444; }


ul, li {list-style: inside none disc;}
ul.genList, ul.genList li, ul.border, ul.border li, ul.flex-direction-nav, ul.flex-direction-nav li {list-style: none;}

/*.clearfix {clear:both}*/

.centered {margin: 0 auto;text-align: center;display:block}

.text-uppercase {letter-spacing: 2px}

.fixed {position: fixed;top: 0px;} 

/* this is for adding a margin for the menu items 
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10,
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19,
.grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
  position: relative;
  margin-top:10px;
  margin-bottom: 10px;
}*/

/*** responsive sidr menu ***/

.arrow-down a:before {color: rgba(255, 255, 255, 0.5);
font-size: 40px;
  display: inline-block;
  content: "\f005";
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  opacity: 0.8;
  overflow: hidden;
  cursor: pointer;
  font-family: "flexslider-icon";
  font-weight: normal;
  font-style: normal;
  width: 36px;
  height: 26px;}
  

.block-main-menu #sidr-0-button{
background: #333!important;
padding: 15px 20px;
border-radius: 10px;
color: white!important;}


/******* MENU *********/

#block-system-main-menu ul.menu li#login-mobile {display:none; }
#sidr-id-login-mobile {background:#00AF66;}

#admin-menu
{
    padding:0;
    margin:0;
}

#menu {
	list-style:none;
	width:95%;
	margin:0 auto;
	height:auto;
	background:#333;
	display:none}

select.mobile-menu {display:block; width:100%}



#menu li {
	float:none;
	display:block;
	text-align:center;
	position:relative;
	padding: 4px 5px 4px 10px;
	border:none;
	
}
#menu li:hover {
	border: 1px solid #444;
	padding: 4px;
	background: #555555;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#menu li a {
	font-size:17px;
	color: #EEEEEE;
	display:block;
	outline:0;
	text-decoration:none;
	font-family:'Gibson-Regular';
}
#menu li a.drop {
	font-family:'Gibson-Regular';
}
#menu li:hover a {
	color:#ffffff;
}
#menu li.new-to-affiliate {
    height: auto;
	float:none;
	background:#444;
	padding: 2px 15px 2px 15px;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:none;
	box-shadow: none;
	margin-top:0px;
}
#menu li.new-to-affiliate img {padding-top:3px; float:left}
#menu li.new-to-affiliate span { display:block; width:250px; padding-top:6px; font-size: 16px;}
#menu li.new-to-affiliate:hover {
	display:inline-block; /* IE is so silly */
	border:none;
}
#menu li.new-to-affiliate a {
	font-family:'Gibson-Regular'; color:#333;
}
#menu li.new-to-affiliate a:hover {
	font-size:17px;
	display:block;
	outline:0;
	text-decoration:none;
}
#menu li .drop {
	padding-right:0px;
	background:none;
}
#menu li:hover .drop {
	background:none;
}

/* end global menu */

.dropdown_1column, .dropdown_2columns, .dropdown_3columns, .dropdown_4columns, .dropdown_5columns {
	display:none;
}

 
img, .slides img {
	max-width: 100%;
	height: auto;
}
/*The above responsive image CSS works on IE7 and IE9, but doesn't work on IE8. To fix it, add width:auto. You may apply a conditional CSS specifically for IE8 or use the IE hack below:
*/

@media \0screen {
  img { 
  	width: auto; /* for ie 8 */
  }
}


/* Country Menu */

/* Top logo, login, menu */

#block-block-1 ul li {
    float: left;
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0;
	list-style:none;
}


/*  Buttons    */

.button, .form-submit, button, input[type="reset"], input[type="submit"], input[type="button"], .mktoButton {
	width: auto;
	color: #fff!important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 14px;
	font-family: 'Gibson-Regular'!important;
	line-height: 1;
	margin: 0;
	padding: 10px 20px 11px!important;
	position: relative;
	text-align: center;
	text-decoration: none;
	font-weight: normal !important;
	background: #00AF66;
	text-shadow: none;
	letter-spacing: .1em;
	text-transform: uppercase;
}



/*************Responsive Video Container**************/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /*padding-top: 30px; */
	height: 0; 
	overflow: hidden;
	margin-bottom: 20px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/***** RM Homepage Slider *****/

.banner_container{
		display:none;
		overflow:hidden;}
		
/* RM Block 3 Homepage Get Started Margin 

.block-block-3 {margin-top:0}	*/

.frontfixed-item.item1 img, .frontfixed-item.item2 img {display:none}


/* colorize blocks */

/* Landing Page Block Styling */

.top-block h1, .top-block h2, .top-block h2.block-title, .top-block.black-block h2 {color: #00af66; text-transform: uppercase;
	
letter-spacing: 2px;line-height: 1em;}

.top-block h1 {font-family: 'Gibson-SemiBold'!important;}
	
.discovery h4 {letter-spacing: 2px}


/* .landing-page h4 {text-transform: uppercase;}*/
	
.green-block h2, .grey-block h2, .black-block h2, .green-block h2, .teal-block h2, .landing-page h2 {font-family: 'Gibson-Light';}	
.green-block h3, .grey-block h3, .black-block h3, .green-block h3, .top-block h3, .teal-block h3, .landing-page h3 {font-family: 'Gibson-Regular'; }
.green-block a, .green-block a:visited, .black-block a, .black-block a:visited, .white-block a, .white-block a:visited, .teal-block a, .teal-block a:visited, .grey-block a, .grey-block a:visited {font-family: 'Gibson-Light'!important;}


/* color fonts */
.black-block .boxed, .green-block .boxed, .green-block, .black-block p, .black-block li, .black-block h3, .top-block h3, .green-block h2, .black-block h2, .black-block h4, .green-block a, .green-block a:visited, .black-block a, .black-block a:visited, .black-block p, .top-block.black-block p, .green-block h2.block-title {color: #fff}


.white-block p, .white-block h4, .white-block h2, .white-block h2.block-title, .teal-block, .teal-block a, .teal-block a:visited {color:#101820}
.grey-block h2, .grey-block h3, .white-block a, .white-block a:visited, .black-block a, .black-block a:visited, .black-block h2.rules, .black-block h2 span.rules, .white-block span.boxed, .white-block h3 .panel, .grey-block h3 .panel, .panel h3{color: #00af66}

/* color background */
.zone-front-slider-wrapper {background-color:#101820}

/* Green Zone - NOW BLUE */
.zone-green-1-wrapper, .zone-green-2-wrapper {
	background: #101820;  /*Old browsers */
}
.zone-green-1-wrapper, .zone-green-2-wrapper, .zone-green-1-wrapper h2, .zone-green-2-wrapper h2 {
	/*color: #fff;*/
}
.zone-green-1-wrapper .whitepanel, .zone-green-2-wrapper .whitepanel {
	background: rgba(255, 255, 255, 0.6);
	background: #fff\9;  IE 8 and below 
}
/* Grey Gradient Zone */

.zone-grey-grad-1-wrapper {
	background: #f8f8f8;  /*Old browsers */
}
.zone-grey-grad-1-wrapper h2, .zone-grey-grad-2-wrapper h2 {
	/*color: #fff;*/
}
/* White Zone */

.zone-white-1-wrapper, .zone-white-2-wrapper, body.node-type-agreements .zone-content-wrapper {
	overflow: hidden;
	width: 100%;
	background-color: #FFF;
	background: #FFF}
	
/*#zone-white-1-wrapper .wrapper-inner {margin:0 auto; }*/

.zone-white-1-wrapper h2.block-title, .zone-white-2-wrapper h2.block-title, .zone-white-3-wrapper h2.block-title, .grey-block, .white-block {
	/*color: #101820;*/
}
/* Blue Zone */

.zone-blue-1-wrapper {
	/* Adjust percentages on the end to make the inner color larger or smaller */
	background-color: #101820;
}
.zone-blue-1-wrapper .size {
	height: 900px;
}
.zone-blue-1-wrapper h2, .zone-blue-1-wrapper p {
	color: #fff;
}
/*#zone-blue-wrapper .wrapper-inner {margin:0 auto;background: url("../img/bluebg.jpg") 100% 0 no-repeat;}*/

/* Grey Zone */

.zone-grey-1-wrapper, .zone-grey-2-wrapper, .zone-grey-3-wrapper, .node-type-landing-page .zone-content-wrapper, .zone-content-wrapper{
background: #f8f8f8;
}
.zone-grey-1-wrapper .region-inner, .node-type-landing-page .zone-content-wrapper .region-inner {
	margin: 0 auto;
}
.zone-grey-1-wrapper h2.block-title, .zone-grey-2-wrapper h2.block-title, .zone-grey-3-wrapper h2.block-title, .node-type-landing-page .zone-content-wrapper h2.block-title{
	/*color: #333333;*/
}

h2.rules, h2 .boxed, h2 span.boxed, h2 span.rules, .white-block h3 .panel, .grey-block h3 .panel, .panel h3 {text-transform: uppercase;text-align: center;letter-spacing: 2px;}

/* Adv & Pub Network Values */
.adv-main .zone-grey-1-wrapper, .pub-main .zone-grey-1-wrapper {
background: #959595; 
background-color: #959595; 
background: linear-gradient(135deg, #959595 0%, #0D0D0D 46%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%) repeat scroll 0% 0% transparent;
background: -moz-linear-gradient(-45deg,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
background: linear-gradient(135deg,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.adv-main .zone-grey-1-wrapper .item-list, .pub-main .zone-grey-1-wrapper .item-list {display:none}
.adv-main .zone-grey-1-wrapper p, .pub-main .zone-grey-1-wrapper p {margin-bottom: 20px}

.view-publisher-network-values .item-list, .view-advertiser-network-values .item-list {display:none}


/***** Lead Form *******/
   
#content-logo {
	display: none;
}
.form-id-button img {
	padding-top: 10px;
}
.form-id-button {
	height: auto;
	cursor: pointer !important;
	position: relative;
	margin: 20px 0 20px 0;
	float: left;
	font-size: 14px !important;
	line-height: normal;
	border-top: 1px solid #ffffff;
	background: #f8f8f8;
	padding: 15px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #555555;
	text-decoration: none;
	vertical-align: middle;
}
.form-id-button:hover {
	border-top-color: #b8b8b8;
	background: #f1f1f1;
}
.form-id-button:active {
	border-top-color: #00AF66;
	background: #00AF66;
}
.form-id-button h2 {
	margin: 0;
}
.form-id-button p.cta2 {
	font-size: 16px;
	font-weight: 600
}
#form-id-pub {
	margin-left: 10px;
}
.get-started-adv {
	display: none
}




/******* RM Footer from Mobile ********/

.footer-nav {display:none}

/***********Language Redirect Buttons ***********/

.css3button {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	padding: 5px 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;

}

/* Press Release */
.node-type-press-release ul {list-style-position:inside}

.node-type-press-release hr {
    margin-top: 0!important;
    margin-bottom: 20px!important;
    border-bottom: 1px solid #ccc;
}


/* Landing Page Styles */
.node-type-landing-page .grid-8 h2, .node-type-landing-alternate-format .grid-8 h2 {
    color: #666;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 6px;
	text-transform:uppercase;
}

.lnd-greyboxh2 {
    background: none repeat scroll 0px 0px #808080;
    height: 2px;
    overflow: hidden;
    width: 60%;}

/*.landing-page li {list-style: none;}*/

/* Footer */

.footer-nav {
	display: block
}
.zone-footer-wide-wrapper {
	color: #7D7D7D;
	font-size: 12px;
}

.fs24 {
	font-size: 22px;
}
.fs18, .block-front-slider p {
	font-size: 16px;
	line-height: 18px;
}
.fwbold {
	font-family: 'Gibson-SemiBold';
}


.zone-footer-wide-wrapper ul {
	list-style-type: none;
}
.zone-footer-wide-wrapper div.ftBkgrd {
	margin-top: 36px;
}
.zone-footer-wide-wrapper ul.genList li {
	background: none;
}
.footer-nav a:link, .footer-nav a:visited, .footer-nav a:active, .zone-footer-wide a:visited, .zone-footer-wide a, .zone-footer-wide a:active, .footer-nav a.active, .zone-footer-wide .expanded .leaf a.active {
	color: #7D7D7D;
}
.block-menu-block-1, .block-block-57, .copyright {
	padding-top: 30px;
}
#footer-links ul li.parent, #footer-links div.block-menu, #block-jquerymenu-1 {
	/*margin: 0px 0px 0 10px;
	width: 150px;*/
	display: inline;
	float: left;
	list-style: none;
}
.zone-footer-wide ul.menu li/*,.zone-footer-wide li.collapsed*/, .zone-footer-wide li.leaf {
	margin: 0;
	padding: 0
}
.zone-footer-wide .menu .expanded {
	margin-left: 10px;
	margin-right: 10px;
}
.zone-footer-wide .expanded ul.menu li.leaf {
	padding-bottom: 10px
}
.menu-mlid-3278, .menu-mlid-3289, .menu-mlid-3301, .menu-mlid-3310 {
	/*margin: 0px 0px 0 10px;*/
	display: inline;
	float: left;
	list-style: none;
}
.menu-mlid-3278 {
/*width: 350px*/
}
.zone-footer-wide .menu li.menu-mlid-3278 .menu li {
	list-style-type: none;
	float: left;
	width: 50%;/*padding-right: 20px;*/
}
/* footer headers */

.zone-footer-wide .menu .expanded, .zone-footer-wide .menu .first.expanded {
	font-size: 22px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-family: 'Gibson-Regular';
	list-style-image: none;
	list-style-type: none;
	/*padding-right: 20px;*/
	color: #b0b0b0!important;
}
.zone-footer-wide h3, .zone-footer-wide h3 a title, li.expanded:nth-child(1) > a:nth-child(1), li.expanded:nth-child(2) > a:nth-child(1), li.expanded:nth-child(3) > a:nth-child(1), li.expanded:nth-child(4) > a:nth-child(1) {
	margin-top: 0;
	color: #b0b0b0
}
.block-menu-block {
	border-bottom: 1px solid #00AF66;
	padding-bottom: 30px
}
.zone-footer-wide .menu .last.expanded {
	margin: 0/*	padding-right: 0!important*/
}
.zone-footer-wide ul.menu ul.menu {
	padding-top: 10px
}
/* footer links */

.zone-footer-wide .expanded .menu .leaf {
	font-size: 12px;
	font-family: 'Gibson-Light';
	list-style-image: none;
	list-style-type: none;
	text-transform: none;
	line-height: 14px;
	padding-bottom: 9px;
	margin: 0;
}
/* social icons */


a#ftL1, a#ftL2, a#ftL3, a#ftL4, a#ftL5, a#ftL6, a#ftL7, a#ftL8 {
	display: inline-block;
	margin: 0 15px 0 0;
	background: url("../img/footer_socialBadges.png") no-repeat transparent;
	padding: 30px 30px 0 0;
}
a#ftL1 {
	background-position: 1px 0;
}
a#ftL2 {
	background-position: -30px 0;
}
a#ftL3 {
	background-position: -61px 0;
}
a#ftL4 {
	background-position: -95px 0;
}
a#ftL5 {
	background-position: -127px 0;
}
a#ftL6 {
	background-position: -158px 0;
}
a#ftL7 {
	background-position: -189px 0;
}
a#ftL8 {
	background-position: -221px 0;
}
#zone-footer-wide-wrapper {
	font-size: 12px;
	padding: 0 0 40px;
	background: #101820;
}
.leftFloatBoxft {
	float: left;
	margin: 0;
	padding: 0;
}
.ftB1 {
	width: 128px;
	margin-top: 36px;
}
.ftB2 {
	width: 340px;
	margin: 36px;
	font-size: 11px
}
.ftB3 {
	margin-top: 15px;
}
.ftB4 {
	margin: 15px 0 0 36px;
}
.ftB4 p {
	margin-bottom: 0;
}
/* Footer menus Adv, Publisher, About CJ etc. */
.ftBox {
	float: left;
	padding: 0;
	margin: 0;
}
.ftBox a {
	color: #FFFFFF;
}
.ftBox ul {
	font-size: 9px;
	padding: 0;
	margin: 0;
}
.ftMenuAdv {
	float: left;
	margin-right: 18px;
}
.ftBoxa {
	width: 300px;
	padding-right: 16px;
}
.ftBoxb {
	width: 180px;
	padding-right: 18px;
	padding-left: 18px;
}
.ftBoxc {
	width: 125px;
	margin-top: 36px;
	padding-left: 18px;
}

.section-footer .circle {display:inline-block; margin-right:10px;}

/* end Footer */
/*****Responsive Menu *****/
/* for 360px and below */
.responsive-layout-mobile .mobile-zone .grid-3, .responsive-layout-mobile #toolbox-list .grid-6 {margin-top:0; margin-bottom:0}
.responsive-layout-mobile .login-block, .responsive-layout-mobile .block-1 {display:none}
body.responsive-layout-mobile, body.responsive-layout-narrow {background-color: #fff; font-size:1.1em; line-height:1.7em;font-family: "Gibson-Regular"}
.responsive-layout-mobile .zone-user-wrapper {height: 53px;padding: 5px 0;}
.responsive-layout-mobile .zone-wrapper, .responsive-layout-mobile #section-content .zone-grey-1-wrapper.zone-wrapper {margin-top: 0px;padding: 20px 0px}


.responsive-layout-mobile .logo-img {
  /* clip: rect(0px, 50px, 60px, 0px);
  position: absolute;
  top: 5px;
  left: 0;
  margin-left: 44%;
  overflow: hidden; */
  clip: rect(0px, 46px, 46px, 0px);
  position: absolute;
  top: 0px;
  left: 44%;
  overflow: hidden;
  margin: 4px;
}

.responsive-layout-mobile .logo-img img {height: 45px;width: auto;max-width: none;}
  
/*
.responsive-layout-mobile .logo-img {clip: rect(0px, 56px, 53px, 0px); position: absolute; top: 0px; left: 0; margin-left: 44%; overflow: hidden; width: 200px }
.responsive-layout-mobile .logo-img img {height:53px; width:auto;}*/

.responsive-layout-mobile .zone-branding-wrapper {/*border-bottom: none !important;*/margin:0; padding:0; height:54px}


.responsive-layout-mobile #sidr-wrapper-0{ margin: auto;   position: absolute;    top: 0;}
/*.responsive-layout-mobile h2 {font-size:28px!important; line-height: 32px;margin-bottom:20px}*/
.responsive-layout-mobile span.listimg {display:none; margin:0; padding:0;height:0;width:0}
.responsive-layout-mobile ul.ulTools, .responsive-layout-mobile ul.ulTools li  {list-style:none;padding:0; margin:0}
.responsive-layout-mobile .vert-rule, .responsive-layout-mobile .panel.greypanel.rounded-corners, .responsive-layout-mobile .top-block img, .responsive-layout-mobile .circle.control-icon{display:none!important}
/*.responsive-layout-mobile .nextsteps {background: none repeat scroll 0% 0% #F8F8F8; padding: 10px;}*/
.responsive-layout-mobile .region-footer-wide img {display: block;margin-left: auto;margin-right: auto}
/* hide elements on form */
/*.responsive-layout-mobile .grid-4 .panel, */.responsive-layout-mobile ul#step-list {display:none!important}
.responsive-layout-mobile h2.block-title {text-align:center}

.responsive-layout-mobile li#login-mobile {display:block}

/*.responsive-layout-mobile .black-block, .responsive-layout-mobile .black-block h2, .responsive-layout-mobile .black-block h4, .responsive-layout-mobile p {background-color:none; color: #333;}*/
.responsive-layout-mobile .top-block.black-block {background-color:inherit; color:inherit;}
.responsive-layout-mobile .whatsnew {text-align: center;}
.responsive-layout-mobile #pub-signup {border-top: 1px solid #DBDBDB}

.responsive-layout-mobile #pub-signup h4 {padding-top: 20px;}
.responsive-layout-mobile h4 {text-transform: uppercase}

.responsive-layout-mobile .top-block h1, .responsive-layout-mobile .top-block h2, .responsive-layout-mobile .top-block h2.block-title, .responsive-layout-mobile .responsive-layout-mobile .top-block.black-block h2 {color: #00AF66;}

.responsive-layout-mobile .top-block h1, .responsive-layout-mobile .top-block h2, .responsive-layout-mobile .top-block h2.block-title, .responsive-layout-mobile .top-block.black-block h2 {padding-top:0px}
.responsive-layout-mobile .top-block h1 {font-size: 1.5em;}
/* EU Menu */
.responsive-layout-mobile .zone-wrapper.zone-menu-wrapper{position: absolute;padding: 0;top: 0;width: 100px;}

/* SF lead form */
.responsive-layout-mobile #form-id-adv img, .responsive-layout-mobile #form-id-pub img {display:none}
.responsive-layout-mobile .form-id-button {width:100%}
.responsive-layout-mobile .form-id-button h2 {text-transform:uppercase}

/* 768 wide */
.responsive-layout-narrow #sidr-wrapper-0 { margin: auto;   position: absolute;    top: 40px;}
.responsive-layout-narrow #zone-user {height:100px}
.responsive-layout-narrow h2 {font-size:30px; margin:0}
/*.responsive-layout-narrow #section-content .zone-wrapper, .responsive-layout-narrow #section-content .zone-content {padding: 20px 0px;}*/
.responsive-layout-narrow .ulTools p {margin-top:5px}
.responsive-layout-narrow ul#step-list {display:none!important}

.responsive-layout-narrow li#login-mobile {display:block}

/*.responsive-layout-narrow .grid-9 #block-system-main-menu ul.menu {float: right;padding-top: 20px;}*/

.responsive-layout-narrow .zone-branding-wrapper .logo-img {width: 160px; margin-right: 0;}

.responsive-layout-narrow .grid-9 #block-system-main-menu ul.menu > li {padding-right: 20px;}
.responsive-layout-narrow .grid-12 #block-system-main-menu ul.menu > li {padding-right: 0px;}