@charset "Shift_JIS";
/* レンタカー選択不可時 */
.rentaNgObj {
  display: block;
  position: relative;
  width: 250px;
  color: #f00;
  min-height: 32px;
}
.rentaNgObj:after {
  content: '×';
  position: absolute;
  top: 1px;
  left: 0;
  color: #666;
  font-size: 12px;
}

.rentaNgSub {
  display: block;
  color: #333;
  font-size: 11px;
}

.rentaNgPopup {
  position: absolute;
  top: -61px;
  left: 0;
  padding: 10px;
  background: #3c3c3c;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  z-index: 99;
}
.rentaNgPopup > span {
  display: block;
  position: relative;
  font-size: 11px;
  font-weight: normal;
}
.rentaNgPopup:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -16px;
  margin-left: -8px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.7);
}

.closeNgPopup {
  position: absolute;
  top: -23px;
  right: -8px;
  width: 18px;
  height: 18px;
  background: #333 url(/dp/images/ico_carpop_close.png) center center no-repeat;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.rentacarTwoline {
  min-height: 32px;
}
/* 検索パネルのレイアウト */
.dp_common_searchButton {
  margin: 0px auto;
  width: 156px;
  height: 25px;
  border: 0;
  background: none;
  background-image: url("/dp/images/dp_bod_01_btn_search.gif");
  cursor: pointer;
  font-size: 0;
}
.dp_common_searchButton:hover {
  background-image: url("/dp/images/dp_bod_01_btn_search_ovr.gif");
}
.dp_common_searchButtonFlat {
  margin: 0px auto;
  width: 156px;
  height: 25px;
  border: 0;
  background: none;
  background-image: url("/jalan/doc/top/top_image/btn_search_date_03.png");
  cursor: pointer;
  font-size: 0;
}
.dp_common_searchButtonFlat:hover {
  background-image: url("/jalan/doc/top/top_image/btn_search_date_03_ovr.png");
}
div#block-01 div.search-panel div.step dt.childarea {
  display: inline;
  float: none;
}
div#block-01 div.search-panel div.step li dd.child {
  clear: both;
  display: inline;
  float: none;
}
