.s12 {
	FONT-SIZE: 75%; LINE-HEIGHT: 1.3em
}
.s14 {
	FONT-SIZE: 87.5%; LINE-HEIGHT: 1.3em
}
.s16 {
	FONT-SIZE: 100%; LINE-HEIGHT: 1.3em
}
.fb {
	FONT-WEIGHT: bold
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; LINE-HEIGHT: 0em
}
.dyn_cal {
	DISPLAY: none
}
.dyn_cal_tbl {
	MARGIN: 0px 15px
}
.dyn_cal_tbl TH {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px! important
}
.dyn_cal_tbl TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right! important
}
.dyn_cal_tbl TD A {
	COLOR: #333; TEXT-DECORATION: none! important
}
.dyn_cal_tbl TD A:link {
	TEXT-DECORATION: none! important
}
.dyn_cal_tbl TD A:visited {
	COLOR: #333; TEXT-DECORATION: none! important
}
.dyn_cal_tbl TD A:active {
	COLOR: #333; TEXT-DECORATION: none! important
}
.dyn_cal_tbl TD A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #ff7d00; TEXT-DECORATION: underline! important
}
.dyn_cal IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.dyn_cal_tbl TD.dyn_sutarday A {
	COLOR: #1b47ff; TEXT-DECORATION: none! important
}
.dyn_cal_tbl TD.dyn_sutarday A:link {
	TEXT-DECORATION: none! important
}
.dyn_cal_tbl TD.dyn_sutarday A:visited {
	COLOR: #1b47ff; TEXT-DECORATION: none! important
}
.dyn_cal_tbl TD.dyn_sutarday A:active {
	COLOR: #1b47ff; TEXT-DECORATION: none! important
}
.dyn_cal_tbl TD.dyn_sutarday A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #ff7d00; TEXT-DECORATION: underline! important
}
.dyn_cal_tbl TD.dyn_sunday A {
	COLOR: #f00; TEXT-DECORATION: none! important
}
.dyn_cal_tbl TD.dyn_sunday A:link {
	TEXT-DECORATION: none! important
}
.dyn_cal_tbl TD.dyn_sunday A:visited {
	COLOR: #f00; TEXT-DECORATION: none! important
}
.dyn_cal_tbl TD.dyn_sunday A:active {
	COLOR: #f00; TEXT-DECORATION: none! important
}
.dyn_cal_tbl TD.dyn_sunday A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #ff7d00; TEXT-DECORATION: underline! important
}
.dyn_cal_tbl TD.dyn_disable {
	COLOR: #aaa! important; TEXT-DECORATION: line-through! important
}
.dyn_cal .dyn_cal_arrow {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; WIDTH: 20px! important
}
.dyn_cal .dyn_cal_arrow A {
	COLOR: #f00; TEXT-DECORATION: none! important
}
.dyn_cal .dyn_cal_arrow A:link {
	COLOR: #f00; TEXT-DECORATION: none! important
}
.dyn_cal .dyn_cal_arrow A:visited {
	COLOR: #f00; TEXT-DECORATION: none! important
}
.dyn_cal .dyn_cal_arrow A:active {
	COLOR: #f00; TEXT-DECORATION: none! important
}
.dyn_cal .dyn_cal_arrow A:hover {
	COLOR: #f00; TEXT-DECORATION: none! important
}
.dyn_cal .dyn_cal_close {
	FONT-SIZE: 12px; PADDING-TOP: 5px; WHITE-SPACE: nowrap; TEXT-ALIGN: center! important
}
.dyn_cal .dyn_cal_close A {
	COLOR: #333; TEXT-DECORATION: none! important
}
.dyn_cal .dyn_cal_close A:link {
	COLOR: #333; TEXT-DECORATION: none! important
}
.dyn_cal .dyn_cal_close A:visited {
	COLOR: #333; TEXT-DECORATION: none! important
}
.dyn_cal .dyn_cal_close A:active {
	COLOR: #333; TEXT-DECORATION: none! important
}
.dyn_cal .dyn_cal_close A:hover {
	COLOR: #333; TEXT-DECORATION: none! important
}
#hiduke_mitei_1 {
	DISPLAY: none
}
#hiduke_mitei_2 {
	DISPLAY: none
}
#hiduke_mitei_3 {
	DISPLAY: none
}
#hiduke_mitei_4 {
	DISPLAY: none
}
#hiduke_mitei_5 {
	DISPLAY: none
}
#hiduke_mitei_6 {
	DISPLAY: none
}
#hiduke_mitei_7 {
	DISPLAY: none
}
#hiduke_mitei_8 {
	DISPLAY: none
}
#hiduke_mitei_9 {
	DISPLAY: none
}
#hiduke_mitei_10 {
	DISPLAY: none
}
#hiduke_mitei_11 {
	DISPLAY: none
}
	
/* 子供人数 */

dd.child p.count { display:none; }

.show-child #dp_childlen, .show-child #dp_childlen_ana { display:block; },
.show-child #area_ken,
.show-child #area_list,
.show-child #dp_period,
.show-child #dp_member1 { visibility:hidden; left:-9999px; }
#trafficSelect .show-child #dp_member1 { visibility:visible; left:0; }

#dp_childlen, #dp_childlen_ana{
	position: absolute;
	top: -165px;
	left: -64px;
	z-index: 100;
	width: 250px;
	display: none;
}
#dp_childlen div.chl-pack,
#dp_childlen_ana div.chl-pack {
	border: solid 1px #d3c9b0;
	background-color: #fbf5e1;
	padding: 12px;
	position: relative;
	z-index: 100;
	font-size:1em;
}

.dp_top_child{
  left: 160px;
  top:20px;
}

#dp_childlen p.title, #dp_childlen_ana p.title {
	position: relative;
	margin-bottom: 8px;
	font-size:1em;
}
#dp_childlen table,
#dp_childlen_ana table {
	width: 224px;
	font-size:1em;
}
#dp_childlen table td,
#dp_childlen table th,
#dp_childlen_ana table td,
#dp_childlen_ana table th { font-size:1em; }

#dp_childlen table td.p1,
#dp_childlen_ana table td.p1 {
	width: 99%;
	border-bottom: solid 2px #fbf5e1;
	background-color: #FCE4A8;
	padding: 3px 3px 2px 5px;
}
#dp_childlen table td.p2,
#dp_childlen_ana table td.p2 {
	text-align: right;
	white-space: nowrap;
	border-bottom: solid 1px #fbf5e1;
	background-color: #FCE4A8;
	padding: 1px 5px 1px 0;
}
#dp_childlen div.btnenter,
#dp_childlen_ana div.btnenter_ana {
	padding-top: 12px;
	text-align: center;
	white-space: nowrap;
}
#dp_childlen span.btnclose,
#dp_childlen_ana span.btnclose_ana {
	position: absolute;
	top: 0;
	left: 213px;
	width: 11px;
	height: 11px;
	display: block;
}
#dp_childlen div.btnclose img,
#dp_childlen_ana div.btnclose img {
}
#dp_childlen div.btnclose A,
#dp_childlen_ana div.btnclose A {
	COLOR: #333; TEXT-DECORATION: none !important;
}
#dp_childlen div.btnclose A:link,
#dp_childlen_ana div.btnclose A:link {
	COLOR: #333; TEXT-DECORATION: none !important;
}
#dp_childlen div.btnclose A:visited,
#dp_childlen_ana div.btnclose A:visited {
	COLOR: #333; TEXT-DECORATION: none !important;
}
#dp_childlen div.btnclose A:active,
#dp_childlen_ana div.btnclose A:active {
	COLOR: #333; TEXT-DECORATION: none !important;
}
#dp_childlen div.btnclose A:hover,
#dp_childlen_ana div.btnclose A:hover {
	COLOR: #333; TEXT-DECORATION: none !important;
}


/** モデルプラン出し分け */
#modelplan-010000,
.p010000 #modelplan-470000 {
	display:none;
}

.p010000 #modelplan-010000 {
	display:block;
}

/** カレンダー */
#dp_calendar {
	position: absolute;
	top: 40px;
	left: 68px;
	z-index: 100;
	display: none;
	border: #d3c9b0 1px solid;
	padding: 15px 10px 10px 10px;
	background: #fbf5e1;
}
#dp_calendar  p.title {
	margin-bottom: 8px;
	font-weight: bold;
	text-align: center;
}