.s12{font-size:75%;line-height:1.3em;}
.s14{font-size:87.5%;line-height:1.3em;}
.s16{font-size:100%;line-height:1.3em;}
.fb{font-weight:bold;}
.clear{clear:both;line-height:0em;font-size:1px;}

.dyn_area_list {position:absolute; background:#fbf5e1; padding:10px; border:1px solid #d3c9b0; display:none;z-index:201;}
.dyn_area_list div{margin:3px 0;}
.dyn_area_list img{margin-bottom:2px;}
.dyn_area_list a{ color:#303030; text-decoration:none !important;}
.dyn_area_list a:link { color:#303030; text-decoration:none !important;}
.dyn_area_list a:visited { color:#303030; text-decoration:none !important;}
.dyn_area_list a:hover { color:#303030; text-decoration:none !important;}
.dyn_area_cont {float:left;}
.dyn_area_tbl td{padding:0 0 0 3px !important;}
.dyn_area_list .close_btn {text-align:center; margin-top:10px;}

.dyn_cal {position:absolute; margin-top:3px; background:#fbf5e1; padding:10px; border:1px solid #d3c9b0; display:none;z-index:200;}
.dyn_cal_tbl th {font-size:12px; !important; font-weight:bold; padding-bottom:5px;}
.dyn_cal_tbl td {font-size:12px; !important; text-align:right; padding:0 3px;}
.dyn_cal_tbl td a{color:#333; text-decoration:none !important;}
.dyn_cal_tbl td a:link{text-decoration:none !important;}
.dyn_cal_tbl td a:visited{color:#333; text-decoration:none !important;}
.dyn_cal_tbl td a:active{color:#333; text-decoration:none !important;}
.dyn_cal_tbl td a:hover{color:#333; text-decoration:underline !important;}
.dyn_cal img {border:none;}

.dyn_cal_tbl td.dyn_sutarday a{color:#1b47ff; text-decoration:none !important;}
.dyn_cal_tbl td.dyn_sutarday a:link{text-decoration:none !important;}
.dyn_cal_tbl td.dyn_sutarday a:visited{color:#1b47ff; text-decoration:none !important;}
.dyn_cal_tbl td.dyn_sutarday a:active{color:#1b47ff; text-decoration:none !important;}
.dyn_cal_tbl td.dyn_sutarday a:hover{color:#1b47ff; text-decoration:underline !important;}

.dyn_cal_tbl td.dyn_sunday a{color:#f00; text-decoration:none !important;}
.dyn_cal_tbl td.dyn_sunday a:link{text-decoration:none !important;}
.dyn_cal_tbl td.dyn_sunday a:visited{color:#f00; text-decoration:none !important;}
.dyn_cal_tbl td.dyn_sunday a:active{color:#f00; text-decoration:none !important;}
.dyn_cal_tbl td.dyn_sunday a:hover{color:#f00; text-decoration:underline !important;}

.dyn_cal_tbl td.dyn_disable {color:#aaa !important; text-decoration:line-through !important;}

.dyn_cal .dyn_cal_arrow {vertical-align:middle;width:20px; font-size:12px; !important;}
.dyn_cal .dyn_cal_arrow a{color:#f00; text-decoration:none !important;}
.dyn_cal .dyn_cal_arrow a:link{color:#f00; text-decoration:none !important;}
.dyn_cal .dyn_cal_arrow a:visited{color:#f00; text-decoration:none !important;}
.dyn_cal .dyn_cal_arrow a:active{color:#f00; text-decoration:none !important;}
.dyn_cal .dyn_cal_arrow a:hover{color:#f00; text-decoration:none !important;}


.dyn_cal .dyn_cal_close{font-size:12px; !important; text-align:center; padding-top:5px;}
.dyn_cal .dyn_cal_close a{color:#333; text-decoration:none !important;}
.dyn_cal .dyn_cal_close a:link{color:#333; text-decoration:none !important;}
.dyn_cal .dyn_cal_close a:visited{color:#333; text-decoration:none !important;}
.dyn_cal .dyn_cal_close a:active{color:#333; text-decoration:none !important;}
.dyn_cal .dyn_cal_close a:hover{color:#333; text-decoration:none !important;}

#dyn_more_spec {display:none;}
#dyn_spec_btn {text-align:right; padding-right:5px;}

#dyn_stay_txt option {padding:0 3px;}

a#dyn_kodawari_txt:visited{color:#1b47ff !important;}
#dyn_child_num_txt_id1 {color:#1b47ff !important;}
#dyn_child_num_txt_id2 {color:#1b47ff !important;}

#dyn-place-example{z-index:300;}
#dyn-place-example .placeexample{margin:5px 0;}
#dyn-place-example .placeexample a{color:#1b47ff; text-decoration:underline;}

#dyn-place-example .dyn-place-example-close{font-size:12px; !important; text-align:center; margin:5px 0 0 0;}
#dyn-place-example .dyn-place-example-close a{color:#333; text-decoration:none !important;}
#dyn-place-example .dyn-place-example-close a:link{color:#333; text-decoration:none !important;}
#dyn-place-example .dyn-place-example-close a:visited{color:#333; text-decoration:none !important;}
#dyn-place-example .dyn-place-example-close a:active{color:#333; text-decoration:none !important;}
#dyn-place-example .dyn-place-example-close a:hover{color:#333; text-decoration:none !important;}
#dyn-place-example .dyn-place-example-close img{border:none;}


/* 部屋割り設定パネル */
div#roompanel-block{
	width: 520px;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 15000;
}

div#roompanel-block form#roompanel{
	padding: 0px 8px 8px 8px;
	background: #FBF5E1;
	border: #D3C9B0 2px solid;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 20000;
}

div#roompanel-block form#roompanel select{
	height: 21px;
	border: 1px #999999 solid;
	background-color: #ffffff;
}

div#roompanel-block form#roompanel div.row{
	margin: 8px 0px 0px 0px;
}

div#roompanel-block form#roompanel div.row p{
	margin: 0px 0px 4px 0px;
	text-align: left;
}

div#roompanel-block form#roompanel div.row table tr td table{
	padding: 0px;
	background: #F8ECC2;
	border-left: #D3C9B0 1px solid;
	border-top: #D3C9B0 1px solid;
	border-collapse:collapse;
}

div#roompanel-block form#roompanel div.row table tr td table th{
	padding: 2px;
	background: #EBDEBA;
	border-right: #D3C9B0 1px solid;
	border-bottom: #D3C9B0 1px solid;
	vertical-align: middle;
	text-align: center;
}

div#roompanel-block form#roompanel div.row table tr td table td{
	padding: 0px 5px 5px 5px;
	width: 80px;
	height: 45px;
	border-right: #D3C9B0 1px solid;
	border-bottom: #D3C9B0 1px solid;
	vertical-align: bottom;
	text-align: center;
	white-space: nowrap;
}

div#roompanel-block form#roompanel div.row table tr td table td img{
	vertical-align: bottom;
}

div#roompanel-block form#roompanel div.row table tr td table td select{
	margin: 0px 2px 0px 0px;
	width: 40px;
	vertical-align: top;
}

div#roompanel-block form#roompanel div.row table tr td table td span{
	font-size: 11px;
	white-space: nowrap;
}

div#roompanel-block form#roompanel div.row table tr td table.child{
	margin: 0px 0px 0px 10px;
}

div#roompanel-block form#roompanel p#panel-close-btn{
	margin: 10px 0px 0px 0px;
	font-size: 12px;
	text-align: center;
}

div#roompanel-block form#roompanel p#panel-close-btn a{
	text-decoration: none !important;
	color: #333333;
}

