@charset "shift_jis";

body { color:#333333; }

#header_area * {
	margin: 0px;
	padding: 0px;
}
img {
	border: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-table;
	zoom: 1;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */

/** ===================================
 *	Header
 * =================================== */

#header {
	min-height:76px;
	_height:76px;
	width:950px;
	margin: 0 auto;
	text-align: left;
	background:url(/assets/img/common/globalnavi.png) no-repeat 0 -160px;
	position: relative;
	z-index: 1000;
	font-size: 12px;
	padding: 0 !important;
}
#header a {
	text-decoration:none;
}
#header .description {
	width:520px;
	text-indent: 10px;
	font-size:10px;
	color:#FFFFFF;
	line-height:150%;
	height:15px;
	position: absolute;
	top: 0;
	left: 0px;
}
#header h1,
#site-title {
	position:absolute;
	top:20px;
	left:10px;
	padding:0;
}
#header h1 a,
#site-title a,
#site-title span {
	display:block;
	width:124px;
	height:52px;
	text-indent:-9999px;
	overflow: hidden;
	background:url(/assets/img/common/sitetitle.png);
	position: relative;
	z-index:100;
}

#header .catch {
	width:200px;
	height:28px;
	line-height:28px;
	color: #666666;
	font-weight: bold;
	position:absolute;
	top:15px;
	left:146px;
	font-size: 12px !important;
	z-index: 101;
}

/* GlobalNavi */
#globalnavi {
	list-style:none;
	margin: 0 0 0 146px !important;
	padding: 40px 0 0 !important;
	position: relative;
	z-index: 100;
}
#globalnavi li {
	float:left;
	height:38px;
	padding:0;
	overflow: hidden;
	position: relative;
	z-index: 10000;
	white-space: nowrap;
}
#globalnavi .n1,
#globalnavi .n2,
#globalnavi .n3,
#globalnavi .n4,
#globalnavi .n5,
#globalnavi .n6,
#globalnavi .n7,
#globalnavi .n8 {
	display:block;
	height:38px;
	background:url(/assets/img/common/globalnavi.png);
	text-indent:-9999px;
	overflow: hidden;
	position: relative;
	z-index: 10000;
}
#globalnavi .top_n1,
#globalnavi .top_n2,
#globalnavi .top_n3,
#globalnavi .top_n4,
#globalnavi .top_n5,
#globalnavi .top_n6,
#globalnavi .top_n7,
#globalnavi .top_n8 {
	display:block;
	height:38px;
	background:url(/assets/img/common/globalnavi.png);
	overflow: hidden;
	position: relative;
	z-index: 10000;
}

#globalnavi .n1			{ background-position:0 0; width: 120px; }
#globalnavi .n1:hover	{ background-position:0 -38px; }
#globalnavi .current .n1{ background-position:0 -76px !important; }
#globalnavi .n2			{ background-position:-120px 0; width: 100px; }
#globalnavi .n2:hover	{ background-position:-120px -38px; }
#globalnavi .current .n2{ background-position:-120px -76px !important; }
#globalnavi .n3			{ background-position:-220px 0; width: 100px; }
#globalnavi .n3:hover	{ background-position:-220px -38px; }
#globalnavi .current .n3{ background-position:-220px -76px !important; }
#globalnavi .n4			{ background-position:-320px 0; width: 85px; }
#globalnavi .n4:hover	{ background-position:-320px -38px; }
#globalnavi .current .n4{ background-position:-320px -76px !important; }
#globalnavi .n5			{ background-position:-405px 0; width: 85px; }
#globalnavi .n5:hover	{ background-position:-405px -38px; }
#globalnavi .current .n5{ background-position:-405px -76px !important; }
#globalnavi .n6			{ background-position:-490px 0; width: 85px; }
#globalnavi .n6:hover	{ background-position:-490px -38px; }
#globalnavi .current .n6{ background-position:-490px -76px !important; }
#globalnavi .n7			{ background-position:-575px 0; width: 85px; }
#globalnavi .n7:hover	{ background-position:-575px -38px; }
#globalnavi .current .n7{ background-position:-575px -76px !important; }
#globalnavi .n8			{ background-position:-660px 0; width: 90px; }
#globalnavi .n8:hover	{ background-position:-660px -38px; }
#globalnavi .current .n8{ background-position:-660px -76px !important; }

#globalnavi .mR20	{ margin-right: 20px !important; }
#globalnavi .mR25	{ margin-right: 25px !important; }

#globalnavi table {
	border: 1px solid #D4D4D4;
	background-color: #F2F2F2;
	position: absolute;
	top: 38px;
	z-index: 100;
}
#globalnavi table td a {
	display: block;
	padding: 2px 10px;
	line-height: 22px;
	white-space: nowrap;
	position: relative;
	z-index: 100;
	text-decoration: none !important;
	font-size: 12px;
}
.bdDotT {
	border-top: 1px dotted #D4D4D4;
}

#subnavi {
	background-color: #F4F4F4;
	position: relative;
	z-index: 0;
	margin-top: -2px !important;
	border-top: 2px solid #FF6600;
	line-height: 0;
	zoom: 1;
	text-align:left;
}
#subnavi #subnaviTitle {
	display: inline-block;
	line-height: 30px;
	vertical-align: middle;
	*display: inline;
	zoom: 1;
	width: 145px;
	text-align: center;
	font-size: 10px;
	color:#333333;
}
#subnavi #subnaviLinks {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	zoom: 1;
	font-size: 12px;
	line-height: 30px;
}
#subnavi .subnaviLinksL {
	background:url(/assets/img/common/globalnavi.png);
	background-position: left -120px;
	padding-left: 10px;
	background-repeat: no-repeat;
}
#subnavi .subnaviLinksR {
	margin: 0;
	padding: 0;
	background:url(/assets/img/common/globalnavi.png);
	line-height: 22px;
	background-position: right -120px;
	background-repeat: no-repeat;
	display: inline-block;
	*display: inline;
	zoom: 1;
	list-style:none;
}
#subnavi li {
	float: left;
	margin-right: 10px;
}
#subnavi a {
	text-decoration: underline;
}
.fgNewMarkWrapper {
	margin-right: 22px !important;
	position: relative;
	zoom: 1;
	cursor:pointer;
}
.fgNewMark {
	color: #FF0000;
	font-size: 8px;
	position: absolute;
	top: 0;
	*top: 4px;
	right: -20px;
	line-height: 1;
}

#header .utilities { position:absolute; top:0; left:530px; z-index:100; width:410px; line-height: normal;}

#header .utilities .mypage {
	float:right;
	width: auto !important;
	font-size: 12px;
	margin: 7px 0 0 20px !important;
}
#header .utilities .mypage a {
	display:inline-block;
	text-decoration: none !important;
	padding-left:6px;
	background:url(/assets/img/common/globalnavi.png);
	background-position: -947px -3px;
	background-repeat: no-repeat;
}
#header .utilities .modify {
	float:right;
	width: auto !important;
	font-size: 12px;
	margin: 7px 0 0 0 !important;
}
#header .utilities .modify a {
	display:inline-block;
	text-decoration: none !important;
	padding-left:6px;
	background:url(/assets/img/common/globalnavi.png);
	background-position: -947px -3px;
	background-repeat: no-repeat;
}

#helpnavi {
	list-style:none;
	margin:0 -5px 0 0;
	padding:0;
	height:15px;
	line-height: 15px;
	font-size: 10px;
	text-align: right;
	overflow: hidden;
}
#helpnavi li {
	display: inline;
	margin-right: -1px;
	padding-left: 6px;
	padding-right: 5px;
	border-right: 1px solid #FFFFFF;
}
#helpnavi a			{ color: #FFFFFF !important; text-decoration: none !important; }
#helpnavi a:hover	{ color: #FF6A07 !important; background-color: #FFFFFF; }



/* 1205 グロナビ国内海外分け修正対応 ここから */
/** ===================================
 *	Header
 * =================================== */

#header_dms_ovr {
	min-height:76px;
	_height:76px;
	width:950px;
	margin: 0 auto;
	text-align: left;
	background:url(/assets/img/common/globalnavi.png) no-repeat 0 -160px;
	position: relative;
	z-index: 1000;
	font-size: 12px;
	padding: 0 !important;
}
#header_dms_ovr a {
	text-decoration:none;
}
#header_dms_ovr .description {
	width:520px;
	text-indent: 10px;
	font-size:10px;
	color:#FFFFFF;
	line-height:150%;
	height:15px;
	position: absolute;
	top: 0;
	left: 0px;
}
#header_dms_ovr h1,
#site-title_dms_ovr {
	position:absolute;
	top:28px;
	left:10px;
	padding:0;
}
#header_dms_ovr h1,
#top_site-title_dms_ovr {
	position:absolute;
	top:28px;
	left:10px;
	padding:0;
}
#header_dms_ovr h1 a,
#site-title_dms_ovr a,
#site-title_dms_ovr span {
	display:block;
	width:124px;
	height:52px;
	text-indent:-9999px;
	overflow: hidden;
	background:url(/assets/img/common/sitetitle.png);
	position: relative;
	z-index:100;
}
#top_site-title_dms_ovr a,
#top_site-title_dms_ovr span {
	display:block;
	width:124px;
	height:52px;
	overflow: hidden;
	background:url(/assets/img/common/sitetitle.png);
	position: relative;
	z-index:100;
}

#header_dms_ovr .catch {
	width:200px;
	height:28px;
	line-height:28px;
	color: #666666;
	font-weight: bold;
	position:absolute;
	top:13px;
	left:146px;
	font-size: 12px !important;
	z-index: 101;
}

/* GlobalNavi */
#globalnaviContainer {
	width: 950px;
	border-bottom: 2px solid #FF6600;
}
#header_dms_ovr .globalnavi {
	float: left;
	list-style:none;
	padding: 56px 7px 0px 7px !important;
	position: relative;
	top: 2px;
	z-index: 100;
}
#header_dms_ovr #globalnavi {
	margin: 0 !important;
	left: 146px;
	background: url(/assets/img/common/globalnavi_dms_ovr.png?update=20160905) no-repeat 0px 40px;
}
#header_dms_ovr #globalnavi_ovr {
	left: 150px;
	background: url(/assets/img/common/globalnavi_dms_ovr.png?update=20160905) no-repeat -556px 40px;
}
#header_dms_ovr .globalnavi li {
	float:left;
	height:38px;
	padding:0;
	overflow: hidden;
	position: relative;
	z-index: 10000;
	white-space: nowrap;
	line-height: 38px;
}
#globalnavi .n1,
#globalnavi .n2,
#globalnavi .n3,
#globalnavi .n4,
#globalnavi .n5,
#globalnavi .n6,
#globalnavi .n7,
#globalnavi .n8,
#globalnavi .n9,
#globalnavi_ovr .n1,
#globalnavi_ovr .n2,
#globalnavi_ovr .n3{
	display:block;
	height:38px;
	background: #eee url(/assets/img/common/globalnavi_dms_ovr.png?update=20160905);
	text-indent:-9999px;
	overflow: hidden;
	position: relative;
	z-index: 10000;
}
#globalnavi .top_n1,
#globalnavi .top_n2,
#globalnavi .top_n3,
#globalnavi .top_n4,
#globalnavi .top_n5,
#globalnavi .top_n6,
#globalnavi .top_n7,
#globalnavi .top_n8,
#globalnavi .top_n9,
#globalnavi_ovr .top_n1,
#globalnavi_ovr .top_n2,
#globalnavi_ovr .top_n3{
	display:block;
	height:38px;
	background: #eee url(/assets/img/common/globalnavi_dms_ovr.png?update=20160905);
	text-indent:-9999px;
	overflow: hidden;
	position: relative;
	z-index: 10000;
}

#globalnavi .n1		{ background-position:0 -59px; width: 100px; }
#globalnavi .n1:hover	{ background-position:0 -102px; }
#globalnavi .current .n1{ background-position:0 -145px !important; }
#globalnavi .n2		{ background-position:-100px -59px; width: 88px; }
#globalnavi .n2:hover	{ background-position:-100px -102px; }
#globalnavi .current .n2{ background-position:-100px -145px !important; }
#globalnavi .n3		{ background-position:-306px -59px; width: 59px; }
#globalnavi .n3:hover	{ background-position:-306px -102px; }
#globalnavi .current .n3{ background-position:-306px -145px !important; }
#globalnavi .n4		{ background-position:-365px -59px; width: 59px; }
#globalnavi .n4:hover	{ background-position:-365px -102px; }
#globalnavi .current .n4{ background-position:-365px -145px !important; }
#globalnavi .n5		{ background-position:-424px -59px; width: 59px; }
#globalnavi .n5:hover	{ background-position:-424px -102px; }
#globalnavi .current .n5{ background-position:-424px -145px !important; }
#globalnavi .n6		{ background-position:-483px -59px; width: 59px; }
#globalnavi .n6:hover	{ background-position:-483px -102px; }
#globalnavi .current .n6{ background-position:-483px -145px !important; }
#globalnavi .n7		{ background-position:-247px -59px; width: 59px; }
#globalnavi .n7:hover	{ background-position:-247px -102px; }
#globalnavi .current .n7{ background-position:-247px -145px !important; }
#globalnavi .n9		{ background-position:-188px -59px; width: 59px; }
#globalnavi .n9:hover	{ background-position:-188px -102px; }
#globalnavi .current .n9{ background-position:-188px -145px !important; }

#globalnavi .top_n1		{ background-position:0px -59px; width: 100px; }
#globalnavi .top_n1:hover	{ background-position:0 -102px; }
#globalnavi .current .top_n1{ background-position:0 -145px !important; }
#globalnavi .top_n2		{ background-position:-100px -59px; width: 88px; }
#globalnavi .top_n2:hover	{ background-position:-100px -102px; }
#globalnavi .current .top_n2{ background-position:-100px -145px !important; }
#globalnavi .top_n3		{ background-position:-306px -59px; width: 59px; }
#globalnavi .top_n3:hover	{ background-position:-306px -102px; }
#globalnavi .current .top_n3{ background-position:-306px -145px !important; }
#globalnavi .top_n4		{ background-position:-365px -59px; width: 59px; }
#globalnavi .top_n4:hover	{ background-position:-365px -102px; }
#globalnavi .current .top_n4{ background-position:-365px -145px !important; }
#globalnavi .top_n5		{ background-position:-424px -59px; width: 59px; }
#globalnavi .top_n5:hover	{ background-position:-424px -102px; }
#globalnavi .current .top_n5{ background-position:-424px -145px !important; }
#globalnavi .top_n6		{ background-position:-483px -59px; width: 59px; }
#globalnavi .top_n6:hover	{ background-position:-483px -102px; }
#globalnavi .current .top_n6{ background-position:-483px -145px !important; }
#globalnavi .top_n7		{ background-position:-474px -59px; width: 59px; }
#globalnavi .top_n7:hover	{ background-position:-474px -102px; }
#globalnavi .current .top_n7{ background-position:-474px -145px !important; }
#globalnavi .top_n9		{ background-position:-188px -59px; width: 59px; }
#globalnavi .top_n9:hover	{ background-position:-188px -102px; }
#globalnavi .current .top_n9{ background-position:-188px -145px !important; }


#globalnavi_ovr .n1		{ background-position:-542px -59px; width: 76px; }
#globalnavi_ovr .n1:hover	{ background-position:-542px -102px; }
#globalnavi_ovr .current .n1{ background-position:-542px -145px !important; }
#globalnavi_ovr .n2		{ background-position:-618px -59px; width: 76px; }
#globalnavi_ovr .n2:hover	{ background-position:-618px -102px; }
#globalnavi_ovr .current .n2{ background-position:-618px -145px !important; }
#globalnavi_ovr .n3		{ background-position:-694px -59px; width: 76px; }
#globalnavi_ovr .n3:hover	{ background-position:-694px -102px; }
#globalnavi_ovr .current .n3{ background-position:-694px -145px !important; }

#globalnavi_ovr .top_n1		{ background-position:-542px -59px; width: 76px; }
#globalnavi_ovr .top_n1:hover	{ background-position:-542px -102px; }
#globalnavi_ovr .current .top_n1{ background-position:-542px -145px !important; }
#globalnavi_ovr .top_n2		{ background-position:-618px -59px; width: 76px; }
#globalnavi_ovr .top_n2:hover	{ background-position:-618px -102px; }
#globalnavi_ovr .current .top_n2{ background-position:-618px -145px !important; }
#globalnavi_ovr .top_n3		{ background-position:-694px -59px; width: 76px; }
#globalnavi_ovr .top_n3:hover	{ background-position:-694px -102px; }
#globalnavi_ovr .current .top_n3{ background-position:-694px -145px !important; }

#subnavi {
	margin-top: 0px !important;
	border-top: none;
	position: relative;
	z-index: 10;
}

#header_dms_ovr .utilities { position:absolute; top:0; left:530px; z-index:100; width:410px; line-height: normal;}

#header_dms_ovr .utilities .mypage {
	float:right;
	width: auto !important;
	font-size: 12px;
	margin: 6px 0 0 20px !important;
}
#header_dms_ovr .utilities .mypage a {
	display:inline-block;
	text-decoration: none !important;
	padding-left:6px;
	background:url(/assets/img/common/globalnavi.png);
	background-position: -947px -3px;
	background-repeat: no-repeat;
}
#header_dms_ovr .utilities .modify {
	float:right;
	width: auto !important;
	font-size: 12px;
	margin: 6px 0 0 0 !important;
}
#header_dms_ovr .utilities .modify a {
	display:inline-block;
	text-decoration: none !important;
	padding-left:6px;
	background:url(/assets/img/common/globalnavi.png);
	background-position: -947px -3px;
	background-repeat: no-repeat;
}
/* 20121004追加 */
#header_dms_ovr .mypageLinks {
	position:absolute;
	top:19px;
	left:370px;
	z-index: 101;
}
#header_dms_ovr .mypageLinks li {
	float:left;
	margin-right:14px;
}
#header_dms_ovr .mypageLinks li a {
	padding-left:6px;
	background:url(/assets/img/common/globalnavi.png);
	background-position: -947px -3px;
	background-repeat: no-repeat;
	text-decoration: none !important;
}
#header_dms_ovr .logoGolfArea {
	position:absolute;
	top:19px;
	right:10px;
	z-index: 101;
}

#helpnavi {
	list-style:none;
	margin:0 -5px 0 0;
	padding:0;
	height:15px;
	line-height: 15px;
	font-size: 10px;
	text-align: right;
	overflow: hidden;
}
#helpnavi li {
	display: inline;
	margin-right: -1px;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #FFFFFF;
}
#helpnavi a			{ color: #FFFFFF !important; text-decoration: none !important; }
#helpnavi a:hover	{ color: #FF6A07 !important; background-color: #FFFFFF; }
/* 1205 グロナビ国内海外分け修正対応 ここまで */

/** ===================================
 *	Breadcrumbs
 * =================================== */
#pankuzu {
	width: 950px;
	margin: 0 auto;
	padding: 0.5em 0 !important;
	font-size: 0.8em;
	color: #666;
	text-align: left;
	background: none !important;
	border: 0 !important;
}
#pankuzu a {
	text-decoration:none;
}

/* 1205 グロナビ国内海外分け修正対応 ここから */
#welcome {
/*	width:950px;*/
	margin: 0 auto;
	text-align: left;
	padding: 0 0 0 10px;
}
/* 1205 グロナビ国内海外分け修正対応 ここまで */

/*================================================

HEADER

================================================*/

/* (1) IE7 でグローバルナビ内のサブナビが #container の下に隠れてしまう問題の対策 */
#header_area {
	*position: relative;    /* (1) */
	*z-index: 10;   /* (1) */
	text-align: center;
}
#header_area .s12 {
	font-size: 75%;
}
#header_area .s12_30b {
	font-size: 75%;
	color: #303030;
	font-weight: bold;
}
#header_area .s12_f60 {
	font-size: 75%;
	color: #ff6600;
}
#header_area .s12_f60b {
	font-size: 75%;
	color: #ff6600;
	font-weight: bold;
}
#header_area .s11 {
	font-size: 70%;
}
#header_area .s11_66 {
	font-size: 70%;
	color:#666666;
}
#header_area .s10_66 {
	font-size: 65%;
	color:#666666;
	line-height: 1em;
}

/* 630 */

#header630 {
	font-family: "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3" Osaka,;
	width: 630px;
	background: url(../../../uw/images/header630_gradation.gif) repeat-x;
	text-align: left;
	padding: 0 0 3px 0;
	margin: 0 auto;
	line-height: 1.1em;
}
#header630 #logo {
	float: left;
	padding: 10px 0 0 5px;
}
#header630 #menu {
	text-align: right;
	width: 500px;
	float: right;
	line-height: 1em;
	margin-top: 30px;
}
#header630 #headerline {
	border-bottom: 3px #7e7e7e solid;
	height: 48px;
}
#header630 #menu a {
}
#header630 #pankuzu {
	clear: both;
	background: url(../../../uw/images/header630_gradation2.gif) repeat-x;
	text-align: left;
	padding: 4px 0 5px 5px;
}
#header630 #welcome {
	width: auto !important;
	height: auto !important;
	text-align: left;
	padding: 5px 0 0 5px !important;
}


/* 990 */

#header990 {
	font-family: "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3" Osaka,;
	width: 950px;
	text-align: left;
	padding: 0 0 5px 0;
	margin: 0 auto;
	line-height: 1.1em;
	/*background-image: url(../../../uw/images/header990_gradation.gif);*/
	background-repeat: repeat-x;
}
#header990 #logo {
	float: left;
	margin: 7px 12px 0 0;
	padding: 0 0 0 10px;
	text-align: center;
}

/*Firefoxでの隙間対応*/

#header990 .recruit {
 margin: 5px 0 0 0;
 line-height: 0em;
}
#header990 #catch {
	margin: 9px 0 8px 0;
}
#header990 #helpmenu {
	text-align: right;
	padding: 2px 120px 0 0;
	line-height: 0px;
	font-size: 0px;
}
#header990 #helpmenu a {
	margin: 0 0 0 10px;
}
#header990 #pankuzu {
	clear: both;
	border-top: 3px #7e7e7e solid;
	text-align: left;
	padding: 4px 0 5px 5px;
	border-top: 2px solid #666666;
	background: url(../../../uw/images/header630_gradation2.gif) repeat-x;
}

/*ぱんくずナシ対応*/

#header990 #pankuzunone {
	clear: both;
	border-top: 3px #7e7e7e solid;
	border-top: 2px solid #666666;
}
#header990 #tabmenu {
	text-align:right;
	padding: 0 10px 0 0;
	line-height: 0;
}
#header990 #yoyaku img {
	margin: 0 2px 1px 0;
}
#header990 #yoyaku {
	position: relative;
	margin: 0;
}

/*予約照会・変更・キャンセル リンク対応*/

#header990 #yoyaku a {
	position: absolute;
	display: block;
	top: 8px;
	left: 697px;
	font-size: 11px;
}
#header990 #mypage {
	position: relative;
	margin: 0;
}
#header990 #mypage a {
	position: absolute;
	display: block;
	top: -12px;
	left: 850px;
}
#header990 #welcome {
	text-align: left;
	padding: 0 0 0 10px;
}

/*アフィリエイト対応*/

#header990affi {
	font-family: "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3" Osaka,;
	width: 950px;
	text-align: left;
	padding: 0 0 5px 0;
	margin: 0 auto;
}

/*アフィリエイトぱんくずアリ対応*/

#header990affi #pankuzu {
	clear: both;
	text-align: left;
	padding: 4px 0 5px 5px;
	background: url(../../../uw/images/header630_gradation2.gif) repeat-x;
}

/*アフィリエイトぱんくずナシ対応*/

#header990affi #pankuzunone {
	clear: both;
	border-top: 3px #7e7e7e solid;
	border-top: 2px solid #666666;
}


/* ○○さんフレーム用 */
#headerWelcomeFrame {
	font-family: "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3" Osaka,;
	width: 950px;
	text-align: left;
	padding: 0 0 5px 0;
	margin: 0 auto;
	line-height: 1.1em;
	background-repeat: repeat-x;
}

#headerWelcomeFrame #welcome {
	text-align: left;
	padding: 0 0 0 10px;
}

#welcome .unpaidNml {
	vertical-align: text-bottom;
	margin-left: 2px;
}
#welcome .ico_unpaid img {
	vertical-align: middle;
	margin-left: 3px;
}


/*Ponta提携*/
.welcome_ponta {
	float: left;
	margin: 2px 3px 0 5px !important;
}

/*================================================

CONTENTS

================================================*/
#container_new {
	margin: 0 20px;
	text-align: center;
}
#container990 {
	width:950px;
	margin: 0 auto;
	text-align: left;
}
#container770 {
	width:770px;
	float: left;
}

#sidenavi {
	width: 180px;
	float: right;
}
#sidenavi #box {
	width: 180px;
	padding-top: 15px;
}

/* MITAYADO */
#mitayado_top {
	height: 33px;
	background: url(../../../uw/images/header990_mitayado_bg_top.gif);
	text-align: center;
}
#mitayado_top p {
	padding: 10px 0 0 0;
	color: #333333;
	line-height: 1em;
}
#mitayado_top span {
	color: #ff6600;
	font-size: 16px;
	font-weight: bold;
}
#mitayado_btm {
	background: url(../../../uw/images/header990_mitayado_bg_bottom.gif) bottom;
	padding: 5px 11px 0;
}
#mitayado_btm p {
	padding: 0.6em 0 0 0;
}
#mitayado_btm .btn {
	margin: 8px 0 0 0;
}
#mitayado_btm .come {
	font-size: 10px;
	color: #999999;
	padding: 2px 0 8px;
	text-align: center;
}
/*最近見た宿対応*/
#mitayado_btm .none {
	padding: 2px 0 8px;
}


/*================================================

FOOTER

================================================*/
#footer_area {
	text-align: center;
}
#footer_area .seolink {
	padding: 10px 0 0 0;
}
#footer_area .s11_66 {
	font-size: 70%;
	color:#666666;
}
#footer_area a.text_g {
	color:#999999;
}
#footer_area a.text_g:hover {
	color:#FF7D00;
}

#footer630 {
	border-top: 2px solid #999999;
	width: 630px;
	padding: 20px 0 0 0;
	margin: 10px auto;
	text-align: center;
}

#footer990 {
	border-top: 2px solid #999999;
	width: 950px;
	padding: 20px 0 0 0;
	margin: 10px auto;
	text-align: center;
	clear: both;
}

/*静的フッター対応*/
#footer990_static {
	border-top: 2px solid #999999;
	width: 950px;
	padding: 20px 0 0 0;
	margin: 5px auto;
	text-align: center;
	clear: both;
}

/*静的フッター対応 ASTERIAフォトギャラリー*/
#footer990_static_photo {
	width: 950px;
	padding: 10px 0 0 0;
	margin: 5px auto;
	text-align: center;
	clear: both;
}

/* Layout */
.fl {
	float: left;
}
.fr {
	float: right;
}
.ofh {
	overflow: hidden;
}

/* clear */
.cb {
	clear: both;
}

/* paddign */
.pT2 {
	padding-top: 2px !important;
}