@charset "shift-JIS";
/*
  20140422 AB試験用CSS
-------------------------- */

#sidePlanBox {
	border: 1px solid #ff3c00;
	width: 176px;
	margin-bottom: 10px;
	padding: 1px;
	overflow: hidden;
	position: relative;
	z-index: 1001;
}
#sidePlanBox .boxTit {
	background-color: #eb5900;
	padding: 8px;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 2px;
}
#sidePlanBox .linkArea {
	height: 26px;
	font-size: 10px;
	position: relative;
}
#sidePlanBox .linkArea .prev {
	position: absolute;
	bottom: 3px;
	left: 6px;
}
#sidePlanBox .linkArea .moreLink {
	padding: 4px 60px 0 0;
	text-align: right;
	font-size: 100%;
}
#sidePlanBox .linkArea .prev a:hover img,
#sidePlanBox .linkArea .next a:hover img {
	opacity:0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}
#sidePlanBox .linkArea .next {
	position: absolute;
	bottom: 3px;
	right: 6px;
}
#sidePlanBox .linkArea img {
	vertical-align: middle;
}

.jalanAdTargeting {
	margin-bottom: 10px;
}

.jalanAdTargetingStaticLink {
	margin-bottom: 15px;
	background: url('/jalan/images/lh_img/question.gif') no-repeat 0 2px;
	padding-left: 15px;
	font-size: 10px;
}
#planList {
	position: absolute;
	top: 227px;
	right: 180px;
	z-index: 1002;
	border: 1px solid #777777;
	background-color: #f2f2f2;
}
#planList .closeBtn {
	position: absolute;
	top: -18px;
	right: -18px;
}
#planList .closeBtn a {
	background-image: url(/jalan/doc/top/top_image/jalanAd/close.png);
	background-repeat: no-repeat;
	display: block;
	width: 34px;
	height: 32px;
}
#planList .closeBtn a:hover {
	background-image: url(/jalan/doc/top/top_image/jalanAd/close_on.png);
}
#planList .closeBtn a span {
	display: none;
}
#planList .nowdate {
	text-align: right;
	margin: 5px 15px 10px 0;
	font-size: 10px;
	color: #888;
}
#planList .planBox {
	padding: 8px 8px 8px 0;
	zoom:1;
}
#planList .planBox li {
	float: left;
	border: 1px solid #cbcbcb;
	background-color: #ffffff;
	padding: 12px 10px  8px 10px;
	margin-left: 8px;
	width: 182px;
	height: auto;
}
#planList .planBox li .iconList img {
	padding:0 1px 10px;
}
#planList .planBox .yadoName {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 12px;
}
#planList .planBox .caption {
	font-size: 11px;
	margin-bottom: 8px;
	line-height: 1.4;
}
#planList .planBox .caption img {
	padding-right: 3px;
}
#planList .planBox .yadoPhoto {
	text-align: center;
	margin-bottom: 8px;
}
#jalanAdTargeting #planList .planBox .yadoPhoto img {
	max-width: 180px;
	max-height: 120px;
}
#planList .planBox .areaName {
	padding: 0 5px 10px;
	font-size: 10px;
}
#planList .planBox .price {
	padding: 8px 10px 5px;
	background-color: #f7f0d3;
	font-size: 11px;
	line-height: 1.4;
}
#planList .planBox .price .priceLabel {
	text-align: right;
}
#planList .planBox .price span {
	color: #e60012;
	font-weight: bold;
	font-size: 16px;
	text-align: right;
	padding-top: 5px;
}
#planList .planBox .price span.mini {
	font-size: 12px;
	font-weight: normal;
	padding: 0 2px;
}
#planList .planBox .btmLink {
	font-size: 10px;
	padding: 10px 0 5px;
	text-align: right;

}
#planList .listLink a {
	display: block;
	background-image: url(/jalan/doc/top/top_image/jalanAd/btn01.gif);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	/width: 628px;
	height: 31px;
	margin: 0 8px 8px;
}
#planList .listLink a:hover {
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
}
#planList .listLink a span {
	display: none;
}
#planList:after,
.planBox:after,
#sidePlanBox .carousel ul:after,
dl.sidePlanBoxF dd ul li .rightWrap .priceArea:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}
/* カルーセル処理 start */
#carousel {
    margin: 0 auto;
    width: 176px;
    height: 62px;
    text-align: left;
    position: relative;
}
#carousel_prev,
#carousel_next {
    top: 0;
    width: 20px;
    height: 100px;
    background: #000;
    cursor: pointer;
    position: absolute;
}
#carousel_prev {
    left: -20px;
    background:transparent url(/jalan/doc/top/top_image/jalanAd/prev.gif) no-repeat top left;
}
#carousel_next {
    right: -20px;
    background:transparent url(/jalan/doc/top/top_image/jalanAd/next.gif) no-repeat top left;
}

#carousel ul li {
    width: 176px;
    float: left;
    display: inline;
}
#jalanAdTargeting .iconlist img {
	padding:0 1px 10px;
}


/* =======================================
    ClearFixElements
======================================= */
#carousel ul:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

#carousel ul {
    display: inline-block;
    overflow: hidden;
}
/* カルーセル処理 end */

/*
  20140502 AB試験用CSS
  パターンC
-------------------------- */
dl.sidePlanBoxC {
	border: 1px solid #ff3c00;
	width: 176px;
	margin-bottom: 15px;
	padding: 1px;
	overflow: hidden;
}

dl.sidePlanBoxD {
	border: 1px solid #ff3c00;
	width: 163px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 1px;
	overflow: hidden;
}
dl.sidePlanBoxC dt,
dl.sidePlanBoxD dt {
	background-color: #eb5900;
	padding: 8px;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 2px;
}
dl.sidePlanBoxC dd {
	padding: 2px;
}
dl.sidePlanBoxC dd .pickUpWrapC {
	margin-top: 8px;
}
dl.sidePlanBoxC dd .pickUpWrapC .pickupBox {
	width: 150px;
	border: 1px solid #cbcbcb;
	background: #f2f2f2;
	padding: 10px;
}
dl.sidePlanBoxC dd .pickUpWrapC .pickupBox .yadoName,
dl.sidePlanBoxD .yadoName {
	font-weight: bold;
	margin-bottom: 10px;
}
dl.sidePlanBoxC dd .pickUpWrapC .pickupBox .yadoPhoto,
dl.sidePlanBoxD .yadoPhoto {
	margin-bottom: 10px;
}
dl.sidePlanBoxC dd .pickUpWrapC .pickupBox .yadoPhoto {
	margin-bottom: 10px;
}
dl.sidePlanBoxC dd .pickUpWrapC .pickupBox .price,
dl.sidePlanBoxD .price {
	font-size: 11px !important;
}
dl.sidePlanBoxC dd .pickUpWrapC .pickupBox .price span,
dl.sidePlanBoxD .price span {
	color: #e60012;
	font-size: 16px;
	display: block;
	font-weight: bold;
	text-align: right;
	margin-top: 10px;
}
/* カルーセル処理 start */
#carouselC {
	margin: 0 auto;
	width: 176px;
	height: 466px;
	text-align: left;
	position: relative;
}

#carouselC_prev,
#carouselC_next {
	top: 70px;
	width: 17px;
	height: 34px;
	cursor: pointer;
	position: absolute;
}
#carouselC_prev {
	left: -3px;
	background:transparent url(/jalan/doc/top/top_image/jalanAd/prev.png) no-repeat top left;
}
#carouselC_next {
	right: 0;
	background:transparent url(/jalan/doc/top/top_image/jalanAd/next.png) no-repeat top left;
}
#carouselC_prev:hover{
	background:transparent url(/jalan/doc/top/top_image/jalanAd/prev_on.png) no-repeat top left;
}
#carouselC_next:hover{
	background:transparent url(/jalan/doc/top/top_image/jalanAd/next_on.png) no-repeat top left;
}
#carouselC ul li {
	width: 176px;
	float: left;
	display: inline;
}


/* =======================================
    ClearFixElements
======================================= */
#carouselC ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

#carouselC ul {
	display: inline-block;
	overflow: hidden;
}
/* カルーセル処理 end */


/*
  20140502 AB試験用CSS
  パターンD
-------------------------- */
dl.sidePlanBoxD ul li {
	padding: 2px;
}
dl.sidePlanBoxD .price {
	background: #f7f0d3;
	padding: 10px;
	margin-top: 6px;
}
dl.sidePlanBoxD .anotherLink {
	padding: 2px 2px 10px 2px;
}
dl.sidePlanBoxD .anotherLink a:hover {
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
}
/* カルーセル処理 start */
#carouselD {
	margin: 0 auto;
	width: 176px;
	text-align: left;
	position: relative;
}

dl.sidePlanBoxD #carouselD {
	width: 163px;
}
dl.sidePlanBoxD #carouselD:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

#carouselD_prev,
#carouselD_next {
	top: 70px;
	width: 17px;
	height: 34px;
	cursor: pointer;
	position: absolute;
}
#carouselD_prev {
	left: -1px;
	background:transparent url(/jalan/doc/top/top_image/jalanAd/prev.png) no-repeat top left;
}
#carouselD_next {
	right: -1px;
	background:transparent url(/jalan/doc/top/top_image/jalanAd/next.png) no-repeat top left;
}
#carouselD_prev:hover{
	background:transparent url(/jalan/doc/top/top_image/jalanAd/prev_on.png) no-repeat top left;
}
#carouselD_next:hover{
	background:transparent url(/jalan/doc/top/top_image/jalanAd/next_on.png) no-repeat top left;
}
#carouselD ul li {
	width: 159px;
	float: left;
	display: inline;
}


/* =======================================
    ClearFixElements
======================================= */
#carouselD ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

#carouselD ul {
	display: inline-block;
	overflow: hidden;
}
/* カルーセル処理 end */


/*
  20140502 AB試験用CSS
  パターンE
-------------------------- */
dl.sidePlanBoxE {
	border: 1px solid #ff3c00;
	width: 358px;
	margin: 10px 0 5px 0;
	padding-bottom: 10px;
}
dl.sidePlanBoxE dt {
	background-color: #FF7A15;
	padding: 8px;
	color: #ffffff;
	font-weight: bold;
	margin: 1px;
}
dl.sidePlanBoxE dd ul li {
	padding: 0 0 10px 0;
}
dl.sidePlanBoxE dd ul li .planImg{
	float: left;
	display: inline;
	width: 130px;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox:first-child {
	border-right: 1px dotted #cbcbcb;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox {
	float: left;
	width: 164px !important;
/*	margin: 0 5px;*/
	background: #fff;
	padding: 7px;
	color: #1b4ae3;
	min-height: 52px;
	cursor: pointer;
	position: relative;
	line-height: 150%;
	zoom: 1;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox .linkBoxYado,
dl.sidePlanBoxE dd ul li .planWrap .linkBox .linkBoxPlan {
	position: relative;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox .linkBoxYado {
	padding-bottom:5px;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox .linkBoxPlan {
/* border-top:2px solid #fff; */
	background-color: #FFFAEA;
	padding: 0 5px 5px;
	min-height: 96px;
}

dl.sidePlanBoxE dd ul li .planWrap .linkBox .linkBoxYado:hover,
dl.sidePlanBoxE dd ul li .planWrap .linkBox .linkBoxPlan:hover {
	background-color: #FFFAEA;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox .sideImg {
	text-align: center;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox .sideImg img {
	max-width: 140px;
	max-height: 100px;
	padding: 0;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox .linkText {
	font-weight: bold;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox .areaName {
	font-size: 10px;
	padding: 0 5px;
	color: #333;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBoxYado:hover {
	color: #ff7E00;
/*	background-color: #fff0c1;*/
}
dl.sidePlanBoxE dd ul li .planWrap .linkBoxPlan:hover {
	color: #ff7E00;
/*	background-color: #fff0c1;*/
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox img {
	padding-right: 7px;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox .priceLabel {
    text-align: right;
    color: #E60012;
    font-weight: bold;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox .priceLabel .mini {
	font-size: 11px;
	font-weight: normal;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox .priceLabel .priceData {
	font-size: 16px;
	padding-left: 5px;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox .iconList {
	padding: 5px 0 5px;
}
dl.sidePlanBoxE dd ul li .planWrap .linkBox .hideLink a {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	text-indent: -999px;
	opacity:0;
	filter: alpha(opacity=0);
	-ms-filter: "alpha(opacity=0)";
}
#carouselE .moreLink {
	position: absolute;
	bottom: -4px;
	margin-left: 100px;
	font-size: 14px !important;
}
/* カルーセル処理 start */
#carouselE {
	margin: 0 auto;
	width: 358px;
	height: 300px;
	text-align: left;
	position: relative;
	padding-bottom: 10px;
}

#carouselE_prev,
#carouselE_next {
	bottom: -4px;
	width: 14px;
	height: 14px;
	cursor: pointer;
	position: absolute;
}
#carouselE_prev {
	left: 10px;
	background:transparent url(/jalan/doc/top/top_image/jalanAd/prev.gif) no-repeat top left;
}
#carouselE_next {
	right: 10px;
	background:transparent url(/jalan/doc/top/top_image/jalanAd/next.gif) no-repeat top left;
}
#carouselE_prev:hover,
#carouselE_next:hover {
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
}
#carouselE ul li {
	width: 358px;
	float: left;
	display: inline;
}
/* =======================================
    ClearFixElements
======================================= */
#carouselE ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

#carouselE ul {
	display: inline-block;
	overflow: hidden;
}
/* カルーセル処理 end */

/*
  20140516 AB試験用CSS
  パターンF
-------------------------- */
dl.sidePlanBoxF {
	border: 1px solid #FF7A15;
	width: 358px;
	margin: 10px 0 5px 0;
	padding-bottom: 10px;
}
dl.sidePlanBoxF dt {
	background-color: #FF7A15;
	padding: 6px;
}
dl.sidePlanBoxF dt span {
	border-left: 3px solid #faa848;
	color: #ffffff;
	font-weight: bold;
	padding-left: 10px;
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;
}
dl.sidePlanBoxF dd ul li {
	width: 342px;
	padding: 8px;
	float: left;
}
dl.sidePlanBoxF dd ul li .yadoName {
	margin-bottom: 10px;
}
dl.sidePlanBoxF dd ul li .yadoPhoto {
	float: left;
	display: inline;
	width: 120px;
}
dl.sidePlanBoxF dd ul li .yadoPhoto img {
	max-width: 120px;
	max-height: 100px;
}
dl.sidePlanBoxF dd ul li .rightWrap {
	float: right;
	width: 200px;
}
dl.sidePlanBoxF dd ul li .rightWrap .miniIcon li {
	float: left;
	display: inline;
	padding: 0 4px 0 0 !important;
	width: auto !important;
}
dl.sidePlanBoxF dd ul li .rightWrap .miniIcon {
	zoom: 1;
	margin-bottom: 5px;
}
dl.sidePlanBoxF dd ul li .linkArea:after,
dl.sidePlanBoxF dd ul li .rightWrap .miniIcon:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}
dl.sidePlanBoxF dd ul li .rightWrap .planName {
	line-height: 1.4;
	text-decoration: underline;
	color: #1b47ff;
}
dl.sidePlanBoxF dd ul li .rightWrap .areaName {
	float: left;
	font-size: 12px;
	position: absolute;
	bottom: 6px;
}
dl.sidePlanBoxF dd ul li .rightWrap .price {
	float: right;
	color: #E60012 !important;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	bottom: 6px;
	right: 6px;
}
dl.sidePlanBoxF dd ul li .linkArea {
	position: relative;
	background-color: #fffaea;
	padding: 6px;
	zoom: 1;
}
dl.sidePlanBoxF dd ul li .linkArea .hideLink a {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	text-indent: -999px;
	opacity:0;
	filter: alpha(opacity=0);
	-ms-filter: "alpha(opacity=0)";
}
/*
dl.sidePlanBoxF dd ul li .linkArea:hover {
	background-color: #fff0c1;
}
*/
dl.sidePlanBoxF dd .moreLink {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;
	margin: 4px auto 0 auto;
	text-align: center;
}
dl.sidePlanBoxF dd .moreLink a {
	color: #fff;
	background: url("/jalan/doc/top/top_image/jalanAd/bg_btn.gif") no-repeat center;
	height: 25px;
	width: 250px;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
	display: block;
	margin: 0 auto;
}
dl.sidePlanBoxF dd .moreLink a span {
	display: block;
	padding-top: 3px;
}
dl.sidePlanBoxF dd .moreLink a:hover {
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
}

/* カルーセル処理 start */
#carouselF {
	margin: 0 auto;
	width: 358px;
	height: 158px;
	text-align: left;
	position: relative;
}

#carouselF_prev,
#carouselF_next {
	bottom: -5px;
	width: 17px;
	height: 34px;
	cursor: pointer;
	position: absolute;
}
#carouselF_prev {
	left: 0;
	background:transparent url("/jalan/doc/top/top_image/jalanAd/prev.png") no-repeat top left;
}
#carouselF_next {
	right: 0;
	background:transparent url("/jalan/doc/top/top_image/jalanAd/next.png") no-repeat top left;
}
#carouselF_prev:hover,
#carouselF_next:hover {
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
}
/* カルーセル処理 end */

