/* carousel */
.side-rotation-banner{
  margin-bottom: 5px;
  overflow: hidden;
  width: 180px;
}

.sideCarousel-main{
  height: 100px;
  overflow: hidden;
  position: relative;
}
.sideCarousel-main-list{
  position: absolute;
  top: 0;
  left: 0;
}
.sideCarousel-main-list > li{
  position: relative;
  float: left;
}
.sideCarousel-main-list > li > a{
  display: block;
}
.sideCarousel-main-list:after {
  content: '';
  display: block;
  clear: both;
}

/* navigation */
.sideCarousel-nav{
  border: 1px solid #ccc;
  border-top: none;
  height: 24px;
  text-align: center;
  position: relative;
}
.sideCarousel-nav > p{
  margin: 0;
  position: absolute;
}
.sideCarousel-nav > p > a{
  color: #eb5900;
  display: block;
  /*font-family: monospace;*/
  /*font-size: 18px;*/
  /*font-weight: bold;*/
  text-decoration: none;
  overflow: hidden;
  padding-top: 11px;
  height: 0;
  width: 8px;
}
.sideNav-next{
  background: url(/jalan/doc/top/top_image/sidebnr_arrow_r.png) no-repeat left top;
  top: 7px;
  right: 10px;
}
.sideNav-prev{
  background: url(/jalan/doc/top/top_image/sidebnr_arrow_l.png) no-repeat left top;
  top: 7px;
  left: 10px;
}

.sideNav-pagination{
  font-size: 0;
}
.sideNav-pagination > li{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 8px 6px;
}
.sideNav-pagination > li > a{
  background: #fbf8e9;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  height: 6px;
  width: 6px;
}
.sideNav-pagination li a.current,
.sideNav-pagination li a:hover,
.sideNav-pagination li.current a{
  border: 1px solid #eb5900;
  background: #eb5900;
}
