/*
  スカイスクレイパー用CSS
-------------------------- */

#container {
	position: relative;
}
a.dp_long_bnr {
	position: absolute;
	right: -152px;
	top: -158px;
}
a.dp_long_bnr2 {
	position: absolute;
	left: 955px;
	top: 5px;
}
a.dp_long_bnr3 {
	position: absolute;
	right: 955px;
	top: 5px;
}
.skyPoint {
	position: relative;
}