@charset "Shift_JIS";

/*

header
container
└main
	└searchBlock1
		└各検索欄
	└ichioshiBlock
	└teibanBlock
└sidebar
footer

*/

*{margin:0; padding:0;}
body{font-size:11px;font-family: "メイリオ"}
ul{list-style:none;}

div#container{width:950px; margin:0 auto; /*overflow:hidden;*/}
* html div#container {height: 1%;}

div#main{float:left; width:740px; overflow:hidden;}
div#sideBar{float:right; width:180px;}

div#welcometop p div#header_area div#headerWelcomeFrame div#welcome p{font-size:12px;}
div#welcometop p div#header_area div#headerWelcomeFrame div#welcome p span.s12,
div#welcometop p div#header_area div#headerWelcomeFrame div#welcome p span.s12_f60,
div#welcometop p div#header_area div#headerWelcomeFrame div#welcome p span.s12_f60b{font-size:12px;}
div#welcometop p div#header_area div#headerWelcomeFrame div#welcome p span.s11_66{font-size:11px;}

p#kangen{position:relative; width:950px; height:14px;}
p#kangen span{position:absolute; top:0; left:770px; color:#666666	; font-size:11px;}

/*メイン*/
div#main {overflow: hidden; margin: 0px;}
* html div#main {height: 1%;}


/*メイン上段*/
div#main1 {overflow: hidden; margin: 0px;}
* html div#main1 {height: 1%;}
/*メイン上段左カラム*/
#mainCol1{width:360px; float:left;/* overflow:hidden;*/ position:relative; z-index:400;}
/*メイン上段右カラム*/
#mainCol2{width:360px; float:right; /*overflow:hidden;*/}

/*メイン下段*/
div#main2 {overflow: hidden; margin: 0px;}
* html div#main2 {height: 1%;}
/*メイン下段左カラム*/
#mainCol3{width:360px; float:left;/* overflow:hidden;*/ position:relative; z-index:400;}
/*メイン下段右カラム*/
#mainCol4{width:360px; float:right; /*overflow:hidden;*/}
/*メイン下段右カラムbanner用*/
#mainCol5{
    width:360px;
    float:right; /*overflow:hidden;*/
    padding-bottom: 10px;
}
#mainCol5 .left{
    width:170px;
    float:left; /*overflow:hidden;*/
    margin-left: 10px;
}
#mainCol5 .right{width:170px; float:right; /*overflow:hidden;*/}
#mainCol5 .comment{
    font-size: 100%;
    margin-top: 2px;
}


/*
上段
*/

div.sBox{margin-bottom:5px; border:solid 1px #ccc;}
div.sBox h2{width:358px; height:24px;}
div#sBox_ninkiActivity h2,
div#sBox_ninkiRentacar h2
{width:auto; height:auto; font-size:13px;border-left: 4px solid #ff6600;padding:9px 0 9px 3px;margin-bottom:6px;}
div#sBox_map h2{display:none;}
/*div#sBox_date h2{width:738px;}*/
div#sBox_mokuteki h2{width:80px; margin:4px 0 0 9px;}



/* 宿名・キーワードから探す */
div#mainCol2 div#sBox_keyword{position:relative; width:358px; height:80px; background:#FFF6E8 url(/jalan/doc/top/top_image/panel_bg.jpg); z-index:400;}
input#searchAreaStn{position:absolute; top:35px; left:10px; width:260px; }
div#sBox_keyword input#image1{position:absolute; top:35px; right:20px; width:48px;}
div#sBox_keyword p.explanation{position:absolute; top:60px; left:10px; font-size:11px;}
div#sBox_keyword p#keywordRanking{position:absolute; top:5px; right:10px;}
div#sBox_keyword p#keywordRanking a{font-size:10px;}

/* タグクラウド */
div#dyn-place-example{margin:0; position:relative; left:10px; top:27px; z-index:500;

}
/*div#dyn-place-example{margin:0; position:relative; left:-300px; top:11px; z-index:500;}*/

div#dyn-place-example iframe
{
    display:none;/*sorry for IE5*/
    display/**/:block;/*sorry for IE5*/
    position:absolute;/*must have*/
    top:0;/*must have*/
    left:0;/*must have*/
    z-index:-1;/*must have*/
    filter:mask();/*must have*/
    width:3000px;/*must have for any big value*/
    height:3000px/*must have for any big value*/;
}



div#tagInnerBox{position:absolute; width: 290px; padding: 10px 5px; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 221) none repeat scroll 0%; /* -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;*/}
p#tagBoxTtl{margin:0; padding:0; text-align: center;}
div#tagInnerBox p{width:290px; margin:0 0 10px; text-align:center; font-size:11px;}
div#tagInnerBox p strong{color:#999;}


div.placeexample{}
div.placeexample span.s16{font-size:16px;}
div.placeexample span.s14{font-size:14px;}
div.placeexample span.s13{font-size:13px;}
div.placeexample span.s12{font-size:12px;}


p.dyn-place-example-close a img{margin-bottom:1px;}

/* 地図から探す */
div#mainCol1 div#sBox_map{top:0; left:0; width:358px; height:255px; background:#FFF6E8 url(/jalan/doc/top/top_image/panel_bg.jpg); z-index:100;}
div#mainCol1 div#sBox_map object{z-index:101;}



/* 目的別に探す */
div#mainCol1 div#sBox_mokuteki{top:75px; right:0; width:358px; height:125px; background-color:#eee;}
/*div#mainCol1 div#sBox_mokuteki ul{position:absolute; top:275px; left:110px; width:220px;}
div#mainCol1 div#sBox_mokuteki ul li{width:190px; height:15px; margin-bottom:3px; padding-left:30px; font-size:12px; font-weight:bold; background:url(/jalan/doc/top/top_image/tri_sk.gif) no-repeat 0 3px;}
*/
p#konban{position:relative; width:358px;}
p#konban a{position:absolute; right:5px; top:-22px; font-size: 11px;}

div#mainCol1 div#sBox_mokuteki ul{position:absolute; top:295px; left:10px; width:340px;}
div#mainCol1 div#sBox_mokuteki ul li{clear:both; width:320px; height:15px; margin-bottom:5px; padding-left:10px; font-size:12px; background:url(/jalan/doc/top/top_image/tri_sk.gif) no-repeat 0 3px;}
div#mainCol1 div#sBox_mokuteki ul li a{float:left; font-weight:bold; width:125px; font-size:13px;}
div#mainCol1 div#sBox_mokuteki ul li span{font-size:10px;}

/* 人気の日程 */
div#sBox_ninkiActivity {display: none;}
/* 人気の日程 */
div#sBox_ninkiRentacar {display: none;}
/* 人気の日程 */
div#sBox_ninki h2{width:80px; margin:4px 0 0 9px;}
div#mainCol2 div#sBox_ninki,
div#mainCol2 div#sBox_ninkiActivity,
div#mainCol2 div#sBox_ninkiRentacar
{width:358px; height:auto; background-color:#eee; overflow:hidden;}
div#mainCol2 div#sBox_ninkiActivity,
div#mainCol2 div#sBox_ninkiRentacar
{width:auto;padding: 10px;}
/* ie6 */
* html body div#mainCol2 div#sBox_ninki{ height:100px; }

div#mainCol2 div#sBox_ninki ul#ninki3, #ninki4, #ninki5, #ninki6, #ninki_separate{
    width:300px;
    margin:0 0 10px 30px;
}

div#mainCol2 div#sBox_ninki ul#ninki3, #ninki4, #ninki5 li{width:300px; line-height:1.4em; font-size:12px;}

/* 人気の日程ABテスト　150202? */
div#sBox_ninki h3{
    margin:20px 0 10px 2px;
    font-size:12px;
}

div#mainCol2 div#sBox_ninki ul#ninki_separate{
    width:380px;
    margin-left:10px;
}

div#mainCol2 div#sBox_ninki ul#ninki_separate li{
    width:165px;
    line-height:1.4em;
    font-size:12px;
    padding-left: 10px;
    background: url(/jalan/doc/top/top_image/tri_sk.gif) no-repeat 0 3px;
    float:left;
}

div#mainCol2 div#sBox_ninki ul#ninki6 li,
div#mainCol2 div#sBox_ninkiActivity ul li,
div#mainCol2 div#sBox_ninkiRentacar ul li
{
    line-height:1.4em;
    font-size:12px;
    padding-left: 10px;
    background: url(/jalan/doc/top/top_image/tri_sk.gif) no-repeat 0 3px;
}
div#mainCol2 div#sBox_ninkiRentacar ul li {display:inline-block;width:100px;margin-bottom:2px;}
div#mainCol2 div#sBox_ninkiActivity ul li {margin-bottom:5px;}
div#mainCol2 div#sBox_ninki ul#ninki6{
    width:350px; margin:0 0 10px 10px;
}

#ninki_separate{
    width:358px;
    background-color:#eee;
    overflow:hidden;
}



/* 日付から探す */

/* 0907 検索パネル修正対応ここから */
div#mainCol2 div#sBox_date{position:relative; width:358px; height: 169px; margin-bottom:5px;  background:#FFF6E8 url(/jalan/doc/top/top_image/panel_bg.jpg);}
.clearfix:after {
    content: " " !important;
    display: block !important;
    height: 0 !important;
    clear: both !important;
    visibility: hidden !important;
}
.clearfix {
    display: inline-block !important;
    min-height: 1% !important;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1% !important;
}
.clearfix {
    display: block !important;
}
/* End hide from IE-Mac */

div#dateLine1 div.search-panel{
    margin: 2px 0px 10px 0px;
    padding: 5px 0px 5px 10px;
    width: 348px;
    font-size: 12px;
    line-height: 1.3;
}

div#dateLine1 div.column{
    padding: 6px 0px;
}

div#dateLine1 div.search-panel div.column select{
    height: 21px;
    border: 1px #999999 solid;
    background-color: #ffffff;
}

div#dateLine1 div.search-panel div.column input#dyn_y_txt{margin: 0px 2px 0px 0px;width: 50px;height: 15px;text-align:right;}
div#dateLine1 div.search-panel div.column input#dyn_m_txt{margin: 0px 2px 0px 4px;width: 35px;height: 15px;text-align:right;}
div#dateLine1 div.search-panel div.column input#dyn_d_txt{margin: 0px 2px 0px 4px;width: 35px;height: 15px;text-align:right;}
div#dateLine1 div.search-panel div.column input#datecheck{margin: 0px 2px 0px 0px;}
div#dateLine1 div.search-panel div.column div.datecheck-column{margin: 2px 0px 0px 10px;}
div#dateLine1 div.search-panel div.column select#dyn_stay_txt{margin: 0px 2px 1px 10px;width: 42px;}
div#dateLine1 div.search-panel div.column select#dyn_room_num{margin: 0px 2px 1px 0px;width: 42px;}
div#dateLine1 div.search-panel div.column div.number{_margin: -1px 0px 0px 0px;}/* for IE */
div#dateLine1 div.search-panel div.column select#dyn_adult_num{margin: 0px 2px 2px 4px;width: 42px;}
div#dateLine1 div.search-panel div.column p#adultnum-text,
div#dateLine1 div.search-panel div.column p#childnum{margin: 2px 2px 0px 4px;height: 21px; font-size: 13px;}

div#dateLine1 div.search-panel div.column input,
div#dateLine1 div.search-panel div.column select,
div#dateLine1 div.search-panel div.column span,
div#dateLine1 div.search-panel div.column img{
    vertical-align: middle;
}

div#dateLine1 div.search-panel div.column p{
    float: left;
    font-size: 12px;
}

div#dateLine1 div.search-panel div.column div.item{
    float: left;
}

div#dateLine1 div.search-panel div.column div.item p.caption{
    margin: 4px 0px 0px 0px;
}

div#dateLine2{
    position: relative;
    width: 335px;
    margin: 0 5px 0px 10px;
    z-index:210;
}

/* 0907 検索パネル修正対応ここまで */

/* 日付検索ボタン */
input#research{position:absolute; right:0; bottom:0; display:block; width:60px; height:25px; vertical-align:bottom;}

/* 子供客表記 */
div#childNoBox{width:348px; margin:0; padding:0 5px; text-align:right;}
div#childNoBox a{font-size:11px; text-decoration:underline; line-height:1.5em;}
div#childNoBox span#childNoBtm{font-size:1%;}
/* カレンダーポップアップ */
div#calBlock{/*width:740px;*/ position:absolute; left:300px; top:240px; z-index:490;}
div#calBox{z-index:500;}
div.dyn_cal{z-index:510;}
/* 県選択 */
select#ken_list{display:block; margin-bottom:5px;}
/* エリア選択 */
select#area_list{display:block;}


/* 120808 日付から探すパネル修正対応ここから */

/*common*/
.pB20 {padding-bottom:20px!important;}
.pb3 {padding-bottom:3px;}
.pb2 {padding-bottom:2px;}
.bgNone {background:none!important;height:85px!important;}
.mL0 {margin-left:0!important;}
.mT0 {margin-top: 0!important;;}
.mT8{margin-top: 8px!important;}
.pad0 {padding: 0!important;}
.fL {float:left;}
.padL42 {padding-left:42px;}
.mt1{ margin-top: 1px !important; }

#block-01 .boxContent_02 {background: url("/jalan/doc/top/top_image/panel_bg.jpg") repeat scroll 0 0 #FFF6E8; padding: 0 0 6px !important;width: 358px;overflow: hidden;}
.boxInner {margin:4px 10px;}

.topServiceList_01{font-size: 12px;}
.topServiceList_01 ul{width: 340px;}
.topServiceList_01 ul li.left{float: left; height: 28px;width:166px;padding: 0px 0px 0px 4px;}
.topServiceList_01 ul li.right{float: left; height: 28px;width:165px;}
.topServiceList_01 ul li input {position:relative;top:2px;}
.topServiceList_01 ul li label {padding-left: 5px;}
.topServiceList_01 ul li img {position:relative;top:9px;margin-right:3px;}
.topServiceList_01 .txt {font-size: 12px; padding: 0 0 8px 0;}
.topServiceList_02 .search-panel {margin:0!important;padding:0!important;}
.topServiceList_02 .column{padding:0!important;}
.topServiceList_02 .txt {font-size: 12px; padding-top: 4px;}
.topServiceList_02  select {
    background-color: #FFFFFF;
    border: 1px solid #999999;
}

#dp_childlen div.chl-pack {z-index: 600;}
.topServiceList_02 input {text-align: right;}
.topServiceList_02 #dateLine1 {padding-top:8px;}
.topServiceList_02 #area_ken,
.topServiceList_02 #area_ken_ana,
.topServiceList_02 #ken_list
{width:120px;}
.topServiceList_02 #area_list_jal,
.topServiceList_02 #area_list_ana,
.topServiceList_02 #area_list_jr
{margin-left: 8px;width:160px;}
.topServiceList_02 select#ken_list{display:inline !important; margin-bottom:0px !important;}
.topServiceList_02 select#area_list{display:inline !important;}
.topServiceList_02 #dateLine1{position: relative;}
.topServiceList_02 ul li {float: left; padding:0;}

input#research_02{clear: both; bottom:0; display:block; width:156px; height:25px; vertical-align:bottom; margin: 0 auto;}
select.top_ken{float: left; margin:6px 0 10px 0;width:134px !important;}
select.top_area{float: left; margin:6px 0 10px 10px;width:180px !important;}

.jalInner {margin-top: 6px;}
.jalInner h4{padding-top:2px;}
.jalInner .cat{float: left; margin: 2px 0 0 6px;}
.jalInner .cat_jr{float: left; margin: 2px 0 0 4px!important;}
.jalInner dl {clear: both; float: left; margin-top:8px;}
.jalInner dt {width:35px;float: left;}
.jalInner dl.lineType dd {width: 296px; /width: auto; float: left;margin-left: 7px;}
.jalInner ul {width: 300px;margin-left: 0px; padding:0;}
.jalInner ul li.arrowdp_02 {height: 8px; margin-top: 4px; vertical-align: top;padding: 3px\9; /padding: 1px;}
.jalInner dd.child {font-size:13px!important;}
.jalInner ul li.textArea {overflow:hidden;text-overflow:ellipsis;white-space: nowrap;width:120px;margin-top: 4px;}

#block-01 .notes {
    font-size: 11px;
    text-align: right;
    padding-top: 10px;
}

/* ana */
.jalInner span {font-size: 12px;}


/* standard.css より流用 */
div#block-01 .step1Area {
    background: url(/dp/images/dp_dot.gif) repeat-x left bottom;
    padding: 0 0 6px;
}
div#block-01 div.search-panel div.step dl {
    float:left;
    width:284px;
    display:block;
}
div#block-01 div.search-panel div.step dl dt{
    float: left;
    padding: 0 4px 0 2px;
}
div#block-01 div.search-panel div.step dl dt img{
    vertical-align: middle;
}
div#block-01 div.search-panel div.step dl dt.arrowdp{
    position:relative;top:4px;
}
div#block-01 div.search-panel div.step dl dt.arrowdp, x:-moz-any-link {
    position:relative;top:0px;
}
div#block-01 div.search-panel div.step dl dd{
    padding-bottom: 4px;
    width: 230px;
    float: left;
    height:20px;
    font-size:1.08em;
}
div#block-01 div.search-panel div.step dl dd select{
    margin: 0px 3px 0px 0px;
    vertical-align: middle;
}
div#block-01 div.search-panel div.step dl dd input#dep_y {
    width:45px;
    height:15px;
}
div#block-01 div.search-panel div.step dl dd input#dep_m,
div#block-01 div.search-panel div.step dl dd input#dep_d {
    width: 30px;
    height:15px;
}
div#block-01 div.search-panel div.step dl dd input.year {
    width:45px;
    height:15px;
}
div#block-01 div.search-panel div.step dl dd input.month,
div#block-01 div.search-panel div.step dl dd input.date {
    width: 30px;
    height:15px;
}
div#block-01 div.search-panel div.step dl dd select#dep_m,
div#block-01 div.search-panel div.step dl dd select#dep_d,
div#block-01 div.search-panel div.step dl dd select#arr_m,
div#block-01 div.search-panel div.step dl dd select#arr_d,
div#block-01 div.search-panel div.step dl dd select#dp_period,
div#block-01 div.search-panel div.step dl dd select#dp_member1{
    width: 45px;
}
div#block-01 div.search-panel div.step dl dd select#dep_bap,
div#block-01 div.search-panel div.step dl dd select#dep_aap,
div#block-01 div.search-panel div.step dl dd select#arr_bap,
div#block-01 div.search-panel div.step dl dd select#area_ken,
div#block-01 div.search-panel div.step dl dd select#area_list{
    width: 170px;
}
div#block-01 div.search-panel div.step dl dd select#dep_bap_ana,
div#block-01 div.search-panel div.step dl dd select#dep_aap_ana,
div#block-01 div.search-panel div.step dl dd select#arr_bap_ana,
div#block-01 div.search-panel div.step dl dd select#area_ken_ana,
div#block-01 div.search-panel div.step dl dd select#area_list_ana{
    width: 170px;
}
div#block-01 div.search-panel div.step dl dd img{
    margin: 0px 3px;
    vertical-align: top;
}
div#block-01 div.search-panel div.step .icon_cal {
    vertical-align: top !important;
}
div#block-01 div.search-panel div.step .img_ymd {
    vertical-align: top !important;
    padding-top:2px;
}
div#block-01 div.search-panel div.step ul {
    padding-left:42px;
}
div#block-01 div.search-panel div.step li {
    float:left;
    margin-right:5px;
    white-space: nowrap;
}
div#block-01 div.search-panel div.step li .img_txt_child {
    padding:2px 0 0 0 !important;
    vertical-align:top !important;
/padding:2px 0 4px 0 !important;
}
div#block-01 div.search-panel div.step li dl {
    width:56px;
    padding:0 !important;
}
div#block-01 div.search-panel div.step li dd.child {
    width:28px;
    padding:0 !important;
    position:relative;
}
div#block-01 div.search-panel div.step .children-total_ana,
div#block-01 div.search-panel div.step .children-total {
    padding:4px 0 0 4px;
}
div#block-01 div.search-panel div.step li dd.child #dp_childlen_ana,
div#block-01 div.search-panel div.step li dd.child #dp_childlen {
    left:-222px !important;
    top:-164px !important;
    /*left:-280px !important;
    top:-137px !important;*/
}
div#block-01 .topServiceList_02 div.search-panel div.step li dd.child #dp_childlen_ana,
div#block-01 .topServiceList_02 div.search-panel div.step li dd.child #dp_childlen {
    left:-162px !important;
    top:-164px !important;
}
div#block-01 div.search-panel div.step li.mR0 {
    margin:0 !important;
}
div#block-01 div.search-panel div.step li #dp_period,
div#block-01 div.search-panel div.step li #dp_room_num,
div#block-01 div.search-panel div.step li #dp_member1{
    width:40px;
}
div#block-01 div.search-panel div.step li #dp_period_ana,
div#block-01 div.search-panel div.step li #dp_room_num_ana,
div#block-01 div.search-panel div.step li #dp_member1_ana{
    width:40px;
}
#dp_childlen_ana .chl-pack .f12m, #dp_childlen .chl-pack .f12m {
    font-size: 12px;
}
div#block-01 div.search-panel div.step dt.childarea {
    width:28px;
    padding:0 !important;
}
div#block-01 div.search-panel div.step p.more-mile-plan{
    margin: 10px 0px 0px 5px;
}
div#block-01 div.search-panel div.step p.more-mile-plan input{
    margin: 0px 3px 0px 0px;
    vertical-align: middle;
}
/*div#block-01 div.search-panel div.step .dept-ap,
div#block-01 div.search-panel div.step .dept-bap_ana,
div#block-01 div.search-panel div.step .dept-ap_ana {
	color:#777777;
}*/

div#block-01 div.search-panel div.step .numberNote {
    text-align:right;
    padding-top:3px;
}
div#block-01 div.search-panel p.search-button{
    margin: 14px 0px 0px 0px;
    text-align: center;
}
div#block-01 div.search-panel .img_txt {
    margin-left:3px;
}
div#block-01 div.search-panel .img_txt_stay {
    margin-right:3px;
    margin-top:1px\9;
/margin-top:1px;
}
div#block-01 div.search-panel div.step .dateError {
    font-size:0.8em;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    div#block-01 div.search-panel .img_txt_stay {
        margin-top: 1px;
    }
}
.h_jr {/height:296px !important;}
/*.h_jal{/height:296px !important;}*/
* html .h_ana {height:294px !important;}
* html .h_jr {height:299px !important;}
* html .h_jal{height:294px !important;}
/* 120808 日付から探すパネル修正対応ここまで */

/* レンタカーチェックボックスにアイコンを追加 (2014/11/17) */
.search-panel .jlnpc-top__rentacar-check-box h4 img {
    padding-top: 1px;
}
.search-panel .jlnpc-top__rentacar-check-box .rentacarCheck {
    margin-top: 0;
}
.search-panel .jlnpc-top__rentacar-check-box .rentacarCheck input,
.search-panel .jlnpc-top__rentacar-check-box .rentacarCheck label {
    vertical-align: middle;
}
.search-panel .jlnpc-top__rentacar-check-box .rentacarCheck input {
    margin-right: 3px;
}
.search-panel .jlnpc-top__rentacar-check-box .rentacarCheck label {
    display: inline-block;
    min-height: 14px;
    padding-top: 5px;
    padding-left: 40px;
    background: url("/jalan/doc/top/top_image/icon_rent_a_car.png") left center no-repeat;
}

/* 2015航空券上期対応（2014/12/26） */
.airTermNotice {
    display: inline-block;
    position: relative;
    background: #fff;
    margin-top: 4px;
    padding: 3px 5px;
    border: solid 2px #ff7a15;
    border-radius: 3px;
    color: #ff7a15;
    font-weight: bold;
    line-height: 1.4;
    /* IE7対応 */
    *display: inline;
    *zoom: 1;
}
.airTermNotice span {
    display: block;
    position: absolute;
    width: 10px;
    height: 8px;
    background: url(/dp/images/air_term_balloon.gif) no-repeat;
    bottom: -8px;
    left: 7px;
}

/* レンタカー選択不可時（2015/07/21） */
.rentaNgObj {
    position: relative;
    color: #f00;
}
.rentaNgObj > span {
    display: block;
    margin-left: 16px;
    color: #333;
    font-size: 11px;
}
.rentaNgObj:after {
    content: '×';
    position: absolute;
    top: -1px;
    left: 1px;
    color: #666;
    font-size: 12px;
}
.rentaNgPopup {
    position: absolute;
    padding: 10px;
    background: rgb(60, 60 ,60); /* IE下位ブラウザ対策 */
    background: rgba(0,0,0,0.7);
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    z-index: 200;
}
.rentaNgPopup:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -16px;
    margin-left: -8px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 8px solid rgba(0,0,0,0.7);
}
.rentaNgPopup > span {
    display: block;
    position: relative;
    font-size: 11px;
    font-weight: normal;
}
.closeNgPopup {
    position: absolute;
    top: -25px;
    right: -8px;
    width: 18px;
    height: 18px;
    background: #333 url(/dp/images/ico_carpop_close.png) center center no-repeat;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.rentacarTwoline {
    min-height: 32px !important;
}

/* 中段バナー */
.center_banner {
    position: relative;
    clear: both;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*
下段
*/
div#underBlock{position:relative; z-index:10; width:740px; overflow:hidden;}
/* 下段共通 */
div#teibanBlock{width:360px; margin-bottom:10px;}

h2.tokusyuH2{width:350px; height:22px; line-height:22px; padding-left:10px; background:#f90 url(/jalan/doc/top/top_image/h2TeibanBG.png) no-repeat; color:#fff; font-size:12px;}
p.tokusyuUpdate{position:relative; width:360px;}
p.tokusyuUpdate span{position:absolute; right:5px; top:-15px; font-size:11px;}

/* イチオシ特集 */
div#ichioshiBlock{width:360px; margin-bottom:10px;clear:both; width:358px; padding-bottom:10px; overflow:hidden; border:solid #ccc; border-width:0 1px 1px;}
div#ichioshiBlock ul{width:358px; }
div#ichioshiBlock ul li{display: inline; float: left; margin-left: 10px; padding-top: 5px; width: 169px; }
div#ichioshiBlock ul li h3{margin: 2px 0 5px; width: 160px;}

div#ichioshiBlock ul li p.ichioshiTxt{width:160px; height:3.6em; margin:5px auto 0; line-height:1.2em; text-align:left; font-size:11px; color:#666; border-bottom:dotted 1px #f90;}
div#ichioshiBlock ul li p.ichioshiTxtBtm{border-bottom:none;}
div#ichioshiBlock ul li p.ichioshiImg{width:160px; height:55px; margin:0 auto;}
div#ichioshiBlock ul li p.ichioshiImg a{display:block; width:160px; height:55px;}


/* カップル */
h2.coupleH2 {
    background-image: url(../top_image/h2couple.png);
    background-repeat: no-repeat;
    background-position: left top;
    height: 25px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: #DB4EC2;
    border-right-color: #DB4EC2;
    border-left-color: #DB4EC2;
    font-size: 12px;
    font-weight: bold;
    color: #DB4EC2;
    padding-left: 30px;
    padding-top: 5px;
}
div#coupleBlock{
    width:360px;
    margin-bottom:10px;
    clear:both;
    width:358px;
    padding-bottom:10px;
    overflow:hidden;
    border-top-width: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #DB4EC2;
    border-right-color: #DB4EC2;
    border-bottom-color: #DB4EC2;
    border-left-color: #DB4EC2;
    background-image: url(../top_image/couple_bg001.png);
    background-repeat: repeat-x;
    background-position: left bottom;
}
div#coupleBlock ul{width:358px;}
div#coupleBlock ul li{float:left; display:inline; width:179px;	padding-top:5px; text-align:left;}
div#coupleBlock ul li h3{width:160px; margin:3px 0 5px 10px;}
div#coupleBlock ul li p.coupleImg{width:160px; height:55px; margin:0 auto;}
div#coupleBlock ul li p.coupleImg a{display:block; width:160px; height:55px;}
#coupleBlock ul .allow {
    width: 162px !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    margin-bottom: 5px !important;
    padding-left: 7px !important;
    text-align: left !important;
    background: url(/jalan/doc/top/top_image/tri_sk.gif) no-repeat 0 11px !important;
    float: right;
}


/* ファミリー */
h2.familyH2 {
    background-image: url(../top_image/h2family.png);
    background-repeat: no-repeat;
    background-position: left top;
    height: 25px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: #75A76D;
    border-right-color: #75A76D;
    border-left-color: #75A76D;
    font-size: 12px;
    font-weight: bold;
    color: #063;
    padding-left: 30px;
    padding-top: 5px;
}
div#familyBlock{
    width:360px;
    margin-bottom:10px;
    clear:both;
    width:358px;
    padding-bottom:10px;
    overflow:hidden;
    border-top-width: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #75A76D;
    border-right-color: #75A76D;
    border-bottom-color: #75A76D;
    border-left-color: #75A76D;
    background-image: url(../top_image/family_bg001.png);
    background-repeat: repeat-x;
    background-position: left bottom;
}
div#familyBlock ul{width:358px; }
div#familyBlock ul li{
    float:left;
    display:inline;
    width:179px;
    padding-top:5px;
    text-align:left;
}
div#familyBlock ul li h3{width:160px; margin:3px 0 5px 10px; line-height:1.2;}
div#familyBlock ul li p.familyImg{width:160px; height:55px; margin:0 auto;}
div#familyBlock ul li p.familyImg a{display:block; width:160px; height:55px;}
#familyBlock ul .allow {
    width: 162px !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    margin-bottom: 5px !important;
    padding-left: 7px !important;
    text-align: left !important;
    background: url(/jalan/doc/top/top_image/tri_sk.gif) no-repeat 0 11px !important;
    float: right;
}

/* ピックアップ */
div#pickupBlock{width:360px; margin-bottom:10px;clear:both; width:358px; padding-bottom:10px; overflow:hidden; border:solid #ccc; border-width:0 1px 1px;}
div#pickupBlock ul{
    width:358px;
    margin: 10px;
}
div#pickupBlock ul li{
    float:left;
    display:inline;
    width:179px;
    padding-top:5px;
    text-align:left;
}
div#pickupBlock ul li h3{width:160px; height:22px; text-align:center; margin:0 auto 5px;}
div#pickupBlock ul li p.familImg{width:160px; height:55px; margin:0 auto;}
div#pickupBlock ul li p.familImg a{display:block; width:160px; height:55px;}
#pickupBlock ul .allow {
    width: 165px !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    margin-bottom: 5px !important;
    padding-left: 7px !important;
    text-align: left !important;
    background: url(/jalan/doc/top/top_image/tri_sk.gif) no-repeat 0 11px !important;
    float: left;
}

/* 定番特集 */
div.teibanBlock{position:relative; width:343px; padding:10px 5px 5px 10px; border:solid #ccc; border-width:0 1px 1px; margin-bottom:10px; overflow:hidden;}
div.teibanBlock ul{}
div.teibanBlock ul li{
    width:336px;
    line-height:1.5em;
    padding-left:7px;
    font-size:12px;
    background:url(/jalan/doc/top/top_image/tri_sk.gif) no-repeat 0 5px;
}

div.teibanBlock ul li.list2nd{width:316px; margin:0 0 5px 0; padding-left:20px; font-weight:normal; font-size:12px; background:none;}
div.teibanBlock ul li span{height:15px; font-size:9px;}

div.teibanBlock p.motozuku{clear:both; font-size:9px;}

ul#teibanBlock_bnr li{
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 10px;
    padding-right: 15px;
}

ul#teibanBlock_bnr li.teibanImg{
    background:none;
    padding: 0 22px 0 0;
    margin: 0 0 5px;
}

/*div#teibanBox1{height:80px;} 090303削除 */
div.teibanBox1 ul{width:354px;}
div.teibanBox1 ul li{float:left; width:155px; padding-right: 15px; margin:0 0 5px 0; font-size:12px; font-weight:normal;}
/*div#teibanBox2{height:90px;} 090303削除 */
div.teibanBox2 ul li{float:left; margin:0 0 5px 0; font-size:12px; font-weight:normal;}

/* news */
h2.news{
    width:350px;
    height:22px;
    line-height:22px;
    padding-left:10px;
    background:#ccc url(/jalan/doc/top/top_image/h2BottomBG.png) no-repeat;
    font-size:12px;
    color: #FF6600;
}
.newsheadline {
    background-color: #FFF7DE;
    padding: 10px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #CCCCCC;
    border-left-color: #CCCCCC;
    font-size:13px;
    font-weight:bold;
}

.news_img1 {
    float: left;
    margin-bottom: 10px;
}
.newscontents p {
    margin: 5px 5px 5px 5px;
}
.newscontents .news_subtxt {
    font-size: 11px;
    color: #666666;
    margin-bottom: 10px;
}




/* 右画像 */
div.pictBox{
    position:absolute;
    top:5px;
    right:5px;
    width:190px;
    background-color:#eee;
    float: right;
}
.newscontents {
    float: left;
    width: 200px;
    padding-top: 5px;
    margin-bottom: 5px;
}
.newscontents .s12_30 {
    margin-top: 5px;
}

.spcontents {
    float: left;
    width: 280px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.spcontents p {
    margin: 5px 5px 5px 5px;
}
.spcontents .sp_subtxt {
    font-size: 11px;
    color: #666666;
    margin-bottom: 10px;
}

div.pictBox img{display:block; margin-bottom:5px;}
div.pictBox p{width:120px; font-size:11px; line-height:1.3; word-wrap:break-word; word-break:break-word;}

/* 沖縄・北海道 */
ul#okinawaList{position:relative; width:343px; height:50px; margin-bottom:5px;}
ul#okinawaList li{position:absolute; width:160px;}
ul#okinawaList li#ttlOkinawa{top:0; left:0;}
ul#okinawaList li#ttlHokkaido{top:0; left:150px;}
ul#okinawaList li#Okinawa2nd{top:30px; left:0;}
ul#okinawaList li#Hokkaido2nd{top:30px; left:150px;}

/*div#teibanBox3{height:145px;} 090303削除 */
/* ie6
*html body div#teibanBox3{height:145px; margin-bottom:19px;} */
div.teibanBox3 ul{width:343px;}
div.teibanBox3 ul li{float:left; width:155px; margin:0 0 5px 0; font-size:12px; font-weight:normal;}

/*ご利用規約等*/
ul#innerLink{clear:both; width:180px; padding:10px 0; margin-bottom:10px; border:solid #999; border-width:1px 0;}
ul#innerLink li{line-height:1.2em;}
ul#innerLink li a{font-size:92%; text-decoration:none; font-size:10px;}


/* 最下段 */
h2.btmBoxH2{width:350px; height:22px; line-height:22px; padding-left:10px; background:#ccc url(/jalan/doc/top/top_image/h2BottomBG.png) no-repeat; font-size:12px;}
div.btmBox{width:348px; padding:5px; border:solid #ccc; border-width:0 1px 1px; margin-bottom:10px; }
/* にゃらん */
div#nyalanBlock table{width:348px;}
div#nyalanBlock table th,
div#nyalanBlock table td{padding:5px 5px 5px 0; text-align:left;}
div#nyalanBlock table th{width:50px;}
div#nyalanBlock table td{width:280px;}

table tr#nyalanTopLine th,
table tr#nyalanTopLine td{border-bottom:dotted 1px #ccc;}
/*おしらせ*/
div#mainCol2 div.btmBox{height:;}
* html body div#mainCol2 div.btmBox{height:;}

div#oshiraseBlock ul{width:328px; margin:10px 0 0; pading-left:10px;}
div#oshiraseBlock ul li{width:318px; height:20px; line-height:20px; margin-bottom:3px; list-style:disc; list-style-position:inside; margin-left:10px;color:#999;}

/*
サイドバー
 */

/* マイページ上余白 */
div#oshiraseframe{margin-top:0px;}
/* マイページ文字サイズ */
div#sideBar div#oshiraseframe div.rightarea div#oshirase div#oshirasetop p.s11_006b,
div#sideBar div#oshiraseframe div.rightarea div#oshirase div#oshirasetop p.s11_006b span.s11_00b{font-size:11px;}

div#sideBar div#oshiraseframe div.rightarea div#oshirase p.s12_00,
div#sideBar div#oshiraseframe div.rightarea div#oshirase div#oshirasebox p.s12_00{font-size:12px;}
div#sideBar div#oshiraseframe div.rightarea div#oshirase p.s11_00b,
div#sideBar div#oshiraseframe div.rightarea div#oshirase div#oshirasebox p.s11_00b{font-size:11px;}

/* 見た宿リンク文字サイズ */
div#sideBar div.rightarea div#mitayado p{font-size:13px;}
div#sideBar div.rightarea div#mitayado p.s12_30{font-size:13px;}
div#sideBar div.rightarea div#mitayado p.s12_30 a{font-size:13px;}

div#mitayado p,
div#mitayado p.s12_30 a{font-size:12px;}

/* 右上AJ枠 告知用 */
.announce {
    background:#feeeee;
    border:1px solid #ff0000;
    padding:4px 6px;
    font-size:0.8em;
}
.announce p {
    font-weight:bold;
    background:url(/jalan/doc/top/top_image/icon_announce.gif) no-repeat 0 1px ;
    margin-bottom:3px;
    padding-left:14px;
    padding-bottom:2px;
}

/* 宿ブログ下余白調整 */
div#pickupblog{margin-bottom:10px;}

/* 宿ランキング */
div#yadolank ul li{padding-left:7px; background:url(/jalan/doc/top/top_image/tri_sk.gif) no-repeat 0 3px;}

/* 本誌、にゃらんtable */
table.sideTbl{width:180px;}
table.sideTbl th{width:50px; text-align:left;}
table.sideTbl td{width:180px; padding-left:5px; text-align:left; vertical-align:middle;}

/* 3段バナー */
ul#sideBanList li{list-style:none;}
/* QRコード */
div#qrBox{widht:108px;}
div#qrBox img{display:block; width:108px; height:108px; margin:10px auto 20px;}

/* footer上サイトコピー */
p#btmName{clear:both; width:950px; text-align:right; color:#666; background-image:red;}

/* footer */
div#footer{width:950px; margin:20px auto; text-align:left;}
div#footer p a{font-size:11px; text-decoration:none;}
div#footer p a:hover{color:ff7d00;}

div#footer p#footLine1{width:950px; margin:20px 0; color:#666;}
div#footer p#footLine1 a{color:#999;}

div#footer p#footLine2{width:950px; margin:20px 0 5px; border-bottom:solid 2px #999;}
div#footer p#footLine3{width:950px; margin:5px 0 0;}

p#footRLogo{width:950px; height:40px; margin:30px 0; text-align:left;
    font-family: Meiryo;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}

/* h1 */
.index_h1 {
    font-size: 10px;
    color: #666666;
    padding: 0 0 5px 0;
    text-align: right;
    font-weight: normal;
    display: block;
}

/* 多言語サイトリンク画像ロールオーバー 20121217 */

#tagengolink1,
#tagengolink2,
#tagengolink3,
#tagengolink4,
#tagengolink1 a,
#tagengolink2 a,
#tagengolink3 a,
#tagengolink4 a {
    display: inline-block;
    vertical-align: middle;
}

#tagengolink1 a,
#tagengolink2 a,
#tagengolink3 a,
#tagengolink4 a {
    height: 18px;
    background-image: url("/jalan/doc/top/top_image/tagengo_link.gif");
    background-repeat: no-repeat;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

#tagengolink1 a,
#tagengolink2 a {
    width: 73px;
}

#tagengolink3 a,
#tagengolink4 a {
    width: 53px;
}

#tagengolink1 a {
    background-position: 0 0;
}

#tagengolink1 a:hover {
    background-position: 0 -18px;
}

#tagengolink2 a {
    background-position: 0 -36px;
}

#tagengolink2 a:hover {
    background-position: 0 -54px;
}

#tagengolink3 a {
    background-position: 0 -72px;
}

#tagengolink3 a:hover {
    background-position: 0 -90px;
}

#tagengolink4 a {
    background-position: 0 -108px;
}

#tagengolink4 a:hover {
    background-position: 0 -126px;
}

/* 本誌枠　項目追加　20130401 */
ul.sideUl li { padding: 0 0 10px 0; }


/*================================================

201102 ADD ROTATION BANNER

================================================*/

/*-------------------------------------------------------------------------------
 PROPERTY CLASSES
 -------------------------------------------------------------------------------*/

/* WIDTH */
.wq			{ width: 25% !important; }
.w33per		{ width: 33.3% !important; }
.wh			{ width: 50% !important; _width: 49.9% !important; }
.w75per		{ width: 75% !important; }
.wf			{ width: 100% !important; }

/* HEIGHT */
.h20		{ height: 20px !important; }
.h22		{ height: 22px !important; }
.h23		{ height: 23px !important; }
.h55		{ height: 55px !important; /height: 21px !important; }

/* MARGIN */
.mt2		{ margin-top: 2px !important; }
.mt3		{ margin-top: 3px !important; }
.mt5		{ margin-top: 5px !important; }
.mt7		{ margin-top: 7px !important; }
.mt10		{ margin-top: 10px !important; }
.mr5		{ margin-right: 5px !important; }
.mr10		{ margin-right: 10px !important; }
.mb5		{ margin-bottom: 5px !important; }
.mb10		{ margin-bottom: 10px !important; }
.ml5		{ margin-left: 5px !important; }
.ml10		{ margin-left: 10px !important; }

/* PADDING */
.pt2		{ padding-top: 2px !important; }
.pt3		{ padding-top: 3px !important; }
.pt5		{ padding-top: 5px !important; }
.pt10		{ padding-top: 10px !important; }
.pr5		{ padding-right: 5px !important; }
.pr10		{ padding-right: 10px !important; }
.pb5		{ padding-bottom: 5px !important; }
.pb10		{ padding-bottom: 10px !important; }
.pb15		{ padding-bottom: 15px !important; }
.pl5		{ padding-left: 5px !important; }
.pl10		{ padding-left: 10px !important; }

/* BORDER */
.bdGray		{ border: 1px solid #CCCCCC; }
.bdGrayL	{ border-left: 1px solid #CCCCCC; }

/* FLOAT */
.fl			{ float: left !important; }
.fr			{ float: right !important; }
.cb			{ clear: both !important; }
/* CLEAR FIX */
.cf:after	{ content: "" !important; display: block !important; clear: both !important; height: 0 !important; visibility: hidden !important; }
.cf			{ zoom: 1 !important; }

/* DISPLAY */
.db			{ display: block !important; }
.di			{ display: inline !important; }
.dib4i		{ display: inline-block !important; vertical-align: middle !important; }
.dib4b		{ display: inline-block !important; *display: inline !important; zoom: 1 !important; vertical-align: middle !important; }
.dn			{ display: none !important; }

/* OVERFLOW */
.ofh		{ overflow: hidden !important; }
.ofa		{ overflow: auto !important; }
.ofs		{ overflow: scroll !important; }
.ofxs		{ overflow-x: scroll !important; }
.ofys		{ overflow-y: scroll !important; }

/* VERTICAL-ALIGN */
.vat		{ vertical-align: top !important; }
.vam		{ vertical-align: middle !important; }
.vab		{ vertical-align: bottom !important; }

/* TEXT-ALIGN */
.tal		{ text-align: left !important; }
.tac		{ text-align: center !important; }
.tar		{ text-align: right !important; }

/* COLOR */
.fgOrange	{ color: #FF6600; }

/* WHITE-SPACE */
.nr			{ white-space: nowrap; }

/* HASLAYOUT TO TRUE */
.zm1		{ zoom: 1 !important; }

/*-------------------------------------------------------------------------------
 ORIGINAL CLASSES
 -------------------------------------------------------------------------------*/

.rotationBannerWrapper {
    margin-bottom: 12px;
    zoom: 1;
}
.rotationBanner {
    min-height: 253px;
    _height: 253px;
}
.RBMainList {
    position: relative;
    width: 360px;
    height: 197px;
}
.RBMainList li {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.RBScrollL {
    display: block;
    float: left;
    width: 29px;
    height: 56px;
    background: url(/jalan/doc/top/rotationbanner/img/rotationBanner.png) no-repeat 0 0;
    text-indent: -9999px;
    overflow: hidden;
}
.RBThumbListWrapper {
    position: relative;
    float: left;
    width: 302px;
    height: 55px;
    overflow: hidden;
    border-bottom: 1px solid #CCCCCC;
}
.RBThumbList {
    position: absolute;
    top: 0;
    left: -101px;
    width: 9999px;
}
.RBThumbList li {
    display: none;
    float: left;
    width: 100px;
    height: 55px;
    border-right: 1px solid #F8F1D7;
}
.RBScrollR {
    display: block;
    float: left;
    width: 29px;
    height: 56px;
    background: url(/jalan/doc/top/rotationbanner/img/rotationBanner.png) no-repeat -29px 0;
    text-indent: -9999px;
    overflow: hidden;
}
.RBMainList a,
.RBThumbList a {
    position: relative;
    display: block;
    cursor: pointer;
}
.hoverBd {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
}
.RBMainList a .hoverBd			{ background: url(/jalan/doc/top/rotationbanner/img/rotationBanner.png) no-repeat 9999px -60px; width: 360px; height: 197px; }
.RBMainList a:hover .hoverBd	{ background: url(/jalan/doc/top/rotationbanner/img/rotationBanner.png) no-repeat 0 -60px; }
.RBThumbList a .hoverBd			{ background: url(/jalan/doc/top/rotationbanner/img/rotationBanner.png) no-repeat 9999px -260px; width: 100px; height: 55px; }
.RBThumbList a:hover .hoverBd	{ background: url(/jalan/doc/top/rotationbanner/img/rotationBanner.png) no-repeat 0 -260px; }

.actionLinkText {
    margin-top: 8px;
    padding: 0 5px 5px 0;
    text-align: right;
}
.boxCaption {
    margin-top: 8px;
    padding: 0 5px 5px 0;
    text-align: right;
    color: #666666;
}
.shunLinkList {
    padding-top: 2px !important;
    padding-left: 10px !important;
}
.shunLinkList li {
    float: left !important;
    width: 172px !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    margin-bottom: 5px !important;
    padding-left: 7px !important;
    text-align: left !important;
    background: url(/jalan/doc/top/top_image/tri_sk.gif) no-repeat 0 11px !important;
}
.icnArrowR {
    font-size: 12px !important;
    padding-left: 7px !important;
    text-align: left !important;
    background: url(/jalan/doc/top/top_image/tri_sk.gif) no-repeat 0 2px !important;
}

.icnArrowR_shun a{
    font-size: 13px !important;
    padding-left: 10px !important;
    text-align: left !important;
    background: url(/jalan/doc/top/top_image/tri_sk.gif) no-repeat 0 2px !important;
    color:#1b47ff;
    text-decoration:none;
}
.icnArrowR_shun a:hover{
    background: url(/jalan/doc/top/top_image/tri_sk.gif) no-repeat 2px 2px !important;
    color:#ff7d00;
}
.shun_height{
    height:30px;
}

#container {
    clear: both;
}
.reserveDate, .reserveDateANA {
    /*color: #FF3600;*/
    font-weight: bold;
    padding: 8px 0 4px;
}

div#block-01 div.search-panel p.noticeunder,
div#block-01 div.search-panel p.noticeunderJR {
    font-size: 11px !important;
    padding: 10px 0 0;
    text-align: right;
}
div#block-01 div.search-panel div.step .count {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-top: 5px;
    padding: 4px 8px;
    white-space: normal !important;
    width: 278px !important;
}
.h50 {
    height:50px !important;
}

/*=========== テーマパーク用 ==========*/
.wid{
    width:166px;
}
/*=========== テーマパーク用 end ===========*/

.mL8 {margin-left:8px;}
.mL10 {margin-left:10px !important;}
.pT8 {padding-top:8px;}

/*================================================

2015/08/31 日付から探す (宿のみ) 改修

================================================*/

/* 地図から探す、宿名・キーワードから探す、日付から探す枠 */
#main .jlnpc-top__search-by-area,
#main .jlnpc-top__search-by-word,
#main .jlnpc-top__search-by-date {
    border-color: #ff7a15;
}

#main #main1 .jlnpc-top__search-by-word,
#main .jlnpc-top__search-by-date {
    background: #faf8f0;
}

.jlnpc-top__search-by-date-inner {
    margin: 10px 10px 4px;
}

/* サービス選択 */
.jlnpc-top__search-categories {
    padding: 8px 0 4px 8px;
    border: #ccc 1px solid;
    background: #fff;
}

.jlnpc-top__search-categories ul {
    *zoom: 1;
    font-size: 13px;
}

.jlnpc-top__search-categories ul:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.jlnpc-top__search-categories li {
    float: left;
    width: 164px;
    padding-bottom: 4px;
    *letter-spacing: -1px;
}

.jlnpc-top__search-categories input {
    vertical-align: middle;
}

.jlnpc-top__search-categories label {
    display: inline-block;
    padding-left: 4px;
    *padding-left: 0;
    vertical-align: middle;
}

.jlnpc-top__search-categories span {
    overflow: hidden;
    display: inline-block;
    height: 17px;
    margin-right: 3px;
    background-repeat: no-repeat;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    vertical-align: middle;
}

.jlnpc-top__search-categories .jalan span {
    margin-right: 0;
}

.jlnpc-top__search-categories .jal span {
    width: 59px;
    background-image: url("/jalan/doc/top/top_image/dateSearchPanelAB/txt_jal.gif");
}

.jlnpc-top__search-categories .jr span {
    width: 27px;
    background-image: url("/jalan/doc/top/top_image/dateSearchPanelAB/txt_jr.gif");
}

.jlnpc-top__search-categories .ana span {
    width: 57px;
    background-image: url("/jalan/doc/top/top_image/dateSearchPanelAB/txt_ana.gif");
}

/* 宿のみ検索 */
.jlnpc-top__search-jalan .row {
    *zoom: 1;
    margin-top: 10px;
    line-height: 28px;
}

.jlnpc-top__search-jalan .row:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.jlnpc-top__search-jalan .item {
    float: left;
}

.jlnpc-top__search-jalan p {
    font-size: 13px;
}

.jlnpc-top__search-jalan input,
.jlnpc-top__search-jalan select {
    vertical-align: middle;
}

.jlnpc-top__search-jalan input {
    font-size: 14px;
}

.jlnpc-top__search-jalan select {
    min-width: 50px;
    height: 28px;
    margin-right: 5px;
    padding-left: 2px;
    border-color: #a9a9a9;
    color: #333;
    font-size: 13px;
    font-family: Meiryo, 'メイリオ', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'MS PGothic', 'ＭＳ Ｐゴシック', Osaka, sans-serif;
}

.jlnpc-top__search-jalan select:disabled {
    color: #7f7f7f;
}

/* 日付入力 */
.jlnpc-top__date-values {
    display: none;
}

.jlnpc-top__date-picker {
    position: relative;
}

.jlnpc-top__date-picker input {
    cursor: pointer;
    width: 142px;
    height: 20px;
    padding: 3px 6px;
    border: #ccc 1px solid;
    color: #333;
    line-height: 20px;
    text-align: left;
}

.jlnpc-top__date-picker .icon {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 4px;
    overflow: hidden;
    display: inline-block;
    width: 26px;
    height: 21px;
    background: url("/dp/images/dp_bod_01_img_cal.gif") no-repeat;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

.jlnpc-top__date-picker--disabled input {
    background-color: #eee;
    color: #666;
}

.jlnpc-top__search-jalan .item__datecheck {
    margin-left: 10px;
}

.jlnpc-top__search-jalan .item__stay-count {
    margin-left: 15px;
}

/* 部屋人数 */
.jlnpc-top__search-jalan #room-num,
.jlnpc-top__search-jalan #adultnum-selecttag,
.jlnpc-top__search-jalan #adultnum-text {
    margin-right: 20px;
}

.jlnpc-top__search-jalan #adultnum-selecttag {
    display: inline;
}

.jlnpc-top__search-jalan #adultnum-text {
    display: none;
}

.jlnpc-top__search-jalan .item__number p {
    float: left;
}

.jlnpc-top__search-jalan .item__number span {
    display: inline-block;
    vertical-align: middle;
}

/* エリア選択 */
.jlnpc-top__search-jalan #ken_list {
    float: left;
    width: 140px;
    margin-right: 0;
}

.jlnpc-top__search-jalan #area_list {
    float: right;
    width: 185px;
}

/* 検索ボタン */
.jlnpc-top__search-jalan #research_02 {
    margin-bottom: 14px;
    *margin-bottom: 10px;
}

/* カレンダー */
#main .jlnpc-top__calendar {
    z-index: 2000;
}

.jlnpc-top__calendar #calBox > table {
    border-collapse: collapse;  /* IE で空白が少し出るのを修正 */
}

.jlnpc-top__calendar .dyn_cal {
    top: 0;
    left: 0;
    margin-top: 0;
}

/* お知らせ BOX がカレンダーより上になるようにする */
#header_dms_ovr {
    z-index: 2200;
}

/* 特別オファーのちら出しがカレンダーより上になるようにする */
#jalanAdTargeting #planList {
    z-index: 2100;
}

/*================================================

2015/09/28 検索履歴の追加

================================================*/

.jlnpc-top__search-history {
    display: none;
    margin-top: -4px;
    border: #aaa 1px dotted;
    background-color: #fff;
    color: #333;
}

div.jlnpc-top__search-history h2 {
    width: auto;
    height: auto;
    padding: 3px 8px 3px 30px;
    background: url("/jalan/doc/top/top_image/icon_magnifying_glass.png") 8px 50% no-repeat;
    font-size: 12px;
    font-weight: normal;
}

.jlnpc-top__search-history ul li {
    position: relative;
    float: none;
    padding: 4px 8px;
    border-top: #aaa 1px dotted;
    font-size: 12px;
}

.jlnpc-top__search-history ul .condition {
    width: 295px;
    padding-left: 10px;
    background: url("/jalan/doc/top/top_image/tri_sk.gif") 0 .4em no-repeat;
    line-height: 1.4;
}

.jlnpc-top__search-history ul .remove {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 11px;
    height: 11px;
    background: url("/jalan/common/image/infobox_subclose.png") no-repeat;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

.jlnpc-top__search-history a {
    text-decoration: none;
}

.jlnpc-top__search-history a:visited {
    color: #1b47ff;
}

.jlnpc-top__search-history a:hover {
    color: #ff7d00;
    text-decoration: underline;
}

.jlnpc-top__search-history .more {
    padding: 3px 8px;
    border-top: #aaa 1px dotted;
    text-align: right;
}

.jlnpc-top__search-history .more a {
    display: inline-block;
    padding-left: 10px;
    background: url("/jalan/doc/top/top_image/arrows_under.gif") left center no-repeat;
    font-size: 11px;
}

/*================================================

2015/10/05 地図から探す改修

================================================*/

.jlnpc-top__search-by-area {
    position: relative;
    width: 358px;
    margin-bottom: 5px;
    border: #ff7a15 1px solid;
    z-index: 100;
}

/*================================================

2015/12/21 宿名・キーワードから探す改修

================================================*/

#mainCol2 #sBox_keyword.jlnpc-top__search-by-word {
    height: 75px;
}

.jlnpc-top__search-by-word #searchAreaStn {
    border: #a9a9a9 1px solid;
    font-size: 127.27%;
    line-height: 22px;
    padding: 3px 7px;
    width: 254px;
    height: 22px;
}

#sBox_keyword.jlnpc-top__search-by-word #image1 {
    right:9px;
    width:60px;
    height: 31px;
}

.jlnpc-top__search-by-word #dyn-place-example {
    top: 40px;
}

.jlnpc-top__search-by-word #searchAreaStn::-webkit-input-placeholder {color: #aaa;}
.jlnpc-top__search-by-word #searchAreaStn::-moz-placeholder {color: #666;}
.jlnpc-top__search-by-word #searchAreaStn:-moz-placeholder {color: #666;}
.jlnpc-top__search-by-word #searchAreaStn:-ms-input-placeholder {color: #aaa;}


/*================================================

2016/1/18 遊び体験予約リンク追加

================================================*/
div#mainCol1  #sBox_mokuteki.jlnpc-top__search-by-mokuteki {
    height: 143px;
}
div#mainCol1 div#sBox_mokuteki.jlnpc-top__search-by-mokuteki ul li {
    margin-bottom: 0;
    padding-bottom: 5px;
    line-height: 15px;
}

/*================================================

2016/04/18 DP検索パネル変更

================================================*/

/* 日付から探すの空港選択のスタイルを TOP 用に調整 */
#overlay {
    z-index: 15100 !important;
}

.airport_map_wrap {
    z-index: 15101 !important;
}

/* DP 検索パネル共通 */
.jlnpc-top__travel-error {
    color: #f00;
}

.jlnpc-top__travel-item {
    margin-top: 10px;
    border-bottom: #dbd3b8 1px solid;
    padding-bottom: 10px;
    padding-left: 66px;
    color: #333;
    font-size: 13px;
}

.jlnpc-top__travel-item--hide {
    display: none;
}

.jlnpc-top__travel-item h4 {
    float: left;
    width: 60px;
    margin-left: -66px;
    padding: 1px 0;
    border-radius: 2px;
    background-color: #333;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}

.jlnpc-top__travel-item input,
.jlnpc-top__travel-item select,
.jlnpc-top__travel-item label {
    vertical-align: middle;
}

.jlnpc-top__travel-item .airport,
.jlnpc-top__travel-item .airportANA,
.jlnpc-top__travel-item select[name="t_pref"],
.jlnpc-top__travel-item select[name="t_area"],
.jlnpc-top__travel-item select[name="rooms"],
.jlnpc-top__travel-item select[name="member1"],
.jlnpc-top__travel-check-in-out select {
    height: 28px;
    padding-left: 2px;
    border-color: #a9a9a9;
    font-size: 13px;
    font-family: Meiryo, 'メイリオ', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'MS PGothic', 'ＭＳ Ｐゴシック', Osaka, sans-serif;
}

.jlnpc-top__travel-item select:disabled {
    color: #7f7f7f;
}

.jlnpc-top__travel-item table {
    width: 100%;
    border-collapse: collapse;
    line-height: 1.2;
}

.jlnpc-top__travel-item table .separator {
    width: 28px;
    color: #666;
    text-align: center;
}

.jlnpc-top__travel-item .nav {
    padding-top: 5px;
    font-size: 12px;
}

.jlnpc-top__travel-item .nav a:visited {
    color: #1b47ff;
}

.jlnpc-top__travel-item .nav a:hover {
    color: #ff7d00;
}

.jlnpc-top__travel-item .btnenter a,
.jlnpc-top__travel-item .btnenter_ana a {
    overflow: hidden;
    display: inline-block;
    width: 49px;
    height: 23px;
    background: url("/jalan/doc/top/top_image/button_ok.png") no-repeat;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

.jlnpc-top__travel-item .btnenter a:hover,
.jlnpc-top__travel-item .btnenter_ana a:hover {
    background-position: 0 -25px;
}

/* 旅行期間 */
.jlnpc-top__travel-period .source {
    display: none;
}

.jlnpc-top__travel-period .date-for-display {
    cursor: pointer;
    display: inline-block;
    width: 88px;
    height: 26px;
    padding: 2px 30px 2px 2px;
    border: #a9a9a9 1px solid;
    background: #fff url("/dp/images/dp_bod_01_img_cal.gif") right center no-repeat;
    line-height: 28px;
}

/* 利用空港 */
.jlnpc-top__travel-airport .separator {
    font-size: 20px;
    font-weight: bold;
}

.jlnpc-top__travel-airport .returning {
    padding-top: 5px;
}

.jlnpc-top__travel-airport select {
    float: left;
    width: 86px;
}

.jlnpc-top__travel-airport .img_airmap_btn {
    float: right;
    display: inline-block;
    overflow: hidden;
    width: 32px;
    height: 28px;
    background: url("/jalan/doc/top/top_image/button_select_by_map.png") no-repeat;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

.jlnpc-top__travel-airport .returning {
    display: none;
}

/* 宿泊 */
.jlnpc-top__travel-destination,
.jlnpc-top__travel-room-config,
.jlnpc-top__travel-check-in-out {
    min-height: 30px;
}

.jlnpc-top__travel-room-config,
.jlnpc-top__travel-check-in-out {
    margin-top: 5px;
}

.jlnpc-top__travel-destination {
    overflow: hidden;
    width: 100%;
}

.jlnpc-top__travel-destination .pref {
    float: left;
    width: 82px;
}

.jlnpc-top__travel-destination .area {
    float: right;
    width: 190px;
    text-align: right;
}

.jlnpc-top__travel-destination .area span {
    display: inline-block;
    margin-right: 4px;
}

.jlnpc-top__travel-destination #area_ken,
.jlnpc-top__travel-destination #area_ken_ana {
    width: 100%;
}

.jlnpc-top__travel-destination #area_list_jal,
.jlnpc-top__travel-destination #area_list_ana {
    width: 135px;
    margin-left: 0;
}

.jlnpc-top__travel-room-config {
    position: relative;
}

.jlnpc-top__travel-room-config select {
    width: 47px;
}

.jlnpc-top__travel-room-config .rooms,
.jlnpc-top__travel-room-config .adults {
    border-right: #dbd3b8 1px solid;
}

.jlnpc-top__travel-room-config .adults,
.jlnpc-top__travel-room-config .children {
    text-align: center;
}

.jlnpc-top__travel-room-config .rooms select {
    margin-right: 4px;
}

.jlnpc-top__travel-room-config .adults select {
    margin-left: 4px;
}

.jlnpc-top__travel-room-config .children a:visited {
    color: #1b47ff;
}

.jlnpc-top__travel-room-config .children dl,
.jlnpc-top__travel-room-config .children dd.child {
    display: inline;
}

.jlnpc-top__travel-room-config .children .chl-pack {
    text-align: left;
}

.jlnpc-top__travel-room-config .children table {
    line-height: normal;
    white-space: nowrap;
}

.jlnpc-top__travel-room-config .children th,
.jlnpc-top__travel-room-config .children td {
    border-bottom: #fbf5e1 solid 2px;
    background-color: #fce4a8;
    text-align: left;
}

.jlnpc-top__travel-room-config .children th {
    padding: 3px 3px 2px 5px;
    font-weight: normal;
}

.jlnpc-top__travel-room-config .children td {
    padding: 1px 5px 1px 0;
    text-align: right;
}

.jlnpc-top__travel-room-config .children select {
    min-width: 3em;
    width: auto;
    height: 28px;
    padding-left: 2px;
}

.jlnpc-top__travel-room-config #dp_childlen,
.jlnpc-top__travel-room-config #dp_childlen_ana {
    top: -150px;
    left: 0;
    min-width: 272px;
    width: auto;
    *width: 272px;
}

.jlnpc-top__travel-room-config #dp_childlen .btnclose,
.jlnpc-top__travel-room-config #dp_childlen_ana .btnclose_ana {
    top: 12px;
    right: 12px;
    left: auto;
}

.jlnpc-top__travel-room-config #dp_childlen .title,
.jlnpc-top__travel-room-config #dp_childlen_ana .title {
    position: static;
}

.jlnpc-top__travel-room-config #dp_childlen table,
.jlnpc-top__travel-room-config #dp_childlen_ana table {
    width: 100%;
    font-size: 12px;
}

/* チェックイン / アウト */
.jlnpc-top__travel-check-in-out em {
    font-style: normal;
}

.jlnpc-top__travel-check-in-out select {
    width: 122px;
    margin-top: 3px;
}

.jlnpc-top__travel-check-in-out .info .nav {
    padding-top: 0;
}

.jlnpc-top__travel-check-in-out .period {
    display: none;
    margin-top: 10px;
}

.jlnpc-top__travel-check-in-out .separator {
    padding-top: 1.2em;
}

/* レンタカー */
.jlnpc-top__search-jal .jlnpc-top__rentacar-check-box,
.jlnpc-top__search-ana .jlnpc-top__rentacar-check-box {
    min-height: 0 !important;
    padding-bottom: 0;
    border-bottom: none;
}

.jlnpc-top__search-jal .jlnpc-top__rentacar-check-box p,
.jlnpc-top__search-ana .jlnpc-top__rentacar-check-box p {
    font-size: 12px;
}

.jlnpc-top__search-jal .jlnpc-top__rentacar-check-box .rentacarCheck label,
.jlnpc-top__search-ana .jlnpc-top__rentacar-check-box .rentacarCheck label {
    min-height: 19px;
    padding-top: 0;
}

/*================================================

2016/09/05 検索パネルに遊び体験レンタカーも追加する

================================================*/

.jlnpc-top__search-for {
    display: none;
}
.jlnpc-top__search-item {
    margin-top: 10px;
    font-size: 13px;
    *zoom: 1;
}
.jlnpc-top__search-item h4 {
    padding: 1px 0;
    border-radius: 2px;
    background-color: #333;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}
.jlnpc-top__search-item input {
    text-align: left;
}
.jlnpc-top__search-item label,
.jlnpc-top__search-item [type="checkbox"],
.jlnpc-top__search-item [type="radio"] {
    vertical-align: middle;
}
.jlnpc-top__search-item select {
    min-width: 50px;
    width: 136px;
    height: 28px;
    padding-left: 2px;
    border-color: #a9a9a9;
    color: #333;
    font-size: 100%;
    font-family: Meiryo, 'メイリオ', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'MS PGothic', 'ＭＳ Ｐゴシック', Osaka, sans-serif;
    vertical-align: middle;
}
.jlnpc-top__search-item .radio-tab-items {
    *zoom: 1;
}
.jlnpc-top__search-item .radio-tab-items:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.jlnpc-top__search-item .radio-tab-items li {
    margin-left: 20px;
}
.jlnpc-top__search-item .radio-tab-items li:first-child {
    margin-left: 0;
}
.jlnpc-top__search-item .radio-tab-items input {
    margin-right: 4px;
}
.jlnpc-top__search-item .radio-tab-contents > li {
    float: none;
}
.jlnpc-top__search-item--date .date-picker {
    position: relative;
    display: inline-block;
    margin-right: 6px;
    *padding-right: 4px;
}
.jlnpc-top__search-item--date .date-picker input {
    cursor: pointer;
    display: inline-block;
    width: 142px;
    height: 20px;
    padding: 3px 6px;
    border: #ccc 1px solid;
    background: #fff url("/dp/images/dp_bod_01_img_cal.gif") 98% 2px no-repeat;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
}
.jlnpc-top__search-item--date .date-picker input:disabled {
    background-color: #eee;
    color: #666;
}
.jlnpc-top__search-item--date select {
    width: 86px;
}
.jlnpc-top__search-item--pref select {
    width: 140px;
}
.jlnpc-top__search-item--submit button {
    cursor: pointer;
    width: 100%;
    border: none;
    background: none;
}
.jlnpc-top__search-item--submit button span {
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    width: 338px;
    height: 31px;
    background: url("/jalan/doc/top/top_image/btn_search_date_04.png") no-repeat;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}
.jlnpc-top__search-item--submit button span:hover {
    background-position: 0 -50px;
}
.jlnpc-top__search-for--carr .jlnpc-top__search-item {
    padding-bottom: 10px;
    padding-left: 66px;
    border-bottom: #dbd3b8 1px solid;
}
.jlnpc-top__search-for--carr .jlnpc-top__search-item--submit {
    margin-top: -1px;
    padding: 0;
    border-top: #faf8f0 1px solid;
    border-bottom: none;
}
.jlnpc-top__search-for--carr .jlnpc-top__search-item h4 {
    float: left;
    width: 60px;
    margin-left: -66px;
}
.jlnpc-top__search-for--carr .date-picker {
    margin-right: 2px;
}
.jlnpc-top__search-item--place .radio-tab-tm-2 {
    margin-top: 10px;
}
.jlnpc-top__search-item--place .select-pref {
    width: 106px;
}
/* IE7, 8 対応 */
.jlnpc-top__search-item--date .date-picker .disabled {
    background-color: #eee;
    color: #666;
}

.ui-state-disabled {
    cursor: default !important;
}
.ui-state-disabled span {
    color: #aaa !important;
    text-decoration: line-through !important;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled {
    background-image: none !important;
}
.ui-datepicker {
    display: none;
    padding: 10px 30px;
    border: 1px solid #d3c9b0;
    background-color: #fbf5e1;
    font-size: 12px;
    z-index: 2000!important;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}
.ui-datepicker-title {
    padding-bottom: 5px;
    font-weight: bold;
    text-align: center;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    cursor: pointer;
    position: absolute;
    top: 95px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}
.ui-datepicker .ui-datepicker-prev {
    left: 10px;
    background-image: url("/jalan/common/image/blt_02.gif");
}
.ui-datepicker .ui-datepicker-next {
    right: 10px;
    background-image: url("/jalan/common/image/blt_01.gif");
}
.ui-datepicker-multi .ui-datepicker-group table {
    width: 83%;
    margin: 0 auto;
}
.ui-datepicker-year:after {
    content: "年";
    display: inline-block;
    margin-right: -.3em;
}
.ui-datepicker-group-first .ui-datepicker-year:after {
    margin-right: 0;
}
.ui-datepicker table {
    border-collapse: collapse;
    line-height: 1.8;
}
.ui-datepicker th,
.ui-datepicker td {
    padding: 1px;
    text-align: center;
}
.ui-datepicker th {
    font-weight: normal;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: 1px 3px;
    text-decoration: none;
}
.ui-datepicker td a {
    color: #333;
}
.ui-datepicker td .ui-state-hover,
.ui-datepicker td .ui-state-focus {
    background-color: #ff7d00;
    color: #fff !important;
    text-decoration: underline;
}
.ui-datepicker .ui-datepicker-saturday a {
    color: #1b47ff;
}
.ui-datepicker .ui-datepicker-holiday a,
.ui-datepicker .ui-datepicker-sunday a {
    color: #f00;
}
.ui-datepicker-buttonpane {
    padding-top: 5px;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
    text-align: center;
}
.ui-datepicker-buttonpane button {
    cursor: pointer;
}
.ui-datepicker-buttonpane .ui-priority-secondary {
    display: none;
}
.ui-datepicker-buttonpane .ui-priority-primary {
    padding-left: 15px;
    border: none;
    background: url("/jalan/common/image/btn_close.gif") left center no-repeat;
    font-size: 100%;
}
.ui-datepicker-row-break {
    clear: both;
    width: 100%;
}
.ui-helper-clearfix {
    *zoom: 1;
}
.ui-helper-clearfix:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*================================================

2016/11/30 TOPリニューアル対応

================================================*/
.themeArea{
    padding-top: 15px;
}

.themeTitle {
    overflow: hidden;
    margin-bottom: 10px;
}

.themeTitle h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    padding: 4px 0 4px 38px;
    width: 550px;
    float: left;
}

.themeTitle .h_popular {
    background: url("/jalan/doc/top/top_image/icon_popular.png") no-repeat 0 0;
}

.themeTitle .h_park {
    background: url("/jalan/doc/top/top_image/icon_park.png") no-repeat 0 0;
}

.themeTitle .h_reco {
    background: url("/jalan/doc/top/top_image/icon_reco.png") no-repeat 0 0;
}

.themeTitle p {
    font-size: 12px;
    width: 150px;
    text-align: right;
    float: right;
    padding-top: 10px;
}

.themeBasicTitle {
    background: url("/jalan/doc/top/top_image/icon_hed.png") no-repeat 0 1px !important;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 14px;
    padding: 0 0 0 13px !important;
}

.themeBasicTitle span {
    font-size: 14px;
}

.themeRecommend-list{
    margin-left: -9px;
    margin-bottom: 30px;
    overflow: hidden;
}

/*IE7*/
*:first-child+html .themeRecommend-list{
    position: relative;
}

/*人気の特集*/

.themeRecommend-list li {
    float: left;
    margin-left: 9px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    height: 170px;
}

.themeRecommend-list li a {
    display: block;
    height: 170px;
    text-decoration: none;
}

.themeRecommend-main {
    width: 488px;
}

.themeRecommend-sub {
    width: 238px;
}

.themeRecommend-list li p {
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
}

/*IE7*/
*:first-child+html .themeRecommend-list li p{
    height: 20px;
    line-height: 20px;
}

*:first-child+html .themeRecommend-list li p:hover{
    cursor: pointer;
}

/*季節・お得・定番・テーマパーク*/

.themeTabs {
    display: block;
    border-bottom: 2px solid #ff6600;
    margin-bottom: 18px;
    padding-left: 10px;
    *zoom: 1;
    *height: 1%;
}

.themeTabs li {
    font-size: 13px;
    float: left;
    margin: 0 3px -2px 0;
    text-align: center;
}

.themeTabs li span {
    display: block;
    width: 172px;
    padding: 12px 0 0 0;
    line-height: 15px;
    height: 28px;
    background-color: #fff;
    border-top: 2px solid #cccccc;
    border-left: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}
.themeTabs li a:hover {
    background: #ffe8d8;
}

.themeTabs:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.themeTabs .active > span {
    color: #ff6600;
    font-weight: bold;
    border-top: 2px solid #ff6600;
    border-left: 2px solid #ff6600;
    border-right: 2px solid #ff6600;
    border-bottom: 2px solid #fff;
}

.themeSeason-list-area ul {
    margin: -10px 0 30px -10px;
    overflow: hidden;
}

/*IE7*/
*:first-child+html .themeSeason-list-area ul{
    position: relative;
}

.themeSeason-list-area ul li {
    position: relative;
    float: left;
    margin: 10px 0 0 10px;
    width: 177px;
}

.themeSeason-list-area ul li a {
    display: block;
    height: 177px;
    text-decoration: none;
}

.themeSeason-list-area ul li p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 167px;
    padding: 5px;
    background: #000;
    color: #fff;
    font-weight: bold;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";
    text-decoration: none;
    zoom: 1;
}

:root .themeSeason-list-area ul li p {
    background-color: rgba(0, 0, 0, 0.8);
}

.themeSeason-list-area ul li p:hover {
    color: #ff7d00;
    cursor: pointer;
}

.dn {
    display: none;
}

/*おすすめのキャンペーン　スライダー*/

.theme-rotation-banner{
    margin-bottom: 30px;
    overflow: hidden;
    width: 740px;
    position: relative;
}

.themeCarousel-main{
    height: 172px;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.themeCarousel-main-list{
    position: absolute;
    top: 0;
    left: 0;
}

.themeCarousel-main-list > li{
    position: relative;
    float: left;
    border: 1px solid #ccc;
    height: 170px;
    margin-right: 10px;
}

.themeCarousel-main-list > li > a{
    display: block;
    text-decoration: none;
}

.themeCarousel-main-list:after {
    content: '';
    display: block;
    clear: both;
}

.themeCarousel-main-list li p {
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
}

.themeCarousel-nav{
    border-top: none;
    text-align: center;
}

.themeCarousel-nav p{
    margin: 0;
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    filter: alpha(opacity=60);
    -ms-filter: "alpha( opacity=60 )";
    text-decoration: none;
    zoom: 1;
    top: 68px;
}

:root .themeCarousel-nav p {
    background-color: rgba(0, 0, 0, 0.6);
}

.themeCarousel-nav p a{
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width: 35px;
    height: 35px;
}
.themeCampaign-next{
    background-image: url(/jalan/doc/top/top_image/themenav_next.png) ;
    background-repeat: no-repeat;
    background-position:  left top;
    top: 0;
    right: 5px;
}

.themeCampaign-prev{
    background-image: url(/jalan/doc/top/top_image/themenav_prev.png) ;
    background-repeat: no-repeat;
    background-position:  left top;
    top: 0;
    left: 5px;
}

.themeCampaign-pagination{
    font-size: 0;
    display: none;
}

.themeCampaign-pagination > li{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 8px 6px;
}

.themeCampaign-pagination > li > a{
    background: #fbf8e9;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    height: 6px;
    width: 6px;
}

.themeCampaign-pagination li a.current,
.themeCampaign-pagination li a:hover,
.themeCampaign-pagination li.current a{
    border: 1px solid #eb5900;
    background: #eb5900;
}

/*その他おすすめ特集*/
.themeOther-Banner {
}
.themeOther-Banner li {
    display: inline-block;
    margin-left: 6px;
    margin-bottom: 9px;
}
.themeOther-Banner li.topBn {
    margin-left: 0;
}
.themeOther-list{
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    padding: 15px 12px 2px 12px;
    margin-bottom: 60px;
}

.themeOther-list ul {
    margin-left: -5px;
}

.themeOther-list ul li {
    background: url("/jalan/doc/top/top_image/tri_sk.gif") no-repeat 0 5px;
    padding-left: 10px;
    margin-left: 5px;
    margin-bottom: 13px;
    font-size: 13px;
    width: 160px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

.themeBnOther-list {
    margin-bottom: 60px;
}

.themeBnOther-list ul {
    overflow: hidden;
    margin-left: -10px;
}

.themeBnOther-list ul li {
    float: left;
    width: 240px;
    height: 80px;
    margin-left: 10px;
}

.themeBnOther-list ul li a {
    display: block;
    width: 240px;
    height: 80px;
}

.themeOther-list p {
    text-align: right;
    margin-bottom: 10px;
    font-size: 13px;
}

/*お知らせ*/

.themeInfo-list{
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 12px 5px 12px;
    margin-bottom: 30px;
}

.themeInfo-list h2 {
    background: url("/jalan/doc/top/top_image/icon_hed_s.png") no-repeat 0 3px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.themeInfo-list ul {
    margin-left: -5px;
}

.themeInfo-list ul li {
    background: url("/jalan/doc/top/top_image/tri_sk.gif") no-repeat 0 5px;
    padding-left: 10px;
    margin-left: 5px;
    margin-bottom: 7px;
    font-size: 12px;
    width: 320px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}
/*
.noticeunderJR {
    margin-bottom: 100px;
}
*/
/* フォームの高さ合わせ */
.jlnpc-top__search-for--asb > form,
.jlnpc-top__search-for--carr > form {
    /*	height: 434px;*/
}

/*IE7*/
*:first-child+html #sBox_mokuteki{
    height: 130px !important;
}

#sBox_ninki{
    min-height: 150px;
}

