/* TOP HTMLに書かれていたもの*/
.style1 {color: #999999}
.dyn_cal {position:relative;left:0px;margin-top:3px;background:#fbf5e1;padding:10px;border:1px solid #d3c9b0;display:none;z-index:200;text-align:center;}
#idxMap {position:relative;}
.prefArea {position:abusolute;display:none;}
.mapImg {position:absolute;z-index:140}
.mapBtns {}
.mapBtns div{position:absolute;display:none;}
#mapBackBtn {position:absolute;z-index:141;top:237px;left:322px;cursor:pointer;display:none;}
#mapNavi {position:absolute;z-index:150;top:10px;left:10px;width:71px;background:#fff;padding:7px 10px 7px 7px;display:none;filter:alpha(opacity=75);-moz-opacity:0.75;opacity:0.75;}
#mapNavi ul{margin:0;padding:0;font-size:1px;line-height:0;list-style:none;}
#mapNavi li{margin:0;padding:0 0 3px 7px;background:url(/jalan/doc/top/map_image/map_list_blt.gif) no-repeat;background-position:3px 3px;}
#mapNavi img{margin:0;padding:0;}
#mapUl {position:absolute;z-index:144;}
#mapNaviUl {position:absolute;z-index:145;}
#mapNaviROUl {position:absolute;z-index:146;}
#naviroimg {position:absolute;z-index:147;display:none;}
.dyn_cal_tbl td a {display:block;width:1em;padding:1px 4px !important;}
.dyn_cal_tbl td a:hover { color: #ffffff !important; background-color: #ff7d00; text-decoration:none;}
.dyn_cal_tbl td {font-size:12px !important; text-align:right; padding:1px !important;}
.dyn_cal_tbl td.dyn_disable {padding:1px 4px !important;}
.dyn_cal td.dyn_cal_tbl_sep {width:15px;}
.dyn_cal .dyn_cal_close{font-size:12px; !important; text-align:center; padding-top:10px;}
/* TOP HTMLに書かれていたもの*/






h1,h2,h3,h4{
	margin:0;
	padding:0;
	font-size: 87.5%;
}
.s28_b { color: #ff5a00; font-size: 28px; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; font-weight: bold; line-height: 1; padding: 5px 5px 0 0 }
.s16_30b  { color: #303030; font-size: 100%; font-weight: bold }
.s16_7Db { color: #7d7d7d; font-size: 100%; font-weight: bold }
.s14_30b { color: #303030; font-size: 87.5%; font-weight: bold }
.s14_7Db { color: #7d7d7d; font-size: 87.5%; font-weight: bold }
.s14_66b { color: #666; font-size: 87.5%; font-weight: bold }
.s14_66 { color: #666; font-size: 87.5%; font-weight}

.s12_30b { color: #303030; font-size: 75%; font-weight: bold; line-height: 1.3em }
.s12_30 { color: #303030; font-size: 75%; line-height: 1.3em }
.s12_30a { color: #303030; font-size: 70%; line-height: 1.3em }
.s12_66 { color: #666; font-size: 75%; line-height: 1.3em }
.s12_7D { color: #7d7d7d; font-size: 75% }
.s12_8D { color: #7d7d7d; font-size: 83% }
.s12_00 { color: #000000; font-size: 75%; line-height: 1.3em }/*2008.03追加*/
.s12_00b { color: #000000; font-size: 75%; font-weight: bold; line-height: 1.3em }/*2008.03追加*/

.s11_30 { color: #303030; font-size: 70%; line-height: 1.2em }
.s11_30x { color: #303030; font-size: 65%; line-height: 1.2em }
.s11_7D { color: #7d7d7d; font-size: 70%; line-height: 1.1em }
.s11_66    { color: #666; font-size: 70%; line-height: 1.1em }
.s11_67 { color: #666; font-size: 70%; line-height: 1.3em }
.s11_00b { color: #000000; font-size: 70%; line-height: 1.2em; font-weight: bold; }/*2008.03追加*/
.s11_00 { color: #000000; font-size: 70%; line-height: 1.2em; }/*2008.03追加*/

.s10_30  { color: #303030; font-size: 60%; line-height: 1.5em }/*2008.03追加*/
.s10_66  { color: #666; font-size: 60%; line-height: 1.2em }
.s10_7D { color: #7d7d7d; font-size: 60%; line-height: 1.2em }
.s10_99 { color: #999; font-size: 60%; line-height: 1.2em }

.s09_99 { color: #999; font-size: 60%; line-height: 1.2em; vertical-align: middle }
.cap_7D { color: #7d7d7d; font-size: 60%; line-height: 1.2em }

.plan { background-color: #ffeeb7; padding: 6px; width: 620px }
a:link { color: #1b47ff; text-decoration: underline; }
a:visited { color: #9720c9; text-decoration: underline; }
a:hover { color: #ff7d00; text-decoration: underline;}

a.text_g{color: #999999;}
a.text_g:visited{color: #9720c9;}
a.text_g:hover{color: #ff7d00;}


#p001  { background-color: #f9f7eb; padding: 10px; border: solid 1px #b5a284 }
#p002   { background-color: #f9f7eb; padding: 10px; border-style: solid; border-width: 0 1px 1px; border-color: #b5a284 }
.pr1 { padding-top: 5px; padding-bottom: 10px; width: 130px; border-top: 1px solid #fff; border-bottom: 1px solid #fff; }
.pr2     { text-align: left; padding-bottom: 3px; width: auto; border: solid 1px #ccc }
.pr3   { color: #666; font-size: 70%; background-color: #eee; text-align: center; padding: 3px }
select { margin: 0; padding: 0 }
form { margin: 0; padding: 0 }

.themaT { color: #666; font-size: 70%; line-height: 1em; margin-right: 5px; margin-left: 5px; padding-top: 8px; }
.themaT2 { font-size: 75%; padding: 8px 5px 5px 10px; border-right: 1px solid #70422c; border-left: 1px solid #70422c }
.themaT3 { font-size: 75%; padding: 8px 5px 5px 10px; border-right: 1px solid #253d27; border-left: 1px solid #253d27 }
.update { color: #666; font-size: 70%; line-height: 1.2em; padding-top: 6px; padding-right: 8px }

#yadoHotel { width:153px; height:32px; background-image:url(/jalan/doc/top/top_image/title_yado.gif); background-repeat:no-repeat; margin-left:8px; margin-right:12px; margin-top:8px; margin-bottom: 8px;}
#yadoHotel h2{ position:absolute; left:-9999px; }

a#popPlan { background-image: url(/jalan/doc/top/top_image/chumoku_plan_title.gif); background-repeat: no-repeat; display: block; width: 200px; height: 28px }
a#popPlan:link { text-decoration: none; }
a#popPlan:visited { text-decoration: none; }
a#popPlan:hover { background-image: url(/jalan/doc/top/top_image/chumoku_plan_title_on.gif); }
a#popPlan h3 { visibility: hidden; z-index: -9999 }

a#themafamily { background-image:  url(/jalan/doc/top/top_image/ninki_child_title.gif); background-repeat: no-repeat; display: block; width: 200px; height: 28px }
a#themafamily:link { text-decoration: none; }
a#themafamily:visited { text-decoration: none; }
a#themafamily:hover { background-image:  url(/jalan/doc/top/top_image/ninki_child_title_on.gif);}
a#themafamily h3 { visibility: hidden; z-index: -9999 }

a#themaPark { background-image: url(/jalan/doc/top/top_image/ninki_park_title.gif); background-repeat: no-repeat; display: block; width: 200px; height: 28px }
a#themaPark:hover { background-image: url(/jalan/doc/top/top_image/ninki_park_title_on.gif);}
a#themaPark:link { text-decoration: none; }
a#themaPark:visited { text-decoration: none; }
a#themaPark h3 { visibility: hidden; z-index: -9999 }

a#themeTDR { background-image: url(/jalan/doc/top/top_image/ninki_tdr.gif); background-repeat: no-repeat; display: block; width: 200px; height: 25px }
a#themeTDR:hover { background-image: url(/jalan/doc/top/top_image/ninki_tdr_on.gif);}
a#themeTDR:link { text-decoration: none; }
a#themeTDR:visited { text-decoration: none; }
a#themeTDR h3 { visibility: hidden; z-index: -9999 }

a#themeUSJ { background-image: url(/jalan/doc/top/top_image/ninki_usj.gif); background-repeat: no-repeat; display: block; width: 200px; height: 40px }
a#themeUSJ:hover { background-image: url(/jalan/doc/top/top_image/ninki_usj_on.gif);}
a#themeUSJ:link { text-decoration: none; }
a#themeUSJ:visited { text-decoration: none; }
a#themeUSJ h3 { visibility: hidden; z-index: -9999 }

a#themeCondomi { background-image: url(/jalan/doc/top/top_image/ninki_condomi.gif); background-repeat: no-repeat; display: block; width: 200px; height: 25px }
a#themeCondomi:hover { background-image: url(/jalan/doc/top/top_image/ninki_condomi_on.gif);}
a#themeCondomi:link { text-decoration: none; }
a#themeCondomi:visited { text-decoration: none; }
a#themeCondomi h3 { visibility: hidden; z-index: -9999 }

a#themeOnsenrank { background-image: url(/jalan/doc/top/top_image/ninki_onsenrank.gif); background-repeat: no-repeat; display: block; width: 200px; height: 25px }
a#themeOnsenrank:hover { background-image: url(/jalan/doc/top/top_image/ninki_onsenrank_on.gif);}
a#themeOnsenrank:link { text-decoration: none; }
a#themeOnsenrank:visited { text-decoration: none; }
a#themeOnsenrank h3 { visibility: hidden; z-index: -9999 }

a#themeWanko { background-image: url(/jalan/doc/top/top_image/ninki_wanko.gif); background-repeat: no-repeat; display: block; width: 200px; height: 25px }
a#themeWanko:hover { background-image: url(/jalan/doc/top/top_image/ninki_wanko_on.gif);}
a#themeWanko:link { text-decoration: none; }
a#themeWanko:visited { text-decoration: none; }
a#themeWanko h3 { visibility: hidden; z-index: -9999 }


a#themeAnniversary { background-image: url(/jalan/doc/top/top_image/ninki_anniversary.gif); background-repeat: no-repeat; display: block; width: 200px; height: 25px }
a#themeAnniversary:hover { background-image: url(/jalan/doc/top/top_image/ninki_anniversary_on.gif);}
a#themeAnniversary:link { text-decoration: none; }
a#themeAnniversary:visited { text-decoration: none; }
a#themeAnniversary h3 { visibility: hidden; z-index: -9999 }

a#themeHitoritabi { background-image: url(/jalan/doc/top/top_image/ninki_hitoritabi.gif); background-repeat: no-repeat; display: block; width: 200px; height: 25px }
a#themeHitoritabi:hover { background-image: url(/jalan/doc/top/top_image/ninki_hitoritabi_on.gif);}
a#themeHitoritabi:link { text-decoration: none; }
a#themeHitoritabi:visited { text-decoration: none; }
a#themeHitoritabi h3 { visibility: hidden; z-index: -9999 }

a#themeTokyo { background-image: url(/jalan/doc/top/top_image/ninki_tokyo.gif); background-repeat: no-repeat; display: block; width: 200px; height: 25px }
a#themeTokyo:hover { background-image: url(/jalan/doc/top/top_image/ninki_tokyo_on.gif);}
a#themeTokyo:link { text-decoration: none; }
a#themeTokyo:visited { text-decoration: none; }
a#themeTokyo h3 { visibility: hidden; z-index: -9999 }

a#themeCity { background-image: url(/jalan/doc/top/top_image/ninki_city.gif); background-repeat: no-repeat; display: block; width: 200px; height: 25px }
a#themeCity:hover { background-image: url(/jalan/doc/top/top_image/ninki_city_on.gif);}
a#themeCity:link { text-decoration: none; }
a#themeCity:visited { text-decoration: none; }
a#themeCity h3 { visibility: hidden; z-index: -9999 }

a#themeYakei { background-image: url(/jalan/doc/top/top_image/ninki_yakei.gif); background-repeat: no-repeat; display: block; width: 200px; height: 25px }
a#themeYakei:hover { background-image: url(/jalan/doc/top/top_image/ninki_yakei_on.gif);}
a#themeYakei:link { text-decoration: none; }
a#themeYakei:visited { text-decoration: none; }
a#themeYakei h3 { visibility: hidden; z-index: -9999 }

a#themeOkinawa { background-image: url(/jalan/doc/top/top_image/ninki_okinawa.gif); background-repeat: no-repeat; display: block; width: 200px; height: 25px }
a#themeOkinawa:hover { background-image: url(/jalan/doc/top/top_image/ninki_okinawa_on.gif);}
a#themeOkinawa:link { text-decoration: none; }
a#themeOkinawa:visited { text-decoration: none; }
a#themeOkinawa h3 { visibility: hidden; z-index: -9999 }

a#themeHokkaido { background-image: url(/jalan/doc/top/top_image/ninki_hokkaido.gif); background-repeat: no-repeat; display: block; width: 200px; height: 25px }
a#themeHokkaido:hover { background-image: url(/jalan/doc/top/top_image/ninki_hokkaido_on.gif);}
a#themeHokkaido:link { text-decoration: none; }
a#themeHokkaido:visited { text-decoration: none; }
a#themeHokkaido h3 { visibility: hidden; z-index: -9999 }

a#themeIsan { background-image: url(/jalan/doc/top/top_image/ninki_isan.gif); background-repeat: no-repeat; display: block; width: 200px; height: 25px }
a#themeIsan:hover { background-image: url(/jalan/doc/top/top_image/ninki_isan_on.gif);}
a#themeIsan:link { text-decoration: none; }
a#themeIsan:visited { text-decoration: none; }
a#themeIsan h3 { visibility: hidden; z-index: -9999 }

a#themeEvent { background-image: url(/jalan/doc/top/top_image/ninki_event.gif); background-repeat: no-repeat; display: block; width: 200px; height: 25px }
a#themeEvent:hover { background-image: url(/jalan/doc/top/top_image/ninki_event_on.gif);}
a#themeEvent:link { text-decoration: none; }
a#themeEvent:visited { text-decoration: none; }
a#themeEvent h3 { visibility: hidden; z-index: -9999 }

a#themeLongstay { background-image: url(/jalan/doc/top/top_image/ninki_longstay.gif); background-repeat: no-repeat; display: block; width: 200px; height: 25px }
a#themeLongstay:hover { background-image: url(/jalan/doc/top/top_image/ninki_longstay_on.gif);}
a#themeLongstay:link { text-decoration: none; }
a#themeLongstay:visited { text-decoration: none; }
a#themeLongstay h3 { visibility: hidden; z-index: -9999 }


/*================================================

2008.03追加

================================================*/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-table;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */


a.sub:link { color: #1b47ff; text-decoration: none  !important;}
a.sub:visited { color: #9720c9; text-decoration: none  !important;}
a.sub:hover { color: #ff7d00; text-decoration: none  !important;}

a.sub_g:link { color: #999999; text-decoration: none  !important;}
a.sub_g:visited { color: #9720c9; text-decoration: none  !important;}
a.sub_g:hover { color: #ff7d00; text-decoration: none  !important;}

#seocopy {
	position: relative;
	margin: 0;
}

#seocopy h1 {
	position: absolute;
	display: block;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 1em;
	left: 340px;
	top: 2px;
	font-weight: normal;
}

#title_comment {
	margin-bottom: 5px;
}
#ninki_area {
	line-height: 1.5em;
}
#ninki_area a {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#footertop {
	border-top: 2px solid #999999;
	width: 950px;
	padding: 10px 0 0 0;
	margin: 2px auto 0;
	text-align: center;
	clear: both;
}
#footertop p {
	margin: 0;
	padding: 0 0 20px 0;
}


#shiyo {
	border: 1px solid #CCCCCC;
	padding-bottom: 6px;
	margin-top: 40px;
}
#shiyo p {
	margin: 0 5px 0 60px;
	padding: 5px 0 5px 0;
	text-align: left;
}
#shiyo1 {
	background: url(/jalan/doc/top/top_image/shiyo1.gif) no-repeat;
	float: left;
	width: 199px;
	padding-top: 10px;
}
#shiyo2 {
	background: url(/jalan/doc/top/top_image/shiyo2.gif) no-repeat;
	float: left;
	width: 199px;
	padding-top: 10px;
}
#shiyo3 {
	background: url(/jalan/doc/top/top_image/shiyo3.gif) no-repeat;
	float:right;
	width: 190px;
	padding-top: 10px;
}

#linketc {
	margin-top: 5px;
	text-align: left;
	line-height: 1.4em;
}


/*GLOBAL MENU*/

#tabmenu {
	font-size: 9px;
	font-weight: normal;
}

a#g_menu01 {
	background-image: url(/uw/images/header990_tab01_ovr.gif);
	background-repeat: no-repeat;
	display: block;
	width: 107px;
	height: 34px;
	float: left;
	position: relative;
}
a#g_menu01 a:hover {
	position: relative;
	top: -34px;
}
a#g_menu02 {
	background-image: url(/uw/images/header990_tab02_ovr.gif);
	background-repeat: no-repeat;
	display: block;
	width: 107px;
	height: 34px;
	float: left;
	position: relative;
}
a#g_menu02 a:hover {
	position: relative;
	top: -34px;
}
a#g_menu03 {
	background-image: url(/uw/images/header990_tab02_ovr.gif);
	background-repeat: no-repeat;
	display: block;
	width: 107px;
	height: 34px;
	float: left;
	position: relative;
}
a#g_menu03 a:hover {
	position: relative;
	top: -34px;
}
a#g_menu04 {
	background-image: url(/uw/images/header990_tab04_ovr.gif);
	background-repeat: no-repeat;
	display: block;
	width: 107px;
	height: 34px;
	float: left;
	position: relative;
}
a#g_menu04 a:hover {
	position: relative;
	top: -34px;
}
a#g_menu05 {
	background-image: url(/uw/images/header990_tab05_ovr.gif);
	background-repeat: no-repeat;
	display: block;
	width: 107px;
	height: 34px;
	float: left;
	position: relative;
}
a#g_menu05 a:hover {
	position: relative;
	top: -34px;
}
a#g_menu06 {
	background-image: url(/uw/images/header990_tab06_ovr.gif);
	background-repeat: no-repeat;
	display: block;
	width: 83px;
	height: 34px;
	float: left;
	position: relative;
}
a#g_menu06 a:hover {
	position: relative;
	top: -34px;
}
a#g_menu07 {
	background-image: url(/uw/images/header990_tab06_ovr.gif);
	background-repeat: no-repeat;
	display: block;
	width: 83px;
	height: 34px;
	float: left;
	position: relative;
}
a#g_menu07 a:hover {
	position: relative;
	top: -34px;
}
a#g_menu08 {
	background-image: url(/uw/images/header990_tab08_ovr.gif);
	background-repeat: no-repeat;
	display: block;
	width: 83px;
	height: 34px;
	float: left;
	position: relative;
}
a#g_menu08 a:hover {
	position: relative;
	top: -34px;
}


/*MY ZONE*/
div#myzone {
	width:180px;
	font-size: 12px;
	line-height: 120%;
}

div.myzone-top {
	background: url(/uw/images/r_myzone_bg_top.gif) no-repeat left top;
}

div.myzone-top p.myzone-top-text {
	margin: 0px;
	padding: 15px 10px 10px 10px;
	font-size: 11px;
	text-align: left;
}

div.myzone-top p.myzone-top-text span.textorange {
	color: #F86C0D;
	font-weight: bold;
}

div.myzone-middle {
	background: url(/uw/images/r_myzone_bg_middle.gif) repeat-y left top;
}

div.myzone-middle p.myzone-middle-title {
	margin: 0px 4px;
	padding: 0px;
	text-align: center;
}

div.myzone-middle p.myzone-middle-text {
	font-size: 11px;
	margin: 0px 7px;
	padding: 0px 7px 7px 7px;
	background-color: #eeeeee;
	display: block;	
}

div.myzone-middle a.limited-plans {
	margin: 0px 7px;
	padding: 0px 7px 7px 7px;
	background-color: #eeeeee;
	display: block;
}

div.myzone-middle a.limited-plans:visited {color:#1b47ff;}
div.myzone-middle a.limited-plans:hover {color:#ff7d00;}

div.myzone-middle a.limited-plans ul {
	list-style-type:none;
	
	padding:0;
	margin:0;
	list-style-image:none;
	list-style-position:outside;
	
}

div.myzone-middle a.limited-plans ul li {
	margin: 0px;
	padding: 5px 0px 7px 0px;
	font-size: 11px;
	line-height: 130%;
}

div.myzone-middle p.myzone-middle-link-plan {
	margin: 10px 0px 0px 0px;
	padding: 0px 7px 7px 7px;
	background: url(/uw/images/r_myzone_bg_border.gif) no-repeat left bottom;
	text-align: right;
	font-weight: bold;
}

div.myzone-bottom {
	padding: 10px 0px 10px 7px;
	background: url(/uw/images/r_myzone_bg_bottom.gif) no-repeat left bottom;
}

div.myzone-bottom p.myzone-middle-link {
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-size: 11px;
}





/*YADOLANKING*/
#yadolank {
	margin: 0 0 20px 0;
	padding: 0;
}
#yadolanktitle {
	height: 40px;
	width: 180px;
	background-image: url(/jalan/doc/top/top_image/r_yadolanking_title.gif);
}
#yadolanktitle_koukyu {
	height: 40px;
	width: 180px;
	background-image: url(/jalan/doc/top/top_image/r_yadolanking_title_koukyu.gif);
}
#yadolanktitle h2{
	position:absolute;
	left:-9999px;
}
#yadolanktitle_koukyu h2{
	position:absolute;
	left:-9999px;
}
#yadolank p {
	margin: 0;
	padding: 4px 0 0 6px;
}
.bottomlink {
	margin: 1px;
	padding: 5px 0 0 0;
}

/*QPArea*/
#qr {
	margin: 0 0 20px 0;
	padding: 0;
}
#qrtitle {
	height: 40px;
	width: 180px;
}
#qr p {
	margin: 0;
	padding: 1px 0 1px 0;
}
.bottomlink {
	margin: 1px;
	padding: 5px 0 0 0;
}

/*MagazineArea*/
#magazine {
	margin: 0 0 20px 0;
	padding: 0;
}
#magazinetitle {
	height: 40px;
	width: 180px;
}
#magazine p {
	margin: 0;
	padding: 1px 0 1px 0;
}
.bottomlink {
	margin: 1px;
	padding: 5px 0 0 0;
}

/*NICESHOT*/
#niceshot {
	margin: 0 0 20px 0;
	padding: 0;
}
#niceshottitle {
	height: 40px;
	width: 180px;
	background-image: url(/jalan/doc/top/top_image/r_niceshot_title.gif);
}
#niceshotitle h2{
	position:absolute;
	left:-9999px;
}
#yadolank p {
	margin: 0;
	padding: 2px 0 2px 0;
}
.bottomlink {
	margin: 1px;
	padding: 5px 0 0 0;
}

/*YADOBLOG*/
#yadoblog {
	margin: 0;
	padding: 0;
}
#yadoblog p {
	margin: 0;
	padding: 0 0 4px 6px;
}
#yadoblog span {
	color:#666666;
	font-size: 10px;
}
#yadoblog .photo {
	margin: 3px 0 0 6px;
	padding: 0;
}


/*INFO*/
.infobox {
	border-top: 1px solid #999999;
	padding: 10px 0px;
	text-align: center;
}
#campaigntitle {
	height: 40px;
	width: 180px;
}


/*HONSHI*/
#honshibox {
	text-align: center;
}
#seostrong b,strong {
	font-weight: normal;
}
#honshibox p {
	margin: 6px;
	padding: 0;
}
#honshibox .honshi {
	margin: 0 auto;
}

/*RIGHT AREA*/
.rightarea {
        width:180px;
}
