@charset "Shift_JIS";
/* calendarSdp用 */
#mypageCalendarSdp,
#calendarSdp {
  display: none;
  position: absolute;
  z-index: 999999;
  font-family: "メイリオ";
  font-size: 12px;
}

.calendarSdpWhite .calendarSdpList {
  background-color: #ffffff;
}

.calendarSdpGray .calendarSdpList {
  background-color: #f4f4f4;
}

.calendarSdpList {
  position: relative;
  left: 0px;
  margin-top: 3px;
  background-color: #fbf5e1;
  padding: 10px !important;
  border: 1px solid #d3c9b0;
  display: none;
  z-index: 510;
  text-align: center;
  *width: 448px;
  float: none !important;
}
.calendarSdpList .calendarSdpUnselect {
  display: none;
}
.calendarSdpList .dyn_cal_tbl {
  border-collapse: collapse;
}
.calendarSdpList .dyn_cal_tbl th {
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 5px !important;
  line-height: 18px;
}
.calendarSdpList .calendarSdpTrBox {
  height: 175px;
}
.calendarSdpList .calendarSdpTrBox td.dyn_cal_tbl_box {
  vertical-align: top;
}
.calendarSdpList .calendarSdpTrBox td.dyn_cal_tbl_box .dyn_cal_tbl {
  margin: 0px 15px;
}
.calendarSdpList .calendarSdpTrBox td.dyn_cal_tbl_box .dyn_cal_tbl tr {
  height: 22px;
}
.calendarSdpList .calendarSdpTrBox td.dyn_cal_tbl_box .dyn_cal_tbl td {
  font-size: 12px !important;
  text-align: center !important;
  padding: 1px !important;
  line-height: 18px;
}
.calendarSdpList .calendarSdpTrBox td.dyn_cal_tbl_box .dyn_cal_tbl td.dyn_disable {
  padding: 1px 3px !important;
  width: 16px;
}
.calendarSdpList .calendarSdpTrBox td.dyn_cal_tbl_box .dyn_cal_tbl td a {
  display: block;
  width: 14px;
  padding: 1px 3px !important;
}
.calendarSdpList .calendarSdpTrBox td.dyn_cal_tbl_box .dyn_cal_tbl td a:hover {
  color: #fff;
  background-color: #ff7d00;
}
.calendarSdpList .calendarSdpTrBox .dyn_cal_arrow {
  vertical-align: middle;
}
.calendarSdpList .calendarSdpTrBox .dyn_cal_arrow a {
  width: 24px;
  height: 24px;
  display: block;
}
.calendarSdpList .calendarSdpTrBox .dyn_cal_arrow img {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 !important;
}

.calendarSdpClose {
  font-size: 12px;
  padding-top: 5px;
  white-space: nowrap;
  text-align: center !important;
}
.calendarSdpClose a {
  color: #333;
  text-decoration: none !important;
  display: block;
  position: relative;
  width: 60px;
  margin: 0 auto;
}
.calendarSdpClose a:link {
  color: #333;
  text-decoration: none !important;
}
.calendarSdpClose a:visited {
  color: #333;
  text-decoration: none !important;
}
.calendarSdpClose a img {
  width: 11px;
  height: 11px;
  margin-bottom: 1px;
  position: relative;
  left: 0;
  top: 2px;
}

#calBlock.layoutCalendarSdp .dyn_cal #hiduke_mitei_1 {
  *display: none !important;
}
#calBlock.layoutCalendarSdp .dyn_cal #hiduke_mitei_2 {
  *display: none !important;
}
#calBlock.layoutCalendarSdp .dyn_cal #hiduke_mitei_3 {
  *display: none !important;
}
#calBlock.layoutCalendarSdp .dyn_cal #hiduke_mitei_4 {
  *display: none !important;
}
#calBlock.layoutCalendarSdp .dyn_cal #hiduke_mitei_5 {
  *display: none !important;
}
#calBlock.layoutCalendarSdp .dyn_cal #hiduke_mitei_6 {
  *display: none !important;
}
#calBlock.layoutCalendarSdp .dyn_cal #hiduke_mitei_7 {
  *display: none !important;
}
#calBlock.layoutCalendarSdp .dyn_cal #hiduke_mitei_8 {
  *display: none !important;
}
#calBlock.layoutCalendarSdp .dyn_cal #hiduke_mitei_9 {
  *display: none !important;
}
#calBlock.layoutCalendarSdp .dyn_cal #hiduke_mitei_10 {
  *display: none !important;
}
#calBlock.layoutCalendarSdp .dyn_cal #hiduke_mitei_11 {
  *display: none !important;
}
#calBlock.layoutCalendarSdp .dyn_cal #hiduke_mitei_12 {
  *display: none !important;
}
#calBlock.layoutCalendarSdp .dyn_cal #hiduke_mitei_13 {
  *display: none !important;
}

.calendar.layoutCalendarSdp .dyn_cal #hiduke_mitei_1 {
  *display: block !important;
}
.calendar.layoutCalendarSdp .dyn_cal #hiduke_mitei_2 {
  *display: block !important;
}
.calendar.layoutCalendarSdp .dyn_cal #hiduke_mitei_3 {
  *display: block !important;
}
.calendar.layoutCalendarSdp .dyn_cal #hiduke_mitei_4 {
  *display: block !important;
}
.calendar.layoutCalendarSdp .dyn_cal #hiduke_mitei_5 {
  *display: block !important;
}
.calendar.layoutCalendarSdp .dyn_cal #hiduke_mitei_6 {
  *display: block !important;
}
.calendar.layoutCalendarSdp .dyn_cal #hiduke_mitei_7 {
  *display: block !important;
}
.calendar.layoutCalendarSdp .dyn_cal #hiduke_mitei_8 {
  *display: block !important;
}
.calendar.layoutCalendarSdp .dyn_cal #hiduke_mitei_9 {
  *display: block !important;
}
.calendar.layoutCalendarSdp .dyn_cal #hiduke_mitei_10 {
  *display: block !important;
}
.calendar.layoutCalendarSdp .dyn_cal #hiduke_mitei_11 {
  *display: block !important;
}
.calendar.layoutCalendarSdp .dyn_cal #hiduke_mitei_12 {
  *display: block !important;
}
.calendar.layoutCalendarSdp .dyn_cal #hiduke_mitei_13 {
  *display: block !important;
}

.layoutCalendarSdp {
  position: absolute;
  z-index: 999999;
  font-family: "メイリオ";
  font-size: 12px;
}
.layoutCalendarSdp .dyn_cal_tbl {
  text-align: center;
  margin: 0 15px;
}
.layoutCalendarSdp .dyn_cal_tbl tr {
  height: 22px;
}
.layoutCalendarSdp .dyn_cal_tbl tr th {
  line-height: 18px;
}
.layoutCalendarSdp .dyn_cal_tbl tr td {
  padding: 1px !important;
  text-align: center !important;
}
.layoutCalendarSdp .dyn_cal_tbl tr td a {
  display: block;
  padding: 0px 3px !important;
  width: 14px;
}
.layoutCalendarSdp .dyn_cal_tbl tr td a:hover {
  color: #fff;
  background-color: #ff7d00;
}
.layoutCalendarSdp .s11_66 {
  position: relative;
}
.layoutCalendarSdp .s11_66 #datecheck1 {
  margin: 0px 0 0 5px;
  position: relative;
  top: 2px;
}
.layoutCalendarSdp .s11_66 #datecheck2 {
  margin: 0px 0 0 5px;
  position: relative;
  top: 2px;
}
.layoutCalendarSdp .s11_66 #datecheck3 {
  margin: 0px 0 0 5px;
  position: relative;
  top: 2px;
}
.layoutCalendarSdp .s11_66 #datecheck4 {
  margin: 0px 0 0 5px;
  position: relative;
  top: 2px;
}
.layoutCalendarSdp .s11_66 #datecheck5 {
  margin: 0px 0 0 5px;
  position: relative;
  top: 2px;
}
.layoutCalendarSdp .s11_66 #datecheck6 {
  margin: 0px 0 0 5px;
  position: relative;
  top: 2px;
}
.layoutCalendarSdp .s11_66 #datecheck7 {
  margin: 0px 0 0 5px;
  position: relative;
  top: 2px;
}
.layoutCalendarSdp .s11_66 #datecheck8 {
  margin: 0px 0 0 5px;
  position: relative;
  top: 2px;
}
.layoutCalendarSdp .s11_66 #datecheck9 {
  margin: 0px 0 0 5px;
  position: relative;
  top: 2px;
}
.layoutCalendarSdp .s11_66 #datecheck10 {
  margin: 0px 0 0 5px;
  position: relative;
  top: 2px;
}
.layoutCalendarSdp .s11_66 #datecheck11 {
  margin: 0px 0 0 5px;
  position: relative;
  top: 2px;
}
.layoutCalendarSdp .s11_66 #datecheck12 {
  margin: 0px 0 0 5px;
  position: relative;
  top: 2px;
}
.layoutCalendarSdp .s11_66 #datecheck13 {
  margin: 0px 0 0 5px;
  position: relative;
  top: 2px;
}

.positionRelative {
  position: relative;
}

/* 間際ポップアップ */
#modalOverlay {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -moz-opacity: 0.7;
  -webkit-opacity: 0.7;
  filter: alpha(opacity=70);
  z-index: 1000;
}

.modalNotice {
  display: none;
  position: fixed;
  border: 12px solid #fff;
  border-radius: 12px;
  background: #fff;
  z-index: 1001;
}

.showModalNotice {
  display: block;
}

.modalNotice-close {
  display: block;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 50px;
  height: 50px;
  background: url(/dp/images/modal_notice_close.png) center center no-repeat;
  cursor: pointer;
}
