/*layout e generici*/
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana, Arial, sans-serif;
	text-align:center;
    color: #333333;
    line-height:18px
}
img {
	border:0px;
}

ul{
	padding: 0 0 0 25px;
	list-style-type: disc;
}

ul li{
	padding-left:0px;
}

div#container {
	position: relative;
	min-width:1260px;
	/*width: 100%;*/
	height: 100%;
	margin: 0 auto;
	text-align:left;
}
body>div#container{
	height:auto;
	min-height:100%;
}
div#header {
	background-color:#f1f1f1;
	height:155px;
	min-width:980px;
}
div#main {
	margin: 20px auto 0 230px !important;
	margin: 20px auto 0 250px;
	text-align: left;
}
div#nav {
	float:left;
	width:205px;
	margin: 20px 0 0 25px;
}

div#postacertificata {
	width:330px;
	margin-left: 15px;
	float: left;
	padding: 0px;
}
div#postacertificata img
{
	display: block;
}
div#firmadigitale {
	width:330px;
	float: left;
	margin-right: auto;
	margin-left: 16px;
}
div#firmadigitale img
{
	display: block;
}

div#footer {
	position:absolute;
	bottom: 0;
	width: 100%;
	height:80px;
	background-color:#ffe6c7;
	clear:both;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	border-top:1px solid #fbb661
}

.subtitleCNS{
    font-size: 14px; 
    font-weight: normal;
    color: gray;
}

/*header*/

div#logo {
	background-color:#f4f4f4;
	height:125px;
	width:675px;
	background-image:url(/images/logo.jpg);
	background-repeat:no-repeat;
	/*background-position: 25px;*/
	background-position : right center;
	float:left;
}
div#info {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	line-height:14px;
	text-align:right;
	padding:30px 25px 0px;
}
div#info a{
	color:#666666;
	text-decoration:none;
}
div#menuor {
	clear:both;
	background-color:#f4f4f4;
	height:30px;
	background-image:url(/images/sf_menu.gif);
	background-repeat: repeat-x;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	line-height:30px;
	width:auto;
}

div#menuor ul{
	margin: 0;
	padding: 0 0 0 220px;
	list-style-type: none;
}

div#menuor ul li{
	text-align:center;
	position: relative;
	display: inline;
	float: left;
}


div#menuor ul li a{
	display: block;
	width: 148px;
	text-decoration: none;
	color:#FFFFFF;
}
	
div#menuor ul li a:hover{
	background-image:url(/images/sf_menu_acc.gif);
	background-repeat:no-repeat;
	background-position:center;
	color: #5a382a;
}
div#menuor ul li.menuacc a{
	background-image:url(/images/sf_menu_acc.gif);
	background-repeat:no-repeat;
	background-position:center;
	color: #5a382a;
}

/*menu sx*/


.menu
{
	background-color:#f1f1f1;
	width: 200px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#666666;
	padding:0;
	margin: 0px;
}
.menu ul
{
	margin: 0px;
	padding:0px;
	list-style: none;
}

.menu ul li
{
	position:relative;
	background-image: url(/images/freccia_pec.gif);
	background-repeat:no-repeat;
	background-position:2px;
	margin-left: 10px;
	line-height:20px;
}
.menu#fd ul li
{
	background-image: url(/images/freccia_fd.gif);
	background-repeat:no-repeat;
	background-position:2px;
	margin-left: 10px;
	line-height:20px
}
.menu ul li.freccia
{
	position:relative;
	background-image: url(/images/freccia_pec_sm.gif);
	background-repeat:no-repeat;
	background-position:2px;
	margin-left: 10px;
	line-height: 30px;
}

.menu ul li ul li.terzo
{
	background-image: url(/images/freccia_pec_small.gif);
	background-repeat:no-repeat;
	background-position:2px;
	border: 1px solid #999999;
	border-width: 0 1px 1px 1px;
	margin: 0px;
}
.menu ul li ul li.terzo ul
{
	position: absolute;
	left: 198px;
	top: 3px;
	background-color: #F1F1F1;
	border-top: 1px solid #999999;
	width: 200px;
}
.menu ul li.menu2
{
	position:relative;
	background-repeat:no-repeat;
	background-position:2px;
	margin-left: 20px;
	line-height: 30px;
}

.menu ul li a
{
	text-decoration: none;
	font-size: 13px;
	color:#666666;
	margin-left: 18px;
}

.menu ul li a.red
{
	color:#000000;
}

.menu ul li a:hover
{
	color: #CC0000;
	text-decoration: underline;
}
.menu#fd ul li a:hover
{
	color: #101576;
	text-decoration: underline;
}
.menu ul li ul
{
    position: absolute;
	left: 190px;
	top: 3px;
	background-color: #F1F1F1;
	border-top: 1px solid #999999;
	width: 200px;
}
.menu ul li ul li
{	
	background:none;
	border: 1px solid #999999;
	border-width: 0 1px 1px 1px;
	margin: 0px;
}
.menu ul li ul li a
{
	display: block;
	cursor: pointer;
	height: 22px;
	line-height: 22px;
    text-decoration: none;
	padding: 1px 3px;
	color: #666666;
	font-size: 12px;
	white-space: nowrap;
	margin-left : 0;
}
.menu ul li ul li a:hover
{
	color:#CC0000;
	text-decoration:underline;
}
.menu img
{
	display: block;
}

/**/

.testo
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
}
.rederr
{
	color:red;
}
div#main h1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#b1181f;
	margin:0 0 0 20px;
}

div#main .cont 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	margin:0 0 0 0px;
	padding-left:0px;
	/*line-height:20px;
	width:700px;*/
}
.cont 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0 0 0 0px;
	padding-left:0px;
}
.contred 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#BA1B18;	
	font-weight:600;
	padding-bottom:10px;
}
.subtitle 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-decoration: none;
}
div#main .contpec
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	margin:0 0 0 20px;
	padding-left:5px;
	line-height:20px;
	width:400px;
}
/*div#main .ordpec
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	margin:0 0 0 10px;
	line-height:20px;
	width:300px;
	background-color:#ffe1da;
	background-image: url(/images/postacertificata_2.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	
	
}*/
div#main .PecTitle
{
	background-image : url(/images/postacertificata-Back.gif);
	background-position : top;
	background-repeat : repeat-x;
	height : 112px;
}

div#main .PecTitle .left
{
	float : left;
}

div#main .PecTitle .right
{
	float : right;
}

div#main .PecContentTable
{
	width : 100%;
	margin-top : -3px;
	*/margin-top : 0;
	background-image : url(/images/postacertificata-Back2.gif);
	background-position : top;
	background-repeat : repeat-x;
	background-color : #ffe1da;
}

div#main .cont a
{
	color: #0099FF;
	text-decoration:none;
	font-weight:bold;
}

div#main .cont a:hover
{
	text-decoration:underline;
}
.separatore_left_10
{
	font-style:italic;
	padding-left:10px;
}
.didascalia
{
    float:right; 
    font-size:10px; 
    font-style:italic; 
    line-height:11px; 
    width:199px; 
    color:#999999
}
.loginpartner
{
    float:right;
    background-image: url(/images/login_sf.gif);
	background-repeat: repeat-y; 
    font-size:11px; 
    line-height:12px; 
    width:199px; 
    color:#333333;
    margin:0;
    padding: 0;
}
.cdrl
{
    float:left;
    width:700px;
    margin: 8px;
    padding: 6px;
    border:1px dashed #999999;
    background-color:#f6f6f6;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#696969;
}

.cursorhand
{       
    cursor: hand;cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#696969;
	margin:0 0 0 0px;
	padding-left:0px;
	/*line-height:20px;*/
	width:700px;
}
.faq .subtitle
{
    color: #b1181f;
    padding:0;
    margin:0 0 6px 0;
    font-size:14px; 
    font-style: normal; 
}
.faq
{
    margin: 8px;
    padding: 6px 0 12px 0;
    border-bottom:2px dotted #101576;
    font-size:12px; 
    font-style:italic; 
}
.msg
{
    margin: 0 60px;
    padding: 10px;
    border:1px dashed #48583d;
    background-color:#f9ffc9;
    margin-left:150px;
}

.tablePostaCertificata
{
	width : 98%;
	height : 273px;
	margin-left : 8px;
}

.postacertificataIMG
{
	width : 550px;
	background-image : url(/images/postacertificata.gif);
	background-repeat : no-repeat;
	background-position : top;
	
}

.image_map{
	width : 550px;
	height:273px;
	background: url(/images/postacertificata.gif) no-repeat;
	position : relative;
} 

.image_map a{
	display:block;
	position:absolute;
} 
.image_map a.menu{
	width:103px;
	height:58px;
	top:83px;
	background-color:Transparent;
} 
.image_map a.menu1{
	width:110px;
	height:58px;
	top:83px;
	background-color:Transparent;
}
.image_map a#link1{
	left:205px;
}
.image_map a#link2{
	left:321px;
}
.image_map a#link3{
	left:437px;
} 

.tablePostaCertificata .boxOrder
{
	height : 60px;
	padding : 1px;
	float : right;
	/*margin-top : 1px;*/
	margin-right : 30px;
}

.tablePostaCertificata .boxOrder span
{
	font-size : 12px;
}

.tablePostaCertificata .boxOrder .widthtable
{
	width : 270px;
	text-align:center;
}

.tablePostaCertificata .boxOrder a
{
	font-size : 11px;
	text-decoration : underline;
	color : #FFFFFF;
}

.tablePostaCertificata p
{
	padding : 12px 3px 3px 10px;
	font-family : Arial;
	margin : 0;
	font-size : 12px;
	line-height : 13px;
	color : #FFFFFF;
	clear : right;
}

.tablePostaCertificata .tableButtonOrder
{
	margin-top : 0px;
}

.contentPartner
{
	vertical-align : top;
}

.partnerBox
{
	background-image : url(/images/partnerBox.gif);
	background-repeat : no-repeat;
	width : 171px;
	height : 273px;
	cursor : pointer;
}

div#main .partnerBox h1
{
	font-size : 18px;
	padding : 0;
	margin : 0 0 0 5px;
	color: #333333;
}

.partnerBox div
{

}

.tableFirmaDigitale
{
	width: 98%;
	height : 240px;
}

.digitalBoxKit
{
	background-image : url(/images/digitaleBoxKit.gif);
	background-repeat : no-repeat;
	height: 113px;
	width : 351px;
	cursor : pointer;
	vertical-align : top;
}

.digitalBoxCdrl
{
	background-image : url(/images/digitaleBoxCdrl.gif);
	background-repeat : no-repeat;
	height: 113px;
	width : 351px;
	cursor : pointer;
	vertical-align : top;
}

.digitalBoxKit p,
.digitalBoxCdrl p
{
	color: #333333;
	font-size : 14px;
	padding: 8px 0 0 0;
	margin : 0 20px 0 80px;
}

.tuoDominioTable
{
	width : 735px;
	height : 70px;
	margin-top : 20px;
	margin-left : 8px;
}

.tuoDominioBack
{
	background-image : url(/images/tuoDominioBackground.gif);
	background-repeat : repeat-x;
	background-position : top;
	text-align : center;
	font-size : 14px;
	color : #333333;
	padding-left : 10px;
}

.tuoDominioBack div
{
	margin : 0 auto;
	width : 504px !important;
	width : 510px;
}

.tuoDominioTable .buttonDomain
{
	display: block;
	white-space: nowrap;
	background-image : url(/images/sf_menu.gif);
	line-height : 20px;
	height : 20;
	border : 1px solid #9a0000;
	font-size : 11px;
	color : #FFFFFF;
	cursor : pointer;
	text-decoration :none;
	font-weight : bold;
	padding : 0 5px 0 5px;
	float : left;
	margin : 5px 3px 0 3px;
}


/*footer*/

div#fsx
{
	width: 250px;
	float: left;
	margin: 10px 0 0 10px;
}

div#fsx a
{
    color:#666666;
    text-decoration: none;
}

div#fsx a:hover
{
    color: #0099FF;
    text-decoration: none;
}

div#fdx
{
	width: 140px;
	float : right;
	margin: 10px 10px 0 0;
}

div#copyright
{
	margin : 16px auto;
	text-align : center;
}

/* lightbox */

#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:/images/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }

.wizardAnchorButtons
{
	display : none;
}

.addFieldButton
{
	
}

.fieldsContainer
{
	border-bottom: 1px solid #cd0000;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size : 12px;
	font-weight : bold;
}

.fieldsContainer input
{
	width : 90px;
	margin : 3px;
	border : 1px solid #333333;
}

.fieldsContainer a
{
	margin-left: 108px;
}

.fieldsContainer a img
{
	margin-top: 3px;
}

.disabledFields
{
	border: 1px solid #ffe1da;
	background-color: #ffe1da;
}

.addFieldButton
{
	background-color : #cd0000;
	border : 1px solid #9a0000;
	color : #FFFFFF;
	cursor : pointer;
	text-decoration :none;
	height : 26px;
	font-weight : bold;
}

.whiteRedButton
{
	background-color : White;
	border : 2px solid;
	border-color:Red;
	color : Black;
	cursor : pointer;
	text-decoration :none;
	height : 26px;
	font-weight : bold;
}

.activeButtonCssClass
{
	background-image : url(/images/sf_menu.gif);
	line-height : 20px;
	height : 20;
	border : 1px solid #9a0000;
	font-size : 14px;
	color : #FFFFFF;
	cursor : pointer;
	text-decoration :none;
	font-weight : bold;
	padding : 0 20px;
}

.nextFieldButton, a.disabledButtonCssClass
{
	background-color : #c8c8c8;
	border : 1px solid #888888;
	color : #e7e7e7;
	cursor : pointer;
	font-size : 12px;
	padding : 3px;
	text-decoration : none;
	margin-top : 5px;
	display:none;
}

/* Area Login Partner */

.divPartnerArea
{
	width: 300px;
	height: 300px;
	margin: 20px auto;
	background-image : url(/images/partnerArea-bg.gif);
	background-repeat : no-repeat;
	font-size : 12px;
}

.divPartnerArea .contentPartner
{
	padding : 50px 12px;
	text-align : center;
}

.divPartnerArea .contentPartner p
{
	text-align : left;
}

.divPartnerArea .accessButton
{
	border : 1px solid #000000;
	background-color : #cf0000;
	color : #ffffff;
	cursor : pointer;
}
.TAB_COMP
{
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	width:100%;
	background-color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	text-align:center;
	font-weight:bold;
	line-height:normal;
}
.TAB_COMP_INTER { 
background-color:#feeae6
} 
.TAB_COMP td{
font-family: Arial, Helvetica, sans-serif; 
color: #000000; 
font-weight: bold; 
font-size: 10px; 
border-left: 1px solid #000000;
border-bottom: 1px solid #000000;
vertical-align:top;
}
.BiggerFont td{ /* A-Albiani 11-08-2010 Font Aumentato per Tabella Comparativa */
font-size: 13px;
}
.separatore_right_sec_pag {
	padding-right: 5px;
}
.tab_comp_HOSTING {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000000;
	text-decoration: none;
	white-space: nowrap;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7A7A7A;
	line-height: 30px;
	height: 31px;
	background-color: #E5E5E5;
}
.tab_comp_descr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	padding: 10px;
	vertical-align: top;
	text-align:left;
}
.link_tab_comp
{
	color: #000000;
	font-size: 11px;
	text-decoration: none;
}
.main_sep_21 {
	font-size: 1px;
	line-height: 1px;
	height: 21px;
}
.main_titolo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #716263;
	background-image: url(image/main_titolo.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.tabella {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #000000;
}
.cella_pec {
	background-color: #f8e9e7;
	padding: 2px;
}
.cella_grigia {
	background-color: #EEEEEE;
	padding: 2px;
}
.main_testo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #716263;
	text-decoration: none;
	background-color: #F4F4F4;
	padding: 8px;
	text-align: justify;
}
.pulsante {
	border: 1px solid #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #E5E5E5;
	height: 18px;
	text-align: center;
	vertical-align: middle;
	line-height: 11px;
	font-weight: normal;
	text-transform: uppercase;
	cursor: hand;
	padding-right: 5px;
	padding-left: 5px;
}
.FORM_campo_120 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	height: 18px;
	width: 120px;
	padding-right: 2px;
	padding-left: 2px;
	border: 1px solid #000000;
}
.FORM_campo_150 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	height: 18px;
	width: 150px;
	padding-right: 2px;
	padding-left: 2px;
	border: 1px solid #000000;
}
.FORM_testo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}	
.buttonPw
{

	font: normal 11px/normal Verdana, Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	padding-left:20px;
	padding-right:20px;
	color: #000000;
	text-decoration: none;
	background: #e5e5e5;
	border: 1px #FFFFFF;
	cursor: hand;

}

.ImgTable
{
	max-height:50px;
}

.TableManOp
{
	width:900px;	
	border-color:#000000;
}

.TableManOp .Header
{
	vertical-align:top;
	color:#FFFFFF;
	background-color:#cd0000;
	font-weight:bold;
	height:40px;
}

.TableManOp .Celltable
{
	width:150px;
	text-align:center;
	vertical-align:middle;
	height:37px;
}

.TableManOp .Celltable2
{
	width:100px;
	text-align:center;
	vertical-align:middle;
	height:37px;
}

.TableManOp .Celltable3
{
	width:150px;
	text-align:left;
	vertical-align:middle;
	height:37px;
}

.TableManOp .CellDescription
{
	vertical-align:top;
	text-align:justify;
	padding-left:5px;
	padding-right:5px;
}
.DIVPW
{
	text-align:left; 
	padding-left:0px;
	font-size:12px;
	line-height:20px;
}

.DIVPW a
{
	text-decoration:underline;	
	color:Red;
}

.DIVPW a:hover
{
	text-decoration:underline;
	color:Red;
}
.textFreccia 
{
	position:relative;
	background-image: url('/images/freccia_pec.gif');
	background-repeat:no-repeat;
	background-position:2px;
	margin-left: 10px;
	line-height: 30px;
}


.table_c0 a:link { color: #990000; font-weight: bold; text-decoration: none}
.table_c0 a:visited { color: #990000; font-weight: bold; text-decoration: none}
.table_c0 a:hover { color: #990000; font-weight: bold; text-decoration: underline}
.table_c0 input.buttonPw { background-color: #990000; color: #ffffff; padding: 5px; font-size: 11px; font-weight: bold  }
.table_c1 { background-color: #e8e8e8; background-image: url('/images/menu_top2.gif'); background-repeat: no-repeat; width: 20px; height: 33px; background-position: 0px 0px  }
.table_c2 { background-color: #e8e8e8; text-align: left; font-weight: bold  }
.table_c3 { background-color: #e8e8e8; background-image: url('/images/menu_top2.gif'); background-repeat: no-repeat; width: 20px; height: 33px; background-position: top right  }
.table_c4 { padding: 20px; border-left: 1px solid #e8e8e8; border-right: 1px solid #e8e8e8; }
.table_c5 { padding: 20px; border-left: 1px solid #e8e8e8; border-right: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; }
.table_c5 input { border: 1px solid #999999 }

.titlePage
{ color: #333333;
  font-size: 22px;
  margin-top:10px;
  margin-bottom:15px;
}

.subTitlePage
{ color: gray;
  font-size: 18px;
}

.imgborders2 {
	border-style:solid;
    border-width:2px;
    border-color:#C6C6C6;
}
.imgborders1 {
	border-style:solid;
    border-width:1px;
    border-color:#C6C6C6;
}
.titlePageNoPadd
{ color: gray;
  font-size: 22px;
}
.subtitlePEC
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:900;
	color: #D81D21;
}

.subtitleFD
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:900;
	color: #00F;
}

.BordoRosso
{
    border:1px solid red !important;    
}

.tableborderedOutside
{
    /*border: 1px solid red;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#696969;
	
	/*padding-left:50px;*/
	/*padding-bottom:20px;
	padding-top:20px;		*/
	width:700px;
	background-color:#F7F7F7;	
	margin-left: 10%;
    margin-right: 10%;
        
}

a.blankLink
{
    text-decoration: none;
    color: #000;
    margin-left: 10px;
    display: block;
}
.rpTemplate > a {
    /*padding-left: 10px;*/
    margin-left: 20px
}

a.blankLink:hover
{
    text-decoration: none;
    color: #000;
  /* margin-left: 10px;*/
    margin-top: 0px;   
    margin-bottom: 0px;   
   background-color: #F2F0F0;
    /*background-image: url("PanelBar/SubItemStates.png");*/
    background-repeat: no-repeat;
    
    display: block;
}

.rpTemplate > a :hover {
    /*padding-left: 10px;*/
    margin-left: 20px!important
}

a.blankLinkTabbed
{
    text-decoration: none;
    color: #000;
    padding: 0px 25px;
    margin-left: -15px;    
    margin-top: 0px;   
    margin-bottom: 0px;   
    width: 145px;
    display: block;
}


a.blankLinkTabbed:hover
{
    text-decoration: none;
    color: #000;
    padding: 0px 25px;
    margin-left: -15px;    
    margin-top: 0px;   
    margin-bottom: 0px;   
    width: 145px;
    display: block;
    background-color: transparent;
    background-image: url("PanelBar/SubItemStates.png");
    background-repeat: no-repeat;
}


/* Regole per Pagina Convenzione */

.content
{
    font-family:Arial;
    padding:12px;
}

.PageViewConvenzioni
{
    padding:10px;
}

.headerBox
{
    background-image:url(../../images/convToolbarTitleBg.jpg);    
    border: 1px solid #C6C6C6;
    height:40px;
    vertical-align:middle;
}

.headerBox b
{
    display:block;
    margin-top:10px;
    margin-left:10px;
}

.contentBox
{
    background-image:url(../../images/convToolbarBoxBg.jpg);    
    border: 1px solid #C6C6C6;
    height:87px;
    vertical-align:middle;
    top:0px;
    display:block;
    
}

.titleConvenzioni
{
    color: gray;
    font-size: 22px;
}

.tabRed
{
    color: #fff;
	background: #ac1b1e;
}

.tabBlue
{
    color: #fff;
	background: #2a47a0;
}

.tabLightBlue
{
    color: #fff;
	background: #1B67CD;
}

.tabGreen
{
    color: #fff;
    background-color: #109106;
}

.tabLightGreen
{
    color: #fff;
	background: #fff url('../../images/tlc_bgactive_green.png') repeat-x;
}

.tabGrey
{
    color: #fff !important;
    background-color: #939393;
}

.panelRed
{
    color: #fff;
	background: #fff url('../../images/tlc_bgactive_red.png') repeat-x !important;
/*	height: 34px !important;
    margin-top: -2px !important;
    margin-bottom: -2px !important;*/
}

.panelBlue
{
    color: #fff;
	background: #fff url('../../images/tlc_bgactive_blue.png') repeat-x !important;
/*	height: 34px !important;
    margin-top: -2px !important;
    margin-bottom: -2px !important;*/
}

.panelLightBlue
{
    color: #fff;
	background: #fff url('../../images/tlc_bgactive_lightblue.png') repeat-x !important;
/*	height: 34px !important;
    margin-top: -2px !important;
    margin-bottom: -2px !important;*/
}

.panelGrey
{
    color: #fff;
	background: #fff url('../../images/tlc_bgactive_gr.png') repeat-x !important;
/*	height: 34px !important;
    margin-top: -2px !important;
    margin-bottom: -2px !important;*/
}

.TextBoxCodiceConvenzione
{
    height:28px;    
    background-color:White;
    border:1px solid #000 !important;
    margin-left:130px;
    margin-top:30px;
    float:left;
    font-size:20px!important;
    font-weight:bold!important;
    vertical-align:middle;
}

/*INIT OW 24/01/13 - ASQ -  FIX BUTTON CODICE CONVENZIONE*/
.telerikTextbox {
   float: left !important;
   width: 200px !important;
   margin-left: 130px !important;
   margin-top: 29px !important;
   height: 35px !important;
   vertical-align:middle;
}
.rowFlow > span {
    float: left;
}
/*END OW 24/01/13 */

.ButtonConvenzioni
{
    width:106px;
    height:36px;
    display:inline-block;
    top:30px;
    float:left;
    margin-left:10px;
}

.box 
{
    margin:50px;
    width:553px;
}

.RowCodiceConvenzioneErrore
{
    font-size:10px;
    font-weight: bold;
    height:18px;
    line-height:18px;
    color: #CC0000;
}

.DropDownToogle
{
    background-image:url(/images/dropDownArrow.png);
    background-repeat:no-repeat;
    border:1px solid #000;
}

.DropDownCollegi
{
    height:23px;    
    background-color:White;
    border:1px solid #000 !important;
    margin-left:130px;
    margin-top:30px;
    float:left;
    /*font-size:20px!important;*/
    margin-top:36px!important;
    /*font-weight:bold!important;*/
}

.BoxNote
{
    border:1px solid #C0C0C0;
    height:68px;
}

.BordoRosso
{
    border:1px solid red !important;
}
.BoxRight
{
    text-decoration:none; cursor:pointer;
}
.grayBg
{
    background-color: #DDDDDD !important;
    height:40px !important;        
    padding-left:0px !important;
    color:#808080 !important;      
    margin: 0px; 
    border:0px !important;
}

.TextForm
{
    color:Red; 
    vertical-align:top;
    font-weight:bold;
    
}

.grayBg1
{
    background-color: #DDDDDD !important;
    height:40px !important;        
    padding-left:0px !important;
    color:#808080 !important;      
    margin: 0px; 
    border:0px !important;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#696969;
}

.rgCommandCell
{
    border-width: 0 !important;
}

div.grid  .rgHeader,  
div.grid  th.rgResizeCol,  
div.grid  .rgRow  td,  
div.grid  .rgAltRow  td,  
div.grid  .rgFooter  td  
{
    /*border-style:solid;
    border-color:#828282;
    border-width:1px;
    border-left:1px solid #828282 !important;  
    border-right:1px solid #828282 !important;  
    border-bottom:1px solid #828282 !important;  
    border-top:1px solid #828282 !important;   */
    vertical-align:middle;
    text-align:center;
    color:Black;
    font-size:14px;
}

.cellBlue
{
    background-image: url('../../images/bg_blue_MT.png') !important;
    background-repeat: repeat-x !important;
}

.cellGreen
{
    background-image: url('../../images/bg_green_MT.png') !important;
    background-repeat: repeat-x !important;
}

.cellGrey
{
    background-image: url('../../images/bg_grey_MT.png') !important;
    background-repeat: repeat-x !important;
}

.cellGreenUnselected
{
    background-image: url('../../images/bg_green_unselected_MT.png') !important;
    background-repeat: repeat-x !important;
}

div.grid .rgExpandCol 
{
    background-color:White !important;
    width: 200px !important;
}
.gridColumnGreen
{
    background-color:#D5FBD5;
    border-left:1px solid #828282 !important;  
    border-right:1px solid #828282 !important; 
}



div.gridWhite  .rgHeader,  
div.gridWhite  th.rgResizeCol,  
div.gridWhite  .rgRow  td,  
div.gridWhite  .rgAltRow  td,  
div.gridWhite  .rgFooter  td  
.gridWhite  .rgSelectedRow 
{
    border-left:none !important;  
    border-right:none !important;  
    /*border-bottom:1px solid #828282 !important;  
    border-top:1px solid #828282 !important; */ 
    height:35px !important;
    vertical-align:middle;
    text-align:center;
    color:Black;
    font-size:14px;
    padding-top:0;
    padding-bottom:0; 
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}

.gridWhite .rgInfoPart {
    display: none;
}

div.gridWhite  .Row  td 
{
    padding-top:0;
    padding-bottom:0; 
    height:35px;
   
}

.rgExpandCol
{
    display: none;
}

.colwidth  { width:160px;
             padding-left:0px !important;
             float:left;}

div.radcombo .rcbFocused .rcbArrowCell .rcbArrowCellRight
{
    background-color: red !important!;
} 
/*per radwindow*/
/*.expandbutton
{
    background-image: url('../../immagini/EspandiButt.png') !important;
    border:0px;
    width: 127px;
    height: 146px;
    display: block;

}*/

.circleloading
{
    background-repeat:no-repeat;
    background-position:bottom;
    
}
.rwIcon
      {
          background-image: none !important;
          display:none !important;
      }
.rwPinButton
{
    display:none !important;
}
.rwMinimizeButton
{
     display:none !important;
}
.rwMaximizeButton
{
     display:none !important;
}

/*.rwCorner  
{
     display:none !important;
}
.rwTopResize
{
     display:none !important;
}
.rwFooterCenter
{
     display:none !important;
}*/
.MyRadWin
{    
    overflow:hidden !important;
}

.innerdiv {

background:white;
height: 230px;
width:300px;
text-align: center;

border:1px solid #000;

position:absolute;
top:400px;
left:550px;
z-index:10;

}

.bgPopUpError
{
    background-color: Black;
    opacity: 0.65;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    filter: alpha(opacity=65);
    -moz-opacity: 0.65;
}

.modalBackground

{

  background-color:#CCCCFF;

  filter:alpha(opacity=10);

  opacity:0.5;

}

.ModalWindow

{  
  background-color :White;
  width:300px;
  height:260px;
  border: solid 2px #c0c0c0;  
  padding: 0px10px10px10px;
}

/*Init OW -AssociazioneMarcheTemporali.aspx*/

        .MTcontainer
        {
            margin: 65px auto 0;
            background-color: #F9F9F9;
            background-repeat: repeat-x;
            width: 63%;
            height: 300px;
            position: relative;
        }
        .MT-title
        {
            font-weight: bold;
            color: black;
            text-align: left;
            padding: 5px;
            background-image: url('../../Basket/Images/gradient_bg_window_title.png');
            background-repeat: repeat-x;
        }
        
        .MT-footer
        {
            background-color: #DFDFDF;
            width: 100%;
            height: 60px;
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            text-align: center;
        }
        .MT-choose-container
        {
            padding: 40px;
        }
        .MT-sub-title
        {
            font-weight: bold;
            font-size: 10pt;
            padding: 10px;
        }
        .MT-btn-MT-prosegui
        {
            text-align: center;
            color: white;
            margin-top: 3px;
            border: none;
            background-image: url('../../Basket/Images/but_prosegui_2.png');
            width: 135px;
            height: 22px;
            margin: 20px;
            cursor: pointer;
        }
        
        .MT-clear
        {
            clear: both;
        }
        
        .MT-esistenti
        {
            width: 136px;
            max-width: 136px;
            min-width: 136px;
        }
        .MT-esistenti-container
        {
            padding: 10px;
            width: 136px;
            text-align: left;
            margin: 0 auto;
        }
        
        .MT-btn-nuovo-account
        {
            background-image: url(../../Basket/Images/but_generico.png);
            border: none;
            width: 136px;
            height: 22px;
            color: white;
            font-weight: bold;
            font-size: 13px;
            cursor: pointer;
        }
        
        .MT-lbl-esistenti
        {
            font-weight: bold;
            font-size: 10pt;
        }
        
        /*End OW*/
        
                
        /* INIT - Carrello multiprodotto - Objectway - 2012-12-11 */
.Basket_header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	
}	
.Basket_testo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}	
.Basket_prezzo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #AD3333;
	text-decoration: none;
}	
.Basket_prezzoRiepilogo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: black;
	text-decoration: none;
	font-weight:bold;
}
.Basket_disp {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #009963;
	text-decoration: none;
}	
.Basket_removeLinkText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Blue;
	text-decoration: underline;
    padding-left: 10px;
}
.Basket_removeLinkImage {
    float:none;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 5px;
    vertical-align: text-bottom;
}	
.Basket_productTable {
      border-top-style: solid;
      border-top-width: thin;
      border-top-color: #EEEEEE;
}
.Basket_removeTable {
      margin: -10px 0px 0px 0px;
      /*border-bottom-style: solid;
      border-bottom-width: thin;
      border-bottom-color: #EEEEEE;*/
      margin-bottom: 20px;
      z-index: 10;
}
.Basket_qty {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-align: center;
}	
.Basket_totals {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}	
.Basket_grandTotal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #AD3333;
	text-decoration: none;
}	
.Basket_btnProcedi {
    background-image: url(/Basket/Images/but_carrello_big_acq.png);
    color: white;
    border: none;
    width: 154px;
    height: 43px;
    padding-bottom: 2px;
    cursor:pointer;
    text-align:left;
}
.Basket_btnProcedi2 {
    background-image: url(/Basket/Images/but_prosegui_2.png);
    color: white;
    border: none;
    width: 135px;
    height: 22px;
    padding-bottom: 2px;
    cursor:pointer;
}
.Basket_btnContinuaAcquisti {
    background-image: url(/Basket/Images/Basket_but_continua.png);
    color: white;
    border: none;
    width: 151px;
    height: 43px;
    padding-bottom: 2px;
    cursor:pointer;
}
.Basket_kitMessageBox {
    width: 825px;
    text-align: left;
    margin: 0px 0px 0px 0px;
}
.Basket_kitMessage {
    color: #999999;
    text-align: left;    
	font-size: 12px;
	text-decoration: none;
}	
.main_titoloKFD {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    text-decoration: none;
    padding-right: 10px;
    vertical-align: middle;
}
.Basket_btnConfermaOrdine {
    background-image: url(/Basket/Images/but_conferma_ordine.png);
    color: white;
    border: none;
    width: 136px;
    height: 22px;
    padding-bottom: 2px;
    cursor:pointer;
}

.dichiarazione-sostitutiva-text {
     font-size: 10px;
    padding-bottom: 8px;
    text-align: justify;
    width: 104%;
}


/* END  - Carrello multiprodotto - Objectway - 2012-12-11 */

/*INIT Pagina info de visu onine*/
        .bt-prosegui
        {
            text-align: center;
            color: white;
            margin-top: 3px;
            border: none;
            width: 135px;
            height: 22px;
            margin: 20px;
            cursor: pointer;
        }
  
        .container-devisu
        {
            border: 1px solid blue;
            margin-left: 30px;
            margin-top: 30px;
            font-size: 14px;
            width: 895px;
            background-color: #F1F1F1;
        }
        .header-devisu
        {
            background-image: url('../../images/bg_tab_activeblue.png');
            height: 25px;
            line-height: 25px;
            color: #FFF;
            font-size: 14px;
            font-weight: bold;
            vertical-align: middle;
            padding: 1px;
        }
        .info-text-container-devisu
        {
            padding: 10px;
        }
        
        .btn-container-devisu
        {
            background-color: #DFDFDF;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }
        .rb-container-devisu
        {
            margin: 20px;
        }
        .advice-container-devisu {
            text-align: center;
            margin: 25px;
            
        }
        .radio-container-devisu {
            width: 50%;
            *width: 49%;
            float: left;
            text-align:center;
        }
        .label-ad-devisu {
            font-weight: bold;
        }
/*END Pagina info de visu onine*/

/*INIT Pagina FirmaModuloAccettazione*/

.container-FirmaMA
        {
            border: 1px solid blue;
            margin-left: 30px;
            margin-top: 30px;
            font-size: 14px;
            background-color: #F1F1F1;
            width: 880px;
        }
        
         .header-FirmaMA
        {
            background-image: url('../../images/bg_tab_activeblue.png');
            height: 25px;
            line-height: 25px;
            color: #FFF;
            font-size: 14px;
            font-weight: bold;
            vertical-align: middle;
            padding: 1px;
        }
         .info-img-container-FirmaMA
        {
            padding: 10px;
        }
        
        
       .image-FirmaMA {
           text-align: center;
           padding-bottom: 60px;
        }
        .container-img-FirmaMA {
            text-align: left;
            padding-top: 100px;
            width: 100%;
            padding-bottom: 60px;
        }
        .PanelModulo-FirmaMA {
            border: 1px solid #B5B5B5;
            width: 46%;
            height: 152px;
            margin: 14px;
            float: left;
          
        }
        
        .container-bottom-FirmaMA {
           width: 90%;
           height: 152px;
           margin: 0 auto;
           margin-bottom: 60px;
        }
        .req-pin-cont-FirmaMA {
            width: 75%;
            height: 60px;
            margin:48px 31px;
            
        }
        
        @-moz-document url-prefix() {
  .collega-key-text-editFF {
           margin-bottom: -28px  !important
                            }
        }
        
        .immagine {
            position: relative
        }
/*END Pagina FirmaModuloAccettazione*/

/*INIT CNS GEO*/
.whiteTextOnButtonBigDetailsCNSGEO
{
    font-size: 14px;
    margin: 0px;
    padding-top: 3px;
    color: #fff;
    text-decoration: none;
    font-weight:bold;
}
/*END CNS GEO*/

/*aggiustamenti grafici barra laterale*/

.rpRootGroup {
    border: none !important;
    
}

.RadPanelBar .rpLink  .rpOut{
    border: none !important;
}

.RadPanelBar .rpLink {
    border: none !important;
   
    
}

div > div > ul > .rpItem{
    border-top: 1px solid #ECECEC
}

.RadPanelBar .rpLink {
    background-repeat: repeat-x;
   
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}

.access-data-link {
    line-height: 9px;
}

/*.RadPanelBar .rpGroup .rpLink, .RadPanelBar .rpGroup .rpTemplate {
     font-size: 12px !important;
    line-height: 20px !important;
}*/

.rpOut {
    padding: 0 !important;
}


.whiteTextOnButton
{
    font-size: 13px;
    margin: 0px;
    padding-top: 3px;
    padding-left: 6px;
    color: #fff;
    text-decoration: none;
}

div > div > ul > .rpFirst {
     border-top: none!important;
}
div > div > ul > .rpLast {
     border-bottom: 1px solid #ececec;
}



    