﻿p 
{
    margin-right:0cm;
	margin-left:0cm;
	font-size:12px;
	font-family: font-family: Verdana,Arial,Helvetica,sans-serif;
   
}
	
 p.MsoNormal 
 {
    margin-top:0cm;
	margin-right:0cm;
	margin-bottom:10.0pt;
	margin-left:0cm;
	line-height:115%;
	font-size:11.0pt;
	font-family: Arial,Helvetica,sans-serif;
 }
 
.style1
{
    border-collapse: collapse;
    font-size: 11.0pt;
    font-family: Arial,Helvetica,sans-serif;
    border-style: none;
    border-color: inherit;
    border-width: medium;
    margin-left: 5.4pt;
    text-align: center;
}
 
 .firstColumnText {
      font-family: Arial,Helvetica,sans-serif;
      color:#17365D;
      font-weight:bold;
      text-align: left;
      font-size:13px;
 }
 
 .firstColumn {
      width:200pt;
      padding:0cm 5.4pt 0cm 5.4pt;
      vertical-align:top;     
      text-align: left; 
      border:solid black 1.0pt;  
 }
  .firstRow 
  {
      border :solid black 1.0pt;      
      height: 44pt;     
  }
  
   .secondRow 
  {
     border:solid black 1.0pt;      
  }
  
  .thirdRow 
  {
      border :solid black 1.0pt;      
      background-color:#CDCDFF;
  }
  
  
 
  .styleFirstColumnFirstRow 
  {
     margin-left:8.8pt;
     line-height:15.0pt;
     font-weight:bold;
     font-size: 13px;
     font-family: Arial,Helvetica,sans-serif;
     color:#17365D;
     border :solid black 1.0pt;      
     text-align: left;
   }
   
   .styleOtherColumn 
  {
     margin-left:8.8pt;
     line-height:15.0pt;
     font-weight:bold;
     font-size: 13px;
     font-family: Arial,Helvetica,sans-serif;
     color:#17365D;
     border :solid black 1.0pt;      
     text-align: center;
   }
   
    .styleOtherColumn2 
  {
    
     font-size: 13px;
     font-family: Arial,Helvetica,sans-serif;
     color:#000000;
     border :solid black 1.0pt;      
     text-align: center;
     font-weight:bold;
   }
       .style2
       {
           font-size: 13px;
           font-family: Arial,Helvetica,sans-serif;
           color: #FF0000;
           border : solid black 1.0pt;
           text-align: center;
           font-weight:bold;
       }
