﻿@charset "UTF-8";

@font-face {
    font-family: "multipurpose";
    src: url('../../fonts/multipurpose.eot');
    src: url('../../fonts/multipurpose.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/multipurpose-webfont.woff') format('woff'),
	     url('../../fonts/multipurpose.ttf') format('truetype'),
	     url('../../fonts/multipurpose.svg#multipurpose-svg') format('svg'),
         url('../../fonts/multipurpose-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "multipurpose" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="aru-"]:before, [class*=" aru-"]:before {
    font-family: "multipurpose" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin-right: 3px;
    font-size: 19px;
    vertical-align: inherit;
    font-family:multipurposeregular;
}

.aru-account-f:before {
    content: "a";
}

.aru-account-m:before {
    content: "b";
}

.aru-account-m2:before {
    content: "c";
}

.aru-account-m3:before {
    content: "d";
}

.aru-anonymous:before {
    content: "g";
}

.aru-assistance:before {
    content: "i";
}

.aru-chat:before {
    content: "k";
}

.aru-chat2:before {
    content: "l";
}

.aru-green-energy:before {
    content: "n";
}

.aru-faq:before {
    content: "t";
}

.aru-crea-sito:before {
    content: "w";
}

.aru-commerciale:before {
    content: "z";
}

.aru-grid:before {
    content: "A";
}

.aru-ip-pubblico:before {
    content: "G";
}

.aru-italy:before {
    content: "H";
}

.aru-kb:before {
    content: "I";
}

.aru-ok-bold:before {
    content: "L";
}

.aru-ok:before {
    content: "M";
}

.aru-left3:before {
    content: "S";
}

.aru-left2:before {
    content: "T";
}

.aru-kb3:before {
    content: "V";
}

.aru-phone:before {
    content: "W";
}

.aru-phone-sm:before {
    content: "X";
}

.aru-photo:before {
    content: "Y";
}

.aru-play:before {
    content: "Z";
}

.aru-puzzle1:before {
    content: "2";
}

.aru-puzzle2:before {
    content: "3";
}

.aru-recycle:before {
    content: "4";
}

.aru-responsive:before {
    content: "5";
}

.aru-right2:before {
    content: "7";
}

.aru-right3:before {
    content: "8";
}

.aru-staff2:before {
    content: "9";
}

.aru-webmail2:before {
    content: "!";
}

.aru-webmail:before {
    content: "\"";
}

.aru-staff:before {
    content: "#";
}

.aru-smartphone:before {
    content: "&";
}

.aru-servizio-generico:before {
    content: "'";
}

.aru-staff-f-sm:before {
    content: "/";
}

.aru-trasferimento:before {
    content: "[";
}

.aru-update:before {
    content: "]";
}

.aru-ask-xs:before {
    content: "_";
}

.aru-assistance-xs:before {
    content: "`";
}

.aru-customer-area-xs:before {
    content: "{";
}

.aru-pec:before {
    content: "|";
}

.aru-pratiche:before {
    content: "}";
}

.aru-help-xs:before {
    content: "~";
}

.aru-help-sm:before {
    content: "\5c";
}

.aru-help:before {
    content: "";
}

.aru-down:before {
    content: "";
}

.aru-up:before {
    content: "";
}

.aru-rivenditori:before {
    content: "";
}

.aru-cloud:before {
    content: "";
}

.aru-server:before {
    content: "";
}

.aru-hosting:before {
    content: "";
}

.aru-right:before {
    content: "";
}

.aru-left:before {
    content: "";
}

.aru-link:before {
    content: "";
}

.aru-link-sm:before {
    content: "";
}

.aru-istruzioni:before {
    content: "";
}

.aru-istruzioni-sm:before {
    content: "";
}

.aru-pdf:before {
    content: "";
}

.aru-pdf-sm:before {
    content: "";
}

.aru-account-mf:before {
    content: "e";
}

.aru-add:before {
    content: "f";
}

.aru-aruba:before {
    content: "h";
}

.aru-auth-code:before {
    content: "j";
}

.aru-cloud-add:before {
    content: "m";
}

.aru-free:before {
    content: "o";
}

.aru-folder-finder:before {
    content: "p";
}

.aru-flag:before {
    content: "q";
}

.aru-faq-xs:before {
    content: "r";
}

.aru-faq-sm:before {
    content: "s";
}

.aru-estensione-dc:before {
    content: "u";
}

.aru-data-picker:before {
    content: "v";
}

.aru-coupon2:before {
    content: "x";
}

.aru-coupon:before {
    content: "y";
}

.aru-guide:before {
    content: "B";
}

.aru-guide2-sm:before {
    content: "C";
}

.aru-guide-sm:before {
    content: "D";
}

.aru-hosting-add:before {
    content: "E";
}

.aru-hosting-website:before {
    content: "F";
}

.aru-kb2:before {
    content: "J";
}

.aru-permissions:before {
    content: "K";
}

.aru-no:before {
    content: "O";
}

.aru-no-bold:before {
    content: "N";
}

.aru-navigation:before {
    content: "P";
}

.aru-left-circle-sm:before {
    content: "Q";
}

.aru-right-circle-sm:before {
    content: "-";
}

.aru-left-circle:before {
    content: "R";
}

.aru-right-circle:before {
    content: ".";
}

.aru-left1:before {
    content: "U";
}

.aru-right1:before {
    content: "6";
}

.aru-printer:before {
    content: "0";
}

.aru-printer-sm:before {
    content: "1";
}

.aru-ssl:before {
    content: "$";
}

.aru-sol-pers:before {
    content: "%";
}

.aru-search-sm:before {
    content: "(";
}

.aru-search:before {
    content: ")";
}

.aru-scelta-servizio:before {
    content: "*";
}

.aru-sale:before {
    content: "+";
}

.aru-ruler:before {
    content: ",";
}

.aru-wifi:before {
    content: ":";
}

.aru-staff-m-sm:before {
    content: "<";
}

.aru-staff-sm:before {
    content: ";";
}

.aru-staff-tech-sm:before {
    content: "=";
}

.aru-tablet:before {
    content: ">";
}

.aru-ticket:before {
    content: "?";
}

.aru-top-list:before {
    content: "@";
}

.aru-validazione-trasf:before {
    content: "^";
}

.aru-pencil:before {
    content: "";
}

.c-hosting, .c-hosting.current a:before, .c-hosting a:hover:before {
    color: #e06a2b;
}

.c-pec.current a:before {
    color: #bb2019;
}

.c-server, .c-server.current a:before, .c-server a:hover:before {
    color: #00be00;
}

.c-cloud, .c-cloud.current a:before, .c-cloud a:hover:before {
    color: #0093da;
}

.c-pratiche, .c-pratiche.current a:before, .c-pratiche a:hover:before {
    color: #666;
}

.c-rivenditori, .c-rivenditori.current a:before, .c-rivenditori a:hover:before {
    color: #265f97;
}
