.RadPanelBar_Tema1
{
	background: #fff;
}

.RadPanelBar_Tema1 .rpRootGroup
{
	border-color: #ccc;
}

.RadPanelBar_Tema1 a.rpLink,
.RadPanelBar_Tema1 div.rpHeaderTemplate,
.RadPanelBar_Tema1 .rpTemplate
{
	color: #000;
	font: normal 13px/24px Verdana, Arial, sans-serif;
}

.RadPanelBar_Tema1 div.rpHeaderTemplate,
.RadPanelBar_Tema1 a.rpLink
{
	background-color: #fdfdfd;
	/*background-image: url('PanelBar/RootItemBg.png');*/
	border-color: #ebebeb;
}

.RadPanelBar_Tema1 .rpOut
{
	border-color: #ebebeb;
}

.RadPanelBar_Tema1 a.rpFocused,
.RadPanelBar_Tema1 a.rpExpanded,
.RadPanelBar_Tema1 a.rpSelected,
.RadPanelBar_Tema1 div.rpFocused,
.RadPanelBar_Tema1 div.rpExpanded,
.RadPanelBar_Tema1 div.rpSelected,
.RadPanelBar_Tema1 a.rpSelected:hover
{
	background-color: #fdfdfd;
	/*border-color: #ccc;*/
}

/* <disabled items> */
.RadPanelBar_Tema1 a.rpDisabled,
.RadPanelBar_Tema1 div.rpDisabled,
.RadPanelBar_Tema1 a.rpDisabled:hover
{
	color: #bbb;
}
/* </disabled items> */

/* <subitems> */
.RadPanelBar_Tema1 .rpGroup
{
	background-color: #fff;
}

.RadPanelBar_Tema1 .rpGroup a.rpLink,
.RadPanelBar_Tema1 .rpGroup div.rpHeaderTemplate,
.RadPanelBar_Tema1 .rpGroup .rpTemplate
{
	color: #000;
	background-image: none;
	background-color: transparent;
}

.RadPanelBar_Tema1 .rpGroup a.rpLink:hover
{
	color: #000;
	background-color: #F2F0F0;
}

.RadPanelBar_Tema1 .rpGroup a.rpLink,
.RadPanelBar_Tema1 .rpGroup a.rpLink .rpOut
{		
	background-color: transparent;
	/*background-image: url('PanelBar/SubItemStates.png');*/
}

.RadPanelBar_Tema1 .rpGroup a.rpSelected,
.RadPanelBar_Tema1 .rpGroup a.rpSelected:hover
{
	color: #fff;
}

/* <subitems (disabled)> */
.RadPanelBar_Tema1 ul.rpGroup .rpDisabled,
.RadPanelBar_Tema1 .rpGroup a.rpDisabled:hover,
.RadPanelBar_Tema1 .rpGroup a.rpDisabled .rpOut
{
	background-image: none;
}

.RadPanelBar_Tema1 ul.rpGroup .rpDisabled,
.RadPanelBar_Tema1 .rpGroup a.rpDisabled:hover
{
	color: #bbb;
	background-color: #fff;
}
/* <subitems (disabled)> */

/* </subitems> */


/* <background positioning> */
.RadPanelBar_Tema1 a.rpLink,
.RadPanelBar_Tema1 div.rpHeaderTemplate,
.RadPanelBar_Tema1 a.rpExpanded,
.RadPanelBar_Tema1 div.rpExpanded,
.RadPanelBar_Tema1 .rpItem a.rpLinkExpandHovered
{
	background-position: 0 0;
}

.RadPanelBar_Tema1 a.rpFocused,
.RadPanelBar_Tema1 div.rpFocused,
.RadPanelBar_Tema1 a.rpLink:hover,
.RadPanelBar_Tema1 a.rpExpanded:hover
{
	background-position: 0 -200px;
}

.RadPanelBar_Tema1 a.rpSelected,
.RadPanelBar_Tema1 div.rpSelected,
.RadPanelBar_Tema1 a.rpSelected:hover
{
	background-position: 0 -400px;
}

.RadPanelBar_Tema1 .rpFirst a.rpLink,
.RadPanelBar_Tema1 .rpFirst div.rpHeaderTemplate,
.RadPanelBar_Tema1 li.rpFirst .rpExpanded
{
	background-position: 0 -1px;
}

.RadPanelBar_Tema1 li.rpFirst .rpFocused,
.RadPanelBar_Tema1 .rpFirst a.rpLink:hover
{
	background-position: 0 -201px;
}

.RadPanelBar_Tema1 li.rpFirst .rpSelected,
.RadPanelBar_Tema1 .rpFirst a.rpSelected:hover
{
	background-position: 0 -401px;
}

/* <root items (disabled)> */
.RadPanelBar_Tema1 a.rpDisabled:hover
{
	cursor: default;
}

.RadPanelBar_Tema1 a.rpDisabled,
.RadPanelBar_Tema1 div.rpDisabled,
.RadPanelBar_Tema1 a.rpDisabled:hover,
.RadPanelBar_Tema1 a.rpDisabled:hover .rpOut
{
	background-position: 0 0;
}
/* </root items (disabled)> */

/*      <expand arrows> */
.RadPanelBar_Tema1 .rpExpandable span.rpExpandHandle,
.RadPanelBar_Tema1 .rpExpanded span.rpExpandHandle
{
	background-color: transparent;
	background-image: url('PanelBar/Expandable.png');
	background-repeat: no-repeat;
}

.RadPanelBar_Tema1_rtl .rpGroup .rpText
{
	padding: 0 10px;
}

.RadPanelBar_Tema1 .rpExpandable span.rpExpandHandle,
.RadPanelBar_Tema1 a.rpExpandable:hover .rpNavigation .rpExpandHandle { background-position: 0 -340px; }
.RadPanelBar_Tema1 a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_Tema1 a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -5px; }
.RadPanelBar_Tema1 .rpExpanded span.rpExpandHandle,
.RadPanelBar_Tema1 a.rpExpanded:hover .rpNavigation .rpExpandHandle { background-position: 0 -480px; }
.RadPanelBar_Tema1 a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_Tema1 a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -181px; }

.RadPanelBar_Tema1 div.rpExpandable .rpExpandHandleHovered { background-position: 0 -5px; }
.RadPanelBar_Tema1 div.rpExpanded .rpExpandHandleHovered { background-position: 0 -181px; }

/*      </expand arrows> */

.RadPanelBar_Tema1 .rpGroup a.rpLink,
.RadPanelBar_Tema1 .rpGroup div.rpHeaderTemplate,
.RadPanelBar_Tema1 .rpGroup a.rpLink .rpOut { background-position: 0 200px; }

.RadPanelBar_Tema1 .rpGroup a.rpLink:hover,
.RadPanelBar_Tema1 ul.rpGroup .rpFocused { background-position: 100% -22px; }
.RadPanelBar_Tema1 .rpGroup a.rpLink:hover .rpOut,
.RadPanelBar_Tema1 .rpGroup a.rpFocused .rpOut { background-position: 0 0; }

/*      <subitems (selected)> */
.RadPanelBar_Tema1 ul.rpGroup .rpSelected,
.RadPanelBar_Tema1 .rpGroup a.rpSelected:hover { background-position: 100% -222px; background-color: #f2f0f0 !important}
.RadPanelBar_Tema1 .rpGroup a.rpSelected .rpOut,
.RadPanelBar_Tema1 .rpGroup a.rpSelected:hover .rpOut { background-position: 0 -200px; }
/*      </subitems (selected)> */

/*      <subitems (expand arrows)> */
.RadPanelBar_Tema1 ul.rpGroup .rpExpandable .rpExpandHandle,
.RadPanelBar_Tema1 .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandle { background-position: 0 -343px; }
.RadPanelBar_Tema1 .rpGroup a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_Tema1 .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -343px; }
.RadPanelBar_Tema1 ul.rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar_Tema1 .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandle { background-position: 0 -482px; }
.RadPanelBar_Tema1 .rpGroup a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_Tema1 .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -482px; }

.RadPanelBar_Tema1 .rpGroup div.rpExpandable .rpExpandHandleHovered { background-position: 0 -343px; }
.RadPanelBar_Tema1 .rpGroup div.rpExpanded .rpExpandHandleHovered { background-position: 0 -482px; }
/* </background positioning> */


 div.RadPanelBar_Tema1 .rpRootGroup .rpLink {

	color: rgb(0, 0, 0);

	background-repeat: repeat;

	/*background-image: url('PanelBar/sfondoMenuSinistra.jpg');*/
	background-color: transparent
	
}

 div.RadPanelBar_Tema1 .orange 
{
    background-image: url('PanelBar/bg_header_login_area_partner.png') !important;
    background-repeat: no-repeat;
}

 div.RadPanelBar_Tema1 .rpItem .rpGroup .rpLink {

	color: rgb(0, 0, 0);

	background-image: none;

}

 div.RadPanelBar_Tema1 .rpRootGroup .rpLink {

	/*font-weight: bold;*/

}

 div.RadPanelBar_Tema1 .rpItem .rpGroup .rpLink {

	font-weight: normal;

}