﻿.black-row-container
{
    background-color: #222;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    position: relative;
    overflow:hidden;
    width:100%;
    display:flex;
}
.header-ext-cnt{
    width: 100%;
    height: 90px;
    margin: auto;
    font-family:Lato;
    /*overflow: hidden;*/
    box-shadow: 0 1px 5px 0 #C2C2C2;
    background-color: #F2F2F1;
    /*border-top:1px solid black;*/
    /*background-image: url(../images/header_bk.png);
    background-repeat:repeat-x;*/
}

.w50{ width: 50%; }
.w25{ width: 24%; }
.w15{ width: 15%; }
.w35{ width: 35%; }

.fLeft {float:left;}
.fRigth {float:right;}

.f-18 {
	font-size: 18px;
}

.col-assist, .col-presale{
    margin: 20px 0;
    min-height: 65px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

.col-presale a{
    text-decoration: none;
}

.col-assist{
     border-left: 1px solid #58b251;
}

.col-presale {
	border-left: 1px solid #d9d9d8;
}

.col-assist a {
	text-decoration: none;
}

.col-assist.no-b, .col-presale.no-b {
	border: none;
}

.top-presale-bar {
	background: #f2f2f1;
	background: -moz-linear-gradient(top,#ddd 0%,#f2f2f1 24%,#f2f2f1 100%);
	background: -webkit-linear-gradient(top,#ddd 0%,#f2f2f1 24%,#f2f2f1 100%);
	background: linear-gradient(to bottom,#ddd 0%,#f2f2f1 24%,#f2f2f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd',endColorstr='#f2f2f1',GradientType=0);
	color: #666;
}
    
.top-assistance-bar {    
	background: #070;
	background: -moz-linear-gradient(top,#070 0%,#009300 25%,#009300 100%);
	background: -webkit-linear-gradient(top,#070 0%,#009300 25%,#009300 100%);
	background: linear-gradient(to bottom,#070 0%,#009300 25%,#009300 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007000',endColorstr='#009300',GradientType=0);
	color: #fff;    
}

top-assistance-bar a, a:hover {
	color: inherit;
}

.top-bar-title {
    display: block;
    font-weight: 900;
    letter-spacing: -2px;
}

.top-bar-comm {
    line-height: 0.8;
    font-size: 60px;
}

.top-bar-ass {
    line-height: 1.2;
    font-size: 83px;
}

.ll-green {
	color: #42a642;
}

.l-grey {
	color: #e7e7e6;
}

.black {
	color: #000;
}

.btn-top-bar {
	padding: 2px 0;
	width: 100%;
	font-size: 18px;
}

.top-toggle-bar{
    font: 400 14px/1.42857 'Lato',sans-serif;
    height: 105px;
    border-bottom: 1px solid #333;
    display:none;
}

.top-toggle-bar p {
	font-style: italic;
	line-height: 1;
    margin: 0 0 10px;
    font-size: 14px;
}

.btn {
	display: inline-block;
    width: 180px;
	margin-bottom: 0;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;    
}

.btn:hover, .btn:focus {
	color: #333;
	text-decoration: none;
}

.b-white {
	border-color: #fff;
}

.b-black {
	border-color: #000;
}

.bg-white {
	background-color: #fff;
}

.btn.bg-white:hover {
	background-color: #f2f2f1;
}

.bg-black {
	background-color: #000;
}

.btn.bg-black:hover {
    background-color: #333;
}

.btn.b-white:hover, .btn.b-black:hover {
	background-color: rgba(0,0,0,.1);
}

.white, .white:hover, .white:focus {
	color: #fff;
}

.gray{
    color: #666;
}

.green, .green:hover, .green:focus, .ico-green:before {
    color: #109106;
}

.rowCnt{
    display:flex;
	width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header-container
{
    display:flex;
    height: 100%;
    background-color: #F2F2F1;
    margin: auto;
    width: 1260px;
}

.wavebg{
    background-image: url(../images/bg-logo.png); 
    height:38px; 
    width:52px;
    font-size: 0;
}


.logoAruba{
    position:absolute;
    top:10px;
    width: 139px;
    height: 60px;
    z-index: 100;
    padding-left: 55px
}

.logoArubaDx{
    float:right;
    background-image:url(../images/logo_arubapec_dx.png);
    height: 37px;
    width: 170px;
}

#topMenuCnt{
    float:left;
    padding-top: 8px;
}

.aru-cnt {
    display: inline-block;
}
.img-ico{
    vertical-align:middle;
    margin-right: 5px;
}
.text-ico{
    display:inline-block;
    vertical-align:middle;
}

.aru-rivenditori {}

/*.pec-sign{ 
    background-image:url(../images/arrow_up.png);
    position: absolute;
    left: 180px;
    top: 26px;
    width:18px;
    height: 9px;
    z-index:99;
}*/

.left-list {
    float: left;
    margin: 0;
    padding: 0;
}

    .left-list li {
        float: left;
        list-style: none;
    }

/*.link-cont{
    width: 640px;
}*/

/*.c-link{
    color: #9A9A9A;
    padding-top:7px;
    font-size:10px;
    font-weight:bold;
    margin-right:37px;
}*/

/*.c-pec {
    color: white !important;
}*/

/*#ARUBA/Top Bar/-Aruba Sites#*/
#aruba-sites {
    float: left;
    padding: 0;
    margin-left: 210px;
}

    #aruba-sites .site-list li {
        border-right: 1px solid #272727;
    }

    #aruba-sites .site-list li:first-child a {
            padding-left: 45px;
            background: #333 url('../images/bg-logo.png') left top no-repeat;
        }

    /*
    #aruba-sites .site-list .icon:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        float: left;
        margin: 10px 1px 0 3px;
        font-size: 19px;
        vertical-align: inherit;
    }*/

    /*[class^="aru-"]::before, [class*=" aru-"]::before {    
    margin-right: 3px;
    font-size: 19px;
    vertical-align: inherit;
    font-family:multipurposeregular;
}*/


    /*.aru-hosting:before {
        background: url('../images/hos_off.png') no-repeat;
    }

    .aru-hosting:hover:before {
        background: url('../images/hos_on.png') no-repeat;
    }*/

    /*.aru-pec { color: white}

    .aru-pec:before {
        background: url('../images/pec_on.png') no-repeat;
    }*/

    /*.aru-server:before {
        background: url('../images/sde_off.png') no-repeat;
    }

    .aru-server:hover:before {
        background: url('../images/sde_on.png') no-repeat;
    }

    .aru-cloud:before {
        background: url('../images/clo_off.png') no-repeat;
    }

    .aru-cloud:hover:before {
        background: url('../images/clo_on.png') no-repeat;
    }

    .aru-pratiche:before {
        background: url('../images/pra_off.png') no-repeat;
    }

    .aru-pratiche:hover:before {
        background: url('../images/pra_on.png') no-repeat;
    }

    .aru-rivenditori:before {
        background: url('../images/riv_off.png') no-repeat;
    }

    .aru-rivenditori:hover:before {
        background: url('../images/riv_on.png') no-repeat;
    }*/

    #aruba-sites .site-list a {
        display: inline-block;
        padding: 0 10px;
        background-color: #333;
        color: #aaa;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 35px;
        text-decoration: none;
    }

        #aruba-sites .site-list a:hover strong, #aruba-sites .site-list .current strong {
            color: #fff;
        }

        #aruba-sites .site-list li:first-child a:hover, #aruba-sites .site-list .current a, #aruba-sites .site-list a:hover {
            background-color: #1d1d1d;
        }

    #aruba-sites .site-list .current:after { /*triangolino*/
        position: relative;
        bottom: 0;
        left: 50%;
        display: block;
       	width: 0;
	    height: 0;
	    margin-left: -6px;
	    border-top: 0 dotted;
	    border-right: 6px solid transparent;
	    border-bottom: 7px solid #f2f2f1;
	    border-left: 6px solid transparent;
	    content: "";
        top: -7px;
    }


/*#aruba-sites .site-list .current::before {
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	width: 0;
	height: 0;
	margin-left: -6px;
	border-top: 0 dotted;
	border-right: 6px solid transparent;
	border-bottom: 7px solid #f2f2f1;
	border-left: 6px solid transparent;
	content: "";
}*/

.icon {
    vertical-align: middle;
    line-height: 1;
}

#top-bar {
    height: 35px;
    width: 100%;
    float: left;
    position: relative;
    background: #333;
    background: -webkit-linear-gradient(left,#f2f2f1 50%,#333 50%);
    background: -o-linear-gradient(right,#f2f2f1 50%,#333 50%);
    background: -moz-linear-gradient(right,#f2f2f1 50%,#333 50%);    
    background: -ms-linear-gradient(to right,#f2f2f1 50%,#333 50%);/*For IE10*/
    background: linear-gradient(to right,#f2f2f1 50%,#333 50%);
    
}

#top-bar-int {
    width: 1230px;
    height: 100%;
    margin: auto;
}

#menu-bar {
    height: 55px;
    width: 100%;
    float: left;
}

#menu-bar-int {
    width: 1150px;
    height: 100%;
    margin: auto;
}

#DivMenuTop {
    padding-left: 192px;
    padding-top: 8px;
}

#top-links .btn-customer-area, #the-nav a.btn-customer-area, #the-nav a.btn-renewals {
    margin: 2px 0 0 40px;
    padding: 3px 8px 0;
    text-align: center;
}

#top-links .btn-customer-area, #the-nav a.btn-customer-area {
    background: #f86313;
}

#the-nav a.btn-renewals {
    background: #035791;
}

#top-links .btn-customer-area {
    margin: 2px 0 0 0;
}



/*.img-background-bar {
    height: 20px;
    margin-top: 7px;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 18px !important;
}
.img-background-bar:hover {
    color: #fff;
}
#img-hos {
    background-image: url('../images/hos_off.png');
    padding-left: 23px;
}
#img-hos:hover {
    background-image: url('../images/hos_on.png');
}
#img-sde {
    background-image: url('../images/sde_off.png');
    padding-left: 28px;
}
#img-sde:hover {
    background-image: url('../images/sde_on.png');
}
#img-clo {
    background-image: url('../images/clo_off.png');
    padding-left: 27px;
}
#img-clo:hover {
    background-image: url('../images/clo_on.png');
}
#img-pra {
    background-image: url('../images/pra_off.png');
    padding-left: 18px;
}
#img-pra:hover {
    background-image: url('../images/pra_on.png');
}
#img-riv {
    background-image: url('../images/riv_off.png');
    padding-left: 19px;
}
#img-riv:hover {
    background-image: url('../images/riv_on.png');
}*/

.ico-round-shared {
    display: block;
    width: 22px;
    height: 22px;
    font-family: multipurpose !important;
    font-size: 11px;
    text-align: center;
    float: left;
    top: 0;
    margin-left: 7px;
    line-height: 22px;
}

.ico-round {
    margin-top: 7px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.ico-round-active {
    margin-top: 0;
    padding-top: 7px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
}

.border-ico-round-active {
    width:22px;
    height:1px;
    position: absolute;
    top: -1px;
    z-index:100;
    padding: 0;
    margin-left: 7px;
    display: none;
}

.border-green {
    background-color:#109106;
}

.border-grey {
    background-color: #F2F2F1;
}

/*.ico-round:before {
    line-height: 22px !important;
}*/


/*#aruba-sites .site-list li:first-child a:hover,
#aruba-sites .site-list .current a,
#aruba-sites .site-list a:hover {
  background-color: #1d1d1d;
}
#aruba-sites .site-list .current:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  margin-left: -7px;
  border-top: 0 dotted;
  border-right: 6px solid transparent;
  border-bottom: 7px solid #f2f2f1;
  border-left: 6px solid transparent;
  content: "";
}

#aruba-sites .c-hosting,
.c-hosting.current a:before,
.c-hosting a:hover:before {
  color: #e06a2b;
}*/
/* FINE -- #ARUBA/Top Bar/-Aruba Sites#*/

#navcontainer
{
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    margin-right: 45px;
}

#navcontainer ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}

#navcontainer ul li
{
    /*display: inline;*/
    float: left;
    line-height: 33px;
    background: url(/images/separator.png) left center no-repeat;
}

#navcontainer ul li a
{
    text-decoration: none;
    padding: 0 10px;
    color: #fff;
    background-color: transparent;
}

#navcontainer ul li a:hover
{
    color: #fff;
    text-decoration: underline;
    background-color: transparent;
}

/*#RowAssistenza > div > a
{
    color: #ffffff;
    text-decoration: underline;
}
.row-assistenza-separator
{
    margin-top:9px;
}*/

.row-assistenza-lightblack-li
{
    background-color: #333;
    padding: 8px 0;
}

.box-assistenza-home
{
    display: inline-block;
    width: 300px;
    padding-left: 30px;
    text-align: left;
}

.assistenza-description
{
    padding-left: 9px;
    position: absolute;
    top: 17px;
}

.row-assistenza-ico
{
    position: relative;
    top: 2px;
    padding-right: 4px;
    background-repeat: no-repeat;
}
.row-assistenza-images
{
    position: relative;
    top: 7px;
    background-repeat: no-repeat;
}
