.buttonP
{
    color: White;
    font-size: small;
    font-weight: bold;
    background-color: Red;
    width: 120px;
}

.buttonP2
{
    width: 120px;
    background-image: url("img/but_prosegui.png");
    height: 22px;
    width: 136px;
    border: none !important;
}
.CollegaKey
{
    margin-bottom: -6px;
}

.CollegaKeyText
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    position: relative;
    margin-bottom: -30px;
    color: White;
    text-align: left;
    left:5px;
}

.TitleAttivazione
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: Gray;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.TblMain
{
    border: 1px solid #151E84;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.TblLoginCasellaPEC
{
    margin: auto;
}

.TblLoginCasellaPEC td
{
    font-size: 13px;
    text-align: left;
}


.TblRowHeader
{
    height: 25px;
    line-height: 25px; /*background-color: #151E84;*/
    background-image: url('../../images/bg_tab_activeblue.png');
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

.TblRowHeader1
{
    height: 25px;
    line-height: 25px;
    background-image: url('../../images/bg_tab_activeblue.png');
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}


.TblRowInfo
{
    height: 45px;
    line-height: 45px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

.TblRowContent
{
    background-color: #F1F1F1;
}

.TblSeparatore
{
    height: 1px;
    line-height: 1px;
    background-color: #151E84;
    padding: 0px;
    margin: 0px;
}

.TblLoginCasellaPEC input[type='submit']
{
    border: 1px solid #000000;
    cursor: pointer;
}


.TblLoginCasellaPEC input[type='text'], .TblLoginCasellaPEC input[type='password']
{
    border: 1px solid #000;
    width: 140px;
}

.RequiredField
{
    display: block;
    text-align: center;
}

.MessaggioErrore
{
    color: #FFF;
    background-color: #990000;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    display: block;
    height: 20px;
    line-height: 20px;
}

.MessaggioErroreAlto
{
    color: #FFF;
    background-color: #990000;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    display: block;
    height: 30px;
}


/*********************/
/* SERVIZI ACCESSORI */
.TblServiziAccessoriCasellaPEC
{
    margin: auto;
}

.TblServiziAccessoriCasellaPEC tr
{
    height: 28px;
}

.TblServiziAccessoriCasellaPEC td
{
    font-size: 13px;
    text-align: left;
    padding: 2px;
    vertical-align: middle;
}

.select
{
    position: absolute;
    width: 120px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
    height: 21px;
    padding: 0 24px 0 8px;
    color: #fff;
    font: 12px/21px arial,sans-serif;
    background: url(/KitFirmaDigitale/img/select.png) no-repeat;
    overflow: hidden;
}


.TblServiziAccessoriCasellaPEC input[type='submit']
{
    border: 1px solid #000000;
    cursor: pointer;
}


.CostoServizio
{
    font-size: 10px;
    color: #686868;
    font-weight: bold;
}

.CostoTotale
{
    font-size: 11px;
    color: #333333;
    font-weight: bold;
}

/*********************/
/* Login/iscrizione nuova anagrafica */
.TblContenitoreLogin
{
    margin: auto;
}

.TblContenitoreLogin td
{
    font-size: 13px;
}


.TblLogin
{
    border: 1px solid #151E84;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.TblNoteLogin
{
    width: 75%;
    border: 1px solid #151E84;
    background-color: #F1F1F1;
    margin-left: auto;
    margin-right: auto;
}

.TblNoteLogin td
{
    font-size: 11px;
}

.TblInfoLogin
{
    height: 60px;
    color: #000;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

.TblInfoLogin span
{
    /*    font-size:11px;    font-weight: bold;    */
}

/*********************/
/* Accettazione Contratti */
.TblRowInfoContratti
{
    height: 100px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

.InfoContrattiRosso
{
    color: #CC0000;
}

.TblContrattiServiziAggiuntivi
{
    margin: auto;
    width: 500px;
}

.TblContrattiServiziAggiuntivi td
{
    font-size: 13px;
}

.TblContrattiServiziAggiuntivi input[type='submit']
{
    border: 1px solid #000000;
    cursor: pointer;
}

.TblContrattiServiziAggiuntivi textarea
{
    border: 1px solid #000000;
    overflow: auto;
}

.TitoloContratti
{
    font-size: 16px;
    font-weight: bold;
    background-color: #333;
    color: #FFF;
    display: block;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
}

/*********************/
/* Riepilogo e ConfermaOrdine */
.TblRiepilogoOrdine
{
    margin: auto;
}

.TblRiepilogoOrdine td
{
    font-size: 13px;
    text-align: left;
}

.TblRiepilogoOrdine input[type='submit']
{
    border: 1px solid #000000;
    cursor: pointer;
}

.TitoloRiepilogoOrdine
{
    font-size: 14px;
    font-weight: bold;
}

.TblRiepilogoCosti
{
}

.TblRiepilogoCostiTdCosto
{
    font-weight: bold;
    font-size: 15px;
    color: #333;
}

.TblRiepilogoCostiTdValoreCosto
{
    font-weight: bold;
    font-size: 15px;
    color: #333;
}

.TblElencoOrdini
{
    background-color: #F1F1F1;
    border: 1px solid #000;
    margin: auto;
}

.TblElencoOrdini td
{
    padding: 4px;
}

.KitInAcquisto
{
    color: #CC0000;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

/******** Dati Richiedente **************/
.TblDatiRichiedente
{
    margin: auto;
}

.TblDatiRichiedente td
{
    font-size: 12px; /*text-align:left;*/
}
.TblDatiRichiedente input[type='submit']
{
    border: 1px solid #000000;
    cursor: pointer;
}


.TblDatiRichiedente input[type='text'], .TblDatiRichiedente input[type='password']
{
    border: 1px solid #000;
    width: 140px;
}

.TblFieldDatiRichiedente td
{
    vertical-align: top;
}
a.LinkRecuperaDatiAccesso:link, a.LinkRecuperaDatiAccesso:active, a.LinkRecuperaDatiAccesso:visited
{
    color: #b1181f;
}
a.LinkRecuperaDatiAccesso:hover
{
    text-decoration: none;
}
.TestoDocumentoCarica td
{
    font-size: 9px;
    vertical-align: middle;
}


/*Objectway - RIFIRM - Activation Page */
.container
{
    width: 100%;
    float: left;
}

.kActivation, .kRenew
{
    float: left;
    margin: 0;
    padding: 0;
    width: 350px;
    height: 486px;
    background-color: #ccc;
    font-size: 12px;
}

.kActivation
{
    margin-right: 50px;
}

.kActivation div
{
    margin: 10px 10px 10px 10px;
}

.kRenew div
{
    margin: 10px 10px 10px 10px;
}

/*User Control - Pin Request*/

.ucPRTabbleTD
{
    border: 1px solid #b5b5b5;
    width: 260px;
    height: 137px;
}


.ucPRInternalDiv
{
    text-align: left;
    padding: 25px 40px 25px 40px;
    font-size: x-small;
}

.ucPRTextBox
{
    font-size: 13px;
    width: 150px;
}

/*Waiting Overlay - Renew Certificate*/

.loadingTable
{
    width: 300px;
    border: solid 5px #aaa;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.loadingTableHeader
{
    background-color: #e3e3e3;
    height: 30px;
}

.loadingTableWhiteBackground
{
    background-color: #fff;
}

.loadingTableHeader td
{
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
}

.loadingTableHeader span
{
    margin: 15px 15px 15px 15px;
    font-size: 13px;
    font-family: Calibri;
    color: #515151;
}

.loadingTable img
{
    padding-top: 15px;
    padding-bottom: 10px;
    width: 60px;
    height: 60px;
}



/* User Control - ucRinnovoCertificatoCheck */

.ucRCCTable
{
    width: 670px;
    border-left: solid blue 1px;
    border-right: solid blue 1px;
    border-bottom: solid blue 1px;
}

.ucRCStandardFont
{
    font-size: 12px;
}

.ucRCStandardFontPadding
{
    font-size: 12px;
    padding-right: 15px;
}

.ucRCStandardTextBox
{
    font-size: 12px;
    width: 180px;
}

.ucRCErrorFont
{
    font-size: 12px;
    color: #FF0000;
}

.title_prq
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #787878;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight:bold;
    clear: both;
}

.container_prq
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    padding-left: 15px;
    margin-top: 40px;
    margin-bottom: 15px;
}


.title_codrin
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #787878;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight:bold;
}

.container_codrin {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.bar_title_codrinnovifd {
    background-image: url("../../images/bg_tab_activeblue.png");
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
}

.container_codrinnovifd {
    border:solid 1px #0032B5;
    width:400px;
    margin-left: 15px;
    background-color:#E8E8E8;
    margin-top:30px;
}

.container_codrinnovifd span {
    font-size:14px;
    font-weight:bold;
}

.txtBox {
    width:200px;
}

.sub_bar_title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
}

/*Rinnovo.aspx  nuova scelta kit per rinnovo*/
.container-rinnovo {
    padding: 0px 25px;
}
.firma-rinnovo-block{
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 10px;
    height: 230px;
    width:850px;
}

.title-block-rinnovo {
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    width: 100%;  
}
.description-rinnovo-block {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 20px;
    width: 535px;
    float: left
}

.firma-rinnovo-image-block {
    height: 92px;
    width: 85px;
    float: left;
    margin-left: 10px;
    background-repeat: no-repeat;   
}

.firma-rinnovo-button {
   margin: 30px 
}

.RadWindow_Default a.rwIcon 
{ 
    background: url('img/icona_head.png') !important; 
    display:block !important; 
}

.butAttiva {
    background-image: url("../../images/bg_tab_activeblue.png");
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    vertical-align: middle;
    border-style:none;
    width:90px;
}

.txtCodConv {
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    border:solid 1px #000;
}
.required {
     font-size: 11px !important;
}

.img_but_prosegui
{
    background: url('img/but_prosegui.png') repeat scroll 0 0 transparent;
    background-position: 0 0;
    border: none;
    width: 136px;
    height: 22px;
}

/*RINNOVI FIRMA REMOTA FIRMA MODULO RICHIESTA*/
        .otp-header
        {
            text-align: left;
        }

        .otp-header h3
        {
            color:#787878;
        }
        .otp-uc-table
        {
            width: 100%;
            height: 100%;
            border-left: solid blue 1px;
            border-right: solid blue 1px;
            border-bottom: solid blue 1px;
        }
        .otp-container
        {
            background-color: #e8e8e8;
            width: 1000px;
            font-size: 16px;
        }
        .otp-desc-uc-container-left
        {
            position: relative;
            width: 78%;
            float: left;
        }
        .otp-desc-uc-container-right
        {
            position: relative;
            float: left;
        }
        .otp-desc-style
        {
            padding: 25px;
            clear: both;
        }
        .float-left
        {
            float: left;
        }
        .otp-image
        {
            left: 175px;
            position: absolute;
            top: 235px;
            background-image: url(../img/otp.png);
            width: 92px;
            height: 38px;
        }
        .otp-button-container
        {
            clear: both;
            text-align: center;
            padding-bottom: 15px;
            margin-right: 45px;
        }
        .otp-button
        {
            margin-top: 30px;
        }
        .otp-button-prosegui
        {
            margin-top: 30px;
            background: url('img/but_prosegui.png') repeat scroll 0 0 transparent;
            background-position: 0 0;
            border: none;
            width: 136px;
            height: 22px;
        }
        .otp-link-btn-conv {
            font-size: 11px;
            display: block;
            text-align: right;
            padding: 4px;
        }
        
        .attenzione {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 10px;
            font-style:oblique;
            margin-top:100px;
            margin-left:10px;
        }

        .color_font {
            color:#787878;
        }
/*END RINNOVI FIRMA REMOTA*/