﻿.Opacity
{ 
    /*filter:alpha(opacity=50);*/
    /*-moz-opacity:.50;*/
    /*opacity:.50;*/
    /*background-color: Gray;*/
    background: rgb(64, 64, 64); /* For older IE */
    background: rgba(54, 54, 54, 0.5); /* R, G, B, A */
    background: none\9; /* For newest IE */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f404040, endColorstr=#7f404040); /* AA, RR, GG, BB */
    z-index: 999;
}

.NoOpacity
{ 
    filter:alpha(opacity=100);
    -moz-opacity:1;
    opacity:1;
    z-index: -999;
}

.PanelConvenzione
{
    height: 100% !important;    
}

#mainContent
{
    float:left;
    position: relative;
    margin-top: 3px;
}

#column-container
{
    margin-top: 0px;
    min-height: 350px;
}

#divArubaPec
{
    background-image: url(/images/bg_boxpec_hp.png);
    background-repeat: no-repeat;
    float:left;
    position: relative;
}

#divFirmaDigitale
{
    background-image:url(/images/bg_boxfirma_hp.png);
    background-repeat: no-repeat;
    float:left;
    position: relative;
}

#divMarcheTemporali
{
    background-image:url(/images/bg_boxmarche_hp.png);
    background-repeat: no-repeat;
    float:left;
    position: relative;
}

#divFatturazionePA
{
    /*background-image:url(/images/bg_boxfattpa_hp.png);*/
    background-image:url(/images/fatturazione.png);
    background-repeat: no-repeat;
    float:left;
    position: relative;
}

.divMarcheTemporaliPlaceholder
{
    background-image:url(/images/box_pec_dom.png); 
    /*pec_dominio_HP.png);*/
    background-repeat: no-repeat;
    width: 255px;
    min-height: 450px;
    float:left;
    margin-left: 10px;
    position: relative;
}

.prezziHomeTestoPec
{
    font: 10px Verdana,sans-serif;
    color: #b90300; 

}

.prezziHomeTestoPecStrike
{
    font: 10px Verdana,sans-serif;
    color: #b90300; 
    font-weight:bold;
    text-decoration: line-through;
}

.promoLogo {
    background-image: url("/images/promoPremiumMailboxRequest.png");
    background-repeat: no-repeat;
    width: 59px;
    height: 59px;
    position: absolute;
    top: 9px;
    left: 527px;
}

.prezziHomeTestoFD
{
    font: 10px Verdana,sans-serif;
    color: #082299; 
}

.prezziHomeTestoFatPA
{
    /*font: 10px Verdana,sans-serif;*/
    font: 10px Verdana,sans-serif;
}

.prezziHomeTestoMT
{
    font: 10px Verdana,sans-serif;
    color: #1d69b5; 
}

.prezziHomeTextWrapper
{
    border: 0px solid #f00;
    width: 150px;
    height: 100px;
    margin: 70px 0 0 20px; 
}

/*.prezziHomeTextWrapperMT
{
    border: 0px solid #f00;
    width: 143px;
    position: relative;
    top: 106px;
    left: 20px;    
}

.prezziHomeTextWrapperFatPA
{
    border: 0px solid green;
    width: 143px;
    position: relative;
    top: 109px;
    left: 15px;    
}*/

.testoHome
{
    font: 12px Verdana,sans-serif;
    color: #333; 
}

.whiteRedButton
{
	background-color : White;
	border : 2px solid;
	border-color:Red;
	color : Black;
	cursor : pointer;
	text-decoration :none;
	height : 26px;
	font-weight : bold;
}

.login-button
{
    margin-bottom: -10px;
    margin-right: 14px;
    margin-top: 10px;
}

.blackTextOnButton
{
    font-size: 12px;
    margin: 0px;
    padding-top: 3px;
    padding-left: 6px;
    color: Black;
    font-weight:bolder;
    text-decoration: none;
}

.whiteTextOnButtonSmall
{
    font-size: 9px;
    margin: 0px;
    padding-top: 3px;
    padding-bottom:2px;
    color: #fff;
    text-decoration: none;
    font-weight:bold;
    vertical-align:top;
}

.whiteTextOnButtonSmallSelezionaKit
{
    font-size: 14px;
    margin: 0px;
    padding-top: 3px;
    padding-left: 0px;
    color: #fff;
    text-decoration: none;
    font-weight:bold;
}

.whiteTextOnButtonBig
{
    font-size: 14px;
    margin: 0px;
    padding-top: 3px;
    padding-left: 6px;
    color: #fff;
    text-decoration: none;
    font-weight:bold;
}

.whiteTextOnButtonBigDetails
{
    font-size: 12px;
    margin: 0px;
    padding-top: 3px;
    color: #fff;
    text-decoration: none;
    font-weight:bold;
}

.priceEuro
{
    font: 32px Verdana,sans-serif;
    color: #b90300;
    font-weight:bold;
    float: left;
}



.priceEuroFD
{
    font: 32px Verdana,sans-serif;
    color: #082299;
    font-weight:bold;
    float: left;
}

.priceEuroMT
{
    font: 32px Verdana,sans-serif;
    color: #1d69b5;
    font-weight:bold;
    float: left;
}

.priceEuroCentMT
{
    font: 16px Verdana,sans-serif;
    color: #1d69b5;
    font-weight:bold;
}

.priceEuroFatPA
{
    font: 32px Verdana,sans-serif;
    float: left;
    font-weight:bold;
}

.priceEuroCentFatPa
{
    font: 16px Verdana,sans-serif;
    font-weight:bold;
}
.text-greenFatPA {
    color:#109106
}

.priceEuroCentFD
{
    font: 16px Verdana,sans-serif;
    color: #082299;
    font-weight:bold;
}

.priceEuroCentPec
{
    font: 16px Verdana,sans-serif;
    color: #b90300;
    font-weight:bold;
}

.priceIVAPec
{
    font: 8px Verdana,sans-serif;
    color: #b90300;
    font-weight: bold;
}

.priceIVAFD
{
    font: 8px Verdana,sans-serif;
    color: #082299;
    font-weight: bold;
}

.spesespedizioneFD
{
    font: 8px Verdana,sans-serif;
    color: #082299;    
    position: relative;    
    padding-top: 0px;
    margin-top: 0px;
}

.priceIVAMT
{
    font: 8px Verdana,sans-serif;
    color: #1d69b5;
    font-weight: bold;
}

.priceIVAFatPA
{
    font: 8px Verdana,sans-serif;

    font-weight: bold;
}

.silverButton
{
    background-image:url(/images/bott_silver.png);
    background-repeat: no-repeat;
    width: 61px;
    height: 22px;
    float:left;
    padding-top: 1px;
    margin-top: 2px;
}

.grayButton
{
    background-image:url(/images/bott_gray.png);
    width: 58px;
    height: 22px;
    float:left;
    margin-left: 16px;
}

.redButton
{
    background-image:url(/images/bott_red.png);
    width: 78px;
    height: 22px;
    float:left;
    margin-left: 16px;
    
}
.button-logout
{
background-image: url(/images/but_logout.png);
width: 111px;
height: 29px;
margin-bottom: 14px;
margin-top: 6px;

}

.blueButton
{
    background-image:url(/images/bott_blue.png);
    width: 78px;
    height: 22px;
    float:left;
    margin-left: 16px;   
}

.lightBlueButton
{
    background-image:url(/images/bott_lightblue.png);
    width: 78px;
    height: 22px;
    float:left;
    margin-left: 16px;
}

.homePageColumnText
{
    border: 0px solid #f00;
    width: 175px;
    margin: 0 0 0 10px;
}

.grayButtonPEC
{
    background-image:url(/images/bott_grayLarger.png);  
    background-repeat: no-repeat;
    height: 22px;  
    width:82px;
    float:left;
    margin-left: 16px;
    padding-top: 3px;
    margin-top: 1px;
}
.redButtonPEC
{
    background-image:url(/images/bott_redLarger.png);  
    background-repeat: no-repeat;
    height: 25px;  
    width:95px;
    float:left;
    margin-left: 16px;
    padding-top: 3px;
    margin-top: 35px;
}

.blueButtonFD
{
    background-image:url('/images/bott_blue_large.png');
    width: 197px;
    height: 19px;
    margin-left: 10px;
}

.blueButtonFDLarge
{
    background-image:url('/images/bott_blue_FD.png');
    width: 197px;
    height: 33px;
    margin-left: 10px; /* Fix RIFIRM: #6455  -  tasti disallineati */
    
}
.invalidField
{
    border:1px solid red;    
}

.PECDomreg
{
    background-image:url(/images/btn1.png);  
    height: 32px;  
    width:212px;
    float:left;
    margin-left: 20px;
}
.PECDomTras
{
    background-image:url(/images/btn2.png);  
    height: 32px;  
    width:212px;
    float:left;
    margin-left: 20px;
}
.PECDomHaiG
{
    background-image:url(/images/btn3.png);  
    height: 32px;  
    width:212px;
    float:left;
    margin-left: 20px;
}



/* SLIDER */
#rotator
{
	cursor: pointer;
	overflow: hidden;
	margin: 5px auto 5px;
	position: relative;
	width: 785px;
	height: 222px;
}

#rotator img
{
	border: 0;
	cursor: pointer;
	width: 785px;
	height: 222px;
	position: relative;
	display: none;
}

/* /SLIDER */

.tabBlueD
{
    color: #fff !important;
	background: #fff url('../../images/tlc_bgactive_blue.png') repeat-x;
    font: bold 12px/21px Verdana,Arial,sans-serif;
	width: 153px;

	height: 24px;

	padding-top: 0px;

	padding-bottom: 0px;
    margin:0px;
	border-bottom-style: solid;

	border-bottom-width: 0px;	

	border-top-style: solid;

	border-left: 1px solid #939393;
	border-top: 1px solid #939393;
	border-right: 1px solid #939393;
}

.tabRedD
{
    color: #fff !important;
	background: #fff url('../../images/tlc_bgactive_red.png') repeat-x;
    width: 153px;
    font: bold 12px/21px Verdana,Arial,sans-serif;
	height: 24px;

	padding-top: 0px;

	padding-bottom: 0px;
    margin:0px;

	border-bottom-style: solid;

	border-bottom-width: 0px;	

	border-top-style: solid;
	
	border-left: 1px solid #939393;
	border-top: 1px solid #939393;
	border-right: 1px solid #939393;
	
}

.tabLightBlueD
{
    color: #fff !important;
	background: #fff url('../../images/tlc_bgactive_lightblue.png') repeat-x;
    width: 153px;
    font: bold 12px/21px Verdana,Arial,sans-serif;
	height: 24px;

	padding-top: 0px;

	padding-bottom: 0px;
    margin:0px;
	border-bottom-style: solid;

	border-bottom-width: 0px;	

	border-top-style: solid;
	
	border-left: 1px solid #939393;
	border-top: 1px solid #939393;
	border-right: 1px solid #939393;
}

.tabGreenD
{
    color: #fff !important;
	background: #fff url('../../images/tlc_bgactive_green.png') repeat-x;
    width: 153px;
    font: bold 12px/21px Verdana,Arial,sans-serif;
	height: 24px;

	padding-top: 0px;

	padding-bottom: 0px;
    margin:0px;
	border-bottom-style: solid;

	border-bottom-width: 0px;	

	border-top-style: solid;
	
	border-left: 1px solid #939393;
	border-top: 1px solid #939393;
	border-right: 1px solid #939393;
}
.tabGreyD
{
    color: #fff;
	background-color: #fff url('../../images/tlc_bgactive_gr.png') repeat-x;
    width: 153px;
    font: bold 12px/21px Verdana,Arial,sans-serif;
	height: 24px;

	padding-top: 0px;

	padding-bottom: 0px;
    margin:0px;
	border-bottom-style: solid;

	border-bottom-width: 0px;

	border-top-style: solid;
	
	border-left: 1px solid #939393;
	border-top: 1px solid #939393;
	border-right: 1px solid #939393;
}

.redButtonOr
{
    background-image:url(/images/bg_button_login_area_partner.png);
    width: 78px;
    height: 22px;
    float:left;
    margin-left: 16px;
    
}

/* BEGIN  OW - 11/12/2012 - Carrello MultiProdotoo */
.divriquadroProdotti {
    background-image: url(/Basket/images/riquadro_prodotti.png);
    background-repeat: no-repeat;
    width: 255px;
    min-height: 272px;
    float:left;
    position: relative;
    
}

.divMarcheTemporaleBox {
    background-repeat: no-repeat;
    background-image: url(/Basket/images/ruquadro_marche.png);
     width: 185px;
    min-height: 272px;
    position: relative;
    
}
.prezziHomeTextWrapperBakset
{
    border: 0px solid #f00;
    position: relative;
    top: 30px;
    left: 15px; 
       
}

.redButtonAddToBasket
{
    background-image:url(/Basket/Images/but_agg_carrello_red.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 143px;
    height: 22px;
    float:left;
    margin-left: 6px;
    margin-left: 10px;
    
}

.blueButtonAddToBasket
{
    background-image:url(/Basket/Images/but_aggiungi_carrello_blu.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 143px;
    height: 22px;
    float:left;
    margin-left: 6px;
    margin-left: 10px;
  }
/*.blueButton_Big
{
    background-image:url(/images/bott_blue_FD.png);
    background-repeat: no-repeat;
    width: 127px;
    height: 22px;
    float:left;
    margin-left: 6px;
}

*/
.textTitleProdotti {
    color: #b90300;
    font-size: 25px;
    font-family: Verdana,sans-serif;
    position: relative;
    float: left;
    top: 10px;
 }
 .textTitleProdottiMT {
    color:Blue;
    font-size: 32px;
    font-family: Verdana,sans-serif;
    font-weight:bolder;
    position: relative;
    top: 10px;
 
}

.whiteTextOnButtonBasket
{
    font-size: 12px;
    margin: 0px;
    /* padding-top: 3px;*/
    padding-left: 6px;
    color: #fff;
    text-decoration: none;
}
/* END OW*/
.silverButtonMT
{
    background-image:url(/Basket/Images/but_dettagli.png);
    background-repeat: no-repeat;
    background-color:transparent;
    width: 61px;
    height: 22px;
    padding-top: 3px;
    margin-top: 2px;
}

/*INIT OW AS CU_PEF - Classi per la corretta visualizzazione dei bottoni Aggiungi al Carrello*/
 .add-to-cart-btn-blue {
       background-image: url("/Basket/Images/but_aggiungi_carrello_blu.png");
       color:white;
       background-repeat: no-repeat;
       text-decoration: none;
       height: 22px;
       width: 143px;
       border: none;
       cursor:pointer
       }

  .add-to-cart-smartcardonly {
       background-image: url("/Basket/Images/AddCartSmartCardOnly.png");
       color:white;
       background-repeat: no-repeat;
       text-decoration: none;
       height: 42px;
       width: 195px;
       border: none;
       cursor:pointer
       }
  .add-to-cart-token {
       background-image: url("/Basket/Images/AddCartTokenCNS.png");
       color:white;
       background-repeat: no-repeat;
       text-decoration: none;
       height: 42px;
       width: 195px;
       border: none;
       cursor:pointer
       }
 .add-to-cart-btn-Info {
      margin-left: 10px;
      margin-top: 10px;
 }      
 .add-to-cart-btn-padder {
      padding-bottom: 2px;
 }
/*END OW AS CU_PEF*/

/*INIT OW AS CU_PEF - Classi per la corretta visualizzazione dei bottoni aggiungi carrello(Posta Certificata)*/
 .add-to-cart-btn-red {
       background-image: url("/Basket/Images/but_agg_carrello_red.png");
       color:white;
       background-repeat: no-repeat;
       text-decoration: none;
       height: 22px;
       width: 143px;
       border: none;
       padding-bottom:2px;
       cursor:pointer;
       }
       .add-to-cart-premium {
       background-image: url("/Basket/Images/buttonAddPremium.png");
       color:white;
       background-repeat: no-repeat;
       text-decoration: none;
       height: 28px;
       width: 143px;
       border: none;
       padding-bottom:2px;
       cursor:pointer;
           }
/*END OW AS CU_PEF*/
/*INIT OW AS CU_PEF 18/12/2012 - Classi per la corretta visualizzazione della pagina DatiPec.aspx*/
#datiPecContainer
{
    text-align:left; 
    width:870px;
    margin-left:200px;
    background-color:#f3f3f3;
}
.datiPecWindowTitleImage
{
    background-image: url('/Basket/Images/gradient_bg_window_title.png'); 
    background-repeat:repeat-x;
    height:30px;
}
.datiPecWindowTitleLeft
{
    text-align:left; 
    margin-left:10px; 
    margin-top:5px; 
    float:left;
    font-size: small;
}
.datiPecWindowTitleRight
{
     text-align:right;
     margin-top:10px;
     font-size:x-small;
     color:Red;
     float:right; 
     margin-right:20px;
}
 
.datiPecWindowTitleRightBlack
{
     text-align:right;
     margin-top:5px;
     font-size:small;
     float:right; 
     margin-right:20px;
     font-size: 12px;
}
.datiPecWindowTitleChoice
{
    text-align:left; 
    font-size:9pt;
}
#repeaterContainer
{
    margin-bottom:50px; 
    margin-left:65px; 
    text-align:left;
}
.headerMenuPEC_container{
    clear:both;
    display:inline-flex;
    width: 100%;
    background-color: #F2F0F0;
    -webkit-box-shadow: 0 1px 5px 0 #C2C2C2;
    -moz-box-shadow:    0 1px 5px 0 #C2C2C2;
    box-shadow:         0 1px 5px 0 #C2C2C2;
}
.headerMenuPEC{
    width: 1260px;
    margin: 0 auto;
}

.footerContainer{
    width:1260px;
    margin: 0 auto;
    height: 64px;
    background-color: #e0e0e0;
}
.footerAruba{
    width:1260px;
    /*height:360px;*/
    margin: 0 auto;
    font-family: "Lato",sans-serif;
}

.footerAruba .ToTheTop {
    width: 95px;
    text-transform: uppercase;
    float: right;
    background-color: #ddd;
    padding: 0 10px;
    cursor: pointer;
}

.footerArubaContainer{    
    border-top: 1px solid #ddd;
    clear: both;
}

.footerSection{
    float:left;
    margin: 0 5px;
    width: 130px;
}

.footerAruba h3{ font-size:12px; }

.footerAruba, .footerAruba a, .footerAruba li {
    font-size: 12px;
    font-weight: 400;
    color: #666;
    text-decoration: none;
}

.footerAruba ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

.footerBorderR{
     border-right: 1px solid #ddd;
}

.footerBorderL{
     border-left: 1px solid #ddd;
     padding-left: 10px;
}

.footerAruba .ToTheTop a {
    text-decoration: none;
    display: block;
    background: url(../../images/arrow-up.png) no-repeat center right;
    line-height: 26px;
}

.footerAruba .social a {
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-indent: -5000px;
	background: url(../../images/social.png) no-repeat;
	display: inline-block;
	-moz-transition: background-position .3s;
	-webkit-transition: background-position .3s;
	-o-transition: background-position .3s;
	-ms-transition: background-position .3s;
	transition: background-position .3s;
}
.footerAruba .social a.facebook {
	background-position: -2px -32px;
}
.footerAruba .social a.twitter {
	background-position: -32px -32px;
}
.footerAruba .social a.linkedin {
	background-position: -62px -32px;
}
.footerAruba .social a.youtube {
	background-position: -92px -32px;
}
.footerAruba .social a.pinterest {
	background-position: -152px -32px;
}
.footerAruba .social a.slideshare {
	background-position: -122px -32px;
}

.footerAruba .social a.facebook:hover {
	background-position: -2px -2px;
}
.footerAruba .social a.twitter:hover {
    background-position: -32px -2px;
}
.footerAruba .social a.linkedin:hover {
	background-position: -62px -2px;
}
.footerAruba .social a.youtube:hover {
	background-position: -92px -2px;
}
.footerAruba .social a.pinterest:hover {
	background-position: -152px -2px;
}
.footerAruba .social a.slideshare:hover {
	background-position: -122px -2px;
}


.footerAruba .social a:hover {
    -moz-transition: background-position .3s;
    -webkit-transition: background-position .3s;
    -o-transition: background-position .3s;
    -ms-transition: background-position .3s;
    transition: background-position .3s;
}


.datiPecCasellaErrorLbl {
   display:none; 
   color:Red; 
   font-size:x-small; 
   font-weight:normal; 
   text-align:center;
   float:right;
    margin-bottom: -5px;
}
.datiPecpasswordErrorRLbl {
   display:none; 
   color:Red; 
   font-size:x-small; 
   font-weight:normal; 
   text-align:center;
   float:left;
}
.datiPecNonDisponibileLbl
{
   display:none; 
   color:Red; 
   font-size:x-small; 
   font-weight:normal; 
   text-align:right;
   float:right;
}
.datiPecDisponibileLbl
{
    display:none; 
    color:Green; 
    font-size:x-small; 
    font-weight:normal; 
    text-align:right;
    float:right;
}
.datiPecNomeUtenteLbl
{
   font-size:small; 
   font-weight:normal; 
   float:left;  
}
.datiPecTipoCasellaLbl
{
    font-size:small; 
    font-weight:normal; 
    float:left; 
}
.datiPecAdressExtensionsLbl
{
    font-size:small; 
    font-weight:normal; 
    text-align:left;
}
.datiPecPasswordLbl
{
    font-size:small; 
    font-weight:normal;
    float: left;
}
.datiPecRipetiPasswordLbl
{
   font-size:small; 
   font-weight:normal; 
    float:left;  
}
.datiPecProseguiBtn
{
    background-position: -0px -0px; 
    margin-top:13px;
    margin-bottom:13px;  
}
.datiPecErrorManager
{
    display: none;
    margin-bottom:-33px;
    padding-top:15px;    
}
/*END OW AS CU_PEF*/

.color-gray-promo {

    color: #999999;
}

.desclaimer {
    font-size: 14px;
    color: #999999;
    margin: 0;
    padding: 0;
}