/* <RadToolBar / Default> */

/* <tool wrapper> */

/* <horizontal> */

.RadToolBar_Tema1 .rtbOuter
{
	/*border: 1px solid #9c9c9c;*/
}

.RadToolBar_Tema1 .rtbMiddle
{
	/*border: 1px solid #efefef;*/
	background-color: #F2F0F0;
	/*padding-left: 226px;*/
    font-weight: bold;   
}

/* </horizontal> */

/* <vertical> */

.RadToolBar_Tema1_Vertical .rtbMiddle
{
	background: #fafafa url('ToolBar/rtbVerticalControlBg.png') repeat-y 100% 0;
}

/* </vertical> */

/* </tool wrapper> */

/* <buttons> */

.RadToolBar_Tema1 .rtbWrap,
.RadToolBar_Tema1 .rtbTemplate
{
	font: 13px Lato;
    font-weight: bold;
	color: #000;
}

/* <button states> */

.RadToolBar_Tema1 .rtbSplBtnFocused .rtbWrap, .RadToolBar_Tema1 .rtbSplBtnFocused .rtbOut, .RadToolBar_Tema1 .rtbSplBtnFocused .rtbMid, .RadToolBar_Tema1 .rtbSplBtnFocused .rtbIn,
.RadToolBar_Tema1 .rtbItemFocused .rtbWrap, .RadToolBar_Tema1 .rtbItemFocused .rtbOut, .RadToolBar_Tema1 .rtbItemFocused .rtbMid, .RadToolBar_Tema1 .rtbItemFocused .rtbIn,
.RadToolBar_Tema1 .rtbItemHovered .rtbWrap, .RadToolBar_Tema1 .rtbItemHovered .rtbOut, .RadToolBar_Tema1 .rtbItemHovered .rtbMid, .RadToolBar_Tema1 .rtbItemHovered .rtbIn
{
	/*background-color:  #D1D1D1;/*#DC1C21;/*transparent;*/
	/*background-repeat: no-repeat;*/
	color:#000;
	
	/*height: 34px !important;
    margin-top: 0px !important;
    margin-bottom: -1px !important;
	/*background-image: url('ToolBar/rtbHoverBg.png');*/
}

.gray-hover:hover {
    background-color: #D1D1D1;
}

.RadToolBar_Tema1 .rtbItemClicked .rtbWrap, .RadToolBar_Tema1 .rtbItemClicked .rtbOut, .RadToolBar_Tema1 .rtbItemClicked .rtbMid, .RadToolBar_Tema1 .rtbItemClicked .rtbIn
{
	/*background-color: #D1D1D1;*//*#DC1C21;/*transparent;*/
	background-repeat: no-repeat;
	color:#000;
	/*background-image: url('ToolBar/rtbClickedBg.png');*/
}

.RadToolBar_Tema1 .rtbSplBtnExpanded .rtbWrap, .RadToolBar_Tema1 .rtbSplBtnExpanded .rtbOut, .RadToolBar_Tema1 .rtbSplBtnExpanded .rtbMid, .RadToolBar_Tema1 .rtbSplBtnExpanded .rtbIn,
.RadToolBar_Tema1 .rtbDropDownExpanded .rtbWrap, .RadToolBar_Tema1 .rtbDropDownExpanded .rtbOut, .RadToolBar_Tema1 .rtbDropDownExpanded .rtbMid, .RadToolBar_Tema1 .rtbDropDownExpanded .rtbIn,
.RadToolBar_Tema1 .rtbChecked .rtbWrap, .RadToolBar_Tema1 .rtbChecked .rtbOut, .RadToolBar_Tema1 .rtbChecked .rtbMid, .RadToolBar_Tema1 .rtbChecked .rtbIn,
.RadToolBar_Tema1 li.rtbChecked .rtbWrap:hover, .RadToolBar_Tema1 li.rtbChecked .rtbWrap:hover .rtbOut, .RadToolBar_Tema1 li.rtbChecked .rtbWrap:hover .rtbMid, .RadToolBar_Tema1 li.rtbChecked .rtbWrap:hover .rtbIn
{
	/*background-color: D1D1D1;/*#DC1C21;/*transparent;
	background-repeat: no-repeat;
	/*background-image: url('ToolBar/rtbActiveBg.png');*/
}

.RadToolBar_Tema1 .rtbItemFocused .rtbWrap,
.RadToolBar_Tema1 .rtbItemHovered .rtbWrap
{
	color: #000;
}

.RadToolBar_Tema1 .rtbDropDownExpanded .rtbWrap,
.RadToolBar_Tema1 .rtbSplBtnExpanded .rtbWrap,
.RadToolBar_Tema1 .rtbChecked .rtbWrap,
.RadToolBar_Tema1 .rtbItemClicked .rtbWrap
{
	color: #fff;
}

/* </button states> */

/* <Drop Down Arrows> */


.RadToolBar_Tema1 .rtbSplBtn .rtbChoiceArrow,
.RadToolBar_Tema1 .rtbItem .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Tema1 .rtbChoiceArrow 
{
	background-image: url('ToolBar/rtbDropArrows.png');
}

* html .RadToolBar_Tema1 .rtbSplBtn .rtbChoiceArrow,
* html .RadToolBar_Tema1 .rtbItem .rtbVOriented .rtbChoiceArrow,
* html .RadToolBar_Tema1 .rtbChoiceArrow 
{
	background-image: url('ToolBar/rtbDropArrows.gif');
}

.RadToolBar_Tema1 .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Tema1 .rtbExpandUp .rtbVOriented .rtbChoiceArrow
{
	background-image: url('ToolBar/rtbUpArrows.png');
}

* html .RadToolBar_Tema1 .rtbExpandUp .rtbChoiceArrow,
* html .RadToolBar_Tema1 .rtbExpandUp .rtbVOriented .rtbChoiceArrow
{
	background-image: url('ToolBar/rtbUpArrows.gif');
}

.RadToolBar_Tema1 .rtbSplBtnClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Tema1 .rtbSplBtnClicked .rtbChoiceArrow,
.RadToolBar_Tema1 .rtbItemClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Tema1 .rtbItemClicked .rtbChoiceArrow
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('ToolBar/rtbClickedDropArrows.png');
}

* html .RadToolBar_Tema1 .rtbSplBtnClicked .rtbVOriented .rtbChoiceArrow,
* html .RadToolBar_Tema1 .rtbSplBtnClicked .rtbChoiceArrow,
* html .RadToolBar_Tema1 .rtbItemClicked .rtbVOriented .rtbChoiceArrow,
* html .RadToolBar_Tema1 .rtbItemClicked .rtbChoiceArrow
{
	background-image: url('ToolBar/rtbClickedDropArrows.gif');
}

.RadToolBar_Tema1 .rtbSplBtnClicked .rtbExpandUp .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Tema1 .rtbSplBtnClicked .rtbExpandUp .rtbChoiceArrow,
.RadToolBar_Tema1 .rtbItemClicked .rtbExpandUp .rtbVOriented .rtbChoiceArrow,
.RadToolBar_Tema1 .rtbItemClicked .rtbExpandUp .rtbChoiceArrow
{
	background-image: url('ToolBar/rtbClickedUpArrows.png');
}

* html .RadToolBar_Tema1 .rtbSplBtnClicked .rtbExpandUp .rtbVOriented .rtbChoiceArrow,
* html .RadToolBar_Tema1 .rtbSplBtnClicked .rtbExpandUp .rtbChoiceArrow,
* html .RadToolBar_Tema1 .rtbItemClicked .rtbExpandUp .rtbVOriented .rtbChoiceArrow,
* html .RadToolBar_Tema1 .rtbItemClicked .rtbExpandUp .rtbChoiceArrow
{
	background-image: url('ToolBar/rtbClickedUpArrows.gif');
}

/* </Drop Down Arrows> */

.RadToolBar_Tema1_Horizontal li.rtbSeparator 
{
    background-image: url(../../images/separator.png);
    background-repeat: no-repeat;
    height: 15px;
}

.RadToolBar_Tema1_Vertical li.rtbSeparator
{
	border-top: 1px solid #939393;
	background: #f7f7f7;
}

/* </buttons> */


/* <disabled states> */

.RadToolBar_Tema1 .rtbDisabled .rtbWrap:hover,
.RadToolBar_Tema1 .rtbDisabled .rtbWrap:hover .rtbOut,
.RadToolBar_Tema1 .rtbDisabled .rtbWrap:hover .rtbMid,
.RadToolBar_Tema1 .rtbDisabled .rtbWrap:hover .rtbIn
{
	background-image: none;
}

.RadToolBar_Tema1 .rtbDisabled .rtbWrap { color: #888; }

.RadToolBar_Tema1 .rtbDisabled .rtbChoiceArrow,
.RadToolBar_Tema1 .rtbDisabled .rtbWrap .rtbChoiceArrow
{ background-image: url('ToolBar/rtbDropArrows.gif'); }

@media screen and (-webkit-min-device-pixel-ratio:0)  /* WebKit alpha + opacity/cleartype bug, like IE wasn't enough... */
{
	.RadToolBar_Tema1 .rtbDisabled .rtbWrap { color: #888; }
	
	.RadToolBar_Tema1 .rtbDisabled .rtbChoiceArrow,
	.RadToolBar_Tema1 .rtbDisabled .rtbWrap .rtbChoiceArrow
	{
		background-image: url('ToolBar/rtbDropArrows.gif');
	}
}

/* </disabled states */

/* <drop-down> */


/* <Drop Down rounded corners and shadows> */

.RadToolBarDropDown_Tema1 .rtbTopFix,
.RadToolBarDropDown_Tema1 .rtbBottomFix,
.RadToolBarDropDown_Tema1 .rtbGroup
{
	background-image: url('ToolBar/rtbDropDownBg.png');
	background-color: #fff; 
	background-repeat: repeat-y;
}

.RadToolBarDropDown_Tema1 .rtbBottomLeft,
.RadToolBarDropDown_Tema1 .rtbRoundedCorners
{
	background-image:  url('ToolBar/rtbRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadToolBarDropDown_Tema1 .rtbTopRight,
.RadToolBarDropDown_Tema1 .rtbBottomRight
{
	background-image:  url('ToolBar/rtbRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadToolBarDropDown_Tema1 .rtbTopFix,
.RadToolBarDropDown_Tema1 .rtbBottomFix,
.RadToolBarDropDown_Tema1 .rtbRoundedCorners .rtbFirst
{
	border-color: #979797;
}

.RadToolBarDropDown_Tema1_rtl .rtbBottomLeft,
.RadToolBarDropDown_Tema1_rtl .rtbRoundedCorners
{
	background-image: url('ToolBar/rtbRoundedLeft_rtl.png');
}

.RadToolBarDropDown_Tema1_rtl .rtbTopRight,
.RadToolBarDropDown_Tema1_rtl .rtbBottomRight
{
	background-image: url('ToolBar/rtbRoundedRight_rtl.png');
}

.RadToolBarDropDown_Tema1_rtl div.rtbTopFix,
.RadToolBarDropDown_Tema1_rtl div.rtbBottomFix,
.RadToolBarDropDown_Tema1_rtl .rtbGroup
{
	background-position: 100% 0;
}

/* </Drop Down rounded corners and shadows> */

.RadToolBarDropDown_Tema1 
{
	border-color: #828282;
	background-color: #fff;
	background-image: url('ToolBar/rtbDropDownBg.png');
}

.RadToolBarDropDown_Tema1 .rtbWrap,
.RadToolBarDropDown_Tema1 .rtbTemplate
{
	font-weight: normal;
	font-size: 12px;
	font-family: "Segoe UI", Arial, sans-serif;
	color: #000;
}
/*
.RadToolBarDropDown_Tema1 .rtbItemHovered,
.RadToolBarDropDown_Tema1 .rtbItemFocused,
.RadToolBarDropDown_Tema1 .rtbItemHovered .rtbWrap,
.RadToolBarDropDown_Tema1 .rtbItemFocused .rtbWrap
{
	background-image: url('ToolBar/rtbDropDownHover.png');
}*/

.RadToolBarDropDown_Tema1 .rtbDisabled .rtbWrap
{
	color: #999;
}

.RadToolBarDropDown_Tema1 .rtbSeparator
{
	border-color: #939393;
	background: #f7f7f7;
}

/* </drop-down> */

/* </RadToolBar / Default> */




 .RadToolBar_Tema1 .rtbDropDownExpanded .rtbWrap {

	background-color: rgb(204, 0, 51);

}

 .RadToolBar_Tema1 .rtbSplBtnExpanded .rtbWrap {

	background-color: rgb(204, 0, 51);

}

 .RadToolBar_Tema1 .rtbChecked .rtbWrap {

	/*background-color: #D1D1D1;/*rgb(204, 0, 51);*/

}

 .RadToolBar_Tema1 .rtbItemClicked .rtbWrap {

	/*background-color: #D1D1D1;/*rgb(204, 0, 51);*/

}

 div.RadToolBar_Tema1 .rtbOuter {
	/*border-left: 200px solid; rgb(238, 238, 238);*/
	/*background-image: url('/immagini/u64.png') ;
    background-size: 200px 50px;*/

	border-top-color: #E0E0E0;
	border-bottom-color: #E0E0E0;
}

 .RadToolBar_Tema1 .rtbDropDownExpanded .rtbWrap {

	background-color: rgb(204, 0, 0);

}

 .RadToolBar_Tema1 .rtbSplBtnExpanded .rtbWrap {

	background-color: rgb(204, 0, 0);
    color:#000;
}

 .RadToolBar_Tema1 .rtbChecked .rtbWrap {

	/*background-color:  #D1D1D1;/*rgb(204, 0, 0);*/
	color:#000;

}

 .RadToolBar_Tema1 .rtbItemClicked .rtbWrap {

	/*background-color: #D1D1D1;*/ /*rgb(204, 0, 0);*/
    color:#000;
}


/*
.FirmaDigitale
{
    background-color:#003BD7;
    color:White;
}

.MarcheTemporali
{
    background-color:#3A85EB;
    color:White;
}

.Pec
{
    background-color:#DE1D22;
    color:White;
}
*/
/*
.RadToolBar .rtbDropDownExpanded .rtbIn, .RadToolBar .rtbSplBtnExpanded .rtbIn, .RadToolBar .rtbSplBtnFocused .rtbIn, .RadToolBar .rtbItemFocused .rtbIn, .RadToolBar .rtbItemClicked .rtbIn, .RadToolBar .rtbChecked .rtbIn, .RadToolBar .rtbItemHovered .rtbIn {
    margin-top: 3px;
}*/

.RadToolBar .rtbInner {
    padding: 0px;
}
