/* Header v2 */
#mnhead .mnsearch .sleft h2 { padding-top: 2px; }

/* Menu v2 */
#mnnav li ul ul { /* third-and-above-level lists */ margin: -2.45em 0 0 14em!important; }

/* Search */
.Search table.BodyTable {border: 0px; border-left: 2px solid #333;}
.Search table.HeaderBG { border: 0px; }
#breadcrumbbox {
	width:777px!important;
	border: 2px solid #000; border-bottom: none; border-right-width: 1px;

}
div#store_header_dark, #store_header_light { width: 772px; border: 2px solid #000; border-bottom: none; }