/* header nav styles */
/* RA-450 */
#header-main-row2.navbar-collapse{
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
}

/* alert styles */
.alert-success:before {
  position: relative;
  top: 1px;
  margin-right: 10px;
  display: inline-block;
  font-family: 'FontAwesome';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  content: "\f058";
  font-size: larger;
}

.alert-info:before {
  position: relative;
  top: 1px;
  margin-right: 10px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  content: "\e086";
}

.alert-warning:before {
  position: relative;
  top: 1px;
  margin-right: 10px;
  display: inline-block;
  font-family: 'FontAwesome';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  content: "\f071";
  font-size: larger;
}

.alert-danger:before {
  position: relative;
  top: 1px;
  margin-right: 10px;
  display: inline-block;
  font-family: 'FontAwesome';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  content: "\f06a";
  font-size: larger;
}

.homePageMainColumn a.btn,
.homePageRightColumn a.btn,
.contentPageMainColumn a.btn,
.contentPageRightColumn a.btn {
  margin: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  white-space: normal;
}

.homePageMainColumn a.btn:hover,
.homePageRightColumn a.btn:hover,
.contentPageMainColumn a.btn:hover,
.contentPageRightColumn a.btn:hover {
  color: #fff;
}


a.btn-primary {
	background-color: #38598a;
}

a.btn-primary:hover {
	background-color: #5475a7;
}

.homePageRightColumn .rightColumnBox a.btn,
.contentPageRightColumn .rightColumnBox a.btn {
    display: table;
}

@media (min-width : 992px) {
	.homePageRightColumn .rightColumnBox a.btn,
	.contentPageRightColumn .rightColumnBox a.btn {
		margin: 0 auto;
	}
}

/* Start of styles for [RA-640] - Bootstrap template layout widget */
#main-content .row > [class*='col-'] {
	padding-right: 15px;
}

#main-content .row > :first-child[class*='col-'] {
	padding-left: 0;
}

@media (max-width: 992px) {
	#main-content .row > [class*='col-'] {
		padding-left: 0;
	}
}	
/* End of styles for [RA-640] */