
* {
	padding: 0;
	margin: 0;
}

img {
	border: none;
}


a {
	text-decoration: none;
	color: #ffffff;
}


.a:focus {
	outline: 0px none;
}

a:hover {
	text-decoration: none;
    color: #66c0f4;
}

a.nohover:hover {
	text-decoration: none;
}


html {
	height: 100%;
}

body.v6 {
	position: relative;
	min-height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: #c6d4df;
	font-size: 12px;
}

body.v6.in_client {
	background-position: center top;
}

body.v6 {
	 background: url( '/public/images/v6/colored_body_top.png?v=2' ) center top no-repeat #1b2838;
	 /* background: #1b2838; */
}

body.v6.game_bg {
    background: #1b2838;
}

body.v6 > div#global_header {
	border-bottom-color: #171a21;
}

.v6_bg {
	/* background: url( '/public/images/v6/tag_browse_header_bg.png' ) no-repeat center top; */
}

body.blue .v6_bg {
	background:
		url( '/public/images/v6/blue_top_center.png' ) center top no-repeat,
		url( '/public/images/v6/blue_top_repeat.png' ) center top repeat-x
;

	min-height: 370px;
}

body.v6 div#store_header {
	background-color: transparent;
}

.page_background {
	background-position: center top;
	background-repeat: no-repeat;
}

body.v6 #footer {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 16px 0 60px 0;
	margin: 0;

	text-size-adjust: none;
	-webkit-text-size-adjust: none;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */

}

	body.v6.infinite_scrolling #footer.small_footer {
		position: relative;
		top: auto;
		bottom: auto;
	}

	body.v6.infinite_scrolling #footer_spacer.small_footer {
		height: 50px;
	}

    body.v6 #footer .footer_content {
        width: 940px;
        margin: 0px auto;
        padding-top: 16px;
    }
    body.v6 #footer #footer_logo {
        float: left;
        padding-top: 2px;
    }
    body.v6 #footer #footer_text {
        float: left;
        margin-left: 12px;
        color: #8F98A0;
    }
    body.v6 #footer #footer_text a {
        color: #C6D4DF;
    }
    body.v6 #footer #footer_text a:hover {
        color: #ffffff;
    }
    body.v6 #footer .rule{
        height: 8px;
    }
    body.v6 #footer .valve_links {
        margin-top: 8px;
        float: left;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		        font-size: 13px;
        color: #61686D;
    }
    body.v6 #footer .valve_links a {
       color: #C6D4DF;
    }
    body.v6 #footer .valve_links a:hover {
        color: #ffffff;
    }
	body.v6 #footer .valve_links img {
		vertical-align: bottom;
	}



body #footer .responsive_optin_link {
	display: none;
}

body.v6.blue #footer {
	background: #000000;
}

body.v6 #footer_spacer {
	height: 290px;
}



body.v6 > .perf_timing_area .perf_timing_link {
	position: absolute;
	left: 15px;
	bottom: 15px;
}

.perf_timing_data {
	position: relative;
	background-color: #000000;
	margin: 0px auto 48px auto;
	padding: 8px;
	text-align: left;
	width: 936px;
	font-size: 14px;
	z-index: 5;
}

body.v6 h2 {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			font-size: 18px;
	color: #67c1f5;
}
body.v6 h2 a {
    color: #67c1f5;
    text-decoration: none;
}
body.v6 h2 a:hover {
    color: #ffffff;
    text-decoration: none;
}

body.v6 .home_rightcol h2 {
    margin-bottom: 7px;
    margin-top: 0px;
}
body.v6 .home_rightcol.recommended h2, body.v6 .home_leftcol h2 {
    margin-top: 30px;
    margin-bottom: 7px;
}

body.v6 .responsive_home_spotlight_recommended .home_leftcol .spotlight_content h2 {
	margin-bottom: 2px;
	margin-top: 1px;
}

body.v6 .discovery_queue_ctn h2, body.v6 .steam_curators_ctn h2, body.v6  .apps_recommended_by_curators_ctn h2 {
    margin-top: 40px;
    margin-bottom: 7px;
}

body.v6 .upcoming_queue_ctn h2, body.v6 .steam_curators_ctn h2 {
    margin-top: 40px;
    margin-bottom: 7px;
}

body.v6 h2 .header_inline {
	color: #9099a1;
	font-size: 15px;
}

body.v6 h2 .header_inline a {
	color: #c6d4df;
	cursor: pointer;
}
body.v6 h2 .header_inline a:hover {
	color: #67c1f5;
}

body.v6 h2.pageheader {
	color: #ffffff;
	font-size: 34px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			text-shadow: 1px 1px 0 rgba( 0, 0, 0, 0.4 );
	margin-top: -4px;
}

body.v6 h3 {
	color: #ffffff;
	font-size: 22px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			font-weight: normal;
}

body.v6 .page_content {
	width: 940px;
	margin: 0 auto;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page_header_ctn {
    background: url('/public/images//v6/temp/cluster_bg.png' ) bottom center no-repeat;
    padding-bottom: 64px;
    margin-bottom: -30px;
}

.page_header_ctn.tabs {
    padding-bottom: 100px;
    margin-bottom: -78px;
}

.page_header_ctn.tabs.capsules {
    padding-bottom: 100px;
    margin-bottom: -78px;
	overflow: hidden;
}

.discovery_queue_content_ctn {
	overflow: hidden;
	margin-top: 26px;
}
body.v6.explore .page_header_ctn {
	padding-bottom: 30px;
	margin-bottom: -20px;
}

.breadcrumbs {
    color: #56707f;
    font-size: 12px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			padding-top: 10px;
}
.breadcrumbs a {
    color: #8f98a0;
}
.breadcrumbs a:hover {
    color: #ffffff;
    text-decoration: none;
}

div.leftcol {
	width: 616px;
	float: left;
}
div.leftcol.large {
    width: 686px;
}

div.rightcol {
	width: 308px;
	margin-left: 14px;
	float: right;
}
div.rightcol.small {
    width: 238px;
}




.store_tooltip {
	background: #c2c2c2;
	color: #3d3d3f;
	font-size: 11px;
	border-radius: 3px;
	padding: 5px;
	max-width: 225px;
	white-space: normal;
	box-shadow: 0 0 3px #000000;
	word-wrap: break-word;
}


body.v6 .supernav_content, body.v6 #global_header, body.v6 #global_header .content
{
	background: #171a21;
}

body.v6 #store_header {
	padding-left: 0;
	padding-right: 0;
}


/*
 * STORE-SPECIFIC HEADER
 */



div#store_header {
	background-color: #3b3938;
	min-width: 940px;
	margin-bottom: 16px;
}

div#store_header .content {
	position: relative;
	width: 940px;
	margin: 0 auto;
	z-index: 300;
}

div#store_header, div#store_header .content {
	height: 66px;
}

div#store_header.dlc, div#store_header.dlc .content {
	height: 29px;
}

div#store_controls {
	position: absolute;
	right: 0;
	top: 10px;
	text-align: right;
	z-index: 300;
	font-size: 11px;
}

div.store_header_btn {
	height: 20px;
	position: relative;
	margin-left: 1px;
    border-radius: 1px;
	float: left;
}

a.store_header_btn_content {
	display: inline-block;

	padding: 0 25px;
	margin: 0 1px;

	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
}

a.store_header_btn_content:hover {
	text-decoration: none;
}

.store_header_btn_gray {
	background-color: rgba( 255, 255, 255, 0.4 );
    border-radius: 1px;
}

.store_header_btn_gray a {
	color: #ffffff;
}

.store_header_btn_gray a:hover {
    color: #111111;
    border-radius: 1px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-60deg,  #ffffff 0%, #919aa3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#919aa3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-60deg,  #ffffff 0%,#919aa3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-60deg,  #ffffff 0%,#919aa3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-60deg,  #ffffff 0%,#919aa3 100%); /* IE10+ */
    background: linear-gradient(135deg,  #ffffff 0%,#919aa3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#919aa3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.store_header_btn_green {
	background-color: rgba( 164, 208, 7, 0.4 );
}

.store_header_btn_green a {
	color: #a4d007;
}

.store_header_btn_green a:hover {
	color: #111111;
	background-color: rgba( 164, 208, 7, 0.50 );
}

div#store_search {
	float: right;
	padding: 3px 4px 2px;
	height: 30px;
}

a#store_search_link {
	position: absolute;
	right: 2px;
	top: 0;
}

a#store_search_link img {
	width: 24px;
	height: 27px;
}

.searchbox {

	background-image: url( '/public/images/v6/store_header_search.png?v=1' );

	color: #a6a5a2;
	width: 216px;
	height: 30px;

	position: relative;
	z-index: 150;
	cursor: text;
}
.searchbox:hover {
    background-image: url( '/public/images/v6/store_header_search_hover.png' );
}


.searchbox input {
	border: none;
	background-color: transparent;
	color: #000000;
	margin-top: 2px;
	margin-left: 8px;
	width: 180px;
	outline: none;
	line-height: 26px;
}

.searchbox input.default {
	font-style: italic;
    color: #305d8a;
}

#store_nav_area {
	position: absolute;
	left: 0;
	right: 0;
	top: 24px;
	height: 49px;
}

#store_nav_area .store_nav_bg {
	height: 35px;
	margin: 7px 0;
	background: rgba( 103, 193, 245, 0.4 );

}

.store_nav {
	height: 35px;
}

.store_nav .tab {
	float: left;


	border-right: 1px solid #000000;

	cursor: pointer;
}


.tab.active.tab_filler {
	height: 26px;
	margin-bottom: -1px;
}

.tab_page_link_holder {
    position: relative;
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin-top: 1px;
    background-color: #262626;
    color: #626366;
    font-size: 10px;
}
.tab_page_link_prev a, .tab_page_link_next a {
    position: absolute;
    height: 24px;
    padding: 0px 16px;
    color: #67c1f5;
}
.tab_page_link_prev a img, .tab_page_link_next a img {
    top: 2px;
}
.tab_page_link_prev a:hover, .tab_page_link_next a:hover {
    position: absolute;
    height: 24px;
    padding: 0px 16px;
    text-decoration: none;
    color: #ffffff;
    background: #67c1f5; /* Old browsers */
    background: -moz-linear-gradient(-60deg,  #67c1f5 0%, #417a9b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#67c1f5), color-stop(100%,#417a9b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* IE10+ */
    background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c1f5', endColorstr='#417a9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.tab_page_link_next a {
    right: 0px;
}
.tab_page_link_prev a {
    left: 0px;
}

.store_nav .tab.focus {
	background-color: #67c1f5;
}

#genre_flyout {
	top: 55px;
}


.store_nav .tab {
	padding: 1px;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;

}
.store_nav .tab > span {

	font-size: 12px;
	color: #67c1f5;
	line-height: 33px;
	padding: 0 15px;

	display: block;
}

.store_nav .tab.lesspadding > span {
	padding: 0 12px;
}


.store_nav .tab:hover > span, .store_nav .tab:hover, .store_nav .tab.focus > span, .store_nav .tab.focus {
	filter: none;
    color: #ffffff;
    background: #67c1f5; /* Old browsers */
    background: -moz-linear-gradient(-60deg,  #67c1f5 0%, #417a9b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#67c1f5), color-stop(100%,#417a9b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* IE10+ */
    background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c1f5', endColorstr='#417a9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.store_nav .tab.active, .store_nav .tab.active:hover {
}

.store_nav .tab.active > span, 	.store_nav .tab.active:hover > span {
}

.store_nav .tab > span.pulldown {
	padding-right: 7px;
	background: none;
}

.store_nav .tab > span.pulldown > span {
	width: 19px;
	height: 12px;
	padding: 0;
	display: inline-block;
	background-image: url( '/public/images/v6/btn_arrow_down_padded.png' );
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	vertical-align: text-bottom;
}

.store_nav .tab:hover > span.pulldown > span {
    background-image: url( '/public/images/v6/btn_arrow_down_padded_white.png' );
}

.store_nav .tab img.foryou_avatar {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
	margin-right: 6px;
}


/*
 * SEARCH SUGGESTIONS
 */




.search_suggest {
	text-align: left;
	width: 430px;

	top: 39px;
	right: 4px;
}

.search_suggest .match {
	display: block;
	position: relative;
	height: 54px;
	overflow: hidden;
	border-top: 1px solid #13242e;
}


.search_suggest .match:hover {
	text-decoration: none;
}

.search_suggest .match .match_img {
	position: absolute;
	left: 4px;
	top: 4px;
}

.search_suggest .match .match_img img {
	width: 120px;
	height: 45px;
}

.search_suggest .match .match_name {
	position: absolute;
	left: 134px;
	top: 12px;
	width: 258px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	font-size: 14px;
	color: #ffffff;
}

.search_suggest .match .match_price {
	position: absolute;
	left: 134px;
	top: 30px;
}

.search_suggest .match .ds_flag {
	top: 18px;
	left: 4px;
}

.slider_ctn {
	position: relative;
	height: 18px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.slider_ctn.spotlight {
    width: 308px;
}

.slider_ctn.store_autoslider {
	background: #122333;
}

.slider_ctn.store_autoslider .handle {
	background-color: rgba( 0, 0, 0, 0.5 );
}

.slider {
	position: absolute;
	left: 39px;
	right: 39px;
	top: 0;
	bottom: 0;
	background-color: rgba( 0, 0, 0, 0.2 );
	border-radius: 3px;
}

.slider.slider_text {
	opacity: 0.2;
	text-align: center;
	line-height: 13px;
	font-size: 10px;
	color: #ffffff;
}

.slider_ctn .handle {
	position: absolute;
	top: 0;
    background-color: rgba( 0, 0, 0, 0.2 );
	border-radius: 3px;
	height: 18px;
	width: 60px;
	cursor: pointer;
}

.slider_ctn .slider_left, .slider_ctn .slider_right {
	position: absolute;
	width: 38px;
	top: 0;
	bottom: 0;
	background-color: rgba( 0, 0, 0, 0.4 );
	border-radius: 3px;
	cursor: pointer;
}
.highlight_ctn .slider_ctn .slider_left, .highlight_ctn .slider_ctn .slider_right, .highlight_ctn .slider .handle {
	background-color: rgba( 35, 60, 81, 0.4 );
}

.slider_ctn .slider_left:hover, .slider_ctn .slider_right:hover, .slider .handle:hover {
    background: #3d6c8d; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #3d6c8d 0%, #2e5470 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3d6c8d), color-stop(100%,#2e5470)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #3d6c8d 0%,#2e5470 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #3d6c8d 0%,#2e5470 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #3d6c8d 0%,#2e5470 100%); /* IE10+ */
    background: linear-gradient(135deg,  #3d6c8d 0%,#2e5470 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d6c8d', endColorstr='#2e5470',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.slider_left {
	left: 0;
}

.slider_right {
	right: 0;
}
.slider_right span {
    display: inline-block;
    background-position: -9px 0px;
    background-repeat: no-repeat;
    background-image: url('/public/images//v6/icon_cluster_controls.png');
    width: 9px;
    height: 7px;
    margin-left: 15px;
    margin-top: 5px;
}
.slider_left span {
    display: inline-block;
    background-position: -18px 0px;
    background-repeat: no-repeat;
    background-image: url('/public/images//v6/icon_cluster_controls.png');
    width: 9px;
    height: 7px;
    margin-left: 13px;
    margin-top: 5px;
}
.slider_right:hover span {
    background-position: -9px -7px;
}
.slider_left:hover span {
    background-position: -18px -7px;
}

.slider_left.disabled, .slider_right.disabled {
	opacity: 0.4;
	cursor: default;
}

.store_horizontal_autoslider_ctn {
	overflow: hidden;
	margin-bottom: 2px;
	/* DO NOT set padding on this element! It will bork the horizontal scrollbar calculations. Use margin instead. */
}

.store_horizontal_minislider_ctn {
	position: relative;
	overflow: hidden;
}

.store_horizontal_minislider {
	overflow-x: auto;
}

.store_horizontal_minislider_ctn .slider_left,
.store_horizontal_minislider_ctn .slider_right {
	position: absolute;
	top: 0;
	bottom: 0;
	background: #1b2e40;
	cursor: pointer;
	border-radius: 3px;
	padding: 5px 8px;
}

.store_horizontal_minislider_ctn .slider_left {
	box-shadow: 1px 0 4px 0 rgba( 0, 0, 0, 0.75 );
}

.store_horizontal_minislider_ctn .slider_right {
	box-shadow: -1px 0 4px 0 rgba( 0, 0, 0, 0.75 );
}

.store_horizontal_minislider_ctn .slider_left > span,
.store_horizontal_minislider_ctn .slider_right > span
{
	margin: 0;
}

.discount_block.no_discount .discount_prices {
    background: none;
}
.discount_block.no_discount.main_cap_discount {
    background: #000000;
}
.discount_block {
	position: relative;
}
.discount_block .discount_prices {
    background: #000000;
}


.discount_block .discount_pct, .discount_pct {
	color: #a4d007;
	background: #4c6b22;
	display: inline-block;
}

.discount_block .bundle_base_discount {
	display: inline-block;
	text-decoration: line-through;
	color: #626366;
}

.discount_block.no_discount .bundle_base_discount {
	text-decoration: none;
	color: #b0aeac;
	border-right: 1px solid #626366;
}

.discount_original_price, .discount_final_price {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.discount_block .discount_prices {
	display: inline-block;
	vertical-align: bottom;
	text-align: right;

}
.home_tabs_content .discount_block .discount_prices, .tab_content_ctn .discount_block .discount_prices  {
	background: transparent;
}
.home_tabs_content .tab_item_discount.no_discount {
	margin-top: 24px;
}
.home_tabs_content .tab_item_discount {
	margin-top: 17px;
}

.discount_original_price {
	text-decoration: line-through;
	color: #626366;
	font-size: 11px;
}
.game_purchase_discount .discount_original_price {
    position: absolute;
    left: 76px;
    top: 2px;
    font-size: 11px;
}

.discount_final_price {
	color: #b0aeac;
	font-size: 13px;
}

.discount_block_large {
}

.discount_block_large .discount_pct,
.discount_block_large .bundle_base_discount {
	line-height: 34px;
	padding: 0 5px;

	font-size: 26px;
}
.discount_block_large .discount_prices {
	line-height: 13px;
	padding: 4px 10px 4px 7px;
}

.discount_block_inline {
	line-height: 15px;
}

.discount_block_inline .discount_original_price, .discount_block_inline .discount_final_price {
	display: inline;
}

.discount_block_inline .discount_final_price {
	padding-left: 4px;
	font-size: 11px;
}

.discount_block_inline.no_discount .discount_final_price {
	padding-left: 0;
}

.discount_block_inline .discount_pct,
.discount_block_inline .bundle_base_discount {
	padding: 0 3px;
}

.discount_block_inline .discount_prices {
	padding: 0 5px;
}
.discount_block_inline.no_discount .discount_prices {
    padding: 0;
}

.discount_block.no_discount .discount_original_price {
	display: none;
}

.discount_block.no_discount .discount_final_price {

}

.discount_block.game_purchase_discount.no_discount .discount_final_price.your_price {
	line-height: normal;
}


.discount_block.game_purchase_discount.no_discount .discount_final_price.your_price .your_price_label {
	font-size: 10px;
}

.discount_block_collapsable {
	position: relative;

	max-width: 120px;
}

.discount_block_collapsable .discount_collapse_final_price {
	background: #000000;
	padding-left: 4px;
	padding-right: 5px;
	position: absolute;
	right: 0;
	top: 0;
}

.discount_block.suppress_discount_pct .discount_pct,
.discount_block.no_discount .discount_pct {
	display: none;
}

.discount_block.game_purchase_discount.no_discount .discount_final_price {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 32px;
}

/* spotlight styles */
.spotlight_img {
    width: 306px;
    overflow: hidden;
    padding-left: 1px;
    padding-top: 1px;
}
.home_area_spotlight {
	position: relative;
	height: 395px;
}

.spotlight_scroll_ctn {
    background: -webkit-linear-gradient( left, rgba(0,0,0,0.2) 5%,rgba(0,0,0,0.4) 95%);background: linear-gradient( to right, rgba(0,0,0,0.2) 5%,rgba(0,0,0,0.4) 95%);	margin-bottom: 4px;
    height: 395px;
}

.spotlight_content {
	padding: 8px 16px 12px 16px;
	color: #9099a1;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	width: 274px;
	margin: 1px;

	background: url( '/public/images/v6/spotlight_background.jpg?v=1' ) bottom center no-repeat;
}


.spotlight_weeklong_ctn {
	background: url( '/public/images/v6/temp/spotlight_weeklong_deals.jpg?v=2' ) top center no-repeat;
	width: 304px;
	height: 350px;
	text-align: center;
	margin: 0px;
	border: 1px solid rgba(0, 0, 0, 0);
	position: relative;
	z-index: 1;
}
.spotlight_weeklong_ctn:hover {
	border: 1px solid rgba(171, 218, 244, 0.6);
}

.spotlight_weeklong_ctn .spotlight_text_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 304px;
	height: 350px;
	z-index: 2;
}

.spotlight_count {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: bold; /* bold */

			color: #ffffff;
	font-size: 40px;

	display: block;
	position: relative;
	z-index: 3;
	margin-top: 230px;
}

.spotlight_weeklong_subtitle {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			font-size: 13px;
	color: #8f98a0;
	text-align: center;
	margin-top: 20px;
}

.login .spotlight_content {
	background: #15212e;
}
.spotlight_body {

}
.spotlight_body.spotlight_price {
	margin-top: 10px;
}

.spotlight_block .spotlight_content>h2 {
	color: #c7d5e0;
	font-size: 21px;
	font-weight: normal;
	margin: 0;
}


/*
 * TABS
 */

.tab_item {
	position: relative;
	display: block;
	background: #202d39;
	background: rgba( 0, 0, 0, 0.2 );

	height: 69px;

	margin-bottom: 5px;
	padding-left: 198px;
}

.tab_item.episode {
	padding-left: 158px;
}

.large .tab_item {
    position: relative;
    background: #202d39;
    background: rgba( 0, 0, 0, 0.2 );

    height: 87px;

    margin-bottom: 4px;
    padding-left: 244px;
}

.tab_item:hover,
.large .tab_item:hover {
	background: rgba( 0, 0, 0, 0.4 );
}

.tab_item_overlay {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
}

.tab_item_overlay_hover {
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.tab_item:hover .tab_item_overlay_hover {
	display: block	;
}

.tab_item_overlay img {
	display: block;
	width: calc( 100% - 2px );
	height: 67px;
    border: 1px solid rgba( 139, 185, 224, 0 );
}
.large .tab_item_overlay img {
    height: 85px;
}

.tab_item_overlay img:hover, .large .tab_item_overlay img:hover {
    border: 1px solid rgba( 139, 185, 224, 0.2 );
}

.tab_item_cap {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	line-height: 69px;

	transition: opacity 0.25s;
}

.sub .tab_item_cap {
	width: 184px;
}

.large .tab_item_cap {
    width: 231px;
    height: 87px;
	line-height: 87px;
}
.large .tab_item_cap img {
	width: 231px;
	height: 87px;
}

.tab_item_discount {
	display: block;
	float: right;
	margin-right: 16px;
	background: none;

	margin-top: 23px;

	width: 120px;
	text-align: right;
}

.tab_item_discount.no_discount {
	margin-top: 32px;
	width: auto;
}

.tab_item_discount .bundle_base_discount {
	display: none;
}

.tab_item_discount .discount_pct,
.tab_item_discount.no_discount .bundle_base_discount {
	display: block;
	float: left;
	font-size: 14px;
	line-height: 18px;
	padding: 0 4px;
	margin-top: 8px;
    border-radius: 1px;
}

.tab_item_discount .discount_final_price {
	color: #9099a1;
	font-size: 13px;
}

.tab_item_content {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	padding-top: 6px;
	font-size: 12px;
}

.large .tab_item_content {
	padding-top: 16px;
}

.home_tabs_content .tab_item_content {

	padding-top: 7px;
}

.tab_item_name {
	color: #c7d5e0;
	font-size: 1.25em;
	line-height: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	overflow: hidden;

	transition: color 0.25s;
}

.tab_item_details {
	color: #384959;

	line-height: 20px;
}

.tab_item_details span.platform_img {
	vertical-align: bottom;
	opacity: 0.3;
}


.tab_item.ds_flagged:not(.ds_wishlist):not(:hover) .tab_item_cap {
	opacity: 0.3;
}

.tab_item.ds_flagged:not(.ds_wishlist):not(:hover) .tab_item_content .tab_item_name {
	color: #62696e;
}

.tab_item_top_tags {
	height: 20px;
	white-space: normal;
	overflow: hidden;
}

.tab_item_top_tags .top_tag {
	white-space: nowrap;
}

.dailydeal_ctn {
	padding: 16px;
	background: #39536e;
	background: rgba( 85, 125, 171, 0.4 );
	position: relative;

	margin-bottom: 2px;
}

.dailydeal_cap {
	position: relative;
	margin-bottom: 3px;
}

.dailydeal_cap, .dailydeal_cap img {
	width: 276px;
	height: 129px;
}

.daily_deal_discount {
	float: left;
}

.dailydeal_desc {
	text-align: right;
	color: #abdaf4;
	font-size: 11px;
}

.dailydeal_countdown {
	display: inline-block;
	color: #282d33;
	font-size: 10px;
	background: #ff7b00;
	line-height: 13px;
	padding: 0 4px;
	margin-top: 4px;
}

img.category_icon {
	width: 26px;
	height: 16px;
	vertical-align: top;
}

/*
 * FRIEND BLOCKS
 */

.friend_activity {
    position: relative;
}

.friend_game_block {
    position: relative;
}

.home_friend_game_block {
    padding-left: 132px;
    padding-bottom: 18px;
}

.friend_game_block .friend_activity {
    display: block;
    width: 150px;
    height: 40px;
}

.friend_game_block .friend_activity:hover {
    text-decoration: none;
    background: rgba( 103, 193, 245, 0.1 );
}

.friend_game_block .game_capsule {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 120px;
    height: 45px;
}

.home_friend_game_block .game_capsule {
    right: auto;
    left: 0;
}

.home_friend_game_block .game_capsule a {
	position: relative;
	display: block;
	width: 120px;
	height: 45px;
}

.home_friend_game_block .game_capsule a.ds_flagged .ds_flag {
	top: 18px;
}

.home_friend_game_block .game_capsule a.ds_flagged:not(.ds_wishlist) img {
	opacity: 0.3;
}

.friend_activity .friend_block_text {
    display: block;
    position: absolute;
    width: 96px;
    top: 6px;
    left: 48px;
    font-size: 10px;
}

.ds_flag.ds_wishlist_flag {
	box-shadow: 0 0 6px 0 #000000;
}


/*
 * platforms
 */


span.platform_img {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
}

span.platform_img.steamplay {
	width: 64px;
	background-image: url( '/public/images/v6/icon_steamplay.png' );
	padding-right: 5px;
}

span.platform_img.win {
	background-image: url( '/public/images/v6/icon_platform_win.png' );
}

span.platform_img.mac {
	background-image: url( '/public/images/v6/icon_platform_mac.png' );
}

span.platform_img.linux {
	background-image: url( '/public/images/v6/icon_platform_linux.png' );
}

span.platform_img.streamingvideo {
	background-image: url( '/public/images/v6/icon_streamingvideo_v6.png' );
	background-position-y: 3px;
	background-position-x: 2px;
}

span.platform_img.htcvive {
	background-image: url( '/public/images/v6/icon_platform_htcvive.png' );
}

span.platform_img.oculusrift {
	background-image: url( '/public/images/v6/icon_platform_oculusrift.png' );
}

span.platform_img.razerosvr {
	background-image: url( '/public/images/v6/icon_platform_razerosvr.png' );
}

span.platform_img.hmd_separator {
	border-left: 1px solid #CCC;
	width: 1px;
	margin: 0px 5px;
}
.promo_item_list .item .info .OS span.platform_img.streamingvideo {
	background-position: 0px 1px;
}

/* GLOBAL TAG STYLES */

.app_tag {
	display: inline-block;
	line-height: 19px;
	padding: 0 7px;
	color: #b0aeac;
	background-color: #384959;

	margin-right: 2px;
	border-radius: 3px;

	box-shadow: 1px 1px 0 0 #000000;
	cursor: pointer;

	margin-bottom: 3px;

	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.app_tag.not_browseable {
	opacity: 0.6;
	cursor: default;
}

/* HOVER */


div.game_hover {
	position: absolute;
	z-index: 400;
	top: 40px;
	left: 400px;
	padding: 5px 12px 0 12px;
}

.game_hover_box {
    background: rgb(227,234,239); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(227,234,239,1) 0%, rgba(199,213,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,234,239,1)), color-stop(100%,rgba(199,213,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(227,234,239,1) 0%,rgba(199,213,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(227,234,239,1) 0%,rgba(199,213,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(227,234,239,1) 0%,rgba(199,213,224,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(227,234,239,1) 0%,rgba(199,213,224,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eaef', endColorstr='#c7d5e0',GradientType=0 ); /* IE6-9 */

    width: 306px;

	color: #30455a;
	font-size: 12px;

	overflow: hidden;

	box-shadow: 0 0 12px #000000;
}

.game_hover_box .content {
	padding: 16px;
}

.game_hover_box .hover_top_area {
	margin-bottom: 8px;
	font-size: 10px;
	color: #82807C;
}

.game_hover_box h4 {
	color: #222d3d;
	font-weight: normal;
	font-size: 17px;
	margin-bottom: 0;

			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		}

.game_hover_box .hover_release {
	font-size: 10px;
}

.game_hover_box p, .game_hover_box {
	margin-top: 8px;
	margin-bottom: 8px;
}

.game_hover_box .rule {
}

.game_hover .hover_arrow_left, .game_hover .hover_arrow_right {
	width: 7px;
	height: 15px;
	background: url( 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJlJREFUeNqc0k0KgCAQBlCdI0SLlkEtu4DLTt6yC7SN2hX0cwWbCQvDMa0PBhN9EsxIrbXgMs57RWueJR13Di+ooboeCEILpaZYDC/oCoshgLwYIhCL5TBtMcjOilUT1OJH6FdLrOWDobslYIN7/FCRmO4oMmCmIwbf6NGOAH4gZwA82EFnO7ghx14VuLRm6yAvtLDgEOUQYADt6VgCZRDsZgAAAABJRU5ErkJggg==' ) no-repeat top;
	position: absolute;
	top: 48px;
}

.game_hover .hover_arrow_left {
	background-position: left;

	left: 5px;
}

.game_hover .hover_arrow_right {
	background-position: right;

	right: 5px;
}

.hover_body {
	margin-bottom: 6px;
}

.hover_details_block, .hover_details_block_full {
	display: block;
	border-radius: 2px;
	margin-right: 3px;
	background-color: #96a3ae;
	padding: 4px;

	line-height: 20px;
	height: 20px;
}

.hover_details_block {
	float: left;
}

.hover_category_icon {
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;
}

.hover_friends_blocks {
	margin-bottom: 8px;
}

.hover_tag_row {
	overflow: hidden;
	height: 19px;
    margin-top: 2px;
}

.hover_tag_row .app_tag {
	background-color: #96a3ae;
	color: #ffffff;
	box-shadow: none;
	padding: 0 4px;
    font-size: 11px;
    border-radius: 2px;
}

.hover_details_specs {
	height: 26px;
	margin-bottom: 2px;
}

.hover_details_specs .icon {
	float: left;
	left: 0px;
	width: 30px;
	height: 22px;
	padding-top: 4px;
	padding-left: 6px;
	background-color: #6a8caa;
}

.hover_details_specs .name {
	margin-left: 2px;
	height: 22px;
	padding-top: 4px;
	padding-left: 8px;
	background-color: #6a8caa;
}

.hover_body .hover_review_summary {
	padding-bottom: 10px;
}

.game_review_summary {
	color: #A34C25;
}
.game_review_summary.mixed {
	color: #B9A074;
}
.game_review_summary.positive {
	color: #66C0F4;
}
.game_review_summary.no_reviews {
	color: #929396;
}

.friend_blocks_row {
    margin-top: 2px;
}

.friend_blocks_row .playerAvatar {
	float: left;
	margin-right: 5px;
}
.friend_blocks_row .friend_block_holder {
    width: 40px;
    height: 40px;
}
.friend_blocks_row .friend_block_holder, .friend_blocks_row .playerAvatar {
    float: left;
    margin-right: 5px;
}


/*
 * FRIENDS TODO: LEGACY
 */

.friend_block_avatar {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	padding: 4px;
	margin-right: 2px;
}

.friend_status_offline .friend_block_avatar {
	background-image: url( '/public/images/communitylink/iconholder_offline.jpg' );
}

.friend_status_online .friend_block_avatar {
	background-image: url( '/public/images/communitylink/iconholder_online.jpg' );
}

.friend_status_in-game .friend_block_avatar {
	background-image: url( '/public/images/communitylink/iconholder_ingame.jpg' );
}


.cluster_control_left, .cluster_control_right {
	position: absolute;
	top: 16px;
	height: 44px;
	color: #8bb9e0;
	background-color: #000000;
	padding: 6px;
	cursor: pointer;
}

.cluster_control_left img, .cluster_control_right img {
	vertical-align: middle;
}

.cluster_control_left {
	left: 0px;
	padding-right: 16px;
}

.cluster_control_right {
	right: 0px;
	text-align: right;
	padding-left: 16px;
}

.cluster_capsule {
	display: block;
	float: left;
	margin-right: 4px;
	position: relative;
}

a.cluster_capsule:hover {
	text-decoration: none;
}

.large_cluster_content_twoup {
	position: relative;
	width: 940px;
	height: 254px;
	overflow: hidden;
    margin-top: 15px;
    margin-bottom: 20px;
}

.large_cluster_content_twoup .cluster_control_left {
	border-left: 1px solid #4D4B49;
}

.large_cluster_content_twoup .cluster_control_right {
	border-right: 1px solid #4D4B49;
}

.large_cap {
	width: 467px;
	height: 252px;
	border: 1px solid #4D4B49;
}

.cluster_capsule.large_cap {
	margin-right: 2px;
}

a.large_cap:hover {
	text-decoration: none;
}

img.large_cap {
	width: 467px;
	height: 181px;
	position: relative;
}

.large_cap_content {
	padding: 13px 16px;
}

.large_cap_content h4 {
	margin-bottom: 6px;
}

.large_cap_content p {
	color: #B0AEAC;
	font-size: 12px;
	height: 32px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.large_cap_discount {
	position: absolute;
	right: 16px;
	bottom: 98px;
}

.large_cap_desc {
	position: absolute;
	left: 0px;
	bottom: 0px;

	background-color: #1a1a1a;

	width: 467px;
	height: 71px;
	overflow: hidden;
}

.large_cap_price {
	position: absolute;
	right: 16px;
	line-height: 14px;
}

/* Dark page cut */

body.v6 .page_content_ctn.dark {
	background-color: #000;
	padding: 25px 0;
}

body.v6 .page_content_ctn.dark:last-child {
	margin-bottom: -52px;
}

.page_content_ctn.dark .pageheader:after {
	content: ' ';
	display: block;
	height: 1px;
	margin-top: 5px;
	background: -webkit-linear-gradient( left, #3b6e8c 5%,#000000 95%);background: linear-gradient( to right, #3b6e8c 5%,#000000 95%);}


/* common discovery queue styles */

.discovery_queue {
	height: 289px;
	position: relative;
}

/* empty queue */
.discover_queue_empty
{
	padding: 30px 20px 20px 20px;
	text-align: center;
	background: rgba( 0, 0, 0, 0.2);
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			font-weight: normal;
	margin-bottom: 30px;
	margin-top: 12px;
	height: 165px;
}
body.v6 .discover_queue_empty>h3 {
	font-size: 20px;
	color: #C6D4DF;
	margin-bottom: 15px;
}
.discover_queue_empty>p {
	font-size: 13px;
	color: #8F98A0;
}
.discover_queue_empty_refresh_btn
{
	padding-top: 20px;
}

.dq_item {
	position: absolute;
	box-shadow: 0 0 8px 0 #000000;
}
.dq_item,
.dq_item div,
.dq_item img {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

.dq_item .dq_item_cap {
	width: 100%;
	height: auto;
	display: block;
}

.dq_item_overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;	/* keep it on top of ds_flag (z-index 5 ) */
}

.dq_item .ds_flag {
	box-shadow: 0 0 4px 0 #000000;
}

.dq_item_price {
	position: absolute;
	bottom: -39px;
	right: 0;
	opacity: 0;
}

.dq_item_price.no_discount {
	bottom: -26px;
}

.dq_item_reason {
	opacity: 0;
	font-size: 17px;
	font-family: "Motiva Sans", Sans-serif;
	margin-top: 4px;
	color: #fff;
	width: 330px;
}

.dq_item.dq_active_link {
	z-index: 30;
	box-shadow: none;
}

.dq_item.dq_active_link a {
	display: block;
	width: 460px;
	height: 215px;
}

#page_background_holder {
	position: absolute;
	width: 100%;
	left: 0px;
	overflow: hidden;
	z-index: -1;
	min-width: 972px;
}

#page_background {
	text-align: center;
	background-position: center top;
	background-repeat: no-repeat;
	height: 1024px;
	min-width: 972px;
}

/* TEMPORARY */

#v6takeover .flag {
	margin: 0 0 -15px 0;
	z-index: 10;
	position: relative;
	height: 36px;
	background-repeat: no-repeat;
	background-position: top left;
}

#v6takeover.closed .flag {
	margin: 0 0 -15px -17px;
	height: 35px;
}
#v6takeover.closed {
	border-bottom: 1px solid rgba( 0, 0, 0, 0 );
}

#v6takeover .avatar {
	border: 5px solid #67c1f5;
	width: 92px;
	height: 92px;
	box-shadow: 0 0 5px #67c1f5;
	z-index: 5;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 2px;
}

#v6takeover .avatar > img {
	width: 92px;
	height: 92px;
}

#v6takeover .title {

			font-family: "Motiva Sans", Sans-serif;
		font-weight: bold; /* bold */

			font-size: 44px;
	color: #fff;

	text-transform: uppercase;
	line-height: 46px;
	display: inline-block;
	width: 770px;
	margin: 18px 0 0 9px;
	vertical-align: top;
}

#v6takeover .title > div {
	color: #66c0f4;
}

#v6takeover .desc {

	font-size: 16px;
	margin: 10px 0 10px 0;
}

#v6takeover .close {
	position: absolute;
	top: 9px;
	right: 9px;
	z-index: 25;
	background-image: url( '/public/images/v6/close_btn.png' );
	background-repeat: no-repeat;
	height: 18px;
	width: 18px;
}
#v6takeover.closed .close {
	background-image: url( '/public/images/v6/expand_btn.png?v=1' );
}

#v6takeover.closed .avatar, #v6takeover.closed .title, #v6takeover.closed .desc, #v6takeover.closed .btn_medium {
	display: none;
}

#v6takeover {
	padding: 0 15px 15px 15px;
	border-bottom: 1px solid #305d7d;
	background: -webkit-linear-gradient( top, rgba(0,0,0,0) 5%, rgba(102,192,244,0.2) 95%);background: linear-gradient( to bottom, rgba(0,0,0,0) 5%, rgba(102,192,244,0.2) 95%);	margin-bottom: 15px;
	position: relative;
}
#v6takeover.closed {
	background: rgba( 0, 0, 0, 0.2 );
}

/* END TEMPORARY */


.dropcontainer ul {
	list-style-type:none;
	line-height: 22px;
	margin:0;
	position:absolute;
	top:0;
	left: 0;
	right: 0;
	z-index: 90;

	overflow: auto;
	overflow-x: hidden;

	box-shadow: 0 0 5px 0 #000000;
	background: #417A9B;
}
.dropdownhidden{
	display: none;
}
.dropdownvisible{
	display: block;
}
.dropcontainer ul li {
	padding: 0;
	margin: 0;
}
.dropcontainer ul li.emptyvalue {
	font-style: italic;
}
.dropcontainer ul a {
	padding: 0 10px;
	display:block;
	text-decoration:none;
	color: #e5e4dc;

	white-space: nowrap;
}

.dropcontainer{
	position:relative;
}

.dselect_container {
	font-size: 12px;
}

.dselect_container {
	position: relative;

}
.dselect_container a.trigger, .dselect_container a.activetrigger {
	display: block;
	color: #67c1f5;
	padding: 0 30px 0 8px;
	font-size: 12px;
	line-height: 21px;
	border: 0;
	border-radius: 3px;
	text-decoration: none;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position:relative;
}

.dselect_container a.trigger {
	background: rgba( 103, 193, 245, 0.1 );
}

.dselect_container a.activetrigger, .dselect_container a.activetrigger:hover {
	color: #ffffff;
	background: #67c1f5;
}


.dselect_container a.activetrigger {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	z-index: 91;
	position: relative;
}

.dselect_container a.trigger::after, .dselect_container a.activetrigger::after {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 20px;
	background: url('/public/images/v6/ico/ico_arrow_dn_for_select.png') no-repeat left center;
	content: '';
}

.dselect_container a.trigger:hover,
.dselect_container .dropcontainer a.highlighted_selection
{
	color: #ffffff;
	background-color: #67c1f5; /* Old browsers */
	background: -webkit-linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%););background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%););}

.promo_leftcol {
	margin-right: 5px;
	padding: 10px 20px 10px 20px;
	background-color: rgba( 0, 0, 0, 0.4 );
}
.promo_rightcol {
	margin-left: 5px;
	padding: 1px 15px 10px 15px;
	border-radius: 4px;
	background: rgba( 0, 0, 0, 0.2 );
}
.promo_banner {
	box-shadow: 0px 0px 5px #000;
}

/* Refund policy styles */
.refund_policy .page_header_ctn {
	padding-bottom: 74px;
}
.refund_policy h2 {
	padding-top: 40px;
}

body.v6.refund_policy .page_content_ctn {
	font-size: 14px;
	line-height: 18px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			color: #a4b0be;
}

.refund_policy #main_content h1 {
	color: #ffffff;
	font-size: 26px;
	text-shadow: 1px 1px 0 #000000;
	margin: 32px 0px 8px 0px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			font-weight: normal;
	line-height: normal;
}

.refund_policy #main_content h2 {
	padding-top: 12px;
	margin-bottom: 4px;
	line-height: 20px;
}

.refund_policy p {
	margin-bottom: 16px;
}

.refund_policy ul {
	padding-left: 20px;
}

.nonresponsive_hidden {
	display: none;
}

a.pulldown_desktop {
	display: inline;
	color: inherit;
}

a.pulldown_mobile {
	display: none;
}

@media screen and (max-width: 910px)
{
	html.responsive body.v6 .page_content {
		max-width: 940px;
		width: auto;
		margin: 0 2%;
	}

	html.responsive body.v6 h2.pageheader {
		font-size: 30px;
		word-wrap: break-word;
	}

	html.responsive .leftcol,
	html.responsive .rightcol {
		float: none;
		width: auto;
		margin-left: 0;
	}

	html.responsive div#store_header,
	html.responsive div#store_header .content {
		min-width: 0;
		width: auto;
		height: auto;
		margin-bottom: 0;
	}

	html.responsive .responsive_store_nav_ctn_spacer {
		height: 16px;
	}

	html.responsive div#store_controls {
		display: none;
	}

	html.responsive div#store_header #store_nav_area {
		position: static;
	}

	html.responsive #store_header {
		display: none;
	}

	html.responsive #store_nav_area,
	html.responsive #store_nav_area .store_nav_bg,
	html.responsive #store_nav_area .store_nav {
		height: auto;
		margin: 0;
	}

	html.responsive #store_nav_area .store_nav .tab {
		float: none;
		display: block;
		border: none;
	}

	html.responsive div#store_search {
		float: none;
		border-left: none;
	}

	html.responsive .searchbox {
		width: auto;
		height: auto;
		background-image: none;
		background-color: rgba( 102, 192, 244, 0.5 );
		border-radius: 4px;
		box-shadow: inset 0 0 4px #000000;
		margin: 1px;
		padding: 0 6px;
	}

	html.responsive .searchbox:hover {
		background-image: none;
		margin: 0;
		border: 1px solid #ffffff;
	}

	html.responsive .searchbox input {
		width: 100%;
		font-size: 16px;
		margin: 0;
		line-height: 28px;
	}

	html.responsive .search_area {
		position: relative;
	}

	html.responsive .search_area .search_suggest {
		left: 4px;
		right: 4px;
		top: 35px;
		width: auto;
	}

	html.responsive .tab_item {
		padding-left: 0;
	}

	html.responsive .tab_item_cap_ctn {
		float: left;
		max-width: 33%;
	}

	html.responsive .tab_item_cap {
		position: static;
		float: left;
		max-width: 33%;
		margin-right: 3%;
	}

	html.responsive .tab_item_cap_img {
		width: 100%;
		height: auto;
		vertical-align: middle;
	}

	html.responsive a.pulldown_desktop {
		display: none;
	}

	html.responsive a.pulldown_mobile {
		display: inline;
		color: inherit;
	}
}

@media screen and (max-width: 600px)
{
	html.responsive body.v6 h2.pageheader {
		font-size: 24px;
	}

	html.responsive .tab_item_discount .discount_pct,
	html.responsive .tab_item_discount.no_discount .bundle_base_discount {
		display: inline-block;
		float: none;
		margin-top: 0;
	}

	html.responsive .tab_item_discount:not(.no_discount) {
		margin-top: 10px;
		width: auto;
	}

	html.responsive .tab_item_discount .discount_prices {
		display: block;
	}
}


/* main cluster rotation */

.main_cluster_content {
	width 616px;
	height: 395px;
	overflow: hidden;
	margin-bottom: 4px;
	position: relative;

	-webkit-overflow-scrolling: touch;
}

html.touch .main_cluster_content {
	overflow-x: scroll;
}

.main_cluster_content::-webkit-scrollbar {
	display: none;
}

.cluster_scroll_area {
	overflow: hidden;
}

.main_cluster_content a.cluster_capsule  {
	display: inline-block;
	width: 616px;
	height: 395px;
	margin-right: 4px;
	position: relative;
}

a.cluster_capsule:hover {
	text-decoration: none;
}

.main_cluster_content .cluster_capsule_image {
	width: 616px;
	height: 353px;
	display: block;
}

.main_cluster_content .cluster_capsule .ds_flag {
	box-shadow: 0 0 6px 0 #000000;
}

.main_cluster_content .cluster_maincap_fill {
	width: auto;
	display: block;

	position: relative;
	overflow: hidden;
}

.main_cluster_content img.cluster_maincap_fill_placeholder {
	width: 100%;
	height: auto;
}

.cluster_maincap_fill .cluster_maincap_fill_bg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.5;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	overflow: hidden;
}

.cluster_maincap_fill .cluster_maincap_fill_header {
	position: absolute;
	left: 78px;
	top: 69px;
	z-index: 2;
	box-shadow: 0 0 16px 6px #000000;
}

.cluster_maincap_fill.package .cluster_maincap_fill_header {
	width: 530px;
	height: 174px;

	left: 43px;
	top: 89px;
}

.cluster_maincap_fill.package .cluster_maincap_fill_bg.cluster_capsule_image  {
	width: 1076px;
	height: 353px;
	left: -230px;
}

.main_cap_discount, .main_cap_price {
	position: absolute;
	right: 0;
	bottom: 42px;
	z-index: 3;
}

.main_cap_price {
	background: #000000;
	font-size: 13px;
	color: #b0aeac;
	line-height: 25px;
	padding: 0 8px;
}

.main_cap_desc {
	height: 42px;
	line-height: 42px;
	background: rgba( 0, 0, 0, 0.2 );
	padding: 0 12px;
	overflow: hidden;
}

.main_cap_platform_area {
	float: right;
	padding-top: 5px;
}

.main_cap_status {
	color: #ffffff;
	font-size: 21px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			text-shadow: 1px 1px rgba( 0, 0, 0, 0.25 );

}

.main_cluster_ctn .home_btn.home_customize_btn {
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
	background: rgba( 44, 75, 100, 0.8 );
	box-shadow: 0 0 12px #000000;
}
.main_cluster_ctn .home_btn.home_customize_btn:hover {
	color: #ffffff;
	background: #67c1f5; /* Old browsers */
	background: -moz-linear-gradient(-60deg,  #67c1f5 0%, #417a9b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#67c1f5), color-stop(100%,#417a9b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* IE10+ */
	background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c1f5', endColorstr='#417a9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.main_cluster_ctn:hover .home_customize_btn,
.main_cluster_ctn .home_btn.home_customize_btn.active {
	display: block;
}
.main_cluster_ctn .home_btn.home_customize_btn.active {
	box-shadow: none;
}


/*
 * Generic capsules
 */
.store_capsule {
	display: inline-block;
	position: relative;
	vertical-align: top; /* Because browsers cannot be trusted to align things. */

	width: 229px; /* Base width. Override with your own selector later. 229 * 4 + 8 * 3 = 940 */
	background: -webkit-linear-gradient( -45deg, rgba(64,121,153,1) 5%,rgba(42,62,89,1) 95%););background: linear-gradient( -45deg, rgba(64,121,153,1) 5%,rgba(42,62,89,1) 95%););}

.store_capsule:not(:last-child) {
	margin-right: 8px; /* Again, a default. Adjust to fit your container. */
}

.store_capsule:hover {
	background: -webkit-linear-gradient( left, rgba(56,107,135,1) 5%,rgba(68,130,163,1) 95%);background: linear-gradient( to right, rgba(56,107,135,1) 5%,rgba(68,130,163,1) 95%);
	text-decoration: none;
}

.store_capsule .capsule {
	vertical-align: top;
}

.store_capsule .capsule > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	vertical-align: top;
}

.store_capsule .title {
	color: #c7d5e0;
	font-size: 13px;
	padding: 3px;
}

.store_capsule .discount_block {
	margin: 0;
	text-align: right;
	padding: 5px;
	line-height: 17px;
	min-height: 17px;
	font-size: 12px;
}

.store_capsule .discount_block > .discount_prices {
	display: inline-block;
	padding: 0 3px;
	background-color: rgba(20,31,44,0.4);
	border-radius: 1px;
}

.store_capsule .discount_block.daily_deal_discount  > .discount_prices {
	background-color: rgba(20,31,44,0.8);
}

/* Add more padding when we have no discount */
.store_capsule .discount_block.no_discount .discount_final_price {
	padding: 0 6px;
}

.store_capsule .discount_block .discount_final_price {
	color: #acdbf5;
}

.store_capsule .discount_block .discount_original_price {
	color: #577180;
}

.store_capsule .discount_block.discount_block_large .discount_prices {
	padding: 4px 10px 4px 7px
}

.store_capsule .discount_block:not(.discount_block_large) .discount_pct {
	font-size: 11px;
}


.store_capsule .ds_flag { /* May need further adjustment for your particular capsule style */
	left: 0px;
}

.store_capsule.ds_flagged:not(.ds_wishlist) .capsule > img {
	opacity: 0.3;
}



.store_capsule_container_scrolling {
	white-space: nowrap;
	overflow: hidden;
}

.store_capsule_frame {
	padding: 11px 16px;
	margin: 20px -17px;
	background: -webkit-linear-gradient( top, rgba(22,33,46,1.0) 5%, rgba(22,33,46,0) 95%);background: linear-gradient( to bottom, rgba(22,33,46,1.0) 5%, rgba(22,33,46,0) 95%);	border: 1px solid transparent;
	border-bottom: none; /* Fixes a weird artifact where the bottom border is 0,0,0,0.1 or something? */
	border-image: linear-gradient(to bottom, rgba(46,57,70,1) 5%, rgba(46,57,70,0) 95% ) 1;
}

/* Aspect ratios */
.store_capsule > .capsule.header, .store_capsule > .capsule.headerv5, .store_capsule > .capsule.headerratio {
	padding-top: 46.57534246575342%;
}

.store_capsule > .capsule.smallv5 {
	padding-top: 37.5%
}


/* ds_options defines the per-app prefernces dropdown */
.ds_options {
	display: block;
	position: absolute;

	top: 0px;
	right: -5px;
	cursor: pointer;
	opacity: 0;
	padding: 5px 5px 0 0;
	transition: opacity 0.2s, right 0.2s;

}

.ds_options > div {
	width: 15px;
	height: 15px;

	background-color: rgba(54,97,125,1);
	background-image: url('/public/images/v6/icon_expand.png');
	background-position: 4px 4px;
	border-radius: 3px;
	background-repeat: no-repeat;
	box-shadow: 0 0 3px #000;
}

.ds_options:hover > div {
	background-color: #67c1f5;
	color: #fff;
	background-image: url('/public/images/v6/icon_expand_white.png');
}

*:hover > .ds_options, .ds_hover.ds_options {
	opacity: 1;
	right: 0px;
}

.ds_options_tooltip {
	background: -webkit-linear-gradient( top, #e3eaef 5%, #c7d5e0 95%);background: linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);	padding: 2px 8px;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 3px #000;
}

.ds_options_tooltip > .option  {
	margin: 5px 0;
	display: block;
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
	border-radius: 2px;
	padding: 4px 8px;
	line-height: normal;
	font-size: 11px;
	color: #407898;
}
.ds_options_tooltip > .option:hover {
	color: #ffffff;
	background-color: #67c1f5;
}

/* Temporary state for when we want to hide something but don't want to force a reload or risk breaking the layout */
.ds_ignored {
	opacity: 0.3;
}


body.v6 .store_capsule_frame h2, body.v6 .store_capsule_frame h3 {
	text-transform: uppercase;
	color: #fff;
	margin: 0 0 10px;
	font-size: 17px;
	letter-spacing: 2px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		}

body.v6 .store_capsule_frame h2 span.right {
	float: right;
	text-transform: none;
	letter-spacing: normal;
}

body.v6 .store_capsule_frame h3 {
	font-size: 14px;
	letter-spacing: 2px;
}

body.v6 .store_capsule_frame h2 > a {
	color: inherit;
}

body.v6 .store_capsule_frame > h3, body.v6 .store_capsule_frame > h3 > a {
	color: #abdaf4;
	margin: 0 0 10px;
	font-size: 14px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			margin-top: -6px;
}

@media screen and (max-width: 910px)
{
	html.responsive div.main_cluster_content {
		width: auto;
		height: auto;
	}

	html.responsive .main_cluster_content a.cluster_capsule {
		width: auto;	/* javascript will set */
		height: auto;
	}

	html.responsive .main_cluster_content .cluster_capsule_image:not(.cluster_maincap_fill_bg) {
		width: 100%;
		height: auto;
	}

	html.responsive .cluster_maincap_fill .cluster_maincap_fill_header {
		left: 12%;
		top: 19.5%;
		width: 74%;
		height: auto;
	}

	html.responsive .main_cluster_ctn {
		max-width: 616px;
		margin: 0 auto;
	}

	html.responsive .main_cluster_ctn.large_cluster_responsive {
		max-width: 462px;
	}
}


.game_page_background.game {
	background-position: center top;
	background-repeat: no-repeat;
	min-width: 972px;
}

.mature_content_filtered {
	padding: 10px;
	margin-bottom: 10px;
	background-color: rgba( 0, 0, 0, 0.2 );

}
.mature_content_filtered a {
	text-decoration: underline;
	color: #2f89bc;
}

.mature_content_filtered.search {
	float: right;
	display: inline-block;
}

@media screen and (max-width: 910px )
{
	html.responsive .game_page_background.game {
		min-width: 0;
	}

	html.responsive .game_page_background.sale_page_background {
		background-position: center -66px;
	}
}
/* store_v2.css */


body.v6 {
	background: url( '/public/images/v6/colored_body_top2.png?v=2' ) center top no-repeat #1b2838;
	/* background: #1b2838; */
}

.page_header_ctn {
	background: url('/public/images//v6/temp/cluster_bg_2.png' ) bottom center no-repeat;
}

div#store_controls {
	top: 8px;
}

div.store_header_btn {
	box-shadow: 0 0 3px #000;
}



.store_capsule_frame.no_bg {
	background: none;
	border: none;
}

.store_header_btn_gray {
	background-image: url( '/public/images/v6/storemenu/background_wishlist.jpg' );
	background-color: rgba( 255, 255, 255, 0.4 );
	background-position: -34px 20px;
	border-radius: 1px;
}

.store_header_btn_green {
	background-image: url( '/public/images/v6/storemenu/background_cart.jpg' );
	background-color: rgba( 164, 208, 7, 0.4 );
	background-position: -34px 20px;
}

#store_nav_area .store_nav_bg,
.home_page_body_ctn.has_takeover #store_nav_area .store_nav_bg {
	background: rgba( 62, 126, 167, 0.8);
	box-shadow: 0 0 3px rgba( 0, 0, 0, 0.4);
}

.store_nav .tab {
	border-right: 1px solid rgba( 16, 21, 25, 0.3);
}

.store_nav .tab > span {
	color: #d9dadd;
	font-size: 13px;
	line-height: 34px;
	text-shadow: -1px -1px 0px rgba( 0, 0, 0, 0.25 );
		font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}

.store_nav .tab > span.pulldown > span {
	background-image: url( '/public/images/v6/btn_arrow_down_padded_white.png' );
}


.main_cluster_content .cluster_maincap_fill {
	background: #1b2838;
}

.cluster_maincap_fill .cluster_maincap_fill_bg {
	-webkit-filter: blur(10px);
}

.store_nav .tab img.foryou_avatar {
	margin-left: -5px;
}

.store_nav .tab:hover > span,
.store_nav .tab:hover,
.store_nav .tab.focus > span,
.store_nav .tab.focus {
background: -webkit-linear-gradient( top, #e3eaef 5%, #c7d5e0 95%);background: linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);	color: #000;
	text-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.25 );
	height: 33px;
}

.searchbox {
	background-image: none;
	background-color: #316282;
	border-radius: 3px;
	border: 1px solid rgba( 0, 0, 0, 0.3);
	box-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.2);
	color: #fff;
	margin-bottom: 0px;
	outline: none;
	height: 27px;
	padding: 0px 6px;
}
.searchbox:hover {
	background-image: none;
	border: 1px solid #4c9acc;
	box-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.0);
}
.searchbox input.default {
	color: #0e1c25;
	font-size: 14px;
	margin-top: 1px;
	text-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.1);
		font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}

a#store_search_link img {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 1px;
	right: -1px;
	background-image: url('/public/images/v6/search_icon_btn.png');
}
a#store_search_link img:hover {
	background-image: url('/public/images/v6/search_icon_btn_over.png');
}

.page_header_ctn.tabs.capsules {
	margin-bottom: -76px;
}

body.v6 .recommendation_section h2,
body.v6 .recommendation_mainsection h2 {
	text-transform: uppercase;
	color: #fff;
	margin: 0 0 10px;
	font-size: 17px;
	letter-spacing: 2px;
	font-family: "Motiva Sans", Sans-serif;
	font-weight: normal;
	padding-top: 2px;
}

body.v6 .home_page_content h2 span.right,
body.v6 .recommendation_section h2 span.right,
body.v6 .recommendation_mainsection h2 span.right {
	float: right;
	text-transform: none;
	letter-spacing: normal;
	display: inline-block;
	position: relative;
	top: -3px;
}

/* ===== from shared_global.css ====== */
body.v6 .store_nav .popup_block_new .popup_body,
body.v6 #footer_nav .popup_block_new .popup_body {
background: -webkit-linear-gradient( top, #e3eaef 5%, #c7d5e0 95%);background: linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);	padding: 8px 5px 8px 5px;

}


.store_nav .popup_menu .popup_menu_item,
.footer_content .popup_menu .popup_menu_item,
.search_area .popup_body .match,
.search_area .popup_body .match .match_name {
	color: #000;
}

.store_nav .popup_menu .popup_menu_item:hover,
.store_nav .popup_menu .popup_menu_item.focus,
.footer_content .popup_menu .popup_menu_item:hover,
.footer_content .popup_menu .popup_menu_item.focus,
.search_area .popup_body .match:hover,
.search_area .popup_body .match:hover .match_name {
	color: #fff;
	background-color: #212d3d;
}
body.v6 .store_nav .popup_menu .hr, body.v6 #footer_nav .popup_menu .hr {
	margin: 5px 10px 5px 10px;
	background-color: #fff;
}
body.v6 .store_nav .popup_menu_subheader, body.v6 #footer_nav .popup_menu_subheader {
	color: #4f94bc;
}