﻿body{background-color:#EAEAEA}.container{background-color:#fff}.text-red{color:red}.iflicks,.iflicks:hover{color:#FFBE00}.br-news,.br-news-text{color:#DC091F}.br-news{background-color:#ccc}.ticker{background-color:#fff}.br-news-icons{color:#000;background-color:#eee}#MainMenu li a{color:#333;background-color:transparent}#MainMenu li.active a{color:#DC091F}#MainMenu li a:hover{background-color:transparent;color:#DC091F}#SubMenus{background-color:#ddd}#SubMenus li,#SubMenus li a{color:#333;border-color:#333}#SubMenus li.active a{color:#DC091F}.copyright,.sitetour .footerinnerlist h4 a,.sitetour .footerinnerlist ul li a{color:#666}.hr-line{border-bottom:1px solid #000}.footer-side p a{color:#666;border-right:1px solid #666}.Listing h4,.Listing p,.static h2{color:#000}.fa-share-alt{color:#bbb!important}
#SubMenus li a:hover {
    background-color: transparent;
    color: #DC091F;
}