@charset "utf-8";
/*--Alink------------------------------------------------------------------------------------*/

a.a_gray_12p {font-size:12px;color:#CCC; text-decoration:none;}
a:hover.a_gray_12p {color:#6cf;}

a.a_gray_13p {font-size:13px;color:#CCC; text-decoration:none;}
a:hover.a_gray_13p {color:#ff6;}

a.a_gray02_13p {font-size:13px;color:#666; text-decoration:none;}
a:hover.a_gray02_13p {color:#999;}

a.a_white_13p {font-size:13px;color:#fff;text-decoration:none;}
a:hover.a_white_13p {color:#ff6;text-decoration:underline;}

a.a_white_15p {font-size:15px;color:#999;text-decoration:none;}
a:hover.a_white_15p {color:#fff;text-decoration:underline;}

a.a_white_16p {font-size:16px;color:#fff;text-decoration:none; letter-spacing:1px;}
a:hover.a_white_16p {color:#ff6;}

a.a_white_20p {font-size:20px;color:#fff;text-decoration:none;letter-spacing:2px;font-weight:bold;}
a:hover.a_white_16p {color:#ff6;}

a.a_red_12p {font-size:12px;color:#c33;text-decoration:none;}
a:hover.a_red_12p {font-weight:bold;}

a.a_red_22p {font-size:22px;color:#c33;text-decoration:none; font-weight:bold;}
a:hover.a_red_22p {text-decoration:underline;}

a.a_red_16p {font-size:16px;color:#c33;text-decoration:none;}
a:hover.a_red_16p {text-decoration:underline;}

a.a_red_18p {font-size:18px;color:#c33;text-decoration:none;}
a:hover.a_red_18p {text-decoration:underline;}

a.a_blue_12p {font-size:12px;color:#369;text-decoration:none;}
a:hover.a_blue_12p {color:#69c;}

a.a_blue_13p_prebook {font-size:13px;color:#09c;text-decoration:none;line-height:20px;}
a:hover.a_blue_13p_prebook {color:#3cf;}

a.a_deepblue_13p {font-size:13px;color:#036;text-decoration:none;}
a:hover.a_deepblue_13p {text-decoration:underline;}

a.a_blue_16p {font-size:16px;color:#036;text-decoration:none;}
a:hover.a_blue_16p {text-decoration:underline;}

a.a_blue_18p {font-size:18px;color:#036;text-decoration:none;}
a:hover.a_blue_18p {text-decoration:underline;}

a.a_bluefooter_13p  {font-size:13px;color:#fff;text-decoration:none;}
a.a_bluefooterB_13p  {font-size:13px;color:#fff;text-decoration:none;font-weight:bold;}
a:hover.a_bluefooter_13p,a:hover.a_bluefooterB_13p {color:#ff6;}

a.a_titles_space{font-size:20px;color:#000;text-decoration:none;padding-left:18px;letter-spacing:1px;}
a.a_titles{font-size:20px;color:#000;text-decoration:none;letter-spacing:1px;}

a.a_area_titleA {font-size:15px;color:#c33;text-decoration:none;line-height:20px;font-weight:bold;}
a:hover.a_area_titleA {text-decoration:underline;}

a.a_area_contentA {font-size:13px;color:#036;text-decoration:none;line-height:20px;}
a:hover.a_area_contentA {text-decoration:underline;}

a.a_area_contentC {font-size:13px;color:#c00;text-decoration:none;line-height:20px;}
a:hover.a_area_contentC {text-decoration:underline;}


/*--Span------------------------------------------------------------------------------------*/


span.s_white_12p {font-size:12px;color:#fff;}
span.s_gray_12p {font-size:12px;color:#CCC;}
span.s_gray02_12p  {font-size:12px;color:#666;}
span.s_gray_15p  {font-size:15px;color:#999;}
span.s_blue_13p  {font-size:13px;color:#069;}
span.s_bluefooter_13p  {font-size:13px;color:#ccc;}
span.s_titles{font-size:20px;color:#000;letter-spacing:1px;}
span.s_titles_space{font-size:20px;color:#000;letter-spacing:1px;padding-left:18px;}
span.s_blue_title_13p {font-size:13px;color:#39C; font-weight:bold;line-height: 30px;}
span.s_red_title_25p {font-size:25px;color:#C00;font-weight:bold;letter-spacing:2px; line-height: 30px;}
span.s_red_title_18p {font-size:18px;color:#C00;font-weight:bold;letter-spacing:2px; line-height: 24px;}
span.s_red_title_15p {font-size:15px;color:#C00;font-weight:bold;letter-spacing:2px;}
span.s_redbg_13p  {font-size:13px;color:#fff;letter-spacing:1px;background-color:#c00;
                   padding:2px 5px 1px 5px;line-height:22px;}
span.s_redbg_10p  {font-size:10px;color:#fff;letter-spacing:1px;background-color:#c00;
                   padding:2px 5px 1px 5px;line-height:20px;}

/*--P paragraph------------------------------------------------------------------------------------*/
p.p_blue_12p  {font-size:12px;color:#036; line-height:18px;}
p.p_gray_12p  {font-size:12px;color:#666; line-height:18px; text-align: left;}
p.p_grayB_12p  {padding:0; margin:0;font-size:12px;color:#666; line-height:18px; width:auto;}
p.p_gray_13p {font-size:13px;color:#666;line-height:20px; text-align: left;}
p.p_gray02_13p {font-size:13px;color:#333;line-height:23px; text-align: left; padding-top:16px;}
p.p_gray03_13p {padding:0;margin:0;font-size:13px;color:#333;line-height:23px;text-indent:28px;padding-top:16px;padding-bottom:20px;}
p.p_gray04_13p {padding:0;margin:0;font-size:13px;color:#333;line-height:23px;text-indent:28px;padding-top:16px;}
p.p_gray05_13p {padding:0;margin:0;font-size:13px;color:#333;line-height:23px;text-indent:28px;padding-bottom:20px;}
p.p_gray_15p {padding:0;margin:0;font-size:15px;color:#666; padding-top:13px;}
p.p_gray_15p:hover  {padding:0;margin:0;font-size:15px;color:#09f; padding-top:13px;}

/*--Table area------------------------------------------------------------------------------------*/

.area_A{padding:10px;}
.area_A_2{padding:8px;}
.area_B ul{margin:0; padding:0;list-style:none;}
.area_B li{padding:5px;}
.area_B li a{padding-left:10px;display:block;font-size:15px;color:#036;line-height:24px;padding-bottom:1px; 
             background:url(http://img1.cna.com.tw/www/images/solid_line.gif) repeat-x left bottom; text-decoration:none;}
.area_B li a:hover{color:#369;}
.area_C {padding:8px;}
.area_C span{font-size:13px;color:#036;line-height:20px; padding-left:15px;magin-bottom:10px;}
input.in_gray_12p {font-size:13px;color:#CCC; letter-spacing:1px;}
.side_menu td:hover{ background-color:#369;}


/*--Person BLOG Area start------------------------------------------------------------------------------------*/

.blog_area_content
{background:url(http://img1.cna.com.tw/www/images/persons_blog_images/blog_bg_20091012.jpg);
background-position:left bottom; background-repeat:no-repeat;
font-family: "新細明體", Verdana, Arial, Helvetica, sans-serif;}

.blog_area_content ul.other_content_ul,.blog_area_content img{margin:0;padding:0;}

.blog_area_content .photo{margin:20px 15px 2px 5px;}

.blog_area_content a.blue_title
{display:block;margin:0;padding:0; margin-top:10px;font-size:16px; color:#006699;font-weight:bolder; text-decoration:none;line-height:25px;} 
.blog_area_content a:hover.blue_title
{text-decoration:underline;}
.blog_area_content .gray_name
{font-size:11px; color:#FFF;text-decoration:none; background-color:#999;padding:1px; line-height:20px;}
.blog_area_content p.p_blogcontent{margin:3px 6px 0 10px; padding:0;font-size:13px;color:#666;line-height:20px;}
.blog_area_content .other_content
{margin:8px 0 0px 15px;}
.blog_area_content .other_content ul
{margin:0;padding:0;list-style-type:none;font-size:12px; color:#999;padding:15px 0 20px 30px ;}
.blog_area_content .other_content li a
{margin:0;padding:0;display:block; width:370px;height:20px;text-decoration:none;color:#336699;padding-top:7px;}
.blog_area_content .other_content .gray_other
{font-size:13px;text-decoration:none;color:#999;}




/* --Person BLOG Area over ------------------------------------------------------------------------------------ */