@charset "utf-8";
/* CSS Document */
body{ width:100%; line-height:24px; font-family:"微軟正黑體",Arial, Helvetica, sans-serif; min-width: 1200px; /*zoom: document !important;*/}
a:link, a:visited{ text-decoration:none;}
img{ border:none;}
em {font-style: normal;}
figure{ margin:auto;}

/*header========================*/
.header_box{ width:100%; height:120px; position:relative; background-color:#005bc2;}
.tool_link{ width:1200px; margin:0px auto; padding-top: 4px; font-size:12px; color:#ffffff; text-align:right;}
.tool_link a:link, a:visited{ font-size:12px; color:#ffffff;}
.header_content{ width:1200px; height:86px; margin:0 auto; padding-top:6px;}
.logo{ width:111px; height:73px; position: absolute; float: left;}

.btn_nav_box{ width:725px; margin-left: 140px; float:left;}
.sub_btn, .sub_btn ul{ width:100%; height:30px; padding-left: 6px;}
.sub_btn ul li, .sub_btn ul li a:link, .sub_btn ul li a:visited{ float:left; color:#ffca4f; line-height:30px; vertical-align: top;}
.sub_btn ul li a:hover{color:#fffd46;}
.sub_btn ul li span{ margin:0 10px;}
.sub_btn ul li img{ display:inline-block;}

.search{ border-radius: 2px; border:1px #3389df solid; background-color:#0d47a1; width: 279px; height:37px; margin:5px 0 0 0; float:right; line-height: 36px;}
.search .magnifier{ float:right; margin:5px;}
.search input{ width:80%; height:37px; float:left; border:none; background-color:transparent; line-height:36px; font-family:"微軟正黑體","新細明體",Arial, Helvetica, sans-serif; font-size:12px; margin: 0 0 0 0.8em; color:#dadada;}
.keyword{ height:37px; margin:5px 0 0 0; float:right; color:#FFFFFF; font-size:12px;}
.keyword span, .keyword span a:link, .keyword span a:visited{ color:#ffca4f; margin:0 2px 0 0;}

.app_links {display: inline-block;}
.phone_menu{ display:none; position:absolute; z-index:9999; background-color:rgba(50, 91, 132, 0.8); min-width: 180px;}
.phone_menu ul{ text-align:left; padding:2% 5%;}
.app_links:hover .phone_menu{ display:block;}

/*navigation========================*/
#nav_box, .main-menu{ float:left; width:725px;}
.nav,.nav a,.nav ul,.nav li,.nav div,.nav form,.nav input {	margin: 0;padding: 0;border: none;outline: none;}
.nav a { text-decoration: none; }
.nav li { list-style: none; font-size: 16px;}
/* Menu Container */
.nav {display: inline-block;position: relative;cursor: default;z-index: 500;}
/* Menu List */
.nav > li {display: block;float: left;}
/* Menu Links */
.nav > li > a {
	position: relative;
	display: block;
	z-index: 510;
	height: 40px;
	padding: 0 13.5px;
	line-height: 40px;
	font-size: 16px;
	color: #fcfcfc;
	text-shadow: 0 0 1px rgba(0,0,0,.35);
	background: #3389df;
	border-left: 1px solid #1565c0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.nav > li:hover > a { background: #fb6b2e; }
.nav > li:first-child > a {border-left: none;}

/* Menu Dropdown */
.nav > li > div {
	border: 1px solid #e3efff;
	position: absolute;
	display: block;
	width: 99.7%;
	left:0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	background: #ffffff;
	-webkit-transition: all .3s ease-in-out .15s;
	-moz-transition: all .3s ease-in-out .15s;
	-o-transition: all .3s ease-in-out .15s;
	-ms-transition: all .3s ease-in-out .15s;
	transition: all .3s ease-in-out .15s;
}
.nav > li > div.menu_right { width:50%; left: 49.6%;}
.nav > li > div.menu_left { width:50%;}
.nav > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}
/* Menu Content Styles */
.nav .nav-column {
	float: left;
	width: 49.5%;
	padding: 5% 0 2.8% 1.5%;
	overflow: hidden;
}
.nav .nav-column2 {
	float: right;
	width: 47.2%;
	padding: 3% 0.9% 2.8% 0.9%;
	overflow:hidden;
}
.nav .nav-column3 {
	padding: 2.3% 5%;
    text-align: left;
}
.nav .nav-column-pic{ width:350px; height: 215px; padding:0 0 12px 0;text-align: center;vertical-align: middle; display: table-cell;}
.nav .nav-column-pic img{ max-width:340px; max-height:215px;-webkit-box-shadow: -2px 2px 0px 0px rgba(72,172,255,1);
-moz-box-shadow: -2px 2px 0px 0px rgba(72,172,255,1);
box-shadow: -2px 2px 0px 0px rgba(72,172,255,1);}
.nav .nav-column li {line-height: 40px;}
.nav .nav-column2 li, .nav .nav-column3 li {border-bottom: 1px solid #f2f2f2; line-height: 40px;}
.nav .nav-column li a, .nav .nav-column2 li a, .nav .nav-column3 li a {
	display: block;
	color: #424242;	
}
.nav .nav-column li a:hover, .nav .nav-column2 li a:hover , .nav .nav-column3 li a:hover { color: #666666; }
.nav .nav-column li.pic_title{ font-size: 20px; line-height:38px; font-weight:bold; border-bottom: 1px solid #f2f2f2;}
.nav_more{ background-color:#e6f3fd; display: block; float: right; width: 100%; line-height:40px; text-align:right; color:#0d47a1;}
.nav_more span{ padding-right:20px;}
.nav_more span a:link, .nav_more span a:visited{color:#0d47a1;}

/*textslider========================*/
#textslider_main { width:100%; height:45px; background-color:#3389df; margin:0 auto;}
.textslider_box { width:1200px; height:45px; line-height:45px; margin:0 auto; position:relative;}
.slideText, .slideText3{ position: relative; overflow: hidden; width:960px; height: 45px; float:left;}
.slideText ul, .slideText li{ margin: 0; padding: 0;list-style: none; font-size:20px; }
.slideText3 ul, .slideText3 li{ margin: 0; padding: 0;list-style: none; font-size:21px; }
.slideText ul, .slideText3 ul{position: absolute;}
.slideText li, .slideText3 li{ text-align: left;}
.slideText li a, .slideText li a:visited, .slideText3 li a, .slideText3 li a:visited{display: block;overflow: hidden; text-decoration: none; line-height:45px; color:#ffffff;}
.slideText3 span.number{ color:#FFF100; font-weight:bold; font-size:23px;}

.slideText2 { position: relative; overflow: hidden; width: 100%; height: 40px; padding-left: 6px; float:left;}
.slideText2 ul, .slideText2 li  { margin: 0; padding: 0;list-style: none; font-size:22px;}
.slideText2 ul {position: absolute;}
.slideText2 li.election1, .slideText2 li.election2, .slideText2 li.election3 { text-align: left;}
.slideText2 li.election span{ color:#FFF100; font-weight:bold; font-size:24px;}
.slideText2 li a, .slideText2 li a:visited {display: block;overflow: hidden; text-decoration: none; line-height:40px; color:#ffffff;}

/*night_break========================*/
.night_break{ width:100%; height:50px; background-color:#003FA1; margin:0 auto;}
.night_break p{ width:1200px; height:50px; line-height:50px; margin:0 auto; position:relative; font-size:24px;color:#FFFD46;font-weight: bold;}
.night_break p img{ margin:0 10px; vertical-align:baseline;}

/*night_break2========================*/
.night_break2{ width:100%; height:50px; margin:0 auto;}
.night_break2 p{width: 1200px; line-height:40px;margin: 10px auto 0 auto;position: relative;font-size: 24px;color: #0D47A1;font-weight: bold;border-bottom: 2px solid #E8E8E8;}
.night_break2 p a{color: #0D47A1;}
.night_break2 p img{ margin:0 10px; vertical-align:baseline;}

/*social========================*/
.social_box{ width:240px; height:45px; float:right;}
.fb, .fb a:link{ width:48px; height:45px; float:left; background-color:#6fabff; display:inline-table; text-align:center;}
.fb img{ vertical-align:middle;}
.g_plus, .g_plus a:link{ width:48px; height:45px; float:left; background-color:#fa6262; display:inline-table; text-align:center;}
.g_plus img{ vertical-align:middle;}
.line, .line a:link{ width:48px; height:45px; float:left; background-color:#6CF36C; display:inline-table; text-align:center;}
.line img{ vertical-align:middle;}
.rss, .rss a:link{ width:48px; height:45px; float:left; background-color:#fb6b2e; display:inline-table; text-align:center;}
.rss img{ vertical-align:middle;}
.tools, .tools a:link{ width:48px; height:45px; float:left; background-color:#1169dd; display:inline-table; text-align:center;}
.tools img{ vertical-align:middle;}

/*wrapper========================*/
.wrapper_box{ width:1200px; margin:0 auto 15px auto; position:relative; display:table; overflow:hidden;}
.left_wrapper{ width:910px; float:left; padding:10px 0 0 0; clear: both;}
.right_wrapper{ width:240px; float:right;}
.left_wrapper_inpage{ width:840px; float:left; padding:10px 0 0 0;}
.left_wrapper_list{ width:870px; float:left; padding:10px 0 0 0;}
.right_wrapper_inpage{ width:300px; float:right;}

/*slide========================*/
.slide_box{ padding:5px; background-color:#f3f2f2; width:596px; height:472px; float:left; margin: 0 0 10px 0;}
#banner-slide{ width:596px; height:447px;}
ul.bjqs-controls.v-centered li a{display:block; padding:10px; color:#000;text-decoration: none;}
ul.bjqs-controls.v-centered li a:hover{color:#fff;}
ol.bjqs-markers li a{ padding:3px 10px; color:#0d47a1; text-decoration:none; font-size:12px; font-weight:bold;}
ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{background:#0d47a1; color:#ffffff;}
p.bjqs-caption{background-color:rgba(0, 0, 0, 0.5);}
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{ position:absolute; display:none;}
li.bjqs-slide img{ width:100%; height:100%;}
ul.bjqs-controls{list-style:none; margin:0; padding:0; z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style:none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{ text-align:left; background-color:#f3f2f2;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{ display:block; width:96%; margin:0; padding:2% 2.2%;position:absolute;bottom:0; color:#ffffff; font-size:18px; border-bottom:1px solid #ececec;}

/*latest_news========================*/
.latest_news{ width:280px; height:480px; float:right; padding:0 10px; margin: 0 0 10px 0;}
.latest_news div > ul { width:300px; height:460px; margin: 0;padding: 0;border-bottom: 3px solid #666;overflow: hidden;}
.latest_news ul { padding:14px 0 0 0;}
.latest_news ul li {list-style: none;float: left;margin-right: 4px; background-color:#0d47a1;}
.latest_news ul li a {font-size:12px;display: inline-block;padding: 3px 10px;color: #ffffff; outline: 0;text-decoration: none;}
.latest_news ul li.active, .latest_news ul li a:hover{background-color:#2196f3;}
.latest_news_color, .latest_news_color a{color: #f23f00!important;}
.latest_news_color2, .latest_news_color2 a{color: #d7000f!important;}
.tabscontent{ overflow:hidden;}
#tab-2, #tab-3{ display:none;}
.tabscontent p{ padding:5px 0; border-bottom:1px solid #ececec; color:#424242; font-size: 20px;line-height: 30px;}
.tabscontent p a:link, .tabscontent p a:visited {color:#424242;}
.red_title { padding:0 0 6px 0; color:#d7000f;font-size: 30px;font-weight: bold;line-height: 38px; border-bottom:1px solid #ececec;}
.red_title a:link, .red_title a:visited{color:#d7000f;}
.more {float: right;line-height: 30px;}
.more a{font-size:12px;display: inline-block; background-color:#ffffff; color:#0d47a1;}

/*news_box========================*/
.news_box{ width:440px; /*min-height:190px;*/ float:left; margin:0 10px 2px 5px;}
.class_title{font-size: 16px; height:30px; font-weight:bold; line-height: 30px; border-bottom:1px solid #ececec;}
.class_title ul li, .class_title ul li a:link, .class_title ul li a:visited{color:#0d47a1; margin-left:2px; float:left;}
.class_title p, .class_title p a:link, .class_title p a:visited{color:#0d47a1; margin-left:2px;}
.class_title p img{ margin:0 6px 0 0; vertical-align:middle;}
.class_content{ max-width:450px; border-bottom:1px solid #ececec; overflow:hidden;}
.class_content2 {width: 100%;}
.class_pic{ width:155px; height:115px; overflow:hidden; margin:6px 5px; float:left;text-align:center; background-color:#f2f1f1;-webkit-box-shadow: -1px 1px 0.5px 1px rgba(71,71,71,0.5); -moz-box-shadow: -1px 1px 0.5px 1px rgba(71,71,71,0.5);box-shadow: -1px 1px 0.5px 1px rgba(71,71,71,0.5);}
.class_pic img{ max-height:115px; max-width:100%;display: inline-block;vertical-align: middle;}
.centerer{display: inline-block;height: 100%;vertical-align: middle;}
.class_list{ width: 270px; float:right; margin:6px 2px;}
.class_list ul li, .class_list ul li a:link, .class_list ul li a:visited{ font-size:14px;line-height:24px; color:#424242;}
.class_list2{ width: 430px; float:right; margin:10px 5px;}
.class_list2 ul li, .class_list2 ul li a:link, .class_list2 ul li a:visited, .class_list2 p{ font-size:14px;line-height:24px; color:#424242;}
.class_list2 p a:link, .class_list2 p a:visited{ color:#0d47a1;}
.class_list3{ width: 260px; float:right; margin:2px;}
.class_list ul li.title_blue, .class_list ul li.title_blue a:link, .class_list ul li.title_blue a:visited {color:#0d47a1;}
.list_more, .list_more a:link, .list_more a:visited{text-align: right; font-size:12px; color:#073c81; display:inline-block; width:100%;}
#tab-5, #tab-6, #tab-7{ display:none;}
.phto_box{ width:206px; height:155px; float:left; overflow:hidden; margin: 0 6px 0 6px; position:relative;}
.phto_box3{ height:143px; overflow:hidden; margin: 10px;}
.phto{ width:206px; height:155px;text-align:center; margin:10px 0; background-color:#000000;}
.phto img{ width:100%;}
.pic_caption{ width:206px; height:40px; display:block; position:absolute; bottom:0;}
.pic_caption p{font-size: 14px;line-height:40px; color:#ffffff; padding:0 10px; background-color:rgba(0, 0, 0, 0.5);}
.pic_caption p a:link, .pic_caption p a:visited{color:#ffffff;}

/*news_topic========================*/
.news_topic{ width:440px; float:right; margin:12px 5px 0 10px;}
.news_topic p.n_title{font-size:14px;}
.news_topic p.n_title a{color:#0d47a1; font-size:14px;}
.news_topic p.n_content{font-size:14px;}
.news_topic .class_content{display:inline-block; position:inherit; border-bottom:none;}
.news_topic .list_more{ margin:0; border-top:1px solid #ececec; width: 100%;}

/*hot_keyword========================*/
.hot_keyword{ float:left; margin:4px 0;}
.hk_title{color:#1565c0; font-size:16px; font-weight:bold; line-height: 60px; float:left;}
.hk_title img{ vertical-align:sub; margin:0 10px;}
.keybg{background-color:#1565c0; box-shadow: -2px 2px 0px 0px rgba(154, 196, 255, 0.75); width:755px; height:40px; float:left; margin: 8px 0 0 26px;}
.keybg ul{ width:755px; position: absolute;}
.keybg ul li{ font-size:16px; line-height:40px; color:#ffffff; float:left; min-width:150px; text-align:center; border-right:1px solid #1976d2;}
.keybg ul li a:link{ line-height:40px; color:#ffffff; float:left; width:150px; text-align:center;}
.keybg ul li a:hover{ background-color:#2196f3;}

/*ad_970========================*/
.ad_970{ background-color:#f2f1f1; width:100%; height:90px; display:inline-table; text-align:center; margin:10px 0; padding:5px 0;}
.ad_970 span{ display: inline-block !important; vertical-align: middle;}
.ad_970 img{ width:728px; height:90px; vertical-align:middle;}
.ad_970_2{ background-color:#f2f1f1; width:1200px; height:90px; display:inline-table; text-align:center; margin:10px 0 15px 0; padding:5px 0;}
.ad_970 img{ width:728px; height:90px; vertical-align:middle;}
.ad_970 > div, .ad_970_2 > div{ margin:0 auto;}

/*ad_336========================*/
.ad_336{ /*width:336px; height:280px;*/ background-color:#f2f1f1; float:right; padding:10px 15px; margin:25px 15px;}
.ad_336_2{/*width:336px; height:280px;*/ background-color:#f2f1f1; float:left; padding:10px 15px; margin:25px 15px;}
.ad_336 > div, .ad_336_2 > div{ margin:0 auto;}

/*ad_300========================*/
.ad_300{ width:432px; float:left; margin:30px 0 0 22px; display:inline-table; text-align:center;}
.ad_title{color:#0d47a1;font-size:16px; padding-left:15px; text-align:left; background-color:#dbdada; height:32px; line-height:32px; font-weight:bold;}
.ad_content{ background-color:#f2f1f1; padding:10px 0;}
.ad_content > div{ margin:0 auto;}
.ad_300_2{ width:432px; float:left; margin:35px 0 0 0; display:inline-table; text-align:center;}
.ad_300_3{ width:300px; max-height:600px; margin:15px 0;}

/*ad_220========================*/
.ad_220{ width:240px; float:left; margin:5px 0 10px 0; display:inline-table; text-align:center;}

/*books========================*/
.books{ width:238px; float:left; margin:5px 0 10px 0; display:inline-table; border: 1px solid #dbdada;}
.books_title {color:#0d47a1;font-size:16px; padding-left:10px; text-align:left; background-color:#dbdada; height:32px; line-height:32px; font-weight:bold;}
.books_title a{ color:#0d47a1;}
.books_content{ margin:10px; display:inline-block; border-bottom: 1px dashed #dbdada; padding: 0 0 10px 0;}
.books_content p{color: #424242; font-size:12px; margin-bottom:10px; line-height: 20px;}
.books_pic{ float:left;}
.bookstxt{ float:right; width: 50%;}
.bookstxt p span, .bookstxt p span a:link, .bookstxt p span a:visited{ color:#0d47a1; font-weight:bold;}
.b_title{ float:left; color:#0067b5; font-size:14px; font-weight:bold; line-height:30px; width:100%;}
.b_title a{color:#0067b5;}
.books_pic img{box-shadow: -1px 2px 2px 0px rgba(71, 71, 71, 0.75);}
.books_other{ margin:-10px 10px 0 10px; display:inline-block;}
.b_title2{ float:left; color:#424242; font-size: 14px; font-weight:bold;}
.books_list{ margin: 0 0 10px 0;}
.books_list ul{ display: inline-table;}
.books_list ul li{ width:50%; display:inline-block; color:#424242; font-size:12px; line-height: 20px;}
.books_list ul li a:link, .books_list ul li a:visited{ color:#424242;}

/*other_tab========================*/
.other_tab{ margin:15px 0; width:910px; float:left;}
.tabbg{ background-color:#1565c0; box-shadow: -2px 2px 0px 0px rgba(154, 196, 255, 0.75); width:100%; height:40px;}
.tabbg ul{ width:100%; position: absolute;}
.tabbg ul li{ font-size:16px; line-height:40px; color:#ffffff; float:left; width:129px; text-align:center; border-right:1px solid #1976d2; }
.tabbg ul li a:link{ line-height:40px; color:#ffffff; float:left; width:129px; text-align:center;}
.tabbg ul li.active, .tabbg ul li a:hover{ background-color:#2196f3;}
.other_content{ background-color:#f2f1f1; box-shadow: -2px 2px 0px 0px rgba(154, 196, 255, 0.75); width: 100%;}
.mag_content{ margin:0 20px;}
.mag_box{ display: inline-table; margin: 10px 0;}
.phto_box2, .phto_box2{ width:190px; height:143px; float:left; overflow:hidden; margin:10px; position:relative;}
.phto2{width:190px;height:143px;text-align:center;margin:12px 0;background-color:#000000;vertical-align: middle;display: table-cell;}
.phto2 img{max-width: 100%;max-height:143px;}
.phto3{ width:190px; height:143px; text-align:center; margin:12px 0; background-color:#000000; vertical-align: middle;display: table-cell;}
.phto3 img{ max-width:190px; height:143px; vertical-align: middle;}
.pic_caption2{ width:190px; height:40px; display:block; position:absolute; bottom:0;}
.pic_caption2 p{font-size: 14px;line-height:40px; color:#ffffff; padding:0 10px; background-color:rgba(0, 0, 0, 0.5);}
.pic_caption2 p a:link, .pic_caption2 p a:visited{color:#ffffff;}
.o_title p{ width:190px; margin:10px; font-size:14px; color:#424242; font-weight:bold;}
.o_title p a:link, .o_title p a:visited{color:#424242;}
#tab-14 { padding:20px;}
#tab-14 p{font-size:14px; color:#424242; font-weight:bold;}
#tab-14 img{ margin:0 25px 0 0;}
#tab-9, #tab-10, #tab-11, #tab-12, #tab-13, #tab-14{ display:none;}

/*video_box========================*/
.video_box{ width:440px; float:right; margin:0 5px 0 10px;}
.vpic_box{ margin:8px 4px 0 4px; float:left;}
.video_logo{ position:absolute; margin:10px;}
/*.video_pic{ width:410px; height:230px;}*/
.video_pic img{ width:435px;}
.video_pic_s{ width:212px; height:159px; text-align: center; background-color:#000000;}
.video_pic_s img{ max-width:100%; max-height:159px; vertical-align: middle;}
.video_title{ width:435px; height:40px; position:absolute; margin:205px 0 0 0; background-color:#2196f3; display:inline-block;}
.video_title p{color:#ffffff; font-size: 16px; font-weight:bold; line-height: 40px; margin:0 15px;}
.video_title p a:link, .video_title p a:visited{color:#ffffff; }
.video_play { position: absolute;margin: 60px 173px;}
.video_play_s { position: absolute; margin:38px 80px; z-index:999;}
.video_play_s img{ max-width:53px;}
.video_title_s{ width:212px; height:40px; position:absolute; margin:120px 0 0 0; background-color:#2196f3; display:inline-block; overflow:hidden;}
.video_title_s p{ width:100%; color:#ffffff; font-size:14px; font-weight:bold; line-height: 40px; padding:0 5px; overflow:hidden;}
.video_title_s p a:link, .video_title p a:visited{color:#ffffff;}
.video_cover{ width:212px; height:113px;/* background-color:rgba(7, 60, 129, 0.7);*/ position:absolute;}

/*ad_banner========================*/
.ad_banner{ width:240px; min-height:70px; margin:10px 0; display:block;}

/*news_chart========================*/
.news_chart{width:240px; margin: 0 0 12px 0;}
.news_chart ul.tabs { width:240px; height:40px;/*box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.27);*/}
.news_chart_inpage{ width:300px; margin-bottom: 5px;}
.news_chart_inpage ul.tabs { width:300px; height:40px;}
.news_chart ul.tabs li, .news_chart_inpage ul.tabs li{ float:left; color:#0067b5; height:42px; line-height:42px; text-align:center; padding:0 5px;}
.news_chart ul.tabs li a:link, .news_chart ul.tabs li a:visited, .news_chart_inpage ul.tabs li a:link, .news_chart_inpage ul.tabs li a:visited{color:#0067b5; display:inline-table;}
.news_chart ul.tabs li a:hover, .news_chart_inpage ul.tabs li a:hover{ background-color:#f2f1f1; display:inline-table;}
.news_chart ul.tabs li.active, .news_chart_inpage ul.tabs li.active{ box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.27); background-color:#f2f1f1;}
.news_chart ul.tabs li img, .news_chart_inpage ul.tabs li img{ padding:10px 5px; float:left;}
.news_chart_list{ background-color:#f2f1f1; width:230px; height:auto; box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.27); padding:0 5px;}
.news_chart_list_inpage{ background-color:#f2f1f1; width:250px; height:auto; box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.27); padding:5px 25px;}
.news_chart_list ul.list, .news_chart_list ul.list2{ padding:6px;}
.news_chart_list ul.list li, .news_chart_list_inpage ul.list li{color:#0067b5;font-size: 14px; line-height:24px;}
.news_chart_list ul.list li a:link, .news_chart_list ul.list li a:visited, .news_chart_list_inpage ul.list li a:link, .news_chart_list_inpage ul.list li a:visited{color:#0067b5 !important;}
.news_chart_list ul.list2 li, .news_chart_list_inpage ul.list2 li{color:#424242;font-size: 14px; line-height:24px;}
.news_chart_list ul.list2 li a:link, .news_chart_list ul.list2 li a:visited, .news_chart_list_inpage ul.list2 li a:link, .news_chart_list_inpage ul.list2 li a:visited{color:#424242 !important;}
.news_chart_list ul.list li.chart1, .news_chart_list_inpage ul.list li.chart1{ background:url(../images/1.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list li.chart2, .news_chart_list_inpage ul.list li.chart2{ background:url(../images/2.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list li.chart3, .news_chart_list_inpage ul.list li.chart3{ background:url(../images/3.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list li.chart4, .news_chart_list_inpage ul.list li.chart4{ background:url(../images/4.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list li.chart5, .news_chart_list_inpage ul.list li.chart5{ background:url(../images/5.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list li.chart6, .news_chart_list_inpage ul.list li.chart6{ background:url(../images/6.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list li.chart7, .news_chart_list_inpage ul.list li.chart7{ background:url(../images/7.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list li.chart8, .news_chart_list_inpage ul.list li.chart8{ background:url(../images/8.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list li.chart9, .news_chart_list_inpage ul.list li.chart9{ background:url(../images/9.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list li.chart10, .news_chart_list_inpage ul.list li.chart10{ background:url(../images/10.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list li.chart11, .news_chart_list_inpage ul.list li.chart11{ background:url(../images/11.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list2 li.chart1, .news_chart_list_inpage ul.list2 li.chart1{ background:url(../images/1_bk.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list2 li.chart2, .news_chart_list_inpage ul.list2 li.chart2{ background:url(../images/2_bk.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list2 li.chart3, .news_chart_list_inpage ul.list2 li.chart3{ background:url(../images/3_bk.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list2 li.chart4, .news_chart_list_inpage ul.list2 li.chart4{ background:url(../images/4_bk.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list2 li.chart5, .news_chart_list_inpage ul.list2 li.chart5{ background:url(../images/5_bk.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list2 li.chart6, .news_chart_list_inpage ul.list2 li.chart6{ background:url(../images/6_bk.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list2 li.chart7, .news_chart_list_inpage ul.list2 li.chart7{ background:url(../images/7_bk.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list2 li.chart8, .news_chart_list_inpage ul.list2 li.chart8{ background:url(../images/8_bk.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list2 li.chart9, .news_chart_list_inpage ul.list2 li.chart9{ background:url(../images/9_bk.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list2 li.chart10, .news_chart_list_inpage ul.list2 li.chart10{ background:url(../images/10_bk.png) no-repeat left; padding-left:20px;}
.news_chart_list ul.list2 li.chart11, .news_chart_list_inpage ul.list2 li.chart11{ background:url(../images/11_bk.png) no-repeat left; padding-left:20px;}
#tab-16{ display:none;}
.news_chart ul.tabs li.cblack a, .news_chart_inpage ul.tabs li.cblack a{ color:#000000;}

/*social========================*/
.right_social{ height:307px;}
.right_social_inpage{ height:500px;}
.left_socail{ width:72px; float:left;}

/*news_article========================*/
.news_article{ width:760px; float:right;}
.breadcrumb{font-size: 14px;line-height: 30px; border-bottom: 1px solid #f2f2f2;}
.breadcrumb a:link, .breadcrumb a:visited{ color:#424242;}
.breadcrumb img{ margin:0 5px; vertical-align:middle;}
.news_title, .news_title h1{ color:#424242; font-size: 25px; font-weight: bold; line-height: 50px;}
.update_times{ width:751px; height:45px;}
.update_times p{ color:#424242; font-size: 14px; float:left; margin:0 15px 15px 0; display:inline-table; line-height: 30px;}
.update_times p.blue{ color:#0d47a1; line-height: 30px;}
.update_times p img{ vertical-align:middle; padding:0 5px 0 0;}
.article_box{ width:760px; display: inline-block;font-size: 18px;line-height: 30px;}
.article_box p{ width:760px; color:#424242; font-size:18px; line-height:30px; margin:10px 0 15px 0;}
.article_box a{ width:760px; color:#FB6B2E; font-size:18px; line-height:30px; margin:0 0 15px 0; font-weight:bold;}
.article_box a:hover{ width:760px; color:#f09e00;}
.more_news {margin: 1.5em 0;}
.article_box h2{width:760px; color:#005bc2; font-size:20px; line-height:34px; margin:15px 0; font-weight: bold}
.article_box iframe {margin: 0 auto !important;}
.article_box object {margin: 0 auto;display: block;}
.article_box table{ text-align: center;}
.article_box table tr{ line-height:0;}
.article_box table tr strong{ line-height:30px;}
.article_box table p{ width:100%; text-align: left;}
.article_box .fb-post.fb_iframe_widget {display: table;margin: 0 auto;}
.article_box ul{ color:#424242;}
.article_box li{ font-size:18px; line-height:30px; margin:0;}
.article_box .hightline{ color:#C03; font-size:18px; line-height:30px; margin:0;}
.pic_400_r img, .pic_400_r2 img, .pic_400_l img, .pic_400_l2 img{ width:100%;}
.pic_750{ text-align: center;}
.pic_750_inner{border: 1px solid #dadada; margin:15px 0; padding:10px; display:inline-block;}
.pic_750 img{ height: auto; max-width:740px;}
.pic_750 span{ color: #424242;font-size: 14px; display:block; caption-side: bottom; text-align:left;}
.pic_400_r span, .pic_400_l span{ color:#424242; font-size:14px; line-height:20px; margin:10px 0; text-align:left; width:100%;}
.pic_400_caption{background-color:rgba(116, 115, 115, 0.6); position: absolute; margin:227px 0 0 0; color:#ffffff; font-size:16px; width:380px; height:40px; line-height:40px; padding:0 10px; overflow:hidden;}
.pic_400_caption a:link, .pic_400_caption a:visited{color:#ffffff; font-size:16px;}
.pic_400_r{ max-width:380px; padding:10px; border: 1px solid #dadada; margin:15px; float:right;}
.pic_400_r2{ max-width:400px; height:267px; margin:15px; float:right; box-shadow: 1px 2px 2px 0px rgba(71, 71, 71, 0.75); overflow:hidden;}
.pic_400_l{ max-width:380px; padding:10px; border: 1px solid #dadada; margin:15px 15px 15px 0;; float:left;}
.pic_400_l2{ max-width:400px; height:267px; margin:15px 15px 15px 0;; float:left; box-shadow: 1px 2px 2px 0px rgba(71, 71, 71, 0.75); overflow:hidden;}
.video{ max-width:580px; height:436px; border: 1px solid #dadada; padding:10px; margin:15px auto;}
.video_prev{max-width: 580px;height: 436px; display: table-cell; vertical-align: middle;background-color: #000000;}
.video_prev img{ width:100%;}
span.icon, span.icon2{ width:55px; height:55px; background-color:rgba(116, 115, 115, 0.6); position: absolute; margin: 0;}
span.icon a, span.icon2 a{ display:block; width:55px !important;}
span.icon img, span.icon2 img{ width:35px; height:35px; margin:9px;}
.fb_fanpage_inpage{ width:760px; margin: 20px 0 0 0;}
.fb_title{ color:#0d47a1; font-size:18px;font-weight: bold; display:inline-table;}
.fb_title img{ vertical-align: sub; margin:0 8px 0 0;}
.fb_box{width:500px; height:150px; background-color:#f2f1f1; margin: 10px 0; float: left;}
.fb_box .fb-page{ width:500px; height:150px;}
.fb_fanpage_share {line-height: 1.2em;}
.fb_fanpage_share span{color:#0d47a1; font-weight:bold;}
.fb_fanpage_share span a{color:#0d47a1;}
.fb-like{margin:0 9px;}
.qrcode_box{ width:250px; height:260px; float:right; background-color:#f2f1f1; margin: 10px 0;}
.qrcode_title{ color:#1169DD; font-size:18px;font-weight: bold; text-align:center; line-height: 45px; margin:0.8em 0 0 0;}
/*.qrcode_pic{ text-align:center;}
.qrcode_pic img{ max-width:80%;}*/
.qrcode_pic_r img{ max-width:50%; float:right;}
.qrcode_pic_l img{ max-width:50%; float:left;}
.inline_keyword{color:#db1313; font-size:18px; width:500px; line-height:30px; float:left; display: inline-block;}
.inline_keyword span{ margin:0 5px;}
.inline_keyword span a{color:#db1313;}
.like_search{ width:760px; min-height:72px; display: inline-block;}
.like_search .fb-like, .like_search .google_btn{ float:left; width:55px; height:65px;}

.search_inline{ border-radius: 2px; border:1px #d5d5d5 solid; background-color:#f2f1f1; width: 620px; height:37px; margin:10px 0 0 0; float:right; line-height: 36px;}
.search_inline .magnifier{ float:right; margin:5px;}
.search_inline input{ width:80%; height:37px; float:left; border:none; background-color:transparent; line-height:36px; font-family:"微軟正黑體","新細明體",Arial, Helvetica, sans-serif;  font-size:14px; margin: 0 0 0 0.8em; color:#0d47a1 !important; font-weight:bold;}
.search_inline  *::-webkit-input-placeholder {color:#0d47a1;}
.search_inline  *:-moz-placeholder {/* FF 4-18 */color:#0d47a1;}
.search_inline  *::-moz-placeholder {/* FF 19+ */color:#0d47a1;}
.search_inline  *:-ms-input-placeholder {/* IE 10+ */color:#0d47a1;}

.other_news_box{ width:360px; min-height:261px; padding:0 15px; margin:25px 0; float:left;}
.other_news_box_2{ width:360px; min-height:261px; padding:0 15px; margin:25px 0; float:right;}
.other_title{color:#0d47a1; font-size: 18px; line-height:30px; border-bottom: 1px solid #f2f2f2; padding:0 5px;}
.other_title a:link, .other_title a:visited{color:#0d47a1;}
.other_news_box ul, .other_news_box_2 ul{ margin:10px 5px;}
.other_news_box ul li, .other_news_box_2 ul li{color:#424242;font-size:18px; line-height:30px;}
.other_news_box ul li a:link, .other_news_box ul li a:visited, .other_news_box_2 ul li a:link, .other_news_box_2 ul li a:visited{color:#424242;}

/*圖輯========================*/
.gallery_box{ width:100%; margin:15px 0 0 0; display:inline-block;}
.gallery_box2{ width:100%; display:inline-block;}
.gallery_box a, .gallery_box2 a{ color:#fff; font-weight:normal;}
.main_pic{ width:525px; height:340px; position:absolute; background-color:#000; text-align:center; vertical-align: middle; display: table-cell; overflow:hidden;}
.main_pic img{ width:100%; /*max-height:340px;*/ vertical-align: middle;}
.main_pic span{ position:absolute; bottom:0; display:block; background-color: rgba(0, 0, 0, 0.5); color:#fff; width:98%; padding:2% 0 2% 2%; font-weight:bold; font-size:22px;}
.small_pic{ float:right;}
.spic{ width:230px; height:168px; text-align:center; vertical-align: middle; background-color:#000; margin:0 0 4px 0;}
.spic img{ max-width:100%; max-height:100%; vertical-align: middle; display: inline-block;}
.main_pic2{ width:760px; background-color:#000; position: relative;}
.main_pic2 img{ width:100%;}
.pic_info{ display:block; background-color:#000; color:#fff; padding:10px; font-size: 1rem;}
.pic_list{ }
.pic_list ul{ display:table; width:760px; text-align: center; border-top: 1px solid #555; background-color: #efefef; box-shadow: 0 10px 10px -5px #333 inset;}
.pic_list ul li{ margin: 0 5px; padding: 10px 0; max-height: 114px; display: table-cell; }
.pic_list ul li img{ max-width:145px; max-height:114px; vertical-align:middle;}
.ps-prev {
    background: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border: 1px solid #777;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    position: absolute;
    padding: 20px 20px 20px 15px;
    left: 0;
    top: 45%;
    cursor: pointer;}
.ps-prevIcon {
    border-color: transparent #fff transparent;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    display: block;
}
.ps-next {
    background: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border: 1px solid #777;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    position: absolute;
    padding: 20px 15px 20px 20px;
    right: 0;
    top: 45%;
    cursor: pointer;
}
.ps-nextIcon {
    border-color: transparent #fff transparent;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    display: block
}

/*rti========================*/
.news_title img{ float:left; padding-top:7px;}
.rti_content{ display: block; width:500px; min-height: 500px; height: auto; float:left; margin: 10px 0;}
.rti_content img{ float:left;}
.rti_content p{ width:500px; height:auto; margin:10px 0; display: block;}
.rti_list{ display: block; width:240px; float:left; margin:10px 0 0 20px;}
.rti_list h2{ font-size:18px; color:#005bc2; margin:10px 0; font-weight: bold; width:100%; line-height: 20px;}
.rti_list ul{ border-bottom:2px #005bc2 solid; border-top:2px #005bc2 solid; background:#f9f9f9; padding-top:5px;}
.rti_list ul li{ line-height:35px;}
.rti_list li a{ font-size:16px; color:#666; margin:10px 0; font-weight:normal; padding-left:10px;}
.rti_list li a:hover{ color:#005bc2; text-decoration:none;}
.rti_pic{ width:228px; height:76px; padding:5px; border: 1px solid #dadada; margin:15px 15px 15px 0;}
.rti_player{ text-align: center; margin: 30px auto;}

/*品閱雜誌========================*/
.mag_title{border: 1px solid #d8d8d8;  padding: 8px 0 8px 10px;  margin: 10px auto;}
.mag_title img{ vertical-align: bottom; margin:0 8px 0 0; max-height:30px;}
.mag_title h2, .mag_title h2 a{font-size: 20px; font-weight: bold; color: #333;}

/*下拉式選單========================*/
#qaContent { background:#ffffff; color: #0067b5; margin: 0, }
#qaContent ul.accordionPart { margin: 10px 10px 0 0;  border: #e3e3e3 1px solid;}
#qaContent ul.accordionPart li { margin-top:5px; padding-bottom:5px;font-weight:bold }
#qaContent ul.accordionPart li .qa_title { padding: 0 15px; cursor: pointer; background: url(../images/dropdown.jpg) center right no-repeat; font-weight: normal;}
#qaContent ul.accordionPart li .qa_title img{ float: left; padding-top: 0px}
#qaContent ul.accordionPart li .qa_title p2{ color: #005bc2; font-weight: normal; font-size: 20px; line-height: 30px;}
#qaContent ul.accordionPart li .qa_title_on { text-decoration: none;}
#qaContent ul.accordionPart li .qa_content { padding: 0 15px; background: url() no-repeat 0px -24px; margin:0; color: #1186ec; padding-top:10px; border-top:1px solid #e3e3e3; padding-bottom: 5px;}
#qaContent ul .underline{ border-bottom:1px solid #e3e3e3;}
#qaContent ul li a{color: #424242; font-weight: normal; font-size: 18px; text-decoration: none; }
#qaContent ul li a:hover{color: #0067b5; font-weight:normal; text-decoration: none;}
#qaContent ul li p{color: #424242; font-weight: normal; font-size: 18px; text-decoration: none; max-width: 720px; padding-bottom: 15px; margin: 0;}
#qaContent ul.accordionPart li .info{ background-color: #fcfcfc; }
#qaContent ul .contact { width: 700px; margin:0 auto; padding: 15px; background: #fcfcfc; font-size: 16px;line-height: 24px;    color: #555; margin-top: 10px; margin-bottom: 10px;}

/*article_list========================*/
.news_list{ width:620px; float:left;}
.article_list{ margin-top: 10px;}
.article_list ul li{color:#424242; font-size:18px; line-height:45px; border-bottom: 1px solid #f2f2f2;}
.article_list ul li a:link, .article_list ul li a:visited{color:#424242;}
.article_list ul li a:hover{ color:#0067b5;}
.article_list ul li span{ float: right;}
.article_list .list_pic{ margin:0 0 0 2px;}
.article_list .list_pic img{ max-width:130px; max-height:120px; box-shadow: 1px 2px 2px 0px rgba(71, 71, 71, 0.75);}

/*keywordnews_list========================*/
.keywordnews_list{}
.search_info { margin:15px 0;}
.search_info p{color:#424242; font-size:16px;}
.search_info p span{color:#fb6b2e; font-size: 18px; font-weight:bold;}
.search_result_list{ display:inline-block;}
.search_result_list ul{ max-height: 2900px; border: 1px solid #f2f2f2; }
.search_result_list ul li{ display:inline-block; padding:15px; width:96.7%;}
.search_result_list ul li:nth-child(even){ background-color:#f2f1f1; padding:15px;}
.search_result_list .list_pic{ margin:5px 15px 5px 2px; float:left; text-align:center; width:130px;}
.search_result_list .list_pic img{ max-width:130px; max-height:120px; box-shadow: 1px 2px 2px 0px rgba(71, 71, 71, 0.75);}
/*.list_info{ float:left; max-width: 82%;}*/
.list_info h2, .list_info h2 a{ color:#3389df; font-size:18px; line-height: 24px; font-weight:normal;}
.list_info p, .list_info p a{ color:#424242; margin:8px 0 0 0;}
.list_info p span, .list_info p span a{color:#fb6b2e;}

/*newsworld_list========================*/
.newsworld_list{}
.newsworld_list .other_links{ text-align:right; margin: 15px 0;}
.newsworld_list .other_links span{ color:#FA6262; font-weight: bold;}
.newsworld_list .other_links a:link, .newsworld_list .other_links a:visited{color:#424242;}
.newsworld_list .other_links a:hover{ color:#3389df;}
.on_info{ display:inline-block; padding: 20px; border: 2px solid #ededed; width: auto; margin-bottom: 10px;}
.on_info2{ display:inline-block; padding: 10px 10px 40px 10px; width: auto;}
.cover{ display:inline-block; width:25%;}
.cover img{ height:280px; box-shadow: 1px 2px 2px 0px rgba(71, 71, 71, 0.75); }
.on_info .cover{ border-right: 1px solid #ededed; display:inline-block; width:25%;}
.on_info .cover img{ height:240px; box-shadow: 1px 2px 2px 0px rgba(71, 71, 71, 0.75); }
.on_info .cover2{ border-right: 1px solid #ededed; display:inline-block; width:42%;}
.on_info .cover2 img{ height:240px; box-shadow: 1px 2px 2px 0px rgba(71, 71, 71, 0.75);}
.info_text{ display:inline-block; width:73%; float:right;}
.info_text3{ display:inline-block; width:56%; float:right;}
.info_text span, .info_text3 span{ color:#424242; font-size:14px; margin:10px;}
.info_text h2, .info_text3 h2{ color:#3389df; font-size:20px; font-weight:bold;}
.info_text h2 a:link, .info_text h2 a:visited, .info_text3 h2 a:link, .info_text3 h2 a:visited, .info_more a:link, .info_more a:visited{color:#3389df;}
.info_text p{color:#424242; margin:10px; min-height: 170px; overflow:hidden; line-height:30px;}
.info_text3 p{color:#424242; margin:10px 0; min-height: 150px; overflow:hidden; line-height:30px;}
.info_more{ text-align:right; botoom:0;}

.nlist_info{ display:inline-block; margin: 5px 0;}
.nlist_info ul li{ padding:15px 0 15px 22px; border-bottom: 1px solid #ededed; display: inline-block;}
.nlist_cover{ float:left;}
.nlist_cover img{ height:130px; box-shadow: 1px 2px 2px 0px rgba(71, 71, 71, 0.75);}
.nlist_cover2{ float:left;}
.nlist_cover2 img{ width:150px;}
.info_text2{ display:inline-block; max-width:86%; float:right;}
.info_text4{ display:inline-block; width: 650px; float:right; margin-left:15px;}
.info_text2 h2, .info_text4 h2{ color:#3389df;}
.info_text2 h2 a:link, .info_text2 h2 a:visited, .info_text4 h2 a:link, .info_text4 h2 a:visited{color:#3389df;}
.info_text2 p{color:#424242; margin:5px; overflow:hidden; line-height:30px;}
.info_text4 p{color:#424242; margin:5px 0; overflow:hidden; line-height:30px;}

.newsworld_other{ margin:20px 0; display: inline-block;}
.newsworld_other2{ margin:20px 0; display: inline-block;}
.nlist_info2{ width:270px; height:270px; display:inline-block; float:left; background-color:#ededed; margin: 20px 10px;}
.nlist_info3{ width:210px; min-height:280px; display:inline-block; float:left; margin: 10px 3px; text-align:center; border-bottom: 1px solid #ededed;}
.nlist_info4{ width:180px; display:inline-block; float:left; margin: 20px 18px; text-align:center; border-bottom: 1px solid #ededed;}
.nlist_info5{ width:270px; min-height:280px; display:inline-block; float:left; margin: 10px; text-align:center; border-bottom: 1px solid #ededed;}
.nlist_info6{ width:180px; min-height:320px; display:inline-block; float:left; margin: 10px 18px; text-align:center; border-bottom: 1px solid #ededed;}
.nlist_info2 h2{ margin:15px; color:#424242; font-size:16px;}
.nlist_info3 h2, .nlist_info4 h2, .nlist_info6 h2{ margin:5px; color:#424242; font-size:16px; text-align:left;}
.nlist_info5 h2{ margin:10px 0; color:#424242; font-size:16px; text-align:left;}
.nlist_info2 h2 a:link, .nlist_info2 h2 a:visited, .nlist_info3 h2 a:link, .nlist_info3 h2 a:visited, .nlist_info4 h2 a:link, .nlist_info4 h2 a:visited, .nlist_info5 h2 a:link, .nlist_info5 h2 a:visited, .nlist_info6 h2 a:link, .nlist_info6 h2 a:visited{color:#424242;}
.nlist_info2 h2 a:hover, .nlist_info3 h2 a:hover, .nlist_info4 h2 a:hover, .nlist_info5 h2 a:hover, .nlist_info6 h2 a:hover{color:#3389df;}
.nlist_info2 p{ margin:15px; color:#424242; line-height:24px;}
.nw_pic{ max-width:240px; max-height:174px; margin:15px auto; text-align:center; background-color:#000000; box-shadow: 1px 2px 2px 0px rgba(71, 71, 71, 0.75);}
.nw_pic img{ max-width: 240px; max-height:174px; vertical-align: middle;}
.nw_pic2{ text-align:center; margin: 15px 0 0 0; height:150px;}
.nw_pic2 img{ max-height: 150px; box-shadow: 1px 2px 2px 0px rgba(71, 71, 71, 0.75); max-width: 200px; vertical-align: middle;}
.nw_pic3{ text-align:center; margin: 15px 0 0 0; /*width: 190px; height: 143px;*/ margin-bottom: 5px; vertical-align: middle;display: table-cell;background-color: #f4f2f3;}
.nw_pic3 img{ max-height: 200px; box-shadow: 1px 2px 2px 0px rgba(71, 71, 71, 0.75); max-width: 180px;}
.nw_pic4{ width:270px; height:195px; text-align:center; margin: 15px 0 0 0; overflow:hidden; box-shadow: 1px 2px 2px 0px rgba(71, 71, 71, 0.75);}
.nw_pic4 img{max-width:270px;}
.nw_pic5{ text-align:center; margin: 15px 0 0 0;}
.nw_pic5 img{ box-shadow: 1px 2px 2px 0px rgba(71, 71, 71, 0.75); max-width: 180px;}

/*mid_list========================*/
.mid_list{ width:226px; background-color:#f6f6f6; float:right; margin-top:29px;}
.mid_title{color:#ffffff; display:block; background-color:#3389df; max-width:180px; margin:22px auto 0 auto; padding:0 10px;}
.mid_title a:link, .mid_title a:visited{ color:#ffffff; display:block;}
.mid_newslist{ max-width:190px; color:#424242; font-size:14px; display:block; margin:10px auto 40px auto;}
.mid_newslist ul li, .mid_newslist ul li a:link, .mid_newslist ul li a:visited, .mid_maglist ul li a:link, .mid_maglist ul li a:visited{color:#424242;}
.mid_newslist ul li a:hover, .mid_maglist ul li a:hover{ color:#0067b5;}
.m_magpic{ width:170px; margin:20px auto 30px auto; font-size:14px;}
.m_magpic img{ width:170px; box-shadow: -1px 2px 2px 0px rgba(71, 71, 71, 0.75);}

.forward{ display: block; margin: 0 auto; width: 758px; border: 1px #efefef solid; padding-bottom: 10px;}
.forward h2{ width: 738px; background: #0067b5; line-height: 32px; color: #fff; padding: 10px 10px 10px 20px;}
.forward p{ width: 140px; padding: 15px 0 0 20px; display: inline-block; }
.forward p2{ width: 738px; display: block; font-size: 14px; color: #3389df; padding-left: 170px;}
.forward input{width: 550px; height: 32px; padding: 5px; font-size: 18px; font-family:"微軟正黑體",Arial, Helvetica, sans-serif; display: inline-block; margin: 5px 0;}
.forward textarea{ width: 550px; height: auto; min-height: 50px; padding: 5px; font-size: 18px; font-family:"微軟正黑體",Arial, Helvetica, sans-serif; display: inline-block; resize: none;vertical-align: top; margin: 10px 0;}

/*pagination========================*/
.pagination{ margin:50px auto; display:table;}
.pagination ul{ display:inline-block; border:1px #d5d5d5 solid; border-radius:2px; }
.pagination ul li{ float:left; display:inline-block; width:45px; line-height:40px; text-align:center; cursor: pointer}
.pagination ul li a:link, .pagination ul li a:visited{display: block; color:#2d2f35;}
.pagination ul li{ float:left; display:inline-block; width:45px; line-height:40px; text-align:center;}
.pagination ul li a:link, .pagination ul li a:visited{ color:#2d2f35; display:block;}
.pagination ul li a:hover, .pagination ul li a:active{ background-color:#3389df; display:block; color:#ffffff;}
.pagination ul .active a{ background-color:#3389df; display:block; color:#ffffff!important;}
.pagination ul li.pline{ border-right:1px #d5d5d5 solid;}
.current, .current a:link, .current a:visited{ background-color:#3389df; color:#ffffff !important;}

/*rti_mag========================*/
.rti_mag{ margin:25px 0 10 0;}
#rti{ background-color:#f4f2f3; margin:25px 0; padding:20px;}
.rti_pic2 img{float:left; display:inline-block; box-shadow: 1px 2px 2px 0px rgba(71, 71, 71, 0.75);}
.show_info{ float:left; max-width:350px; margin:0 0 0 24px; color: #424242;}
.show_info h2{ line-height:40px; font-size:20px; color:#0067b5; border-bottom: 1px solid #D7D7D7;}
.show_info h2 a:link, .show_info h2 a:visited{ color:#0067b5;}
.show_info p{ line-height:28px; margin: 15px 0;}

/*rightpic========================*/
.right_pic_title{ color:#0d47a1; margin-top: 15px;}
.right_pic_title a:link, .right_pic_title a:visited{ color:#0d47a1;}
.right_pic_title img{ vertical-align: sub; margin:0 5px 0 0;}
.rightpic{ width:300px; /*height:225px;*/ display:inline-block; margin:5px 0 0 0; position:relative;}
.rightpic img{ max-width:300px; max-height:225px; vertical-align:bottom;}
.rightpic_caption{ color:#ffffff; font-size:16px; position:absolute; background-color:rgba(116, 115, 115, 0.6); width:280px; height:40px; padding:0 10px; line-height:40px; bottom:0; overflow:hidden;}
.rightpic_caption a:link, .rightpic_caption a:visited{ color:#ffffff;}

/*inpage_social_box========================*/
.inpage_social_box{ color:#0d47a1; height:40px; display:inline-table;}
.in_fb, .in_fb a{ width:144px; height:40px; background:url(../images/fb_in.png) no-repeat center center; display:block; float:left; margin-right:10px;}
.in_gplus, .in_gplus a{ width:144px; height:40px; background:url(../images/gplus_in.png) no-repeat center center; display:block; float:left; margin-right:10px;}
.in_twitter, .in_twitter a{ width:144px; height:40px; background:url(../images/twitter_in.png) no-repeat center center; display:block; float:left; margin-right:10px;}
.in_line, .in_line a{ width:144px; height:40px; background:url(../images/line_in.png) no-repeat center center; display:block; float:left; margin-right:10px;}
.in_tools{ width:144px; height:40px;float:left;}
.in_tools .sub, .in_tools .sub a{ width:144px; height:40px; background:url(../images/tools_in.png) no-repeat center center; display:block; float:left;}
/* Hide the B div */
.sub_tools, .sub_tools2{ display:none;}
.sub_tools a:link, .sub_tools a:visited, .sub_tools2 a:link, .sub_tools2 a:visited{ color:#ffffff;}
/* Show the B div when hover on A (the container include only A when B is not displayed */
.in_tools:hover .sub_tools{display:block; background-color:#1169dd; color:#ffffff; padding:5px 10px; text-align:center; line-height:30px; position:absolute; width: 124px;margin-top: 38px}
.in_tools:hover .sub_tools2{display:block; background-color:#1169dd; color:#ffffff; padding:5px 10px; text-align:center; line-height:30px; position:absolute; width: 124px;margin-top: -68px}
.photoalbum {margin-bottom: 50px;}

/*inline_pic========================*/
.inline_pic_title{ display:inline-block; color:#0d47a1; font-size:18px; line-height: 30px;}
.inline_pic_title a:link, .inline_pic_title a:visited{color:#0d47a1;}
.inline_pic_title img{ vertical-align: sub; margin:0 5px 0 0;}
.inline_pic{ width:760px; background-color:#f2f1f1; display: inline-block;}
.inlinepic_box{ /*display:inline-table;*/ margin:26px 6px 26px 17px; float: left; max-width:226px; } 
.inlinepic{ width:226px; height:170px; float:left; overflow:hidden; position:relative;}
.inphto{ width:226px; height:170px; text-align:center; margin:12px 0; vertical-align: middle; display:table-cell;}
.inphto img{ max-width:226px; max-height:170px;}
.in_title p{ width:226px; font-size:18px; color:#424242;display: inline-block; margin: 10px 0;}
.in_title p a:link, .in_title p a:visited{color:#424242;}

/*inline_mag========================*/
.inline_mag_title{ display:inline-block; color:#0d47a1; font-size:18px; line-height: 30px; border-bottom: 1px solid #f2f2f2;; width: 100%;}
.inline_mag_title a{color:#0d47a1;}
.inline_mag_title img{ vertical-align: sub; margin:0 5px 0 0;}
.inline_mag{ width:760px; display:table; padding: 0 20px;}
.inlinemag_box{ display: inline-table; margin: 26px 6px 26px 17px;}
.inlinemag{ width:226px; height:170px; float:left; overflow:hidden; position:relative;}
.inmagphto{ width:226px; height:170px; text-align:center; margin:12px 0; vertical-align: middle; display:table-cell;}
.inmagphto img{ max-width:226px; max-height:170px;}
.inmag_title p{ width:226px; padding:10px 0; font-size:18px; color:#424242; display:table-cell;}
.inmag_title p a{color:#424242;}

/*star_raty========================*/
.star_raty{ width:500px; padding:5px 0 0 0; float:left;}
.star_raty p{color:#0d47a1; font-size: 18px; line-height:35px; float:left; font-weight:bold;}
.star{ width:145px; margin:2px 5px 0 0; float: left;}
#onchange-value{ color:#0d47a1; font-size:18px; line-height:33px;}

/*footer_box========================*/
.footer_box{ width:100%;height:300px; background-color:#e0e0e0; position:relative;}
.footer{ width:1200px; height:200px; margin:0 auto; border-bottom:1px solid #ffffff;}
.footer_soical{ width:500px; height:150px; float:left; margin:30px 0 20px 0; background-color: aliceblue;}
.cna_product{ float:left; margin:30px 0 20px 0;}
.pd_1{ float:left; text-align:center; margin:25px 10px 0 25px;}
.pd_1 p, .pd_1 p a:link, .pd_1 p a:visited, .pd_2 p, .pd_2 p a:link, .pd_2 p a:visited{color:#3c3c3c; font-size:12px; line-height:18px;}
.pd_2{ float:left; text-align:center; margin:25px 15px 0 10px;}
.other_info{ width:1200px; margin:10px auto; text-align:center; color:#3c3c3c;font-size: 12px;}
.other_info a:link, .other_info a:visited{ color:#3c3c3c;}

/*info========================*/
.subscribe{ margin-left: 40px;}
.subscribe li{ margin: 10px 0; font-size: 16px;}

/*back2top========================*/
.myicon {
    position: fixed;
    float: left;
    right: 0;
    bottom: 120px;
    width: 32px;
    height: 32px;
    margin: 8px;
    z-index: 9999;
    cursor: pointer;
    display: none;
}
.icon-up-circle {
    background-color: rgba(51,137,223,.8);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 0;
    left: -18px;
}
.icon-up-triangle {
    border: 10px solid rgba(255,255,255,1);
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    height: 0;
    width: 0;
    position: absolute;
    top: 22px;
    left: 0;
}
.icon-up-line {
    background-color: rgba(255,255,255,1);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 32px;
    left: 8px;
}
.myicon .name {
    font-size: 15px;
    top: 8px;
    left: -6px;
	color: #ffffff;
	display:block;
	position:absolute;
}