@font-face{
font-family:"HelveticaNeueLTW20-Roma";
src:url("../fonts/waseet/roma/waseet.eot?#iefix");
src:url("../fonts/waseet/roma/waseet.eot?#iefix") format("eot"),
    url("../fonts/waseet/roma/waseet.woff") format("woff"),
    url("../fonts/waseet/roma/waseet.ttf") format("truetype"),
    url("../fonts/waseet/roma/waseet.svg#88820c1d-bb1c-4797-ae48-3d3a36fb5c10") format("svg");
}
@font-face{
font-family:"HelveticaNeueLTW20-bold";
src:url("../fonts/waseet/bold/waseet.eot?#iefix");
src:url("../fonts/waseet/bold/waseet.eot?#iefix") format("eot"),
    url("../fonts/waseet/bold/waseet.woff") format("woff"),
    url("../fonts/waseet/bold/waseet.ttf") format("truetype"),
    url("../fonts/waseet/bold/waseet.svg#88820c1d-bb1c-4797-ae48-3d3a36fb5c10") format("svg");
}