.container {
    max-width: 970px!important;
    padding-left: 10px;
    padding-right: 10px;
}

.well {
    background-image: none;
    background-color: none!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    filter: none!important;
}

.navbar {
    border: none;
}

* { border-radius: 0px;}

label {font-weight: normal; font-family: 'HelveticaNeueLTW20-bold';}

#main-menu a, #main-menu a:hover, #main-menu a:focus {color: #696969}
#main-menu .btns a.btn {
    color: #CB0B2F;
    background-color: #F7F7F7; 
    padding: 0;
    margin: 0 10px 10px 0;
    border:1px solid #e7e7e7;
    width: 65px;
}
#main-menu .btns a.btn:hover,#main-menu .btns a.btn:focus {
    color: #F7F7F7;
    background-color: #CB0B2F;
    border:1px solid #CB0B2F;

}

#main-menu .btns .col-xs-6 {
    padding: 0;
}
#main-menu .btns a.btn i{
    font-size: 50px;
}
#main-menu .btns a.btn > span{ display: block; float: none; vertical-align:middle; padding:0; margin:0;font-size:11px}

#main-menu .btns{
    padding: 10px 0 0 9px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.block {
    display: block;
    line-height: 18px;
}

.ad-system-leader, .ad-system-lrec {
    /*margin-top: 10px;*/
    /*overflow: hidden;*/
    border: none;
}
.ad-system-lrec {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    margin-bottom: 15px;
}

.ad-system-leader, .ad-system-leader-mobile{
    margin-top: 10px;
    margin-bottom: 5px;
}
.ad-system-listings {
    margin-bottom: 20px;
}
body {
    background-color: #F7F7F7;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: 'HelveticaNeueLTW20-Roma';
    margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
}

.title {
    font-size: 16px;
}

.roman {
    font-family: 'HelveticaNeueLTW20-Roma';
}
.bold {
    font-family: 'HelveticaNeueLTW20-bold';
}
.logo img {
    max-width: 200px;
}
#main-menu .country .caret {
    margin-top: 3px;
}


#main-menu2 .navbar-nav.top-menu > li {
    overflow: hidden;
}


#main-menu2 .navbar-nav > li > a.first {
    border-right: 1px solid rgba(255,255,255,0.12);
}

#main-menu .navbar-brand {padding: 0px;}
#main-menu nav[role="navigation"] {padding: 10px;}
#main-menu .modal-body{display: block; padding: 10px;}
#main-menu .navbar-nav li {
    padding: 0px 0px;
}
#main-menu .navbar-nav .caret {
    border-top-color: #999;
    margin: 0px 6px;
}

.menu {
    max-width: 970px;
    margin: 0 auto;
    padding: 0px;
}

#main-menu .navbar {
    border-radius: 0px;
}

#main-menu > .navbar:first-of-type {
    background-color: #fff;
}

.menu li a {
    /* such ugly code */ 
    background: #7f7f7f;
    background: -moz-linear-gradient(top,  #7f7f7f 0%, #474747 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f7f7f), color-stop(100%,#474747));
    background: -webkit-linear-gradient(top,  #7f7f7f 0%,#474747 100%);
    background: -o-linear-gradient(top,  #7f7f7f 0%,#474747 100%);
    background: -ms-linear-gradient(top,  #7f7f7f 0%,#474747 100%);
    background: linear-gradient(to bottom,  #474747 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#474747',GradientType=0 );
}

.menu li a:hover {
    /* such ugly code */ 
    background: #ff0066;
    background: -moz-linear-gradient(top,  #474747 0%, #7f7f7f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#474747), color-stop(100%,#7f7f7f));
    background: -webkit-linear-gradient(top,  #474747 0%,#7f7f7f 100%);
    background: -o-linear-gradient(top,  #474747 0%,#7f7f7f 100%);
    background: -ms-linear-gradient(top,  #474747 0%,#7f7f7f 100%);
    background: linear-gradient(to bottom,  #474747 0%,#7f7f7f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#7f7f7f',GradientType=0 );

}


a:hover {
    text-decoration: none;
}
.container>.navbar-header, .container>.navbar-collapse {margin: 0px;padding: 0px;}

.navbar-collapse {max-height: 500px;}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 75%;
    display: inline-block;
    line-height: 20px;
    font-family: "HelveticaNeueLTW20-Roma";
}

#main-menu small {
    display: block;
}

.location-flag a {
    max-width: 90%;
}

.location-flag {
    max-width: 20px;
    max-height: 25px;
    margin: 3px 3px;
    float: left!important;
}

#main-menu  .navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.flip {
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

#main-menu .navbar .topper {
    margin-top: 10px;
}
#main-menu .navbar {
    margin: 0px;
}

#main-menu .navbar-nav {
    margin: 0px;
}

#main-menu2 ul.navbar-left li:first-child {
    margin: 2px 5px;
}
#main-menu2 ul.navbar-left {
    margin: 8px 0px;
}

.row {
    padding: 0px;
    margin: 0px;
}

.noradius{border-radius: 0px;}

#categories ul.navbar-nav li {
    width: 100%;
}

.footer {
    background-color: black;
    padding-top: 20px;
    margin-top: 20px;
}

.footer .badge {
    background-color: #3c3c3c;
    border-radius: 2px;
    padding: 5px;
    margin: 3px;
    vertical-align: central;
}

.footer a, .footer a:active, .footer a:focus, .footer a:hover {
    /*color: #9c9c9c;*/
}

.footer div {
    padding: 0px 0px 10px 0px;
}

.footer ul {
    display: block;
    padding: 0px;
    margin: 0px 5px;
    line-height: 2;
}

.footer ul.secondary {
    padding: 0px 5px;
}

.footer li a.title {
    color:white;
    font-size: 16px;
}

.footer div:last-of-type {
    padding-bottom: 10px;
}
.footer .col-lg-2-5 {width: 20%; float:left;}

/*#content { margin-top: 10px; padding-top: 10px; padding-left: 7px;}*/

#content #sidebar {padding-left: 10px;}
#content .col-sm-6 .ad-sep {min-height: 160px;}

#content .col-sm-6 .ad-image {
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px;
    width: 100%;
    max-height: 145px;
}

#content .col-sm-12 .ad-image {
    border-radius: 4px;
}

#content .col-sm-12 .well.premium .btn-group .btn-default {
    background-color: #fdfce9;
    min-width: 15px;
}

.accordion-toggle{cursor: pointer;}

.panel .list-group-item .label {
    background: transparent;
    color: #9c9c9c;
    text-shadow: none;
}

.panel .list-group-item.active a, .panel .list-group-item.active:hover a, .panel .list-group-item.active:focus a{
    color: #fff;
}
.panel .list-group-item.active, .panel .list-group-item.active:hover, .panel .list-group-item.active:focus{
    background: #4c4c4c;
    color: #fff;
    border-color: #4c4c4c;
    text-shadow: none;
}

#sidebar div,#sidebar ul, #sidebar ol {
    /*padding-bottom: 0px!important;*/
    margin-bottom: 0px!important;
}

.phone h3 {font-size: 20px; direction: ltr;float: right;margin-top: 10px}
.phone .fa {float:right;padding-right: 3px;}
.phone i {
    color: purple;
    display: inline-block;
    margin-top: 8px;
    font-size: 26px;
}

#content .col-sm-6 .well {
    box-shadow: none;
    background-color: #fff;
    /*max-height: 450px;*/
    min-height: 380px;
    font-size: 12px;
    padding: 0px;
}

#content .col-sm-6 .md-item-grid{
    min-height: 355px;
}

#content .col-sm-12 .well {
    box-shadow: none;
    background-color: #fff;
    padding: 10px;
    width: 100%;
}

#content .col-sm-12 {
    padding: 0px;
}

#content .well .list-unstyled {
    padding: 5px;
}

#content .well .category.list-unstyled {
    padding: 0px;
}

#content .well.premium {
    border: 1px dashed #e3e3e3;
    background-color: #fdfce9;
}
#content .well.premium .ad-marker {
    background: url('/public/img/adv_site2-en.png') no-repeat;
    height: 40px;
    width: 50px;
    margin-left: -15px;
    margin-top: -2px;
    float: left;
}
#content .col-sm-6 .well.premium .ad-marker{
    width: 45px;
    margin-left: -4px;
}

#content .well.urgent {
    border: 1px solid #da1e30;
}
#content .well.urgent .ad-marker {
    background: url('/public/img/adv_site1-en.png') no-repeat;
    height: 50px;
    width: 50px;
    margin-left: -15px;
    float: left;
    margin-top: -14px;
}
#content .col-sm-6 .well.urgent .ad-marker{
    margin-left: -5px;
    margin-top: -15px;
}

#content .well.offline .ad-marker {
    background: url("http://d2vpr50zexy5mb.cloudfront.net/sites/all/themes/alwaseet/images/newspaper.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 28px;
    width: 60px;
    margin-right: -16px;
    margin-top: -2px;
    margin-left: 5px;
    float: right;
}

#content .col-sm-6 .well.urgent .ad-marker {
    position: absolute;
    margin-top: -4px;
    margin-right: -14px;
}
#content .col-sm-6 .well.offline .ad-marker {
    position: absolute;
    margin-top: 2px;
    margin-right: -6px;
}
#content .col-sm-6 .well.premium .ad-marker {
    position: absolute;
    margin-top: 2px;
    margin-right: -18px;
}

#content .well.premium .ad-image {z-index:0;}
#content .well.urgent .ad-image {z-index:0;}

#content .well.private {
    background: url('../img/stripe.png') repeat scroll 0 0 transparent;
}

#content .well.private .pageviews {
    background-color: rgba(255,255,255,0.7);
}

#content .well .ad-status-marker {
    display: none;
}

#content .well.private .ad-status-marker {
    display: block;
    font-size: 18px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 25%;
    background-color: #ECEBEB;
    opacity: 0.98;
    width: 50%;
    z-index: 100;
    text-align: center;
    vertical-align: middle;
    padding: 9px 10px;
    border-radius: 4px;
    border: 7px solid rgba(255,255,255,0.6);
    color: #696969;
}

#content .well.unpublished {
    background: #f2f2f2;
}

#content .well.unpublished .ad-status-marker {
    display: block;
    font-size: 18px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 25%;
    background-color: #ECEBEB;
    opacity: 0.98;
    width: 50%;
    z-index: 100;
    text-align: center;
    vertical-align: middle;
    padding: 9px 10px;
    border-radius: 4px;
    border: 7px solid rgba(255,255,255,0.6);
    color: #696969;
}

#content .well.expired .ad-status-marker {
    display: block;
    font-size: 18px;
    position: absolute;
    top: 40%;
    margin-top: -25px;
    left: 25%;
    background-color: #ECEBEB;
    opacity: 0.98;
    width: 50%;
    z-index: 100;
    text-align: center;
    vertical-align: middle;
    padding: 9px 10px;
    border-radius: 4px;
    border: 7px solid rgba(255,255,255,0.6);
    color: #696969;
}

.panel .breadcrumb {
    margin: 0px 15px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 3px;
    font-size: 14px;
}


#content .col-sm-6 .well .title {
    min-height: 40px;
    margin-top: 10px;
    color: black;
    line-height: 1.4;
    font-family: 'HelveticaNeueLTW20-bold';
    height: 88px;
    overflow:  hidden;
    margin-bottom: 5px;
    /*    overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 90%;*/
}

#content .col-sm-6 .well li:not(.text-danger) {
    color: #9c9c9c;
}

#content .col-sm-12 .well .title {
    min-height: 40px;
    margin: 0px 5px 10px;
    color: black;
    max-width: 90%;
}

#content .well .price small {
    font-size: 60%;
    color: #9c9c9c;
}

/*#content .col-sm-6 .well .price {
    color: #da1e30;
    position: absolute;
    bottom: 30px;
    left: 15px;
}

#content .col-sm-12 .well .price {
    color: #da1e30;
    position: absolute;
    bottom: 35px;
    left: 15px;
}*/

.description {
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.4;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}

#content .col-sm-6 .well .description {
    min-height: 30px;
    margin-top: 10px;
}

#content .well .pageviews {
    top: 10px;
    position: relative;
    left: -10px;
    background-color: #f7f4f5;
    margin-right: -20px;
    margin-right: -19px\9;
    font-size: 12px;
    color: #9c9c9c;
    padding: 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#content{
    margin-top: 20px;
}

.navbar-sm {
    max-height: 39px;
    min-height: 39px;
    margin-left: 5px;
}

.navbar-sm ul {
    padding: 0px;
}

.navbar-sm li {
    max-height: 39px;
}

.navbar-sm li a {
    padding: 7px;
    display: inline-block;
    height: 38px;
}

.navbar-sm .navbar-text {
    padding: 7px;
    margin: 0px 10px;
}

.navbar-sm li.active a {color: black;}

.navbar-sm .fa-angle-down:before , .navbar-sm .fa-angle-up:before {
    top: 3px;
    position: relative;
}

div.filters {
    border:none;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 0px;
    max-height: 39px;
    margin: 0px 0px 10px 0px;
    padding-left: 10px;
}

div.filters li {
    padding: 0px 5px;
}

.pagination {padding:0px;}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover {background-color: #CB0B2F;border-color: #CB0B2F;}
.pagination a {color: #CB0B2F;}


/*.category>li+li+li {
    padding: 0 5px;
}*/

.node-info-details-wrap {
    padding: 0px;
    margin: 0px;
}

.node-info-details, .node-info-details .node-info-details-wrap {
    display: table;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.node-info-details li.page-header {
    font-family: 'HelveticaNeueLTW20-bold';
    font-size: 16px;
    padding: 0px;
    margin-top: 25px;
}


.node-info-details-wrap li span:first-child {
    padding: 0px 5px;
}

.node-info-details-wrap {

}

.node-info-details-wrap.bolder {
    display: table;
    width: 100%;
}

.node-info-details-wrap.bolder .info {
    font-family: 'HelveticaNeueLTW20-bold';
}

.node-info-details-wrap li span:first-child:after {
    padding: 0px;
    content: ":";
}

.node-info-details .list-inline li {
    margin: 3px;
}

#loan-calc .list-group {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    padding: 0px 10px;
    margin-bottom: 0px;
    font-size: 12px;
}

#loan-calc .list-group .list-group-item {
    border: none;
    padding: 0px;
}

#loan-calc label {
    margin-top: 5px;
}

#loan-calc .input-group {
    padding: 0px;
}

#loan-calc #cal-validate li, #loan-calc #cal-validate ul {
    padding: 0px;
    margin: 0px;
}

#loan-calc .form-group {
    margin: 10px 0px;
    padding: 0px;
}

#loan-calc .radio-inline label {
    margin-top: 0px;
}

#loan-calc .panel-heading {
    background-color: #d2322d;

    border-color: #B92C28!important;
    color: white;
}

#loan-calc .input-group-addon:last-child {
    min-width: 50px;
}

.panel-default .accordion-toggle .flipper {


}

.panel-default>.panel-heading.collapsed {
    border-radius: 4px;
}

.panel-default .accordion-toggle.collapsed .flipper:before {
    content: "\f078";
}

.panel-footer {
    padding: 5px;
    text-align: center;
}



.list-inline>li{
    padding: 0px;
}

#main-menu>ul.list-inline>li {

}
.details {font-size: 12px;}
.details p { margin: 0px;}

/* VXS */

#abuse-modal{
    width: 410px;
}
#abuse-modal .radio {
    border-radius: 10px;
}
@media (max-width: 400px) {
    .hidden-vxs {display: none;}
}

.node-details {
    margin-left: 5px;
}

.views {
    margin-left: 5px;
    font-size: 12px;
}

.node-extras {
    padding: 0px;
    margin-top: 20px;
}

.node-details {
    border-radius: 4px;
    border: 1px solid #cecece;
    padding: 10px 5px;
}

.node-details li, .node-details p {
    font-size: 11px;
    line-height: 1.6;
    padding: 0px;
    margin: 0px;
    color: #696969;
}

.node-details ul, .node-details li {
    list-style: none;
    display: inline-block;
    padding: 0px 0px;
}

.node-details .title {
    font-size: 24px;
    min-height: 30px;
    margin-bottom: 10px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.node-details .node-title {
    font-size: 24px;
    min-height: 50px;
    margin-bottom: 10px;
    max-width: 100%;
    word-break: break-word;
}


.node-details .price small {
    font-size: 65%;
}

.node-extras li.page-header {
    border: none;
    margin-bottom: 5px;
}


.buttons {
    margin: 10px 5px 0px 10px;
}

.buttons .text-left {
    padding-left: 0px;
}

.buttons a.btn-default {
    color: #333;
    background-color: #ebebeb;
}

.buttons a {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-circle {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 0px;
}

.btn-circle .fa {
    font-size: 28px;
}

.node-extras .nav > li.active > a, .node-extras .nav > li > a:focus {
    background-color: #000;
    color: #fff;
}

.node-extras .nav > li > a:hover  {
    background-color: #e3e3e3;
    color: #0262a6;
}

.node-extras .nav > li.active > a:hover {
    background-color: #000;
    color: #fff;
}
.node-extras .nav > li > a{
    background-color: #fff;
    color: #0262a6;
    font-weight: normal;
}

.node-extras .nav-pills li.active a:before {
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -6px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    border-left: 7px solid transparent;
    border-bottom-color: #e3e3e3;
    content: '';
}

.node-extras .nav-pills li.active a:after {
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
    border-left: 6px solid transparent;
    content: '';
}

div.dropper {
    background: url("http://d2vpr50zexy5mb.cloudfront.net/sites/all/themes/alwaseet/images/profile-menu-bar.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 11px;
    margin-top: 2px;
}

.btn-facebook i, .btn-facebook span, .btn-twitter i, .btn-twitter span {
    color: #fff;
}

.footer .btn-facebook, .footer .btn-twitter {
    width: 35px;
    height: 35px;
}

.node-extras .nav-pills li {
    margin: 0px 10px;
}

.node-extras #slider-thumbs img {
    /*border: 1px solid #e3e3e3;*/
    opacity: 0.8;
    cursor: pointer;
}
.node-extras #slider-thumbs img:hover, .node-extras #slider-thumbs img:focus {
    opacity: 0.9;
}

.node-extras #slider-thumbs .selected img {
    opacity: 1;
    border: 1px solid #da1e30;
    margin-top: 1px;
}
.node-extras #slider-thumbs {
    margin-top: 20px;
}
.node-extras #slider-thumbs .carousel-inner {
    /*    width: 80%;
        margin-right: 10%;*/
}

.fa.vbig {font-size: 20px;}

.carousel-arrow {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    padding: 4px 6px;
}

.carousel-arrow.right {
    right: 10px;
    left: auto;
}
.carousel-arrow.left {
    left: 10px;
    right: auto;
}


#searchbox .col-sm-6 {
    padding: 5px 0px;
}

#searchbox .col-sm-6+.col-sm-6 {
    padding-right: 10px;
}

#searchbox input[type="submit"] {
    margin-top: 5px;
}

.checkbox label {
    display: inline-block;
}


ul.media-list {
    padding: 0px;
}



/*.related .panel-title {
    padding-right: 5px;
}*/

.node-info-details .keywords .btn {
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.4;
    text-overflow: ellipsis;
    max-width: 150px;
    display: inline-block;
}

.faded:after {
    width: 20px;
    height: 30px;
    background: -moz-linear-gradient(top,  #7f7f7f 0%, #474747 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f7f7f), color-stop(100%,#474747));
    background: -webkit-linear-gradient(top,  #7f7f7f 0%,#474747 100%);
    background: -o-linear-gradient(top,  #7f7f7f 0%,#474747 100%);
    background: -ms-linear-gradient(top,  #7f7f7f 0%,#474747 100%);
    background: linear-gradient(to bottom,  #474747 0%,#000000 100%);
}

.carousel-indicators {
    bottom: -5px;
}

.carousel-indicators-inverse {
    bottom: -10px;
}

.carousel-indicators-inverse li {
    background-color: #da1e30 \9;
    background-color: #da1e30;
    border: 1px solid #fff;
}

.carousel-indicators-inverse li.active {
    background-color: #da1e30;
}

.rating i {
    color: grey;
    font-size: 14px;
}


/*#sidebar-offcanvas a.active-item {
    font-family: 'HelveticaNeueLTW20-bold';
    color: #000;
}
#sidebar-offcanvas ul.categories .list-group-item {
    padding: 5px 15px;
}
#sidebar-offcanvas ul.categories .list-group-item a {
    display: inline-block;
    line-height: 1.9;
    max-width: 250px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 80%;
}*/

.list-group-item > .badge {
    margin-top: 5px;
    background-color: #CB0B2F;
    border-radius: 4px;
}

/*.countries .modal-body {
    height:auto;
    width:auto;
    margin:0;
    padding:10px;   
    display:block; 
}

.countries .modal-body>div {
    float: right;
    vertical-align:middle;
    height: auto;

    display: inline-block;

    margin-top: 0px;
    margin-bottom:0px;
    position: absolute;
    top: 0;
    bottom: 0;
}*/
.countries .modal-content {
    margin-top: 20px;
    /*padding-top: 20px;*/
    background-color: #f9f9f9;
}

.countries .modal-content img {
    margin-top: 10px;
}

.countries .col-xs-11 {
    padding: 4px 0px;
}

.countries .label-default {
    display: inline-block;
    /*padding: .2em .6em .3em;*/
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background: none;
    /*border: 1px solid #cecece;*/
}

.maps-box-container {
    display: block;
    margin: 0 auto;
    margin-top: 170px;
}

.maps-box-container button.close {
    position: absolute;
    top: -13px;
    right: -13px;
    z-index: 1041;
    opacity: 1;
    background-color: #da1e30;
    color: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 12px;
}

.maps-box-container.modal-content {
    height: 350px;
    width: 80%;
    padding: 3px;
}

.maps-box-container .modal-body {
    padding: 0px;
}

.maps-box {
    width: 100%; 
    height: 350px;
    margin: 0 auto;
    padding: 0;
    direction: ltr;
}

.maps-box-container, .maps-box-container * { 
    box-sizing: content-box; 
}

.profile > div {
    border-right: 1px solid #cecece;
    min-height: 80px;
}
.profile > div:last-child {
    border-right: none;
}

.profile .bolder span {
    font-size: 14px;
}

.profile-page .profile-details {
    padding-top: 20px;
}

.profile-page .profile-details .well {
    padding: 5px;
}

.profile-details .title {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-height: 30px;
    white-space: nowrap;
}
#content.profile-details .well .title{
  max-width: 71%;  
}
.profile-details .description {
    display: none;
}

.profile-details .ad-info {
    display: none;
}

.bootstrap-select-searchbox {
    direction: inherit;
}

.bootstrap-select.btn-group .dropdown-menu li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.dropdown-menu li a {
    cursor: pointer;
}

#main-menu .fa-phone:before {
    vertical-align: sub;
    font-size: 30px;
    padding: 0;
}

.pageviews .list-inline {
    margin: 0px;
}
.pageviews .list-inline li {
    padding: 0px 5px;
}

.actions {
    float: right;
    margin-top: -50px
}

.actions .btn.unstyled {
    padding: 2px 5px;
    color: #0099cc;
    background-color: #fff;
}
.actions .btn.repost, #content .col-sm-12 .well.premium .btn.repost {
    padding: 1px 5px 3px;
    color: #fff;
    background-color: #ff6f00;
    border: 1px solid #dd6000;
    margin-right: 33px;
}
.actions ul li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0,0,0,0.07);
}

.btn-group-rounded {
    width: 110%;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: -2px;
}

#details .btn-group-rounded {
    float: right;
    min-width: 17%;
    width: 28%;
}
#details .btn-group-rounded.shown {
    width: 28%;
}

.btn-group-rounded.shown {
    min-width: 200%;
    position: relative;
    float: left;
    overflow: hidden;
    left: -14px;
    height: 40px;
}

.btn-group-rounded .primary {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    z-index: 100;
    padding: 0px;
    position: relative;
    border: 2px solid #fff;
}

.btn-group-rounded .primary .fa-phone {
    font-size: 180%;
    margin-top: 7px;
    vertical-align: top;
    position: relative;
}

.btn-group-rounded .primary .fa-mobile {
    font-size: 180%;
    margin-top: 7px;
    vertical-align: top;
    position: relative;
}

.btn-group-rounded .primary .fa-envelope-o {
    font-size: 150%;
    margin-top: 7px;
}

.btn-group-rounded.shown .info {
    white-space: normal;
    text-overflow: inherit;
    overflow: auto;
}

.btn-group-rounded .info {
    width: 34%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    float:left;
    left: -10px;
    margin-top: 5px;
    z-index: 99;
    text-align: left;
    direction: ltr;
    max-width: 80%;
    padding-left: 10px;
}
.col-sm-3 .btn-group-rounded{
    float: left;
    position: static;
}
.btn-group-rounded .msg {
    color: #424242;
    font-size: 8px;
    position: relative;
    top: 8px;
    left: -8px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.07);
    z-index: 99;
    padding: 5px;
    float: left;
}

.btn-group-rounded.muted {
    width: auto;
}

.btn-group-rounded.muted .info { 
    white-space: normal;
    text-overflow: inherit;
    overflow: auto;
    width: auto;
    max-width: none;
}

.btn-group-rounded.muted .msg {
    display: none;
}

.tooltip-inner {
    max-width: 100%;
}

.add-main-actions .popover {
    width: 160px;
}

#contact-seller-modal, #sendto-friend-modal, #apply-job-modal, #savesearch-action {
    /*max-width: 40%;*/
    width: 60%;
    margin-top: 1%;
}

#contact-seller-modal .form-horizontal .form-group, #sendto-friend-modal .form-horizontal .form-group, #apply-job-modal .form-horizontal .form-group {
    margin: 10px 0px;
}

.modal {
    overflow-y: auto;
}

.padder {
    padding-left: 5px;
}

.external-link {
    direction: ltr;
}

.nextprevious .previous {
    background: #D9534F;
    background: linear-gradient(to bottom, #D9534F 0px, #C12E2A 100%) !important;
    background: -moz-linear-gradient(top, #D9534F 0%, #C12E2A 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9534F), color-stop(100%,#C12E2A));
    background: -webkit-linear-gradient(top, #D9534F 0%,#C12E2A 100%);
    background: -o-linear-gradient(top, #D9534F 0%,#C12E2A 100%);
    background: -ms-linear-gradient(top, #D9534F 0%,#C12E2A 100%);
    background: linear-gradient(to bottom, #D9534F 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9534F', endColorstr='#C12E2A',GradientType=0 );
    background-repeat: repeat-x;
    border-color: #B92C28!important;
    color: white;
    position: absolute;
    top: 50%;
    right: 0px;
    max-height: 75px;
    vertical-align: middle;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 50px;
    overflow: hidden;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
}

.nextprevious .next {
    background: #D9534F;
    background: linear-gradient(to bottom, #D9534F 0px, #C12E2A 100%) !important;
    background: -moz-linear-gradient(top, #D9534F 0%, #C12E2A 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9534F), color-stop(100%,#C12E2A));
    background: -webkit-linear-gradient(top, #D9534F 0%,#C12E2A 100%);
    background: -o-linear-gradient(top, #D9534F 0%,#C12E2A 100%);
    background: -ms-linear-gradient(top, #D9534F 0%,#C12E2A 100%);
    background: linear-gradient(to bottom, #D9534F 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D9534F', endColorstr='#C12E2A',GradientType=0 );
    background-repeat: repeat-x;
    border-color: #B92C28!important;
    color: white;
    position: absolute;
    top: 50%;
    left: 0px;
    max-height: 75px;
    vertical-align: middle;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 50px;
    overflow: hidden;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
}
.nextprevious .next .arrow {
    margin-left: 5px;
    float: left;
}
.nextprevious .previous .arrow {
    margin-right: 5px;
    float: right;
}
.nextprevious .arrow .fa {
    font-size: 50px;
    margin: 15px 0px;
    text-shadow: 0px 0px 7px black;
}
.nextprevious .next .info {
    float: left;
    padding: 13px 10px;
    border-left: 1px solid rgba(255,255,255,0.17);
    margin-left: 5px;
    max-width: 80%;
    min-width: 170px;
    display: none;
    height: 65px;
    overflow: hidden;
}

.nextprevious .previous .info {
    float: right;
    padding: 13px 10px;
    border-right: 1px solid rgba(255,255,255,0.17);
    margin-right: 5px;
    max-width: 80%;
    min-width: 170px;
    display: none;
    height: 65px;
    overflow: hidden;
}

.nextprevious a {
    width: 80%;
    color: #fff;
}

.nextprevious img {
    max-width: 65px;
    margin-top: 2px;
    /*display: none;*/
    float: right;
}

.nextprevious .title {
    max-width: 110px;
    color: white;
    padding: 0px 3px;
    font-size: 12px;
    float: right;
}

.nextprevious .next span, .nextprevious .next img {
    float: left;
}

.nextprevious .previous span, .nextprevious .previous img {
    float: right;
}

.nextprevious .next:hover, .nextprevious .previous:hover {
    width: 250px;
}

.nextprevious .next:hover .info, .nextprevious .previous:hover .info {
    /*width: 80%;*/
    display: block;
}

.pdf .thumbnail {
    padding: 0px;
}

.pdf .thumbnail img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pdf .page-header {
    margin: 10px 0px;
}

.pdf h3 {
    font-size: 18px;
    display: block;
    margin: 0px 0px 10px;
}

.pdf h4.title {
    max-width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
}

.pdf .alert {
    padding: 5px;
    margin: 0px 5px 10px;
    color: #000;
}

.pdf .alert .fa {
    color: #c09853;
    font-size: 120%;
}

.pdf .social {
    float: right;
    min-width: 100%;
}

.pdf .social .col-xs-4 {
    text-align: center;
}

.btn-sm, .btn-xs {
    padding: 4px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
}

li.enterprise-phone {
    width: 60%;
    margin: 5px -5px 5px;
}

li.enterprise-phone .msg {
    top: 4px;
    float: left;
    padding: 9px;
    text-align: left;
}

.enterprise-page .separated {
    border-right: 1px solid #DFE1E0;
}

.enterprise-page .detail {
    margin-top: 10px;
    margin-bottom: 10px;
}

.enterprise-page .enterprise-info {
    margin-top: 20px;
    margin-left: 5px;
    width: 100%;
}

.enterprise-page .enterprise-info li {
    display: block;
    float: left;
    width: 100%;
}

.enterprise-page .btn-group-rounded {
    width: 75%;
    float: left;
}

.enterprise-page .btn-group-rounded.shown {
    width: 100%;
    min-width: 100%;
    position: inherit;
    display: block;
}

.enterprise-page .btn-group-rounded.shown a {
    float:left;
}

.enterprise-page .filters {
    font-size: 12px;
}

.enterprise-page .navbar-sm .navbar-text {
    padding: 7px 0px;
    margin: 0px;
}

.enterprise-page .navbar-sm .fa-angle-down:before, .enterprise-page .navbar-sm .fa-angle-up:before {
    top: 0px;
}

p.detail {
    font-size: 14px;
    color: #696969;
}

.counters {
    margin-top: 40px;
    border-right: 1px solid #DFE1E0;
    padding-right: 30px;
}

.counters ul {
    width: 50%;
    float: right;
    text-align: center;
    margin-top: 10px;
}

.counters ul li.count {
    font-size: 45px;
    color: #e42016;
    border-bottom: 1px solid #C8C8C8;
    text-align: center;
    min-width: 50%;
}
.counters ul li.info {
    text-align: center;
    min-width: 50%;
}

.enterprise .nav-justified li {
    float: none;
    margin: auto;
}

#searchbox .checkbox {

}

.tos #content {
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    margin-top: 20px;
    line-height: 26px;
    padding: 20px 10px;
}


#content > .col-sm-8 {
    padding-left: 10px;
}

#related-carousel .panel-heading {
    font-size: 18px;
}

.form-group.error input, .form-group.error textarea {
    border: 1px solid #db1e30;
}

.btn-danger, .btn-danger:hover {
    background-color: #CB0B2F;
    border-color: #CB0B2F;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger{
    background-color: #CB0B2F;
    border-color: #CB0B2F;
}
.text-danger, li.text-danger, a.text-danger, .panel-danger {
    color: #CB0B2F;
}
.text-danger:hover, li.text-danger:hover, a.text-danger:hover, .panel-danger:hover {
    color: #CB0B2F;
}

ul.footer-end > li:not(:last-child):after {
    content: ".";
    margin: 0px 5px;
    color: #999;
}

.footer .social a {
    margin-top: 20px;
    font-size: 28px;
    color: #fff;
    font-size: 48px;
    padding: 0px;
    vertical-align: top;
    margin: 0px 5px;
}

.footer .footer-menu {
    border-bottom: 1px solid #3c3c3c;
}

.uni-header {
    background-color: #E9EBEA;
    border-bottom: 2px solid #DFE1E0;
    height: 25px;
}

.uni-header ul {

}

.uni-header ul > li:after {
    content: " ";
    padding: 0px 5px;
}


.uni-header li.active  {
    border-bottom: 2px solid #B92C28;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

.uni-header .social a {
    font-size: 18px;
    padding-top: 4px;
}


.bootstrap-select .﻿caret-container {

}

.navbar-fixed-bottom .caret.fa:before {
    content: "\f077";
    top: -5px;
}


.fixed-goto {
    position: fixed;
    bottom: 220px;
    right: 5%;
    display: none;
}

.fixed-goto .btn {
    padding: 0px 15px;
    font-size: 18px;
}

.well-white {
    background-color: #fff;
}

.payments .text-muted {
    margin-right: 10px;
}

.payments .radio.title {
    padding-top: -3px\9;
}

.payments .badge {
    border-radius: 4px;
    padding: 3px 7px;
    font-size: 18px;
}

.payments .well, .forms .well {
    margin-top: 10px;
}

.payments .well .radio.title {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 5px;

}

.payments .well .radio.title, .payments .well .badge {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: -6px;
}

.payments p {
    margin: 10px 4px 20px 4px;
}

.payments .page-header {
    margin: 20px 0px;
}

.savesearch {
    margin: 0px;
    padding: 10px 10px 15px 15px;
    display: block;
    overflow: auto;
    min-height: 50px;
    min-height: 50px\9;
}

.thumbnail .caption {
    padding: 15px 10px;
}

.panel, .panel-default {
    border: 1px solid #e3e3e3;
}

.list-group, .panel-heading {
    /*padding-right: 1px;*/
}

.panel-heading, .panel-footer {
    margin-right: 1px\9!important;
}

.panel .list-group {
    margin-right: 1px\9!important;
}

.modal-body .social {
    margin-top: 10px;
}

.node-page .detail {
    max-width: 99%;
    word-break: break-word;
    white-space: pre-wrap;
    word-break: break-all;
}

p.salary .info {
    color: #000;
    font-size: 14px;
}


p.salary {
    font-size: 18px;
    color: #CB0B2F;
}

#loan-calc .panel-title {
    padding: 0px 10px 0px 0px;
}

#loan-calc .panel-default .accordion-toggle .flipper {
    margin-top: 2px;
}

.btn-group-rounded .btn-danger, .btn-group-rounded .btn-danger:hover {
    background-color: #d2322d;
    border-color: #fff;
}

.btn-group-rounded .msg {
    cursor: pointer;
}

.price-holder {
    margin-top: 10px;
}

.price-holder img {
    margin-top: 2px;
}

.price-holder p .info {
    font-size: 12px;
    position: relative;
    top: -2px;
}

.glyphicon.vbig, .fa.vbig {
    font-size: 24px;
}

ol.category {
    margin-bottom: 0; 
    width: 100%;
    clear: both;
    display: inline-block;
}


ol.category>li:first-child:after {
    padding: 0px;
    content: ":";
}
/*ol.category>li:last-child:before {
    content: "/ ";
}
ol.category > li h2, ol.category > li a{ display:inline-block}
ol.category > li:last-child {
    margin-left: 0;
}*/
#iso {
    padding-left: 0px;
}

.beta {
    margin-top: 20px;
}

.beta a {
    font-size: 16px;
    color: #333;
}

.beta a.bold {
    font-size: 16px;
    color: #CB0B2F;
}

.beta .well {
    padding: 30px;
    background-color: #ebebeb;
    display: block;
}

.beta img {
    margin-top: 50px;
}

.beta-modal a.bold {
    color: #CB0B2F;
}

.beta .illumin {
    background: url('/public/img/splash-beems.png') no-repeat transparent;
}


.sidebar-offcanvas a.active-item {
    color: #000;
}

.breadcrumb>li {display: table-cell;}

div.enterprise {
    padding-top: 10px;
}

.sold-marker {
    position: absolute;
    left: 15px;
    top: 70px;
}

.node-page .sold-marker {
    right: 10px;
    bottom: 5px;
    top:auto;
}

.compare-page .sold-marker {
    right: 5px;
}

.alert .alert-header {
    color: #000;
    font-size: 16px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.open_bar .fa {
    font-size: 14px;
}

.open_bar.collapsed .fa-chevron-down:before {
    content: "\f077";
}

.md-listing #content .col-sm-12 .well .title {
    max-width: 80%;
}

.md-listing #content .col-sm-12 .well .md-info {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
}

.md-listing #content .col-sm-12 .well .md-info a {
    border-left: 1px solid #ebebeb;
}

.md-listing #content .col-sm-12 .well .md-info:first-child, .md-listing #content .col-sm-12 .well .md-info:last-child {
    border-left: none;	
}

.node-jobs .buttons .text-left a {
    padding: 5px 3px;
}

.price-holder .text-danger:hover {
    color: #fff;
}

.node-enterprise-info a, .node-enterprise-info a:hover, .node-enterprise-info a:active {
    color: #000;
    text-decoration: none;
}

.enterprise-page li.enterprise-phone .msg {
    max-width: 40%;
}

.enterprise-page li.enterprise-phone {
    max-width: 180px;
}

li.login-social {
    border: none;
    padding: 8px 10px;
    min-width: 80px;
}

li.login-social a {
    width: 30px;
    height: 30px;
    padding: 5px;
}

img[alt="Click Here"] {display: none;}
.node-breadcrumb {
    margin-top: 20px
}
.node-breadcrumb .breadcrumb{
    margin-bottom: 0px;
    background: none;
}
.node-breadcrumb .breadcrumb li {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
.node-breadcrumb .breadcrumb li:last-of-type {
    max-width: 50%;
    overflow: hidden; 
    text-overflow: ellipsis; 
}


.btn-rounded {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0px;
    border: 2px solid rgb(255, 255, 255);
}

.btn-rounded .fa-envelope-o {
    font-size: 150%;
    margin-top: 7px;
}

.btn-rounded .fa-phone {
    font-size: 180%;
    margin-top: 7px;
    vertical-align: top;
    position: relative;
}

.enterprise-node-block {
    padding: 5px;
}

.enterprise-node-block .row {
    margin-bottom: 5px;
}

.node-contact-info li {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.expo{
    margin:20px 0
}
input:-ms-input-placeholder {  
   margin: 0;padding: 0 10px;
}

#iso .showmore {
    margin-left: 5px;
    margin-right: 5px;
    /*padding-left: 10px;*/
}

@media (min-width: 681px) {
    .profile-page .logout-action {display:none;}
}

.mobile-app-banner {background-color: rgb(251,251,251);}
.mobile-app-banner .close {position: relative; margin-top: -65px; margin-left: 10px;}

.img-center {margin: 0px auto;}
.font30 {font-size: 30px;}
.font24 {font-size: 24px;}
.font20 {font-size: 20px;}
.font18 {font-size: 18px;}
.font16 {font-size: 16px;}
.word-break-all {word-break: break-all;}
#expired-node-modal {margin-top: 110px;}
#expired-node-modal .col-xs-6 {min-height: 200px;}
#expired-node-modal .carousel-arrow {top: 50px;}
#expired-node-modal .word-break-all {min-height: 40px;}
#expired-node-modal .detail-img {width: 100%;}
#expired-node-modal .btn-lg {min-width: 40%; margin-top: 30px;font-size: 24px;}
#expired-node-modal #expired-thumbs {margin-top: 30px;}
#expired-node-modal .msg-info {line-height: 1.4;}

@media (max-width: 680px) {
    .footer li a.title {white-space: nowrap;}
    #content {overflow-x: hidden;}
    /*.logo {max-width: 120px;}*/
    #main-menu .navbar-brand {margin: 16px auto;width: 120px;float: none;}
    #main-menu nav[role="navigation"] {padding: 0px;}
    .glyphicon{font-size: 20px;} 
    .navbar-form{border: none;}
    button[data-target="#mobile-search"]{position: absolute; right: 0px;}
    button[data-target="#main-menu"]{position: absolute; left: 80%;}
    .row{margin:0px; padding:0px;}
    .container{padding:0px;}
    .navbar-nav .navbar-right {float:none!important;}
    .bold{font-size: 14px;}
    h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small{font-size: 95%;}
    .phone .bold {font-size: 16px;}
    #main-menu .btn-group .btn {margin: 5px 0px 0px -1px;}
    #main-menu .mobile-menu-actions .btn, #main-menu2 .featured {height: 50px;}
    .btn:active {-webkit-box-shadow: none; box-shadow: none;}
    #main-menu2 .top-menu>li>a {border-left: none; border-right: none;}
    .location-flag{width: 25px;margin: -1px -3px;}
    .nav > li {padding: 0px;}
    /*#main-menu2 .featured{padding: 10px;}*/
    .navbar-header{background-color: #fff;border-bottom: 1px solid #eee}
    .navbar-header .btn-group{margin-left: 5px;}
    .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){border-top-right-radius: 0px;}
    .container>.navbar-header, .container>.navbar-collapse {margin: 0px;padding: 0px;}
    .popover.bottom .arrow:after{left:0px;}
    .navbar-toggle{padding: 11px;margin: 0px;}
    #main-menu2 .navbar-nav > li > a.first{border: none;}
    #add-classifieds {background-color: white;}
    #content img.ad-image{max-height: 215px; margin-bottom: 10px;}
    #content p, #content ol, #content li {font-size: 12px!important;}
    #content .title {font-size: 14px;}
    #main-menu .logo {margin: 8px 6px; width: auto;max-width: 120px;}
    #main-menu .navbar-toggle {float: none; position: absolute; top: 5px; left: 5px;}
    #main-menu .country-toggle {float: none; position: absolute; top: 5px; right: 5px;}
    #category-panel-marker{font-size: 14px;}
    .navbar {padding: 0;width: 100%;}
    #main-menu .navbar-nav li {padding: 0 0 0 10px;}
    #main-menu .navbar-nav li:last-child {margin-bottom: 10px;}

    #contact-seller-modal, #sendto-friend-modal, #apply-job-modal {
        width: 99%;
    }
    #main-menu a, #main-menu a:hover, #main-menu a:focus {color: #fff;}
    #main-menu a .fa-search, #main-menu a:hover .fa-search, #main-menu a:focus .fa-search {color: #000; font-size: 24px;}
    /*#content .col-xs-6 {height: 382px;}*/
    .fixed-goto {
        display: none!important;
    }
    .mobile-categories {padding: 0px 5px;}
    a#mobile-main-menu-button , a#mobile-main-menu-button:hover , a#mobile-main-menu-button:active {color: #000; border: none; border-radius: 0px; margin-top: -5px; margin-left: -5px; background: none;}
    a#mobile-main-menu-button .fa {font-size: 24px;}
    a#mobile-user-menu-button , a#mobile-user-menu-button:hover , a#mobile-user-menu-button:active {color: #cecece; border: none; border-left: 0px solid #DFE1E0; border-radius: 0px; margin-top: -5px; margin-left: -5px; background: none; font-size: 24px;}
    a#mobile-user-menu-button.text-info , a#mobile-user-menu-button.text-info:hover , a#mobile-user-menu-button.text-info:active {color: rgb(2, 98, 166); font-size: 24px;}
    #main-menu .navbar .topper{margin: 0px;}
    .footer {padding-bottom: 40px!important;}
    .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {width: 100%;}
    .mobile-categories .well-white {padding: 10px 2px; border-radius: 4px; margin-bottom: 5px; border: 1px solid #e3e3e3;}
    .mobile-categories .title {margin-top: 3px;}
    .mobile-categories .bootstrap-select {width: 100%; display: block;}
    .uni-header ul > li+li {width: 50%;}
    .mobile-menu-actions {position: absolute; top: 0px; right: 2px; margin-top: -5px;width: 50%}
    .mobile-menu-actions .fa {margin-top: 7px; width: 25px; padding-right: 0px;}
    .node-extras .nav-pills li {margin:0px;}
    .profile-page #content .well .btn-group {top: 50px; z-index: 102;right: 0px;}
    .dropdown-menu {float: left;left: 0;right: auto; }
    .node-details .title {min-height: 10px;}
    .node-details.profile > div:first-of-type {border-bottom: 1px solid #ebebeb; padding: 10px 0px;}
    .profile > div {min-height: 1px; border-left: none!important;}
    .node-details .price {max-width: 100%;}
    .profile-page .profile .btn-danger {padding: 5px; font-size: 12px;}
    .profile-page .profile .profile-img {width: 60px; height: 60px; margin: 0 auto; }
    .profile-page .profile .username {font-size: 18px;}
    .node-info-details-wrap.bolder {display: block;float: right; margin-bottom: 10px;}
    .profile-page .profile-details .col-md-8 {padding: 10px 0px; margin: 0px;}
    .profile-page .profile-details .col-md-8 .nav-pills li a {border-radius: 0px; padding: 10px 2px; border: 1px solid #ebebeb; font-size: 10px;}
    .profile-page .profile-details .col-md-8 .nav-pills li a:not(:first-of-type) {border-left: none;}
    .profile-page .profile-details .col-md-8 .nav-pills li {width: 25%; display: table-cell; padding: 0px;}
    .enterprise-page .node-extras .nav-pills li {width: 33.3333%; display: table-cell; padding: 0px;}
    .enterprise-page .node-extras .nav-pills li a {padding: 15px 3px;}
    .enterprise-page .enterprise-info li {margin-bottom: 10px;}
    .enterprise-page .node-extras .well.well-white {padding: 3px;}
    .enterprise-page .node-extras .col-sm-8 {padding-left: 5px!important;}
    .profile-page .ad-system-leader {display: none;}
    .footer .footer-menu {float: right;}
    .footer .footer-end {clear: both;}
    .footer .col-lg-2-5 {min-width: 33.3333%;}
    #iso {padding-left: 5px;}
    .mobile-categories {margin: 0px; padding:0px; width: 100%;}
    .mobile-categories .bold {font-size: 12px; margin-top: 5px;}
    .ad-image-container {width: 100%; overflow: hidden; height: 216px; padding: 0px;position: absolute; top: 0px; right: 0px; margin:0px; z-index: 1;}
    .details {margin-top: 216px;}
    .ad-image-container img:not(.sold-marker) {width: 99.5%; border-radius: 4px!important; margin: 1px 1px 0px 1px;}
    .details div.enterprise { position: absolute; bottom: 20px; right: 0px; }
    #content .col-sm-12 .well .title {min-height: 1px; word-break: break-word; margin: 0px 0px 10px 0px; overflow: hidden; padding-bottom: 5px;}
    .ad-marker-mobile {position: absolute; top: 5px; z-index: 100;}
    #content .well.urgent .ad-marker {margin-top: -8px;}
    .md-listing .filters .list-inline {text-align: right; font-size: 10px!important;}
    .mobile-app-banner {background-color: #fff; min-height: 60px; border-bottom: 1px solid #dddcdc;}
    .mobile-app-banner img {margin: 0 auto;}
    .mobile-app-banner .close {font-size: 25px; position: relative; left: -5px;top: 5px;}
    .top-menu .active {background-color: #080808;}
    .ad-system-listings {margin-bottom: 15px; margin-right: -1px; overflow: hidden;}
    .pagination li a {width: 30px; height: 30px;}
    #content .col-xs-6 img.ad-image {margin-bottom: 3px;}
    #content .col-xs-6 h4.title {margin-top: 2px;}
    #content .col-sm-6 .well {min-height: 370px; margin: 5px 0px;}
    #content .col-sm-6 .well:last-child {margin-bottom: 10px;}
    #content .well .price small {font-size: 85%;}
    #iso .showmore {padding: 0px; margin: 0px 0px 10px 0px;}
    #iso .showmore a {padding: 10px;}
    #content .col-sm-6 .well .title {margin: 3px 0px; min-height: 40px; height: auto;}
    .col-xs-6 {padding-left: 0px; padding-right: 5px;}
    .col-xs-6:nth-child(even) {padding-right: 0px; padding-left: 5px;}
    select.mobile-device {position: absolute; max-height: 30px; z-index: 100; height: 30px !important;}
    #mobile-categories-select .btn-search {height: 30px; padding-top: 3px; float: left;}

    #mobileSearch select.mobile-device {position: absolute;top: 0px;left: 0px;display: block !important;width: 100%;height: 100% !important;opacity: 0;}
    #mobileSearch .col-xs-6:nth-child(2n) {padding-right: 0px;}
    #mobileSearch .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {width: 220px;}
    /*.col-xs-6+.col-xs-6{padding-left: 10px;}*/
    .beta {margin-top: 0px; background-color: #F8F8F8;}
    .bootstrap-select button {font-size: 12px;}
    .beta .well {background-color: transparent;}
    .beta a, .countries .label-default {font-size: 104%;}
    .beta a.bold {font-size: 120%;}
    .beta .well {padding: 8px 30px; border: none;}
    .beta .col-xs-11 a {min-width: 30%; padding-bottom: 5px;}
    .beta img {margin-top: 30px;}

    .node-details {margin: 5px;}
    .node-details .node-title {font-size: 16px;margin-top: 50px;}
    .price-holder {position: absolute;top: 2px;right: 10px;min-width: 180px;}
    .node-page .views {padding-left: 10px;}
    .node-details .col-sm-9 .text-left {margin: 5px;}
    .buttons .text-left {padding-left: 5px;}
    .node-details .buttons {margin: 10px 5px;}
    .node-details .buttons a {width: 30px; height: 30px; font-size: 16px; padding: 0px 5px 5px;}
    .node-details .buttons .col-sm-3 {max-width: 40%; float: right;}
    .node-details .buttons .col-sm-9 {max-width: 60%; float: left;}
    .node-details .buttons .print-btn {display: none;}
    .node-details .btn-group-rounded {width: 200px; margin: 10px 5px 2px;}
    .btn-group-rounded.shown {position: inherit;}
    .node-details .img-map {width: 100%;}
    .node-details img[width="196"] {width: 100%; height: auto;}
    .carousel-indicators {width: 200px; text-align: center;}
    .carousel-indicators li {border: 1px solid rgb(218, 30, 48);}
    .carousel-indicators li.active {background-color: rgb(218, 30, 48);}
    /*.node-details .btn-group-rounded .msg, .node-details .btn-group-rounded .info {display: none;}*/
    #expired-node-modal {margin-top: 0px;}
    .node-breadcrumb .breadcrumb>li:last-child{ display:none;}
    .node-details .col-xs-8, .node-details .col-xs-4 {
        margin: 10px 0px;
        font-size: 120%;
    }
    .node-breadcrumb {padding: 0px 5px;}
    #iso .filters .list-inline {
        white-space: nowrap;
    }
    .savesearch {padding: 10px; min-height: 40px;}
    .fa.fa-plus.rght.text-danger {
    border-right: 1px solid #eee;
    font-size: 18px;
    margin: 0;
    padding: 20px 25px 14px 10px;
    }
    .plus {
        display: none;
    }
    #add-classifieds{border-bottom:1px solid #e7e7e7}
}

@media (max-width: 767px) and (min-width: 681px) {
    .container {
        max-width: 740px;
        width: 740px;
    }
}

@media (max-width: 980px) {
    .profile-details .actions .dropdown-menu{
        left: auto;
        right: 0;
    }
    #content .col-sm-6 .well .description {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #main-menu2 .top-menu>li>a {
        font-size: 16px;
        padding: 15px 25px 15px 15px;
    }
    #main-menu2 .top-menu>li>a i {
        position: absolute;
        left: -20px;
        bottom: -4px;
        font-size: 45px;
        color: #696969;
    }
    #expired-node-modal .word-break-all {min-height: 60px;}
}
.ad-system-leader table {
    margin: 0 auto;
    text-align: center;
}
@media print {
    @page {size: landscape; margin: 0cm;}
    .container {max-width: 900px!important;}
    .uni-header {display: none;}
    a[href]:after {
        content: none;
    }
    .ad-system-leader, .node-extras .col-sm-4, .buttons, .footer, .nextprevious {display: none;}
    .tab-content > .tab-pane {display: block; width: 50%; float: right;}
    .node-extras .col-sm-8 {width: 100%;}
    .nav-pills li {width: 47%; margin: 0px;padding: 0px;float: right;}
    #slider-thumbs .item {display: block;}
    #slider-thumbs .carousel-arrow {display: none;}
    #slider-thumbs ul {direction: rtl!important;}
    #slider-thumbs li {width: 25%; float: right; border: none!important;margin:3px;}
    #slider-thumbs img {border: none!important;}
    #detail-carousel {display: none;}
    .fade {opacity: 1;}
    .col-sm-2, .col-sm-4 {width: 25%;}
    .btn-group-rounded .info, .btn-group-rounded .primary {float: right; position: relative; left: auto; right: auto; max-width: auto; width: auto; margin: 3px;}
    .btn-group-rounded .msg {display: none;}
    .caret, .node-extras .nav-pills li.active a:before, .node-extras .nav-pills li.active a:after {display: none;}
    #contact-seller-form,#job_apply {display: none!important;}
}

.ad-system-leader div {z-index: 999!important;}
.btn_srch,.btn_srch:hover{ margin-top:2px;background-color: #FF6F00; border-color: #FF6F00;}

.add-main-actions .btn > span.fa-plus{ padding-top:5px;}

/* Search Style */
.search_popup{ background: rgba(0,0,0,.70);}
.search_popup .modal-dialog{width: 100%;}
.search_popup .modal-content{ border:none; background-color:transparent;
                              -webkit-box-shadow:none; 
                              -moz-box-shadow:none; 
                              box-shadow:none;

                              -webkit-border-radius:0;
                              -moz-border-radius:0;
                              border-radius:0;}

.search_wrap .btn.dropdown-toggle .fa-chevron-down{ font-size:10px}


.search_wrap .btn.close:hover{ background:#9f9f9f; color:#fcfcfc}

.search_wrap .dropdown-menu { 
    /* Styling block element, not required */
    right:0; 
    min-width: 130px; font-size:16px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;}

.search_wrap .dropdown-menu>li>a{ padding:5px 10px; color:#575757}
.search_wrap .dropdown-menu>li>a:hover{color:#9f9f9f}
.search_wrap .dropdown-menu>li>a.active-item{color:#9f9f9f !important;}

/* Required for Upper Triangle */
.search_wrap .dropdown-menu:before, .search_wrap .dropdown-menu:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-top: 0;
}

/* Stroke */
.search_wrap .dropdown-menu:before {
    top: -8px;
    right: 14px;

    /* If 1px darken stroke slightly */
    border-bottom-color: #d3d3d3;
    border-width: 8px;
}

/* Fill */
.search_wrap .dropdown-menu:after {
    top: -7px;
    right: 15px;
    border-bottom-color: #ffffff;
    border-width: 7px;
}
/* /Required for Upper Triangle */
/* /Search Style */
.search_wrap .fa{
    display: inline;
}
[id^="zzadcontent"]{
    z-index: 1039 !important;
}
.shown i.info {
    font-style: normal;
}

/* Waseet Special Ad Page */
.waseet_menu .search_box{float:left; clear:none; display:inline-block; padding:7px 0 6px; margin:0;}
.waseet_menu .search_box .form-control{ font-size:14px; padding:0 10px 0; width:360px; height:30px; background:#f1f1f1; 
                                        border:1px solid #a1a1a1;
                                        -webkit-border-radius:2px;
                                        -moz-border-radius: 2px;
                                        border-radius: 2px;
}
.waseet_menu .search_box .scrch_btn{ margin-right:7px; line-height:100%; padding:4px 5px 1px; color:#fcfcfc; border:1px solid #95010f; border-radius: 0;

                                     background: rgb(224,64,79); /* Old browsers */
                                     background: -moz-linear-gradient(top,  rgba(224,64,79,1) 0%, rgba(215,30,47,1) 1%, rgba(176,24,39,1) 100%); /* FF3.6+ */
                                     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,64,79,1)), color-stop(1%,rgba(215,30,47,1)), color-stop(100%,rgba(176,24,39,1))); /* Chrome,Safari4+ */
                                     background: -webkit-linear-gradient(top,  rgba(224,64,79,1) 0%,rgba(215,30,47,1) 1%,rgba(176,24,39,1) 100%); /* Chrome10+,Safari5.1+ */
                                     background: -o-linear-gradient(top,  rgba(224,64,79,1) 0%,rgba(215,30,47,1) 1%,rgba(176,24,39,1) 100%); /* Opera 11.10+ */
                                     background: -ms-linear-gradient(top,  rgba(224,64,79,1) 0%,rgba(215,30,47,1) 1%,rgba(176,24,39,1) 100%); /* IE10+ */
                                     background: linear-gradient(to bottom,  rgba(224,64,79,1) 0%,rgba(215,30,47,1) 1%,rgba(176,24,39,1) 100%); /* W3C */
                                     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0404f', endColorstr='#b01827',GradientType=0 ); /* IE6-9 */
}
.waseet_menu .search_box .scrch_btn .glyphicon-search{ width:auto; font-size:15px; font-weight:normal; display:inline-block; padding:1px 4px 7px 3px}


.special_adbox{ padding:10px 12px 70px; margin:25px auto -15px; background:#ffffff; color:#333333;}
.special_adbox h2{ font:normal 2.812em/120% 'HelveticaNeueLTW20-bold', Arial, Helvetica, sans-serif; margin-bottom:20px; display:block; text-align:center; 
                   color:#da1e31;/*text-shadow:0 1px 2px #000000*/}
.special_adbox .caption{ font:normal 1.25em 'HelveticaNeueLTW20-bold', Arial, Helvetica, sans-serif; margin-bottom:5px; color:#000000}
.special_adbox .dtail{font:normal 1em/150% 'HelveticaNeueLTW20-bold', Arial, Helvetica, sans-serif; max-width:458px}
.special_adbox .rlative_imgbox{ position:relative; background:none; border:none; box-shadow:none; padding:0; margin:0; text-align:left}
.special_adbox .thumbnail.rlative_imgbox>img{ display:inline-block}

.special_adbox ul{ padding:0; margin:5px 0 15px; overflow:hidden; list-style: none}
.special_adbox ul li{ padding:0; margin:0; font-family:'HelveticaNeueLTW20-bold', Arial, Helvetica, sans-serif}

.special_adbox ul.paylogo{padding:0; margin:5px 0 10px; overflow:hidden;}
.special_adbox ul.paylogo li{ float:left; clear:none; padding:0; margin:0 10px 0 0;}


.special_adbox .adbner_box{ margin:15px auto; padding:7px 7px 20px; text-align:center; border-bottom:1px solid #eeeeee;
                            /*width:295px; background:#ede7e8; border:2px dashed #ed1c24;
                            -webkit-border-radius: 10px;
                            -moz-border-radius: 10px;
                            border-radius: 10px;*/
}
.special_adbox .adbner_box button.btn_adbner{font:normal 24px/140% 'HelveticaNeueLTW20-bold', Arial, Helvetica, sans-serif; display:inline-block; 
                                             text-align:center; max-width:282px; 
                                             width:100%; margin:0 auto; padding:0 10px 12px; color:#fcfcfc;
                                             -webkit-border-radius: 8px;
                                             -moz-border-radius: 8px;
                                             border-radius: 8px;
                                             border:0;
                                             cursor: pointer;
                                             background: #e3002e; /* Old browsers */
                                             background: -moz-linear-gradient(top,  #e3002e 0%, #c40027 40%, #a4001f 100%); /* FF3.6+ */
                                             background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3002e), color-stop(40%,#c40027), color-stop(100%,#a4001f)); /* Chrome,Safari4+ */
                                             background: -webkit-linear-gradient(top,  #e3002e 0%,#c40027 40%,#a4001f 100%); /* Chrome10+,Safari5.1+ */
                                             background: -o-linear-gradient(top,  #e3002e 0%,#c40027 40%,#a4001f 100%); /* Opera 11.10+ */
                                             background: -ms-linear-gradient(top,  #e3002e 0%,#c40027 40%,#a4001f 100%); /* IE10+ */
                                             background: linear-gradient(to bottom,  #e3002e 0%,#c40027 40%,#a4001f 100%); /* W3C */
                                             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3002e', endColorstr='#a4001f',GradientType=0 ); /* IE6-9 */
}
.special_adbox .thumbnail{ background:none; border:none; box-shadow:none; text-align:right; padding:4px 0 4px 4px; margin:0}
.special_adbox .thumbnail>img{ margin:0}
.special_adbox dl dd:before{ display:inline-block; content:'-'; padding:0; margin:0 0 0 5px}


.ad_urgent, .ad_spcial, .special_arrow{ display:inline-block; width:121px; height:25px; background:url(/public/img/adspeciaImgs.png) 0 0 no-repeat;}
.ad_spcial{ width:107px; height:29px; background-position:-8px -48px;}
.special_arrow{ position:absolute; top:15px; right:-13%/*-62px*/; width:103px; height:133px; background-position:-10px -95px;}

.icn_mastr, .icn_visa, .icn_onecrd, .icn_cshu, .icn_flspay, .icn_paypl, .icn_mopay, .icn_cud{ display:inline-block; width:80px; height:48px; 
                                                                                              background:url(/public/img/payLogos.gif) 0 0 no-repeat}

.icn_mastr{ width:77px; background-position:-864px 0}
.icn_visa{ width:77px; background-position:-779px 0}
.icn_onecrd{ width:80px; background-position:-679px 0}
.icn_cshu{ width:187px; background-position:-477px 0}
.icn_flspay{ width:67px; background-position:-393px 0}
.icn_paypl{ width:135px; background-position:-242px 0}
.icn_mopay{ width:70px; height:57px; background-position:-101px 0}
.icn_cud{ width:80px; background-position:0 0}
/* /Waseet Special Ad Page */

.index-icon{display: inline-block;margin: 0;padding: 0;background: url("/public/img/index_normal.png") no-repeat scroll 0 7px rgba(0, 0, 0, 0);height: 50px;width: 47px;}
#sidemenu .active .index-icon{background: url("/public/img/index_active.png") no-repeat scroll 0 7px rgba(0, 0, 0, 0);}

.footer .col-sm-10.col-sm-offset-1.footer-menu {
    margin-right: 8.3333%;
}
.form-horizontal .control-label{
    text-align: left;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
#contactus {
    opacity: 0;
    position: fixed;
    top: 88%;
    right: 1.6%;
    -moz-animation: cssAnimation 2s ease-in 3s forwards;
    -webkit-animation: cssAnimation 2s ease-in 3s forwards;
    -o-animation: cssAnimation 2s ease-in 3s forwards;
    animation: cssAnimation 2s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes cssAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cssAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#contactus.btn-circle .fa{
    font-size: 18px
}
/* Media Screen */
/* All Mobile Sizes */
@media only screen and 
(max-width: 767px){
    .special_arrow{display:none}
    .special_adbox .rlative_imgbox{ display:block; clear:both; width:100%; text-align:center}
    .special_adbox h2{text-align:left}
    .footer .col-sm-10.col-sm-offset-1.footer-menu{margin: 0}
}

/* All Mobile, and Tablet */
@media only screen and 
(min-width : 320px) and (max-width : 1024px){
}

/* Smaller than 1024 */
@media only screen and 
(min-width: 1024px){

}

/* Tablet Portrait */
@media only screen and 
(min-width: 768px) and  (max-width: 959px){
    .special_arrow{right: -28%;}
}

/* Just Mobile Portrait */
@media only screen and (max-width: 479px) {
    .special_adbox h2{ font-size:2em}
}
.adbner_box .popover{
    width:100%;
}
.adbner_box .popover-content a.btn {
    color: #FFFFFF;
    margin-top: 2px;
    padding: 2px;
}


.payment_wrap ul.paylogo{padding:0; margin:5px 0 10px; overflow:hidden; list-style:none}
.payment_wrap ul.paylogo li{padding:0; margin:0;}

.icn_mastr, .icn_visa, .icn_onecrd, .icn_cshu, .icn_flspay, .icn_paypl, .icn_mopay, .icn_testbnk{ display:inline-block; width:120px; height:70px; 
                                                                                                  background:url(/public/img/payLogos_en.png) 0 0 no-repeat}

.icn_paypl{ background-position:0 0}
.icn_visa{ background-position:0 -71px}
.icn_mastr{ background-position:0 -142px}
.icn_cshu{ background-position:0 -213px}

.icn_onecrd{  background-position:0 -284px}
.icn_flspay{ background-position:0 -355px}
.icn_mopay{ background-position:0 -426px}
.icn_testbnk{ background-position:0 -497px}
.payment_wrap .radio input[type="radio"]{ margin: 17.5% 10px 0;}

.apps {

}
.app-title {
    color: white;
    font-size: 16px;
}
.app-samsung, .app-android, .app-apple, .app-windows , .app-googleplay{
    width: 42px;
    height: 42px;
    margin: 0px 5px;
    background: url('/public/img/Mobile-Apps-SAMSUNG.png') no-repeat;
}
.app-android {
    background: url('/public/img/Mobile-Apps-ANDROID.png') no-repeat;
}

.app-apple {
    background: url('/public/img/Mobile-Apps-APPLE.png') no-repeat;
}

.app-windows {
    background: url('/public/img/Mobile-Apps-WINDOWS.png') no-repeat;
}

.app-googleplay {
    background: url('/public/img/Mobile-Apps-GooglePlay.png') no-repeat;
}

.blockeduser-page h1.vbig {
    font-size: 24px;
    margin-bottom: 10px;
}

.blockeduser-page h4.big {
    font-size: 18px;
    margin-bottom: 10px;
}

#main-menu .topper .collapse.navbar-collapse {
    float: right;
}

#main-menu .topper .collapse.navbar-collapse > ul {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 10px;
}

#main-menu .topper .collapse.navbar-collapse > ul > li {
    float: left;
    max-height: 40px;
}

#main-menu .country, #main-menu .login, #main-menu .phone  {
    border-right: 1px solid grey;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    padding-top: 4px;
}

#main-menu .phone {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
}

#main-menu .language_lst {
    font-size: 18px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

#main-menu .phone .fa {
    float: left;
    padding: 0px 3px 0px 5px;
}

.uni-header > .container > .col-xs-4 {
    float: right;
}

.uni-header > .container > .col-xs-4 > .social {
    text-align: right;
}

.uni-header ul > li {
    width: auto;
    float: left;
    padding: 0px;
    height: 25px;
}

.uni-header li a {
    color: #000;
    font-size: 12px;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
}

#main-menu2 .top-menu>li>a i {
    position: absolute;
    left: -20px;
    bottom: -6px;
    font-size: 50px;
    color: #696969;
}
#main-menu2 .navbar-nav>li.active>a i {
    color: #da1e30;
}
#main-menu2 .top-menu>li>a i.fa-map-marker {
    left: -10px;
}

#main-menu2 .top-menu>li>a i.fa-tachometer {
    left: -22px;
}

#main-menu2 .top-menu>li>a i.fa-retweet {
    left: -30px;
}

#main-menu2 .top-menu>li>a i.fa-th {
    left: -26px;
}

#main-menu2 .top-menu>li>a {
    height: 54px;
    border-bottom: none;
    border-right: 1px solid rgba(255,255,255,0.12);
    font-size: 16px;
    border-left: none;
    padding: 18px 20px 15px 32px;
    z-index: 1001;
    color: #fff;
}
#main-menu2 .navbar-nav > li.active {
    border-bottom: 3px solid #da1e30;
    height: 54px;
}

.add-main-actions .btn > span{ float:left; vertical-align:middle; padding:0; margin:0; min-height:20px;}

#sidemenu .navbar-left {
    float: right!important;
}

.bootstrap-select.btn-group .btn .filter-option {
    text-align: left;
    width: 70%;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis
}

.bootstrap-select>.btn {
    width: 100%;
}

#searchbox .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
    width: 100%;
}

.bootstrap-select .btn .caret.fa {
    border: none!important;
    right: 20px;
    top: 10px;
}

#main-menu2 .top-menu > li > a.mlogo{display:inline-block; margin:0; padding:15px 20px 15px 0px; display:none}

.search_wrap .btn.dropdown-toggle{ 
    background:#f5f5f5; 
    color:#575757; 
    border-color:#dddddd;  
    min-height:65px; 
    font-size:20px; 
    padding: 0 10px 8px;
    border-radius: 4px 0px 0px 4px;
}
.search_wrap .form-control.input-lg{ border-color:#dddddd;  min-height:65px; padding:10px 20px;line-height: 34px;}

.input-group-addon, .input-group-btn{
    vertical-align: top;
}

.search_wrap .btn.btn-danger{ 
    background:#e51937; 
    padding: 0 20px 5px;  
    min-height:65px;
    border-radius: 0px 4px 4px 0px;
}
.search_wrap .btn.close{ 
    float:left; 
    background:#ffffff; 
    color:#9f9f9f; 
    border:1px solid #dddddd; 
    margin-left: 10px; 
    padding:14px 16px 16px; 
    font-size:32px; 
    min-height:65px;
    border-radius:4px;
    opacity:1; filter: alpha(opacity=100);
}
#content .ad-info {position: absolute; top: 5%; right: 10px; z-index: 1000;}
#content .well .price {
    font-size: 14px;
    float: right!important;
}
#content .col-sm-6 .well .price {
    position: absolute;
    bottom: 30px;
    right: 15px;
}

.node-details .price {
    font-size: 14px;
    color: #fff;
    background-color: #CB0B2F;
    max-width: 90%;
    float: right;
    padding: 2px 10px;
    margin-right: -17px;
    margin-left: 5px;
}

.text-left {
    text-align: right;
}
.img-map {
    box-shadow: 0px 6px 11px -5px grey;
    float: right!important;
}

.node-info-details-wrap li {
    display: inline-block;
    padding: 5px;
    min-width: 30%;
}
.node-extras li.detail {
    padding-left: 10px;
}

.node-page .btn.pull-left, .node-page i.fa.pull-left {
    float: right!important;
}

.btn_seller .btn{ margin-right:5px; padding-bottom: 10px;}

#related-carousel a.list-group-item {
    display: block;
    min-width: 90%;
    padding: 5px;
    border: 0px transparent!important;
}

#related-carousel .list-group {
    padding: 10px 0px;
    margin: 0px;
}

#related-carousel .list-group img {
    margin: 0px 5px;
    float: left!important;
}

#related-carousel .list-group-item-heading {
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.4;
    text-overflow: ellipsis;
    max-width: 180px;
    display: block;
}

.node-page .form-control {
    line-height: 34px;
}
.node-page textarea.form-control{
    height: 130px
}
.panel .breadcrumb >li:before {
    display: none;
}

.panel .breadcrumb > li:not(:last-child):after {
    font-size: 10px;
    color: #9C9C9C;
    content: "\f054";
    font-family: 'FontAwesome';
    font-size: 10px;
    margin-top: 6px;
    padding: 0px 5px;
}

.node-breadcrumb .breadcrumb > li:before {
    display: none;
}
.node-breadcrumb .breadcrumb > li:not(:last-child):after {
    font-size: 10px;
    color: #9C9C9C;
    content: "\f054";
    font-family: 'FontAwesome';
    font-size: 10px;
    margin-top: 6px;
    padding: 0px 5px;
}

.loginbox img {
    border: 3px solid #d9d9d9;
    position: absolute;
    top: 4px;
    left: -35px;
}
#content .well .pageviews ul {
    margin-top: 5px;
    float: left!important;
}
#saved-searches-pieces .col-sm-2 {
    text-align: right;
}

#content .well.mobinil .ad-marker {
    background: url('/public/img/mobinil-en.png') no-repeat;
    height: 40px;
    width: 45px;
    margin-left: -15px;
    margin-top: -2px;
    margin-right: 5px;
    float: left;
}

#content .well.mobinil {
    border: 1px solid #ff6918;
    background-color: #fffaf4;
}
#content.payments .well.mobinil {
    border: 1px solid #ff6918;
    background-color: #fffaf4;
}
#content .col-sm-6 .well.mobinil .ad-marker {
    position: absolute;
    margin-top: 2px;
    margin-left: -5px;
}
.lft{
    float: left !important;
    text-align: left;
}
.rght{
    float: right !important;
    text-align: right;
}
.modal-footer .btn.rght{
    margin-left: 5px;
}
.lang{
    text-align: right;
    margin-bottom: 10px
}
.row.bold-line{
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    padding: 0 5px 10px;
}
.review-form textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    resize: none;
}
.reviews-box a{
    font-size:11px
}
.reviews-box .info span.text-left{
    color:#999;
    font-size:11px
}

.reviews-box h4{
    display: inline-block;
    font-weight: bold;
}
.row.padall {
    padding: 10px;
}
.comment-list-peice .date{
    float: right;
    display: block;
    font-size: 12px;
    color: #999; 
}
.list-piece a.text-info{
    margin:0 10px 0 0;
}
.review-form{
    margin: 20px 0;
}
.reviews-box{
    border-top: 1px solid #e7e7e7;
}
.reviews-load-more-wrapper{
    margin: 20px 0;
}
.list-piece{
    margin: 20px 0;
    border-bottom: 1px solid #e7e7e7;
}
.reviews-box .list-piece:hover .show-action{
    display:inline;
}
.reviews-box .list-piece .show-action{
    display:none;
}
.list-piece .actions {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
.list-piece img{
    margin-right: 10px;
}
.comment-body{
    width: 94%;
}
.comment-list-peice .remove{
    display: none;   
}
.comment-list-peice:hover .remove{
    display: block;
    
}

.listing-piece.unapproved .panel {
    background: url('../img/stripe.png') repeat scroll 0 0 transparent;
}


#content .listing-piece.unapproved .overlay,#content .listing-piece.unpublished .overlay,#content .listing-piece.rejected .overlay {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
    display: block;
}
#content .listing-piece.unapproved .ad-status-marker {
    display: block;
    font-size: 16px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 25%;
    background-color: #ECEBEB;
    opacity: 0.98;
    width: 50%;
    z-index: 100;
    text-align: center;
    vertical-align: middle;
    padding: 9px 10px;
    border-radius: 4px;
    border: 7px solid rgba(255,255,255,0.6);
    color: #696969;
}

.listing-piece.unpublished .panel,.listing-piece.rejected .panel{
    background: #f2f2f2;
}

#content .listing-piece.unpublished .ad-status-marker,#content .listing-piece.rejected .ad-status-marker {
    display: block;
    font-size: 16px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 25%;
    background-color: #ECEBEB;
    opacity: 0.98;
    width: 50%;
    z-index: 100;
    text-align: center;
    vertical-align: middle;
    padding: 9px 10px;
    border-radius: 4px;
    border: 7px solid rgba(255,255,255,0.6);
    color: #696969;
}
.comment-list-peice h4.title {
    line-height: 143%;
}
.report-abuse .text-warning{
    color: #ff6f00;
}
.report-abuse.disabled{
    color:#999;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}
.mobile-user-area{
    padding: 10px;
    font-size: 16px;
    background: #DA1E30;
    background: -moz-linear-gradient(top,  #A6061A 0%, #DA1E30 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A6061A), color-stop(100%,#DA1E30));
    background: -webkit-linear-gradient(top,  #A6061A 0%,#DA1E30 100%);
    background: -o-linear-gradient(top,  #A6061A 0%,#DA1E30 100%);
    background: -ms-linear-gradient(top,  #A6061A 0%,#DA1E30 100%);
    background: linear-gradient(to bottom,  #A6061A 0%,#DA1E30 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A6061A', endColorstr='#DA1E30',GradientType=0 );
}
.mobile-user-area .fa{
    font-size: 26px;
    line-height: 150%;
}
@media only screen and 
(max-width: 767px){
    #main-menu2 .top-menu>li>a i {
        position: absolute;
        left: 0px;
        bottom: 10px;
        font-size: 35px;
        color: #696969;
    }
    #main-menu2 .top-menu > li > a{
        padding: 18px 20px 15px 42px
    }
    #main-menu2 .top-menu > li > a i.fa-tachometer,#main-menu2 .top-menu > li > a i.fa-map-marker,#main-menu2 .top-menu > li > a i.fa-th {
        left: 0px;
    }
    .index-icon{background: url("/public/img/index_normal_mobile.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);height: 26px;width: 33px}
    #sidemenu .active .index-icon{background: url("/public/img/index_active_mobile.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
    .payments .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{margin: 4px 10px 0 0}
    a[data-toggle="savesearch"]{padding:3px;width:40px;margin-top:-5px;float:right;font-size: 0;line-height: 27px}
    a[data-toggle="savesearch"] i,a[data-toggle="savesearch"] span{font-size:18px;vertical-align: middle}
    .beta .illumin {
        background: url('/public/img/splash-beems.png') no-repeat  center bottom transparent;
    }
    .beta img {margin: 30px auto -20px}
    .index-page #mobileSearchButton {display: none}
    #main-menu .btns a.btn {margin: 0 10px 10px 0;width: 94%;padding: 10px}
    
    #content .listing-piece.unpublished .ad-status-marker,#content .listing-piece.rejected .ad-status-marker,#content .listing-piece.unapproved .ad-status-marker {
        top: 40%;
        font-size: 12px;
        width: 70%;
        left: 15%;
    }
    .reviews-box .list-piece .show-action{
        display:inline;
    }
    .pagination li a{
        width: 40px;
        height: 40px;
    }
    .pagination-sm > li > a, .pagination-sm > li > span{
        padding: 10px
    }
    #abuse-modal{
        width: auto;
    }
    #main-menu2 .navbar-nav > li.active {
        border-bottom: 1px solid #da1e30;
    }
}
.carousel-inner.col-xs-10 {
    width: 83.33333333333334%;
}

.country-select-lang {
    position: relative;
    top: 10px;
    right: 10px;
    max-width: 20%;
    float: right;
}

.red-tooltip + .tooltip > .tooltip-inner {background-color: #cb0b2f;}
.waseet-header-links .red-tooltip + .tooltip > .tooltip-arrow { border-left-color:#cb0b2f; border-right-color:#cb0b2f;  }
.waseet-header-links .tooltip-inner{
    font-size:10px;
    line-height: 100%;
    padding-bottom: 7px;
}
.waseet-header-links .tooltip.right{
     margin-left: -6px;
}

.row-margin { 
    margin-top: 10px;
}

.search-font {
    font-size: 16px;
}
.separator{
     border-right: 1px solid #cecece;
}
