.navbar-right {
    float: left!important;
}

#main-menu2 .navbar-nav>li>a {
    border-right: none;
    border-left: 1px solid rgba(255,255,255,0.12);
}

.isotope .isotope-item {
  -webkit-transition-property: right, top, -webkit-transform, opacity;
     -moz-transition-property: right, top, -moz-transform, opacity;
      -ms-transition-property: right, top, -ms-transform, opacity;
       -o-transition-property: right, top, -o-transform, opacity;
          transition-property: right, top, transform, opacity;
}

.list-group-item > .badge {
    float: left;
}

.footer .col-lg-2-5 {width: 20%; float:right;}
/*#content { margin-top: 20px; padding-right: 7px;}*/

.pagination li {float: right;}

.pagination li a {border-radius: 0px!important;}

.list-inline {
    padding-left: 0px;
    padding-right: 0px;
}

.carousel-indicators {direction: ltr;}

.bootstrap-select.btn-group .btn .filter-option{
    left: auto;
    right: 12px;
}

.col-xs-offset-1 {
    margin-left: auto;
    margin-right: 8.6666667%;
}

.col-sm-offset-2, .col-sm-offset-3 {
    margin-left: 0px;
}

h1.form-title{
    font-size: 1.375em;
}

#phone_number{
    text-align: left;
}
.btn-group.bootstrap-select {
    display: table-cell;
}

.seller_form .modal-header{ padding:0 5px 10px}
.seller_form .modal-body{ padding:10px}
.seller_form .modal-body label{ padding:5px 0}
.seller_form .panel-warning{ margin:0 -10px}
.btn_seller .btn{ margin-left:5px; padding-bottom: 10px;}
@media only screen and (max-width: 479px) {
    .modal form .form-group label.control-label{ padding-bottom: 5px;padding-right:7px }
    .modal form .form-group .btn{margin:0 0 5px}
    #abuse-modal.modal form .form-group .btn{margin-right:5px}
}

#main-menu .topper .collapse.navbar-collapse {
    float: left;
}

#main-menu .topper .collapse.navbar-collapse > ul > li {
    float: right;
}

#main-menu .country, #main-menu .login, #main-menu .phone  {
    border-right-width: 0px;
    border-left: 1px solid grey;
}

#main-menu .phone .fa {
    float: right;
    padding: 0px 5px 0px 0px;
}

.uni-header > .container > .col-xs-4 {
    float: left;
}

.uni-header > .container > .col-xs-4 > .social {
    text-align: left;
}

.uni-header ul > li {
    float: right;
}

#main-menu2 .top-menu>li>a i {
    left: auto;
    right: -20px;
}

#main-menu2 .top-menu>li>a {
    padding: 18px 32px 15px 20px;
}

#main-menu2 .top-menu>li>a i.fa-map-marker {
    right: -10px;
    left: auto;
}

#main-menu2 .top-menu>li>a i.fa-tachometer {
    right: -22px;
    left: auto;
}

#main-menu2 .top-menu>li>a i.fa-th {
    right: -26px;
    left: auto;
}
#sidemenu .navbar-left {
    float: left!important;
}

.bootstrap-select button {
    white-space: pre-wrap;
    word-spacing: normal;
    overflow: hidden;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: inline-block;
}

.bootstrap-select.btn-group .btn .filter-option {
    text-align: right;
    white-space: nowrap;
}

#searchbox .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
    width: 270px;
}
.bootstrap-select .btn .caret.fa {
    border: none!important;
    position: relative;
    right: -5px;
    top: 5px;
    float: left;
    width: 20px;
}


ol.category > li {
    margin-left: 3px;
    display: table;
    float: right;
}
#iso .showmore {
    padding-left: 10px;
}
.sidebar-offcanvas {
    padding-left: 10px;
    padding-right: 0px;
}
#main-menu2 .top-menu > li > a.mlogo{display:inline-block; margin:0; padding:15px 0px 15px 20px; display:none}

.search_wrap .btn.dropdown-toggle{ 
    background:#f5f5f5; 
    color:#575757; 
    border-color:#dddddd;  
    min-height:65px; 
    font-size:20px; 
    padding: 0 10px 8px;
    border-radius: 0px 4px 4px 0px;
}
.search_wrap .form-control.input-lg{ border-color:#dddddd;  min-height:65px; padding:10px 20px;margin-top: 0px;line-height: 34px;}

.search_wrap .btn.btn-danger{ 
    background:#e51937; 
    padding: 0 20px 5px;  
    min-height:65px;
    border-radius: 4px 0px 0px 4px;
}
.search_wrap .btn.close{ 
    float:right; 
    background:#ffffff; 
    color:#9f9f9f; 
    border:1px solid #dddddd; 
    margin-right: 10px; 
    padding:14px 16px 16px; 
    font-size:32px; 
    min-height:65px;
    border-radius:4px;
    opacity:1; filter: alpha(opacity=100);
}
#content .ad-info {position: absolute; top: 5%; right: auto; left: 10px; z-index: 1000;}
#content .well .price {
    font-size: 18px;
    float: left!important;
}
#content .col-sm-6 .well .price {
    font-size: 18px;
    position: absolute;
    bottom: 30px;
    left: 15px;
    right: auto;
}


.node-details .price {
    font-size: 16px;
    color: #fff;
    background-color: #CB0B2F;
    max-width: 90%;
    float: left;
    padding: 2px 10px;
    margin-left: -17px;
    margin-right: 5px;
}

.text-left {
    text-align: left;
}

.img-map {
    box-shadow: 0px 6px 11px -5px grey;
    float: left!important;
}
.node-info-details-wrap li {
    display: inline-block;
    padding: 5px;
    min-width: 30%;
    float:right;
    text-align: right;
}

.node-extras li.detail {
    padding-right: 10px;
}

.node-page .btn.pull-left, i.flipper.fa.fa-chevron-up.pull-left {
    float: left!important;
}

#related-carousel .list-group img {
    float: right!important;
}
.node-breadcrumb .breadcrumb > li:not(:last-child):after, .panel .breadcrumb > li:not(:last-child):after {
    content: "\f053";
    padding: 0px 8px 0px 5px;
}

.loginbox img {
    border: 3px solid #d9d9d9;
    position: absolute;
    top: 4px;
    right: -35px;
    left: auto;
}

.actions {
    float: left;
}

.profile > div {
    border-right: none;
    border-left: 1px solid #cecece;
    min-height: 80px;
}
.profile > div:last-child {
    border-right: none;
    border-left: none;
}

.location-flag {
    float: right!important;
}

.profile-page .pageviews small {
    font-size: 75%;
}
#content .well .pageviews ul {
    margin-top: 5px;
    float: right!important;
}
#saved-searches-pieces .col-sm-2 {
    text-align: left;
}

#content .well.premium {
    border: 1px dashed #e3e3e3;
    background-color: #fdfce9;
}
#content .well.premium .ad-marker {
    background: url('/public/img/adv_site2.png') no-repeat;
    height: 40px;
    width: 40px;
    margin-right: -29px;
    margin-top: -2px;
    margin-left: 5px;
    float: right;
}
#content .well.urgent {
    border: 1px solid #da1e30;
}

#content .well.urgent .ad-marker {
    background: url(http://d2vpr50zexy5mb.cloudfront.net/sites/all/themes/alwaseet/images/sprite-2.png) no-repeat scroll -250px 0 transparent;
    height: 50px;
    width: 60px;
    margin-right: -25px;
    float: right;
    margin-top: -15px;
}

#content .well.mobinil .ad-marker {
    background: url('/public/img/mobinil-ar.png') no-repeat;
    height: 40px;
    width: 45px;
    margin-right: -15px;
    margin-top: -2px;
    margin-left: 5px;
    float: right;
}

#content .well.mobinil {
    border: 1px solid #ff6918;
    background-color: #fffaf4;
}
#content.payments .well.mobinil {
    border: 1px solid #ff6918;
    background-color: #fffaf4;
}
#content .col-sm-6 .well.mobinil .ad-marker {
    position: absolute;
    margin-top: 2px;
    margin-right: -5px;
}
.add-main-actions .btn > span{ float:right;}
.fixed-goto {
    right: 90%;
}
.lft{
    float: right !important;
    text-align: right;
}
.rght{
    float: left !important;
    text-align: left;
}
.sold-marker {
    left: inherit;
    right: 15px;
}
.node-details li, .node-details p {
    font-size: 12px;
}
.flip {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.unflip {
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.lang{
    text-align: left;
}
.md-listing #content .col-sm-12 .well .md-info {
    right: inherit;
    left: 5px;
}

.mobile-menu-actions{
    left: 2px;
    right: auto;
}
.maps-box-container button.close {
    left: -13px;
    right: auto;
}
.special_adbox ul.paylogo li{ float:right; margin:0 0 0 10px;}

#main-menu .btns a.btn{    margin: 0 9px 10px 0;}
#main-menu .btns{padding: 10px 0 0 10px;}
.actions .btn.repost {
    margin-left: 33px;
    margin-right: 0;
}
.comment-list-peice .date{
    float: left;
}
.list-piece a.text-info{
    margin:0 0 0 10px; 
}
.list-piece .actions {
  left: 0;
  right: auto;
}
.list-piece img{
    margin-right: 0;
    margin-left: 10px;
}
@media (max-width: 980px) {
    .profile-details .actions .dropdown-menu{
        left: 0;
        right: auto
    }
}
@media (max-width: 680px) {
    #main-menu2 .navbar-right {float:none!important;margin: 10px auto;margin-bottom: 0px;padding: 0px;}
    button[data-target="#mobile-search"]{position: absolute; right: 0px;}
    button[data-target="#main-menu"]{/* position: absolute; */ /* left: 0px; */}
    #main-menu2 .navbar-nav>li>a {border: none;}
    .navbar-fixed-top{left: 0px; right: auto; width: 100%;}
    .mm-list a.mm-subopen{right:auto; left:0px;}
    .mm-list a.mm-subopen:after, .mm-list a.mm-subclose:before{transform: rotate(135deg); -webkit-transform: rotate(135deg);-moz-transform: rotate(135deg);-ms-transform: rotate(135deg);-o-transform: rotate(135deg);}
    .mm-list a.mm-subopen:after{left: 20px;right:auto;}
    h1.form-title{font-size: 16px;}
    .btn-group.bootstrap-select {display: block;}
    #main-menu .navbar-nav li {padding: 0 10px 0 0;}
    a#mobile-user-menu-button , a#mobile-user-menu-button:hover , a#mobile-user-menu-button:active {border-right-width: 0px; border-left: 1px solid #DFE1E0;}
    a#mobile-main-menu-button , a#mobile-main-menu-button:hover , a#mobile-main-menu-button:active {border-left-width: 0px;}
    .mobile-categories {margin: 5px; padding:0px; width: 100%;}
    #main-menu2 .navbar-nav > li > a i {right: -25px;}
    #main-menu2 .navbar-nav > li > a i.fa-map-marker {right: -18px;}
    .col-xs-6 {padding-left: 5px; padding-right: 0px;}
    .col-xs-6:nth-child(even) {padding-right: 5px; padding-left: 0px;}
        #content .col-sm-6 .well {min-height: 320px;}
        #iso .showmore {padding-left: 0px;}
        .price-holder {position: absolute;top: 2px;right: auto; left: 10px;min-width: 180px;}
    
    #main-menu2 .top-menu>li>a i {
        right: 0px;
        bottom: 10px;
        font-size: 35px;
    }
    #main-menu2 .top-menu > li > a{
        padding: 18px 42px 15px 20px;
    }
    #main-menu2 .top-menu > li > a i.fa-tachometer,#main-menu2 .top-menu > li > a i.fa-map-marker,#main-menu2 .top-menu > li > a i.fa-th {
        right: 0px;
    }
    .profile-page #content .well .btn-group {left: 0px;right: auto;}
    #content .well.urgent .ad-marker {
        margin-top: -8px;
    }
    .payments .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{margin: 4px -20px 0 10px}
    a[data-toggle="savesearch"] {float: left;}
    #searchbox .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
        width: 100%;
    }
    .special_adbox h2{text-align:right}
    .details div.enterprise {left: 0px;right: inherit}
    .fa.fa-plus.rght.text-danger {
    border-left: 1px solid #eee;
    border-right: none;
    font-size: 18px;
    margin: 0;
    padding: 20px 10px 14px 25px;
    }
    .plus {
        display: none;
    }

}

.icn_mastr, .icn_visa, .icn_onecrd, .icn_cshu, .icn_flspay, .icn_paypl, .icn_mopay, .icn_testbnk{ display:inline-block; width:120px; height:70px; 
                                                                                                  background:url(/public/img/payLogos.png) 0 0 no-repeat}
.icn_paypl{ background-position:0 0}
.icn_visa{ background-position:0 -71px}
.icn_mastr{ background-position:0 -142px}
.icn_cshu{ background-position:0 -213px}

.icn_onecrd{  background-position:0 -284px}
.icn_flspay{ background-position:0 -355px}
.icn_mopay{ background-position:0 -426px}
.icn_testbnk{ background-position:0 -497px}


.country-select-lang {
    position: relative;
    top: 10px;
    right: auto;
    left: 10px;
    max-width: 20%;
    float: left;
}

.waseet-header-links .tooltip.left{
     margin-left: 6px;
}
.separator{
     border-left: 1px solid #cecece;
     border-right:0;
}
