@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind'), local('Hind-Regular'), url(http://fonts.gstatic.com/s/hind/v6/54xT50mTwp3x1sfAjryqVw.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Bold'), local('Hind-Bold'), url(http://fonts.gstatic.com/s/hind/v6/-LuSFX-UUha9GSOzK9-1cA.ttf) format('truetype');
}
