﻿* {
    font-family: 微软雅黑;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    border: 0px;
}

.bgcolor1 {
    background-color: #00BE9C;
}

.bgcolor2 {
    background-color: #55D694;
}

.clear {
    clear: both;
}

.cbtn {
    background-color: #FFCC66;
    color: #01705C;
    font-weight: bold;
    border-bottom: 2px solid #007B40;
    width: 100px;
    height: 30px;
    display: block;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}

.cbtn:link {
    text-decoration: none;
}

.cbtn:visited {
    text-decoration: none;
    color: #01705C;
    /*background-color: #003636;*/
}

.cbtn:hover {
    text-decoration: none;
    color: #01705C;
    background-color: #CCCCCC;
}

.bg {
    width: 100%;
}

.bg0 {
    width: 100%;
    background: url(../images/bg9.jpg) center center no-repeat;
    background-size: 100% 100%;
    background-color: #00B18E;
    padding-top: 50px;
}

.bg1, .bg2, .bg3, .bg4 {
    width: 980px;
    margin: 0 auto;
}

.c3, .c4, .c5, .c6 {
    height: 500px;
    width: 980px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #333333;
}

.menu {
    width: 980px;
    height: 50px;
    margin: 0 auto;
    color: #00CC66;
}

    .menu li {
        list-style-type: none;
        float: left;
        width: 90px;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }

.nav_2 {
    color: #00CC66;
    font-size: 16px;
}

    .nav_2:hover {
        color: #A0A0A0;
    }

.cycle1 {
    width: 930px;
    margin: 0 auto;
    height: 540px;
    overflow: hidden;
}

    .cycle1 .item {
        /*width:930px;*/
        /*height:514px;*/
    }

.bg1 .c1btn {
    margin-top: 20px;
    display:none;
}

.bg1 .plbtn {
    float: left;
    width: 490px;
}

.bg2 {
    background-image: url(../images/yy-a.png);
    background-repeat: no-repeat;
    height:280px;
}

.bg3 {
    background-image: url(../images/yy-b.png);
    background-repeat: no-repeat;
}
    .bg2 .owl-stage {
        margin-top: 8px;
    }

.customerc {
    width: 890px;
    height:168px;
    margin: 0 auto;
    float: left;
    overflow:hidden;
}

.cbigbg {
    background: #54D694;
    border-radius: 50%;
    position: relative;
    height: 120px;
    width: 120px;
    box-shadow: 0px 0px 8px #33cc99;
    margin: 0 auto;
}

.customer img {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 8%;
    top: 8%;
}

.customer .text-center {
    color: #005344;
    overflow: hidden;
    max-height: 20px;
    text-align: center;
    white-space: nowrap;
    margin-top: 10px;
    color: #fff;
}

#customer_left {
    float: left;
    width: 40px;
    height: 80px;
    background: url(../images/xleft.png) no-repeat;
    cursor: pointer;
    opacity: 0.5;
    margin-top: 36px;
}

#customer_right {
    float: right;
    width: 40px;
    height: 80px;
    background: url(../images/xright.png) no-repeat;
    cursor: pointer;
    opacity: 0.5;
    margin-top: 36px;
}

.bg2 .yy {
    background-image: url(../images/yy-b.png);
    background-repeat: no-repeat;
    height: 40px;
    margin-top: 20px;
}

.boxleft, .boxright {
    float: left;
    width: 490px;
    height: 500px;
}

.ctitle {
    font-size: 34px;
    color: #005344;
    margin-bottom: 20px;
}

.ctext {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #005344;
}



.c7 {
    width: 980px;
    margin: 0 auto;
    color: #d1d1d1;
}

    .c7 a {
        color: #d1d1d1;
        margin: 5px;
    }

        .c7 a:visited {
            color: #d1d1d1;
        }

        .c7 a:hover {
            color: #fff;
        }


    .c7 .nav-logo a {
        margin-left: 0;
    }

    .c7 p {
        color: #d1d1d1;font-size:14px;line-height: 25px;
    }

.col {
    float: left;
}

#nav_bottom {
    border-bottom: 1px solid #8c8c8c;
    width: 980px;
    padding: 40px 0;
}

#nav_columns h4 a {
    color: #fff;
}

#nav_columns h4 {
    margin-bottom:10px;
}

#nav_bottom .nav-column {
    border-left: 1px solid #8c8c8c;
    width: 137px;
    padding-left: 26px;
}

#nav_columns {
    margin-left: 71px;
    margin-right: 8px;
}

#links {
    margin-bottom: 50px;
    color: #d1d1d1;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
}

#links a {
    color: #d1d1d1;
}

.wrap {
    width: 980px;
    margin: 30px auto;
}
