@charset "UTF-8";

/* ページ初期設定
--------------------------------------------------- */

* {
	font-size: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background:#eeeeee;
	color:#333333;
	margin: 0;
	padding: 0;
	font: 75%/1.5 'Meiryo UI','メイリオ','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Verdana,'ＭＳ Ｐゴシック',sans-serif;
}

img {
	border-style: none;
	vertical-align: bottom;
}
	
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #4694d1;
}

a:visited {
	text-decoration: none;
	color: #4694d1;
}

a:hover {
	text-decoration: none;
	color:#4694d1;
}


/* container（全ページ共通）
----------------------------------------------------- */
#container {
	margin: 0px auto;
	padding: 0px;
	width: 960px;
	height: auto;
	background:#FFF;
}

#TOP { 
	height: 12px; 
	font-size: 1px !important;
}

#warning { 
	padding: 10px; 
	text-align: center;
	color: #F03;
}

.print { 
	cursor: pointer;
}


/* header（全ページ共通）
------------------------------------------------------ */
#header {
	margin: 0;
	padding: 0px 13px;
	width: 934px;
}

  #header_top{
	  padding-bottom:10px;
	  /*overflow:hidden;*/
	  height: 55px;
  }

  #header_logo{
	padding: 0 16px 0 2px;
	float: left;
  }
  
  #header_search{
	float: left;
	width: 335px;
	position: relative;
	padding: 0 30px 0 14px;
  }
  
    #searchH {
		background:url(/content/400007625.gif) no-repeat;
		margin: 8px 0 2px 0;
		height: 17px;
	}
	
    .search_field {
	}
	
	#searcharea{
		width:277px;
		border: none;
		background-color: transparent;
	}
	
	input[type='radio']{
		margin-top:5px;
		margin-right:5px;
	}
	
	#header_search label { padding-right: 10px;}

    #submit{
	/*background:url(../../common/images/button_search.gif) no-repeat;*/
	border: 0;
	width: 48px;
	height: 17px;
	background: none;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
	left: 296px;
	}
	
	.radio_btn { padding-top: 5px;}
  
  #header_navi1{
	float: right;
	width: 330px;
	padding: 8px 0 0 0;
	height: 16px;
	margin: 0 5px 0 0;
  }
  
  #header_lang ul {
	height: 16px;
	float: left;
	width: 235px;
	margin-top: 2px;
  }

  #header_lang ul li{
	  float:left;
	  background:url(/content/400007647.gif) no-repeat;
	  padding:0 20px;
	  line-height:15px;
  }
  
  #header_sns {
	  height: 16px;
  }
  #header_sns ul li{
	float: right;
	height: 16px;
	margin: 0 0 0 5px;
  }
  
  #header_navi0{
	  padding-top: 8px;
	  clear: left;
	  height: 15px;
  }

  #header_navi0 ul li{
	float: left;
	background: url(/content/400007646.gif) no-repeat;
	padding: 2px 0 0 20px;
	font-size: 85%;
	line-height: 15px;
	height: 15px;
  }

  #header_navi2{
	  clear:both;
	  background-color:#4694d1;
	  color:#FFF;
	  height:42px;
	  line-height:42px;
	  position:relative;
	  overflow:hidden;
	  width: 100%;
  }
  
    #header_navi2 li a{
		color:#FFF;
		display:block;
		padding:0 22px;
	}

    #header_navi2 a:visited{
		color:#FFF;
	}

    #header_navi2 a:hover{
		color:#333;
	}

    #header_navi2 ul{
	position: relative;
	left: 50%;
	float: left;
	}

    #header_navi2 ul li {
		position:relative;
		left:-50%;
		float:left;
		font-size:123.1%;
	}

  #header_navi3{
	  clear:both;
	  height:42px;
	  line-height:42px;
	  position:relative;
	  overflow:hidden;
	  width: 100%;
  }
  
    #header_navi3 li a {
		color:#333;
		display:block;
		padding:0 22px;
	}
  
    #header_navi3 a:visited{
		color:#333;
	}
  
    #header_navi3 a:hover{
		color:#4694d1;
	}
  
    #header_navi3 ul{
	position: relative;
	left: 50%;
	float: left;
	}
	
	#header_navi3 ul li{
		position:relative;
		left:-50%;
		float:left;
		font-size:123.1%;
	}

/* パンくずリスト
--------------------------------------------- */
#topic_path {
	margin: 0 16px;
	padding: 5px 0;
	text-align: right;
	font-size: 93%;
}

  #topic_path ul li {
	  float:right;
	  padding:0;
	  height: 17px;
  }
  
  #topic_path a,
  #topic_path ul li a {
	  text-decoration: none;
	  color: #4694d1;
  }

  #topic_path a:visited,
  #topic_path ul li a:visited {
	  text-decoration: none;
	  color: #4694d1;
  }

  #topic_path a:hover,
  #topic_path ul li a:hover {
	  text-decoration: underline !important;
	  color:#4694d1;
  }

/* メイン
--------------------------------------------- */
#main{
	margin: 0 7px 0 8px;
	overflow: hidden;
	clear: both;
}

/* サイド
--------------------------------------------- */

/*　index用　　*/
#index_side{
	margin: 0;
	width: 262px;
	float: left;
}

  .index_side_menu{
	  margin-bottom:5px;
  }
  
    .index_side_menu_top{
		background:url(/content/400007698.jpg) no-repeat;
		height:7px;
	}

    .index_side_menu_body{
		background:url(/content/400007696.jpg) repeat-y;
		padding:15px 15px;
	}
	
	.index_side_menu_body h2 {
		color: #666666;
		font-size: 197%;
		margin: 0;
		padding: 0 0 10px 0;
	}

    .index_side_menu_bottom{
		background:url(/content/400007697.jpg) no-repeat;
		height:7px;
	}

/*　index用　end　　*/

#side {
	margin: 0;
	padding: 0 4px 0 0;
	width: 240px;
	float: left;
}

  .side_menu{
	  margin-bottom: 6px;
  }
  
    .side_menu_top{
		background:url(/content/400007661.jpg) no-repeat;
		height:7px;
	}

    .side_menu_body{
		background:url(/content/400007659.jpg) repeat-y;
		padding:15px 15px;
	}
	
	.side_menu_body h2 {
		color: #666666;
		font-size: 197%;
		margin: 0;
		padding: 0 0 10px 0;
	}

    .side_menu_bottom{
		background:url(/content/400007660.jpg) no-repeat;
		height:7px;
	}


/* ----------------------------------------
   アコーディオン
---------------------------------------- */

.side_menu_body ul.accordion { 
	padding: 0;
	margin: 0;
}

.side_menu_body ul.accordion .accordion_head {
	cursor:pointer;
	padding:0 0 5px 0;
	line-height: 1.3em;
	font-size: 116%;
}
.side_menu_body ul.accordion,
.side_menu_body ul.accordion > li {
}
.side_menu_body ul.accordion > li > a,
.side_menu_body ul.accordion > li > .accordion_head {
	display:block;
	color:#333333;
}
.side_menu_body ul.accordion a {
	text-decoration:none;
}
.side_menu_body ul.accordion > li > a:hover {
	color:#4694d1;
	font-weight: bold;
}
.side_menu_body ul.accordion > li > .accordion_head:hover {
	color: #333333;
	font-weight: bold;
}

.book_01,
.book_02 { padding: 10px 0}

/* ----------------------------------------
   accordionの中身
---------------------------------------- */
.side_menu_body ul.accordion li ul.accordion_menu {
	margin:0 0 10px 0;
	padding: 0;
}
.side_menu_body ul.accordion li ul.accordion_menu li {
	background:url(/content/400007647.gif) no-repeat;
	background-position: 0 2px;
	padding:0 0 0 20px;
	margin:0 0 3px 0;
	line-height:1.5em;
	font-weight: normal;
}
.side_menu_body ul.accordion li ul.accordion_menu li a {
	/*display:block;*/
	font-weight: normal;
	color: #333333;
}
.side_menu_body ul.accordion li li a:hover {
	font-weight: bold !important;
}
.side_menu_body ul.accordion li ul.accordion_menu li span.txt01 { color: #999999; }

/* ----------------------------------------
   selected
---------------------------------------- */
.side_menu_body ul.accordion div.selected,
.side_menu_body ul.accordion > li .selected,
.side_menu_body ul.accordion > li .selected:hover {
	color:#333333;
	font-weight: bold;
}
.side_menu_body ul.accordion > li .selected + * {
	color:#333333;
	font-weight: bold;
}



/* コンテンツ
--------------------------------------------- */

/*　indexと共有　　*/
#content {
	margin: 0;
	padding: 0;
	width: 658px;
	float:left;
	margin-bottom:15px;
}
  
  #content_top{
	  background:url(/content/400007641.jpg) no-repeat;
	  height:7px;
  }

  #content_body{
	  background:url(/content/400007639.jpg) repeat-y;
  }

  #content_bottom{
	  background:url(/content/400007640.jpg) no-repeat;
	  height:7px;
  }
  
  #main-content { 
  	margin: 0 10px;
    width: 96%;
  }
  
  #main-content h2 {
	  color: #333333 !important;
	  font-weight: bold;
	  font-size: 123.1% !important;
	  width: 100%;
  }

  .visitor_tbl { 
  	padding: 0;
	margin: 0 0 20px 0;
	width: 100%;
	}
  .visitor_tbl td { 
  	vertical-align: top !important;
	width: 50%;
	}
  .visitormenulist { padding: 30px 20px 10px 20px;}
  .visitormenulist .subtitle {
	  font-size: 116% !important;
	  font-weight: bold !important;
	  padding: 0 0 10px 0 !important;
	  margin: 0 !important;
	}
  .visitormenulist ul {
	  margin: 0 0 0 15px;
	  padding: 0;
	  }
  .visitormenulist li { padding-bottom: 5px;}
  .visitormenulist li a {
	font-weight: normal;
	color: #4694d1;
   }
   .visitormenulist li a:hover { text-decoration: underline !important;}

   .visitormenulist li ul { padding-left: 15px;}

/* ブロック
--------------------------------------------- */
#bloc{
	margin: 0 0 4px 0;
	padding: 0;
	width: 700px;
	float: right;
}

/* Top main contents frame, top line no color */
  #bloc_top{
	  background:url(/content/400007630.jpg) no-repeat;
	  height:10px;
  }
	
	#bloc_body h2{
		clear:both;
		background:#eee;
		text-align:center;
		font-weight:bold;
		height:26px;
		line-height:26px;
		margin-bottom:20px;
		/*float:left;
		color:#333333;
		font-size:240%;
		margin-bottom:15px;
		margin-top: 5px;
		font-weight: normal;*/
	}
	
	#bloc_body h3 {
		font-size: 153.9%;
		margin-bottom: 15px;
	}

/* Top main contents frame, top line blue */
  #bloc_b_top{
	  background:url(/content/400007628.jpg) no-repeat;
	  height:7px;
  }


/* Top main contents frame, top line gray */
  #bloc_g_top{
	  background:url(/content/400007629.jpg) no-repeat;
	  height:7px;
  }


/* Top main contents frame, top line blue and gray and no color */
  #bloc_body,
  #bloc_b_body,
  #bloc_g_body{
	background: url(/content/400007626.jpg) repeat-y;
	padding: 10px 14px 10px 15px;
  }
  #bloc_body_notice{
	background: url(/content/400007626.jpg) repeat-y;
	padding: 0 14px 6px 15px;
  }
  
  #bloc_bottom,
  #bloc_b_bottom,
  #bloc_g_bottom{
	  background:url(/content/400007627.jpg) no-repeat;
	  height:7px;
	  clear: both;
  }

/* Top main contents elements, top line blue and gray and no color */
    #bloc_b_body h2{
		float:left;
		color:#4694d1;
		font-size:240%;
		margin-bottom:10px;
		margin-top: 5px;
		font-weight: normal;
	}
	
	#bloc_g_body h2{
		float:left;
		color:#333333;
		font-size:240%;
		margin-bottom:15px;
		margin-top: 5px;
		font-weight: normal;
	}

	#bloc_b_body h3,
	#bloc_g_body h3{
		font-size:108%;
		font-weight: normal;
		margin-bottom:15px;
	}

	#bloc_b_body h4,
	#bloc_g_body h4{
		font-size:153.9%;
		font-weight: normal;
		margin-bottom:10px;
	}


/* Main contents inner frame, line top Gray */
.gray_box{
	clear: both;
	width: 670px;
	margin: 0 0 5px 0;
}

  .gray_box_top{
	  background:url(/content/400007645.jpg) no-repeat;
	  height:7px;
  }
  .gray_box_body{
	background: url(/content/400007643.jpg) repeat-y;
	padding: 10px 12px;
  }
  .gray_box_bottom{
	  background:url(/content/400007644.jpg) no-repeat;
	  height:7px;
  }

/* Print */
    #bloc_print ul { height: 17px;}
	
    #bloc_print li{
		list-style:none !important;
		background:url(/content/400007653.gif) no-repeat;
		padding:0 0 10px 20px;
		margin-left: 20px;
		line-height:15px;
		float:right;
		font-size: 93%;
		background-position: 0 1px;
		height:17px;
	}
	
    #bloc_print a{
		color:#666666;
		display:block;
		padding-top:2px;
	}
  
    #bloc_print a:visited{
		color:#666666;
	}
  
    #bloc_print a:hover{
		color:#4694d1;
	}
	
/* RSS */
    #bloc_rss ul { height: 17px;}
	
    #bloc_rss li{
		background:url(/content/400007654.gif) no-repeat;
		padding:0 0 10px 20px;
		line-height:15px;
		float: left;
		font-size: 93%;
		background-position: 0 1px;
		height:17px;
	}
	
    #bloc_rss a{
		color:#666666;
		display:block;
		padding-top:2px;
	}
  
    #bloc_rss a:visited{
		color:#666666;
	}
  
    #bloc_rss a:hover{
		color:#4694d1;
	}


/* Got to page top */
  #bloc_goto {
	  padding-top: 10px;
	  clear: left;
	  height: 15px;
  }

  #bloc_goto ul li{
	  float: right;
	  background:url(/content/400007655.gif) no-repeat;
	  padding:0 0 0 20px;
	  font-size:93%;
	  line-height:15px;
	  height: 15px;
	  list-style:none !important;
  }
  
    #bloc_goto ul li a{
		color:#666666;
		display:block;
	}
  
    #bloc_goto ul li a:visited{
		color:#666666;
	}
  
    #bloc_goto ul li a:hover{
		color:#4694d1;
	}

/* コンテンツ内の要素 */

	.context01 {
	/* font-size: 153.9%; */
		font-size: 120%;
	}
	
	.context02 { 
		font-size: 108%;
		text-align: center;
		font-weight: bold;
		}
	.context02 a{
		color:#4694d1;
		font-size: 108%;
	}
	.context02 a:visited{
		color:#4694d1;
	}
	.context02 a:hover{
		color:#4694d1;
		text-decoration: underline !important;
	}
	
	.list01 dt {
		padding: 0;
		margin: 0;
		font-size: 123.1%;
	}
	.list01 dd {
		padding: 0 0 15px 0;
		margin: 0;
		font-size: 108%;
	}

/* 左バナー */
	.banner,
	.banner_l01,
	.banner_l02 {
		/*background-color: #eeeeee;*/
		margin: 0 0 10px 6px;
		width: 230px;
	} 
	
	.banner_l01 { height: 50px;}
	.banner_l02 { height: 80px;}



/* フッター
--------------------------------------------- */

#footer {
	margin:0;
	padding:0;
	width: 960px;
	clear: both;
	text-align:center;
}

  #footer_navi {
	  height: 25px;
	  padding-top: 15px;
  }

    #footer_navi a{
		color:#666666;
		display:block;
		padding-top:2px;
	}
  
    #footer_navi a:visited{
		color:#666666;
	}
  
    #footer_navi a:hover{
		color:#4694d1;
	}
  
  #footer_navi ul { margin-right: 5px;}
  
  #footer_navi ul li{
	float: right;
	background: url(/content/400007646.gif) no-repeat;
	background-position: 0 1px;
	height: 17px;
	line-height: 15px;
	padding-left: 20px;
	margin-bottom: 10px;
	color: #999999;
	font-size: 93%;
	margin-right: 13px;
  }
  
  #footer_address{
	  clear:both;
	  position:relative;
	  overflow:hidden;
	  border-top:#ddd solid 1px;
	  padding-top:16px;
	  font-size: 85%;
	  color: #999999;
	  margin: 0 15px;
	  width: 930px;
    }

    #footer_address a{
		color:#666666;
		display:block;
		padding:0 15px 16px 15px;
	}
  
    #footer_address a:visited{
		color:#666666;
	}
  
    #footer_address a:hover{
		color:#4694d1;
	}
  
    #footer_address ul{
		position:relative;
		left:50%;
		float:left;
	}
	
	#footer_address ul li{
		position:relative;
		left:-50%;
		float:left;
		padding:0 10px 10px 10px;
		color:#999999;
	}
	
	#footer_text{
		text-align:center;
		-webkit-text-size-adjust:none;
		color:#999999;
		font-size: 85%;
	}
	
	#footer_copy{
		padding:5px 0 16px 0;
		color:#999999;
		font-size: 93%;
	}

/*  訪問者別メニュー
--------------------------*/
.heading-area .fl { 
	float: left;
	width: 70%;
}
.heading-area .fr { 
	float: right;
	width: 23%;
	padding-top: 5px;
}
.heading-area .fl h2 {
	  color: #333333 !important;
	  font-weight: bold;
	  font-size: 123.1% !important;
	  width: 100%;
	  padding: 0;
	  margin: 0;
	  line-height: 1.3em;
  }
#news,
#event {
	clear: both;
	width: 100%;
	padding: 0 0 30px 15px;
}
#news li,
#event li { padding-bottom: 8px;}

#news a,
#event a {
	font-weight: normal;
	color: #4694d1;
}

.visitormenulist li a {
	font-weight: normal;
	color: #4694d1;
   }
#news  a:hover,
#event a:hover { text-decoration: underline !important;}

    .heading-area .fr a{
		color:#999999;
		display:block;
		padding-top:2px;
	}
  
    .heading-area .fr a:visited{
		color:#999999;
	}
  
    .heading-area .fr a:hover{
		color:#4694d1;
	}
  
  .heading-area .fr ul { margin-right: 5px;}
  
  .heading-area .fr ul li{
	  float:right;
	  background:url(/content/400007646.gif) no-repeat;
	  background-position: 0 1px;
	  height:17px;
	  line-height:15px;
	  padding-left:20px;
	  margin-bottom:10px;
	  color: #999999;
	  font-size: 93%;
  }
  
/*  地図
--------------------------*/
#map { background-color: #FFF !important;}
#map .ml10 { 
	margin: 10px;
	width: 600px;
}
.title h2 {
	color:#333333;
	font-size:139%;
}
.icon { padding-right: 5px;}
.menu { padding-right: 10px;}
.menu,
.address { color: #999;}

#map .menu a {
	text-decoration: none;
	color: #4694d1;
}

#map .menu a:visited {
	text-decoration: none;
	color: #4694d1;
}

#map .menu a:hover {
	text-decoration: underline;
	color:#4694d1;
}
#map .txt02 { color: #666666;}


/*  フォーム
---------------------------*/

#narrow-down .subtitle {
	font-size: 116%;
	margin-bottom: 3px;
}
#narrow-down .form_fields { margin-bottom: 10px;}
#narrow-down .form_fields,
#narrow-down .form_fields option,
#narrow-down .form_fields input,
#narrow-down .form_fields select {
	font-size: 108% !important;
}
#text_input { 
	width: 210px;
	border: solid 1px #a4a4a4;
}
   #clear_btn,
   #sort_btn {
	border: 0;
	width: 102px;
	height: 20px;
	background-color: transparent !important;
	cursor: pointer;
	}
   
   #clear_btn {
	background: url(/content/400007631.gif) no-repeat;
	margin-right: 6px;
	}
	
   #sort_btn { background: url(/content/400007632.gif) no-repeat;}
   
   #relation_links  {
		margin: 0 0 10px 6px;
		width: 230px;
	} 
	
	#relation_links li {
		height: 26px;
		width: 230px;
		margin-bottom: 5px !important;
	}
	#relation_links li a {
		height: 26px;
		width: 230px;
		display: block;
		text-indent: -999999px;
		margin-bottom: 5px !important;
	}
	#relation_links li.li_01 a {
		background-image: url(/content/400007635.gif);
		background-repeat: no-repeat;
	}
	#relation_links li.li_02 a {
		background-image: url(/content/400007638.gif);
		background-repeat: no-repeat;
	}
	#relation_links li.li_03 a {
		background-image: url(/content/400007637.gif);
		background-repeat: no-repeat;
	}
	#relation_links li.li_04 a {
		background-image: url(/content/400007634.gif);
		background-repeat: no-repeat;
	}
	#relation_links li.li_05 a {
		background-image: url(/content/400007636.gif);
		background-repeat: no-repeat;
	}
	#relation_links li.li_06 a {
		background-image: url(/content/400007633.gif);
		background-repeat: no-repeat;
	}
	#relation_links li.li_01 a:hover,
	#relation_links li.li_02 a:hover,
	#relation_links li.li_03 a:hover,
	#relation_links li.li_04 a:hover,
	#relation_links li.li_05 a:hover,
	#relation_links li.li_06 a:hover {
		background-position: 0 -26px;
	}

/*  ページ送り
---------------------------*/
.pagenavi { padding: 5px 0;}
.pagenavi ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.pagenavi li {
  list-style-type: none;
  display: inline;
}
.pagenavi a, .pagenavi a:visited {
  padding: 3px 5px;
  /*border: 1px solid #4694d1;*/
  text-decoration: none;
  color: #4694d1;
}
.pagenavi a:hover, .pagenavi a:active {
  /*border: 1px solid #4694d1;*/
  color: #ffffff;
  background-color: #4694d1;
}
.pagenavi a.current {
  background-color: #4694d1;
  color: #ffffff !important;
  /*border-color: #4694d1;
  font-weight: bold;*/
  cursor: default;
}
.pagenavi {
    display: table;
    margin-left:auto;
    margin-right:auto;
}

/*  オプション
---------------------------*/
a.exlink {
	background: url(/content/400007650.gif) no-repeat right 0 !important;
	padding-right: 20px !important;
}


/* Contribute用追加
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ▽ */

/* Contribute用 ol */
ol.a_list {
  margin:0 10px 15px 20px;
}
ol li.a_list {
  list-style:outside;
  list-style-type:decimal;
  margin:0.5em 0 0.5em 2em;
}

/* Contribute用 li */
ul.a_list {
  margin:0 10px 15px 20px;
}
ul li.a_list {
  list-style:outside;
  list-style-type:disc;
  margin:0.5em 0 0.5em 2em;
}

/* 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Contribute用 再設定 */
blockquote {
	padding-left: 30px;
}

strong {
	font-weight: bold;
}
	
em {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-style: italic;
}


/* 全学ニュース検索フォーム
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#newsSearchH {
	background:url(/content/400026106.gif) no-repeat;
	margin: 8px 0 2px 0;
	height: 17px;
}

.search_field {
	position:relative;
}

#newsSearcharea{
	width:157px;
	border: none;
	background-color: transparent;
}

#newsSubmit{
	border: 0;
	width: 48px;
	height: 17px;
	background: none;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
	left: 162px;
	}

.formBukyoku select{
	width:210px;
}


/* 全学ニュースファイルアイコン
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.arwLink01 li {
	margin-bottom: 5px;
}
.arwLink01 li a {
	display: inline-block;
	padding: 2px 25px 2px 0;
}
.arwLink01 .icnPdf a {
	background: url(/content/400002189.png) no-repeat right 1px;
}
.arwLink01 .icnPdf a {
	background: url(/content/400002189.png) no-repeat right 1px;
}
.arwLink01 .icnWord a {
	background: url(/content/400002190.png) no-repeat right 1px;
}
.arwLink01 .icnExcel a {
	background: url(/content/400002191.png) no-repeat right 1px;
}
.arwLink01 .icnMovie a {
	background: url(/content/400002192.png) no-repeat right 1px;
}
.arwLink01 .icnPpt a {
	background: url(/content/400018529.png) no-repeat right 1px;
}