@charset "UTF-8";

/*
============================ Base CSS ============================

			デフォルト設定
				1.マージン・インデント
				2.位置クラス
				3.幅設定
				4.リスト
				5.アクセシビリティ
				6.不具合回避

====================================================================
*/


/* 1.マージン・インデント
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ▽ */

.m5 { margin: 5px !important; }
.m10 { margin: 10px !important; }
.m20 { margin: 20px !important; }
.m30 { margin: 30px !important; }
.m40 { margin: 40px !important; }
.m50 { margin: 50px !important; }

.m5t { margin-top: 5px !important; }
.m10t { margin-top: 10px !important; }
.m20t { margin-top: 20px !important; }
.m30t { margin-top: 30px !important; }
.m40t { margin-top: 40px !important; }
.m50t { margin-top: 50px !important; }

.m5b { margin-bottom: 5px !important; }
.m10b { margin-bottom: 10px !important; }
.m20b { margin-bottom: 20px !important; }
.m30b { margin-bottom: 30px !important; }
.m40b { margin-bottom: 40px !important; }
.m50b { margin-bottom: 50px !important; }

.m5l { margin-left: 5px !important; }
.m10l { margin-left: 10px !important; }
.m20l { margin-left: 20px !important; }
.m30l { margin-left: 30px !important; }
.m40l { margin-left: 40px !important; }
.m50l { margin-left: 50px !important; }

.m5r { margin-right: 5px !important; }
.m10r { margin-right: 10px !important; }
.m20r { margin-right: 20px !important; }
.m30r { margin-right: 30px !important; }
.m40r { margin-right: 40px !important; }
.m50r { margin-right: 50px !important; }

.p5 { padding: 5px !important; }
.p10 { padding: 10px !important; }
.p20 { padding: 20px !important; }
.p30 { padding: 30px !important; }
.p40 { padding: 40px !important; }
.p50 { padding: 50px !important; }

.p5t { padding-top: 5px !important; }
.p10t { padding-top: 10px !important; }
.p20t { padding-top: 20px !important; }
.p30t { padding-top: 30px !important; }
.p40t { padding-top: 40px !important; }
.p50t { padding-top: 50px !important; }

.p5b { padding-bottom: 5px !important; }
.p10b { padding-bottom: 10px !important; }
.p20b { padding-bottom: 20px !important; }
.p30b { padding-bottom: 30px !important; }
.p40b { padding-bottom: 40px !important; }
.p50b { padding-bottom: 50px !important; }

.p5l { padding-left: 5px !important; }
.p10l { padding-left: 10px !important; }
.p20l { padding-left: 20px !important; }
.p30l { padding-left: 30px !important; }
.p40l { padding-left: 40px !important; }
.p50l { padding-left: 50px !important; }

.p5r { padding-right: 5px !important; }
.p10r { padding-right: 10px !important; }
.p20r { padding-right: 20px !important; }
.p30r { padding-right: 30px !important; }
.p40r { padding-right: 40px !important; }
.p50r { padding-right: 50px !important; }



/* 2.位置クラス
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ▽ */

.clear { clear: both; }

.center { text-align: center !important; }
.left { text-align: left !important; }
.right { text-align: right !important; }

.fLeft { float: left; }
.fRight { float: right !important; }

img.imgRight { margin: 0 0 5px 10px; float: right; }
img.imgLeft { margin: 0 10px 5px 0; float: left; }

.lh2 { line-height: 2; }

.center_list{
	position: relative;
	overflow: hidden;
}

.center_list ul {
  position: relative;
  left: 50%;
  float: left;
}

.center_list ul li {
  position: relative;
  left: -50%;
  float: left;
}

/* 3.幅設定
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ▽ */
.w10per{
	width:10%;
}

.w15per{
	width:15%;
}

.w20per{
	width:20%;
}

.w25per{
	width:25%;
}

.w30per{
	width:30%;
}

.w33per{
	width:33%;
}

.w35per{
	width:35%;
}

.w40per{
	width:40%;
}

.w45per{
	width:45%;
}

.w50per{
	width:50%;
}

.w55per{
	width:55%;
}

.w60per{
	width:60%;
}

.w65per{
	width:65%;
}

.w70per{
	width:70%;
}

.w75per{
	width:75%;
}

.w80per{
	width:80%;
}

.w85per{
	width:85%;
}

.w90per{
	width:90%;
}

.w95per{
	width:95%;
}

.w100per{
	width:100%;
}

/* 4.リスト
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ▽ */
.list01{
	padding-left:17px;
}
  .list01 dt{
	  font-weight:bold;
  }
  .list01 dd{
	  margin-bottom:20px;
  }


/* 5.アクセシビリティ
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ▽ */

.hide { height: 0; width: 0; overflow: hidden; position: absolute; /* for the benefit of IE5 Mac */ }



/* 6.不具合回避・デバッグ用
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ▽ */

.clearfix:after {
  clear: both;
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  height: 0;
  visibility: hidden;
}

.clearfix { min-height: 1px; display: block; }

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

.debug { border: 1px solid #FF0000; }


/* Contribute用追加
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ▽ */

/* Contribute用 ol */
ol.a_list {
  margin:0 10px 15px 20px;
}
ol li.a_list {
  list-style:outside;
  list-style-type:decimal;
  margin:0.5em 0 0.5em 2em;
}

/* Contribute用 li */
ul.a_list {
  margin:0 10px 15px 20px;
}
ul li.a_list {
  list-style:outside;
  list-style-type:disc;
  margin:0.5em 0 0.5em 2em;
}



/* 書式編集モードでのスタイル指定 */
ul.aly_list_ul{
	margin:10px 0 10px 20px!important;
	padding:0 0 0 20px!important;
	list-style:disc!important;
}
ul.aly_list_ul li{
	margin:0!important;
	padding:0!important;
	list-style:disc!important;
}

ol.aly_list_ol{
	margin:10px 0 10px 20px!important;
	padding:0 0 0 20px!important;
	list-style:decimal!important;
}
ol.aly_list_ol li{
	margin:0!important;
	padding:0!important;
	list-style:decimal!important;
}


/* END */
