@charset "UTF-8";

/* index
--------------------------------------------- */
#index01, #index02{
	overflow:hidden;
}

#index01{
	margin-bottom:0px;
}

/* サイド
--------------------------------------------- */

#index_side{
	width: 230px !important;
	float: left;
	margin:0 9px 0 5px !important;
	_margin:0 9px 0 2px !important;
}

 .index_side_menu{
	  margin-bottom:6px;
 }

   .index_side_menu_top{
		background:url(/content/400007698.jpg) no-repeat;
		height:7px;
	}

   .index_side_menu_body{
		background:url(/content/400007696.jpg) repeat-y;
		padding:10px;
	}
	
	.index_side_menu_body h2 {
		color: #666666;
		font-size: 197%;
		margin: 0;
		padding: 0 0 10px 4px;
	}

   .index_side_menu_bottom{
		background:url(/content/400007697.jpg) no-repeat;
		height:7px;
	}

.side_banner{
	margin:0;
	height:125px;
}

.side_banner a{
	color:#4694d1 !important;
}

.side_banner a:hover{
	color:#666 !important;
}

/*newバナーサイズ*/
.side_banner_n{
	margin:0;
	height:83px;
}

.side_banner_n a{
	color:#4694d1 !important;
}

.side_banner_n a:hover{
	color:#666 !important;
}

/* 電力消費サイドバナー
--------------------------------------------- */
#side_elec{
	background:url(/content/400007623.gif) no-repeat;
	width:226px;
	height:96px;
	padding:2px;
	border:0;
}

#side_elec_txt{
	margin:0;
	padding:0;
	height:27px;
}

#side_elec_data{
	width:176px;
	height:43px;
	padding:11px 33px 15px 17px;
	_width:185px;
	_padding:11px 0px 15px 17px;
}

#side_elec_per{
	overflow:hidden;
	float:left;
}
#side_elec_per img{
	float:left;
}

#side_elec_time{
	padding:0 1px 8px;
}

#side_elec_kw{
	*width:85px;
}
#side_elec_kw img{
	float:left;
}

img#side_elec_comma{
	padding:0 1px;
}


/* 緊急連絡枠
--------------------------------------------- */
.top_notice {
	line-height:120%;
	font-weight: bold;
	font-size:120%;
	margin: 10px 5px;
	padding: 20px;
	border:solid 5px #F9BE00;
	background: #fcf6e3;
}

/* コンテンツ
--------------------------------------------- */
#content_index {
	margin: 0;
	padding: 0;
	width: 700px;
	float: left;
	margin-bottom: 15px;
}

 #content_index_top{
	  background:url(/content/400007690.jpg) no-repeat;
	  height:7px;
 }

 #content_index_body{
	  background:url(/content/400007688.jpg) repeat-y;
 }

 #content_index_bottom{
	  background:url(/content/400007689.jpg) no-repeat;
	  height:7px;
 }


/* topic
--------------------------------------------- */


#topic{
	margin: 0 ;
	width: 700px;
	float: left;
}

 #topic_top{
	  background:url(/content/400007690.jpg) no-repeat;
	  height:7px;
 }
	
	.topic_content{
		overflow:hidden;
	}
	
	.topic_image{
		float:left;
		padding:0 10px;
	}
	
	.topic_menu{
		float:left;
	}
	
	.topic_menu ul li{
		margin-bottom:6px;
	}
	
	#topic_footer{
	clear: both;
	overflow: hidden;
	margin-top: 15px;
	position: absolute;
	top: 310px;
	right: 18px;
	background: #FFF;
	width: 300px;
	}

	#topic_footer ul li{
		background:url(/content/400007646.gif) no-repeat;
		line-height:15px;
		display:block;
	}

	#topic_footer ul li a{
		display:block;
		padding-left:20px;
	}
	
 #topic_bottom{
	  background:url(/content/400007689.jpg) no-repeat;
	  height:7px;
	  clear:both;
 }

 #tab1{
	  position:relative;
	  top:0px;
 }

 #tab2{
	  position:relative;
	  top:0px;
 }

 #tab3{
	  position:relative;
	  top:0px;
 }

 #tab4{
	  position:relative;
	  top:0px;
 }

/*お知らせタブ*/
ul, li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
ul.ulTab {
	margin-bottom:0;
	_margin-top:-8px;
	padding:0 12px;
}

ul.ulTab li {
	float:left;
	padding:0 2px;
}

.index_tab_list{
	overflow:hidden;
	padding-bottom:0px;
	_padding-bottom:20px;
}

.index_tab_list dl{
	padding-bottom:10px;
}

.index_tab_list a{
	color:#666 !important;
}

.index_tab_list a:hover{
	color:#4694d1 !important;
}

.index_tab_list dl{
	overflow:hidden;
}

.index_tab_list dt,dd{
	float:left;
	margin:6px 0;
}

.index_tab_list dt{
	background:url(/content/400007668.gif) no-repeat;
	width:65px;
	height:18px;
	line-height:20px;
	color:#FFF;
	text-align:center;
	font-size:77%;
	margin-right:15px;
	clear:left;
}

.tab_cate {
	background:url(/content/400007668.gif) no-repeat;
	width:65px !important;
	height:18px;
	line-height:20px  !important;;
	color:#FFF  !important;;
	text-align:center  !important;;
	font-size:77%  !important;;
	margin-right:15px !important;;
	float:left !important;;
	padding: 0px  !important;
}

.tab_cate_dd {
	padding-left: 10px;
	line-height: 18px;
	width: 468px !important;
	float: left  !important;
}

#jsPage0{
	padding:10px 20px 10px;
	overflow:hidden;
}


.index_tab_list2{
	padding:10px 20px 10px;
	_padding:10px 20px 30px;
	overflow:hidden;
}

.index_tab_list2 dl{
	overflow:hidden;
}

.index_tab_list2 dt,dd{
	float:left;
	margin:6px 0;
}

.index_tab_list2 dt{
	margin-right: 10px;
	line-height: 18px;
	width: 70px;
	clear:left;
}

.index_tab_list2 dd{
	padding-left: 10px;
	line-height: 18px;
	width: 518px;
}

.tab_all{
	clear:both;
	float:right;
}

.tab_all p{
	background:url(/content/400007646.gif) no-repeat;
	display:block;
}

.tab_all p a{
	display:block;
	padding-left:20px;
}



/* easy clearing by PIE
----------------------------------------------*/
.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}
.clearfix {
   display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix { display: block; }
/* End hide from IE-mac */


.index_tab_list dd.tab_day{
	margin-right: 10px;
	line-height: 18px;
	width: 70px;
}

.index_tab_list dd.tab_con{
	background: url(/content/400007667.gif) no-repeat;
	padding-left: 10px;
	line-height: 18px;
	width: 470px;
}

#index_banner{
	margin-top:5px;
	_margin-top:0px;
}

#index_banner ul{
	margin:0 4px;
	width: 700px;
	overflow: hidden;
	clear: both;
}

 #index_banner ul li{
	  float:left;
	  margin:0 12px 5px 0;
	  _margin:0 10px 5px 0;
	  width:163px;
 }

 li.index_banner_r{
	  margin-right:0 !important;
 }

 #index_banner ul li a{
	  /*font-size:77%;*/
            font-size:10px;
 }

 #index_banner ul li a img{
	  border:2px solid #eee !important;
 }

 #index_banner ul li a:hover img{
	  border:2px solid #fc0 !important;
 }

 #index_banner ul li div{
	  padding:5px;
 }


ul.index_side_list{
}

 ul.index_side_list li{
	background: url(/content/400007647.gif) no-repeat;
	line-height: 15px;
	display: block;
	margin: 5px 5px 5px 15px;
	_margin: 0 0 0 5px;
 }

 ul.index_side_list li img{
	  margin-left:10px;
 }

 ul.index_side_list li a{
	  display:block;
	  padding-left:20px;
 }


ul.ulTab2 li {
	float:right;
	padding:0 2px;
}

/* 緊急情報エリア 201502追加 */
.notice{
  line-height:120%;
  font-weight: bold;
  font-size:120%;
  border-style: solid;
  border-width: 5px;
  margin: 10px 5px;
  padding: 20px;
  border-color: #F9BE00;
  background: #fcf6e3;
  }


/* END */

