@charset "UTF-8";

/**
 *
 * 2010.12.07
 * CSS for loopedSlider
 *
 * @lastupdate         $ 2011.10.17 Mon 13:19$
 * @lastmodified by    $ takezoe@FIW $
 *
 */



/* base */
#loopedSlider {
	margin: 0px;
	width: 660px;
	height: 326px;
	position: relative;
	clear: both;
	background: url(/content/400007688.jpg) repeat-y;
	padding: 15px 24px 15px 15px;
	/*overflow: hidden;*/
}
.loopedcontainer{
	width: 660px;
	height: 325px;
	overflow: hidden;
	position: relative;
	_position: absolute;
	float: left;
}
.slides { position:relative; top:0px; left:0px; }
.slides > div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 660px;
	*z-index:10;
	/* display:none; */
}



/* slide item */
/*#loopedSlider img         { float:left; margin:0px 5px 5px 0px; }*/
/*#loopedSlider .slidetitle { width:500px; margin:5px 0px 0px 0px; }*/
#loopedSlider .slidejenre {
	color:#69C;
	font-weight:bold;
	border:1px dashed #69C;
	border-width:0px 0px 1px 0px;
	margin:10px 0px 3px 0px;
	text-align:left;
}
#loopedSlider h2{
	margin:0px 0px 10px 0px;
	padding:0px 5px 0px 0px;
	font-weight:bold;
	line-height:25px;
	font-size:139%;
}

#loopedSlider .img{
	float:left;
	padding:2px 5px 0 5px;
	text-align:center;
}

#loopedSlider .body{
	width: 190px;
	height: 251px;
	float: left;
	line-height: 1.5em;
	padding: 2px 10px 0 0;
	margin: 0px;
	vertical-align: top;	/*background-color:#CCC;*/
}

  p.topic_txt{
	  height:249px;
  }

  p.topic_next{
	background: url(/content/400007646.gif) no-repeat;
	line-height: 15px;
	position: absolute;
	top: 310px;
	left: 0;
  }

  p.topic_next a{
	  display:block;
	  padding-left:20px;
  }

/* pagination */
.paging{
	margin: 0px;
	padding: 0;
	float: right;
	margin-top: 30px;
	position: absolute;
	top: 20px;
	right: 20px;
	background: #fff;
	width: 70px;
	z-index:999 !important;
	_right:12px;
}
.paging ul.pagination{
	list-style:none;
	padding:0px;
	margin:0px; /*width:270px;*/
}
.paging ul.pagination li          { margin-right:5px; padding:0px; }
.paging ul.pagination li.last     { margin-right:5px; padding:0px; }
.paging ul li a                   { background:none; }

/* thumbnail */
.paging ul.pagination a img{
  width:70px;
  height:45px;
  border:2px solid #E2E2E2;
  margin:0px 0px 2px;
  filter:alpha(opacity=50); /* IE */
  -moz-opacity:0.50;        /* Firefox */
  opacity:0.50;             /* Safari, Chrome */
}

.paging ul.pagination li.active a img{
  width:70px;
  height:45px;
  border:2px solid #FC0;
  filter:alpha(opacity=100); /* IE */
  -moz-opacity:1.0;          /* Firefox */
  opacity:1.0;               /* Safari, Chrome */
}
.paging ul.pagination li a:hover img{
  width:70px;
  height:45px;
  border:2px solid #3C9DF7;
  filter:alpha(opacity=100); /* IE */
  -moz-opacity:1.0;          /* Firefox */
  opacity:1.0;               /* Safari, Chrome */
}


/* restart icon */
.paging ul.pagination li span {
  display:none;
  width:22px;
  height:22px;
  position:absolute;
  cursor:pointer;
}

/* restart-1 icon position */
.paging ul.pagination li.pos1 span { left:53px; top:27px; }
/* restart-2 icon position */
.paging ul.pagination li.pos2 span { left:53px; top:78px; }
/* restart-3 icon position */
.paging ul.pagination li.pos3 span { left:53px; top:129px; }
/* restart-4 icon position */
.paging ul.pagination li.pos4 span { left:53px; top:180px; }
/* restart-5 icon position */
.paging ul.pagination li.pos5 span { left:53px; top:231px; }
