@charset "UTF-8";
@media print{
body{max-width:960px!important;}
#bloc h2 { text-align:left; font-size: 24px}
/*
#maincontents{
background:none!important;
}
#localmenu{
background-color:#E6F3FF!important;
width:145px!important;
}
*/
}