@charset "UTF-8";

/*
============================ Default CSS ===========================

			初期化
			参考：Yahoo! UI Library: Reset CSS
			　　　http://developer.yahoo.com/yui/reset/
			
====================================================================
*/


body,div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,
form,fieldset,input,textarea,blockquote,
table,th,td,address,legend,object,pre,caption,code { 
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,table,input,textarea,pre,code {
	font-size: 100%;
	font-weight: normal;
}

img,fieldset { border: 0; }
a,ins { text-decoration: none; }
a img { border: none; }

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul { list-style: none; }

abbr,acronym { border: 0; }



/* END */
