@charset "UTF-8";

/*
============================= Text CSS =============================

			フォント設定
				1.フォントサイズの基準
				2.見出し
				3.フォントサイズ
				4.フォントカラー
				5.その他

====================================================================
*/


/* 1.フォントサイズの基準
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ▽

参考：Yahoo! UI Library: Fonts CSS
　　　http://developer.yahoo.com/yui/fonts/

26px : 197%
24px : 182%
22px : 167%
20px : 153.9%
18px : 139%
16px : 123.1%
15px : 116%
14px : 108%
13px : 100%
12px : 93%
11px : 85%
10px : 77%

*/



/* 2.見出し
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ▽ */

h1,h3,h4,h5,h6 { clear: both; }

p { margin: 0;}



/* 3.フォントサイズ
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ▽ */

.fs10 { font-size: 77% !important; }
.fs11 { font-size: 85% !important; }
.fs12 { font-size: 93% !important; }
.fs13 { font-size: 100% !important; }
.fs14 { font-size: 108% !important; }
.fs15 { font-size: 116% !important; }
.fs16 { font-size: 123.1% !important; }
.fs18 { font-size: 139% !important; }
.fs20 { font-size: 153.9% !important; }
.fs22 { font-size: 167% !important; }
.fs24 { font-size: 182% !important; }
.fs26 { font-size: 197% !important; }



/* 4.フォントカラー
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ▽ */

.black { color: #333 !important; }
.red { color: #F03;}
.pink { color: #cc0033; }
.blue,
a.blue { color: #2E57A5 !important; }
.liteblue { color: #72A1C9; }
.green,
a.green { color: #006600 !important; }
.orange { color: #FF6600; }
.white { color: #FFF; }
.gray { color: #666; }



/* 99.その他の要素
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.bold { font-weight: bold; }
.nbold { font-weight: normal; }
.underline{ text-decoration:underline; }
.tac{ text-align:center; }

/* END */
