﻿#productsview .header-logo{width:54px;float:left;margin-right:15px;}#productsview .border-bottom{border-bottom:1px #aaa dashed;}#productsview .page-heading{padding:3px 0;font-size:23px;font-weight:bold;margin:20px 0 10px;padding:0 0 10px;display:block;}#productsview #top-deals{margin:20px 0;padding-left:10px;border-left:2px #8cc63f solid;}#productsview #top-deals .deal-tbl{display:table;width:100%;}#productsview #top-deals .deal-tbl .deal-tbl-row{display:table-row;width:100%;}#productsview #top-deals .deal-tbl .deal-tbl-row .deal-tbl-cell{padding:0 10px 0 0;display:table-cell;vertical-align:middle;}#productsview #top-deals .deal-tbl .deal-tbl-row .deal-tbl-cell h4{margin:0;padding:0;font-size:16px;font-weight:bold;color:#333!important;}#productsview #top-deals .deal-tbl .deal-tbl-row .deal-tbl-cell button{margin:2px 0;display:block;width:100%;min-width:77px;padding:5px;background:#8cc63f;color:#fff;font-size:11px;font-weight:bold;text-align:center;border:0;border-radius:4px;}#productsview #top-deals .deal-tbl .deal-tbl-row .deal-tbl-cell button:hover{background:#108a13;color:#fff;text-decoration:none;}#productsview #top-deals .deal-tbl .deal-tbl-row .deal-tbl-cell .formbuttons .fa{margin-right:5px;}#productsview #top-deals .max-img-space{max-width:41px;}#productsview .top-deals-options{margin:15px 0;}#productsview .top-deals-options .top-deals-box{margin-bottom:10px;display:block;padding:5px;border:1px #ccc solid;border-radius:4px;}#productsview .top-deals-options .top-deals-box img{margin-bottom:3px;}#productsview .top-deals-options .top-deals-box .info-blk{display:block;padding:3px 0;font-size:9px;line-height:9px;}#productsview .top-deals-options .top-deals-box .info-blk .deal-tbl-cell{width:50%;}#productsview .top-deals-options .top-deals-box .bdr-bottom{border-bottom:1px #ccc solid;}#productsview .product-listing{position:relative;margin:0;padding:5px;float:left;display:inline-block;width:100%;border:0;border-radius:0;}@media(min-width: 768px) {
    #productsview .product-listing {
        width: 33%;
    }
}

@media(min-width: 992px) {
    #productsview .product-listing {
        width: 25%;
    }
}

#productsview .product-listing .prod-list-box:hover {
    -webkit-box-shadow: 0 0 33px -11px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 33px -11px rgba(0,0,0,.5);
    box-shadow: 0 0 33px -11px rgba(0,0,0,.5);
}

#productsview .product-listing .prod-list-box .gridUnitPrice {
    font-family: "VAGRoundedStd-Bold";
    font-size: 12px;
    color: #777;
}

#productsview .product-listing .prod-list-box .row {
    margin-left: 0;
    margin-right: 0;
}

@media(min-width: 768px) {
    #productsview .product-listing .prod-list-box .row {
        margin-left:-15px;
        margin-right: -15px;
    }
}

#productsview .product-listing .prod-list-box .proddescription {
    margin: 10px 0;
    display: block;
    width: 100%;
    color: #3e3f3f;
    font-size: 11px;
    font-weight: 400;
}

#productsview .categoryItem .header {
    padding-left: 10px;
    border: none;
    margin: -14px 0 0 -14px;
}

#productsview .product-listing .categoryItem {
    padding: 10px;
    display: block;
    min-height: 405px;
}

#productsview .product-listing .categoryItem .section {
    margin: 10px 0;
}

#productsview .product-listing .categoryItem .section .title {
    min-height: 100px;
    margin: 0;
}

#productsview .product-listing .categoryItem .section button {
    padding: 7px 5px;
    display: block;
    width: 100%;
    color: #fff;
    font-family: "VAGRoundedStd-Bold";
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: 0;
    background: #4cae4c;
    border-radius: 4px;
}

#productsview .product-listing .categoryItem .section button:hover {
    background: #3c8b3c !important;
    text-decoration: none !important;
}

#productsview .product-listing .categoryItem .section .fa {
    margin-right: 10px;
}

#productsview .product-listing .categoryItem .section a {
    margin: 15px 0 0;
    display: block;
    font-family: "VAGRoundedStd-Bold";
    color: #0066cb;
    text-decoration: none;
    font-size: 14px;
    min-height: 80px;
}

#productsview .product-listing .categoryItem .section a:hover {
    color: #0066cb;
    text-decoration: none;
}

#productsview .product-listing .categoryItem .section .col-xs-4 {
    padding-left: 0;
}

@media(min-width: 768px) {
    #productsview .product-listing .categoryItem .section .col-xs-4 {
        padding-left: 15px;
    }
}

#productsview .product-listing .categoryItem .section .col-xs-8 {
    padding-right: 0;
}

@media(min-width: 768px) {
    #productsview .product-listing .categoryItem .section .col-xs-8 {
        padding-right: 15px;
    }
}

#productsview .product-listing .categoryItem .header {
    display: block;
    width: 100%;
    height: 120px;
    text-align: center;
    overflow: hidden;
}

#productsview .product-listing .categoryItem .header img {
    display: inline-block;
    width: auto;
    height: 100%;
}

#productsview .product-listing .categoryItem .clearfix {
    border-spacing: 0 !important;
}

#productsview .product-listing .categoryItem .price-sml {
    position: relative;
    padding: 0;
    font-family: "VAGRoundedStd-Bold";
    font-size: 14px;
    color: #a2cd3b;
    text-align: left;
}

#productsview .product-listing .categoryItem .time-remain {
    position: relative;
    padding: 0;
    font-size: 10px;
    line-height: 12px;
    color: #808080;
    text-align: right;
}

.pricinginfo .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#productsview .product-listing .categoryItem .current-price {
    position: relative;
    padding: 0;
    font-family: "VAGRoundedStd-Bold";
    font-size: 20px;
    letter-spacing: 1px;
    color: #f3c;
    text-align: right;
}

#productsview .product-listing .categoryItem hr {
    margin-top: 0;
    margin-bottom: 15px;
}

#productsview .product-listing .categoryItem .order-quantity input {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    color: #333;
    border: 1px #ccc solid;
    border-radius: 4px;
}

#productsview .product-listing .categoryItem .add-wishlist {
    margin: 5px 0;
    display: block;
    text-align: right;
}

#productsview .product-listing .categoryItem .add-wishlist a {
    display: inline-block;
    font-size: 12px;
    color: #09f;
    text-decoration: none;
}

#productsview .product-listing .categoryItem .add-wishlist a:hover {
    color: #09f;
    text-decoration: underline;
}

#productsview .product-listing .categoryItem .add-wishlist a .fa {
    margin-right: 5px;
    color: #333;
}

#productsview .product-listing .categoryItem .prod-description {
    display: block;
    margin: 5px 0;
    font-size: 11px;
    color: #333;
}

#productsview .product-listing .categoryItem .more-price-now {
    display: block;
    padding: 5px 0;
    margin: 0 0 10px;
    border-top: 1px #8cc63f solid;
    border-bottom: 1px #8cc63f solid;
    color: #8cc63f;
}

#productsview .product-listing .categoryItem .more-price-now .now-price {
    font-size: 12px;
}

#productsview .product-listing .categoryItem .more-price-now .now-price .cents {
    font-size: 8px;
}

#productsview .product-listing .categoryItem .more-price-now .time-remaining {
    font-size: 10px;
    text-align: right;
    color: #ccc;
}

#productsview .product-listing .categoryItem .more-price-now .time-remaining.timedanger {
    color: #ff1200;
}

#productsview .categoryItem .section .title {
    height: auto;
}


#productsview .pricinginfo {
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    border-top: 1px #a2cd3b solid;
    border-bottom: 1px #a2cd3b solid;
}

#productsview .pricing-tbl {
    display: table;
    width: 100%;
    min-height: 25px;
}

#productsview .pricing-tbl-row {
    display: table-row;
    width: 100%;
}

#productsview .pricing-tbl-cell {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

#productsview .warning {
    color: #b52424 !important;
}

#productsview .qty-selection {
    display: block;
    margin: 0 0 10px;
}

.more4less-container {
    margin: 20px 0;
}

.more4less-container #page-options-bar {
    margin: 20px 0;
    display: block;
    width: 100%;
}

.more4less-container #page-options-bar .pagination-options ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.more4less-container #page-options-bar .pagination-options ul li {
    display: inline-block;
    margin: 0;
    padding: 4px 8px;
    list-style: none;
}

.more4less-container #page-options-bar .pagination-options ul li a {
    color: #c2c2c2;
    text-decoration: none;
}

.more4less-container #page-options-bar .pagination-options ul li a:hover {
    color: #333;
    text-decoration: none;
}

.more4less-container #page-options-bar .pagination-options ul .active {
    border: 1px #c2c2c2 solid;
    border-radius: 4px;
}

.more4less-container #page-options-bar .filter-box select {
    padding: 8px 10px;
    display: block;
    border: 1px #c2c2c2 solid;
    border-radius: 4px;
    color: #006bcd;
}

.more4less-container #page-options-bar .filter-box select option {
    background: #fff;
}

.more4less-container #page-options-bar .filter-box select .fa {
    color: #006bcd;
}

.more4less-container #page-options-bar .filter-box select:focus {
    color: #333;
    background: #e6e6e6;
}

.more4less-container #page-options-bar .filter-box select:focus .fa {
    color: #333;
}

#more4less-product-page #yourprice-today .pricetag {
    font-size: 16px;
    font-weight: bold;
    color: #666;
}

#more4less-product-page #yourprice-today .todaysprice {
    display: block;
    padding-left: 35px;
    font-size: 30px;
    font-weight: bold;
    color: #8cc63f;
}

#more4less-product-page #divPrice {
    display: block;
    padding: 5px 0;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px #c2c2c2 solid;
    border-bottom: 1px #c2c2c2 solid;
    color: #c2c2c2;
}


