/* ---- Kiki ---- */

html * {
    max-height:1000000px;
}

body {
/*    font-family: Helvetica, verdana, Arial, "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", san-serif;	*/
    font-size: 13px;
    color: #202020;
    background: #FFFFFF;
}

a {
    cursor:pointer;
}

a img {
    border: 0;
}

.cursorHelp {
    cursor:help;
}

hr {
    margin: 15px 0px 5px 0px;
    padding: 0px;
    border: 0;
    height: 1px;
    line-height: 1px;
    background-color: #d4d4d4;
    color: #d4d4d4;
}

/* ---------- 仿本網CSS ---------- */

/* 步驟流程 - Green */
.dotTitle {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    color: #006600;
}

.dotTitle span {
    margin-right: 5px;
    padding: 0px 5px;
    color: #FFFFFF;
    background-color: #5BC31F;
}

/* 步驟流程 - Orange */
.dotTitleOrange {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    color: #F40;
}

.dotTitleOrange span {
    margin-right: 5px;
    padding: 0px 5px;
    color: #FFF;
    background-color: #F40;
}

.rowTopPadding {
    padding-top: 20px;
    padding-bottom: 5px;
}

.txt-sGreen {
    clear: both;
    font-size: 13px;
    font-weight: normal;
    color: #006600;
}

.divInline {
    display: inline;
}

.control-label {
    font-weight: normal;
}

.input-warning {
    background-color: #E9FFCD;
}

.input-placeholder {
    color: #999;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.txt-top {
    vertical-align: text-top;
}

.txt-bottom {
    vertical-align: text-bottom;
}

/* ---- For 住宿旅客資料 ---- */
.rowPassenger {
    margin: 5px;
    padding: 8px;
    border: #dddddd 1px dashed;
    border-radius: 8px;
}

/* ---- For 404.500 Error Page ---- */
/* ------- 2014.12.15 Molly --------- */
.main-header{
    color: #666;
    margin: 40px 0;
}

.main-header h1{
    font-size: 30px;
}

.main-header span{
    color: #01aa02;
}

.errorMsgImages {
    max-width: 100%;
    max-height: 100%;
    padding: 50px 0px 30px 0px;
}

.border-green{
    width: 90%;
    border-top: 1px solid #01aa02;
    border-bottom: 1px solid #01aa02;
    padding: 30px 0 0 0;
    margin: 30px auto 0 auto;
}

.no-border-bottom{
    border-bottom: none;
}


.border-green p{
    font-size: 18px;
    color: #999;
    line-height: 28px;
}

.ez-home{
    display: block;
    width: 190px;
    height: 75px;
    margin: 60px auto 10px auto;
    background: url(../../images/common/ez-home.png) no-repeat;
}

@media (min-width:992px) {
    .main-header h1{
        font-family: "微軟正黑體", "Microsoft JhengHei";
        font-size: 34px;
    }
    .border-green{
        width: 60%;
    }
    .border-green p{
       font-family: "微軟正黑體", "Microsoft JhengHei"; 
    }
}
/* ---- Green 表格 (for 會員登入 / 訂購頁table) ---- */
.table-green {
    border: 1px solid #abea45;
    border-collapse: collapse;
    padding: .3em .5em;
    vertical-align: middle;
    width: 100%;
}

.table-green thead th {
    border: 1px solid #abea45;
    padding: .4em;
    *padding: .4em .5em;
    background: #e9ffcd;
    color: #060;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
}

.table-green tbody th {
    border: 1px solid #abea45;
    padding: .4em;
    *padding: .4em .5em;
    /*	background: #FFFFFF;*/
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
}

.table-green tbody td {
    padding: .3em .5em;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #abea45;
}

.table-green tfoot td {
    font-size: 13px;
    padding: 1em;
    margin-top: -.85em;
    background: url(../../images/common/bg_dn.gif) repeat-x bottom;
    border-top: none;
}

.table-greenTitle {
    vertical-align: middle;
    font-size: 16px;
    margin: 3px auto;
    color: #060;
    font-weight: normal;
}

/* ---- Green 表格 (for 訂購明細、訂購需知) ---- */
.table-green2 {
    border: 1px solid #abea45;
    border-collapse: collapse;
    padding: .3em .5em;
    vertical-align: middle;
    width: 100%;
}

.table-green2 tbody th {
    border: 1px solid #abea45;
    padding: .4em;
    *padding: .4em .5em;
    background: #e9ffcd;
    color: #060;
    font-weight: normal;
    vertical-align: middle;
}

.table-green2 tbody td {
    padding: .3em .5em;
    background: #FFFFFF;
    vertical-align: middle;
    border: 1px solid #abea45;
}


.table-none {
    border: none;
    border-collapse: collapse;
    padding: .3em 0;
    vertical-align: middle;
    width: 100%;
}

.table-none tbody td {
    padding: .3em 0;
    text-align: left;
    vertical-align: top;
    border: none;
}


/* ---------- 仿本網CSS ---------- */

/*文字顏色*/
.txt-bl { color: #06c; } /* 藍 */
.txt-bk { color: #222; } /* 灰黑 */
.txt-gr { color: #444; } /* 深灰 */
.txt-or { color: #F40; } /* 橘紅 */
.txt-gn { color: #060; } /* 深綠 */
.txt-blue { color: #0000ff; } /* 藍 blue */
.txt-no-r { color: #F40; text-decoration: line-through; }

/*文字迷你小中大*/
.txt-ss {
    font-size: .75em;
    font-weight: normal;
}

.txt-s {
    font-size: .88em;
    *font-size: .8em;
    font-weight: normal;
}

.txt-s2 {
    font-size: .9em;
    font-weight: normal;
}

.txt-m {
    font-size: 1em;
    font-weight: normal;
}

.txt-L {
    font-size: 1.1em;
    font-weight: normal;
}

.txt-LL {
    font-size: 1.2em;
    font-weight: normal;
}




/* ---- Login (for 會員登入 頁 : 登入中…) ---- */

#blockBg {
    display: none;
    position: fixed;
    background: #000;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.75;
    filter: alpha(opacity = 75);
    -moz-opacity: 0.75;
}

#waitingRow {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #006600;
    font-size: 16px;
    line-height: 35px;
    display: none;
    position: fixed;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    background-image: none;
    vertical-align: middle;
    padding: 4px 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    z-index: 3;
    border-radius: 5px;
    width: 30%;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -40px -15%;
}

#waitingRow img {
    max-width: 100%;
    max-height: 100%;
}



/* ---- Green Button (for 會員登入 / 訂購頁) ---- */

.btn-orderGreen {
    color: #FFFFFF;
    background-color: #8EC31E;
    border-color: #80AF1B;
}

.btn-orderGreen:hover, 
.btn-orderGreen:focus, 
.btn-orderGreen:active, 
.btn-orderGreen.active, 
.open .dropdown-toggle.btn-orderGreen {
    color: #FFFFFF;
    background-color: #86B81B;
    border-color: #80AF1B;
}

.btn-orderGreen:active,
.btn-orderGreen.active,
.open .dropdown-toggle.btn-orderGreen {
    background-image: none;
}

.btn-orderGreen.disabled,
.btn-orderGreen[disabled],
fieldset[disabled] .btn-orderGreen,
.btn-orderGreen.disabled:hover,
.btn-orderGreen[disabled]:hover,
fieldset[disabled] .btn-orderGreen:hover,
.btn-orderGreen.disabled:focus,
.btn-orderGreen[disabled]:focus,
fieldset[disabled] .btn-orderGreen:focus,
.btn-orderGreen.disabled:active,
.btn-orderGreen[disabled]:active,
fieldset[disabled] .btn-orderGreen:active,
.btn-orderGreen.disabled.active,
.btn-orderGreen[disabled].active,
fieldset[disabled] .btn-orderGreen.active {
    background-color: #8EC31E;
    border-color: #80AF1B;
}

.btn-orderGreen .badge {
    color: #8EC31E;
    background-color: #FFFFFF;
}

.app-ad{
    margin: auto;
    margin-bottom: 40px;
}
.app-ad img{
    max-width: 100%;
    max-height: 100%;
}
/* ---------- IE 提醒更新瀏覽器上方bar & 中間內容content BY kevinhu - Start ---------- */

.oldBrowser-remindbar{
    width: 100%;
    background-color: #e7ffcb;
    border-bottom: 1px solid #00ab00;
    padding: 10px 0;
    text-align: center;
    line-height: 22px;
/*    height: 44px;
    *height: 28px;*/
}

.oldBrowser-remindbar{
    font-size: 13px;
    font-family: Arial, "微軟正黑體", "Microsoft JhengHei";
}

.oldBrowser-remindbar a{
    text-decoration: none;
    color: #428bca;
}

.oldBrowser-remindbar img{
   display: inline-block;
   vertical-align: middle;
}

.oldBrowserContent {
    padding: 60px 0;
    height: 479px;
    *height: 300px; /* for IE 7 and less */
    line-height: 22px;
    font-size: 14px;
    font-family: Arial, "微軟正黑體", "Microsoft JhengHei";
    margin: 0 auto;
    text-align: center;
}

.updateTitle {
    color: #2ca302;
    font-size: 24px;
}

.updateTitle > img{
    vertical-align: text-top;
}

.updateDsc {
    font-size: 15px;
}

.browser {
    width: 575px;
    height: 130px;
    padding: 0px;
    margin: 60px auto;
    *margin-left: 55px; /* for IE 7 and less */
    list-style-type : none;
}

.browser > li {
    float: left;
    font-family: Arial, "微軟正黑體", "Microsoft JhengHei";
}

.browser > li a {
    width: 115px;
    text-decoration: none;
    display: block;
}

.browser > li a div {
    background-image: url('/assets/images/common/browser_ico_sprites.png');
    width: 105px;
    height: 110px;
    margin: 0 auto;
}

.chrome_ico  { background-position: 0 0;}

.ie_ico      { background-position: 0 -150px ;}

.firefox_ico { background-position: 0 -300px ;}

.safari_ico  { background-position: 0 -450px ;}

.opera_ico   { background-position: 0 -600px ;}

.browser > li:hover > a div {
    width: 115px;
    height: 120px;
}

.browser > li:hover > a > .chrome_ico  { background-position: 150px 0;}

.browser > li:hover > a > .ie_ico        { background-position: 150px -150px;}

.browser > li:hover > a > .firefox_ico { background-position: 150px -300px;}

.browser > li:hover > a > .safari_ico    { background-position: 150px -450px;}

.browser > li:hover > a > .opera_ico     { background-position: 150px -600px;}

.browser > li p {
    color: #4c4c4c;
}

.browser > li:hover > p {
  font-size: 16px;
}

.browser-btn-area button{
  margin:0 auto;
}

.browser-btn-area :hover{
     background-color: #37b400;
}

.browser-btn-area button{
    font-family: "微軟正黑體", "Microsoft JhengHei";
    background-color: #00ab00;
    border: #00a500 1px solid;
    font-size: 22px;
    color: white;
    width: 180px;
    height: 45px;
    border-bottom: 1px solid #0ab40a;
    -webkit-box-shadow: 0px 3px 0px 0px #19913c;
    box-shadow: 0px 3px 0px 0px #19913c;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

/* ---------- IE 提醒更新瀏覽器上方bar & 中間內容content BY kevinhu - End ---------- */
