@charset "gb2312";
/* CSS Document BY Jackychao */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,i{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;color:#43022B;font-family:"Microsoft Yahei";}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
legend{color:#000;}
body {font-size:14px;color:#666;font-family:"Microsoft Yahei";}
table {font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;line-height:100%;}
a, button { cursor:pointer}
a{ text-decoration:none; color:#444444;}
.link1 a{color:#444444;}
.link2 a{color:#dddddd;}
.link3 a{color:#f35b1a;}
a:hover,.link1 a:hover,.link2 a:hover,.link3 a:hover{ color:#f00; text-decoration:underline;}
.header .mainnav a:hover{ text-decoration:none;}
.left,.l{float:left;}
.right,.r{float:right;}
.clear:after,.expectbox li:after{ content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear,.expectbox li{ zoom:1; clear:both}
.mt10{ margin-top:10px;}
.m-5{ margin-top:5px}
.mt4{ margin-top:4px}
.mt8{ margin-top:8px}
.mt20{ margin-top:20px}
.mt14{ margin-top:14px}
.mt12{ margin-top:12px}
.mt15{ margin-top:15px}
.mr20{ margin-right:20px}
.mr30{ margin-right:30px}
.w1200{ width:1200px; margin:0 auto}
.w360{ width:360px}
.ww1000{ width:1200px; margin:0 auto}
.w1000{ width:1000px;}
.w200{ width:200px}
.w500{ width:500px}
.w440{ width:440px}
.w520{ width:520px}
.w980{ width:980px}
.w240{ width:240px}
.w960{ width:960px}
.w540{ width:540px}
.w260{ width:260px}
.w310{ width:310px}
.w270{ width:270px}
.w900{ width:900px}
.w390{ width:390px}
.w255{ width:255px}
.bod{ border-bottom:#c0c0bf dotted 1px}

.f16{ font-size:16px}
.f15{ font-size:15px}

.scale_img{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:all 1s ease-out;-moz-transition:all 1s ease-out;-ms-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out}
a:hover .scale_img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}

/*顶部*/
.topnav{ height:94px; background:url(../images/topbg.jpg) 0 0 repeat-x}
.topad{ height:50px; overflow:hidden;}
.topad .leftnews{ width:240px; overflow:hidden}
.topad .rightad{ width:960px; height:50px; overflow:hidden; float:right}
.topnav .leftnews{ height:20px; padding:15px 0;}
#scrollDiv{width:240px;height:20px;line-height:20px;overflow:hidden}
#scrollDiv li{height:20px;padding-left:17px; line-height:20px; overflow:hidden;background:url(../images/ui.png) -786px -78px no-repeat}
#scrollDiv li a{font-size:14px; line-height:20px}
.bignav{ width:420px; height:34px; overflow:hidden}
.bignav a{ width:140px; height:34px; float:left; display:block; background:url(../images/bignav.jpg) -140px 0 no-repeat; text-align:center; line-height:34px;}
.bignav a.this{ background:url(../images/bignav.jpg) 0 0 no-repeat}
.toplink a{ padding:0 10px; font-size:12px}
.topnav .toplink,.topnav .toploginbox{ line-height:30px;}
.topnav .loginbtn a{ font-size:12px; margin:0 10px; display:inline-block}
.topnav a.login{ display:inline-block; width:48px; height:24px; line-height:24px; border:#f07801 1px solid; color:#f07801; text-align:center; border-radius:5px}
.topnav .toploginbox{width:500px; float:right; text-align:right;}
.r_formbox{width:290px; height:20px; margin:5px 0 0 0; float:right;}
.r_formbox .navbox_s{width:55px; height:20px; background:url(http://www.uuu9.com/CODE/tool_new/ico_ui.gif) -34px -104px no-repeat; position:relative; z-index:100; float:left; text-align:left; font-size:12px} 
.navbox_s  span{ display:block; height:20px; line-height:20px;text-indent:5px; cursor:pointer}
.navbox_s.hover {background:url(http://www.uuu9.com/CODE/tool_new/http://www.uuu9.com/skin2010/images/ui3.png) 0 -49px no-repeat;}
.navbox_s div{ position:absolute; top:20px; left:0; width:58px; border:solid 1px #d9d9d9; background:#fff;padding:5px 0;}
.navbox_s div a { display: block; line-height:22px; text-decoration:none; color:#333;text-indent:10px}
.navbox_s div a:hover { background:#1051C9; color:#fff}
.r_input_admin { width:84px; color:#ccc; font-size:12px; float:left; height:16px; background:url(http://www.uuu9.com/CODE/tool_new/ico_ui.gif) 0 -81px no-repeat; border:0; line-height:16px; padding:2px 2px 2px 4px;}
.r_input_admin_mm { width:84px; color:#ccc; font-size:12px; float:left; height:16px; background:url(http://www.uuu9.com/CODE/tool_new/ico_ui.gif) 0 -81px no-repeat; border:0; line-height:16px; padding:2px 2px 2px 4px; margin-left:5px;}
.r_input_admin_button { width:40px; height:20px; background:url(http://www.uuu9.com/CODE/tool_new/ico_ui.gif) -50px -128px no-repeat; font-size:12px; color:#fff; cursor: pointer; border:none;float:left; margin:0 0 0 5px; *display:inline;}
.r_admin_link{ float:right; line-height:37px;}
.r_robin_hou{ height:30px; line-height:30px; width:270px; float:right;}
.r_robin_zhong{ height:37px; line-height:37px; width:270px; float:right;}
.r_admin_pic{width:24px; height:24px; padding:3px; background:url(http://www.uuu9.com/CODE/tool_new/admin_pic.gif) 0 0 no-repeat; float:left; margin-top:3px; margin-right:5px;}
.r_admin_pic img{width:24px; height:24px; display:block;}
.r_admin_pic a img{ border:0;}
.r_login_link{width:226px; float:left;}
.r_login_link a{ padding:0 5px;}
.r_login_link span a{ font-weight:bold;}

.warp{ position:relative;}
/*头部*/
.header{ background:#FFF;}
.mainbody{ background:#FFF; width:1200px; margin:0 auto}
.tophead{ height:86px; padding:0 10px; overflow:hidden}
.tophead .logo{ width:324px; overflow:hidden}
.tophead .logo h1{ background:url(../images/ui.png) 0 0 no-repeat; width:324px; height:86px; display:block; overflow:hidden; text-indent:-9999px}
.header .searchbox{width:360px; float:right; padding-top:15px;}
.searchbox .formbox{ height:34px; overflow:hidden;}
.searchbox .formbox .searchtext{ color:#aaa; border:#f5591c 1px solid;height:32px; line-height:32px; width:308px; float:left;padding-left:10px;}
.searchbox .formbox .searchtexthei{ color:#444; border:#f5591c 1px solid;height:32px; line-height:32px; width:308px; float:left;padding-left:10px;}
.searchbox .formbox .searchbtn{ height:34px; line-height:34px; width:40px; border:0; background:url(../images/ui.png) 0 -126px no-repeat; cursor:pointer;float:left; display:block; overflow:hidden; text-indent:-9999px}
.searchbox .keywords{ padding-top:10px; height:18px; overflow:hidden;}
.searchbox .keywords a{ padding-right:10px;}
.mainnav{ height:50px; background:#f07801;}
.mainnav a{font-size:18px;color:#FFF;line-height:50px; width:148px; text-align:center; float:left; display:block; border-left:#ec6501 solid 1px; border-right:#f7ab08 solid 1px; position:relative}
.mainnav a b{ background:url(../images/ui.png) 0 -87px no-repeat;display: inline-block;height:38px;left: 0;position: absolute;top:-38px;width:154px;}
.mainnav a:hover b{ background:url(../images/ui.png) -154px -87px no-repeat}


.mainnav a i{ background:url(../images/cqyh.jpg) 0 0 no-repeat;display: inline-block;height:68px;left:-40px;position: absolute;top:-68px;width:244px;}
.mainnav a:hover i{ background:url(../images/cqyh.gif) 0 0 no-repeat}


.mainnav a:hover{ background:#ea5c01; color:#ffff00}
.mainnav a.first{ border-left:none}
.mainnav a.last{ border-right:none; width:147px}
.subnav{ background:#383838;color:#dddddd;height:42px; overflow:hidden; padding:0 10px}
.subnav a{ color:#dddddd; line-height:42px; padding:0 9px}
.subnav a:hover{color:#ff3300}
.submenu{ width:1200px; position:relative; z-index:1001}
.menubox{ background:#f5f5f5; height:90px; overflow:hidden; padding:8px 0 14px 0}
.menubox dl{ padding:0 0 0 14px; height:24px; display:block; margin-top:6px}
.menubox dl dt{ float:left; background:url(../images/ui.png) 0 -205px no-repeat; width:70px; height:24px; padding-right:5px; text-align:center; line-height:24px; font-size:12px; color:#f07801}
.menubox dl dd a{padding:0 10px; line-height:24px}
.menubox dl dd a i.h{ background:url(../images/ui.png) 0 -171px no-repeat; width:9px; height:9px; display:inline-block; margin-left:3px; vertical-align:top}
.menubox dl dd a i.n{ background:url(../images/ui.png) 0 -187px no-repeat; width:9px; height:9px; display:inline-block; margin-left:3px; vertical-align:top}
.gamenav{ border-bottom:#e6e6e6 solid 1px; width:200px; height:111px; overflow:hidden}
.gamenav dl{width:200px; height:37px;}
.gamenav dl dt{ font-size:15px;line-height:36px; width:187px; padding-left:11px;border:#e6e6e6 solid 1px; border-bottom:none; position:absolute;}
.gamenav dl dt h3{ background:url(../images/ui.png) -794px -36px no-repeat; padding-left:15px;}
.gamenav dl dt h3 em{ font-size:12px; color:#f07801; padding-left:17px}
.gamenav dl dt.hover{ background:url(../images/gamenav_dt.jpg) 0 0 no-repeat; right:-2px;height:36px; padding:1px 0;border:none; width:190px; z-index:200;padding-left:14px;}

.gamenav .game_nav_c{width:663px; border:#383838 3px solid; height:426px; position:absolute; right:199px; top:0; z-index:198; background:#fff; font-size:14px; overflow:hidden;}
.gamenav .game_nav_c .left{width:635px; padding:10px 0 0 12px;}
.gamenav .game_nav_c .swichnav{ height:28px;}
.gamenav .game_nav_c .swichnav a{ height:22px; padding:6px 16px 0 16px; background:#383838; color:#fff; float:left; margin-right:1px; border-radius:5px}
.gamenav .game_nav_c .swichnav a.active{ background:#f07801;}
.gamenav .game_nav_c .swichbox{}
.gamenavlist{padding:10px 0; border-bottom:#cccccc dotted 1px}
.gamenavlist .gamenav_t{width:60px; float:left; font-weight:bold; text-align:right;}
.gamenavlist .gamenav_c{width:570px; float:right;}
.gamenavlist .gamenav_c a{ padding:0 10px 0 10px; float:left;width:90px; height:20px; overflow:hidden; margin-bottom:12px; line-height:20px}
.gamenavlist a.red{ color:#f00;}
.adbox1{ height:90px; overflow:hidden}
.adnews{ background:#f5f5f5; height:78px; width:176px; overflow:hidden; padding:6px 12px; font-size:12px}
.adnews li{ line-height:26px;}
.adnews li a{ padding-left:5px}
.adnews1{ background:url(../images/ui.png) #f5f5f5 0 -240px no-repeat; padding:4px 0 4px 38px; height:72px; width:202px; overflow:hidden; font-size:12px}
.adnews1 li{ line-height:24px;}
.adnews1 li a{ padding-left:5px}
.adnews2{ background:url(../images/ui.png) #f5f5f5 0 -321px no-repeat; padding:4px 0 4px 38px; height:52px; width:202px; overflow:hidden; font-size:12px}
.adnews2 li{ line-height:24px;}
.adnews2 li a{ padding-left:5px}

/*首页一屏*/
/*首页幻灯*/
.flashbox{width:440px; height:240px; overflow:hidden}
.flashbox img{width:440px; height:240px; display:block;}
.focusbox {width:440px; height:240px;position:relative; overflow:hidden;}
.focus_trigger {text-align:right;position: absolute; bottom:0; right:0; z-index:4}
.focus_trigger a { float:left;text-indent:-9999px; overflow:hidden; margin-right:1px;width:52px;height:8px;line-height:8px;text-align:center;color:#343434; background:#5a5a5a;outline:none;overflow:hidden;text-decoration:none;}
.focus_trigger a.current {color:#fff; background:#f3591b; width:174px}
.focus_panel div a {width:440px; height:240px; display:block; position:relative; overflow:hidden; z-index:2}
.focus_panel div a span{ height:32px; width:420px; position:absolute; z-index:3; left:0; bottom:0;color:#fff; line-height:32px; padding:0px 10px 8px 10px; font-size:16px; font-weight:bold; font-family:"微软雅黑";background-color: rgba(0, 0, 0, 0.5);background: rgba(0, 0, 0, 0) -moz-linear-gradient(right center , transparent 0px, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.5) 100%) repeat scroll 0 0;text-shadow: 1px 0 0 #555, 0 1px 0 #555, -1px 0 0 #555, 0 -1px 0 #555}

/*游久直播*/
.livebox{ height:456px; overflow:hidden}
.h2_tit{ height:36px; background:url(../images/h2_title.png) 0 0 repeat-x; overflow:hidden}
.h2_tit h2{ font-size:18px; color:#333333; line-height:36px; float:left;}
.h2_tit em{ float:right; font-size:12px; line-height:36px}
.swichtitle a{line-height:36px; text-align:center; display:inline-block; padding:0 10px; color:#666666; text-decoration:none}
.swichtitle a.this{ background:url(../images/this.png) 0 0 repeat-x; color:#f07801}
.livebox .boxc{ width:450px; height:380px; overflow:hidden}
.zblist a{ width:215px; height:190px; float:left; margin-top:3px; margin-right:10px; color:#444444}
.zblist a img{ width:215px; height:121px; display:block}
.zblist a p{ height:32px; line-height:32px; display:block; text-align:center; border-bottom:#ebebeb solid 1px; overflow:hidden}
.zblist a span{ font-size:12px; color:#999999; line-height:20px}
.zblist a span.vzbname{ background:url(../images/ui.png) -786px -17px no-repeat; padding-left:19px; width:80px; height:20px; overflow:hidden}
.zblist a span.hits{ background:url(../images/ui.png) -784px 4px no-repeat; padding-left:19px;}
.zblist a:hover{ color:#f07801}
.morebox{ height:30px; font-size:12px; display:block; background:#ededed;color:#666666; line-height:30px; padding:0 10px; border-radius:5px}
.morebox em{ float:right}
.morebox em a{ display:inline-block; line-height:30px}

/*视频焦点*/
.spjd .swichtitle a{ font-size:16px}
.sppic{ width:120px; float:left; margin-right:15px}
.sppic a{ width:120px; height:142px; display:block; position:relative}
.sppic a img{ width:120px; height:142px; display:block}
.sppic a i{ background:url(../images/ui.png) -325px 0 no-repeat; width:30px; height:30px; position:absolute; left:45px; top:30px}
.sppic a p{background-color:rgba(0, 0, 0, 0.6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); width:108px; height:36px; position:absolute; left:0; bottom:0; font-size:12px; color:#fff; line-height:18px; padding:8px 6px}

.jjpic{ width:120px; float:left; margin-right:15px}
.jjpic a{ width:120px; height:142px; display:block; text-decoration:none}
.jjpic a img{ width:120px; height:90px; display:block}
.jjpic a i{ background:url(../images/ui.png) -325px 0 no-repeat; width:30px; height:30px;}
.jjpic a p{ background:#000; opacity:0.8; width:108px; height:36px; font-size:12px; color:#fff; line-height:18px; padding:8px 6px}
.jjpic a:hover p{ color:#f07801;}


.sptext{ width:305px; height:142px; float:left; overflow:hidden}
.textlist li{ line-height:30px;}
.textlist li{ background:url(../images/ui.png) 0 -450px no-repeat; padding-left:20px; line-height:30px; height:30px; overflow:hidden; display:block}
.textlist li:hover{ background:url(../images/ui.png) 0 -480px no-repeat}
.textlist li em{ font-size:13px; color:#999999; line-height:30px; float:right}
.spjd .boxc{ width:450px; overflow:hidden}
.jdlist a{ width:215px; height:121px; float:left; position:relative; margin-top:12px; margin-right:10px; color:#444444; display:block; overflow:hidden}
.jdlist a img{ width:215px; height:121px; display:block}
.jdlist a .tt{ width:215px; height:50px; background:url(../images/jdpng.png) 0 0 repeat-x; position:absolute; left:0; bottom:0}
.jdlist a .tt p{ font-size:14px; line-height:24px; color:#FFF; padding:0 10px; height:24px; overflow:hidden}
.jdlist a .tt .cl{ padding:0 10px}
.jdlist a .tt span{ font-size:12px; color:#ababab; line-height:26px}
.jdlist a .tt span.v_name{ background:url(../images/sv.png) 0 6px no-repeat; padding-left:18px}
.jdlist a .tt span.v_time{ font-weight:bold}


/*游戏节目*/
.yxjm dl{ height:74px; overflow:hidden}
.yxjm dl dt{ width:170px; float:left; margin-right:10px}
.yxjm dl dt a{ width:170px; height:74px; display:block; position:relative}
.yxjm dl dt a img{ width:170px; height:74px; display:block}
.yxjm dl dt a i{ width:76px; height:20px; line-height:20px; text-align:center; position:absolute; left:0; top:0; background:#666; color:#FFF; font-size:12px; font-style:normal}
.yxjm dl dd h4 a{ font-size:16px; color:#333; line-height:32px}
.yxjm dl dd h4 a:hover{ color:#f07801}
.yxjm dl dd p{ font-size:14px; line-height:20px; color:#999999}
.yxjm ul li{ font-size:14px; line-height:30px; background:url(../images/sv.png) 0 8px no-repeat; padding-left:20px}



/*今日热点*/
.box .newsbox{ height:910px; overflow:hidden}
.hotnews{ height:182px; overflow:hidden; text-align:center; border-bottom:#c0c0c0 dotted 1px}
.hotnews h2{ font-size:20px; line-height:20px; font-weight:bold; line-height:28px; height:28px; overflow:hidden; padding:0 5px; margin-top:20px}
.hotnews h2 a{ color:#ea0000}
.hotnews h3{ font-size:14px; line-height:20px; color:#666666; line-height:36px; font-family:"Microsoft Yahei"; padding:0 10px; height:36px; overflow:hidden}
.hotnews h3 a{ padding:0 10px; color:#666666}
.box .news_con{ height:727px; overflow:hidden}
.newsbox .newslist{ padding:11px 0}
.newslist li{line-height:30px; height:30px; overflow:hidden}
.newslist li span{ float:left; width:40px; overflow:hidden}
.newslist li span a{ color:#f07801}
.newslist li em{ float:right; color:#999999}
.tgbox{ background:#fcfcfc; border:#e6e6e6 solid 1px; height:34px; line-height:34px; padding:0 10px 0 0; font-size:16px}
.tgbox a{ color:#ea0000; padding:0 0 0 10px}
.tgbox span{ width:56px; float:left; text-align:center; border-right:#e6e6e6 solid 1px}
.swadbox{ width:120px; overflow:hidden} 
.swadbox a{ width:120px; height:112px; display:block; margin-top:12px;}
.swadbox a img{ width:120px; height:112px; display:block}
.ztbox{ margin-top:16px;}
.ztbox .con{ margin-top:8px}
.ztbox dl{ height:90px; overflow:hidden}
.ztbox dl dt{ width:120px; float:left; margin-right:10px}
.ztbox dl dt img{ width:120px; height:90px; display:block}
.ztbox dl dd h4{ font-size:16px; line-height:26px; height:26px; overflow:hidden}
.ztbox dl dd p{ font-size:14px; line-height:20px; color:#999999; height:40px; overflow:hidden}
.ztbox dl dd span{ font-size:12px; color:#666666; line-height:14px; display:block; margin-top:10px}
.ztbox dl dd span.yuedu{ background:url(../images/ico_yd.png) 0 0 no-repeat; padding-left:22px; margin-right:20px}
.ztbox dl dd span.shear{ height:18px; margin-top:6px}
.ztbox dl dd .shear a{ float:left; display:block; height:18px; margin-right:10px}
.bdsharebuttonbox a.bds_qzone{ background:url(../images/shear.png) 0 0 no-repeat; width:18px; height:18px; margin:6px 10px 0 0; padding:0}
.bdsharebuttonbox a.bds_sqq{ background:url(../images/shear.png) -28px 0 no-repeat; width:14px;height:18px; margin:6px 10px 0 0; padding:0}
.bdsharebuttonbox a.bds_tsina{ background:url(../images/shear.png) -52px 0 no-repeat; width:18px;height:18px; margin:6px 10px 0 0; padding:0}
.bdsharebuttonbox a.bds_weixin{ background:url(../images/shear.png) -78px 0 no-repeat; width:18px;height:18px; margin:6px 10px 0 0; padding:0}

.example-slide {width:520px;height:84px;position:relative;margin-top:4px;}
.example-slide .slidest {position:absolute;z-index:100;width:520px;}
.slidest .slides_container .slide-all {float:left;width:520px;}
.slides_container .slide-all a {width:100%;display:block;overflow:hidden;}
.slides_container .slide-all a img {width:100%;}
.slidest .caption {z-index:500;position:absolute;left:0;background:url(../images/whitebg.png) repeat;color:#fff;bottom:0;height:38px;width:100%;_height:58px;}
.slidest .caption p {height:38px;line-height:38px;padding-left:10px;}
.slidest .slides_container .slide-left {float:left;width:255px; margin-right:10px}
.slidest .slides_container .slide-right {float:right;position:relative;width:255px;}
.slides_container .slide-left img ,.slides_container .slide-right img {width:255px;display:block;overflow:hidden;}
.slidest .slides_container {width:520px;overflow:hidden;position:relative;display:none;}
.slidest .slides_container .slide {width:520px;height:84px;display:block;}
.slidest .prev{position:absolute;display:block;z-index:100;background:url(../images/prev.png) 0 0 no-repeat;top:15px;width:20px;height:46px;*left:0px;}
.slidest .next{right:0px;position:absolute;display:block;z-index:100;background:url(../images/next.png) 0 0 no-repeat;top:15px;width:20px;height:46px;}
.slidest .pagination { position:absolute; top:-18px; right:0;height:6px;}
.slidest .pagination li {float:left;margin:0 2px;list-style:none;}
.slidest .pagination li a {width:6px;height:0;padding-top:6px;background-color:#ddd;float:left;overflow:hidden;border-radius:50%;}
.slidest .pagination li.current a {background-color:#f07801;width:20px;border-radius:15px}

/*游久特权*/
.yytq{ height:277px; overflow:hidden}
.box .h3_tit{ height:30px;overflow:hidden}
.box .h3_tit h3{ font-size:18px; color:#333333; line-height:30px; float:left; font-weight:bold}
.picka{ padding:5px 0; height:60px;overflow:hidden; font-size:12px;}
.picka dt{ float:left; width:80px; height:60px;}
.picka dt a img{width:80px; height:60px;}
.picka dd{ float:right; width:110px;}
.picka dd p{ line-height:18px; padding-bottom:2px;}
.picka dd h5{ display:block; padding-bottom:5px;}
.picka dd h5 em{ float:right; width:40px; height:18px; border:#f07801 solid 1px; line-height:18px; text-align:center; border-radius:5px}
.picka dd h5 em a{ color:#f07801; display:block; text-decoration:none}
.picka dd h5 em a:hover{ background:#f07801; color:#FFF}
.productbox { height:96px; overflow:hidden; border:#ddd 1px solid;}
.productbox .picka{ padding:18px 0; float:left; width:170px;}
.secarch_ka_box{margin-top:5px; width:198px; height:24px; border:#f07801 1px solid; border-radius:5px;}
.secarch_ka_box .s_ka{ background:#fff; width:143px; height:24px; background:none; border:none; padding-left:8px;display:block; float:left;color:#333;font-size:12px; line-height:20px;}
.secarch_ka_box .s_but{ color:#fff; font-size:12px; background:#f07801; border:none; height:24px;display:block; width:47px; text-align:center; line-height:22px; float:left;}

/*稀有卡推荐*/
.xykbox{ border:#e6e6e6 solid 1px; padding:10px; height:450px; overflow:hidden}
.xykbox .boxc a{ width:178px; height:105px; float:left; position:relative}
.xykbox .boxc a img{ width:178px; height:73px; display:block}
.xykbox .boxc a p{ width:178px; height:34px; background:url(../images/p.png) 0 0 repeat-x; line-height:34px; position:absolute; left:0; top:39px; text-align:center; color:#FFF; font-size:12px; display:block}
.xykbox .boxc a span{ line-height:30px; background:url(../images/ui.png) 0 -515px no-repeat; font-size:12px; color:#ea0000; padding-left:17px}


/*电子竞技*/
.sports{ background:url(../images/sportsbg.jpg) right -3px no-repeat; height:559px; overflow:hidden; position:relative}
.sports .appdown a{ width:111px; height:34px; display:block; overflow:hidden; text-indent:-9999px; position:absolute; right:0; top:36px}
.sports .title{ position:absolute; top:32px; left:0; width:470px; height:30px; overflow:hidden; background:url(../images/sport_title.png) right 0 no-repeat}
.sports .title h2{ background:url(../images/ui.png) 0 -539px no-repeat; height:30px; line-height:30px; padding-left:38px; font-size:24px; font-weight:700; color:#444444}
.sportnews{ position:absolute; left:0; top:67px}
.sportsv{ width:518px; height:479px; position:absolute; right:0; top:80px; overflow:hidden}
.title_v{ height:30px; overflow:hidden}
.title_v h2{ font-size:18px; line-height:30px; float:left;color:#333333}
.title_v em{ float:right; font-size:12px; line-height:30px}
.sportsv .con{ width:528px; overflow:hidden}
.picbox a{ width:122px; height:135px; float:left; padding:8px 0; margin-right:10px; position:relative}
.picbox a img{ width:122px; height:91px; display:block}
.picbox a p{ height:36px; font-size:12px; line-height:18px; display:block; overflow:hidden; padding-top:7px}
.picbox a i{ background:url(../images/ui.png) -325px 0 no-repeat; width:30px; height:30px; display:block; position:absolute; top:38px; left:46px;}

/*战队排行*/
.teamph{ background:url(../images/taemphbg.jpg) 0 0 no-repeat; border:#e6e6e6 solid 1px; padding:0px 10px 0 10px; width:178px; height:367px; overflow:hidden; margin-top:57px}
.teamph .h2_tit{ margin-top:8px}
.teamph .boxc{ margin-top:7px; background:url(../images/zdbg.png) 0 8px no-repeat; padding-left:30px; }
.teamph table{width:148px;}
.teamph td{ height:36px; line-height:36px;}
.teamname img{ margin:0 5px; vertical-align:middle}
.score_num{ color:#ea0000}
.teamph .rank_num{ display:none}
.teamph .con .more{ height:29px; line-height:29px; text-align:right; font-size:12px}
.teamph .more{ height:30px; line-height:30px}


/*新游戏*/
.newgame .title{width:980px; height:30px; overflow:hidden; background:url(../images/newgame_title.png) 145px -3px  no-repeat}
.newgame .title h2{ background:url(../images/ui.png) 0 -574px no-repeat; height:30px; line-height:30px; padding-left:42px; font-size:24px; font-weight:700; color:#444444}
.pcbox dl dt{ width:121px; float:left; margin-right:14px}
.pcbox dl dt img{ width:121px; height:165px; display:block}
.pcbox dl dd{ width:385px; float:left; overflow:hidden}
.pcbox dl dd h4{ color:#333333; font-size:18px; line-height:36px; font-family:"微软雅黑"}
.pcbox dl dd p{ font-size:12px; line-height:24px; color:#666666}
.pcbox dl dd p span{ color:#999999}
.virtue{ height:26px; line-height:26px; background:#d5f0cc; color:#2eb200; font-size:12px; margin-top:4px}
.defect{ height:26px; line-height:26px; background:#fce4cc; color:#f07801; font-size:12px; margin-top:1px;}
.virtue i{ background:url(../images/ui.png) -95px -165px no-repeat; width:45px; height:26px; display:inline-block; text-align:center; color:#fff; font-style:normal; padding-right:8px}
.defect i{ background:url(../images/ui.png) -95px -192px no-repeat; width:45px; height:26px; display:inline-block; text-align:center; color:#fff; font-style:normal; padding-right:8px}
.gamecsb{ border:#e6e6e6 solid 1px; padding:3px 8px 0 8px; width:182px; height:300px; overflow:hidden}

.tablebox{ font-size:12px;}
.tablebox table{ width:100%;}
.tablebox td{ line-height:30px; display:inline-block}
.tablebox td em a{ width:29px; height:16px; text-indent:-9999px; display:block; overflow:hidden;}
.tablebox td em.ico_lh a{background:url(http://www.uuu9.com/skin2014/ui.jpg) -613px -37px no-repeat;}
.tablebox td em.ico_zc a{background:url(http://www.uuu9.com/skin2014/ui.jpg) -381px -37px no-repeat;}
.tablebox td em.ico_qh a{background:url(http://www.uuu9.com/skin2014/ui.jpg) -414px -37px no-repeat;}
.tablebox td em.ico_zw a{background:url(http://www.uuu9.com/skin2014/ui.jpg) -450px -37px no-repeat;}
.tablebox td em.ico_lh a:hover{background:url(http://www.uuu9.com/skin2014/ui.jpg) -651px -37px no-repeat;}
.tablebox td em.ico_zc a:hover{background:url(http://www.uuu9.com/skin2014/ui.jpg) -498px -37px no-repeat;}
.tablebox td em.ico_qh a:hover{background:url(http://www.uuu9.com/skin2014/ui.jpg) -531px -37px no-repeat;}
.tablebox td em.ico_zw a:hover{background:url(http://www.uuu9.com/skin2014/ui.jpg) -567px -37px no-repeat;}
.tablebox td.gamename{ width:64px; color:#555555;height:30px; overflow:hidden;text-overflow: ellipsis}
.tablebox td.kaname{ width:70px;}
.tablebox td.kabtn{width:30px;}
.tablebox td.cetime{width:50px; color:#555555; font-size:13px}
.tablebox td.state{width:35px; color:#999999}
.tablebox td.rank_num{width:40px; color:#cd0102; text-align:center; font-weight:bold;}
.tablebox td.score_num{width:45px; color:#ff4800;}
.tablebox td a:hover{ color:#f07801}

.negametj .con{ width:528px; overflow:hidden}
.nw_zttj a{ width:129px; height:46px; float:left; margin-right:1px;}
.nw_zttj a img{ width:129px; height:46px; display:block}
.gamezt{ width:987px; overflow:hidden}
.gamezt a{ width:190px; height:80px; float:left; margin-right:7px;}
.gamezt a img{ width:190px; height:80px; display:block}
.gamezt a:hover img,.nw_zttj a:hover img{opacity:0.85;}
.gamedown{ width:182px; height:185px; border:#e6e6e6 solid 1px; padding:3px 8px 0 8px; overflow:hidden}
.gamedown li{ line-height:30px; height:30px}
.gamedown li em{ float:right; margin-top:5px}
.gamedown li em a{ width:36px; height:18px; border:#0084ff solid 1px; color:#0084ff; line-height:18px; text-align:center; border-radius:8px; display:block; font-size:12px}
.gamedown li em a:hover{ color:#fff; background:#0084ff; text-decoration:none}
 



/*YOYO手游*/
.focus_box{ position:relative; width:100%; height:837px; overflow:hidden; margin-top:30px}
/* flexslider */
.flexslider{position:relative;height:484px;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:484px;}
.slides li a{ width:100%; height:484px; display:block}
.flex-control-nav{height:24px;position:absolute;right:50%;top:330px;margin-right:-500px;z-index:108;}
.flex-control-nav li{display:inline-block;width:24px;height:24px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:block; text-indent:-9999px;float:left;width:24px;height:24px;background:url(../images/focusmenu.png) -24px 0 no-repeat;overflow:hidden; margin-right:8px;}
.flex-control-nav .flex-active{background:url(../images/focusmenu.png) 0 0 no-repeat;}


/*carousel-滚动*/
.carousel {width:1274px;position:absolute; top:397px; left:50%; margin-left:-637px; background:#fff; height:500px;background:url(../images/yinying.png) 0 0 no-repeat; z-index:100}
.yoyobox{ background:#FFF; width:1202px; margin:0 auto;height:561px;padding:28px 20px 0 20px}
.yoyobox .title{width:1200px; height:30px; overflow:hidden; background:url(../images/yoyo_title.png) right -3px  no-repeat}
.yoyobox .title h2{ background:url(../images/ui.png) 0 -612px no-repeat; height:30px; line-height:30px; padding-left:42px; font-size:24px;color:#444444}
.yoyopic{ width:380px; float:left}
.yoyopic a{ width:380px; height:252px; float:left; position:relative; overflow:hidden; margin-top:10px; color:#fff}
.yoyopic a img{ width:380px; height:252px; display:block}
.yoyopic a p{ background:url(../images/png.png) 0 0 repeat-x; width:360px; height:40px; display:block; position:absolute; left:0; bottom:0; font-size:16px; padding:10px 10px 0 10px; line-height:40px}
.yoyozt{ height:420px; overflow:hidden}
.yoyozt a{ width:260px; height:130px; float:left; position:relative; overflow:hidden; margin-top:10px; color:#fff}
.yoyozt a img{ width:260px; height:130px; display:block}
.yoyozt a p{ background:url(../images/png.png) 0 0 repeat-x; width:240px; height:30px; display:block; position:absolute; left:0; bottom:0; font-size:14px; padding:20px 10px 0 10px; line-height:30px}


.kxbox{ background:#fefefe; border:#cbcbcb solid 8px; width:172px; height:70px; padding:9px 0 0 12px}
.kxbox .pic{ width:59px; float:left; margin-right:10px}
.kxbox .pic img{ width:59px; height:59px; display:block}
.kxbox .text h4{ line-height:18px; font-size:14px; color:#f5591c; font-weight:bold}
.kxbox .text p{ font-size:12px; line-height:18px; color:#666666}
.kxbox .text .btn a{ width:76px; height:20px; display:block; font-size:12px; text-align:center; line-height:20px; background:#f5591c; color:#fff; border-radius:10px}


/*次元推荐*/
.acgtj dl{ height:74px; overflow:hidden}
.acgtj dl dt{ width:170px; float:left; margin-right:10px}
.acgtj dl dt a{ width:170px; height:74px; display:block; position:relative}
.acgtj dl dt a img{ width:170px; height:74px; display:block}
.acgtj dl dt a i{ width:96px; height:20px; line-height:20px; text-align:center; position:absolute; left:0; top:0; background:#666; color:#FFF; font-size:12px; font-style:normal}
.acgtj dl dd h4 a{ font-size:16px; color:#333; line-height:32px}
.acgtj dl dd h4 a:hover{ color:#f07801}
.acgtj dl dd p{ font-size:14px; line-height:20px; color:#999999}
.acgtj ul li{ font-size:14px; line-height:30px; background:url(../images/ico_cyjd.jpg) 0 8px no-repeat; padding-left:20px}

/*手游热点*/
.syhot{ height:377px; overflow:hidden}
.syhot .con{ width:520px; overflow:hidden}
.sybox{ width:255px; float:left;padding:11px 0 12px 0; height:94px;border-bottom:#c0c0c0 dotted 1px}
.sybox dt{ width:94px; height:94px; overflow:hidden; float:left; margin-right:10px}
.sybox dt img{ width:94px; height:94px; display:block}
.sybox dd h4{ font-size:16px; line-height:30px; height:30px; overflow:hidden}
.sybox dd p{ font-size:14px; line-height:20px; color:#999999}


/*游戏榜单*/
.gameppb .title{width:1200px; height:30px; overflow:hidden; background:url(../images/yoyo_title.png) right -3px  no-repeat}
.gameppb .title h2{ background:url(../images/ui.png) 0 -649px no-repeat; height:30px; line-height:30px; padding-left:38px; font-size:24px;color:#444444}
.gameppb .tit{ height:32px; line-height:32px; overflow:hidden}
.gameppb .tit h3{ display:block; overflow:hidden; text-indent:-9999px;}
.gameppb .tit h3 a{ display:block}
.ffb{ width:310px; margin-right:30px}
.rpg{ width:270px; margin-right:30px}
.syb{ width:260px}
.qdb{ width:270px}
.ffb .tit{ background:url(../images/rankbg.png) 0 0 no-repeat}
.rpg .tit{ background:url(../images/rankbg.png) -340px 0 no-repeat}
.syb .tit{ background:url(../images/rankbg.png) -640px 0 no-repeat}
.qdb .tit{ background:url(../images/rankbg.png) -930px 0 no-repeat}
.rankbox { background:url(../images/table.png) 0 36px repeat-x}
.rankbox th{ height:36px; line-height:36px; padding-left:10px; color:#666666; font-weight:bold}
.rankbox td{ height:36px; line-height:36px; padding-left:10px; color:#999999}
.rankbox td em{ width:20px; height:16px; line-height:16px; font-size:12px; text-align:center; display:inline-block; background:#a9a9a9; color:#fff}
.rankbox td em.num1{ background:#f07801;}
.rankbox td em.num2{ background:#f39334;}
.rankbox td em.num3{ background:#f6ae67;}
.rankbox td span{ color:#f07801}
.rankbox td a{color:#555555} 
.rankbox td a:hover{ color:#f00}
.rankbox td span a{ width:13px; height:17px; display:inline-block; overflow:hidden; text-indent:-9999px; vertical-align:middle; float:left}
.rankbox td span a.android_down{ background:url(../images/ui.png) -649px 0 no-repeat}
.rankbox td span a.ios_down{ background:url(../images/ui.png) -694px 0 no-repeat; margin-left:12px}


.maplist li{ line-height:30px; width:50%; float:left}
.maplist span{  background:url(../images/ui.png) 86px -450px no-repeat;line-height:30px; padding-right:20px; height:30px; display:inline-block}
.maplist li:hover span{  background:url(../images/ui.png) 86px -480px no-repeat}
.maplist li a{ padding-left:10px}
.maplist li:hover a{ color:#f07801; text-decoration:none}

.slide_bank th{ height:36px; line-height:36px; padding-left:10px; color:#666666; font-weight:bold}
.skinlist em{ width:20px; height:16px; float:left; margin:10px 10px 0 10px;line-height:16px; font-size:12px; text-align:center; display:inline-block; background:#a9a9a9; color:#fff}
.skinlist em.num1{ background:#f07801;}
.skinlist em.num2{ background:#f39334;}
.skinlist em.num3{ background:#f6ae67;}
.skinlist span{ height:36px; overflow:hidden; line-height:36px}
.qqb_name{ float:left; width:120px; text-align:left}
.qqb_vote{ float:left; width:50px;}
.qqb_vote a{ color:#55ad2a; width:38px; height:18px; text-decoration:none; display:inline-block; border:#55ad2a solid 1px; border-radius:5px; margin-top:8px; line-height:18px; text-align:center}
.qqb_vote a:hover{ background:#55ad2a; color:#FFF}
.qqb_number{ float:left; width:60px; color:#f07801}
.slide_bank .hover .skinbox{ display:block}
.slide_bank .skinbox{ width:250px; height:108px; position:relative; margin-left:10px; display:none}
.slide_bank .skinbox img{ width:250px; height:108px; display:block}
.slide_bank .skinbox p{background-color:rgba(0, 0, 0, 0.6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);position:absolute; width:250px; height:30px; position:absolute; left:0; bottom:0; color:#FFF; font-size:12px}
.slide_bank .skinbox p a{ line-height:30px; color:#fff; padding:0 10px}

.linkbox{ background:#383838;}
.linkbox .w1000{ margin:50px auto 0; height:276px; padding:50px 0 0 0; overflow:hidden; font-size:12px; color:#999999}
.sbox{ width:166px; overflow:hidden}
.stit{ height:16px; line-height:16px; background:url(../images/ui.png) -794px -125px no-repeat; padding-left:15px}
.stit h3{ font-size:15px; color:#adadad; font-weight:bold}
.linkbox .con{ margin-top:10px}
.linkbox .con a{ padding:0 8px; line-height:30px; color:#999999}
.linkbox .con a:hover{ color:#bebebe}

.footer{ background:#2e2e2e}
.footer .w1000{ margin:0 auto; height:258px; padding:50px 0 0 0; color:#999999; font-size:12px}
.footer a{ color:#999999}
.footer a:hover{ color:#bebebe}
.footer .copyright p{ line-height:30px; text-align:center;}
.footer .tips_box{ text-align:center; padding:15px;}
.footer .safebox{ text-align:center; padding:15px 0 0 0;}
.footer .safebox a{ display:inline-block; padding:0 5px;}

 

@media (min-width:768px) and (max-width:1280px) {
.ww1000{ width:1020px; margin:0 auto}
.w440{ width:370px}
.w520{ width:390px}
.w1200{ width:1000px}
.w980{ width:780px}
.w260{ width:200px}
.w900{ width:753px}
.w240{ width:40px}
.w960{ width:960px;}
.topad .rightad{ width:960px; height:50px; overflow:hidden; margin:0 auto}
.topad .leftnews{ display:none}
.rightad{ width:960px;}
.topnav .toploginbox {float: right; text-align: right;width: 360px;}
.mainnav a{font-size:18px;color:#FFF;line-height:50px; width:123px; text-align:center; float:left; display:block; border-left:#ec6501 solid 1px; border-right:#f7ab08 solid 1px; position:relative}
.mainnav a.last{ border-right:none; width:123px}
.submenu{position: relative;width:1000px;}
.submenu .w1000{ width:800px}
.w500{ width:400px; overflow:hidden}
.menubox dl{ height:24px; overflow:hidden}
.flashbox{width:370px; height:240px; overflow:hidden;}
.flashbox img{width:440px; height:240px; position:absolute; left:50%; top:0; margin-left:-255px; vertical-align:top}
.focusbox {width:370px; height:240px;position:relative; overflow:hidden;}
.focus_trigger {text-align:right;position: absolute; bottom:0; right:0; z-index:3}
.focus_trigger a { float:left;text-indent:-9999px; overflow:hidden; margin-right:1px;width:52px;height:8px;line-height:8px;text-align:center;color:#343434; background:#5a5a5a;outline:none;overflow:hidden;text-decoration:none}
.focus_trigger a.current {color:#fff; background:#f3591b; width:104px}
.focus_panel {position:relative;}
.focus_panel div { position:absolute;}
.focus_panel div a {width:440px; height:240px; display:block; position:relative; overflow:hidden}
.focus_panel div a span{ height:32px; width:350px; position:absolute; z-index:2; left:0; bottom:0;color:#fff; line-height:32px; padding:0px 10px 8px 10px; font-size:16px; font-weight:bold; font-family:"微软雅黑";background-color: rgba(0, 0, 0, 0.5);background: rgba(0, 0, 0, 0) -moz-linear-gradient(right center , transparent 0px, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.5) 100%) repeat scroll 0 0;text-shadow: 1px 0 0 #555, 0 1px 0 #555, -1px 0 0 #555, 0 -1px 0 #555;}
.swichtitle a{line-height:36px; text-align:center; display:inline-block; padding:0 6px; color:#666666; text-decoration:none}
.textlist li em{ display:none}
.adr{ display:none}
.adnews{ display:none}
.adnews1{ width:40px; padding:0; background:url(../images/ui.png) -323px -126px; height:80px; text-indent:-9999px; display:block; overflow:hidden}
.adnews2{ width:40px; padding:0; background:url(../images/ui.png) -323px -207px; height:60px; text-indent:-9999px; display:block; overflow:hidden}
.livebox .boxc{ width:380px; overflow:hidden}
.zblist a{ width:180px; height:190px; float:left; margin-top:3px; margin-right:10px; color:#444444}
.zblist a img{ width:180px; height:121px; display:block}
.spjd .boxc{ width:380px; overflow:hidden}
.jdlist a{ width:180px; height:121px; float:left; position:relative; margin-top:12px; margin-right:10px; color:#444444}
.jdlist a img{ width:180px; height:121px; display:block}
.jdlist a .tt{ width:180px; height:50px; background:url(../images/jdpng.png) 0 0 repeat-x; position:absolute; left:0; bottom:0}
.sptext{ width:235px; height:142px; float:left; overflow:hidden}
.newslist li em{ display:none}
.hotnews h3{ height:36px; overflow:hidden}
.sportsv{ width:386px; position:absolute; right:0; top:80px; overflow:hidden}
.sportsv .con{ width:396px; overflow:hidden}
.pcbox dl dd {float: left;overflow: hidden;width:255px;}



.carousel {width:1074px;position:absolute; top:397px; left:50%; margin-left:-537px; background:#fff; height:500px;background:url(../images/yinying2.png) 0 0 no-repeat; z-index:100}
.yoyobox{ background:#FFF; width:1000px; margin:0 auto; height:561px; padding:28px 20px 0 20px}
.yoyobox .title{width:1000px; height:30px; overflow:hidden; background:url(../images/yoyo_title.png) 170px -3px  no-repeat}
.yoyobox .title h2{ background:url(../images/ui.png) 0 -612px no-repeat; height:30px; line-height:30px; padding-left:42px; font-size:24px;color:#444444}
.yoyopic{ width:370px; float:left}
.yoyopic a{ width:370px; height:252px; float:left; position:relative; overflow:hidden; margin-top:10px; color:#fff}
.yoyopic a img{ width:370px; height:252px; display:block}
.yoyopic a p{ background:url(../images/png.png) 0 0 repeat-x; width:350px; height:40px; display:block; position:absolute; left:0; bottom:0; font-size:16px; padding:10px 10px 0 10px; line-height:40px}

.yoyozt a{ width:200px; height:96px; float:left; position:relative; overflow:hidden; margin-top:10px; color:#fff}
.yoyozt a img{ width:200px; height:96px; display:block}
.yoyozt a p{ background:url(../images/png.png) 0 0 repeat-x; width:180px; height:30px; display:block; position:absolute; left:0; bottom:0; font-size:14px; padding:20px 10px 0 10px; line-height:30px}
.kxbox{ background:#fefefe; border:#cbcbcb solid 8px; width:172px; height:66px; padding:9px 0 0 12px}

.gameppb .title{width:1000px; height:30px; overflow:hidden; background:url(../images/yoyo_title.png) 146px -3px  no-repeat}
.gameppb .title h2{ background:url(../images/ui.png) 0 -649px no-repeat; height:30px; line-height:30px; padding-left:38px; font-size:24px;color:#444444}
.gameppb .tit{ height:32px; line-height:32px; overflow:hidden}
.gameppb .tit h3{ display:block; overflow:hidden; text-indent:-9999px;}
.ffb{ width:271px; margin-right:15px}
.rpg{ width:231px; margin-right:15px}
.syb{ width:221px}
.qdb{ width:231px}
.ffb .tit{ background:url(../images/rankbg1.png) 0 0 no-repeat}
.rpg .tit{ background:url(../images/rankbg1.png) -286px 0 no-repeat}
.syb .tit{ background:url(../images/rankbg1.png) -532px 0 no-repeat}
.qdb .tit{ background:url(../images/rankbg1.png) -768px 0 no-repeat}
.rankbox th{ height:36px; line-height:36px; padding-left:5px; color:#666666; font-weight:bold}
.rankbox td{ height:36px; line-height:36px; padding-left:5px; color:#999999}
.qqb_name{ float:left; width:79px; text-align:left}
.slide_bank .skinbox{ width:231px; height:108px; position:relative; margin-left:0;display:none}
.slide_bank .skinbox img{ width:231px; height:108px; display:block}
.slide_bank .skinbox p{background-color:rgba(0, 0, 0, 0.6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);position:absolute; width:231px; height:30px; position:absolute; left:0; bottom:0; color:#FFF; font-size:12px}
.newgame .title{width:780px; height:30px; overflow:hidden; background:url(../images/newgame_title.png) 135px -3px  no-repeat}
.mainnav a b{ background:url(../images/ui.png) -308px -87px no-repeat;display: inline-block;height:38px;left: 0;position: absolute;top:-38px;width:129px;}
.mainnav a:hover b{ background:url(../images/ui.png) -437px -87px no-repeat}
/*.swiper-container { width:390px;height:118px;}
.swiper-slide ul li {float: left;width:190px; height:84px; position:relative; overflow:hidden}
.swiper-slide ul li a{width:190px; height:84px; display:block; position:relative}
.swiper-slide li a .shadow{background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;display:block;height:84px;left: 0;position: absolute;top: 0;width:190px;}*/
.ck-slide { width:390px; height:84px; margin:4px auto 0;}
.ck-slide ul.ck-slide-wrapper li { position: absolute; width:390px; height:84px;}
.ck-slide ul.ck-slide-wrapper li a{ width:190px; height:84px; float:left; display:block;}


.example-slide {width:390px;height:84px;position:relative;margin-top:4px;}
.example-slide .slidest {position:absolute;z-index:100;width:390px;}
.slidest .slides_container .slide-all {float:left;width:390px;}
.slidest .slides_container .slide-left {float:left;width:190px; margin-right:10px; overflow:hidden}
.slidest .slides_container .slide-right {float:right;position:relative;width:190px; overflow:hidden}
.slidest .slides_container {width:390px;overflow:hidden;position:relative;display:none;}
.slidest .slides_container .slide {width:390px;height:84px;display:block;}



.negametj .con{ width:396px;overflow:hidden}
.negametj .con .picbox{ height:302px; overflow:hidden}
.nw_zttj{ width:391px; height:46px; overflow:hidden}
.gamezt{ width:788px; height:80px; overflow:hidden}

.syhot{ height:377px; overflow:hidden}
.syhot .con{ width:390px; overflow:hidden}
.sybox{ width:390px; float:left;padding:11px 0 12px 0; height:94px;border-bottom:#c0c0c0 dotted 1px}
.sybox dt{ width:94px; height:94px; overflow:hidden; float:left; margin-right:10px}
.sybox dt img{ width:94px; height:94px; display:block}
.sybox dd h4{ font-size:16px; line-height:30px}
.sybox dd p{ font-size:14px; line-height:20px; color:#999999}
.mainbody{ background:#FFF; width:1000px; margin:0 auto}
}