
				/* Kodda Menu */
				/* General Style */
				#kodda_parent_full_width {
					height:55px !important;
				}
				#kodda_container {
					z-index:99999999999 !important;
					width:100% ;
					height:55px !important;

					/* color/bg/border */
					background-color:404040;
					
					
					
					border-top: 0px solid 404040;
					border-right: 0px solid 404040;;
					border-bottom: 0px solid 404040;;
					border-left: 0px solid 404040;;

					/* CSS3 Gradient */ 
					background-image: -webkit-linear-gradient(top, #404040, #404040) ;
					background-image: -moz-linear-gradient(top, #404040, #404040) ;
					background-image: -o-linear-gradient(top, #404040, #404040) ;
					background-image: -ms-linear-gradient(top, #404040, #404040) ;
					background-image: linear-gradient(top, #404040, #404040) ;

					/* CSS3 Box Shadow */
					-moz-box-shadow   : 0px 0px 4px 1px #3d383d;
					-webkit-box-shadow: 0px 0px 4px 1px #3d383d;
					box-shadow        : 0px 0px 4px 1px #3d383d;
				
					/* CSS3 Border Radius */
					-webkit-border-radius: 0px 0px 0px 0px; 
					-moz-border-radius: 0px 0px 0px 0px; 
					border-radius: 0px 0px 0px 0px; 

				    /* Prevent background color leak outs */
				    -webkit-background-clip: padding-box; 
				    -moz-background-clip:    padding; 
				    background-clip:         padding-box;

				    /* CSS3 Fixes For IE */ 
				    behavior: url(http://www.rawstory.com/wp-content/plugins/CTF_kodda_menu//standard/css/pie/PIE.php);
				}



				/* Site Title & Logo */
				.kodda_title_container .kodda_title{
					font-size:26px !important;
					font-family:'Roboto', sans-serif !important; 
					font-style:normal;
					padding : 8px 15px 0px 15px !important;
					height:55px !important;

					/* color/bg/border */
					color:#f1f1f1;
				}
				.kodda_title_container .kodda_title:hover{
					/* color/bg/border */
					color:#757575 !important;
				}
				.kodda_title_container .kodda_top_link_right_border {
					width:1px !important;
					height:44px !important;
					margin-top:0px !important;

					/* color/bg/border */
					background-color:#2f2f2f !important;
				}



				/* Top Level Links */
				.kodda_top_link {
					line-height:55px !important;
				}

				.kodda_top_link,
				.kodda_resp_top_link ,
				.kodda_resp_posts_cat,
				.kodda_resp_submenu_links_column_title ,
				.kodda_resp_submenu_links_links a,

				.kodda_top_link:link,
				.kodda_resp_top_link:link ,
				.kodda_resp_posts_cat:link,
				.kodda_resp_submenu_links_column_title:link ,
				.kodda_resp_submenu_links_links a:link,
				
				.kodda_top_link:visited,
				.kodda_resp_top_link:visited ,
				.kodda_resp_posts_cat:visited,
				.kodda_resp_submenu_links_column_title:visited ,
				.kodda_resp_submenu_links_links a:visited{

					font-size:18px !important;
					font-family:'Roboto', sans-serif !important; 
					font-weight:bold;
					padding : 0px 15px 0px 10px;

					/* color/bg/border */
					color:#f1f1f1;
				}

				.kodda_menu:hover .kodda_top_link ,
				.kodda_top_link:hover,
				.kodda_resp_menu:hover .kodda_resp_top_link ,
				.kodda_resp_top_link:hover,
				.kodda_resp_submenu_posts_content_cat:hover .kodda_resp_posts_cat ,
				.kodda_resp_posts_cat:hover
				.kodda_resp_submenu_links_column_title:hover,
				.kodda_resp_submenu_links_column:hover .kodda_resp_submenu_links_column_title,
				.kodda_resp_submenu_links_links a:hover {
					/* color/bg/border */
					color:#d6d2d2;
					background-color:#404040;
				}

				.kodda_top_link .ct_font_box,
				.kodda_resp_top_link .ct_font_box,
				.kodda_resp_posts_cat .ct_font_box ,
				.kodda_resp_submenu_links_column_title .ct_font_box {
					font-size:14px !important;
					top:13px;
					right:-2px;
					line-height:1em !important;

					/* color/bg/border */
					color:#f1f1f1;
				}
				.kodda_menu:hover .kodda_top_link .ct_font_box,
				.kodda_resp_menu:hover .kodda_resp_top_link .ct_font_box,
				.kodda_resp_submenu_posts_content_cat:hover .kodda_resp_posts_cat .ct_font_box,
				.kodda_resp_submenu_links_column:hover .kodda_resp_submenu_links_column_title .ct_font_box {
					/* color/bg/border */
					color:#ffffff;
				}

				.kodda_menu > .kodda_top_link_right_border {
					width:1px !important;
					height:44px !important;
					margin-top:0px !important;

					/* color/bg/border */
					background-color:#2f2f2f !important;
				}

				.kodda_top_link_current {
					/* color/bg/border */
					color:#f1f1f1 !important;
					background-color:#404040 !important;
				}
					.kodda_top_link_current .ct_font_box{
						/* color/bg/border */
						color:#ffffff !important;
					}
				.kodda_top_link_same_padding {
					padding : 0px 10px !important;
				}



				/* SubMenus */
				.kodda_submenu {
					top:55px !important;
				}
				.kodda_menu_posts .kodda_submenu,
				.kodda_menu_links .kodda_submenu,
				.kodda_menu_html .kodda_submenu {
					/* color/bg/border */
					background-color:#404040;
					
					
					border-top: 0px solid #000000;
					border-right: 0px solid #000000;
					border-bottom: 3px solid #000000;
					border-left: 0px solid #000000;

					/* CSS3 Gradient */ 
					background-image: -webkit-linear-gradient(top, #404040, #404040) ;
					background-image: -moz-linear-gradient(top, #404040, #404040) ;
					background-image: -o-linear-gradient(top, #404040, #404040) ;
					background-image: -ms-linear-gradient(top, #404040, #404040) ;
					background-image: linear-gradient(top, #404040, #404040) ;

					/* CSS3 Box Shadow */
					-moz-box-shadow   : 0px 0px 0px 0px #ffffff;
					-webkit-box-shadow: 0px 0px 0px 0px #ffffff;
					box-shadow        : 0px 0px 0px 0px #ffffff;
				
					/* CSS3 Border Radius */
					-webkit-border-radius: 0px 0px 0px 0px; 
					-moz-border-radius: 0px 0px 0px 0px; 
					border-radius: 0px 0px 0px 0px; 

				    /* Prevent background color leak outs */
				    -webkit-background-clip: padding-box; 
				    -moz-background-clip:    padding; 
				    background-clip:         padding-box;

				    /* CSS3 Fixes For IE */ 
				    behavior: url(http://www.rawstory.com/wp-content/plugins/CTF_kodda_menu//standard/css/pie/PIE.php);
				}



				/* Posts */
				.kodda_submenu_posts_categories {
					width:180px !important;
					padding:10px 0px 0px 0px !important;
				
					/* color/bg/border */
					background-color:#545354;
				}
					.kodda_submenu_posts_categories a,
					.kodda_submenu_posts_categories a:visited,
					.kodda_submenu_posts_categories a:link{
						font-size:17px !important;
						font-family:'PT Sans Caption', sans-serif !important; 
						font-weight:bold;
						padding: 7px 30px 7px 0px;

						/* color/bg/border */
						color:#ffffff;	
					}
					.kodda_submenu_posts_categories a:hover{
						/* color/bg/border */
						color:#d6d2d2;	
						background-color:#404040;	
					}
					.kodda_submenu_posts_categories a .ct_font_box {
						font-size:17px !important;
						top:6px;
						right:12px;

						/* color/bg/border */
						color:#ffffff;
					}
					.kodda_submenu_posts_categories a:hover .ct_font_box {
						/* color/bg/border */
						color:#f3f3f3;
					}
					.kodda_submenu_posts_all_posts a,
					.kodda_resp_posts_cat_container a {
						margin: 10px 0px 10px 20px;						
					}
						.kodda_submenu_posts_all_posts a span,
						.kodda_resp_posts_cat_container a span {
							font-size:14px !important;
							font-family:'Roboto', sans-serif !important; 
							font-style:normal;
							padding: 0px 0px 0px 0px;

							/* color/bg/border */
							color:#ffffff;	
						}
							.kodda_submenu_posts_all_posts a span:hover ,
							.kodda_resp_posts_cat_container a span:hover {
								/* color/bg/border */
								color:#d6d2d2;	
							}



				/* Links */
				.kodda_submenu_links_column {
					margin-left:20px;
				}
					.kodda_submenu_links_column_title,
					.kodda_submenu_links_column_title:link,
					.kodda_submenu_links_column_title:visited{
						border-bottom: 1px solid #aaaaaa;

						font-size:17px !important;
						font-family:'Arial', 'Verdana' sans-serif !important; 
						font-style:normal;
						padding: 15px 0px 15px 0px;

						/* color/bg/border */
						color:#FFFFFF;							
					}
					.kodda_submenu_links_column_title:hover{
						/* color/bg/border */
						color:#d6d2d2;							
					}
					.kodda_submenu_links_column_links,
					.kodda_submenu_links_column_links:link,
					.kodda_submenu_links_column_links:visited{
						font-size:14px;
						font-family:'Arial', 'Verdana' sans-serif; 
						font-style:normal;
						padding: 15px 0px 0px 0px;

						/* color/bg/border */
						color:#FFFFFF;							
					}
					.kodda_submenu_links_column_links:hover{
						/* color/bg/border */
						color:#d6d2d2;							
					}



				/* Dropdowns */
				.kodda_menu_dropdowns .kodda_submenu ,
				.kodda_submenu_dropdown_level_two{
					width:200px;

					/* color/bg/border */
					background-color:#545354;
					
											
					border-top: 1px solid #d1d1d1;
					border-right: 1px solid #d1d1d1;
					border-bottom: 1px solid #d1d1d1;
					border-left: 1px solid #d1d1d1;

					/* CSS3 Gradient */ 
					background-image: -webkit-linear-gradient(top, #f3f3f3, #ffffff) ;
					background-image: -moz-linear-gradient(top, #f3f3f3, #ffffff) ;
					background-image: -o-linear-gradient(top, #f3f3f3, #ffffff) ;
					background-image: -ms-linear-gradient(top, #f3f3f3, #ffffff) ;
					background-image: linear-gradient(top, #f3f3f3, #ffffff) ;

					/* CSS3 Box Shadow */
					-moz-box-shadow   : 0px 0px 0px 0px #ffffff;
					-webkit-box-shadow: 0px 0px 0px 0px #ffffff;
					box-shadow        : 0px 0px 0px 0px #ffffff;
				
					/* CSS3 Border Radius */
					-webkit-border-radius: 0px 0px 0px 0px; 
					-moz-border-radius: 0px 0px 0px 0px; 
					border-radius: 0px 0px 0px 0px; 

				    /* Prevent background color leak outs */
				    -webkit-background-clip: padding-box; 
				    -moz-background-clip:    padding; 
				    background-clip:         padding-box;

				    /* CSS3 Fixes For IE */ 
				    behavior: url(http://www.rawstory.com/wp-content/plugins/CTF_kodda_menu//standard/css/pie/PIE.php);

				}
				.kodda_submenu_dropdown_level_two{
					left:200px;
				}
					.kodda_menu_dropdowns .kodda_submenu a,
					.kodda_menu_dropdowns .kodda_submenu a:link,
					.kodda_menu_dropdowns .kodda_submenu a:visited {
						font-size:14px;
						font-family:'Arial', 'Verdana' sans-serif; 
						font-style:normal;
						padding: 10px 0px 10px 10px;
						border-bottom: 1px solid #aaaaaa;

						/* color/bg/border */
						color:#ffffff;
					}
					.kodda_submenu_dropdown_level_one:hover > a,
					.kodda_submenu_dropdown_level_two a:hover {
						/* color/bg/border */
						color:#f3f3f3 !important;
						background-color:#545354 !important;
					}
					/* Fix border radius issue */
					.kodda_submenu_dropdown_level_one:first-child > a ,
					.kodda_submenu_dropdown_level_two a:first-child {
						/* CSS3 Border Radius */
						-webkit-border-radius: 0px 0px 0px 0px !important; 
						-moz-border-radius: 0px 0px 0px 0px !important; 
						border-radius: 0px 0px 0px 0px !important; 

					    /* Prevent background color leak outs */
					    -webkit-background-clip: padding-box; 
					    -moz-background-clip:    padding; 
					    background-clip:         padding-box;

				   		/* CSS3 Fixes For IE */ 
				    	behavior: url(http://www.rawstory.com/wp-content/plugins/CTF_kodda_menu//standard/css/pie/PIE.php);

					}
					.kodda_submenu_dropdown_level_one:last-child > a ,
					.kodda_submenu_dropdown_level_two a:last-child {
						/* CSS3 Border Radius */
						-webkit-border-radius: 0px 0px 0px 0px !important; 
						-moz-border-radius: 0px 0px 0px 0px !important; 
						border-radius: 0px 0px 0px 0px !important; 

					    /* Prevent background color leak outs */
					    -webkit-background-clip: padding-box; 
					    -moz-background-clip:    padding; 
					    background-clip:         padding-box;

					    /* no bottom border */
					    border-bottom:none !important;
					}
					.kodda_submenu_dropdown_level_one .ct_font_box {
						font-size:14px;
						top:10px;
						right:10px;

						/* color/bg/border */
						color:#555555;
					}
					.kodda_submenu_dropdown_level_one:hover .ct_font_box span{
						/* color/bg/border */
						color:#f3f3f3 !important;
					}



				/* Search */
				.kodda_search_container  {
					padding: 9px 15px 0px 15px;
				}
					.kodda_search_form {
					}
						.kodda_search_container .kodda_search_input {
							font-size:12px;
							font-family:'PT Sans', sans-serif; 
							font-style:normal;
							padding: 0px 0px 0px 10px;								

							width:100px;
							height:26px;
							line-height:26px;

							/* color/bg/border */
							background-color:#ffffff;
							color:#575757;

							border-top: 0px solid transparent;
							border-right: 0px solid transparent;
							border-bottom: 0px solid transparent;
							border-left: 0px solid transparent;

							/* CSS3 Border Radius */
							-webkit-border-radius: 0px 0px 0px 0px; 
							-moz-border-radius: 0px 0px 0px 0px; 
							border-radius: 0px 0px 0px 0px; 

						    /* Prevent background color leak outs */
						    -webkit-background-clip: padding-box; 
						    -moz-background-clip:    padding; 
						    background-clip:         padding-box;

				 		   /* CSS3 Fixes For IE */ 
				 	 	  	behavior: url(http://www.rawstory.com/wp-content/plugins/CTF_kodda_menu//standard/css/pie/PIE.php);

						}
						.kodda_search_buttom {
							font-size:16px;

							/* color/bg/border */
							color:#4d4d4d !important;
							background:transparent !important;

							height:26px;
							line-height:26px;

							top:0px;
							right:0px;

							/* CSS3 Border Radius */
							-webkit-border-radius: 0px 0px 0px 0px; 
							-moz-border-radius: 0px 0px 0px 0px; 
							border-radius: 0px 0px 0px 0px; 

						    /* Prevent background color leak outs */
						    -webkit-background-clip: padding-box; 
						    -moz-background-clip:    padding; 
						    background-clip:         padding-box;

				    		/* CSS3 Fixes For IE */ 
				    		behavior: url(http://www.rawstory.com/wp-content/plugins/CTF_kodda_menu//standard/css/pie/PIE.php);

						}



				/* Social */
				.kodda_social_container {
					height:55px;
				}
					.kodda_social_link{
					}
						.kodda_social_link_icon {
							margin: 14px 0px 0px 10px;
						}
							.kodda_social_tooltip {
								top:55px;

								font-size:13px;
								font-family:'Arial', 'Verdana' sans-serif; 
								font-style:normal;
								padding: 10px 10px ;								

								/* color/bg/border */
								color:#555555;
								background:#f3f3f3;
							}
								.kodda_social_tooltip .ct_font_box{
									right:10px;
									/* color/bg/border */
									color:#f3f3f3;
								}

		
					/* Responsive */
					.kodda_responsive {
						height:55px;
					}
						.kodda_responsive > .ct_font_box{
							padding: 10px 15px 0px 15px !important;
							font-size:24px !important;
							color:#f3f3f3 !important;
							height:45px;
						}
						.kodda_responsive_content {
							width : 100%;
							top :55px !important;
							/* color/bg/border */
							background-color:404040 !important;
							

						}
							/* First , Second & Third Level Links */
							.kodda_resp_top_link ,
							.kodda_resp_posts_cat ,
							.kodda_resp_submenu_links_column_title,
							.kodda_resp_submenu_links_links a{
								border-bottom: 1px solid #d1d1d1;
							}
							
							.kodda_resp_menu > a,
							.kodda_resp_posts_cat,
							.kodda_resp_submenu_links_column_title,
							.kodda_resp_submenu_links_links > a{
								line-height:34px !important;
							}

							.kodda_responsive_content {
								border-top: 1px solid #d1d1d1;
								border-bottom: 1px solid #d1d1d1;

							}

							/* Second Level Links */
							.kodda_resp_posts_cat,
							.kodda_resp_submenu_links_column_title {
								padding-left : 20px !important;
							} 
							/* Third Level Links */
							.kodda_resp_submenu_links_links a {
								padding-left : 30px !important;
							}
							.kodda_resp_submenu_posts_content_cat .kodda_resp_posts_cat_container {
								padding-left : 30px !important;
								background-color:#404040;
								
							}
							.kodda_resp_menu_html .kodda_resp_submenu{
								background-color:#404040;
								
							}

							.kodda_resp_menu:last-child .kodda_resp_submenu {
								border-right: 0px solid #000000;
								border-left: 0px solid #000000;
							}

							/** Fix Mobile Links Arrows **/
							.kodda_resp_top_link > .ct_font_box,
							.kodda_resp_submenu_links_column_title > .ct_font_box,
							.kodda_resp_posts_cat > .ct_font_box {
								top:0px !important;
								line-height:inherit !important;
								padding:0px 10px;
							}

				
			