/**** Skitter Slideshow ****/
body{
margin:0px;
padding: 0px;
}
 
a img, img {border:0}
a {outline:none;}

#skitter{
  width: 300px;
  height: 250px;
  overflow: hidden;
  position:relative;
  background:#000000;
}
#skitter ul {
  background:#000000;
  display:none;
  list-style:none;
}
#skitter ul li {
  float:left;
  margin: 0;
  padding: 0;
}
#skitter .image {width:300px;height:250px;overflow:hidden;border:0;padding:0;margin:0}
#skitter .image img {display:none;border:0;padding:0;margin:0}

#skitter .box_clone {position:absolute;top:0;left:0;width:100px;overflow:hidden;display:none;z-index:20;}
#skitter .box_clone img {position:absolute;top:0;left:0;z-index:20;}

#ban{
  width: 300px;
  height: 250px;
  display: block;
  overflow:hidden;
  position: absolute;
  left:0;
  top:0;
  z-index:1000
}
#bts{
  position: absolute;
  top:-100px;
  right:0;
  behavior: url(iepngfix.htc);
}
.overlay{ behavior: url(iepngfix.htc); }


/**** Under player ads (Text) ****/

span {
  font-family: Arial;
  font-weight: bold; 
  font-size: 15px;
}

span a {
  color: #7DB500 !important;
}
