.tooltipster-punk {
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0; 
	border-bottom: 4px solid #ea0202;
	border-top:1px solid #888;
	background: #2a2a2a;
	color: #fff;
	box-shadow:0 1px 5px #444;
}
.tooltipster-punk .tooltipster-content {
	font-family: tahoma, 'Courier', monospace;
	font-size: 13px;
	line-height: 16px;
	padding: 8px 10px;
}