/*
 * ApplyWeb Landing CSS
 *
 * Custom CSS file for Bootstrap 3
 * http://getbootstrap.com/
 *
 * Style sheet made for CollegeNET by
 * William Hyde - @WilliHyde
 * 
 * Designed By
 * Maria Rotariu - @mariarotariu
 */

/* -+-+-+-+-+-+ Additional Styles -+-+-+-+-+-+ */
body {
	background-color: white;
}
.color-bar {
	background-color: #fdfdfd;
}
.inst-header .hero-text {
	font-family: Arial, Helvetica, sans-serif;
	color: #3273a0;
}
.inst-banner {
	margin: 0 20px;
}
@media (max-width: 767px) {
	.inst-banner {
		margin: 0;
	}
}

/* -+-+-+-+-+-+ Row-sm -+-+-+-+-+-+ */
.row.row-sm {
	margin-left: -10px;
	margin-right: -10px;
}
.row.row-sm > [class^="col-"] {
	padding-left: 10px;
	padding-right: 10px;
}

/* -+-+-+-+-+-+ Section Styles -+-+-+-+-+-+ */
@media (min-width: 992px) {
	.user-block section {
		padding: 5px 10px;
		border: 1px solid #ecf0f1;
	}
}
@media (max-width: 991px) {
	.user-block section {
		margin-top: 15px;
		padding-top: 5px;
		border-top: 1px solid #ecf0f1;
	}
	.user-block .col-md-4:first-child section{
		border-top: none;
		margin: 0;
		padding: 0;
	}
}
h3.section-title {
	margin-top: 10px;
}
h3.section-title > img {
	margin-right: 6px;
	max-height: 25px;
}
h3.section-title > span {
	display: inline-block;
	color: #4a4a4a;
	font-size: 23px;
	font-weight: 300;
	line-height: 30px;
	vertical-align: middle;
}
@media (max-width: 1199px) {
	h3.section-title > span {
		font-size: 20px;
	}
}
@media (max-width: 480px) {
	h3.section-title > span {
		font-size: 18px;
	}
}
.section-links {
	margin-bottom: 0;
	text-transform: uppercase;
}
.section-links li > a {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 10px;
}
.section-links li:last-child > a {
	margin-bottom: 0;
}

/* -+-+-+-+-+-+ Carousel -+-+-+-+-+-+ */
.carousel-wrap {
	position: relative;
}
.carousel .item > figure > img {
	display: block;
	height: auto;
	max-width: 100%;
}
.carousel .item {
	left: 0 !important;
	transition: opacity 1.5s;
	-webkit-transition: opacity 1.5s;
}
.carousel .active.left,
.carousel .active.right {
	opacity: 0;
	z-index: 2;
}

/* -+-+-+-+-+-+ Lines -+-+-+-+-+-+ */
@media (min-width: 1200px) {
	.line-left, .line-right {
		position: relative;
	}
	.line-left:before, .line-right:before {
		position: absolute;
		content: "";
		left: 0;
		height: 100%;
		width: 1px;
		background: #e1e1e1;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(0,0%,88%,0)), color-stop(50%,hsla(0,0%,88%,1)), color-stop(100%,hsla(0,0%,88%,0)));
		background: -webkit-linear-gradient(top, hsla(0,0%,88%,0) 0%,hsla(0,0%,88%,1) 50%,hsla(0,0%,88%,0) 100%);
		background: linear-gradient(to bottom, hsla(0,0%,88%,0) 0%,hsla(0,0%,88%,1) 50%,hsla(0,0%,88%,0) 100%);
	}
}

/* -+-+-+-+-+-+ Footer -+-+-+-+-+-+ */
.footer-legal {
	border-top-color: #ededed;
}
.footer-legal > p {
	color: #a5a5a5;
}

