/*
 * ApplyWeb System Styles
 *
 * Custom CSS file for Bootstrap 3
 * http://getbootstrap.com/
 *
 * Style sheet made for CollegeNET by
 * William Hyde - @WilliHyde
 * Adrienne Tilley - @adriennetilley
 *
 */

/* -+-+-+-+-+-+ Font Calls -+-+-+-+-+-+ */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url("/aw_fonts/google_fonts/Open_Sans/OpenSans-Light.eot");
	src: local("OpenSans-Light"), 
		url("/aw_fonts/google_fonts/Open_Sans/OpenSans-Light.eot") format("embedded-opentype"), 
		url("/aw_fonts/google_fonts/Open_Sans/OpenSans-Light.ttf") format("truetype"), 
		url('/aw_fonts/google_fonts/Open_Sans/OpenSans-Light.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url("/aw_fonts/google_fonts/Open_Sans/OpenSans-Regular.eot");
	src: local("OpenSans-Regular"), 
		url("/aw_fonts/google_fonts/Open_Sans/OpenSans-Regular.eot") format("embedded-opentype"),  
		url("/aw_fonts/google_fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype"), 
		url('/aw_fonts/google_fonts/Open_Sans/OpenSans-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url("/aw_fonts/google_fonts/Open_Sans/OpenSans-Bold.eot");
	src: local("OpenSans-Bold"), 
		url("/aw_fonts/google_fonts/Open_Sans/OpenSans-Bold.eot") format("embedded-opentype"), 
		url("/aw_fonts/google_fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype"), 
		url('/aw_fonts/google_fonts/Open_Sans/OpenSans-Bold.woff') format('woff');
}
 
/* -+-+-+-+-+-+ Main Framework -+-+-+-+-+-+ */
html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F6F6F6;
	font-size: 12px;
	line-height: 1.5;
	padding-top: 108px; /* Header space */
	margin-bottom: 48px; /* Margin bottom by footer height */
}

/* -+-+-+-+-+-+ Override -+-+-+-+-+-+ */
@-ms-viewport{
	width: auto;
}
hr {
	margin: 15px 0;
}
p {
	margin-bottom: 10px;
	color: #323232;
}

/* -+-+-+-+-+-+ Shared Styles -+-+-+-+-+-+ */
.den:after {
	clear: both;
}
.den:before, .den:after {
	content: "";
	display: table;
}
.in-block {
	display: inline-block;
}

/* -+-+-+-+-+-+ Custom Containers -+-+-+-+-+-+ */
.header-hero {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: white;
	border-bottom: 1px solid #d4d8d9;
	border-bottom: 0 solid rgba(0,0,0,0);
	box-shadow: 0 0 8px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.25);
	-webkit-transform: translateZ(0); /* Chrome fix */
}
.inputFocus {
	position: absolute;
}

/* -+-+-+-+-+-+ Text/font -+-+-+-+-+-+ */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'Open Sans', sans-serif;
}
h1 { font-size: 30px; }
h2 { font-size: 26px; }
h3 { font-size: 21px; }
label {
	font-weight: normal;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	color: #95a5a6;
	margin: 15px 0;
}
h1 small, h2 small, h3 small, h4 small, 
.h1 small, .h2  small, .h3 small, .h4 small {
	color: #95a5a6;
}
h5, .h5, h6, .h6 {
	color: #7f8c8d;
	margin: 10px 0;
}
h5 small, h6 small, 
.h5 small, .h6 small {
	color: #7f8c8d;
}
.header-hero h1 > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 38px;
	color: #3273A0;
}
h2.hero {
	font-size: 34px;
	color: #BDCCD4;
}
h4.aw-brand {
	color: #34495e;
	font-weight: 300;
	text-align: right;
	margin-top: 0;
}

/* -+-+-+-+-+-+ Btns -+-+-+-+-+-+ */
.btn.btn-help {
	display: block;
	width: 100%;
	padding: 4px 0;
	font-size: 12px;
	background-color: none;
	border-color: transparent;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	transition: color 300ms;
	-webkit-transition: color 300ms;
}
.btn.btn-help:hover, 
.btn.btn-help:focus, 
.btn.btn-help:active {
	color: #34495e;
	text-decoration: underline;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.btn.btn-help:active {
	color: #323232;
}

/* -+-+-+-+-+-+ Dens -+-+-+-+-+-+ */
.den {
	background-color: white;
	padding: 30px;
	margin-bottom: 20px;
	border: 1px solid #d4d8d9;
	border: 0 solid rgba(0,0,0,0);
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
.den.den-sm {
	padding: 15px;
}
.den.den-gray {
	background-color: #f2f2f2;
}
.den.den-shadowless, 
.den.den-outline {
	box-shadow: none;
	-webkit-box-shadow: none;
}
.den.den-sublayer {
	margin-bottom: 15px;
	margin-left: -30px;
	margin-right: -30px;
	padding: 15px 30px 0;
	background-color: #f7f9fa;
	background-color: rgba(0,0,0,0.01);
	box-shadow: inset 0 0 15px #dee2e3;
	-webkit-box-shadow: inset 0 0 15px #dee2e3;
}
.den.den-outline {
	border: 1px solid #D4D8D9;
}
.den.den-nav {
	background-color: #F6F6F6;
	padding: 10px 0;
}
	/* DEN HEROS */
.den > .den-hero {
	margin: -30px -30px 15px;
}
.den-hero:not(.den-hero-img) {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.2;
	padding: 10px 15px 0;
	color: #303030;
}
.den-hero.den-hero-img img {
	max-width: 100%;
	max-height: 85px;
}
.den-hero.den-hero-img picture {
	display: block;
}
.den-hero > a {
	text-decoration: none;
	color: #303030;
}
h1.den-hero > hr {
	margin: 15px 0 0;
}
.den > .den-hero + .den-hero {
	margin-top: -15px;
}

/* -+-+-+-+-+-+ Color Bar -+-+-+-+-+-+ */
.color-bar {
	height: 8px;
	margin-bottom: 8px;
	text-align: center;
	background-color: #95a5a6;
}

/* -+-+-+-+-+-+ Images -+-+-+-+-+-+ */
.inst-header {
	position: relative;
	display: block;
	width: auto;
	height: 64px;
	line-height: 64px;
	margin-bottom: 8px;
}
.inst-header a {
	display: inline-block;
	max-height: 100%;
}
.inst-header a, 
.inst-header a:hover, 
.inst-header a:focus {
	text-decoration: none;
}
.inst-header .hero-text {
	margin: 0;
	line-height: 64px;
	font-size: 42px;
	font-weight: normal;
}
.inst-header .hero-text > .legal-mark {
	margin-left: 4px;
	font-size: 14px;
	vertical-align: top;
}
.inst-header img {
	border: 0 none;
	height: auto;
	vertical-align: middle;
	max-height: 64px;
	max-width: 370px;
}

/* -+-+-+-+-+-+ Panels -+-+-+-+-+-+ */
.panel-aw {
    border-color: #D4D8D9;
}
.panel-aw > .panel-heading {
    background-color: #ECF0F1;
    border-color: #D4D8D9;
    color: #333333;
    font-size: 13px;
    font-weight: bold;
}

/* -+-+-+-+-+-+ Modals -+-+-+-+-+-+ */
div.modal-title {
	color: #4B5155;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.1;
}

/* -+-+-+-+-+-+ HRs and Lines -+-+-+-+-+-+ */
hr.fade-line {
	border: 0;
	height: 1px;
	background: #e9e9e9;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(201,21%,79%,0)), color-stop(50%,hsla(201,21%,79%,1)), color-stop(100%,hsla(201,21%,79%,0)));
	background: -webkit-linear-gradient(left, hsla(201,21%,79%,0) 0%,hsla(201,21%,79%,1) 50%,hsla(201,21%,79%,0) 100%);
	background: linear-gradient(to right, hsla(201,21%,79%,0) 0%,hsla(201,21%,79%,1) 50%,hsla(201,21%,79%,0) 100%);
}
hr.shadow {
	height: 10px;
	border: 0;
	margin: 0;
	width: 100%;
	box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.15);
}
hr.shadow.white, 
hr.fade-line.white {
	background-color: white;
}
hr.merge {
	margin-top: 0;
}

/* -+-+-+-+-+-+ Scroll bars -+-+-+-+-+-+ */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: rgba(236,240,241,0.2);
}
::-webkit-scrollbar-thumb {
	border: 1px solid rgba(149,165,166,0.5);
	background-color: rgba(189,195,199,0.6);
}
::-webkit-scrollbar-thumb:window-inactive {
	border-color: rgba(149,165,166,0.3);
	background-color: rgba(189,195,199,0.4);
}

/* -+-+-+-+-+-+ Footer -+-+-+-+-+-+ */
.aw-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 48px;
	padding: 10px 0;
}

/* -+-+-+-+-+-+ Alcove / Sidenav -+-+-+-+-+-+ */
.alcove-toggle {
	display: none;
}
.row > .col-join {
	padding-left: 0;
}
.row > .col-join:first-child {
	padding-left: 15px;
	padding-right: 0;
}
.row > .col-join > .den {
	margin-bottom: 0;
}
#actions_nav {
	transition: margin-top 220ms;
	-webkit-transition: margin-top 220ms;
}
#actions_nav {
	position: fixed;
	width: 278px;
	-webkit-transform: translateZ(0); /* Chrome fix */
}
.side-nav-title {
	background-color: #2C3E50;
	margin: -10px 0 10px;
	padding: 10px;
}
.side-nav-title h3 {
	color: white;
	font-size: 18px;
	margin: 5px 0;
}

/* -+-+-+-+-+-+ Layout Override -+-+-+-+-+-+ */
.ufe-fieldset legend, 
.ufe-fake-legend {
	font-family: 'Open Sans', sans-serif;	
}

/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
/* -+-+-+-+-+-+-+-+-+-+-+-+ MEDIA QUERUIES */
@media (max-width: 1199px) {
	#actions_nav {
		width: 228px;
	}
}
@media (max-width: 991px) {
	#actions_nav {
		width: 235px;
	}
	.row > .col-join.alcove-menu {
		position: fixed;
		z-index: 8000000;
		top: 0;
		left: -260px;
		right: auto;
		height: 100%;
		width: 260px;
		overflow: auto;
		overflow-x: hidden;
		overflow-y: auto;
		margin: 0;
		padding: 0 10px 0;
		background-color: #232323;
		box-shadow: 2px 0 0 rgba(0,0,0,0.2);
		-webkit-box-shadow: 2px 0 0 rgba(0,0,0,0.2);
	}
	.row > .col-join.alcove-menu.active {
		left: 0;
	}
	.row > .col-join.alcove-menu #actions_nav {
		position: static;
		width: auto;
		margin-top: 0;
	}
	.alcove-toggle {
		position: fixed;
		z-index: 8000001;
		display: block;
		cursor: pointer;
		left: 0;
		top: 25%;
		background-color: #232323;
		padding: 4px;
		width: 90px;
		text-align: center;
		color: white;
		font-size: 14px;
		line-height: 18px;
		overflow: hidden;
		border-radius: 2px 2px 0 0;
		-webkit-border-radius: 2px 2px 0 0;
		box-shadow: 2px -2px 0 rgba(0,0,0,0.2);
		-webkit-box-shadow: 2px -2px 0 rgba(0,0,0,0.2);
		transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform-origin: bottom left;
		-ms-transform-origin: bottom left;
		-webkit-transform-origin: bottom left;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	}
	.alcove-toggle .glyphicon {
		transition: transform 300ms;
		-ms-transition: -ms-transform 300ms;
		-webkit-transition: -webkit-transform 300ms;
	}
	.alcove-toggle.active .glyphicon {
		transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}
	.alcove-toggle:hover, 
	.alcove-toggle:focus {
		text-decoration: none;
		color: #bdc3c7;
	}
	.alcove-toggle.active {
		left: 260px;
	}
	.alcove-toggle.active .open-text, 
	.alcove-toggle .close-text {
		display: none;
	}
	.alcove-toggle.active .close-text {
		display: inline;
	}
	.row .alcove-menu, 
	.alcove-toggle {
		transition: left 190ms cubic-bezier(0.785, 0.135, 0.150, 0.860), opacity 220ms;
		-webkit-transition: left 190ms cubic-bezier(0.785, 0.135, 0.150, 0.860), opacity 220ms;
	}
	.row > .col-join {
		padding-left: 15px;
		padding-right: 15px;
	}
	/* CORE NAV */
	.den.den-nav {
		padding: 0;
		background-color: transparent;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
}
@media (max-width: 767px) {
	h4.aw-brand {
		text-align: center;
	}
	.btn.btn-help {
		margin-bottom: 10px;
	}
	body {
		margin-bottom: 122px;
	}
	.aw-footer {
		height: 122px;
		padding-bottom: 0;
	}
}
@media (max-width: 480px) {
	.header-hero > .container {
		min-height: 35px;
	}
	body {
		padding-top: 83px;
	}
	.color-bar {
		margin-bottom: 6px;
	}
	.inst-header {
		height: 48px;
		line-height: 48px;
		margin-bottom: 6px;
	}
	.inst-header img {
		max-height: 48px;
		max-width: 290px; /* 320px min width - 30px padding */
	}
	.inst-header .hero-text {
		line-height: 48px;
		font-size: 30px;
	}
	.den {
		padding: 15px;
	}
	.den.den-sublayer {
		margin-left: -15px;
		margin-right: -15px;
		padding: 15px 15px 0;
	}
	.den > .den-hero {
		margin: -15px -15px 15px;
		font-size: 25px;
	}
}
/* -+-+-+-+-+-+-+-+-+-+-+-+ PRINT */
@media print {
	.alcove-menu, .alcove-toggle {
		display: none !important;
	}
}
/* 4e79616e206e79616e206e79616e206e79616e206e79616e2e2e2e */
body.ufe-nyan {
	cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAUBAMAAACOrFuzAAAAGFBMVEUAAAD/mf8AAACZmZn/zJn/M5n/mZn///8WAiEdAAAAAXRSTlMAQObYZgAAAJFJREFUGNNFz9sJwzAMhWHjDWTsd0fKBBK0zylewDMUOkD3f6huJT8h4cuBXErBbBarruzlPBd4fU3nBTBgAyRh55y02rH7rPNPYl2JgxtIjo6SBCUjBYfTynU0iWY5bWzy1P1rBCeTEAYHtMdbtI/y2mAkFjKueBEi2mdg/F0+uBDeFSVXu6snYiVOPfxadf0Bx+EjD3GU4WEAAAAASUVORK5CYII='), auto;
}
