/*
 * ApplyWeb Accounts Styles
 *
 * Custom CSS file for Bootstrap 3
 * http://getbootstrap.com/
 *
 * Style sheet made for CollegeNET by
 * William Hyde - @WilliHyde
 *
 */

/* -+-+-+-+-+-+ Override -+-+-+-+-+-+ */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	background-image: none;
	background-color: #3273A0;
	color: white;
}

/* -+-+-+-+-+-+ Text -+-+-+-+-+-+ */
.header-hero h1 > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 38px;
	color: #3273A0;
}
h2.hero {
	font-size: 34px;
	color: #BDCCD4;
}
h4.aw-brand {
	color: #34495e;
	font-weight: 300;
	text-align: right;
	margin-top: 0;
}

/* -+-+-+-+-+-+ Dens -+-+-+-+-+-+ */
	/* DEN HEROS */
.den > .den-hero.den-hero-color {
	margin-bottom: 20px;
	padding: 10px 15px;
	color: white;
	background-color: #95a5a6;
}
.den > .den-hero.den-hero-color > small {
	color: white;
}
.den-hero-title, 
h1.den-hero.den-hero-color {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 1.25;
	font-weight: 300;
}
.den-hero-title > a {
	text-decoration: none;
}

/* -+-+-+-+-+-+ Tabs -+-+-+-+-+-+ */
.den-tabs {
	position: relative;
	bottom: -10px;
	margin-top: -6px;
	display: block;
}
.den-tabs > li {
	float: right;
}
.den-tabs > li > a {
	padding: 8px 15px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.428571429;
	margin-left: 3px;
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
}
.den-tabs > li > a:hover, 
.den-tabs > li > a:focus {
	background-color: #7e8b8c;
}
.den-tabs > li.active > a, 
.den-tabs > li.active > a:hover, 
.den-tabs > li.active > a:focus {
	background-color: white;
	color: #252525;
	cursor: default;
	box-shadow: 0 -3px 0 rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 -3px 0 rgba(0,0,0,0.25);
}
.den-tabs > li.active > a:before, 
.den-tabs > li.active > a:after {
	position: absolute;
	content: "";
	bottom: 0;
	width: 6px;
	height: 6px;
	background-color: transparent;
	border: 1px solid transparent;
}
.den-tabs > li.active > a:before {
	left: -6px;
	border-width: 0 1px 1px 0;
	border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	box-shadow: 1px 1px 0 white;
	-webkit-box-shadow: 1px 1px 0 white;
}
.den-tabs > li.active > a:after {
	right: -6px;
	border-width: 0 0 1px 1px;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
   box-shadow: -1px 1px 0 white;
   -webkit-box-shadow: -1px 1px 0 white;
}

/* -+-+-+-+-+-+ Dropdown Options -+-+-+-+-+-+ */
.user-drop {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 8px;
	z-index: 3000;
}
.user-drop > .dropdown > .dropdown-toggle,
.user-drop > a {
	display: block;
	text-decoration: none;
	max-width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: white;
	font-size: 14px;
	line-height: 1.428571429;
	padding: 8px 15px;
	background-color: #95a5a6;
	border-radius: 0 0 0 3px;
	-webkit-border-radius: 0 0 0 3px;
}
.user-drop > a:hover, 
.user-drop > a:focus {
	color: white;
	text-decoration: none;
}
.user-drop > .dropdown > .dropdown-menu {
    left: auto;
    right: 0;
}
.user-drop .dropdown-menu > li.selected > a {
	background-color: #95a5a6;
}
/* Other Dropdown */
.dropdown.dropdown-options.open > a {
	color: #2980b9;
}
.dropdown.dropdown-options > .dropdown-menu {
    left: auto;
    right: 0;
}
.dropdown.dropdown-options >.dropdown-menu > li.selected > a {
	background-color: #95a5a6;
}

/* -+-+-+-+-+-+ Panels -+-+-+-+-+-+ */
.panel-aw {
    border-color: #ECF0F1;
}
.panel-aw > .panel-heading {
    background-color: #ECF0F1;
    border-color: #BDCCD4;
    color: #4B5155;
    font-size: 14px;
    font-weight: bold;
}

/* -+-+-+-+-+-+ Buttons -+-+-+-+-+-+ */
.btn-inst {
	color: white;
	background-color: #95a5a6;
	border-color: #7e8b8c;
}
.btn-inst:hover, .btn-inst:focus, 
.btn-inst:active, .btn-primary.active, 
.open > .dropdown-toggle.btn-inst {
	color: white;
	background-color: #7e8b8c;
	border-color: #677273;
}
.btn-inst:active, .btn-inst.active, 
.open > .dropdown-toggle.btn-inst {
	background-image: none;
}

/* -+-+-+-+-+-+ Layout Flex -+-+-+-+-+-+ */
.ufe-fieldset legend, 
.ufe-fake-legend {
	border-bottom: none;
}

/* -+-+-+-+-+-+ Ustat -+-+-+-+-+-+ */
.img-icon-ustat {
	width: 53px;
	height: 53px;
}
#flexstat .panel > .panel-heading .panel-title {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	margin: 2px 8px 2px 0;
}

/* -+-+-+-+-+-+ Social Icons -+-+-+-+-+-+ */
.social-wrap {
	display: inline-block;
	margin: 4px 0;
	cursor: default;
}
.social-wrap > .social {
	display: inline-block;
	padding: 0 5px;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	text-decoration: none;
	color: white;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	transition: box-shadow 300ms;
	-webkit-transition: box-shadow 300ms;
}
.social-wrap > .social > i {
	padding-right: 5px;
}
.social-wrap > .social.social-facebook {
	color: #3B5998;
	border-color: #3B5998;
}
.social-wrap > .social.social-twitter {
	color: #55acee;
	border-color: #55acee;
}
.social-wrap > .social.social-gplus {
	color: #dd4b39;
	border-color: #dd4b39;
}
.social-wrap > .social:hover, 
.social-wrap > .social:focus {
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}
.social-wrap > .social:active {
	background-color: transparent;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

/* -+-+-+-+-+-+ Lines -+-+-+-+-+-+ */
.line-left, .line-right {
	position: relative;
}
.line-left:before, .line-right:before {
	position: absolute;
	content: "";
	left: 0;
	height: 100%;
	width: 1px;
	background: #e1e1e1;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(0,0%,88%,0)), color-stop(50%,hsla(0,0%,88%,1)), color-stop(100%,hsla(0,0%,88%,0)));
	background: -webkit-linear-gradient(top, hsla(0,0%,88%,0) 0%,hsla(0,0%,88%,1) 50%,hsla(0,0%,88%,0) 100%);
	background: linear-gradient(to bottom, hsla(0,0%,88%,0) 0%,hsla(0,0%,88%,1) 50%,hsla(0,0%,88%,0) 100%);
}
.line-left.fat:before, .line-right.fat:before {
	width: 3px;
}

/* -+-+-+-+-+-+ Footer -+-+-+-+-+-+ */
body.aw-footer-lg {
	margin-bottom: 118px;
}
body.aw-footer-lg .aw-footer {
	height: 118px;
}
.footer-legal {
	margin: 15px 0 0;
	padding-top: 15px;
	border-top: 1px solid #dedede;
}
.footer-legal > p {
	margin-bottom: 5px;
	font-size: 10px;
	color: #7f8c8d;
}

/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
/* -+-+-+-+-+-+-+-+-+-+-+-+ MEDIA QUERUIES */
@media (max-width: 767px) {
	body.aw-footer-lg {
		margin-bottom: 260px;
	}
	body.aw-footer-lg .aw-footer {
		height: 260px;
	}
	.inst-header img {
		max-width: 100%;
	}
	.line-left:before,
	.line-right:before {
		background: none;
	}
}
@media (max-width: 480px) {
	.inst-header {
		margin-right: 35px;
	}
	.den-tabs {
		margin-top: 0;
	}
}
