		/*
  Running Squiz Matrix
  Developed by Squiz - http://www.squiz.net
  Squiz, Squiz Matrix, MySource, MySource Matrix and Squiz.net are registered Trademarks of Squiz Pty Ltd
  Page generated: 09 November 2015 15:55:40
*/


.asset-payment-method-2568{
  background:url(https://cmscdn.staticcache.org/assets/image/0009/47178/at_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2569{
  background:url(https://cmscdn.staticcache.org/assets/image/0010/47179/ca_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2570{
  background:url(https://cmscdn.staticcache.org/assets/image/0020/47180/cn-payment-methods-01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2571{
  background:url(https://cmscdn.staticcache.org/assets/image/0003/47181/cs-payment-methods-01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2572{
  background:url(https://cmscdn.staticcache.org/assets/image/0004/47182/de_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2573{
  background:url(https://cmscdn.staticcache.org/assets/image/0005/47183/el_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2574{
  /*background:url(https://cmscdn.staticcache.org/assets/image/0006/47184/en_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;*/
  width:925px;
  height:26px;
}
.asset-payment-method-2575{
  background:url(https://cmscdn.staticcache.org/assets/image/0007/47185/es_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2576{
  background:url(https://cmscdn.staticcache.org/assets/image/0008/47186/fi-payment-methods-01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2577{
  background:url(https://cmscdn.staticcache.org/assets/image/0009/47187/fr_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2578{
  background:url(https://cmscdn.staticcache.org/assets/image/0010/47188/hu-payment-methods-01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2579{
  background:url(https://cmscdn.staticcache.org/assets/image/0011/47189/ie_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2580{
  background:url(https://cmscdn.staticcache.org/assets/image/0003/47190/it_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:910px;
  height:26px;
}
.asset-payment-method-2581{
  background:url(https://cmscdn.staticcache.org/assets/image/0004/47191/ja-payment-methods-01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2582{
  background:url(https://cmscdn.staticcache.org/assets/image/0005/47192/no_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2583{
  background:url(https://cmscdn.staticcache.org/assets/image/0006/47193/pl_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2584{
  background:url(https://cmscdn.staticcache.org/assets/image/0007/47194/pt_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2585{
  background:url(https://cmscdn.staticcache.org/assets/image/0008/47195/ro-payment-methods-01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2586{
  background:url(https://cmscdn.staticcache.org/assets/image/0009/47196/ru_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2587{
  background:url(https://cmscdn.staticcache.org/assets/image/0010/47197/sl-payment-methods-01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2588{
  background:url(https://cmscdn.staticcache.org/assets/image/0011/47198/sr-payment-methods-01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2589{
  background:url(https://cmscdn.staticcache.org/assets/image/0003/47199/sv_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2590{
  background:url(https://cmscdn.staticcache.org/assets/image/0013/47200/tr_payment-methods_01.gif?v=0.0.2) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
.asset-payment-method-2591{
  background:url(https://cmscdn.staticcache.org/assets/image/0014/47201/zh_payment-methods_01.gif?v=0.0.4) no-repeat scroll 0 0 transparent;
  width:925px;
  height:26px;
}
