/*
  Running Squiz Matrix
  Developed by Squiz - http://www.squiz.net
  Squiz, Squiz Matrix, MySource, MySource Matrix and Squiz.net are registered Trademarks of Squiz Pty Ltd
  Page generated: 20 April 2015 11:54:53
*/


/*
   William Hill - Promos Site ES
   Target browsers:
   Webkit, Firefox, IE7+

   Crafted with care by JR & Squiz

    01. Global Styles
    02. Buttons Styles
    03. Overlay & Promotions Styles
    04. Header Styles
    05. Content Styles
      a. About Box Styles
    06. Footer Styles
    07. Help Styles
    08. Miscellaneous Styles
    09. IE Specific Styles

  */
/*=============================================
                01. Global Styles                
  =============================================*/
body {
  background: #00486e;
  color: #FFF;
  font: 400 14px/1.36em "Helvetica Neue", Arial, sans-serif;
}
a {
  outline: none;
  color: #00BFF3;
  text-decoration: none;
}
h1 {
  margin-bottom: 10px;
  color: #21609F;
  font: 400 17px/18px "Helvetica Neue", Arial, sans-serif;
}
h2 {
  margin-bottom: 10px;
  font: 600 14px/18px "Helvetica Neue", Arial, sans-serif;
}
h3 {
  margin-bottom: 10px;
  font: 600 12px/18px "Helvetica Neue", Arial, sans-serif;
}
p {
  margin-bottom: 1em;
  line-height: 1.618em;
}
h2:last-child,
h3:last-child,
p:last-child {
  margin-bottom: 0;
}
header,
#content,
footer {
  display: block;
  clear: both;
  margin: 0 auto;
  max-width: 995px;
  width: 995px;
}
/*-----  End of Global Styles  ------*/
/*=============================================
                02. Button Styles                
  =============================================*/.button {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  height: 19px;
  color: #FFF;
  font: normal 12px/19px "Helvetica Neue", Arial, sans-serif;
}
.button.blue {
  -moz-transition: none;
  -o-transition: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  color: #92e0fa;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: none;
  transition: none;
  background-color: #0090c3;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#49ccf6), to(#0090c3));
  /* Konqueror */

  background-image: -moz-linear-gradient(#49ccf6, #0090c3);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#49ccf6, #0090c3);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #49ccf6), color-stop(100%, #0090c3));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#49ccf6, #0090c3);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#49ccf6, #0090c3);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #49ccf6 0%, #0090c3 100%);
  /* IE10+ */

  background-image: linear-gradient(#49ccf6, #0090c3);
  /* the standard */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49ccf6', endColorstr='#0090c3', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#49ccf6', endColorstr='#0090c3', GradientType=0)";
  /* IE8+ */

}
.button.blue:hover {
  background-color: #0391c4;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#92e0fa), to(#0391c4));
  /* Konqueror */

  background-image: -moz-linear-gradient(#92e0fa, #0391c4);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#92e0fa, #0391c4);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #92e0fa), color-stop(100%, #0391c4));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#92e0fa, #0391c4);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#92e0fa, #0391c4);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #92e0fa 0%, #0391c4 100%);
  /* IE10+ */

  background-image: linear-gradient(#92e0fa, #0391c4);
  /* the standard */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92e0fa', endColorstr='#0391c4', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#92e0fa', endColorstr='#0391c4', GradientType=0)";
  /* IE8+ */

}
.button.blue:active {
  background-color: #0090c3;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#49ccf6), to(#0090c3));
  /* Konqueror */

  background-image: -moz-linear-gradient(#49ccf6, #0090c3);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#49ccf6, #0090c3);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #49ccf6), color-stop(100%, #0090c3));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#49ccf6, #0090c3);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#49ccf6, #0090c3);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #49ccf6 0%, #0090c3 100%);
  /* IE10+ */

  background-image: linear-gradient(#49ccf6, #0090c3);
  /* the standard */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49ccf6', endColorstr='#0090c3', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#49ccf6', endColorstr='#0090c3', GradientType=0)";
  /* IE8+ */

}
.button.blue:active {
  background-color: #0090c3;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#49ccf6), to(#0090c3));
  /* Konqueror */

  background-image: -moz-linear-gradient(#49ccf6, #0090c3);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#49ccf6, #0090c3);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #49ccf6), color-stop(100%, #0090c3));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#49ccf6, #0090c3);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#49ccf6, #0090c3);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #49ccf6 0%, #0090c3 100%);
  /* IE10+ */

  background-image: linear-gradient(#49ccf6, #0090c3);
  /* the standard */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49ccf6', endColorstr='#0090c3', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#49ccf6', endColorstr='#0090c3', GradientType=0)";
  /* IE8+ */

}
.button.green {
  -moz-transition: none;
  -o-transition: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  color: #cbe566;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: none;
  transition: none;
  background-color: #517300;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a9d400), to(#517300));
  /* Konqueror */

  background-image: -moz-linear-gradient(#a9d400, #517300);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#a9d400, #517300);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9d400), color-stop(100%, #517300));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#a9d400, #517300);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#a9d400, #517300);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #a9d400 0%, #517300 100%);
  /* IE10+ */

  background-image: linear-gradient(#a9d400, #517300);
  /* the standard */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9d400', endColorstr='#517300', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9d400', endColorstr='#517300', GradientType=0)";
  /* IE8+ */

}
.button.green:hover {
  background-color: #537503;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cbe566), to(#537503));
  /* Konqueror */

  background-image: -moz-linear-gradient(#cbe566, #537503);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#cbe566, #537503);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbe566), color-stop(100%, #537503));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#cbe566, #537503);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#cbe566, #537503);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #cbe566 0%, #537503 100%);
  /* IE10+ */

  background-image: linear-gradient(#cbe566, #537503);
  /* the standard */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbe566', endColorstr='#537503', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbe566', endColorstr='#537503', GradientType=0)";
  /* IE8+ */

}
.button.green:active {
  background-color: #517300;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a9d400), to(#517300));
  /* Konqueror */

  background-image: -moz-linear-gradient(#a9d400, #517300);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#a9d400, #517300);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9d400), color-stop(100%, #517300));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#a9d400, #517300);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#a9d400, #517300);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #a9d400 0%, #517300 100%);
  /* IE10+ */

  background-image: linear-gradient(#a9d400, #517300);
  /* the standard */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9d400', endColorstr='#517300', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9d400', endColorstr='#517300', GradientType=0)";
  /* IE8+ */

}
.button.green:active {
  background-color: #517300;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a9d400), to(#517300));
  /* Konqueror */

  background-image: -moz-linear-gradient(#a9d400, #517300);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#a9d400, #517300);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9d400), color-stop(100%, #517300));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#a9d400, #517300);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#a9d400, #517300);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #a9d400 0%, #517300 100%);
  /* IE10+ */

  background-image: linear-gradient(#a9d400, #517300);
  /* the standard */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9d400', endColorstr='#517300', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9d400', endColorstr='#517300', GradientType=0)";
  /* IE8+ */

}
.button input {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: #fff;
  text-shadow: inherit;
  font-size: inherit;
  cursor: pointer;
}
/*-----  End of Button Styles  ------*/


 /* ---- ##. Navigation Styles ---- */
  
  nav {
   background: #00243A;
   width: 979px;
   padding:0 8px;
   z-index: 39;
   clear: both;
   display: block;
   margin: 0 auto;
   position: relative;
  }
  nav ul#primaryMenu {
   background-color: #FFF;
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(96%, #C8E5F5), color-stop(96%, #00243A), color-stop(100%, #00243A));
   background-image: -webkit-linear-gradient(top, #FFF 0%, #C8E5F5 96%, #00243A 96%, #00243A 100%);
   background-image: -moz-linear-gradient(top, #FFF 0%, #C8E5F5 96%, #00243A 96%, #00243A 100%);
   background-image: -ms-linear-gradient(top, #FFF 0%, #C8E5F5 96%, #00243A 96%, #00243A 100%);
   background-image: -o-linear-gradient(top, #FFF 0%, #C8E5F5 96%, #00243A 96%, #00243A 100%);
   background-image: linear-gradient(top, #FFF 0%, #C8E5F5 96%, #00243A 96%, #00243A 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#1aC8E5F5', GradientType=0);
   width: 977px;
   height: 29px;
   border: 1px solid #FFF;
   border-bottom: 0;
  }
  .internet-explorer nav ul#primaryMenu {
   background-image: url("");
  }
  nav li {
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
  }
  nav ul#primaryMenu li {
   width: 9.09%;
   height: 28px;
   border-bottom: 1px solid #00243A;
   float: left;
   display: inline-block;
   text-align: center;
  }
  nav ul#primaryMenu li:hover {
   background: #FFF;
  }
  nav ul#primaryMenu li.active {
   background-color: #81888e;
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #81888e), color-stop(100%, #636c73));
   background-image: -webkit-linear-gradient(top, #81888e 0%, #636c73 100%);
   background-image: -moz-linear-gradient(top, #81888e 0%, #636c73 100%);
   background-image: -ms-linear-gradient(top, #81888e 0%, #636c73 100%);
   background-image: -o-linear-gradient(top, #81888e 0%, #636c73 100%);
   background-image: linear-gradient(top, #81888e 0%, #636c73 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81888e', endColorstr='#636c73', GradientType=0);
   border-bottom: 1px solid #636c73;
  }
  .internet-explorer nav ul#primaryMenu li.active {
   background-image: url("") top left;
  }
  nav ul#primaryMenu li.live-casino {
   width: 98px;
  }
  nav.ten-tabs ul#primaryMenu li {
   width: 97px;
  }
  nav.nine-tabs ul#primaryMenu li {
   width: 108px;
  }
  nav.eight-tabs ul#primaryMenu li {
   width: 122px;
  }
  nav.seven-tabs ul#primaryMenu li {
   width: 139px;
  }
  nav.six-tabs ul#primaryMenu li {
   width: 162px;
  }
  nav.five-tabs ul#primaryMenu li {
   width: 195px;
  }
  nav.four-tabs ul#primaryMenu li {
   width: 244px;
  }
  nav.eleven-tabs ul#primaryMenu li.last {
   width: 87px;
  }
  nav.ten-tabs ul#primaryMenu li.last {
   width: 96px;
  }
  nav.nine-tabs ul#primaryMenu li.last {
   width: 107px;
  }
  nav.eight-tabs ul#primaryMenu li.last {
   width: 121px;
  }
  nav.seven-tabs ul#primaryMenu li.last {
   width: 138px;
  }
  nav.six-tabs ul#primaryMenu li.last {
   width: 161px;
  }
  nav.five-tabs ul#primaryMenu li.last {
   width: 194px;
  }
  nav.four-tabs ul#primaryMenu li.last {
   width: 243px;
  }
  nav.el ul#primaryMenu li {
   width: 101px !important;
  }
  nav.el ul#primaryMenu li.live-casino {
   width: 141px !important;
  }
  nav.el ul#primaryMenu li.last {
   width: 129px !important;
  }
  nav ul li a {
   color: #002F4A;
   width: auto;
   height: 28px;
   display: block;
   font-size: 13px;
   font-weight: 700;
   line-height: 25px;
  }
  nav ul#primaryMenu li a {
   border-right: 1px solid #00243A;
  }
  nav ul#primaryMenu li.last a {
   border-right: 0;
  }
  nav ul#primaryMenu li.active a {
   color: #FFF;
   text-shadow: 0 1px 1px rgba(0,0,0,.2);
  }
  
  ul#primaryMenu.tabs11 li {
   width: 89px;
  }
  ul#primaryMenu.tabs10 li {
   width: 97px;
  }
  ul#primaryMenu.tabs9 li {
   width: 108px;
  }
  ul#primaryMenu.tabs8 li {
   width: 122px;
  }
  ul#primaryMenu.tabs7 li {
   width: 139px;
  }
  ul#primaryMenu.tabs6 li {
   width: 162px;
  }
  ul#primaryMenu.tabs5 li {
   width: 195px;
  }
  ul#primaryMenu.tabs4 li {
   width: 244px;
  }
  
  ul#primaryMenu.tabs11 li.last {
   width: 87px;
  }
  ul#primaryMenu.tabs10 li.last {
   width: 96px;
  }
  ul#primaryMenu.tabs9 li.last {
   width: 107px;
  }
  ul#primaryMenu.tabs8 li.last {
   width: 121px;
  }
  ul#primaryMenu.tabs7 li.last {
   width: 138px;
  }
  ul#primaryMenu.tabs6 li.last {
   width: 161px;
  }
  ul#primaryMenu.tabs5 li.last {
   width: 194px;
  }
  ul#primaryMenu.tabs4 li.last {
   width: 243px;
  } 

 /* ---- ##. END Navigation Styles ---- */


/*=============================================
          03. Overlay & Promotions Styles
  =============================================*/.overlay {
  position: fixed;
  z-index: 998;
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
}
.overlay .container {
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 999;
  margin-left: -238px;
  padding: 80px 30px 0;
  width: 415px;
  height: 145px;
  background: url("https://cmscdn.staticcache.org/assets/image/0020/244037/bg-overlay-container.jpg?v=0.1.1");
}
.overlay .container p {
  margin-bottom: 26px;
  text-align: center;
  font-size: 14px;
  line-height: 1.3em;
}
.overlay .container a {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 200px;
  height: 37px;
  border: 1px solid #999;
  border-radius: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  font-size: 23px;
  line-height: 35px;
}
#modalOverlay_dimmer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100500;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0.75;
  filter: alpha(opacity=75);
  -moz-opacity: .75;
  -khtml-opacity: 0.75;
}
#modalDimmer {
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
  background-color: #000;
  opacity: 0.6;
}
.modalPopup3 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100019;
  display: none;
  margin: -40px 0 0 -163px;
  width: 326px;
  height: 80px;
  color: #333;
  text-align: center;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 16px;
}
#popupTop {
  z-index: 100019;
  overflow: hidden;
  height: 8px;
  background-image: url(https://cmscdn.staticcache.org/assets/image/0019/37810/transparent-popup-top.png?v=0.1.3);
}
#popupMain {
  overflow: hidden;
  margin: auto;
  padding: 10px;
  background-color: transparent;
  background-image: url(https://cmscdn.staticcache.org/assets/image/0009/37809/transparent-popup-bg.png?v=0.1.3);
  background-position: 0 100%;
  background-repeat: no-repeat no-repeat;
  font-size: 12px;
  line-height: 16px;
}
.popupTitle {
  color: #002b48;
  font-weight: bold;
  font-size: 17px;
}
.modalButtons {
  margin: 15px 0 0;
  padding: 0;
  text-align: center;
}
.popupBtn {
  display: inline-block;
  margin: 0 2px;
  padding: 0;
  width: 85px;
  height: 19px;
  background-color: transparent;
  background-image: url(https://cmscdn.staticcache.org/assets/image/0008/37808/popupBtn.png?v=0.1.3);
  background-position: 50% 0;
  background-repeat: no-repeat no-repeat;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#modalOverlay_content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100501;
  display: none;
  margin: -275px 0 0 -499px;
  width: 998px;
  height: 550px;
  background-color: transparent;
}
@media all and (max-width: 998px){
  #modalOverlay_content {
    top: 20%;
    left: 0;
    margin: 0;
  }
}
#topbonusbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100502;
  display: none;
  padding: 15px 0;
  min-height: 20px;
  width: 100%;
  border-bottom: solid #5E7B27 1px;
  background: #466C03;
  background: -moz-linear-gradient(top, #aeda37 0%, #466c03 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aeda37), color-stop(100%, #466c03));
  background: -webkit-linear-gradient(top, #aeda37 0%, #466c03 100%);
  background: -o-linear-gradient(top, #aeda37 0%, #466c03 100%);
  background: -ms-linear-gradient(top, #aeda37 0%, #466c03 100%);
  background: linear-gradient(to bottom, #aeda37 0%, #466c03 100%);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15), 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15), 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15), 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  color: #FFF;
  text-align: center;
  text-shadow: 0px -1px 1px #6e9a00;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#aeda37, endColorstr=#466c03)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#aeda37, endColorstr=#466c03);
}
/*-----  End of Section Overlay & Promotions Styles  ------*/
/*=============================================
                04. Header Styles                
  =============================================*/header {
  position: relative;
  padding: 0 7px 0 2px;
  max-width: 986px;
  height: 88px;
  background-color: #002539;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#003857), to(#002539));
  /* Konqueror */

  background-image: -moz-linear-gradient(#003857, #002539);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#003857, #002539);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #003857), color-stop(100%, #002539));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#003857, #002539);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#003857, #002539);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(top, #003857 0%, #002539 100%);
  /* IE10+ */

  background-image: linear-gradient(#003857, #002539);
  /* the standard */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003857', endColorstr='#002539', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#003857', endColorstr='#002539', GradientType=0)";
  /* IE8+ */

}
#logo {
  display: block;
  float: left;
  margin: 10px 0 0 3px;
  width: 201px;
  height: 77px;
  background: url("https://cmscdn.staticcache.org/assets/image/0005/191795/logo-es.png?v=0.2.1?v=0.01");
}
#info-area {
  float: right;
  margin-top: 10px;
  margin-right: 6px;
  width: 660px;
  height: 29px;
  text-align: right;
  font-size: 11px;
  line-height: 12px;
}
#info-area a.help {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 12px;
  color: #FFF;
  vertical-align: 8px;
  text-decoration: underline;
  font-size: 12px;
}
#info-area .additional-login-info {
  display: inline-block;
  margin: 5px 8px 0 0;
  border-right: 1px solid #1C688A;
  vertical-align: top;
}
#info-area .additional-login-info span {
  padding: 0 8px 0 0;
  border-right: 1px solid black;
  color: #eee;
  font-size: 10px;
}
#help-text {
  margin-top: 5px;
}
#help-text .help {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 12px;
  color: white;
  vertical-align: 8px;
  text-decoration: underline;
  font-size: 12px;
}
#help-text span {
  margin-right: 10px;
  color: #196A91;
  vertical-align: 8px;
}
#join {
  position: absolute;
  top: 38px;
  right: 0;
  z-index: 2;
  padding: 3px 7px 3px 0;
  width: 782px;
  height: 23px;
  text-align: right;
  background-color: #00486e;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, right top, from(#002e48), to(#00486e));
  /* Konqueror */

  background-image: -moz-linear-gradient(left, #002e48, #00486e);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(left, #002e48, #00486e);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #002e48), color-stop(100%, #00486e));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(left, #002e48, #00486e);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(left, #002e48, #00486e);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(left, #002e48 0%, #00486e 100%);
  /* IE10+ */

  background-image: linear-gradient(left, #002e48, #00486e);
  /* the standard */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002e48', endColorstr='#00486e', GradientType=1);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#002e48', endColorstr='#00486e', GradientType=1)";
  /* IE8+ */

}
#join a {
  display: inline-block;
  margin-top: 4px;
}
.ie7 .it #info-area .additional-login-info {
  display: inline;
}
.it #info-area .additional-login-info span a {
  color: #EEEEEE;
}
.ie7 .it #help-text {
  display: inline;
}
#login-section {
  float: right;
  padding: 3px 7px 3px 0;
  width: 750px;
  height: 23px;
  text-align: right;
  background-color: #00486e;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, right top, from(#002e48), to(#00486e));
  /* Konqueror */

  background-image: -moz-linear-gradient(left, #002e48, #00486e);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(left, #002e48, #00486e);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #002e48), color-stop(100%, #00486e));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(left, #002e48, #00486e);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(left, #002e48, #00486e);
  /* Opera 11.10 */

  background-image: -ms-linear-gradient(left, #002e48 0%, #00486e 100%);
  /* IE10+ */

  background-image: linear-gradient(left, #002e48, #00486e);
  /* the standard */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002e48', endColorstr='#00486e', GradientType=1);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#002e48', endColorstr='#00486e', GradientType=1)";
  /* IE8+ */

}
#login-section a {
  margin-left: 5px;
  color: white;
  text-decoration: underline;
  font-size: 12px;
  line-height: 21px;
}
#login-section a.js-join-now {
  text-decoration: none;
}
#login-section input[type="text"],
#login-section input[type="password"] {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin-left: 5px;
  padding: 2px;
  width: 90px;
  height: 15px;
  border: 1px solid black;
  color: #7B7B7B;
  font-size: 11px;
  line-height: 15px;
}
#login-section .button {
  margin-top: 0px;
  min-width: 62px;
}
#signinLoader {
  display: none;
  float: right;
  padding-top: 4px;
  width: 600px;
  color: #93c227;
  font-weight: bold;
  font-size: 1.1em;
}
#signinLoader img {
  float: right;
}
#signinLoader div {
  float: right;
  margin-right: 10px;
}
#signinDetails {
  line-height: 23px;
}
#signinDetails li {
  display: inline;
  float: right;
  height: 23px;
  text-align: left;
}
#signinDetails .userName {
  margin-right: 10px;
  color: white;
  font-size: 0.9em;
}
#signinDetails .userName span,
#signinDetails .userName p {
  display: inline;
  margin-left: 3px;
}
#signinDetails .userHighlight {
  margin-right: 10px;
  padding: 1px 5px;
  height: 19px;
  border: 1px solid #1F5876;
  border-radius: 3px;
  background: #003253;
  font-size: 0.9em;
  line-height: 19px;
}
#signinDetails .userHighlight a {
  margin-right: 5px;
  color: #7DDDFF;
}
#signinDetails .userHighlight p {
  display: inline;
  color: white;
}
#signinDetails .userHighlight .mainBalance,
#signinDetails .userHighlight .userBalance {
  display: inline;
  color: #7DDDFF;
}
#signinDetails .messages a {
  padding-right: 35px;
  background: url(https://cmscdn.staticcache.org/assets/image/0008/36890/icon-envelope.png?v=0.1.1) center center no-repeat;
  color: #7DDDFF;
  text-decoration: underline;
}
#signinDetails .deposit a:hover {
  text-decoration: none;
}
#signinDetails .userHighlight > a:hover {
  text-decoration: none;
}
#obDepositLabel {
  color: #7DDDFF;
  cursor: pointer;
}
/*-----  End of Header Styles  ------*/
/*=============================================
              05. Content Styles                
  =============================================*/#content {
  padding: 4px 0;
  max-width: 995px;
  background: #001B2C;
}
#primary,
#sections {
  display: block;
  clear: both;
  margin: 11px 0px;
  width: 985px;
  height: 301px;
}
#primary {
  position: relative;
}
#primary img {
  float: right;
}
#primary .primary {
  float: left;
  overflow: hidden;
  padding: 3px 3px 2px;
  width: 686px;
  height: 294px;
  border: 1px solid #12426C;
}
#primary .primary img {
  float: none;
  width: 686px;
  height: auto;
}
#primary .register {
  position: absolute;
  right: 44px;
  bottom: 24px;
  width: 190px;
  height: 38px;
  background-color: green;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
}
#primary .big {
  position: absolute;
  top: 115px;
  left: 27px;
  padding: 6px 45px;
  font-weight: bold;
  font-size: 15px;
}
#sections {
  overflow: hidden;
  margin: 10px 0px;
  width: 985px;
  height: 214px;
}
#sections li {
  display: inline-block;
  float: left;
  margin: 0 6px 12px;
  width: 316px;
  height: 99px;
}
#content ul#sections.new li {
    width: 980px;
    height: 127px;
    margin: 0 6px 4px;
    padding: 1px;
    border: 1px solid #12426C;
}

#content ul#sections.new {
    width: 991px;
    height: auto;
    margin: 0 2px;
    display: block;
    clear: both;
}
#content ul#sections.new li {
    width: 320px;
    margin: 3px 2px 4px 4px;
    float: left;
    display: inline-block;
    position: relative;
}
#content ul#sections.new li h3 {
    background-color: #043556;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #043556), color-stop(100%, #021a2d));
    background-image: -webkit-linear-gradient(top, #043556 0%, #021a2d 100%);
    background-image:    -moz-linear-gradient(top, #043556 0%, #021a2d 100%);
    background-image:     -ms-linear-gradient(top, #043556 0%, #021a2d 100%);
    background-image:      -o-linear-gradient(top, #043556 0%, #021a2d 100%);
    background-image:         linear-gradient(top, #043556 0%, #021a2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00043556', endColorstr='#1a021a2d', GradientType=0);
    color: #FFF;
    width: auto;
    height: 28px;
    margin: 0;
    padding: 0 7px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
}
#content ul#sections.new li img {
    width: auto;
    height: auto;
    max-height: 100px;
    display: block;
}
#content ul#sections.new li p {
    color: #FFF;
    width: 240px;
    position: absolute;
    top: 50px;
    left: 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2em;
}
#content ul#sections.new li a.button {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 600;
    color: white !important;
}

/* Added by JR 17-10-13 to prevent paragraphs to break home buttons */
#content ul#sections.new a.button  p {
    top: 0px;
    position: relative;
    left: 0px;
    width: auto;
    margin: 0;
    font-size: 12px;
    line-height: 19px;
}

#content ul#sections.new li a.app-store {
    background: url("");
    width: 127px;
    height: 46px;
    display: block;
    position: absolute;
    right: 7px;
    bottom: 7px;
}
#wrapper .not-found {
  width: 984px;
  margin: 0 auto;
}
#wrapper .banner {
  position: relative;
  margin: 0 auto;
  width: 974px;
}
#wrapper .banner img {
  width: 974px;
}
#wrapper .banner a {
  position: absolute;
  display: block;
  background-image: url(about:blank);
}
#wrapper .banner a.bottom-left {
  bottom: 85px;
  left: 95px;
  width: 235px;
  height: 55px;
}
#wrapper .banner a.bottom-right {
  right: 18px;
  bottom: 125px;
  width: 248px;
  height: 65px;
}
#wrapper .banner a.center {
  top: 175px;
  left: 365px;
  width: 245px;
  height: 80px;
}
#wrapper .content {
  margin: 0 auto;
  width: 985px;
}
#wrapper .secondary-banners {
  margin-top: 12px;
}
#wrapper .secondary-banners:before,
#wrapper .secondary-banners:after {
  content: "";
  display: table;
}
#wrapper .secondary-banners:after {
  clear: both;
}
.ie6 #wrapper .secondary-banners,
.ie7 #wrapper .secondary-banners {
  zoom: 1;
}
#wrapper .secondary-banners li {
  float: left;
  margin-left: 13px;
}
#wrapper .secondary-banners li:first-child {
  margin-left: 0px;
}
#wrapper #sections {
  height: auto;
}
.banner-additional-button {
  position: absolute;
  top: 110px;
  right: 10px;
  width: 126px;
  height: 46px;
}
.banner-span {
  position: absolute;
  top: 47px;
  left: 19px;
  padding: 1px 8px;
  color: #FFFFFF;
  text-indent: 0;
  text-transform: uppercase;
  text-shadow: 0 0 10px #000000;
  font-size: 1.9em;
}
.banner-span-description {
  position: absolute;
  top: 73px;
  left: 19px;
  padding: 1px 8px;
  color: #FFFFFF;
  text-shadow: 0 0 10px #000000;
  font-weight: bold;
}
/* ---- a. About Box Styles ---- */
#content span.about {
  display: inline-block;
  clear: both;
  cursor:pointer;
  margin: 0 0 4px 6px;
  padding-left: 20px;
  background-position: 0 0;
  color: #00BFF3;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  transition: none;
  background: url(https://cmscdn.staticcache.org/assets/image/0005/239162/expand-close.png?v=0.1.1) no-repeat;
}
#content span.about.expanded {
  background-position: 0 -15px;
  transition: none;
  background-image: url(https://cmscdn.staticcache.org/assets/image/0005/239162/expand-close.png?v=0.1.1);
}
#about {
  display: none;
  clear: both;
  margin: 0 6px;
  padding: 25px 10px 15px;
  width: auto;
  background: #FFF;
  color: #000;
}
#about.expanded {
  display: block;
}
#about p {
  font-size: 11px;
}
#about p a {
  color: #70B402;
  text-decoration: underline;
}
#about ul {
  margin-bottom: 11px;
  font-size: 11px;
}
/*-----  End of About Box   ------*/
/*=============================================
              06. Footer Styles                
  =============================================*/
footer {
  padding: 7px 0 50px;
  font-size: 10px;
  line-height: 12px;
}
footer a {
  text-decoration: underline;
}
footer p {
  clear: both;
  font-size: 11px;
}
footer .footer-legal-divider {
  margin: 0 5px;
  border-right: 1px solid #fff;
  font-size: 8px;
}
#copyright,
#more-info {
  display: inline-block;
  float: left;
  margin-left: 7px;
}
#more-info {
  clear: both;
  margin: 0 0 20px;
  padding: 0 15px;
  width: 965px;
  height: auto;
  background: #002134;
}
#more-info li {
  display: inline-block;
  float: left;
  margin-right: 15px;
  padding-top: 10px;
  width: 226px;
  height: 44px;
  font-size: 11px;
}
#more-info li a {
  display: block;
  color: #FFF;
  text-decoration: underline;
  font-weight: 600;
}
#more-info li p {
  margin-bottom: 0;
}
#more-info li img {
    float: right;
    margin-top: -30px;
}
.it #more-info li img {
    float: right;
    margin-top: -39px;
}
#copyright a {
  color: #70B402;
}
#legal,
#payments {
  display: inline-block;
  clear: right;
  margin-right: 7px;
}
#legal {
  float: right;
  word-spacing: 4px;
}
#legal a {
  color: #70B402;
  text-decoration: underline;
  word-spacing: 0px;
}
#legal li {
  display: inline;
}
#payments {
  margin: 15px 0 20px;
  width: 995px;
  height: 26px;
}
#payments a {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  height: 26px;
}
#payments a img {
  display: block;
}
#responsible-gaming {
  float: left;
}
#responsible-gaming p {
  float: left;
  line-height: 36px;
}
#footer-images {
  float: left;
  vertical-align: bottom;
}
#footer-images li {
  display: inline-block;
  float: left;
  margin-left: 8px;
}
#footer-faqs {
  clear: both;
}
/*-----  End of Footer Styles  ------*/
/*=============================================
                  07. Help Styles                      
  =============================================*/
#helpWindow {
  width: 996px;
  height: 546px;
  margin: -128px 0 0 -498px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: hidden;
  z-index: 99999;
}
/*** HELP WINDOW CORNERS ***/
#helpWindow_hdrTL,
#helpWindow_hdrTR,
#helpWindow_ftrBL,
#helpWindow_ftrBR {
  float: left;
  overflow: hidden;
}
#helpWindow_hdrTL,
#helpWindow_hdrTR {
  width: 14px;
  height: 28px;
}
#helpWindow_ftrBL,
#helpWindow_ftrBR {
  width: 14px;
  height: 14px;
}
#helpWindow_hdrTL {
  background: url("http://whdn.williamhill.com/cms/images/rightNow/popupEdgeSprites.png") no-repeat scroll 0px 0px transparent;
}
#helpWindow_hdrTR {
  background: url("http://whdn.williamhill.com/cms/images/rightNow/popupEdgeSprites.png") no-repeat scroll -14px 0px transparent;
}
#helpWindow_ftrBL {
  background: url("http://whdn.williamhill.com/cms/images/rightNow/popupEdgeSprites.png") no-repeat scroll 0px -28px transparent;
  clear: left;
}
#helpWindow_ftrBR {
  background: url("http://whdn.williamhill.com/cms/images/rightNow/popupEdgeSprites.png") no-repeat scroll -14px -28px transparent;
}
#helpWindow.selected_option_b #helpWindow_ftrBR,
#helpWindow.selected_option_d #helpWindow_ftrBR {
  background-position: -28px -28px;
}
#helpWindow.selected_option_a #helpWindow_ftrBR,
#helpWindow.selected_option_c #helpWindow_ftrBR,
#helpWindow.selected_option_e #helpWindow_ftrBR {
  background-position: -14px -28px;
}
#helpWindow.selected_option_e #helpWindow_ftrBL {
  background-position: -28px -14px;
}
/*** HELP WINDOW EDGES ***/
#helpWindow_hdr,
#helpWindow_ftr,
#helpWindow_ftrExtsn {
  float: left;
  overflow: hidden;
}
#helpWindow_hdr {
  background: url("http://whdn.williamhill.com/cms/images/rightNow/repeatingSprites.png") repeat-x scroll 0px 0px transparent;
  width: 968px;
  height: 28px;
  cursor: move;
}
#helpWindow_ftr {
  background: url("http://whdn.williamhill.com/cms/images/rightNow/repeatingSprites.png") repeat-x scroll 0px -42px transparent;
  width: 745px;
  height: 14px;
}
#helpWindow_ftrExtsn {
  background: url("http://whdn.williamhill.com/cms/images/rightNow/repeatingSprites.png") repeat-x scroll 0px -28px transparent;
  width: 223px;
  height: 14px;
}
#helpWindow.selected_option_e #helpWindow_ftrExtsn {
  background-position: -7px -28px;
}

#helpWindow {
    width: 996px;
    height: 546px;
    margin: -273px 0 0 -498px;
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    overflow: hidden;
    z-index: 99999;
}
#helpWindow_hdrTL, #helpWindow_hdrTR, #helpWindow_ftrBL, #helpWindow_ftrBR {
    float: left;
    overflow: hidden;
}
#helpWindow_hdrTL, #helpWindow_hdrTR {
    width: 14px;
    height: 28px;
}
#helpWindow_ftrBL, #helpWindow_ftrBR {
    width: 14px;
    height: 14px;
}
#helpWindow_hdrTL {
    background: url("https://cmscdn.staticcache.org/assets/image/0011/177617/popupEdgeSprites.png?v=0.1.3") no-repeat scroll 0 0 transparent;
}
#helpWindow_hdrTR {
    background: url("https://cmscdn.staticcache.org/assets/image/0011/177617/popupEdgeSprites.png?v=0.1.3") no-repeat scroll -14px 0 transparent;
}
#helpWindow_ftrBL {
    background: url("https://cmscdn.staticcache.org/assets/image/0011/177617/popupEdgeSprites.png?v=0.1.3") no-repeat scroll 0 -28px transparent;
    clear: left;
}
#helpWindow_ftrBR {
    background: url("https://cmscdn.staticcache.org/assets/image/0011/177617/popupEdgeSprites.png?v=0.1.3") no-repeat scroll -14px -28px transparent;
}
#helpWindow.selected_option_b #helpWindow_ftrBR, #helpWindow.selected_option_d #helpWindow_ftrBR {
    background-position: -28px -28px;
}
#helpWindow.selected_option_a #helpWindow_ftrBR, #helpWindow.selected_option_c #helpWindow_ftrBR, #helpWindow.selected_option_e #helpWindow_ftrBR {
    background-position: -14px -28px;
}
#helpWindow.selected_option_e #helpWindow_ftrBL {
    background-position: -28px -14px;
}
#helpWindow_hdr, #helpWindow_ftr, #helpWindow_ftrExtsn {
    float: left;
    overflow: hidden;
}
#helpWindow_hdr {
    background: url("https://cmscdn.staticcache.org/assets/image/0010/195886/popupBarSprites.png?v=0.1.3") repeat-x;
    width: 968px;
    height: 28px;
    cursor: move;
}
#helpWindow_ftr {
    background: url("https://cmscdn.staticcache.org/assets/image/0010/195886/popupBarSprites.png?v=0.1.3") repeat-x 0 -28px;
    width: 745px;
    height: 14px;
}
#helpWindow_ftrExtsn {
    background: url("https://cmscdn.staticcache.org/assets/image/0010/195886/popupBarSprites.png?v=0.1.3") repeat-x 0 -42px;
    width: 223px;
    height: 14px;
}
#helpWindow.selected_option_e #helpWindow_ftrExtsn {
    background-position: -7px -28px;
}
#helpWindow_content {
    background: url("https://cmscdn.staticcache.org/assets/image/0007/177613/helpWindow_bg.png?v=0.1.4") repeat scroll 0 0 transparent;
    width: 990px;
    height: 504px;
    padding: 0 3px;
    float: left;
    overflow: hidden;
}
#helpWindow_vwCtrl_outer {
    background: url("https://cmscdn.staticcache.org/assets/image/0005/177620/viewControlSprites.png?v=0.1.6") repeat-x scroll 0 2px #D7D7DB;
    height: 22px;
    border-top: 1px solid #AAAEB6;
    clear: right;
}
#helpWindow_vwCtrl_inner {
    height: 20px;
    margin-left: 1px;
    border-top: 1px solid #FFFFFF;
}
#helpWindow_vwCtrl, #helpWindow_vwCtrlExtsn {
    height: 20px;
    border-bottom: 1px solid #AAAEB6;
    float: left;
    overflow: hidden;
}
#helpWindow_vwCtrl {
    width: 754px;
}
#helpWindow_vwCtrlExtsn {
    background: url("https://cmscdn.staticcache.org/assets/image/0005/177620/viewControlSprites.png?v=0.1.6") repeat-x scroll 0 -20px transparent;
    width: 235px;
}
#helpWindow_vwCtrl ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#helpWindow_vwCtrl ul li {
    background: url("https://cmscdn.staticcache.org/assets/image/0006/177621/viewOptionDivider.png?v=0.1.4") no-repeat scroll right bottom transparent;
    height: 20px;
    padding: 0 1px;
    float: left;
    clear: none;
}
.helpWindow_vwCtrl_option_a span, .helpWindow_vwCtrl_option_b span, .helpWindow_vwCtrl_option_c span, .helpWindow_vwCtrl_option_d span, .helpWindow_vwCtrl_option_e span {
    height: 20px;
    display: block;
    cursor: pointer;
}
.helpWindow_vwCtrl_option_a span {
    background: url("https://cmscdn.staticcache.org/assets/image/0009/177624/viewOptionsSprite.png?v=0.1.11") no-repeat scroll -1px -20px transparent;
    width: 35px;
}
.helpWindow_vwCtrl_option_a span.vwCtrl_option_active {
    background: url("https://cmscdn.staticcache.org/assets/image/0009/177624/viewOptionsSprite.png?v=0.1.11") no-repeat scroll -1px 0 transparent;
    width: 35px;
}
.helpWindow_vwCtrl_option_b span {
    background: url("https://cmscdn.staticcache.org/assets/image/0009/177624/viewOptionsSprite.png?v=0.1.11") no-repeat scroll -36px -20px transparent;
    width: 37px;
}
.helpWindow_vwCtrl_option_b span.vwCtrl_option_active {
    background: url("https://cmscdn.staticcache.org/assets/image/0009/177624/viewOptionsSprite.png?v=0.1.11") no-repeat scroll -36px 0 transparent;
    width: 37px;
}
.helpWindow_vwCtrl_option_c span {
    background: url("https://cmscdn.staticcache.org/assets/image/0009/177624/viewOptionsSprite.png?v=0.1.11") no-repeat scroll -74px -20px transparent;
    width: 28px;
}
.helpWindow_vwCtrl_option_c span.vwCtrl_option_active {
    background: url("https://cmscdn.staticcache.org/assets/image/0009/177624/viewOptionsSprite.png?v=0.1.11") no-repeat scroll -74px 0 transparent;
    width: 28px;
}
.helpWindow_vwCtrl_option_d span {
    background: url("https://cmscdn.staticcache.org/assets/image/0009/177624/viewOptionsSprite.png?v=0.1.11") no-repeat scroll -101px -20px transparent;
    width: 30px;
}
.helpWindow_vwCtrl_option_d span.vwCtrl_option_active {
    background: url("https://cmscdn.staticcache.org/assets/image/0009/177624/viewOptionsSprite.png?v=0.1.11") no-repeat scroll -101px 0 transparent;
    width: 30px;
}
.helpWindow_vwCtrl_option_e span {
    background: url("https://cmscdn.staticcache.org/assets/image/0009/177624/viewOptionsSprite.png?v=0.1.11") no-repeat scroll -133px -20px transparent;
    width: 36px;
}
.helpWindow_vwCtrl_option_e span.vwCtrl_option_active {
    background: url("https://cmscdn.staticcache.org/assets/image/0009/177624/viewOptionsSprite.png?v=0.1.11") no-repeat scroll -133px 0 transparent;
    width: 36px;
}
#helpWindow_vwCtrl ul li.helpWindow_vwCtrl_title {
    color: #6A6C76;
    padding: 0 6px 0 11px;
    font: 11px/20px Arial;
}
#helpWindow_mainFrame {
    background: url("https://cmscdn.staticcache.org/assets/image/0010/177616/loading.gif?v=0.2.3") no-repeat scroll center center #FFFFFF;
    width: 988px;
    height: 481px;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    float: left;
    clear: left;
}
#helpWindow_subFrame {
    background: url("https://cmscdn.staticcache.org/assets/image/0004/177619/subFrame_bg.jpg?v=0.1.4") repeat-y scroll left top #F2F2F2;
    width: 233px;
    height: 481px;
    border-left: 1px solid #AAAEB6;
    float: left;
}
#helpWindow.selected_option_e #helpWindow_mainFrame, #helpWindow.selected_option_e #helpWindow_subFrame {
    background-image: none;
    border: 0 none;
}
#helpWindow #helpWindow_mainFrame iframe, #helpWindow #helpWindow_subFrame iframe {
    background-color: transparent;
    width: 100%;
    height: 100%;
}
#iframe_subFrame {
    background: url("https://cmscdn.staticcache.org/assets/image/0010/177616/loading.gif?v=0.2.3") no-repeat scroll center center transparent;
}
#helpWindow_hdr span.helpWindow_title, #helpWindow_hdr span.helpWindow_close, #helpWindow_hdr span.helpWindow_detach {
    color: #244E64;
    position: relative;
    top: 9px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
#helpWindow_hdr span.helpWindow_close, #helpWindow_hdr span.helpWindow_detach {
    float: right;
}
#helpWindow_hdr span.helpWindow_close a, #helpWindow_hdr span.helpWindow_detach a {
    color: #244E64;
    padding: 0 20px 0 14px;
    text-decoration: none;
}
#helpWindow_hdr span.helpWindow_close a {
    //background: url("https://cmscdn.staticcache.org/assets/image/0006/177612/closeDetach.png?v=0.1.7") no-repeat scroll 48px 1px transparent;
    cursor:pointer;
    border-left: 1px solid #FFFFFF;
}
#helpWindow_hdr span.helpWindow_detach a {
    //background: url("https://cmscdn.staticcache.org/assets/image/0006/177612/closeDetach.png?v=0.1.7") no-repeat scroll 57px -15px transparent;
    cursor:pointer;
    border-right: 1px solid #AAAEB6;
}
/*-----         End of Help Styles     ------*/
/*=============================================
              08. Miscellaneous Styles                
  =============================================*/
.clear {
  clear: both;
  height: 0;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.hidden {
  display: none;
}
.center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.bold,
.strong,
strong {
  font-weight: 600;
}
.italic,
.em,
em {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.margin-top {
  margin-top: 10px;
}
.margin-bottom {
  margin-bottom: 10px;
}
.no-bg {
  background-color: none;
  background-image: none;
}
.no-text {
  color: transparent;
  font: 0/0 a;
  /* font-size, line-height, font-family set to zero/null */

}
.hide {
  display: none;
}
.pointer {
  cursor: pointer;
}
/*-----  End of Miscellaneous Styles  ------*/
/*=============================================
              09. IE Specific Styles                
  =============================================*/
.internet-explorer .button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-right: 4px;
  padding-right: 0;
}
.internet-explorer .button span {
  position: absolute;
  top: 0;
  left: 100%;
  width: 4px;
  height: 100%;
}
.internet-explorer .button.blue {
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') left -57px;
}
.internet-explorer .button.blue span {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -4px;
  width: 12px;
  height: 100%;
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') right -57px;
}
.internet-explorer .button.blue:hover {
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') left -76px;
}
.internet-explorer .button.blue:hover span {
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') right -76px;
}
.internet-explorer .button.blue:active {
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') left -57px;
}
.internet-explorer .button.blue:active span {
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') right -57px;
}
.internet-explorer .button.blue span {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -4px;
  width: 12px;
  height: 100%;
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') right -57px;
}
.internet-explorer .button.blue:active {
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') left -57px;
}
.internet-explorer .button.blue:active span {
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') right -57px;
}
.internet-explorer .button.green {
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') left 0;
}
.internet-explorer .button.green span {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -4px;
  width: 12px;
  height: 100%;
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') right 0;
}
.internet-explorer .button.green:hover {
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') left -19px;
}
.internet-explorer .button.green:hover span {
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') right -19px;
}
.internet-explorer .button.green:active {
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') left 0;
}
.internet-explorer .button.green:active span {
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') right 0;
}
.internet-explorer .button.green span {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -4px;
  width: 12px;
  height: 100%;
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') right 0;
}
.internet-explorer .button.green:active {
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') left 0;
}
.internet-explorer .button.green:active span {
  background: url('https://cmscdn.staticcache.org/assets/image/0011/191792/button-sprites.png?v=0.2.1?v=0.01') right 0;
}
.internet-explorer .overlay {
  background: url('');
}
.internet-explorer .overlay .container a {
  height: 40px;
  border: 0;
  background: url("https://cmscdn.staticcache.org/assets/image/0003/36885/bg-overlay-button.png?v=0.1.1");
  line-height: 38px;
}
.internet-explorer #primary .register {
  background: #69CCF5;
  filter: alpha(opacity=0);
}
/*=============================================
              09. Maintenance Pages                
  =============================================*/
#maintenanceContent{
    background: url(https://cmscdn.staticcache.org/assets/image/0003/204951/background_block.jpg?v=0.1.1);
    width: 985px;
    border: 1px solid black;
    height: 438px;
    margin: 0 auto;
}
#maintenanceContent .right{
    width: 45%;
    margin-top: 80px;
    font-weight: bold;
}
#maintenanceContent h2{
    color: #f6d500;
    font-size: 20px;
}
#maintenanceContent h2,#maintenanceContent span{
    color: #f6d500;
}
#maintenanceContent img{
    display: block;
    margin: 0 auto;
}