/*
  Running Squiz Matrix
  Developed by Squiz - http://www.squiz.net
  Squiz, Squiz Matrix, MySource, MySource Matrix and Squiz.net are registered Trademarks of Squiz Pty Ltd
  Page generated: 17 April 2015 11:13:28
*/


/*
    William Hill ES - IT
    Target browsers: Webkit, Firefox, IE7+
    Asset: 291401
*/
.hide {
  display: none !important;
}

body {
  background: url(https://cmscdn.staticcache.org/assets/image/0016/300067/bodyBG.png?v=0.1.1) repeat-x #000c2c;
}
body.it #logo {
  background: url(https://cmscdn.staticcache.org/assets/image/0003/311853/logo.png?v=0.1.1) no-repeat;
  height: 38px;
  margin: 25px 0 0 3px;
}
body.it header {
  top: 55px;
}
body.it header #login-section .button {
  text-decoration: none;
}

header {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}

#header_wrapper {
  height: 88px;
  margin: 0 auto;
  width: 995px;
  position: relative;
}

#xtra-header-it {
  max-width: 995px;
  margin: 0 auto;
  color: white;
  text-align: center;
  position: relative;
  height: 55px;
  font-size: 12px;
}
#xtra-header-it p {
  line-height: 50px;
}
#xtra-header-it a {
  color: white;
  text-decoration: underline;
}
#xtra-header-it img {
  position: absolute;
  top: 10px;
  right: 5px;
}

#xtra-header-it-cc {
  position: absolute;
  top: 66px;
  right: 75px;
  z-index: 10;
}

nav {
  width: 100%;
  border-top: 1px solid #3a72ad;
  margin: 0;
  margin: -2px;
  background: url(https://cmscdn.staticcache.org/assets/image/0018/291411/navbg.png?v=0.0.2) no-repeat top center;
  background-color: #003269;
  height: 59px;
  padding: 0;
}
nav ul {
  width: 995px;
  margin: 0 auto;
  height: 40px;
}
nav li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  list-style: none;
  width: 198px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 1.18em;
  padding-top: 18px;
  padding-bottom: 18px;
  transition: none;
}
body.it nav li {
  float: left;
  font-weight: normal;
  margin-left: 52px;
  width: auto;
}
body.es nav li {
  vertical-align: middle;
  width: 16.66%;
  padding-top: 11px;
}
nav li:hover {
  background: url(https://cmscdn.staticcache.org/assets/image/0004/299902/navOverLine.jpg?v=0.1.1) repeat-x 0 bottom;
  color: #ffd300;
}

#banners {
  width: 100%;
  min-height: 530px;
  margin-top: 147px;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
}
body.it #banners {
  padding-top: 0;
  padding-bottom: 10px;
}

#banners_wrapper {
  width: 995px;
  margin: 0 auto;
  position: relative;
  height: 425px;
  overflow: hidden;
  z-index: 2;
}
#banners_wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  border: 0 none;
}

#mobileBannerNav {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#mobileBannerNav .navigation {
  background-color: white;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  float: left;
  font-size: 10px;
  margin: 2px;
  opacity: 0.4;
  padding: 0 7px;
}
#mobileBannerNav .navigation.active {
  opacity: 0.8;
}

#banners_123 {
  width: 100%;
  height: 96px;
  background: url(https://cmscdn.staticcache.org/assets/image/0004/291406/banner123bg.png?v=0.0.2) no-repeat top center;
  margin-top: -3px;
}
body.it #banners_123 {
  background: url(https://cmscdn.staticcache.org/assets/image/0006/327444/stepsBG2.png?v=0.1.1) no-repeat top center;
}
#banners_123 img {
  display: block;
  margin: 0 auto;
}

#steps {
  width: 995px;
  margin: 0 auto;
}
#steps a {
  color: white;
}

.step {
  width: 300px;
  float: left;
  height: 90px;
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px black;
}
body.it .step {
  text-shadow: none;
}
.step .number {
  float: left;
  color: #ffd300;
  font-size: 6em;
  line-height: 1em;
}
body.it .step .number {
  color: white;
}
.step .texttop {
  color: #ffd300;
  font-size: 2em;
  padding-top: 10px;
}
.step .textbottom {
  font-size: 1.5em;
  margin-top: 5px;
}

.arrow {
  background: url(https://cmscdn.staticcache.org/assets/image/0019/291403/arrow.png?v=0.1.1) no-repeat center center;
  margin-top: 10px;
  width: 44px;
  height: 85px;
  float: left;
}
body.it .arrow {
  background: none;
}

#hl {
  width: 100%;
  height: 23px;
  background: url(https://cmscdn.staticcache.org/assets/image/0017/291410/hrbg.png?v=0.0.2) no-repeat top center;
}

#content {
  background: none;
}

#boxes {
  width: 100%;
  padding-top: 10px;
}
#boxes a {
  text-decoration: none;
  color: white;
}

.box {
  width: 331px;
  height: 210px;
  float: left;
  margin-bottom: 20px;
  position: relative;
  text-shadow: 1px 1px 3px black;
}
body.it .box {
  text-shadow: none;
  overflow: hidden;
}
.box img {
  display: block;
  margin: 0 auto;
}
.box .text {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 290px;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background: url(https://cmscdn.staticcache.org/assets/image/0007/291409/boxtextbg.png?v=0.0.2) repeat-y;
  margin: 0 10px;
  padding: 10px;
  line-height: 27px;
}
body.it .box .text {
  top: 48px;
  font-size: 1.4em;
  background: none;
  text-align: left;
}
body.it .box .name.text {
  background: none;
  border-bottom: 1px solid #3a6286;
  font-size: 1.4em;
  margin-left: 11px;
  text-align: left;
  top: 0;
  z-index: 10;
}
.box .text .yellow {
  color: #ffd300;
}
.box .text-title {
  position: absolute;
  bottom: 110px;
  left: 22px;
  z-index: 10;
}
.box .text-left, .box .text-right {
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.box .text-left .smalltext {
  font-size: 0.7em;
}
.box .text-left .price {
  color: #ffd300;
  font-size: 3em;
  line-height: 28px;
}
.box .text-right {
  right: 0px;
  font-size: 1.4em;
}
.box .button-wrapper {
  width: 308px;
  height: 208px;
  position: absolute;
  top: -208px;
  left: 12px;
  background: url(https://cmscdn.staticcache.org/assets/image/0009/335574/black_pixel.png?v=0.1.1);
  z-index: 5;
}
.box .button {
  color: white;
  display: block;
  font-size: 1.4em;
  margin: -40px auto;
  padding: 5px 10px;
  width: 130px;
}
body.it .box .button {
  font-size: 1.1em;
  margin: -45px auto;
  padding: 5px 10px;
  width: 90px;
  position: relative;
  bottom: -210px;
}

#termsandcond {
  float: right;
  font-size: 0.8em;
  margin-right: 12px;
  margin-top: -18px;
}
#termsandcond a {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

footer {
  position: relative;
}
footer #legal {
  position: absolute;
  top: 0;
  right: 5px;
}
footer #footer-images {
  float: right;
  position: absolute;
  right: 0;
  top: 195px;
}
body.es footer #footer-images {
  float: right;
  position: relative;
  right: 605px;
  top: -5px;
}
footer #footer-images img {
  max-height: 28px;
}
body.it footer #footer-images img:hover {
  max-height: 100%;
}
footer #fun-stops {
  width: 184px;
  float: right;
  margin: 0px 10px;
}
footer #fun-stops img {
  width: 184px;
  height: auto;
}

/*****************************************************************************
* Landing pages
******************************************************************************/
#landingBanner {
  margin-bottom: 90px;
  position: relative;
  top: 85px;
}
#landingBanner #landingBannerBtn {
  position: absolute;
  width: 230px;
  padding: 10px 0px;
  text-indent: -999999px;
  background-color: grey;
  display: none;
}
#landingBanner #landingBannerBtn.visible {
  text-indent: 0;
  font-size: 1.6em;
  line-height: 1.6em;
  min-height: 43px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-shadow: 0 -1px 0 #757171;
  text-transform: uppercase;
  padding: 10px 0px 6px;
  background: url(https://cmscdn.staticcache.org/assets/image/0017/312704/button_bg.png?v=0.1.1) repeat-x;
  background-position: 0 0;
  display: block;
}
#landingBanner #landingBannerBtn.visible:hover {
  background-position: bottom left;
}
#landingBanner #landingBannerBtn.buttonType1 {
  top: 50px;
  left: 50px;
}
#landingBanner #landingBannerBtn.buttonType2 {
  top: 50px;
  left: 400px;
}
#landingBanner #landingBannerBtn.buttonType3 {
  top: 50px;
  right: 50px;
}
#landingBanner #landingBannerBtn.buttonType4 {
  top: 200px;
  left: 50px;
}
#landingBanner #landingBannerBtn.buttonType5 {
  top: 200px;
  left: 400px;
}
#landingBanner #landingBannerBtn.buttonType6 {
  top: 200px;
  right: 50px;
}
#landingBanner #landingBannerBtn.buttonType7 {
  top: 350px;
  left: 50px;
}
#landingBanner #landingBannerBtn.buttonType8 {
  top: 350px;
  left: 400px;
}
#landingBanner #landingBannerBtn.buttonType9 {
  top: 350px;
  right: 350px;
}
#landingBanner .landingBanner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 982px;
}
#landingBanner #landingVideo {
  position: absolute;
}
#landingBanner #form_email_314274 {
  background-color: #ddd;
  border: 1px solid #aaa;
  color: #333;
  padding: 10px;
}
#landingBanner #form_email_314274 label {
  display: block;
  padding: 10px;
}
#landingBanner #form_email_314274 li {
  list-style: none;
  color: red;
}
#landingBanner #form_email_314274 input {
  border: 1px solid #333;
  font-size: 16px;
  padding: 5px;
  width: 400px;
}
#landingBanner #form_email_314274 input[type="submit"] {
  color: white;
  font-size: 25px;
  font-weight: bold;
  height: 60px;
  line-height: 48px;
  font-weight: bold;
  background: url(https://cmscdn.staticcache.org/assets/image/0017/312704/button_bg.png?v=0.1.1) repeat-x;
  background-position: 0 0;
  margin-top: 20px;
  border: none;
}
#landingBanner #form_email_314274 input[type="reset"] {
  display: none;
}

#asset_contents {
  background-color: #F7F6F6;
  color: black;
  margin: 0 auto;
  width: 962px;
  padding: 10px;
}
body.es #asset_contents {
  width: 940px !important;
}
#asset_contents #lp_casino_table td {
  margin-left: 20px;
}
#asset_contents #lp_casino_table td h2 {
  font-size: 23px;
  color: #003756;
  font-weight: bold;
}
#asset_contents #lp_casino_table td li {
  margin-left: 20px;
}
#asset_contents #lp_casino_table td .button.green {
  color: white;
  font-size: 25px;
  font-weight: bold;
  height: 50px;
  line-height: 48px;
  font-weight: bold;
  background: url(https://cmscdn.staticcache.org/assets/image/0017/312704/button_bg.png?v=0.1.1) repeat-x;
  background-position: 0 0;
  margin-top: 20px;
}
#asset_contents #lp_casino_table td .button.green:hover {
  background-position: bottom left;
}

#landingBox {
  width: 982px;
  background: url(https://cmscdn.staticcache.org/assets/image/0015/313242/bgBox.jpg?v=0.1.1);
  height: 90px;
  padding: 10px 0;
  margin: 0 auto;
}
#landingBox .box {
  width: 180px;
  height: 75px;
  background: url(https://cmscdn.staticcache.org/assets/image/0016/313243/spriteBoxes.jpg?v=0.1.1) no-repeat;
  background-position: 0 0;
  display: inline-block;
  margin: 8px;
}
#landingBox .box.casino {
  background-position: 0 0;
}
#landingBox .box.bingo {
  background-position: 0 -75px;
}
#landingBox .box.slot {
  background-position: 0 -150px;
}
#landingBox .box.scommesse {
  background-position: 0 -225px;
}
#landingBox .box.poker {
  background-position: 0 -300px;
}
#landingBox .terms {
  color: white;
  float: right;
  font-size: 10px;
  margin-right: 10px;
  margin-top: -8px;
  text-decoration: underline;
}

/*****************************************************************************
* 3 Steps
******************************************************************************/
#landingBanner a {
  color: white;
}
#asset_contents a {
  color: #00BFF3;
}
#landingBanner #steps {
  width: 98%;
  height: 85px;
  background-color: #131f37;
  padding: 10px;
  background: url(https://cmscdn.staticcache.org/assets/image/0003/312699/steps_bg.jpg?v=0.1.1) no-repeat;
  width: 962px;
}
#landingBanner #steps .steps {
  width: 33%;
  float: left;
}
#landingBanner #steps #step1 {
  margin-right: 52px;
  width: 30%;
}
#landingBanner #steps #step3 {
  float: right;
  width: 30%;
}
#landingBanner #steps .step_yellow_box {
  float: left;
  width: 20%;
  text-align: center;
  font-weight: bold;
  color: #f7d501;
  height: 80px;
  padding-top: 5px;
}
#landingBanner #steps .step_yellow_box_step {
  text-transform: uppercase;
  font-size: 16px;
  display: none;
}
#landingBanner #steps .step_yellow_box_number {
  font-size: 90px;
  line-height: 72px;
  text-shadow: 1px 1px 3px black;
}
#landingBanner #steps .step_description {
  float: left;
  font-weight: bold;
  width: 80%;
}
#landingBanner #steps .step_description p {
  margin-bottom: 0;
  line-height: 1em;
}
#landingBanner #steps .step_description_title {
  color: #f7d501;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
}
#landingBanner #steps .step_description_title p {
  font-size: 17px;
  color: white;
  margin: 0;
  line-height: 15px;
}

/*####### paralax ####*/
body.it .container-splash {
  position: relative;
  overflow: hidden !important;
  background-size: cover;
  text-align: center;
  padding: 0em;
  margin-bottom: 0px;
  border-bottom: none;
  -webkit-box-shadow: inset 0px -19px 23px -5px rgba(0, 30, 74, 0.45);
  -moz-box-shadow: inset 0px -19px 23px -5px rgba(0, 30, 74, 0.45);
  box-shadow: inset 0px -19px 23px -5px rgba(0, 30, 74, 0.45);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -ms-transition: background-color 3s ease-in-out 2s;
  -moz-transition: background-color 3s ease-in-out 2s;
  -webkit-transition: background-color 3s ease-in-out 2s;
  transition: background-color 3s ease-in-out 2s;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}

/*.container-splash .grid {
  margin: 0em;
  padding: 0rem 0em;
}*/
body.it .pushed .container-splash,
body.it .pushed {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

body.it .tophead {
  height: 366px;
  -webkit-box-shadow: inset 0px 19px 23px -5px rgba(0, 30, 74, 0.45);
  -moz-box-shadow: inset 0px 19px 23px -5px rgba(0, 30, 74, 0.45);
  box-shadow: inset 0px 19px 23px -5px rgba(0, 30, 74, 0.45);
}

body.it .colored,
body.it .container-splash.colored {
  -webkit-animation-name: colors;
  -moz-animation-name: colors;
  -o-animation-name: colors;
  animation-name: colors;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 120s;
  -moz-animation-duration: 120s;
  -ms-animation-duration: 120s;
  -o-animation-duration: 120s;
  animation-duration: 120s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

body.it .container-splash:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 800px;
  overflow: hidden;
  top: 208px;
  left: 0px;
  content: '';
  background: url(https://cmscdn.staticcache.org/assets/image/0009/317709/gfx_Layer.png?v=0.1.1) repeat top center;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation-name: splash;
  -moz-animation-name: splash;
  -o-animation-name: splash;
  animation-name: splash;
  -ms-transition: opacity 3s ease-in-out, transform 5s ease-in-out;
  -webkit-transition: opacity 3s ease-in-out, transform 5s ease-in-out;
  -moz-transition: opacity 3s ease-in-out, transform 5s ease-in-out;
  transition: opacity 3s ease-in-out, transform 5s ease-in-out;
  opacity: 0.08;
  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;
  -ms-animation-duration: 15s;
  -o-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform: rotateX(50deg) rotateZ(0deg) rotateY(0deg) translateY(-14%) translateX(-14%) translateZ(600px);
  -moz-transform: rotateX(50deg) rotateZ(0deg) rotateY(0deg) translateY(-14%) translateX(-14%) translateZ(600px);
  transform: rotateX(50deg) rotateZ(0deg) rotateY(0deg) translateY(-14%) translateX(-14%) translateZ(600px);
}

@keyframes splash {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% -475px;
  }
}
@-moz-keyframes splash {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% -475px;
  }
}
@-webkit-keyframes splash {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% -475px;
  }
}
@-ms-keyframes splash {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% -475px;
  }
}
@-o-keyframes splash {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% -475px;
  }
}
@keyframes colors {
  0% {
    background-color: #00B5AD;
  }
  12% {
    background-color: #3B83C0;
  }
  25% {
    background-color: #E07B53;
  }
  37% {
    background-color: #D9499A;
  }
  50% {
    background-color: #564F8A;
  }
  62% {
    background-color: #F2C61F;
  }
  75% {
    background-color: #D95C5C;
  }
  87% {
    background-color: #5BBD72;
  }
  100% {
    background-color: #F2C61F;
  }
}
@-moz-keyframes colors {
  0% {
    background-color: #00B5AD;
  }
  12% {
    background-color: #3B83C0;
  }
  25% {
    background-color: #E07B53;
  }
  37% {
    background-color: #D9499A;
  }
  50% {
    background-color: #564F8A;
  }
  62% {
    background-color: #F2C61F;
  }
  75% {
    background-color: #D95C5C;
  }
  87% {
    background-color: #5BBD72;
  }
  100% {
    background-color: #F2C61F;
  }
}
@-webkit-keyframes colors {
  0% {
    background-color: #00B5AD;
  }
  12% {
    background-color: #3B83C0;
  }
  25% {
    background-color: #E07B53;
  }
  37% {
    background-color: #D9499A;
  }
  50% {
    background-color: #564F8A;
  }
  62% {
    background-color: #F2C61F;
  }
  75% {
    background-color: #D95C5C;
  }
  87% {
    background-color: #5BBD72;
  }
  100% {
    background-color: #F2C61F;
  }
}
@-ms-keyframes colors {
  0% {
    background-color: #00B5AD;
  }
  12% {
    background-color: #3B83C0;
  }
  25% {
    background-color: #E07B53;
  }
  37% {
    background-color: #D9499A;
  }
  50% {
    background-color: #564F8A;
  }
  62% {
    background-color: #F2C61F;
  }
  75% {
    background-color: #D95C5C;
  }
  87% {
    background-color: #5BBD72;
  }
  100% {
    background-color: #F2C61F;
  }
}
@-o-keyframes colors {
  0% {
    background-color: #00B5AD;
  }
  12% {
    background-color: #3B83C0;
  }
  25% {
    background-color: #E07B53;
  }
  37% {
    background-color: #D9499A;
  }
  50% {
    background-color: #564F8A;
  }
  62% {
    background-color: #F2C61F;
  }
  75% {
    background-color: #D95C5C;
  }
  87% {
    background-color: #5BBD72;
  }
  100% {
    background-color: #F2C61F;
  }
}
body.it img.splash {
  z-index: 99999999;
  position: relative;
}

body.it .img .splash {
  width: 960px;
  margin: 0 auto;
  display: block;
  position: relative;
}

body.it .button-wrap {
  bottom: 60px !important;
  z-index: 999999999;
}

body.it .btn-img-over {
  position: relative !important;
}
