/*
  Running Squiz Matrix
  Developed by Squiz - http://www.squiz.net
  Squiz, Squiz Matrix, MySource, MySource Matrix and Squiz.net are registered Trademarks of Squiz Pty Ltd
  Page generated: 11 October 2013 13:51:15
*/


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,th,var {
    font-weight: normal;
    font-style: normal;
}
/* ul {
    list-style: none;
} */
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before,q:after {
    content: '';
}
abbr,acronym {
    border: 0;
}
label {
    display: none;
}