body{margin:0 auto;font-family:Lato,Verdana,Arial,sans-serif}
body>*{padding:1em;max-width:1200px;margin:0 auto}
[full]{max-width:100%}
[oswald]{font-family:Oswald,Arial,sans-serif}
[lato]{font-family:Lato,Arial,sans-serif}
[gray]{color:#444}
[light]{color:#999}
[center]{text-align:center}
[dark],[dark] a{background:#444;color:#EEE}
[paddingTop]{padding-top:2em}
[marginTop]{margin-top:2em}
[marginBottom]{margin-bottom:2em}
[lineHeight]{line-height:1.6em}
[invisible]{display:none}
h1{margin-bottom:0}
h2{margin-top:.4em}
div[header]{padding:4em 0 1em}
div[content]{max-width:1000px;margin:0 auto;clear:both}
div[col1]{float:left;width:600px}
div[col1]>img{max-width:100%}
div[col2]{float:left}
div[col2] > ul{font-size:1.5em;padding:.1em 1em;border-radius:1em}
div[col2] > ul > li{list-style-type:none;margin:0 0 .3em;padding:.4em .5em;font-weight:bold}
div[col2] > ul > li > a{text-decoration:none;color:#1E67D2;margin-right:1em}
div[col2] > ul > li:hover{background:#EEF1F3;border-radius:20px}
div[col33]{width:33%;display:inline-block;vertical-align:top}
ul[floating] > li{display:inline-block;list-style-type:none;margin:.2em 1em .2em 0;height: 1.2em}
div[footer] a{display:inline-block;margin:0 1em 1em 0;text-decoration:none;color:#D0D0D0;text-shadow:0px 1px 1px black;border-bottom:1px dotted #757474}
[marginHorizontal]{margin:0 1em}
i.fa.fa-chevron-right{font-size:.8em;margin-top:.5em}
@media (max-width: 1000px) {
	div[col1]{width:500px}
	div[col2] > ul {font-size: 1.3em}
}
@media (max-width: 850px) {
	[col1],[col2],[col33]{width:100% !important}
	[col33]{padding-bottom:2em}
	div[col2] > ul {font-size: 1.7em}
	div[col2] > ul > li{padding:.4em .2em}
}
@media (max-width: 600px) {
	div[col2] > ul {font-size: 1.3em}
}
input[type='text']{font-size:1.3em;border-radius:10px;border:1px solid #bbb;padding:.2em}
input[type='submit']{
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
	color: #333;
	background-color: #DCDBD9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
	font-family: 'Helvetica Neue',Arial,sans-serif;
	font-size: 16px;
	font-weight: 700;
	height: 32px;
	padding: 4px 16px;
	text-shadow: #E0E0E0 0 1px 0;
	vertical-align: 15%;
}