*
{
    margin:0;
    padding:0;
}
body
{
    margin:0px;
    padding:0px;
}
.none
{
    display:none !important;
}
.call_body .error
{
    color: red;
    font-size:14px;
    font-weight: bold;
}
.call_body .notice{
    color:#E2931B;
    font-size:14px;
    font-weight: bold;
}
.call_support
{
    position: fixed;
    width:100%;
    height: 100%;
    opacity: 0.8;
    background: #ffffff;
    z-index: 100;
}
._phone
{
    font-style:Tahoma, Arial, sans-serif;
    position: fixed;
    opacity: 1;
    top:200px;
    margin-left:310px; 
    z-index: 101;
}
.main_window
{    
    padding:10px 30px 30px 30px;
    width:300px;
    height:210px;
    background:red;
    -webkit-border-radius: 6px;
    -moz-border-radius:  6px;
    border-radius:  6px;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #f7f7f7 0%,#ededed 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%,#ededed 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%,#ededed 100%);
    background: linear-gradient(top, #f7f7f7 0%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0 );
    -webkit-box-shadow: 0px 2px 9px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:  0px 2px 9px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 9px rgba(50, 50, 50, 0.75);
}
.call_head
{
    padding-bottom:20px;
    border-bottom:1px solid #e1e1e1;
}
.main_window, .keyboard
{
    vertical-align:middle;
    display:inline-block;
}
.main_window p
{
    color: #559731;
    font-size:20px;
    text-align:center;
    font-weight:bold;
    padding-top:10px;
}
.call_body
{
    border-top:1px solid #ffffff;
}

.call_body >div:first-child
{
    margin-top:20px;
    height:90px;
}
.call_body >div:first-child img
{
    margin-top:10px;
}
.call_body ._phoneNumber
{
    text-align:center;
}
.call_body  button 
{
    cursor:pointer;
    font-family:Arial;
    font-weight:bold;
    font-size:16px;
    color: #ffffff;
    padding:15px;
    width:150px;
    border: none;
    background:#62a233;
    background: -moz-linear-gradient(top, #62a233 0%, #4b9030 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62a233), color-stop(100%,#4b9030));
    background: -webkit-linear-gradient(top, #62a233 0%,#4b9030 100%);
    background: -o-linear-gradient(top, #62a233 0%,#4b9030 100%);
    background: -ms-linear-gradient(top, #62a233 0%,#4b9030 100%);
    background: linear-gradient(top, #62a233 0%,#4b9030 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62a233', endColorstr='#4b9030',GradientType=0 );
    -moz-box-shadow: 0 3px 4px #acacac;
    -webkit-box-shadow: 0 3px 4px #acacac;
    box-shadow: 0 3px 4px #acacac;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border-bottom: 1px solid #acacac;
}

.call_body div div
{
    vertical-align:bottom;
    display:inline-block;
}
.call_body >div div:first-child
{
    width:150px;
    margin-left:70px;
}
.call_body >div div:last-child
{
    text-align:right;
    width:21px;
    margin-left:50px;
    padding: 21px 0 0 0;
}
.keyboard
{
    padding:10px;
    width:150px;
    background: #f7f7f7;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border:1px solid #e1e1e1;
}
.keyboard_on_off
{
    cursor:pointer;
    background: url(/images/call_support/keboard_on_off.png) no-repeat;
    background-position: -23px;
}
._off
{
    background-position: 0;
}
.keyboard .key_rows
{
    padding:5px 0;
}
.keyboard .key_rows div
{
    cursor:pointer;
    text-align:center;
    display: inline-block;
    vertical-align:top;
    width:20px;
    padding:10px;
    margin-left:3px;
    background:#ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #e1e1e1;
}
#call_dialog .close
{
    margin:0  0 0 auto;
    padding:0;
    width:10px;
    cursor:pointer;
}
#call_dialog .one 
{
    margin-left:0px;
    margin-top:10px;
    background:green;
    width:14px;
    height:2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    filter:progid:DXImageTransform.Microsoft.Matrix(M11='0.707', M12='0.707', M21='-0.707', M22='0.707', SizingMethod="auto expand");
}

#call_dialog .two 
{
    margin-top:-2px;
    margin-left:0;
    width:14px;
    height:2px;
    background:green;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    filter:
    progid:DXImageTransform.Microsoft.Matrix(M11='0.707', M12='0.707', M21='-0.707', M22='0.707', SizingMethod="auto expand");
    progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.call_body .ismobile,.call_body .isIOS,.call_body .ismobile,.call_body .internalip{
    width:90% !important;
    margin:auto !important;
}









