/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
img,legend{border:0}legend,td,th{padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;height:100%}body{margin:0;height:100%}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent;text-decoration:none;}a:active,a:hover{outline:0;text-decoration:none;}abbr[title]{border-bottom:1px dotted}b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}table{border-collapse:collapse;border-spacing:0}

/* Grid
-------------------------------------------------------- */
.container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}
.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .column,
  .columns {
    margin-left: 4%;
    margin-right: 0; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

    .column.first-column,
    .columns.first-column {
        margin-left: 0;
    }
    .four.columns:nth-child(3n+1) {
        margin-left: 0;
    }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #212121;
}

.body-wrap {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Typography
-------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 300;
    color: #212121;
}
h1 {
    font-size: 1.95rem;
    line-height: 1.3;
    font-weight: 800;
    margin-bottom: 0;
}
h2 { font-size: 2.4rem; line-height: 1.25; font-weight: 400; }
h3 { font-size: 2.0rem; line-height: 1.3; font-weight: 400; }
h4 { font-size: 1.6rem; line-height: 1.3; font-weight: 700; }
h5 {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 400;
    color: #343434;
}
h6 { font-size: 1.6rem; line-height: 1.3; font-weight: 700; }

p {
    margin-top: 0;
    color: #535353;
}

img {
    height: auto;
    max-width: 100%;
    border: 0;
}

/* Forms
-------------------------------------------------------- */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    padding: 5px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    height: 33px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; 
}
textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}
label,
legend {
    display: block;
    margin-bottom: .5rem;
}
fieldset {
    padding: 0;
    border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
    display: inline;
}
label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}


/* Lists
-------------------------------------------------------- */
ul {
    list-style: circle inside;
}
ol {
    list-style: decimal inside;
}
ol, ul {
    padding-left: 0;
    margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}
li {
    margin-bottom: 0.6rem;
}


/* Code
-------------------------------------------------------- */
code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}
pre {
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
}
pre:first-of-type {
    margin-top: 100px;
    margin-bottom: -100px;
}
pre.debug {
    padding: 1rem;
    background-color: #ffdede;
}
pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
    border: none;
}

  /* Utilities
-------------------------------------------------------- */
  .full-width {
      width: 100%;
      box-sizing: border-box;
  }
  .max-full-width {
      max-width: 100%;
      box-sizing: border-box;
  }
  .pad-below {
      margin-bottom: 20px;
  }

  /* Misc
-------------------------------------------------------- */
  hr {
      margin-top: 3rem;
      margin-bottom: 3.5rem;
      border-width: 0;
      border-top: 1px solid #E1E1E1;
  }



a {
    color: #3778be;
}
a:hover,
a:focus {
    color: #449DFC;
    cursor: pointer;
}

div {
    box-sizing: border-box;
}

/* Navs */
#nav-top {
    background-color: #081d3f;
    height: 54px;
    padding: 0 4px;
}

nav .brand {
    float: left;
}
nav .brand a {
    display: block;
    padding: 10px 8px 6px 16px;
}
nav .brand a img {
    width: 160px;
    height: 32px;
}
nav .top-link {
    float: left;
    display: inline-block;
    text-align: center;
    position: relative;
}
nav .top-link > a {
    font-family: 'Raleway', sans-serif;
    color: #eee;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    display: block;
    padding: 14px 12px 19px;
    height: 21px;
    line-height: 28px;
}
nav .top-link .caret {
    position: absolute;
    bottom: 0;
    left: 42%;
    display: none;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-top: none;
}
nav .top-link:hover .caret {
    display: block;
}
nav .nav-end .top-link > a {
    font-size: 16px;
}
nav .active-menu > a,
nav .top-link:hover > a {
    font-weight: bold;
}
nav .top-link.active-menu > a {
    color: #fafafa;
}
nav .top-link.active-menu > .caret {
    display: block;
}
.hovered nav .top-link.active-menu > .caret {
    display: none;
}
.hovered nav .top-link.active-menu:hover > .caret {
    display: block;
}

nav .mega-dropdown-wrap:hover .mega-dropdown {
    display: block;
}
nav .mega-dropdown-wrap .mega-dropdown {
    position: absolute;
    z-index: 140;
    margin: 0;
    box-sizing: content-box;
    display: none;
    padding: 0;
}
nav .mega-dropdown-wrap .mega-dropdown > li {
    display: block;
    box-sizing: border-box;
    float: left;
    width: 160px;
    margin: 0;
    padding: 0 0 10px 0;
    border-left: solid 1px #efefef;
}
nav .mega-dropdown > li:first-child {
    border-left: none;
}
nav .mega-dropdown > li > ul {
    margin: 0;
}
nav .fp-dropdown-menu > li > ul > li {
    list-style: none;
    text-align: left;
    margin-bottom: 3px;
}
nav .mega-dropdown > li > ul > li:first-child {
    border-bottom: solid 1px #efefef;
    font-weight: 700;
    text-transform: uppercase;
    padding: 3px 0;
}
nav .mega-dropdown > li > ul > li a {
    padding: 8px 4px 8px 12px;
}
nav .mega-dropdown > li > ul > li:first-child a,
nav .mega-dropdown > li > ul > li:first-child a:hover {
    background: none;
    color: #535353;
}

nav .top-search i {
    padding: 0 8px;
    border-left: solid 1px rgba(255,255,255,0.2);
    border-right: solid 1px rgba(255,255,255,0.2);
}
nav .user-menu .user-menu-label {
    position: relative;
    float: left;
}
nav .user-menu {
    min-width: 160px;
    padding: 15px 2px 18px;
    color: #fff;
    position: relative;
}
nav .user-menu .username {
    font-family: 'Raleway', sans-serif;
    color: #eee;
    font-weight: 200;
    text-align: left;
    display: inline-block;
    height: 21px;
    padding-right: 17px;
    max-width: 190px;
    overflow: hidden;
}
nav .user-menu span {
    display: inline-block;
    font-size: 14px;
}
nav .user-menu .fa {
    position: absolute;
    right: 0;
    top: 4px;
}
nav .user-menu .user-dropdown {

}

.fp-dropdown-menu {
    box-sizing: border-box;
    position: absolute;
    top: 54px;
    left: 0;
    z-index: 100;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.62);
    width: 162px;
}
.fp-dropdown-menu a {
    color: #676767;
    display: block;
    text-align: left;
    padding: 8px;
    font-size: 13px;
    line-height: 1em;
    font-family: 'Raleway', sans-serif;
}
.fp-dropdown-menu a:hover {
    background-color: #dbeafc;
    color: #676767;
}
ul.fp-dropdown-menu,
.fp-dropdown-menu ul {
    margin: 0;
}
.fp-dropdown-menu > li {
    margin-bottom: 0;
}
.fp-dropdown-menu li,
.fp-dropdown-menu ul li {
    list-style: none;
}

.dropdown-menu li {
    margin-bottom: 0;
}

#nav-top .sport-link,
#nav-top .nav-end .top-link {
    display: none;
}

#nav-top .mobile-menu,
#nav-top .tablet-menu {
    float: left;
}
#nav-top .mobile-menu {
    position: fixed;
    top: 6px;
    left: 7px;
    z-index: 1100;
}
.body-wrap .mobile-menu.mobile-menu-wrap {
    position: fixed;
    z-index: 1110;
    width: 100%;
    max-width: 440px;
    top: 48px;
    box-sizing: border-box;
    padding: 0 7px;
}
#nav-top .mobile-menu > a,
#nav-top .tablet-menu > a {
    font-size: 26px;
    font-weight: bold;
    padding: 6px 6px 7px 10px;
    display: block;
    color: #fff;
}
#nav-top .mobile-menu > a {
    background-color: #081d3f;
    padding: 0px 11px 1px 7px
}
.dropdown-wrap {
    position: relative;
}
.dropdown-wrap .fp-dropdown-menu {
    display: none;
}
.dropdown-wrap:hover .fp-dropdown-menu {
    display: block;
}
.dropdown-wrap > a > i.fa {
    color: #9a9a9a;
    padding-left: 4px;
}
#nav-top .tablet-menu > a > i.fa,
#nav-top .mobile-menu > a > i.fa {
    color: #f1f1f1;
    padding-left: 4px;
}

#nav-top .top-link.product-link {
    width: 136px;
}
#nav-top .top-link.sport-link {
    width: 72px;
}

#nav-top .tablet-menu {
    display: none;
}

@media (min-width: 760px) {
    #nav-top .nav-end .top-link {
        display: inline-block;
    }
    #nav-top .mobile-menu {
        display: none;
    }
    #nav-top .tablet-menu {
        display: block;
    }
}

nav .brand a {
    left: 37%;
    position: absolute;
    visibility: visible;
    transform: translateX(-30%);
}

@media (min-width: 370px) {
    nav .brand a {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 760px) {
    nav .brand a {
        top: auto;
        left: auto;
        position: static;
        transform: none;
    }
}

@media (min-width: 1020px) {
    #nav-top .tablet-menu {
        display: none;
    }
    nav .brand a {
        padding-right: 22px;
    }
    #nav-top .top-link.sport-link {
        display: inline-block;
    }
}

#nav-sub {
    height: 46px;
    background-color: #fff;
    display: none;
    border-bottom: solid 1px #e1e1e1;
}
@media (min-width: 760px) {
    #nav-sub {
        display: block;
    }
    #nav-sub nav > ul > li:nth-child(n+6) {
        display: none;
    }
}
@media (min-width: 870px) {
    #nav-sub nav > ul > li:nth-child(n-1) {
        display: inline-block;
    }
    #nav-sub nav > ul > li:nth-child(n+7) {
        display: none;
    }
}
@media (min-width: 980px) {
    #nav-sub nav > ul > li:nth-child(n-1) {
        display: inline-block;
    }
    #nav-sub nav > ul > li:nth-child(n+8) {
        display: none;
    }
}
@media (min-width: 1100px) {
    #nav-sub nav > ul > li:nth-child(n-1) {
        display: inline-block;
    }
    #nav-sub nav > ul > li:nth-child(n+9) {
        display: none;
    }
}
@media (min-width: 1220px) {
    #nav-sub nav > ul > li:nth-child(n-1) {
        display: inline-block;
    }
    #nav-sub nav > ul > li:nth-child(n+10) {
        display: none;
    }
}
@media (min-width: 1340px) {
    #nav-sub nav > ul > li:nth-child(n-1) {
        display: inline-block;
    }
    #nav-sub nav > ul > li:nth-child(n+11) {
        display: none;
    }
}


#nav-sub nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav-sub nav > ul > li {
    float: left;
    display: inline-block;
    text-align: center;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav-sub nav > ul > li > a {
    font-family: 'Raleway', sans-serif;
    color: #0C306C;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding: 12px 12px 14px;
    height: 20px;
    line-height: 24px;
}

#nav-sub nav .fp-dropdown-menu {
    top: 45px;
}

#nav-sub.ticker-wrap {
    text-align: center;
    padding-top: 10px;
    background-color: #2881eb;
    color: #fff;
    border-bottom-color: #2378DF;
}
#nav-sub.ticker-wrap a {
    color: #fff;
    text-decoration: underline;
}
#nav-sub.ticker-wrap a:hover {
    color: #ccc;
}

.heading a {
    color: inherit;
}
.side-nav .heading a:hover,
.side-content .heading a:hover {
    color: #449DFC;
}

.primary-heading-subheading {
    margin-bottom: 18px;
}
.primary-heading-subheading h4,
.primary-heading-subheading h5,
.primary-heading-subheading h6 {
    margin-bottom: 0;
}

.side-nav nav > ul > li {
    padding: 0 20px;
}

.side-nav nav > ul > li > a {
    padding: 12px 30px 14px 20px;
    border: solid 1px #bbb;
    border-bottom: none;
    position: relative;
    display: block;
}
.side-nav nav > ul > li > a:before {
    content: "\f105";
    font-family: FontAwesome;
    right: 14px;
    position: absolute;
    top: 22px;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #333;
}
.side-nav nav > ul > li:last-child > a {
    border-bottom: solid 1px #bbb;
}
.side-nav nav > ul > li.active > ul {
    display: none;
}
.side-nav nav > ul > li > a > i {
    position: absolute;
    left: 20px;
    top: 22px;
}
.side-nav nav > ul > li > a > span {
    margin-left: 40px;
    display: block;
    font-family: 'Open Sans', sans-serif;
}
.side-nav nav > ul > li > a > span.item-title {
    font-weight: 700;
    font-size: 1.6rem;
}
.side-nav nav > ul > li > a > span.item-subtitle {
    font-weight: 400;
    font-size: 1.2rem;
    color: #656565;
}




.side-nav nav {
    border-bottom: solid 1px #F1F1F1;
    padding-bottom: 34px;
}
.side-nav nav:last-of-type {
    border-bottom: none;
    margin-bottom: 10px;
}
.side-nav nav .heading,
.side-content section .heading {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 10px 20px 20px;
    text-transform: uppercase;
}
.side-nav nav .heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 800;
}
.side-nav nav ul {
    padding: 0;
    margin: 0;
}
.side-nav nav > ul > li {
    list-style-type: none;
    margin-bottom: 0;
}
.side-nav nav > ul > li > a {
    color: #333;
    font-size: 14px;
    display: block;
}
.side-nav nav > ul > li > a:hover,
.side-nav nav > ul > li.active > a {
    background-color: #f7f7f7;
    color: #277EE6;
    padding-left: 18px;
    font-weight: bold;
    border-left: solid 2px #277ee6;
}
.side-nav nav > ul > li i {
    margin-right: 8px;
    font-size: 22px;
    width: 28px;
}
.side-nav nav ul ul {
    margin-left: 60px;
    padding-top: 6px;
    padding-bottom: 12px;
    display: none;
}
.side-nav nav ul li.active ul {
    display: block;
}
.side-nav nav ul ul > li {
    list-style-type: none;
    padding: 6px 0;
    margin-bottom: 0;
}
.side-nav nav ul ul > li > a {
    color: #9a9a9a;
}
.side-nav nav ul ul > li > a:hover {
    color: #212121;
}
.side-nav nav ul ul > li.active > a {
    font-weight: bold;
    color: #1e3150;
}

@media (min-width: 900px) {
    .side-nav nav > ul > li {
        padding: 0;
    }
    .side-nav nav > ul > li > a {
        padding: 12px 12px 12px 20px;
    }
    .side-nav nav .heading {
        border-bottom: solid 1px #F1F1F1;
    }
    .side-nav nav > ul > li > a > span.item-title {
        font-weight: 400;
        font-size: 1.4rem;
        margin-left: 0;
        display: inline;
    }
    .side-nav nav > ul > li > a > span.item-subtitle {
        display: none;
    }
    .side-nav nav > ul > li > a:before {
        content: none;
    }
    .side-nav nav > ul > li > a > i {
        position: static;
        float: left;
    }
    .side-nav nav > ul > li > a {
        border: none;
    }
    .side-nav nav > ul > li:last-child > a {
        border-bottom: none;
    }
    .side-nav nav > ul > li.active > ul {
        display: block;
    }
}

.side-nav nav.experts-wrap {
    display: none;
}

.side-content section {
    padding: 0 20px;
}
.side-content section .heading {
    padding-left: 0;
    padding-right: 0;
    border: none;
}
@media (min-width: 1200px) {
    .side-content section ul.side-menu {
        margin: 0;
        padding: 0 0 10px 0;
        width: 100%;
        list-style: none;
    }
    .side-content section ul.side-menu > li {
        margin: 0;
        display: inline-block;
        width: 33.333%;
        border-bottom: solid 1px #c4c4c4;
        box-sizing: border-box;
        text-align: center;
        font-weight: bold;
        margin-right: -4px;
    }
    .side-content section ul.side-menu > li a {
        color: #b2b2b2;
        text-decoration: none;
        display: block;
        line-height: 18px;
        padding: 6px;
    }
    .side-content section ul.side-menu > li a:focus,
    .side-content section ul.side-menu > li:focus {
        outline: none;
    }
    .side-content section ul.side-menu > li.ui-state-active,
    .side-content section ul.side-menu > li:hover {
        color: #333;
        border-bottom: solid 1px #333;
    }
    .side-content section ul.side-menu > li.ui-state-active a,
    .side-content section ul.side-menu > li a:hover {
        color: #333;
    }
    .side-content section ul.side-menu > li:hover {
        cursor: pointer;
    }
}
.side-content section {
    padding-bottom: 10px;
}

@media (min-width: 900px) {
    .side-nav nav.experts-wrap {
        display: block;
    }
}
input.ui-autocomplete-input {
    border-radius: 0;
}
ul.ui-autocomplete li {
    list-style: none;
    margin-bottom: 0;
}
ul.ui-autocomplete li a {
    padding: 6px 10px;
    background-color: #fff;
    width: 200px;
    box-sizing: border-box;
    display: block;
    color: #535353;
    font-size: 1.3rem;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
}
ul.ui-autocomplete li a:hover {
    color: #535353;
}
ul.ui-autocomplete li:last-child a {
    border-bottom: solid 1px #ddd;
}
ul.ui-autocomplete li.ui-state-focus a {
    background-color: #f1f1f1;
}

.wsis-player-section {
  margin-bottom: 20px;
}
.wsis-player-section .three.columns {
    width: 22%;
}
.wsis-player-section .nine.columns {
    width: 74%;
    margin-left: 4%;
}
.wsis-player-section img {
  max-width: 110px;
  width: 100%;
}
.wsi-compare-links {
    font-size: 1.2rem;
    line-height: 2rem
}

/* Ads */
.leaderboard-wrap {
    background-color: #D8D8D8;
    display: none;
}
#leaderboard {
}
#leaderboard > div {
    margin: 0 auto;
    padding: 14px 0;
    min-height: 118px;
}
.ad-300 {
    margin: 0 auto;
    width: 300px;
    display: none;
}
.ad-300 > div {
    min-height: 250px;
    margin-bottom: 10px;
}

.ad-728 {
    margin: 0 auto;
    width: 728px;
    display: none;
}
.ad-728 > div {
    min-height: 90px;
    margin-bottom: 10px;
}

.ad-160 {
    width: 100%;
}
.ad-160 > div {
    min-height: 610px;
    margin-bottom: 10px;
}
.ad-160 > div {
    margin: 0 auto;
    width: 160px;
}
.ad-320 {
    width: 100%;
}
.ad-320 > div {
    margin: 0 auto;
    width: 320px;
    height: 50px;
}

.ad-300,
.ad-728.ad-tablet,
.ad-160 {
    display: none;
}
.ad-320,
.ad-300.ad-mobile {
    display: block;
}

@media (min-width: 730px) {
    .ad-320,
    .ad-300.ad-mobile {
        display: none;
    }
    .ad-728.ad-tablet {
        display: block;
    }
}
@media (min-width: 900px) {
    .ad-160 {
        width: 100%;
        float: none;
        display: block;
    }
    .ad-728.ad-tablet {
        display: none;
    }
}
@media (min-width: 1200px) {
    .ad-300 {
        display: block;
    }
}

@media (min-width: 730px) {
    .leaderboard-wrap {
        display: block;
    }
}


/* Main Area */

.main-content-wrap {
    height: 100%;
    width: 100%;
    display: block;
}

.side-content .inner {
    height: 100%;
}
.main-content .inner {
    padding: 20px 10px 10px 10px;
    position: relative;
    height: 100%;
}

.main-content .inner hr {
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
}

.main-content .feature-stretch {
    position: static;
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
    float: none;
    padding-left: 10px;
    padding-right: 10px;
}
.main-content .feature-stretch.below-pills {
    border-top: none;
    margin-top: 0;
}
.feature-bg.feature-stretch {
    padding-top: 10px;
    padding-bottom: 10px;
}
div.pills-wrap ul.pills > li {
    width: 90%;
    margin-bottom: 2px;
}

@media (min-width: 550px) {
    .main-content .inner {
        padding: 20px 30px 10px 30px;
    }
    .main-content .feature-stretch {
        position: static;
        margin-left: -30px;
        margin-right: -30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    div.pills-wrap ul.pills > li {
        width: auto;
    }
}

@media (min-width: 900px) {
    .side-nav {
        position: absolute;
        width: 240px;
        display: block;
        left: 0;
        top: 0;
    }

    .side-content {
        display: block;
        position: relative;
    }

    .side-content .inner,
    .main-content .inner {
        margin-left: 240px;
    }
    .side-content .inner {
        background-color: transparent;
        background-image: -webkit-linear-gradient(left, #e4e4e4 0px, #eeeeee 3px, #fafafa 10px, #fafafa 100%);
        background-image: -moz-linear-gradient(left, #e4e4e4 0px, #eeeeee 3px, #fafafa 10px, #fafafa 100%);
        background-image: -ms-linear-gradient(left, #e4e4e4 0px, #eeeeee 3px, #fafafa 10px, #fafafa 100%);
        background-image: linear-gradient(to right, #e4e4e4 0, #eeeeee 3px, #fafafa 10px, #fafafa 100%);
    }
    .main-content .inner {
        background-color: transparent;
        background-image: -webkit-linear-gradient(left, #e4e4e4 0px, #f2f2f2 3px, #ffffff 10px, #ffffff 100%);
        background-image: -moz-linear-gradient(left, #e4e4e4 0px, #f2f2f2 3px, #ffffff 10px, #ffffff 100%);
        background-image: -ms-linear-gradient(left, #e4e4e4 0px, #f2f2f2 3px, #ffffff 10px, #ffffff 100%);
        background-image: linear-gradient(to right, #e4e4e4 0px, #f2f2f2 3px, #ffffff 10px, #ffffff 100%);
    }
    .side-content .inner {
        padding-left: 20px;
        background-color: #FAFAFA;
    }
    .main-content .inner {
        padding: 20px 40px 10px 40px;
    }
    .feature-bg.feature-stretch {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main-content .feature-stretch {
        padding-left: 40px;
        padding-right: 40px;
        margin-left: -40px;
        margin-right: -40px;
    }
    .main-content .feature-bg.feature-stretch {
        background-color: #f5f5f5;
        background-image: -webkit-linear-gradient(left, #dddddd 0px, #e9e9e9 3px, #f5f5f5 10px, #f5f5f5 100%);
        background-image: -moz-linear-gradient(left, #dddddd 0px, #e9e9e9 3px, #f5f5f5 10px, #f5f5f5 100%);
        background-image: -ms-linear-gradient(left, #dddddd 0px, #e9e9e9 3px, #f5f5f5 10px, #f5f5f5 100%);
        background-image: linear-gradient(to right, #dddddd 0, #e9e9e9 3px, #f5f5f5 10px, #f5f5f5 100%);
    }
    .main-content .promo.feature-bg.feature-stretch {
        background-color: #f9ffe3;
        background-image: -webkit-linear-gradient(left, #D4DBC4 0px, #E8F0D6 3px, #f9ffe3 10px, #f9ffe3 100%);
        background-image: -moz-linear-gradient(left, #D4DBC4 0px, #E8F0D6 3px, #f9ffe3 10px, #f9ffe3 100%);
        background-image: -ms-linear-gradient(left, #D4DBC4 0px, #E8F0D6 3px, #f9ffe3 10px, #f9ffe3 100%);
        background-image: linear-gradient(to right, #D4DBC4 0, #E8F0D6 3px, #f9ffe3 10px, #f9ffe3 100%);
    }
}

@media (min-width: 1200px) {
    .side-content {
        width: 300px;
        margin-left: 0;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: #FAFAFA;
    }
    .side-content .inner,
    .main-content .inner {
        margin-left: 0;
        background: transparent;
        padding: 0;
        position: static;
    }
    .side-nav {
        width: 240px;
        margin-right: 0;
        margin-left: 0;
        display: block;
    }
    .main-content {
        margin-left: 240px;
        margin-right: 300px;
        padding: 20px 40px 10px 40px;
        background-color: transparent;
        background-image: -webkit-linear-gradient(left, #e4e4e4 0px, #f2f2f2 3px, #ffffff 10px, #ffffff 100%);
        background-image: -moz-linear-gradient(left, #e4e4e4 0px, #f2f2f2 3px, #ffffff 10px, #ffffff 100%);
        background-image: -ms-linear-gradient(left, #e4e4e4 0px, #f2f2f2 3px, #ffffff 10px, #ffffff 100%);
        background-image: linear-gradient(to right, #e4e4e4 0px, #f2f2f2 3px, #ffffff 10px, #ffffff 100%);
        position: relative;
        display: block;
        border-right: solid 1px #efefef;
    }
    .no-side-content .main-content {
        margin-right: 0px;
    }
}

@media (min-width: 1440px) {
    .side-nav {
        border-left: solid 1px #efefef;
    }
    .container .side-content {
        border-right: solid 1px #efefef;
        width: 301px;
    }
    .no-side-content .main-content {
        border-right: solid 1px #efefef;
    }
    .main-content {
        margin-right: 301px;
    }
}


.main-content .hero {
    position: relative;
}
.main-content .hero img {
    width: 100%;
}
.main-content .hero-text .columns {
    padding-top: 40px;
}

/* Footer */
footer {
    font-family: 'Raleway', sans-serif;
    background-color: #212121;
    padding: 40px 10px 20px;
    color: #e1e1e1;
}
footer .container hr {
    border-top: 1px solid #434343;
    padding: 0;
    margin: 0 0 10px 0;
}
footer h4 {
    color: #535353;
    padding-left: 6px;
    font-size: 1.7rem;
    margin-bottom: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 14px;
}
footer h4 a {
    color: #535353;
}
footer h4 a:hover { 
    color: #7a7a7a;
}
footer .footer-column ul {
    margin: 0;
    padding: 0 10px 24px 0;
}
footer .footer-column ul li {
    list-style-type: none;
    margin: 0;
}
footer .footer-column ul li a {
    display: block;
    color: #c8c8c8;
    padding: 4px 6px;
    font-size: 14px;
}
footer .footer-column ul li a:hover {
    background-color: #434343;
}

footer .footer-social-icons {
    margin: 0 auto;
    width: 290px;
    padding-bottom: 50px;
}
footer .footer-social-icons a {
    font-size: 29px;
    display: block;
    background-color: #2d2d2d;
    height: 48px;
    width: 66px;
    margin: 0 14px;
    float: left;
    text-align: center;
    padding: 10px 0 6px;
    color: #fafafa;
    border-radius: 36px;
}
footer .footer-social-icons a:hover,
footer .footer-social-icons a:focus {
    background-color: #535353;
}
footer .footer-featured-row {
    padding: 26px 30px 34px;
}
footer .footer-featured-row ul {
    margin: 0;
    padding: 0;
}
footer .footer-featured-row li {
    display: inline-block;
    margin-bottom: 0;
}
footer .footer-featured-row li a {
    padding: 12px 14px;
    color: #8d8d8d;
    display: block;
    font-size: 16px;
}
footer .footer-featured-row li a:hover,
footer .footer-featured-row li a:focus {
    color: #fafafa;
}
footer .footer-logo {
    margin: 0 auto;
    width: 210px;
}

footer p.copyright {
    font-size: 13px;
    text-align: center;
    color: #535353;
    padding-top: 14px;
    font-family: 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media (min-width: 370px) {
    footer .footer-column {
        width: 48%;
    }
}

@media (min-width: 600px) {
    footer .footer-column {
        width: 22%;
    }
}

@media (min-width: 1140px) {
    footer .container {
        width: 1140px;
    }
    footer .column-row {
        padding: 0 40px 0 100px;
    }
}
/* Components */

.feature-bg {
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-top: solid 1px #d3d3d3;
    border-bottom: solid 1px #d3d3d3;
}
.feature-bg h3 {
    font-weight: 800;
    padding-top: 12px;
    font-size: 1.8rem;
    letter-spacing: .03rem;
}
/* Pills */
.pills-wrap {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 10px 0;
}
.pills-wrap.feature-bg {
    padding-top: 14px;
    padding-bottom: 12px;
    margin-top: 10px;
}
ul.pills {
    margin: 0;
    padding: 0;
    line-height: 14px;
}
ul.pills li {
    display: inline-block;
    margin: 0 1px;
    color: #9a9a9a;
}
ul.pills li > a {
    display: block;
    color: #434343;
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 14px;
    outline: none;
}
ul.pills li > a:hover {
    color: #212121;
    background-color: #e1e1e1;
    text-decoration: none;
}

ul.pills.pills-wide li {
    margin: 0 10px;
}
ul.pills.pills-wide li > a {
    padding: 7px 18px;
    border-radius: 15px;
    font-weight: 400;
}

ul.pills li.active a,
ul.pills li.ui-tabs-active > a,
ul.pills li.active > a:hover,
ul.pills li.ui-tabs-active > a:hover {
    color: #fafafa;
}
ul.pills li.active a,
ul.pills li.ui-tabs-active > a,
ul.pills li.active > a:hover,
ul.pills li.ui-tabs-active > a:hover {
    background-color: #2881eb;
}

@media (max-width: 1199px) {
    .side-content section .heading {
        float: left;
        padding-right: 14px
    }
    ul.side-menu-pills {
        margin: 0;
        padding: 16px 10px 0 0;
        line-height: 14px;
        float: right;
    }
    ul.side-menu-pills li {
        display: inline-block;
        margin: 0 1px;
        color: #9a9a9a;
    }
    ul.side-menu-pills li > a {
        display: block;
        color: #434343;
        font-size: 13px;
        padding: 7px 18px;
        border-radius: 15px;
        font-weight: 400;
    }
    ul.side-menu-pills li > a:hover {
        color: #212121;
        background-color: #e1e1e1;
        text-decoration: none;
    }

    ul.side-menu-pills li.ui-tabs-active a,
    ul.side-menu-pills li.ui-tabs-active > a:hover {
        color: #fafafa;
    }
    ul.side-menu-pills li.ui-tabs-active a,
    ul.side-menu-pills li.ui-tabs-active > a:hover {
        background-color: #2881eb;
    }
    ul.side-menu-pills li > a:focus {
        outline: none;
    }
    
    .top-read-more {
        float: left;
        padding: 25px 0 0;
        font-size: 1.3rem;
    }
}

@media (min-width: 550px) and (max-width: 690px) {
    ul.pills li > a {
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 10px;
    }
}
@media (min-width: 900px) and (max-width: 950px) {
    ul.pills li > a {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (min-width: 1200px) and (max-width: 1250px) {
    ul.pills li > a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.side-content section.tab-wrap .heading {
    padding-bottom: 0;
}

@media (max-width: 550px) {
    .side-content section.tab-wrap .heading {
        padding-bottom: 10px;
    }
    .top-read-more {
        float: right;
    }
    ul.side-menu-pills {
        display: block;
        float: none;
        clear: both;
        padding: 10px;
        background-color: #f5f5f5;
        border-top: solid 1px #d3d3d3;
        border-bottom: solid 1px #d3d3d3;
        margin-bottom: 8px;
    }
    .feature-stretch .pills-wrap.pull-right {
        float: left;
    }
}

.mobile-pills {
    display: block;
}
.desktop-pills {
    display: none;
}
.mobile-pills .pills-label {
    max-width: 100px;
    padding-right: 10px;
    padding-top: 5px;
    font-weight: bold;
}


@media (min-width: 550px) {
    .side-content section.tab-wrap .heading {
        padding-bottom: 20px;
    }
    .mobile-pills {
        display: none;
    }
    .desktop-pills {
        display: block;
    }
}

.pagination {
    margin-bottom: 15px;
}

.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}

.pagination ul > li {
    display: inline;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    border-left-width: 1px;
}

.pagination ul > li > span,
.pagination ul > li > a {
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
    float: left;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
}

.well {
    min-height: 20px;
    padding:8px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

/* Alerts */

.alert {
    background: #f1f1f1;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    font-size: 1.3rem;
    padding: 6px 8px;
    text-align: center;
    /*margin-bottom: 2px;*/
}
.alert p {
    padding: 0;
    margin: 0;
}
.alert.alert-success {
    background-color: #f9ffe3;
    border-color: #E0F4D1;
    color: #257d41;
}
.alert.alert-info {
    background-color: #E3FBFF;
    border-color: #BDE3ED;
    color: #5778D0;
}
.alert.alert-danger,
.alert.alert-warning,
.alert.alert-error {
    background-color: #F4E7EA;
    border-color: #F4D1C9;
    color: #C2494E;
}

/* Buttons */
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    padding: 6px 24px;
    color: #535353;
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    text-decoration: none;
    text-shadow: none;
    background: #fff;
    border-radius: 0;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 8px;
}
.btn:focus,
button:focus
.btn:active,
button:active {
    outline: 0;
    color: #212121;
}
.btn:hover,
button:hover {
    color: #212121;
    border-color: #535353;
    background-color: #fafafa;
    background-image: -webkit-linear-gradient(top, #fefefe, #f6f6f6);
    background-image: -moz-linear-gradient(top, #fefefe, #f6f6f6);
    background-image: -ms-linear-gradient(top, #fefefe, #f6f6f6);
    background-image: linear-gradient(to bottom, #fefefe, #f6f6f6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fefefe, endColorstr=#f6f6f6);
}
.btn:active,
button:active {
    border-color: #535353;
    background: #fafafa;
}

.btn.btn-primary,
button.btn-primary {
    color: #FFF;
    background: #2881eb;
    border-color: #2881eb;
}
.btn.btn-primary:hover,
button.btn-primary:hover {
    border-color: #aaaaaa;
    background-color: #48B3F4;
    background-image: -webkit-linear-gradient(top, #48B3F4, #2a85ec);
    background-image: -moz-linear-gradient(top, #48B3F4, #2a85ec);
    background-image: -ms-linear-gradient(top, #48B3F4, #2a85ec);
    background-image: linear-gradient(to bottom, #48B3F4, #2a85ec);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#48B3F4, endColorstr=#2a85ec);
}
.btn.btn-primary:active,
button.btn-primary:active,
.btn.btn-primary.active,
button.btn-primary.active {
    background: #65a6f0;
    border-color: #65a6f0;
}

.btn.btn-secondary,
button.btn-secondary {
    color: #FFF;
    background: #f2a535;
    border-color: #f2a535;
}
.btn.btn-secondary:hover,
button.btn-secondary:hover {
    border-color: #aaaaaa;
    background-color: #f9cf53;
    background-image: -webkit-linear-gradient(top, #f9cf53, #F2A837);
    background-image: -moz-linear-gradient(top, #f9cf53, #F2A837);
    background-image: -ms-linear-gradient(top, #f9cf53, #F2A837);
    background-image: linear-gradient(to bottom, #f9cf53, #F2A837);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9cf53, endColorstr=#F2A837);
}
.btn.btn-secondary:active,
button.btn-secondary:active,
.btn.btn-secondary.active,
button.btn-secondary.active {
    background: #f6bf6a;
    border-color: #f6bf6a;
}

.btn.btn-light,
button.btn-light {
    color: #666666;
    background: #f5f5f5;
    border-color: #dedede;
}
.btn.btn-light:hover,
button.btn-light:hover {
    border-color: #aaaaaa;
    background-image: -webkit-linear-gradient(top, #fbfbfb, #f5f5f5);
    background-image: -moz-linear-gradient(top, #fbfbfb, #f5f5f5);
    background-image: -ms-linear-gradient(top, #fbfbfb, #f5f5f5);
    background-image: linear-gradient(to bottom, #fbfbfb, #f5f5f5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fbfbfb, endColorstr=#f5f5f5);
}
.btn.btn-light:active,
button.btn-light:active,
.btn.btn-light.active,
button.btn-light.active {
    background: #fafafa;
    border-color: #dedede;
}

.btn.btn-dark,
button.btn-dark,
.btn.active,
button.active {
    color: #FFF;
    background: #bababa;
    border-color: #bababa;
}
.btn.btn-dark:hover,
button.btn-dark:hover,
.btn.active:hover,
button.active:hover {
    border-color: #aaaaaa;
    background-image: -webkit-linear-gradient(top, #dcdcdc, #bcbcbc);
    background-image: -moz-linear-gradient(top, #dcdcdc, #bcbcbc);
    background-image: -ms-linear-gradient(top, #dcdcdc, #bcbcbc);
    background-image: linear-gradient(to bottom, #dcdcdc, #bcbcbc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dcdcdc, endColorstr=#bcbcbc);
}
.btn.btn-dark:active,
button.btn-dark:active,
.btn.active:active,
button.active:active {
    border-color: #cecece;
    background: #cecece;
}

.btn.btn-disabled,
button.btn-disabled,
.btn.btn-disabled:hover,
button.btn-disabled:hover,
.btn.btn-disabled:active,
button.btn-disabled:active {
    color: #a9a9a9;
    border-color: #eaeaea;
    background: #f5f5f5;
    cursor: not-allowed;
}

.btn.btn-large {
    font-size: 1.4rem;
    padding: 10px 32px;
    font-weight: bold;
    text-transform: uppercase;
}
.btn.btn-medium {

}
.btn.btn-small {
    font-size: 1.1rem;
    padding: 4px 12px;
}
.btn.btn-mini {
    font-size: 0.95rem;
    padding: 2px 6px;
}

.btn-group .fp-dropdown-menu {
    top: 33px;
    width: 130px;
}

.btn-group > .btn,
.btn-group > .btn:first-child,
.btn-group > .btn:last-child {
    border-radius: 0;
    margin-right: 0;
    margin-left: 0;
    float: left;
    border-color: #9a9a9a;
}
.btn-group > .btn:nth-child(n+2) {
    border-left: none;
}

.btn-group > .btn:hover {
    border-color: #9a9a9a;
}

.pull-right .btn,
.pull-right.btn {
    margin-right: 0;
    margin-left: 8px;
}
.pull-right.select-wrap {
    margin-left: 8px;
}

.pull-right .btn-group > .btn,
.pull-right.btn-group > .btn,
.btn-group > .btn.pull-right {
    margin-left: 0;
    margin-right: 0;
}

/* Promo */
.promo {
    width: 100%;
    text-align: center;
    color: #333;
    padding: 22px 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    position: relative;
}
.promo.feature-bg {
    background-color: #f9ffe3;
}
.promo p {
    margin: 0;
    padding: 0;
}

/* Forms */

.select-wrap select,
.select-wrap select:focus {
    border: solid 1px #AAA;
    border-radius: 0;
    width: 200px;
    font-size: 12px;
    color: #666;
    padding: 8px 22px 7px 12px;
    line-height: 16px;
    height: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background: transparent;
}
.select-wrap select:focus {
    border-color: #B2CBFF;
    color: #434343;
}
.select-wrap select::-ms-expand {
    display: none;
}
.select-wrap {
    position: relative;
    height: 30px;
    display: inline-block;
    background: url('https://images.fantasypros.com/images/icons/gray_caret.png') no-repeat right #fff;
    background-size: 18px 22px;
    background-position: right 5px bottom 2px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="search"] {
    color: #535353;
    font-weight: 400;
    padding: 2px 14px;
    border-width: 1px;
    font-size: 12px;
    border-style: solid;
    border-color: #AAA;
    width: 200px;
    background: #ffffff;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="text"]:active,
input[type="password"]:active,
input[type="url"]:active,
input[type="email"]:active,
input[type="search"]:active {
    outline: none;
}

.search {
    border: solid 1px #AAA;
    border-radius: 8px;
    padding: 0 20px 0 30px;
    font-size: 13px;
    color: #333;
    position: relative;
    width: 200px;
    background: #ffffff;
    box-sizing: border-box;
}
.search input,
.search input:focus,
.search input:active {
    border: none;
    outline: none;
    font-weight: normal;
    margin-bottom: 0;
    width: 100%;
    padding: 0;
    height: 32px;
}
.search.focused,
input:focus {
    border-color: #B2CBFF;
}
.search:before {
    content: "\f002";
    font-family: FontAwesome;
    left: 8px;
    position: absolute;
    top: 5px;
    font-size: 14px;
    font-weight: normal;
    color: #BABABA;
}
input::-webkit-input-placeholder {
    color: #535353;
}
input::-moz-placeholder {
   color: #535353;
   opacity: 1;
}
input:-ms-input-placeholder {
   color: #535353;
}


/* Rank and Vote boxes */
.rank-box > span,
.vote-box > span {
    display: block;
}
.rank-box, 
.vote-box {
    text-align: center;
}
.rank-box {
    padding-top: 10px;
}
.rank-box .rank-label {
    color: #7a7a7a;
    font-weight: 200;
    font-size: 10px;
}
.rank-box .rank-value {
    padding-top: 2px;
    color: #333;
    font-weight: 200;
    font-size: 18px;
    line-height: 26px;
}

.vote-box {
    padding-bottom: 3px;
}
.vote-box .vote-label {
    color: #7a7a7a;
    font-size: 9.5px;
}
.vote-box .label-rank {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
}

button.fp-vote {
    border: none;
}

.same,
.label-rank {
    color: #7a7a7a;
}
.more,
.green,
.easy,
.good {
    color: #017C3F;
}
.less,
.red,
.hard,
.bad {
    color: #AD1F1A;
}

.expert-row .expert-name {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 14px;
}

.expert-row .expert-affiliation a,
.expert-row .expert-affiliation a:visited {
    color: #434343;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.wsis-row, .expert-row {
    margin-bottom: 18px;
}
.stats-wrap .wide-label-wrap,
.stats-wrap .expert-row {
    border-bottom: solid 1px #ccc;
    padding: 6px 0;
}
.stats-wrap .expert-row {
    text-align: center;
}
.player-section .player-wrap {
    text-align: center;
}

.photo-box {
    content: "";
    display: block;
    clear: both;
    padding: 8px 0;
    width: 100%;
}
.photo-box table {
    width: 100%;
}
.photo-box .photo {
    /*float: left;*/
    width: 20%;
    box-sizing: border-box;
}
.photo-box .photo a {
    display: block;
    line-height: 1px;
}
.photo-box .photo img, img.rounded-photo {
    border-radius: 50%;
    max-width: 100%;
    width: 100%;
}
.photo-box .text {
    /*float: left;*/
    width: 80%;
    padding-left: 20px;
    box-sizing: border-box;
    vertical-align: middle;
}
.photo-box .text .title, 
.photo-box .text .title a,
.photo-box .text .title a:hover {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    color: #212121;
}
.photo-box .text .subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    width: 100%;
}
.photo-box.experts {
    padding: 16px 20px 0px;
}
.photo-box.experts .photo {
    width: 18%;
}
.photo-box.experts .text {
    padding-left: 16px;
    width: 82%;
}

.photo-box.read-more .text .title a {
    font-weight: 400;
    color: #3778be;
}
.photo-box.read-more .text .title a:hover {
    color: #449DFC
}


.photo-box.article {
    padding: 22px 0 18px;
    border-bottom: solid 1px #efefef;
}
.photo-box.article:last-child {
    border-bottom: none;
}
.photo-box.article .photo {
    width: 36%;
    vertical-align: top;
}
.photo-box.article .photo img {
    border-radius: 0;
    width: 100%;
}
.photo-box.article .text {
    padding-left: 20px;
    width: 64%;
}

.photo-box.article .title a,
.photo-box.article .title a:hover {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-bottom: 4px;
}
.photo-box.article .title a:hover {
    color: #449DFC;
}
.photo-box.article .subtitle {
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #535353;
    font-size: 14px;
    line-height: 17px;
    padding-top: 8px;
}
.photo-box.article .extra {
    padding-top: 12px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #535353;
    line-height: 40px;
}
.photo-box.article .extra img {
    width: 22px;
    border-radius: 50%;
    margin: 0 0 -6px 0;
}
.photo-box.article .extra .author,
.photo-box.article .sport {
    font-weight: 600;
    color: #212121;
}

@media (min-width: 600px) {
    .photo-box.article .photo {
        width: 26%;
    }
    .photo-box.article .text {
        width: 74%;
    }
    .photo-box.article .title a,
    .photo-box.article .title a:hover {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    .photo-box.article .extra img {
        margin-right: 10px;
    }
}


.photo-box.feature-author .photo {
    width: 10%;
}
.photo-box.feature-author .text {
    width: 90%;
    padding-left: 10px;
}
.photo-box.feature-author .title {
    float: left;
    width: 50%;
    padding-top: 7px;
}
.photo-box.feature-author .extra {
    float: right;
    width: 50%;
    padding-top: 3px;
    text-align: right;
}

/* List Table */
ul.list-table, 
ul.list-table ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.list-table li {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}
ul.list-table > li > ul:after {
    content: "";
    display: table;
    clear: both;
}

ul.list-table > li > ul > li {
    float: left;
    padding-right: 6px;
    box-sizing: border-box;
    color: #9a9a9a;
}
ul.list-table > li {
    border-bottom: solid 1px #f1f1f1;
}
ul.list-table li.header-row {
    display: none;
    border-top: solid 1px #f1f1f1;
    padding-top: 1px;
    padding-bottom: 1px;
}
ul.list-table li.header-row li {
    line-height: 1.4rem;
    height: auto;
}
ul.list-table li.header-row li span {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    display: inline-block;
    position: relative;
}
ul.list-table li.header-row li {
    margin-bottom: 0;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
}
ul.list-table li li {
    display: table;
    height: 50px;
}
ul.list-table li li > div {
    display: table-cell;
    vertical-align: middle;
}

ul.list-table li.header-row li.sorted span {
    padding-right: 12px;
}
ul.list-table li.header-row li.sorted span:before {
    content: "";
    font-family: FontAwesome;
    right: 2px;
    position: absolute;
    top: 2px;
    font-size: 1.1rem;
    line-height: 1.1rem;
    color: #333;
}
ul.list-table li.header-row li.sorted.sort-down span:before {
    content: "\f107";
}
ul.list-table li.header-row li.sorted.sort-up span:before {
    content: "\f106"
}

ul.list-table span {
    color: #9a9a9a;
    font-size: 1.2rem;
}
ul.list-table a {
    font-size: 1.2rem;
}


ul.list-table li.title a {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
}
ul.list-table li.title span {
    display: block;
}

ul.list-table li.title {
    width: 70%;
}
ul.list-table li.date {
    width: 30%;
    text-align: right;
}
ul.list-table li.num {
    width: 30%;
    text-align: left;
}
ul.list-table li.num .note {
    display: inline;
}
ul.list-table li.pos-list {
    display: none;
}
ul.list-table li.action {
    width: 70%;
    text-align: right;
}
/*ul.list-table li.header-row li.action {
    text-align: center;
}*/
ul.list-table ul > li:last-child {
    float: right;
}

@media (min-width: 550px) {
    ul.list-table li.header-row {
        display: block;
    }
    ul.list-table li.title {
        width: 30%;
    }
    ul.list-table li.date {
        width: 20%;
        text-align: center;
    }
    ul.list-table li.num {
        width: 10%;
        text-align: center;
    }
    ul.list-table li.num .note {
        display: none;
    }
    ul.list-table li.pos-list {
        width: 20%;
        display: table;
    }
    ul.list-table li.action {
        width: 20%;
    }
    ul.list-table li li {
        height: 80px;
    }
}



/* Tables */
.table th,
.table td {
    font-size: 12px;
    padding: 5px 5px;
    border: none;
}

.table th {
    font-weight: 700;
    text-align: center;
    padding: 8px 5px;
    text-transform: uppercase;
    font-size: 12px;
}
.table th.left,
.table tr.left th {
    text-align: left;
}
.table th.right,
.table tr.right th {
    text-align: right;
}
.table th small {
    text-transform: none;
}
.table td {
    font-weight: normal;
    text-align: left;
}
.table td small {
    font-size: 86%;
}
.table td.left,
.table tr.left td {
    text-align: left;
}
.table td.right,
.table tr.right td {
    text-align: right;
}
.table td.center {
    text-align: center;
}
.table.table-full {
    width: 100%;
}
.table.table-bordered th,
.table.table-bordered td {
    border: solid 1px #eaeaea;
}
.table.table-striped tbody > tr:nth-child(odd) td {
    background-color: #f5f5f5;
}

.table.table-hover tbody > tr:hover > td {
    background-color: #e2e2e2;
}
.table.table-featured,
.table.table-featured td,
.table.table-featured th {
    border-color: #9a9a9a;
}
.table.table-featured th {
    background-color: #e4e4e4;
}
.table.table-centered td {
    text-align: center;
}
.table.table-mpb tr:nth-child(2n-1) > td,
.table.table-mpb tr > td {
    background-color: transparent;
}
.table td a {
    font-weight: 600;
}
.table td small a {
    font-weight: normal;
}

.table tr.active-row {
    background-color: #2881eb;
    color: #f1f1f1;
}
.table tr.active-row a {
    color: #fafafa;
}

.table.player-table td,
.table.player-table th {
    text-align: center;
}
.table.player-table .player-label {
    text-align: left;
    padding-left: 5px;
}

th.tablesorter-header {
  background: none;
}

th.tablesorter-headerSortUp,
th.tablesorter-headerSortDown {
    position: relative;
}

th.tablesorter-headerSortUp:after,
th.tablesorter-headerSortDown:after {
    content: "";
    bottom: 5px;
    left: 50%;
    position: absolute;
    border-width: 4px 4px 0;
    border-style: solid;
    border-color: #434343 transparent;
    visibility: visible;
    opacity: 0.9;
    transform: translateX(-50%);
}

th.tablesorter-headerSortDown:after {
    border-width: 0 4px 4px;
    top: 5px;
    bottom: auto;
}


.mobile-table {
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    box-shadow: 3px 3px 8px 0 #8d8d8d;
    -moz-box-shadow: 3px 3px 8px 0 #8d8d8d;
    -webkit-box-shadow: 3px 3px 8px 0 #8d8d8d;
}
.mobile-table .table {
    min-width: 440px;
    width: 100%;
}

@media (min-width: 730px) {
    .mobile-table {
        overflow-x: hidden;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
}
.mobile-iframe iframe {
    min-width: 100%;
    max-width: 100%;
}
@media (max-width: 550px) {
    .mobile-iframe {
        position: relative;
        padding-bottom: 160%;
        padding-top: 10px;
        height: 0;
        overflow: auto; 
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    } 
    .mobile-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.table-ad {
    display: table-row;
}

@media (min-width: 550px) {
    .table-ad {
        display: none;
    }
}


/* Span labels */

span.label {
    color: #fafafa;
    background-color: #8d8d8d;
    display: inline-block;
    padding: 2px 3px;
    margin-right: 2px;
    font-size: 1.2rem;
}
span.label.label-success {
    background-color: #017C3F;
}
span.label.label-important {
    background-color: #AD1F1A;
}


/* My Playbook Tools */
.mpb-controls-row {
    padding: 16px 0 8px;
}
.mpb-controls-row .select-wrap,
.mpb-controls-row .btn {
    margin-bottom: 8px;
}
.mpb-options-form {
    padding-top: 3px;
    margin-bottom: 10px;
}
.mpb-options-form label {
    margin-left: 10px;
    display: inline;
    font-size: 12px;
    font-weight: 400;
}
.mpb-options-form label > span {
    padding: 7px 6px;
    border: solid 1px #bababa;
}
.mpb-options-form label.mpb-roster-control > span,
div table.table tr.mpb-roster > td,
div.mpb-roster,
li.mpb-roster,
a.mpb-roster {
    background-color: #d0e6f0 !important;
}
.mpb-options-form label.mpb-taken-control > span,
div table.table tr.mpb-taken > td,
div.mpb-taken,
li.mpb-taken,
a.mpb-taken {
    background-color: #eeeeee !important;
}
.mpb-options-form label.mpb-available-control > span {
    border-color: #6b6b6b;
}
.mpb-options-form label.mpb-available-control > span,
div table.table tr.mpb-available > td,
li.mpb-available {
    background-color: #fafafa !important;
}
@media (max-width: 1420px) {
    .pull-right.mpb-options-form {
        float: left;
    }
}

.report-btns .btn {
    margin-bottom: 8px;
}

/* EXTRAS */
div.modal-backdrop {
    z-index: 1850;
}
div.modal {
    z-index: 1900;
}
.modal-body {
    overflow-y: scroll;
    max-height: 260px;
}

@media (min-width: 550px) {
    .modal-body {
        max-height: 500px;
    }
}

@media (min-width: 900px) {
    .modal-body {
        max-height: auto;
    }
}

.description {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #535353;
    font-size: 13px;
    line-height: 18px;
}

a.btn.facebook-login-btn {
    width: 260px;
    box-sizing: border-box;
    background-color: #3c5b97;
    color: #fafafa;
    font-size: 17px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 14px 4px;
}
a.btn.facebook-login-btn i {
    margin-right: 4px;
}

@media (min-width: 550px) {
    a.btn.facebook-login-btn {
        width: 320px;
    }
}

small.dl {
    color: #D32620;
    font-weight: bold;
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
/* Self Clearing Goodness */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.mega-dropdown:before,
.mega-dropdown:after,
.btn-group:before,
.btn-group:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after,
.container:after,
.mega-dropdown:after,
.btn-group:after {
    clear: both;
}

.visible-phone {
    display: none;
}


@media (min-width: 1200px) {
    .no-xl {
        display: none;
    }
}

@media (min-width: 550px) {
    .hidden-desktop,
    .hidden-tablet {
        display: none;
    }
}

@media (max-width: 550px) {
    .hidden-phone,
    .hidden-mobile, 
    .visible-desktop {
        display: none;
    }
    
    .visible-phone {
        display: inherit !important;
    }
}

.fa-dw,
.fa-fp {
    background-size: 24px 24px;
    background-repeat: no-repeat;
    height: 22px;
    width: 24px;
}
.fa-dw-auction-calculator {
    background-image: url('https://images.fantasypros.com/images/icons/dw-auction-calculator.png');
}
.fa-dw-auction-simulator {
    background-image: url('https://images.fantasypros.com/images/icons/dw-auction-simulator.png');
}
.fa-dw-cheat-sheets {
    background-image: url('https://images.fantasypros.com/images/icons/dw-cheat-sheets.png');
}
.fa-dw-draft-analyzer {
    background-image: url('https://images.fantasypros.com/images/icons/dw-draft-analyzer.png');
}
.fa-dw-draft-assistant {
    background-image: url('https://images.fantasypros.com/images/icons/dw-draft-assistant.png');
}
.fa-dw-draft-simulator {
    background-image: url('https://images.fantasypros.com/images/icons/dw-draft-simulator.png');
}

.fa-fp-adp-rankings {
    background-image: url('https://images.fantasypros.com/images/icons/fp-adp-rankings.png');
}
.fa-fp-auction-calculator {
    background-image: url('https://images.fantasypros.com/images/icons/fp-auction-calculator.png');
}
.fa-fp-auction-simulator {
    background-image: url('https://images.fantasypros.com/images/icons/fp-auction-simulator.png');
}
.fa-fp-bye-week-cheat-sheets {
    background-image: url('https://images.fantasypros.com/images/icons/fp-bye-week-cheat-sheets.png');
}
.fa-fp-cheat-sheets {
    background-image: url('https://images.fantasypros.com/images/icons/fp-cheat-sheets.png');
}
.fa-fp-dashboard {
    background-image: url('https://images.fantasypros.com/images/icons/fp-dashboard.png');
}
.fa-fp-depth-charts {
    background-image: url('https://images.fantasypros.com/images/icons/fp-depth-charts.png');
}
.fa-fp-dfs-lineup-optimizer {
    background-image: url('https://images.fantasypros.com/images/icons/fp-dfs-lineup-optimizer.png');
}
.fa-fp-draft-analyzer {
    background-image: url('https://images.fantasypros.com/images/icons/fp-draft-analyzer.png');
}
.fa-fp-draft-assistant {
    background-image: url('https://images.fantasypros.com/images/icons/fp-draft-assistant.png');
}
.fa-fp-draft-kit {
    background-image: url('https://images.fantasypros.com/images/icons/fp-draft-kit.png');
}
.fa-fp-draft-simulator {
    background-image: url('https://images.fantasypros.com/images/icons/fp-draft-simulator.png');
}
.fa-fp-expert-accuracy {
    background-image: url('https://images.fantasypros.com/images/icons/fp-expert-accuracy.png');
}
.fa-fp-expert-rankings {
    background-image: url('https://images.fantasypros.com/images/icons/fp-expert-rankings.png');
}
.fa-fp-matchup-calendar {
    background-image: url('https://images.fantasypros.com/images/icons/fp-matchup-calendar.png');
}
.fa-fp-multi-league-assistant {
    background-image: url('https://images.fantasypros.com/images/icons/fp-multi-league-assistant.png');
}
.fa-fp-my-leagues {
    background-image: url('https://images.fantasypros.com/images/icons/fp-my-leagues.png');
}
.fa-fp-projections {
    background-image: url('https://images.fantasypros.com/images/icons/fp-projections.png');
}
.fa-fp-research-assistant {
    background-image: url('https://images.fantasypros.com/images/icons/fp-research-assistant.png');
}
.fa-fp-ros-rankings {
    background-image: url('https://images.fantasypros.com/images/icons/fp-ros-rankings.png');
}
.fa-fp-start-sit-assistant {
    background-image: url('https://images.fantasypros.com/images/icons/fp-start-sit-assistant.png');
}
.fa-fp-stat-leaders {
    background-image: url('https://images.fantasypros.com/images/icons/fp-stat-leaders.png');
}
.fa-fp-strength-of-schedule {
    background-image: url('https://images.fantasypros.com/images/icons/fp-strength-of-schedule.png');
}
.fa-fp-target-leaders {
    background-image: url('https://images.fantasypros.com/images/icons/fp-target-leaders.png');
}
.fa-fp-trade-analyzer {
    background-image: url('https://images.fantasypros.com/images/icons/fp-trade-analyzer.png');
}
.fa-fp-trade-assistant {
    background-image: url('https://images.fantasypros.com/images/icons/fp-trade-assistant.png');
}
.fa-fp-waiver-assistant {
    background-image: url('https://images.fantasypros.com/images/icons/fp-waiver-assistant.png');
}
.fa-fp-weekly-rankings {
    background-image: url('https://images.fantasypros.com/images/icons/fp-weekly-rankings.png');
}
.fa-fp-wsis {
    background-image: url('https://images.fantasypros.com/images/icons/fp-wsis.png');
}
.fa-fp-league-analysis {
    background-image: url('https://images.fantasypros.com/images/icons/fp-league-analysis.png');
}
.fa-dfs-cheat-sheet {
    background-image: url('https://images.fantasypros.com/images/icons/dfs-cheat-sheet.png');
}
.fa-dfs-lineup-optimizer {
    background-image: url('https://images.fantasypros.com/images/icons/dfs-lineup-optimizer.png');
}
.fa-dfs-ownership {
    background-image: url('https://images.fantasypros.com/images/icons/dfs-ownership.png');
}
.fa-dfs-roi-analyzer {
    background-image: url('https://images.fantasypros.com/images/icons/dfs-roi-analyzer.png');
}
.fa-dfs-salary-changes {
    background-image: url('https://images.fantasypros.com/images/icons/dfs-salary-changes.png');
}
.fa-dfs-value {
    background-image: url('https://images.fantasypros.com/images/icons/dfs-value.png');
}

.visible-nfl-dw-pro,
.visible-nfl-dw-pro-sync,
.visible-nfl-dw-mobile-pro,
.visible-nfl-dw-mobile-pro-sync,
.visible-nfl-mpb-pro,
.visible-nfl-mpb-free,
.visible-mlb-dw-pro,
.visible-mlb-dw-pro-sync,
.visible-mlb-dw-mobile-pro,
.visible-mlb-dw-mobile-pro-sync,
.visible-mlb-mpb-pro,
.visible-mlb-mpb-free,
.visible-nba-dw-pro,
.visible-nba-dw-pro-sync,
.visible-nba-dw-mobile-pro,
.visible-nba-dw-mobile-pro-sync,
.visible-nba-mpb-pro,
.visible-nba-mpb-free {
    display: none;
}

.visible-nfl-dw-none,
.visible-nfl-dw-mobile-none,
.visible-nfl-mpb-none,
.visible-mlb-dw-none,
.visible-mlb-dw-mobile-none,
.visible-mlb-mpb-none,
.visible-nba-dw-none,
.visible-nba-dw-mobile-none,
.visible-nba-mpb-none {
    display: block;
}

.nfl-dw-pro .visible-nfl-dw-none,
.nfl-dw-pro .visible-nfl-dw-pro-sync,
.nfl-dw-pro-sync .visible-nfl-dw-none,
.nfl-dw-pro-sync .visible-nfl-dw-pro,
.nfl-dw-mobile-pro .visible-nfl-dw-mobile-none,
.nfl-dw-mobile-pro .visible-nfl-dw-mobile-pro-sync,
.nfl-dw-mobile-pro-sync .visible-nfl-dw-mobile-none,
.nfl-dw-mobile-pro-sync .visible-nfl-dw-mobile-pro,
.nfl-mpb-free .visible-nfl-mpb-none,
.nfl-mpb-free .visible-nfl-mpb-pro,
.nfl-mpb-pro .visible-nfl-mpb-none,
.nfl-mpb-pro .visible-nfl-mpb-free,
.mlb-dw-pro .visible-mlb-dw-none,
.mlb-dw-pro .visible-mlb-dw-pro-sync,
.mlb-dw-pro-sync .visible-mlb-dw-none,
.mlb-dw-pro-sync .visible-mlb-dw-pro,
.mlb-dw-mobile-pro .visible-mlb-dw-mobile-none,
.mlb-dw-mobile-pro .visible-mlb-dw-mobile-pro-sync,
.mlb-dw-mobile-pro-sync .visible-mlb-dw-mobile-none,
.mlb-dw-mobile-pro-sync .visible-mlb-dw-mobile-pro,
.mlb-mpb-free .visible-mlb-mpb-none,
.mlb-mpb-free .visible-mlb-mpb-pro,
.mlb-mpb-pro .visible-mlb-mpb-none,
.mlb-mpb-pro .visible-mlb-mpb-free,
.nba-dw-pro .visible-nba-dw-none,
.nba-dw-pro .visible-nba-dw-pro-sync,
.nba-dw-pro-sync .visible-nba-dw-none,
.nba-dw-pro-sync .visible-nba-dw-pro,
.nba-dw-mobile-pro .visible-nba-dw-mobile-none,
.nba-dw-mobile-pro .visible-nba-dw-mobile-pro-sync,
.nba-dw-mobile-pro-sync .visible-nba-dw-mobile-none,
.nba-dw-mobile-pro-sync .visible-nba-dw-mobile-pro,
.nba-mpb-free .visible-nba-mpb-none,
.nba-mpb-free .visible-nba-mpb-pro,
.nba-mpb-pro .visible-nba-mpb-none,
.nba-mpb-pro .visible-nba-mpb-free {
    display: none;
}

.nfl-dw-pro .visible-nfl-dw-pro,
.nfl-dw-pro-sync .visible-nfl-dw-pro-sync,
.nfl-dw-mobile-pro .visible-nfl-dw-mobile-pro,
.nfl-dw-mobile-pro-sync .visible-nfl-dw-mobile-pro-sync,
.nfl-mpb-pro .visible-nfl-mpb-pro,
.nfl-mpb-free .visible-nfl-mpb-free,
.mlb-dw-pro .visible-mlb-dw-pro,
.mlb-dw-pro-sync .visible-mlb-dw-pro-sync,
.mlb-dw-mobile-pro .visible-mlb-dw-mobile-pro,
.mlb-dw-mobile-pro-sync .visible-mlb-dw-mobile-pro-sync,
.mlb-mpb-pro .visible-mlb-mpb-pro,
.mlb-mpb-free .visible-mlb-mpb-free,
.nba-dw-pro .visible-nba-dw-pro,
.nba-dw-pro-sync .visible-nba-dw-pro-sync,
.nba-dw-mobile-pro .visible-nba-dw-mobile-pro,
.nba-dw-mobile-pro-sync .visible-nba-dw-mobile-pro-sync,
.nba-mpb-pro .visible-nba-mpb-pro,
.nba-mpb-free .visible-nba-mpb-free {
    display: block;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}