@charset "utf-8";
/* CSS Document */
/* Reset */

	/* SD Web Font Load : 20140929 추가 */
        @font-face {
            font-family: 'SDGdGothic';
            src: url('http://cache.clien.net/cs2/data/font/SDGdGothic.eot'); /*IE9 Compat Modes */
            src: url('http://cache.clien.net/cs2/data/font/SDGdGothic.eot?#iefix') format('embedded-opentype'),
                 url('http://cache.clien.net/cs2/data/font/SDGdGothic.woff') format('woff');
            font-style: normal;
            font-weight: normal;
        }
        @font-face {
            font-family: 'SDNeorang';
            src: url('http://cache.clien.net/cs2/data/font/SDNeorang-aLt.eot'); /*IE9 Compat Modes */
            src: url('http://cache.clien.net/cs2/data/font/SDNeorang-aLt.eot?#iefix') format('embedded-opentype'),
                 url('http://cache.clien.net/cs2/data/font/SDNeorang-aLt.woff') format('woff');
        }
        @font-face {
            font-family: 'SDTypewrite';
            src: url('http://cache.clien.net/cs2/data/font/SDTypewrite-aLt.eot'); /*IE9 Compat Modes */
            src: url('http://cache.clien.net/cs2/data/font/SDTypewrite-aLt.eot?#iefix') format('embedded-opentype'),
                 url('http://cache.clien.net/cs2/data/font/SDTypewrite-aLt.woff') format('woff');
        }

*{margin:0;padding:0;}
html{overflow-y:scroll;overflow-x:auto;}
li{list-style:none;}
body{padding-left: 4px; padding-top: 2px; font:12px Tahoma,"굴림",Gulim,AppleSDGothicNeo,AppleGothic;/*background:url(../img/bg_body.gif) repeat-x 0 0;l*/line-height:15px;text-align:left;}
td, td a, h2{font-family:Tahoma,"굴림",Gulim,AppleSDGothicNeo,AppleGothic;} /* 100119 수정 했습니다 */
img, fieldset{border:0 none;}
table{border-collapse:collapse;}
html:first-child select{padding-right:6px; height:20px;}
option{padding-right:6px;}
textarea{overflow:auto;}
a{color:#374273;text-decoration:none;} /* 특정 링크를 제외한 링크 텍스트의 색을 지정 합니다 */
a:hover{color:#cc0000;} /* 모든 링크 텍스트는 마우스 오버시 적갈색으로 변합니다. 현 사이트와 동일 */
a:link{text-decoration:none;}

/* common */
.content_image{cursor:pointer;}
.input_check{width:13px;height:13px;}
textarea{*margin:-1px 0;} /* ie hack */
.hidden{display:none;}
.category{color:#1061a6;}
.nobg{background:none !important;}
.cb{clear:both;}
legend{display:none;}
#header a{color:#374273;text-decoration:none;} /* 워드 때문에.. ㅠ_ㅠ */
#snb a{color:#374273;text-decoration:none;}
#aside a{color:#374273;text-decoration:none;}
#footer a{color:#374273;text-decoration:none;}
/* layout */ /* 각 레이아웃의 크기와 플로트를 설정합니다. */

#wrapper{width:100%;}
#wrap{width:1135px;margin:0 auto;overflow:hidden;}
#container{float:left;}
#header{background:url(../img/bg_gnb.gif) no-repeat 0 0;width:922px;height:30px;overflow:hidden;}	



#content{width:782px;float:left;overflow:hidden;}
#content{float:left;}
#footer{float:left;clear:both;width:783px;margin-bottom:16px;}
#aside{width:198px;float:left;}


/* Header */

#header{margin:1px 0 10px 0;}
#gnb img{vertical-align:top;}
#gnb h1{padding-left:9px;float:left;}
#gnb ul{padding:14px 0 0 15px;float:left;}
#gnb li{color:#bec9d4;float:left;line-height:13px;vertical-align:top;padding-right:17px;}
#gnb li a{color:#bec9d4;}
.search_google{text-align:right;float:right;padding:6px 9px 0 0;}
.input_search_google{height:12px;*margin:-1px 0;vertical-align:top;}
.btn_search_google{padding-top:2px;}

/* side navigation bar */

#snb{float:left;clear:both;padding-left:3px;}
#account{background-color:#f0f3f5;border:2px solid #c8d0d9;width:123px;height:111px;}
#account fieldset{height:86px;}
#account dt{display:none;}
#account dl{padding:13px 0 0 5px;}
#account dd input{width:102px;height:17px;*margin:-1px 0;font:11px "굴림", dotum, Arial;border-top:1px solid #9a9a9a;border-left:1px solid #9a9a9a;border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;color:#b2b2b2;line-height:19px;padding:0 5px;}
#account li{float:left;}
#account .user_id{padding-bottom:7px;}
.user_id img{display:inline !important;}

.login_btn{padding:9px 0 0 9px;overflow:hidden;}
.login_btn img{vertical-align:top;padding:10px 0 0 5px;}
.login_btn .input_check{margin:3px 0 0 0;}
.login_btn .submit{padding-left:20px;}
.login_join{clear:both;color:#374273;font-size:11px;padding:5px 0 0 5px;vertical-align:top;}
.login_join .l1{padding-right:14px;}

#account .user_id_img{background:url(../img/bg_id.gif) no-repeat 0 0;}
#account .user_id_pass{background:url(../img/bg_pass.gif) no-repeat 0 0;}


#account .member_info{width:118px;border-bottom:2px dotted #c8d0d9;padding:15px 0 10px 0;text-align:center;margin:0 auto;}
#account .member_info a{color:#000;}
#account .member_info a:hover{color:#cc0000;}
#account .member_btn{padding:8px 0 0 0;}
#account .member_btn a{color:#000;}
#account .member_btn a:hover{color:#cc0000;}
#account .member_btn ul{clear:both;width:104px;margin:0 auto;}
#account .member_btn li{padding-bottom:3px;}
#account .point, #account .scrap{width:56px;background:url(../img/bg_account.gif) no-repeat 46px 1px;}
#account .uid{font-weight:bold;color:#000;}
#account select{width:106px;margin:2px 0 0 8px;font-size:11px;height:18px;}
#snb_navi1{width:123px;border:2px solid #c8d0d9;margin-top:9px;color:#374273; background-color:#ffffff;}
#snb_navi1 ul{width:112px;margin:0 auto;padding:9px 0 2px 0;}
#snb_navi1 li{height:12px;padding:0 0 8px 7px;overflow:hidden;}
#snb_navi1 li img{margin-bottom:-1px;padding-right:5px;}
#snb_navi2{width:123px;border:2px solid #c9d9c7;margin-top:10px;color:#374273; background-color:#ffffff;}
#snb_navi2 h2{color:#267611;font-size:12px;font-weight:bold;border-bottom:2px solid #c9d9c7;background-color:#f2faf0;padding:4px 0 3px 11px;}
#snb_navi2 ul{width:112px;margin:0 auto;padding:9px 0 2px 0;}
#snb_navi2 li{height:12px;padding:0 0 8px 7px;overflow:hidden;}
#snb_navi2 li img{margin-bottom:-1px;padding-right:5px;}
#snb .list_end1{border-bottom:1px solid #c8d0d9;padding:0 0 7px 7px;margin-bottom:6px;}
#snb .list_end2{border-bottom:1px solid #c9d9c7;padding:0 0 7px 7px;margin-bottom:6px;}


/* content */

#content{margin-left:10px;}
.board_title{border:2px solid #c8d0d9; position:relative; background-color:#fff;width:758px; height:70px; padding:10px;overflow:hidden;} /* 광고때문에 수정*/
.board_title a{color:#374273 !important;text-decoration:none !important;}
.board_title1{border:2px solid #ff0000;background-color:#fff;width:600px;padding:10px;}
.board_title2{float:left;border:2px solid #c8d0d9;background-color:#fff;width:490px;padding:10px;}
.board_title2 a{color:#374273 !important;text-decoration:none !important;}
.board_title3 {float:right;width:248px;height:125px;padding-left:5px;}

.board_title .board_icon{float:left;padding-right:5px;padding-top:1px;}
.board_title .board_notice{color:#999a9c;margin:12px 0 0 17px;font-weight:bold;}
.board_title .board_notice2{color:#374273;margin:12px 0 0 17px;font-weight:bold;}
.board_title .board_notice span{text-decoration:underline;color:#162d63;}	
.board_title .board_notice span img{margin-bottom:-1px;}

.board_title2 .board_icon{float:left;padding-right:5px;padding-top:1px;}
.board_title2 .board_notice{color:#999a9c;margin:12px 0 0 17px;font-weight:bold;}
.board_title2 .board_notice span{text-decoration:underline;color:#162d63;}
.board_title2 .board_notice span img{margin-bottom:-1px;}
#content h2{font-size:14px;color:#162d63;*padding-top:1px;border:height:14px;}
.board_head{overflow:hidden;clear:both;}
.total_count{color:#002b49;font:10px tahoma;letter-spacing:1px;float:left;padding:15px 0 4px 5px}
.head_btn{float:left;height:18px;overflow:hidden;padding:9px 0 4px 547px;}
.head_btn .btn_rss{padding:3px 0 0 5px;}
.head_btn .btn_bookmark{padding:3px 0 0 5px;}
.head_btn li{float:left;}

.head_btn_hongbo{float:left;height:18px;overflow:hidden;padding:9px 0 4px 437px;}
.head_btn_hongbo .btn_rss{padding:3px 0 0 5px;}
.head_btn_hongbo .btn_bookmark{padding:3px 0 0 5px;}
.head_btn_hongbo li{float:left;}

.category_bg_line{background-color:#6f98ba;clear:both;height:1px;overflow:hidden;margin-left:1px;margin-right:3px;line-height:1px;}
.board_category{border-left:1px solid #6f98ba;border-right:1px solid #6f98ba;width:778px;overflow:hidden;clear:both;}
.board_category1{border-left:1px solid #ff0000;border-right:1px solid #ff0000;width:778px;overflow:hidden;clear:both;}

.board_category li{float:left;font-size:11px;color:#374273;font:11px "굴림", Gulim;background:url(../img/bg_category_list.gif) no-repeat right 4px;padding:3px 12px 0 12px;height:13px;*padding-top:_4px;}
.board_category .all{font-weight:bold;padding-left:10px;}
.board_main{clear:both;padding-top:5px;}
.board_main table{width:100%;text-align:center;border-bottom:2px solid #ebebeb;}
.board_main th{background-color:#dde1e6;border-bottom:2px solid #fff;padding:8px 0 6px 0;*padding:8px 0 3px 0;}
.twl{border-left:1px solid #fff;border-right:1px solid #fff;}
.board_main td{font:11px "굴림",Gulim,AppleSDGothicNeo,AppleGothic;color:#374273;border-bottom:1px solid #ebebeb;padding:4px 0 3px 0;}
.board_main img{vertical-align:top;}
.post_notice{background-color:#f4f3f3;}
.post_notice a{font-weight:bold;}
.post_notice td{border-bottom:none;}
.post_category{font-size:12px !important;color:#1061a6 !important;*padding:5px 0 2px 0 !important;text-align:left;}
.post_subject{font-size:12px !important;text-align:left;*padding:5px 0 2px 0 !important;}
.post_subject a{word-break:break-all;}
.post_subject span{font-size:10px;color:#000;padding-left:5px;}
.search_text{font-size:12px !important;color:#ff0000 !important;background-color:#ffff00 !important;padding:0px !important;}
.post_name{font-size:12px !important;height:16px;overflow:hidden;}	
.post_name_h{font-size:12px !important;height:30px;overflow:hidden;}	

.board_foot{padding-top:6px;padding-bottom:6px;position:relative;}
.paging {text-align:center;position:relative;padding:10px 0 20px 0;}
.paging a{color:#324d6a;font-weight:bold;padding:3px 3px 4px;margin:0 3px;}
.paging .cur_page{font-size:13px;font-weight:bold;color:#8a1a27;border:1px solid #ccc;padding:3px 3px 4px;}
.paging .page_text {border:1px solid #ccc;font:11px "굴림",Gulim,AppleSDGothicNeo,Tahoma;padding:7px 4px 5px 4px;*padding:7px 4px 3px 4px;margin:0 2px;}
.paging .page_search {border:1px solid #ccc;font-weight:bold;color:#8a1a27;}
.paging .page_search a{font-weight:bold;}
/*.paging .text{font-size:11px;font-family:"Malgun Gothic", sans-serif;color:#8a1a27;height:16px;padding-top:4px;border:1px solid #ccc;}*/

.search_board{clear:both;overflow:hidden;margin:0 auto;width:230px;}
.search_board .search_input_text{height:14px;vertical-align:top;float:left;margin-left:3px;width:89px;}
.search_board .search_input_img{float:left;padding-left:3px;}
.search_board select{height:18px;line-height:15px;font-size:11px;width:88px;margin:-1px;*font-size:9px;} /* ie hack */
.select_box{border:1px solid #7f9db9;width:86px;height:16px;overflow:hidden;float:left;}
.search_board select option{height:10px;overflow:}
.admin_button{clear:both;float:right;}
.admin_button li{float:left;padding:8px 0 0 5px;*padding:2px 0 0 5px;}

.list_button{position:absolute;top:10px;}
/*.write_button{position:absolute;left:720px;top:13px;}*/
.write_button{position:absolute;left:720px;top:6px;}

	/* board_view */
.view_head{background-color:#dde1e6;height:17px;color:#374273;padding:6px 0 2px 0;*padding:4px 0 3px 0;}
.view_head a{color:#374273 !important;text-decoration:none !important;}
.user_info{float:left;padding-left:8px;}
.user_info span{font-size:11px;color:#808080;}
.post_info{float:right;padding-right:13px;}

.view_title{clear:both;border-bottom:5px solid #dde1e6;padding:10px 0 4px 18px;float:left;width:764px;word-break:break-all;}
.view_title div{float:left;}
.title_btn{float:right;padding:20px 5px 0 0;}
.view_title h3{font-size:12px;font-weight:normal;}
.view_title h4{font:14px "굴림",Gulim,AppleSDGothicNeo,AppleGothic;font-weight:bold;}
.view_content{clear:both;font:12px "굴림",Gulim,AppleSDGothicNeo;line-height:19px;padding:4px 4px 46px 17px;word-break:break-all;}
.view_content_btn{text-align:right;margin-bottom:10px;}
.view_content_btn img{display:inline !important;}
.view_content_btn2{margin:0 auto;width:300px;overflow:hidden;}
.view_content_btn3{margin:0 auto;width:300px;}
.view_content_btn3 li{float:left;padding-right:6px;}
.view_content_btn3 img{display:inline !important;}
.view_content_btn2 li{float:left;padding-right:6px;}
.ad_area1{clear:both;text-align:center;padding:20px 0 20px 0;font-weight:normal;}
.reply_head{background-color:#f3f3f3;height:16px;padding:4px 14px 4px 9px;line-height:16px;margin-top:20px;}
.repla_head a{color:#374273 !important;text-decoration:none !important;}
.reply_head1{background-color:#f3f3f3;height:16px;padding:4px 14px 4px 9px;line-height:16px;margin-top:20px;}
.reply_info{float:left;color:#898989;font-size:11px;}
.reply_info .user_id{color:#374273;padding-right:2px;}
.reply_info .block{font-size:12px;padding:0 5px 0 13px;_line-height:19px;}
.reply_head li{float:left;}
.reply_btn{float:right;}
.reply_btn li{padding-left:3px;}
.reply_btn img{vertical-align:top;padding-top:1px;}
.reply_btn .report{padding:3px 0 0 7px;}
.reply_btn .ip{color:#b2b2b2;padding-right:7px;font-size:12px;font-weight:normal;}
.reply_content{clear:both;word-break:break-all;padding:4px 0 0px 22px;margin-bottom:-9px;font:12px "굴림",Gulim,AppleSDGothicNeo,AppleGothic;line-height:19px;color:#000;font-weight:normal;}
.reply_write{border:2px solid #dde1e6;width:738px;height:71px;padding:5px 0 0 0;margin:25px auto 0 auto;background-color:#f3f3f3;position:relative;}
.reply_write textarea{float:left;width:551px;*width:532px;height:64px;font:11px "굴림" Gulim;vertical-align:top;}
.reply_write input{float:left;margin-left:7px;}
.reply_write span{display:block;float:left;}
.reply_write .user{width:100px;padding:5px 0 0 0;font-size:12px;font-weight:normal;text-align:center;}
.reply_write .user .member{text-align:center;width:100%}
.reply_write .user img{display:inline !important;}
.reply_write .up{padding:0 3px 0 16px;}
.reply_write .down{position:absolute;top:63px;left:77px;}
.view_board{border-top:1px solid #ebebeb;margin-top:27px;}
.view_board a{color:#374273 !important;text-decoration:none !important;}

	/* ccl, 서명 관련 추가된 클래스 */
	.ccl{width:728px;text-align:right;margin:0 auto;}
	.ccl img{display:inline !important;}
	.signature{color:#667e99;margin-top:20px;}
	.signature img{display:inline !important;}
	.signature dl{width:728px;overflow:hidden;margin:0 auto;}
	.signature dt{border-bottom:2px solid #c8d0d9;height:18px;overflow:hidden;}
	.signature dd{padding:7px 0 0 20px;}
	

/* footer */

#footer{padding-top:20px;font-size:12px;font-weight:normal;}
#footer a{color:#555;}
#footer a:hover{color:#cc0000;}
#footer ul{overflow:hidden;float:left;width:780px;background-color:#f2f2f2;border-top:1px solid #c4c4c4;border-bottom:1px solid #c4c4c4;}
#footer li{float:left;height:18px;padding:9px 6px 0 33px;color:#555;}
#footer dl{color:#555;float:left;margin:8px 0 0 9px;}
#footer dd{line-height:14px;}
#footer .bg{background:url(../img/bg_footer.gif) no-repeat 0 0; width:1px;height:29px;float:left;}
.foot_logo{clear:both;float:left;padding-top:8px;}
.footer_rule{font-weight:bold;}
.btn_foot_top{padding:0 0 0 30px;font-weight:bold;}
.btn_foot_top img{vertical-align:top;padding:3px 3px 0 0;}

/* aside */

#aside{margin:1px 0 0 13px; width:198px;}
.aside_notice{background:url(../img/bg_notice_new_top.gif) no-repeat 0 0;overflow:hidden;padding-top:3px;margin-left:0px;font-size:12px;font-weight:normal;}
.aside_notice h2{font-size:12px;font-weight:bold;color:#686868;width:80px;margin:0 auto;padding:2px 0 1px 0;background:url(../img/bg_notice_new_title.gif) no-repeat 0 0;text-align:center;}
.aside_notice ul{background-color:#fff;border-left:1px solid #526172;border-right:1px solid #526172; padding-bottom:7px;}
.aside_notice li{padding:15px 9px 0 11px;color:#374273;font-weight:bold;}
.aside_notice li span{color:#000;font-weight:normal;}
.aside_notice .bg_btm{background:url(../img/bg_notice_new_btm.gif) no-repeat 0 0; width:198px; height:7px;}

.aside_sponser{background:url(../img/bg_sponser_top2.gif) no-repeat 0 0; width:190px; margin-left:3px; padding-top:12px;margin-top:16px;font-size:12px;font-weight:normal;}
.aside_sponser ul{border-left:1px solid #c39e9e;border-right:1px solid #c39e9e;padding:1px;}
.aside_sponser dt{font-size:14px;color:#374273;font-weight:bold;line-height:24px;}
.sponser1{border:1px solid #c4c4c4;width:184px;background-color:#e1e4f0;margin-bottom:1px;padding:5px 0 2px 0;}
.sponser2{border:1px solid #c4c4c4;width:184px;background-color:#e2f0e1;margin-bottom:1px;;padding:5px 0 2px 0;}
.sponser3{border:1px solid #c4c4c4;width:184px;background-color:#f4e5e5;;padding:5px 0 2px 0;}
.sponser4{border:1px solid #c4c4c4;width:184px; padding:0;}
.aside_sponser .bg_btm{background:url(../img/bg_sponser_btm.gif) no-repeat 0 0;height:1px;}

.aside_preview{width:186px;margin:0 auto;font-size:12px;font-weight:normal;}
.aside_preview h2{font-size:12px;font-weight:bold;color:#374273;float:left;}
.aside_preview ul{clear:both;overflow:hidden;}
.aside_preview li{clear:both;padding:2px 0 1px 0;*padding:1px 0 1px 0;}
.aside_preview .category{display:block;float:left;padding:0 4px 0 7px;}
.aside_preview .title{color:#374273;display:block;float:left;width:112px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');} /* 크기가 넘어가면 ... 으로 표시됩니다. 파이어폭스 핵이 포함되어 있습니다 */
.aside_preview .title, x:-moz-any-link, x:default{padding-top:1px;} /* FF3 hack */
.aside_preview .title2{color:#374273;display:block;float:left;width:128px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');} /* 크기가 넘어가면 ... 으로 표시됩니다. 파이어폭스 핵이 포함되어 있습니다 */
.aside_preview .title2, x:-moz-any-link, x:default{padding-top:1px;} /* FF3 hack */
.aside_hit{display:block;font:10px "굴림",Gulim,AppleSDGothicNeo;color:#88959d;float:left;padding-top:3px;}
.preview_title{width:174px;background-color:#dde1e6;overflow:hidden;padding:4px 0 2px 12px;clear:both;margin:18px 0 4px 0;}
.btn_aside_more{float:right;vertical-align:top;padding:5px 10px 0 0;}

/* member alert Layer by Jun */ 
#centerLayer
{
	background-color:#FFFFFF; 
	width:350px; 
	height:200px; position:absolute;
	top:50%;   
	left:50%; 
	margin:-180px 0 0 -150px;                        
	border:5px solid #374273; 
	text-align:center;
}
#centerLayer span.msgHead { float:left; width:350px; line-height:30px; height:30px; font-weight:bold; border-bottom:1px solid #374273; padding-top:5px; padding-bottom:5px;}
#centerLayer span.msgBody { float:left; width:350px; height:100px; padding:30px 0px 0px 0px;}
#centerLayer span.bottom  { float:left; width:350px; line-height:30px; height:30px; padding-top:5px; padding-bottom:5px;}


#menuRay {position:absolute;width:150px;height:118px;display:none;overflow:hidden;z-index:99;border:3px solid #000;background-color:#FAFAFA;}


.menuRay{ position:absolute;overflow:hidden;width:130px;height:118px; font: 12px/120% dotum; border:1px solid #C8C8C8; text-align:left;background-color:#FAFAFA;padding:8px 8px 8px 8px;}
.menuRay div{padding:10px 5px 5px 5px; position:relative;text-align:left; border:3px solid #000; background-color: #FFF;}
.menuRay h5{font:bold 12px Gulim,dotum;margin:0 0 8px 0;letter-spacing:-2px; }
.menuRay .close{position:absolute;top:7px;right:7px;}
.menuRay li{list-style-type:decimal;list-style-position:inside;line-height:100%;padding-bottom:7px;color:#666;}
.menuRay p{clear:both;padding:8px 0 0 5px;font:normal 11px Gulim,'굴림',AppleSDGothicNeo;color:#4559E9;}



/* 091231 Main Style */
#NoticeArea:after {content:" "; display:block; clear:both; height:0; visibility:hidden;}
* html #NoticeArea {height:1%;}
*+html #NoticeArea {height:1%;}
#NoticeArea .Notice {float:left;width:472px;border-top:1px solid #bcc4cc;border-bottom:1px solid #74787e;background:#fff;}
#NoticeArea .Notice h2 {height:17px;background:#eef0f3 url(../img/icon_bul02.gif) 11px 7px no-repeat;font-size:12px;padding:6px 0 0 27px;}
#NoticeArea .Notice ul {padding:7px 0 7px 15px;border-bottom:1px solid #bcc4cc;}
#NoticeArea .Notice li {background:url(../img/icon_bul.gif) 0 8px no-repeat;color:#466c8a;line-height:20px;padding:0 0 0 11px;}
#NoticeArea .Notice li span {color:#000;}
#Recent {padding:2px 0 0 0;}
.RecentWrap {padding:20px 0 0 0;}
.RecentWrap:after {content:" "; display:block; clear:both; height:0; visibility:hidden;}
* html .RecentWrap {height:1%;}
*+html .RecentWrap {height:1%;}
#Recent  li {clear:both;padding:2px 0 2px 0;width:386px;overflow:hidden;white-space:nowrap;}
#Recent .date {color:#000;display:block;float:left;padding:0 4px 0 7px;}
#Recent .title {-moz-binding:url(ellipsis.xml#ellipsis);color:#374273;display:block;float:left;}
#Recent .read {font-size:10px;color:#000;display:block;float:left;margin-left:4px;}
#Recent  .RecentLeft, #Recent  .RecentLeftPhone  {float:left;}
#Recent  .RecentRight, #Recent  .RecentRightPhone {float:right;}
#Recent  .RecentLeft, #Recent  .RecentRight {width:386px;overflow:hidden;white-space:nowrap;}
#Recent  .RecentLeftPhone, #Recent  .RecentRightPhone {width:386px;overflow:hidden;}
#Recent  .RecentLeft ul, #Recent  .RecentRight ul {border-top:1px solid #bcc3cc;padding-top:2px;}
#Recent  .RecentLeftPhone ul, #Recent  .RecentRightPhone ul {border:1px solid #3f3f7f;padding:0 2px 2px 5px;}
#Recent  .RecentLeftPhone li, #Recent  .RecentRightPhone li {width:365px; padding:4px;}
#Recent  .RecentLeft h2, #Recent  .RecentRight h2 {font-size:12px;padding:0 0 1px 5px;} 
#Recent  .RecentLeftPhone h2, #Recent  .RecentRightPhone h2 {font-size:12px;} 
#Recent  .RecentLeft h2 img, #Recent  .RecentRight h2 img {vertical-align:top;padding-top:1px;} /* padding 수정 하였습니다 by 슬픈빈대 */
#Recent  .RecentLeftPhone h2 img, #Recent  .RecentRightPhone h2 img {vertical-align:middle;padding-top:0px;} /* padding 수정 하였습니다 by 슬픈빈대 */
#ThumbImg {background:#dde1e6;margin:25px 0 0 0;padding:10px 0 2px 10px}
#ThumbImg:after {content:" "; display:block; clear:both; height:0; visibility:hidden;}
* html #ThumbImg {height:1%;}
*+html #ThumbImg {height:1%;}
#ThumbImg li {-moz-binding:url(ellipsis.xml#ellipsis);display:inline;float:left;margin:0 10px 0 0;width:183px;text-align:center;}
#ThumbImg li a {display:block;white-space:nowrap;width:183px;}
#ThumbImg li img {display:block;margin:0 0 10px 0;}
#ThumbImg .read {font-size:10px;color:#000;margin-left:4px;}
#ThumbImg .title {-moz-binding:url(ellipsis.xml#ellipsis);color:#374273;letter-spacing:-1px;overflow:hidden;white-space:nowrap;}
.aside_preview ul.main {background:#fff;margin:-2px 0 0 0;padding:2px 0 0 0;}
.aside_preview ul.main .aside_hit {color:#222;}


/* 쪽지 관련 추가시킨 클래스 입니다. */

.style11{word-break:break-all;} /* 쪽지 제목 자동 줄바꿈 */

/* 메인페이지 광고 영역 변경 */
.content_hd{overflow:hidden}
.content_hd .content_hd_lft{float:left}
.content_hd .content_hd_lft .board_new{margin-top:20px}
.content_hd .content_hd_rgt{float:right;width:300px;height:250px;}
.content_hd .content_hd_lft li {clear:both;padding:2px 0 2px 0;width:445px;overflow:hidden;white-space:nowrap;}
.content_hd .date {color:#000;display:block;float:left;padding:0 4px 0 7px;}
.content_hd .title {-moz-binding:url(ellipsis.xml#ellipsis);color:#374273;display:block;float:left;}
.content_hd .read {font-size:10px;color:#000;display:block;float:left;margin-left:4px;}
.content_hd .board_new ul {border-top:1px solid #bcc3cc;padding-top:2px;}
.content_hd .board_new h2 img {vertical-align:top;padding-top:1px;} /* padding 수정 하였습니다 by 슬픈빈대 */
.content_hd .board_new li {clear:both;padding:2px 0 2px 0;width:470px;overflow:hidden;white-space:nowrap;}


/* 기업회원 관련 신규 */
.join_ct{margin-left:23px;min-height:711px;font-family:Gulim}
.join_ct  button{cursor:pointer}
.join_ct .ct_hd{overflow:hidden;position:relative;height:51px;background:url(../img/bg_dotted_top.gif) no-repeat 0 bottom}
.join_ct .ct_hd h2{position:absolute;top:7px;left:0;height:22px;padding:12px 0 0 42px;background:url(../img/bg_join_h.gif) no-repeat 0 0;*height:29px;*line-height:29px}
.join_ct .ct_hd p{margin-top:18px;text-align:center}
.join_ct .join_main{text-align:center}
.join_ct .join_main .tx1{margin-top:56px}
.join_ct .join_main .btn1{margin-top:55px}
.join_ct .join_main .btn2{margin-top:16px}
.join_ct .join_main .tx2{margin-left:-20px}
.join_ct .join_notice{margin-top:28px;padding:15px 0 0 122px;background:url(../img/bg_dotted_btm.gif) no-repeat 0 0}
.join_ct .join_notice li{line-height:14px}
.join_ct .join_notice p{margin-top:20px}
.join_ct .join_proc{padding-bottom:31px;font-family:Malgun Gothic;margin-top:26px;font-size:18px;text-align:center}
.join_ct .join_proc li{display:inline-block;vertical-align:top;padding-bottom:13px;margin:0 39px;*zoom:1;*display:inline}
.join_ct .join_proc li.active{padding:0 2px 13px;border-bottom:5px solid #374273;font-weight:bold}
.join_ct .bx_agree{width:624px;margin:0 auto 16px;padding:12px 0;background-color:#eee}
.join_ct .bx_agree h2{text-align:center;color:#222 !important;font-size:12px !important}
.join_ct .bx_agree .tx_agree{margin-top:8px;padding:0 5px}
.join_ct .bx_agree .tx_agree textarea{width:100%;border:1px solid #ccc;font-size:12px}
.join_ct .bx_agree .chk_agree{margin-top:12px;text-align:center}
.join_ct .bx_agree .chk_agree input{width:13px;height:13px;vertical-align:middle}
.join_ct .bx_agree .chk_agree label{vertical-align:middle}
.join_ct button{background:0;border:0;*overflow:visible}
.join_ct .btn_ct{text-align:center;padding-top:6px}
.join_ct .btn_ct input{margin:0 5px;vertical-align:top}
.join_ct .btn_ct button{margin:0 5px;vertical-align:top;*margin-top:-2px}
.join_ct .join_auth{padding-top:33px}
.join_ct .join_auth .btn1{margin-bottom:16px;text-align:center}
.join_ct .join_auth .btn2{text-align:center}
.join_ct .join_auth .tx_notice{margin:30px 0 0 110px}
.join_ct .bx_inp{width:740px;padding-top:20px;border:1px solid #c1c1c1;background-color:#f4f4f4}
.join_ct .bx_inp .inp_item{position:relative;padding:0 0 25px 45px}
.join_ct .join_inp .lst_notice_hd{margin:17px 0 0 20px}
.join_ct .inp_item .inp_hd{overflow:hidden;padding:0 0 8px 5px}
.join_ct .inp_item .inp_hd .tit{min-width:94px;float:left;font-size:14px;font-weight:bold}
.join_ct .inp_item .inp_hd .tx{float:left}
.join_ct .inp_item .inp_ct .inp_join{display:inline-block;width:188px;height:29px;padding:0 10px;border:1px solid #c1c1c1}
.join_ct .inp_item .inp_ct .tx{display:inline-block;margin:8px 0 0 20px;font-size:14px;vertical-align:top}
.join_ct .join_inp .tx_blue{color:#374273}
.join_ct .join_inp .tx_red{color:#c65e5e}
.join_ct .join_inp .tx_green{color:#377338}
.join_ct .inp_item .inp_ct .sec_level{display:inline-block;width:255px;height:31px;margin-left:13px;padding-right:15px;background:url(../img/bg_sec_level.gif) no-repeat 0 0;vertical-align:top;line-height:31px;text-align:right;*display:inline;*zoom:1}
.join_ct .inp_item .inp_ct .sec_level .level1{background:url(../img/graph_level1.gif) no-repeat 22px center}
.join_ct .inp_item .inp_ct .sec_level .level2{background:url(../img/graph_level2.gif) no-repeat 22px center}
.join_ct .inp_item .inp_ct .sec_level .level3{background:url(../img/graph_level3.gif) no-repeat 22px center}
.join_ct .inp_item .inp_ct .sec_level .level4{background:url(../img/graph_level4.gif) no-repeat 22px center}
.join_ct .inp_item .tx_antiauto{clear:both;display:block;padding-top:3px}
.join_ct .inp_item .antiauto{position:absolute;top:-4px;left:303px}
.join_ct .inp_item .antiauto .wrap_antiauto{overflow:hidden;float:left;width:208px;height:77px;border:1px solid #c1c1c1;background-color:#fff}
.join_ct .inp_item .antiauto .btn_refresh{float:left;margin:63px 0 0 13px}
.join_ct .join_inp .chk_mailing{padding:17px 0 0 87px;font-size:14px;font-weight:bold}
.join_ct .join_inp .chk_mailing input{width:13px;height:13px;vertical-align:middle}
.join_ct .join_inp .chk_mailing label{vertical-align:middle;margin-left:8px}
.join_ct .join_inp .btn_ct{padding:40px 0 20px}
.join_ct .join_inp .inp_mailing{font-size:14px;font-weight:bold}
.join_ct .join_inp .inp_mailing input{width:13px;height:13px;vertical-align:middle}
.join_ct .join_inp .inp_mailing label{vertical-align:middle;margin-left:5px}
.join_ct .join_inp h3{margin:44px 0 5px 8px;font-size:14px;color:#374273}
.join_ct .bx_inp .inp_item2{overflow:hidden;padding:0 81px 25px 50px}
.join_ct .bx_inp .inp_item2 .tit{display:inline-block;margin-top:7px;font-weight:bold;font-size:14px;padding-right:10px;vertical-align:top}
.join_ct .bx_inp .inp_item2 .item1{float:left}
.join_ct .bx_inp .inp_item2 .item2{float:right}
.join_ct .bx_inp .inp_join{display:inline-block;width:188px;height:29px;padding:0 10px;border:1px solid #c1c1c1}
.join_ct .bx_inp .inp_join_l{display:inline-block;width:498px;height:29px;padding:0 10px;border:1px solid #c1c1c1}
.join_ct .bx_inp2 .inp_hd .tit{width:auto;padding-right:15px}
.join_ct .bx_inp2 .inp_hd .tx{font-size:14px}
.join_ct .bx_inp2 .ta_join{width:612px;height:76px;border:1px solid #c3c3c3}
.join_ct .inp_ct .lst_notice_ta{margin:10px 0 0 17px;padding-left:16px;text-indent:-16px}
.join_ct .bx_join_notice{width:640px;padding:20px 50px;border:1px solid #c1c1c1;background-color:#f4f4f4}
.join_ct .bx_join_notice ol{font-size:14px;line-height:18px}
.join_ct .bx_join_notice ol>li{padding-left:16px;text-indent:-16px}
.join_ct .bx_join_notice ol ul li{margin-left:16px}
.join_ct .bx_join_msg{width:529px;margin:67px auto;border:1px solid #c1c1c1;background-color:#f4f4f4;font-size:14px}
.join_ct .bx_join_msg .tx_msg{padding:44px}
.join_ct .bx_join_msg .btn_ct{padding-bottom:53px}
.join_ct .bx_join_msg .btn_ct a{display:inline-block;vertical-align:top;margin:0 4px}
.join_ct .inp_item .tx_warning{display:inline-block;font-size:14px;margin:8px 0 0 18px;vertical-align:top}
.bx_inp .inp_ct .lst_bill{overflow:hidden;padding-left:27px}
.bx_inp .inp_ct .lst_bill li{float:left;font-size:14px;margin-right:30px}
.bx_inp .inp_ct .tx_enddate{margin:10px 0 0 28px}
.tx_promo_stat{padding-top:10px;font-size:14px;color:#595959;font-weight:bold}

/* 직접홍보 관련 */
.board_head{position:relative}
.board_head .promotion_wrap{overflow:hidden;margin:8px 0 3px}
.board_head .promotion_wrap .bx_promo{float:left;width:540px;height:26px;border:1px solid #374273;background-color:#f4f3f3}
.board_head .promotion_wrap .bx_promo h3{float:left;width:34px;height:18px;margin:4px 0 0 3px;background:url(../img/ico_ad.gif) no-repeat 0 0;text-indent:-999em}
.board_head .promotion_wrap .bx_promo .tx{display:block;float:left;width:490px;margin-left:8px;line-height:25px;color:#374273;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.board_head .promotion_wrap .link_board{float:left;margin:7px 0 0 17px;color:#000}
.board_head .tx_mypost_hd{position:absolute;top:0;left:0;width:100%;text-align:center;font-weight:bold}
.board_main button{border:0;background:0;*overflow:visible}
