@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

*, *:after, *:before { box-sizing: border-box; -moz-box-sizing: border-box; }
html { min-height: 100%; }
body { margin: 0; font-weight: 300; color: #3a3a3a; font-family: "Open Sans", sans-serif; font-size: 16px; -webkit-font-smoothing: antialiased; min-height: 100%; }
h1 { font-family: Montserrat; font-size: 36px; line-height: 120%; font-weight: bolder; color: #586474; letter-spacing: -2px; margin: 0 0 30px; padding-top: 50px; }
h2 { font-family: Montserrat; font-size: 24px; line-height: 120%; font-weight: bolder; color: #586474; letter-spacing: -2px; }
h3 { font-size: 14px; color: #586474; margin: 2em 0 1em; font-weight: 700; }
h4 { font-size: 14px; color: #586474; font-weight: 600; }
ul { list-style-type: none; margin: 0; padding: 0; }
fieldset { margin: 0; padding: 0; border: 0; }
a, a:visited { text-decoration: underline; color: #2270b9; }
a:hover { text-decoration: none; }
.content { width: 970px; margin: 0 auto; min-height: 400px; position: relative; }
.fy-logo { display: inline-block; position: relative; z-index: 1; width: 191px; height: 80px; background-repeat: no-repeat; background-color: transparent; background-position: 0 5px; background-size: 214px 76px; }
.reg { vertical-align: text-top; font-size: 50%; font-weight: 300; padding: 0 2px;}

header { width: 970px; margin: 0 auto; position: relative; }
footer { color: #ffffff; height: 155px; width: 970px; margin: 0 auto; opacity: .9; text-align: center; font-size: 12px; line-height: 26px; }
footer ul li { display: inline-block; color: #ffffff; padding-right: 6px;}
footer ul li:last-child { padding-right: 0;}
footer a { color: #ffffff !important; }

footer .follow { display: inline-block; width: 29px; height: 29px; vertical-align: middle; background-repeat: no-repeat; background-position: center center; background-color: transparent; }
.follow-fb { background-image: url(/img/follow_facebook_h20.png); }
.follow-tw { background-image: url(/img/follow_twitter_h20.png); }

input, button, select, label, textarea { position: relative; z-index: 1; }
input, button, textarea, select { font-family: "Open Sans",sans-serif; font-size: 13px; color: #3a3a3a; }

/* Buttons */
input[type=button].help { border: 0; background-color: transparent; color: #2270b9; font-size: 11px; cursor: pointer; } /* obsolete? */
input[type=button], button, .button { padding: 6px 10px; outline: 0; color: #000000; border-radius: 4px; cursor: pointer; border-style: none; background-image: linear-gradient(to bottom, #dbdbdb 0%, #b1b1b1 100%); box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset;}

input[type=button]:hover, button:hover, .button:hover { background-image: linear-gradient(to bottom, #e6e6e6 0%, #b1b1b1 100%);}
input[type=button]:active, button:active, .button:active { background-image: linear-gradient(to bottom, #d7d7d7 0%, #a7a7a7 100%); }

.button-style1 { color: #ffffff !important; background-image: linear-gradient(to bottom, #2d89de 0%, #2270b9 100%); box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; }
.button-style1:hover { background-image: linear-gradient(to bottom, #2d91de 0%, #2270b9 100%) !important; }
.button-style1:active { background-image: linear-gradient(to bottom, #287bc8 0%, #1a568f 100%) !important; }

.button-style2 { color: #ffffff !important; background-image: linear-gradient(to bottom, #55ac43 0%, #117b00 100%); box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; }
.button-style2:hover { background-image: linear-gradient(to bottom, #5dbb4a 0%, #117b00 100%) !important; }
.button-style2:active { background-image: linear-gradient(to bottom, #33991d 0%, #0f6900 100%) !important; }

/*
.button-style1 { color: #ffffff; padding: 4px 8px; border: solid #1b5d9a 1px; border-radius: 2px; background-color: #2270b9; cursor: pointer; 
	background-image: linear-gradient(to bottom, #2d89de 0%, #2270b9 100%);
	background-image: -webkit-linear-gradient(top, #2d89de 0%, #2270b9 100%);
}
.button-style1:hover { background-image: linear-gradient(to bottom, #3191e9 0%, #2270b9 100%); }
.button-style1:active { background-image: linear-gradient(to bottom, #2d75b8 0%, #1e578c 100%); }
.button-style1[disabled],
.button-style1[disabled]:hover { cursor: default; background-image: linear-gradient(to bottom, #89b5de 0%, #6c90b0 100%); }


@-webkit-keyframes ani1 { 0% 	{ background-position:-1500% -87px;  } 20%	{ background-position:800% -87px; } 100%{ background-position:1000% -87px; }}
@-moz-keyframes ani1 	{ 0% 	{ background-position:-1500% -87px;  } 20%	{ background-position:800% -87px; } 100%{ background-position:1000% -87px; }}
@-o-keyframes ani1 		{ 0% 	{ background-position:-1500% -87px;  } 20%	{ background-position:800% -87px; } 100%{ background-position:1000% -87px; }}
@-ms-keyframes ani1 	{ 0% 	{ background-position:-1500% -87px;  } 20%	{ background-position:800% -87px; } 100%{ background-position:1000% -87px; }}
@-moz-keyframes ani1 	{ 0% 	{ background-position:-1500% -87px;  } 20%	{ background-position:800% -87px; } 100%{ background-position:1000% -87px; }}
@keyframes ani1 		{ 0% 	{ background-position:-1500% -87px;  } 20%	{ background-position:800% -87px; } 100%{ background-position:1000% -87px; }}

.button-style2 { color: #ffffff; border: solid rgba(255, 255, 255, 0.2) 1px; 
	cursor: pointer;
	padding: 0; border: 0; 
	background-image: linear-gradient(to bottom, #2d89de 0%, #2270b9 100%);
	border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    transition: border-color 0.2s ease 0s;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset;
}
*/




#login-flyout { font-size: 12px; position: absolute; left: 0; top: -81px; width: 100%; height: 70px; border-bottom: solid #c4c4c4 1px; background-color: #f0f2f6;
	transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	-webkit-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
#login-flyout a { color: #3a3a3a !important; }
#login-flyout>div { width: 970px; height: 100%; margin: 0 auto; padding-top: 14px; position: relative; }
#login-flyout form { font-size: 13px; }
#login-flyout form>fieldset { position: absolute; right: 0; top: 12px; }

body.has-login-flyout { transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94); -webkit-transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94); }
body.show-login { margin-top: 70px; }
body.show-login #login-flyout { top: 0; }
body.show-login #lnkToggleLogin>span { transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); }

select,
textarea,
input[type=text],
input[type=password] { border: 1px solid #c4c4c4; border-radius: 2px; padding: 4px 8px; transition: border-color .05s linear 0s; -webkit-transition: border-color .05s linear 0s; }
input[type=text]:focus,
input[type=password]:focus { border-color: #aeaeae; box-shadow: 0 0 3px rgba(34, 112, 185, .3); }
::-webkit-input-placeholder { color: #949494; }
::-moz-placeholder { color: #949494; }
:-ms-input-placeholder { color: #949494; }
input:-moz-placeholder { color: #949494; }

fieldset>div { margin-bottom: 10px; position: relative; }
div.bubble { display: none; width: 264px; top: 0; left: -280px; position: absolute; z-index: 999; padding: 8px 12px; background-color: #000000; color: #ffffff; font-size: 11px; border-radius: 4px; box-shadow: 0 0 2px 0 rgba(0, 0, 0, 1); font-weight: 400; }
div.bubble > i { position: absolute; top: 4px; right: -9px; display: block; width: 10px; height: 24px; background: transparent url(/img/arrow_bk_tooltip_10x24.png) no-repeat 0 0; }
div.bubble-right > i { left: -9px; right: auto; transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); }
input:focus + div.bubble { display: block; }
.err { opacity: 0; color: #ff0000; font-size: 11px; position: absolute; width: 100%; height: 100%; padding-left: 320px; line-height: 27px; border-left: solid #ff0000 2px; top: 0; left: -10px; z-index: 0;
	transition: opacity .15s linear 0s;
	-webkit-transition: opacity .15s linear 0s;
} 
.err a { color: #ff0000; }

.login input[type=text] { width: 160px; margin-left: 4px; }
.login input[type=password] { width: 160px; }
/*
.login > fieldset > label:nth-child(1):before { content: 'Pseudonym:'; }
.login > fieldset > label:nth-child(2):before { content: 'Kennwort:'; }
*/
.login .login-options { font-size: 11px; }

button.facebook { text-indent: 28px; }
button.facebook > span:before { content: ''; display: inline-block; position: absolute; margin-left: -28px; width: 20px; height: 20px; background-image: url(/img/sprites@2X.png); background-size: 380px 380px; background-repeat: no-repeat; background-position: -5px -285px;  }

body.info { background: #ffffff url(/img/bg_home2_new_faded.jpg) no-repeat center bottom; background-size: 100% auto; }
body.info .content { font-size: 14px; }
body.info footer { margin-top: 200px; color: inherit; border-top: solid #ffffff 1px; padding-top: 16px; }
body.info footer a { color: #3a3a3a !important; }
body.info footer .follow-fb { background-image: url(/img/follow_facebook_h20_inv.png); }
body.info footer .follow-tw { background-image: url(/img/follow_twitter_h20_inv.png); }

/* Captcha */
#captcha-wrapper { width: 360px; height: auto; background-color: white; padding: 10px; position: relative; z-index: 1; border: 1px solid #c4c4c4; border-radius: 2px; }
#captcha-wrapper p, #captcha-wrapper .small { font-size: 12px; letter-spacing: normal; }
#captcha-input { overflow: hidden; width: 100%; position: relative; margin-bottom: 4px; }
#captcha-holder { float: left; width: 160px; height: 60px; }
#captcha-input label { position: absolute; bottom: 0; left: 180px; font-weight: 600; }
#captcha-userval { display: block; width: 124px !important; margin-top: 4px; padding: 5px; font-size: 17px; }

/* Content tables */
th { font-weight: 400; text-decoration: underline; }
td, th { text-align: left; padding-right: 2em; }

/* Multiple Column Layouts */

.multicol:before, .multicol:after { content: " "; display: table; }  
.multicol:after { clear: both; }  
.col { float: left; width: 310px; margin-right: 20px; min-height: 1px; }
.col:last-child { margin-right: 0; }
.multicol-2 .col:nth-of-type(1) { width: 640px; }

ul.enum { padding-left: 20px; list-style-type: disc; }
ul.enum li { margin-bottom: 10px; }

.mobile0 { display: none; }