/* javascript classes */

.js-template,
.js-dialog-title,
.js-page.js-disabled,
.js-ellipsis-l.js-disabled,
.js-ellipsis-r.js-disabled,
.js-home.js-disabled,
.js-end.js-disabled,
.js-hidden {
    display: none !important;
}

.js-invisible {
    visibility: hidden;
    height: 0;
    width: 0;
}
