@charset "utf-8";
@font-face {font-family: 'Proxima Nova'; src: url('../fonts/proximanova-light-webfont.eot'); src: url('../fonts/proximanova-light-webfont.woff') format('woff'), url('../fonts/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proximanova-light-webfont.svg') format('svg');font-weight:200;font-style:normal;}
@font-face {font-family: 'Proxima Nova'; src: url('../fonts/proximanova-reg-webfont.eot'); src: url('../fonts/proximanova-reg-webfont.woff') format('woff'), url('../fonts/proximanova-reg-webfont.ttf') format('truetype'),   url('../fonts/proximanova-reg-webfont.svg') format('svg');font-weight:300;font-style:normal;}
@font-face {font-family: 'Proxima Nova';src: url('../fonts/proximanova-bold-webfont.eot');src: url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg') format('svg');   font-weight:400;font-style:normal;}
@font-face {font-family: 'comic'; src:url('../fonts/comic.eot');src:url('../fonts/ComicSansMS.woff') format('woff'), url('../fonts/comic.ttf') format('truetype'),url('../fonts/ComicSansMS.svg') format('svg'); }
<!--@font-face{ font-family:lato; src:url('../fonts/Lato-Bold.eot'); src:url('../fonts/Lato-Bold.woff') format('woff'),url('../fonts/Lato-Bold.ttf') format('truetype'),url('../fonts/Lato-Bold.svg') format('svg'); }-->
<!--@font-face{ font-family:lato; src:url('../fonts/Lato-Semibold.eot'); src:url('../fonts/Lato-Semibold.woff') format('woff'),url('../fonts/Lato-Semibold.ttf') format('truetype'),url('../fonts/Lato-Semibold.svg') format('svg'); font-weight:400; font-style:normal;)}-->
@font-face{ font-family:'calibri'; src:url('../fonts/calibri.eot'); src:url('../fonts/Calibri.woff') format('woff'),url('../fonts/Lato-Semibold.ttf') format('truetype'),url('../fonts/Lato-Semibold.svg') format('svg');}
html, body, div, p, a, object, iframe, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li, input, button, select, textarea, img, table, th, td, article, aside, footer, header, menu, nav, section{ padding:0; margin:0; border: 0 none;  font-family: 'Proxima Nova',sans-serif;  font-weight:300; }
article, aside, footer, header, menu, nav, section { display: block}
ul,li{  list-style-type:none;}
html{ font-size:100%}
body { font-size:1em; line-height:1.5; background-color:#e7eaea ; width:100%; position:relative; color:#333}
@-webkit-viewport{ width:device-width }
@-moz-viewport{ width:device-width }
@-ms-viewport{ width:device-width }
@-o-viewport{ width:device-width }
@viewport { width: device-width }
::-moz-placeholder { color:#aaa; text-indent:5px }
:-ms-input-placeholder { color:#bbb; text-indent:5px}
::-webkit-input-placeholder { color:#bbb; text-indent:5px; background:none}
::selection{ color:#fff; background-color:#46b8e7}
::-moz-selection{ color:#fff; background-color:#ff9800}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition: all .4s ease-out; -moz-transition: all .4s ease-out; -ms-transition: all .4s ease-out; -o-transition: all .4s ease-out; transition: all .4s ease-out;}
a{text-decoration:none; color:#333; cursor: pointer;}
.wrap{height:100%; overflow:hidden; margin:0 auto; padding:10px 0;}
header{width:100%; }
.header.inner{ height: 130px}
.header.inner .bgfull{ padding: 26px 0}
.header.inner .bgfull a.logo{ margin-top: 0}
.slogan{width: 100%;text-align: center;font-size: 18px;margin: 25px 0;color: #f1f4e9; /* font-family: 'comic',sans-serif;  */ letter-spacing: 1px; margin-bottom: 15px}
form.search{border-radius:5px; margin:0 auto 6px; max-width:32em; width:80%; position:relative; background-color: #fff; }
form.search input[type="text"]{height: 34px; font-size:1em; outline:none; width:100%; background:transparent; text-indent: 5px;}
form.search button{width:62px; margin:1px; border-radius: 0 5px 5px 0; height:32px;  background-color: #2987a3; position:absolute; top:0; right:0; cursor:pointer;}
form.search button:after{ content:" "; background:url(/image/new_img/common_06_29.png) 0px 4px; position:absolute; top:0; right:0; z-index: 3;width:40px; height:38px;}
.search.fix{ padding:3px;z-index: 9;}
.search.fix button,.in_search form button{border-left:1px solid #d6d6d6; outline:none; width:50px; height:34px; top:2px; right:8px; background:#fff url(/image/new_img/common_06_29.png) 0px 6px no-repeat; position: absolute;}
.search.fix button:after, .in_search form button:after{ display: none;}
.bgfull{ width: 100%;height: 100%;z-index: -1; top: 0; padding-bottom: 10px; background:url(/image/new_img/home_bg1.jpg) center}
.min_h_l{ float: left;}
.min_h_r{ float: right; width: 55%}
.min_h_top,.min_h_bottom{ display: block;}
.bgfull a.logo{ width: 140px; margin: 20px auto 0;display: block;}
.bgfull a.logo img{ width: 100%}
.f_bg{margin:0;background: #f2f5f7;}
.bgfull p{width:100%; text-align:center; font-size:12px; margin-bottom:0; color: #f1f1f1}
.bgfull p.t_des{padding-right: 316px; text-align:left; margin-bottom: 1em;}
.bgfull a{color:#f1f1f1; position:relative; z-index:1; letter-spacing: .2px; margin: 0 2px;}
.t_des_more{ display:none}
.clearboth a{ clear:none; font-weight:400}
.hot_mob_coupon{ display: none;}
.com_couponlist{/* background:#f2f5f7; */}
h2,h5,h6,.no_super h1,.main .wrap h1{color:#15686b; font-size:1.5em; padding:.5em 0; font-weight: 300}
.main .wrap h1,h2{ font-weight: 400;}
.com_couponlist ul,.home_cate ul,ul.m_history{width:1116px; margin-left:-8px; display:inline-block;}
.com_couponlist ul li{list-style:none; float:left; width:33.333%; padding:0 8px; display:inline-block; margin-bottom:1em; cursor: pointer;}
.com_couponlist ul li:hover .com_coupon{ background-color: #fffbf4;box-shadow: 1px 2px 5px #e7eeef}
.com_couponlist ul li:hover .com_coupon .title a{ color:  #2692c4}
.com_coupon .mer_name:hover{ box-shadow:0px  2px 10px #f2e7d5;}
.com_coupon{width:100%; background:#fff; height:210px; border-radius:5px; padding:2.5em 1em 1em; position:relative; overflow:hidden;}
.com_coupon .mer_name{  font-size:1.2em; display:inline-block; position:absolute; top:0px; left:0; padding: 12px 10px 2px 40px; border-bottom: 1px solid #e4e4e4;
    width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.ds_action .mer_name{ padding: 6px 10px 0 40px; position: relative; }
.com_coupon .mer_name a,.ds_action .mer_name a{color:#15686b;}
.com_coupon .mer_name a:before,.ds_action .mer_name a:before{content:"";display:block;width:18px; height:18px; position:absolute; top:15px; left:16px; background:url(/image/new_img/common_06_29.png) -158px -67px no-repeat;}
.ds_action .mer_name a:before{ background:url(/image/new_img/common_06_29.png?ver=2016111501) -116px -146px no-repeat; top:6px;}
.com_coupon .title a{font-size:1.4em; color:#444; font-weight:300; line-height: 1.3em;}
.com_coupon .title{padding: 10px 0 0;}
.com_coupon .content{width:100%; height:103px; overflow:hidden;}
.com_coupon .des{font-weight:300; color:#666; font-size:14px; height: 20px;overflow: hidden; margin-top: 6px; letter-spacing: .5px;}
.com_coupon .behavior{width:100%;  margin-top: 15px }
.com_couponlist.main_wrap ul{width:100%;}
ul.com_couponlist_pro{ margin-bottom:0}
.com_couponlist.main_wrap ul li{width:50%;}
.behavior p.exp_time{float:left; position:relative; color:#ccc; padding: 12px 0px 0 16px; font-size: 14px;}
.behavior p.deadline,.c_content p.deadline em{ color: #f55c5b}
.behavior p.exp_time:after,.c_content p em:after,.poptest i.exp_time:after{content:"";display:block; width:20px; height:20px;position:absolute; top:12px; left:0; background:url(/image/new_img/common_06_29.png) -46px -144px no-repeat;}
.behavior p.deadline:after,.c_content p.deadline em:after{ background-position: -28px -145px}
.btn{float:right; }
.c_content p em:after{ top: 0;background-position: -46px -145px;}
.c_content p em{ position: relative; padding-left: 16px; font-style: normal;}
.btn a.get_deal{ width: 100%}
.coupon_code{ border-radius:5px; height: 48px;border: 2px dashed #fff; padding:5px;font-size:1em; float:right; width:170px; position:relative;text-align: right; overflow: hidden; background-color: #ffe5e4;
    color: #ee6762;}
.ds_cou_right .coupon_code{ width: 150px;}
.btn a.coupon i,.ds_cou_right p.btn span.code i{ background: url(/image/new_img/common_06_29.png) -31px -66px no-repeat;
    width: 31px;
    height: 40px;
    position: absolute;
    display: inline-block;
    top: 0px;
    right: -26px;
    z-index: 11;}
.layer .content p a:before,.layer .content p a:after,/* .btn a.coupon span:before,.btn a.coupon span:after, */.btn a.deal span:before,.btn a.deal span:after,.cou_info .box a.golink:after,.cou_info .box a.golink:before/* ,.coun_title h2:after,.coun_title h2:before */,
.ds_cou_right p.btn span.deal:before,.ds_cou_right p.btn span.deal:after,/* .ds_cou_right p.btn span.code:after,.ds_cou_right p.btn span.code:before, */ul.hotstore_list li.on:after, ul.hotstore_list li:hover:after,ul.hotstore_list li.on:before, ul.hotstore_list li:hover:before,
button.v_m i:after,button.v_m i:before,.list_style_choice a.choice_on span:after,.list_style_choice a.choice_on span:before,.show_details:before,.show_details:after
{     content: "";
    position: absolute;
    width: 2px;
    height: 8px;
    background: #fff;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;}
.btn a.coupon span:before,.btn a.deal span:before,.cou_info .box a.golink:before,.layer .content p a:before,.ds_cou_right p.btn span.deal:before,.ds_cou_right p.btn span.code:before,ul.hotstore_list li.on:before, ul.hotstore_list li:hover:before
,button.v_m i:after,.list_style_choice a.choice_on span:after,.show_details:after
{ top: 17px;
    right: 20px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);}
.btn a.coupon span:after,.btn a.deal span:after,.cou_info .box a.golink:after,.layer .content p a:after,.ds_cou_right p.btn span.deal:after,.ds_cou_right p.btn span.code:after,ul.hotstore_list li.on:after, ul.hotstore_list li:hover:after, .list_style_choice a.choice_on span:before{    top: 12px;
    right: 20px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);} 
.btn a.deal span:after,.btn a.deal span:before,.ds_cou_right p.btn span.deal:before, .ds_cou_right p.btn span.deal:after{ right: 26px}
.cou_info .box a.golink:before,.cou_info .box a.golink:after{ right: 30px;}
.cou_info .box a.golink:after{ top: 10px;}
.cou_info .box a.golink:before{ top: 15px;}
.btn a.coupon span,.ds_cou_right p.btn span.code{     width: 143px; 
    border-radius: 5px;
    background: #ee6762;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
    font-weight: 300;
    text-indent: 43px;  letter-spacing: 0; }
.ds_cou_right p.btn span.code{  width: 123px;text-indent: 33px; }   
.btn a.deal span,.ds_cou_right p.btn span.deal{    width: 170px;border-radius:5px; background:#2692c4;color:#fff; padding: 7px 12px 8px 8px;font-size: 16px; display: block;  position: relative;
    text-align: center; font-size: 1.2em;}
.ds_cou_right p.btn span.deal{ width: inherit; }
.ds_cou_right p.btn span.code:before,.ds_cou_right p.btn span.code:after,.btn a.coupon span:before,.btn a.coupon span:after{ right: 8px}
.btn a.coupon:hover span,.ds_cou_right p.btn:hover span.code{ left: -30px}
.btn a.deal:hover:after{right:13px;}
.home_cate{background:#5bc9cd url(/image/icons.gif) center;}
.home_cate ul li{width:16.66666%; float:left; list-style:none; padding:0 8px 16px}
.home_cate ul li.double{width:33.33333%;}
.home_cate ul li .content{background:#fff;border-radius:5px; height:185px; width:100%; overflow:hidden; position:relative;}
.home_cate ul li .content img{position:absolute; right:0; bottom:0; z-index:0;}
.home_cate ul li .content:hover img{opacity:.3;}
.home_cate ul li .content p{ position:relative; z-index:1;}
.i_store{position:relative; width:100%; font-size:14px; padding:1em 1em 1em 35px;}
.i_store:after,ul.m_history li:before/* ,ul.related li:before */{content:"";display:block;width:18px; height:18px; background:url(/image/new_img/common_06_29.png) -159px 0px no-repeat; position:absolute; top:1em; left:10px;}
.cat_name{font-size:1.5em; margin-top:20px; font-weight:200; line-height:100%; color:#000; background:rgba(255,255,255,.5); padding:3px 10px;}
.home_cate ul li .content .des{font-size:14px; font-weight:200; padding:3px 10px;}
.home_cate ul li.double  .content .des{width:50%;}
.home_cate ul li a{color:#999;}
.home_cate ul li.more .content{background:#60d4d4;}
.home_cate ul li.more .content:after{content:"";display:block;width:100%; height:5px; border-top:4px solid #5dced2; position:absolute; top:48%; left:0;}
.home_cate ul li.more .content:before{content:"";display:block;width:100%; height:5px; border-bottom:4px solid #68d6d7; position:absolute; top:48%; left:0;}
.home_cate ul li.more .content p{background:rgba(255,255,255,.3); width:70px; height:70px; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; border-radius:100%; text-indent:-99999px;}
.home_cate ul li.more .content p:before{content:"";display:block; width:25px; height:25px; background:url(/image/new_img/common_06_29.png) 0 -37px no-repeat; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto;}
.hot_coupon{ /* background-color: #f2f5f7; */ margin-bottom: 10px}
.hot_coupon .content{width:100%; border-radius:5px; overflow:hidden;}
.hot_stores{/*  background-color: #fff; */ margin-bottom: 10px}
.rela_stores{ background-color: #fff}
.hot_stores ul li/* ,.rela_stores ul li */{ float: left; padding:10px; width: 13%; margin-bottom: 40px; background-color: #fff; margin-right: 1.5%;    box-sizing: border-box;    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);}
/* .rela_stores ul li{ background-color: #f2f5f7; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2); } */
.hot_stores ul li:hover span, .rela_stores ul li:hover span{color: #2fc0aa;}
.hot_stores ul li:nth-child(7n),.rela_stores ul li:nth-child(7n){ margin-right: 0}
.store_pic{ height: 100px; overflow: hidden;}
.hot_stores img,.rela_stores img{ width: 100%;}
.hot_stores a,.rela_stores a{ cursor: pointer; position: relative;display:block;}
.hot_stores span,.rela_stores span{ color: #666; display: block;  background-color:#e7eaea; position: absolute; width: 100% ;    bottom: -40px; text-overflow: ellipsis; white-space: nowrap;
 overflow: hidden;}
 .rela_stores span{ background-color: #fff}
ul.hotstore_list{background:#fff;width:24%; float:left; height:inherit; padding: 10px;box-sizing:border-box;}
ul.hotstore_list li{width:100%; position:relative; height: 40px; line-height: 40px;}
ul.hotstore_list li a:before{/*  content: ""; */background-color: #c4c4c4; width: 80%; height: 1px; position: absolute; left: 10%; bottom: 0; }
ul.hotstore_list li a{display:block; padding: 0 .75em 0 .5em; font-size:15px; font-weight:300;width: 86%; text-overflow:ellipsis; white-space: nowrap;overflow: hidden;}
ul.hotstore_list li.on{background:#f2f5f7; border-right:0;}
ul.hotstore_list li.on  a::before{ display: none;}
ul.hotstore_list li:hover{ background-color: #f2f5f7}
/* ul.hotstore_list li.on:after,ul.hotstore_list li:hover:after{content:"";display:block; width:25px; height:25px; background:url(/image/new_img/common_06_29.png) -179px -64px no-repeat; position:absolute; top:8px; right:10px;} */
ul.hotstore_list li.on:after, ul.hotstore_list li:hover:after, ul.hotstore_list li.on:before, ul.hotstore_list li:hover:before{ background-color: #2fc0aa}
ul.hotstore_list li a i{    color: #fff;  font-style: inherit;background-color:#c4c4c4; width: 18px; height: 18px;
    border-radius: 18px; display: inline-block; line-height: 18px; text-align: center; margin-right: 10px; font-size: 14px }
ul.hotstore_list li.m_page{height:40px; line-height:40px; background:#ededed; border-bottom:0;}
ul.hotstore_list li a i.i_t{ background-color: #2fc0aa}
ul.hotstore_list li.m_page:before,ul.hotstore_list li.m_page:hover:after{content:none;}
.cou_info{padding:2em 2em; width:75%; float:right; height: 341px;background: #fff;}
.cou_info .box{background:#f2f5f7; padding: 10px 2em; position:relative; border-radius:5px; height:160px; margin-bottom:20px;}
.cou_info .box a.c_img{width:200px; display:block; position:absolute; top: -1em; left:1em; box-shadow: 0 6px 20px #d0d0d0;height: 160px;
    overflow: hidden; background-color: #fff; padding: 10px; z-index: 10}
.cou_info .box a.c_img img{ width:  100%}
.cou_info .box .c_content{padding-left:205px; text-align:left; cursor: pointer; position: relative; height: 134px}
.cou_info .box .c_content a{font-size:1.5em; width:100%; height:32px;overflow:hidden; line-height: 1.2em;}
.cou_info .box .c_content:hover a{ color: #2fc0aa}
.cou_info .box a.c_img:hover { border: 2px solid #fff}
.cou_info .box .c_content:hover a.golink{ color: #fff}
.cou_info .box .c_content p,.cou_info .box .c_content span{ font-size:1em; color:#999;height:24px; display: block;}
.cou_info .box .c_content p{ position: absolute; bottom: 0}
.cou_info .box .c_content p.c_time{ bottom: 24px}
.cou_info .box a.golink{background:#2fc0aa; color:#fff; width:140px; display:block; height: 36px;line-height: 36px;border-radius: 5px;text-align: center;font-size: 16px;box-shadow: 0 6px 20px #d0d0d0;    position: absolute;
bottom: 20px; right: 20px; }
.cou_info .box .c_content span.coupon_code{  position: absolute;
    bottom: 21px;
    right: 20px;
    height: 34px;
    width: 130px; background-color: #b1e4dc;color: #0ca08a; font-size: 16px; line-height: 34px; text-align: center; padding: 0; overflow: hidden;}
.cou_info .box .c_content span.detail{ overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.cou_info .box .c_content p a{color:#2fc0aa; font-size:14px;}
.c_content .c_left{ float: left;}
.c_content .c_right{ float: right; width:160px}
.cou_info p{height:32px; line-height:32px;}
.cou_info p a{color:#666; font-size:1em; position: relative; letter-spacing: .5px;}
.cou_info p a.title{  padding-left: 10px;}
.cou_info p:hover a{ color: #2fc0aa; text-decoration: underline;}
ul.m_history li{width:33.3333%; float:left; list-style:none; padding:8px;position: relative;}
ul.m_history li a{background:#fff; width:100%; height:60px; line-height:60px; display:block; border-radius:3px; padding:0em .75em 0em 2.75em; font-size:1.125em;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
ul.m_history li:before/* ,ul.related li:before */{top:28px; left:28px;}
ul.m_history li:hover .closed{position:absolute; top:18px; right:8px; background:#ededed; display:block;}
ul.m_history li .closed:hover{ background:#e1e1e1;}
.m_blog{ background:#ebf2db;}
.m_blog p.left{width:50%; text-align:center; color:#666; font-size:1em; line-height:1.5em; float:left; padding:2em 3em; position:relative;}
.m_blog p.left:after,.m_blog p.left:before/* ,.f_des:after,.f_des:before */{content:""; display:block; background:url(/image/new_img/common_06_29.png) no-repeat; width:24px; height:24px; position:absolute;}
.m_blog p.left:after,.f_des:after{background-position:-76px -31px; top:1em; left:7em;}
.m_blog p.left:before,.f_des:before{background-position:-123px -30px; bottom:1em; right:0;}
.m_blog p.right{width:50%; float:right; text-align:center;}
.m_blog p.left a{background:#91c81d; color:#fff; display: inline-block; padding: 10px 30px; border-radius:5px; font-size:1.25em; margin-top:1em;}
.b_link,.lach_link{background:#f5f5f5;  padding-bottom: 10px}
.lach_link{ background-color: #f9fafb}
.b_link{ background-color: #f2f5f7}
.b_link ul, .lach_link ul{display:inline-block;}
.b_link ul li,.lach_link ul li,ul.related li,.pop_stores ul li,.rela_stores ul li{float:left; padding-right: 10px; width:20%;overflow:hidden;position:relative;box-sizing:border-box;height:24px; overflow: hidden; text-overflow:ellipsis;white-space: nowrap; }
.b_link ul li a,.lach_link ul li a,ul.related li a,.pop_stores ul li a,.rela_stores ul li a{color:#b2b2b2;width:100%; font-size: 14px; letter-spacing: .5px;    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}
.b_link ul li a:hover,#stores ul.wrap li:hover a,.lach_link ul li a:hover,.pop_stores ul li a:hover,ul.related li a:hover,.rela_stores ul li a:hover{color:#2fc0aa;}
h5{ font-weight:inherit; color: #666}
h1{font-size:2.5em; font-weight:400; position:relative;padding-right: 316px;}
h1.m_name{padding:0 0 0 40px; color: #fff }
h1.m_name:before{content:"";display:block;width:26px; height:26px; position:absolute; top:50%; left:0px; background:url(/image/new_img/common_06_29.png) -170px -26px no-repeat;    margin-top: -13px;}
.main{ position:relative; z-index:100;overflow: hidden; min-height: 460px;padding: 10px 0 30px;}
.main .wrap{ overflow:inherit; position:relative; z-index:200;}
.main_wrap{ width: 75%; float: left;padding: 0 2.5em 0 0; position: relative;}
.coupon_recom{ border: 1px solid #2fc0aa;box-shadow: 0 8px 10px #e4e4e4;}
.coupon_recom_tag{display: none;}
.coupon_recom .coupon_recom_tag{ background-color: #2fc0aa; color: #fff; position: absolute; left: 178px; top: 11px; padding: 0px 10px; font-size: 12px;
 display: block; height: 18px; line-height: 18px;}
.abtest .main_wrap{ float: right;padding: 0  0 0 2.5em;}
.abtest .left_info{ margin-top: .8em;}
.com_couponlist.main_wrap ul li.second_title{ width: 100%; height: inherit; margin-bottom: 0px}
span.category_span {
    font-size: 1.25em;
    width: 100%;
    display: inline-block;
    text-align: left;
    line-height: 1.25em;
    background-color: #fff;
    padding: 6px 10px;
    margin-bottom: 10px;
    color: #15686b;
    box-shadow: 0 1px 2px #e4e4e4;
    border-radius: 5px 5px 0 0;
}
.c_list,.cate{width:100%; margin-bottom: 10px}
p.list_none{     background: #fff;
    width: 100%; border-right: 1px solid #ececec; box-shadow: 0px 1px 4px #e4e4e4; border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    color: #2fc0aa;
    line-height: 190px; margin-bottom: 10px;}
.ds_content{ overflow: hidden;  padding-left: 90px; min-height: 74px;  padding-right: 180px; position: relative;}
.ds_cou_left{ width: 80px; position: absolute; top: 15px;  left: 15px; z-index: 10;}
.ds_cou_left a{ width: 100%; height: 100px; display: block;  background-color: #fff; border-radius: 5px; position: relative; text-align: center; padding-top: 15px; box-sizing: border-box;}
.ds_cou_left i{  width: 40px; height: 40px; display: block; margin: 3px auto 0;  background:url(/image/new_img/common_06_29.png) -3px -166px no-repeat;}
.ds_cou_left i.f_s { background-position: -113px -164px;}
.ds_cou_left i.f_g { background-position: -61px -164px;}
.redcode i{ background-position: -3px -211px;}
.redcode i.f_s { background-position: -114px -211px;}
.redcode i.f_g { background-position: -61px -211px;}
.ds_cou_left a p,.ds_cou_left a b{ font-size: 1.6em; color: #2692c4;  line-height: 1em;  font-family: 'Felix Titling', sans-serif; font-weight: 400; letter-spacing: -1px; text-transform: uppercase;font-family: 'Proxima Nova',sans-serif;}
.ds_cou_left a p:nth-child(2n),.ds_cou_left a b:first-child{ font-size: 1.3em; font-weight: 300; letter-spacing: .5px; display: block;}
.ds_cou_left.is_too_long a p:first-child,.ds_cou_left.is_too_long a b:nth-child(2n){ font-size: 1.2em;}
.ds_cou_left a span { background-color: #2692c4; color: #FFF; width: 100%; position: absolute; bottom: 0; left: 0; font-size: 16px; line-height: 16px; padding: 5px 0; border-radius: 0 0 5px 5px;}
.pro_pic{ width: 100px; height: 110px;  position: absolute; top: -10px; left: -10px; border-radius: 3px; border: 1px solid #e4e4e4; z-index: 90; overflow: hidden;}
.pro_pic img{ width: 100%; min-height: 110px;}
.redcode a span { background-color: #fa5555;}
.redcode a p,.redcode a b { color: #fa5555;}
.coupon_word{ width:100% ; float: left;}
.coupon_word p{max-height:60px;}
.coupon_word p span.less{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis}
 .ds_content a,.comprehensive .coupon_infor a{ width: 100%; overflow: hidden; display: inline-block;} 
 .ds_action{ padding: 0 0 10px 90px; }
 .comprehensive .coupon_infor a{  padding: 0 20px 0 20px;}
 .comprehensive .coupon_infor .btn a{ padding: 0}
.c_list .ds_list .ds_content .coupon_word:hover .coupon_title{ text-decoration: underline; color: #2692c4 }
.c_list .red .ds_content .coupon_word:hover .coupon_title{  color:#fa5555}
.ds_list,.coupon_block{ background:#fff; overflow: hidden; margin-bottom:10px; position: relative; box-shadow: 0px 1px 4px #cdcdcd; border-radius: 3px; /*border-right: 3px solid #fff;*/}
.ds_list{ padding: 15px 20px 0 20px;}
.ds_content a{ padding: 0}
.ds_list>i.icon_hot ,.ds_list>i.icon_new{content: ""; background:url(/image/new_img/common_06_29.png) 0 0; left: 0; position: absolute; top: 0; width: 55px; height: 50px; z-index: 2; }
.ds_list>i.icon_new { background-position:-100px -73px }
.ds_list>i.icon_hot{ background-position:-100px -22px}
.ds_list:hover .ds_content a.title{ color:#2692c4 }
.ds_content .coupon_title,.comprehensive .coupon_title{font-size:1.8em; line-height:1em; margin-bottom:0px;  letter-spacing: -1px; display:inline-block; color: #2692c4; color: #333; font-weight: 400; font-family: Lato,Arial,Sans-serif; font-family: 'calibri',Sans-serif; }
/*.title_abtest .ds_content .coupon_title, .title_abtest .comprehensive .coupon_title{ line-height: 1.2em;}*/
.ds_content p,.comprehensive p span.cpdesc{color:#666; margin-bottom:4px; font-size: 14px; letter-spacing: .5px}
.ds_content .cpdesc{display: inline-block;}
.ds_cou_right{ width: 150px; position: absolute; right: 0px; top: 20px; }
.ds_cou_right p.btn,.behavior p.btn,.c_content p.btn{ position: relative; font-size: 1em;}
.ds_cou_right p.btn span.code{  right: 0}
.ds_cou_right span,.behavior .btn span{ display: block;box-shadow: 0px 1px 5px #e4e4e4; height: 40px;}
/* .btn_abtest .ds_cou_right{ width: 150px;} */
/* .btn_abtest .btn a.deal span:after, .btn_abtest .btn a.deal span:before, .btn_abtest p.btn span.deal:before, .btn_abtest p.btn span.deal:after{ right: 26px} */
.ds_content p.btn,.comprehensive p.btn{ width: 100%}
.ac_box>div{ display: inline-block; color: #ccc; font-size: 14px}
.ac_box .view{ margin-right: 20px}
.ac_box i,.ac_box ul li{width:20px; height:20px; background:url(/image/new_img/common_06_29.png) 0 0 no-repeat; display:inline-block; vertical-align:middle; margin:0 3px 0 0px}
.ac_box ul li{ width: 40px; margin-right: 20px}
.ac_box ul li>div { float: right; background-color: #fff;width: 15px; height: 20px;text-align: right;}
.ds_list:hover .ac_box ul li>div{ background-color: #fffbf4}
.blue:hover{ border-left: 3px solid #2692c4;border-right: 3px solid #2692c4; box-shadow:0px 10px 10px #e4e4e4}
.red:hover{ border-left: 3px solid #ee6762;border-right: 3px solid #ee6762; box-shadow:0px 10px 10px #e4e4e4}
.red .ds_content .coupon_title{ color: #333 }
.ac_box .view i{background-position:-42px -125px;}
.ac_box .times i{background-position:-48px -145px; width: 14px;}
.ac_box .deadline i{ background-position:-28px -145px}
.ac_box .deadline{ color:#f55c5b}
.ac_box ul li.vote_good{background-position:-64px -124px;}
.ac_box li.vote_good:hover{background-position:-64px -145px;}
.ac_box li.vote_bad{background-position:-88px -123px;}
.ac_box li.vote_bad:hover{background-position:-88px -143px;}
.ac_box li.vote_good_grey,.ac_box li.vote_bad_grey{color:#2fc0aa;}
.ac_box li.vote_good:hover,.ac_box li.vote_bad:hover{/* background:rgba(49,200,177,1); */ color:#2fc0aa; cursor:pointer;}
.ac_box .good .v_la,.ac_box .bad .v_la,.ac_box .good:hover .v_num,.ac_box .bad:hover .v_num{display:none;}
.ac_box span{display:inline-block; height:35px; line-height:35px;}
.ac_box .good:hover .v_la,.ac_box .bad:hover .v_la{display:block; color:#2fc0aa; display:inline-block;}
.ac_box .good:hover,.ac_box .bad:hover{text-align:center;}
.ac_box .good:hover i,.ac_box .bad:hover i{margin-left:0;}
.in_search p{color:#333; font-size:1em; font-weight:400; padding:.5em 0;}
.in_search form{width:100%; height:40px; line-height:40px; background:#fff; position:relative;}
.in_search form input[type="text"]{height:40px; line-height:40px; padding:0 175px 0 1em; width: 100%; font-size:1em; outline:none;}
 .in_search form button{position:absolute; top:2px; right:2px; width:80px; cursor: pointer; background-position: 10px 8px;} 

.left_info{padding:1em; width:25%; background:#fff; border-radius: 5px; float: left; margin-top: 60px; border-right: 1px solid #ececec; box-shadow: 0px 1px 4px #e4e4e4;border-radius: 3px;}
.left_info span.line{ width: 100%; display: inline-block; border-top: 1px dashed #999;}
.left_info p{  color: #666; min-height: 260px; letter-spacing: .5px; font-size: 14px; width: 100%; position: relative;}
.left_info .store_de{ position: relative; height: 90px; min-height: inherit;overflow: hidden; margin: 15px 0; color: #666; font-size: 15px; letter-spacing: .5px;  padding-bottom: 22px;}
.left_info .store_de em{ color: #2fc0aa}
.i_view,.pro_re_stores h4,.submitbox h4,.con_with h4,.matchlink h4,.store_de h4,.re_coupon h4{color:#333; font-size:1.3em; padding:0 0 1em 35px; position:relative; }
.i_view{ display: none; padding: 0}
.submitbox h4,.con_with h4,.matchlink h4,.store_de h4,.re_coupon h4{ padding: 0;}
.re_coupon>div{ margin-top: 10px}
.re_coupon a{ display: block; cursor: pointer;}
.re_coupon a:hover{ text-decoration: underline; color:#2fc0aa }
.matchlink a:hover{color:#2fc0aa }
 .matchlink h4{ margin-bottom: 6px}
 .store_de h4{ display: none;}
.pro_re_stores h4{padding:1em 0 0 0;}
.pro_re_stores ul li a span{ color:#5bc9cd;font-size: 1.5em;}
.i_view:after{ display:block; /* content:"";  */width:24px; height:24px; background:url(/image/new_img/common_06_29.png) -1px -64px no-repeat; position:absolute; top:0; left:0;}
.mer_pic{ width: 100%}
.left_info a.golink{margin:10px 0; text-align:center; display:block; position:relative; color: #fff; background-color: #2fc0aa; border-radius: 5px; height: 35px;line-height: 35px;}
.left_info a.golink:after{/* content:"";  */background:url(/image/new_img/common_06_29.png) -120px -117px no-repeat;display:block;position:absolute; top:2px;right: 6px; width: 20px; height: 20px}
.matchlink,.submitbox,.con_with,.re_coupon{ border-top: 1px dashed #999;  padding:1em 0; margin-top:1em; min-height:auto; padding-bottom: 0}
.matchlink,.matchlink ul,.matchlink ul li,.matchlink ul li a{ width: 100%;}
.cate_sec{ border-top: none; border-bottom: 1px dashed #999; margin-top: 0; padding-bottom: 1em; padding-top: 0;}
.con_with{ border: none; margin-top: 0; border-bottom: 1px dashed #999; padding-bottom: 1em;}
.con_none{ display: none;}
.submitbox{ border-bottom: 1px dashed #999; padding: 1em 0}
.submitbox .btn{ float: inherit;}
.submitbox .btn button{
    font-size: 15px;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    background-color: #2fc0aa;
    text-align: center;
}
.submitbox a{ display: block;}
.submitbox a:hover i.show_details{ transform:rotate(270deg);
-ms-transform:rotate(270deg);     /* IE 9 */
-moz-transform:rotate(270deg);    /* Firefox */
-webkit-transform:rotate(270deg); /* Safari 和 Chrome */
-o-transform:rotate(270deg);  /* Opera */}
.show_details{ position:relative; height: 16px; width: 16px; display: inline-block;background-color: #2fc0aa; border-radius: 3px; margin-left: 6px;top: 1px;}
.show_details:before,.show_details:after{ right: 7px;top: 4px; background-color: #fff;-moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
.show_details:before{ 
    /* right: 8px; top: 8px; */
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);}
.submitbox .group input.w_95 { width: 37%;}
.matchlink ul li:hover{ background-color: #f2f5f7; padding-left: 20px; border-left: 2px solid #2fc0aa; cursor: pointer;}
.matchlink ul li:hover a:before{ display: none;}
.mer_pic img{  border-radius: 2px; border:1px solid #e1e1e1;max-width: 100%; cursor: pointer;    box-shadow: 0px 1px 4px #e4e4e4;}
.mer_pic img:hover{ box-shadow: 0px 2px 1px #b2b2b2}
.left_info .store_de a{ color:#2fc0aa; position: absolute;bottom: 2px; right: 0px;background: #fff; width: 100%}
.left_info .store_de a.less{ position: relative;}
.pro_re_stores a{ color:#999}
.cate_block{ margin-bottom: 1em; width: 100%;}
.cate_title { background: #fff; height: 2.5em; line-height: 2.5em;  font-size: 1.125em;padding: 0 1em; position:relative ; border-radius: 3px}
.see_all{ float:right}
.cate_title a{ color: #15686b;}
.cate_title i{ display: inline-block; width: 3px; height: 16px; background: #15686b; vertical-align: middle;margin-right: 8px; /*  background:url(/image/new_img/common_06_29.png) 0px -125px no-repeat;  */}
ul.cate_content,.text{  background-color: #fff; overflow: hidden; padding: 1em; margin-bottom: 10px}
ul.cate_content{ margin-bottom: 0}
ul.new_stores{ margin-bottom: 30px;}
.inset_shadow{box-shadow: 0px 1px 0px #e4e4e4 inset; -moz-box-shadow: 0px 1px 0px #e4e4e4 inset; -webkit-box-shadow: 0px 1px 0px #e4e4e4 inset;}    
ul.cate_content span{ display: inline-block; color: #555; font-weight: 400;}
ul.cate_content li span{ color: #999; font-weight: 300; font-size: 14px; line-height: 32px; margin-left: 4px;}
ul.cate_content span a{ color: #333; font-size: 1.2em;display: inline-block; padding-left: 10px; position: relative; box-sizing: border-box;}
ul.cate_content li a:hover{/*  color: #2692c4 */}
ul.cate_content li a{ color: #2fc0aa; float: left; line-height: 2em; font-size: 1em;  }
ul.cate_content li{ width: 20%;overflow: hidden; white-space: nowrap; text-overflow:ellipsis; float: left;}
ul.cate_content span a:before{ content: ""; position: absolute; left: 0; top: 6px; width: 2px; height: 14px; background-color: #2fc0aa}
ul.cate_content a,.cate_title a,.all_stores p a{ font-size: 1.125em; cursor: pointer;}
ul.cate_content a.more { width: 100%;/* border: 1px solid; padding: 4px;font-size: 14px;  */color: #2fc0aa;}
ul.cate_content a:hover{/* color: #2fc0aa; */ text-decoration: underline;}
ul.cate_content a span{ color:#ccc; margin-left: 2px; font-weight: 200;}
.all_stores p{ background: #fff;  box-shadow: 0px 1px 0 #d7d7d7; overflow: hidden; margin-bottom: 1em; padding: 1em; position: relative; padding-bottom: 1em}
.all_stores p a{ float: left; width:30px; height: 30px; border-radius: 20px; margin-right: 8%; line-height: 30px; color: #15686b; background-color: #f2f5f7; margin-bottom: 10px; text-align: center; font-size: 1.225em}
.all_stores p a:last-child{ background-color: #fff}
.all_stores p a:last-child:hover{ background-color: #fff; text-decoration: underline; box-shadow: none; color: #15686b;}
.all_stores p a:hover{ background-color: #15686b; color: #fff; box-shadow: 0 1px 1px #000 }
.all_stores p span{ position: absolute; font-size: 3em;color: #f2F2F2; bottom: -.5em;right: 10px; font-weight: 400;}
footer{    background: url(/image/icons_ft.gif) center;}
.f_title{ float: left;
    width: 4.5em;
    height: 4.5em;
    border-radius: 100%;
    background: #fff;
    border: 2px solid #24858e;
    box-shadow: 0px 0px 12px #fff;
    margin: 20px 1em 10px 0;
    font-size: 1.25em;
    color: #24858e;
    text-align: center;
    font-weight: 300;
    line-height: 120%;
    padding: 22px 10px;}
.f_des{padding: 20px 0 20px; color: #666; position: relative; font-size: 15px;padding-right: 0; /* border-bottom: 1px dashed #999; */ letter-spacing: .5px}
.blog{ margin: 10px 0}
.blog p{ color: #666;letter-spacing: .5px; font-size: 15px}
.f_full{width:100%; color:#fff; padding: 2em 0;background: #24858e;}
.f_full h6{color:#eee; padding: 0;line-height: 1.5em; margin-bottom: 10px}
.f_full .column{width:30%; float:left;}
.f_full .c_3{ width: 45%; padding: 0 40px; border-left: 1px dashed #01bec6;border-right: 1px dashed #01bec6} 
.f_full .c_2{ width: 25%}
.c_1 a,.c_2 a{width:40%; display:inline-block; color:#d3efeb; line-height:2.3em;font-size: 14px;}
.c_1 a{ width: 40%}
/* .c_1 a:nth-child(2n){ width: 28%} */
.c_1 p{ font-size: 14px;opacity: .8; margin-right: 20px; padding-top: 10px;border-top: 1px solid #3a919a;margin-top: 10px;}
.f_full .c_3 p{ color:#d3efeb; line-height:2em;font-size: 14px;}
.c_1 a:hover,.c_2 a:hover{color:#fff;}
.c_2 a{width:100%;}
.c_2{ float: right; padding-left: 40px}
.foot_e form{ width: 100% ; position: relative;}
.foot_e form input{ width: 100%; height: 36px;line-height: 36px; padding-right: 82px;box-sizing:border-box; border-radius: 3px; background-color: #eee; text-indent: 5px;}
.foot_e form button{ width: 80px; height: 34px; position: absolute; top: 1px; right: 1px; background-color: #24858e; border-radius: 0 3px 3px 0; color: #fff; cursor: pointer;}
.footer{background:#157b7f; color:#fff;}
.footer p.left{float:left; padding:.5em 0;}
.footer p.left a,.footer p.left{  color: #c3e5e0}
.footer p.right{float:right; padding:.5em 0;}
.footer p a{color:#fff;}
.contries i{opacity:.6;}
.contries i:hover{opacity:1;}
.foot_c{ margin-top:20px}
.au_s,.ca_s,.cn_s,.de_s,.fr_s,.hk_s,.id_s,.ie_s,.in_s,.my_s,.nz_s,.ph_s,.sg_s,.th_s,.uk_s,.us_s,.ar_s{width:18px;height:12px;background:url(/image/new_img/icons.png?v0708) no-repeat;display:inline-block; }
.au_s{background-position:-171px 0;}
.ca_s{background-position:-171px -13px;}
 .cn_s{background-position:-171px -26px;}
.de_s{background-position:-190px 0;} 
.fr_s{background-position:-190px -13px;}
 .hk_s{background-position:-190px -26px;}
.id_s{background-position:-209px -26px;}
.ie_s{background-position:-209px -13px;}
.in_s{background-position:-209px 0;}
.my_s{background-position:-228px 0;}
.nz_s{background-position:-228px -13px;}
.ph_s{background-position:-228px -26px;} 
.sg_s{background-position:-247px 0;}
.th_s{background-position:-247px -13px;} 
.uk_s{background-position:-247px -26px;}
.us_s{background-position:-266px 0; margin-right: 0}
.ar_s{ background-position: -266px -13px}
.contries a{display:inline-block; float:left; width:auto; margin-right: 31px}
.contries a:nth-child(9n){ margin-right: 0}
.text p{line-height: 24px;margin-bottom: 10px;color: #9c9c9c;text-align: justify;}
.text{ min-height:430px}
.text p a{    color: #2fc0aa;font-size: 16px;}
.mar12 span{ margin: 20px 0; font-size: 14px; letter-spacing: .5px; color: #777}
.mar12 a{  line-height: 45px;display: inline-block;}
.mar12 a:hover{ background-color: #f2f5f7; padding: 0 20px; border-radius: 5px;}
/*弹出层样式 */ 
.layer{ overflow-y: scroll;  width: 100%; height: 100%; position: fixed; top: 0; z-index: 999;}
.shade { width: 100%; height: 100%;  left: 0;  position: fixed; top: 0; z-index: 100; background-color: rgba(15,104,112,0.5);}
.layer .content {  position: relative;  padding: 20px 20px; text-align: center;  background: #f2f5f7;
    box-shadow: 0 12px 24px rgba(0,0,0,0.47);
    width: 38em;
    z-index: 100;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto 10%;
    border-radius: 5px;
    border-top: 9px solid #2fc0aa;
}
.layer .content .x {
    float: right;
    height: 30px;
    width: 30px;
    margin: 10px 0 0 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}
.layer .content p{ margin: 10px auto; color: #666; display: inline-block; width: 100%; letter-spacing: .5px;}
.layer .content p.gray{ color: #888;letter-spacing: 0; font-size: 14px;}
.layer .content p.coupon_code_none{ margin: 0; text-align: center;  line-height: 48px;}
.layer .content p.cop_con{  display: block; width: 100%; position: relative;padding-right: 100px; box-sizing: border-box;margin: 0;}
.layer .content p.cop_con span{ width: 100%;display: block;text-align: center; color: #333; font-weight:200; line-height: 48px;}
.layer .content p a{ color: #fff; cursor: pointer; position: relative;display: inline-block; border-radius: 5px; padding: 7px 18px; padding-right: 24px; box-shadow: 0 1px 4px #c4c4c4;
    background-image: -webkit-linear-gradient(top, #32d6bd,#2db8a3);
    background-image: -moz-linear-gradient(top,#32d6bd, #2db8a3);
    background-image: -o-linear-gradient(top, #32d6bd, #2db8a3);
    background-image: linear-gradient(top, #32d6bd, #2db8a3);
    background-image: -ms-linear-gradient(top, #32d6bd, #2db8a3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#32d6bd, endColorstr=#2db8a3, GradientType=1);}
.layer .content p a:before,.layer .content p a:after{ background-color:#fff; right: 12px ; top: 11px}
.layer .content p a:before{ top: 16px}
 .layer .content p a:hover{ border-left: none;border-right: none;} 
h3{ font-size: 1.6em; color: #15686b;}
.layer .content .coupon_code {
    border: 1px solid #cfcfcf;
    width: 80%;
    font-size: 1.625em;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto 10px;
    position: relative;
    float: inherit;
    padding: 0;
}
.layer .content .coupon_code p.code {
    color: #333;
    width: 100%;
    line-height: 40px;
    vertical-align: middle;
    float: left;
    padding-right: 118px;
    box-sizing:border-box;
}
.layer .content p.copy_btn {width: 100px;line-height: 42px; font-size: .9em; background-color: #2cc6ae;/* background-image: linear-gradient(to bottom,#32c8b1 0,#18bea5 100%); */
    color: #FFF;border-radius: 3px; cursor: pointer;font-weight: 200;position: absolute;right: 2px; top: 2px;  margin: 0; text-align: center; height: 42px;}
.layer .content .coupon_code p.code { margin: 0; height: 60px; line-height: 60px}
.layer_link{ width: 80%; margin: 10px auto 20px}
.layer_link a,.re_coupon a{ display:block; text-align: left; position: relative; padding-left: 10px; cursor: pointer; line-height: 2em}
.layer_link a:hover, .re_coupon a:hover{ color: #1bbfa6; text-decoration: underline;}
.re_coupon a,.matchlink a{ line-height: 1.5em; font-size: 15px; margin-bottom: 10px;  letter-spacing: .5px;  color: #666}
.matchlink a{ line-height: 2em; display: inline-block; margin-bottom: 0; position: relative; padding-left: 10px;}
.re_coupon a i,.layer_link a i{ font-style: normal; margin-left: 2px; color: #333; font-family: 'calibri',Sans-serif; letter-spacing: 0px; font-weight: 600; font-size: 14px;}
.layer_link a i{ color: #666;}
.layer_link a:before,.re_coupon a:before,.cou_info p a.title:before,.matchlink ul li a:before{ content: ""; width: 2px; height: 14px; background-color: #1bbfa6; position: absolute; left: 0; top: 8px }
.re_coupon a:before,.cou_info p a.title:before{ top: 4px; height: 10px}
.matchlink ul li a:before{ top: 10px; height: 10px}
.layer form{ 
    border: 1px solid #95ccb5;
    width: 80%;
    border-radius: 3px;
    margin: 0px auto;
    position: relative;
    display: inline-block;
}
.layer form input[type="text"] {
    padding: 10px 5px 10px 10px;
    font-size: .875em;
    outline: none;
    float: left;
    width: 60%;
    background-color: #f2f5f7
}
.layer form button {
    background: #beeeda;
    color: #15686b;
    text-align: center;
    padding: 10px 15px;
    font-size: .875em;
  /*   border-radius: 0 3px 3px 0; */
    cursor: pointer;
    float: right;
    outline: none;
}
.midlle{ width: 100%; border-top: 1px dashed #ced2d5;border-bottom: 1px dashed #ced2d5; padding: 15px 0 30px; margin-bottom: 20px;}
.layer .content p.see_more a:before,.layer .content p.see_more a:after{ display: none;}
.layer .content .coupon_code p.code.no {
    color: #ccc;
    width: 100%;
    text-align: center; padding-right: 0
}
/* submit */
.submitbox form .group {
    margin: 10px 0;
    position: relative;
}
.submitbox form .group select,.submitbox form .group textarea,.submitbox form .group input{
    width: 100%;
    height: 30px;
    padding: 0 0 0 3px;
    border: 1px solid #d7d7d7;
    color: #8a8a8a;
    border-radius: 3px; display: inline-block;
}
.submitbox form .group textarea{
    height: 58px;  
    padding: 5px 0 0 5px;
}
.group i {
    position: absolute;
    top: 5px;
    left: 2px;
    color: #ff0000;
}
.submitbox form .group input {
    text-align: left;
}
.submitbox form  .group select.w_150 {
    width: 60%;
    color: #8a8a8a;
    float: left;
    margin-right: 3px;
}
.submitbox form .group input.w_95{ width: 37%}
.submitbox form .group input.sec_code{ width: 50%;}
.Zebra_DatePicker_Icon_Wrapper input.txt{ min-width: 150px;}
button.Zebra_DatePicker_Icon { display: block; position: absolute; width: 16px; height: 16px; background: url(/image/mob_icon.png) -4px -39px no-repeat;
    text-indent: -9000px; border: none; cursor: pointer; padding: 0; line-height: 0; vertical-align: top;}
.submitbox form .group p{ position: relative; width: 50%; display: inline-block; min-height: inherit;}
button.day {  display: block;  position: absolute; width: 16px; height: 16px; background: url(/image/new_img/common_06_29.png) -4px -39px  no-repeat;
    text-indent: -9000px; border: none; cursor: pointer;
    padding: 0;
    line-height: 0;
    vertical-align: top;
    top: 7px;
    right: 8px;
}
.submitbox form .sub_btn button {
    font-size: 15px;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    background-color: #2fc0aa;
}
.submitbox form .group input.w_150 {
    width: 50%;
}
.submitbox form .group input.chk{ margin: 0; height: inherit; width:inherit;}
.Icon_Wrapper {
    display: inline-block;
    position: relative;
    float: left;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: 50%;
    margin-bottom: 5px;
}
.edm_layer_01,.edm_layer_02,.edm_layer_03,.icode_01,.block_coupon_dialog,.first_term_url_02,.first_term_url_01,.click_country_01{ display:none;}
/* more country */
.store_county ul {
    width: 100%;
    margin: 5px 0;
    display: inline-block;
}
.store_county ul li {
    margin: 6px 0;
    float: left;
    position: relative;
}
.store_county ul li a {
    color: #999;
    padding: 5px 15px 5px 0;
    font-size: 14px

}
.store_county ul li a i{ margin-right: 5px}
.store_county {
    margin: 0 0 16px 0;
    background: #fff;
    transition: all 0.3s ease-in-out;
    padding: 10px 0 10px 15px;
    box-shadow: 0px 1px 4px #e4e4e4;
    border-radius: 3px;
}
.store_county a.mob{ display: none;}
.store_county p {
    color: #999;
    font-size: 14px;
    line-height: 22px;
}
.store_county .btn{position: absolute;right: 0;left: 0;width: 100%;margin: auto;}
.store_county .btn>div{ width: 75%}
.store_county .btn a{color: #fff;font-size: 14px;margin: 0 auto;width: 150px;display: block;text-align: center;height: 40px;line-height: 40px; background:#24858e; border-radius: 0 0 5px 5px; box-shadow: 0 1px 4px #c4c4c4; text-indent: 28px;position: relative;}
.store_county .btn a:after{ background:url(../../image/ss_img.png) -164px -115px no-repeat; width:40px; height:40px; display:block; content:""; position: absolute; top: 0; left: 0;}
.store_county .btn a:hover{text-decoration: none;}
.fixed{box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) !important;position: fixed; top:0; z-index: 999; padding: 0 10px;}
.coun_title{background-color: #fafcfd;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 20px;
    margin-bottom: 20px;  }
.no_super{ background: inherit;  background: inherit;border-bottom: none;margin: 0;padding: 0; position: relative;}
.no_super a{ display: none;}
.coun_title i{ background-color: #2692c4}  
.coun_title .flag{ background-color: #caeaf9; padding: 8px; position: relative;} 
.coun_title .flag:after{       position: absolute;
    display: block;
    border-color: transparent;
    border-style: solid;
    bottom: -20px;
    left: 50%;
    margin-left: -10px;
    border-top-color: #caeaf9;
    content: " ";
    border-width: 10px;
    box-sizing: border-box;
    z-index: 2;} 
.coun_title a{ color: #666;position: relative; float: right; line-height: 38px}
.coun_title a span{ color: #2fc0aa}
.coun_title h2{ display: block;position: relative; padding-bottom: 10px;}
.list_style_choice{ position: absolute; top: 15px; right: 2.5em; z-index: 99; }
.list_style_choice ul li i,.list_style_choice a i{ margin-right: 4px; background: url(/image/new_img/common_06_29.png) 0 0 no-repeat; display: inline-block; vertical-align: middle; width: 20px; height: 16px;}
.list_style_choice a.choice_on{ width: 130px; height: 36px; line-height: 36px; display: block; border-radius: 5px; border: 1px solid #2fc0aa; color: #2fc0aa; font-size: 1em; float: inherit; text-align: inherit; padding-left: 10px;}
.list_style_choice a.choice_on:hover{ background-color: #f7f7f7;}
.list_style_choice a.choice_on span{ margin-left: 10px; position: relative; width: 20px; height: 16px; display: inline-block;}
.list_style_choice a.choice_on span:after,.list_style_choice a.choice_on span:before{ width: 2px; height: 8px; background-color:#2fc0aa; top: 8px; left: 0px; }
.list_style_choice a.choice_on span.on:after,.list_style_choice a.choice_on span.on:before{left: 7px;}
.list_style_choice a.choice_on span:after{ left: 5px;}
.list_style_choice a.choice_on span.on:after{ left: 1px;}
.list_style_choice a i{ background-position: -78px -259px;}
.list_style_choice ul{ width: 130px; background-color: #fff; box-shadow: 0 1px 1px #c4c4c4;display: none;}
.list_style_choice ul li{ width: 100%;  padding: 0 10px; height: 40px; line-height: 40px; border-bottom: 1px solid #e7eaea; cursor: pointer;}
.list_style_choice ul li:hover{ border-bottom: 2px solid #2fc0aa; box-shadow: 0 1px 4px #e4e4e4;}
.list_style_choice a.popular i{background-position: -6px -258px; }
.list_style_choice a.fresh i{background-position: -26px -258px; }
.list_style_choice a.discount i{background-position: -51px -258px; }
.list_style_choice a.default i{background-position: -78px -259px; }
.list_style_choice a{ text-align: center; color:#2fc0aa; display: inherit; float: left;}
.term_dis{ background-color: #fff; padding: 20px 30px;}
.term_dis{ margin-bottom: 1em}
article>div{ background-color: #fff;padding: 20px 30px 10px;box-shadow: 0px 1px 4px #e4e4e4;}
article p{ font-size: 15px; color:#666; letter-spacing: .5px;}
article p img{  margin: 10px 15px 0 0; max-width: 100%;}
article p iframe{ margin-top: 10px}
article h4{ background-color: #fff;}
article h4 a{ color: #2fc0aa; display: inline-block; margin: 8px 0}
.page_link_n span {
    display: inline-block;
    line-height: 22px;
    position: relative;
    color: #666;
    font-size: 14px;
    letter-spacing: .5px;
}
.page_link_n{ overflow: hidden; margin: 20px 0;}
.page_link_n a span  {
    padding-right: 14px;
   color: #2fc0aa; font-size: 14px}
.page_link_n a span:before, .page_link_n a span:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 1px;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #999;
    right: 4px;
    top: 8px;
}
.page_link_n a span:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 11px;
    right: 4px;
}
.page_link_n >div {
    float: left;
}
.con_with p{ min-height: inherit; position:relative;  word-break: break-word; font-size: 15px; letter-spacing: .5px;}
.con_with h4{ margin-bottom: 10px}
.related_wrap,.pop_stores{  padding-bottom:10px; }
.pop_stores{ background-color: #f9fafb; }
.related_wrap{ background-color: #f2f5f7; margin-top: 30px;}
.code_center{ text-align: center; /* width: inherit;  overflow: inherit;*/ line-height: 24px; width: 140px;}
.ds_cou_right span.code_center,.behavior .btn span.code_center{ /* width: 170px; */ overflow: hidden; width: 150px;}
/* .btn_abtest .ds_cou_right span.code_center,.btn_abtest .behavior .btn span.code_center{ width: 150px;} */
.code_center:hover{ cursor:pointer;}
ul.hotstore_list,.cou_info,.com_coupon,.cou_info .box{
    border-right: 1px solid #ececec;
    box-shadow: 0px 1px 4px #e4e4e4;
    border-radius: 3px;}
/* .new_add { padding: 10px} */
.new_add p{ 
    display: inline;
    width: inherit;
    padding: 0;line-height: 1.5em;}
.new_add p iframe{ margin: 10px 0}
.new_add p img{margin: 15px 15px 15px 0; max-width: 400px;float: left;}
.new_add p:nth-child(2n) img{ /* float: right; margin: 15px 0 15px 15px; */}
button.v_m{ box-shadow: 0px 1px 4px #e4e4e4; border-radius: 3px; width: 100%; height: 38px; background-color: #2692c4; color: #fff;
 cursor: pointer; font-size: 16px; line-height: 38px;}
button.v_m i{ position: relative;}
button.v_m i:before{ content: ""; top: 5px; right: -10px;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);}
button.v_m i:after{ content: ""; top: 5px; right: -15px}
.merchant_img{ position: absolute; display: block;margin: 20px 10px 10px 20px; width: 145px; z-index: 11;}
.merchant_img img{ max-height: 125px; width: 100%;    top: 10px;
    padding: 5px;
    border-right: 1px solid #ececec;
    box-shadow: 0px 1px 4px #e4e4e4;}
.merchant_img a{ height: inherit;}
.comprehensive .coupon_infor{  text-align: left; cursor: pointer; position: relative; height: inherit; min-height: 140px; padding: 20px 20px 0 20px;
    padding-left: 160px;}
.comprehensive p.f11 a{ display: inline; padding: 0; color: #2fc0aa}
.merchant_name a{color: #2fc0aa; width: 100%; text-align: center;}
.merchant_name{ text-align:left;margin: 4px 0; height: 26px; overflow: hidden;}
.comprehensive p.f11{/*  position: absolute; bottom: 4px; left: 180px; */ width: 100%; margin-left: 20px; border-top: 1px solid #f2f2f2; padding-top: 4px; color: #ccc;font-size: 14px;
    letter-spacing: .5px;}
.comprehensive .coupon_word{ width: 70%; }
.comprehensive .ds_cou_right{ position: relative; float: right; top: 30px;}
.comprehensive .coupon_block{ min-height: 160px; }
 .comprehensive .ds_action{ padding-bottom: 0px; padding-left: 0;} 
.comprehensive .ac_box{ overflow: hidden;width: 100%; padding-left: 20px;}
 .categories_all p a{display:inline-block;font-size:1em;text-decoration:underline}
ul.category{padding:0;margin:0;list-style-type:none; overflow: hidden; background: #fff;  box-shadow: 0px 1px 4px #e4e4e4;
    border-radius: 3px;
    border-right: 3px solid #fff; padding: 20px;}
ul.category li{float:left;line-height:25px;}
ul.category li:hover{ text-decoration: underline;}
li.categories_step1{float:left;width:100% !important;font-weight:400;font-size:1em;line-height:32px!important;/* background: #fff;  margin-top: 20px; */}
li.categories_step2{width:100%!important;font-weight:400; text-indent:2.5em; background-color: #fff;}
li.categories_step4{float:left;font-weight:400; text-indent:2.5em;  width: 25%;}
li.categories_step3{float:left; text-indent:4em; width: 25%; line-height: 1.5em;}
li.categories_step1 a{color:#15686b!important; font-size: 1.125em;}
li.categories_step2 a,li.categories_step4 a{color:#2fc0aa!important; font-weight: 400; letter-spacing: .5px;}
li.categories_step3 a{color:#2fc0aa!important; font-size: 1em;}
.inset_shadow {  box-shadow: 0px 1px 0px #e4e4e4 inset; -moz-box-shadow: 0px 1px 0px #e4e4e4 inset; -webkit-box-shadow: 0px 1px 0px #e4e4e4 inset;}
/*date picker style*/
.Zebra_DatePicker_Icon_Wrapper{width:100%; margin-bottom:5px;}.Zebra_DatePicker *,.Zebra_DatePicker *:after,.Zebra_DatePicker *:before{-moz-box-sizing:content-box!important;-webkit-box-sizing:content-box!important;box-sizing:content-box!important;}.Zebra_DatePicker{position:absolute;background:#666;border:3px solid #666;display:none;z-index:100;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:13px;}.Zebra_DatePicker *{margin:0;padding:0;color:#000;background:transparent;border:none;}.Zebra_DatePicker table{border-collapse:collapse;border-spacing:0;}.Zebra_DatePicker td,.Zebra_DatePicker th{text-align:center;padding:5px 0;}.Zebra_DatePicker td{cursor:pointer;}.Zebra_DatePicker .dp_daypicker,.Zebra_DatePicker .dp_monthpicker,.Zebra_DatePicker .dp_yearpicker{margin-top:3px;}.Zebra_DatePicker .dp_daypicker td,.Zebra_DatePicker .dp_daypicker th,.Zebra_DatePicker .dp_monthpicker td,.Zebra_DatePicker .dp_yearpicker td{background:#E8E8E8;width:30px;border:1px solid #7BACD2;}.Zebra_DatePicker,.Zebra_DatePicker .dp_header .dp_hover,.Zebra_DatePicker .dp_footer .dp_hover{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}.Zebra_DatePicker .dp_header td{color:#FFF;}.Zebra_DatePicker .dp_header .dp_previous,.Zebra_DatePicker .dp_header .dp_next{width:30px;}.Zebra_DatePicker .dp_header .dp_caption{font-weight:400;}.Zebra_DatePicker .dp_header .dp_hover{background:#222;color:#FFF;}.Zebra_DatePicker .dp_header .dp_blocked{color:#888;cursor:default;}.Zebra_DatePicker .dp_daypicker th{background:#FC3;}.Zebra_DatePicker td.dp_not_in_month{background:#F3F3F3;color:#CDCDCD;cursor:default;}.Zebra_DatePicker td.dp_not_in_month_selectable{background:#F3F3F3;color:#CDCDCD;cursor:pointer;}.Zebra_DatePicker td.dp_weekend{background:#D8D8D8;}.Zebra_DatePicker td.dp_weekend_disabled{color:#CCC;cursor:default;}.Zebra_DatePicker td.dp_selected{background:#5A4B4B;color:#FFF!important;}.Zebra_DatePicker td.dp_week_number{background:#FC3;color:#555;cursor:text;font-style:italic;}.Zebra_DatePicker .dp_monthpicker td{width:33%;}.Zebra_DatePicker .dp_yearpicker td{width:33%;}.Zebra_DatePicker .dp_footer{margin-top:3px;}.Zebra_DatePicker .dp_footer .dp_hover{background:#222;color:#FFF;}.Zebra_DatePicker .dp_today{color:#FFF;padding:3px;}.Zebra_DatePicker .dp_clear{color:#FFF;padding:3px;}.Zebra_DatePicker td.dp_current{color:#C40000;}.Zebra_DatePicker td.dp_disabled_current{color:#E38585;}.Zebra_DatePicker td.dp_disabled{background:#F3F3F3;color:#CDCDCD;cursor:default;}.Zebra_DatePicker td.dp_hover{background:#482424;color:#FFF;}button.Zebra_DatePicker_Icon{display:block;position:absolute;width:16px;height:16px;
background:url(../../image/ss_img.png) -155px -232px no-repeat;text-indent:-9000px;border:none;cursor:pointer;padding:0;line-height:0;vertical-align:top;}button.Zebra_DatePicker_Icon_Disabled{background-image:url('../../image/ds_datepicker/calendar-disabled.png');}button.Zebra_DatePicker_Icon{margin:0 0 0 3px;}button.Zebra_DatePicker_Icon_Inside{margin:0 3px 0 0;}
/*left_right_abtest*/
.left_right_abtest .main_wrap{ float: right; padding: 0 0 0 2.5em;}
.left_right_abtest .list_style_choice{ right: 0;}
.left_right_abtest .left_info{ margin-top: 20px;}
/*top btn*/
a.top_btn{ width: 60px; height: 60px; border: 2px solid #2fc0aa; color:  #2fc0aa; text-align: center; border-radius: 3px; background-color: #fff; position: fixed; z-index: 999; bottom: 100px; right: 2%; display: none; }
a.top_btn i{ width: 30px; height: 30px; margin: 5px auto 0; display:block; background: url(/image/new_img/common_06_29.png?ver=2016111501) -163px -179px no-repeat}
a.top_btn:hover{ box-shadow: 0 4px 10px #c4c4c4; background-color: #f2fffd}
/*pop on*/
.pop_on { margin-top: 30px;}
.pop_on ul li {  width: 100%; min-height: 160px; overflow: hidden; float: left; margin-bottom: 20px; background-color: #fff;
 border-radius: 5px; box-shadow: 0px 1px 4px #e4e4e4;}
.pop_on ul li .img_left { position: relative; overflow: hidden; height: 100%; border-radius: 5px 0 0 5px; width: 25%; float: left; padding: 10px;}
.pop_on ul li .img_left a { width: 100%; height: 140px;  display: block; overflow: hidden; border: 1px solid #dbe0e4; border-radius: 5px; background-color: #fff;
}
.pop_on ul li .img_left a img { max-width: 100%; height: 120px; margin: 10px auto;  display: block;}
.pop_on .coupon { border-radius: 0 5px 5px 0; width: 75%; height: 100%;  padding: 10px 15px; box-sizing: border-box; position: relative; float: left; padding-left:10px;}
.pop_on .ds_content { height: 100%;padding:0;}
.pop_on .ds_content a.code { min-height: 100px;}
.pop_on .ds_content a { padding: 0; overflow: inherit;}
.pop_on .coupon_word {width: 100%;  float: inherit; min-height:inherit;}
.pop_on .ds_content .ds_cou_right{  position:relative; float:right; right:10px; top:0px;}
.pop_on ul li:hover{box-shadow: 0 4px 8px #c4c4c4;}
/* simple test start */
.simple_test{ background-color: #fff;}
.simple_test .ds_list, .simple_test .coupon_block,.simple_test .left_info,.simple_test .pop_on ul li,.simple_test .store_county,.simple_test article>div{ background-color: #f7f7f7; border: 1px solid #c4c4c4; border-radius: 0; box-shadow: none;}
.simple_test .ds_list{ margin-bottom: 16px; padding-top: 24px;}
.simple_test .ds_content{ padding-left: 100px;}
.simple_test .ds_list:hover .ac_box ul li>div,.simple_test .ac_box ul li>div ,.simple_test .left_info .store_de a,.pop_on ul li{
    background-color: #f7f7f7;
}
.simple_test .ds_content .coupon_title,.simple_test .comprehensive .coupon_title{ font-size: 40px; overflow : hidden; text-overflow: ellipsis; display: -webkit-box;
  -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
  .simple_test .ds_content .coupon_title{ line-height: 1em; margin-top: 6px;}
.simple_test .ds_cou_left{ top: 0; left: 0; height: 100%; border-radius: 0; border-right: 1px solid #c4c4c4; width: 100px;}
.simple_test .ds_cou_left a{ height: 100%; background-color: #f7f7f7; padding-top: 33px;}
.simple_test .ds_cou_left a span{ width: inherit; padding: 0; border-radius: 0; width: 48px; height: 18px; line-height: 18px; top: 10px;display: block;left: 120px; font-size: 12px;}
.simple_test .ds_cou_left a p,.simple_test .ds_cou_left a b{ color: #333; font-size: 2.2em;}
.simple_test .ds_cou_left a p:nth-child(2n),.simple_test .ds_cou_left a b:first-child{ font-size: 1.5em;}
.simple_test .pop_on .ds_content{ padding:0;}
.simple_test .comprehensive .coupon_block{ margin-bottom: 16px;}
.simple_test .comprehensive p.f11{  border-top: 1px solid #e4e4e4;}
.simple_test .ds_cou_left i { width: 60px; height: 60px;background: url(/image/new_img/common_06_29.png?ver=1115) -222px -54px no-repeat;}
.simple_test .redcode i{     background-position: -303px -54px;}
.simple_test .ds_cou_left i.f_s{  background-position: -222px 8px;}
.simple_test .redcode i.f_s{  background-position: -303px 8px;}
.simple_test .ds_cou_left i.f_g{  background-position: -218px -122px;}
.simple_test .redcode i.f_g{  background-position: -299px -122px;  }
.simple_test article h4{ background-color: #f7f7f7;}
.simple_test .pro_pic{ top: 0; left: -2px;}
.simple_test .merchant_img img{ padding: 0;border: 1px solid #dbe0e4; border-radius: 5px; background-color: #fff;}
.simple_test .ds_action{ padding-left: 100px;}
.simple_test .comprehensive .ds_action{ padding-left: 0; bottom: -4px; position: absolute;}
.simple_test .comprehensive .coupon_infor .merchant_name a{ padding-left:24px; text-align: left; width:inherit; color:#ccc; font-size:16px; padding-left: 0;} 
.simple_test .comprehensive .coupon_infor .merchant_name a span{color: #2fc0aa }
.simple_test .comprehensive .merchant_name{ margin: 0; width: 100%;}
.banner{ margin-top: 10px;}
.banner a img{ width: 100%;}
.reconmand_term_name { color: #15686b; margin-top: 10px;}
.ds_cou_left:hover .reconmand_term_name { text-decoration: underline;}
.tablet_style .ds_cou_right a.myasc span:nth-child(2n){ display: none;}
/* poptest start */
.poptest .content{ width: 45em; padding: 30px 20px 60px;}
.poptest .content p a{ box-shadow: 0 10px 40px rgba(35, 125, 112, .35); /* margin-top: 10px; */ padding: 8px 26px 8px 20px; font-size: 1.2em;}
.poptest .content p.cop_con span{ color: #666; font-weight: 400; height: 80px;line-height: 80px; font-size: 1.9em; font-family: 'calibri',Sans-serif;}
.poptest .content p a:hover{ box-shadow: 0 2px 4px  rgba(35, 125, 112, .35);}
.poptest .content p span.cpdesc{ color: #333; font-size: 1.2em;}
.poptest .content p span.cpdesc>div{display: inline-block;
    margin-top: 20px;}
.poptest .content p a:before{ top: 19px;}
.poptest .content p a:after{ top:15px;  }
/* .layer i.exp_time{ display: none;}  */
.poptest i.exp_time{ padding-left: 18px; position: relative; color: #666; font-style: normal; margin-left: 2px; font-size: 1em; font-weight: 200;}
.poptest i.exp_time:after{ top: -2px;  background:url(/image/new_img/common_06_29.png?ver=2016111701) -9px -144px no-repeat;}
.poptest .content p.copy_btn{ background-image: -webkit-linear-gradient(top, #32d6bd,#2db8a3);
    background-image: -moz-linear-gradient(top,#32d6bd, #2db8a3);
    background-image: -o-linear-gradient(top, #32d6bd, #2db8a3);
    background-image: linear-gradient(top, #32d6bd, #2db8a3);
    background-image: -ms-linear-gradient(top, #32d6bd, #2db8a3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#32d6bd, endColorstr=#2db8a3, GradientType=1);
    height: 60px; line-height: 60px; top: 9px; right: 9px;box-shadow: 0 6px 10px rgba(35, 125, 112, .2);
}
.poptest .content p.hover{ background-color: #21B7A1; box-shadow: none;}/* #2db8a3 */
.poptest .content .coupon_code{ height: 80px; width: 90%;}
.poptest .content p.coupon_code_none{ line-height: 80px; font-family: 'calibri',Sans-serif; font-size: 1.4em; }
.poptest .dis_bottom{ display: none;}
.poptest .midlle{ border-bottom: none; margin-top: 30px;margin-bottom: 0;  padding-bottom: 0;}
.poptest .content p.cop_con{ padding-right: 109px;}
@media(max-width: 2100px){ 
.wrap,.store_county .btn{width:1100px;}
}
@media(max-width: 1201px) and (min-width: 1025px){ 
.wrap{width:1000px;}
.com_couponlist ul, .home_cate ul, ul.m_history, ul.related{width:1016px;}
.home_cate ul li .content{height:150px;}
.cat_name{margin:0;}
}

@media(max-width: 1201px){
    .cou_info .box .c_content a{font-size:1.2em; }
    .cou_info .box .c_content a.title{ display: block; overflow: hidden; text-overflow: ellipsis;
    white-space: nowrap;}
    .cou_info .box a.golink{ font-size: 16px; right: 0}
    .cou_info .box a.c_img{ width: 150px; height: 130px;}
    .cou_info .box .c_content {padding-left: 155px; height: 110px;}
    .cou_info .box{ height: 140px; padding-right: 1em}
    ul.hotstore_list li{ height: 36px; line-height: 36px}
    .cou_info p a,.behavior p.exp_time,.hot_stores span,.b_link ul li a, .lach_link ul li a,ul.hotstore_list li a,ul.related li a,.pop_stores ul li a{ font-size: 14px}
    .cou_info p {height: 28px;line-height: 28px;}
    .cou_info{ height: 296px}
    h2, h5, h6{ font-size: 1.3em}
    .cou_info{ padding:1.5em;}
    ul.hotstore_list{ padding: 4px}
    ul.hotstore_list li a i{ margin-right: 4px; font-size: 12px; height: 16px; width: 16px}
    .com_coupon .title a{ font-size: 1.3em;}
    .store_pic{ height: 90px}
    .hot_stores ul li,.hot_stores ul li:nth-child(7n),.rela_stores ul li,.rela_stores ul li:nth-child(7n){ width: 15%; margin-right: 2%}
    .hot_stores ul li:nth-child(6n),.rela_stores ul li:nth-child(6n) {margin-right: 0;}
    .slogan{ margin:10px 0; font-size: 1em}
    .hot_stores span, .rela_stores span{ bottom: -35px;}
    .com_couponlist ul li{width:50%;}
    /* .tablet_style .ds_cou_right{ width: 90px;} */
    .tablet_style .ds_content .coupon_title{ font-size: 32px;}
/*     .tablet_style .ds_cou_right p.btn a span{ display: none;}
.tablet_style .ds_cou_right a{ background: url(/image/new_img/common_06_29.png?10_19) -114px -404px no-repeat; width: 80px; height: 50px;}
.tablet_style .blue .ds_cou_right a{ background-position:-4px -404px }
.tablet_style .ds_cou_right a.get_code_1{ display: none;} */
   /*  .tablet_style .ds_cou_right p.btn a span{ display: none;}
   .tablet_style .ds_cou_right a.get_code_1,.tablet_style .ds_cou_right a.get_deal.tablet_style .ds_cou_right a.myasc{ background: url(/image/new_img/common_06_29.png?10_19) -114px -404px no-repeat; width: 80px; height: 50px;}
   .tablet_style .blue .ds_cou_right a{ background-position:-4px -404px }
   .tablet_style .ds_content{ padding-right: 110px;}
   .tablet_style .ds_cou_left a p, .tablet_style .ds_cou_left a b{ font-size: 2em;} */
   /* .tablet_style .ds_cou_right p.btn a span{ display: none;} */
   .tablet_style .ds_cou_right a.myasc span{ display: none;}
   .tablet_style .ds_cou_right a.myasc span:nth-child(2n){ display: block; box-shadow: none; background: url(/image/new_img/common_06_29.png?ver=1115) -200px -182px no-repeat; width: 150px; height: 50px;}
   .tablet_style .blue .ds_cou_right a.myasc span:nth-child(2n){ background-position:-200px -230px;  }
   /* .tablet_style .ds_content{ padding-right: 110px;} */
   .tablet_style .ds_cou_left a p, .tablet_style .ds_cou_left a b{ font-size: 2em;}
   /* .btn a.coupon:hover span, */.tablet_style .ds_cou_right p.btn:hover span.code { left: 0;}
}
@media(max-width: 1024px){
.header.inner .bgfull { padding: 15px 0;}
.header.inner { height: 110px;}
.wrap{width:100%; padding:.5em 2em;}
.store_county .btn,.store_county .btn>div,.fixed{ width: 100%}
.home_cate ul li{width:33.3333%;}
.m_blog p.left,.m_blog p.right,.home_cate ul li.double .content .des,.home_cate ul li.more,.left_info,.f_des{width:100%;}
.main_wrap{ width: 100%}
.left_info{right:0em; position:inherit; top:0; margin:0 auto ; padding: 6px 1em}
.related_wrap{ margin-top: 10px}
.main_wrap,h1,.bgfull p.t_des,.left_right_abtest .main_wrap{padding:0;}
.left_info .mer_pic{ display: none;}
.left_info .store_de{ height: inherit; padding-bottom: 22px; }
.left_info .store_de a{ display: none;}
 .store_de h4{ display: block; margin-bottom:10px;}
.search.fix{ width: auto; padding: 0;}
.search.fix button { margin: 0; top: 0}
.social{display:none;}
.f_full{ padding: 1em 0}
.f_full .column{ width: 100%; float: inherit;}
.f_full .c_3 {
    padding:0;
    border: none;}
    .c_1 a,.c_2 a{ width: inherit; padding-right:20px; display: inline;}
    .c_2{ padding: 0 ;padding-top: 20px;}
    .f_full .c_1,.foot_e,.foot_c{ border-bottom: 1px dashed #01bec6; padding-bottom: 10px}
    .contries{ display: inline-block;}
    .foot_e{ padding: 20px 0}
    .i_view{ display: block;}
    .com_coupon .mer_name a:before{ left: 10px}
    .com_coupon .mer_name{ padding-left: 34px}
    .com_couponlist ul, .home_cate ul, ul.m_history{width:102%;}
    .home_cate ul li{width:33.3333%;}
    li.categories_step3,li.categories_step4{ width: 33.33%}
}
@media(max-width: 900px){.b_link ul li, .lach_link ul li,ul.related li,.pop_stores ul li{ width: 25%}
.store_pic{ height: 80px}
ul.cate_content li{ width: 25%}
  }
@media(max-width: 768px){
    .behavior p.exp_time:after, .c_content p em:after{ top: 11px;}
    .wrap{ padding: 10px 2em; padding-top: 0}
.com_couponlist ul, .home_cate ul, ul.m_history, ul.related{width:102%; margin-bottom:0; margin-left: 0}
.home_cate ul li.more .content{height:6em;}
.com_coupon .content{height:90px;}
footer p.right,footer p.left{width:100%; text-align:center;}
.cou_info .box a.c_img{ width: 100px; height: 80px}
.cou_info .box .c_content{ padding-left: 100px; min-height: 90px; height: inherit;}
.cou_info .box .c_content span.detail{ margin-top: 0}
.hot_pc{ display: none;}
.cou_info .box .c_content p{ display: block; position: relative;}
.cou_info .box{ background-color: #fff; height: inherit; margin-bottom: 10px}
.cou_info{ height: inherit; padding: 0; width: 100%; background-color: #e7eaea }
.cou_info .box a.c_img{ top: 10px; padding: 5px;    border-right: 1px solid #ececec;
    box-shadow: 0px 1px 4px #e4e4e4;}
.com_coupon .title a,.com_coupon .mer_name{ font-size: 18px}
 .cou_info .box .c_content span{ font-size: 14px}
.cou_info .box a.golink{ box-shadow: none; height: 34px;line-height: 34px; bottom: 22px;}
.cou_info .box a.golink:before{top: 15px; right: 8px }
.cou_info .box a.golink:after{ top: 10px; right: 8px}
.btn a.deal span:after, .ds_cou_right p.btn span.deal:after{ top: 10px;}
.btn a.deal span:before, .ds_cou_right p.btn span.deal:before{ top: 15px; }
.cou_info .box .c_content span.coupon_code{ height: 28px; line-height: 28px; right: 4px; bottom: 24px;}
.hot_mob_coupon{ display: block;}
.cou_info .box  i{ background-color: #c4c4c4; color: #fff; width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 18px;
    display: block;
    text-align: center; box-shadow: 0 6px 20px #d0d0d0;
    font-style: normal; position: absolute;  top: 0px; left: 0px; z-index: 2} 
    .cou_info .box i.i_t{  background-color: #2fc0aa; border-right: 1px solid #ececec; box-shadow: 0px 1px 4px #e4e4e4; z-index: 11} 
    .com_coupon{ height: inherit; padding: 2.5em 10px 10px}
    .hot_stores ul li, .hot_stores ul li:nth-child(7n),.hot_stores ul li:nth-child(6n),.rela_stores ul li, .rela_stores ul li:nth-child(7n),.rela_stores ul li:nth-child(6n){ width: 18.4%; margin-right: 2%}
    .hot_stores ul li:nth-child(5n),.rela_stores ul li:nth-child(5n){ margin-right: 0}
    .hot_stores ul li, .rela_stores ul li{ padding: 8px;}
    .behavior p.exp_time{ padding:11px 3px 10px 16px}
    .hot_coupon{ margin: 0} 
    .layer .content p.copy_btn{height: 28px; line-height: 28px;}
    .layer_link a{ line-height: 1.5em; margin-bottom: 10px;}
    .layer .content p.cop_con span{ line-height: inherit;}
    .poptest .content p.cop_con span{ line-height:60px ;height: 60px; font-size: 1.5em;}
    .poptest .content p span.cpdesc{ font-size: 1em;}
    .poptest .content p a{ font-size: 1em;}
    .poptest .content p a:before { top: 17px;}
    .poptest .content p a:after{ top: 12px;}
    .poptest .content .coupon_code{ height: 60px;}
    .poptest .content p.copy_btn { height: 44px; line-height: 44px; right: 7px; top: 7px;}
    /*.layer .content p.cop_con{ padding-right: 0}*/
    .layer .content{ width: 90%; max-width: 450px;}
    .layer .content .coupon_code{ width: 100%}
    .layer .content .coupon_code p.code{ padding-right: 0}
    h3{ font-size: 1.3em}
    .midlle{ padding: 10px 0 20px;}
    .ds_content .coupon_title,.comprehensive .coupon_title{ font-size: 1.6em; margin-bottom: 0;}
    .ds_list { padding: 15px 15px 0 15px;}
    .btn a.deal:after{ display: none;}
/*     .btn a.deal span,.btn a.deal,.ds_cou_right p.btn span.deal,.coupon_code,.ds_cou_right,.ds_cou_right span.code_center{ width: 120px} */
    .btn a.deal span,.ds_cou_right p.btn span.deal, .btn a.coupon span,.ds_cou_right p.btn span.code, .coupon_code,.ds_cou_right span, .behavior .btn span,.layer .content p.coupon_code_none{ height: 34px; padding: 0; line-height: 34px;}
    .btn a.coupon span{ width: 148px;}
    .poptest .content p.coupon_code_none{ line-height: 60px; height: 60px; font-size: 1.2em;}
    .ds_cou_right p.btn span.code{ width: 130px;}
    /* .btn_abtest .btn a.coupon span,.btn_abtest .ds_cou_right p.btn span.code{ width: 130px;} */
    .ds_cou_right p.btn span.code{ text-indent:33px; /* text-indent:43px; */ }
   /*  .btn_abtest .ds_cou_right p.btn span.code{ text-indent:33px; } */
    .ds_cou_right p.btn span.deal:after {display: block;}

/*     .btn a.deal:hover span{ width: 120px} */
    .btn a.coupon:hover span{ left: -6px} 
    .btn a.coupon:hover i{ right: 0}
    .btn a.coupon i,.ds_cou_right p.btn span.code i{ background-position: -66px -66px; height: 34px;width: 26px; right: -22px;}
    .btn a.coupon:hover i{ right: -18px}
    .ds_cou_right p.btn span.code:before, .ds_cou_right p.btn span.code:after{ right: 10px}
    .ds_cou_right p.btn span.code i{ top: 0px;right: -19px;}
    .ds_cou_right p.btn span.red_code i{ background-position: -68px -66px;}
    .btn a.coupon{ width: 120px; height: 34px}
/*     .btn a.coupon span{ width: 176px ;line-height: 34px} */
    .coun_title a{     display: block; float: inherit;background-color: #fff; width: 160px; text-align: center; height: 24px; line-height: 24px;
    margin-bottom: 10px; border-bottom: 1px solid #e4e4e4;}
    .no_super a{ display: none;}
    .list_style_choice a{ text-align:inherit; color: #2fc0aa; display: inherit; float: left; width: inherit;  border-bottom: none; height: inherit; line-height: inherit; background-color: inherit; margin-bottom: 0;}
    .store_county a.mob{ display: block;  display: inline-block; background: #2692c4; color: #fff; padding: 3px 8px; line-height: 18px;}
    .store_county ul{ display: none;}
    ul.cate_content li a, ul.cate_content span{ width: 25%}
    .c_2 a{ width: 48%; display: inline-block;}
    .code_center{ text-align: center; width: inherit; overflow: inherit;}
    .bgfull a.logo{ margin: 10px auto 0;}  
    .bgfull{ padding-bottom: 0px}   
    form.search input[type="text"]{ height: 28px; line-height: 28px}  
    form.search button,.search.fix button{ height: 26px; top: 0} 
    .search.fix button{     background-position: -6px 4px; right: 0; top: 1px;}  
    .header.inner .bgfull{ padding: 10px 0} 
    .min_h_r{ width: 60%}
    .header.inner { height: 90px;}
    header{ margin-bottom: 0}
    .ac_box .work{ display: none;}
    .com_couponlist ul li{ width: 100%; padding: 0}
    .ds_cou_right{ position: absolute; bottom: 0; right: 0px;}
    .coupon_word,.comprehensive .coupon_word{ width: 100%}
    .comprehensive .coupon_word a{ min-height: 72px;}
    .comprehensive .coupon_block { min-height: 150px;}
    .comprehensive .ds_cou_right { bottom: 30px; position: absolute; top: inherit; right: 10px;}
    .merchant_img { width: 120px; margin-left: 10px;}
    .comprehensive .coupon_infor{ padding-left:125px; }
    li.categories_step3,li.categories_step4{ width: 50%}
}
@media(max-width: 640px){
.com_couponlist ul, .home_cate ul, ul.m_history, ul.related{width:100%;}
.b_link ul li, .lach_link ul li,ul.related li,.pop_stores ul li{ width: 33.333%}.store_pic{ height: 70px}
.layer .content p span{    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; width: 100%; display: inline-block; }
    .cou_info .box i{ width: 20px; height: 20px; line-height: 20px}
.cou_info .box a.c_img{  display: none;}
.cou_info .box .c_content{ padding-left: 10px; height: inherit;}
.cou_info .box{ padding: 10px; margin-bottom: 10px }
.cou_info{ box-shadow: 0px 1px 4px #e4e4e4;}
.cou_info .box a.golink{ bottom: 20px;  border-right: 1px solid #ececec; box-shadow: 0px 1px 4px #e4e4e4;}
.cou_info .box a.golink:before,.cou_info .box a.golink:after{ display: none;}
.header.inner { height: 130px;}
.min_h_l,.min_h_r{ float: inherit;}
.min_h_r{width: 90%; margin: 0 auto;}
.header.inner .bgfull{ padding: 0}
.bgfull a.logo{ width: 100px; margin: 4px auto;}
.cou_info .box .c_content span.coupon_code{ width: 120px; right: 0}
ul.cate_content li{ width: 33.33%}
}
@media(max-width: 560px){
 .com_couponlist.main_wrap ul li {
    width: 100%;
    margin-bottom: 10px;
}
/* .coupon_word{ width: 100%} */
/* .ds_content a{ position: relative; padding: 0 0 35px 0;} */
/* .ds_action{ position: absolute; bottom: 0; left: 0;} */
/* .ds_content{ position: relative;} */
.comprehensive .ds_action{ position: relative;}
}
@media(max-width: 540px){
.store_pic{ height: 60px}
.hot_stores ul li, .hot_stores ul li:nth-child(7n), .hot_stores ul li:nth-child(6n),.hot_stores ul li:nth-child(5n),.rela_stores ul li, .rela_stores ul li:nth-child(7n), .rela_stores ul li:nth-child(6n),.rela_stores ul li:nth-child(5n) {
    width: 22.7%;
    margin-right: 3%;
}
.hot_stores ul li, .rela_stores ul li{ margin-bottom: 30px}
.hot_stores span, .rela_stores span{ bottom: -34px}
.hot_stores ul li:nth-child(4n),.rela_stores ul li:nth-child(4n){ margin-right: 0}
.ac_box .good, .ac_box .bad{ display: none;}
.slogan{ font-size: 14px; margin: 6px 0}
ul.cate_content li{ width: 50%}
.comprehensive .ds_cou_right{position: relative; bottom: 0px; float: left; margin-left: 30px;}
.comprehensive .coupon_word,.comprehensive .coupon_word a{  padding-right: 0; display: inline; margin-bottom: 10px;}}
@media(max-width: 500px){
.cou_info .box i{ left: 0px; box-shadow: none;}
.b_link ul li, .lach_link ul li,ul.related li,.pop_stores ul li{ width: 50%}
.layer .content{ width: 95%}
.ds_content{ padding-right: 0;}
.com_coupon .content{ height: inherit;}
ul.cate_content li a, ul.cate_content span{ width: 33.333%}
.header.inner { height: 130px;}
.merchant_img{ width: 100px;}
.comprehensive .coupon_infor{ padding-left: 100px;}
}
@media(max-width: 430px){
.store_pic{ height: 70px}
.hot_stores ul li,.hot_stores ul li:nth-child(4n), .hot_stores ul li:nth-child(7n), .hot_stores ul li:nth-child(6n),.hot_stores ul li:nth-child(5n),.rela_stores ul li,.rela_stores ul li:nth-child(4n), .rela_stores ul li:nth-child(7n), .rela_stores ul li:nth-child(6n),.rela_stores ul li:nth-child(5n) {
    width: 30.66%;
    margin-right: 4%;padding: 3px
}
.c_2 a{ display: block; width: 100%}
.hot_stores ul li:nth-child(3n),.rela_stores ul li:nth-child(3n){ margin-right: 0}
.cou_info .box a.golink, .btn a.coupon span{ bottom: 24px} 
.ac_box>div{margin-right: 0;text-align: center; display: block; float: left; width: 50%}
.ac_box{ overflow: hidden;}
.cou_info .box a.golink{height: 28px; line-height: 28px;}
.contries a{ margin-bottom: 10px}
.ac_box .view{ margin-right: 0}
.ds_cou_right{ position: relative; float: inherit;  margin: 0 auto; right: 0}
.ds_content .coupon_title{ text-align: center; width: 100%;}
.ds_content p{ text-align: center;}
.ds_action{ position: relative;}
/* .ds_content a{ padding:10px 10px 0px 10px;} */
li.categories_step3,li.categories_step4{ width: 100%}
.comprehensive .ds_cou_right{ margin-left: 20px;margin-bottom: 10px;}
.comprehensive .ac_box{ padding-left: 12px;}
.ds_cou_right p.btn span.code{ text-indent: 26px;}
}
@media(max-width: 340px){
.store_pic{ height: 70px}
.hot_stores ul li,.hot_stores ul li:nth-child(4n),.hot_stores ul li:nth-child(3n), .hot_stores ul li:nth-child(7n), .hot_stores ul li:nth-child(6n),.hot_stores ul li:nth-child(5n),
.rela_stores ul li,.rela_stores ul li:nth-child(4n),.rela_stores ul li:nth-child(3n), .rela_stores ul li:nth-child(7n), .rela_stores ul li:nth-child(6n),.rela_stores ul li:nth-child(5n) {
    width: 47.5%;
    margin-right: 5%;
}
/* .ds_action{ margin-top: 50px} */
.s_action{ height:24px;}
/* .ds_cou_right{ left: 60px; bottom: 20px} */
.ds_content{ text-align: center;}

.hot_stores ul li:nth-child(2n),.rela_stores ul li:nth-child(2n){ margin-right: 0}
ul.cate_content li a, ul.cate_content span{ width: 50%}
ul.cate_content li{ width: 100%}
}























