@charset "utf-8";
*{
    border: 0;
    padding: 0;
    margin: 0;
}
body, button, input, select, textarea {
    font: 14px / 1 arial,'Microsoft YaHei',sans-serif;
    color: #666;
    background-color: #f8f8f8;
}
a{
    color: #666;
    outline:none;
}
a:hover{
    text-decoration: none;
}
.clearfix:before,.clearfix:after{ 
    content:""; 
    display:table; 
} 
.w-box img{
    border:1px solid #e4e4e4;
}

.clearfix:after{clear:both;} 
.clearfix{ 
    *zoom:1;/*IE/7/6*/
}
.islider-box {
    width: 100%;
    min-width: 1180px;
    height: 250px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
}
.islider-box ul.islider-box-ul {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
}
.ad-slider{
    height: 150px;
}
.ad-box-ul img{
    width:1180px !important;
    height: 150px !important;
    border:none;
}
.ad-box-ul li a{
    position: static !important; 
    left: 0 !important;
    margin-left: 0 !important;
}

.div-980 .ad-box-ul li a{
    margin-left: -100px !important;
}
.happy-app-bg,.w-happy-bg,.happy-share-coin,.happy-share-tri,.happy-share-open a,.yunqi-btn-form,
#period-select,.w-icon-date,.like-box-body li,.member-rank,.str-nav-tri,.str-box1-pic,.box-recommend-btn > div,.recommend-li,.szlm-pic,.map-box-li em,.w-bar-list li,.yunqi-form-close,.experts-list-title{
    background: url(../img/2016/sprite_index.png) no-repeat;
}
.w-happy-line,.topic-item-line,.recommend-line,.map-box-line,.w-bar-line{
    background: url(../img/2016/sprite_line.png);
}
/* fix bar */
 .w-bar {
    display: none;
    position:fixed;
    top:186px;
    left:0;
    width:38px;
    z-index: 20
}
.w-bar-list li {
    width: 100%;
    height: 30px;
    margin:10px auto;
    text-align:center;
}
li.w-bar-prepare{
    background-position: -289px -485px;
}
li.w-bar-preg{
    background-position: -346px -486px;
}
li.w-bar-woman{
    background-position: -427px -485px;
}
li.w-bar-strategyn{
    background-position: -391px -485px;
}
.w-bar-list li a {
    position: relative;
    top: 3px;
    display:block;
    width: 100%;
    height: 24px;
    line-height:24px;
    font-size:0;
    color: #f6708e;
}
.w-bar-list li a:hover {
    background: #f66385;
    border-radius: 3px;
    color: #fff;
    font-size:12px;
}
.w-bar-list li.active a{
    font-size:12px;
}
.w-bar-list li.active,.w-bar-list li:hover{
    background: none;
}


.w-bar-line{
    height: 1px;
    width: 23px;
    margin:0 auto;
    background-position: left -10px;
}

/*w-box*/
.w-box{
    width: 1180px;
    margin: 20px auto;
}
.w-box *{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

/* 天天喜事 */
 .w-happy {
    border:1px solid #cebff6;
    border-radius:3px;
    height:96px;
    background: #ffedcd;
    position: relative;
}
.w-happy-item{
    position: relative;
    float: left;
    height: 100%;
}
.w-happy-app{
    width: 292px;
    background-color: #846cc4;
}
.happy-app-bg{
    position: absolute;
    top: 15px;
    left: 26px;
    width: 251px;
    height: 68px;
    background-position: left top;
}
.w-happy-app a,.w-happy-app a:hover{
    color: #fff;
}
.w-happy-app span{
    position: absolute;
    right: 35px;
    top: 63px;
    font-size: 12px;
    line-height: 18px;
}
.w-happy-app span em{
    display: inline-block;
    min-width: 39px;
    height: 18px;
    padding:0 4px;
    background: #fd849f;
    border-radius: 3px;
    margin: 0 3px;
    text-align: right;
}
.w-happy-preg{
    width: 826px;
    border-bottom: 1px solid #e6d3cb;
    overflow: hidden;
}
.happy-items{
    position: absolute;
    height: 43px;
    top: 6px;
    width: 10000px;
    left: 70%;
}
.happy-item-shengwa{
    top: 49px;
    left: 90%;
}
.happy-items li{
    float: left;
    background: #fff;
    border-radius:17px;
    height:37px;
    overflow: hidden;
    box-shadow:0 3px 3px #dec49a;
    margin-right: 42px;
    cursor: pointer;
}
.happy-item-shengwa li{
    margin-right: 102px;
}
.w-happy-avatar{
    float: left;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin:4px;
}
.happy-items li span{
    float: left;
    line-height: 38px;
}
.happy-items li span.w-happy-btn{
    float: left;
    padding: 0 7px;
    line-height: 26px;
    background: #fa7a97;
    border-radius: 3px;
    margin: 6px 35px auto 18px;
    color: #fff;
}
.happy-items li:hover .w-happy-btn{
    color:#fff;
    background: #f66385;
}
.w-happy-username{
    color: #999999;
    margin: 0 14px 0 3px;
}
.w-happy-bg{
    width: 8px;
    height: 103px;
    position: absolute;
    right: 61px;
    top: -4px;
    background-position: -266px -446px
}
.w-happy-txt{
    color: #fa7a97;
}
.w-happy-share{
    position: absolute;
    width: auto;
    height: auto;
    right: -1px;
    top: -4px;
    cursor: pointer;
    z-index: 10;
}
.w-happy-share span{
    display: block;
    width: 62px;
    height: 103px;
    font-size: 17px;
    line-height: 20px;
    margin: 0 auto;
    padding: 15px 14px;
    background: #846cc4;
    border-radius: 0 3px 3px 0;
    color:#fffc00;
}
.w-happy-share:hover span{
    background: #715da7
}
a.happy-share-coin{
    display: block;
    width: 24px;
    height: 24px;
    background-position: left -100px;
    margin: 0 auto;
    margin-top:-35px;
}
.happy-share-open{
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 103px;
    right: 0;
    -moz-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    overflow: hidden;
    height: 0;
}
.w-happy-share:hover .happy-share-open{
    height: 148px;
    opacity:1;
    filter: alpha(opacity=100);
}
.happy-share-tri{
    position: relative;
    top: 1px;
    left:183px; 
    width: 12px;
    height: 13px;
    background-position: -302px -382px;
}
.happy-share-btn{
    width: 221px;
    height: 135px;
    /*background: #ffedcd;*/
    background: #fff;
    border:1px solid #846cc4;
    border-radius: 3px;
    box-shadow: 0 3px 10px #aeaeae;
    padding: 12px 0 0 18px;
}
.happy-share-open p{
    font-size: 14px;
    color: #846cc4;
    padding: 0;
    margin-bottom: 15px;
}
.happy-share-open a{
    display: block;
    float: left;
    width: 74px;
    height: 67px;
    margin-left: 8px;
    margin-right: 14px;
}
a.happy-share-btn1{
    background-position: -422px -379px;
}
a.happy-share-btn2{
    background-position: -328px -379px;
}
/**
* dialog
*/
 .dialog-box {
    display:none;
}
.dialog-content {
    position:relative;
    width:628px;
    height:371px;
    background:url(../img/2014/test-dialog.png) no-repeat;
}
#test-dialog-close {
    width:45px;
    height:25px;
    position:absolute;
    right:5px;
    top:5px;
    display:block;
    text-indent:-9999px;
}
.link-to-crazy {
    position:absolute;
    display:block;
    width:200px;
    height:350px;
    right:0;
    top:25px;
}
.start-year, .start-date, .end-year, .end-date {
    position:absolute;
    display: block;
    font-size:26px;
    top:78px;
    width: 137px;
    line-height: 1.5;
    text-align: center;
}
.start-year, .end-year {
    color:#e82558;
}
.start-year,.start-date{
    left:24px;
}
.end-year,.end-date{
    left:223px;
}
.start-date, .end-date {
    top:123px;
    color:#fff;
}

/*box-item*/
.box-wrap{
    width: 880px;
    border: 1px solid #ffe8ed;
    float:left;
    margin-top: 20px;
}
.map-box,.activity-box,.w-happy{
    width: 100%;
}
.box-header{
    position: relative;
    width: 100%;
    height: 54px;
    padding:14px;
    background:#ffecef;
}
.box-header h2,.box-header h3{
    font-size: 26px;
    color:#4e4e4e;
}
.box-header-nav{
    position: absolute;
    top: 20px;
    left: 89px;
}
.box-header-nav li{
    display: block;
    float: left;
    color: #faaabc;
    line-height: 26px;
}
.box-header-nav li a{
    padding:0 12px;
}
.box-header-beiyun li:first-child a{
    color: #f66385
}
.box-header-nav li a:hover{
    color:#de3d7a
}

.box-header-content {
    position:absolute;
    top:15px;
    right:14px;
    font-size:14px;
}
.box-header-beiyun .box-header-content label {
    margin-right:7px;
    margin-left: 20px;
    line-height: 26px;
    float: left;
}
.box-header-beiyun input,.box-header-beiyun select{
    float: left;
    border-radius:2px;
    padding:0 5px;
    width:102px;
    height: 26px;
    line-height: 26px;
}
.w-icon-date{
    position: absolute;
    display:block;
    width: 16px;
    height: 16px;
    left: 165px;
    top: 7px;
    background-position: -225px -445px;
}
#period-select{
    width: 52px;
    /* Chrome */
    -webkit-appearance: none;
    /* Firefox */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: ' '; /* space */
    background-color: #fff;
    background-position: -196px -490px; 
}
.cal_normal{
    display: inline-block;
    width: 100px;
    height: 26px;
    line-height: 26px;
    border-radius:2px;
    margin-left: 24px;
    text-align: center;
    background:#f8789a;
    color: #fff;
}
a.cal_normal:hover{
    background: #f66385;
    color: #fff;
}
.box-wrap{
    background: #ffffff
}
.box-body {
    position: relative;
    padding: 18px 0 18px 15px;
    width: 100%;
    font-family: '宋体';
}
.box-silder{
    float: left;
    position: relative;
    width: 276px;
    height: 276px;
    margin-right: 3px;
    overflow: hidden;
}
.box-silder ul{
    position: absolute;
    left: 0;
    height: 100%;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.box-s-li{
    position: relative;
    display: block;
    float: left;
    width: 276px;
    height: 276px;
}
.box-s-li img{
    width: 100%;
    height: 100%;
}
.box-s-p,.box-s-mask{
    position: absolute;
    bottom: 0;
    height: 46px;
    width: 100%;
    padding: 7px 10px;
    line-height:17px;
    font-size: 0;
}
.box-s-mask{
    background: #000;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.box-s-mask.active,.preg-box-mask.active{
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.box-s-p:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 100%;
    width: 0;
}
.box-s-p a{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    color: #fff;
    font-size: 14px;
}
.box-s-dot{
    position: absolute;
    left: 12px;
    bottom: 52px;
}
.bs-dot{
    display: block;
    float: left;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    background: #cbd4dd;
    cursor: pointer;
}
.bs-dot.active{
    background: #f8789a;
}
.box-change{
    position: absolute;
    top: 16px;
    right: 25px;
    text-decoration: underline;
    color: #acacac;
    font-size: 12px;
    cursor: pointer;
}
.topic-items{
    float: left;
    width: 576px;
    height: 276px;
    overflow: hidden;
}
.topic-item-avatar{
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 12px;
    margin-left: 0;
}
.topic-item{
    float: left;
    width: 264px;
    height: 61px;
    margin: 0 13px 4px 10px;
    overflow: hidden;
}

.topic-item-top{
    float: left;
    width: 551px;
    height: 88px;
}
.topic-item-top .text{
    height: 74px;
    overflow: hidden;
}
.topic-item-top h1,
.topic-item-top h3{
    font-size: 24px;
    margin-bottom: 13px;
    width: 100%;
}
.topic-item-top h1 a,
.topic-item-top h3 a{
    color:#666;
    font-size: 20px;
    line-height: 24px;
    width: 92%;                  /* IE6 需要定义宽度 */
    overflow: hidden;
    font-family: 'Microsoft YaHei';
    white-space: nowrap;            
    text-overflow: ellipsis;    
}
.topic-item-top h1 a:hover{
    color: #f66385
}
.topic-item-top p{
    line-height: 20px;
}
.topic-item-top p a{
    color: #8b8b8b;
    cursor: default;
}
.topic-item-line{
    height: 1px;
    width: 100%;
    background-position: left -3px;
    background-repeat: repeat-x;
}
.change-box{
    width: 100%;
    height:195px;
    overflow: hidden;
}
.topic-item-content{
    float: left;
    margin-top: 11px;
    width: 216px;
}
.sub-content{
    color: #acacac;
    margin-bottom: 4px
}
.topic-item-link{
    display: block;
    width: 100%;                  /* IE6 需要定义宽度 */
    overflow: hidden;
    white-space: nowrap;            
    text-overflow: ellipsis;      /* IE, Safari (WebKit) */
    line-height: 22px;
}

/*福利频道*/
.fuli-box,.like-box,.experts-box,.szlm-box,.members{
    float: right;
    width: 279px;
}
.box-header-more{
    display: block;
    position: absolute;
    right:12px;
    top:  26px;
    font-family: '宋体';
    font-size: 12px;
    color: #b8b6b6;
}
.box-header-more a{
    color: #acacac;
    /*padding: 0 8px;*/
}
.fuli-box .box-body{
    padding:0;
}
.fuli-box .topic-items{
    width: 100%;
    height: 312px;
    overflow: visible;
}
.fuli-box .topic-items li{
    overflow: hidden;
    height: 38px;
}
.fuli-box .topic-items li:first-child .topic-item-line{
    display: none;
}
.fuli-box .topic-item-line{
    width: 250px;
    background-position: left -6px;
    margin: 0 auto
}
.fuli-box .topic-items img{
    /*display: none;*/
    margin:0 14px 12px;
    width: 250px;
    height: 145px;
    border:0;
}
.fuli-box li.active{
    box-shadow:0 0 3px 2px #ddd
}
.fuli-box li.active .topic-item-line{
    display: none !important;
}
.fuli-item-title{
    height: 38px;
    line-height: 38px;
    padding: 0 14px;
    width: 100%;
}
.fuli-item-title a{
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;            
    text-overflow: ellipsis; 
}
.fuli-box .topic-items li:hover a{
    color: #df3d7a
}
.topic-items-tag{
    color: #acacac;
    padding-right: 10px;
}
span.fontPink{
    color:#f15584 ;
}

/*孕期*/
.preg-box{
    border-color: #e9e8f4
}
.box-header-yunqi{
    background:#ece8ff;
    z-index: 10;
}
.box-header-yunqi ul li,
.box-header-yunqi .li-first a{
    color: #968ec0;
}
.box-header-yunqi li a:hover{
    color:#8078ad;
}
.box-header-yunqi .box-header-content{
    top:8px;
    width: 518px;
}
.yunqi-tools{
    position: absolute;
    left: auto;
    right: 78px;
    bottom: 0;
    width: 387px;
    height: 62px;
    overflow: hidden;
}
.yunqi-tools-li{
    background:#ece8ff;
    position: absolute;
    bottom: 0;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.yunqi-tools-a{
    left: 0;
    width: 237px;
}
.yunqi-tools-b{
    left: 237px;
    width: 291px;
}
.yunqi-tools-b.short{
    left: 39px;
}
.yunqi-tools-b.active{
    left: 39px;
}
.yunqi-tools-c{
    left: 330px;
    width: 255px;
}
.yunqi-tools-c.active{
    left: 132px;
}
.yunqi-tools-li p{
    float: left;
    width: 16px;
    height: 40px;
    line-height: 12px;
    padding-top: 2px;
    background:#d9d5ed; 
    border-radius: 5px;
    font-family: 'Microsoft YaHei';
    font-size:10px;
    color: #666;
    text-align: center;
    margin:0 2.5px; 
}
.yunqi-header-a{
    position: relative;
    display: block;
    float: left;
    width: 18px;
}
.yunqi-a-dot{
    width: 13px;
    border-radius:5px;
    background:#d1cde9;
    height: 15px;
    margin:25px auto 0; 
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
a.yunqi-header-a:hover .yunqi-a-dot{
    height:25px;
    width: 15px;
    margin-top:15px;
    background:  #a49dc9;
}
.yunqi-span{
    position: absolute;
    bottom: 38px;
    width: 44px;
    height: 24px;
    border-radius: 2px;
    background: #c3bedd;
    color: #fff;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.yunqi-tools-tri{
    position: absolute;
    bottom: -6px;
    left: 22px;
    margin-left: -3.5px;
    width: 7px;
    height: 6px;
    border-left: 3.5px solid transparent;
    border-right: 3.5px solid transparent;
    border-top: 6px solid #c3bedd;
}
.button_yuqi{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 58px;
    height: 40px;
    padding: 3.5px 8px;
    background: #bab3e2;
    border-radius: 3px;
    color: #fff;
    line-height: 17px;
}
a.button_yuqi:hover{
    background: #a49dc9;
    color: #fff;
}
.yunqi-btn{
    float: right;
    position: relative;
    width: 58px;
    height: 40px;
}
.yunqi-btn-form{
    position: absolute;
    top: 46px;
    right: -37px;
    background-position: right top;
    width: 246px;
    height: 125px;
    padding-top: 27px;
}
.yunqi-btn-form p{
    width: 100%;
    text-align: center;
}
p.yunqi-form-tips{
    font-size: 12px;
}
p.yunqi-btn-form-title{
    text-align: left;
    padding-left: 22px
}
.yunqi-form-submit{
    display: block;
    width: 66px;
    height: 24px;
    background: #bab3e2;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 53px;
    left: 156px;
    text-align: center;
    line-height: 24px;
}
.yunqi-form-submit:hover{
    color: #fff;
}
.yunqi-btn-num{
    color: #f66385;
}
.yunqi-btn-form input{
    width: 116px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #bdb6e3;
    border-radius: 3px;
    margin: 12px auto 13px;
    padding: 0 5px;
    position: relative;
    left: 25px;
}
.yunqi-btn-form .w-icon-date{
    top: 57px;
    left: 120px;
}
.yunqi-form-close{
    position: absolute;
    right: 13px;
    top: 16px;
    width: 11px;
    height: 11px;
    background-position: -199px -448px;
    outline: none;
    cursor: pointer;
}
.preg-box-pics{
    float: left;
    width: 160px;
    height: 276px;
    overflow: hidden;
}
.preg-box-pic{
    position: relative;
    width: 160px;
    height: 134px;
    margin-bottom: 7px;
    overflow: hidden;
    cursor: pointer;
}

.preg-box-pic img{
    width: 100%;
}
.preg-box-mask,.preg-box-pic span{
    position: absolute;
    left: 1px;
    bottom: 0;
    height: 24px;
    width: 158px;
    padding: 5px 3px 5px 10px;
}
.preg-box-mask{
    background: #000;
    opacity: 0.65;
    filter: alpha(opacity=65);
}
.preg-box-pic span a{
    display: block;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;            
    text-overflow: ellipsis; 
}
.preg-box .topic-items{
    width: 354px;
    margin:0 36px 0 24px
}
.preg-box .change-box,
.div-980 .change-box{
    height: 100%;
}
.preg-box .topic-item,
.div-980 .topic-item{
    width: 355px;
    height: 71px;
    margin: 0;
}
.preg-box .topic-item:first-child .topic-item-line,
.div-980 .topic-item:first-child .topic-item-line{
    display: none;
}
.preg-box .box-change{
    right: 327px;
}
.preg-box .topic-item-avatar,
.div-980 .topic-item-avatar{
    margin: 17px 9px;
    margin-left: 0
}
.preg-box .topic-item-content{
    margin-top: 17px;
    width: 300px;
}
.preg-box a.topic-item-link:hover{
    color: #8078ad
}
/*猜你喜欢*/
.like-box,.map-box{
    border-color: #e7eff3;
}
.like-box .box-header,.map-box .box-header{
    background-color: #e4f2f8;
}
.box-header-like .box-header-more{
    color: #acacac
}
.box-header-like em{
    padding: 0;
    color: #91cfff;
}
.like-box-body{
    min-height: 312px;
    padding: 0

}
.like-box-body .topic-items{
    float: left;
    width: 100%;
    height: 310px;
}
.like-box-body .topic-item-line{
    background-position: left -6px;
    margin-top: 2px;
}
.like-box-body li:last-child .topic-item-line{
    display: none
}
.like-box-body li{
    width: 100%;
    height: 50px;
    background-position: -445px -509px;
    padding:0 15px;
}
.like-box-body li.active{
    background-position: -443px -509px
}
.like-box-body li.even{
    background-color: #f6fcff
}
.like-box-body a{
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 18px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;            
    text-overflow: ellipsis; 
}
.like-box-body a:hover{
    color:#63bae1;
}
/*播种活动*/
.activity-box{
    position: relative;
    height: 150px;
}
.act-title{
    position: absolute;
    top: 50%;
    margin-top: -32px;
    left: -1px;
    width: 18px;
    height: 64px;
    background: #f8789a;
    border:1px solid #ffe4eb;
    border-radius: 0 3px 3px 0;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    padding: 3px 0;
    text-align: center;
}
.act-list{
    width: 100%;
    padding-left: 35px;
    height: 120px;
    overflow: hidden;
    margin-top: 14px;
}
.act-list li{
    float: left;
    width: 380px;
}
.act-list li img{
    float: left;
    width: 120px;
    height: 120px;
}
.act-body{
    float: left;
    width: 243px;
    margin-left: 13px;
    margin-right: 4px;
}
.act-body b{
    display: block;
    float: left;
    width: 30px;
    height: 20px;
    font-weight: normal;
    font-size: 12px;
    color: #f8789a;
    line-height:20px;
    text-align: center;  
    margin-left: 1px;
    margin-right: 4px;
    border:1px solid #f8789a;
    border-radius: 3px;
}
.act-body a:hover{
    color: #f66385

}
.act-li-title a{
    display: block;
    font-size: 16px;
    line-height: 22px;
    height: 20px;
    overflow: hidden;
}
.act-li-title{
    margin-bottom: 11px;
}
.act-li-text{
    line-height: 17px;
    width: 235px;
    height: 34px; 
    overflow: hidden;
    color:#acacac;
}
.act-btn{
    display: block;
    width: 80px;
    height: 26px;
    margin-top: 26px;
    border-radius: 3px;
    background: #f8789a;
    color: #fff;
    line-height: 26px;
    text-align: center;
}
a.act-btn:hover{
    color: #fff;
    background: #f66385
}
/*女人*/

.woman-box .topic-item-top h3 a:hover{
    color: #f66385
}
/*爱心妈妈*/
.members-nav{
    margin:16px auto 28px;
    width: 258px;
    height: 28px;
    line-height: 26px;
    border: 1px solid #f15886;
    border-radius: 3px;
}
.members-nav ul{
    margin-left: -1px;
    width: inherit;
}
.members-nav li{
    float: left;
    width: 86px;
    height: 26px;
    text-align: center;
    cursor: pointer;
}
.members-nav li:first-child{
    border-radius: 3px 0 0 3px;
}
.members-nav li:last-child{
    border-radius: 0 3px 3px 0;
}
.members-nav li a{
    color: #f15886;
}
.members-nav li a:hover{
    color: #f15886;
}
.members-nav li.on{
    background: #f8789a;
}
.members-nav li.on a,.members-nav li.on a:hover{
    color: #fff;
}
.members-list{
    width: 258px;
    height: 238px;
    margin:0 auto;
}
.members-list ul{
    display: none;
}
.members-list ul li{
    position: relative;
    float: left;
    width: 86px;
    text-align: center;
    margin-bottom: 20px;
}
.member-name{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.rank-avatar{
    border: 1px solid #ffe8ed;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.member-rank{
    display: block;
    width: 23px;
    height: 29px;
    position: absolute;
    top: 41px;
    left: 50%;
    margin-left: -35px;
}
.member-rank-1{
    background-position: -8px -442px;
}
.member-rank-2{
    background-position: -33px -442px;
}
.member-rank-3{
    background-position: -66px -442px;
}
.member-rank-4{
    background-position: -96px -442px;
}
.member-rank-5{
    background-position: -125px -442px;
}
.member-rank-6{
    background-position: -156px -442px;
}
/*疑难攻略*/
.strategyn-box a:hover{
    color:#3aab88;
}
.strategyn-box,.experts-box,.szlm-box{
    border-color:#dcf4ed;
}
.strategyn-box{
    height: 732px;
}
.box-header-strategyn,.box-header-experts,.box-header-szlm{
    background: #ecf9f5;
}
.box-header-strategyn .box-header-nav{
    left:148px;
}
.box-header-strategyn li,
.box-header-strategyn li a:hover{
    color: #72baa4
}

.str-box-nav{
    width: 100%;
    border-bottom: 1px solid #b8e0d4;
}
.str-box-nav ul{
    margin:5px 12px 0;
}
.str-box-nav ul li{
    position: relative;
    padding: 0 18px;
    line-height: 48px;
    float: left;
    cursor: pointer;
}
.str-box-nav ul li:hover{
    color: #72baa4;
}
.str-key{
    color: #aacbc1
}
.str-nav-tri{
    display: none;
    height: 7px;
    width: 20px;
    background-color:  #fff;
    background-position: -189px bottom;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left:-10px;
}
.str-box-nav li.active .str-nav-tri{
    display: block;
}
.str-box1-pic{
    float: left;
    position: relative;
    width: 276px;
    height: 276px;
    background-position: left -144px;
    font-family:'Microsoft YaHei';
}
.str-box1-p{
    position: absolute;
    top: 21px;
    left: 12px;
    font-size: 26px
}
.str-box1-text{
    position: absolute;
    left: 69px;
    top: 91px;
    width: 192px;
    font-size: 16px;
    line-height: 25px;
    text-align: right;
}
.str-box1-btn{
    position: absolute;
    right: 14px;
    bottom: 16px;
    display: block;
    width: 98px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    background:#8ecfbb;
    border-radius: 3px; 
    text-align: center;
}
a.str-box1-btn:hover{
    color: #fff;
    background: #72baa4;
}
.box-1 .topic-items{
    height: 195px;
}
.strategyn-box .topic-item-top h3 a:hover{
    color: #72baa4
}
.strategyn-box .summary a:hover{
    color: #8b8b8b;
}
.strategyn-box .box-content{
    display: none;
}
.strategyn-box .box-body{
    height: 311px;
}
.strategyn-box .box-1{
    display: block;
}
.str-box .topic-items{
    width: 842px;
    height: 286px;
    margin:-10px 2px 0 
}
.str-box .topic-item{
    width: 380px;
    height: 75px;
    margin: 0;
    margin-right:80px;
}
.str-box .topic-item-left{
    margin: 0;
}
.str-box .topic-item-avatar{
    margin:23px 10px 15px 4px;
}
.str-box .topic-item-content{
    margin-top: 18px;
    width: 323px
}
.str-box .topic-item-link{
    line-height: 20px;
    white-space: normal;
    height: 20px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;            
    text-overflow: ellipsis; 

}
.box-recommend{
    position: relative;
    clear: both;
    width: 100%;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    height: 306px;
    overflow: hidden;
}
.recommend-line{
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -405px;
    height: 1px;
    width: 288px;
    background-position: top left;
    z-index: 1
}
.recommend-line-2{
    margin-left: 105px;
}
.box-recommend-title{
    font-size: 20px;
    color: #8ecfbb;
    font-family: 'Microsoft YaHei';
    width: 222px;
    height: 20px;
    text-align: center;
    background:#fff;
    margin: 0 auto;
}
.box-recommend-list{
    position: relative;
    margin-top: 35px;
    width: 100%;
    height: 228px;
    overflow: hidden;
}
.box-recommend-list>ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 858px;
    height: 100%;
}
.box-recommend-li{
    float: left;
    width: 230px;
    height: 100%;
    margin-left: 54px;
    text-align: center;
    overflow: hidden;
}
.box-recommend-li:first-child{
    margin: 0
}

.hospital-name{
    font-weight: bold;
    font-size: 16px;
    color: #8ecfbb;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;            
    text-overflow: ellipsis; 
    margin-bottom: 20px;
}
.recommend-li{
    padding-left: 15px;
    margin-bottom: 22px;
    text-align: left;
    background-position: -461px -527px;
    width: 100%;
    height: 16px;
    overflow: hidden;
    white-space: nowrap;            
    text-overflow: ellipsis; 
}
.recommend-pic{
    display: table-cell;
    width: 235px;
    height: 75px;
    border:1px solid #e4e4e4;
    margin: 0 auto;
    vertical-align: middle;
}
.recommend-pic img{
    width: 100%;
    max-height: 75px;
    border:none;
    vertical-align: middle;
}
.recommend-ul{
    margin-top: 37px;
}
.box-recommend-btn > div{
    width: 12px;
    height: 23px;
    position: absolute;
    top: 60%;
    cursor: pointer;
}
.box-recommend-btn .prev{
    left: 15px;
    background-position: -162px -492px;
}
.box-recommend-btn .next{
    right: 15px;
    background-position: -184px -492px;
}
/*专家问答*/
.experts-box-body{
    height: 294px;
    padding: 0;
    font-family: 'Microsoft YaHei'
}
.experts-box-body h4{
    color: #8ecfbb;
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 24px;
    text-align: center;
}
.experts-box-body h4.experts-pre{
    color: #666;
}
.experts-info-title{
    padding-left: 3px;
    font-size: 12px;
    text-align: center;
    font-family: 'Microsoft YaHei';
    background: #fff;
    color: #acacac;
}
.experts-info-text{
    padding:0 22px 0 25px;
    height: 78px;
    overflow: hidden;
}
.experts-info-text img{
    float: left;
    width: 70px;
    height: 70px;
    border:2px solid #afe9d7;
    border-radius: 50%;
    margin-right: 12px;
}
.experts-info-desc{
    float: left;
    width: 148px;
    height: 32px;
    margin-top: 12px;
    margin-bottom: 7px;
    overflow: hidden;
    color: #acacac;
    font-size: 12px;
    line-height: 16px;
}
.experts-info-name{
    float: left;
    width: 148px;
    height: 19px;
    margin: 0;
    margin-bottom: 7px;
    color: #86b1a4;
    font-size: 19px;
    line-height: 19px;
    white-space: nowrap; 
    overflow: visible;          
}
.experts-info-name span{
    vertical-align: bottom;
}
.experts-info-name span.name{
    display: inline-block;
    width: 60%;
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis; 
}
.experts-info-name span.department{
    font-size: 12px;
    white-space: nowrap;  
    color: #666;
}
.experts-btn{
    display: block;
    width: 232px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background:#8ecfbb; 
    color: #fff;
    border-radius:3px;
    margin: 15px auto 20px;

}
.experts-btn:hover{
    color: #fff;
    background: #72baa4;
}
.experts-list{
    padding:0 22px
}
.experts-list-title{
    margin-bottom:11px;
    height: 14px;
    background-position: right -461px;
    text-align: center;
    color:#acacac;
}
.experts-list li{ 
    width: 100%;
    overflow: hidden;
    white-space: nowrap;            
    text-overflow: ellipsis; 
    margin-bottom: 11px;
}

.experts-list li em{
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: 4px;
    border-left: 7px solid #8ecfbb;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.experts-list a:hover{
    color: #72baa4
}
.list-tags{
    color: #acacac;
}
/*送子灵庙*/
.szlm-box-body{
    height: 306px;
    font-family: 'Microsoft YaHei';
}
.szlm-pic{
    position: absolute;
    top: 30px;
    left: 34px;
    width: 206px;
    height: 209px;
    background-position: -290px -144px;
}
.szlm-text{
    position: absolute;
    top: 249px;
    left: 29px;
    font-size: 10px;
    line-height: 12px;
}
.szlm-text span{
    display: block;
}
.szlm-num{
    font-size: 30px;
    line-height: 32px;
    color: #8ecfbb;
    font-weight: bold;
    margin-left: -2px;
}
.szlm-btn{
    position: absolute;
    top: 251px;
    left: 148px;
    display: block;
    width: 102px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 3px;
    background: #8ecfbb;
    color: #fff;
}
.szlm-btn:hover{
    color: #fff;
    background: #72baa4;
}
/**/
.ad-box{
    width: 100%;
    height: 150px;
    border-color: #e9e8f4;
    overflow: hidden;
}

.slick-slide img{
    width: 1180px;
    border:none;
}
.slick-dots{
    bottom: 0;
    right: 16px;
}
.slick-dots li{
    float: right;
    width: 15px;
    display: inline-block;
    margin: 0;
}
.slick-dots li button {
    width: 8px;
    height: 8px;
    background: #c9c9c9;
    border-radius: 50%;
    font-size:0;
}
.slick-dots li button:before{
    content: ''
}
li.slick-active button,.slick-dots li button:hover{
    background: #f8789a
}
/*网站地图*/
.map-box-body{
    padding: 45px 40px 32px;
}
.map-box-li{
    float: left;
    width: 549px;
    min-height: 165px;
}
.map-box-li2{
    position: relative;
    left: 50px;
}
.map-box-li h4{
    height: 24px;
    font-size: 24px;
    position: relative;
    padding-left: 31px;
    font-family: 'Microsoft YaHei';
    margin-bottom: 10px;
}
.map-box-li em{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #acacac
}
em.box-list1{
    background-position: -294px -520px;
}
em.box-list2{
    background-position: -328px -520px;
}
em.box-list3{
    background-position: -365px -518px;
}
em.box-list4{
    background-position: -403px -519px;
}
.map-box-line{
    height: 1px; 
    width: 507px;
    background-position: left -6px;
}
.box-list-ul{
    margin-top:17px; 
}
.box-list-ul li{
    display: block;
    float: left;
    width: 135px;
    height: 30px;
    margin-bottom: 5px;
}
.map-box-li2 li{
    width: 130px;
}
.box-list-ul li a{
    display: inline-block;
    padding:0 10px; 
    line-height: 30px;
    height: 30px;
}
.box-list-ul li a.font-blue{
    color: #63bae1
}
.box-list-ul a:hover{
    padding:0 9px; 
    border:1px solid #72d1f9;
    border-radius: 15px;
    color: inherit;
    line-height: 28px;
}
/*980调整*/
.div-980 .w-box{
    width: 980px;
}
.div-980 .w-happy-preg{
    width: 626px;
}
/*
.div-980 .w-happy-app{
    left: 11px;
}
.div-980 .w-happy-preg{
    left: 252px;
    width:525px;
}
.div-980 .w-happy-line{
    left: 780px;
}
.div-980 .w-happy-share{
    right: 18px;
}
.div-980 .w-happy-preg li > div{
    width: 243px;
}
.div-980 .w-happy-preg li > div.w-happy-shengwa{
    margin-left: 20px;
}
.div-980 .w-happy-item img{
    margin-right: 5px;
}
.div-980 .w-happy-content{
    width: 171px;
}
.div-980 .h4_huaiyun{
    background:url('../img/2016/sprite_980.png') center bottom;
}
.div-980 .h4_shengwa{
    background:url('../img/2016/sprite_980.png') center top;
}*/
.div-980 .prepare-box,
.div-980 .preg-box,
.div-980 .woman-box,
.div-980 .strategyn-box
{
    width: 680px;
}
.div-980 .topic-items{
    width: 384px;
}
.div-980 .fuli-box .topic-items,
.div-980 .like-box-body .topic-items{
    width: 100%
}
.div-980 .topic-item{
    width:334px;
}
.div-980 .topic-item-avatar{
    margin: 13px 9px 13px 0;
}
.div-980 .topic-item-top .topic-item-avatar{
    margin-bottom: 39px;
}
.div-980 .topic-item-top p{
    width: 100%;
}
.div-980 .preg-box .topic-items{
    float: right;
    margin:0;
}
.div-980 .preg-box .box-silder{
    float: right;
}
.div-980 .topic-item{
    margin-left: 10px;
}
.div-980 .preg-box .box-change{
    right: 25px;
}
.div-980 .act-list{
    padding-left: 26px;
}
.div-980 .act-list li{
    position: relative;
    height: 121px;
    width: 317px;
    padding-left: 9px;
}
.div-980 .act-body{
    width: 171px;
}
.div-980 .act-li-title{
    margin-bottom: 5px;
}
.div-980 .act-li-title a{
    height: 40px;
    overflow: visible;
}
.div-980 .act-li-text{
    width: 170px;
}
.div-980 .act-btn{
    margin-top: 12px;
}
.div-980 .map-box-line{
    width: 398px;
}
.div-980 .map-box-li{
    width: 420px;
}
.div-980 .str-box-nav ul li{
    padding: 0 9px;
}
.div-980 .islider-box{
    min-width: 980px;
}
.div-980 .str-box .topic-item-avatar{
    margin: 23px 10px 15px 4px;
}
.div-980 .strategyn-box .topic-items{
    height: 276px;
}
.div-980 .str-box .topic-items{
    height: 286px;
}
.div-980 .str-box .topic-item{
    width: 314px;
    margin: 0 5px 0;
}
.div-980 .topic-item-content{
    width: 288px;
}
.div-980 .str-box .topic-items{
    width: 100%;
}
.div-980 .str-box .topic-item-content{
    width: 250px;
}
.div-980 .box-recommend{
    padding-left: 63px;
    padding-right: 78px;
}
.div-980 .box-recommend-li{
    width: 235px;
}
.div-980 .recommend-line{
    width: 182px;
}
.div-980 .recommend-line-1{
    margin-left: -302px;
}
.div-980 .box-recommend-list>ul{
    width: 590px;
}
.div-980 .ooxx-slider{
    margin-left: -100px;
}
.hide{
    display: none;
}
.box-980{
    display: none;
}
.div-980 .div-1180{
    display: none;
}
.div-980 .box-980{
    display: block;
}
#nav-unread-tip{
    right:0;
    left: auto;
}
