@charset "Shift_JIS";


/* Firefox 用 */

/* Firefox3 スクロールバーエリア消滅を防ぐ
html {
  overfflow: scroll;
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}
*/

/* Internet Explorer 用 */

table {
  /* IE 6以前でtableへのフォントサイズ継承がうまくいかない問題を回避 */
  font-size: inherit;
  font: 100%
}

pre, code, kbd, samp, tt {
  /* IE 全般でpreやcodeの等幅フォントサイズが小さくなる問題を回避 */
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

pre, p {
  /* 半角英字を連続で打つと折り返さない問題を回避 IE独自のプロパティ(Google Chrome、Safariにも有効) */
  word-break: break-all;
}


/* clearfix */
.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix{
  display: inline-block;
  min-height: 1%;  /* for IE 7*/
}

/* Hides from IE-mac */
* html .clearfix { height: 1%; }
.clearfix { display: block; }