@charset "Shift_JIS";

/* CSS Infomation ======================================
  File name: base.css
  Description: sWIKI
====================================================== */

body {
  background-color: black;
  background-position: center;
  font-size: 14px;
  font-family: "MS PGothic", "Osaka",Arial, sans-serif;
}

a { text-decoration: underline; }
a:hover { text-decoration: underline; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* header style                                                           */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

div#header {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* container style                                                        */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

div#container {
	width: 880px;
/*	height: 800px; */
	margin: auto;
	background-color: #fff;
	padding: 50px 30px 20px;
}


div#menubar {
	float: left;
	width: 170px;
	height: 100%;

	padding: 12px;
        padding-top: 20px;
	background-color: #e4171f;
	border: 3px solid #111;
	color: #fff;
}

body#swikitop div#maincontens {
	float: left;
	width: 440px;
	margin-left: 20px;
}

div#maincontens {
	float: left;
	width: 660px;
	margin-left: 20px;
}

div#maincontens_sitesub {
	float: right;
	width: px;
	margin-left: px;
}

body#swikitop div#content_title {
	width: 390px;
	border: solid 2px #666;
	background-color: #ddd;
	margin-bottom: 6px;
	padding: 12px 15px 0px;
	font-size: 140%;
	font-weight: bold;
	color: #B20203;
	background-image: url("../img/title_back.png");
}

#content_title {
	width: 625px;
	border: solid 2px #666;
	background-color: #ddd;
	margin-bottom: 20px;
	padding: 12px 15px 0px;
	font-size: 140%;
	font-weight: bold;
	color: #B20203;
	background-image: url("../img/title_back.png");
}

#content_title p {
	font-size: 13px;
	font-weight: normal;
	margin-left: 0px;
	margin-bottom: 0px;
}

#maincontens h2 {
	padding: 8px 0 0 26px;
    height: 33px;
	background-image: url("../img/stitle_back.png");
	background-repeat   : no-repeat;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

#maincontens h3 {
	margin: 0px 20px 2px 10px;
	font-weight: bold;
}

#maincontens p {
	margin: 0px 20px 8px 10px;
}

.agreement-list {
	margin-left: 20px;
	margin-bottom: 8px;
}

div#qanda h3 {
	margin-top: 10px;
	padding: 7px 5px 6px 14px;
	font-size: 20px;
	font-weight: bold;
	background-color: #bccbee;
	color: #000;
	border: solid 1px #8a8a8a;
}

div#qanda p {
	padding: 14px;
	margin-bottom: 20px;
}

.qanda {
		color: #e4171f;
	font-weight: bold;
}

div#maincontens div#colors h2 {
	height: 20px;
	margin: 10px 0;
	padding: 7px 5px 6px 14px;
	font-size: 20px;
	font-weight: bold;
	background-color: #bccbee;
	color: #fff;
	border: solid 1px #8a8a8a;
	background-image: none;
}

div#maincontens div#colors table
{
    margin-bottom: 50px;
}

div#maincontens div#colors table td
{
	padding: 10px 10px 0px 10px;
}

img.colors
{
	margin-top: 2px;
	border: 1px solid #000;
}

body#privacy h3
	{
	margin-bottom: 10px;
}

ul.privacy
	{
	list-style-type: square;
	margin: 0 20px 20px 30px;
	}

ul.privacy li
	{
	margin-bottom: 10px;
}

#maincontens p.contact {
	margin-top: 40px;
	padding: 12px;
	border: 1px gray solid;
	}

#maincontens hr {
	background-color: #888888;
	border: 0 none;
    height: 1px;
    width: 98%;
}

#kaitei {
padding-right: 25px;
margin-top: 30px;
text-align: right;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* container sidemenu topPage-Only style                                  */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

div#sidemenu {
	float: right;
	width: 210px;
}

#sidemenu p {
	font-size: 90%;
	margin-bottom: 8px;
}

.announce {
	width: 208px;
	height: 24px;
	margin-bottom: 8px;
	padding-top: 10px;
	border: solid 1px #999;
	background-image: url("../img/info_back.png");
	text-align: center;
	font-weight: bold;
	color: #444;
	}

.twtr-join-conv, .twtr-hd h4 {
	font-weight: bold;

}

div#shika {
	background-image: url("../img/h3_sika.png");
	background-repeat: no-repeat;
	padding-top: 147px;
	padding-left: 0px;
}


#shika h2 {
	margin-top: 18px;
	margin-left: 124px;
    width: 276px;
}

#explanation-shika {
	width: 425px;
	padding-top: 8px;
	border: 2px solid black;
	background-color: #830E12;
	color: white;
	line-height: 170%;
}


div#saru {
	background-image: url("../img/h3_saru.png");
	background-repeat: no-repeat;
	padding-top: 197px;
	padding-left: 0px;
	margin-top: 10px;
}


#saru h2 {
	margin-top: 0px;
	margin-left: 0px;
    width: 276px;
}

#explanation-shika {
	width: 425px;
	padding-top: 8px;
	border: 2px solid black;
	background-color: #830E12;
	color: white;
	line-height: 170%;
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* footer style                                                           */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

div#neweditwiki {
	background-color: #fff;
	position: relative;
	margin: 0px auto 0px auto;
	padding: 0 20px 5px 35px;
	width: 885px;
	line-height: 170%;
}

div#neweditwiki a {
	color: #444;
}

div#footer {
	position: relative;
	margin: 0px auto 2px auto;
	width: 940px;
	height: 45px;
	background-image: url(../img/mfp_footer_wide.png);
	background-repeat: no-repeat;
	background-color: #fff;
}

div#footer span {
	display: block;
	font-family: "Myriad Pro","Verdana","Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	position: absolute;
	color: #FFFFFF;
	width: 940px;
	height: 30px;
	text-align: center;
	top: 14px;
	left: 0px;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* commons style                                                          */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.arrangement-center { text-align: center; }
.relative { position: relative; }

.denial { text-decoration: line-through; }  /* 打ち消し線 */
.font-ul { text-decoration: underline; }
.font-bold { font-weight: bold; }

.annotation { color: yellow; font-size: 16px; font-weight: bold; }
.font-red { color: red; }
.font-green { color: #147f4e}




div#maincontens {
	line-height: 170%;
}