@charset "Shift_JIS";

/* CSS Infomation ======================================
  File name: reset.css
  Date: 2011.01.24
  Description: ブラウザデフォルトスタイルリセット用
====================================================== */


html, body, div, span, p, a, dl,dt,dd,ul,ol,li,
h1, h2, h3, h4, h5, h6, pre, form, fieldset,
input, textarea, blockquote, table, th, tr, td {
  margin:  0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing:         0;
}

img, fieldset {
  border: 0;
    padding: 0;
}

ddress, em, caption, cite, code, dfn, th, var {
  font-style:  normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size:     100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}