@charset "utf-8";

/* --------------------------------------------------------------- global */
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	color: #333333;
/*	font: small "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", Osaka;*/
	font: 10px "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", Osaka;
}
*:first-child+html body {
	font-size: 62.5%;
}
* html body {
	font-size: 62.5%;
}
img, table { border: none; }
img {vertical-align:bottom;}
a {
	color: #333333;
	font-weight: bold;
}
a:link,a:visited { 
	text-decoration: none;
	outline: none;
 }
a:hover,a:active {
	text-decoration: underline;
	outline: none;
 }
h1 {
	font-size: 10px;
	display: inline;
	font-weight: normal;
}
.clear {
	font-size: 0;
	line-height: 0;
	height:0;
	clear: both;
	display: block;
}
/* --------------------------------------------------------------- class */
.red { color: #FF0000; }

/* --------------------------------------------------------------- FORM STYLE */
form {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

/* --------------------------------------------------------------- clearFix */
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-table; zoom: 1}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

