@charset "utf-8";

/* --------------------------------------------------------------- block */
#wrapper {
    background-image: url(../img/back.jpg);
    background-repeat: repeat-y;
    width: 976px;
    margin-right: auto;
    margin-left: auto;
}
#wrap {
    width: 950px;
    margin-right: auto;
    margin-left: auto;
}
#content {
    width: 950px;
    padding-top: 20px;
}

/* --------------------------------------------------------------- header */
#header {
    background-image: url(../img/header_bk.jpg);
    background-repeat: no-repeat;
    height: 57px;
    width: 950px;
}
#leadText {
    font-size: 10px;
    color: #FFFFFF;
    text-align: left;
    width: 380px;
    float: right;
    line-height: 150%;
    padding-top: 13px;
    padding-right: 15px;
}
#leadText p {
    display: inline;
}
#header h2 {
    width: 145px;
    float: left;
}
#header .mblp {
    width: 348px;
    float: left;
}

/* --------------------------------------------------------------- navi */
#navi {
    width: 949px;
    background-color: #9E9E9E;
    padding-top: 1px;
    padding-left: 1px;
}
#navi ul li {
    display: inline;
}
#navi ul {
    float: left;
    width: 791px;
}
#topLogin {
    background-color: #393939;
    height: 42px;
    width: 158px;
    float: left;
    text-align: center;
    padding-top: 2px;
}
.naviUnder {
    background-image: url(../img/navi_under.jpg);
    background-repeat: repeat-x;
    height: 15px;
    padding-top: 6px;
    padding-left: 15px;
    font-size: 10px;
}
#topLogin ol li {
    padding-top: 3px;
}
#navi ul li img {
    padding-right: 1px;
}

/* --------------------------------------------------------------- contentL */
#contentL {
    float: left;
    width: 220px;
    padding-left: 17px;
    font-size: 13px;
}
#contentL p {
    text-align: center;
    padding: 0 0 10px;
}
#contentL a:link{
    color: #333333;
    text-decoration: none;
}
#contentL a:visited{
    color: #333333;
    text-decoration: none;
}
#contentL a:hover{
    color: #333333;
    text-decoration: none;
}
#contentL a:active{
    color: #333333;
    text-decoration: none;
}
#btnPa a{
    display:block;
    width:214px;
    height:50px;
    background-image: url(../img/btn_pa.jpg);
    background-repeat: no-repeat;
}
#btnPa a:hover{
    background:url("../img/btn_pa_ov.jpg");
}
#btnCl a{
    display:block;
    width:214px;
    height:50px;
    background-image: url(../img/btn_cl.jpg);
    background-repeat: no-repeat;
}
#btnCl a:hover{
    background:url("../img/btn_cl_ov.jpg");
}
.sidenaviTit {
    width: 220px;
    padding-bottom: 10px;
}
.sidemenu {
    width: 200px;
    padding-top: 12px;
    padding-right: 11px;
    padding-bottom: 20px;
    padding-left: 9px;
}
.sidemenu li {
    background-image: url(../img/sidenavi_arrow.gif);
    background-repeat: no-repeat;
    padding-left: 24px;
    background-position: 7px center;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #666666;
    padding-bottom: 4px;
    padding-top: 6px;
    letter-spacing: 1px;
}
#pointEbtn {
    width: 218px;
    padding-bottom: 20px;
}
#sidenaviNews {
    width: 195px;
    height: 236px;
    overflow:auto;
    padding: 3px 9px;
    margin: 0 0 20px;
    font-weight: bold;
    border-right: 1px solid #CBCBC9;
    border-bottom: 4px solid #CBCBC9;
    border-left: 4px solid #CBCBC9;
}
#sidenaviNews p {
    border-top: 1px solid #CBCBC9;
    border-bottom: 1px solid #CBCBC9;
    margin-top: 2px;
    margin-bottom: 10px;
    font-weight: normal;
    padding: 5px 3px 5px 3px;
    font-size: small;
    line-height: 130%;
    text-align: left;
}
body #wrapper #wrap #sidenaviNews p a {
    color: #333333;
    text-decoration: underline;
    font-weight: normal;
}
body #wrapper #wrap #sidenaviNews p a:hover {
    color: #848484;
    text-decoration: none;
    font-weight: normal;
}

.globalsign {
    padding-top: 18px;
    text-align: center;
}
.globalsign p {
    text-align: left;
    font-size: 11px;
    line-height: 130%;
    padding-top: 10px;
    width: 200px;
    margin-left: 10px;
    letter-spacing: 0px;
}
#siderescue {
    padding: 20px 0px;
}
#siderescue dt {
    padding: 0px 0px 12px;
}
#siderescue dd a:link,#siderescue dd a:visited {
    color: #FF5B5B;
    text-decoration: underline;
}
#siderescue dd a:hover,#siderescue dd a:active {
    color: #FF5B5B;
    text-decoration: none;
}
#siderescue dd p {
    font-size: 10px;
    line-height: 1.4;
    padding: 7px 0px 0px;
}
/* --------------------------------------------------------------- content */
.newproTit {
    background: url(../img/tit_bg.jpg) no-repeat;
}
.newproTit img {
    width: 176px;
    float: left;
}
.newproTit span {
    font-size: 10px;
    display: block;
    text-align: right;
    width: 210px;
    float: right;
    padding: 11px 10px 11px 0px;
}
.newproTit a {
    background: url(../img/icon_rss.jpg) no-repeat left center;
    color: #FFFFFF;
    font-weight: normal;
    padding: 9px 0 8px 20px;
}
.newproTit a:link {
    text-decoration: underline;
}
.newproTit a:hover {
    text-decoration: none
}
/* --------------------------------------------------------------- footer */
#footer {
    text-align: center;
    padding-top: 24px;
    font-size: 13px;
}
#footlead p {
    background-color: #CBCBC9;
    height: 16px;
    width: 942px;
    padding-top: 4px;
    margin-left: 4px;
}
#footer ul {
    padding-top: 12px;
    padding-bottom: 12px;
}
#footer li { display: inline; }
#footer a:link {
    text-decoration: none;
    color: #333333;
}
#footer a:visited {
    text-decoration: none;
    color: #333333;
}
#footer a:hover {
    text-decoration: underline;
    color: #333333;
}
#footer a:active {
    text-decoration: underline;
    color: #333333;
}

#footer #copyright {
    padding-bottom: 20px;
    background-image: url(../img/footer_bk.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 12px;
    padding-top: 5px;
}
#footer #copyright span { padding-bottom: 0; }
#footer #copyright a:link {
    text-decoration: underline;
    color: #FFFFFF;
}
#footer #copyright a:visited {
    text-decoration: underline;
    color: #FFFFFF;
}
#footer #copyright a:hover {
    text-decoration: none;
    color: #FFFFFF;
}
#footer #copyright a:active {
    text-decoration: none;
    color: #FFFFFF;
}

/*ヘルプボタン*/
.help-tip{
    display:inline-block;
    position: relative;
    text-align: center;
    background-color: LightCoral;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 17px;
    margin : 0 5px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{	/* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    left: -4px;
    top:25px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    z-index: 100;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    left:6px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}