@charset "utf-8";
/*
header
-------------------------------------------------------------------*/
#header{
	height:123px;
	padding:2px 0 10px 0;
	background:#000000 url("../img/bg_header.gif") no-repeat left top;
	color:#FFFFFF;
}

#header h1{
	padding-left:5px !important;
}

#header .header_bottom{
	margin:14px 0 0 0;
	padding-bottom:3px;
}

#header .header_bottom h2{
	float:left;
	width:152px;
	margin:11px 22px 0 10px;
}

#header .header_bottom .cliant_wrap{
	float:left;
	width:235px;
	margin-right:20px;
	text-align:center;
}

#header .header_bottom .cliant_wrap .left{
	float:left;
	width:160px;
}

#header .header_bottom .cliant_wrap .right{
	float:right;
	width:68px;
}

#header .header_bottom .cliant_wrap .pass_text{
	text-align:left;
}

*+html #header .header_bottom .cliant_wrap .pass_text{
	position:relative;
	top:-15px;
}

#header .header_bottom .cliant_wrap .pass_text a,
#header .header_bottom .cliant_wrap .pass_text a:link,
#header .header_bottom .cliant_wrap .pass_text a:visited{
	color:#FFFFFF;
	font-weight:normal;
	text-decoration:underline;
}

#header .header_bottom .cliant_wrap .pass_text a:hover,
#header .header_bottom .cliant_wrap .pass_text a:active{
	text-decoration:none;
}

#header .header_bottom .partner_wrap{
	float:left;
	width:235px;
	margin-right:20px;
	text-align:center;
}

#header .header_bottom .partner_wrap a,
#header .header_bottom .partner_wrap a:link,
#header .header_bottom .partner_wrap a:visited{
	color:#FFFFFF;
	font-weight:normal;
	text-decoration:underline;
}

#header .header_bottom .partner_wrap a:hover,
#header .header_bottom .partner_wrap a:active{
	text-decoration:none;
}

#header .header_bottom .partner_wrap .clear {
/*	font-size: 0;
	line-height: 0;
	height:0;
	display: block;*/
	clear: both;
}

#header .header_bottom .partner_wrap .left{
	float:left;
	width:160px;
}

#header .header_bottom .partner_wrap .right{
	float:right;
	width:68px;
}

#header .header_bottom .partner_wrap .pass_text{
	text-align:left;
}

*+html #header .header_bottom .partner_wrap .pass_text{
	position:relative;
	top:-15px;
}

#header .header_bottom .social_wrap{
	float:left;
	width:235px;
	margin-right:20px;
	text-align:center;
}

#header .header_bottom .form_area {
	margin-top:10px;
}

#header .header_bottom .form_area .btn{
	width:68px;
}


#header .header_bottom .left input{
	margin-bottom:5px;
	font-size:120%;
}

input.btn{
	padding-top:0;
}

input#login_name,
input#login_name02,
input#login_password,
input#login_password02 {
	width:150px;
	padding:2px;
}

#header .header_bottom .social_area{
	height:48px;
}

#header .header_bottom .social_area ul {
	float:left;
	height:33px;
	margin:10px 0 0 0px;
}

#header .header_bottom .social_area ul li{
	float:left;
	margin-right:9px;
}

#header .header_bottom .social_area p{
	float:left;
	width:104px;
	margin-top:10px;
	padding-left:4px;
	text-align:left;
}

*html #header .header_bottom .social_area p{
	width:100px;
	padding:0;
}


.blue{
	color:#0c6aea;
}

.sky{
	color:#0891be;
}

.red{
	color:#d60d0d;
}

#header .header_bottom .link_text{
	width:223px;
	text-align:left;
	padding-top:12px;
}

#header .header_bottom .link_text{
	margin-left:8px;
}

#header .header_bottom .link_text a,
#header .header_bottom .link_text a:link,
#header .header_bottom .link_text a:visited{
	color:#e6d201;
	font-size:120%;
	font-weight:bold;
	text-decoration:underline;
}

#header .header_bottom .link_text a:hover,
#header .header_bottom .link_text a:active{
	text-decoration:none;
}


*html #header{
	width:950px;
	padding-bottom:10px;
	background:#000000 url("../images/bg_header.gif") no-repeat left top;
	color:#FFFFFF;
}

*html #header .header_bottom h2{
	width:152px;
	margin:0px 10px 0 10px;
}

*html #header .header_bottom .cliant_wrap{
	width:235px;
	margin-right:5px;
}

*htnl #header .header_bottom .partner_wrap{
	float:left;
	width:235px;
	margin-right:5px;
	text-align:center;
}

*html #header .header_bottom .social_area ul {
	float:left;
	height:32px;
	margin:10px 0 0 0px;
}

*html #header .header_bottom p.link_text{
	width:100%;
	margin-left:0px;
}