@charset "utf-8";

/*
navi
-------------------------------------------------------------------*/
#navi{
	width:950px;
	margin:1px 0 0 0;
	padding:0;
}

#navi ul{
	width:950px;
	margin:0;
	padding:0;
}

#navi ul li{
	float:left;
	width:316px;
	margin:0;
	padding:0;
}

#navi ul li img{
	margin:0;
	padding:0;
}

#navi ul li.gnavi02{
	margin:0 1px;
}

/*パンくず*/

.naviUnder {
	clear:both;
    background: url("../img/navi_under.jpg") repeat-x left top;
    font-size: 10px;
    height: 15px;
    padding-left: 15px;
    padding-top: 6px;
}
