@charset 'UTF-8';

/* --------------------------------------------------------------- promotion */
#promotionArea {
	height: 254px;
	overflow: auto;
	background-image: url(../img/main_img_bk.jpg);
	background-repeat: no-repeat;
	background-position: top;
	width: 950px;
}
#promotionContents {
	position: relative;
	width: 950px;
	height: 254px;
	margin: 0 auto;
}
#promotionList {
	top: 68px;
	left: 46px;
	width: 5000px;
	height: 118px;
	position: absolute;
	margin: 0;
	padding: 0;
}
*html #promotionList {
	*margin-left:-30px;
}
#promotionList .promotionBna {
	float: left;
	width: 220px;
	height: 118px;
	position: relative;
	top: 0;
	margin-right: 2px;
	padding-right: 14px;
}
#promotionList .promotionBna img {
	vertical-align:top;
}
#promotionList .promotionBna a:link,
#promotionList .promotionBna a:visited {
	float: left;
	width: 100%;
	padding-top: 0px;
	overflow: hidden;
	color: #000000;
	font-size: 10px;
	text-align: center;
	background-position: 50%;
	line-height: 120%;
}
#promotionList .promotionBna p a:link,
#promotionList .promotionBna p a:visited {
	margin-top: 20px;
}
#promotionList .promotionBna a:hover {
	text-decoration: none;
}
#prBnaL {
	margin-left: 21px;
}
#promotionList #prBnaR {
	width: 150px;
}
#promotionDate {
	position: absolute;
	top: 211px;
	left: 10px;
	width:930px;
	height:31px;
	overflow: hidden;
	background-image: url(../img/promotion_date.jpg);
	background-repeat: no-repeat;
}
#pb-cat1 {
	position: absolute;
	top: 18px;
	z-index: 150;
	color: #fff;
	font-size: 10px;
	cursor: pointer;
	left: 100px;
	*margin-top:1px;
}
#pb-cat2 {
	position: absolute;
	top: 18px;
	z-index: 150;
	color: #fff;
	font-size: 11px;
	cursor: pointer;
	left: 267px;
	*margin-top:1px;
}
#pb-cat3 {
	position: absolute;
	top: 18px;
	z-index: 150;
	color: #fff;
	font-size: 11px;
	cursor: pointer;
	left: 437px;
	*margin-top:1px;
}
#pb-cat4 {
	position: absolute;
	top: 18px;
	z-index: 150;
	color: #fff;
	font-size: 11px;
	cursor: pointer;
	left: 607px;
	*margin-top:1px;
}
#pb-cat5 {
	position: absolute;
	top: 18px;
	z-index: 150;
	color: #fff;
	font-size: 11px;
	cursor: pointer;
	left: 777px;
	*margin-top:1px;
}

#sliderhandle {
	position: absolute;
	width: 8px;
	height: 8px;
	cursor: pointer;
	z-index: 155;
}
#sliderhandleimage {
	z-index: 5;
}
#arrowL {
	position: absolute;
	left: 17px;
	top: 152px;
	width: 20px;
	height: 20px;
	background: transparent;
	z-index: 150;
	cursor: pointer;
}
#arrowR {
	position: absolute;
	left: 942px;
	top: 152px;
	width: 20px;
	height: 20px;
	background: transparent;
	z-index: 150;
	cursor: pointer;
}
.promotionBna {
	background-image: url(../img/bna_shadow.jpg);
	background-repeat: no-repeat;
	background-position: 50px 60px;
}
#proBnaSpace {
	background-image: none;
}

/* PRODUCT BROWSER SECTION COLORS */
#promotionContents .pb-catclass0 {
	color: #B0B0B0;
}
#promotionContents .pb-catclass11 {
	color: #fff;
	font-weight: bold;
}
#promotionList #pb-xsan {
	margin-left: -8px;
}
.proTit {
	padding-top: 8px;
	width: 217px;
}

/* --------------------------------------------------------------- promotionNew */
#promotionNew {
	height: 227px;
	overflow: hidden;
	background: url(../img/main_img_bk2_2.jpg) no-repeat 0 0;
	width: 950px;
	position: relative;
	font-size:10px;
}
#promotionNew .slider-wrap {
	width: 100%;
	margin: 20px 0;
}
#promotionNew .stripViewer { /* This is the viewing window */
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 100;
	overflow: hidden;
	margin: auto;
	width: 930px; /* Also specified in  .stripViewer .panelContainer .panel  below */
	height: 150px;
	clear: both;
}
#promotionNew .stripViewer .panelContainer {
	position: relative;
	left: 0; top: 0;
	width: 100%;
	list-style-type: none;
	-moz-user-select: none;
}
#promotionNew .stripViewer .panelContainer .panel { /* Each panel is arranged end-to-end */
	float:left;
	width: 930px; /* Also specified in  .stripViewer  above */
	height: 100%;
}
#promotionNew .stripViewer .panelContainer .panel ul {
	margin: 0;
	padding: 17px 0 0 10px;
}
#promotionNew .stripViewer .panelContainer .panel ul li {
	float: left;
	width: 225px;
	height: 101px;
	text-align: center;
}
#promotionNew .stripViewer .panelContainer .panel ul li img {
	vertical-align:top;
}
#promotionNew .stripViewer .panelContainer .panel ul li a {
	color: #000;
	font-size: 10px;
	line-height: 120%;
}
#promotionNew .stripViewer .panelContainer .panel ul li p {
	margin-top: 10px;
}
/*▼色付きテキスト追加2012.09.25*/
#promotionNew .stripViewer .panelContainer .panel ul li p.red{
	margin-top:5px;
	font-weight:bold;
	color:#FF0000;
}
/*▲色付きテキスト追加2012.09.25*/
#promotionNew .stripViewer .panelContainer .panel ul li a:hover {
	text-decoration: none;
}
#promotionNew .stripViewer .panelContainer .panel ul li {
	background: url(../img/bna_shadow.jpg) no-repeat 50% 60px;
}

/* tab */
#promotionNew .stripNav { /* This is the div to hold your nav (the UL generated at run time) */
	position: absolute;
	top: 190px;
	left: 0px;
	width:945px;
	height:35px;
	padding-left:10px;
	overflow: hidden;
	background:#0a0605 url(../img/promotion_date.jpg) no-repeat 10px 0;
	z-index: 10;
}
#promotionNew .stripNav ul { /* The auto-generated set of links */
	list-style: none;
	padding: 18px 0 0 95px;
}
#promotionNew .stripNav ul li {
	float: left;
	width: auto;
	margin: 0 110px 0 0;
	padding: 0;
	display: inline;
	font-size: 10px;
}
/*html[xmlns*=""] body:last-child #promotionNew .stripNav ul {
	padding: 17px 0 0 0px;
}
html[xmlns*=""] body:last-child #promotionNew .stripNav ul li {
	margin: 0 0px 0 0;
}*/
#promotionNew .stripNav a { /* The nav links */
	display: block;
	color: #ccc;
	text-decoration: none;
	outline: none;
}
#promotionNew .stripNav a:hover {
	color: #fff;
	text-decoration: none;
	outline: none;
}
#promotionNew .stripNav a.current {
	color: #fff;
}

/* --------------------------------------------------------------- daily */
#daily {
	padding: 0 0 10px;
	overflow: auto;
}
* html #daily {
	height: 1%;
}
#daily ul li {
	position: relative;
	width: 230px;
	float: left;
}
#daily ul li#daily01, #daily ul li#daily03{
	padding: 0 8px 0 0;
}
#daily ul li#daily03,#daily ul li#daily04{
	margin-top:10px;
}
#daily ul li span {
	display:block;
	position: absolute;
	bottom: 8px;
	font-family: Verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-size: 12px;
	font-weight: bold;
}
#daily ul li#daily01 span,#daily ul li#daily03 span {
	right: 14px;
	color: #f60;
}
#daily ul li#daily02 span,#daily ul li#daily04 span {
	right: 6px;
	color: #BB0C0C;
}

/* --------------------------------------------------------------- special※現在未使用 */
.messageInfo {
	line-height: 1.5;
	padding: 0 0 5px 0;
	display: block;
	font-weight: normal;
}
.messageInfo a {
	text-decoration: underline;
	color: #0066CC;
	font-weight: normal;
}
.messageInfo a:hover {
	text-decoration: none;
	color: #0099FF;
}
.lastInfo {
	padding: 0 0 15px 0;
}
#special {
	height: 194px;
	margin: 0 0 10px;
}
#special #spbnr li {
	width:117px;
	float:left;
}
#special #spbnr a {
	width: 117px;
	height: 170px;
	display: block;
}
#special #spbnr a span {
	display: none;
}

/* -+-+-+-+-+-+-+-+-+-+-+ 特集一覧バナー */
.banner_feature{
	border-top:1px solid #CCCCCC;
	margin-bottom:10px;
	padding-top:10px;
}


/*特集バナー用のスタイルはindex.html内のヘッダーに直書きしましたキャッシュの関係で*/


#pro2012 {margin-bottom: 15px;}
#pro2012 a {
	display: block;
	width: 197px;
	height: 120px;
	background-image: url(../img/bnr_pro2012_197.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
}
#pro2012 a:hover {
	background-position: 0 -120px;
}

/* --------------------------------------------------------------- special現在未使用 */
#special #menu {
	margin:0;
	height:170px;
	width:468px;
	list-style:none;
	overflow:hidden;
}
#special #menu li {
	float:left;
	width:117px;
	height:170px;
	position: relative;
}
#special #menu li .menuOptionHover{
	display:block;
	width:100%;
	height:170px;	
	text-indent:-8000px;
	cursor: pointer;
}
#special #menu li span.date {
	display:block;
	position: absolute;
	left: 10px;
	bottom: 12px;
	font-family: Verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #f00;
}

/*
menu-1 育毛特集　bnr_ikumo.jpg
menu-2 プロモーション of the YEAR　bnr_pro2010.jpg
menu-3 美容特集　bnr_beauty.jpg
menu-4 サンプル特集　bnr_sample.gif
*/

#special #menu-1 { background:url(../img/bnr_ikumo.jpg); }
#special #menu-2 { background:url(../img/bnr_pro2010.jpg); }
#special #menu-3 { background:url(../img/bnr_beauty.jpg); }
#special #menu-4 { background:url(../img/bnr_sample.gif); }

#special #menu li#menu-1 .menuOptionHover { background:url(../img/bnr_ikumo.jpg); }
#special #menu li#menu-2 .menuOptionHover { background:url(../img/bnr_pro2010.jpg); }
#special #menu li#menu-3 .menuOptionHover { background:url(../img/bnr_beauty.jpg); }
#special #menu li#menu-4 .menuOptionHover { background:url(../img/bnr_sample.gif); }
#special #menu { background:url(../img/bnr_sample.gif) no-repeat 100% 0; }

/* --------------------------------------------------------------- contentM */
#contentM {
	float: left;
	width: 468px;
	padding-left: 16px;
	font-size: 12px;
}
.clSeminarL {
	height: 68px;
	width: 327px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #A7A7A7;
	border-left-color: #A7A7A7;
	float: left;
	padding-top: 9px;
	padding-left: 9px;
	background-color: #F6F6F6;
}
.clSeminar {
	padding-bottom: 15px;
}
.clSeminarText {
	float: left;
	width: 177px;
	padding-top: 11px;
}
.clSeminarBna {
	float: left;
	width: 144px;
	padding-top: 5px;
	padding-left: 6px;
}
.clSeminarR {
	float: left;
	width: 130px;
	height: 77px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A7A7A7;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #A7A7A7;
	background-image: url(../img/cl_seminar_image.jpg);
	background-repeat: no-repeat;

}
.clSeminarR img {
	margin-left: 70px;
}
#clSeminarTopL {
	float: left;
	width: 337px;
}
#clSeminarTopR {
	float: left;
	width: 131px;
	background-image: url(../img/cl_seminar_tit_bk.jpg);
	background-repeat: repeat-x;
	height: 28px;
}
#clSeminarTopR img {
	padding-top: 5px;
	padding-left: 70px;
}
#newpro {
	font-size: 12px;
	line-height: 130%;
	width: 448px;
	margin-bottom: 12px;
	padding: 10px;
}
#newpro span {
	font-size: 10px;
	padding-left: 8px;
}
#newpro a {
	font-weight: normal;
	text-decoration: underline;
	color: #848484;
}
#newpro a:hover {
	text-decoration: none;
	color: #484848;
}
.spBna {
	padding-bottom: 10px;
}
/*1029*/
#contentM dl dt {
	width: 40px;
	float: left;
	display: inline;
}
#contentM dl {
	width: 448px;
}
#contentM dl dd {
	width: 380px;
	float: left;
	padding-bottom: 8px;
	background: url(../img/ico_new_pc.gif) 0 1px no-repeat;
	padding-left: 25px;
	display: inline;
}
* html #contentM dl dd { background: url(../img/ico_new_pc.gif) 0 2px no-repeat;}
*+html #contentM dl dd { background: url(../img/ico_new_pc.gif) 0 2px no-repeat;}
#contentM dl dd.newMb {
	background: url(../img/ico_new_mb.gif) 0 1px no-repeat;
}
* html #contentM dl dd.newMb { background: url(../img/ico_new_mb.gif) 0 2px no-repeat;}
*+html #contentM dl dd.newMb { background: url(../img/ico_new_mb.gif) 0 2px no-repeat;}
#contentM dl dd strong {
	padding: 0 2px 0 0;
}
/*1029*/

/* --------------------------------------------------------------- contentR */
#contentR {
	float: left;
	width: 197px;
	padding-left: 16px;
	font-size: 11px;
}

/*右上バナー追加用*/
#contentR .push_banner{
	margin-bottom:15px;
}

/*ハッピーリターンエリア*/
#contentR .happyBna {
	display: block;
	/*background: url(../img/happyreturn_bna.jpg) 0 0 no-repeat;*/
	width: 197px;
	/*height: 150px;*/
	margin: 0 0 15px;
}
#contentR .happyBna span {
	display: none;
}
#contentR .happyBna .happy01 {
	padding: 89px 0 0 0;
}
#contentR .happyBna .happy02 {
	padding: 2px 0 0 0;
}
* html #contentR .happyBna .happy02 {
	margin: -1px 0 0 0;
	padding: 0;
}
*+html #contentR .happyBna .happy02 {
	margin: -1px 0 0 0;
	padding: 0;
}
#contentR .happyBna .happy01 a,
#contentR .happyBna .happy02 a {
	height: 26px;
	display: block;
}
#contentR .happyBna .happy01 a:hover {
	background: url(../img/happyreturn_bna.jpg) 0px -239px no-repeat;
}
#contentR .happyBna .happy02 a:hover {
	background: url(../img/happyreturn_bna.jpg) 0px -267px no-repeat;
}
.titLimitation {
	width: 189px;
	border-right-width: 4px;
	border-bottom-width: 4px;
	border-left-width: 4px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CBCBC9;
	border-bottom-color: #CBCBC9;
	border-left-color: #CBCBC9;
	height: auto;
	padding-bottom: 5px;
}
#limitation {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	width: 169px;
	text-align: center;
}
#limitation dt {
	padding-top: 8px;
	padding-bottom: 12px;
}
.selfText {
	padding: 5px 5px 0px 5px;
}
.selfText a {
	color: #52B922;
	font-weight: normal;
}

/* --------------------------------------------------------------- 広告枠（トップ・ログイン） */
.ba_m{
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #CCCCCC;
}
.addSubArea {
	padding: 10px 0 15px 23px;
}
.addSubArea a {
	text-decoration: none;
	font-weight: normal;
}
.addSubArea a:hover {
	text-decoration: underline;
	color: #999999;
}
.ba_m{
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #CCCCCC;
}

/* --------------------------------------------------------------- 注意文（トップ） */
p#caution {
	background-color: #ff0;
	border: solid 1px #ffd700;
	color: #f00;
	font-weight: bold;
	padding: 5px;
	margin: 0 0 10px;
}
p#caution span {
	background-color: #fff;
	display: block;
	padding: 5px;
	margin: 5px 0;
}
/* --------------------------------------------------------------- 参加企業のご紹介（トップ） */
.participantBox {
	padding: 15px 0 0;
}
.participantBox dd {
	text-align: center;
	padding: 20px 34px 10px;
	border: 1px solid #CBCBC9;
	border-top: none;
}
.participantBox dd span {
	display: block;
	padding: 0 0 15px;
}
.participantBox dd span.fix {
	padding: 5px 0 15px;
}

/* --------------------------------------------------------------- マルトク情報用ホバーopacity追加 */
.opaList a:hover{filter: alpha(opacity=80);-ms-filter: "alpha( opacity=80 )";-moz-opacity:0.8;opacity:0.8;}

