/* GENERAL */
body {background:url(/images/2016/background.jpg) #151515;font-family:'Tahoma','Arial',sans-serif;font-size:.8rem;color:#b9b9b9;}
.vert-center {position:relative;top:50%;transform:translateY(-50%);}
a {text-decoration:none;}
a:HOVER {text-decoration:none;}
a img:HOVER {opacity:1 !important;}
strong, .bold, b {font-weight:bold;}
ul {margin:1rem 2rem;}
.float-left.imgpad {margin:.4rem 1.5rem .5rem 0;}
.float-right.imgpad {margin:0 0 0 1rem;}
.thumbnail, .nobord {border:0 !important;}
.topper {margin:.25rem 0 0 0;}
.space {margin:0 0 1rem 0;}
.guide {background:#fff;border-radius:4px;box-shadow:0 0 10px #444;padding:5rem;text-align:center;}
.plaintxt {padding:.3rem 0 .3rem 1rem;}
.plaintxt a {opacity:1;transition:all 0.3s ease;}
.plaintxt a:HOVER {opacity:0.75;}
.barpad {padding:.25rem 0;}
select.pages {width:auto;padding:.25rem 1.5rem .25rem .5rem;margin:0 .5rem;height:auto;font-size:.8rem !important;}
.text-small {font-size:.7rem;padding:0 0 0 .5rem;}
.text-push {text-indent:1rem;}
.nopush {margin:0 !important;padding:0 !important;}
.nomarg {margin:0 !important;}
.autowide {width:auto !important;}
input, select, textarea {font-size:.8rem !important;border-radius:.1rem !important;}
[type='file'], [type='checkbox'], [type='radio'] {margin:0;}
input[type='checkbox'] {position:relative;top:2px;margin:0 .25rem 0 0;}
ol li {margin:0 0 1rem 0;}
a.icon-pad {padding:.28rem 1rem .28rem 1.25rem !important;}
.reveal {border:2px solid #ccc;box-shadow:0 0 10px #222;padding:0 .9rem 1rem .9rem;font-size:.8rem !important;}
.close-button {top:0.15rem !important;color:#fff !important;}
.close-button:HOVER {color:#ccc;}
.hidden {display:none;}
.button {margin:0;}
.secondary {margin:0;}
.button-group .button {border:0 !important;margin:1rem .25rem 0 0;}
button.close-button {border:0;outline:0;}
.badge {margin:0 .5rem 0 0;}
a.more {opacity:1;transition:all 0.3s ease;}
a.more:HOVER {opacity:0.75;}
.inlined {display:inline;}

/* TEXT */
.white, .disc-links a, .forum-tools a, .blog .submit ul.tabs li.tabs-title a, .videos .sidebar a, .videos .title a, .landing .side-menu a, .archive .header a, .forums .thread-ignore .stripe a, .forums .thread-post-ignored a, .landing ul li a, .members .expanded.row.white.barpad .small-6.text-right a, .forum-tools .dropdown-pane a, .off-canvas ul li a, .blog .article .comment a, .text-small a, .blog .article a.title, .blog .post a.title-top, .blog .post a.title, .blog .sidebar a, .admins .grey-box a, .members .grey-box a, .bar-alt ul.menu li a, .members .day a, .bar-alt a, .account a, .members .bar-main a, .userbar a, a.white, a.grey:HOVER, .messenger .large-4.columns.text-right a:HOVER, .messenger .grey-box a, .skin-light a, .skin-dark a, .forums .bar-alt a, .forums .bar-main a, .footer a:HOVER, .content a.title, .header .menu a {color:#fff;}
.black, .forums .editor .attach-media a, .archive .copy strong a, .archive ul li a, .admins ul.tabs a, .ftools a, .admins .white-box .row .columns a, .admins .barpad .show-for-large a, .members a, a.black, .messenger a, .table-alt a, .table-main a {color:#000;}
.grey, .videos .vidrow .info .text-small a:HOVER, .videos .featured .tags a:HOVER, .videos .sidebar a:HOVER, .videos .title a:HOVER, .landing .side-menu a:HOVER, .landing p a:HOVER, .forums .editor .attach-media a:HOVER, .archive .copy strong a:HOVER, .archive .header a:HOVER, .archive ul li a:HOVER, .landing ul li a:HOVER, .members .expanded.row.white.barpad .small-6.text-right a:HOVER, .landing ul.accordion li.accordion-item .accordion-content a:HOVER, .landing ul.accordion ol li a:HOVER, .off-canvas ul li ul li a, .blog .article .comment a:HOVER, .blog .sidebar a:HOVER, .ftools a:HOVER, .admins .white-box .row .columns a:HOVER, .admins .barpad .show-for-large a:HOVER, .admins .grey-box a:HOVER, .members .grey-box a:HOVER, .bar-alt ul.menu li a:HOVER, .bar-alt a:HOVER, .account a:HOVER, a.green:HOVER, a.red:HOVER, .userbar a:HOVER, .members a:HOVER, a.grey, a.tan:HOVER, a.black:HOVER, a.white:HOVER, .messenger a:HOVER, .forums .notice a:HOVER, .forums .bar-alt a:HOVER, .forums .bar-main a:HOVER, .content .overview a:HOVER, .footer a, a.more:HOVER {color:#888;}
.tan, .videos .vidrow .info .text-small a, .videos .featured .tags a, .landing p a, .landing ul.accordion li.accordion-item .accordion-content a, .landing ul.accordion ol li a, .forum-tools .dropdown-pane a:HOVER, .off-canvas ul li a:HOVER, .blog .article a.title:HOVER, .blog .post a.title-top:HOVER, a.tan, .blog .post a.title:HOVER, .messenger .large-4.columns.text-right a, .forums .notice a, .content .overview a, .content a.title:HOVER, a.more {color:#deb170;}
.green {color:#3dbb27 !important;}
.red, .forums .thread-post-ignored a:HOVER {color:#e44545 !important;}
.blue {color:#2e95ed !important;}
.orange {color:#CC8500 !important;}
span.grey-small {color:#000;background:#c5c5c5;padding:0 .5rem;display:inline-block !important;border-radius:.1rem;margin:0 .5rem 0 0 !important;}
h1 {font-family:'Tahoma','Arial',sans-serif;font-weight:bold;color:#fff;margin:0;}
h2 {font-family:'Tahoma','Arial',sans-serif;font-weight:bold;color:#fff;margin:0;}
h3 {font-family:'Tahoma','Arial',sans-serif;font-weight:bold;margin:0;}
h4 {font-family:'Tahoma','Arial',sans-serif;font-weight:bold;color:#fff;margin:0;}
h5 {font-family:'Tahoma','Arial',sans-serif;font-weight:bold;color:#000;margin:0;}
.font-large {font-size:1.8rem !important;} 
.font-medium {font-size:1.1rem !important;} 
.font-small {font-size:0.75rem !important;} 
.font-xsmall {font-size:0.7rem !important;} 

/* SPRITES */
.sprite {background-image:url(/images/2016/sprites.png?v=10002);background-repeat:no-repeat;background-size:500px;}
a img.sprite {}
a img.sprite:HOVER {}
/**************************************** OLD SKINNED ICONS
.folder {background-position:0 0;}
.folder-off {background-position:-25px 0;}
.folder-hot {background-position:0 -25px;}
.folder-hot-off {background-position:-225px -25px;}
.folder-group {background-position:-175px -25px;}
.folder-group-off {background-position:-200px -25px;}
.folder-restricted {background-position:-250px -25px;}
.folder-restricted-off {background-position:-275px -25px;}
.folder-add {background-position:-350px -25px;}
**********************************************************/
.folder-locked {background-position:-300px -25px;}
.folder-hidden {background-position:-325px -25px;}
.link {background-position:-375px -25px;}
.poll {background-position:-400px -25px;}
.rss {background-position:-25px -25px;}
.synch {background-position:-50px -25px;}
.calendar {background-position:-75px -25px;}
.new-group {background-position:-100px -25px;}
.groups {background-position:-125px -25px;}
.page {background-position:-75px 0;}
.mods {background-position:-50px 0;}
.arrow-right {background-position:-100px 0;}
.arrow-right-on {background-position:-25px -200px;}
.arrow-left {background-position:-125px 0;}
.arrow-left-on {background-position:-50px -200px;}
.resource {background-position:-150px 0;}
.edit {background-position:-175px 0;}
.delete {background-position:-200px 0;}
.announcement {background-position:-225px 0;}
.jump-to {background-position:-250px 0;}
.tacked {background-position:-275px 0;}
.admin {background-position:-300px 0;}
.last-post {background-position:-325px 0;}
.my-last-post {background-position:-225px -175px;position:relative;right:15px;}
.bookmark {background-position:-350px 0;}
.bolt {background-position:-375px 0;}
.photo {background-position:-400px 0;}
.restricted {background-position:-225px -150px;}
.quote-all {background-position:-425px -100px;}
.quote-jump {background-position:-450px -100px;}
.remove-subscription {background-position:-350px -150px;}
.enable-mail-alerts {background-position:-375px -150px;}
.disable-mail-alerts {background-position:-400px -150px;}
.do-not-archive {background-position:-475px -150px;}
.member-email {background-position:-425px 0;}
.member-im {background-position:-450px 0;}
.member-settings {background-position:-150px -25px;}
.member-life {background-position:0 -50px;}
.member-life-original {background-position:-450px -150px;}
.member-gold {background-position:-25px -50px;}
.member-platinum {background-position:-50px -50px;}
.member-bronze {background-position:-75px -50px;}
.member-moderator {background-position:-325px -75px;}
.member-media {background-position:-275px -150px;}
.member-guest {background-position:0 -200px;}
.group-nra {background-position:-100px -50px;}
.group-leo {background-position:-125px -50px;}
.group-instructor {background-position:-150px -50px;}
.group-instructor-nra {background-position:-75px -75px;}
.group-gunsmith {background-position:-100px -75px;}
.group-mason {background-position:-125px -75px;}
.group-army {background-position:-175px -75px;}
.group-navy {background-position:-200px -75px;}
.group-airforce {background-position:-225px -75px;}
.group-marines {background-position:-250px -75px;}
.group-military {background-position:-275px -75px;}
.group-nato {background-position:-300px -75px;}
.group-coastguard {background-position:-350px -75px;}
.icon-dealer {background-position:0 -75px;}
.icon-ip {background-position:-25px -75px;}
.icon-sponsor {background-position:-50px -75px;}
.icon-dealer-hometown {background-position:-150px -75px;}
.admin-ban {background-position:-400px -75px;}
.admin-warn {background-position:-425px -75px;}
.admin-warn-history {background-position:-425px -150px;}
.admin-trash-post {background-position:-450px -75px;}
.admin-account {background-position:-475px -100px;}
.admin-notice {background-position:-175px -125px;}
.admin-newcat {background-position:-200px -125px;}
.admin-newforum {background-position:-225px -125px;}
.admin-lock {background-position:-250px -125px;}
.admin-unlock {background-position:-275px -125px;}
.admin-edit {background-position:-300px -125px;}
.admin-delete {background-position:-325px -125px;}
.admin-archive {background-position:-350px -125px;}
.admin-count {background-position:-375px -125px;}
.admin-resource {background-position:-400px -125px;}
.admin-announce {background-position:-425px -125px;}
.admin-move {background-position:-450px -125px;}
.admin-trash {background-position:-475px -125px;}
.admin-feedback {background-position:-425px -200px;}
.profile-calendar {background-position:-175px -50px;}
.profile-avatar {background-position:-200px -50px;}
.profile-pass {background-position:-225px -50px;}
.profile-prefs {background-position:-250px -50px;}
.profile-unlock {background-position:-250px -150px;}
.help {background-position:-275px -50px;}
.enable {background-position:-300px -50px;}
.unlock {background-position:-325px -50px;}
.lock {background-position:-350px -50px;}
.mobile-forums {background-position:-375px -50px;}
.mobile-resources {background-position:-400px -50px;}
.mobile-ee {background-position:-425px -50px;}
.mobile-gunstruction {background-position:-450px -50px;}
.mobile-shop {background-position:-475px -50px;}
.mobile-login {background-position:-475px -75px;}
.account-logout {background-position:-475px 0;}
.account-tools {background-position:-425px -25px;}
.account-tracker {background-position:-475px -25px;}
.account-tracker-off {background-position:-450px -25px;}
.im-inbox {background-position:0 -100px;}
.im-drafts {background-position:-25px -100px;}
.im-sent {background-position:-50px -100px;}
.im-trash {background-position:-75px -100px;}
.im-add {background-position:-100px -100px;}
.im-contact {background-position:-125px -100px;}
.im-list {background-position:-150px -100px;}
.im-important {background-position:-175px -100px;}
.im-flag {background-position:-200px -100px;}
.im-compose {background-position:-225px -100px;}
.im-unread {background-position:-250px -100px;}
.im-move {background-position:-275px -100px;}
.im-delete {background-position:-300px -100px;}
.im-archive {background-position:-325px -100px;}
.im-reply {background-position:-350px -100px;}
.im-forward {background-position:-375px -100px;}
.im-report {background-position:-400px -100px;}
.im-folder {background-position:-300px -150px;}
.im-folder-off {background-position:-325px -150px;}
.ee-positive {background-position:0 -125px;}
.ee-negative {background-position:-25px -125px;}
.ee-neutral {background-position:-50px -125px;}
.ee-bump {background-position:-75px -125px;}
.ee-sold {background-position:-100px -125px;}
.ee-close {background-position:-125px -125px;}
.admin-members {background-position:0 -150px;}
.admin-reg {background-position:-25px -150px;}
.admin-bans {background-position:-50px -150px;}
.admin-ee {background-position:-75px -150px;}
.admin-approve {background-position:-100px -150px;}
.admin-flag-name {background-position:-125px -150px;}
.admin-flag-email {background-position:-150px -150px;}
.admin-flag-ip {background-position:-175px -150px;}
.admin-proxy {background-position:-200px -150px;}
.ip-banners {background-position:0 -175px;}
.ip-banners-create {background-position:-25px -175px;}
.ip-banners-manage {background-position:-50px -175px;}
.ip-company-zones {background-position:-75px -175px;}
.ip-company-add {background-position:-100px -175px;}
.ip-banners-expiration {background-position:-125px -175px;}
.ip-banners-stats {background-position:-150px -175px;}
.ip-security-user {background-position:-175px -175px;}
.ip-security-group {background-position:-200px -175px;}
.rangefinder {background-position:-250px -175px;}
.rangefinder-add {background-position:-275px -175px;}
.rangefinder-report {background-position:-300px -175px;}
.rangefinder-shotgun {background-position:-325px -175px;}
.rangefinder-handgun {background-position:-350px -175px;}
.rangefinder-rifle {background-position:-375px -175px;}
.rangefinder-archery {background-position:-400px -175px;}
.rangefinder-leo {background-position:-425px -175px;}
.rangefinder-military {background-position:-450px -175px;}
.rangefinder-indoor {background-position:-475px -175px;}
.rangefinder-outdoor {background-position:-475px -200px;}
.user-ee-positive-1 {background-position:-75px -200px;}
.user-ee-positive-2 {background-position:-100px -200px;}
.user-ee-positive-3 {background-position:-125px -200px;}
.user-ee-mid-1 {background-position:-150px -200px;}
.user-ee-mid-2 {background-position:-175px -200px;}
.user-ee-mid-3 {background-position:-200px -200px;}
.user-ee-negative-1 {background-position:-225px -200px;}
.user-ee-negative-2 {background-position:-250px -200px;}
.user-ee-negative-3 {background-position:-275px -200px;}
.user-ee-none {background-position:-300px -200px;}
.user-online {background-position:-325px -200px;}
.user-offline {background-position:-350px -200px;}
.user-hidden {background-position:-375px -200px;}
.user-post-link {background-position:-400px -200px;}
.editor-bold {background-position:0 -225px;}
.editor-italic {background-position:-25px -225px;}
.editor-underline {background-position:-50px -225px;}
.editor-strike {background-position:-75px -225px;}
.editor-super {background-position:-100px -225px;}
.editor-sub {background-position:-125px -225px;}
.editor-image {background-position:-150px -225px;}
.editor-youtube {background-position:-175px -225px;}
.editor-link {background-position:-200px -225px;}
.editor-twitter {background-position:-225px -225px;}
.editor-amazon {background-position:-250px -225px;}
.editor-emoji {background-position:-275px -225px;}
.editor-list {background-position:-300px -225px;}
.editor-numlist {background-position:-325px -225px;}
.editor-color {background-position:-350px -225px;}
.editor-left {background-position:-375px -225px;}
.editor-center {background-position:-400px -225px;}
.editor-right {background-position:-425px -225px;}
.editor-quote {background-position:-450px -225px;}
.editor-split {background-position:-475px -225px;}
.editor-spoiler {background-position:0 -250px;}
.editor-code {background-position:-25px -250px;}
.editor-table {background-position:-50px -250px;}

/* BETA */
.beta-landing {padding:10rem 0 0 0;font-size:1.25rem;}

/* CALLOUTS */
.callout.alert {border-radius:.2rem;background:#7c1616;border:0;color:#ddcfcf !important;}
.callout.alert h5 {color:#fff;font-weight:bold;margin:0 0 1rem 0}
.callout.alert p {display:block;border-radius:.2rem;background:#951a1a;padding:.5rem;margin:.25rem 0 !important;}

/* OFF CANVAS MENU */
.off-canvas {background:#292929;}
.off-canvas .loghed {background:#292929;border-bottom:1px solid #333;}
.off-canvas .login {background:#2d2d2d;margin:0;padding:1.25rem 1rem 1rem 1rem;background-size:cover;border-bottom:1px solid #333;}
.off-canvas .login input {background:#444;border:1px solid #555;color:#ccc;}
.off-canvas .login .button {margin:0;}
.off-canvas .login .button.secondary {margin:0;}
.off-canvas button.close-button {margin:0 0 1rem 0;}
.off-canvas ul {margin:0;padding:0;line-height:1rem !important;}
.off-canvas ul li {padding:0;border-bottom:1px solid #333;}
.off-canvas ul li.build {background:#4a412e !important;border-top:1px solid #262218;}
.off-canvas ul li.shop {background:#2e4a2f !important;}
.off-canvas ul li a, .menu > li:not(.menu-text) > a {margin:0;padding:.5rem 1rem;}
.off-canvas ul li a:HOVER {background:#333;text-decoration:none;}
.off-canvas ul li ul {margin:0;}
.off-canvas ul li ul li {background:#222;border:0;border-top:1px solid #333;}
.off-canvas ul li ul li a {display:block;padding:.5rem 0 .5rem 3.3rem;}
.off-canvas-content, .off-canvas-content {background:none;}

/* NEWSLETTER POPUP */
.newsletter-box {background:#000;padding:2rem;color:#fff;border:5px solid #a74811;box-shadow:0 0 5rem #000;}
.newsletter-box h2 {color:#000;display:block;text-transform:uppercase;font-weight:bold;}
.newsletter-box input {background:#dedede;text-align:center;position:relative;z-index:999;}

/* CONTACT POPUP */
.contact-box {background:#252525;padding:2rem;color:#fff;border:5px solid #333;}
.contact-box h2 {color:#000;display:block;font-weight:bold;}
.contact-box input {height:auto !important;color:#000 !important;text-align:center;position:relative;z-index:999;}
.contact-box input:FOCUS, .contact-box textarea:FOCUS {box-shadow:none;}
.contact-box textarea {background:#dedede;color:#000 !important;text-align:center;position:relative;z-index:999;}
.contact-box textarea:FOCUS {background:#fff;}
.contact-box a.button {display:inline-block !important;padding:.5rem 1rem;}

/* HEADER */
.header {background:#070707;}
.header .top {position:relative;}
.header .top .logo {text-align:center;padding:.5rem;}
.header .top .stack {background:#903e0e;text-align:center;padding:.5rem;}
.header .top .sponsors {text-align:center;padding:.5rem;}
.header .top .topban {padding:.5rem;}
.header .top .account {padding:.5rem;word-break:break-all;color:#fff;}
.header .top .account a.button {margin:.9rem 0 0 0;}
.header .top .account .member {background:#111;padding:.25rem .5rem .25rem 0;border-radius:.2rem;margin:.5rem 0 0 0;}
.header .top .account a {position:relative;}
.header .top .account a .im-count {position:absolute;bottom:-5px;left:-12px;background:#42902a;border-radius:50%;width:18px;height:18px;line-height:18px;color:#fff;text-align:center;font-size:.45rem;font-weight:bold;z-index:999;}
.header .top .account ul.dropdown.menu {display:inline-block;margin:0;padding:0;background:none;}
.header .top .account ul.dropdown.menu li {display:inline-block;}
.header .top .account ul.dropdown.menu li a {background:none;border:0;width:25px;display:inline-block;padding:0;}
.header .top .account ul.dropdown.menu .submenu {min-width:auto;width:155px;left:auto;right:0;top:90%;font-size:.8rem;border:1px solid #333;border-radius:.2rem;box-shadow:1px 2px 4px #111;}
.header .top .account ul.dropdown.menu .submenu li {display:block;background:#333;border-bottom:1px solid #2b2b2b;width:auto;}
.header .top .account ul.dropdown.menu .submenu li a {display:block;border:0;width:auto;height:auto;padding:.5rem;}
.header .top .account ul.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {display:none;}
.header .top .online {position:absolute;z-index:100;top:82px;right:10px;font-size:.75rem !important;padding:0 .5rem;border-radius:.2rem;color:#fff;}
.header ul.dropdown.menu li {padding:0;}
.header ul.dropdown.menu li a {padding:.75rem;margin:0;display:block;width:190px;text-align:center;opacity:1;transition:all 0.3s ease;}
.header ul.dropdown.menu li a:HOVER {text-decoration:none;opacity:0.75;}
.header ul.dropdown.menu li a.build {background:#333 !important;color:#ff9b02 !important;border-right:1px solid #353535;}
.header ul.dropdown.menu li a.shop {background:#2e4a2f !important;color:#a2e08f !important;}
.header ul.dropdown.menu .submenu {border:0;z-index:999;background:none;}
.header ul.dropdown.menu .submenu li {background:#444;border-bottom:1px solid #2b2b2b;width:190px;}
.header ul.dropdown.menu .submenu li a {background:#424242;display:block;padding:.5rem 0;border:0;width:auto;width:190px;}
/***
#ar-15 {background:url(/images/2016/navbg/ar-15.png) no-repeat;opacity:1;transition:all 0.3s ease;}
#ar-15:HOVER {background:url(/images/2016/navbg/ar-15.png) no-repeat #888;opacity:.5;transition:all 0.3s ease;}
#ak-47 {background:url(/images/2016/navbg/ak-47.png) no-repeat;}
#ak-47:HOVER {background:url(/images/2016/navbg/ak-47.png) no-repeat #888;opacity:.5;transition:all 0.3s ease;}
#handgun {background:url(/images/2016/navbg/handgun.png) no-repeat;}
#handgun:HOVER {background:url(/images/2016/navbg/handgun.png) no-repeat #888;opacity:.5;transition:all 0.3s ease;}
#precision {background:url(/images/2016/navbg/precision-rifles.png) no-repeat;}
#precision:HOVER {background:url(/images/2016/navbg/precision-rifles.png) no-repeat #888;opacity:.5;transition:all 0.3s ease;}
#armory {background:url(/images/2016/navbg/armory.png) no-repeat;}
#armory:HOVER {background:url(/images/2016/navbg/armory.png) no-repeat #888;opacity:.5;transition:all 0.3s ease;}
#training {background:url(/images/2016/navbg/training.png) no-repeat;}
#training:HOVER {background:url(/images/2016/navbg/training.png) no-repeat #888;opacity:.5;transition:all 0.3s ease;}
#general {background:url(/images/2016/navbg/general.png) no-repeat;}
#general:HOVER {background:url(/images/2016/navbg/general.png) no-repeat #888;opacity:.5;transition:all 0.3s ease;}
#outdoors {background:url(/images/2016/navbg/outdoors.png) no-repeat;}
#outdoors:HOVER {background:url(/images/2016/navbg/outdoors.png) no-repeat #888;opacity:.5;transition:all 0.3s ease;}
#archery {background:url(/images/2016/navbg/archery.png) no-repeat;}
#archery:HOVER {background:url(/images/2016/navbg/archery.png) no-repeat #888;opacity:.5;transition:all 0.3s ease;}
#hometown {background:url(/images/2016/navbg/hometown.png) no-repeat;}
#hometown:HOVER {background:url(/images/2016/navbg/hometown.png) no-repeat #888;opacity:.5;transition:all 0.3s ease;}
#industry {background:url(/images/2016/navbg/industry.png) no-repeat;}
#industry:HOVER {background:url(/images/2016/navbg/industry.png) no-repeat #888;opacity:.5;transition:all 0.3s ease;}
#military {background:url(/images/2016/navbg/military.png) no-repeat;}
#military:HOVER {background:url(/images/2016/navbg/military.png) no-repeat #888;opacity:.5;transition:all 0.3s ease;}
#leo {background:url(/images/2016/navbg/leo.png) no-repeat;}
#leo:HOVER {background:url(/images/2016/navbg/leo.png) no-repeat #888;opacity:.5;transition:all 0.3s ease;}
***/
.header ul.dropdown.menu .submenu li a:HOVER {color:#fff;text-decoration:none;opacity:1;}
.header ul.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {border-color:#fff transparent transparent;margin:.25rem .5rem 0 0;}
.header ul.dropdown.menu li.forum-tools {background:#444;}
.header ul.dropdown.menu li.forum-tools a.img {background:#444;width:auto !important;padding:0;margin:0;border:0;}
.header ul.dropdown.menu li.forum-tools.is-dropdown-submenu-parent.is-down-arrow > a::after {display:none !important;}
.header ul.dropdown.menu li.forum-tools .submenu li {border-bottom:1px solid #383838;}
.header ul.dropdown.menu li.forum-tools .submenu li a {background:#444;padding:.75rem;}
.header ul.dropdown.menu li.forum-tools .submenu li a:HOVER {background:#555;}

/* FORUM TOOLS
.forum-tools {background:#4b4b4b;padding:.25rem;}
.forum-tools a {display:inline-block;background:#454545;padding:.25rem .5rem;border-radius:.25rem;} */

/* FORUM TOOLS */
.forum-tools {background:#4b4b4b;padding:.25rem;}
.forum-tools a {display:inline-block;background:#333;padding:.1rem 1rem;opacity:1;transition:all 0.3s ease;}
.forum-tools a:HOVER {opacity:1;}
.forum-tools a.button-red {background:#481010 !important;}
.forum-tools a.button-red:HOVER {background:#611717 !important;}
.forum-tools a.button-custom {background:#bf5a10 !important;}
.forum-tools a.button-custom:HOVER {background:#d5691a !important;}

/* FORUM LINKS BOTTOM */
.disc-links {background:#4b4b4b;padding:.25rem;}
.disc-links a {display:inline-block;background:#333;padding:.1rem .75rem;opacity:1;transition:all 0.3s ease;}
.disc-links a:HOVER {opacity:1;}

/* STICKY USER BAR */
.header .user-bar {display:none;background:#151515;border-bottom:.1rem solid #333;width:100%;z-index:100;-webkit-box-shadow:0 5px 20px rgba(0, 0, 0, 0.25);-moz-box-shadow:0 5px 20px rgba(0, 0, 0, 0.25);box-shadow:0 5px 20px rgba(0, 0, 0, 0.25);position:fixed;top:0;}
.header .user-bar .stack {text-align:center;padding:.5rem;}
.header .user-bar .logo {padding:.5rem;}
.header .user-bar .tools {background:#333;text-align:center;padding:.5rem;}
.header .user-bar .tools .button.secondary {background:#444;}
.header .user-bar .stickers {padding:.75rem 0 0 0;margin:0 0 0 2rem;}
.header .user-bar .stickers a:HOVER {text-decoration:none;}
.header .user-bar .stickers img {max-height:40px;}
.header .user-bar .account {margin:0 1rem 0 0;padding:.5rem;line-height:30px;}
.header .user-bar .account a.button {margin:0;}
.header .user-bar ul.dropdown.menu {width:auto;margin:0;}
.header .user-bar ul.dropdown.menu li {width:auto;}
.header .user-bar ul.dropdown.menu li a {background:none;border:0;width:auto;text-align:left;}
.header .user-bar ul.dropdown.menu .submenu {border:1px solid #333;margin:0;z-index:999;background:none;border-top-right-radius:.2rem;border-bottom-right-radius:.2rem;border-bottom-left-radius:.2rem;min-width:auto;width:160px;left:-.5rem;box-shadow:1px 2px 4px #111;}
.header .user-bar ul.dropdown.menu .submenu li {background:#333;border-bottom:1px solid #2b2b2b;width:auto;}
.header .user-bar ul.dropdown.menu .submenu li a {display:block;border:0;width:auto;padding:.5rem;}
.header .user-bar ul.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {display:none;}
.header .user-bar .account ul.dropdown.menu {display:inline-block;margin:0;padding:0;background:none;}
.header .user-bar .account ul.dropdown.menu li {display:inline-block;}
.header .user-bar .account ul.dropdown.menu li a {background:none;border:0;width:25px;display:inline-block;padding:0;position:relative;top:1px;}
.header .user-bar .account ul.dropdown.menu .submenu {min-width:auto;width:155px;left:auto;right:0;top:90%;font-size:.8rem;border:1px solid #333;border-radius:.2rem;box-shadow:1px 2px 4px #111;}
.header .user-bar .account ul.dropdown.menu .submenu li {display:block;background:#333;border-bottom:1px solid #2b2b2b;width:auto;}
.header .user-bar .account ul.dropdown.menu .submenu li a {display:block;border:0;width:auto;height:auto;padding:.5rem;}
.header .user-bar .account ul.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {display:none;}
.header .user-bar .account a {position:relative;}
.header .user-bar .account a .im-count {position:absolute;bottom:-5px;left:-12px;background:#42902a;border-radius:50%;width:18px;height:18px;line-height:18px;color:#fff;text-align:center;font-size:.45rem;font-weight:bold;z-index:999;}

/* MINI BANNERS */
.minis {background:#111111;padding:.25rem 0;}
.minis .efive {background:url(/images/2016/banners/mini.png) no-repeat top center;margin:.2rem 0;text-align:center;height:33px;}
.minis .efive img {width:80px;height:30px;position:relative;top:1px;}

/* CONTENT */
.content {padding:1rem 0;overflow:hidden;}
.content .adcol {text-align:center;}
.content .adcol a {display:block;margin:0 0 1rem 0;}

/* GENERAL CONTENT BOXES */
.select-box {background:#e9e9e9 !important;box-shadow:inset 0 0 10px #e1e1e1;}
.red-box {background:#e86a6a !important;}
.green-box {background:#cdf6dd !important;}
.blue-box {background:#cde1f6 !important;}
.brown-box {background:#d5ab79 !important;} 
.dtan-box {background:#DADDAC !important;} 
.ltan-box {background:#FBFFC0 !important;} 
.grey-box {background:rgba(46, 46, 46, .5);box-shadow:0 1px 2px #111;border-radius:.2rem;}
.grey-div {border-bottom:1px solid #333;}
.black-box {background:#181818;}
.white-box {background:#f2f2f2 !important;}
.white-div {border-bottom:1px solid #ccc;}
.white-box-alt {background:#e4e4e4;}
.light-box {background:#bdbdbd;}
.light-box-alt {background:#d0d0d0;}
.light-div {border-bottom:1px solid #717171;}
.bar-main {background:#363636;}
.bar-main a {display:inline-block;height:16px;opacity:1;transition:all 0.3s ease;}
.bar-main a:HOVER {opacity:0.75;}
.bar-main table {margin:0;padding:0;height:auto;}
.bar-main table td {padding:0;}
.bar-alt {background:#1d1d1d;}
.bar-alt a {opacity:1;transition:all 0.3s ease;}
.bar-alt a:HOVER {opacity:0.75;}
.con-push {padding:1rem 0 2rem 0;}
.box-pad {padding:1rem;}
.sub-title {padding:1rem;margin:0;background:no-repeat #151515;border-bottom:.1rem solid #222;margin:0 0 1rem 0;box-shadow:0 1px 15px #111;}
.sub-title h1 {font-size:2rem;}
ul.links {list-style:none;margin:0;}
ul.links li {padding:.75rem;border-bottom:1px solid #333;margin:0 !important;}

/* HOMEPAGE */
.content .video {}
.content .video img {border:2px solid #252525;}
.content .video h3 {font-size:1rem;}
.content .video h4 {font-size:1.5rem;}
.content .cta {background:#191919;text-align:center;padding:2.5rem 1rem 3.4rem 1rem;transition:box-shadow 200ms ease-out;border:2px solid #252525;}
.content .cta:HOVER {box-shadow: 0 0 6px 1px rgba(33, 153, 232, 0.5);}
.content .cta h2 {margin:0;font-size:1.75rem;}
.content .cta.register {background:url(/images/2016/register.jpg) no-repeat;background-size:cover;}
.content .cta.gunstruction {background:url(/images/2016/gunstruction.jpg) no-repeat;background-size:cover;}
.content .cta.ee {background:url(/images/2016/equipment-exchange.jpg) no-repeat;background-size:cover;}
.content .cta.newsletter {background:url(/images/2016/newsletter.jpg) no-repeat;background-size:cover;}
.content .cta.shop {background:url(/images/2016/online-shop.jpg) no-repeat;background-size:cover;}
.content .cta a.button {font-size:1.1rem;padding:.5rem 1rem;}
.content .post {padding:1rem 0;border-bottom:1px solid #353330;overflow:auto;}
.content .post a.title {text-transform:uppercase;font-weight:bold;font-size:1.2rem;display:block;}
.content .thread {margin:0 0 2rem 0;}
.content .thread a.title {display:block;margin:0 0 .75rem 0;min-height:40px;}
.content .thread .info {font-size:.8rem;}
.content .overview {text-align:center;}
.content .overview h3 {font-size:2rem;margin:3rem 0;}
.content .instagram {}
.content .instagram .thumbnail {margin:0;padding:0;}
.content .twitter {}

/* ROTATOR */
.orbit {}
.orbit ul.orbit-container {border:2px solid #252525;height: auto !important;}
.orbit ul.orbit-container li.orbit-slide {max-height:none !important;}
.orbit ul.orbit-container li.orbit-slide img {max-height:430px;width:100%;}
.orbit .orbit-caption {background:rgba(10, 10, 10, 0.9);text-align:center;font-size:1.25rem;}
.orbit .orbit-caption h1 {font-weight:bold !important;font-size:2.5rem;}
.orbit .orbit-bullets {margin:1rem 0;}
.orbit .orbit-bullets button {background:#111;width:auto;height:auto;border-radius:.25rem;margin:0 1rem 0 0;opacity:1;transition:all 0.3s ease;padding:0;border:2px solid #252525;box-shadow:1px 2px 4px #151515;}
.orbit .orbit-bullets button:HOVER {background:#222;border-radius:.25rem;opacity:1;}
.orbit .orbit-bullets button:focus {outline:0;}
.orbit .orbit-bullets button.is-active {background:#151515;border-radius:.25rem;position:relative;}
.orbit .orbit-bullets button.is-active:after, .orbit-bullets button.is-active:before {bottom:100%;left:50%;border:none;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.orbit .orbit-bullets button.is-active:after {border-color:rgba(21, 21, 21, 0);border-bottom-color:#151515;border-width:10px;margin-left:-10px;}
.orbit .orbit-bullets button.is-active:before {border-color:rgba(37, 37, 37, 0);border-width:13px;margin-left:-13px;}

/* VIDEO */ 
.intrinsic-container {position: relative;height: 0;overflow: hidden;} 
.intrinsic-container-16x9 {padding-bottom: 56.25%;} 
.intrinsic-container-4x3 {padding-bottom: 75%;} 
.intrinsic-container iframe {position: absolute;top:0;left: 0;width: 100%;height: 100%;}

/* FORUMS */
.forums {}
.forums .bar-alt a {line-height:1.4rem;}
.forums ul.menu {}
.forums ul.menu li a {display:block;text-align:center;color:#fff;padding:.5rem;opacity:1;transition:all 0.3s ease;}
.forums ul.menu li a:HOVER {opacity:0.75;}
.forums ul.dropdown.menu.admin-links {margin:0;}
.forums ul.dropdown.menu.admin-links li {}
.forums ul.dropdown.menu.admin-links li a {background:none;border:0;padding:0;margin:0 .5rem 0 0;}
.forums ul.dropdown.menu.admin-links li a img {position:relative;left:5px;}
.forums ul.dropdown.menu.admin-links li > a:AFTER {display:none;}
.forums ul.dropdown.menu.admin-links li ul.menu.vertical {background:#1d74a9;width:180px;border:0;min-width:auto;border-radius:.25rem;}
.forums ul.dropdown.menu.admin-links li ul.menu.vertical li {width:180px;border-bottom:1px solid #19699a;height:auto;}
.forums ul.dropdown.menu.admin-links li ul.menu.vertical li a {width:180px;display:inline-block;font-size:.8rem;text-align:left;padding:.25rem;height:auto;}
.forums ul.dropdown.menu.admin-links li ul.menu.vertical li a img {margin:0 .75rem 0 0;}
.forums ul.dropdown.menu.admin-links li ul.menu.vertical li a:HOVER {background:#238bcb;color:#fff !important;border-radius:.25rem;}
.forums ul.dropdown.menu.admin-links:not(.vertical) .is-dropdown-submenu.first-sub {top:100%;left:.5rem;right:auto;}
.forums ul.dropdown.menu.admin-links:not(.vertical) .is-dropdown-submenu.first-sub-right {top:100%;left:auto;right:0;}
.forums ul.dropdown.menu.forum-links {}
.forums ul.dropdown.menu.forum-links li {}
.forums ul.dropdown.menu.forum-links li a {background:none;border:0;margin:0;padding:0;}
.forums ul.dropdown.menu.forum-links li > a:AFTER {display:none;}
.forums ul.dropdown.menu.forum-links li ul.menu.vertical {background:#1d74a9;width:150px;border:0;min-width:auto;border-radius:.25rem;z-index:999;}
.forums ul.dropdown.menu.forum-links li ul.menu.vertical li {width:150px;border-bottom:1px solid #19699a;}
.forums ul.dropdown.menu.forum-links li ul.menu.vertical li a {width:150px;display:inline-block;font-size:.8rem;text-align:left;padding:.75rem;}
.forums ul.dropdown.menu.forum-links li ul.menu.vertical li a:HOVER {background:#238bcb;color:#fff !important;border-radius:.25rem;}
.forums .bar-main {font-weight:normal;}
.forums .bar-main a.button {height:auto;padding:.25rem;font-weight:normal;margin:0;}
.forums .bar-main select, .bar-main input {font-size:.75rem !important;line-height:1rem !important;font-weight:normal;}
.forums .pollbox {background:#fff;padding:1rem;}
.forums .pollbox .title {font-size:1.25rem;color:#000;font-weight:normal;}
.forums .notice {background:#151515;padding:.25rem 0;}
.forums .notice a {opacity:1;transition:all 0.3s ease;}
.forums .notice a:HOVER {opacity:0.75;}
.forums .paging select, .forums .paging input {display:inline-block;width:auto;height:auto;padding:.1rem 2rem .2rem .5rem;margin:.05rem .5rem 0 .5rem;background-color:#fff !important;}
.forums .table-main {padding:.25rem 0;}
.forums .table-alt {padding:.25rem 0;}
.forums .table-main a, .forums .table-alt a {}
.forums .table-main span, .forums .table-alt span {margin:0;font-size:.8rem;display:block;}
.forums .table-main p, .forums .table-alt p {margin:0;}
.forums .table-main p a, .forums .table-alt p a {margin:0 .1rem;}
/* .forums .expanded.row.table-main.light-box.light-div.black.barpad {word-break:break-all;} */
.forums .thread-ignore {position:relative;z-index:1;}
.forums .thread-ignore .stripe {position:absolute;z-index:999;background:url(/images/2016/warn.png) !important;width:100%;height:100%;top:0;}
.forums .thread-ignore .stripe a {position:relative;top:30%;}
.forums .thread-ignore .stripe a:HOVER {color:#ccc !important;}
.forums .thread-ignore .contain {position:relative;z-index:100;}
.forums .thread-post {margin:0;border-top:1px solid #1b1b1b;overflow:hidden;}
.forums .thread-post tbody td {padding:0;}
.forums .thread-post tbody th, .forums table.thread-post tbody td {padding-top:0;padding-bottom:0;}
.forums .thread-post thead, tbody, tfoot, tbody tr:nth-child(even) {border:0;background:none;}
.forums .thread-post::before, .forums .thread-post::after {display:none;}
.forums .thread-post .authorbox {background:#272727;padding:.5rem .5rem 0 .5rem;float:none;}
.forums .thread-post .authorbox .username {color:#fff;margin:0 0 .25rem 0;border-radius:.2rem;font-size:.9rem;}
.forums .thread-post .authorbox .username a {margin:0 0 0 .5rem;opacity:1;transition:all 0.3s ease;}
.forums .thread-post .authorbox .username a:HOVER {opacity:0.75;}
.forums .thread-post .authorbox .tagline {color:#fff;font-size:.75rem;color:#ccc;margin:0 0 .25rem 0;word-break:break-all;}
.forums .thread-post .authorbox .medium-4 .tagline {margin:0 0 .5rem 0;}
.forums .thread-post .authorbox .avatar {background-size:cover;background-position:50% 0;}
.forums .thread-post .authorbox .avatar img {width:100%;height:auto;max-height:125px;border:1px solid #888;display:block;}
.forums .thread-post .authorbox .userinfo {position:relative;background:#3b3b3b;padding:.25rem .5rem;margin:0 0 .25rem 0;color:#fff;font-size:.75rem;border-bottom-left-radius:.2rem;border-bottom-right-radius:.2rem;}
.forums .thread-post .authorbox .userinfo .status {}
.forums .thread-post .authorbox .userinfo .location {position:absolute;top:5px;right:5px;font-size:.7rem;}
.forums .thread-post .authorbox .userinfo .location img {position:relative;left:1px;}
.forums .thread-post .authorbox .medium-4 .userinfo {margin:0 0 .5rem 0;}
.forums .thread-post .authorbox .userinfo img {margin:0 .25rem 0 0;}
.forums .thread-post .authorbox .userinfo ul.user {list-style:none;margin:0;padding:0;}
.forums .thread-post .authorbox .userinfo ul.user li {}
.forums .thread-post .authorbox .userinfo ul.user li span.grey {display:inline-block;width:40px;}
.forums .thread-post .authorbox .stats {font-size:.75rem;color:#fff;}
.forums .thread-post .authorbox .stats ul {list-style:none;margin:0;}
.forums .thread-post .authorbox .stats span {color:#888;}
.forums .thread-post .post {padding:0;float:none;}
.forums .thread-post .post table {margin:0;}
.forums .thread-post .post .timestamp {background:#b4b4b4;font-size:.75rem;height:25px;line-height:25px;border-bottom:1px solid #aaa;}
.forums .thread-post .post .body {padding:1rem .5rem;overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;hyphens:auto;}
.forums .thread-post .post .body a {color:#ff0000;font-weight:bold;text-decoration:underline dotted;}
.forums .thread-post .post .body p {padding:0;margin:0 0 .5rem 0;}
.forums .thread-post .post .body img {max-height:600px;}
.forums .thread-post .post .body .nested-quote {display: none;}
.forums .thread-post .post .body .nested-quote.quote-expanded {display: block;}
.forums .thread-post .post .body .quote-bar {padding:.25rem 0 0 .75rem;background:#b3b3b3;border-top:1px solid #9c9c9c;border-left:1px solid #9c9c9c;border-right:1px solid #9c9c9c;}
.forums .thread-post .post .body .quote-bar .sprite.mobile-forums {position:relative;bottom:.1rem;}
.forums .thread-post .post .body .quote-bar strong {position:relative;right:.5rem;}
.forums .thread-post .post .body .quote-container, .quote-container-nested  {padding:1rem;background:#cdcdcd;border:1px solid #9c9c9c;position:relative;margin:0 0 1rem 0;}
.forums .thread-post .post .body .quote-container .quote-style {max-height:250px;overflow:hidden;}
.forums .thread-post .post .body .quote-container .quote-style-nested {max-height: none;}
.forums .thread-post .post .body .quote-container .quote-expand-all {display: none;box-sizing:border-box;color:#000000;cursor:pointer;font-size:.8rem;height:20px;left:0;line-height:1;padding-top:16px;position:absolute;right:0;text-align:center;bottom:12px;}
.forums .thread-post .post .body .quote-container .quote-expand {background:rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(235, 235, 235, 0) 0%, #aaa 80%) repeat scroll 0 0;box-sizing:border-box;color:#000000;cursor:pointer;display:none;font-size:.8rem;height:80px;left:0;line-height:1;padding-top:64px;position:absolute;right:0;text-align:center;bottom:0px;}
.forums .thread-post .post .body .quote-container .quote-expand.quote-expand-me {display:block;}
.forums .thread-post .post .body .quote-container .quote-expand.quote-expand-me span {font-size:.8rem;}
.forums .thread-post .post .body .quote-container.quote-expanded .quote-style {max-height: none;} 
.forums .thread-post .post .body .quote-container.quote-expanded .quote-expand {display: none;} 
.forums .thread-post .post .body .quote-container.quote-expanded .quote-expand-all {display: block;} 
.forums .thread-post .post .body .quote-container .quote-expand-all.quote-expanded {display: block;}
.forums .thread-post .post .body .quote-container.span .quote-style {max-height:none;}
.forums .thread-post .post .body .quote-container.span .quote-expand {display:none;}
.forums .thread-post .post .body .spoiler-header {border:1px dashed #913e0e;background:#ffdbdb;padding:6px;color:#9e0b0b;margin:1rem 0;display:block;}
.forums .thread-post .post .body .spoiler-style {border:1px dashed #913e0e;background:#ffdbdb;padding:6px;margin:1rem 0;}
.forums .thread-post .post .body .code-style {border:1px dashed #39cb54;background:#dbe6dd;padding:6px;margin:0 0 1rem 0;color:#304133;}
.forums .thread-post .post .bottom {padding:0;}
.forums .thread-post .post .bottom .links {background:#3b3b3b;}
.forums .thread-post .post .bottom.vertview {position:relative;width:auto;}
.forums .thread-post .post .bottom .signature {padding:0 .5rem;margin:1rem;background:#aaa;border:1px solid #888;font-size:.75rem;overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;hyphens:auto;}
.forums .thread-post .post .bottom ul.menu {background:#3b3b3b;}
.forums .thread-post .post .bottom ul.menu li {background:#3b3b3b;}
.forums .thread-post .post .bottom ul.menu li a {background:#2a2a2a;border-right:1px solid #222;font-size:.8rem;position:relative;}
.forums .thread-post .post .bottom .dropdown.menu .is-dropdown-submenu-parent.is-down-arrow a {padding-right:.75rem;}
.forums ul.dropdown.menu.admin-links-right:not(.vertical) .is-dropdown-submenu.first-sub-right {top:100%;left:auto;right:0;}
.forums .thread-post .post .bottom ul.menu li a:HOVER {}
.forums .thread-post .post .bottom ul.menu li > a:after {display:none;}
.forums .thread-post .post .bottom ul.menu li ul.menu.vertical {width:175px;border:0;min-width:auto;}
.forums .thread-post .post .bottom ul.menu li ul.menu.vertical li {width:175px;border-bottom:1px solid #444;height:auto;}
.forums .thread-post .post .bottom ul.menu li ul.menu.vertical li a {width:175px;display:inline-block;font-size:.8rem;text-align:left;padding:.5rem 1.1rem;height:auto;}
.forums .thread-post .post .bottom ul.menu li ul.menu.vertical li a.share {display:inline-block;width:auto;padding:0;background:0;border:0;margin:.5rem 0 .5rem .5rem;}
.forums .thread-post-ignored {background:url(/images/2016/warn.jpg);border-top:1px solid #4d0b0b;text-shadow:0 1px 1px #591515;padding:1rem 0;}
.forums .editor {}
.forums .editor .attach-media {}
.forums .editor .attach-media .photo-list {padding:.75rem 0 0 0;}

.preview {text-align:left;color:#000000;}

/* TWITTER */
blockquote.twitter-tweet {background:url(/images/2016/forums/tweet.png) no-repeat 90% 0 #efefef;color:#000;max-width:60%;border-radius:.25rem;padding:1rem;box-shadow:0 0 2px #888;}
blockquote.twitter-tweet p {color:#000;font-weight:normal;font-size:1.25rem;}
blockquote.twitter-tweet p img {border-radius:0;margin:0;}
blockquote.twitter-tweet a {color: #2199e8 !important;}
blockquote.twitter-tweet img {border-radius:.25rem;margin:0 .5rem 0 0;}

/* AMAZON PRODUCT */
.forums .thread-post .amazon-product {background:#e8e8e8;border-radius:.25rem;border:1px solid #999;box-shadow:0 0 2px #888;padding:1rem;width:80%;min-width:160px;max-width:250px;margin:1rem 0 2rem 0;}
.forums .thread-post .amazon-product img {border:1px solid #ccc;}
.forums .thread-post .amazon-product .title {font-size:1.1rem;font-weight:bold;padding:1rem 0 0 0;text-align:left;}
.forums .thread-post .amazon-product .title a {color:#000;}
.forums .thread-post .amazon-product ul {margin:1rem;font-size:.8rem;text-align:left;}
.forums .thread-post .amazon-product ul li {margin:0 0 .5rem 0;}
.forums .thread-post .amazon-product .price {font-size:1.25rem;}
.forums .thread-post .amazon-product .price img {float:left;border:0;padding:0 0 0 .5rem;}
.forums .thread-post .amazon-product .price span {float:right;padding:.4rem 1rem 0 0;}

/* FORUM BLOG SNIPPET */
.forums .thread-post .blog-snippet {background:#e8e8e8;border-radius:.25rem;border:1px solid #999;box-shadow:0 0 2px #888;padding:1rem;margin:2rem 0;}
.forums .thread-post .blog-snippet a.title {display:block;font-size:1.5rem;font-weight:bold;padding:0;margin:0 0 .25rem 0;line-height:normal;}
.forums .thread-post .blog-snippet a.thumbnail {margin:0;}

/* HIGHLIGHT POSTS */
.forums .thread-post .highlight-author {background:#e5cfa3 !important;}
.forums .thread-post .highlight-author.post .timestamp {background:#d7c093 !important;border-bottom:1px solid #cab387 !important;}
.forums .thread-post .highlight-author.post .bottom .signature {background:#d7ba82 !important;border:1px solid #c8ad77 !important;}
.forums .thread-post .highlight-self {background:#b6d1b3 !important;}
.forums .thread-post .highlight-self.post .timestamp {background:#a8c8a4 !important;border-bottom:1px solid #9bbd97 !important;}
.forums .thread-post .highlight-self.post .bottom .signature {background:#9bbf97 !important;border:1px solid #7ea47a !important;}
.forums .thread-post .highlight-friend {background:#b3c9d4 !important;}
.forums .thread-post .highlight-friend.post .timestamp {background:#a6bdc9 !important;border-bottom:1px solid #99b1bd !important;}
.forums .thread-post .highlight-friend.post .bottom .signature {background:#97afbf !important;border:1px solid #87a0b1 !important;}

/* VERTICAL VIEW */
.forums .thread-post.vertview {overflow:visible;}
.forums .thread-post.vertview .authorbox {width:100%;padding:.5rem 1.25rem;}
.forums .thread-post.vertview .authorbox table {margin:0;padding:0;}
.forums .thread-post.vertview .authorbox .avatar {width:250px;margin:0 1rem 0 0;}
.forums .thread-post.vertview .authorbox .info {width:30%;min-width:250px;padding:0 0 0 1rem;}
.forums .thread-post.vertview .authorbox .info .username {margin:0 0 .35rem 0;}
.forums .thread-post.vertview .authorbox .info .tagline {padding:0 0 .35rem 0;margin:0;word-break:break-all;}
.forums .thread-post.vertview .authorbox .info .userinfo {width:100%;min-width:250px;overflow:auto;margin:0;}
.forums .thread-post.vertview .authorbox .stats {padding:0 0 0 1rem;}
.forums .thread-post.vertview .post .body {padding:1rem 2rem;}
.forums .thread-post.vertview .post .bottom .signature {margin:1rem;}

/* POST EDIT HISTORY */
.edit-history {background:#252525;padding:2rem;color:#fff;font-size:1rem !important;border:5px solid #333;width:100%;}
.edit-history .title {color:#fff;font-size:2.5rem;margin:0 0 1rem 0;display:inline-block;font-weight:bold;}
.edit-history .title span {position:relative;bottom:5px;}
.edit-history span.badge {position:relative;bottom:2px;}
.edit-history .light-box {font-size:.8rem;}
.edit-history .light-box p {padding:1rem;}

/* MESSENGER */
.messenger {}
.messenger .view-message {padding:0;width:100%;}
.messenger .compose-message {padding:0;font-weight:normal;font-size:1rem;}
.messenger .compose-message .sprite {position:relative;bottom:2px;}
.messenger .add-contact {padding:0;width:40%;font-weight:normal;font-size:1rem;}
.messenger .add-contact ul {margin:.5rem 3rem;list-style:none;text-align:left;}
.messenger .add-contact ul li {margin:0 0 1rem 0;}
.messenger .imBody .quote-container {padding:1rem;background:#cdcdcd;border:1px solid #9c9c9c;position:relative;margin:0 0 2rem 0;font-size:.8rem;} 
.messenger .imBody .quote-container .quote-style {max-height:150px;overflow:hidden;} 
.messenger .imBody .quote-container .quote-expand {background:rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(235, 235, 235, 0) 0%, #aaa 80%) repeat scroll 0 0;box-sizing:border-box;color:#000000;cursor:pointer;display:none;font-size:.8rem;height:80px;left:0;line-height:1;padding-top:58px;position:absolute;right:0;text-align:center;top:102px;} 
.messenger .imBody .quote-container .quote-expand.quote-expand-me {display:block;} 
.messenger .imBody .quote-container .quote-expand.quote-expand-me span {font-size:.8rem;} 
.messenger .imBody .quote-container.quote-expanded .quote-style {max-height: none;}  
.messenger .imBody .quote-container.quote-expanded .quote-expand {display: none;}  
.messenger .imBody .quote-container.span .quote-style {max-height:none;} 
.messenger .imBody .quote-container.span .quote-expand {display:none;} 

/* MEMBER PROFILE */
.members {}
.members input, .members select {background-color:#fff !important;height:auto;}
.members .skin-picker {}
.members .skin-picker .skin {padding:4px;} 
.members .skin-picker .skin:HOVER {opacity:.75;} 

.members .skin-picker .skin#orange {background:#a74811;color:white;} 
.members .skin-picker .skin#black {background:#111;color:white;} 
.members .skin-picker .skin#blue {background:#255284;color:white;}
.members .skin-picker .skin#green-dark {background:#02552a;color:white;} 
.members .skin-picker .skin#green-military {background:#6b7846;color:white;} 
.members .skin-picker .skin#grey {background:#6f6f6f;color:white;}
.members .skin-picker .skin#olive {background:#605d40;color:white;} 
.members .skin-picker .skin#red {background:#8c1d1d;color:white;} 
.members .skin-picker .skin#tan {background:#936946;color:white;}
.members .skin-picker .skin#camo {background:url(/images/2016/skins/camo-light.png) #605d40;color:white;} 
.members .skin-picker .skin#flag {background:url(/images/2016/skins/flag.png) #1a4274;color:white;} 

.members .bar-main a {margin:0 .5rem 0 0;}
.members .day {border-bottom:1px dashed #bbb;border-left:1px dashed #bbb;padding:2rem;height:10rem;font-size:.8rem;}
.members .day.end {border-right:1px dashed #bbb;}
.members .day a {line-height:1rem;display:inline-block;}
.members .media {}
.members .media h2 {color:#fff;}
.members .media a.title {display:block;font-size:1rem;font-weight:normal;padding:0 0 1rem 0;}
.members .media .show-for-large {font-size:.8rem;}
.members .media .bar-main .text-right {padding:.5rem 1rem;}
.members .media .expanded.row .small-3 {border-right:1px solid #ddd;}
.members .event {padding:1rem 1rem 1rem 0;display:table;}
.members .event-date {width:6rem;margin:0 auto 1rem;display:table-cell;width:auto;}
.members .event-date .event-month {margin:0;background:#eee;padding:0.5rem 2rem;text-align:center;}
.members .event-date .event-day {margin:0;border:1px solid #eee;padding:0 2rem;text-align:center;font-size:2rem;}
.members .event-desc {padding:0 0 0 1rem;text-align:left;display:table-cell;vertical-align:top;}
.members .event-desc .event-desc-header {margin:0 0 0.5rem 0;padding:0;color:#000;}
.members .event-desc .event-desc-detail {margin:0 0 0.25rem;padding:0;}
.members .event-desc .event-desc-time {font-weight:bold;display:block;}
.members .event-desc .rsvp.button {padding:0.5rem 0;margin:0;}

/* ADMIN TOOLS */
.admins {}
.admins .start-blocks a {display:inline-block;padding:.25rem .5rem;background:#fefefe;border:1px solid #eaeaea;margin:.25rem;}
.admins .start-blocks a:HOVER {text-decoration:none;background:#d9d9d9;}
.admins .mem-results a {display:inline-block;margin:1rem;}
.admins .forums .authorbox a {color:#fff !important;}
.admins .tabs-panel {padding:1rem 1rem 0 1rem;}
.admins .tabs-panel#panel3, .admins .tabs-panel#panel4 {padding:0 1rem;}
.admins .tabs-panel p {margin:0;}
.admins .open-feedback {padding:0;}

/* BLOG */
.blog {}
.blog .search {margin:1.25rem 0 0 0;}
.blog .search input {display:inline-block;margin:0;border:0;}
.blog .search input:FOCUS {outline:0 !important;}
.blog .search .button {padding:.72rem;position:relative;top:2px;right:6px;border-top-left-radius:0;border-bottom-left-radius:0;}
.blog h1 {font-size:2.75rem;display:inline-block;}
.blog .sprite.rss {position:relative;bottom:10px;}
.blog .sidebar {padding:2.35rem 1rem 0 1rem;}
.blog .sidebar a {display:block;margin:.5rem 0 1rem 0;}
.blog .post {padding:1rem 0;border-bottom:1px solid #353330;float:left;width:100%;}
.blog .post a.title {font-size:1.5rem;font-weight:bold;}
.blog .post a.title-top {font-size:2rem;font-weight:bold;}
.blog .post a.more {margin:.25rem 0 0 0;}
.blog .article {color:#e4e4e4;}
.blog .article a.title {font-size:2.5rem;}
.blog .article a.title:HOVER {text-decoration:none;}
.blog .article .comment {}
.blog .article .comment span {display:block;}
.blog .article .comment img {display:block;margin:.25rem 0 .5rem 0;border:2px solid #444;}
.blog .article .comment img.sprite {display:inline-block;border:0;margin:0 .25rem 0 0;position:relative;bottom:4px;}
.blog .article .comment a {font-size:1.5rem;margin:0;}
.blog .article .comment .text-small {padding:0;}
.blog .submit {}
.blog .submit ul.tabs {background:#252525;border:0;color:#ccc;border-top-left-radius:.1rem;border-top-right-radius:.1rem;border-bottom:1px solid #282828;}
.blog .submit ul.tabs li.tabs-title a:HOVER {background:#353535;text-decoration:none;}
.blog .submit ul.tabs li.tabs-title.is-active a {border-top-left-radius:.1rem;background:#454545;}
.blog .submit .tabs-content {background:#222;border:0;color:#ccc;border-bottom-left-radius:.1rem;border-bottom-right-radius:.1rem;}
.blog .submit .tabs-content .thumbnail {margin:0 .5rem 0 0;}
.blog .submit textarea, .blog .submit input {background:#444;border:0;color:#ccc;}
.blog h4 span.badge {position:relative;bottom:5px;}

/* SOCIAL SHARE */
.share-arfcom {display:inline-block;}
.share-arfcom .jssocials-shares {margin:0;}
.share-arfcom .jssocials-shares * {box-sizing:border-box;}
.share-arfcom .jssocials-share {display:inline-block;vertical-align:top;margin:0;}
.share-arfcom .jssocials-share:last-child {margin-right:0;}
.share-arfcom .jssocials-share-logo {width:1em;vertical-align:middle;font-size:1.5em;}
.share-arfcom img.jssocials-share-logo {width:60px;height:25px;}
.share-arfcom .jssocials-share-link {display:inline-block;text-align:center;text-decoration:none;line-height:1;}
.share-arfcom .jssocials-share-link.jssocials-share-link-count {padding-top:.2em;}
.share-arfcom .jssocials-share-link.jssocials-share-link-count .jssocials-share-count {display:block;font-size:.6em;margin:0 -.5em -.8em -.5em;}
.share-arfcom .jssocials-share-link.jssocials-share-no-count {padding-top:.5em;}
.share-arfcom .jssocials-share-link.jssocials-share-no-count .jssocials-share-count {height:1em;}
.share-arfcom .jssocials-share-label {padding-left:0.3em;vertical-align:middle;}
.share-arfcom .jssocials-share-count-box {display:inline-block;height:1.5em;padding:0 0.3em;line-height:1;vertical-align:middle;cursor:default;}
.share-arfcom .jssocials-share-count-box.jssocials-share-no-count {display:none;}
.share-arfcom .jssocials-share-count {line-height:1.5em;vertical-align:middle;}
.forums .thread-post .post .bottom ul.menu li ul.menu.vertical li .share-arfcom {padding:0 0 0 .5rem;}
.forums .thread-post .post .bottom ul.menu li ul.menu.vertical li .share-arfcom a {display:inline-block;margin:0;padding:0;width:auto;border:0;}

/* LANDING PAGES */
.landing {}
.landing h4 {font-weight:bold;color:#deb170;}
.landing ul {}
.landing ul li {margin:0 0 .25rem 0;}
.landing ul.quest {list-style:none;}
.landing .intro {}
.landing .intro p {margin:1rem 0;}
.landing .intro ul {width:auto;margin:0 0 0 2rem;}
.landing h2 {font-size:1.75em;}
.landing h3 {font-size:1.5rem;font-weight:normal;color:#fff;}
.landing ul.accordion {background:none;border:0;margin:0;}
.landing ul.accordion li {margin:0;}
.landing ul.accordion li.accordion-item {}
.landing ul.accordion li.accordion-item a.accordion-title {background:#454545;border:0;margin:0;border-bottom:1px solid #222;font-size:1.25rem;line-height:1.5rem;}
.landing ul.accordion li.accordion-item a.accordion-title:HOVER {background:#222;text-decoration:none;}
.landing ul.accordion li.accordion-item a.accordion-title:FOCUS {background:#333;}
.landing ul.accordion li.accordion-item .accordion-content {border:0;}
.landing ul.accordion li.accordion-item .accordion-content ol {list-style-type:lower-roman;}
.landing ul.accordion li.accordion-item .accordion-content a.button {display:block;font-size:1.1rem;padding:.5rem 1rem;}
.landing ul.faq {margin:1.5rem 0 0 0;list-style:none;}
.landing ul.faq li {border-bottom:1px solid #333;}
.landing ul.faq li a {font-size:1.5rem;}
.landing ul.faq li p a {font-size:.8rem;}
.landing ul.faq li .reveal a.button {font-size:1.1rem !important;}
.landing .mempack {}
.landing span.black {font-size:1rem;font-weight:normal;}
.landing table.listing {margin:0;}
.landing table.listing td {padding:.75rem;}
.landing table.listing .image {width:100px;}
.landing table.listing .image .thumb {display:table-cell;width:100px;height:100px;background:#444;vertical-align:middle;text-align:center;}
.landing table.listing .image .thumb img.thumbnail {margin:0;max-height:100px;width:auto;}
.landing table.listing .title {width:50%;vertical-align:middle;}
.landing table.listing .title a {font-weight:bold;font-size:1rem;}
.landing table.listing .forum {width:30%;vertical-align:middle;}
.landing table.listing .views {width:10%;vertical-align:middle;}
.landing .side-menu {}
.landing iframe {width:auto;height:auto;}
.landing .mapContain {width:100%;height:200px;}
.landing .bio {}
.landing .bio h4 {word-break:break-all;}
.landing .bio a img {width:100%;height:auto;border-radius:.2rem;}

/* VIDEOS */
.videos {}
.videos .thumbnail {border:2px solid #222 !important;padding:0;}
.videos h2 {font-size:1.75em;}
.videos h3 {font-size:1.5rem;margin:0 0 1rem 0;}
.videos .featured .video {}
.videos .featured .title {}
.videos .featured .title a {display:block;font-size:2rem;font-weight:bold;}
.videos .featured .tags {padding:.5rem 0;}
.videos .featured .body {}
.videos .vidrow {margin:0 0 2rem 0;}
.videos .vidrow .thumbnail {margin:0;}
.videos .vidrow .info {padding:1rem 1rem 2rem 1rem;}
.videos .vidrow .info a.white {font-size:1.25rem;}
.videos .sidebar {padding:3rem 0 0 0;}
.videos .sidebar a {display:block;margin:.5rem 0 1rem 0;}

/* ARCHIVE */
.archive {}
.archive .header {padding:2rem 0;background:url(/images/2016/bg.jpg) no-repeat;}
.archive .header .text-right {padding:1rem 2rem 0 0;}
.archive .copy {}
.archive .copy ul {margin:1rem 2rem;list-style:none;}
.archive .copy ul li {border-bottom:1px solid #aeaeae;padding:.5rem 0;}
.archive .copy ul li a {display:block;font-weight:bold;text-decoration:underline;}
.archive .copy .post {border:1px solid #aeaeae;margin:1rem 0;}
.archive .footer {padding:2rem 0;font-size:.75rem;}


/* FOOTER */
.footer {background:#1d1d1d;font-size:.75rem;}
.footer a {opacity:1;transition:all 0.3s ease;}
.footer a:HOVER {opacity:0.75;}
.footer .cols {padding:1.5rem 0;}
.footer .cols h4 {font-size:1rem;}
.footer .cols a img {position:relative;right:5px;margin:0 0 1rem 0;}
.footer .cols a img:HOVER {}
.footer .links {padding:2rem 0;text-align:center;background:#131313;}
.footer .links a {margin:0 1rem 0 0;}



/* Back To Top Buttons */
.cd-top {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: fixed;
  bottom: 52px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #a74811 url(/includes/css/images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-bottom {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #a74811 url(/includes/css/images/cd-bottom-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover, .cd-bottom.cd-is-visible, .cd-bottom.cd-fade-out, .no-touch .cd-bottom:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible, .cd-bottom.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out, .cd-bottom.cd-fade-out{
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover, .no-touch .cd-bottom:hover {
  background-color: #bf5017;
  opacity: 1;
}


/* Flags */
.flag {display:inline-block;height:16px;width:16px;vertical-align:text-top;line-height:16px;background:url(/images/2016/flags16.png) no-repeat;}
.flag._African_Union{background-position:0 -16px;}
.flag._Arab_League{background-position:0 -32px;}
.flag._ASEAN,{background-position:0 -48px;}
.flag._CARICOM{background-position:0 -64px;}
.flag._CIS{background-position:0 -80px;}
.flag._Commonwealth{background-position:0 -96px;}
.flag._England{background-position:0 -112px;}
.flag._European_Union, .flag.eu{background-position:0 -128px;}
.flag._Islamic_Conference{background-position:0 -144px;}
.flag._Kosovo{background-position:0 -160px;}
.flag._NATO{background-position:0 -176px;}
.flag._Northern_Cyprus{background-position:0 -192px;}
.flag._Northern_Ireland{background-position:0 -208px;}
.flag._Olimpic_Movement{background-position:0 -224px;}
.flag._OPEC{background-position:0 -240px;}
.flag._Red_Cross{background-position:0 -256px;}
.flag._Scotland{background-position:0 -272px;}
.flag._Somaliland{background-position:0 -288px;}
.flag._Tibet{background-position:0 -304px;}
.flag._United_Nations{background-position:0 -320px;}
.flag._Wales{background-position:0 -336px;}
.flag.ad,.flag.and{background-position:0 -352px;}
.flag.ae,.flag.are{background-position:0 -368px;}
.flag.af,.flag.afg{background-position:0 -384px;}
.flag.ag,.flag.atg{background-position:0 -400px;}
.flag.ai,.flag.aia{background-position:0 -416px;}
.flag.al,.flag.alb{background-position:0 -432px;}
.flag.am,.flag.arm{background-position:0 -448px;}
.flag.ao,.flag.ago{background-position:0 -464px;}
.flag.aq,.flag.ata{background-position:0 -480px;}
.flag.ar,.flag.arg{background-position:0 -496px;}
.flag.as,.flag.asm{background-position:0 -512px;}
.flag.at,.flag.aut{background-position:0 -528px;}
.flag.au,.flag.aus{background-position:0 -544px;}
.flag.aw,.flag.abw{background-position:0 -560px;}
.flag.ax,.flag.ala{background-position:0 -576px;}
.flag.az,.flag.aze{background-position:0 -592px;}
.flag.ba,.flag.bih{background-position:0 -608px;}
.flag.bb,.flag.brb{background-position:0 -624px;}
.flag.bd,.flag.bgd{background-position:0 -640px;}
.flag.be,.flag.bel{background-position:0 -656px;}
.flag.bf,.flag.bfa{background-position:0 -672px;}
.flag.bg,.flag.bgr{background-position:0 -688px;}
.flag.bh,.flag.bhr{background-position:0 -704px;}
.flag.bi,.flag.bdi{background-position:0 -720px;}
.flag.bj,.flag.ben{background-position:0 -736px;}
.flag.bm,.flag.bmu{background-position:0 -752px;}
.flag.bn,.flag.brn{background-position:0 -768px;}
.flag.bo,.flag.bol{background-position:0 -784px;}
.flag.br,.flag.bra{background-position:0 -800px;}
.flag.bs,.flag.bhs{background-position:0 -816px;}
.flag.bt,.flag.btn{background-position:0 -832px;}
.flag.bw,.flag.bwa{background-position:0 -848px;}
.flag.by,.flag.blr{background-position:0 -864px;}
.flag.bz,.flag.blz{background-position:0 -880px;}
.flag.ca,.flag.can{background-position:0 -896px;}
.flag.cg,.flag.cog{background-position:0 -912px;}
.flag.cf,.flag.caf{background-position:0 -928px;}
.flag.cd,.flag.cod{background-position:0 -944px;}
.flag.ch,.flag.che{background-position:0 -960px;}
.flag.ci,.flag.civ{background-position:0 -976px;}
.flag.ck,.flag.cok{background-position:0 -992px;}
.flag.cl,.flag.chl{background-position:0 -1008px;}
.flag.cm,.flag.cmr{background-position:0 -1024px;}
.flag.cn,.flag.chn{background-position:0 -1040px;}
.flag.co,.flag.col{background-position:0 -1056px;}
.flag.cr,.flag.cri{background-position:0 -1072px;}
.flag.cu,.flag.cub{background-position:0 -1088px;}
.flag.cv,.flag.cpv{background-position:0 -1104px;}
.flag.cy,.flag.cyp{background-position:0 -1120px;}
.flag.cz,.flag.cze{background-position:0 -1136px;}
.flag.de,.flag.deu{background-position:0 -1152px;}
.flag.dj,.flag.dji{background-position:0 -1168px;}
.flag.dk,.flag.dnk{background-position:0 -1184px;}
.flag.dm,.flag.dma{background-position:0 -1200px;}
.flag.do,.flag.dom{background-position:0 -1216px;}
.flag.dz,.flag.dza{background-position:0 -1232px;}
.flag.ec,.flag.ecu{background-position:0 -1248px;}
.flag.ee,.flag.est{background-position:0 -1264px;}
.flag.eg,.flag.egy{background-position:0 -1280px;}
.flag.eh,.flag.esh{background-position:0 -1296px;}
.flag.er,.flag.eri{background-position:0 -1312px;}
.flag.es,.flag.esp{background-position:0 -1328px;}
.flag.et,.flag.eth{background-position:0 -1344px;}
.flag.fi,.flag.fin{background-position:0 -1360px;}
.flag.fj,.flag.fji{background-position:0 -1376px;}
.flag.fm,.flag.fsm{background-position:0 -1392px;}
.flag.fo,.flag.fro{background-position:0 -1408px;}
.flag.fr,.flag.fra{background-position:0 -1424px;}  .flag.bl,.flag.blm, .flag.cp,.flag.cpt, .flag.mf,.flag.maf, .flag.yt,.flag.myt{background-position:0 -1424px;}
.flag.ga,.flag.gab{background-position:0 -1440px;}
.flag.gb,.flag.gbr{background-position:0 -1456px;}  .flag.sh,.flag.shn{background-position:0 -1456px;}
.flag.gd,.flag.grd{background-position:0 -1472px;}
.flag.ge,.flag.geo{background-position:0 -1488px;}
.flag.gg,.flag.ggy{background-position:0 -1504px;}
.flag.gh,.flag.gha{background-position:0 -1520px;}
.flag.gi,.flag.gib{background-position:0 -1536px;}
.flag.gl,.flag.grl{background-position:0 -1552px;}
.flag.gm,.flag.gmb{background-position:0 -1568px;}
.flag.gn,.flag.gin{background-position:0 -1584px;}
.flag.gp,.flag.glp{background-position:0 -1600px;}
.flag.gq,.flag.gnq{background-position:0 -1616px;}
.flag.gr,.flag.grc{background-position:0 -1632px;}
.flag.gt,.flag.gtm{background-position:0 -1648px;}
.flag.gu,.flag.gum{background-position:0 -1664px;}
.flag.gw,.flag.gnb{background-position:0 -1680px;}
.flag.gy,.flag.guy{background-position:0 -1696px;}
.flag.hk,.flag.hkg{background-position:0 -1712px;}
.flag.hn,.flag.hnd{background-position:0 -1728px;}
.flag.hr,.flag.hrv{background-position:0 -1744px;}
.flag.ht,.flag.hti{background-position:0 -1760px;}
.flag.hu,.flag.hun{background-position:0 -1776px;}
.flag.id,.flag.idn{background-position:0 -1792px;}
.flag.mc,.flag.mco{background-position:0 -1792px;}
.flag.ie,.flag.irl{background-position:0 -1808px;}
.flag.il,.flag.isr{background-position:0 -1824px;}
.flag.im,.flag.imn{background-position:0 -1840px;}
.flag.in,.flag.ind{background-position:0 -1856px;}
.flag.iq,.flag.irq{background-position:0 -1872px;}
.flag.ir,.flag.irn{background-position:0 -1888px;}
.flag.is,.flag.isl{background-position:0 -1904px;}
.flag.it,.flag.ita{background-position:0 -1920px;}
.flag.je,.flag.jey{background-position:0 -1936px;}
.flag.jm,.flag.jam{background-position:0 -1952px;}
.flag.jo,.flag.jor{background-position:0 -1968px;}
.flag.jp,.flag.jpn{background-position:0 -1984px;}
.flag.ke,.flag.ken{background-position:0 -2000px;}
.flag.kg,.flag.kgz{background-position:0 -2016px;}
.flag.kh,.flag.khm{background-position:0 -2032px;}
.flag.ki,.flag.kir{background-position:0 -2048px;}
.flag.km,.flag.com{background-position:0 -2064px;}
.flag.kn,.flag.kna{background-position:0 -2080px;}
.flag.kp,.flag.prk{background-position:0 -2096px;}
.flag.kr,.flag.kor{background-position:0 -2112px;}
.flag.kw,.flag.kwt{background-position:0 -2128px;}
.flag.ky,.flag.cym{background-position:0 -2144px;}
.flag.kz,.flag.kaz{background-position:0 -2160px;}
.flag.la,.flag.lao{background-position:0 -2176px;}
.flag.lb,.flag.lbn{background-position:0 -2192px;}
.flag.lc,.flag.lca{background-position:0 -2208px;}
.flag.li,.flag.lie{background-position:0 -2224px;}
.flag.lk,.flag.lka{background-position:0 -2240px;}
.flag.lr,.flag.lbr{background-position:0 -2256px;}
.flag.ls,.flag.lso{background-position:0 -2272px;}
.flag.lt,.flag.ltu{background-position:0 -2288px;}
.flag.lu,.flag.lux{background-position:0 -2304px;}
.flag.lv,.flag.lva{background-position:0 -2320px;}
.flag.ly,.flag.lby{background-position:0 -2336px;}
.flag.ma,.flag.mar{background-position:0 -2352px;}
.flag.md,.flag.mda{background-position:0 -2368px;}
.flag.me,.flag.mne{background-position:0 -2384px;}
.flag.mg,.flag.mdg{background-position:0 -2400px;}
.flag.mh,.flag.mhl{background-position:0 -2416px;}
.flag.mk,.flag.mkd{background-position:0 -2432px;}
.flag.ml,.flag.mli{background-position:0 -2448px;}
.flag.mm,.flag.mmr{background-position:0 -2464px;}
.flag.mn,.flag.mng{background-position:0 -2480px;}
.flag.mo,.flag.mac{background-position:0 -2496px;}
.flag.mq,.flag.mtq{background-position:0 -2512px;}
.flag.mr,.flag.mrt{background-position:0 -2528px;}
.flag.ms,.flag.msr{background-position:0 -2544px;}
.flag.mt,.flag.mlt{background-position:0 -2560px;}
.flag.mu,.flag.mus{background-position:0 -2576px;}
.flag.mv,.flag.mdv{background-position:0 -2592px;}
.flag.mw,.flag.mwi{background-position:0 -2608px;}
.flag.mx,.flag.mex{background-position:0 -2624px;}
.flag.my,.flag.mys{background-position:0 -2640px;}
.flag.mz,.flag.moz{background-position:0 -2656px;}
.flag.na,.flag.nam{background-position:0 -2672px;}
.flag.nc,.flag.ncl{background-position:0 -2688px;}
.flag.ne,.flag.ner{background-position:0 -2704px;}
.flag.ng,.flag.nga{background-position:0 -2720px;}
.flag.ni,.flag.nic{background-position:0 -2736px;}
.flag.nl,.flag.nld{background-position:0 -2752px;}  .flag.bq,.flag.atb{background-position:0 -2752px;}
.flag.no,.flag.nor{background-position:0 -2768px;}  .flag.bv,.flag.bvt, .flag.nq,.flag.atn, .flag.sj,.flag.sjm{background-position:0 -2768px;}
.flag.np,.flag.npl{background-position:0 -2784px;}
.flag.nr,.flag.nru{background-position:0 -2800px;}
.flag.nz,.flag.nzl{background-position:0 -2816px;}
.flag.om,.flag.omn{background-position:0 -2832px;}
.flag.pa,.flag.pan{background-position:0 -2848px;}
.flag.pe,.flag.per{background-position:0 -2864px;}
.flag.pf,.flag.pyf{background-position:0 -2880px;}
.flag.pg,.flag.png{background-position:0 -2896px;}
.flag.ph,.flag.phl{background-position:0 -2912px;}
.flag.pk,.flag.pak{background-position:0 -2928px;}
.flag.pl,.flag.pol{background-position:0 -2944px;}
.flag.pr,.flag.pri{background-position:0 -2960px;}
.flag.ps,.flag.pse{background-position:0 -2976px;}
.flag.pt,.flag.prt{background-position:0 -2992px;}
.flag.pw,.flag.plw{background-position:0 -3008px;}
.flag.py,.flag.pry{background-position:0 -3024px;}
.flag.qa,.flag.qat{background-position:0 -3040px;}
.flag.re,.flag.reu{background-position:0 -3056px;}
.flag.ro,.flag.rou{background-position:0 -3072px;}
.flag.rs,.flag.srb{background-position:0 -3088px;}
.flag.ru,.flag.rus{background-position:0 -3104px;}
.flag.rw,.flag.rwa{background-position:0 -3120px;}
.flag.sa,.flag.sau{background-position:0 -3136px;}
.flag.sb,.flag.slb{background-position:0 -3152px;}
.flag.sc,.flag.syc{background-position:0 -3168px;}
.flag.sd,.flag.sdn{background-position:0 -3184px;}
.flag.se,.flag.swe{background-position:0 -3200px;}
.flag.sg,.flag.sgp{background-position:0 -3216px;}
.flag.si,.flag.svn{background-position:0 -3232px;}
.flag.sk,.flag.svk{background-position:0 -3248px;}
.flag.sl,.flag.sle{background-position:0 -3264px;}
.flag.sm,.flag.smr{background-position:0 -3280px;}
.flag.sn,.flag.sen{background-position:0 -3296px;}
.flag.so,.flag.som{background-position:0 -3312px;}
.flag.sr,.flag.sur{background-position:0 -3328px;}
.flag.st,.flag.stp{background-position:0 -3344px;}
.flag.sv,.flag.slv{background-position:0 -3360px;}
.flag.sy,.flag.syr{background-position:0 -3376px;}
.flag.sz,.flag.swz{background-position:0 -3392px;}
.flag.tc,.flag.tca{background-position:0 -3408px;}
.flag.td,.flag.tcd{background-position:0 -3424px;}
.flag.tg,.flag.tgo{background-position:0 -3440px;}
.flag.th,.flag.tha{background-position:0 -3456px;}
.flag.tj,.flag.tjk{background-position:0 -3472px;}
.flag.tl,.flag.tls{background-position:0 -3488px;}
.flag.tm,.flag.tkm{background-position:0 -3504px;}
.flag.tn,.flag.tun{background-position:0 -3520px;}
.flag.to,.flag.ton{background-position:0 -3536px;}
.flag.tr,.flag.tur{background-position:0 -3552px;}
.flag.tt,.flag.tto{background-position:0 -3568px;}
.flag.tv,.flag.tuv{background-position:0 -3584px;}
.flag.tw,.flag.twn{background-position:0 -3600px;}
.flag.tz,.flag.tza{background-position:0 -3616px;}
.flag.ua,.flag.ukr{background-position:0 -3632px;}
.flag.ug,.flag.uga{background-position:0 -3648px;}
.flag.us,.flag.usa{background-position:0 -3664px;}
.flag.uy,.flag.ury{background-position:0 -3680px;}
.flag.uz,.flag.uzb{background-position:0 -3696px;}
.flag.va,.flag.vat{background-position:0 -3712px;}
.flag.vc,.flag.vct{background-position:0 -3728px;}
.flag.ve,.flag.ven{background-position:0 -3744px;}
.flag.vg,.flag.vgb{background-position:0 -3760px;}
.flag.vi,.flag.vir{background-position:0 -3776px;}
.flag.vn,.flag.vnm{background-position:0 -3792px;}
.flag.vu,.flag.vut{background-position:0 -3808px;}
.flag.ws,.flag.wsm{background-position:0 -3824px;}
.flag.ye,.flag.yem{background-position:0 -3840px;}
.flag.za,.flag.zaf{background-position:0 -3856px;}
.flag.zm,.flag.zmb{background-position:0 -3872px;}
.flag.zw,.flag.zwe{background-position:0 -3888px;}
.flag.sx,.flag.sxm{background-position:0 -3904px;}
.flag.cw,.flag.cuw{background-position:0 -3920px;}
.flag.ss,.flag.ssd{background-position:0 -3936px;}


/* *************************************************************************************** */
/* RESPONSIVE */
/* *************************************************************************************** */
@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
	
/* .sprite {background-image:url(/images/2016/sprites@2x.png?v=10001);} */

}

@media screen and (min-width:1024px) and (max-width:1600px) { /* account name break */
	.header .top .account {padding:.5rem 1rem;}
}
@media screen and (min-width:1024px) and (max-width:1145px) { /* member count break */
	.header .top .online {display:none;}
	.header .top .account a img {width:22px;height:22px;}
	.header .top .account button {position:relative;top:2px;}
}

@media screen and (min-width:1024px){ /* large */
	.blog .article .comment p {padding:0 1rem;}
	.forums .thread-post .post-table {float:none;}
	.forums .thread-post .authorbox {width:250px;}
	.forums .thread-post .authorbox .author {width:250px;}
	span.grey-small {display:none !important;}
}

@media screen and (min-width:640px) and (max-width:1024px) { /* medium */
	html {}
	.header .top .logo {padding:.35rem;}
	.forum-tools a {font-size:.75rem;padding:.15rem .5rem;}
	.blog .article .comment p {padding:0 1rem;}
	.orbit .orbit-caption h1 {font-size:1.5rem;}
	.landing .mempack {height:auto !important;margin:0 0 2rem 0;}
	.landing table.listing .image {width:75px;}
	.landing table.listing .image .thumb {width:75px;height:75px;}
	.landing table.listing .image .thumb img.thumbnail {max-height:75px;}
	.landing table.listing .title {width:75%;}
	.forums .thread-post .authorbox {width:200px;}
	.forums .thread-post .authorbox .author {width:200px;}
	.forums .thread-post .authorbox .avatar {width:200px;}
	.forums .thread-post .authorbox .avatar img {width:200px;height:100px;}
	.forums .thread-post .authorbox .username {margin:0;}
	.forums .thread-post .authorbox .tagline {margin:0;padding:.25rem 0;}
	.forums .thread-post .post-table {float:none;}
	.forums .thread-post .post .bottom ul.menu li a {line-height:15px;}
	.forums .thread-post .blog-snippet {width:100%;}
	.forums .thread-post.vertview .authorbox .avatar {width:200px;}
	.forums .thread-post.vertview .authorbox .avatar img {width:200px;height:100px;}
	blockquote.twitter-tweet {max-width:100%;}
	.messenger .add-contact {width:80%;}
	.messenger .compose-message {width:100%;}
	.forums .thread-post.vertview .post .timestamp {height:auto;}
}

@media screen and (min-width:0) and (max-width:640px) { /* small */
	html {}
	.content .thread {border-bottom:1px solid #222;margin:0 0 1rem 0;padding:.5rem;}
	.content .thread a.title {height:auto;margin:0;}
	.content .instagram a img {margin:0 0 1rem 0 !important;}
	.forums .thread-post {height:auto !important;}
	.forums .thread-post .authorbox {float:left;width:100%;padding:.5rem;}
	.forums .thread-post .authorbox .author {width:100%;margin:0;}
	.forums .thread-post .authorbox .avatar {float:left;width:130px;max-width:130px;margin:0 1rem 0 0;}
	.forums .thread-post .authorbox .avatar img {width:130px;height:65px;}
	.forums .thread-post .authorbox .username {margin:0 0 .75rem 0;}
	.forums .thread-post .authorbox .userinfo {width:auto;min-width:auto;margin:0 1rem;overflow:auto;}
	.forums .thread-post .post {float:left;width:100%;}
	.forums .thread-post .blog-snippet {width:100%;}
	.forums .thread-post.vertview .authorbox {padding:1rem 0;}
	.forums .thread-post.vertview .authorbox .avatar {width:130px;max-width:130px;padding:0;margin:0 0 0 1rem;}
	.forums .thread-post.vertview .authorbox .avatar img {width:130px;height:65px;}
	.forums .thread-post.vertview .authorbox .info {padding:0;width:100%;min-width:auto;}
	.forums .thread-post.vertview .authorbox .info .username {margin:0 1rem 1rem 1rem;}
	.forums .thread-post.vertview .authorbox .info .userinfo {width:auto;min-width:auto;margin:0 1rem;overflow:auto;}
	.forums .thread-post.vertview .post {float:none;width:auto;}
	blockquote.twitter-tweet {max-width:100%;}
	.blog .article .comment p {padding:0;}
	.blog .article .comment img {display:inline-block;}
	.blog .article .comment .small-12 {text-align:center;}
	.members .media a.title {font-size:.75rem;}
	.orbit .orbit-caption {background:rgba(10, 10, 10, 0.5);}
	.orbit .orbit-caption h1 {font-size:1.5rem;}
	.landing .mempack {height:auto !important;margin:0 0 2rem 0;}
	.landing table.listing .image {width:50px;}
	.landing table.listing .image .thumb {width:50px;height:50px;}
	.landing table.listing .image .thumb img.thumbnail {max-height:50px;}
	.landing table.listing .title {width:80%;}
	.footer {text-align:center;}
	.footer .cols a.button {width:100px;margin:0 auto;float:none !important;}
	.archive .header, .archive .header .text-right {text-align:center !important;}
	.messenger .add-contact {width:30%;}
}
