@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local('MontserratAlternates-Regular'), url(http://fonts.gstatic.com/s/montserratalternates/v4/z2n1Sjxk9souK3HCtdHukgnkfjG14KscmNg0xC38TkM.ttf) format('truetype');
}
