@charset "Shift_JIS";

body {
	font-family:'メイリオ', Meiryo, Arial, "ＭＳ Ｐゴシック", sans-serif;
	text-align:center;
	margin:0 auto;
	padding:0;
	font-size:10px;
	color:#666;
}

#contentsArea h2, 
#contentsArea h3, 
#contentsArea h4, 
#contentsArea h5, 
#contentsArea p, 
#contentsArea ul, 
#contentsArea li, 
#contentsArea dl, 
#contentsArea dt, 
#contentsArea dd, 
#contentsArea a,
#contentsArea div,

#headerArea p, 
#headerArea ul, 
#headerArea li, 
#headerArea dl, 
#headerArea dt, 
#headerArea dd, 
#headerArea a,
#headerArea div,

#footerArea h2, 
#footerArea p, 
#footerArea ul, 
#footerArea li, 
#footerArea dl, 
#footerArea dt, 
#footerArea dd, 
#footerArea a,
#footerArea div {
	margin: 0;
	border: 0;
	padding: 0;
	text-indent: 0;
}

#contentsArea li,
#headerArea li,
#footerArea li {
	list-style-type:none;
}

#contentsArea img,
#headerArea img,
#footerArea img {
	border: 0;
	vertical-align: bottom;
}

/* link
--------------------------------------*/
#contentsArea a:link, 
#contentsArea a:visited,
#footerArea a:link, 
#footerArea a:visited{
	color: #666666;
	text-decoration: none;
	padding-bottom:1px;
}
#contentsArea a:hover, 
#contentsArea a:active,
#footerArea a:hover, 
#footerArea a:active{
	color: #666666;
	text-decoration: underline;
	padding-bottom:1px;
}

#headerArea a:link, 
#headerArea a:visited,
#side-area a:link,
#side-area a:visited{
	color: #666666;
	text-decoration: none;
	padding-bottom:1px;
}

#headerArea a:hover, 
#headerArea a:active,
#side-area a:hover, 
#side-area a:active{
	color: #666666;
	text-decoration: underline;
	padding-bottom:1px;
}

#side-area a:hover span, 
#side-area a:active span, 
#group-area .desse a:hover span, 
#group-area .desse a:active span{
	text-decoration: underline;
}

#side-area .side-list .voice a:link,
#side-area .side-list .voice a:visited {
	text-decoration: none;
}

#contentsArea .season-bnr a:hover,
#contentsArea .season-bnr a:active,
#contentsArea .ichioshiCate a:hover,
#contentsArea .ichioshiCate a:active,
#side-area .side-list .voice a:active,
#side-area .side-list .voice a:hover {
	text-decoration: none;
}

#contentsArea .season-bnr a:hover .bnrCopy,
#contentsArea .season-bnr a:active .bnrCopy,
#contentsArea .ichioshiCate a:hover .bnrCopy,
#contentsArea .ichioshiCate a:active .bnrCopy,
#contentsArea #helpful a:hover .bnrCopy,
#contentsArea #helpful a:active .bnrCop {
	text-decoration: underline;
}

/* MO透過バナー */
#contentsArea #pickup a:link img, 
#contentsArea #pickup a:visited img,
#contentsArea #push-area a:link img, 
#contentsArea #push-area a:visited img,
#contentsArea #season-area a:link img, 
#contentsArea #season-area a:visited img,
#contentsArea #review-area a:link img, 
#contentsArea #review-area a:visited img,
#contentsArea #recommend-area a:link img, 
#contentsArea #recommend-area a:visited img,
#contentsArea #stylelook a:link img, 
#contentsArea #stylelook a:visited img,
#contentsArea #dc .more-btn a:link img, 
#contentsArea #dc .more-btn a:visited img,
#contentsArea #dc #dc-slide-wrap a.bx-prev:link img,
#contentsArea #dc #dc-slide-wrap a.bx-prev:visited img,
#contentsArea #dc #dc-slide-wrap a.bx-next:link img,
#contentsArea #dc #dc-slide-wrap a.bx-next:visited img,
#contentsArea #original-brand a:hover img, 
#contentsArea #original-brand a:active img,
#contentsArea #otherSearchArea a:link img, 
#contentsArea #otherSearchArea a:visited img,
#side-area a:link img, 
#side-area a:visited img,
#footerArea a:link img, 
#footerArea a:visited img,
#contentsArea .historyBtn a:link img,
#contentsArea .historyBtn a:visited img,
#contentsArea .bnrArea a:link img,
#contentsArea .bnrArea a:visited img,
#contentsArea #days-area a:link img,
#contentsArea #days-area a:visited img{
	opacity: 1;
	-moz-opacity: 1; /* Firefox */
	filter: alpha(opacity=100); /* IE6/7 */
	-ms-filter: "alpha(opacity=100)"; /* IE8 */
}


#contentsArea #pickup a:hover img, 
#contentsArea #pickup a:active img,
#contentsArea #push-area a:hover img, 
#contentsArea #push-area a:active img,
#contentsArea #season-area a:hover img, 
#contentsArea #season-area a:active img,
#contentsArea #review-area a:hover img, 
#contentsArea #review-area a:active img,
#contentsArea #review-area a img.hover, 
#contentsArea #stylelook a:hover img, 
#contentsArea #stylelook a:active img,
#contentsArea #dc .more-btn a:hover img, 
#contentsArea #dc .more-btn a:active img,
#contentsArea #dc #dc-slide-wrap a.bx-prev:hover img,
#contentsArea #dc #dc-slide-wrap a.bx-prev:active img,
#contentsArea #dc #dc-slide-wrap a.bx-next:hover img,
#contentsArea #dc #dc-slide-wrap a.bx-next:active img,
#contentsArea #original-brand a:hover img, 
#contentsArea #original-brand a:active img,
#contentsArea #recommend-area a:hover img, 
#contentsArea #recommend-area a:active img,
#contentsArea #otherSearchArea a:hover img, 
#contentsArea #otherSearchArea a:active img,
#side-area a:hover img, 
#side-area a:active img,
#footerArea a:hover img, 
#footerArea a:active img,
#contentsArea .historyBtn a:active img,
#contentsArea .historyBtn a:hover img,
#contentsArea .bnrArea a:active img,
#contentsArea .bnrArea a:hover img,
#contentsArea #days-area a:active img,
#contentsArea #days-area a:hover img{
	opacity: 0.5;
	-moz-opacity: 0.5; /* Firefox */
	filter: alpha(opacity=50); /* IE6/7 */
	-ms-filter: "alpha(opacity=50)"; /* IE8 */
}


#side-area .more-btn a:hover img, 
#side-area .more-btn a:active img{
	opacity: 1;
	-moz-opacity: 1; /* Firefox */
	filter: alpha(opacity=100); /* IE6/7 */
	-ms-filter: "alpha(opacity=100)"; /* IE8 */
}
/* CSS Sprites
--------------------------------------*/
#headerArea #att .mainte,
#contentsArea #head-info li,
#contentsArea #cate-area .cate-list li,
#side-area #sideAd p,
#side-area .info li,
#side-area .media-copy,
#side-area .media-btn li,
#footerArea #service .serviceList li a,
#footer_gmt ul.footer-cnav-index li {
	background-image:url('http://dc.bellemaison.jp/index_img/icon.png');
	background-repeat: no-repeat;
}

#headerArea #att .mainte {
	background-position: 0 0;
}

#contentsArea #head-info li {
	background-position: 8px -12px;
}

#contentsArea #cate-area .cate-list li {
	background-position: 0 -36px;
}

#side-area .sideAd p,
#side-area .info li,
#side-area .media-copy,
#side-area .media-btn li {
	background-position: 0 -80px;
}

#footer_gmt ul.footer-cnav-index li {
	background-position: 0 -37px;

}

/*#footerArea #service .serviceList li a {
	padding: 0 0 0 10px;
	background-position: 0 -72px;

}*/
/* CSS Sprites end */


#contentsArea .rightend,
#side-area .rightend {
	margin-right: 0 !important;
}


/* clearfix */
.clfix:after {
  	content: "."; 
  	display: block; 
  	height: 0; 
  	clear: both; 
  	visibility: hidden;
}

.clfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clfix {
	height: 1%;
}
.clfix {
	display: block;
}
/* End hide from IE-mac */


/* contentsArea
====================================== */
#contentsArea {
	width: 980px;
	margin: 0 auto;
	text-align: left;
	position:relative;
}

#contentsArea .bnrCopy {
	display: block;
	margin: 3px 0 0 0;
	line-height: 1.5;
}

#contentsArea h2.ttl {
	background: url('http://dc.bellemaison.jp/index_img/bg_h2_line.jpg') repeat-x right 6px;
	margin-bottom: 17px;
}

#contentsArea .ttl-copy {
	padding: 0 12px;
	font-size: 10px;
	font-weight: normal;
	color: #999;
	background-color: #FFF;
}

#contentsArea #recommend-area:after,
#contentsArea #recommend-area .iframe02Header:after,
#contentsArea #recommend-area .iframe03Header:after,
#contentsArea #recommend-area .iframe02 .iframe02Box01:after,
#contentsArea #recommend-area .iframe03 .iframe03Box01:after,
#footerArea #service .serviceWrap:after,
#footer_gmt #footer-bnav:after {
    content:".";
    display: block;
    height:0px;
    clear:both;
    line-height:0; 
    visibility:hidden;
}

.note {
	width: 980px;
	margin: 0 auto 8px auto;
	color: #907c6c;
	/*color: #5e3711;*/
	font-size: 10px;
	text-align: right;
}

/* head-info
====================================== */
#contentsArea #head-info {
	width: 980px;
	margin: 8px 0 12px 0;
	position: relative;
	min-height: 24px;
}

#contentsArea h1.h1-txt {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	color: #907c6c;
	/*color: #5e3711;*/
	font-size: 10px;
	font-weight: normal;
	width: 200px;
}
#contentsArea #head-info .info-box {
	overflow: hidden;
	margin: 0 0 8px 0;
}
#contentsArea #head-info .info-box .icon {
	float: left;
	margin-right: 10px;
}

#contentsArea #head-info .info-box .ul{
	float: left;
}

#contentsArea #head-info .info-box li {
	float: left;
	margin-right: 20px;
	padding: 0 8px 0 20px;
	line-height: 1.4;
	border-left: #CCC 1px dotted;
	font-size: 12px;
	color: #F00;
}

#contentsArea #head-info li:first-child {
	margin-right: 0;
	border-left: none;
}

#contentsArea #head-info li a {
	font-size: 12px;
	color: #F00;
}


/* cate-wrap
====================================== */
#contentsWrap #cate-wrap {
	width: 980px;
	margin-bottom: 40px;
}

#contentsWrap #cate-area {
	float: left;
	width: 600px;
	height: 422px;
	position: relative;
	overflow: hidden;
}

#cate-wrap .cate-list {
	float: left;
	width: 175px;
	margin-right: 20px;
	line-height: 1.5;
}

#contentsWrap #cate-area .more-btn {
	position: absolute;
	left:0;
	bottom: 0;
}



/*150204 罫線変更*/
#cate-wrap .cate-ttl {
	/*border-bottom: #BEB2A0 1px dotted;*/
	border-bottom: #99b270 1px solid;
	margin-bottom: 6px;
	padding-bottom: 7px;
}

#cate-wrap .cate-list.last {
	width: 170px;
	margin-right: 40px;
}


#cate-wrap .cate-list ul {
	margin-bottom: 13px;
}

#cate-wrap .cate-list ul.center {
	margin-bottom: 18px;
}

#cate-wrap .cate-list ul.btm {
	margin-bottom: 11px;
}
#cate-wrap .cate-list ul.fashion {
	margin-bottom: 31px;
}
#cate-wrap .cate-list ul.interior {
	margin-bottom: 22px;
}

#cate-wrap .cate-list ul.mama {
	margin-bottom: 47px;
}

#cate-wrap .cate-list ul.gift {
	margin-bottom: 49px;
}

#cate-wrap .cate-list li {
	padding: 0 0 8px 7px;
	font-size: 12px;
}

#contentsWrap #pickup {
	float: right;
	width: 380px;
	overflow:hidden;
}

/*#pickup .pick-img380 li {
	margin-bottom: 5px;
}*/

#pickup .pick-img380 li + li {
	margin-top: 15px;
}
#pickup .pick-img185 li{
	float:left;
	/*margin-bottom: 10px;*/
	margin-bottom: 15px;
}

#pickup .pick-img185 li.last{
	margin-left: 10px;
}


/* contents-inner
====================================== */
#contentsWrap #contents-inner {
	width: 980px;
	margin-bottom: 55px;
}

/* mainaArea
------------------------------- */
#contentsWrap #main-area {
	width: 760px;
	float: right;
	position: relative;
}


/*---- push-area ----*/
#contentsWrap #push-area {
	clear: both;
	position: relative;
	overflow:hidden;
	margin-bottom: 40px;
}

#contentsArea #push-area #push-slide {
	width: 760px;
	height: 180px;
	overflow: hidden;
}

.border_radius {
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
}

#contentsArea #push-area #push-slide-wrap .bx-pager a {
	display: inline;
	float: left;
	width: 126px;
	padding: 0;
	border-top: #CFC7BC 1px solid;
	border-bottom: #CFC7BC 1px solid;
	border-left: #CFC7BC 1px solid;
}
#contentsArea #push-area #push-slide-wrap .bx-pager a.last {
	width: 123px;
	border-right: #CFC7BC 1px solid;
}

#contentsArea #push-area #push-slide-wrap .pager a:link img,
#contentsArea #push-area #push-slide-wrap .pager a:visited img,
#contentsArea #push-area #push-slide-wrap .bx-pager a:link img,
#contentsArea #push-area #push-slide-wrap .bx-pager a:visited img {
	opacity: 1;
	-moz-opacity: 1; /* Firefox */
	filter: alpha(opacity=100); /* IE6/7 */
	-ms-filter: "alpha(opacity=100)"; /* IE8 */
}

#contentsArea #push-area #push-slide-wrap .pager a:hover img,
#contentsArea #push-area #push-slide-wrap .pager a:active img,
#contentsArea #push-area #push-slide-wrap .bx-pager a:hover img,
#contentsArea #push-area #push-slide-wrap .bx-pager a:active img,
#contentsArea #push-area #push-slide-wrap .pager-active img {
	opacity: 0.5 !important;
	-moz-opacity: 0.5 !important; /* Firefox */
	filter: alpha(opacity=50) !important; /* IE6/7 */
	-ms-filter: "alpha(opacity=50)" !important; /* IE8 */
}

#contentsArea #push-area #push-slide-wrap .bx-wrapper {
	position: relative;
}

#contentsArea #push-area #push-slide-wrap .bx-prev {
	position: absolute;
	top: 74px;
	left: 0;
	z-index: 30;
}

#contentsArea #push-area #push-slide-wrap .bx-next {
	position: absolute;
	top: 74px;
	left: 736px;
	z-index: 30;
}


/*---- season-area ----*/
#contentsWrap #season-area {
	clear: both;
	position: relative;
	overflow:hidden;
	margin-bottom: 43px;
}

#season-bnr {
	float: left;
	width: 580px;
}

#season-bnr li {
	float: left;
	margin: 0 15px 15px 0;
	width:275px;
}

#season-bnr .bnr-copy {
	display: block;
	margin: -18px 0 0 10px;
	height: 18px;
}

#season-bnr span.mc {
	padding-left: 70px;
	background: url('../index_img/logo_mc.png') no-repeat left top;
}

#season-side {
	float: right;
	width: 170px;
}

#season-side .mb15 .side-bnr {
	margin-bottom: 15px;
}
#season-side .mb10 .side-bnr {
	margin-bottom: 10px;
}


/* ranking */
#contentsArea .ranking {
	clear: both;
	 width:100%;
}
#contentsArea #ranking-wrap {
	padding-bottom: 8px;
	background: url('../index_img/ranking_bg.gif') no-repeat left bottom;
}

.ranking .item-detail {
	margin: 0 auto;
	width: 168px;
}

#contentsArea #ranking-item {
	height: auto;
	overflow: hidden;
}

#contentsArea .ranking .item-detail dt {
	margin-bottom: 9px;
}

#contentsArea .ranking .item-detail dd {
	font-size: 12px;
	margin: 0 10px;
}
#contentsArea .ranking .ranking-item-img {
	margin: 0 24px;
	width: 100px;
}
#contentsArea .ranking .ranking-item-img img {
	border: 1px solid #EEE;
	text-align:center;
}
.ranking .item-detail .ranking-item-name {
	display: block;
	margin-top: 8px;
	line-height: 1.3;
}
.ranking .item-detail a:link,
.ranking .item-detail a:visited,
.ranking .item-detail a:link .ranking-item-name,
.ranking .item-detail a:visited .ranking-item-name {
	text-decoration: none !important;
}
.ranking .item-detail a:hover,
.ranking .item-detail a:active,
.ranking .item-detail a:hover .ranking-item-name,
.ranking .item-detail a:active .ranking-item-name {
	text-decoration: underline !important;
}

#contentsArea .ranking .item-detail a {
	display: block;
	color: #0066CC;
}

#season-side .ranking-btn {
	margin-top: 15px;
}

#season-side .ranking-btn li {
	margin-top: 6px;
	position: relative;
	height:35px;
}

#season-side .ranking-btn li img.ninki_ranking {
	position: absolute;
	top: 0;
	left: 0;
}
#contentsArea .ranking-btn li span.ranking-txt {
	color: #ffffff;
}

#contentsArea .ranking a:link, 
#contentsArea .ranking a:visited{
	text-decoration: underline;
}

#contentsArea .ranking a:hover, 
#contentsArea .ranking a:active{
	text-decoration: none;
}

#contentsArea .ranking #ranking-item {
	width: 168px;
	border-left: 1px solid #C3B49B;
	border-right: 1px solid #C3B49B;
	/*height:209px;*//*可変*/	
}

	#contentsArea .ranking #ranking-item .bx-wrapper {
		position: relative;
	}
	
	#contentsArea .ranking #ranking-item .bx-prev {
		position: absolute;
		top: 73px;
		left: 7px;
		z-index: 30;
	}
	
	#contentsArea .ranking #ranking-item .bx-next {
		position: absolute;
		top: 73px;
		left: 140px;
		z-index: 30;
	}

	
/*---- review-area ----*/
#contentsWrap #review-area {
	clear: both;
	position: relative;
	overflow:hidden;
	margin-bottom: 45px;
}

#review-area .review-item {
	float: left;
	width: 233px;
	margin-right: 15px;
	padding-right: 14px;
	background: url('../index_img/review_bg.png') no-repeat left top;
	border-right: #D8D8D8 1px dotted;
	cursor: pointer;
}

#review-area .review-item.rightend {
	padding-right: 0;
	border-right: none;
}

#review-area .item-detail {
	height: 225px;
	padding-top: 25px;
	text-align: center;
}

#review-area .item-detail img {
	border: #FFF 1px solid;
	background-color: #FFF;
}
#review-area .bg-white {
	margin: 0 auto;
	display: block;
	width: 110px;
	height: 110px;
	background-color: #FFF;
}
#review-area .bg-white img {
	cursor: pointer;
}

#review-area .item-detail .item-name,
#review-area .item-detail .price {
	display: block;
	line-height: 1.5;
}

#review-area .item-detail .item-name {
	margin-top: 3px;
	padding:0 10px;
}

#review-area .item-detail a {
	color: #0066CC;
}

#review-area .star {
	float: left;
	width: 80px;
	padding-left: 5px;
}
#review-area .star li {
	float: left;
}

#review-area .review-rate {
	padding-left: 95px;
}

#review-area .review-date {
	margin: 8px 0 8px 5px;
}

#review-area .review-voice {
	padding: 0 5px;
	font-size: 11px;
	line-height: 1.9;
}
#review-area .review-voice .copy {
	color: #725422;
	font-weight: bold;
}
#review-area .review-voice .name {
	font-size: 12px;
	text-align: right;
}
#review-area #review-inner {
	margin-bottom: 15px;
}


/*---- stylelook dc area ----*/
#contentsWrap #sl-dc-wrap {
	clear: both;
	position: relative;
	overflow:hidden;
	padding-bottom:50px;
}

#sl-dc-wrap #sl-dc-inner {
	padding-bottom: 10px;
	background: url('../index_img/sl_dc_line03.gif') no-repeat left bottom;
}
#sl-dc-wrap #sl-dc-inner-side{
	padding: 0 20px;
	background: url('../index_img/sl_dc_line02.gif') repeat-y left top;
}

#sl-dc-wrap #stylelook {
	margin-bottom: 25px;
}

#sl-dc-wrap #stylelook dt {
	margin: 0 0 12px 225px;
}

#sl-dc-wrap #stylelook dd.h {
	float: left;
	position: relative;
	width: 360px;
	height: 230px;
}

#sl-dc-wrap #stylelook dd.h .s02 {
	position: absolute;
	top: 0;
	left: 1px;
}

#sl-dc-wrap #stylelook dd.h .s03 {
	position: absolute;
	top: 116px;
	left: 1px;
}

#sl-dc-wrap #stylelook dd.h .s04 {
	position: absolute;
	top: 0;
	left: 220px;
}

#sl-dc-wrap #stylelook li {
	float: left;
	width: 240px;
	margin-top: 15px;
}

/* dc */

 
 
#sl-dc-wrap #dc #dc-slide-wrap .bx-window{
	overflow:visible !important;
}
 
       
#sl-dc-wrap #dc {
	border-top:1px solid #CFC7BC;
	position: relative;
}
#sl-dc-wrap #dc .dc-ttl {
	position: absolute;
	top: 20px;
	left: 0;
	line-height: 22px;
}

#sl-dc-wrap #dc .dc-ttl img {
	margin: 0 0 0 225px;
	vertical-align: middle;
}
#sl-dc-wrap #dc #dc-slide-wrap {
    width: 615px;
	margin: 0 auto;
	/*padding: 0 7px 50px 7px;*/
	padding: 0 7px 30px 7px;
}

#sl-dc-wrap #dc #dc-slide {
	position: relative;
	height: 325px;
	text-align: center;
	/*overflow: hidden;*/
	width:202px;
}

#sl-dc-wrap #dc #dc-slide li {
	position: relative;
	padding: 60px 0 0 0;
	text-align: center;
}

	#contentsArea #dc #dc-slide-wrap .bx-wrapper {
		position: relative;
	}
	
	
	#contentsArea #dc #dc-slide-wrap #slidebgleft{
		position:absolute;
		height:100%;
		width:5px;
		z-index:29;
		top:0;
		left:-20px;
		background: url('../index_img/sl_dc_line02.gif') repeat-y left top #ffffff;
	}
	
	#contentsArea #dc #dc-slide-wrap #slidebgleftIe{
		position:absolute;
		height:100%;
		width:77px;
		z-index:29;
		top:0;
		left:-70px;
		background:#ffffff;
	}
	
	#contentsArea #dc #dc-slide-wrap #slidebgright{
		position:absolute;
		height:100%;
		width:5px;
		z-index:29;
		top:0;
		right:-20px;
		background: url('../index_img/sl_dc_line02.gif') repeat-y right top #ffffff;
	}
	#contentsArea #dc #dc-slide-wrap #slidebgrightIe{
		position:absolute;
		height:100%;
		width:84px;
		background:#ffffff;
		z-index:29;
		top:0;
		right:-80px;
	}
	
	#contentsArea #dc #dc-slide-wrap .bx-prev {
		position: absolute;
		top: 159px;
		left: -48px;
		z-index: 30;
	}
	
	#contentsArea #dc #dc-slide-wrap .bx-next {
		position: absolute;
		top: 159px;
		left: 636px;
		z-index: 30;
	}
	

	#sl-dc-wrap #dc #dc-slide li .p {
		display: none;
		position: absolute;
		top: -40px;
		left: -28px;
		z-index: 50;
		
		/*box-shadow:rgba(92, 92, 92, 0.8) 0px 0px 15px 0px;
		-webkit-box-shadow:rgba(92, 92, 92, 0.8) 0px 0px 15px 0px;
		-moz-box-shadow:rgba(92, 92, 92, 0.8) 0px 0px 10px 0px;*/
	}
	

	.ie8 #sl-dc-wrap #dc #dc-slide li .p,
	.ie7 #sl-dc-wrap #dc #dc-slide li .p {
		/*filter: progid:DXImageTransform.Microsoft.Shadow(color=#666666, direction=0, strength=5, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#666666, direction=90, strength=5, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#666666, direction=180, strength=5, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#666666, direction=270, strength=5, enabled=true);*/
	}



#dc .dc-pc {
	position: absolute;
	top: 310px;
	left: 240px;
	
}

*+html #dc .dc-pc {
	top: 310px;
}

/* ipad用 */
#dc .dc-ipad {
	position: relative;
	width: 605px;
	height: 101px;
	margin: 0  auto;
	background: url('../index_img/dc_ipad_bg.jpg') no-repeat left top;
}

#dc .dc-ipad .ipad-txt {
	position: absolute;
	left: 120px;
	top: 23px
}

#dc .dc-ipad .appbtn {
	position: absolute;
	left: 450px;
	top: 27px
}

/* recommend-area
--------------------------------------*/
#contentsArea #recommend-area {
	clear: both;
	width: 758px;
	/*margin-top: 20px;*/
	padding: 19px 0 0 0;
	background-color: #EEF2F5;
	border: #F0F1F3 1px solid;
	zoom:1;
}

#contentsArea #recommend-area .iframe03 {
	padding-top: 20px;
	border-top: #c5ccce 1px solid;
}

#contentsArea #recommend-area .iframe02Header,
#contentsArea #recommend-area .iframe03Header {
	margin: 0 16px 20px 20px;
	padding: 0;
	zoom:1;
}

#contentsArea #recommend-area .iframe02Header h3{
	padding: 3px 2px 0 0;
	float: left;
}
#contentsArea #recommend-area .iframe03Header h3{
	padding: 3px 7px 0 0;
	float: left;
}
*+html #contentsArea #recommend-area .iframe02Header h3 {
	margin-top: -5px;
	padding: 0 2px 0 0;
	height: 14px;
}
*+html #contentsArea #recommend-area .iframe02Header h3 img {
	vertical-align: middle;
}

#contentsArea #recommend-area .iframe02 .txt, 
#contentsArea #recommend-area .iframe03 .txt{
	padding-top: 3px;
	float: left;
	color: #839199;
	/*color: #6e7f88;*/
}
#contentsArea #recommend-area .iframe02 .checkbtn {
	float: right;
}

#contentsArea #recommend-area .iframe02 .checkbtn span {
	padding: 0 10px 0 0;
}

#contentsArea #recommend-area .iframe02 .checkbtn span img {
	vertical-align: top;
}


#contentsArea #recommend-area .iframe02 .lineup .item,
#contentsArea #recommend-area .iframe03 .lineup .item {
    padding: 0 0 10px 39px;
    width: 100px;
	float:left;
}

#contentsArea #recommend-area .iframe02 .lineup .item img, 
#contentsArea #recommend-area .iframe03 .lineup .item img{
	margin:0 0 4px;
}

#contentsArea .iframe02 .lineup .item p.name,
#contentsArea .iframe03 .lineup .item p.name{
	margin:0 0 3px 0;
	line-height: 1.3;
	width:100px;
}

#contentsArea .iframe02 .lineup .item p.name a,
#contentsArea .iframe03 .lineup .item p.name a{
	color: #0066CC;
}

#contentsArea .iframe02 .lineup .item p.name a:link, 
#contentsArea .iframe02 .lineup .item p.name a:visited,
#contentsArea .iframe03 .lineup .item p.name a:link, 
#contentsArea .iframe03 .lineup .item p.name a:visited{
	text-decoration: underline;
}
#contentsArea .iframe02 .lineup .item p.name a:hover, 
#contentsArea .iframe02 .lineup .item p.name a:active,
#contentsArea .iframe03 .lineup .item p.name a:hover, 
#contentsArea .iframe03 .lineup .item p.name a:active{
	text-decoration: none;
}


#contentsArea #recommend-area .iframe03Header h2 {
    padding: 10px 22px 0 0;
}

#contentsArea #recommend-area .iframe03 .iframe03Box01 {
	clear: both;
    margin: 0;
    padding: 0 0 20px;
	zoom:1;
}

#contentsArea #recommend-area .iframe02 .iframe02Box01{
	clear: both;
    margin: 0;
    padding: 0 0 10px;
	zoom:1;
}


#contentsArea #recommend-area #bottomline{
	text-align: center;
	margin: 0 auto;
	width: 702px;
}

#contentsArea #recommend-area #bottomline img{
	display: none;
	text-align: center;
	width: 702px;
	margin: 0 auto;
}


/* side-area
------------------------------- */
#contentsWrap #side-area {
	float: left;
	width: 180px;
}

#contentsWrap #side-area .side-ttl {
	margin-bottom: 10px;
}

#side-area #sale {
	margin-bottom: 20px;
	padding-bottom: 10px;
	background: #FFFFFF url('../index_img/left/sale_bg.gif') no-repeat left bottom;
	text-align: center;
}

#side-area #sale h2{
	height:36px;
	margin:0;
	padding:0;
}
#side-area #sale p {
	background-color: #F4CB3D;
}

#side-area #sale p.sale_bnr2{
	text-align:center;
	margin:0;
	padding:0;
}

#side-area #sale p.sale_bnr2 + p{
	padding:10px 0 0 0;
}

/*#side-area #sale p a img {
	display: block;
	margin: 0 auto;
	cursor: pointer;
}*/
#side-area #sale p span {
	display: block;
	margin: 0 auto;
	width: 160px;
	height: 140px;
	background-color: #FFFFFF;
}

#side-area #sale p img{
	vertical-align:top;
}

#side-area #sale p.sale_bnr2 a{
	margin:0;
	padding:0;
}
#side-area #sale p.sale_bnr2 span {
	display: block;
	margin: 0 auto;
	width: 160px;
	height: 65px;
	background-color: #FFFFFF;
}


#side-area #sale .more-btn {
	padding-top: 8px;
}

#side-area .side-box {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: #DBDBDB 1px solid;
}

#side-area .net,
#side-area .smart ul {
	position: relative;
}

#side-area .update {
	display: block;
	position: absolute;
	color: #CC0000;
	top: 26px;
	left: 38px;
}

#side-area .campaign li,
#side-area .side-bnr li {
	margin-bottom: 10px;
}

#side-area .side-bnr {
	width: 170px;
	margin: 0 auto;
}

#side-area .sideAd2{
	margin-left:5px;
}
#side-area .sideAd2 span{
	display:block;
	padding:3px 0 0 0;
}


#side-area .otoku li {
	float: left;
}

#side-area .info li {
	margin-bottom: 8px;
	padding-left: 8px;
	font-size: 12px;
	line-height: 1.5;
}
#side-area .info li.red a{
	color: #cc0000;
}
#side-area .info-btn {
	text-align: right;
}

#side-area .cm {
	border-bottom: #DADADA 1px dotted;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#side-area .media-img {
	float: left;
	display: block;
	width: 60px;
	padding: 0 8px 0 0;
}
#side-area .media-copy {
	float: left;
	display: block;
	width: 100px;
	padding-left: 6px;
	line-height: 1.4;
}
#side-area .cm .media-copy {
	margin-top: 20px;
	font-size: 12px;
}

#side-area .media-btn {
	display: table;
	margin: 7px 0 0 68px;
	padding-top: 7px;
	border-top: #DADADA 1px dotted;
}
#side-area .media-btn li {
	display: table-cell;
	width: 54px;
	padding-left: 7px;
}

#side-area .side-list li a {
	display: table-cell;
	width: 180px;
	height: 50px;
	border-bottom: #DBDBDB 1px solid;
	vertical-align:middle;
}
#side-area .side-list li:first-child a {
	height: 30px;
	vertical-align:top;
}
#side-area .side-list li.voice a {
	height: 83px;
}
#side-area .side-list li.voice span {
	display: block;
	margin-left: 30px;
}

#side-area #sns-area {
	margin-top: 20px;
}
#side-area .sns-btn {
	width: 167px;
	margin: 0 auto;
}
#side-area .sns-btn li {
	float: left;
	margin-right: 5px;
}



/* contents-inner2
====================================== */
#contentsWrap #contents-inner2 {
	width: 980px;
}

/*---- original-brand ----*/
#original-brand .brand-copy,
#original-brand .brand {
	font-size: 12px;
	line-height: 1.5;
}
#original-brand .brand-wrap {
	float: left;
	width: 317px;
	height: 380px;
	margin-left: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}
#original-brand .brand-wrap.left-side {
	width: 316px;
	margin-left: 0;
}

#original-brand .brand-wrap.col2 {
	float: left;
	width: 482px;
	height: 330px;
	margin-left: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}

#original-brand .brand-wrap.left-side.col2 {
	width: 483px;
	margin-left: 0;
}

#original-brand .brand-wrap.col3 {
	float: left;
	width: 317px;
	height: 340px;
	margin-left: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}
#original-brand .brand-wrap.left-side.col3 {
	margin-left: 0;
}
#original-brand .brand-wrap.right-side.col3 {
	margin-left: 14px;
}
#original-brand .brand-ttl{
	float: left;
	width: 316px;
	height: 380px;
	margin-left: 0;
	margin-bottom: 15px;
	background: #E4DCCF;
	border-radius: 5px;
}


#original-brand .brand-copy {
	margin: 10px 0 33px 0;
	/*margin: 20px 0 0 0;*/
	text-align: center;
	line-height: 210%;
	color: #666666;
}

#original-brand .brand {
	display: table;
	width: 315px;
	/*padding: 10px 7px;*/
	border-bottom: #E3E6EB 1px solid;
	border-left: #E3E6EB 1px solid;
	border-right: #E3E6EB 1px solid;
	height:89px;
	border-radius: 0px 0px 5px 5px;
}

#original-brand .left-side .brand{
	width: 314px;
}


#original-brand .brand-wrap.col2 .brand {
	width: 480px;
	/*padding: 10px 7px;*/
	height:69px;
}

#original-brand .brand-wrap.col2.left-side .brand{
	width: 481px;
}

#original-brand .brand-wrap.col3 .brand {
	width: 315px;
	/*padding: 10px 7px;*/
	height:79px;
}

#original-brand .brand-wrap.col3.left-side .brand{
	width: 315px;
}
#original-brand .brand.sn{
	background: url('../index_img/brand_sn_bg.jpg') no-repeat 195px center;
}
#original-brand .brand.benebis{
	background: url('../index_img/brand_benebis_bg.jpg') no-repeat 185px center;
}
#original-brand .brand.minilabo{
	background: url('../index_img/brand_minilabo_bg.jpg') no-repeat 222px center;
}

#original-brand .brand.lgo{
	background: url('../index_img/brand_lgo_bg.jpg') no-repeat 256px center;
}

#original-brand .brand.gita{
	background: url('../index_img/brand_gita_bg.jpg') no-repeat 241px center;
}

#original-brand .brand.hietori{
	background: url('../index_img/brand_hietori_bg.jpg') no-repeat 244px center;
}

#original-brand .brand-wrap.col2 .brand.daysw {
	background: url('../index_img/brand_days_w_bg_160727.jpg') no-repeat 327px center;
}
#original-brand .brand-wrap.col2 .brand.daysh {
	background: url('../index_img/brand_days_h_bg_160727.jpg') no-repeat 370px center;
}

#original-brand .brand-wrap.col3 .brand.sn{
	background: url('../index_img/brand_sn_bg_161116.jpg') no-repeat 208px center;
}

#original-brand .brand-wrap.col3 .brand.kcarat{
	background: url('../index_img/brand_kcarat_bg_161116.jpg') no-repeat 225px center;
}

#original-brand .brand-wrap.col3 .brand.benebis{
	background: url('../index_img/brand_benebis_bg_160303.jpg') no-repeat 201px center;
}
#original-brand .brand-wrap.col3 .brand.minilabo{
	background: url('../index_img/brand_minilabo_bg_160303.jpg') no-repeat 227px center;
}

#original-brand .brand-wrap.col3 .brand.hietori{
	background: url('../index_img/brand_hietori_bg_160303.jpg') no-repeat 244px center;
}
#original-brand .brand-wrap.col3 .brand.gita{
	background: url('../index_img/brand_gita_bg_160303.jpg') no-repeat 247px center;
}



#original-brand .brand p {
	display: table-cell;
	/*layout-grid-line: 89px;*/
	*margin-top:20px;
	vertical-align: middle;
	text-align: left;
	font-size: 14px;
}


#original-brand .brand.sn p{
	padding:0 0 0 46px;
}
#original-brand .brand.benebis p{
	padding:0 0 0 50px;
}
#original-brand .brand.minilabo p{
	padding:0 0 0 34px;
}
#original-brand .brand.lgo p{
	padding:0 0 0 17px;
}
#original-brand .brand.gita p{
	padding:0 0 0 20px;
}
#original-brand .brand.hietori p{
	padding:0 0 0 32px;
}

#original-brand .brand-wrap.col2 .brand.daysw p{
	padding:0 0 0 107px;
}
#original-brand .brand-wrap.col2 .brand.daysh p{
	padding:0 0 0 69px;
}
#original-brand .brand-wrap.col3 .brand.sn p{
	padding:0 0 0 60px;
}
#original-brand .brand-wrap.col3 .brand.kcarat p{
	padding:0 0 0 51px;
}
#original-brand .brand-wrap.col3 .brand.benebis p{
	padding:0 0 0 66px;
}
#original-brand .brand-wrap.col3 .brand.minilabo p{
	padding:0 0 0 43px;
}
#original-brand .brand-wrap.col3 .brand.gita p{
	padding:0 0 0 36px;
}
#original-brand .brand-wrap.col3 .brand.hietori p{
	padding:0 0 0 28px;
}

#original-brand .more-btn {
	clear: both;
	overflow: hidden;
	margin: 0 0 27px 0;
} 

#original-brand .more-btn li {
	float: left;
	padding: 0 15px 0 0;
}
#original-brand .more-btn li.rightend {
	padding: 0;
}
/*helpful*/
#contentsWrap #helpful {
	margin: 13px 0 0 0;
}

#helpful h3 {
	margin-bottom: 10px;
}

#helpful li {
	float: left;
	/*margin-right: 20px;*/
	/*width: 230px;*/
	width: 310px;
	margin-right: 25px;
}

#helpful .bnr-txt {
	display: block;
	/*width: 230px;*/
	width: 310px;
	margin-top: 3px;
}

/*group-area*/
#contentsWrap #group-area {
	margin-top: 45px;
	padding-top: 20px;
	border-top: #DCDCDC 1px solid;
}

#group-area .community {
	margin-top: 20px;
}

#group-area p,
#group-area li,
#group-area .community .desse dt,
#group-area .community .desse dd,
#group-area .community .desse span {
	float: left;
}

#group-area li {
	margin-left: 10px;
}

#group-area .community .desse {
	width: 552px;
	height: 78px;
	border: #F99FA3 1px solid;
	overflow: hidden;
}

#group-area .community .desse dd {
	padding: 9px 0 0 14px;
}
#group-area .community .desse a {
	display: block;
}
#group-area .community .desse .desse-img {
	display: block;
	float: left;
	width: 65px;
}
#group-area .community .desse .desse-copy {
	display: block;
	float: left;
	/*width: 94px;*/
	width: 102px;
}



/* otherSearchArea
====================================== */
#otherSearchArea {
	clear: both;
	margin: 50px 0 40px 0;
}


#otherSearchArea * {
	margin: 0;
	border: 0;
	padding: 0;
	text-indent: 0;
}


#otherSearchArea img {
	border: 0;
	vertical-align: top;
}


#otherSearchArea li {
	list-style-type: none;
}


#otherSearchBox {
	width: 100%;
	margin-left: 260px;
}

#otherSearchBox .otherSearchTtl {
	width: 300px;
	float: left;
}

#otherSearchBox .otherSearchList {
	width: 375px;
	float: left;
}

#otherSearchBox .otherSearchList li {
	float: left;
}

#otherSearchBox .otherSearchClose {
	width: 25px;
	float: left;
	cursor: pointer;
}

#otherSearchBox .search {
	vertical-align: middle !important;
	clear: both;
	position: relative;
	background-color: #AA9675;
	text-align: left;
}

#text2 {
	margin: 0;
}

#otherSearchBox .searchbtn {
	margin: 0;
}

/* #otherSearchBox .textclear {
	position: absolute;
	top: 10px;
	left: 350px;
	cursor: pointer;
} */

/* footerArea
====================================== */
#footerArea {
	clear: both;
	padding: 29px 0 0 0;
	background-color: #F4F3EF;
	text-align: left;
}

#footerArea #footerInner {
	margin: 0 auto;
	width: 980px;
}


#footerArea #service .serviceWrap {
	margin: 22px 0 0 25px;
}

#footerArea #service h2 {
	border-bottom: 1px solid #C3B49B;
	height: 25px;
}

#footerArea #service .serviceList {
	margin-right: 20px;
	width: 210px;
	float: left;
}

#footerArea #service .serviceList dt {
	border-bottom: 1px solid #C3B49B;
	height: 37px;
}

#footerArea #service .serviceList dd {
	padding: 12px 6px 0 6px;
}

#footerArea #service .serviceList dd li {
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 1.6;
}

#footerArea #service .serviceList dd li span {
	color: #999999;
	font-size: 10px;
}

#footerArea p.totop {
	clear:both;
	width: 950px;
	padding: 5px 0;
	color: #999999;
	text-align: right;
}

#footerArea p.totop a {
	color: #999999;
}

#footerArea .footertxt{
	margin:-15px 10px 10px 35px;
	color: #999999;
}

/* prCont
--------------------------------------*/
#footerArea #prCont {
	clear: both;
	margin: 30px 0 0 0;
	padding-bottom: 10px;
	/*overflow: hidden;*/
	clear:both;
}
#prCont h3{
	margin: 0 0 5px;
	padding: 0;
	text-align: center;
	border: 1px solid #C3B49B;
}
#prCont div{
	float: left;
	padding: 10px 10px 20px 5px;
}

/* footer_gmt
--------------------------------------*/
#footerArea #footer_gmt{
	margin:0 auto;
	padding:10px 0 0 0;
	width: 950px;
	border-top: 1px solid #573F23;
}

#footer_gmt ul.footer-cnav-index {
	clear:both;
	padding:0 0 10px 0;
	font-size:12px;
	margin:0 auto;
	width:950px;
	text-align:right;
}

#footer_gmt ul.footer-cnav-index li{
	padding:0 30px 0 10px;
	display:inline;
}

#footer_gmt ul.footer-cnav-index .last{
	padding-right:0;
}
#footer_gmt #footer-bnav{
	clear:both;
	border-top: 1px solid #573F23;
	padding:10px 0 10px 0;
	zoom:1;
}
#footer_gmt #footer-bnav .footer-bnav-l {
	padding: 0 0 25px 25px;
	width:380px;
	float:left;
}
#footer_gmt #footer-bnav .footer-bnav-r {
	float:right;
	width:540px;
	text-align:right;
}
#footer_gmt #footer-bnav .footer-bnav-r ul{
	margin:3px 0 10px 0;
	font-size:10px;
}
#footer_gmt #footer-bnav .footer-bnav-r ul li{
	float:right;
	padding:0 10px;
	border-left: 1px solid #666666;
	line-height:1.4;
	display:inline;
}
#footer_gmt #footer-bnav .footer-bnav-r ul li.last{
	float:right;
	padding:0 10px 0 10px;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	line-height:1.4;
	margin:0 5px 0 0;
	display:inline;
}
#footer_gmt #footer-bnav .footer-bnav-r img{
	margin:10px 2px 0 0;
}




#footerMenu {
	position: relative;
}
	
	#footerMenu img {
		position: absolute;
		top: 0;
		right: 0;
	}
	

/* footer
--------------------------------------*/
#footerWrap {
	width: 100%;
}
#footer {
	overflow: hidden;
	/*position: fixed;*/
	bottom: 0;
	margin-bottom: 0;
	text-align: right !important;
	width: 100%;
}
#slide {
	width: 2000px;
	height: 75px;
	background: #AA9675 !important;
	color: #fff;
}
#footer a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

/* uksgst_results
--------------------------------------*/
.uksgst_results {
	font-family:'メイリオ', Meiryo, Arial, "ＭＳ Ｐゴシック", sans-serif;
    padding: 0px;
    border: 1px solid #CCCCFF !important;
    background-color: #FFFFFF;
    overflow: hidden;
}

.uksgst_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.uksgst_results iframe {
    display:none;
    display/**/:block;
    position:absolute;
    top:-10px;
    left:10px;
    z-index:-1;
    filter:mask();
    width:3000px;
    height:3000px;
}

.uksgst_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 12px !important;
    line-height: 14px !important;
    overflow: hidden;
    font-weight: bold;
    cursor: pointer;
    text-align: left !important;
}

.uksgst_results li b {
    font-weight: normal;
}

.uksgst_over {
    background-color: #99CCFF;
}


/*#btm_r_portal {
	position: relative;
}*/



/*  ---------------

130227 フッタ部分変更
CSS Auther DNP

すでにページに適用された
cssに打ち消されないように
すべてのプロパティにimportantを
つけています。

141028 フッタ部分変更
CSS Auther DNP

--------------- */


/* reset  --------------- */

#listSet_A * {
	margin:0;
	padding:0;
}

/* end  --------------- */

/* pearent ID --------------- */

#listSet_A {
	/*font-size:small!important;*/
	font-size:12px!important;
	color:#666666!important;
	margin-top: 30px!important;
	margin-bottom: 30px!important;
	overflow:hidden!important;
}

/* end  --------------- */

/* list contents --------------- */

#listSet_A_contents {
	overflow:hidden!important;
	clear:both!important;
/*	margin-left: 1%!important; */
	margin-right:auto!important;
}

/* for IE6 */
* html #listSet_A_contents {
	margin-left: 0.6%!important;
}

/* end  --------------- */

/* title area --------------- */


#listSet_A_titleArea{
margin-bottom:20px!important;
}

#listSet_A_titleArea .logo {
	float:left;
	padding-right: 15px!important;
	border-right: 1px dotted #A88E68!important;
	margin-right: 15px!important;
/*	margin-left: 1%!important; */
}

/* for IE6 */
* html #listSet_A_titleArea .logo {
	margin-left: 0!important;
}

#listSet_A_titleArea {
	overflow:hidden!important;
	/*margin-bottom: 20px!important;*/
	clear: both!important;
}

#listSet_A_titleArea #listSet_A_title_txt{
	float:left!important;
	margin-right: 15px!important;
}

#listSet_A_titleArea h3 {
	/*font-size: medium!important;*/
	font-size: 16px!important;
	margin-bottom: 0px!important;
	margin-top:0px !important;
}

#listSet_A_titleArea p {
	/*font-size: x-small!important;*/
	font-size: 10px!important;
}

/* end  --------------- */


/* 60th Anniversary --------------- */

#listSet_A_anniversary{
	float:right!important;
	width:300px!important;
	text-align:right!important;
	font-size: 12px!important;
	vertical-align:bottom;!important;
	margin-bottom:20px!important;
}
#listSet_A_anniversary a:hover{
	text-decoration: none!important;
}
#listSet_A_anniversary a span{
	text-decoration:underline!important;
}
#listSet_A_anniversary a span:hover{
	text-decoration:underline!important;
	color:#8DC21F!important;
}

/* end  --------------- */

/* list style  --------------- */

#listSet_A_contents div.list_wrap {
	overflow:hidden!important;
	clear: both !important;
}

#listSet_A_contents dl {
	float: left!important;
	width:314px!important;
}
#listSet_A_contents dl + dl{
	margin-left: 19px!important;
	_margin-left: 19px!important
}
	
/* for IE6 */
* html #listSet_A_contents dl {
	margin-right: 0.6%!important;
}

#listSet_A_contents dt {
	padding:3px 5px!important;
	background:#BEDC8B!important;
	font-weight: bold!important;
	margin-bottom: 15px!important;
	/*font-size: x-small!important;*/
	font-size: 10px!important;	
}

#listSet_A_contents dd {
	/*font-size: x-small!important;*/
	font-size: 10px!important;
	border-bottom-width: 1px!important;
	border-bottom-style: dotted!important;
	border-bottom-color: #BEB2A0!important;
}
#listSet_A_contents dd{
	line-height:120% !important;
}
#listSet_A_contents dd.liststyle1 {
	overflow:hidden!important;
	border:none!important;
}
#listSet_A_contents dd.liststyle1 div {
	float:left!important;
	width:27%!important;
}
#listSet_A_contents dd.liststyle1 ul {
	float:left!important;
	width:73%!important;
}
#listSet_A_contents dd.liststyle1 li {
	padding-bottom: 12px!important;
	margin-bottom: 12px!important;
	border-bottom-width: 1px!important;
	border-bottom-style: dotted!important;
	border-bottom-color: #BEB2A0!important;
	min-height:50px!important;
	/min-height:48px!important;/*IE67*/
}
#listSet_A_contents dd.liststyle2 {
	padding-bottom: 12px!important;
	margin-bottom: 12px!important;
	overflow:hidden!important;
}
#listSet_A_contents dd.liststyle2 div {
	float:left!important;
	width:27%!important;
}
#listSet_A_contents dd.liststyle2 p {
	float:left!important;
	width:73%!important;
}
#listSet_A_contents dd.liststyle3 {
	padding-bottom: 12px!important;
	margin-bottom: 12px!important;
	overflow:hidden!important;
}
#listSet_A_contents dd.liststyle3 div {
	float:left!important;
	width:27%!important;
}
#listSet_A_contents dd.liststyle3 p {
	float:left!important;
	width:73%!important;
	line-height:1.5!important;
}
#listSet_A_contents dd a {
	/*font-size:small!important;*/
	font-size:12px!important;
	font-weight: bold!important;
	display:block!important;
	margin-top: 5px!important;
	color: #666666!important;
	text-decoration: none!important;
}
#listSet_A_contents dd a span {
	/*font-size: x-small!important;*/
	font-size: 10px!important;
	color: #AAAAAA!important;
	display:block!important;
	margin-top: 5px!important;
}
#listSet_A_contents dd a:link,
#listSet_A_contents dd a:visited {
	text-decoration:none!important;	
}

#listSet_A_contents dd a:hover, 
#listSet_A_contents dd a:active, 
#listSet_A_contents dd a:focus {
	color: #666666!important;
	text-decoration: underline!important;
}


/* end  --------------- */


/*-----T&T TOP検索エリア 120905------*/


#headerArea .sp27{
	height:27px;
}

#headerArea .sp20{
	height:20px;
}

#contentsArea .sp40{
	height:40px;
	background:#dfd7ca;
	width:760px;
	position:absolute;
	top:0;
	right:0;
}
/*----#patternB----*/



/*----#patternC----*/

#contentsArea #patternC{
	position:relative;
	background:#dfd7ca;
	height:40px;
	margin-bottom:10px;
}

#contentsArea #patternC div.search{
	position:absolute;
	top:10px;
	left:55px;
}

#contentsArea #patternC .cate_slect {
    border: 1px solid #CCCCCC;
    height: 20px;
    margin: 0 3px 0 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 180px;
}


#contentsArea #patternC #btm_r_portal select{
	width:182px;
}

#contentsArea #patternC input.searchtext{
    background-color: #F6F6F6;
    color: #999999;
    font-size: 12px;
    height: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    vertical-align: top;
	border: 1px solid #ecad21;
	width:400px;
}

#contentsArea #patternC .textclear {
    cursor: pointer;
    left: 540px;
    position: absolute;
    top: 5px;
}
/*----#patternD----*/



#contentsArea .historyBtn {
	text-align: center;
	padding-bottom:20px;
	font-size: 11px;
	line-height: 2.5;
}

#contentsArea #recommend-area #mylistbtn {
	text-align: center;
}


/*-----T&T TOPキーワード表示 140409------*/

#headerArea dl#kw{
	padding:0 7px;
	overflow: hidden;
	position:relative;
	width: 800px;
	
}

#headerArea dl#kw dt{
	float: left;
	padding:0 5px 1px 0;
}
#headerArea dl#kw dd{
	float: left;
	padding:0 5px 0 0;
	font-weight: bold;
	color:#1F497D;
	padding-bottom:1px;
}
#headerArea dl#kw dd a{
	color:#1F497D;
}


/*-----T&T TOPクーポンポイント 140409------*/

#side-area #coupon{
	margin: 10px 0 0 10px;
}




/* headerArea
====================================== */
#headerArea {
	width: 100%;
}
*+html #headerArea .nav,
*+html #headerArea .nav * {
	z-index: 110;
}
*+html #headerArea .search,
*+html #headerArea .search * {
	z-index: 100;
}
#headerArea .banner a:link img,
#headerArea .banner a:visited img,
#headerArea .cart a:link img,
#headerArea .cart a:visited img,
#headerArea .search-btn input {
	opacity: 1;
	-moz-opacity: 1; /* Firefox */
	filter: alpha(opacity=100); /* IE6/7 */
	-ms-filter: "alpha(opacity=100)"; /* IE8 */
}

#headerArea .banner a:hover img,
#headerArea .banner a:active img,
#headerArea .cart a:hover img,
#headerArea .cart a:active img,
#headerArea .cart a.hover img {
	opacity: 0.5;
	-moz-opacity: 0.5; /* Firefox */
	filter: alpha(opacity=50); /* IE6/7 */
	-ms-filter: "alpha(opacity=50)"; /* IE8 */
}
#headerArea .search-btn input:hover {
	opacity: 0.7;
	-moz-opacity: 0.7; /* Firefox */
	filter: alpha(opacity=70); /* IE6/7 */
	-ms-filter: "alpha(opacity=70)"; /* IE8 */
}

#headerArea {
	height: 102px;
	margin-bottom: 5px;
}

#headerArea img {
	border: 0;
	vertical-align: bottom;
}


#headerArea a:link,
#headerArea a:visited {
	text-decoration: none;
}

#headerArea a:hover,
#headerArea a:active {
	text-decoration: underline;
}

#headerArea * {
	text-align: left;
}

#headerArea .header-upper-area {
	width: 980px;
	height: 62px;
	margin: 0 auto;
}

	#headerArea .header-upper-area .logo {
		float: left;
		margin: 14px 0 0 0;
		/*width: 180px; *//*ピンクリボンあり*/
		/*width: 186px;logo変更通常*//*60thアニバーサリー*/
		width: 218px; /*通常*/
	}

	#headerArea .header-upper-area .message {
		/*width:169px;60thアニバーサリー*/
		/*width:163px;*//*ピンクリボンあり*/
		width:166px;/*通常*/
		float:left;
	}

		#headerArea .header-upper-area .soryo {
			margin-top: 15px;
		}

		#headerArea .header-upper-area .maintenance {
			margin-top: 2px;
			padding-left: 16px;
			background: url('../index_img/icon_mentenance.png') no-repeat 0 2px;
			font-size: 10px;
		}
	/*60thアニバーサリー*/	
	#headerArea .header-upper-area .anniversary{
		float:right;
		margin:13px 0 0 0;
	}
	/*60thアニバーサリー*/

	#headerArea .header-upper-area .banner {
		float: left;
		width: 50px;
		margin-top: 10px;
	}

	#headerArea .header-upper-area .nav {
		/*float: left;60thアニバーサリー*/
		float:right;/*通常*/
		/*width: 587px;*/
		width: 577px;
		height: 52px;
	}

		#headerArea .header-upper-area .cart {
			float: left;
			width: 44px;
			height: 52px;
		}

		#headerArea .header-upper-area .cart-info {
			float: left;
			width: 146px;
			height: 52px;
			background: url('http://dc.bellemaison.jp/index_img/amount.png') no-repeat top left;
			cursor: pointer;
		}

			#headerArea .header-upper-area .cart-info .number {
				display: block;
				padding: 8px 0 0 10px;
				font-size: 12px;
			}

				#headerArea .header-upper-area .cart-info .number span {
					font-weight: bold;
					color: #FF6600;
				}

			#headerArea .header-upper-area .cart-info .amount {
				display: block;
				padding: 0 0 0 10px;
				font-size: 12px;
				font-weight: bold;
			}

		#headerArea .header-upper-area ul {
			float: left;
			/*width: 397px;*/
			/*width: 389px;*/
			height: 62px;
		}

		#headerArea .header-upper-area ul li {
			float: left;
		}

		#headerArea .header-upper-area ul li ul {
			display: none;
		}

		#headerArea .header-upper-area .goriyo {
			position: relative;
		}

		#headerArea .header-upper-area .goriyo ul {
			display: none;
			position: absolute;
			top: 52px;
			left: 0;
			width: 200px;
			/*height: 265px;*/
			height: 195px;
			/*height: 275px\9;*/ /* IE8,IE7 */
			height: 200px\9;/* IE8,IE7 */
			background-color: #FFFFFF;
			border-top: 4px solid #93C75D;
			border-right: 1px solid #93C75D;
			border-bottom: 1px solid #93C75D;
			border-left: 1px solid #93C75D;
			border-radius: 0 0 7px 7px / 0 0 7px 7px;
			-webkit-border-radius: 0 0 7px 7px / 0 0 7px 7px;
			-moz-border-radius: 0 0 7px 7px / 0 0 7px 7px;
			box-shadow:rgba(113, 135, 164, 0.2) 3px 3px 3px 0px;
			-webkit-box-shadow:rgba(113, 135, 164, 0.2) 3px 3px 3px 0px;
			-moz-box-shadow:rgba(113, 135, 164, 0.2) 3px 3px 3px 0px;
		}

		#headerArea .header-upper-area .goriyo:hover ul {
			display: block;
			padding-top: 5px;
			z-index: 1000;
		}

		#headerArea .header-upper-area .goriyo ul li {
			display: block;
			width: 85%;
			padding-left: 15px;
			padding-right: 15px;
		}

		#headerArea .header-upper-area .goriyo ul li a {
			display: block;
			width: 100%;
			border-bottom: 1px solid #E7E0D6;
			padding: 2px 0;
			font-size: 12px;
		}

		#headerArea .header-upper-area .goriyo ul li.last a {
			border-bottom: none;
		}


		#headerArea .header-upper-area .favorite {
			width: 74px;
		}

		#headerArea .header-upper-area .order {
			width: 74px;
		}

		#headerArea .header-upper-area .catalog {
			width: 74px;
		}

		#headerArea .header-upper-area .guide {
			width: 45px;
			position: relative;
		}

		#headerArea .header-upper-area .guide ul {
			position: absolute;
			top: 52px;
			left: -42px;
			z-index: 1000;
			width: 130px;
			height: 0;
			background-color: #FFFFFF;
			border-top: 4px solid #93C75D;
			border-right: 1px solid #93C75D;
			border-bottom: 1px solid #93C75D;
			border-left: 1px solid #93C75D;
			border-radius: 0 0 7px 7px / 0 0 7px 7px;
			-webkit-border-radius: 0 0 7px 7px / 0 0 7px 7px;
			-moz-border-radius: 0 0 7px 7px / 0 0 7px 7px;
			box-shadow:rgba(113, 135, 164, 0.2) 3px 3px 3px 0px;
			-webkit-box-shadow:rgba(113, 135, 164, 0.2) 3px 3px 3px 0px;
			-moz-box-shadow:rgba(113, 135, 164, 0.2) 3px 3px 3px 0px;
		}

		#headerArea .header-upper-area .guide:hover ul {
			display: block;
			height: 100px;
			padding-top: 5px;
			z-index: 1000;
		}

		#headerArea .header-upper-area .guide ul li {
			display: block;
			width: 75%;
			padding-left: 15px;
			padding-right: 15px;
		}

		#headerArea .header-upper-area .guide ul li a {
			display: block;
			width: 100%;
			border-bottom: 1px solid #E7E0D6;
			padding: 2px 0;
			font-size: 12px;
		}

		#headerArea .header-upper-area .guide ul li.last a {
			border-bottom: none;
		}

		#headerArea .header-upper-area .qanda {
			width: 45px;
		}

#headerArea .header-lower-area {
	clear: both;
	width: 100%;
	height: 40px;
	background-color: #E3DBCD;
}

	#headerArea .header-lower-area-inner {
		width: 980px;
		margin: 0 auto;
	}

	#headerArea .header-lower-area .logoff {
		display: none;
		float: left;
		width: 583px;
	}

		#headerArea .header-lower-area .logoff .btn-logon {
			float: left;
			margin-top: 7px;
			margin-right: 10px;
			width: 103px;
			border-right: 1px dotted #c6b8a1;
		}

		#headerArea .header-lower-area .logoff .btn-register {
			float: left;
			padding-top: 7px;
			width: 101px;
		}

		#headerArea .header-lower-area .logoff p {
			float: left;
			height: 40px;
			font-size: 12px;
			font-weight: bold;
			line-height: 40px;
		}

	#headerArea .header-lower-area .logon {
		display: none;
		float: left;
		width: 583px;
	}

		#headerArea .header-lower-area .logon .info {
			float: left;
			width: 350px;
		}

		#headerArea .header-lower-area .logon .name {
			margin-top: 3px;
			font-size: 12px;
		}

			#headerArea .header-lower-area .logon .name span {
				color: #76531F;
				font-weight: bold;
			}

		#headerArea .header-lower-area .logon .point {
			font-size: 10px;
		}

			#headerArea .header-lower-area .logon .available,
			#headerArea .header-lower-area .logon .limit span  {
				color: #CF1A1A;
				font-weight: bold;
			}

		#headerArea .header-lower-area .logon .btn {
			float: left;
			padding-top: 7px;
			width: 233px;
		}

	#headerArea .header-lower-area .search {
		/*display: none;*/
		/*float: left;*/
		float:right;
		position: relative;
		/*width: 372px;*/
		width: 397px;
		margin-top: 8px;
	}
		#headerArea .header-lower-area .search .search-text {
			display: block;
			overflow: hidden;
			float: left;
			width: 174px;
			height: 22px;
			letter-spacing: -1px;
			border: 1px solid #CBBDA8;
			background: #F1EDE6 url('../index_img/search_arw.png') no-repeat 95% 10px;
		}
		/* Firefox */
		@-moz-document url-prefix() {
			#headerArea .header-lower-area .search .search-text {
				text-indent: 2px;
			}
		}
		#headerArea .header-lower-area .search .search-text-inner {
			display: block;
			font-size: 12px;
			/*
			border-top: 1px solid #FFFFFF;
			border-left: 1px solid #FFFFFF;
			*/
			padding: 2px 20px 2px 5px;
		}
		#headerArea .header-lower-area .search .search-select {
			position: absolute;
			top: 2px;
			left: 0;
			/*z-index: 1;*/
			cursor: pointer;
			padding: 2px 0;
		}
		#headerArea .header-lower-area .search .search-textclear {
			display: none;
			position: absolute;
			top: 5px;
			/*right: 2px;*/
			right: 27px;
			font-size: 12px;
			z-index: 11;
			cursor: pointer;
		}
		/* IE7 */
		*+html #headerArea .header-lower-area .search .search-textclear {
			top: 0\9;
		}
		#headerArea .header-lower-area .search .search-select select {
			width: 200px;
			padding: 0;
			opacity: 0;
			-moz-opacity: 0; /* Firefox */
			filter: alpha(opacity=0); /* IE6/7 */
			-ms-filter: "alpha(opacity=0)"; /* IE8 */
			cursor: pointer;
		}
		#headerArea .header-lower-area .search .search-input {
			position: relative;
			display: block;
			overflow: hidden;
			border-top: 1px solid #CBBDA8;
			border-bottom: 1px solid #CBBDA8;
			background-color: #FFFFFF;
			z-index: 10;
			width:196px;
		}
		#headerArea .header-lower-area .search .search-input-inner {
			display: block;
			margin: 1px 0 3px 0;
			margin:  2px 0 3px 0\9; /* IE8,IE7 */
			font-size: 12px;
		}
		/* IE7 */
		*+html #headerArea .header-lower-area .search .search-input-inner {
			margin:  1px 0 2px 0\9;
		}
		/* IE11 */
		@media all and (-ms-high-contrast:none){
		  *::-ms-backdrop, #headerArea .header-lower-area .search .search-input-inner { margin: 3px 0 3px 0; }
		}
		/* IE10 */
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
		    #headerArea .header-lower-area .search .search-input-inner { margin: 3px 0 3px 0; }
		}
		/* IE9 */
		#headerArea .header-lower-area .search .search-input-inner:not(:target) {
			margin: 3px 0 3px 0\9; 
		}

		/* Firefox */
		@-moz-document url-prefix() {
			#headerArea .header-lower-area .search .search-input-inner {
				margin: 2px 0 3px 0;
			}
		}
		#headerArea .header-lower-area .search .search-input-inner input {
			display: block;
			width: 100%;
			margin-left: 5px;
			overflow: hidden;
			border: none;
			border-width: 0px;
			border-style: none;
			outline: none;
			font-size: 14px;
			color: #999999;
			z-index: 10;
		}
		#headerArea .header-lower-area .search .search-input-inner input::-ms-clear {
			visibility:hidden;
		}
		#headerArea .header-lower-area .search-btn {
			/*display: none;*/
			/*float: left;*/
			/*float:right;*/
			position:absolute;
			top:0;
			right:0;
			width: 25px;
			/*margin-top: 8px;*/
			cursor: pointer;
		}
	#headerArea #mid_r_www {
		position: absolute;
		top: 30px !important;
		float: right;
		text-align: left;
	}
	
		#headerArea .sg_results {
			margin: 0;
			z-index: 100;
			font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
		}

			#headerArea .qsg_results {
				margin: 0;
			    padding: 0;
			    border: 1px solid #CCCCFF !important;
			    background-color: #FFFFFF;
			    overflow: hidden;
				z-index: 100;
			}

				#headerArea .qsg_results ul {
				    width: 100%;
				    list-style-position: outside;
				    list-style: none;
				    padding: 0;
				    margin: 0;
				}

				#headerArea .qsg_results iframe {
				    display:none;
				    display/**/:block;
				    position:absolute;
				    top:0;
				    left:0;
				    z-index:-1;
				    filter:mask();
				    width:3000px;
				    height:3000px;
				}

				#headerArea .qsg_results li {
				    margin: 0px;
				    padding: 5px 0 5px 2px !important;
				    display: block;
				    width: 100%;
				    font-size: 12px !important;
				    line-height: 14px !important;
				    font-weight: bold;
				    cursor: pointer;
				    text-align: left !important;
				    overflow: hidden;
				    cursor: pointer;
				    position: relative; /* 追記 EC 160623 */
				}

				#headerArea .qsg_results li b {
				    font-weight: normal;
				}

				#headerArea .qsg_over {
				    background-color: #99CCFF;
				    color: #666666;
				}
				/* 修正 EC 160623 ここから */
				#headerArea .qsg_line {
					display: table;
					table-layout: auto;
					font-size: 12px;
					overflow: hidden;
				}

				#headerArea .qsg_item {
					display: table-cell;
				    margin: 0;
				    padding: 0;
					vertical-align: middle;
					white-space: nowrap;
				}

				#headerArea .qsg_hits {
					position: absolute;
					top: 5px;
					right: 0;
					display: inline-block;
				    margin: 0;
				    padding: 0 2px 0 20px;
					background: -webkit-gradient(linear, left, right, from(rgba(255,255,255,0)), color-stop(0.3, #FFF), color-stop(0.7, #FFF), to(#FFF));
					background: -webkit-linear-gradient(left, rgba(255,255,255,0), #FFF 30%, #FFF 70%, #FFF);
					background: linear-gradient(to right, rgba(255,255,255,0), #FFF 30%, #FFF 70%, #FFF);
					color: #888;
					font-size: 10px !important;
					font-weight: normal !important;
					text-align: right;
				}
				
				#headerArea .qsg_over .qsg_hits {
					background: -webkit-gradient(linear, left, right, from(rgba(153,204,255,0)), color-stop(0.3, #9CF), color-stop(0.7, #9CF), to(#9CF));
					background: -webkit-linear-gradient(left, rgba(153,204,255,0), #FFF 30%, #9CF 70%, #9CF);
					background: linear-gradient(to right, rgba(153,204,255,0), #9CF 30%, #9CF 70%, #9CF);
				}

				/* 修正 EC 160623 ここまで */				

			#headerArea .psg_results {
			    padding: 0px;
			    border: 1px solid #CCCCFF !important;
			    background-color: #FFFFFF;
			    overflow: hidden;
				margin-right: 3px !important;
				z-index: 100;
			}

				#headerArea .psg_results ul {
					width: 300px;
				    list-style-position: outside;
				    list-style: none;
				    padding: 0;
				    margin: 0;
				}

				#headerArea .psg_results ul ul {
					width:200px;
				}

				#headerArea .psg_results iframe {
				    display:none;
				    display/**/:block;
				    position:absolute;
				    top:0;
				    left:0;
				    z-index:-1;
				    filter:mask();
				    width:3000px;
				    height:3000px;
				}

				#headerArea .psg_results li {
				    margin: 0px;
				    padding: 2px 5px;
				    display: block;
					width:300px;
				    font-size: 12px !important;
				    line-height: 14px !important;
				    font-weight: bold;
				    text-align: left !important;
				    overflow: hidden;
				}
				
				#headerArea .psg_results .psg_over {
					cursor: pointer;
				}

				#headerArea .psg_results li li {
					width:190px;
				}

				#headerArea .psg_results  li b {
				    font-weight: normal;
				}

				#headerArea .psg_over {
				    background-color: #99CCFF;
				    color: #666666;
				}

				#headerArea .psg_area {
					border:none;
					width:300px;
					overflow: hidden;
				}

				#headerArea .psg_image {
					float:left;
					border:none;
					display:table-cell;
					width:100px;
					height:100px;
					padding-top: 10px !important;
					text-align:center;
					vertical-align:middle;
				}
				#headerArea .psg_image img {
					width: 75px;
					height:75px;
					vertical-align:middle;
				}

				#headerArea .psg_list {
					margin-left; 10px;
					float:left;
					width:200px;
					padding-top: 10px !important;
					border:none;
				}
				#headerArea .psg_list a {
				    color: #333333;
				}
				#headerArea .psg_list a:link {
					text-decoration: underline;
				}
				#headerArea .psg_list li {
				    font: menu;
				    font-size: 12px;
					vertical-align: middle;
				}
				#headerArea .psg_list img {
					width: 16px;
					height: 20px;
					vertical-align: middle;
				}
				#headerArea .psg_list p {
					margin:0px;
				}
				#headerArea .psg_list span {
					vertical-align: middle;
					font-size: 10px;
					line-height:20px;
				}
				

#otherSearchArea .searchtext {
	margin: 0;
	padding: 0;
	width:198px;
	height: 26px;
	font-size:12px;
	line-height: 1.5;
	color: #999;
	vertical-align: top;
	background-color: #EBEBE3;
	border: 1px solid #C6C0C0;
}


/*スマイルステージを表示 150105*/
#headerArea .smilestage{
	font-size:12px;
}
#headerArea .smilestage .stage{
	color:#CF1A1A;
	font-weight:normal;
	font-size:12px;
}

#headerArea .smilestage a{
	font-weight:normal;
	text-decoration:underline;
}
#headerArea .smilestage a:link, 
#headerArea .smilestage a:visited{
	text-decoration:underline !important;
}
#headerArea .smilestage a:hover, 
#headerArea .smilestage a:active{
	text-decoration:none !important;
}
#headerArea .smilestage .stage a{
	color:#CF1A1A;
}


/* --------------------------------------------------------------------------
ポイント倍増CP出しわけ　20150522
 --------------------------------------------------------------------------*/

#contentsWrap #pointcp{
	/*display:none;*/
	padding:0 0 0 0;
	
}



/* --------------------------------------------------------------------------
検索履歴　20150601
 --------------------------------------------------------------------------*/
 
#headerArea .history-list {
	position: absolute;
	top: 24px;
	left: 95px;
	width: 300px;
	z-index: 100;
	border-left: 1px solid #C1B198;
	border-right: 1px solid #C1B198;
	border-bottom: 1px solid #C1B198;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
}
#headerArea .history-list ul {
	background-color: #FFFFFF;
}
#headerArea .history-list li {
	padding: 3px 0;
	font-size: 12px;
	cursor: pointer;
	text-indent: 15px;
	background: url(/pc/common/img/hdr/arw_history.png) no-repeat 7px 10px;
}
/* 修正 150520brs1 TAM ココから */
#headerArea .history-list li.history_over {
	background-color: #99CCFF;
    color: #666666;
}
/* 修正 150520brs1 TAM ココまで */
#headerArea .history-list .btn-clear {
	display: none;
	padding: 3px 0;
	font-size: 12px;
	cursor: pointer;
	background-color: #E3DBCB;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	text-indent: 15px;
}

/*sns変更151124*/
#side-area .sns-btn{
	margin: 0 auto 5px;
	text-align: center;
}

#side-area .sns-btn li {
	display: inline-block;
	margin-right: 0;
	float: none;
	width: 38px;
}

#side-area .sns-btn li + li {
	margin-left:2px;
}

/* --------------------------------------------------------------------------
ポイント倍増CP出しわけ　20151216
 --------------------------------------------------------------------------*/

#contentsWrap #pointcpArea {
	overflow: hidden;
	height: 65px;
	margin: -12px auto 20px;
}

#contentsWrap #pointcpArea .bnrArea {
	width: 480px;
	float: left;
}
#contentsWrap #pointcpArea .bnrArea + .bnrArea{
	margin: 0 0 0 20px;
}

#contentsWrap #pointcp{
	display:none;
	padding:0 0 0 0;
	
}

/*DAYS エリア変更160120*/

#contentsWrap #days-area {
    clear: both;
    margin-bottom: 40px;
    position: relative;
}

#contentsWrap #days-area .coupon {
	position: absolute; 
	top:10px; 
	left:450px; 
	background-color:#EBEBED;
	display: block;
	border-radius: 5px;
}

#contentsArea .coupon a:link img,
#contentsArea .coupon a:visited img{
	opacity: 1 !important;
	-moz-opacity: 1 !important; /* Firefox */
	filter: alpha(opacity=100) !important; /* IE6/7 */
	-ms-filter: "alpha(opacity=100)" !important; /* IE8 */
}

#contentsArea .coupon a:active img,
#contentsArea .coupon a:hover img{
	opacity: 0.5 !important;
	-moz-opacity: 0.5 !important; /* Firefox */
	filter: alpha(opacity=50) !important; /* IE6/7 */
	-ms-filter: "alpha(opacity=50)" !important; /* IE8 */
}

/*CM放映中*/
#side-area .net.cmtelevising.side-box {
	margin-bottom:0;
	border-bottom: none;	
}


/* 最近チェックした商品 */
#footerHistoryWrap {
	clear: both;
	width: 758px;
	margin: 15px auto;
	overflow: hidden;
}
#footerHistoryWrap * {
	margin: 0;
	padding: 0;
}

#footerHistoryWrap #footerHistoryBox {
	position: relative;
}

#footerHistoryWrap #footerHistoryHeader {
	padding: 0 20px 20px 0;
	overflow:hidden;
	_zoom: 1;
}
#footerHistoryWrap #footerHistoryHeader h2 {
	float: left;
	margin: 5px 3px 0 20px;
	color: #839199;
	font-size: 14px;
	line-height: 14px;
}
#footerHistoryWrap #footerHistoryHeader .txt {
	float: left;
	margin-top: 5px;
	color: #839199;
	font-size: 10px;
	line-height: 14px;
}
#footerHistoryWrap #footerHistoryHeader .checkbtn {
	height: 20px;
	float: right;
}
#footerHistoryWrap #footerHistoryHeader .checkbtn dt {
	float: left;
	margin-right: 10px;
	color: #76531F;
	font-size: 10px;
	line-height: 20px;
}
#footerHistoryWrap #footerHistoryHeader .checkbtn dd.leave,
#footerHistoryWrap #footerHistoryHeader .checkbtn dd.notleave {
	float: left;
}
#footerHistoryWrap #footerHistoryHeader .checkbtn dd.leave a {
	display: block;
	width: 60px;
	padding-left: 22px;
	background: url(../index_img/dtl_btn_leave.gif) no-repeat;
	font-size: 11px;
	line-height: 20px;
	text-decoration: none;
}
#footerHistoryWrap #footerHistoryHeader .checkbtn dd.notleave a {
	display: block;
	width: 72px;
	padding-left: 10px;
	background: url(../index_img/dtl_btn_noleave.gif) no-repeat;
	font-size: 11px;
	line-height: 20px;
	text-decoration: none;
}
#footerHistoryWrap #footerHistoryHeader .checkbtn dd.on a {
	background-position: 0 0;
	color: #FFF;
}
#footerHistoryWrap #footerHistoryHeader .checkbtn dd.off a {
	background-position: 0 -20px;
	color: #839199;
}

#footerHistoryWrap #footerHistoryDisplay {
	width: 690px;
	min-height: 220px;
	margin: 0 34px;
	overflow: hidden;
	_display: inline-block;
}
#footerHistoryWrap #footerHistoryDisplay.loading {
	background: url(/pc/for_app/img/brs_img/dtl_btn_loading.gif) no-repeat center center;
}

#footerHistoryWrap #footerHistoryDisplay .item {
	float: left;
	width: 100px;
	margin: 0 19px;
}
#footerHistoryWrap #footerHistoryDisplay .item p {
	margin-top: 3px;
	font-size: 10px;
	line-height: 1.3;
}
#footerHistoryWrap #footerHistoryDisplay .item a {
	color: #39C;
}
#footerHistoryWrap #footerHistoryDisplay .item .rating {
	margin-top: 5px;
}
#footerHistoryWrap #footerHistoryDisplay .item .rating img {
	margin-right: 3px;
	vertical-align: middle;
}

#footerHistoryWrap #footerHistoryPrev {
	position: absolute;
	top: 73px;
	left: 0;
}
#footerHistoryWrap #footerHistoryPrev a {
	display: block;
	width: 26px;
	height: 33px;
	text-indent: -9999px;
	background: url(../index_img/push_prev.png) no-repeat 0 0;
	overflow: hidden;
}
#footerHistoryWrap #footerHistoryNext {
	position: absolute;
	top: 73px;
	right: 0;
}
#footerHistoryWrap #footerHistoryNext a {
	display: block;
	width: 26px;
	height: 33px;
	text-indent: -9999px;
	background: url(../index_img/push_next.png) no-repeat 0 0;
	overflow: hidden;
}

#footerHistoryWrap #footerHistoryDisplay .item a {
	color: #0066CC;
}
    
#footerHistoryWrap #footerHistoryDisplay .item a:link, 
#footerHistoryWrap #footerHistoryDisplay .item a:visited{
	text-decoration: underline;
}
#footerHistoryWrap #footerHistoryDisplay .item a:hover, 
#footerHistoryWrap #footerHistoryDisplay .item a:active{
	text-decoration: none;
}




/* 追記 EC 160623 ここから */
#headerArea #mid_r_www .msg_cate {
	display: table-cell;
    margin: 0;
    padding: 0 0 0 5px;
    color: #F90;
    font-size: 10px !important;
	font-weight: normal !important;
	vertical-align: middle;
	white-space: nowrap;
}
#headerArea #mid_r_www .msg_hidden {
	display: none;
    visibility: hidden;
}

/*#headerArea #mid_r_www #sg_results.small {
	left: -1px !important;
}
#headerArea #mid_r_www #sg_results.large {
	left: 275px !important;
}*/
/* 追記 EC 160623 ここまで */



