* {
    margin: 0;
    padding: 0;
    outline: none;
}
html {
    background: #fff url(../images/html.png) repeat-x;
    color: #333;
    font: 13px "Trebuchet MS", Trebuchet, sans-serif;
}

.clearfix {
    clear: both;
}

.cl {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
}
.cl-10 {
    display: block;
    clear: both;
    line-height: 0;
    height: 10px;
    font-size: 0;
}
.cl-20 {
    display: block;
    clear: both;
    line-height: 0;
    height: 20px;
    font-size: 0;
}
.cl-30 {
    display: block;
    clear: both;
    line-height: 0;
    height: 30px;
    font-size: 0;
}
.cl-40 {
    display: block;
    clear: both;
    line-height: 0;
    height: 40px;
    font-size: 0;
}
.alignleft,
img.alignleft {
    margin: 0 1em 0.5em 0;
    display: inline;
    float: left;
}
.alignright,
img.alignright {
    margin: 0 0 0.5em 1em;
    display: inline;
    float: right;
}
.aligncenter,
img.aligncenter {
    margin: 0 auto 0.5em auto;
    display: block;
    clear: both;
}
.center { text-align: center }
.hidden { display: none }

h1 { font-size: 1.3em }
h2 { font-size: 1.2em }
h3 { font-size: 1.1em }
h4 { font-size: 1.05em }
h5 { font-size: 1em }
h6 { font-size: 1em }
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 1em;
    color: #333333;
}
p { line-height: 1.4 }
a { outline: none }
a,
a:active,
a:visited {
    color: #527015;
    text-decoration: underline;
}
a:hover {
    color: #527015;
    text-decoration: none;
}
ul,
li { list-style-type: none }
img { border: none }
:focus { outline: none }

#wrapper {
    width: 980px;
    margin: 0 auto;
}
#header {
    position: relative;
    height: 130px;
    margin-bottom: 20px;
}
#logo {
    position: absolute;
    left: 0;
    top: 0;
}
#topmenu {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40px;
}
#topmenu a {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 2px;
    padding: 0 15px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
#topmenu a.current,
#topmenu a:hover {
    background: #676767;
}

#abc {
    position: absolute;
    right: 0;
    top: 0;
    padding: 22px 10px 10px 10px;
    background: #D4E7A5;
    text-align: right;
}
#abc a {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#abc a:hover {
    background: #fff;
    color: #333;
}

#content {
    float: left;
    width: 560px;
    margin: 0 10px;
}

.block {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #FFFFFF;
}
.block2 {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.block2 .tumber img { padding: 5px; }

.searchbox {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background: #F2FFD1 100% 100% url(../images/searchform.png) no-repeat;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.searchbox input[type="text"] {
    width: 400px;
    padding: 5px;
    border: 1px solid #777;
    color: #333;
    background: #fff url(../images/input-shadow.png) repeat-x;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.searchbox input[type="submit"] {
    width: 70px;
    padding: 5px;
    cursor: pointer;
}

#share {
    padding-top: 5px;
}

.searchinfo {
    margin: -5px 0 15px 0;
    font-size: 0.9em;
    color: #777;
}
.searchinfo a,
.searchinfo strong {
    color: #444;
}

.track,
.track:visited,
.track:active {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #000; 
    font-size: 1.05em; 
    line-height: 38px;
    height: 42px; 
    background: none; 
    padding: 7px;
}
.tracktop,
.tracktop:visited,
.tracktop:active {
    text-decoration: none;
    color: #000;
    font-size: 1.05em; 
}
.track > .avatar {
    text-align: center; 
    margin-right: 10px; 
    margin-top: 1px; 
    width: 38px; 
    height: 38px; 
    overflow: hidden; 
    float: left; 
    border-radius: 3px; 
    border: 1px solid #CCC;
}

.track img {
    height: 38px; 
    width: 38px;
}

.narrow-track,
.narrow-track:visited,
.narrow-track:active {
    float: left;
    display: block;
    width: 40%;
    margin: 0 1% 10px 1%;
    padding: 6px 6px 6px 20px;
    background: #f3f3f3 4px 50% url(../images/narrow-track.png) no-repeat;
    border: 1px solid #ccc;
    text-decoration: none;
    font-size: 1.05em;
    color: #000;
    border-left: 4px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.narrow-track:hover {
    background: #fff 4px 50% url(../images/narrow-track.png) no-repeat;
    border: 1px solid #B0D359;
    border-left: 4px solid #B0D359;
    color: #527015;
    text-decoration: none;
}
.player {
    position: relative;
    margin-bottom: 10px;
    padding: 7px;
    background: #f5f5f5;
    border: 1px solid #B0D359;
    font-size: 1.05em;
    color: #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.player:hover {
    background: #fff;
}
.player .controls {
    position: absolute;
    left: 7px;
    top: 8px;
}
.player .controls a {
    margin-right: 3px;
}
.player .title {
    margin-left: 70px;
}
.player .title span {
    color: #666;
    margin-right: 3px;
}

.entry table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5em;
}
.entry table th {
    border: 1px solid #ccc;
    background: #f0f0f0;
    font-weight: normal;
    text-align: center;
    padding: 10px;
}
.entry table td {
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
}
.entry table .even td {
    padding: 10px;
    border: 1px solid #ccc;
    background: #f7f7f7;
}
.entry .left-td {
    width: 250px;
    font-size: 1.2em;
}

.entry input {
    padding: 5px 10px;
}

.entry .red {
    font-weight: bold;
    color: #f03;
    font-size: 1.1em;
}

.pagination {
    margin: 20px 0 0 0;
}
.pagination span,
.pagination a {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.pagination span,
.pagination a:hover {
    background: #9FCA46 50% 50% url(../images/widget-title.png) no-repeat;
    color: #fff;
    text-decoration: none;
}

.sidebar {
    float: left;
    width: 200px;
}
.widget {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.widget2 {
    background: #F2FFD1;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.widget-title {
    display: block;
    height: 28px;
    line-height: 28px;
    margin: -1px -1px 10px -1px;
    padding: 0 10px;
    background: url(../images/widget-title.png) no-repeat;
    font-size: 1.1em;
    font-weight: bold;
}
.widget ul {
    padding-left: 20px;
}
.widget li {
    margin: 4px 0;
    list-style-type: disc;
    color: #ccc;
}
.widget li a {
    text-decoration: none;
}
.widget li a:hover {
    text-decoration: underline;
}

#footer-placeholder {
    height: 220px;
}

.strong-title {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
    text-align: center;
}
.strong-title strong {
    color: #000;
}

#footer {
    background: #e5e5e5 url(../images/footer.png) repeat-x;
}
#footer .shell {
    padding: 15px;
    text-align: center;
}
#footer a {
    color: #555;
    margin: 0 10px;
}
.info {font-size:11px;}
/* ==================
   Simple modal
================== */

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container a.modalCloseImg {background:url(../images/simplemodal.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}

.modal-window {
    padding: 30px 50px;
    background: #f4f4f4;
    line-height: 24px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 15px #000;
    -moz-box-shadow: 0 0 15px #000;
    -webkit-box-shadow: 0 0 15px #000;
    display: none;
}
.modal-window p {
    margin-bottom: 10px;
}
.modal-window input[type="text"],
.modal-window input[type="password"] {
    padding: 5px;
    border: 1px solid #777;
    color: #333;
    background: #fff url(../images/input-shadow.png) repeat-x;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.modal-window input[type="submit"] {
    padding: 5px;
    cursor: pointer;
}
#leftsm2{
    width:160px;
    float:left;
}
#centersm2{
    width:20px;
    margin:5px 0px;
    float:left;
}
.brending {
    width:100%;
    height:100%;
    display:block;
}

#div_AW_FObj {height:0px;
    width:0px;
    display:none;
    overflow:hidden;
}

/* gritter */
/* the norm */
#gritter-notice-wrapper {
    position:fixed;
    top:20px;
    right:20px;
    width:301px;
    z-index:9999;
}
#gritter-notice-wrapper.top-left {
    left: 20px;
    right: auto;
}
#gritter-notice-wrapper.bottom-right {
    top: auto;
    left: auto;
    bottom: 20px;
    right: 20px;
}
#gritter-notice-wrapper.bottom-left {
    top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
}
.gritter-item-wrapper {
    position:relative;
    margin:0 0 10px 0;
    background:url('/img/ie-spacer.gif'); /* ie7/8 fix */
}
.gritter-top {
    background:url(/images/gritter.png) no-repeat left -30px;
    height:10px;
}
.hover .gritter-top {
    background-position:right -30px;
}
.gritter-bottom {
    background:url(/images/gritter.png) no-repeat left bottom;
    height:8px;
    margin:0;
}
.hover .gritter-bottom {
    background-position: bottom right;
}
.gritter-item {
    display:block;
    background:url(/images/gritter.png) no-repeat left -40px;
    color:#eee;
    padding:2px 11px 8px 11px;
    font-size: 11px;
    font-family:verdana;
}
.hover .gritter-item {
    background-position:right -40px;
}
.gritter-item p {
    padding:0;
    margin:0;
    word-wrap:break-word;
}
.gritter-close {
    display:none;
    position:absolute;
    top:5px;
    left:3px;
    background:url(/images/gritter.png) no-repeat left top;
    cursor:pointer;
    width:30px;
    height:30px;
}
.gritter-title {
    font-size:14px;
    font-weight:bold;
    padding:0 0 7px 0;
    display:block;
    text-shadow:1px 1px 0 #000; /* Not supported by IE :( */
}
.gritter-image {
    width:48px;
    height:48px;
    float:left;
}
.gritter-with-image,
.gritter-without-image {
    padding:0;
}
.gritter-with-image {
    width:220px;
    float:right;
}
/* for the light (white) version of the gritter notice */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
    background-image: url(/images/gritter-light.png);
    color: #222;
}
.gritter-light .gritter-title {
    text-shadow: none;
}


.iPhoneCheckContainer {
    -webkit-transform:translate3d(0,0,0);
    position: relative;
    height: 28px;
    cursor: pointer;
    overflow: hidden; }
.iPhoneCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }

.iPhoneCheckContainer {
    width:149px;
}

.iPhoneCheckContainer label {
    white-space: nowrap;
    font-size: 11px;
    line-height: 20px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 28px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
.iPhoneCheckContainer, .iPhoneCheckContainer label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none; }

.iPhoneCheckDisabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }

label.iPhoneCheckLabelOn {
    color: white;
    background: url('../images/iphone-style-checkboxes/on.png?1284697268') no-repeat;
    left: 0;
    padding-top: 5px; }
label.iPhoneCheckLabelOn span {
    padding-left: 8px; }
label.iPhoneCheckLabelOff {
    color: #000000;
    background: url('../images/iphone-style-checkboxes/off.png?1284697268') no-repeat right 0;
    text-align: right;
    right: 0; }
label.iPhoneCheckLabelOff span {
    padding-right: 18px; }



.iPhoneCheckHandle {
    display: block;
    height: 28px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: url('../images/iphone-style-checkboxes/slider_left.png?1284697268') no-repeat;
    padding-left: 5px; }

.iPhoneCheckHandleRight {
    height: 100%;
    width: 100%;
    padding-right: 5px;
    background: url('../images/iphone-style-checkboxes/slider_right.png?1284697268') no-repeat right 0; }

.iPhoneCheckHandleCenter {
    height: 100%;
    width: 100%;
    background: url('../images/iphone-style-checkboxes/slider_center.png?1284697268'); }

.iOSCheckContainer {
    position: relative;
    height: 28px;
    cursor: pointer;
    overflow: hidden; }
.iOSCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
.iOSCheckContainer label {
    white-space: nowrap;
    font-size: 11px;
    line-height: 20px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 28px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
.iOSCheckContainer, .iOSCheckContainer label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none; }

.iOSCheckDisabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }

label.iOSCheckLabelOn {
    color: white;
    background: url('../images/ios-style-checkboxes/on.png?1284697268') no-repeat;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    left: 0;
    padding-top: 5px; }
label.iOSCheckLabelOn span {
    padding-left: 8px; }
label.iOSCheckLabelOff {
    color: #8b8b8b;
    background: url('../images/ios-style-checkboxes/off.png?1284697268') no-repeat right 0;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    text-align: right;
    right: 0; }
label.iOSCheckLabelOff span {
    padding-right: 8px; }

.iOSCheckHandle {
    display: block;
    height: 28px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: url('../images/ios-style-checkboxes/slider_left.png?1284697268') no-repeat;
    padding-left: 3px; }

.iOSCheckHandleRight {
    height: 100%;
    width: 100%;
    padding-right: 3px;
    background: url('../images/ios-style-checkboxes/slider_right.png?1284697268') no-repeat right 0; }

.iOSCheckHandleCenter {
    height: 100%;
    width: 100%;
    background: url('../images/ios-style-checkboxes/slider_center.png?1284697268'); }

/* CSS Document */


.play_list_page_title {
    width:300px;
    float:left;
    margin-bottom:30px;
    margin-top:5px;
}

.button_add_play_list {
    width:143px;
    height:30px;
    background:url(../images/add_play_list.png) top left no-repeat;
    text-decoration:none;
    line-height:30px;
    color:#FFFFFF;
    display:block;
    float:right;
    text-align:center;
}

.button_add_play_list:hover {
    width:143px;
    height:30px;
    background:url(../images/add_play_list.png) scroll 0 -30px no-repeat;
    text-decoration:none;
    line-height:30px;
    color:#FFFFFF;
    display:block;
    float:right;
    text-align:center;
}

.play_lists {
    width:100%;
    display:inline-block;
}

.play_list_cart {
    width:250px;
    float:left;
    margin-bottom:50px;
}



.play_list_icon {
    background:url(../images/play_list_icon.png) top left no-repeat;
    height:40px;
    width:40px;
}

.play_list_icon_activ {
    background:url(../images/play_list_icon_activ.png) top left no-repeat;
    height:40px;
    width:40px;
}

.play_list_control {
    width:200px;
    margin-left:50px;
}

.play_list_title{
    width:200px;
}

.play_list_name_link_warp a {
    color:#000000;
}

.dell_play_list {
    background:url(../images/dell.png) top left no-repeat;
    height:20px;
    font-size:11px;
    display:block;
    padding-left:20px;
    cursor: pointer;
    margin-top:5px;
    float:left;
    margin-right:10px;
}

.edit_play_list {
    background:url(../images/edit.png) top left no-repeat;
    height:20px;
    font-size:11px;
    display:block;
    padding-left:20px;
    cursor: pointer;
    margin-top:5px;
    float:left;
    margin-right:10px;
}

.publish {
    width:200px;
    clear:both;
}

.add_to_play_list {
    cursor:pointer;
}

.dell_to_play_list {
    float:right;
    cursor:pointer;
    position:absolute;
    right:7px;
    top:8px;
}



.title_for_play_list {
    margin-left: 60px;
    margin-right:30px;
}

.player_for_playlist {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #B0D359;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    font-size: 1.05em;
    margin-bottom: 10px;
    padding: 7px;
    position: relative;
}

.player_for_playlist .controls {
    left: 7px;
    position: absolute;
    top: 8px;
}

.player_for_playlist:hover {
    background: none repeat scroll 0 0 #FFF;
}

/* CSS Document */

.player_control_buttons {

    width: 300px;
    height: 28px;
    display: block;
    float: right;
    margin-top: -30px;
}

.forvard_playlist_button {
    height: 28px;
    width: 41px;
    margin-right: 10px;
    background: url(../images/pl_back.png) top left no-repeat;
    display: block;
    float: right;
}

.forvard_playlist_button:hover {
    background: url(../images/pl_back.png) scroll 0px -28px no-repeat;
}

.play_playlist_button {
    height: 28px;
    width: 41px;
    margin-right: 10px;
    background: url(../images/pl_play.png) top left no-repeat;
    display: block;
    float: right;
}

.play_playlist_button:hover {
    background: url(../images/pl_play.png) scroll 0px -28px no-repeat;
}

.pause_play_list_button {
    height: 28px;
    width: 41px;
    margin-right: 10px;
    background: url(../images/pl_pause.png) top left no-repeat;
    display: block;
    float: right;
}

.pause_play_list_button:hover {
    background: url(../images/pl_pause.png) scroll 0px -28px no-repeat;
}

.next_play_list_button {
    height: 28px;
    width: 41px;
    background: url(../images/pl_next.png) top left no-repeat;
    display: block;
    float: right;
}

.next_play_list_button:hover {
    background: url(../images/pl_next.png) scroll 0px -28px no-repeat;
}

/* CSS Document */

.feedlife {
    background: url(../images/user.png) top left no-repeat #F3F3F3;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    display: block;
    font-size: 1.05em;
    margin-bottom: 10px;
    padding: 7px 7px 7px 35px;
    text-decoration: none;
}

.feedlife-news {
    background: #F3F3F3;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    display: block;
    font-size: 1.05em;
    margin-bottom: 10px;
    padding: 7px 7px 7px 7px;
    text-decoration: none;
}

/** .feedlife:hover {
border: 1px solid #B0D359;
background-color:#FFFFFF;
} **/

.user_name_warp {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.user_name {
    font-weight: bold;
}

.playlist_of_user {
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

.track_of_feedlife {
    color: #000000 !important;
    text-decoration: none;
}

.feedlife-news {
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    display: block;
    font-size: 1.05em;
    padding-bottom: 20px;
    text-decoration: none;
}
.feedlife-news img {
    height: auto;
    width: 100px;
}
.news_text {
    margin-left: 120px;
}
.news_text strong {
    display: block;
}

/* Comments */ 

.comments_warp h1 {
    margin-top:20px;
}


.user_avatar {
    width:60px;
    height:50px;
    float:left;
    position:absolute;
}

.text_for_comment{
    width:448px;
    height:60px;
    float:right;
    resize:none;
}

.avatar_comment_warp {
    width:528px;
    display:inline-block;
}

.comment_but {
    margin-left:80px;
    margin-top:15px;
    background:url(../images/comment_but.jpg) top left no-repeat;
    width: 134px;
    height: 26px;
    display:block;
    border: none;
}

.comment_but:hover {
    background:url(../images/comment_but.jpg) scroll 0px -26px no-repeat;
    cursor:pointer;
}

.user_massage {
    float:right;
    display:block;
    margin-left:80px;
}

.date_of_comment {
    font-size:11px;
    color:#b0b0b0;
}

.user_comment {
    margin-top:10px;
    margin-bottom: 10px;
    display:inline-block;
    position:relative;
}

.text_massage {
    padding-top:10px;
}

.replay {
    text-decoration: none;
    border-bottom: dotted 1px #5d7924;
    font-size:11px;
    margin-top:10px;
}

.replay:hover {
    text-decoration: none;
    border-bottom: none;
}

.user_comment_replay {
    margin-left:80px;
    display:inline-block;
    position:relative;
    margin-top:10px;
    margin-bottom: 10px;
}


.comments_warp_replay .avatar_comment_warp {
    margin-top:10px;
    width:auto;
    display:inline-block;
}

.comments_warp_replay .text_for_comment {
    resize:none;
    float: right;
    height: 60px;
    margin-left: 80px;
    width: 280px;
}
.ui-autocomplete-loading {
background: white url(../images/ui-anim_basic_16x16.gif) right center no-repeat;
}

.album_img_single img {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.album_img {
    display: inline-block;
    height: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    width: 150px;
}

.album_img img {

}

#album_img_container {
    text-align: center;
}

/* update 22.04.2015 */

.album_place {
display:inline-block;
width:257px;
margin-bottom:15px;
position:relative;
}

.album_place img {
width:257px;
border-radius:5px;
}

.left_album_block {
display:inline-block;
width:250px;
}

.right_album_block {
vertical-align: top;
display:inline-block;
width:257px;
margin-left: 17px;
}

.link_album { 
opacity:0;
position:absolute;
right:10px;
bottom:10px;
background:#b3d561;
display:block;
border-radius:5px;
color:#000000;
padding:5px 7px 5px 7px;
}

.album_place:hover .link_album { 
opacity:1;
position:absolute;
right:10px;
bottom:10px;
}

.img_container {
    float: left;
    overflow: hidden;
    margin-bottom: 6px;
}

.img_container img {
    position: relative;
}

.clear {
    clear: both;
}

.img_container_single {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* ========= SOCIAL ========== */


.left_cabinet_coll {
width:170px;
float:left;
}

.avatar_block{
width:148px;
border:1px solid #cdcdcd;
padding:9px;
}

.avatar_block img {
max-width:150px;
max-height:150px;
display: block;
margin: 0 auto;
}

.add_friend {
width:150px;
height:30px;
line-height:30px;
display:block;
color:#FFFFFF;
text-align:center;
text-decoration:none;
background:url(../images/but.png) top left no-repeat;
margin-top:10px;
margin-bottom:10px;
}

.add_friend:hover {

color:#FFFFFF;
text-decoration:none;
background:url(../images/but.png) scroll 0 -30px no-repeat;
} 

.add_friend:visited {
width:150px;
height:30px;
line-height:30px;
display:block;
color:#FFFFFF;
text-align:center;
text-decoration:none;
background:url(../images/but.png) top left no-repeat;
margin-top:10px;
}

.send_massage {
font-size:11px;
color:#818181;
background:url(../images/convert_icon.png) scroll 0 4px no-repeat;
padding-left:20px;
margin-left:7px;

}

.conversation_unread {
  background-color: #ebebeb;  
}

.unread {
  background-color: #ebebeb;
  border-radius: 3px;
  margin-right: 10px;
  padding: 1px 3px;
}

.send_error {
    background-color: #f32712;
}

.unread_marker {
    border-bottom: 1px solid #818181; 
    margin: 5px 0; 
    text-align: center;
    color: #818181;
}

.right_coll_kabinet {
width:340px;
float:right;
}

.small_gray {
font-size:11px;
color:#818181;
display: block;
margin-top: 5px;
margin-bottom: 5px;
}
.right_coll_kabinet h1 {
line-height:21px;
margin:0px;
padding:0px;
}

.normal {
margin-bottom:10px;
}

.correct_link {
font-size:11px;
background:#FFFFFF;
color:#000000 !important;
padding-right:5px;
}

.correct_link_add {
font-size:11px;
color:#000000 !important;
padding-right:5px;
background:url(../images/add_photo.png) scroll 0 2px no-repeat #FFFFFF;
padding-left:13px;
}

.header_correct_link {
background:url(../images/bg_link.png) top left repeat-x;
}

.galary_img {
margin-top:10px;
}

.galary_img a {
margin-right:5px;
}

.friengs {
margin-top:10px;
}

.header_correct_link sup {
font-size:8px;
line-height:5px;
}

.small_friend {
clear:both;
margin-top:10px;
display:inline-block;
margin-bottom:10px;
width: 100%;
}

.small_friend a img {
  border-radius: 3px;
  float: left;
  margin-right: 10px;
  max-height: 50px;
  max-width: 50px;
}

.small_friend a {
color:#000000 !important;
font-size:11px;
}
.small_friend a .small_gray {
text-decoration:none !important;
padding-top:5px;
}

.avatar_playlist {
float:left;
width:40px;
}

.avatar_playlist img {
max-width:40px;
}

.play_list_option {
/*float:right;*/
width:270px;
border-radius:3px;

padding:10px;
position:relative;
margin-left: 50px;
} 

#checked {
background-color:#e7f8de;

}

#no_checked {
background-color:#f4f4f4;
}


.edit_playlist {
background:url(../images/edit_play_list.png) scroll 0 2px no-repeat;
padding-left:17px;
color:#000000 !important;
font-size:11px;
}

.dell_playlist {
background:url(../images/dell_playlist_icon.png) scroll 0 2px no-repeat;
padding-left:17px;
color:#000000 !important;
font-size:11px;
}

.publish {
float:right !important;
width:150px !important;
position:absolute;
right:10px;
top:10px;
}

.publish.playlist {
    position: static !important;
}

.play_list_option_controll {
float:left;
}

.plalist_content {
clear:both;
margin-top:10px;
margin-bottom:10px;
display:inline-block;
width:340px;
}

.palylists {
margin-top:20px;
}

.palylists .create_playlist {
float:right;
} 

.palylists .plalist_header_h {
font-size:16px;
line-height:45px;
}

.play_list_name_link_warp {
width:290px;
/*float:right;*/
margin-bottom:10px;
margin-left: 50px;
}

.edit_my_profail {
background:url(../images/edit_play_list.png) scroll 0 2px no-repeat;
padding-left:15px;
font-size:11px;
margin-left:7px;
}

.my_massage {
background:url(../images/convert_icon.png) scroll 0 3px no-repeat;
padding-left:15px;
font-size:11px;
margin-left:7px;
margin-top:5px;
}

.my_friensd {
background:url(../images/fiends_icon.png) scroll 0 3px no-repeat;
padding-left:15px;
font-size:11px;
margin-left:7px;
margin-top:5px;
}

.my_photo {
background:url(../images/my_photo.png) scroll 0 3px no-repeat;
padding-left:15px;
font-size:11px;
margin-left:7px;
margin-top:10px;
}

.count_mass {
background:#f92801;
padding:0px 2px 0px 2px;
color:#FFFFFF;
margin-left:3px;
border-radius:3px;
font-size:10px;
}

.track_count {
font-size:34px;
line-height:34px;
}

.play_list_option p {
padding:0px;
margin:0px;
margin-top:-10px;
}

.align_count {
float:left;
margin-right:10px;
}

.top_menu_kab a {
font-size:11px;
color:#000000!important;
text-decoration:none;
margin-right:10px;
}

.top_menu_kab {
border-bottom:1px solid #cecece;
padding-bottom:10px;
}

.top_menu_kab a:hover {
font-size:11px;
color:#008c00!important;
text-decoration:none;
margin-right:10px;
}

.back {
background:url(../images/back.png) scroll 0 3px no-repeat;
padding-left:15px;
}

.select {
background:#cdcdcd;
padding-left:10px;
padding-top:5px;
padding-bottom:10px;
border-radius: 3px 3px 0 0;
margin-right:5px;
}

.friend_position {
margin-top:20px;
display:inline-block;
padding-bottom:10px;
width:528px;
border-bottom:1px solid #cdcdcd;
}

.user_avatar_friend_list {
float:left;
}

.user_avatar_friend_list img {
    width: 80px;
    height: 80px;
}

.info_friend_list {
margin-left:10px;
width:250px;
display:inline-block;
} 

.user_name_friend_list {
color:#000000!important;
font-size:16px;
}

.music_tags {
margin-top:10px;
}

.friend_control {
float:right;
width:150px;
text-align:center;
}

a.delete_friend,
a.add_friend,
a.create_album,
a.create_playlist,
/*a.upload_photos,*/
a.fileinput-button {
width:150px;
height:30px;
line-height:30px;
display:block;
color:#FFFFFF;
text-align:center;
text-decoration:none;
background:url(../images/but.png) top left no-repeat;
margin-top:10px;
margin-bottom:10px;
}

.delete_friend:hover,
.add_friend:hover,
.create_album:hover,
.create_playlist:hover,
/*.upload_photos:hover,*/
.fileinput-button:hover {
width:150px;
height:30px;
line-height:30px;
display:block;
color:#FFFFFF;
text-align:center;
text-decoration:none;
background:url(../images/but.png) scroll 0 -30px no-repeat;
margin-top:10px;
margin-bottom:10px;
}

#upload_progress {
    height: 20px;
}

.upload_photos {
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
}

.not_set {
    font-style: italic;
    /*font-size: smaller;*/
}

#edit_profile_link {
    float: right;
    font-size: 10px;
}

label.profile {
    display: block;
}

#profile_image_crop {
    /*max-width: 320px; 
    max-height: 240px; */
    margin-right: 20px; 
    margin-bottom: 20px; 
    float: left;
}

#profile_image_crop_preview {
    overflow: hidden;
    width: 80px;
    height: 80px;
    float: left;
    margin-bottom: 10px;
    vertical-align: top;
}

#profile_image_crop_preview img {
    position: relative;
}

#new_image_form {
    margin-bottom: 20px;
}


.massage_position {
padding-top:10px;
display:inline-block;
padding-bottom:10px;
width:528px;
border-bottom:1px solid #cdcdcd;
display:block;
margin-left:-15px;
padding-left:15px;
margin-right:-15px;
padding-right:15px;
text-decoration:none!important;
}

.massage_position:hover {

display:inline-block;
padding-bottom:10px;
width:528px;
border-bottom:1px solid #cdcdcd;
display:block;
background-color:#f7f7f7;

}

.dialog_user_block {
width:160px;
display:inline-block;
vertical-align:top;
}

.dialog_user_block .user_name_friend_list {
font-size:13px;
}

.dialog_user_block img {
width:50px;
height:50px;
}

.dialog_user_block .info_friend_list {
width:90px;
}

.lust_massage {
width:350px;
display:inline-block;
vertical-align:top;
}

.lust_massage img {
width:40px;
}

.lust_massage .user_name_friend_list {
font-size:13px;
} 

.lust_massage .info_friend_list {
width:260px;
}

.massage_block {
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

.massage_block img {
  border-radius: 3px;
  height: 50px;
  width: 50px;
}

.massage_block .user_name_friend_list {
font-size:13px;
} 

.massage_block .info_friend_list {
width:380px;
}

.massage_block .info_friend_list p {
    line-height: 100%;
}

.time {
width:60px;
font-size:11px;
color:#a1a1a1;
display:inline-block;
float:right;
}

.massage_position_in_dialog {
margin-top:10px;
display:inline-block;
padding-bottom:10px;
width:480px;
}

.send_massage_area {
    background-color: #f4f4f4;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
}

.send_massage_area img{
width:50px;
height:50px;
}

.msg_container {
    padding: 10px; 
    min-height: 330px;
}

.massage_but {
background:url(../images/but.png) top left no-repeat;
border:none;
width:150px;
height:30px;
text-align:center;
line-height:30px;
color:#FFFFFF;
cursor:pointer;
margin-left:60px;
margin-top:20px;
margin-right:10px;
}

.massage_but:hover {
background:url(../images/but.png) scroll 0 -30px no-repeat;
border:none;
width:150px;
height:30px;
text-align:center;
line-height:30px;
color:#FFFFFF;
cursor:pointer;
}

.text_for_massage {
margin-left:10px;
width:440px;
height:80px;
}

.scroll_content {
height:500px;
overflow-y:scroll;
overflow-x:hidden;
}

.content {
height:350px;
overflow-y: scroll;
overflow-x:hidden;
}

#dragbar {
height:30px;
line-height:25px;
background-color:#404040;
}

.modal_window_title {
color:#FFFFFF;
margin-left:10px;
}

.container_table {
box-shadow: 0 10px 30px -15px #262728;
border:3px solid #404040;
border-radius:5px;
}

.close {
background:url(../images/close.png) top left no-repeat #404040;
height:20px;
width:20px;
display:block;
float:right;
}


#showimage .send_massage_area {
position:absolute;
bottom:0;
width:423px;
background:#404040;
z-index:1001;
height:85px;
}

#showimage .text_for_massage {
height:40px;
resize:none;
width:410px;
}

#showimage .massage_but {
margin-left:10px;
margin-top:10px;
}

#showimage  .massage_position_in_dialog {
margin-top:10px;
display:inline-block;
padding-bottom:10px;
width:400px;
}

#showimage .massage_block {
    display: inline-block;
    vertical-align: top;
    width: 400px;
}

#showimage .info_friend_list {
margin-left:10px;
width:250px;
display:inline-block;
} 

#showimage  .content {
height:350px;
overflow-y: scroll;
overflow-x:hidden;
}

/*************** SCROLLBAR BASE CSS ***************/
     
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}
 
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
 
 
 
/*************** SIMPLE OUTER SCROLLBAR ***************/
 
.scrollbar-outer > .scroll-element,
.scrollbar-outer > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
 
.scrollbar-outer > .scroll-element {
    background-color: #ffffff;
}
 
.scrollbar-outer > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.scrollbar-outer > .scroll-element.scroll-x {
    bottom: 0;
    height: 12px;
    left: 0;
    width: 100%;
}
 
.scrollbar-outer > .scroll-element.scroll-y {
    height: 100%;
    right: 0;
    top: 0;
    width: 12px;
}
 
.scrollbar-outer > .scroll-element.scroll-x .scroll-element_outer { height: 8px; top: 2px; }
.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer { left: 2px; width: 8px; }
 
.scrollbar-outer > .scroll-element .scroll-element_outer { overflow: hidden; }
.scrollbar-outer > .scroll-element .scroll-element_track { background-color: #eeeeee; }
 
.scrollbar-outer > .scroll-element .scroll-element_outer,
.scrollbar-outer > .scroll-element .scroll-element_track,
.scrollbar-outer > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
 
.scrollbar-outer > .scroll-element .scroll-bar { background-color: #d9d9d9; }
.scrollbar-outer > .scroll-element .scroll-bar:hover { background-color: #c2c2c2; }
.scrollbar-outer > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }
 
 
/* scrollbar height/width & offset from container borders */
 
.scrollbar-outer > .scroll-content.scroll-scrolly_visible { left: -12px; margin-left: 12px; }
.scrollbar-outer > .scroll-content.scroll-scrollx_visible { top:  -12px; margin-top:  12px; }
 
.scrollbar-outer > .scroll-element.scroll-x .scroll-bar { min-width: 10px; }
.scrollbar-outer > .scroll-element.scroll-y .scroll-bar { min-height: 10px; }
 
 
/* update scrollbar offset if both scrolls are visible */
 
.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -14px; }
.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -14px; }
 
.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -14px; }
.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -14px; }

.scrollbar-outer > .scroll-element.scroll-x {
    display: none !important;
}

/* =========== UPD 11.09 ============ */


.clear_line {
    background-color: #e5e5e5;
    clear: both;
    height: 1px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 527px;
}

.input_cabinet {
height:30px;
background-color:#f6f6f6;
border:1px solid #cccccc;
border-radius:3px;
padding-left:10px;
padding-right:10px;
width:225px;
margin-top:5px;
}

.input_cabinet:focus {
height:30px;
background-color:#f6f6f6;
border:1px solid #b1b1b1;
border-radius:3px;
padding-left:10px;
padding-right:10px;
width:225px;
}

.input_cabinet_select_day {
height:30px;
background-color:#f6f6f6;
border:1px solid #cccccc;
border-radius:3px;
padding-left:5px;
padding-right:10px;
width:95px;
margin-top:5px;
}

.input_cabinet_select_year {
height:30px;
background-color:#f6f6f6;
border:1px solid #cccccc;
border-radius:3px;
padding-left:5px;
padding-right:10px;
width:145px;
margin-top:5px;
}

.form_warp {
width:50%;
float:left;
margin-bottom:20px;
}

.form_warp_day {
width:20%;
float:left;
margin-bottom:20px;
}

.form_warp_year {
width:30%;
float:left;
margin-bottom:20px;
}



.input_cabinet_select {
width:250px;
height:30px;
background-color:#f6f6f6;
border:1px solid #cccccc;
border-radius:3px;
padding-left:5px;
padding-right:10px;
margin-top:5px;
}

.music_janr li {
line-height:40px;
width:30%;
display: inline-block;
}

.check_one {
margin-right:10px;

}

input[type=checkbox] {
 display: none;
    }
    





.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

.checkbox + label {
  cursor: pointer;
}


.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px; 
}

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s; 
}

.checkbox:checked + label:before {
  background: #9FD468;
}

.checkbox:checked + label:after {
  left: 26px;
}

.checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

.save_but {
    background:url(../images/but.png) top left no-repeat;
    height:30px;
    width:150px;
    clear:both;
    display:block;
    text-decoration:none;
    color:#FFFFFF!important;
    line-height:30px;
    text-align:center;
    margin-top:20px;
    border: none;
}

.save_but:hover {
    background:url(../images/but.png) scroll 0 -30px no-repeat;
    height:30px;
    width:150px;
    clear:both;
    display:block;
    text-decoration:none;
    color:#FFFFFF!important;
    line-height:30px;
    text-align:center;
    margin-top:20px;
}

#avatar_upload {
    position: absolute;
    left: -10000px;
    top: 0;
    height: 0;
}


.photo_album_warp {
width:255px;
height:255px;
overflow:hidden;
border-radius:3px;
background-color:#f4f4f4;
margin-top:20px;
display:inline-block;
position:relative;
background:url(../images/empty_album.jpg) top center no-repeat;

}

.photo_album_warp img {
min-height:255px;
min-width:255px;

}

.photo_count {
height:30px;
width:30px;
position:absolute;
bottom:10px;
right:10px;
z-index:10;
background-color:#a2d937;
border-radius:3px;
text-align:center;
vertical-align:middle;
line-height:30px;
font-size:16px;
}

.photo_album_warp_all {
width:255px;
display:inline-block;
margin-right:12px;
vertical-align:top;
}

.photo_album_warp_all_2 {
width:255px;
display:inline-block;
}

.photo_album_name {
font-size:16px;
line-height:35px;
}

.delet_photo_album {
color:#333333!important;
font-size:12px;
padding-right:5px;
}

.publish_photo {
margin-top:10px;
clear: both;
  width: 150px !important;
}

#publish_photo {
position:relative!important;
float:none!important;
margin-top:5px;
margin-left:10px;
}

.back_link_photo {
font-size:12px;
color:#333333;
text-decoration:none;
/*float:left;*/
margin-top:5px;
}

.add_photo {
cursor: pointer;
background:url(../images/but.png) top left no-repeat;
height:30px;
width:150px;
display:block;
text-decoration:none;
color:#FFFFFF!important;
line-height:30px;
text-align:center;
margin-top:20px;
float:right;
margin-top:-1px;
margin-bottom:15px;
position: relative;
}

.add_photo:hover {
background:url(../images/but.png) scroll 0 -30px no-repeat;

}

.photo_warp_list {
width:170px;
height:170px;
overflow:hidden;
display:inline-block;
margin-right:3px;
border-radius:3px;
}

.photo_warp_list img {
    width: 100%;
    height: 100%;
}

.navigation_link_left {
font-size:12px;
text-decoration:none;
float:left;
color:#333333;
}

.navigation_link_right {
font-size:12px;
text-decoration:none;
float:right;
color:#333333;
}

.heart{
background:url(../images/like.png) top left no-repeat;
height:12px;
width:13px;
display:inline-block;
padding-right:5px;
margin-bottom:-2px;
}


.like_link_photo {
text-decoration:none;
text-align:center;
line-height:12px;
margin-left:100px;
}

.like_link_photo:hover .heart,
.like_link_photo.liked .heart {
background:url(../images/like.png) scroll 0px -13px no-repeat;
}

.big_photo_detail_list_link {
width:530px;
text-align:center;
display:block;
margin-top:10px;
margin-bottom: 10px;
}

.big_photo_detail_list_link img {
max-width:530px;
}

#photo_comment_edited {
    width: 100%;
}

.photo_counts_detail_page {
text-align:center;
font-size:16px;
}

#upload_stat {
    height: 20px;
}