/* ================================
    CSS STYLES FOR Module [!output PROJECT_NAME]
   ================================
*/
 .FDShowWSHead 
 {
	font-family:Verdana, Arial,sans-serif;
	font-size:13px;
	color:#067DE1;
 }
 
 .FDShowWSHR 
 {
	color:#CCCCCC;
	height:1px;
 }
 