
/*** ESSENTIAL STYLES ***/
.topMenu, .topMenu * {
	margin:			0;
	padding:		0;
	list-style:		none;
	z-index:		999;
}
.topMenu {
	line-height:	1.0;
	font-family:	Arial, Helvetica, sans-serif;
	font-size:		13px;
	font-weight:	bold;
	color:			#fff;
	padding-left:	15px;
}
.topMenu ul {
	position:		absolute;
	top:			-999em;
	width:			190px; /* left offset of submenus need to match (see below) */
}
.topMenu ul li {
	width:			100%;
	text-align:		left;
	border-bottom:	1px solid #ccc;
	font-family:	arial, sans-serif;
	font-size:		12px;
	font-weight:	normal;
}
.topMenu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.topMenu li {
	float:			left;
	position:		relative;
}
.topMenu a {
	display:		block;
	position:		relative;
}
.topMenu li:hover ul,
.topMenu li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
}
ul.topMenu li:hover li ul,
ul.topMenu li.sfHover li ul {
	top:			-999em;
}
ul.topMenu li li:hover ul,
ul.topMenu li li.sfHover ul {
	left:			182px; /* match ul width */
	top:			0;
}
ul.topMenu li li:hover li ul,
ul.topMenu li li.sfHover li ul {
	top:			-999em;
}
ul.topMenu li li li:hover ul,
ul.topMenu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.topMenu {
	float:			left;
	margin-bottom:	1em;
}
.topMenu a {
	padding: 		.75em .80em;
	text-decoration:none;
}
.topMenu a, .topMenu a:visited , .topMenu a:link, .topMenu a:active { /* visited pseudo selector so IE6 applies text colour*/
	color:			#666;
	text-decoration:none;
}
/**/

.topMenu li li {
	background:		#f1f1f1;
}
.topMenu li li li {
	background:		#f1f1f1;
}
.topMenu li:hover, .topMenu li.sfHover,
.topMenu a:focus, .topMenu a:hover, .topMenu a:active {
	background:		#f1f1f1;
	outline:		0;
	text-decoration:none;
}

.topMenu a:hover {
	background:		#F1C6DD;
	color:			#333;
	outline:		0;
	text-decoration:none;
}

/*** arrows **/
.topMenu a.sf-with-ul {
	padding-right: 	1.45em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
display:none;
	position:		absolute;
	display:		block;
	right:			.20em;
	top:			1.10em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}

/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.topMenu ul .sf-sub-indicator { background-position:  -10px 0; }
.topMenu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.topMenu ul a:focus > .sf-sub-indicator,
.topMenu ul a:hover > .sf-sub-indicator,
.topMenu ul a:active > .sf-sub-indicator,
.topMenu ul li:hover > a > .sf-sub-indicator,
.topMenu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

