body {
	background-repeat: repeat-x;
}
ul, ul li {list-style-type:none;}
hr {margin: 0;}
.Normal {font-size: 1em;}
a, a:link, a:active, a:visited {color:#ed008c;}
a:hover{color:#000;}

.DNNMainContent a {
	color:#129;
	text-decoration:underline;
}

.topLinksBar {
	 background-color:#888;
	 padding:2px;
}

#topLinks div {
	float: right;
	color:#ccc;
	padding-right: 3px;
}

#topLinks div a, #topLinks div a:link, #topLinks div a:hover {
	color:#eee;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}

.PrincipalLinks {
	padding: 5px 2px 5px 2px;
	font-weight: bold;
	font-size: 1.2em;
}

 .PBShowTD {
	font-size: 1.2em;
}

.PageTitle .Normal {
	font-family: 'PT Sans', sans-serif;
	font-weight: 300;
	font-size: 40px;
	
}

.TituloM, .Titulo {
	color: #E02682;
	line-height: 120%;
	font-size: 18px;
	font-weight: bold;
}


.Breadcrum, .Breadcrum:link, .Breadcrum:active, .Breadcrum:visited {
	color:#ffc6e8;
}

.footer {
	
}

.footerLogo {
	float: left;
	vertical-align: top;
	padding-right: 30px;
	padding-top: 5px;
}

.footerInfo {
	float: left;
	vertical-align: top;
}

.footerCredits {
	float: right;
	vertical-align: top;
}


.DNNMainContent * {
	font-size: 15px;
	line-height: 150%;
}

.KeepImgSize
{
	max-width: none;
}

/*
.DNNModuleContent img
{
	max-width: none;
}
*/