@font-face {
    font-family: 'League Gothic Condensed';
    src: url('leaguegothic-condenseditalic-webfont.eot');
    src: url('leaguegothic-condenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-condenseditalic-webfont.woff') format('woff'),
         url('leaguegothic-condenseditalic-webfont.ttf') format('truetype'),
         url('leaguegothic-condenseditalic-webfont.svg#league_gothiccondensed_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'League Gothic Condensed';
    src: url('leaguegothic-condensedregular-webfont.eot');
    src: url('leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('leaguegothic-condensedregular-webfont.ttf') format('truetype'),
         url('leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-italic-webfont.eot');
    src: url('leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-italic-webfont.woff') format('woff'),
         url('leaguegothic-italic-webfont.ttf') format('truetype'),
         url('leaguegothic-italic-webfont.svg#league_gothicitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}