body {
	margin: 0px;
	padding: 0px;}
td, div {
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
	color: #000000;}
a {
	color: #000000;
	text-decoration: underline;}
a:hover {
	text-decoration: none;}
h1 {
	color: #009cff;
	font: bold 15px Tahoma, Arial, Helvetica, sans-serif;}
h2 {
	color: #009cff;
	font:  bold 13px Tahoma, Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 5px 0px;}
h3 {
	color: #009cff;
	font: bold 12px Tahoma, Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 5px 0px;}
ul {
	list-style-image: url(img/ul.gif);}

form {
	padding: 0px;
	margin: 0px;}
input, select {
	font: 11px Tahoma, Arial, Helvetica, sans-serif;
	color: #000000;}
.grey {
	color: #736f63;
	font-size: 11px;}
.blue {
	color: #009cff;}
.orng {
	color: #ff9600;}
.green {
	color: #2DDB2D;}	
.red {
	color: #F4581B;}
.blue_dark {
	color: #1B44F4;}
.colum {
	padding: 0px 0px 140px 0px;
	vertical-align: top;}
.colum_right {
	padding: 10px 0px 140px 17px;
	vertical-align: top;}
.bot_left {
	background: url(img/bot_left.jpg) bottom left no-repeat;
	vertical-align: top;
	padding: 0px 15px;}
.bot_right {
	background: url(img/bot_right.jpg) bottom right no-repeat;}
.top_fon {
	background: url(img/top_fon.gif) top left repeat-x;}
.top_logo_fon {
	background: url(img/top_logo_fon.jpg) top left no-repeat;}
a.mywm {
	background:transparent url(img/mywm1.jpg) no-repeat scroll left top;
	padding:0px 0 10px 19px;}
/***/
.tm {
	background: url(img/tm_fon.gif) top left repeat-x;}
.tm a, .tm div {
	padding: 7px 15px 9px 15px;
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
	text-align: center;}
.tm a {
	color: #255576;
	display: block;
	background: url(img/tm_left.gif) top left no-repeat;}
.tm div {
	font-weight: bold;}
.tm a:hover, .tm div {
	background: url(img/tm_on.gif) top left no-repeat;
	color: #FFFFFF;}
/***/
.mb {
	background: #fff5be url(img/mb_bot.gif) bottom repeat-x;}
.mb_right {
	background: #fff5be url(img/mb_fon_right.gif) right top repeat-y;}
.mb_blue {
	background: url(img/mb_blue_fon.jpg) top left repeat-x;
	margin: 15px 10px 0px 0px;}
.mb_blue div {
	background: url(img/mb_blue_right.jpg) top right no-repeat;}
.mb_blue div div{
	background: url(img/mb_blue_left.jpg) top left no-repeat;
	padding: 5px 10px 15px 60px;
	font: 11px Tahoma, Arial, Helvetica, sans-serif;
	height: 151px;}
.mb_blue h3 {
	color: #FFFFFF;
	font: bold 17px Tahoma, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 2px 0px;
	padding: 0px;}
.mb_blue ul {
	list-style-image: url(img/ul_orange.gif);
	margin: 8px 0px 0px 0px;
	padding: 0px 0px 0px 17px;}
.mb_blue ul li {
	padding: 0px;
	margin: 2px 0px;}
/***/
.mb_orng {
	background: url(img/mb_orng_fon.jpg) top left repeat-x;
	margin: 15px 0px 0px 5px;}
.mb_orng div {
	background: url(img/mb_orng_right.jpg) top right no-repeat;}
.mb_orng div div{
	background: url(img/mb_orng_left.jpg) top left no-repeat;
	padding: 5px 10px 15px 80px;
	font: 11px Tahoma, Arial, Helvetica, sans-serif;
	height: 151px;}
.mb_orng h3 {
	color: #FFFFFF;
	font: bold 17px Tahoma, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 2px 0px;
	padding: 0px;}
.mb_orng ul {
	list-style-image: url(img/ul_blue.gif);
	margin: 8px 0px 0px 0px;
	padding: 0px 0px 0px 17px;}
.mb_orng ul li {
	padding: 0px;
	margin: 2px 0px;}
/***/
.tbl_zebra {
	border: 1px solid #ad7d45;}
.tbl_zebra td {
	background: #ffd55d;
	padding: 2px;
	font-size: 11px;
	text-align: left;
	border-right: 1px solid #fff3b6;}
.tbl_zebra tr.light td {
	background: #ffeca2;}
.tbl_zebra td.pad {
	padding-left: 35px;}
/***/
.numer, .rblue .numer {
	letter-spacing: 2px;
	display: block;
	background: url(img/numer.gif) top no-repeat;
	width: 73px;
	height: 14px;
	font-size: 11px;
	padding: 2px 1px 0px 0px;
	text-align: right;}
.registr {
	margin: 7px 0px 7px 27px;}
.registr td {
	padding: 0px 8px;
	font-size: 11px;}
.registr input {
	margin: 3px 0px;
	border: 1px solid #e1d280;}
	
.bottom {
	margin-top: 20px;}
.bottom td {
	background: url(img/bot_fon.gif) bottom left repeat-x;
	color: #FFFFFF;
	font-size: 11px;
	height: 75px;}
/***/
.vopros {
	background: url(img/vopros_fon.jpg) top left repeat-y;
	margin-bottom: 20px;
	position: relative;}
.vopros div {
	background: url(img/vopros_bot.jpg) bottom left no-repeat;}
.vopros div div {
	background: url(img/vopros_top.jpg) top left no-repeat;
	width: 165px;
	font-size: 11px;
	padding: 10px 0px 25px 20px;}
.vopros div div span {
	display: block;
	padding: 10px 0px 10px 45px;
	font-weight: bold;}
/***/
.lblue {
	background: url(img/lblue_fon.gif) top left repeat-y;
	position: relative;}
.lblue div {
	background: url(img/lblue_bot.gif) bottom left no-repeat;}
.lblue div div {
	background: url(img/lblue_title_top.gif) top left no-repeat;
	width: 185px;
	font-size: 11px;
	padding: 0px 0px 25px 0px;}
.lblue div div p {
	padding: 5px 10px 5px 20px;
	margin: 0px;}
.lblue div div span {
	display: block;
	padding: 7px 35px 10px 20px;
	color: #FFFFFF;
	font-weight: bold;}
.lblue div.white_line{
	background: url(img/lblue_white.gif) top left repeat-y;
	height: 5px;
	padding: 0px;
	margin: 0px;}
/***/
.rblue {
	background: url(img/rblue_fon.gif) top left repeat-y;
	}
.rblue div {
	background: url(img/rblue_bot.gif) bottom left no-repeat;}
.rblue div div {
	background: url(img/rblue_top.gif) top left no-repeat;
	padding: 0px 0px 25px 0px;
	font-size: 11px;}
.rblue div.dblue_mdl {
	background: url(img/rblue_title_mdl.gif) top left no-repeat;
	padding: 7px 10px 5px 15px;
	height: 20px;
	font-weight: bold;
	color: #0079c6;}
.rblue div.dblue_top {
	background: url(img/rblue_title_top.gif) top left no-repeat;
	padding: 7px 10px 4px 15px;
	height: 20px;
	font-weight: bold;
	color: #0079c6;}
.rblue div.dblue_top_v {
	background: url(img/rblue_title_top_v.gif) top left no-repeat;
	padding: 7px 10px 4px 15px;
	height: 20px;
	font-weight: bold;
	color: #a50000;}
.rblue a.amywm{
	background:transparent url(/img/mywm.jpg) no-repeat scroll left top;
	padding:0px 0 10px 19px;
	display:block;
}
.rblue a.myvopros1{
	background:transparent url(/img/help120.png) no-repeat scroll left top;
	padding:0px 0 10px 24px;
	display:block;
}
.rblue a.myvopros2{
	background:transparent url(/img/help220.png) no-repeat scroll left top;
	padding:0px 0 10px 24px;
	display:block;
}
.rblue a.myflood{
	background:transparent url(/img/folder20.png) no-repeat scroll left top;
	padding:0px 0 10px 24px;
	display:block;
}
.rblue div.dblue {
	background: url(img/rblue_blue.gif) top left repeat-y;
	padding: 5px 15px 10px 15px;}
/****/
.title {
	background: url(img/title_fon.gif) top left repeat-x;
	margin: 10px 0px;}
.title h1 {
	font: bold 15px Tahoma, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	padding: 4px 0px 0px 0px;
	margin: 0px;}
/****/
.info {
	background: url(img/info_fon.gif) top left repeat-x;
	margin: 10px 0px 10px 0px;}
.info h2 {
	font: bold 13px Tahoma, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	padding: 8px 20px 0px 20px;
	text-transform: uppercase;
	margin: 0px;}
/***/
.vert_line {
	background: url(img/vert_line.gif) left top repeat-y;
	padding: 0px 0px 0px 10px;
	font-size: 11px;}
.vert_line h2 {	
	padding: 0px;
	margin: 0px;}
.vert_line ul {	
	margin-top: 0px;}
/***/
.line {
	background: url(img/line.gif) bottom left repeat-x;
	height: 12px;
	margin-bottom: 12px;}
/***/

div.reiting {
	background: url(img/reiting_fon.gif) top left repeat-y;
	padding: 0px;
	position: relative;}
div.reiting2  {
	background: url(img/reiting_bot.jpg) bottom left no-repeat;
	padding: 0px;}
div.reiting3 {
	background: url(img/reiting_top.jpg) top left no-repeat;
	padding: 0px 15px 30px 10px;
	font-size: 11px;}
div.reiting3 td {
	padding: 0px 5px 3px 0px;} 
.reiting span.rtitle {
	color: #00639b;
	padding: 15px 5px 10px 0px;
	display: block;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;}

.reiting p {
	padding: 0px 0px 0px 0px;
	margin: 0px;
	font-size: 11px;
	clear: both;}
/***/
div.konkurs {
	background: url(img/konkurs_fon.gif) top left repeat-y;
	padding: 0px;
	position: relative;}
div.konkurs div  {
	background: url(img/konkurs_bot.jpg) bottom left no-repeat;
	padding: 0px;}
div.konkurs div div {
	background: url(img/konkurs_top.jpg) top left no-repeat;
	padding: 0px 15px 30px 10px;
	font-size: 11px;}
.konkurs span.rtitle {
	color: #AB7D00;
	padding: 15px 5px 10px 0px;
	display: block;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;} 
.konkurs td {
	font-size: 11px;
	padding: 0px 3px 3px 0px;}
.konkurs p {
	padding: 0px 0px 0px 0px;
	margin: 0px;
	clear: both;}
/***/
.reiting span {
	position: relative;}
.digit {
	width: 18px;
	height: 18px;
	background: url(img/digit_yl.gif) top left no-repeat;
	color: #b2a51a;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	display: block;
	float: left;
	padding: 0px;
	margin: 0px 5px 3px 0px;}
.konkurs .digit {
	background: url(img/digit_bl.gif) top left no-repeat;
	color: #FFFFFF;
	margin: 0px 5px 0px 0px;}
/***/
.abs_digit {
	position: absolute;
	margin: 35px 0px 0px 90px;
	padding: 0px;
	z-index: 1;}
.abs_digit span {
	margin-bottom: 5px;
	padding: 0px;}
.abs_digit2 {
	position: absolute;
	margin: 38px 0px 0px 103px;
	padding: 0px;
	z-index: 1;
	width: 90px;}
div.reiting div.digit_div {
	margin-bottom: 5px;
	padding: 0px;}

/***/
.reg {
	background: url(img/reg_fon.jpg) top left repeat-y;
	position: relative;
	margin-bottom: 15px;}
.reg div {
	background: url(img/reg_top.jpg) top left no-repeat;}
.reg div div {
	background: url(img/reg_bot.jpg) bottom left no-repeat;
	padding: 5px 0px 20px 0px;
	font-size: 11px;}
.reg td {
	font-size: 11px;}
.reg div.lreg {
	background: url(img/x.gif) top left repeat-y;
	padding: 3px 10px 5px 10px;
	margin: 0px;}
.reg div.dreg {
	background: url(img/reg_dfon.jpg) top left repeat-y;
	padding: 3px 10px 5px 10px;
	margin: 0px;}
.reg input {
	margin: 3px 0px;
	border: 1px solid #e1d280;}
.reg input.isreg {
	margin: 0px;
	border: 1px none #e1d280;
}
/***/
.list {
	padding: 5px 0px 5px 15px;
	text-indent: -15px;
	margin: 0px;}
/****/
.digit_div {
	border-left: 1px solid #a5a5a5;
	height: 16px;
	font-size: 11px;
	text-align: center;
	vertical-align: top;
	background: url(img/x.gif) no-repeat;
	padding: 0px;
	margin: 0px;
	clear: both;}
.digit_div span {
	border-right: 1px solid #a5a5a5;
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
	background: #fdfdfd url(img/digit_div.gif) bottom repeat-x;
	width: 7px;
	font-size: 11px;
	padding: 0px 0px 0px 1px;
	margin: 0px;
	float: left;
	display: block;
	height: 14px;
	vertical-align: middle;}
.digit_div div {
	border-right: 1px solid #a5a5a5;
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
	background: #fdfdfd url(img/digit_div.gif) bottom repeat-x;
	width: 7px;
	font-size: 11px;
	padding: 0px 0px 0px 1px;
	margin: 0px;
	float: left;
	display: block;
	height: 14px;
	text-align: left;
	vertical-align: middle;}
/***/
.tm2 td {
	padding: 6px 0px 3px 0px;
	vertical-align: middle;
	font-size: 11px;}
.tm2 div {
	display: inline;
	padding: 0px 40px 0px 0px;
	color: #2fa0dc;}
.tm2 img {
	border: 0px;
	margin-right: 3px;}
.tm2 a {	
	text-decoration: none;
	font-size: 11px;}
.tm2 div a {	
	text-decoration: none;
	color: #2fa0dc;}
.tm2 a:hover {
	text-decoration: none;}
/****/
.myinfo {
	
	padding: 5px;
	display: block;}
.myinfo img {
	margin-right: 2px;}
/***/
.user {
	display: block;
	width: 87px;
	text-align: center;
	vertical-align: middle;
	padding: 5px 0px 4px 0px;
	background: url(img/but_user_fon.gif) top repeat-x;
	border: 1px solid #dc895d;
	color: #255576;
	text-decoration: none;}
.worker {
	display: block;
	width: 87px;
	text-align: center;
	vertical-align: middle;
	padding: 5px 0px 4px 0px;
	background: url(img/but_worker_fon.gif) top repeat-x;
	border: 1px solid #0f5899;
	color: #fff;
	text-decoration: none;}
/***/

.rnews {
	background: url(img/rblue_blue.gif) top left repeat-y;
	}
.rnews div {
	background: url(img/rblue_bot_news.gif) bottom left no-repeat;}
.rnews div div {
	padding: 0px 0px 10px 0px;
	font-size: 11px;}
.rnews div.dblue_top {
	background: url(img/rblue_title_top.gif) top left no-repeat;
	padding: 7px 10px 4px 15px;
	height: 20px;
	font-weight: bold;
	color: #0079c6;}
.rnews span.news {
	padding: 5px 15px 10px 15px;
	display: block;}
/***/
.ndate {
	background: url(img/news_date.gif) top left repeat-x;
	display: block;
	border: 1px solid #ceb70d;
	width: 66px;
	padding: 1px 3px;
	color: #4d5d97;
	font-weight: bold;
	font-size: 10px;}
/***/
/***/
div.rkonkurs {
	background: url(img/rkonkurs_fon.gif) top left repeat-y;
	padding: 0px;
	position: relative;}
div.rkonkurs2  {
	background: url(img/rkonkurs_bot.jpg) bottom left no-repeat;
	padding: 0px;}
div.rkonkurs3 {
	background: url(img/rkonkurs_top.jpg) top left no-repeat;
	padding: 0px 15px 35px 10px;
	font-size: 11px;}
.rkonkurs span.rtitle {
	color: #fff;
	padding: 15px 0px 10px 0px;
	display: block;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;} 
.rkonkurs td {
	font-size: 11px;
	padding: 0px 3px 3px 0px;}
.rkonkurs p {
	padding: 0px 0px 0px 0px;
	margin: 0px;
	clear: both;}

.rkonkurs .digit {
	background: url(img/digit_bl2.gif) top left no-repeat;
	color: #FFFFFF;
	margin: 0px 5px 0px 0px;}
/***/
.tbl {
	border-collapse: collapse;
	border: 1px solid #E0EAF0; !important}
.tbl th {
	background: #C0E4FB;
	font-weight:normal;
	font-size: 11px;
	text-align: left;
	padding: 3px;
	border: 1px solid #F8F5E9;}
.tbl tr.col1 td, .tbl td  {
	padding: 3px;
	font-size: 11px;
	border-left: 1px solid #E0EAF0;
	border-right: 1px solid #E0EAF0;}
.tbl tr.col2 td {
	padding: 3px;
	background: #F5EFDB;
	font-size: 11px;
	border-left: 1px solid #F8F5E9;
	border-right: 1px solid #F8F5E9;}
/***/
.menu {
	background: url(img/menu_fon.gif) top left repeat-y;
	position: relative;
	margin-bottom: 15px;}
.menu_bot {
	background: url(img/menu_bot.gif) bottom left no-repeat;
	padding-bottom: 50px;}
.menu_top {
	background: url(img/menu_top.gif) top left no-repeat;
	color: #fff;
	font-size: 12px;
	height: 26px;
	text-transform: uppercase;
	padding: 5px 20px 3px 8px;
	text-align: left;
	font-weight: bold;}
.menu_link {
	padding: 8px 0px 8px 0px;}
.menu_link a {
	background: url(img/menu_bul.gif) left top no-repeat;
	display: block;
	padding: 2px 0px 2px 12px;
	margin-right: 20px;
	margin-left: 10px;
	color: #724d00;
	text-decoration: none;
	font-weight: bold;}
.menu_link a:hover {
	color: #d69e2a;}
.menu_sublink {
	padding: 8px 0px 8px 10px;
	margin: 2px 0px;
	background: url(img/menu_sub.gif) top left repeat-y;}
.menu_sublink a {
	background: url(img/menu_subbul.gif) left top no-repeat;
	display: block;
	margin-right: 20px;
	padding: 0px 0px 3px 12px;
	color: #000;
	font-size: 11px;
	text-decoration: underline;
	font-weight: normal;}
.menu_sublink a:hover {
	color: #d69e2a;}
.menu_title {
	background: url(img/menu_title.gif) top left no-repeat;
	color: #fff;
	font-size: 12px;
	height: 26px;
	text-transform: uppercase;
	padding: 5px 20px 3px 8px;
	text-align: left;
	font-weight: bold;}
/***/
.bmenu {
	background: url(img/bmenu_fon.gif) top left repeat-y;
	position: relative;
	margin-bottom: 15px;}
.bmenu_bot {
	background: url(img/bmenu_bot.gif) bottom left no-repeat;
	padding-bottom: 50px;}
.bmenu_top {
	background: url(img/bmenu_top.gif) top left no-repeat;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px 20px 3px 8px;
	text-align: left;
	height: 26px;
	font-weight: bold;}
.bmenu_link {
	padding: 8px 0px 8px 0px;}
.bmenu_link a {
	background: url(img/bmenu_bul.gif) left top no-repeat;
	display: block;
	padding: 2px 0px 2px 12px;
	margin-right: 20px;
	margin-left: 10px;
	color: #724d00;
	text-decoration: none;
	font-weight: bold;}
.bmenu_link a:hover {
	color: #d69e2a;}
.bmenu_sublink {
	padding: 8px 0px 8px 10px;
	margin: 2px 0px;
	background: url(img/bmenu_sub.gif) top left repeat-y;}
.bmenu_sublink a {
	background: url(img/menu_subbul.gif) left top no-repeat;
	display: block;
	margin-right: 20px;
	padding: 0px 0px 3px 12px;
	color: #000;
	font-size: 11px;
	text-decoration: underline;
	font-weight: normal;}
.bmenu_sublink a:hover {
	color: #d69e2a;}
.bmenu_title {
	background: url(img/bmenu_title.gif) top left no-repeat;
	color: #fff;
	font-size: 12px;
	height: 26px;
	text-transform: uppercase;
	padding: 5px 20px 3px 8px;
	text-align: left;
	font-weight: bold;}
/***/
.mark {
	display: block;
	padding: 5px 10px;
	width: 100px;
	background: url(img/mark_fon.gif) top repeat-x;
	border: 1px solid #87bdda;
	color: #2f4e65;
	text-align: center;
	float: left;
	font-weight: bold;
	text-decoration: none;}
a.mark:hover, .mark_on {
	display: block;
	padding: 5px 10px;
	width: 100px;
	background: url(img/mark_fon_on.gif) top repeat-x;
	border: 1px solid #0f5899;
	color: #fff;
	text-align: center;
	float: left;
	font-weight: bold;
	text-decoration: none;}
.bw {
	background: #fff;}
.bb {
	background: #ace6ff; 
	margin: 0px 10px 10px 0px;
	float: left;}
.bb2 {
	background: #ace6ff;}
.bb input, select {
	border: 1px solid #0fb4ec;}
.by {
	background: #fbeea6; margin: 0px 0px 10px 10px;
	float: right;
	clear: both;}
.by_menu a{
	display: block;
	color:#000;
	padding: 0px 0px 3px 10px;
	background: url(img/by_menu.gif) top left no-repeat;
	text-decoration: underline;}
a:hover {
	color: #1378d7;
	text-decoration: underline;}
.attention1 img, .attention2 img, .attention3 img, .attention4 img {
	margin: 10px;}
.attention1 {
	background: #f5efdb;
	height: 65px;
	margin: 5px 0px;}
.attention2 {
	background: #c5ebff;
	height: 65px;
	margin: 5px 0px;}
.attention3 {
	background: #fbeea6;
	height: 65px;
	margin: 5px 0px;}
.attention4 {
	background: #ffca00;
	height: 65px;
	margin: 5px 0px;}
td.dobro {
	font-size: 12px;}
/***/
.tbl_stat  {
	border: 1px solid #D4E3EA;}
.tbl_stat  td {
	padding: 5px;
	border-right: 1px solid #D2D2D2;}
.tbl_stat  tr.line td {
	background: #F5EFDB;
	border-right: 1px solid #fff;}
.tbl_stat  th {
	color: #658AA5;
	background: #C5EBFE;
	padding: 5px;
	border-bottom: 3px solid #fff;}
.tbl_stat td.nobdr {
	border: 0px;}

.popap {
	border-collapse: collapse}
.popap td {
	border: 1px solid #5656E4;
	padding: 5px 10px;
	font-size: 11px;
	background: #FBEEA6;}
.popap td.title {
	background: #53AEE3;
	font-size: 13px;
	color: #FFFFFF;}
	
	
.close td {
	background: #5FB4E5; 
	color: #FFFFFF;
	padding: 0px;
	font-size: 12px;}
.close td a {
	display: block;
	padding: 3px 10px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;}
	
.formsearch {
	font-size: 11px;
}	
input.nobrd {
	border: 0px;
}
.popap td.g2 {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #e6e6fa;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
	height:20px;
	text-align:center;
	width:20px;
	padding:0;
	margin:0;
}
.popap td.g3 {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #e6e6fa;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
	height:30px;
	text-align:center;
	width:30px;
	padding:0;
	margin:0;
}

fieldset{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#F3F9FF none repeat scroll 0 0;
	border-color:#80D3FD;
	border-style:solid;
	border-width:1px 1px 1px 4px;
	margin:5px;
	padding:10px;
}
#tooltip{
background:#FBEEA6 none repeat scroll 0 0;
border:1px solid #b4d6ef;
font:normal 12px Tahoma, Verdana, Arial, sans-serif;
color:#000;
margin:0px;
padding:4px 5px;
position:absolute;
visibility:hidden;
}

.mzn-spoiler {
}
.mzn-spoiler-title {
	cursor:pointer;
	font-size:12px;
	padding-left:4px;
	border:1px solid #e7e7e7;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background:#e0e0e0 url(/img/mzn/arrow-down.png) 100% center no-repeat;
}
.mzn-spoiler-container {
	background:#f7f7f7;
	padding-bottom:7px;
	padding:3px 5px;
	border:1px solid #e7e7e7;
	border-top:none;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.mzn-spoiler-content {
	display:none;
	font-size:12px;
}

.commimg {
	display:inline-block;
	position:relative;
}
.commimg:hover div{
	position:absolute;
	right:0;
	top:0;
	display:block;
	width:0px;
	border-right:4px dashed #f00;
	background-color:#ff0;
	height:100%;
	cursor:e-resize;
}
.commimg span,
.commimg font {
	position:absolute;
	display:none;
	color:#fff;
}
.commimg span {
	bottom:0px;
	background:#FF9200 5px center no-repeat;
	padding:5px 5px 5px 26px;
	cursor:pointer;
}
.commimg span.comments {
	background-image:url('/img/mzn/comments16.png');
	width:16px;
	height:16px;
	padding-left:5px;
	right:4px;
}
.commimg span i {
}
.commimg font {
	background:url('/img/mzn/black80.png');
	line-height:2;
	font-style:italic;
	left:0;
	top:0;
	overflow:hidden;
	max-height:24px;
	padding:0 20px 0 5px;
}
.commimg span.min {
	background-image:url('/img/mzn/zoom_in16.png')
}
.commimg span.max {
	background-image:url('/img/mzn/zoom_out16.png')
}
.commimg:hover span,
.commimg:hover font {
	display:inline-block;
}
.commimg span:hover {
	background-color:#FFAA00;
}