/* :)*/
#logo {
	background: url(logo-p.png) no-repeat top left transparent!important;
}
.navbar .navitem {
background: url(bgnavitem-p.gif) no-repeat top right;
}


.navbar {
background:url(bgnavbar-p.gif) repeat-x top left
}

.navbar .navitem:hover {
background: url(bgnavbarhover-p.gif) repeat-x top right!important;
}


.navbar .navitem:hover {
background: url(bgnavbarhover-p.gif) repeat-x top right!important;
}

.navbar .navitem.active, .navbar .navitem.active:hover {
cursor: pointer;
background: url(bgnavbaractive-p.gif) repeat-x top right!important;
}

/* */

#mensajes-list .list-element:hover {
background: #e41146
}
#show-paises-lista {
background: #620202
}
.sub-category-dir {
background:#fdefef
}
.dir-box {
background:#fdefef
}
.listado-content.dir a {
color:#067
}
.form-add-post {
background:#EEE;border-top:5px solid #ff112b
}
.sidebar-add-post.opciones {
 border-top:5px solid #ff1173
}
.form-add-post label span {
color:#ff1135
}
#header {
background: url(header-p-new-logo.png) repeat-x top center #8e1a1a;
border-bottom: 1px solid #ac1130
}
#footer ul li a {
color: #8e1a1a
}
#nav {
background: #53121d url(navbg-p.gif) repeat-x top left;
}
#nav ul li a {
background: #620202
}
#nav ul li:hover a {
background: #920d00
}
#nav ul li.active:hover a {
	background-color: #FFF;
}
#menu ul li a, .menu-tabs-perfil ul li a {
color: #105
}
.weather-more strong span.min {
color: #ff1116
}
.title .action .min-dropdown li a:hover {
background: #067
}
ul#post-filter-select-menu li a {
color: #067
}
.categoriaList li.active {
background:#ff1114;
text-shadow: 0 1px 0 #cf1122
}
.categoriaList li.active:hover {
background:#ff1114;
text-shadow: 0 1px 0 #cf1122
}
.categoriaList li.active .count {
text-shadow: 0 1px 0 #cf1122
}
.list-element p {
color: #889
}
.list-element p a {
color: #889
}
#point-bar {
background: url(userbarbg-p.png) top left repeat-x #c91131;
border: 1px solid #951129
}
.masdiez {
background: url(userbarbg-p.png) top left repeat-x #c91131;
border: 1px solid #951129
}
.post-data .post-points ul li a:hover {
background-color: #ff114f
}
.author .rank {
color: #105
}
.shadow-dark {
box-shadow: 0 1px 0 #ff1142;
-mox-box-shadow: 0 1px 0 #ff1142;
-webkit-box-shadow: 0 1px 0 #ff1142
}
.comments-empty, .alert-msg {
background: #fce0e9;
border: 2px dashed #fb89ae;
color: #a50f16
}
.comment-highlight-postauthor {
background:#fef2f2
}
.navbar {
border-bottom: 1px solid #520700;
 border-top: 1px solid #520700;
 border-left: 1px solid #520700;
 border-right: 1px solid #520700
}

.post-data .post-points ul li {

background: url(userbardivider-p.gif) bottom right no-repeat;
}


.navitem.useritem.hover div {
border-bottom: 1px solid #6a1115;
background: url(bgnavbaractive-p.gif) repeat-x top right!important;
}
#mensajes-list .unread,#notifications-list .unread {
background:#ff26ea
}
#notifications-list .unread {
background:#ff26ea
}
#mensajes-list .unread {
background-color:#ff26ea
}
#mensajes-list .unread:hover,#notifications-list .unread:hover {
background-color:#ffccbc
}
.m-select {
background: #ff1135;
border-bottom: #ff1140
}
.m-linea-mensaje {
border-bottom: 1px dashed #ff332c
}
.avatar-list-48 li.admin {
border: 1px solid #ff222a
}
.content-splash h3 {
color: #ff1171
}
.content-splash h4 {
color: #ac1135
}
.result-post a,.result-post a:hover {
color: #aa0105
}
.view-more {
background: #fdefef
}
.view-more-list {
background: #EEE;
border-top: 1px solid #CCC
}

.view-more-list {
background: #EEE;
border-top: 1px solid #CCC
}

a:focus, a:hover {
color:#b11313
}
a {
color:#8e1a1a
}
#clima {
background: #ff12cd
}
#clima h2 {
color:#8e221d
}
.min-temp strong {
color: #ff117b
}
.title-box {
color: #8e221d
}
.tabbed-d-test .sidebar-tabs-test li a:hover {
background-color:#ffddbb
}
.tabbed-d a {
color: #c7112e
}
.tabbed-d .content-tabs h3:hover {
background: #ff1111
}
.tabbed-d .content-tabs h3.active {
border: 1px solid #7f0027
}
div.dn-txt span {
color:#ff221d
}
.item-add-post a.fuente {
color:#ff445c
}
.main-source .sub-nav ul li a {
color:##ff114e
}
.cita a {color:#d96d8b}

.navitem.useritem ul li {
border: 1px solid #6a1115;
background: url(user-menu-line-p.png) top repeat-x #831128!important
}
.navitem.useritem ul li:hover {
background: url(user-menu-line-p.png) top repeat-x #cd1126!important
}
.dash-sidebar .avatar span {
color: #ae1135
}
.dash-sidebar a.visited {
text-shadow: 0 -1px 0 #ff2244
}
ul.mentionsuggest li:hover {
background: #ffeec7
}
ul.mentionsuggest li.active {
background: #ffeec7
}
.my-shout-textarea-mi span b , .my-shout-textarea-perfil span b {
border: 1px solid #ff557a;
background: none repeat scroll 0 0 #ff16dc
}
#main-col.share #sidebar h4 {
color: #901124;
background: #ff16dc
}
.share-h p.blue {
background-color: #ff111a
}
.share-h p.white {
color: #ff111a
}
.f-tit h2 {
color: #901124
}
.tit-num span {
background: #ff113b
}
.share-item.active {
border: 1px solid #ff3326;
background: #ff11d2
}
.share-item.active .i-radio {
border-top: 1px solid #ff3326;
background: #ff779b
}
.box-up.pc {
border-right: 1px solid #ff13c5;
background: #ff54f4
}
div.facebook-box-out {
background:url("facebook-box.gif") no-repeat scroll 60px 3px #005;
border: 1px solid #c91100
}
.add-url input.simple-btn:hover {
background: #ff88a9
}
.add-url input.simple-btn:active {
background: #ff778d
}
.my-shout-attach-image.select-list li.hover {
color: #067
}
.post-share-bottom {
	background: url(p_ribbon.jpg) no-repeat bottom right;
}
.share-t {
	background: url(share-p.png) no-repeat scroll left top transparent;
}


/* Warning */
#pmyr_div{
	position:absolute;
	border:1px solid #333;
	font: 15px arial;
	padding-left: 20px;
	padding-right: 20px;
	background-Color:#FFFFFF;
	text-align:center;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	_position:absolute;
	_top:expression(eval('document.documentElement.scrollTop')+'px');
	_left:expression(eval('document.documentElement.scrollLeft')+'px');
	_width:expression(document.documentElement.clientWidth+'px');
	_height:expression(document.documentElement.clientHeight+'px');
	z-index:100;
}


/* POST RELATED */
.post-box .box-item {
	height: auto !important;
}

.post-box .box-item .post-title {
	color: #8e1a1a !important;
}

.tops-large-home .box-item .post-title {
	padding-left: 4px;
}


.social-bar .taringa {
	border-color: #940524;
	background: #940524;
	background-image: linear-gradient(to bottom,  #940524 0%,#71031D 100%);
}

.social-bar .sharer-button.taringa:after {
	background-position: 0 -111px;
}

.btn.a {
	border-color: #9b2b3e;
	color: #ffffff;
	text-shadow: 0 -1px 1px #981319;
	background: #c82a38;
	background: linear-gradient(top,  #c82a38 0%,#981319 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c82a38', endColorstr='#981319',GradientType=0 );
}

.btn.a:hover {
	border-color: #c52a38 #97141d #830c11 !important;
	border-style: solid !important;
	border-width: 1px !important;
	box-shadow: 0 1px 0 0 #9b2b3e inset !important;
	text-shadow: 0 -1px 1px #981319 !important;
	background: #b82330;
	background: linear-gradient(top,  #b82330 0%,#8b1016 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82330', endColorstr='#8b1016',GradientType=0 );
}

.btn.a:active, .btn.a.active {
	-moz-border-bottom-colors: none !important;
	-moz-border-image: none !important;
	-moz-border-left-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-top-colors: none !important;
	background: none repeat scroll 0 0 #981319 !important;
	border-color: #9b2b3e !important;
	border-style: solid !important;
	border-width: 1px !important;
	box-shadow: 0 0 6px 3px #87191e inset, 0 1px 0 0 #FFFFFF !important;
	text-shadow: 0 -1px 1px #981319 !important;
}
.ui-dialog.new-modal-dialog .ui-button.floatR {
    border-color: #9b2b3e !important;
    border-style: solid !important;
    border-width: 1px !important;
    box-shadow: none!important;
    text-shadow: none;
    color: #fff!important;
    border-radius: 4px;
    margin-right: 0;
    background: linear-gradient(top, #c82a38 0%,#981319 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c82a38', endColorstr='#981319',GradientType=0 );
}

.ui-dialog.new-modal-dialog .ui-button.floatR:active {
    background: linear-gradient(top, #c82a38 0%,#981319 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c82a38', endColorstr='#981319',GradientType=0 )!important;
}

.ui-dialog.new-modal-dialog .ui-button.floatR:hover {
    background: linear-gradient(top, #981319 0%,#c82a38 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#981319', endColorstr='#c82a38',GradientType=0 );
}

/* Moderación del post */

.moderacion_del_post {
  position: fixed;
  left: 0;
  bottom: -4px;
  width: 100%;
  z-index: 9999;
  background: url(modbg.png) top left repeat-x;
}
.mod_container {
  width: 1000px;
  margin: 0 auto;
  background: #444;
}
#mod-acciones-click {
  float: left;
}
#mod-acciones-click li {
  float: left;
}
#mod-acciones-click li a {
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
}
#mod-acciones-click li a.edit_mod {
  background: url(modedit.png) top left no-repeat;
}
#mod-acciones-click li a.trash_mod {
  background: url(moddelete.png) top left no-repeat;
}
#mod-acciones-click li a.reactivar_mod {
  background: url(modaceptar.png) top left no-repeat;
}
#mod-acciones-click li.historial a {
  background: url(modhistory.png) top left no-repeat;
}
#mod-acciones-pushed {
  float: right;
}
#mod-acciones-pushed li span.text {
  float: left;
  margin-right: 10px;
  font-size: 11px;
  text-shadow: 0 1px 1px #000;
  text-transform: uppercase;
  color: #FFF;
}
#mod-acciones-pushed li span.text a {
  color: #FFF;
}
#mod-acciones-pushed li,
#mod-acciones-click li {
  display: block;
  float: left;
  padding: 7px 14px;
}
.toggle {
  float: left;
  height: 15px;
  width: 30px;
  border-radius: 40px;
  cursor: pointer;
  background: url(check.png) no-repeat scroll 18px 5px #9ab83a;
}
.toggle span {
  display: block;
  float: left;
  width: 13px;
  height: 13px;
  margin: 1px;
  background: url(toggle.png) top left no-repeat;
}
.push .toggle {
  background: url(cross.png) no-repeat scroll 5px 5px #c92938;
}
.push .toggle span {
  float: right;
  margin: 1px 2px;
  background: url(toggle.png) top left no-repeat;
}
.blockmod .toggle {
  background: #888;
}
.blockmod .toggle span {
  float: left;
  margin: 1px 2px 1px 15px;
  background: url(toggle.png) top left no-repeat;
}
#descargas.push .toggle {
  float: left;
  width: 30px;
  height: 15px;
  border-radius: 40px;
  background: url(check.png) no-repeat scroll 18px 5px #9ab83a;
}
#descargas.push .toggle span {
  display: block;
  float: left;
  margin: 1px;
  width: 13px;
  height: 13px;
  background: url(toggle.png) top left no-repeat;
}
#descargas .toggle {
  width: 30px;
  height: 15px;
  border-radius: 40px;
  background: url(cross.png) no-repeat scroll 5px 5px #c92938;
}
#descargas .toggle span {
  float: right;
  width: 13px;
  height: 13px;
  margin: 1px 2px;
  background: url(toggle.png) top left no-repeat;
}
#descargas .toggle.sensible {
  background-color: yellow;
}
#descargas .toggle.nuevo {
  background-color: yellow;
}
.widget-admin.listados button {
  padding: 5px 10px;
  border: 1px solid #c6c6c6;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #aaa;
  border-radius: 5px;
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
  color: #111;
  text-align: center;
  text-shadow: 0 1px 0 #EEE;
  background: #e4e4e4;
  -webkit-background-clip: padding-box;
}
