@charset "utf-8";
@media all{IE\:homePage{behavior:url(#default#homepage)}}

/* common_layout&main */
/* reset */
html,body{height:100%;font-size:12px;font-family:"돋움",Dotum,Tahoma,Arial}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input{margin:0;padding:0}
body,table,input,textarea,select,button,th,td,input,select,textarea,th,td,p,dl,dt,dd,li,pre{color:#676767;font-family:dotum,"돋움"}
h1,h2,h3,h4,h5,h6{font-size:100%}
fieldset,img{border:0}
ul,ol,li,dl,dt,dd{list-style:none}
address,var,em,dfn{font-style:normal}
.blind,legend{display:block;overflow:hidden;position:absolute;top:-999em;left:0;font-size:0;line-height:0;text-indent:-999em}
caption,hr{display:none !important}
a:link,a:visited,a:active{color:#676767;text-decoration:none}
a:hover{color:#1179ea;text-decoration:underline;cursor:pointer}
button{border:0;cursor:pointer}
label{cursor:pointer}

/* skipnavi */
#skipnavi{margin:0;padding:0}
#skipnavi li{font-size:0;line-height:0}
#skipnavi li a{position:absolute;left:0;top:-100px;z-index:5000;display:block;padding:8px 0 7px;width:100%;background:#1179ea;color:#fff;text-align:center;text-decoration:none}
#skipnavi li a:active,#skipnavi li a:focus{top:0;font-size:12px;font-weight:bold;line-height:1.5}

/* g_header */
#g_header{position:relative;min-width:980px;z-index:3000;background:url(//pics.gmkt.kr/pc/ko/common/bg_common.png) repeat-x 0 0;border-bottom:2px solid #3b78ce}
#g_header:after{content:"";display:block;clear:both}
#g_header h1{float:left}
#g_header h1>a{display:block;padding:20px 14px 16px}
#g_header h1>a>span{overflow:hidden;display:block;width:180px;height:52px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat;text-indent:-999em}
#g_header h1>a.sfc>span{background-position:0 -300px}
#g_header #search{position:absolute;z-index:2200;left:280px;top:23px;padding:10px;width:430px;height:28px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat 0 -60px;font-weight:normal}
#g_header #search .inner{position:static}
#g_header #search input{outline:0;padding:0;width:100%;height:29px;background:transparent;border:0 none;color:#000;font-size:14px;font-weight:bold;text-indent:11px;line-height:29px;-webkit-appearance:none}
#g_header #search input.ad{color:#777}
#g_header #search .button_search{position:absolute;top:3px;right:0;width:55px;height:44px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -395px -63px;font-size:0;text-indent:-999em}
#g_header #search .auto{position:absolute;left:6px;top:45px;display:none;width:436px;background:#fff;border:1px solid #1179ea;border-top-color:#cad8f3}
#g_header #search .auto.active{display:block}
#g_header #search .auto ul{margin:0;padding:10px 0}
#g_header #search .auto ul li{color:#444}
#g_header #search .auto ul li.empty{padding-left:15px;height:21px;line-height:21px}
#g_header #search .auto ul li a{overflow:hidden;display:block;padding:2px 15px 7px 15px;height:12px;color:#444;line-height:160%}
#g_header #search .auto ul li a:hover{display:block;background:#f6f6f6;text-decoration:none}
#g_header #search .auto ul li strong{color:#0082f0;font-weight:bold}
#g_header #search .auto .search_ad{overflow:hidden;float:left;width:285px}
#g_header #search .auto .search_ad_item{display:none;float:left;padding:23px 0 0;width:150px;height:207px;border-left:1px solid #eef0f2;text-align:center}
#g_header #search .auto .search_ad_item .tit{height:26px;color:#000;font-weight:bold}
#g_header #search .auto .search_ad_item .prd{margin:0 auto;width:100px}
#g_header #search .auto .search_ad_item .prd a{display:block;color:#777}
#g_header #search .auto .search_ad_item .prd a:hover{color:#0082f0}
#g_header #search .auto .search_ad_item .prd img{width:100px;height:100px;vertical-align:top}
#g_header #search .auto .search_ad_item .prd .name{display:block;overflow:hidden;height:28px;padding:12px 5px 0;line-height:14px;font-size:11px;letter-spacing:-1px}
#g_header #search .auto .search_ad_item .prd .price strong{display:block;padding-top:3px;color:#000}
#g_header #search .auto .search_ad_item .prd .price strong em{display:inline;font:bold 12px Tahoma,Verdana,sans-serif;padding:0}
#g_header #search .auto .search_ad+.search_ad_item{display:block}
#g_header>.wrap>.ad{float:right;width:190px;height:88px}
#g_header>.wrap>.ad2 .ad_bnr_wrap{position:absolute;right:-80px;width:80px;height:35px}
#g_header>.wrap>.ad2 .ad_bnr_wrap{position:absolute;right:-80px;width:80px;height:35px}
#g_header .all{position:relative;zoom:1;width:100%}
#g_header .all .button_all{overflow:hidden;display:block;width:201px;height:50px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat 0 -240px;text-indent:-999em}
#g_header .all .button_all.selected{background-position:-210px -240px}
#g_header .all .category_list{position:absolute;left:0;top:52px;z-index:2100;display:none;width:100%}
#g_header .all .category_list ul{overflow:hidden;height:400px;background:#fff;border:1px solid #bcc5d5;border-top:0 none}
#g_header .all .category_list li{float:left;width:120px;background:#fff;border-left:1px solid #eef0f2}
#g_header .all .category_list li.n1,#g_header .all .category_list li.n9{width:137px;border-left:0 none}
#g_header .all .category_list li.n8,#g_header .all .category_list li.n16{width:114px}
#g_header .all .category_list li.n6,#g_header .all .category_list li.n14{width:128px}
#g_header .all .category_list li.n5,#g_header .all .category_list li.n13{width:116px}
#g_header .all .category_list li.n7,#g_header .all .category_list li.n15{width:116px}
#g_header .all .category_list li dt{margin-bottom:5px;padding:13px 0 10px;height:14px;background:#f4f5f7;color:#444;font-weight:bold;text-indent:14px}
#g_header .all .category_list li dd{height:190px;color:#777}
#g_header .all .category_list li dd>a,#g_header .all .category_list li dd>span>a{display:block;padding:2px 4px 2px 14px;height:14px;color:#777;letter-spacing:-1px}
#g_header .all .category_list li .service{display:block;margin-top:6px}
#g_header .all .category_list li .service>a{color:#6288d2;text-decoration:none}
#g_header .all .category_list li .service>a .arrow{overflow:hidden;display:inline-block;margin-left:2px;width:4px;height:17px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -460px -246px;vertical-align:middle;text-indent:-999em}
#g_header .all .category_list li .service>a:hover{background-color:#eff5fc}
#g_header .all a.button_close{overflow:hidden;position:absolute;right:1px;bottom:1px;display:block;padding:0;margin:0;width:31px;height:31px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -420px -240px;text-indent:-999em}
#g_header.sfc{background-position:0 -150px}
#g_header #navbar{clear:both;position:relative;height:50px}
#g_header #navbar:after{content:"";display:block;clear:both}
#navbar>.service{overflow:hidden;position:absolute;left:212px;top:1px}
#navbar>.service span{display:block;float:left;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -360px -120px}
#navbar>.service span:first-child{background:none}
#navbar>.service a{display:block;padding:17px 8px 17px 9px}
#navbar .tools{position:absolute;right:0;top:1px}
#navbar .tools>a{overflow:hidden;display:block;float:left;width:53px;height:49px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat;text-indent:-999em}
#navbar .tools a.sign{background-position:0 -120px}
#navbar .tools .myinfo{position:relative;display:block;float:left;height:49px}
#navbar .tools .myinfo>a.grade{overflow:hidden;position:absolute;left:50%;top:0;display:block;width:24px;height:22px;margin:6px 0 0 -12px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat;text-indent:-999em}
#navbar .tools a.grade.family{background-position:0 -180px}
#navbar .tools a.grade.vip{background-position:-40px -180px}
#navbar .tools a.grade.svip{background-position:-80px -180px}
#navbar .tools a.myname{display:block;padding-top:32px;color:#444;font-weight:bold;vertical-align:top}
#navbar .tools a.myname .name{overflow:hidden;display:inline-block;max-width:90px;white-space:nowrap;vertical-align:top}
#navbar .tools a.myname:hover .name{text-decoration:underline}
#navbar .tools a.join{background-position:-60px -120px}
#navbar .tools a.logout{width:60px;background-position:-120px -120px}
#navbar .tools a.myg{background-position:-180px -120px}
#navbar .tools a.cart{position:relative;width:57px;background-position:-240px -120px}
#navbar .tools a.cart .count{position:absolute;left:52%;top:5px;padding-left:4px;height:14px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -940px -180px;text-indent:0}
#navbar .tools a.cart .count>span{display:block;padding-right:4px;height:14px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat 100% -180px;color:#fff;font-family:tahoma;font-size:11px;font-weight:bold}
.wrap{position:relative;margin:0 auto;width:980px;*zoom:1}
.wrap:after{content:"";display:block;clear:both}

/* Footer */
#footer{clear:both;overflow:hidden;margin-top:20px;padding-bottom:70px;background:url(//pics.gmkt.kr/pc/ko/common/bg_common.png) repeat-x 0 -300px;font-size:11px;letter-spacing:-1px;_text-align:center}
#footer *{_text-align:left}
#footer .inner{position:relative;margin:0 auto;width:980px}
#footer .inner{overflow:hidden}
#footer img{vertical-align:middle}
#footer .link{overflow:hidden;width:100%;height:41px;margin-left:0;border-top:0;border-bottom:0;background:transparent}
#footer .link li{float:left;padding:0 20px 0 19px;*padding-right:19px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -670px -250px;line-height:41px}
#footer .link li.first{padding-left:23px;background:none}
#footer .link li.last{padding-right:23px;*padding-right:21px}
#footer .link a{display:inline-block;margin-top:1px;margin-top:2px \0/IE8+9;color:#666;font-size:12px}
#footer .address{overflow:hidden;display:block;*zoom:1;margin:13px 0;color:#666}
#footer .address p{font-size:11px;line-height:15px}
#footer .address .click{position:relative;top:-1px}
#footer .address .fax{padding-left:5px;letter-spacing:0}
#footer .address em{display:block;padding:6px 0 7px;font-weight:bold;font-size:12px;color:#464646;line-height:15px}
#footer .address .cscenter{float:left;padding-left:24px;width:302px;_width:326px;height:90px;line-height:15px}
#footer .address .cscenter a,#footer .address .e-banking a,#footer .address .e-banking p a{display:inline-block;padding:6px 15px 7px 0;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat 100% -202px;color:#464646;font-size:12px;font-weight:bold}
#footer .address .cscenter a.cs{width:100%;font-weight:normal;padding:0;background:none;font-size:11px;text-decoration:none}
#footer .address .cscenter .mail{font-weight:normal;font-size:11px;background:none;padding:0}
#footer .address .cscenter strong{color:#186fde}
#footer .address .ebaykorea,#footer .address .e-banking{float:left;padding-left:25px;width:302px;_width:327px;height:90px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -970px -240px}
#footer .address .e-banking .mail{padding:0;background:none;font-weight:normal;font-size:11px}
#footer .address .e-banking .btn{margin-top:17px}
#footer .award{position:relative;*zoom:1;border-top:1px solid #d7d7d7}
#footer .award a.prev,#footer .award a.next,#footer .award a.prev_on,#footer .award a.next_on{position:absolute;top:19px;width:16px;height:29px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat;text-indent:-999em}
#footer .award a.prev{left:15px;background-position:-790px -300px}
#footer .award a.next{right:15px;background-position:-810px -300px}
#footer .award a.prev_on{left:15px;background-position:-830px -300px}
#footer .award a.next_on{right:15px;background-position:-850px -300px}
#footer .award ul{overflow:hidden;margin:18px auto 17px;width:865px;height:34px}
#footer .award li{float:left;display:block;width:115px;height:30px;margin:0 0 0 10px;padding:4px 0 0 45px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat;color:#999;font-size:11px;text-indent:0}
#footer .award li.link1{background-position:0 -360px}
#footer .award li.link2{background-position:-170px -360px}
#footer .award li.link3{background-position:-340px -360px}
#footer .award li.link4{background-position:-510px -360px}
#footer .award li.link5{background-position:-680px -360px;width:118px;padding-left:40px}
#footer .award li.link6{background-position:-850px -360px}
#footer .award li.link8{background-position:0 -400px}
#footer .award li.link7{background-position:-170px -400px}
#footer .award li.link9{background-position:-340px -400px}
#footer .award li.link10{background-position:-510px  -400px}
#footer .award li.link11{background-position:-680px  -400px;width:116px}
#footer .award li.link12{background-position:-850px  -400px}
#footer .company{overflow:hidden;height:63px;margin-bottom:22px;border:1px solid #e7e7e7}
#footer .company .marks{position:relative;float:left;margin-top:15px;width:551px;border-right:1px solid #ddd}
#footer .company .marks a,#footer .company .marks span{overflow:hidden;display:block;margin-left:10px;float:left;height:34px;text-indent:-999em;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat}
#footer .company .marks .link_custo{margin-left:14px;width:88px;background-position:0 -440px}
#footer .company .marks .link_privacy{width:73px;background-position:-90px -440px}
#footer .company .marks .link_kolsa{width:87px;background-position:-170px -440px}
#footer .company .marks .link_psecur{width:62px;background-position:-260px -440px}
#footer .company .marks .link_harm{width:104px;background-position:-330px -440px}
#footer .company .marks .link_kcp{width:28px;margin-left:28px;background-position:-440px -440px}
#footer .company .marks .link_nice{width:22px;margin-left:31px;background-position:-480px -440px}
#footer .company .marks .link_ksnet{width:55px;margin-left:13px;background-position:-510px -440px}
#footer .company .svcs{position:relative;float:left;margin-top:17px;width:426px;height:50px}
#footer .company .svcs span{display:block;float:left}
#footer .company .svcs a{overflow:hidden;display:block;float:left;margin-left:34px;width:100px;height:15px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) -570px -440px no-repeat;text-indent:-999em}
#footer .company .svcs .link_openmk{margin-left:24px;}
#footer .company .svcs .link_gmap{background-position:-680px -440px}
#footer .company .svcs .link_secur_ct{background-position:-790px -440px}
#footer .company .svcs .link_ethic{margin-left:24px;background-position:-570px -460px}
#footer .company .svcs .link_vero{background-position:-680px -460px}
#footer .company .svcs .link_cop{background-position:-790px -460px}
#footer .logo-caution{overflow:hidden}
#footer .caution{float:left;margin-left:22px;text-align:left;color:#aaa;letter-spacing:-1px;font-size:11px;line-height:15px}
#footer .caution .point-blue{color:#6e85a0;font-weight:bold}
#footer .copy{clear:both;padding:8px 0 0 23px;color:#aaa;font-family:tahoma;letter-spacing:0;text-align:left;font-size:11px;line-height:15px}
#footer div.address div p a span.btn_footer{overflow:hidden;display:inline-block;width:75px;height:15px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -520px -210px;text-indent:-999em;vertical-align:text-bottom;vertical-align:middle\0/IE9}
#footer div.address div p a span.lsc0 span.btn_telclick{overflow:hidden;display:inline-block;width:65px;height:15px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -600px -210px;text-indent:-999em;vertical-align:text-bottom}
#sfc_footer{clear:both;overflow:hidden;margin-top:20px;text-align:center}
#sfc_footer .top{background:url(//pics.gmkt.kr/pc/ko/common/bg_common.png) repeat-x 0 -300px;font-size:11px;letter-spacing:0px}
#sfc_footer *{_text-align:left}
#sfc_footer .top .inner{position:relative;margin:0 auto 35px;width:980px;overflow:hidden}
#sfc_footer .top .inner .link{overflow:hidden;width:100%;height:41px;margin-left:197px;position:relative;float:left;text-align:left}
#sfc_footer .top .inner .link strong{font-weight:bold}
#sfc_footer .top .inner .link li{display:inline-block;zoom:1;*display:inline;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -670px -250px;line-height:41px;text-align:left}
#sfc_footer .top .inner .link li.first{width:198px;padding-left:0px;background:none}
#sfc_footer .top .inner .link li.middle{width:198px;padding-left:52px}
#sfc_footer .top .inner .link li.last{width:135px;padding-left:52px}
#sfc_footer .top .inner .link a{display:inline-block;margin-top:1px;margin-top:2px \0/IE8+9;color:#666;font-size:12px}
#sfc_footer .top .inner .logo{float:left;width:195px;margin-left:28px;margin-top:35px;border-right:#d7d7d7 1px solid}
#sfc_footer .top .inner .logo li{float:top;height:50px}
#sfc_footer .top .inner .logo li.first{float:top;height:74px}
#sfc_footer .top .inner .logo li.last{float:top;height:53px}
#sfc_footer .top .inner .logo li a span{float:left;display:block;text-indent:-999em;background:url(//pics.gmkt.kr/pc/ko/common/layout/img_sfc_logo.png) no-repeat}
#sfc_footer .top .inner .logo li a span.sfcmall{margin-top:4px;width:146px;height:50px;background-position:0 0}
#sfc_footer .top .inner .logo li a span.gmarket{margin-left:26px;margin-top:0;width:120px;height:30px;background-position:0 -50px}
#sfc_footer .top .inner .logo li a span.shilla_dutyfree{margin-left:34px;margin-top:0;width:103px;height:45px;background-position:0 -85px}
#sfc_footer .top .inner .address{*zoom:1;float:left;margin:51px 0 0 42px;width:365px;line-height:16px}
#sfc_footer .top .inner .address em{display:block;padding:6px 0 7px;font-weight:bold;font-size:12px;color:#464646;text-align:left}
#sfc_footer .top .inner .address p{font-size:11px;padding-top:2px;text-align:left}
#sfc_footer .top .inner .address .ebaykorea{height:92px}
#sfc_footer .top .inner .address .hotelshilla{height:61px}
#sfc_footer .top .inner .address .lsc0{display:inline-block;height:15px;padding-right:15px;line-height:14px}
#sfc_footer .top .inner .address .lsc1{padding-left:10px;line-height:14px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -360px -139px}
#sfc_footer .top .inner .cscenter{float:left;height:153px;margin:54px 0 0 38px;text-align:left;line-height:16px}
#sfc_footer .top .inner .cscenter a{display:inline-block;padding:6px 15px 7px 0;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat 100% -202px;color:#464646;font-size:12px;font-weight:bold}
#sfc_footer .top .inner .cscenter a.cs{width:100%;font-weight:normal;padding:0;background:none;font-size:11px;text-decoration:none}
#sfc_footer .top .inner .cscenter .mail{font-weight:normal;font-size:11px;background:none;padding:0}
#sfc_footer .top .inner .cscenter strong{color:#186fde}
#sfc_footer .bottom{font-size:11px;letter-spacing:0px;background-color:#f5f5f5}
#sfc_footer .bottom .logo-caution{overflow:hidden;margin:0 auto;padding:21px 0 50px;width:980px}
#sfc_footer .bottom .caution{float:left;margin-left:180px;text-align:left;color:#999;letter-spacing:-1px;font-size:11px;line-height:18px}
#sfc_footer .bottom .caution .point-blue{color:#6991be;font-weight:bold}
#sfc_footer .bottom .copy{clear:both;padding:11px 0 15px 180px;color:#6991be;font-family:Arial;letter-spacing:0;text-align:left;font-size:11px;line-height:15px}
/* sfc_floatbanner */
.sfc_floatbanner,.adArea[style="display:none"]~.sfc_floatbanner{position:absolute;right:50%;top:140px;margin-right:-590px;width:88px;height:225px;border:1px solid #e2e6e9;border-top:0 none}
.sfc_floatbanner_min{margin-right:-550px}
.adArea~.sfc_floatbanner{top:210px}
.vip_minishop~.sfc_floatbanner{margin-right:-634px}

/* floatbar */
#floatbar{position:fixed;left:0;bottom:0;z-index:3000;width:100%;height:51px}
#floatbar.active{background:#d4e1f2;border-top:1px solid #c6d7ed}
#floatbar>ul{position:relative;margin:0 auto;width:980px;*zoom:1}
#floatbar>ul:after{content:"";display:block;clear:both}
#floatbar>ul>li{position:relative;float:left;display:none}
#floatbar.active>ul>li,#floatbar>ul>li.control{display:block}
#floatbar>ul>li>a,#floatbar>ul>li>span.title{overflow:hidden;display:block;height:51px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat;text-indent:-999em}
#floatbar>ul>li.control>a{width:51px;background-position:-520px -60px}
#floatbar.active>ul>li.control>a{background-position:-580px -60px}
#floatbar>ul>li.home{border-right:1px solid #b0c6e1}
#floatbar>ul>li.home>a{width:90px;background-position:-520px 0}
#floatbar>ul>li.search>a{width:82px;background-position:-620px 0}
#floatbar>ul>li.search>a>span{position:absolute;left:-999em;bottom:-999em;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat  -610px -158px}
#floatbar>ul>li.search .search{position:absolute;left:-999em;bottom:-999em;padding:11px 12px;width:304px;background:#99b0cf}
#floatbar>ul>li.search.active .search{left:0;bottom:52px}
#floatbar>ul>li.search .search input{outline:0;width:100%;height:43px;background:#fff;border:0 none;color:#000;font-size:14px;line-height:29px;-webkit-appearance:none;text-indent:10px}
#floatbar>ul>li.search .search .button_search{position:absolute;top:12px;right:12px;width:42px;height:42px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -460px -63px;font-size:0;text-indent:-999em}
#floatbar>ul>li.cart>a{width:82px;background-position:-710px 0}
#floatbar>ul>li.myg>a{width:82px;background-position:-800px 0}
#floatbar>ul>li.cs>a{width:82px;background-position:-890px 0;border-right:1px solid #b0c6e1}
#floatbar>ul>li.cs .cs_service{position:absolute;left:-999em;bottom:-999em;padding:6px 0;width:121px;background:#fff;border:2px solid #5b6e86}
#floatbar>ul>li.cs.active .cs_service{left:-22px;bottom:52px}
#floatbar>ul>li.active .arrow{position:absolute;display:block;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat}
#floatbar>ul>li.search.active .arrow{left:0;bottom:-7px;*bottom:-6px;width:82px;height:18px;background-position:-710px -180px}
#floatbar>ul>li.cs.active .arrow{left:21px;bottom:-12px;width:82px;height:12px;background-position:-800px -180px}
#floatbar>ul>li.cs.active>a{border-right-color:#99b0cf}
#floatbar>ul>li.cs .cs_service>a{display:block;padding:4px 12px 5px;height:22px;color:#444;line-height:22px}
#floatbar>ul>li.cs .cs_service>a>span,#floatbar>ul>li.cs .cs_service>a>img{display:inline-block;margin-right:8px;width:22px;height:22px;vertical-align:middle}
#floatbar>ul>li.cs .cs_service>a>span{background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat}
#floatbar>ul>li.cs .cs_service>a.en{margin-top:6px;padding-top:9px;border-top:1px solid #e6e6e6}
#floatbar>ul>li.cs .cs_service>a.en>span{background-position:-820px -60px}
#floatbar>ul>li.cs .cs_service>a.cn>span{background-position:-850px -60px}
#floatbar>ul>li.cs .cs_service>a.g9>span{background-position:-880px -60px}
#floatbar>ul>li.item{width:431px}
#floatbar>ul>li.item a.button_more{width:66px;background-position:-720px -120px}
#floatbar>ul>li.item.active a.button_more{position:absolute;right:-1px;top:-1px;z-index:1;width:67px;height:52px;background-position:-647px -59px;background-color:#99b0cf}
#floatbar>ul>li.item ul{overflow:hidden;float:left}
#floatbar>ul>li.item ul li{position:relative;float:left;margin-left:2px;width:50px}
#floatbar>ul>li.item a:hover{text-decoration:none}
#floatbar>ul>li.item a.button_del{overflow:hidden;position:absolute;right:-999em;top:-999em;z-index:11;display:block;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat;text-indent:-999em}
#floatbar>ul>li.item ul>li:hover>.button_del{right:0;top:0}
#floatbar>ul>li.item.recent a.button_del{width:17px;height:17px;background-position:-940px -60px}
#floatbar>ul>li.item.recent>.title{float:left;width:105px;background-position:-520px -120px}
#floatbar>ul>li.item.recent>ul{width:260px}
#floatbar>ul>li.item.recent>ul li .thumb{width:50px;height:50px;vertical-align:bottom}
#floatbar>ul>li.item.recent .more_item{position:absolute;left:-999em;bottom:999em;width:429px;background:#fff;border:2px solid #7286a1}
#floatbar>ul>li.item.recent.active .more_item{left:-1px;bottom:52px}
#floatbar>ul>li.item.recent .more_item .title,#floatbar>ul>li.item.recent .more_item .myfavorite{overflow:hidden;position:absolute;top:19px;display:block;height:18px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat;text-indent:-999em}
#floatbar>ul>li.item.recent .more_item .title{left:18px;width:92px;background-position:-520px -180px}
#floatbar>ul>li.item.recent .more_item .myfavorite{left:120px;width:79px;background-position:-620px -180px}
#floatbar>ul>li.item.recent .more_item>ul{overflow:hidden;overflow-y:auto;position:relative;float:none;margin:48px auto 20px;width:396px;max-height:225px}
#floatbar>ul>li.item.recent .more_item>ul li{margin:0 5px 5px 0;padding:0;width:70px}
#floatbar>ul>li.item.recent .more_item>ul li .thumb{width:68px;height:68px;border:1px solid #e9e9e9;vertical-align:bottom}
#floatbar>ul>li.item.recent .more_item>ul li .soldout{left:0;padding-top:28px;width:70px;height:42px}
#floatbar>ul>li.item.recent .more_item>ul li .soldout .bg{height:70px}
#floatbar>ul>li.item.recent .soldout{position:absolute;left:0;top:0;z-index:10;padding-top:18px;width:50px;height:32px;color:#fff;text-align:center}
#floatbar>ul>li.item.recent .soldout .bg{position:absolute;top:0;left:0;z-index:-1;width:100%;height:50px;background:#000;-ms-filter:alpha(opacity=50);filter:alpha(opacity=50);opacity:0.5}
#floatbar>ul>li.item.recent .more_item a.button_del{width:21px;height:21px;background-position:-910px -60px}
#floatbar>ul>li.item.plus>.title{float:left;width:80px;background-position:-650px -120px}
#floatbar>ul>li.item.plus>.button_ad_view{overflow:hidden;position:absolute;left:33px;top:23px;display:block;width:22px;height:22px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -820px -90px;text-indent:-999em}
#floatbar>ul>li.item.plus>.ad_layer{display:none;position:absolute;left:53px;top:21px;z-index:100;width:78px;height:25px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -850px -90px}
#floatbar>ul>li.item.plus>.ad_layer>span{overflow:hidden;display:block;text-indent:-999em}
#floatbar>ul>li.item.plus>.ad_layer .button_ad_close{overflow:hidden;position:absolute;top:2px;right:0;display:block;width:20px;height:20px;text-indent:-999em}
#floatbar>ul>li.item.plus>ul{padding:0 5px;width:313px;background:#fff}
#floatbar>ul>li.item.plus>ul li{margin-left:5px;padding-left:6px;width:70px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -360px -180px}
#floatbar>ul>li.item.plus>ul li:first-child{margin-left:0;*margin-left:5px;padding-left:0;background:none}
#floatbar>ul>li.item.plus .thumb{width:70px;height:50px;vertical-align:bottom}
#floatbar>ul>li.item.plus>a.button_prev,#floatbar>ul>li.item.plus>a.button_next{position:absolute;top:0;width:36px}
#floatbar>ul>li.item.plus>a.button_prev{left:50px;background-position:-790px -120px}
#floatbar>ul>li.item.plus>a.button_next{right:0;background-position:-830px -120px}
#floatbar>ul>li.item.plus>a.button_prev:hover{background-position:-870px -120px}
#floatbar>ul>li.item.plus>a.button_next:hover{background-position:-910px -120px}
#floatbar>ul>li.item.plus li>a .title{overflow:hidden;position:absolute;left:6px;bottom:0;z-index:10;display:block;padding:3px 0 2px;width:70px;height:12px;color:#444;font-size:11px;text-align:center;white-space:nowrap;letter-spacing:-1px}
#floatbar>ul>li.item.plus li:first-child>a .title{left:0}
#floatbar>ul>li.item.plus li>a .title .bg{position:absolute;left:0;bottom:0;z-index:-1;width:100%;height:100%;background:#fff;-ms-filter:alpha(opacity=80);filter:alpha(opacity=80);opacity:0.8}
#floatbar>ul>li.top{border-left:1px solid #b0c6e1}
#floatbar>ul>li.top>a{width:77px;background-position:-730px -60px}
#floatbar>ul>li.active>a{background-position:-640px -60px}
#floatbar>.ad{position:absolute;left:50%;bottom:-999em;margin-left:505px;width:125px;height:120px}
#floatbar.active>.ad{bottom:0}

/* mobile go */
.mobile-go{margin-top:-40px;padding-bottom:80px}
.mobile-go a{display:block;width:100%;height:75px;padding-top:25px;background:#F5F5F5;border-top:1px solid #D7D7D7;border-bottom:1px solid #D7D7D7;text-align:center;font-size:55px;line-height:57px;color:#8598AB;font-weight:bold}
.mobile-go a:active,.mobile-go a:focus,.mobile-go a:hover{color:#8598AB;text-decoration:none}
.mobile-go span{position:relative}
.mobile-go span:after{content:'';position:absolute;top:50%;right:-34px;width:27px;height:27px;margin-top:-15px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -950px -120px}

/* layer */
.layer_modal_popup_bg{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;-ms-filter:alpha(opacity=60);filter:alpha(opacity=60);opacity:0.6}
.modal_popup{position:fixed;top:0;left:0;width:100%;z-index:5000}
.ly_wrap .title,#company_mark_ftc .ly_wrap .title,#company_mark_opa .ly_wrap .title,#company_mark_harm .ly_wrap .title{padding-top:13px;background:url(//pics.gmkt.kr/pc/ko/net/core/common/layout/sprite_layer.png) repeat-x}
.ly_wrap .title strong{display:block;height:19px;padding-top:2px;padding-left:19px;font-size:16px;color:#006bdf}
.ly_wrap .layer_type{position:fixed;left:50%;top:50%;background:#fff;border:3px solid #1179ea}
.ly_wrap .layer_type .title{height:32px;line-height:15px}
.ly_wrap .layer_type .pop_cont{overflow:hidden;min-height:615px;margin:20px 0;padding:0 20px}
.ly_wrap .layer_type .ly_close{display:block;position:absolute;top:0;right:0;width:15px;height:13px;padding:15px;background:url(//pics.gmkt.kr/pc/ko/net/core/common/layout/sprite_layer.png) no-repeat 15px -100px;text-indent:-999em}
#company_mark_ftc .ly_wrap .layer_type,#company_mark_opa .ly_wrap .layer_type{margin-left:-242px;margin-top:-340px;width:484px}
#company_mark_harm .ly_wrap .layer_type{width:644px;margin-left:-325px;margin-top:-352px}
#company_mark_harm .mark_harm p{text-align:center;padding-bottom:17px}
div.poplayer{position:absolute;left:0;top:0;width:100%;height:100%;z-index:5000}
div.dimmed{position:absolute;left:0;top:0;width:100%;height:100%;background:#000;filter:alpha(opacity=55);opacity:0.55;z-index:5000;-webkit-backface-visibility:hidden}
div.dimmed iframe.blocker{width:100%;height:100%;filter:alpha(opacity=0);opacity:0}
div.frame_setting{position:absolute;top:0;left:0;width:100%;text-align:center;z-index:5001}
div.frame_setting iframe{margin:0 auto}
div.dimmed_sub{background-position:0% 0%;background:#000;filter:alpha(opacity=55);opacity:0.55;margin-top:0px;margin-right:0px;margin-bottom:0px;position:fixed;top:0px;left:0px;background-attachment:scroll;background-repeat:repeat;background-image:none;background-size:auto;background-origin:padding-box;background-clip:border-box}

/* ad */
em.ad{overflow:hidden;display:inline-block;margin:0px;*margin-top:-1px;margin-top:-1px \0/IEdev9;width:20px;height:14px;background:url(//pics.gmkt.kr/pc/ko/common/common.png) no-repeat -940px -90px;text-indent:-999em;vertical-align:top}
#header .search .search-auto .power .tit em.ad{float:none;width:20px}

/* ToastPop2.css */
div.toast-pop dl,div.toast-pop dt,div.toast-pop dd,div.toast-pop img{margin:0;padding:0;border:0}
div.toast-pop{position:fixed;_position:absolute;right:50%;bottom:0;margin-right:-503px;width:290px;height:175px;background:url(//pics.gmkt.kr/pc/ko/expire/challenge/neo_include/zzanpop/20130524/bg_toastpop2.png) no-repeat;text-align:center;z-index:10000}
div.toast-pop a.close{position:absolute;display:block;top:10px;right:10px;padding:7px;width:15px;height:12px}
div.toast-pop dt{display:block;margin:25px auto 0;height:23px}
div.toast-pop dd{margin-top:19px}
div.toast-pop dt img,div.toast dd img{vertical-align:bottom}
div.toast-pop dl.event dd{position:relative}
div.toast-pop dl.event dd img.txt{position:absolute;left:32px;top:55px}
div.toast-pop dl.event dd iframe{width:264px;height:100px}
/* //common_layout&main */

/* layout > main */
#g_header h1.type2>a{padding:0}
#g_header h1.type2>a img{width:260px;height:88px}
#footer{margin-top:0;background:none}
#footer .link{border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;background:#f5f5f5;height:39px}
#footer .link li{line-height:39px}
#sfc_footer{margin-top:0}

/* main container */
#main #container{position:relative;z-index:50;margin:0 auto;width:980px;clear:both;*zoom:1}
#main #container>.wrap{clear:both;*zoom:1}
#main #container>.wrap:after{content:"";display:block;clear:both}
h2.sp_title{margin-bottom:9px;padding-left:15px}
h2.sp_title>span,h2.sp_title a,a.button_prev,a.button_next,a.button_close,a.button_play,a.button_pause{overflow:hidden;display:block;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat;font-size:0;line-height:0}
h2.sp_title span,h2.sp_title a{display:inline-block;vertical-align:middle}
.sp_title>.noti_ad{overflow:visible;position:relative;top:2px;z-index:1;background:none}
.sp_title>.noti_ad .tag_ad{overflow:hidden;display:inline-block;width:45px;height:18px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat -790px -200px;font-size:0;line-height:0;vertical-align:middle}
.noti_ad>.noti_ad_layer{position:absolute;left:0;top:26px;display:none;padding:12px 10px 10px 14px;min-width:200px;background:#faf8dd;border:1px solid #bababa;font-size:11px;color:#333;font-weight:normal;letter-spacing:-1px;line-height:17px}
.noti_ad>.noti_ad_layer.active{display:block;z-index:1}
.noti_ad>.noti_ad_layer .arrow{position:absolute;left:21px;top:-6px;display:block;width:15px;height:6px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat -750px -160px}
.noti_ad>.noti_ad_layer>.button_close{overflow:hidden;position:absolute;display:block;right:0;top:0;zoom:1;width:36px;height:36px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat -710px -160px;text-indent:-999em}
.noti_ad>.noti_ad_layer>strong{display:block}
.m_best .sp_title a{width:113px;height:20px;background-position:0 -400px}
.m_service .sp_title a{width:99px;height:20px;background-position:-120px -400px}
.m_superdeal .sp_title a{width:170px;height:54px;background-position:0 -430px}
.m_g9 .sp_title{margin-bottom:4px}.m_g9 .sp_title a{width:158px;height:28px;background-position:-190px -430px}
.m_sfc .sp_title{margin-bottom:12px}.m_sfc .sp_title a{width:215px;height:20px;background-position:-350px -470px}
.m_focus .sp_title>span{width:98px;height:20px;background-position:-300px -400px}
.m_power .sp_title>span{width:121px;height:20px;background-position:-410px -400px}
.m_minishop .sp_title>span{width:84px;height:20px;background-position:-540px -400px}
.m_market .sp_title>span{width:66px;height:20px;background-position:-630px -400px}
.m_partners .sp_title>span{width:115px;height:20px;background-position:-700px -400px}
.m_notice .sp_title a{width:73px;height:20px;background-position:-270px -470px}


/* GNB */
#main_gnb.gnb{position:relative;z-index:50;float:left;width:200px;height:396px}
#main_gnb.gnb li{margin-top:-1px}
#main_gnb.gnb li>a.btn{display:block;overflow:hidden;height:43px;background:#3b78ce url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat;border:solid #578bd5;border-width:1px 0;text-indent:-999em}
#main_gnb.gnb li>a.btn.menu9{height:44px;border-bottom:0 none}
#main_gnb.gnb li.active>a.btn{position:relative;z-index:1;background-color:#154b98;border-color:#154b98}
#main_gnb.gnb a.btn.menu1{background-position:0 0px}
#main_gnb.gnb a.btn.menu2{background-position:0 -44px}
#main_gnb.gnb a.btn.menu3{background-position:0 -88px}
#main_gnb.gnb a.btn.menu4{background-position:0 -132px}
#main_gnb.gnb a.btn.menu5{background-position:0 -176px}
#main_gnb.gnb a.btn.menu6{background-position:0 -220px}
#main_gnb.gnb a.btn.menu7{background-position:0 -264px}
#main_gnb.gnb a.btn.menu8{background-position:0 -308px}
#main_gnb.gnb a.btn.menu9{background-position:0 -352px}
#main_gnb.gnb .smenu{overflow:hidden;position:absolute;left:200px;top:-1px;z-index:20;display:none;width:779px;height:395px;border:1px solid #bcc5d5;border-left:0 none;background:#fff;font-size:11px;letter-spacing:-1px}
#main_gnb.gnb .smenu a.close{display:block;position:absolute;top:0;right:0;width:50px;height:50px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat -520px -150px;z-index:99;text-indent:-999em}
#main_gnb.gnb .smenu>span{display:block;position:absolute;left:-8px;width:9px;height:18px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat 0 -354px;z-index:21}
#main_gnb.gnb .smenu>span.p1{top:9px}
#main_gnb.gnb .smenu>span.p2{top:47px}
#main_gnb.gnb .smenu>span.p3{top:85px}
#main_gnb.gnb .smenu>span.p4{top:122px}
#main_gnb.gnb .smenu>span.p5{top:159px}
#main_gnb.gnb .smenu>span.p6{top:196px}
#main_gnb.gnb .smenu>span.p7{top:235px}
#main_gnb.gnb .smenu>span.p8{top:274px}
#main_gnb.gnb .smenu>span.p9{top:310px}
#main_gnb.gnb .smenu .underline:active,#main_gnb.gnb .smenu .underline:focus,#main_gnb.gnb .smenu .underline:hover{text-decoration:underline}
#main_gnb.gnb .smenu dt{overflow:hidden;color:#444;font-weight:bold;font-size:12px;line-height:16px}
#main_gnb.gnb .smenu dd a{display:block;*zoom:1;color:#777;line-height:18px}
#main_gnb.gnb .smenu dd a:hover{color:#0082f0}
#main_gnb.gnb .smenu .cate_wrap{width:255px;height:395px;float:left;padding:0 13px 0 23px;font-size:12px}
#main_gnb.gnb .smenu .cate_wrap dl,#main_gnb.gnb .smenu .cate_wrap .service{overflow:hidden;display:block;width:227px;border-top:1px solid #e9eaec}
#main_gnb.gnb .smenu .cate_wrap dl{padding:12px 0 11px 8px}
#main_gnb.gnb .smenu .cate_wrap dt{float:left;padding-top:1px;width:109px}
#main_gnb.gnb .smenu .cate_wrap dd{float:left}
#main_gnb.gnb .smenu .favo_wrap{width:132px;height:395px;float:left;padding:0 19px;background:#f9f9f9;font-size:12px}
#main_gnb.gnb .smenu .favo_wrap dl{padding:20px 0 29px}
#main_gnb.gnb .smenu .favo_wrap dd{margin-top:19px}
#main_gnb.gnb .smenu .gnb_ad{float:right}
#main_gnb.gnb .smenu .gnb_ad img{width:318px;height:395px}
#main_gnb.gnb .smenu .service{padding:13px 10px}
#main_gnb.gnb .smenu .service a{display:block;padding:6px 8px 6px 0;width:118px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat -574px -159px;color:#0082f0;font-weight:bold}
#main_gnb.gnb .menu6+.smenu>.cate_wrap dl{padding-top:11px}
#main_gnb.gnb .smenu .cate_wrap dl:first-child{padding-top:13px}
.gnb_block{display:block !important}

.rolling .prev a,.rolling .next a{display:block;position:absolute;top:87px;width:38px;height:38px;background:url(//pics.gmkt.kr/pc/ko/main/button.png) no-repeat;text-indent:-999em}
.rolling .prev a{left:10px;background-position:-100px 0}
.rolling .prev a:hover{background-position:-100px -50px}
.rolling .next a{right:10px;background-position:-150px 0}
.rolling .next a:hover{background-position:-150px -50px}

/* EVENT */
.m_promotion{position:relative;float:left;width:780px;/*height:338px;*/background:#fff;overflow:hidden;zoom:1}
.m_promotion .rollingBox{overflow:hidden;position:relative;height:358px}
.m_promotion .rollingBox .prev a,.m_promotion .rollingBox .next a{position:absolute;top:50%;z-index:10;margin-top:-38px;display:block;width:61px;height:71px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat;text-indent:-999em}
.m_promotion .rollingBox .prev a{left:0;background-position:-210px 0}
.m_promotion .rollingBox .next a{right:0;background-position:-280px 0}
.m_promotion .rollingBox .prev a:hover{background-position:-210px -80px}
.m_promotion .rollingBox .next a:hover{background-position:-280px -80px}
.m_promotion .rollingFrame{overflow:hidden;height:385px;background:#fff}
.m_promotion .rollingFrame li{-webkit-overflow-scrolling:touch}
.m_promotion .rollingFrame li span.cover{display:block;position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;background:rgba(225,225,225,0)}
.m_promotion .rollingFrame li iframe{position:absolute;top:0;left:0;z-index:1}
.m_promotion .rollingFrame li a>img{width:780px;height:358px}
.m_promotion .rollingControl{position:relative}
.m_promotion .rolling_tab{height:37px;border:solid #e2e6ea;border-width:0 1px 1px 0}
.m_promotion .rolling_tab>li{position:relative;float:left;margin-left:1px;width:129px}
.m_promotion .rolling_tab li.tab1{margin-left:0}
.m_promotion .rolling_tab li>a{overflow:hidden;display:block;height:37px}
.m_promotion .rolling_tab li>a img{width:129px;height:80px}
.m_promotion .rolling_tab li a:hover img{margin-top:-40px}
.m_promotion .rolling_tab li.active .rollingIcon{display:block}
.m_promotion .rolling_tab li.active .rollbtn{display:block}
.m_promotion .rolling_tab li.active a  img{margin-top:-40px}
.m_promotion .rollingIcon{display:none;position:absolute;top:-33px;left:50%;margin-left:-100px;width:200px;height:28px;z-index:10;text-align:center;height:0;font-size:0;line-height:0;visibility:visible}
.m_promotion .rollingIcon li{display:inline-block;*display:inline;*zoom:1}
.m_promotion .rollingIcon li a{display:block;width:28px;height:28px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat -210px -160px;text-indent:-999em}
.m_promotion .rollingIcon li a.active{background-position:-250px -160px}
.m_promotion .rollbtn{display:none}
.m_promotion .rollbtn a{display:block;position:absolute;width:23px;height:23px;overflow:hidden;text-indent:-999em;background:url(//pics.gmkt.kr/pc/ko/main/button.png) no-repeat}
.m_promotion .rollbtn a.prev{background-position:-200px 0;left:7px;top:11px}
.m_promotion .rollbtn a.prev:hover{background-position:-200px -30px}
.m_promotion .rollbtn a.next{background-position:-230px 0;right:7px;top:11px}
.m_promotion .rollbtn a.next:hover{background-position:-230px -30px}
.m_promotion .tab1 .rollingIcon{left:0;margin:0 5px;text-align:left}

.swipe{position:relative}
.swipe:after{content:"";display:block;clear:both}
.swipe a.button_prev,.swipe a.button_next{position:absolute;z-index:10}
.swipe a.button_prev{left:0}
.swipe a.button_next{right:0}
.swipe a.button_prev{background-position:-365px 0}
.swipe a.button_next{background-position:-440px 0}
.swipe a.button_prev:hover{background-position:-365px -80px}
.swipe a.button_next:hover{background-position:-440px -80px}
.swipe .paginate{position:absolute;right:10px;top:-30px}
.swipe .paginate a{overflow:hidden;display:inline-block;margin:0 -3px;width:28px;height:28px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat -290px -160px;font-size:0;line-height:0}
.swipe .paginate a.active{background-position:-330px -160px}
.item_list{overflow:hidden;position:relative}
.item_list>li{float:left}
.item_list>li a{display:block}
.item_list>li .title{overflow:hidden;display:block}
.item_list>li .thumb{vertical-align:bottom}
.item_list>li .price{display:block ;font-family:tahoma}
.item_list>li .price>strong{color:#000}
.item_list>li .price>strong>span{overflow:hidden;display:block;text-indent:-999em}

/* G마켓 BEST */
.m_best{position:relative;float:left;margin-top:40px;width:100%;width:720px}
.m_best .item_list{margin:12px auto 0;width:600px;height:252px}
.m_best .item_list li{position:relative;margin:0 10px;width:180px;height:252px;line-height:16px}
.m_best .item_list li .title{padding-top:14px;width:170px;height:32px}
.m_best .item_list li .thumb{width:180px;height:180px;border-bottom:1px solid #c2c2c2}
.m_best .item_list li .price{margin-top:6px}
.m_best .item_list li .price del{display:inline-block;height:14px;color:#999}
.m_best .item_list li .price .sale{padding:0 12px 0 5px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat 100% -487px;color:#0082f0;font-family:tahoma;text-decoration:none}
.m_best .item_list li .price .sale span{overflow:hidden;position:absolute;top:-999em;left:0;display:block}
.m_best .item_list li .price>strong{display:block;font-size:14px}
.m_best a.button_prev,.m_best a.button_next{top:69px;width:60px;height:70px}
.m_best a.button_prev{background-position:-510px 0}
.m_best a.button_next{background-position:-580px 0}
.m_best a.button_prev:hover{background-position:-510px -80px}
.m_best a.button_next:hover{background-position:-580px -80px}
.m_best a.button_play,.m_best a.button_pause{position:absolute;right:15px;bottom:3px;width:29px;height:27px}
.m_best a.button_play{background-position:-450px -160px}
.m_best a.button_play:hover{background-position:-490px -160px}
.m_best a.button_pause{background-position:-370px -160px}
.m_best a.button_pause:hover{background-position:-410px -160px}
.m_best .rank{position:absolute;left:10px;top:146px;z-index:2;display:block;width:26px;height:31px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat;text-indent:-999em}
.m_best .n1{background-position:-210px -200px}
.m_best .n2{background-position:-240px -200px}
.m_best .n3{background-position:-270px -200px}
.m_best .n4{background-position:-300px -200px}
.m_best .n5{background-position:-330px -200px}
.m_best .n6{background-position:-360px -200px}
.m_best .n7{background-position:-390px -200px}
.m_best .n8{background-position:-420px -200px}
.m_best .n9{background-position:-450px -200px}
.m_best .n10{background-position:-480px -200px}
.m_best .n11{background-position:-210px -240px}
.m_best .n12{background-position:-240px -240px}
.m_best .n13{background-position:-270px -240px}
.m_best .n14{background-position:-300px -240px}
.m_best .n15{background-position:-330px -240px}
.m_best .n16{background-position:-360px -240px}
.m_best .n17{background-position:-390px -240px}
.m_best .n18{background-position:-420px -240px}
.m_best .n19{background-position:-450px -240px}
.m_best .n20{background-position:-480px -240px}
.m_best .n21{background-position:-210px -280px}
.m_best .n22{background-position:-240px -280px}
.m_best .n23{background-position:-270px -280px}
.m_best .n24{background-position:-300px -280px}
.m_best .n25{background-position:-330px -280px}
.m_best .n26{background-position:-360px -280px}
.m_best .n27{background-position:-390px -280px}
.m_best .n28{background-position:-420px -280px}
.m_best .n29{background-position:-450px -280px}
.m_best .n30{background-position:-480px -280px}
.m_best .n31{background-position:-210px -320px}
.m_best .n32{background-position:-240px -320px}
.m_best .n33{background-position:-270px -320px}
.m_best .n34{background-position:-300px -320px}
.m_best .n35{background-position:-330px -320px}
.m_best .n36{background-position:-360px -320px}
.m_best .n37{background-position:-390px -320px}
.m_best .n38{background-position:-420px -320px}
.m_best .n39{background-position:-450px -320px}
.m_best .n40{background-position:-480px -320px}

.m_ad{position:relative;float:right;margin-top:40px;width:218px;height:277px;border:1px solid #dbe0e9}
.m_ad .thumb{width:218px;height:277px;vertical-align:bottom}
.m_ad.blank{margin-top:52px}

/* 전문관 */
.m_shop{position:relative;margin-top:60px}
.m_shop .shop_tab{height:36px;border-bottom:3px solid #c8cdd5;text-align:center}
.m_shop .shop_tab li{display:inline-block;*display:inline;*zoom:1;height:39px}
.m_shop .shop_tab li a{overflow:hidden;display:block;height:39px;z-index:1}
.m_shop .shop_tab li.active{border-color:#222}
.m_shop .shop_tab li.active a img{margin-top:-40px}
.m_shop .shop_cont{overflow:hidden;height:313px;background:#f6f7f9}
.m_shop .shop_cont ul{position:relative;margin-left:74px;width:837px;height:313px}
.m_shop .shop_cont ul li{position:absolute}
.m_shop .shop_cont ul li.bnr1{left:0}
.m_shop .shop_cont ul li.bnr2{left:486px;top:13px}
.m_shop .shop_cont ul li.bnr3{right:0;top:13px}
.m_shop .shop_cont ul li.bnr4{left:486px;top:162px}
.m_shop .shop_cont ul li.bnr5{right:0;top:162px}
.m_shop .shop_cont ul li img{width:170px;height:138px}
.m_shop .shop_cont ul li.bnr1 img{width:461px;height:313px}
.m_shop a.button_prev,.m_shop a.button_next{position:absolute;top:160px;width:70px;height:70px}
.m_shop a.button_prev{background-position:-345px 0}
.m_shop a.button_next{background-position:-440px 0}
.m_shop a.button_prev:hover{background-position:-345px -80px}
.m_shop a.button_next:hover{background-position:-440px -80px}

.m_service{position:relative;float:left;margin-top:50px;width:720px}
.m_service li{position:relative;float:left;margin:19px 4px 3px}
.m_service li img{width:94px;height:106px}
.m_service li .new,.m_service .button_more{overflow:hidden;position:absolute;right:25px;top:5px;display:block;width:21px;height:21px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat -520px -240px;text-indent:-999em}
.m_service li .new{right:10px;top:1px;width:21px;height:21px;background-position:-520px -240px}
.m_service .button_more{width:60px;height:20px;background-position:-230px -400px}

/* hm_superdeal & hm_g9 */
.type_deal li a{color:#555;text-decoration:none}
.type_deal li .price>strong.soldout{}
.type_deal li.soldout>.soldout{position:absolute;left:50%;top:14px;z-index:10;margin-left:-72px;width:145px;height:145px;overflow:hidden;display:block;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat -570px -430px;text-indent:-999em}
.type_deal li.soldout>.bg_soldout{position:absolute;top:0;left:0;background:#000;-ms-filter:alpha(opacity=10);filter:alpha(opacity=10);opacity:0.1}

.m_superdeal{overflow:hidden;position:relative;margin-top:60px;padding-top:20px;width:980px;border-top:2px solid #3d3d3d}
.m_superdeal .sp_title{margin-bottom:20px;}
.m_superdeal .nav{position:absolute;top:0;right:0;}
.m_superdeal .nav>a{display:block;float:left;height:94px;}
.m_superdeal .nav .group{width:65px;height:94px;margin-right:2px;}
.m_superdeal .nav .group span, .m_superdeal .nav .button_more span{overflow:hidden;display:block;width:65px;height:59px;margin-top:18px;background:url(//pics.gmkt.kr/pc/ko/main/main_superdeal.png) no-repeat;text-indent:-999em}
.m_superdeal .nav .group.brandfashion span{background-position:-35px -5px}.m_superdeal .nav .group.brandfashion:hover span{background-position:-35px -68px}
.m_superdeal .nav .group.trendfashion span{background-position:-103px -5px}.m_superdeal .nav .group.trendfashion:hover span{background-position:-103px -68px}
.m_superdeal .nav .group.beauty_etc span{background-position:-170px -5px}.m_superdeal .nav .group.beauty_etc:hover span{background-position:-170px -68px}
.m_superdeal .nav .group.babykids span{background-position:-236px -5px}.m_superdeal .nav .group.babykids:hover span{background-position:-236px -68px}
.m_superdeal .nav .group.food span{background-position:-303px -5px}.m_superdeal .nav .group.food:hover span{background-position:-303px -68px}
.m_superdeal .nav .group.daily span{background-position:-370px -5px}.m_superdeal .nav .group.daily:hover span{background-position:-370px -68px}
.m_superdeal .nav .group.funiture span{background-position:-437px -5px}.m_superdeal .nav .group.funiture:hover span{background-position:-437px -68px}
.m_superdeal .nav .group.interior span{background-position:-502px -5px}.m_superdeal .nav .group.interior:hover span{background-position:-502px -68px}
.m_superdeal .nav .group.life span{background-position:-570px -5px}.m_superdeal .nav .group.life:hover span{background-position:-570px -68px}
.m_superdeal .nav .group.sfc span{background-position:-635px -5px}.m_superdeal .nav .group.sfc:hover span{background-position:-635px -68px}
.m_superdeal .nav .group.fancy span{background-position:-703px -5px}.m_superdeal .nav .group.fancy:hover span{background-position:-703px -68px}
.m_superdeal .nav .group.sports span{background-position:-770px -5px}.m_superdeal .nav .group.sports:hover span{background-position:-770px -68px}
.m_superdeal .nav .group.leisure span{background-position:-831px -5px}.m_superdeal .nav .group.leisure:hover span{background-position:-831px -68px}
.m_superdeal .nav .group.car span{background-position:-904px -5px}.m_superdeal .nav .group.car:hover span{background-position:-904px -68px}
.m_superdeal .nav .group.electric span{background-position:-971px -5px}.m_superdeal .nav .group.electric:hover span{background-position:-971px -68px}
.m_superdeal .nav .group.digital span{background-position:-1038px -5px}.m_superdeal .nav .group.digital:hover span{background-position:-1038px -68px}
.m_superdeal .nav .group.computer span{background-position:-1105px -5px}.m_superdeal .nav .group.computer:hover span{background-position:-1105px -68px}
.m_superdeal .nav .group.book span{background-position:-1172px -5px}.m_superdeal .nav .group.book:hover span{background-position:-1172px -68px}
.m_superdeal .nav .group.tour span{background-position:-1239px -5px}.m_superdeal .nav .group.tour:hover span{background-position:-1239px -68px}
.m_superdeal .nav .group.ticket_ecoupon span{background-position:-1306px -5px}.m_superdeal .nav .group.ticket_ecoupon:hover span{background-position:-1306px -68px} /* 백화점 */
.m_superdeal .nav .group.store span{background-position:-1372px -5px}.m_superdeal .nav .group.store:hover span{background-position:-1372px -68px}
.m_superdeal .nav .group.theme1 span{background-position:-1439px -5px}.m_superdeal .nav .group.theme1:hover span{background-position:-1439px -68px}
.m_superdeal .nav .group.theme2 span{background-position:-1507px -5px}.m_superdeal .nav .group.theme2:hover span{background-position:-1507px -68px}
.m_superdeal .nav .group.theme3 span{background-position:-1574px -5px}.m_superdeal .nav .group.theme3:hover span{background-position:-1574px -68px}
.m_superdeal .nav .group.galaxytab span{background-position:-1372px -5px}.m_superdeal .nav .group.galaxytab:hover span{background-position:-1372px -68px}
.m_superdeal .nav .button_more{width:51px;border-left:1px solid #e7e8e8;background:#f7f8f9;text-indent:-999em;margin-left:6px;}
.m_superdeal .nav .button_more span{margin-left:8px;width:34px;background-position:0 -5px}.m_superdeal .nav a.button_more:hover span{background-position:0 -68px}
.m_superdeal .item_list{overflow:hidden;clear:both;width:990px;border-top:1px solid #c2c2c2}
.m_superdeal .item_list li{position:relative;width:330px;height:270px;border-bottom:1px solid #e2e6ea}
.m_superdeal .item_list li .thumb{width:320px;height:166px}
.m_superdeal .item_list li .title{padding:15px 0 0 15px;*padding-top:12px;width:290px;height:16px;*height:19px;font-size:12px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;font-family:"Malgun Gothic";line-height:0.9em;*line-height:16px;}
.m_superdeal .item_list li .info{display:block;padding-left:15px}
.m_superdeal .item_list li .sale{display:inline-block;margin-top:3px;color:#0082f0;font-family:tahoma}
.m_superdeal .item_list li .sale span{overflow:hidden;position:absolute;top:-999em;left:0}
.m_superdeal .item_list li .sale>strong{font-size:18px;color:#4e88cf}
.m_superdeal .item_list li .price{display:inline-block;margin-top:3px;vertical-align:top}
.m_superdeal .item_list li .price del{color:#bbb;font-size:11px}
.m_superdeal .item_list li .price>strong{font-size:18px}
/* .m_superdeal .item_list li .price>strong>span{text-indent:-999em;font-size:0;line-height:0} */
.m_superdeal .item_list li .price>strong>span{overflow:visible;display:inline-block;padding-right:4px;color:#222;font-family:dotum,"돋움";font-size:11px;text-indent:0;letter-spacing:-1px}
.m_superdeal .tags{position:absolute;left:15px;bottom:10px;height:22px;}
.m_superdeal .tags .tag,.m_g9 .item_list li .price .tag{display:inline-block;border:1px solid #eee;vertical-align:top;height:20px;overflow:hidden;border-radius:2px;padding:0 6px}
.m_superdeal .tags > span, .m_superdeal .tags em{line-height:1;}
.m_superdeal .tags > span + span{margin-left:6px}
.m_superdeal .tag_contract,.m_superdeal .tag_soldout{overflow:hidden;display:inline-block;width:60px;height:20px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat;font-size:0;line-height:0}
.m_superdeal .tag >span,.m_g9 .item_list li .price .free{display:inline-block;padding:0;height:18px;line-height:18px;border-top:2px solid #fff;vertical-align:top;white-space:nowrap;color:#999;font-family:dotum,"돋움";font-size:11px;letter-spacing:-1px}
:root .m_superdeal .tag > span,:root .m_g9 .item_list li .price .free{padding-top:1px\0}
.m_superdeal .tags .smart{background-position:-520px -200px}
.m_superdeal .tags .num_cashbag{color:#519bde}
.m_superdeal .tags .smart .bl{color:#519bde}
.m_superdeal .tags .num_cashbag em{letter-spacing:0}
.m_superdeal .num_paycount{display:block;position:absolute;left:254px;bottom:10px;text-align:center;width:50px;height:50px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat -592px -222px;color:#999;font-size:11px}
.m_superdeal .num_paycount em{padding:8px 0 3px;color:#519bde;display:block;font-family:tahoma,"돋움";text-align:center;font-size:14px}
.m_superdeal .num_paycount .new{padding-top:16px}
.m_superdeal .num_paycount em .over{font-size:11px;vertical-align:1px}
.m_superdeal .tag .homeplus{background-position:-660px -200px}
.m_superdeal .tag_contract{position:absolute;bottom:49px;left:14px;width:69px;background-position:-190px -470px}
.m_superdeal .tag_soldout{position:absolute;bottom:52px;left:14px;width:94px;height:13px;background-position:-716px -430px}
.m_superdeal .item_type .tag{right:auto;left:15px}
.m_superdeal .note{display:block;margin-top:2px;color:#888;font-family:dotum,"돋움";font-size:11px}
.m_superdeal .item_list li .price>strong.soldout{padding-left:12px}
.m_superdeal .item_list li.soldout>.bg_soldout{width:320px;height:166px}
.m_g9{overflow:hidden;margin-top:40px}
.m_g9 .ad{float:left}
.m_g9 .ad img{width:260px;height:260px}
.m_g9 .item_list{float:left;padding:20px 14px 0 15px;width:690px;height:238px;border:1px solid #e2e6ea;border-left:0 none}
.m_g9 .item_list li{position:relative;margin:0 10px;width:210px;height:238px}
.m_g9 .item_list li .thumb{width:210px;height:170px;padding:0;vertical-align:bottom}
.m_g9 .item_list li .title{padding-top:14px;height:14px}
.m_g9 .item_list li .price{margin-top:2px}
.m_g9 .item_list li .price .sale{color:#6695ff}
.m_g9 .item_list li .price .sale span{overflow:hidden;position:absolute;top:-999em;left:0}
.m_g9 .item_list li .price .sale>strong{font-size:18px}
.m_g9 .item_list li .price>strong{color:#222;font-size:18px}
.m_g9 .item_list li .price>strong>span{overflow:hidden;display:inline-block;text-indent:-999em;font-size:0;line-height:0}
.m_g9 .item_list li.soldout>.bg_soldout{width:210px;height:170px}

.m_focus .swipe,.m_power .swipe{padding-top:30px;border-top:1px solid #e2e6ea}
.m_focus .item_list,.m_power .item_list{margin:0 auto;width:876px;height:210px}
.m_focus .item_list li,.m_power .item_list li{height:210px;text-align:center;line-height:16px}
.m_focus a.button_prev,.m_focus a.button_next,.m_power a.button_prev,.m_power a.button_next{top:60px;width:50px;height:70px}
.m_focus{margin-top:40px}
.m_focus .item_list li{margin:0 7px 0 8px;width:160px}
.m_focus .item_list li a{color:#000;text-decoration:none}
.m_focus .item_list li .title{padding:14px 3px 0;height:16px}
.m_focus .item_list li .thumb{width:160px;height:140px}

.m_power .item_list li{margin:0 8px;width:130px}
.m_power .item_list li .title{padding:14px 3px 0;height:32px;letter-spacing:-1px}
.m_power .item_list li .thumb{width:130px;height:130px}
.m_power .item_list li .price{margin-top:6px;padding:0 3px;text-align:center}

.m_minishop,.m_market{margin-top:40px}
.m_minishop{float:left}
.m_minishop .item_list{width:490px;height:244px}
.m_minishop .item_list img{width:490px;height:244px}
.m_minishop a.button_prev,.m_minishop a.button_next,.m_market a.button_prev,.m_market a.button_next,.m_partners a.button_prev,.m_partners a.button_next{top:102px;width:38px;height:40px}
.m_minishop a.button_prev{background-position:-650px 0}
.m_minishop a.button_next{background-position:-700px 0}
.m_minishop a.button_prev:hover{background-position:-650px -80px}
.m_minishop a.button_next:hover{background-position:-700px -80px}
.m_market a.button_prev,.m_partners a.button_prev{background-position:-750px 0}
.m_market a.button_next,.m_partners a.button_next{background-position:-800px 0}
.m_market a.button_prev:hover,.m_partners a.button_prev:hover{background-position:-750px -80px}
.m_market a.button_next:hover,.m_partners a.button_next:hover{background-position:-800px -80px}

.m_market{float:right;width:470px}
.m_market .swipe{padding-top:30px;border:1px solid #e2e6ea}
.m_market .item_list{margin:0 auto;width:411px;height:212px}
.m_market .item_list li{margin:0 8px 0 9px;width:120px;height:212px;text-align:center;line-height:16px}
.m_market .item_list li .title{padding:14px 3px 0;height:32px}
.m_market .item_list li .thumb{width:120px;height:120px}
.m_market .item_list li .price{margin-top:2px;padding:0 3px}

.m_partners{margin-top:40px}
.m_partners .partner_list{margin:0 auto;width:936px;height:100px;padding:5px 22px;border:1px solid #e2e6ea;border-width:1px 0}
.m_partners .partner_list li{float:left;margin:5px 18px;width:120px}
.m_partners .partner_list li .title{padding:14px 3px 0;height:32px}
.m_partners .partner_list li .thumb{width:120px;height:40px;vertical-align:bottom}

/* 알립니다 */
.m_notice{overflow:hidden;position:relative;;padding:14px 4px 5px;height:29px}
.m_notice h2.sp_title{float:left;width:102px}
.m_notice ul.notice_list{overflow:hidden;float:left;margin-top:2px;height:14px}
.m_notice ul.notice_list li{padding:1px 0}
.m_notice ul.notice_list li span{margin-left:8px;padding-left:8px;border-left:1px solid #d2d2d2;color:#aaa}

.m_banner{clear:both;padding-top:40px;width:980px;height:100px}
.m_banner a>img{width:980px;height:100px}
.m_banner+.m_superdeal{margin-top:45px}

.m_sfc{overflow:hidden;padding-top:40px}
.m_sfc .ad{float:left}
.m_sfc .ad img{width:260px;height:260px}
.m_sfc .swipe{float:left}
.m_sfc .item_list{padding:20px 44px 0 45px;width:630px;height:238px;border:1px solid #e2e6ea;border-left:0 none}
.m_sfc .item_list li{position:relative;margin:0 5px;width:200px;height:238px}
.m_sfc .item_list li .thumb{width:200px;height:170px;padding:0;vertical-align:bottom}
.m_sfc .item_list li .title{padding-top:14px;height:14px}
.m_sfc .item_list li .price{margin-top:2px}
.m_sfc .item_list li .price .sale{color:#6695ff}
.m_sfc .item_list li .price .sale span{overflow:hidden;position:absolute;top:-999em;left:0}
.m_sfc .item_list li .price .sale>strong{font-size:18px}
.m_sfc .item_list li .price>strong{color:#222;font-size:18px}
.m_sfc .item_list li .price>strong>span{overflow:hidden;display:inline-block;text-indent:-999em;font-size:0;line-height:0}
.m_sfc .item_list li .price .free{overflow:hidden;display:inline-block;width:47px;height:18px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat -730px -200px;text-indent:-999em;vertical-align:bottom}
.m_sfc .item_list li.soldout>.bg_soldout{width:200px;height:170px}
.m_sfc a.button_prev,.m_sfc a.button_next{top:71px;width:60px;height:70px}
.m_sfc a.button_prev{background-position:-510px 0}
.m_sfc a.button_next{background-position:-580px 0}
.m_sfc a.button_prev:hover{background-position:-510px -80px}
.m_sfc a.button_next:hover{background-position:-580px -80px}

/* sfc_layer */
.sfc_layer_popup{position:absolute;top:0;right:0;width:325px;height:400px;background:#fff;border:2px solid #000;z-index:5000}
.sfc_layer_popup .sfc_layer_popup_img{top:0;left:0;width:325px;height:370px;margin:0;border:none}
.sfc_layer_popup .sfc_ly_wrap{width:325px;height:30px;background-color:#fff;margin:0}
.sfc_layer_popup .sfc_ly_wrap .ly_message{display:block;top:0;left:0;padding:8px 0 0 23px}
.sfc_layer_popup .sfc_ly_wrap .ly_message input{display:inline-block;vertical-align:-2px}
.sfc_layer_popup .sfc_ly_wrap .ly_message label{display:inline-block;margin-left:2px}
.sfc_layer_popup .sfc_ly_wrap .ly_close{display:block;position:absolute;bottom:0;right:0;width:27px;height:27px;padding:0;text-indent:-999em}
.sfc_layer_popup .sfc_ly_wrap .ly_close .close{display:block;margin-top:6px;margin-left:7px;background:url(//pics.gmkt.kr/pc/ko/common/layout/img_sfc_logo.png) no-repeat 0px -130px}
/* //main container */

/* iPadApp */
.ipad_app{position:absolute;top:0;z-index:3001;width:100%;height:70px;background:#d9e2e9 url(//pics.gmkt.kr/pc/ko/main/ipad_app.png) repeat-x 0 -60px;border-bottom:1px solid #9b9b9b}
.ipad_app .wrap{padding-top:11px}
.ipad_app .wrap>a{overflow:hidden;display:block;height:50px;background:url(//pics.gmkt.kr/pc/ko/main/ipad_app.png) no-repeat;text-indent:-999em}
.ipad_app .wrap>a.button_download{margin:0 auto;width:403px;background-position:0 0}
.ipad_app .wrap>a.button_close{position:absolute;right:0;top:11px;width:58px;background-position:-410px 0}

/* 아이패드 앱 팝업 */
.popup_ipad_app{display:none;position:absolute;top:0;z-index:10000;width:100%;text-align:center}
.popup_ipad_app img{vertical-align:top}
.popup_ipad_app .popup_ipad_app_con{position:relative;width:536px;margin:0 auto}
.popup_ipad_app .button_download{position:absolute;top:150px;left:207px}
.popup_ipad_app .button_none{position:absolute;top:261px;left:24px}
.popup_ipad_app .button_close{position:absolute;top:261px;right:24px}

/* Set Start Page */
.popup_startpage{position:absolute;left:50%;top:0;z-index:3001;margin-left:-490px;width:980px;height:40px;background:#eee url(//pics.gmkt.kr/pc/ko/main/startpage/txt_startpage.png) no-repeat;text-align:center;text-indent:-999em}
.popup_startpage a,.popup_startpage p.today{display:block;position:absolute;right:11px;top:8px;text-indent:0}
.popup_startpage a.close{padding:6px}
.popup_startpage a.button{right:215px;top:9px}
.popup_startpage.after a.button{right:152px}
.popup_startpage p.today{right:36px;top:12px;color:#7c8387;font-size:11px;letter-spacing:-1px}
.popup_startpage p.today input{vertical-align:middle}
.popup_startpage p.today label{line-height:20px}
.popup_startpage.after{background-position:0 -50px}

/* mac os 팝업 */
.dimmed_popup{position:absolute;left:0;top:0;width:100%;z-index:3000}
.dimmed_popup_bg{position:absolute;left:0;top:0;width:100%;height:2596px;background:url(//pics.gmkt.kr/pc/ko/net/corecom/main/global_ip/bg_modal_pop.png) repeat}
.popup_mac{position:absolute;top:170px;width:100%;text-align:center}
.popup_mac img{vertical-align:top}
.popup_mac .popup_con{position:relative;width:723px;margin:0 auto;border:1px solid #002258;background:#fff;box-shadow:0 0 3px 3px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 3px 3px rgba(0,0,0,0.1);-moz-box-shadow:0 0 3px 3px rgba(0,0,0,0.1)}
.popup_mac .popup_con p{width:723px;height:363px}
.popup_mac div.popup_bot{position:absolute;bottom:0;left:0;height:24px;padding-left:15px;text-align:left}
.popup_mac div.popup_bot label{padding:4px 0 0 28px;*padding:6px 0 0 28px;display:inline-block;color:#cddfff;font-size:11px}
.popup_mac div.popup_bot label a{color:#666;font-size:11px;font-family:tahoma;text-decoration:none;padding-left:5px}
.popup_mac div.popup_bot label input{position:relative;top:1px;*top:-1px;width:11px;height:11px;*vertical-align:top}
.popup_mac a.close{position:absolute;top:-1px;right:-1px}

/* 상단 아이프레임용 배너 */
.adArea{position:relative;left:0;top:0;z-index:55;height:70px}
.adArea iframe{vertical-align:top}
.adArea .linkContainer{position:absolute;left:0;top:69px;width:100%;height:1px;background:url(//pics.gmkt.kr/pc/ko/common/blank.png) repeat-x}
.adArea .linkContainer a.top_bnn_close{position:absolute;display:block;top:-54px;left:50%;width:34px;height:34px;margin-left:455px;z-index:60;zoom:1}
span.btn_bnn_close{overflow:hidden;display:block;width:35px;height:35px;background:url(//pics.gmkt.kr/pc/ko/main/main.png) no-repeat -528px -158px;line-height:999em}

/*  하단 배너   */
.adAreaB{position:fixed;left:50%;margin-left:-490px;height:168px;background:none;bottom:0;z-index:55;text-align:center}
.adAreaB div.event_box{width:980px;height:168px;background:#888;position:relative}
.adAreaB div.event_box a.event{display:block;width:980px;height:168px;background:url(//pics.gmkt.kr/pc/ko/expire/main_surface.jpg) no-repeat;text-indent:-999em}
.adAreaB div.event_box a.bnn_close{position:absolute;display:block;top:14px;right:14px;width:34px;height:34px;z-index:999;zoom:1}
span.btn_banner_close{overflow:hidden;display:inline-block;width:35px;height:35px;background:url(//pics.gmkt.kr/pc/ko/main/button.png) -227px -114px;z-index:9990;line-height:999em}

.modal_popup{position:fixed;top:0;left:0;width:100%;z-index:5000} /* fixed */
.modal_layer{position:absolute;left:0;top:0;width:100%;z-index:3000} /* absolute */
.modal_popup .back_block,.modal_layer .back_block,.layer_modal_popup_bg{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;-ms-filter:alpha(opacity=60);filter:alpha(opacity=60);opacity:0.6}

.geoip{overflow:hidden;position:relative;left:50%;top:200px;margin-left:-286px;width:600px;height:460px;background:#F2F2F2 url(//pics.gmkt.kr/pc/ko/main/geoip.png) no-repeat 0 -330px}
.geoip .ko,.geoip .en{position:relative;float:left;margin:111px 0 0 42px;width:248px;height:318px;background:#fff url(//pics.gmkt.kr/pc/ko/main/geoip.png) no-repeat;border:1px solid #e5e5e5}
.geoip .en{margin-left:10px;background-position:-250px 0}
.geoip .en .select_list{position:absolute;left:37px;top:186px}
.geoip .en .select_list li{height:26px}
.geoip .en .select_list li>label{overflow:hidden;display:block;float:left;width:60px;height:20px;text-indent:-999em}
.geoip .en .select_list li>select{width:120px}
.geoip a.button_go{position:absolute;left:49px;top:274px;display:block;padding-top:6px;width:150px;height:21px;color:#fff;text-align:center;font-weight:bold;text-decoration:none}
.geoip a.button_close{overflow:hidden;display:block;position:absolute;right:0;top:0;width:45px;height:40px;background:#fff url(//pics.gmkt.kr/pc/ko/main/geoip.png) no-repeat -510px 0;text-indent:-999em}


/* basic type  */
.ad_bnr_wrap{position:relative}
.ad_bnr_wrap .ad_bnr_btn{position:absolute;right:0;display:block;overflow:hidden;*zoom:1;width:22px;height:22px;line-height:100px;background:url(//pics.gmkt.kr/pc/ko/common/sprite_ico_ad.png) no-repeat}
.ad_bnr_wrap .ad_bnr_layer{position:absolute;right:0;height:28px;padding-top:5px;background:none;line-height:28px}
.ad_bnr_wrap .ad_bnr_layer em{position:absolute;overflow:hidden;right:8px;width:5px;height:4px;background:url(//pics.gmkt.kr/pc/ko/common/sprite_ico_ad.png) -5px -45px no-repeat;*zoom:1}
.ad_bnr_wrap .ad_bnr_layer p{width:63px;height:23px;padding-left:10px;background:#fff;border:1px solid #777;color:#000;font-size:11px;font-family:dotum,"돋움";letter-spacing:-1px}
@-moz-document url-prefix(){.ad_bnr_wrap .ad_bnr_layer p{line-height:25px}}/* 파폭 */
@media screen and (-webkit-min-device-pixel-ratio:0){.ad_bnr_wrap .ad_bnr_layer p{line-height:25px}}/* 크롬 */
.ad_bnr_wrap .ad_bnr_layer .ad_bnr_close{position:absolute;display:block;overflow:hidden;*zoom:1;width:19px;height:19px;line-height:100px;top:8px;right:2px;background:url(//pics.gmkt.kr/pc/ko/common/sprite_ico_ad.png) 0px -25px no-repeat}

/* (i) 투명 */
.ad_bnr_wrap .ad_bnr_btn.trans {background-position:-25px 0}

/* type1 - 위(기본) */
.ad_bnr_wrap.type1 .ad_bnr_btn{top:0}
.ad_bnr_wrap.type1 .ad_bnr_layer{top:17px}
.ad_bnr_wrap.type1 .ad_bnr_layer em{top:2px}

/* type2 - 레이어 오른쪽 간격 */
.ad_bnr_wrap.type2 .ad_bnr_btn{top:0;left:inherit !important;margin-left:0}
.ad_bnr_wrap.type2 .ad_bnr_layer{top:17px;right:3px}
.ad_bnr_wrap.type2 .ad_bnr_layer em{top:2px;right:5px}

/* type3 - 아래 */
.ad_bnr_wrap.type3 .ad_bnr_btn{bottom:0}
.ad_bnr_wrap.type3 .ad_bnr_layer{bottom:17px}
.ad_bnr_wrap.type3 .ad_bnr_layer em{bottom:1px;background-position:-5px -55px}

/* type_float */
.ad_bnr_wrap.type_float .ad_bnr_btn{bottom:0;right:35px}
.ad_bnr_wrap.type_float .ad_bnr_layer{bottom:17px;right:35px}
.ad_bnr_wrap.type_float .ad_bnr_layer em{bottom:1px;background-position:-5px -55px}

/* type_cpbox */
.table_style1 .ad_bnr_wrap.type_cpbox{top:0;right:0;bottom:0;left:0;width:100%;height:100%}
.ad_bnr_wrap.type_cpbox .ad_bnr_btn{top:-10px;right:-15px}
.ad_bnr_wrap.type_cpbox .ad_bnr_layer{top:7px;right:-10px}
.ad_bnr_wrap.type_cpbox .ad_bnr_layer em{top:2px;right:5px}

/* type_pay */
#cart_container .ad_event div.ad_bnr_layer,#cart_container .ad_event div.ad_bnr_wrap{width:auto;height:auto;border:none}
.ad_bnr_wrap.type_pay .ad_bnr_btn{top:0;right:}
.ad_bnr_wrap.type_pay .ad_bnr_layer{top:17px;right:3px}
.ad_bnr_wrap.type_pay .ad_bnr_layer em{top:2px;right:5px}

/* 예외처리 */
/* cpp 중앙 배너 */
.promotion .promotion-type1 .img .ad_bnr_wrap.type1 .ad_bnr_layer{right:1px}
.promotion-banner .ad_bnr_wrap .ad_bnr_btn,.promotion-banner .ad_bnr_wrap .ad_bnr_layer .ad_bnr_close{margin-top:0;border:none}
/* lp banner-section */
.banner-section .ad_bnr_wrap .ad_bnr_layer .ad_bnr_close{left:inherit;margin-left:0}

/* 바로접속 종료 안내 */
#layer_direct .ly_wrap .layer_type{width:800px;height:700px;margin-left:-400px;margin-top:-350px;background:#FFF url(//image.gmarket.co.kr/Gmkt_Event/2016/11/baro/popup.jpg) no-repeat 0 0;border:none;}
#layer_direct .ly_wrap .layer_type .title{height:77px;padding-top:0;background:none;text-indent:-999em;width:204px;height:25px;padding:26px 0 26px 287px;}
#layer_direct .ly_wrap .layer_type .ly_close{background:none;top:14px;right:20px;width:20px;height:19px;}
#layer_direct .ly_wrap .layer_type .pop_cont{height:619px;}
#layer_direct .go_attend,.go_coupon{position:absolute;bottom:160px;z-index:20;height:25px;font-size:0;line-height:0}
#layer_direct .go_attend{left:80px;width:75px}
#layer_direct .go_coupon{left:165px;width:110px}
#layer_direct .chk_box{position:absolute;bottom:31px;left:486px}
#layer_direct .chk{width:17px;height:17px;border:1px solid #b2b2b2;background-color:#fff}
