body {
	font-size:12px;
	font-family:'宋体',Arial;
	line-height:150%;
	color:#575757;
	margin:0;
	padding:0;
	background:#F5F5F5;
}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p {
	margin:0;
	padding:0;
	border:none;
	list-style-type:none;
}
.nofix p {
	margin:auto;
	padding:inherit;
}
div {
	margin:0 auto;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
*html .clearfix {
	height:1%;
}
*+html .clearfix {
	height:1%;
}
.clear {
	clear:both;
	font-size:0;
	background:none;
}
select {
	font-size:12px;
	padding:1px;
}
.word_break {
	white-space:normal;
	word-break:break-all;
	word-wrap:break-word;
}
.dashed li,.dot {
	background:url(../images/lineBg.gif) repeat-x center bottom;
}
.dashed li.last {
	background:none;
}
.dashed2 li {
	background:url(../images/lineBg.gif) repeat-x left top;
}
.blank1 {
	height:1px;
	line-height:1px;
	overflow:hidden;
	font-size:0;
	clear:both;
}
.blank {
	height:14px;
	line-height:14px;
	clear:both;
	visibility:hidden;
}
.blank15 {
	height:15px;
	line-height:15px;
	clear:both;
	visibility:hidden;
}
.block,.block2 {
	width:980px;
	overflow:hidden;
}
.adBox {
	margin:14px auto;
	border:1px solid #CFCFCF;
	font-size:0;
	clear:both;
}
.ad974 {
	width:974px;
	height:90px;
	border:2px solid #FFF;
	overflow:hidden;
}
.boxPadd {
	padding:8px;
}
.boxPadd6 {
	padding:6px;
}
.noborder {
	border:none;
}
.nobg {
	background:none;
}
.t_l {
	text-align:left;
}
.t_r {
	text-align:right;
}
.t_c {
	text-align:center;
}
.f_l {
	float:left;
}
.f_r {
	float:right;
}
.f_l_img {
	float:left;
}
.f_l_img a {
	margin-bottom:5px;
}
.f_r_info {
	float:right;
}
.box_1 {
	background:#fff;
	border:1px solid #BBBBBB;
}
.box_4 {
	background:#fff;
	border:4px solid #EBEBEB;
	width:980px
}
.w960 {
	width:958px;
}
h2 {
	font-size:15px;
}
h3 {
	font-size:14px;
}
h2 a,h3 a {
	color:#2E2E2E;
}
.itemTit {
	background:#3D85C3 url(../images/tit_spr.gif) repeat-x;
	height:24px;
	line-height:24px;
	border:1px solid #54A3E1;
	border-bottom:1px solid #477CA3;
}
.itemTit h2 {
	font-size:12px;
	color:#CEF1FF;
	padding:0 10px;
	float:left;
}
.itemTit .more a {
	color:#DDF3FF;
	float:right;
	margin-right:10px;
}
.itemTit h2 a {
	color:#CEF1FF;
}
.itemTit3 {
	background:#4FA5DC;
	height:100%;
	border-top:1px solid #74B8E3;
	padding:5px 10px;
	color:#000;
}
.itemTit3 h2 {
	color:#fff;
	width:350px;
	float:left;
}
.itemTit3 h2.iew6 a {
	_position:relative;
	_top:3px;
}
.itemTit3 h2.bnt_o_i5_a {
	width:620px;
}
.itemTit3 form {
	float:right;
	margin-top:3px;
	width:300px;
	text-align:right;
}
.itemTit3 form input {
	background:url(../images/topicSearch.gif) no-repeat;
	height:22px;
	line-height:22px;
	font-size:12px;
	vertical-align:middle;
	border:none;
}
.itemTit3 form input.topic_keys {
	width:215px;
	padding:0 5px 0 10px;
	float:left;
}
.itemTit3 form input.topic_bnts {
	background-position:-240px 0;
	width:68px;
	text-indent:-9999px;
	float:left;
	cursor:pointer;
}
a {
	color:#3D3D3D;
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	text-decoration:none;
	color:#FF7E00;
}

a.imglink {
	border:1px solid #B4B4B4;
	display:inline-block;
	background:#FFF;
	color:#FFF;
	text-align:center;
	overflow:hidden;
}
a.imglink:hover {
	border:1px solid #FF9C00;
}
a.imglink span {
	border:1px solid #FFF;
	display:inline-block;
	overflow:hidden;
}
a.imglink img {
	border:1px solid #fff;
}
a.imglink span img {
	border:none;
}
a.close {
	background:url(../images/release_spring.gif) -208px -41px no-repeat;
	width:13px;
	line-height:13px;
	display:inline-block;
	text-indent:-9999px;
}
a.close:hover {
	background-position:-194px -41px;
}
a.avatar {
	border:1px solid #B4B4B4;
	display:inline-block;
}
.avatar:hover {
	border:1px solid #FF9C00;
}
a.avatar img {
	border:1px solid #fff;
}
.topNav {
	height:32px;
	border-bottom:1px solid #D4DBE1;
	background:#FFF;
	z-index:1000;
	_overflow:hidden;
}
.aft_log {
	width:500px;
}
.aft_log span {
	display:inline-block;
	float:left;
	height:32px;
	line-height:32px;
	padding-left:18px;
	margin-right:11px;
	background:url(../images/u_i.png) no-repeat;
}
.aft_log .u_i0 {
	background:none;
	color:#76909F;
}
.aft_log .u_i0 a {
	color:#76909F;
}
.aft_log .u_i0 img {
	vertical-align:middle;
	padding:1px;
	background:#FFF;
	border:1px solid #cce7ef;
	margin-right:3px;
	position:relative;
	top:-1px;
}
.aft_log .u_i1 {
	background-position:0 0;
}
.aft_log .u_i2 {
	background-position:0 -32px;
}
.aft_log .u_i3 {
	background-position:0 -66px;
}
.aft_log .f1 {
	color:#F23900;
}
.q_s {
	width:210px;
}
.q_s dl {
	float:left;
	width:104px;
}
.q_s span {
	float:left;
	margin:6px 0 0 18px;
}
.t_dlist {
	width:106px;
	z-index:2013;
	*position:relative;
	position:relative;
	left:0;
	top:0;
}
.t_dlist a {
	display:block;
	border:1px solid #B8B8B8;
	background:#D5D5D5;
	height:31px;
	line-height:31px;
	margin-top:-1px;
	padding-right:32px;
	text-align:right;
}
.t_dlist dt {
	background:url(../images/dl-i-c.gif) 78px 50% no-repeat;
	height:26px;
	line-height:26px;
	padding-right:32px;
	margin-top:3px;
	text-align:right;
}
.t_dlist dt.HT {
	background:#D5D5D5 url(../images/dl-i-c.gif) 78px 10px no-repeat;
	overflow:hidden;
	border:1px solid #B8B8B8;
}
.wo_fa {
	width:106px;
}
.t_logfrm {
	width:750px;
}
.t_logfrm .d_u_d {
	width:95px;
	position:relative;
	z-index:2019;
}
.t_logfrm .d_u_d dt {
	background-position:78px 10px;
}
.t_logfrm .d_u_d a,.t_dlist dt.HT {
	text-align:left;
	padding:0 0 0 14px;
}
.t_logfrm form {
	width:640px;
	margin:5px 0 0 0;
	position:relative;
	left:-10px;
	z-index:2018;
}
.t_logfrm form input.ip {
	width:118px;
}
.t_logfrm input {
	vertical-align:middle;
}
.topBox {
	background:url(../images/topbox.png) center bottom repeat-x;
	height:164px;
	overflow:visible;
}
.topBoxplay {
	height:42px;
}
.topBox .block {
	overflow:visible;
}
.topBox p {
	width:165px;
	margin:25px 0 26px 8px;
	overflow:hidden;
	text-indent:-9999px;
}
.topBox p a {
	display:block;
	height:71px;
	background:url(../images/logo.png) no-repeat;
}
#AD270x70{width:270PX; height:70px;float:right;margin-top:10px}
.searchBox {
	width:488px;
	margin-top:20px;
	margin-right:0;
	margin-bottom:0;
	margin-right:0;
	float:right
}
.searchBox .keyworde {
	text-align:left;
	width:488px;
	overflow:hidden;
	margin-left:0px;
}
.searchBox .keytitle {
	text-align:left;
	color:#5996B5;
	font-weight:bold;
	display:block;
	margin-top:4px;
	overflow:hidden;
	height:20px;
}
.searchBox .keytitle font {
	color:#666666;
	width:432px;
	font-weight:normal
}
.searchBox .keytitle font a:hover {
	color:#FC8C07;
	text-decoration:none;
}
.searchBox .keyworde span {
	float:left;
}
.searchBox .keyworde a {
	margin:0 2px;
	color:#565656;
}
.searchBox .keyworde a:hover {
	color:#84FF00;
}
.searchBox .h_keywords {
	float:right;
	width:385px;
	position:relative;
	z-index:2;
}
.searchBox .h_keywords .d_list dd {
	background-color:#fff;
	top:-25px;
}
.searchBox #keyword {
	float:left;
	height:30px;
	line-height:30px;
	width:200px;
	padding:0 58px 0 28px;
	border:1px solid #B3BCC2;
	background:#FFF;
	background-image:url(sico.gif);
	background-repeat:no-repeat;
	background-position:6px 8px;
	font-size:16px;
	vertical-align:middle;
	color:#999999;
	font-size:14px
}
.searchBox #keyword_bnt {
	float:right;
	background:url(../images/kw_bnt.png) no-repeat;
	width:92px;
	height:32px;
	cursor:pointer;
	vertical-align:middle;
	border:none;
	text-indent:-9999px;
}
.menuBox {
	clear:both;
	*margin-top:19px;
	z-index:0;
	position:relative;
	background:#1F6C9E url(../images/menuBox.png) repeat-x;
}
.menuBoxplay {
*margin-top:0;
}
.menuBox ul {
	height:38px;
	line-height:38px;
	border:1px solid #247AA4;
	border-top:none;
	border-bottom:none;
	padding-left:10px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	width:980px;
	position:relative
}
.menuBox ul li {
	float:left;
	margin:0 1px;
	display:inline;
}
.menuBox ul li a {
	float:left;
	font-weight:bold;
	margin-top:7px;
	padding:0 11px;
	font-size:14px;
	height:24px;
	line-height:24px;
	color:#D0EFFF;
	position:relative;
}
.menuBox ul li a span {
	position:absolute;
	right:-1px;
	top:0;
	display:block;
	width:5px;
	height:24px;
}
.menuBox ul a:hover {
	background:url(../images/bnts_spring.png) left -160px no-repeat;
	color:#fff;
}
.menuBox ul a:hover span {
	background:url(../images/bnts_spring.png) right -160px no-repeat;
}
.menuBox ul a.cur,.menuBox ul a.cur:hover {
	height:38px;
	line-height:38px;
	color:#FFF;
	margin-top:0;
	background:#00B7FF;
}
.menuBox ul a.cur span,.menuBox ul a.cur:hover span {
	display:none;
}
.menuBox h2 {
	text-align:center;
	color:#fff;
}
.help {
	clear:both;
	position:absolute;
	right:8px;
	top:8px;
	*top:2px;
	text-align:center;
}
.help a.qiu,.help a.hlp {
	display:block;
	font-size:14px;
	line-height:24px;
	text-align:center;
	background-color:#CCCCCC;
	color:#333;
	font-weight:normal
}
.help a.qiu {
	width:40px;
}
.help a.hlp {
	width:40px;
	border-left:#666666 solid 1px;
}
/*电影区*/
.mvqu{
 background:#FEFFE6;
 border-bottom:#EAEAEA solid 1px

 }
.mvqu_content{
 height:30px;
 line-height:30px;
 width:980px; 
 font-size:14px; 
 margin:0 auto;
} 
.mvqu_content span.mvtitle{
float:left;
color:#E43770; 
font-weight:bold; 
padding-left:35px; 
background:url(../images/mvjpg.png) no-repeat 12px center
}
.mvqu_content a.mvlei{
font-size:14px;
/*font-weight:bold;
color:#666666;*/
text-align:center;

float:left;
display:block;
line-height:30px;
width:50px;
}
.mvqu_content a#mvcur{
font-size:14px;
text-align:center;
float:left;
/*font-weight:bold;*/
color:#FFFFFF;
display:block;
height:30px;
width:50px;
background-color:#00B7FF
}

.mvqu_content span.mvhot{
margin-left:10px;
font-size:12px;
float:left;
color:#FF6820; 
font-weight:bold;
white-space:nowrap;
overflow:hidden
}
.mvqu_content span.mvhot a{
font-size:12px;
font-weight:normal;
margin:0 2px
}
.w960 {
	width:960px;
	margin:0 auto;
	text-align:center;
}
.footer {
	width:100%;
	background:#ececec;
	line-height:24px;
	text-align:center;
	padding-bottom:30px;
	border-top-width:2px;
	border-top-style:solid;
	border-top-color:#00A6FF;
}
.foot-nav {
	color:#333;
	height:24px;
	overflow:hidden;
	margin:25px 0 20px 0;
	text-align:center;
}
.foot-nav a {
	margin:0 10px;
}
.copyright {
	text-align:center;
}
.menuBox .help-link {
	height:26px;
	overflow:hidden;
	float:right;
	margin-top:7px;
	background:#e12160;
}
.menuBox.help-link a {
	padding:0 5px;
	font-size:14px;
	line-height:24px;
	overflow:hidden;
	color:#fff;
	text-align:center;
	float:left;
	border-right:1px solid #f95084;
}
.menuBox .help-link a.gb {
	border:0;
}
.menuBox .help-link a:hover {
	color:#fff;
	text-decoration:none;
	background:#c4164f;
	padding:0 5px;
	font-size:14px;
	line-height:24px;
}
#scrollcontain_1 ul li a {
	position:relative;
	display:inline;
	overflow:hidden;
}
#scrollcontain_1 ul li a:hover {
	text-decoration:underline;
	color:#FF7E00
}
#scrollcontain_2 ul li a {
	position:relative;
	display:inline;
	overflow:hidden
}
.scrollbox_show {
	margin-left:0
}
.bfly {
	clear:both;
	margin-bottom:10px;
}
.bfly1 h1 {
	margin-bottom:5px;
}
.box_con_download {
	padding:0 10px 10px;
}
.download_list {
	position:relative;
}
.download_list li,.download_oper {
	position:relative;
	height:30px;
	padding:0 100px 0 30px;
	line-height:30px;
	overflow:hidden;
}
.download_list a {
	font-size:14px;
}
.download_list a {
	position:absolute;
	right:0px;
	top:0;
	color:#555;
	font-family:"Verdana";
}
.download_list .odd,.download_oper {
	background:#f8f8f8;
}
.download_list input,.download_oper input {
	position:absolute;
	left:7px;
	top:6px;
}
.download_list label,.download_oper label {
	float:left;
	display:inline;
	margin-right:10px;
	color:#909090;
}
.dl_all {
	float:left;
	display:block;
	width:143px;
	height:36px;
	text-indent:-9999px;
	overflow:hidden;
	background-attachment:scroll;
	background-color:transparent;
	background-image:url(sprite_content.png);
	background-repeat:no-repeat;
}
.download_tips {
	position:absolute;
	right:10px;
	color:#909090;
	line-height:30px;
}
.download_tips a {
	margin-right:10px;
	font-size:12px;
	color:#909090;
	text-decoration:underline;
}
.download_oper {
	padding:3px 10px 3px 3px;
	margin-top:3px;
	margin-left:20px;
	width:903px
}
.download_oper input {
	top:9px;
}
.download_tab {
	height:30px;
	padding:0 10px;
	margin:5px 0;
	line-height:30px;
	overflow:visible;
	_overflow:hidden;
}
.download_tab p {
	float:right;
}
.download_tab_on {
	background:#fbfbfb;
	margin-bottom:15px;
	border:solid #e8e8e8 1px;
}
.download_tab_on span {
	float:left;
	font-size:14px;
	color:#606060;
	cursor:pointer;
}
.download_tab_on span:hover {
	}.download_tab_on a {
	float:left;
	display:block;
	width:82px;
	font-family:"Verdana";
	text-align:center;
}
.download_tab_on .on {
	position:relative;
	top:3px;
	height:32px;
	background-position:-237px -60px;
	color:#555;
	line-height:26px;
}
.download_tab_on .on:hover {
	text-decoration:none;
}
.download_list span {
	line-height:30px;
}
.scrollbox_show li {
	display:block;
	position:relative;
	margin-left:20px;
	margin-top:10px;
	width:774px
}
.title em {
	background:url(play-mode-ico.gif) 7px 7px no-repeat;
	display:block;
	width:27px;
	height:27px;
	float:left;
}
#playIco_qvod {
	background-position:7px 7px
}
#playIco_youku {
	background-position:7px -23px
}
#playIco_tudou {
	background-position:7px -53px
}
#playIco_qiyi {
	background-position:7px -83px
}
#playIco_pptv {
	background-position:7px -113px
}
#playIco_putong {
	background-position:7px -173px
}
#playIco_letv {
	background-position:7px -203px
}
#playIco_tengxun {
	background-position:7px -233px
}
#playIco_baidu {
	/*background-position:7px -263px*/
	background-position:7px 7px
}
#playIco_qita {
	background-position:7px -293px
}
#playIco_jjvod {
	background:url(jjvod.png) 7px 7px no-repeat;
}
#playIco_xigua {
	background:url(xigua.gif) 7px 7px  no-repeat;
}
#playIco_dupan {
	background:url(yun.gif) 7px 7px  no-repeat;
}
#playIco_tianyi {
	background:url(tianyi.gif) 7px 7px  no-repeat;
}
#playIco_360 {
	background:url(360.gif) 7px 7px  no-repeat;
}
#playIco_sohu {
	background:url(sohu.gif) 7px 7px  no-repeat;
}
.his {
	width:100px;
	overflow:hidden;
	float:left;
}
.his em {
	width:98px;
	height:30px;
	line-height:30px;
	display:block;
	overflow:hidden;
	color:#333;
	text-indent:14px;
	cursor:pointer;
	border:1px solid #AAA;
	background:#EEE url(arr2.gif) 85px 14px no-repeat;
}
.his em a {
	display:block;
	margin-left:-3px;
}
.historys {
	z-index:99999999;
	border:#ccc 1px solid;
	position:absolute;
	width:308px;
	background:#fff;
	margin-top:-1px;
}
.historys .vlist {
	line-height:14px;
	overflow:hidden;
	padding-top:10px
}
.historys .vlist .item {
	padding:0 10px;
	overflow:hidden;
}
.historys .vlist .item li {
	overflow:hidden;
	line-height:14px;
	padding:5px 10px;
	margin-bottom:10px;
	background:#f2f2f2;
}
.historys .vlist .item .name {
	padding-left:15px;
	background:url(more.png) no-repeat 0px 48%;
	float:left
}
.historys .vlist .item .now {
	float:right;
	color:#e12160 !important
}
.historys .vinfo {
	line-height:25px;
	height:25px;
	border-top:#cccccc 1px solid;
}
.historys .vinfo span.count {
	padding-left:10px;
	float:left;
	height:25px;
	color:#666666
}
.historys .vinfo span.close {
	padding-right:10px;
	float:right;
	height:25px;
}
.historys .vinfo span.close a {
	color:#0079b9
}
