﻿html {margin:0; padding:0;}
body {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#333333;}
body, div, tabel, tr, td, p, form, span, h1, h2, h3, img {padding:0; margin:0; border:0;}
ol, ul {list-style-type:none;}
div {text-align:left}
.yingcang {display:none}
.B {font-weight:bold;}
.F {float:left}
.R {float:right}
a {font-size:12px; color:#333333; text-decoration:none;}
a:hover {color:#FC8C07; text-decoration:none;}
:focus {outline:0}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {font-style:normal; font-weight:normal}
.pad5 {padding:0 5px;}
.list {height:8px; clear:both; overflow:hidden;}
.list0 {height:0px; overflow:hidden; clear:both;}
.list2 {height:10px; clear:both; overflow:hidden;}
.list3 {height:10px; clear:both; overflow:hidden; line-height:10px; padding-left:3px;}
.list4 {height:88px; clear:both; overflow:hidden; line-height:25px; padding-left:3px;}
.list_dq {height:35px; clear:both; overflow:hidden; line-height:35px; padding-left:3px;}
.H_191 {height:191px; _height:190px;}
.H_180 {height:180px;}
.W260 {width:260px;}
.warp {width:960px; margin:0px auto; text-align:center; padding:0px 0px;}
.warp3 {width:990px; margin:0px auto; background:url(mh_bg_22.gif) no-repeat 0px 288px; height:440px; text-align:center;}
.warp_box {width:958px; margin:0px auto; text-align:center; padding:0px 16px;}
.warp2 {width:966px; margin:0px auto; background:url(ds_19.gif) repeat-y 0px; text-align:center; padding:0px 12px;}
.warp4 {width:958px; margin:0px auto; background:url(s_20.gif) repeat-y 9px 20px; _background:url(s_20.gif) repeat-y 10px 20px; height:288px; text-align:center; padding:0px 16px;}
.top {margin:0px auto;}
.top_t {height:68px; margin:0px auto;}
.top_con {height:68px; width:950px; float:left;}
.top_t_cn {width:990px; height:68px; margin:0px auto; background:url(s_06.gif) repeat-x 0px;}
.top_t_cn2 {width:980px; height:68px; _height:67px; margin:0px auto; background:url(ac_05.gif) repeat-x 0px; position:relative; padding-top:1px;}
.top_title {width:733px; float:right; padding-top:5px; padding-right:0; padding-bottom:0; padding-left:0px;}
.top_title .note {padding-left:30px; width:380px; float:left;}
.top_title .note a {color:#00CCFF}
.top_title .note a:HOVER {text-decoration:underline}
.top_title .a_link {float:right; width:340x; height:20px; overflow:hidden;}
.top_title .a_link .a_home {padding:1px; background:url(icon_part.gif) no-repeat 0 -2px; padding-left:18px; margin-right:10px}
.top_title .a_link .a_clo {padding:1px; background:url(ico_home.gif) no-repeat; padding-left:16px; margin-right:10px}
.top_title .a_link .a_remark {padding:1px; background:url(ico_clo.gif) no-repeat; padding-left:16px}
.top_t_cn_r {float:right;}
.top_t_cn_l {float:left;}
.serch {float:right; width:368px; height:30px; margin-top:3px; white-space:nowrap;}
.serch .sosologo {width:21px; padding-top:7px}
.serch .input {width:285px; margin-top:3px; border:1px solid #CCCCCC; height:25px; line-height:20px; overflow:hidden; margin-right:0px; float:left}
.serch .imgbt {width:77px; height:22px; padding-top:6px; float:right}
.serch .imgbt input {width:77px; height:22px; border:0; cursor:pointer}
.serch .serch_txt {width:266px; height:20px; border:0px; color:#b8b8b8; margin:5px 0px 0px 8px; padding-top:2px; float:left;}
.serch_bt {width:35px; height:30px; border:0px; cursor:pointer; float:left;}
.list {height:8px; clear:both; overflow:hidden;}
.listfooter {height:4px; clear:both; overflow:hidden;}
.bofangqu {height:2px; overflow:hidden;}
.logo {width:260; float:left; margin-top:4px;}
.Nav {width:990px; margin:0px auto; background:url(ds_19.gif) repeat-y 0px; text-align:center;}
.Nav_in {width:973px; height:60px; margin:0px auto; background:url(ind_10.gif) repeat-x; margin-left:9px;}
.Nav_l {width:12px; height:60px; float:left;}
.Nav_c {padding-top:21px; float:left;}
.Nav_r {width:12px; height:60px; float:right;}
.Nav_li {float:left;}
.Nav_li li {float:left; padding:0px 1px; background:url(nav_21.gif) no-repeat right;}
.Nav_li li a {color:white; font-size:14px; padding-top:15px; margin:0px 7px 0 7px; font-weight:400;}
.Nav_li li a:hover {color:#FC8C07;}
.Nav_li .cur {color:#FC8C07;}
.Nav_li3 {margin:3px 5px;}
.index_down img {padding:5px 9px;}
.index_notice {padding:5px 8px 0 8px;}
.adindex {text-align:center; padding-top:0px; width:222px; height:365px; border:1px #ccc solid; border-top:none; overflow:hidden;}
.cn {height:406px;}
.cn_top {width:720px; height:37px; border-width:0px 1px 0px 1px; border-style:solid; border-color:#fff; background:url(ind_37.gif) repeat-x 0 0;}
.cn_top_r {width:220px;  _ width:222px;
height:37px; border-width:0px 1px 0px 1px; border-style:solid; border-color:#fff; background:url(ind_37.gif) repeat-x 0 0;}
.cn_l {width:724px; height:406px; float:left; background-color:#fff;}
.cn_r {width:224px; height:400px; float:left; margin-left:10px; _margin-left:8px; background-color:#fff;}
.cn_r_box {width:224px; height:405px;}
#slideshow {list-style:none; color:#fff; display:none;}
#slideshow span {display:none}
#wrapper {width:100%; float:left; margin-top:1px; margin-right:2px; _margin-right:0; position:absolute; z-index:-1}
#wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:100%;}
#information {position:absolute; bottom:0; width:663px; height:0; background:#000; color:#fff; overflow:hidden; z-index:200; opacity:.7; filter:alpha(opacity=70)}
#information h3 {padding:4px 8px 3px; font-size:14px}
#information p {padding:0 8px 8px}
#image img {position:absolute; z-index:25; width:auto}
.imgnav {position:absolute; width:25%; height:235px; cursor:pointer; z-index:150}
#imgprev {left:0; background:url(left.gif) left center no-repeat}
#imgnext {right:0; background:url(right.gif) right center no-repeat}
#imglink {position:absolute; height:235px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {background:url(link.gif) center center no-repeat}
#thumbnails {margin-top:15px}
#slideleft {float:left; width:20px; height:81px; background:url(images/scroll-left.gif) center center no-repeat; background-color:#222}
#slideleft:hover {background-color:#333}
#slideright {float:right; width:20px; height:81px; background:#222 url(images/scroll-right.gif) center center no-repeat}
#slideright:hover {background-color:#333}
#slidearea {float:left; position:relative; width:456px; margin-left:5px; height:81px; overflow:hidden}
#slider {position:absolute; left:0; height:81px}
#slider img {cursor:pointer; border:1px solid #666; padding:2px}
.font_12 {font-size:12px;}
.font_14 {font-size:14px;}
.font_16 {font-size:16px;}
.font_hei {font-family:"黑体";}
.c1_r_move {padding:8px 0px 0px 8px;}
.mag_t10 {margin-top:15px;}
.mag_l8 {margin-left:14px; _margin-left:8px;}
.mag_l_10 {margin-left:10px; _margin-left:8px;}
.mag_l_1 {-padding-left:2px;}
.ind_title3 {float:right; text-align:right; margin-right:15px;}
.c1_l_top_title {height:35px; padding-left:14px; clear:left; line-height:35px; overflow:hidden;}
.move_title_p1 {width:100px; height:20px; overflow:hidden; text-align:center; color:#333333; padding-top:4px;}
.move_title_p2 {text-align:center; color:#cccccc; padding-top:4px;}
.H342 {height:342px;}
.srimg {overflow:hidden; position:absolute;}
.srbar {margin-left:2px; position:relative; background:url(sco.gif) no-repeat;}
.srbar2 {margin-left:2px; position:relative; background:url(sco3.gif) no-repeat;}
.srshow {clear:both; height:150px; padding-left:0;}
.srcontentbox {clear:both;}
.srcontent {height:145px; overflow:hidden;}
.font_14 {font-size:14px; color:#ffffff;}
.font_h18 {font-family:"黑体"; font-size:16px;}
.font_26 {font-family:"黑体"; font-size:26px; line-height:40px;}
.ranklist {height:230px; overflow:hidden; margin-bottom:2px}
.ranklist li {float:left; width:300px; text-align:left; height:22px; line-height:22px; border-bottom:dashed 1px #ccc; margin:0 0px 0 4px; overflow:hidden}
.ranklist em {float:left; width:25px; text-align:center; font-style:normal; display:inline-block; color:#f60; font-weight:bold}
.ranklist a {float:left}
.ranklist span {width:50px; float:right; height:23px; text-align:center; overflow:hidden}
.rankcen {text-align:center}
.rank {width:314px; float:left; height:265px; margin-top:5px; margin-right:5px}
/*首页右侧标题*/
.cor_tab {color:#3A7102; background:#fff;}
.cor_tab2 {color:#666; background:#F2F2F2;}
.cor_move_li {color:#323232;}
.cor_move_li2 {color:#868686;}
.cor_title {color:#fc8800;}
.cor_Bai {color:#fff;}
.move_high_con {color:#3a3a3a;}
.move_high_con2 {color:#888;}
.cor_hei {color:#000;}
.cor_hot_hui {color:#666;}
.cor_hui3 {color:#777777;}
.cor_lan {color:#1b67b2;}
.cor_qlan {color:#5089c2;}
.cor_jh {color:#f95e00;}
.cor_jh2 {color:#fc8c07}
.H15_bac {position:absolute; width:90px; top:108px; left:3px; text-align:center; color:#fff; height:15px; overflow:hidden;}
.H15_bac2 {position:absolute; width:90px; text-align:center; color:#fff;  height:
}
.list_1 {margin-left:8px; margin-top:6px; padding-left:2px;}
.list_1 li {display:block; padding-left:40px; line-height:20px;}
li.L1 {background:url(L1.gif) no-repeat 0px 50%; padding-left:30px; line-height:21px;}
li.L2 {background:url(L2.gif) no-repeat 0px 50%; padding-left:30px; line-height:21px;}
li.L3 {background:url(L3.gif) no-repeat 0px 50%; padding-left:30px; line-height:21px;}
li.L4 {background:url(L4.gif) no-repeat 0px 50%; padding-left:30px; line-height:21px;}
.ind_list {float:left; color:#686868; line-height:30px; _margin-top:8px;}
.ind_list li {float:left; margin:0px 1px;}
.list_2 {padding-top:3px; padding-left:8px; border-top:1px #EAEAEA solid;}
.list_2 ul li {float:left; /*width:170px;*/
width:172px; height:28px; padding-left:5px; padding-top:2px; line-height:25px; white-space:nowrap; overflow:hidden; font-size:12px}
.list_2 ul li em {font-family:Verdana; font-size:12px; /*	background:url(img.gif) -2px -7px no-repeat;*/
display:block; /*	height:19px;
	width:19px;*/
line-height:19px; width:38px; float:left;}
/*.list_2 ul li  em:hover,.list_3 ul li  em:hover {
	background:url(img.gif) -2px -41px no-repeat;
	cursor:pointer;
}*/
.list_2 ul li a {color:#1974C8; font-size:14px; float:left; display:block; padding-left:3px; line-height:19px; width:128px; overflow:hidden}
.list_2 ul li a:hover {color:#FD5C01}
/*影视区*/
.oumv {padding-top:3px; margin-top:15px; margin-left:-5px; border-top:1px #EAEAEA solid;}
.oumv ul li {float:left; width:165px; height:28px; padding-left:5px; padding-top:2px; line-height:25px; white-space:nowrap; overflow:hidden; font-size:12px}
.oumv ul li em {font-family:Verdana; font-size:12px; /*background:url(img.gif) -2px -7px no-repeat;*/
display:block; line-height:19px; width:42px; float:left;}
/*.oumv ul li  em:hover,.list_3 ul li  em:hover {
	background:url(img.gif) -2px -41px no-repeat;
	cursor:pointer;
}*/
.oumv ul li a {color:#1974C8; font-size:14px; float:left; display:block; padding-left:7px; line-height:19px; width:116px; overflow:hidden}
.oumv ul li a:hover {color:#FD5C01}
.list_3 {padding-top:3px; padding-left:4px; border-top:1px #EAEAEA solid;}
.list_3 ul li {float:left; width:151px; height:28px; padding-left:5px; line-height:28px; white-space:nowrap; overflow:hidden; font-size:12px;}
.list_3 ul li em {font-family:Verdana; font-size:12px; /*	background:url(img.gif) -2px -7px no-repeat;*/
display:block; /*	height:19px;
	width:19px;*/
line-height:19px; width:38px; float:left;}
.list_3 ul li a {color:#1974C8; font-size:14px; padding-left:1px; line-height:19px; float:left; display:block; /*	width:124px;*/
width:109px; overflow:hidden;}
.list_3 ul li a:hover {color:#FD5C01}
.list_4 {padding-left:9px; _padding-left:0px;}
.list_4 li {overflow:hidden; float:left; padding:0 9px;}
.list_5 {padding-left:10px; padding-bottom:10px;}
.list_5 li {float:left; height:180px; width:110px;}
.list_6 {padding-bottom:8px;}
.list_6 li {float:left; margin-left:15px; _margin-left:7px; padding-bottom:5px;}
.list_7 {padding-bottom:8px;}
.list_7 li {float:left; margin-left:20px; _margin-left:10px; margin-bottom:5px;}
.list_8 {padding-left:10px;}
.list_8 a {float:left; display:block; width:95px; padding-left:40px; line-height:24px;}
.list_9 {}
.list_9 li {float:left; width:60px; padding-left:28px; overflow:hidden; height:15px; margin-bottom:5px; margin-left:5px;}
.list_10 {padding-left:2px;}
.list_10 li {float:left; padding-left:15px;}
.list_12 {padding-left:4px; padding-bottom:10px; overflow:hidden;}
.list_12 li {float:left; margin:0px 8px; _margin:0px 7px;}
.list_15 {float:left; color:#686868; margin-right:15px; line-height:30px; margin-top:2px; _margin-top:4px;}
.list_15 li {float:left;}
.list_16 {float:left; color:#686868; margin-left:15px; line-height:30px;}
.list_16 li {float:left;}
.list_19 {float:left; margin-left:10px; _margin-left:5px; overflow:hidden;}
.list_19 li {float:left}
.list_19_li_A {float:left; margin-top:15px; margin-left:0px; margin-right:23px; margin-bottom:5px;}
.list_20 {color:#000; padding-top:3px; float:right; width:165px;}
.list_20 li {height:20px; white-space:nowrap; padding-top:3px; width:165px; overflow:hidden;}
.ts {height:38px; background:url(li_03.jpg) repeat-x 0 0; text-align:center;}
.ts .con {width:960px; color:#565656; line-height:38px; top:2px;}
.ts .close {width:27px; height:27px; top:5px;}
.ts .close a div {width:27px; height:27px; background:url(ts_09.jpg) no-repeat 0 0; MARGIN-top:1PX;}
.ts .close a:hover div {width:27px; height:27px; background:url(ts_07.jpg) no-repeat 0 0;}
.ts a {color:#f98d00; font-size:14px; text-decoration:underline;}
.ts a:hover {color:#f98d00; font-size:14px; text-decoration:none;}
.banner {width:951px; border-width:0px 4px 0px 4px; border-color:#5c5c5c; border-style:solid; background-color:#000;}
.banner_m {width:951px; height:268px; overflow:hidden;}
.banner_m_l {width:642px; _width:640px; height:268px; float:left; border-width:0px 2px;  0px 1px;
border-style:solid; border-right-color:#000; border-left-color:#444444; overflow:hidden; position:absolute; z-index:1;}
.banner_m_l2 {width:642px; _width:640px; height:268px; float:left; overflow:hidden; position:absolute; z-index:2;}
.banner_m_l_tswrap {width:642px; _width:640px; height:268px; float:left;}
.banner_m_l_tswrap .box {width:642px; _width:640px; height:268px; float:left; position:absolute;}
.banner_m_l .ts {position:relative; width:642px; _width:640px;}
.banner_m_l img {width:642px; height:268; border:0;}
.banner_m_r {width:304px; height:268px; float:left; background-color:#212121; padding-top:2px;}
.banner_m_r_list {width:304px; height:65px; overflow:hidden}
.banner_list_bac {background:url(mn_32.gif) no-repeat 0px 50%;}
.banner_m_r_list_img {border:2px solid #fff;}
.banner_m_r_list_img2 {border:2px solid #CCCCCC;}
.banner_m_r_list_l {margin-top:1px; margin-left:13px; _margin-left:6px; float:left; height:55px; width:auto; padding-top:10PX;}
.banner_m_r_list_r {padding-top:3px; padding-left:8px; float:left; height:65px; width:180px; color:#c7c7c7;}
.banner_box {width:45px; height:13px; background:url(cs_31.gif) no-repeat 0 0; line-height:13px; text-align:center; font-family:Arial; font-size:10px; float:left;}
.banner_box2 {margin-top:7px; height:32px; float:left; width:180px;}
.banner_box3 {height:15px; margin-left:65px; _margin-left:30px; width:67px; float:left}
.banner_m_r_list_H2 {height:2px; overflow:hidden; clear:both;}
.banner_m2 {width:959px; overflow:hidden;  *display:inline;
}
.banner_m2_l {width:101px; height:120px; float:left; background:url(x_33.gif) no-repeat 0 0; overflow:hidden;}
.banner_m2_contact {width:844px; height:120px; float:left; background:url(x_35.gif) repeat-x 0 0; overflow:hidden;}
.banner_m2_contact_t {height:31px; border-width:0px 0px 1px;  0px;
border-style:solid; border-color:#c2d1d2; line-height:31px;}
.banner_m2_contact_b {width:137px; height:77px;}
.banner_m2_contact_b_l {width:7px; float:left;}
.banner_m2_contact_b_m {width:123px; height:75px; float:left; border-width:1px 0px; border-style:solid; border-color:#bbbbbb; background-color:#fff; overflow:hidden;}
.banner_m2_contact_b_m2 {width:123px; height:75px; float:left; border-width:1px 0px; border-style:solid; border-color:#c2c2c2; background-color:#fff; overflow:hidden; background:url(sdd78.gif) repeat-x 0 -1px;}
.banner_m2_t {height:30px; line-height:30px; font-size:14px; font-weight:bold; color:#000; text-align:center; border-bottom:1px solid #bbbbbb; padding-top:3px;}
.banner_m2_b {width:120px; line-height:15px;}
.banner_m2_contact_b_r {width:7px; float:right;}
.banner_m2_r {width:14px; height:120; float:left; overflow:hidden;}
.banner_m2_r_b {height:100px; overflow:auto; margin:5px;}
.banner_time_t {width:67px; height:20px; margin:30px auto 0px 10px; line-height:20px; text-align:center; font:Arial; font-size:14px; font-weight:bold;}
.banner_time_t2 {margin-left:10px; height:32px; width:67px; font-size:26px; font-family:Arial; font-weight:bold; color:#e4a861; overflow:auto; text-align:center; padding-top:3px;}
.banner_time_t3 {margin-left:10px; height:20px; font-size:12px; color:#fff; font-weight:bold;}
.c2_contact {padding-top:14px;  *padding-top:7px;
}
.c2_contact ul {height:145px; white-space:nowrap;}
.c2_contact_list {height:145px;}
.c2_contact_list li {float:left; margin-left:18px;}
.c1_l_wap .r {width:7px; float:right;}
.c1_l_wap_contact {margin-left:4px; _margin-left:-6px; padding-bottom:10px; height:168px; position:relative;}
.c1_l_wap_contact ul {padding-left:0px; padding-bottom:10px; _padding-bottom:2px;}
.c1_l_wap_contact li {float:left; margin-left:10px; _margin-left:8px;}
.c1_l_wap_contact li img {height:135px; width:100px; background:#F4F4F4 url(loading.gif) no-repeat scroll center center; display:block; padding:3px; border:1px #CCC solid;}
.aimg {position:relative; display:block;}
a.aimg:hover img {border:#FF7E00 solid 1px;}
.c1_l_wap_contact a:hover .play-icon, .c1_3_wap_contact a:hover .play-icon, bor_img_right a:hover .play-icon {left:4px; top:4px; display:block;}
.aimg span.play-icon {width:100px; height:135px; display:block; overflow:hidden; position:absolute; left:-5000px; top:-5000px; background:#CCCCCC; z-index:1; cursor:pointer; filter:alpha(opacity=20); opacity:0.2;}
.aimg label.bg {width:100px; height:20px; display:block; overflow:hidden; background:#000; position:absolute; left:4px; bottom:4px; _bottom:27px; filter:alpha(opacity=50); opacity:0.5; z-index:2;}
.aimg label.time {width:90px; height:20px; line-height:20px; display:block; overflow:hidden; font-size:12px; position:absolute; left:4px; bottom:4px; _bottom:27px; padding:0 5px; text-align:right; z-index:3; color:#fff; white-space:nowrap;}
.cate.top1 {width:210px; height:345px; float:left; margin-left:8px; margin-top:0;}
.cate.top1 .topImg {width:192px; height:242px; float:left; display:block; background-color:#F4f4f4; position:relative; margin-left:9px;}
.cate.top1 .topImg img {width:190px; height:240px; background:#F4F4F4 url(loading.gif) no-repeat scroll center center; border:#F4f4f4 solid 1px; display:block;}
.cate.top1 .topText {width:190px; float:left; clear:both; overflow:hidden; padding:5px 10px 0; display:inline;}
.cate.top1 .topText .movTt {height:16px; line-height:16px; overflow:hidden; padding-right:10px; position:relative; margin:5px 0 6px 0;  *margin:10px 0 8px 0;
}
.cate.top1 .topText .movTt em {display:block; overflow:hidden; position:absolute; right:15px; top:0px; color:#c00;}
.cate.top1 .topText .movInfo {width:8px; height:10px; display:block; overflow:hidden; position:absolute; right:2px; top:4px; text-indent:-9999px;}
.cate.top1 .topText div.p2 {color:#888; height:60px; line-height:20px; overflow:hidden; padding-top:3px}
.cate.top1 .topText div.p2 p {color:#888; height:60px; line-height:20px; overflow:hidden;}
.aimg_max {position:relative; display:block;}
.topImg a.aimg_max:hover img {border:#FF7E00 solid 1px;}
.topImg a:hover .play-icon_max {left:1px; top:1px; display:block;}
.aimg_max span.play-icon_max {width:190px; height:240px; display:block; overflow:hidden; position:absolute; left:-5000px; top:-5000px; background:#CCCCCC; z-index:1; cursor:pointer; filter:alpha(opacity=20); opacity:0.2;}
.aimg_max label.bg_max {width:190px; height:20px; display:block; overflow:hidden; background:#000; position:absolute; left:1px; bottom:1px; filter:alpha(opacity=50); opacity:0.5; z-index:2;}
.aimg_max label.time_max {width:180px; height:20px; line-height:20px; display:block; overflow:hidden; font-size:12px; position:absolute; left:1px; bottom:1px; padding:0 5px; text-align:left; z-index:3; color:#fff; white-space:nowrap;}
.xptj {position:absolute; top:0px; left:0px; background:url(hot_bg.gif) no-repeat; width:37px; height:37px; display:block; z-index:6;}
.c1_3_wap_contact {padding-left:4px; padding-bottom:10px; height:168px;}
.c1_3_wap_contact ul {padding-left:0px; padding-bottom:10px; _padding-bottom:2px;}
.c1_3_wap_contact li {float:left; margin-left:7px;}
.c1_3_wap_contact li img {height:140px; width:100px; background:#F4F4F4 url(loading2.gif) no-repeat scroll center center; display:block; padding:3px; border:1px #CCC solid;}
.new_border {width:248px; height:130px; border:1px solid #e7e5e5; float:left; padding-left:8px;}
.new_border2 {width:202px; height:55px; border:1px solid #c9c9c9; float:left; margin-left:15px; _margin-left:7px; padding-bottom:5px; overflow:hidden; padding-top:5px;}
.new_border3 {width:427px; height:35px; border:1px solid #c9c9c9; float:left; margin-left:20px; _margin-left:10px; margin-bottom:5px; line-height:10px; padding-bottom:5px; padding-top:5px;}
.new_border4 {width:427px; height:45px; margin-left:5px; line-height:10px; clear:both;}
.new_border5 {width:194px; height:35px; border:1px solid #e7e5e5; float:left; margin-left:15px; _margin-left:7px; padding:4px 3px 4px 4px; line-height:12px;}
.c5_l {width:700px; padding-top:10px; float:left;}
.c5_r {width:10px; height:180px; float:left; margin-top:5px; border-right:1px solid #CCCCCC;}
.c5r2 {width:230px; height:auto; float:left; padding-top:10px;}
.c5r3 {width:220px; height:auto; float:left; padding-top:10px; padding-left:10px;}
.c4_l_l_contact {width:240px; height:340px; border-right:1px solid #d0d0d0; float:left; margin-top:15px; _margin-top:7px;}
.c4_l_r_contact {width:200px; height:340px; float:left; margin-top:15px; _margin-top:7px;}
a.bai_l:link, a.bai_l:hover, a.bai_l:visited {color:#fff; text-decoration:none;}
a.hui_l:link, a.hui_l:hover, a.hui_l:visited {color:#c8c8c8; text-decoration:none;}
.bor_img {width:96px; height:126px; border:1px solid #c7c7c7; background:url(xcs_15.gif) repeat-x left bottom;}
.bor_img_top {background:url(xcs_03.gif) repeat-x left top;}
.bor_img_left {background:url(xcs_09.gif) repeat-y left top;}
.bor_img_right {width:90px; height:120px; background:url(xcs_11.gif) repeat-y right top; padding:3px;}
.bor_img2 {width:202px; height:131px; border:1px solid #c7c7c7; background:url(xcs_15.gif) repeat-x left bottom;}
.bor_img2_top {background:url(xcs_03.gif) repeat-x left top;}
.bor_img2_left {background:url(xcs_09.gif) repeat-y left top;}
.bor_img2_right {width:196px; height:125px; background:url(xcs_11.gif) repeat-y right top; padding:3px;}
.bor_img3 {width:126px; height:166px; border:1px solid #c7c7c7; background:url(xcs_15.gif) repeat-x left bottom;}
.bor_img3_top {background:url(xcs_03.gif) repeat-x left top;}
.bor_img3_left {background:url(xcs_09.gif) repeat-y left top;}
.bor_img3_right {width:120px; height:160px; background:url(xcs_11.gif) repeat-y right top; padding:3px;}
.bor_img3_right .list_pic {width:120px; height:160px;}
.bor_img3_right a img {background:#F4F4F4 url(loading2.gif) no-repeat scroll center center; display:block;}
.bor_img4 {width:89px; height:114px; border:1px solid #c7c7c7; background:url(xcs_15.gif) repeat-x left bottom;}
.bor_img4_top {background:url(xcs_03.gif) repeat-x left top;}
.bor_img4_left {background:url(xcs_09.gif) repeat-y left top;}
.bor_img4_right {width:83px; height:108px; background:url(xcs_11.gif) repeat-y right top; padding:3px;}
.bor_img5 {width:957px; height:66px; border:1px solid #c7c7c7; background:url(xcs_15.gif) repeat-x left bottom;}
.bor_img5_top {background:url(xcs_03.gif) repeat-x left top;}
.bor_img5_left {background:url(xcs_09.gif) repeat-y left top;}
.bor_img5_right {width:951px; height:60px; background:url(xcs_11.gif) repeat-y right top; padding:3px;}
.bor_img6 {width:721px; height:66px; border:1px solid #c7c7c7; background:url(xcs_15.gif) repeat-x left bottom;}
.bor_img6_right {width:715px; height:60px; background:url(xcs_11.gif) repeat-y right top; padding:3px;}
.box_bg_l {background:url(box_left.gif) no-repeat left bottom;}
.box_bg_l2 {background:url(box_right_03.jpg) repeat-y left 0;}
.box_bg_r {background:url(box_right.gif) no-repeat right bottom;}
.box_bg_r2 {background:url(box_right_03.jpg) repeat-y right 0;}
.box_bg_c {background:url(box_bg.gif) repeat-x left bottom;}
.box_bor {border-width:1px 1px 0px 1px; height:33px; border-color:#bebebe; border-style:solid;}
.box_bor3 {height:37px; border-top:0px solid #bebebe; margin-left:1px;}
.cn2 {height:326px; overflow:hidden;}
.cn2_box {height:326px;}
.cn2_box_bg {background:#fff;}
.cn2_l {width:724px; height:326px; float:left;}
.cn2_r {width:224px; height:326px; float:left; margin-left:10px; _margin-left:6px;}
.cn2_r_box {width:214px; height:120px; clear:both; margin-top:8px; margin-left:10px; _margin-top:4px; _margin-left:10px;}
.cn2_r_box_l {height:120px; width:91px; float:left;}
.cn2_r_box_r {height:120px; float:left; line-height:23px; padding-left:10px; width:110px;}
.cn2_r_box_r2 {height:120px; float:left; line-height:23px; padding-left:10px;}
.Title {font-size:14px; margin-left:10px; _margin-left:5px; color:#3e3e3e; float:left; line-height:35px;}
.Titlerb {font-size:14px; margin-left:5px; _margin-left:5px; color:#3e3e3e; float:left; line-height:35px;}
.title img {display:inline; line-height:35px; float:left; margin-left:5px; margin-top:5px}
.title .down {line-height:35px; float:left; color:#666666}
.title .down a {text-decoration:none;}
.Title_list {font-size:14px; font-weight:bold; color:#3e3e3e; float:left; line-height:27px; margin-left:3px; margin-top:4px;}
.Title_list a {font-size:14px;}
.Title2 {float:right; margin-top:3px; padding-right:10px; color:#686868; line-height:27px}
.Title2 a {padding:0 4px 0 0;}
.font_move_title {font-size:14px; font-weight:bold; color:#000;}
.cn3 {height:322px;}
.cn3_box {height:322px;}
.cn3_l {height:322px; width:474px; float:left;}
.cn3_r {height:322px; width:474px; float:left; margin-left:10px;}
.cn3_r_top {width:470px; height:37px; border-width:0px 1px 0px 1px; border-style:solid; border-color:#fff; background:url(ind_37.gif) repeat-x 0 0;}
.cn3_r_box {height:322px;}
.cn3_top {width:470px; height:37px; border-width:0px 1px 0px 1px; border-style:solid; border-color:#fff; background:url(ind_37.gif) repeat-x 0 0;}
.cn4 {width:959px;}
.cn4_box {width:959px; height:215px;}
.cn4_top {width:955px; height:37px; border-width:0px 1px 0px 1px; border-style:solid; border-color:#fff; background:url(ind_37.gif) repeat-x 0 0;}
.List li {float:left; height:160px;}
.cn5_topbox {width:380px; margin-top:8px; padding-top:0px;}
.cn5_tab_li {height:22px; background-color:#fff; float:left; border-style:solid; border-width:1px 1px 1px 1px; border-color:#dadada #dadada #d7d7d7 #dadada; padding:3px 20px 0px 20px; text-align:center; color:#fc8c07; font-weight:bold;}
.cn5_tab_li2 {width:6px; height:20px; float:left;}
.cn5_tab_li3 {height:22px; background-color:#efefef; float:left; border-style:solid; border-width:1px 1px 1px 1px; border-color:#dadada #dadada #d7d7d7 #dadada; padding:3px 20px 0px 20px; text-align:center; color:#bababa; cursor:pointer;}
.More {margin-top:5px; float:right; width:50px;}
.Footer {width:990px; height:76px; background:url(ind_84.gif) no-repeat 0 0; text-align:center; color:#c8c8c8; margin:0px auto; line-height:22px; padding-top:8px;}
.Footer a {color:#c8c8c8;}
;
.List_11 {padding-top:10px; width:224px; height:430px;}
.index_List_11 {padding-top:10px; width:224px;}
.List_11 li {width:212px; _width:212px; height:22px; padding-left:10px; overflow:hidden; line-height:22px; margin-left:1px;}
.index_List_11 li {font-size:14px; width:212px; padding-left:3px; overflow:hidden; height:24px; line-height:22px; margin:2px 4px; border-bottom:1px #EAEAEA solid;}
.index_List_11 li a {font-size:14px;}
.index_List_11 li span.hitb {color:#AA3700; font-size:12px; float:right; margin-right:2px}
.List_11_B {background-color:#e5e5e5; border-width:1px 0px; border-style:solid; border-color:#cccccc;}
.List_11_A {float:left; margin-right:2px; margin-top:4px; height:13px; width:21px;}
.tab_warp {float:right; padding-top:5px;}
.tab_box {width:66px; height:23px; border-width:1px 1px 0px 1px; border-color:#dadada; border-style:solid; float:left; text-align:center; padding-top:5px; cursor:pointer; margin-right:4px; font-size:14px;}
.c2_contact_scroll {clear:both; padding:15px 0px 15px 20px; width:691px;}
.c2_contact_scroll2 {clear:both; padding:5px 0px 5px 15px;}
.c1_r_move {padding:8px 0px 0px 8px;}
.mag_t10 {margin-top:15px;}
.cn_box {width:724px; float:left;}
.cn_box_r {width:224px; float:left;}
.cn_box_r2 {width:250px; float:left;}
.cn_box2 {width:330px; height:175px; margin-top:20px; float:left;}
.cn_box_bor {border-width:1px 1px 0px 1px; height:33px; border-color:#bebebe; border-style:solid;}
.cn_box_top {width:694px; height:34px; border-width:0px 1px 0px 1px; border-style:solid; border-color:#fff; background:url(list_06.gif) repeat-x 0 0; overflow:hidden; border-bottom:1px solid #dedede;}
.cn_border_bottom {border-bottom:1px solid #dedede;}
.cn_box_top2 {width:722px; height:24px; border-color:#fff; background:url(list_09.gif) repeat-x 0 0; margin-left:1px;}
.cn_box_box3 {width:150px; height:180px; float:left; padding-left:15px;}
.cn_tab20_box {height:25px; margin-top:10px; background:url(lis_17.gif) repeat-x 0 0; margin-left:1px; margin-right:1px; padding-left:2px; _padding-left:0px;}
.cn_tab20_box_li {height:20px; border:1px solid #dadada; background-color:#efefef; float:left; padding:3px 4px 0px;  4px;
text-align:center; color:#bababa; margin-left:6px;}
.cn_tab20_box_li2 {height:20px; background-color:#fff; float:left; border-style:solid; border-width:1px 1px 1px 1px; border-color:#dadada #dadada #fff #dadada; padding:3px 4px 0px;  4px;
text-align:center; color:#fc8c07; font-weight:bold; margin-left:6px;}
.cn_tab20_box_li3 {width:6px; height:20px; float:left;}
.cn_title {margin-left:12px; _margin-left:6px; padding-top:2px; height:16px; overflow:hidden; margin-top:2px;}
.cn_title_bg {background:#fc8c07; padding:3px 2px;}
.o_list {padding:15px 15px 15px 20px; width:190px; float:left; height:270px;}
#redu {margin:18px 0 3px; overflow:hidden; white-space:nowrap; line-height:23px; font-size:18px}
#redu h1 {display:inline; font-size:18px}
/*#redu span{color:#FF7E00; font-size:16px; margin-right:0px; float:right; text-align:left}
#redu  em{float:right;color:#FF7E00; font-size:16px; margin-right:30px;}*/
.o_big_img_bg {width:190px; height:270px; background:url(gaoqing_22.gif) repeat-y 0 0; border:1px solid #ababab;}
.o_big_img_bg_t {width:190px; height:270px; background:url(dsx_08.gif) repeat-x 0 top;}
.o_big_img_bg_b {width:190px; height:270px; padding-left:5px; padding-top:5px;}
.o_big_img_bg_b img {width:180px; height:260px;}
.o_list_l_title {height:50px; padding-top:10px;}
.o_r_wap {width:705px; float:left; margin-left:0px; background-color:#fff;}
.o_r_wap2 {width:705px; float:left; margin-left:8px;}
.o_r_t_wap {border:1px solid #dddddd; width:955px; white-space:normal; float:left;}
.o_r_t_wap1 {width:705px; height:188px; overflow:hidden; border-width:0px 1px 1px 1px; border-style:solid; border-color:#dddddd; float:left;}
.o_r_t_wap2 {width:957px; height:188px; overflow:hidden; float:left; margin-top:3px; border-top-width:1px; border-right-width:1px; border-bottom-width:1px; border-left-width:1px; border-top-style:solid; border-right-style:solid; border-bottom-style:solid; border-left-style:solid; border-top-color:#dddddd; border-right-color:#dddddd; border-bottom-color:#dddddd; border-left-color:#dddddd;}
.o_r_wap2 {width:703px; height:190px;}
.o_contact2_r {width:703px; float:left;}
.o_r_t {height:20px; background:url(a1.gif) repeat-x 0 0; padding-top:10px;}
.o_r_t2 {height:23px; background:url(cs_06.gif) repeat-x 0 0; padding-top:5px;}
.o_r_title {font-size:18px; font-family:"黑体"; margin-left:8px; _margin-left:4px; float:left; margin-top:8px; line-height:22px;}
.o_r_title2 {font-size:14px; font-family:"宋体"; width:80px; overflow:auto; display:inline; margin-left:8px; padding:0px 5px; font-weight:bold;}
.o_r_contact_all {width:350px; height:auto; overflow:hidden; float:left;}
.o_r_contact {line-height:25px; width:370px; height:auto; float:left; color:#666666; overflow:hidden; padding-top:4px; padding-bottom:4px;}
.o_r_contact h3 {font-size:14px; color:#f30;}
.o_r_contact li {width:370px; height:26px; float:left; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-size:14px; color:#333}
.o_r_contact li em {color:#888}
.o_r_contact a {font-size:14px; text-decoration:underline; color:#444}
.o_r_contact a:hover {color:#FC8C07; text-decoration:underline;}
.o_r_contact2 {margin-left:2px; margin-right:20px; margin-top:15px; overflow:hidden; line-height:22px; width:336px; height:280px; float:right;}
.listmark {float:left; margin-bottom:1px}
.o_agg_link_show {font-size:14px; color:#888; text-decoration:underline;}
.o_agg_link_show_hd {font-size:12px; color:#d1d1d1; text-decoration:underline;}
.o_agg_link_list {font-size:12px; color:#868686;}
.o_title_p1 {margin-top:4px; text-align:center; color:#333333; width:100px; height:18px; overflow:hidden;}
.omov_list {padding-left:7px; _padding-left:0px; padding-bottom:10px; padding-top:5px;}
.omov_list li {float:left; margin:0px 8px;}
.omov_list2 {}
.omov_list2 li {float:left; margin:0px 3px;}
.omov_list3 {padding:5px;}
.omov_list3 li {float:left; margin:0px 4px;}
.font_list3 li {color:#333333; font-size:14px; width:100%}
.font_list3 li a {color:#3C89DF; font-size:14px;}
.font_list3 li a:hover {color:#3C89DF; font-size:14px; text-decoration:underline}
.o_r_wap {width:955px; float:left;}
.o_l_wap {width:243px; float:left;}
.o_l_wap_H {height:148px; width:703px; overflow-y:scroll;}
.o_r_wap_foot {width:955px; float:left; background:url(x_15.gif) no-repeat 500px 30px;}
.o_r_wap_foot_bor {width:5px; height:180px; float:left; margin-top:5px; border-left:1px solid #CCCCCC;}
.o_list_cn_top {width:953px; height:37px; border-width:0px 1px 0px 1px; border-style:solid; border-color:#fff; background:url(ind_37.gif) repeat-x 0 0;}
.o_list_cn_top_jq {width:956px; height:37px; border-width:0px 1px 0px 1px; border-style:solid; border-color:#fff; background:url(ind_37.gif) repeat-x 0 0;}
.pl8 {font-size:14px; font-weight:bold; color:#3e3e3e; float:left; line-height:27px; margin-left:10px; margin-top:6px;}
.vod_tips {width:950px; height:20px; padding:3px; border:1px #bebebe solid; margin-top:8px; overflow:hidden;}
.a960_index {margin:1px auto 5px auto; width:960px; overflow:hidden; height:auto; text-align:center;}
.a960_play {margin:8px auto 0 auto; width:960px; overflow:hidden; height:auto; text-align:center;}
.a970_play {margin:0 auto; width:992px; overflow:hidden; height:auto; text-align:left;}
.a970_play .a9701 {float:left}
.a970_play .a9702 {float:right; width:30px; overflow:hidden}
.AD724 {padding:1px auto 5px 0; width:698px; overflow:hidden; height:auto; text-align:left; background:#F5F5F5}
.o_list_cn_top_r {width:954px; height:37px; background:url(ind_37.gif) repeat-x 0 0; float:left;}
.o_list_cn_r {width:956px; height:auto; float:left; background-color:#fff; border:#bebebe solid 1px; border-top:none}
.omlist_box6 {padding:5px;}
.omlist_box7 {width:950px; height:auto; overflow:hidden; float:left; padding-top:4px; padding-right:0; padding-bottom:4px; padding-left:2px;}
.omlist_box8 {height:140px; overflow:hidden; padding:4px 0 4px 12px; line-height:18px;}
.o_cn_r_box {width:958px;}
*+html .o_cn_r_box {height:200px}
.o_cn2 {clear:both; margin-top:8px; overflow:hidden;}
.h145_text {height:145px; width:946px; overflow-y:auto; overflow-x:hidden;}
.mh_list_li {height:50px; color:#666666; width:578px; _width:578px; overflow-y:auto; overflow-x:none;}
.mh_list_li li {height:15px; border:1px solid #949494; padding:1px 3px; line-height:15px; text-align:center; font-family:Arial, Helvetica, sans-serif; float:left; text-align:center; margin:3px 6px; font-size:12px; white-space:nowrap; display:block;}
.mh_list_li .mh_list_li_bg {height:15px; background:#fc8c07; color:#FFFFFF; display:block; white-space:nowrap;}
.mn_list_li {height:150px; color:#666; width:338px; _width:338px; overflow-y:auto; overflow-x:none;}
.mn_list_li li {height:15px; border:1px solid #949494; padding:2px 3px; line-height:15px; text-align:center; font-family:Arial, Helvetica, sans-serif; float:left; text-align:center; margin:4px 3px 4px 4px; font-size:12px; white-space:nowrap; display:block;}
.mn_list_li_movie {max-height:500px;  *height:160px;
display:block; overflow:auto; text-align:center; margin-bottom:10px; margin-left:15px;  *margin-left:5px;
_margin-left:15px; scrollbar-arrow-color:#000; scrollbar-base-color:#E8E8E8;}
.mn_list_li_movie li {
 *width:142px;
 *height:30px;
 *float:left;
 *margin-left:10px;
 *margin-bottom:8px; _margin-left:auto; _margin-bottom:auto;}
.mn_list_li_movie li a, .mn_list_li_movie li a:hover, .mn_list_li_movie li a:visited {width:142px; height:30px; line-height:30px; text-align:center; font-size:14px; display:block; float:left;}
.mn_list_li_movie li a {border:1px solid #E0E0E0; font-family:Arial, Helvetica, sans-serif; white-space:nowrap; margin:4px;  *margin:4px 2px;
background-color:#f5f5f5; overflow:hidden}
.mn_list_li_movie li a:hover {border:1px solid #FF7E00; color:#FFFFFF; background-color:#FF7E00;}
.mn_list_li_movie li a:visited {border:1px solid #E0E0E0; color:#999999; background-color:#FAEBD7;}
.mn_list_li .mn_list_li_bg {height:15px; background:#fc8c07; color:#FFFFFF; display:block; white-space:nowrap;}
/*分类右侧*/
.youcetop {background:#FFFFFF; border-left:#bebebe solid 1px; border-right:#bebebe solid 1px}
/*电影类型*/
.omlist_type {padding:8px; float:left;}
.omlist_type a {display:block; line-height:20px; text-align:center; width:46px; float:left;}
/*美剧类型*/
.omlist_type_meiju {padding:8px; float:left;}
.omlist_type_meiju a {display:block; line-height:20px; text-align:center; width:58px; float:left;}
.omlist_box6 {padding:8px; float:left;}
.omlist_box6 a {display:block; line-height:20px; text-align:center; width:38px; float:left;}
.omlist_box6_letter {padding:10px; float:left;}
.omlist_box6_letter a {display:block; line-height:20px; width:15px; float:left;}
.page {text-align:center; padding:0;}
.page span {padding:0 10px;}
.page a {display:inline-block; height:22px; padding:0 8px; line-height:22px; background:#fff; border:1px solid #e3e3e3; text-align:center; margin:0 2px;}
.page a.a1 {background:url(titleBg1.png) 0 -63px no-repeat; width:56px;}
.page a:hover {background:#f1f1f1; color:#000; text-decoration:none;}
.page em {display:inline-block; height:22px; line-height:22px; color:#fff; text-align:center; font-style:normal; background:#00B7FF; border:1px solid #00B7FF; padding:0 8px; margin:0 2px;}
.page em.nolink {display:inline-block; height:22px; line-height:22px; /*	background:url(titleBg1.png) 0 -63px repeat-x;*/
background-color:#f4f4f4; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; font-style:normal;}
.btn {background:url(btnBg.png) 0 0 no-repeat; border:medium none; cursor:pointer; height:22px; width:48px; margin-left:5px;}
.ad_channel_right {width:250px; overflow:hidden; margin:2px auto;}
.live_cn_l {width:224px; float:left;}
.live_cn_r {width:724px; float:left;}
.live_cn2_r {width:236px; height:236px; background-color:#fff; float:left;}
.live_cn_r_box {width:236px; height:236px;}
.live_w_8 {width:8px; float:left; height:50px;}
.live_cn_top_r {width:232px; height:37px; border-width:0px 1px 0px 1px; border-style:solid; border-color:#fff; background:url(ind_37.gif) repeat-x 0 0;}
.live_banner_box {width:960px; height:449px; border-width:3px 0px; border-style:solid; border-color:#a6a6a6; float:left; background:#000;}
.live_banner_box_l {width:3px; float:left;}
.banner_cn_l {width:665px; height:451px; float:left;}
.live_ts_wrap {width:665px; height:235px; clear:both;}
.live_ts_wrap .box {width:665px; height:235px; position:absolute; z-index:2;}
.banner_cn_l_B {width:665px; height:209px; float:left;}
.banner_cn_l_B_l {width:665px; height:32px; background:url(bcx.gif) repeat-x 0 0;}
.banner_B_box {width:304px; height:175px; float:left}
.banner_B_box_r {width:350px; height:175px; float:left; margin-left:8px;}
.banner_cn_c {width:665px; height:3px; clear:both;}
.banner_cn_r {width:295px; height:449px; float:left;}
.banner_cn_r_l {width:6px; height:449px; float:left; background:url(dxc_09.gif) repeat-y 0 0;}
.banner_cn_r_r {width:289px; height:449px; float:left;}
.banner_cn_r_t {width:289px; height:44px;}
.banner_cn_r_b {width:289px; height:405px; background:#333333;}
.banner_r_b_l {width:138px; height:405px; float:left; background:url(tv_19.gif) repeat-y right 0;}
.banner_r_b_r {width:151px; height:405px; float:left; background:#2f2f2f;}
.banner_r_b_r2 {width:151px; height:405px; float:left; background:url(d_14.gif) repeat-x left top;}
.banner_r_box {width:138px; height:79px; float:left; margin-left:5px; margin-top:15px; _margin-left:3px; _margin-top:7px;}
.banner_r_box_l {width:4px; height:79px; float:left;}
.banner_r_box_c {width:130px; height:79px; float:left; background:url(tv_17.gif) repeat-x 0 0;}
.banner_box_li0 {width:124px; height:36px; margin-left:14px; _margin-left:12px; background:url(bg_79.gif) no-repeat 0 0; text-align:center; line-height:36px; color:#000; font-size:16px; font-family:"黑体";}
.banner_box_li {width:124px; height:36px; margin-left:14px; _margin-left:12px; color:#fff; background:url(bg_80.gif) no-repeat 0 0; text-align:center; line-height:36px; font-size:16px; font-family:"黑体";}
.banner_box_li2 {width:124px; margin-left:14px; _margin-left:7px; color:#fff; text-align:center; margin-top:7px;}
.banner_box_li3 {width:124px; height:36px; margin-left:14px; _margin-left:14px; color:#fff; text-align:center; margin-top:7px; background:url(tb_27.gif) no-repeat 0 0; line-height:36px; cursor:pointer}
.banner_box_li4 {width:124px; height:34px; margin-left:14px; _margin-left:14px; color:#000; text-align:center; margin-top:7px; background:url(tv_15.gif) no-repeat 0 0; line-height:34px; cursor:pointer}
.banner_box_li5 {width:124px; height:15px; margin-left:10px; _margin-left:10px; color:#fff; text-align:center; margin-top:7px;}
.banner_box_c_t {height:18px; text-align:center; line-height:18px; color:#e7e7e7;}
.banner_box_c_b {width:120px; height:50px; color:#f3d869; padding:5px 3px; overflow:hidden;}
.banner_r_box_r {width:4px; height:79px; float:left;}
.banner_cn_title {height:32px; width:280px;  +width:280px;
_width:290px; margin-left:16px; _margin-left:8px; float:left; font-size:14px; font-weight:bold; color:#d9d9d9; line-height:32px;}
.live_list {padding-left:10px; width:277px; height:175px;}
.live_list li {color:#cbbb9d; height:23px; border-bottom:1px dashed #59595a; line-height:23px; background:url(tv_24.gif) no-repeat 95% 50%; cursor:pointer;}
.live_list_a {height:23px; width:15px; line-height:23px; float:left; background:url(tv_24.gif) no-repeat 98% 50%;}
.live_list2 {padding-top:10px;}
.live_list2 li {float:left; width:110px;}
.live_list3 {margin-left:8px; margin-top:6px; padding-left:2px;}
.live_list3 li {display:block; padding-left:40px; line-height:20px;}
.C {clear:both;}
.list3_cn_box {width:698px; float:left; margin-right:8px;}
.list3_cn_box_top {height:24px; border-color:#fff; background:url(list_09.gif) repeat-x 0 0; margin-left:1px; width:236px; padding-left:12px; line-height:22px;}
.list3_cn_box_top2 {height:33px; border-width:0px 1px 0px 1px; border-style:solid; border-color:#fff; background:url(list_06.gif) repeat-x 0 0;}
.omlist_list4 {width:227px;}
.omlist_list4 li {float:left; height:20px; padding:0px 2px; display:block; white-space:nowrap;}
.omlist_bac3 {background-color:#00B7FF; color:#fff}
a.omlist_bac3:hover {color:#fff}
.se_l_wap {width:724px; float:left;}
.Search_contact_l {width:227px; float:left; margin-left:8px;}
.Search_contact_l2 {width:227px; float:left;}
.Search_l_wap {width:724px; float:left;}
.Search_line {border-width:0px 0px 1px 0px; border-style:solid; border-color:#bbbbbb; width:610px; margin:20px auto;}
.Search_list {}
.Search_list li {border-bottom:1px dotted #dddddd; padding-left:10px;}
.Search_list2 {padding-left:10px;}
.Search_list2 li {float:left; display:block; width:95px; background:url(L4.gif) no-repeat 0px 50%; padding-left:40px;}
.Search_box {height:216px; padding-top:62px;}
.Search_box2 {height:128px;}
.Search_box3 {width:128px; height:113px; float:left; margin-left:50px; padding-top:15px;}
.Search_box4 {float:left; line-height:22px; padding-top:20px; padding-left:10px;}
.Search_box5 {clear:both; padding:10px 80px; line-height:30px;}
.am_cn_r {width:724px; float:left; margin-left:10px; _margin-left:8px;}
.all_move_list {color:#666666; width:703px;}
.all_move_list li {width:119px; height:20px; padding-left:1px; padding-top:5px; padding-bottom:5px; padding-right:20px; line-height:23px; overflow:hidden; float:left;}
.all_move_list li a {color:#666666; text-decoration:none;}
.all_move_list li a:hover {color:#343434; text-decoration:none;}
.am_nav_box {width:37px; height:24px; float:left; background:url(am_b.gif) no-repeat 0 7px; padding:13px 20px 0px 20px; margin:0px 5px; _margin:0px 3px; cursor:pointer;}
.am_nav_box_h {width:37px; height:24px; float:left; background:url(am_h.gif) no-repeat 0 7px; padding:13px 20px 0px 20px; margin:0px 5px; _margin:0px 3px; cursor:pointer;}
.am_con {width:724px; overflow:hidden;}
.am_con_title_Box {height:44px; line-height:44px; margin:0px 10px; color:#7c7c7c; border-width:0 0 1px 0; border-style:solid; border-color:#e5e5e5; clear:both;}
.am_con_title_Box a {font-size:14px; color:#7c7c7c;}
.am_con_fl {margin:10px 10px; clear:both;}
.am_con_fl_bor {border-width:1px 0 0 0; border-color:#efefef; border-style:solid;}
.am_con_fl_title {margin:0px 10px;}
.am_con_fl_top {width:26px; height:25px; background:url(d2_27.gif) no-repeat 0 0; line-height:25px;}
.am_con_fl_top a {font-size:20px; font-family:Arial, Helvetica, sans-serif; color:#fc8c07; text-align:center; padding-left:7px;}
.am_con_fl_top2 {width:52px; height:25px; background:url(09.gif) no-repeat 0 0; line-height:25px; text-align:center;}
.am_con_fl_top2 a {font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#fc8c07; text-align:center;}
.am_con_fltop_r {width:100px; height:25px; float:right;}
.hot_list_box {padding-left:4px; height:210px; padding-top:15px; overflow:hidden;}
.hot_list_box li {float:left; margin-left:10px;}
.hot_move_title {margin-top:3px; text-align:center; color:#333333;}
.hot_line {border-width:0px 0px 1px 0px; height:0px; width:610px; border-style:solid; border-color:#bbbbbb; margin:15px auto 15px auto; overflow:hidden;}
.hm_list_8 {width:650px; margin-left:60px; _margin-left:60px;}
.hm_list_8 li {float:left; display:block; width:170px; line-height:17px; margin:0 5px; color:#0b70a3;}
.td_mag_t_95 {margin-top:159px;}
.p_body {width:948px; margin:0px auto; text-align:center;}
.td_body {width:948px; margin:0px auto; padding-left:30px;}
.td_body2 {width:944px; margin:0px auto; clear:both; padding-right:5px;}
.td_cn_l {width:30px; float:left;}
.td_cn_c {width:888px; float:left}
.td_cn_c2 {width:883px; float:left}
.td_cn_r {width:30px; float:left}
.td_cn_top {height:65px;}
.td_cn_top_l {width:132px; margin-top:8px;}
.td_cn_top_c {width:725px; height:57px; background:url(a_07.gif) no-repeat 0 0; margin-top:8px;}
.td_cn_top_r {width:30px; cursor:pointer;}
.td_nav {height:65px; background:url(c_08.gif) no-repeat 0 0;}
.td_nav_box {width:427px; height:29px; padding-top:36px; margin-left:29px;}
.td_nav_li {width:62px; height:23px; background:url(u_11.gif) no-repeat 0 0; font-size:14px; color:#f8980a; font-weight:bold; text-align:center; padding-top:6px; margin:0px 1px;}
.td_nav_li2 {width:62px; height:23px; background:url(u_14.gif) no-repeat 0 0; font-size:14px; color:#4c4c4c; text-align:center; padding-top:6px; margin:0px 1px;}
.td_cn2 {height:420px; clear:both;}
.td_cn2_l {height:420px; width:4px;}
.td_cn2_c {height:420px; _height:100%; width:876px; background:url(today_10.gif) repeat-x 0 0;}
.td_cn2_r {height:420px; width:3px;}
.td_cn2_l2 {height:420px; width:19px;}
.td_cn2_c2 {height:400px; width:845px; background:#000000 url(d_04.gif) repeat-x 0 0; padding-top:20px;}
.td_cn2_r2 {height:420px; width:19px;}
.td_cn_l_box {width:597px; height:382px; float:left;}
.td_cn_box {height:382px;}
.td_list {clear:both; overflow:hidden; width:580px; margin-left:15px; margin-top:15px;}
.td_list li {height:180px; width:116px; float:left;}
.td_cn_top_bor {border-top:1px solid #bebebe; background:#fff;}
.td_cn_list {color:#f8b551; margin-top:20px; width:380px; float:right;}
.td_h1 {font-family:Arial, Helvetica, sans-serif; color:#cce198; font-size:18px; line-height:20px;}
.td_serch_box {float:right; margin-top:39px; margin-right:85px; _margin-right:30px; width:150px;}
.td_serch {border:0; background-color:#5e5e5e; width:150px; height:16px; color:#dbdbdb; font-family:Arial, Helvetica, sans-serif;}
.td_zzgx {width:81px; height:19px; background:url(bg_27.gif) no-repeat 0 0; line-height:19px; margin-left:7px;}
.td_zzgx2 {width:86px; height:24px; background:url(c_32_1.gif) no-repeat 0 0; line-height:19px; overflow:hidden; margin:auto auto;}
.td_h_278 {height:278px;}
.td_h_62 {height:62px; line-height:62px; text-align:center;}
.mh_H440 {margin:0px auto; height:440px; background:url(p1.png) no-repeat 50% 0; text-align:center;}
.mh_bg {background:url(p1.png) no-repeat 50% 0;}
.mh_nav_bg {width:960px; height:56px; background:url(md_03.gif) no-repeat 0 0;}
.mh_nav_box {width:95px; height:37px; float:left; margin-top:18px;}
.mh_nav_box_warp {padding-left:120px;}
.mh_H27 {height:27px;}
.mh_H35 {height:35px;}
.mh_H3 {height:3px; clear:both;}
.mh_H364 {height:364px; border-style:solid; border-width:0px 8px 0px 8px; border-color:#0f0f0f; width:938px;}
.mh_H20 {height:20px; overflow:hidden; clear:both;}
.mh_box {height:377px; width:954px; border-width:0px 3px 0px 3px; border-style:solid; border-color:#5d5d5d; background:#000;}
.mh_box2 {height:20px; float:left; margin-top:5px; width:180px;}
.mh_box3 {height:15px; margin-left:30px; width:67px; float:left;}
.mh_box4 {height:312px; background-color:#1b3d3e;}
.mh_box5 {width:718px; height:312px; float:left; overflow:hidden; padding-top:0;}
.mh_box6 {width:236px; height:312px; float:left;}
.mh_box7 {border:1px solid #b5b3b3; height:780px;}
.mh_box8 {width:148px; height:778px; background-color:#242424; border-style:solid; border-width:3px 0px 3px 2px; border-color:#fff; float:left;}
.mh_box9 {width:780px; float:left; margin-left:25px; margin-top:10px;}
#mh_header {height:45px; background:url(02.gif) repeat-x 0 0; text-align:center;}
.mh_header_top {height:440px;}
.mh_top_l_box {width:607px; height:362px; border-style:solid; border-width:1px 1px 1px 2px; border-color:#000; float:left}
.moviehigh_tswrap {width:607px; height:362px; position:absolute;}
.moviehigh_tswrap .box {width:607px; height:362px; position:absolute;}
.mh_top_r_box {width:320px; height:364px; float:left; border-style:solid; border-width:0px 0px 0px 8px; border-color:#0f0f0f; overflow:hidden;}
.mh_top_r_t_box {width:324px; height:33px;}
.mh_top_r_tab {width:108px; float:left; height:33px; background:url(tab_12.gif) no-repeat 0 0; line-height:33px; text-align:center; font-size:14px; font-weight:bold; color:#fff; cursor:pointer;}
.mh_top_r_tab2 {width:108px; float:left; height:33px; background:url(tab_13.gif) no-repeat 0 0; line-height:33px; text-align:center; font-size:14px; font-weight:bold; color:#fff; cursor:pointer;}
.mh_tab_con_l {width:100px; float:left; margin-top:13px; margin-left:10px; _margin-left:5px;}
.mh_tab_con_l img {border:3px solid #5b5b5b;}
.mh_tab_con_r {padding-top:3px; _padding-top:1px; padding-left:8px; float:left; height:65px; width:180px; color:#c7c7c7; padding-bottom:5px; overflow:hidden;}
.mh_top_r_b_box {margin-top:1px; width:320px; height:326px; border-width:0px 1px 1px 1px; border-style:solid; border-color:#000; background-color:#212121; float:left; scrollbar-face-color:#3B3B3B; scrollbar-3dlight-color:#3B3B3B; scrollbar-track-color:#232323; overflow:auto;}
.mh_top_scorall_box {height:80px; border-style:solid; border-width:1px 0px 2px 0; border-top-color:#313131; border-bottom-color:#000;}
.mh_banner {width:958px; margin:0px auto;}
#mh_contact {}
#mh_contact2 {height:716px;}
ul.mh_list {width:720px; padding:2px 2px;}
ul.mh_list li {float:left; padding:2px 2px; width:98px; height:99px; position:relative;}
ul.mh_list li img {width:98px; height:99px; border:1px solid #ddd; position:absolute; left:0px; top:0px; -ms-interpolation-mode:bicubic;}
ul.mh_list li img.hover {margin-top:15px; background:url(thumb_bg.png) no-repeat center center; border:none;}
ul.mh_list .title {position:absolute; width:176px; height:35px; margin:0; font-weight:900; background:url(blue.png) no-repeat center center; padding:17px 0 0 0; text-align:center; color:#fff;}
.mh_list2 {margin-top:3px;}
.mh_list2 li {width:236px; height:149px; padding:2px 0px;}
.mh_list3 {color:#fff; margin-top:20px; font-size:14px;}
.mh_list3 li {width:123px; height:50px; padding-left:25px; text-align:center; line-height:50px; cursor:pointer;}
.mh_list3_li2 {background:url(mh_75.gif) no-repeat 24px 50%; color:#000;}
.mh_list3_li3 {border-bottom:1px dashed #505050;}
.mh_list4 {width:750px;}
.mh_list4 li {float:left; width:130px; padding:0px 10px; _padding:0px 3px;}
.mh_foot {height:100px; background:url(p1_01.gif) no-repeat 0 0; float:left; margin-top:8px; clear:both;}
.mh_foot_contact {width:959px; margin:0px auto;}
.mh_list_h46 {height:46px; width:958px; background:url(moviehigh2_06.gif) no-repeat 0 0; line-height:46px;}
.mh_list_h462 {height:46px; width:958px; background:url(moviehigh2_062.jpg) no-repeat 0 0; line-height:46px; clear:both;}
.mh_list_box {width:956px; border-width:0px 1px 0px 1px; border-style:solid; border-color:#b7b7b7; border-right-color:#000; overflow:hidden;}
.mh_list_box2 {height:25px; border-width:1px 0px 1px 0px; border-top-color:#fff; border-bottom-color:#ceced0; background:#e0e0e0; line-height:25px; border-style:solid;}
.mh_list_box3 {width:150px; height:180px; float:left;}
.mh_list_box4 {width:234px; margin-top:3px; clear:both;}
.mh_list_box5 {background:#237488; border-width:0px 1px 0px 1px; border-style:solid; border-color:#fff; font-size:14px; font-weight:bold; color:#fff; padding-left:15px;}
.mh_list_box6 {width:260px; font-size:14px; color:#fff; font-weight:bold; margin-left:28px; _margin-left:10px; line-height:46px; float:left; overflow:hidden;}
.mh_list_box7 {font-size:14px; color:#fff; font-weight:bold; margin-left:28px; _margin-left:10px; line-height:46px; float:left;}
.mh_list_box8 {height:31px; margin-left:230px;  +margin-left:220px;
_margin-left:152px; margin-top:10px; background:url(ovsd_12.gif) repeat-x 0 0; float:left; overflow:hidden;}
.mh_list_box82 {float:left; margin-left:155px; _margin-left:122px; height:31px; background:url(ovsd_12.gif) repeat-x 0 0; margin-top:10px;}
.mh_list_box83 {float:left; margin-left:160px; _margin-left:120px; height:31px; background:url(ovsd_12.gif) repeat-x 0 0; margin-top:10px;}
.mh_list_box84 {float:left; margin-left:20px; _margin-left:25px; height:31px; background:url(ovsd_12.gif) repeat-x 0 0; margin-top:10px;}
.mh_list_box9 {width:30px; height:31px; float:left;}
.mh_list_box10 {width:5px; height:31px; float:left;}
.mh_list_box11 {height:29px; float:left; font-size:14px; color:#fff; text-align:center; line-height:29px; margin-right:20px; padding-left:15px; border-left:1px solid #333; display:inline;}
.mh_list_box11 a {font-size:14px; color:#fff;}
.mh_list_box11 a:hover {font-size:14px; color:#fff;}
.mh_list_box11 a:visited {font-size:14px; color:#fff;}
.mh_list_box13 {width:500px; float:left;}
.mh_list_box14 {width:50px; float:left; margin-left:150px;}
.mh_list_l_con {width:237px; float:left; height:900px;}
.mh_list_l_con_l {background:url(hei_09.gif) repeat-y -1px 0; height:100%;}
.mh_list_nav_box {height:177px;}
.mh_list_nav_box_bac {width:234px; background-color:#dee1e2;}
.mh_list_nav_li {height:42px; width:234px; border-width:1px 0px 1px 0px; border-style:solid; border-top-color:#fff; border-bottom-color:#c7cacb; font-size:14px; line-height:42px;}
.mh_list_nav_li span {margin-left:20px;}
.mh_list_r_con {float:left; width:718px;}
.mh_bac {background:url(high_22.gif) no-repeat 190px 50%;}
.mh_bac2 {background:url(high_25.gif) no-repeat 190px 50%;}
.mh_bac3 {background-color:#699900; padding:2px 2px; color:#fff;}
.mh_C {clear:both; height:0px; overflow:hidden; width:960px;}
.mh_list_list {margin-left:15px;}
.mh_list_list li {float:left; margin:0px 3px; line-height:27px;}
.mh_list_list2 {height:180px; margin:10px 20px; border-bottom:1px dotted #dddddd; line-height:190px;}
.mh_list_list3 {line-height:23px;}
.mh_list_list4 {float:left; line-height:30px;}
.mh_list_list4 li {float:left; width:20px;}
.mh_list_list5 {float:left; margin-left:30px; _margin-left:15px;}
.mh_list_list5 li {float:left; width:170px;}
.mh_list_font14_B {font-size:14px; font-weight:bold;}
.mh_list_cnter {text-align:center; clear:both;}
.con_img_bg {width:144px; height:252px; background:url(dvv_19.gif) no-repeat 0 0;}
.con_img {width:120px; height:160px; padding-top:11px; margin-left:11px;}
.con_img_title {margin-top:5px;  +margin-top:5px;
margin-left:8px; width:100px; overflow:hidden; height:15px; text-align:center; padding-top:1px;}
.mh_deta_l {width:296px; background:url(ds_06.gif) repeat-y 0 0; float:left;}
.mh_deta_l_con {width:243px; float:left; margin-left:21px; _margin-left:11px; margin-top:15px;}
.mh_deta_l_box {clear:both; width:250; height:275px; margin-left:21px; margin-top:10px;}
.mh_deta_l_box2 {padding-bottom:5px; padding-left:5px;}
.mh_deta_r_con {float:left; width:660px; background:#000; padding-bottom:20px;}
.mh_deta_r_box {width:660px; height:295px; background:url(a_06.gif) repeat-x 0 0;}
.mh_deta_r_box2 {height:375px; width:593px; margin:0 auto;}
.mh_deta_r_box3 {border-width:0px 1px 1px 1px; border-style:solid; border-color:#303030; background-color:#232323;}
.mh_deta_r_box4 {height:105px;}
.mh_deta_r_box5 {width:185px; height:85px; float:left; background:url(a_22.gif) no-repeat 203px 0px; padding:10px;}
.mh_deta_r_box6 {width:363px; height:85px; float:left; padding:10px; overflow-y:auto;}
.mh_deta_r_box7 {height:50px; background:#3b3b3b; padding:10px; overflow-y:visible;}
.mh_deta_r_box8 {height:29px; line-height:29px;}
.mh_deta_r_box9 {height:29px; width:60px; float:left; margin:0px 10px;}
.mh_deta_r_box10 {height:21px; width:480px; float:left; line-height:21px; padding-top:8px;}
.mh_deta_r_box11 {height:170px;}
.mh_deta_list {color:#d1d1d1;}
.mh_deta_list li {height:20px;}
.mh_deta_list_color {color:#fff; font-size:12px; font-weight:bold; float:left;}
.mh_deta_list2 {color:#d1d1d1;}
.mh_deta_list li {height:20px;}
.mh_deta_list3 {padding-left:0px; padding-top:10px;}
.mh_deta_list3 li {float:left; height:120px; margin-left:16px;  background:url(omov(5)_36.gif) no-repeat 0 0;
color:#cccccc;}
.mh_deta_list3 {padding-left:0px; padding-top:10px;}
.mh_deta_list3 li {float:left; height:120px; margin-left:16px;  background:url(omov(5)_36.gif) no-repeat 0 0;
color:#cccccc;}
.mh_deta_list4 {color:#3f3f3f;}
.mh_deta_list4 li {height:20px;}
.mh_deta_list4_font {font-weight:bold;}
.mh_deta_p1 {margin-top:8px; text-align:center; color:#cccccc;}
.bor1 {border:1px solid #c7c7c7; width:956px;}
.bor11 {border:1px solid #c7c7c7; width:723px;}
.bor2 {border:1px solid #eaeaea;}
.bor3 {border:1px solid #f7f7f7;}
.bor4 {border:1px solid #fff;}
.lightbox {width:300px; background:#FFFFFF; border:5px solid #ccc; line-height:20px; display:none; margin:0;}
.lightbox dt {background:#f4f4f4; padding:5px;}
.lightbox dd {padding:20px; margin:0;}
.index_tishi_wap {width:293px; background:#f7f7f7; border:1px solid #39638e; padding-top:1px; position:relative;}
.index_tishi_wap .title {width:291px; height:26px; background:url(tishi_02.jpg) no-repeat 0 0; margin:0 auto;}
.index_tishi_wap .con {padding:10px; color:#535353;}
.index_tishi_wap .close {height:17px; width:17px; overflow:hidden; color:#535353; margin:4px 12px;  0px 0px;
_margin:2px 6px;  0px 0px;
float:right; cursor:pointer;}
#link {font-size:12px; overflow:hidden; text-align:left}
#link .link_box_top {height:25px; line-height:25px; width:auto; padding-left:10px; font-size:12px; font-weight:bold; overflow:hidden; border:1px solid #ccc}
#link .link_box_top font {color:#666; font-weight:normal}
#link .link_box_main {width:auto; overflow:hidden; padding:7px; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc}
.link_box_main .link_text {padding:0px 0 0 5px; color:#666}
.link_box_main .link_text a {color:#666; font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; margin-right:5px}
.link_box_main .link_text a:hover {color:#000}
.play_top {width:983px; margin:0px auto; background-color:#F5F5F5; padding:0px; height:25px}
.play_menu {height:25px; padding-left:0px; line-height:25px;}
.play_menu a {color:#000; padding:0 6px 0 6px;}
.play_menu a:hover {color:#FC8C07;}
.play_menu .cur {color:#FC8C07;}
.kp_flash_box {height:auto; width:992px; padding:3px 0; margin:auto;}
.ADleft {position:absolute; top:3px; left:0; height:600px; width:120px; text-align:right}
.ADright {position:absolute; top:3px; right:0; height:600px; width:120px; text-align:left}
.ADright300 {float:left; margin-left:2px;}
.ADright1 {width:300px; height:250px; float:left; margin-left:2px}
.ADtop {margin-top:2px;}
.kp_flashbox_wrap {width:690px; height:502px; text-align:left; float:left; /*	position:relative;*/
}
.kp_flash_title {padding-top:0; text-align:center; color:#BCBCBC; font-size:14px; width:733px; height:30px; position:absolute; top:0; left:0; z-index:2; background-color:#111;}
.vodErr {float:left; width:150px; border-right:#333 solid 1px; height:30px; text-align:center}
.vodErr a {line-height:27px; font-size:14px; color:#BCBCBC;}
.vodErr a:hover {line-height:27px; font-size:14px; color:#fff;}
.openlist {line-height:30px; font-size:14px; position:absolute; top:0; right:0; z-index:3; float:right; color:#BCBCBC; width:150px; border-left:#333 solid 1px; text-align:center;}
.openlist a {line-height:27px; font-size:14px; color:#BCBCBC; font-weight:bold}
.openlist a:hover {line-height:27px; font-size:14px; color:#FFF; font-weight:bold}
#choiclist {position:absolute; right:0; top:3px; z-index:10; width:141px; height:600px; background:#111; display:none; overflow-y:auto; overflow-x:hidden; scrollbar-arrow-color:#bcbcbc; scrollbar-base-color:#000; scrollbar-shadow-color:#111; scrollbar-face-color:#333; scrollbar-track-color:#111; scrollbar-darkshadow-color:#111; scrollbar-3dlight-color:#000}
.playlist ul li {line-height:20px; text-align:center;}
.playlist li a {display:block; width:123px; line-height:20px; border:#000000 solid 1px; color:#999999;}
.playlist li a:visited {display:block; width:123px; line-height:20px; background-color:#000; color:#666666;}
.playlist li a:hover {display:block; width:123px; line-height:20px; background-color:#222; color:#FFFFFF}
.playlist_title {text-align:center; width:140px; height:30px}
.playlist_title span {margin-right:15px; line-height:30px; font-size:15px; text-align:center; color:#fff; font-weight:bold; width:123px;}
.kp_warp2 {width:953px; padding:0px 14px; background:url("./images_play/a_8_05.jpg") repeat-y 0 0; margin:0px auto;}
.kp_flashbox_list {width:300px; height:510px; float:left; color:#fff; margin-top:10px; margin-left:3px; padding:5px; overflow-y:auto; overflow-x:none;}
.wrap {width:960px;}
.kp_flashbox_list_box h1 {margin-top:5px;}
.kp_flashbox_list_box li {padding:4px; margin-top:3px; white-space:nowrap;}
.kp_flashbox_list_box li a {color:#BCBCBC;}
.kp_flashbox_list_box li a:hover {color:#FC8C07;}
.kp_flashbox_list_title {padding:4px; font-size:14px; color:#BCBCBC;}
.guestbook {padding:10px; border:1px solid #DEDEDE;}
.guestbook_in {margin:6px 0; padding:5px 10px;}
.guestbook_in .txt_in {margin:6px 0; width:100%; border:1px solid #d0d0d0; color:#696969; font-size:12px; overflow-x:hidden; background-color:#FFFFFF;}
.guestbook_in .under_row {clear:both; text-align:right;}
.guestbook_in .under_row .sub_btn {color:#6f6e6e; font-weight:700; line-height:25px; border:1px solid #d0d0d0; background:url(images/gbook_btn_bg.gif) repeat-x 0 0; cursor:pointer; padding:2px;}
.guestbook_login {; position:absolute; top:40%; left:40%; color:#333;}
.board_title {padding:10px; border-bottom:1px dashed #c4dcf8;}
.board_ul {clear:both; margin-bottom:5px}
.board_ul li {clear:both; padding:6px 10px 10px; border-bottom:1px dashed #c4dcf8; line-height:22px;}
.board_ul li img {float:left; margin:0 10px 0 0; padding:2px; _display:inline; border:1px solid #c5ddf6;}
.board_ul li .time {float:right; color:#6e6e6e;}
.board_ul li .guestbook_cont {min-height:80px; height:auto!important; height:80px;}
.board_ul .re_cont {clear:both; margin:10px 0 0; color:#0082cb; font-size:12px; border:1px solid #c5ddf6; background:#f1f8ff;}
.board_ul .re_cont p {margin:0 10px;}
.jj11 a {color:#000000;}
a.link {color:#e13160; padding-right:8px; background:url(a3.gif) right 6px no-repeat;}
.down_hover {height:40px; margin-left:auto; margin-right:auto; text-align:center; width:130px;}
.down_hover a {background:url(../images/down.png) 0 0 no-repeat; display:block; width:130px; height:40px}
.down_hover a:hover {background:url(../images/downhover.png) 0 0 no-repeat; display:block; width:130px; height:40px}
.maxBox {width:960px; margin:0 auto; padding-bottom:10px; overflow:hidden;}
#play-help .box {border-color:#DDDDDD;}
#play-help .play-help-item {padding:5px 18px 18px 18px;}
.play-help-item a:hover {text-decoration:underline;}
#play-help .play-help-item h3 {display:inline; background:#fff; line-height:30px; padding:0 10px; font-size:14px; color:#3B8FD0; font-weight:bold; position:relative; margin:0 0 0 10px;}
#play-help .play-help-item ul {display:block; overflow:hidden; color:#333; line-height:22px; padding:15px 0 10px 0; border:1px solid #ddd; backgrounds:#eafde0; margin-top:-15px;}
#play-help .play-help-item li {padding:3px 18px 3px 33px; background:url(../images/dot.gif) 20px 11px no-repeat;}
#play-help .play-help-item li.skills {border-top:1px solid #ddd; margin-top:10px; padding-top:10px; background-position:20px 18px;}
#play-help .play-help-item li label {color:#3B8FD0;}
#play-help .play-help-item li a {color:#AA3700; text-decoration:underline;}
.box {width:956px; overflow:hidden; padding:1px; border:1px solid #dedede; background:#fff;}
.box-blue {border:1px solid #18c2c8;}
.box-blue-bold {border:2px solid #18c2c8; padding:0;}
.bigCaption {height:44px; line-height:44px; overflow:hidden; margin:0 15px; font-size:14px; font-family:宋体; background:url(../images/line.gif) 0 43px repeat-x;}
.bigCaption b {color:#AA3700;}
#down_gb {float:left; margin-left:20px; line-height:30px}
#down_gb a {color:#FF7E00; text-decoration:underline;}
.omlist_box_down {width:950px; height:auto; overflow:hidden; float:left; padding-top:4px; padding-right:0; padding-bottom:4px; padding-left:2px;}
.mn_list_li_down li a {width:142px; line-height:30px; float:left; text-align:center; white-space:nowrap; margin:4px; display:block; border:#bebebe solid 1px; background-color:#F3F2FD; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.mn_list_li_down li a:hover {width:142px; line-height:30px; text-align:center; float:left; color:#FF7E00; font-size:14px;}
.save {float:left; margin-right:8px; font-size:13px; line-height:37px;}
.save a {text-decoration:underline; color:#e13160}
.save a:hover {text-decoration:underline; color:#FF7E00}
.kepu {background:#FFFFEC; padding:5px; border:#999999 dashed 1px; font-size:14px; color:#666}
.kepu p {color:#C46200;}
.rbtitle {width:100px; height:25px; background-color:#FFFFFF; text-align:center; line-height:25px; float:left; margin-left:5px; border-width:1px 1px 0px 1px; border-color:#dadada; border-style:solid; margin-top:8px; font-size:14px; color:#333; cursor:pointer;}
#roll {display:none; width:29px; margin-right:-520px; position:fixed; right:50%; top:50%;  *top:52%;
_position:absolute; _margin-right:-520px; _margin-top:300px;  _top:expression(eval(document.documentElement.scrollTop));
}
#roll a.addfav, #roll a.gbook, #roll a.gotop {position:relative; cursor:pointer; height:48px; width:28px; display:block; background:url(up.gif) no-repeat; text-indent:-9999px; overflow:hidden;}
#roll a.addfav {background-position:0 0;}
#roll a.gbook {background-position:0 -48px;}
#roll a.gotop {background-position:0 -96px;}
#roll a:hover.addfav {background-position:-28px 0;}
#roll a:hover.gbook {background-position:-28px -48px;}
#roll a:hover.gotop {background-position:-28px -96px;}
#xdwss {z-index:9999; position:absolute; background:#f5f5f5; width:403px; left:0px; border:1px #333 solid; top:35px; display:none; line-height:0; font-size:0; padding:0px;}
#xdwss a {display:block; line-height:26px; height:26px; font-size:12px; padding:0 10px; margin:0; color:#585858; border-bottom:0px solid #999; position:relative; cursor:pointer; background:#f5f5f5;}
#xdwss a.sbtm {background:#f0f0f0; color:#999;}
#xdwss a:hover {background:#fff; text-decoration:none}
#xdwss i {color:#aaa; font-style:normal; margin-right:10px; position:absolute; left:auto; right:0; display:block; top:0;}
#xdwss .kw-hilight {color:#c00; font-weight:normal;}
.position {height:20px; line-height:20px; overflow:hidden; padding:10px 0;}
.position .fn-left a, .position .fn-left span {margin:0 5px;}
.position .share {margin:-3px 0 0 0;}
.position .share .bds_more {line-height:16px;}
.w960 {width:960px; margin:0 auto; <!--
text-align:center;
-->
}
.fn-clear:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
.fn-clear { *zoom:1;
}
body .fn-hide {display:none;}
.fn-left, .fn-right {display:inline;}
.fn-left {float:left;}
.fn-right {float:right;}
.maxBox2 {width:960px; overflow:hidden;}
.boot {width:960px; height:10px; overflow:hidden; background:url(shadow.gif) 0 0 no-repeat;}
#top-box .box {width:928px; overflow:hidden; padding:1px 15px 15px 15px;}
.top-catalog {width:118px; overflow:hidden; margin-top:15px;}
.top-catalog h2 {width:118px; overflow:hidden;}
.top-catalog a {width:118px; height:25px; line-height:25px; display:block; overflow:hidden; text-indent:17px; border-top:1px solid #e8e8e8; background:url(dot.gif) 6px 10px no-repeat;}
.top-catalog h2 a {border:0;}
.top-catalog .active a {color:#fff; font-weight:bold; border:0; background:url(active.gif) 0 -21px no-repeat;}
.top-catalog ul {width:118px; margin-top:5px; overflow:hidden;}
.top-catalog li {width:118px; overflow:hidden;}
.top-content {width:810px; overflow:hidden; margin-top:-5px;}
.top-new100 {width:945px;}
.nav {height:34px; line-height:30px; overflow:hidden; color:#999;}
.nav .fn-left {background:url(nav-l.gif) 0 0 no-repeat;}
.nav .fn-right {background:url(nav-r.gif) right 0 no-repeat;}
.nav .fn-left a {margin:0 12px;}
.nav a.new {padding:0 20px 0 0; margin:0 10px 0 0; color:#f60;}
.nav a.new img {position:absolute; _margin:-5px 0 0 0;}
.nav .more {margin:0 10px 0 0; padding-right:8px; background:url(a.gif) right 5px no-repeat;}
.nav .share {margin:3px 0 0 0; padding:0 10px 0 0; line-height:16px;}
.top-min {width:246px; height:366px; overflow:hidden; margin-top:20px; margin-left:20px; float:left; _display:inline; border:2px solid #e9e9e9;}
.top-min-long {width:790px; border:0; height:auto;}
.new100 {width:930px;}
.top-min .tt {height:26px; line-height:26px; overflow:hidden; padding:0 10px; background:#f0f0f0;}
.top-min .tt h5 {font-size:14px; font-weight:bold; float:left;}
.top-min .tt span {color:#666; float:right;}
.top-min .top-list li {width:246px;}
.top-min .top-list h5 {width:130px;}
.top-min .top-list h5 a {margin:0;}
.top-min .lasted-num {width:35px; padding:0 0 0 3px;}
.top-min .lasted-time {padding:0 0 0 0; color:#AA3700; float:right; margin-right:10px; line-height:30px}
.top-min .new100time {color:#666;}
.top-min .lasted-time_state {padding:0 0 0 0; color:#999; float:right; margin-right:10px; line-height:30px}
.top-min-long .top-list li {width:790px;}
.new100 .top-list li {width:923px;}
.top-min-long .top-list h5 {width:350px;}
.top-min-long .lasted-num {width:40px; padding:0 5px 0 0;}
.top-min-long .state1 {margin-left:78px; float:left; color:#999; width:80px; line-height:30px}
.top-min-long .new100state1 {color:#333;}
.top-min-long .state2 {margin-left:78px; float:left; color:#AA3700; width:80px; line-height:30px}
.top-min-long .mjtv {margin-left:66px; width:70px; float:left; line-height:30px;}
.top-min p {width:226px; padding:0 10px; overflow:hidden; line-height:30px; text-align:right;}
.top-min p a {color:#00B7FF;}
.top-min p a:hover {color:#FF9900;}
.boot {width:960px; height:10px; overflow:hidden; background:url(shadow.gif) 0 0 no-repeat;}
.top-list li {width:926px; height:30px; overflow:hidden; float:left; clear:both; border-bottom:1px solid #ececec;}
.top-list h5 {width:320px; height:30px; line-height:30px; overflow:hidden; text-align:left; font-size:14px; float:left;}
.top-list h5 a {margin:0px; font-size:14px; font-weight:normal}
.top-list i {font-size:20px; line-height:30px; margin-left:8px; color:#CCCCCC}
#lasted-box .tipInfo {margin-left:48px;}
.choice2 {float:right; display:inline; margin-right:0px; line-height:20px}
.choice2 a.asjpx {color:#B0EAFF}
.choice2 a {text-align:center; line-height:20px; color:#fff; padding:3px 6px; background-color:#4194D0; margin:auto 5px; font-weight:bold}
.choice2 a:hover {text-decoration:underline; color:#fff}
.indexflash {padding:10px 0; background-color:#111}
.ui-silder {width:960px; height:275px; overflow:hidden; position:relative;}
.ui-silder-tip {width:92px; height:92px; overflow:hidden; position:absolute; top:0; right:0; z-index:99; background:url(tip-tt.gif) no-repeat;}
.ui-silder-cnt {height:270px; overflow:hidden; position:absolute; top:1px; margin:0; padding:0}
.ui-silder-panel {width:960px; height:270px; overflow:hidden; float:left; position:relative; background:#111; padding:0; margin:0}
.ui-silder-panel img {width:690px; height:270px; display:block; overflow:hidden;}
.ui-silder-intro {width:210px; height:270px; line-height:20px; overflow:hidden; color:#999; padding:0 40px 0 0;}
.ui-silder-intro {width:210px; height:270px; line-height:20px; overflow:hidden; color:#999; padding:0 40px 0 0;}
.ui-silder-intro ul {height:60px; overflow:hidden; margin:0; padding:0}
.ui-silder-intro li {height:20px; overflow:hidden;}
.ui-silder-intro span {margin:0 10px 0 0;}
.ui-silder-intro p {height:60px; overflow:hidden;}
.ui-silder-intro h3 {padding:10px 0; height:60px; line-height:30px; overflow:hidden;}
.ui-silder-intro h3 strong {font-family:"Microsoft Yahei"; font-size:26px; height:30px; overflow:hidden; font-weight:normal; display:block;}
.ui-silder-intro h3 strong a {color:#fff; font-size:18px;}
.ui-silder-intro h3 strong a:hover {color:#fff; font-size:18px; text-decoration:underline}
.ui-silder a.prev, .ui-silder a.next {display:block; width:45px; height:100px; overflow:hidden; text-indent:-999px; position:absolute; cursor:pointer; margin:85px 0 0 0; background:url(ui-silder-btn.png) no-repeat;}
.ui-silder a.prev {left:0; background-position:left 0;}
.ui-silder a.next {right:0; background-position:right 0;}
.ui-silder-play {display:block; width:136px; height:30px; overflow:hidden; text-indent:-999px; position:absolute; bottom:23px; right:45px; background:url(silder-play.png) 0 -30px no-repeat;}
.ui-silder-play:hover {background-position:0 0;}
.ui-silder-nav {width:960px; height:58px; margin:0 auto; bottom:0; position:absolute; overflow:hidden;}
.ui-silder-nav li {float:left; padding:2px; border:3px solid #000;}
.ui-silder-nav li.current {border-color:#19c2c8;}
.ui-silder-nav li, .ui-silder-nav img {display:block; width:110px; height:48px; overflow:hidden;}
.silderBox {padding:10px 0; overflow:hidden; margin:0 0 10px 0; background:#000;}
.silderBox {margin-top:-1px;}
.footer a.lyqp, .top_title a.lyqp {color:#FF6633; text-decoration:none;}
.footer a.lyqp:hover, .top_title a.lyqp:hover {color:#FF6633; text-decoration:underline}
.lightSwitcher, .turnedOff {position:absolute; z-index:999999999; background:url(light_bulb.png) no-repeat 0 -50px; padding:0; text-indent:20px; outline:none; text-decoration:none; zoom:1; color:#AA3700}
.lightSwitcher:hover {text-decoration:underline;}
/*报错*/
a.error {color:#666}
.error:hover {text-decoration:underline;}
#shadow {background:#000; position:absolute; left:0; top:0; width:100%; z-index:10000; opacity:1; filter:alpha(opacity = 100); zoom:1;}
.turnedOff {color:#ff0; background-position:0 0;}
/*flash*/

.layout {width:985px; margin:0 auto;}
/* channel-silder */
.channel-silder {height:310px; overflow:hidden; position:relative;}
/* channel-silder-cnt */
.channel-silder-panel {width:1000px; overflow:hidden; float:left; position:relative;}
/* channel-silder-img */
.channel-silder-img {width:230px; height:310px; overflow:hidden; float:left;}
.channel-silder-img img {width:220px; height:300px; display:block; overflow:hidden; padding:2px; border:3px solid #000; background:url(../images/loading.gif) no-repeat scroll center center transparent #222;}
/* channel-silder-intro */	
.channel-silder-intro {width:485px; height:310px; line-height:24px; overflow:hidden; color:#999; font-size:14px; padding:0 15px; float:left;}
/* channel-silder-title */
.channel-silder-title {padding:10px 0; height:60px; line-height:30px; overflow:hidden; color:#18c2c8;}
.channel-silder-title h2 {font-family:"Microsoft Yahei"; height:30px; overflow:hidden; font-weight:normal; display:block;}
.channel-silder-title a {color:#fff;}
.channel-silder-title h2 a {font-size:26px;}
/* channel-silder-info */	
.channel-silder-info {width:500px; height:72px; overflow:hidden;}
.channel-silder-info li {width:250px; height:24px; overflow:hidden; float:left;}
.channel-silder-info li.long {width:500px; margin-bottom:5px;}
.channel-silder-info li span,  .channel-silder-desc span {color:#ccc}
.channel-silder-info li span a {font-size:14px; color:#ccc}
/* channel-silder-desc */
.channel-silder-desc {height:96px; overflow:hidden; margin-top:10px;}
/* channel-silder-play */
.channel-silder-play {display:block; width:136px; height:30px; overflow:hidden; text-indent:-999px; margin-top:10px; background:url(../images/silder-play.png) 0 -30px no-repeat;}
.channel-silder-play:hover {background-position:0 0;}
/* ui-silder-panel-item */		
.ui-silder-panel-item {width:240px; height:320px; float:left; position:relative; overflow:hidden;}
.ui-silder-panel-item img {width:240px; height:320px; display:block; overflow:hidden;}
.ui-silder-panel-item .bg,  .ui-silder-panel-item h5 {width:226px; height:30px; line-height:28px; overflow:hidden; position:absolute; bottom:0; left:0; padding:0 7px;}
.ui-silder-panel-item .bg {background-color:#000; filter:alpha(opacity=80); opacity:0.8; z-index:8;}
.ui-silder-panel-item h5 {font-family:"Microsoft Yahei"; font-size:14px; height:30px; color:#fff; z-index:9;}
/* channel-silder-nav */		
.channel-silder-nav {width:213px; height:268px; margin:0 auto; top:12px; right:0; position:absolute; overflow:hidden; padding:10px 5px 10px 10px; background-color:#000;}
.channel-silder-nav li {float:left; padding:1px; margin:0 5px 5px 0; border:2px solid #000;}
.channel-silder-nav li.on {border-color:#19c2c8;}
.channel-silder-nav li,  .channel-silder-nav img {display:block; width:60px; height:80px; overflow:hidden; background:url(../images/lazyload.gif) no-repeat scroll center center transparent #fff;}
#channel-box {width:998px;}
#channel-box .qire-box {width:741px; float:left; margin:0; border:0 none; border-right:1px solid #eee;}
#channel-box .qire-bar {width:256px; float:right; border:0 none; margin-left:-1px; border-left:1px solid #eee;}
#channel-box .ranking-special {border-bottom:0 none;}
#channel-box .ui-ranking h3 {color:#e12160;}
/*新闻*/
.newbox2 {width:980px; overflow:hidden}
.newbox {width:640px; float:left; overflow:hidden; padding:15px 15px 10px; border:1px solid #dedede; background:#fff;}
.newtitle h1 {font-family:"\5FAE\8F6F\96C5\9ED1"; font-size:18px; font-weight:100; text-align:center}
.newtitle .newdate {color:#999; border-bottom:dashed #CCC 1px; text-align:center; padding:10px 0;}
.newcontent {text-align:left; margin-top:10px; font-size:14px; line-height:25pt; color:#333}
.newcontent a {color:#3C89DF; font-size:14px; line-height:25pt;}
.newcontent a:hover {text-decoration:underline}
.newlist {float:right; width:302px; border:1px solid #dedede; background:#fff; overflow:hidden}
.newlist .newtitle2 {width:257px; border-bottom:solid #E4E4E4 1px; padding:10px 10px 5px; font-size:14px; color:#206a9b; font-weight:bold}
.AD640 {width:640px; overflow:hidden; margin-top:5px}
.AD300 {width:300px; margin-top:1px; overflow:hidden}
.newtitle ul li {border-bottom:dashed #CCC 1px; text-align:left; padding:10px 0;}
.listbt a {font-family:"\5FAE\8F6F\96C5\9ED1"; font-size:16px;}
.listnr {color:#777; margin-top:10px; text-indent:1em;}
/*内容页分享按钮*/
#fxan {float:right; margin-right:5px; margin-top:5px}
/*首页公告*/
.mjgg {padding:10px 5px 10px 40px; width:914px; border-left:#E6DAB9 solid 1px; border-right:#E6DAB9 solid 1px; color:#E12160; background:url(../images/ggbg.jpg) 3px center no-repeat; background-color:#FEFFE6;}
#tuAD {height:22px; line-height:22px; width:192px;}
#turgAD {line-height:22px; float:right; margin-right:20px; margin-top:2px; height:22px}

/*-Add by Beyond [qq:114224716]-*/
/*-Download-*/
#jishu {overflow:hidden;}
.max-height {/*height:251px; overflow:auto;*/}
.down_list {font-size:14px;/* border:1px solid #c5ddf6;*/}
.down_list ul {overflow:hidden; zoom:1;}
.max-height ul {overflow:auto;}
.down_list ul li {height:25px; padding:8px 0; border-bottom:1px solid #eee; overflow:hidden; vertical-align:middle;}
.down_url {float:left; display:inline; margin:7px 8px 0 10px; margin:0 8px 0 10px\9;}
.down_list ul li p {float:left; display:inline; overflow:hidden; line-height:24px; height:100%;}
.down_part_name {color:#bc2931; font-weight:400; font-size:14px; padding-right:10px; float:left; display:inline; width:80%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.down_part_name a {color:#bc2931;}
.down_part_name a:hover {color:#1a98fc;}
.thunder_url {border:solid 1px #e4e4e4; background-color:#f9f9f9; color:#444; height:22px; line-height:22px; padding:0 5px; overflow:hidden; text-overflow:ellipsis;}
.down_list ul li span {float:right; display:inline; overflow:hidden;}
.down_list ul li span label {float:left; display:inline; margin-right:10px; padding:6px 9px; color:#fff; line-height:1; cursor:pointer;}
.thunder_down {background-color:#249ff1;}
.qqdl {background-color:#ff6c00;}
.kk {background-color:#36c345;}
.xiaomi {background-color:#ff4883;}
.common_down {background-color:#C06;}
.common_down a,.xiaomi a {color:#fff;}
.downtools {padding:15px 10px 15px 10px; overflow:hidden; zoom:1; border-top:1px solid #d9d9d9; font-size:14px;/* border-top-width:0;*/}
.downtools input {margin:7px 0 0; *margin:2px 0 0; padding:0; float:left; display:inline;}
.downtools em {padding:0 7px; float:left; font-style:normal; line-height:26px;}
.downtools a {display:inline-block; margin-left:10px; width:133px; height:26px; line-height:26px; overflow:hidden; background:url(downtools.png); text-align:center;}
.down-tips {background-image:none; width:auto; color:red;/* display:block;*/ float:right;}
.down-tips strong {color:blue; font-weight:900;}
.wp-list ul {padding:10px 10px 4px;}
.wp-list ul li {border:1px solid #edce7b; background-color:#ffffea; height:28px; line-height:28px; margin-bottom:6px; vertical-align:middle; padding:0 5px; font-size:14px;}
.wp-list ul li strong,.wp-list ul li span,.wp-list ul li a {float:left; display:inline; margin-left:10px; margin-right:10px;}
.wp-list ul li strong {color:#bc2931;}
.wp-list ul li span {color:red;}
.wp-list ul li a {color:#2c602f;}

.bbox {overflow:hidden; zoom:1;}
.ptitle {height:26px; line-height:26px; overflow:hidden; font-size:14px; font-weight:bold; color:#fff; padding-left:10px; border-bottom:1px solid #333; background:#111;}
.play-info {width:50%; text-align:center; overflow:hidden; margin:0 auto; font-size:14px; font-weight:400;}
.play-info h1 {display:inline; font-size:14px; font-weight:400;}
.play-pn span {color:#999; cursor:pointer; padding:0 10px; border-left:1px solid #333; float:right;}
#play-list-title {border-right:1px solid #333; padding-right:10px; float:left; color:#999; cursor:pointer;}
#play-list {width:200px; font-size:14px; float:left; display:none; overflow:hidden;}
#play-list h2 {cursor:pointer; border:solid #333; border-width:0 1px 1px 0; font-size:14px; font-weight:400; color:#fff; height:34px; line-height:34px; overflow:hidden; background:url(expand.gif) no-repeat 8px 13px; padding-left:25px;}
#play-list h2.current {color:#e12160; background-position:8px -20px; font-weight:900;}
#play-list div {display:none; scrollbar-3dlight-color: #0F1815; scrollbar-arrow-color: #0F1815; scrollbar-darkshadow-color: #3F3F3F; scrollbar-face-color: #3F3F3F; scrollbar-highlight-color: #3F3F3F; scrollbar-shadow-color: #0F1815; scrollbar-track-color: #3F3F3F;overflow-y:scroll; border-bottom:1px solid #333; border-right:1px solid #333; width:100%;}
#play-list div.current {display:block;}
#play-list ul {height:auto;}
#play-list ul li {float:left; display:inline; height:28px; width:100%; overflow:hidden;}
#play-list ul li a {border-bottom:1px solid #333; height:27px; line-height:27px; text-align:center; display:block; background-color:#111; color:#666; text-decoration:none; white-space:nowrap; overflow:hidden;}
#play-list ul li a:hover {color:#fff; background-color:#000;}
#play-list ul li.current a {color:#fff!important; background-color:#e12160;}
#beyond-play-box {background-color:#000;}
#beyond-player {float:left; display:inline; overflow:hidden; width:100%;}

/*-Score-*/
.b-score {float:left;}
.mark-box {border:1px solid #ddd; font-size:14px; width:280px; overflow:hidden;}
.score-title {background-color:#eee; padding-left:10px; color:#666;}
.mark-star {position:relative; height:28px; overflow:hidden; color:#888; float:left;/* margin-left:5px;*/ display:inline;}
#star-bg {width:135px; height:28px; overflow:hidden; background:url(star1.gif); float:left; display:inline;}
#score-len {position:absolute; top:0; left:0; height:28px; background:url(star1.gif) 0 -29px; z-index:100;}
#score-list {position:absolute; top:0; left:0; height:28px; z-index:110;}
#score-list a {float:left; display:inline; width:13.5px; height:28px; cursor:pointer; margin:0;}
.s0 {width:0;}
.s1 {width:13.5px;}
.s2 {width:27px;}
.s3 {width:40.5px;}
.s4 {width:54px;}
.s5 {width:67.5px;}
.s6 {width:81px;}
.s7 {width:94.5px;}
.s8 {width:108px;}
.s9 {width:121.5px;}
.s10 {width:135px;}
#average-score {margin-left:10px; font:24px verdana; color:#f60;}/*此为非进度条评分时的平均分样式*/
.y0 {color:#f60; font-size:18px;}
#score-alt {margin-left:10px; color:#666;}
.score-box {width:306px; overflow:hidden;}
/*
#score-bar {height:20px; padding:0 0 18px 3px; background:url(score.png) 0 -18px no-repeat; overflow:hidden;}
#schedule-score {height:18px; border:1px solid #2f6ab9; background:url(score.png) -3px 0 no-repeat;}
#score-stars {display:none; position:absolute; padding-top:21px; width:301px;}
#score-stars ul {border:1px solid #ddd; padding:10px 10px 5px; background-color:#fff;}
#score-stars ul li {height:14px; line-height:14px; overflow:hidden; margin-bottom:5px;}
#score-stars ul li label {float:left; width:60px; height:100%; overflow:hidden; background:url(small-stars.gif);}
#score-stars ul li label.smalll-star4 {background-position:0 -20px;}
#score-stars ul li label.smalll-star3 {background-position:0 -40px;}
#score-stars ul li label.smalll-star2 {background-position:0 -60px;}
#score-stars ul li label.smalll-star1 {background-position:0 -80px;}
.default-small-schedule {float:left; display:inline; width:170px; height:6px; margin:4px 5px 0; background-color:#eee; overflow:hidden;}
.default-small-schedule div {height:100%; background-color:#5a94e1; width:0;}
.small-total-star {float:right; color:#2A78B3; font-size:12px; width:30px;}
#average-score-box {background:url(average-score.gif); width:61px; height:33px; padding-bottom:10px; line-height:33px; overflow:hidden; font-size:26px; font-family:Georgia, "Times New Roman", Times, serif; text-align:center; position:relative; margin-bottom:1px;}
#average-score-shadow,#average-score {position:absolute; top:1px; left:1px; z-index:99; color:#ffeedb; width:60px; height:35px;}
#average-score {z-index:100; left:0; top:0; color:#7c4600;}
*/