/*
Copyrights © Arb4Host Network
/*
Template: starnews
Theme Name: elmstba2016
Theme URI: http://www.arb4host.net/
Author: Arb4Host Network
Author URI: http://www.arb4host.net/
Version: 2016
*/
@import url("../starnews/style.css");

@media (min-width: 62em) {
	.site-header .logo { order: 50; text-align: center; }
	.site-header .social-links { order: 100; margin-left: 20px; margin-right: 0px; }
	.main, #sidebar-header > div, #sidebar-above_footer > div { border-radius: 2px; }
}


.site-header { margin-bottom: 20px; }
.site-footer { margin-top: 20px; background-color: #1E2023; }

.site-header .lvl-1 { background-size: auto !important; background-position: top center; }
.site-header .lvl-2 { box-shadow: 0px 5px 3px -3px rgba(0,0,0,0.2) inset; background-color: #303744; }

.el-post-header { margin: -20px; margin-bottom: 20px; padding: 20px; box-shadow: 0px 0px 3px inset #EEEEEE; }
.el-post-header + .main #ad_16 { margin-top: 0px; }
.el-post-header .post-meta { margin-bottom: 0px; }

.main-navigation .sub-menu { box-shadow: 0px 0px 3px rgba(0,0,0,0.5); }
.main-navigation .menu > li { margin-left: 2px; }
.main-navigation .menu > li, .main-navigation .menu > li:hover { margin-top: 5px; }
.main-navigation .menu > li > a { border-radius: 2px 2px 0px 0px; }
.main-navigation .menu > li > a, .main-navigation .menu > li:hover > a { padding: 10px; }

.posts.style3 ul li.item, .posts.style4 ul li.item { min-width: 180px; }

.entry-content { line-height: 2; }

.entry-content h1, .entry-content h2, .entry-content h3 { box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.1) inset, 0px -3px 3px -3px rgba(0,0,0,0.1) inset, 3px 0px 3px -3px rgba(0,0,0,0.1) inset; margin-right: -20px; padding: 5px 20px 5px 50px; display: inline-block; background:#FFF2CC; }


.header-time { display: inline-block; padding: 6px 10px; background: rgba(0,0,0,0.4); border-radius: 2px; }

#sidebar-header { border-bottom: none; }
#sidebar-header > div { padding-top: 20px; }
#sidebar-above_footer { margin-bottom: 20px; border-top: none; }
#sidebar-above_footer > div { padding-top: 20px; }
.main { margin-bottom: 20px; padding-top: 20px; }
.main, #sidebar-header > div, #sidebar-above_footer > div { background: #FFFFFF; box-shadow: 0px 0px 2px rgba(0,0,0,0.2); }

.entry-image .video-wrapper, .image-wrap img { border: 0px; padding: 0px; }


/* widgets */

.widget-title { margin-bottom: 15px; text-align: center; justify-content: center; }
.widget-title::before { content: ""; position: absolute; top: 18px; right: 0px; left: 0px; border-top: 2px solid #DDDDDD; z-index: 10; }
.widget-title, .site-footer:not(.light) #sidebar-footer .widget-title { background-color: transparent !important; }
.widget-title, .widget-title a, .title-tabs li a, .widget-title a:hover, .title-tabs li a:hover { color: #333333 !important; }
.widget-title h3 { flex-grow: 0; z-index: 20; }
.widget-title h3:not(.tab) { padding: 0px 10px; background: #FFFFFF; }
.site-footer:not(.light) #sidebar-footer .widget-title h3:not(.tab) { background: #1E2023 !important; }
.site-footer:not(.light) #sidebar-footer .widget-title::before { border-color: #111111; }
.cat-arrow { display: none; }

.posts { background: transparent; }
.posts ul li.item > a:hover { background-color: #F5F5F5; }

@media (min-width: 768px) {
.footer-navigation { float: left; margin-right: 20px; }
.posts.style1 ul li.item { min-width: 250px; }
.posts.style3 ul li.item, .posts.style4 ul li.item { min-width: 200px; }
}

.mobile-menu .social-links ul li { margin: 10px; }


.posts-list-meta { position: absolute; bottom: 100%; right: -1px; left: -1px; padding: 5px 10px; border: 1px solid #DDDDDD; background: #F8F8F8; z-index: 200; display: none; }
.posts-list-meta .post-meta { margin: 0px; padding: 0px; }
.posts-list-meta .post-meta, .posts-list-meta .post-meta a { color: #555555 !important; }
.article:hover .posts-list-meta { display: block; }

.page-header h1 { padding-bottom: 10px; }