/*@media screen and (max-width: 1280px) {
	
	.header {width: 92%; padding: 0 4%; margin: 0 auto;}
	.footer {width: 92%; padding: 0 4%; margin: 1% auto;}
	
}*/


@media screen and (max-width: 1200px) {
.main .footer .footer-col {width: 14.3%; padding-right: 3.7%;}
}

@media screen and (max-width: 1150px) {
.main .footer .footer-col {width: 14.2%; padding-right: 3.7%;}
}


@media screen and (min-width: 400px) and (max-width: 1200px) {

.main .popup-parts, .main .profile-popup {width: 92%;  padding: 30px 4% 30px 4%;}
.main .header-menu__search {width: 92%;  padding: 0 4% 0 4%;}
.main .parts-unit_special {width: 80%; padding: 10%;}
.main .footer {width: 97%; padding: 0 1.5%;}

}

@media screen and (min-width: 1030px) and (max-width: 1105px) {

.main .footer .footer-col {width: 14%; padding-right: 3.3%;}
.main .footer .footer-col:nth-child(5) {float: right; min-width: 300px; padding: 0;}
}

@media screen and (min-width: 900px) and (max-width: 1030px) {
	
	.tags-list {display: none;}	
	.main .col__big {width: 99.5%;}
	
	.news-right .section-unit {display: none;}
	
	.news-left .main-articles {font-size: 0; overflow: hidden; width: auto; margin-left: -2.5%; margin-right: -2%;}
	
	.news-left .section-unit {border-top: none;}
	
	.news-left .main-articles .article_top_small {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin: 0 0 14px 2.5%;
	font-size: 13px;
	}
	
	.news-left .main-articles .section-parthners {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	max-width: 190px;
	margin: 0 0 14px 2.5%;
	font-size: 13px;
	}
	
	.news-left .section-unit .main-articles .article:nth-child(n+7) {display: none;}
	.news-left .section-unit:nth-child(n+2) {display: none;}
	
	.main .footer .footer-col {width: 18%; padding-right: 3.3%;}
	.main .footer .footer-col:nth-child(2) {display: none;}
	.main .footer .footer-col:nth-child(5) {float: right; min-width: 300px; padding: 0;}
}

@media screen and (min-width: 480px) and (max-width: 640px) {
	
	.main .col__big {width: 99.5%;}
	
	.news-right .section-unit {display: none;}
	
	.news-left .main-articles {font-size: 0; overflow: hidden; width: auto; margin-left: -2.5%; margin-right: -2%;}
	
	.news-left .section-unit {border-top: none;}
	
	.news-left .main-articles .article_top_small {display: inline-block; width: 45%; margin: 0 2.5% 14px 2.5%; vertical-align: top;}
	.news-left .main-articles .article_top_small .article__img-link {float: left; width: 30%; margin-right: 3.5%;}
	.news-left .main-articles .article_top_small .article__title {font-size: 13px; line-height: 15px; margin-top: 0px; overflow: hidden;}
	
	.news-left .main-articles .article_top_small .icon-video, .news-left .main-articles .article_top_small .icon-photo, .news-left .main-articles .article_top_small .icon-magazine {display: none;}
	
	.news-left .special-top {display: none;}
	
	.news-left .section-parthners .article__title {background: none; padding: 0;}
	
	.news-left .section-unit .main-articles .article:nth-child(n+7) {display: none;}
	.news-left .section-unit:nth-child(n+2) {display: none;}
	
}

@media screen and (min-width: 970px) and (max-width: 1030px) {
	.main .footer .footer-col {width: 19.1%; padding-right: 3.4%;}
}

@media screen and (max-width: 900px) {
	.col__sidebar { display: none;}
	
	.col__full {float: none; width: 100%; margin: 0; padding: 0;}

	.col__full_content {margin: 0; padding: 0;}
	
	.main-grid {font-size: 0; overflow: hidden; width: auto; margin-left: -2.5%; margin-right: -1.5%; }
	
	.footer {width: 97%; padding: 0 1.5%; margin: 1% auto;}
}

@media screen and (max-width: 900px) {
	
	body {
	color: #1a1a1a;
	font-size: 14px; line-height: 16px; font-family: Arial, sans-serif;
	-webkit-text-size-adjust: none;
	}
	
	.layout {min-width: 100%;}
	
	/*.layout-header {width: 100% !important;}*/
	
	.logo {margin: 0 0 0 14px;}
	
	/*.header, .main .header {width: 97%; padding: 0 1.5%; margin: 0 auto;}*/
	.main .footer {width: 97%; padding: 0 1.5%; margin: 1% auto;}
	
	.cols {width: 97%; padding: 2% 1.5%; margin: 1% auto; border: none;}
	.col__main {width: 66%;}
	.col__center {float: left; width: 28%; margin-left: 5%;}
	.col__sidebar {display: none}
	.col__big {width: 100%;}
	.col__unites {width: 100%;}
	
	.article_top .article__img {width: 100%; height: auto;}
	
	.article_top_small .article__img, .section-special .article__img {width: 100%; height: auto; /*max-width: 190px;*/}
	
	.article_top_small .article__title  {font-size: 14px; line-height: 16px;}
	
	.col__main .small-col {width: 47%;}
	.small-col_left {margin-right: 6%;}
	
	.article_top .article__img {
	width: 100%; 
	/*max-width: 400px;*/
	height: auto;}
	
	.footer .footer-col {float: none; display: display: -moz-inline-stack; display: inline-block; zoom:1; *display: inline; _overflow: hidden; width: 46%; padding: 0 3% 0 0; vertical-align: top;}
	.footer .footer-col:nth-child(3), .footer .footer-col:nth-child(4) {display: none;}
	
	.footer-list_copy {color: #999;}
	
	.header-menu__search, .main .header-menu__search {width: 92%; margin: 0 auto; padding: 12px 4%;	text-align: right;}
	.header-menu__search .search-field {width: 70%; max-width: 250px;}

	.header-menu__user {width: 92%; margin: 0 auto; padding: 12px 4% 30px 4%; display: table;}
	.header-menu__user-userpic, .header-menu__user-userpic img {width: 36px; height: 36px;}
	
	.header-menu__user-info {display: table-header-group; padding-bottom: 15px;}
	.user-nav-additem {display: table-row-group; float: none; padding: 15px; float: left; width: auto; height: auto; background: none; padding: 15px 0;}
	.user-nav {display: table-footer-group; float: none}
	.user-nav-additem a {width: auto;}
	.user-nav li:first-child {margin-left: 0;}
	.user-nav li {line-height: 25px;}
	
	.profile-popup, .main .profile-popup {width: 92%;}	
	.menu-popup, .main .menu-popup {width: 92%; padding: 10px 4% 25px 4%;}
	.popup__title {font-size: 23px; line-height: 24px; margin: 8px 0 0 0;}
	.popup_close {/*top: 20px; right: 7px;*/ display: none;}
	.login-hint {margin-top: 10px;}
	.login-form {width: 100%;}
	.popup__item_forget .popup__input, .popup__item_login .popup__input {width: 97%;}
	.login-social {width: 100%; padding-top: 15px;}
	
	.popup-parts, .main .popup-parts {width: 92%;}
	.parts-col, .main .parts-col {float: none; width: 46%; margin-right: 2%; display: inline-block; vertical-align: top;}
	.parts-unit {margin: 10px 0 15px 0;}
	.parts-unit_special {width: 92%; padding: 9% 4%; margin-left: -4%;}
	.parts-unit_titles {width: 100%; padding: 0;}
	.popup-parts .popup__title {font-size: 17px; line-height: 19px;}
	.popup__title_special {font-size: 12px;}
	
	/*.sub-nav {padding-left: 4.1%;}
	.sub-nav .sub-nav__item:first-child {padding-left: 5px;}*/
	
	.subpartition .article_top .article__img {width: 57%; max-width: 400px; height: auto;}
	
	.top-posts {margin: -10px 0 0;}
	.top-posts__item {display: none;}
	.top-posts__head {width: 100%;}
	
	.post-item__title {font-size: 28px; line-height: 29px; padding-bottom: 5px;}
	
	.post-item__big-photo-img {width: 100%; max-width: 610px; height: auto;}
	
	.post-item__image-box img {width: 100%; height: auto;}
	
	.biz-market {display: none;}
	
	.theme-title {font-size: 32px; line-height: 34px;}
	
	.theme-top {width: 100%; clear: both;}
	.theme-top .article_top {width: 66%; margin-right: 5%;}
	.theme-top .article_top .article__img {width: 100%; height: auto;}
	.theme-top .article_top_small {width: 28%;}
	
	.media {width: 100%; clear: both;}
	.media .article_top {width: 66%; margin-right: 5%;}
	.media .article_top .article__img {width: 100%; height: auto;}
	.media .article_top_small {width: 28%;}
	
	.announcement {width: 100%; clear: both;}
	.announcement .article_top {width: 62.4%; margin-right: 4.3%;}
	.announcement .article_top .article__img {width: 100%; height: auto;}
	.announcement .article_top_small {width: 29%; margin: 0 4.3% 4% 0;}
	
	.media .article_top .article__title, .announcement .article_top .article__title {margin: 9px 0 5px 0;}
		
	.article_top .article__square {
	position: relative;
	width: auto;
	height: auto;
	margin-bottom: 5%;
}
.article_top .article__square .article__title, .announcement .article_top .article__square .article__title {
	position: relative;
	width: auto;
	min-height: 0px;
	background-color: transparent;
	font-weight: bold;
	padding: 0;
}
.article_top .article__square .article__title a {
	color: #1a1a1a;
}
.article_top .article__square .article__date {
	color: #777;
	font-weight: normal;
}
.article_top .article__square .article__date a {
	color: #c60304;
}
.article_top .article__square .icon-video_large, .article_top .article__square .icon-photo_large, .article_top .article__square .icon-magazine_large, .article_top .article__square .icon-yakorr_large {
	top: -43px;
}

.article_top_small .article__square {
	position: relative;
	width: auto;
	height: auto;
}
.article_top_small .article__square .article__title, .announcement .article_top_small .article__square .article__title {
	position: relative;
	width: auto;
	min-height: 0px;
	background-color: transparent;
	font-weight: bold;
	padding: 0;
}
.article_top_small .article__square .article__title a {
	color: #1a1a1a;
}
.article_top_small .article__square .article__time {
	color: #777;
}
.article_top_small .article__square .article__time a {
	color: #c60403;
}
.article_top_small .article__square .icon-video, .article_top_small .article__square .icon-photo, .article_top_small .article__square .icon-magazine, .article_top_small .article__square .icon-yakorr {
	top: -35px;
}
	.articles-grid {width: 100%;}
	.articles-grid_block {width: 105.3%;}
	
	.articles-grid .article_top_small, .articles-grid .blog_top_small, .announcement .block-top .article_top_small {
		width: 29%;
		margin: 0 4.3% 4% 0;
	}
	.articles-grid .movie_small {
		width: 23%;
		margin: 0 2% 3% 0;
	}
	
	.movie_small .article__img {
		width: 100%;
		height: auto;
	}
	
	input.search-field {width: 65%;}
	
	.magazine-img_big {width: 60%; height: auto;}
	.magazine-info {margin-left: 60%; padding: 4%; height: auto;}
	.magazine-cover .socials {display: none;}
	.magazine-cover {overflow: hidden;	height: auto; background: #eee;}
	.magazine-load-big {font-weight: normal; font-size: 13px;}
	
	video, .mejs-container, .mejs-overlay { width: 100% !important; height: 400px !important;}
	.mejs-poster {width: 100% !important;}
	.mejs-poster img {width: 100% !important; height: auto !important; display: none;}
	.mejs-container {background-color: #343434 !important;}
	
	.footer-list_icons li:first-child {display: none;}
	
	.errorpage {width: 100%;}
	
	.subpartition-partnership img {width: 100%; height: auto;}
	
	.header-social {margin-right: 0;}
	
	/* adv */
	
	.unit-column-banner img {width: 100%; height: auto;}
	.unit-top-banner {display: none;}
	.unit-bottom-banner-block {display: none;}
	
	body > a {display: none;}
	body {background-image: none !important; background-color: none !important; padding: 0 !important;}
	.unit-bottom-banner-block {width: 100% !important;}
	.layout-footer {width: 100% !important;}
	#main_content_400x400 img {width: 100% !important;}
	.unit-top-dark-banner {display: none;}
	
	/* old */
	
	.post-item__text div img {width: 100%; height: auto;}
	
	.main .footer .footer-col {width: 45%; padding-right: 5%;}
	.main .footer .footer-col:nth-child(2) {display: none;}
	.main .footer .footer-col:nth-child(5) {float: none; width: 45%; padding-right: 0;}
	
	.weather-block, .index-block {display: none;}
	
	.menu-profile__button:before, .menu-profile__button:after, .menu-user__button:before, .menu-user__button:after, .menu-search__button:before {opacity: 0.65;}

}



@media screen and (max-width: 600px) {
	
	/*.header {width: 94%; padding: 0 3%; margin: 0 auto;}*/
	.footer {width: 94%; padding: 0 3%; margin: 1% auto;}
	
	.logo {width: 205px;}
	
	.logo img {width: 205px; height: auto; margin-top: 1.7%;}
	
	.header-red {min-height: 61px;}
	
	.header-social__link {display: none;}	
	.tags-list {display: none;}
	
	.rating-articles-big .article_rating .article__title {width: 65%;}
	.rating-articles-big .article_rating .article__place {width: 10%;}
	
	.article_top_photo .article__title {font-size: 23px; line-height: 25px;}
	
	.magazine-info .magazine-number {font-size: 28px; line-height: 30px;}
	.magazine-info .magazine-number span {font-size: 34px;}
	
	video, .mejs-container, .mejs-overlay { width: 100% !important; height: 300px !important;}
	
	.main .col__big {width: 99.5%;}
	.main .col__center {display: none;}
	
	.article_top_noimg {border-top: none;}
	
	.top-header-menu {display: none;}

}

@media screen and (min-width: 640px) and (max-width: 700px) {
.article_top_small .article__title {
font-size: 13px;
line-height: 15px;
}
.rubric-articles .unit-rubric__right {display: none;}
}

@media screen and (min-width: 481px) and (max-width: 640px) {
	
	.main-grid .article_main { width: 95%; max-width: none; margin: 0 0 10px 2.5%; float: left; font-size: 13px; clear: right;}
	.main-grid .article_main .article__img {float: left; width: 50%; margin-right: 2.5%;}
	.main-grid .article_main .article__title {font-size: 17px; line-height: 19px;}
	.main-grid .article_main .article__text {overflow: hidden;}
	
	.top-block .article_top_small {width: 45%; margin: 0 2.5% 14px 2.5%; vertical-align: top;}
	.top-block .article_top_small .article__img-link {float: left; width: 30%; margin-right: 3.5%;}
	.top-block .article_top_small .article__title {font-size: 13px; line-height: 15px; margin-top: 0px; overflow: hidden;}
	
	.top-block .article_top_small .icon-video, .main-grid .article_top_small .icon-photo, .main-grid .article_top_small .icon-magazine {display: none;}
	
	.top-block .article_top_small > a {dispaly: block;}
	
	.rubric-articles .unit-rubric__right {display: none;}
	
	.main .footer .footer-col {width: 45%; padding-right: 5%;}
	.main .footer .footer-col:nth-child(2) {display: none;}
	.main .footer .footer-col:nth-child(5) {float: none; width: 45%; padding-right: 0; min-width: 0;}
}

@media screen and (max-width: 480px) {

	.main-grid .article_main {width: 95%; max-width: none; margin: 0 0 1% 2.5%; float: left; font-size: 13px; clear: right;}

	.main-grid .article_top_small {width: 95%; margin: 0 2.5% 14px 2.5%; vertical-align: top;}
	.main-grid .article_top_small .article__img-link {float: left; width: 30%; margin-right: 3.5%;}
	.main-grid .article_top_small .article__title {font-size: 13px; line-height: 15px; margin-top: 0px; overflow: hidden;}
	
	.main-grid .article_top_small .icon-video, .main-grid .article_top_small .icon-photo, .main-grid .article_top_small .icon-magazine {display: none;}
	
	.main-grid .article_top_small > a {dispaly: block;}
}

@media screen and (min-width: 321px) and (max-width: 480px) {
	.main-grid .article_top_small .article__title {font-size: 14px; line-height: 16px;}	
}


@media screen and (max-width: 480px) {
	
	.header, .main .header {width: 100%; padding: 0; margin: 0 auto;}
	.footer {width: 94%; padding: 0 3%; margin: 1% auto;}
	
	.cols, .main .cols {width: 94%; padding: 3%; margin: 1% auto;}
	.col__main {width: 100%;}
	.col__center {display: none;}
	.col__sidebar {display: none}
	
	.header {overflow: hidden; height: 46px;}
	.header .clear {clear: none; display: none;}
	.header-menu {float: right; margin: 0; max-height: 36px;}
	
	.nav {float: right; width: 46px; height: 46px;}
	
	.menu-section {float: right;}
	
	.menu-section .nav__link {background-color: #a40000;}
	
	.menu-section .nav__link span {
	transition: none;
	display: block;
	width: 36px;
	height: 36px;
	background: url("../i/icon-sprite.png") no-repeat -200px -64px;
	cursor: pointer;
	color: #a40000;
	}
	.menu-section b {display: none;}
	
	.menu-section a.nav__link:hover {background-color: #940b0b;}
	
	.content_green .menu-section a.nav__link {background-color: #275726;}
	.content_green .menu-section a.nav__link:hover {background-color: #164915;}
	
	.content_orange .menu-section a.nav__link {background-color: #d62c00;}
	.content_orange .menu-section a.nav__link:hover {background-color: #c61900;}
	
	.menu-search__button span {width: 36px; height: 36px; background: url("../i/icon-sprite.png") no-repeat 10px -41px;}
	.menu-profile__button span {width: 36px; height: 36px; background: url("../i/icon-sprite.png") no-repeat 9px -12px;}
	.menu-user__button, .menu-user__button img {width: 46px; height: 46px;}
	.menu-user__button img {display: block;}
	
	.menu-link__active .menu-search__button span {background-position: -86px -41px;}
	.menu-link__active .menu-profile__button span {background-position: -86px -12px;}

	.menu-section .menu-link__active span {transition: none; background-color: #eee; background-position: -227px -64px;}
	.menu-section .menu-link__active:hover {background-color: #eee;}

	.menu-section .nav__link .ico-down_white {display: none;}
	
	.header-menu__search {
	width: 94%;
	margin: 0 auto;
	padding: 12px 3%;
	text-align: left;
	}
	.header-menu__search .search-field {
	width: 70%; max-width: 190px;
	}
	.search-form__info {display: none;}
	
	.profile-popup, .menu .profile-popup {width: 94%;}	
	.menu-popup, .main .menu-popup {width: 94%; padding: 10px 3% 25px 3%;}
	.popup__title {font-size: 23px; line-height: 24px; margin: 8px 0 0 0;}
	.popup_close {/*top: 20px; right: 7px;*/ display: none;}
	.login-hint {margin-top: 10px;}
	.login-form {width: 100%;}
	.popup__item_forget .popup__input, .popup__item_login .popup__input {width: 97%;}
	.login-social {width: 100%; padding-top: 15px;}
	.popup__item {width: 100%;}
	
	.popup-parts, .main .popup-parts {width: 100%; padding: 0;}
	.parts-col, .main .parts-col {float: none; width: 100%; display: block; margin: 0; padding: 0;}
	.parts-unit {display: block; margin: 0; padding: 0;}
	.parts-unit h1 {margin: 0; padding: 0;}
	.parts-unit li .popup__title_sub {display: none;}
	.parts-unit li {disply: none; margin: 0; padding: 0;}
	.parts-unit li:first-child {display: block; padding: 0; margin: 0;}
	.popup-parts .popup__title {display: block; padding: 10px 3% 10px 3%; border-bottom: #e0e0e0 1px solid;}
	.popup-parts .popup__title:hover {transition: all 0.3s ease 0s; background: #e0e0e0;}
	.popup-parts .popup__title {font-size: 14px; line-height: 14px;}
	.parts-unit_special .popup__title {font-size: 12px; color: #666;}
	.popup__title_special {font-size: 12px;}
	.parts-unit_special, .parts-unit_special li {background: none; width: 100%; display: block; margin: 0; padding: 0; font-size: 12px;}
	.parts-unit_titles {width: 100%; padding: 0;}
	.parts-unit_special {width: 100%; display: block; margin: 0; padding: 0;}
	.popup-parts .popup__title_special {display: block; padding: 10px 3% 10px 3%; border-bottom: #eee 1px solid; color: #666;}
	.popup-parts .popup__title_special:hover {transition: all 0.3s ease 0s; background: #eee;}
	
	.footer-list_copy .footer-list__item:nth-child(n+2) {display: none;}
	
	.article .article__img-link:hover img, .blog .article__img-link:hover img, .blog .blog__img-link:hover img {transition: none;}
	
	.article_top .article__img {width: 100%; /*max-width: 400px;*/ height: auto;}
	
	.header-menu .nav__item, .header-lang, .header-section, .header-social__link {display: none;}
	
	.layout-header {padding-top: 0;}
	
	.logo {padding: 10px 0 0 0; width: 165px;}
	.logo img {width: 165px; height: auto;}
	
	.tags-list {display: none;}
	.article_top .article__text {display: none;}
	
	.col__main .article_top_small .article__img {width: 100%; height: auto; max-width: 190px;}
	
	.col__main .small-col {width: 47%;}
	.small-col_left {margin-right: 6%;}
	
	.button {font-size: 12px; line-height: 28px; height: 28px;}
	
	.news-nav {text-align: center;  padding: 10px 0 0 0; border-bottom: none;}
	.news-nav li {display: block; vertical-align: top;  margin-left: 0;  font-size: 12px;}
	.news-nav li .link_marked {display: block; line-height: 28px; height: 28px; background: #eee; margin-top: 1px;}
	.news-nav li .link_marked:hover {transition: all 0.3s ease 0s; text-decoration: none; background: #ddd;}
	/*.news-nav .ico-arrow_dbl {display: none;}*/
	
	.unit-rubric__money a {display: block;}
	
	.layout-footer {padding: 20px 0 30px; margin-top: 20px;}
	
	.footer .footer-col {float: none; display: display: -moz-inline-stack; display: inline-block; zoom:1; *display: inline; _overflow: hidden; width: 46%; padding: 0 3% 0 0; vertical-align: top;}
	.magazine-col_right {clear: both; padding: 10px 0 0 0; margin: 0;}
	.footer .footer-col:nth-child(n+2) {display: none;}
	.magazine__more {display: none;}
	
	.unit-rubric__money span {margin: -3px 7px 12px 0;}
	
	.header-menu__popup {top: 36px;}
	
	.sub-nav_active {display: none;}
	
	.back-top {display: none !important;}
	
	.subpartition, .profile {padding-bottom: 15px;}
	
	.partition .article_rubric_top .article__title {font-size: 15px; line-height: 16px; margin: 0 0 6px 0;}
	.subpartition .article_rubric_top .article__title {font-size: 14px; line-height: 15px; margin: 0 0 6px 0;}
	.article_rubric_top .article__text {overflow: visible;}
	
	.articles-list .article_rubric_top .article__title, .announcement-list .article_rubric_top .article__title {font-size: 14px; line-height: 15px; margin: 0 0 6px 0;}
	
	.subpartition .article_top .article__title {font-size: 16px; line-height: 17px; font-weight: bold;}
	
	.top-posts {margin: -4% -3% 0;}
	
	.post-item__title {font-size: 25px; line-height: 26px; padding-bottom: 5px;}
	
	.post-item__photo-img {width: 100%; max-width: 400px; height: auto; padding-bottom: 3px;}
	.post-item__big-photo-img {width: 100%; max-width: 610px; height: auto;}
	.post-item__articles-box, .post-item__statistic {display: none;}
	
	.comment-item_shift_1 {margin-left: 10%;}
	.comment-item_shift_2 {margin-left: 20%;}
	.comment-item_shift_3 {margin-left: 30%;}
	
	.col__unites .col__center {display: block; width: 100%; margin-left: 0;}
	.col__unites .article_top_small .article__img-link {}
	
	.col__unites .article_top_small .article__img-link {float: left; width: 35%; margin: 0 10px 0 0;}
	.col__unites .article_top_small .article__title {font-size: 14px; line-height: 16px;}
	
	.theme-title {font-size: 28px; line-height: 30px;}
	
	.theme-top {width: 100%; clear: both;}
	.theme-top .article_top {float: none; width: 100%; margin-right: 0;}
	.theme-top .article_top .article__img {width: 100%; /*max-width: 400px;*/ height: auto;}
	
	.theme-top .article_top_small {width: 46%;}
	.theme-top .article_top_small {margin-right: 8%;}
	.theme-top .article_top_small:last-child {margin-right: 0;}
	.theme-top .article_top .article__title {margin-bottom: 0;}
	.theme-top .article_top .article__date {padding-top: 0;}
	
	.media {width: 100%; clear: both;}
	.media .article_top, .announcement .article_top {float: none; width: 100%; margin-right: 0;}
	.media .article_top .article__img {width: 100%; height: auto;}
	.media .article_top_small {width: 28%;}
	
	.media .article_top_small {width: 46%;}
	.media .article_top_small {margin-right: 8%;}
	.media div:last-of-type {margin-right: 0;}
	.media .article_top .article__title {margin-bottom: 0;}
	.media .article_top .article__date {padding-top: 0;}
	
	/*.korrespondent-tv .article_top_small:nth-child(4) {display: none;}*/
	.korrespondent-tv .articles-grid_block > div:nth-child(3) {display: none;}
	
	.articles-grid .article_top_small, .articles-grid .blog_top_small, .announcement .block-top .article_top_small {width: 45%;	margin: 0 5% 4% 0;}
	
	.article_top_photo .article__title {font-size: 20px; line-height: 22px;}
	
	.top-photo .article_top_small:nth-child(3) {display: none;}
	
	.magazine-archive .icon-adobe {display: none;}
	.magazine-archive .magazine-archive-description {margin-left: 0;}
	
	video, .mejs-container, .mejs-overlay { width: 100% !important; height: 330px !important;}
	
	.change-version {margin-bottom: -20px;}
	
	.header-menu__user {width: 100%; padding: 0;}
	
	.user-nav {float: none; height: auto;}
	.user-nav li {float: left; margin-left: 0; width: 100%;}
	.user-nav li a {display: block; padding: 10px 3% 10px 3%; margin: 0; border-bottom: #e0e0e0 1px solid; font-size: 12px; line-height: 14px;}
	.user-nav li a:hover {transition: all 0.3s ease 0s; background: #e0e0e0;}
	
	.user-nav-additem {width: 100%; padding: 0;}
	.icon-additem {display: none;}
	.user-nav-additem a {display: block; padding: 10px 3% 10px 3%; margin: 0; border-top: #e0e0e0 1px solid; border-bottom: #e0e0e0 1px solid; font-size: 12px; line-height: 14px;}
	.user-nav-additem a:hover {transition: all 0.3s ease 0s; background: #e0e0e0;}
	
	.header-menu__user-userpic {margin: 3%;}
	
	.big_quote_content .quote-text {font-size: 22px; line-height: 24px; font-weight: normal;}
	.big_quote_content .quote__author-about, .big_quote_content .quote__author-name {font-size: 13px; line-height: 14px;}
	
 .unit-rubric .main-grid .article_top_small {width: 97.5%; margin: 0 0 2% 2.5%;}
 .side-articles {width: 96.5%; margin: 0 0 0 2.5%;}

	.side-articles .article {
	padding: 2% 0 0 0;
	margin-bottom: 2%;
	border-bottom: none;
	border-top: #d9d9d9 1px solid;
	}
	.main-grid .photo_main {
	width: 95%;
	margin: 0 0 10px 2.5%;
	}
	
	.main-grid .photo_main {max-width: none;}
	
	.side-articles {display: inline-block; width: 95%; margin: 0 0 2% 2.5%; vertical-align: top; font-size: 13px;}
	.rubric-articles {display: inline-block; width: 95%; margin: 0 0 2% 2.5%; vertical-align: top; font-size: 13px;}
	.main-quota {display: inline-block; width: 95%; margin: 0 0 0 2.5%; vertical-align: top; font-size: 13px;}
	.main-quote {margin-bottom: 4px;}
	
	.section-special {
	width: 100%;
	margin: 0 0 20px 0 !important;
	max-width: none;
	}
	
	.special-top {
	font-size: 14px;
	color: #c60304;
	padding: 0 0 12px 0;
	background-color: #fff;
	border-bottom: #c60304 3px solid;
	margin-bottom: 8px;
}

	.special-img {overflow: visible;}
	
	.special-img .article__img {
		float: left;
		width: 30%;
		margin-right: 3.5%;
	}
	.section-special .article__title {
		color: #c60304;
		padding: 0;
		font-weight: bold;
		background-color: #fff;
		font-size: 14px; line-height: 16px;
		min-height: none;
	}
	
	.section-special a:visited .article__title {color: #c60304;}
	
	.main .parts-unit_special {width: 100%; padding: 0;}
	
	.menu-profile__button:before, .menu-profile__button:after, .menu-user__button:before, .menu-user__button:after, .menu-search__button:before {display: none;}
	.menu-profile__button, .menu-search__button {padding: 5px; margin-left: 1px; height: auto; background: #a40000;}
	.menu-user__button {padding: 0; margin-left: 1px; height: auto; background: #a40000;}
	.menu-profile__button b, .menu-user__button b, .menu-search__button b {display: none;}
	.menu-user__button span {display: none;}
	
	.menu-profile__button:hover, .menu-search__button:hover {background: #940b0b;}
	
	.layout-header {height: 46px; padding-left: 46px}
	
	.header-red {
	background: #c60304;
	}
	
	.header-menu {/*display: table-header-group;*/ float: left; width: 46px;  margin-left: -100%; position: relative; right: 46px;}
	.header-red {/*display: table-footer-group;*/  float: left; width: 100%;}
	.layout-header {width: auto;}
	
	.menu-section i {display: none;}
	.menu-section .nav__link {padding: 5px;}
	
	.header-red {min-height: 0px;}
	
	#sitemap, #auth, #search {top: 46px;}
	
	.nav__link:after {display: none;}
	
	.subscribe_button {display: none;}	
	
	.announcement .articles-grid_block > div:last-child {display: none;}
	
	.sub-nav_reporter {display: none;}
}

@media screen and (max-width: 644px) {
	.post-item__announcement-photo-img {width: 65%; max-width: 400px; height: auto; padding-bottom: 3px;}
	.post-item__announcement-info {width: 35%; background: #fff; min-height: 0px; padding-top: 20px;}
	.post-item__announcement-info_date1 {font-family: 'Sans-Condense_Bold'; font-size: 42px; line-height: 42px; color: #c60304;}
	.post-item__announcement-info_date2 {font-size: 18px; line-height: 18px;}
	.post-item__announcement-info_month {font-family: 'Sans-Condense_Bold'; font-size: 18px; line-height: 18px; color: #c60304; text-transform: uppercase;}
	.post-item__announcement-info_place {font-family: 'Sans-Condense_Bold'; font-size: 16px; line-height: 20px; text-transform: uppercase;}
}

@media screen and (max-width: 460px) {
	.post-item__announcement-info_date1 {font-family: 'Sans-Condense_Bold'; font-size: 33px; line-height: 33px; color: #c60304;}
	.post-item__announcement-info_date2 {font-size: 16px; line-height: 16px;}
	.post-item__announcement-info_month {font-family: 'Sans-Condense_Bold'; font-size: 16px; line-height: 16px; color: #c60304; text-transform: uppercase;}
	.post-item__announcement-info_place {font-family: 'Sans-Condense_Bold'; font-size: 12px; line-height: 14px; text-transform: uppercase;}
}

@media screen and (max-width: 360px) {
	.post-item__announcement-info {padding-top: 10px;}
	.post-item__announcement-info_date1 {font-family: 'Sans-Condense_Bold'; font-size: 30px; line-height: 30px; color: #c60304;}
	.post-item__announcement-info_date2 {font-size: 12px; line-height: 12px;}
	.post-item__announcement-info_month {font-family: 'Sans-Condense_Bold'; font-size: 12px; line-height: 12px; color: #c60304; text-transform: uppercase;}
	.post-item__announcement-info_time {font-family: 'Sans-Condense_Bold'; font-size: 14px; line-height: 14px; color: #c60304; text-transform: uppercase;}
	.post-item__announcement-info_place {font-family: 'Sans-Condense_Bold'; font-size: 12px; line-height: 14px; text-transform: uppercase;}
}


@media screen and (max-width: 420px) {

.subpartition .article_top .article__img {width: 100%; height: auto; margin-bottom: 10px;}

.unit-rubric__title a span, .tab-group__item span, .subpartition-head .tab-group__item_active {display: none;}

.post-item__image-box_right {float: left; margin: 0 20px 0 0;}

.rating-articles-big .article_rating .article__title {width: 60%;}

	.articles-grid .movie_small {
	width: 45%;
	margin: 0 5% 3% 0;
	}
	
	.subpartition-description {font-size: 11px;}
	
	video, .mejs-container, .mejs-overlay { width: 100% !important; height: 300px !important;}

}

@media screen and (max-width: 350px) {
	.logo {padding: 11px 0 0 0; width: 139px;}
	.logo img {width: 139px; height: auto;}
}

@media screen and (max-width: 321px) {
	
	.article_rubric_top .article__img-link {width: 35%; margin: 0 10px 0 0;}
	.article_rubric_top .article__img {width: 100%; height: auto;}
	.article_top .article__title {font-size: 18px; line-height: 20px;}
	
	.col__main .small-col {width: 100%;}
	
	.small-col_left {margin-bottom: 10px;}
	
	.article_rubric_top .article__text {display: none;}
	.articles-list .article_rubric_top .article__text {display: block;}
	
	.partition .article_rubric_top .article__text {display: block; font-size: 12px;}
	.subpartition .article_rubric_top .article__text {display: block; font-size: 12px;}
	
	.col__main .article_top_small {overflow: hidden;}
	
	.theme-top .article_top_small {width: 100%;}
	
	.media .article_top_small, .media_sub .article_top_small, .announcement .block-top .article_top_small {width: 96%;}
	
	.article_top_small .article__img-link, .media .article_top_small .article__img-link, .media_sub .article_top_small .article__img-link {float: left; position: relative; float: left; margin-right: 10px; width: 35%;}
	
	/*.col__main .article_top_small .article__img, .theme-top .article_top_small .article__img { height: auto;}*/
	.col__main .article_top_small .article__title, .theme-top .article_top_small .article__title {margin: 0 0 3px 0;}
	
	.footer .footer-col {width: 100%; padding: 0 0 0 0;}
	.footer .footer-col:nth-child(n+2) {display: none;}
	.magazine__head {display: block;}
	.magazine-col_right {clear: none; padding: 10px 0 0 0; margin: 0 0 0 100px;}
	
	.rating-articles-big .article_rating .article__title {width: 55%;}
	.rating-articles-big .article_rating .article__place {width: 12%;}
	
	.article_top_small .article__square .icon-video, .article_top_small .article__square .icon-photo, .article_top_small .article__square .icon-magazine, .article_top_small .article__square .icon-yakorr {
	display: none;}
	
	.articles-grid .article_top_small .article__title {margin-top: -1px;}
	
	input.search-field {width: 55%;}
	
	.magazine-info .magazine-number {font-size: 20px; line-height: 22px;}
	.magazine-info .magazine-number span {font-size: 28px;}
	
	.magazine-archive .magazine-archive-description {font-size: 11px;}
	
	.magazine-img_big {width: 50%; height: auto;}
	.magazine-info {margin-left: 50%; padding: 4%; height: auto;}
	
	video, .mejs-container, .mejs-overlay { width: 100% !important; height: 200px !important;}
	
	.big_quote_content .quote-avatar img {width: 75px; height: 75px;}

}

/*@media screen and (max-width: 310px) {

.logo {padding: 9px 0 0 0; width: 15px; overflow: hidden;}
.logo img {width: 195px; height: auto;}

}*/

@media screen and (max-width: 310px) {

/*.logo {padding: 12px 0 0 0; width: 18px; overflow: hidden;}
.logo img {width: 211px; height: auto;}*/

.logo {padding: 12px 0 0 0; width: 100px;}
.logo img {width: 100px; height: auto;}

}

/*@media screen and (max-width: 280px) {

.logo {padding: 10px 0 0 0; width: 22px; overflow: hidden; margin-left: 10px;}
.logo img {width: 270px; height: auto;}

}*/



/* modal */

@media (min-width: 1200px) {
	.modal.container {
		width: 1170px;
		margin-left: -585px;
	}
}

@media (max-width: 979px) {
	.modal, 
	.modal.container,
	.modal.modal-overflow 	{
		top: 1%;
		right: 1%;
		left: 1%;
		bottom: auto;
		width: auto !important;
		height: auto !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	
	.modal.fade.in, 
	.modal.container.fade.in,
	.modal.modal-overflow.fade.in {
		top: 1%;
		bottom: auto;
	}
	
	.modal-body,
	.modal-overflow .modal-body {
		position: static;
		margin: 0;
		height: auto !important;
		max-height: none !important;
		overflow: visible !important;
	}
	
	.modal-footer,
	.modal-overflow .modal-footer {
		position: static;
	}
}

.loading-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -12px;
}


@media screen and (max-width: 650px) {
.profile-block__img {float: none; display: block; margin: 10px auto; width: 150px; height: auto;}
.profile-block {padding: 4% 4% 0 4%; width: 92%;}
.post-item__photo-author {display: none;}
.profile__title {padding: 20px 10px 0 10px; font-size: 34px; line-height: 36px;}
.profile-block__info {width: 90%; padding: 15px 5%;}
}

@media screen and (max-width: 450px) {
.thing-articles__quotation, .thing-articles__number_description {font-size: 16px;}
.thing-articles__number {font-size: 36px;}
}

