.clearfix {
    zoom:1;
}

.wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

body {
    zoom: 1;
}

.col,
.main-features li {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

.row .col:first-child,
.main-features li:first-child {
    margin-left:0;
}
.page .row {
    margin-bottom: 24px;
}


.fwImage {
            width: 100%;
            margin: 0 !important;
            padding: 0;
}

    @media screen and (min-width: 0px) and (max-width: 760px) {
        
        .col,
        .main-features li {
            margin: 30px 5%;
            width: 90%;
        }
        
        .row .col:first-child,
        .main-features li:first-child {
            margin-left: 5%;
            margin-right: 5%;
        }

        .wrapper {
            width: 100%;
        }

        
        .span_1,
        .span_2,
        .span_3,
        .span_4,
        .span_5,
        .span_6 {
            width: 90%;   
            padding: 0;
        }
        .fwImage {
            width: 100%;
            margin: 0 !important;
            padding: 0;
        }
        #main-footer {
            text-align: center;
        }
        .logo_shift {
           margin-left: 5% !important;
        } 
    }





/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
	/*width: 610px;
	height: 520px;*/
	position: relative;
	direction: ltr;

}
.royalSlider > * {
	float: left;
}

.rsWebkit3d .rsSlide {
	-webkit-transform: translateZ(0);
}


.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
	-webkit-backface-visibility: hidden;
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
    -webkit-transform: none;
}
.rsOverflow {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	float: left;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	left: 0;
	top: 0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap .rsOverflow {
	position: absolute;
	left: 0;
	top: 0;

}
.rsContainer {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsArrow,
.rsThumbsArrow {
	cursor: pointer;
}

.rsThumb {
	float: left;
	position: relative;
}


.rsArrow,
.rsNav,
.rsThumbsArrow {
	opacity: 1;
	-webkit-transition:opacity 0.3s linear;
	-moz-transition:opacity 0.3s linear;
	-o-transition:opacity 0.3s linear;
	transition:opacity 0.3s linear;
}
.rsHidden {
	opacity: 0;
	visibility: hidden;
	-webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}


.rsGCaption {
	width: 100%;
	float: left;
	text-align: center;
}

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
	position: fixed !important;
	height: auto !important;
	width: auto !important;
	margin: 40px 0 0 0 !important;
	padding: 0 !important;
	z-index: 2147483647 !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
}

.gallery-header {position: fixed; display: block; height: 40px; width: 100%; z-index: 2; top: 0; left: 0; background-color: #c60304; display: none; padding: 9px 20px 5px 20px;}

.royalSlider .rsSlide.rsFakePreloader {
	opacity: 1 !important;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition:  0s;
	transition:  0s;
	display: none;
}

.rsSlide {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	overflow: hidden;
	
	height: 100%;
	width: 100%;
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
	height: auto;
}

.rsContent {
	width: 100%;
	height: 100%;
	position: relative;
}

.rsPreloader {
	position:absolute;
	z-index: 0;	
}

.rsNav {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}
.rsNavItem {
	-webkit-tap-highlight-color:rgba(0,0,0,0.25);
}

.rsThumbs {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	float: left;
	z-index: 22;
}
.rsTabs {
	float: left;
	background: none !important;
}
.rsTabs,
.rsThumbs {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}


.rsVideoContainer {
	/*left: 0;
	top: 0;
	position: absolute;*/
	/*width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	float: left;*/
	width: auto;
	height: auto;
	line-height: 0;
	position: relative;
}
.rsVideoFrameHolder {
	position: absolute;
	left: 0;
	top: 0;
	background: #141414;
	opacity: 0;
	-webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
	opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
	position: absolute;
	z-index: 50;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 44px;
}

.rsABlock {
	left: 0;
	top: 0;
	position: absolute;
	z-index: 15;
	
}

img.rsImg {
	max-width: none;
}

/*.grab-cursor {
	cursor:url(grab.png) 8 8, move; 
}

.grabbing-cursor{ 
	cursor:url(grabbing.png) 8 8, move;
}*/

.rsNoDrag {
	cursor: auto;
}

.rsLink {
	left:0;
	top:0;
	position:absolute;
	width:100%;
	height:100%;
	display:block;	
	z-index: 20;
	background: url(blank.gif);
}

div.royalSlider > div.rsContent {visibility: hidden;}


/* Background */
.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
	background: #eee;
	color: #666;
}

.rsFullscreen .rsDefault,
.rsFullscreen .rsOverflow,
.rsFullscreen .rsSlide,
.rsFullscreen .rsVideoFrameHolder,
.rsFullscreen .rsThumbs {
	background: #343434;
	color: #fff;
}

/***************
*
*  1. Arrows
*
****************/

.rsDefault .rsArrow {
	height: 100%;
	width: 44px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}
.rsDefault.rsVer .rsArrow {
	width: 100%;
	height: 44px;
	
}
.rsDefault.rsVer .rsArrowLeft { top: 0; left: 0; }
.rsDefault.rsVer .rsArrowRight { bottom: 0;  left: 0; }

.rsDefault.rsHor .rsArrowLeft { left: 0; top: 0; }
.rsDefault.rsHor .rsArrowRight { right: 0; top:0; }

.rsDefault .rsArrowIcn {		
	width: 32px;
	height: 33px;
	top: 50%;
	left: 50%;
	margin-top:-16px;	
	margin-left: -10px;

	position: absolute;	
	cursor: pointer;	
	background: url('../i/rs-default.png');

	background-color: #666;
	background-color: rgba(52,52,52,0.75);
	*background-color: #666;
	
	
}
.rsDefault .rsArrowIcn:hover {
	transition: all 0.3s ease 0s;
	background-color: rgba(52,52,52,0.9);
}

.rsDefault.rsHor .rsArrowLeft .rsArrowIcn { background-position: -64px -32px; margin-left: -22px;}
.rsDefault.rsHor .rsArrowRight .rsArrowIcn { background-position: -64px -74px; }

.rsDefault .rsArrowDisabled .rsArrowIcn { opacity: .2; filter: alpha(opacity=20);  *display: none; }


/***************
*
*  2. Bullets
*
****************/

.rsDefault .rsBullets {
	position: absolute;
	z-index: 35;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	margin: 0 auto; 

	background: #eee;
	/*background: rgba(0,0,0,0.75);*/

	text-align: center;
	line-height: 8px;
	overflow: hidden;
}
.rsDefault .rsBullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	*display:inline; 
	*zoom:1;
	padding: 6px 5px 6px 0;
}
.rsDefault .rsBullet span {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #bdbdbd;
}
.rsDefault .rsBullet.rsNavSelected span {
	background: #c60304;
/*	background: rgba(200,3,4,0.5);*/
}

/***************
*
*  3. Thumbnails
*
****************/

.rsNav {bottom: -10px; padding: 9px 0;}

.rsDefault .rsThumbsHor {
	width: 100%;
	height: 45px;
}

.rsDefault.rsWithThumbsHor .rsThumbsContainer {
	position: relative;
	height: 100%;
}

.rsDefault .rsThumb {
	float: left;
	overflow: hidden;
	/*width: 96px;
	height: 72px;*/
		width: 44px;
		height: 44px;	
}

.rsThumbsContainer {}

.rsDefault .rsThumb.rsNavSelected {
	background: #c60304;
}
.rsDefault .rsThumb.rsNavSelected img {
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.rsDefault .rsTmb {
	/*display: block;*/
}

/* Thumbnails arrow icons */
.rsDefault .rsThumbsArrow {
	margin-top: 8px;
	height: 45px;
	width: 20px;
	position: absolute;
	display: block;
	cursor: pointer;	
	z-index: 21;	
	background: #000;
	background: rgba(52,52,52,0.75);
}
.rsDefault .rsThumbsArrow:hover {
	transition: all 0.3s ease 0s;
	background: rgba(52,52,52,0.9);
}
.rsDefault.rsWithThumbsVer .rsThumbsArrow {
	width: 100%;
	height: 20px;
}
/*.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft { top: 0; left: 0; }
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight { bottom: 0;  left: 0; }*/

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft { left: 0; top: 0; }
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight { right: 0; top:0; }

.rsDefault .rsThumbsArrowIcn {		
	width: 16px;
	height: 16px;
	top: 50%;
	left: 50%;
	margin-top:-8px;	
	margin-left: -8px;
	position: absolute;	
	cursor: pointer;	
	background: url('../i/rs-default.png');
}

.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -128px -32px; }
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -128px -48px; }

.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn { background-position: -144px -32px; }
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn { background-position: -144px -48px; }

.rsDefault .rsThumbsArrowDisabled { display: none !important; }


/***************
*
*  5. Fullscreen button
*
****************/

.rsDefault .rsFullscreenBtn {
	right: 0;
	top: 0;
	width: 32px;
	height: 32px;
	z-index: 22;
	display: block;
	position: absolute;
	cursor: pointer;
	
}
.rsDefault .rsFullscreenIcn {
	display: block;
	width: 32px;
	height: 32px;
	background: url('../i/rs-default.png') -5px 0;
	background-color: #666;
	background-color: rgba(52,52,52,0.75);

}
.rsDefault .rsFullscreenIcn:hover {
	transition: all 0.3s ease 0s;
	background-color: rgba(52,52,52,0.9);
}
.rsDefault.rsFullscreen .rsFullscreenIcn {
	background-position: 8px -26px;
}


/***************
*
*  7. Preloader
*
****************/

.rsDefault .rsPreloader {
	width:20px;
	height:20px;
	background-image:url(../i/preloader_photo-gray.gif);
	left:50%;
	top:50%;
	margin-left:-10px;
	margin-top:-10px;	
}




/***************
*
*  8. Global caption
*
****************/
.rsDefault .rsGCaption {
	/*position: absolute;
	float: none;
	bottom: 45px;
	left: 0px;*/
	position: relative;
	text-align: left;
	width: 100%;
	}
	
.rsDefault .rsGCaption span {width:90%; background: rgb(238, 238, 238); background: rgba(238, 238, 238, 0.98); display: block;  font-size: 12px; padding: 15px 5% 20px 5%; color: #666;}
.rsDefault .rsGCaption a {color: #c60304;}
.rsDefault .rsGCaption a:hover {text-decoration: underline;}



.rsFullscreen .rsDefault {position: relative;}

.rsFullscreen .rsGCaption {
	position: absolute;
	float: left;
	bottom: 40px;
	left: 0px;
	width: 100%;
}

.rsFullscreen .rsGCaption span {background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.2); color: #fff; font-size: 14px; line-height: 17px; width: 90%; padding: 30px 5% 30px 5%;}

.rsFullscreen .rsNav {bottom: 0px;}


.rsFullscreen .rsThumbsHor {
	position: absolute;
	z-index: 35;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	margin: 0 auto; 
	text-align: center;
	line-height: 8px;
	overflow: hidden;
}

.rsFullscreen.rsWithThumbsHor .rsThumbsContainer {
	position: relative;
	height: 100%;
	width: 100%;
}

.rsFullscreen .rsThumb {
	width: 8px;
	height: 8px;
	display: inline-block;
	*display:inline; 
	*zoom:1;
	margin: 6px 0;
	border-radius: 50%;	
	background: #888;
}

.rsFullscreen .rsThumb img {
	display: none;
}

.rsFullscreen .rsThumbsContainer {width: 100% !important;}

.rsFullscreen .rsArrowIcn {	
	width: 55px; height: 55px;
	background-color: #000;
	background-color: rgba(0,0,0,0.25);
		
}
.rsFullscreen .rsArrowIcn:hover {
	transition: all 0.3s ease 0s;
	background-color: rgba(0,0,0,0.5);
}

.rsFullscreen .rsFullscreenIcn {
	width: 55px; height: 55px;
	margin-left: -22px;
	background-color: #000;
	background-color: rgba(0,0,0,0.25);
}
.rsFullscreen .rsFullscreenIcn:hover {
	transition: all 0.3s ease 0s;
	background-color: rgba(0,0,0,0.5);
}

.rsFullscreen.rsHor .rsArrowLeft .rsArrowIcn { background-position: -54px -22px; margin-left: -22px;}
.rsFullscreen.rsHor .rsArrowRight .rsArrowIcn { background-position: -50px -64px; margin-left: -33px;}


.rsFullscreen .rsBullets {
	background: #343434;
}

.rsFullscreen .rsPreloader {
	width:20px;
	height:20px;
	background-image:url(../i/preloader_photo-light.gif);
	left:50%;
	top:50%;
	margin-left:-10px;
	margin-top:-10px;	
}

.rsDefault .rsGCaption .gallery__photo-author {font-size: 11px; display: block; font-style: normal; padding-top: 6px; color: #888;}
.rsDefault .rsGCaption .gallery__photo-author a {color: #888;}

.rsGCaption img {display: none;}


/*--- content slider ---*/

.contentSlider .rsDefault,
.contentSlider .rsOverflow,
.contentSlider .rsSlide,
.contentSlider .rsVideoFrameHolder,
.contentSlider .rsThumbs {
	background: #fff;

}

.contentSlider {position: relative;}

.contentSlider.rsHor .rsArrow {
	height: 21px;
	width: 21px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 2;
	top: -42px;
	right: 0px;
}

.contentSlider.rsHor .rsArrowLeft {left: auto; right: 1px;}
.contentSlider.rsHor .rsArrowRight {position: absolute;}

.extraWidth.rsHor .rsArrow {right: 3px;}
.extraWidth.rsHor .rsArrowLeft {left: auto; right: 4px;}

.contentSlider .rsArrowIcn {		
	width: 21px;
	height: 21px;
	top: 0px;
	left: 0px;
	margin-top: 0px;	
	margin-left: 0px;
	position: absolute;	
	cursor: pointer;	
	background: url('../i/icon-sprite.png');
	background-color: #666;
}

.contentSlider .rsArrowIcn:hover {
	transition: all 0.3s ease 0s;
	background-color: #f00;
}

.contentSlider.rsHor .rsArrowLeft .rsArrowIcn { background-position: 4px -76px;}
.contentSlider.rsHor .rsArrowRight .rsArrowIcn { background-position: 4px -101px; }

.contentSlider .rsArrowDisabled .rsArrowIcn { opacity: .2; filter: alpha(opacity=20);  *display: none; }


.contentSlider-small.rsHor .rsArrow {
	height: 16px;
	width: 16px;
	top: -37px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}

.biz-market .contentSlider-small.rsHor .rsArrow {top: 0; right: 1px; }
.biz-market .contentSlider-small.rsHor .rsArrow .rsArrowIcn {border: #fff 5px solid; border-left-width: 2px;}

.contentSlider-small.rsHor .rsArrowLeft {left: auto; right: 1px;}
.contentSlider-small.rsHor .rsArrowRight {position: absolute; }

.contentSlider-small .rsArrowIcn {		
	width: 16px;
	height: 16px;
	top: 0px;
	left: 0px;
	margin-top: 0px;	
	margin-left: 0px;
	position: absolute;	
	cursor: pointer;	
	background: url('../i/icon-sprite.png');
	background-color: #c5c5c5;
}

.contentSlider-small .rsArrowIcn:hover {
	transition: all 0.3s ease 0s;
	background-color: #b1b1b1;
}

.contentSlider-small.rsHor .rsArrowLeft .rsArrowIcn { background-position: -178px -23px; margin-left: -17px;}
.extraWidth.rsHor .rsArrowLeft .rsArrowIcn {margin-left: -20px}
.contentSlider-small.rsHor .rsArrowRight .rsArrowIcn { background-position: -200px -23px; }

.contentSlider-small .rsArrowDisabled .rsArrowIcn { opacity: .2; filter: alpha(opacity=20);  *display: none; }


.contentSlider {zoom: 1;}

.extraWidth {margin: 0 -3px 0 -3px;}
.extraWidth ul {width: 190px; margin: 0 3px;}


