/**** footer ******/
.cb {
	clear: both;
}

.global-footer {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 18px 8px 0;
    color: #8b8b8b;
    position: relative;
    background-color:#fff;
    clear: both;
}

.global-footer a {
    color: #8b8b8b;
    font-family: 'Arial';
    font-size: 11px;
    text-decoration: none;
    font-weight:normal;
    cursor: pointer;
}

.global-footer a:hover {
    text-decoration: underline;
}

.global-footer .magazine {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 6px;
    width: 25%;
    text-align: left;
}

.global-footer .magazine ul:last-of-type li {
    margin-bottom: 10px;
}

.global-footer .magazine .magazine-header::after {
    display: table;
    clear: both;
    content: "";
}

.global-footer .magazine .magazine-header .cats {
    float: left;
    /*width: 140px;*/
    padding-left: 8px;
    font-size: 0;
}

@media screen and (max-width: 925px) {
    .global-footer .magazine .magazine-header .cats {
        padding-left: 0;
    }
}

.global-footer .magazine .magazine-header .cats li,
.logoAodkazy .cats li {
    display: inline-block;
    font-size: 0;
    line-height: 20px;
    margin-bottom: 0;
}

.global-footer .magazine .magazine-header .cats li::after,
.logoAodkazy .cats li::after,
.global-footer .footerText li::after {
    content: "|";
    padding: 0 2px;
    font-size: 12px;
}

.global-footer .magazine ul {
    padding: 0;
	margin: 5px 0 15px;
}

.global-footer .magazine .cats {
	margin: 0;
}

.global-footer .magazine ul li {
    list-style: none;
	line-height: 15px;
}

.global-footer .magazine .magazine-header .cats li:last-of-type::after,
.logoAodkazy .cats li:last-of-type::after,
.global-footer .footerText li:last-of-type::after {
    content: "";
    padding: 0;
}

.global-footer .magazine .magazine-header .logo {
    float: left;
    display: block;
    height: 29px;
    overflow: hidden;
    text-indent: -999px;
}

.global-footer #pFunBlesk .magazine-header .cats,
.global-footer #pWikiBlesk .magazine-header .cats,
.logoAodkazy .cats,
.global-footer .footerCopyright .cats {
    padding-left: 0;
}

.global-footer #pWikiBlesk .magazine-header .special-link {
	line-height: 15px;
}

.global-footer #pWikiBlesk .magazine-header .cats,
.logoAodkazy .cats {
    width: 100%;
}

.logoAodkazy {
    width: 160px;
    color: #868686;
    font-family: 'Arial';
    font-size: 11px;
    float: right;
    font-weight: bold;
	padding-top: 100px;
}

.logoAodkazy a {
    color: #868686;
    font-family: 'Arial';
    font-size: 11px;
    font-weight:bold;
}

.logoAodkazy .cats,
.logoAodkazy img {
	float: right;
}

.tipyFooterBlesk {
    list-style: none;
}

.global-footer .footerText {
    border-top: 1px solid #C0C0C0;
    padding: 10px 0 0;
    font-size: 11px;
    color: #868686;
    font-family: 'Arial';
    font-size: 11px;
    text-decoration: none;
    font-weight: normal;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    /*height: 30px;*/
}

.global-footer .footerCopyright {
    display: inline-block;
    height: 100%;
    text-align: center;
}

.footerText .footerCopyright span,
.footerText .footerCopyright ul {
    float: left;
}

.global-footer .footerText li {
    float: left;
    display: inline-block;
}

#pBlesk .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left top transparent;
    width: 64px;
}

#pSport .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left -30px transparent;
    width: 54px;
}

#pProzeny .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left -60px transparent;
    width: 69px;
}

#pAha .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left -90px transparent;
    width: 48px;
}

#pAuto .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left -120px transparent;
    width: 71px;
}

#pReflex .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left -150px transparent;
    width: 68px;
}

#pE15 .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left -180px transparent;
    width: 71px;
}

#pZive .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left -210px transparent;
    width: 37px;
}

#pRecepty .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left -240px transparent;
    width: 60px;
}

#pDama .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left -270px transparent;
    width: 54px;
}

#pMobilMania .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left -300px transparent;
    width: 55px;
}

#pFunBlesk .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left -360px transparent;
    height: 40px;
    width: 100%;
}

#pMaminka .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left -396px transparent;
	height: 18px;
    width: 68px;
	margin-bottom: 11px;
}

#pZeny .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left -414px transparent;
    width: 62px;
	height: 25px;
	margin-bottom: 3px;
}

#pInfo .logo {
    background: url("../../images/newblesk/footer-logos-cni.jpg?v=5") no-repeat scroll left -440px transparent;
    width: 53px;
}


/*#pSleviste .logo {
    background: url("../../images/newblesk/footer-logos.jpg?v=4") no-repeat scroll left -239px transparent;
}

#pIvio .logo {
    background: url("../../images/newblesk/ivio_logo.jpg?v=7") no-repeat transparent;
    height: 29px;
}

#piVstupenky .logo {
	background: url("../../images/newblesk/footer-logos.jpg?v=4") no-repeat scroll left -339px transparent;
	height: 49px;
}*/

/*** popup autorska prava v paticce ***/

.copyrightPop {
	background: white;
	border: 1px solid #C1C1C1;
	padding: 10px;
	text-align: center;
	border-radius: 4px;
}

.copyrightPop .ui-dialog-titlebar {
	font-size: 1.3em;
	padding: 5px 0px;
	font-weight: bold;
}

.copyrightPop .ui-dialog-titlebar-close {
	display: none;
}

.copyrightPop .ui-button {
padding: 5px 10px;
margin: 10px 0 5px 0;
}

#copyrightPopup {
    background: none repeat scroll 0 0 white;
    border: 1px solid black;
    height: 380px;
    margin-left: 151px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    position: fixed;
    top: 50px;
    width: 640px;
    z-index: 1000;
}

#copyrightPopup h4 {
    color: #333333;
    font-size: 24px;
}

#copyrightPopupClose {
    background: none repeat scroll 0 0 black;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    height: 29px;
    line-height: 28px;
    margin-left: 672px;
    position: fixed;
    text-align: center;
    top: 21px;
    width: 141px;
}

#copyrightPopup p {
    color: #333333;
    font-size: 14px;
    line-height: 18px;
    margin: 6px 0;
    padding-bottom: 2px;
}

#copyrightPopup h1 {
	color: #333333;
}


/***** only Reflex ******/
.footerContainer {
	background-color: #fff;
	width: 860px;
	padding: 0 0 10px;
}


.tipyFooterBlesk {
    color: #ff0000;
    border-top: 1px solid #8b8b8b;
    padding-top: 5px;
}
.tipyFooterBlesk > .tipBlesk, .tipyFooterBlesk > a {
    color: #ff0000;
    font-weight: bold;
    font-size: 11px;
}
.global-footer .recomended {
    font-family: 'tablet_gothic_compressed','Arial Narrow';
    font-size: 22px;
    color: #bbb;
    margin-bottom: 5px;
}
#pWikiBlesk li {
    margin-top: 0;
}
