/* Horoskopova znameni serazena vedle sebe jako menu*/

.zodiac-menu__item, .zodiac-menu__item--last {
    display: block;
    float: left;
    margin: 0;
}
.zodiac-menu__item, .zodiac-menu__item--last {
    width: 80px;
}
.zodiac-menu__item, .zodiac-menu__item--last, .zodiac-menu__link {
    font-size: 12px;
}
.zodiac-menu {
    list-style-type: none;
}
.zodiac-menu__item, .zodiac-menu__item--last {
    background: url("../../images/blesk-horoskopy/zodiac-divider.png") no-repeat scroll 0 20px transparent;
    display: inline;
    margin: 0;
}
.zodiac-menu__item--last {
    background-image: none;
}
.zodiac-menu__link {
    color: #827d78;
    display: block;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
}
.zodiac-menu__link:hover, .zodiac-menu__link:focus {
    color: #7b2cea;
}
.zodiac-menu__link span {
    display: block;
    height: 60px;
    width: 80px;
}
.zodiac-menu__link.aries span {
    background: url("../../images/blesk-horoskopy/sprites/signs/signs.png") no-repeat scroll 0 0 transparent;
}
.zodiac-menu__link.aries:hover span, .zodiac-menu__link.aries:focus span {
    background-position: 0 -60px;
}
.zodiac-menu__link.taurus span {
    background: url("../../images/blesk-horoskopy/sprites/signs/signs.png") no-repeat scroll -80px 0 transparent;
}
.zodiac-menu__link.taurus:hover span, .zodiac-menu__link.taurus:focus span {
    background-position: -80px -60px;
}
.zodiac-menu__link.gemini span {
    background: url("../../images/blesk-horoskopy/sprites/signs/signs.png") no-repeat scroll -160px 0 transparent;
}
.zodiac-menu__link.gemini:hover span, .zodiac-menu__link.gemini:focus span {
    background-position: -160px -60px;
}
.zodiac-menu__link.cancer span {
    background: url("../../images/blesk-horoskopy/sprites/signs/signs.png") no-repeat scroll -240px 0 transparent;
}
.zodiac-menu__link.cancer:hover span, .zodiac-menu__link.cancer:focus span {
    background-position: -240px -60px;
}
.zodiac-menu__link.leo span {
    background: url("../../images/blesk-horoskopy/sprites/signs/signs.png") no-repeat scroll -320px 0 transparent;
}
.zodiac-menu__link.leo:hover span, .zodiac-menu__link.leo:focus span {
    background-position: -320px -60px;
}
.zodiac-menu__link.virgo span {
    background: url("../../images/blesk-horoskopy/sprites/signs/signs.png") no-repeat scroll -400px 0 transparent;
}
.zodiac-menu__link.virgo:hover span, .zodiac-menu__link.virgo:focus span {
    background-position: -400px -60px;
}
.zodiac-menu__link.libra span {
    background: url("../../images/blesk-horoskopy/sprites/signs/signs.png") no-repeat scroll -480px 0 transparent;
}
.zodiac-menu__link.libra:hover span, .zodiac-menu__link.libra:focus span {
    background-position: -480px -60px;
}
.zodiac-menu__link.scorpio span {
    background: url("../../images/blesk-horoskopy/sprites/signs/signs.png") no-repeat scroll -560px 0 transparent;
}
.zodiac-menu__link.scorpio:hover span, .zodiac-menu__link.scorpio:focus span {
    background-position: -560px -60px;
}
.zodiac-menu__link.sagittarius span {
    background: url("../../images/blesk-horoskopy/sprites/signs/signs.png") no-repeat scroll -640px 0 transparent;
}
.zodiac-menu__link.sagittarius:hover span, .zodiac-menu__link.sagittarius:focus span {
    background-position: -640px -60px;
}
.zodiac-menu__link.capricorn span {
    background: url("../../images/blesk-horoskopy/sprites/signs/signs.png") no-repeat scroll -720px 0 transparent;
}
.zodiac-menu__link.capricorn:hover span, .zodiac-menu__link.capricorn:focus span {
    background-position: -720px -60px;
}
.zodiac-menu__link.aquarius span {
    background: url("../../images/blesk-horoskopy/sprites/signs/signs.png") no-repeat scroll -800px 0 transparent;
}
.zodiac-menu__link.aquarius:hover span, .zodiac-menu__link.aquarius:focus span {
    background-position: -800px -60px;
}
.zodiac-menu__link.pisces span {
    background: url("../../images/blesk-horoskopy/sprites/signs/signs.png") no-repeat scroll -880px 0 transparent;
}
.zodiac-menu__link.pisces:hover span, .zodiac-menu__link.pisces:focus span {
    background-position: -880px -60px;
}
