.instagram_cont{
   position:relative;
   width:300px;
   height:385px;
   background-color: white;
   margin-bottom: 24px;
   border:solid 1px #c6c6c5;
   border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   
}
.instagram_cont .logo_instagram{
    background-image: url('../images/autocz/instagram/instagram_logo_85x85.png');
    position: absolute;
    width:85px;
    height: 24px;
    top: 15px;
    right: 5px;
}
.instagram_cont  .instagram_mag{
    border: solid 1px #c6c6c5;
    width: 290px;
    height: 290px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 1%;
    right: 1%;
}
.instagram_cont  .instagram_mag .emptydiv{
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}
.instagram_cont  .instagram-button{
    color:#355a88;
    font-size:18px;
    width: auto;
    position: absolute;
    bottom: 12px;
    padding-left: 5px;
    left: 0;
}
.instagram_cont  .instagram-button:after{
        
        left: 102%;
        top: 29%;
	content: " ";
	height: 10px;
	width: 8px;
	position: absolute;
	pointer-events: none;
        background-image: url('../images/autocz/instagram/instagram_arrow.png'); 
}

.instagram_cont .logo_mag{
    position:relative;
    float:left;
}
.instagram_cont .logo_mag.logo_autocz{
     background-image: url('../images/autocz/instagram/autocz_logo_kolecko_40x40.png'); 
     width:40px;
     height:40px;
     top:0px;
     left:0px;
     margin:5px;
}

.instagram_cont .logo_title{
    color:#355a88;
    font-size:15px;
    text-transform: lowercase;
    margin-top: 17px;
    position: absolute;
}
