@font-face {
    font-family: 'HelveticaNeueL';
    src: url(../font/helveticaneueltstd-mdcn-webfont.eot);
    src: url(../font/helveticaneueltstd-mdcn-webfont.eot?#iefix) format("embedded-opentype"),
    url(../font/helveticaneueltstd-mdcn-webfont.woff) format("woff"),
    url(../font/helveticaneueltstd-mdcn-webfont.ttf) format("truetype"),
    url(../font/helveticaneueltstd-mdcn-webfont.svg#helveticaneuelt_std_med_cnRg) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueL-O';
    src: url(../font/helveticaneueltstd-mdcno.eot);
    src: url(../font/helveticaneueltstd-mdcno.eot?#iefix) format("embedded-opentype"),
    url(../font/helveticaneueltstd-mdcno.woff) format("woff"),
    url(../font/helveticaneueltstd-mdcno.ttf) format("truetype"),
    url(../font/helveticaneueltstd-mdcno.svg#helveticaneuelt_std_med_cnObl) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueL-ThCn';
    src: url(../font/helveticaneueltstd-thcn.eot);
    src: url(../font/helveticaneueltstd-thcn.eot?#iefix) format("embedded-opentype"),
    url(../font/helveticaneueltstd-thcn.woff) format("woff"),
    url(../font/helveticaneueltstd-thcn.ttf) format("truetype"),
    url(../font/helveticaneueltstd-thcn.svg#helveticaneuelt_std_ThCn) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Black SemiExt';
    src: url(../font/myriadpro-black-semiext.eot);
    src: url(../font/myriadpro-black-semiext.eot?#iefix) format("embedded-opentype"),
    url(../font/myriadpro-black-semiext.woff) format("woff"),
    url(../font/myriadpro-black-semiext.ttf) format("truetype"),
    url(../font/myriadpro-black-semiext.svg#myriadPro_Black_SemiExt) format("svg");
    font-weight: 400;
    font-style: normal;
}

.header a.logo {
    background: url(../img/logo.png) center center no-repeat;
    background-size:contain;
}

body {
    font-family: "HelveticaNeueL", Courier, Arial, serif;
}

h3 {
    font-family: "HelveticaNeueL-O";
}

a.register {
    font-family: "HelveticaNeueL-O";
}

.top-users p.name {
    font: 18px HelveticaNeueL;
}

.top-users p {
    font: 14px HelveticaNeueL-ThCn;
}

.footer {
    font-family: "HelveticaNeueL-O";
}

form {
    font-family: "HelveticaNeueL-O";
}

p.fieldset {
    font-family: "HelveticaNeueL-O";
}

div.user-profile p.name {
    font-family: "HelveticaNeueL-O";
}

form.add-celebrity select.nude-type {
    font-family: "HelveticaNeueL";
}

div.page-view h1 {
    font: 27px HelveticaNeueL-O;
}

div.main.blog > span,div.main.blog h1 {
    font-family: "HelveticaNeueL-O";
}

form.add-celeb-to-movie-show span {
    font: 12px HelveticaNeueL;
}

div.main.add-celeb-to-movie-show-view h1 {
    font: 20px HelveticaNeueL-O;
}

.button {
    font-family: "HelveticaNeueL-O";
}

a.small-button {
    font-family: "Trebuchet MS";
}

ul.tabs li a {
    font-family: "HelveticaNeueL-O";
}

div.main.my-profile-favourites h4 {
    font: bold 18px HelveticaNeueL-O;
}

div.fly.celeb {
    font-family: "HelveticaNeueL";
}

div.fly.celeb2 {
    font-family: "HelveticaNeueL";
}

div.fly.search p {
    font-family: "HelveticaNeueL";
}

div.fly.fav p {
    font-family: "HelveticaNeueL";
}

div.fly.fav p a {
    font-family: "Trebuchet MS";
}

div.fly.fav a.more {
    font-family: arial;
}

div.comments.update > p {
    font-family:"HelveticaNeueL-O";
}

div.comments.update div p {
    font-family:arial;
}

.button_blog {
    font-family: "HelveticaNeueL-O";
}

div.search-result span {
    font-family: "HelveticaNeueL";
}

