@charset "utf-8";

/* ****************************************************************** 

	@This stylesheet Information {
		CSS File Name: contents.css
	}
	
****************************************************************** */
	
#container{
	border-top:solid 3px #34beed;
}
	
#contents{
	background:url(../images/contents_bg.gif) top left repeat-x #eaf8ff;
}
	
#contentsInner {
	width:900px;
	margin:0 auto;
	padding:0;
	background:#ffffff;
	display:block;
}
	
.contentsInner-upper{
	width:900px;
	margin:0 auto;
	background:url(../images/contents_h_img.gif) top left no-repeat;
	min-height:10px;
	height: auto !important;   
	height: 10px;
}
	
.contentsInner-upper p{
	padding:18px 13px;
}
	
/* header */
#header{
	width:900px;
	margin:0 auto;
	padding:10px 0 0 0;
}
	
#headerInner {
	margin: 0;
	padding:0;
}
	
#headbnr {
	width:900px;
	text-align:center;
	padding:0 0 20px 0;
	margin:32px 0 0 0;
}
	
#header .logolink{
	float:left;
	display:block;
}
	
#header h1{
	float:left;
	margin:0;
	padding:7px 0 0 10px;
	font-size:100%;
	font-weight:normal;
	display:block;
}
	
#header .niftylink{
	float:right;
	margin:0;
	padding:7px 0 0 0;
}
	
#header ol{
	float:right;
	background:url(../images/line_tate01.gif) repeat-y top right;
}
	
#header li{
	float:left;
	padding:5px 10px;
	list-style:none;
	background:url(../images/line_tate01.gif) repeat-y top left;
}
	
/* gNav */
#gNav {
	margin:5px 0 0 0;
	height: 53px;
	background: url(../images/mainmenu_bg.jpg) top left repeat-x;
}
	
#gNav ul { 
	width:904px;
	margin:0 auto;
	padding : 7px 0 0 0; 
	list-style-type : none; 
}
	
#gNav li { 
	display : inline; 
	float:left;
}
	
#gNav li a { 
	width:143px; 
	height:42px;
	margin:0 9px 0 0; 
	display:block;
}
	
#gNav #m_home a {
	background-image:url(../images/menu_01_01.jpg); 
}
#gNav #m_home a:hover { 
	background-image:url(../images/menu_02_01.jpg);
}
.home #gNav #m_home a {
	background-image:url(../images/menu_03_01.jpg); 
}
	
#gNav #m_service a {
	background-image:url(../images/menu_01_02.jpg); 
}
#gNav #m_service a:hover {
	background-image:url(../images/menu_02_02.jpg);
}
	
.service #gNav #m_service a {
	background-image:url(../images/menu_03_02.jpg); 
}
	
#gNav #m_outline a {
	background-image:url(../images/menu_01_03.jpg); 
}
#gNav #m_outline a:hover {
	background-image:url(../images/menu_02_03.jpg);
}
	
.outline #gNav #m_outline a {
	background-image:url(../images/menu_03_03.jpg); 
}
	
#gNav #m_price a {
	background-image:url(../images/menu_01_04.jpg); 
}
	
#gNav #m_price a:hover {
	background-image:url(../images/menu_02_04.jpg);
}
	
.price #gNav #m_price a {
	background-image:url(../images/menu_03_04.jpg); 
}
	
#gNav #m_apply a {
	background-image:url(../images/menu_01_05.jpg); 
}
#gNav #m_apply a:hover {
	background-image:url(../images/menu_02_05.jpg);
}
	
.apply #gNav #m_apply a {
	background-image:url(../images/menu_03_05.jpg); 
}
	
#gNav #m_login a {
	background-image:url(../images/menu_01_06.jpg); 
	margin:0;
}
#gNav #m_login a:hover {
	background-image:url(../images/menu_02_06.jpg);
	margin:0;
}
.login #gNav #m_login a {
	background-image:url(../images/menu_03_06.jpg); 
	margin:0;
}
	
/* nav-serect */
.nav-serect{
	width:900px;
	margin:0 auto;
	height:21px;
}
.home .nav-serect{
	background:url(../images/contents_arrow.gif) 50px 0px no-repeat;
}
.service .nav-serect{
	background:url(../images/contents_arrow.gif) 211px 0px no-repeat;
}
.outline .nav-serect{
	background:url(../images/contents_arrow.gif) 372px 0px no-repeat;
}
.price .nav-serect{
	background:url(../images/contents_arrow.gif) 523px 0px no-repeat;
}
.apply .nav-serect{
	background:url(../images/contents_arrow.gif) 674px 0px no-repeat;
}
.login .nav-serect{
	background:url(../images/contents_arrow.gif) 825px 0px no-repeat;
}
	
/** subContent **/
#usermenu{
	margin:15px 0;
	padding:48px 0 0 10px;
	background:url(../images/usermenu_bg.jpg) top left no-repeat;
	height:80px;
	width:190px;
}
	
#mainmenu{
	background:url(../images/sidemenu_bg.jpg) bottom left no-repeat;
	margin-top:15px;
	
	padding:0 0 6px 0;
	width:200px;
}
	
#mainmenu-upper{
	background: url(../images/contents_menu_head.jpg) top left no-repeat;
	padding:21px 0 0 0;
}
	
#subContents .applyBtn a {
	height:70px;
	width:200px;
	display:block;
}
	
#subContents .applyBtn a {
	height:70px;
	width:200px;
	display:block;
	background: url(../images/btn_apply02.gif) top left no-repeat;
}
#subContents .applyBtn a:hover{
	background: url(../images/btn_apply02_on.gif) top left no-repeat;
}
	
#mainmenu a{
	text-decoration:none;
}
	
#mainmenu a:hover{
	text-decoration: underline;
}
	
#mainmenu ol{
	margin:0;
	padding:0;
	list-style:none;
}
	
#mainmenu ol li{
	margin:0 0 0 1px;
	padding:12px 11px;
	font-weight:bold;
}
	
#mainmenu ol li .menutop{
	background:url(../images/sidemenu_ol_top_bg.jpg) top lef repeat-x;
}
	
#mainmenu ol li{
	background:url(../images/sidemenu_ol_bg.jpg) top left no-repeat;
}
	
#mainmenu ul li{
	margin:0 1px;
	padding:11px 10px 11px 39px;
	list-style:none;
	font-weight:normal;
}
	
#mainmenu ul li{
	background:url(../images/sidemenu_icon.gif) no-repeat scroll 0 3px transparent;
}
	
#mainmenu ul li.select{
x	background:url(../images/sidemenu_icon.gif) no-repeat scroll 0 3px #FFFFC3;
}
	
/* Column */
#oneColumn #mainContents{
	width:874px;
	padding:0 13px;
	float:left;
}
	
#contentsBtm{
	width:900px;
	margin:0 auto;
	padding:20px 0 16px 0;
	background:url(../images/contents_f_img.gif) bottom left no-repeat;
	clear:both;
}
	
#contentsBtm .pagetop{
	padding:0 25px 0 15px!important;
	float:right;
	background:url(../images/icon_arrow_up.gif) 0 3px no-repeat;
}
	
#naviBtm{
	margin:0;
	padding:10px;
}
	
#naviBtm .next{
	background:url("../images/btn_next.gif") no-repeat scroll right top transparent;
	background-position:100% 0;  /* for IE */
	height:18px;
	float:right;
	padding:0px 68px 0px 0 !important;
}
	
#naviBtm .pre{
	background:url("../images/btn_pre.gif") no-repeat scroll left top transparent;
	background-position:0 0;  /* for IE */
	height:18px;
	float:left;
	padding:0px 25px 0 68px !important;
}
	
#twoColumn #mainContents, #twoColumn #mainContents02 {
	float:left;
	width:660px;
}
#twoColumn #subContents {
	float:left;
	padding:0 13px;
	width:200px;
}
#threeColumn #mainContents {
	float:left;
	margin:0 10px 0 0;
	width:458px;
}
#threeColumn #subContents {
	float:left;
	margin:0 10px;
	width:200px;
}
#threeColumn #sideContents {
	float:left;
	margin:0 1px 0 0;
	width:200px;
}
#threeColumn .moushikomi {
	display:block;
	margin:20px 0;
}
#mainmenuInfoHead {
	background:url("../images/information_head.gif") no-repeat scroll left top transparent;
	padding:46px 0 0;
}
#threeColumn .module-frame-upper {
	background:url("../images/3col_bordered_upper.gif") no-repeat scroll left top transparent;
	margin:30px 0 0;
	padding:15px 15px 1px;
}
#threeColumn .module-frame-lower {
	background:url("../images/3col_bordered_lower.gif") no-repeat scroll left top transparent;
	height:10px;
	margin:0 0 10px;
}
#twoColumn .module-frame-upper {
	background:url("../images/2col_bordered_upper.gif") no-repeat scroll left top transparent;
	margin:30px 0 0;
	padding:15px 15px 5px;
}
#twoColumn .module-frame-lower {
	background:url("../images/2col_bordered_lower.gif") no-repeat scroll left top transparent;
	height:10px;
	margin:0 0 10px;
}
#oneColumn .module-frame-upper {
	background:url("../images/1col_bordered_upper.gif") no-repeat scroll left top transparent;
	margin:30px 0 0;
	padding:15px 15px 5px;
}
#oneColumn .module-frame-lower {
	background:url("../images/1col_bordered_lower.gif") no-repeat scroll left top transparent;
	height:10px;
	margin:0 0 10px;
}
#contents h1 {
	font-size:200%;
	font-weight:bold;
	margin:0 0 15px;
	padding:0;
}
#contents h2 {
	font-size:120%;
	font-weight:bold;
	line-height:2.5;
	margin:0;
	padding:0 0 0 14px;
}
#oneColumn .h2-upper {
	background:url("../images/subtitle-1col-upper.gif") no-repeat scroll left top transparent;
	margin:0 0 15px;
}
#oneColumn .h2-lower {
	background:url("../images/subtitle-1col-lower.gif") no-repeat scroll 0 bottom transparent;
}
#twoColumn .h2-upper {
	background:url("../images/subtitle-2col-upper.gif") no-repeat scroll 0 0 transparent;
	margin:0 0 15px;
}
#twoColumn .h2-upper02 {
	background:url("../images/subtitle-2col-upper02.gif") no-repeat scroll 0 0 transparent;
	margin:0 -12px 15px;
}
#twoColumn .h2-lower {
	background:url("../images/subtitle-2col-lower.gif") no-repeat scroll 0 100% transparent;
}
#twoColumn .h2-lower02 {
	background:url("../images/subtitle-2col-lower03.gif") no-repeat scroll 0 100% transparent;
}
#mainContents .module {
	margin:0 12px 30px;
}
#mainContents .module h3 {
	clear:both;
	font-size:120%;
	font-weight:bold;
	margin:15px -12px;
	padding:7px 0 10px 14px;
}
#oneColumn .module h3 {
	background:url("../images/subtitle-1col-lower02.gif") no-repeat scroll 0 bottom transparent;
}
#twoColumn .module h3 {
	background:url("../images/subtitle-2col-lower02.gif") no-repeat scroll right bottom transparent;
}
#mainContents h4 {
	background:none repeat scroll 0 0 #E5F6FF;
	clear:both;
	font-size:120%;
	font-weight:bold;
	height:auto !important;
	margin:0 -12px 10px;
	min-height:21px;
	padding:5px 0 0 38px;
}
#mainContents h4 img, #mainContents h3 img {
	position:relative;
}
#contents .titleNum0 {
	padding:5px 0 0 10px;
}
#contents .titleNum1 {
	background:url("../images/h3_bg_no1.gif") no-repeat scroll left top #E5F6FF;
}
#contents .titleNum2 {
	background:url("../images/h3_bg_no2.gif") no-repeat scroll left top #E5F6FF;
}
#contents .titleNum3 {
	background:url("../images/h3_bg_no3.gif") no-repeat scroll left top #E5F6FF;
}
#contents .titleNum4 {
	background:url("../images/h3_bg_no4.gif") no-repeat scroll left top #E5F6FF;
}
#contents .titleNum5 {
	background:url("../images/h3_bg_no5.gif") no-repeat scroll left top #E5F6FF;
}

#mainContents .module-border {
	border:1px solid #CCCCCC;
	margin-bottom:10px;
	padding:10px;
}
#mainContents02 .module-border {
	border:1px solid #CCCCCC;
	margin:0 10px 10px;
	padding:5px;
}
#mainContents02 .module-border02 {
	border:1px solid #CCCCCC;
	margin:0 10px 10px;
	padding:10px 10px 0;
}
#mainContents h5 {
	font-size:120%;
	font-weight:bold;
	margin-bottom:5px;
}
	h6 {
	font-size:100%;
	font-weight:bold;
}
#mainContents p {
	margin-bottom:1em;
}
#mainContents p.lead {
	margin:0 12px 10px;
}
#contentsBtm .btnArea {
	clear:both;
	margin:20px 0 0;
	text-align:center;
}
.img_w10 {
	margin:0 10px;
}
.icon {
	vertical-align:middle;
}
.icon-win {
	vertical-align:baseline;
}
#mainContents .img-center {
	margin:10px 0;
	text-align:center;
}
#mainContents .img-title {
	margin:10px 0 20px;
}
#mainContents p.img-arrow {
	background:url("../images/arrow_down.gif") no-repeat scroll center top transparent;
	height:21px;
	margin-bottom:10px;
}
#mainContents02 p.img-arrow {
	background:url("../images/arrow_down.gif") no-repeat scroll center top transparent;
	height:21px;
}
#twoColumn .module-frame-upper img, #mainContents .module-relative img {
	margin-right:15px;
	vertical-align:middle;
}
#contents .module-color, #mainContents02 .module-color {
	background:none repeat scroll 0 0 #FFFFEB;
	border:1px solid #F4F395;
	clear:both;
	margin:10px 0;
	padding:10px 20px;
}
#mainContents .module-color p.list {
	margin:1em 0 0 1em;
	text-align:left;
	text-indent:-1.3em;
}
#mainContents .module-point {
	background:none repeat scroll 0 0 #FFFFEB;
	border-bottom:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	margin:10px 0;
	padding:10px;
}
#mainContents .font-type01 {
	color:#0390BB;
	font-size:120%;
	font-weight:bold;
}
#mainContents pre.setting {
	border:1px solid #BEBEBE;
	margin:0 0 10px;
	padding:10px;
}
#mainContents .indent {
	padding-left:1em;
	text-indent:-1em;
}
#mainContents ul.indent {
	margin:0;
	padding-left:2em;
}
#mainContents ul.indent li {
	list-style-type:none;
	text-indent:-1em;
}
#mainContents ul.indent02 li {
	list-style-type:none;
	text-indent:1em;
}
#mainContents ul.index {
	padding:0 0 0 30px;
}
#oneColumn #mainContents ul.index {
	padding:0 50px 0 30px;
}
#mainContents ul.index li {
	line-height:150%;
	list-style:disc outside none;
	margin:10px 0 0 50px;
}
#mainContents ul.index li.heading {
	list-style:circle outside none;
	margin:30px 0 0 10px;
}
#mainContents ul.index li.sub {
	list-style:none outside none;
	margin:7px 0 0 80px;
}
#mainContents .module ul.column {
	float:left;
	width:250px;
}
#mainContents .module-webapps ul {
	overflow:hidden;
}
#mainContents .module-webapps li {
	border-top:1px solid #DBDBDB;
	overflow:hidden;
	padding:10px 0;
}
#mainContents .module-webapps li p {
	float:left;
	padding:0 15px 0 0;
}
#mainContents .module-webapps p.img {
	text-align:center;
	width:100px;
}
#mainContents .module-webapps p.name {
	font-weight:bold;
	width:140px;
}
#mainContents .module-webapps p.detail {
	width:350px;
}
#mainContents .module dl.price {
	margin:0;
	padding-left:80px;
}
#mainContents .module dl.price dt {
	float:left;
	text-align:right;
	width:15em;
}
#mainContents .module dl.price dd {
	margin:0 0 10px 16.5em;
	text-align:left;
}
#mainContents .module dl.domain dd {
	margin:3px 0 15px 15px;
}
#mainContents .module dl.htaccess {
	margin:0;
}
#mainContents .module dl.htaccess dt {
	float:left;
	text-align:right;
	width:6em;
}
#mainContents .module dl.htaccess dd {
	margin:0 0 10px 7em;
	text-align:left;
}
#mainContents .search-help {
	background:url("../images/search_bg.gif") no-repeat scroll center top transparent;
	clear:both;
	height:62px;
	margin:50px auto 0;
	overflow:hidden;
	padding:41px 0 0;
	text-align:center;
	width:636px;
}
#mainContents .search-help input {
	float:left;
}
#mainContents .textbox {
	margin:2px 12px 0 50px;
	padding:7px 5px;
	width:450px;
}
#mainContents .module .question {
	color:#008CBB;
	font-weight:bold;
}
#mainContents .module .answer {
	margin:0 0 30px 20px;
	padding:0 15px;
}
#mainContents .module .answer p {
	padding-left:12px;
}
#mainContents .module .answer2 {
	margin:0 0 30px 0px;
}
#mainContents iframe {
	height:500px;
	width:849px;
}
#mainContents textarea {
	margin:0 10px 15px;
	width:580px;
}
#contents ul.ftp {
	margin:0 0 15px 15px;
}
#contents ul.ftp li.ftp-top {
	background:url("../images/folder_home.gif") no-repeat scroll 0 50% transparent;
	display:block;
	font-weight:bold;
	margin:0 0 0 20px;
	padding:10px 0 10px 30px;
}
#contents ul.ftp li {
	background:url("../images/folder_sub.gif") no-repeat scroll 0 50% transparent;
	font-weight:bold;
	margin:0 0 0 60px;
	padding:5px 0 0 35px;
}
#contents ul.ftp li.sub {
	color:#FF0000;
	margin:0 0 0 100px;
}
#contents ul.ftp02 {
	margin:0 0 15px 15px;
}
#contents ul.ftp02 li.ftp-top {
	background:url("../images/square01.gif") no-repeat scroll 0 50% transparent;
	display:block;
	margin:0 0 0 20px;
	padding:10px 0 10px 15px;
}
#contents ul.ftp02 li {
	background:url("../images/square02.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 42px;
	padding:5px 0 0 15px;
}
#contents ul.ftp02 li.last {
	background:url("../images/square07.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 42px;
	padding:5px 0 0 15px;
}
#contents ul.ftp02 li.sub {
	background:url("../images/square12.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 64px;
	padding:5px 0 0 15px;
}
#contents ul.ftp02 li.sub02 {
	background:url("../images/square03.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 64px;
	padding:5px 0 0 15px;
}
#contents ul.ftp02 li.sub03 {
	background:url("../images/square04.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 86px;
	padding:5px 0 0 15px;
}
#contents ul.ftp02 li.sub04 {
	background:url("../images/square14.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 86px;
	padding:5px 0 0 15px;
}
#contents ul.ftp02 li.sub05 {
	background:url("../images/square05.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 110px;
	padding:5px 0 0 15px;
}
#contents ul.ftp02 li.sub06 {
	background:url("../images/square13.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 110px;
	padding:5px 0 0 15px;
}
#mainContents ul.list01 {
	margin:0 5px 15px 6px;
}
#mainContents ul.list01 li {
	background:url("../images/list_img.gif") no-repeat scroll left 6px transparent;
	line-height:2;
	list-style:none outside none;
	padding:0 0 0 18px;
}
#mainContents ul.list01 li.plan {
	margin-bottom:10px;
}
#mainContents ul.list04 {
	text-align:left;
}
#mainContents #mainContents2 ul.list04 li {
	background:url("../images/icon_arrow01.gif") no-repeat scroll left 6px transparent;
	line-height:2;
	list-style:none outside none;
	padding:0 0 0 18px;
}
#mainContents .answer .list04 {
	padding-bottom:10px;
	padding-left:15px;
}
#mainContents ul.list03 li {
	line-height:2;
	list-style:disc outside none;
	margin:0 12px;
}
#mainContents .module .pagetop {
	background:url("../images/icon_arrow_up.gif") no-repeat scroll 0 3px transparent;
	float:right;
	margin:0;
	padding:0 0 0 15px;
}
#mainContents ol li {
	list-style-position:inside;
	padding:0;
}
#mainContents pre.clip {
	border:1px dotted #34BEED;
	margin:5px 5px 5px 15px;
	overflow:scroll;
	width:90%;
	word-wrap:break-word;
}
#mainContents .icon-next {
	background:url("../images/icon_arrow_next.gif") no-repeat scroll 0 2px transparent;
	font-weight:bold;
	margin:10px 0;
	padding:0 0 0 16px;
}
#mainContents .footNav .next, #mainContents .footNav .back {
	float:left;
	margin:10px 0;
	padding:0;
	width:50%;
}
#mainContents .footNav .next p {
	float:left;
	margin:0;
	padding:0;
}
#mainContents .footNav .back p {
	float:right;
	margin:0;
	padding:0;
}
#mainContents .footNav .next span, #mainContents .footNav .back span {
	margin:5px 0;
	padding:0 10px;
	white-space:nowrap;
}
#mainContents02 p {
	line-height:160%;
	margin:0;
	padding:5px 12px;
}
#oneColumn #mainContents02 .h3short {
	background:url("../images/h3_bg_1col.gif") no-repeat scroll left top transparent;
	font-size:120%;
	font-weight:bold;
	height:34px;
	margin:10px 0;
	padding:8px 0 0 14px;
}
#twoColumn #mainContents02 .h3short {
	background:url("../images/h3_bg_2col.gif") no-repeat scroll left top transparent;
	font-size:120%;
	font-weight:bold;
	height:34px;
	margin:10px 0;
	padding:8px 0 0 14px;
}
#mainContents02 .h2short {
	clear:both;
	font-size:120%;
	font-weight:bold;
	margin:15px 0;
	padding:7px 0 0 14px;
}
#oneColumn #mainContents02 .h2short {
	background:url("../images/subtitle-1col-lower02.gif") no-repeat scroll 0 bottom transparent;
}
#twoColumn #mainContents02 .h2short {
	background:url("../images/subtitle-2col-lower02.gif") no-repeat scroll right bottom transparent;
}
#mainContents02 ul.list01 {
	margin-bottom:15px;
}
#mainContents02 ul.list01 li {
	background:url("../images/list_img.gif") no-repeat scroll left 6px transparent;
	line-height:2;
	list-style:none outside none;
	margin-left:12px;
	padding:0 0 0 18px;
}
#mainContents02 p.list01 {
	background:url("../images/list_img.gif") no-repeat scroll left 6px transparent;
	line-height:2;
	margin-left:12px;
	padding:0 0 0 18px;
}
#mainContents02 .image-border {
	margin:0 0 10px;
	text-align:center;
}
#mainContents02 .image-border img {
	border:1px solid #CCCCCC;
}
#twoColumn #mainContents02 .h3short {
	background:none repeat scroll 0 0 #E5F6FF;
	clear:both;
	font-size:120%;
	font-weight:bold;
	height:auto !important;
	margin:0 0 10px;
	min-height:21px;
	padding:5px 0 0 10px;
}
#mainContents02 h4 {
	color:#008CBB;
	font-size:120%;
	font-weight:bold;
	margin-bottom:5px;
	padding:5px 0 0 10px;
}
#mainContents02 table {
	margin:10px 0 20px;
}
#mainContents02 .table-kanri01 {
	border-bottom:1px solid #000000;
	border-top:2px solid #000000;
}
#mainContents02 .table-kanri01 th {
	border-bottom:1px solid #000000;
	font-weight:normal;
	padding-left:5px;
}
#mainContents02 .table-kanri01 td {
	border-bottom:1px solid #000000;
	padding-right:5px;
}
#mainContents02 hr.separate {
	border-style:dotted none none;
	border-top:2px dotted #008CBB;
	display:block;
	height:2px;
	margin:30px 0 20px;
	width:100%;
}
#mainContents02 p.pagetop {
	background:url("../images/icon_arrow_up.gif") no-repeat scroll 0 3px transparent;
	float:right;
	margin:0;
	padding:0 10px 10px 15px;
}
#mainContents02 img.process {
	margin:0 0 10px 130px;
}
#mainContents02 .image {
	margin:10px 0;
	text-align:center;
}
#mainContents02 .image-link a {
	background-color:#008CBB;
	display:block;
	margin:0 auto;
	padding:1px;
	width:400px;
}
#mainContents02 .image-link a:hover {
	background-color:#00AFEA;
}
#mainContents02 ol.mypageDesignList {
	padding-left:11px;
	width:560px;
}
#mainContents02 ol.mypageDesignList li {
	float:left;
	padding:0 9px 0 0;
}
#mainContents02 ol.mypageDesignList li a {
	background-color:#008CBB;
	display:block;
	padding:1px;
}
#mainContents02 ol.mypageDesignList li a:hover {
	background-color:#00AFEA;
}
#mainContents02 ol.mypageDesignList p {
	margin-left:0 !important;
	padding-top:3px;
}
#mainContents02 h3 {
	background:none repeat scroll 0 0 #E5F6FF;
	clear:both;
	font-size:120%;
	font-weight:bold;
	height:auto !important;
	margin:0 0 10px;
	min-height:21px;
	padding:5px 0 0 38px;
}
#mainContents02 img.arrowDown {
	clear:both;
	margin:10px 0 10px 280px;
}
#mainContents02 .e_text_box {
	background-color:#EDEDED;
	float:right;
	width:280px;
}
#mainContents02 .e_img_box {
	float:left;
	margin-left:15px;
	width:300px;
}
#mainContents02 .e_tree_box {
	float:left;
	width:300px;
}
#mainContents02 .e_info_box {
	background:url("../images/ic_info.gif") no-repeat scroll 1px 3px transparent;
	border:1px solid #EDEDED;
	float:right;
	margin-top:10px;
	width:278px;
}
#mainContents02 .e_info_box_text {
	margin-left:30px;
}
#mainContents02 .next_step {
	background:url("../images/icon_arrow01.gif") no-repeat scroll right center transparent;
	float:right;
	padding:5px 18px 6px 0;
}
#mainContents02 .prev_step {
	background:url("../images/icon_arrow02.gif") no-repeat scroll left center transparent;
	float:left;
	padding:5px 0 6px 18px;
}
#mainContents02 p.arrow {
	background:url("../images/icon_arrow01.gif") no-repeat scroll left center transparent;
	margin:0 0 20px 12px;
	padding:0 0 0 15px;
}
#mainContents02 p.source {
	background-color:#F0FAFF;
	border:1px solid #85D8F3;
	color:#406586;
	margin:0 12px 10px;
	padding:10px;
}
#mainContents02 p.source span {
	color:#CB3301;
	font-weight:bold;
}
#mainContents02 p.source .redTxt {
	color:#FF0000;
}
#mainContents02 p.source .blueTxt {
	color:#0000FF;
}
	body#design {
	background:none repeat scroll 0 0 #FFFFFF;
	color:#333333;
	font-family:'??q??????M??m??p??S Pro W3','Hiragino Kaku Gothic Pro','??l??r ??o??S??V??b??N','MS PGothic',sans-serif;
	font-size:100.01%;
	line-height:1.5;
	margin:0;
	padding:0 0 20px;
	text-align:center;
}
#contentsDesign {
	margin-bottom:20px;
}
	p#BtnClose {
	margin:0 auto 20px !important;
	text-align:center;
	width:190px;
}
	p#BtnClose a {
	background:url("../images/btn_close.gif") no-repeat scroll left top transparent;
	display:block;
	height:36px;
	text-decoration:none;
	text-indent:-9999px;
	width:190px;
}
	p#BtnClose a:hover {
	background:url("../images/btn_close_on.gif") no-repeat scroll left top transparent;
	display:block;
	height:36px;
	width:190px;
}
#mainContents table {
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	margin:0 0 10px;
	text-align:center;
	width:100%;
}
#mainContents table th {
	border:1px solid #CCCCCC;
	font-weight:bold;
	padding:10px;
}
#mainContents table td {
	border:1px solid #CCCCCC;
	padding:10px;
}
.bg1 {
	background:none repeat scroll 0 0 #F0F2F3;
}
.bg2 {
	background:none repeat scroll 0 0 #FFFFD0;
}
.bg3 {
	background:none repeat scroll 0 0 #FFFEA8;
}
.nodisp {
	display:none;
}
#footer {
	background:none repeat scroll 0 0 #EAF8FF;
	margin:0 auto;
	padding:13px 0 30px;
	width:900px;
}
#footerInner {
	background:url("../images/foot_h_img.gif") no-repeat scroll left top #FFFFFF;
	padding:14px 0 0;
}
#footerForm {
	background-color:#EEEEEE;
	border:1px solid #CCCCCC;
	margin:0 10px;
	padding:15px 0;
	text-align:center;
}
#footerForm form {
	display:inline;
}
#footerForm .textbox {
	background:none repeat scroll 0 0 #FFFFFF;
	color:#000000;
	line-height:normal;
	padding:2px 2px 0 !important;
	vertical-align:middle;
	width:340px;
}
#categolyLink {
	clear:both;
	margin:0;
	padding:15px 0 0;
}
#serviceLink {
	clear:both;
	margin:0;
	padding:5px 0 10px;
}
#categolyLink dl, #serviceLink dl {
	border:medium none;
	float:none;
	margin:0;
	padding:0;
	text-align:center;
	width:auto;
}
#categolyLink dt, #serviceLink dt {
	display:inline;
	float:none;
	font-weight:bold;
	margin:0;
	padding:0 3px;
	width:auto;
}
#categolyLink dd {
	display:inline;
	float:none;
	margin:0;
	padding:0 0 3px;
	width:auto;
}
#serviceLink dd {
	display:inline;
	float:none;
	margin:0;
	padding:0;
	width:auto;
}
#categolyLink ul, #serviceLink ul {
	display:inline;
	margin:0;
	padding:0;
}
#categolyLink li {
	border-right:1px solid #7D7D7D;
	display:inline;
	line-height:1.2;
	margin:0;
	padding:0 5px;
	white-space:nowrap;
}
#serviceLink li {
	display:inline;
	margin:0;
	padding:0 5px;
	white-space:nowrap;
}
#footText {
	background:url("../images/foot_f_img.gif") no-repeat scroll left bottom transparent;
	margin:0;
	padding:10px;
}
#footText .niftylink {
	float:left;
	margin:0;
	padding:8px 0 0 10px;
	text-align:left;
	width:45%;
}
#footText .copy {
	float:right;
	font-style:normal;
	line-height:140%;
	text-align:right;
	width:50%;
}
	html {
	overflow-y:scroll;
}
	body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, table, th, td, em {
	font-size:100%;
	font-style:normal;
	line-height:1.5;
	margin:0;
	padding:0;
}
	body {
	color:#333333;
	font-family:'MS PGothic',Verdana,Arial,'qMmpS Pro W3','Hiragino Kaku Gothic Pro',Osaka,sans-serif;
	text-align:center;
}
	* html body {
	padding-left:1px;
}
	* + html body {
	padding-left:1px;
}
	h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	line-height:1.2;
}
	table {
	border-collapse:collapse;
	border-spacing:0;
}
	fieldset, img {
	border:0 none;
}
	img {
	border:0 none;
	vertical-align:top;
}
	hr {
	display:none;
}
	em, em a {
	font-weight:bold;
}
	address {
	font-style:normal;
}
	ul, ol {
	list-style:none outside none;
}
.pkg:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
.pkg {
	display:inline-block;
}
	* html .pkg {
	height:1%;
}
.pkg {
	display:block;
}
	body {
	font-size:12px;
	margin:0;
	padding:0;
	text-align:left;
}
	a {
	color:#3774BB;
	text-decoration:underline;
}
	a:hover {
	color:#3774BB;
	text-decoration:none;
}
.font-s {
	font-size:100%;
}
.font-m {
	font-size:120%;
}
.font-l {
	font-size:140%;
}
.font-ll {
	font-size:170%;
}
	em {
	font-style:normal;
	font-weight:bold;
}
.center {
	text-align:center;
}
.redTxt {
	color:#FF0000;
}
.blueTxt {
	color:#0000FF;
}
.even-row {
	background:none repeat scroll 0 0 #666666;
}
.pkg:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
.pkg {
	display:inline-block;
}
	* html .pkg {
	height:1%;
}
.pkg {
	display:block;
}
.clear {
	clear:both;
}
.module:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	line-height:0;
	visibility:hidden;
}
	
#container {
	border-top:3px solid #34BEED;
}
#contents {
	background:url("../images/contents_bg.gif") repeat-x scroll left top #EAF8FF;
}
#contentsInner {
	background:none repeat scroll 0 0 #FFFFFF;
	display:block;
	margin:0 auto;
	padding:0;
	width:900px;
}
.contentsInner-upper {
	background:url("../images/contents_h_img.gif") no-repeat scroll left top transparent;
	height:auto !important;
	margin:0 auto;
	min-height:10px;
	width:900px;
}
.contentsInner-upper p {
	padding:18px 13px;
}
#header {
	margin:0 auto;
	padding:10px 0 0;
	width:900px;
}
#headerInner {
	margin:0;
	padding:0;
}
#headbnr {
	margin:32px 0 0;
	padding:0 0 20px;
	text-align:center;
	width:900px;
}
#header .logolink {
	display:block;
	float:left;
}
#header h1 {
	display:block;
	float:left;
	font-size:100%;
	font-weight:normal;
	margin:0;
	padding:7px 0 0 10px;
}
#header .niftylink {
	float:right;
	margin:0;
	padding:7px 0 0;
}
#header ol {
	background:url("../images/line_tate01.gif") repeat-y scroll right top transparent;
	float:right;
}
#header li {
	background:url("../images/line_tate01.gif") repeat-y scroll left top transparent;
	float:left;
	list-style:none outside none;
	padding:5px 10px;
}
#gNav {
	background:url("../images/mainmenu_bg.jpg") repeat-x scroll left top transparent;
	height:53px;
	margin:5px 0 0;
}
#gNav ul {
	list-style-type:none;
	margin:0 auto;
	padding:7px 0 0;
	width:904px;
}
#gNav li {
	display:inline;
	float:left;
}
#gNav li a {
	display:block;
	height:42px;
	margin:0 9px 0 0;
	width:143px;
}
#gNav #m_home a {
	background-image:url("../images/menu_01_01.jpg");
}
#gNav #m_home a:hover {
	background-image:url("../images/menu_02_01.jpg");
}
.home #gNav #m_home a {
	background-image:url("../images/menu_03_01.jpg");
}
#gNav #m_service a {
	background-image:url("../images/menu_01_02.jpg");
}
#gNav #m_service a:hover {
	background-image:url("../images/menu_02_02.jpg");
}
.service #gNav #m_service a {
	background-image:url("../images/menu_03_02.jpg");
}
#gNav #m_outline a {
	background-image:url("../images/menu_01_03.jpg");
}
#gNav #m_outline a:hover {
	background-image:url("../images/menu_02_03.jpg");
}
.outline #gNav #m_outline a {
	background-image:url("../images/menu_03_03.jpg");
}
#gNav #m_price a {
	background-image:url("../images/menu_01_04.jpg");
}
#gNav #m_price a:hover {
	background-image:url("../images/menu_02_04.jpg");
}
.price #gNav #m_price a {
	background-image:url("../images/menu_03_04.jpg");
}
#gNav #m_apply a {
	background-image:url("../images/menu_01_05.jpg");
}
#gNav #m_apply a:hover {
	background-image:url("../images/menu_02_05.jpg");
}
.apply #gNav #m_apply a {
	background-image:url("../images/menu_03_05.jpg");
}
#gNav #m_login a {
	background-image:url("../images/menu_01_06.jpg");
	margin:0;
}
#gNav #m_login a:hover {
	background-image:url("../images/menu_02_06.jpg");
	margin:0;
}
.login #gNav #m_login a {
	background-image:url("../images/menu_03_06.jpg");
	margin:0;
}
.nav-serect {
	height:21px;
	margin:0 auto;
	width:900px;
}
.home .nav-serect {
	background:url("../images/contents_arrow.gif") no-repeat scroll 50px 0 transparent;
}
.service .nav-serect {
	background:url("../images/contents_arrow.gif") no-repeat scroll 211px 0 transparent;
}
.outline .nav-serect {
	background:url("../images/contents_arrow.gif") no-repeat scroll 372px 0 transparent;
}
.price .nav-serect {
	background:url("../images/contents_arrow.gif") no-repeat scroll 523px 0 transparent;
}
.apply .nav-serect {
	background:url("../images/contents_arrow.gif") no-repeat scroll 674px 0 transparent;
}
.login .nav-serect {
	background:url("../images/contents_arrow.gif") no-repeat scroll 825px 0 transparent;
}
#usermenu {
	background:url("../images/usermenu_bg.jpg") no-repeat scroll left top transparent;
	height:80px;
	margin:15px 0;
	padding:48px 0 0 10px;
	width:190px;
}
#mainmenu {
	background:url("../images/sidemenu_bg.jpg") no-repeat scroll left bottom transparent;
	margin-top:15px;
	padding:0 0 6px;
	width:200px;
}
#mainmenu-upper {
	background:url("../images/contents_menu_head.jpg") no-repeat scroll left top transparent;
	padding:21px 0 0;
}
#subContents .applyBtn a {
	display:block;
	height:70px;
	width:200px;
}
#subContents .applyBtn a {
	background:url("../images/btn_apply02.gif") no-repeat scroll left top transparent;
	display:block;
	height:70px;
	width:200px;
}
#subContents .applyBtn a:hover {
	background:url("../images/btn_apply02_on.gif") no-repeat scroll left top transparent;
}
#mainmenu a {
	text-decoration:none;
}
#mainmenu a:hover {
	text-decoration:underline;
}
#mainmenu ol {
	list-style:none outside none;
	margin:0;
	padding:0;
}
#mainmenu ol li {
	font-weight:bold;
	margin:0 0 0 1px;
	padding:12px 11px;
}
#mainmenu ol li .menutop {
}
#mainmenu ol li {
	background:url("../images/sidemenu_ol_bg.jpg") no-repeat scroll left top transparent;
}
#mainmenu ul li {
	font-weight:normal;
	list-style:none outside none;
	margin:0 1px;
	padding:11px 10px 11px 39px;
}
#mainmenu ul li {
	background:url("../images/sidemenu_icon.gif") no-repeat scroll 0 3px transparent;
}
#mainmenu ul li.select {
x	background:url("../images/sidemenu_icon.gif") no-repeat scroll 0 3px #FFFFC3;
}
#oneColumn #mainContents {
	float:left;
	padding:0 13px;
	width:874px;
}
#contentsBtm {
	background:url("../images/contents_f_img.gif") no-repeat scroll left bottom transparent;
	clear:both;
	margin:0 auto;
	padding:20px 0 16px;
	width:900px;
}
#contentsBtm .pagetop {
	background:url("../images/icon_arrow_up.gif") no-repeat scroll 0 3px transparent;
	float:right;
	padding:0 25px 0 15px !important;
}
#twoColumn #mainContents, #twoColumn #mainContents02 {
	float:left;
	width:660px;
}
#twoColumn #subContents {
	float:left;
	padding:0 13px;
	width:200px;
}
#threeColumn #mainContents {
	float:left;
	margin:0 10px 0 0;
	width:458px;
}
#threeColumn #subContents {
	float:left;
	margin:0 10px;
	width:200px;
}
#threeColumn #sideContents {
	float:left;
	margin:0 1px 0 0;
	width:200px;
}
#threeColumn .moushikomi {
	display:block;
	margin:20px 0;
}
#mainmenuInfoHead {
	background:url("../images/information_head.gif") no-repeat scroll left top transparent;
	padding:46px 0 0;
}
#threeColumn .module-frame-upper {
	background:url("../images/3col_bordered_upper.gif") no-repeat scroll left top transparent;
	margin:30px 0 0;
	padding:15px 15px 1px;
}
#threeColumn .module-frame-lower {
	background:url("../images/3col_bordered_lower.gif") no-repeat scroll left top transparent;
	height:10px;
	margin:0 0 10px;
}
#twoColumn .module-frame-upper {
	background:url("../images/2col_bordered_upper.gif") no-repeat scroll left top transparent;
	margin:30px 0 0;
	padding:15px 15px 5px;
}
#twoColumn .module-frame-lower {
	background:url("../images/2col_bordered_lower.gif") no-repeat scroll left top transparent;
	height:10px;
	margin:0 0 10px;
}
#oneColumn .module-frame-upper {
	background:url("../images/1col_bordered_upper.gif") no-repeat scroll left top transparent;
	margin:30px 0 0;
	padding:15px 15px 5px;
}
#oneColumn .module-frame-lower {
	background:url("../images/1col_bordered_lower.gif") no-repeat scroll left top transparent;
	height:10px;
	margin:0 0 10px;
}
#contents h1 {
	font-size:200%;
	font-weight:bold;
	margin:0 0 15px;
	padding:0;
}
#contents h2 {
	font-size:120%;
	font-weight:bold;
	line-height:2.5;
	margin:0;
	padding:0 0 0 14px;
}
#oneColumn .h2-upper {
	background:url("../images/subtitle-1col-upper.gif") no-repeat scroll left top transparent;
	margin:0 0 15px;
}
#oneColumn .h2-lower {
	background:url("../images/subtitle-1col-lower.gif") no-repeat scroll 0 bottom transparent;
}
#twoColumn .h2-upper {
	background:url("../images/subtitle-2col-upper.gif") no-repeat scroll 0 0 transparent;
	margin:0 0 15px;
}
#twoColumn .h2-upper02 {
	background:url("../images/subtitle-2col-upper02.gif") no-repeat scroll 0 0 transparent;
	margin:0 -12px 15px;
}
#twoColumn .h2-lower {
	background:url("../images/subtitle-2col-lower.gif") no-repeat scroll 0 100% transparent;
}
#twoColumn .h2-lower02 {
	background:url("../images/subtitle-2col-lower03.gif") no-repeat scroll 0 100% transparent;
}
#mainContents .module {
	margin:0 12px 30px;
}
#mainContents .module h3 {
	clear:both;
	font-size:120%;
	font-weight:bold;
	margin:15px -12px;
	padding:7px 0 10px 14px;
}
#oneColumn .module h3 {
	background:url("../images/subtitle-1col-lower02.gif") no-repeat scroll 0 bottom transparent;
}
#twoColumn .module h3 {
	background:url("../images/subtitle-2col-lower02.gif") no-repeat scroll right bottom transparent;
}
#mainContents h4 {
	background:none repeat scroll 0 0 #E5F6FF;
	clear:both;
	font-size:120%;
	font-weight:bold;
	height:auto !important;
	margin:0 -12px 10px;
	min-height:21px;
	padding:5px 0 0 38px;
}
#mainContents h4 img, #mainContents h3 img {
	position:relative;
}
#contents .titleNum0 {
	padding:5px 0 0 10px;
}
#contents .titleNum1 {
	background:url("../images/h3_bg_no1.gif") no-repeat scroll left top #E5F6FF;
}
#contents .titleNum2 {
	background:url("../images/h3_bg_no2.gif") no-repeat scroll left top #E5F6FF;
}
#contents .titleNum3 {
	background:url("../images/h3_bg_no3.gif") no-repeat scroll left top #E5F6FF;
}
#contents .titleNum4 {
	background:url("../images/h3_bg_no4.gif") no-repeat scroll left top #E5F6FF;
}
#contents .titleNum5 {
	background:url("../images/h3_bg_no5.gif") no-repeat scroll left top #E5F6FF;
}
#contents .titleNum6 {
	background:url("../images/h3_bg_no6.gif") no-repeat scroll left top #E5F6FF;
}
#mainContents .module-border {
	border:1px solid #CCCCCC;
	margin-bottom:10px;
	padding:10px;
}
#mainContents02 .module-border {
	border:1px solid #CCCCCC;
	margin:0 10px 10px;
	padding:5px;
}
#mainContents02 .module-border02 {
	border:1px solid #CCCCCC;
	margin:0 10px 10px;
	padding:10px 10px 0;
}
#mainContents h5 {
	font-size:120%;
	font-weight:bold;
	margin-bottom:5px;
}
	h6 {
	font-size:100%;
	font-weight:bold;
}
#mainContents p {
	margin-bottom:1em;
}
#mainContents p.lead {
	margin:0 12px 10px;
}
#contentsBtm .btnArea {
	clear:both;
	margin:20px 0 0;
	text-align:center;
}
.img_w10 {
	margin:0 10px;
}
.icon {
	vertical-align:middle;
}
.icon-win {
	vertical-align:baseline;
}
#mainContents .img-center {
	margin:10px 0;
	text-align:center;
}
#mainContents .img-title {
	margin:10px 0 20px;
}
#mainContents p.img-arrow {
	background:url("../images/arrow_down.gif") no-repeat scroll center top transparent;
	height:21px;
	margin-bottom:10px;
}
#mainContents02 p.img-arrow {
	background:url("../images/arrow_down.gif") no-repeat scroll center top transparent;
	height:21px;
}
#twoColumn .module-frame-upper img, #mainContents .module-relative img {
	margin-right:15px;
	vertical-align:middle;
}
#contents .module-color, #mainContents02 .module-color {
	background:none repeat scroll 0 0 #FFFFEB;
	border:1px solid #F4F395;
	clear:both;
	margin:10px 0;
	padding:10px 20px;
}
#mainContents .module-color p.list {
	margin:1em 0 0 1em;
	text-align:left;
	text-indent:-1.3em;
}
#mainContents .module-point {
	background:none repeat scroll 0 0 #FFFFEB;
	border-bottom:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	margin:10px 0;
	padding:10px;
}
#mainContents .font-type01 {
	color:#0390BB;
	font-size:120%;
	font-weight:bold;
}
#mainContents pre.setting {
	border:1px solid #BEBEBE;
	margin:0 0 10px;
	padding:10px;
}
#mainContents .indent {
	padding-left:1em;
	text-indent:-1em;
}
#mainContents ul.indent {
	margin:0;
	padding-left:1em;
}
#mainContents ul.indent li {
	list-style-type:none;
	text-indent:-1em;
}
#mainContents ul.indent02 li {
	list-style-type:none;
	text-indent:1em;
}
#mainContents ul.index {
	padding:0 0 0 30px;
}
#oneColumn #mainContents ul.index {
	padding:0 50px 0 30px;
}
#mainContents ul.index li {
	line-height:150%;
	list-style:disc outside none;
	margin:10px 0 0 50px;
}
#mainContents ul.index li.heading {
	list-style:circle outside none;
	margin:30px 0 0 10px;
}
#mainContents ul.index li.sub {
	list-style:none outside none;
	margin:7px 0 0 80px;
}
#mainContents .module ul.column {
	float:left;
	width:250px;
}
#mainContents .module-webapps ul {
	overflow:hidden;
}
#mainContents .module-webapps li {
	border-top:1px solid #DBDBDB;
	overflow:hidden;
	padding:10px 0;
}
#mainContents .module-webapps li p {
	float:left;
	padding:0 15px 0 0;
}
#mainContents .module-webapps p.img {
	text-align:center;
	width:100px;
}
#mainContents .module-webapps p.name {
	font-weight:bold;
	width:140px;
}
#mainContents .module-webapps p.detail {
	width:350px;
}
#mainContents .module dl.price {
	margin:0;
	padding-left:80px;
}
#mainContents .module dl.price dt {
	float:left;
	text-align:right;
	width:15em;
}
#mainContents .module dl.price dd {
	margin:0 0 10px 16.5em;
	text-align:left;
}
#mainContents .module dl.domain dd {
	margin:3px 0 15px 15px;
}
#mainContents .module dl.htaccess {
	margin:0;
}
#mainContents .module dl.htaccess dt {
	float:left;
	text-align:right;
	width:6em;
}
#mainContents .module dl.htaccess dd {
	margin:0 0 10px 7em;
	text-align:left;
}
#mainContents .search-help {
	background:url("../images/search_bg.gif") no-repeat scroll center top transparent;
	clear:both;
	height:62px;
	margin:50px auto 0;
	overflow:hidden;
	padding:41px 0 0;
	text-align:center;
	width:636px;
}
#mainContents .search-help input {
	float:left;
}
#mainContents .textbox {
	margin:2px 12px 0 50px;
	padding:7px 5px;
	width:450px;
}
#mainContents .module .question {
	color:#008CBB;
	font-weight:bold;
	margin-top:10px;
}
#mainContents .module .answer {
	margin:0 0 30px 20px;
	padding:0 15px;
}
#mainContents .module .answer p {
	padding-left:12px;
}
#mainContents iframe {
	height:500px;
	width:849px;
}
#mainContents textarea {
	margin:0 10px 15px;
	width:580px;
}
#contents ul.ftp {
	margin:0 0 15px 15px;
}
#contents ul.ftp li.ftp-top {
	background:url("../images/folder_home.gif") no-repeat scroll 0 50% transparent;
	display:block;
	font-weight:bold;
	margin:0 0 0 20px;
	padding:10px 0 10px 30px;
}
#contents ul.ftp li {
	background:url("../images/folder_sub.gif") no-repeat scroll 0 50% transparent;
	font-weight:bold;
	margin:0 0 0 60px;
	padding:5px 0 0 35px;
}
#contents ul.ftp li.sub {
	color:#FF0000;
	margin:0 0 0 100px;
}
#contents ul.ftp02 {
	margin:0 0 15px 15px;
}
#contents ul.ftp02 li.ftp-top {
	background:url("../images/square01.gif") no-repeat scroll 0 50% transparent;
	display:block;
	margin:0 0 0 20px;
	padding:10px 0 10px 15px;
}
#contents ul.ftp02 li {
	background:url("../images/square02.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 42px;
	padding:5px 0 0 15px;
}
#contents ul.ftp02 li.last {
	background:url("../images/square07.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 42px;
	padding:5px 0 0 15px;
}
#contents ul.ftp02 li.sub {
	background:url("../images/square12.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 64px;
	padding:5px 0 0 15px;
}
#contents ul.ftp02 li.sub02 {
	background:url("../images/square03.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 64px;
	padding:5px 0 0 15px;
}
#contents ul.ftp02 li.sub03 {
	background:url("../images/square04.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 86px;
	padding:5px 0 0 15px;
}
#contents ul.ftp02 li.sub04 {
	background:url("../images/square14.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 86px;
	padding:5px 0 0 15px;
}
#contents ul.ftp02 li.sub05 {
	background:url("../images/square05.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 110px;
	padding:5px 0 0 15px;
}
#contents ul.ftp02 li.sub06 {
	background:url("../images/square13.gif") no-repeat scroll 0 50% transparent;
	margin:0 0 0 110px;
	padding:5px 0 0 15px;
}
#mainContents ul.list01 {
	margin:0 5px 15px 6px;
}
#mainContents ul.list01 li {
	background:url("../images/list_img.gif") no-repeat scroll left 6px transparent;
	line-height:2;
	list-style:none outside none;
	padding:0 0 0 18px;
}
#mainContents ul.list01 li.plan {
	margin-bottom:10px;
}
#mainContents ul.list04 {
	text-align:left;
}
#mainContents ul.list04 li {
	background:url("../images/icon_arrow01.gif") no-repeat scroll left 6px transparent;
	line-height:2;
	list-style:none outside none;
	padding:0 0 0 18px;
}
#mainContents .answer .list04 {
	padding-bottom:10px;
	padding-left:15px;
}
#mainContents ul.list03 li {
	line-height:2;
	list-style:disc outside none;
	margin:0 12px;
}
#mainContents .module .pagetop {
	background:url("../images/icon_arrow_up.gif") no-repeat scroll 0 3px transparent;
	float:right;
	margin:0;
	padding:0 0 0 15px;
}
#mainContents ol li {
	list-style-position:inside;
	padding:0;
}
#mainContents pre.clip {
	border:1px dotted #34BEED;
	margin:5px 5px 5px 15px;
	overflow:scroll;
	width:90%;
	word-wrap:break-word;
}
#mainContents .icon-next {
	background:url("../images/icon_arrow_next.gif") no-repeat scroll 0 2px transparent;
	font-weight:bold;
	margin:10px 0;
	padding:0 0 0 16px;
}
#mainContents .footNav .next, #mainContents .footNav .back {
	float:left;
	margin:10px 0;
	padding:0;
	width:50%;
}
#mainContents .footNav .next p {
	float:left;
	margin:0;
	padding:0;
}
#mainContents .footNav .back p {
	float:right;
	margin:0;
	padding:0;
}
#mainContents .footNav .next span, #mainContents .footNav .back span {
	margin:5px 0;
	padding:0 10px;
	white-space:nowrap;
}
#mainContents02 p {
	line-height:160%;
	margin:0;
	padding:5px 12px;
}
#oneColumn #mainContents02 .h3short {
	background:url("../images/h3_bg_1col.gif") no-repeat scroll left top transparent;
	font-size:120%;
	font-weight:bold;
	height:34px;
	margin:10px 0;
	padding:8px 0 0 14px;
}
#twoColumn #mainContents02 .h3short {
	background:url("../images/h3_bg_2col.gif") no-repeat scroll left top transparent;
	font-size:120%;
	font-weight:bold;
	height:34px;
	margin:10px 0;
	padding:8px 0 0 14px;
}
#mainContents02 .h2short {
	clear:both;
	font-size:120%;
	font-weight:bold;
	margin:15px 0;
	padding:7px 0 0 14px;
}
#oneColumn #mainContents02 .h2short {
	background:url("../images/subtitle-1col-lower02.gif") no-repeat scroll 0 bottom transparent;
}
#twoColumn #mainContents02 .h2short {
	background:url("../images/subtitle-2col-lower02.gif") no-repeat scroll right bottom transparent;
}
#mainContents02 ul.list01 {
	margin-bottom:15px;
}
#mainContents02 ul.list01 li {
	background:url("../images/list_img.gif") no-repeat scroll left 6px transparent;
	line-height:2;
	list-style:none outside none;
	margin-left:12px;
	padding:0 0 0 18px;
}
#mainContents02 p.list01 {
	background:url("../images/list_img.gif") no-repeat scroll left 6px transparent;
	line-height:2;
	margin-left:12px;
	padding:0 0 0 18px;
}
#mainContents02 .image-border {
	margin:0 0 10px;
	text-align:center;
}
#mainContents02 .image-border img {
	border:1px solid #CCCCCC;
}
#twoColumn #mainContents02 .h3short {
	background:none repeat scroll 0 0 #E5F6FF;
	clear:both;
	font-size:120%;
	font-weight:bold;
	height:auto !important;
	margin: 15px 10px 10px;
	min-height:21px;
	padding:5px 0 0 10px;
}
#mainContents02 h4 {
	color:#008CBB;
	font-size:120%;
	font-weight:bold;
	margin-bottom:5px;
	padding:5px 0 0 10px;
}
#mainContents02 table {
	margin:10px 0 20px;
}
#mainContents02 .table-kanri01 {
	border-bottom:1px solid #000000;
	border-top:2px solid #000000;
}
#mainContents02 .table-kanri01 th {
	border-bottom:1px solid #000000;
	font-weight:normal;
	padding-left:5px;
}
#mainContents02 .table-kanri01 td {
	border-bottom:1px solid #000000;
	padding-right:5px;
}
#mainContents02 hr.separate {
	border-style:dotted none none;
	border-top:2px dotted #008CBB;
	display:block;
	height:2px;
	margin:30px 0 20px;
	width:100%;
}
#mainContents02 p.pagetop {
	background:url("../images/icon_arrow_up.gif") no-repeat scroll 0 3px transparent;
	float:right;
	margin:0;
	padding:0 10px 10px 15px;
}
#mainContents02 img.process {
	margin:0 0 10px 130px;
}
#mainContents02 .image {
	margin:10px 0;
	text-align:center;
}
#mainContents02 .image-link a {
	background-color:#008CBB;
	display:block;
	margin:0 auto;
	padding:1px;
	width:400px;
}
#mainContents02 .image-link a:hover {
	background-color:#00AFEA;
}
#mainContents02 ol.mypageDesignList {
	padding-left:11px;
	width:560px;
}
#mainContents02 ol.mypageDesignList li {
	float:left;
	padding:0 9px 0 0;
}
#mainContents02 ol.mypageDesignList li a {
	background-color:#008CBB;
	display:block;
	padding:1px;
}
#mainContents02 ol.mypageDesignList li a:hover {
	background-color:#00AFEA;
}
#mainContents02 ol.mypageDesignList p {
	margin-left:0 !important;
	padding-top:3px;
}
#mainContents02 h3 {
	background:none repeat scroll 0 0 #E5F6FF;
	clear:both;
	font-size:120%;
	font-weight:bold;
	height:auto !important;
	margin: 15px 0 5px;
	min-height:21px;
	padding:5px 0 0 38px;
}
#mainContents02 img.arrowDown {
	clear:both;
	margin:10px 0 10px 280px;
}
#mainContents02 .e_text_box {
	background-color:#EDEDED;
	float:right;
	width:280px;
}
#mainContents02 .e_img_box {
	float:left;
	margin-left:15px;
	width:300px;
}
#mainContents02 .e_tree_box {
	float:left;
	width:300px;
}
#mainContents02 .e_info_box {
	background:url("../images/ic_info.gif") no-repeat scroll 1px 3px transparent;
	border:1px solid #EDEDED;
	float:right;
	margin-top:10px;
	width:278px;
}
#mainContents02 .e_info_box_text {
	margin-left:30px;
}
#mainContents02 .next_step {
	background:url("../images/icon_arrow01.gif") no-repeat scroll right center transparent;
	float:right;
	padding:5px 18px 6px 0;
}
#mainContents02 .prev_step {
	background:url("../images/icon_arrow02.gif") no-repeat scroll left center transparent;
	float:left;
	padding:5px 0 6px 18px;
}
#mainContents02 p.arrow {
	background:url("../images/icon_arrow01.gif") no-repeat scroll left center transparent;
	margin:0 0 20px 12px;
	padding:0 0 0 15px;
}
#mainContents02 p.source {
	background-color:#F0FAFF;
	border:1px solid #85D8F3;
	color:#406586;
	margin:0 12px 10px;
	padding:10px;
}
#mainContents02 p.source span {
	color:#CB3301;
	font-weight:bold;
}
#mainContents02 p.source .redTxt {
	color:#FF0000;
}
#mainContents02 p.source .blueTxt {
	color:#0000FF;
}
	body#design {
	background:none repeat scroll 0 0 #FFFFFF;
	color:#333333;
	font-family:'??q??????M??m??p??S Pro W3','Hiragino Kaku Gothic Pro','??l??r ??o??S??V??b??N','MS PGothic',sans-serif;
	font-size:100.01%;
	line-height:1.5;
	margin:0;
	padding:0 0 20px;
	text-align:center;
}
#contentsDesign {
	margin-bottom:20px;
}
	p#BtnClose {
	margin:0 auto 20px !important;
	text-align:center;
	width:190px;
}
	p#BtnClose a {
	background:url("../images/btn_close.gif") no-repeat scroll left top transparent;
	display:block;
	height:36px;
	text-decoration:none;
	text-indent:-9999px;
	width:190px;
}
	p#BtnClose a:hover {
	background:url("../images/btn_close_on.gif") no-repeat scroll left top transparent;
	display:block;
	height:36px;
	width:190px;
}
#mainContents table {
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	margin:0 0 10px;
	text-align:center;
	width:100%;
}
#mainContents table th {
	border:1px solid #CCCCCC;
	font-weight:bold;
	padding:10px;
}
#mainContents table td {
	border:1px solid #CCCCCC;
	padding:10px;
}
.bg1 {
	background:none repeat scroll 0 0 #F0F2F3;
}
.bg2 {
	background:none repeat scroll 0 0 #FFFFD0;
}
.bg3 {
	background:none repeat scroll 0 0 #FFFEA8;
}
.nodisp {
	display:none;
}
#footer {
	background:none repeat scroll 0 0 #EAF8FF;
	margin:0 auto;
	padding:13px 0 30px;
	width:900px;
}
#footerInner {
	background:url("../images/foot_h_img.gif") no-repeat scroll left top #FFFFFF;
	padding:14px 0 0;
}
#footerForm {
	background-color:#EEEEEE;
	border:1px solid #CCCCCC;
	margin:0 10px;
	padding:15px 0;
	text-align:center;
}
#footerForm form {
	display:inline;
}
#footerForm .textbox {
	background:none repeat scroll 0 0 #FFFFFF;
	color:#000000;
	line-height:normal;
	padding:2px 2px 0 !important;
	vertical-align:middle;
	width:340px;
}
#categolyLink {
	clear:both;
	margin:0;
	padding:15px 0 0;
}
#serviceLink {
	clear:both;
	margin:0;
	padding:5px 0 10px;
}
#categolyLink dl, #serviceLink dl {
	border:medium none;
	float:none;
	margin:0;
	padding:0;
	text-align:center;
	width:auto;
}
#categolyLink dt, #serviceLink dt {
	display:inline;
	float:none;
	font-weight:bold;
	margin:0;
	padding:0 3px;
	width:auto;
}
#categolyLink dd {
	display:inline;
	float:none;
	margin:0;
	padding:0 0 3px;
	width:auto;
}
#serviceLink dd {
	display:inline;
	float:none;
	margin:0;
	padding:0;
	width:auto;
}
#categolyLink ul, #serviceLink ul {
	display:inline;
	margin:0;
	padding:0;
}
#categolyLink li {
	border-right:1px solid #7D7D7D;
	display:inline;
	line-height:1.2;
	margin:0;
	padding:0 5px;
	white-space:nowrap;
}
#serviceLink li {
	display:inline;
	margin:0;
	padding:0 5px;
	white-space:nowrap;
}
#footText {
	background:url("../images/foot_f_img.gif") no-repeat scroll left bottom transparent;
	margin:0;
	padding:10px;
}
#footText .niftylink {
	float:left;
	margin:0;
	padding:8px 0 0 10px;
	text-align:left;
	width:45%;
}
#footText .copy {
	float:right;
	font-style:normal;
	line-height:140%;
	text-align:right;
	width:50%;
}
	html {
	overflow-y:scroll;
}
	body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, table, th, td, em {
	font-size:100%;
	font-style:normal;
	line-height:1.5;
	margin:0;
	padding:0;
}
	body {
	color:#333333;
	font-family:'MS PGothic',Verdana,Arial,'qMmpS Pro W3','Hiragino Kaku Gothic Pro',Osaka,sans-serif;
	text-align:center;
}
	* html body {
	padding-left:1px;
}
	* + html body {
	padding-left:1px;
}
	h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	line-height:1.2;
}
	table {
	border-collapse:collapse;
	border-spacing:0;
}
	fieldset, img {
	border:0 none;
}
	img {
	border:0 none;
	vertical-align:top;
}
	hr {
	display:none;
}
	em, em a {
	font-weight:bold;
}
	address {
	font-style:normal;
}
	ul, ol {
	list-style:none outside none;
}
.pkg:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
.pkg {
	display:inline-block;
}
	* html .pkg {
	height:1%;
}
.pkg {
	display:block;
}
body {
	font-size:12px;
	margin:0;
	padding:0;
	text-align:left;
}
a {
	color:#3774BB;
	text-decoration:underline;
}
a:hover {
	color:#3774BB;
	text-decoration:none;
}
.font-s {
	font-size:100%;
}
.font-m {
	font-size:120%;
}
.font-l {
	font-size:140%;
}
.font-ll {
	font-size:170%;
}
em {
	font-style:normal;
	font-weight:bold;
}
.center {
	text-align:center;
}
.redTxt {
	color:#FF0000;
}
.blueTxt {
	color:#0000FF;
}
.even-row {
	background:none repeat scroll 0 0 #666666;
}
.pkg:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
.pkg {
	display:inline-block;
}
	* html .pkg {
	height:1%;
}
.pkg {
	display:block;
}
.clear {
	clear:both;
}
.module:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	line-height:0;
	visibility:hidden;
}

#contents .short{
	margin: 10px 0 5px 11px;
}

#contents .h2-upper02 {
	margin:0 0px 15px;
}

.contents-list-page {
	background-color: #f5f5f5;
	margin: 0 0 20px;
	padding: 10px;
}

.contents-list-page li {
	display: inline;
}


#contents .stitle {
	clear: both;
	font-size: 100%;
	font-weight: normal !important;
	margin: 10px 35px;
	min-height: 21px;
	padding: 2px 0 0 32px;
}

#contents .stitleNum1 {
	background:url("../images/h3_bg_s_no1.gif") no-repeat scroll left top #FFFFFF;

}
#contents .stitleNum2 {
	background:url("../images/h3_bg_s_no2.gif") no-repeat scroll left top #FFFFFF;
}
#contents .stitleNum3 {
	background:url("../images/h3_bg_s_no3.gif") no-repeat scroll left top #FFFFFF;
}
#contents .stitleNum4 {
	background:url("../images/h3_bg_s_no4.gif") no-repeat scroll left top #FFFFFF;
}
#contents .stitleNum5 {
	background:url("../images/h3_bg_s_no5.gif") no-repeat scroll left top #FFFFFF;
}
#contents .stitleNum6 {
	background:url("../images/h3_bg_s_no6.gif") no-repeat scroll left top #FFFFFF;
}
#contents .stitleNum7 {
	background:url("../images/h3_bg_s_no7.gif") no-repeat scroll left top #FFFFFF;
}
#contents .stitleNum8 {
	background:url("../images/h3_bg_s_no8.gif") no-repeat scroll left top #FFFFFF;
}

#mainContents02 h5 {
	margin-bottom: 5px;
	padding: 5px 0 0 10px;
}

#mainContents hr.separate {
	border-style: dotted none none;
	border-top: 2px dotted #008CBB;
	display: block;
	height: 2px;
	margin: 30px 0 20px;
	width: 100%;
}

/***************** login ****************/
div.login_box_tr {
    background: none repeat scroll 0 0 #FFFFEB;
    padding-top:10px;
}

.margin_t_5 {
    margin-top: 5px;
}

.margin_t_10 {
    margin-top: 10px;
}

#mainContents table.login_box_table {
    border: medium none;
}

#mainContents table td.login_box_th {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
x    border-color: -moz-use-text-color #FF4E00 -moz-use-text-color -moz-use-text-color;
    background: none repeat scroll 0 0 #FFFFEB;
    border: 1px solid #FED013;
    border-style: none solid none none;
    border-width: medium 5px medium medium;
x    font-size: 0.8em;
    padding: 5px;
}

#mainContents table td.login_box_td {
    border: medium none;
x    font-size: 0.8em;
    padding: 5px 10px;
}
#mainContents table td.login_box_td {
x    font-size: 0.8em;
}

.loginBtn {
    height: 15px;
    margin-left: 150px;
    margin-top: 20px;
}
#choices {
    list-style: none outside none;
}

x#choices #btn_login, #choices #btn_login button {
x    background-image: url("../images/btn_login_b.gif");
x}

div#mainContents p#Btnreset {
x    background: url("../images/btn_reset_o.gif") no-repeat scroll left top transparent;
    float: left;
    height: 27px;
    margin: 0 0 20px 0 !important;
    text-indent: -9999px;
    width: 172px;
}
div#mainContents p#Btnreset a {
x    background: url("../images/btn_reset_n.gif") no-repeat scroll left top transparent;
    display: block;
    height: 27px;
    text-decoration: none;
    width: 172px;
}

x#loginBtn a {
x    background-image: url("../images/btn_login.gif");
x}

x#loginBtn a:hover {
x    background-image: url("../images/btn_login_over.gif");
x}