#block-nodesinblock-0 .node-title, #block-nodesinblock-1 .node-title,
#block-nodesinblock-4 .node-title {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

#block-nodesinblock-3 {
  position: relative;
}

#block-nodesinblock-3 .nodesinblock {
  position: relative;
  margin-bottom: 20px;
  border: 7px solid #fff;
  background: #e5e5cb;
  -webkit-box-shadow: 1px 2px 5px 3px #adadad;
     -moz-box-shadow: 1px 2px 5px 3px #adadad;
          box-shadow: 1px 2px 5px 3px #adadad;
  behavior: url(/sites/all/themes/pitt/scripts/PIE.htc);
}

#block-nodesinblock-3 .nodesinblock header {
  margin-top: 20px;
  color: #333;
  *padding-top: 5px;
}

#block-nodesinblock-3 .nodesinblock ul {
  margin: auto 0;
  padding: 0;
}

#block-nodesinblock-3 .nodesinblock li {
  margin-bottom: 5px;
  list-style-type: none;
}

#block-nodesinblock-3 .nodesinblock strong {
  color: #333;
}

#block-nodesinblock-3 .nodesinblock figure {
  margin: -15px -20px -10px !important;
}

#block-nodesinblock-3 .nodesinblock .block-type-beige,
#block-nodesinblock-3 .nodesinblock .block-type-blue,
#block-nodesinblock-3 .nodesinblock .block-type-gray,
#block-nodesinblock-3 .nodesinblock .block-type-none {
  padding: 15px 20px;
}

#block-nodesinblock-3 .nodesinblock .block-type-beige {
  background-color: #e5e5cb;
}

#block-nodesinblock-3 .nodesinblock .block-type-blue {
  background-color: #cce0f4;
}

#block-nodesinblock-3 .nodesinblock .block-type-gray {
  background-color: #e5e5e5;
}

#block-nodesinblock-3 .nodesinblock .block-type-none {
  background-color: transparent;
}

#block-nodesinblock-3 .nodesinblock .block-type-image figure {
  margin: 0 0 -3px 0 !important;
}

#block-nodesinblock-3 .nodesinblock .block-type-image header {
  position: absolute;
  bottom: 10px;
  max-width: 206px;
  margin-right: 20px;
  margin-left: 12px\9;
  padding: 4px 0;
  opacity: .75;
  background: #003;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
}

#block-nodesinblock-3 .nodesinblock .block-type-image header h2 {
  margin: 0 !important;
  padding: 0 20px !important;
  color: #fff;
}

#block-nodesinblock-3 .nodesinblock .block-type-image header h2 a {
  color: #fff;
}

#block-views-study-abroad-slideshow-block {
  position: relative;
  margin-bottom: 20px;
  border: 7px solid #fff;
  background: #e5e5cb;
  -webkit-box-shadow: 1px 2px 5px 3px #adadad;
     -moz-box-shadow: 1px 2px 5px 3px #adadad;
          box-shadow: 1px 2px 5px 3px #adadad;
  behavior: url(/sites/all/themes/pitt/scripts/PIE.htc);
}

#block-views-study-abroad-slideshow-block h2 {
  margin-top: 10px !important;
}

#block-views-study-abroad-slideshow-block .attachment {
  margin-top: -10px !important;
}

#block-views-study-abroad-slideshow-block .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}

#block-views-study-abroad-slideshow-block .views-row {
  padding: 20px 20px 10px;
}

#block-views-study-abroad-slideshow-block .views-row .field-block-image2 {
  width: 226px\9;
  height: 190px\9;
}

#block-views-study-abroad-slideshow-block .views-row figure {
  margin: -20px;
}

#block-views-homepage-headlines-block-1, #block-views-homepage-headlines-block-2 {
  position: relative;
  margin-bottom: 20px;
  padding: 15px 20px 20px;
  border: 7px solid #fff;
  background: #e5e5cb;
  -webkit-box-shadow: 1px 2px 5px 3px #adadad;
     -moz-box-shadow: 1px 2px 5px 3px #adadad;
          box-shadow: 1px 2px 5px 3px #adadad;
  behavior: url(/sites/all/themes/pitt/scripts/PIE.htc);
}

#block-views-homepage-headlines-block-1 h2,
#block-views-homepage-headlines-block-2 h2 {
  font-size: 18px !important;
  font-size: 1.8rem !important;
  margin-bottom: 10px !important;
  padding-bottom: 8px !important;
  border-bottom: 1px dashed #999;
}

#block-views-homepage-headlines-block-1 .view-footer,
#block-views-homepage-headlines-block-2 .view-footer {
  font-size: 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5px;
}

:root #block-block-3 .list-column {
  width: 46% \0/IE9;
}

#block-block-3 {
  position: relative;
  margin-bottom: 20px;
  padding: 15px 20px 0 20px;
  border: 7px solid #fff;
  background-color: #000741;
  background-image: url(../images/block_gradient.png);
  background-repeat: repeat-x;
  -webkit-box-shadow: 1px 2px 5px 3px #adadad;
     -moz-box-shadow: 1px 2px 5px 3px #adadad;
          box-shadow: 1px 2px 5px 3px #adadad;
  behavior: url(/sites/all/themes/pitt/scripts/PIE.htc);
}

#block-block-3 a {
  font-size: 13px;
  font-size: 1.3rem;
  color: #e5e5cb;
}

#block-block-3 ul {
  margin: 0 !important;
  padding: 0 !important;
}

#block-block-3 li {
  margin: 0 0 7px 0;
  margin-right: 10px\9;
  padding: 0 0 7px 0;
  list-style: none !important;
  border-bottom: 1px dashed #808aad;
}

#block-block-3 li:nth-child(3) {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

#block-block-3 .list-column:nth-last-of-type(3) {
  margin-right: 14px !important;
}

#block-block-3 .list-column {
  width: 44%;
  width: 48%\9;
  margin-right: 0;
  *width: 49%;
}

#block-block-3 h3 {
  margin-bottom: 10px !important;
  color: #e5e5cb;
}

.front #block-nodesinblock-2 {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

#block-nodesinblock-2 {
  position: relative;
  margin-top: 15px;
  padding-top: 30px;
  border-top: 1px dashed #999;
}

#block-nodesinblock-2 .nodesinblock {
  position: relative;
  margin-bottom: 20px;
  border: 7px solid #fff;
  background: #e5e5cb;
  -webkit-box-shadow: 1px 2px 5px 3px #adadad;
     -moz-box-shadow: 1px 2px 5px 3px #adadad;
          box-shadow: 1px 2px 5px 3px #adadad;
  behavior: url(/sites/all/themes/pitt/scripts/PIE.htc);
}

#block-nodesinblock-2 .nodesinblock header {
  color: #333;
}

#block-nodesinblock-2 .nodesinblock ul {
  margin: auto 0;
  padding: 0;
}

#block-nodesinblock-2 .nodesinblock li {
  margin-bottom: 5px;
  list-style-type: none;
}

#block-nodesinblock-2 .nodesinblock strong {
  color: #333;
}

#block-nodesinblock-2 .nodesinblock figure {
  margin: -20px -20px 10px -20px;
}

#block-nodesinblock-2 .nodesinblock .block-type-beige,
#block-nodesinblock-2 .nodesinblock .block-type-blue,
#block-nodesinblock-2 .nodesinblock .block-type-gray,
#block-nodesinblock-2 .nodesinblock .block-type-none {
  padding: 20px 20px 10px 20px;
}

#block-nodesinblock-2 .nodesinblock .block-type-beige {
  background-color: #e5e5cb;
}

#block-nodesinblock-2 .nodesinblock .block-type-blue {
  background-color: #cce0f4;
}

#block-nodesinblock-2 .nodesinblock .block-type-gray {
  background-color: #e5e5e5;
}

#block-nodesinblock-2 .nodesinblock .block-type-none {
  background-color: transparent;
}

#block-nodesinblock-2 .nodesinblock .block-type-image header {
  position: absolute;
  bottom: 10px;
  margin-right: 1.875em;
  padding: .625em 0;
  opacity: .75;
  background: #003;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
}

#block-nodesinblock-2 .nodesinblock .block-type-image header h2 {
  margin: 0;
  padding: 0 20px;
  color: #fff;
}

#block-nodesinblock-2 .nodesinblock .block-type-image header h2 a {
  color: #fff;
}

#nodesinblock-709, #nodesinblock-1614 {
  border: none !important;
  background: white !important;
  box-shadow: none !important;
  behavior: none !important;
}

#nodesinblock-709 h2.node-title, #nodesinblock-1614 h2.node-title {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

#nodesinblock-709 figure, #nodesinblock-1614 figure {
  margin: 0 !important;
}

#nodesinblock-709 .nodesinblock, #nodesinblock-1614 .nodesinblock {
  border: none !important;
  box-shadow: none !important;
  behavior: none !important;
}

#nodesinblock-709 .block-type-none, #nodesinblock-1614 .block-type-none {
  padding: 20px 20px 10px 20px\9;
  padding: 0 !important;
  background-color: #fff;
}

#nodesinblock-709 .block-type-none .list-column,
#nodesinblock-1614 .block-type-none .list-column {
  width: 50%;
  *width: 45%;
}

#nodesinblock-709 .block-type-none .list-column p,
#nodesinblock-1614 .block-type-none .list-column p {
  margin: 0 0 6px 0;
}

#nodesinblock-709 .block-type-none .list-column img,
#nodesinblock-1614 .block-type-none .list-column img {
  margin-right: 15px;
  vertical-align: middle;
  border: none;
  box-shadow: none;
  behavior: none;
}

#nodesinblock-709 .block-type-none table,
#nodesinblock-1614 .block-type-none table {
  vertical-align: top;
}

#nodesinblock-709 .block-type-none table td,
#nodesinblock-1614 .block-type-none table td {
  display: inline-block;
  width: 30%;
  margin: 0 3.5% 5px 0;
  padding: 0;
  vertical-align: top;
  border-left: none;
}

#nodesinblock-709 .block-type-none table td:nth-last-of-type(1),
#nodesinblock-1614 .block-type-none table td:nth-last-of-type(1) {
  margin-right: 0 !important;
}

#nodesinblock-709 .block-type-none table td,
#nodesinblock-1614 .block-type-none table td {
  display: table\9;
  float: left\9;
  width: 30%\9;
  margin: 0 1% 5px 0\9;
  padding: 0 1%\9;
}

#nodesinblock-664 {
  position: relative;
}

#nodesinblock-664 ul {
  margin: 0 0 10px 0;
  padding: 0;
}

#nodesinblock-664 li {
  margin-bottom: 10px;
}

#nodesinblock-664 .list-column {
  width: 41%;
  margin-right: 3%;
  padding-right: 5%;
  border-right: 1px dashed #999;
}

#nodesinblock-664 .list-column:nth-last-of-type(1) {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

#nodesinblock-613 {
  padding: 15px 20px 15px 20px;
  background: #e5e5e5 !important;
}

#nodesinblock-613 .node-title {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

#nodesinblock-613 .block-type-gray {
  padding: 0 !important;
}

#nodesinblock-613 figure {
  margin: 0 !important;
}

#nodesinblock-613 section .list-column {
  width: 22.5%;
  width: 22%\9;
  min-height: 260px;
  margin-right: 10px;
  padding-right: 5px;
  border-right: 1px dashed #999;
}

#nodesinblock-613 section .list-column ul {
  margin: 0 0 10px 0;
  padding: 0;
}

#nodesinblock-613 section .list-column li {
  font-size: 11px;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

#nodesinblock-613 section .list-column:nth-last-of-type(1) {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

#block-nodesinblock-4 {
  font-size: 11px;
  font-size: 1.1rem;
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
  color: #cc9;
}

#block-nodesinblock-4 .nodesinblock {
  float: left;
}

#block-nodesinblock-4 .nodesinblock a {
  color: #cc9;
}

#block-nodesinblock-4 p {
  margin: 0 0 6px 0 !important;
}

#block-nodesinblock-4 #nodesinblock-21, #block-nodesinblock-4 #nodesinblock-22 {
  width: 13%;
  margin-left: 3%;
  padding-left: 1.5%;
  border-left: 1px dashed #66668f;
}

#block-nodesinblock-4 #nodesinblock-20 {
  width: 25%;
  margin: 0 7% 0 0;
}

#block-nodesinblock-4 #nodesinblock-24 {
  float: left;
  width: 24%;
  margin-left: 7%;
}

#block-nodesinblock-0 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #999;
}

#block-nodesinblock-0 p {
  margin-bottom: 0 !important;
}

#block-nodesinblock-0 .field-video {
  margin-bottom: 20px;
}

#block-nodesinblock-0 .field-single-image,
#block-nodesinblock-0 .field-slideshow-image {
  margin-bottom: 15px;
}

#block-nodesinblock-0 .field-single-image img,
#block-nodesinblock-0 .field-slideshow-image img {
  width: 98%;
  border: 7px solid #fff;
}

#block-views-taxonomy-pages-block-6 {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #999;
}

#block-views-taxonomy-pages-block-4 .field-slideshow-image,
#block-views-taxonomy-pages-block-5 .field-slideshow-image,
#block-views-taxonomy-pages-block-6 .field-slideshow-image {
  margin-bottom: 12px;
}

#block-views-taxonomy-pages-block-4 .field-slideshow-image img,
#block-views-taxonomy-pages-block-5 .field-slideshow-image img,
#block-views-taxonomy-pages-block-6 .field-slideshow-image img {
  width: 98%;
  max-width: 636px\9 !important;
  height: 207px\9 !important;
  border: 7px solid #fff;
}

#block-views-taxonomy-pages-block-4 .field-slideshow-image img:nth-child(n),
#block-views-taxonomy-pages-block-5 .field-slideshow-image img:nth-child(n),
#block-views-taxonomy-pages-block-6 .field-slideshow-image img:nth-child(n) {
  border: 5px solid #fff \9;
}

#block-views-taxonomy-pages-block-4 .field-single-image,
#block-views-taxonomy-pages-block-5 .field-single-image,
#block-views-taxonomy-pages-block-6 .field-single-image {
  margin-bottom: 12px;
}

#block-views-taxonomy-pages-block-4 .field-single-image img,
#block-views-taxonomy-pages-block-5 .field-single-image img,
#block-views-taxonomy-pages-block-6 .field-single-image img {
  width: 98%;
  border: 7px solid #fff;
}

#block-views-taxonomy-pages-block-4 .field-video,
#block-views-taxonomy-pages-block-5 .field-video,
#block-views-taxonomy-pages-block-6 .field-video {
  margin-bottom: 12px;
}

#block-views-taxonomy-pages-block-4 #views_slideshow_cycle_main_taxonomy_pages-block_4,
#block-views-taxonomy-pages-block-5 #views_slideshow_cycle_main_taxonomy_pages-block_4,
#block-views-taxonomy-pages-block-6 #views_slideshow_cycle_main_taxonomy_pages-block_4 {
  margin-bottom: 15px;
  padding-bottom: 25px;
  border-bottom: 1px dashed #999;
}

#block-views-taxonomy-pages-block-4 #views_slideshow_cycle_main_taxonomy_pages-block_4 .views-slideshow-cycle-main-frame-row,
#block-views-taxonomy-pages-block-5 #views_slideshow_cycle_main_taxonomy_pages-block_4 .views-slideshow-cycle-main-frame-row,
#block-views-taxonomy-pages-block-6 #views_slideshow_cycle_main_taxonomy_pages-block_4 .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
  min-height: 300px !important;
}

#block-views-taxonomy-pages-block-4 .field-slideshow-description,
#block-views-taxonomy-pages-block-4 .field-description,
#block-views-taxonomy-pages-block-5 .field-slideshow-description,
#block-views-taxonomy-pages-block-5 .field-description,
#block-views-taxonomy-pages-block-6 .field-slideshow-description,
#block-views-taxonomy-pages-block-6 .field-description {
  display: inline;
  margin: 0;
}

#block-views-taxonomy-pages-block-4 .field-link-to-external-story a,
#block-views-taxonomy-pages-block-4 .field-link-to-external-story2 a,
#block-views-taxonomy-pages-block-5 .field-link-to-external-story a,
#block-views-taxonomy-pages-block-5 .field-link-to-external-story2 a,
#block-views-taxonomy-pages-block-6 .field-link-to-external-story a,
#block-views-taxonomy-pages-block-6 .field-link-to-external-story2 a {
  display: inline;
  color: #06c !important;
}

#block-views-taxonomy-pages-block-4 .views-field-php p,
#block-views-taxonomy-pages-block-5 .views-field-php p,
#block-views-taxonomy-pages-block-6 .views-field-php p {
  display: inline;
  margin: 0;
}

#block-views-taxonomy-pages-block-4 .views-slideshow-controls-bottom,
#block-views-taxonomy-pages-block-5 .views-slideshow-controls-bottom,
#block-views-taxonomy-pages-block-6 .views-slideshow-controls-bottom {
  position: absolute;
  z-index: 200;
  top: 418px;
  top: 410px\9;
  margin-left: 555px;
}

#block-views-taxonomy-pages-block-4 .views-slideshow-controls-bottom .views-slideshow-pager-field-item,
#block-views-taxonomy-pages-block-5 .views-slideshow-controls-bottom .views-slideshow-pager-field-item,
#block-views-taxonomy-pages-block-6 .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  float: left;
  width: 10px;
  height: 10px;
  padding-right: 5px;
}

#block-views-taxonomy-pages-block-4 .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-content-counter,
#block-views-taxonomy-pages-block-5 .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-content-counter,
#block-views-taxonomy-pages-block-6 .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-content-counter {
  width: 10px;
  height: 10px;
  text-indent: -999em;
  background-image: url('../images/noBullet.png');
  background-repeat: no-repeat;
}

#block-views-taxonomy-pages-block-4 .views-slideshow-controls-bottom .active,
#block-views-taxonomy-pages-block-5 .views-slideshow-controls-bottom .active,
#block-views-taxonomy-pages-block-6 .views-slideshow-controls-bottom .active {
  float: left !important;
  width: 10px !important;
  height: 10px !important;
  padding-right: 5px !important;
}

#block-views-taxonomy-pages-block-4 .views-slideshow-controls-bottom .active .views-content-counter,
#block-views-taxonomy-pages-block-5 .views-slideshow-controls-bottom .active .views-content-counter,
#block-views-taxonomy-pages-block-6 .views-slideshow-controls-bottom .active .views-content-counter {
  width: 10px;
  height: 10px;
  text-indent: -999em;
  background-image: url('../images/onBullet.png') !important;
  background-repeat: no-repeat;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #block-views-homepage-slideshow-block-1 .views-field-nothing {
    width: 365px !important;
  }
}

#block-views-homepage-slideshow-block-1 {
  position: relative;
  z-index: 0;
  height: 361px;
  margin-bottom: -81px;
}

#block-views-homepage-slideshow-block-1 .view-homepage-slideshow .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}

#block-views-homepage-slideshow-block-1 .view-homepage-slideshow .field-homepage-slideshow-image {
  width: 946px\9;
  height: 361px\9;
}

#block-views-homepage-slideshow-block-1 .view-homepage-slideshow .views-field-nothing {
  position: relative;
  top: -203px;
  left: 30px;
  display: table;
  overflow: hidden;
  width: 305px;
  height: 175px;
  padding: 15px 20px;
  color: #fff;
  background-image: url(../images/bg_slideshow_desc.png);
  background-repeat: repeat-x;
}

#block-views-homepage-slideshow-block-1 .view-homepage-slideshow .views-field-nothing .slider_title {
  font-family: 'MuseoSlab500Regular', 'museo-slab', 'Rockwell', sans-serif;
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 1.3 !important;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #cc9;
}

#block-views-homepage-slideshow-block-1 .view-homepage-slideshow .views-field-nothing .slider_desc {
  font-size: 11.5px;
  font-size: 1.15rem;
}

#block-views-homepage-slideshow-block-1 .view-homepage-slideshow .views-field-nothing .slider_desc p {
  display: inline;
  margin: 0;
}

#block-views-homepage-slideshow-block-1 .view-homepage-slideshow .views-field-nothing .slider_desc a {
  z-index: 100;
  color: #ff9;
}

#block-views-homepage-slideshow-block-1 .view-homepage-slideshow .views-field-nothing-1 .white_bar {
  position: absolute;
  top: 232px;
}

#block-views-homepage-slideshow-block-1 .views-slideshow-controls-bottom {
  position: absolute;
  z-index: 200;
  top: 243px;
  right: 10px;
}

#block-views-homepage-slideshow-block-1 .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  float: left;
  width: 10px;
  height: 10px;
  padding-right: 5px;
}

#block-views-homepage-slideshow-block-1 .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-content-counter {
  width: 10px;
  height: 10px;
  text-indent: -999em;
  background-image: url('../images/noBullet.png');
  background-repeat: no-repeat;
}

#block-views-homepage-slideshow-block-1 .views-slideshow-controls-bottom .active {
  float: left !important;
  width: 10px !important;
  height: 10px !important;
  padding-right: 5px !important;
}

#block-views-homepage-slideshow-block-1 .views-slideshow-controls-bottom .active .views-content-counter {
  width: 10px;
  height: 10px;
  text-indent: -999em;
  background-image: url('../images/onBullet.png') !important;
  background-repeat: no-repeat;
}

#block-block-2 .white_bar {
  position: relative;
  z-index: 1;
  top: 210px;
  float: left;
}

#block-views-homepage-headlines-block {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #999;
}

#block-views-homepage-headlines-block .views-row {
  display: inline-block;
  float: left;
  width: 46%;
}

#block-views-homepage-headlines-block .views-row .views-field-field-image {
  height: 148px\9;
  margin-bottom: 10px;
  margin-bottom: 30px\9;
}

#block-views-homepage-headlines-block .views-row .views-field-field-image img {
  width: 296px\9;
  width: auto\0/IE9;
  border: 7px solid #fff;
}

#block-views-homepage-headlines-block .views-row .views-field-title,
#block-views-homepage-headlines-block .views-row .views-field-php {
  padding-right: 5px\9;
}

#block-views-homepage-headlines-block .views-row .views-field-title p,
#block-views-homepage-headlines-block .views-row .views-field-php p {
  display: inline;
  margin: 0;
}

#block-views-homepage-headlines-block .views-row-first {
  margin-right: 6%;
}

#block-views-homepage-headlines-block-3 {
  margin-top: -40px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #999;
}

#block-views-homepage-headlines-block-3 .views-field-title h3 {
  font-size: 21px !important;
  font-size: 2.1rem !important;
}

#block-block-1 {
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px dashed #999;
}

#block-block-1 img {
  padding: 0;
  border: none;
  box-shadow: none;
  behavior: none;
}

#block-views-taxonomy-pages-block-8 {
  border-bottom: none;
}

#block-views-taxonomy-pages-block-8 .block-title {
  font-size: 17px !important;
  font-size: 1.7rem !important;
}

#block-search-form .form-item {
  margin: 0 !important;
}

#block-search-form .form-item #edit-search-block-form--2 {
  width: 165px;
  height: 19px;
  height: 15px\9;
  margin-left: 5px;
  border: none;
}

#block-search-form #edit-actions input[value='Search'] {
  text-indent: -1000px !important;
}

#block-search-form #edit-actions #edit-submit,
#block-search-form #edit-actions #edit-submit--2 {
  width: 27px;
  height: 21px;
  margin-left: -2px;
  border: none;
  background-image: url(../images/search_btn.jpg);
  background-repeat: no-repeat;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #block-search-form .form-item #edit-search-block-form--2 {
    position: relative;
    top: 1px;
  }
}

#block-views-4b154773ff7f2eb11b7321d122eb8668,
#block-views-exp-fields-of-study-search-page,
#block-views-9a8fe00dab7f641883cd48da9879ee0e,
#block-views-b1981c52a43134d835df3720c4b19803,
#block-views-exp-fields-of-study-search-page-1,
#block-views-exp-fields-of-study-search-page-2 {
  margin-bottom: 30px;
}

#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-1,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-2,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-1,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-2,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-1,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-2,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-1,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-2,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-1,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-2,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-1,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-2 {
  padding: 15px 22px;
  border: 7px solid #fff;
  background-color: #cce0f5 !important;
  -webkit-box-shadow: 1px 2px 5px 3px #adadad;
     -moz-box-shadow: 1px 2px 5px 3px #adadad;
          box-shadow: 1px 2px 5px 3px #adadad;
  behavior: url(/sites/all/themes/pitt/scripts/PIE.htc);
}

#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page .views-exposed-widgets,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page .views-exposed-widgets,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets {
  margin: 0 0 5px 0;
}

#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper {
  position: relative;
  width: 80%;
  padding: 0;
}

#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper label {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets #edit-search-api-views-fulltext-wrapper #edit-search-api-views-fulltext {
  width: 100%;
  height: 19px;
  border: none;
}

#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-exposed-widget,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-exposed-widget,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-exposed-widget,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-exposed-widget,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-exposed-widget,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-exposed-widget,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-exposed-widget,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-exposed-widget,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-exposed-widget,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-exposed-widget,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-exposed-widget,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-exposed-widget,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-exposed-widget,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-exposed-widget,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-exposed-widget,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-exposed-widget,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-exposed-widget,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-exposed-widget {
  padding: 0 !important;
}

#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button {
  position: relative;
  width: 18%;
  margin-left: 2%;
}

#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button input[value='Search'],
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button input[value='Search'] {
  text-indent: -1000px !important;
  *text-indent: 0 !important;
}

#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button #edit-submit-fields-of-study-search {
  width: 65px;
  height: 21px;
  border: none;
  background-image: url(../images/academic_search_btn.jpg);
  background-repeat: no-repeat;
}

#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button .form-submit,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button .form-submit,
#block-views-4b154773ff7f2eb11b7321d122eb8668 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button .form-submit,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button .form-submit,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button .form-submit,
#block-views-exp-fields-of-study-search-page #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button .form-submit,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button .form-submit,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button .form-submit,
#block-views-9a8fe00dab7f641883cd48da9879ee0e #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button .form-submit,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button .form-submit,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button .form-submit,
#block-views-b1981c52a43134d835df3720c4b19803 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button .form-submit,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button .form-submit,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button .form-submit,
#block-views-exp-fields-of-study-search-page-1 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button .form-submit,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page .views-exposed-widgets .views-submit-button .form-submit,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-1 .views-exposed-widgets .views-submit-button .form-submit,
#block-views-exp-fields-of-study-search-page-2 #views-exposed-form-fields-of-study-search-page-2 .views-exposed-widgets .views-submit-button .form-submit {
  margin-top: 0;
}

/* #block-nodesinblock-3 #nodesinblock-1221 {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border: none; background: transparent;}*/

#nodesinblock-1221 h2 {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

#block-nodesinblock-2 #nodesinblock-2597 {
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

#block-nodesinblock-2 #nodesinblock-2597 article {
  padding: 0;
}
