/*
 * Google Maps Integration
 */
#map-canvas {
	max-width: 900px;
	height: 600px;
	margin: 16px auto 20px;
	display: block;
	clear: both;
	border: 8px solid #fff;
	-webkit-box-shadow: 1px 2px 5px 3px #adadad;
	-moz-box-shadow: 1px 2px 5px 3px #adadad;
	box-shadow: 1px 2px 5px 3px #adadad;
	z-index: 200;
}

#map-canvas .infowindow {
	float: left;
	display: block;
	margin: 0 !important;
	padding: 0 0 10px !important;
}

#map-canvas img {
	max-width: none;
}

#map-canvas h3 {
	float: left;
	display: block;
	clear: both;
	margin: 0 !important;
	padding: 0 1px 2px !important;
	line-height: 1em !important;
}
	
#map-canvas h4 {
	float: left;
	display: block;
	clear: both;
	margin: 0 !important;
	padding: 0 1px 2px !important;
	line-height: 1em !important;
}
	
#map-canvas p {
	float: left;
	display: block;
	clear: both;
	margin: 0 !important;
	padding: 0 1px 2px !important;
	font-size: 1em;
	line-height: 1.25em !important;
}

#map-elements {
	margin: 0 0 20px 20px;
	height: 60px;
	width: 900px;
}

#map-select-region {
	float: left;
	display: block;
}
	
#map-legend {
	float: right;
	display: block;
	clear: both;
	margin-top: -20px;
}
		
#map-legend div {
	padding-left: 36px;
	float: left;
	display: block;
	margin-left: 10px;
	height: 40px;
}		

#map-legend p {
	float: left;
	display: block;
	font-size: .8em;
	color: #333;
	padding: 10px 0 0;
	margin: 0;
}
		
#map-legend div#agreement {
	background: url(../images/red-dot.png) left center no-repeat;
}
		
#map-legend div#study-abroad {
	background: url(../images/blue-dot.png) left center no-repeat;
}
		
#map-legend div#faculty-research {
	background: url(../images/green-dot.png) left center no-repeat;
}
		
#map-legend div#location {
	background: url(../images/aqua-dot.png) left center no-repeat;
}
		
#map-legend div#internship {
	background: url(../images/gold-dot.png) left center no-repeat;
}

@media screen and (max-width: 767px) {
	#map-canvas {
		height: 400px;
	}
}