body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }

  to {
    padding: 0;
  }
}

#block-search-form {
	float: right;
	clear: right;
  	margin-top: 20px; 
}

#header {
  z-index: 200;
}

.region-navigation {
  z-index: 2;
  padding: 0;
}

.region-navigation .block-title {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

@media screen and (min-width: 768px) {
  .toggleMenu {
    display: none;
  }

  #block-menu-menu-pitt-links {
    display: block;
  }

  .region-navigation {
    position: relative;
    clear: both;
    width: 100%;
    height: 100%;
    min-height: 30px;
    background-color: #0029b0;
  }

  .region-navigation #block-menu-block-1 {
    font-family: 'MuseoSlab500Regular', 'museo slab', 'Rockwell', sans-serif;
    position: relative;
    z-index: 1;
    width: 100% !important;
    height: 34px;
    margin: 0;
    padding: 0;
    text-rendering: optimizelegibility;
  }

  .region-navigation #block-menu-block-1 .menu {
    height: 34px;
    margin: 0;
    padding: 0;
  }

  .region-navigation #block-menu-block-1 .menu li {
    float: left;
    width: 119px;
    height: 34px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-right: 1px solid #000086;
  }

  .region-navigation #block-menu-block-1 .menu li a {
    font-size: 12.5px;
    font-size: 1.25rem;
    display: block;
    width: 99px;
    height: 26px;
    margin: 0;
    padding: 8px 10px 0;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    text-decoration: none;
    color: #fff;
    border: 0 !important;
    border-right: 1px solid #000086;
    outline: none;
    background-color: #0029b6;
  }

  .region-navigation #block-menu-block-1 .menu li .active,
  .region-navigation #block-menu-block-1 .menu li a:hover {
    -moz-transition-duration: .3s;
    text-decoration: none;
    color: #003;
    background-color: #cc9;
  }

  .region-navigation #block-menu-block-1 .menu li.active a,
  .region-navigation #block-menu-block-1 .menu li.active-trail a {
    padding: 8px 10px 0;
    background: #cc9;
  }

  .region-navigation #block-menu-block-1 .menu li.first {
    border-left: none;
  }

  .region-navigation #block-menu-block-1 .menu li.last {
    border-right: none;
  }

  .region-navigation #block-menu-block-1 .menu li.last ul li a {
    width: 100px;
    border-right: none;
  }

  .region-navigation #block-menu-block-1 .menu li.expanded ul.menu {
    position: relative;
    z-index: 3000;
    display: none;
    width: 120px;
    height: 160px;
    margin: 0;
    padding: 10px 0 0;
    background-color: #0048db;
  }

  .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li {
    float: left;
    clear: left;
    width: 119px;
    height: auto !important;
    min-height: 10px;
    margin: 1px 0;
    padding: 0;
    border-right: 1px dashed #07f;
    border-left: 0 !important;
    background: transparent !important;
  }

  .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-size: 1rem;
    line-height: 1.2em;
    z-index: 3000;
    display: block;
    width: 99px;
    height: auto !important;
    min-height: 10px;
    margin: 0 !important;
    padding: 5px 10px;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    text-decoration: none;
    border: 0 !important;
    border-right: 0 !important;
    outline: none;
    background-color: transparent;
  }

  .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li a:hover {
    text-decoration: underline;
    color: #fff !important;
    background-color: rgba(255, 255, 255, .2) !important;
    text-shadow: 0 0 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  }

  .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li a.active {
    color: #fff !important;
  }

  .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li.first,
  .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li.last {
    border-right: 1px dashed #07f;
  }

  .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li.first a,
  .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li.last a {
    border: none;
  }

  .region-navigation #block-menu-block-1 .menu li.menu-mlid-1290 {
    width: 109px;
  }

  .region-navigation #block-menu-block-1 .menu li.menu-mlid-1290 a {
    width: 89px;
  }

  .region-navigation #block-menu-block-1 .menu li.menu-mlid-1290 ul.menu {
    width: 110px;
  }

  .region-navigation #block-menu-block-1 .menu li.menu-mlid-1290 ul.menu li {
    width: 109px;
  }

  .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291 {
    width: 129px;
  }

  .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291 a {
    width: 109px;
  }

  .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291 ul.menu {
    width: 130px;
  }

  .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291 ul.menu li {
    width: 129px;
  }

  .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291 ul.menu li a {
    width: 119px;
  }
}

@media all and (min-width: 768px) and (max-width: 960px) {
  .region-navigation {
    height: auto !important;
    min-height: auto !important;
  }

  .region-navigation #block-menu-block-1 {
    width: 100%;
    min-width: auto;
    height: auto !important;
  }

  .region-navigation #block-menu-block-1 ul.menu {
    width: 100%;
    height: auto;
  }

  .region-navigation #block-menu-block-1 ul.menu li {
    width: 12.35% !important;
    height: auto;
    padding: 0;
  }

  .region-navigation #block-menu-block-1 ul.menu li a,
  .region-navigation #block-menu-block-1 ul.menu li li.active a,
  .region-navigation #block-menu-block-1 ul.menu li a.active,
  .region-navigation #block-menu-block-1 ul.menu li a:hover {
    font-size: 100% !important;
    width: auto !important;
    height: auto;
    padding: 5px 0 5px 5% !important;
  }

  .region-navigation #block-menu-block-1 ul.menu li.expanded ul.menu {
    width: auto !important;
    padding: 0 !important;
  }

  .region-navigation #block-menu-block-1 ul.menu li.expanded ul.menu li {
    width: auto !important;
    min-height: 0;
    padding-left: 5px !important;
    border-right: 0 !important;
  }

  .region-navigation #block-menu-block-1 ul.menu li.expanded ul.menu li a {
    font-size: 80% !important;
    width: auto !important;
    border-right: 0 !important;
  }

  .region-navigation #block-menu-block-1 ul.menu li.expanded ul.menu li a:hover {
    background-color: none !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    clear: both;
    width: 100%;
    padding: 10px 5px;
  }
.menu-container {
padding: 0;}
  .container a {
    font-family: 'museoslab500regular', sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: normal;
    cursor: pointer;
    transition: color .3s ease-in-out;
    text-decoration: none;
    color: #fff !important;
  }

  .menu {
    padding: 0;
    list-style: none;
    border-bottom: 0;
    background-color: #003;
    background-image: url('../images/menu_bg.jpg');
    background-repeat: repeat-x;
    box-shadow: 0 .05em .25em 0 rgba(0, 0, 0, .35);
    *zoom: 1;
  }

  .menu:before, .menu:after {
    display: table;
    content: ' ';
  }

  .menu:after {
    clear: both;
  }

  .menu a {
    display: block;
    padding: 10px 15px;
    color: #fff;
  }

  .menu li {
    position: relative;
    float: none;
    border-top: 1px dashed #999;
  }

  .menu li a {
    display: block;
    cursor: pointer;
  }

  .menu li ul {
    display: none;
  }

  .menu li ul li a {
    font-size: 12px;
    font-size: 1.2rem;
    position: relative;
    z-index: 100;
    display: block;
    padding: 10px 35px;
    cursor: default;
    transition: color .2s ease-in-out;
    color: #b1b1b1 !important;
  }

  .menu li ul li a:hover {
    color: #06c !important;
    background: rgba(0, 0, 0, .5) !important;
  }

  .menu li:hover, .menu li.hover {
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: box-shadow, color;
    background-color: rgba(0, 0, 0, .5);
    background-image: url('../images/menu_bg.jpg');
    box-shadow: 0 .05em .25em 0 rgba(0, 0, 0, .35);
  }

  .menu li:hover ul li ul, .menu li.hover ul li ul {
    top: 0;
    left: 100%;
  }

  .menu li.parent {
    background-image: url('../images/downArrow.png');
    background-repeat: no-repeat;
    background-position: right;
  }
  
#block-block-4 {
	float: left;
	}
  .toggleMenu, .toggleMenu:visited {
    font-family: 'MuseoSlab500Regular', 'museo slab', 'Rockwell', sans-serif;
	padding: 5px 10px;
    color: #06c !important;
    background-color: #cc9;
    box-shadow: 0 .05em .25em 0 rgba(0, 0, 0, .35);
    margin: 0px 25px 0;
/* 
    float: right;
 */
  }

  .toggleMenu:hover, .toggleMenu:active {
    color: #fff !important;
    background-color: #cc9;
  }

  .active {
    display: block;
  }

  .menu > li.hover > ul, .menu li li.hover ul {
    position: static;
  }

  #block-menu-menu-pitt-links {
    display: none;
  }
}

.region-header #block-menu-menu-pitt-links {
  font-size: 10px;
  font-size: 1rem;
  float: right;
  margin-top: 6px;
}

.region-header #block-menu-menu-pitt-links ul.menu {
  margin: 0;
  padding: 0;
}

.region-header #block-menu-menu-pitt-links .block-title {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.region-header #block-menu-menu-pitt-links li {
  float: left;
  list-style: none;
}

.region-header #block-menu-menu-pitt-links li a {
  padding: 5px;
  -moz-transition-duration: .3s;
  text-decoration: none;
  color: #cc9;
  border-right: 1px solid #40406b;
}

.region-header #block-menu-menu-pitt-links li a.active,
.region-header #block-menu-menu-pitt-links li li a:hover {
  display: inline !important;
  text-decoration: none;
  color: #fff;
}

.region-header #block-menu-menu-pitt-links li.last a {
  border-right: none;
}

.lt-ie9 .toggleMenu, .lt-ie8 .toggleMenu {
  display: none;
}

.lt-ie9 #block-menu-menu-pitt-links, .lt-ie8 #block-menu-menu-pitt-links {
  display: block;
}

.lt-ie9 .region-navigation, .lt-ie8 .region-navigation {
  position: relative;
  clear: both;
  width: 100%;
  height: 100%;
  min-height: 30px;
  background-color: #0029b0;
}

.lt-ie9 .region-navigation #block-menu-block-1,
.lt-ie8 .region-navigation #block-menu-block-1 {
  font-family: 'MuseoSlab500Regular', 'museo slab', 'Rockwell', sans-serif;
  position: relative;
  z-index: 1;
  width: 100% !important;
  height: 34px;
  margin: 0;
  padding: 0;
  text-rendering: optimizelegibility;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu,
.lt-ie8 .region-navigation #block-menu-block-1 .menu {
  height: 34px;
  margin: 0;
  padding: 0;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li {
  float: left;
  width: 119px;
  height: 34px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-right: 1px solid #000086;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li a,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li a {
  font-size: 12.5px;
  font-size: 1.25rem;
  display: block;
  width: 99px;
  height: 26px;
  margin: 0;
  padding: 8px 10px 0;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  text-decoration: none;
  color: #fff;
  border: 0 !important;
  border-right: 1px solid #000086;
  outline: none;
  background-color: #0029b6;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li .active,
.lt-ie9 .region-navigation #block-menu-block-1 .menu li a:hover,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li .active,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li a:hover {
  -moz-transition-duration: .3s;
  text-decoration: none;
  color: #003;
  background-color: #cc9;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.active a,
.lt-ie9 .region-navigation #block-menu-block-1 .menu li.active-trail a,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.active a,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.active-trail a {
  padding: 8px 10px 0;
  background: #cc9;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.first,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.first {
  border-left: none;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.last,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.last {
  border-right: none;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.last ul li a,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.last ul li a {
  width: 100px;
  border-right: none;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu {
  position: relative;
  z-index: 3000;
  display: none;
  width: 120px;
  height: 160px;
  margin: 0;
  padding: 10px 0 0;
  background-color: #0048db;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li {
  float: left;
  clear: left;
  width: 119px;
  height: auto !important;
  min-height: 10px;
  margin: 1px 0;
  padding: 0;
  border-right: 1px dashed #07f;
  border-left: 0 !important;
  background: transparent !important;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li a,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li a {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  font-size: 1rem;
  line-height: 1.2em;
  z-index: 3000;
  display: block;
  width: 99px;
  height: auto !important;
  min-height: 10px;
  margin: 0 !important;
  padding: 5px 10px;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  text-decoration: none;
  border: 0 !important;
  border-right: 0 !important;
  outline: none;
  background-color: transparent;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li a:hover,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li a:hover {
  text-decoration: underline;
  color: #fff !important;
  background-color: rgba(255, 255, 255, .2) !important;
  text-shadow: 0 0 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li a.active,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li a.active {
  color: #fff !important;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li.first,
.lt-ie9 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li.last,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li.first,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li.last {
  border-right: 1px dashed #07f;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li.first a,
.lt-ie9 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li.last a,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li.first a,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.expanded ul.menu li.last a {
  border: none;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1290,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1290 {
  width: 109px;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1290 a,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1290 a {
  width: 89px;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1290 ul.menu,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1290 ul.menu {
  width: 110px;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1290 ul.menu li,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1290 ul.menu li {
  width: 109px;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291 {
  width: 129px;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291 a,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291 a {
  width: 109px;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291 ul.menu,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291 ul.menu {
  width: 130px;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291 ul.menu li,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291 ul.menu li {
  width: 129px;
}

.lt-ie9 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291 ul.menu li a,
.lt-ie8 .region-navigation #block-menu-block-1 .menu li.menu-mlid-1291 ul.menu li a {
  width: 119px;
}
@media all and (max-width:565px) { 
.toggleMenu, .toggleMenu:visited {
    padding: 5px;
    margin: 0 10px 0;
/* 
    float: right;
 */
  }
}
@media screen and (max-width: 960px) {
	  .region-navigation #block-menu-block-1 .menu li  {
		  font-size: 11px;
	  }
}