article .field-image{float:left;padding:0 15px 0 10px 0}article .field-body img{margin:15px 15px 15px 10px;width:auto!important}article .field-body ul{list-style:none;margin:0 10px 12px 10px;padding:0 10px;border-left:1px dashed #999}article .field-body ul li{padding:0 0 5px 0}article .field-body table img{border:none!important;box-shadow:none!important;behavior:none!important;margin:5px!important}article .field-teaser{display:block;margin-bottom:10px;clear:both}article .field-teaser h3{font-size:17px;font-size:1.7rem}article .field-teaser .field-teaser-title{font-size:17px;font-size:1.7rem;color:#333333}article .field-teaser .field-teaser-text,article .field-teaser .field-teaser-title{margin:0 0 15px 135px!important}article .field-teaser .field-teaser-image{float:left;margin-right:10px}article .field-teaser .field-teaser-image img{width:auto!important}.node-article .field-image{float:right;display:inline-block;margin:10px}.node-article .field-image img{width:auto}.node-706 table{border-top:1px dashed #999;margin:9px 0 11px 0!important;width:100%!important}.node-706 table tr{border-bottom:1px dashed #999}.node-706 table tr td{border-left:none!important;padding:5px!important}.node-706 table tr td img{border:none;box-shadow:none;behavior:none}.node-unpublished p.unpublished{height:0;overflow:visible;color:#d8d8d8;font-size:75px;line-height:1;font-family:Impact, "Arial Narrow", Helvetica, sans-serif;font-weight:bold;text-transform:uppercase;text-align:center;word-wrap:break-word}.lt-ie8 .node-unpublished p.unpublished>*{position:relative}


/*Make Video Embedding Responsive --- */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.page-node-3106 h1.title {
	display: none;
}
