body {
    margin: 0;
    padding: 0;
    background-color: #000033;
    color: #666666;
}
#skip-link {
    margin: 0;
}
#skip-link a, #skip-link a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
}
#header-wrapper {
    background-image: url(../images/bg_header_gradient.jpg);
    background-repeat: repeat-x;
    background-color: #000086;
}
#header {
    background-color: transparent;
    height: 100%}
#logo {
    padding: 20px 0 20px 20px;
    float: left;
 }
#logo img {
    width: auto\9;
    max-width: 450px;
}
#main {
    background-image: url(../images/bg_page.png);
    background-repeat: no-repeat;
    background-color: #fdfdfd;
    background-position: center top;
    background-width: 100%;
    background-height: 100%}
#content-wrapper {
    border-top: 7px solid #CCCC9A;
    behavior: url(/sites/all/themes/pitt/scripts/PIE.htc);
    background-image: url(../images/bg_content.jpg), url(../images/bg_content.jpg);
    background-repeat: no-repeat,  no-repeat;
    background-position: left top,  right top;
    background-color: #fff;
}
.main-top {
    margin-left: 7px;
    margin-right: 7px;
}
.main-bottom {
    clear: both;
    margin-left: 2%;
    margin-right: 2%;
    border-top: 1px dashed #999999;
    padding-top: 30px;
}
.content-bottom {
    clear: both;
}
.front .right-sidebar {
    position: relative;
    z-index: 2;
}
#footer-wrapper {
    background-image: url(../images/bg_footer.jpg);
    background-repeat: repeat-x;
    background-color: #000033;
}
#footer-inside {
    background-color: transparent;
    padding: 20px 0 40px 0;
}
.breadcrumb ol {
    margin: 0;
    padding: 0;
}
.breadcrumb li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1.title, h2.node-title, h2.block-title, h2.title, h2.comment-form, h3.title {
    margin: 0;
}
h2.block-title {
    font-size: 17px;
    font-size: 1.7rem;
}
h1.title {
    padding-left: 75px!important;
    margin-bottom: 20px!important;
    margin-top: 6px!important;
}
table {
    margin: 0 0 12px 0;
}
table th {
    padding: 10px 0;
}
table tr.even {
    background-color: #eee;
}
table tr.odd {
    background-color: #cccccc;
}
table td {
    border-left: 1px dashed #999999;
    padding: 5px 30px 5px 10px;
}
.with-border {
    border-bottom: 1px dashed #ccc;
    border-top: 1px dashed #ccc;
    border-right: 1px dashed #999;
}
.with-border td {
    border-left: 1px dashed #999999;
}
.with-border tr {
    border-bottom: 1px dashed #ccc;
}
.without-border td {
    border-left: none;
}
.without-border tr.even, .without-border tr.odd {
    background-color: none;
}
div.messages {
    margin: 1.5em 0;
}
div.messages ul {
    margin-top: 0;
    margin-bottom: 0;
}
.not-logged-in .message {
    display: none;
}
.not-logged-in .error {
    display: none;
}
.not-logged-in.page-user .error {
    display: block!important;
}
.not-logged-in.page-user .message {
    display: block!important;
}
ul.inline {
    display: inline;
    padding: 0;
}
ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0 5px 0 0;
}
span.field-label {
    padding: 0 1em 0 0;
}
.item-list .pager {
    padding: 0;
}
.item-list .pager li {
    padding: 0 5px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
#content img {
    *margin-bottom: 10px;
    behavior: url(/sites/all/themes/pitt/scripts/PIE.htc);
    -webkit-box-shadow: 1px 2px 5px 3px #adadad;
    -moz-box-shadow: 1px 2px 5px 3px #adadad;
    box-shadow: 1px 2px 5px 3px #adadad;
    border: 5px solid #fff;
    position: relative\9;
}
.front #content {
    position: relative;
    z-index: 2;
}
@-moz-document url-prefix() {
    .field-body img {
    width: auto;
}
}.front #page-title, .page-node-64 #page-title {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,  1px,  1px,  1px);
}
.list-column {
    float: left;
    width: 50%}
.yellow {
    color: #ffff00!important;
}
.big_font {
    font-size: 16px;
    font-size: 1.6rem;
    color: #333333;
    font-weight: bold;
}
.bigger_font {
    font-size: 18px;
    font-size: 1.8rem;
    color: #333333;
    font-weight: bold;
}
.feature_big {
    font-size: 60px;
    font-size: 6rem;
}
.feature_medium {
    font-size: 30px;
    font-size: 3rem;
}
.small {
    font-size: 95%}
#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-container-horizontal, #block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-container-horizontal {
    padding: 10px 37px 20px 37px!important;
}
#block-views-taxonomy-pages-block-3 {
    margin-bottom: 30px!important;
}
.add-caption {
    margin: 15px;
    display: block;
}
.add-caption img {
    margin: 0!important;
    margin-left: -10px \9 !important;
    margin-bottom: 5px\9!important;
    margin-left: -10px !important \9;
    margin-bottom: 5px!important\9;
}
.add-caption .caption {
    font-size: 10px;
    font-size: 1rem;
    display: block;
}
.add_top {
    padding-top: 25px;
}
.bulleted-list  {
     list-style:  disc outside none !important;
     margin:  0 10px 12px 0 !important;
     padding-left:  30px !important;
     border-left:  none !important;
 }
