/**
 * @file
 * Quicktabs Styling
 *
 * Adds styles for the Quicktabs view displays.
 * Adapted from Sky tab style.
 */

#block-quicktabs-academics, #block-quicktabs-qt-achievements{margin-top:26px;}

/* Top-level tabs */

ul.quicktabs-tabs {
  padding: 0;
}

div.quicktabs-wrapper .item-list ul {
  margin:0 0 -26px 0;
  height:55px;
}

ul.quicktabs-tabs li {
  padding: 0;
  padding: 17px 0;
}

ul.quicktabs-tabs li:active {
	position:relative;
	z-index:5;
}

ul.quicktabs-tabs li a {
  font-family: 'MuseoSlab500Regular','museo-slab','Rockwell',serif;
  font-style: normal;
  font-weight: normal;
  font-size:14px;font-size:1.4rem; /* 14px */
  padding: 17px;
  background-color:#999999;
  -webkit-box-shadow: 1px 2px 2px 3px #686868;
  -moz-box-shadow: 1px 2px 2px 3px #686868;
  box-shadow: 1px 2px 2px 3px #686868;
  *behavior:url(/sites/all/themes/pitt/scripts/PIE.htc);/*IE7*/
  behavior:url(/sites/all/themes/pitt/scripts/PIE.htc)\0/IE9;  /* IE9 + IE10pp4 */
  behavior:none\9;/*IE8*/
}

ul.quicktabs-tabs li a,
ul.quicktabs-tabs li a:visited {
  background: #999;
  color: #fff;
}

ul.quicktabs-tabs li a:hover,
ul.quicktabs-tabs li.active a {
  text-decoration: none;
  background: #666;
  border-left: 7px solid #FFFFFF;
  border-right: 7px solid #FFFFFF;
  border-top: 7px solid #FFFFFF;
  -webkit-box-shadow: -3px -2px 2px 0 #ADADAD;
  -moz-box-shadow: -3px -2px 2px 0 #ADADAD;
  box-shadow: -3px -2px 2px 0 #ADADAD;
  *behavior:url(/sites/all/themes/pitt/scripts/PIE.htc);/*IE7*/
  behavior:url(/sites/all/themes/pitt/scripts/PIE.htc)\0/IE9;  /* IE9 + IE10pp4 */
  behavior:none\9;/*IE8*/
  position: relative;
  z-index: 10;
}

	ul.quicktabs-tabs li a,
	ul.quicktabs-tabs li a:visited {
		position:relative\9;  /*IE*/
  		 z-index:1\0/IE9;  /* IE9 + IE10pp4 */
		 *z-index:1; /*IE7*/
		 z-index:1\9;  /*IE*/
	}

ul.quicktabs-tabs li.last a:hover, ul.quicktabs-tabs li.last a:active{
	-webkit-box-shadow: 1px -2px 2px 0 #ADADAD!important;
  	-moz-box-shadow: 1px -2px 2px 0 #ADADAD!important;
  	box-shadow: 1px -2px 2px 0 #ADADAD!important;
	*behavior:url(/sites/all/themes/pitt/scripts/PIE.htc);/*IE7*/
  	behavior:url(/sites/all/themes/pitt/scripts/PIE.htc)\0/IE9;  /* IE9 + IE10pp4 */
  	behavior:none\9;/*IE8*/
}

div.quicktabs-tabpage article section p:first-child {
  margin-top: 0;
}

div.quicktabs-tabpage {
  background: #e2e2e2;
  padding: 30px 15px 15px 15px;
}
div.quicktabs-tabpage .left {
    clear: left;
  }
  /*Inside the container quick tabs ul --- */

#quicktabs-container-academics ul.quicktabs-tabs {
  padding: 0;
}

div.quicktabs-wrapper #quicktabs-container-academics .item-list ul {
  margin:-5px 0 20px 0!important;
  height:auto;
}

#quicktabs-container-academics ul.quicktabs-tabs li {
  padding: 0;
}

#quicktabs-container-academics ul.quicktabs-tabs li:active {
}

#quicktabs-container-academics ul.quicktabs-tabs li a {
  font-family: verdana, serif;
  font-style: normal;
  font-weight: normal;
  font-size:11px;font-size:1.1rem; /* 11px */
  padding: 0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  behavior:none;
}

#quicktabs-container-academics ul.quicktabs-tabs li a,
#quicktabs-container-academics ul.quicktabs-tabs li a:visited {
  background: none;
  color: #fff;
}

#quicktabs-container-academics ul.quicktabs-tabs li a:hover,
#quicktabs-container-academics ul.quicktabs-tabs li.active a {
  text-decoration: none;
  background: #666;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  behavior:none;
  border:none;
}

#quicktabs-container-academics ul.quicktabs-tabs li.last a:hover, #quicktabs-container-academics ul.quicktabs-tabs li.last a:active{
	-webkit-box-shadow:none!important;
  	-moz-box-shadow:none!important;
  	box-shadow:none!important;
	behavior:none!important;
}

/* QT Departments (Nested tabs) */

#quicktabs-qt_departments div.quicktabs-tabpage {
  padding: 0;
}

#quicktabs-qt_departments.quicktabs-wrapper {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  behavior:none;
  border: none;
}

#quicktabs-qt_departments div.item-list ul {
  margin: 0;
  font-size:11px;font-size:1.1rem;/*11px*/
}

#quicktabs-qt_departments ul.quicktabs-tabs li a {
  padding: 0;
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
}

#quicktabs-qt_departments ul.quicktabs-tabs li a,
#quicktabs-qt_departments ul.quicktabs-tabs li a:visited {
  background: none;
  color: #06c;
}

#quicktabs-qt_departments ul.quicktabs-tabs li a:hover {
  text-decoration: underline;
}

#quicktabs-qt_departments ul.quicktabs-tabs li a:hover,
#quicktabs-qt_departments ul.quicktabs-tabs li.active a,
#quicktabs-qt_departments ul.quicktabs-tabs li.active a:hover {
  background: none;
  border-bottom: none;
}

#quicktabs-qt_departments h3 {
  margin-bottom:15px !important;
  font-size:22px!important;font-size:2.2rem!important;/*22px*/
}

/* Departments & Programs Alpha Sort */

#quicktabs-tabpage-qt_departments-0 table,
#quicktabs-tabpage-qt_departments-0 table tr,
#quicktabs-tabpage-qt_departments-0 table tr td {
  background: #e2e2e2;
}

#quicktabs-tabpage-qt_departments-0 .jump {
  font-size:11px;font-size:1.1rem;/*11px*/
  padding-right:10px;
}

#quicktabs-tabpage-qt_departments-0 .jump a {
  font-size:18px;font-size:1.8rem;/*18px*/
  padding-right: 10px;
}

#quicktabs-tabpage-qt_departments-0 table {
  margin-top: 40px;
}

#quicktabs-tabpage-qt_departments-0 table tr td {
  border-left: none;
  vertical-align: top;
  padding: 0 10px;
}

#quicktabs-tabpage-qt_departments-0 table tr td.dept-column {
  border-left: 1px dashed #999;
  font-size:11px;font-size:1.1rem;/* 11px */
  width: 21%;
}

#quicktabs-tabpage-qt_departments-0 table tr td.dept-letter {
  font-family: 'MuseoSlab500Regular','museo-slab','Rockwell',serif;
  font-style: normal;
  font-weight: normal;
  font-size:44px;font-size:4.4rem;/*44px*/
  line-height: .9;
  color: #999;
  padding-left: 0;
  width: 16%;
}

#quicktabs-tabpage-qt_departments-0 table tr.even,
#quicktabs-tabpage-qt_departments-0 table tr.odd {
  border-bottom: none;
}

#quicktabs-tabpage-qt_departments-0 table tr.odd {
  height: 3em;
}

#quicktabs-tabpage-qt_departments-0 table ul {
  padding: 0!important;
  margin: 0!important;
  border-left:none!important;
  list-style-type: none;
}

#quicktabs-tabpage-qt_departments-0 table ul li {
  padding-bottom: 5px;
}

/* Departments & Programs School Sort */
#quicktabs-tabpage-qt_departments-1 div.dept-col1 h3, #quicktabs-tabpage-qt_departments-1 div.dept-col2 h3{
	font-size:17px!important;font-size:1.7rem!important;/*17px*/
	margin-bottom:5px!important;
}
#quicktabs-tabpage-qt_departments-1 div.dept-col1 {
  width: 50%;
  float: left;
}

#quicktabs-tabpage-qt_departments-1 div.dept-col2 {
  width: 50%;
  float: right;
}

#quicktabs-tabpage-qt_departments-1 ul {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 12px;
  list-style-type: none;
  font-size:11px;font-size:1.1rem;/*11px*/
  border-left: 1px dashed #999;
}

#quicktabs-tabpage-qt_departments-1 ul li {
  padding-bottom: 5px;
}

#quicktabs-container-academics, #quicktabs-container-qt_achievements{
	-webkit-box-shadow: 1px 2px 5px 3px #686868;
	-moz-box-shadow: 1px 2px 5px 3px #686868;
	box-shadow: 1px 2px 5px 3px #686868;
	behavior:url(/sites/all/themes/pitt/scripts/PIE.htc);
	border: 7px solid #fff;
	position:relative;
	z-index:1;
}

@media screen and (max-width: 767px) {
	#block-quicktabs-qt-achievements {
		margin-top: 0;
	}
	.block-quicktabs {
		-webkit-box-shadow: 1px 2px 2px 3px #686868;
		-moz-box-shadow: 1px 2px 2px 3px #686868;
		box-shadow: 1px 2px 2px 3px #686868;
		border: 7px solid #FFFFFF
	}
	div.quicktabs-wrapper .item-list > ul.quicktabs-tabs {
		height: auto;
		margin: 0 0 7px;
	}
	ul.quicktabs-tabs li {
		display: inline;
		box-shadow: none !important;
	}

	ul.quicktabs-tabs li a, #quicktabs-container-academics, #quicktabs-container-qt_achievements {
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		border: none;
	}
		ul.quicktabs-tabs li a {
		font-size:14px;font-size:1.4rem; /* 14px */
		border-bottom: 1px solid #fff;
	}
	ul.quicktabs-tabs li a:hover, ul.quicktabs-tabs li.active a {
		border-width: 0 0 1px;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
	#quicktabs-tabpage-qt_departments-0 .jump a {
		display: inline-block;
	}
	#quicktabs-qt_departments ul.quicktabs-tabs li {
		display: inline-block;
		}

	#quicktabs-qt_departments ul.quicktabs-tabs li a {
		border-bottom: none;
	}
	#quicktabs-tabpage-qt_departments-0 table tr td.dept-letter {
		display: block;
		font-size; 24px;
		margin-bottom: 10px;
	}
	#quicktabs-tabpage-qt_departments-0 table tr td {
		display: inline-block;
		width: 40% !important;
	}
}
@media screen and (min-width: 768px) and (max-width: 960px) {
	div.quicktabs-wrapper .item-list ul {
		height: auto;
		margin: 0 0 -20px;
	}
	ul.quicktabs-tabs li {
		display: inline-block;
		border-bottom: 1px solid #686868;

	}
	ul.quicktabs-tabs li a {
		font-size:12px; /* 10px */
	}
}
