#wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#header-wrapper, #main, #footer-wrapper {
  clear: both;
  width: 100%;
}

#header-wrapper {
  min-height: 124px;
}

#footer-wrapper {
  min-height: 155px;
}

#header, #content-wrapper, #footer-inside {
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

#content, .right-sidebar, .left-sidebar {
  padding: 15px 0 30px 0;
}

.front #content, .front .right-sidebar, .front .left-sidebar {
  padding: 15px 0 45px 0;
}

:root #content, :root .front .right-sidebar, :root .front .left-sidebar {
  padding-top: 15px \0/IE9;
}

.right-sidebar, .left-sidebar {
  padding: 81px 0 30px 0;
  padding-top: 75px\9;
}

:root .right-sidebar, :root .left-sidebar {
  padding-top: 81px \0/IE9;
}

.logged-in .right-sidebar, .logged-in .left-sidebar {
  padding: 71px 0 30px 0;
}

.front.logged-in .right-sidebar {
  padding: 15px 0 30px 0 !important;
}

#content {
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
}

.sidebar-first .left-sidebar {
  float: left;
  width: 25%;
  margin-right: 3%;
  margin-left: 2%;
}

.sidebar-first #content {
  float: left;
  width: 70%;
  margin-right: -100%;
  margin-left: 30%;
}

.sidebar-second .right-sidebar {
  float: left;
  width: 24.8%;
  margin-right: -100%;
  margin-left: 71.2%;
  margin-left: 70%\9;
  *margin-left: 71.2%;
}

.sidebar-second .right-sidebar:nth-child(n) {
  margin-left: 71.2% \9;
}

.sidebar-second #content {
  float: left;
  width: 68.2%;
  margin-right: -68.2%;
  margin-left: 2%;
}

.two-sidebars .left-sidebar {
  float: left;
  width: 25%;
  margin-right: 2%;
  margin-left: 2%;
}

.two-sidebars .right-sidebar {
  float: left;
  width: 25%;
  margin-right: 2%;
  margin-left: 2%;
}

.two-sidebars #content {
  float: left;
  width: 42%;
}

:root .sidebar-second .right-sidebar:nth-child(n) {
  margin-left: 71.2% \0/IE9;
}

@media all and (min-width: 960px) {
  .hidden-large {
	  display: none !important;
  }
  #main {
    min-height: 800px;
  }

  #content-wrapper {
    min-height: 400px;
  }
}
@media all and (max-width:767px) {
	  .hidden-small {
		  display: none !important;
	}
	.responsive-block img {
		max-width: 100%;
		height: auto !important;
	}
	.region-header {
		float: none;
		clear: both;
	}
	#block-search-form {
		margin: 0 10px !important;
	}
  }
@media all and (max-width:875px) {
  #content {
    clear: both;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    padding: 15px 0 0 0;
  }

  .sidebar-second .right-sidebar {
    clear: both;
    width: 96%;
    margin-right: 2% !important;
    margin-left: 2% !important;
    padding: 0;
  }

  .sidebar-second #content {
    clear: both;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    padding: 15px 0 0 0;
  }

  .right-sidebar .nodesinblock, .right-sidebar .block-block,
  .right-sidebar .block-views {
    position: relative;
    width: 44%;
    float: left;
    margin: 0 1% 20px !important;
  }

  /*.right-sidebar .nodesinblock.odd, .right-sidebar .block-block.odd,
  .right-sidebar .block-views.odd {
    float: left;
    clear: right !important;
    margin: 0 2% 20px 0 !important;
  }

  .right-sidebar .nodesinblock.even, .right-sidebar .block-block.even,
  .right-sidebar .block-views.even {
    float: right;
    margin: 0 0 20px 2% !important;
  }*/

  .front .right-sidebar .block.odd {
    clear: none;
  }

  .front .right-sidebar #block-block-3.block,
  .front .right-sidebar #block-views-homepage-headlines-block-1.block,
  .front .right-sidebar #block-views-homepage-headlines-block-2 {
    float: none !important;
    width: 91% !important;
    margin: 0 0 20px 0 !important;
    padding: 4.5% !important;
  }

  .front .right-sidebar #nodesinblock-13 {
    width: 100%;
    margin: 0 0 20px 0 !important;
  }

  .front .right-sidebar #block-block-3 {
    padding: 15px 20px 0 20px;
  }

  .front .right-sidebar #block-block-3 .list-column {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .front .right-sidebar #block-block-3 .list-column li {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px dashed #808aad;
    border-bottom: none;
  }

  .front .right-sidebar #block-block-3 .list-column li a br {
    display: none !important;
  }

  #block-views-homepage-slideshow-block-1 {
    height: auto !important;
    margin-bottom: 0 !important;
  }

  #block-views-homepage-slideshow-block-1 .views-field-nothing {
    position: absolute !important;
    top: 115px !important;
    left: 0 !important;
    width: auto !important;
    height: auto !important;
  }

  #block-views-homepage-slideshow-block-1 .views-field-nothing .slider_desc {
    font-size: 11px;
    font-size: 1.1rem;
  }

  #block-views-homepage-slideshow-block-1 .views-field-nothing .slider_title {
    font-size: 13px;
    font-size: 1.3rem;
  }

  #block-views-homepage-slideshow-block-1 .view-homepage-slideshow .views-slideshow-controls-bottom,
  #block-views-taxonomy-pages-block-4 .views-slideshow-controls-bottom {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
  }

  #block-views-homepage-headlines-block {
    margin-top: 225px;
    margin-right: 1.5%;
  }

  #block-views-taxonomy-pages-block-4, #block-views-taxonomy-pages-block-5,
  #block-views-taxonomy-pages-block-6 {
    margin: 0 1.5% 0 0;
  }
}

@media all and (max-width:565px) {
  .front .list-column {
    float: none !important;
    width: 100% !important;
    border-right: none !important;
    min-height: auto !important;
  }

  .front .list-column li {
    float: none !important;
    border-right: none !important;
    display: inline-block;
    width: 50%;
  }
  .front .list-column li.add_top {
  	padding-top: 0;
  	margin-top: -5px;
  }

  #block-views-homepage-headlines-block .views-row {
    width: 80% !important;
    margin: 0 10% !important;
  }

  #block-views-homepage-headlines-block .views-row-first {
    margin-bottom: 20px !important;
  }

  #block-nodesinblock-4 {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
  }

  #block-nodesinblock-4 .nodesinblock {
    float: none !important;
    clear: both;
    width: 100% !important;
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
    text-align: center;
    border: none !important;
  }

  .right-sidebar .nodesinblock, .right-sidebar .block-block,
  .right-sidebar .block-views {
    position: relative;
    width: 96%;
    margin: 0 2% 20px 2% !important;
    border: none !important;
  }

  .right-sidebar .nodesinblock.odd, .right-sidebar .block-block.odd,
  .right-sidebar .block-views.odd {
    float: none;
    clear: both !important;
    margin: 0 2% 20px 2% !important;
  }

  .right-sidebar .nodesinblock.even, .right-sidebar .block-block.even,
  .right-sidebar .block-views.even {
    float: none;
    margin: 0 2% 20px 2% !important;
  }

  #header #logo {
    float: left !important;
    clear: both !important;
/* 
    width: 75% !important;
 */
    padding: 5px 5px 20px !important;
  }

  #header .region-header {
    float: none !important;
    clear: both !important;
    width: 100% !important;
  }

  #header .region-header #block-menu-menu-pitt-links {
    float: left !important;
  }

  #header .region-header #block-search-form {
/* 
    float: left !important;
    clear: both !important;
 */
    margin-top: 5px !important;
  }

  #header .region-header #block-search-form .form-item #edit-search-block-form--2 {
    width: auto !important;
  }
}

@media all and (min-width: 480px) and (max-width: 959px) {
  #header-wrapper {
    min-height: 124px;
  }

  #footer-wrapper {
    min-height: 155px;
  }

  .region-header {
    position: relative;
/* 
    float: left;
    width: 40%;
 */
  }

  #logo {
    position: relative;
/* 
    width: 50%;
 */
  }
}

@media all and (max-width:420px), only screen and (max-device-width : 320px) {
    .hidden-extrasmall {
	  display: none !important;
  }
  #main, #content-wrapper {
    background-image: none !important;
  }

  #header #logo {
    padding: 10px 5px;
  }

  #header .region-header {
    float: none;
    clear: both;
    width: 100%;
  }

  #header .region-header #block-menu-menu-pitt-links {
    display: none;
  }

  #header .region-header #block-search-form {
/* 
    float: left;
 */
    clear: none;
    margin: 0 5px 15px 5px;
  }

  #main h1.title {
    padding-left: 0 !important;
  }

  #main .add_top {
    padding-top: 0 !important;
    margin-top: -5px;
  }

  .list-column {
    float: none !important;
    width: 100% !important;
    min-height: auto !important;
  }
  .front .list-column li {
    float: none !important;
    border-right: none !important;
    width: 100%;
  }
  .field-teaser-image {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
  }

  .field-teaser-text, .field-teaser-title {
    margin: 0 0 15px 0 !important;
  }

  .teaser-with-image {
    margin-left: 0 !important;
  }

  table td img {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
  }
  #block-views-homepage-headlines-block {
	  margin-top: 0;
  }
  #content img {
    border: none !important;
  }

  #block-block-3 .list-column {
    float: none !important;
    width: 100% !important;
    margin-right: 0;
  }

  #block-block-3 .list-column li {
    float: none !important;
    margin-right: 10px;
    padding-right: 10px;
    border-right: none;
    border-bottom: 1px dashed #808aad;
  }

  #block-block-3 .list-column li a br {
    display: block !important;
  }

  #block-block-3 .clear {
    clear: none !important;
  }

  #block-views-homepage-slideshow-block-1 {
    z-index: auto !important;
    min-height: 250px !important;
  }

  #block-views-homepage-slideshow-block-1 .views-slideshow-cycle-main-frame-row {
    width: auto !important;
  }

  #block-views-homepage-slideshow-block-1 .views-field-nothing {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    display: block !important;
    overflow: auto !important;
    width: 97% !important;
    height: auto !important;
    margin: 0 1% 10px 1%;
    padding: 0 !important;
    color: #003 !important;
    background-image: none !important;
    background-repeat: no-repeat !important;
  }

  #block-views-homepage-slideshow-block-1 .views-field-nothing .slider_desc a {
    color: #06c !important;
  }

  #block-views-taxonomy-pages-block-4 .field-slideshow-image img,
  #block-views-taxonomy-pages-block-4 .field-single-image img,
  #block-views-taxonomy-pages-block-5 .field-slideshow-image img,
  #block-views-taxonomy-pages-block-5 .field-single-image img,
  #block-views-taxonomy-pages-block-6 .field-slideshow-image img,
  #block-views-taxonomy-pages-block-6 .field-single-image img,
  #block-nodesinblock-0 .field-slideshow-image img,
  #block-nodesinblock-0 .field-single-image img {
    width: 100%;
  }

  #block-nodesinblock-4 {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
  }

  #block-nodesinblock-4 .nodesinblock {
    float: none !important;
    clear: both;
    width: 100% !important;
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
    text-align: center;
    border: none !important;
  }

  .right-sidebar .nodesinblock, .right-sidebar .block-block,
  .right-sidebar .block-views {
    position: relative;
    width: 96%;
    margin: 0 2% 20px 2%;
  }

  .right-sidebar .nodesinblock.odd, .right-sidebar .block-block.odd,
  .right-sidebar .block-views.odd {
    float: none;
    clear: both !important;
    margin: 0 2% 20px 2% !important;
  }

  .right-sidebar .nodesinblock.even, .right-sidebar .block-block.even,
  .right-sidebar .block-views.even {
    float: none;
    margin: 0 2% 20px 2% !important;
  }
}

@media only screen and (max-device-width : 320px) {
  #block-views-taxonomy-pages-block-2, #block-views-study-abroad-slideshow-block,
  #block-views-taxonomy-pages-block-9, #block-views-taxonomy-pages-block-8,
  html .views-slideshow-controls-bottom {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
  }

  #block-views-homepage-headlines-block, #block-block-1, #block-block-3 {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
  }

  #block-quicktabs-academics, #block-quicktabs-qt-achievements {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
  }

  #block-views-homepage-slideshow-block-1 .views-field-nothing {
    max-width: 315px;
  }

  .list-column {
    min-height: 10px !important;
  }
}
@media screen and (max-width: 959px) {
	  .hidden-medium {
	  	display: none !important;
	  }
  }
