/* Text Only (Big)
---------------------*/

#block-views-taxonomy-pages-block-2 {
  color: #333;
  border-bottom: 1px dashed #999;
  margin-bottom:30px;
}

#block-views-taxonomy-pages-block-2 .views-row {
  margin-bottom: 0;
}

#block-views-taxonomy-pages-block-2 .views-row h3 {
  font-size:12.5px;font-size: 1.25rem;/*12.5*/
  margin-bottom: 0;
}

#block-views-taxonomy-pages-block-2 .jcarousel-skin-default {
  text-align: center;
}

#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-container-horizontal {
  width: 580px;
  height: 130px;
  padding: 10px 37px 20px;
}

#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 580px;
  overflow: hidden;
}

#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-item {
  padding: 0;
  width: 580px;
  height: 130px;
  overflow: hidden;
  list-style: none;
  background: #fff none;
  border: none;
}

#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-item p {
  font-family: 'MuseoSlab500Regular','museo-slab',serif;
  font-style: normal;
  font-weight: normal;
  font-size:27px;font-size: 2.7rem;/*27px*/
  line-height: 1.125em;
  text-align: left;
  margin: 0 30px;
}

#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0;
}

#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-item-placeholder {
  color: #000;
}

/**
 * Buttons
 */
#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-next,
#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-prev {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../images/slider-arrows.png);
}

#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-next-disabled,
#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-prev-disabled {
  display: none;
}

/**
 * Horizontal Buttons
 */
#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-prev-horizontal {
  position: absolute;
  top: 40px;
  left: 0px;
  background-position: 0 0;
}

#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  background-position: -48px 0;
}

#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-prev-horizontal:active {
  background-position: -96px 0;
}

#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-next-horizontal {
  position: absolute;
  top: 40px;
  right: 0;
  background-position: 0 -48px;
}

#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-next-horizontal:hover {
  background-position: -48px -48px;
}

#block-views-taxonomy-pages-block-2 .jcarousel-skin-default .jcarousel-next-horizontal:active {
  background-position: -96px -48px;
}


/* Text Only (Small)
------------------------*/

#block-views-taxonomy-pages-block-3 {
  color: #333;
  border-bottom: 1px dashed #999;
  margin-bottom:30px;
}

#block-views-taxonomy-pages-block-3 .attachment-before {
  display: none;
}  

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default {
  text-align: center;
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-container-horizontal {
  width: 580px;
  height: 140px;
  padding:10px 37px 20px 37px;
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 580px;
  overflow: hidden;
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-item {
  padding: 0;
  margin: 0;
  width: 580px;
  height: 140px;
  overflow: hidden;
  list-style: none;
  background: #fff none;
  border: none;
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-item p {
  padding: 10px 20px 0;
  margin: 0;
  text-align: left;
  font-family: 'MuseoSlab500Regular','museo-slab',serif;
  line-height: 1.2em;
  width: 150px;
  height: 140px;
  float: left;
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-item p:nth-child(2) {
  border-right: 1px dashed #999;
  border-left: 1px dashed #999;
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-item p span.feature_small {
  float: left;
  clear: both;
  font-size:12px;font-size:1.2rem;/*12px*/
  line-height: 1.25em;
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-item p span.feature_medium {
  float: left;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size:25px;font-size:2.5rem;/*25px*/
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-item p span.feature_big {
  float: left;
  *float:none;/*IE7*/
  display: block;
  margin-top: 6px;
  margin-bottom: 18px;
  font-size:40px;font-size:4rem;/*40px*/
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0;
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-item-placeholder {
  color: #000;
}

/**
 * Buttons
 */
#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-next,
#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-prev {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../images/slider-arrows.png);
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-next-disabled,
#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-prev-disabled {
  display: none;
}

/**
 * Horizontal Buttons
 */
#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-prev-horizontal {
  position: absolute;
  top: 50px;
  left: 0px;
  background-position: 0 0;
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  background-position: -48px 0;
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-prev-horizontal:active {
  background-position: -96px 0;
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-next-horizontal {
  position: absolute;
  top: 50px;
  right: 0px;
  background-position: 0 -48px;
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-next-horizontal:hover {
  background-position: -48px -48px;
}

#block-views-taxonomy-pages-block-3 .jcarousel-skin-default .jcarousel-next-horizontal:active {
  background-position: -96px -48px;
}


/* Image Only
-----------------*/

#block-views-taxonomy-pages-block-8 {
  border-bottom: 1px dashed #999;
  margin-bottom:25px;
}

#block-views-taxonomy-pages-block-8 .block-title {
  font-size:12px;font-size:1.2rem;/*12px*/
  margin: 0;
  line-height: 1em;
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default {
  text-align: center;
  width: 100%;
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-container-horizontal {
  width: 580px;
  height: 140px;
  padding: 10px 37px 7px !important;
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 580px;
  overflow: hidden;
  text-align: center;
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-item {
  text-align: left;
  padding: 6px 0 0;
  width: 136px;
  height: 140px;
  overflow: hidden;
  list-style: none;
  background: #fff none;
  border: none;
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-item .field-slider-image {
  padding: 0;
  text-align: center;
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-item img {
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 6px 1px #adadad;
  -moz-box-shadow: 0 0 6px 1px #adadad;
  box-shadow: 0 0 6px 1px #adadad;
  behavior:url(/sites/all/themes/pitt/scripts/PIE.htc);
  width:115px!important;
}
:root #block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-item img {border: 5px solid #fff\0/IE9; }  /* IE9 + IE10pp4 */

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-item a {
  font-size:11px;font-size:1.1rem;/*11px*/
  font-weight: 400;
  line-height: 1.25em;
  padding-left: 10px;
  padding-left:15px\9;/*IE*/
  padding-top:5px\9;/*IE*/
  padding-top: 2px;
  display: block;
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-item a.image-slider-link {
  font-size:11px;font-size:1.1rem;/*11px*/
  font-weight: 400;
  padding: 0;
  display: block;
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0 5px 0 4px;
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-item-placeholder {
  color: #000;
}

/**
 * Buttons
 */
#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-next,
#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-prev {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../images/slider-arrows.png);
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-next-disabled,
#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-prev-disabled {
  display: none;
}

/**
 * Horizontal Buttons
 */
#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-prev-horizontal {
  position: absolute;
  top: 44px;
  left: 0px;
  background-position: 0 0;
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  background-position: -48px 0;
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-prev-horizontal:active {
  background-position: -96px 0;
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-next-horizontal {
  position: absolute;
  top: 44px;
  right: 0;
  background-position: 0 -48px;
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-next-horizontal:hover {
  background-position: -48px -48px;
}

#block-views-taxonomy-pages-block-8 .jcarousel-skin-default .jcarousel-next-horizontal:active {
  background-position: -96px -48px;
}


/* Student experience video slider */
#block-views-taxonomy-pages-block-1 {
  border-bottom: 1px dashed #999;
  margin-bottom:30px;
}

#block-views-taxonomy-pages-block-1 .views-row h3 {
  margin-bottom: 0;
}

#block-views-taxonomy-pages-block-1 .block-title {
  font-size:12px;font-size:1.2rem;/*12px*/
  margin: 0;
  line-height: 1em;
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default {
  text-align: center;
  width: 100%;
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-container-horizontal {
  width: 580px;
  height: 140px;
  padding: 0px 37px 20px !important;
  margin-top: 0;
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 580px;
  overflow: hidden;
  text-align: center;
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-item {
  text-align: left;
  padding: 0;
  width: 136px;
  height: 140px;
  overflow: hidden;
  list-style: none;
  background: #fff none;
  border: none;
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-item .field-slider-image {
  padding: 10px 0 0;
  text-align: center;
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-item img {
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 6px 1px #adadad;
  -moz-box-shadow: 0 0 6px 1px #adadad;
  box-shadow: 0 0 6px 1px #adadad;
  behavior:url(/sites/all/themes/pitt/scripts/PIE.htc);
  width:115px!important;
}
:root #block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-item img {border: 5px solid #fff\0/IE9; }  /* IE9 + IE10pp4 */

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-item a {
  font-size:11px;font-size:1.1rem;/*11px*/
  font-weight: 400;
  line-height: 1.25em;
  padding-left: 10px;
  padding-top: 2px;
  display: block;
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-item a.image-slider-link {
  font-size:11px;font-size:1.1rem;/*11px*/
  font-weight: 400;
  padding: 0;
  display: block;
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0 5px 0 4px;
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-item-placeholder {
  color: #000;
}

/**
 * Buttons
 */
#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-next,
#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-prev {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../images/slider-arrows.png);
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-next-disabled,
#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-prev-disabled {
  display: none;
}

/**
 * Horizontal Buttons
 */
#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-prev-horizontal {
  position: absolute;
  top: 44px;
  left: 0px;
  background-position: 0 0;
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  background-position: -48px 0;
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-prev-horizontal:active {
  background-position: -96px 0;
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-next-horizontal {
  position: absolute;
  top: 44px;
  right: 0;
  background-position: 0 -48px;
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-next-horizontal:hover {
  background-position: -48px -48px;
}

#block-views-taxonomy-pages-block-1 .jcarousel-skin-default .jcarousel-next-horizontal:active {
  background-position: -96px -48px;
}


/* International Visitors Global Slider & Chancellor's Search page */
#block-views-taxonomy-pages-block-9, #block-views-taxonomy-pages-block-10 {
  border-top: 1px dashed #999;
  margin-top:30px;
  padding-top: 30px;
}

#block-views-taxonomy-pages-block-9 .block-title, #block-views-taxonomy-pages-block-10 .block-title {
  margin: 0;
  line-height: 1em;
  font-size:20px;font-size:2rem;/*20px*/
  margin-top: 20px;
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default {
  text-align: center;
  width: 100%;
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-container-horizontal, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-container-horizontal {
  width: 580px;
  height: 160px;
  padding: 0px 37px 20px !important;
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-clip-horizontal, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 580px;
  overflow: hidden;
  text-align: center;
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-item, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-item {
  text-align: left;
  padding: 0;
  width: 136px;
  height: 160px;
  overflow: hidden;
  list-style: none;
  background: #fff none;
  border: none;
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-item .field-slider-image, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-item .field-slider-image {
  padding: 10px 0 0;
  text-align: center;
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-item img, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-item img {
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 6px 1px #adadad;
  -moz-box-shadow: 0 0 6px 1px #adadad;
  box-shadow: 0 0 6px 1px #adadad;
  behavior:url(/sites/all/themes/pitt/scripts/PIE.htc);
  width:115px!important;
}
:root #block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-item img, :root #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-item img  {border: 5px solid #fff\0/IE9; }  /* IE9 + IE10pp4 */

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-item a, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-item a {
  font-size:11px;font-size:1.1rem;/*11px*/
  font-weight: 400;
  line-height: 1.25em;
  padding-left: 10px;
  padding-top: 2px;
  display: block;
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-item a.image-slider-link, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-item a.image-slider-link {
  font-size:11px;font-size:1.1rem;/*11px*/
  font-weight: 400;
  padding: 0;
  display: block;
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-item-horizontal, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0 5px 0 4px;
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-item-placeholder, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-item-placeholder {
  color: #000;
}

/**
 * Buttons
 */
#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-next,
#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-prev,
#block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-next,
#block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-prev {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url(../images/slider-arrows.png);
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-next-disabled,
#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-prev-disabled
#block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-next-disabled,
#block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-prev-disabled {
  display: none;
}

/**
 * Horizontal Buttons
 */
#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-prev-horizontal, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-prev-horizontal {
  position: absolute;
  top: 44px;
  left: 0px;
  background-position: 0 0;
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-prev-horizontal:hover, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  background-position: -48px 0;
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-prev-horizontal:active, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-prev-horizontal:active {
  background-position: -96px 0;
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-next-horizontal, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-next-horizontal {
  position: absolute;
  top: 44px;
  right: 0;
  background-position: 0 -48px;
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-next-horizontal:hover, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-next-horizontal:hover {
  background-position: -48px -48px;
}

#block-views-taxonomy-pages-block-9 .jcarousel-skin-default .jcarousel-next-horizontal:active, #block-views-taxonomy-pages-block-10 .jcarousel-skin-default .jcarousel-next-horizontal:active {
  background-position: -96px -48px;
}

