/* index y parte de rojadirectav1 */

html {
        width: 100%;
        /* height: 100%;*/
        }
body {
        background-color: #EFEFEF; /* OLD: #FFFFFF; */
        color: #333333;
        font-family: Verdana, Arial, sans-serif;
        margin: 0px 0px 0px 0px;
        width: 100%;
        /* height: 100%; */
        text-align: center;
        }
a:link,a:active,a:visited {
        color: #555555;
        }
a:hover {
        color: #D20808;
        }

		
.cuadroagenda {
	width:325px;
	background:#d5d8e0;
	border-right:1px solid #d5d8e0;
	font-size: 12px;
}
.cuadroagenda .light {
line-height:15px;
width:338px;
background:#e7e8ed;
padding:1px;
}
.cuadroagenda .dark {
line-height:15px;
background:#d5d8e0;
padding:1px;
}

.menutitle{
	cursor:pointer;
	margin-bottom: 0px;
	background-color:#e7e8ed;
	color:#000000;
	width:394px;
	padding:1px;
	text-align:left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px outset #d5d8e0;
}
.menutitle:hover{
	cursor:pointer;
	background-color:#D5D8E0;
}
.adagenda{
	cursor:pointer;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color:#e7e8ed;
	color:#000000;
	width:394px;
	padding:1px;
	text-align:center;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px outset #d5d8e0;
	height: 50px;
	overflow: hidden;
	z-index: -1;
}
#inadagenda{ 
	position:relative; 
	top:-5px; 
}
#buscar{ 
	position:absolute; 
}
.submenu{
	margin-bottom: 0.5em;
	width: 394px;
	font-size: 11px;
}
.tvinternet{
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	background-color:#d20808;
	font-size: 14px;
	color:#FFFFFF;
	width:415px;
	padding:2px;
	text-align:left;
	border: 1px outset #d20808;
}
.tvinternet a:link { color: #FFFFFF }
.tvinternet a:visited { color: #FFFFFF }
.tvinternet a:hover { color: #FFFFFF }
.tvinternet a:active { color: #FFFFFF }
.tvinternet .fuente2 {
	font-size: 10px;
	color: #FFFFFF;
    font-weight: bold;
	}
.scrollagenda {
	height: 372px;
	width: 415px;
	overflow-y: auto;
	overflow-x: hidden;
	padding:2px;
	border: 1px outset #d5d8e0;
}
.d {
	color: #666666;
}
.proxemi{
	cursor:pointer;
	margin-bottom: 0px;
	background-color:#e7e8ed;
	color:#000000;
	width:415px;
	padding:2px;
	text-align:center;
    font-weight: bold;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px outset #d5d8e0;
}
.s {
	display:none;
}
.titulosrecuadrosdcha {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: 12px;
}
.titulosrecuadrosdcha a:link { color: #FFFFFF; text-decoration: none}
.titulosrecuadrosdcha a:visited { color: #FFFFFF; text-decoration: none }
.titulosrecuadrosdcha a:hover { color: #FFFFFF; text-decoration: underline }
.titulosrecuadrosdcha a:active { color: #FFFFFF;text-decoration: none }

/* Fin codigo propio */




div.small {
        font-size: 11px;
        }
span.small {
        font-size: 11px;
        }
td.small {
        font-size: 11px;
        }
td.title {
        background-color: #d20808;
        width: 100%;
        height: 100px;
        }
td.subtitle {
        background-color: #CFCFCF;
        width: 100%;
        height: 25px;
        color: #555555;
        font-size: 12px;
        font-family: sans-serif;
        }
		
table.mainwindow {
        margin-left: auto;
        margin-right: auto;
        border-left: 1px solid #333333;
        border-right: 1px solid #333333;
        background-color: #FFFFFF;
        width: 775px;
        /*background-image: url("images/background.gif");*/
        background-repeat: no-repeat;
        background-position: top right;
        }


.cuadroagenda {
	width:325px;
	background:#d5d8e0;
	border-right:1px solid #d5d8e0;
	font-size: 12px;
}
.cuadroagenda .light {
line-height:15px;
background:#e7e8ed;
padding:1px;
}
.cuadroagenda .dark {
line-height:15px;
background:#d5d8e0;
padding:1px;
}
.cuadroagenda a:link { color: #555555; text-decoration: none }
.cuadroagenda a:visited { color: #555555; text-decoration: none }
.cuadroagenda a:hover { color: #D20808; text-decoration: none }
.cuadroagenda a:active { color: #555555; text-decoration: none }



.taboastreams {font:11px Verdana,Arial; width:399px; text-align:left; border:0px solid #ccc; border-bottom:none}
.taboastreams th {padding:0px 0px 0px; background:#444; color:#fff; text-align:left; color:#ccc}
.taboastreams td {padding:0px 0px 0px; background:#fff; border-bottom:0px solid #ccc}
.taboastreams .head {color:#fff; background:#d20808 url(http://www.rojadirecta.me/static/sort.gif) 6px center no-repeat; cursor:pointer; padding-left:18px}
.taboastreams .desc {color:black; background:#EDDEDC url(http://www.rojadirecta.me/static/desc.gif) 6px center no-repeat; cursor:pointer; padding-left:18px}
.taboastreams .asc {color:black; background:#EDDEDC url(http://www.rojadirecta.me/static/asc.gif) no-repeat 6px center; cursor:pointer; padding-left:18px}
.taboastreams .head:hover, .tabla_a_ordenar .desc:hover, .tabla_a_ordenar .asc:hover {color:#fff}
.taboastreams .even td {background:#EDDEDC}
.taboastreams .odd td {background:#fff}



/* End CSS */