
/* 2カラム */

#emargency{
	clear:left;
	padding-top:20px;
	display:none;
	font-size:81.25%;
}

#emg_inner{
	padding-top:10px;
	background: url("/emg_data/images/bg_emargency.png") no-repeat scroll 0 0;
}
#emg_body{
	padding-bottom:10px;
	background: url("/emg_data/images/bg_emargency.png") no-repeat scroll -1932px 100%;
}

.emg_body2{
	margin:0;
	padding:0;
	background: url("/emg_data/images/bg_emargency.png") repeat-y scroll -966px 0;
}
.emargency-tbl th{
	padding:10px;
}

.emargency-tbl th p{
	background: url('/emg_data/images/icon_emargency.png') no-repeat scroll 8px 0.45em;
	padding: 8px 5px 8px 30px;
	margin:0;
	font-size:120%;
}

.emargency-tbl td{
	padding:10px;
	border-left:none;
}

#emargency ul li{
	margin: 0 0 3px;
	padding: 0 0 5px;
	background: url("/resources/plala/pc/images/shared/line_dot_01.png") repeat-x scroll 0 100% transparent;
}

#emargency ul li a{
	display:block;
	background: url("/resources/plala/pc/images/shared/bullet_arrow_01.png") no-repeat scroll 0 0.35em transparent;
	padding: 0 0 0 18px;
}

#emargency ul li span.no_link{
	display:block;
	background:url("/resources/plala/pc/images/shared/bullet_dot_02.png") no-repeat scroll 3px 0.6em transparent;
	padding: 0 0 0 18px;
}

/* /2カラム */


/* 1カラム　20140214 */

#emargency_1c{
	clear:left;
	padding-top:20px;
	display:none;
	font-size:81.25%;
}

#emg_inner_1c{
	padding-top:10px;
	background: url("/emg_data/images/bg_emargency_1c.png") no-repeat scroll 0 0;
}
#emg_body_1c{
	padding-bottom:10px;
	background: url("/emg_data/images/bg_emargency_1c.png") no-repeat scroll -1932px 100%;
}

.emg_body2_1c{
	margin:0;
	padding:0;
	background: url("/emg_data/images/bg_emargency_1c.png") repeat-y scroll -966px 0;
}

.emargency-tbl_1c td{
	padding:5px 3px 3px 30px;
	border-left:none;
}

#emargency_1c ul li{
	margin: 0 10px 3px 2px;
	padding: 0 0 5px;
	background: url("/resources/plala/pc/images/shared/line_dot_01.png") repeat-x scroll 0 100% transparent;
}

#emargency_1c ul li a{
	display:block;
	background: url("/resources/plala/pc/images/shared/bullet_arrow_01.png") no-repeat scroll 0 0.35em transparent;
	padding: 0 0 0 18px;
}

#emargency_1c ul li span.no_link{
	display:block;
	background:url("/resources/plala/pc/images/shared/bullet_dot_02.png") no-repeat scroll 3px 0.6em transparent;
	padding: 0 0 0 18px;
}


/* /1カラム　20140214 */
