/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/

@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=f1f80139-8a9e-4109-a100-e87dff27fe71");
/*
@font-face{
font-family:"AxisStd-UltraLight";
src:url("/resources_v2/plala/all/font/a9052c68-9f8f-4738-b7b3-28b7b4074c0e.eot?#iefix");
src:url("/resources_v2/plala/all/font/a9052c68-9f8f-4738-b7b3-28b7b4074c0e.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/9debccc6-f756-4d46-a835-ac342ddbcaf0.woff2") format("woff2"),url("/resources_v2/plala/all/font/726b29c5-dc24-49d5-a06e-107b62843f0b.woff") format("woff"),url("/resources_v2/plala/all/font/fcf3fe94-ef76-4736-8626-e84ee1a9ba39.ttf") format("truetype"),url("/resources_v2/plala/all/font/3d6f6af4-77aa-4896-b039-94e43492d9c6.svg#3d6f6af4-77aa-4896-b039-94e43492d9c6") format("svg");
}
@font-face{
font-family:"AxisStd-ExtraLight";
src:url("/resources_v2/plala/all/font/cae76507-fde0-48d2-8060-f95b67662772.eot?#iefix");
src:url("/resources_v2/plala/all/font/cae76507-fde0-48d2-8060-f95b67662772.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/9adc0413-55bd-4001-9bc0-f823476aa22e.woff2") format("woff2"),url("/resources_v2/plala/all/font/25516da4-2e65-456a-bc9c-cc6960f6c384.woff") format("woff"),url("/resources_v2/plala/all/font/8c439ac8-83ef-4635-a477-df9c64f97b62.ttf") format("truetype"),url("/resources_v2/plala/all/font/93d1f11a-903e-4293-a2f1-cd55b87b5087.svg#93d1f11a-903e-4293-a2f1-cd55b87b5087") format("svg");
}
*/
@font-face{
font-family:"AxisStd-Light";
src:url("/resources_v2/plala/all/font/aa7c9f5f-bd2d-4fbb-a4a5-82ba2cd0189c.eot?#iefix");
src:url("/resources_v2/plala/all/font/aa7c9f5f-bd2d-4fbb-a4a5-82ba2cd0189c.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/ca94208f-21dd-4dc8-ab7c-057d8dbfcccb.woff2") format("woff2"),url("/resources_v2/plala/all/font/18820f9e-d51e-43be-9d0f-e510d9d1878a.woff") format("woff"),url("/resources_v2/plala/all/font/cb3a3886-7dec-420d-bf42-698737ce3561.ttf") format("truetype"),url("/resources_v2/plala/all/font/9bdde1f9-7637-4fa1-994d-2f2ad4929b1f.svg#9bdde1f9-7637-4fa1-994d-2f2ad4929b1f") format("svg");
}

@font-face{
font-family:"AxisStd-Regular";
src:url("/resources_v2/plala/all/font/7e908add-1f72-4926-8e0d-33613fad3a87.eot?#iefix");
src:url("/resources_v2/plala/all/font/7e908add-1f72-4926-8e0d-33613fad3a87.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/d226afef-6536-4b18-9b28-defffcc4baae.woff2") format("woff2"),url("/resources_v2/plala/all/font/6e9eb620-9339-4b2e-bb9b-d514def96de7.woff") format("woff"),url("/resources_v2/plala/all/font/a71ba532-858c-440c-8abd-e89a2ae8efea.ttf") format("truetype"),url("/resources_v2/plala/all/font/5d948218-1de1-4508-b1a6-fe03ccced886.svg#5d948218-1de1-4508-b1a6-fe03ccced886") format("svg");
}

@font-face{
font-family:"AxisStd-Medium";
src:url("/resources_v2/plala/all/font/724feca3-e632-4df0-811e-d0184d5e569c.eot?#iefix");
src:url("/resources_v2/plala/all/font/724feca3-e632-4df0-811e-d0184d5e569c.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/3e49aace-6c5a-4a76-a80e-21ab7ad44f14.woff2") format("woff2"),url("/resources_v2/plala/all/font/2a67f3cb-4bfa-4ec5-9167-73e8c4e78635.woff") format("woff"),url("/resources_v2/plala/all/font/f09ad952-d955-4c72-a632-1313427634d0.ttf") format("truetype"),url("/resources_v2/plala/all/font/c60a0c5e-c39d-4513-b578-1a5858cbecde.svg#c60a0c5e-c39d-4513-b578-1a5858cbecde") format("svg");
}
@font-face{
font-family:"AxisStd-Bold";
src:url("/resources_v2/plala/all/font/c560bf6b-69f6-4f4d-bdb5-871df542e091.eot?#iefix");
src:url("/resources_v2/plala/all/font/c560bf6b-69f6-4f4d-bdb5-871df542e091.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/155d7ef4-60ae-4836-a63c-2aef89997f65.woff2") format("woff2"),url("/resources_v2/plala/all/font/046ac2c8-1355-4a58-99e3-77b70cdc7d2d.woff") format("woff"),url("/resources_v2/plala/all/font/695b31e6-82e7-479e-9f53-be80bea18972.ttf") format("truetype"),url("/resources_v2/plala/all/font/4a75d965-22ab-4673-9e14-6b3e8f4bbec6.svg#4a75d965-22ab-4673-9e14-6b3e8f4bbec6") format("svg");
}

/*
@font-face{
font-family:"AxisStd-Heavy";
src:url("/resources_v2/plala/all/font/db568b5d-7604-4775-8cb3-52c8fc52a8cb.eot?#iefix");
src:url("/resources_v2/plala/all/font/db568b5d-7604-4775-8cb3-52c8fc52a8cb.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/bfed7b6e-a69a-4c41-8eaa-a4375e7a8fea.woff2") format("woff2"),url("/resources_v2/plala/all/font/80f43cab-5e50-407f-a34a-45d8f9372fbd.woff") format("woff"),url("/resources_v2/plala/all/font/34ce1d25-b7be-46fe-a9bc-939f4bb48289.ttf") format("truetype"),url("/resources_v2/plala/all/font/ca8340c2-52b8-4239-85db-2d8343f8c382.svg#ca8340c2-52b8-4239-85db-2d8343f8c382") format("svg");
}
@font-face{
font-family:"AxisCondStd-UltraLight";
src:url("/resources_v2/plala/all/font/e260d60f-ed9c-420d-a084-a3fe63e90c03.eot?#iefix");
src:url("/resources_v2/plala/all/font/e260d60f-ed9c-420d-a084-a3fe63e90c03.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/bcbe6d9f-feb4-4cb6-b29d-68632cccf2e0.woff2") format("woff2"),url("/resources_v2/plala/all/font/407be8f8-a4fe-4647-8215-5fbe6729d4aa.woff") format("woff"),url("/resources_v2/plala/all/font/4c0ad769-b776-4653-a34b-b5fe6ab00994.ttf") format("truetype"),url("/resources_v2/plala/all/font/8d6e57ae-1034-4089-ab06-6fc5767b78eb.svg#8d6e57ae-1034-4089-ab06-6fc5767b78eb") format("svg");
}
@font-face{
font-family:"AxisCondStd-ExtraLight";
src:url("/resources_v2/plala/all/font/19ff1f81-232b-402d-bacd-c0d5397fae45.eot?#iefix");
src:url("/resources_v2/plala/all/font/19ff1f81-232b-402d-bacd-c0d5397fae45.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/3d309c4c-60b3-4905-8a6d-f06d213bd92c.woff2") format("woff2"),url("/resources_v2/plala/all/font/02439314-734d-4cbc-8779-e5071a64aa11.woff") format("woff"),url("/resources_v2/plala/all/font/ab2eb65f-84a3-429a-b491-741edb0b4828.ttf") format("truetype"),url("/resources_v2/plala/all/font/749cdf46-5f65-4703-a48f-ba8143a60dd4.svg#749cdf46-5f65-4703-a48f-ba8143a60dd4") format("svg");
}
@font-face{
font-family:"AxisCondStd-Light";
src:url("/resources_v2/plala/all/font/7cad2814-49d4-410f-8fd7-02cb61e61ccc.eot?#iefix");
src:url("/resources_v2/plala/all/font/7cad2814-49d4-410f-8fd7-02cb61e61ccc.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/9ffafb2d-01c4-46b7-bef2-492de0b1d36f.woff2") format("woff2"),url("/resources_v2/plala/all/font/b88f9033-9772-46eb-a2b2-8f6828c10977.woff") format("woff"),url("/resources_v2/plala/all/font/21cd7dce-d662-4382-ab75-b65088c1b876.ttf") format("truetype"),url("/resources_v2/plala/all/font/65d0d9cb-883b-4299-a470-66ab0a66e62a.svg#65d0d9cb-883b-4299-a470-66ab0a66e62a") format("svg");
}
@font-face{
font-family:"AxisCondStd-Regular";
src:url("/resources_v2/plala/all/font/5efb2905-3471-4f20-a784-c3b2130ab80e.eot?#iefix");
src:url("/resources_v2/plala/all/font/5efb2905-3471-4f20-a784-c3b2130ab80e.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/f4ed169d-776f-4506-9794-c883da078520.woff2") format("woff2"),url("/resources_v2/plala/all/font/7a283d80-0b34-4396-8ec6-ee90f18d32c1.woff") format("woff"),url("/resources_v2/plala/all/font/71499f78-8351-4784-b99f-ddc903fa637c.ttf") format("truetype"),url("/resources_v2/plala/all/font/3df9111f-5c19-4aaf-a2fb-91d9574d4a31.svg#3df9111f-5c19-4aaf-a2fb-91d9574d4a31") format("svg");
}
@font-face{
font-family:"AxisCondStd-Medium";
src:url("/resources_v2/plala/all/font/bef7a2ee-5d58-45c6-a0dc-db2d78c8d7cd.eot?#iefix");
src:url("/resources_v2/plala/all/font/bef7a2ee-5d58-45c6-a0dc-db2d78c8d7cd.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/621ad48c-b599-4556-8750-b37b877a99b0.woff2") format("woff2"),url("/resources_v2/plala/all/font/664c752c-bcc1-4598-9f33-5c3d7234599f.woff") format("woff"),url("/resources_v2/plala/all/font/e80920e3-b196-4299-bfcd-d8ebac685300.ttf") format("truetype"),url("/resources_v2/plala/all/font/58829480-07bf-400f-9ba2-4fe96214ec4d.svg#58829480-07bf-400f-9ba2-4fe96214ec4d") format("svg");
}
@font-face{
font-family:"AxisCondStd-Bold";
src:url("/resources_v2/plala/all/font/65e05cff-bc7f-4fb8-b6a7-98be5f3e067f.eot?#iefix");
src:url("/resources_v2/plala/all/font/65e05cff-bc7f-4fb8-b6a7-98be5f3e067f.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/f893d06b-4217-4d5c-a671-55c551154691.woff2") format("woff2"),url("/resources_v2/plala/all/font/f796807e-6837-48d9-beff-e5d03e75b9d5.woff") format("woff"),url("/resources_v2/plala/all/font/5a2c10b8-c421-4458-95e1-920c6474712f.ttf") format("truetype"),url("/resources_v2/plala/all/font/3907ef5b-766e-4d6b-84c9-bc28a550db7d.svg#3907ef5b-766e-4d6b-84c9-bc28a550db7d") format("svg");
}
@font-face{
font-family:"AxisCompStd-UltraLight";
src:url("/resources_v2/plala/all/font/a6536026-bbe6-44da-b81d-12744ff9c0fc.eot?#iefix");
src:url("/resources_v2/plala/all/font/a6536026-bbe6-44da-b81d-12744ff9c0fc.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/5cedb5a1-98d3-48f5-9118-318dc75744a1.woff2") format("woff2"),url("/resources_v2/plala/all/font/8f6fc3a2-f0ae-441c-b995-24720e21cc74.woff") format("woff"),url("/resources_v2/plala/all/font/39fbdbe2-160b-417a-a3d2-6e19eba83bd7.ttf") format("truetype"),url("/resources_v2/plala/all/font/8c0a89ea-58c0-4f45-99b6-0de84c364b56.svg#8c0a89ea-58c0-4f45-99b6-0de84c364b56") format("svg");
}
@font-face{
font-family:"AxisCompStd-ExtraLight";
src:url("/resources_v2/plala/all/font/de163371-4c5a-424e-a2c8-d0aa4dfda670.eot?#iefix");
src:url("/resources_v2/plala/all/font/de163371-4c5a-424e-a2c8-d0aa4dfda670.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/06bc4d6a-c534-4a5f-b0b2-d97e22f1f3c6.woff2") format("woff2"),url("/resources_v2/plala/all/font/52f47557-50ea-445c-8f32-f13d51e75780.woff") format("woff"),url("/resources_v2/plala/all/font/c9fb3cc4-29d8-4b83-b9c7-80e1a33a803f.ttf") format("truetype"),url("/resources_v2/plala/all/font/3732b9cf-f282-4c41-bd1c-70eb69929f09.svg#3732b9cf-f282-4c41-bd1c-70eb69929f09") format("svg");
}
@font-face{
font-family:"AxisCompStd-Light";
src:url("/resources_v2/plala/all/font/fc8099fe-1a7b-40c1-a4c4-a8039b072cd9.eot?#iefix");
src:url("/resources_v2/plala/all/font/fc8099fe-1a7b-40c1-a4c4-a8039b072cd9.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/1a54d208-1f1e-4ce4-99f4-8bed7fef452b.woff2") format("woff2"),url("/resources_v2/plala/all/font/3fdd7ba1-4a5e-42b0-ad51-9f868731369d.woff") format("woff"),url("/resources_v2/plala/all/font/83277c1e-b3d7-430c-a980-e753d943c9d8.ttf") format("truetype"),url("/resources_v2/plala/all/font/8ca61268-ec46-48f5-8f05-319056bdd828.svg#8ca61268-ec46-48f5-8f05-319056bdd828") format("svg");
}
@font-face{
font-family:"AxisCompStd-Regular";
src:url("/resources_v2/plala/all/font/165fffcd-6fb7-4971-950a-60fbba9c99d9.eot?#iefix");
src:url("/resources_v2/plala/all/font/165fffcd-6fb7-4971-950a-60fbba9c99d9.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/5e80fd76-dee3-4c07-b955-22fca82c42a0.woff2") format("woff2"),url("/resources_v2/plala/all/font/aab8ae2f-7c04-4529-9e7b-1f4f91ba56aa.woff") format("woff"),url("/resources_v2/plala/all/font/31988002-d3c7-4ff4-855f-891208dba04e.ttf") format("truetype"),url("/resources_v2/plala/all/font/5627cfcf-eeed-433f-a4cd-227cc465ecf1.svg#5627cfcf-eeed-433f-a4cd-227cc465ecf1") format("svg");
}
@font-face{
font-family:"AxisCompStd-Medium";
src:url("/resources_v2/plala/all/font/91fc39de-a88e-4824-8aa3-4000f13a3097.eot?#iefix");
src:url("/resources_v2/plala/all/font/91fc39de-a88e-4824-8aa3-4000f13a3097.eot?#iefix") format("eot"),url("/resources_v2/plala/all/font/cdf82633-33b4-4bf3-8c84-a6826e02a889.woff2") format("woff2"),url("/resources_v2/plala/all/font/587e8e6a-3d69-4b25-bef9-54e82c0ce89c.woff") format("woff"),url("/resources_v2/plala/all/font/040c188f-e69c-484c-980f-0e6b9d11de3e.ttf") format("truetype"),url("/resources_v2/plala/all/font/49dfe780-91f6-41bc-ae3f-4f1f3695ee1a.svg#49dfe780-91f6-41bc-ae3f-4f1f3695ee1a") format("svg");
}
*/