@charset "utf-8";
body {
	font-size:17px;
	font-family:'Noto Sans', sans-serif;
	font-weight:400;
}
.txtContent, .overlay .menu ul ul li, .artPostDate .popover, .listBanner .caption .logoDate, .impNews h3, .headtab li a, .captionSliderThumb, .cricketLive .panel-collapse .panel-body.txtEng strong, .menuBlock .desktopMainMenuLinks ul.dropdown-menu a {
	font-size: 17px;
}
.footerLinks dd ul a, .channelLevel3 {
	font-size:15px;
	color:#6B6B6B;
}
.breadcrumbs a {
	color: #d92227;
}
.breadcrumbs a, .breadcrumbs span, .articleAuthor, .cricketLive .headSubEng, div.wdp_printBar a {
	font-size:15px;
}
.bannerHeading {
	font-size:45px;
	text-align:center;
	line-height: 60px;
}
.headingMain,#slider .captionSlider{
	font-size:30px;
	line-height: 40px;
}
.flipBook .headingMain{font-size:24px;}
.headingSub, .desktopMainMenuLinks a, .iccRanking .heading, .fixturescrickettable .heading, .widjets_fixturescrickettable .heading, #cricketBlockRgt .heading {
	font-size:22px;
	line-height: 28px;
}
.headMainEngFont, .facebookFollow ul li span, .advertisement ul li {
	font-family:'Open Sans', sans-serif;
}
.txtBold {
	font-weight:600;
}
.slok_wrapper, .currentNews .abhiTxt, #download {
	font-size:20px;
}
.menuBlock .desktopMainMenuLinks ul.dropdown-menu li {
	font-size:50px;
}
/*font sizes*/

.mrTxt, .mr {
	font-family:mangal, sans-serif;
}
.tmTxt, .tm {
	font-family:Latha;
}
.telTxt, .te {
	font-family:Gautami;
}
.mlTxt, .ml {
	font-family:Kartika;
}
.knTxt, .kn {
	font-family:Tunga;
}
.gjTxt, .gu {
	font-family:Shruti;
}
/*multilenual block css*/
.ml {
	font-size: 13px;
}
.gu {
	font-size: 13px;
}
.ta {
	font-size: 12px;
}
.te {
	font-size: 14px;
}
.kn {
	font-size: 14px;
}
.gu {
	font-size: 14px;
}
/*multilenual css*/

.disForum .TblRow .postTxt, .impNews, .breadcrumbs, .artPostDate, .shorting, .commentTxtBlock,.readMoreTags a {
	font-size:14px;
}
.lastLine {
	font-size:13px;
}
.headMainEng, .banner .newsBlock.headingSub, .samvidhan ul li.main a.top {
	font-size:22px;
}
.headSubEng, .otherChannels .block h2 a, .rslides_tabs, .bannerNewsTopic {
	font-size:18px;
}
.txtEng, .business .date, .facebookFollow ul li span, .logoDate, .scorediv tbody tr td, .viewmore a {
	font-size:14px;
}
.enTxt12, .reportAbuse, .show-reply, .disForum .TblRow .freshText, .userName .fa-mail-forward, .bulleteRed, .toggle li a {
	font-size:12px;
}
/*font-colors*/
.whiteFont, .whiteFont a {
	color:#fff;
}
/*.whiteFont a:hover{color:#d92227;}*/
.redFont,.redFont:active,.redFont:visited {
	color:#d92227;
}
.categoryBanner .bannerHeading, .meraBlog .newsHeading, .rashiName {
	font-size:25px;
	line-height: 30px;
}
.font1 div {
	font-size:18px;
}
.font2 div {
	font-size:20px;
}
.font3 div {
	font-size:22px;
}
.articlePage .font1 div, .articlePage .font1 p, .articlePage .font1 p {
	font-size:15px !important;
}
.articlePage .font2 div, .articlePage .font2 p, .articlePage .font2 p {
	font-size:17px !important;
}
.articlePage .font3 div, .articlePage .font3 p, .articlePage .font3 p {
	font-size:19px !important;
}
.bannerHeading .logoDate {
	font-size:16px;
}
@media screen and (max-width:1600px) {
.adListDetail .headingSub {
font-size:18px;
line-height:22px;
}
}
@media screen and (max-width: 1366px) {
.rgtContainer .headingMain {
font-size: 23px;
line-height: 26px;
}
.categoryBanner .bannerHeading{ line-height: 33px;}
}
@media screen and (min-width:992px) and (max-width:1150px) {
.todayRashiphal .btnClick {
font-size:14px;
}
.wd_right_gallery p {
font-size:14px;
line-height: 25px;
}
}
@media screen and (min-width:800px) and (max-width:1024px) {
 .meraBlog .newsHeading {
font-size: 24px;
line-height: 35px;
}
}
@media screen and (max-width:1024px) {
.desktopMainMenuLinks a {
 font-size: 20px;
}
.business ul li span, .cricketLive .panel-collapse .panel-body.txtEng {
 font-size:18px;
}
}
@media screen and (min-width:768px) and (max-width:992px) {
.wd_gallery_album .album_caption {
font-size:24px;
}
}
@media screen and (min-width:768px) {
.wd_gallery_album .album_caption{
	font-size:36px;
}
}
@media screen and (max-width:768px) {
 .gallery_category ul li p {
font-size:15px;
}
 .wd_gallery_album .album_caption {
font-size:22px;
}
 .desktopMainMenuLinks a {
 font-size: 20px;
}
/* #slider .captionSlider {
font-size: 45px;
 text-align: center;
 line-height: 60px;
}*/

.headingMain {
 font-size: 25px;
 line-height: 35px;
 margin-bottom:10px;
 margin-top: -2px;
}
.channai .headingMain {
font-size: 26px;
line-height: 34px;
}
.channai .headingSub {
font-size: 20px;/*line-height: 22px;*/
}
.bulleteRed {
 padding-top: 8px;
}
.contentBlock {
 min-height: 45px;
}
.meraBlog .newsBlock1 {
 margin-bottom: 30px;
}
}
@media screen and (max-width:760px) {
/*.wd_gallery_album .album_caption {
font-size:36px;
}*/
 #slider .captionSlider {
font-size: 30px;
 line-height:40px;
}

.flipBook .headingMain{ font-size:18px; line-height: 25px;}
.flipBook .headingSub{font-size:16px;}
 .logOnDiv a {
font-size:18px;
}

 .cricketNewBlock .headingMain {
 padding:0px 40px;
}
 .bannerHeading {
 font-size: 28px;
 line-height: 40px;
}
 .bannerHeading {
font-size: 30px;
padding: 0 25px;
}
.listBanner .caption .logoDate, .artPostDate, .articleAuthor, .txtEng, .img_src_left, .img_prof_right {
font-size: 14px;
margin-top:0;
}
.headingSub, .desktopMainMenuLinks a, .relatedNews li {
font-size:20px;
}
.footerBotLinks a, .authorInfo .headingSub, .authorInfo ul.listStyleNone li, .authorInfo .textDetails i, .authorInfo .btnClick {
font-size: 14px;
}
.slok_wrapper {
font-size: 18px;
}
.cricketLive .panel-collapse .panel-body.txtEng, .otherChannels .block h2, .cricketLive .panel-default .player, .cricketLive .panel-default .bowler {
font-size:16px;
}
}
 @media screen and (max-width:480px) {

 #s {
font-size: 17px;
}
 .bannerHeading {
padding: 0 15px;
}
 .footerBotLinks a, .authorInfo .headingSub, .authorInfo ul.listStyleNone li, .authorInfo .textDetails i, .authorInfo .btnClick {
font-size: 13px;
}
 .khasReport .caption .headingSub, .channai .caption .headingSub {
 font-size: 16px;
 line-height: 20px;
}
 .khasReport .headingMain, .channai .headingMain {
 font-size: 22px;
 line-height: 28px;
 margin-bottom:10px;
}
.business ul li span.amt {
 width: 20%;
}
#slider .captionSlider,.left_slide .bannerHeading, .categoryBanner .bannerHeading {
font-size:22px;
line-height:26px;
}
.newBlockInn li a {
font-size:18px;
}
}
@media screen and (max-width:320px) {
#searchsubmit {
font-size: 20px;
}
.facebookFollow ul li span {
font-size:11px;
}

}
.couponsMenuTab {
    font-size: 19px !important;
}

/*@media (min-width:641px){	*/
sravan theme start
/*.logoBlock{background:url(../images/rain.gif) repeat-x center top, url(../images/karwariyaBg.png) no-repeat 20% bottom,*/
/*url(../images/cloud1.jpg) no-repeat 20% -20px;*/
/* background-size: auto,7%,4%;*/
/*} */
/*.borderBack .borderHeadings,.videoBlock .borderHeadings, .videoHead .borderHeadings {background:url(../images/spark2.gif) #fff repeat center center;}*/
/*}*/