.toggle {margin: 2px 0 0 14px; float: left; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
.toggle li {float: left;}
.toggle li a {width: 50px; padding: 6px 0; text-align: center; display: block; text-shadow: 1px 1px 0 #fff; /*font-size: 12px;*/ font-weight: 600; color: #666; -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; -o-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0; 

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;
-moz-box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;
-webkit-box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;

}
.toggle li:first-child a {-webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px;}
.toggle li a:hover { background: #ededed; color: #222; }
.toggle li a.active { background: #c8e0f3; color: #325874; cursor: default; box-shadow: inset 0 0 3px rgba(0,0,0,0.4); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.4); -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.4); }

#slider {margin: 0 0 0px!important; border-bottom: 1px solid #fff;}

#carousel li {/*margin-right: 1px;margin:0 .5px;*/  cursor:pointer; }
#carousel li img,#carousel .captionSliderThumb{border-right:1px solid #fff;}
.captionSlider a{color:#fff;}

#carousel .flex-active-slide {opacity: .7; cursor: default; background:#080808;}

#slider.flexslider .slides .flex-active-slide img{ border-bottom:none;}

/* Loading
***********************/
.loading aside {opacity: 0;}
aside {width: 100%; float: left; opacity: 1; -webkit-transition: opacity 1s ease;}
aside h3 {float: left;}

/* Layout
***********************/
#top { position: relative; z-index: 999; height:65px; padding: 5px 0; border-bottom: 1px solid #577794;

background: rgb(226,232,239); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(226,232,239,1) 0%, rgba(210,219,228,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,232,239,1)), color-stop(100%,rgba(210,219,228,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(226,232,239,1) 0%,rgba(210,219,228,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(226,232,239,1) 0%,rgba(210,219,228,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(226,232,239,1) 0%,rgba(210,219,228,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(226,232,239,1) 0%,rgba(210,219,228,1) 100%); /* W3C */ 

 }

.button {
	display: inline-block;
	margin: 2px 0;
	padding: 5px 15px 3px;
	border: 1px solid #336693;
	border-bottom-color: #336693;
	color: #fff!important;
	text-align: center;
	text-decoration: none !important;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	text-transform: uppercase;
	font: bold 12px/16px sans-serif;
	cursor:pointer;

	/*Border radius*/
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	
	/*Background*/
	background: #274d70; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #336693), color-stop(1, #274d70));
	background: -moz-linear-gradient( center top, #336693 20%, #274d70 100% );
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
}

.button:hover {
	color: #fff;
	text-decoration: none!important;
	/*Background*/
	background: #396083; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #3c77ab), color-stop(1, #396083) );
	background: -moz-linear-gradient( center top, #3c77ab 20%, #396083 100% );
}

/* GREEN */

.button.green  {
	border: 1px solid #467d16;
	border-bottom-color: #467d16;
	
	/*Background*/
	background: #447e12; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #71b02f), color-stop(1, #447e12));
	background: -moz-linear-gradient( center top, #71b02f 20%, #447e12 100% );
}

.button.green:hover  {
	/*Background*/
	background: #508e1b; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #7cbc3a), color-stop(1, #508e1b));
	background: -moz-linear-gradient( center top, #7cbc3a 20%, #508e1b 100% );
}

.captionSlider{ 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,080808+100 */
background: #333333; /* Old browsers */
background: -moz-linear-gradient(top,  #333333 0%, #080808 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #333333 0%,#080808 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #333333 0%,#080808 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#080808',GradientType=0 ); /* IE6-9 */





	color:#fff;
font-family:'Noto Sans', sans-serif;font-weight:400;
	/*font-size:30px;
	line-height:40px;*/
	padding:10px;
	
	text-align:left;
   
}

/*#slider .captionSlider {min-height: 100px;}
#carousel .captionSlider {min-height: 64px;}*/

#carousel,#slider{ background:#080808;}
.captionSliderThumb{ /*font-size:17px;*/line-height:22px;}
.bannerNewsTopic{ /*font-size:22px;*/ background:#FAFAFA;text-align:left;padding: 0 10px; border-right:1px solid #e1e0e0; overflow:auto;}
.bannerNewsTopic li{ border-bottom:1px solid #e1e0e0; padding:10px 0;}
.bannerNewsTopic li:last-child{ border-bottom:none;}
.bannerNewsTopic li a:hover,.captionSlider a:hover{ color:#db2d32;}
/*.bgBlack{ background:#000;}*/
.sliderHead{ margin:0; padding:5px 15px;}
/*.fullScreen{    position: absolute;
    display: inline-block;
    z-index: 1;
    right: -11px;
}*/
 #slider .captionSlider a{   margin-top: -120px;  display: inline-block;/*background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%); background: rgba(0,0,0, .5);*/ width:100%;    padding:5px 20px 5px 20px;
 text-shadow: 1px 1px 1px #000;
    background: rgba(64, 55, 55, 0.7);
   
 
 
 }
 #slider .captionSlider{ background:none; margin-top:-50px;text-shadow: 2px 2px 2px #050506; text-align:center; padding:0;    /*font-size: 22px;    line-height: 26px;*/}
/* Media Queries
***********************/
@media screen and (max-width: 768px) {
	#slider .captionSlider a{   margin-top: -120px;  display: inline-block;background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);  width:100%;    padding:5px 20px 5px 20px;

   
 
 
 }
  #container {padding: 20px 30px;}
  header {width: 100%; float: none; text-align: center;}
  header h1 {margin: 0 auto 10px;}
  header .button,
  header nav {display: none;}
  #main {margin-left: 0; width:auto;}
  
 
/*  .flex-direction-nav a{margin: -15px 0 0;}*/
  #owl-right-demoBanner .right_banner_two { padding:0;}
}
@media screen and (max-width: 500px) {
  header h1 {width: 246px;  }
}