@charset "utf-8";.menu-btn a{display:inline-block;text-decoration:none;}
.overlay{position:absolute;z-index:99;display:none;overflow:auto;background:rgba(51,51,51,1);}

.overlay .menu ul{padding:0 15px 0 0;}
.overlay .menu ul li{list-style-type:none;}
.overlay .menu ul li a{color:#fff;}
/*.overlay .menu ul li a:hover{color:#d92227;}*/
.overlay .menu ul ul{margin-top:10px;}
.overlay .menu ul ul li{position:relative;float:none;margin:0 0px 10px 0;width:100%;border:0;}
.overlay .menu ul ul li a:hover,.videoBlock .headingMain a:hover,.wd_gallery_album .headingMain a:hover{color:#d92227;}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after{transition:all 500ms ease-in-out;}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after{cursor:pointer;height:2px;width:22px;position:absolute;display:block;content:'';background:#fff;}
#nav-toggle{cursor:pointer;z-index:100;position:relative;float:left;margin-right:15px;background:#d92227;width:33px;height:33px;text-align:center;display:inline-block;padding-left:5px;padding-top:15px;}
#nav-toggle span:before{top:-8px;}
#nav-toggle span:after{bottom:-8px;}
#nav-toggle.active span{background-color:transparent;}
#nav-toggle.active span:before{transform:rotate(45deg); -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg);}
#nav-toggle.active span:after{transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg);}

#nav-toggle.active span:before, #nav-toggle.active span:after{/*top:-14px;*/top:0px;}
#searchbar{display:none;width:100%;/*height:62px;*/border-bottom:1px solid #e7e6e6;/*padding-left:25px;padding-right:10px;*/z-index:9999;font-family:'Open Sans', sans-serif; margin-bottom:0px; margin-bottom:-1px; position:relative;}
#s{display:block;width:85%;border:0;outline:none;padding:0;height:60px;line-height:60px;font-weight:300;color:#8c8989;}
#searchsubmit{display:block;float:right;margin-top:16px;background:none;color:#717171;border:0;outline:none;cursor:pointer;font-size: 30px;}
figure{overflow:hidden; padding-bottom: 1px;}
.rslides{margin:0 auto 40px;}
#slider2,
#slider3{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;margin:0 auto;}
.rslides_tabs{list-style:none;padding:0;background:rgba(0,0,0,.25);box-shadow:0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);-moz-box-shadow:0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);-webkit-box-shadow:0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);/*font-size:18px;*/list-style:none;margin:0 auto 50px;max-width:540px;padding:10px 0;text-align:center;width:100%;}
.rslides_tabs li{display:inline;float:none;margin-right:1px;}
.rslides_tabs a{width:auto;line-height:20px;padding:9px 20px;height:auto;background:transparent;display:inline;}
.rslides_tabs li:first-child{margin-left:0;}
.rslides_tabs .rslides_here a{background:rgba(255,255,255,.1);color:#fff;font-weight:bold;}
#download{background:#333;background:rgba(255,255,255,.1);border:1px solid rgba(255,255,255,.1);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;display:block;/*font-size:20px;*/font-weight:bold;margin:60px auto;max-width:500px;padding:20px;}
#download:hover{background:rgba(255,255,255,.15);}
/*.footer{font-size:11px;}*/
.callbacks_container{position:relative;float:left;width:100%;}
.callbacks{position:relative;list-style:none;overflow:hidden;width:100%;padding:0;margin:0;}
.callbacks li{position:absolute;width:100%;left:0;top:0;}
.callbacks .bannerImg{display:block;position:relative;z-index:1;height:auto;width:100%;border:0;max-width:100%;}
.callbacks_nav{position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);top:52%;left:0;opacity:0.7;z-index:3;text-indent:-9999px;overflow:hidden;text-decoration:none;height:61px;width:38px;background:transparent url("../images/themes.gif") no-repeat left top;margin-top:-45px;}
.callbacks_nav:active{opacity:1.0;}
.callbacks_nav.next{left:auto;background-position:right top;right:0;}
#slider3-pager a{display:inline-block;}
#slider3-pager img{float:left;}
#slider3-pager .rslides_here a{background:transparent;box-shadow:0 0 0 2px #666;}
#slider3-pager a{padding:0;}
.rslides{position:relative;list-style:none;overflow:hidden;width:100%;padding:0;margin:0;}
.rslides li{-webkit-backface-visibility:hidden;position:absolute;display:none;width:100%;left:0;top:0;}
.rslides li:first-child{position:relative;display:block;float:left;}
.rslides img{display:block;height:auto;float:left;width:100%;}
.scrollup{width:41px;height:40px;text-indent:-9999px;opacity:.3;position:fixed;bottom:10px;right:10px;display:none;background:url(../images/spriImg.png) left -51px no-repeat;z-index:99;}
.bannerBigImg .caption{display:block;z-index:2;text-align:center;bottom:0;}
#owl-demo .item{padding:10px;overflow:hidden;}
/*.left_slide{width:72%;float:left; position:relative;}
.right_slide{width:27%;float:left;margin-left:1%;overflow:hidden;}
.right_slide img, .left_slide img{width:100%;}
.right_banner_two{margin-top:20px;}*/

/*mobile social share css*/
/*.mobile-social-share {
    background: none repeat scroll 0 0 #EEEEEE;
    display: block !important;
    min-height: 70px !important;
    margin: 50px 0;
}

.mobile-social-share h3 {
    color: inherit;
    float: left;
    font-size: 15px;
    line-height: 20px;
    margin: 25px 25px 0 25px;
}*/

.share-group {
    float: right;
    margin:0;
}

.btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
	margin-top:8px;
}
.btn-twitter,.btn-facebook,.btn-android,.btn-apple{
		background: #949393;
		 width: 51px;
		
}
.btn-twitter:hover{
    background-color: #3399CC !important;     
}

.btn-facebook:hover {
    background-color: #3D5B96 !important;   
}

.btn-android:hover {
    background-color: #A4CA39 !important;      
}

.btn-apple:hover {
    background-color: #000 !important;      
}
.dropdown-menu{
	background:none;
	    min-width: inherit;
	box-shadow:none;
	border:none;
	    margin-top: 0;
}
.dropdown-menu>li>a,.dropdown-menu>li>a:hover{
	margin-bottom:2px;
	 color:#fff;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
	border-radius:2px;
	background:none;
	border:none;
}

i.fa-inverse{
	    color: #000;
    font-size: 20px;
    margin-top: 2px;
}
/*mobile social share end*/
/*[class^="hvr-"] {
    display: inline-block;
    vertical-align: middle;
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.hvr-overline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
    right: 0;
}.hvr-overline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background: #d92227;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
*/
/*bounce to top*/
.btnClick {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.btnClick:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d92227;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.btnClick:hover/*, .btnClick:focus*/, .btnClick:active {
    color: white;
}
.btnClick:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/* nt-title */

#nt-title li {
	white-space: nowrap;
	list-style: none;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* nt-example1 */

.artPostDate .popover{
	background:#252525;
	color:#fff;
     max-width: 50%;
	 font-size:inherit;
	 border-radius:0;
}

.popover-content{
	padding:0;
}
.artPostDate .popover.right>.arrow:after{
	border-right-color: #252525;
}


/* Make the well behave for the demo */
 .popover-demo {
    margin-top: 5em
}
/* Popover styles */
 .popover .close {
    position: absolute;
    top: 8px;
    right: 10px;
	color: #fff;
    opacity: 1;
}
.popover-title {
    padding-right: 30px;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.close:focus, .close:hover {
  /*  color: #000;*/
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
/*progress bar*/
.meter { 
			height: 20px;  /* Can be anything */
			position: relative;
			margin: 60px 0 20px 0; /* Just for demo spacing */
			background: #555;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			border-radius: 25px;
			padding: 10px;
			-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
			-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
			box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
		}
		.meter > span {
			display: block;
			height: 100%;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			background-color: rgb(43,194,83);
			background-image: -webkit-gradient(
			  linear,
			  left bottom,
			  left top,
			  color-stop(0, rgb(43,194,83)),
			  color-stop(1, rgb(84,240,84))
			 );
			background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(43,194,83) 37%,
			  rgb(84,240,84) 69%
			 );
			-webkit-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			-moz-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			position: relative;
			overflow: hidden;
		}
		.meter > span:after, .animate > span > span {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-image: 
			   -webkit-gradient(linear, 0 0, 100% 100%, 
			      color-stop(.25, rgba(255, 255, 255, .2)), 
			      color-stop(.25, transparent), color-stop(.5, transparent), 
			      color-stop(.5, rgba(255, 255, 255, .2)), 
			      color-stop(.75, rgba(255, 255, 255, .2)), 
			      color-stop(.75, transparent), to(transparent)
			   );
			background-image: 
				-moz-linear-gradient(
				  -45deg, 
			      rgba(255, 255, 255, .2) 25%, 
			      transparent 25%, 
			      transparent 50%, 
			      rgba(255, 255, 255, .2) 50%, 
			      rgba(255, 255, 255, .2) 75%, 
			      transparent 75%, 
			      transparent
			   );
			z-index: 1;
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			-webkit-animation: move 2s linear infinite;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			overflow: hidden;
		}
		
		.animate > span:after {
			display: none;
		}
		
		@-webkit-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}
		
		.orange > span {
			background-color: #f1a165;
			background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
			background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
		}
		
		.red > span {
			background-color: #f0a3a3;
			background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
			background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
		}
		
		.nostripes > span > span, .nostripes > span:after {
			-webkit-animation: none;
			background-image: none;
		}
/*new banner css*/
  #owl-demoBanner .item img{
    display: block;
    width: 100%;
    height: auto;
}

/*webdunia se jude old site formatting*/
.facebookFollow {
    padding: 20px;
}
.facebookFollow ul li {
    list-style-type: none;
    margin-bottom: 10px;
}
.facebookFollow .fbLike {
    background: url(../images/socialIcon.png) no-repeat left top;
}
.facebookFollow .fwtFollowers {
    background: url(../images/socialIcon.png) no-repeat left -49px;
}
.facebookFollow .utubeSubscribe {
    background: url(../images/socialIcon.png) no-repeat left -100px;
}
.facebookFollow .googleSubscribe {
    background: url(../images/socialIcon.png) no-repeat left -150px;
}
.facebookFollow ul li a {
    width: 180px;
    height: 40px;
    display: inline-block;
    float: left;
    margin-right: 4%;
}

.facebookFollow ul li span {
    float: left;
    color: #484848;
    text-align: left;
    margin-top: 11px;
}

/*banner caption hover*/
/*	.box {
		position: relative;
		float: left;
		width: 300px;
		height: 300px;
		margin-right: 20px;
	}*/
	.last {
		margin-right: 0;
	}
	.banner .caption {
		position: absolute;
		
		
		bottom: 0;
		left: 0;
		/*width: 90%;
		height: 15%;
		opacity: 0.7;
		padding: 5%;
		background: #000;
		*/
		color: #fff;
	}


/*.full-height {
    height: 30%;
}*/
.banner .caption p{ display:block !important;    visibility: hidden;}
.banner .caption p a,.banner .caption a{ color:#fff;} 
}