/*
 * jQuery FlexSlider v2.6.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  background:#080808;
  position:relative;
}

.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.flex-direction-nav  a.flex-next {background-position: 100% 0; right: -36px; opacity:0;}
.flex-direction-nav a.flex-prev {left: -36px; opacity:0;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

#carousel .flex-direction-nav  a.flex-prev,#wd_gallery_thumbnail .flex-direction-nav  a.flex-prev{ left: 5px; opacity:1;}
#carousel .flex-direction-nav  a.flex-next,#wd_gallery_thumbnail .flex-direction-nav  a.flex-next{right: 5px;opacity:1;}


html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 1px;
  background: #ffffff;
  border: 0px solid #ffffff;
  position: relative;
  zoom: 1;
  
  
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
  border:1px solid #000;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {

  text-decoration: none;
  display: block;
  width: 30px;
  height: 60px;
  margin: -50px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  background:#000 url(../images/gallery_arrow.png) no-repeat 0px center;
  text-indent:-99999px;
}
.banner #slider .flex-direction-nav a {    top: 53%; 
	-o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.photoConsumption .flex-direction-nav a{    margin: -35px 0 0;}
.banner .flex-direction-nav a,.banner .flex-direction-nav a:hover{ /*background-color:inherit !important;*/ width:30px; height:65px;}
.flex-direction-nav .flex-prev{ left: 5px;}
.flex-direction-nav .flex-next{ right: 5px;}

/*.flex-direction-nav a{background:#000 url(../images/gallery_arrow.png) no-repeat 0px center;}*/
.flex-direction-nav a.flex-prev,.banner #slider .flex-direction-nav a.flex-prev:hover{background:url(../images/spriImg.png)  -92px 12px no-repeat; cursor:pointer;}
.flex-direction-nav a.flex-next,.banner #slider .flex-direction-nav a.flex-next{background:url(../images/spriImg.png)  -122px 12px no-repeat; cursor:pointer;}
.flex-direction-nav a.flex-prev:hover{background:url(../images/spriImg.png) -92px -58px no-repeat;}
.flex-direction-nav a.flex-next:hover{background:url(../images/spriImg.png) -120px -58px no-repeat;}

.flex-direction-nav a:hover{
	background-color:#444;
	}

.flex-direction-nav .flex-prev {
  left: 5px;
  
}
.flex-direction-nav .flex-next {
  right: 5px;
  background-position:-40px center;
}

/*#wd_gallery_thumbnail .flex-direction-nav a{
	top:0;
	margin:0px;
	height:100%;
	}*/
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
#wd_gallery_thumbnail .flex-active-slide img{
	opacity:0.68;
	}
.flex-caption{
	background:#000;
	color:#fff;
	/*font-size:22px;*/
	padding:10px;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	}
#wd_gallery_thumbnail .flex-caption{
	background:#000;
	position:relative;
	/*font-size:20px;
		min-height:76px;
	*/
	padding:10px;

	}
/*#wd_gallery_thumbnail .flex-viewport{
	margin:0 40px 0px 41px;
	}*/
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .fullRotator .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 5px;
  }
  .fullRotator .flex-direction-nav .flex-next {
    opacity: 1;
    right: 5px;
  }

}
@media screen and (max-width: 767px) {
	.flex-direction-nav a{
		width:26px;
		height:60px;
		background-position:-8px center;
		}
	.flex-direction-nav .flex-next {
		background-position: -45px center;
		}
	.flex-caption{
		/*font-size:14px;*/
		}
	#wd_gallery_thumbnail .flex-caption{
		min-height:50px;
		/*font-size:14px;*/
		padding:5px 30px;
		}	
	}
