@charset "utf-8";
a{color:#292929;text-decoration:none; }
a:hover,a:active,a.visited/*,a:focus*/{text-decoration:none;color:#d92227; /*-o-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-khtml-transition: all 0.3s linear;
-webkit-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
transition: all 0.3s linear;*/}
a:focus{     outline: inherit;
    outline-offset: inherit; color:#292929;text-decoration:none;}
.whiteFontRedBg a:hover,.whiteFontRedBg:hover {text-decoration: none;color: #ffe100;-o-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-khtml-transition: all 0.3s linear; -webkit-transition: all 0.3s linear;-ms-transition: all 0.3s linear;transition: all 0.3s linear;}
a.selected{color:#808080;}
label{font-weight:normal;}
h1,h2,h3{margin:0;padding:0;}
/*article*/ h3.borderBack{margin-bottom:15px; clear:both;}
.accordion-toggle{display:block;padding:5px 10px;}
.panel-heading{padding:0;}
.panel-group{margin-bottom:0;}
.threeBlockNews .newsHeading,.cricketNewswithImg .headingMain{margin:10px 0 0px 0;}
.show{display:block!important;}
.fa-remove:before, .fa-close:before, .fa-times:before{content:"\f00d";/*font-size:21px;*/}
/*poll section color*/
.progress-bar{ color:inherit}

.h1,h1,.h2,h2,.h3, h3{
	font-size:inherit;
}

p{
	margin-bottom:0;
}
.form-control{border:1px solid #e7e6e6; border-radius:0;}
.btn{
	border-radius:0;
}
.borBox{border:1px solid #e7e6e6;}
/*.tooltipster-base{
	width:auto !important;
}*/
.mark, mark{
	padding:0;
	background:yellow;
	color:#000;
}
.fade{
	opacity:1;
}

/*common css*/
.p0{ padding:0;}
.pT0{ padding-top:0;}
.pB0{ padding-bottom:0;}
.pL0{ padding-left:0;}
.pR0{ padding-right:0;}
.mB30{
	margin-bottom:30px;
}
.mB10{
	margin-bottom:10px;
}

.mB5{
	margin-bottom:5px;
}

.mB20{
	margin-bottom:20px;
}

.mT10{
	margin-top:10px;
}

.mT20{
	margin-top:20px;
}
.mT30{
	margin-top:30px;
}

.mT50{
	margin-top:50px;
}

.m10{
	margin:10px;
}
.pad5{
	padding:5px;
}
.pad10{
	padding:10px;
}
.padB10{ padding-bottom:10px;}
.padB20{ padding-bottom:20px;}
.mB10{
	margin-bottom:10px;
}

.mB20{
	margin-bottom:20px;
}
.mB30{
	margin-bottom:30px;
}
.m0{
	margin:0;
}
ul.m0{
	margin:0;
}

.mp0{
	margin:0;
	padding:0;
}

ul.listStyleNone li{
	list-style-type:none;
}

.bgColor{
	/*background:#FAFAFA;*/
	background:#FAFAFA;
}

.mr15{
	margin-right:15px;
}

.borderBotGray{
	border-bottom:1px solid #e7e6e6;
}
.borderTopGray{
	border-top:1px solid #e7e6e6;
}
textarea.form-control{
	resize:none;
}
.borRad{
border-radius:0
}
.alert{ padding:7px 10px;}
.alert .close{  line-height: 30px;}
.progress{ margin-bottom:0;}