@media screen and (min-width:770px){/*.footerLinks .owl-controls{display:none !important;}*/
.banner .right_banner_two,.categoryBanner .right_banner_two{ overflow-x:auto;}
.footerLinks .container-fluid,.banner .right_banner_two img{ width:100%;}
.container-fluid{width:96%;}
.footerLinks .owl-wrapper{margin-left: 2%;}
 .langIcon{ display:none;}
/*right bar scroll fixed*/
.fixSidebar{
		position:fixed;
		right:27px;
		padding-left:30px;
		bottom:0;
		z-index:9;
		/*width:382px;
		width: 33.33333333%;*/
		}
	.banner .right_banner_two .rashiImgBlock img { width:auto !important;}
.khelSansar .borderRgt/*,.borderRgt*/{border-right:1px solid #d7d6d6;}
.activeSidebar{position:absolute;right:0px;bottom:0px;}
.footerLinks .owl-carousel .owl-wrapper-outer{margin-left:0;}
article{margin:30px 0;}
.artTSpace{margin-top:0;}
.threeBlockNews .newsHeading,.cricketNewswithImg .headingMain{min-height:100px;}
.bannerBigImg .caption{padding:10px 20px;}
.bulleteRed{padding-top:8px;}
.right_banner_two{border-top: 10px solid #fff;}
.rashiPhaladesh .rasi_new ul.secondList{ float:right;}
.cd-timeline-navigation{ display:none;}
.predictionBlock .cd-horizontal-timeline .events-wrapper{margin:0;}
.cd-horizontal-timeline .events{ text-align:center;   max-width: 100%;    width: 100%;}
.cd-horizontal-timeline .events-content{   height: auto !important;}

}
@media screen and (max-width:1600px){
	
.owl-wrapper .right_banner_two_gallery{margin-top:20px;}
.left_slide_gallery{width:68%;}
.right_slide_gallery{width:28%;}
/*.categoryBanner .silderLeft{ padding-right:0px;}*/
.categoryBanner .right_banner_one{ padding:0 15px;}
.categoryBanner .right_banner_two{ padding:0; border-top:0; overflow:hidden;/*padding-right:15px;*/}
/*.adListDetail .headingSub{ font-size:18px; line-height:22px;}*/
}
@media screen and (max-width: 1366px) {
	
	.categoryBanner .left_slide .caption{    padding-bottom: 0;    padding: 0 30px;}
 .categoryBanner .bannerHeading{     bottom: 0; margin: -12px auto 0px auto; width: 100%;
     background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000',GradientType=0 );}
/*  .categoryBanner .bannerHeading a{color:#292929;text-shadow:none;}*/
 .categoryBanner .owl-pagination, .categoryBanner .owl-pagination{    margin-top: 25px;}
/*.rgtContainer .headingMain{font-size: 23px;
line-height: 26px;}*/

.owl-wrapper .right_banner_two_gallery{margin-top:10px;}
.slide2 .newBlockInn li a {width: 90%;}
.artPostDate .popover{ max-width: 100%;}
.banner .right_banner_two .bannerImgBlock:parent{ overflow-x:inherit}
.banner .right_banner_two img.homeBanner{ width:83%;}
}
@media screen and (min-width:1025px) and (max-width:1280px){
	.banner .right_banner_two img.homeBanner{ width:66%;}	.footAppIcon{ position:relative; margin-top:10px; right:auto; top:auto;}
	/*.socialIconBlock .socialIcon{ display:none !important;}
	#socialShare{ display:block !important;}*/
	.banner .col-lg-3{ padding-left:0;}
	.socialIconBlock .fa{ line-height:normal;}
	#searchtoggl {
    padding: 13px 5px 13px 15px;}
		#owl-prediDetails.owl-carousel .owl-wrapper-outer{    width: auto;
    margin-left: 18px;
    margin-right: 18px;}
}
@media screen and (max-width: 1440px) {
	.banner .right_banner_two img.homeBanner{ width:85%;}
}
@media screen and (min-width: 1900px) and  (max-width: 2500px){/*.predictionBlock .tab-content .col-md-3{ width:20%;}*/
/*.todayRashiphal .owl-buttons .owl-prev, .todayRashiphal .owl-buttons .owl-next{ width:20px;}*/
#owl-prediDetails.owl-carousel .owl-item {
    margin-right: 3px;
}
}
@media screen and (min-width: 1440px) and  (max-width: 1900px){/*.predictionBlock .tab-content .col-md-3{ width:20%;}*/
.rashiIcon {    height: 195px;}
/*.todayRashiphal .owl-buttons .owl-prev, .todayRashiphal .owl-buttons .owl-next{ width:20px;}*/
.preBlockDisInn{     width: 87%;
    margin: 0 auto;
    max-width: 875px;}
	#owl-prediDetails.owl-carousel .owl-item{ margin-right:3px;}
}
@media screen and (min-width:1300px){.container{width:1300px;}/*.banner .right_banner_two img.homeBanner{width:100%;}.banner .bgColor{ background:#000;}*/.currentNews.col-md-8 { margin-right: 5px;}.banner .col-md-8,.galleryPage .col-md-8 {padding-right:0px;}
.preBlockDisInn{width: 875px; margin: 0 auto;}
}

@media screen and (min-width:1025px){
	.khelSansar .col-md-8{ padding-right:0;}
	.lftContainer.col-lg-9,.lftContainer.col-md-8,.banner .col-lg-9,.banner .col-md-8,
	.galleryPage .col-lg-9, .galleryPage .col-md-8{ width:70%;}
	.rgtContainer.col-lg-3,.rgtContainer.col-md-4,.banner .col-lg-3,.banner .col-md-4,
	.galleryPage .col-lg-3,.galleryPage .col-md-4{width:30%;}
	.categoryBanner .col-md-4{ width:33.33333333%;}
.currentNews.col-lg-9,.currentNews.col-md-8{ width:70%;}
.currentNews.col-lg-3,.currentNews.col-md-4 {width:29%;}
.fullRotator .flex-direction-nav a { top:41%;}
/*.categoryBanner .bannerHeading{ display:none;}*/
}
@media screen and (max-width:1024px){
	.bannerNewsTopic{ height: auto !important; margin-top:10px;}
		.footAppIcon{ position:relative; margin-top:10px; right:auto; top:auto;}
	.logoScroll.mobileLogo.logoScrollShow {margin-top: 5px;}
	#socialShare i.fa-inverse{margin-top: 5px;}
	.socialIconBlock .socialIcon{ display:none !important;}
	#socialShare{ display:block !important;}
	.socialIconBlock .fa{ line-height:normal;}
#searchtoggl {padding: 8px 5px 9px 5px;}
/*#socialShare .btn {padding: 8px 2px;}*/
.btn-group{    margin-top: 0px;}
	.categoryBanner .owl-carousel .owl-item:nth-child(odd){  }
	.categoryBanner .owl-carousel .owl-item.txtwrapper{ display:none;width: 0 !important;}
	.categoryBanner .bannerHeading{ padding-bottom:15px !important; padding-left: 10px; padding-right: 10px;}
	.categoryBanner .itemTxt{ display:none;}
	.categoryBanner .catBannerTxtWrap{ width:100%; float:none;}
	.categoryBanner .owl-theme .owl-controls{ margin-top:2px;}
	.categoryBanner .owl-carousel{ background:#000;}
}
@media screen and (min-width:1024px) and (max-width:1300px){
	#owl-prediDetails.owl-carousel .owl-item {
    margin-right: 6px;
}
.todayRashiphal .owl-buttons .owl-prev{ margin:0 !important;}
/*.todayRashiphal .owl-buttons .owl-prev, .todayRashiphal .owl-buttons .owl-next{ width:18px !important;}*/
}
@media screen and (min-width:768px) and (max-width:1024px){.rashiIcon{ height:181px;}}
@media screen and (min-width:800px) and (max-width:1024px){	

	.banner .col-lg-3{ padding-right:0;}
/*	.blogContentBlock {width: 63%;}*/
	.threeBlockNews p{ display:none;}
	.cricketLiveInn .accordion-toggle b{ display:inline-block; width:86%;line-height: 22px;}
	.categoryBanner .bannerHeading{    /* font-size: 35px;*/
    padding: 0 25px;}
	/* .categoryBanner .bannerHeading{ background:none;};*/
	.categoryBanner .silderLeft{ margin-bottom:15px;}
	.categoryBanner .owl-pagination, .categoryBanner .owl-pagination{ margin-top:0;}
/* .categoryBanner .silderLeft{ height:auto !important; margin-bottom:10px;}	*/

	.artPostDate .popover{ max-width: 100%; width:100%;}.articleBlock figure{clear: both; margin-top: 10px;/* display: inline-block;*/}.fixSidebar{right:20px;}.rgtContainer,.rgtContainer.fixSidebar { display:none !important;}
.gallery_ads{ margin-top:0;}
.desktopMainMenuLinks a{ margin-right:16px;}
.banner .right_banner_one{ border-right:15px solid #fff;}
/*.bulleteRed { padding-top: 4px;}*/
.categoryBanner .silderLeft,.banner .col-lg-9, .banner .col-md-8{ width:100%; padding-right:15px;}
.categoryBanner .right_banner_one{ padding-left:15px; border-right:0;}
/*.categoryBanner .right_banner_two{padding-right:15px;}*/
}

@media screen and (min-width:992px) and (max-width:1150px){
	
	.menuBlock .menuInnBlock{width: 85%; padding-right:0;}
.menuBlock .col-md-3{width: 15%; padding:0;} 
#searchtoggl{   /* padding: 11px 5px 15px 5px;*/margin-left: 5px;}
#socialShare .btn{padding: 6px 2px;}
/*#socialShare .btn-info i{ background:url(../images/socialShareIcon.png) no-repeat center center;}*/
	/*.lftContainer.col-lg-9,.lftContainer.col-md-8,
	.banner .col-md-8,.banner .col-lg-9{ width:100%;}*/
	.lftContainer.col-lg-9,.lftContainer.col-md-8,.banner .col-lg-9,.banner .col-md-8,.rgtContainer.col-lg-3,.rgtContainer.col-md-4,.banner .col-lg-3,.banner .col-md-4 {width:100%;}
.rgtContainer.col-lg-3,.rgtContainer.col-md-4,
.banner .right_slide.col-lg-3, .banner .right_slide.col-md-4,
.galleryPage .col-lg-9, .galleryPage .col-md-8,
.galleryPage .col-lg-3, .galleryPage .col-md-4 {width:100%;}
.right_banner_one,.right_banner_two, .right_banner_two_gallery{width: 50%;float: left; border-top:none;}
.right_slide_gallery .right_banner_one, .right_slide_gallery .right_banner_two_gallery{width:100%;}
	.right_banner_one{margin-right:0;}
	.right_banner_two img{ width:100%;}
	/*.right_banner_two.bgColor{ padding:10px;}*/
.left_slide .caption{/*bottom:8%;*/display: block; width: 100%; padding-left:5%; padding-right:5%;}

.banner iframe{border:1px solid #000 !important;}
/*.right_banner_one.bgColor {padding:0; background:none;}*/
/*.right_banner_two .caption a{	color:#000;	text-shadow:none;}*/

/*.right_banner_two{border-top:none;}

	.desktopMainMenuLinks a {
    margin-right: 10px;
}*/
	.rgtContainer .business ul li span.amt{
		    width: 14%;
	}
	.business ul li span {
    width: 38%;
	}
	.business ul li span.status {
       min-width: 60px;
	}
.business ul li span.amt{margin-right:13%;}
/*.rashiImgBlock{width:25%;}*/

.khasReport .caption{padding:10px 10%;}
/*.todayRashiphal .owl-theme .owl-controls{
	width:100%;
	}
.todayRashiphal .owl-buttons .owl-prev{
	right:5px;
	}*/
.todayRashiphal .owl-buttons .owl-next{
	left:5px;
	margin-right:0px;
	}
.cricketLive, .todayRashiphal{
	margin-bottom:20px;
	}
/*.todayRashiphal p.txtContent{
	padding-right:0px;
	}*/
.todayRashiphal .owl-carousel .owl-wrapper-outer{
	padding-left:0px;
	}
/*.todayRashiphal p.txtContent{
	width:73%;
	}*/
.todayRashiphal .btnClick{
	margin:0px;
	/*font-size:14px;*/
	}
	/*.right_slide{width:100%; margin-left:0;}*/
/*.lftContainer.col-md-8 {
    width: 60.666667%;
}
.rgtContainer.col-md-4 {
    width: 39.333333%;
}*/

/*.wd_right_gallery p{
	font-size:14px;
	line-height: 25px;
	}*/
	/*rashifal arrows*/
/*.todayRashiphal .owl-buttons .owl-prev, .todayRashiphal .owl-buttons .owl-next{ width: 16px;}
.todayRashiphal .owl-theme .owl-controls{right: -23px;}
.todayRashiphal .owl-buttons .owl-next{ margin-right:0;}*/
}

@media screen and (min-width:992px){
.videoBlock .col-md-9{width:72%;padding-right:0px;}
.videoBlock .col-md-3{width:27%;}

}
@media screen and (min-width:768px) and (max-width:992px){
	.logoScroll {
    display: block;
}
	.right_banner_one.bgColor{ border-right:15px solid #fff;}
	.menuBlock .overlay{width:auto;max-height: 500px;overflow: auto;}
	/*.mainMenuList ul {display: none;}*/
	.topLinks,.lagBlock{text-align:center;}
.lftContainer.col-lg-9,.lftContainer.col-md-8,.banner .col-lg-9,.banner .col-md-8,.rgtContainer.col-lg-3,.rgtContainer.col-md-4{width:100%;}
.topLinks{margin-bottom:10px;}
.logo{margin-bottom:10px;}
/*.desktopMainMenuLinks a{font-size:18px;}*/
.business ul li span.amt{margin-right:20%;}
body .borderRgtW,body .borderRgt{border-right:none;}
/*.right_banner_two .caption{font-size:14px;}
.left_slide .caption{font-size:23px;}*/
/*.photogallery_left{padding:10px;line-height:16px;font-size:14px;}
.right_banner_two{margin-top:10px;}*/
.callbacks_nav{top:47%;}

.gallery_wrapper .headingSub{
	font-size:15px;
	line-height:18px;
	}
.photogallery_left{
	padding:10px 0px;
	}
.wd_gallery_album .album_caption{
	/*font-size:24px;*/
	padding:15px 10px;
	}
.wd_more_gallery .row{
	margin:10px -5px;
	}
.wd_more_gallery .col-md-2{
	padding:0px 5px;
	}

	
}
@media screen and (max-width:1024px){
#owl-prediDetails.owl-carousel .owl-wrapper-outer{    margin-left: 22px;
   }
	#owl-prediDetails.owl-carousel .owl-item {
    margin-right: 3px;
}

}
@media screen and (max-width:768px){
	
	/*.menuBlockBg, .menuBlock{ margin-bottom: 50px;}*/
/*changes made on 14-9-16 start*/

body{padding-top:80px;}
/*overridding bootstrap columb gutter space for col-md-9 and col-md-3*/
.menuBlock > .container-fluid{ padding:0 5px;} 
.headerMain #searchbar{ background:#fff;}
#searchtoggl{padding: 8px 3px 9px 6px;}
.new{position: fixed;white-space: nowrap;overflow-x: scroll;width: 1000px;text-align: left;top: 40px;left: 0;border-top: 1px solid #e7e6e6;border-bottom: 1px solid #e7e6e6;}
.desktopMainMenuLinks a{margin:0 10px;display: inline-block;padding:5px 0 3px 0;position:relative;}	
.menuBlock .menuInnBlock > a{background: url(../images/wdLogo.png) no-repeat 85% top;display: block; background-size: 25%; height: 36px; left: 47px; position: relative; margin-top: 3px;}
.desktopMainMenuLinks{display:block !important; margin-top:0; min-width:320px; overflow-y:hidden; background:#fff; height:37px}
.desktopMainMenuLinks .newBlink{position: absolute;top: -11px;right: -10px;}
.desktopMainMenuLinks .newBlink img {top:0;position: relative; vertical-align:middle;}
.desktopMainMenuLinks .active, .sub_menu .active, .desktopMainMenuLinks .active:hover, .sub_menu .active:hover {padding-bottom: 3px;}
.lftContainer { overflow:hidden;}/*to remove scroll in mobile view*/
/*fix fo sticky header*/
.menuBlock {position: fixed;right: 0;left: 0;z-index: 1030;top: 0; margin-bottom:none; border-bottom:none; background:#fff; z-index:999999;}
/*language drop down starts*/
.langIcon{display:none;}
.lagBlock{ width:15%; font-size:10px;padding:4px 4px 3px 3px;margin-top:10px; width:60px;color:#fff;}
.lagBlock i {font-size: 9px;padding-left: 2px; padding-top:3px;}
.menuBlock .menuInnBlock > a {background: url(../images/logo.png) no-repeat left top;display: block;background-size: 80px;height: 36px;left: 47px;position: relative;margin-top: 3px;}
/*.menuBlock .menuInnBlock > a {background-size: 48%;}*/
.langDropDown a{font-size:17px}
/*language drop down ends*/
/*changes made on 14-9-16 end*/
	
	#owl-prediDetails.owl-carousel .owl-item {
    margin-right: 4px;
}
	#owl-prediDetails.owl-carousel .owl-wrapper-outer{    width: auto;
    margin-left: 18px;
    margin-right: 18px;}
	.preBlockDis h2{ margin-top:20px;}	.cd-horizontal-timeline .events-content li p{ padding-bottom:20px;}
.cd-horizontal-timeline .events-content{    padding: 10px; }
	.menuBlock .menuInnBlock > a{    background: url(../images/wdLogo.png) no-repeat 85% top;display: block; background-size: 25%; height: 36px; left: 47px; position: relative; margin-top: 3px;}
	
/*#searchtoggl {padding: 13px 5px 13px 15px;}*/
.logoScroll.mobileLogo{display:none;}
.logoScroll.mobileLogo.logoScrollShow{ display:none;}

/*.menuBlock.menuBlockBg.navbar-fixed-top .menuInnBlock > a{ background:none; left:auto; height:auto; position:inherit; margin-top: 0;}*/



	.right_banner_two.bgColor{ padding:0;}
	.categoryBanner .bannerHeading{ padding-left: 25px;  padding-right: 25px;}
	.facebookFollow ul{margin-left: 21%;}
	/*.left_slide_gallery img, .videoBlock img{ width: 95%;}*/
	.right_slide_gallery{ display:none;}
.left_slide_gallery{ width:100%; margin:0;}
	.listItem{ margin-bottom: 20px;}
	.poll{ margin-bottom:15px;}
   .advertiseWithUs .adBannerBlock { margin:0;}
	.menuBlock .overlay{width:auto;}
	.banner,.categoryBanner { margin-bottom:30px;}
	.banner .right_banner_one .desktop_banner_block {padding: 5px;}
	.disForum > .TblRow{margin-bottom:10px; padding-bottom:10px;}
	/*.disForum > .TblRow > [class*=col]{ padding:5px 0; }*/	
	.postTxt i{ margin-left:5px;}
	.bottom_wrapper_bdr{display:none;}
	.todayRashiphal .owl-theme .owl-controls{right:0;}
	#video_gall_left{width:100%; margin-left:0;}
		.right_banner_two .caption{ position:relative; text-shadow:none;    margin: 15px 0 0px 0; }
			/*.right_banner_two .caption a{color:#292929;}*/
.lftContainer.col-lg-9,.lftContainer.col-md-8,.banner .col-lg-9,.banner .col-md-8,.rgtContainer.col-lg-3,.rgtContainer.col-md-4{width:100%;}
.disForum .disFTable td{ padding:15px;}
.disForum .disFTable th{ padding:8px 15px;}
	   #nav-toggle.btn-close{ background: #d92227;}
	.artPostDate .popover {
    max-width: 65%;
}

	.borderRgtW{border:none;}
.overlay .menu ul li:last-child{border:0;}
.bannerBigImg .caption{/*font-size:24px;*/line-height:35px;padding-bottom:0;}
.todayRashiphal .owl-buttons {
    top: -70%;
}
.todayRashiphal .owl-theme .owl-controls{
	margin-top:6px;
	}
.cricketNews .owl-buttons{
	top:50%;
	margin-top:-35px;
	}
/*.cricketNews .owl-next, .cricketNews .owl-prev{
	background-color:rgba(0,0,0,0.5);
	width: 30px;
    background-position: -90px 12px;
    height: 70px;
	}
.cricketNews .owl-next:hover, .cricketNews .owl-next:focus, .cricketNews .owl-prev:hover, .cricketNews .owl-prev:focus{
	background-color:#000;
	}
.cricketNews .owl-next{
	background-position: -122px 12px;
	}*/	

.business ul li{
	padding:10px 15px;
	}
.business ul li span{
	padding-left:0px;
	}
.business ul li span.name, .business ul li span.amt{
	margin-right:0px;
	margin-top:7px;
	}
.business ul li span.status{
	float:right;
	}
.artPostDate{
	    margin: 0 0 10px 0;
}
.listingPage .headingMain{
	margin-bottom:5px;
}
/*.listingPage .listItem .imgFull {
	margin-bottom:15px;
}*/
.listItem {
    border-bottom: 1px solid #eee;
    padding-bottom:20px;
}
.comments .col-md-11 {
    padding-left: 15px;
}
.extraBlock  .mr15 {
	margin-right:0;
}
.extraBlock  .mr15.mT30 {
	margin-bottom:50px;
}

.extraBlock .contentBlock .headingSub{
	margin:10px 0;
}


.left_slide .caption{display: block; }
.right_banner_two .caption{display: block; /*width: 50%;*/     bottom: -136%;background: #000; padding: 5px; margin-left: 0;}
.banner iframe{border:1px solid #000 !important;}
 /*.right_banner_one.bgColor {padding:0;background:none;}*/
.newBlockInn a{ margin-bottom:10px;}
.logoScroll.mobileLogo{	margin-top:8px;}
.videoBlock,.khelSansar,.adBannerBlock { margin-top: 30px; margin-bottom: 30px;}
.photoGallery { margin-top:50px;}
.BBC .newsBlock1,.BBC .newsBlock2,.khasReport {margin-bottom: 30px;}
/*.owl-buttons { top: 50%;}*/
.right_banner_two .caption{display: block; /*width: 50%;*/     bottom: 6%;background: none;  margin-left: 0;padding: 5px 20px;}
.menuBlock.navbar-fixed-top .overlay{margin-top:41px;}
#menuOverlay{ opacity:0;background:rgba(255,255,255,.5); transition:all 0.2s ease-in;}
	#menuOverlay.active{ position:fixed;top:45px;  width:100%;height:100%; z-index:1; opacity:1;}
/*#nav-toggle.btn-close{margin-top:47px;}
.right_slide{width:100%; margin-left:0;}*/
.listingPage .headingMain{    margin-top: -2px;}

.gallery_category ul li p{
	padding:5px;
	/*font-size:15px;*/
	}
.wd_right_gallery p{
	padding:0px;
	margin-bottom:10px;
	}

.gallery_category ul li.g_large.ads_banner .gallery_item{
	display:block;
	background:none;
	}
.gallery_category ul li.g_large.ads_banner .gallery_item .ads{
	/*display:inline-block;*/
	display:none;
	}
		/*.banner .col-lg-9, .banner .col-md-8,.banner .col-lg-3, .banner .col-md-4,
		.right_banner_one,.right_banner_two{    width: 100%;
    float: left;
    margin-bottom: 10px; background:none;}
	.right_banner_two .caption{ position:relative; text-shadow:none;    margin: 15px 0 0px 0; }
	.right_banner_two .caption a{color:#292929;}
	.right_banner_one{ border-bottom:1px solid #d7d6d6; margin-bottom:5px;}*/
	.banner .right_slide .caption a{ color: #292929;}
}

@media screen and (max-width:767px){
	
		.categoryBanner .right_banner_one, .categoryBanner .right_banner_two{ width:100%; border:none;}
		 .categoryBanner .right_banner_two{ padding-left:15px; padding-right:15px;}

.subHeader nav.pull-left{
	float:none !important;
	/*white-space:nowrap;
	overflow-y:auto;*/
	}
.pull-right.control-buttons{
	float:none !important;
	margin-top:10px;
	text-align:center;
	}
.gallery_title{
	margin:10px 0px 0px 0px;
	}
.gallery_title .pull-right{
	margin-top:8px;
	}
#wd_gallery_thumbnail .flex-viewport{
	margin:0px;
	}
.gallery_container{
	margin:0px;
	}
.gallery_container ul{
	display:block;
	margin:0px;
	}
.gallery_container ul li{
	display:block;
	width:auto !important;
	padding:0px;
	margin-bottom:10px;
	}
.gallery_category ul li.g_thumb .gallery_item:first-child{
	margin-bottom:10px;
	}
.wd_gallery_album .album_caption{
	/*font-size:22px;*/
	padding:5px;
	}

.wd_more_gallery .col-md-2{
	display:block;
	width:auto;
	margin-bottom:10px;
	}
.wd_right_gallery .row, .wd_more_gallery .row{
	margin-bottom:0px;
	}
.gallery_category ul li.g_large .gallery_caption{
	position:absolute;
	left:-100%;
	visibility:hidden;
	}
}

@media screen and (max-width:760px){
	
	.button.back {
    border-left: none;
}
.headingFixed{ padding-left:10px;}
.headingFixed{top: 78px;}
.lagBlock{    background: #9a9a9a;}
.langDropDown a{background: #d2d2d2;}
.langDropDown a:hover { background: #e8e6e6;}
.langDropDown {  width: 60px;}
.langDropDown a {    font-size: 12px;}
.langDropDown, .sortDropDown{margin-left: -3px;   margin-top: 3px;}

.rashiPhaladesh .rasi_new li{    width: 100%;  /* padding-left: 10%;*/}
.staticPage .nav>li>a {    padding: 5px;}
	.banner  .newsBlock, .categoryBanner .newsBlock{ height:auto !important; overflow:auto !important; outline:inherit !important;}
	.articlePage .updatesBlock  img.article-body-content-image-small{ width:50px;}
	        .newsBlock{			
              background:url(../images/borDvd.png) center bottom no-repeat;			
              background-size:100%;			
              margin-bottom: 25px;			
              padding-bottom: 15px;			
				 }
	.categoryBanner .owl-pagination{ display: none;}
	.banner .owl-pagination{ display: none;}
    .banner .caption{ padding-bottom: 6% !important;}
	.channai .owl-buttons{    top: -15%;}
	/*.lagBlockInn{ display:none;}*/
	#searchtoggl{ margin-left:0;}
	#socialShare .btn{    padding: 6px 7px;}
	.fa-share-alt:before{content: "\f0ac"; }	
	#socialShare .btn .dropdown-menu{ padding:0;}
	.article-body-content-image-small, .article-body-content-image-small img{ width:100%; float:none;}
	.articlePage .updatesBlock .fontIncTxt .article-body-content-image-small, .fontIncTxt  .article-body-content-image-small img{ width:auto; float:left;}
	.articlePage .fontIncTxt { margin-top: 10px;}
	 /*.lagBlock {   background: url(../images/legIcon.png) no-repeat center right;width: 35px; margin-right:0; background:none; margin:0; padding:0; position:relative;}*/ 
	/*.lagBlock .langIcon,lagBlock .langIcon:hover{    background: url(../images/legIcon.png) no-repeat center right;background-size: 86%; display:block; width:35px; height:35px;  margin-top: 4px; }*/
	/*.lagBlock .langIcon:hover{background: url(../images/legIconH.png) no-repeat center right;    background-size: 86%;}*/
	/*.lagBlock a.selected{ display:none;}
	.lagBlock .fa{ text-indent: -1000px;}*/
	/*.lagBlock .langDropDown{ margin-top:32px;}*/
	/*.menuBlock .menuInnBlock > a{background-size: 48%;}*/
	body .banner .caption p{ display:none !important;}
	.banner .right_banner_two,.categoryBanner .right_banner_two{ overflow-x:auto;}
.wd_gallery_album .album_caption{position: absolute; }
#wd_gallery_thumbnail .flex-viewport{ margin:0;}
.gallery_wrapper .wd_gallery_left img.img-list-small{ width:100%;}
.wd_gallery_left{ margin-bottom:20px;}
.wd_gallery_album .album_caption{
	background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(0,0,0,1) 100%); 
	background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%); 
	background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#000',GradientType=0 );
	bottom:1px;
	position:absolute;
	width: 100%;
	color:#fff;
	/*font-size:36px;*/
	padding:20px 20px 10px 20px;
	z-index:9;
	left: 1px;
	}
.overlay .menu ul li.mainMenuList i{ margin-top:7px; cursor:pointer;}   
.overlay .menu ul ul{margin-left:15px;}
.overlay .menu ul li.mainMenuList{padding-top:5px;padding-bottom:5px;}
.menuBlock .overlay{width:auto;}
.mainMenuList ul {display: none;}
.overlay .menu ul li{ margin-bottom:10px;}
.adListDetail{ margin-bottom:10px;}
.gallery_wrapper .wd_gallery_right img.img-list-small{
		width:auto;
		}
.gallery_wrapper .wd_gallery_right{
	text-align:center;
}
/*mobile responsive block start*/
#myList li{ display:none;}
.topBannerNews li{ clear:both; text-align:left; margin-bottom:5px; padding-bottom:5px; border-bottom:1px solid #ececec;}
.topBannerNews li img{ width: 130px;  float: left; margin-right:10px;}
.loadMore,.showLess {
	cursor:pointer;
    width: 50%; 
    font-size: 14px;
    color: #fff;  
    z-index: 9999;
	margin:0 auto;
	border: solid 2px #fff4f4;
    background-color: #d92227;
	box-shadow: 5px 5px 5px #e0dede;
    border-radius: 5px;
}
/*mobile responsive block end*/
.rashiPhaladesh .rasi_new ul.secondList{ float:right;}

	.translate {
    margin: 20px 0;
}	
		#owl-prediDetails.owl-carousel .owl-item {
    margin-right: 9px;
}
	.rashiPhalaBlock .col1,.rashiPhalaBlock .col2,.rashiPhalaBlock .col3{ padding:0 15px;}
	.cd-horizontal-timeline .events-content{    min-height: 195px !important;}
.subHeader nav ul li{margin-bottom: 5px;}
	.flexslider .captionSlider{ padding:0;   margin-top: -50px;}
	.flexslider .captionSlider a{background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);
    margin-top: -40px;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;}
	.banner .right_banner_two .newBlockInn li{ border-bottom:1px solid #f3f0f0; margin-bottom:5px;}
.banner #owl-right-demoBanner .right_banner_one{ margin-bottom:10px;}
	.facebookFollow ul{margin-left: 15%;}
	.video-gallery-Mobile .col-md-9{ padding:0;}
	.cricketLive .panel-default .player{ padding-top:5px;}
	.threeBlockNews .newsHeading, .cricketNewswithImg .headingMain{ margin:0 0 10px 0;}
	.updatesBlock{ margin-top:0;}
	.pageBtn .prevArti,.pageBtn  .nextArti{ font-size:0; color:transparent; width:17px; height:32px; display:inline-block;}
	.pageBtn .prevArti{background: url(../images/lftArrow.png) no-repeat; float:left;}
	.pageBtn .nextArti{background: url(../images/rgtArrow.png) no-repeat; float:right;}
	.pageBtn .prevArti:hover{background: url(../images/lftArrowH.png) no-repeat; float:left;}
	.pageBtn .nextArti:hover{background: url(../images/rgtArrowH.png) no-repeat; float:right;}
	/*.socialIconBlock{ float:none; display: block; clear:both;} */
	.left_slide_gallery {margin-left: 0px;}
	.menuBlock .overlay{ overflow:auto;}
	.listItem{    margin-bottom: 10px;}
	.logOnDiv{ width:auto;}
	.logOnDiv a{ position:relative;/*font-size: 18px;*/color: #D92227;margin: 0 0 10px 0;display: block;top:auto; right:auto;}
	.logOnDiv a:hover{color:#337ab7;  }
	.advertiseWithUs .adBannerBlock{ background:#FAFAFA;}
	.banner{ margin-bottom:0px;}
	.banner .right_banner_two img {width:auto;}
	.banner .owl-pagination{display:none;margin-top: -30px;}
	.banner .col-lg-9, .banner .col-md-8,.banner .col-lg-3, .banner .col-md-4,
		.right_banner_one,.right_banner_two{ 
    margin-bottom: 10px; background:none;}	

	.right_banner_one{ /*border-bottom:1px solid #d7d6d6;*/ margin-bottom:15px;}
.right_banner_one,.right_banner_two{ float:none; width:100%;}
.overlay .menu ul li.mainMenuList i{ margin-top:7px;}
.socialIconBlock.mT30{
	margin-top:15px;
}
/*.left_slide .caption{font-size:23px;line-height:25px;width:84%; margin:0px 0px 0px -42%; left:50%; bottom:5%;}*/
.todayRashiphal .owl-theme .owl-controls{margin-top:6px;}
.right_slide_gallery{display:none;}
.left_slide_gallery{width:100%;}
h2.photogallery_left,.videoBlock .headingMain{/*font-size:20px;*/ padding: 0 15px;}
.left_slide{width:100%;}
.bannerTopImg {
position:relative;
margin-bottom:10px;

}
.overlay .menu ul ul{
	margin-left:15px;
}
.overlay .menu ul li.mainMenuList{
	padding-top:5px;
	padding-bottom:5px;
}

/*footer updates*/
.footerLinks dd{
	display:none;
    padding-left: 23%;
}
/*.footerLinks .owl-buttons{
	    top: 0%;
}*/
.footerLinks #owl-demo .item{
	padding:0;
	margin:0;
}
.footerLinks dt{
	margin-bottom:0;
	    margin-top: 10px;
}
.footerLinks .owl-carousel .owl-wrapper-outer {
    margin-top: 10px;
    margin-bottom: 20px;
	    position: relative;
    z-index: 1;
}

.footerBotLinks {
    /*width: 95%;*/
    margin: 0 auto;
    line-height: 30px;
}
.menu-btn #nav-toggle.btn-close{
	    /*padding-top: 29px;*/
}
.banner .owl-buttons, .photoGallery .owl-buttons{
	top:50%;
	margin-top:-35px;
	}
/*.banner .owl-prev,
.banner .owl-next,
.photoGallery .owl-prev,
.photoGallery .owl-next{width:30px;height:70px;}
.banner .owl-prev{background:url(../images/spriImg.png)  -90px 12px no-repeat;}
.banner .owl-next{background:url(../images/spriImg.png) -122px 12px no-repeat;}
.banner .owl-prev:hover{background:url(../images/spriImg.png) -90px 12px no-repeat;}
.banner .owl-next:hover{background:url(../images/spriImg.png)  -122px 12px no-repeat;}
.photoGallery .owl-prev{background:#dedede url(../images/spriImg.png) -38px 12px no-repeat;}
.photoGallery .owl-next{background: #dedede  url(../images/spriImg.png)  -64px 12px no-repeat;}
.photoGallery .owl-prev:hover{background:url(../images/spriImg.png) -38px 12px no-repeat;}
.photoGallery .owl-next:hover{background:url(../images/spriImg.png)  -64px 12px no-repeat;}*/
.business ul li{
	padding:10px 10px;
	}
.footerTop{
	display:none;
	}
.footerLinks dt{
	padding-left:23%;
	}


/*.right_banner_two .caption{width: 39%; bottom: -2%;}
.slide2 .newBlockInn li a {
    width: 88%;}
.banner .right_banner_one {
	width:59%;	
}
.banner .right_banner_two{
      width: 39%;
}*/
/*.banner .owl-buttons{top: 16%;  margin-top: 0; }
.right_banner_two .caption{bottom: -150px;}
.banner .left_slide,.banner .slide3 .left_slide,
.banner .right_banner_one,.banner .slide3 .right_banner_one,
.banner .right_banner_two,.banner .slide3 .right_banner_on { float:none; width:100%; display: table;clear: both; content: " "; }
.banner .left_slide img, .banner .right_banner_two img{width:40%;}
.left_slide .caption { left:43%;}
.left_slide .caption, .right_banner_two .caption{ width: 58%;}
.banner .right_banner_two{position:inherit;}
.banner .right_banner_two{ margin-top:0; border-top:0;}
.banner .slide2 .newBlockInn{ height:auto; padding:10px;}
.right_banner_one  div{ margin:0 auto;}
.banner .left_slide,
.banner .right_banner_one{ border-bottom:1px solid #eee;padding-bottom:10px; margin-bottom:15px;}
.banner .newBlockInn{ height:auto; overflow:auto;}
.banner .newBlockInn a{margin-bottom: 9px; width: 90%; text-align:left; display:inline-block}*/
.artPostDate .popover{ max-width: 38%;}
.authorInfo .btnClick{   padding: 5px 10px;}
.authorInfo .blogImg {   width: 50px;}
.authorInfo .blogImgBlock{ height:auto;}
.authorInfo .headingSub{ margin-top: 10px;}
}

@media screen and (max-width:480px){
	.menuBlock .col-md-3{ padding-left:0;}
	.lagBlock{ margin-right:3px}
	.flipBook .col1,.flipBook .col2{ width:100%; text-align:center;padding-right: 15px;padding-left: 15px;}
	.flipBook .col1{ margin-bottom:10px;}
	
	#owl-prediDetails.owl-carousel .owl-item {
    margin-right: 1px;
}
.staticPage  .nav.nav-tabs>li{ float:none;}
	.staticPage  .nav.nav-tabs>li a{ border:none;    padding: 5px;} 
	.staticPage  .nav.nav-tabs>li{    border-bottom: 2px solid #fff;
    background: #f1f1f1;
    text-align: center; cursor:pointer;}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{background: #fdfafa;     color: #d92227; cursor:pointer;}
.rashiPhaladesh .rasi_new ul.secondList{ float:none; padding-left:0;}
.rashiPhaladesh .rasi_new li{border-bottom:1px solid #fdf7f7; padding:3px 0;}
.rashiPhaladesh .rasi_new ul{ width:100% !important; border-right:none !important;}
#slider .captionSlider {
     min-height:inherit !important; 
}
.captionSlider{ /*font-size: 17px !important;     line-height: normal !important; 
    padding: 0 28px !important;*/     margin-top: -30px !important; }
.menuBlock .menuInnBlock > a {
      background-size: 45%;
    background-position: 75%;
}
.menuBlock .menuInnBlock > a{    margin-top:2px;}
#s{    width: 60%;    /*font-size: 17px;*/}
	/*.logoScroll.mobileLogo{	margin-top:11px;}
	.mobileLogo {width: 66px;}*/
	.categoryBanner .right_slide{ clear:both;}
	.facebookFollow{padding: 0;  margin-top: 20px;}
	.facebookFollow ul{ padding: 0;}
	.cricketNews{ padding:0;}
	.videoBlock .headingMain{ padding:0; margin:10px 0 0 0;}
	.video-gallery-Mobile .owl-buttons { top: 25%;}
	.article-body-content-image-small{margin:5px;}
	.article-body-content-image-small img{width:100%;}
	.relatedNews { display:none;}
	.footerLinks .owl-buttons{top:4%;}
	.listItem .headingMain { display: inline;}
	.listItem .artPostDate{display: inherit;}
	.listItem .col-md-3.col-sm-4.col-xs-4 { padding-right:0;}
	.owl-theme .owl-controls .owl-page span{  width:9px; height:9px;}
	.artPostDate .popover{ max-width: 61%;}
	/*.banner .right_banner_one,.banner .right_banner_two,.right_banner_two .caption{ width:100%;}
	.right_banner_two .caption{ bottom:0; background:none;}
	.right_banner_two .caption a{ color:inherit; text-shadow:inherit;}*/
/*	.banner .right_banner_two{ margin-top: 6px; display:none;}
	.banner .right_banner_one{ margin-bottom:4px; background:#eee; padding:10px 10px 5px 10px;}
	.banner .right_banner_one div{ margin:0 auto;}*/
	.newBlockInn a{ margin-bottom:10px;}
	/*.slide3 .newBlockInn li a{ width: 85%; min-height:inherit;}
	.newBlockInn li a{ margin-bottom:5px;}
	.banner .slide3 li{ width:100%;}
	.banner .owl-buttons {
    top: 10%;
    margin-top: 0;
	}*/
	.bennerTxtInMob{
		display:block;
	}
	.left_slide .caption{ padding-left:35px; padding-right:35px; padding-bottom:7%;}
/*.banner .left_slide,.banner .slide3 .left_slide,
.banner .right_banner_one,.banner .slide3 .right_banner_one,
.banner .right_banner_two,.banner .slide3 .right_banner_on { float:none; width:100%; display: table;clear: both; content: " "; }
.banner .left_slide img, .banner .right_banner_two img{width:40%;}
.left_slide .caption { left:43%;}
.left_slide .caption, .right_banner_two .caption{ width: 58%;}
.banner .right_banner_two{position:inherit;}
.banner .right_banner_two{ margin-top:0; border-top:0;}
.banner .slide2 .newBlockInn{ height:auto; padding:10px;}
.right_banner_one  div{ margin:0 auto;}
.banner .left_slide,
.banner .right_banner_one{ border-bottom:1px solid #eee;padding-bottom:10px; margin-bottom:15px;}
.banner .newBlockInn{ height:auto; overflow:auto;}
.banner .newBlockInn a{margin-bottom: 9px; width: 90%; text-align:left; display:inline-block}*/
article{
  margin: 15px 0;
}

.videoBlock {
    margin-top: 15px;
}
.footerLinks dt{
	padding-left:20%;
	}
	.pagination a{ margin-right:0px;}
	/*.pageBtn .nextArti{    background-position: 4px center;   right: -180px;}
	.pageBtn .prevArti{    background-position: 99% center;  left: -180px;}*/
	.relatedNews{ width:100%; margin-top:0; margin-bottom:10px;}
	/*.redTxtHeadBorder{ padding: 0px 10px;}*/
	.readMoreTags a{margin-bottom:5px;display: inline-block;}
	.pagination>li>a, .pagination>li>span{padding: 6px 8px;}
	.comTopLine{margin-top: -20px;}
}
@media screen and (min-width:481px) and (max-width:640px){
.predictionBlock .tab-content .col-md-3{ width:33.33%;}
.predictionBlock .nav-tabs li.col-md-3{ width:25%;}
.rashiPhaladesh .rasi_new ul.secondList{ float:right;}
.rashiPhaladesh .rasi_new ul.firstList{ float:left;    border-right: 1px solid #d7d6d6; width:50%;}


}
@media screen and (max-width:320px){	

	#owl-prediDetails.owl-carousel .owl-item {
    margin-right: 3px;
}
/*	.rashiPhaladesh .rasi_new ul.firstList{ border-bottom:1px solid #d7d6d6; padding-bottom:20px;}*/
	.rashiPhaladesh .rasi_new ul{ float: none !important; width: 100% !important; padding-left:0 !important;/* margin-bottom:20px;*/ }
	.rashiPhaladesh .rasi_new li{ padding-left:0 !important; }
	.predictionBlock .tab-content .col-xs-6{ width:100%;}
	.rashiIcon{height: 222px;}
	.cardPrediction .rashiName{ padding-top: 45px;}
	.lagBlock .langIcon,.lagBlock .langIcon:hover {   background-size: 75%;}
	.lagBlock{ margin-right:5px;}
	.lagBlock{ margin-right:0;}
	.bannerHeading{     padding: 0 5px;}
	.menuBlock .menuInnBlock > a {
    background-size: 47%;
	background-position:70% top;
}

/*#searchsubmit{font-size: 20px;}*/
	.menuInnBlock{padding-right:0;}
.btnClick{    padding: 5px 20px;}
.socialIconBlock .socialIcon{width:25px;}
.blogContentBlock{
	width:70%;
}
#nav-toggle{ margin-right:10px;}

.footerLinks dt{
	padding-left:10%;
	}
	.facebookFollow ul {
    margin-left: 0;
}
.predictionBlock .nav-tabs li{ width:100%; padding:5px; margin-bottom:2px; border-bottom:0;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{ background:#5b2f85; color:#fff;}
/*.facebookFollow ul li span{ font-size:11px;}*/

}