.kingdice.kdwrapper { background-color: white; margin: 0; padding: 0; width: 900px; height: 42px; display: inline-block; }
.kingdice .kdbanner { cursor: pointer; position: absolute; margin: 0; padding: 0; width: 900px; height: 42px; line-height: 42px; opacity: 1; overflow: hidden; background-repeat: no-repeat; background-image: url(data:image/gif;base64,R0lGODlhJQARAKIAAP/+/ujUs9y9i/Hk0N7Bkvjz6uLIngAAACH5BAAAAAAALAAAAAAlABEAAAOLCLrcWmO4SeuCxBTL+TBCtnUk8wkoEYwkVLBOERBoulIvpAyBEQw5hqxGNAAvr0jP8AgQA78XYEYsSpI9Wkiyq4YyTm/RAPIShGWxmqj1BoThtVxtbAzmeK+mUWjn5yoxcX9ydQ4DfmwEi4yMajcxII1kPlA/llCUjQJvFD0/QDAWWD1cExuiJUINCQA7); background-position: 10px;
  }
.kingdice span.kddiv { display: block; }
.kingdice .kdpos { float: left; height: 42px; opacity: 1; }
.kingdice .kdlogotext { width: 201px; font-size: 20px; font-family: "Georgia"; color: #335; font-weight: bold; padding-left: 99px; text-align: left; }
.kingdice .kdmidtext  { width: 400px; font-size: 18px; font-family: "Georgia"; color: #fff; background-color: #335; text-align: center; left: 396px; }
.kingdice .kdunskew { display: inline-block; transform: skew(10deg); }
.kingdice .kdctatext  { width: 200px; margin-right: font-size: 18px; font-family: "Arial Black"; color: #335; background-color: #db8; text-align: center; left: 732px;  }
