@font-face {
    font-family: 'proxima-nova';
    src: url('proximanova_light/proximanova-light-webfont.eot');
    src: url('proximanova_light/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova_light/proximanova-light-webfont.woff2') format('woff2'),
         url('proximanova_light/proximanova-light-webfont.woff') format('woff'),
         url('proximanova_light/proximanova-light-webfont.ttf') format('truetype'),
         url('proximanova_light/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: 300;
    font-style: normal;

} 
@font-face {
    font-family: 'proxima-nova';
    src: url('proximanova_regular/proximanova-regular-webfont.eot');
    src: url('proximanova_regular/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova_regular/proximanova-regular-webfont.woff2') format('woff2'),
         url('proximanova_regular/proximanova-regular-webfont.woff') format('woff'),
         url('proximanova_regular/proximanova-regular-webfont.ttf') format('truetype'),
         url('proximanova_regular/proximanova-regular-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('proximanova_semibold/proximanova-semibold-webfont.eot');
    src: url('proximanova_semibold/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova_semibold/proximanova-semibold-webfont.woff2') format('woff2'),
         url('proximanova_semibold/proximanova-semibold-webfont.woff') format('woff'),
         url('proximanova_semibold/proximanova-semibold-webfont.ttf') format('truetype'),
         url('proximanova_semibold/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'proxima-nova';
    src: url('proximanova_bold/proximanova-bold-webfont.eot');
    src: url('proximanova_bold/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova_bold/proximanova-bold-webfont.woff2') format('woff2'),
         url('proximanova_bold/proximanova-bold-webfont.woff') format('woff'),
         url('proximanova_bold/proximanova-bold-webfont.ttf') format('truetype'),
         url('proximanova_bold/proximanova-bold-webfont.svg#proxima_novabold') format('svg');
    font-weight: 700;
    font-style: normal;
}