@font-face {
    font-family: TEXTMEONE-REGULAR;
    src: url('../fonts/TEXTMEONE-REGULAR.TTF') format('truetype');
}
body {
    font-size: 12px;
}
embed{
    max-width: 100%;
}
div#video_1{
    max-width: 100%;
}
a {
    color: #3ec2cf;
}

.button_nav{
    color: #fff;
    border: none;
    background: #3ec2cf;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    -ms-transition: background .2s ease-out;
    transition: background .2s ease-out;
    font-size: 35px;
    font-family: "Courier New", Courier, monospace;
    vertical-align: baseline;
    width: 26px;
    height: 26px;
    display: block;
    line-height: 23px;
    margin-left: 2px;
}
.button_nav:hover{
    background: #fdb813;
}
#contact-form label{
    width: 100px;
}
#contact-form .row{
    padding-bottom: 5px;
}
#contact-form input,#contact-form textarea{
    width: 220px;
}
#contact-form .buttons input{
    width: 100px;
    border: none;
    background: #3ec2cf;
    color: #fff;
    padding: 5px 10px;
}
#contact-form .buttons input:hover{
    background: #fdb813;
}
.button_nav_left:after {
    content: "\02039";
    font-weight: bold;
    line-height: 23px;
}
.button_nav.button_nav_right{
    margin-right: 2px;
}
.button_nav_right:after {
    content:"\0203A";
    font-weight: bold;
    line-height: 23px;
}
.banner-ads{
    margin-top: 10px;
    padding: 7px;
    background: #fff;	height:109px;
}
.banner-ads img{
    width: 100%;
}
a:hover {
    color: #fdb813;
    text-decoration: none;
}

h5, 
.h5 {
    font-size: 1em;
}

.body-9dr {
    background: url('imgs/bg.jpg') repeat-x #ffffff;
}
.header{
    background: #fff;
}
.icon-widget {
    margin: 0 4px 0 0;
    color: #fdb813;
    font-size: 1.2em;
}
.carousel-col-4-9dr img.img-responsive{
    height: 250px;
    width: 100%;
}

.title-widget {
    color: #3ec2cf;
    font-size: 1.2em;
}

.icon-heart {
    width: 15px;
    height: 13px;
    display: inline-block;
}

.icon-star {
    width: 16px;
    height: 14px;
    display: inline-block;
}

.icon-info {
    background: url(../images/ico/icon-info.png);
    width: 15px;
    height: 14px;
    display: inline-block;
}

.divider-9dr {
    background-color: #cfcfcf;
    height: 1px;
    margin: 8px 0 0 0;
    overflow: hidden;
}

.divider-bottom-9dr {
    background-color: #cfcfcf;
    height: 1px;
    margin: 0 0 8px 0;
    overflow: hidden;
}

.go-top {
    padding: 15px 10px;
    background: #fdb813;
    cursor: pointer;
}


.footer {
    background: #3ec2cf;
    color: #fff;
    padding: 15px;
}

.row-item-widget-9dr.follow-social {
    background: none;
    margin: 0;
    padding-top: 0;
}

.padding-top-7 {
    padding-top: 7px !important;
}

.border-all {
    border: 1px solid #c0c0c0;
}

.padding-0 {
    padding: 0 !important;
}

.padding-14 {
    padding: 14px !important;
}
.follow-social {
    background: #fff;
    border: 1px solid #eaeaea;
    margin: 0 0 10px 0;
    padding-top: 25px;
    padding-left: 5px;
    height: 115px;
}
.follow-social .row {
    width: 203px;
    height: 60px;
    overflow: hidden;
}
.follow-social .col-md-6{
    padding: 0 0 2px 0;
}
.col-feature-right-9dr h3{
    font-size: 13px;
    margin: 0px;
}
.container-9dr {
    max-width: 970px;
    padding: 0;
    z-index: 1;
    position: relative;
    background:transparent;
}
.center{
    text-align: center;
}
.navigation {
    float: right !important;
    color: #1e6067;
    margin-top: 4px;
	margin-right: 12px;
	margin-right: 22px;
}
.navigation  a {
	background: none !important;
    color: #1e6067 !important;
	padding: 0 5px !important;
    display: inline !important;
	border-right: none !important;
}
.navbar-az {
    padding: 0;
    margin: 0;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #c0c0c0 !important;
    min-height: 0px;
    border: none;
}

.navbar-az .navbar-collapse {
    padding: 0;
}

.navbar-az .nav > li > a {
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
    font-size: 0.8em;
    font-weight: bold;
    padding: 4px 10px;
    border-right: 1px solid #d7d3cf;
    background: #c0c0c0;
}

.navbar-az .nav > li.last > a {
    border: none;
}

.navbar-az .nav > li.nav-item-all > a {
    color: #3e3e3e;
    padding: 4px 18px;
    background: #cfcfcf;
}

.navbar-az .nav > .active-az > a,
.navbar-az .nav > .active-az > a:hover,
.navbar-az .nav > li > a:hover,
.navbar-az .nav > li > a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fdb813;
    color: #fff;
}

.navbar-az .nav > li.active > a,
.navbar-az .nav > li.active > a:hover,
.navbar-az .nav > li.active > a:focus {
    background: #fdb813;
    color: #fff;
}

.navbar-az .nav-item-all {
    background: #cfcfcf;
}

.navbar-nav-az {
    width: 100%;
    margin: 0;
}
#un-button{
    display: none;
}
.navbar-body-az {
    font-size: 0.8em;
    margin: 7px;
    z-index: 1;
}

.navbar-body-az .nav > li > a {
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
    font-size: 0.8em;
    font-weight: bold;
    padding: 4px 13px;
    border-right: 1px solid #d7d3cf;
    background: #c0c0c0;
}

.navbar-body-az .nav > li.active > a,
.navbar-body-az .nav > li.active > a:hover,
.navbar-body-az .nav > li.active > a:focus {
    background: #fdb813;
    color: #fff;
}

.navbar-body-az .nav > li.nav-item-all > a {
    color: #3e3e3e;
    padding: 0px 33px;
    background: #cfcfcf;
}

.item-list-az {
    height: 170px;
    overflow:hidden;
}
.row-menu-9dr {
    background: #3ec2cf;
}

.col-menu-left-9dr {
    padding: 0 5px 0 0;
}

.col-menu-right-9dr {
    padding: 0;    
    float: right;
    padding-top: 13px;
    padding-right: 50px;
    float: right;
}

.navbar-menu {
    padding: 0;
    margin: 0;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #3ec2cf !important;
    min-height: 0px;
    border: none;
}

.navbar-menu .navbar-collapse {
    padding: 0;
}

.navbar-menu .nav > li > a {
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
    font-size: 1em;
    font-weight: bold;
    padding: 13px 22px;
    border-right:1px solid #d7d3cf;
    background: #3ec2cf;
}

.navbar-menu .nav > li.last > a {
}

.navbar-menu .nav > .active-menu > a,
.navbar-menu .nav > .active-menu > a:hover,
.navbar-menu .nav > li > a:hover,
.navbar-menu .nav > li > a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fdb813;
    color: #fff;
}

.navbar-menu .nav > li.home > a {
    padding: 10px 19px;
}

.navbar-brand-menu {
    padding: 10px 13px;
    background: #fdb813;
}

.navbar-form-menu {
    margin: 0;
    padding: 6px 6px;
    background: #fff;
    margin-bottom: 10px;
}

.line-bottom-menu {
    background-color: #fdb813;
    height: 4px;
    margin: 0;
    overflow: hidden;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background: #fdb813;
    color: #fff;
}

li.dropdown .dropdown-menu {
    display: none;
}

li.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    border-radius: 0;
}


.form-control-search {
    border: none;
    border-radius: 0;
}

.btn-search, 
.btn-search:hover, 
.btn-search:focus,
.btn-search:active {
    background: none;
    border: none;
    border-radius: 0;
    padding: 6px 7px;
}

.thumbnail-logo {
    border: none;
    background: none;
    padding: 23px 69px;
    margin: 0;
    border-radius: 0;
}

.thumbnail-logo img {
    margin: 0;
}

.thumbnail-widget {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    width: 86px;
    height: 64px;
    overflow:hidden;
}

.thumbnail-widget img {
    width: 100%;
}

.thumbnail-body-item {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    position: relative;
}

.thumbnail-body-item > a {
    display: block;
    width: 170px;
    height: 168px;
    overflow: hidden;
    background:url("http://dramacool.to/images/lazyload-spin.gif") center center no-repeat #eee;
}

.thumbnail-body-item img {
    width: 100%;
    max-height: 210px;
}

.thumbnail-body-item .bg-info {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25%;
    width: 100%;
    background: #000;
    opacity: 0.5;
}
.thumbnail-body-item .info a{
    color: #fff;    
}
.thumbnail-body-item .info {
    position: absolute;
    left: 8%;
    bottom: 2%;
    height: 34px;
    width: 54%;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
}

.thumbnail-body-item .bg-ep {
    position: absolute;
    right: -4%;
    bottom: 2%;
    height: 16%;
    width: 31%;
}

.thumbnail-body-item .ep {
    position: absolute;
    left: 75%;
    bottom: 5%;
    height: 13%;
    width: 24%;
    overflow: hidden;
    color: #fff;
    /*font-family: TEXTMEONE-REGULAR;*/
}
.thumbnail-body-item .ep a,.thumbnail-body-item .ep a:hover{
    color: #fff;
}
/*============= grid system */
.row-9dr {
    margin: 0;
}

.col-9dr {
    padding: 0!important;
}

.col-md-9dr {
    padding: 0;
}

.row-body-9dr {
    margin: 10px -5px;
}
.item-list-az .row-body-9dr{
    padding: 0 5px;
}
.row-footer-9dr {
    padding: 0 5px;
}

.col-body-left-9dr {
    padding: 0 5px;
}

.col-body-right-9dr {
    padding: 0 5px;
}

.row-item-widget-9dr {
    background: #fff;
    width: 100%;
    padding: 10px;
    margin: 0 0 10px 0;
}

.row-widget-9dr {
    padding: 0 4px 10px 4px;
    margin: 0;
}

.row-widget-9dr.last {
    padding: 0 10px;
}

.col-widget-9dr {
    padding: 0 10px;
}

.row-body-item-9dr {
    padding: 0 0 10px 0;
    margin: 0;
}

.row-bg-body-item-9dr {
    padding: 10px;
    margin: 0;
    background: #fff;
}

.col-feature-left-9dr {
    padding: 0 5px 0 0;
}

.col-feature-right-9dr {
    padding: 0 0 0 5px;
}


.col-feature-right-9dr p {
    font-size: 0.8em;
    margin: 0;
}

.col-feature-right-9dr .detail-title {
    color: #3ec2cf;
}

.row-2-col-no-img .left {
    padding: 0 5px 0 0;
}

.row-2-col-no-img .right {
    padding: 0 0 0 5px;
    text-align: right;
}

.row-2-col-no-img .title {
    margin: 0;
}

.row-2-col-no-img a {
    color: #3ec2cf;
}

.row-2-col-no-img a:hover {
    text-decoration: none;
    color: #fdb813;
}

.row-2-col-no-img .title-list {
    color: #3ec2cf;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}

.row-2-col-no-img .more {
    color: #3ec2cf;
    margin: 0;
    font-size: 0.8em;
}

.row-2-col-no-img .year {
    color: #000;
    font-size: 0.8em;
}

.row-2-col-no-img .date {
    font-size: 0.8em;
}

.row-2-col-no-img .ep {
    color: #3ec2cf;
    margin: 0;
}

.row-2-col-no-img p {
    margin: 0;
}

.row-widget-9dr.info {
    font-size: 0.9em;
}

.row-widget-9dr.info p:last-child {
    margin: 0;
}

.viewmore {
    text-align: right;
}

.viewmore a {
    font-size: 0.9em;
}

.tab-pane .viewmore a {
    font-size: 1.1em;
}
.col-body-item-9dr {
      padding: 7px;
    margin: 0;
    background: #fff;
}
.view-large .col-body-item-9dr{
    padding: 6px;
}
.col-body-item-lr-9dr {
    padding: 0 21px 0 7px;
    margin: 0;
}

.col-body-item-lr-9dr:nth-child(3n) {
    padding: 0 7px 0 21px;
}

.col-body-item-lr-9dr:nth-child(3n-1) {
    padding: 0 21px;
}

.nav-9dr > li > a {
    padding: 4px 7px;
}

.nav-tabs-9dr {
    padding: 0;
    margin: 0;
}

.nav-tabs-9dr > li {
    margin: 0px;
}

.nav-tabs-9dr > li.active > a,
.nav-tabs-9dr > li.active > a:hover,
.nav-tabs-9dr > li.active > a:focus {
    background: #fdb813;
    border-color: transparent;
    color: #fff;
      margin-right: 2px;
}

.nav-tabs-9dr > li > a,
.nav-tabs-9dr > li > a:hover,
.nav-tabs-9dr > li > a:focus {
    border-radius: 0;
    color: #fff;
    background: #3ec2cf;
    margin: 0;
     margin-right: 2px;
}

.tab-content-9dr {
    background: #fff;
    padding: 7px;
    position: relative;
      border: 1px solid #eaeaea;
}
.tab-content-9dr .tab-content-9dr{
	border:none;
}
.tab-content-9dr .tab-content-9dr {
    padding: 0;
}

/*============= carousel */
.carousel-9dr {
    background: #191919;
    color: #fff;
}

.carousel-9dr h5 {
    padding: 14px 14px 0 14px;
    margin: 0;
}

.carousel-inner-9dr > .item {
    padding: 7px 7px 14px 7px;
    background: #191919;
}

.carousel-col-4-9dr {
    float: left;
    width: 23%;
    position: relative;
    margin: 1%;
    font-size: 80%;
    overflow: hidden;	
}

.carousel-col-4-9dr h4 {
    font-size: 200%;
    margin: 0 0 5px 0;
}

.carousel-col-4-9dr .bg-carousel-caption {
    opacity: 0.9;
    position: absolute;
    background: #696969 no-repeat center 80%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0;
    display: none;
    text-align: left;
}

.carousel-col-4-9dr .carousel-caption {
    top: 0;
    left: 0;
    width: 100%;
    height: 92%;
    padding: 14px;
    margin: 0;
    display: none;
    text-align: left;
    overflow: hidden;
}

.carousel-col-4-9dr .carousel-caption a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
}

.carousel-col-4-9dr .carousel-caption .type {
    color: #d6ced0;
    font-size: 90%;
}
.carousel-control-9dr.left {
    position: absolute;
    top: 45%;
    left: -1%;
    width: 26px;
    height: 26px;
    background: none;
    opacity: 1;
}

.carousel-control-9dr.right {
    position: absolute;
    top: 45%;
    right: -1%;
    width: 26px;
    height: 26px;
    background: none;
    opacity: 1;
}
.search-results{
    background: #fff;
    padding: 10px 20px;
}
.search-results h1{
    font-size: 26px;
    margin: 0px;
}
.search-results .page-header{
    margin: 10px 0;
}
.image_intro{
    padding-right: 10px;
    width: 130px;
}
.search-results table tr td{
    vertical-align: top;
}
.search-results table h2{
    font-size: 20px;
    margin: 0px;
}
.search-results table tr td{
    padding-bottom: 10px;
}
.search-results img{
    max-width: 100%;
}
.nav-pills-9dr {
    margin: 0;
}

.nav-pills-9dr > li.active > a,
.nav-pills-9dr > li.active > a:hover,
.nav-pills-9dr > li.active > a:focus {
    background: none;
}

.nav-pills-9dr > li > a {
    border-radius: 0;
    padding-top: 0;
    color: #fff;
}

.nav-pills-9dr > li > a:hover,
.nav-pills-9dr > li > a:focus {
    background: none;
    color: #fdb813;
}

.nav-pills-9dr > li.first > a {
    padding-left: 0;
}
.nav-pills-9dr li a {
    width: 25px;
    height: 25px;
    padding: 0;
}
.footer .nav-pills-9dr li a {
    width: 70px;
}

.nav-pills-9dr > li.twitter > a {
    background: url(../images/twitter-icon.png);
      background-size: 100% 100%;
}
.text-social{
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
}
.nav-pills-9dr > li.googleplus > a {
    background: url(../images/google-plus-icon.png);
      background-size: 100% 100%;
}

.nav-pills-9dr > li.rss > a {
    background: url(../images/feed-icon.png);
      background-size: 100% 100%;
}
.view-layout-out-frame {
    margin: 0 7px 0 0;
    position: absolute;
    top: -22px;
    right: 7px;
    border: none;
    background: none;
}
.nav-tabs-view-layout-9dr li a {
    width: 23px;
    height: 18px;
    padding: 0;
}
.nav-tabs-view-layout-9dr > li {
    margin: 0 0 0 4px;
}

.nav-tabs-view-layout-9dr > li.active > a,
.nav-tabs-view-layout-9dr > li.active > a:hover,
.nav-tabs-view-layout-9dr > li.active > a:focus {
    border: none;
    color: #fff;
}

.nav-tabs-view-layout-9dr > li > a,
.nav-tabs-view-layout-9dr > li > a:hover,
.nav-tabs-view-layout-9dr > li > a:focus {
    border-radius: 0;
    color: #fff;
    margin: 0;
    border: none;
}

.nav-tabs-view-layout-9dr > li.icon-view-large > a {
    background: url(../images/ico/icon-switch-view.png) 0 0;
}

.nav-tabs-view-layout-9dr > li.active.icon-view-large > a {
    background: url(../images/ico/icon-switch-view.png) 0 18px;
}

.nav-tabs-view-layout-9dr > li.icon-view-medium > a {
    background: url(../images/ico/icon-switch-view.png) -23px 0;
}

.nav-tabs-view-layout-9dr > li.active.icon-view-medium > a {
    background: url(../images/ico/icon-switch-view.png) -23px 18px;
}

.nav-tabs-view-layout-9dr > li.icon-view-list > a {
    background: url(../images/ico/icon-switch-view.png) -46px 0;
}

.nav-tabs-view-layout-9dr > li.active.icon-view-list > a {
    background: url(../images/ico/icon-switch-view.png) -46px 18px;
}

.nav-tabs-view-layout-9dr > li.icon-view-detail > a {
    background: url(../images/ico/icon-switch-view.png) -69px 0;
}
.nav-tabs-view-layout-9dr > li.active.icon-view-detail > a {
    background: url(../images/ico/icon-switch-view.png) -69px 18px;
}
.drama-list-s-az ul {
    padding:0 7px 7px 0;
    border-bottom: none;
    position: absolute;
    top: 13px;
    right: 8px;
}
.s_az {
    font-size: 0.8em;
}
.view-large .title_s_az a,
.view-medium .title_s_az a,
.view-list .title_s_az a {
    font-size: 1.2em;
    font-weight: bold;
    color: #3ec2cf;
}
.view-large .type_s_az, 
.view-large .desc_s_az,
.view-medium .type_s_az, 
.view-medium .desc_s_az,
.view-list .type_s_az, 
.view-list .desc_s_az {
    margin:0 0 5px 0;
}

.view-medium .desc_s_az {
    max-height: 83px;
    overflow: hidden;
}

.view-detail {
    font-size: 0.9em;
}

.view-detail .row {
    margin: 0 0 5px 0;
}

.view-detail .country_s_az {
    background: #c0c0c0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}

.view-detail .row .title_s_az {
    background: transparent;
    padding: 5px;
    font-size: 110%;
}

.view-detail .row:nth-child(2n) .title_s_az {
    background: #e8e8e8;
}
.view-detail .row .title_s_az:hover{
    background: #EDEDED;
}

.view-detail .row .title_s_az a {
    color: #000;

}

.view-detail .row .title_s_az a:hover {
    color: #D19917;
}
.form-control-filter-9dr {
    padding: 3px 4px;
    font-size: 0.8em;
    border-radius: 0;
    height: 26px;
    box-shadow: none;
}
.detail-film > div {
    padding: 0 0 10px 0;
}

.detail-film > div:last-child {
    padding: 0;
}
.starring-detail-film,
.desc-detail-film,
.country-detail-film,
.status-detail-film,
.released-detail-film,
.genre-detail-film {
    font-size: 0.8em;
}

.starring-detail-film > div,
.desc-detail-film > div,
.country-detail-film > span,
.status-detail-film > span,
.released-detail-film > span,
.genre-detail-film > span {
    color: #3ec2cf;
}

.title-stars {
    font-size: 1.5em;
    color: #fdb813;
    font-weight: bold;
}
.title-stars h4 {
    padding: 0;
    margin: 0;
}

.item-star {
    text-align: center;
}

.item-star a {
    color: #000;
}

.item-star a:hover {
    color: #3ec2cf;
}

.title-detail-ep-film {
    color: #fdb813;
    font-size: 1.2em;
    font-weight: bold;
}
.desc-detail-ep-film {
    margin: 8px 0 0 0;
    position: relative;
    z-index: 9999;
}

.button_share .facebook {
    padding: 4px 7px;
    background: #3b5a98;
}

.button_share .twitter {
    padding: 4px 7px;
    background: #00abec;
}

.btn_9dr {
    padding: 4px 7px;
    color: #fff;
    text-decoration: none;
    float: left;
    margin: 5px 3px 5px 0;
}

.btn_9dr:hover {
    color: #fff;
}

.turnofflight{
    background: #fea502;
}

.button_share .btn_report {
    padding: 4px 7px;
    color: #fff;
    background: #ec1c23;
    text-decoration: none;
}

#fullscreenarea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #000;
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
    border-right: 1px solid #686868;
}

#fullscreenarea.black {
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: .9;
    cursor: pointer;
}

.btn-search-toggle {
    display: none;
}

.entry-nav-2 ul {
    padding: 0;
    margin: 0;
}

.entry-nav-2 ul li {
    list-style: none;
}

.entry-nav-2 ul li.prev {
    float: left;
}

.entry-nav-2 ul li.next {
    float: right;
}

.carousel-indicators {
    bottom: 0;
}

#carousel-banner-home {
    overflow: hidden;
}

.carousel-indicators .active {
    background: #959595;
}

.timeago{
    float: right;
    color: #ccc;
}
.clearfix{
    clear: both;
}
.timerelease{
    color: #ccc;
}
.dropdown-menu{
    z-index: 999999;
}
.col-md-2.col-body-item-9dr.item-star img{
    width: 108px;
    height: 136px;  
}
.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
h1.title{
    font-size: 18px;
      margin: 3px 0;
      float: left;
}
.title_catergory{
  float: right;
    line-height: 25px;
  font-size: 12px;
  color: black;
  font-weight: normal;
}
.coming-box .thumbnail-body-item .bg-info,#RecentlyAdded .thumbnail-body-item .bg-info,#RecentlyAddedMovie .thumbnail-body-item .bg-info,#MostViewed .thumbnail-body-item .bg-info{
    height: 51px;
}
.coming-box .thumbnail-body-item .info,#RecentlyAdded .thumbnail-body-item .info,#RecentlyAddedMovie .thumbnail-body-item .info,#MostViewed .thumbnail-body-item .info{
    bottom: 12px;
    height: 36px;
}
.comingtime{
    position: absolute;
    bottom: 0px;
    color: #ADADAD;
    text-align: center;
    padding-left: 12px;
}
.btn.btn-search{
    position: absolute;
    top: 6px;
    right: 12px;
    background: #fdb813;
    padding: 6px 6px;
}
.view-detail .country_s_az.raw{
    background: #fdb813;
}
.view-detail .country_s_az.sub{
    background: #3ec2cf;
}
.pagination-list>li>a, .pagination-list>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #3ec2cf;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination-list>li>a:hover,.pagination-list>li.selected>a{
    color: #fff;
    background-color: #3ec2cf;
}
.pagination-list>li {
    display: inline;
}
.pagination-list {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination{
    text-align: right;
    display: block;
    padding-right: 7px;
}
.count-viewed{
    line-height:40px;
}
.reportForm h3 {
    width: 87%;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #eee;
    color: #444;
    margin: 25px;
    padding: 0 0 14px 0;
}
.reportForm-close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #ddd;
    text-decoration: none;
    font-size: 34px;
    line-height: 1em;
}
.reportForm {
    display: none;
    width: 400px;
    position: absolute;
    z-index: 15;
    top: 24px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .20);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.reportForm.show{
    position: fixed;
    top: 100px;
    left: 40%;
    display: block;
      z-index: 99999;
}
.contact-help {
    display: block;
    font-size: 11px;
    line-height: 16px;
    color: #aaa;
    margin: 8px 0 0 0;
}
.contact-text {
    width: 94%;
    max-width: 94%;
    font-family: inherit;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 3px;
    color: #aaa;
    box-shadow: inset 0 -1px 2px #ddd;
    border: 1px solid #ccc;
    background: #fff;
}
#wc-form-wrapper {
    background: #fff;
    padding: 0 25px 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#wc-form-wrapper p {
    margin: 25px 0 0 0;
}
textarea.contact-text {
    height: 80px;
}
.contact-text {
    width: 94%;
    max-width: 94%;
    font-family: inherit;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 3px;
    color: #aaa;
    box-shadow: inset 0 -1px 2px #ddd;
    border: 1px solid #ccc;
    background: #fff;
}
.submitreport{
    margin-top: 7px;
    padding: 5px 10px;
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    background-color: #3ec2cf;
    color: #fff;
}
.star_next{
    top: -26px;
    right: 0px;
    position: absolute;
    background: #3ec2cf;
    color: #fff;
    padding: 3px 7px;
}
.star_prev{
    top: -26px;
    right: 30px;
    position: absolute;
    background: #3ec2cf;
    color: #fff;
    padding: 3px 7px;
}
.list-star{
    position: relative;
    padding-bottom: 10px;
}
.list-star .carousel-indicators .active{
    background: #fdb813;
    border: 1px solid #fdb813;
}
.list-star .carousel-indicators li{
    background: #3ec2cf;
    border: 1px solid #3ec2cf;
}
.list-star .carousel-inner > .item{
    padding: 0 9px;
}
.list-star .nav-tabs-9dr{
    border-top: 1px solid #c0c0c0;
    border-bottom: none;
}
.list-star .nav-tabs-9dr>li.active>a{
    background: none;
    color: #000;
}
.box_search .navbar-form-menu{
background:transparent;
}

.box_search { width: 289px; right: 65px; top: 15px; position: absolute; }
.box_search input { width: 195px; background: #fff; opacity: 0.8; font-size: 1em; }
.box_search select {
  float: left;
  opacity: 0.8;
  border: none;
  padding: 2px 10px 2px 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  outline: none;
  color: #3ec2cf;
  font-size: 1em;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff url('imgs/ic-arrow-search.jpg') no-repeat right center; }

#stats{display:none}
.banner-ads-300 > div{
display:inline-block;
width:300px;
height:250px;
overflow: hidden;
}
#video_inner{
	width: 720px;
	height: 450px;
	position: relative;
	overflow: hidden;
}
 #video_ad{
	position: absolute;
	width: 300px;
	height: 250px;
	top: 80px;
	left: 200px;
}
/*
#close_ad{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	background: #3B3B3B;
	padding: 0px 4px;
	position: absolute;
	z-index: 99999;
	border: 1px solid red;
	top: 10px;
	left: 10px;
}
*/
#close_ad{
             display: block;
height: 20px;
margin: 0 auto;
line-height: 20px;
background: beige;
color: black;
text-align: center;
text-decoration: none;
width: 336px;
opacity: 0.5;
            }
#flashplayer{
	position: relative;
}
#slide_dc{
margin-top:10px;
}
.mostpopular_list li{
	list-style:none;
	width:33%;
	padding-right:10px;
	float:left;
}
ul.mostpopular_list{
	padding:0;
	margin:0;
}
.mostpopular{
border:1px solid #eaeaea;
padding:14px;
  margin-top: 2px;
}
.mostpopular_label{
background: #fdb813;
  border-color: transparent;
  color: #fff;
 padding: 4px 7px;
}
.mostpopular .viewmore a{
  font-size: 1.1em;

}
.adsmid728{
  padding: 12px;
  background: #fff;
  margin-bottom: 10px;
  height: 114px;
  text-align: center;
}
.desc-detail-ep-film h3{
  font-size: 19px;
}
.row-item-widget-9dr.coming-episodes,#ongoing .row-item-widget-9dr{
padding:0;
}
.noborder{
border:none !important;
}
.boxborder{
  border: 1px solid #eaeaea;
}
#showcomment{
  background: #e8e8e8;
  color: #3ec2cf;
  cursor: pointer;
  font-size: 18px;
  padding:10px;
}
#showcomment .glyphicon:empty{
width:14px;
  color: #3ec2cf;

}
.note{
  font-size: 15px;
  padding-left: 6px;
}
.nav-episode {
  padding-top:7px;
  margin-top:2px;
  text-align: right;
}
.nav-episode a {
  padding: 6px 7px;
}
.nav-episode a.nav-episode-prev,.nav-episode a.nav-episode-next{
  background: #f1e6ee;
  padding: 6px 8px;
}
.nav-episode a.nav-episode-prev{
	  margin-right: 3px;
}
.gotolist { display: inline-block; background:#3ec2cf; padding: 4px 7px; position: relative; }

.gotolistepisode { color:#fff; background:#3ec2cf; outline: none; border: 0; }
#view-more-video { padding: 10px 0; cursor: pointer; float: right; color: #3ec2cf; }
/* scroll */
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-button {width: 8px;height:5px;}
::-webkit-scrollbar-track {background:#fff;border: thin solid #fff;box-shadow: 0px 0px 3px #fff inset;}
::-webkit-scrollbar-thumb {background:#3ec2cf;border: thin solid #fff;}
::-webkit-scrollbar-thumb:hover {background:#3ec2cf;}
.nav-episode a.nav-episode-prev.disabled,.nav-episode a.nav-episode-next.disabled{
color:#bdbdbd;
}
#right-side-ads {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 160px;
  line-height: 0px;
  margin: 0px;
  padding: 0px;
}
.loadservermp4,.loadservermp41,.loadservermp42,.loadvideotab,.standard_server_bk {
    position: relative;
  left: 0;
  top: 0;
  z-index: 999;
    width: 727px;
  height: 450px;
  background: #000000;
  background-repeat: repeat;
}
.loadadv,.loadadv1,.loadadv2 {
  width: 300px;
  margin: auto;
    padding-top: 50px;
  background-color: #000;
}
.closeadv ,.closeadv1,.closeadv2,.closeserverbk2{
  background-color: #7b7c6f;
  text-align: center;
  color: #000;
  padding: 4px 0;
  cursor: pointer;
  font-weight: 600;
}
#hover {
  position: absolute;
  background: none repeat scroll 0pt 0pt rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  z-index: 99999;
  text-align: center;
  width: 727px;
  height: 450px;
  padding-top: 0px;
  top: 0px;
  left: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
#button_close {
  display: block;
  height: 20px;
  margin: 0 auto;
  line-height: 20px;
  background: white;
  color: black;
  text-align: center;
  text-decoration: none;
  width: 336px;
  opacity: 0.2;
}
#servercool{
  position: relative;
}
#myVideoPlayer .tab-content{
width: 727px;
  height: 450px;
  position: relative;
}
/* autocomplete */
.ui-autocomplete { position: absolute; top: 0; left: 0; cursor: default; z-index: 999; }
.ui-widget-content { background: #fff; border: 1px solid #eee8e0; color: #736357; width: 220px; padding: 0 !important; }
.ui-widget-content a { color: #736357; }
.ui-menu .ui-menu-item { position: relative; margin: 0; padding: 3px 5%; cursor: pointer; min-height: 0; width: 90%; list-style: none; }
.ui-menu .ui-menu-item:hover { color: #feaf1d; }
.ui-helper-hidden-accessible { display: none; }

#server1 iframe { background: url('../images/loading.jpg'); }
#server2 iframe { background: url('../images/loading.jpg'); }

.ads_300x600 { position: absolute; left: 0; top: 28px; display: none; }
@media(max-width:1000px){
  .ads_300x600 { display: none; }
}

.drama-popup { display: none; position: fixed; right: 0; bottom: 0; width: 300px; height: 250px; overflow: hidden; z-index: 9999; }
.drama-popup-close { display: none; position: fixed; right: 0; bottom: 250px; background: #000; color: #fff; padding: 5px 10px; cursor: pointer; }