/*
Theme Name: cinemalek
Theme URI: http://yourcolor.net/
Author: YourColor Team
Author URI: http://yourcolor.net/
Description: Series 4 Watch
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Master
*/

/* <!--: Fonts :--> */
@font-face {
  font-family: 'YC Fonts';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/k_kamran.eot?#iefix) format('embedded-opentype'),
      /* url(../fonts/k_kamran.woff) format('woff'),*/
       url(./fonts/k_kamran.ttf) format('truetype');
}
@font-face {
  font-family: 'DroidKufi Bold';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/DroidKufi-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'DroidKufi Normal';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/DroidKufi-Regular.ttf) format('truetype');
}

/* <!--: Reset :--> */
*{
    margin:0px;
    padding:0px;
    outline: 0px;
    box-sizing:border-box;
}
a{
    text-decoration: none;
    color: #272727;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
li{
    list-style: none;
}
.w-1200{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.no-float{
	float:none;
}
.abs{
	position:absolute;
}
.clr{
	clear:both;
}
/* <!--: body :--> */
body{
	background-size: 100%;
	direction: rtl;
	font-family: Tahoma;
	font-size: 14px;
	overflow-x: hidden;
	color: white;
	background: linear-gradient(#D2D2D2, #676767, #2F2F2F, #2D2D2D , #000);
}
body::-webkit-scrollbar {
	width: 10px;
}
body::-webkit-scrollbar-track {
	background: #AD4997;
	border-radius: 0px;
	box-shadow:inset 0 0 5px rgba(0,0,0,0.33);
	margin-left: 10px;
}
body::-webkit-scrollbar-thumb 
{
	border-radius: 0px;
	background: #FFFFFF;
}
/* <!--: header :--> */
.top-header{
	height: 105px;
	position:relative;
	background-color: #6B245B;
}
.right-social{
    width: 30px;
    float: left;
    padding-top: 5px;
}
.social-inset{
	text-align:center;	
}
.social-inset li{
	display:inline-block;
	float:none !important;
	background: none !important;
}
.social_media li{
    width: 30px;
    height: 30px;
    float: right;
    background: #222329;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    margin-bottom: 2px;
    border-radius: 5px;
}
.social_media li a{
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 1;
    background-size: 15px 15px;
}
.facebook-we{
    background: #45619C url(./img/social/facebook.png) center center no-repeat;
}
.twitter-we{
    background: #00ACEE url(./img/social/twitter.png) center center no-repeat;
}
.youtube-we{
    background: #BD1E23 url(./img/social/youtube.png) center center no-repeat;
}
.googlep-we{
    background: #DD4B39 url(./img/social/google-plus.png) center center no-repeat;
}

.social_media li .facebook:before{
    background: url(./img/social/facebook.png) center center no-repeat;
    background-size: 100% 100%;
    content: '';
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    top: 6px;
    left: 6px;
}
/*******************/
.social_media li .twitter:before{
    background: url(./img/social/twitter.png) center center no-repeat;
    content: '';
    background-size: 100% 100%;
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
}
.social_media li .googleplus:before{
    background: url(./img/social/google-plus.png) center center no-repeat;
    background-size: 100% 100%;
    content: '';
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    top: 6px;
    left: 5px;
}
.social_media li .youtube:before{
    background: url(./img/social/youtube.png) center center no-repeat;
    content: '';
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    top: 0px;
    left: -1px;
}
.social_media li .rss:before{
    background: url(./img/social/linkedin.png) center center no-repeat;
    content: '';
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    top: 0px;
    left: -1px;
}

/***************************************/
.social_media li .facebook:after{
	content:'';
	position:absolute;
	background: #3B5998;
	width: 46px;
	height: 46px;
	top: -46px;
	left: 0px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
}
.social_media li .facebook:hover:after{
	content:'';
	top: 0px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
}
.social_media li .twitter:after{
	content:'';
	position:absolute;
	background: #00ACEE;
	width: 46px;
	height: 46px;
	top: -46px;
	left: 0px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
}
.social_media li .twitter:hover:after{
	content:'';
	top: 0px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
}
.social_media li .googleplus:after{
	content:'';
	position:absolute;
	background: #C63B1E;
	width: 46px;
	height: 46px;
	top: -46px;
	left: 0px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
}
.social_media li .googleplus:hover:after{
	content:'';
	top: 0px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
}
.social_media li .youtube:after{
	content:'';
	position:absolute;
	background: #E64A41;
	width: 40px;
	z-index: -1;
	height: 40px;
	top: -46px;
	left: 0px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
}
.social_media li .youtube:hover:after{
	content:'';
	top: 0px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
}
.social_media li .rss:after{
	content:'';
	position:absolute;
	background: #0073B2;
	width: 40px;
	height: 40px;
	top: -46px;
	left: 0px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
}
.social_media li .rss:hover:after{
	content:'';
	top: 0px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
}
.left-search{
	float:left;
	padding-top: 8px;
	margin-right: 15px;
}
form#s{
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 4px;
    text-align: center;
}
.st-effect-11 input{
    border: 0px;
    padding: 9px 10px;
    min-width: 220px;
    margin-right: 4px;
    border-radius: 3px;
    display: block;
    text-align: center;
    display: block;
    margin: 0 auto 10px;
}
#searchsubmit{
    background: #8C3278;
    color: white;
    border-radius: 3px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    min-width: 130px;
}

button.search-button{
    display: block;
    border: 0px;
    width: 180px;
    height: 40px;
    background: #1F2025  url(img/search.png) 96%  center no-repeat;
    margin-top: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    text-align: left;
    padding: 5px 10px;
    border-radius: 3px;
    color: whitesmoke;
}
.left-search form#s input[type="text"]{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 9px 10px;
    min-height: 30px;
    width: 213px;
    margin-left: 6px;
    border: 0px;
    border-radius: 3px;
}
.left-search form#s input[type="submit"]{
    background: rgb(110, 115, 132);
    border: 0px;
    padding: 4px 20px;
    font-family: 'DroidKufi bold' , Tahoma;
    color: #FFFFFF;
    border-radius: 3px;
}
.center-header{
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
}
.center-header:after{
	position:absolute;
	content:'';
	width:100%;
	height:100%;
	background-size: 100% !important; 
	top: 0px;
	left:0px;
	z-index:-1;
	opacity:0.1;
}
.logo:before{
	content: '';
	position: absolute;
	width: 89px;
	height: 89px;
	top: 2px;
	right:0px;
	z-index: 4;
	display: block;
	background: url(./img/cinema.png) center center no-repeat;/**************************/
	-webkit-animation-name: logo;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;/**************************/
	animation-name: logo;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@-webkit-keyframes logo {
    0%   {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
@keyframes logo {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.logo{
	width: 320px;
	height: 84px;
	float: right;
	position: relative;
	margin-left: 20px;
}
.logo a{
	display: block;
	width:100%;
	height:100%;
	background: url(http://cinemalek.com/logold.png) left center no-repeat;
}
.ads_728.hae{
	width: 728px;
	height: 90px;
	float: right;
	margin-right: 38px;
	margin-top: 7px;
}
/* <!--: men :--> */
.men{
    position: relative;
    display: table;
    box-sizing: border-box;
    width: 100%;
    z-index: 40;
    top: 0px;
    background: #8C3278;
    border-top: 1px solid rgba(0, 0, 0, 0.65);
    border-bottom: 3px solid rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px 1px 3px #000;
}
.men:after{
	content: '';
}
.first-menu li{
	float:right;
	display: block;
	position: relative;
}
#menu-drag{
    display: block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;	
}
#menu-drag > li a.home_icon{
	background: #252424 url(./img/home_icon.png) no-repeat;
	background-position: 12px 15px;
	height: 18px;
	width:30px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;	
}
#menu-drag > li a.home_icon:hover{
	background-color: #F0F0F0;
	background-position: -31px 15px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;	
}
.home_it{
    width: 50px;
    height: 68px;	
}
.home_it a{
    height: 68px;
    background: url(./img/home.png) center center no-repeat;
}
#menu-drag > li:last-child{
    background-color: rgb(163, 59, 140);
}
#menu-drag > li:nth-child(7){
    background-color: rgb(163, 59, 140);
}
#menu-drag > li{
    float: right;
    position: relative;
    padding: 0px 0;
    border-left: 1px solid rgba(255, 255, 255, 0.14);
}
#menu-drag li ul li a{
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding: 20px 10px;
}
#menu-drag li a{
    border-left: 0px;
    padding: 25px 10px;
    line-height: 18px;
    font-size: 15px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    display: block;
    color: #FFF;
}
#menu-drag li a:hover{
    background-color: #1A1A1A;
    color: #FFFFFF;
}
#menu-drag li ul{
	position:absolute;
	width: 205px;
	visibility: hidden;
	z-index: 100000;
	opacity: 0;
	box-shadow: 0px 9px 25px #000;
	top: 50px;
	right: 0px;
	background: #242425;
	border-top: 0px solid #FFF;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#menu-drag li.menu-item-has-children > a:before{
	content:'';
	width: 15px;
	height: 15px;
	margin-top: 3px;
	float: right;
	display: block;
	margin-left: 5px;
	background: url(./img/down-men.png) center center no-repeat;
	background-size: 100% 100%;
}
#menu-drag li .sub-menu li{
	position:relative;
}
#menu-drag li .sub-menu .sub-menu{
	right: 205px;
	top: 0px !important;
	visibility: hidden !important;
	display: none !important;
	width: 180px;
	-webkit-transition: all 0.3s ease-in-out;  
	-moz-transition: all 0.3s ease-in-out;  
	-o-transition: all 0.3s ease-in-out;  
	-ms-transition: all 0.3s ease-in-out;  
	transition: all 0.3s ease-in-out;	
}
#menu-drag li .sub-menu li:hover .sub-menu{
	top: -2px !important;
	visibility: visible !important;
	display: block !important;
	-webkit-transition: all 0.3s ease-in-out;  
	-moz-transition: all 0.3s ease-in-out;  
	-o-transition: all 0.3s ease-in-out;  
	-ms-transition: all 0.3s ease-in-out;  
	transition: all 0.3s ease-in-out;
}
#menu-drag li:last-child ul{
    left: 0;
    right: auto;
}
#menu-drag li:hover .sub-menu{
	display: block;
	visibility: visible;
	top: 70px;
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}
#menu-drag ul li.menu-item-has-children > a:after{
	content:'';
	background: url(./img/skip-back-after.png) center center no-repeat;
	width: 15px;
	height: 15px;
	position: absolute;
	display: block;
	top: 15px;
	left: 8px;	
}
#menu-drag li ul li a:hover:before{
	width:15px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	
}
#menu-drag li ul li a:before{
	content:'';
	background: url(./img/skip-back.png) center center no-repeat;
	width: 0px;
	height: 15px;
	position: relative;
	display: block;
	float: right;
	margin-top: 4px;
	margin-left: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	
}
.men a.home {
    background: url(./img/home.png) right center no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    padding: 0px 0 2px 10px;
    border: 0px;
    border-left: 1px solid #5F5F5F;
}
#selectbox{
	width: 100%;
	display: block;
	padding: 5px 10px;
	font-size: 13px;
	font-family: 'DroidKufi bold' , Tahoma;
	font-weight: bold;
	background-color: #1A1A1A;
	border: 0px;
	color: white;
}
/* <!--: Slider Home Master :--> */
/******************************************
** Slider Home
******************************************/
.YC-master-slider{
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 32;
    direction: ltr;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 4px solid #8C3278;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.YC-master-slider:after{
	content: '';
	width: 210px;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 10;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left,   rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left,   rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left,   rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to right,  rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}
.YC-master-slider:before{
	content: '';
	width: 210px;
	height: 100%;
	right: 0px;
	top: 0px;
	display: block;
	position: absolute;
	z-index: 10;
	background: -moz-linear-gradient(right,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear,left top,  right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(right,   rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(right,   rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(right,   rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to left,  rgba(0, 0, 0, 0.93) 10%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}
.yc-video-master-loop.z1:before{
	display: none;
}
.yc-video-master-loop:before{
	content:'';
	width: 100%;
	height: 55px;
	background: rgba(255, 0, 0, 0) url(./img/shadow-4.png) top center no-repeat;
	background-size: 80% 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.8;
	display: block;
	z-index: 2;
}
.YC-slider{
    height: 487px !important;
    display: block;
}
.YC-master-slider i{
	display:none;
}
.item a{
    display: block;
    position: relative;
    height: 487px;
}

.prev {
	position:absolute;
	left:25px;
	top:185px;
	width: 55px;
	height:86px;
	background: url(./img/YC-prev.png) center center no-repeat;
	overflow:hidden;
	text-indent:-9999px;
	z-index: 100;
}
.next {
	position:absolute;
	right:25px;
	top:185px;
	width: 55px;
	height:86px;
	background: url(./img/YC-next.png) center center no-repeat;
	overflow:hidden;
	text-indent:-9999px;
	z-index: 100;
}
.line_he{
    height: 50px;
    background-color: #309FD9;
}
.yc-video-master-loop{
    background: #8C3278;
    position: relative;
    box-shadow: inset 0 6px 8px -6px #000;
    text-align: center;
    padding: 20px 1px 50px;
    min-height: 400px;
}
.yc-video-master-loop.z1:after{
	border-top: 100px solid transparent;
}
.yc-video-master-loop:after{
	left: 0px;
	top: 0px;
	content: " ";
	z-index: 10;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 100px solid #181717;
	border-right: 100px solid rgba(0, 0, 0, 0);
}
.z1{
	z-index:10
}
.z2{
	z-index:9
}
.z3{
	z-index:8
}
.z4{
	z-index:7
}
.z5{
	z-index:6
}
.z6{
	z-index:5
}

.yc-Soundtrack-master-loop{
    position: relative;
 	box-shadow: inset 0 6px 8px -6px #000;
 	padding: 20px 1px 50px;
 	min-height: 400px;
}
.yc-Soundtrack-master-loop .YC-tome-title-cat{
	background: rgba(76, 76, 76, 0.31);
	padding: 16px 0px;
	box-shadow: 0px 11px 22px rgba(0, 0, 0, 0.58);
}
.yc-Soundtrack-master-loop .YC-tome-title-cat .span2 {
	background: #FFFFFF;
}
.yc-Soundtrack-master-loop .YC-tome-title-cat div{
	background: #8C3278;
	border-color: #FFFFFF;
}
.yc-Soundtrack-master-loop .YC-tome-title-cat div > span > span {
	color: #151515;
}
.yc-Soundtrack-master-loop:before{
	left: -43px;
	top: -62px;
	content: " ";
	position: absolute;
	width: 0;
	height: 0;
	z-index: 0;
	border-bottom: 170px solid rgba(128, 61, 61, 0);
	border-left: 100px solid transparent;
	box-shadow: 6px 0 8px -6px #000;
	transform:rotate(75deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
}
.yc-Soundtrack-master-loop:after{
	left: 0px;
	top: 0px;
	z-index: 999999999;
	content: " ";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 100px solid #8C3278;
	border-right: 100px solid transparent;
}
#starfield {
  opacity:.4;
}

.slider-home{
    padding: 40px 0px 1px;
    position: relative;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}
#center{
	
text-align: center;
	
margin-top: 20px;
}
#center li{
	
margin-bottom: 6px;
	
display: inline-block;
}
#center li a{
	
display: block;
	
padding: 9px 5px;
	
font-size: 15px;
	
font-family: 'DroidKufi bold' , Tahoma;
	
font-weight: bold;
	
background-color: #800909;
	
border-left: 3px solid #941111;
	
border-right: 3px solid #941111;
	
box-shadow: 0px 2px 9px #000 , inset 0px 0px 10px rgba(0, 0, 0, 0.57);
	
width: 145px;
	
border-radius: 5px;
	
color: #FFFFFF;
}
.slider-home .caroufredsel_wrapper {
    margin: 0 !important;
    width: 100% !important;
}
#prev2, #prev3, #prev4, #prev5, #prev6, #prev7, #prev8{
    width: 53px;
    height: 105px;
    position: absolute;
    left: 15px;
    z-index: 20;
    top: 240px;
    text-indent: -99999px;
    overflow: hidden;
    background: url(img/carousel-arrow-prev.png) left center no-repeat;
}
#next2, #next3, #next4, #next5, #next6, #next7, #next8{
	width: 53px;
	height: 105px;
	position: absolute;
	right: 15px;
	z-index: 20;
	top: 240px;
	text-indent: -99999px;
	overflow: hidden;
	background: url(img/carousel-arrow-next.png) left center no-repeat;
}

.YC-tome-title-cat .span1 {}
.YC-tome-title-cat .span2 {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    background: #FFFFFF;
    height: 3px;
    z-index: -1;
    margin-top: -1.5px;
}
.YC-tome-title-cat:after {
    content: '';
}
.YC-tome-title-cat div > span {
    transform: skew(-7deg);
    display: block;
}
.YC-tome-title-cat div > span > span {
    color: #191818;
}
.YC-tome-title-cat div {
    display: table;
    margin: 0 auto;
    background: #8C3278;
    padding: 0px 20px;
    transform: skew(7deg);
    color: white;
    border-right: 5px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
}
.YC-tome-title-cat {
    color: black;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
    margin-top: 0px;
    padding: 7px 0px;
    background: #8C3278;
    font-size: 22px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
}
.oh-1{
    position: absolute;
    background: linear-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: webkit-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: moz-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: o-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: ms-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    width: 120px;
    height: 120px;
    bottom: -1px;
    right: 0px;
    z-index: 10;
    -webkit-box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);  
	
    -moz-box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);  
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);
}
.oh-1.oh2:after{
    background: #057CBB;
}
.oh-1:after{
	content:'';
	background: #0C0E1D;
	width: 120px;
	height: 7px;
	right: 0;
	position: absolute;
	bottom: -7px;
}
.oh-1:before{
    content: '';
    left: -28px;  
	
    top: -56px;  
	content: " ";  
	position: absolute;  
	width: 0;  
	height: 0;  
	border-bottom: 170px solid rgba(128, 61, 61, 0);  
	border-left: 100px solid rgba(0, 0, 0, 0);  
    box-shadow: 6px 0 8px -7px #000;  
    transform: rotate(45deg);  
    -ms-transform: rotate(45deg);  
    -webkit-transform: rotate(45deg);
}
.oh2{
    background: linear-gradient(135deg, #1E2244 50%, #057CBB 50%);
}




.slider-home-mas{
	color: #FFF;
	box-sizing: border-box;
	position: relative;
	min-width: 1100px;
	padding: 10px 0;
	height: 530px;
	overflow:hidden;
	background-color: rgb(140, 50, 120);
}
.slider-home-mas .caroufredsel_wrapper{
	width: 100% !important;
}
.slider-home-mas li{
    float: left;
    margin-right: -5px;
    margin-bottom: 10px;
}
.contentSingle .block_loop{
    float: right;
    width: 250px;
    height: 270px;
}
.contentSingle.dd-fe .block_loop{
    width: 231px;
    height: 255px;
}
.contentSingle .block_loop h1t{
	top: auto;
	bottom:0px;
	background-color: #004591;
}
.slider-home-mas li .block_loop:hover h1.title_loop{
	bottom: 0px;
	padding: 20px 10px;
	-webkit-animation-name: auto;      
	animation-name: auto;
}
.slider-home .block_loop{
	float: right;
}
.block_loop{
    position: relative;
    float: left;
    width: 290px;
    height: 400px;
    margin-bottom: 8px;
    overflow: hidden;
    margin-left: 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    direction: rtl;
    text-align: right;
    border: 5px solid rgba(255, 255, 255, 0.33);
    border-radius: 3px;
    background-color: #D0D0D0;
}
.block_loop img{
	width: calc( 100% - 25px);
	height: 100%;
}
.block_loop a{
	display: block;
	height: 100%;
}
.block_loop h1.title_loop{
	width: 100%;
	background-color: rgba(24, 23, 22, 0.69);
    position: absolute;
	top: -100px;
	padding: 10px 10px;
    font-size: 13px;
    
	line-height: 30px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
	min-height: 50px;
	color: #FDF8F8;
	text-align: center;
    
	-webkit-animation-duration: 0.2s;
    
	animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	
}
.block_loop:hover h1.title_loop{
	top:0px;
    
	-webkit-animation-duration: 0.2s;
    
	animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	
}
@-webkit-keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}
@keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}
.slider_block_one{
    float: left;
    width: 336px;
    height: 515px;
    position: relative;
    overflow: hidden;
    margin-right: 5px;
    margin-left: 5px;
}
.block_loop:hover .dex-sld{
	bottom: 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}
.dex-sld{
    position: absolute;
    bottom: -105px;
	
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}
.dex-sld li{
    display: block;
    text-align: left;
    float: none;
    color: #FDFDFD;
    margin-right: 0px;
    padding: 8px 78px 6px 36px;
    font-size: 27px;
    font-weight: bold;
    text-shadow: 0 1px 10px #0C0C0C;
}
.dex-sld ul{
}
.block_loop:hover .dex-sld:after{
    -ms-transform: rotate(-180deg);    
    -webkit-transform: rotate(-180deg); 
    transform: rotate(-180deg);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;		
}
.dex-sld:after{
	content:'';
	width:78px;
	height: 78px;
	background: url(./img/cam-reel.png) center center no-repeat;
	position:absolute;
	display: block;
	top: -35px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;		
}
.dex-sld li.views{
    background: rgba(0, 0, 0, 0.67) url(./img/eye.png) 5px center no-repeat;
    border-bottom: 2px solid #2F2F2F;
    font-size: 16px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    padding-left: 45px;
}
.dex-sld li.cat{
    background: #1A1F30 url(./img/list.png) 3% center no-repeat;
    background-image: linear-gradient(to left, #BFBFBF 0%, #8A8A8A 30%, #D4D4D4 50%, #8A8E8E 70%, #E2E2E2 100%);
    font-size: 12px;
    height: 46px;
    overflow: hidden;
}
.dex-sld li.cat a{
    color: white;
    font-size: 15px;
    font-family: 'DroidKufi bold' , Tahoma;      
    font-weight: bold;
}
.slider_block_two .dex-sld li.cat a{
    font-size: 13px;
	
}
.descri-slid{
	padding: 9px 11px;
	font-size: 14px;
	font-family: 'DroidKufi bold' , Tahoma;
	font-weight: bold;
	line-height: 30px;
	background-image: linear-gradient(to left, #0A0A0A 0%, #0F0F0F 30%, #191919 50%, #101010 80%, #0A0A0A 100%);
	height: 105px;
	overflow: hidden;
}
.slider_block_one .block_loop{
    width: 326px;
    height: 510px;
    margin-bottom: 0px;
}
.slider_block_two{
	width: 715px;
	float:left;
}
.slider_block_two .block_loop{
height: 250px;width: 228px;}
.slider-right{
	width: 40px;
	height: 60px;
	position:absolute;
	right: 0px;
	top: 240px;
	border-radius: 3px 0 0 3px;
	background: #45183B url(./img/slider-home-right.png) center center no-repeat;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.slider-right:hover{
	width:90px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;	
}
.slider-left:hover{
	width:90px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;	
}
.slider-left{
	width: 40px;
	height: 60px;
	position:absolute;
	left: 0px;
	top: 240px;
	border-radius: 0 3px 3px 0;
	background: #45183B url(./img/slider-home-left.png) center center no-repeat;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.futc-post{
    background: #057CBB;
    position: relative;
    box-shadow: inset 0 6px 8px -6px #000;	
}
h2.title-cat{
    background: #26A3C2;
    color: rgba(0, 0, 0, 0.92);
    float: right;
    width: 400px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: -20px;
    line-height: 40px;
    padding-right: 70px;
    text-align: right;
    position:relative;
    text-transform: capitalize;
    box-shadow: 0 6px 8px -6px black;
    border-bottom: 4px solid rgba(255, 255, 255, 0.13);
    border-top: 4px solid rgba(255, 255, 255, 0.13);
    font-family: 'DroidKufi bold' , Tahoma;      
    font-weight: bold;
    font-size: 18px;
}
h2.title-cat:before{
	content:"";
	position: absolute;
	width: 0;   
	height: 0;   
	right: 356px;
	margin-top: -4px;
	border-top: 52px solid #057CBB;   
	border-right: 44px solid rgba(0, 0, 0, 0);
}
.futc-post.def_loop:before{
	left: 0px;
	top: 0px;
	content: " ";
	z-index: 28;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 100px solid #0C0E1E;
	border-right: 100px solid rgba(0, 0, 0, 0);
}
.futc-post:after{
	content:'';
    position: absolute;
    background: linear-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: webkit-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: moz-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: o-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    background: ms-gradient(135deg, #309FD9 50%, #0C0E1D 50%);
    width: 120px;
    height: 120px;
    
	bottom: 0px;
    right
    : 0px;
    z-index: 10;
    -webkit-box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);  
    -moz-box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);  
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);
}
/* <!--: Breadcrumbs :--> */
#breadcrumbs{
    list-style:none;
    margin: 10px 0 20px 0;
    overflow:hidden;
    background: rgb(31, 32, 37);
    padding: 10px 10px;
    border-radius: 5px;
    position: relative;
    border-top: 1px solid #3A3A3A;
    border-bottom: 1px solid #3C3D40;
    z-index: 1;
}
#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right: 10px;
    font-size: 15px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    color: #FFFFFF;
}
#breadcrumbs li a{
    color: #CECECE;
}
#breadcrumbs .separator{
    font-size: 20px;
    font-weight:100;
    color: #8C3278;
    font-family: arial black;
}
/* <!--: Single Home :--> */
.content_home{
    min-height: 800px;
}
.single-content{
    min-height: 800px;
    padding-top: 80px;
    padding: 10px;
    background-color: #8C3278;
    border: 3px solid rgba(37, 35, 35, 0.38);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.22) , 6px 6px 8px -4px rgba(0, 0, 0, 0.5) , -6px 0 8px -4px rgba(0, 0, 0, 0.34);
}
.left-single .title_single{
    padding: 7px 10px;
    margin: 0px 0px 15px;
    color: #1F2025;
    background: linear-gradient(#DADADA, #AFADAD);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.maste_p{

}
.righ_data_post{
	float: right;
	width: 300px;
}
.lef_data_post{
	float: left;
	width: 845px;
}




.alert{
	background: linear-gradient(#3D3E3D, #333232, #242525);
	padding: 10px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.83);
	border-radius: 3px;
	font-size: 20px;
	font-family: 'DroidKufi bold' , Tahoma;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 18px;
}
.alert span{
	font-size: 16px;
}
.alert span strong{
	color: #FBBC46;
	font-size: 24px;
}
.alert h2{
	text-align: center;
	font-size: 20px;
	background-color: #AF0101;
	margin-bottom: 10px;
	border-radius: 13px;
	padding: 10px;
}
.title_single{
	text-align: center;
	font-size: 20px;
	font-family: 'DroidKufi bold' , Tahoma;
	font-weight: bold;
	position: relative;
	margin-bottom: 10px;
}
.post_da-p{

margin-bottom: 18px;
}
.thumn{
	width: 100%;
	height: auto;
	border: 5px solid #8C3278;
	margin: 0 auto 20px;
}
.thumn img{
	width: 100%;
	height: 100%;
}
.detalis-post{
	padding: 5px;
	border-radius: 3px;
}
.detalis-post li{
	background: linear-gradient(#9A3E86, rgb(105, 35, 89));
	padding: 10px 10px;
	border-right: 5px solid #FFFFFF;
	font-family: 'DroidKufi bold' , arial black;
	border-radius: 3px;
	margin-bottom: 5px;
}
.detalis-post li span{
	display: inline-block;
	float: right;
	margin-left: 10px;

}
.detalis-post li a{
	display: inline-block;
	height: 100%;
}
.cattag{
	background: linear-gradient(#943B81, rgb(99, 34, 84));
	padding: 10px;
	font-family: 'DroidKufi bold' , Tahoma;
	font-weight: bold;
	border-radius: 3px;
	margin-bottom: 20px;
	box-shadow: 0 0 5px black;
	text-align: center;
}
.cattag span{
	display: block;
	font-size: 16px;
	padding: 6px;
	background: #262627;
	text-align: center;
	border-radius: 3px;
	margin-bottom: 10px;
}
.cattag a{
	background: linear-gradient(#A74491, rgba(255, 255, 255, 0.06));
	padding: 5px 10px;
	display: inline-block;
	/* float: right; */
	border-radius: 5px;
	margin-bottom: 5px;
	color: white;
}
.redirect{
	font-family: 'DroidKufi bold' , Tahoma;
	text-align: center;
	font-weight: bold;
	border-radius: 10px;
	margin-bottom: 10px;
	position:relative;
}
/*--======== Right ========--*/
@-webkit-keyframes moveFromRight {
    0%{
        opacity: 0;
        -webkit-transform: translatex(105%);
    }
    25%{
        opacity: 1;
        -webkit-transform: translatex(0%);
    }
    50%{
        -webkit-transform: translatex(105%);
    }
    100%{
        -webkit-transform: translatex(0%);
    }
     
}
@-moz-keyframes moveFromRight {
    0%{
        opacity: 0;
        -moz-transform: translatex(105%);
    }
    25%{
        opacity: 1;
        -moz-transform: translatex(0%);
    }
    50%{
        -moz-transform: translatex(105%);
    }
    100%{
        -moz-transform: translatex(0%);
    }
}
@-ms-keyframes moveFromRight {
    0%{
        opacity: 0;
        -ms-transform: translatex(105%);
    }
    25%{
        opacity: 1;
        -ms-transform: translatex(0%);
    }
    50%{
        -ms-transform: translatex(105%);
    }
    100%{
        -ms-transform: translatex(0%);
    }
}
/*--========== Left ==========--*/
@-webkit-keyframes moveFromLeft {
    0%{
        opacity: 0;
        -webkit-transform: translatex(-105%);
    }
    25%{
        opacity: 1;
        -webkit-transform: translatex(0%);
    }
    50%{
        -webkit-transform: translatex(-105%);
    }
    100%{
        -webkit-transform: translatex(0%);
    }
     
}
@-moz-keyframes moveFromLeft {
    0%{
        opacity: 0;
        -moz-transform: translatex(-105%);
    }
    25%{
        opacity: 1;
        -moz-transform: translatex(0%);
    }
    50%{
        -moz-transform: translatex(-105%);
    }
    100%{
        -moz-transform: translatex(0%);
    }
}
@-ms-keyframes moveFromLeft {
    0%{
        opacity: 0;
        -ms-transform: translatex(-105%);
    }
    25%{
        opacity: 1;
        -ms-transform: translatex(0%);
    }
    50%{
        -ms-transform: translatex(-105%);
    }
    100%{
        -ms-transform: translatex(0%);
    }
}

.redirect a.dd_wa{
	display: inline-block;
	background: #62AD29 url(./img/folder-open.png) 98% center no-repeat;
	padding: 25px 20px;
	margin: 0 auto 0px;
	border-radius: 7px;
	padding-right: 60px;
	color: #222329;
	font-size: 16px;
	border-bottom: 5px solid rgba(0, 0, 0, 0.48);
	box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.47);
}
.right-single{
    width: 400px;
    float: left;
    border-radius: 3px;
    position: relative;
}
.imdb_link{
	height: 50px;
	width:50px;
	overflow: hidden;
	position:absolute;
	margin-top: -94px;
	margin-right: 14px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;	
}
.imdb_link a{
	display: block;
	width:100%;
	height:100%;
	background: #9A1919 url(./img/imdb.png) top right no-repeat;
	padding: 10px 60px 10px 10px;
	background-size: 50px 50px;
    font-size: 16px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    color: white;
}
.imdb_link:hover{
	width: auto;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;	
}
.date_icon{
	position:absolute;
	background: #0F5A96;
	font-size: 14px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;	
	padding: 5px 10px;
	width: 376px;
	margin-top: 12px;
	margin-right: 12px;
}
.date_icon span{
	color: #FFFFFF;
	background: url(./img/time.png) right center no-repeat;
	padding-right: 35px;
}
.right-single img.attachment-poster{
	display: block;
	margin: 10px auto 0px;
	border-radius: 3px;
	box-shadow: 0 0 5px black;
	border: 2px solid #FFFFFF;
	width: 380px;
}
.catFilm{
    background: url(./img/eye.png) 94% center no-repeat;
    position: relative;
    margin-right: 12px;
    padding: 10px 55px 10px 20px;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 3px;
    float: right;
}
.social-shares{
	
float: left;
	
margin-left: 10px;
}
.social-shares ul{
    margin-bottom: 0px;
    margin-top: 3px;
    text-align: center;
}
.social-shares li{
    list-style: none !important;
    margin-left: 2px;    
    display: inline-block;
    box-shadow: 0 6px 8px -6px black;
}
.social-shares li a{
	display:block;
	width: 50px;
	border-radius: 3px;
	height: 50px;
	padding-top: 7px;
}
.social-shares li a img{
    display: block;
    margin: 8px auto 0;
}
.social-facebook a{
	background:#45619C;
}
.social-twitter a{
	background:#00ACEE;
}
.social-google a{
	background:#DD4B39;
}
.social-pinterest a{
	background:#BD1E23;
}
.social-linkedin a{
	background: #1D87BD;
}
.ads-r.fix-ad{
	position:fixed;
	top: 10px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
}
.ads-l.fix-ad{
	position:fixed;
	top: 10px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
}
.ads-r{
	width:160px;
	height: 600px;
	position: absolute;
	background: #1F2025;
	right: 50%;
	margin-right: -587px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
}
.ads-l{
	width:160px;
	height: 600px;
	position: absolute;
	background: #1F2025;
	left: 50%;
	margin-left: -587px;
	-webkit-transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
	-ms-transition: all 0.50s ease-in-out;
	transition: all 0.50s ease-in-out;
}
.left-single{
    border-radius: 3px;
    padding-bottom: 5px;
    margin: 0 auto;
    background-color: #6B245B;
    padding: 10px 10px;
    box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.84);
    position: relative;
}
.ads-728{
	width: 728px;
	margin: 10px auto 10px;
}
.content{
    padding: 30px 30px;
    font-size: 14px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    border: 4px solid #94317D;
    background: linear-gradient(rgb(134, 33, 111), #7B2B69);
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.46);
}
.servers {
    margin-top: 0px;
    padding: 10px 0;
}
.servers > ul {
    text-align: center;
    margin-bottom: 5px;
    background: linear-gradient(#0C9E7D, #11B18D, #055241);
    border-top: 6px solid #18B18E;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #1F2025;
}
.servers > ul > li {
	display: inline-block;
	cursor: pointer;
	transition: .5s all ease;
	border-left: 1px solid #373948;
	color: white;
	padding: 24px 15px 25px;
	border-radius: 3px;
	margin-bottom: -4px;
	font-size: 13px;
	font-family: 'DroidKufi bold' , Tahoma;
	font-weight: bold;
	overflow: hidden;
}
.servers > ul > li:hover {
	background: linear-gradient(#0DD2A5, #22DAB1, #075F4B);
	color: black;
}
.servers > ul > li.active {
    background-color: #9A1919;
}
#DataServers {
    position: relative;
}
#DataServers > div.POPUP_ADS{
	position: absolute;
	width:100%;
	height: 100%;	
	display: block;
}
#DataServers > div iframe {
	display:table;
	margin:0 auto;
	width:100%;
}
#DataServers > div {
    display: none;
}
#DataServers > div.active {
    display: block;
}
#DataServers2 {
    position: relative;
}
#DataServers2 > iframe {
	display:table;
	margin:0 auto;
}
#DataServers2 > div {
    display: none;
}
#DataServers2 > div.active {
    display: block;
}
#DataServers iframe {
	display:table;
	margin:0 auto;
	width:100%;
}





.download_links{
	cursor: pointer;
	margin: 10px 0px;
	font-size: 14px;
	font-family: 'DroidKufi bold' , Tahoma;
	box-shadow: 0 6px 8px -4px #000;
	display: inline-block;
	padding: 29px 18px;
	height: 42px;
	line-height: 18px;
	min-width: 120px;
	background: #F3BF46;
	margin-right: 0px;
	margin-left:5px;
	font-weight: bold;
	text-align: center;
	position: relative;
	overflow: hidden;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.download_links span{
    display: block;
    position: absolute;
    font-size: 12px;
    margin-top: -50px;
    margin-left: 50px;
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.download_links:hover span{
    display: block;
    position: absolute;
    font-size: 12px;
    margin-top: -17px;
    margin-left: 50px;
    -webkit-transition: all 0.1s ease-in-out;  
	-moz-transition: all 0.1s ease-in-out;  
	-o-transition: all 0.1s ease-in-out;  
	-ms-transition: all 0.1s ease-in-out;  
	transition: all 0.1s ease-in-out;
}
.download_links:hover{
	background: #11B18D;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}












/*
.download_links {
	display: inline-block;
	background-color: #EACA37;
	cursor: pointer;
	color: #202230;
	border-right: 5px solid #fff;
	padding: 20px 12px;
	margin: 10px 0px;
	font-size: 14px;
	font-family: 'DroidKufi bold' , Tahoma;
	font-weight: bold;
	box-shadow: 0 6px 8px -4px black;
}
*/
.dre{
    height: 10px;
    box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.45);
    margin-bottom: 16px;
}
.left-single .cats{
}
.left-single .cats span{
    float: right;
    margin-left: 5px;
    min-width: 140px;
    padding: 6px 10px;
}
.left-single .cats strong{
    display: block;
    float: right;
    background-color: #0F1215;
    padding: 3px 10px;
	font-size: 14px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    border-radius: 3px;
}
.cats {
    display: table;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #26272D;
    padding: 5px 10px;
}
.cats span {
    color: white;
    /* background: #0F5A96; */
    padding: 7px 12px;
    position: relative;
    display: block;
    font-size: 14px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    margin-bottom: 5px;
}
.cats a {
    background: #2C2D32;
    padding: 5px 13px;
    margin-left: 4px;
    margin-bottom: 10px;
    color: white;
    font-size: 13px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.49);
}
.cats a:hover {
    background: #11B18D;
    color: #000;
    }
.block-style{
    padding: 0 5px;
}
.show-film2{
    padding-bottom: 10px;
}
.show-film2 .title-block-master{
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
	background-color: #AF0101;
}
.servers2{
    padding: 0px;
		
}
.title-block-master{
    background: #222329;
    margin: 15px auto;
    text-align: center;
    font-size: 20px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    padding: 12px 90px;
    position: relative;
    border-radius: 10px;
    border-top: 5px solid #3B3C44;
}
.recent-post .title-block-master{
	font-size: 16px;
	background: linear-gradient(#3F3F40, rgb(26, 26, 27));
	padding: 5px 5px;
}
.recent-post .title-block-master a{
	color: #C153A9;
	font-size: 18px;
	padding: 0px 10px;
	display: inline-block;
	border-radius: 3px;
	margin-left: 3px;
}
.facebook-comment{
    background-color: white;
}
ol.forms li.buttons button{
    background: #1A1A1A;
    border-radius: 3px;
    border: 0px;
    float: left;
    color: #fff;
    padding: 5px 20px;
    font-family: 'DroidKufi Bold', Tahoma;
    font-size: 21px;
}

ol.forms { list-style: none; margin: 0; width: 100%; }
ol.forms li {    
	position: relative;
	margin-bottom: 6px;
}
ol.forms label {
	cursor: pointer;
	display: block;
	padding-right: 5px;
	width: 219px;
	line-height: 27px;
	margin-bottom: 4px;
	background-color: #1A1A1A;
	font-size: 14px;
	font-family: 'DroidKufi bold' , Tahoma;
	font-weight: bold;
	border-radius: 3px;
	padding: 5px 10px;
	float: right;
	margin-left: 5px;
}
ol.forms textarea{
    width: 950px;
    height: 300px;
    border-radius: 3px;
    padding: 5px 10px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-size: 12px;
    margin-bottom: 10px;
}
ol.forms input{
    height: 36px;
    width: 950px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(145, 145, 145, 0.27);
    border-radius: 3px;
    float: right;
    display: block;
    padding: 5px 10px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-size: 12px;
}
.error { color: #f00; }
ol.forms li .error { 
	font-size: 12px; 
	background: #BD3636; 
	display: inline-block; 
	float: left; 
	margin: 8px 0px 0px 115px; 
	min-width: 140px; 
	color: white; 
	padding: 5px 10px; 
	text-align: center;
}
ol.forms li.textarea .error {
	display: block;
	right: 0;
	top: 0;
	display: block;
}
ol.forms li.buttons button {
	color: #FFFFFF;
	cursor: pointer;
	overflow: hidden;
	padding: 12px 0px;
	text-transform: uppercase;
	width: 100px;
}
ol.forms li.buttons button:hover { color: #fff; }
ol.forms li.buttons button:active { left: -1px; position: relative; top: -1px; }
ol.forms li.buttons, ol.forms li.inline { }
ol.forms li.inline input { width: auto; }
ol.forms li.inline label { display: inline; float: none; width: auto; }
.left-contac{
    width: 458px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.19);
    float: left;
}

/* <!--: Recent :--> */
.recent-post{
    position: relative;
}
.recent-post .block_loop{
    float: none;
    border: 2px solid rgba(255, 255, 255, 0.13);
    width: 259px;
    height: 332px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.recent-post .caroufredsel_wrapper{
	width: 100% !important;
	margin-bottom: 20px !important;
}
.recent-post li{
    float: left;
}
.recent-post .slider-right{
	top: 210px;
}
.recent-post .slider-left{
	top: 210px;
}
/* <!--: Section Flimes :--> */
.section-flimes{
    background-color: rgba(8, 8, 8, 0.54);
    position:relative;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 7px solid rgba(12, 12, 12, 0.74);
}
.section-flimes:before{
	right: 0px;
	top: 0px;
	content: " ";
	z-index: 28;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 100px solid #2D344C;
	border-left: 100px solid transparent;
}
.title_sec_home{
	background: #343642;
	width: 350px;
	margin-top: 20px;
	margin-bottom: 35px;
	font-size: 20px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
	padding: 3px 90px 3px 0;
	border-top: 5px solid rgb(42, 43, 53);
	border-bottom: 5px solid rgb(42, 43, 53);
	position: relative;
	box-shadow: 5px 6px 8px -3px rgba(0, 0, 0, 0.56) , 53px -6px 8px -3px rgba(0, 0, 0, 0.4);
}
.mor_dd{
	position:absolute;
	left: 30px;
	top: 25px;	
	background: #343642;
	color: white;
	font-size: 20px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
	padding: 3px 90px;
	border-top: 5px solid rgb(42, 43, 53);
	border-bottom: 5px solid rgb(42, 43, 53);
	box-shadow: 0 6px 8px -4px black;
}
.section-series .mor_dd{
	background: #9A1919;
	border-top: 5px solid #540E0E;      
	border-bottom: 5px solid #540E0E;
}
.section-flimes .block_loop{
    float: none;
    border: 2px solid rgba(255, 255, 255, 0.13);
    width: 236px;
    height: 332px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.section-flimes .caroufredsel_wrapper{
	width: 100% !important;
	margin-bottom: 50px !important;
}
.section-flimes li{
    float: left;
}
.section-flimes .slider-right{
	top: 240px;
}
.section-flimes .slider-left{
	top: 240px;
}
/* <!--: Section Series :--> */
.section-series{
    background-image: linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.67));
    position:relative;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 7px solid rgba(18, 18, 18, 0.19);
}
.section-series:after{
	content: "";
	background: url(./img/shadow-4.png) top center no-repeat;
	background-size: 150% 100%;
	position:absolute;
	bottom: -54px;
	width: 100%;
	height:50px;
	opacity: 0.4;
}
.title_sec_home-series{
	background: #9A1919;
	width: 350px;
	margin-top: 20px;
	margin-bottom: 35px;
	font-size: 20px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
	padding: 3px 90px 3px 0;
	border-top: 5px solid rgba(0, 0, 0, 0.46);
	border-bottom: 5px solid rgba(0, 0, 0, 0.46);
	position: relative;
	box-shadow: 5px 6px 8px -3px rgba(0, 0, 0, 0.56) , 53px -6px 8px -3px rgba(0, 0, 0, 0.4);
}
.section-series .block_loop{
    float: none;
    border: 2px solid rgba(255, 255, 255, 0.13);
    width: 236px;
    height: 332px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.section-series .caroufredsel_wrapper{
	width: 100% !important;
	margin-bottom: 50px !important;
}
.section-series li{
    float: left;
}
.section-series .slider-right{
	top: 240px;
}
.section-series .slider-left{
	top: 240px;
}
/* <!--: Default loop :--> */
.def_loop{
	padding-top: 40px;
	padding-bottom: 40px;
}
.title-news{
	margin: 10px auto 20px;
	color: #FFFFFF;
	background-color: #8C3278;
	min-width: 300px;
	border-left: 5px solid #FFF;
	border-right: 5px solid #fff;
	max-width: 100%;
	text-align: center;
	font-size: 25px;
	font-family: 'DroidKufi bold' , Tahoma;
	font-weight: bold;
	padding: 10px 90px;
	position: relative;
	box-shadow: 0 10px 9px rgba(0, 0, 0, 0.35);
}
.def_loop .block_loop{
    float: right;
    border: 2px solid rgb(255, 255, 255);
    width: 280px;
    height: 375px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
    margin-bottom: 15px;
}
.block_loop:before{
	content: '';
	width: 25px;
	height:100%;
	background: url(./img/reel.png) top center repeat-y;
	display: block;
	float:right;
	background-size: 100%;
}
/* <!--: 404 :--> */
.pg-404{
	background:url(./img/404.png) top center no-repeat;
}
.data_404{
	font-family: 'DroidKufi bold' , Tahoma;
	font-size: 14px;
	font-weight: bold;
	margin-top: 350px;
	text-align: center;
}
.pg-404 a{
	background: #2D344C;
	display: block;
	text-align: center;
	font-family: 'DroidKufi bold' , Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: white;
	margin: 30px auto 0;
	padding: 10px 10px;
	width: 150px;
}
/* <!--: pagination :--> */
.pagination {
	padding:20px 0;
	position:relative;
	line-height:13px;
	text-align: center;
}
.pagination span, .pagination a {
	display:block;
	padding: 13px;
	margin: 2px 4px 2px 0;
	text-decoration:none;
	width:auto;
	color: #FFF;
	background: #8C3278;
	display: inline-block;
	border-radius: 3px;
	font-family: 'DroidKufi normal' , Tahoma;
}
.pagination a:hover{
	background: #541C48;
}
.pagination li{
	display:inline-block;
}
.pagination .current{
	padding:  13px;
	background: #541C48;
	color:#fff;
}



/* <!--: Footer :--> */
#footer {
    height: 50px;
    position: relative;
    background-color: #8C3278;
    z-index: 0;
    box-shadow: 0 -6px 8px -4px rgba(0, 0, 0, 0.59);
}
.Histats_code{
	position:absolute;
	background: #24252D;
	left:50%;
	margin-left: -56px;	
	margin-top: 11px;
	border-radius: 3px;
}
.right-footer{
    float: right;
	font-size: 14px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    margin-top: 11px;
}
.left-footer{
    float: left;
    color: #191818;
    font-size: 14px;
    font-family: 'DroidKufi bold' , Tahoma;
    font-weight: bold;
    margin-top: 13px;
}
.left-footer a{
	color: #FBFBFB;
}