
.icon-UserIcon-100px {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: 0px 0px;
    width: 100px;
    height: 101px;
}

.icon-Zoom {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -100px 0px;
    width: 26px;
    height: 26px;
}

.icon-add-photos {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -126px 0px;
    width: 50px;
    height: 50px;
}

.icon-alerts {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -176px 0px;
    width: 18px;
    height: 18px;
}

.icon-android-dark-gray {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -194px 0px;
    width: 24px;
    height: 24px;
}

.icon-android {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -218px 0px;
    width: 50px;
    height: 50px;
}

.icon-app-store {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -100px -50px;
    width: 145px;
    height: 50px;
}

.icon-apple-dark-gray {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -245px -50px;
    width: 24px;
    height: 24px;
}

.icon-back-other {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -269px -50px;
    width: 12px;
    height: 12px;
}

.icon-back {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -281px -50px;
    width: 20px;
    height: 20px;
}

.icon-brightness {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -301px -50px;
    width: 50px;
    height: 50px;
}

.icon-call {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -100px -100px;
    width: 50px;
    height: 50px;
}

.icon-category-arrow {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -150px -100px;
    width: 0px;
    height: 1px;
}

.icon-chat {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -150px -100px;
    width: 18px;
    height: 18px;
}

.icon-check {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -168px -100px;
    width: 50px;
    height: 50px;
}

.icon-chevron-blue {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -218px -100px;
    width: 50px;
    height: 50px;
}

.icon-chevron {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -268px -100px;
    width: 50px;
    height: 50px;
}

.icon-close-small {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -318px -100px;
    width: 14px;
    height: 14px;
}

.icon-close {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -332px -100px;
    width: 20px;
    height: 20px;
}

.icon-corner-lightning {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -318px -120px;
    width: 50px;
    height: 50px;
}

.icon-crop {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: 0px -170px;
    width: 50px;
    height: 50px;
}

.icon-down {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -50px -170px;
    width: 10px;
    height: 10px;
}

.icon-edit {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -60px -170px;
    width: 50px;
    height: 50px;
}

.icon-email {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -110px -170px;
    width: 50px;
    height: 50px;
}

.icon-facebook_white {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -160px -170px;
    width: 20px;
    height: 20px;
}

.icon-favorites {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -180px -170px;
    width: 18px;
    height: 18px;
}

.icon-featured-1 {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -198px -170px;
    width: 50px;
    height: 50px;
}

.icon-featured-all-white {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -248px -170px;
    width: 15px;
    height: 15px;
}

.icon-featured-white {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -263px -170px;
    width: 15px;
    height: 15px;
}

.icon-googleplay {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -248px -185px;
    width: 145px;
    height: 50px;
}

.icon-grid-view-1 {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: 0px -235px;
    width: 25px;
    height: 25px;
}

.icon-hamburger {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -25px -235px;
    width: 30px;
    height: 24px;
}

.icon-handshake {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -55px -235px;
    width: 50px;
    height: 50px;
}

.icon-heart-gray {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -105px -235px;
    width: 32px;
    height: 24px;
}

.icon-heart-orange {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -137px -235px;
    width: 21px;
    height: 21px;
}

.icon-heart-white {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -158px -235px;
    width: 21px;
    height: 21px;
}

.icon-home {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -179px -235px;
    width: 50px;
    height: 50px;
}

.icon-ios {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -229px -235px;
    width: 50px;
    height: 50px;
}

.icon-less-options {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -279px -235px;
    width: 50px;
    height: 50px;
}

.icon-link {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -329px -235px;
    width: 50px;
    height: 50px;
}

.icon-list-view {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: 0px -285px;
    width: 50px;
    height: 50px;
}

.icon-locate-me {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -50px -285px;
    width: 50px;
    height: 50px;
}

.icon-location-arrow-blue {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -100px -285px;
    width: 20px;
    height: 20px;
}

.icon-location-marker {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -120px -285px;
    width: 20px;
    height: 20px;
}

.icon-location {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -140px -285px;
    width: 50px;
    height: 50px;
}

.icon-logo_app_store {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -190px -285px;
    width: 146px;
    height: 50px;
}

.icon-logo_google_play {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: 0px -335px;
    width: 146px;
    height: 50px;
}

.icon-logout-1 {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -146px -335px;
    width: 18px;
    height: 18px;
}

.icon-menu {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -164px -335px;
    width: 50px;
    height: 50px;
}

.icon-messages-blue {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -214px -335px;
    width: 41px;
    height: 35px;
}

.icon-messages-on {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -255px -335px;
    width: 50px;
    height: 50px;
}

.icon-messages-white {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -305px -335px;
    width: 10px;
    height: 10px;
}

.icon-messages {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -315px -335px;
    width: 50px;
    height: 50px;
}

.icon-more-2 {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: 0px -385px;
    width: 50px;
    height: 50px;
}

.icon-more-options {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -50px -385px;
    width: 50px;
    height: 50px;
}

.icon-my-ads-active {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -100px -385px;
    width: 0px;
    height: 1px;
}

.icon-my-settings {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -100px -385px;
    width: 18px;
    height: 18px;
}

.icon-next {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -118px -385px;
    width: 50px;
    height: 50px;
}

.icon-photo-close {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -168px -385px;
    width: 20px;
    height: 20px;
}

.icon-photo-library-3 {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -188px -385px;
    width: 18px;
    height: 18px;
}

.icon-plus-symbol {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -206px -385px;
    width: 50px;
    height: 50px;
}

.icon-plus {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -256px -385px;
    width: 50px;
    height: 50px;
}

.icon-post {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -306px -385px;
    width: 25px;
    height: 25px;
}

.icon-premium {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -331px -385px;
    width: 50px;
    height: 50px;
}

.icon-previous {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: 0px -435px;
    width: 50px;
    height: 50px;
}

.icon-pricing-guide {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -50px -435px;
    width: 18px;
    height: 18px;
}

.icon-profile-3 {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -68px -435px;
    width: 50px;
    height: 50px;
}

.icon-promote-1 {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -118px -435px;
    width: 18px;
    height: 18px;
}

.icon-promoted-2 {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -136px -435px;
    width: 50px;
    height: 50px;
}

.icon-rating-1 {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -186px -435px;
    width: 50px;
    height: 50px;
}

.icon-refine {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -236px -435px;
    width: 50px;
    height: 50px;
}

.icon-retake-photo {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -286px -435px;
    width: 50px;
    height: 50px;
}

.icon-safety-1 {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -336px -435px;
    width: 30px;
    height: 30px;
}

.icon-saved-search {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -336px -465px;
    width: 50px;
    height: 50px;
}

.icon-search-gray {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: 0px -515px;
    width: 20px;
    height: 20px;
}

.icon-search-white {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -20px -515px;
    width: 20px;
    height: 20px;
}

.icon-search {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -40px -515px;
    width: 50px;
    height: 50px;
}

.icon-see-it-live {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -90px -515px;
    width: 50px;
    height: 50px;
}

.icon-sell-smart-2 {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -140px -515px;
    width: 50px;
    height: 50px;
}

.icon-share-facebook {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -190px -515px;
    width: 50px;
    height: 50px;
}

.icon-share-fb-messenger {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -240px -515px;
    width: 50px;
    height: 50px;
}

.icon-share-link {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -290px -515px;
    width: 50px;
    height: 50px;
}

.icon-share-more {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -340px -515px;
    width: 50px;
    height: 50px;
}

.icon-share-whatsapp {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: 0px -565px;
    width: 50px;
    height: 50px;
}

.icon-share {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -50px -565px;
    width: 50px;
    height: 50px;
}

.icon-slider-1 {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -100px -565px;
    width: 50px;
    height: 50px;
}

.icon-sms-2 {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -150px -565px;
    width: 50px;
    height: 50px;
}

.icon-speech-input {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -200px -565px;
    width: 50px;
    height: 50px;
}

.icon-star-blue {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -250px -565px;
    width: 14px;
    height: 14px;
}

.icon-star-light-gray {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -264px -565px;
    width: 14px;
    height: 14px;
}

.icon-tip {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -278px -565px;
    width: 50px;
    height: 50px;
}

.icon-unsupported-file-format {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -328px -565px;
    width: 50px;
    height: 50px;
}

.icon-up-blue {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -378px -565px;
    width: 10px;
    height: 10px;
}

.icon-up {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -388px -565px;
    width: 10px;
    height: 10px;
}

.icon-vip-back {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -378px -575px;
    width: 13px;
    height: 13px;
}

.icon-vivaedit {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: 0px -615px;
    width: 40px;
    height: 40px;
}

.icon-web-email {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -40px -615px;
    width: 30px;
    height: 30px;
}

.icon-web-phone {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -70px -615px;
    width: 30px;
    height: 30px;
}

.icon-web-sms {
    background-image: url(es_MX.png);
    background-size: initial;
    background-position: -100px -615px;
    width: 30px;
    height: 30px;
}

