.icon-UserIcon-100px {
background: url("svg/sprite.css-820073f1.svg") 0 33.333333333333336% no-repeat;
width: 100px;
height: 101px;
background-size: auto;
}

.icon-Zoom {
background: url("svg/sprite.css-820073f1.svg") 56.344086021505376% 26.666666666666668% no-repeat;
width: 26px;
height: 26px;
background-size: auto;
}

.icon-add-photos {
background: url("svg/sprite.css-820073f1.svg") 77.32426303854875% 71.22507122507122% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-alerts {
background: url("svg/sprite.css-820073f1.svg") 73.99577167019028% 78.59007832898172% no-repeat;
width: 18px;
height: 18px;
background-size: auto;
}

.icon-android {
background: url("svg/sprite.css-820073f1.svg") 22.675736961451246% 100% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-android-dark-gray {
background: url("svg/sprite.css-820073f1.svg") 56.102783725910065% 33.42175066312998% no-repeat;
width: 24px;
height: 24px;
background-size: auto;
}

.icon-app-store {
background: url("svg/sprite.css-820073f1.svg") 42.19653179190752% 0 no-repeat;
width: 145px;
height: 50px;
background-size: auto;
}

.icon-apple-dark-gray {
background: url("svg/sprite.css-820073f1.svg") 27.8372591006424% 42.97082228116711% no-repeat;
width: 24px;
height: 24px;
background-size: auto;
}

.icon-back {
background: url("svg/sprite.css-820073f1.svg") 41.6135881104034% 42.51968503937008% no-repeat;
width: 20px;
height: 20px;
background-size: auto;
}

.icon-back-other {
background: url("svg/sprite.css-820073f1.svg") 92.06680584551148% 100% no-repeat;
width: 12px;
height: 12px;
background-size: auto;
}

.icon-brightness {
background: url("svg/sprite.css-820073f1.svg") 22.675736961451246% 57.26495726495727% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-call {
background: url("svg/sprite.css-820073f1.svg") 34.01360544217687% 57.26495726495727% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-category-arrow {
background: url("svg/sprite.css-820073f1.svg") 98.44494607474292% 81.41077991016742% no-repeat;
width: 12.56px;
height: 9.16px;
background-size: auto;
}

.icon-chat {
background: url("svg/sprite.css-820073f1.svg") 73.99577167019028% 83.28981723237598% no-repeat;
width: 18px;
height: 18px;
background-size: auto;
}

.icon-check {
background: url("svg/sprite.css-820073f1.svg") 65.98639455782313% 14.245014245014245% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-chevron {
background: url("svg/sprite.css-820073f1.svg") 65.98639455782313% 28.49002849002849% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-chevron-blue {
background: url("svg/sprite.css-820073f1.svg") 65.98639455782313% 42.73504273504273% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-close {
background: url("svg/sprite.css-820073f1.svg") 45.859872611464965% 42.51968503937008% no-repeat;
width: 20px;
height: 20px;
background-size: auto;
}

.icon-close-small {
background: url("svg/sprite.css-820073f1.svg") 27.044025157232703% 48.06201550387597% no-repeat;
width: 14px;
height: 14px;
background-size: auto;
}

.icon-corner-lightning {
background: url("svg/sprite.css-820073f1.svg") 11.337868480725623% 71.5099715099715% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-crop {
background: url("svg/sprite.css-820073f1.svg") 22.675736961451246% 71.5099715099715% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-down {
background: url("svg/sprite.css-820073f1.svg") 100% 60.10230179028133% no-repeat;
width: 10px;
height: 10px;
background-size: auto;
}

.icon-edit {
background: url("svg/sprite.css-820073f1.svg") 45.35147392290249% 71.5099715099715% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-email {
background: url("svg/sprite.css-820073f1.svg") 56.68934240362812% 71.5099715099715% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-facebook_white {
background: url("svg/sprite.css-820073f1.svg") 100% 94.22572178477691% no-repeat;
width: 20px;
height: 20px;
background-size: auto;
}

.icon-favorites {
background: url("svg/sprite.css-820073f1.svg") 88.37209302325581% 91.64490861618799% no-repeat;
width: 18px;
height: 18px;
background-size: auto;
}

.icon-featured-1 {
background: url("svg/sprite.css-820073f1.svg") 77.32426303854875% 28.49002849002849% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-featured-all-white {
background: url("svg/sprite.css-820073f1.svg") 57.983193277310924% 41.968911917098445% no-repeat;
width: 15px;
height: 15px;
background-size: auto;
}

.icon-featured-white {
background: url("svg/sprite.css-820073f1.svg") 21.008403361344538% 48.18652849740933% no-repeat;
width: 15px;
height: 15px;
background-size: auto;
}

.icon-googleplay {
background: url("svg/sprite.css-820073f1.svg") 42.19653179190752% 14.245014245014245% no-repeat;
width: 145px;
height: 50px;
background-size: auto;
}

.icon-grid-view-1 {
background: url("svg/sprite.css-820073f1.svg") 64.37768240343348% 66.75531914893617% no-repeat;
width: 25px;
height: 25px;
background-size: auto;
}

.icon-hamburger {
background: url("svg/sprite.css-820073f1.svg") 21.691973969631235% 42.97082228116711% no-repeat;
width: 30px;
height: 24px;
background-size: auto;
}

.icon-handshake {
background: url("svg/sprite.css-820073f1.svg") 22.675736961451246% 85.75498575498575% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-heart-gray {
background: url("svg/sprite.css-820073f1.svg") 96.07843137254902% 72.94429708222812% no-repeat;
width: 32px;
height: 24px;
background-size: auto;
}

.icon-heart-orange {
background: url("svg/sprite.css-820073f1.svg") 32.765957446808514% 42.63157894736842% no-repeat;
width: 21px;
height: 21px;
background-size: auto;
}

.icon-heart-white {
background: url("svg/sprite.css-820073f1.svg") 37.234042553191486% 42.63157894736842% no-repeat;
width: 21px;
height: 21px;
background-size: auto;
}

.icon-home {
background: url("svg/sprite.css-820073f1.svg") 68.02721088435374% 85.75498575498575% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-ios {
background: url("svg/sprite.css-820073f1.svg") 88.66213151927438% 0 no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-less-options {
background: url("svg/sprite.css-820073f1.svg") 88.66213151927438% 14.245014245014245% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-link {
background: url("svg/sprite.css-820073f1.svg") 88.66213151927438% 28.49002849002849% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-list-view {
background: url("svg/sprite.css-820073f1.svg") 88.66213151927438% 42.73504273504273% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-locate-me {
background: url("svg/sprite.css-820073f1.svg") 88.66213151927438% 56.98005698005698% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-location {
background: url("svg/sprite.css-820073f1.svg") 88.66213151927438% 71.22507122507122% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-location-arrow-blue {
background: url("svg/sprite.css-820073f1.svg") 100% 78.47769028871392% no-repeat;
width: 20px;
height: 20px;
background-size: auto;
}

.icon-location-marker {
background: url("svg/sprite.css-820073f1.svg") 50.10615711252654% 42.51968503937008% no-repeat;
width: 20px;
height: 20px;
background-size: auto;
}

.icon-logo_app_store {
background: url("svg/sprite.css-820073f1.svg") 0 0 no-repeat;
width: 146px;
height: 50px;
background-size: auto;
}

.icon-logo_google_play {
background: url("svg/sprite.css-820073f1.svg") 0 14.245014245014245% no-repeat;
width: 146px;
height: 50px;
background-size: auto;
}

.icon-logout-1 {
background: url("svg/sprite.css-820073f1.svg") 100% 71.80156657963447% no-repeat;
width: 18px;
height: 18px;
background-size: auto;
}

.icon-menu {
background: url("svg/sprite.css-820073f1.svg") 45.35147392290249% 100% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-messages {
background: url("svg/sprite.css-820073f1.svg") 36.734693877551024% 28.49002849002849% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-messages-blue {
background: url("svg/sprite.css-820073f1.svg") 98% 54.6448087431694% no-repeat;
width: 41px;
height: 35px;
background-size: auto;
}

.icon-messages-on {
background: url("svg/sprite.css-820073f1.svg") 79.36507936507937% 100% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-messages-white {
background: url("svg/sprite.css-820073f1.svg") 100% 62.65984654731458% no-repeat;
width: 10px;
height: 10px;
background-size: auto;
}

.icon-more-2 {
background: url("svg/sprite.css-820073f1.svg") 100% 14.245014245014245% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-more-options {
background: url("svg/sprite.css-820073f1.svg") 100% 28.49002849002849% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-my-ads-active {
background: url("svg/sprite.css-820073f1.svg") 23.31002331002331% 29.49852507374631% no-repeat;
width: 62px;
height: 62px;
background-size: auto;
}

.icon-my-settings {
background: url("svg/sprite.css-820073f1.svg") 77.80126849894292% 83.28981723237598% no-repeat;
width: 18px;
height: 18px;
background-size: auto;
}

.icon-next {
background: url("svg/sprite.css-820073f1.svg") 100% 0 no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-photo-close {
background: url("svg/sprite.css-820073f1.svg") 100% 86.35170603674541% no-repeat;
width: 20px;
height: 20px;
background-size: auto;
}

.icon-photo-library-3 {
background: url("svg/sprite.css-820073f1.svg") 57.08245243128964% 60.31331592689295% no-repeat;
width: 18px;
height: 18px;
background-size: auto;
}

.icon-plus {
background: url("svg/sprite.css-820073f1.svg") 68.02721088435374% 100% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-plus-symbol {
background: url("svg/sprite.css-820073f1.svg") 56.68934240362812% 100% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-post {
background: url("svg/sprite.css-820073f1.svg") 64.37768240343348% 73.40425531914893% no-repeat;
width: 25px;
height: 25px;
background-size: auto;
}

.icon-premium {
background: url("svg/sprite.css-820073f1.svg") 34.01360544217687% 100% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-previous {
background: url("svg/sprite.css-820073f1.svg") 0 100% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-pricing-guide {
background: url("svg/sprite.css-820073f1.svg") 77.80126849894292% 78.59007832898172% no-repeat;
width: 18px;
height: 18px;
background-size: auto;
}

.icon-profile-3 {
background: url("svg/sprite.css-820073f1.svg") 88.66213151927438% 85.47008547008546% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-promote-1 {
background: url("svg/sprite.css-820073f1.svg") 84.56659619450318% 91.64490861618799% no-repeat;
width: 18px;
height: 18px;
background-size: auto;
}

.icon-promoted-2 {
background: url("svg/sprite.css-820073f1.svg") 56.68934240362812% 85.75498575498575% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-rating-1 {
background: url("svg/sprite.css-820073f1.svg") 45.35147392290249% 85.75498575498575% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-refine {
background: url("svg/sprite.css-820073f1.svg") 34.01360544217687% 85.75498575498575% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-retake-photo {
background: url("svg/sprite.css-820073f1.svg") 11.337868480725623% 85.75498575498575% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-safety-1 {
background: url("svg/sprite.css-820073f1.svg") 95.66160520607376% 80.59299191374663% no-repeat;
width: 30px;
height: 30px;
background-size: auto;
}

.icon-saved-search {
background: url("svg/sprite.css-820073f1.svg") 0 85.75498575498575% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-search {
background: url("svg/sprite.css-820073f1.svg") 77.32426303854875% 56.98005698005698% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-search-gray {
background: url("svg/sprite.css-820073f1.svg") 54.35244161358811% 42.51968503937008% no-repeat;
width: 20px;
height: 20px;
background-size: auto;
}

.icon-search-white {
background: url("svg/sprite.css-820073f1.svg") 53.07855626326964% 60.62992125984252% no-repeat;
width: 20px;
height: 20px;
background-size: auto;
}

.icon-see-it-live {
background: url("svg/sprite.css-820073f1.svg") 77.32426303854875% 42.73504273504273% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-sell-smart-2 {
background: url("svg/sprite.css-820073f1.svg") 77.32426303854875% 14.245014245014245% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-share {
background: url("svg/sprite.css-820073f1.svg") 77.32426303854875% 0 no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-share-facebook {
background: url("svg/sprite.css-820073f1.svg") 34.01360544217687% 71.5099715099715% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-share-fb-messenger {
background: url("svg/sprite.css-820073f1.svg") 0 71.5099715099715% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-share-link {
background: url("svg/sprite.css-820073f1.svg") 65.98639455782313% 56.98005698005698% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-share-more {
background: url("svg/sprite.css-820073f1.svg") 65.98639455782313% 0 no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-share-whatsapp {
background: url("svg/sprite.css-820073f1.svg") 45.35147392290249% 57.26495726495727% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-slider-1 {
background: url("svg/sprite.css-820073f1.svg") 11.337868480725623% 57.26495726495727% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-sms-2 {
background: url("svg/sprite.css-820073f1.svg") 0 57.26495726495727% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-speech-input {
background: url("svg/sprite.css-820073f1.svg") 48.07256235827664% 28.49002849002849% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-star-blue {
background: url("svg/sprite.css-820073f1.svg") 29.979035639413% 48.06201550387597% no-repeat;
width: 14px;
height: 14px;
background-size: auto;
}

.icon-star-light-gray {
background: url("svg/sprite.css-820073f1.svg") 24.10901467505241% 48.06201550387597% no-repeat;
width: 14px;
height: 14px;
background-size: auto;
}

.icon-tip {
background: url("svg/sprite.css-820073f1.svg") 100% 42.73504273504273% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-unsupported-file-format {
background: url("svg/sprite.css-820073f1.svg") 11.337868480725623% 100% no-repeat;
width: 50px;
height: 50px;
background-size: auto;
}

.icon-up {
background: url("svg/sprite.css-820073f1.svg") 100% 65.21739130434783% no-repeat;
width: 10px;
height: 10px;
background-size: auto;
}

.icon-up-blue {
background: url("svg/sprite.css-820073f1.svg") 100% 67.77493606138107% no-repeat;
width: 10px;
height: 10px;
background-size: auto;
}

.icon-vip-back {
background: url("svg/sprite.css-820073f1.svg") 32.84518828451883% 47.93814432989691% no-repeat;
width: 13px;
height: 13px;
background-size: auto;
}

.icon-vivaedit {
background: url("svg/sprite.css-820073f1.svg") 97.78270509977827% 65.09695290858726% no-repeat;
width: 40px;
height: 40px;
background-size: auto;
}

.icon-web-email {
background: url("svg/sprite.css-820073f1.svg") 95.66160520607376% 88.67924528301887% no-repeat;
width: 30px;
height: 30px;
background-size: auto;
}

.icon-web-phone {
background: url("svg/sprite.css-820073f1.svg") 95.66160520607376% 96.7654986522911% no-repeat;
width: 30px;
height: 30px;
background-size: auto;
}

.icon-web-sms {
background: url("svg/sprite.css-820073f1.svg") 54.229934924078094% 54.17789757412399% no-repeat;
width: 30px;
height: 30px;
background-size: auto;
}

