.feature {
	display:none;
}

body.home .main a.featured-story {
	color: #fed100;
}

body.home .main a:hover.featured-story {
	color: #ffffff;
}

.noJS {
	display:block;
}

.js .feature {
	display:block;
}

.js .noJS {
	display:none;
}

.home-news h3 {
	line-height:1.1em;
	font-size:1.5em;
	font-weight:normal;
}

.home-news p {
	line-height:1.3em;
	margin-bottom:30px;
	font-size:.9em;
}

.home-news p.tight {
	margin-bottom:10px;
}

.home-news li {
	line-height:1.3em;
	margin-bottom:30px;
	font-size:.8em;
	font-weight:bold;
}

.home-news .tight li {
	line-height:1.3em;
	margin-bottom:5px;
	font-size:.8em;
	font-weight:bold;
}

body.home .main .home-news a:hover {
	color:#4895ff;
}

.home-news img.left {
	margin:5px 6px 0px 0px;
}


.event-highlight {
	border-top: 1px solid #fff;
	margin-top:20px;
	padding-top:10px;
}

img.photo-friday {
	margin:-15px 0 20px 0;
}

body.home .main .row {
	color:#000000;
	padding:20px 10px 0 10px;
	border-radius:0;
	overflow:visible}


	
.emergency {
	border:2px solid #ff0000; border-radius: 15px;
}

/**PIN NEWS BOX TO RIGHT FOR LARGEST DISPLAYS **/
@media(min-width:1024px){
	body.home .main .row{position:absolute;left:490px;background:rgba(255,255,255,0.8);width:280px;box-shadow:none}
	body.home .main .row.right{float:none!important}
}

