html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1;-webkit-text-size-adjust:none}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
body{font-family:Arial}
.transparent_screen{display:none;position:fixed;left:0;top:0;background:#000;-pie-background:linear-gradient(#000,#000);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#000000,endColorstr=#000000);width:100%;height:100%;z-index:999;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);filter:alpha(opacity=70);-moz-opacity:.7;-khtml-opacity:.7;opacity:.7}
#colorbox,#cboxOverlay,#cboxWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:hidden}
#cboxWrapper{max-width:none}
#cboxOverlay{position:fixed;width:100%;height:100%}
#cboxMiddleLeft,#cboxBottomLeft{clear:left}
#cboxContent{position:relative}
#cboxLoadedContent{overflow:auto;-webkit-overflow-scrolling:touch}
#cboxTitle{margin:0}
#cboxLoadingOverlay,#cboxLoadingGraphic{position:absolute;top:0;left:0;width:100%;height:100%}
#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow{cursor:pointer}
.cboxPhoto{float:left;margin:auto;border:0;display:block;max-width:none;-ms-interpolation-mode:bicubic}
.cboxIframe{width:100%;height:100%;display:block;border:0;padding:0;margin:0}
#colorbox,#cboxContent,#cboxLoadedContent{box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}
#cboxOverlay{background:#000}
#colorbox{outline:0}
#cboxContent{background:#fff;overflow:hidden}
.cboxIframe{background:#fff}
#cboxError{padding:50px;border:1px solid #ccc}
#cboxLoadedContent{margin-bottom:28px}
#cboxTitle{position:absolute;bottom:4px;left:0;text-align:center;width:100%;color:#949494}
#cboxCurrent{position:absolute;bottom:4px;left:58px;color:#949494}
#cboxLoadingOverlay{background:#D6D0D1}
#cboxLoadingGraphic{background:url(http://www.vrisko.gr/v22/Images/Common/ColorBox/loading.gif) center center no-repeat}
#cboxPrevious,#cboxNext,#cboxSlideshow,#cboxClose{border:0;padding:0;margin:0;overflow:visible;width:auto;background:none}
#cboxPrevious:active,#cboxNext:active,#cboxSlideshow:active,#cboxClose:active{outline:0}
#cboxSlideshow{position:absolute;bottom:4px;right:30px;color:#0092ef}
#cboxPrevious{position:absolute;top:50%;left:5px;margin-top:-32px;background:url(http://www.vrisko.gr/v22/Images/Common/ColorBox/controls.png) no-repeat scroll 0 0;width:28px;height:65px;text-indent:-9999px}
#cboxPrevious.hover{background-position:bottom left}
#cboxNext{position:absolute;top:50%;right:5px;margin-top:-32px;background:url(http://www.vrisko.gr/v22/Images/Common/ColorBox/controls.png) top right no-repeat;width:28px;height:65px;text-indent:-9999px}
#cboxNext.hover{background-position:bottom right}
#cboxClose{position:absolute;top:4px;right:3px;display:block;background:url(http://www.vrisko.gr/v22/Images/EntryFormImages/form_x_button.png) center center no-repeat;width:25px;height:25px;text-indent:-9999px}
.cboxIE #cboxTopLeft,.cboxIE #cboxTopCenter,.cboxIE #cboxTopRight,.cboxIE #cboxBottomLeft,.cboxIE #cboxBottomCenter,.cboxIE #cboxBottomRight,.cboxIE #cboxMiddleLeft,.cboxIE #cboxMiddleRight{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)}
.no-margin-bottom{margin-bottom:0!important}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
.cookieBarStyle{
color: #fff;
font-size: 15px;
height: 45px;
margin: 0 auto;
padding-top: 15px;
position: relative;
text-align: center;
width: 700px;
}
.cookieBanner1 {
position:relative;width:100%; top:0px;z-index:9999;background-color:#329b3e;
}
.cookieBanner2 {
position:fixed;width:100%; bottom:0px;z-index:9999;background-color:#329b3e;
}
.cookieBarStyle a{
text-decoration:none;
color:#fff;
}
.cookieBarStyle a:hover{
text-decoration:underline;
}
.cookieLeftSide{position: relative; float: left; width: 616px;}
.cookieRightSide{position: relative; float: right; width: 54px;background-color:#f5dd01;height:22px;border-radius: 2px;font-size: 16px;margin-top:3px;border:none;padding-top:5px;}
#header{max-width:100%;margin:0 auto}
#headerContainer{min-width:1000px;margin:0 auto}
#mainContainer{padding-left:0;width:980px;margin:0 auto}
.headerbar{background:#636363;background:-moz-linear-gradient(top,#636363 0%,#474546 20%,#3a3839 31%,#312f30 37%,#292929 46%,#101010 49%,#0d0d0d 51%,#0d0d0d 97%,#000 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#636363),color-stop(20%,#474546),color-stop(31%,#3a3839),color-stop(37%,#312f30),color-stop(46%,#292929),color-stop(49%,#101010),color-stop(51%,#0d0d0d),color-stop(97%,#0d0d0d),color-stop(100%,#000));background:-webkit-linear-gradient(top,#636363 0%,#474546 20%,#3a3839 31%,#312f30 37%,#292929 46%,#101010 49%,#0d0d0d 51%,#0d0d0d 97%,#000 100%);background:-o-linear-gradient(top,#636363 0%,#474546 20%,#3a3839 31%,#312f30 37%,#292929 46%,#101010 49%,#0d0d0d 51%,#0d0d0d 97%,#000 100%);background:-ms-linear-gradient(top,#636363 0%,#474546 20%,#3a3839 31%,#312f30 37%,#292929 46%,#101010 49%,#0d0d0d 51%,#0d0d0d 97%,#000 100%);background:linear-gradient(to bottom,#636363 0%,#474546 20%,#3a3839 31%,#312f30 37%,#292929 46%,#101010 49%,#0d0d0d 51%,#0d0d0d 97%,#000 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#636363',endColorstr='#000000',GradientType=0);max-width:100%;height:36px;*height:32px;position:relative}
.headerbarul{margin:0;color:#FFF;padding:0}
.headerbarlist{float:left;list-style:none;line-height:27px;margin:2px 14px 0}
.headerbarlistSep{float:left;list-style:none;line-height:27px;padding:0 12px}
.headerbarlistSepLeft{width:1px;height:33px;float:left;display:block;background:#6e6e6e;background:-moz-linear-gradient(top,#6e6e6e 0%,#7b7b7b 3%,#848484 11%,#828282 17%,#858585 20%,#7c7c7c 29%,#7e7e7e 34%,#686667 51%,#616161 57%,#4f4d4e 66%,#494949 71%,#3c3c3c 77%,#393939 80%,#252525 89%,#161616 91%,#0d0d0d 94%,#0d0d0d 97%,#000 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#6e6e6e),color-stop(3%,#7b7b7b),color-stop(11%,#848484),color-stop(17%,#828282),color-stop(20%,#858585),color-stop(29%,#7c7c7c),color-stop(34%,#7e7e7e),color-stop(51%,#686667),color-stop(57%,#616161),color-stop(66%,#4f4d4e),color-stop(71%,#494949),color-stop(77%,#3c3c3c),color-stop(80%,#393939),color-stop(89%,#252525),color-stop(91%,#161616),color-stop(94%,#0d0d0d),color-stop(97%,#0d0d0d),color-stop(100%,#000));background:-webkit-linear-gradient(top,#6e6e6e 0%,#7b7b7b 3%,#848484 11%,#828282 17%,#858585 20%,#7c7c7c 29%,#7e7e7e 34%,#686667 51%,#616161 57%,#4f4d4e 66%,#494949 71%,#3c3c3c 77%,#393939 80%,#252525 89%,#161616 91%,#0d0d0d 94%,#0d0d0d 97%,#000 100%);background:-o-linear-gradient(top,#6e6e6e 0%,#7b7b7b 3%,#848484 11%,#828282 17%,#858585 20%,#7c7c7c 29%,#7e7e7e 34%,#686667 51%,#616161 57%,#4f4d4e 66%,#494949 71%,#3c3c3c 77%,#393939 80%,#252525 89%,#161616 91%,#0d0d0d 94%,#0d0d0d 97%,#000 100%);background:-ms-linear-gradient(top,#6e6e6e 0%,#7b7b7b 3%,#848484 11%,#828282 17%,#858585 20%,#7c7c7c 29%,#7e7e7e 34%,#686667 51%,#616161 57%,#4f4d4e 66%,#494949 71%,#3c3c3c 77%,#393939 80%,#252525 89%,#161616 91%,#0d0d0d 94%,#0d0d0d 97%,#000 100%);background:linear-gradient(to bottom,#6e6e6e 0%,#7b7b7b 3%,#848484 11%,#828282 17%,#858585 20%,#7c7c7c 29%,#7e7e7e 34%,#686667 51%,#616161 57%,#4f4d4e 66%,#494949 71%,#3c3c3c 77%,#393939 80%,#252525 89%,#161616 91%,#0d0d0d 94%,#0d0d0d 97%,#000 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6e6e6e',endColorstr='#000000',GradientType=0)}
.headerbarlistSepRight{width:1px;height:33px;float:left;display:block;background:#575757;background:-moz-linear-gradient(top,#575757 0%,#404040 3%,#545454 6%,#494949 9%,#333 20%,#1a1a1a 37%,#141414 46%,#0e0e0e 49%,#0d0d0d 97%,#000 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#575757),color-stop(3%,#404040),color-stop(6%,#545454),color-stop(9%,#494949),color-stop(20%,#333),color-stop(37%,#1a1a1a),color-stop(46%,#141414),color-stop(49%,#0e0e0e),color-stop(97%,#0d0d0d),color-stop(100%,#000));background:-webkit-linear-gradient(top,#575757 0%,#404040 3%,#545454 6%,#494949 9%,#333 20%,#1a1a1a 37%,#141414 46%,#0e0e0e 49%,#0d0d0d 97%,#000 100%);background:-o-linear-gradient(top,#575757 0%,#404040 3%,#545454 6%,#494949 9%,#333 20%,#1a1a1a 37%,#141414 46%,#0e0e0e 49%,#0d0d0d 97%,#000 100%);background:-ms-linear-gradient(top,#575757 0%,#404040 3%,#545454 6%,#494949 9%,#333 20%,#1a1a1a 37%,#141414 46%,#0e0e0e 49%,#0d0d0d 97%,#000 100%);background:linear-gradient(to bottom,#575757 0%,#404040 3%,#545454 6%,#494949 9%,#333 20%,#1a1a1a 37%,#141414 46%,#0e0e0e 49%,#0d0d0d 97%,#000 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757',endColorstr='#000000',GradientType=0)}
.headerlink1:link,.headerlink1:active,.headerlink1:visited,.headerlink1:focus{color:#dad7d7;font-family:Arial;font-size:.8em;font-weight:400;text-decoration:none;padding:6px 0 0;text-shadow:1px 1px #000}
.headerlink1:hover{color:#dad7d7;font-family:Arial;font-size:.8em;font-weight:400;text-decoration:underline;padding:0;text-shadow:1px 1px #000}
.headerlink1selected{color:#fff;font-family:Arial;font-size:.8em;font-weight:700;text-decoration:none;background-image:url(http://www.vrisko.gr/v22/Images/Mvc/Home/menu-arrow.png);background-repeat:no-repeat;background-position:center 27px;*background-position:center 26px\9;padding-bottom:18px;padding-bottom:19px\9;padding-left:0;padding-right:0;position:relative;z-index:100}
#headerline{background-color:#fff;height:2px;*height:3px;position:relative;top:1px;width:100%;border-bottom:2px solid #e0ce3b}
.powered11880{width:165px;float:left}
.powered11880 span{float:left}
.poweredTxt_el{color:#dad7d7;font-size:13px;text-shadow:1px 1px #000;padding-top:10px}
.poweredTxt_en,.poweredTxt_tr{color:#dad7d7;font-size:13px;padding-top:10px;padding-left:41px}
.powered11880_el,.powered11880_en,.powered11880_tr{float:left;background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-headfoot.png);background-repeat:no-repeat;background-position:0 -3.313em;height:22px;margin-top:4px;width:50px;text-indent:-9999px;margin-left:5px}
.header,.headerHome{background-color:#FFF001;max-width:100%;height:88px;border-bottom:1px solid #dfb203}
.headerHome{height:117px}
#logoVrisko_el,#logoVriskoHome_el{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-headfoot.png);background-repeat:no-repeat;width:189px;height:54px;margin-top:13px;float:left}
#logoVrisko_tr,#logoVriskoHome_tr{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-headfoot.png);background-repeat:no-repeat;width:202px;height:27px;margin-top:13px;float:left;background-position: -3px 0;}
#logoVriskoHome_el{margin-top:28px}
#logoVrisko_el{margin-top:18px;background-position:-3px 0}
#logoVriskoHome_tr{margin-top:40px}
#logoVrisko_tr{margin-top:26px;background-position:-3px 0}
.logolink{padding:20px 95px;position:relative;top:17px}
#searchDiv_el_el,#searchDiv_el_en{margin:17px 0 17px 24px !important}
#searchDiv_el_el,#searchDiv_el_en,#searchDivHome_el_el,#searchDivHome_el_en{background-color:#f5dd01;border:1px solid #b2a502;height:35px;width:744px;float:left;margin:15px 0 19px 24px;padding:9px 10px}
#searchDivHome_el_el,#searchDivHome_el_en{margin-top:31px;margin-bottom:0}
#searchDiv_tr_tr,#searchDiv_tr_en{margin:17px 0 17px 11px !important}
#searchDiv_tr_tr,#searchDiv_tr_en,#searchDivHome_tr_tr,#searchDivHome_tr_en{background-color:#f5dd01;border:1px solid #b2a502;height:35px;width:736px;float:left;margin:15px 0 19px 11px;padding:9px 10px 9px 18px}
#searchDivHome_tr_tr,#searchDivHome_tr_en{margin-top:31px;margin-bottom:0}
#searchDiv_tr_tr,#searchDivHome_tr_tr{}
#searchDiv_tr_en,#searchDivHome_tr_en{ width: 744px;padding-left:11px;}
.what_el,.what_en,.where_el,.where_en,.what_tr,.where_tr{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-headfoot.png);background-repeat:no-repeat;height:28px;margin-top:4px;float:left;text-indent:-9999px}
.what_el{background-position:0 -152px;width:36px;margin-left:5px}
.what_en{background-position:0 -154px;width:63px}
.what_tr{background-position:0 -153px;width:35px;margin-top: 6px;}
.where_el{background-position:0 -180px;width:68px;margin-left:18px}
.where_en{background-position:0 -182px;width:75px;margin-left:10px}
.where_tr{background-position:0 -180px;width:91px;margin-left:15px}
.inputbox{float:left}
input::-webkit-input-placeholder{font-style:italic;font-weight:400}
input::-moz-placeholder{font-style:italic;font-weight:400}
input:-moz-placeholder{font-style:italic;font-weight:400}
input:-ms-input-placeholder{font-style:italic;font-weight:400}
.searchbtn_tr{width:106px}
.searchbtn_el{width:118px}
.searchbtn_en{width:109px}
.searchbtn_el,.searchbtn_en,.searchbtn_tr{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-headfoot.png);background-repeat:no-repeat;background-position:0 -80px;height:34px;float:left;margin-left:7px;cursor:pointer}
.searchbtn_el:hover,.searchbtn_en:hover,.searchbtn_tr:hover{background-position:0 -116px}
.textbox_el,.textbox_en,.textbox_tr{font-family:Arial;font-size:15px;color:#666;padding:2px 4px;height:28px;border:1px solid #ad9c02;font-weight:700}
.textbox_el{width:236px}
.textbox_en{width:230px}
.textbox_tr{width:231px}
.placeholder{font-style:italic;font-weight:400}
.languageIcon{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-headfoot.png);background-repeat:no-repeat;background-position:0 -219px;width:19px;height:16px;float:left;margin-top:8px;margin-left:19px}
#languageDiv{float:right;margin-top:8px;text-transform:uppercase}
.languagelink:link,.languagelink:active,.languagelink:visited{color:#dad7d7;text-decoration:none;font-size:13px;font-weight:700}
.ui-autocomplete{background-color:#fff;border-left:1px solid #cbcbcb;border-right:1px solid #cbcbcb;-webkit-box-shadow:1px 6px 6px 1px rgba(0,0,0,0.2);-moz-box-shadow:1px 6px 6px 1px rgba(0,0,0,0.2);box-shadow:1px 6px 6px 1px rgba(0,0,0,0.2);-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#D9D9D9')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color='#D9D9D9')}
#ui-id-1.ui-widget,#ui-id-2.ui-widget{font-family:Verdana,Arial,sans-serif}
#ui-id-1.ui-menu,#ui-id-2.ui-menu{list-style:none;margin:0;display:block;outline:none;line-height:inherit}
#ui-id-1.ui-autocomplete,#ui-id-2.ui-autocomplete{font-size:12px;font-family:tahoma;width:238px;max-width:314px;position:absolute;top:0;left:0;z-index:99999;cursor:default}
#ui-id-1.ui-menu .ui-menu-item,#ui-id-2.ui-menu .ui-menu-item{margin:0;padding:0;*margin:-4px 0;width:100%;max-width:244px;line-height:16px}
#ui-id-1.ui-menu .ui-menu-item a,#ui-id-2.ui-menu .ui-menu-item a,.ui-menu-item span.ui-menu-item-relative{text-decoration:none;display:block;padding:6px 12px;padding:6px 12px\9;margin:0;min-height:0;font-weight:400}
#ui-id-1 .ui-state-focus,#ui-id-2 .ui-state-focus{font-weight:400!important;color:#000!important;background:#fbe000!important;padding:6px 12px!important;padding:6px 12px\9;margin:0!important;border:0!important;cursor:pointer}
.ui-corner-all span{color:#000;font-weight:700}
.ui-menu-item span.ui-menu-item-relative{background-color:#f0f0f0;border-top:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;color:#989898;font-style:italic;font-size:11px;text-align:center;padding:2px 0 3px}
@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
#ui-id-1.ui-menu .ui-menu-item a,#ui-id-2.ui-menu .ui-menu-item a{padding:3px 9px}
}
.alertMsg{background-color:#F7F6F2;display:block;height:66px;margin:0 auto;outline:medium none;position:relative;width:326px;z-index:9999}
.alertMsgInput{position:absolute;border:5px solid #333;margin:5px;height:26px;width:306px;padding-top:20px;font-size:11px;text-align:center}
#usefulHeader{max-width:100%;margin:0 auto;}
#usefulHeaderContainer{max-width:61.25em;margin:0 auto;min-height:80px;padding-top:14px}
#usefulHeaderContainer .usefulContainer{float:right;}
#usefulHeaderContainer .usefulItem{float:left;width:72px;outline:none}
#usefulHeaderContainer .usefulItem a{text-decoration:none}
#usefulHeaderContainer .usefulItem a:hover{text-decoration:underline;color:#333}
.addEntryFormImg{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-headfoot.png);background-repeat:no-repeat;background-position:-117px -215px;float:left;height:25px;position:relative;width:30px}
.addEntryFormTxt{font-size:12px;line-height:20px;outline:none}
.addEntryFormlink:link,.addEntryFormlink:active,.addEntryFormlink:visited{text-decoration:underline;color:#353c47}
.addEntryFormlink:hover{text-decoration:none}
.mapUsefulHeaderImg,.pharUsefulHeaderImg,.hosUsefulHeaderImg,.ferUsefulHeaderImg,.gasUsefulHeaderImg,.cinUsefulHeaderImg,.theaterUsefulHeaderImg,.pcUsefulHeaderImg,.tcUsefulHeaderImg{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-xrisima.png);background-repeat:no-repeat;height:38px;margin:0 11px;position:relative;width:54px}
.mapUsefulHeaderImg{background-position:-1px -1px}
.pharUsefulHeaderImg{background-position:-1px -42px}
.hosUsefulHeaderImg{background-position:-1px -82px}
.ferUsefulHeaderImg{background-position:-1px -123px}
.gasUsefulHeaderImg{background-position:-1px -164px}
.cinUsefulHeaderImg{background-position:-1px -204px}
.theaterUsefulHeaderImg{background-position:-1px -245px}
.pcUsefulHeaderImg{background-position:-1px -285px}
.tcUsefulHeaderImg{background-position:-1px -326px}
.usefulHeaderTxt{color:#464a4e;font-size:10px;text-align:center;margin-top:7px;padding:0 1px}
body{min-width:1000px}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
.BayramSkinHome{
background-image: none !important;
}
}
@media (max-width:980px) {
.BayramSkinHome{
background-image: none !important;
}
}
.BayramSkinHome{
background-image: url(http://www.vrisko.gr/v22/Images/Mvc/home/BayramSkinHome.jpg);
background-repeat: no-repeat;
background-position: center 154px;
background-position: center 156px\0;
background-position: center 156px\9\0;
}
.christmasskinhome_el {
background-image: url(http://www.vrisko.gr/v22/Images/Mvc/home/homepage_christmas_skin.jpg);
background-repeat: no-repeat;
background-position: center 149px;
background-position: center 151px\0;
background-position: center 151px\9\0;
}
@-moz-document url-prefix() {
.christmasskinhome_el {
background-image: url(http://www.vrisko.gr/v22/Images/Mvc/home/homepage_christmas_skin.jpg);
background-repeat: no-repeat;
background-position: center 151px;}
}
.christmasskinhome_en {
background-image: url(http://www.vrisko.gr/v22/Images/Mvc/home/homepage_christmas_skin.jpg);
background-repeat: no-repeat;
background-position: center 131px;
background-position: center 133px\0;
background-position: center 133px\9\0;
}
@-moz-document url-prefix() {
.christmasskinhome_en {
background-image: url(http://www.vrisko.gr/v22/Images/Mvc/home/homepage_christmas_skin.jpg);
background-repeat: no-repeat;
background-position: center 133px;}
}
.christmasskinhome_tr {
background-image: url(http://www.vrisko.gr/v22/Images/Mvc/home/homepage_christmas_skin_tr.jpg);
background-repeat: no-repeat;
background-position: center 153px;
background-position: center 156px\0;
background-position: center 156px\9\0;
}
@-moz-document url-prefix() {
.christmasskinhome_tr {
background-image: url(http://www.vrisko.gr/v22/Images/Mvc/home/homepage_christmas_skin_tr.jpg);
background-repeat: no-repeat;
background-position: center 156px;}
}
.mainContent{float:left;width:980px}
.mainContentSep{float:left;width:1.563em}
.mainContentLeft{width:670px;height:auto;display:block;float:left;margin-right:10px}
.mainContentRight{float:left;width:300px;height:auto;display:block;float:left}
.carouselContainer{height:220px;width:668px;float:left;display:block;border:1px solid #cdcecf;margin-top:14px;margin-right:10px}
.carouselContainerchristmas {border-left: 0px;}
.carouselWrapper{width:100%;height:220px;margin:0 auto;clear:both}
.imgWrapper{width:335px;height:220px;float:left;margin-right:10px}
.txtWrapper{width:323px;float:left;height:210px;background-color:#fff}
.pagerWrapper{width:650px;float:left;height:11px;margin-top:20px}
.titleCarousel{color:#2d2d2d;font-size:26px;line-height:1.2em;font-weight:700;padding-right:4px;width:319px;margin-top:10px}
.titleCarousellink:link,.titleCarousellink:active,.titleCarousellink:visited,.titleCarousellink:hover{color:#2d2d2d;text-decoration:none}
.descriptionCarousel{color:#585e65;padding-top:8px;line-height:18px;width:313px;font-size:14px;padding-right:10px}
.descriptionCarousel a:link,.descriptionCarousel a:visited,.descriptionCarousel a:active{text-decoration:underline;color:#535e6d}
.descriptionCarousel a:hover{text-decoration:none}
.pager{width:11px;height:11px;margin:0 auto}
#thumbnails{width:110px;margin:0 auto}
#thumbnails_container{text-align:center}
.thumbnail_unselected,.thumbnail_selected{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-left.png);width:11px;height:11px;float:left;position:relative;text-decoration:none;margin-left:7px}
.thumbnail_unselected{background-position:-18px -144px}
.thumbnail_selected{background-position:0 -144px}
#SlideShow{margin:0;padding:0;display:inline;width:12000px;list-style-type:none;float:left}
#SlideShow li{margin:0;padding:0;float:left}
.widthWrapper{width:668px;overflow:hidden;float:left}
.articleContainer{width:40.938em;height:100%;float:left;margin-bottom:.875em}
.articleSep{float:left;width:100%;border-bottom:.188em solid #d4d4d4}
#advertiseContainer.serviceDiv{height:auto;margin-bottom:14px}
.serviceDivAdvertiseContainer{border:1px solid #e7e7e7;background-color:#f4f4f4;width:978px;height:100%;float:left; position:relative;}
.serviceBoxImage{float:left;width:150px;height:219px}
.serviceBoxImage .serviceImg{width:150px;height:219px}
.serviceBoxImageBulurum{float:left;width:102px;height:149px}
.serviceBoxImageBulurum .serviceImg{height:149px}
.serviceDescrBox{float:left;margin:0 33px;width:612px;text-align:center;color:#4d5d63}
.serviceDescrBoxBulurum{float:left;margin:0 33px;width:708px;text-align:center;color:#4d5d63}
.serviceHeaderDescrAdv{font-size:18px;font-weight:700;margin:15px 0}
.serviceTextAdv{float:left;width:615px}
.serviceLinkAdvBox{margin:12px 0 18px;float:left;width:615px}
.serviceLinkAdv{width:153px;height:auto;float:left;position:relative;padding-top:4px}
.seperatorAdvLinks{position:absolute;right:0;width:1px;background-color:#c2c2c2;height:44px;display:inline-block;}
.serviceLinkAdvLast{border:none}
.serviceLinkAdv a,.serviceLinkAdv a:link,.serviceLinkAdv a:visited{font-size:14px;line-height:16px;display:inline-block;font-weight:700;color:#4d5d63;text-decoration:none}
.serviceLinkAdv a:hover{text-decoration:underline}
.serviceLinkAdvSolutions{width:78px}
.serviceLinkAdvPromo{width:98px}
.serviceLinkAdvPromote{width:122px}
.advertiseLargeBox{float:left;width:612px;position:absolute;bottom:15px;}
.advertiseBtnLarge{font-size:18px;font-weight:bold;background-color:#fdde00;display:inline-block;color:#000;border:1px solid #d6c231;border-radius:2px 2px 2px 2px;-moz-border-radius:2px;-webkit-border-radius:2px 2px 2px 2px;-khtml-border-radius:2px 2px 2px 2px;behavior:url(http://www.vrisko.gr/Js1/PIE.htc);text-decoration:none;height:27px;padding:9px 37px 0px;position:relative}
.advertiseBtnLarge:hover{text-decoration:underline}
.serviceDiv{width:100%;float:left;height:166px;margin-top:14px}
.serviceImg{float:left;width:102px;height:104px}
.advertiseBtn{font-family:Arial;font-size:.75em;font-weight:700;width:150px;background-color:#fcdc00;height:2.1em;float:right;text-align:center;color:#333;line-height:2.1em;border-radius:2px 2px 2px 2px;-moz-border-radius:2px;-webkit-border-radius:2px 2px 2px 2px;-khtml-border-radius:2px 2px 2px 2px;behavior:url(http://www.vrisko.gr/Js1/PIE.htc);cursor:pointer}
.advertiseBtn:hover{background-color:#ffed72;cursor:pointer;text-decoration:none}
.popularContainer{float:left;width:668px;border:1px solid #cdcecf}
.popularSearches{font-size:14px;color:#7e94ad;margin:12px 0 10px;text-align:center;font-weight:700}
.popularSearchesLink:link, .popularSearchesLink:active, .popularSearchesLink:visited {
font-size: 14px;
color: #7e94ad;
margin: 12px 0 10px;
text-align: center;
font-weight: 700;
text-decoration: none;
}
.popularSearchesLink:hover {
font-size: 14px;
color: #7e94ad;
margin: 12px 0 10px;
text-align: center;
font-weight: 700;
text-decoration: underline;
}
#tabs.popularContainer ul{margin-left:7px}
.popularContainer li{width:129px;height:34px}
#tabs.popularContainer ul span{display:inline-block;color:#516a85;font-weight:400}
#tabs.popularContainer li.ui-state-active span{font-weight:700}
.HealthTab span{margin:2px 0 0 20px}
.HomeTab span{margin-left:10px;margin-top:4px}
.SportsTab span{margin-left:22px;margin-top:2px}
.FunTab span{margin-left:31px;margin-top:4px}
.TourismTab span{margin-left:22px;margin-top:4px}
.HealthTab{float:left;position:relative;border-top:1px solid #b6c4d2;border-right:1px solid #b6c4d2;background-color:#f1f4f7;margin-right:1px;font-size:.875em;color:#333;background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-links.png);background-repeat:no-repeat;background-position:30px 3px}
.HomeTab{background-color:#f1f4f7;float:left;position:relative;border-top:1px solid #b6c4d2;border-right:1px solid #b6c4d2;margin-right:1px;font-size:.875em;color:#333;background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-links.png);background-repeat:no-repeat;background-position:30px -26px}
.SportsTab{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-links.png);background-repeat:no-repeat;background-color:#f1f4f7;background-position:20px -53px;float:left;position:relative;border-top:1px solid #b6c4d2;border-right:1px solid #b6c4d2;margin-right:1px;font-size:.875em;color:#333}
.FunTab{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-links.png);background-repeat:no-repeat;background-color:#f1f4f7;background-position:14px -87px;float:left;position:relative;border-top:1px solid #b6c4d2;border-right:1px solid #b6c4d2;margin-right:1px;font-size:.875em;color:#333}
.TourismTab{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-links.png);background-repeat:no-repeat;background-color:#f1f4f7;background-position:20px -119px;float:left;position:relative;border-top:1px solid #b6c4d2;border-right:1px solid #b6c4d2;font-size:.875em;color:#333}
.popularTabContent{padding:10px 9px;float:left;width:40.625em;bottom:1px;position:relative;z-index:0}
.popularlink:link,.popularlink:active,.popularlink:visited{font-family:Arial;font-size:.75em;color:#597697;text-decoration:none;line-height:1.4em;float:left}
.popularlink:hover{font-family:Arial;font-size:.75em;color:#597697;text-decoration:underline;line-height:1.4em}
.popularSep{float:left;font-size:.75em;margin-left:.625em;margin-right:.625em;margin-top:.125em}
#tabs ul{padding:0;list-style-type:none;list-style:none;margin:0}
.ui-state-active{background-color:#fff;outline:none;border:none;border-top:1px solid #b6c4d2;border-right:1px solid #b6c4d2;position:relative;z-index:100}
.ui-state-hover{background-color:#fff;outline:none;border:none;border-top:1px solid #b6c4d2;border-right:1px solid #b6c4d2}
.ui-state-focus{background-color:#fff;outline:none;border:none;border-top:1px solid #b6c4d2;border-right:1px solid #b6c4d2}
.ui-tabs-anchor{line-height:28px;outline:none;text-decoration:none;font-size:12px;width:129px;height:34px;text-align:center;display:inline-block}
.ui-state-active .ui-tabs-anchor{color:#516a85;font-weight:700}
.ui-state-default .ui-tabs-anchor{color:#597697}
#tagContainer{text-align:center;width:908px;height:auto;border:1px solid #cdcecf;padding:20px 35px}
.tagcloudlink:link,.tagcloudlink:active,.tagcloudlink:visited{font-family:Arial;font-size:1em;color:#a6a8ab;text-decoration:none;line-height:1.3em;margin-right:10px}
.tagcloudlink:hover{color:#50565b}
#offersContainer{width:300px;height:auto;display:block;background-color:#e0e8f1}
.OffersTitle{width:300px;height:34px;background-color:#ebf1f7;border-bottom:1px solid #fff;text-align:center;font-family:Arial;font-size:14px;font-weight:700;color:#4d5d6e;line-height:2.1em;margin-bottom:0}
.OffersDiv{border-bottom:.063em solid #fff;padding-bottom:10px;padding-top:10px;padding-left:16px;position:relative}
.Offerslink:link,.Offerslink:active,.Offerslink:visited{font-family:Arial;font-size:14px;color:#4d5d6e;text-decoration:none;line-height:1em}
.Offerslink:hover{font-family:Arial;font-size:14px;color:#4d5d6e;text-decoration:underline;line-height:1em}
.OffersMoreDiv{width:300px;height:30px;background-color:#ebf1f7;line-height:2em;text-align:right}
.OffersMore:link,.OffersMore:active,.OffersMore:visited{font-family:Arial;font-size:.75em;color:#646364;text-decoration:none;line-height:1em;width:auto;height:auto;display:block;float:right;padding-right:11px;padding-top:8px}
.OffersMore:hover{font-family:Arial;font-size:.75em;color:#646364;text-decoration:underline;line-height:1em;width:auto;height:auto;display:block;float:right;padding-right:11px;padding-top:8px}
.OfferArrow{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-headfoot.png);background-repeat:no-repeat;background-position:-42px -218px;width:12px;height:16px;float:right;display:block;padding-right:12px;position:absolute;right:0;top:10px}
#localContainer{width:300px;height:auto;display:block;float:left;margin-top:14px}
.LocalTitle{width:300px;height:35px;border-bottom:1px solid #fff;background-color:#ebf1f7;font-family:Arial;font-size:14px;font-weight:700;color:#4d5d6e;line-height:2.5em;margin-bottom:0;text-align:center}
.locals{width:110px;margin-right:11px;height:36px;display:block;float:left}
.Cities{margin-left:29px;margin-right:29px;width:242px;height:auto;display:block}
.localDiv{float:left;width:85px;border-top:1px solid #aebbcb;margin-left:5px}
.localDivIns{float:left;width:84px;border-top:1px solid #fff;padding-bottom:10px;padding-top:10px}
.localImg{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-headfoot.png);background-repeat:no-repeat;background-position:-75px -183px;width:20px;height:20px;display:block;float:left;margin-top:10px}
.locallink:link,.locallink:active,.locallink:visited{font-family:Arial;font-size:14px;color:#4d5d6e;text-decoration:none;line-height:1em}
.locallink:hover{font-family:Arial;font-size:14px;color:#4d5d6e;text-decoration:underline;line-height:1em}
.localCities{width:300px;height:148px;display:block;float:left;background-color:#e0e8f1;border-bottom:1px solid #fff}
.localMoreDiv{background-color:#ebf1f7;text-align:right;display:block;float:left;padding-top:12px;width:290px;padding-right:10px;height:25px}
.localMore:link,.localMore:active,.localMore:visited{font-family:Arial;font-size:12px;color:#4d5d6e;text-decoration:none;line-height:1em;display:block}
.localMore:hover{font-family:Arial;font-size:12px;color:#4d5d6e;text-decoration:underline;line-height:1em}
#doctorContainer.serviceDiv{height:auto;position:relative;float:left;margin-top:6px}
#doctorContainer .serviceImg{width:300px;height:98px}
#Banner11880Container.serviceDiv{height:auto;position:relative;float:left;margin-top:0px}
#Banner11880Container .serviceImg{width:300px;height:117px}
.MobileContainer{width:300px; margin:14px auto 0px;float:left;}
.DownloadAppStore,.DownloadAndroid{
background-image: url(http://www.vrisko.gr/v22/Images/Mvc/home/mobile_apps.png);
background-size: 140px auto;
background-repeat: no-repeat;
text-indent: -99999px;
display: block;
height: 42px;
float: left;
width: 141px;
}
.DownloadAppStore {background-position: 0px 0px;margin-right: 18px;}
.DownloadAndroid {background-position: 0px -50px;}
.blogContainer{height:224px;width:668px;float:left;border:1px solid #cdcecf;margin-bottom:14px}
.blogserviceHeader{font-family:Arial;font-size:18px;font-weight:700;color:#2d2d2d;text-decoration:none;line-height:1.4em;width:auto;height:30px;display:block;padding-left:10px;padding-top:10px}
.BlogDiv{width:305px;float:left;padding-left:10px}
.blogTitle{line-height:15px}
.blogArticleSep{border-left:1px solid #d4d4d4;margin-top:-40px;margin-left:.75em;margin-right:.75em;float:left;height:100%}
.blog_LogoImg{float:left}
.blog_thumb{height:107px;margin-bottom:0;margin-right:8px;width:150px}
.blog_TitleLbl{margin-bottom:7px}
.blog_Titlelink:link,.blog_Titlelink:active,.blog_Titlelink:visited{font-size:14px;color:#2d2d2d;font-weight:700;text-decoration:none;cursor:pointer}
.blog_Titlelink:hover{text-decoration:underline}
.blog_DescrLbl{font-size:14px;height:121px;line-height:1.25em;color:#5c5c5c}
.blogMoreDiv{padding-top:10px;padding-bottom:12px;text-align:right}
.blogMore:link,.blogMore:active,.blogMore:visited{color:#5c5c5c;font-size:12px;text-decoration:none}
.blogMore:hover{text-decoration:underline}
.rightMenuContainer{position:absolute;right:0;z-index:9999;top:233px}
.rightMenuItemDiv{height:113px;margin:0;position:relative;width:58px}
.feedbackRightMenuImg{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/feedback_images_extra.png);background-repeat:no-repeat;height:105px;background-position:0 -72px;position:relative;text-indent:-9999px;top:64px;cursor:pointer}
.faqRightMenuImg{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/feedback_images_extra.png);background-repeat:no-repeat;background-position:0 0;height:64px;position:relative;text-indent:-9999px;top: 80px;}
#footer{max-width:100%;margin:0 auto;clear:both;background-color:#333}
.footerSep{background-color:transparent;height:1.25em;float:left;width:100%;clear:both}
#footerContainer{background-color:#333;max-width:1000px;min-width:1000px;margin:0 auto;height:26.625em}
.footerMain{float:left;padding-left:10px;width:680px}
.footerLine{margin-top:1.875em;border-right:.063em solid #636363;border-left:.063em solid #000;float:left;width:0;height:23.125em}
.footerRight{float:left;width:298px}
.footerUsefulDiv{float:left;width:42.3em;margin-top:1.875em}
.footerUsefulTitle{font-family:Arial;font-size:.875em;color:#ffef00;line-height:1.4em}
.footerUsefullink:link,.footerUsefullink:active,.footerUsefullink:visited,.footerUsefulMorelink{font-family:Arial;font-size:.75em;color:#fff;text-decoration:none;line-height:1.4em;float:left;margin-right:1.625em}
.footerUsefulMorelink{color:#ffef00}
.footerUsefullink:hover,.footerUsefulMorelink:hover{font-family:Arial;font-size:.75em;color:#fff;text-decoration:underline;line-height:1.4em;margin-right:1.625em}
.footerUsefulMorelink:hover{color:#ffef00}
.footerRightLink:link,.footerRightLink:active,.footerRightLink:visited{font-family:Arial;font-size:.875em;color:#fff;text-decoration:none;line-height:1.4em;float:left;margin-right:1.625em}
.footerRightLink:hover{font-family:Arial;font-size:.875em;color:#fff;text-decoration:underline;line-height:1.4em;margin-right:1.625em}
.footerRightdoctor{float:left;margin-top:1.875em;margin-left:1.5em;padding-bottom:1.125em;border-bottom:.063em solid #adadad;width:274px}
.footerRightasfalistra{float:left;margin-top:1.125em;margin-left:1.5em;padding-bottom:164px;width:274px}
.footerRightasfalistranomobile{float:left;margin-top:1.125em;margin-left:1.5em;padding-bottom:178px;width:274px}
.footerRightArrow{float:right;background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-headfoot.png);background-repeat:no-repeat;background-position:-1.25em -13.625em;width:1.25em;height:1.188em}
.followUs{float:left;margin-top:.625em;margin-left:1.5em;padding-bottom:3.25em;width:23.5em;font-family:Arial;font-size:.75em;color:#fff}
.fbFollow,.twitterFollow,.linkedInFollow,.googleFollow,.youtubeFollow{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-headfoot.png);background-repeat:no-repeat;float:left;height:34px;margin-top:-15px;position:relative;width:36px;text-indent:-9999px}
.fbFollow{background-position:0 -243px;margin-top:-.625em;margin-left:.625em}
.twitterFollow{background-position:-40px -243px;margin-top:-.625em;margin-left:.625em}
.linkedInFollow{background-position:-120px -243px;margin-top:-.625em;margin-left:.625em}
.googleFollow{background-position:-80px -243px;margin-top:-.625em;margin-left:.625em}
.youtubeFollow{background-position:-160px -243px;margin-top:-.625em;margin-left:.625em}
.HomeHeader{margin-top:.125em!important;height:11px}
.PoweredBy{float:left;margin-top:2.625em;margin-left:1.5em;padding-bottom:1.25em;font-family:Arial;font-size:.688em;color:#fff}
.PoweredByMobFullV{float:left;margin-top:-2.625em;margin-left:1.5em;padding-bottom:1.25em;font-family:Arial;font-size:.688em;color:#fff}
.backToMobileWrapper{float:left;font-size:39px;width:278px;text-align:center;margin-left:15px;background-color:#ffef00;font-family:Arial}
.backToMobileText{color:#000;line-height:1.4em;text-decoration:none}
#footerFeedback{font-family:Arial;font-size:.75em;color:#fff;text-decoration:none;line-height:1.4em;float:left;margin-right:1.625em;cursor:pointer}
#footerFeedback:hover{font-family:Arial;font-size:.75em;color:#fff;text-decoration:underline;line-height:1.4em;margin-right:1.625em}
#footerFeedbackHome{font-family:Arial;font-size:.75em;color:#fff;text-decoration:none;line-height:1.4em;float:left;margin-right:1.625em;cursor:pointer}
#footerFeedbackHome:hover{font-family:Arial;font-size:.75em;color:#fff;text-decoration:underline;line-height:1.4em;margin-right:1.625em}
.history_text_class{top:8px;color:#665c02;position:relative;float:right;font-size:13px;text-align:center;cursor:pointer;right:37px}
.history_open_middle_class{background-color:#fff001;border:2px solid #d8ae0a;border-top:none;width:596px;right:35px;margin-top:-1px;min-height:150px;position:absolute;z-index:999}
.divResultsSeen_class{width:280px;float:right}
#divHistoryCookie{float:left;width:280px}
.historyItem_class{height:10px;margin-left:22px;outline:medium none;overflow:hidden;padding:6px 6px 6px 12px;text-decoration:none;width:262px;float:left;text-overflow:ellipsis;white-space:nowrap}
.history_item,.historyItem_class{color:#2d2d2d;cursor:pointer;display:block;font-size:12px;margin:0 4px}
.historyItem_class:hover,.previous_results_link:hover{text-decoration:underline}
.previous_results_link{height:10px;outline:medium none;overflow:hidden;padding:6px 4px 6px 0;text-decoration:none;width:266px;color:#2d2d2d;cursor:pointer;display:block;font-size:12px;margin:0 4px 0 0;float:left;text-overflow:ellipsis;white-space:nowrap}
.historyHeader{margin-top:4px;background-color:#e6d90e;float:left;font-size:14px;font-weight:700;height:20px;padding-top:8px;position:relative;text-align:center;width:280px;margin-bottom:7px;color:#2d2d2d}
.historyHeaderArrowOpen,.historyHeaderArrowClose{background-image:url(http://www.vrisko.gr/v22/Images/Mvc/home/spride-headfoot.png);background-repeat:no-repeat;float:right;height:12px;position:relative;width:17px}
.historyHeaderArrowClose{background-position:-65px -219px}
.historyHeaderArrowOpen{background-position:-88px -221px}
.historyResults{float:left;position:relative;width:100%;margin-bottom:23px}
.historyBtns{position:absolute;bottom:5px;right:7px}
.history_clean_class,.history_close_class{float:left;position:relative;cursor:pointer;text-decoration:underline;color:#2d2d2d;font-size:12px;padding-right:20px}
.history_close_class{padding-right:5px}