* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0px;
  margin: 0px;
  width: auto;
  height: auto;
  font-family: "Arial", "Helvetica", sans-serif;
}
.clear {
  clear: both;
  height: 1px;
}
img {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.header {
  width: 100%;
  position: relative;
  padding-top: 4px;
  margin-bottom: 10px;
}
.content_header {
  margin: 0 auto;
}
.top_menu {
  height: 40px;
  background-image: url(/images/bg_menu.png);
}
.top_menu_btn {
  float: left;
  width: 65px;
  height: 32px;
  padding-top: 7px;
}
.top_menu_btn span {
  font-size: 15px;
  font-weight: normal;
}
.sort {
  float: left;
}
.paging {
  float: right;
}
.links_box {
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 2px;
  height: 32px;
}
#logo {
  float: left;
  margin-right: 34px;
  margin-left: 1px;
}
#logo img {
  width: 239px;
  height: 75px;
}
.search {
  float: left;
  margin-top: 31px;
}
.trades {
  float: left;
  width: 150px;
  height: 70px;
  margin-right: 10px;
  line-height: 14px;
}
.trades a {
  text-decoration: none;
  font-size: 12px;
}
.banner {
  margin-top: 14px;
  margin-bottom: 14px;
  float: right;
  width: 468px;
  height: 60px;
}
.search_result {
  height: 30px;
  width: 565px;
  float: left;
}
.search_result h1 {
  font-weight: normal;
  margin-top: 5px;
  font-size: 18px;
}
.search_result a {
  margin-top: -34px;
  float: right;
  font-size: 18px;
  text-decoration: none;
}
.top_serach_box {
  position: relative;
  display: inline-block;
}
.top_serach_box input[type="image"] {
  border: none;
  outline: none;
  height: 31px;
  border-radius: 0px 2px 2px 0px;
}
.top_serach_box input[type="text"] {
  border: none;
  outline: none;
  float: left;
  border: 1px solid;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 4px;
  font-size: 13px;
  margin: 0px;
  border-radius: 3px 0px 0px 3px;
}
.btn_search_top {
  float: left;
}
.top_serach_box .languages {
  position: absolute;
  top: 1px;
  right: 29px;
  display: block;
  font-size: 14px;
  line-height: 18px;
  z-index: 2;
  border-radius: 4px;
  margin: 5px;
  padding-right: 5px;
  width: 90px;
}
.languages ul {
  list-style: none;
  display: none;
  margin-left: 5px;
  margin-top: 10px;
}
.languages:hover ul {
  display: block;
}
.languages span {
  margin-left: 5px;
  padding-left: 28px;
  cursor: pointer;
}
.languages li a {
  padding-left: 28px;
  text-decoration: none;
}
.languages li a:visited {
  text-decoration: nonoe;
}
.languages li a:hover {
  color: #666;
}
.languages li {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.languages .en {
  background: url(/images/flags/en.png) 0px -4px no-repeat;
}
.languages .de {
  background: url(/images/flags/de.png) 0px -4px no-repeat;
}
.languages .es {
  background: url(/images/flags/es.png) 0px -4px no-repeat;
}
.languages .ru {
  background: url(/images/flags/ru.png) 0px -4px no-repeat;
}
.languages .fr {
  background: url(/images/flags/fr.png) 0px -4px no-repeat;
}
.languages .it {
  background: url(/images/flags/it.png) 0px -4px no-repeat;
}
.languages .tr {
  background: url(/images/flags/tr.png) 0px -4px no-repeat;
}
.languages .cs {
  background: url(/images/flags/cs.png) 0px -4px no-repeat;
}
.content {
  position: relative;
}
.content h1 {
  margin: 0 auto;
  padding-bottom: 7px;
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 6px;
  border-bottom: 1px dotted;
}
.boxes {
  margin: 0 auto;
  margin-top: 10px;
}
.box2 {
  float: left;
  margin-right: 20px;
  width: 300px;
}
.box {
  float: left;
  margin-left: 20px;
  width: 300px;
}
.box iframe+iframe {
  margin-top: 20px;
}
.box2 iframe+iframe {
  margin-top: 20px;
}
.player {
  float: left;
}
.right_box {
  float: left;
  width: 300px;
  margin-left: 5px;
}
.margin {
  margin-bottom: 10px;
  margin-left: 0px;
}
.info {
  width: 610px;
  margin-top: 15px;
}
.line {
  margin-bottom: 15px;
  width: 610px;
  height: 25px;
  border-bottom: 1px dotted;
}
.information {
  float: left;
  font-size: 14px;
}
.size {
  float: right;
}
.line_link {
  float: left;
  margin-right: 10px;
  font-size: 14px;
}
.line_link a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-overflow: ellipsis;
}
.social {
  margin-right: 1px;
  float: left;
  height: 34px;
}
.banner_video {
  z-index: 99;
  width: 728px;
  height: 90px;
  margin: 20px auto;
}
.thumbs {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 5px;
  text-align: center;
}
.thumbs ul {
  display: block;
  padding: 0;
  margin: 0;
  margin-right: -25px;
}
.thumbs li {
  position: relative;
  float: left;
  margin: 0;
  width: 242px;
  height: 230px;
  text-align: left;
  border-radius: 2px;
  margin-right: 10px;
  margin-bottom: 10px;
  list-style: none;
  border-radius: 4px;
  overflow: hidden;
}
.thumbs li img {
  width: 240px;
  height: 180px;
  border: 1px solid;
  border-radius: 4px 4px 0px 0px;
}
.thumbs li h2,
.thumbs li div {
  margin-bottom: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}
.thumbs li h3 {
  background: url("/images/text.png") 2px 4px no-repeat transparent;
  margin-bottom: 0px;
  padding: 0px 5px 0px 18px;
  margin-left: 2px;
  font-size: 12px;
  line-height: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
}
.thumbs.index li {
  text-align: center;
  height: 213px;
}
.margin_top {
  margin-top: 20px;
}
.thumbs li a {
  display: block;
  font-weight: normal;
  text-decoration: none;
  text-overflow: ellipsis;
}
.thumbs li:hover img {
  border: 1px solid;
}
.thumbs span {
  position: absolute;
  font-size: 11px;
  padding: 3px;
  height: 15px;
  border-radius: 2px;
  font-weight: 100;
}
.thumbs span.left {
  top: 157px;
  left: 4px;
}
.thumbs span.right {
  top: 157px;
  right: 4px;
}
.thumbs span.tags {
  position: relative;
  text-align: left;
  padding: 0px;
  margin-left: 5px;
  display: block;
  background-color: transparent;
}
.thumbs span.tags a {
  background: url("/images/tag.png") 0px 0px no-repeat transparent;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 2px;
  padding: 0px 5px 0px 15px;
}
.popular {
  height: 440px;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
}
.popular_tumb {
  width: 240px;
  height: 212px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.popular_tumb_cat {
  height: 40px;
  text-align: center;
}
.tumb_cat_name {
  text-align: center;
}
.popular_search {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.popular_search_cat {
  margin: 20px;
  float: left;
  margin-right: 25px;
}
.search_banner {
  float: left;
  height: 250px;
  margin: 6px;
  width: 300px;
  text-align: center;
}
.search_elem a {
  font-size: 12px;
  text-decoration: none;
}
.search_elem .num_thumb {
  font-size: 12px;
  text-decoration: none;
}
.search_title {
  font-size: 12px;
}
.search_elem a:hover {
  text-decoration: none;
}
.porn_sites {
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px dotted;
  margin-bottom: 25px;
}
.porn_sites_cat {
  font-size: 17px;
  margin: 15px;
  float: left;
  width: 200px;
  height: 220px;
  margin-right: 25px;
}
.porn_sites_elem a {
  font-size: 17px;
  text-decoration: none;
}
.porn_sites_cat a {
  font-size: 17px;
  text-decoration: none;
}
.footer {
  position: relative;
  margin: 0 auto;
  height: 130px;
}
.recommended_box {
  height: 40px;
  background-image: url(/images/bg_menu.png);
}
.urls_recommended {
  margin-left: auto;
  margin-right: auto;
}
.title_recommended {
  width: 150px;
  height: 20px;
  float: left;
  margin-right: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
}
.title_recommended a {
  margin-right: 5px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.title_recommended a:hover {
  font-size: 18px;
}
.right {
  float: right;
}
.right a {
  font-size: 16px;
  float: right;
}
.right a:hover {
  font-size: 16px;
}
.last_line {
  margin-left: auto;
  margin-right: auto;
}
#logo_bottom {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  height: auto;
  margin-top: 4px;
  margin-bottom: 4px;
}
.rights {
  margin-top: 10px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.rights_text_footer {
  font-size: 14px;
  margin-top: 5px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  line-height: 18px;
}
.rights a {
  font-size: 14px;
  text-decoration: none;
}
.rights a:hover {
  font-size: 14px;
}
.btn_up {
  z-index: 99;
  position: fixed;
  opacity: 0.8;
  display: none;
  right: 20px;
  bottom: 10px;
  width: 59px;
  height: 60px;
  background-image: url(/images/btn_up.png);
  cursor: pointer;
}
.btn_up:hover {
  background-image: url(/images/btn_up_hover.png);
}
.search_baners {
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px dotted;
  margin-bottom: 25px;
}
.paginator {
  margin: 0 auto;
  margin-bottom: 10px;
}
.paginator ul {
  list-style: none;
  margin: 0;
}
.paginator li {
  display: inline-block;
  margin-left: 2px;
  border-radius: 2px;
}
.paginator a {
  font-size: 16px;
  border-radius: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
}
.related {
  margin: 0 auto;
  margin-bottom: 4px;
  padding-left: 1px;
}
.related span {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}
.related a {
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  text-decoration: none;
  display: block;
  float: left;
  background: url(/images/loupe2.png) no-repeat;
  text-indent: 15px;
}
.related:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.paginator:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.thumbs ul:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.boxes:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.addthisbox {
  margin: 0 auto;
}
.addthis_floating_style {
  position: fixed;
  margin-left: -80px;
  margin-top: 50px;
  z-index: 1;
}
body,
.name_block {
  background-color: #231f1f;
}
.header {
  background-color: #1c1818;
}
.trades span,
.search_result span,
.search_result a,
.line_link a,
.popular_tumb_cat,
.paginator a {
  color: #e8ad47;
}
.thumbs li h2,
.thumbs li h3,
.thumbs li div {
  color: #e8ad47;
}
.top_serach_box input[type="text"] {
  background-color: #fff;
  color: #000;
  border-color: #000;
}
.top_serach_box .languages {
  background-color: #fff;
  color: #888;
}
.languages li a {
  color: #000;
}
.content h1 {
  color: #fff;
  border-bottom-color: #544646;
}
.line {
  border-bottom-color: #544646;
}
.thumbs li {
  background-color: #1c1818;
}
.thumbs li img {
  border-color: #1c1818;
}
.thumbs li:hover img {
  border-color: #fff;
}
.thumbs li:hover h2,
.thumbs li:hover div {
  color: #fff;
}
.thumbs li:hover {
  background-color: #2b2525;
}
.thumbs span {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}
.thumbs span.tags,
.thumbs span.tags a {
  color: #d0bd94;
}
.search_elem a,
.porn_sites_elem a,
.related a {
  color: #d0bd94;
}
.related a {
  color: #d0bd94;
}
.thumbs span.tags a:hover {
  color: #fff;
}
.search_elem {
  color: #c9963f;
}
.search_elem .num_thumb {
  color: #96c84d;
}
.search_title {
  color: #96c84d;
}
.search_elem .num_thumb:hover,
.search_elem a:hover,
.search_elem:hover,
.porn_sites_elem:hover,
.title_recommended a:hover,
.right a:hover,
.rights a:hover,
.paginator li.highlight a,
.paginator li:hover a,
.paginator a.highlight,
.paginator a:hover,
.paginator li.highlight,
.paginator li:hover,
.related a:hover {
  color: #fff;
}
.title_recommended {
  color: #736262;
}
.title_recommended a {
  color: #e3a946;
}
.rights {
  color: #fff;
}
.rights_text_footer {
  color: #736262;
}
.rights_text_footer strong {
  color: #96C84D;
}
.rights a {
  color: #e3a946;
}
.paginator a {
  background-color: rgba(85,85,85,0.54);
}
.related {
  color: #aaa;
}
.top_menu_btn span {
  color: #635555;
}
.trades a {
  color: #f3dcad;
}
.trades a:hover {
  color: #FFF;
}
.trades_elem:hover span {
  color: #FFF;
}
.search_result h1 {
  color: #FFF;
}
.search_result a:hover {
  color: #FFF;
}
.information {
  color: #FFF;
}
.information span {
  color: #604d4d;
}
.line_link {
  color: #736262;
}
.line_link a:hover {
  color: #FFF;
}
.popular_search {
  background: #1c1818;
}
.porn_sites {
  background: #2c2626;
  border-bottom-color: #544646;
}
.porn_sites_elem {
  color: #c9963f;
}
.search_baners {
  border-bottom-color: #544646;
}
.content_header,
.content h1,
.links_box,
.popular,
.popular_search,
.porn_sites,
.urls_recommended,
.last_line,
.search_baners,
.boxes,
.thumbs,
.paginator,
.related,
.addthisbox {
  width: 1252px;
  width: 1000px;
  box-sizing: border-box;
}
.top_serach_box input[type="text"] {
  width: 426px;
  width: 170px;
}
.popular_search_cat {
  width: 150px;
}
.box2 {
  display: none;
}
@media only screen and (max-width: 760px) {
  #logo,
  #logo_bottom {
    float: none;
    text-align: center;
    margin: 0;
  }
  .search {
    float: none;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    height: 31px;
  }
  .top_serach_box {
    width: 270px;
  }
  .top_serach_box .languages {
    right: 30px;
  }
  .top_serach_box input[type="text"] {
    width: 220px;
  }
  .top_serach_box .languages {
    text-align: left;
  }
  .thumbs.index li,
  .thumbs li {
    width: 150px;
    height: 159px;
    float: none;
    margin-right: 2px;
    display: inline-block;
  }
  .thumbs.index li {
    height: 142px;
  }
  .thumbs li img {
    width: 150px;
    height: 110px;
  }
  .thumbs span.left {
    display: none;
  }
  .thumbs span.right {
    top: 87px;
    right: 4px;
  }
  .paginator a {
    font-size: 20px;
  }
  .paging li {
    display: none;
  }
  .paging li:first-child,
  .paging li:last-child,
  .paging li.highlight {
    display: inline-table;
  }
  .sort a {
    width: 40%;
  }
  .sort {
    float: none;
    text-align: center;
  }
  .paging {
    float: none;
    text-align: center;
    margin-top: 5px;
  }
  .paging li {
    width: 30%;
  }
  .paging a {
    padding: 5px 20px;
  }
  .content h1 {
    border: none;
    margin: 0;
    text-align: center;
  }
  .thumbs ul {
    text-align: center;
    margin: 0;
    margin-right: 0;
  }
  .search_banner {
    width: 47%;
  }
}
@media only screen and (max-width: 1023px) {
  .content_header,
  .content h1,
  .links_box,
  .popular,
  .popular_search,
  .porn_sites,
  .urls_recommended,
  .last_line,
  .search_baners,
  .boxes,
  .thumbs,
  .paginator,
  .related,
  .rights,
  .box,
  .player,
  .thumbs ul {
    width: 100%;
    box-sizing: border-box;
  }
  .banner,
  .related,
  .addthisbox {
    display: none;
  }
  .popular_search_cat {
    width: auto;
    margin: 0;
    padding: 0 15px;
  }
  .search_elem a {
    font-size: 15px;
    padding: 5px 10px;
  }
  .search_elem {
    float: left;
    margin: 5px 0px;
  }
  .search_elem span {
    display: none;
  }
  .search_title {
    clear: both;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
  }
  .rights {
    margin: 0;
    text-align: center;
    padding: 10px;
  }
  .info {
    display: inline-block;
  }
  .player {
    text-align: center;
  }
  .box {
    margin: 0;
    margin-bottom: 10px;
  }
  .box iframe {
    float: left;
  }
  .box iframe + iframe {
    margin-top: 0px;
  }
  .box iframe:last-child {
    float: right;
  }
  .player iframe {
    width: 320px;
    height: 240px;
    margin-bottom: 10px;
  }
  .player .info {
    display: none;
  }
  .search_banner {
    width: 47%;
  }
}
@media only screen and (min-width: 760px) and (max-width: 1023px) {
  .content_header,
  .content h1,
  .links_box,
  .popular,
  .popular_search,
  .porn_sites,
  .urls_recommended,
  .last_line,
  .search_baners,
  .boxes,
  .paginator,
  .related,
  .box,
  .player,
  .addthisbox {
    width: 748px;
  }
  .top_serach_box input[type="text"] {
    width: 420px;
  }
  .thumbs {
    width: 758px;
  }
  .thumbs ul {
    margin-left: 6px;
  }
  .box {
    margin: 0;
    margin-bottom: 10px;
  }
  .info {
    display: inline-block;
  }
  .player {
    text-align: center;
  }
  .box iframe {
    float: left;
  }
  .box iframe + iframe {
    margin-top: 0px;
  }
  .box iframe:last-child {
    float: right;
  }
  .player iframe {
    width: 640px;
    height: 480px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .content_header,
  .content h1,
  .links_box,
  .popular,
  .popular_search,
  .porn_sites,
  .urls_recommended,
  .last_line,
  .search_baners,
  .boxes,
  .paginator,
  .related,
  .addthisbox {
    width: 990px;
  }
  .thumbs {
    width: 1000px;
  }
  .thumbs ul {
    overflow: hidden;
    margin-left: 5px;
    margin-right: -5px;
  }
  .thumbs ul li {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 640px) {
  .box {
    margin-bottom: 10px;
    text-align: center;
  }
  .box iframe {
    float: none;
    display: inline-block;
  }
  .box iframe+iframe {
    margin-top: 10px;
  }
  .box iframe:last-child {
    float: none;
  }
  .search_banner {
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .content_header,
  .content h1,
  .links_box,
  .popular,
  .popular_search,
  .porn_sites,
  .urls_recommended,
  .last_line,
  .search_baners,
  .boxes,
  .thumbs,
  .paginator,
  .related,
  .addthisbox {
    width: 1252px;
    box-sizing: border-box;
  }
  .box2 {
    display: block;
  }
  .top_serach_box input[type="text"] {
    width: 426px;
  }
  .popular_search_cat {
    width: 200px;
  }
  .rights {
    width: auto;
  }
}
