body {
    background: url(/template/v3dark/images/bg2.gif) 0 2px repeat-x #000;
    color: #999;
    font: 12px "Trebuchet MS", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ff6101;
    text-decoration: underline;
}

div,p,ul,h2 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

h1 {
    color: #fff;
    font: bold 16px Arial;
    margin: 0 0 15px 0;
    text-shadow: 1px 1px 0 #000;
}

h2 {
    color: #ffc901;
    font: bold 14px Arial;
    margin: 20px 0 0 0;
}

h3 {
    color: #ff6101;
    font: bold 12px Arial;
    margin: 20px 0 0 0;
}

hr {
    margin: 0 0 10px 0;
    border-top: 1px solid #676767;
    border-bottom: 1px solid #232323;
    border-left: none;
    border-right: none;
    color: #676767;
    background-color: #676767;
}

.blue {
    color: #01c0e9;
}

.green {
    color: #09ce01;
}

.red {
    color: #fc0106;
}

.white {
    color: #fff;
}

.yellow {
    color: #ffc901;
}

.dspnone {
    display: none;
}

.vbottom {
    vertical-align: text-bottom;
}

.vmid {
    vertical-align: middle;
}

.vtop {
    vertical-align: text-top;
}

.vttop {
    vertical-align: text-top;
}

.i {
    font-style: italic;
}

.c {
    text-align: center;
}

.l {
    text-align: left;
}

.r {
    text-align: right;
}

.b {
    font-weight: bold;
}

.n {
    font-weight: normal;
}

.lthr {
    text-decoration: line-through;
}

.udl {
    text-decoration: underline;
}

.cb {
    clear: both;
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.fs8 {
    font-size: 8px;
}

.fs9 {
    font-size: 9px;
}

.fs10 {
    font-size: 10px;
}

.fs11 {
    font-size: 11px;
}

.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.info {
    background: url(/template/images/icons/information.png) center left no-repeat;
    padding: 0 0 0 20px;
    font-size: 16px;
}

.noscript-message {
    background: #ffe481;
    border-top: 2px solid #cda100;
    border-bottom: 2px solid #cda100;
    padding: 15px 10px 15px 50px;
    margin: 0 0 20px 0;
}

.noscript-message p {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #000;
    text-align: center;
}

.noscript-message p img {
    vertical-align: middle;
    margin-top: -5px;
    padding: 0 5px 0 0;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px 0 0 15px;
    z-index: 3;
    display: none;
    background: #131313;
    border: 1px solid #4d4d4d;
    color: #fff;
    padding: 3px 7px;
}

#dialog {
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
}

#ui-datepicker-div {
    display: none;
}

#header {
    height: 180px;
    margin: 0 auto;
    position: relative;
    width: 908px;
}

/*#header #fb {
    position: absolute;
    top: 143px;
    right: -8px;
}*/

#header #google_translate_element {
    position: absolute;
    top: 50px;
    right: 0;
}

#header #page_options {
    font-size: 9px;
    height: 12px;
    position: absolute;
    top: 90px;
    text-align: right;
    background: #222;
    right: 8px;
    padding: 2px 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

#header #page_options a {
    color: #ddd;
}

#consumer_top, #consumer_bottom {
    margin: 20px auto 0 auto;
    width: 728px;
    height: 90px;
    padding: 3px 5px;
    border: 1px solid #4d4d4d;
    /* background: url(/template/v3dark/images/thumbs-down.gif) center no-repeat; */
}

#consumer_bottom_dl {
    text-align: center;
    margin: 20px auto 0 auto;
    width: 806px;
    height: 444px;
    padding: 5px;
    border: 1px solid #4d4d4d;
    overflow: hidden;
    /* background: url(/template/v3dark/images/thumbs-down.gif) center no-repeat; */
}

#wv {
    padding: 15px 0 0 0;
    margin: 0 auto;
    width: 728px;
}

#footer {
    height: 27px;
    left: 0;
    margin: 0 auto;
    padding: 0 0 20px 0;
    /* overflow: hidden; */
    position: relative;
    top: 20px;
    width: 908px;
}

#footer-logo {
    color: #666;
    height: 27px;
    left: 0;
    position: absolute;
    top: 0;
    width: 113px;
}

#footer-logo img {
    height: 27px;
    width: 113px;
}

#footer-menu {
    text-transform: uppercase;
    padding: 7px 10px 0 0;
}

#footer-menu li {
    border-right: 1px solid #b0b0b0;
    display: inline;
    padding: 0 1px;
}

#footer-menu li.last {
    border-right: 0;
}

#footer-menu a {
    color: #b0b0b0;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 5px 0 0;
}

#left {
    background: url(/template/v3dark/images/navi-left.gif) 0 0 no-repeat;
    color: #666;
    height: 19px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 153px;
}

#left-menu {
    width: 153px;
    text-align: center;
    padding: 2px 0 0 0;
}

#left-menu a {
    color: #b0b0b0;
    text-decoration: none;
    font-size: 10px;
    padding: 0;
}

#left-menu a:hover,#footer-menu a:hover {
    color: #fff;
    text-decoration: none;
}

#left-menu li {
    display: inline;
    padding: 0 1px;
}

#login-bar {
    color: #666;
    height: 24px;
    left: 408px;
    position: absolute;
    top: 0;
    width: 500px;
    text-align: right;
}

#login-bar .button {
    padding: 1px 5px;
    margin: 0;
}

/*#login-bar button.logins {
    background: url(/template/v3dark/images/login_go.gif) no-repeat 0 0;
    border: none;
    cursor: pointer;
    float: right;
    height: 16px;
    padding-right: 70px;
    width: 34px;
}*/

#login-bar #login-link {
    font-size: 12px;
    line-height: 20px;
}

#login-bar div.login {
    color: #01c0e9;
    font: bold 11px Arial;
    height: 25px;
}

/*#login button.logins {
    background: url(/template/v3dark/images/login_go.gif) no-repeat 0 0;
    border: none;
    cursor: pointer;
    float: right;
    height: 16px;
    padding-right: 70px;
    width: 34px;
}*/

#login {
    display: none;
    color: #666;
    height: 192px;
    left: 640px;
    position: absolute;
    top: 21px;
    width: 250px;
    z-index: 99;
    background: #000000;
    border-left: 2px solid #676666;
    border-right: 2px solid #676666;
    border-bottom: 2px solid #676666;
}

#login div.login {
    color: #b0b0b0;
    font: 11px Arial;
    margin: 20px 10px 10px 10px;
    position: relative;
    height: 148px;
}

#login input.login {
    color: #4c4b4b;
    font: normal 11px Arial;
    margin: 15px auto 0 auto;
    padding: 3px;
    width: 204px;
    display: block;
}

#login .button {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

#login .login_ssl {
    display: block;
    float: left;
    padding: 42px 0 0 10px;
    font-size: 10px;
}

#login .forget_pass {
    display: block;
    margin: 4px 0 15px 8px;
    text-align: center;
}

#l_user {
    background-image: url(/template/images/login_username.gif);
    background-repeat: no-repeat;
    background-position: 6px 9px;
}

#l_pass {
    background-image: url(/template/images/login_password.gif);
    background-repeat: no-repeat;
    background-position: 6px 6px;
}

#logo {
    color: #666;
    height: 52px;
    left: 0;
    position: absolute;
    top: 43px;
    width: 285px;
}

#logo img {
    height: 50px;
    width: 285px;
}

#main {
    background: #131313;
    border: 1px solid #4d4d4d;
    left: 0;
    margin: 0 auto;
    /* position: relative; */
    width: 908px;
}

#main #inner {
    margin: 0 auto;
    width: 868px;
    padding: 20px;
}

#main #inner .item_box {
    border-bottom: 1px dotted #4d4d4d;
    border-right: 1px dotted #4d4d4d;
    padding: 5px;
}

* html .middle {
    width: 100%;
}

.footer {
    background: url(/template/v3dark/images/footer.gif) 0 0 no-repeat;
    height: 27px;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: right;
    position: absolute;
    width: 908px;
}

.middle {
    background: url(/template/v3dark/images/middle.gif) 0 0 no-repeat;
    height: 68px;
    left: 0;
    position: absolute;
    top: 105px;
    width: 100%;
}

ul#topnav {
    margin: 0 0 0 10px;
    padding: 0;
    list-style: none;
    float: left;
    font-size: 12px;
    position: relative;
}

ul#topnav li {
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    height: 40px;
}

ul#topnav a, ul#topnav span {
    padding: 10px 18px;
    float: left;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    clear: both;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
}

ul#topnav a {
    color: #ffc901;
    background-position: left bottom;
}

ul#topnav span {
    background-position: left top;
}

ul#topnav li p {
    z-index: 9999;
    position: absolute;
    margin: 38px 0 0 0 !important;
    margin: 38px 0 0 -100px;
    width: auto !important;
    width: 150px;
    background: #000000;
    display: none;
    color: #000;
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
    border-bottom: 1px solid #424242;
}

ul#topnav li:hover p {
    display: block;
}

ul#topnav li p a {
    display: block;
    float: none;
    color: #fff;
    font-size: 10px;
    text-transform: capitalize;
    padding: 3px 20px;
}

ul#topnav li p a:hover {
    background: #242424;
}

div#select_lang {
    width: 100px;
    text-align: right;
    float: right;
    margin: 13px 20px 0 0;
}

div#select_lang img {
    padding: 0 2px;
}

div#dialog, ul#contextMenu {
    display: none;
}

/* ----- CONTENT ----- */

/* scroller -> */

#newsscroller {
    display: none;
}

.tickercontainer {
    width: 864px;
    line-height: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

ul.newsticker {
    position: relative;
    left: 876px;
    font-size: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.newsticker li {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
}

ul.newsticker a {
    white-space: nowrap;
    padding: 0;
    font-size: 10px;
    margin: 0 10px 0 0;
    font-size: 11px;
}

ul.newsticker span {
    margin: 0 10px 0 0;
}

/* news -> */
#news_entries h3 {
    padding: 2px 5px;
    margin: 15px 0 0 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

#news span.date {
    display: block;
    float: right;
    font-size: 10px;
    font-weight: normal;
    border: 1px solid;
    padding: 2px 3px 2px 20px;
    margin: 4px 0 0 0;
    position: relative;
}

#news .ui-icon-clock {
    position: absolute;
    top: 8px;
    left: 2px;
}

#news_entries div a {
    font-weight: bold;
}

#news_entries div p.ntext {
    overflow-x: hidden;
}

/* faq -> */
#faq #faq_anchors a {
    display: block;
    margin: 5px;
    font-size: 12px;
}

#faq_entries h3 {
    padding: 2px 5px;
    margin: 15px 0 0 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

/* register -> */
.free_register {
    display: none;
}

/* files -> */
#own h1 {
    width: 100%;
    clear: both;
}
#own #status {
    float: left;
    margin: 8px 0 0 0;
}

#own #status p span {
    color: #fff;
}

#own #select_items, #own #select_items_mirror {
    margin: 8px 0 0 0;
    padding: 0 0 10px 0;
    float: right;
}

#own #select_items p, #own #select_items_mirror p {
    text-align: right;
    display: none;
}

#own #user_files {
    clear:both;
    display: none;
}

#own #file_nav_items {
    float: left;
}

#own #file_nav_items .own_input {
    width: 145px;
}

#own #files_adv_toggle {
    clear: both;
}

#own #files_adv_toggle h3 {
    padding: 15px 0 0 0;
    display: block;
    font-size: 11px;
    color: #01c0e9;
}

#own #files_adv_options {
    clear: both;
    width: 100%;
    margin: 10px 0 0 0;
    display: none;
}

#own #file_nav_items p {
    float: left;
    line-height: 18px;
    margin: 0 20px 0 0;
}

#own #file_nav_items p span {
    display: block;
    float: none;
    text-align: center;
}

#own #file_nav_items p .ui-icon {
    float: left;
}

#own #file_nav_items label {
    color: #ffc901;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
}

#own #nf {
    clear: both;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

#own #filestats table {
    right: 0;
    float: right;
    margin: 0 0 25px 0;
    border: 1px solid #4d4d4d;
}

#own #filestats table .intro span {
    font-weight: bold;
    color: #01c0e9;
}

#own #filestats table .w {
    color: #fff;
}

#own #filestats table td {
    padding: 3px 5px;
}

#own #f_load {
    padding: 2px 5px;
    margin: 0;
}

#own #actions {
    display: none;
}

#own #actions a {
    margin: 5px 10px 0 0;
    line-height: 20px;
    display: block;
    position: relative;
    float: left;
}

#own #actions a span {
    float: left;
    margin: 0 2px 0 10px;
}

p#extracted_links {
    position: relative;
    display: block;
}

p#extracted_links textarea {
    font-size: 12px;
    width: 470px;
    height: 250px;
    color: #aaa;
    background: #131313;
    border: 1px solid #4d4d4d;
}

p#extracted_links span#export {
    display: block;
    margin: 10px 0 0 0;
    width: 100%;
}

p#extracted_links span#export img {
    border: 0;
}

div#sl_advice a.create_sl {
    display: block;
    margin: 20px 0 0 0;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

div#nopaste_options {
    margin: 20px 0 0 0;
}

div#nopaste_options label {
    font-size: 9px;
}

div#nopaste_options .f_text {
    display: block;
    width: 230px;
    float: right;
    margin: 0 8px 0 0;
}

div#nopaste_options .l_text {
    font-size: 11px;
    font-weight: bold;
    display: block;
    float: left;
    margin: 0 0 0 8px;
}

div#nopaste_options div {
    clear: both;
    height: 30px;
}

div#nopaste_options p {
    margin: 5px 0;
}

div#nopaste_options p.options {
    padding: 10px 0 0 0;
    text-align: center;
}

div#nopaste_options #sl_descr {
    font-size: 10px;
    margin: 20px 0 0 0;
}

div#sl_create_window #sl_result {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin: 35px 0 0 0;
    text-align: center;
}

div#f_options {
    margin: 20px 0 0 0;
}

div#f_options label {
    font-size: 9px;
}

div#f_options .f_text {
    display: block;
    width: 230px;
    float: right;
    margin: 0 8px 0 0;
}

div#f_options .l_text {
    font-size: 11px;
    font-weight: bold;
    display: block;
    float: left;
    margin: 0 0 0 8px;
}

div#f_options div {
    clear: both;
    height: 30px;
}

div#f_options p {
    margin: 5px 0;
}

div#f_options p.options {
    padding: 10px 0 0 0;
    text-align: center;
}

div#f_options #sl_descr {
    font-size: 10px;
    margin: 20px 0 0 0;
}

/* config -> */
.config_form {
    width: 760px;
    margin: 10px auto 0 auto;
    border: 1px solid #4d4d4d;
    padding: 10px 20px;
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
}

.config_form h2 {
    margin-top: 10px;
}

.config_form span {
    margin: 10px 0 0 0;
    clear: both;
    float: left;
    line-height: 18px;
}

.config_form span.ui-icon {
    margin: 0 3px 0 0;
    clear: none;
    float: left;
}

.config_form span.fs10 {
    margin: 0;
    clear: none;
    float: none;
}

.config_form #sl_active {
    clear: both;
    padding: 20px 0 0 0;
    margin: 0;
    display: block;
}

.config_form div {
    display: none;
    margin: 0 0 0 19px;
}

.config_form span label {
    font-size: 12px;
    font-weight: bold;
}

.config_form input, .config_form p.r {
    clear: right;
    margin: 10px 0 0 0;
    font-size: 12px;
    line-height: 18px;
    float: right;
}

.config_form p.r {
    width: 400px;
}

.config_form input, .config_form p.r a {
    font-size: 11px;
}

.config_form p.r input {
    float: none;
    margin: 0;
    line-height: normal;
}

.config_form input.text {
    width: 300px;
}

.config_form .ui-widget, .config_form .ui-widget div {
    display: block;
    margin: 0;
    line-height: 18px;
}

.config_form .ui-widget div {
    padding: 0 5px;
}

.config_form .ui-widget .ui-icon {
    float: left;
    margin: 0 5px 0 0;
}

.config_form .sl_create {
    font-size: 11px;
    float: none;
    clear: none;
    margin: 0 0 0 20px;
    color: #fff;
}

.config_form .account_lock_status {
    font-size: 11px;
    float: none;
    clear: none;
    margin: 0 0 0 5px;
    color: #fff;
    font-weight: normal;
}

.config_form .account_lock_status span {
    float: none;
}

.config_form #account_lock {
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
}

.config_form #account_lock input {
    float: none;
    padding: 0;
    margin: 0 2px 0 5px;
    vertical-align: text-bottom;
}

.config_form #account_lock h3 {
    text-align: left;
    text-transform: none;
}

.config_form #account_lock table {
    margin: 0 auto;
}

.config_form #account_lock table td {
    padding: 0 10px;
    text-align: left;
    text-transform: none;
    line-height: 16px;
}

.config_form #account_lock table td small {
    color: #fff;
}

.config_form #account_lock .ui-icon {
    padding: 2px 0 0 0;
}

.config_form #https, .config_form #ddl, .config_form #email_lang, .config_form #freeuser_limit, .config_form #remote, .config_form #remote_upload {
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
}

.config_form #https input, .config_form #ddl input, .config_form #email_lang input, .config_form #freeuser_limit input {
    float: none;
    padding: 0;
    margin: 0 2px 0 5px;
    vertical-align: text-bottom;
}

.config_form #https p, .config_form #ddl p, .config_form #email_lang p, .config_form #freeuser_limit p, .config_form #remote p, .config_form #remote_upload p {
    text-transform: none;
    text-align: left;
    margin: 0 0 20px 10px;
}

.config_form #remote p span {
    float: none;
    margin: 5px 0;
}

.config_form .remote_account {
    display: none;
    clear: both;
    margin-bottom: 20px;
}

.config_form .remote_account h3 {
    padding: 0;
    margin: 0;
    color: #fff;
}

.config_form #edit_remote_accounts {
    text-align: center;
    display: block;
    margin: 0 0 10px 0;
}

.config_form #edit_remote_accounts a {
    text-transform: uppercase;
}

.config_form #remote_accounts_save {
    display: none;
}

.config_form #remote_upload {
    text-transform: none;
}

.config_form #remote_upload #f_remote_amount {
    float: none;
    border:0;
    font-weight:bold;
    background: none;
    color: #fff;
    font-size: 14px;
    width: 50px;
}

.config_form #remote_upload label {
    text-transform: uppercase;
}

.config_form #remote_upload #f_remote_amount_slider {
    display: block;
    float: none;
}

#f_remote_amount_slider {
    width: 450px;
    margin: 20px auto 0 auto;
    background: #aaa;
    padding: 3px;
}

#f_remote_amount_slider .ui-slider-handle {
    padding: 3px;
    border: 1px solid #a6a6a6;
}

/* upload-> */
#upload_bar {
    width: 640px;
    padding: 0;
    margin: 0 auto;
}

#upload_bar #upload_info {
    text-align: left;
    margin: 0;
    padding: 0;
}

#upload_bar #upload_info .ui-icon {
    float: left;
    margin: 0 5px 0 5px;
}

#upload_options, #file_queue {
    display: none;
}

#upload_options div {
    float: left;
}

#upload_options p {
    float: right;
}

#upload_results {
    margin: 20px auto 0 auto;
    display: none;
    border: 1px solid #4d4d4d;
    padding: 3px 7px;
    width: 626px;
}

#upload_codes {
    margin: 10px auto 0 auto;
    width: 640px;
    display: none;
}

#result_table {
    width: 100%;
}

#result_table .url_codes {
    display: none;
    text-align: right;
    font-size: 10px;
    line-height: 10px;
}

#result_table .url_codes input {
    width: 150px;
    margin: 0 3px 0 0;
    border: 0;
    line-height: 9px;
    border: 1px solid #4d4d4d;
    font-size: 9px;
    padding: 1px 3px;
}

#upload #information {
    width: 820px;
    margin: 20px auto;
}

#upload #information #info_download, #upload #information #info_upload {
    float: left;
    width: 380px;
    margin: 10px;
    height: 240px;
    border: 1px solid #4d4d4d;
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
}

#upload #information div div {
    padding: 10px;
    text-align: center;
}

#upload #information div div p {
    margin: 20px 0;
    font-size: 12px;
    line-height: 20px;
    text-shadow: 1px 1px 0 #000;
}

#upload #information div img {
    vertical-align: bottom;
}

#upload #information h2 {
    margin: 40px 0 10px -20px;
    text-transform: uppercase;
}

#upload #information div h3 {
    font-size: 16px;
    display: inline;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 0 10px;
    color: #fff;
    text-shadow: 3px 3px 0 #000;
}

/* download -> */
#download h1 {
    background: url(/template/images/icons/download.png) 0 2px no-repeat;
    line-height: 32px;
    padding: 0 0 0 38px;
    margin: 0 0 10px 0;
}

#download #file_facts {
    padding: 8px 5px 4px 5px;
    font-size: 12px;
}

#download #file_facts h2 {
    margin: 0 0 5px 10px;
    padding: 0;
    font-size: 16px;
}

#download #file_facts h2 span {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0 5px;
}

#download #file_facts .ui-icon {
    margin: 0 0 0 7px
}

#download #file_facts div span {
    float: left;
    line-height: 16px;
    color: #ccc;
}

#download #file_facts div span.name {
    font-weight: bold;
    margin: 0 5px 0 0;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 17px;
    color: #999;
}

#download #file_facts div {
    float: left;
}

#ab_info div {
    padding: 10px;
    line-height: 16px;
}

#ab_info div span {
    float: left;
}

#download #dl_info div, #download #dl_failure div {
    padding: 10px;
    line-height: 16px;
}

#download #dl_info div span, #download #dl_failure div span {
    float: left;
}

#download #dl_failure {
    margin: 40px 0 20px 0;
}

#download #dl_failure div div {
    padding: 10px 10px 0 10px;
    font-size: 12px;
    text-align: left;
}

#download #dl_failure div div strong {
    display: block;
    text-align: center;
    padding: 0 0 30px 0;
    font-size: 16px;
}

#download #dl_failure div div span {
    float: none;
}

#download p#dl_retry {
    float: right;
    display: block;
    margin: 20px 0 0 0;
}

#download p#dl_retry .ui-icon {
    float: left;
}

#download #choose_package {
    text-align: center;
}

#download #dl_package {
    margin: 0 auto;
    width: 670px;
}

#download #dl_package th {
    width: 50%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

#download #dl_package td {
    padding: 20px 10px;
}

#download #dl_package td.details {
    border-top: 1px solid #4d4d4d;
    border-right: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
}

#download #dl_package td.package_type {
    padding: 10px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

#download #dl_package td li {
    font-size: 13px;
    padding: 2px 0 2px 24px;
    margin: 0 0 0 20px;
}

#download #dl_package td#dl_free li, #download #dl_package td.dl_free li {
    text-align: left;
    background: url(/template/images/icons/delete.png) center left no-repeat;
}

#download #dl_package td#dl_premium li, #download #dl_package td.dl_premium li {
    text-align: left;
    background: url(/template/images/icons/accept.png) center left no-repeat;
}

#download #dl_package td#dl_free, #download #dl_package td.dl_free {
    color: #ff6101;
    text-shadow: 0 0 10px #fc0106, 1px 1px 0 #803100;
}

#download #dl_package td#dl_premium, #download #dl_package td.dl_premium {
    color: #b2e701;
    text-shadow: 0 0 10px #b2e701, 1px 1px 0 #506800;
}

#download .dl_hover {
    background: #09697d;
    cursor: pointer;
}

#download #dl_wait {
    margin: 30px 0;
    background: url(/template/v3dark/images/dl-countdown_back.jpg) top left no-repeat;
    width: 868px;
    height: 150px;
    text-align: center;
    padding: 0;
}

#download #dl_wait p#dl_start a {
    color: #999;
    font-size: 13px;
}

#download #dl_wait p#dl_start a:hover {
    color: #ff6101;
    text-decoration: none;
}

#download #dl_wait #dl_container {
    font-size: 56px;
    font-family: serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 0 #131313;
    margin: 0 auto;
    padding: 32px 0 0 0;
    width: 200px;
    overflow: hidden;
}

#download #dl_wait div#dl_min, #download #dl_wait div#dl_sec, #download #dl_wait div#dl_hs {
    float: left;
    margin: 0 10px 0 0;
}

#download #dl_wait div#dl_hs {
    font-size: 32px;
}

#download #dl_wait span {
    font: 11px "Segoe UI", Arial, sans-serif;
    text-align: left;
    font-size: 11px;
    line-height: 11px;
    text-shadow: none;
    display: block;
    height: 11px;
}

#download #dl_captcha_c {
    position: relative;
    width: 100%;
    line-height: 10px;
    height: 10px;
}

#download #dl_captcha {
    position: absolute;
    right: 10px;;
    top: 50px;
}

#download #dl_ticket {
    display: none;
    margin: 30px 0;
    width: 868px;
    height: 150px;
    text-align: center;
}

#download #dll {
    width: 600px;
    text-align: center;
    clear: both;
    margin: 0 auto;
}

#download #dll p {
    text-align: center;
    margin: 75px 0 75px 0;
}

#download #dll a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

#download a#dlssl {
    display: block;
    margin: 20px 0 0 0;
    font-size: 9px;
    font-weight: normal;
}

#download #dl_ticket #dll {
    padding: 10px 0 0 0;
}

#download #dl_ticket #dll p {
    margin: 0 0 0 0;
}

/* profile */
#profile #account_details {
    float: right;
    margin: 0 auto;
    width: 680px;
    padding: 10px;
    border: 1px solid #4d4d4d;
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
}

#profile #account_details p {
    font-size: 12px;
    line-height: 18px;
}

#profile #account_details p .ui-icon {
    float: left;
    margin: 0 5px 0 0;
}

#profile #account_details p.p_l {
    clear: both;
    float: left;
    padding: 5px;
    font-weight: bold;
    width: 310px;
}

#profile #account_details p.p_r {
    float: right;
    padding: 5px;
    width: 310px;
    text-align: right;
}

#profile #account_details #p_expl {
    padding: 20px 0 0 0;
}

#profile #account_details #p_expl p {
    font-size: 11px;
}

#profile #account_details #p_expl span {
    clear: both;
    width: 35px;
    height: 30px;
    display: block;
    float: left;
}

#profile #p_nav{
    float: left;
    text-align: center;
    clear: both;
}

#profile #p_nav li {
}

#profile #p_nav li a {
    width: 140px;
    margin: 5px 0;
}

#profile #p_nav li a:hover {
    color: #fff;
}

#profile #never_used .ui-widget {
    display: block;
    margin: 0 0 10px 0;
    line-height: 18px;
}

#profile #never_used .ui-widget div {
    padding: 0 5px;
}

#profile #never_used .ui-widget .ui-icon {
    float: left;
    margin: 0 5px 0 0;
}

/* points -> */
#points #mark_expl {
    margin: 20px 0 10px 0;
}

#points #mark_expl span.mark {
    clear: both;
    width: 35px;
    height: 30px;
    display: block;
    float: left;
}

#points #hist_data {
    margin-left: auto;
    margin-right: auto;
}

#points #hist_data #history_options {
    margin: 20px 0 0 0;
}

#points #hist_data #history_options div {
    margin: 5px 0 0 0;
    text-align: center;
}

#payout #payout_data {
    padding: 0 20px;
    margin: 0 auto;
}

#points #hist_data table, #payout #payout_data table {
    width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
}

#payout #payout_data table {
    margin-bottom: 20px;
}

#payout #payout_data table td a {
    color: #000;
    font-weight: bold;
    font-size: 10px;
}

#payout #payout_data p#remove_payout {
    float: right;
    margin: 0 10px 15px 10px;
}

#payout #payout_data p#remove_payout .ui-widget .ui-icon {
    float: left;
    margin: 0 5px 0 0;
}

.voucher_code {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #ffc901;
    margin: 20px 0;
}

#points #hist_data table th, #points #hist_data table td, #payout #payout_data table th, #payout #payout_data table td {
    padding: 3px 0;
}

#points #hist_data table tbody tr, #payout #payout_data table tbody tr {
    cursor: default;
}

#points #p_progress {
    float: right;
    font-size: 10px;
    line-height: 18px;
}

#points #p_progress .ui-icon {
    float: left;
}

#points #points_tabs li a {
    padding: 6px 20px;
    text-transform: uppercase;
}

#points #coupons #coupon_icons {
    text-align: center;
}

#points #coupons #coupon_icons img {
    margin: 30px 10px 0px 10px;
    padding: 0;
}

#points #coupons #coupon_fields div {
    display: none;
}

#points #coupons #coupons_common {
    line-height: 16px;
    margin: 20px 0 0 0;
}

#points #coupons #coupons_common .ui-icon {
    float: left;
    margin: 0 5px 0 0;
}

#points #coupons .coupon_select {
    text-align: center;
    margin: 30px auto 0 auto;
    border: 1px solid #4d4d4d;
    width: auto;
    padding: 10px;
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
}

#points #coupons .coupon_select p {
    float: left;
    text-align: center;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#points #coupons .coupon_select p span {
    display: block;
    font-size: 10px;
}

#payout {
    width: 830px;
}

#payout h3 {
    padding: 2px 5px;
    margin: 15px 0 0 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

#payout #payout_points {
    float: right;
    font-size: 12px;
    font-weight: bold;
    width: 230px;
}

#payout .ui-icon {
    float: left;
}

#payout #points_select {
    width: 700px;
    margin: 30px auto;
}

#payout #payout_slider {
    float: left;
    width: 450px;
    margin: 0 auto;
    background: #aaa;
    padding: 3px;
}

#payout #payout_slider .ui-slider-handle {
    padding: 3px;
    border: 1px solid #a6a6a6;
}

#payout #payout_type {
    margin: 30px 0;
    text-align: center;
    font-size: 10px;
}

#payout #payout_delay {
    margin: 20px 0;
    display: none;
}

#payout #payout_delay div {
    margin: 20px 0;
    text-align: center;
}

#payout #payout_result {
    display: none;
    text-align: center;
}

#payout #payout_result h2 {
    text-align: left;
}

#payout #payout_result button {
    margin: 10px 0;
    padding: 3px 7px;
    font-size: 12px;
}

#payout #payout_result p {
    text-align: left;
    font-size: 24px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px #d4d4d4, 1px 1px 0 #803100;
    margin: 10px 0;
}

#payout .payout_data {
    text-align: left;
    width: 620px;
    margin: 20px auto;
    display: none;
}

#payout .payout_data input, #payout .payout_data label {
    width: 300px;
}

#payout .payout_data #lr_cur_box input, #payout .payout_data #lr_cur_box label, #payout .payout_data #ap_cur_box input, #payout .payout_data #ap_cur_box label {
    width: 50px;
}

/*#payout .payout_data input {
    float: right;
}*/

#payout .payout_data label {
    float: left;
    font-weight: bold;
}

#payout .payout_data #payout_dest {
    margin: 20px auto 0 auto;
    text-align: center;
}

#payout .payout_data #payout_dest input, #payout .payout_data #payout_dest label {
    width: auto;
    float: none;
}

#payout #payout_bw_de, #payout #payout_bw_eu, #payout #payout_bw_w {
    display: none;
}

#create_account table, #extend_account table {
    width: 600px;
    margin: 20px auto;
}

#create_account table th, #create_account table td, #extend_account table th, #extend_account table td {
    text-align: center;
    padding: 3px 5px;
}

#create_account #create_details, #extend_account #extend_details {
    margin: 30px 0 0 0;
    display: none;
}

#create_account #create_details p, #extend_account #extend_details p {
    text-align: center;
    margin: 30px 0 10px 0;
}

#create_account .ui-icon {
    float: left;
}

/* abuse -> */
#abuse div {
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
    padding: 10px 20px;
    border: 1px solid #4d4d4d;
}

/* payment -> */
#payment .text {
    line-height: 16px;
}

#payment .text span {
    color: #ddd;
    margin: 30px 0 10px 0;
    font-weight: bold;
    font-size: 12px;
    display: block;
    text-align: center
}

#payment .text span span {
    display: inline;
    margin: 0;
}

#payment .text .ui-icon {
    float: left;
    margin: 0 4px 0 0;
}

#payment table {
    margin: 10px auto;
    width: 100%;
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
    padding: 10px;
    border: 1px solid #4d4d4d;
    text-shadow: 2px 2px 0 #000;
}

#payment table#captcha {
    width: 400px;
}

#payment #captcha_btn {
    float: right;
    margin: 20px 65px 0 0;
}

#payment #captcha_btn .ui-button-text {
    font-size: 13px;
}

#payment table#captcha label {
    font-weight: bold;
    font-size: 12px;
}

#payment table#captcha td p {
    text-align: left;
    margin: 0 0 10px 0;
    text-shadow: none;
}

#payment table th {
    font-size: 13px;
    color: #ffc901;
    padding: 5px 10px;
    border-right: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
}

#payment table th span {
    float: left;
}

#payment table td {
    text-align: center;
    padding: 10px 15px;
    border-right: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
}

#payment table th.no_border, #payment table td.no_border {
    border-right: none;
}

#payment table td span {
    display: block;
    font-size: 10px;
}

#payment table td p.coupon {
    display: inline;
}

#payment table td span.coupon {
    display: inline;
}

#payment #payment_types {
    display: none;
}

#payment #payment_types th {
    padding: 20px 15px 10px 15px;
}

#payment .choose_type {
    display: none;
}

#payment .choose_type td button {
    background: none;
    border: none;
    margin: 8px;
    text-align: center;
    height: 35px;
    width: 115px;
    font-size: 9px;
    padding: 0 0 0 25px;
    color: #282828;
    overflow: hidden;
    display: block;
    float: left;
}

#payment .type_highlight {
    background: #2b2b2b;
    color: #ddd;
}

#payment .type_selected {
    background: #000;
    color: #ff6101;
}

#payment #ppl {
    display: none;
    padding: 10px 0 0 0;
}

#payment #coupon input {
    width: 125px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 6px;
}

#payment #coupon button {
    margin-left: 8px;
}

#payment #coupon p {
    margin: 0 0 10px 0;
}

#payment #coupon {
    text-align: left;
}

#payment #coupon .coupon_active {
    text-align: center;
    margin: 2px 0 0 0;
}

#payment #coupon .coupon_active strong {
    color: #09ce01;
}

#confirm_payment {
    font-size: 12px;
    color: #999;
    padding: 0 10px;
}

#confirm_payment h2 {
    margin-bottom: 20px;
}

#confirm_payment p {
    margin: 7px auto 0 auto;
    width: 400px;
    font-size: 14px;
}

#confirm_payment p span {
    display: block;
    float: left;
    width: 150px;
    font-weight: bold;
    padding: 0 0 0 20px;
}

#confirm_payment #register_input {
    margin: 30px auto;
    width: 350px;
}

#confirm_payment #register_input input {
    text-align: center;
    font-size: 14px;
    padding: 3px 6px;
}

#confirm_payment label {
    margin: 0 10px 0 20px;
}

#confirm_payment input {
    width: 250px;
}

#confirm_payment .no_subscr {
    display: inline;
    margin: 0;
    float: none;
}

#confirm_payment #pay_footer {
    float: right;
    margin: 40px 10px 0 0;
}

#confirm_payment #pay_footer input, #confirm_payment #pay_footer label {
    width: auto;
    margin: 0;
    padding: 0;
}

#confirm_payment #pay_footer label {
    margin: 0 10px 0 0;
}

#confirm_payment #pay_uk_footer .tooltip {
    margin: 0;
    padding: 0;
    float: none;
    clear: both;
}

#confirm_payment #pay_uk_footer {
    margin: 40px 0 0 0;
    text-align: center;
}

#confirm_payment #pay_uk_footer label {
    font-weight: bold;
    margin: 0 5px 0 10px;
}

#confirm_payment #pay_uk_footer #uk_code {
    width: 175px;
    text-align: center;
    font-size: 14px;
    padding: 3px 6px;
}

#confirm_payment #pay_uk_footer #uk_value {
    width: 45px;
    text-align: center;
    font-size: 14px;
    padding: 3px 6px;
}

#confirm_payment #pay_uk_footer #uk_code_ok {
    margin-left: 8px;
}

#confirm_payment #pay_uk_footer #uk_validate {
    margin-left: 10px;
}

#confirm_payment #pay_uk_footer #uk_check_result {
    height: 34px;
    margin: 10px;
    text-align: center;
}

#confirm_payment #pay_uk_footer #uk_currency_ok {
    display: none;
    margin: 40px 0;
}

#confirm_payment #pay_uk_footer #uk_currency_not_ok {
    display: none;
    margin: 20px 0 0 0;
}

#confirm_payment #pay_uk_footer #uk_descr {
    margin: 40px 0 0 0;
    text-align: left;
}

#confirm_payment #pay_uk_footer #uk_pay_start {
    display: none;
    float: right;
    margin: 25px 10px 0 0;
}

#confirm_payment #pay_uk_footer .ukloading {
    padding: 0;
    margin: 0;
    border: 1px solid #4d4d4d;
}

#confirm_payment #pay_uk_footer #uk_pay {
    margin: 40px 0 0 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    display: none;
}

/* rup -> */
#rup #upload_file_container {
    border: 1px solid #4d4d4d;
    width: 820px;
    padding: 3px 0;
    margin: 5px auto 0 auto;
}

#rup .upload_file {
    width: 800px;
    border-bottom: 1px solid #4d4d4d;
    margin: 4px auto;
    padding: 5px 0;
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
}

#rup .upload_file div {
    float: left;
    overflow: hidden;
}

#rup .upload_file div.file_status {
    width: 50px;
    text-align: center;
}

#rup .upload_file div.file_url {
    width: 330px;
    color: #eee;
}

#rup .upload_file div.file_type {
    width: 60px;
    text-align: center;
}

#rup .upload_file div.file_size {
    width: 100px;
    text-align: center;
}

#rup .upload_file div.file_date {
    width: 140px;
    text-align: center;
}

#rup .upload_file div.file_actions {
    text-transform: uppercase;
}

#rup .upload_file div.file_actions img {
    vertical-align: text-bottom;
}

#rup .upload_file div.file_actions label {
    font-weight: bold;
    font-size: 10px;
}

#rup .file_save {
    text-align: right;
    margin: 10px 30px 0 0;
}

#rup .file_save button .ui-button-text {
    font-size: 10px;
}

#rup #file_icons {
    width: 800px;
    margin: 5px auto;
}

#rup #file_icons #icons {
    margin-right: 10px;
    margin-left: 16px;
    text-transform: uppercase;
    line-height: 16px;
}

#rup #file_icons p {
    margin: 2px 0;
    float: left;
}

#rup #file_icons p span {
    display: none;
    margin: 0 12px 0 0;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

#rup #file_icons p img {
    vertical-align: middle;
    margin: 0 5px 0 0;
}

#rup #remote_uploads_container {
    border: 1px solid #4d4d4d;
    width: 820px;
    padding: 3px 0;
    margin: 20px auto 0 auto;
}

#rup #remote_uploads_container textarea {
    width: 780px;
    height: 180px;
    margin: 0 auto;
    display: block;
    border: 0;
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
    color: #eee;
    padding: 10px;
}

#rup #success_info {
    display: block;
    margin: 0;
    line-height: 18px;
}

#rup #success_info div {
    padding: 0 5px;
}

#rup #success_info .ui-icon {
    float: left;
    margin: 0 5px 0 0;
}

#rup #select_rows {
    margin: 30px 30px 0 0;
    padding: 0;
}

#rup #select_rows div {
    float: right;
    margin: 0;
    padding: 0;
}

/* email_sent login_error -> */
#email_sent div, #login_error div {
    border: 1px solid #4d4d4d;
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
    padding: 40px;
    margin: 0 20px;
}

#email_sent h1, #login_error h1 {
    margin: 10px 0 40px 0;
    text-transform: uppercase;
    color: #01c0e9;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 0 #000;
}

#email_sent h2, #login_error h2 {
    margin: 30px 0 0 0;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    text-shadow: 2px 2px 0 #000;
}

#email_sent h1 img, #login_error h1 img {
    vertical-align: text-bottom;
}

#login_error h2 img {
    vertical-align: middle;
}

#login_error #error_remain {
    margin: 30px 0 0 0;
    font-size: 12px;
}

#login_error #resend {
    margin: 60px 30px 0 0;
    text-align: right;
}

#login_error #resend a {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

/* affiliate */
#affiliate #banner_output {
    width: 750px;
    margin: 0 auto;
}

#affiliate #banner_output img {
    display: block;
    margin: 10px auto;
}

#affiliate #banner_output textarea {
    display: block;
    width: 728px;
    margin: 10px auto;
    padding: 5px;
    background: #131313;
    border: 1px solid #262626;
    color: #999;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

/* payments -> */
#payments table {
    width: 840px;
    margin: 0 auto;
    border: 1px solid #4d4d4d;
    text-align: center;
}

#payments table tr {
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
}

#payments table th {
    padding: 10px;
    border-bottom: 1px solid #4d4d4d;
    color: #ddd;
}

#payments table td {
    padding: 10px;
    border-bottom: 1px solid #4d4d4d;
}

/* pay per lifetime -> */
#ppl table {
    width: 640px;
    margin: 0 auto;
    border: 1px solid #4d4d4d;
    text-align: center;
}

#ppl table tr {
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
}

#ppl table th {
    padding: 10px;
    border-bottom: 1px solid #4d4d4d;
    color: #ddd;
}

#ppl table td {
    padding: 10px;
    border-bottom: 1px solid #4d4d4d;
}

/* ftpupload -> */
#ftpupload h3 {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin: 30px 0 20px 0;
}

#ftpupload h2 {
    margin: 50px 0 0 0;
}

#ftpupload #ftp_queue h2 {
    color: #fff;
    font: bold 16px Arial;
    margin: 40px 0 15px 0;
    text-shadow: 1px 1px 0 #000;
}

#ftpupload table {
    width: 840px;
    margin: 20px auto;
    border: 1px solid #4d4d4d;
    text-align: center;
}

#ftpupload table tr {
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
}

#ftpupload table th {
    padding: 10px;
    border-bottom: 1px solid #4d4d4d;
    color: #ddd;
}

#ftpupload table td {
    padding: 10px;
    border-bottom: 1px solid #4d4d4d;
}

#ftpupload p img {
    margin: 20px 0;
}

/* prepaid -> */
#prepaid #prepaid_items {
    width: 840px;
    margin: 20px auto;
}

#prepaid #prepaid_items div {
    margin: 0 5px;
    padding: 0;
    float: left;
    text-align: center;
    width: 198px;
    height: 232px;
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
    border: 1px solid #4d4d4d;
}

#prepaid #prepaid_items h2 {
    font-size: 24px;
    text-shadow: 2px 2px 0 #000, 0 0 15px #ccc;
}

#prepaid #prepaid_items h2.pp_inactive {
    color: #ccc;
}

#prepaid #prepaid_items img {
    margin: 15px 0;
}

#prepaid .pp_fee {
    margin: 15px 0 0 0;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

#prepaid .pp_btn {
    margin: 15px 0 0 0;
}

#prepaid #prepaid_items .pp_back_act {
    background: url(/template/images/back_dark.jpg) top center no-repeat #0e0e0e;
}

#prepaid #prepaid_items .pp_back_norm {
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
}

#prepaid #autoextend p {
    margin: 20px auto 10px auto;
}

#prepaid #autoextend div {
    width: 700px;
}

#prepaid #autoextend label {
    text-transform: uppercase;
}

#prepaid #convert_points {
    width: 350px;
    margin: 20px auto;
    background: #aaa;
    padding: 3px;
}

#prepaid #convert_points .ui-slider-handle {
    padding: 3px;
    border: 1px solid #a6a6a6;
}

#prepaid #convert_points_val {
    width: 700px;
    text-align: center;
    margin: 10px auto;
    font-size: 12px;
}

#prepaid #convert_points_btn {
    width: 700px;
    text-align: right;
    display: none;
}

/* Tools -> */
#tools {
}

#tools .soup {
    margin: 0 0 0 50px;
}

#tools .soup h3 {
    margin: 0;
    padding: 0 0 8px 0;
    font-weight: bold;
}

#tools .changelog {
    width: 700px;
    height: 170px;
    border: 1px solid #4d4d4d;
    margin: 0 auto;
}

#tools .changelog textarea {
    width: 680px;
    padding: 10px;
    height: 150px;
    background: #131313;
    border: 0;
    color: #999;
    font-weight: normal;
    font-size: 11px;
}

#tools img.cli {
    border: 1px solid #4d4d4d;
}

#api {
    margin: 0 0 0 20px;
}

#api pre {
    margin: 10px;
    color: #eee;
}

#api h3 {
    margin: 20px 0 10px 0;
    font-size: 14px;
}

#api textarea {
    display: block;
    margin: 0 auto;
    border: 1px solid #4d4d4d;
    background: #131313;
    color: #999;
    width: 700px;
    height: 150px;
    padding: 5px;
}

#api .button {
    display: block;
    float: right;
    margin: 0 65px 0 0;
}

#nopaste #nopaste_content h3 {
    margin-top: 0;
}

#nopaste #nopaste_content {
    padding: 5px;
}

#nopaste #nopaste_content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nopaste #nopaste_content #text_container {
    border: 1px solid #4d4d4d;
    width: 820px;
    padding: 3px 0;
    margin: 20px auto 0 auto;
}

#nopaste #nopaste_content textarea {
    width: 780px;
    height: 180px;
    margin: 0 auto;
    display: block;
    border: 0;
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
    color: #eee;
    padding: 10px;
}

#nopaste #nopaste_content #btn_paste {
    float: right;
    margin: 10px 20px 0 0;
}

#nopaste #nopaste_content #nopaste_options {
    float: left;
    margin: 10px 0 0 20px;
}

#nopaste #nopaste_content #nopaste_options p {
    float: left;
    line-height: 18px;
    margin: 0 20px 0 0;
}

#nopaste #nopaste_content #nopaste_options p span {
    display: block;
    float: none;
    text-align: center;
}

#nopaste #nopaste_content #nopaste_options p .ui-icon {
    float: left;
}

#nopaste #nopaste_content #nopaste_options label {
    color: #ffc901;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
}

/* Earn --> */
#earn h2 {
    text-align: center;
    font-size: 20px;
    border-bottom: 2px dashed #4d4d4d;
    margin: 10px;
    width: 680px;
    padding: 20px 5px 5px 5px;
    margin: 5px auto;
}

#earn p {
    padding: 10px 20px;
}

#earn table {
    margin: 10px auto;
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
    padding: 10px;
    border: 1px solid #4d4d4d;
    text-shadow: 2px 2px 0 #000;
}

#earn table th {
    font-size: 13px;
    color: #ffc901;
    padding: 5px 10px;
    border-right: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
}

#earn #aff_active {
    position: relative;
    margin: 50px 0 0 0;
    border: 4px solid #880000;
    padding: 20px;
}

#earn #aff_active #aff_active_txt {
    position: absolute;
    height: 20px;
    top: -28px;
    right: 28px;
    border-top: 4px solid #770000;
    border-left: 4px solid #770000;
    border-right: 4px solid #770000;
    margin: 0;
    padding: 0 5px;
    line-height: 20px;
    font-size: 11px;
}

#earn #aff_not_active {
    position: relative;
    margin: 50px 0 0 0;
    border: 4px solid #3c3c3c;
    padding: 20px;
}

#earn #aff_not_active #aff_not_active_txt {
    position: absolute;
    height: 20px;
    top: -28px;
    right: 28px;
    border-top: 4px solid #2b2b2b;
    border-left: 4px solid #2b2b2b;
    border-right: 4px solid #2b2b2b;
    margin: 0;
    padding: 0 5px;
    line-height: 20px;
    font-size: 11px;
}

#earn table td {
    text-align: center;
    padding: 15px;
    border-right: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
    font-size: 14px;
}

#earn table .zoneinfo p {
    background: #363636;
    padding: 5px 10px;
    border: 1px solid #4d4d4d;
    text-align: left;
    font-size: 10px;
}

#earn table .zoneinfo p span {
    color: #ffc901;
    font-weight: bold;
    line-height: 18px;
}

#torrentupload .torrent_entries h3 {
    padding: 2px 5px;
    margin: 15px 0 0 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

#torrentupload .torrent_entries .torrent_actions p a {
    line-height: 18px;
    padding-left: 3px;
}

#torrentupload .torrent_entries .torrent_actions p a span {
    float: left;
}

#torrentupload #torrent_upload {
    margin: 10px auto;
    padding: 20px 10px;
    border: 1px solid #4d4d4d;
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
}

#torrentupload #torrent_upload td {
    padding: 5px 10px;
}

#torrentupload #torrent_upload input {
    width: 400px;
}

/* payacc */
#payacc, #payacc_customer {
    padding: 10px;
    border: 1px solid #4d4d4d;
}

#payacc {
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
}

#payacc_customer {
    border-top: 0;
}

#payacc_customer p {
    line-height: 30px;
    width: 70%;
    margin: 0 auto;
    clear: both;
}

#payacc_customer p label {
    display: block;
    width: 100%;
}

#payacc_customer p label span.customer_input {
    float: right;
    text-align: right;
}

#payacc_customer p label span.customer_input input, #payacc_customer p label span.customer_input option {
    padding: 2px 5px;
    font-size: 12px;
}

#payacc_customer p label span.customer_input input[name='customer_zip_code'],
#payacc_customer p label span.customer_input input[name='customer_card_cvv2']{
    width: 100px;
}

#payacc_customer p label span.customer_input input[name='customer_email'],
#payacc_customer p label span.customer_input input[name='customer_city'],
#payacc_customer p label span.customer_input input[name='customer_card_holder_name']{
    width: 150px;
}

#payacc_customer p label span.customer_input input[name='customer_first_name'],
#payacc_customer p label span.customer_input input[name='customer_last_name'],
#payacc_customer p label span.customer_input input[name='customer_card_number'] {
    width: 200px;
}

#payacc_customer p label span.customer_input input[name='customer_address'] {
    width: 250px;
}

#payacc_customer p#error,
#payacc_customer p label span.customer_input input.error {
    border: 1px solid #fc0106;
    padding: 5px 7px;
}

#payacc_customer p#error,
#payacc_customer p label span.customer_input label.error {
    color: #fc0106;
    text-align: right;
}

#payacc_customer p#error {
    text-align: center;
    margin-bottom: 20px;
    display: none;
}

#payacc_customer #payacc_pages {
    text-align: center;
    padding: 25px 0;
}

#payacc_customer #payacc_pages .payacc_page {
    width: 150px;
    border: 1px solid #4d4d4d;
    text-align: center;
    padding: 15px 0;
    background: url(/template/images/back_dark.jpg) center center no-repeat #0e0e0e;
    color: #ffc901;
}

#payacc_customer #payacc_pages .payacc_page:disabled {
    color: #4d4d4d;
}

#payacc_customer #payacc_address,
#payacc_customer #payacc_payment {
    display: none;
}

#payacc_customer .page_btn {
    padding: 10px 0 0 0;
    width: 70%;
    margin: 0 auto;
    text-align: right;
}