@import "/AT/de/shop/content/css/extContentCMS.css";  /* Stylesheet CJ ergänzt für CMS-Inhalte */
/*@import "/AT/de/shop/content/shoefashion/stylesheets/as_all.css"; 	 *//* Stylesheet von Axel Springer */
@import "/AT/de/shop/content/css/camera.css";  /* Stylesheet für Camera-Slider */

/* eingefügt CJ als cufon-Ersatz testen */
@font-face {
    font-family: 'DeichmannWebLight';
    src: url('css/font/deichmannweb-light.eot');
    src: url('css/font/deichmannweb-light.eot?#iefix') format('embedded-opentype'),
	url('css/font/deichmannweb-light.woff') format('woff'),
	url('css/font/deichmannweb-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	}

td.desc{  
	font-family: 'DeichmannWebLight',Arial,Verdana,Helvetica,sans-serif;
}
/* Ende eingefügt CJ als cufon-Ersatz testen */

/* Styles in CMS? */

ul.arrow-orange{
	text-align: right;
}

ul.arrow-orange li{
	color: #ef7307;
	font-family:  deichmannregular, Arial, Helvetica;
	font-size: 14px; 
	background: url('css/img/arrow-orange.png') no-repeat right;
	list-style-type:none;
	padding-right: 16px;
	margin-bottom: 10px;
	cursor: pointer;
}
ul.arrow-orange li a{ /* CJ eingefügt weil links in Listenpunkte des Shoefashion-Teasers eingefügt */
	color: #ef7307;
	font-family:  deichmannregular, Arial, Helvetica;
	font-size: 14px; 
}

/* re-usable classes */
a.nav-previous{
	width: 10px;
	height: 10px;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -3px -1px;
	cursor: pointer;
}

a.nav-next{
	width: 10px;
	height: 10px;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -11px -1px;
	cursor: pointer;
}

a.show-icon-company{
	height: 14px;
	padding-left: 20px;
	padding-top: 2px;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -580px -60px;	
}

a.show-icon-branch{
	height: 24px;
	padding-left: 20px;
	padding-top: 4px;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -580px -30px;	
}

a.show-icon-greenarrow{
	height: 14px;
	padding-left: 10px;
	padding-top: 2px;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -585px -78px;	
}

a.show-icon-facebook{
	min-width: 24px;
	height: 24px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -573px -118px;	
}

a.show-icon-youtube{
	min-width: 24px;	
	height: 24px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -573px -159px;	
}

a.show-icon-google{
	min-width: 24px;
	height: 24px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -573px -200px;	
}

a.show-icon-trendblog{
	min-width: 65px;	
	height: 19px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -531px -241px;	
}

a.show-icon-instagram {
	min-width: 25px;	
	height: 25px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat 0px -790px ;	
}
a.show-icon-pinterest{
	min-width: 25px;	
	height: 25px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat 0px -825px ;	
}
a.show-icon-spotify{
	min-width: 25px;	
	height: 25px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat 0px -950px ;	
}
a.show-icon-twitter{
	min-width: 25px;	
	height: 25px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat 0px -984px ;	
}
a.notext{
	padding-left: 0;
	margin-right: 5px !important;
}

a.show-icon-faq{
	height: 18px;
	padding-left: 20px;
	padding-top: 7px;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -580px -90px;	
}

.show-icon-apps{
	min-width: 142px;	
	height: 22px;
	padding-left: 143px;
	padding-top: 8px;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -459px -280px;	
}

.show-icon-signup{
	min-width: 51px;	
	height: 32px;
	padding-left: 60px;
	padding-top: 16px;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -540px -348px;	
}

/*---------------------------------
	content_stage
-----------------------------------*/
#content_stage{
	width: 958px;
	margin-bottom: 5px;
	position: relative;
}

/*---------------------------------
	content_teaser
-----------------------------------*/
#content_teaser{
	width: 942px;
	margin-top: 20px;
	position: relative;
}

#content_teaser .row{
	margin-bottom:  5px; /* geändert von 30  wg Abstand zum Footer 19.02.2014 CJ */
	display: block;
	position: relative;
}
#content_teaser .row{
	position: relative;
}
#content_teaser .row > div {
	position: relative;
}

#content_teaser div.small{
	width: 307px;
	margin-left: 10px;
	float: left;
	border-bottom: solid 1px #545454;
	text-align: center;
}

#content_teaser .row1 div.small{
	height: 240px !important;
}

#content_teaser .row > div:first-child {
	margin-left: 0;
}

#content_teaser div.small img{
	display: block;
}
#content_teaser .cta,
#content_teaser .cta span a {
	font-family: deichmannlight,Arial,Helvetica,sans-serif;
}
/* Scene7-Teaser */
#content_teaser .tS7 ul {
	overflow: hidden;
}
#content_teaser .tS7 ul li {
	float: left;
	position: relative;
	display: none;
}
#content_teaser .tS7 ul li:first-child {
	display: block;
}
#content_teaser .tS7 .cta {
	display: none;
}
#content_teaser .tS7 dt a {
	display: none;
}

#content_teaser .tS7 .m_set_thumb_cross_sell .price, 
#content_teaser .tS7 .m_set_thumb_start .price {
	background: transparent none;
	top: 122px;
	bottom: 0;
	height: auto;
	width: 100%;
	color: #515151;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 16px !important;
	font-weight: bold;
}

#content_teaser .tS7 .m_set_thumb_cross_sell .price .desc, 
#content_teaser .tS7 .m_set_thumb_start .price .desc {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 10px !important;
	line-height: normal !important;
}

#content_teaser .tS7 .m_set_thumb .image {
	padding-bottom: 0;
}
#content_teaser .tS7 .module-without-bg, 
#content_teaser .tS7 .module {
	background: transparent none;
	margin-bottom: 0;
}
/* End Scene7-Teaser */

/* Set-Teaser-Umgestaltung */
#content_teaser .tS7 li.third {
	height: 270px;
}
#content_teaser .tS7 a.setName {
	display: block;
	position: relative;
	bottom: -15px;
	font-family: deichmannlight,Arial,Helvetica;
	padding-right: 20px;
	text-transform: uppercase;
	font-size: 12px;
	color: #545454;
}
#content_teaser .tS7 a.setName:hover {
	text-decoration: none;
}
#content_teaser .tS7 a.setName span.next {
	background: url("css/img/sprite.png") no-repeat scroll -12px 0px rgba(0, 0, 0, 0);
	display: inline-block;
	
	height: 100%;
	line-height: 15px;
	width: 11px;
}

#content_teaser .cta_set a.nav-previous {
	background: url("css/img/sprite.png") no-repeat scroll 0 -860px rgba(0, 0, 0, 0);
	bottom: 80px;
	cursor: pointer;
	display: inline-block;
	height: 35px;
	left: 0;
	position: absolute;
	width: 15px;
}
#content_teaser .cta_set a.nav-next {
	background: url("css/img/sprite.png") no-repeat scroll 0px -905px rgba(0, 0, 0, 0);
	bottom: 80px;
	cursor: pointer;
	display: inline-block;
	height: 35px;
	position: absolute;
	right: 0;
	width: 15px;
}
#content_teaser .tS7 li.third a img {
	margin-left: 18px;
}


#content_teaser .tCat img {
	/* position: absolute; */ 
	bottom: 0;
	left: 0;
	margin-top: 6px; /* CJ 25.04.2014 */
}
/* End Catalog-Teaser */
#content_teaser.cf .tVid img { /* class cf ergänzt. damit Template auch für Magazin-Seite genutzt werden kann */
	/* 	padding-top: 31px;
	padding-left: 8px; */
	margin-top: 6px;
}
#content_teaser.cf .default img { /* CJ */
	margin-top: 6px;
}
/* reset default link style for ctas */
#content_teaser .cta span a {
	font-size: inherit;
	color: inherit;
}
#content_teaser .cta span a:hover {
	text-decoration: none;
}

#content_teaser div#trendblog-teaser ul li{
	text-align: left;
	border-top: dotted 1px #999999;
	padding: 10px 5px;
	/* Opera */ 
	background-image: -o-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ffffff));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #f5f5f5, #ffffff);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF5F5F5, endColorstr=#FFFFFFFF);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF5F5F5, endColorstr=#FFFFFFFF)";
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 100%);
 	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
}

#content_teaser div#trendblog-teaser li a.post-item{
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -302px -420px;
}


#content_teaser div#trendblog-teaser img.post-img{
	float: left;
	padding-left: 5px;
	width: 80px;
}


#content_teaser div#trendblog-teaser div.post-title{
	float: right;
	width: 195px; 
	padding-left: 10px;
	font-weight: bold;
	font-size: 14px;
	margin-right: 8px;
}

#content_teaser div#trendblog-teaser div.post-subtitle{
	width: 200px;
	padding-left: 10px;
	float: left;
}
#content_teaser div#trendblog-teaser img.tb_thumb{
	width: 80px;
	float:left;
}
/* Trendblog Teaser Magazin-Seite 3 Zeielen */

#content_teaser div#trendblog-teaser-three{
	background: url('css/img/sprite.png') no-repeat 0 -550px;
	padding-top: 50px;
}

#content_teaser div#trendblog-teaser-three ul li{
	text-align: left;
	border-top: dotted 1px #999999;
	padding: 5px 5px;
	/* Opera */ 
	background-image: -o-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ffffff));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #f5f5f5, #ffffff);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF5F5F5, endColorstr=#FFFFFFFF);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF5F5F5, endColorstr=#FFFFFFFF)";
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 100%);
 	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
}

#content_teaser div#trendblog-teaser-three li a.post-item{
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -302px -420px;
}

#content_teaser div#trendblog-teaser-three img.post-img{
	float: left;
	padding-left: 5px;
	width: 80px;
}

#content_teaser div#trendblog-teaser-three div.post-title{
	float: right;
	width: 195px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 14px;
	margin-right: 12px;
}

#content_teaser div#trendblog-teaser-three img.tb_thumb{
	width: 80px;
	float:left;
}
#content_teaser div#trendblog-teaser-three div.post-subtitle{
	width: 200px;
	padding-left: 10px;
	float: left;
}

/* Ende Trendblog Teaser 3 Zeilen */


#content_teaser div.small img#fbicon{
	display: relative;
	float: left;
	margin-left: 10px;
	cursor: pointer;
}

#content_teaser div.small div.fb-like-btn{
	padding: 5px 10px 10px 10px;
	display: relative;
	float: left;
}

#content_teaser div.small #custom_fb_stream{
	clear: both;
	text-align: left;
	margin-left: 10px;
	padding-top: 10px;
	max-width: 307px;
}

#content_teaser div.small #custom_fb_stream div#fb_steam_header{
	width: 307px;
	display: inline-block;
	border-bottom: solid 1px #e5e5e5;
	padding-bottom: 10px;
	margin
}

#content_teaser div.small #custom_fb_stream div#fb_steam_header img{
	vertical-align: top;	
	float: left;
}

#content_teaser div.small #custom_fb_stream div#fb_steam_header div#fb_name{
	width: 233px;
	float: left;
	color: #3B5998;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
}

#content_teaser div.small #custom_fb_stream div#fb_steam_header div#fb_status_time{
	float: left;
	padding-left: 10px;
	margin-top: 8px;
	color: #999999;
	font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
}

#content_teaser div.small #custom_fb_stream p#fb_status_msg{
	clear: both;
	text-align: left;
	padding-top: 10px;
	max-width: 307px;
	padding-top: 5px;
}

#content_teaser div.small #custom_fb_stream a#fb_status_link{
	margin-left: 5px;
	color: #3B5998 !important;
	text-decoration: none !important;
}

#content_teaser div.small #custom_fb_stream a#fb_status_link:hover{
	text-decoration: underline !important;
}

#content_teaser div.small #custom_fb_stream p#fb_status_msg.loading{
	text-align: center !important;
}

#content_teaser div.small #custom_fb_stream p#fb_status_msg.loading img{
	display: inline !important;
}

#content_teaser div.small .cta{
	width: 307px;
	text-align: center;
	position: absolute;
	bottom: 3px;
}
/* zweidrittel-Teaser */
#content_teaser .double img {
	/* position: absolute; */ 
	bottom: 0;
	left: 0;
	margin-top: 6px; 
}

#content_teaser div.double{
	border-bottom: 1px #545454;
    float: left;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 625px;
}
/* End zweidrittel-Teaser */
/*XL-Teaser AI*/
#content_teaser div.largexl{
	width: 948px;
	border-bottom: solid 1px #545454;
	/*overflow-y: hidden;
	overflow-x: hidden;*/
}

#content_teaser div.largexl .cta{
	text-align: center;
}
/*end XL*/

#content_teaser div.large{
	width: 466px;
	/* min-height: 107px; delete me */
	margin-left: 10px;
	float: left;
	border-bottom: solid 1px #545454;
	text-align: left; /* geändert von center für Streichpreise Trends CJ */
	overflow-y: hidden;
    overflow-x: hidden;
	position: relative;
}

#content_teaser .large ul{
	max-width: 144px;/* vorher 190px; */
	float: right;
	margin-bottom: 24px; /* sagt getit */
	margin-right: 4px;/* vorher 16px; */
}

#content_teaser div.large img{ /* bei getit mit > */
	float: left;
	
}
#content_teaser div.large.tTrend img{ 
	/* 	max-width: 307px; /* CJ */ */
}
/*
	.ie #content_teaser div.large img{
	max-width: 260px;
	}
	.ie #content_teaser div.large li img{
	max-height: 164px;
	}
*/

#content_teaser .large .m_product_thumb{
	margin-top: 0 !important;
	width: 124px;
}

#content_teaser .large .m_product_thumb .image{
	padding-bottom: 0 !important;
}

#content_teaser .large .m_product_thumb dt{
	display:none;
}

#content_teaser .large .m_product_thumb .brand{
	float: left;
	width: 100%;
	padding-top: 4px !important;
	padding-bottom: 6px;
}


#content_teaser .large .m_product_thumb dd{
	width: 100%;
	margin-left: 0;
}
#content_teaser div.large .cta{
	width: 466px;
	text-align: center;
	position: absolute;
	bottom: 2px;
}

#content_teaser div.cta span{
	text-transform: uppercase;
	font-family:  deichmannlight, Arial, Helvetica;
	font-size: 12px;
	color: #545454;
	cursor: pointer;
}



/* corporate_teaser */

#content_footer div#sitemap{
	/* Opera */ 
	background-image: -o-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ffffff));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #f5f5f5, #ffffff);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF5F5F5, endColorstr=#FFFFFFFF);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF5F5F5, endColorstr=#FFFFFFFF)";
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #F5F5F5 0%, #FFFFFF 100%);
 	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #F5F5F5 0%, #FFFFFF 100%);
}


/*  STAGE-Styles
----------------------------------------- */
#STAGE_CONTAINER {
	width: 942px;
	height: 643px;
	/* height: 628px; */
	position: relative;
}

#STAGE {
	width: 100%;
	height: 378px;
	position: relative;
}
#STAGE  li {
	width: 942px;
	height: 378px;
	position: absolute;
	left: 0;
	top: 0;
}

#STAGE span.ajaxUrl,
#STAGE span.stage_info {
	display: none;
}

/* Thumbnails */
#STAGE_THUMBS {
	height: 378px;
	position: absolute;
	right: 0;
	top: 0;
	background: transparent url(css/img/stage-bg.png) repeat  scroll 0 0;	
}

#STAGE_THUMBS li {
	position: relative;
	color: #515151;
	font-size: 12px;
	font-family: deichmannlight, Arial, Helvetica, sans-serif;
	border-top: 1px dotted #fff;
	cursor: pointer;
}
#STAGE_THUMBS li span.fe-image {
	display: none;
}

#STAGE_THUMBS li span.navName {
	display: table-cell;
	width: 139px;
	height: 46px;
	padding-left: 15px;
	vertical-align: middle;
	text-transform: uppercase;
}

#STAGE_THUMBS li.IS_ACTIVE span.fe-image {
	display: inline-block;
	width: 21px;
	height: 46px;
	position: absolute;
	left: -21px;
	top: 0;
	background: transparent url(css/img/sprite.png) no-repeat scroll 0 -33px;
}

#STAGE_THUMBS li.IS_ACTIVE {
	background: #fff none;
}

/* Productlist */
#STAGE_PRODUCTS {
	/* height: 250px; */
	height: 263px;
	position:relative;
}
#STAGE_PRODUCTS li {
	/* height: 240px; */
    height: 255px;
	float: left;
	margin: 4px 6px;
	background-color: #fff;
}

#STAGE_PRODUCTS li.first {
	margin-left: 9px;
}

/* End stage styles */

/*---------------------------------
	content_teaser_magazin
-----------------------------------*/
#content_teaser.magazin{
	margin-bottom: 5px;
	position: relative;
	margin-top: 0px;
	padding-bottom: 30px;
}

#content_teaser.magazin .row:FIRST-CHILD{
	margin-top: 30px;
}

#content_teaser.magazin .row{
	margin: 30px 0px 0px 0px;
	position: relative;
}

#content_teaser.magazin #content_footer{
	margin-top: 65px;
}

#content_teaser.magazin div.small{
	width: 307px;
	float: left;
	border-bottom: solid 1px #545454;
	text-align: center;
}

#content_teaser.magazin div.small img{
	max-width: 307px;
}

#content_teaser.magazin div.small img#fbicon{
	display: relative;
	float: left;
	margin-left: 10px;
	cursor: pointer;
}

#content_teaser.magazin div.small div.fb-like-btn{
	padding: 5px 10px 10px 10px;
	display: relative;
	float: left;
}

.magazin_content_header div.large .cta {
	width: 607px;
	text-align:center;
}

#content_teaser.magazin div.small .cta{
	width: 307px;
	text-align: center;
	position: absolute;
	bottom: 1px;
}

#content_teaser.magazin div.large{
	width: 466px;
	/* min-height: 107px; /* delete me */
	margin-right: 10px;
	float: left;
	border-bottom: solid 1px #545454;
	text-align: center;
	overflow-y: hidden;
}

#content_teaser.magazin .large ul{
	max-width: 190px;
	float: right;
	margin-right: 16px;
}

#content_teaser.magazin div.large img{
	float: left;
	max-width: 270px;
}

.ie #content_teaser.magazin div.large img{
	max-width: 260px;
}
.ie #content_teaser.magazin div.large li img{
	max-height: 164px;
}

#content_teaser.magazin div.large .cta{
	width: 466px;
	text-align: center;
	position: absolute;
	bottom: 1px;
}

#content_teaser.magazin .row .wide .magazin_trends span,
#content_teaser.magazin .small div.cta span:first-child,
.magazin_content_header div.cta span:first-child {
	text-align: left;
	text-transform: none;
	font-family:  Arial, Helvetica;
	font-size: 12px;
	color: #949494;
	margin: 5px 5px 6px 5px;
	cursor: default;	
	display:inline-block;
}

.magazin_trends div.cta span,
.magazin_content_header div.cta span,
#content_teaser div.cta span{
	text-transform: uppercase;
	font-family:  deichmannlight, Arial, Helvetica;
	font-size: 12px;
	color: #545454;
	cursor: pointer;
}

.magazin_header_img.large {
	float:right;
}

#magazin_header #sidebar {
	float:left;
	width:285px;
	position: relative;
	height: 687px;
}

.ie #magazin_header #sidebar {
	height: 686px;
}

.ie8 .magazin#content_teaser .row .wide .magazin_trends span {
	margin: 0 0 0 20px !important;
}

.ie8 .magazin#content_teaser .row .wide .magazin_trends div:first-child span {
	margin-left: 0 !important;
}

.ie9 #magazin_header #sidebar {
	height: 686px;
}

.ie10 #magazin_header #sidebar {
	height: 686px;
}

.chrome #magazin_header #sidebar {
	height: 687px;
}

.opera #magazin_header #sidebar {
	height:671px;
}

#magazin_header #sidebar .upper-menu {
	padding:15px;
	border-bottom:1px dotted #545454;
	background-image: url(css/img/bg_upper_menu.jpg);
	background-repeat: repeat-x;	
}

#magazin_header #sidebar .headline {
	margin-bottom:10px;
	font-family: deichmannregular, Arial, Helvetica;
	font-size: 12px;
}

#magazin_header #sidebar .vertical li span {
	background:url(css/img/sprite.png) -584px -398px;
	display:block;
	padding-left:10px;
	font-family: deichmannregular, Arial, Helvetica;
	font-size:12px;
	line-height: 20px;
}

#magazin_header #sidebar div.lower-menu li span{
	font-family: deichmannregular, Arial, Helvetica;
	font-size:12px;
	line-height: 14px;
}

#magazin_header #sidebar .lower-menu {
	text-transform:uppercase;
	padding:15px;
}

#magazin_header #sidebar .lower-menu ul li {
	margin-bottom:10px;
}

.magazin_header_img.large {
	padding-bottom:3px;
	border-bottom:1px solid #000;
	margin-right: 18px;
}

.facebook-box {
	/* margin-top:104px; */
	border-bottom:1px solid #000;
	padding-bottom:3px;
	width:307px;
	bottom: 0px;
	position: absolute;	
}

.ie .facebook-box {
	margin-top:100px;
}

#content_teaser.magazin .row .small {
	height:316px !important;
}

#content_teaser.magazin .row .wide {
	width:947px !important;
	margin-right: 10px;
	float: left;
	border-bottom: solid 1px #545454;
	/* 	text-align: center; */
	overflow-y: hidden;
}

#content_teaser.magazin .row .wide.large {
	height:107px !important;
}

#content_teaser.magazin .row .wide h2 {
	float:left;
	font-family:  caslonblack, Arial, Helvetica;
	position:absolute;
	color: black;
	font-size: 30px;
	line-height: 24px;
}

#content_teaser.magazin .row .wide .magazin_trends div:last-child span {
	margin: 0px;
}

#content_teaser.magazin .row .wide .magazin_trends span {
	float:left;
	width: 297px;
	margin: 0px 20px 0px 0px;
}

.magazin_trends {
	width: 942px;
	margin-top:31px;
}

#content_teaser.magazin div.wide .cta{
	width:942px;
	text-align: center;	
}

#content_teaser.magazin div.wide .teaser_wide img {
	max-width:auto !important;
}

.teaser_wide > div {
	float:left;
}

.teaser_wide > div:first-child {
	margin-right:10px;	
}

.teaser_wide .wide_small div:first-child {
	margin-bottom:7px;	
}

.chrome li.magazin ul.mdd{
	left: -105px;
}

li.magazin ul.mdd{
	padding: 0px 10px 15px 10px;
	width: 330px;
	left: -98px;
	background-image: url(css/img/mag_nav_background.jpg);
	background-repeat: repeat-x;
	background-color: white;	
}

li.magazin ul.mdd li a {
	color: #545454;
}

li.magazin ul.mdd li.subNavigation li:hover a{
	color: #009661;
}

li.magazin ul.mdd li:hover a{
	color: #545454;
}

li.magazin .subNavigation ul li.big a{
	text-transform: uppercase;	
	border-bottom: dotted 1px #cdcdcd;
	padding: 5px 0px 3px 0px;
	font-family: deichmannregular, Arial, Helvetica;
	font-size: 12px !important;
	/* font-variant: small-caps; */
}

li.magazin .subNavigation ul li.small a{
	background: url(css/img/sprite.png) -584px -395px;
	font-family: deichmannregular, Arial, Helvetica;
	font-size: 12px !important;
	padding-top: 5px;
}

li.magazin #leftNavigation{
	float:left;
	width: 150px;
}

li.magazin #rightNavigation{
	float: left;
	margin-left: 30px;
	width: 150px;
}

#ariadne.magazin {
	height: 28px;
	margin-left: 2px;
}

#ariadne.magazin span {
	font-size: 10px;
}

#ariadne.magazin li span.active {
	padding-left: 3px;
}

#ariadne.magazin li span.active {
	color: #009661;
}
/* Newsletter Layer Begin */
.home-layer.default{
    height: 553px;
    width: 632px;
    background: transparent url(http://deichmann.scene7.com/is/image/deichmann/newsletter_teaser_AT_de_background?$p_original$) no-repeat scroll 0 0;
}

.home-layer.default #newsletter-left {
    width: 330px;
    height: 77px;
    padding-top: 30px;
    font-family: 'deichmannlight';
	
}

.home-layer.default #newsletter-left h5 {
    text-transform: uppercase;
    font-size: 18px;
    float: left;
    padding-left: 30px;
    font-weight: normal;
}

.home-layer.default #newsletter-left span {
    text-align: left;
    float: left;
    padding: 8px 30px 0 30px;
    font-weight: normal;
}

.home-layer.default #newsletter-middle {
    width: 330px;
    padding-top: 6px;
    padding-left: 30px;
}

.home-layer.default #newsletter-middle input{
    width: 270px;
    height: 30px;
    border-radius: 2px;
    color: gray;
    padding-left: 5px;
}

.home-layer.default #newsletter-middle .btn{
    width: 140px; /* geändert von 130px um Zeilenumbruch zu vermeiden */
    background: none;
    border-bottom: solid 1px #545454;
	float: left;
	margin: 1px 0 0 1px;
	min-width: 25px;
	position: relative;
	text-align: center;
}

.home-layer.default #newsletter-middle .btn a{
    background: none;
    color: #545454;
	text-decoration: none;
	display: block;
	font-size: 11px;
	left: -1px;
	padding: 2px 12px;
	position: relative;
	top: -1px;
}

.home-layer.default #newsletter-middle .btn a span.arrow{
    background: url('css/img/sprite.png') no-repeat -11px 1px !important;
    height: 10px;
    width: 10px;
	padding-left: 12px;
}

.home-layer.default #newsletter-middle .btn a span.open-email-service{
    color: #545454;
    text-transform: uppercase;
    font-family: 'deichmannlight';
    font-size: 12px;
    background: none !important;
	margin-right: 4px;
}
.home-layer.default #newsletter-middle .btns {
	margin: 18px 0 0;
	overflow: hidden;
}
.home-layer.default #newsletter-middle .btns li {
	float: left;
	margin: 0 8px 0 0;
}

.home-layer.default #newsletter-right {
    display: none;
}
/* Newsletter Layer End */

.home-layer.content {
	height: 504px;
	width: 504px;
	overflow: hidden;
}


div#eKomiSeal_default {
	display:inline;
} /* ekomi Logo in einer Reihe mit den anderen.*/
#header_2014 .m_nav li ul a span {
	font-family: deichmannregular,Arial,Helvetica,sans-serif;
}

#header_2014 .m_nav li a span {
	font-family: deichmannmedium,Arial,Helvetica,sans-serif;
}

/* ++++++++++++++++++++++++++ CRM Deichmann PLUS  ++++++++++++++++++++++++++++++++++ */

#plus_account_advantage_left {
	text-decoration: none;
	border: #e5e5e5 1px solid;
	border-radius: 10px;
	margin: 5px;
    clear:both;
}

#plus_account_advantage_left div{
	background-color: #E5E5E5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 50px;
    margin-bottom: 24px;
}

#plus_account_advantage_left div h4{   /* vorher h3 */
    color: #545454;
	font-weight: normal;
	font-size: 20px !important;
	font-family: 'deichmannlight' !important;
    margin-top: 0px;
    padding-left: 13px;
    line-height: 54px;
}

#plus_account_advantage_left span{
    color: #545454;
	font-weight: normal;
	font-family: 'deichmannregular';
}

#plus_account_advantage_left span.customercard {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0 10px 0 10px;
    width: 215px;
    height: 139px;
    background: url('http://deichmann.scene7.com/is/image/deichmann/customercard_AT_de?$p_original$&wid=216') no-repeat 10px center;
}

#plus_account_advantage_left ul{
	padding-left: 10px;
	padding-bottom: 5px;
}

#plus_account_advantage_left ul li{
	background: url('http://deichmann.scene7.com/is/image/deichmann/checkmark?$p_original$') no-repeat 0 2px;
	padding-left: 40px;
	padding-top: 5px;
	line-height: 20px;
	list-style: none;
    color: #545454;
	font-weight:normal;
	font-size: 16px;
	font-family: 'deichmannlight';
    min-height: 32px;
}

#plus_account_advantage_left ul li:first-child {
	background: url('http://deichmann.scene7.com/is/image/deichmann/coloredCheckmark?$p_original$') no-repeat 0 0;
	padding-top:2px;
}

#plus_account_advantage_left ul li:last-child {
	padding-bottom: 5px;
}

#plus_account_advantage_right > div {
    margin-bottom: 20px;
}

#plus_account_advantage_right h2 { /* vorher h1 */
    font-family: deichmannlight !important;
    font-size: 20px !important;
    color: #cad200 !important;
    font-weight: normal !important;
    background-color: white !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    line-height: normal !important;
    height: 30px !important;
}

#advantage_leftmenu {
    padding-top: 50px;
}

#advantage_leftmenu #plus_account_advantage_right > div {
    margin-bottom: 0;
}

#advantage_leftmenu #plus_account_advantage_right h2 { /* vorher h1 */
    font-size: 16px !important;
    font-family: deichmannlight !important;
    color: white !important;
    background-color: #cad200 !important;
    line-height: 50px !important;
    height: 50px !important;
    padding-left: 15px !important;
    margin: 0 0 20px 0 !important;
}

#plus_account_advantage_right h3 { /* vorher h2 */
    color: #545454;
    font-family: deichmannregular;
    font-size: 15px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 0;
}

.MY_ACCOUNT #advantage_leftmenu #plus_account_advantage_right h3 { /* vorher h2 */
    height: auto;
    line-height: 30px;
    font-size: 15px;
    background: none;
    font-family: deichmannregular;
    padding: 0;
    margin: 0;
}

#plus_account_advantage_right li {
    list-style: none;
    margin-left: 42px;
    line-height: 21px;
    font-family: deichmannlight;
    font-size: 13px;
    color: #545454;
}

.MY_ACCOUNT #advantage_leftmenu #plus_account_advantage_right li {
    padding-left: 0 !important;
    background: none !important;
}

#plus_account_advantage_right .customercard {
    float: right;
    clear: both;
    margin-right: 1em;
    width: 170px;
    height: 109px;
    background: url('http://deichmann.scene7.com/is/image/deichmann/customercard_DE_de?$p_original$&wid=170') no-repeat;
}

#advantage_leftmenu #plus_account_advantage_right .customercard {
    width: 118px;
    height: 78px;
    background-size: 118px 78px;
    margin-top: 20px;
    margin-right: 0;
}

#plus_account_advantage_right h3::before { /* vorher h2 */
    content: '';
    position: relative;
    width: 22px;
    height: 22px;
    float: left;
    margin: .1em 0.35em 0em 0em;
    border-radius: 3px;
}

#plus_account_advantage_right li::before {
    content: '';
    position: relative;
    width: 6px;
    height: 5px;
    float: left;
    margin-left: -1em;
    margin-top: 6px;
    border-radius: 1px;
}

#plus_account_advantage_right .spar-plus h3:before, #plus_account_advantage_right .spar-plus li:before { /* vorher h2 */
    background-color: #c10069;
}

#plus_account_advantage_right .service-plus h3:before, #plus_account_advantage_right .service-plus li:before {/* vorher h2 */
    background-color: #fbbd1e;
}

#plus_account_advantage_right .info-plus h3:before, #plus_account_advantage_right .info-plus li:before { /* vorher h2 */
    background-color: #3cabc1;
}
#plus_registration_advantage_right {
    float: left;
    margin-left: 15px;
    width: 458px;
    box-sizing: border-box;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.ie #plus_registration_advantage_right h2{
	border: 1px solid #cad200;
}

.doiConfirmed #plus_registration_advantage_right {
	margin-left: 0;
}

#plus_registration_advantage_right > div {
    margin-bottom: 20px;
}

#plus_registration_advantage_right h2 { /* vorher h1 */
    font-family: deichmannlight !important;
    font-size: 22px !important;
    color: white !important;
    font-weight: normal !important;
    background-color: #cad200 !important;
    padding: 15px 0 4px 15px !important;
    margin: 0 !important;
    line-height: 22px !important;
    height: auto !important;
}

#plus_registration_advantage_right h2.small { /* vorher h1 */
    font-family: deichmannlight !important;
    font-size: 16px !important;
    color: white !important;
    font-weight: normal !important;
    background-color: #cad200 !important;
    padding: 0 0 15px 15px !important;
    margin: 0 0 15px 0 !important;
    line-height: 16px !important;
    height: auto !important;
	
    border-radius: 0;
}

#plus_registration_advantage_right h1 { /* vorher h2 */
    color: #545454;
    font-family: deichmannregular;
    font-size: 15px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 0;
}

.MY_ACCOUNT #advantage_leftmenu #plus_registration_advantage_right h3 { /* vorher h2 */
    height: auto;
    line-height: 30px;
    font-size: 15px;
    background: none;
    font-family: deichmannregular;
    padding: 0;
    margin: 0;
}

#plus_registration_advantage_right li {
    list-style: none;
    margin-left: 42px;
    padding: 0 0 0 15px;
    line-height: 21px;
    font-family: deichmannlight;
    font-size: 13px;
    color: #545454;
}

.MY_ACCOUNT #advantage_leftmenu #plus_registration_advantage_right li {
    padding-left: 0 !important;
    background: none !important;
}

#plus_registration_advantage_right .customercard {
    float: right;
    clear: both;
    margin-right: 15px;
    width: 170px;
    height: 109px;
    background: url('http://deichmann.scene7.com/is/image/deichmann/customercard_DE_de?$p_original$&wid=170') no-repeat;
}

#advantage_leftmenu #plus_registration_advantage_right .customercard {
    width: 118px;
    height: 78px;
    background-size: 118px 78px;
    margin-top: 20px;
    margin-right: 0;
}

#plus_registration_advantage_right h3::before { /* vorher h2 */
    content: '';
    position: relative;
    width: 22px;
    height: 22px;
    float: left;
    margin: .1em 0.35em 0em 15px;
    border-radius: 3px;
}

#plus_registration_advantage_right li::before {
    content: '';
    position: relative;
    width: 6px;
    height: 5px;
    border-radius: 1px;
    float: left;
    margin-left: -1em;
    margin-top: 6px;
}

#plus_registration_advantage_right .spar-plus h3:before, #plus_registration_advantage_right .spar-plus li:before { /* vorher h2 */
    background-color: #c10069;
}

#plus_registration_advantage_right .service-plus h3:before, #plus_registration_advantage_right .service-plus li:before { /* vorher h2 */
    background-color: #fbbd1e;
}

#plus_registration_advantage_right .info-plus h3:before, #plus_registration_advantage_right .info-plus li:before { /* vorher h2 */
    background-color: #3cabc1;
}
#deichmannappstore {
    padding-top: 50px;
}

#deichmannappstore h4 { /* vorher h3 */
	font-size: 16px;
	font-family: 'deichmannlight';
	font-weight: normal;
	color: #545454;
}

#deichmannappstore ul{
	padding-left: 0;
}

#deichmannappstore ul li,
#deichmannappstore p {
	font-family: 'deichmannregular';
	font-size: 12px;
	font-weight: normal;
}

#deichmannappstore ul li{
	background: url('http://deichmann.scene7.com/is/image/deichmann/checkmark_green?$p_original$') no-repeat 0 0 !important;
	min-height: 15px;
	padding-left: 15px;
	list-style: none;
	padding-right: 10px;
    margin-bottom: 10px;
}

#deichmannappstore p{
	padding-top: 6px;
}

#deichmannappstore p.goto_download{
	font-family: 'deichmannregular';
    font-size: 12px;
}

#deichmannappstore br{
	line-height: 0.25;
}

#deichmannappstore div:first-of-type img{
	float: right;
	padding-left: 35px;
	clear: both;
}

#deichmannappstore div:last-of-type img:nth-child(2){
	padding-left: 14px;
}

#deichmannappstore div:last-of-type {
	display: inline;
}

#plus_account_header {
	margin-bottom: 20px;
}
#plus_account_header h3 {  /* vorher h2 */
	font-size: 20px;
}
#plus_account_header .spar-plus h4, 
#plus_account_header .clearfix.infoserve h4 { /* vorher h3 */
	font-size: 14px !important;
}
#plus_account_header h3, #plus_account_header h4 { /* vorher h2 */ /* vorher h3 */
	font-family: deichmannregular,Helvetica,Arial,sans;
	font-weight: normal;
	color: white;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
}
#plus_account_header ul {
	margin: 0;
	padding: 0;
}

#plus_account_header ul li {
	font-family: deichmannlight,Helvetica,Arial,sans;
	font-weight: normal;
	font-size: 14px;
	color: white;
	background: url("http://deichmann.scene7.com/is/image/deichmann/lidot?$p_original$") no-repeat 0 4px;
/* 	background-size: 0.375rem; */
	padding-left: 15px;
	/* padding-top: 0.1875rem; */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 20px;
	list-style-type: none;
	/* margin-right: 0.3125rem;  */
}

.ie #plus_account_header ul li {
	font-size: 15px;
}

#plus_account_header .clearfix.infoserve{
	display: table;
	height: 220px;
}
#plus_account_header .one-third {
	box-sizing: border-box;
	display: table-cell;
	width:316px;
}
#plus_account_header .spar-plus, #plus_account_header .service-plus, #plus_account_header .info-plus {
	padding: 10px 15px;
}
#plus_account_header .spar-plus {
	background-color: #fbbd1e;
	margin-bottom: 20px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
#plus_account_header .spar-plus ul li {
	float: left;
}

#plus_account_header .info-plus {
	background-color: #3cabc1;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
#plus_account_header .service-plus {
	background-color: #c10069;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
/* #plus_account_header .kundenkarte { umbenannt in customercard */
#plus_account_header .customercard {
	text-align: center;
	background: url('http://deichmann.scene7.com/is/image/deichmann/customercard_DE_de?$p_original$') no-repeat center;
	background-position: center;
}
div#ma_advantage {
	posotion: relative;
}

div#ma_advantage h4 { /* vorher h3 */
	color: #545454;
	font-family: deichmannlight, Helvetica, Arial, sans;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 5px;
	margin-top: 50px;
	text-transform: uppercase;
	line-height: 37px;
}

div#ma_advantage h4:before { /* vorher h3 */
	content: "";
	background: #dddddd;
	position: relative;
	width: 25px;
	height: 37px;
	float: left;
	margin-right: 0.6em;
	border-top-right-radius: 0.35em;
	border-bottom-right-radius: 0.35em;
}

div#ma_advantage div.info_teaser_blue h4:before { /* vorher: .my_couponsarticle */  /* vorher h3 */
	background: #41aac0;
}

div#ma_advantage div.info_teaser_yellow h4:before {  /* vorher .my_wmgamesarticle */  /* vorher h3 */
	background: #fabc1a;
}

div#ma_advantage div.info_teaser_red h4:before {  /* vorher .my_salesarticle */ /* vorher h3 */
	background: #c20069;
}

div#ma_advantage div.my_showlayersarticle h4:before {  /* vorher h3 */
	background: #c20069;
}

div#ma_advantage div .my_benefits {
	min-height: 97px;
}

div#ma_advantage div div p.my_benefits_text {
	color: #545454;
	font-family: deichmannregular, Helvetica, Arial, sans;
	font-weight: normal;
	font-size: 13px;
	padding-bottom: 2px;
}

div#ma_advantage div div.my_benefits img {
	clear: both;
	float: left;
	margin-right: 10px;
}

div#ma_advantage div.my_couponsarticle h4 { /* vorher h3 */
	margin-top: 20px;
}

div#ma_advantage div.my_showlayersarticle {
	min-height: 50px;
}

div#ma_advantage div.my_benefits div.button-container, div#ma_advantage div.my_benefits div.dialog div.btns, div.dialog div#ma_advantage div.my_benefits div.btns, div#ma_advantage div.my_benefits div.dialog div.btn, div.dialog div#ma_advantage div.my_benefits div.btn {
	padding: 0;
}

#content .ma-faq h3 { /* vorher h2 */
    font-family: deichmannlight;
    font-size: 14px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#content .ma-faq ul {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}

#content .ma-faq ul li {
    background: url("http://deichmann.scene7.com/is/image/deichmann/arrow-right?$p_original$") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 15px;
}

#content .ma-faq ul li a {
    text-decoration: underline;
    font-size: 13px;
    line-height: 18px;
}

#content .ma-faq div {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
}

#content .ma-faq div p {
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 13px;
}

#content .ma-faq div a.pageup {
    background: url("http://deichmann.scene7.com/is/image/deichmann/arrow-up?$p_original$") no-repeat scroll right 2px transparent;
    bottom: 0;
    color: #00905e;
    font-family: deichmannlight;
    padding-right: 13px;
    position: absolute;
    right: 0;
}

#content .ma-faq div a.printlink {
    background: none;
	font-size: 13px;
    position: relative;
}

/*   CRM Content-Seite */
.crm_cmscontent  {
	width: 915px;
	line-height: 20px;
	font-family: deichmannlight,Helvetica,Arial,sans;
	font-weight: normal;
	font-size: 14px;
}
.crm_cmscontent span {
	font-weight: bold;
}
.crm_cmscontent h3 {
	font-size: 28px;
	font-weight: bold;
}
.crm_cmscontent h4 {
	font-size: 16px;
}
.crm_cmscontent h3,
.crm_cmscontent h4 {
	color: #FFF;
	margin: 0px 0px 5px;
	padding-top: 5px; 
}

#content .crm_cmscontent.header,
#content .crm_cmscontent.spar-plus,
#content .crm_cmscontent.info-plus,
#content .crm_cmscontent.service-plus {
	padding: 10px 15px;
	color: white;
	margin-bottom: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#content .crm_cmscontent.spar-plus ul li,
#content .crm_cmscontent.info-plus ul li,
#content .crm_cmscontent.service-plus ul li {
	color: white;
	background: url("http://deichmann.scene7.com/is/image/deichmann/lidot?$p_original$") no-repeat 0 4px;
	padding-left: 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	list-style-type: none;
}
#content .crm_cmscontent.info-plus {
	background-color: #3cabc1;	
}
#content .crm_cmscontent.spar-plus {
	background-color: #c10069;
}
#content .crm_cmscontent.service-plus { 
	background-color: #fbbd1e;	
}
#content .crm_cmscontent.header-image{
	margin-bottom: 15px;
}
#content .crm_cmscontent.header, 
#content .crm_cmscontent.vorteile_button { 
	background-color: #cad200 ;
	border: solid 1px #cad200;	
}
#content .crm_cmscontent.vorteile_button   {
	padding: 10px 35px;
	margin-bottom: 20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	float:right;
	width: auto;
	margin-right: 180px;
}
#content .crm_cmscontent.vorteile_button a   {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	line-height:24px;
	color: white;
}

#content .crm_cmscontent.vorteile_button a:after {
	content:' >';
	/* background: transparent url("../../img/dm-like/buttons/arrow_medium.png") center center no-repeat; */
	width: 11px;
	height: 13px;
	margin-left: 5px;
	position: relative;
	/* top: 3px; */
	top: 0px;
	display: inline-block;
}
/* Ende  CRM Content-Seite */

/* ++++++++++++++++++++++++++ ENDE CRM Deichmann PLUS  ++++++++++++++++++++++++++++++++++ */

/* Menüpunkt PLUS */
.m_nav ul.home li a.plus {
	background-color: #CAD200;
	padding: 4px 10px 0px 10px;
	border-radius: 9px;
}
.m_nav ul.home li a.sale {
	color: red;
}
.m_nav ul.home li a.grey {
	background-color: grey;
	color: white;
	padding: 4px 10px 0px 10px;
	border-radius: 9px;	 
}
.m_nav ul.home li a.black {
	background-color: black;
	color: white;
	padding: 4px 10px 0px 10px;
	border-radius: 9px;
}
/* Bugfix Doppeltes "Versand noch heute" ausblenden
* Nur in 16.7 ausspielen!
*/

.PRODUCT_DETAIL .product-infos > .block.business-hours {
      display: none;
}

/* End Bugfix Doppeltes "Versand noch heute" ausblenden
* Nur in 16.7 ausspielen!
*/
.new_m_nl_order
{
	position: relative;
	background: url("//a248.e.akamai.net/f/248/9086/10h/origin-g3.scene7.com/is/image/deichmann/deichmann_AT_de_nl_bg_register?$img_shop_stage$") no-repeat top left transparent;
	height: 620px;
}
.m_nl_order2
{
	background: url("//a248.e.akamai.net/f/248/9086/10h/origin-g3.scene7.com/is/image/deichmann/deichmann_AT_de_nl_bg_register?$img_shop_stage$") no-repeat top left transparent;
}
.m_nl_order3
{
	background: url("//a248.e.akamai.net/f/248/9086/10h/origin-g3.scene7.com/is/image/deichmann/deichmann_AT_de_nl_bg_register?$img_shop_stage$") no-repeat top left transparent;
}
/* CRM Content-Seite LIGHT */
.crm_cmscontent_light  {
	width: 720px;
	line-height: 24px;
	font-family: deichmannlight,Helvetica,Arial,sans;
	font-weight: normal;
	font-size: 18px;
}
.crm_cmscontent_light span {
	font-weight: bold;
}
.crm_cmscontent_light h2 {
	color: lightgray;
	clear:both;
	padding: 15px;
	font-size: 36px;
	font-weight:bold;
	text-align:center;
}
.crm_cmscontent_light h3 {
	font-size: 28px;
	font-weight: bold;
}
.crm_cmscontent_light h4 {
	font-size: 16px;
}
.crm_cmscontent_light h3,
.crm_cmscontent_light h4 {
	color: #FFF;
	margin: 0px 0px 5px;
	padding-top: 5px; 
}

/*  Ausklapplogik neu designed */
.crm_cmscontent_light.service-plus .show-hide a.show,
.crm_cmscontent_light.service-plus .show-hide a.hide {
	background: url(css/img/kreuz_service.png) no-repeat 0 0;
	
	color: #fbbd1e;
	
}
.crm_cmscontent_light.info-plus .show-hide a.show,
.crm_cmscontent_light.info-plus .show-hide a.hide {
	background: url(css/img/kreuz_info.png) no-repeat 0 0;
	color: #3cabc1;
}

.crm_cmscontent_light.spar-plus .show-hide a.show,
.crm_cmscontent_light.spar-plus .show-hide a.hide {
	background: url(css/img/kreuz_spar.png) no-repeat 0 0;
	color: #c10069;
}
.crm_cmscontent_light .show-hide a.show,.crm_cmscontent_light .show-hide a.hide {
	font-size: 16px;
	padding: 4px 0 10px 30px;
	font-weight: bold;
	text-transform: uppercase;
	float: right;
	top: 5px;
	right: 0px;
	position: absolute; 
}

.crm_cmscontent_light .show-hide .item {
 	border: none;
}
.crm_cmscontent_light .show-hide .item  span.teaserline{
 	width: 78%;
	display: block;
}
.crm_cmscontent_light .show-hide-wrapper {
	clear: both;
	width:78%;
	padding-top: 10px;
	font-size: 16px;
	font-weight: normal;
}

/*  ENDE Ausklapplogik neu designed */

#content .crm_cmscontent_light.header,
#content .crm_cmscontent_light.spar-plus,
#content .crm_cmscontent_light.info-plus,
#content .crm_cmscontent_light.service-plus {
	padding: 10px 15px;
	margin: 20px auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 3px solid grey;
}
#content .crm_cmscontent_light.header {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 3px solid grey;
	text-align: center;
	clear:both;
}

#content .crm_cmscontent_light.header h3 {
	color: #cad200;
	padding: 10px;
}
#content .crm_cmscontent_light.header  > div {
	display: table-cell;
	vertical-align: top;
}

#content .crm_cmscontent_light.header  > div img {
	width: 384;
	height: 216;
	border: 2px solid gray;
}
#content .crm_cmscontent_light.header div.right_con img {
	border: none;
}	
#content .crm_cmscontent_light.header div.right_con {
	padding-left: 10px;
	width:322px;
}
#content .crm_cmscontent_light.spar-plus ul li,
#content .crm_cmscontent_light.info-plus ul li,
#content .crm_cmscontent_light.service-plus ul li {
	padding-left: 135px;
	font-size: 20px;
	font-weight: bold;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	list-style-type: none;
	min-height: 110px; 
}

#content .crm_cmscontent_light.info-plus h3 ,
#content .crm_cmscontent_light.spar-plus h3,
#content .crm_cmscontent_light.service-plus h3 {
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#content .crm_cmscontent_light.info-plus h3 {
	background-color: #3cabc1;	
}
#content .crm_cmscontent_light.spar-plus h3{
	background-color: #c10069;
}
#content .crm_cmscontent_light.service-plus h3 { 
	background-color: #fbbd1e;	
}

#content .crm_cmscontent_light.vorteile_button, 
#content .crm_cmscontent_light .header_button  { 
	background-color: #cad200 ;
	border-radius: 7px;
}

#content .crm_cmscontent_light .header_button {
	padding: 10px 15px;
	margin-top: 35px; /*anpassen abhängig von videogröße */
	border-radius: 10px;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px; }

#content .crm_cmscontent_light .header_button a:after {
	content:' >';
}
#content .crm_cmscontent_light.vorteile_button {
	padding: 10px 35px;
	margin-bottom: 20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	float:right;
	width: auto;
	margin-right: 140px;
}

#content .crm_cmscontent_light.vorteile_button a ,
#content .crm_cmscontent_light .header_button a   {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	line-height:24px;
	color: white;
}

#content .crm_cmscontent_light.vorteile_button a:after {
	content:' >';
	width: 11px;
	height: 13px;
	margin-left: 5px;
	position: relative;
	top: 0px;
	display: inline-block;
}


/* Ende CRM Content-Seite LIGHT */

/* NEUE TRENDS - SVN Lieferung von getit */

#trend-overview-content .trend-teaser .text .content, #trend-stage .text, #trend-content .text {
	color: #030000;
	font-size: 18px;
	line-height: 24px;
	font-family: serif;
	font-style: italic;
}

#trend-overview-content .trend-teaser .left, #trend-content .left, #trend-overview-content .trend-teaser .right, #trend-content .right, #trend-stage .text {
	width: 50%;
	display: block;
	box-sizing: border-box;
}

#trend-overview-content .trend-teaser .left, #trend-content .left {
	float: left;
}

#trend-overview-content .trend-teaser .right, #trend-content .right {
	float: right;
}

#trend-overview-content .trend-teaser h3 {
	font-family: deichmannlight, Arial, Helvetica;
	background: url("img/trends/underline.png") no-repeat center bottom;
	padding-bottom: 20px;
	margin-bottom: 30px;
	margin-top: 75px;
	font-size: 26px;
	line-height: 26px;
	color: #030000;
	letter-spacing: 2px;
}
#trend-overview-content .trend-teaser img {
	display: block;
}
#trend-overview-content .trend-teaser .text {
	color: #030000;
	text-align: center;
	padding: 0 70px;
}

#trend-stage {
	position: relative;
	margin-top: 20px;
	overflow: hidden;
}
#trend-stage .text {
	position: absolute;
	top: 0;
	right: 0;
	padding: 30px 80px 0 30px;
	font-size: 25px;
	line-height: 27px;
}
#trend-stage a.prev-trend-link,
#trend-stage a.next-trend-link {
	position: absolute;
}
#trend-stage a.prev-trend-link > span,
#trend-stage a.next-trend-link > span {
	height: 74px;
	width: 74px;
	display: inline-block;
}
#trend-stage a.prev-trend-link {
	left: 0;
	background: url("img/trends/trend-arrow-left.png") 0 center no-repeat;
}
#trend-stage a.next-trend-link {
	right: 0;
	background: url("img/trends/trend-arrow-right.png") 0 center no-repeat;
}

#trendheader {
	color: #030000;
	position: relative;
	height: 40px;
	border: 1px solid black;
	border-left: 0;
	border-right: 0;
	font-family: sans-serif;
	padding: 0 20px;
}
#trendheader a.content {
	color: #030000;
	text-decoration: none;
	height: 40px;
	line-height: 44px;
	padding-left: 38px;
	position: relative;
	display: inline-block;
	z-index: 2;
	font-size: 20px;
	font-family: deichmannthin, Arial, Helvetica, sans-serif;
	float: left;
}
#trendheader a.content:before {
	content: '';
	height: 40px;
	width: 28px;
	display: inline-block;
	position: absolute;
	left: 0;
	background: url("img/trends/content-dots.png") no-repeat 0 center;
}
#trendheader h2 {
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
	text-align: center;
	line-height: 40px;
	width: 100%;
	font-size: 38px;
}
#trendheader div.socialicons {
	z-index: 2;
	position: relative;
	display: inline-block;
	height: 40px;
	float: right;
}
#trendheader div.socialicons a {
	margin-top: 4px;
	margin-left: 6px;
	display: inline-block;
}

.trend-headline {
	line-height: 30px;
	text-transform: uppercase;
	color: white;
	font-family: deichmannthin, sans-serif;
	padding: 0 20px;
	font-size: 50px;
	margin: 0;
	font-weight: normal;
}
.trend-headline.margin {
	margin: 30px 0;
}

#trend-overview-content:after {
	content: '';
}

#trend-content > img {
	margin-bottom: 85px;
}
#trend-content .text {
	text-align: center;
	padding: 0 20px;
	font-size: 23px;
	line-height: 27px;
}
/*buttons.css*/
.trend-thumb {
	margin-bottom: 20px;
	text-align: center;
}

.trend-button {
	box-sizing: border-box;
	height: 62px;
	width: 286px;
	border: 0;
	background: url("img/trends/trend-button.png") no-repeat;
	color: white;
	display: inline-block;
	position: relative;
	font-family: Arial, Helvetica, Sans-serif;
	text-align: center;
}
.trend-button span {
	text-transform: uppercase;
	font-size: 18px;
	border: 0;
	width: 230px;
	left: -5px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	bottom: -9px;
}
/* Ende buttons.css*/

/* NEUE TRENDS - SVN Lieferung von getit */

/* CRM-Bugfix 2559 */
.MY_ACCOUNT.COUPONS #content .cp_content .cp_ct div.cp_img img {
    height: auto;
    max-height: 137px;
    max-width: 272px;
}
/* End CRM-Bugfix 2559 */


/* css-Hack für Startseiten-Rebrush einschalten, wenn 15.9 live geht und class="sf2015" am Teaser steht (am Footer aus Property)*/
/* für alle Teaser CTA unsichtbar machen, bis alle Länder umgestellt sind. Dann CTA aus Templates löschen */
/* für alle theoretisch möglichen Teaser die border-bottom überschreiben, nach kompletter Umstellung css-Border löschen.*/

#content_teaser.sf2015 .tS7 a.setName,
.sf2015 div.cta  {
	display:none;
}

#content_teaser.sf2015  .small.tS7,
#content_teaser.sf2015  .small.tVid,
#content_teaser.sf2015  .small.tCat,
#content_teaser.sf2015  .small,
#content_teaser.sf2015  .large,
#content_teaser.sf2015  .largexl,
#content_teaser.sf2015  .small.default, 
#content_teaser.sf2015  .row .wide  {
	border: none;
}

/* content_footer 2015
-----------------------------------*/
#content_footer.sf2015 {
	margin-top: 20px;
	width: 942px; /* Änderung 07.10.2015: Height hinzugefügt */
}
#content_footer.sf2015 #footer_slider_container {
	position: inherit;
}
#content_footer.sf2015 #footer_slider_container div#footer_slider {
	width: 100% !important;
	padding: 10px 0 5px;
	border-top: 1px solid #dddddd;
	box-shadow: inset 0px 1px 0px 0px #353333;
	border-left: none;
	border-right: none;
	border-bottom: none;
	cursor: default;
	margin-top: -1px;
}
#content_footer.sf2015 #footer_slider_container div#footer_slider span {
	display: block;
	width: 100% !important;
	padding: 0;
	background: none;
	text-transform: uppercase;
	font-family: deichmannregular, Arial, Helvetica;
	font-size: 18px;
	color: #000000;
}
#content_footer.sf2015 #footer_slider{
	display: none;
}
#content_footer.sf2015 #footer_rows_container #footer_slider{
	display: block;
}
#sitemap + #seo-text{   /* doppelten SEO-Text-Bug ausblenden CJ666*/
	display:none;
	
}
/* Änderung 07.10.2015: h2, h3, h4 2x hinzugefügt */
#content_footer.sf2015 div#services .fe-services-col .theme h1,
#content_footer.sf2015 div#services .fe-services-col .theme h2,
#content_footer.sf2015 div#services .fe-services-col .theme h3,
#content_footer.sf2015 div#services .fe-services-col .theme h4,
#content_footer.sf2015 div#services .fe-services-col .theme h5,
#content_footer.sf2015 h1,
#content_footer.sf2015 h2,
#content_footer.sf2015 h3,
#content_footer.sf2015 h4,
#content_footer.sf2015 h5 {
	text-transform: uppercase;
	font-family: deichmannregular, Arial, Helvetica;
	font-size: 18px;
	font-weight: normal; /* Änderung 07.10.2015: font-weight hinzugefügt */
	color: #000000;
	padding-bottom: 11px;
	margin-bottom: 0;
	height: auto !important; /* Änderung 07.10.2015: height und line-height
	hinzugefügt */
	line-height: inherit !important;
}
#content_footer.sf2015 h2,
#content_footer.sf2015 h3 {
	text-transform: uppercase;
	font-family: deichmannregular, Arial, Helvetica;
	font-size: 14px;
	color: #000000;
}
#content_footer.sf2015 div#sitemap h1,
#content_footer.sf2015 div#sitemap h5 {
	text-transform: uppercase;
	font-family: deichmannregular, Arial, Helvetica;
	font-size: 14px;
	color: #525252;
	padding-top: 4px;
	padding-bottom: 15px;
}
#content_footer.sf2015 div#sitemap .sitemap-col li {
	/* 	text-transform: uppercase; */
	font-family: deichmannlight, Arial, Helvetica;
	font-size: 12px;
	color: #525252;
}
#content_footer.sf2015 .clr {
	clear: both;
}
#content_footer.sf2015 .content_footer_row {
	border-top: 1px solid #dddddd;
	box-shadow: inset 0px 1px 0px 0px #353333;
}

/*seo*/
#content_footer.sf2015 .seo {
	border-top: 1px solid #cccccc;
	margin-bottom: 19px;
}
/* Änderung 07.10.2015: h2, h3 und h4 hinzugefügt */
#content_footer.sf2015 .seo h2,
#content_footer.sf2015 .seo h3,
#content_footer.sf2015 .seo h4,
#content_footer.sf2015 .seo h5 {
	margin-top: 19px;
	background: #eaeaea;
	font-family: deichmannlight, Arial, Helvetica;
	font-size: 12.5px;
	text-transform: uppercase;
	padding: 10px 0 4px;
	text-align: center;
}
#content_footer.sf2015 .seo p {
	font-family: deichmannregular, Arial, Helvetica;
	margin-top: 17px;
}
#content_footer.sf2015 .seo p.quote {
	text-align: center;
}
/* services */
#content_footer.sf2015 div#services {
	background: none;
	background-image: none;
	margin-bottom: 0px;
}
#content_footer.sf2015 div#services .fe-services-col {
	color: #000;
	margin-top: 0;
	padding-top: 22px;
	width: 304px;
}
/* #content_footer.sf2015 div#services .fe-services-col.content_footer_row_left {
	width: 356px;
	}
	#content_footer.sf2015 div#services .fe-services-col.content_footer_row_middle {
	width: 278px;
} */
#content_footer.sf2015 div#services .fe-services-col.content_footer_row_right {
	line-height: 18px;
	/* width: 278px; */
}
#content_footer.sf2015 div#services .fe-services-col .theme {
	font-family: deichmannlight, Arial, Helvetica;
	font-size: 14px;
	margin-bottom: 24px;
	line-height: 17px;
}
#content_footer.sf2015 div#services .fe-services-col .theme#services-awards {
	margin-top: 85px;
}
#content_footer.sf2015 div#services .fe-services-col .theme#deliver_info {
	margin-top: 63px;
}
#content_footer.sf2015 div#services .fe-services-col
.theme#services-payment_security {
	line-height: 18px;
}
#content_footer.sf2015 .footer_tablelook_row {
	display: table-cell;
}
#content_footer.sf2015 div#services-customerservice .service_hotline {
	background: url('css/img/service-hotline_bg.png') no-repeat;
	width: 195px;
	padding: 17px 20px 16px;
	cursor: default;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-family: deichmannmedium, Arial, Helvetica;
	line-height: 1.5em;
	/*margin-left: -18px; Änderung im footer_long html vom 7.10. von getit */
	height: 53px;  /* Änderung im footer_long html vom 7.10. von getit */
}
#content_footer.sf2015 div#services-customerservice .service_hotline span {
	font-size: 20px;
	display: block;
}
#content_footer.sf2015 div#services-customerservice h3 {
	text-transform: none;
	margin-top: 3px;
	font-size: 14px;
	margin-bottom: 0;
}
#content_footer.sf2015 div#metanavigation {
	width: 100% !important;
	padding: 15px 0 5px;
	border-top: 1px solid #dddddd;
	box-shadow: inset 0px 1px 0px 0px #353333;
	border-left: none;
	border-right: none;
	border-bottom: none;
	background: none;
}
#content_footer.sf2015 div#metanavigation a {
	font-size: 12px;
	font-family: deichmannlight, Arial, Helvetica;
	color: #000;
}
#content_footer.sf2015 .fe-footer-row.no-seo-style#seo-text {
	display: none;
}
#content_footer #services-customerservice h5 {
	margin: 0;
}
#content_footer.sf2015 div#services #services-signup {
}
#content_footer.sf2015 div#services .fe-services-col .theme h1,
#content_footer.sf2015 div#services .fe-services-col .theme h5 {
}
#content_footer.sf2015 div#services .fe-services-col a,
#content_footer.sf2015 div#services .fe-services-col a:active,
#content_footer.sf2015 div#services .fe-services-col a:visited {
	color: #000000 !important;
	font-family: deichmannregular, Arial, Helvetica;
	font-size: 14px;
	position: relative;
	text-decoration: none !important;  /* NEU CJ666 */
	margin-right: 14px; /* NEU CJ666 */
}
.sf2015 a.show-icon-trendblog {
	min-width: 80px;
	height: 31px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -511px -1033px;
}
.sf2015 a.show-icon-instagram {
	min-width: 21px;
	height: 31px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -473px -1033px;
}
.sf2015 a.show-icon-pinterest {
	min-width: 21px;
	height: 31px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -438px -1033px;
}
.sf2015 a.show-icon-google {
	min-width: 21px;
	height: 31px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -403px -1033px;
}
.sf2015 a.show-icon-youtube {
	min-width: 21px;
	height: 31px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -368px -1033px;
}
.sf2015 a.show-icon-facebook {
	min-width: 21px;
	height: 31px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -331px -1033px;
}
.sf2015 a.show-icon-spotify {
	min-width: 21px;
	height: 31px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -297px -1033px;
}
.sf2015 a.show-icon-twitter {
	min-width: 21px;
	height: 31px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -261px -1033px;
}
.sf2015 a.show-icon-vkontakt_vk {
	min-width: 21px;
	height: 31px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -226px -1033px;
}
.sf2015 a.show-icon-vkontakt {
	min-width: 21px;
	height: 31px;
	padding-left: 10px;
	padding-top: 0;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -191px -1033px;
	}.sf2015 a.show-icon-company {
	height: 14px;
	padding-left: 20px;
	padding-top: 2px;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -587px -1005px;
}
.sf2015 a.show-icon-greenarrow {
	height: 14px;
	padding-left: 10px;
	padding-top: 0px;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -593px -1021px;
}
.sf2015 #services-faq a.show-icon-greenarrow {
	padding-left: 21px;
	background: url('css/img/sprite.png') no-repeat -586px -1021px;
}
.sf2015 a.show-icon-faq:before {
	content: '//';
	color: #000000 !important;
	font-family: deichmannregular, Arial, Helvetica;
	font-size: 14px;
	position: absolute;
	left: 3px;
}
.sf2015 a.show-icon-faq {
	background: none;
}
.sf2015 a.show-icon-branch {
	height: 24px;
	padding-left: 20px;
	padding-top: 4px;
	display: inline-block;
	background: url('css/img/sprite.png') no-repeat -585px -1071px;
}
#content_footer.sf2015 div#services-left {
	border: none;
}
#content_footer.sf2015 div#services-middle {
	border: none;
}
#content_footer.sf2015 div#services-right {
	border: none;
}
#content_footer.sf2015 div.fe-services-col p.img-text-link {
	margin: 12px 0;
}
#content_footer.sf2015 div.fe-services-col #services-awards p.img-text-link img {
	margin-top: -7px;
}
#content_footer.sf2015 div.fe-services-col #deliver_info p.img-text-link {
	margin-top: 5px;
}
#content_footer.sf2015 #services-customerservice table {
	margin-bottom: 0px;
}
#content_footer.sf2015 #services-customerservice td {
	padding-right: 25px;
}
#content_footer.sf2015 #services-customerservice td:first-child {
	font-family: deichmannmedium, Arial, Helvetica;
	line-height: 22px;
}
/* Ende Erg?nzungen f?r kleinen Footer */
/* corporate_teaser */
#content_footer.sf2015 div#corporate_teaser hr {
	display: none;
}
#content_footer.sf2015 div#corporate_teaser {
	width: 100% !important;
	padding: 21px 0 0px;
	margin-bottom: 0px;
	border-top: 1px solid #dddddd;
	box-shadow: inset 0px 1px 0px 0px #353333;
	border-left: none;
	border-right: none;
	border-bottom: none;
	margin-top: -8px;
}
#content_footer.sf2015 div#corporate_teaser .small {
	border: none;
	float: left; /* NEU CJ666 */
	text-align: center; /* NEU CJ666 */
	margin-right: 10px; /* NEU CJ666 */
	margin-left:0; /* NEU CJ666 */
	width: 307px; /* NEU CJ666 */
}
#content_footer.sf2015 div#corporate_teaser .small.tf3 {
	margin-right: 0;
}
#content_footer.sf2015 div#corporate_teaser .small img {
	margin-bottom: 0;
	max-width: 307px;  /* NEU CJ666 */
}
#content_footer.sf2015 div#corporate_teaser .small .cta {
	position: static; /* Änderung 07.10.2015: initial in static geändert */
	display: block;
	margin-top: 6px;
}
#content_footer.sf2015 div#corporate_teaser .small .cta a {
	width: auto;
	height: auto;
	background: none;
	position: relative;
}
#content_footer.sf2015 div#corporate_teaser .small .cta span {
	font-family: "Arial regular", Arial;
	font-size: 16px;
	text-transform: uppercase; /* NEU CJ666 */
}
#content_footer.sf2015 div#corporate_teaser .small .cta a span:after {
	content: '';
	left: 100%;
	top: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #010101;
	border-width: 6px;
	margin-top: -6px;
	margin-left: 5px;
}
/* Änderung 07.10.2015: Selektor ".js-seo-target" entfernt: */
#content_footer.sf2015 .fe-footer-row#sitemap {
	width: 100% !important;
	padding: 15px 0 5px;
	border-top: 1px solid #dddddd;
	box-shadow: inset 0px 1px 0px 0px #353333;
	border-left: none;
	border-right: none;
	border-bottom: none;
	background: none;
	background-image: none; /* Änderung 07.10.2015: background-image zusätzlich auf
	none */
}

#content_footer.sf2015 .fe-footer-row#sitemap a:hover {
    color: #009661;
    text-decoration: underline;
}

/* Änderung 07.10.2015: Zusätzlich benötigte Styles für Seo hinzufgefügt */
#content_footer.sf2015 #seo-text {
	background: none;
	background-image: none;
	padding-right: 0;
	padding-left: 0;
	width: auto;
}
#content_footer.sf2015 #seo-text h1,
#content_footer.sf2015 #seo-text h2,
#content_footer.sf2015 #seo-text h3 {
	text-transform: uppercase;
	font-family:  deichmannlight, Arial, Helvetica;
	font-size: 14px !important;
	color: #515151 !important ;
	font-weight: normal !important;
	padding-top: 6px ;
}

/* +++++ ENDE styles für neuen Rebrush-Footer  +++++ */

/* **** Styles die aus dem alten Footer behalten werden müssen  ****** */
#footer_slider_container{
	width: 942px;
	text-align: center;
	position: absolute;
	z-index: 100;
	background-color: transparent !important;
}

#footer_slider_container div#footer_slider span{
	text-transform: uppercase;
	font-family:  deichmannlight, Arial, Helvetica;
	font-size: 14px;
	color: #515151;
	background-color: #f5f5f5;
	padding: 10px 10px 16px 10px;
	margin: 0;
	line-height: 2;
	white-space: nowrap;
}
#content_footer div#sitemap .sitemap-col{
	width: 141px;
	margin-right: 8px;
	padding: 4px;
	float: left;
	color: #9e9e9e;
	min-height: 100px;
}
#content_footer div#metanavigation {
    border-top: 1px dotted #999999;
    font-family: deichmannmedium,Arial,Helvetica;
    padding-top: 5px;
    text-align: right;
}
#content_footer div#metanavigation a.first {
    border-left: 0 none;
}
#content_footer div#metanavigation a {
    border-left: 1px solid #9d9d9d;
    color: #7a7a7a;
    font-size: 11px;
    padding: 0 8px;
}
/* **** ENDE Styles die aus dem alten Footer behalten werden müssen  ****** */

#content {
    padding-bottom: 20px;
}

/* DEICHMANN-7488: Catalogbrowsing
------------------------------------------------------------------ */
.ext-content #landingPage_teaser,
.ext-content .platzhaltermenu {
	float: left;
}
.ext-content #landingPage_teaser .row {
	float: left;
	margin-top: 25px;
}
.ext-content .landingTeaser {
	float: left;
	margin-left: 20px;
	overflow: hidden;
}
.ext-content .landingTeaser:first-child {
	margin-left: 0;
}
.ext-content .landingTeaser.single-teaser {
	width: 225px;
}
.ext-content .landingTeaser.double-teaser {
	width: 470px;
}
.ext-content .landingTeaser.triple-teaser {
	width: 715px;
}
.ext-content .landingTeaser.quad-teaser {
	width: 960px;
}

/*Schriftgröße NewsletterPopUp & rightcol-FAQs, AGBs - Mail Kemper 25.11.*/

.home-layer.default #newsletter-left span {
    text-align: left;
    float: left;
    padding: 8px 30px 0 30px;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;   
}

/*Newsflash*/
.newsflash.open .newsflash_trigger {
    background: url(/AT/de/shop/content/img/newsflash/newsflash_close.png) no-repeat scroll left top transparent;
}

.newsflash .w240{
	margin-top: -8px;
}

.newsflash.module .topline{
	font-size: 13px;
	margin-bottom: 4px;
}

.newsflash h3 {
	font-size: 11px;
	padding: 0px 0px -1px;
}

/*SEO-Styles - Mail Neumann 17.11.*/
#seo-text,
#seo-text * {
    text-indent:-100000px;
    height: 0;
}

#seo-text.no-seo-style,
#seo-text.no-seo-style * {
    text-indent: 0;
    height: auto;
}
/* End DEICHMANN-7488: Catalogbrowsing
	
/* Fix Crossselling Econda widget */
div.CROSSSELLING { width: 100% }
/* /Fix Crossselling Econda widget */

/*SlickSlider*/

.large_slider .slider_title{
	font-size: 22px;
	color: black;
	text-align: center;
	line-height: 45px;
	
	line-height: 35px;
	height:10px;
	
}

.large_slick{
	/*height: 255px !important; */
	margin-bottom: 0px !important;
	
	padding-top: 40px;
}

.large_slick img{
	border: 1px solid grey;
}

.large_slick .slick_area {
	background: rgba(255, 255, 255, 1.00) none repeat scroll 0 0;
	font-size: 22px;
	line-height: 69px;
	position: relative;
	text-align: center;
	color: black;
	left: 1px;
	bottom: 72px;
	width: 230px;
	height: 71px;
}

.large_slick .slick-dots{
	bottom: 0px !important;
}

.large_slick .slick-dots li button::before{
	font-size: 10px !important;
}

.large_slick .slick-prev.slick-prev,
.large_slick .slick-next.slick-next{
	margin-top: -22px !important;
	
	margin-right: 3px;
	margin-left: 1px; 
}

.slick-slide a:hover{
	text-decoration: none;
}

/*END SlickSlider*/

/*Gewinnspiel*/

#myFormDiv form .senden {
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 11px;
    height: 19px;
    margin: 0 20px 10px 0;
    padding-right: 1px;
    text-align: center;
    width: auto;
}

#myFormDiv .button {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 19px;
    padding-right: 1px;
    text-align: center;
}

#myFormDiv form .senden span {
    background: transparent url("img/button_bg_big.jpg") no-repeat scroll left top;
    color: white;
    display: inline-block;
    padding: 2px 12px 5px 22px;
}

/*Shopheader-PopUps*/

/*return*/
#return .return_popup_content{
	font-family: Arial,​Helvetica,​san-serif;
	background: white;
	border: 1px solid #c8c8c8;
	display:none;
	left:0%;
	margin-top: -12px;
	padding: 15px;
	position: absolute;
	text-align: left;
	top: 30%;
	z-index: 11111;
	font-size:11px;
	line-height:14px;
	width: 260px;
}
#return .return_popup_content h2{
	font-family: Arial,​Helvetica,​san-serif;
	line-height:14px;
	margin-bottom:8px;
}

/*delivery*/
#delivery .delivery_popup_content{
	font-family: Arial,​Helvetica,​san-serif;
	background: white;
	border: 1px solid #c8c8c8;
	display:none;
	left:40%;
	margin-top: -12px;
	padding: 15px;
	position: absolute;
	text-align: left;
	top: 30%;
	z-index: 11111;
	font-size:11px;
	line-height:14px;
	width: 260px;
}
#delivery .delivery_popup_content h2{
	font-family: Arial,​Helvetica,​san-serif;
	line-height:14px;
	margin-bottom:8px;
}

/*hotline*/
#hotline .hotline_popup_content{
	font-family: Arial,​Helvetica,​san-serif;
	background: white;
	border: 1px solid #c8c8c8;
	display:none;
	left:75%;
	margin-top: -12px;
	padding: 15px;
	position: absolute;
	text-align: left;
	top: 30%;
	z-index: 11111;
	font-size:11px;
	line-height:14px;
	width: 260px;
}
#hotline .hotline_popup_content h2{
	font-family: Arial,​Helvetica,​san-serif;
	line-height:14px;
	margin-bottom:8px;
}

#return  .popup-close,
#delivery  .popup-close,
#hotline  .popup-close {
    background: #fff url("//www.deichmann.com/DE/de/shop/img/common/forms/tooltip-close.png") no-repeat scroll center center;
	display: block;
    height: 10px;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 10px;
}

/*ENDE Shopheader-PopUps*/

/******AGB,FAQ,Impressum Redesign********/

#content.cms-content h2.headline_bar{
    font-family: deichmannlight,Arial,Helvetica,sans-serif;
    font-size: 14px !important;
    font-weight: normal !important;
    padding: 10px 0 4px;
    text-transform: uppercase;
	color: #515151 !important;
	margin: 11px 15px 20px -3px;
	padding-right: 14px;
	padding-left: 14px;
	line-height: 30px;
}
#content.cms-content h2.headline_bar,
#content.cms-content h3.headline_bar{
	background: #eaeaea none repeat scroll 0 0;
	
}
#content.cms-content h3.headline_bar,
#content.cms-content h3.headline_bar {
    font-family: deichmannlight,Arial,Helvetica,sans-serif;
    font-size: 12px !important;
    font-weight: normal !important;
    padding: 10px 0 4px;
	color: #515151 !important;
	margin: 11px 15px 20px -3px;
	padding-right: 14px;
	padding-left: 14px;
}
#content.cms-content  .ext-Impressum,
#content.cms-content  p{
	padding: 21px 20px 0 5px;
	margin-left: 8px;
}
#content.cms-content  .ext-Impressum p{
	padding: 0 0 0 0;
	margin-left: 0px;
	margin-top: 0px;
}
#content.cms-content  .ext-Impressum ul {
    margin: 11px 0;
}
#content.cms-content  .ext-Impressum li,
#content.cms-content  p,
#content.cms-content  a {
	font-size: 12px;
    padding-bottom: 5px;
	font-family: deichmannlight,​Arial,​Helvetica,sans-serif;
	line-height: 18px;
	margin-top: 0;
}
#content.cms-content p{
	margin-top: -13px;
}
#content.cms-content .ext-Impressum li a,
#content.cms-content p a{
    padding-bottom: 5px;
	font-family: deichmannlight,​Arial,​Helvetica,sans-serif;
	line-height: 18px;
}
#content.cms-content #top-link.mob{
	display:none;
}

/* NEUE TRENDS neues Design (Pascal) für DE CJ 04-04-2016 */
h2.trend-headline:after {
	left: 2px;
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  content: " ";
  background: #000; }

.trend-headline {
  font-family: deichmannregular, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
  background: #000;
  padding: 5px 20px 0;
  font-size: 20px;
  margin: 0 0 20px 0;
  font-weight: normal;
  display: inline-block;
  min-width: 200px; }

#trendblog_content.trendblog-teaser .text .content, #trendblog_content.trendblog-teaser .text .content a {
  color: #030000;
  font-size: 14px;
  line-height: 18px;
  font-family: deichmannregular, Arial, Helvetica, sans-serif; }

#trend-overview-content .trend-teaser .left, #trend-overview-content .trendblog-teaser .left, #trend-content .left,
#trend-overview-content .trend-teaser .right, #trend-overview-content .trendblog-teaser .right, #trend-content .right, #trend-stage .text {
  width: 50%;
  display: block;
  box-sizing: border-box; }

#trend-overview-content .trendblog-teaser .left {
  float: left; }

#trend-overview-content .trendblog-teaser .right {
  float: right; }

#trend-overview-content .trend-teaser p.cta {
  background: #000;
  color: white;
  display: inline-block;
  padding: 3px 20px 1px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px; }

#trend-overview-content .trend-teaser p.cta:after {
  margin-left: 5px;
  vertical-align: middle;
  content: ">>"; }

#trend-overview-content .trendblog-teaser h3 {
  font-family: deichmannlight, Arial, Helvetica, sans-serif;
  font-size: 26px;
  line-height: 32px;
  color: #030000;
  padding-bottom: 10px; }

#trend-overview-content .trendblog-teaser .text {
  padding: 0 10px;
  color: #030000;
  font-family: deichmannlight, Arial, Helvetica, sans-serif;
  font-size: 16px; }

#trend-overview-content .trendblog-teaser img {
  width: 478px;
  padding-bottom: 10px; }

.trend-thumb a {
	
	text-align: center;s
	display: block; }

.trend-thumb {
  margin-bottom: 20px;
  position: relative; }

.trend-button {
  z-index: 50;
  height: 44px;
  width: 252px;
  border: 1px solid white;
  background: rgba(180, 180, 180, 0.4);
  color: white;
  position: absolute;
  bottom: 15px;
  left: 27px;}

.trend-button span {
  font-size: 22px;
  display: inline-block;
  bottom: 0; }

/* ENDE NEUE TRENDS neues Design (Pascal) für DE CJ 04-04-2016 */


